[2020-02-24 16:00] ChristopherMcAvoy-Stepan opened #48785 "What is the URL to use to send a Logout request via SAML?"
I am using Adobe Experience Manager (AEM) as the Service Provider and Azure AD B2C as the IDP. What is the URL to enter into AEM to request a user Logout?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1376f79b-474f-4b83-2583-07acd2eeb2f4
* Version Independent ID: 45d314dd-c9fa-50a5-cb39-d34db80c7874
* Content: [Config

[2020-02-24 16:00] corygehr commented on #48370
Want to clarify - I found an issue in our tooling which removed the script output. However, the main issue with the output status code not being clear still exists. I cannot clearly tell whether the script actually ran properly on a Linux VM without parsing the output.

If the script has a return code != 0, it should throw a FAILED status. This should at least be clear in the docs.

[2020-02-24 16:08] bmukes commented on #48681
I received the following letter from Microsoft Tech support this AM.  Please close this issue.

Hi Brian,
Thanks for your update. We are so sorry for the inconvenience. There was an error in the script which builds the cloud shell image. Helm released 2.16.3 more recently than 3.1 and the build script picked that up as the 'latest' release, causing the inadvertent downgrade. As helm v3 does not re

[2020-02-24 16:08] #48681 closed

[2020-02-24 16:09] bmukes commented on #48681
I received the following letter from Microsoft Tech Support this AM so please close this Issue.

Hi Brian,
Thanks for your update. We are so sorry for the inconvenience. There was an error in the script which builds the cloud shell image. Helm released 2.16.3 more recently than 3.1 and the build script picked that up as the 'latest' release, causing the inadvertent downgrade. As helm v3 does not r

[2020-02-24 16:10] bmukes commented on #48675
I received the following letter from Microsoft Tech Support this AM so please close this issue.

Hi Brian,
Thanks for your update. We are so sorry for the inconvenience. There was an error in the script which builds the cloud shell image. Helm released 2.16.3 more recently than 3.1 and the build script picked that up as the 'latest' release, causing the inadvertent downgrade. As helm v3 does not r

[2020-02-24 16:12] telmosampaio opened #48786 "Hard to comprehend #loadbalancer #availabilityzones"
THe following extracts are from [SLB and AZ](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-availability-zones):

"Zone-redundant can provide a simplicity with a zone-agnostic option and at the same time resilient option with a single IP address for the service. It can reduce complexity in turn." - I am unsure what the writer meant here. It looks like a word salad.

"T

[2020-02-24 16:12] devsmartshah commented on #34827
Hi there I am unable to connect to view the Query Editor. I have added the Rules according to the documentation. And I am using the local account to access the Query Editor. It keeps throwing a firewall/proxy error

[2020-02-24 16:14] seskid opened #48787 "Function app listing"
The deploy a function app to azure functions template doesn't appear to exist anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab62930-d35d-d6d3-8bb7-2ed6b34636bb
* Version Independent ID: 86725233-d4a5-a796-cd6e-c05c3675952b
* Content: [Continuously update function app code using Azure DevOps](https://docs.mic

[2020-02-24 16:16] Anshulsv opened #48788 "Allow Power BI to access Azure SQL without enabling "Allow access to Azure Services""
As per @rohitnayakmsft's comment on #37077, Power BI service cannot access Azure SQL if "Allow access to Azure services" is not enabled. What is the alternative for that?

[2020-02-24 16:19] vishalaj1 commented on #47877
FQDN is same as the main endpoint. How does it differ since we cannot differ FQDN.

[2020-02-24 16:26] schellem commented on #48495
The prerequisites section is pretty clear

*	Install Git
*	Install .NET Core

If there are other things need why they not be mentioned here? I’m trying to learn Core and when you put out simple getting started tutorials they should work.

From: SnehaAgrawal-MSFT [mailto:notifications@github.com]
Sent: Monday, February 24, 2020 10:53 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
C

[2020-02-24 16:28] theheatDK commented on #47877
Not sure I understand. If you access is from inside Azure you can create Private DNS zone. If it is from on-premise you can add an entry to the local hosts file or create an entry in you dns server.

[2020-02-24 16:35] vishalaj1 commented on #47877
Hi,

Thanks for prompt response ! we are accessing from on prem network through express route. We will make the entry and try that.

Regards,
Vishal

[2020-02-24 16:35] arcotek-ltd opened #48789 "Why does a device need to be join to on-premise AD first?"
Surely, the whole purpose of joining a device to AAD is to remove the dependency on on-premise AD? Therefore, in the Prerequisites section why do you say:
"Verify that Azure AD Connect has synced the computer objects of the devices you want to be hybrid Azure AD joined to Azure AD"?

I understand this to mean I have to join my Windows 10 (1909) device to on-premise AD before AAD so AAD Connect can

[2020-02-24 16:36] mamccrea commented on #48575
Hi @danielurbina  - I have made the update. It will be live soon. Please let us know if you have any additional feedback.

#please-close

[2020-02-24 16:36] #48575 closed

[2020-02-24 16:40] arcotek-ltd opened #48790 "Include steps when the device fails to join"
Hi,

It appears you are documenting troubleshooting steps when a device has partially joined AAD, however, there is no mention of how to deal with devices when they don't get that far.

[code]

None of the error messages you've documented relate to my issue.

TIA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f81d74-

[2020-02-24 16:42] AshokPeddakotla-MSFT commented on #48475
@Alberto2K You need to update the Azure IoT extension for Azure CLI to run the commands. Please use **az extension add --name azure-cli-iot-ext** command to add extension and use **az extension update --name azure-cli-iot-ext** to update if you have already installed.

Please note that the pre-requites section still needs to be updated in the Lab which you are following.

by following this doc : h

[2020-02-24 16:42] #48475 closed

[2020-02-24 16:42] KumudD commented on #38900
#reassign: jispar

[2020-02-24 16:43] EricForgy commented on #41317
Hi,

I need help with this too. I purchased a wildcrad certificate via Azure and I can export a .pfx file, but not sure how to use that to create a secret. What is the right way to proceed here? Is there a way to directly bind my certificate to the ingress controller?

Thank you.

[2020-02-24 16:46] mamccrea commented on #48363
Hi @slopezv2 - this is mentioned in the first step of this section: https://docs.microsoft.com/en-us/azure/databricks/security/secrets/secret-scopes#--create-an-azure-key-vault-backed-secret-scope

![image](https://user-images.githubusercontent.com/38858737/75172475-9035c380-56ea-11ea-96c8-a1a72198775a.png)

[2020-02-24 16:51] KumudD commented on #14539
#reassign: allegradomel

[2020-02-24 16:51] PRMerger18 commented on #14539
GitHub user jimdial has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-02-24 16:51] arcotek-ltd opened #48791 "Add a state where device is not domain, enterprise or AAD joined"
Please add a state along with possible troubleshooting to deal with a brand new device that is neither AAD or domain joined and won't join.
[code]

When joining, results in:
[code]

All your help doco assumes the device is partially joined.

TIA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b4f913c-1b09-1679-a69e-296

[2020-02-24 16:54] slopezv2 commented on #48363
Oh I did not see it before, thanks

[2020-02-24 16:54] #48363 closed

[2020-02-24 16:54] slopezv2 commented on #48363
Doubt cleared

[2020-02-24 16:57] mamccrea commented on #48345
Hi @mganeshphani - that is correct, you can provide CIDR ranges up to /26, that is less than or equal to /26. A range of /20 is used an example.

![image](https://user-images.githubusercontent.com/38858737/75173346-fb33ca00-56eb-11ea-988d-46329cdb39a8.png)

[2020-02-24 16:57] mamccrea commented on #48232
@ChiragMishra-MSFT, @annashres has responded to this issue.

[2020-02-24 16:59] mamccrea commented on #48566
Hi @Connell1! Before you can use the Token API To generate new tokens, you must first create a personal token using the UI to authenticate to the API. After you've authenticated, you can use the API to generate new tokens without using the UI.

[2020-02-24 17:02] KumudD commented on #9463
#reassign: allegradomel

[2020-02-24 17:04] KumudD commented on #23293
#reassign: allegradomel

[2020-02-24 17:04] PRMerger6 commented on #23293
GitHub user jimdial has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-02-24 17:06] KumudD commented on #25676
#reassign: anupamvi

[2020-02-24 17:06] bsocca opened #48792 "Details on silent SSO"
Hello,
In the document you indicate : "Users also get a silent sign-on experience if an application (for example, https://contoso.sharepoint.com) sends sign-in requests to Azure AD's endpoints set up as tenants - that is, https://login.microsoftonline.com/contoso.com/&lt;..&gt; or https://login.microsoftonline.com/&lt;tenant_ID&gt;/&lt;..&gt;"
==&gt; Could you give some more precisations about the

[2020-02-24 17:06] KumudD commented on #26210
#reassign: allegradomel

[2020-02-24 17:06] PRMerger7 commented on #26210
GitHub user jimdial has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-02-24 17:07] KumudD commented on #28053
#reassign: allegradomel

[2020-02-24 17:08] KumudD commented on #29096
#reassign: allegradomel

[2020-02-24 17:08] harrypraneeth opened #48793 "Notebook Link Broken"
I see that the git hub link you have for the python example notebook is broken and it redirects to a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593eef63-77bf-caa5-34ac-a82940997373
* Version Independent ID: 845716a1-733e-fe82-8ecf-344858d2f206
* Content: [Analyze and monitor for data drift on datasets (p

[2020-02-24 17:10] mamccrea commented on #47863
I hope I have answered your question, @alapinsk. If you have any additional feedback, please reopen this issue.

#please-close

[2020-02-24 17:10] #47863 closed

[2020-02-24 17:17] mmacy commented on #48783
Thanks @TheJVaughan! Fixing now.

#reassign:mmacy

[2020-02-24 17:17] mamccrea commented on #48025
I have fixed this issue and it should be live soon. Thanks again for your feedback. #please-close

[2020-02-24 17:17] #48025 closed

[2020-02-24 17:24] sahilpnckr123 opened #48794 "Proxy Configuration"
Hello Team,

Can someone give an example for configuration for applications behind a proxy?

I could not find a Syntax with PROXY in the Powershell ISE for enabling Application Insights Monitoring.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e5b161-ef9e-41a7-8eff-14202a9556f6
* Version Independent ID: 90a657f8-a6c

[2020-02-24 17:26] mamccrea commented on #47752
Hi @dcbrown16  and @CharmanderJieniJieni - I have opened a ticket internally to address your questions.

[2020-02-24 17:26] tfitzmac commented on #48131
As long as you set the mode to Indexed, the policy is only applied to resources that support tags. Here is [more information](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#mode).

[2020-02-24 17:26] tfitzmac commented on #48131
#please-close

[2020-02-24 17:26] #48131 closed

[2020-02-24 17:29] HeidiSteen commented on #36634
Hi @drhumlen, you can filter on numeric data:  https://docs.microsoft.com/en-us/azure/search/search-filters#numeric-filter-fundamentals

You just can't use search.in on a numeric field.  Does this help?

[2020-02-24 17:29] mamccrea commented on #47659
Thanks for you feedback @isamllr. I have added this doc update to our backlog, but I do not have a timeline for when it will be complete. I will try to respond here once the doc has been updated.

#please-close

[2020-02-24 17:29] #47659 closed

[2020-02-24 17:29] simratsatia opened #48795 "Spelling errors in section: Use a pointer to a secret uploaded into a key vault"
As per documentation:
"
declare $resourceGroupName = "testRG"
declare $parameterFilePath="c:\mytemplates\mytemplate.json"
declare $templateFilePath="c:\mytemplates\mytemplateparm.json"
declare $secertId="https://test1.vault.azure.net:443/secrets/testcertificate4/55ec7c4dc61a462bbc645ffc9b4b225f"

az sf cluster create --resource-group $resourceGroupName --location $resourceGroupLocation  \
	--secre

[2020-02-24 17:30] anavinahar opened #48796 "Follow up from customer feedback"
Remove availability set references for Standard Load Balancer (176554754)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96406ce-2ffc-cdb3-1234-5154ccd5cc76
* Version Independent ID: f840a092-e1bf-16e2-1916-4270cdfbbcdd
* Content: [Outbound connections in Azure - Azure Load Balancer](https://docs.microsoft.com/en-us/a

[2020-02-24 17:31] mamccrea commented on #47405
I hope this has answered your question. If you have any additional feedback, please reopen this issue.

#please-close

[2020-02-24 17:31] #47405 closed

[2020-02-24 17:32] mamccrea commented on #46084
Thanks @craigjar!

#please-close

[2020-02-24 17:32] #46084 closed

[2020-02-24 17:36] SamaraSoucy-MSFT commented on #48794
Hi @sahilpnckr123

I do believe we do have some documentation for that scenario. I will look into it and get back with you shortly.

[2020-02-24 17:46] yoelhor commented on #48785
Azure AD B2C logout URI appears in your metadata. Please see [this section](https://docs.microsoft.com/en-us/azure/active-directory-b2c/connect-with-saml-service-providers#32-upload-and-test-your-policy-metadata). I'll update the doc to include this information

[2020-02-24 17:49] SaurabhSharma-MSFT commented on #46777
@ChrisSommers Apologies for the delay. Based on internal discussion it looks like it is a requirement to have an inbound rule where we allow traffic from firewall private IPs on the NSG which is infront of the VM due to Azure Firewall doing SNAT.
Please refer to the documentation provided [here](https://docs.microsoft.com/en-us/azure/firewall/overview#known-issues).

[2020-02-24 17:51] cherylmc commented on #48349
#assign:anzaman @anzaman - can you help with this? I can add this as a doc bug.

[2020-02-24 17:51] craigktreasure commented on #48690
@mhussar Can you give us more information? What version of Visual Studio are you using? Is it up to date? Are you able to see the Publishing wizard at all or is it failing to open the Publishing wizard?

[2020-02-24 17:52] #45480 closed

[2020-02-24 17:53] ChristopherMcAvoy-Stepan commented on #48785
I see this in our SAML Metadata, but it doesn't seem to do anything when
we try to use it.

https://{TENANT}.b2clogin.com/{TENANT}.onmicrosoft.com/B2C_1A_{SAML_POLICY_NAME}/samlp/sso/logout

From:   "Yoel Horvitz" <notifications@github.com>
To:     "MicrosoftDocs/azure-docs" <azure-docs@noreply.github.com>
Cc:     "ChristopherMcAvoy-Stepan" <cmcavoy@stepan.com>, "Author"
<author@noreply.github.com

[2020-02-24 17:57] cherylmc commented on #48349
I'll take this as a doc bug and we'll triage accordingly. Thanks! #please-close

[2020-02-24 17:57] #48349 closed

[2020-02-24 17:58] mpchen opened #48797 "'count' must be a positive integer no larger than 1000 ?"
I am using "count" in my policy and getting the error - "'count' must be a positive integer no larger than 1000". I donot see this documented. Also limiting "count" to 1000 seems very restrictive. For example, when counting security rules in a NSG, it could easily surpass 1000 (say port 1024-65535).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-02-24 17:58] #48785 closed

[2020-02-24 18:01] AjayKumar-MSFT commented on #48513
The certificate thumbprint is a unique identifier used to identify a certificate. This [blog](https://www.thesslstore.com/blog/ssl-certificate-still-sha-1-thumbprint/) is a good starting point on this topic. The important part is how the data is encrypted. TLS Mutual Auth provides certificate validation before HTTP communication starts, and it involves CA validation. Hope this helps!
Kindly let us

[2020-02-24 18:02] DCtheGeek commented on #48797
#assign:DCtheGeek

[2020-02-24 18:04] DCtheGeek commented on #48797
@mpchen Thanks for the question. Can you help me understand your use of count and provide just the [count](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure#count) portion of the rule in your policy definition?

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress

[2020-02-24 18:04] #48702 closed

[2020-02-24 18:06] AjayKumar-MSFT commented on #48530
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-02-24 18:06] #48530 closed

[2020-02-24 18:06] mikebudzynski commented on #48769
Please, refer to https://aka.ms/apimdevops for DevOps guidelines and tooling

[2020-02-24 18:08] ChristopherMcAvoy-Stepan commented on #48785
I see this in our SAML Metadata, but it doesn't seem to do anything when we try to use it. https://{TENANT}.b2clogin.com/{TENANT}.onmicrosoft.com/B2C_1A_{SAML_POLICY_NAME}/samlp/sso/logout

Is there anything that needs to be added to the custom policies to allow logout? I just used the ones listed in the article.

[2020-02-24 18:08] SamaraSoucy-MSFT commented on #48650
@Fulgan Thank you for the additional context. I'm going to assign this to the doc author to review.

The solution will likely be to add either a link to the App Services deployment content or add a new tutorial for that scenario. Quickstarts are designed to be very minimal as this one is, whereas a tutorial would go through a full POC like what you are describing.

[2020-02-24 18:09] SaurabhSharma-MSFT commented on #48776
@andrePKI Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-24 18:10] ticianaciminari opened #48798 "Heading 5, Issuer"
@rpeters-gom commented on [Sat Feb 22 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/626)

I think in heading 5
Issuer: https://tenant-name.onmicrosoft.com/policy-name

should be
Issuer: https://tenant-name.b2clogin.com/tenant-name.onmicrosoft.com/policy-name

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum G

[2020-02-24 18:10] SaurabhSharma-MSFT commented on #48477
@WiseOldHowell We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-24 18:10] #48477 closed

[2020-02-24 18:11] ticianaciminari commented on #48798
Hi Team,

Could you please check the comment above from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-24 18:13] SumanthMarigowda-MSFT commented on #48525
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-24 18:15] ticianaciminari opened #48799 "Full scope policy does not work for undefined APIs"
@lesmin-sk commented on [Mon Feb 24 2020](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/1082)

If you define a policy as a full scope policy,
403 Forbidden error is returned when accessing the API in the illegal IP address band.

However, for an undefined API, when accessing from an illegal IP address band,
404 Not Found error is returned instead of 403 Forbidden.

The expected behavior

[2020-02-24 18:16] FrankHu-MSFT commented on #48746
@bherrsk  thanks for letting us know about this, I've gone ahead and am going to make the text block a note. Please let us know if there are any other concerns otherwise i'll be closing this out by end of day today.

[2020-02-24 18:17] ticianaciminari commented on #48799
Hi Team,

Could you please check comment above from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-24 18:18] sonalinoolkar opened #48800 "Unable to execute replication between two managed instances."
[Enter feedback here]
When I try to test the linked server connection "repl_distributor", I am getting below error:
Server 'repl_distributor' is not configured for DATA ACCESS. (Microsoft SQL Server, Error: 7411)

If I try to manually update the sys.servers for the attribute is_data_access_enabled =1, I get error that on managed instances, the system databases cannot be updated.
Please help.

---

[2020-02-24 18:19] CesarSolis opened #48801 "Need Python SDK Sample for VM Extensions"
- Add Extension (Custom Script Extension, etc.) and get the result of the deployment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef185ad-d91d-cfa2-e9f9-a2430a7cc37d
* Version Independent ID: 2fc1caf2-65d5-2bfb-79e7-13d46a02b6e6
* Content: [Create and manage a Windows VM in Azure using Python - Azure Windows Virtua

[2020-02-24 18:19] roygara commented on #47962
@Annix83 Thanks for reaching out, the unit in the doc is correct. It is MiB/s, not MB/s.

As far as why your numbers are lower, I can't help there. But I can give some additional info that may be relevant: Bandwidth = IOPS size * IO size, both IOPS and the IO are throttled. You might be hitting one of the other limits before you're hitting the bandwidth limit. But that's only speculation.

I'd rec

[2020-02-24 18:19] #47962 closed

[2020-02-24 18:21] alex-mason-jdas opened #48802 "Accurate templates?"
The templates here don't seem to match the AzureBlue ones referenced in the GitHub sample custom policies. I want to be sure they are the same. Can that be confirmed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84aabaf3-e7da-3519-995c-72d36c537843
* Version Independent ID: b35afa8d-a02c-a77a-6831-2b3f6a6c1a7d
* Cont

[2020-02-24 18:22] mpchen commented on #48797
I am using "count" the way similar to the built in policy - https://github.com/Azure/azure-policy/blob/master/built-in-policies/policyDefinitions/Network/NetworkSecurityGroup_SSHAccess_Audit.json.

Note that I am also getting the same error with the above built-in policy when using destination port ranges 1024-65535 in a security rule.

[2020-02-24 18:22] bandersmsft commented on #48781
@drmonroe Thanks for noting. We have a number of articles that address using APIs to mange enterprise enrollments. Are you suggesting that we add a link in this article to https://docs.microsoft.com/azure/cost-management-billing/manage/ea-portal-rest-apis?

[2020-02-24 18:24] ticianaciminari opened #48803 "review of jumpbox ssh key generation missing and progress sequence error"
@zer0big commented on [Mon Feb 24 2020](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/1083)

In the course of the lab, I noticed that the ssh-keygen content in the jumpbox was missing and the work order was reversed.

First of all, after deploying jumpbox, ssh to jumpbox and then ssh-keygen and the result should be reflected at the time of additional vmss deployment.
After doing this, i

[2020-02-24 18:24] MGoedtel commented on #48382
The screenshot and steps are incorrect and I will address this when I perform other edits/revisions to all of the Update Management documentation starting this week.  Thanks.  #please-close

[2020-02-24 18:24] #48382 closed

[2020-02-24 18:24] MarileeTurscak-MSFT commented on #48783
Thanks @mmacy ! Closing this out.

[2020-02-24 18:24] #48783 closed

[2020-02-24 18:25] ticianaciminari commented on #48803
Hi Team,

Could you please check comment above from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-24 18:27] BryanTrach-MSFT commented on #48640
@yashwanth-yenugu Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-24 18:27] #48640 closed

[2020-02-24 18:29] ticianaciminari opened #48804 "Release path not valid"
@MichaKnoe commented on [Mon Feb 24 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/627)

The given release path seems to be not valid anymore:
"https://github.com/istio/istio/releases/download/$ISTIO_VERSION/istio-$ISTIO_VERSION-linux.tar.gz"

Documentation needs to be updated I guess.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung v

[2020-02-24 18:30] ticianaciminari commented on #48804
Hi Team,

Could you please check comment above from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-24 18:32] MGoedtel commented on #48033
I've got this article flagged for rewrite starting this week as part of an overall effort I have to review/rewrite the Update Management content.  Several inaccuracies in this doc will be addressed.  Thanks for bringing this to our attention.  #please-close.

[2020-02-24 18:33] #48033 closed

[2020-02-24 18:39] BryanTrach-MSFT commented on #48658
@hew85 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-24 18:40] MartinJaffer-MSFT commented on #48438
I'm afraid only @djpmsft  can answer whether it is on the agenda, however you can suggest / upvote for such a feature in the [feedback forum](https://feedback.azure.com/forums/270578-azure-data-factory).

Until such time as the feature is available, I can help you come up with a pipeline mechanic to make such retries easier.  I.E. capturing the parameters on fail for retry later.

[2020-02-24 18:40] #48660 closed

[2020-02-24 18:41] BryanTrach-MSFT commented on #48670
@jspiersvalorem Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-24 18:41] YutongTie-MSFT commented on #48793
@harrypraneeth
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-24 18:44] jspiersvalorem commented on #48670
@BryanTrach-MSFT  Sorry! this is the URL instructions I'm trying to follow to assign PAL https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/link-partner-id.

Getting an error saying our Partner ID isn't valid though when following instructions to link our account. We have used the Partner ID for years though and have no issue with it elsewhere.

[2020-02-24 18:45] YutongTie-MSFT commented on #48784
@jberezanski-mdg
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-24 18:46] YutongTie-MSFT commented on #48779
@Shelabd
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-24 18:46] SumanthMarigowda-MSFT commented on #48527
@Ayanmullick Firstly, apologies for the delay in responding here .
Just for clarification Have you refereed : Supported file formats and compression codecs https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-blob-storage

However I will assign this to author for more informtion

[2020-02-24 18:48] Noldiani opened #48805 "Get-NSGFlowLogReadBlock Example does not reference $blocklist Property correctly"
In the Example function 'Get-NSGFlowLogReadBlock', The mandatory parameter '$blocklist' created by the previous function will not work as it is written. To iterate through the $blocklist results properly, the object property has to be defined by specifying  "$blocklist.results" either in the mandatory function parameter or subsequent occurrences in the function.

I would also recommend supporting

[2020-02-24 18:49] SumanthMarigowda-MSFT commented on #48654
@Jayesh040 Rehydrating from the archive tier is inherently not a high-priority operation. The archive tier means the data is stored on offline media. This means it is not immediately accessible. Someone must mount the media to retrieve the actual data. I assume that you need to use the Cool tier if he needs faster access.

The article says this: "To read data in archive storage, you must first cha

[2020-02-24 18:56] MarileeTurscak-MSFT commented on #48652
@yashwanth-yenugu I do not believe that there is a public repository for this but I've assigned this issue to the content author, @mmacy , to confirm.

[2020-02-24 18:56] SumanthMarigowda-MSFT commented on #48422
@cuntoulishifu   Firstly, apologies for the delay in responding here
To clarify, are you asking only to copy the last modified times and such?
    We don't actually support copying only the file LMT at the moment

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2020-02-24 18:56] #48422 closed

[2020-02-24 19:02] SaurabhSharma-MSFT commented on #48774
@valentijnscholten Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-24 19:02] MicrosoftGuyJFlo commented on #48774
@valentijnscholten see the section [Conditional Access](https://docs.microsoft.com/azure/active-directory/fundamentals/concept-fundamentals-security-defaults#conditional-access) "You can use Conditional Access to configure policies similar to security defaults, but with more granularity including user exclusions, which are not available in security defaults."

[2020-02-24 19:03] MicrosoftGuyJFlo commented on #48774
#assign @MicrosoftGuyJFlo

[2020-02-24 19:03] DCtheGeek commented on #48797
@mpchen Thanks for the clarification. You aren't talking about policy definition `count` function, but the **count** parameter of the `range` function. I see you also have an open issue for this on the built-in definition in Azure/azure-policy#521. The author of the built-in has been notified.

As to the limitation of the **count** parameter on `range`, that would be in the [template functions](ht

[2020-02-24 19:04] SaurabhSharma-MSFT commented on #48778
@antixyz-max Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-24 19:04] BryanTrach-MSFT commented on #48716
@ITAELTCUK Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-24 19:04] #48716 closed

[2020-02-24 19:05] MicrosoftGuyJFlo commented on #48774
As is mentioned in the [blog post announcing this security defaults](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/introducing-security-defaults/ba-p/1061414)

"If you are a person who uses Conditional Access to manage your break glass accounts with terms of use controls, chooses MFA based on device compliance, or integrates Identity protection reports into your SIEM, you’

[2020-02-24 19:05] MicrosoftGuyJFlo commented on #48774
#please-close

[2020-02-24 19:05] #48774 closed

[2020-02-24 19:05] SaurabhSharma-MSFT commented on #48802
@alex-mason-jdas Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-24 19:06] AgSync-Aaron commented on #48713
I found further issues with the script. If there are multiple columns in the constraint, the script totally breaks. I don't have a complete fix for that yet.

[2020-02-24 19:06] SaurabhSharma-MSFT commented on #48798
@ticianaciminari Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-24 19:07] Ayanmullick commented on #48527
I found documentation about [file formats supported for hosting](https://docs.microsoft.com/en-us/azure/data-factory/supported-file-formats-and-compression-codecs). However, I couldn't find any documentation about file formats for browser loading and how to configure a storage account to enable browser loading of markdown files.

[2020-02-24 19:07] SaurabhSharma-MSFT commented on #48792
@bsocca Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-24 19:08] PKingRoch opened #48807 "PowerShell script doesn't have correct parameter"
Get-AzResource -ResourceGroupName &lt;sourceResourceGroupName&gt; | Format-list -wrap -Property ResourceId

Gives the following error in PowerShel:
A parameter cannot be found that matches parameter name 'wrap'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b69d95cf-9933-cc22-7167-45d5fcb7be86
* Version Independent ID

[2020-02-24 19:09] MicrosoftGuyJFlo commented on #48789
@arcotek-ltd This article is talking about hybrid Azure AD joined devices. Take a look at the following doc for information about [Azure AD joined devices](https://docs.microsoft.com/azure/active-directory/devices/azureadjoin-plan)

[2020-02-24 19:14] MicrosoftGuyJFlo commented on #48790
Looks like your device cant see a Domain Controller on-premises based on the message in your post.

[2020-02-24 19:16] mpchen commented on #48797
so the policy block is:

{
                          "count": {
                            "field": "Microsoft.Network/networkSecurityGroups/securityRules/destinationPortRanges[*]",
                            "where": {
                              "value": "[if(and(not(empty(first(field('Microsoft.Network/networkSecurityGroups/securityRules/destinationPortRanges[*]')))), contains(first(field('

[2020-02-24 19:16] drenergy opened #48808 "Join-AzStorageAccount"
Join-AzStorageAccount -Name is not a valid parameter, in the examples it is showing as -name, but this should be --StorageAccountName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba964be-3f77-d80c-f1a5-35bb1430bb8f
* Version Independent ID: fe70b11e-10fe-5a8c-1fad-b22a83693503
* Content: [Enable Active Directory aut

[2020-02-24 19:18] drenergy opened #48810 "Preview regions"
Please update the preview regions, it is not clear which regions are supported. Tried a few and with powershell command I only get Ensure-KerbKeyExists : Unable to generate a Kerberos key for storage account: bpswvdstoragetest.
This might be because the 'Azure Files Authentication with Active Directory' feature is not yet available in this
location (&lt;REGION&gt;).

---
#### Document Details

⚠ *

[2020-02-24 19:20] MGoedtel commented on #45815
We are in the process of updating all of the content to reference Az module cmdlets where applicable and apologize for this not getting done sooner.  Thanks for your patience and all these articles involved should be done shortly.  #please-close

[2020-02-24 19:20] #45815 closed

[2020-02-24 19:20] tfitzmac commented on #48797
I just double-checked the range function and I am not seeing a 1000 count limit. I can generate an array with more than 1000 elements.

[2020-02-24 19:23] paul-lorica opened #48811 "Is this compatible with .NET Standard or .NET Core."
Alot of the docmentation references .NET Framework. But will it work for .NET Standard as well?

I copied the sample code to my .NET Core project, and it seems to compile fine. Just not so sure if it will work properly.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f739b74-774b-5879-b613-e3eb62

[2020-02-24 19:23] DCtheGeek commented on #48797
@mpchen Looks like the best thing to do based on the information we have is to open a [support ticket[(https://azure.microsoft.com/support/create-ticket/). If support can identify the root cause of the issue, they'll let Tom or I know which doc needs to be updated.  Thanks for the question!

@MicrosoftDocs/azure-cxp-triage Please change label to 'product-issue' and #please-close.

[2020-02-24 19:23] #48797 closed

[2020-02-24 19:29] yoelhor commented on #48798
I'm checkin this issue

[2020-02-24 19:29] vladvino commented on #48799
All policies are applied after all matching scopes are identified. If matching scopes can't be identified (as in the case of undefined API) 404 is returned.

[2020-02-24 19:33] valentijnscholten commented on #48774
My question is about Security Defaults and not about conditional access. If a break glass account is not possible with Security Defaults, the best place to document would be here and not only in a blog post. The way azure handles MFA is far from straight forward.

[2020-02-24 19:33] himanshusinha-msft commented on #48720
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-02-24 19:34] himanshusinha-msft commented on #48345
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-02-24 19:40] arcotek-ltd commented on #48789
Hi @MicrosoftGuyJFlo ,
Thank you for your response.
I appreciate this is talking about hybrid AD. Maybe I haven't grasp the concept, but reading your documents, I understand hybrid AD to refer to a _type_ of configuration (mainly of AD Connect) that allows on-premise AD joined devices to join AAD _and_ allowing other devices (windows 10 / 2016+) to join AAD only, for the primary purpose of allowin

[2020-02-24 19:44] BharathNimmala-MSFT commented on #48354
@bingofingers Hope the above information helps. At this point it appears that there's no further edits/updates needed for the documentation and will go ahead and close this issue for now. However if you have any further queries please tag us in your reply and will be more than happy to reopen this thread and continue the conversation.

[2020-02-24 19:44] #48354 closed

[2020-02-24 19:45] HJToland3 commented on #48713
@AgSync-Aaron, I have a note out to the PMs on this and will respond as soon as possible.

[2020-02-24 19:46] joostm1 commented on #40486
That's supercool!

It is the intent of this case to reflect this in
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits

so that companies adopting Azure can make a plan on this.

Can this be done?

Thanks,
Joost

On Fri, Feb 21, 2020 at 7:28 PM Bill Anderson <notifications@github.com>
wrote:

[2020-02-24 19:48] anthonychu opened #48812 "Remove .NET version from the first table"
Having the .NET version in the first table is confusing to users of other languages. Suggest removing .NET Version column from the top table as it's already listed in the Languages section and also remove .NET from the sentence. // @ggailey777 @craigshoemaker

![image](https://user-images.githubusercontent.com/3982077/75186036-02fb6a80-56fc-11ea-8aa1-555ac6f24804.png)

---
#### Document Details

⚠

[2020-02-24 19:49] yoelhor commented on #48802
Yes it's the same one. BTW, User flow uses the same template with same name, and same folder.

![image](https://user-images.githubusercontent.com/20111866/75185735-46cb8f80-574f-11ea-9920-1429122a36df.png)

[2020-02-24 19:51] #48722 closed

[2020-02-24 19:51] tfitzmac commented on #40486
We already note that subscriptions per Azure Active Directory tenant are unlimited. @bandersmsft - with regards to terms, is there a difference between an "offering" and a "tenant"?

[2020-02-24 19:51] bandersmsft commented on #48283
@ticianaciminari I've updated the EN-US source for clarity with https://github.com/MicrosoftDocs/azure-docs-pr/pull/105325. Here's the revision to the article:  "If you cancel a reservation that's paid for monthly, Microsoft might apply a 12% cancellation fee to the cancelled committed payments. However, Microsoft isn’t currently charging the penalty. Cancelled committed payments accrue towards th

[2020-02-24 19:53] bandersmsft commented on #48283
#please-close

[2020-02-24 19:53] #48283 closed

[2020-02-24 20:07] artmasa opened #48813 "ServiceUrl as shown in step 2 does not allow to upload policy"
If I include this example in one of my policy files and try to upload it, it will fail saying that is invalid XML because of the '=' signs in the URL. How do we overcome this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eca211-d459-e761-3065-e460a4c58038
* Version Independent ID: 2e722ca5-4de8-3008-46e6-54174a872f

[2020-02-24 20:07] IEvangelist commented on #48029
Hi @RonaldvanMeer and @ghills,

The request form is now active again, thank you...  #please-close

[2020-02-24 20:07] #48029 closed

[2020-02-24 20:13] chwilfing opened #48815 "First PTA Agent on AAD Connect Server"
This FAQ states the first PTA Server needs to be the AAD Connect server. But the documentation to enable Staged rollout Feature (https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-staged-rollout ) explicitly states the installation of the first PTA Agent _needs to be_ on another Server than the AAD Connect server. I think this needs clarification as the statement on this

[2020-02-24 20:16] YutongTie-MSFT commented on #48381
@ticianaciminari Hi Tician, this is not a document issue but a product question. This error raises when:
This issue usually is caused by audio data. You might see this error because:

There's a long stretch of silence at the beginning of the audio. In that case, the service stops the recognition after a few seconds and returns InitialSilenceTimeout.

The audio uses an unsupported codec format, whi

[2020-02-24 20:16] #48381 closed

[2020-02-24 20:17] poortom1004 opened #48816 "Update the script"
You might want to update the script to use the AAD v2 PowerShell module, and provide a more meaningful and reusable script.  Something like this:
$dateThreshhold = (Get-Date).AddDays(-90)
Get-AzureADDevice -All $true | Where-Object -FilterScript {$_.ApproximateLastLogonTimeStamp -lt $dateThreshhold} | Remove-AzureADDeletedApplication

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-02-24 20:28] #48810 closed

[2020-02-24 20:32] benjamin-goldman opened #48817 "Deprecation notice"
New-AzApplicationGatewayBackendHttpSettings is getting deprecated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f20be92-7718-0629-e06a-78250c547f9a
* Version Independent ID: 2fdd52ab-6756-4e2c-4a48-3bf45f361310
* Content: [Configure SSL termination with Key Vault certificates - PowerShell - Azure Application Gateway]

[2020-02-24 20:33] #48808 closed

[2020-02-24 20:33] diberry opened #48818 "What does this page"
???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 598c4bd5-35e1-eb4a-40c1-8741749427d4
* Version Independent ID: 02b8b135-8072-a356-8cb7-a51396b634fb
* Content: [What is Personalizer? - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/personalizer/what-is-personalizer)
* Content Sour

[2020-02-24 20:34] dcvtruong opened #48819 "Failed with exit code '1'"
Error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163088fc-67d3-aa81-26e7-0155f3aaa90c
* Version Independent ID: fafceb81-d8fc-8c20-72e5-b2dddc445f73
* Content: [Use Terraform to create a complete Linux VM in Azure](https://docs.microsoft.com/en-us/azure/terraform/terraform-create-complete-vm#feedback)
* Con

[2020-02-24 20:35] #48734 closed

[2020-02-24 20:38] MarileeTurscak-MSFT commented on #48791
@arcotek-ltd what state are you looking for? The state is already showing as "No" for not joined.

[2020-02-24 20:41] SnehaGunda commented on #47352
@markjbrown I remember you built the initial version of stored procedure samples, can you please confirm that the parameters argument is now of type dynamic[] ?

[2020-02-24 20:48] yoelhor commented on #48813
I just checked following Service URI and didn't have any issue. But, sometimes the service url contains special XML characters, such as `&`, `>`, or `<`. In this case use the `&amp;`, `&gt;` or `&lt;`

[code]

The following table shows the invalid XML characters and their escaped equivalents.
| Invalid XML character | Replaced with |
|-----------------------|---------------|
| `<`

[2020-02-24 20:50] sluu-pdr commented on #48288
Yes I've assigned the static field values.
Is there supposed to be a specific format for it ? Our AD login is typically just an email is there some prefix that needs to be before or after that?
static public string AzureAD_UserID = "sluu@test.com";

[2020-02-24 20:50] arcotek-ltd commented on #48791
Hi @MarileeTurscak-MSFT,

I think I am rather confused over the differences between "Hybrid Azure AD Joined" and Azure AD Joined" devices.

I have a device that is not joined to either domain, however, I want it joined to AAD and be able to access resource on my on-premise AD domain, hence, I have been working on deploying "Hybrid AD Join", assuming this was the correct approach, however, it appea

[2020-02-24 20:52] skadeb87 commented on #48810
Is the region list up to date? It says East US is supported, but I get the following error for eastus:
Ensure-KerbKeyExists : Unable to generate a Kerberos key for storage account: storageacct.
This might be because the 'Azure Files Authentication with Active Directory' feature is not yet available in
this location (eastus)

[2020-02-24 20:55] joostm1 commented on #40486
*We already note that subscriptions per Azure Active Directory tenant are
unlimited.*

I see now and I didn’t know that.

For sure there are differences between offerings and tenant, like 1 trial
subscription per Microsoft account.

IMHO, not relevant for the context of this feedback.

I am more that happy with the "no limit per tenant" statement.

Kind regards,

Joost

*From:* Tom FitzMacken <not

[2020-02-24 20:57] YutongTie-MSFT commented on #48793
@harrypraneeth Hi, I just check this link and it works for me well. https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datadrift-tutorial/datadrift-tutorial.ipynb Could you please try this link again to see if it works ? Thank you!!!

[2020-02-24 20:57] valentijnscholten commented on #48774
ok, so I notice there is some info on the page. Not sure if it was there earlier, but on my mobile I couldn't access the documentation at all. All I get is a prompt to install an app that doesn't work or get redirected to microsoft.com. I also noticed the 8 or so other tickets around the same topic, so I'll just stop here then and hope for a better / easier solution for MFA in the future.

[2020-02-24 20:58] arcotek-ltd commented on #48790
Hi @MicrosoftGuyJFlo,

Thanks for your response.

As mentioned in #48791, I believe I haven't grasped the concepts between "Hybrid Azure AD Join" and "Azure AD Join". Either, I am stupid, along with lots of other people, or the documentation doesn't make the differences clear.

I even went through the whole WHfB selection spreadsheet, aiming for a hybrid, modern manged domain, which resulted in a

[2020-02-24 21:06] LuisBosquez commented on #48215
Hello @SamHard!

That library was the preview connector for the Gremlin server. We have now moved to embrace the support of the open-source connectors supported by Apache Tinkerpop.

To answer your question, due to a change in the architecture, there isn't an option to have queries be served in direct mode anymore. It just doesn't make sense anymore.

Thanks,
Luis

[2020-02-24 21:09] MicrosoftGuyJFlo commented on #48790
Details on device join differences can be found in the [What is device identity?](https://docs.microsoft.com/azure/active-directory/devices/overview#getting-devices-in-azure-ad) overview article at the top of the Table of Contents on the left side of the article. Feel free to reach out if you would like to chat further my email is in my profile.

[2020-02-24 21:12] KumariSupriya commented on #47992
#please-close This has been addressed

[2020-02-24 21:12] #47992 closed

[2020-02-24 21:14] MicrosoftGuyJFlo commented on #48774
@valentijnscholten Security defaults does not provide that ability as referenced in the document in the section of the doc labeled Conditional Access. What further information can I provide to give additional clarity around this capability?

[2020-02-24 21:17] MarileeTurscak-MSFT commented on #48714
Thanks @jmprieur ! Closing this out.

[2020-02-24 21:17] #48714 closed

[2020-02-24 21:21] ticianaciminari commented on #48381
@linkcoder FYI

[2020-02-24 21:22] ticianaciminari commented on #48283
@v-pethur FYI

[2020-02-24 21:25] Karishma-Tiwari-MSFT commented on #47908
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-24 21:25] #47908 closed

[2020-02-24 21:30] Karishma-Tiwari-MSFT commented on #46134
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-24 21:30] #46134 closed

[2020-02-24 21:32] YutongTie-MSFT commented on #48793
@harrypraneeth Great, seems it not redirects to the right place. I will fix it. Thanks !

[2020-02-24 21:36] brendonious8 opened #48822 "req.CreateResponse fails on .NET Core 3.0+"
Hey all!

I am working through this tutorial and found that the req.CreateResponse(HttpStatusCode.Ok, responseData) fails on .NET Core 3.0+ due to a recent upgrade from .NET Core 2.2 to .NET Core 3.0. Azure functions version is Function Runtime Version: 3.0.13107.

Tutorial here: https://docs.microsoft.com/en-us/azure/event-grid/receive-events

Found here : https://docs.microsoft.com/en-us/dotnet/

[2020-02-24 21:37] mmacy commented on #48652
Hi @yashwanth-yenugu, the source is not currently available. I'm checking with the team to get status on whether/when it might become available.

[2020-02-24 21:44] Karishma-Tiwari-MSFT commented on #46676
Persistent Volume can either be Azure Disk and Azure File. I believe in this case you are trying to use a PVC with a Deployment Object.

While this is supported, there is a limitation with the number of replica a deployment object can have. Since Azure Disk is a single POD volume (can only be attached to a single VM / Pod. Running 2 replica will cause the reported issue.

In AKS, the Default Stora

[2020-02-24 21:46] NavtejSaini-MSFT commented on #48287
Duplicate for https://github.com/MicrosoftDocs/azure-docs/issues/48288

[2020-02-24 21:48] nilsomega opened #48823 "Repavement of underlying VMs"
Hi,

Can you please advise on whether you are performing regular / continuous repavement of VMs used to run App Service and Functions? With repavement I am referring to https://builttoadapt.io/the-three-r-s-of-enterprise-security-rotate-repave-and-repair-f64f6d6ba29d.

Thanks,
Nils

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-02-24 21:50] xyh1 commented on #40670
@don4of4,

Your statement regarding `PutBlob` is not correct. It is a single atomic operation that creates a blob up to 256 MB in a single operation.

There are 2 main methods to create blobs (excluding copy):

1. [PutBlob](https://docs.microsoft.com/en-us/rest/api/storageservices/put-blob)
2, [PutBlock ](https://docs.microsoft.com/en-us/rest/api/storageservices/put-block)+ [PutBlockList](https://

[2020-02-24 21:53] MicrosoftGuyJFlo commented on #48789
There are two different constructs

Hybrid Azure AD join (Device joined to AD on-premises and Azure AD)
Azure AD join (Device joined to Azure AD only)

Hybrid is mainly useful when you want to continue to use on-premises constructs for managing your devices, are using down-level versions of Windows, where people sign in using DOMAIN\Username, and you have not moved to modern management constructs

[2020-02-24 22:00] yoelhor commented on #48730
Thanks for the feedback @dotnetgator. I checked this issue, when `MatchAtLeast` is omitted, the behavior is "Match All". I'm updating the doc and close the issue.

[2020-02-24 22:03] mike-urnun-msft commented on #48787
@seskid Thank you for your feedback! We will review and update as appropriate.

[2020-02-24 22:06] #48730 closed

[2020-02-24 22:07] mike-urnun-msft commented on #48812
@anthonychu Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-02-24 22:19] Mike-Ubezzi-MSFT commented on #48800
@sonalinoolkar Thank you for bringing this to our attention. Would it be possible to start with Step 6 - [Configure Distribution](https://docs.microsoft.com/en-us/azure/sql-database/replication-with-sql-database-managed-instance#6---configure-distribution).

[2020-02-24 22:20] jmprieur commented on #48714
PR merged. Thanks again for reporting @AKothana

[2020-02-24 22:24] jihu opened #48824 "Information about the future of V1?"
Considering the ridiculously high fixed costs for V1 compared to V2, we will use V1 in all our environments (we don't want to have different setups, with V2 only in prod). How long will V1 gateways be available and supported? This page really should mention that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-

[2020-02-24 22:24] Mike-Crowley commented on #35061
Does anyone have an update here? This connector is essentially useless without query data.

[2020-02-24 22:25] Mike-Ubezzi-MSFT commented on #48800
Followed by Step 7 - [Configure publisher to use distributor](https://docs.microsoft.com/en-us/azure/sql-database/replication-with-sql-database-managed-instance#7---configure-publisher-to-use-distributor) and Step 8 - [Create publication and subscriber](https://docs.microsoft.com/en-us/azure/sql-database/replication-with-sql-database-managed-instance#8---create-publication-and-subscriber), to ensu

[2020-02-24 22:29] #48552 closed

[2020-02-24 22:31] Karishma-Tiwari-MSFT commented on #48706
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-24 22:31] #48706 closed

[2020-02-24 22:33] Karishma-Tiwari-MSFT commented on #48767
Is this query answered?

[2020-02-24 22:33] skadeb87 opened #48825 "Kerberos key not found"
Ensure-KerbKeyExists : Unable to generate a Kerberos key for storage account: storageaccount.
This might be because the 'Azure Files Authentication with Active Directory' feature is not yet available in
this location (eastus)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba964be-3f77-d80c-f1a5-35bb1430bb8f
* Version

[2020-02-24 22:33] KranthiPakala-MSFT commented on #48484
@chriskim0101 I was able to reproduce your error and reaching out to internal engineering team to get more info on how to get through this error. Will keep you posted once I have an update from the team.

[2020-02-24 22:37] BharathNimmala-MSFT commented on #48823
@nilsomega Thank you for your question. Can you please share with us the URL of the Microsoft document that you are having issues with?

Please note that we scope issues on this repo to feedback related to the Microsoft Azure docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-24 22:38] nilsomega commented on #48823
Hi,

My inquiry pertains to the following document: https://docs.microsoft.com/en-us/azure/app-service/overview-patch-os-runtime

Thanks

[2020-02-24 22:39] HJToland3 commented on #48713
@AgSync-Aaron, we've rewritten the query to support schemas and individual columns within a constraint:

SELECT Q.table_name

    ,CONCAT('ALTER TABLE ', table_schema, '.', table_name, STRING_AGG(DISTINCT CONCAT(' DROP CONSTRAINT ', foreignkey), ','), ';') as DropQuery
    ,CONCAT('ALTER TABLE ', table_schema, '.', table_name, STRING_AGG(DISTINCT CONCAT(' ADD CONSTRAINT ', foreignkey, ' FOREIGN KE

[2020-02-24 22:39] dcvtruong commented on #48274
I followed the instruction from this article.  Got this error when running terraform plan or apply.  What am I doing wrong?

$ terraform plan
Error: "features": required field is not set

test.tf:
provider "azurerm" {
}
resource "azurerm_resource_group" "rg" {
        name = "testSandboxResourceGroup"
        location = "westeu"
}

[2020-02-24 22:41] BharathNimmala-MSFT commented on #48822
@brendonious8 Thank you for reaching out to us, our team will further look into this and get back to you at the earliest. Thanks

[2020-02-24 22:41] mumian commented on #47870
@mjrousos - we will close this ticket for now.  Please feel free to post any additional questions.

#please-close

[2020-02-24 22:41] #47870 closed

[2020-02-24 22:44] spar commented on #48630
@DixitArora-MSFT thanks for reaching out.  The example in doc doesn't work. I had no modified code, that's why i created this issue to make sure example provided are working.

[2020-02-24 22:45] BharathNimmala-MSFT commented on #48823
@nilsomega Thank you for sharing the documentation link, i have further assigned this issue to one of our SME's on this topic. They will further evaluate the query and get back to you at the earliest. Thanks

[2020-02-24 22:47] KranthiPakala-MSFT commented on #48606
@TaylorN15 Could you please share the exact error message that your are seeing? It would be great if you can share a screen print too.  Thanks.

[2020-02-24 22:52] tfitzmac commented on #48632
@cephalin or @ccompy - can you confirm the limits for App Service Environment described in this issue?

[2020-02-24 23:00] SnehaGunda commented on #48215
We are working on removing the "Microsoft.Azure.Graphs" namespace from the docs. So there wouldn't be any confusion.

[2020-02-24 23:02] SnehaGunda commented on #47352
Mark updated the doc in the above PR. The content will be live by EOD today, we will now close this issue.

#please-close

[2020-02-24 23:02] #47352 closed

[2020-02-24 23:04] paulbouwer commented on #48804
@MichaKnoe - as far as I can see from the latest 1.4.5 Istio [releases](https://github.com/istio/istio/releases/tag/1.4.5) in GitHub, the download link pattern still looks the same as the documentation.

Can you describe where you are seeing this change?

[2020-02-24 23:05] KranthiPakala-MSFT commented on #48606
Hi @TaylorN15  This looks like a limitation by design as discussed in another issue : #35449.

I would suggest you to please up-vote and/or comment on existing feature requests related to same in Azure Data Factory User voice forum.

Related feedback: [Persist global temporary tables between activities](https://feedback.azure.com/forums/270578-data-factory/suggestions/38287108-persist-global-tempo

[2020-02-24 23:08] MarileeTurscak-MSFT commented on #48698
Yes you can! Check out some of the extended documentation here for examples of how to use these together: http://download.microsoft.com/download/3/6/1/36187D50-A693-4547-848A-176F17AE1213/Deep%20Dive%20on%20Azure%20AD%20B2C%20Custom%20Policies/Azure%20AD%20B2C%20Custom%20Policies%20-%20Bring-your-own-identity%20and%20Migrating%20Users.pdf

If you have further questions feel free to reach out to us

[2020-02-24 23:08] #48698 closed

[2020-02-24 23:09] NickDarvey opened #48827 "Streaming changes to alert state?"
Is there a way to get notified of alert state changes? Perhaps via something like Event Grid?

The use case is being able to update notifications in external systems when someone is looking into them.
E.g. We send alerts to Slack (via a Logic App action), I'd like to update the message when someone has acknowledged it or closed it so others in the channel know it's s been taken care of.

---
####

[2020-02-24 23:11] TaylorN15 commented on #48606
@KranthiPakala-MSFT, thanks. I had already found that UserVoice post, my issue was that there are screenshots and documentation in the link I mentioned, that tells you that it _is_ possible, although it's not.

[2020-02-24 23:13] vladik-hbinov commented on #47676
What about this issue?
I also tried to use the example here and got the same errors...
Trying to authenticate to Azure SQL server with a user that has 2FA enabled in AAD from a .net core 2.2 console app/app service, don't understand from this document if this is even supported.

[2020-02-24 23:14] GaurangRLB commented on #47330
Hi Guys,

I follow this article to integrated Auth0 SAML IDP. When I run this against our application it show Auth0 login screen. After user authentication, auth0 redirect to Azure B2c and B2c redirect to client application with error message with no specific details.
I also check application insights logs but it does not helps. Below is the error message Azure B2c return after login.

"OpenIdConn

[2020-02-24 23:19] KranthiPakala-MSFT commented on #48606
@TaylorN15 Thanks for your response and feedback. Yes, I believe the document needs an update. I have involved @linda33wj (Content Author) to further review your feedback and provide an update as appropriate.

[2020-02-24 23:43] Grace-MacJones-MSFT commented on #47494
Thanks for your input! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-02-24 23:43] #47494 closed

[2020-02-24 23:47] solkee commented on #43212
Hi ... I am running into the same issue when trying to create a service endpoint for storage account in the same tenant and subscription.
Can you please update on the progress of this bug ?

[2020-02-24 23:50] SaurabhSharma-MSFT commented on #48662
@Ashok103606 This is not possible and I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-02-24 23:55] robinsh commented on #40863
@JimacoMS3  can we close this?

[2020-02-24 23:59] sanjaydatasciencedojo commented on #47446
@lyrana If you are not sure or you do not represent Microsoft, that's ok.  But if I can consider this confirmation from Microsoft, then let me know.

[2020-02-25 00:15] BharathNimmala-MSFT commented on #48788
@Anshulsv Thank you for your query, assigning this to @rohitnayakmsft our Product PM to further evaluate the ask and share any pointers. Thank you

[2020-02-25 00:16] Karishma-Tiwari-MSFT commented on #48768
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-25 00:17] Mike-Ubezzi-MSFT commented on #48288
@sluu-pdr I went through this tutorial but I do not have Admin privileges to grant access within this tenant. The format is the following: `static public string AzureAD_UserID = "sluu@test.com";`

Are you experiencing a specific error? Did you attempt to authenticate this user with SSMS using Universal with MFA authentication?

These steps need to be completed, and you don't necessarily need an ap

[2020-02-25 00:17] BharathNimmala-MSFT commented on #48803
@ticianaciminari Thank you for reaching out to us, we will further evaluate and get back to you at the earliest.

[2020-02-25 00:17] Karishma-Tiwari-MSFT commented on #48795
thanks for the feedback. I have created a PR with the update, changes will be live shortly.

[2020-02-25 00:20] lgayhardt commented on #48453
@dipree I retired the doc, the changes should go live tomorrow. =)

[2020-02-25 00:20] lgayhardt commented on #48453
#please-close

[2020-02-25 00:20] #48453 closed

[2020-02-25 00:22] BharathNimmala-MSFT commented on #48786
@telmosampaio Thank you for your query and also sharing feedback. Out team will further look into it and get back to you at the earliest.

[2020-02-25 00:22] Karishma-Tiwari-MSFT commented on #48782
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-25 00:27] erick-thompson commented on #23789
It would be good to get an update on this

[2020-02-25 00:31] #48819 closed

[2020-02-25 00:31] Karishma-Tiwari-MSFT commented on #48675
Thanks for sharing the update.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-25 00:31] #48675 closed

[2020-02-25 00:35] joshkyh opened #48830 "Guide Updates"
I think some points on this guide might require some updating due to recent changes.

(1) If in Azure portal, then check "Show hidden types"
It is no longer shown above.
Instead, goto Recovery Services Vaults -&gt; Vault -&gt; Backup Items -&gt; VM -&gt; Select VM -&gt; Delete backup data

2) Likewise for az resource list -g AzureBackupRG_&lt;location of your VM&gt;_1
There is no longer the resour

[2020-02-25 00:37] ztasre commented on #47908
something urgent came up, I'll provide the information you requested soon

[2020-02-25 00:42] TravisCragg-MSFT commented on #48377
@CharmanderJieniJieni We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-25 00:42] #48377 closed

[2020-02-25 00:43] TravisCragg-MSFT commented on #48390
@fxredeyes We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-25 00:43] #48390 closed

[2020-02-25 00:51] BharathNimmala-MSFT commented on #48827
@NickDarvey Thank you for your query. We will further look into this and get back to you at the earliest.

[2020-02-25 00:51] RezaRahmati commented on #48709
@BharathNimmala-MSFT thanks for clarification, yes now I can login with no issue

[2020-02-25 00:51] #48709 closed

[2020-02-25 00:52] ziggynemeth opened #48832 "Expand on SSO network requirements"
Tables 6 - please provide more details on "direct connection to Azure data center IP ranges". Is this TCP/443 only? This forum by MSFT employee suggests so: https://social.msdn.microsoft.com/Forums/sqlserver/en-US/d1f8fb18-f38d-498e-8548-4e2671e1d2bf/azure-ad-connect-with-sso-firewall-requirements?forum=WindowsAzureAD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-02-25 00:52] BharathNimmala-MSFT commented on #48830
@joshkyh Thank you for your feedback. We will further evaluate it and get back to you at the earliest. Thanks

[2020-02-25 00:59] lesmin-sk commented on #48799
@vladvino Thanks for the explanation.
Then could add support for <ip-filter> in the <on-error>?
That can make 403 return when matching failed.

[2020-02-25 01:05] BharathNimmala-MSFT commented on #48447
@tkumark Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-02-25 01:05] #48447 closed

[2020-02-25 01:08] b-juche commented on #48373
@rajneegit -- Following up on this.

Raj, can you make another attempt to send the intended attachment?  (Attachments won't come through if you reply directly from email to this conversation.  But you can email the attachment to me at b-juchfw@microsoft.com.)

Or you can describe the error that needs to be addressed.

[2020-02-25 01:10] Mike-Ubezzi-MSFT commented on #48811
@paul-lorica Thank you very much for your question. If you are speaking of .NET Standard 2.1, there is no .NET Framework versions that are compatible. If you are speaking of .NET Standard 2.0, .NET Framework 4.6.1 - 4.8 is compatible. Please see the following [.NET Standard Versions](https://dotnet.microsoft.com/platform/dotnet-standard) reference.

[2020-02-25 01:10] BharathNimmala-MSFT commented on #48595
@edarsaut Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-02-25 01:10] #48595 closed

[2020-02-25 01:11] dcbrown16 opened #48833 "Download as CSV"
For search purposes and customer education, it would be helpful if one of the activity log documents contained a small blurb explicitly mentioning that you can click the Portal button to download as CSV and describing how that works. Even better if it could mention programmatic ways of grabbing the CSV.
Please create a backlog item to add that info to one of the activity log docs (it doesn't have

[2020-02-25 01:11] BharathNimmala-MSFT commented on #48659
@shriazure Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-02-25 01:11] #48659 closed

[2020-02-25 01:13] edjez commented on #48818
Was this a test issue @diberry from the docs training session?

[2020-02-25 01:13] ziggynemeth opened #48834 "Update AADC URLs for Table 2"
Table 2 - add link to this article detailing minimum URLs required for AADC. The O365 URLs link does not help. https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tshoot-connect-connectivity#troubleshoot-connectivity-issues-in-the-installation-wizard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41c38d39-e3

[2020-02-25 01:18] TravisCragg-MSFT commented on #48796
@anavinahar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-25 01:19] dcbrown16 opened #48835 "Download function"
Can you add some documentation on one of these pages regarding the Share button for Metric Explorer? Customers may wish to know how to get the file as a download from the Portal using that button.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea95f9c8-e0ad-93d2-cac2-0b486a684600
* Version Independent ID: e03365fb-056d

[2020-02-25 01:23] Mike-Ubezzi-MSFT commented on #48788
@Anshulsv The alternative is to add the respective Public IP address for the region(s) where  you have Power BI deployed. You could sort through this list: [Azure IP Ranges and Service Tags – Public Cloud](https://www.microsoft.com/en-us/download/details.aspx?id=56519). What I am not seeing are the Power BI  specific sections of the JSON file  relevant for each region but, this would be to alterna

[2020-02-25 01:30] TravisCragg-MSFT commented on #48805
@Noldiani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-25 01:32] ziggynemeth opened #48836 "Link to AAD service IPs not data center IPs"
This URL provides AAD-specific IPs as opposed to data center IPs. I assume this should be linked to in Tables 6: https://www.microsoft.com/en-us/download/details.aspx?id=56519

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41c38d39-e36b-dd70-9c8c-1fc28a1dba5e
* Version Independent ID: 4a9c6f6b-7627-2d61-402a-a2c405812a

[2020-02-25 01:42] dcbrown16 commented on #45108
Thanks for improving this @rboucher!

[2020-02-25 01:42] #45108 closed

[2020-02-25 01:45] TravisCragg-MSFT commented on #48817
@benjamin-goldman Thanks for the feedback. I have changed it to the proper cmdlet, and the docs should show the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-25 01:45] #48817 closed

[2020-02-25 01:51] zironsys opened #48838 "Can't connect also"
I also cannot connect via the CQL shell to my Cosmos DB Cassandra.  I read through "Can't connect" and everything on my computer seems set correctly as per your instructions.  I'm sure the problem is related to the fact that I have a stand-alone Cassandra 6.0.2 on my machine but I don't know how to fix it.
I want to provide you with a screenshot but my efforts so far are failing there too!  Here's

[2020-02-25 02:07] TravisCragg-MSFT commented on #48824
@jihu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-25 02:07] njsee opened #48839 "B Series Benchmarking"
Thanks for taking the time to prepare these detailed performance metrics!
A quick note on the B Series results:
I don't feel that its beneficial to included B series SPECint numbers without providing the test criteria used, such as;
-Duration of test
-Time between each test was run
-CPU credits available at the time
Without any insight to these factors, its hard to explain or determine what the SP

[2020-02-25 02:08] SaurabhSharma-MSFT commented on #48680
@git14 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-25 02:10] BharathNimmala-MSFT commented on #48835
@dcbrown16  Thank you for sharing your feedback to enhance the documentation. Assigning the issue to our content author to further evaluate the feedback and see how we can enhance the documentation.

[2020-02-25 02:10] Mike-Ubezzi-MSFT commented on #48474
@DavidTrigano It likely a worthwhile enhancement to include this detail to the document:

[2020-02-25 02:10] swieder opened #48840 "Oracle 12.2, should it be 11.2??"
Comment about Oracle 12.2 being needed to support 4K sector size.  This article says that 11.2 and higher supports it:  https://support.oracle.com/knowledge/Oracle%20Database%20Products/1630790_1.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 076b7e0e-8ca2-53fa-51f1-f1027f1d2da8
* Version Independent ID: 4e99d739-

[2020-02-25 02:11] BharathNimmala-MSFT commented on #48833
@dcbrown16 Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-02-25 02:18] dzeyelid opened #48841 "The context.df.continueAsNew() need yield operator."
In the section of "Periodic work example", the sample of JavaScript can't run correctly. I guess that the  `context.df.continueAsNew()` function need `yield` operator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efa40ad5-ef98-4fa0-f071-65b804a6c617
* Version Independent ID: 948676b8-6319-3adb-5a38-946ddbb852f0
* Con

[2020-02-25 02:23] liutang opened #48842 "Direct link to VPN client?"
Is there a direct link to the VPN client? Our company issued laptops have the microsoft store disabled. That means there's no way for us to get this vpn client even with elevated permissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b62b5b8f-bc88-0868

[2020-02-25 02:29] SaurabhSharma-MSFT commented on #40405
@Laho19 Apologies for the delay on this one. Here is the udpate -

[Late-bound enforcement](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/service-dependencies#policy-enforcement) occurs when the application requests a token from Azure AD in order to access the downstream service (e.g. SPO and EXO), for example when it requests an access token to invoke the Microsoft Gr

[2020-02-25 02:29] blmiles opened #48843 "Improve client-managed authentication on the SERVER side!"
Client-managed authentication very restrictive on the SERVER-SIDE, especially using Node.js
**I'll try explain what I mean here. PLEASE READ**

I have an app that uses **Auth0** as the login provider and can login through multiple providers - Facebook, LinkedIn, Google, MS and Apple. This all happens client-side and I get the id and access tokens from the relevant service. No errors.

My app then

[2020-02-25 02:31] SaurabhSharma-MSFT commented on #48744
@robsanf The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-02-25 02:31] #48744 closed

[2020-02-25 02:35] TravisCragg-MSFT commented on #48694
@jeastburn You are limited on 3 actions per rule, but you can make multiple rules that match on the same condition.

if you would like us to add more actions per rule, please [leave your feedback at Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking?).

[2020-02-25 02:42] TravisCragg-MSFT commented on #48803
@ticianaciminari Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-25 02:44] roygara commented on #48782
@crispygoth Thanks for reaching out, this information isn't actually missing. The VM docs don't have a single place where you can see every VM size details. Instead, you have to nav to each individual VM size manually, which you can do from those overviews.

Like so: https://docs.microsoft.com/en-us/azure/virtual-machines/dc-series

Now that you've brought it up, we could add a statement saying th

[2020-02-25 02:44] TravisCragg-MSFT commented on #48786
@telmosampaio Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-25 02:47] SnehaAgrawal-MSFT commented on #48389
@hileyj Since, we didn’t hear from you. We will close this out but if you feel you need more information please just let us know.

[2020-02-25 02:47] #48389 closed

[2020-02-25 03:10] tamram commented on #48666
#reassign: @tamram

[2020-02-25 03:13] tamram commented on #48666
@explodinghat - These are not Kubernetes/Docker containers. They are Azure Storage containers, which are completely different. Azure Storage containers contain blobs and are part of a blob's address. For more details, see https://docs.microsoft.com/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata.

I will make sure that the container icon in the diagram is updated.

[2020-02-25 03:13] #48666 closed

[2020-02-25 03:19] don4of4 commented on #40670
Agreed, I closed this ticket after testing the scenarios with debug logs.

There were a couple conflicting docs which have been corrected. Thank you for clarifying on this ticket.

[2020-02-25 03:20] DixitArora-MSFT commented on #48841
Hi @dzeyelid Thanks for your feedback. We will review and update as appropriate.

[2020-02-25 03:26] salavala opened #48844 "unable to install pacemaker on Redhat Linux"
I am unable to complete the pacemaker install command:
sudo yum install -y pcs pacemaker fence-agents-azure-arm nmap-ncat

[azureuser@Oracle-Linux-HA-01 ~]$ sudo yum install -y pcs pacemaker fence-agents-azure-arm nmap-ncat
Loaded plugins: product-id, search-disabled-repos
No package pcs available.
No package pacemaker available.
Package 2:nmap-ncat-6.40-19.el7.x86_64 already installed and latest

[2020-02-25 03:26] Juan-G-04 opened #48845 "What changes are needed for a .NET Core 3.1 app?"
See title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48a90540-55d7-99ae-7a47-6cf8e526d631
* Version Independent ID: 190e73c1-7711-05d2-afeb-5565d7a3dd37
* Content: [Tutorial: Linux ASP.NET Core with SQL DB - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-dotnetcore-sqldb-a

[2020-02-25 03:27] sonalinoolkar commented on #48800
I have a question:
My two managed instances are in two different regions (East US and SE Asia) and both are having public end points enabled from internet. Still is it necessary to have network peering between them?

I have followed the steps: Below are my configurations. I am still getting the error regarding data access not enabled.

----------------Step 6----------------------------------
USE [

[2020-02-25 03:55] patonoide commented on #48748
I'm having the same problem but with a custom rails app.

[2020-02-25 03:58] MonikaReddy-MSFT commented on #45447
@spelluru - Thanks for fixing the issue.

@andreas-wilm -
Thanks again for bringing this to our attention. The issue is now fixed and we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-25 04:03] Scrapper9 opened #48846 "Automation"
Is there a powershell module that enables me to make PIM eligibility assignments?  Or a way to assign PIM eligibility to a group (that I can then manage through powershell)? For all of Microsoft's talk of DevOps and Infrastructure as Code and powershell automation, there's a disappointing lack of any of these features/abilities for core infrastructure in and related to Azure/AAD (PIM, Conditional

[2020-02-25 04:06] MonikaReddy-MSFT commented on #48424
@SychevIgor ,  I'm going to assign this to the document author so they can update the document accordingly.

[2020-02-25 04:07] MonikaReddy-MSFT commented on #48453
@lgayhardt - Thanks for taking care of this.
@dipree -
Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-25 04:11] eNettMattD commented on #47869
Yes please. We're struggling with this. Some guides on how to monitor network policy enforcement via logs or otherwise is desperately needed.

[2020-02-25 04:25] SubhashVasarapu-MSFT commented on #48842
@liutang , We are looking into this query and will update you as soon as possible.

[2020-02-25 04:37] adityabalaji-msft commented on #48483
Thanks for your feedback. The text and screenshot in the documentation have now been updated to reflect the current UI. You can find the updated doc here: https://docs.microsoft.com/azure/backup/backup-azure-monitoring-use-azuremonitor#using-log-analytics-workspace

[2020-02-25 04:42] BharathNimmala-MSFT commented on #48483
@adityabalaji-msft Thank for your helping to update the document.

@soeirodefaria Thanks again for sharing the feedback and bringing this to our notice. We will go ahead and close the issue for now, however if you have any further queries please let us know. Thanks

[2020-02-25 04:42] #48483 closed

[2020-02-25 04:45] BhargaviAnnadevara-MSFT commented on #48801
@CesarSolis Thanks for the ask. We're investigating this and will get back to you shortly.

[2020-02-25 04:53] jakaruna-MSFT commented on #48807
@PKingRoch
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-25 04:53] souravmishra-msft commented on #48846
@Scrapper9, Thank you for sharing the query. We are working on this and will get back to you soon on this thread.

[2020-02-25 04:54] souravmishra-msft commented on #48816
@poortom1004, Thank you for pointing this out. We are working on this and will update the doc and the script in a short while.

[2020-02-25 05:00] TravisCragg-MSFT commented on #48425
@haoxin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-25 05:00] #48425 closed

[2020-02-25 05:01] TravisCragg-MSFT commented on #46736
@duranmg Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-25 05:01] #46736 closed

[2020-02-25 05:01] TravisCragg-MSFT commented on #46710
@ducksecops Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-25 05:01] #46710 closed

[2020-02-25 05:05] souravmishra-msft commented on #47815
@jeffwmiles, I apologize for the long delay in my response on this thread. I do agree on the conflict you mentioned there. We are working on that and would be updating the doc shortly. In the mean time as an explanation, would like to share that you should have one GA who is not a part of any Conditional Access Policy but then he should be in a state to login using Windows Hello For Business. In t

[2020-02-25 05:06] BhargaviAnnadevara-MSFT commented on #48843
@blmiles Thank you for the feedback. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-02-25 05:06] BharathNimmala-MSFT commented on #48462
@slavizh Once the PR is reviewed and approved the document would get reflected accordingly with in this week. Thank you for bringing this to our notice.  Let us know if you have any other queries, will be happy to continue the conversation. Thanks

[2020-02-25 05:06] #48462 closed

[2020-02-25 05:07] PramodValavala-MSFT commented on #48542
@yinoa Just following up here... Hope my previous comment clears things up.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-25 05:07] #48542 closed

[2020-02-25 05:07] neeleshray-msft commented on #48836
@ziggynemeth Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-25 05:08] neeleshray-msft commented on #48834
@ziggynemeth Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-25 05:08] neeleshray-msft commented on #48832
@ziggynemeth Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-25 05:09] neeleshray-msft commented on #48815
@chwilfing Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-25 05:10] neeleshray-msft commented on #48813
@artmasa Let us know if the response by @yoelhor helped you out and if you need further assistance on the same.

[2020-02-25 05:14] jakaruna-MSFT commented on #48725
@p33t This [link](https://docs.microsoft.com/en-us/azure/load-balancer/concepts-limitations#skus) describes the difference between basic and standard load balancer

Let me answer your questions

yes.

Perhaps you could put in a grid with feature columns and checks/crosses indicating which SKU has what feature?

In standard LB, you can set outbound rules, you have SLA, all ports are closed by defau

[2020-02-25 05:15] jakaruna-MSFT commented on #48768
@Heidilohr @ChristianMontoya Please add your comments

[2020-02-25 05:20] Stanzarectah commented on #33401
Javascript does not work with non custom policy.

I tried 'Hello World' alert on the default page and it did not fire.

If I manually navigate to it (via the blob url) then it does fire

[2020-02-25 05:29] zxpek opened #48848 "Host reference"
In the example code, the following example is given:
host = '&lt;your-resource-name&gt;.api.cognitive.microsoft.com'

However, in a recently deployed QnA service, host should be in this format:
host = '&lt;your-resource-name&gt;.cognitiveservices.azure.com'

Tried the .api.cognitive.microsoft.com format and it doesn't work.

Quite confusing, since the All-in-One Cognitive Service resource follows

[2020-02-25 05:30] SumanthMarigowda-MSFT commented on #48825
@skadeb87 Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-25 05:31] souravmishra-msft commented on #47815
Closing the thread for now.

[2020-02-25 05:31] #47815 closed

[2020-02-25 05:32] RohitMungi-MSFT commented on #48738
@AleynovSergey I have used the labeling tool to train a document with tables with two tags for headers and rows by creating the tags and selecting the text after OCR is complete for the document

![image](https://user-images.githubusercontent.com/46958063/75217562-600b2500-57bd-11ea-9bca-0c02b0007d29.png)

Using the predict option the tool recognized a row and returned the fieldNames of these labe

[2020-02-25 05:41] jimmcslim commented on #43468
I also observe this. The documentation doesn't make clear what attribute of a CloudEvents message corresponds to `topic`. We are assuming it is `subject`. However, the Cloud Events SDK requires subject to be a URI type. However, if you try and create an Event Domain Topic with a name that looks like a URI (ie. 'urn:something:something', '/something/something') it fails to create as only A-Za-z0-9

[2020-02-25 05:41] jitendra1981 commented on #48230
@msrini-MSFT  - Thanks for your response - you can close the case.

[2020-02-25 05:49] ScarlettFalls commented on #44996
The errors above that @cenkersoy listed are still occurring.

[2020-02-25 05:50] neeleshray-msft commented on #48836
@billmath Could this be reviewed ?

[2020-02-25 05:51] neeleshray-msft commented on #48834
@billmath Could this be reviewed ?

[2020-02-25 05:51] neeleshray-msft commented on #48832
@billmath Could this be reviewed ?

[2020-02-25 05:56] lyrana commented on #47446
@sanjaydatasciencedojo Yes you can consider this confirmation. I am still interested in hearing your use-case if you're willing to share that'd be great :)

[2020-02-25 05:58] dcurwin commented on #48503
@CHDAFNI-MSFT - We haven't heard back from you regarding point 2, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2020-02-25 05:58] dcurwin commented on #48503
#please-close

[2020-02-25 05:58] #48503 closed

[2020-02-25 06:00] dcurwin commented on #48452
@ramadarla  We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2020-02-25 06:00] dcurwin commented on #48452
#please-close

[2020-02-25 06:01] dcurwin commented on #47601
@EmanuelYuCorella  We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2020-02-25 06:01] dcurwin commented on #47601
#please-close

[2020-02-25 06:01] #47601 closed

[2020-02-25 06:01] BharathNimmala-MSFT commented on #48506
Assigning this issue to our document @mgblythe to further evaluate the feedback and take it forward with our Product Team and further enhance the document accordingly.

[2020-02-25 06:10] euyuil commented on #48543
@SnehaAgrawal-MSFT Thank you for the investigation. I think it would be better if such information could be documented in a centralized place.

And one more related question: Is the number 20 a hard limit, or is it possible for someone to contact support to increase the limit? I came up with this question because from the doc I learnt that for some kinds of resources it's possible to increase the

[2020-02-25 06:18] KranthiPakala-MSFT commented on #48484
@chriskim0101 Hi, internal team has confirmed that it is not achievable to test against the trail version of dynamics 365, as it is under a different tenant.

Since AAD service principal authentication type involves AAD tenant, you need to make sure your service principal is in the same tenant as dynamics 365 account. Password auth do not have that problem. Please use password authentication type

[2020-02-25 06:20] PramodValavala-MSFT commented on #48653
@vijay-gowda Hope my previous comment clears things up.

Since we haven't heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-25 06:20] #48653 closed

[2020-02-25 06:20] PramodValavala-MSFT commented on #48735
@renklus Just following up here... Hope my previous comment clears things up.

[2020-02-25 06:22] PramodValavala-MSFT commented on #48756
@RoopAnymous Just following up here... Hope my previous comment clears things up.

Since there is no doc update to address here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

As mentioned earlier, feel free to open a thread on [MSDN](https://social.ms

[2020-02-25 06:22] #48756 closed

[2020-02-25 06:28] SwathiDhanwada-MSFT commented on #48532
@ozzmaster We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-02-25 06:28] #48532 closed

[2020-02-25 06:42] PramodValavala-MSFT commented on #48315
@AnjaniChallamcherla Apologies for the long wait. I can confirm the same and am checking with the team internally on this. Will share an update here once I hear more.

In the meantime, I believe the UI is defaulting to `Express` mode for now and if you require `Manual`, you should be able to still fetch the URL for the API Definition in the previous blade as below

![image](https://user-images.git

[2020-02-25 06:42] kobulloc-MSFT commented on #48368
@bnagajagadeesh We were unable to reproduce what you reported.  If you run into this again, please tag me in your reply and we will be happy to continue to investigate.

[2020-02-25 06:42] #48368 closed

[2020-02-25 06:46] yuemlu commented on #48825
@skadeb87 Correct. Feel free to try out in a region where Preview is supported.

[2020-02-25 06:58] SubhashVasarapu-MSFT commented on #48409
@tmmueller , Appreciate your patience. I would request you to send us a mail @AzCommunity@microsoft.com with the issue as a title. I will help you to raise a support request in this case for further analysis on this issue with closer engineer engagement.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-25 06:58] #48409 closed

[2020-02-25 07:12] ganesh-gawande commented on #46942
I have tried to follow the above steps and routes and still the visual studio does not call custom route while starting iotedgehubdev. Here is screen shot of my route file and the output when I try to run the module.
![image](https://user-images.githubusercontent.com/12989060/75223364-491fff00-57cc-11ea-88ad-70a47c15b233.png)

Just want to check - whether I need to have deployment template file wi

[2020-02-25 07:27] MichaKnoe commented on #48804
Hi @paulbouwer,

On this [page](https://docs.microsoft.com/de-de/azure/aks/servicemesh-istio-install?pivots=client-operating-system-linux) a github path is referenced in a script snippet:

[code]

I am not able to find the path to the tarball that is requested there.

[2020-02-25 07:29] AshokPeddakotla-MSFT commented on #48536
@ramandeep-singh-1983 I have update the documentation to reflect the changes. After peer review and approve changes will go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-25 07:29] #48536 closed

[2020-02-25 07:29] AshokPeddakotla-MSFT commented on #48535
@ramandeep-singh-1983 I have update the documentation to reflect the changes. After peer review and approve changes will go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-25 07:29] #48535 closed

[2020-02-25 07:38] lurifaxel opened #48850 "Need clarification on zip script bundle"
It is not immediately clear that the zip file needs to be a Dataset module of type File, clarification on that part would be helpful!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be943f78-3388-c77f-4c64-d38013952ef9
* Version Independent ID: 6bfc173f-05c9-52d0-a401-3e659e9df1d1
* Content: [Execute Python Script: Modu

[2020-02-25 07:38] AshokPeddakotla-MSFT commented on #48500
@eyediatech Which browser are you using? Could you please confirm you are using any of below browsers and still getting this issue?

The Azure Maps Web SDK supports the following desktop browsers:

Microsoft Edge (current and previous version)
Google Chrome (current and previous version)
Mozilla Firefox (current and previous version)
Apple Safari (Mac OS X) (current and previous version)

[2020-02-25 07:53] micktion commented on #42257
I have to ask... why?  Why does it have a totally different syntax? Why have you broken half the world's azure deployment scripts?  Why wouldn't you simply give this thing a totally different name?  Let people continue to download the old AzCopy and let others adopt this totally different program you've created in it's place?  e.g... like RoboCopy vs Xcopy vs copy....

What you've done is like mak

[2020-02-25 07:54] amirgra opened #48851 "Attach multiple ACR to single AKS"
Is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Registry with Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integrati

[2020-02-25 08:01] mataralhawiti opened #48852 "In Databricks-backed scopes section"
In Databricks-backed scopes section

last line in the section :
You create a Databricks-backed secret scope using the _ (version 0.7.1 and above). Alternatively, you can use the Secrets API.

Should it be :
You create a Databricks-backed secret scope using the **Databricks CLI** (version 0.7.1 and above). Alternatively, you can use the Secrets API.

---
#### Document Details

⚠ *Do not edit this s

[2020-02-25 08:15] Jayesh040 opened #48853 "Terragrunt alternative in Azure."
Is there any alternative to Terragrunt for Azure?
I believe terragrunt has no support on Azure. (Please correct me if I am wrong on this)

We want a tool to managing multiple Terraform executions as a single command.
Please advice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2130aa5d-9111-4df9-f94d-c23c73d189c4
* Ve

[2020-02-25 08:25] insankim opened #48854 "Disabling Accelerated Networking scenario should be added."
Our document does not explain prerequisites for disabling Accelerated Networking scenario.
Following statement in the document can mislead customer to think that we need to deallocate all existing VMs in an Availability set before disabling AN.
""If your VM was created with an availability set, all VMs contained in the availability set will need to be stopped/deallocated before enabling Accelerate

[2020-02-25 08:27] neeleshray-msft commented on #46987
We are closing this thread now. Let us know if you need further assistance.

[2020-02-25 08:27] #46987 closed

[2020-02-25 08:37] PramodValavala-MSFT commented on #48570
@bmoscon The `__app__` folder is the one that contains the function app (as it contains `host.json`) and is the same that should be deployed. The `Dockerfile` has to be in the same folder (inside `__app__`) as well.

@maiqbal11 Could you please confirm?

Also, I have worked up a PR to include the `Dockerfile` in the structure for more clarity which once merged should reflect in a couple of hours.

[2020-02-25 08:38] CHEEKATLAPRADEEP-MSFT commented on #48852
@mataralhawiti  Thanks for bringing this to our attention.  I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-02-25 08:39] RBStarkey opened #48855 "Can't Past Connection String"
I have read...

https://docs.microsoft.com/en-us/azure/cosmos-db/data-explorer

When I navigate to https://cosmos.azure.com/

I am prompted for my account and password (which are offered in the form).  I click on the correct account and I am taken to the portal.  But when I try to use it, nothing works.
Help!
Ray Starkey, Coventry, England

---
#### Document Details

⚠ *Do not edit this section. I

[2020-02-25 08:40] hew85 commented on #48658
Hi,

I may I ask you to reopen this post ?
I was following this guide
https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows

[2020-02-25 08:41] bnagajagadeesh commented on #48368
@BhargaviAnnadevara-MSFT and @kobulloc-MSFT, I've tried again to deployed asp.net core app to AKS and worked fine. But, I got the same error reported by @brahmi89

[2020-02-25 08:48] neeleshray-msft commented on #48493
@WiseOldHowell
We would be closing this thread now. Let us know if you need further help on the same.

[2020-02-25 08:48] #48493 closed

[2020-02-25 08:48] #48749 closed

[2020-02-25 08:49] Oppedijk opened #48856 "Client credentials create does not always work"
When entering the URL in step 8: https://your-tenant-name.b2clogin.com  google says domain verification needs to be done.
A workaround is to create a new application with a custom URL, and then modify it to add https://your-tenant-name.b2clogin.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9d9c00-1382-c578-6b0d-

[2020-02-25 08:53] MichaKnoe commented on #48804
Hi @paulbouwer . Seems to be an issue on my side. After rechecking the url it works for me now. Honestly I don't know exactly what was the issue. Sorry and thanks for your feedback.

[2020-02-25 08:56] valentijnscholten commented on #48774
@MicrosoftGuyJFlo Well, we were using Security Baselines before to enforce MFA for admin. There you could exclude users or groups for break glass accounts. But then that no longer worked and we were told that we should use Security Defaults. But with that you cannot exclude users or groups, so we are losing functionality. But now when I look at the Security Baselines again it looks like those are

[2020-02-25 08:57] SwathiDhanwada-MSFT opened #48857 "Unable to view Traffic analytics in Azure Monitor"
This article seems to be not up-to date anymore, since some steps described there cannot be done in portal currently (for example there is no menu "Network Watcher" in Monitor as for now) and there is no "Traffic analytics" menu in Network Watcher.

Source: https://social.msdn.microsoft.com/Forums/en-US/20ba6e1d-8609-412e-83c1-a219abf42f6c/how-to-tun-on-traffic-analytics-based-on-nsg-flows?forum=o

[2020-02-25 08:58] DashleenBhandari-MSFT commented on #48398
@bobrundle , I will go ahead and close the issue. Feel free to reopen if you need assistance.

[2020-02-25 08:58] #48398 closed

[2020-02-25 08:59] SwathiDhanwada-MSFT commented on #48857
@damendo  Can you please review the issue and update the document accordingly.

[2020-02-25 09:00] sebhe opened #48858 "When is a Security recommendation triggered?"
Based on this guide, I do not yet understand when the trigger related to a security recommendation is triggered. For alerts it is quite obvious but for recommendations I do not get it.
Can you provide some details around this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f4678a-ede3-4926-8d8b-3d9948704eb8
* Version

[2020-02-25 09:02] gpeipman commented on #40938
Even worse - it's not service issue.

Here is the example that works: https://docs.microsoft.com/bs-latn-ba/azure/cognitive-services/form-recognizer/quickstarts/dotnet-sdk

When trying to make same thing work in web application with uploaded file I got same error - BadRequest - UnsupportedMediaType.

What worked for me was to save uploaded file to disk and open it **exactly** like shown in example

[2020-02-25 09:09] YSZhuoyang commented on #48513
Thanks for you reply.

Yes that aligns with my understanding:
1. Thumbprint is meant to be a unique ID of certificate.
2. CA is used for certificate validation as part of SSL mutual auth.

But this does not really answer my question. Given that:
1. This document uses thumbprint rather than CA for validation, without any advice whether using a thumbprint for validation instead of CA brings any secu

[2020-02-25 09:22] jakaruna-MSFT commented on #48839
@njsee Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-25 09:27] jakaruna-MSFT commented on #48840
@swieder
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-25 09:27] maciek-polakowski commented on #48360
Hi any news on this? I have the same problem i.e. cannot complete the online-training on A functions. Actually - even if i leave the code from templates (that should work from the start) the same problem appears

[2020-02-25 09:32] kiranpradeep opened #48859 "Host.json setting"
This document does not explain configuration settings in hosts.json. Could that be added? An example is https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-output?tabs=csharp#hostjson-settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d50399c-0873-e903-35ca-1845c84b6c6c
* Versi

[2020-02-25 09:33] #48859 closed

[2020-02-25 09:39] Jaffacakes82 commented on #35615
@jpconnock Is there an update on when this documentation will be published?

[2020-02-25 09:39] kiranpradeep opened #48860 "number of retries before moving poison message queue"
How many times will a message be retried before moving to poison message queue? Is that configurable with hosts.json? For e.g hosts.json for Azure Storage queue trigger has a maxDequeueCount option [1].

[1] https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-output?tabs=csharp#hostjson-settings

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-02-25 09:41] SunnyXiao opened #48861 "Can't setting cache rules"
[Enter feedback here]
Hello, when i open the cache rules page, it can't setting rules by myself, it shows as bellow:

![image](https://user-images.githubusercontent.com/18277688/75234698-0246ff00-57f6-11ea-96fc-e53a3579ed5d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca7d5d35-f923-8996-c2f1-ec70946b0e65
* Versi

[2020-02-25 09:41] SnehaAgrawal-MSFT commented on #48531
@rphoon Thanks again for the feedback! The best way to share your feedback would be to create a [User Voice feedback](https://feedback.azure.com/forums/169385-web-apps) and upvote it. The product group monitors this site for feedback. This is the best way to ensure you are heard and you may receive a response depending on how much they information they can currently share.
We will now proceed to c

[2020-02-25 09:41] #48531 closed

[2020-02-25 09:42] RohitMungi-MSFT commented on #48848
@zxpek Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-25 09:42] MattOG opened #48862 "This page is cited in ASP.NET Core 3 Docs, but doesn't adhere to the best practices introduced with that version."
Some methods such as .AddMvc() are advised against. As is using MVC filters to configure Authentication. Other things such as SetCompatibilityVersion() aren't even available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479bff62-927a-9f71-c85f-4a1188c72bb2
* Version Independent ID: df934d01-7a9d-f7f9-d9ea-320454e32d7

[2020-02-25 09:47] jay-aplan commented on #34451
We you able to sort this one? I also deployed the most basic nodejs app from MS tutorial and still getting error?

[2020-02-25 09:51] RohitMungi-MSFT commented on #48850
@lurifaxel The input to script bundle needs to be a zip file containing the scripts that would like to use during your module execution. This zipped file is uploaded to your workspace as a dataset which can be dragged and dropped in the studio interface and connected to the script bundle input. The same scenario is applicable for execute R script module too where you can upload different R binarie

[2020-02-25 09:53] jakaruna-MSFT commented on #48844
@salavala This document is meant for redhat.  Looks like you are trying with Oracle Linux.
Can you try the solution provided in this stack thread.
https://stackoverflow.com/questions/44290926/pip-cannot-confirm-ssl-certificate-ssl-module-is-not-available

Try that and let me know

[2020-02-25 09:58] SnehaAgrawal-MSFT commented on #48543
@euyuil  Yes, if You have reached the limit for purchasing domains on your subscription.
you may request an increase to the limit, by contacting  Azure support.
Reference: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/app-service/troubleshoot-domain-ssl-certificates.md#you-cant-purchase-a-domain

Thanks for bringing this to our attention. I have shared the feedback with content

[2020-02-25 09:58] #48543 closed

[2020-02-25 10:01] evmimagina opened #48863 "Missing details about the known issue of supported cypher suites"
Hi,

Would be nice to find an estimate date about when those missing cypher suites would be supported.

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4973b6d3-d3b9-69b6-75d1-6c6e03a37480
* Version Independent ID: 68ae78c3-5118-741a-58c9-9fdf9512a9f3
* Content: [SSL policy overview for Azure Application Gatewa

[2020-02-25 10:01] jhueppauff opened #48864 "How to restore the Database in a different region, if the origin backup region is unavailable"
I wonder if and how you can restore a Database to a different Region?

In Case the VM Service in a Region is unavailble, you wouldn't be able to restore the Backup of a Database at all, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89e13d87-ad6b-accc-6cbd-de6fad4435d4
* Version Independent ID: 654c5cec-2946-87f

[2020-02-25 10:02] rayne-wiselman commented on #48140
@ceglez. This page should now be clearer, and dependency visualization instructions should be up to date in https://docs.microsoft.com/en-us/azure/migrate/how-to-create-group-machine-dependencies. Let me know if you have any more comments. Thanks!

#please-close

[2020-02-25 10:02] #48140 closed

[2020-02-25 10:02] SnehaAgrawal-MSFT commented on #48495
@schellem Thanks for bringing this to our attention.  I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-02-25 10:03] simer99 commented on #47951
vipeketi is with QnA Maker team. I suggest that you send the HAR logs to QnAMakerteam@microsoft.com and we can take a look. Please dont attach them here. Thanks.

[2020-02-25 10:08] PramodValavala-MSFT commented on #48860
@kiranpradeep As mentioned in the [trigger docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=csharp#poison-messages), this is not configurable from Azure Functions.

You will have to configure the Max Delivery Count while creating the Service Bus entity. This can be done from the Azure Portal as follows
![image](https://user-images.githubuserc

[2020-02-25 10:18] thucnguyen77 opened #48865 "How to embed dataset's field in Body?"
Hi,

Could someone please give an example for how to embed dataset's field in Body of this Web activity?

Cheers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34b3d465-6a2b-88ad-6e80-4fb784cd489e
* Version Independent ID: 51b70888-d089-7352-4abd-7d587726700a
* Content: [Web Activity in Azure Data Factory - Azure Data

[2020-02-25 10:25] SwathiDhanwada-MSFT commented on #48864
@jhueppauff  Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-02-25 10:30] alexsys14 commented on #48825
Is there any info, when it will be available in West US 2 region? Thanks.

[2020-02-25 10:32] SnehaAgrawal-MSFT commented on #48635
@darzu Thanks for asking question. You may refer to below link might be helpful.
https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azureps?view=azps-3.5.0

[2020-02-25 10:53] shuttlek opened #48866 "Application Gateway: Integration with Key Vault fails"
Attempting to integrate key vault and Application Gateway as described: https://docs.microsoft.com/en-us/azure/application-gateway/configure-keyvault-ps

Results in error: "Long running operation failed with status 'Failed'. Additional Info:'Problem occurred while accessing and validating KeyVault Secrets associated with Application Gateway"

Workaround is to enable "all networks" access to the ke

[2020-02-25 10:54] SnehaAgrawal-MSFT commented on #48752
@AdrianSanguineti Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-02-25 10:54] zffocussss opened #48867 "how to deploy docker on app service by azure cli"
I want to publish/update my bot service from git repo automatically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b1864e8-0c73-eaaa-94e6-5e8993a3bf9d
* Version Independent ID: 9e246eaa-216b-c06e-1c11-4a5aa60453ff
* Content: [Quickstart: Run a custom Linux container - Azure App Service](https://docs.microsoft.com/en-

[2020-02-25 11:31] KrishnaG-MSFT commented on #48808
@drenergy Hope you have self resolved and hence closed this issue. Thanks for the update.

[2020-02-25 11:33] pbartos opened #48868 "Error in regular expression as pipeline parameter"
Hi,
if I use Split data module with Regular expression parameter as pipeline parameter then it failed on error: "User program failed with ValueError: No closing quotation"
When the same expression is detached from pipeline expression run it correctly.
Pavel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 890cca62-1496-e

[2020-02-25 11:35] KrishnaG-MSFT commented on #48819
@dcvtruong Hope you have self resolved and hence closed this issue. Thanks for the update.

[2020-02-25 11:35] neeleshray-msft commented on #48862
@MattOG Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-25 11:36] neeleshray-msft commented on #48856
@Oppedijk Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-25 11:36] neeleshray-msft commented on #48858
@sebhe Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-25 11:41] ruthbacci opened #48869 "Pshell - '=='"
$srcBlobName == ""
$destBlobName == ""

Should be

$srcBlobName = ""
$destBlobName = ""

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d8113f5-2769-908d-5fe4-36c5c401fbd9
* Version Independent ID: f5965772-6b05-55fa-a2d0-7f6ffb035b65
* Content: [Rehydrate blob data from the archive tier](https://docs.microsoft.com/en-

[2020-02-25 11:53] BhargaviAnnadevara-MSFT commented on #48838
@zironsys Thanks for the question! We're investigating this and will get back to you shortly.

[2020-02-25 11:58] KrishnaG-MSFT commented on #48668
@jmf2n Thanks for the additional information. Could you confirm the value of the ROOTDRIVE environment variable for any of these machines ?

[2020-02-25 12:07] AjayKumar-MSFT commented on #48845
@Juan-G-04, Thanks for posting the question!

You may take a look at the '[Breaking changes for migration from Version 2.2 to 3.1](https://docs.microsoft.com/dotnet/core/compatibility/2.2-3.1)' and incorporate the changes outlined in the "Recommended action" in the document.

Kindly checkout this discussion thread https://github.com/Azure/app-service-announcements-discussions/issues/129 for .NET C

[2020-02-25 12:10] Samantha-Yu commented on #40204
@kazshi @CHEEKATLAPRADEEP-MSFT Thanks for reaching out. Updates have been made to this article ( [Create an Azure data factory using the Azure Data Factory UI](https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-portal#create-a-blob-container)) according to the latest UI changes. Related PR is now waiting for approval from the content owner. We'll keep you updated wh

[2020-02-25 12:12] ramadarla commented on #48452
if clustering is not supported. where does it was mentioned this as a limitation?

This is a HA scenario, Node 1 is primary connection to applications, where hana db node 1 is a master and node 2 is slave. HANA replication configured between node 1 to 2.
If a fail-over happens, node 2 becomes master and during that time  how Azure hana backup works?

In active/passive scenario taking backup of nod

[2020-02-25 12:16] blmiles commented on #48843
This is NOT only a doc enhancement but Azure App Service and MobileServiceClient amendments too and should be pushed up to the tech team(s) responsible for those.
But here's the link FYI: _https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-dotnet-how-to-use-client-library_

[2020-02-25 12:17] dcurwin commented on #48452
@BharathNimmala-MSFT  - Please reopen the issue.

@pvrk - Please let me know how you think we can update the documentation.

[2020-02-25 12:17] Samantha-Yu commented on #46220
@fraynie  @Cornpuffs  Thanks for reaching out. Updates have been made to this article ( Create an Azure data factory using the Azure Data Factory UI) according to the latest UI changes. Related PR is now waiting for approval from the content owner. We'll keep you updated when it is completed.

[2020-02-25 12:21] Samantha-Yu commented on #46438
@AlaricSchenck Thanks for reaching out. Updates have been made to this article according to the latest UI changes. Related PR is now waiting for approval from the content owner. We'll keep you updated when it is completed.

[2020-02-25 12:39] BertV1 opened #48871 "schema content"
Hello,

I was wondering how up to date this schema is? My AzureSentinel logs of this table hold a lot more properties than displayed here. Also some of the explanations for the properties here seem pretty non-explanatory at best? Either way, thanks for the documentation but it does seem like it needs to be updated (?).
~BV1

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-02-25 12:57] weischermanuel commented on #34451
this is what i get aswell. is there a solution for it ?

[2020-02-25 13:01] philippkahr opened #48872 "Site does not state that the OMS agent only works with Azure machines"
Hi,

I am currently investigating an issue that is similiar to this one:
https://social.msdn.microsoft.com/Forums/en-US/5f935d85-3489-4fc4-981f-e6167d6cd1f2/operations-manager-log-event-id-4502?forum=opinsights

I have multiple DCs and none of them are part of Azure, so all are non azure machines. I installed the OMS agent and it is connected to Azure properly. I can see various data coming in lik

[2020-02-25 13:01] dotnetgator opened #48873 "Error in CompareBooleanClaimToValue table"
TransformationClaimType for the OutputClaim in the table - looks like inadvertent error, should be "compareResult" instead of "inputClaim"

(Also, InputClaim in the first column is not capitalized in that table, as well as the AssertBooleanClaimIsEqualToValue table)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b22a0d

[2020-02-25 13:14] DixitArora-MSFT commented on #48643
@adrianm64 In ASP.NET Core 3.0, Newtonsoft.Json types used in Authentication APIs have been replaced with System.Text.Json types. Except for the following cases, basic usage of the Authentication packages remains unaffected.

- Classes derived from the OAuth providers, such as those from aspnet-contrib.
- Advanced claim manipulation implementations.

For more information, see [dotnet/aspnetcore#71

[2020-02-25 13:14] #48643 closed

[2020-02-25 13:16] DixitArora-MSFT commented on #48656
@LockTar I have assigned this to content author for further review and update as appropriate.

[2020-02-25 13:23] lurifaxel commented on #48850
Thank you for your reply! Yes, I managed to figure it out after some tinkering but I think the docs could be a bit more clear on this point.

[2020-02-25 13:23] NavtejSaini-MSFT commented on #48540
@PHaastrup Please let us know if you need further help with this.

[2020-02-25 13:26] fxredeyes commented on #48390
Thank you @TravisCragg-MSFT.
I'll open a case to the support because my NVA is not doing any NAT. I did packet capture and source IP of the packets is the vm in the spoke, not the NVA.

[2020-02-25 13:28] briangeorge commented on #6788
Just as an optional workaround if anyone other than me hits this issue and doesn't want to reinstall and re-clone data from an existing DB on Azure:

I hit this issue today where the emulator appeared to be running, but the Data Explorer was unavailable.  The last time I hit it, I was able to resolve by uninstalling, deleting everything, and re-installing.  However, as I was trying to test a bug,

[2020-02-25 13:32] mregni opened #48874 "Create subscription sample is not working"
The sample for V2 and higher for creating a subscription via the CLI is not working anymore. If the command is used, the cli return following error "az eventgrid: 'resource' is not in the 'az eventgrid' command group. See 'az eventgrid --help'."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f79bffab-0af8-75fc-f800-73e

[2020-02-25 13:34] ashishsober opened #48875 "Unrecognized pipeline stage name: $facet"
Hi, what's wrong with this query?
I'm trying to use $facet for pagination purposes.
Aggregation Pipeline is already enabled in Azure Portal.

![image](https://user-images.githubusercontent.com/5001771/75251908-910d4900-5801-11ea-920f-ccd861fffd55.png)

[2020-02-25 13:47] tinodo opened #48876 "Azure Blob Storage on IoT Edge module frequently crashes and starts consuming a lot of CPU power."
After deploying the **Azure Blob Storage on IoT Edge module** (from mcr.microsoft.com/azure-blob-storage:latest) to my ARM64 device, I see that after some time, the module crashes:

Unhandled Exception: System.AggregateException: One or more errors occurred. (One or more errors occurred. (Operation timeout expired.)) ---> System.AggregateException: One or more errors occurred. (Operation timeout e

[2020-02-25 13:47] PHaastrup commented on #48540
Well…  now I have an agent and a GUI for monitoring jobs, but no GUI for creating jobs!

From: NavtejSaini-MSFT <notifications@github.com>
Sent: Tuesday, February 25, 2020 2:24 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: PHaastrup <peter@criipto.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Cannot setup from azure (#48540)

@PHaastrup <h

[2020-02-25 13:51] Pawel1985 commented on #48825
I've the same issue in West Europe, but also tried Easu US and
Ensure-KerbKeyExists : Unable to generate a Kerberos key for storage account:

[2020-02-25 13:52] damart23 opened #48877 "Virtual WAN Branch to Branch connectivity breaks if two VPN sites are connected to different gateway instances in the WAN"
Hello Team,
I would like you to add the limitation that if BGP is not active, and if you connect one VPN Device to one instance of the WAN VPN and connect another VPN Device to another VPN Site and in the second VWAN instance the Branch to Branch connectivity gets lost.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31

[2020-02-25 13:57] ujlm commented on #42861
I had the same issue, the following approach solved it for me:

1. Go to https://portal.azure.com > create new resource > web app > make sure to select latest Node version

2. Add the following web.config file in your node project folder:
(You might have to change "app.js" to "index.js" or whatever your filename is)
https://pastebin.com/6cNS5zgH

3. Also,make sure to use port 5000 in your app.js f

[2020-02-25 13:57] MGoedtel commented on #47500
#please-close due to inactivity with this issue.

[2020-02-25 13:57] #47500 closed

[2020-02-25 14:00] sonalinoolkar commented on #48800
Hello Mike,

PFA the document which describes the steps that I’d taken to setup replication between managed instances.
I am facing the same error which we discussed in the morning. However I was able to generate a snapshot of publisher db in Azure File Storage.

I executed all the steps mentioned in the article https://docs.microsoft.com/en-us/azure/sql-database/replication-with-sql-database-manag

[2020-02-25 14:04] jakaruna-MSFT commented on #48851
@amirgra
Thanks for the question! We are investigating and will update you shortly.

[2020-02-25 14:05] beniluul commented on #48271
ok this KB Article is perfect now. Let me know if you can ping the SaaSApp team for me to let them know to update the app in the catalog because it still has the old name and old logo.

[2020-02-25 14:08] jeastburn commented on #48694
Thanks @TravisCragg-MSFT. I think 3 actions per rule is sufficient for custom rules, but since custom rules MUST have a condition specified (you are directed to use the global rule if you want actions that always trigger), this means that you can only ever have 3 always-triggered actions. I suppose I could add custom rules with conditions that would always trigger as a workaround, but that isn't a

[2020-02-25 14:32] osemenyuk-114 opened #48878 "I suggest adding steps to create an AD computer account for an Azure storage account"
$ResourceGroup = "Storage-RG"
$StorageAccountName = "storage"
$StorageLocation = "UKSouth"
$StoradeSku = "Standard_LRS"

New-AzStorageAccount -ResourceGroupName $ResourceGroup -Name $StorageAccountName -SkuName $StoradeSku -kind StorageV2 -Location $StorageLocation

$StorageKey = New-AzStorageAccountKey -KeyName "kerb1" -ResourceGroupName $ResourceGroup -Name $StorageAccountName
$AccountPassword =

[2020-02-25 14:33] Jaykul opened #48879 "Please don't obscure the link to the ACTUAL documentation"
First, this URL is doesn't go anywhere:

&gt; https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet

This document is being linked to in error messages from a ResourceDeploymentFailure, but the _entire document is **mostly worthless**_, because rather than actually documenting the problem, it documents a script that it tak

[2020-02-25 14:33] adrianm64 commented on #48643
@DixitArora-MSFT,

Not sure what you replied to. What I meant was that this code
[code]
Works in Azure functions V2 but not in V3 because the binding in V3 uses `System.Text.Json` which does not recognize the `JsonProperty` nor deserializes `System.Uri` without a converter

[2020-02-25 14:34] jtuliani opened #48880 "Max throughput for single P2S connection?"
Doc states: "On a single tunnel a maximum of 1 Gbps throughput can be achieved. "

Then the table immediately after states 1.25Gbps can be achieved with GCMAES256.

So which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3113b20-0f6c-988e-444b-eff387f3ffef
* Version Independent ID: ded2a816-93c7-a4b3-1ec2-c29ce

[2020-02-25 14:37] Blackmist commented on #47789
Hi @bakerm00 thanks for reporting this and sorry for the delay in getting a response.

I've verified with the development team that Azure AD B2B was not specifically tested with Azure Machine Learning, so it's currently unsupported. I'll update the documentation to state this today.

The engineering team has taken a work item to test this scenario and make sure it works as expected for Azure Machi

[2020-02-25 14:43] v-pethur commented on #48283
Thank you all

[2020-02-25 14:46] gjongeneel commented on #22383
The requirement for a Azure AD Premium license is still not mentioned.

[2020-02-25 14:48] SubhashVasarapu-MSFT commented on #48880
@jtuliani , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-02-25 14:49] SubhashVasarapu-MSFT commented on #48866
@shuttlek ,  We are looking into this query and will update you as soon as possible.

[2020-02-25 14:50] SubhashVasarapu-MSFT commented on #48854
@insankim , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-02-25 14:52] SubhashVasarapu-MSFT commented on #48863
@evmimagina , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-02-25 14:55] onionhammer opened #48882 "Do tiles have to be images?"
If you have many large detailed geojson files, how do you load them in a tiled way depending on zoom level and position?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 669085c9-3219-fb26-c6b3-b35ec1800feb
* Version Independent ID: 671a5d20-61e8-ced7-bdca-17c2f17f99f1
* Content: [Add a tile layer to a map](https://docs.

[2020-02-25 14:57] dominicbetts commented on #48594
Hi @khilscher - thanks for getting in touch with your questions. I'll try to respond to each of your questions in turn:

1. In the article `info` is intended as an example interface name - it's not great example name to use so I've updated the article to make things a bit clearer by using `deviceInformation` instead.

2. The preview version of the REST API only allows you to interact with interfac

[2020-02-25 14:57] dominicbetts commented on #48594
#please-close

[2020-02-25 14:57] #48594 closed

[2020-02-25 14:58] sgdesmet opened #48883 "How to find out if a StringCollection contains a specific claim"
Is there a way to determine whether a `StringCollection` contains a particular claims' value? `StringCollectionContains` only appear to work with fixed string input parameters.

Hypothetical example:

    <ClaimsTransformation Id="HasRole" TransformationMethod="StringCollectionContains">
        <InputClaims>
            <InputClaim ClaimTypeReferenceId="roles" TransformationClaimType="inputClaim1

[2020-02-25 14:58] hileyj commented on #48389
I'm good with that, I think you answered my question. I just wanted to confirm I wasn't missing something regarding logging to a storage account with Linux.

[2020-02-25 15:03] Jont-K opened #48884 "Update term from "store" to "Marketplace" and add timing for tax payments"
1. should rename from "store" to "marketplace" to make current
2. no mention of timing - when are taxes remitted by Microsoft to respective tax authority?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 352fabb1-4d46-2884-1ead-ba0cbfb52a61
* Version Independent ID: 81097282-61a4-017a-296a-8e17a9755f50
* Content: [Tax de

[2020-02-25 15:04] corporateg opened #48885 "Complete Migration steps worded incorrectly."
This line under "Complete the Migration"

After the migration is done, right-click the VM &gt; Stop migration. This stops replication for the on-premises machine, and cleans up replication state information for the VM.

Should instead read:

After the migration is done, right-click the VM &gt; Stop Replication. This stops replication for the on-premises machine, and cleans up replication state inf

[2020-02-25 15:05] BharathNimmala-MSFT commented on #48452
@ramadarla Thank you for circling back with additional information.

[2020-02-25 15:05] EmanuelYuCorella commented on #47601
Hello Sorry for the delay on my response, after this post I opened a MS case and they help us to solve the issue that was related with the user and key.

Thanks for your help.

Regards

[2020-02-25 15:06] Pawel1985 commented on #48878
hmmm
New-AzStorageAccountKey : Key name kerb1 is not valid.

any idea why?

[2020-02-25 15:11] Blackmist commented on #47789
A warning has been added to this document about Azure Active Directory B2B being unsupported. It will go live later today.

#please-close

[2020-02-25 15:11] #47789 closed

[2020-02-25 15:14] Zongrenfeng opened #48886 "PowerShell Task does not support the Azure CLI cmd-lets like Submit-AzDataLakeAnalyticsJob"
I tried to create a powershell task to submit an U-SQL script as a job by follow the direction in this doc. However, when powershell run at the lines which contain Azure CLI cmd-let like Submit-AzDataLakeAnalyticsJob, Wait-AzDataLakeAnalyticsJob, it always failed with cannot find the cmdlet.

I also tried switch to use a Azure CLI task version 2, also meet the same issue. I found from the Azure CL

[2020-02-25 15:20] dominicbetts commented on #48511
Hi @isagrwl - I'm investigating further as to why you're seeing different results - I'll be back with an update shortly. Thanks for your patience.

[2020-02-25 15:27] bmoscon commented on #48570
If I move the dockerfile, then the tests no longer work (I run the tests from the container).

[2020-02-25 15:28] mamccrea commented on #46645
The new content has been published. There are two articles: one for how to determine who has deleted a cluster, and one for how to determine who has deleted a workspace. Hope this helps!

https://docs.microsoft.com/en-us/azure/databricks/kb/administration/who-deleted-cluster
https://docs.microsoft.com/en-us/azure/databricks/kb/administration/who-deleted-workspace

[2020-02-25 15:28] mamccrea commented on #46645
#please-close

[2020-02-25 15:28] #46645 closed

[2020-02-25 15:28] KalyanChanumolu-MSFT commented on #48879
@Jaykul Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-02-25 15:32] AgSync-Aaron commented on #48713
I will try it out. Thanks. I didn't see your message in time and wrote my own using the postgres views and functions.
[code]

[2020-02-25 15:36] dguimbellot opened #48887 "too complex"
logically you make money by selling us more vcpu, but i cannot easily see my constraint per region or cpu class. and really why do i want to specify cpu class??? that does not make sense. i change server types based upon need. i don't know what my need is yet. that might not be the case for everyone, but aws certainly makes this much easier.

why not some cost based slider or something instead of

[2020-02-25 15:40] ctm8788 commented on #47951
@simer99 I have emailed the requested HAR logs to the QnAMakerteam@microsoft.com email address.

[2020-02-25 15:42] sluu-pdr commented on #48288
Yes, it does look like I've setup my environment correctly. I have even been able to use a WinForms application to test the code and it works perfectly. For some reason it doesn't work with UWP application after modifying it slightly with different references since System.Data.Sql is no longer supported. My SQL environment is setup for Interactive MFA and works fine when logging in directly from S

[2020-02-25 15:51] hugobarona opened #48888 "[QUESTION] Databases with performance issues but using the Serverless Pricing Tier"
What happens when using databases with performance issues but using the Serverless Pricing Tier? Does the database advisor detects the performance issues, considering that the workloads running against the database will always consume low amount of resources (cpu, memory, etc.)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-25 16:02] RyanMannix commented on #48360
I found this stack post about the error.  https://stackoverflow.com/questions/60019624/azure-durable-functions-sample-says-sync-functions-are-not-allowed

It turns out the default version for azure functions is version 3 and that has a breaking change.  If you change to version 2 you should be fine.

From Overview tab, select Function app settings, then change the version.

[2020-02-25 16:13] tamram commented on #48320
@sebhe - thanks for your feedback! I have removed the preview designation in this article.

#please-close

[2020-02-25 16:14] BhargaviAnnadevara-MSFT commented on #48488
@kungfugeek While [Access Tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens) enable clients to securely call APIs protected by Azure, Personal Access Tokens (PATs) are more specific to authenticate into Azure DevOps, acting as alternate passwords. Also, access tokens _cannot_ be revoked and are valid until their expiry (making them vulnerable as a malicious acto

[2020-02-25 16:15] asudbring commented on #48796
Sent email to @anavinahar for clarification

[2020-02-25 16:16] corporateg opened #48889 "Step 1 under modify credentials is missing a word."
Step 1 under "Modify Credentials" says:

Modify credentials
If required, you can modify the credentials used to connect to the vCenter Server/vSphere host as follows:
Sign into the configuration .

Step 1 under "Modify Credentials" SHOULD say:

Modify credentials
If required, you can modify the credentials used to connect to the vCenter Server/vSphere host as follows:
Sign into the configuration s

[2020-02-25 16:16] asudbring commented on #48786
Assigning to PM for review and clarification

#reassign:@anavinahar

[2020-02-25 16:20] CKertz opened #48890 "ARM Template App Service Managed Certificates -"
Hello,

I am trying to automate the App Service Managed Certificate process via ARM Template, and am finding that for our deployments we ideally would like to create a certificate that can be used among multiple domains. In other words, some of our deployments can have between 1 or more domains needing certificates, and we're currently able to do that using LetsEncrypt, but ideally would like to m

[2020-02-25 16:21] BhargaviAnnadevara-MSFT commented on #48843
@blmiles Thanks for the response. I've routed this to the appropriate Team to investigate and update.

[2020-02-25 16:22] guntaled commented on #38292
@Grace-MacJones-MSFT - to clarify. When you say:
the outbound IP addresses are not static but normally does not change. Azure App Service does not support fixed outbound IP due to its architecture considerations, instead, you have a range of IPs that could be used.

Does that mean that when I query
(Get-AzWebApp -ResourceGroup $RG -name $name).PossibleOutboundIpAddresses
the result I get is the li

[2020-02-25 16:42] symbolthree opened #48891 "How to obtain metadata in Java"
In the sample code it does not have any reference of metadata property.  How does the binding work in Java ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a109c38e-b241-c9a2-7ef8-2e828659191c
* Version Independent ID: 69842b0f-607f-5cf5-6e1a-4d312c98100c
* Content: [Azure Event Hubs trigger for Azure Functions](https:

[2020-02-25 16:43] stdistef opened #48892 "IPv6 went GA in November - This page says IPv6 LB is Preview."
IPv6 went GA in November - This page says IPv6 LB is Preview.   "IPv6 support for Azure Virtual Network is currently in public preview. This preview is provided without a service level agreement and is not recommended for production workloads. Certain features may not be supported or may have constrained capabilities. See the Supplemental Terms of Use for Microsoft Azure Previews for details."

--

[2020-02-25 16:43] allyson-dev commented on #25273
Do we have an answer to this question. I've gotten the same error.
Permissions have been granted on the container side of the data lake, role based permission has been assigned (Contributor, storage blob owner), Ad authentication is being used. Still getting the access control error, 403 "This request is not authorized to perform this operation using this permission"

is there anyway to debug this

[2020-02-25 16:43] ghills commented on #48029
@IEvangelist perhaps someone can correct me if I am missing something here- but when I click the link in the Container Registry section to access the request form (https://aka.ms/FormRecognizerRequestAccess) I still get:

[2020-02-25 16:43] roygara commented on #48840
@swieder Thanks for reaching out, I'll try to clarify:

While 11.2 adds some capability for 4k sector size, ultra disks are not supported with 11.2. You would require 12.2 or later for official support. So the article is correct.

@jakaruna-MSFT Would you mind swapping this to product question? This isn't a doc bug. :)

#please-close

[2020-02-25 16:44] #48840 closed

[2020-02-25 16:48] mukdenchild opened #48893 "Stuck on submitting experiment to Azure ML"
Got stuck on run experiment. VS code shows submitting experiment to Azure ML forever. No run is generated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5b90fbd-19a9-4fe7-032b-765457549f30
* Version Independent ID: a23a02a5-23fd-9935-4031-b943aa468030
* Content: [Train a neural network with TensorFlow - Azure Machine

[2020-02-25 16:49] cynthn commented on #48839
@DavidBerg-MSFT David, can you comment on the SpecInt results for the B-series?

[2020-02-25 16:49] cynthn commented on #48839
@DavidBerg-MSFT David, can you comment on the SpecInt results for the B-series?

[2020-02-25 16:55] davidsmatlak commented on #48889
#assign:davidsmatlak

[2020-02-25 16:56] dejan-shuki commented on #48852
How do you add keyvault URL and Resource ID using databricks CLI?
(sometimes GUI is not available - I do not know why)

[2020-02-25 16:58] davidsmatlak commented on #48889
Thank you for the feedback. I'll review the document and make the correction.

[2020-02-25 17:00] PeterCLu commented on #47733
@BBirdselllab  Thanks for your report. We hope this answers your questions, we shall proceed to close this issue, #please-close.  If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

Our team will investigate adding a warning for the VM sizing.

[2020-02-25 17:01] murraywsmith opened #48894 "how can I change the canvas size in microsoft threat modeling tool"
My canvas is pretty full and I would like to make the canvas a little bigger but I can't seem to find a way to do that. Is it possible to change the canvas size?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d20fd86-0574-fa1b-563e-1f1b571f9c11
* Version Independent ID: 3d3c31ea-b3e9-a610-dcda-4d047e20b57f
* Content:

[2020-02-25 17:05] #47733 closed

[2020-02-25 17:05] ChristianMontoya commented on #48768
@agassijoelbrio : If you want to have a personal desktop for 3 users, you only need to create one host pool, where you mark it as a personal desktop host pool. You would then create and register 3 different VMs to be session hosts, then assign those 3 users.

You do not need to add any additional administrators. If you would like to be able to login to the VM as an admin, I would recommend going t

[2020-02-25 17:07] ChristianMontoya commented on #48768
@agassijoelbrio : If you want to have a personal desktop for 3 users, you only need to create one host pool, where you mark it as a personal desktop host pool. You would then create and register 3 different VMs to be session hosts, then assign those 3 users.

You do not need to add any additional administrators. If you would like to be able to login to the VM as an admin, I would recommend going t

[2020-02-25 17:08] tamram commented on #48449
#reassign: @normesta

[2020-02-25 17:13] PeterCLu commented on #48850
@lurifaxel Thanks for your report. The article fix will be live in a few hours. I shall proceed to close this issue, #please-close.  If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2020-02-25 17:15] PeterCLu commented on #48868
Hi @pbartos can you provide more information for your issue? What is the Regex you are trying to run?

[2020-02-25 17:15] OffColour commented on #48131
@tfitzmac Hi, this doesn't work unfortunately. Using the built-in policy "Inherit a tag from the resource group" which has mode set to indexed tries to apply tags to the following types:

microsoft.insights/actionGroups
microsoft.operationsmanagement/solutions
microsoft.network/networkWatchers/connectionMonitors
microsoft.network/networkWatchers/flowLogs
Microsoft.Network/trafficManagerProfiles

T

[2020-02-25 17:15] OffColour commented on #48131
@tfitzmac Hi, this doesn't work unfortunately. Using the built-in policy "Inherit a tag from the resource group" which has mode set to indexed tries to apply tags to the following types:

microsoft.insights/actionGroups
microsoft.operationsmanagement/solutions
microsoft.network/networkWatchers/connectionMonitors
microsoft.network/networkWatchers/flowLogs
Microsoft.Network/trafficManagerProfiles

T

[2020-02-25 17:17] sinkari-kassim opened #48895 "Command seems missing"
In the "Create and test local functions" section, the 3rd point says "Run the following command for your chosen language to create a function app project in a folder named LocalFunctionsProject"
 but there doesn't seem to be any command.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229

[2020-02-25 17:18] BhargaviAnnadevara-MSFT commented on #48853
@Jayesh040 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-02-25 17:19] IEvangelist commented on #48029
This is the link that you should use: [https://aka.ms/FormRecognizerContainerRequestAccess](https://aka.ms/FormRecognizerContainerRequestAccess), I'm updating the docs now.... I was told the alias was the same as it was before.

[2020-02-25 17:20] #48818 closed

[2020-02-25 17:20] SubhashVasarapu-MSFT commented on #48861
@SunnyXiao , We are looking into this query and will update you as soon as possible.

[2020-02-25 17:20] #48850 closed

[2020-02-25 17:21] dennis-yemelyanov opened #48896 "Enable Local Cache in staging slot"
We are thinking about enabling Local Cache to reduce the frequency of app restarts due to Azure storage upgrades.

We want staging and production slots to be identical (have Local Cache enabled for both slots) to avoid additional restarts during swap, but this page mentions that Local Cache is typically not enabled for a staging slot: "You typically don't set the staging slot to use Local Cache to

[2020-02-25 17:21] #48546 closed

[2020-02-25 17:23] DavidBerg-MSFT commented on #48839
I agree, that's a good point.  I'm not sure I have all the relevant details handy; however, we should at least put a general note to point out how bursting impacts the performance.  In general, SPEC INT is a fairly long running test so bursting limits will be hit (as opposed to CoreMark that we use in Linux which is a quick running test that typically fits within the burst limit).

[2020-02-25 17:24] SubhashVasarapu-MSFT commented on #48572
@lmurthy-git , Appreciate your patience. We have assigned this issue to the respective content author for updating the document accordingly.

[2020-02-25 17:27] DavidBerg-MSFT commented on #48839
I agree, that's a good point.  I'm not sure I have all the relevant details handy; however, we should at least put a general note to point out how bursting impacts the performance.  In general, SPEC INT is a fairly long running test so bursting limits will be hit (as opposed to CoreMark that we use in Linux which is a quick running test that typically fits within the burst limit).

[2020-02-25 17:27] PeterCLu commented on #48234
Thanks for your report. We hope this answers your questions. We shall proceed to close this issue, #please-close.  If you feel that your issue has not been resolved, please reopen the documentation issue and provide additional context. For product issues, contact technical support.

[2020-02-25 17:27] zaalion opened #48897 "Azure Blueprints was unable to obtain owner permissions for the specified subscription."
Hello, I get the following error when trying to assign my BP to a subscription. Wondering how to resolve it.

Azure Blueprints was unable to obtain owner permissions for the specified subscription.

Any help appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b33f46-674b-d3ef-7644-4422927625b3
* Version Indep

[2020-02-25 17:28] BhargaviAnnadevara-MSFT commented on #48368
@brahmi89 Glad it worked for you! Thanks for the update.

[2020-02-25 17:31] SaurabhSharma-MSFT commented on #48712
@Bartolomeus-649 You do not have Premium license associated with your tenant and thus you are not able to get the sign-in activity report.  Please refer to the [link](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-get-started-premium) to upgrade your Azure AD license to premium.
Also, prerequisites to get sign-in activity reports are available [here](https://

[2020-02-25 17:32] dparraga opened #48898 "Feature Status"
The top of the article has the message "This feature is in public preview." Is there a time line for when it'll be a fully supported feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1376f79b-474f-4b83-2583-07acd2eeb2f4
* Version Independent ID: 45d314dd-c9fa-50a5-cb39-d34db80c7874
* Content: [Configure Azure AD

[2020-02-25 17:33] AshokPeddakotla-MSFT commented on #48685
@ticianaciminari Initially you have mentioned you are connecting Raspberry Pi to Remote monitoring and now looking for suggestions to connect with TSI.
For the authentication issue, please ensure that you have access to the subscription and required privileges to grant access.

To access Time Series Insights you need to configure data access policy. Here is the doc that helps to [Integrate Azure T

[2020-02-25 17:34] #48234 closed

[2020-02-25 17:36] SaurabhSharma-MSFT commented on #48894
@murraywsmith Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-25 17:37] SaurabhSharma-MSFT commented on #48883
@sgdesmet Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-25 17:38] SaurabhSharma-MSFT commented on #48873
@dotnetgator Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-25 17:39] AshokPeddakotla-MSFT commented on #48467
@fgheysels They are two separate things - edge device identity (in this case using TPM) and edgeHub server cert so that module and downstream devices can connect locally. Rolling DPS certs currently is separate from edgeHub certificate management so won't help.

[2020-02-25 17:40] SaurabhSharma-MSFT commented on #48871
@BertV1 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-25 17:43] ghills commented on #48029
That did it - thanks

[2020-02-25 17:44] SaurabhSharma-MSFT commented on #48898
@dparraga Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-25 18:00] DCtheGeek commented on #48897
#assign:DCtheGeek

[2020-02-25 18:04] DCtheGeek commented on #48897
@zaalion Sorry you are running into that.  There are several possible causes for this.  The best way to get help is to open a [support ticket](https://azure.microsoft.com/support/create-ticket/) since this isn't an issue with the docs.  Thanks!

@MicrosoftDocs/azure-cxp-triage Please label 'product-issue' and #please-close.

[2020-02-25 18:04] #48897 closed

[2020-02-25 18:06] MartinJaffer-MSFT commented on #48855
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-02-25 18:06] PeterCLu commented on #48242
@Rohini-MSFT , any update on the notebook PR?

[2020-02-25 18:12] tfitzmac commented on #48131
Those resource types all have a tags property in the REST API. I also tested adding tags to trafficManagerProfiles, and it worked fine. Perhaps there is something else that is causing non-compliance.

[2020-02-25 18:13] MartinJaffer-MSFT commented on #48886
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-02-25 18:14] tamram commented on #48667
@aalewismsft - thanks for your feedback! Can you tell us more about what you are looking for, beyond what's in the documentation?

Feel free to reach out to me internally if you want to.

[2020-02-25 18:18] mmacy commented on #46872
As there's been no response by @yashwanth-yenugu for 26 days, closing this one out. If you feel this has been done so prematurely, please don't hesitate to comment further.

#please-close

[2020-02-25 18:18] #46872 closed

[2020-02-25 18:20] mmacy commented on #46866
Closing this one out as answered, @Tinus-schwalyk. If you feel it's been closed prematurely, please don't hesitate to comment further on this issue.

#please-close

[2020-02-25 18:20] #46866 closed

[2020-02-25 18:21] mmacy commented on #46761
Closing this one out, @Norrch2. If you feel it's been closed prematurely, please don't hesitate to comment further on this issue.

#please-close

[2020-02-25 18:21] #46761 closed

[2020-02-25 18:22] tamram commented on #48320
#reassign: @roygara

[2020-02-25 18:24] tfitzmac commented on #40486
@joostm1 - I decided the subscription limit per AAD tenant made more sense at the top of the table. Hopefully, that will make it more visible. The update should get published today.

[2020-02-25 18:24] tfitzmac commented on #40486
#please-close

[2020-02-25 18:24] #40486 closed

[2020-02-25 18:24] SamaraSoucy-MSFT commented on #48794
@sahilpnckr123 What specifically are you trying to do? The `Enable-ApplicationInsightsMonitoring` doesn't have a proxy parameter, which is why it isn't showing up in the ISE.

The [Application Insights FAQ](https://docs.microsoft.com/en-us/azure/azure-monitor/faq#proxy-passthrough) has some information on configuring App Insights to deal with configuring proxies to allow App Insights data if that

[2020-02-25 18:25] Mike-Ubezzi-MSFT commented on #48288
@GithubMirek Can you assist with the following: `For some reason it doesn't work with UWP application after modifying it slightly with different references since System.Data.Sql is no longer supported.` Can this code sample be tweaked for UWP application?

[2020-02-25 18:26] kbourne commented on #30761
I got to this page directly from their main Mobile back end page marketing their app service.  It is 2/25/2020.  This information is completely out of date, and they haven't updated the iOS-Swift client starter code since Dec 1 2016!  It is still on Swift 3.  That's insane!  You'd think Microsoft went out of business with this level of software support.  I would recommend NOT to start a mobile pro

[2020-02-25 18:28] Mike-Ubezzi-MSFT commented on #48288
@sluu-pdr I did find the following which uses `System.Data.SqlClient` - [Use a SQL Server database in a UWP app](https://docs.microsoft.com/en-us/windows/uwp/data-access/sql-server-databases) but not sure if this applies to Azure SQL Database.

[2020-02-25 18:29] jovancosta-bairesdev opened #48899 "error while syncing git history. your credentials are invalid. please replace them at the user settings page"
I've followed these instructions and I'm receiving this error. I can't understand what could be this problem. I'm logged on databricks and devops with the same login/pwd

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af5036fb-6d7d-d6f4-3e52-bdaca5960724
* Version Independent ID: 44ee8dfe-9a8b-7d1f-2d48-82236c473a4f
* C

[2020-02-25 18:41] seanalexander opened #48900 "error: --spot_max_price can only be set when --priority is Spot"
I get the following error when running the tutorial step by step from the Azure Cloud Shell:

sean@Azure:~$ az version
This command is in preview. It may be changed/removed in a future release.
{
  "azure-cli": "2.1.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.1.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "aks-preview": "0.4

[2020-02-25 18:41] eflamm opened #48901 "AzCopy syntax has changed completely with V10"
The whole paragraph captioned Data transfer with AzCopy is not accurate if the user installs the current release of AzCopy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b04a28c3-81d7-123d-5b16-6642636c07a8
* Version Independent ID: 2179498b-00e8-1c9d-bd11-4a903ae3ad52
* Content: [Quickstart - Create a blob with Power

[2020-02-25 18:43] #48438 closed

[2020-02-25 18:44] roygara commented on #48320
@sebhe Thanks for reaching out, I'll try to help clarify any confusion here.

Azure Active Directory Domain Services (Azure AD DS) authentication for Azure Files is GA.

 Active Directory (AD) authentication for Azure Files is in preview.

These docs were updated this week to reflect all of that so they should be clear now.

Let me know if that clears things up, and I'll go ahead and close this ou

[2020-02-25 18:45] ecfan commented on #45210
Hi @scleynen,

I'm not seeing the actions in your screenshot. Do you still see them? The ISE version should show these actions instead:

![image](https://user-images.githubusercontent.com/13206671/75276906-e32b7b80-57bb-11ea-9ea0-022c7646c816.png)

[2020-02-25 18:47] Grace-MacJones-MSFT commented on #48867
Hi @zffocussss, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-25 18:49] davidsmatlak commented on #48889
I submitted the fix for this issue and when it merges, this issue will automatically close. The updated document will be online within 24 hours.

[2020-02-25 18:51] #47778 closed

[2020-02-25 18:51] FrankHu-MSFT commented on #47778
Issue has been addressed and docs are being changed.

[2020-02-25 18:55] Grace-MacJones-MSFT commented on #48896
Hi @dennis-yemelyanov, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-02-25 18:59] MicrosoftGuyJFlo commented on #48774
@valentijnscholten I hate to be the bearer of bad news but [baseline protection policies](https://docs.microsoft.com/azure/active-directory/conditional-access/concept-baseline-protection) are [going away, per this announcement](https://docs.microsoft.com/azure/active-directory/fundamentals/whats-new#replacement-of-baseline-policies-with-security-defaults).

While in the initial preview phase of ba

[2020-02-25 19:05] #48793 closed

[2020-02-25 19:06] mhopkins-msft commented on #48869
Hi @ruthbacci, thank you for the feedback! I've fixed these typos and pushed the updated content. It will be published later today.

Thanks!
 ~ _Mark_

#please-close

[2020-02-25 19:06] #48869 closed

[2020-02-25 19:15] SaurabhSharma-MSFT commented on #48729
@dotnetgator Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

@mmacy can you please help adding some information around the ask.

[2020-02-25 19:24] Karishma-Tiwari-MSFT commented on #48682
A PR has been created with the update, changes will be live shortly. Thanks @zr-msft :)
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-25 19:24] #48682 closed

[2020-02-25 19:25] schellem commented on #48495
Hi,

After reviewing the EF Tools link you sent, I think that there is something
else missing for a new Core but very experienced Microsoft developer.
Things seems to be different if you are a Visual Studio based (typical
Microsoft developer) developer or one coming from non MS toolsets.

On Tue, Feb 25, 2020 at 5:03 AM SnehaAgrawal-MSFT <notifications@github.com>
wrote:

[2020-02-25 19:25] cherylmc commented on #43535
#assign:charwen

[2020-02-25 19:25] NavtejSaini-MSFT commented on #48855
@RBStarkey Please provide the screen shots for what you see and what exactly you see while doing this.

[2020-02-25 19:26] Karishma-Tiwari-MSFT commented on #48274
@TomArcherMsft Did you get a chance to take a look at this issue? Thanks :)

[2020-02-25 19:26] cherylmc commented on #42735
#reassign:charwen

[2020-02-25 19:26] Karishma-Tiwari-MSFT commented on #48343
@MashaMSFT Do you have any insights to share on this customer's question. Thanks :)

[2020-02-25 19:28] #48889 closed

[2020-02-25 19:28] Karishma-Tiwari-MSFT commented on #48679
@bitsofinfo Is there any update? Please share the details as asked above so that we can assist you better. Thanks :)

[2020-02-25 19:28] yvesgermain opened #48902 "Error deleting subnet serviceAssociationLinks AppServiceLink"
When trying to delete a subnet in Azure, I get the following message: Failed to save subnet 'devops-subnet'. Error: 'Subnet GumSite-rg-devops/providers/Microsoft.Network/virtualNetworks/Devopsvnet/subnets/devops-subnet'>Devopsvnet/devops-subnet requires any of the following delegation(s) [Microsoft.Web/serverFarms] to reference service association link /subscriptions/**************/resourceGroups/

[2020-02-25 19:29] BharathNimmala-MSFT commented on #48853
@Jayesh040 Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-25 19:30] cherylmc commented on #39840
#reassign:charwen

[2020-02-25 19:30] Karishma-Tiwari-MSFT commented on #48655
@yyanev Would you be able to share insights on the customer's scenario? Thanks :)

[2020-02-25 19:31] cherylmc commented on #37727
#please-close

[2020-02-25 19:31] #37727 closed

[2020-02-25 19:32] cherylmc commented on #34591
#reassign:charwen

[2020-02-25 19:32] PRMerger14 commented on #34591
charwen is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-02-25 19:33] cherylmc commented on #34591
#reassign:charwen

[2020-02-25 19:34] mikenri opened #48903 "Powershell steps do not work"
The steps provided for PowerShell do not work.

It returns:

Exception calling "Add" with "1" argument(s): "Collection was of a fixed size."
At line:1 char:1
+ $tags.Add("HideApp")
+ ~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [], MethodInvocationException
    + FullyQualifiedErrorId : NotSupportedException

In addition, if you do this manually by for example running:

Set

[2020-02-25 19:35] cherylmc commented on #33515
#reassign:charwen

[2020-02-25 19:36] asudbring commented on #48796
Made change in https://github.com/MicrosoftDocs/azure-docs-pr/pull/105485#event-3070717003
#please-close

[2020-02-25 19:36] #48796 closed

[2020-02-25 19:36] SaurabhSharma-MSFT commented on #48898
@dparraga Sorry but I am not in a position to share any dates for the GA release. The product team is working on the feature to be GA and will communicate accordingly in public.

[2020-02-25 19:37] dcvtruong commented on #48274
Someone has reported the issue at the TF git repo, https://github.com/terraform-providers/terraform-provider-azurerm/issues/5866

[2020-02-25 19:39] fgheysels commented on #48467
Ok, good to confirm that those are separate things.  However, there's no real guidance on how to roll edgeHub certificates on the devices, is there ?

[2020-02-25 19:39] KranthiPakala-MSFT commented on #48865
@thucnguyen77 Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-02-25 19:42] kjayantmenon opened #48904 "Running Spark on Azure"
There are actually more than 2 ways of running Spark on Azure including running Spark Jobs on AKS - https://docs.microsoft.com/en-us/azure/aks/spark-job

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71093e2a-bbff-3a79-5f16-289a3a5f6cd7
* Version Independent ID: e4e9873d-0ae7-25a4-16d1-5ecac6e84b91
* Content: [Capture

[2020-02-25 19:42] kmccullagh19 opened #48905 "Confusing Rhetoric about supported VM instances"
"On instances that support hyperthreading, Accelerated Networking is supported on VM instances with 4 or more vCPUs. Supported series are: D/Dsv3, E/Esv3, Fsv2, Lsv2, Ms/Mms and Ms/Mmsv2." is confusing because you can deploy a E16as_v4 VM with accelerated networking despite it not explicitly supporting hyper-threading in the documentation. Also, this documentation has not been updated since Jan 20

[2020-02-25 19:43] jos1977 opened #48906 "App Service Linux: VNET integration causes application and docker to not respond at all"
Hi all,

I know the VNET integration is still in Preview, however i hope someone can still help me out with our current issue. I have on my developer tenant an app service linux with VNET integrated to access a Storage account (v2) behind VNET.  The web service application is python based and makes use of gunicorn/flask for http requests and azure.storage.blob  package for interfacing with the sto

[2020-02-25 19:44] NavtejSaini-MSFT commented on #48888
@hugobarona We are checking this and will get back to you.

[2020-02-25 19:47] BharathNimmala-MSFT commented on #48868
@pbartos Thank you for your query and as requested by @PeterCLu if you share additional information that would help us to direct your question accordingly.

@PeterCLu Thank you for helping on this thread.

[2020-02-25 19:47] rajaniesh commented on #25273
I am facing exactly this issue after I mount my Data lake to the databricks.

[2020-02-25 20:01] AjayKumar-MSFT commented on #48513
Thanks for follow-up and sharing more details. Yes, thumbprint validation is perfectly acceptable.

[2020-02-25 20:06] gerardvanderland opened #48908 "Missing " in PowerShell command"
The last PowerShell command on the page has a " missing

$lvl = "CanNotDelete

should be:

$lvl = "CanNotDelete"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0290c16b-f205-94bb-23c3-4981ec8b0ac3
* Version Independent ID: 3ad049c0-a292-c616-06e6-8d7b4b3dd756
* Content: [Protecting DNS Zones and Records - Azure DNS](ht

[2020-02-25 20:25] shashankkr opened #48909 "Default peek lock duration"
"The Complete or Deadletter operations as well as the RenewLock operations may fail due to network issues, if the held lock has expired, or there are other service-side conditions that prevent settlement."

What is the default expiry time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9b369e0-e366-4f99-2f94-b045437d7

[2020-02-25 20:28] mganeshphani opened #48910 "need an example on how to upload file to blob storage using output binding"
There is no clear documentation on how to output to blob storage using powershell.. please provide one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910d4732-bb08-d16a-a932-19c6bd1628c2
* Version Independent ID: af4358c7-cb5c-bdc7-6433-289f47dc186b
* Content: [Azure Blob storage output binding for Azure Functions](htt

[2020-02-25 20:29] SaurabhSharma-MSFT commented on #48740
@motim6026 Unfortunately, this is not possible currently via API.  I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate fee

[2020-02-25 20:30] AjayKumar-MSFT commented on #48637
As highlighted in the initial section of the document - "A workflow is defined by a YAML (.yml) file in the /.github/workflows/ path in your repository. This definition contains the various steps and parameters that make up the workflow. " - This document aims at demonstrating key concepts with step-step instructions on how **GitHub Actions** helps build an automated software development lifecycle

[2020-02-25 20:30] #48637 closed

[2020-02-25 20:30] SaurabhSharma-MSFT commented on #47492
@hugo-paredes We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-25 20:30] #47492 closed

[2020-02-25 20:31] KranthiPakala-MSFT commented on #48484
@chriskim0101 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-02-25 20:31] #48484 closed

[2020-02-25 20:44] rbrundritt commented on #48882
The approach in that case is to convert your GeoJSON files into a vector tile layer. Azure Maps supports the open standard for vector tiles defined by Mapbox. https://github.com/mapbox/vector-tile-spec There are many tools available for converting GeoJSON files into vector tiles: https://github.com/mapbox/awesome-vector-tiles

From there, simply pull your data in using the atlas.source.VectorTileS

[2020-02-25 20:45] Toukiletoukan opened #48911 "Need more documentation regarding data-preload="true""
Hi,

Could you please give us more information about 1.2.0 layout version, regarding data-preload="true" tag ?
I've added it in my css link in the head section of my custom signup page but it's still flickering.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4272fbd-ad3d-6099-39bc-966320101b03
* Version Indepe

[2020-02-25 20:48] MarileeTurscak-MSFT commented on #48688
Hi @trevonmckay

There are some guidelines for this here. https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups

Let me know if this helps!

Since this is more of a product question than a doc issue we can continue the discussion on Q&A if needed.  Here's the link to that: https://docs.microsoft.com/answers/topics/azure-active-directory.htm

[2020-02-25 20:48] #48688 closed

[2020-02-25 20:50] BharathNimmala-MSFT commented on #48885
@corporateg Thank you for bringing this to our notice , will correct the document accordingly.

[2020-02-25 20:54] TingyiLi commented on #5717
@elepherai Hi, sorry to bother, but your situation is exactly what I am struggling with. Could you spend a few minutes telling me how you solved it to deploy the aml model on arm32? Many thanks!

[2020-02-25 20:54] mike-urnun-msft commented on #48874
@mregni Thank you for your feedback! We will review and update as appropriate.

[2020-02-25 20:54] BharathNimmala-MSFT commented on #48884
@Jont-K Thank you for your feedback and query, will further look into it and get back to you at the earliest.

[2020-02-25 20:55] sanjaydatasciencedojo commented on #47446
@lyrana We are planning to use it in one of our training classes. Thank you for your help.

[2020-02-25 20:55] asudbring commented on #48908
Fixed
https://github.com/MicrosoftDocs/azure-docs-pr/pull/105500
#please-close

[2020-02-25 20:55] #48908 closed

[2020-02-25 20:55] mike-urnun-msft commented on #48891
@symbolthree Thank you for your feedback! We will review and update as appropriate.

[2020-02-25 20:56] mike-urnun-msft commented on #48895
@sinkari-kassim Thank you for your feedback! We will review and update as appropriate.

[2020-02-25 20:57] mike-urnun-msft commented on #48909
@shashankkr Thank you for your feedback! We will review and update as appropriate.

[2020-02-25 20:57] BharathNimmala-MSFT commented on #48872
@philippkahr Thank you for your query, will further look into it and get back to you at the earliest.

[2020-02-25 20:57] mike-urnun-msft commented on #48910
@mganeshphani Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-02-25 20:59] Bartolomeus-649 commented on #48712
With Office 365 E3 you have access to MFA. How do you check for legacy authentication use with an Office 365 E3 subscription?

[2020-02-25 20:59] BharathNimmala-MSFT commented on #48875
@ashishsober  Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on MSDN or Stack Overflow. Thank you for your understanding.

[2020-02-25 20:59] TingyiLi commented on #5717
@melzoghbi  Hi, sorry to bother, if azure ml is still not supporting arm processor now, could you please tell me how you deployed your azure ml model on an arm32 iot device? Many thanks?

[2020-02-25 21:00] yyanev commented on #48655
ChallengeResponseAuthentication and PasswordAuthentication don’t work well together in SSHD. I think ChallengeResponseAuthentication for local users works the same way as PasswordAuthentication but the authentication itself is handled by the PAM module instead of directly by SSHD.

Once the AAD integration is enabled, all AAD users must use device codeflow. They cannot use other authentication met

[2020-02-25 21:09] danimir commented on #48888
Only if database runs for sufficient amount of time in terms of at least 1 day can the system make performance recommendations. Otherwise if the database is offline a lot, no performance recommendations can be calculated by the system.

[2020-02-25 21:09] Mike-Ubezzi-MSFT commented on #11807
@ekaitzht We are investigating this, and is actively being escalated.

[2020-02-25 21:14] philippkahr commented on #48872
@BharathNimmala-MSFT  I did open up a support ticket at microsoft. they told me regarding the IP address I see as an error in the windows event logs:

[code]

The case ID would be 120022424003330 if you can dig in there.

I guess, maybe just stating that this error is a common one and does not mean that there is a real error would be enough for me.

[2020-02-25 21:18] mslot opened #48912 "Docker"
Does this affect deploying containers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd2779f-df70-05e1-0589-8220f850a44f
* Version Independent ID: c1118090-18b5-f630-d4b0-c588328a4b5a
* Content: [Run your Azure Functions from a package](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deploym

[2020-02-25 21:34] dikson88512-ai commented on #25273
I have an articlel, https://diksoncalderon.blogspot.com/2020/02/azure-read-data-data-lake-gen2-from.html
I hope it helps you

[2020-02-25 21:35] artisticcheese opened #48913 "How built-in security policies being collected and evaluated?"
Build in security polices seems to be relying on Resource Provider `Microsoft.Security` and  checking various values under `/complianceResults/resourceStatus`. Where those can be seen without waiting for Azure Security Center to be updated?  I do not see those neither under `Resources` in portal or under `Resource Graph Explorer`

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-02-25 21:43] guntaled commented on #40356
Is that correct? Firewall on the storage account cannot be enabled? Is there a way to enable it, adding Azure Functions outbound Ips?

[2020-02-25 21:43] JimacoMS3 commented on #47539
@rezasherafat Can you please confirm the above? Thanks!

[2020-02-25 21:44] Jont-K commented on #48884
(+Brian Levenson fyi)

Thank you.  I've also noted the following:

1. Description field - the document says the character limit is 3k, but
does not explicitly say the 3K limit includes html markup.  Please clarify
this language
2. Medium image - the listing process require's a medium image but the
document and the listing text say only a small and large are required.
3. Medium image error statemen

[2020-02-25 21:52] paulbouwer commented on #48804
@ticianaciminari - you can go ahead and close this issue. Thanks.

[2020-02-25 21:58] asubmani commented on #46569
This can be done using az cli commands:

Get all role assignments for this Identity

[code]

[2020-02-25 22:00] trevor-schmidt commented on #46569
We utilize PowerShell heavily but cli is an option. We just were hoping that we could use the resource graph to query it.

[2020-02-25 22:11] langstonj opened #48916 "Blob (block blobs and append blobs only) - footnote 3 confirmation"
"The Archive tier is available at level of an individual blob only, not at the storage account level. Only block blobs and append blobs can be archived. For more information, see Azure Blob storage: Hot, Cool, and Archive storage tiers."

I am using server-level auditing, the account kind is BlobStorage, on the Standard access tier.  In the portal, I select Change tier for an append blob audit log

[2020-02-25 22:15] ArjunMenonUK opened #48917 "Application Insights configuration web API"
I have created a library project for writing logs into ApplicationInsights as well as table storage and is being consumed my different other WebAPI projects. But due to some reason the logs are not getting logged in Application Insights but it works with table storage.

private void AddTelemetryTarget(string instrumentationKey, LoggerEnumerations.LogLevel minLogLevel, LoggingConfiguration config)

[2020-02-25 22:16] vhorne commented on #48254
Article updated.
#please-close

[2020-02-25 22:17] #48254 closed

[2020-02-25 22:18] vhorne commented on #48256
article updated
#please-close

[2020-02-25 22:18] #48256 closed

[2020-02-25 22:19] vhorne commented on #46350
article updated
#please-close

[2020-02-25 22:19] #46350 closed

[2020-02-25 22:19] aholler2 commented on #48449
This doc is linked to when referencing how to create a Data Lake Store Gen2 as seen on this page: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-quickstart-create-databricks-account

[2020-02-25 22:22] manaccar opened #48918 "Prerequisites - section"
look like the “UnifiedAuditLogIngestionEnabled” must be enabled regardless of the licensing, the docs should provide this as a requirement not as an optional one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f16c2431-da39-7c6b-a6d1-1b71cb9cd069
* Version Independent ID: 9bd4d8ff-ece6-6ac3-b93e-6f78a5673329
* Content:

[2020-02-25 22:25] BharathNimmala-MSFT commented on #48884
@Jont-K Thank you for sharing additional information, assigning this to Brian to further look into it.

[2020-02-25 22:25] samdotme opened #48919 "Minor typo"
The sentence that reads "Visual Studio's must be run as Administrator to connect the debugger", should probably say "Visual Studio" instead of "Visual Studio's".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8adfa1c-0bb9-c112-3463-0d655a3e7cd1
* Version Independent ID: ef09b17d-cebf-56ca-7f59-71dba2dc3123
* Content:

[2020-02-25 22:33] tymoor opened #48921 "eventGrid output binding for js"
Is this output binding for javascript already available?  It does not appear as an option in the portal's function designer, and when I code it manually I get an error stating: 'Error: The binding type(s) 'eventGrid' are not registered.'  ... it also doesn't appear in the extensions listed here: https://github.com/Azure/azure-functions-extension-bundles/blob/master/src/Microsoft.Azure.Functions.Ex

[2020-02-25 22:37] gaikovoi commented on #40356
@guntaled yes, storage account used by functions runtime (e.g. the one from WEBSITE_CONTENTAZUREFILECONNECTIONSTRING) will be inaccessible by infrastructure if firewall is enabled. Just enable account audit logging, enable firewall and restart the function app. You will see in the logs failed access attempts from 100.x.y.z IP. This is some special IP used by Azure infrastructure, even if you white

[2020-02-25 22:37] alex-mason-jdas commented on #47703
https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens

This document for email under id tokens indicates that it is enough to ask for the email scope for addressable email. I don't understand if this is wrong or I am still missing something.

[2020-02-25 22:38] guntaled commented on #40356
Thanks!

[2020-02-25 22:41] lisaguthrie commented on #48148
Hi @ajfurst - thanks for your feedback. I'm not able to repro this. The FontSize value is loaded correctly from App Config even on the original render. Are you seeing the other settings loading correctly on original render? I did notice that there should be a "px" after the FontSize value -- perhaps it's a browser issue, i.e. certain browsers rendering incorrectly when the px is missing?

[2020-02-25 22:42] ArjunMenonUK commented on #48917
One update. I can't find the ApplicationInsights.config file in my project

[2020-02-25 22:42] TravisCragg-MSFT commented on #48905
@kmccullagh19 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-25 22:55] TravisCragg-MSFT commented on #48694
@jeastburn Thanks for the follow up. let me know if you need any additional assistance.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

@mdgattuso FYI

[2020-02-25 22:55] #48694 closed

[2020-02-25 22:56] SnehaGunda commented on #48215
The API reference docs will be removed by EOD Tuesday next week. We will now close this issue.

#please-close

[2020-02-25 22:56] #48215 closed

[2020-02-25 23:03] GiftA-MSFT commented on #48893
@mukdenchild we will review your feedback and get back to you shortly. Thanks.

[2020-02-25 23:05] rezasherafat commented on #47539
Thanks @danewalton -- confirming that status code of successful twin get is 200 and successful twin patch is 204.

@JimacoMS3, can you please update the doc page? Thanks.

[2020-02-25 23:08] GilbertZhangPfd commented on #48629
Missing "6. Select Feature Manager > +Add to add a feature flag called Beta." part

[2020-02-25 23:13] TheChadR opened #48923 "Missing URL for Log Analytics Agent"
Hi All,

Please can you look at adding the following URL to the list of required ones that are needed for the Log Analytics agent to work as expected.
*.agentsvc.azure-automation.net

When running the TestCloudConnection.exe tool which is part of the Agent (under C:\Program Files\Microsoft Monitoring Agent\Agent\) the above URL is mentioned as needing to be opened.

Thanks
TheChad

---
#### Docume

[2020-02-25 23:14] Ashok103606 commented on #48662
@SaurabhSharma.  So, you mean it's not Possible with the Powershell or totally azure does not have this feature. If I want to see the SAML certificate expired date of each application should I navigate to each application in Azure UI, this is the only option which available.

[2020-02-25 23:17] revodavid opened #48924 "Lacks info on how to install azuremlsdk locally"
The link in  "Use your own environment if you prefer to have control over your environment, packages and dependencies" is Python-specific and doesn't explain how to install the azuremlsdk R package in the local environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f89940a-4eac-f1ff-99a7-8fcc47b70482
* Version In

[2020-02-25 23:21] MarileeTurscak-MSFT commented on #48873
@dotnetgator I agree! I just made a PR to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/105539

Thanks!

[2020-02-25 23:21] #48873 closed

[2020-02-25 23:42] tamram commented on #48219
@JavedEqbal - Thanks for your feedback! I've clarified the statement in the article.

#please-close

[2020-02-25 23:42] #48219 closed

[2020-02-25 23:44] tamram commented on #48309
@dcbrown16 - thanks for your feedback! I've added a couple of sentences to the intro section of the article to clarify.

#please-close

[2020-02-25 23:44] #48309 closed

[2020-02-25 23:44] mike-urnun-msft commented on #47596
@MickeJagekrans Thanks for reporting this and helping us drive improvements towards MS Docs! I have created a PR that updates the sample to the schema version: [2018-02-01](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-02-01/serverfarms)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continu

[2020-02-25 23:44] #47596 closed

[2020-02-25 23:51] stewartadam commented on #32115
Any updates on this? Makes programmatic deployment of Data Factory via Terraform annoying, as users have to create their own role definition and then assignment to work around it.

[2020-02-25 23:53] DavidFloresFX opened #48925 "Typo on PredictionAPIClient class"
There is a typo on this tutorial, the require for the predictor asks for
`const predictionApiClient = require("@azure/cognitiveservices-customvision-prediction");`

it should be
`const { predictionAPIClient } = require("@azure/cognitiveservices-customvision-prediction");`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-02-25 23:57] cherylmc commented on #44872
Taking this as a work item. Thanks! #please-close

[2020-02-25 23:57] #44872 closed

[2020-02-26 00:05] saaror commented on #48146
Yes, we do support K8s monitoring on RHEL nodes in on-prem/hybrid k8s infrastructure. You need to enable monitoring through helm chart. Here is the documentation. https://github.com/helm/charts/tree/master/incubator/azuremonitor-containers

[2020-02-26 00:05] tamram commented on #48384
@tgskiman - Thanks for your feedback! I am not seeing that in Visual Studio 2019. The example compiles and runs without the explicit assignment, and at runtime the value is null.

Can you tell me more about what you are seeing when you try to compile the example?

[2020-02-26 00:06] MarileeTurscak-MSFT commented on #48903
@mikenri
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-26 00:06] MarileeTurscak-MSFT commented on #48911
@Toukiletoukan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-26 00:11] SubhashVasarapu-MSFT commented on #48861
@SunnyXiao , Would you please let us know which CDN profile are you working with here?

[2020-02-26 00:12] MicrosoftGuyJFlo commented on #48790
#please-close

[2020-02-26 00:13] #48790 closed

[2020-02-26 00:13] MicrosoftGuyJFlo commented on #48789
#please-close

[2020-02-26 00:13] #48789 closed

[2020-02-26 00:21] mmacy commented on #48464
@dotnetgator @JasSuri I'm going to close this one out for now. If we get additional questions on this, we can revisit adding to the doc. #please-close

[2020-02-26 00:21] #48464 closed

[2020-02-26 00:21] MicrosoftGuyJFlo commented on #48281
An update to the doc should publish tonight that will explain all the protocols that are part of "other clients". Hopefully this sheds some light on the topic for you.

[2020-02-26 00:32] MashaMSFT commented on #48343
Hi @quillypowers, thank you for reaching out to Microsoft with your question! After some research, we have decided to add the following caveat to the documentation: If TempDB is put on the temporary disk (D:\ drive) the performance gained by leveraging this drive outweighs the need for a 64K allocation unit size.

As such, you do not need to reformat the D drive to get to the 64k allocation unit s

[2020-02-26 00:44] KranthiPakala-MSFT commented on #48899
@jovancosta-bairesdev Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-02-26 00:49] KranthiPakala-MSFT commented on #48904
@kjayantmenon Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-02-26 00:54] BrianLevenson commented on #44242
Hi @azhar787, is this issue still outstanding? If so, I will escalate the support tickets to ensure your questions are addressed to your satisfaction. Thanks!

[2020-02-26 01:11] Jlouden9 opened #48930 "Query on spliting ASE and App Plans"
Can some guidance be added on migrating App services (Plans, Site, certs) between subscriptions when they are Linked to a ASE which can not move.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec1ba2ff-7845-f68c-5722-05909b8afccb
* Version Independent ID: d2cd518a-7313-1918-fa7f-589a6bc6515a
* Content: [Move Azure App

[2020-02-26 01:20] ecfan commented on #47782
@arthiriyer, could you please help and respond to this customer question? Thanks!

[2020-02-26 01:21] msjuergent commented on #46036
New recommendation for stripe size of /hana/data got published last night in https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/hana-vm-operations-storage. Please feel free to give feedback

[2020-02-26 01:23] BBirdselllab opened #48931 "Problem with Add a Custom Setup step. step 6."
I've tried over a number of days to get a environment.yml working using the Add a Custom Setup featured on this page. Firstly, it seems important to mention that the yml needs to be exported without "--build" if developing locally on OSX because the DSVM is linux based. Also, I seem to be having trouble because of the conda environment already loaded on the DSVM referring to this reddit post https

[2020-02-26 01:26] ecfan commented on #47279
@divyaswarkar, could you please respond to this customer's question after they've confirmed using the SFTP-SSHconnector?

[2020-02-26 01:27] ecfan commented on #47142
@ChristopherHouse, could you respond to the customer's last questions? Thanks!

[2020-02-26 01:29] rwike77 commented on #42919
@kamranbashir , I believe this was answered in https://docs.microsoft.com/answers/questions/1463/token-lifetime-policy-is-not-working.html.  Closing this issue, feel free to re-open if necessary.  #please-close

[2020-02-26 01:29] #42919 closed

[2020-02-26 01:44] rwike77 commented on #46696
@Cubercoding , I believe your issue was addressed.  Closing this.  #please-close

[2020-02-26 01:44] #46696 closed

[2020-02-26 01:46] rwike77 commented on #48307
@hpsin, can you comment on the apparent difference in this flow between v1 and v2?  Thanks.

[2020-02-26 01:47] ChristopherHouser commented on #47142
The MQ Connector does not support client authentication.  So the connector does not send a certificate.  Only the server certificate is validated.  For connector running in Azure the server’s certificate needs to be issued by a trusted certificate authority.  If the connector is running in the On-Prem Data Gateway, you can use a self-signed certificate by installing it in the local machine’s Trust

[2020-02-26 01:48] hpsin commented on #48307
Yes, the v1 flow is not documented nor is it standards compliant.  We suggest using the v2 endpoint since it is easier to use. We will not add v1 documentation to the v2 page, as that will drive more confusion than help.

[2020-02-26 01:50] alex-mason-jdas commented on #47703
Resolved. I think I am getting addressable email by passing scope on the v2.0 endpoint in my custom policy

  <Item Key="scope">openid profile email</Item>

[2020-02-26 01:58] Ayanmullick opened #48933 "Boot diagnostics to storage account in a different subscription"
Can the boot diagnostics be set to a storage account in the same region but in a different subscription on the same tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40c0296c-e069-f238-9c39-5d5faf47190d
* Version Independent ID: 727c743d-2a48-c355-09dc-82ff1ba78358
* Content: [Boot diagnostics for VMs in Azure](ht

[2020-02-26 02:11] SunnyXiao commented on #48861
I used Microsoft CDN

[2020-02-26 02:11] SunnyXiao commented on #48861
@SubhashVasarapu-MSFT I used Microsoft CDN

[2020-02-26 02:26] RoyKimYYZ opened #48934 "Mention the ability to specify internal ip address for LB in another subnet"
I would suggest that a specific ip address can be made in the section "Specify a different subnet"
In the Section "Specify an IP address", the statement "The specified IP address must reside in the same subnet as the AKS cluster and must not already be assigned to a resource." can confuse readers when you can specify a load balancer to a different subnet, you can still specify an ip address in tha

[2020-02-26 02:28] a30000931 commented on #37127
@gavinwoolley  that repo seems to be private

[2020-02-26 02:30] KrishnaG-MSFT commented on #48859
@kiranpradeep Hope you have self resolved or found the expected content in the doc and hence closed the issue. Thanks for the update. If there are any questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-02-26 02:35] KrishnaG-MSFT commented on #48869
@mhopkins-msft Thanks for the quick response. :+1:

[2020-02-26 02:39] KrishnaG-MSFT commented on #48923
@TheChadR Thanks for the feedback.
Assigning content owner @bwren for visibility, review and document enhancement consideration as appropriate.

[2020-02-26 02:46] FrankHu-MSFT commented on #48121
@pjrcdf I'm following up on this as the text in the document says :

This shows that active should be inclusive, Members assigned as active have the privileges assigned to the role at all times. That being said I am closing out this Github issue now as it is addressed in the document.

[2020-02-26 02:46] #48121 closed

[2020-02-26 02:47] BharathNimmala-MSFT commented on #48876
@tinodo Thank you for reaching out to us, our team will further look into it and get back to you at the earliest.

[2020-02-26 02:50] kiranpradeep commented on #48860
Thanks. Yes, there is a mention in trigger docs. But the term "poison message handling" is ambigous.  Can it be rephrased to "poison message retry count" or some thing similar? Does the term "poison message handling" signify anything other than configuring retry count behaviour ?

[2020-02-26 02:53] kiranpradeep commented on #48859
I found a better fit for the query at #48860 and so closed this issue. Thanks.

[2020-02-26 02:58] SwathiDhanwada-MSFT commented on #48930
@Jlouden9 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-02-26 02:58] BharathNimmala-MSFT commented on #48877
@damart23 Thank you for your query , our team will further look into it and get back to you at the earliest

[2020-02-26 03:02] BharathNimmala-MSFT commented on #48878
@osemenyuk-114 Thank you for sharing your feedback, we will further look into and get back to you at the earliest.

[2020-02-26 03:07] BharathNimmala-MSFT commented on #48882
@onionhammer Thank you for your query.

Thank you @rbrundritt for helping on this.

[2020-02-26 03:10] BharathNimmala-MSFT commented on #48890
@CKertz Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-02-26 03:18] spottedmahn opened #48935 "How to leave from a Microsoft account"
How I do leave an org with a personal Microsoft account?  Everything keeps pointing me back to this documentation but doesn't appear to be applicable for personal accounts.

Perhaps there's a doc page for leaving orgs for personal accounts?  If so, can we add a link to it on this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-02-26 03:19] zhanke commented on #43632
I am still encountering the same issue too in Australia East region at least. Can we review this please.

[2020-02-26 03:26] DixitArora-MSFT commented on #48921
Hi @tymoor Thanks for reaching out. We will review and update as appropriate.

[2020-02-26 03:27] DixitArora-MSFT commented on #48912
Hi @mslot Thanks for reaching out. We will review and update as appropriate.

[2020-02-26 03:37] #47446 closed

[2020-02-26 03:39] onionhammer commented on #48882
@rbrundritt thanks, sounds like a good opportunity to add an azure map specific doc page for this scenario

[2020-02-26 03:44] femsulu commented on #48146
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-26 03:44] #48146 closed

[2020-02-26 03:46] ram-msft commented on #48924
@revodavid Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-26 03:47] rbrundritt commented on #48882
There are plans for one, but we are waiting on a new major feature that will make this whole process a lot easier than it is today.

[2020-02-26 03:48] ram-msft commented on #48925
@DavidFloresFX Thanks for the feedback. We will update you shortly.

[2020-02-26 03:52] Zongrenfeng commented on #48886
My Investigate : Submit-AzDataLakeAnalyticsJob is a Azure CLI cmdlet, and Azure CLI is built on .NET standard, so you cannot execute it inside a normal powershell terminal, you have to use PowerShell Core terminal. Or otherwise, you should use the corresponding old AzureRM cmdlets in powershell.

The document should add below details:

- Mentation the powershell or powershell core version supposed