[2020-02-14 02:23] DixitArora-MSFT commented on #47848
@RakeshkumarTaninki Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-14 02:23] #47848 closed

[2020-02-14 02:24] DixitArora-MSFT commented on #47918
@mdudis For now we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-14 02:24] #47918 closed

[2020-02-14 02:24] DixitArora-MSFT commented on #47919
@annguyen281 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-14 02:24] #47919 closed

[2020-02-14 02:27] annguyen281 commented on #47919
Sorry for late, URL of documentation below:
https://docs.microsoft.com/en-us/azure/jenkins/jenkins-azure-functions-deploy

[2020-02-14 02:28] Norrch2 opened #48091 "Please clarify on Metadata"
Currently, this page indicates that the setting.showSignupLink will display the sign-up button. Also this page is about self-asserted technical profiles. However, when I add a self-asserted technical profile I am unable to get this setting to work without using the content definition contract of unifedssd or unified ssp.

Am I missing something?

---
#### Document Details

⚠ *Do not edit this sect

[2020-02-14 02:34] KrishnaG-MSFT commented on #48089
@RookTKO Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-14 02:36] mercurjl commented on #19261
Hey @roysudi I managed to get the specific http headers I needed by using an azure proxy. This article talks about it a bit: https://blog.headforcloud.com/2018/07/29/static-hosting-headers/.

So the end product will be:

[code]

[2020-02-14 02:38] RookTKO opened #48092 "Create resource group - Subscription issue"
Can we annotate here that the user should make sure they are in the correct subscription type. Seems like something they should (as the user) be knowledge of but I don't think it would hurt. Especially as I was getting Forbidden errors because I was on the SDK instead of a regular subscription. Different subscription policies can limit users from creating resource groups. If we left an annotation

[2020-02-14 02:49] RookTKO commented on #47870
Can verify had the same issue. I accepted the new schema. I haven't seen a difference but I did notice new json schema template is smaller then the old one.

[2020-02-14 02:50] KrishnaG-MSFT commented on #48092
@RookTKO Thanks for the comment. Most probably I will review and update prerequisite / gettools section that is similar to [this](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-powershell#prerequisites) one.

[2020-02-14 02:52] KrishnaG-MSFT commented on #48066
@santhoshbomma9 Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-14 02:52] #47897 closed

[2020-02-14 02:56] VikasPullagura-MSFT commented on #47903
@vnvaditya Hope the above provided information is helpful. Do let us know if you have any further questions on this.

[2020-02-14 03:02] IhnatKlimchuk commented on #37931
Don't see any problems in dark mode. Blue color font can be read in both modes.

[2020-02-14 03:11] soniaang opened #48093 "The entire program is missing some lines of code"
Tried to run it and  it missing some lines … secondly is there a bug on this module when it tries to fit test .data.
predict_labels = fitted_model.predict(test_data)
actual_labels = test_labels.flatten()

Can someone [please afford me the working program of this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf6e

[2020-02-14 03:12] miflamashood opened #48094 "Use models trained using the sample labeling tool with the .NET SDK API"
Hi,

I am using the same container, is there a way by which I can use the models trained by me using the sample tool in my C# code that uses the API to analyze the forms and extract data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f00138-7492-ba6e-6665-de0a6e0803f8
* Version Independent ID: 3835780b-1ace-77e3-553

[2020-02-14 03:13] miflamashood commented on #48094
I tried using GetCustomModelsAsync(), but it doesn't return anything.

[2020-02-14 03:14] KalyanChanumolu-MSFT commented on #48008
@terrychang1015 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-14 03:14] #48008 closed

[2020-02-14 03:15] KalyanChanumolu-MSFT commented on #47723
@garyapps We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-14 03:15] #47723 closed

[2020-02-14 03:16] neeleshray-msft commented on #48054
@epictecch Thank you for reaching out. We will investigate and update the thread further.

[2020-02-14 03:23] neeleshray-msft commented on #48067
@djkagle Thank you for reaching out. We will investigate and update the thread further.

[2020-02-14 03:25] neeleshray-msft commented on #48079
@majkelllo Thank you for reaching out. We will investigate and update the thread further.

[2020-02-14 03:26] neeleshray-msft commented on #48087
@sosato Thank you for reaching out. We will investigate and update the thread further.

[2020-02-14 03:26] neeleshray-msft commented on #48091
@Norrch2 Thank you for reaching out. We will investigate and update the thread further.

[2020-02-14 03:27] dcbrown16 commented on #21170
There is now a GatewayManager service tag for inbound which is documented in other parts of the App GW docs.
https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#allow-application-gateway-access-to-a-few-source-ips

No clarification yet regarding outbound requirements.
@TravisCragg-MSFT @vhorne please have the NSG section of this page updated to mention the service tag

[2020-02-14 03:28] GiftA-MSFT commented on #48093
@trevorbye we will review your feedback and get back to you shortly. Thanks.

[2020-02-14 03:29] neeleshray-msft commented on #48072
@ticianaciminari Thank you for reaching out. We will investigate and update the thread further.

[2020-02-14 03:30] neeleshray-msft commented on #48078
@hshahbaz Could you mention the document you are referring to for us to assist you better ?

[2020-02-14 03:32] IEvangelist commented on #48086
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/104389

[2020-02-14 03:32] #48086 closed

[2020-02-14 03:38] s3c-rsolar commented on #23537
gracias , me arreglaron el dia :)

[2020-02-14 03:39] StingyJack opened #48095 "Trying to delete a message picked by GetMessages with a 2 minute timeout reports "The specified message does not exist""
So I dont think the advice in the [leveraging section](https://docs.microsoft.com/en-us/azure/storage/queues/storage-dotnet-how-to-use-queues#leverage-additional-options-for-de-queuing-messages) and maybe other parts is complete.

Im using the code almost verbatim except for adding another statement to store the message in another queue. If II dont do something like this and create a new message f

[2020-02-14 03:59] SumanthMarigowda-MSFT commented on #48095
@StingyJack Thanks for the question! We are investigating and will update you shortly.

[2020-02-14 04:01] frehnejc opened #48096 "Storage account with Firewall enabled"
The statement "Also, NSG Flow Logs cannot be stored in a Storage Account with a Firewall." Is this still valid as I saw a recent announcement that this is supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59a0b9f5-9071-5e89-5f52-ca8fb2dbc90b
* Version Independent ID: 61a1736f-56c1-7950-72b3-907f32689ca4
* Conte

[2020-02-14 04:03] SwathiDhanwada-MSFT commented on #48083
Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-02-14 04:12] BhargaviAnnadevara-MSFT commented on #32604
Thanks for the feedback, @RicardoNiepel. Looping in the @zr-msft to take a look at the enhancement.

[2020-02-14 04:19] tatazoe commented on #43686
[Proposal]
# Not necessary for Helm v3
helm init --tiller-namespace kube-system --service-account tiller-sa

# Install command for Helm v3
helm install -f <helm-config.yaml> application-gateway-kubernetes-ingress/ingress-azure --generate-name

[Similar documents]
https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-install-existing#install-helm
https://docs.microsoft.com/e

[2020-02-14 04:20] RohitMungi-MSFT commented on #47991
@plzm I think since the train was unsuccessful the list API also failed or displayed the same message as the labeling tool. I tried to replicate your scenario by using the same session as yesterday but the train worked well for me.
![image](https://user-images.githubusercontent.com/46958063/74501031-d7fc6400-4f0e-11ea-82bc-a977690a8e1c.png)

Based on my previous testing of this tool, if you create

[2020-02-14 04:33] CHEEKATLAPRADEEP-MSFT commented on #48025
@marcelfranke Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@mamccrea Could you please correct the link?

Reference > Databricks CLI > Libraries points to https://docs.microsoft.com/en-us/

Replace with

Reference > Databricks CLI > Libraries points to https://docs.microsoft.com/en-us/azure/databricks/dev-tools/cli/libraries-c

[2020-02-14 04:35] Garyforsman commented on #43475
Unfortunately your suggestion does not make sense.

"_DNS lookup for myaccount.blob.core.windows.net -> result: myaccount.privatelink.blob.core.windows.net_"

We as customers, do not own the **blob.core.windows.net** DNS zone in order to create this CNAME.

The impact of these issues is Large clients like ours, wanting to use the service for something critical like Storage are rendering the servic

[2020-02-14 04:53] ram-msft commented on #48094
@miflamashood Thanks for the question. We are investigating the issue and will update you shortly.

[2020-02-14 05:09] damendo commented on #48096
Storage account with a Firewall are now supported in NSG Flow Logs: https://azure.microsoft.com/en-ca/updates/new-support-for-network-security-group-flow-logs-a-feature-of-azure-network-watcher/

I have made the change. It should be updated within 24 hours.

[2020-02-14 05:10] damendo commented on #48096
#please-close

[2020-02-14 05:10] #48096 closed

[2020-02-14 05:11] DivyeshTikmani-MSFT opened #48097 "How to setup seemly circular but not actually circular dependencies in Azure Data Factory V2"
0

Below is the scenario :

Pipeline A triggered by Tumbling Window Trigger A - Runs Every Hour.

Pipeline B triggered by Tumbling Windows Trigger B - Runs Every Week.

I want A to run only after :

a. last run of A is successful. (self dependency - doable).

b. last run of B is successful. ( This is also doable but can get into circular dependency because of point b in below lines)

I want B to r

[2020-02-14 05:13] DivyeshTikmani-MSFT commented on #48097
We are migrating from V1 to V2. And we are facing issue with this. Can you help us on with this on priority

[2020-02-14 05:14] BillmanH commented on #47883
It could be that it's been moved to the experiment view and isn't in the run level sdk. Maybe I'm misunderstanding here.  Here is a notebook that still reflects what the documentation used to have. https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/track-and-monitor-experiments/logging-api/logging-api.ipynb

I'm talking about these charts.
![image](https://user-images

[2020-02-14 05:16] BillmanH commented on #47883
Sorry about saying (this) but I realize that the documentation (which is a link from the images above) now talks about the charts that you get automatically, where the link used to have documentation on how to log custom attributes and images. The remaining portion of that has been moved to another notebook and scrunched to a subsection on the bottom of the page.

[2020-02-14 05:35] asudbring commented on #48051
Private link as an overall service is GA, there are several services that support private link connections that are still in preview.

https://azure.microsoft.com/en-us/pricing/details/private-link/

https://azure.microsoft.com/en-us/updates/azure-private-link-is-now-available-in-all-regions/

[2020-02-14 05:41] StingyJack commented on #48095
Thanks for the prompt response, its more of a statement in case anyone else gets that error when using this code (or that websearches and finds this as a result). It would be nice to have some callout in the docs about this, or perhaps fix the API to throw a reasonable exception.

[2020-02-14 05:43] #47827 closed

[2020-02-14 05:43] RohitMungi-MSFT commented on #47843
@oo2316oo We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-14 05:43] #47843 closed

[2020-02-14 05:45] #47851 closed

[2020-02-14 05:45] souravmishra-msft commented on #47703
@alex-mason-jdas , Closing this thread for now

[2020-02-14 05:45] #47703 closed

[2020-02-14 05:49] jakaruna-MSFT commented on #47799
@CeciAc @frankzo created the same issue here #47737

So closing this issue.  We can track the progress from here #47737

[2020-02-14 05:49] #47799 closed

[2020-02-14 06:07] kazshi opened #48098 "missing linked page from Active Directory admin link"
"Active Directory admin" in 'Audit to storage destination' section redirects to '404 - Page not found page', please fix the link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c27fe13-a824-84a5-e314-892a27c1dec5
* Version Independent ID: 510b5427-c927-84df-563f-31dfe13fc771
* Content: [Get started with auditing - Azu

[2020-02-14 06:08] Karishma-Tiwari-MSFT commented on #47738
I am investigating the issue, will get back to you soon.

[2020-02-14 06:20] sonalinoolkar opened #48099 "Unable to access Sql managed instance via public end point in ssms"
Hi,

I tried all the steps that are listed above. The NSG in  "ManagedInstance" subnet is also having inbound rule for 3342.
However i m unable to connect the managed instance public endpoint through SSMS.

I tried the test-netconnection as well. Below is the output:
test-netconnection worksoft-asia.public.xxx.database.windows.net -port 3342

ComputerName           : worksoft-asia.public.xxx.datab

[2020-02-14 06:27] Jan-Olof commented on #48035
@Mike-Ubezzi-MSFT Thanks for your useful suggestion.

However in this case I think it may be an error in the documentation. I managed to get it working by changing `file:///etc/iotedge/iot-edge-device-MyEdgeDeviceCA-full-chain.cert.pem` to `/etc/iotedge/iot-edge-device-MyEdgeDeviceCA-full-chain.cert.pem` in the `config.yaml`. (And then doing the same for the other two properties.)

[2020-02-14 06:29] msrini-MSFT commented on #47924
@owingruters , Tag me if you have any further questions.

[2020-02-14 06:29] #47924 closed

[2020-02-14 06:55] RayrayCf9 opened #48101 "https://azs-playground.search.windows.net/indexes/nycjobs/docs?api-version=2019-05-06&$count=true&$select=job_id,agency,business_title,civil_service_title,work_location,job_description&search="fire department""
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-02-14 07:07] amanmcse commented on #47433
@mihalko I am proceeding with closure of this thread. Feel free to tag me in you reply if you have any further question.

[2020-02-14 07:07] #47433 closed

[2020-02-14 07:08] yashwanth-yenugu opened #48102 "How to change UI dynamically when using SAML protocol"
I'm trying to Customize the UI dynamically and I'm following the documentation [https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-ui-customization-dynamic](url)
According to the doc, we can get the campaign ID from query parameter and change the background image but how to perform the same task using SAML as there would be no query params.

---
#### Document Details

⚠ *Do

[2020-02-14 07:09] JasSuri commented on #48091
Your understanding is correct, only those two content definitions within a self asserted technical profile will generate a sign up link and allow control with the metadata item.

[2020-02-14 07:14] yashwanth-yenugu commented on #47330
@JasSuri Can you please provide me the github repo of this site.

[2020-02-14 07:15] kiazhi opened #48103 "Need ASC REST API and SDK for .Net/Python/NodeJS for ASC Secure Score and Recommendations"
Will ASC REST API and SDK for .Net/Python/NodeJS be available for developers to query ASC REST API or use Azure SDK for .Net/Python/NodeJS to programmatically query the Azure Security Center (ASC) Secure Score and list the ASC Recommendations?

https://feedback.azure.com/forums/347535-azure-security-center/suggestions/39133543-asc-securescore-available-through-graph-api-or-asc

---
#### Document D

[2020-02-14 07:33] PramodValavala-MSFT commented on #47782
@ermacia91 To create this resource, looks like the user creating it should be admin of the gateway. Currently, [users and mail-enabled security groups can be added as admins](https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-manage), which I believe rules out service principals.

@ecfan @arthiriyer Could you confirm and share more insights on this?

[2020-02-14 07:36] y10e opened #48105 "Why are max instance counts per replica different between VM and VMSS?"
[Enter feedback here]
This documents describe the following.  if we are creating 20 VMs(non-vmss), we should use 1 replica of my shared image. but  if we are creating 120 vm instance (on VMSS ), we should use 1 replica. The difference are very large.
Is this document correct ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-02-14 07:37] daneri-norkart opened #48106 "Application Insights Availability Tile"
Hello!

I have been setting up a template for Api dashboards in our company, and have been using the Tile; Application Insights Availability. Suddenly today the tile is not working, giving the error: ComponentId is Required. The tile has been working fine for the past few weeks.

1. When I download the dashboard.json and look at the part I can see the resourceId pointing to the correct application

[2020-02-14 07:39] yoelhor commented on #47947
We filed a change request for `ConvertPhoneNumberClaimToString`, we'll keep you posted with the ETA.  Meanwhile I staged some changes to this doc. Should be published today or next week.

[2020-02-14 07:41] daneri-norkart commented on #46604
@KrishnaG-MSFT @KevinBlasko any updates?

[2020-02-14 07:51] vrlb opened #48107 "Still wrong URL "Create Index API""
Still wrong URL "Create Index API". Same issue as #33469

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ab1cea8-3915-f271-06ca-bf8885a80409
* Version Independent ID: 3a9a5ee2-97fa-affa-7bdc-d8f26f6bfb25
* Content: [Tutorial: Index semi-strutured data in JSON blobs - Azure Cognitive Search](https://docs.microsoft.com/e

[2020-02-14 07:54] DixitArora-MSFT commented on #47773
@Stangg187 I have assigned this to content author for further review and update as appropriate.

[2020-02-14 08:01] roofiq opened #48108 "ARM deploy - database is replication relationship"
Hello,
I'm deploying infrastructure through ARM templates. Have defined sql failover group. When I'm running the release 2nd time, it throws below provisioning error:
InvalidOperationForDatabaseInReplicationRelationship - The operation cannot be performed since the database 'XYZ' is in a replication relationship.
Sometimes I am deploying it after few hours and replication should be finished by tha

[2020-02-14 08:15] PramodValavala-MSFT commented on #47805
@dougmolineux Since DLQs are sub-queues for queues and subscriptions, the same access control policies work for them too. The same goes for either SAS or Azure AD based security approaches.

@axisc @clemensv Could you confirm?

[2020-02-14 08:17] RohitMungi-MSFT commented on #48072
@HyeokIn Thanks for pointing this out. A PR [104388 ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/104388)is raised to fix this issue. The changes would be updated in the document once the PR is built & approved.

[2020-02-14 08:20] sonalinoolkar commented on #48099
I had tried to connect like below in ssms:
worksoft-asia.public.xxx.database.windows.net,3342
still getting below error:

TITLE: Connect to Server
------------------------------

Cannot connect to worksoft-asia.xxx.database.windows.net,3342.

------------------------------
ADDITIONAL INFORMATION:

A network-related or instance-specific error occurred while establishing a connection to SQL Server.

[2020-02-14 08:20] RohitMungi-MSFT commented on #47205
@DavidRayner Please let us know if you have any further questions regarding @DarrinEide  recommendations before we close the issue.

[2020-02-14 08:23] nischl opened #48109 "how to?"
You write "On the Additional security verification page", but how can I find this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc7dec3-d354-6e40-8662-0e8175e3cb09
* Version Independent ID: 49976ef5-2893-8f73-3a64-94c2f3753d04
* Content: [Set up an authenticator app as your two-factor verification method - Azur

[2020-02-14 08:30] DavidTrigano commented on #48098
Hello @kazshi,

We are sorry for the inconvenience. We update the link accordlingly and you should be able to now have the proper link (https://docs.microsoft.com/azure/sql-database/sql-database-aad-authentication-configure?tabs=azure-powershell#provision-an-azure-active-directory-administrator-for-your-managed-instance)
Changes will be effective in 6/12 hours.

Best Regards,
David T.
SQL Program

[2020-02-14 08:31] jakaruna-MSFT commented on #34105
What is the error you are getting

[2020-02-14 08:41] CHEEKATLAPRADEEP-MSFT commented on #48019
@OneConsutlantsDemo Thanks for sharing the document, We are investigating and will update you shortly.

[2020-02-14 08:46] VikasPullagura-MSFT commented on #48105
@y10e Thanks for the Feedback. I have assigned the issue to content author for checking and updating on this as appropriate.

[2020-02-14 08:47] VikasPullagura-MSFT commented on #48105
@axayjo Can you please check this and add your comments.

[2020-02-14 08:49] ram-msft commented on #47834
@BurkusCat We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-14 08:49] #47834 closed

[2020-02-14 08:51] KrishnaG-MSFT commented on #48076
Hope this is created for testing purpose and then closed.

[2020-02-14 09:00] RagingSquirrel commented on #47336
Hello Marilee,

Your solution doesn't work for me. Because I have two Azure ADs. So, with dsregdmc.ext /status there is a second account, "Work Account 1".
With "dsregcmd /leave" my Laptop leave the primary account. But I have to leave the second account, the "Work Account 1".
How can I do this?

Regards
Michael

+----------------------------------------------------------------------+
| Work Accou

[2020-02-14 09:04] jakaruna-MSFT commented on #48054
@epictecch Thanks for the feedback.

I see that you are using Azure CLI from powershell.   I am able to reproduce your issue in powershell.

It works well in bash and [cloudshell](https://shell.azure.com/) bash.

Workaround for powershell is to use a string with a space instead of a string with 0 characters.

Please try with the below command and let know if it works or not

`az aks update --resou

[2020-02-14 09:05] jakaruna-MSFT commented on #48011
@AdimUser
I will close this out for now. If you need additional help please open a new issue

[2020-02-14 09:05] #48011 closed

[2020-02-14 09:08] KrishnaG-MSFT commented on #48089
@RookTKO I believe we already have this added in the referred document in [GetTools](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-create-first-template?tabs=azure-powershell#get-tools) section. Hope this clarifies! If you are referring something different then please provide more context. Thanks.

![image](https://user-images.githubusercontent.com/45988

[2020-02-14 09:08] jakaruna-MSFT commented on #47847
@blueelvis
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-14 09:13] jtuliani commented on #47876
That's what I thought, thanks for confirming. Please do drop a few words into the doc to clarify this point so others also benefit.

[2020-02-14 09:13] MohitVerma-MSFT commented on #47902
Hello @grahambunce ,

Thanks for the feedback!

I have assigned content-author for review.

[2020-02-14 09:22] ehsf973 opened #48111 "upgrade conditions applying"
Please upgrade, as i check possibilities in the portal :
Azure Monitor autoscale applies only to Virtual Machine Scale Sets, Cloud Services, App Service - Web Apps, Azure Data Explorer Clusters, Integration Service Environnements and API Management services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 891f8dc0-5fa1-

[2020-02-14 09:27] Elenaegr commented on #38243
Hello there, same problem here while using VS2019, is that problem solved?

[2020-02-14 09:27] LowerKees opened #48113 "Differences between diagrams and text for sliding window"
The diagrams shown for the sliding window on this page and on [this][https://docs.microsoft.com/nl-nl/stream-analytics-query/sliding-window-azure-stream-analytics] page do not match. They also do not match the text that states that windows are opened when events enter or exit the window definition. These differences between text and between diagrams make it hard for me to understand how the slidin

[2020-02-14 09:42] PooSham opened #48114 "Typo in first step for "Service Fabric: Create Application"?"
The first step for "Select the Service Fabric: Create Application" is to run the "Select the Service Fabric: Add Service" command. That gotta be a typo, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b8357d-4ea1-1a9c-225f-c2ddda30f4a5
* Version Independent ID: d3cf16af-36ec-35d6-4b30-03de4891335a
* Content: [A

[2020-02-14 09:45] philipstreet-hiscox commented on #48051
@asudbring My apologies, I must've missed that announcement, and was somewhat misled by a conversation with a Microsoft CSA yesterday where he presumably was referring to the support for Azure services being in Preview as opposed to Private Link itself. Thanks for the correction.

[2020-02-14 09:45] #48051 closed

[2020-02-14 09:50] KrishnaG-MSFT commented on #48092
@RookTKO @RookTKO I believe we already have this added in the referred document under highlighted parts of [Get tools](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-create-first-template?tabs=azure-powershell#get-tools) section i.e.,

![image](https://user-images.githubusercontent.com/45988031/74518924-b1ecb900-4f3a-11ea-97a1-a43f15b3025a.png)

**under [

[2020-02-14 09:52] robburton58 commented on #47574
This solution does NOT work!!

The org blocks the devops administrator asking them to request access from the org administrator.

Regards

Robert Burton, IT Specialist Manager (Cloud), UK IT / Bupa UKMU – ITIL Expert , MBCS, CCSP
Bupa, 4 Pinetees Estate, Chertsey Lane, Staines, TW18 3DZ
T +44 (0)1784 893296 M +44 (0) 7860 796206 E robert.burton@bupa.com<mailto:robert.burton@bupa.com> W bupa.co.uk<

[2020-02-14 09:52] ChiragMishra-MSFT commented on #48019
@OneConsutlantsDemo Hotfix production branch
If you deploy a factory to production and realize there's a bug that needs to be fixed right away, but you can't deploy the current collaboration branch, you might need to deploy a hotfix. This approach is as known as quick-fix engineering or QFE.

In Azure DevOps, go to the release that was deployed to production. Find the last commit that was deployed

[2020-02-14 09:55] ChiragMishra-MSFT commented on #47766
@rameshkr1994 Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better su

[2020-02-14 09:55] #47766 closed

[2020-02-14 09:57] epictecch commented on #48054
@jakaruna-MSFT Thanks for your helpful answer.
I was able to execute the command in bash. So, my problem is solved and I can access the Kubernetes cluster's API server again.
I also tried your workaround using a space as argument in Powershell but this failed:

[code]

[2020-02-14 10:00] CHEEKATLAPRADEEP-MSFT commented on #48113
@LowerKees  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-02-14 10:02] jakaruna-MSFT commented on #48054
ok.  Since Azure cli is for bash, It will work well there.
If we use that in powershell, Then clashes are coming in when quotes are used.

I will pass this feedback for this particular command.

[2020-02-14 10:17] MarkRoddick commented on #44790
Seeing exactly the same issues with 2019, 2016 datacenter and core, sometimes it works, sometimes is doesn't. Also seeing timeout / instability issues when running ansible via winrm against a provisioned VM from the marketplace.

[2020-02-14 10:19] SychevIgor opened #48117 "[FeatureRequest] or Documentation Gap: How to customize InstanceName property in Codeless Approach"
Because Microsoft recommend "codeless approach" in logging- Microsoft should give us a way to customize "InstanceName" property of each request.
Currently, in codeless approach, runtime set instancename from azure function name, while this name must be unique as part of fqdn. Without customization - on applicationMap we see ugly "wegehsrthetr" instead of something human-readable for example "app1_

[2020-02-14 10:21] SwathiDhanwada-MSFT commented on #48083
@CharmanderJieniJieni  I would suggest you to traverse through [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/collect-custom-metrics-guestos-resource-manager-vm) document where it provides an example on how to pass the custom metrics in JSON format.

Hope this helps!

[2020-02-14 10:21] jakaruna-MSFT commented on #46856
The table data is correct.

Scheduled events and metadata services used different api versions.

So closing the issue

[2020-02-14 10:21] #46856 closed

[2020-02-14 10:22] sopelt commented on #35832
@sriramarunachalam you could store the secret as a blob while encrypting it via a key encrypted/decrypted from key vault.

[2020-02-14 10:25] roysudi commented on #19261
Thank you @mercurjl . Yes that is definitely a viable path! However that adds an additional n/w hop too (CDN -> Proxy -> $web), which is sorta buzzkill. I think Team Azure should come up with a defined strategy for static websites and how they should be served.

[2020-02-14 10:36] DixitArora-MSFT commented on #48117
Hi @SychevIgor Thanks for reaching out. We will review and update as appropriate.

[2020-02-14 10:38] vishalaj1 opened #48118 "Log Location"
Hi,

I have set Log Location and Env shows correctly but the logs are still placed in default location.

Any idea?

Regards,
Vishal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 911b355c-91b0-cfba-6960-f33d9391c0d9
* Version Independent ID: e1d4c6d0-f79a-8931-b5fc-279f6185c522
* Content: [Configure, optimize, and trou

[2020-02-14 10:47] SadiqhAhmed-MSFT commented on #48021
@John-Blair A DNS zone is used to host the DNS records for a particular domain. Have you hosted your domain in Azure DNS?

Just an FYI: If your concern is about inappropriate billing or billing discrepancy, you can log a ticket to Azure billing team follow the steps from this link - https://docs.microsoft.com/en-in/azure/azure-supportability/how-to-create-azure-support-request

@bandersmsft Any th

[2020-02-14 10:47] audipen commented on #17690
Still face this issue when following this guide - https://docs.microsoft.com/en-us/azure/iot-dps/how-to-use-custom-allocation-policies

[2020-02-14 10:51] Shaktikantpadhi opened #48119 "MAG - Academic knowledge API not giving any results for high range offset value. "
I just want to download all the "chemistry" related article fields data from MAG (Academic knowledge API) by increasing the offset value but while I try to increase the offset value more than 50000, it's giving me the timed-out error message. Also, I increased the timeout value (2 min or 12000ms) but the same error(timeout error) I am getting every time. Please refer to the result are as follows:

[2020-02-14 10:54] BhargaviAnnadevara-MSFT commented on #48106
@daneri-norkart Thanks for reaching out! Could you please include a screenshot having the error you see?

I am able to see the **Availability Test Summary Application Insights** tile as under:

![image](https://user-images.githubusercontent.com/44050820/74525114-5f18fe80-4f46-11ea-9db0-2bd24b6d0202.png)

If possible, could you please try removing and reconfiguring the tile, and check if that helps

[2020-02-14 10:54] RishiMaini opened #48120 "Data disk storage account type change"
Looks like VMSS "data" disk storage account type can't be changed after VMSS creation,  just like OS disk type. If this is the case, can we please edit the document and add the restriction for "data" disk as well.

Properties with restrictions on modification

Managed OS disk storage account type ==> Probably add OS and Data rather than just OS Disk

---
#### Document Details

⚠ *Do not edit this

[2020-02-14 10:58] PeterHedley94 commented on #48016
Yes exactly. I was using the "data store" menu I believe. I am the customer and one of your support team was helping me. The SDK worked but through that panel there was an error (not very informative either). May be worth adding more detail to the error message also

[2020-02-14 11:04] NishantThakkar commented on #48037
I have created one more replyUrl for the https://www.getpostman.com/oauth2/callback using the previously mentioned code and added the generated URL in App Registrations, Redirect URI section.
Now when I am trying to use through POST MAN it's giving me message:
Invalid launch context parameters.

[2020-02-14 11:05] daneri-norkart commented on #48106
1 = how the tile has looked before.
2, 3 = the error I'm getting right now.
4 = how the tile you are referencing looks. It seems to be a new addition which can't be scaled down to fit the size I'm working with.

the problem with removing the tile and adding it again is that the tile I was using is no longer in the tile gallery.

![tiles](https://user-images.githubusercontent.com/59834186/74525630-

[2020-02-14 11:13] daneri-norkart commented on #48106
thanks for the quick response, btw :)

[2020-02-14 11:17] John-Blair commented on #48021
As I said earlier - i have no idea what the cost is for.
Yes, my domain is hosted in Azure DNS - and I've paid the registration fee for the first year - so what exactly is this charge for?

Instead of giving me links to inapproriate billing tickets - perhaps you could just add detaild info for each billing item as to what exacly you are being billed for - is that too much to ask?
When you go to Wa

[2020-02-14 11:22] audipen commented on #17690
Still get the same error! The workaround didn't help either

[2020-02-14 11:22] AshokPeddakotla-MSFT commented on #47915
I'm not seeing such errors when running this sample.
Adding author @robinsh for further updates. Are there any version dependencies wrt to linx or mac?

[2020-02-14 11:39] RohitMungi-MSFT commented on #48119
@Shaktikantpadhi I have linked one of  the [issue ](https://github.com/MicrosoftDocs/azure-docs/issues/47205)related to timeout of the API for more information. The timeout value for evaluate is not configurable and the recommendation is to use  private version of the Project Academic Knowledge API called [Microsoft Academic Knowledge Exploration Service](https://docs.microsoft.com/en-us/academic-

[2020-02-14 11:45] BhargaviAnnadevara-MSFT commented on #48106
@daneri-norkart Sure, thanks for the addtional details.

#1 can be achieved by pinning the Availability blade to the desired dashboard.

![image](https://user-images.githubusercontent.com/44050820/74527852-c043d080-4f4c-11ea-8fe3-b597d8661a7f.png)

You can then resize the tile as you see fit. :)

[2020-02-14 11:47] pjrcdf opened #48121 "Precedence when assigning roles"
If a role is assigned to group A as Active and group B as eligible and a user is a member of Group A and B - which takes precedence? Can some guidance around that please be included in this documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e87c5c36-7f4f-cb86-8835-85df5ae91269
* Version Independent ID: 3e5c0

[2020-02-14 11:47] SwathiDhanwada-MSFT commented on #48111
@ehsf973 Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-02-14 11:59] daneri-norkart commented on #48106
oh yeah, I see :)

What I'm working on is releasing multiple APIs in one dashboard, based on a Arm Template. Do you know why the tile was removed from the tile gallery? and if this happens often?

The name of the part has now changed from
Extension/AppInsightsExtension/PartType/AvailabilityNavButtonPart to Extension/AppInsightsExtension/PartType/WebTestsPinnedPart when working with the json parts.

[2020-02-14 12:05] bkumar73 opened #48122 "We have a requirement to use Azure Key vault with in Docker Swarm env as docker secret. Please suggest how we can leverage that"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-02-14 12:17] Jaans opened #48123 "Example doesn't work: Parameter "Id" for Set-AzVmssStorageProfile does not exist"
We switched to using Gallery Images, but the example above for VM Scale Sets fails.
![image](https://user-images.githubusercontent.com/3510981/74531277-edf23f00-4f77-11ea-96e4-fd1cc601b9f9.png)

Specifically, the "Id" parameter used in Set-AzVmssStorageProfile does not exist.
![image](https://user-images.githubusercontent.com/3510981/74531238-d024da00-4f77-11ea-9cb3-415d5c207030.png)

Using Az  Po

[2020-02-14 12:18] timmo001 opened #48124 "Missing IP Ranges / Documentation for IP Ranges for Self-Hosted Integration Runtime - UK South"
[Enter feedback here]

We are attempting to allow the ADF Integration Runtime running on an on prem VM through our Checkpoint firewall. However, the IP ranges specified on this page are not the same as what is being called. We are currently using **UK South** for our ADF instance.

Here are some examples of the IPs we are seeing (which are currently being blocked by our firewall, which we are havi

[2020-02-14 12:26] jagge123 commented on #47937
@hansenms Sorry for the late answer. And thank you for your quick reply! I guess i dont have to provide a resource and query since its an known issue? Anyways i am using the managed service.

:-)

[2020-02-14 12:30] jagge123 commented on #47937
@hansenms didnt realise that you created the issue based on my answer when i wrote. If you need me to supply any additional information please let me know.

[2020-02-14 12:33] Jaans commented on #48123
From random testing, It appears that parameter should actually be `-ImageReferenceId`, I think.

[2020-02-14 12:46] antoncyrol commented on #36505
Same issue here. I don't understand why this ticket is closed @mimckitt
If it was solved with the technical support ticket, it would be nice to post the solution here as well.

Note sure if it is related, but it can't harm I guess: It is also not possible to use the managed identity of an ACI to access ACR.

[2020-02-14 12:52] HQJaTu opened #48125 "Error in percentage scale, not 0.0-1.0 but 0.0-100.0"
Default value for `initialSamplingPercentage` is NOT 1.0, it is 100.0.
Since scale is 100x from documented, the same error is in fields `minSamplingPercentage` and `maxSamplingPercentage`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Independent ID: 271006dc-afce-99f3-079

[2020-02-14 12:55] Joehannus commented on #47499
This won't work if you use an older version of Entity Framework Core. This has a reference to the original System.Data.SqlClient.

[2020-02-14 13:07] saumyasuhagiya commented on #11093
@iamnarendhar I was able to do it using set variable and then using `@json(variables('dynamicMapping'))`

[2020-02-14 13:14] dwoldo opened #48126 "ServiceBus Sessions are now GA, not Preview."
Documentation states "Currently, Service Bus trigger that works with session enabled queues and subscriptions is in preview. Please track this item for any further updates regarding this." [ref](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus?tabs=csharp#trigger---message-metadata).

According to [this](https://github.com/Azure/azure-functions-servicebus-exten

[2020-02-14 13:27] deyanp opened #48127 "2 different syntaxes for json mapping"
I see both Json mapping syntaxes:
[code]
and

[code]

Is it so that the first one is deprecated, and should be changed to the second one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5808ed2-5d09-4c56-dc0b-4e3650f8fc16
* Version Independent ID: 10ebaf9d-0cc0-b59b-ae95-63bc7b1be4b5
* Content: [Ingest data from Event

[2020-02-14 13:35] CharmanderJieniJieni opened #48128 "ARM template capability?"
Can I provision Linux Diagnostic Extension through ARM? I can find the windows one but couldn't find Linux Diagnostic Extension ARM documentation anywhere

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a-8d9b-228a-6919-16127f315d40
* Content: [Azure

[2020-02-14 13:36] IEvangelist commented on #48072
While I agree that we could start migrating to the newer syntax -- the old syntax is still supported and it accurate. I believe that this issue is related to something else, as I can see the code rendering in the `en-us` versions. The syntax is as follows:

[code]

Please notice that each opening `[` does have a corresponding closing `]`.

[2020-02-14 13:36] DixitArora-MSFT commented on #48126
Hi @dwoldo Thanks for your feedback. We will review and update as appropriate.

[2020-02-14 13:37] DixitArora-MSFT commented on #48125
Hi @HQJaTu Thanks for your feedback. We will review and update as appropriate.

[2020-02-14 13:39] DJLemkes commented on #47179
@PhilipAnthonyMurray I was able to do this on, for instance, the owning user by adding `default:user::rwx`.

Check the [REST API](https://docs.microsoft.com/en-gb/rest/api/storageservices/datalakestoragegen2/path/update) docs and look for the `x-ms-acl` request header.

[2020-02-14 13:41] PhilipAnthonyMurray commented on #47179
@DJLemkes Thanks, I managed to figure it out yesterday evening. While it works it's a messy way to configure serveral accounts and groups plus specifiy Default definitions for each.

[2020-02-14 13:43] langstonj opened #48129 "no SAS token or OAuth token is present and the resource is not public"
Attempting to use the 'Copy all containers, directories, and blobs to another storage account' syntax; I have a valid source storage account, a valid target storage account in the same subscription and same region.   The source account public access to set to Container and I get the error in the subject line.  What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-02-14 13:44] BhargaviAnnadevara-MSFT commented on #48106
@daneri-norkart Glad you could surface the component type. I'll try and check why this is so and get back once I get an update. Also, thanks for the feedback, and suggestion. I'll cascade this to our internal Teams.

On a side note, I'd like to let you know that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the A

[2020-02-14 13:44] #48106 closed

[2020-02-14 13:46] KalyanChanumolu-MSFT commented on #48098
@kazshi Thank you for taking the time to report the broken link.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-14 13:46] #48098 closed

[2020-02-14 13:55] #48054 closed

[2020-02-14 13:58] mumian commented on #47870
@mjrousos - thank you for reaching out to us.  It is a bit confusing.  As it says in the VSCode message "some tools may be unable to process the latest schema".  These tools include Visual Studio.  Because of this reason, we like to use the older version in the document until Visual Studio supports the newer version.

[2020-02-14 14:28] a-hackw opened #48130 "Inconsistent Documentation"
For AKS Ingress Controller the information about supported SKUs is inconsistent with the documentation here:
https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-overview#benefits-of-application-gateway-ingress-controller

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68677bfe-232b-3f9f-5473-00

[2020-02-14 14:28] OffColour opened #48131 "Policy for billable resources"
Is it possible to identify which tags are passed to Cost Managment in a policy?
It would be ideal to enforce a required tag (say, "costcentre") in a policy but only for resources that are billable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55b4c3f6-7ea3-9b94-cd8c-cbe37dc31656
* Version Independent ID: 0310805b-ff7

[2020-02-14 14:37] mjrousos commented on #47870
Thanks for the explanation, @mumian. Do you know if there's somewhere we can file an issue to track the need for VS to update which schemas it supports?

[2020-02-14 14:40] tanmaygore commented on #47879
+ @Savyasachi Samal<mailto:savys@microsoft.com>, @Micah McKittrick<mailto:mimckitt@microsoft.com>

Samal, can you please check the startup task and appropriate comments?

If possible please provide with the updated code.

Thanks,
Tanmay Gore

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Tuesday, February 11, 2020 12:29:45 PM
To: MicrosoftDocs/azure

[2020-02-14 15:08] VanMSFT commented on #44532
Closing this as the issue has been answered.

#please-close

[2020-02-14 15:08] #44532 closed

[2020-02-14 15:22] BillmanH commented on #47883
Actually I see this as kind of a vague post. I'll close it out and add a new one with some better examples of the issue. It's not that the documentation isn't there, however the custom charts in the online service appears to have been removed. The documentation is not the issue.

[2020-02-14 15:22] #47883 closed

[2020-02-14 15:30] VanMSFT commented on #41298
Doc is being updated in this PR, and will go live later today. Links were added to the doc that explains this section. Closing this issue.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/104414

#please-close

[2020-02-14 15:30] #41298 closed

[2020-02-14 15:39] markjbrown commented on #47982
Hi @samgladstone

For this issue for creating a docker emulator for MongoDB 3.6 please open the Data Explorer in the emulator and submit this feedback there. The team that does this work tracks their work items from the feedback link in the Data Explorer there.

Thanks.

#please-close

[2020-02-14 15:39] #47982 closed

[2020-02-14 15:43] BurkusCat commented on #47834
@ram-msft Thank you for the information. I am using Xamarin and primarily trying to use cognitive services with UWP. I want to record audio from a microphone and get live transcription results as the user speaks + display it in a label. `recognizer.StartContinuousRecognitionAsync()` seems to do this perfectly. _However_, after the user has been recording for a several minutes (during this time, th

[2020-02-14 15:45] #47845 closed

[2020-02-14 15:47] tfitzmac commented on #48131
@OffColour - I am not aware of a way to easily identify within a policy which resource types pass tags to the cost report. But, given that most resource types that support tags also pass the values to the cost report, and those that don't pass the values currently are moving towards compliance, I would recommend tagging all the resources. I think it is potentially confusing if you don't tag a reso

[2020-02-14 15:52] tfitzmac commented on #47990
These links have been fixed.
#please-close

[2020-02-14 15:52] #47990 closed

[2020-02-14 15:53] dougmolineux commented on #47805
@PramodValavala-MSFT Thanks for the response, yes, I have been able to connect to the DLQ using the same connection string I used to connect to the topic.

[2020-02-14 15:55] tfitzmac commented on #47618
I am reluctant to recommend deleting the resource group because I am worried users could lose other valuable resources. If we can provide more information about how to resolve the issue of why the restore points can't be deleted, we can reopen the issue.

[2020-02-14 15:55] tfitzmac commented on #47618
#please-close

[2020-02-14 15:55] #47618 closed

[2020-02-14 15:56] johnkors commented on #36505
I got my setup working, but I had to recreate everything I had within the resource group. Plans, storage, web apps, key vaults. Changing an existing resource groups and plans just gave misleading errors that led me astray for hours. No chance to get it working without recreating all from scratch.

[2020-02-14 16:00] tfitzmac commented on #48039
The information is also available as a [.csv file](https://github.com/tfitzmac/resource-capabilities/blob/master/move-support-resources.csv). Otherwise, I am not aware of changes that can be made given that we need to list the information per resource type.

[2020-02-14 16:01] tfitzmac commented on #48039
#please-close

[2020-02-14 16:01] #48039 closed

[2020-02-14 16:12] ADringer opened #48133 "Use with Linux app services"
Does this work for Linux app services? I've set the setting `WEBSITE_RUN_FROM_PACKAGE` and uploaded the zip file as per the above scripts, but it appears it has unzipped the package (there is no sitePackages folder).

Just want to get confirmation if this is for Windows AND Linux app services, or just Windows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-02-14 16:19] chcomley commented on #47574
Hi @robburton58, I've just published an update to the article (should be live within the next hour, it's 8:18am now PST), which should address your issue. Please @mention me if this doesn't help. Thanks very much.

[2020-02-14 16:29] mumian commented on #47870
@mjrousos - the VSCode extension development team is actively working on including all the API versions.

[2020-02-14 16:30] Mike-Ubezzi-MSFT commented on #48099
@sonalinoolkar Thank you for bringing this to our attention. We will look to identify procedural improvements in the documentation to ensure a functional result and will update you when we have more information to share.

[2020-02-14 16:32] spelluru commented on #45447
@andreas-wilm - Thank you for reporting the issues. I have fixed it.

#please-close

[2020-02-14 16:32] #45447 closed

[2020-02-14 16:34] shashishailaj commented on #46592
@truekonrads Thank you for posting your findings on this issue with the support engineering . We are now in the process of getting this document updated and I am working internally with the author. This should be updated in the next release cycle. I will update once the article is updated with content about modern subscriptions.

Thank you.

[2020-02-14 16:34] Mike-Ubezzi-MSFT commented on #48108
@roofiq Thank you for bringing this to our attention. Are you making configuration changes or, based upon the configuration in the json, are you attempting to create a replication relationship that is already configured?

[2020-02-14 16:34] Karishma-Tiwari-MSFT commented on #48114
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/104428
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-14 16:34] #48114 closed

[2020-02-14 16:36] Mike-Ubezzi-MSFT commented on #48127
@deyanp Thank you for bringing this to our attention. We are investigating and will update the documentation as appropriate.

[2020-02-14 16:36] jpfoster21 opened #48134 "DMZ between Azure and the Internet link"
The link goes to "Network DMZ between Azure and an on-premises datacenter" rather than describing the DMZ-&gt;Internet configuration that I was expecting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38bd69ac-a1b5-a401-184d-37b55188a7c4
* Version Independent ID: ef976d45-36eb-8a32-4b29-ae03412165d2
* Content: [Azure

[2020-02-14 16:38] j-martens commented on #47237
#re-assign:@peterclu

Please refresh this article and the screenshots that are leading to confusion. Thank you!

[2020-02-14 16:40] Karishma-Tiwari-MSFT commented on #47895
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-14 16:40] #47895 closed

[2020-02-14 16:42] j-martens commented on #47789
FYI - @trevorbye @Blackmist @nishankgu - undocumented limits.

[2020-02-14 16:45] j-martens commented on #47241
also #assign:@nibaccam

[2020-02-14 16:48] vasquezx1 commented on #47433
Hello.

I was still unable to get in or adjust the 8 vs 6 digit pin.

With that I closed my previous trial before purchase as I could never login
to adjust my payment.

I went through the documents and tried to make changes but nothing would
work.

Thank you.

On Fri, Feb 14, 2020 at 1:07 AM AmanpreetSingh-MSFT <
notifications@github.com> wrote:

[2020-02-14 16:49] j-martens commented on #47733
@BBirdselllab do you have more information to share here? Please share your VM size. Thank you!

[2020-02-14 16:50] j-martens commented on #48016
#re-assign:@nibaccam thanks!

[2020-02-14 16:53] MarileeTurscak-MSFT commented on #48109
@nischl
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-14 16:54] MarileeTurscak-MSFT commented on #48103
@kiazhi
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-14 16:54] MarileeTurscak-MSFT commented on #48121
@pjrcdf
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-14 16:59] mjrousos commented on #47870
Does that include Visual Studio support, too?

[2020-02-14 17:07] micah commented on #47879
tanmaygore <notifications@github.com> writes:

wrong @micah

[2020-02-14 17:12] eparizzi opened #48135 "What happens if a new execution is triggered while the previous one is still running?"
The documentation doesn't mention this. If I set a job to run every 15 minutes and one execution of it takes longer, what happens? Are execution skipped while there's a currently running one? Or it will just trigger a new one no matter the current state?
Is there a way to set a job to only run one execution at a time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-02-14 17:25] mimckitt commented on #47879
@maf1024 I can test this and confirm. However did you run the code and experience any issues?

[2020-02-14 17:25] baskarmib opened #48136 "Need clarification on the default Runtime for Function App Created from the Portal"
Currently since Functions Runtime 3.0 is GA, the Azure portal mentions that Azure Functions Create Now Targets Functions Runtime 3.0.

The documentation here under "Run on a specific version" states that the default Runtime is 2.x.
Link for documentation - https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-02-14 17:28] camalloy opened #48137 "Please provide clairity around - "No more than 3 email messages are sent to a single recipient in a single day""
Does this mean that if we have 5 high alerts in a single say that we will not get notification for the last 2 alerts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a455a24-920e-f9f8-7a6f-60b5f4019acd
* Version Independent ID: e6a4d8e2-0ada-e535-810f-5eb19e45ee1e
* Content: [Provide security contact details in Azure S

[2020-02-14 17:31] amvieira opened #48138 "Tables with less than 60 million rows should be heap tables?"
"Small tables with less than 60 million rows. Consider heap tables."

I have a customer that asked me why do we recommend on Azure Synapse that tables with less than 60 Million rows should be heaps.
They are currently in the migration process from on-premises to Synapse and one of the consultants read this page and decided to delete the indexes from all the bales with less than 60M and this caused

[2020-02-14 17:33] rennygalindez opened #48139 "Option no Available ()"
When I try to follow steps to create a VM from Azure  portal, the option Azure Active Directory is not available, there is a new way of create a VM and turn on the Azure Active Directory  on it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Version Independent ID: 885a61d1-6096-5

[2020-02-14 17:35] ceglez opened #48140 "Dependency Visualization..."
The instructions for dependency of the OMS configuration in this page is for the old azure migrate version.., we need the instructions of how to do it on the newer version of Azure Migrate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b75ad427-0a6e-39d7-eaa9-02d03e4f3a7d
* Version Independent ID: 8223d3e6-64b4-be82-9

[2020-02-14 17:35] cdanieloliveira commented on #48039
@tfitzmac I do have the link you can check the information in here: https://docs.microsoft.com/pt-br/office365/servicedescriptions/office-365-platform-service-description/office-365-platform-service-description#feature-availability-across-office-365-plans

You can find several tables that you can easily "export" to a spreadsheet, for instance. Smth like what you did on your profile is exactly what

[2020-02-14 17:45] iainfoulds commented on #47873
Thanks for the feedback, @SjoerdV. We already have a long-term backlog engineering work item to provide more PowerShell samples, and there's active work on the Azure PowerShell modules for Azure AD. A lot of portal tasks aren't directly exposed in the current cmdlets without essentially wrapping API calls, which isn't a great experience to document and is more likely to break with changes.

We'll

[2020-02-14 17:45] #47873 closed

[2020-02-14 17:51] iainfoulds commented on #47891
As @neeleshray-msft notes, password policy settings that apply to users synchronized from Azure AD are outlined in the doc - https://docs.microsoft.com/en-us/azure/active-directory-domain-services/password-policy#default-password-policy-settings. These password policies apply within the context of Azure AD DS.

It also notes that the changes aren't synchronized back to Azure AD. So, a user account

[2020-02-14 17:51] #47891 closed

[2020-02-14 17:55] iainfoulds commented on #47943
Thanks for the feedback, @em-vardol. We already have active work going on to help clarify this. A child domain may cause problems, but there's no issue if two distinct namespaces are used with the appropriate DNS forwarders and records put in place.

Updated guidance will likely show _aaddscontoso.com_ as the sample DNS name for the Azure AD DS instance, and _contoso.com_ as an on-prem instance. T

[2020-02-14 17:55] #47943 closed

[2020-02-14 17:56] GregNelsonatPeters opened #48141 "OATH Token General Availability for SSPR"
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new states from Aug 2019 that SSPR hardware token is GA.

Users can reset their passwords using a mobile app or hardware token (General Availability)
Type: Changed feature
Service category: Self Service Password Reset
Product capability: User Authentication
Users who have registered a mobile app with your organization can n

[2020-02-14 18:03] ericchansen opened #48142 "Can't deploy P100 or V100 in westus2"
Despite following the YAML templates above, P100 and V100 GPU containers can't be deployed in westus2.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87729a5b-eda2-985e-678a-45498839f6b8
* Version Independent ID: 8ce5224f-6b82-73e7-15dd-32a146c6ad53
* Content: [Deploy GPU-enabled container instance - Azure Cont

[2020-02-14 18:03] MonikaReddy-MSFT commented on #48062
Hello @Breyed,

For loglevel Information - Please go through this doc and see if it helps. [Log Level Doc](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#log-level)

And for allowedHost information - [Doc for reference ](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-3.1)

For [AppSettings.JSON](https://docs.micro

[2020-02-14 18:03] #48062 closed

[2020-02-14 18:05] ChiragMishra-MSFT commented on #48097
@DivyeshTikmani-MSFT Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a be

[2020-02-14 18:05] #48097 closed

[2020-02-14 18:06] bandersmsft commented on #40519
@torfulle Closing this issue as the engineering team has direct contact with you and this is a product issue, not a doc issue.
#please-close

[2020-02-14 18:06] #40519 closed

[2020-02-14 18:07] MonikaReddy-MSFT commented on #47944
@Mikhail-msft - Thanks for taking care of this one and updating the doc.
@simondick - Thanks again for bringing this to our attention. The doc is now updated and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-14 18:07] #47944 closed

[2020-02-14 18:10] DivyeshTikmani-MSFT commented on #48097
Hi,
Can we add some information on documentation page around scenarios like this.
It seems only trivial cases are explained on that page.

Regards,
Divyesh

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: ChiragMishra-MSFT <notifications@github.com>
Sent: Friday, February 14, 2020 11:35:31 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Div

[2020-02-14 18:16] Mike-Ubezzi-MSFT commented on #47600
@MaxThom This question is being reviewed by the product group and I will update you when I have more information to share.

[2020-02-14 18:21] shashankkr commented on #47977
@djpmsft We have many source systems which sends CDC changes in real time to a blob. There is a requirement by our data science team to provide the exact files with the same frequency to develop their ML algos. So as soon as the file is created in the blob, I have to copy the file to another blob. Sorry, cant use batch here :(

[2020-02-14 18:24] RookTKO commented on #48089
@KrishnaG-MSFT apologize, I guess I overlooked that.

[2020-02-14 18:24] #48089 closed

[2020-02-14 18:26] bazalaa opened #48143 "Error"
templateFile="{provide-the-path-to-the-template-file}"
should be this I think:
$templateFile="{provide-the-path-to-the-template-file}"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf283cd-65c2-09ad-0af2-37bf95fe4d90
* Version Independent ID: 46451ccf-174a-e4da-433f-aa8c5570557d
* Content: [Tutorial - Create & deploy

[2020-02-14 18:27] RookTKO commented on #48092
@KrishnaG-MSFT that make sense. My fault for overlooking that part of the documentation. Closing the issue.

[2020-02-14 18:27] #48092 closed

[2020-02-14 18:28] BillHiebert opened #48144 "Functions projects don't support the StartDevelopmentStorage project property"
See the comments here: https://developercommunity.visualstudio.com/content/problem/895743/startdevelopmentstorage-set-to-false-does-not-work.html#

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90ff8041-c5e9-51de-21fc-17d22eaf901a
* Version Independent ID: b18a0b57-ab52-0bd7-2d56-58d0aa05dbba
* Content: [Configuring an

[2020-02-14 18:31] RaymondILei opened #48145 "Debugging the executing store procedure call"
Hello, is there a way I can debug the communication between the logic app and the CosmoDb in the Execute stored procedure" step?
The Body for the "Execute stored procedure" response is empty and the execution time dropped to 0s in my Azure environment recently(it has been working for the last several months). I am not sure if the execution was executed successfully. The document in the ComsoDB con

[2020-02-14 18:31] himanshusinha-msft commented on #48124
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-02-14 18:35] hansenms commented on #48037
You should *not* be using the SMART on FHIR proxy when using Postman. Postman is not a SMART on FHIR client and will not provide appropriate launch parameters, etc.

Please use the configured AAD endpoints (e.g. https://login.microsoftonline.com/<tenant-id>/...) as described in the tutorial.

And you should enter the allowed reply URL as-is (https://www.getpostman.com/oauth2/callback), do *not* tr

[2020-02-14 18:35] sean-nixon opened #48146 "RHEL Support"
Is RHEL support for on-premises / hybrid Kubernetes clusters planned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec4d8022-4515-b83d-4588-518e3830f2a3
* Version Independent ID: c78e0650-4575-2b89-b41f-7e17abc2e17e
* Content: [Configure Hybrid Kubernetes clusters with Azure Monitor for containers - Azure Monitor](htt

[2020-02-14 18:36] giovannifl commented on #46970
Hi @MashaMSFT ,
Let me try to clarify my question:

Now it is supported to deploy a SQL Server FCI in Azure using S2D or Azure Premium File Share.
What is not clear is "if" these solutions have any supported backup option.

For example, I believe Azure Backup doesn't support neither of them.
May be ?
So I guess the only option would be to manually backup SQL DBs.

Please let me know if my question

[2020-02-14 18:44] KranthiPakala-MSFT commented on #47949
@CharmanderJieniJieni
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-02-14 18:44] #47949 closed

[2020-02-14 18:49] cricex opened #48147 "Prerequisites state that you still need a virtual machine to deploy the scaling script"
I do not believe this is true any more that the scaling script has migrated to serverless:

"The machine you use to deploy the tool must have:

Windows PowerShell 5.1 or later
The Microsoft Az PowerShell module"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a6c4e2-702f-2b17-3e2d-c86f33b13beb
* Version Independent ID

[2020-02-14 18:53] lastcoolnameleft commented on #47842
@blueelvis I will investigate for a more detailed solution with Azure Site Recovery and post back here.

That said, I have detailed a walkthrough utilizing Ark (now known as Velero)
https://github.com/lastcoolnameleft/kubernetes-workshop/blob/master/examples/aks-ark-demo.md

It might be a bit dated since the rebranding; however, they have pretty strong documentation here:  https://github.com/vmwar

[2020-02-14 18:57] SnehaGunda commented on #47242
The above PR added content for certificate conversion and the content is now live. We will close this issue if there aren't further questions.

#please-close

[2020-02-14 18:57] #47242 closed

[2020-02-14 18:57] MicrosoftGuyJFlo commented on #36960
Working this into the following private PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/104385

[2020-02-14 18:58] Adam-Smith-MSFT commented on #48118
@vishalaj1 , Could you please post your question in either MSDN storage forums or Stackoverflow since this issue is not related to the documentation.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-14 18:58] #48118 closed

[2020-02-14 19:01] Adam-Smith-MSFT commented on #48129
@langstonj Could you please post this question in the forums https://social.msdn.microsoft.com/Forums/en-US/? or Stackoverflow It would have a higher visibility on forums since this is not an issue with the documentation itself.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-14 19:01] #48129 closed

[2020-02-14 19:10] BharathNimmala-MSFT commented on #48131
Thank you @tfitzmac for helping on this thread.

@OffColour - Thank you for reaching out to us, please review the above information shared by @tfitzmac  and let us know if you have any further queries.

[2020-02-14 19:12] BharathNimmala-MSFT commented on #48143
@bazalaa Thank you for bringing this to our notice, we will further evaluate and get back to you at the earliest.

[2020-02-14 19:16] mumian commented on #48143
@bazalaa - thank you for catching it.  I will fix it right now.

[2020-02-14 19:25] tfitzmac commented on #48143
Our Azure CLI examples use Bash, in which case, the current syntax is correct.

[2020-02-14 19:40] langstonj commented on #48129
I’ll try both places.

John C Langston  |   SQL Database Administrator  |  eLynx Technologies, LLC  |  2431 E. 61st, Suite 700  |  Tulsa, OK  74136  |  www.elynxtech.com

From: Adam-Smith-MSFT <notifications@github.com>
Sent: Friday, February 14, 2020 1:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: John Langston <john.langston@elynxtech.com>; Mention <mention@noreply.githu

[2020-02-14 19:42] SaurabhSharma-MSFT commented on #47761
@Firewaters We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-14 19:42] #47761 closed

[2020-02-14 19:54] Karishma-Tiwari-MSFT commented on #48123
Thanks for sharing the update.
I have created a PR with the update, changes will be live shortly: https://github.com/MicrosoftDocs/azure-docs-pr/pull/104470
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-14 19:54] #48123 closed

[2020-02-14 19:55] ajfurst opened #48148 ""Data from Azure App Configuration" not appearing - FontSize Issue"
On the original render, the FontSize setting will be 0 and therefore the text will not appear (which is not expected behavior based on the screenshot). Might be worth having the index.cshtml skip "font-size: @ViewData["FontSize"];" when running the app prior to updating Azure App Configuration values. Just and idea. Overall, awesome doc! Super insightful!

---
#### Document Details

⚠ *Do not edit

[2020-02-14 19:58] jasonnutter commented on #47803
@rits-development Starting with `msal@1.2.0`, for silent and popup actions you can set your `redirectUri` in your configuration to a page that doesn't run MSAL itself (previously, your redirect page had to also run MSAL). For example, you have a page called `auth.html` that contains no content, and then have that set as the `redirectUri`. We also allow you to set the `redirectUri` per request, whi

[2020-02-14 20:07] Karishma-Tiwari-MSFT commented on #48147
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-14 20:11] NavtejSaini-MSFT commented on #47978
@danimir Can you please check the user question and confirm.

[2020-02-14 20:18] rits-development opened #48149 "Authorization in a custom Web Api, id_token or access_token?"
The `roles` claim is only sent in `id_token`s. How can I add authorization to a custom Web Api if the SPA client fetched an `id_token` and `access_token` via the Microsoft Identity Platform (v2.0) (OAuth2, OIDC, implicit flow)? Normally I should send the `access_token` to the Api, however the audience of the `access_token` is set to 'https://graph.microsoft.com'. Should I send the `id_token` inste

[2020-02-14 20:26] MarileeTurscak-MSFT commented on #48141
@GregNelsonatPeters
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-14 20:26] MarileeTurscak-MSFT commented on #48141
Hi @GregNelsonatPeters , we unfortunately don't have an update on this yet. All the latest information will be posted on the "what's new" and product release pages.

[2020-02-14 20:26] #48141 closed

[2020-02-14 20:30] MarileeTurscak-MSFT commented on #48101
@RayrayCf9
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-14 20:32] MarileeTurscak-MSFT commented on #48101
Please create a new issue describing your specific feedback and linking the article that you are following. https://help.github.com/en/github/managing-your-work-on-github/creating-an-issue

It is difficult to tell from this what you are hoping to achieve.

[2020-02-14 20:32] #48101 closed

[2020-02-14 20:33] danimir commented on #47978
Tuning history is not limited by time, it is limited by the number of spaces (lines) available in Azure portal. I'm not sure exactly how many spaces there are available in portal at this time, let's say it is 15 for example. If you have only 5 recommendations in the tuning history without new ones, they will stay there for a very long time. If you have 15 new recommendations come in, they will rep

[2020-02-14 20:34] FrankHu-MSFT commented on #48102
@yashwanth-yenugu Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-14 20:44] NavtejSaini-MSFT commented on #48138
@amvieira We are checking this and will get back to you.

[2020-02-14 20:45] NavtejSaini-MSFT commented on #48135
@eparizzi We are checking this and will get back to you.

[2020-02-14 20:48] yohny opened #48152 "DIfferent snippet based setup code"
The code for `Snippet based setup` on this documentation page is different than the one in github's readme of appinsight-js (https://github.com/microsoft/ApplicationInsights-JS). Which one is correct? Or are they equivalent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version I

[2020-02-14 20:49] jaredmoo commented on #48135
The new execution will be triggered, but it will be skipped on each individual target where the previous execution is still running. So your target-level executions will complete with Skipped status, and then the step-level execution (which represents the aggregate result of all targets) will complete with Skipped or SucceededWithSkipped.

[2020-02-14 20:49] CharmanderJieniJieni opened #48153 "Windows Event Log what entry to put for Basic option"
In the document it is using below to define Event log.

"WindowsEventLog": {
       "scheduledTransferPeriod": "PT5M",
        "DataSource": [
                  {
                      "name": "System!*[System[Provider[@Name='Microsoft Antimalware']]]"
                   },
                   {
                        "name": "System!*[System[Provider[@Name='NTFS'] and (EventID=55)]]"

[2020-02-14 20:52] eparizzi commented on #48135
Perfect. Thanks!

[2020-02-14 21:04] sfilipi opened #48155 "How can one provision the AML Service linked service to trigger ML Pipelines"
I am setting an ADF pipeline that than should trigger an ML Pipeline, and I am using a service principal that is registered with the AAD (the same service principal I use to pull the data from ADF).

Testing the connection for the service principal fails with message: "Request sent to Azure ML Service for operation 'validateWorkspace' failed with http status code 'Forbidden'. Error message from Az

[2020-02-14 21:05] BharathNimmala-MSFT commented on #48146
@sean-nixon Thank you for your query, we will further look into this and get back to you at the earliest

[2020-02-14 21:05] mumian commented on #48143
#please-close.

[2020-02-14 21:05] #48143 closed

[2020-02-14 21:11] BharathNimmala-MSFT commented on #48143
Thank you @mumian/@tfitzmac  for helping on this issue.

@bazalaa Please let us know if you have any other queries. Thank you

[2020-02-14 21:13] vhorne commented on #47430
@steverlabs
Thanks for the suggestion. We'll consider that for future articles.
@please-close

[2020-02-14 21:13] #47430 closed

[2020-02-14 21:20] MartinJaffer-MSFT commented on #48124
Hello @timmo001  and thank you for your question.  You mention

If the integration runtime is running on your vm, then it is a self-hosted integration runtime, not an Azure (managed) integration runtime.  The IP addresses listed on this page are in reference to the Azure (managed) integration runtimes.  Since you are hosting this runtime on your own vm, the IP address you are seeing would belong t

[2020-02-14 21:21] MarileeTurscak-MSFT commented on #48122
@bkumar73
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-14 21:21] sanjaydatasciencedojo commented on #47446
@lyrana Thank you for your answer. What is the cost of azure time series insights if I only run for one hour?

[2020-02-14 21:21] Grace-MacJones-MSFT commented on #48133
Hi @ADringer, thanks for your question! Currently, this feature is only for Windows.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-14 21:21] #48133 closed

[2020-02-14 21:23] Grace-MacJones-MSFT commented on #47970
@LeonidasKapassakalis do you have any updates for us on this issue?

[2020-02-14 21:23] BharathNimmala-MSFT commented on #48153
@CharmanderJieniJieni  Thank you for reaching out to us with your query, we will further look into this and get back to you at the earliest.

[2020-02-14 21:25] BharathNimmala-MSFT commented on #48140
@ceglez Thank you for bringing this to our notice, we will further look into it and get back to you at the earliest.

[2020-02-14 21:26] vhorne commented on #38876
@eosho
Going forward, Azure Firewall will use Firewall Policy, which will have an import function, and firewall policies can be applied to multiple firewalls. Firewall Manager is in preview. For more information, see https://docs.microsoft.com/en-us/azure/firewall-manager/
#please-close

[2020-02-14 21:26] #38876 closed

[2020-02-14 21:29] MarileeTurscak-MSFT commented on #48137
@camalloy
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-14 21:34] sbhuttan opened #48156 "Can we use same storage account for different resources"
Can we use same storage account for diagnostic settings for different type of events (metrics vs audit), and for different resources?

Currently diagnostic settings expect the storage account name and does seem to allow to select a specific container.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ca576e1-fafa-3a02-6d

[2020-02-14 21:38] MarileeTurscak-MSFT commented on #48137
I believe that's correct based on the text after:

"For example, if an email message was already sent to alert you about an RDP attack, you will not receive another email message about an RDP attack on the same day, even if another alert is triggered."

@memildin and @YuriDio please confirm

[2020-02-14 21:41] MarileeTurscak-MSFT commented on #48107
@vrlb
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-14 21:44] davidsmatlak commented on #46912
#please-close

[2020-02-14 21:45] #46912 closed

[2020-02-14 21:48] Adam-Smith-MSFT commented on #48144
@BillHiebert Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-14 21:50] Adam-Smith-MSFT commented on #48120
@RishiMaini Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-14 21:53] Adam-Smith-MSFT commented on #47794
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-14 21:53] #47794 closed

[2020-02-14 21:53] #47958 closed

[2020-02-14 21:57] benchristel opened #48157 "Allocation failures for Standard_F4s VMs"
Hi,

I'm seeing intermittent failures to create Standard_F4s VMs with the following message:

"Allocation failed. We do not have sufficient capacity for the requested VM size in this zone. Read more about improving likelihood of allocation success at http://aka.ms/allocation-guidance"

It links to this page, but Standard_F4s is not listed under the section "Allocation failures for older VM sizes".

[2020-02-14 22:03] normesta commented on #47313
Thanks for raising this @brijrajsingh. This page (https://azure.microsoft.com/solutions/data-lake/) refers to Data Lake Storage Gen1 which is a dedicated service separate from Storage. The file size shown on that page is accurate for that service. The upgrade article refers to limits for Data Lake Storage Gen2. The 5T file limit mentioned is accurate in that context. The top level page for Data La

[2020-02-14 22:03] normesta commented on #47313
#please-close

[2020-02-14 22:03] #47313 closed

[2020-02-14 22:03] Ken-Br opened #48158 "Azure AD Password Protection and PCNS"
Are there any conflicts between Azure AD Password Protection and PCNS (password change notification service) - part of FIM/MIM to sync passwords across domains?  I presume the password filtering occurs first and after the password is validated by the filters as valid, it is handed off to the PCNS service and the NTDS service for processing (forwarding to MIM/storing in AD)?

---
#### Document Deta

[2020-02-14 22:08] ichkoj commented on #38311
I don't understand why they don't update it..??? It's just ridicules ....
Anyway my problem was that both of my DCs were syncing and one of the Azure AD connect agents should've been set on standby. Took them about month or 2 to find someone who understand it. This is MSFT

[2020-02-14 22:14] yeswps opened #48159 "Is there a way to use PowerShell to list all users and groups that's been assigned to specific Enterprise Application"
The provided example shows you to grab user/group ID, then assign specific user/group to Enterprise Application role.

What if I have a list of users and groups that i want to ensure only these users/groups would have been added, remove any user/group on current assignment that's not part of the list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-02-14 22:18] kobulloc-MSFT commented on #48152
@yohny Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-02-14 22:18] kobulloc-MSFT commented on #48148
@ajfurst Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-02-14 22:21] iainfoulds commented on #47492
Sorry you ran into issues, @hugo-paredes. What version of RHEL were you running? I can't replicate this behavior in RHEL 7.7 - the doc works correctly without needing the additional realm configuration.

If needed, @SaurabhSharma-MSFT can assist with a troubleshooting ticket to review this further.

#reassign:SaurabhSharma-MSFT

[2020-02-14 22:22] chetansriv commented on #47965
@MarcLaf We have updated the article, please review

#please-close

[2020-02-14 22:22] #47965 closed

[2020-02-14 22:24] Mike-Ubezzi-MSFT commented on #48035
@Jan-Olof Thank you for the additional detail. I will have the content team review this and update the tutorial accordingly.

[2020-02-14 22:31] marioliu opened #48160 "Can't upload folders in Azure Blob Storage"
The docs here: [https://docs.microsoft.com/en-us/azure/vs-azure-tools-storage-explorer-blobs](https://docs.microsoft.com/en-us/azure/vs-azure-tools-storage-explorer-blobs) say that there's an "Upload Folder" option, but I don't see it in Azure

[2020-02-14 22:32] TravisCragg-MSFT commented on #48130
@a-hackw Are you referring to the V2 SKU?

Azure Application Gateway can be a Basic or V2, with SKUs in each category. AGIC is only supported by the V2 SKU series (Standard_v2 and WAF_v2 SKUs).

If this is not clear from the docs let me know, and I can make this more clear [Here in the Ingress Controller for AKS section](https://docs.microsoft.com/en-us/azure/application-gateway/overview#ingress-c

[2020-02-14 22:36] davidsmatlak commented on #46384
The document was updated to clarify that a recovery plan is only used to failover from the source location to Azure. A recovery plan can't be used to failback from Azure. Thanks @rayne-wiselman.

[2020-02-14 22:36] davidsmatlak commented on #46384
#please-close

[2020-02-14 22:36] #46384 closed

[2020-02-14 22:37] MarileeTurscak-MSFT commented on #48159
@yeswps
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-14 22:37] mamccrea commented on #48113
Thanks, @LowerKees. I have updated the image.

[2020-02-14 22:40] TravisCragg-MSFT commented on #48134
@jpfoster21 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@malopMSFT Both DMZ links at the bottom of [This Section](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#default-route) go to the same doc, is this intended?

[2020-02-14 22:42] mamccrea commented on #48025
Thanks. This is the correct link. I'll fix the toc: https://docs.microsoft.com/en-us/azure/databricks/dev-tools/cli/libraries-cli

[2020-02-14 22:46] MarileeTurscak-MSFT commented on #48122
Hi @bkumar73 ,

We don't have specific guidance for this in the documentation. Some people appear to have managed this in their personal blogs though.
https://github.com/alexthissen/DockerWorkshop2017/blob/master/docs/Lab6-Security.md

https://www.jamessturtevant.com/posts/Acessing-Docker-Swarm-Secrets-From-ASPNET-Core/

I created a request for the docs team to add this and added an internal work

[2020-02-14 22:46] #48122 closed

[2020-02-14 22:55] Jebarson opened #48162 "Wrong Param name for az vm"
Az vm should have the param name --vm-name and not --vmss-name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52b0724-6b3b-0daf-7749-d18104d6a40b
* Version Independent ID: 56e5c7c4-f456-fc2e-99da-2771eb162947
* Content: [Azure Key Vault VM Extension for Windows](https://docs.microsoft.com/en-us/azure/virtual-machines/

[2020-02-14 23:00] SaurabhSharma-MSFT commented on #47959
@msmbaldwin Can you please help on this one ?

[2020-02-14 23:04] JimacoMS3 commented on #17690
Hi @audipen,

Are you getting this issue when you follow the steps in the topic? Or are you getting this issue when you try to deploy a function from Visual Studio? And you are using Azure Functions v2 -- right?

Thanks,

Jimaco

[2020-02-14 23:07] MarileeTurscak-MSFT commented on #48139
@rennygalindez thanks for the question. Are you referring to the "Login with AAD Credentials" option?

[2020-02-14 23:08] normesta commented on #47056
@LowerKees thank you for bringing this up. Yes this article was out of date. Now that support for Azure Stream Analytics is in place,  we should add this. I've updated this article to include Stream Analytics. Thank you!

[2020-02-14 23:08] normesta commented on #47056
#please-close

[2020-02-14 23:08] #47056 closed

[2020-02-14 23:10] MarileeTurscak-MSFT commented on #48158
@Ken-Br
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-14 23:11] MarileeTurscak-MSFT commented on #48149
@rits-development
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-14 23:14] Mike-Ubezzi-MSFT commented on #48145
@RaymondILei Thank you for bringing this to our attention. Can you look for failed triggers or add additional steps for runtime debugging. Please see: [Troubleshoot and diagnose workflow failures in Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-diagnosing-failures)

[2020-02-14 23:27] Karishma-Tiwari-MSFT commented on #47908
Can you let us know the version of kubectl and azure cli, which you used.

[2020-02-14 23:28] davidsmatlak commented on #46870
Requested an update about the agent software. I'll update the document when the information is available.

[2020-02-14 23:29] MarileeTurscak-MSFT commented on #48052
The image you posted isn't showing. If you're using the free version that's probably why though. You need at least a Premium license for this.

[2020-02-14 23:31] rennygalindez commented on #48139
Yes, because in the steps there is one that says "Turn on Login with AAD Credentials" but this option is not present when you try to create a VM (Linux or Win)

[2020-02-14 23:33] neualex opened #48164 "Azure Guest OS image default configuration"
Is it possible to mention if these images are out of the box installations or if they follow certain compliance/best practices to harden the OS for cloud deployment such as Center for Internet Security (CIS) standards?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7e4add3-448c-8bd4-3a47-bb7ae25970db
* Version Indepen

[2020-02-14 23:33] MarileeTurscak-MSFT commented on #48107
@vrlb I'm seeing "Create Index (Azure Cognitive Search REST API)"

Is there a different link that should be there? In the PR logs I see that this got changed twice recently.

[2020-02-14 23:35] HeidiSteen commented on #48107
@vrlb @MarileeTurscak-MSFT  Sorry, I just fixed it this morning and should have circled back on this issue right away.  Thanks everyone for seeing this through.  I think it's all good now.

#please-close

[2020-02-14 23:35] #48107 closed

[2020-02-14 23:35] MarileeTurscak-MSFT commented on #48052
The feature is available for users with Premium licenses applied. I would recommend speaking with your billing support contact for questions about why this may have been removed.

I apologize for the inconvenience!

You can also make a feature request in [user voice ](https://feedback.azure.com/)to add this for users who do not have premium licenses.

[2020-02-14 23:35] #48052 closed

[2020-02-14 23:37] chetansriv commented on #39267
@v-nagta @v-pugoe

[2020-02-14 23:40] chetansriv commented on #43341
@sameera We have updated the article as suggested, please review.

#please-close

[2020-02-14 23:40] #43341 closed

[2020-02-14 23:41] #47922 closed

[2020-02-14 23:46] chetansriv commented on #45797
@asmithlaitram we have updated the article, please review

#please-close

[2020-02-14 23:46] #45797 closed

[2020-02-14 23:47] Karishma-Tiwari-MSFT commented on #47738
Do you have the ability to open a support request? If not, can you please share your subscription id with me at AzCommunity@microsoft.com and include this thread link. I will enable one time free support ticket for you and our support engineer can take a look at the backend.

[2020-02-14 23:48] chetansriv commented on #45963
@jasonheywood We have updated the article, please review

#please-close

[2020-02-14 23:48] #45963 closed

[2020-02-14 23:51] Karishma-Tiwari-MSFT commented on #48162
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-14 23:53] Karishma-Tiwari-MSFT commented on #48157
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-14 23:54] Karishma-Tiwari-MSFT commented on #48142
Thanks for the question. We are currently investigating and will update you shortly.

[2020-02-14 23:55] Karishma-Tiwari-MSFT commented on #48128
Thanks for the question. We are currently investigating and will update you shortly.

[2020-02-14 23:55] Karishma-Tiwari-MSFT commented on #48164
Thanks for the question. We are currently investigating and will update you shortly.

[2020-02-14 23:56] EricJizbaMSFT commented on #45883
@ggailey777 in regards to this:

Do you by chance remember what version of Node.js you were on when this was happening?

[2020-02-14 23:56] Anand-Moghe opened #48165 "Is self-hosted gateway available in both Azure Public Cloud as well as Government cloud?"
Is the self hosted feature available in Public and Government cloud both? Or is it only available in Public cloud?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20dccd8b-f67a-8728-3bb3-f46a0ffdfd40
* Version Independent ID: 3e79e57d-a348-b0d3-cd89-86c76ca70104
* Content: [Self-hosted Azure API Management gateway overv

[2020-02-15 00:01] MicrosoftGuyJFlo commented on #48067
@djkagle It doesnt work in Hybrid environments today. Today security keys only work for Azure AD joined devices.

[2020-02-15 00:05] Adam-Smith-MSFT commented on #48160
@marioliu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-15 00:08] MicrosoftGuyJFlo commented on #47823
In the steps it includes "Under Exclude, select Users and groups and choose your organization's emergency access or break-glass accounts."

What else would you like the doc to say in this case?

[2020-02-15 00:15] MarileeTurscak-MSFT commented on #48137
Got confirmation from Yuri.

Yes, this is exactly what it means. If you want to receive emails for everything, you can create a Logic App that trigger emails using the workflow automation feature.

[2020-02-15 00:15] #48137 closed

[2020-02-15 00:17] Anand-Moghe opened #48166 "Can you provide some guidance in Scale UP operation for ASE based App Service?"
I was recently in a situation where instead of properly configuring scale out rule, customer tried to scale up their App Services deployed in ASE and the outage lasted for 4 hrs. . So in that case can you provide some guidance or refer me to doc link on best practice on Scaling up App Service deployed in ASE ? E.g. Is there any documentation on guidance or warning, pitfall of doing Scale up operat

[2020-02-15 00:26] ticianaciminari opened #48167 "Funny annotation"
@mira-mayhem commented on [Fri Feb 14 2020](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/492)

Hi!
You might want to expand on issue on the strange annotation for the setting version below: "[...)" is not very common. And I, at least, would be interested in an explanation.
{
    "version": "2.0",
    "extensionBundle": {
        "id": "Microsoft.Azure.Functions.ExtensionBundle",

[2020-02-15 00:27] ticianaciminari commented on #48167
Hi Team, could you please check issue from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-15 00:40] ticianaciminari opened #48168 "New-AzBatchPool -Id "PoolWithAppPackage" example has wron parameters"
@dkubi commented on [Fri Feb 14 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/623)

New-AzBatchPool : Der Parameter "CloudServiceConfiguration" kann nicht gebunden werden. Der Wert "Microsoft.Azure.Commands.Batch.Models.PSVirtualMachineConfiguration" vom Typ
"Microsoft.Azure.Commands.Batch.Models.PSVirtualMachineConfiguration" kann nicht in den Typ "Microsoft.Azure.Commands.Batch.

[2020-02-15 00:40] ticianaciminari opened #48169 "New-AzBatchPool -Id "PoolWithAppPackage" example has wron parameters"
@dkubi commented on [Fri Feb 14 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/623)

New-AzBatchPool: The parameter "CloudServiceConfiguration" cannot be bound. The "Microsoft.Azure.Commands.Batch.Models.PSVirtualMachineConfiguration" value of type
Microsoft.Azure.Commands.Batch.Models.PSVirtualMachineConfiguration cannot be converted to the Microsoft.Azure.Commands.Batch.Models.PS

[2020-02-15 00:41] ticianaciminari commented on #48169
Hi Team,

Could you please check the issue from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-15 00:47] ticianaciminari opened #48170 "Group.Unified.Guest setting clarification"
@Allaen commented on [Fri Feb 14 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/624)

It might be good to mention that the Group.Unified.Guest template only supports the "AllowToAddGuests" setting.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 4cd7a703-534a-5fbd-6470-5d

[2020-02-15 00:49] jstallm opened #48171 "Update new Metrics docs with steps to show Release Annotations"
There is no obvious approach to show Release Annotations which were previously available in the classic experience. I believe updates need to be made to https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-charts#feedback in order to show release annotations.

What is the replacement for the release annotations that were once available as shown here https://docs.microsoft.com/en-u

[2020-02-15 00:54] ticianaciminari commented on #48170
Hi Team,

Could you please check the issue from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-15 01:10] anthonychu commented on #42899
Sorry for the delay. Added the version (^2.1.0) to the docs and those changes should be merged soon. The repo that it references does contain `^2.1.0` in package.json but it's good to call it out in the docs. Thanks.

[2020-02-15 01:49] TravisCragg-MSFT commented on #47797
@vDonGlover We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-15 01:49] #47797 closed

[2020-02-15 01:53] rogerfar commented on #45183
@RohitMungi-MSFT could this info be added to the docs page? I spent 2 hours headscratching why I couldn't see the training model I made in the docker container, turns out v1 and v2 are completely different and the C# SDK is still only on v1.

[2020-02-15 01:58] zhenlan opened #48173 "App Configuration should be listed as event source of Event Grid"
Please add [App Configuration](https://docs.microsoft.com/en-us/azure/event-grid/event-sources#app-configuration) to the list of the event source.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3427291a-bf0e-81c6-0e9f-72bdf440b871
* Version Independent ID: 3d833d91-98c1-548b-06c5-681b0c41326b
* Content: [What is Azure

[2020-02-15 01:59] TravisCragg-MSFT commented on #47657
@peacemaker360 I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-15 02:17] TravisCragg-MSFT commented on #48048
@ilyasOne The Public IP Creation described in the document you linked is different than the one for creating a new Azure Firewall, and creating a link here could be confusing.

![image](https://user-images.githubusercontent.com/38542241/74580080-2af90a00-4f55-11ea-9a7b-66a892e2a26f.png)

However, instead of "Create New", it should state "Add New". I have made this change, and the doc should reflec

[2020-02-15 02:17] #48048 closed

[2020-02-15 02:23] mike-urnun-msft commented on #48136
@baskarmib Thank you for your feedback! We will review and update as appropriate.

[2020-02-15 02:25] mike-urnun-msft commented on #48165
@Anand-Moghe Thank you for your feedback! We will review and update you here with our findings.

[2020-02-15 02:27] mike-urnun-msft commented on #48167
@mira-mayhem Thank you for your feedback! We will review and update as appropriate.

cc: @ticianaciminari

[2020-02-15 02:28] mike-urnun-msft commented on #48173
@zhenlan Thank you for your feedback! We will review and update as appropriate.

[2020-02-15 02:31] femsulu commented on #48156
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-02-15 04:31] alexey-zhel opened #48176 "CSV file format not clear"
I absolutely cannot understand what authors meant when provided explanation for CSV file format. I saw the same description in multiple articles. Please provide content sample... you wrote that we should use UPN or object ID, however on screenshot there is a combination of both. Should we modify file header or not ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-02-15 05:10] davidobrien1985 opened #48177 "Works despite this article with managed cert"
Hi,

Despite this article saying that this won't work for https://xirus.com.au , we got it working.
We already started the process for our root domain when we encountered a problem with the DNS verification. We opened a ticket with support and they talked to digicert.
At that point we were on Cloudflare DNS and they flattened the CNAME record which blocked the verification.
We moved to Azure DNS b

[2020-02-15 05:35] wapayne69 opened #48178 "Included storage misleading"
“When rescaling vCores or eDTUs for an elastic pool, an extra storage cost applies if (1) the storage max size of the pool is supported by the target pool, and (2) the storage max size exceeds the included storage amount of the target pool.”

As far as I can tell, there is no included storage for vCore...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-02-15 07:08] kumardeepakxyz opened #48179 "App passwords aren't working?"
I have an office 365 subscription from Godaddy & I have activated MFA from this link https://account.activedirectory.windowsazure.com/UserManagement/MultifactorVerification.aspx.

The first time after setting _additional security verification_, the portal provided me with default app password **Initial app passwordxxx** and I used it & it was working - but I accidentally deleted this one and creat

[2020-02-15 07:23] ScottyMac52 commented on #41350
Hasn't Serverless gone GA yet? If so, WTH is the ARM template support for it?

[2020-02-15 07:33] ram-msft commented on #47920
@nishiths Can please add more details about the issue from which section are you getting this key error or share the code that you are trying. Please pass the subscription key and endpoint from the azure portal key and endpoint tab.
![image](https://user-images.githubusercontent.com/49180516/74583986-5c281780-4ff3-11ea-8448-6bb57fcb1cf3.png)

Please follow the below sample code for face quick star

[2020-02-15 08:01] ADringer commented on #48133
At the beginning it mentions the path of the deployment folder for Linux which made me think it was a feature for Linux. I think either get rid of that line or explicitly state it's a Windows feature only

[2020-02-15 08:34] amanmcse commented on #48091
@Norrch2 please let us know if you have any further question or shall we proceed with closure of this thread.

[2020-02-15 08:35] amanmcse commented on #47803
@rits-development please let us know if you have any further question or shall we proceed with closure of this thread.

[2020-02-15 09:36] mslot commented on #34152
How does caching affect outbound data pricing? If something is cached is the pricing then going to be calculated with the Azure CDN for Microsoft pricing or Frontdoor outbound pricing?

[2020-02-15 09:37] mslot opened #48180 "Pricing when caching is enabled"
How does caching affect outbound data pricing? If something is cached is the pricing then going to be calculated with the Azure CDN for Microsoft pricing or Frontdoor outbound pricing? Or is it the same because CDN  and Front door offers DSA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbadca96-7341-36d0-8a38-1c6a5c

[2020-02-15 09:52] Vikasjx commented on #47202
Thanks Rolyon

[2020-02-15 10:11] giovannifl opened #48181 "Private Link is now available in GA"
Hello,
I guess this page should be updated because Private Link is now available in GA.
https://azure.microsoft.com/en-us/updates/private-link-now-available-in-ga/

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d39-e9cfa09736ce
* Version Independent ID: c0e7f101-5707-63ff-8193-c74a3e1d9a75
*

[2020-02-15 11:53] breyed commented on #48062
@MonikaReddy-MSFT Thanks for the clarifications. I think this issue should be reopened, however, since the docs themselves remain confusing. Improvements to the docs are more discoverable than comments buried in a GitHub issue. The linked PR has a proposed clarification as I understand the behavior from your comments.

[2020-02-15 12:44] langstonj commented on #47978
Thank you.

My context, in case you are interested, is an issue with a vendor product database.  Vendor support is telling me “Azure created index X” in the database.  I can query sys.indexes joining on sys.objects and see create date for index X of 2020-01-15, but there is nothing in the vendor product database tuning history that reflects X being created.  Am accustomed to see a record there of

[2020-02-15 13:42] j-martens commented on #47478
We hope this solves the issue. We will now proceed to #please-close the issue.

[2020-02-15 13:42] #47478 closed

[2020-02-15 13:44] krishjan05 commented on #34375
Command is still incorrect.

[2020-02-15 14:22] ranokarno opened #48183 "how long it take to re-instate azure vm from marketplace after deletion"
Error code  = ResourcePurchaseCanceling

Error message = The resource 'vm_name' with the id 'Microsoft.Compute/virtualMachines/vm_name' has a previous order being canceled. Please try after some time or create resource with different name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f6ee16-5202-f3b3-bf68-d2aca21f2

[2020-02-15 14:38] mslot opened #48184 "Azure Front Door with caching and Traffic Manager backend"
I really need some more info on how Azure Front Door is caching when resolving to a Traffic Manager. Is the Cache done on the POP og Front door or is it done where the traffic manager is pointing to (it may point to a location where another azure cdn for Microsoft POP is closer)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-15 14:41] DOliana commented on #47481
@markjbrown sure - I removed everything not related to cosmosDB and changed some names. You can see the template [here](https://gist.github.com/DOliana/a699d1bf753101adcd7f732fde987da7). Note, that in my deployment it is a linked template - maybe that is an issue?

[2020-02-15 14:49] kevmcdonk opened #48185 "Incorrect npm install command"
The NPM Install command at the top should be:

npm i azure-cognitiveservices-visualsearch

instead of:
npm install azure-cognitiveservices-search-visualSearch

as it is currently

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86de3597-6c1b-9951-46b6-a880faf2f050
* Version Independent ID: 29064dc8-f83c-e320-7c8a-659fd4b

[2020-02-15 14:51] KrishnaG-MSFT commented on #48171
@jstallm Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-15 15:32] neeleshray-msft commented on #48155
@sfilipi Thank you for reaching out. We will investigate and update the thread further.

[2020-02-15 15:34] neeleshray-msft commented on #48166
@Anand-Moghe Thank you for reaching out. We will investigate and update the thread further.

[2020-02-15 15:36] neeleshray-msft commented on #48168
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/48169

[2020-02-15 15:37] neeleshray-msft commented on #48169
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/48168

[2020-02-15 15:37] neeleshray-msft commented on #48168
Closing Thread

[2020-02-15 15:37] #48168 closed

[2020-02-15 15:38] neeleshray-msft commented on #48169
@ticianaciminari Thank you for reaching out. We will investigate and update the thread further.

[2020-02-15 15:39] neeleshray-msft commented on #48170
@ticianaciminari Thank you for reaching out. We will investigate and update the thread further.

[2020-02-15 15:40] neeleshray-msft commented on #48176
@alexey-zhel Thank you for reaching out. We will investigate and update the thread further.

[2020-02-15 15:42] neeleshray-msft commented on #48179
@kumardeepakxyz Thank you for reaching out. We will investigate and update the thread further. Also, we would request you to mention the document you are referring to for this issue.

[2020-02-15 15:44] neeleshray-msft commented on #48177
@davidobrien1985 Thank you for reaching out. We will investigate and update the thread further.

[2020-02-15 15:44] neeleshray-msft commented on #48180
@mslot Thank you for reaching out. We will investigate and update the thread further.

[2020-02-15 15:47] arvind-dhariwal commented on #47922
How to select application if there is no application.

Thanks
Arvind Dhariwal

On Thu, Feb 13, 2020 at 11:34 AM GiftA-MSFT <notifications@github.com>
wrote:

[2020-02-15 15:47] neeleshray-msft commented on #48181
@giovannifl Thank you for reaching out. We will investigate and update the thread further.

[2020-02-15 15:48] neeleshray-msft commented on #48183
@ranokarno Thank you for reaching out. We will investigate and update the thread further.

[2020-02-15 16:04] Adam-Smith-MSFT commented on #48178
Thank you for the valuable feedback,we are investigating the issue.

[2020-02-15 16:06] Adam-Smith-MSFT commented on #48184
@mslot Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-15 16:08] Adam-Smith-MSFT commented on #48185
@kevmcdonk Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-15 16:36] Norrch2 commented on #48091
@amanmcse yes I have another question. Thanks for asking.

I am attempting to make a home realm discovery page and the problem I am running into is if I use the page contracts unified ssd or ssp it automatically adds a username and password field. This has caused the need to use a self-asserted technical profile asking only for the username. However, from a customer experience perspective, adding

[2020-02-15 16:47] DonFrazier opened #48187 "The client secret must be URL-encoded before being sent."
the client_secret is referenced 3 times on this page.  One reference mentions The client secret must be URL-encoded before being sent.

I realize the contenttype in each example clearly shows the content should be encoded.  However the verbiage on the page should include the same plain-english statement on all 3 reference, not just the one.  My secret had special characters and the response was a

[2020-02-15 16:54] FredFaust opened #48188 "Provide more info"
I've enabled large partition keys on a Graph database but I'm sometimes getting conflict errors when trying to add a vertex saying that "Resource with id already exists with a conflicting hashed partition key, Please retry with a different partition key". When I query all vertices from that partition key (both from the Portal and an app using Gremlin.Net package), I'm not seeing a vertex with the

[2020-02-15 17:46] splummer opened #48190 "How long can some one select skip?"
I cannot find anywhere where it tells you how long someone can click skip registration for SSPR.

I know that some of the built in policies for MFA allow 14 days but I see no configuration or statement about how long people can skip for. I guess should just assume it is forever?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-15 17:54] a-hackw opened #48191 "WAF Config and Firewall Policy"
The last script in this page refers to a variable names $wafConfig that isn't defined elsewhere. When creating a new Application Gateway should both WebApplicationFirewallConfig and FirewallPolicy be specified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55f82804-ee47-ea10-8cfc-9ad8cad0cf0e
* Version Independent ID:

[2020-02-15 17:58] a-hackw commented on #48130
Yes, other documentation on the same page refers to Application Gateway Standard_v2 and WAF_v2 SKU.

[2020-02-15 18:10] baatch opened #48192 "Bulk insert with access token time out after 1 hour"
Hi,

I'm using a access token and doing a big bulk insert into an Azure SQL database that will times out after 1 hour because of token expiration. Is there anything that can be configured on the connector to allow it to run for more than 1 hour with an access token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a43d6

[2020-02-15 20:59] solidcloudio commented on #43558
It isn't difficult to add a cname xxx.your.domain to point to xxx.azurecontainer.io, then just use a sidecar pattern with an nginx wrapper as outlined here..

[2020-02-15 21:33] shanimsa opened #48194 "The link to Level 3 communications is not valid on the ExpressRoutes page"
The link to Level 3 Communications on the following page redirects to a 404

https://docs.microsoft.com/en-us/azure/expressroute/expressroute-locations

The link presents a page with the following text:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a00024b9-36f7-c9a8-4277-9360b0cd6163
* Version Independent ID:

[2020-02-15 21:40] saulcp95 opened #48195 "Update Windows Server 2008 on the supported OS"
Based on the February 13th announcement: https://azure.microsoft.com/en-us/updates/backupws2008/ , Azure Backup now supports Windows Server 2008.

Please update the support matrix accordingly: https://docs.microsoft.com/en-gb/azure/backup/backup-support-matrix-iaas#operating-system-support-windows .

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-02-15 22:03] fedsp opened #48196 "'management?'"
What does this 'management service' consists of?
Can I use the qna maker bypassing this management service?
What if I have a region restriction to deploy my application? Does Microsoft have a plan to publish this into another regions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a95eef90-113c-0cfe-b346-8cab80706b52
*

[2020-02-15 22:18] gkuzkin opened #48197 "RDS licensing when Azure AD authentication is used"
I have an Azure VM that has been configured using the instructions on this page.  All is well with user access:  users can log in successfully and use the VM.  That said, I'm having trouble with remote desktop licensing.  Five, per user, CALs are installed.  The licensing manager does not issue these licenses and this results in the "Remote Desktop not configured .... will be disconnected in 60 mi

[2020-02-15 22:54] mslot opened #48198 "Latency routing vs priority routing vs weighted routing"
I dont think it is very clear how the latency routing is working. In the docs it says that latency is "the default", but the docs don't describe why. I think the latency routing is when weighted, and priority is alligned on all backends, like priority=1 and weight=50, but this is actually very hard to deduct from the UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-02-15 23:09] theheatDK opened #48199 "Best practices for monitoring?"
Hi,
This article gives you a general introduction to monitoring.
I am looking for more specific best practices. Set up alarms that fires when these metric reaches these thresholds. Is there such best practices somewhere?
Regards peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aa5ecfe-e37e-999a-df1d-76ed909e6c09
*

[2020-02-16 01:04] ram-msft commented on #47920
@nishiths We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-16 01:04] #47920 closed

[2020-02-16 01:15] Adam-Smith-MSFT commented on #48199
@theheatDK Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-16 01:16] Adam-Smith-MSFT commented on #48198
@mslot Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-16 01:16] Adam-Smith-MSFT commented on #48197
@gkuzkin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-16 01:17] Adam-Smith-MSFT commented on #48196
@fedsp Thank you for the valuable feedback,we are investigating the issue.

[2020-02-16 01:18] Adam-Smith-MSFT commented on #48195
@saulcp95 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-16 01:19] Adam-Smith-MSFT commented on #48194
@shanimsa Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-16 01:20] Adam-Smith-MSFT commented on #48192
@baatch Thank you for the valuable feedback,we are investigating the issue.

[2020-02-16 01:21] Adam-Smith-MSFT commented on #48191
@a-hackw Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-16 01:22] Adam-Smith-MSFT commented on #48190
@splummer Thank you for the valuable feedback,we are investigating the issue.

[2020-02-16 01:23] Adam-Smith-MSFT commented on #48188
@FredFaust Thank you for the valuable feedback,we are investigating the issue.

[2020-02-16 01:24] Adam-Smith-MSFT commented on #48187
@DonFrazier Thank you for the valuable feedback,we are investigating the issue.

[2020-02-16 01:44] shanimsa commented on #48194
CenturyLink did acquire Level3 a few years back, perhaps the links may have changed to CenturyLink assets since then.

[2020-02-16 01:45] dotnetgator opened #48200 "What is the purpose of the EmailBox and how does it behave differently from the TextBox UserInputType"
EmailBox and TextBox both appear to work the same, although EmailBox is not present in the current 0.3.0.0 schema file. Even the generated HTML appears to be completely identical. Is there a difference or specific use case for EmailBox?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e31c230-4294-6b21-91c2-b829852f80a3

[2020-02-16 02:36] dotnetgator opened #48201 "Please indicate acceptable data types for each User Input Type"
For example, TextBox and EmailBox appear to work fine with String, Int, Long, and Boolean (others not tested), as long as the value entered is parseable into the indicated data type.

Multi-check box works - sort of. Since it appears to concatenate selections into a comma-delimited list, it works fine for int and bool as long as there's only one selection. Beyond that, it flags an error (I imagine

[2020-02-16 02:38] dotnetgator opened #48202 "Please update Paragraph with a note to indicate that it should not be placed on a SelfAsserted TP with Required=True"
When a paragraph User Input Type is included in the Output claims for a self-asserted TP and that output claim is set to Required=true, the TP will always indicate that input has not been provided. Please include a note indicating that this is an unsupported configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-02-16 02:51] mganeshphani opened #48203 "Powershell samples"
Would be nice to have some powershell samples, now that powershell is firsthand language supported on Azure functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5063120f-d48e-6a76-8e6d-208ead92d187
* Version Independent ID: 72bb8ecc-6dec-079a-a9d4-52205466a8c6
* Content: [Azure Queue storage bindings for Azure Func

[2020-02-16 02:56] dotnetgator opened #48204 "Please indicate how multiple selections are returned from a checkbox multi-select User Input Type"
The description above for the CheckBox Multi-Select User Input Type does not mention how multiple elements are returned. An indication should be included specifying that they are returned as a comma-separated list.

It might also be helpful to include a link to the StringSplit transformation (https://docs.microsoft.com/en-us/azure/active-directory-b2c/string-transformations#stringsplit) to indicat

[2020-02-16 04:39] SwathiDhanwada-MSFT commented on #48083
@CharmanderJieniJieni As there are further documentation changes , we will close the issue for now. If you have further questions,kindly revert and we will be very glad to assist you.

[2020-02-16 04:39] #48083 closed

[2020-02-16 05:21] BBirdselllab commented on #47733
It appears to have been connected to the size of the VM... It was the last thing to try. I've been trying to develop using the two lowest tiers: B1ls & B1ms. Finally today I had the time to recreate a VM and left it at the default size value of Standard DS1 v3 at that step and it worked as expected. A bit annoyed at the large jump in price for this fix. The estimates put it at over $200US gap in t

[2020-02-16 05:58] dcurwin commented on #48195
#reassign:dcurwin

[2020-02-16 07:32] limjianan commented on #47823
yup. i will also provide a link to Intune compliance  for windows/android and ios https://docs.microsoft.com/en-us/intune/protect/compliance-policy-create-windows
https://docs.microsoft.com/en-us/intune/protect/compliance-policy-create-android
https://docs.microsoft.com/en-us/intune/protect/compliance-policy-create-ios

Further, i also will recommend to include hybrid Azure Ad-joined machine as we

[2020-02-16 08:33] kumardeepakxyz commented on #48179
@neeleshray-msft Hi, I wanted to activate Multi-factor Authentication for Office 365 to use it to send/receive emails from my website. So I followed [this link to do so](https://in.godaddy.com/community/Managing-Email/Multi-factor-Authentication-for-Office-365/m-p/125465/highlight/true#M11230).

### It worked pretty well the first time but then I deleted the **Initial app passwordxxxxxxxxxxxxxxxxx

[2020-02-16 10:07] MarshalOfficial commented on #31347
Hi,
does Microsoft authenticator app send my IP to the site that i am scanning qr code from??

[2020-02-16 10:08] juanjojulian opened #48205 "Review required inbound NSG rules and routes as maybe outdated"
Hi, I just deployed an SQL Managed Instance and reviewed rules and routes configured by the deployment and don't match the information in this page. May be outdated?

As an example, ports "9000", "9003", "1438", "1440", "1452" are opened to SqlManagement instead of ANY.
Ports "9000", "9003" are opened to CorpnetSaw and to a list of IP ranges ("65.55.188.0/24", "167.220.0.0/16", "131.107.0.0/16", "

[2020-02-16 10:19] #48205 closed

[2020-02-16 10:42] memildin commented on #47208
#reassign:curtand

Assigning this to the correct author

[2020-02-16 10:44] memildin commented on #47208
#reassign:memildin

Taking this issue back - it's mine after all :)

[2020-02-16 10:47] dcurwin commented on #47934
#reassign:GeethalakshmiG

[2020-02-16 11:48] hagaic opened #48206 "Get list of refreshes returns times with no zone indicator"
See your own example above:

GET /refreshes
"startTime": "2017-12-09T01:58:04.76"

This is in contrast to:
GET /refreshes/&lt;refreshId&gt;
"startTime": "2017-12-07T02:06:57.1838734Z"

See the "Z" at the end... that is missing for GET /refreshes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f706b7d-0a82-4535-f7ec-385

[2020-02-16 12:03] maithilikotla commented on #18475
Hi, I have generated client certificates from keyvault, CA verified and then generated appropriate certs (.crt, .pem, key etc) and finally configured in apim. but am getting 403 inspite of enabling Negotiate client certificate setting in custom domains. Just a question though, while generating a certificate, does the subject/issuer need to match the apim domain name which is configured in gateway

[2020-02-16 12:04] dcurwin commented on #48195
The document has been updated, and the changes should show up soon.

[2020-02-16 12:04] dcurwin commented on #48195
#please-close

[2020-02-16 12:04] #48195 closed

[2020-02-16 12:13] jeanpaulsmit commented on #23919
For all getting here without understanding why the manual routing doesn't work, please read this carefully: https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#route-production-traffic-manually
The trick is in this part, which mentions you need to set the routing % first to 0 manually (and save!) before it will work:
"By default, new slots are given a routing rule of 0%, shown

[2020-02-16 12:19] JasSuri commented on #48091
The only way is to embed a link to sign up, which sends the user back to the app and launches a sign up policy. You cannot use the combined page since it forces username/password fields.

[2020-02-16 13:09] mhaggag commented on #11342
What about other languages? Are there plans to add an Arabic localization?

[2020-02-16 13:29] shashishailaj commented on #48201
@dotnetgator Thank you for your query. We will investigate and update this thread further.

[2020-02-16 13:31] shashishailaj commented on #48202
@dotnetgator Thank you for your feedback . We will check with the content team on how best the documentation can be improved as per your recommendations at this point.

[2020-02-16 13:33] shashishailaj commented on #48200
@dotnetgator Thank you for your feedback . We will investigate and update this thread.

[2020-02-16 13:34] NavtejSaini-MSFT commented on #48135
Thanks @jaredmoo for the reply. @eparizzi We are going ahead and closing this thread. Please get back to us if any other question.

[2020-02-16 13:34] #48135 closed

[2020-02-16 13:46] shashishailaj commented on #48067
@djkagle Hope the above clarification by @MicrosoftGuyJFlo helped. Please let us know in case you have any further queries.

[2020-02-16 14:42] OneConsutlantsDemo commented on #48019
thank you!
This process is more manual and not a automated way of recovery of previous version. Is a more automated agile process on the cards in times to come ?. As a simple task of restoring the previous version is a long one. More-over limitation of not able to select choice of my pipeline is a big setback to this entire CI/CD process as far as ADF is concerned.  Regards

[2020-02-16 14:52] NavtejSaini-MSFT commented on #48205
@juanjojulian As this issue has been closed by you, we hope you were able to resolve your query. Please do share your answer here for others who are seeking similar help.

[2020-02-16 14:56] dotnetgator opened #48210 "The definition for the selfasserted DataUri is innacurate"
The current definition reads "Displays a form that enables users to create or update their profile." This makes it seem like self-asserted is only to be used for Profile Edit or Sign Up journey steps. However, self-asserted is a bit of a "catch-all" Data Uri - it is used for just about any page that isn't one of the special-purpose page identifiers identified elsewhere in the table.

I'd suggest b

[2020-02-16 15:28] shashishailaj commented on #48204
@dotnetgator Thank you for your feedback . We will check with the content team on how best the documentation can be improved as per your recommendations.

[2020-02-16 15:43] #48204 closed

[2020-02-16 15:43] #48202 closed

[2020-02-16 15:51] yoelhor commented on #48200
Email field is now `type=email` and mobile keyboards will provide the correct suggestions. The page version must be v 1.2.0. For more information, see https://docs.microsoft.com/en-us/azure/active-directory-b2c/page-layout

[2020-02-16 15:54] shashishailaj commented on #48204
@yoelhor Thank you for fixing the article.

@dotnetgator We have fixed the article on our end. It must be updated within the next release cycle in 24-48 hours and you must be able to see the changes in the article. We have closed the issue now. Should you still have any further queries, please feel free to let us know and we will be happy to help you .

Thank you.

[2020-02-16 15:55] yoelhor commented on #48201
#please-close

[2020-02-16 15:55] #48201 closed

[2020-02-16 15:55] yoelhor commented on #48200
#please-close

[2020-02-16 15:56] #48200 closed

[2020-02-16 15:56] yoelhor commented on #47996
#please-close

[2020-02-16 15:56] #47996 closed

[2020-02-16 15:57] dotnetgator commented on #48200
Thank you @yoelhor . The fact that this UserInputType offers special functionality only when used with a certain page version should probably be called out in the documentation. It is not obvious, and is doubtful that people will think to go to investigate Page Layout when looking at Claim Type.

I probably should have guessed to check release notes since the XML failed to validate, but again, tha

[2020-02-16 16:00] dotnetgator commented on #47996
Hello @yoelhor - I believe closing this is premature. PhoneFactorProtocolProvider is included in the Starter Pack, but is completely undocumented. For that matter, i tis prominently included in a collection called "SocialAndLocalAccountsWithMfa", ()but the only way to divine how to use it is to dissect the policy files and hope you can stumble your way into success.

[2020-02-16 16:04] shashishailaj commented on #47075
@ticianaciminari Unfortunately this currently does not seem to be in the roadmap at this point . However , we would suggest you to request for the feature on our [Azure AD uservoice feedback channel](https://feedback.azure.com/forums/169401-azure-active-directory). This is periodically reviewed by the Product group and they prioritize the feature as per public request . Hope this helps. We will cl

[2020-02-16 16:04] #47075 closed

[2020-02-16 16:06] dotnetgator opened #48211 "The providerselection entry in the DataUri Page Identifer table list is confusing"
The text before the table states "The following table lists the page identifiers you can use." However, the list includes "providerSelection", which is only a valid type for pages &gt; version 1.2, and it replaces "idpselection" from the 1.0 version, and is what is contained and found in all of the current starter pack contents.

Do both of these need to be listed in the same row, or does a new ro

[2020-02-16 16:47] Adam-Smith-MSFT commented on #48211
@dotnetgator Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-16 16:49] Adam-Smith-MSFT commented on #48210
@dotnetgator Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-16 16:49] ncarandini opened #48212 "Enable the implicit grant flow not available on App registrations (Preview)"
The instructions to enable the implicit grant flow are misleading because in the new experience the "implicit grant" section is not available.
So, if this step is really needed on the new experience, the steps should be:
Under Manage, select Authentication.
-- DELETE: Select Try out the new experience (if shown).
++ ADD: Select Switch to the old experience.
Under Implicit grant, select both the Ac

[2020-02-16 16:50] Adam-Smith-MSFT commented on #48206
@hagaic Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-16 16:51] Adam-Smith-MSFT commented on #48203
@mganeshphani Thank you for the valuable feedback,we are investigating the issue.

[2020-02-16 16:55] Adam-Smith-MSFT commented on #48212
@ncarandini Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-16 17:07] #48211 closed

[2020-02-16 17:15] #48091 closed

[2020-02-16 17:51] dotnetgator opened #48213 "The ContentDefnition Element requirements are wrong"
The RecoveryUri element is listed as 0:1 - that is incorrect and should be changed to 1:1 (the RecoveryUri element is required.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5da541cb-72b5-7971-3c58-8bd3fe546369
* Version Independent ID: 377d8d53-cf44-5a3a-d431-1823bdd17be0
* Content: [ContentDefinitions - Azure AD B2

[2020-02-16 18:01] dotnetgator opened #48214 "Purpose and options for RecoveryUri are missing"
The stated purpose for the RecoveryUri element is currently "A string that contains the URL of the HTML page for displaying an error relating to the content definition."

Under what circumstances is this page used instead of the GlobalException page? The Starter Pack and other references merely use the value "~/common/default_page_error.htm", but that page does not seem to be as publicly accessibl

[2020-02-16 18:41] KalyanChanumolu-MSFT commented on #48192
@baatch Thank you for reaching out.
What is your database SKU? Please check if you need to upscale for better throughput.
Did you try tweaking the bulkCopyBatchSize to a higher number?

Access tokens are by default valid only for one hour.
Since they cannot be revoked until they expire, the validity is capped for security reasons.

[2020-02-16 18:59] yoelhor commented on #48213
I'll be fixed this week.

Yoel

[2020-02-16 19:48] sam1310 commented on #30680
@MarileeTurscak-MSFT was there ever a solution to this? Passwordless sign-in is working for me but I don't get any push notifications in the app - push notifications for approve/deny are working fine

[2020-02-16 19:54] nkarthik123 commented on #34828
+2

[2020-02-16 20:12] markjbrown commented on #47481
You say these are shared containers but your template does not specify the throughput for the database resource. I would specify the throughput, example below.

btw, you are also using an older API version. If you have no reason to use this older API version I would use the newer one as this one had some issues. GitHub Repo for that is here. https://azure.microsoft.com/en-us/resources/templates/10

[2020-02-16 20:57] michaelhambe commented on #47179
@SumanthMarigowda-MSFT, the functionality seems to be available - any idea when the documentation will be updated with cli examples?

[2020-02-16 22:13] SamHard opened #48215 "Direct connection mode available for Gremlin API"
Is there a way leverage direct connection mode with the Gremlin API?  The .NET Cosmos DB Gremlin samples I've seen don't use the Azure SDK at all.  I did find one .NET SDK documentation page that listed a CreateGremlinQuery() extension method, but I can't find that class in any of the current SDK nuget packages. (Link: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.graphs.graphextensi

[2020-02-16 22:30] dotnetgator opened #48216 "The Protocol Declaration section is incorrect."
The Protocol declaration documentation for the "Name" element currently reads "The name of a valid protocol supported by Azure AD B2C that is used as part of the technical profile. Possible values: OAuth1, OAuth2, SAML2, OpenIdConnect, Proprietary, session management, self-asserted, or None."

However, Self-Asserted and Session Management TP's are both defined with a Proprietary name and correspon

[2020-02-16 22:43] baatch commented on #48192
Is raising the SKU level of the Azure SQL database the only way around if we want to use access tokens?
What if we need to copy several billions of records? We are not concered about the copy time that it will take as long as it will finish.

Is it an limitation of Azure for the access token authentication that all bulk insert activities must be kept under 1 hour in order to work? If that is the c

[2020-02-17 00:24] michaelsync commented on #47461
@VikasPullagura-MSFT

I wonder if this @MicrosoftDocs/aks-pm is the right tag. I got 404 page when I access it. No response in 12 days.

[2020-02-17 01:37] dotnetgator opened #48218 "Possible error in the "Display claims" section"
The Display Claims section includes the following paragraph:
"The DisplayClaims element contains a list of claims to be presented on the screen for collecting data from the user. To prepopulate the values of output claims, use the input claims that were previously described. The element may also contain a default value."

Should this say "To prepopulate the values of **display** claims"? (Is the o

[2020-02-17 01:46] Plasma commented on #41969
Getting this issue today on azcopy 10.3.4:

[code]

[2020-02-17 02:04] koratshail commented on #46601
@@AshokPeddakotla-MSFT,@PtwHub,@justinatomatic,@kgremban
Please close this issue if none of you can resolve it. It will save both of us time.

[2020-02-17 02:16] JavedEqbal opened #48219 "Statement is not correct - "2 Azure disks for virtual machines, including both managed and unmanaged disks, support LRS only.""
As per the document "Azure disks for virtual machines, including both managed and unmanaged disks, support LRS only." For managed disk it is understood but for unmanaged VMs we are able to create a GRS/RA-GRS Storage Account and associate a VM with it. Does the document need a correction ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-02-17 02:17] neeleshray-msft commented on #48216
@dotnetgator Thank you for reaching out. We will investigate and update the thread further.

[2020-02-17 02:18] neeleshray-msft commented on #48218
@dotnetgator Thank you for reaching out. We will investigate and update the thread further.

[2020-02-17 02:19] neeleshray-msft commented on #48214
@dotnetgator Thank you for reaching out. We will investigate and update the thread further.

[2020-02-17 02:20] kiazhi commented on #21170
Great update of the documentation. Thank you for the effort.

Any chance if `GatewayManager` service tag will ever have sub category in term of region? (Eg.

[code]

[2020-02-17 02:52] djpmsft commented on #48019
Hey @OneConsutlantsDemo,

What I like to do is have my DevOps pipeline automatically create a release pipeline every single time I publish to adf_publish in my dev factory. By doing this, DevOps maintains history of all changes to the publish branch.

Each deployment step is just an ARM Template deployment using the version of the publish branch that existed once the release was created. To revert

[2020-02-17 02:56] djpmsft commented on #48019
The hot fix method outlined above is more of a new addition/fix to production rather than a reversion to an older version, hence why the steps are more manual

[2020-02-17 02:56] danielmcconville commented on #39518
@mattchenderson how does this work behind the scenes with a Web App. Is it the Web App virtual container that gets assigned the Managed Identity, or somehow the application itself? If it is the former and the code libraries are simply calling the local URL to get the token to use to retrieve the secret, could we not still use the Web App developer tools to SSH to the box and issue the following:

[2020-02-17 03:29] neeleshray-msft commented on #48215
@SamHard Thank you for reaching out. We will investigate and update the thread further.

[2020-02-17 04:05] neeleshray-msft commented on #47833
@9songs As of today, there is no published document for the same. I would suggest you open a Support Ticket with the Office 365 team for the same.

[2020-02-17 04:05] #47833 closed

[2020-02-17 04:07] neeleshray-msft commented on #48002
@MikeKaneDXC We would be closing this thread now. Let us know if you need further help.

[2020-02-17 04:07] #48002 closed

[2020-02-17 04:18] RohitMungi-MSFT commented on #48068
@LizMoreno @ticianaciminari Thanks for bringing this up. The metadata is normalized to lowercase when it is saved, and there no way currently to preserve uppercase.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-17 04:18] #48068 closed

[2020-02-17 04:37] aquibqureshi26 opened #48220 "For SLE11 there is no Waagent in cloudrepo"
Hi Team,
You've mentioned that waagent can be found under Cloud:tools. for SLE 11 but there is no link for the agent there.
https://build.opensuse.org/repositories/Cloud:Tools

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea02d36-fca1-a329-f539-90e22b698977
* Version Independent ID: 35d1f897-0d81-98b8-1c28-af1528f1e1

[2020-02-17 04:40] onkarthg commented on #46954
Give me a time, i will check this once again and get back to you.

[2020-02-17 05:06] pchandravadan commented on #25050
any updates on Xamarin.iOS implementation for this? Thanks

[2020-02-17 05:11] AshokPeddakotla-MSFT commented on #47732
@tmhui94 I have checked this internally and confirm that, currently Blob Storage module doesn't support proxy environment. I would kindly request you to create a feedback entry in the [UserVoice](https://feedback.azure.com/forums/907045-azure-iot-edge) forum and upvote. It will also enable other users to upvote for this feature. All the feedback you share in these forums will be monitored and revi

[2020-02-17 05:11] #47732 closed

[2020-02-17 05:13] VikasPullagura-MSFT commented on #47461
@michaelsync Yes it is right tag for AKS team. I am following up internally on email for this issue.

[2020-02-17 05:22] VikasPullagura-MSFT commented on #48162
@Jebarson Updated the doc, changes will go live soon.

[2020-02-17 05:26] VikasPullagura-MSFT commented on #46397
@mlearned Can you please check and add your comment on this.

[2020-02-17 05:27] PramodValavala-MSFT commented on #47805
@dougmolineux Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-17 05:27] #47805 closed

[2020-02-17 05:28] VikasPullagura-MSFT commented on #47808
@blueelvis There are not limitation for given VM SKU size.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-17 05:28] #47808 closed

[2020-02-17 05:30] VikasPullagura-MSFT commented on #47828
@ShineSmile We will now close this issue. Please tag me in comment once you have further details to update on this. We will reopen this for  and we will continue the discussion.

[2020-02-17 05:30] #47828 closed

[2020-02-17 05:31] #48162 closed

[2020-02-17 05:33] VikasPullagura-MSFT commented on #47903
@vnvaditya We will now close this issue. If there are further questions regarding this, please tag me in comment. I will reopen it and we will continue the discussion.

[2020-02-17 05:33] #47903 closed

[2020-02-17 05:43] tinhpv commented on #44491
You should check if the session is null before set session to ASA. In case it is null, create new session:
if (sceneView != null && sceneView.getSession() == null) {
            try {
                Session session = new Session(this);
                Config config = new Config(session);
                config.setUpdateMode(Config.UpdateMode.LATEST_CAMERA_IMAGE);
                session.configure

[2020-02-17 05:43] KrishnaG-MSFT commented on #48041
@mbradl01 As we have not heard back from you so closing the issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-02-17 05:43] #48041 closed

[2020-02-17 05:43] KrishnaG-MSFT commented on #48045
@cdanieloliveira Closing the issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-02-17 05:43] #48045 closed

[2020-02-17 05:46] #47933 closed

[2020-02-17 05:54] SnehaAgrawal-MSFT commented on #47933
@OmniTroid Thanks again for the feedback! I have created Pull Request and it will be visible soon!  Also. The best way to share your feedback would be to create a [User Voice feedback](https://feedback.azure.com/forums/169385-web-apps) and upvote it. The product group monitors this site for feedback. This is the best way to ensure you are heard and you may receive a response depending on how much

[2020-02-17 06:03] #48216 closed

[2020-02-17 06:03] SadiqhAhmed-MSFT commented on #48183
@ranokarno Is this still an issue? If yes, could please let me know what is the image being selected and was it the same deleted before? Any other details would also help understand this issue better.

[2020-02-17 06:04] #48213 closed

[2020-02-17 06:05] #48218 closed

[2020-02-17 06:06] ChiragMishra-MSFT commented on #48155
@sfilipi What's the error code in the activity run ? Here's a troubleshooting guide for such issues (taken from https://docs.microsoft.com/en-us/azure/data-factory/data-factory-troubleshoot-guide#error-code--4121) :

Error code: 4121
Message: Request sent to Azure Machine Learning for operation '%operation;' failed with http status code '%statusCode;'. Error message from Azure Machine Learning: '%

[2020-02-17 06:07] #48210 closed

[2020-02-17 06:09] VikasPullagura-MSFT commented on #48157
@benchristel As you mention, that your application is not supporting Standard_F4s_v2 you are looking for deploying in DSv2-series VM.
The F4s is a compute optimized which have high CPU to memory ratio, where as the DsV2 series are General Purpose workloads with balances CPU to memory ratio. Also, the price for these VM sizes vary.

From the [Pivotal Doc](https://docs.pivotal.io/platform/ops-manage

[2020-02-17 06:10] AshokPeddakotla-MSFT commented on #46601
@koratshail Sincere apologies for the delay in response. I do not have any update other than the one provided on the UserVoice and the Git issue linked. Regarding the samples, please go through the read me files and try.
@chipalost Adding here to provide an update if there is any on this request.

[2020-02-17 06:20] SwathiDhanwada-MSFT commented on #48006
@neetima09 Thanks for your feedback. Here are my thoughts on the comments. Kindly check and respond if it provides you with necessary information.

1) **Runtime Stack option is not mentioned :** Can you please elaborate on this ?
2) **Autoscale is not part of monitoring section:**  As per my knowledge , autoscale is a part of Azure Monitor where from single location we will be able to configure au

[2020-02-17 06:33] WenJason opened #48221 "Mysql storage type problem"
Hi Team,
The storage types of Azure database for MySQL are "standard" and "premium" in this article, but they are "Basic" and "General Purpose" on the Azure portal ui. I think it may confuse someone who read this article. Could you please check it? Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0f76

[2020-02-17 06:37] ranokarno commented on #48183
hi @SadiqhAhmed-MSFT ,
one of finding of this issue is during VM deletion, we also revoke marketplace acceptance term. which may or maynot cause `ResourcePurchaseCanceling`.

this issue is resolved after open up ticket to MS support and perform SYNC on the affected Azure subscription.

[2020-02-17 06:43] SnehaAgrawal-MSFT commented on #48013
@rajaprad It looks like duplicate issue of https://github.com/MicrosoftDocs/azure-docs/issues/48014
hence closing it here.

[2020-02-17 06:43] #48013 closed

[2020-02-17 06:46] v-nagta commented on #48049
We have updated the Doc

#please-close

[2020-02-17 06:46] #48049 closed

[2020-02-17 06:54] v-nagta commented on #47509
@mwahrtp Hi Mark,
You can make changes in the article by clicking on the edit option on top right side of the article and after editing you can submit the PR and we will review that PR. If not possible you can directly send the updated screenshots to us we will update the article for you.

Thanks,
Nagireddy

[2020-02-17 06:54] xiaoharper commented on #47851
@juhap  thanks for report the issue. I've send an email to your Github contact mail  to collect more information for trouble shooting.

[2020-02-17 06:54] SychevIgor opened #48222 "Please, group properties by object container and provide names from SDK"
This article require some actualization, because fields are not plain list.
Properties grouped. For example
Cloud Role and Cloud Instances are part of Context.Cloud object in .net sdk.
![image](https://user-images.githubusercontent.com/578954/74630397-8e5c8500-516b-11ea-81af-a723fe3800e6.png)

Also, in a real sdk Parent operation id exisit in a form of "ParentId". As a result - find this property

[2020-02-17 06:57] MartinKosicky commented on #35411
actually I can login to az login using SP credentials and az acr login success. However the aks can't seem to pull the images

[2020-02-17 06:59] SnehaAgrawal-MSFT commented on #47866
@sowsan Thanks again for the valuable feedback! The PR has been merged and we will now close the issue.

[2020-02-17 07:04] nnamedieh commented on #47610
Hi @YutongTie-MSFT ,
hi @malopMSFT ,

I'm also quite interested in connecting to Web Apps through Azure Private Link. Is this on the road map? Thank you!

[2020-02-17 07:12] SnehaAgrawal-MSFT commented on #48014
@rajaprad Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-02-17 07:12] v-nagta commented on #47383
@afield1235 Can you please provide the screenshot that referencing to the **SAML User ID is Wdesk Username** and we will update the Doc

[2020-02-17 07:12] msrini-MSFT commented on #48181
@asudbring , can you update the doc, by removing public preview details from this page as this product is already GA?

[2020-02-17 07:16] xxeasterxx commented on #13336
Hi @Alberto-Vega , would like to know this sentence from your previous reply "So as your example shows the larger the data you query you will see an increase in RU's". Does it mean even if select top 1 item from the query and the storage size keep increasing, the RU will also increase?

[2020-02-17 07:21] SychevIgor opened #48223 "Link to Internal: SDK version is broken"
Link going nowhere (404 page) https://github.com/Microsoft/ApplicationInsights-Home/blob/master/SDK-AUTHORING.md#sdk-version-specification

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36c3dfe3-25e4-6899-9bb9-22c1690c8e83
* Version Independent ID: d8ec3295-937e-5e64-132e-7bd503b0e5fc
* Content: [Azure Application Insi

[2020-02-17 07:29] SychevIgor opened #48224 ""Anonymous user id" do not exist in .net SDK. Looks like it's just User.Id"
Could you take sometime and review this "Anonymous user id"  and tell us- exact field name for popular SDKs such as .net sdk.

![image](https://user-images.githubusercontent.com/578954/74632419-5e63b080-5170-11ea-9ee1-94683cdfeb09.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36c3dfe3-25e4-6899-9bb9-22c1690c8e83

[2020-02-17 07:35] dani3lheidemann opened #48225 "Clarification about bandwidth speed"
Hi all, I am wondering about the given bandwidth in Azure ER. In my case, I have chosen 5gbit ER speed, but Azure ER has to be configured on the network providers site on two ports. So in my configuration, I have a 5gbit Azure ER and 2x 5gbit ports configured on the network providers site. I was not able to configure bandwidth on my own, because Azure seems to specify this for the network provider

[2020-02-17 07:42] #47821 closed

[2020-02-17 07:46] KalyanChanumolu-MSFT commented on #48221
@WenJason Thank you for the feedback.
Yes, this could be confusing.

![image](https://user-images.githubusercontent.com/8835012/74633305-57946800-5187-11ea-95bc-aebb01563f12.png)

This issue is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-02-17 07:46] onkarthg commented on #46954
@TomArcherMsft  i have another one query when i am trying to deploy dynamic ansible taging using CI/CD but there is no any option to add the tag of particular machine to install any software on the single machine

[2020-02-17 07:48] KalyanChanumolu-MSFT commented on #48192
@allenwux @stevestein Could you please help here.

[2020-02-17 07:50] rayne-wiselman commented on #48140
@ceglez Thanks for your feedback. I don't see any instructions on this page. Can you give me a bit more info about the issue? The instructions for setting up dependency visualization are [here](https://docs.microsoft.com/en-us/azure/migrate/how-to-create-group-machine-dependencies) (for agent-based visualization), and [here](https://docs.microsoft.com/en-us/azure/migrate/how-to-create-group-machin

[2020-02-17 07:53] rayne-wiselman commented on #48140
#assign:rayne-wiselman

[2020-02-17 07:54] cbailiss opened #48226 "Role/Permissions needed for user?"
Under the heading "Add sync members" this page states:

What is this user used for?  Just the set up or the ongoing execution of Data Sync?
What SQL Server role or equivalent permissions does this user need?
Does this user have to be a SQL login (i.e. owned by SQL Database, not linked to any kind of AD) or can it be an Azure AD user/password or similar?

---
#### Document Details

⚠ *Do not edit t

[2020-02-17 08:09] DixitArora-MSFT commented on #48044
@crgarcia12 PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-17 08:09] #48044 closed

[2020-02-17 08:15] colin-lyman commented on #35411
@MartinKosicky - check the SP has the AcrPullRole permission.

[2020-02-17 08:16] tmarius1970 opened #48228 "Invited user receives "You need permissions" error when tries to access SP Online site after federation"
Thanks for the article. I have created Google federation and indeed the gmail user is not required to create MS account. We want to invite gmail users to an Office 365 group and collaborate within the corresponding SharePoint online site
However there is a very annoying issue: When the user click in the email he received (after being added to an Office 365 group) on the link **Go To SharePoint** h

[2020-02-17 08:19] JasSuri commented on #48079
Personal Accounts (Microsoft Hotmal/Outlook/Live accounts): https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-microsoft-account

AAD All tenants: https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant-custom?tabs=applications

Via ROPC, you are using the wrong endpoint for AAD B2C Local Accounts. ROPC only supports AAD B2C Lo

[2020-02-17 08:19] jitendra1981 opened #48230 "Multi-NIC Configuration in Azure VMs"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-02-17 08:22] MartinKosicky commented on #35411
@colin-lyman  actually I rememberd that I accidentally last week updated aks with a different SP (using terraform). I right away repaired it, and also "aks show" told me that it is correct. However it didn't work. Deleting and recreating the whole AKS helped here.  It seems that updating the service principal on aks can really break some things.

[2020-02-17 08:24] MohitVerma-MSFT commented on #48223
Hello @SychevIgor ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-02-17 08:25] JasSuri commented on #47330
https://github.com/UNIFYSolutions/Azure-B2C

[2020-02-17 08:25] MohitVerma-MSFT commented on #48222
Hello @SychevIgor ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-02-17 08:25] jitendra1981 commented on #48230
Need some standards on Azure Multi NIC configuration part -
1. Is it good practice if we have Multi NIC configured for same subnet (Exa. First NIC IP -192.168.0.10 & Second NIC -192.168.0.121), Noticed sometime internet/outbound traffic issue on Multiple servers.
2. What is the recommendation for using static Or DHCP configuration. setting up DHCP can cause any IPconflict/IP Change issue on server

[2020-02-17 08:29] DixitArora-MSFT commented on #48125
@HQJaTu PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-17 08:29] #48125 closed

[2020-02-17 08:32] MohitVerma-MSFT commented on #48222
Assigning Content-author for further review.

[2020-02-17 08:33] msrini-MSFT commented on #48177
@davidobrien1985 , It is mentioned in the same doc that it is supported via Azure DNS Zones.

"Mapping your apex or root domain to your Front Door profile basically requires CNAME flattening or DNS chasing, which is a mechanism where in the DNS provider recursively resolves the CNAME entry until it hits an IP address. This functionality is supported by Azure DNS for Front Door endpoints."

Let me

[2020-02-17 08:34] MohitVerma-MSFT commented on #48223
Hello @SychevIgor ,

I tried to use the same link and it didn't work for me either. I have assigned to content-author for further review.

[2020-02-17 08:40] msrini-MSFT commented on #48230
@jitendra1981 , Generally multi-NICs are place in different subnets. So,when you want to apply route table when NICs are placed in different subnets you can have different route table for Internal and External interfaces.

Do not change the IP from the Guest OS level unless specified otherwise. You can change/modify the IP from the portal by navigating to the NIC and ipconfig.

For NVAs, it is rec

[2020-02-17 08:49] msrini-MSFT commented on #48225
@nnamedieh , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-02-17 08:50] KrishnaG-MSFT commented on #48228
Hello @tmarius1970, Can you share the Azure document link / URL that you are referring to ?

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any, etc.) so thats the reason for asking related Azure document l

[2020-02-17 08:53] SubhashVasarapu-MSFT commented on #47571
@kaplik , Appreciate your patience. Assigning this issue to the respective content author for better insights. @abshamsft , Could you please provide your insights here?

[2020-02-17 08:55] MohitVerma-MSFT commented on #48224
Hello @SychevIgor ,

You can find the complete endpoint schema declaration in he below doc:

https://github.com/microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/Schemas/Bond/ContextTagKeys.bond

As you can see in the above doc , you can use User.Id for the same purpose:

[code]

You can find the endpoint schema declaration for ApplicationInsight JS version in the below doc:

https://gi

[2020-02-17 08:59] tmarius1970 commented on #48228
Hi, yes, sorry about that.

The link is:

https://docs.microsoft.com/en-us/azure/active-directory/b2b/google-federation

Marius

On Mon, Feb 17, 2020 at 10:50 AM KrishnaG-MSFT <notifications@github.com>
wrote:

[2020-02-17 09:02] SumanthMarigowda-MSFT commented on #48219
@JavedEqbal Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-17 09:03] KrishnaG-MSFT commented on #48228
@tmarius1970 Thanks for your referred Azure document link / URL. We will review and provide an update as appropriate.

[2020-02-17 09:10] v-nagta commented on #47347
We have updated the article

#please-close

[2020-02-17 09:10] #47347 closed

[2020-02-17 09:11] sebainones opened #48231 "Other ways to access the Key Vault using Connected Services"
About a year ago, I'm pretty sure I followed this guide to access my Key Vault using connected Services.
I'm using ASP.NET Core 2.2 and my code still access & use key vault's secrets but...
I have only configured "Connected services" from solution explorer. In addition, I also installed other Nuget dependencies:
- Microsoft.AspNetCore.AzureKeyVault.HostingStartup
- Microsoft.Extensions.Configurati

[2020-02-17 09:11] v-nagta commented on #47074
We have updated the article with the above-mentioned changes

#please-close

[2020-02-17 09:11] #47074 closed

[2020-02-17 09:12] SwathiDhanwada-MSFT commented on #48033
@bdanse Thanks for reaching out! I referred to one of the articles written by an external customer where it was mentioned that .NET object doesn't work in Windows 2016 and need to be set changing the registry key. For more information, please refer [this](http://www.darrylvanderpeijl.com/windows-server-2016-update-settings/) blog. Please note incorrectly editing the registry might severely damage

[2020-02-17 09:13] v-nagta commented on #44345
Removed the article of the application

#Please-close

[2020-02-17 09:13] #44345 closed

[2020-02-17 09:14] LizMoreno commented on #48068
Hello @RohitMungi-MSFT

I need to keep the letters lowercase and uppercase together.
example:  asKLMghN
could they change it? Please

[2020-02-17 09:18] v-nagta commented on #45358
@CeciAc Can please provide the screenshot which you are talking about, I can't see any image in your comments.

[2020-02-17 09:20] eugenpodaru opened #48232 "Single sign-on with other identity providers"
Databricks on AWS supports multiple identity providers for SSO (see https://docs.databricks.com/administration-guide/users-groups/single-sign-on/index.html). Is it on the roadmap for Azure Databricks to support other identity providers than AAD for SSO?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 703947d0-72cd-f706-

[2020-02-17 09:22] AshokPeddakotla-MSFT commented on #46942
@ganesh-gawande Have you tried the above suggestions? Does it helps to resolve your issue? Do let us know if you are still blocked and help needed.

[2020-02-17 09:25] PhilipSkinner commented on #48144
Hello,

This issue has been closed on the visual studio community as not a bug (https://developercommunity.visualstudio.com/content/problem/895743/startdevelopmentstorage-set-to-false-does-not-work.html) - unfortunately it really is a bug.

I'm using an alternative emulated storage service, as its better than the one that ships with VS. This connection string is a connection string - why are you u

[2020-02-17 09:26] RohitMungi-MSFT commented on #48068
@LizMoreno Our development team has a backlog to support this feature but we do not have an ETA for its implementation. Unfortunately, in the current scenario all tags are stored in lower case letters.

[2020-02-17 09:29] VikasPullagura-MSFT commented on #48142
@ericchansen From the error, seems issue with the capacity available in westus2 region when you tried the deployment.
I just tried deploying K80 SKU in westus2 region and it was successful.
As you mentioned P100 & V100 are still not getting deployed due to capacity issues. I tried deploying V100 in centralindia regions and it is successful. You can try to deploy in another [supported regions](http

[2020-02-17 09:36] SwathiDhanwada-MSFT commented on #48171
Assigning to @mrbullwinkle  for review and updating the document.

[2020-02-17 09:37] timmo001 commented on #48124
So is there a definitive list of

[2020-02-17 09:38] DixitArora-MSFT commented on #48126
@dwoldo I have assigned this to content author for further review and update as appropriate.

[2020-02-17 09:39] DixitArora-MSFT commented on #48117
@SychevIgor I have assigned this to content author for further review and update as appropriate.

[2020-02-17 09:44] VikasPullagura-MSFT commented on #48220
@aquibqureshi26 Thanks for your Query.
As mentioned in document in the link https://build.opensuse.org/repositories/Cloud:Tools the agent is available under module named "python-azure-agent".

Please see below screenshots:

![image](https://user-images.githubusercontent.com/48944027/74641796-e315f500-5197-11ea-861f-eedd45675871.png)

![image](https://user-images.githubusercontent.com/48944027/7464

[2020-02-17 09:55] harald-quist-stratsys opened #48233 "Token generated by Azure AD"
Why is it not recommended to leave the Secret token field blank and rely on a token generated by Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 271dc426-fb47-7441-d627-ec11f8c7a6ea
* Version Independent ID: 4cb8bfc8-4748-e501-425a-e4c2da0f5f5a
* Content: [Build a SCIM endpoint for user provisioning to apps fr

[2020-02-17 09:57] FlorianPydde opened #48234 "Code folder suggestion"
Based on previous experiences, I would propose the following structure for the "Code" folder

- **DataPrep**: rename it to Pipeline. The folder will contain all the scripts DS scripts: data wranling, train test split, preprocessing+feature engineering, modelling and scoring.
- **Model**: good. it used to store models locally

- **Operationalization**: contains the script to build the infrastructur

[2020-02-17 10:00] anaskalash commented on #48053
Thanks for your response,
Is there any update?

[2020-02-17 10:04] bhp15973 commented on #42603
@simonvane @msrini-MSFT
Could you please add some link where can I find arm template examples which can solve redirect http to https?

[2020-02-17 10:06] SychevIgor commented on #48224
@MohitVerma-MSFT  thank you. I did all what I need, but it is not about me, it's about up-to-date documentation.

[2020-02-17 10:08] SubhashVasarapu-MSFT commented on #47867
@krhynerson , Appreciate your patience. I would suggest you to update your Azure PowerShell module in order to list the updated modules and parameters.
Here is the screenshot listing -CustomRoute parameter for me,
![image](https://user-images.githubusercontent.com/44890829/74643897-7b61a900-519b-11ea-861e-4a7c036aeb6c.png)
We are closing this issue for now. If there are further questions regarding

[2020-02-17 10:08] #47867 closed

[2020-02-17 10:20] SychevIgor opened #48235 "Obsolete and no longer available UX for application insights"
Event with respect, that classic metrics retired- this article demonstrated out-of-dated experience of Application Insights that could be actualized.
Please, take a look on all images.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90f43045-6caa-3b9b-f293-85e28c71372e
* Version Independent ID: 47ea0b3f-96c7-7f36-07f7-f

[2020-02-17 10:21] SubhashVasarapu-MSFT commented on #47955
@sean-nixon , Sure we will work on updating the doc accordingly by providing a note on rule(Custom & Managed) priorities and their work flow in accordance to precedence in the above mentioned Doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-17 10:21] #47955 closed

[2020-02-17 10:31] LizMoreno commented on #48068
Ok. Thank you

[2020-02-17 10:36] elangelo opened #48237 "yaml template instead of json"
Could it be possible to provide the template in json format too? i'm having big problems converting one to the other.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e00caf-dd95-441b-d2d5-0b3c979cb11b
* Version Independent ID: 83ed8e59-7ae8-332e-9ce0-7d80e8a973f8
* Content: [Deploy container group to Azure virtual net

[2020-02-17 10:39] DOliana commented on #47481
Regarding the API-version I use [this](https://docs.microsoft.com/en-us/azure/templates/microsoft.documentdb/allversions) to check what the latest api version to use is. I didn't see anything newer there, but I suppose, that the reason is that the type was switched to `databaseAccounts/sqlDatabases` from `databaseAccounts/apis/databases`, right? (is there a place where I can find anouncements for

[2020-02-17 10:41] YutongTie-MSFT commented on #47940
@bszewczyk Hi, could you please check if you do install Azure ML SDK  on the batch compute? Thanks.

[2020-02-17 10:44] VikasPullagura-MSFT commented on #48237
@elangelo Thanks for the Feedback. I have assigned this to content author to check and update as appropriate.

[2020-02-17 10:44] YutongTie-MSFT commented on #48234
@FlorianPydde Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-17 10:44] VikasPullagura-MSFT commented on #48237
@dlepow Can you please add your comments on ask for json format template.

[2020-02-17 10:53] gpj1 opened #48238 "How to get client id value to use in case of user-assigned MSI ?"
For user assigned identify, documentation says 'client id' must be included in the request URI. But how to get the value? Any environment variable will be exposed by platform similar to MSI_SECRET?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3177-ce9e-ebfa-03a7-45beb8ca3212
* Version Independent ID: a59df23d-f3a

[2020-02-17 10:58] Kaliloo opened #48239 "Azure Extension for NPS - Password management"
We successfully deployed NPS Extension for MS NPS server. We would like to implement password management feature form Cisco Anyconnect but it doesn't work.

NPS Event:

An NPS extension dynamic link library (DLL) that is installed on the NPS server rejected the connection request.

Currently NPS Exntesion for MS NPS doesn't support password management as far as our test goes.

[2020-02-17 11:00] imshreya opened #48240 "didn't find any satisfying documentation on "maxAnomalyRatio"."
{
  "series": [
  {
    "timestamp": "1972-01-01T00:00:00Z",
    "value": 826
  },
  {
    "timestamp": "1972-02-01T00:00:00Z",
    "value": 799
  },
  {
    "timestamp": "1972-03-01T00:00:00Z",
    "value": 890
  },
  {
    "timestamp": "1972-04-01T00:00:00Z",
    "value": 900
  },
  {
    "timestamp": "1972-05-01T00:00:00Z",
    "value": 961
  },
  {
    "timestamp": "1972-06-01T00:00:00Z",

[2020-02-17 11:05] gpj1 opened #48241 "What are the recommended/alternative solutions for local development with MSI?"
As per this documentation, I need to have some code  (Eg: `AppServiceMSICredentials`) to work with MSI and obviously this code won't work in developer's local environment. So any recommendations or alternative solutions to make the same work in local environment as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2020-02-17 11:09] #48111 closed

[2020-02-17 11:09] VaibhavVilasPandit commented on #47769
@solankisamir, We tried adding the Global IPs and the region (uksouth) specific IPs in firewall and validated the access. But it gave same issue even with above 3 IPs.
So my intention here was to get idea, to see if there are any way which we can use to identify IP from where we should expect the traffic apart from there Global and Region specific IP. As it is not working in our case.

[2020-02-17 11:09] SwathiDhanwada-MSFT commented on #48111
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-02-17 11:12] DanyEle opened #48242 "Missing upload file step to register model in Official Scikit learn tutorial"
*Problem*:
There is a step missing just before these lines in the official Azure tutorial on how to training a Scikit-learn model: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-scikit-learn#feedback

[code]

I ran this code like 4-5 times and i kept getting errors saying that the model_path I specified did not exist.

*Solution*:

As this Stackoverflow question & answer sugg

[2020-02-17 11:27] mms- commented on #30867
After the NS record is added to the parent, pinging the sub domain resolves correctly, however mxtoolbox still gives error that "Primary Name Server Not Listed At Parent" and warning "Name Servers are on the Same Subnet"

Are other records are required for 'correctness'?

[2020-02-17 11:30] blueelvis commented on #47842
@lastcoolnameleft - Yep, already aware of Velero and the documentation you have written. The thing with Velero is that it is not as integrated with monitoring and alerting like Recovery Service Vault so if possible, please let me know if this is possible with ASR/RSV or not. If not, then the document needs to be edited :)

-Pranav

[2020-02-17 11:34] anoopasokan opened #48243 "Service fabric down time"
Is there any downtime associated with scaling down no of nodes from 10 to 5? Also what about changing the vm size?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71869d24-fe49-3b0f-b096-72d0bf515905
* Version Independent ID: 9db6765c-b334-5ea5-13e7-aff0c59f4e58
* Content: [Common questions about Microsoft Azure Service

[2020-02-17 11:35] bdanse commented on #48033
Thank you for the response. I also found the article and with that I have an additional question. Changing "AUOption" to 3 does not reflect immediately on the system. Even after a reboot.

[2020-02-17 11:37] ram-msft commented on #48078
@hshahbaz Can you please add more details about your LUIS application. Can you please confirm Is you app migrated to azure authoring resource or not migrated yet.
How do I give collaborators access to LUIS with Azure Active Directory (Azure AD) or Role-based access control (RBAC)?
See Azure [Active Directory resources](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-to-coll

[2020-02-17 11:45] OffColour commented on #48131
Thanks. It's more an issue with resources that don't support tags so applying a blanket policy requiring a tag makes it impossible to get 100% compliance.

[2020-02-17 11:48] ram-msft commented on #47834
@BurkusCat Can you please check by enabling logging in the speech SDK. Please follow the below link for the same.
https://docs.microsoft.com/bs-latn-ba/azure/cognitive-services/speech-service/how-to-use-logging
For Technical related questions you can also post under the following stack overflow [link](https://stackoverflow.com/questions/tagged/azure-speech), so that product team can provide more i

[2020-02-17 11:50] shashishailaj commented on #48067
@djkagle We are closing this issue now. In case you still have any query , please do let us know and we will be happy to help you on this. at this point its in preview an hence the functionality you are testing is not available. I would suggest to make a [feature request on the Uservoice site](https://feedback.azure.com/forums/169401-azure-active-directory).  The Product group periodically monitor

[2020-02-17 11:50] #48067 closed

[2020-02-17 11:55] SnehaAgrawal-MSFT commented on #48238
@gpj1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 11:55] SnehaAgrawal-MSFT commented on #48241
@gpj1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 12:08] chaholl opened #48244 "Missing 'Server Side Latency'"
Documentation is missing details of the 'Server Side Latency' metric. It's pretty self explanatory but would be worth including for completeness.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83be8d0a-348a-303a-6424-401b4522661d
* Version Independent ID: e72b9ae2-f26a-77f1-348b-5eec7acf3390
* Content: [Azure Cosmos DB

[2020-02-17 12:11] StingyJack commented on #27217
@femsulu the CPU count is listed for the tier, is the thread count also given? I don't remember seeing that.

[2020-02-17 12:15] SamBlakeC opened #48245 "Custom Schedules or Post-Script doesn't work"
When creating a custom schedule or running the StartStop Parent runbook with the stop action as a post script, the $WhatIf value is inputted as a string rather than a bool causing failure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Independent ID: 9eecef0c-b1cb-1136-fa

[2020-02-17 12:19] antoncyrol commented on #36505
@johnkors  Thanks!

Deleting and recreating the web app with the final app settings already in place at the first deployment helped!

[2020-02-17 12:20] simonvane commented on #42603
@bhp15973 I couldn't find any, hence the question. I ended up with the following:
[code]

[2020-02-17 12:21] aralvar opened #48246 "Same custom domain for endpoint from different vendors"
Under the section "Create a CNAME DNS record" we can read this info: A custom domain and its subdomain can be associated with only a single endpoint at a time.

We should add that this limitation only applies for endpoints from same vendor. Same custom domain can be applied to endpoints from different ones

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-02-17 12:22] shashishailaj commented on #47823
@limjianan Thank you for your feedback . We will engage the content team to see how best the document can be updated.

[2020-02-17 12:28] shashishailaj commented on #47821
@kaseyshah We have initiated a pull request for this change internally and the updated article must be available after review by the content team.

Thank you .

[2020-02-17 12:31] jtuliani opened #48247 "Wrong route name"
Under 'Create the routes' there are two routes created, one for each route table. Traffic flows are different. Yet both routes are named 'ToSpoke'. That's confusing!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6992344b-e177-d268-f308-2be505a2db93
* Version Independent ID: 10263b55-b03c-9e1c-f0b8-ac887eb1b411
* Conte

[2020-02-17 12:41] ronimanojk commented on #46527
Even we are facing the same issue. After deployment using terraform, usage attribution is not shown in the partner portal

[2020-02-17 12:59] HenrikStaunPoulsen opened #48249 "avg_dtu_percent = MAX(avg_cpu_percent, avg_data_io_percent, avg_log_write_percent)"
MAX of the three columns (avg_cpu_percent, avg_data_io_percent, avg_log_write_percent) may also be written like this:
select *
, (select max(pct)
   from (values (rs.avg_cpu_percent), (rs.avg_data_io_percent), (rs.avg_log_write_percent)) as allPct(Pct)
) as avg_dtu_percent
from sys.dm_db_resource_stats rs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-02-17 13:12] bszewczyk commented on #47940
Yes, all libraries are installed. I'm running my python script using cmd command:
cdm \c path_to_python\python.exe path_to_my_script\main.py

It works fine when I run it on my virtual machine. I'm making image from this VM and then run Azure batch with image reference.

[2020-02-17 13:12] Woutdb opened #48250 "Personalizer throws error while ranking"
I was trying to figure out the way the Personalizer works and I followed the quickstart-guide on [here](https://docs.microsoft.com/en-gb/azure/cognitive-services/personalizer/sdk-learning-loop?pivots=programming-language-csharp). I followed every single step and my code looks identical to the sample code in the git repository listed [here](https://github.com/Azure-Samples/cognitive-services-person

[2020-02-17 13:21] SwathiDhanwada-MSFT commented on #48244
@chaholl Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-02-17 13:28] KrishnaG-MSFT commented on #48226
@cbailiss Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-17 13:35] KrishnaG-MSFT commented on #48239
Hello @Kaliloo, Can you share the Azure document link / URL that you are referring to ?

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any, etc.) so thats the reason for asking related Azure document link

[2020-02-17 13:37] ram-msft commented on #48094
@Can you please add more details that you are trying. Please follow the below link with a model ID to analyze a PDF form document and extract key/value data.
https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/dotnet-sdk#analyze-forms-with-a-custom-model

[2020-02-17 13:39] sc-dmytrovlasenko opened #48252 "Certificate was expired"
looks like that you have expired certificate here https://docs.loganalytics.io/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84c297e-d371-a8fe-416e-147b152d48d4
* Version Independent ID: 1a46ae57-0d71-ba2c-fe71-f8bb2024e1ce
* Content: [Get started with log queries in Azure Monitor - Azure Monitor](https://docs.micro

[2020-02-17 13:46] ekaitzht commented on #11807
I am trying to install iot edge in Centos 7.5 but is trying to find Docker is not possible to install iot edge in your own LXC container? Thanks
[code]

[2020-02-17 13:51] jtuliani opened #48254 "HTTP/S only?"
This page says "if the packet protocol is HTTP/HTTPS, the packet is then evaluated by the application rules"

First, how can the 'packet protocol' be HTTP or HTTPS? That's not visible at the packet level. Packet protocols are TCP, UDP, ICMP, etc.

Second, other doc pages advertise Azure Firewall as offering application-level protection for non-HTTP/S traffic (for example, see https://docs.microsof

[2020-02-17 13:53] jtuliani opened #48256 "What is first?"
This page says Network rules are applied first.

It also says DNS rules are applied first.

And https://docs.microsoft.com/en-us/azure/firewall/threat-intel says Threat Intelligence rules are applied first

Overall, this page is very incomplete and uninformative and raises more questions than it answers. Please provide a proper, detailed description of the rules processing logic, covering all aspe

[2020-02-17 13:57] campbe13 commented on #46056
Hello, I have the same issue on an image built via a Dockerfile  (build works fine) that works on docker installed locally (win & lin)
`patricia@Azure:~$ az acr run --registry ecqregistry1 --cmd  $Registry/whalesay /dev/null
Queued a run with ID: ca3
Waiting for an agent...
2020/02/17 13:52:27 Alias support enabled for version >= 1.1.0, please see https://aka.ms/acr/tasks/task-aliases for more inf

[2020-02-17 13:57] Woutdb commented on #48250
I would like to add this:
The first thing I tried gave me an error about Variable not being able to be equal to null. That would be this variable, url would be null.

[2020-02-17 14:04] #48250 closed

[2020-02-17 14:10] ffloimair opened #48257 "MTU size difference between global virtual network peering and peering in the same region"
We discovered by accident that there is a difference in MTU size for global virtual network peering. I didn't find this anywhere in the documentation.
We have two regions connected and when I do a ping test with -s (size of packet) parameter the global virtual network peerings works up until a MTU of 1472 bytes, whereas a ping to a machine via peering in the same region is more or less unlimited (

[2020-02-17 14:16] ffloimair commented on #48257
Or for clarification: Not only is the MTU size lower in global virtual network peering, it also seems that the connection does not support fragmentation.
We see this for UDP traffic only, TCP is not affected.

[2020-02-17 14:21] porrascarlos802018 opened #48258 "SSH process"
can this documentation have screenshots or a quick video being added?

or perhaps can this method be adopted and Microsoft create and publish an image that can be used?
1)Run command:

curl -LO https://github.com/kvaps/kubectl-node-shell/raw/master/kubectl-node_shell

chmod +x ./kubectl-node_shell

sudo mv ./kubectl-node_shell /usr/local/bin/kubectl-node_shell

2)Run command:

kubectl node-shell &

[2020-02-17 14:31] estensen opened #48260 "Document functions v3 for F#"
Functions v3 don't support `.fsx` files. It would be nice to have up-to-date docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb56d1a-4b15-05df-a896-d3f7b7c96210
* Version Independent ID: 31786b95-1a18-87dc-ec86-c1aa3d95358e
* Content: [Azure Functions F# developer reference](https://docs.microsoft.com/en-us/azure

[2020-02-17 14:31] KrishnaG-MSFT commented on #48250
@Woutdb Hope you have self resolved and hence closed the issue. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-02-17 14:36] KrishnaG-MSFT commented on #48252
@sc-dmytrovlasenko Thanks for your feedback! We will review and provide an update as appropriate.

[2020-02-17 14:38] ticianaciminari commented on #47075
@bsocca FYI

[2020-02-17 14:38] adrianagdi opened #48261 "Force "Unknown" backend to update status"
We have an Application Gateway instance that was deployed via an ARM template before the backend (an app service) and the NSG finished deploying. As a result, the backend of the Application Gateway was marked as Unknown.
We have a custom health probe on this App Gateway that returns status Healthy, but once the backend is marked as Unknown, the only way we can get the Application Gateway to check

[2020-02-17 14:42] hugo-paredes commented on #47492
Hi @iainfoulds.

The version I'm running is:
[code]

Is this information enough?

Greetings.
Hugo

[2020-02-17 14:44] jtuliani opened #48262 "DNAT only for inbound traffic from Internet?"
Does DNAT only apply to inbound traffic from the Internet?

Or could I use a NAT rule to remap a target IP/port for internal traffic, e.g. spoke-to-spoke?

Be nice if the doc added a few words to clarify this point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ea87406-981b-8188-7d3f-ef68eb2ba367
* Version Independen

[2020-02-17 14:45] Sudlon commented on #46979
Hi, just checked the text and I noticed it is not yet correct. This part:
"
Add a new keychain group
Add a new keychain group to your project Capabilities. The keychain group should be:
com.microsoft.adalcache on iOS
com.microsoft.identity.universalstorage on macOS.
keychain example
For more information, see keychain groups.
"

should be added to the "SSO through Authentication broker" part of thi

[2020-02-17 14:47] mohibakhan opened #48263 "Time Series Insights Aggregate Query API"
I have implemented time series insights aggregate API (GA) to get aggregate values of a sensor.

This is my input to the intermediary API that I have built:

[code]
The response is as expected:

[code]
However, if I change the from and to date time and then update the bucket size:

[code]
Here is my response:

[code]
Now, since the bucket size is equal to the time difference between the from and t

[2020-02-17 14:51] miflamashood commented on #48094
I found out the reason, it is because the SDK uses version1 of the api. I have altered the source code and we are using that in our project until the SDK gets updated. Are there plans to update it anytime soon?

[2020-02-17 14:53] SwathiDhanwada-MSFT commented on #48245
@SamBlakeC Thanks for your comment. We are actively looking into itand will get back to you shortly.

[2020-02-17 14:53] KrishnaG-MSFT commented on #48231
@sebainones Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-17 14:57] KrishnaG-MSFT commented on #48232
@eugenpodaru Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-17 15:01] KrishnaG-MSFT commented on #48233
@harald-quist-stratsys Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-17 15:02] danand444 commented on #39870
You need to Powershell or ISE as Admin. Currently working for me on 2016, but I do receive this error when not launching as an admin. Also I use this script below to initiate the rollover.

set-location -path "C:\Program Files\Microsoft Azure Active Directory Connect"
Import-Module .\AzureADSSO.psd1
#This is requesting Office365 Credentials
New-AzureADSSOAuthenticationContext
Pause
# This is reque

[2020-02-17 15:04] KrishnaG-MSFT commented on #48235
@SychevIgor Thanks for the feedback.
Assigning content owner @mrbullwinkle for visibility, review and document enhancement consideration as appropriate.

[2020-02-17 15:05] ericchansen commented on #48142
The documentation should accurately reflect the regions where the resources are available. For example, the docs say that P100 and V100 are available in westus2, which doesn't seem to be the case.

I will try eastus as that is the next closest option for me.

[2020-02-17 15:08] KrishnaG-MSFT commented on #48263
Hello @mohibakhan, Can you share the Azure document link / URL that you are referring to ?

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any, etc.) so that's the reason for asking related Azure document l

[2020-02-17 15:10] solankisamir commented on #47769
@VaibhavVilasPandit, you can use storage analytics to figure out the issue. It logs the client ip https://docs.microsoft.com/en-us/rest/api/storageservices/storage-analytics-log-format

But be aware of this note

Which means if you attempt to backup into a storage account in the same azure region as the API management service, then requests will not be coming from the Public IP, but you will see a

[2020-02-17 15:12] msrini-MSFT commented on #48262
@jtuliani ,DNAT is for both Internal and Internal traffic.

[2020-02-17 15:18] mohibakhan commented on #48263
https://docs.microsoft.com/en-us/rest/api/time-series-insights/ga-query-api#get-environment-events-streamed-api

[2020-02-17 15:19] mohibakhan commented on #48263
https://docs.microsoft.com/en-us/rest/api/time-series-insights/ga-query-api#get-environment-aggregates-api

[2020-02-17 15:24] DixitArora-MSFT commented on #48260
Hi @estensen Thanks for your feedback. We will review and update as appropriate.

[2020-02-17 15:27] likebupt commented on #47478
@pbartos
Hi, we have released the feature of "Regenerate output" of each module, which allows to reuse cached result in import data module. You can set it by clicking the checkbox in the right panel of import data module like following screenshot:
![image](https://user-images.githubusercontent.com/39058063/74666716-f5665200-51dc-11ea-9518-c0eddc3a53c1.png)

[2020-02-17 15:30] RaymondILei commented on #48145
@Mike-Ubezzi-MSFT Hello, how are you doing?
I could not find any any triggers and all of them were marked as "Sucessful".
I followed the documentation and checked the triggered history one of the trigger:
The output was:
![screenshot](https://user-images.githubusercontent.com/53795832/74665800-5e62b100-516e-11ea-85c2-fcdf6917f0cc.PNG)
The output for the stored procedure was:
![screenshot2](https:/

[2020-02-17 15:38] jbarrancos commented on #40574
@msrini-MSFT, Can you possible update the limitations page to reflect this?

[2020-02-17 15:40] NishantThakkar commented on #48037
I have downloaded SmartLauncher as mentioned in the above document.
I have configured appSettings.json file parameter, and it display UI.
Below are the parameters I have filled:
Patient: 9287bc3a-9d7a-47b1-a9a3-0c71f40e593c
FHIR Server URL: https://smartfhir.azurehealthcareapis.com
Application URL: /sampleapp/launch.html
Encounter and Practitioner kept blank

UI is displaying on: https://localhost

[2020-02-17 15:40] jbarrancos opened #48264 "Update limitations to note a "started" VM is needed in the subnet on which the private link is enabled"
There needs to be a running VM on the vnet associated with the Private Link resources. If the VM is stopped or there is none, it will not work.

The documentation doesn't reflect this limitation / issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54d

[2020-02-17 15:49] jtuliani commented on #48262
Thanks. Please do update the docs to clarify, much appreciated.

[2020-02-17 16:22] TiloGit opened #48265 "clarify what are legacy apps"
Hi,

the intro list:
IMAP/SMTP/POP3

but the detail under "Filter by Client App &gt; check all the Other Client options presented and click Apply."

Please clarify what needs to be selected under Client App

Other Clients/IMAP/SMTP/POP3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cbb7c8c-068a-e048-bfbf-2a01ebb207f6

[2020-02-17 16:25] RohitMungi-MSFT commented on #48242
@DanyEle Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-17 16:25] Ap0lli0n commented on #33504
Hi,
Trying to set the identifierUris to "https://MYFHIR.azurehealthcareapis.com" I get the error "The App ID URI must be from a verified domain within your organization's directory". Could you help me? Thanks in advance

[2020-02-17 16:29] KrishnaG-MSFT commented on #48252
@sc-dmytrovlasenko This https://docs.loganalytics.io/ site is legacy and we strongly recommend to use direct docs.azure.com site reference.

[2020-02-17 16:33] SlavaRoikhman opened #48267 "Prerequisites for creating a read replica"
In the document it says: "Before you create a read replica, the azure.replication_support parameter must be set to REPLICA on the master server. When this parameter is changed, a server restart is required for the change to take effect. The azure.replication_support parameter applies to the General Purpose and Memory Optimized tiers only."
But this parameter is not available under server parameter

[2020-02-17 16:43] jbayesqualtrax opened #48268 "Typo in ITelemetryInitializer snippet"
This snippet appears to have a typo:
`telemetry.Properties["AppVersion"] = "v2.1";`

ITelemetry does not have a property called, "Poperties."  Its `Context` property (TelemetryContext) does have "Properties" and works as expected.

`telemetry.Context.Properties["AppVersion"] = "v2.1";`

This could be a version oddity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-02-17 16:45] yashwanth-yenugu opened #48269 "When will "App Registrations" be out of public Preview and can be used in Production?"
I'm trying to integrate a SAML App with AADB2C using App Registrations which is in preview as mentioned in the doc [https://docs.microsoft.com/en-us/azure/active-directory-b2c/connect-with-saml-service-providers](url)
Is it stable enough to use in Production? Will I get support If I face any Issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-02-17 16:45] ram-msft commented on #48094
The cognitive service form recognizer v2.0 preview can be created from azure portal using the following [link](https://ms.portal.azure.com/#create/Microsoft.CognitiveServicesFormRecognizer).
and use the the following link for the version2 of the api.
https://westus2.dev.cognitive.microsoft.com/docs/services/form-recognizer-api-v2-preview/operations/AnalyzeWithCustomForm.
We will now proceed to clo

[2020-02-17 16:45] #48094 closed