[2021-03-27 13:59] tomkerkhove opened #72881 "Azure Kubernetes Service - Provide app best practice for application-level high-availability"
Provide app best practice for application-level high-availability.

This can include:
- Spread pods across nodes to avoid co-scheduling all instances on a few nodes
- Define minimum amount of instances during app and/or node upgrades
- ...
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75f24d19-2f92-65db-2228-fcd5181822

[2021-03-27 14:40] BakkerJan opened #72882 "Graph API Insufficient privileges to complete the operation."
When I use Power Automate HTTP connector, I keep getting **Insufficient privileges to complete the operation.**
I tried with both delegated and application permission. The same queries in Graph Explorer run without any problems.

Is this supported?
![image](https://user-images.githubusercontent.com/38911727/112724262-ca3b4f80-8f12-11eb-8623-6aba93a0b157.png)

---
#### Document Details

⚠ *Do not e

[2021-03-27 15:51] massand opened #72883 "Update IoT Edge package version to LTS 1.1"
The example points users to an old version -
[code]

Please bump the version to 1.1 instead -
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b-f2b6-b3b1-6be2-b6054bb33507
* Content: [Install Azure IoT Edge](https://docs.microsoft.com/en-us/azu

[2021-03-27 17:11] BHammer-71 commented on #57861
I'm having the same problem, and tried the solutions above, but don't understand the work-around mentioned by vnextcoder: set NODE_TLS_REJECT_UNAUTHORIZED=0

I ran that command in my terminal and then npm start, but recieved the original error again: request to https://localhost:8081/ failed, reason: self signed certificate

Is there a "Dummies" answer for this issue?  I'm a beginner, and am not y

[2021-03-27 17:13] BHammer-71 commented on #57861
update: sorry, it did work.  I had hit the "Start" button in NPM scripts section of VS Code instead of typing it into the terminal.  Maybe another "dummy" will see this and save a few minutes :-)

[2021-03-27 17:25] taylorchasewhite opened #72884 "Still unable to verify Custom Domain"
This is less about the documentation, which I consider to be of high quality, but more related to the actual functionality, that is, unless the documentation is incorrect in any way that leads to this issue.

I have applied _both_ the TXT and MX records on my DNS, Bluehost.com, but haven't been able to get this to work.

- Does the host record _need_ to be unique? I.e. can I not have two "@" Host

[2021-03-27 17:40] taylorchasewhite commented on #72884
I stand corrected! Disregard this issue, definitely user error. My DNS is no longer BlueHost, but a different server, so my domain name settings weren't working..doh.

Thanks!

[2021-03-27 17:40] #72884 closed

[2021-03-27 18:10] TheGoodNEvil commented on #72873
Thank you!
Gerardo Tapia Vera
WBAMN
+18315407024

On Sat, Mar 27, 2021 at 12:14 AM YutongTie-MSFT ***@***.***>
wrote:

[2021-03-27 18:10] TheGoodNEvil commented on #72861
Thank you!
Gerardo Tapia Vera
WBAMN
+18315407024

On Sat, Mar 27, 2021 at 12:13 AM YutongTie-MSFT ***@***.***>
wrote:

[2021-03-27 19:33] MikeForster100 opened #72885 "Limitation needs updating"
[Enter feedback here]
The article does not mention that enabling private endpoint does not stop the public connectivity of service bus:

You can currently connect across the internet if private endpoint is enabled (if you have a manage key) - the firewall settings and private endpoint make no difference).  Surely the firewall settings should block this!

---
#### Document Details

⚠ *Do not edit t

[2021-03-27 19:46] DeanGross opened #72886 "out of date info"
Please update this to include the announcements from Ignite about AWS S3 and any other systems
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a31d0e4e-6b37-3add-bad0-ca3d5187bcdd
* Version Independent ID: fc385e01-4e82-8e3a-2f4f-289c34b4a20e
* Content: [Supported data sources and file types - Azure Purview](https://docs

[2021-03-27 20:32] sanjaydatasciencedojo opened #72887 "Userinfo endpoint is not available in standard user flow."
This page says the user info endpoint is available in User fow. But I don't see the user info endpoint in the default user flow. I only see the issuer, authorization, and token endpoints.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d95c19b5-d294-8ca6-da08-fffb512f2282
* Version Independent ID: 1eb91f6c-664c-672e-c42

[2021-03-27 21:13] YutongTie-MSFT commented on #72846
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-27 21:14] YutongTie-MSFT commented on #72884
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-03-27 21:21] YutongTie-MSFT commented on #72876
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-27 21:22] YutongTie-MSFT commented on #72883
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-27 21:29] YutongTie-MSFT commented on #72882
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-27 21:31] YutongTie-MSFT commented on #72887
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@msmimart Could you please take a look in this issue? Thanks.

[2021-03-27 21:32] YutongTie-MSFT commented on #72877
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-27 21:36] YutongTie-MSFT commented on #72878
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@roygara Could you please take a look on this issue? Thanks.

[2021-03-27 21:41] YutongTie-MSFT commented on #72879
@emilyre Could you please help on this issue? I can not assign this to you.

[2021-03-27 21:46] YutongTie-MSFT commented on #72881
@tomkerkhove Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) or [Stack Overflow ](https://stackoverflow.com/)as it could be better place to get help on your scenario. These forum community members could provi

[2021-03-27 21:48] YutongTie-MSFT commented on #72886
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-27 21:49] YutongTie-MSFT commented on #72885
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-27 23:37] gratisaccount opened #72888 "Retry failed after 6 tries."
I've followed instruction given in this article & downloaded code from github.
While I'm running this sample code with after updating appsettings.json file.
**UploadEncodeAndStreamFiles** is throwing following error at line no 209 : `await blob.UploadAsync(fileToUpload);`

Retry failed after 6 tries. (The operation was canceled.) (The operation was canceled.) (The operation was canceled.) (The ope

[2021-03-28 00:16] k-mehta opened #72889 "Missing the Authorized client applications section on the Expose an API page"
I don't see the Authorized client applications section on the Expose an API page. This is for an app registration under a custom tenant in case that matters.

If this is expected, there may be missing documentation that educates users on when they may run into this situation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-03-28 01:29] sanjaydatasciencedojo commented on #72887
I think this is documented but it is on the bottom section and can be easily missed.
![image](https://user-images.githubusercontent.com/30843127/112739592-658bef00-8f2a-11eb-9e80-511dbb870b85.png)

[2021-03-28 01:33] YutongTie-MSFT commented on #72888
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-28 01:33] YutongTie-MSFT commented on #72889
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-28 06:27] MNF opened #72891 "Clarify Scope requirements"
In https://docs.microsoft.com/en-us/azure/active-directory-b2c/authorization-code-flow#1-get-an-authorization-code scope is described as required, i.e one scope is sufficient.

However  the other page https://docs.microsoft.com/en-us/azure/active-directory-b2c/access-tokens tells  that “If the response_type parameter in an /authorize request includes token, the scope parameter must include at leas

[2021-03-28 08:11] YutongTie-MSFT commented on #72891
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@msmimart Could you please check on this issue? Thanks.

[2021-03-28 08:50] tomkerkhove commented on #70511
I'm happy to help where I can

[2021-03-28 08:52] marcinjahn opened #72892 "Is Azure RBAC based on OAuth2.0?"
[Enter feedback here]
The documentation describes Azure RBAC quite well. However, I wonder, what is the relation between Azure RBAC, OAuth2.0, and Microsoft Identity platform?
What does it actually mean when some security principal (i.e., a user, or an app) is assigned, let's say, the VM Reader permission?
Does it just mean that, when I want to access some information about VMs, I will need to get

[2021-03-28 11:06] RobertoPrevato opened #72893 "GHA ARM deployment to several environments"
The article is useful and clear in explaining the core concepts of how to use GitHub Actions to do ARM deployments, when working with a single environment.
However, in real life scenarios, systems are deployed to several environments (e.g. DEV, TEST, PROD), and
it would be nice if the article mentioned this problem and provided some recommendation on how to handle ARM template deployments to sever

[2021-03-28 12:24] vnextcoder opened #72894 "Taints are allowed by Kubernetes for existing Nodes"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#specify-a-taint-label-or-tag-for-a-node-pool

This article mentions that Taints can't be applied to the existing NodePools. However, the Kubectl commands can definitely be used to apply Taints to the individual Nodes for a Node Pool. So there is definitely a workaround for applying Taints on Nodes. Please ref

[2021-03-28 12:36] adminen opened #72895 "Correction of recommend gateway subnet"
While you can create a gateway subnet as small as /29, we recommend that you create a gateway subnet of /27 or larger (/27, /26 etc.)
Should be corrected to:
While you can create a gateway subnet as small as /29, we recommend that you create a gateway subnet of **/28** or larger (/27, /26 etc.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-03-28 12:59] pesetskyps opened #72896 "VCRUNTIME140_ID.dll was not found trying to run the bridge binary"
I guess the runtime dependency needs to be listed as there is the path described in the page that has build step for bridge as optional. I just downloaded the binary from github and tried to run it and got this error

![image](https://user-images.githubusercontent.com/6270100/112752961-4484d600-8fde-11eb-9596-7a39a5401cd4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-03-28 13:07] yicw16322 commented on #70258
@LauraDamianTNA  Hi Laura, thank you very much for your suggestion! Like Jie mentioned before, we would love to share details of demo pipeline, but according to feedback from Azure DevOps support team, ADO project does not support this scenario for now. We have already submit a ticket to Azure DevOps product group and suggested them to add this feature to let anonymous users read pipeline details.

[2021-03-28 13:09] yicw16322 commented on #70258
#please-close

[2021-03-28 13:09] #70258 closed

[2021-03-28 15:38] KrishnaG-MSFT commented on #72893
@RobertoPrevato Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-28 16:26] YutongTie-MSFT commented on #72892
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-28 16:32] YutongTie-MSFT commented on #72894
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@mlearned Hello Micheal, could you please check this feedback and update the document? Thanks.

[2021-03-28 16:34] YutongTie-MSFT commented on #72895
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-28 16:36] YutongTie-MSFT commented on #72896
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@usivagna Hello Ugan, could you please check on this issue and update the document? Thanks.

[2021-03-28 16:48] stevelsd opened #72897 "Parent Domain creation and validation must come first"
Support has seen in the past where for Azure custom domain verification, customer attempts to create and verify a child domain but does not create and verify the parent domain first. This might at first sound intuitive to do the parent domain first but some people have fallen into a misunderstanding that only the child domain needs to be created and verified.

Perhaps this issue can be noted under

[2021-03-28 17:03] SumanthMarigowda commented on #72521
@DonLifeScore  Thanks for raising this question! Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Are you facing any issue while creating the static website?
Before enabling static website need to refer to this article [Static website hosting in Azure Storage.](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website)

I'

[2021-03-28 17:03] #72521 closed

[2021-03-28 17:13] YutongTie-MSFT commented on #72669
Hello,

The code works for me well.
![image](https://user-images.githubusercontent.com/38084098/112761023-05d72780-8fae-11eb-89be-f30f1ce09e84.png)

Could you please use below code sample and make sure you have done the installation well?
`pip install azure-cognitiveservices-language-luis`
https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/python/LUIS/sdk-3x/authoring_

[2021-03-28 17:19] nikki-c opened #72898 "Links to the videos are broken"
The links are broken are links to two video about guest  MFA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baa66805-21c3-2236-594c-ad034314dcb0
* Version Independent ID: 604012b9-060a-acb0-21ff-69091331fa78
* Content: [Conditional Access for B2B collaboration users - Azure AD](https://docs.microsoft.com/en-us/azure/ac

[2021-03-28 17:24] YutongTie-MSFT commented on #72675
Hello,

The code works for me well as your last thread. Seems like the problem is the installation is not in the same place with your code.
![image](https://user-images.githubusercontent.com/38084098/112761357-cc072080-8faf-11eb-9bcd-aa44d38c7bac.png)

Could you please use below code sample and make sure you have done the installation well?
pip install azure-cognitiveservices-language-luis
https:/

[2021-03-28 17:27] YutongTie-MSFT commented on #72846
@RobertHutchinsAIS Hello, may I know where those link from so that I can fix it?

The main page of all REST API is here: https://docs.microsoft.com/en-us/rest/api/

[2021-03-28 18:12] aressler38 opened #72899 "Unclear documentation in step 5"
Step 5 has text that reads, "If using service endpoints, enable the subnet dedicated to your function apps for storage accounts."

This language isn't clear to me. What exactly must we enable? If a function is connected to a VNET via private endpoint, and the associated subnet is in the storage account service endpoint whitelist, then is there anything else to enable? In the attached image, I have

[2021-03-28 18:30] AjayKumar-MSFT commented on #72598
Apologies for the delay! When the deployment fails you can view in stream logs but note that this streaming method supports only a single instance, and can't be used with an app running on Linux in a Consumption plan. As mentioned, you may refer to the Azure Functions specific docs, for enabling and analyzing the logs.

[2021-03-28 18:30] #72598 closed

[2021-03-28 18:33] AjayKumar-MSFT commented on #72664
We have assigned the issue to the content author to review further and update the document as appropriate.

[2021-03-28 18:36] AjayKumar-MSFT commented on #72794
@taylor-bianchi, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2021-03-28 18:36] #72794 closed

[2021-03-28 18:44] achimismaili opened #72900 "wrong minus characters in code"
Dear sirs,
on this page in the sample code, there are some wrong minus signs in the code, so it cannot be executed.
Please replace with normal minus signs.

_Wrong on the page_
[code]

_With corrected minus signs / dashes_
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b376d141-c26e-32d6-87c8-da2afe75913b
* Vers

[2021-03-28 18:48] AjayKumar-MSFT commented on #72693
@guybartal, Thanks for taking time to share your valuable feedback to improve the doc. The doc has been update. Much appreciate the follow-up.

![image](https://user-images.githubusercontent.com/44606227/112763899-027e8300-9024-11eb-98e4-da71d48e8dae.png)

[2021-03-28 18:48] #72693 closed

[2021-03-28 19:00] AjayKumar-MSFT commented on #72764
We will update this thread/the document when it's GA, you may also watch-out these links:

https://azure.microsoft.com/updates/?product=app-service
https://github.com/Azure/app-service-announcements/issues

[2021-03-28 19:00] #72764 closed

[2021-03-28 19:17] tomkerkhove commented on #72881
It is related to https://docs.microsoft.com/en-us/azure/aks/developer-best-practices-resource-management but it might be better suited in a dedicated doc.

[2021-03-28 19:24] AjayKumar-MSFT commented on #72736
Apologies for the delay!
If you are just looking to store JPEG or PNG images, you should keep those in Azure Blob Storage. There is no benefit to putting them in your Media Services account unless you want to keep them associated with your Video or Audio Assets. Or if you might have a need to use the images as overlays in the video encoder.  Media Encoder Standard supports overlaying images on top

[2021-03-28 19:25] mike-urnun-msft commented on #72432
Hello @ianrandell-sh - Thank you for reporting this issue and helping us drive improvements towards MS Docs! It appears that this doc does indicate the behavior of `LocalHttpPort` setting in the following statement:

In order to elaborate, and make it more obvious & notable to Visual Studio IDE users, I have added the following:

We will now proceed to close this thread. If there are further quest

[2021-03-28 19:25] #72432 closed

[2021-03-28 19:29] AjayKumar-MSFT commented on #72717
@tomaschladek, Requesting your review/comments on this.

[2021-03-28 19:41] AjayKumar-MSFT commented on #72810
@sherzyang, I' have raised a PR based on your feedback, once the PR is merge the requested changes would be published. Thanks for taking time to share your feedback. Much appreciated.

[2021-03-28 20:00] YutongTie-MSFT commented on #72897
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-28 20:01] YutongTie-MSFT commented on #72898
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-28 21:03] MNF opened #72902 "Show scope with placeholders"
In the example url
&scope=https://<tenant-name>.onmicrosoft.com/api/read
‘api’ and ‘read’ can be interpreted as constant/literal values.
It will be better to show them as placeholders
`&scope=https://<tenant-name>.onmicrosoft.com/<application-name>/<scope-name>`
 And then as an example
&scope=https://contoso.onmicrosoft.com/api/read

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-03-28 21:27] Jannel007 opened #72903 "Backup"
Trouble shoot

[2021-03-28 23:53] alexverkinderen15 opened #72904 "typo"
There is a typo in the section to create a new subscription with PowerShell:

'Production"

Should be 'Production'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d73f3e0-d3d3-eca9-483f-4a787fa77bb2
* Version Independent ID: d4046a56-c05e-e278-382d-2cb26dd5c20f
* Content: [Programmatically create Azure Enterprise Agree

[2021-03-29 00:52] benjamincburns opened #72905 "Documentation of "prompt" field is conflicting with itself"
It appears that `select_account` is a valid option for the `prompt` parameter in the auth code flow, however the page presently states the following in its description of the `prompt` field

Note that `select_account` is conspicuously missing from that sentence, but strangely further down it shows` prompt=select_account` is listed as a potential value. I suspect that this is an outcome of #71758 a

[2021-03-29 01:37] michael-freidgeim-webjet opened #72906 "Expiry of Authorization codes."
code | .... Authorization codes are very short-lived. Typically, they expire after about 10 minutes.

According to https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/38614030-b2c-sign-up-verification-code-in-email-will-expire they expired in 5 minutes

It worth to mention that they are currently not configurable, as reader can expect that it should be configurable as token

[2021-03-29 01:40] anuraj opened #72907 "Custom domains for Azure Active Directory B2C - Azure Front Door Routing Rules configuration missing"
In the custom domain configuration, there are instructions available for configuring Azure Front Door - in which the last part in the Front Door configuration - Routing Rules is missing. It may be easy for those who know Front Door configuration well, but difficult for a developer who doesn't know much about Azure Front Door.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-03-29 02:11] Yudai-Tomita opened #72908 "Retirement Date of "G5, GS5, E64i_v3,E64is_v3" is out of date."
[Enter feedback here]
Retirement Date of "G5, GS5, E64i_v3,E64is_v3" is out of date.
On this doc says Retirement Date of "G5, GS5, E64i_v3,E64is_v3" is February 15, 2022.

But new official Retirement Date of "G5, GS5, E64i_v3,E64is_v3" is February 28, 2022.
This new information is written in here .
 https://azure.microsoft.com/en-us/updates/the-g5-and-gs5-azure-vms-will-no-longer-be-hardwareisolat

[2021-03-29 02:46] KrishnaG-MSFT commented on #72904
@alexverkinderen15 Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-29 02:54] KrishnaG-MSFT commented on #72900
@achimismaili Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-29 02:57] KrishnaG-MSFT commented on #72903
@Jannel007 Thanks for reaching out!

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so can you please share the Azure document link to which your feedback is related. Also, please elaborate what's your

[2021-03-29 04:08] ram-msft commented on #72899
@aressler38 Thanks for the feedback! We will review and update accordingly.

[2021-03-29 04:10] ram-msft commented on #72902
@MNF Thanks for the feedback! We will review and update accordingly.

[2021-03-29 04:17] ram-msft commented on #72905
@benjamincburns Thanks for the feedback! We will review and update accordingly.

[2021-03-29 04:57] Amritjagyasi opened #72910 "Section for least privilege account could be better"
Hello Team,

The section for "Database accounts with least required privileges" is a bit confusing for the Customers and users.
I am working with Microsoft CSS and have had few cases in which Customers are trying to provide the Create/Alter/Delete etc permissions individually to users instead of just providing db_ddldmin role.
We have internal TSGs to achieve this requirement. Those are pretty cle

[2021-03-29 05:21] henrikhelvete commented on #72663
@danielsollondon Thanks for your advise, I will follow up on this seeing as the 500 remains even as of today.

[2021-03-29 05:41] nikkelly opened #72911 "Incorrect next step link"
Pages https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/static-web-apps/local-development.md and https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/static-web-apps/application-settings.md  link to each other in "Next Steps" section, looping a user back and forth instead of moving forward.

This should instead link to https://github.com/MicrosoftDocs/azure-docs/blob/mas

[2021-03-29 05:41] nikkelly opened #72912 "Incorrect next step link"
Pages https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/static-web-apps/application-settings.md and https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/static-web-apps/local-development.md link to each other in "Next Steps" section, looping a user back and forth instead of moving forward.

This should instead link to https://github.com/MicrosoftDocs/azure-docs/blob/mast

[2021-03-29 05:51] YutongTie-MSFT commented on #72669
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-03-29 05:51] #72669 closed

[2021-03-29 05:53] YutongTie-MSFT commented on #72675
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-03-29 05:53] #72675 closed

[2021-03-29 05:58] adnan333bd commented on #72751
I think the landing page should be authenticated so that Microsoft users can be authenticated first. then the underlying AD token for saas apis can be generated by a separate AD app. We need two Azure AD app, one multitenant to secure the landing page and another single tenant for securing the saas fulfillment API and metering services APIs. And the SaaS app that is the product we are selling, can

[2021-03-29 06:06] amanmcse commented on #71146
@ertork We didn't hear back from you. Closing out the issue now.

[2021-03-29 06:06] #71146 closed

[2021-03-29 06:08] muraviovx commented on #32421
@krpovmu so much thanks about that command, i got to realize that no name (in my case a generic 'client') was given in the process due to a bad variable name in the script!

[2021-03-29 06:21] YutongTie-MSFT commented on #72850
@jonasjancarik Hello, thanks for pointing this out. We have removed all related information to make less confusion.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-03-29 06:21] #72850 closed

[2021-03-29 06:26] YutongTie-MSFT commented on #72855
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-03-29 06:26] #72855 closed

[2021-03-29 06:30] YutongTie-MSFT commented on #72881
@tomkerkhove
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-29 07:02] gokala opened #72914 "mouting blob storage"
[Enter feedback here]
Can we mount same  blob storage between multiple Linux VMs using blobfuse utility.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef87c25-d489-ed0c-c94f-c764b3fd2413
* Version Independent ID: 7f8c5d56-2382-de90-dcaf-6fc87706a3be
* Content: [How to mount Azure Blob storage as a file system on Linu

[2021-03-29 07:11] YutongTie-MSFT commented on #72883
@SatishBoddu-MSFT Hello Satish, could you please check on this bug and update the document? Thanks?

[2021-03-29 07:13] amanmcse commented on #72611
@msft-jaiverma Thank you for pointing this out. Users are not required to register for SSPR when sign in is done using legacy authentication.

I have updated the statement to "**You can enable the option to require a user to complete the SSPR registration if they use modern authentication or web browser to sign in to any applications using Azure AD.**" and sent the change for author to approve. Ch

[2021-03-29 07:14] jpdfr-msft commented on #72824
@DerekHerman-MSFT :
I guess your are pointing to the [Encryption Scope]( https://docs.microsoft.com/en-us/azure/storage/blobs/encryption-scope-overview#how-encryption-scopes-work ).
However, it states the behavior of the scope (default scope for a key is the whole storage account).
It doesn't state that this Key (Microsoft Managed or Customer Managed) is dedicated and only use for this Storage Acc

[2021-03-29 07:20] amanmcse commented on #72681
@nkumars If a custom attribute doesn't have a value, it will not be added to the token as a claim. Try adding a default value to these claims before passing it to the API Connector.

[2021-03-29 07:20] #72681 closed

[2021-03-29 07:40] nkumars commented on #72681
@amanmcse, it seems the documentation is incomplete. I had achieved returning custom claims and this is possible only in the first trigger _**After signing in with an identity provider**_ and not in _**Before creating the user**_. I tried all possible cases and found only this works and not any other combinations.

[2021-03-29 07:44] YutongTie-MSFT commented on #72846
I have opened a ticket under the API repo, please refer to https://github.com/MicrosoftDocs/feedback/issues/3589 Thanks.

[2021-03-29 07:58] emaborsa commented on #72218
I have reopen the ticket.
I was trying to create the sample in the production environment and I am facing the same problem.

Sorry, but we're having trouble signing you in.
We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, please try again.
Correlation ID: dfd02f48-bdf4-414b-a198-927b5e133bdd
Timestamp: 2021-03-29 07:57:18Z
AADB2C90007: The

[2021-03-29 08:19] easy-now87 opened #72916 "Update Article: Desktop App Group / RemoteApp App Group Assignment"
**Service:** Windows Virtual Desktop
**URL:** https://docs.microsoft.com/en-us/azure/virtual-desktop/environment-setup
**Section:** App groups

**Issue:**

"A user can be assigned to both a desktop app group and a RemoteApp app group in the same host pool. However, users can only launch one type of app group per session. Users can't launch both types of app groups at the same time in a single sess

[2021-03-29 08:23] tomaschladek commented on #72861
Thank you very much for your feedback and helping us improve the the documentation.

I've noticed that there is different time format and there is missing output for second identity and token. Have you identified also other mismatches? I've created pull request to fix the changes mentioned above

[2021-03-29 08:33] tomaschladek commented on #72717
Thank you @sphenry for your feedback. I've created PR to improve documentation.

[2021-03-29 08:35] Flodu31 commented on #72662
Hello,
We have also facing the same issue.
Florent

[2021-03-29 08:54] ddobric opened #72920 "Insufficient information"
By following this text, it is not clear how to set the _spending limit_.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 053d81ad-ed0b-efbb-9029-511d83222e7c
* Version Independent ID: 22237e49-91a8-0120-913a-fee6432e09d2
* Content: [Azure spending limit](https://docs.microsoft.com/en-us/azure/cost-management-billing/man

[2021-03-29 08:58] Klaas- opened #72921 "NVMe disks not utilized by waagent/cloud-init"
Hi,

Using the image:
[code]

the nvme local ssds do not get utilized for temporary storage. It is using another "local" disk.

[code]

sdb:
[code]

nvme0n1:
[code]

I would think the sdb disk does not have any more usage and the default temp space should be raid0 over the two nvme devices.

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-03-29 09:12] ElvenSpellmaker commented on #53089
@kasubram You'd think being on a private VNET it would count as Private Network Access, but it seems it's a badly named parameter that _only_ applies to Azure Private Link...

[2021-03-29 09:21] codemaker commented on #72540
Hello @NavtejSaini-MSFT

Unable to understand why s_clientId  and s_clientSecret required in the sample link you have provided? does it mean I need to register my console application in AD?

[2021-03-29 09:23] Norafify89 opened #72922 "Change password ADSync Service account"
[Enter feedback here]

![image](https://user-images.githubusercontent.com/81559366/112815554-06a5b180-90b3-11eb-9722-b6f813aa7af8.png)

I just curious, this page is refer to this azure ad sync service account right? Meaning, if we use latest version of Azure AD Connect, we can skip to Abandoning the ADSync service account encryption key steps. But there is no steps to show how we can reset the pas

[2021-03-29 09:35] Costin-hcl opened #72923 "Clarifications on 25 users limit"
The current documentation isn't clear about the maximum number of users:
Authorization With custom roles and routing rules | Max 25 end-users invited and assigned roles
-- | --

What does that mean? That you can't have more than 25 authenticated users per app? Or no more than 25 roles? Can you have more than 25 authenticated users but without roles assigned? (i.e. just authenticated).

---
#### Do

[2021-03-29 09:39] savjani commented on #68526
Thanks @tejinderrai for your very valuable suggestion and contribution. I apologize for the delay as the original author has left the company so this was not looked upon sooner. However, I have updated the document calling out the PowerShell support and sharing the command you highlighted. thanks again for your suggestion and contributions. The PR is expected to be merged in 24 hrs
https://github.

[2021-03-29 09:40] savjani commented on #68526
@KranthiPakala-MSFT - Need your help to close this issue following confirmation from @tejinderrai . thanks !!!

[2021-03-29 09:43] rajakumarbabu opened #72925 "Parameter "WUFrequency" updated incorrectly"
Parameter "WUFrequency" updated incorrectly for

`- Week, Day, HH:MM:SS (example: 2, Friday, 21:00:00 indicates 9:00 PM UTC on Friday of the 2nd week of every month)`
It should be `-MonthlyByWeekAndDay Week,Day,HH:MM:SS`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a16900-c967-ccf9-2d87-1c994013bf0e
* Version Indep

[2021-03-29 10:13] kahawai-sre opened #72926 "Assuming traffic from spoke subnet to on-prem goes via Azure Firewall, do we need "-UseRemoteGateways"?"
When there is an Azure Firewall (or NVA) in the HUB vNET, can you clarify if/why the _spoke-to-hub_ peering needs to have " -UseRemoteGateways" configured?
... I thought the purpose of that setting was to prompt route propagation from the GatewaySubnet to the peered (remote) vNet? In this case the routing from spoke to on-prem is via Azure Firewall in the hub.
This being the case, in this context,

[2021-03-29 10:19] xujiongda opened #72927 "Manual out of date"
[Enter feedback here]
This manual is for ASA v1.
But current default version is v3.
So user can not use it.

I found these things need to fix.

1. App Service Editor Location changed

2. error: The type or namespace name 'Newtonsoft' could not be found.
    reason: project.json is only for v1, function.proj is needed.

[code]

3. error: error CS1501: No overload for method 'CreateResponse' takes 2

[2021-03-29 10:44] jborean93 commented on #68262
@maertendMSFT curious as to what that upstream dependency change was. AFAIK the builtin `libmi` library used by PowerShell has no certificate verification and the `Disable-WSManCertVerification` was added specifically for my `PSWSMan` fork which added that functionality. Was/is CloudShell using `PSWSMan` in any way here, if not then I'm not sure how `Disable-WSmanCertVerification` would help with

[2021-03-29 11:08] robb commented on #44112
I think you have the wrong @robb

On Sat, Mar 27, 2021, at 05:22, Rob Boucher Jr (Microsoft) wrote:

[2021-03-29 11:31] MonikaReddy-MSFT commented on #72908
@Yudai-Tomita - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-29 11:32] MonikaReddy-MSFT commented on #72925
@rajakumarbabu - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-29 11:51] rajakumarbabu opened #72928 "DNS Zone tags limitation not added"
Cannot Set tag value as `colon [:] character` for DNZ zone.  It would be great if we could add this as a limitation in [tag limitation document](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources#limitations).  I have raised this as an [issue](https://github.com/Azure/azure-cli/issues/16820) with the DNS team.

---
#### Document Details

⚠ *Do not edit this sect

[2021-03-29 11:59] svdHero commented on #72552
Any update on this? The examples for `acquireTokenPopup` are straight forward, because one gets a token from the http response directly, but with `acquireTokenRedirect` things are not so clear.

Do I have to modify my callback handler above or should it just work like that? I'm just asking, because I am battling with multiple beginner questions about MSAL and I want to make sure that I got the bas

[2021-03-29 12:28] jsuarezm commented on #40861
I have the same problem. Bastion log user session out after resizing the windows.

[2021-03-29 12:43] KrishnaG-MSFT commented on #44112
@robb Sorry for that. Based on the Doc's metadata, tagged you. Disregard it. Thanks.

[2021-03-29 12:49] RyanHill-MSFT commented on #72781
Hi @diberry, I just got an update. You can use the `DEPLOYMENT_BRANCH` app setting to change the branch. Set that to **main** to trigger local git deployments off that branch. I'll updat the doc as well.

[2021-03-29 12:51] slavizh opened #72929 "Availablity test alert (metric alert)"
If the alert is Application Insights availability test alert which in nature is metric alert type metricNamespace property will be null. This is important in case you build logic app that parses the schema. Additionally there will be property webTestName at the same level as metricNamespace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-03-29 12:52] MonikaReddy-MSFT commented on #72928
@rajakumarbabu - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-29 12:52] tamram commented on #72824
@jpdfr-msft - The blob and file services by default use a Microsoft-managed key that is scoped to the account - meaning that it is unique to the account.

The queue and table services by default use a Microsoft-managed key that is scoped to the service - meaning that it is not unique to the account. We describe [here](https://docs.microsoft.com/azure/storage/common/account-encryption-key-create?to

[2021-03-29 12:55] MonikaReddy-MSFT commented on #72928
@rajakumarbabu - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-29 12:55] #72928 closed

[2021-03-29 12:57] MGoedtel commented on #72900
@achimismaili and & @KrishnaG-MSFT - Thanks for bringing this issue to our attention. I will create a work item for this article and we will correct the formatting issue with this code example (and review any other code samples in the article).  #please-close

[2021-03-29 12:57] #72900 closed

[2021-03-29 13:26] #72781 closed

[2021-03-29 13:39] aressler38 commented on #72899
It would also be good to elaborate on step (2) "Configure the function to connect to your virtual network." Does that mean setup a private endpoint, which connects the function to the VNET?

[2021-03-29 13:45] SaurabhSharma-MSFT commented on #72927
@xujiongda Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-03-29 13:47] BharathNimmala-MSFT commented on #72791
@billpieper Thanks again for bringing this to our notice, assigning the issue to our document author @lgayhardt to further review the feedback and update the link accordingly.

[2021-03-29 13:51] spelluru commented on #72885
I see this statement in the article. We could make it an important note at the top of the article.

=====================
By default, the Selected networks option is selected. If you don't add at least one IP firewall rule or a virtual network on this page, the namespace can be accessed over public internet (using the access key).
=====================

For a new feature request / feature update,

[2021-03-29 14:01] emaborsa commented on #11469
I have the same problem, no solution found. Does not work even by resetting the password.

`{
    "error": "access_denied",
    "error_description": "AADB2C90225: The username or password provided in the request are invalid.\r\nCorrelation ID: c9fc05e5-3b3f-4b26-aaf1-75770b87e831\r\nTimestamp: 2021-03-29 13:59:07Z\r\n"
}`

[2021-03-29 14:04] vipulsparsh commented on #72724
@sccmfan Looked into it. It seems it will be more suitable when the support team investigates this as this will need to proper investigation with the incoming policy and their consumption.  I would request you to open a Support case via your Intune portal.
The case can be worked between AAD and Intune teams.

[2021-03-29 14:04] #72724 closed

[2021-03-29 14:08] JangoRangoDango opened #72932 "Missing module id property in system properties"
Hi,

The picture below shows the current state of the documented system properties:
![image](https://user-images.githubusercontent.com/81573059/112848415-5a5ecd80-90a8-11eb-86aa-82ccdc5af729.png)

There is also a property for moduleId which is missing.

Following property documentation is missing:

|Property|Type|Description|
-- | -- | --
iothub-connection-module-id | string | This value is set by

[2021-03-29 14:10] b-roconl opened #72933 "NFS export-policy rule limits"
Hello,

I don't see an indication that the number of export-policy rules is a hard limit of 5. Please update the page to reflect these limits.

![image](https://user-images.githubusercontent.com/62150903/112849288-e9eb8880-9076-11eb-9bf5-2fa59cd331d3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93ca706a-09d1-39d

[2021-03-29 14:23] DeanFaizal opened #72935 "Missing step to add nuget that contains extension method"
The nuget package [Azure.Extensions.AspNetCore.Configuration.Secrets](https://www.nuget.org/packages/Azure.Extensions.AspNetCore.Configuration.Secrets) is required for the extension method:
IConfigurationBuilder AddAzureAppConfiguration(this IConfigurationBuilder configuration builder...)

under the namespace Microsoft.Extensions.Configuration

---
#### Document Details

⚠ *Do not edit this sectio

[2021-03-29 14:24] BharathNimmala-MSFT commented on #72920
@ddobric Thank you for your query, we will review it and get back to you at the earliest.

[2021-03-29 14:26] vipulsparsh commented on #72832
@Raj-MCITP There should not be any requirement for any extension for MAC Safari. Are you having some issues with Chrome on Mac ? Can you share a screenshot and example ?

[2021-03-29 14:28] robnotto opened #72936 "FAQ is showing different estimated shipping times then order email"
The estimated shipping time in the FAQ is **5 business days**.  When an order is placed the estimated shipping time is 10 days.

From am actual order:
Your Data Box Disk order AB-Databox-East-US-2 has been successfully created. We’ll prepare and ship the disk(s) to you within the **next 10 days**, depending on availability.

Should the FAQ read?

Disk allocation and preparation: Up to 10 days, dep

[2021-03-29 15:19] KUMAR-REDDY-BAVANASI commented on #68893
{
    "code": "BadRequest",
    "message": "RecordSets of type A or AAAA must reference a traffic manager profile with endpoints containing valid IP addresses"
}

[2021-03-29 15:21] KUMAR-REDDY-BAVANASI commented on #68893
whenever i register a record in dns zone with azure traffic manager it shows error can anyone help me pls

[2021-03-29 15:22] Svijay-msft commented on #72684
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-03-29 15:28] ram-msft commented on #72906
@michael-freidgeim-webjet Thanks for the feedback! We will review and update accordingly.

[2021-03-29 15:29] ram-msft commented on #72907
@anuraj Thanks for the feedback! We will review and update accordingly.

[2021-03-29 15:30] roygara commented on #72878
@hhasanmd Thanks for pointing this out, we appreciate it!

I've gone ahead and made the correction, it should be live later today.

Accordingly, I'll close this issue out.

#please-close

[2021-03-29 15:30] #72878 closed

[2021-03-29 15:33] ram-msft commented on #72912
@nikkelly Thanks for the feedback! We will review and update accordingly.

[2021-03-29 15:34] DerekHerman-MSFT commented on #72614
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-29 15:35] ram-msft commented on #72911
@nikkelly Thanks for the feedback! We will review and update accordingly.

[2021-03-29 15:38] negoe commented on #72552
@hamiltonha

[2021-03-29 15:40] ram-msft commented on #72914
@gokala Thanks for the feedback! We will review and update accordingly.

[2021-03-29 15:44] msewaweru commented on #66535
Issue resolved in PR [#151456](https://github.com/MicrosoftDocs/azure-docs-pr/pull/151456). #please-close

[2021-03-29 15:44] #66535 closed

[2021-03-29 15:52] JamesTran-MSFT commented on #72922
@Norafify89
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-29 15:55] vikramhn opened #72937 "In your doc you state that - PhoneNumber | The phone number the SMS message is being sent to. - but the logs display the from number"
[Enter feedback here]
In your doc  here - https://docs.microsoft.com/en-us/azure/communication-services/concepts/logging-and-diagnostics
you state that - PhoneNumber | The phone number the SMS message is being **sent to**. - but the logs display the **from** number
// List Distinct SMS Operations
// Returns all distinct combinations of SMS operation / version pairs.
ACSSMSIncomingOperations
| dist

[2021-03-29 15:56] diberry opened #72938 "Git push triggering off of main branch"
I believe this article needs to mention the use of the deployment branch setting in order to use `main` instead of Master. See this [app service](https://github.com/MicrosoftDocs/azure-docs/issues/72781) issue for details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a379da-fb2c-03ae-aa9b-a1575b79ab80
* Version Ind

[2021-03-29 15:59] SamaraSoucy-MSFT commented on #72935
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-03-29 16:02] AnuragSharma-MSFT commented on #72741
@jg11jg This is being assigned to content author for further action.
@timsander1 Could you please help here?

[2021-03-29 16:03] davidbarrowsatasos commented on #72355
hi, thanks - I've read the article now, which was informative.  I'm running azure-cli v. 2.20.0, looks like there are newer version.  I'll have to get back to you on the other questions, feel free to close this in the meantime, I think it might have been a one-off problem.  thanks and regards.

[2021-03-29 16:03] #72355 closed

[2021-03-29 16:04] AnuragSharma-MSFT commented on #72825
@codefactorydevelopment This is being assigned to the content author to evaluate and update as appropriate.

[2021-03-29 16:05] timsander1 commented on #72741
Hi @jg11jg,

To answer your question - " Are you saying that documents that contain GeoJSON values will be "automatically indexed with a spatial index" _if you have defined a spatial index on the container and the GeoJSON point lies within the path you have defined in the /spatialIndexes"

Yes, that is exactly what we are saying. This is a correct understanding. Once you had the indexing policy th

[2021-03-29 16:05] timsander1 commented on #72741
#please-close

[2021-03-29 16:05] #72741 closed

[2021-03-29 16:06] aevv commented on #52241
We have this same issue repeatedly and causes delays when getting new services created.

1. App service is created
2. System managed principal is assigned
3. Principal is added to AAD group that has an access policy with KV
4. Application can access KV sometime many hours later (often the next day), or sometimes after an app service restart several hours after being assigned to the AAD group

[2021-03-29 16:06] robsmi-msfte opened #72939 "Need instructions on how to join the preview"
I read the documentation provided, and more that I could find.  I followed the instructions, but I don't get the Advanced options.  There needs to be instructions on how to join the preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cedc5fc7-5576-f22f-9c9a-a2977ad93607
* Version Independent ID: e7cda6ea-acd1-b56f-

[2021-03-29 16:07] diberry commented on #72781
@RyanHill-MSFT Thank you for the fix - looks good.

[2021-03-29 16:09] dloder0 opened #72941 "QuickStart goes to wrong project"
[Enter feedback here]
The automatic registration link for web API with graph, goes to the previous project for Web API Signin User, so you get the project for the previous example downloaded if you follow the automatic path.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f62034e-04a1-dcf2-0f1b-4c44904eb3dd
* Version I

[2021-03-29 16:11] codemaker opened #72942 "Where I can find applicationId and clientKey"
Where I can find applicationId  and clientKey ??

        static string applicationId = @"<application ID from your AAD application>";
        static string clientKey = "<key from your AAD application>";

In azure portal,  it shows as Application (client) ID!!!  Both same??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-03-29 16:11] diberry commented on #72781
@msangapu @cephalin I can't find any other reference to DEPLOYMENT_BRANCH in the docs. Is there someplace else I could add this? I'm happy to submit the PR just want it to appear where you think it should go.

[2021-03-29 16:11] timsander1 commented on #72765
Hi @ankku, we're happy to help with this. For technical troubleshooting could you please either:

- post the question here: [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html)
- file a support ticket

We'll continue the discussion there. I do want to direct you to read over this doc here (https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed-design-patterns

[2021-03-29 16:12] JamesTran-MSFT commented on #72938
@diberry
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-29 16:13] JamesTran-MSFT commented on #72941
@dloder0
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-29 16:22] BrendanHere commented on #72805
Huge help Jonathan, most appreciated.
[I should have slowed down to read the details about the caveat with PowerShell].

Regards,
Brendan

From: Jonathan Gao ***@***.***>
Sent: Friday, March 26, 2021 5:39 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Brendan Mütz ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Inconsistent example (#72805)

@BrendanHere<https://github

[2021-03-29 16:25] BharathNimmala-MSFT commented on #72929
@slavizh Thank you for your feedback, I have assigned this issue to @ofirmanor for further review and enhance the document accordingly .

[2021-03-29 16:39] brandwe commented on #68886
This was completed after an update to the docs in March.

[2021-03-29 16:42] rjygraham opened #72944 "Add prereq bullet about granting Azure AD Service Principal permission to programmatically create subscripion"
The [Enterprise Agreement](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/programmatically-create-subscription-enterprise-agreement?tabs=rest) version of this document contains a prerequisite bullet about granting access to service principals to create EA subscriptions. This works for MCA subscriptions as well and therefore this documentation should have a similar bullet.

A

[2021-03-29 16:49] Karishma-Tiwari-MSFT commented on #72939
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-29 16:50] negoe commented on #72552
command #reassign:<j-mantu>.

[2021-03-29 16:50] PRMerger18 commented on #72552
<j-mantu>. is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-03-29 16:50] negoe commented on #72552
@j-mantu

[2021-03-29 16:51] JamesTran-MSFT commented on #72629
@rondfw
Thank you for your time and patience throughout this issue!

When it comes to feature releases/plans, it's recommended to follow our "[What's new in Azure Active Directory?](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new)" documentation, or sign-up for [Azure updates](https://azure.microsoft.com/en-us/updates/) to get the latest updates on Azure products and

[2021-03-29 16:51] #72629 closed

[2021-03-29 16:51] codemaker opened #72947 "Debugger not hitting 'GetToken'"
The debugger not hitting this method at all.

     public async static Task<string> GetToken(string authority, string resource, string scope)
        {
            var authContext = new AuthenticationContext(authority);
            AuthenticationResult result = await authContext.AcquireTokenAsync(resource, _clientCredential);

            if (result == null)
                throw new InvalidOperat

[2021-03-29 16:52] JamesTran-MSFT commented on #72749
@nielsheeren
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue? Since I haven't heard from you in a few days, I'll go ahead and close out this issue at the end of the day, pending any response from your end.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-03-29 17:02] tfitzmac commented on #72805
Would it help to have a Prereqs section with the exact version numbers listed instead of "latest"?

[2021-03-29 17:06] matteocalabro-tomtom opened #72948 "Malformed TOML in the examples?"
Hello!

In https://raw.githubusercontent.com/microsoft/Docker-Provider/ci_prod/kubernetes/container-azm-ms-agentconfig.yaml

The `log-data-collection-settings` property starts correctly with a valid TOML block:
[code]

but all the other properties start directly with a sub, for instance:
[code]

instead of

[code]

is this _correct_?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-03-29 17:08] ash2017 commented on #72932
@alburgin@microsoft.com  @nehsin

[2021-03-29 17:12] JamesTran-MSFT commented on #72864
@glomaga
Thank you for your time and patience!

For Azure B2C MFA with a custom policy, did you get a chance to review our [Add Conditional Access to user flows in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/conditional-access-user-flow?pivots=b2c-custom-policy) documentation? This doc provides two XML samples:

Conditional Access technical profile that

[2021-03-29 17:13] Oury-MSFT commented on #72947
@codemaker We are looking into this and will get back.

[2021-03-29 17:15] aunghtet008900 opened #72949 "test"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86ea2fee-da82-e02a-6928-9d089d2577df
* Version Independent ID: 6dab70a5-e50f-248a-445a-7628a024e073
* Content: [Set up a resource owner password credentials flow - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-ropc-poli

[2021-03-29 17:17] JamesTran-MSFT commented on #72889
@k-mehta
Are you able to share a screenshot of what you see, so I can gain a better understanding of your issue?

I walked through the documentation and was able to find the "Authorized client applications" section within my app registration.
![image](https://user-images.githubusercontent.com/36619112/112874463-d856b080-9077-11eb-9a5e-7f49576bca48.png)

If you have any other questions, please let

[2021-03-29 17:18] vmonge opened #72950 "Missing Qualys URL to whitelist March.2021"
Hi!
What namespace should be for Qualys in 03.2021 ?
all we see is "news" from 2017 .

[Enter feedback here]
![image](https://user-images.githubusercontent.com/28789477/112874382-1eb00d80-9080-11eb-8160-6ecb271c5384.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fdbbf80-92cd-d6b2-85fd-a830589a8ed9
* Version Indep

[2021-03-29 17:19] SaiKishor-MSFT commented on #72926
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-29 17:28] msft-jaiverma commented on #72611
@amanmcse  Thanks for update, but from my testing, I did not find the statement - "If they se modern authentication" true.

I can login to TEAM, Outlook and never asked to complete my SSPR Registration. I only forced to complete the registration when I access web based applications (OWA/SharePoint Online etc.).

[2021-03-29 17:30] RyanHill-MSFT commented on #72937
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-29 17:40] JamesTran-MSFT commented on #72949
@aunghtet008900
Since this is a test issue I'll go ahead and close this out.

If you have any question, please feel free to create a new GitHub issue.
Thank you!

[2021-03-29 17:40] #72949 closed

[2021-03-29 17:45] bandersmsft commented on #72920
https://github.com/MicrosoftDocs/azure-docs-pr/pull/152464

[2021-03-29 17:46] YutongTie-MSFT commented on #72936
I am sorry for your experience and thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@alkohli Hello Alpa, could you please check on this issue and update the document if needed please? Thank you

[2021-03-29 17:47] amanmcse commented on #72611
@msft-jaiverma When using Modern Authentication with outlook, users get prompted to complete SSPR registration as shown below:
![image](https://user-images.githubusercontent.com/33834131/112876687-6d42c380-90e3-11eb-8cbb-aa2b34891c6b.png)

[2021-03-29 17:49] bandersmsft commented on #72920
@ddobric Hi there. Sorry you ran into this issue. You can't change the amount of the spending limit. All you can do is turn the limit off and back on.

I've made a minor change to the article introduction for clarity with "You can't change the amount of the spending limit. For example, if you signed up for Azure free account, your spending limit is $200 and you can't change it to $500."

I hope th

[2021-03-29 17:49] #72920 closed

[2021-03-29 17:50] YutongTie-MSFT commented on #72933
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@b-juche Hello Julie, could you please check on this issue and update the document if needed? Thanks a lot.

[2021-03-29 17:50] JamesTran-MSFT commented on #72950
@vmonge
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-29 17:52] YutongTie-MSFT commented on #72916
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Heidilohr Hello Heidi, could you please check on this issue and update the document if needed? Thanks.

[2021-03-29 17:55] YutongTie-MSFT commented on #72923
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@craigshoemaker Hello Craig, could you please check on this issue and update the document if needed? Thanks.

[2021-03-29 17:57] bandersmsft commented on #67125
https://github.com/MicrosoftDocs/azure-docs-pr/pull/152464

[2021-03-29 17:58] BrendanHere commented on #72805
I think that would be useful.

Also, you may consider a callout or making it very apparent that you need to be able to run “bicep –version” to confirm that you  have the Bicep CLI installed.

It’s possible to run the powershell cmdlets to attempt to deploy with a .bicep file, but it isn’t immediately obvious that the bicep environment isn’t setup if you attempt to do that. As in my experience, I w

[2021-03-29 18:00] YutongTie-MSFT commented on #72944
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@bandersmsft Hello Bill, could you please check on this issue and update the document if needed? Thanks a lot.

[2021-03-29 18:00] bandersmsft commented on #67125
@joeljanke Hi there. Sorry for the delay. Thanks very much for letting us know about this issue. You're absolutely right, we should have been more clear about the account owner. I've updated the article for clarity with:

By default, the following users can view and manage reservations:

- The person who bought the reservation and the account owner for the billing subscription get Azure RBAC acces

[2021-03-29 18:01] #67125 closed

[2021-03-29 18:01] JamesTran-MSFT commented on #72922
@Norafify89
Thank you for your time and patience!

For resetting the password using the Abandoning the ADSync service account encryption key section, this cannot be used for newer versions of Azure AD Connect because abandoning the encryption key is handled by Azure AD connect itself when you change the AD sync service account password so the following steps are not needed in the newer versions.

[2021-03-29 18:02] SnehaGunda commented on #71773
@aelij thanks for your feedback, I made updates in the above PR. Changes will be live in a day. We will now close this issue.

#please-close

[2021-03-29 18:02] #71773 closed

[2021-03-29 18:08] Oury-MSFT commented on #72910
@Amritjagyasi We are looking into this and will get back.

[2021-03-29 18:09] AjayKumar-MSFT commented on #72810
sherzyang, We will close this out, but if you feel you need more information please just let us know.

[2021-03-29 18:09] #72810 closed

[2021-03-29 18:10] bandersmsft commented on #72904
https://github.com/MicrosoftDocs/azure-docs-pr/pull/152464

[2021-03-29 18:12] bandersmsft commented on #72904
@alexverkinderen15 Thanks very much for letting know about this error. I've updated the article. It should have been `"Production"`.

#please-close

[2021-03-29 18:12] nigelmeakins opened #72951 "Access token, refresh token used in incorrect order in Databricks API call sample"
[Enter feedback here]

get_refresh_and_access_token returns the tokens in the tuple as

  return (token_response['accessToken'], token_response['refreshToken'])

However the List clusters API call to Databricks uses them in the opposite order.

(refresh_token, access_token) =  get_refresh_and_access_token()

This causes an invalid JWT parsing error, due to the refresh token starting with 0. and no

[2021-03-29 18:20] zstatmanweil commented on #53298
I am having the same issue when trying to follow the tutorial, **Tutorial: Run a parallel workload with Azure Batch using the Python API**, https://docs.microsoft.com/en-us/azure/batch/tutorial-parallel-python. When I try to follow the tutorial, I get the same error noted above:
`Code: AccountCoreQuotaReached
Message: The specified account has reached core quota
Values: n/a`

  I tried to rescale

[2021-03-29 18:24] emuench commented on #69961
Thank you for bringing this to our attention. Based on our experience, this is a very narrow scenario that has never been experienced by another publisher. We will monitor this and if it becomes a more common issue, edit our documentation accordingly. If this does not resolve your question(s), please provide additional information, or submit a support ticket at https://docs.microsoft.com/en-us/azu

[2021-03-29 18:24] #69961 closed

[2021-03-29 18:26] Oury-MSFT commented on #72686
@srdan-bozovic-msft The [document ](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/connect-application-instance)last update date is 2018 but there is a section that mention 2020 about a change happened on global virtual network. Could you please help us update that. Thank you

[2021-03-29 18:26] SubhashVasarapu-MSFT commented on #72662
@nellyontour, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-29 18:26] #72662 closed

[2021-03-29 18:32] glomaga commented on #72864
Hi @JamesTran-MSFT I reviewed your documentation already but that not cover my needs.
On the GitHub link for the example that your documentation is talking about:
https://github.com/azure-ad-b2c/samples/tree/master/policies/conditional-access
You have a note:
**"Known issues
In this version the policy block high risk sign-in. MFA is not included as remediation in this policy."**

do you have an ex

[2021-03-29 18:32] SubhashVasarapu-MSFT commented on #72737
@Herman5006, Appreciate your patience. This feature is under triaged and prioritized based on the customers ask. But there is no ETA provided yet on its release. Any update regarding Azure products and services will be posted on our road map [here](https://azure.microsoft.com/en-in/updates/).

We are closing this issue for now. If there are further questions regarding this matter, please reply and

[2021-03-29 18:32] #72737 closed

[2021-03-29 18:35] RonnieQuan opened #72952 "Deployment Slot Private Endpoint"
Hi,

In the limitation section, seems it does not mention the deployment slot limitation.

Can you please confirm app service deployment slot now support private endpoint?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2174e399-063b-129a-eef6-2c49a67fd4e2
* Version Independent ID: 6cb95aa6-fb50-b

[2021-03-29 18:35] SubhashVasarapu-MSFT commented on #72739
@CHDAFNI-MSFT, Appreciate your patience. We have assigned this issue to the respective content owner to update the document accordingly.

[2021-03-29 18:46] SaiKishor-MSFT commented on #72716
@mcgear Here is link to documentation for Front Door Standard/Premium- https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/
Hope this helps. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-29 18:46] #72716 closed

[2021-03-29 18:47] SaiKishor-MSFT commented on #72762
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-29 18:47] #72762 closed

[2021-03-29 18:48] Ericgre commented on #72952
yes we released the feature, now you can use private endpoint with slots

[2021-03-29 18:51] xiaomi7732 opened #72954 "Add more details about Exclude paths from requiring authentication"
There are some scenarios that is tricky with the exclusion list:

* How to specify more than one paths? Like '/a;/b'.
* Is the path match case sensitive or not?
* Is there a way to exclude the root like '/' but not other paths;
    * For example, what shall I use to exclude root '/' from requiring client cert but still requires it on other path like '/abc/' - is it possible?

Could you please upda

[2021-03-29 18:52] bwren commented on #72543
LAD doesn't send data to Azure Monitor Metrics like WAD does. The Telegraf agent is required for that. Comparison here - https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview

#please-close

[2021-03-29 18:52] #72543 closed

[2021-03-29 19:01] RyanHill-MSFT commented on #72937
@vikramhn, I've confirmed that the number displayed is the sender, not the recipient. I'll be correcting this doc bug. Thanks for catching this 👍🏽

[2021-03-29 19:01] kenwith commented on #70896
https://github.com/MicrosoftDocs/azure-docs-pr/pull/152481

#please-close

[2021-03-29 19:01] #70896 closed

[2021-03-29 19:03] JasonWHowell commented on #72536
@jtpower I didn't hear back, but I couldn't get it to fail either. I'll close out the thread for now, but let us know. #please-close

[2021-03-29 19:03] #72536 closed

[2021-03-29 19:07] SaiKishor-MSFT commented on #72819
@vhorne Could you please look into this? Thank you!

[2021-03-29 19:16] #72937 closed

[2021-03-29 19:19] DerekHerman-MSFT commented on #71904
@opticyclic Apologies for the delayed response here. If you are still having issues I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continu

[2021-03-29 19:19] #71904 closed

[2021-03-29 19:20] JayaChatterjee-MSFT commented on #72606
@ToruMakabe Thank you for the feedback.
@ggailey777 Could you please look into it?

[2021-03-29 19:42] RyanHill-MSFT commented on #72781
@diberry @msangapu @cephalin I think this can be added to https://github.com/projectkudu/kudu/wiki/Deployment.

/cc @suwatch

[2021-03-29 19:44] Josh-Kewley-BC commented on #71629
@MS-jgol following up on this conversation as our team prepares to revisit our AI approach. For a Spring Boot app running on a Linux app service plan, is the recommended approach to deploy the standalone 3.x agent jar with the app rather than leverage the side-car offering which is provided when auto-instrumenting AI for an app service as shown above?

Perhaps I mistakenly assumed they were the sa

[2021-03-29 19:55] SaurabhSharma-MSFT commented on #72951
@nigelmeakins Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-29 19:57] zhenyar opened #72957 "Troubleshooting connectivity between app service regional integration vnet and key vault's private endpoint documentation"
Would love detailed info on how to troubleshoot connectivity between app service regional integration vnet and key vault's private endpoint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate app with Az

[2021-03-29 20:06] Oury-MSFT commented on #72942
@codemaker Thank you for posting your question. Application Id and Client ID are both the same. Please refer this [document](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/service-accounts-principal#applicationid-and-objectid) for more info. How to get Client key can be found [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal

[2021-03-29 20:13] JamesTran-MSFT commented on #72957
@zhenyar
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-29 20:18] SandtonPhantom opened #72959 "SA"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dface769-7a07-11ee-4a0d-f3106117fce8
* Version Independent ID: ec75e557-59ab-6fcf-f13e-94de599f8acd
* Content: [Quickstart: Create a CI/CD workflow for Node.js - DevOps Starter for GitHub to deploy to Azure](https://docs.microsoft.com/en-gb/azure/devo

[2021-03-29 20:23] roygara commented on #71986
@ymatsuoka335 Thanks for bringing this to our attention, we appreciate it!

This is indeed out of date as soft delete is automatically enabled for new accounts. I've updated the section, the updates will be live later today.

Accordingly, I'll go ahead and close this out. Again, thanks for making us aware and helping us improve the documentation!

#please-close

[2021-03-29 20:23] #71986 closed

[2021-03-29 20:28] MS-jgol commented on #71629
@Josh-Kewley-BC What is your timeline? We are in the process of rolling out application insights 3.0 agent - there is a lot of great changes there, and as of now it may or may not be available in the regions you are in. The roll out should be completed in a few weeks (aiming end of April). There is some UI works there as well - we will let you paste the whole configuration file and have all the sa

[2021-03-29 20:28] bandersmsft commented on #72944
@rjygraham Thanks. I'll work to get the article updated.

[2021-03-29 20:42] caseyekim opened #72960 "Please Update the Powershell commands in the Documentation"
it should be
Add-AzureADMSAdministrativeUnitMember -Id $adminUnitObj.ObjectId -RefObjectId $GroupObj.ObjectId
Not
Add-AzureADMSAdministrativeUnitMember -ObjectId $adminUnitObj.ObjectId -RefObjectId $GroupObj.ObjectId

Same here
Get-AzureADMSAdministrativeUnitMember -Id $adminUnitObj.ObjectId
Get-AzureADMSAdministrativeUnitMember -ObjectId $adminUnitObj.ObjectId
---
#### Document Details

⚠ *Do not

[2021-03-29 20:51] bjorn-jarisch opened #72961 "Missing "Keyword for routing query" for dt-dataschema and dt-subject"
Under "System Properties of D2C IoT Hub messages", the page currently lists the "Keyword for routing query" for dt-dataschema and dt-subject as "N/A".

According to https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-routing-query-syntax, this is incorrect, and the correct keywords should be:

dt-dataschema: $dt-dataschema
dt-subject: $dt-subject

---
#### Document Details

⚠ *Do not e

[2021-03-29 20:59] JamesTran-MSFT commented on #72750
@nickQuant
Thank you for your time and patience throughout this issue!

I did some research and found that [SamlAssertionSigning](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/certificate-signing-options#certificate-signing-options) should be the default option set for most of the gallery applications. If you select this option, Azure AD as an Identity Provider (IdP) signs th

[2021-03-29 21:01] JamesTran-MSFT commented on #72960
@caseyekim
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-29 21:01] JnHs commented on #72834
Hi @wilson-mar - This actually refers to the letter "G" key. For example, "G+D" means that you hold down the G key and then press the D key. These commands should work across OS versions and supported browsers. Let us know if you have additional questions.

[2021-03-29 21:20] SaurabhSharma-MSFT commented on #72784
@mawah The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-03-29 21:20] #72784 closed

[2021-03-29 21:32] TravisCragg-MSFT commented on #72663
@henrikhelvete a support request is definitely your best option here. If you do not have a support plan, please let me know!

I am closing this issue as it is being pursued further with support.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-29 21:32] #72663 closed

[2021-03-29 21:37] b-juche commented on #72933
@b-roconl – Thanks

This information is stated in [Configure export policy for an NFS volume](https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-configure-export-policy) – **“You can create up to five export policy rules.”**

But we can add the same info to [Resource limits for Azure NetApp Files](https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-file

[2021-03-29 21:43] diberry opened #72962 "Zip deployment from VSCode Extension"
The VSCode extension for Azure App Service (https://github.com/microsoft/vscode-azureappservice) uses Zip deployment. I don't see Zip deployment as a choice so I would like to add that.

Also, in JS local development, I use a .env file for my environment variables, I need to ignore that file when deploying to Azure, which I believe means I need to configure my zip deployment.

* GitHub Issue:  [Su

[2021-03-29 21:48] baanders commented on #72376
Following up with an update that I've edited the wording of this fix to provide more information, after talking more with the PM area owner.
Here's the updated wording from PR [#152519](https://github.com/MicrosoftDocs/azure-docs-pr/pull/152519):
![image](https://user-images.githubusercontent.com/55546137/112904489-04dded00-90b7-11eb-9756-ae5bce7c977e.png)

[2021-03-29 22:05] axisc commented on #72708
@KKanekoa The explorer peeks into the Queue/Subscription to see what's in. The message payloads are always serialized to binary. You can plug in the avro format file and it will be visible in your application - senders and receivers - but won't be displayed appropriately on the Explorer on the portal.

We will add it to the backlog, but don't have an ETA for it now.

[2021-03-29 22:12] nickQuant commented on #72750
Hi James - the link (https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/certificate-signing-options#certificate-signing-options) is for Azure AAD, not Azure AAD B2C.  The issue I am having and the links in the original bug are for AAD B2C

[2021-03-29 22:26] tcc-sejohnson opened #72966 "currentUTC does not specify whether it pulls the timestamp of the start of the job"
The documentation for `currentUTC` needs an additional line explaining whether or not it represents the timestamp at the start of the data flow run. The function right above it, `currentTimestamp`, states explicitly that it returns the timestamp from the start of the run. `currentUTC` does not. I'm assuming the behavior is the same, but I need to be sure, and it would be helpful to be explicit.

-

[2021-03-29 22:40] lgayhardt commented on #72812
Hi @peter-bertok, Have you checkout our profiler documentation? There is one for [Enabling Profiler for an Azure VM](https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-vm).  I think this might be more of what you are looking for.

[2021-03-29 22:42] ranavale opened #72967 "VM location REST API url not working on Documentation"
REST API | Use the **List locations** operation. The link does not work "404 : Page Not found"
https://docs.microsoft.com/en-us/rest/api/resources/subscriptions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff5b5898-88d9-7aec-1516-e157e92564a7
* Version Independent ID: f9807092-172c-d8d0-fc7d-17204faea51b
* Content: [

[2021-03-29 22:52] Oury-MSFT commented on #72910
@stevestein Please see feedback from customer. Could you please help us enhance this [document](https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-data-sync-best-practices#database-accounts-with-least-required-privileges). Thanks

[2021-03-29 22:56] Oury-MSFT commented on #72809
@hrferdowsi What happened if you run the code without  connection.connect();   and what error message do you get?

[2021-03-29 23:04] femsulu commented on #72948
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-03-29 23:08] JamesTran-MSFT commented on #72750
@nickQuant
Thank you for the quick reply and for pointing this out!

I've reached out to our engineering team on this and will update as soon as possible.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2021-03-29 23:11] SnehaGunda commented on #72825
@codefactorydevelopment thanks for your feedback. The TCP protocol is the only option to use with the direct mode. direct mode with HTTP is not supported.  There is another article that shows the mapping between connection mode and the protocol.  https://docs.microsoft.com/en-us/azure/cosmos-db/sql-sdk-connection-modes#service-port-ranges. This page is already linked from the doc you are looking a

[2021-03-29 23:11] #72825 closed

[2021-03-29 23:26] gitforanand commented on #11469
This is with regards to your P_IEF and IEF Keys not matching.

client_id : P_IEF Client ID
resource_id: IEF Client ID

[2021-03-29 23:30] SnehaGunda commented on #72523
@ciph3rwoman I agree that the data explorer screenshot isn't accurate, yes the portal has changed and I will update it. To your question, the username is in the format mentioned. You need to replace the <YOUR_DATABASE> and <YOUR_COLLECTION_OR_GRAPH> values with your account's database and graph names. For example, if your database name is "graphdb" and graph name is "mygraph" then the user name is

[2021-03-29 23:31] gitforanand opened #72969 "B2C Custom Policy : requiredField_code not displayed"
https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization-string-ids#phone-factor-authentication-page-user-interface-elements

requiredField_code : Please enter the verification code you received

This section doesn't seems to show after the code has been sent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-03-29 23:33] MartinJaffer-MSFT commented on #72921
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-03-29 23:35] rwike77 commented on #68619
Looks like this discussion has finished.  Feel free to re-open if necessary.  Thanks.  #please-close

[2021-03-29 23:35] #68619 closed

[2021-03-29 23:49] ciph3rwoman commented on #72523
I got it working! Thanks for that.

[2021-03-29 23:49] #72523 closed

[2021-03-29 23:52] normesta commented on #72690
Thank you @andybooth ! I updated the article. LEADING trims leading characters and TRAILING trims trailing characters. So if no parameters are passed, spaces are removed. Here's some examples:
SELECT TRIM('       Microsoft         ') -> 'Microsoft'
TRIM(LEADING FROM '       Test         ')  -> 'Test         '
TRIM(TRAILING FROM '       test         ') - > '       test'
Thanks again! Content change

[2021-03-29 23:52] #72690 closed

[2021-03-29 23:52] MartinJaffer-MSFT commented on #72959
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-03-29 23:54] MartinJaffer-MSFT commented on #72959
@SandtonPhantom did you have a question?  Your issue contains no details, nor a useful title.  Without any actionable communication I will close this issue.

[2021-03-29 23:54] #72959 closed

[2021-03-30 00:00] hrferdowsi commented on #72809
Hi there,
You wouldn't be able to send a query without that line. You can check the [tedious installation example](https://tediousjs.github.io/tedious/installation.html).
To elaborate this more:
 Before making Requests with "tedious" APIs you need to establish a new connection. To start a new Connection(config) "[tedious Connection API](https://tediousjs.github.io/tedious/api-connection.html#funct

[2021-03-30 00:02] aldelar opened #72970 "Broken Link to next step"
This link referenced at the bottom of the doc on this page is broken (404 on GitHub):
https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/labeled-datasets/labeled-datasets.ipynb

Supposed to lead to a notebook to use the labeled datasets created in this tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-03-30 00:05] emuench commented on #69606
We updated this screen on 2/22. Sorry for not notifying of this sooner. If this does not resolve your question(s), please provide additional information, or submit a support ticket at https://docs.microsoft.com/en-us/azure/marketplace/support. Thank you for contributing! Task 35522. #please-close

[2021-03-30 00:05] #69606 closed

[2021-03-30 00:07] bandersmsft commented on #72944
https://github.com/MicrosoftDocs/azure-docs-pr/pull/152533

[2021-03-30 00:08] bandersmsft commented on #72944
@rjygraham Updated per your suggestion.

[2021-03-30 00:08] bandersmsft commented on #72944
#please-close

[2021-03-30 00:08] #72944 closed

[2021-03-30 00:09] hrferdowsi commented on #72809
Also, it appears using "_**connection**_" as an instantiate of "Connection(config)"  is very misleading. While "tedious" used this name in their template, _connection_ is usually used for many purposes, including connecting to the server or secure APIs. It is better to use a different name and more intuitive.

[2021-03-30 00:17] emuench commented on #72502
This link has been fixed. Thanks for bringing this to our attention. If this does not resolve your question(s), please provide additional information, or submit a support ticket at https://docs.microsoft.com/en-us/azure/marketplace/support. Thank you for contributing! #please-close

[2021-03-30 00:17] #72502 closed

[2021-03-30 00:21] SatishBoddu-MSFT commented on #72961
@bjorn-jarisch Thanks for the feedback!
I have assigned the issue to the content author for further review.

[2021-03-30 00:21] jdvuyk opened #72971 "Login URL or Sign On URL"
step "Configure Slack SSO" 6a
Discusses use the "Logon URL".  This seems to be the wrong terminology and should be "Sign On URL"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919ac673-c2e9-6768-1071-7607c5c6a5c9
* Version Independent ID: 7620fb9f-2085-ab9b-60dd-7e5a73355c0d
* Content: [Tutorial: Azure Active Directory

[2021-03-30 00:24] hrferdowsi commented on #72809
I just checked few other pages of Microsoft documents. They initialised the connection on [this page](https://docs.microsoft.com/en-us/sql/connect/node-js/step-3-proof-of-concept-connecting-to-sql-using-node-js?view=sql-server-ver15) However, they made a similar mistake in [this example](https://docs.microsoft.com/en-us/javascript/api/overview/azure/sql?view=azure-node-latest).

[2021-03-30 00:26] jdvuyk commented on #72971
Actually.  forget that.  What I didnt see is that there was a hidden section with these values in it.  Once I found this the settings made sense.

[2021-03-30 00:26] #72971 closed

[2021-03-30 00:30] Josh-Kewley-BC commented on #71629
@MS-jgol - when you say you are rolling it out, do you mean as the auto-instrumented feature for app service? Based on that, is the current auto-instrumented service running on our app service version 2 of the agent? I ask because it says it's in preview, and I assumed that meant it was v3.

After you roll out v3, will you recommend deployment via jar file and json doc, or will you recommend the a

[2021-03-30 00:33] davidsmatlak commented on #72371
Research is in progress and I'll publish an update this week.

[2021-03-30 00:38] TravisCragg-MSFT commented on #72921
Hey @Klaas-, The page you opened this up on is the [HBv3 series](https://docs.microsoft.com/en-us/azure/virtual-machines/hbv3-series), which does not contain the NVME SSDs. Do you mean the [LSv2 series](https://docs.microsoft.com/en-us/azure/virtual-machines/lsv2-series)? Also, double check the VM series you are using on your VM!

[2021-03-30 00:55] eugen-nw opened #72972 "How to assign a user-assigned Managed Identity to an AKS Deployment .yaml?"
I'm deploying to an AKS instance that uses the [Virtual Kubelet](https://github.com/virtual-kubelet/virtual-kubelet) to create the containers in ACI.  This is the type of AKS script I'm using
[code]
My question is at what indentation level (under which nodes) in the script do I need to add:
[code]
I tried `Deployment.spec.template.spec`, `Deployment.spec.template`, `Deployment.spec` and even `Depl

[2021-03-30 00:57] ferantoMSFT opened #72973 "Bash script tries to pull not yet available version of azuremonitor/containerinsights/preview/azuremonitor-containers"
When trying to install azure monitor using the bash script method, I get the following error:

[code]

When trying to look for that container image 2.8.2 in [https://mcr.microsoft.com/v2/azuremonitor/containerinsights/preview/azuremonitor-containers/tags/list](https://mcr.microsoft.com/v2/azuremonitor/containerinsights/preview/azuremonitor-containerstags/list), the result shows it is not available

[2021-03-30 01:07] ChaitanyaNaykodi-MSFT commented on #72615
Hello @ganesh-gawande, apologies for the delay.
Azure function App provides the same service lifetimes as ASP.NET. Singleton service lifetime is recommended for HttpClient. You can go refer the sample mentioned [here in documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#service-lifetimes) for implementation.
As we primarily maintain this cha

[2021-03-30 01:07] #72615 closed

[2021-03-30 01:08] lgayhardt commented on #66526
Sorry for the delay and thanks for the feedback. I made a PR and added on to the statement you mentioned to make it more clear "seriesCountLimit is the max number of data time series a metric can contain. Once this limit is reached, calls to `TrackValue()` that would normally result in a new series will return false."

 The change should go live tomorrow.

#please-close

[2021-03-30 01:08] #66526 closed

[2021-03-30 01:18] lgayhardt commented on #53074
@gardnerjr I added a link to the purge information that we have in the [personal data management doc under delete](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/personal-data-mgmt#delete) in the data retention privacy doc you mentioned to make it clear how they can delete their data and that it is read-only.

Thanks

[2021-03-30 01:19] cynthn commented on #72967
@ranavale Thanks for the feedback! I've filed a pull request with a fix to the URL. Thanks again!

#please-close

[2021-03-30 01:19] #72967 closed

[2021-03-30 01:38] Karishma-Tiwari-MSFT commented on #72712
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2021-03-30 01:38] #72712 closed

[2021-03-30 01:42] Karishma-Tiwari-MSFT commented on #72757
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-03-30 01:42] #72757 closed

[2021-03-30 01:45] BharathNimmala-MSFT commented on #72973
@ferantoMSFT Thank you for reaching out with your query, we will review and get back to you at the earliest.

[2021-03-30 01:51] xp0522 commented on #72447
Hi,

I think it would be very helpful to add one example about how to specify
the location of a flat file on any azure storage. My understanding is you
don't necessarily need to include the file name. Just the folder name is
fine. It took me a while to figure that part out.
Thanks!

On Thu, Mar 25, 2021 at 3:50 PM SaurabhSharma-MSFT ***@***.***>
wrote:

[2021-03-30 02:12] Norafify89 commented on #72922
Hi @JamesTran-MSFT,

Refer below article, it's state that this ADSync doesn't have password then how we want to changed the password? My installation will be new version and using SQL 2012 Express, before I start installation I just want to understand this ADSync/VSA can changed the password or not for new version of AADC..

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-

[2021-03-30 02:13] JasonWHowell commented on #72447
I think we have that in the specific storage articles for Hive table creation, which includes the notion of the folder location:

https://docs.microsoft.com/azure/hdinsight/hdinsight-hadoop-use-blob-storage#creating-a-hive-table
https://docs.microsoft.com/azure/hdinsight/hdinsight-hadoop-use-data-lake-storage-gen2#creating-a-hive-table
https://docs.microsoft.com/azure/hdinsight/hdinsight-hadoop-us

[2021-03-30 02:25] MS-jgol commented on #71629
@Josh-Kewley-BC
I apologize for not being very clear :)
There are two parts:
1. The agent (or, previously, the SDK plus older version of the agent)
2. The integration with App Service - which is basically an automated way to instrument applications running on App Service (one click of a button more or less).

When I mention the rollout, the version 3 of Application Insights is being rolled out to

[2021-03-30 02:48] ram-msft commented on #72970
@aldelar Thanks for the feedback! We will review and update accordingly.

[2021-03-30 03:13] Andriy-dev commented on #72418
By nature of RouteServer it advertise back the Remote VNET space, that create recursive route from the NVA perspective (remote neighbor via itself ). Can be solved by selectively accepting prefixes or adding static routes to RS endpoints.

`

Neighbor        V           AS MsgRcvd MsgSent   TblVer  InQ OutQ Up/Down  State/PfxRcd
10.200.1.4      4        65515       3       6       60    0    0 00:

[2021-03-30 03:13] #72418 closed

[2021-03-30 03:24] Josh-Kewley-BC commented on #71629
Thank you so much for the clarification. I will take this back to the team.
Good luck with the rollout!

[2021-03-30 03:59] CelesteDG commented on #68886
@cconrado - Please see the response from @brandwe. Let us know if there's any other questions.

#please-close

[2021-03-30 03:59] #68886 closed

[2021-03-30 04:11] CelesteDG commented on #71079
@longMOR - Please see the response from @navyasric

Flagging @mmacy to open a work item in ADO and add to our backlog - Something for us to consider adding in future or to work on with the PMs. For now looks like there's a reference to use.

#please-close

[2021-03-30 04:11] #71079 closed

[2021-03-30 04:27] CelesteDG commented on #68223
Hi @JimmyLS - Thank you for your feedback. Since the time you've left your feedback, we've done a massive overhaul of the topic and everything has been updated, including all the links. Please check again and let us know if you still see any issues.

@jmprieur - No action item based on the original feedback. CC @mmacy FYI

#please-close

[2021-03-30 04:27] #68223 closed

[2021-03-30 04:31] ram-msft commented on #72723
@dmangonakis Thanks, Please use the R Studio from the compute instance as shown below.
![image](https://user-images.githubusercontent.com/49180516/112934154-c855d400-913e-11eb-9e15-46c6dacf6ce2.png)

[2021-03-30 04:38] vipulsparsh commented on #72969
@gitforanand Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-30 04:49] MayankBargali-MSFT commented on #72596
@wilbaker The resolution mentioned in the “[based on this Stack Overflow thread](https://stackoverflow.com/questions/66307261/how-to-create-api-connection-to-azure-keyvaul-for-logic-app-with-managed-identit),” is correct. An api connection with MSI enabled is essentially a passthrough connection so for azure automation api connection with MSI enabled, the resource definition would look like follow

[2021-03-30 05:04] BryanTrach-MSFT commented on #72952
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-30 05:04] #72952 closed

[2021-03-30 05:05] BryanTrach-MSFT commented on #72954
@xiaomi7732 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-30 05:06] v-hagamp commented on #72612
Issue resolved as per the above conversation.
#please-close

[2021-03-30 05:06] #72612 closed

[2021-03-30 05:08] KranthiPakala-MSFT commented on #72966
@tcc-sejohnson
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-03-30 05:22] Herman5006 commented on #72212
@SaiKishor-MSFT any progress?

[2021-03-30 05:26] RohitMungi-MSFT commented on #72828
@AgribotGit Thanks for this feedback. We will check with our team if we could enable the compact domain programmatically, train and export it as part of this documentation. @PatrickFarley FYI.

[2021-03-30 06:37] SwathiDhanwada-MSFT commented on #72962
@diberry Thanks for your feedback.

Assigning to content author @JasonFreeberg for review.

[2021-03-30 06:47] ankku commented on #72765
Hi Tim,
 This isn't an issue but I believe more of a bug. In my above code if you look in , I query the Change Feed by passing the Continuation Token, MaxAge and MaxResults as argument in Powershell Cmdlet. and it should return me all the new/modified recordings from Cosmos DB ChangeFeed capability.
but in case of large number of changes, I get less number of documents returned than the MaxResults

[2021-03-30 06:55] rossanov opened #72981 "Link to download latte.exe is broken"
Trying to download latte.exe from the link points to another location.

Wrong link points to this: https://docs.microsoft.com/en-us/samples/browse/?redirectedfrom=TechNet-Gallery
Correct link should be this: https://github.com/microsoft/latte/releases/download/v0/latte.exe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-03-30 06:58] rossanov commented on #71784
Hello, the page still contains wrong information after 20 days. Can you pls check?

[2021-03-30 07:13] SwathiDhanwada-MSFT commented on #72541
Thanks for your inputs @alex-frankel .

@simonvane  Did you get chance to check previous comment?  Kindly revert if you have further questions.

[2021-03-30 07:25] ChrisEke opened #72982 "Wrong email address in availability-and-pricing-faqs"
In https://docs.microsoft.com/en-us/azure/spatial-anchors/spatial-anchor-faq#availability-and-pricing-faqs:

The mail address in **Contact us** does not work. Mail to azuremrs@microsoft.com just bounces.

Please update the contact information, or even better, add actual throttling limitations to the documents 😃

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-03-30 07:30] vipulsparsh commented on #72796
@juhlee-microsoft
Any application which is created in azure is mostly associated with doing some work and that work might need certain permissions.
The permission are the entities which are always attached to Service Principal, you can treat service principal as a container which will have the permissions for any particular app. It might be any RBAC related or API related.

So in real world, you c

[2021-03-30 07:42] Klaas- commented on #72921
Hi,
yes I am sure.

[code]

Greetings
Klaas

[2021-03-30 07:53] Klaas- commented on #72921
Also I you should correct the size in the table, they are not 960GiB but rather 894.3GiB
https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/virtual-machines/hbv3-series.md#L30

[2021-03-30 07:57] balazsorban44 opened #72984 "Mention s-maxage taking precedence over max-age"
Currently, the documentation does not mention the `s-maxage` cache directive, which - after some research - I have been told is supported by Azure CDN and will be prioritized over `max-age`.
See: https://docs.microsoft.com/en-us/answers/questions/316956/azure-cdn-should-respect-origin-cache-control.html?childToView=336376#comment-336376

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-03-30 08:03] Durovigutum opened #72986 "PowerShell is garbage"
Seriously. Take it out back and shoot it - even your own copy and paste commands fail with "no valid module found" or "the term get is not recognised".

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef84a3e0-879e-4312-a89d-7a3bb0cd9a51
* Version Independent ID: 43851f8a-b71f-0a0a-8b1f-629e3528972

[2021-03-30 08:18] amanmcse commented on #72836
@SychevIgor I've assigned this to author to review and update.

[2021-03-30 08:27] sandord opened #72987 "Incorrect "Each value is a GUID of the form xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx." statement"
The page mentions "Each value is a GUID of the form xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx."

However, the principal creation script returned a password that is not a GUID but rather a sequence of numbers, both lower case and upper case characters and a (in my case single) dash.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-03-30 09:06] savjani commented on #68526
@KranthiPakala-MSFT / @AnuragSharma-MSFT/ @NavtejSaini-MSFT - Could you please help close this.

[2021-03-30 09:08] AgribotGit opened #72988 "Develop Azure Functions using Visual Studio and Python"
Thanks for providing the how-to information on this important aspect of Visual Studio and Azure.

It would be valuable and very useful to many development teams if Microsoft could provide an example of using Azure Functions in Visual Studio using python rather than C#.

Keep up the good work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-03-30 09:10] gsambrotta opened #72989 "Docs for how to create functions in Azure Linux Function is not correct"
This page shows how is possible to create a Linux function from Azure portal which is not true, since so far, on Linux Function is not possible to create and modify the code directly from the portal, but one must create the function locally and is only allowed to deploy it from Visual studio code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-03-30 09:27] tejinderrai commented on #68526
Thank you for the follow up, this is very much appreciated.

Kind Regards

Tejinder

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Parikshit ***@***.***>
Sent: 29 March 2021 10:39
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Using the PowerShell Az module to get an access token for Azure Database for MySQL (#68526)

[2021-03-30 09:29] amanmcse commented on #72902
@MNF Thank you for pointing it out. The value `&scope=https://<tenant-name>.onmicrosoft.com/<application-name>/<scope-name>` depends on App ID URI and is not always in this format. Possible values can be:

- `https://<tenant-name>.onmicrosoft.com/<api-name>/<scope-name>`
- `https://<verified-domain>/<api-name>/<scope-name>`
- `api://<application-ID>/<scope-name>`

I've added below information to t

[2021-03-30 10:01] ihommani opened #72990 "Specify the kube namespace to get the azure ingress pod"
[Enter feedback here]

One of the pods will be AGIC. kubectl get pods will show a list of pods, one of which will begin with 'ingress-azure'.

--> we need to specify the namespace kube-system to access the require pod.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dda2974-b8a8-e704-3775-7a709cdd0835
* Version Indepen

[2021-03-30 10:27] ram-msft commented on #72723
@dmangonakis We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-30 10:27] #72723 closed

[2021-03-30 10:30] GitaraniSharma-MSFT commented on #72981
@rossanov , thank you for your feedback. We are currently reviewing the feedback and we will get back to you shortly!

[2021-03-30 10:32] GitaraniSharma-MSFT commented on #72984
@balazsorban44 , thank you for your feedback. We're currently investigating this and we will provide you an update shortly!

[2021-03-30 10:38] MarkYu98 opened #72991 "Why Kinect Body Tracking API 1.1.0 does not have nuget package"
The previous versions both have msi and nuget source updated simultaneously, is there any reason v1.1.0 does not have nuget package?

When will nuget v1.1.0 be available?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afef83cf-fabc-7ac5-49e0-0b3293483b8e
* Version Independent ID: 9b4f5587-a003-e184-d80d-c1abc5

[2021-03-30 10:46] HarshitaSingh-MSFT commented on #72399
@garthoid, just checking in to see if you got a chance to look into this.

[2021-03-30 10:46] VikasPullagura-MSFT commented on #72778
@robs
Apologies for delayed response. Below are the responses for your questions:

If the total number of pods which are scaled up are all scheduled through ACI bursting by the time cluster autoscaler reevaluates the cluster (after scan-interval), then new nodes will not be provisioned but if there are pods still in pending state due to resource crunch on VMSS node pools then cluster autoscaler wi

[2021-03-30 10:48] SilviaEid opened #72992 "Company branding - does it require AAD Premium?"
Hi,

The below information from this article conflicts with the information in the article „Add branding to your organization's Azure Active Directory sign-in page” (https://docs.microsoft.com/en-us/microsoft-365/admin/setup/customize-sign-in-page?view=o365-worldwide), which states you can also use company branding with the Azure Active Directory included with Microsoft 365 for business, Microsoft

[2021-03-30 11:05] MayankBargali-MSFT commented on #72656
@TomParnell The dayOfWeek returns the day of the week component from a timestamp. It will depend upon what time zone that you are specifying. If you are specifying any other timezone apart from UTC such as dayOfWeek('2021-03-28T00:30:00 +05:30') then the timestamp will be converted to UTC time i.e. ('2021-03-27T19:00:00 +05:30) and the output will be based on the converted UTC date-time i.e. 6. Th

[2021-03-30 11:05] #72656 closed

[2021-03-30 11:08] MayankBargali-MSFT commented on #72899
@aressler38 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-30 11:12] SimonDebuiselle commented on #44571
Any update on the issue ? I also still have the problem, same as Incursus.

[2021-03-30 11:28] MayankBargali-MSFT commented on #72989
@gsambrotta Thank you for your feedback! We will review and update as appropriate.

[2021-03-30 11:36] robs commented on #72778
Hiya,

Thanks for getting back to me.

So the VMSS pool would only scale after all of the permitted ACI instances are in use.
Except in the case that the VMSS auto-scaler happens to re-evaluate before the nodes are scheduled on ACI in which case they get scheduled on the VMSS pool.

To be honest, it sounds like it would be much better to forget the VMSS altogether and just use ACI.

Our usage patt

[2021-03-30 11:40] MayankBargali-MSFT commented on #72988
@AgribotGit Thanks for your feedback. We do have a document for [python using Visual Studio Code](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-python) as python language support is only for Visual Studio Code environment as mentioned [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-local#local-development-environments).

Please

[2021-03-30 11:41] supernoodles opened #72995 "Should the runtime be linux-x64 in all cases?"
Having spent some time trying and failing to publish and run a Spark job written using .NET for Spark to Azure Synapse and running it as a Spark Job Definition, I could only get it to work by choosing **linux_x64** rather than **win-x64** as the runtime. I also used WSL (Ubuntu-20.04) to compile the version that ran successfully.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-03-30 11:49] Bro75 opened #72996 "Few details are missing"
Section: **Enable user delete and password update**

(At this point is not that clear for "new" people)

Select the User administrator role.
(Probably something changed, but "Add assignments" is available only if you select first the ellipsis on the right side of the item.)

Select Add assignments.

In the Select text box, enter the name of the application you registered earlier, for example, mana

[2021-03-30 11:56] scale-tone opened #72997 "The page incorrectly states that 'pricing for v1 accounts is equivalent to pricing for v2 accounts'"
Quote from the page: `As of October 1, 2020, pricing for general-purpose v1 accounts in new Azure Storage regions is equivalent to pricing for general-purpose v2 accounts in those regions`.

That is absolutely not true and totally misleading. Storage V2 accounts are very well known to be *an order of magnitude* more expensive than V1 in certain scenarios. More precisely, for workloads that produce

[2021-03-30 12:15] IgnacioAlvarezArenas opened #72998 "Documentation in Health Check about different scenarios of restarts"
Hi,

Regarding to the description of Health Check documentation would it be nice to have documented the following:

-What happens if several App Services are running under the same App Service Plan? Do they all get assigned to a new instance?
-What happens if instead of Several App services, we have several slots? Do they all get assigned to a new instance?

Regards,
Ignacio

---
#### Document Det

[2021-03-30 12:26] alexeyshishkin01 opened #72999 "feedback for 'Create a token with repository-scoped permissions'"
1)
'The passwords can't be retrieved again, but new ones can be generated.'
- passwords retrieval is a must
- pls. have a look at 'az acr credential show' command

2)
when you run the command:

az acr token create --name MyToken --registry myregistry \
  --repository samples/hello-world \
  content/write content/read

you assume that 'json' is default output, which is not the case for many users

[2021-03-30 12:37] vipulsparsh commented on #72986
@Durovigutum Apologies that you had to experience something like that. In order to help you, can you help us with the screenshot of the error message so that we understand where exactly things went wrong.

[2021-03-30 12:38] vipulsparsh commented on #72992
@SilviaEid Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-30 12:42] j-mantu commented on #68550
#sign-off

[2021-03-30 12:52] DeanGross opened #73000 "Score and Status clarification"
I am seeing items with the Current Score equal to the Max Score, which implies that the status should be something like "Met, Fulfilled, Completed, etc", but this option is not available and they are still shown as "To Address" am I misunderstanding how this is supposed to work. Its not fully explained in the documentation, and I'm not sure if there is an issue with tenant which warrants a support

[2021-03-30 13:04] jhealy opened #73001 "link for Microsoft.Azure.Service bus is wrong"
Microsoft.Azure.ServiceBus link points to Azure.Messaging.ServiceBus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7eb26ad-3f91-13f4-5827-9dd398412f9d
* Version Independent ID: 1e3dc2ac-1d5e-3da1-7d51-91d36bda14f2
* Content: [Best practices for improving performance using Azure Service Bus - Azure Service Bus](https:

[2021-03-30 13:05] dominicbetts commented on #72626
Hi @geoffbrucepayne - I believe that a payload of "@" is a special case for an empty request - I'll check this and the other payload types and get back to you. Thanks for raising this issue.

[2021-03-30 13:06] larryclaman opened #73002 "kube-advisor no longer maintained?"
This page describes using the kube-advisor tool as a way to check deployments for best practices.
However, the github page for kube-advisor has been archived, meaning it is no longer an active project.
Given this, it seems like the associate Azure documentation page articles/aks/kube-advisor-tool.md should also be updated, archived, or removed.

---
#### Document Details

⚠ *Do not edit this secti

[2021-03-30 13:07] tamram commented on #72997
@scale-tone - The point is that the cost of a v1 storage account in new regions has increased as of Oct 1, 2020. That is, in any new region brought online from Oct 1, 2020, v1 and v2 storage accounts will be billed the same for capacity and transaction costs. In existing regions, v1 accounts will continue to be billed at the current rate.

The doc is correct as written. Azure Defender does not imp

[2021-03-30 13:07] #72997 closed

[2021-03-30 13:20] jeevanbalanmanoj opened #73003 "Unexpected consent prompts DevEx video incorporation"
[Enter feedback here]
Hi, I am a PM in the Developer care team and I have made a DevEx video for the Microsoft Security channel with content from this page I believe we should embed that video on this page to accommodate our customers who prefer video content. The video is here. https://www.youtube.com/watch?v=a1AjdvNDda4 Please add it to the page asap

---
#### Document Details

⚠ *Do not edit th

[2021-03-30 13:28] magnus-longva-bouvet commented on #62626
Please give this issue some attention

[2021-03-30 13:28] RitikaDSI opened #73004 "Issue disabling geo backup policy for dedicated SQL pool"
[Enter feedback here]

The option to disable geo-backup policy is greyed out. the performance level for the dedicated SQL pool  is DW100c.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0ba1ae6-cc94-7cea-17e1-bc8d5a02a7bb
* Version Independent ID: bb556f38-3d33-776b-c831-436b47fe4635
* Content: [Disable geo-backups - A

[2021-03-30 13:38] AshokPeddakotla-MSFT commented on #72982
@ChrisEke Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-30 13:46] adalfa commented on #61603
@tekguy
I was able to make it works by embedding the metadata xml in the Partner xml element in signup_signin.xml
[code]

[2021-03-30 14:13] garbacik opened #73007 "Granular security controls need to be defined to allow limiting access to specific subscriptions"
[Enter feedback here]
Where are the controls defined to ensure that you control to **specific** subscriptions? Are there specific URLs, headers, or otherwise to control this access? I know I can control access in accounts that I own but what about access to other accounts? For instance, does a company really want to allow unrestricted egress from on-premises to **any** subscription and allow users

[2021-03-30 14:14] ericnyc646 opened #73008 "Update to Use .NET 5.x"
[Enter feedback here]
Please update for instructions using the .NET 5 version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6102ebf-9a84-413b-81f9-711f7e2ff9e1
* Version Independent ID: 1a6dcb5b-cd4b-a09e-15ea-953cddf109f1
* Content: [Quickstart: Protect an ASP.NET Core web API with the Microsoft identity platform -

[2021-03-30 14:20] CelesteDG commented on #68550
#please-close
Issue has been fixed in a PR that was merged

[2021-03-30 14:20] #68550 closed

[2021-03-30 14:21] CelesteDG commented on #68037
#please-close
Issue has been fixed in a PR that was merged

[2021-03-30 14:21] #68037 closed

[2021-03-30 14:21] CelesteDG commented on #66101
#please-close
Issue has been fixed in a PR that was merged

[2021-03-30 14:21] #66101 closed

[2021-03-30 14:21] #72805 closed

[2021-03-30 14:35] andagon opened #73009 "intro_msg does not work"
intro_msg does not seem to work in localization. (ver_intro_msg does not work as well)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9db8986-3f26-82e2-8985-69f06b74a3f4
* Version Independent ID: 5db5d242-459d-4029-c815-40d0731e30a2
* Content: [Custom email verification with SendGrid - Azure AD B2C](https://docs.micro

[2021-03-30 14:37] suchintyapaul opened #73010 "initiate failover in Azure Table Storage"
In the comparison on failover between the Table Storage API and Cosmos DB Table API, one drawback that is mentioned for Table Storage is that we cannot initiate a failover. But a failover can be initiated at the storage account which contains the Table Storage. I am not sure why you are disregarding this failover

https://docs.microsoft.com/en-us/azure/cosmos-db/table-support?toc=https%3A%2F%2Fdoc

[2021-03-30 14:41] SumanthMarigowda commented on #72582
@RonnieQuan This article will explain how [RBAC ](https://social.msdn.microsoft.com/Forums/en-US/4adfa23e-d50a-4f47-ab28-4e674afa5ec9/using-rbac-on-azure-storage?forum=windowsazuredata)works , You need permission access role based on the requirement
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'l

[2021-03-30 14:41] mumian commented on #72539
@simonvane - thank you for the comment. I just submitted a PR with the note.

[2021-03-30 14:48] RyanHill-MSFT commented on #72262
Hi @ericthomas1, it's up to your application code to perform all validation requirements. App Service doesn't perform any sort of validation.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-30 14:48] #72262 closed

[2021-03-30 14:49] b-roconl commented on #72933
Hey Julie,

It would be nice if it was also stated on the resource limits pages in addition to the NFS page. Yes this is a per volume limit and its not adjustable.

Thanks
-Robert Conlan

From: Julie Chen ***@***.***>
Sent: Monday, March 29, 2021 5:38 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: b-roconl ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] NFS export-poli

[2021-03-30 14:51] JamesTran-MSFT commented on #72996
@Bro75
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-30 14:55] JamesTran-MSFT commented on #73003
@jeevanbalanmanoj
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-30 14:56] JamesTran-MSFT commented on #73008
@ericnyc646
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-30 14:58] JamesTran-MSFT commented on #73000
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-30 15:01] MonikaReddy-MSFT commented on #72908
@Yudai-Tomita - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-30 15:01] #72908 closed

[2021-03-30 15:02] SaiKishor-MSFT commented on #72990
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-30 15:04] MonikaReddy-MSFT commented on #72925
@rajakumarbabu - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-30 15:04] #72925 closed

[2021-03-30 15:05] chanuengg commented on #71150
@SamaraSoucy-MSFT  as mentioned above, we need more info from customer, can you guide customer create a support ticket

[2021-03-30 15:19] leifbro commented on #68630
https://databricks.atlassian.net/browse/DOC-2239, not yet prioritized

[2021-03-30 15:24] leifbro commented on #66717
This issue has been resolved.

[2021-03-30 15:28] leifbro commented on #57425
Azure Private Link for Databricks is in Private Preview and therefore cannot be mentioned in the docs.

[2021-03-30 15:28] mtwelve opened #73011 "The AzureContainerRegistry Service Tag only supports outbound?"
Why does the AzureContainerRegistry Service Tag only supports outbound?

We would like to add a Network Restriction to our Azure App Service but permit the AzureContainerRegistry Service Tag to make requests so as to support the Azure App Service Continuous Integration setting documented here - https://docs.microsoft.com/en-us/azure/app-service/deploy-ci-cd-custom-container?tabs=acr&pivots=contain

[2021-03-30 15:30] Klaas- opened #73012 "RHEL 7.9 support"
Hi,
HANA added support for rhel 7.9 nearly two months ago -- when can I expect azure hana backup to work with that release?
https://launchpad.support.sap.com/#/notes/2235581
you will also need to include 7.9 here: https://github.com/Klaas-/msawb-plugin-config-com-sap-hana.sh/blob/main/msawb-plugin-config-com-sap-hana.sh#L268 - it does need the compat package, 7.9 ships 2.3.1, same as 7.7

Greeting

[2021-03-30 15:36] spelluru commented on #73001
Thank you @jhealy. I have fixed the link as part of a pull request I am working on. The fix will go in a couple of hours. Thanks.

[2021-03-30 15:36] SumanthMarigowda commented on #72709
@Ayanmullick  Apologies for the delay in responding here! May I know what exactly are you trying to accomplish, Can you you provide more information on your query

[2021-03-30 15:39] Ayanmullick commented on #72709
@SumanthMarigowda, I have an existing Windows 10 Gen1 Azure VM. I wanted to know if I could convert the Azure disk to Gen2 and recreate a new Gen2 Azure VM from that disk.

[2021-03-30 15:39] #72885 closed

[2021-03-30 15:42] simonvane commented on #72541
Thanks @alex-frankel and @SwathiDhanwada-MSFT .

I can't try this out at the moment because of project timescales (we put a workaround in of running a script in the release pipeline) but I will definitely try this approach after we release in May or if it comes up again.

The same goes for using bicep. I am really keen to use it. The video on that page is a really good intro @alex-frankel , thanks

[2021-03-30 15:42] tekguy commented on #61603
@adalfa -- I appreciate it, that seemed to have worked for me as well, thank you! For anyone else looking for an example here is the full relying party, this is part of my SignUpOrSignin.xml file (see PartnerEntity)

[code]

[2021-03-30 15:45] NavtejSaini-MSFT commented on #68526
@tejinderrai We are going ahead and closing this request.

[2021-03-30 15:45] #68526 closed

[2021-03-30 15:53] #72749 closed

[2021-03-30 15:56] JamesTran-MSFT commented on #72864
@glomaga
Thank you for the quick follow up on this!

Unfortunately, I wasn't able to find an example that covers MFA as a remediation. However, I've assigned this issue to the author of this doc to investigate and update update as appropriate.

[2021-03-30 15:57] mmacy commented on #50421
@cadethacker @hashimsingh Apologies for the (long) delay on a final answer on this, but I've now heard back from the product team that this is in fact **not possible**.

#please-close
#label:product-question

@MarileeTurscak-MSFT can you remove the `doc-enhancement` label from this one?

[2021-03-30 15:59] mumian commented on #72541
@simonvane - I will document both.

[2021-03-30 15:59] mmacy commented on #50421
#label:"product-question"

[2021-03-30 16:04] JamesTran-MSFT commented on #72941
@dloder0
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-30 16:10] cequencer commented on #70071
@juliuszsompolski , thank you for confirming the bug, as I don't have access to the source code and only have visibility during runtime observations and behaviors.

I understand the dependency issue that `bash` is not supported on `Windows` by default.  If there are any manual work around, I am more than happy to try it out and provide feedbacks.

-----------------

@leifbro , the link you have [p

[2021-03-30 16:17] JamesTran-MSFT commented on #72960
@caseyekim
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/113021129-1b785880-9138-11eb-93d9-9d7292f32f42.png)
https://docs.microsoft.com/en-us/powershell/module/azuread/add-azureadmsadministrativeunitmember?view=azureadps-2.0
https://docs.mi

[2021-03-30 16:17] #72960 closed

[2021-03-30 16:27] JamesTran-MSFT commented on #73000
@DeanGross
Thank you for your time and patience throughout this issue!

Would you be able to share some screenshots of what you're seeing? This way I can gain a better understanding of your issue.

[2021-03-30 16:29] YutongTie-MSFT commented on #72846
I will close this since the bug happens in other repo and I have created a ticket for it.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-03-30 16:29] #72846 closed

[2021-03-30 16:29] JamesTran-MSFT commented on #72996
@Bro75
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now assign this issue to the author who will investigate and update as appropriate.
Thank you for your time and patience!

[2021-03-30 16:31] SamaraSoucy-MSFT commented on #73004
Thanks for the question! We will review and get back to you shortly.

[2021-03-30 16:31] JamesTran-MSFT commented on #73009
@andagon
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-30 16:43] mmacy commented on #72742
@sabuncu Good call - fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/152603. No guarantees you won't see such phrasing elsewhere in Microsoft docs as we have contributors from all over the world, but I'm not aware of it being or becoming a trend.

[2021-03-30 16:44] leifbro commented on #66116
Created Databricks doc ticket, under review by Databricks Connect team: https://databricks.atlassian.net/browse/DOC-2241

[2021-03-30 16:48] #72708 closed

[2021-03-30 16:49] juliuszsompolski commented on #66116
We do build and test ourselves using OpenJDK JRE, though we are not aware of the issues with different JRE vendors. @matthiaspfenninger would you have more details about the issue you face?

[2021-03-30 16:49] mike-urnun-msft commented on #73001
Hello @jhealy - Thanks again for reporting this issue and helping us drive improvements towards MS Docs! Since @spelluru has confirmed a fix above, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-03-30 16:49] #73001 closed

[2021-03-30 16:52] dalemdb opened #73013 "Spark conf lookup for Key Vault backed secrets won't work as shown by sample"
The syntax requires {{ }} to surround the path to the secret scope (of course after you replace the placeholder values).

For a lookup to occur the conf needs to be as below:
fs.azure.account.auth.type.acmeadls.dfs.core.windows.net OAuth
fs.azure.account.oauth.provider.type.acmeadls.dfs.core.windows.net org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider
fs.azure.account.oauth2.client.id

[2021-03-30 16:53] leifbro commented on #65655
Created Databricks doc ticket, https://databricks.atlassian.net/browse/DOC-2242

[2021-03-30 16:53] mmacy commented on #71140
@jmprieur @navyasric @kalyankrishna1 What are the necessary changes to accommodate @jmprieur's https://github.com/MicrosoftDocs/azure-docs/issues/71140#issuecomment-789717350:

Does @jmprieur's statement mean that we go with the second bullet below?

If the second bullet is the correct one, what is the recommended redirect URI format for a tenanted desktop app?

[2021-03-30 16:54] dalemdb commented on #73013
Markdown swallowed the code it should be as below:

`fs.azure.account.auth.type.acmeadls.dfs.core.windows.net OAuth
fs.azure.account.oauth.provider.type.acmeadls.dfs.core.windows.net org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider
fs.azure.account.oauth2.client.id.acmeadls.dfs.core.windows.net {{secrets/<secret-scope-name>/<application-id>}}
fs.azure.account.oauth2.client.secret.acme

[2021-03-30 16:57] leifbro commented on #66561
Created a Databricks doc ticket, https://databricks.atlassian.net/browse/DOC-2243, to beef up explanation of how AKV-backed secret scopes work.

[2021-03-30 16:58] b-juche commented on #72933
@b-roconl - Noted Robert.  Thanks for confirming.

BTW, for future reference, you can also use JIRA to create doc tickets (e.g. using the JIRA task type, which other internal/SRE members also use).  In case further discussion is needed, JIRA might lend itself better for conversation privacy, as GitHub is a public forum :)

[2021-03-30 17:04] JamesTran-MSFT commented on #72922
@Norafify89
Thank you for the quick follow up on this! I've reached out to my team and will update as soon as possible.

In the meantime, since it sounds like you're waiting to start the installation. If you'd like our support team to take a closer look into your environment and help with issue, please let me know. This way I can enable a one-time free technical support request for your subscripti

[2021-03-30 17:13] himanshusinha-msft commented on #73013
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-03-30 17:26] ameerjassim opened #73015 "NPVDI Boot Sequence"
We will need more clarification on what does it means Add "dsregcmd /status" to the Boot Sequnce?
This is really unclear and vague.
We need to understand when the join happens if we do that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e8f55d4-539c-7835-010b-34026860f699
* Version Independent ID: 4f8db376-bed9-6fd2-2

[2021-03-30 17:27] rpalves opened #73016 "Please give an example"
SPN: "cifs/your-storage-account-name-here.file.core.windows.net" Password: Kerberos key for your storage account.

Can you please give an example on how to create the computer or service account with print screens or CLI for this part. I was able to find how to set SPN, but not the password.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-03-30 17:35] Jens-Schwendemann opened #73017 "Support for authorization code grant - configurable URLs on gallery apps / client credential grant"
Dear all,

picking up this [vote](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/31744375-scim-defects) I like to point out that currently the SCIM integration using AAD SCIM client is broken from a user / integrating person's POV.

More and more service providers don't allow (anymore) for long lived bearer tokens, e.g. SAP Analytics Cloud does so when renovating their

[2021-03-30 17:37] himanshusinha-msft commented on #72718
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-03-30 17:39] himanshusinha-msft commented on #72851
PR is raised ,. so closing the issue

[2021-03-30 17:39] #72851 closed

[2021-03-30 17:42] JamesTran-MSFT commented on #73015
@ameerjassim
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-30 17:48] ChaitanyaNaykodi-MSFT commented on #72972
Hello @eugen-nw,
Thank you for your feedback! We will review and update as appropriate.

[2021-03-30 18:08] kozhemyak opened #73018 "Sample script contains wrong characters"
Sample script `https://github.com/MicrosoftDocs/azure-docs/blob/master/powershell_scripts/backup/backup-encrypted-vm/backup-encrypted-vm.ps1` contains wrong characters.

I didn't get how to create a pull request with changes in the script file, because the file does not exist.

![image](https://user-images.githubusercontent.com/26633375/113035620-3937d300-91b5-11eb-8a0c-ce500aef1d76.png)

---
####

[2021-03-30 18:11] MartinJaffer-MSFT commented on #72991
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-03-30 18:28] ericthomas1 commented on #72262
**Pointing folks to other potentials here...**
- For those that want some level of ClientCert control at the endpoint hosting their API (rather than placing "it all" on the app code)
- https://docs.microsoft.com/en-us/learn/modules/control-authentication-with-apim/4-secure-access-client-certs

[2021-03-30 18:33] HaikoHertes opened #73019 "Bs-Series and Caching?"
Hi. The SKU table has a column with caption "Max cached and temp storage throughput: IOPS/MBps" - afaik Bs-Series does not support disk caching? Where is the mistake here? Thanks

BR

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd2e24b-0fd3-d698-2840-3f8206933026
* Version Independent ID: 832dc371-480a-c74a-e956-e19

[2021-03-30 18:33] craibuc opened #73020 "Add sample code"
It would be really helpful if you could

- post the code for how the HR app would be written to be able to be used by multiple, organizational tenants, particularly how the data would be segmented
- describe in detail the steps necessary to allow Contoso and Fabrikam to use the HR app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-03-30 18:42] JamesTran-MSFT commented on #73020
@craibuc
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-30 18:42] chetansir commented on #71280
Hi Team,

Any updates on this. I can't see any response on the QnA as well.

[2021-03-30 18:42] mdddev opened #73021 "Info about network ACL protected KV out-of-date"
On this page it is stated, that references to KVs protected with network restrictions might not work/resolve. This used to be the case, but isn't anymore, is it? I am able to use references to a KV that allows access only via a specific subnet. My Azure Function app uses VNET integration to a subnet that has a KV service endpoint enabled. A few months ago this was not working but now is.

---
####

[2021-03-30 18:44] ArvindHarinder1 commented on #73017
Hi We're actively working on client secret grant. I'll post in that UserVoice when it's ready.

[2021-03-30 18:47] AjayKumar-MSFT commented on #72717
Shawn, we will close this out, but if you feel you need more information please just let us know. Thanks again for taking time to share your valuable feedback.

[2021-03-30 18:48] AjayKumar-MSFT commented on #72736
phuongcao1995, We will close this out, but if you feel you need more information please just let us know.

[2021-03-30 18:48] #72736 closed

[2021-03-30 18:51] craibuc commented on #73020
[https://codemag.com/Article/2101081/Building-Multi-Tenant-Applications-Using-ASP.NET-5](https://codemag.com/Article/2101081/Building-Multi-Tenant-Applications-Using-ASP.NET-5) includes some useful topics that I think you'd want to cover.

Another question: does Azure have a mechanism to bill other tenants for services?  In this example, Adatum would change Contoso and Fabrikam for the use of the

[2021-03-30 18:54] jdanton opened #73022 "Stroage Account References"
Provision the storage account in the same region as the SQL Server VM.
Disable Azure geo-redundant storage (geo-replication) and use LRS (local redundant storage) on the storage account.

Both of these should just say "use managed disks" storage accounts are still available, but I haven't seen a VM hooked to one in 5 years.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-03-30 18:59] Johannes-Vink opened #73023 "HASHBYTES is not supported in Serverless"
See also Ron Dunn on SO: https://stackoverflow.com/questions/65580193/azure-synapse-serverless-hashbytes-the-query-references-an-object-that-is-not

When running in distributed mode for serverless, any reference to HASHBYTES() either in a table, query, view etc will fail with the following error:
"The query references an object that is not supported in distributed processing mode."

This is not li

[2021-03-30 19:02] AjayKumar-MSFT commented on #72861
Gerardo, as tomaschladek mentioned, a PR has been raised to fix (different time format and missing output for second identity and/token), in the code. Kindly let us know if you have observed any other mismatches. Thanks for your time and valuable feedback.

[2021-03-30 19:06] lgayhardt commented on #54152
Hi @cbtham sorry for the delay, the visualization section of the documentation has been overhauled since the creation of this issue. Now all visualization have their own docs like chart: https://docs.microsoft.com/en-us/azure/azure-monitor/visualize/workbooks-chart-visualizations

Thank you
#please-close

[2021-03-30 19:17] stephenc01 opened #73024 "Targeted Intune deployment"
For the section Targeted Intune deployment; custom is no longer an option. It is under the Settings Catalog

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7e1d9a-fdaf-0a29-0746-e3a32826eb6b
* Version Independent ID: 78e9b684-1121-6193-387f-fd8b6040cc0a
* Content: [Passwordless security key sign-in Windows - Azure Act

[2021-03-30 19:35] TravisCragg-MSFT commented on #72921
@Klaas- Thanks! I will need to reproduce this and get some more information on the temp drives. sdb is typically the temp drive, but it is not described in this doc.

I suspect that this series has the same temp drive configuration [as described in the LSv2 series](https://docs.microsoft.com/en-us/azure/virtual-machines/lsv2-series), which is a temp drive on sdb, and provides the nvme to be mounte

[2021-03-30 19:35] davidsmatlak commented on #72371
I submitted the fix for this issue and when it's merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2021-03-30 19:41] usivagna commented on #72896
Hi it appear that this issue is related to a Visual Studio 2019 runtime dependency,  per our dev teams feedback
"This dependency comes from the new CxxFrameHandler4 described [here](https://devblogs.microsoft.com/cppblog/making-cpp-exception-handling-smaller-x64/).

    VCRUNTIME140_1D.dll
             14036EB10 Import Address Table
             140370080 Import Name Table
                     0 t

[2021-03-30 19:42] aullom1 opened #73028 "Online VS Offline Migration"
Do any of these limitations apply to offline migrations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 202007de-24c6-c3eb-a318-6ea0f817eedb
* Version Independent ID: 794875ec-6c1a-df08-b174-eae18024614a
* Content: [Known issues: Online migrations to Azure Database for MySQL - Azure Database Migration Service](https://

[2021-03-30 19:43] leifbro commented on #66561
We hope to have this addressed in a related doc update soon.

[2021-03-30 19:45] leifbro commented on #66717
#please-close

[2021-03-30 19:45] #66717 closed

[2021-03-30 19:47] JamesTran-MSFT commented on #72957
@msfcolombo
Thank you for the guidance on this!

@zhenyar
Since this feedback item indicates coverage is needed for "app service regional integration vnet". I've edited your GitHub issue to point to our [Regional VNet Integration](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#regional-vnet-integration) documentation.

I've assigned this issue to the author (@ccom

[2021-03-30 19:55] KranthiPakala-MSFT commented on #72886
@viseshag Could you please review the above feedback and update the doc as needed. Thank you

[2021-03-30 19:55] Bill-Miller-USMA commented on #36458
Note, when modifying an existing function, and you get Bad Request, try using a valid storage account file name, i.e. lowercase!

Also, not sure this is intended, but after moving to File storage, it only affects slot 0.  slot 1+ will need the connection string and share name added as well!  For now we are not proceeding to do this as our slot is a staging slot, and by moving to a storage account

[2021-03-30 19:56] VanMSFT commented on #72947
Tested the example, and it still works as instructed by the documentation.

[2021-03-30 19:57] KranthiPakala-MSFT commented on #72863
@DerekParks
Thanks for the feedback! We have assigned the issue to the content author to investigate this and provide an update as appropriate.

[2021-03-30 20:00] JamesTran-MSFT commented on #72750
@nickQuant
Thank you for your time and patience on this!

It looks like SamlAssertionSigning, not signing, might've been a potential bug. Would you be able to see if this works for you now? Can you also check and see if the SP metadata has "WantAssertionsSigned" listed?

[2021-03-30 20:02] leifbro commented on #72627
Thanks for the feedback. We'll add a note to the docs shortly.

[2021-03-30 20:03] TravisCragg-MSFT commented on #72921
As expected, this does have the same configuration as the LSv2 series.

NAME    MAJ:MIN RM  SIZE RO TYPE MOUNTPOINT
sda       8:0    0   30G  0 disk
├─sda1    8:1    0  500M  0 part /boot
├─sda2    8:2    0   29G  0 part /
├─sda14   8:14   0    4M  0 part
└─sda15   8:15   0  495M  0 part /boot/efi
sdb       8:16   0   80G  0 disk
└─sdb1    8:17   0   80G  0 part /mnt/resource
sr0      11:0    1  6

[2021-03-30 20:05] sebansal commented on #67821
#please-close as no response received.
Feel free to re-open the issue.

[2021-03-30 20:08] Oury-MSFT commented on #72947
@codemaker I have tested this on my end as well and it works.

[2021-03-30 20:10] Klaas- commented on #72921
@TravisCragg-MSFT do you have a doc/example of using the nvme disks as raid0 (lvm striped maybe) for /mnt/resource?

[2021-03-30 20:16] ecfan commented on #45210
I don't think the limit is different for the ISE version.

[2021-03-30 20:17] SaiKishor-MSFT commented on #73011
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate. @allegradomel would you be able to look into this question? Thank you!

[2021-03-30 20:20] SamaraSoucy-MSFT commented on #73023
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-03-30 20:30] moxious opened #73029 "Incorrect / outdated information (Neo4j/Databricks)"
Hi, I'm an architect at Neo4j.  This page represents old / outdated information about the spark connector for Neo4j.   Via a partnering contact with Databricks we're attempting to get the same documentation updated on their site.  [This document](https://docs.google.com/document/d/1GtZnEkL7Ww64bJ6Ye_3nUnBitYaoJdHgW8G60NtgtdY/edit?usp=sharing) contains the complete content of what should be present

[2021-03-30 20:33] matthiaspfenninger commented on #66116
Sure, here is how we can reproduce it @juliuszsompolski:

Running `databricks-connect test` with OpenJDK JRE 8, it succeeds.
When running the same with the IBM JDK 8, it runs into the following error:

[code]

Full logs available here: [dbconnect-test-openjdk.log](https://github.com/MicrosoftDocs/azure-docs/files/6231992/dbconnect-test-openjdk.log) and [dbconnect-test-ibmjdk.log](https://github.co

[2021-03-30 20:34] JamesEarle opened #73030 "Content is inconsistent with images"
The content itself is fine and works, but the image should be updated for step 3 in the "test your function" portion. It doesn't show the URL we just copied in the address bar, it instead shows a `localhost` URL. Also the messaging is different now as well.

![image](https://user-images.githubusercontent.com/5976499/113053007-ab2ffe00-915c-11eb-9d44-7f0e9b8f6913.png)

---
#### Document Details

⚠

[2021-03-30 20:38] ggailey777 commented on #73030
@JamesEarle thanks for reporting this bug. #assign:ggailey777

[2021-03-30 20:52] JamesTran-MSFT commented on #72922
@Norafify89
Thank you for your time and patience!

My team was able to find some documentation and it looks like changing the service account password has the same steps as it used to have for the old version.

1. Sign in to the Azure AD Connect sync server and start PowerShell.
2. Run Add-ADSyncAADServiceAccount
![image](https://user-images.githubusercontent.com/36619112/113055087-09f67700-915f-1

[2021-03-30 20:54] KumudD commented on #70146
@Maarten-Work Thanks for bringing this to our attention. The article has been updated.

#please-close

[2021-03-30 20:57] KumudD commented on #62897
@saf-itpro Thanks for bringing this to our attention. The article is now updated.

#please-close

[2021-03-30 20:57] #62897 closed

[2021-03-30 20:58] TravisCragg-MSFT commented on #72921
@Klaas- There is nothing Azure specific about creating a RAID0 with the drives, follow [OS specific instructions like this one](https://www.tecmint.com/create-raid0-in-linux/).  Also, data on the nvme drives are not persistent, meaning that they will lose all data on restarts / outages / VM Stop & resize operations just like a typical temp drive.

[2021-03-30 21:02] KumudD commented on #19019
@MikeWasson Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to

[2021-03-30 21:02] #19019 closed

[2021-03-30 21:09] jaseidman commented on #72627
@aodugga I need some help understanding what's meant by "...deleted all of their data...". Does this mean all of the data in their storage account (or container) was deleted with this command, and not just data under the mount point? Or was it just all data under the mount point that was deleted?

If the first case, that would seem to be an unexpected side effect. If the latter, than that seems li

[2021-03-30 21:12] Klaas- commented on #72921
@TravisCragg-MSFT yeah that's why I asked if you have an example of how to use them, for example with cloud-init so they get reformatted during boot like the resource disk :)

[2021-03-30 21:15] SaurabhSharma-MSFT commented on #73029
@moxious Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-03-30 21:20] danabrash opened #73031 "NSG Ports?"
Please clarify step 1 if all are meant to be port 443 or otherwise.   It is unclear.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36342e9e-93eb-3b34-ff09-fd0378fe0664
* Version Independent ID: 3523eac4-35a5-d207-94f0-69017e1d40e9
* Content: [Connect to workspace resources in Azure Synapse Analy

[2021-03-30 21:23] DerekHerman-MSFT commented on #73010
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-30 21:23] BharathNimmala-MSFT commented on #73018
@kozhemyak Thanks a lot for bringing this to our notice, we will review and fix the document accordingly.

[2021-03-30 21:25] BharathNimmala-MSFT commented on #73007
@garbacik Thank you for your query, our team will review and get back to you at the earliest.

[2021-03-30 21:29] rp-msft opened #73032 "Private LB IP specification"
Specify an IP address
If you would like to use a specific IP address with the internal load balancer, add the loadBalancerIP property to the load balancer YAML manifest. In this scenario, the specified IP address must reside in the same subnet as the AKS cluster and must not already be assigned to a resource. For example, you shouldn't use an IP address in the range designated for the Kubernetes s

[2021-03-30 21:32] #72371 closed

[2021-03-30 21:37] mhopkins-msft commented on #72674
Hi @LanderVe

The code in the article is correct. There is an implicit cast to BlobProperties.

Thanks,
 ~ *Mark*

#please-close

[2021-03-30 21:37] #72674 closed

[2021-03-30 21:42] BharathNimmala-MSFT commented on #72730
@bharti8085 Apologies for delay in getting back to the thread.

Apologies for your experience , we might need additional information about the scenario you are implementing on where exactly you are running the command to further help you troubleshoot this.  Please send an email to AzCommunity@microsoft.com  with your Subscription details  and a link to this thread so we can verify and direct the r

[2021-03-30 21:45] #72686 closed

[2021-03-30 21:47] lgayhardt commented on #66570
@akak1977 Sorry for the delay and thank you for the feedback. I will add an [internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1831045) to our backlog. I'll close out this issue for now but will @mention you when the update is complete.

[2021-03-30 21:47] #66570 closed

[2021-03-30 21:49] TravisCragg-MSFT commented on #72921
@Klaas- I could find no best practice guidance regarding these drives, which is strange.

Typically editing the FSTAB config is all you need to do for the drives to be ready in Azure on a reboot. We could use some documentation on this, and I will be bringing this to the attention of the Compute team.

[2021-03-30 22:04] cmanasseh opened #73035 "Error connecting via ODBC"
Is there an update of this page for the latest cosmos db? the information above that is related to the Host connection string seems to no longer apply. the Host in the key section has a different format and different port number.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96736d22-b3e0-290d-3615-5468859d0c9c
* Vers

[2021-03-30 22:06] b-juche commented on #72933
Added max number of export policy rules to the Resource Limits page per suggestion.
@b-roconl - A related question that came up (see email thread related to this GitHub issue) is the max length of comma-separated IPs each export policy rule can support.  Let us know through email if you have input to what that max length should be.

[2021-03-30 22:06] b-juche commented on #72933
#please-close

[2021-03-30 22:06] #72933 closed

[2021-03-30 22:07] kenwith commented on #73017
#please-close

[2021-03-30 22:07] #73017 closed

[2021-03-30 22:09] DerekHerman-MSFT commented on #73016
@rpalves Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-30 22:13] MarileeTurscak-MSFT commented on #72877
This example uses regular Azure AD and may be what you are looking for: https://github.com/Azure-Samples/active-directory-xamarin-native-v2

If you need something beyond what the sample offers you can create a feature request here: https://feedback.azure.com/

CC @msmimart

[2021-03-30 22:13] #72877 closed

[2021-03-30 22:15] cmanasseh commented on #73035
after some trial and error, the host in the connection string should be replaced with https://[cosmosdb account].documents.azure.com:443/

[2021-03-30 22:22] PeterCLu commented on #71359
Hi @epa095, thanks for your report! Great point, I've added a note warning future users that SQL-backed Tabular datasets cannot be partitioned. You should see the changes live in a few hours. I'll proceed to #please-close this issue.

I've also shared your feedback regarding mini_batch_size with the product team.

If you feel that your documentation issues hasn't been resolved, feel free to open a

[2021-03-30 22:22] #71359 closed

[2021-03-30 22:23] michael-freidgeim-webjet opened #73037 "Clarify "Select Grant admin consent""
I found the button/link for step 7 Select Grant admin consent for (your tenant name).
is not easy to discover.
Only image in https://stackoverflow.com/questions/65509170/application-does-not-have-sufficient-permissions-against-this-web-resource-to-pe helped me.

It should be better described, e.g.
Select permission in the list.
Click the button with blue tick "Grant admin consent for (your tenant

[2021-03-30 22:25] ecfan commented on #72670
Hi @tomkerkhove,

Thanks for the feedback! I opened a doc work item and merged a PR to include the following note:

***Important**: For production scenarios, make sure to protect and secure such secrets and sensitive information, for example, by using a key vault. For Docker files specifically, review [Build images with BuildKit](https://docs.docker.com/develop/develop-images/build_enhancements/)

[2021-03-30 22:25] #72670 closed

[2021-03-30 22:33] trevornorman opened #73038 ""Additional security verification" page link missing"
Hello,

The following page seems to be missing a hyperlink to the 'Additional security verification' page on the following URL:

https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-setup-phone-number

One of our users noticed there is a such a link on the following URL relating to enrolling the Microsoft Authenticator app:

https://docs.microsoft.com/en-us

[2021-03-30 22:44] MarileeTurscak-MSFT commented on #72882
For Application permission types, these all permissions are required:

Group.Create
Group.ReadWrite.All
Directory.ReadWrite.All

And for Delegated user permissions type:

Group.ReadWrite.All
Directory.ReadWrite.All
Directory.AccessAsUser.All

Can you include the whole body? I can only see part of it in the screenshot.

I saw [another user ](https://stackoverflow.com/questions/61796841/insufficient

[2021-03-30 22:46] JamesTran-MSFT commented on #73037
@michael-freidgeim-webjet
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-30 22:47] JamesTran-MSFT commented on #73038
@trevornorman
Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-30 22:53] AliManouchehri opened #73040 "The variable $privateEndpoint is not initialized."
[Enter feedback here]
I can't figure out how to initialize the variable $privateEndpoint in

$nic = Get-AzNetworkInterface -ResourceId $privateEndpoint.NetworkInterfaces[0].Id

during mount azure file share local.

Many thanks for your help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4387410-73b7-a07e-708c-eeac4e8

[2021-03-30 23:04] Oury-MSFT commented on #73035
@cmanasseh We are looking into it and will get back

[2021-03-30 23:27] Karishma-Tiwari-MSFT commented on #72999
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-30 23:27] mandalorianbob opened #73041 "VM Contents too Vague"
So I get -

The problem is, I have no idea what that means. Specifically, I'd like to know what SDKs come installed by default. (Since it's _very sadly_ not simply _all_ Windows SDKs)

I get that maybe this page itself can't have that info - because it changes - but if that information lives anywhere, I'd appreciate getting a pointer to it.

---
#### Document Details

⚠ *Do not edit this section.

[2021-03-30 23:29] JamesTran-MSFT commented on #72729
@hpsin
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-30 23:29] #72889 closed

[2021-03-30 23:36] Oury-MSFT commented on #72942
@codemaker Please let us know if you have any questions or if the issue can be closed

[2021-03-30 23:38] bwren commented on #72726
From the engineering team - The gateway is just a forwarding proxy, thus it doesn’t store any data. It’s only there to facilitate connection between agents and LA endpoints in the case of closed / on-prem networks. So once the agent establishes connection / trust with LA it follows the same encryption flow with or without the Gateway. I.e data is always encrypted (TLS 1.2) on the client side via a

[2021-03-30 23:38] #72726 closed

[2021-03-30 23:44] Karishma-Tiwari-MSFT commented on #73002
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-03-30 23:46] Karishma-Tiwari-MSFT commented on #73019
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-30 23:49] Oury-MSFT commented on #72809
@stevestein I cannot see the line of code connection.connect(); customer is referring to this [document](https://docs.microsoft.com/en-us/azure/azure-sql/database/connect-query-nodejs?tabs=windows). Could you please check if that needs to be added.

[2021-03-30 23:51] rconiv commented on #65463
I had found this same thing on another page.  This request was almost 5 months ago, is the author still with the company?

[2021-03-30 23:55] rafaelhfarias commented on #61603
I'm having some trouble understanding what my issuerUrl should be.
To do the test with samltestapp2 my TechnicalProfile the value of IssuerUri should be "https://samltestapp2.azurewebsites.net/Metadata"?

What does the identifierUris and samlMetadataUrl value in the app manifest have to be?

[2021-03-31 00:02] JamesTran-MSFT commented on #65463
@rconiv
Thanks for pointing this out! I've reached out to the our content authors directly regarding the PR I made and will update as soon as possible.

[2021-03-31 00:10] khharper opened #73042 "Customize claims in token invalid signing key"
After following the directions here https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping#custom-signing-key and trying to use an oauth2 token from my app. My requests return 401 unauthorized  with a massage saying the token is invalid: error="invalid_token", error_description="The signature is invalid" . There are no directions on exactly how to set up th

[2021-03-31 00:18] HannahZhuSWE opened #73043 "Misleading link: Customize authentication and authorization in App Service (Authentication and authorization in Azure App Service and Azure Functions Article)"
I found that the paragraph "Calls from a trusted browser app in App Service to another REST API in App Service or Azure Functions can be authenticated using the server-directed flow. For more information, see Customize authentication and authorization in App Service." was misleading because I thought it had meant the link was for more information on authenticated calls from an app in App Service t

[2021-03-31 00:51] jzhouw opened #73044 "Need clarification of how to get start time and timesample in a manifest"
in a manifest, where to get the <start time in the manifest> and timescale? (there're several timescale with different values in below manifest)

below is a manifest file from our asset:

`<?xml version="1.0" encoding="UTF-8"?><SmoothStreamingMedia MajorVersion="2" MinorVersion="2" Duration="283333" TimeScale="1000"><StreamIndex Chunks="34" Type="video" Url="QualityLevels({bitrate})/Fragments(vide

[2021-03-31 00:53] Karishma-Tiwari-MSFT commented on #72987
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-31 01:19] nickQuant commented on #72750
Hi James - thanks for the quick follow up.  I've tried again and am still not getting the assertion signed.

![image](https://user-images.githubusercontent.com/42654084/113076201-4509b080-921a-11eb-85da-3007ff75750b.png)

The metadata for the service is at https://laminarcap.b2clogin.com/laminarcap.onmicrosoft.com/B2C_1A_signup_signin_SAML/samlp/metadata.  The SP section of the metadata has WantAs

[2021-03-31 01:42] Norafify89 commented on #72922
Hi @JamesTran-MSFT,

Thank you for reply my message. I still don't have the environment yet because we're at preparing the ADDC server stage. Now I just want to understand about the account and permission before we start the installation. My customer have query to change the password for AD DS Connector account and move it to another OU not in Users OU. Same goes with Azure AD Connector account, t

[2021-03-31 03:01] Svijay-msft commented on #72684
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2021-03-31 03:19] kp2017 commented on #61790
I think the issue is caused by the token for the template expiring before the pipeline can access the file. You can verify this by trying to go to the template after the pipeline deployment fails.

[2021-03-31 03:37] ram-msft commented on #72998
@IgnacioAlvarezArenas Thanks for the feedback! We will review and update accordingly.

[2021-03-31 03:39] ram-msft commented on #73031
@danabrash Thanks for the feedback! We will review and update accordingly.

[2021-03-31 04:38] AjayKumar-MSFT commented on #73021
@mdddev, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-31 04:41] AjayKumar-MSFT commented on #73043
@HannahZhuSWE, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-31 04:42] AjayKumar-MSFT commented on #73044
@jzhouw, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-03-31 04:43] VikasPullagura-MSFT commented on #73022
@jdanton
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-31 04:43] VikasPullagura-MSFT commented on #73022
@MashaMSFT
Can you please check and add your comments on this doc update request as applicable.

[2021-03-31 04:52] sachinpanwar opened #73047 "Sample payload for "Log alert for Log Analytics" example is not complete"
The sample payload is not complete in the first example. It doesn't have schema id like the second example for "Log alert for Application Insights".
https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/alerts-log-webhook#log-alert-for-log-analytics
![image](https://user-images.githubusercontent.com/11601385/113091855-72e6f900-920a-11eb-9840-25d1e4b8dd20.png)

Second example - Log alert for

[2021-03-31 04:55] SwathiDhanwada-MSFT commented on #73047
@sachinpanwar Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-03-31 05:19] VikasPullagura-MSFT commented on #73032
@rp-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-31 05:19] VikasPullagura-MSFT commented on #73032
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2021-03-31 05:22] peter-bertok commented on #72812
I'm looking for an ARM Template, PowerShell is for some things, but it's
not a viable solution for many scenarios.

On Tue, Mar 30, 2021 at 9:40 AM Lauryn Gayhardt ***@***.***>
wrote:

[2021-03-31 05:28] SnehaAgrawal-MSFT commented on #72469
@sameer-kumar Thanks! Your feedback has been shared with the content owner for further review.

[2021-03-31 05:56] SwathiDhanwada-MSFT commented on #72753
@bwren Can you please provide your insights on this issue?

[2021-03-31 05:59] lgayhardt commented on #67191
@sturano Sorry for the delay,  we tested with a basic .NET Core 3.1 Web App against the instructions in the doc and Application Insights with SDK version 2.15.0 and were not able to repro your issue. If you have a .NET Core 3.1 app or sample you can share where this can be reproduced please open a bug against the SDK repo: https://github.com/microsoft/ApplicationInsights-dotnet/issues/new?assignee

[2021-03-31 05:59] #67191 closed

[2021-03-31 06:13] lgayhardt commented on #57351
Closing this issue, since Michael already made the update to the doc based on this issue a while ago. Thanks!

#please-close

[2021-03-31 06:17] mykolaichuk opened #73049 "Could you please update this doc?"
We used this for automation processes and it's figured out that it doesn't work. Now debugging it.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e50dfe50-c177-f976-753b-9fa689d20f92
* Version Independent ID: 7f787259-8ce5-9ba6-8df7-58ab0b89dd5c
* Content: [Back up and recover Azure VMs with Powe

[2021-03-31 06:22] VikasPullagura-MSFT commented on #72778
@robs

There has to be a primary VMSS/AVSet node pool which will have system critical pods scheduled on it. As these pods do not have the toleration for the virtual kubelet and if manually added will be reconciled to original settings by the controller manager they need to be scheduled on VMSS/AVSet node. However for customer hosted applications, virtual kubelet was introduced essentially keeping

[2021-03-31 06:24] BakkerJan commented on #72882
@MarileeTurscak-MSFT Thanks for you answer.

I have the permissions in place.
![image](https://user-images.githubusercontent.com/38911727/113099585-770b1a80-91fa-11eb-94d8-9faf352c82a9.png)

I've tried both app and delegated permissions. Using grouptype unified would create a M365, and I only need a plain security group. ;)

I'm using this body for testing:
{
    "description": "This group is assi

[2021-03-31 06:35] KylePolansky commented on #67502
The page mentions "This article lists POP locations [...] for Azure CDN from Verizon"

I assume Front Door would be using Microsoft's CDN edge nodes. If that's the case, this issue may be related to: #54462

[2021-03-31 06:35] lgayhardt commented on #72791
@billpieper

We tested the PowerShell script itself, the script and annotation functionality still works.

![appinsights_powershell_annotation1](https://user-images.githubusercontent.com/23491583/113100177-e7d91500-91af-11eb-9952-d1558024b1d1.png)

![appinsights_powershell_annotation2](https://user-images.githubusercontent.com/23491583/113100221-f9222180-91af-11eb-9ceb-0cdf0cc0caec.png)

To narrow

[2021-03-31 06:54] codemaker commented on #72942
we can close this issue

[2021-03-31 06:55] codemaker commented on #72947
Yes, it works. My bad.  I used the wrong application ID.

[2021-03-31 06:59] KrishnaG-MSFT commented on #72893
Assigning @mumian for visibility, review and document enhancement consideration as appropriate.

[2021-03-31 07:02] SwathiDhanwada-MSFT commented on #73049
@mykolaichuk Thanks for reaching out. Can you please elaborate where you were facing issue and which section doesn't work ?

[2021-03-31 07:05] sabuncu commented on #72742
@mmacy Thank you and regards.

[2021-03-31 07:19] ddobric commented on #72920
@bandersmsft thanks for the feedback. I guess an image would be more appropriate.
It should show the banner with the limit and without limit.

[2021-03-31 07:19] AmitavaHazra opened #73050 "Technical feasibility check with stage roll out for controlling specific application"
we have federated authentication model with ADFS and we are going to use PHS. We will use stage roll out approach.
Is it possible to control stage roll out to specific application.

Example: While accessing Myapps portal user should still use ADFS for authentication while they are in stage roll out group. At same time while accessing Azure Portal , it will use PHS. Is it feasible to achieve ?

---

[2021-03-31 07:40] sandervandevelde opened #73051 "Tell something about Intel Atom processor support"
It seems there are limitations to recent Tensorflow model versions regarding the support for [Intel Atom processors](https://github.com/tensorflow/tensorflow/issues/17386).

I expect that certain (compact) versions of the exported models are able to support Atos processors. Perhaps there is a setting that helps users to prevent disappointment if the model created fails on Intel Atom processors.

P

[2021-03-31 07:43] chaisen2006 opened #73052 "Email address - For Certificate Renew Notifications"
Hi Team,

I have a CA which is not partnered with KV.
I want to understand where do I configure the Email address to get the notification.
I see we have an option to send the notification but could not find a place where to mention the email distribution list.

"Email all contacts at a given time"

Thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-03-31 08:05] meieda opened #73053 "Azure Backup WA enabled disk support"
[Enter feedback here]
According to Azure Backup VM support matrix, https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-iaas#vm-storage-support, Azure Backup starts supporting WA enabled disks (no exclusion).

then the part " Azure Backup service will automatically exclude these volumes from the snapshots. "should be updated accordingly.

The support matrix seems also outdated and s

[2021-03-31 08:08] wahyuen opened #73054 "Access Restrictions using ServiceTags for az cli"
Does az cli currently support setting access restrictions for service tags? If not, is this planned? The current documentation only seems to have a `--ip-address` property and nothing else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f

[2021-03-31 08:16] robs commented on #72778
Thank you for the info, very much appreciated.

We need windows containers :(

I'll raise any queries over on the virtual-kubelet repo if I have issues with the install.

[2021-03-31 08:16] #72778 closed

[2021-03-31 08:18] sqlkabouter commented on #50919
I'm facing issues with this right now as well. A 3rd party has to manage on-prem firewall and DNS entries to our Azure resources so I want to make sure my private endpoints have a static IP. Any changes to IP's can take ages to get through to production.

[2021-03-31 08:18] HarshitaSingh-MSFT commented on #72399
@garthoid, just checking in to see if you got a chance to look into this.

[2021-03-31 08:23] jokarl opened #73055 "ApiManagementGatewayLogs does not contain RequestBody or ResponseBody"
I have a need to see the request body being sent to our APIs to analyze usage of different options on the request body. This will simplify removing under-utilized or unused features.

I have followed the steps outlined in the linked documentation, and these are my settings applied in API Management:
![image](https://user-images.githubusercontent.com/6864214/113112750-d45a9800-9209-11eb-8235-f31885

[2021-03-31 08:25] melzayet opened #73056 "Typo - apps spelled aps"
https://docs.microsoft.com/en-us/azure/virtual-desktop/app-attach#install-certificates

You must install certificates on all session hosts in the host pool that will host the **aps** from your MSIX app attach packages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521d12-9efc-d132-176b-ca6a4ea83f16
* Version Indepen

[2021-03-31 08:26] ruffy91 commented on #52921
It is now 2021 and I am affected too by this issue. Any news?

[2021-03-31 08:28] kp2017-zz opened #73057 "##[error]Failed to download the file."
When following the instructions on this page, implementer will get an "##[error]Failed to download the file." error. The error is due to the access token timing out after a short period of time using Githubs default settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c413ca77-40c2-5ee9-2fbe-ee4334cdf496
* Version

[2021-03-31 08:31] xiopeter3345 opened #73058 "linked service token configuration is not right"
For section "ADLS Gen2 storage with linked services", if the linked service uses service principal or managed identity, the configuration should be,

spark.conf.set("spark.storage.synapse.linkedServiceName", linked_service_name)
spark.conf.set("fs.azure.account.oauth.provider.type","com.microsoft.azure.synapse.tokenlibrary.LinkedServiceBasedTokenProvider")

instead of

spark.conf.set("spark.storag

[2021-03-31 08:45] tomkerkhove commented on #72670
Can't we just change the Dockerfile example so that it no longer adds the environment variable inside the container?

The note is good, but a lot of people will be new to containers and will be doing it wrong. For example, using Docker secrets is not an option when using Kubernetes and the secrets will be baked in.

[2021-03-31 08:53] damochiz opened #73059 "hard to know how to set up name resolution for a compute instance"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-custom-dns?tabs=azure-cli

Found that this must not be nameresolved to the private IP address of the compute instance, but the private IP address of the workspace. In the description now, I don't know how to solve the name. I'd like to fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-03-31 09:00] dotnetexpo opened #73060 "Cognitive Services API always returns {"error":{"code":"404","message": "Resource not found"}}"
Hi,
I am trying to run console application for Cognitive service API and received error resource not found.

I have created a subscription key and endpoint.
selected region centralcanada

here is code that I followed from samples:

using System;
using System.Net.Http;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json; // Install Newtonsoft.Json with NuGet

namespace textspeech

[2021-03-31 09:01] SnehaAgrawal-MSFT commented on #73054
@wahyuen Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-31 09:06] aSallova opened #73061 "Wrong email adress or not possible to increase limitations?"
Is information regarding the increase of limitations for keyvault private endpoints worng?
akv-privatelink@microsoft.com is not valid anymore.

BR, Adnan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4617f3a-f1ec-41e3-71c2-11e32f6f1f28
* Version Independent ID: 4e11b140-e9a4-7bb2-1519-f00ced95e455
* Content: [Azure K

[2021-03-31 09:08] ssivas commented on #72649
Hello @beppe9000 ,  Once again thanks for your feedback, changes has been updated and would take time to reflect in Doc.

#Please-close

[2021-03-31 09:08] #72649 closed

[2021-03-31 09:31] swjai commented on #36723
Adding @msvijayn

[2021-03-31 09:38] MikeSpark opened #73062 "Follow the doc and failed to start iotedge service"
I strictly followed the document and hit error during sudo iotedge list

AzureUser@vm-lgoi3o3kntv26:/etc/iotedge$ sudo iotedge check
Configuration checks
--------------------
√ config.yaml is well-formed - OK
× config.yaml has well-formed connection string - Error
    Invalid connection string format detected.
    Please check the value of the provisioning.device_connection_string parameter.
√ con

[2021-03-31 09:56] iliaselmatani opened #73063 "Enable rsyslog listener on udp port 514"
Think that this article must be updated to instruct on how to enable rsyslog listener on port 514 udp.
On SLES12 you must manually add the following lines, probably some distributions you can just uncomment.

module(load="imudp") # needs to be done just once
input(type="imudp" port="514")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-03-31 10:06] ssivas commented on #72992
Hello @SilviaEid ,

Thanks for your feedback.

Azure AD company branding feature available in three editions— **Office 365 apps** ( includes any of paid subscriptions like O365 E1, E3, E5, F3, Microsoft Dynamics CRM Online, Enterprise Mobility Suite), **Premium P1**, and **Premium P2**.

More information, refer this article: https://azure.microsoft.com/en-in/pricing/details/active-directory/

If y

[2021-03-31 10:16] RohitMungi-MSFT commented on #73051
@sandervandevelde Thanks for the question.
@shonohs Do we have any guidance on using the exported models for processors other than the ones mentioned in the current documentation? Like, Intel Atom processors?

[2021-03-31 10:29] VikasPullagura-MSFT commented on #73056
@melzayet Thanks for pointing this out. The document is updated and changes will go live soon.

[2021-03-31 10:33] #73056 closed

[2021-03-31 10:36] RohitMungi-MSFT commented on #73059
@damochiz I think the IP address in this case should be the private address of `<workspace-GUID>.workspace.<region>.api.azureml.ms` as mentioned in how to [Find IP addresses](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-custom-dns?tabs=azure-portal)

@jhirono Could you please confirm if this is correct?

[2021-03-31 10:36] VikasPullagura-MSFT commented on #73053
@meieda
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-03-31 10:36] VikasPullagura-MSFT commented on #73053
@msjuergent
Can you please check and add your comments on this doc update request as applicable.

[2021-03-31 10:41] RohitMungi-MSFT commented on #73060
@dotnetexpo Could you please provide the link to the documentation that you are using to run the above snippet?
I think the issue is with the endpoint you are using. The endpoint is pointing to the issue token API for the bearer token and the code snippet in Main is forming the URI to the translate API call. You should ideally use the endpoint as `https://canadacentral.api.cognitive.microsoft.com/

[2021-03-31 10:56] #72684 closed

[2021-03-31 10:57] pierrejeandev opened #73065 "Healthcheck phrobe is done from 127.0.01"
Could include in the documentation that healthcheck phrobe is done from 127.0.01 and that the app must allow request from it ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20c42a13-f6cb-1e60-0438-f7f32b86a336
* Version Independent ID: 79e7dd15-24aa-2e6d-cee7-7714e1940c11
* Content: [Monitor the health of App Service i

[2021-03-31 11:16] anuraj commented on #72907
@amanmcse I tried following the docs and created one Azure Front Door for my Azure B2C. Unfortunately, I am getting a 404 page. I had a long conversation with the Azure Support team in Twitter and they asked me to ask the question in Microsoft Q&A and here the link - https://docs.microsoft.com/en-us/answers/questions/331830/unable-to-configure-custom-domains-for-azure-activ.html

[2021-03-31 11:48] SwathiDhanwada-MSFT commented on #73057
@kp2017 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-31 11:49] chull434 opened #73066 "Rest API links go to 404 pages - Azure Sql Server Data Discovery & Classification,"
[Rest API links](https://docs.microsoft.com/en-us/azure/azure-sql/database/data-discovery-and-classification-overview#use-the-rest-api) go to 404 pages - Azure Sql Server Data Discovery & Classification

Example:

- [Create Or Update](https://docs.microsoft.com/en-us/rest/api/sql/sensitivitylabels/createorupdate): Creates or updates the sensitivity label of the specified column.

---
#### Document

[2021-03-31 11:54] mattiasjback opened #73067 "Example Application should be targeting .NET Core for cross plattform compatibility"
I can't build the example app in Visual Studio for Mac 2019 since it targets .NET Framework 4.5.1.
Please migrate to .NET Core / .NET 5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 976c73ce-6915-43a0-d862-2c05465341f8
* Version Independent ID: f4f562c1-8a77-4e36-4815-14533492e52d
* Content: [Quickstart: Set up sign-i

[2021-03-31 12:02] emaborsa commented on #45105
@markusdresch I have the same problem, have you been able to fix it?

[2021-03-31 12:06] Ravivarman13 opened #73068 "Rewrite Rule behaviour when WAF enabled"
[Cause:
We see that rewrite rule for Cookie deletion works when we have WAF disabled, when we enable WAF,  as the WAF is the previous layer on technology in front of app gateway, If a request matches in WAF, it will not reach the application gateway. The Rewrite rules comes in to picture once the requests reaches application gateway. As the Cookies is matching with the rule ID the request is block

[2021-03-31 12:12] delnttda commented on #6808
The error is actually misleading. I was trying to create a keyvault with the name "kv-01-02-name-name-names". These are 24 characters. It errored on the hyphens. I took out the secrets from the ARM template, kept this same name and it worked nicely. There was something about the secrets section it didnt like but I haven't taken my time to look into it.  Again, the ARM template had references to th

[2021-03-31 12:30] ams0 opened #73069 "Existing subnet name length can exceed field validation"
When using an existing subnet whose name exceed 30 characters, the field in the portal to create/specify the subnet name returns an error. Since subnets can have up to 80 characters names ([source](https://github.com/toddkitta/azure-content/blob/master/articles/guidance/guidance-naming-conventions.md#naming-rules-and-restrictions)) this forced us to rename the subnet before creating a Databricks w

[2021-03-31 12:36] vipulsparsh commented on #73042
@khharper Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-31 12:36] vipulsparsh commented on #73052
@chaisen2006 Thanks for reaching out. We will investigate and update the thread accordingly.

[2021-03-31 12:38] xuwenjian1995 opened #73070 "help understand the delegation endpoint url."
Hi.

Could you please help me understand what I need to enter in the Delegation endoint URL on the Azure portal if i use the sample code to create an application and delegate to the developer portal? Thank you very much.

https://github.com/Azure/api-management-samples/blob/master/README.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-03-31 12:39] vipulsparsh commented on #73067
@mattiasjback Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-03-31 12:40] AnuragSharma-MSFT commented on #73066
@chull434 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-03-31 13:04] garthoid commented on #72399
Today

On Tue, 30 Mar 2021, 6:46 am HarshitaSingh-MSFT, ***@***.***>
wrote:

[2021-03-31 13:07] GitaraniSharma-MSFT commented on #72981
@rossanov , I have added the correct URL link in the PR and it should be updated soon. We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-03-31 13:07] #72981 closed

[2021-03-31 13:18] b-roconl commented on #72933
Hey Julie,

Looks like there is a max character length for adding IP address which is 4096. This doesn’t mean that there is limit of 4096 IP addresses but there is a limit to the raw number of characters that are allowed to be added. This seems to be a limitation for the portal, I’ll have to see if this limitation translates to automation as well.

***@***.***D7260E.D90FADC0]

Thanks
-Robert Conla

[2021-03-31 13:22] jwilliams45-aug opened #73071 "update-azvmss cmdlet not working"
PS /home/jwilliams45> Update-AzVmss `

Update-AzVmss: Long running operation failed with status 'Failed'. Additional Info:'VM has reported a failure when processing extension 'customScript'. Error message: "Failed to download all specified files. Exiting. Error Message: The request was aborted: Could not create SSL/TLS secure channel."
More information on troubleshooting is available at https://ak

[2021-03-31 13:25] dfatkulbayanova opened #73072 "Benefits paragraph says that Hybrid Benefit is supported, while limitations part says it is not"
[Enter feedback here]

Documentation is contradictory, benefits paragraph says that AHUL is supported while limitation part says it is not
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98de8b0f-6cc5-8d9f-6329-f1661e3dedb0
* Version Independent ID: a6eff3cd-3859-0cc1-c29b-c7ece21f6f6c
* Content: [Overview of Azure Dedic

[2021-03-31 13:31] AshokPeddakotla-MSFT commented on #73062
@MikeSpark Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-31 13:49] ScottLangham opened #73073 "My query that currently shows no errors in my product cannot be added"
I have a query that shows errors raised by the currently shipping version of my product. Currently there are no errors. It seems as the query currently has new results, the dashboard is buggy as it will not allow me to add this query as a pane and will not allow me to edit the query of an existing pane to something that currently has no results.

I think it is a bug that I am not allowed to add a

[2021-03-31 13:51] woutervanranst opened #73074 "Wording on Secure Webhook"
"As any azure customer can access all object IDs through portal, without checking the owner, anyone can add the secure webhook to their own action group for azure monitor alert notification which violate security."

seems to imply that anyone can call the secure webhook randomly without providing any token whatsoever
quite the opposite is true and intended and the wording may need to be adjusted

[2021-03-31 13:52] SaurabhSharma-MSFT commented on #73058
@xiopeter3345 Thanks for your feedback! We will investigate and update as appropriate.

[2021-03-31 13:53] sandervandevelde commented on #73051
@RohitMungi-MSFT Thanks for picking this up. Where can I find the list of currently supported processors?

[2021-03-31 14:09] ram-msft commented on #73040
@AliManouchehri Thanks for the question. We are investigating the issue and will update you shortly.

[2021-03-31 14:11] ram-msft commented on #73041
@mandalorianbob Thanks for the question. We are investigating the issue and will update you shortly.

[2021-03-31 14:19] MayankBargali-MSFT commented on #72988
@AgribotGit Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-03-31 14:24] natharatms opened #73076 "NPS Extension Advanced Configuration page is outdated"
This page dates back to July of 2018.  There are several iterations of the NPS Extension since then and at least one more registry key added to the functionality.  This key "OVERRIDE_VOICE_OTP" was noted in the release notes of 1.0.1.37 but is not documented anywhere else that I can find.  Here's the note from the release notes:

Version 1.0.1.37 of the Azure MFA NPS Extension adds the following a

[2021-03-31 14:31] amanmcse commented on #72907
@anuraj Thank you for your response. My colleague James has already escalated the issue to product team and will update the Q&A thread. Please follow that thread for updates on this issue.

[2021-03-31 14:31] #72907 closed

[2021-03-31 14:39] KranthiPakala-MSFT commented on #22610
#bf1394

[2021-03-31 14:42] Klaas- commented on #72921
@TravisCragg-MSFT fstab won't work because of the ephemeral character of the devices. You'll need to utilize cloud-init to create raid/filesystem on boot. Like you do with /mnt/ (or /mnt/resource) already. That support is baked into cloud-init. You can customize it via userdata, but I am saying you should create sane defaults for each machine -- as in here -- create a raid0 over the two nvme devic

[2021-03-31 14:46] softwarecraft commented on #72950
Fyi Qualsys endpoints were removed from doc in this commit, https://github.com/MicrosoftDocs/azure-docs/commit/d2bdcd0fed15d4504d5c09bc24494d160cc9597d#diff-45e78cbf922e7a2ed4707610e1352ec17103df7854e5feedf538e1dc7bbef280, old endpoints give HTTP 404.

[2021-03-31 14:57] JamesTran-MSFT commented on #73076
@natharatms
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-03-31 15:02] behrica commented on #31003
I have the same issue, External IP pending.

In difference to other similar cases, I do not see anything in the events. No error message whatsoever.
Can somebody tell me, where should I see the error messages precisely ?

[2021-03-31 15:02] spelluru commented on #72865
@ramya-rao-a - I have removed the reference to the "state" property, cleaned up a little, and added Track 2 SDK (.NET) code to the article. I will work with the devs to add Java, Python, and JavaScript examples. Thanks.

[2021-03-31 15:09] dotnetexpo commented on #73060
@RohitMungi-MSFT Thanks for helping. I changed endpoint as you mentioned but the issue is not resolved
private static readonly string endpoint = "https://canadacentral.api.cognitive.microsoft.com/";

 here is the link that I am following:
https://docs.microsoft.com/en-us/azure/cognitive-services/translator/quickstart-translator?tabs=csharp

[2021-03-31 15:20] BharathNimmala-MSFT commented on #72702
@thommck My sincere apologies for delay in getting back to this thread.

Apologies for the experience you are having with the document , the [troubleshooting steps](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/dns-analytics#troubleshooting) could have been more clear. Thank you for bringing this to our notice and helping us improve our Azure documentation.

Resetting config referr

[2021-03-31 15:20] #72702 closed

[2021-03-31 15:24] cephalin commented on #72833
@SandraVanDijk We don't normally support e2e content that involve other cloud providers as the scenarios they support differ from us and evolve overtime, their UIs change, etc. That said, I've tried out the scenario you described, and while I don't think 2 `client_id` will work with Google Sign-in, using same `client_id` for both frontend and backend works, with the following:

- From their docs,

[2021-03-31 15:25] cephalin commented on #72833
As we won't actually officially document the scenario, #please-close

[2021-03-31 15:27] #72942 closed

[2021-03-31 15:28] Oury-MSFT commented on #72947
@codemaker Thank you for letting us know. We are closing this issue but let us know if you need any further help.

[2021-03-31 15:28] PeterCLu commented on #72970
#assign:@sdgilley

[2021-03-31 15:29] #72833 closed

[2021-03-31 15:35] MartinJaffer-MSFT commented on #73050
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to?

[2021-03-31 15:38] zimmerab opened #73077 "Using pod-identity in c#"
I am trying to use a pod identity in my deployment yaml. I am unable to authenticate and am receiving a 404.

![image](https://user-images.githubusercontent.com/15383326/113171507-28b34700-920d-11eb-8196-773d5478a994.png)

Would love to see some sample code or examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3

[2021-03-31 15:39] kp2017 opened #73078 "Delete subscription"
I think a common question is "how to delete an azure subscription." I don't believe it can be done. Either way, this page should talk about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e76ce485-5a06-add0-76a3-b823fb6c3c7a
* Version Independent ID: af78deae-d409-6261-a817-b504965d1988
* Content: [Cancel your Azure

[2021-03-31 15:54] KrishnaG-MSFT commented on #73055
@jokarl Thanks for your comment! We will review and provide an update as appropriate.

[2021-03-31 15:59] KrishnaG-MSFT commented on #73074
@woutervanranst Thanks for the feedback.
Assigning content owner @dkamstra for visibility, review and document enhancement consideration as appropriate.

[2021-03-31 16:00] SwathiDhanwada-MSFT commented on #73073
@ScottLangham Thanks for your comment. We will review the issue and get back to you shortly.

[2021-03-31 16:07] AllanMatias opened #73079 "ASP Disk Space - quota"
[Enter feedback here]

The below part of our ASE documentation says the ASE storage is 1TB. It says also the limit for 250GB of disk space for ASP, however, I got a confirmation this limit is 500GB.

https://docs.microsoft.com/en-us/azure/app-service/environment/using-an-ase#storage

_An ASE has 1 TB of storage for all the apps in the ASE. An App Service plan in the Isolated pricing SKU has a limi

[2021-03-31 16:09] JayaChatterjee-MSFT commented on #73070
@xuwenjian1995 Thank you for the question. We will review and get back to you.

[2021-03-31 16:14] ramya-rao-a commented on #72865
Thanks @spelluru
Did we run this by @axisc?

[2021-03-31 16:18] PatrickFarley commented on #72163
I've added text to further clarify that it is the training resource endpoint.
#please-close

[2021-03-31 16:19] #72163 closed

[2021-03-31 16:27] MicrosoftGuyJFlo commented on #73015
@SanDeo-MSFT Can you provide additional details for this ask?

[2021-03-31 16:27] NavtejSaini-MSFT commented on #72765
@timsander1 Please check the Cx response and help further here.

[2021-03-31 16:29] nibaccam commented on #72665
Hi @konabuta are you asking that we clarify in the docs whether or not you can datastore that connects to an Azure Synapse Analytics SQL Pool?

[2021-03-31 16:31] AmitavaHazra commented on #73050
@MartinJaffer-MSFT , Please refer below doc.
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-staged-rollout

[2021-03-31 16:32] timsander1 commented on #72765
Hi @ankku, we're happy to help with this. This is not an issue with the documentation. For technical troubleshooting could you please either:

-  post the question here: [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html)
- file a support ticket

Thanks!

[2021-03-31 16:36] JamesTran-MSFT commented on #72750
@nickQuant
Thank you for the quick follow up on this!

As of right now, the only workaround for this would be to construct a SAML Metadata file and store it within a publicly addressable site (eg. blob storage or similar) and then update the Application manifest to include the samlMetadatURL reference.

If you have any other questions, please let me know.
Thank you for your time and patience throu

[2021-03-31 16:38] shaima-MS opened #73080 "Sign in capability to B2C apps"
Hello team,

i would suggest to add the information that guest users cannot sign in to the B2C applications, and Work accounts can do. this is because in regards for the sign in capability to the B2C apps, the document only mentioning that consumer accounts can sign in to B2C apps.

thank you so much!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-03-31 16:39] mstaessen opened #73081 "Supported Function types"
Is it written anywhere in the docs that other functions than http triggered functions are not supported?

This might need some clearing up as I was under the impression that I could use the full Azure Functions feature set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5689b389-ead5-825d-dde1-9a290bc0819f
* Version In

[2021-03-31 16:39] ameerjassim commented on #73015
Hey @SanDeo-MSFT, I'm part of the AAD Auth team and I'm a community regional lead for Device Reg.
We're getting too many questions on that topic as it is not clear and/or the verbiage is vague! we need more information on how the device joining, etc.

[2021-03-31 16:43] kromerm commented on #72966
This is a current limitation in data flows which we can add to the document

[2021-03-31 16:43] kromerm commented on #72966
#please-close

[2021-03-31 16:43] #72966 closed

[2021-03-31 16:50] tigormanmsft commented on #72571
Sorry, late responding to the comment from 6 days ago...

There is no indication that the contents of "workload.conf" contribute to the "Pre script failed for the workload" error message.

I don't have the path of the log file for this mechanism handy, but please email this error message information internally to "dbSnapshotTeam@microsoft.com" for help in resolving this issue, please?

[2021-03-31 16:53] SaiKishor-MSFT commented on #73068
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-03-31 16:53] spelluru commented on #72865
@ramya-rao-a - Yes. I discussed it with Ashish last week. I have changed the order of tabs to have Azure.Messaging.ServiceBus as the first tab. The update will go live in a few minutes. Thanks.

[2021-03-31 16:57] tigormanmsft commented on #72571
By the way, I think that the instructions for multiple ORACLE_SIDs should be the standard, even when only one ORACLE_SID is present for a VM.  This will streamline and simplify the documentation, coding, and testing.

[2021-03-31 16:57] machanth opened #73082 "here link in FAQ about purview replacing data classification does not work"
[Enter feedback here]
The policies link is not enabled that describes Microsoft retiring any products

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca439af-510f-303c-e72c-424b78ac0ac7
* Version Independent ID: 616d8cf5-1631-1179-0c59-f8b4f6c1f7bb
* Content: [Data Discovery & Classification - Azure SQL Database, Azure

[2021-03-31 17:03] Dbakevlar commented on #72566
Custom images are an expectation for our Oracle customers on Azure.  I believe this request is an important one to add to the documentation to eliminate added support requests and frustration for the customer using the feature in Azure.

[2021-03-31 17:08] SnehaGunda commented on #70547
Hi @V4A001, we're happy to help with this issue further. Because this is not an issue with the documentation. For technical troubleshooting could you please either:

* Post the question here: [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-cosmos-db.html)
* File a support ticket from the portal.

Thanks!