[2019-05-23 13:24] SvenHubert opened #31997 "Current web frameworks"
Maybe you should change "AngularJS, Ember.js, or Durandal.js" into "Angular, React, or Vue". I think that's more up-to-date. :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1333d705-7d3a-2d99-f37b-0ef96edad9b0
* Version Independent ID: c299b8e4-9e28-309e-0b75-d925aa9f4fee
* Content: [Application types for Microsoft

[2019-05-23 13:24] j-martens commented on #31975
@RohitMungi-MSFT please assign to @cartacioS .   Sabina, can you provide information to help the user here and in the article too? Thank you!

[2019-05-23 13:28] mumian commented on #31981
The PR looks good, I have signed off.

#please-close

[2019-05-23 13:29] ctahok opened #31998 "Express route encryption?"
Hello,

Is Express route traffic encrypted? As per this page yes but as per https://blogs.msdn.microsoft.com/azureedu/2016/08/24/expressroute-common-customer-questions-answered is not natively

Please clarify.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eac9e8c-d207-ba20-056f-0a7100c39383
* Version Independe

[2019-05-23 13:30] Alberto-Vega-MSFT commented on #31987
@El-Hassan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 13:32] stephen-cairns commented on #16001
Hi @jakubigla thanks for input.  I have read this a few times now (https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic) and I looked at the comments and responses from @iainfoulds  .
My understanding is the preview feature is required to be enabled and you can't simply setup UDR and FW whitelisting to achieve the same effect.
"The feature registration tells the cluster to only pull cor

[2019-05-23 13:33] Alberto-Vega-MSFT commented on #31989
@TBurda Thank you for your reaching out! Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-05-23 13:37] fedorovdima opened #31999 "Link in Next steps"
The "Deploy virtual machine extensions" link in the "Next steps" section actually points to "Use safe deployment practices" instead of "Deploy VM extensions" tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 255db119-3d96-f4de-a2bb-c90f782b883d
* Version Independent ID: f769af8b-63af-42ba-0ebc-933ade25645e
* Con

[2019-05-23 13:38] danhamlin opened #32000 "Client side access to flags"
Are there plans for a javascript client library for feature flags?  I imagine I could just expose the flags through a controller endpoint at the moment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa18f095-325a-628d-9c05-551c09f7392e
* Version Independent ID: 5db3af04-a314-24fd-6202-772aaa62a28d
* Content: [Tutorial

[2019-05-23 13:38] msrini-MSFT commented on #31990
@sundar85 , from a Traffic Manager perspective, if you delete the endpoint then the end point will be deleted. Then you need to go to you Web App and remove the binding. If the option is disabled, then you need to remove the binding from your Custom Domain which you already created.

[2019-05-23 13:42] pietersap opened #32001 "IoT Hub Quotas and throttling documentation: edge deployments for Free tier IoTHub"
Is the documentation regarding IoT Hub Quotas up-to-date regarding edge deployments under the Free Tier IoTHub?

Under "other limits", "automatic edge deployments", it says:

**20 modules per deployment. 100 deployments per paid SKU hub. 20 deployments per free SKU hub.**

When testing edge deployments in our free tier hub, we received the following error when creating our 11th deployment:

Deploy

[2019-05-23 13:43] SubhashVasarapu-MSFT commented on #31172
Could you please send those screenshots to AzCommunity@microsoft.com as i am unable to access them here.

[2019-05-23 13:44] Alberto-Vega-MSFT commented on #31977
@karlti Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-23 13:48] TranKennyK commented on #31720
Thank you! This has been resolved.

[2019-05-23 13:51] siddsachar commented on #31920
I have the exact same issue. There is a function app running on the ASE and it loses all connectivity. In the portal, I can see the status as running in the overview but none of the functions load. It also does not give any error just keeps trying to load

[2019-05-23 13:53] Alberto-Vega-MSFT commented on #31993
@vincentrenaud Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 13:59] Alberto-Vega-MSFT commented on #31987
@El-Hassan  I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-23 14:02] Alberto-Vega-MSFT commented on #32001
@pietersap Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-23 14:05] mumian commented on #31999
@fedorovdima - thanks for the comment.  The change will go live in a couple of hours.

#please-close

[2019-05-23 14:09] sundar85 commented on #31990
![TOMS1](https://user-images.githubusercontent.com/14976867/58259480-ea2ce580-7d74-11e9-8bbd-715e3858fb98.jpg)

In the image, the 1st URL is a Custom Domain name which I have mapped with the SSL certificate and I have the option to remove it. But for the traffic manager domain names, there are no such options to remove. Currently, the TM domains are not bound with the custom domain names. I manual

[2019-05-23 14:12] El-Hassan commented on #31823
It is worth to mention that edge device is Linux machine with K8 cluster.
I followed this content in order to setup: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-kubernetes

[2019-05-23 14:12] El-Hassan commented on #31987
It is worth to mention that edge device is Linux machine with K8 cluster.
I followed this content in order to setup: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-kubernetes

[2019-05-23 14:13] tedmanlee opened #32003 "Events to EventHub"
This image is slightly ambiguous
![image](https://user-images.githubusercontent.com/46348619/58259702-f57c1300-7d6c-11e9-8372-17f7da4be6fa.png)

Event Producers are sending in HTTP(S). Events to event hub are posted in HTTPS so slight conflict?

eg : POST https://your-namespace.servicebus.windows.net/your-event-hub/messages?timeout=60&api-version=2014-01 HTTP/1.1

---
#### Document Details

⚠ *Do

[2019-05-23 14:15] paratz commented on #26328
Thanks @jaykus, I’m asking for that information now, but do you know if this metric is available for Premium SSD disk which are not billed by transactions? That’s what we need to forecast moving to standard ssd. Thanks again,

From: JayKus <notifications@github.com>
Sent: Thursday, May 23, 2019 4:00 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Pablo Ratz <pablo@ratz.com.ar>;

[2019-05-23 14:17] danhamlin opened #32004 "Expand Logging Services section"
Please give some expanded guidance in the Logging Services section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b909
* Content: [Use dependency injection in .NET Azure Functions](https://docs.microsoft.com/en-us/azure/azur

[2019-05-23 14:19] Alberto-Vega-MSFT commented on #31422
@mishas23 It seems like you resolved your issue. If you still need help please feel free to let me know and also please  provide the link to the doc you are following

[2019-05-23 14:21] Alberto-Vega-MSFT commented on #24002
Hi @LisandroSu just wanted to touch base with you before closing this issue. Thanks

[2019-05-23 14:21] stephen-cairns opened #32005 "Customer Managed Node (Worker/slave) vs Azure Managed Nodes (master/control plane)"
Can I please if this article only applies to the Customer managed worker nodes (i.e. the IaaS nodes you can actually eye-ball within the portal when you stand up a cluster)?
Can I assume the Azure managed control plane/master nodes which are abstracted away from the user do not use the same network routes applied to the subnet where the AKS cluster is hosted.

---
#### Document Details

⚠ *Do not

[2019-05-23 14:22] #27715 closed

[2019-05-23 14:22] fhe-fr commented on #31872
When i right click on my device I can see only: Start Monitor C2D message and not D2C.

[2019-05-23 14:22] snehithm commented on #31176
@Jaffacakes82 Thanks for raising this. The ARM templates and this article are updated to fix this. Updates should be live by tomorrow.

#please-close

[2019-05-23 14:23] #28225 closed

[2019-05-23 14:25] snehithm commented on #29910
Hi folks,

The roll out for migration tool is happening slower than we expected. In light of this, we have extended the retirement date to August 31, 2019 to provide you enough time to migrate over.

Regards,
Snehith

[2019-05-23 14:26] snehithm commented on #29910
Docs are updated with this information.

#please-close

[2019-05-23 14:29] snehithm commented on #21885
This doc has been updated. @femsulu please close this issue.

[2019-05-23 14:31] snehithm commented on #16147
Doc has been updated. @femsulu please close this issue.

[2019-05-23 14:32] RogerDawson commented on #29910
It's taken a month to reply to this. That's pretty poor especially if it was known the roll out was running behind - a simple reply/update would have put people's mind at ease. Let's hope the migration is available for everyone's subscriptions soon.

[2019-05-23 14:32] AshokPeddakotla-MSFT commented on #31968
@dombat Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 14:33] aaronjcouch opened #32006 "Screenshots and instructions do not match"
Under the section "App-based or compliant device policy for Exchange Online and SharePoint Online"...
The screenshots for Step 2&gt; #4, #5 do not match the written instructions.  Please fix these so that we know which is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1d67eec-b53c-4bbc-b160-b3fb8fca5ff4
* Ver

[2019-05-23 14:34] cconrado commented on #16147
This took way too long to fix or report fixed. That's 8 months of people making that mistake.

[2019-05-23 14:34] AshokPeddakotla-MSFT commented on #31969
@sbiasotto Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 14:35] aaronjcouch commented on #29832
Please fix this!  The screenshots still do not match the instructions.

[2019-05-23 14:36] AshokPeddakotla-MSFT commented on #31976
@koljada Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 14:37] RogerDawson commented on #29910
I can confirm some of my subscriptions are now 'Ready to migrate.' but if I select them the 'Preview migration' button remains disabled. Is there something I'm missing?

[2019-05-23 14:38] alvaroecheverri commented on #27215
+1

[2019-05-23 14:38] darylglynn commented on #31162
@vrvrvrvrvr If you have any further questions or queries moving forwards feel free to contact josh.calladine@tig.co.uk who will be available to assist

[2019-05-23 14:40] robert4os opened #32007 "How to pass datasets info"
Great feature, but how to pass dataset information in and out?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a176f27b-f9fc-e0ff-0a48-aa42036051f2
* Version Independent ID: d2356b83-3101-4b56-baaf-8bdf31e3bb57
* Content: [Run a Databricks Notebook with the Databricks Notebook activity in Azure Data Factory](https://doc

[2019-05-23 14:43] AshokPeddakotla-MSFT commented on #31981
@ssennettau Thanks for creating the PR. @mumian Thanks for the confirmation.
@fedorovdima We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-23 14:43] #31981 closed

[2019-05-23 14:44] sshorkey commented on #30434
Use case would be for simplicity's sake... having to type a query and export to Excel and open Excel is a lot of steps compared to the "old fashioned" way of getting logs--just running "cat" on a terminal. I get that this is not supported, but it would be something I think you guys should look at. At the moment the current logging solution is overcomplicating.

[2019-05-23 14:45] AshokPeddakotla-MSFT commented on #31980
@wellsluo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-23 14:46] AshokPeddakotla-MSFT commented on #31984
@msimecek Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-23 14:47] AshokPeddakotla-MSFT commented on #31985
@msimecek Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 14:48] AshokPeddakotla-MSFT commented on #31986
@kalyanb9119 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 14:49] arsenicks opened #32008 "RHEL support for encryption"
We can read "OS and data disk*"  What is the meaning of the asterisk ? There's no definition t be found anywhere in this doc!

Does the OS AND the Datadisk is supported, if it does why there's an asterisk ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75aaea98-a087-c6d0-61cd-4a2edab37be5
* Version Independent

[2019-05-23 14:49] AshokPeddakotla-MSFT commented on #31991
@caespinosam Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 14:50] AshokPeddakotla-MSFT commented on #31994
@ilyasOne Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-23 14:54] kcrosby opened #32009 "Bug with Select nested inside a Join?"
It appears the output of the Select function is of type Microsoft.IdentityManagement.Synchronization.SyncRuleExpressions.Interpreter.Value[].  Join is expecting a type of Microsoft.IdentityManagement.Synchronization.SyncRuleExpressions.Interpreter.StringValue[].

For example:

Join(Select($pAddr,[proxyAddresses],IIF(LCase(Left($pAddr,5))="smtp:",LCase($pAddr),$pAddr)),"|")

Returns:

Unable to cas

[2019-05-23 14:54] markwaksman commented on #29862
@yairt1974 -- can you share any updates on multiple public IP support? Thanks!

[2019-05-23 14:59] AshokPeddakotla-MSFT commented on #31996
@mikeblakeuk Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 15:00] AshokPeddakotla-MSFT commented on #31997
@SvenHubert Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 15:01] AshokPeddakotla-MSFT commented on #31998
@ctahok Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 15:03] #31999 closed

[2019-05-23 15:04] AshokPeddakotla-MSFT commented on #32000
@danhamlin Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 15:04] Alberto-Vega-MSFT commented on #31414
@jishnudantu Closing this issue for now since we are going the support route. Please follow the instructions on my previous comment so we can get you some help.

[2019-05-23 15:04] #31414 closed

[2019-05-23 15:06] AshokPeddakotla-MSFT commented on #32003
@tedmanlee Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 15:06] samiam236 opened #32010 "Typo in Tip Section"
In the tip callout section on the page, this text appears, "It is now better and easier way to add..."

I assume this should read "There is now a better and easier way to add..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30fab368-8a51-14d6-1775-defa5f0ff04f
* Version Independent ID: a8fbbe3d-063a-d6c9-b61d-1ebcfca

[2019-05-23 15:07] AshokPeddakotla-MSFT commented on #32004
@danhamlin Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 15:09] AshokPeddakotla-MSFT commented on #32005
@stephen-cairns Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 15:16] msangapu-msft commented on #30330
Hi @kggayo. Thank you for your patience.
@yiliaomsft for awareness.

Multi-container feature with Docker Compose configuration is currently in preview.  We have removed Kubernetes configuration support based on customer feedback. For Kubernetes customers, we recommend Azure Kubernetes Service (AKS).

[2019-05-23 15:22] eross-msft commented on #31774
@KS76  Thank you for reaching out to provide feedback. This article is definitely out-of-date and will be updated in the next month to reflect the updated UI and info.

#please-close

[2019-05-23 15:25] msrini-MSFT commented on #31990
@sundar85 , i guess you have a active thread in MSDN for this issue. GitHub is used to provide feedback on Documentation enhancement. Please follow up on the MSDN thread to get this issue resolved.

[2019-05-23 15:27] eross-msft commented on #30055
@gkens  Thank you for your feedback. We do have end-user content for Intune, available here: https://docs.microsoft.com/en-us/intune-user-help/use-managed-devices-to-get-work-done. This section should address your questions, but if it doesn't, please make your suggestions within that area so they can make the appropriate updates.

In addition, I'll add a link to this area to the Join your work dev

[2019-05-23 15:28] iansmittie opened #32012 "Use of Blob metadata lastwritetime for action"
I copy files to blob but it is not possible to set the last modified date so instead I use a metadata property called lastwritetime. It would be useful to be able to delete blobs based on this metadata rather than daysAfterModificationGreaterThan. The lastwritetime is much older on a lot of blobs than daysAfterModificationGreaterThan meaning that files I would like to delete stay around a lot long

[2019-05-23 15:30] Rosewood99 commented on #31375
@ecfan @kevinlam1 Thanks, but that doesn't answer about self referencing a variable.  Your solution still requires two variables.  At a bare minimum I want to do this:

[code]

My concern is that so often what should be a simple single step is a convoluted multiple step process driving up the cost of Logic Apps.

Setting properties in json should be as simple as `addOrUpdateProperty(jsonObject: va

[2019-05-23 15:30] shashishailaj commented on #32006
@aaronjcouch Thank you for pointing this out . We will engage our documentation team to look into this.

[2019-05-23 15:30] shashishailaj commented on #32006
@MicrosoftGuyJFlo Could you please look into the issue and make changes as needed.

[2019-05-23 15:32] shashishailaj commented on #32008
@arsenicks Thank you for your query. We will have this checked and update the thread.

[2019-05-23 15:34] shashishailaj commented on #32009
@kcrosby Thank you for your query. We will investigate and update this thread.

[2019-05-23 15:35] xSilverboltx opened #32014 "limitations update"
Need to make it clear for the customer that the cluster needs to be created as a vmss cluster in the limitations section to use this feature.

Also add statement in the Enable the cluster autoscaler on an existing AKS cluster section stating the same and linking if you get the following message "AgentPool 'agentpool' has set auto scaling as enabled but is not on Virtual Machine Scale Sets"

Please

[2019-05-23 15:38] lucasmaj opened #32015 "Each instance of stateful service (.net core) on Linux cluster takes at least 250MB of temp storage."
Loved the recommendations here until I came to realize a serious limitation of Linux Service Fabric cluster. I experienced situation where every single instance of .net core stateful service takes at least 250MB of temp disk storage on Linux. Managed to fit only ~320 services on D2v2. The service is just stock starter template from Visual Studio. Windows cluster does not have that problem and can

[2019-05-23 15:40] #31278 closed

[2019-05-23 15:42] ivratche opened #32016 "Hardware requirements hard drive disk for remote SQL"
Can you clarify if the hard disk size for SQL are only applicable for a local SQL installation? What about remote SQL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Independent ID: 63adb39a-c4fa-92bb-480d-59bee8e2dc24
* Content: [Azure AD Connect: Prerequisites and hardwa

[2019-05-23 15:42] shashishailaj commented on #31694
@frehnejc We have updated the same and it will be updated in the next 24-48 hours maximum as per next release cycle. We will close this issue now.

Thank you.

[2019-05-23 15:42] #31694 closed

[2019-05-23 15:43] chaosmail commented on #25007
It might be interesting for someone that [`EventData.Properties`](https://github.com/Azure/azure-event-hubs-dotnet/blob/81a4263e4d06c30ce7290dc88b51bbadc35c3184/src/Microsoft.Azure.EventHubs/EventData.cs#L54) from the .NET SDK is also available in the Python SDK under the `EventData.application_properties` property. Hence in the Python SDK one needs to write something like the following for dynami

[2019-05-23 15:46] shashishailaj commented on #31700
@frobnitzz We are engaging the author for checking the same.

@cmmdesai Could you please help in reviewing this and answering the query with proper details ?

Thank you.

[2019-05-23 15:48] softchris opened #32018 "Tutorial can be shortened"
The extension in VS Code has templates for Orchestrator functions and activity functions. Think this tutorial could be shortened if those were used in the example above instead of generated HTTP functions and replacing their content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bc8fe9b-d51f-7858-8989-c37699a98a62
* V

[2019-05-23 15:48] shashishailaj commented on #31784
@linruhui I am still trying to get this checked and will take some more time to reply on this. thank you for your patience on this one.

[2019-05-23 15:51] caespinosam commented on #31991
This is what I get when I call GET /api/speechtotext/v2.0/transcriptions:
{
        "recordingsUrl": "https://xxxaccount.blob.core.windows.net/xxxxxcontainer/simple.wav?sp=r&st=2019-05-22T12:47:06Z&se=2019-05-22T20:47:06Z&spr=https&sv=2018-03-28&sig=xxxxxxxxxxx%2F5OME%3D&sr=b",
        "resultsUrls": {
            "channel_0": "https://spsvcprodneu.blob.core.windows.net/bestor-xxxxxxx/Transcriptio

[2019-05-23 15:53] j-martens commented on #26076
Thanks to all who have posted here. I've added a defect to our documentation backlog to provide the following guidance if the 300MB error is encountered for snapshots:

Where to specify snapshot_directory=None and include an example.

Explain that users should put their scripts and the dependency files in a subdirectory and specify that directory as the source_directory. If there are bigger data f

[2019-05-23 15:54] Mike-Ubezzi-MSFT commented on #31352
@jssanta96 Let me investigate.

[2019-05-23 15:55] ColbyTresness commented on #32018
It's in progress.

[2019-05-23 15:56] PramodValavala-MSFT commented on #31958
@jtmilne The runtime receives messages in [PeekLock mode](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#trigger---peeklock-behavior) and by default, [`autoComplete`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.messagehandleroptions.autocomplete?view=azure-dotnet#Microsoft_Azure_ServiceBus_MessageHandlerOptions_AutoComplete) is `tru

[2019-05-23 15:57] Mike-Ubezzi-MSFT commented on #29405
Doc enhancement has been merged. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-23 15:57] #29405 closed

[2019-05-23 15:59] rabrahamOpti opened #32019 "HTML anchors and links would be helpful"
Could HTML anchors and links be added to the context variable section to make it easier to navigate?

For example: When I look at Context.Request and see it has a property called Body of type IMessageBody, it would be handy to be able to click on IMessageBody and be navigated to where it is described below.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-05-23 16:03] kobulloc-MSFT commented on #31942
@davekats We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-05-23 16:03] #31942 closed

[2019-05-23 16:10] BhargaviAnnadevara-MSFT commented on #32000
@danhamlin I am assigning this issue to our Product PM to evaluate and update as appropriate.

[2019-05-23 16:11] jtmilne commented on #31958
This is very helpful. Thank you. I had `autoComplete` set to false in a node implementation, which apparently is not supported. Appreciate the quick response!

[2019-05-23 16:12] YutongTie-MSFT commented on #23251
@tchristiani Hi Terry, sure.

[2019-05-23 16:14] YutongTie-MSFT commented on #31720
@TranKennyK
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-23 16:14] #31720 closed

[2019-05-23 16:19] kobulloc-MSFT commented on #31818
@spacecat I would look at [Debug across multiple services](https://docs.microsoft.com/en-us/azure/dev-spaces/multi-service-netcore-visualstudio#debug-across-multiple-services) and [Automatic tracing for HTTP messages](https://docs.microsoft.com/en-us/azure/dev-spaces/multi-service-netcore-visualstudio#automatic-tracing-for-http-messages) to see if that gives you what you need to troubleshoot in yo

[2019-05-23 16:31] ChiragMishra-MSFT commented on #32007
@robert4os Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-05-23 16:31] j-martens commented on #25637
@YutongTie-MSFT - please assign to new PM, @vijetajo

[2019-05-23 16:32] j-martens commented on #22716
This issue is still active and being tracked by engineering to add clarity around this. Thanks for your patience.

[2019-05-23 16:42] MPenny-nCipher opened #32021 "Unable to upload key when using 'Az' module"
Step 5 no longer works when using the 'Az' module if no existing application or user permissions exist on the Key Vault.

Context: Uploading a key transfer package (BYOK) to a tenant for use with AIP. AIP has not yet been installed or configured.

Previously, when using BYOK with the old 'AzureRM' module, it was possible to upload a key transfer package to Key Vault without any dependent applicati

[2019-05-23 16:45] MicahMcKittrick-MSFT commented on #32010
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 16:46] MicahMcKittrick-MSFT commented on #32014
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 16:46] MicahMcKittrick-MSFT commented on #32015
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 16:47] AliviaB opened #32022 "Parameter support for days to keep the file"
Hello team,
I am using this template to clean blobs inside a storage container and I wanted to use a pipeline parameter to be used as retention days for the file. But it was not allowing me to use it that way and giving me syntax error. My parameter was int type and I have cascaded the pipeline parameter to set value to dataset parameter. Can you please let me know what is the reason. If adddays f

[2019-05-23 16:50] rezasherafat commented on #31196
Last Will for devices connecting over MQTT will be send over the same topic as other telemetry from the device (you can read more about this [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#using-the-mqtt-protocol-directly-as-a-device)).

The effect of this is that service-side AMQP clients can receive device's Will message just like any other message through the same mec

[2019-05-23 16:53] Adam-Smith-MSFT commented on #32012
@iansmittie Thanks for providing your feedback, I'd highly recommend posting the feedback in https://feedback.azure.com/forums/217298-storage , this channel is directly monitored by the product group.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-23 16:53] #32012 closed

[2019-05-23 16:56] 13daysaweek opened #32024 "Filters?"
The documentation on this page mentions filters and it appears filters can be set in the Azure portal, however I haven't yet seen any documentation on how to use filters.  Can this page be expanded to include documentation on filters, or a link to any existing documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-05-23 17:00] MicahMcKittrick-MSFT commented on #32010
@samiam236 great find! I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-05-23 17:00] #32010 closed

[2019-05-23 17:06] MicahMcKittrick-MSFT commented on #31996
@mikeblakeuk I don't see any issues by looking at the section.

Do you have any screenshots you can share that help better explain? Or what the value should be?

[2019-05-23 17:07] porrascarlos802018 opened #32026 "No information for users on how to do the things"
B is designated as a Resolution virtual network
how is this done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45e46665-a97e-8ea2-8180-47911bfa1b70
* Version Independent ID: 959ba230-0023-70d0-4b91-c17c5dbedc16
* Content: [Scenarios for Azure DNS Private Zones](https://docs.microsoft.com/en-us/azure/dns/private-dns-s

[2019-05-23 17:07] himanshusinha-msft commented on #32022
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-05-23 17:08] bandersmsft commented on #11685
Fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/76907.
FYI to @sychevlgor and @tvuylsteke
#please-close

[2019-05-23 17:08] #31849 closed

[2019-05-23 17:12] sdgilley commented on #31930
Thanks so much for catching this.  I've updated the doc to add the definition.

#please-close

[2019-05-23 17:14] YutongTie-MSFT commented on #31930
@sdgilley Thank you. @royshea  We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-23 17:14] #31930 closed

[2019-05-23 17:21] TylerMSFT commented on #31949
@syyang18 - this is because you are not whitelisted. The setup instructions and the tutorial call out that before you can proceed you need to purchase a minimum of 4 Azure Red Hat OpenShift reserved application nodes. See https://docs.microsoft.com/en-us/azure/openshift/howto-setup-environment#purchase-azure-red-hat-openshift-application-nodes-reserved-instances for details.
#please close

[2019-05-23 17:23] MicahMcKittrick-MSFT commented on #31980
@ramankumarlive @sptramer can either of you help correct the doc? I created a pull request but the script is stored in a different repo.

[2019-05-23 17:23] MicahMcKittrick-MSFT commented on #31980
CC @cynthn

[2019-05-23 17:24] MicahMcKittrick-MSFT commented on #31978
@andrePKI I don't see why it wouldn't apply to other versions of windows.

Are you seeing an error?

[2019-05-23 17:26] MPenny-nCipher commented on #32021
Update to the issue:

As the owner of the tenant, I would assume as I created the Key Vault then I would have full permissions. This doesn't appear to be the case. It is necessary to add my tenant owner account to the Key Vault 'access policy' with full permissions. Once this is done, I can then upload the BYOK key package.

This seems counter intuitive. Surely as owner of the tenant and creator o

[2019-05-23 17:26] MicahMcKittrick-MSFT commented on #31971
@DaveZimmermann based on my understanding, the limitation is still there if you are under a CSP subscription.

@MashaMSFT can you please confirm?

[2019-05-23 17:27] roygara commented on #31959
@Cloudmersive Hi,

FYI, the cmdlets in this article are using /mnt but they should not be, and we're currently working on an updated version of this article without /mnt as the mount point.

See here: https://github.com/MicrosoftDocs/azure-docs/issues/30890

1.) The single line command to mount a file share was not removed, it's still in the article, and it works provided you created your director

[2019-05-23 17:28] pwl-kdk opened #32027 "Can consumer see cost information?"
Can the consumer see the raw Azure costs of running the managed application?  Ideally, the consumer would NOT be able to see the costs so the publisher could have full control over the pricing scheme (and the consumer would not be able to work out the margin/markup)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b519db

[2019-05-23 17:31] sjyang18 commented on #31949
I don't accept this to be closed. Either update the AZURECLI to produce the right warning or error:
How can customer figure out the issue from this output from azurecli?:
The supported api-versions are '2018-09-30-preview'. The supported locations are 'eastus, eastus2, westus, westus2, westcentralus, southcentralus, centralus, westeurope, northeurope, uksouth, ukwest, francecentral, canadaeast, ca

[2019-05-23 17:33] jackhorton opened #32028 "Diagram is difficult to read in Dark theme and impossible to read in High Contrast theme"
The diagram in the Overview section uses black text with a transparent background, so when the background is dark, its difficult to read.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba2cabc2-452f-089d-c46c-638cf14c1d26
* Version Independent ID: 84007965-c811-df66-2ae0-5811f933c0dc
* Content: [Daemon app calling web

[2019-05-23 17:38] tamram commented on #21602
Thanks, all, for your feedback and your patience. I have updated the doc and hopefully it is more clear now. Please don't hesitate to open another issue if you encounter problems.

@normesta - FYI

#please-close

[2019-05-23 17:39] tamram commented on #30872
@aszalacinski - Thanks for your feedback. I have updated the doc. Please don't hesitate to open another issue if you encounter problems.

@normesta - FYI

#please-close

[2019-05-23 17:41] vladvino commented on #31889
I recommend opening a support case or posting with repro steps to https://aka.ms/apimso.

[2019-05-23 17:41] MarileeTurscak-MSFT commented on #31830
Hi @anwarmahmood1 please post this question to MSDN if you consider this to be a product question. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

If there is something you want added to the docs can you specify what that would be?

[2019-05-23 17:41] swagkulkarni opened #32029 "Istio pilot pods in pending state"
I have deployed a single node AKS cluster and installed Istio on it. After install when I look at the number of running pods, its showing the pilot and policy pods in "PENDING" status.

NAME                                     READY   STATUS      RESTARTS   AGE
istio-citadel-7f699dc8c8-fpjw4           1/1     Running     0          103m
istio-galley-649bc8cd97-n88kt            1/1     Running

[2019-05-23 17:42] andrePKI commented on #31978
You can’t connect to a Windows 7, 8.1 or 10 via the serial console. It is not clear from the article.

Met vriendelijke groet,
André Hoekstra

[2019-05-23 17:42] mgrabarz commented on #30062
@CorryH  Check following policy snippet - works in my case: https://gist.github.com/mgrabarz/79a41a599c699b49efd8fa6d4e27b785

Before you use it, please enable Managed Identity support in your APIM.

[2019-05-23 17:43] TylerMSFT commented on #31949
The CLI is being updated to provide a clearer error.
Being whitelisted for the preview doesn't whitelist you for GA.
From a documentation perspective, I can't help you further. Recommend you talk to support about migrating a cluster from preview to GA. I'll ask someone from the product team to touch base with you on this thread if there are further questions.

[2019-05-23 17:43] rwike77 commented on #31513
@jeking3, you could make HTTP calls against the REST APIs using Python:  https://docs.microsoft.com/en-us/graph/api/resources/application?view=graph-rest-beta  Hope that helps.

[2019-05-23 17:48] MicahMcKittrick-MSFT commented on #31978
@andrePKI ah okay I see. I was assuming you were meaning the commands would not work. But I see its the portion on actually using the serial console.

I don't see any limitations in the Serial Console Docs either

https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/serial-console-windows

@Deland-Han can you take a look at this?

[2019-05-23 17:49] rezasherafat commented on #31892
@lciocci, the exception trace shows the client cannot reach our streaming gateway endpoint. The URL is passed in during streaming handshake but you can also find it in Azure portal of your Hub in the "Overview" tab and under "Device streams" endpoints.

Based on your description can you confirm that the streaming endpoint is in fact accessible _from the device_ over port 443 (e.g., there are no fi

[2019-05-23 17:52] MicahMcKittrick-MSFT commented on #32029
@swagkulkarni please provide us with the link to the doc you are following so we can better assist.

[2019-05-23 17:52] Darko-git commented on #31797
Just a note that "JSON + API version" applies to ARM templates as well, so that is not sufficient.

[2019-05-23 17:52] alvipeo commented on #27693
Yes, I need the same. Pics here https://docs.microsoft.com/en-us/azure/app-service/environment/network-info#network-security-groups do NOT help at all!

[2019-05-23 17:54] TravisCragg-MSFT commented on #32026
@porrascarlos802018 This can be done at any time. You can do this while creating the [DNS Private Zone](https://docs.microsoft.com/en-us/azure/dns/private-dns-getstarted-powershell#create-a-dns-private-zone) or add a registration network to an [existing DNS zone using examples 3 and 4](https://docs.microsoft.com/en-us/powershell/module/az.dns/set-azdnszone?view=azps-2.1.0#examples).

We will now p

[2019-05-23 17:55] swagkulkarni commented on #32029
Here is the doc that I am following:
https://docs.microsoft.com/en-us/azure/aks/istio-install

[2019-05-23 17:56] #30335 closed

[2019-05-23 17:57] kevinlam1 commented on #31375
Thank you for sharing your feedback. I used a variable as a means to create the object with, but you could have replaced the initial @variable() reference with a direct reference to the output of the action that you are manipulating so you don't need an intermediary variable.
Regardless, I hear your feedback which is to make it easier to do these types of manipulations in Logic Apps. We recently r

[2019-05-23 18:03] lciocci commented on #31892
Yes, the simulated device can access that url over port 443. The issue seems to be that this works fine for a while but then will begin to fail. I modified the device proxy PoC to dump out some details as it instantiates and then closes the websocket and/or local tcp client connections. Once the websocket and tcp client closes the device then goes back into a wait state.  At this time the method R

[2019-05-23 18:03] BryanTrach-MSFT commented on #31995
@rokonec Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 18:07] #31811 closed

[2019-05-23 18:07] AshokPeddakotla-MSFT commented on #31811
@cdomotor I have created a [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/77721) to address this issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-23 18:11] iainfoulds commented on #32014
Sorry you ran into issues, @xSilverboltx

The very first 'Before you begin' section states:

It also shows how to register the _VMSSPreview_ feature flag that's required to create clusters that use virtual machine scale sets in order for the cluster autoscaler to function.

Virtual machine scale set support is currently in preview and will become the default behavior soon. At that point, this pote

[2019-05-23 18:14] MicahMcKittrick-MSFT commented on #32005
@stephen-cairns I am not fully understanding the ask here. Could you elaborate a bit for me?

[2019-05-23 18:15] MarileeTurscak-MSFT commented on #32028
@jackhorton
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-23 18:16] MicahMcKittrick-MSFT commented on #32029
Thanks for that! @jakaruna-MSFT will take a look shortly and provide any updates.

[2019-05-23 18:19] #32014 closed

[2019-05-23 18:21] MicahMcKittrick-MSFT commented on #31979
@andrePKI we can work off the other issue you opened. For this one, it works for the majority of OS's so we would like to leave this specific doc as is. Your comment will remain on this doc though so if others come and comment we can always reconsider.

[2019-05-23 18:21] #31979 closed

[2019-05-23 18:24] MartinJaffer-MSFT commented on #30160
Ideally that could look like a Validation activity using an HTTP or Rest dataset.  I have not tried it before.  Today's workload looks busy, so I probably won't get to try it this week.

As for starting the entire process over again...
If I recall correctly, an Execute pipeline activity is prohibited from calling itself.  However, I have a hunch that
PipelineA -> PipelineB -> PipelineA -> Pipeline

[2019-05-23 18:26] MicahMcKittrick-MSFT commented on #31869
@Velmurugan-n

-	How is the pricing different from Gen 1 VM’s?
**There is no difference in pricing between Gen1 & Gen2.**
-	What all regions is the Gen2 VM’s in public preview?
**All Regions**

[2019-05-23 18:27] YutongTie-MSFT commented on #31478
@tomygrenier
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-23 18:27] #31478 closed

[2019-05-23 18:30] Lucretius opened #32031 "Response samples for account create command"
It would be very helpful to know exactly what the output of running `az account create` is so that the response can be parsed via a script without having to run the actual command first.  Something like was done with the section further up the page:

"Azure responds with a list of enrollment accounts you have access to:"

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-05-23 18:33] brjohnstmsft commented on #31995
@BryanTrach-MSFT You can assign this to me.

[2019-05-23 18:33] KranthiPakala-MSFT commented on #32003
@tedmanlee Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

@ShubhaVijayasarathy There is slight conflict in the document regarding "HTTP" & "HTTPS", including the image pointed by the customer. Could you please take a look at this issue.

[2019-05-23 18:38] taromielnaz opened #32033 "ShutDown"
What is the use of "Shut down the machine before beginning failover"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9814de5d-d6e2-463d-f4b9-dffa577daec3
* Version Independent ID: 577fe16b-ce8a-8a73-b040-a9ba9abfe35b
* Content: [Fail over and reprotect Azure VMs replicated to a secondary Azure region for disaster recov

[2019-05-23 18:39] kobulloc-MSFT commented on #32024
@13daysaweek Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-05-23 18:41] kgremban commented on #28693
@LeeHyeongWon Following up one more time to see if you still need more information to resolve this issue.

[2019-05-23 18:41] Ajaxsoap opened #32034 "relation "polls_question" does not exist"
migration no errors, superuser created successfully, deployed successfully but it seems that poll_question table didn't migrate at all.

app url: http://fctldcxpyapp.azurewebsites.net/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791bd216-532f-7f28-fa51-d95798397310
* Version Independent ID: 4f7ff676-e4a5-cc41-6a43-e

[2019-05-23 18:42] brjohnstmsft commented on #31995
@rokonec Sorry for the gap in the documentation. I am actually working on content to describe how to use filters with Complex Types right now. In the meantime, to answer your question, I'm going to assume that the criteria for "Deluxe Room" is meant to be an exact match on the `Rooms/Type` field, the "price" criteria is meant to be against the `Rooms/BaseRate` field, and the "city view" criteria i

[2019-05-23 18:42] Rich-Lang commented on #30931
@YutongTie-MSFT  - I don't think this was updated correctly.   If you look at the published code, it is simply missing the introduction portion of the QuickStart.  It also double lists the PreRequisites.   Furthermore, I recommend going thru the other "Change Model" topics and ensuring those read as expected.  If you'd prefer, I can open issues for each of them.

[2019-05-23 18:45] kgremban commented on #29173
@Gamecock Following up one more time to see if you noticed the pattern that led to the module name changing, so that I can try and prevent the same confusion for other readers.

[2019-05-23 18:57] SaurabhSharma-MSFT commented on #32016
@ivratche Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-23 18:57] bostonmoto commented on #15279
@wacsintegra did you ever figure this issue out or file a ticket with MS for resolution?
I am getting the same issue but actually wondering if it's a UI bug because I'm actually able to access my services via the DNS name.

[2019-05-23 18:58] awickham10 commented on #21602
Looks good!

[2019-05-23 18:58] SaurabhSharma-MSFT commented on #32021
@MPenny-nCipher Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-23 18:59] kgremban commented on #31878
@csamleong Thanks for pointing out this change

@v-stadam Can you find all the out-of-date references and screenshots and update them?

[2019-05-23 19:01] #21885 closed

[2019-05-23 19:03] kgremban commented on #31872
@fhe-fr the IoT Toolkit extension changed some of the options in their latest update. We have another issue already tracking this, and are working on updating the docs to match: https://github.com/MicrosoftDocs/azure-docs/issues/31878

Please try "Start Monitoring Built-In Event Endpoint" which replaced the device-to-cloud monitoring task.

[2019-05-23 19:04] SaurabhSharma-MSFT commented on #31901
@rolyon can you please help on this.

[2019-05-23 19:05] SaurabhSharma-MSFT commented on #31411
@VladimirKhvostov We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-23 19:05] #31411 closed

[2019-05-23 19:11] wacsintegra commented on #15279
MS would not assist on the support side and was not able to find a solution with the Azure platform.

[2019-05-23 19:16] femsulu commented on #16147
Fair feedback @cconrado . In the future, we will try to share these updates at a quicker pace

[2019-05-23 19:16] #16147 closed

[2019-05-23 19:17] CeciAc opened #32035 "Usage of tags needs to be updated."
@sharbag commented on [Thu May 23 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/354)

Terraform usage of "Tags" was changed in last versions from "tags { ... }" to "tags = { .... }" therefore this example is not working anymore.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

[2019-05-23 19:17] #11685 closed

[2019-05-23 19:17] v-stadam commented on #31878
#in-progress

[2019-05-23 19:18] #32026 closed

[2019-05-23 19:18] CeciAc commented on #32035
Hi team,
I moved this here because the user is making a suggestion on the examples
best

[2019-05-23 19:22] kartheekakkur opened #32037 "powershell script fails"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c7e08e3-26ef-4406-2a8c-ae6d76e35939
* Version Independent ID: ae8938df-a70a-a2b5-a4f4-eb2e9d120fa1
* Content: [Windows installation of Azure Security Center for IoT agent Preview](https://docs.microsoft.com/en-us/azure/asc-for-iot/how-to-deploy-windo

[2019-05-23 19:23] jlarrow opened #32038 "Obsolete Kernel qualification"
Why would your document / product advertise to support a given Linux distribution but then qualify that the kernel must be an outdated version?

For example, the current kernel for Ubuntu 18.04 is 4.18.x

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 908295a0-ead4-9061-3a60-b0e9883118e4
* Version Independent ID: 7dc47b

[2019-05-23 19:26] CeciAc opened #32039 "Sample code uses ADAL instead of newer MSAL library"
@maartenhbe commented on [Thu May 23 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/331)

The sample code uses ADAL instead of newer MSAL library, please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692d8637-4033-767b-aa29-3859f301b7b8
* Version Independent ID: de143a26-3dd6-a513-6854-604e4f68

[2019-05-23 19:29] softchris opened #32040 "how to raise the SmsChallengeResponse??"
I think it's crucial to show a demo that not only orchestrate tasks to listen for but also show how they are raised. Couldn't find anywhere the code that actually raises `SmsChallengeResponse ` and what bindings such a trigger should have?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32f10048-0374-3561-c66d-6279708b1

[2019-05-23 19:30] jeevansd commented on #29035
@watahani It will go through our private repo. So you will able to see your changes directly in the article soon. But you cannot see our private repo. Our content team will merge the changes to public repo.

[2019-05-23 19:32] KranthiPakala-MSFT commented on #32022
@AliviaB Thanks for reaching out to us, but at this time it does not look like you are referring to a document content but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.

If you have a document which you are following and if you think it needs to an

[2019-05-23 19:32] MicahMcKittrick-MSFT commented on #32035
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-23 19:33] CeciAc commented on #32039
Hi team,
I moved this here because the user is making a suggestions on the sample code
best

[2019-05-23 19:34] roygara commented on #30887
Since the fix has been merged:

#please-close.

Again, thank you for reaching out. :)

[2019-05-23 19:34] #32022 closed

[2019-05-23 19:37] dlepow commented on #31690
@igormusinov - Thanks for your questions. Based on the documentation and my informal testing, updating the `--command-line` parameter does trigger the container group (and all container instances in the group) to restart in place. Informally when I tested deployment of an Ubuntu image I saw the update occur faster than what you experienced. By monitoring the container group in the portal I found t

[2019-05-23 19:40] CHDAFNI-MSFT opened #32041 "Table of contents - limit titles are in wrong places"
Starting with Networking Limits, https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#networking-limits, and all limits underneath it are accidentally under the section "Request quota increases" when they should instead be under the 'Service-specific limits'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-05-23 19:50] bostonmoto commented on #15279
I have opened up a ticket with them and will share my feedback when I get it.

[2019-05-23 19:58] kumarallamraju opened #32042 "clarification on public vs private LB?"
[Enter feedback here]

I understand the syntax is same for private or public LB i.e. az network lb create
Since this page talks about private LB, do you meant to say "Create a private Basic Load Balancer". Just asking??

"Private Load Balancer Or "internal Load Balancer".
I think internal Basic Load Balancer makes sense...

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-05-23 20:00] kumarallamraju opened #32043 "public vs internal LB"
[Enter feedback here]

Continuation of my feedback earlier

"Private Load Balancer Or "internal Load Balancer".
I think internal Basic Load Balancer makes sense...
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec093591-c8bb-9284-7a43-97d08b7bf16e
* Version Independent ID: 21803b59-a2d1-a301-2318-8af8c333c6a3
* Content:

[2019-05-23 20:03] aljo-microsoft commented on #25098
@wasabii
As always please leverage appropriately acquired support to meet your needs:
https://docs.microsoft.com/azure/service-fabric/service-fabric-support

[2019-05-23 20:05] tedgoddard commented on #31313
This sounds like exactly what I'm trying to do: if I assign the AKS load balancer a static IP, it works fine and the cluster is visible on the internet by hostname. If I have the AKS cluster on a private network and allow it to obtain a public IP, it works fine and the cluster is visible on the internet by that IP address. I'm not able to successfully combine these two, though: have an AKS cluster

[2019-05-23 20:06] tedgoddard commented on #31313
(The test case in the referenced AKS issue replicates the problem.)

[2019-05-23 20:10] roygara commented on #30509
Since the change has been merged:

#please-close

Thanks again for reaching out, we appreciate it! :)

[2019-05-23 20:10] AlverezYari commented on #14765
Tried setting this up today and its not showing anything after 6 hrs.

[2019-05-23 20:13] georgewallace commented on #31841
@CKeene78 and @jlrd I have provided this feedback to the folks that own the script.  I was able to repro your issue and provided that information to them.. I will follow up as soon as I have something.

[2019-05-23 20:13] KaishM opened #32044 "Setting Security Token does nto accoutn for expiration time"
Below code does not set expiration of cached token which means at certain point, there will not be any space left for new token to be cached ?
public bool TryAdd(string securityToken, DateTime expiresOn)
    {
        if (this.cache.Get&lt;string&gt;(securityToken) == null)
        {
            this.cache.Set(securityToken, securityToken);
            return true;
        }
        return false;

[2019-05-23 20:15] georgewallace commented on #31472
@SirJewDanielBerg I have updated the docs to reflect what we discussed.

cc: @MicrosoftDocs/azure-cxp-triage

[2019-05-23 20:21] rothja commented on #32041
@CHDAFNI-MSFT That is very strange. I'm not sure how that change happened, but I'll try to fix it.

[2019-05-23 20:23] MicrosoftGuyJFlo commented on #30335
Confirmed with PG that you are correct @amasse3 doc should reflect change later today.

[2019-05-23 20:25] anas1986 opened #32045 "Create a scale set in an existing resource group"
Regarding the above topic, you mentioned in the article that you can't create a VMSS in an existing RG from the portal, but I just tried it and it worked perfectly. Is this information outdated or I misunderstand something in the article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b94c5948-acb1-e3aa-7148-6aa2278bcd

[2019-05-23 20:26] femsulu commented on #32038
@jlarrow Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-23 20:30] femsulu commented on #32031
@Lucretius Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-05-23 20:32] rezasherafat commented on #31892
the URI is in fact the websocket address of our gateway. We might need some more network traces to be able to diagnose. Let me talk to our devs and get back to you.

@vishal-gandhi and @ewertons as FYI

[2019-05-23 20:32] kevintaber opened #32047 "Resolve vs Ignore"
Under the Details blade, what's the difference between, Resolve, Mark as false positive, and Ignore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b788a968-e23a-7d7c-3d0b-6029edf512ed
* Version Independent ID: c26a3af3-c543-3da6-50c8-8b30162634f6
* Content: [Users flagged for risk security report in the Azure Active D

[2019-05-23 20:36] CalvinDale opened #32049 "Does this code work with the V2 Functions host running on .NET Core?"
The `Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProvider` 1.0.3 class does not have a `GetAuthenticationResultAsync()` method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3dc128b-0ee5-1344-0034-2fce6960daa4
* Version Independent ID: b2499482-1101-4937-7f34-ad7b9fd9fdc4
* Content: [Authenticate acce

[2019-05-23 20:37] femsulu commented on #32027
@pwl-kdk Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-23 20:44] taromielnaz opened #32050 "Lock"
If the primary VM has been protected by locks for deletion, will the process fail?
Azure Message:
The cleanup of the stale ASR resource links on the VM failed due to one of the below reasons.
      1. The resource or the resource group has 'Delete' locks or 'ReadOnly' locks and deletion of resource links failed.
      2. Azure error messages: Azure status code: Conflict. Arm error code: ScopeLocke

[2019-05-23 20:50] KranthiPakala-MSFT commented on #31816
@pwhang Thanks for reaching out to us. At this time it does not look like you are referring to a document content, but to a specific theoretical scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it need

[2019-05-23 20:51] erhopf commented on #31984
#please-close

@msimecek - Thanks for the input. We're addressing this issue in a push scheduled for this afternoon.

[2019-05-23 20:51] #31816 closed

[2019-05-23 20:51] femsulu commented on #31199
@johnwildes Sorry for the delay. just received an offline update from @sujayt that this will be updated by next week.

[2019-05-23 20:52] femsulu commented on #31198
@johnwildes Sorry for the delay. just received an offline update from @sujayt that this will be updated by next week.

[2019-05-23 20:53] taromielnaz commented on #7428
I agree with @ashutosh95, this was my problem too. I solved my problem by talking to an Azure support agent who guided me completely. If you search for site recovery in Azure there is not an integrated document for it. You need to follow different documents. The sequence of steps is not clear. Create a Vault, replication enabling and so on.

[2019-05-23 21:20] TravisCragg-MSFT commented on #32043
@kumarallamraju adding your feedback here to your original issue #32042. I am closing this one and we will continue on #32042.

[2019-05-23 21:20] #32043 closed

[2019-05-23 21:21] roygara commented on #31874
@mcurko thanks for reaching out, I'll try to help:

Basically, when you get down to the technical implementation level, yes. But there's more than enough built ontop and abstracted out that for a managed disk you really don't need to be concerned with the low level implementation details. You'd only need that if you were using unmanaged disks.

What I'll probably do here is replace this text with

[2019-05-23 21:23] rothja commented on #32041
@CHDAFNI-MSFT Thanks for the feedback. I have merged in a fix that should publish soon!

[2019-05-23 21:23] TravisCragg-MSFT commented on #32042
@kumarallamraju Thanks for the feedback! I believe you are correct, and I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-23 21:25] j-martens commented on #30403
This has been fixed. #please-close

[2019-05-23 21:27] #32041 closed

[2019-05-23 21:32] CalvinDale commented on #32049
Upgrading `Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProvider` from `1.3` to `1.2.0-preview3` fixed this issue. See https://github.com/Azure/azure-sdk-for-net/commit/25adfede2b99391c29b5913fc289ff9511c9b26d#diff-92e026c7605466ec8f0bcabaeef65eca

[2019-05-23 21:40] ishasahni1 commented on #28833
@biste5 my apologies for the churn, this link takes you to Microsoft.com site which is Licensing content. Unfortunately localization of legal content and this site is not part of our loc scope.

@tysonn can you kindly request content writer to find out the POC from CELA team who manage localization for this site.

[2019-05-23 21:46] PatAltimore commented on #31988
@0GiS0, I'm looking into this.

Which step is failing? Is it SimpleStorage.deployed().then(function(instance){return instance.get();})?

What platform did you decide to use for truffle? Windows, OS X, Linux?

Thanks,
Pat

#in-process

[2019-05-23 21:57] xMarcus opened #32055 "What happens when an authenticated app/browser changes location?"
User signs in with MFA from a trusted location (office network). (policy a)
User travels with device for a few hours then gets back online from new location/country. (policy b)
Browser session/token persists.
MFA is not forced, why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2195c05-13ee-5f82-d5dd-93a36ce0191d
* V

[2019-05-23 22:14] spelluru commented on #30803
Thank you @admin4cloud

Updated the article.

#please-close

[2019-05-23 22:15] kumarallamraju opened #32056 "suggestion to update the syntax or highlight the deprecated warning"
[Enter feedback here]
Trying this command gives me this deprecation warning

az vm disk attach -g rg1 --vm-name testvm1 --disk myDataDisk --new --size-gb 10
Option '--disk' has been deprecated and will be removed in a future release. Use '--name' instead.

Is it a good time to update the doc or highlight the possible warning?
Just asking?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-05-23 22:16] KeiroKamioka0000 opened #32057 "Does query will support the code XXX.X?"
Does query will support the code XXX.X?
As example, if customer would like to monitor the 404.X errors is it possible?
Or it must must be like xxx error instead of xxx.x??

Thanks

Example of Number of Records type log alert
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-unified-log#example-of-number-of-records-type-log-alert

Query: requests | where resultCode == "500"

The

[2019-05-23 22:21] jkonecki opened #32058 "Misleading note"
There is a note in the middle of the page saying 'The displayName cannot contain spaces.' However, the example below clearly shows a displayName with value 'Consumer Apps'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9939fc33-8762-3104-eae0-08250c508100
* Version Independent ID: 9c6fa664-df37-40aa-f46e-9e59f79ae215
*

[2019-05-23 22:23] rwike77 commented on #31492
@netapp-bcammett, thanks for the feedback.  I've updated the article.  #please-close

[2019-05-23 22:31] antogh commented on #31889
Ok I will soon open a support case in azure portal + post the issue on stackoverflow
Let's keep this GH issue  open so that other readers know there is this problem with CORS policy , at least until it's clarified. Eventually I will update this thread as I get new info.

[2019-05-23 22:33] lorenzobrito commented on #21602
Regarding to map to custom domain , i have follow the custom configuration and still not working.

[2019-05-23 22:34] FrankHu-MSFT commented on #32016
@ivratche Hey Ivra could you please clarify on what you mean by : "SQL are only applicable for a local SQL installation? What about remote SQL?"?

Per the article : "Azure AD Connect requires a SQL Server database to store identity data. By default a SQL Server 2012 Express LocalDB (a light version of SQL Server Express) is installed. SQL Server Express has a 10GB size limit that enables you to ma

[2019-05-23 22:37] MatthewUsher commented on #8182
This article is quite old and will be removed soon.

[2019-05-23 22:41] ajfleming1 opened #32060 "How to get a 2.0 token"
I receive a token for B2C using MSAL but the token version is 1.0. How can I request a 2.0 token like the one received from https://login.microsoftonline.com/{{tenantId}}/oauth2/token  ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836ec1be-7675-d0f1-c861-0520dc3ea01e
* Version Independent ID: c6a2a6f6-57fd-20ae-36f7

[2019-05-23 23:00] Adam-Smith-MSFT commented on #32049
@CalvinDale Glad you found a solution, it's also mentioned in the doc: "To use the App Authentication library in an Azure Storage application, install the latest preview package from Nuget, as well as the latest version of the Azure Storage common client library for .NET".

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will

[2019-05-23 23:00] #32049 closed

[2019-05-23 23:00] maruthigadde opened #32061 "Wrong place of the Step"
[Enter feedback here]
under section  -  Add a stateful back-end service to your application

The Step 3 -  **The next page provides a set of ASP.NET Core project templates. For this tutorial, choose API.**  this should be in the middle of the step 2 Sentences

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d03b4f-4157

[2019-05-23 23:03] iainfoulds commented on #31899
Sorry you ran into problems, @spacecat

I'm working on doc updates to reflect the latest behavior now.

#in-progress

[2019-05-23 23:09] fabich opened #32062 "Does this also work the other way?"
Is it possible to have Event Grid to send events to Service Bus?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e25005c-06da-1e87-ab0d-05f641d7e795
* Version Independent ID: 34e6baf1-71a3-bbef-05da-2923b77cf203
* Content: [Azure Service Bus to Event Grid integration overview](https://docs.microsoft.com/en-us/azure/ser

[2019-05-23 23:17] TadewosBell commented on #31950
i have loaded the most current SDK and that seems to have fixed the problem, although when i upload a phrase grammer list. The service takes a significant performance hit,  failing to recognize the words correctly and also ending each recognition prematurely sometimes only recognizing a word if it does at all. Why is this? I am going to revert back to using no phrase list, but i would love if this

[2019-05-23 23:25] rite2nikhil opened #32063 "How to Add your public SSH key for VMSS based AKS cluster"
Would the following add or update the key ?
https://gist.github.com/agolomoodysaada/1ad50f3ca4efd32d543dd9b66da12eff

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a757120
* Content: [SSH into Azure Kubernetes Service (AKS) clus

[2019-05-23 23:30] MartinJaffer-MSFT commented on #31934
I have contacted the product team and they are working on the issue.

[2019-05-23 23:39] MarileeTurscak-MSFT commented on #32058
@jkonecki
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-23 23:40] iruvetar opened #32065 "Can we deploy this example application to azure cluster instead of local cluster?"
Simply speaking, I deployed this example to Azure but couldn't see anything except the manager explorer page.
I found a closed question: https://github.com/MicrosoftDocs/azure-docs/issues/17032
In that discussion thread, seems like this page used to contain this section #deploy-the-application-to-azure
But it's gone now...feel like it would be helpful.

Can someone suggest what kind of configurati

[2019-05-23 23:43] MarileeTurscak-MSFT commented on #32058
@jkonecki good catch.

I made a pull request to change the example to ConsumerApps but will wait for @kalyankrishna1 to confirm/reject this request and state definitively which way it is.  Here is the PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/77798

[2019-05-23 23:44] MarileeTurscak-MSFT commented on #32058
I'm closing this as the PR is in the queue. CC: @kalyankrishna1 in case it needs an amendment.

[2019-05-23 23:44] #32058 closed

[2019-05-23 23:45] MarileeTurscak-MSFT commented on #31830
I'm closing this out as I suggest moving this question to MSDN.

If you have a specific doc update you would like to suggest, please open a new issue. :)

[2019-05-23 23:45] #31830 closed

[2019-05-23 23:47] MarileeTurscak-MSFT commented on #31831
@anwarmahmood1 what do you mean about including an Azure AD connector? It would need to be installed.

[2019-05-23 23:48] MarileeTurscak-MSFT commented on #31831
Please post this question to MSDN as it is more of a product question than a document question. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-05-23 23:48] #31831 closed

[2019-05-23 23:51] Mike-Ubezzi-MSFT commented on #32039
Updated doc footer from EN-US locale doc. The issue was initially filed against the NL-NL locale version.

[2019-05-23 23:52] Mike-Ubezzi-MSFT commented on #32039
@GithubMirek Is an update appropriate here? @CarlRabeler for awareness.

[2019-05-23 23:53] SaurabhSharma-MSFT commented on #31826
@ericcwk I do not think Linux is supported.  Please refer to [Prepare your environment](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-deploy#prepare-your-environment) for MFA server requirements.

[2019-05-24 00:00] SaurabhSharma-MSFT commented on #31895
@lightupdifire As per my knowledge this is not reverting is not possible. Microsoft only provides the latest AAD Connect versions for downloads to UPGRADE your AAD Connect agent. Now if you have the previous versions downloaded you would have to uninstall the current version if it is higher than the version you want to install. You can also revert to an earlier snapshot of a VM or do a restore of

[2019-05-24 00:09] Mike-Ubezzi-MSFT commented on #31352
@jssanta96 If the primary has been triggered for a fail-over event, traffic directed to the primary will be routed to the secondary. This is regardless of the connection mode:

[Creating and using active geo-replication](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-active-geo-replication)

- The [Azure portal](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-geo

[2019-05-24 00:10] SaurabhSharma-MSFT commented on #31900
@ajiljins Your $authUrl is incorrect as you need to use a tenant specific authorization endpoint for ROPC flow  like below `https://login.microsoftonline.com/{TenantId_or_Name}` . Also, 'TenantId_or_Name' parameter cannot be set to **Common**.

[2019-05-24 00:16] jwargo commented on #31193
@spelluru I've got this.

[2019-05-24 00:17] iruvetar commented on #32065
Never mind, I found the page that answers my question. I am gonna close this question.
Guess it would be nice to include this link in this page.
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-deploy-app-to-party-cluster

[2019-05-24 00:29] jwargo commented on #31193
@mceckstein thanks, I've updated the doc.

#please-close

[2019-05-24 00:42] CalvinDale commented on #32049
@Adam-Smith-MSFT Oops, I missed that instruction unfortunately. It would have saved me some time. I do have a follow-up question posted [here](https://stackoverflow.com/q/56284486/852956) on SO.

[2019-05-24 01:04] Fabian-Schmidt commented on #28720
Any update?

[2019-05-24 01:15] sajithvasu opened #32068 "SQL server cannot access storage account when firewall rule is enabled"
SQL server cannot access storage account when firewall rule on storage is enabled and SQL IP's are added to allow access. Storage is used for Vulnerability Scan logs db audit logs. It works fine when we disable firewall.
Error seen:
        "code": "BlobAuditingInsufficientStorageAccountPermissions",
        "message": "Insufficient read or write permissions on the provided storage account."

---

[2019-05-24 01:20] mike-urnun-msft commented on #32019
Hi @rabrahamOpti Thank you for your feedback! We will review and update as appropriate.

[2019-05-24 01:32] RaphaelFrancisco opened #32069 "Onboard Azure VMs Programmatically"
How can we onboard Azure VMs to the Update Management solution programmatically?
That is, enable Update Management on a VM via ARM Templates or PowerShell Cmdlets.

I have my VMs created and onboarded to my Log Analytics workspace (which has the Update Management solution), but I still have to manually enable Update Management for these VMs via Azure Portal after they are created. What I would lik

[2019-05-24 01:59] demetrioi commented on #14410
Hi folks,

Any update? issues return only 1300 rows. According to this thread the GA is late

https://social.msdn.microsoft.com/Forums/en-US/62842ed9-43ed-432d-9f0a-9979ede949ec/is-there-any-rows-limit-on-jira-connector-platformapiissues-entity?forum=AzureDataFactory

[2019-05-24 02:03] Alberto-Vega-MSFT commented on #32037
@kartheekakkur Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 02:06] mike-urnun-msft commented on #32040
Hi @softchris Thank you for your feedback! We will review and update as appropriate.

[2019-05-24 02:08] mike-urnun-msft commented on #32062
Hi @fabich Thank you for your feedback! We will review and update as appropriate.

[2019-05-24 02:09] Alberto-Vega-MSFT commented on #31727
@andremaree Since we haven't heard back from you. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-24 02:09] #31727 closed

[2019-05-24 02:12] AliviaB commented on #32022
Hi,
Thanks for the quick response.
I am referring to below doc
https://docs.microsoft.com/en-us/azure/data-factory/delete-activity.
And using azure data factory template to delete files from azure blob which
are modified more than 30 days ego. I believe this is not a scenario but a
error message with no specific reason. I thought someone should have
atleast looked into the issue and the error mess

[2019-05-24 02:13] Alberto-Vega-MSFT commented on #31415
@bhjolly Please follow the instructions in my previous message. We will be closing this issue since it is going to be taken care offline by support.

[2019-05-24 02:13] #31415 closed

[2019-05-24 02:15] oehm-smith opened #32070 "Logger type definition missing"
There appear to be required fields that aren't used in the example at https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69b44d91-f31e-b934-dbb0-fc7e69954b44
* Version Independent ID: 76a2ef76-270a-e6f9-d13a-88b04be315d7
* Content: [Initialize cli

[2019-05-24 02:17] #24002 closed

[2019-05-24 02:42] dcbrown16 opened #32071 "Document as code"
This document is missing the actual strings you would see in the code representation of the rules, i.e. feature.deny-access value="true". Can this be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32374268-b78a-4298-5e7c-589f358754e7
* Version Independent ID: 20c6c123-0666-a374-2296-76cedc518693
* Content: [Azur

[2019-05-24 02:47] mike-urnun-msft commented on #31505
@juanren Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-24 02:47] #31505 closed

[2019-05-24 02:55] femsulu commented on #32050
@taromielnaz Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-24 02:57] femsulu commented on #32057
@KeiroKamioka0000 Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-24 03:01] femsulu commented on #32069
@RaphaelFrancisco Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

@georgewallace is this do-able via runbook?

[2019-05-24 03:13] DashleenBhandari-MSFT commented on #31561
@chetan-makvana , Could you please provide the response for curl. You can run the command from the cmd :
curl localhost:PORT
We need to validate the response of HTTP pings.

[2019-05-24 03:13] femsulu commented on #31686
AFAIK, only one APP ID is supported at a time. Adding @rboucher to confirm.
This would be good feedback for consideration in a future milestone but let Rob first confirm.
Please note, you can always share feedback directly with the feature owner using [this link](https://feedback.azure.com/forums/913690-azure-monitor).

Cheers.

[2019-05-24 03:13] #31686 closed

[2019-05-24 03:20] #31472 closed

[2019-05-24 03:22] melvincanafranca commented on #31787
Thanks @SadiqhAhmed-MSFT. Happy to contribute.

[2019-05-24 03:22] MicahMcKittrick-MSFT commented on #32065
Thanks for reaching out. I will reopen and look into adding a link to the doc :)

[2019-05-24 03:41] DashleenBhandari-MSFT commented on #31561
@chetan-makvana , I can see some errors at the backend:
2019-05-24T02:42:03.708252578Z 2019-05-24 02:42:03.708  INFO 117 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/error],produces=[text/html]}" onto public org.springframework.web.servlet.ModelAndView org.springframework.boot.autoconfigure.web.BasicErrorController.errorHtml(javax.servlet.http.HttpServletRequest,java

[2019-05-24 03:57] VikasPullagura-MSFT commented on #32045
@anas1986 Thanks for the your feedback. We are investigating and will update you shortly.

[2019-05-24 03:57] VikasPullagura-MSFT commented on #32056
Thanks for the your feedback. We are investigating and will update you shortly.

[2019-05-24 03:58] YASWANTHM-MSFT commented on #30872
@aszalacinski, We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-24 03:58] #30872 closed

[2019-05-24 03:59] VikasPullagura-MSFT commented on #32061
Thanks for the your feedback. We are investigating and will update you shortly.

[2019-05-24 03:59] VikasPullagura-MSFT commented on #32063
Thanks for the question! We are investigating and will update you shortly.

[2019-05-24 04:04] YoHo-Wang opened #32072 "frontend AAD needs permission to access resources in your organization"
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-auth-aad

When I finished adding "OnActionExecuting" function and push the commit. As you mentioned, "Sign in to https://<front_end_app_name>.azurewebsites.net again. At the user data usage agreement page, click Accept.". But I tried to login the front end app, it shows the **frontend AAD needs permission to access resourc

[2019-05-24 04:06] RohitMungi-MSFT commented on #30403
@vapaunic  We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-24 04:06] #30403 closed

[2019-05-24 04:11] #31984 closed

[2019-05-24 04:17] perl-tsai opened #32073 "How to configured the NSG for Syslog vm on Azure VM ?"
How to configured the NSG for Syslog vm on Azure VM ?
If use Automatic deployment the syslog vm by default is NSG is null.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cbfa632-1612-9d5f-7f36-3128d7305f14
* Version Independent ID: 000c1405-b54f-6668-daac-ac69c97d9601
* Content: [Connect CEF data to Azure Sentinel Pre

[2019-05-24 04:20] RohitMungi-MSFT commented on #31950
@TadewosBell We are glad the current SDK worked for you. With regards to performance issues we would suggest to raise a support request through LUIS portal so the product team can receive feedback of the issues with current SDK. Please send in your query from the portal from the following links as shown in the screen shot.
![image](https://user-images.githubusercontent.com/46958063/58302468-dcc13b

[2019-05-24 04:20] #31950 closed

[2019-05-24 04:46] jakaruna-MSFT commented on #31789
@siaomingjeng is there any update

[2019-05-24 04:59] dcbrown16 opened #32075 ""Memory Percentage""
The metric named "Memory Percentage" hasn't existed for a couple of years afaik.
Here's a report of it having been phased out in 2017.
https://social.msdn.microsoft.com/Forums/en-US/28742dfb-e550-498f-b6d2-0ca717b945d0/memory-percentage-metric-missing-other-metrics-displaying-odd-names?forum=WAVirtualMachinesforWindows
I believe "\Memory\% Committed Bytes in Use" is the correct current name from w

[2019-05-24 04:59] PramodValavala-MSFT commented on #32019
@rabrahamOpti Thanks for the feedback!

@vladvino Could you share your thoughts? I can work up a PR for this if you'd like.

[2019-05-24 05:00] ManojReddy-MSFT commented on #32047
@kevintaber This is explained in detail [here](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-close-active-risk-events#close-individual-risk-events-manually). Let me know if you have any questions after going through this.

[2019-05-24 05:01] Alberto-Vega-MSFT commented on #31898
@MarekLani I'm assigning the issue to the content author to help and evaluate the feedback

[2019-05-24 05:05] ManojReddy-MSFT commented on #31997
@SvenHubert Thanks for reporting this. I have updated the doc and it will be published shortly.

[2019-05-24 05:10] msrini-MSFT commented on #31998
@ctahok , Can you check this issue which answers your question?

https://github.com/MicrosoftDocs/azure-docs/issues/26118

[2019-05-24 05:10] VikasPullagura-MSFT commented on #32045
@anas1986 Yes, we can create VMSS in an existing RG from portal. I have created it and it is successful. I am assigning the issue to Document author for making appropriate changes to the FAQ. Thanks.

[2019-05-24 05:11] yokawasa opened #32076 "service bus sessions support"
&gt; Note
&gt; Currently, trigger only works with queues and subscriptions that don't use sessions. Please &gt; track [this feature item](https://github.com/Azure/azure-functions-host/issues/563) for any further updates regarding this feature.

For the note part above in this page, by looking into the feature item in Github it looks service bus sessions is supported now.  Please confirm this and c

[2019-05-24 05:13] VikasPullagura-MSFT commented on #32045
@mayanknayar Can you please look into the issue.

The VMSS can be created in an existing Resource Group from Portal, in the FAQ's [https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#how-do-i-create-a-scale-set-in-an-existing-resource-group](url) it is mentioned as not yet possible from portal.

Can your comments and update the document as required.

[2019-05-24 05:26] #31997 closed

[2019-05-24 05:30] PramodValavala-MSFT commented on #32040
@softchris For this tutorial, the manual way of raising an event is mentioned under [`Run the sample`](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-phone-verification#run-the-sample) and you can use [`RaiseEventAsync (.NET) or raiseEvent (JavaScript)`](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-instance-management#send-event

[2019-05-24 05:34] SnehaAgrawal-MSFT commented on #31854
@bczudek Thanks for the feedback. To help you better on this suggest you to open new issue and refer a document you are following.
@StarkCaptain We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-24 05:34] #31854 closed

[2019-05-24 05:38] SnehaAgrawal-MSFT commented on #32034
@Ajaxsoap Thanks for the feedback! We are currently investigating and will update you shortly

[2019-05-24 05:39] ManojReddy-MSFT commented on #32060
@ajfleming1 Can you check what is the value of "accessTokenAcceptedVersion" in the application's manifest?  You can learn more about this property [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#manifest-reference).

Try setting the value to 2 and make sure you are reaching the V2.0 endpoint.  https://login.microsoftonline.com/{{tenantId}}/oauth2/v2.0/

[2019-05-24 05:51] wbpluto opened #32077 "The publish setting download link for China is wrong: https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-server-import-export-#prerequisites"
The publish setting download link for China is wrong:
https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-server-import-export-#prerequisites

the domain name should be **.cn** instead of **.us**

[2019-05-24 05:53] wbpluto opened #32078 "The publish setting download link for China is wrong"
The publish setting download link for China is wrong: https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-server-import-export-#prerequisites

The domain name should be **.cn** instead of **.us**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 180fa9c7-be01-fb72-8ebc-527336c7edc0
* Version Independent ID:

[2019-05-24 05:54] #32077 closed

[2019-05-24 05:54] wbpluto commented on #32077
Wrong location and comments on this.

[2019-05-24 05:56] RohitMungi-MSFT commented on #31983
@erhopf Thanks for updating the document with the correct command.
@msimecek Thanks for helping us correct the document. This change is now updated in documentation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-24 05:56] #31983 closed

[2019-05-24 05:58] markjbrown commented on #31976
@timsander1 adding Tim to this

[2019-05-24 06:01] RohitMungi-MSFT commented on #31985
@msimecek The document has been updated to use 16kHz by this [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/77755). Thanks for the feedback.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-24 06:02] #31985 closed

[2019-05-24 06:02] PramodValavala-MSFT commented on #32062
@fabich Yes. You can select `Service Bus Queue` while creating a subscription now.

![image](https://user-images.githubusercontent.com/43602528/58305978-8d363b80-7e17-11e9-99f6-1c6cdf283163.png)

You could also route events to Event Hubs and Storage Queues. Refer [this doc](https://docs.microsoft.com/en-us/azure/event-grid/event-handlers) for more information on handling events.

Please feel free

[2019-05-24 06:05] VikasPullagura-MSFT commented on #32056
@kumarallamraju Thanks for your feedback. I have created a PR and assigned it to document author for review. The document will be updated once approved.

[2019-05-24 06:07] chetan-makvana commented on #31561
Hi,
I am using windows so can't do curl. But in local I am able to browse this url http://local host:8081/admin/UI/index.html after starting jar file either using mvn or java jar.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: DashleenBhandari-MSFT <notifications@github.com>
Sent: Friday, May 24, 2019 9:12:14 AM
To: MicrosoftDocs/azure-docs
Cc: chetan-makva

[2019-05-24 06:08] chetan-makvana commented on #31561
This error is coming because in case of error it's not hlgoijg to any error page. Which is nothing related to 502 issue as per my understanding

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: DashleenBhandari-MSFT <notifications@github.com>
Sent: Friday, May 24, 2019 9:12:14 AM
To: MicrosoftDocs/azure-docs
Cc: chetan-makvana; Mention
Subject: Re: [MicrosoftD

[2019-05-24 06:08] hmayer1980 opened #32079 "Document incompatibility Durable Function V1 vs V2 - NOT USE the same Storage Account"
I have spent half a day figuring out why my V1 Durable Function does not leave the "pending" runtime state.
I have had a V2 Durable Function beforehand on this storage account and it worked fine. After some long investigation I figured out that the V2 Durable function and the V1 Durable function cannot use the same storage account (at least, when you create V2 first).
There must be some incompatib

[2019-05-24 06:10] VikasPullagura-MSFT commented on #32056
@roygara Please review the PR.

[2019-05-24 06:11] PramodValavala-MSFT commented on #31958
@jtmilne Glad we could help!

@craigshoemaker I believe there are a couple of updates we can make here

- Mention that [`autoComplete: false`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#hostjson-settings) is only useful for C#
- Include `MessageReceiver` for C# under [trigger usage](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings

[2019-05-24 06:13] lightupdifire commented on #31895
@SaurabhSharma-MSFT ,
Great that we can do restore of AAD Connect configuration, but I didn't find an article "how to restore AAD Connect configuration", maybe you can share short steps and request product team for document or I have to ask Uservoice?

[2019-05-24 06:16] lightupdifire commented on #31710
@MicrosoftGuyJFlo,
Then we have some bug i guess, we have many "Enabled" but i see they login during month period every work day, according to article, they should complete already registration, but somehow they still don't. I will go for Support ticket.

[2019-05-24 06:16] #31710 closed

[2019-05-24 06:16] lukeb1961 opened #32080 "first NOTE should be removed"
"Azure PowerShell is only available on Windows clients." This is incorrect.  The AZ module, version 2.1.0, is working perfectly well on Ubuntu for me. If you mean the old ASM thing, then you should make that FAR clearer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2700c253-d5ff-d166-7338-d9238044e210
* Version Indep

[2019-05-24 06:23] yanancai commented on #22102
@g-dupuis, for the issue of setting up input sources for test, you can find a property called Test Data Source in U-SQL project. Multiple folders are supported with a list of folder path separated by comma. For the issue of that the query outputs cannot be reached, we are looking at it.

[2019-05-24 06:25] KetanChawda-MSFT commented on #32076
@yokawasa Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-24 06:26] KetanChawda-MSFT commented on #32079
@hmayer1980 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-24 06:39] Karishma-Tiwari-MSFT commented on #31463
@lgulliver The PR has been merged.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-24 06:39] #31463 closed

[2019-05-24 06:46] Karishma-Tiwari-MSFT commented on #31103
@AdamWorkAccount Any update? Please provide the details asked in the above comment, so that we can help you better.

[2019-05-24 06:53] RohitMungi-MSFT commented on #31991
@caespinosam It looks like you have registered the webhook successfully and received a response with the recording URL that you can use.
You can use the webhooks for the following types of speech [operations](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/webhooks#supported-operations).

[2019-05-24 06:56] ChrisLopezUK commented on #31893
Thanks David. That is super helpful. Let me give that a try.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: David Coulter <notifications@github.com>
Sent: Wednesday, May 22, 2019 2:55:47 PM
To: MicrosoftDocs/azure-docs
Cc: Chris Lopez; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Microsoft.PolicyInsights/policyStates/latest/triggerEvaluation API not retu

[2019-05-24 06:57] ChiragMishra-MSFT commented on #31890
@vadakoen I am assigning the issue to the content owner to have a look.

@linda33wj Can you please take a look at it?

[2019-05-24 07:00] troyel opened #32081 "Create / Push Data Factory to GIT using API / ARM"
Hi,
Working with CI/CD using Terraform to deploy ADF and exported ARM template (from ADF) I am really missing a way to do the GUI option when connecting to GIT to push the ADF content to the GIT repo. Is there any way to do this without the GUI? I.e. to connect and import a deployed ADF to a new )or overwrite) existing GIT repo. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-05-24 07:06] gishu opened #32082 "Endpoint configuration information is incorrect"
The page mentions specifying the endpoint without protocol/port in the config file.

On the contrary, i could only get it to work by specifying the endpoint as
"config.endpoint": "wss://msgraph.gremlin.cosmos.azure.com:443/gremlin"

This is also the way the endpoint is specified in the associated git repo. I'm using the gremlin npm package v3.4.1.

---
#### Document Details

⚠ *Do not edit this se

[2019-05-24 07:08] SogoGolf opened #32083 "expand example to include PowerBI embedded"
thanks for this great intro example, really helpful. would it be possible to add a new section, that show how this report can be displayed in an iOS and Android app (using PowerBI Embedded) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db43c478-6301-7b69-131a-c4289797c49d
* Version Independent ID: 5f991bdb-919e-f712

[2019-05-24 07:11] Karishma-Tiwari-MSFT commented on #28080
@benwhittaker Any update? Did that help?

[2019-05-24 07:11] ehrnst commented on #31711
OK. thanks alot. It's more clear now (the docs describing it as well)

[2019-05-24 07:11] #31711 closed

[2019-05-24 07:15] SadiqhAhmed-MSFT commented on #32078
@wbpluto Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-05-24 07:20] SadiqhAhmed-MSFT commented on #32075
@dcbrown16 Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-05-24 07:21] AshokPeddakotla-MSFT commented on #31361
@AlexGalvarez As Arpita mentioned, this will work with 1.5.0 version. Also, please see known issues [here](https://github.com/Microsoft/AzureStorageExplorer/releases/tag/v1.5.0). I don't see an option to downgrade. The best you can do is un-install the existing version and install v1.5.0  version.

[2019-05-24 07:22] avinashchadalavada commented on #31821
hi @AshokPeddakotla-MSFT  and @PRMerger13 can i get any update on this

[2019-05-24 07:23] SadiqhAhmed-MSFT commented on #32075
@bandersmsft FYI.

[2019-05-24 07:26] TranKennyK opened #32084 "Unresponsive Callback Endpoint (Azure Function)"
I am trying to use an anonymous HTTP Azure Function as the Callback Endpoint but am not getting a trigger after a human review is completed.

Interestingly, when I run the Function locally and specify my localhost URL as the Callback Endpoint (I expose my local server via ngrok), my local Function successfully triggers.

Note - I specify the Callback Endpoint in my workflow (Actions -&gt; Create R

[2019-05-24 07:28] AshokPeddakotla-MSFT commented on #31863
@msazurelearn Can you please link the document that you are referring to?

[2019-05-24 07:40] SumanthMarigowda-MSFT commented on #32068
@sajithvasu Thanks for the question! We are investigating and will update you shortly.

[2019-05-24 07:43] msrini-MSFT commented on #32071
@dcbrown16 , Thank you for posting it here. I will take a look and get back to you.

[2019-05-24 07:55] KetanChawda-MSFT commented on #31873
@idohalevi Application Settings are defined at Function App level so you can deploy it as something like below using ARM Template.

[code]
In most scenarios, the unit of deployment should be the Function App, and not individual functions. Deploying a Function App is essentially identical to deploying a Web App, and can be done using the following techniques:

- **zipdeploy:** simple API that works

[2019-05-24 07:57] jimmywim opened #32086 "Missing Information/Detail"
This article is missing information on how to get from the JSON model generated by the nodeJS script into the Index in the Search Service, and information on how the model maps to the underlying relational model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7acdf63c-7fdd-01b3-87fa-698df23e321f
* Version Independent I

[2019-05-24 07:58] msrini-MSFT commented on #31957
@yuharucan , Are you using Private peering or Microsoft peering ?

If you want to restrict the On-Premises address space, add a rule with the CIDR that you want to block in the firewall rule.

[2019-05-24 08:03] mcurko opened #32087 "Error with reply URLs"
Both AAD and Facebook redirections will fail, unless respective apps have https://login.microsoftonline.com/te/********.onmicrosoft.com/oauth2/authresp added as authorized reply URLs (B2C domain hidden in the link).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906907ec-cbe2-59b1-a84e-ce1b1343756f
* Version Independen

[2019-05-24 08:07] Tkeyy commented on #16481
Has anyone solved the problem for Grafana? Unfortunately, I still get the error

`„lvl=eror msg="Server shutdown" logger=server reason="Service init failed: Migration failed err: database is locked"`

I have created an "Access Policy" with all rights, but I do not know if I have to specify this somehow when mounting the volume

[code]

[2019-05-24 08:18] stephen-cairns commented on #32005
@MicahMcKittrick-MSFT sure.  So there are master nodes (which is the control plane managed by MS as part of AKS Service) and then there are the customer managed nodes (worker/slave nodes).  When you stand up a AKS cluster with advanced networking and select a VNET/AKSSubnet then as per document outbound internet is required.   I suppose the outbound internet egress lockdown steps relate to the cus

[2019-05-24 08:20] RohitMungi-MSFT commented on #31962
@gikan76 The steps in the documentation are now updated through a PR. The change should be live in 24 hours.

[2019-05-24 08:21] stephen-cairns commented on #16001
Hi @ianfoulds @jakubigla - if either of you had a chance to clarify my comment above that would be much appreciated.  Just trying to figure out exactly were we stand.  Preview features in production environments are typically a big NO NO for many clients so if there is a way of achiveing this lockdown of egress traffic without having to enable a preview feature it would be good to know.  Or if we

[2019-05-24 08:29] KetanChawda-MSFT commented on #31910
@fabiocav Any thoughts here ?

[2019-05-24 08:32] jimmywim commented on #32086
I've just realised I might be getting confused with methods of loading index data - I notice there are indexers that can automatically load data on schedules - including a SQL DB indexer.

Does this article mean that you can't use an indexer to load the data from a relational model, and you have manually create the JSON data of your complex model and manually push this into the index? It also soun

[2019-05-24 08:35] KrzysztofRosada commented on #8231
@TravisCragg-MSFT  I wanted to clarify the difference in Availability guarantee between Basic and Standard. What is that supposed to mean (Azure region vs application)?

[2019-05-24 08:36] biste5 commented on #28833
@ishasahni1 We understand the issue isn't specific to that article, but a more generic wide issue. For us (end users) the behavior is quite inconvenient.
Is there another place where I should create a new, more specific, issue in relation to this?

[2019-05-24 08:38] jssanta96 commented on #31352
@Mike-Ubezzi-MSFT  Then for example :
My main database, which is located in the south central region of the USA and has enabled the failover to a database in Central Canada, I should not move the addresses (primary and secondary) of my firewall rules,?

[2019-05-24 08:39] ianfoulds commented on #16001
Hi @stephen-cairns, you tagged the wrong Ian Foulds (me), you should have tagged @iainfoulds

[2019-05-24 08:48] Grace-MacJones-MSFT commented on #32072
Hi @YoHo-Wang, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 09:06] ram-msft commented on #31354
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-24 09:06] #31354 closed

[2019-05-24 09:11] #31176 closed

[2019-05-24 09:11] KetanChawda-MSFT commented on #31929
@jeffhollan Any thought here?

[2019-05-24 09:14] stephen-cairns commented on #16001
Thanks for that

[2019-05-24 09:14] antogh commented on #31889
I just solved the problem by myself.
There is a special section in the policies named "on-error" , this section is not represented in the visual editor, open the code editor (the one with symbol </>) and scroll to the bottom. Add the code attached below and the browser will now finally receive the response without throwing exceptions.

<on-error>
        <base />
        <set-header name="Access-C

[2019-05-24 09:14] #31889 closed

[2019-05-24 09:15] ram-msft commented on #32084
@TranKennyK Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-05-24 09:23] ChiragMishra-MSFT commented on #32007
@robert4os You can pass parameters using the settings tab in the Notebook activity as shown in the below screenshot :
![image](https://user-images.githubusercontent.com/43365826/58317527-91705200-7e33-11e9-90e2-132285baef75.png)
Please refer to the steps mentioned in [this doc](https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-databricks-notebook#create-a-pipeline) for more

[2019-05-24 09:24] helloyesthisisdave commented on #22102
Thanks @yanancai, could you please elaborate on what you mean by _looking at it_?  Are changes going to be made to the testing framework to make this folder accessible?  And if so, when would that likely be released?

[2019-05-24 09:33] anusha56 commented on #31974
@canberra2002  Please use the show_output parameter for local logging of application state during training progress.
from azureml.core import Experiment

exp = Experiment(workspace=ws, name='test_experiment')
run = exp.submit(config=run_config_object, show_output=True)

[2019-05-24 09:37] caespinosam commented on #31991
@RohitMungi-MSFT Thank you!. The problem was that for some reason  bin.webhookrelay.com is not showing me all the request it is supposed to receive. I tried out a different online tool and now I can see all the request (transcriptions) sent by the webhook.

I see that if  I create many webhooks all of them will be executed once a transcription is finished.  Is there a way to tell the Batch Service

[2019-05-24 09:43] ChiragMishra-MSFT commented on #32080
@lukeb1961 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-05-24 09:47] alexlorenzo commented on #16666
https://github.com/Azure-Samples/cognitive-services-python-sdk-samples/blob/master/samples/vision/computer_vision_samples.py :)

[2019-05-24 09:50] yanancai commented on #22102
@helloyesthisisdave by looking at it I mean I am following up this issue with our developers. Will provide update here after that.

[2019-05-24 09:52] KetanChawda-MSFT commented on #32076
@yokawasa Service bus trigger function that uses session enabled queues & subscriptions are in preview and the pre-release nuget package is out.

Please check the below comments in product repo for details.

https://github.com/Azure/azure-webjobs-sdk/issues/529#issuecomment-487233051
https://github.com/Azure/azure-webjobs-sdk/issues/529#issuecomment-491113458

I will raise a PR to update the docum

[2019-05-24 09:53] MSSedusch commented on #30749
@dohughes-msft section has been refined.

[2019-05-24 09:56] ChiragMishra-MSFT commented on #32080
@lukeb1961 Azure Powershell is available only for Windows clients as windows has powershell and .NET already installed, which are needed to run AZ module.

For linux, it is recommended to  [Create a Linux-based HDInsight cluster using Azure Classic CLI ](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-create-linux-clusters-azure-cli).

Have you installed .NET Core on Ubuntu and a

[2019-05-24 09:57] VikasPullagura-MSFT commented on #32061
@maruthigadde Thanks for the your feedback. I am assigning the issue to content author for his comments and document changes as applicable.

[2019-05-24 09:58] VikasPullagura-MSFT commented on #32061
@aljo-microsoft Can you please look into the issue and update document as applicable.

[2019-05-24 10:00] RohitMungi-MSFT commented on #31991
@PanosPeriorellis @erhopf Do we have an option to specify which webhook to call if there are multiple for one event type or do we need to set the Active property to false and delete the webhook after each transcription?

[2019-05-24 10:01] KrishnaG-MSFT commented on #32057
@KeiroKamioka0000 AFAIK by default 'requests' table query does not support the XXX.X (i.e., status.substatus) formatted response status codes (followed by [RCF7231#6](https://tools.ietf.org/html/rfc7231#section-6) standards). But to monitor XXX.X (i.e., status.substatus) formatted response status codes which are IIS specific defined, you may leverage [Azure Log Analytics W3C IIS Logs](https://docs

[2019-05-24 10:01] VikasPullagura-MSFT commented on #31779
@MikeChristensen I am closing the issue for now. If you need additional help please mention me in the comment to continue the discussion.

[2019-05-24 10:01] #31779 closed

[2019-05-24 10:02] KetanChawda-MSFT commented on #32079
@hmayer1980 Durable Functions will generally perform better if a separate storage account is used. This is called out in our performance docs here: https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-perf-and-scale#storage-account-selection

[2019-05-24 10:03] ChiragMishra-MSFT commented on #32081
@troyel Unfortunately, as of now, it can be done only through the GUI.

I would however recommend you to upvote for [this feedback](https://feedback.azure.com/forums/270578-data-factory/suggestions/33074353-how-to-build-ci-cd-for-azure-data-factory-using-vs) already raised by a customer. All the feedback that you share is closely monitored by the product team and is implemented in future releases.

[2019-05-24 10:09] fhe-fr commented on #31872
I tried but I don't get any message in VS.
I also create a rout to the blob, and I can see some incoming message in JSON format but the budy seems encrypted:
"Body":"eyJtYWNoaW5lIjp7InRlbXBlcmF0dXJlIjoxMDcuODQ1NDU5MTI2NDQ1OTksInByZXNzdXJlIjoxMC44OTM3ODY0ODI3NTk2Njl9LCJhbWJpZW50Ijp7InRlbXBlcmF0dXJlIjoyMC44NzM4OTE1ODI0MjA5NzgsImh1bWlkaXR5IjoyNH0sInRpbWVDcmVhdGVkIjoiMjAxOS0wNS0yM1QxNDo1NzoyNy44OTcyMD

[2019-05-24 10:10] DashleenBhandari-MSFT commented on #31561
@chetan-makvana , can we get a small repro of the application so that I can test it at myside?

[2019-05-24 10:14] KlaBier commented on #30836
Hi,
I want to modify the AccessTokenLifetime to 30min. I understand that the "configurable token lifetimes feature" will be depricated and that I have to use then the "authentication session management capabilities" functionality. But I can not see how I can modify the AccessTokenLifetime? Maybe I have a wrong understanding. Can someone help?  Thanks a lot :-)

[2019-05-24 10:15] AshokPeddakotla-MSFT commented on #32044
@KaishM Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 10:16] AshokPeddakotla-MSFT commented on #32055
@xMarcus Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 10:17] AjayKumar-MSFT commented on #30803
@admin4cloud, We will close this out, but if you feel you need more information please just let us know.
@spelluru, Thank you!

[2019-05-24 10:17] #30803 closed

[2019-05-24 10:22] ChiragMishra-MSFT commented on #32080
@hrasheed-msft Can you please take a look at this one ? Please check [this blog](https://azure.microsoft.com/en-us/blog/azure-powershell-cross-platform-az-module-replacing-azurerm/) out.

[2019-05-24 10:29] iteration21 commented on #12292
@Mike-Ubezzi-MSFT Hi, I think you are talking about different use case - correct me if I'm wrong but I would like to make insert without transaction. Just like its possible to add document using portal (document that have partition/shard key) I would like to be able to do very same thing using mongoRepository. I expect this should work since it works in portal but its not - seems like a bug not co

[2019-05-24 10:36] TBurda commented on #31989
This problem is in Azure Containers Instances.

Here you describe a similar problem ( https://docs.microsoft.com/en-us/azure/container-instances/container-instances-troubleshooting ), but that doesn't solve my problem.

[2019-05-24 10:39] chetan-makvana commented on #31561
What exactly you are looking for?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: DashleenBhandari-MSFT <notifications@github.com>
Sent: Friday, May 24, 2019 3:40:52 PM
To: MicrosoftDocs/azure-docs
Cc: chetan-makvana; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Deployment fails for Spring boot JAR (#31561)

@chetan-makvana<https://github.com/chetan-makva

[2019-05-24 10:42] chetan-makvana commented on #31561
Please note that I can't share the code...if you want I can call and share my screen with you.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Chetan Makvana
Sent: Friday, May 24, 2019 4:09:50 PM
To: MicrosoftDocs/azure-docs; MicrosoftDocs/azure-docs
Cc: Mention
Subject: Re: [MicrosoftDocs/azure-docs] Deployment fails for Spring boot JAR (#31561)

What exact

[2019-05-24 10:44] L-Trick commented on #20288
Hi @zezha-msft ,
Do you perhaps have an update if the request as mentioned above has been discussed?

[2019-05-24 11:04] SnehaAgrawal-MSFT commented on #31973
@thomaslevesque We kindly request you to share your question on [MSDN](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazurewebsitespreview) or Stack [Overflow.](https://stackoverflow.com/questions/tagged/azure-web-app-service) We try to keep this GitHub channel scoped to just issues related to Azure [Docs.](https://docs.microsoft.com/en-us/azure/) Thank you for your underst

[2019-05-24 11:17] johnkbarrow opened #32091 "Connection to server is no longer active"
I downloaded the latest version of Gremlin console from the Tinkerpop site. Configured my remote-secure.yaml file but constantly got error "Connection to server is no longer active" whenever I tried to execute a Gremlin query. The fix was to replace the default serializer (org.apache.tinkerpop.gremlin.driver.ser.GryoMessageSerializerV3d0) with the one shown in the listing (org.apache.tinkerpop.gre

[2019-05-24 11:21] SnehaAgrawal-MSFT commented on #30330
@kggayo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-24 11:21] #30330 closed

[2019-05-24 11:22] robert4os commented on #32007
But there is no way to make use of pre-existing concepts in ADF, like Datasets? Say a ADF-dataset that refers to a storage location... it would be useful to pass this to Databricks, without manually channeling it through the parameters.

[2019-05-24 11:30] thomaslevesque commented on #31973
But the issue *is* related to Azure docs... It gives an example that doesn't work.

[2019-05-24 11:35] SadiqhAhmed-MSFT commented on #31813
@bhageerathreddy9 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-24 11:35] #31813 closed

[2019-05-24 11:39] BJD1997 opened #32093 "InvalidTemplate at summary page (azure portal)"
When I try to complete all the steps at the summary page in Azure the validation fails with the following message: InvalidTemplateDeployment template validation failed: 'The template parameter 'baseUrl' is not found. Please see https://aka.ms/arm-template/#parameters for usage details.'.

The image selected: "Windows 10 Enterprise multi-session with Office 365 ProPlus"
This image is from the galle

[2019-05-24 11:46] mikeblakeuk commented on #31996
It looks like it might work on the version that is being used. The reason i raised it was becuase https://stackoverflow.com/a/34937706/2377931 suggested that it's reset.
Would this be better?
[code]

Also, why should we add /B. Can you provide a link to how the cmd is called so we can test it with and without. thanks

[2019-05-24 11:48] sylr commented on #11982
@tamram I've a Service Principal which has the `Reader` & `Storage Blob Data Reader` role at Subscription level and it cannot list container's blobs in that subscription.

[2019-05-24 11:54] jakaruna-MSFT commented on #32029
@swagkulkarni Can you describe one of the pending pod and post the events here?
Whats the overall capacity(CPU and Memory) of your cluster?
Also let me know how many node you have.

[2019-05-24 11:58] jakaruna-MSFT commented on #31260
@imlight is there any update

[2019-05-24 12:12] KalyanChanumolu-MSFT commented on #32083
@SogoGolf  Thank you for your interest in Azure products and services.
This is being assigned to the content author to evaluate and update as appropriate. 

[2019-05-24 12:13] jeking3 commented on #31513
I probably could, but I wanted it as a python class/method.  Anyway, I did what I needed to do in Powershell instead.  I still don't think this should be closed because the original issue is still present.  There is no method provided in the python modules to do this.

[2019-05-24 12:15] msajidirfan opened #32095 "What is the upper/maximum limit for maxConcurrentRequests for Azure Function"
I'm not able to find any documentation on limit for maxConcurrentRequests for Azure Function. Can you provide information on the upper/maximum limit for maxConcurrentRequests for Azure Function

[2019-05-24 12:23] trevorlittle opened #32096 "Step #2 button label incorrect"
Step #2 says "Select Alerts then select Manage action groups."

In the current version of the portal after selecting "Monitor" -&gt; "Alerts", the main pane shows the option of "Manage Actions", not "Manage action groups".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fa0b27d-b18c-22a9-4e7d-cb3a1978338f
* Version Ind

[2019-05-24 12:29] jakaruna-MSFT commented on #32063
@iainfoulds please provide your comments

[2019-05-24 12:30] chainhead opened #32097 "IoT Hub within a VPN?"
We have a corporate WAN that spreads across multiple factories all over India. Can we set-up a VPN with Azure such that, device data can be sent to IoT Hub _not exposed_ to internet; but, limited to VPN + WAN?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9565ceb-e636-e815-f7cf-ff9523fabc2f
* Version Independent ID:

[2019-05-24 12:31] lciocci commented on #31892
Understood. Something else to consider: The existing proxy PoC relies on a constant connection, such as SSH or RDP. I had attempted to use the proxy to handle http-type requests/responses, which really doesn't fit with a scenario where the service and client needs to be constantly connected.

[2019-05-24 12:37] shodgson11 opened #32098 "Images are transparent (dark mode incompatible)"
The images on this page are transparent, so they do not display properly in dark mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e28d301-492c-3db3-72dd-699f6786985b
* Version Independent ID: 653625e5-d919-9953-249d-7f33ee319265
* Content: [Azure AD UserPrincipalName population](https://docs.microsoft.com/en-us/az

[2019-05-24 12:52] rokonec commented on #31995
Thanks for the answer, it makes things clearer, but "city view" is not meant as a full-text search against all the searchable fields, but as a full-text search against room/Description. Your solution would return also hotels which do not have deluxe room bellow 160 with city view but have deluxe room bellow 160 and at least one room with city view.

[2019-05-24 13:10] hurtn opened #32099 "Typo"
from xact to exact

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29d5038d-16ac-4b54-7c92-d873cf38e06a
* Version Independent ID: 7328d4d9-d082-6560-a1bd-4227f98644b8
* Content: [Azure Data Factory Mapping Data Flow Column Patterns](https://docs.microsoft.com/en-us/azure/data-factory/concepts-data-flow-column-pattern#fe

[2019-05-24 13:12] psallis commented on #29302
Any update on having multiple App plans connecting to their own subnet within the vnet?
I get the following error when using tcpping.

Connection attempt failed: A socket operation encountered a dead network

[2019-05-24 13:14] mbentley3123 opened #32100 "bad link in Nest Steps"
The link in the Next Steps at the end of the article points to "Tutorial: Push notifications to specific Android devices using Azure Notification Hubs and Google Cloud Messaging (deprecated)".
It should point to an article on using the new Firebase Cloud messaging service rather than the depreciated GCM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-05-24 13:17] sandervandevelde opened #32101 "Why do I need this extra route which overlaps other route?"
The tutorial specifies that a separate route must be specified: "FROM /messages/modules/azureiotsecurity/* INTO $upstream".
This route overlaps the more generic route: "FROM /messages/* INTO $upstream" as seen in the example picture.
What is the point in routing the same ASC message twice to the edgeHub?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-05-24 13:18] jwargo commented on #32100
@mbentley3123 thanks for the suggestion, I'll make the change.

[2019-05-24 13:30] deltadan commented on #25071
I totally agree.  This design is very flawed and needs to be reviewed.

[2019-05-24 13:32] msazurelearn commented on #31863
@AshokPeddakotla-MSFT Here is the link
https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-how-to-enable-replication-ade-vms#copy-disk-encryption-keys-to-the-dr-region-by-using-the-powershell-script

[2019-05-24 13:33] porrascarlos802018 opened #32102 "dashboard"
Dashboard support limitations should be added somewhere and clarified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36ecef62-68f2-9e81-f4b6-da2b49d1a653
* Version Independent ID: a6c2c35a-8a12-a9de-0a4e-669cf8506892
* Content: [Support policies for Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azur

[2019-05-24 13:47] porrascarlos802018 opened #32103 "terraform"
its a common one used, support details , scope for these scenarios is not mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36ecef62-68f2-9e81-f4b6-da2b49d1a653
* Version Independent ID: a6c2c35a-8a12-a9de-0a4e-669cf8506892
* Content: [Support policies for Azure Kubernetes Service (AKS)](https://docs.microsoft.

[2019-05-24 13:51] jwargo commented on #32100
Updated. #please-close

[2019-05-24 13:52] jaswanthpadigala commented on #24858
The documentation still shows compatible upto 7.12. Atlassian has now released 8.2 version. Can you please confirm if the app works for 8 and above versions without any issues?

[2019-05-24 13:55] d-h-morrison commented on #31528
Hi,

Thanks for the all the help.  I've been out of pocket; apologies that it took me some time to get back.  The info you supplied is helpful and did the trick.  Nice work.

David
________________________________
From: KetanChawda-MSFT <notifications@github.com>
Sent: Thursday, May 23, 2019 3:21 AM
To: MicrosoftDocs/azure-docs
Cc: Dave-O; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Missing Gu

[2019-05-24 13:56] spaelling opened #32104 "Missing some ruleids"
Some rules are missing, ex.
941160
942240
942180
942390

I am using this (raw github code) for a mapping in log analytics, so getting some blanks there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9c5b784-df0f-30cc-1547-bb4de751b7de
* Version Independent ID: 8434d925-968a-ceea-e1f6-56d7816f7b3d
* Content: [Azure Ap

[2019-05-24 13:58] sam-pell opened #32105 "Pronunciation model in the new Portal"
Hi,

In the section "Related data for text training", it is stated that

However, in the new portal speech.microsoft.com for related text, zip files are not accepted, only a single txt file is accepted per dataset. How is it then possible to upload a pronunciation file in the new portal on top of LM adaptation data?

Best,
Sam

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-05-24 14:00] SirJewDanielBerg commented on #31712
Thanks, no worries, yes, I guess adding that question on the FAQ of the other page would be better. Thanks for everything else!

[2019-05-24 14:02] dzimka opened #32106 "Limited permissions"
Hi,

What are my options if I only have a Contributor role in the subscription? I cannot do role assignments due to the lack of privileges. Is there any other way to walk around this?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916ac90f-8a94-5f3d-eb99-fe06c39eb6cf
* Version Independent ID: 2aad2e47-7fde-8d2

[2019-05-24 14:04] #32100 closed

[2019-05-24 14:06] ssennettau commented on #32099
Hi hurtn,

I've created a [Pull Request](https://github.com/MicrosoftDocs/azure-docs/pull/32107) to update the typo you've highlighted. In the future if you like, you can also make these edits to the documentation yourself, following the [Microsoft Docs contributer guide overview](https://docs.microsoft.com/en-us/contribute/).

Regards,
Stephen

[2019-05-24 14:08] Apholisha commented on #30979
Hi guys, any progress ?

[2019-05-24 14:11] fhe-fr opened #32108 "Error:Api Key is invalid"
I finished to setup LUIS on a container. But can't get access to the continer:
curl -X GET \
&gt; "http://localhost:5000/luis/v2.0/apps/b403bd4c-7722-40e5-81f5-2b82c7b8a438?q=turn%20on%20the%20lights&staging=false&timezoneOffset=0&verbose=false&log=true" \
&gt; -H "accept: application/json"
{"error":{"code":"NoCredit","message":"Api Key is invalid."}}administateur@edge-vm-ai:/etc/luis/output/luis/

[2019-05-24 14:14] Apholisha commented on #30649
Hello,
Any progress?

[2019-05-24 14:15] Alberto-Vega-MSFT commented on #32095
Hi @msajidirfan Thanks for reaching out and sorry to hear that you are having a hard time finding the info you need.  Could you please link the URL of the documentation you were following or that you believe should address this?

[2019-05-24 14:18] Alberto-Vega-MSFT commented on #32097
@chainhead Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 14:19] diberry commented on #32108
@fhe-fr Can you for posting this issue. Can you send the full `docker run` command (replace or remove actual key value). When you started the container were there any error messages in the console? #in-progress

[2019-05-24 14:21] LawrenceLLo commented on #14690
I am having the same problem.  I created a custom log, and when I try to remove it through the portal it just remains there.

[2019-05-24 14:23] Alberto-Vega-MSFT commented on #32101
@sandervandevelde Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-24 14:30] j-martens commented on #30938
@Blackmist

[2019-05-24 14:31] j-martens commented on #30960
If this is fixed, #please-close

[2019-05-24 14:37] Mike-Ubezzi-MSFT commented on #32091
@johnkbarrow Thank you for providing this detailed feedback. We are evaluating and will make an update as appropriate.

[2019-05-24 14:39] Mike-Ubezzi-MSFT commented on #32082
@gishu Thank you for providing this detailed feedback. We are evaluating and will make an update as appropriate.

[2019-05-24 14:48] georgewallace commented on #32069
@RaphaelFrancisco There are some options here.. We are looking to more formally document this but it is not yet ready... So first thing is in your Automation Account.. If you go under Update Mangement and select **Manage Machines**. Here you can select that all machines or all machines and all future machines are included. This makes sure that any new machine added to the workspace will automatica

[2019-05-24 14:51] j-martens commented on #31715
@Blackmist

[2019-05-24 15:07] asifahmad71 opened #32110 "Getting 404 error on the script source on github"
I am getting 404 on the URL https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/attach-vpn-gateway/attachVPNGatewayAz.ps1 as well as https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/attach-vpn-gateway/attachVPNGateway.ps1 when trying to run the script provided in the art

[2019-05-24 15:10] #32076 closed

[2019-05-24 15:12] Alberto-Vega-MSFT commented on #31728
Thanks again @rangv I merged the typo fix :)

[2019-05-24 15:12] #31728 closed

[2019-05-24 15:14] Alberto-Vega-MSFT commented on #32070
@oehm-smith Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-24 15:15] timinterface opened #32111 "Multi-Turn - Works okay on QnA Maker website, but not in Azure Web Chat"
I created a bot using the Multi-Turn Conversation feature in which users select "Yes" or "No" for up to 5 layers of questions. The bot works exactly as intended on the QnA Maker website. Buttons for "Yes" and "No" display correctly, as well.

However, after I publish this bot to Azure and begin testing it on the bot's Web Chat page, I immediately see issues. The bot sends incorrect answers to "Yes

[2019-05-24 15:17] iainfoulds commented on #32063
Sure, although you only need to add or update the key if you don't have the original SSH keys used to deploy the cluster. Otherwise you can skip down to obtaining the IP address for VM or VMSS-based node and SSH in as required.

[2019-05-24 15:18] AshokPeddakotla-MSFT commented on #31821
@arduppal Could you please check this and provide your insights. Is this possible?

[2019-05-24 15:19] iainfoulds commented on #16001
@stephen-cairns As the doc states, you can't simply enable rules with enabling the feature registration. It's that feature registration that enables the cluster to pull from a limited set of MCR/ACR repositories and lets you then restrict traffic as outlined.

[2019-05-24 15:24] tripolii31 opened #32112 "Prework"
There needs to be a link to prework for setting up a VM with some load so that one can work on the rest of this tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb49644-fb30-6357-708b-d2007fcab408
* Version Independent ID: 3c6c3cac-e738-52c3-bf89-6476ba04e816
* Content: [Collect data about Azure Virtual Machine

[2019-05-24 15:25] Blackmist commented on #31715
I apologize for the inconvenience @jberezanski-mdg

During preview, the CLI did have an image command. This was removed when the CLI became generally available (released). My understanding is that many customers gave feedback that they didn't want to have to create images, just directly deploy models. Which is how we got to Model.deploy() and no image command for the CLI.

The documentation team c

[2019-05-24 15:30] Alberto-Vega-MSFT commented on #32077
@wbpluto Thanks for catching that also please feel free to reach out if you need any help :)

[2019-05-24 15:30] diberry commented on #32111
@timinterface Thank you for letting us know you are having issues. Please review this [issue](https://github.com/MicrosoftDocs/azure-docs/issues/31126) - it seems like it may be the same issue with a solution provided. #in-progress

[2019-05-24 15:47] ElanShudnow opened #32113 "Prevent against File-Share and Storage Account Deletions"
The page mentions, "Share snapshots provide only file-level protection. Share snapshots don't prevent fat-finger deletions on a file share or storage account."

It mentions that share snapshots don't protection against both file share deletions and storage account deletions.

It then states, "To help protect a storage account from accidental deletions, you can lock the storage account or the resou

[2019-05-24 15:49] tristanbarcelon commented on #31917
Updates and issues since last post:

- installation of Azure CosmosDB emulator has been automated using MSI PSGallery module (no need to provide parameters/properties and installation is silent)
- quirky behaviors when enumerating emulator processes (I last counted 5) with Get-Process cmdlet. On Windows 10, I have this
![windows 10 get-process cosmosdb](https://user-images.githubusercontent.com/58

[2019-05-24 16:01] fabich commented on #32062
@PramodValavala-MSFT thanks for your help!

However, I don't receive any information about the blob create event in the service bus message

my test code:

[code]

[2019-05-24 16:01] fabich opened #32114 "Missing Azure Service Bus as Event Handler"
As far as I understand Azure Service Bus is also supported as Event Handler.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac7f75f-c324-8dab-76bb-ebedddd6f357
* Version Independent ID: 87467881-a215-78e8-b406-e83d558a7172
* Content: [Azure Event Grid event handlers](https://docs.microsoft.com/en-us/azure/event-grid/e

[2019-05-24 16:12] igormusinov commented on #31690
@dlepow Thank you for your detailed response. I don't understand how  the `--no-wait` parameter can boost the launch of the group with container instance.

For example, I need to launch the pipeline with 1000 containers. I launch them one by one, waiting till get results from previous and then launch next. I can spend 30s for starting up container group and 1 container instance, but I can't waste

[2019-05-24 16:16] shimon893 opened #32115 "Data Factory Contributor"
I have noticed that in Build-in role **Data Factory Contributor** this is not in Allow part:

**Action:Microsoft.DataFactory/locations/configureFactoryRepo/action**
From my perspective that should be added, as it is normal operation for users to use repository, but they cannot if Rbac is applied. And most Companies are creating own RBAC roles based on what is defined in MS Build-in roles.

---
###

[2019-05-24 16:20] Minewiskan commented on #31864
@algattik - Thanks for your suggestion. While this scenario is currently supported with Power BI, it is not yet supported with Analysis Services. I added another sentence to the footnote making this more clear. We will update once a solution is in place.
#please-close

[2019-05-24 16:21] samaea opened #32116 "Incorrect statement?"
It states in the documentation "1 Non-admin users in your Azure AD tenant can register AD applications if the Azure AD tenant's Users can register applications option in User settings page is set to Yes. If the app registrations setting is set to No, the user performing this action must be a Global Administrator in Azure AD". However, from an Azure AD perspective, I was able to provision a Run As

[2019-05-24 16:23] rezasherafat commented on #31892
That's right. The current model fits better into long-running connections, but short-lived infrequent req/res can also fit into this model. If you can send me some of these details over email rezas @ microsoft . com, we can discuss further.

[2019-05-24 16:25] ChiragMishra-MSFT commented on #32099
@ssennettau Thanks for leaning in here.

@hurtn I will proceed to close this issue now.

[2019-05-24 16:25] #32099 closed

[2019-05-24 16:26] cconrado opened #32117 "Vm Encryption powershell failing"
the example needs a review as it fails but cli works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c63605-95f5-0953-3cf6-1e9c50532c1d
* Version Independent ID: 8731daa8-2c15-78f7-adac-151401c13b6c
* Content: [Enable Azure Disk Encryption for Windows IaaS VMs](https://docs.microsoft.com/en-us/azure/security/azure-se

[2019-05-24 16:28] piotrzaremba opened #32118 "Azure Hybrid Worker Docker missing onboarding.py"
Issue;

https://stackoverflow.com/questions/56294484/azure-hybrid-worker-docker

I am trying to build a Azure Hybird Working inside of a container however the onboarding.py script and the folder structure are missing with respect to the following path.  It is the only folder missing in the download "/nxOMSAutomationWorker"

/opt/microsoft/omsconfig/modules/nxOMSAutomationWorker/DSCResources/MSFT_n

[2019-05-24 16:30] #30749 closed

[2019-05-24 16:31] SquirrelAssassin commented on #31844
Same here!  Restore default mapping if checked does not light up the save button.

[2019-05-24 16:35] georgewallace commented on #32116
@samaea Great catch. I will correct the sub note.. As you can see from where the subnote is referenced the permissions are accurate to the permissions needed.  I will update the footnote to be inline with the references.. Once my PR is merged to correct this, it will automatically close this issue.

[2019-05-24 16:35] jeevansd commented on #24858
@jaswanthpadigala Yes, our plugin is been tested with version 8.0 so if you are using JIRA version 8.0 then it should work. We are in the process of testing the plugin for version 8.1 and 8.2.
Also to note that the document is still getting updated. Should be up to date by next week.

[2019-05-24 16:36] alvipeo commented on #27693
see this - https://stackoverflow.com/a/56296445/2896495

[2019-05-24 16:38] MicahMcKittrick-MSFT commented on #32106
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 16:40] MicahMcKittrick-MSFT commented on #32103
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-24 16:41] MicahMcKittrick-MSFT commented on #32102
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-24 16:41] MicahMcKittrick-MSFT commented on #32093
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 16:43] donrolling opened #32119 "Powershell script doesn't work"
Script requires Az.Resources. Once you install that there are issues with name conflicts. It should be easy to create a service prinicpal. I've spent most of a day trying to get past this. Kind of ridiculous.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 622be52c-4745-7122-700e-38a64223a698
* Version Independent ID: 3

[2019-05-24 16:47] jnoller commented on #32103
Terraform is a 3rd party open source tool and outside of the scope of support which is why it is not explicitly mentioned, it falls into 3rdparty/OSS support.

[2019-05-24 16:48] jnoller commented on #32103
Please close as won't fix

[2019-05-24 16:48] #32103 closed

[2019-05-24 16:49] jnoller commented on #32102
I don't understand this issue or what is being asked. This feedback is non-actionable without specific questions to address.

[2019-05-24 16:49] jnoller commented on #32102
Please close as won't fix without additional details

[2019-05-24 16:50] #32102 closed

[2019-05-24 16:53] bandersmsft commented on #32075
@dcbrown16 Thanks very much for catching this. I'll update the artilce.

[2019-05-24 16:54] jnpike93 commented on #10799
Commenting here for posterity - I had this issue and this is the only google result for the problem. Our issue was a combination of Domain Controllers on 2012R2 having a known issue with KDS and not being located in the root of the Domain Controllers OU in Active Directory. You can apply a patch found at the link below, or move the domain controllers to the correct OU to resolve this.

https://sup

[2019-05-24 17:08] CarlRabeler commented on #32039
@VanMSFT for awareness

[2019-05-24 17:12] RossMMason opened #32121 "QnA Maker - Active Learning API"
Is there an API for working with suggestions from Active Learning? If not can we have one? If there is can it be documented and linked to from this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e302f635-c2b9-e505-7b9e-d947dab75514
* Version Independent ID: 2c1e8216-c9d5-68bd-cbca-6c80dcb2f2b3
* Content: [Improve

[2019-05-24 17:13] matthias-scharl commented on #31844
It seems there is a bug in the GUI. The below steps via the Graph Explorer should do it.

Browse to developer.microsoft.com/en-us/graph/graph-explorer.

Sign in with your global admin credentials.

Change the version from 1.0 to beta. Make sure the operation is set to GET

The syntax should match something like this https://graph.microsoft.com/beta/servicePrincipals/<AppObjectID>/synchronization/j

[2019-05-24 17:15] rezasherafat commented on #22798
@romankiss, this issue should now be resolved. Please let me know if you still have any issue regarding module/device connections. Thanks!

[2019-05-24 17:17] msrini-MSFT commented on #31922
@kurkowski , Here are the details:

•	maxUrl - 8,192 bytes - Specifies maximum length of the raw URL (scheme + hostname + port + path + query string of the URL).
•	maxQueryString - 4,096 bytes - Specifies the maximum length of the query string, in bytes.

Public Documentation will get updated soon.

[2019-05-24 17:17] #31922 closed

[2019-05-24 17:22] diberry commented on #32121
@RossMMason than you for asking the question - currently, Active Learning is only available from the QnA Maker portal. #in-progress

[2019-05-24 17:22] Karishma-Tiwari-MSFT commented on #32119
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 17:27] v-stadam commented on #31878
@csamleong @kgremban Changes have been made and should go live later this afternoon

[2019-05-24 17:33] mike-urnun-msft commented on #32114
Hi @fabich Thank you for your feedback! We will review and update as appropriate.

[2019-05-24 17:36] Adam-Smith-MSFT commented on #32113
@ElanShudnow Thanks for the feedback. Currently You can use the lock option to prevent a deletion of a fileshare, when putting it in a specific resource group, or setting it up on the storage account level. I'd recommend posting your feedback in https://feedback.azure.com/forums/217298-storage .

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2019-05-24 17:36] #32113 closed

[2019-05-24 17:37] PramodValavala-MSFT commented on #32114
@fabich Thanks for creating this issue! For others coming across this before the doc is update, `Service Bus Queue`s as Event Handlers are supported as mentioned in my comment [here](https://github.com/MicrosoftDocs/azure-docs/issues/32062#issuecomment-495483377)..

We are assigning this issue to the content author to update the doc accordingly.

[2019-05-24 17:39] YutongTie-MSFT commented on #32105
@sam-pell Thank you for your feedback, I will investigate and get back to you soon.

[2019-05-24 17:41] Karishma-Tiwari-MSFT commented on #31313
@tedgoddard Can you please reach out to us at azcommunity@microsoft.com with your subscription ID and the URL of this forum post? Please mention my name in the email as well. We will enable one time free support request for you.

[2019-05-24 17:42] YutongTie-MSFT commented on #31715
@jberezanski-mdg
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-24 17:42] YutongTie-MSFT commented on #31750
@diberry  Thank you Dina.

@mekinney
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-24 17:42] #31750 closed

[2019-05-24 17:42] #31715 closed

[2019-05-24 17:44] mekinney commented on #31750
Thank you for the information.

[2019-05-24 17:50] mhofmann-hb commented on #32093
Same Error here. Yesterday it worked but Windows VM activation didn´t work...

[2019-05-24 18:01] AshokPeddakotla-MSFT commented on #31703
@smoms AFAIK, leaf device is a downstream device. Please see the [documentation](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-connect-downstream-device) for more details.
@kgremban Can you clarify on the second part of the question?

[2019-05-24 18:01] brobichaud opened #32123 "RDP into created VM fails"
When following these directions I am unable to connect to the VM that is created. If I manually allow inbound access to port 3389 in the Network Security Group created by AKS then it works. In looking at the Effective Security Rules of the VM it appears 3389 is open, because the VM creation created a new NSG with it enabled, yet access still fails.

---
#### Document Details

⚠ *Do not edit this s

[2019-05-24 18:02] willdaviesdevelops commented on #19690
@ChrisJr , can you edit your logging issue to include a link to where that's mentioned?  Also, what if the Developer intended to log the secret?  Or part of the secret?  For example, what if the Developer wanted to include data beyond secrets?  I'd like to print the first few and the last few characters of an API key.  Not terribly sensitive but would like to leverage KeyVault to manage these API

[2019-05-24 18:06] #31864 closed

[2019-05-24 18:07] #31869 closed

[2019-05-24 18:07] omartin2010 opened #32124 "Forced Tunneling"
There is this new [document](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-restrict-outbound-traffic) that suggests that forced tunneling is now supported through NVAs or Azure Firewalls with the proper configuration. Can we update this doc to reflect that and point to this new document? Shall I write a PR for this?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-05-24 18:09] MezeiJ commented on #15181
I have the same problem any solution..

[2019-05-24 18:09] BarbaraSelden opened #32125 "Please add link to Azure AD admin role descriptions"
After step one, can you please add a link to https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles to give users more clarity about what the account admin role is/ or link the role title to that doc? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65b8cd29-3c9b-6

[2019-05-24 18:10] kgremban commented on #31872
@fhe-fr The message monitoring feature in Visual Studio Code only sees messages arriving at your IoT hub, so you'll only see messages that are routed to $upstream in your deployment manifest. Can you share your current routes?

Also, you don't need to use routing to send messages to blob storage. Once you have the blob storage module on your device, you can use the regular storage API calls to man

[2019-05-24 18:13] ghanold commented on #32093
Same issue, does not work for gallery, blob.  Gallery worked two days ago.

[2019-05-24 18:13] MicahMcKittrick-MSFT commented on #32005
Got it! Thanks for the explination :)

@iainfoulds @sauryadas is this something one of you could elaborate on?

[2019-05-24 18:14] MicahMcKittrick-MSFT commented on #32015
@lucasmaj I will close this for now as I do not see any action needed on the doc. If you want to continue the conversation just let me know and we can always reopen and continue.

[2019-05-24 18:14] #32015 closed

[2019-05-24 18:15] iainfoulds commented on #32005
Master components are part of the Azure infrastructure and not part of any configuration that can be done as part of egress traffic. The configurations available, such as in this doc, are only for the nodes.

[2019-05-24 18:17] kgremban commented on #31703
Hi @smoms

1. I'm not sure what you mean by "without implementing any module for it" in your first question. First, leaf devices (also called downstream devices) cannot be other IoT Edge devices, so they don't run IoT Edge modules. Leaf devices can send their messages to an IoT Edge gateway device, and then the gateway device can route those messages either to modules or to IoT Hub. The documentat

[2019-05-24 18:17] MicahMcKittrick-MSFT commented on #32035
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-24 18:18] AshokPeddakotla-MSFT commented on #31823
@mirkogit Please make sure all pre-requisites are met. Also, see
[Common issues and resolutions for Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot) and let us if that helps to identify and solve the issue.

[2019-05-24 18:19] roygara commented on #31941
@KeiroKamioka0000 Snapshots are available for standard HDD, standard SSD, and premium SSD. For these disks it works up to their max size (32 TiB).

Backup support is not yet available.

Thanks for the feedback! I'll update the doc to reflect these changes.

[2019-05-24 18:19] SeanFeldman opened #32126 "MessageReceiver is not mentioned anywhere"
Anyone interested in "transactional" sending of an outgoing message as a result of an incoming message cannot accomplish that with the output binding. Instead, a function could use the connection available via the incoming message's `MessageReceiver` to accomplish the job. The documentation does not mentions `MessageReceiver` as available for method injection, similar to message metadata/propertie

[2019-05-24 18:24] MicahMcKittrick-MSFT commented on #32065
Based on the layout of other docs I think we will keep this one as is. However this comment will remain on this doc and if others have issues they can comment and we can always revisit.

[2019-05-24 18:24] #32065 closed

[2019-05-24 18:26] kgremban commented on #31898
@MarekLani Can you clarify what you mean by "using IoT Hub manage key"? I know that IoT Hub allows you to [Control access to IoT Hub](https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security) with scoped permissions, but that doesn't sound like what you're describing. Are you thinking about a scenario where a 3rd party module developer would want to push updates to their customer's devic

[2019-05-24 18:26] MicahMcKittrick-MSFT commented on #31980
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-24 18:27] Alberto-Vega-MSFT commented on #32115
@shimon893 Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-05-24 18:36] PramodValavala-MSFT commented on #32062
@fabich The problem seems to be the missing Content Type set on the incoming message. I am able to see the message using [Service Bus Explorer](https://github.com/paolosalvatori/ServiceBusExplorer) but not in the function.
For that matter, not even C# (with [this sample](https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/GettingStarted/BasicSendReceiveQuickStart)) **but** it did

[2019-05-24 18:39] Alberto-Vega-MSFT commented on #32124
Hi @omartin2010 Thank you for your feedback. Somehow your issue is not attached to a document. Could you please link the URL of the documentation you would like to make better? That way, we can pass your feedback to the appropriate content author.

[2019-05-24 18:41] LarsKemmann opened #32127 "How to make B2C work"
Hi, this page says that "B2C-related audit and sign-in activity logs are not supported at this time." This is a critical function and needs to be made available in order to help with B2C adoption, since right now it's unclear how to set up audit log ingest manually. Can you please provide some guidance on how to achieve that manually until first-class support is available? Thanks!

---
#### Docume

[2019-05-24 18:42] SaurabhSharma-MSFT commented on #32087
@mcurko Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-24 18:42] MicahMcKittrick-MSFT commented on #31690
Thanks @dlepow

@igormusinov based on Dan's response, it seems the best option would be to add the --no-wait parameter so you can continue to launch additional containers while the others come online.

[2019-05-24 18:43] Alberto-Vega-MSFT commented on #32073
@perl-tsai Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 18:43] SaurabhSharma-MSFT commented on #32098
@shodgson11 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-24 18:44] SaurabhSharma-MSFT commented on #32117
@cconrado Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-24 18:45] festivus commented on #31145
I asked these 2 questions above that never really got answered:

Does the service fabric RepairManager only need to be enabled for POA?
I tried turning on enableAutomaticOSUpgrade but I got an error because I also have windowsConfiguration\enableAutomaticUpdates set to true. they apparently can't both be set to true. Does enableAutomaticOSUpgrade basically do what enableAutomaticUpdates did?

[2019-05-24 18:45] SaurabhSharma-MSFT commented on #32127
@LarsKemmann Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-24 18:47] tedgoddard commented on #31313
Thank you so much, I will definitely do that.

[2019-05-24 18:48] TravisCragg-MSFT commented on #32104
@spaelling Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-24 18:51] bandersmsft commented on #32075
@dcbrown16 Article updated to fix metric refs with https://github.com/MicrosoftDocs/azure-docs-pr/pull/77872. Thanks again.
#please-close

[2019-05-24 18:54] MicahMcKittrick-MSFT commented on #31996
Thanks for the explanation.

You can find some info about the /b here: https://ss64.com/nt/exit.html

So since this is a batch script seems to be why we include it in the doc.

I have not gone through these specific cloud service docs in a while hence I was looking for some more info on the reason for raising the issue. At this time, I would like to leave the doc as is sense we have not had any ot

[2019-05-24 18:54] #31996 closed

[2019-05-24 18:54] sbdoroff opened #32128 "Is this also supported by Verizon?"
Hello,

Based on the documentation here for step two (https://docs.microsoft.com/en-us/azure/cdn/cdn-custom-ssl?tabs=option-2-enable-https-with-your-own-certificate#ssl-certificates), this should also be allowed for Verizon.  Is that the case?

Best,

Steve

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef62d00-9423-f

[2019-05-24 18:55] MicahMcKittrick-MSFT commented on #32005
Thanks @iainfoulds that helps!

@stephen-cairns I will close this out for now but if you have additional questions just let us know and we can always reopen and continue the conversation.

[2019-05-24 18:55] #32005 closed

[2019-05-24 18:56] MicahMcKittrick-MSFT commented on #32093
Thanks all for letting us know. I am taking a look at this now.

[2019-05-24 18:56] #31899 closed

[2019-05-24 18:56] RyanHill-MSFT commented on #32086
Hi @jimmywim, we appreciate the feedback. This article isn't saying you can't use an indexer to load your data. However, in order to have an index that's optimized for your relational data, rather than blanket, then that's what when you'll use JSON data. But you're right, if you expect your reference data to be changing frequently, then it would be best to wrap this a function. You don't necessary

[2019-05-24 19:10] MashaMSFT commented on #31971
Hi @DaveZimmermann , thanks for contacting Microsoft! So, yes, and no. While CSP customers cannot deploy a BYOL image, they are able to utilize the Azure Hybrid Benefit (which is BYOL) by first deploying a pay-as-you-go image and then converting it to BYOL by enabling the Azure Hybrid Benefit. You can find more information about that here:
https://docs.microsoft.com/en-us/azure/virtual-machines/wi

[2019-05-24 19:14] bandersmsft commented on #32125
@barbaraseldon Thanks, Barbara. I added your link to the FAQ entry at https://docs.microsoft.com/en-us/azure/billing/billing-subscription-transfer#whoisaa, not under the first step in the procedure, but instead in the FAQ entry body with https://github.com/MicrosoftDocs/azure-docs-pr/pull/77876. We try to avoid putting comments or links in procedures whenever possible.
#please-close

[2019-05-24 19:21] jackchenquest commented on #19498
The suggested API reference https://docs.microsoft.com/en-us/python/api/overview/azure/cosmosdb?view=azure-python  only provided a simple code example, it's not very helpful.

I am trying to write a python script to read document from a readonly region, I can only find the .Net example:
https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-global-distribution-sql-api
`ConnectionPolicy connecti

[2019-05-24 19:24] mmalone opened #32131 "What is `xms_mirid`"
The access token JWT returned via the metadata token endpoint includes a non-standard claim called `xms_mirid`. It *appears* to be a pretty straightforward encoding of the instance's subscription, resource group, and name. This is super useful since none of this information appears anywhere else in the token, and it's precisely the information that I'd like to use to make an authorization decision

[2019-05-24 19:30] VanMSFT commented on #30628
#please-close

[2019-05-24 19:31] Mike-Ubezzi-MSFT commented on #32110
@asifahmad71 Thank you for bringing this to our attention. I am investigating and I see `attachVPNGateway.ps1` but I do not see `attachVPNGatewayAz.ps1`. Also, the `$scriptUrlBase` variable looks correct as I can navigate to that location after clicking on the `Raw` button from [this](https://github.com/microsoft/sql-server-samples/blob/master/samples/manage/azure-sql-db-managed-instance/attach-vp

[2019-05-24 19:41] MicahMcKittrick-MSFT commented on #32123
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 19:50] Mike-Ubezzi-MSFT commented on #32110
@srdan-bozovic-msft Did the `attachVPNGatewayAz.ps1` script become deprecated as I am not finding this per the `Note` in the doc. Thank you for any additional details you might be able to provide.

![alt text](https://wtv3.blob.core.windows.net/media/screenshot-(34).png?sv=2018-03-28&sr=b&sig=mk%2B0HYlM90DtAsb8zWeLzmdl42zpBsLwqJKG7k1HYjc%3D&st=2019-05-24T19%3A43%3A08Z&se=2022-05-24T19%3A48%3A08Z&s

[2019-05-24 19:51] myfacilitygithub commented on #31703
@kgremban many thanks and sorry for the confusion. My still question about "output queue" is still there. What is meant for output queue?

thanks

[2019-05-24 19:53] VladimirKhvostov commented on #31411
Saurab,
where do you see the script you mentioned?
Start with https://docs.microsoft.com/en-us/azure/security/quick-encrypt-vm-powershell page and try to get to that script.
Thanks,
--Vladimir

[2019-05-24 19:54] ramankumarlive commented on #31980
The issue is already fixed, please check it out:

https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-copy-managed-disks-vhd?toc=%2Fpowershell%2Fmodule%2Ftoc.json

[2019-05-24 19:54] smoms commented on #31703
@kgremban many thanks and sorry for the confusion. My question about "output queue" is still there. What is meant for output queue?

thanks

[2019-05-24 19:55] SnehaGunda commented on #30030
#please-close

[2019-05-24 19:55] CarlRabeler commented on #31745
#resolved see https://github.com/MicrosoftDocs/azure-docs-pr/pull/77865
@Mike-Ubezzi-MSFT please close

[2019-05-24 19:56] #31980 closed

[2019-05-24 20:00] Alberto-Vega-MSFT commented on #31414
@jishnudantu Have you reached to support or to the email I provided for help?

[2019-05-24 20:01] mike-urnun-msft commented on #32126
Hi @SeanFeldman Thank you for your feedback! We will review and update as appropriate.

[2019-05-24 20:02] mattm310 commented on #32093
Attempted to create a new pool today and got the same error (I know you guys are looking at it)

InvalidTemplateDeployment template validation failed: 'The template parameter 'baseUrl' is not found. Please see https://aka.ms/arm-template/#parameters for usage details.'.

Image source
Gallery

Image OS version
Windows 10 Enterprise multi-session with Office 365 ProPlus

[2019-05-24 20:06] Alberto-Vega-MSFT commented on #31238
Thanks @likidu thanks for the help :)  @wesmc7777 Should we add a link to the repo with the source code in the tutorial?

[2019-05-24 20:12] FernandoGualano commented on #27447
Any update? it's missing that documentation. Thanks!

[2019-05-24 20:29] Alberto-Vega-MSFT commented on #31415
@bhjolly Have you reached out to support? or to the email I provided yet?

[2019-05-24 20:32] Alberto-Vega-MSFT commented on #31892
@lciocci @rezasherafat We will be closing this issue since the conversation will continue offline.

[2019-05-24 20:32] #31892 closed

[2019-05-24 20:35] rsamantaray opened #32133 "Are these metrics available and used by Azure Cost Management?"
W

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c25393b0-948f-414a-4699-db82f9b3eb68
* Version Independent ID: cbb32016-2d50-504d-a862-395a93325511
* Content: [Add extended metrics for Azure virtual machines](https://docs.microsoft.com/en-us/azure/cost-management/azure-vm-extended-metrics#feedback)
* Content Source: [

[2019-05-24 20:35] Alberto-Vega-MSFT commented on #31913
@lciocci Just wanted to confirm that you are unblocked now?

[2019-05-24 20:36] #32116 closed

[2019-05-24 20:37] SnehaGunda commented on #31331
@sajeetharan Thanks for your feedback, I had a chat with Mark. Adding a note to the doc as UDFs, SPs and triggers are not yet supported with ARM template deployments.

We will close this issue if there aren't any further questions.

#please-close

[2019-05-24 20:39] Ccccche opened #32134 "Fails to upload pre-built oms view design file"
Can't upload the view design file, which notify me this is a "Unauthenticated request"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cae98ea-9e50-d614-5dca-5cf87af2db51
* Version Independent ID: ac34e838-5337-f978-1864-2ec4254366b5
* Content: [Monitor Azure SQL Data Sync with Azure Monitor logs](https://docs.microsof

[2019-05-24 20:39] bandersmsft commented on #32133
@rsamantaray The metrics discussed in this article are shown in Cloudyn in Assets > Compute > Instance Explorer. They aren't shown in Azure Cost Management.
#please-close

[2019-05-24 20:40] brjohnstmsft commented on #31995
@rokonec While it is possible to correlate filter criteria across fields of an object in a complex collection, Azure Search does not support correlating full-text search in the same way. What this means is that you can find hotels where some of the room descriptions contain "city view", but those rooms may not necessarily be the rooms that match your other criteria. There are some possible workaro

[2019-05-24 20:41] chadparris commented on #14791
still broken.

[2019-05-24 20:46] YutongTie-MSFT commented on #31795
@ferin08 Could you please send an email to us at Azcommunity@microsoft.com with the link of this thread and also your Azure Subscription ID? We would like to help more. We will close this now since it's not document issue. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-24 20:46] #31795 closed

[2019-05-24 20:46] timsander1 commented on #31976
Hi @koljada, we will add a note for this.  Some sdk's currently support OFFSET LIMIT only within a single partition (this will change very soon). I'll a note and then remove once cross-partition OFFSET LIMIT is in all current sdk versions. Thanks!

[2019-05-24 20:49] Karishma-Tiwari-MSFT commented on #31759
@xujing-ms  @cynthn Do you know who would be the right person to get confirmation on this?

[2019-05-24 20:53] TravisCragg-MSFT commented on #32128
@sbdoroff Thanks for the feedback! You can enable HTTPS with a [custom certificate on Standard Microsoft, Standard Verizon, and Premium Verizon offerings](https://docs.microsoft.com/en-us/azure/cdn/cdn-features). The Note at the top of this page is not correct, and the allowed CAs listed here only apply to the Standard Microsoft offering.

I have assigned the issue to the content author to evaluat

[2019-05-24 20:56] #31331 closed

[2019-05-24 20:58] kgremban commented on #31703
For example, looking at the .NET SDK, you have the SendEventAsync method: https://docs.microsoft.com/dotnet/api/microsoft.azure.devices.client.moduleclient.sendeventasync?view=azure-dotnet. There are multiple constructors, including some that just include the message and some that include the name of an output queue. Whatever name you give to the output in that constructor, you can use in routes t

[2019-05-24 21:02] pjoneninerone commented on #32093
I also tried this earlier today with Image source, Gallery and Image OS version, Windows 10 Enterprise multi-session with Office 365 ProPlus
Tried this evening using Windows Server 2016 Datacenter and the same error

[2019-05-24 21:13] MicahMcKittrick-MSFT commented on #32093
Thanks all. I am getting in touch with the WVD devs to see if there are any known issues. Will update when I have more.

[2019-05-24 21:23] dennisxu2019 opened #32135 "additional info required"
In "Sign in from infected devices"  section it says - This is determined by correlating IP addresses of the user’s device against IP addresses that were in contact with a bot server. How would Microsoft know / compile a big list of IP addresses in contact with bot server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-05-24 21:24] stzaske opened #32136 "Instructions are wrong"
You don't edit AzureSpatialAnchorsActivity.java you edit AzureSpatialAnchorsManager.java lines 29 and 32.  Also please consider updating this sample to be Kotlin instead of Java.  Not many Android developers are using Java any more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e263a867-f6c6-0ac2-baad-57059396e839
* V

[2019-05-24 21:25] bhjolly commented on #31415
I have arranged for someone to contact me via the sales rep who deals with
my company, thanks for the offer of a free support ticket though.

On Sat, 25 May 2019 at 08:30, Alberto Vega <notifications@github.com> wrote:

[2019-05-24 21:30] Alberto-Vega-MSFT commented on #32037
Hi @kartheekakkur Do you have any updates? Would you please share the errors and the step at what you got stuck?

[2019-05-24 21:32] SnehaGunda commented on #32083
@SogoGolf Thanks for your feedback, good to hear that the doc instructions are helpful. After you create the report in Power BI, you can publish it to web and access them from IOS or Android devices. Because these are PowerBI specific content, they are covered in the PowerBI docs, the following links should help you:

* How to publish a report to web: https://docs.microsoft.com/en-us/power-bi/serv

[2019-05-24 21:35] iainfoulds commented on #32063
A doc update to show how to add SSH keys to a VMSS-based cluster has merged and should publish live in the next or hour so.

@jakaruna-MSFT #please-close

[2019-05-24 21:36] #32063 closed

[2019-05-24 21:40] ghanold commented on #32093
Again, it was working fine two days ago, started sometime yesterday.

[2019-05-24 21:42] sbdoroff commented on #32128
Thanks for the update, Travis!

On Fri, May 24, 2019 at 3:53 PM TravisCragg-MSFT <notifications@github.com>
wrote:

--
Best,
    Steve Doroff

[2019-05-24 21:43] dennisxu2019 opened #32137 "classification required on using sign-in risk as a condition in conditional access"
If 4 of the 6 risk events are detected offline how would I use that as a condition, in conditional access? It will be helpful to break all 6 risk events down and discuss how they are used as a condition in conditional access.

1. user with leaded credential. I guess the offline time-frame refers to the time window from when Microsoft is made aware of a compromised credential to the time that the i

[2019-05-24 21:46] BJD1997 commented on #32093
Just found another [thread](https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/Template-validation-error-when-creating-host-pool/m-p/642533) on this issue

[2019-05-24 21:48] srdan-bozovic-msft commented on #32110
attachVPNGateway.ps1 uses Az Module now and is changed to run both on windows and linux. @Mike-Ubezzi-MSFT could you pleas help update the document?

[2019-05-24 21:49] MicahMcKittrick-MSFT commented on #32093
Thanks @BJD1997

I just got confirmation that their is an issue deploying via the portal.

Current work around is deploy via GitHub template.

I requested an ETA on when a fix will be deployed but still waiting to hear back. Will continue to update.

[2019-05-24 21:51] dennisxu2019 opened #32138 "the use of sign in risk as a condition in conditional access"
This page states "Currently, most risk events are detected offline in a post-processing operation after the risk event has occurred."

Does this mean I can not use those offline detected risk events as a condition, in conditional access policy? Because conditional access require real-time inline detection and take action right at that moment when user loges in.

---
#### Document Details

⚠ *Do no

[2019-05-24 21:53] #31994 closed

[2019-05-24 22:00] Mike-Ubezzi-MSFT commented on #32082
The connection string details need to be updated and there is now a partition key required.

**config.js**

config.endpoint = "wss://miubezzi-gremlin.gremlin.cosmosdb.azure.com:443/gremlin";
config.primaryKey = "<some_key>";
config.database = "sample-database"
config.collection = "sample-graph"

`node app.js `

Error running query...
Error: Server error:

ExceptionType : GraphRuntimeException
Exce

[2019-05-24 22:01] Karishma-Tiwari-MSFT commented on #32106
@dzimka You would need 'owner' permissions to be able to be create roles and role assignments, as described in [this doc](https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles#azure-rbac-roles).

[2019-05-24 22:03] Mike-Ubezzi-MSFT commented on #32110
@srdan-bozovic-msft  Perfect, thanks! I will make an update to have reviewed.

[2019-05-24 22:05] aisog opened #32140 "Unable to browse Storage Account"
Hi, no matter if I run Storage Explorer with or without --ignore-certificate-errors flag and if I import all certificate chain to the Storage Explorer or missed them I'm still getting the error:
"Unable to retrieve child resources"
"The value for one of the HTTP headers is not in the correct format"
I'm connected to the AzureStack environment

---
#### Document Details

⚠ *Do not edit this section

[2019-05-24 22:06] dlepow commented on #31690
One other suggestion would be to batch-create your container instances in container groups if your scenario allows that. You could do this through a YAML file or Resource Manager template. There's currently a limit of 60 instances per container group.

[2019-05-24 22:06] Karishma-Tiwari-MSFT commented on #31740
@cbailiss Ther is no charge for DNS name label. There is a separate service - Azure DNS, which allows you to host your DNS domain in Azure, so you can manage your DNS records. The pricing for Azure DNS is provided [here](https://azure.microsoft.com/en-us/pricing/details/dns/).

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will re

[2019-05-24 22:06] #31740 closed

[2019-05-24 22:06] femsulu commented on #32125
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-24 22:06] #32125 closed

[2019-05-24 22:08] SaurabhSharma-MSFT commented on #31522
@ba-johnson We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-24 22:08] #31522 closed

[2019-05-24 22:15] femsulu commented on #32118
@piotrzaremba Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-24 22:15] JulianHayward commented on #7650
for Secrets cross-subscription seems to work fine. For Certificates however it fails with:

"The SubscriptionId:\"<subIdVm>\" of the request must match the SubscriptionId \"<subIdKv>\" contained
in the Key Vault Id."

Template:

"osProfile": {
    "computerName": "[parameters('virtualMachineName')]",
    "adminUsername": "[parameters('adminUsername')]",
    "adminPassword": "[parameters('adminPass

[2019-05-24 22:15] igormusinov commented on #31690
It means this:
1. Create container
2. wait for its result
3. repeat 1 step
I don't need to create more than 1 container at once.

For example, if a container runs for 30s-60s after starting I will spend 60-90s for running the container with ACI. And if I want launch it 1000 times, it will be a problem.

[2019-05-24 22:18] dalton478 commented on #24106
Please provide the sample code for .NET 4.7.1 projects.

[2019-05-24 22:20] Karishma-Tiwari-MSFT commented on #32119
@donrolling Can you please confirm you are referring to thsi script: https://github.com/Azure/azure-docs-powershell-samples/blob/master/container-registry/service-principal-create/service-principal-create.ps1

[2019-05-24 22:20] SaurabhSharma-MSFT commented on #31321
@jberg-ppi The product team has identified the bug where the text “uninstalling” is incorrectly being shown when installing solutions, and it is expected to be deployed and visible to customers at the start of next week.
For your second question -
Configuring collection of Windows Firewall logs is a 2-step process – installing the solution (which is what the you did in the screenshots below) and e

[2019-05-24 22:22] TravisCragg-MSFT commented on #32097
@chainhead This is possible, but it has some limitations. You can send the traffic to your VNET in the Azure Datacenter over a WAN or S2S VPN, but it must go through a NVA inside your Azure VNET.

The NVA will then send the traffic to your IoT Hub. There is currently [no Service Endpoint](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview) for IoT Hub

[2019-05-24 22:23] femsulu commented on #32112
@tripolii31 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-24 22:24] femsulu commented on #32096
@trevorlittle Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-24 22:26] mrbullwinkle commented on #27172
This doc was no longer needed and has been retired.
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-05-24 22:27] msdpalam opened #32142 "Auto-failover group for Azure SQL DB Managed Instance available for all service tier?"
I was reviewing the doc and was a bit confused on availability of Auto-failover group for Azure SQL DB Managed Instance in different business tiers. It doesn't specially say it is available for all service tier. In my opinion adding some information on which business tier it is available would help the readers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-05-24 22:27] SnehaGunda commented on #31976
@koljada I added a sentence to the doc that says it's supported with single partition only. We will remove when it's available for cross partitions too.

We will close this issue if there aren't further questions.

#please-close

[2019-05-24 22:31] mike-urnun-msft commented on #30768
Hey @yokawasa

I've gone through the steps on this documentation and confirm that they are still valid and produce the expected results which include the successful & automatic deployment from DockerHub -> Azure Functions upon an update occurred on DockerHub. Looking at the test procedure that you provided, it appears that you're specifying a `Consumption plan` rather than an `App Service plan` wh

[2019-05-24 22:34] dkamstra commented on #32096
Thanks for pointing this out. The pull request with the fix is being merged.

[2019-05-24 22:34] Adam-Smith-MSFT commented on #11982
@sylr Could you please post this question in the forums for Azure Storage ? It would have a higher visibility on forums since this is not an issue with the documentation itself. Forum link is: https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata Or in stackOverflow We'll follow up on it in there.

Thanks,
Adam

[2019-05-24 22:39] diberry commented on #24640
@secbug There are no size requirements or recommendations. What issues have you run into with this?

[2019-05-24 22:42] diberry commented on #29843
@angie4u This issue is covered in the [troubleshooting guide](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/troubleshooting#my-luis-bot-isnt-working-what-do-i-do)
#please close

[2019-05-24 22:43] femsulu commented on #32096
FYI @trevorlittle, updated the doc to include "Manage Actions" as a possible option in the Portal. The doc update will be reflected soon. Thanks again for catching this.

[2019-05-24 22:43] diberry commented on #30029
@YutongTie-MSFT This feature is behaving as expected and documented. #please-close

[2019-05-24 22:44] femsulu commented on #32096
hi @dkamstra just pushed a fix for this as well. should I undo the PR I just created?

[2019-05-24 22:45] #27172 closed

[2019-05-24 22:45] diberry commented on #8247
@Movarda - please log a [bug for the bot framework](https://github.com/Microsoft/botbuilder-dotnet) since that is where the problem occurs. #please-close

[2019-05-24 22:45] diberry commented on #30478
#please-close

[2019-05-24 22:46] femsulu commented on #32069
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-24 22:46] #32069 closed

[2019-05-24 22:47] diberry commented on #30658
@gjswalling This doc was refreshed today with a single scenario. #please-close

[2019-05-24 22:48] diberry commented on #31187
@ram-msft Please assign this issue to @edjez.

[2019-05-24 22:48] Alberto-Vega-MSFT commented on #32136
@stzaske Thanks for your valuable feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-24 22:49] SnehaGunda commented on #31781
@HuaTang92 the above PR fixes the issue, the changes will be live early next week. We will now close this issue.

#please-close

[2019-05-24 22:53] dkamstra commented on #32096
Yes

[2019-05-24 22:56] Alberto-Vega-MSFT commented on #32142
@msdpalam Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-24 22:57] ohwellwhatever opened #32143 "Documentation needs updating for Standard Load balancer Sku"
Clusters created through the portal are still created with Basic LB Sku, but Basic has no SLA.  For production workloads, Standard LB Sku should be used.  When creating with a Standard LB Sku, the internal and external load balancer steps are innacurate.  The "internal" node type still needs an additional external load balancer with a port 443 rule and outbound traffic allowed on 443, otherwise de

[2019-05-24 23:01] Alberto-Vega-MSFT commented on #32140
@aisog Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 23:04] Alberto-Vega-MSFT commented on #32143
@ohwellwhatever Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 23:09] Alberto-Vega-MSFT commented on #32138
@dennisxu2019 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 23:11] Alberto-Vega-MSFT commented on #32131
@mmalone Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 23:13] Alberto-Vega-MSFT commented on #32134
@Ccccche Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 23:15] Alberto-Vega-MSFT commented on #32137
@dennisxu2019 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 23:16] Alberto-Vega-MSFT commented on #32135
@dennisxu2019 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-24 23:17] pradorodriguez commented on #32093
Same here!!

[2019-05-24 23:17] Alberto-Vega-MSFT commented on #32133
@rsamantaray Thanks for reaching out. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-24 23:17] #32133 closed

[2019-05-24 23:21] Mike-Ubezzi-MSFT commented on #32082
@SnehaGunda and @LuisBosquez This tutorial does not complete successfully as documented. There is one update to the doc and possible updates to the Git project.

[2019-05-24 23:36] clmccart commented on #30960
I will be sure to close it once my PR is accepted :)

[2019-05-24 23:58] GraemeMalcolm opened #32144 "Missing try statement"
The code sample to retrieve an answer needs a "try" statement at the beginning to match the "except" statement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b2163b-b0c8-1976-a753-421b8b17f54b
* Version Independent ID: dfb1d831-867d-50e0-cfdb-0226dec7a9a5
* Content: [Quickstart: Get answer from knowledge base - REST

[2019-05-25 00:05] Mike-Ubezzi-MSFT commented on #31768
@unacao I am looking for all details in how you are running the query, as it helps paint a better picture of the issue. The supported [Array Expressions](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-feature-support#array-expressions) are as follows:

- $arrayElemAt
- $concatArrays
- $filter
- $indexOfArray
- $isArray
- $range
- $reverseArray
- $size
- $slice
- $in

I do not think the d

[2019-05-25 00:06] omartin2010 commented on #32124
Hi,
I didn't realize the comments on docs didn't include the URL. The specific one is https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-extend-hadoop-virtual-network?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fhdinsight%2Fhadoop%2FTOC.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json#networktraffic.

In particular, this warning "HDInsight does not supp

[2019-05-25 00:08] Mike-Ubezzi-MSFT commented on #31775
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-25 00:11] gabrielbarbosasouza opened #32145 "[Error in the Number of VM's]"
In the section "Create-Backend-Servers", the document says: "In this example, you create three virtual machines to be used as backend servers for the load balancer. " But following the instructions, we actually create two virtual machines to be used as backend servers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aa

[2019-05-25 00:15] Karishma-Tiwari-MSFT commented on #30997
@mgraff @duckie I am also seeing 'The selected image does not support cloud init.' when I choose one of these marketplace images, for example,  CentOS 7.6

![image](https://user-images.githubusercontent.com/20851144/58362006-7e677d00-7e47-11e9-9524-fdec7778f427.png)

I am reaching out to Product teams and will share the updates here.

[2019-05-25 00:19] Mike-Ubezzi-MSFT commented on #31778
@KeiroKamioka0000 The `DBCC PDW_SHOWSPACEUSED (Transact-SQL)` cmd will output the follwoing:

It will not detail all the backups, if that detail is needed as well? If so, you need to use the Azure Portal to view metrics with regard to total spase consumed, and other statistics that T-SQL would not have access to.

[2019-05-25 00:19] Mike-Ubezzi-MSFT commented on #31778
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-25 00:19] #31778 closed

[2019-05-25 00:20] Cloudmersive commented on #31959
OK thanks but the product itself is broken because it took away the single line /mnt command from the UI.

[2019-05-25 00:24] Mike-Ubezzi-MSFT commented on #31838
@msdpalam If there are additional examples that you feel would be worth contributing, the Microsoft Contributors Guide ([Link](https://docs.microsoft.com/en-us/contribute/)) details how you can make a contribution. The tutorial is intended to be a very specific set of steps to help get introduced to the functionality and having additional examples to extend the tutorial would be very helpful.
We w

[2019-05-25 00:24] #31838 closed

[2019-05-25 00:32] MarileeTurscak-MSFT commented on #31969
I am not certain whether this is a bug and have reached out to the product team to check. @sbiasotto

[2019-05-25 00:33] MarileeTurscak-MSFT commented on #31986
@kalyanb9119 since this is a product question and not a document issue, please move this question to MSDN so we can troubleshoot there and I will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-05-25 00:33] #31986 closed

[2019-05-25 00:37] hrasheed-msft commented on #32080
https://github.com/MicrosoftDocs/azure-docs-pr/pull/77928

[2019-05-25 00:42] hrasheed-msft commented on #32080
@lukeb1961 Thanks for bringing it to our attention. Resolved in linked PR.

[2019-05-25 00:42] hrasheed-msft commented on #32080
#please-close

[2019-05-25 01:52] pkcsf commented on #28849
This is known issue, see https://github.com/microsoftgraph/powershell-intune-samples/issues/55

[2019-05-25 02:26] mikedeatworld opened #32148 "The last two sentences are unclear"
Hello,

The last two sentences are unclear and seem to be out of order.

"If the target network chosen is the failover vnet” and 2nd point to say “If the target network chosen is different from the failover vnet but has the same subnet range as failover vnet”

Can we update this to make this statement more clear?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-05-25 02:30] #31959 closed

[2019-05-25 02:33] YutongTie-MSFT commented on #32144
@GraemeMalcolm Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-25 02:43] Mike-Ubezzi-MSFT commented on #31768
@unacao If there is a specific functinality, please feel free to use the Azure Cosmos DB Uservoice [forum](https://feedback.azure.com/forums/263030-azure-cosmos-db?query=Array%20Index%20Position) to provide product requests and enhancements.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-25 02:43] #31768 closed

[2019-05-25 03:16] femsulu commented on #31722
@ponja01 all the data you need should be in the referenced doc/content. Please let us know if you run into any issues and we'll be happy to assist.

[2019-05-25 03:16] #31722 closed

[2019-05-25 03:35] femsulu commented on #31755
@pvrk can you assist? checked the [documented PS references](https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/?view=azps-2.1.0) and don't see any cmds specific to system state. but [this ](https://azure.microsoft.com/en-us/blog/windows-server-system-state-backup-azure-ga/)blog, confirms full PS support for system state backup.

[2019-05-25 04:30] DarqueWarrior opened #32149 "Unclear on where I can inject"
I followed the directions and ran into the same missing packages issues the others mentioned. But the reason for this comment is I had to change the code a lot.
I thought after following I would just be able to add the parameter to my function call. But I kept getting binding errors. So I figured it must be constructor injection. That required me to remove the static keyword from my function and c

[2019-05-25 05:11] AshokPeddakotla-MSFT commented on #32148
@mikedeatworld Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-25 05:13] SubhashVasarapu-MSFT commented on #32145
@gabrielbarbosasouza , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-05-25 05:13] AshokPeddakotla-MSFT commented on #32149
@DarqueWarrior Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-25 05:20] romankiss commented on #22798
@rezasherafat, I have tested (included also for new streams feature) and it works with device and multiple modules.

Thanks
Roman

[2019-05-25 06:24] msrini-MSFT commented on #31998
@ctahok Any update on this issue?

[2019-05-25 06:45] yuriwoof opened #32152 "Cluster was created with an API version 2018-08-01-preview, which does not support multi agent pool feature. API version should be equal or greater than 2019-02-01."
Created the multiple node pool cluster.
I got the titled error at running "az aks nodepool add" operation.

Azure CLI version:
 2.0.64 and 2.0.65

Operation:

[code]

Debug log:

As you can see, the specified version (2019-04-01) is higher than the required version (2019-02-01).

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-05-25 06:55] KalyanChanumolu-MSFT commented on #31976
@koljada We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. 

[2019-05-25 06:55] #31976 closed

[2019-05-25 07:42] rollandjb commented on #31535
Thank you. I’ve done as requested

[2019-05-25 08:04] koljada commented on #31976
Hi all!
Thank you)

[2019-05-25 08:34] mike-urnun-msft commented on #31066
Hi @galrito Thanks for pointing this out and providing your feedback.

It does say, towards the end of the same section, that: "The URI must be percent-encoded." and links to `UrlEncode` doc. However, this statement may not have been as discover-able & legible so I've gone ahead and created a PR that improves its formatting (moved it to a new line and turned it into bold text). If you have any fur

[2019-05-25 08:34] #31066 closed

[2019-05-25 08:41] thelements opened #32153 "Node.js FCM"
I am trying to implement Azure notification hub with Node.js.
I am following [this link](https://docs.microsoft.com/en-in/azure/notification-hubs/notification-hubs-nodejs-push-notification-tutorial).
In the docs it asks to use GCM for android. But GCM is deprecated almost last year.
Also, I haven't find any docs to implement the same with FCM.

When I user Azure SDK. Many of the packages are depre

[2019-05-25 08:49] LValla opened #32154 "deployment_config = gpu_aks_config misprint?"
Could it be that at https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-inferencing-gpus#deploy-the-model the deplyment config is:
deployment_config=gpu_aks_config (previously initalized)
Instead of
deployment_config=aks_config ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dc42c56-1798-5f0

[2019-05-25 08:52] galrito commented on #31066
Hi @mike-urnun-msft, thank you for your reply.

What made me confused in this issue is that the snippet for creating the SAS is:
`SharedAccessSignature sig=<signature-string>&se=<expiry>&skn=<keyName>&sr=<URL-encoded-resourceURI>`.

Notice it has `<URL-encoded-resourceURI>`.

However, the one for generating the `signature-string` is:
`SHA-256('https://<yournamespace>.servicebus.windows.net/'+'\n'+

[2019-05-25 09:05] mike-urnun-msft commented on #31497
Hi @ToMakeSense Thanks for reporting this! I've gone ahead and created a PR that takes care of #2-4 on being consistent.

As for #1, we will proceed to assign this issue to the author to review further and take the right course of action.

[2019-05-25 09:13] julesman101 opened #32155 "Please rename "Platform As A Service (PaaS) -version1" to "Azure Cloud Services""
The section titled "Supported services and scenarios" makes reference to "PaaS V1".  There is no Azure service called "PaaS V1", so I recommend you use the correct service name (as defined here :https://azure.microsoft.com/en-gb/services/cloud-services/) which is "Azure Cloud Services".   Thanks... JD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-05-25 09:15] mhofmann-hb commented on #32093
I can´t find Repo on Github, can someone make the Template available?

[2019-05-25 09:22] mitanshu001 commented on #16614
@jpetitte I know its late. But I am trying to do the same thing for 2 days. I have tried searching for the solution and I am lost. Can you please help me out?

[2019-05-25 09:32] #31497 closed

[2019-05-25 10:34] shimon893 commented on #32115
@Alberto-Vega-MSFT here it is: https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#data-factory-contributor
also it is about adding that to role itself as it is newer thing then that role definition and probably should be added

[2019-05-25 11:01] BJD1997 commented on #32093
@mhofmann-hb I think I found the Repo on Github: [Link](https://github.com/Azure/RDS-Templates/tree/master/wvd-templates/Create%20and%20provision%20WVD%20host%20pool)

[2019-05-25 11:03] WernerDS commented on #28750
Also stuck on this.
![Screenshot 2019-05-25 at 13 02 57](https://user-images.githubusercontent.com/13958753/58368440-824dda80-7eed-11e9-8344-1f4e754cd651.png)

[2019-05-25 11:06] robdavey555 opened #32156 "MIssing $"
This line is missing the $ before PASSWORD_WIN

PASSWORD_WIN="P@ssw0rd1234"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70aec-9ebe-5655-6657-5c171de374b1
* Version Independent ID: c9eb35c8-8703-511b-987b-e2a441be2e47
* Content: [Preview - Create a Windows Server container on an Azure Kubernetes Service (AKS) clus

[2019-05-25 11:11] judyanndixon commented on #32093
That is the one I found too.

[2019-05-25 11:12] oehm-smith commented on #32070
Also see https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/728#event-2366177209 i filed shortly after.

[2019-05-25 11:13] BJD1997 commented on #32093
@judyanndixon @mhofmann-hb I can confirm that this works. Currently deploying :)

[2019-05-25 11:31] smoms commented on #31703
ok - so you mean that if i use a name like "my_output" in that constructor then i can use also that name in the Edge route, right?
Also, what you have shared is a method of the ModuleClient lib which is for modules, whereas for leaf device i would not use that lib but rather the DeviceClient.SendEventAsync which has no constructor with output queue params. What is your thought? thanks

[2019-05-25 11:57] AshokPeddakotla-MSFT commented on #32152
@yuriwoof Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-25 12:00] AshokPeddakotla-MSFT commented on #32153
@thelements Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-25 12:03] AshokPeddakotla-MSFT commented on #32154
@LValla Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-25 12:05] AshokPeddakotla-MSFT commented on #32155
@julesman101 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-25 12:14] ctahok commented on #31998
Hi Karthik,

I flagged you the issue with contradictions in two Microsoft articles and
you are asking updates from me?

Regards, Ilkin

On Sat, May 25, 2019 at 7:24 AM KARTHIK SRINIVAS <notifications@github.com>
wrote:

[2019-05-25 12:25] msrini-MSFT commented on #31998
@ctahok , the article which you referred is 3 years old. As of today there is a new feature where VPN over express route is possible. Always refer to docs.microsoft article which is updated. Blogs might be outdated.

[2019-05-25 13:03] sufi1321 opened #32158 "Dynamic Membership Rules for OSVersiontype"
I am unable to filter the iOS devices using dynamic membership rule, i am following the article it has asked to do "https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-dynamic-membership"

What am i trying to achieve ?

Can you advise me what advanced rule should i try, i have tried testing the below rule but it is not giving the required results.

(device.deviceOSTyp

[2019-05-25 13:17] chetan-makvana commented on #31561
You can browse it with this url for testing purpose <website url>/admin/UI/index.html

[2019-05-25 13:24] jpetitte commented on #16614
@mitanshu001 no worries. I should be able to get to this tomorrow.

[2019-05-25 13:35] theheatDK opened #32159 "This note uses the legacy App registration"
Hi,
This note uses the legacy App registration. When you try to do this in the Portal you are told:
"App registrations (Legacy) will be replaced and no longer available starting May 2019. Go to the new and improved App registrations (now Generally Available)."

It would be nice if it is updated to use the GA Portal solution :-)
Regards Peter

---
#### Document Details

⚠ *Do not edit this section.

[2019-05-25 13:53] theheatDK commented on #32159
Sorry. This is not true.

[2019-05-25 13:53] #32159 closed

[2019-05-25 14:11] AshokPeddakotla-MSFT commented on #32156
@robdavey555 Thanks for reporting the issue. PR has been created to update the doc. Changes will go live EOD. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.
We will gladly continue the discussion and we will reopen the issue.

[2019-05-25 14:11] #32156 closed

[2019-05-25 14:12] donrolling commented on #32119
Yes, this script

On Fri, May 24, 2019, 5:20 PM Karishma Tiwari - MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

@donrolling<https://github.com/donrolling> Can you please confirm you are referring to thsi script: https://github.com/Azure/azure-docs-powershell-samples/blob/master/container-registry/service-principal-create/service-principal-create.ps1

—
You are receiving

[2019-05-25 14:14] AshokPeddakotla-MSFT commented on #32158
@sufi1321 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-25 14:24] RohitMungi-MSFT commented on #30478
@horiacristescu We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-25 14:24] #30478 closed

[2019-05-25 14:55] VaperWare commented on #32093
@MicahMcKittrick-MSFT which github template?

[2019-05-25 15:14] fhe-fr commented on #31872
Hi,
Herer:
    "$edgeHub": {
      "properties.desired": {
        "schemaVersion": "1.0",
        "routes": {
          "SamplePythonModuleToIoTHub": "FROM /messages/modules/SamplePythonModule/outputs/* INTO $upstream",
          "sensorToSamplePythonModule": "FROM /messages/modules/tempSensor/outputs/temperatureOutput INTO BrokeredEndpoint(\"/modules/SamplePythonModule/inputs/input1\")"

[2019-05-25 15:26] fhe-fr commented on #32108
Hi,
I'm using an ubuntu OS.
At start up there is no error:
administateur@edge-vm-ai:/etc/luis/output/luis/9e250f3e65eb$ iotedge list
NAME                                                  STATUS           DESCRIPTION      CONFIG
LanguageUnderstandingContainerAzureCognitiveServices  running          Up a day         mcr.microsoft.com/azure-cognitive-services/luis:latest
edgeHub