[2022-04-19 02:33] aramchandra commented on #91692
This page talks about 2 new patterns in the table, but there are no 2 patterns as both the lines indicate the same connectivity option. I think there is a mistake in that table and vnet-2-vnet should be blank to represent that there is no connectivity between vnets as per the requirement.

[2022-04-19 02:58] SumanthMarigowda commented on #91684
@cassianodb1908 Can you please provide more information, what exactly are you looking to make changes in this document

[2022-04-19 03:18] GitaraniSharma-MSFT commented on #91314
@scaramushe , could you please provide the requested information?

[2022-04-19 03:59] SamHard opened #91693 "Azure.Search.Documents documentation suggests deprecated classes"
There seem to be some left-over class names on this page from the "Microsoft.Azure.Search" namespace, especially in the "Load an index" section.  For example, the "Note" below the code sample references `IndexBatch.New`, and the paragraph below that talks about how to handle the `IndexBatchException`, and neither of those classes exist under the "Azure.Search.Documents" namespace.

I was particula

[2022-04-19 04:03] ram-msft commented on #91686
@owynrichen Thanks for the question. We are investigating the issue and will update you shortly.

[2022-04-19 04:38] amanmcse commented on #91691
@J227668 Thank you for your feedback. We will investigate and update the thread further.

[2022-04-19 04:47] SnehaAgrawal-MSFT commented on #91693
@SamHard Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-19 04:55] SwathiDhanwada-MSFT commented on #91403
@maniaX1 Yes, the agents will be installed. As mentioned earlier, Microsoft only supports the list of operating systems which are mentioned in the Azure docs. If there are any issues that are risen for unsupported operating systems, we will not be able to assist you in such scenarios.

Regarding roadmap, I don't much information or ETA as of now. I will update this thread once if I have an update

[2022-04-19 04:55] #91403 closed

[2022-04-19 05:04] mcasalaina opened #91694 "Code sample is missing a line"
[Enter feedback here]

The code sample is missing the line where document_analysis_client is actually created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b94fc7c6-174c-4e54-d6a9-555cb0f11057
* Version Independent ID: 87e95656-6e98-7e29-74ac-2bb287e54711
* Content: [Quickstart: Form Recognizer Python SDK (beta) - Az

[2022-04-19 05:20] RamanaSwaroop opened #91695 "Missing Static Web App DNS Zone configuration"
In the table that lists private DNS zone information, please add DNS zone information for Azure Static Web Apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Content: [Azure Private Endpoint DNS configuration](https:

[2022-04-19 05:34] yikeren1022 opened #91696 "please considering adding metadata list to this page"
[Enter feedback here]
hi team, I got a request from cx Unisys Japan, that they want us to add the metadata list for all azure data resource
thank you in advance!
・Azure Blob Storage

・Azure Cosmos DB

・Azure Data Lake Storage Gen2

・Azure Database for MySQL

・Azure Database for PostgreSQL

・Azure 専用SQLプール

・Azure SQL Database マネージド インスタンス

・Azure Synapse Analytics

---
#### Document Details

⚠ *Do

[2022-04-19 05:42] RamanaSwaroop opened #91697 "Managed Functions Clarification"
When functions are deployed by Azure Static Web app, is it deployed in the same Azure region as the Static Web app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35afa1cb-f318-7126-c6e6-e75f580f1cce
* Version Independent ID: 45329936-9959-2cfb-8108-179f9fbb4382
* Content: [API support in Azure Static Web Apps with Azu

[2022-04-19 05:49] asukumar22 opened #91698 "Please add the step for registering Private Endpoint NSG feature as it is a pre-requisite before enabling network policies on private endpoint."
Please add the step for registering the Private Endpoint NSG feature as it is a pre-requisite before enabling network policies on private endpoint subnet.
Register-AzProviderFeature -FeatureName AllowPrivateEndpointNSG -ProviderNamespace Microsoft.Network

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27e73372-f414-57f

[2022-04-19 05:51] AnuragSharma-MSFT commented on #91306
@Marco-Santoni Thanks for replying back. This is being assigned to the content author to evaluate and update as appropriate.

[2022-04-19 05:53] AnuragSharma-MSFT commented on #91488
@xmasteron Awaiting your response on this.

[2022-04-19 06:00] GitaraniSharma-MSFT commented on #91692
@aramchandra , thank you for your feedback. We have assigned this to the content owner/author for review.

@cherylmc , for your review.

[2022-04-19 06:02] GitaraniSharma-MSFT commented on #91695
@RamanaSwaroop , thank you for your feedback. We'll review this and get back to you shortly!

[2022-04-19 06:05] nicolaszhang commented on #91478
any update @Grace-MacJones-MSFT ?

[2022-04-19 06:09] GitaraniSharma-MSFT commented on #91698
@asukumar22 , thank you for your feedback. This requirement is already mentioned in the private preview page of NSG and UDR support for Private endpoints and the link is added to this doc in the Important section.

<img width="425" alt="image" src="https://user-images.githubusercontent.com/67630903/163936937-577cbe28-6ef0-4367-85dd-271fca236d9f.png">

Link in the Important section : [Public previe

[2022-04-19 06:09] #91698 closed

[2022-04-19 06:34] asukumar22 commented on #91698
Thanks for the update! Sounds good.

Thanks,
Aarthi.S

From: Gitarani ***@***.***>
Sent: Monday, April 18, 2022 11:09 PM
To: ***@***.***>
Cc: Aarthi ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Please add the step for registering Private Endpoint NSG feature as it is a pre-requisite before enabling network policies on private endpoint. (Issue #91698)

@asukumar22<https://nam0

[2022-04-19 06:50] danwatford commented on #91538
Hi @MicrosoftGuyJFlo ,

Answering here rather than by email as I think a lot of people have been confused by this topic, evidenced by the number of other issues raised previously.

I think it is a good idea to draw a distinction between Backup Administrator Accounts and the 'full-blown' Emergency Access Accounts as described on the linked-to page.

Perhaps the confusion can be mitigated another wa

[2022-04-19 07:22] Givary commented on #91691
@J227668 Thank you for raising this, checking on this and will update my response.

[2022-04-19 07:26] kengaderdus commented on #91468
@shashishailaj

Thank you for your feedback and patience. We're testing the scenario and will get back once we've something.

[2022-04-19 07:35] vermeirbart opened #91699 ".NET Core 6.0 (Long-time support) is mentioned"
Point 4 mentions:
"Select .NET Core 6.0 (Long-term support)."
while the screenshot mentions:
".NET 6.0 (Long-term support)."

![image](https://user-images.githubusercontent.com/79979365/163949820-9cf77568-ae46-4544-b75e-a2285b49feb8.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e750b6-a84

[2022-04-19 07:39] Abinawan opened #91700 "Review + Create ISSUE"
After i click on review+create the page becomes blank and doesnt load.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a7fc4-328a-e90d-29db-92a91aa1b2bd
* Content: [Quickstart - Create a Windows VM in the Azure portal - Azure Virtual Machines](https://doc

[2022-04-19 07:42] CHEEKATLAPRADEEP-MSFT commented on #91696
@yikeren1022  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the details.

[2022-04-19 07:52] kengaderdus commented on #91504
@Nagendracv

Do you've specific business needs that requires you to use legacy password reset user flow?

[2022-04-19 08:13] kengaderdus commented on #89295
@saeedalhamed

This is very clear and thank you for taking time for write this response. We've opened a work item to track this issue internally. We'll close this issue now. #please-close.

[2022-04-19 08:13] #89295 closed

[2022-04-19 08:21] Jessie0008 opened #91701 "Are there more AI application scenarios?"
[Enter feedback here]
Are there more AI application scenarios?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a725f38-4112-1a82-13d2-1428e21081ef
* Version Independent ID: 722130a1-fd9a-b01f-7a96-12dc3969dca4
* Content: [What are Azure Applied AI Services? - Azure Applied AI Services](https://docs.microsoft.com/en-au/

[2022-04-19 08:40] SumanthMarigowda commented on #91680
@GaneshMSFT Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-19 08:41] Givary commented on #91471
@darioporru I am investigating on this and will update my response.

[2022-04-19 08:51] hansmbakker opened #91702 "Prerequisites links to SQL DW tutorial with SQL authentication but Microsoft account authentication is assumed later"
In the overview of the [Analysis Services Tabular Model tutorial](https://docs.microsoft.com/en-us/analysis-services/tutorial-tabular-1400/as-adventure-works-tutorial?view=asallproducts-allversions), it is listed that you need to have

The link points to a tutorial where a SQL Pool is created using SQL Authentication. However, in the 2nd step of the [Tabular Model tutorial](https://docs.microsoft.

[2022-04-19 08:58] gvanteylingen opened #91703 "Correction on and more elaborative intro"
This feature needs a better intro/explanation. I suggest:

Showmount on NFS clients has historically been how users can see exported file systems on an NFS server. By default, Azure NetApp Files enables showmount functionality to show exported paths but does not list the allowed client access. Instead, showmount displays that (everyone) has access. The setting allows NFS clients can use the showmo

[2022-04-19 09:36] sopelt commented on #86361
Any updates/improvements on this @Grace-MacJones-MSFT ?

I stumbled across https://github.com/Azure/azure-cli/issues/13397#issuecomment-702987049 which is at least an indication that this might work via bicep ;)

Kind regards.

[2022-04-19 09:41] PriyankaRudramaina commented on #91700
Hello @Abinawan,

Thank you for reporting this issue. We have seen a few different customers with same issue reported on microsoft Q&A platform. Please follow the below thread for further updates.
https://docs.microsoft.com/en-us/answers/questions/814398/index.html

**Note**:
This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to c

[2022-04-19 09:41] #91700 closed

[2022-04-19 09:45] dmc-tech opened #91705 "Please include release notes so there is consistency with the rest of the product set."
It would be really useful to have a page for release notes ( agent versions, when they were released, what has been fixed in each version of the agent).  For some customers, this is a necessity.

This will bring some uniformity across the Azure Arc product set.

[](https://docs.microsoft.com/en-us/azure/azure-arc/servers/agent-release-notes)

[](https://docs.microsoft.com/en-us/azure/azure-arc/dat

[2022-04-19 09:45] SnehaAgrawal-MSFT commented on #91697
@RamanaSwaroop Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-19 09:47] SnehaAgrawal-MSFT commented on #91699
@vermeirbart Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-19 10:12] SwathiDhanwada-MSFT commented on #91101
@vipul0517 I have checked with product team. As of now, there is no specific limitation for scheduled jobs.

[2022-04-19 10:15] SnehaAgrawal-MSFT commented on #91631
@jchalfant Thanks for asking question! Could you please elaborate your ask as I can see settings.py is hyperlinked with this link: https://github.com/Azure-Samples/msdocs-django-postgresql-sample-app/blob/main/azureproject/settings.py

[2022-04-19 10:22] DaSenf1860 opened #91707 "Include in the documentation which features are NOT supported"
Hi,

could you include in the article which features are not supported?
While it´s nice to see what is supported it would be a great help for customers to see red flags when they cannot use private endpoints.

It´s neither directly mentioned here nor in the troubleshooting guide that the Data Migration Assistant can´t upload reports to Azure Migrate.
This created some confusion with a customer.

-

[2022-04-19 10:28] lilumdaru opened #91708 "Usage of word 'telemetry' is missleading / Q: will telemetry be supported in future?"
Hi,

in https://docs.microsoft.com/en-us/azure/digital-twins/how-to-use-data-history?tabs=cli#verify-with-a-sample-twin-graph you write that telemetry data can be historized using Azure Digital Twins data history. In the DTDL there is a difference between 'property' and 'telemetry'.

The sample graph generator (https://explorer.digitaltwins.azure.net/tools/data-pusher) uses in it's DTDL Models onl

[2022-04-19 10:32] ShaikMaheer-MSFT commented on #91702
@hansmbakker Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-04-19 10:40] ShaikMaheer-MSFT commented on #91419
@Tao4free "ADFPipelineRun" table in Log analytics workspace has column called Status, which we can use to query failed pipeline runs. Kindly check below link to know details of "ADFPipelineRun" table schema.
https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/adfpipelinerun

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarification

[2022-04-19 10:40] #91419 closed

[2022-04-19 11:12] jpaiblog opened #91709 "Outbound configuration requirements should include the service tag AzureFrontDoor.FirstParty"
[Enter feedback here]
The service tag AzureFrontDoor.FirstParty is required for permission to use Azure Machine Learning Curated Environments, but is not included in the table on the following site. Please add it.

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-access-azureml-behind-firewall?tabs=ipaddress%2Cpublic#outbound-configuration

---
#### Document Details

⚠ *Do not edit t

[2022-04-19 11:19] hansmbakker commented on #91702
Thank you!

Additional feedback:
It is unclear why the tutorial would not use Synapse Analytics with a serverless SQL pool, rather than the old "dedicated SQL pool (SQL Data Warehouse).
The tutorial also does not explain the differences.

[2022-04-19 11:24] amanmcse commented on #91494
Thank you for the feedback.

[2022-04-19 11:35] MhAllan opened #91710 "EventGrid validation is unexplained"
The docs say that this validation is for "This requirement prevents a malicious user from flooding your endpoint with events"

And this section here [https://docs.microsoft.com/en-us/azure/event-grid/webhook-event-delivery#validation-details](url)

basically says:

A) You return the validation code with http status 200
B) Or do Get request using some given port (without telling what the response w

[2022-04-19 11:37] asergaz commented on #90915
Hello @JohannesM24 , I have just ran the tutorial with my AZ3166 and it ran as expected. Did you try a different wifi network or PC with fresh installed toolset?

Thanks

[2022-04-19 11:42] SadiqhAhmed-MSFT commented on #91673
@brucelangston I think the phrase is correct. Look at the sentence used under support section. See the snippet below:

![image](https://user-images.githubusercontent.com/44458118/163995752-744692e1-3dae-4774-a1a4-8ae6d5531ca8.png)

[2022-04-19 11:47] RohitMungi-MSFT commented on #91694
Thanks @mcasalaina for spotting this. I have created a PR to fix this typo. @laujan FYI.

[2022-04-19 11:48] larryclaman opened #91711 "Why is sharing individual image sharing not recommended?"
The page currently says _"We recommend sharing at the gallery level for the best experience. We do not recommend sharing individual image or application versions. "_

Could you add some more information on **why** you don't recommend sharing individual images or app versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-04-19 11:56] RohitMungi-MSFT commented on #91701
@Jessie0008 [Azure cognitive services](https://azure.microsoft.com/en-in/services/cognitive-services/#overview) offers a host of AI services under different pillars(speech, language, vision, decision & OpenAI). The overview page referenced details some customer scenarios and links to the documentation of the underlying services. I hope this helps.

[2022-04-19 12:04] MonikaReddy-MSFT commented on #91707
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-19 12:26] attila-balogh-biro86 commented on #83824
Dear @poochwashere  Why is it a problem if your LoadBalancer has multiple IP addresses? I was faced with a similar issue.

[2022-04-19 12:37] RicardoNiepel opened #91715 "RequestCharge missing in Azure.Data.Tables"
This page referes to the deprecated `Microsoft.Azure.Cosmos.Table` and should be updated to `Azure.Data.Tables`.

`Azure.Data.Tables` has currently no documented way of getting `RequestCharges`.
Also this should be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98dc0c00-c5a6-1093-a899-fe63cfe2e310
* Version Inde

[2022-04-19 12:41] GeethaThatipatri-MSFT commented on #91715
Hi @RicardoNiepel Thanks for your findings,We will investigate and update as appropriate

[2022-04-19 12:51] Givary commented on #91471
@darioporru
Which screenshot is incorrect under step 2 ?
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/atlassian-cloud-provisioning-tutorial#step-2-configure-atlassian-cloud-to-support-provisioning-with-azure-ad

Because we don’t see any change in look and feel of UI in our test account , though the community post claims that for existing user the change will take effect gradua

[2022-04-19 12:52] KyferEz opened #91716 "Document incorrect with respect to JDBC Driver permissions"
The JDBC driver installed (i.e. ojdbc7.jr) needs Full file Permissions added to it for the "NT Service\DiaHostService" (Ensure when searching the "From this Location" is the local PC not the AD domain). Otherwise the Linked Service will receive an erroneous error of "Java cannot be found".

The docs at https://docs.microsoft.com/en-us/azure/purview/register-scan-oracle-source#prerequisites say it

[2022-04-19 12:59] JaydeepUniverse opened #91717 "Sample container is not working to get token using user-assigned identity"
I am following exactly same steps as given here - https://docs.microsoft.com/en-us/azure/container-instances/container-instances-managed-identity#example-1-use-a-user-assigned-identity-to-access-azure-key-vault

in this step:
client_id="CLIENT ID (xxxxxxxx-5523-45fc-9f49-xxxxxxxxxxxx)"
curl "http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fvault.a

[2022-04-19 13:10] RyanHill-MSFT commented on #91688
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-19 13:21] red-erik opened #91718 "Still same issue of #62768"
no WSUS server used, Update Manager only

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c53fae91-9d02-f626-dd03-7c532bcffe38
* Version Independent ID: 10756920-a188-fd6f-c9c9-910d6ce27673
* Content: [Troubleshoot Azure Automation Update Management issues](https://docs.microsoft.com/en-us/azure/automation/troubleshoot/u

[2022-04-19 13:24] GiftA-MSFT commented on #91579
@PatrickFarley can you please clarify the process used in object detection model for estimating performance? Thanks.

[2022-04-19 13:25] GiftA-MSFT commented on #91709
@jpaiblog we'll review your feedback and get back to you shortly. Thanks.

[2022-04-19 13:30] GeethaThatipatri-MSFT commented on #91170
Hi @timsander1 Can you please confirm if Azure Function triggers will just work for SQL API or we support them for other APIs

[2022-04-19 14:06] Sachin1O1 opened #91719 "Do we have any way to mask/Hide/replace sensitive data from request URL ?"
I am not able to find any proper doc and example to do the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 905e7501-0683-1c0b-c64b-9f2b7a098b75
* Version Independent ID: 60a72392-df91-28e5-3bce-22c70dd60e13
* Content: [Telemetry processors (preview) - Azure Monitor Application Insights for Java - Azure Monitor](ht

[2022-04-19 14:07] Sachin1O1 commented on #91719
I am not able to find any proper doc and example to do the same.

[2022-04-19 14:13] MonikaReddy-MSFT commented on #91718
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-19 14:14] PriyankaRudramaina commented on #91711
Hello @larryclaman,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-19 14:17] PriyankaRudramaina commented on #91717
Hello @JaydeepUniverse,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-19 14:23] AnuragSingh-MSFT commented on #91719
@Sachin1O1, thank you for the query. I see the referenced URL points to "ConnectionString" in `applicationinsights.json` file. Is your question related to masking the connection string in applicationinsights.json file itself?

If yes, that is not possible. However, you may use can set the connection string using the environment variable `APPLICATIONINSIGHTS_CONNECTION_STRING` (_which will then tak

[2022-04-19 14:25] manali1st commented on #90157
Hello @PriyankaRudramaina,

Is there any plan or timeline for supporting Windows worker nodes for this Dynamic IPs feature?
Thanks!

[2022-04-19 14:26] Sachin1O1 commented on #91719
Thanks for the quick reply. No, I am talking about telemetry preprocessors. I want to capture a request and mask some part of its URL before it sends data to the log analytics workspace.

[2022-04-19 14:31] alexwolfmsft commented on #91676
#please-close

[2022-04-19 14:34] timsander1 commented on #91170
Azure Functions triggers are SQL API only

[2022-04-19 14:44] AnuragSharma-MSFT commented on #91170
Thanks @timsander1 for the confirmation.

@vgarmash Thanks for your patience. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will reopen the issue and gladly continue the discussion.

[2022-04-19 14:44] #91170 closed

[2022-04-19 15:26] Sizzl opened #91722 "Defender for SQL availability / requirements - request for doc improvement"
The link in the availability table for "Protected SQL versions" sends the reader to a ConfigMgr page, where there's a mix of supported SQL versions specific to ConfigMgr, including SQL Express in some scenarios, which likely isn't supported in Defender for SQL due to lack of SQL Profiler.

Can this area instead be improved to have a matrix of supported platforms (e.g., not Express), with more of a

[2022-04-19 15:31] flang-msft commented on #81340
#reassign: @MSFTeegarden

[2022-04-19 15:42] RealAleph opened #91724 "Typo under Azure Databricks-> Pyspark"
blob_sas_token = r"
should be
blob_sas_token = r""

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 357acf2f-244e-5311-45c7-a0023ec8e8b8
* Version Independent ID: 11ea42fe-4a88-bf6e-a876-0098ba6d8dba
* Content: [NYC Taxi and Limousine yellow dataset - Azure Open Datasets](https://docs.microsoft.com/en-us/azure/open-datas

[2022-04-19 15:42] bmt353 opened #91725 "Misc Updates to "Option 2: Use your own certificate" Section of "Tutorial: Configure HTTPS on a Front Door custom domain""
Under "Option 2: Use your own certificate" on the page ["Tutorial: Configure HTTPS on a Front Door custom domain"](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain-https) there are several points of confusion that we had to investigate further to understand:

* The [Register Azure Front Door section](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain

[2022-04-19 15:45] flang-msft commented on #82003
@aelij  - We have discussed this on our team and acknowledge that this is would be nice to have at some point. Presently, we don't have a firm date as to when we might have a good example of this. We will continue to monitor any feedback on using Bicep for deployment and discuss it in planning sessions for new features and content. Thank you for taking the time to give us feedback.

#please-close

[2022-04-19 15:48] JamesTran-MSFT commented on #91594
@jrybacek
Thank you for your time and patience throughout this issue.

I've assigned this issue to the author so they can look into adding screenshots for the Group Filtering configurations process.

[2022-04-19 15:48] evilpilaf opened #91727 "Add information on the `metadata` decorator."
Details on how to use the `metadata()` decorator would help out understand how to use it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e71ca53-208a-3e18-7d22-294e4a3954af
* Version Independent ID: 00f4455f-fa2a-be4d-6187-30ee37c95912
* Content: [Parameters in Bicep files - Azure Resource Manager](https://docs.micros

[2022-04-19 15:49] #83380 closed

[2022-04-19 15:49] kobulloc-MSFT commented on #91705
@dmc-tech, it appears that the Azure Arc release notes include Kubernetes specific updates for Azure Arc (@shashankbarsin, let me know if I'm incorrect here):

- https://docs.microsoft.com/en-us/azure/azure-arc/data/release-notes
- https://docs.microsoft.com/en-us/azure/azure-arc/data/version-log

If anyone is looking for the AKS release notes, they can be found here:

- https://docs.microsoft.com

[2022-04-19 15:51] erik-ha-msft commented on #83380
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-04-19 15:52] WunderlichRd opened #91728 "Correct typo"
Under Limitations section, there is a typo (BinayrMessage), update to BinaryMessage..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7f7f164-158a-29a4-4ce9-e809ce85be50
* Version Independent ID: 9cc7f1ed-cb86-ec31-1704-1706e27afa1a
* Content: [Import a WebSocket API using the Azure portal](https://docs.microsoft.com/e

[2022-04-19 15:56] #91708 closed

[2022-04-19 15:57] MonikaReddy-MSFT commented on #91685
@deltadan - Can you please elaborate on the details of the issue with the doc that you are facing ?

[2022-04-19 15:58] vhorne commented on #86943
fixed
#please-close

[2022-04-19 15:58] #86943 closed

[2022-04-19 15:58] MonikaReddy-MSFT commented on #91707
@DaSenf1860 - The features that are supported is clearly outlined in the documentation, and there is no plan to update the document at this point.

Hope this helps.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reo

[2022-04-19 15:58] #91707 closed

[2022-04-19 16:03] MatchaMatch commented on #87103
#assign-reviewer:probableprime

[2022-04-19 16:04] PRMerger-2 commented on #87103
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: probableprime

[2022-04-19 16:05] MatchaMatch commented on #87103
#assign-reviewer:ProbablePrime

[2022-04-19 16:05] PRMerger5 commented on #87103
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: probableprime

[2022-04-19 16:05] PRMerger15 commented on #87103
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: xumo-95

[2022-04-19 16:06] MatchaMatch commented on #87103
@AjayKumar-MSFT please assign to @ProbablePrime - thanks!

[2022-04-19 16:23] dlepow commented on #91422
Please reassign to current ACR writer
#reassign: @tejaswikolli-web

[2022-04-19 16:25] b-ahibbard commented on #91703
I've made this change, thanks Geert.
#please-close

[2022-04-19 16:25] #91703 closed

[2022-04-19 16:50] v-frmoya commented on #91209
Hi @ajburnle @JamesTran-MSFT, is there any update on this incident?

[2022-04-19 16:52] asdcristi opened #91729 "CMPA_addon_GCC & M365_G5_GCC Information missing"
Hello, by checking licensing service plan reference list, I can't seem to find the two in subject. Would you please add them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan iden

[2022-04-19 17:09] vdimov-gcmlp opened #91731 "Indexer creation fails when using AzureSQL DataSource with System Assigned Managed Identity"
Created and confirmed new service principal has **read** access to the database named MyDbName (_only database_). Successfully created a data source using the following definition.

[code]

Attempt to create an indexer using the AzureSQL data source from above responds with the following error message:
[code]

The documentation specifies that the managed identity must have read access to the datab

[2022-04-19 17:10] ChaitanyaNaykodi-MSFT commented on #91725
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-19 17:12] dlepow commented on #90527
Please assign to current ACR writer
#reassign: @tejaswikolli-web

[2022-04-19 17:16] dlepow commented on #89598
The article has been updated to describe the email settings, including the "originating e-mail address".
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-configure-notifications#configure-email-settings
Accordingly, I'm closing this issue. If you have further input or wish to continue the discussion, feel free to reopen the issue. Thanks!
#please-close

[2022-04-19 17:16] #89598 closed

[2022-04-19 17:17] tamram commented on #76247
#reassign: @normesta

@normesta - can we close this one out if it's already covered in the docs?

[2022-04-19 17:22] normesta commented on #76247
Yes I think so. The capability has been live for some time. It's documented here - https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-s3?toc=/azure/storage/blobs/toc.json.

#please-close

[2022-04-19 17:22] #76247 closed

[2022-04-19 17:24] ggailey777 commented on #40125
@romankiss apologies, you were correct in your initial assessment. Output binding isn't supported for IoT Hub. We've corrected the docs to this effect.

[2022-04-19 17:29] ggailey777 commented on #90082
@yeahsicy I've updates [this article](https://docs.microsoft.com/azure/azure-functions/functions-how-to-use-azure-function-app-settings?tabs=portal#platform-features) to indicate the portal feature support by hosting plan and OS. #please-close

[2022-04-19 17:29] #90082 closed

[2022-04-19 17:32] laujan commented on #91694
Hi @mcasalaina, Thank you for catching that error. The code sample has been updated and should be live in a few hours. Thanks again!

cc: @RohitMungi-MSFT

[2022-04-19 17:35] hdrenollet-csusa opened #91734 "sqlPool Length incorrect"
The Length for "Microsoft.Synapse", "workspaces / sqlPools" shows 1-15, but in Azure it allows up to 60 characters for the pool name

![image](https://user-images.githubusercontent.com/101219739/164062403-22803d5d-9416-477c-ad72-e95981dc0a9a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39

[2022-04-19 17:45] ShilpaSharePoint commented on #90590
Thank you for the response.

[2022-04-19 17:56] Karishma-Tiwari-MSFT commented on #91331
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-04-19 17:56] #91331 closed

[2022-04-19 17:57] gmndrg commented on #91731
Hello @vdimov-gcmlp As per https://docs.microsoft.com/azure/search/search-howto-managed-identities-sql#1---assign-permissions-to-read-the-database you need both:
In step #1 https://docs.microsoft.com/azure/search/search-howto-managed-identities-sql#1---assign-permissions-to-read-the-database, to assign read permissions to read the database
In step #2 https://docs.microsoft.com/en-us/azure/search/s

[2022-04-19 17:58] tamram commented on #54192
#reassign: @cdfaisonms

[2022-04-19 17:58] PRMerger17 commented on #54192
GitHub user artemuwka has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-04-19 18:02] PriyankaRudramaina commented on #91711
Hello @larryclaman,

It is still technically possible to share image versions, but the reason we recommend sharing at the gallery is to prevent management overhead because it becomes difficult to manage permissions at the image version level.

We will be adding this statement to make it easier to understand why.. ‘**We recommend sharing at the gallery level for the best experience and prevent mana

[2022-04-19 18:14] tamram commented on #88428
#reassign: @khdownie

[2022-04-19 18:15] tamram commented on #87046
#reassign: @khdownie

[2022-04-19 18:15] tamram commented on #87847
#reassign: @khdownie

[2022-04-19 18:16] tamram commented on #88039
#reassign: @khdownie

[2022-04-19 18:17] ProbablePrime commented on #87103
Samples are actually better suited for: @ddematheu

David, [nhannt97](https://github.com/nhannt97) is looking for a sample for downloading a recording

[2022-04-19 18:18] #91711 closed

[2022-04-19 18:19] tamram commented on #88179
#reassign: @khdownie

[2022-04-19 18:20] tamram commented on #83495
#reassign: @khdownie

[2022-04-19 18:21] tamram commented on #83979
#reassign: @khdownie

[2022-04-19 18:21] tamram commented on #85658
#reassign: @khdownie

[2022-04-19 18:35] congyiwu opened #91735 "Ephemeral OS disk aren't deleted/reprovisioned during shutdown/restart"
In https://github.com/MicrosoftDocs/azure-docs/commit/5884a6cf3fa9089106dd9ee04bd95a1b7b8182df
@mimckitt (CC @Aarthi-Vijayaraghavan) added this note:
[code]

Also, when I try to restart a VM w/ an ephemeral OS disk in the Azure Portal, I see this warning:
![image](https://user-images.githubusercontent.com/2067615/164072247-04ac9b1a-2f7c-4de5-9c3c-8501442447c9.png)

I'm not sure why this would happ

[2022-04-19 18:35] chudytom commented on #27537
The problem with filteredPartIds still seems to block using Azure dashboard programmatically. There is not explanation what these values mean and it sometimes breaks charts displayed on the dashboard.

[2022-04-19 18:39] krispenner opened #91736 "ACR image pulls now supported in Canada Central"
I was informed by Azure support that ACR image pulls for container instances using their managed identity were meant to be supported in Canada Central starting on April 15th (which was four days ago). If this is now supported, can you please confirm and update the documentation?

https://docs.microsoft.com/en-us/azure/container-instances/using-azure-container-registry-mi#limitations

---
#### Docu

[2022-04-19 18:47] rmuneer commented on #91564
Hello Support,

I have to update to cx  for documentation update or for more clarification in the document.  Could you please provide an ETA when you will be able to respond back with details?

Below is the document that needs more clarification . https://docs.microsoft.com/en-us/azure/automation/update-management/overview

Thank you for your understanding.

Thanks.

Rizwan Muneer
Microsoft Azure

[2022-04-19 18:49] KrishnaG-MSFT commented on #91734
@hdrenollet-csusa Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-19 18:50] chaisen2006 commented on #91432
@mike-urnun-msft : Just a follow up, if you can provide a feedback on my query! thanks!

[2022-04-19 18:52] roygara commented on #91411
@jyama4ta Thanks for reaching out, we appreciate it! E30 is capable of bursting, the other text is incorrect. Standard SSDs up to 1024 GiB are capable of bursting. We'll update the text later today.

#please-close

[2022-04-19 18:52] #91411 closed

[2022-04-19 18:55] Karishma-Tiwari-MSFT commented on #91736
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-19 18:55] roygara commented on #91411
To be clear: The 512 GiB limit applies to premium SSDs, standard SSDs have a limit of 1024 GiB.

[2022-04-19 18:56] MarileeTurscak-MSFT commented on #91729
@asdcristi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-19 19:00] meenasaravanan02 commented on #50099
Hi @thimens,
We have changed the xml code.  The issue is resolved in a PR. Here is the PR link - https://github.com/MicrosoftDocs/azure-docs-pr/pull/195512
#Please-close this issue

[2022-04-19 19:00] #50099 closed

[2022-04-19 19:02] #91694 closed

[2022-04-19 19:04] cdfaisonms commented on #54192
Do we know why the live migration was not supported at this time?

[2022-04-19 19:21] mike-urnun-msft commented on #91710
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-19 19:24] Nagendracv commented on #91504
Yes. It is an organization-wide setting used by multiple teams which we do
not have any control over. So the current mechanism is legacy password
reset. Any approval of a change in behavior may take a couple of years to
be approved - and we have already put a request for that. But is unlikely
to be approved anytime soon.

On Tue, Apr 19, 2022 at 3:52 AM Kenga Derdus ***@***.***>
wrote:

[2022-04-19 19:26] mike-urnun-msft commented on #91728
Hello @WunderlichRd - Thanks for reporting this issue and helping us drive improvements toward MS Docs! I've created a PR that fixes the typo and this change should be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-19 19:26] #91728 closed

[2022-04-19 19:35] spelluru commented on #91710
@jfggdl @robece @Kishp01 - could you please review and respond when you get a chance? Thanks

[2022-04-19 19:50] JohnnyJagatpal commented on #68289
Hi, I got the same issue and the alert poperty is not added to my messages:
`{
  "machine": {
    "temperature": 107.64787012904327,
    "pressure": 10.871276343815056
  },
  "ambient": {
    "temperature": 20.642873720332457,
    "humidity": 25
  },
  "timeCreated": "2022-04-19T17:09:27.7954915Z"
}
`
Nevertheless the exceding of the temperature is logged:
`Received message 145: [{"machine":{"temp

[2022-04-19 19:56] vdimov-gcmlp commented on #91731
Following the "add server role" - the role that indexer needs is listed as "_**appropriate Reader role**_". What is the minimum set of permissions that the indexer needs in order to authenticate with Azure SQL Server?

[2022-04-19 19:56] SatishBoddu-MSFT commented on #68289
Hello @JohnnyJagatpal

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft, we would be happy to assist on all your queries!

[2022-04-19 20:01] gmndrg commented on #91731
The minimum is **Reader** role. If the word appropriate is confusing, we can remove it.

![image](https://user-images.githubusercontent.com/46359679/164085974-bb8461ab-5a33-4ce6-bee6-fb92efa58673.png)

[2022-04-19 20:05] riwasa opened #91738 "Region Pairing for West US 3"
In the section "Azure cross-region replication pairings for all geographies", in the "Important" box below the table, it lists West India and Brazil South as special cases due to one-way replication or replication outside of the geo. Not listed is West US 3, which is similar to West India, in that if you create a GRS storage account in West US 3, the secondary is in East US, but if you create a GR

[2022-04-19 20:06] vdimov-gcmlp commented on #91731
Thank you for the quick response!

What is the reason the indexer needs the Reader role? Giving Reader access to the whole server is considerable security concern for our security team.

[2022-04-19 20:12] ChaitanyaNaykodi-MSFT opened #91739 "Alternative for the deprecated functionality."
Since this feature is now under deprecation, can we add a note about Azure Internet Analyzer tool in this documentation which is currently in public preview and provides similar functionality.
https://docs.microsoft.com/en-us/azure/internet-analyzer/internet-analyzer-overview

Reference:- https://docs.microsoft.com/en-us/answers/questions/812234/index.html

---
#### Document Details

⚠ *Do not edi

[2022-04-19 20:13] ChaitanyaNaykodi-MSFT commented on #91739
Working on a PR to add this note

[2022-04-19 20:22] ddematheu2 commented on #87103
Hey folks, the doc in question above is part of a private preview. Are continuing to work through material for it. I will pass on the feedback over to the owning team for the private preview.

@RinaRish please take a look.

#assing-reviewer:rinarish

[2022-04-19 20:31] Ahed-bahri opened #91741 "Train application failed"
Hello,
in this section: **Configure a parameter as an external catalog entity**
while scrolling down to see the JSON file
you will notice a comma is missing right after "light", and it will cause a small fail when training the model in the speech studio.
Thank you so much and have a nice day

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-04-19 20:42] tejinderrai opened #91742 "Incorrect use of Managed Service Identity with the article with access to the Azure management plane vs the data plane"
Hello,

I have been reviewing this article as I was architecting and testing something similar recently. This article is not entirely relevant to the best practice approach in regards to security and providing a least privileged example. Although the article does state a tip "Data plane role-based access control (RBAC) is now available on Azure Cosmos DB, providing a seamless way to authorize your

[2022-04-19 20:45] vhorne commented on #85691
fixed
#please-close

[2022-04-19 20:45] #85691 closed

[2022-04-19 21:04] RinaRish commented on #87103
Hi all! Neither NodeJs nor Python SDKs for call recording was released, that's why there is no sample available yet.

[2022-04-19 21:07] GeethaThatipatri-MSFT commented on #91742
Hi @tejinderrai Thanks for your findings, We will investigate and update as appropriate

[2022-04-19 21:08] MarileeTurscak-MSFT commented on #91722
@Sizzl
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-19 21:22] DerekHerman-MSFT commented on #91621
This is a common permission issue. Are you able to modify the permissions for this file using chmod?

[2022-04-19 21:28] DerekHerman-MSFT commented on #91688
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-19 22:27] Noldiani opened #91744 "Feedback regarding deleting users app passwords"
In the section

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userdevicesettings#delete-users-existing-app-passwords

Is there a option to complete this for multiple users via Powershell/Graph?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51eadd8e-b820-be21-9c

[2022-04-19 23:01] vuvasira commented on #91527
Thank you @mbender-ms.

I can not merge the code, Is there anything else I need to do or leave it to the process?

Thank you.

[2022-04-19 23:06] paulbouwer commented on #21106
It looks like that annotation is still valid.

See the following: [Microsoft Docs | Use an internal load balancer with Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/internal-lb#create-an-internal-load-balancer)

[2022-04-19 23:09] joedeveau commented on #60204
@NavtejSaini-MSFT  This is still not properly documented.

[2022-04-19 23:11] #85248 closed

[2022-04-19 23:56] gmndrg commented on #91731
My pleasure! The reader role is to get the properties of the Azure SQL object that is needed for implementation. Based on the SQL reader role definition, this doesn't mean that the indexer can read the rest of databases in the server. For this you would have to explicitly provide it and you are just required to do it for the one the indexer would read from.  You can check the extent of each role i

[2022-04-20 00:08] mike-urnun-msft commented on #91432
Hello @chaisen2006 - Sorry for the delay in my responses. Yes, the "contoso.com" used in the certificate as well as in the example Powershell cmdlet both correspond to the custom domain configured for the backend service to which APIM is authenticating to.

Since we didn't determine any changes to this documentation upon reviewing this feedback, we will now proceed to close this thread for now. If

[2022-04-20 00:08] #91432 closed

[2022-04-20 00:18] dlepow commented on #52430
#reassign: @elbarnit

[2022-04-20 00:48] stevevi commented on #69614
Addressed by repeating table header.

[2022-04-20 00:48] stevevi commented on #69614
#please-close

[2022-04-20 00:48] #69614 closed

[2022-04-20 00:51] stevevi commented on #51264
Old issue - no longer relevant.  Microsoft Sentinel (formerly Azure Sentinel) does have DoD IL4 and IL5 PA in Azure Government.

[2022-04-20 00:51] stevevi commented on #51264
#please-close

[2022-04-20 00:51] #51264 closed

[2022-04-20 00:56] stevevi commented on #42511
Addressed as stated above.

[2022-04-20 00:56] stevevi commented on #42511
#please-close

[2022-04-20 00:56] #42511 closed

[2022-04-20 01:09] stevevi commented on #60657
No change in status.

[2022-04-20 02:31] ssivas commented on #91744
@Noldiani , Thank you for your feedback . We will investigate and update the thread.

[2022-04-20 02:34] AnuragSingh-MSFT commented on #91716
@KyferEz, thank you for the feedback. We will review it and get back to you.

[2022-04-20 02:44] kobulloc-MSFT commented on #91735
@congyiwu Thank you for your feedback!  We are reviewing the ephemeral OS disk documentation and will get back to you shortly.

[2022-04-20 02:48] jleach opened #91747 "Needs to explain quota"
I can't add compute because I don't have sufficient quota. Would be good to explain what to do in this case and why some ppl don't see quota. Why not make this stuff easy for ppl to consume rather than nerdy for pros only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cc8d79d-155b-b9e3-9020-56a7d946d4c8
* Version Ind

[2022-04-20 03:06] Aarthi-Vijayaraghavan commented on #91735
When an Ephemeral VM is restarted the OS data is not lost. The public documentation has the correct content in this regard. I am working on getting the warning message fixed.

[2022-04-20 03:34] bcookew opened #91749 "Entity Framework tool inaccessible in command line"
[Enter feedback here]
I was using this tutorial and got through to step 6 where you are supposed to run the EF commands
[code]
At that point I ran into a strange error I wasn't able to overcome.
After installing EF globally it tells me that the global tools file isn't on PATH and provides a command to run to add that directory to the PATH.
`setx PATH "%PATH%;C:\local\UserProfile\.dotnet\tools"`
Th

[2022-04-20 04:20] AnuragSingh-MSFT commented on #91724
@RealAleph, thank you for bringing it to our attention. I will review it and submit a PR for its correction.

[2022-04-20 04:25] v-ksreedevan commented on #91591
This change has been updated as part of another PR and the update is available at https://docs.microsoft.com/en-us/azure/migrate/replicate-using-expressroute. Hence, closing this issue.

#please-close

[2022-04-20 04:25] #91591 closed

[2022-04-20 04:32] #91724 closed

[2022-04-20 05:37] gundarev commented on #91563
There's no such compatibility issue,  GPU accelerated frame encoding works on any OS

[2022-04-20 05:40] gundarev commented on #91563
#please-close

[2022-04-20 05:40] #91563 closed

[2022-04-20 05:41] #91101 closed

[2022-04-20 06:01] jeremy-ellis-tech opened #91752 "Building stream analytics project with reference data join requires time bound"
I have a stream analytics project I'm trying to build using `azure-streamanalytics-cicd`
The project has 2 inputs:
[code]
and
[code]

The query is:
[code]
[Because the join on `ReferenceInput` is a reference data join the time bound is not necessary according to the docs](https://docs.microsoft.com/en-us/stream-analytics-query/reference-data-join-azure-stream-analytics). (I also get an error tryin

[2022-04-20 06:11] RohitMungi-MSFT commented on #91741
@Ahed-bahri Thanks for spotting this. A PR is raised and referenced on this thread to fix the typo. The document will be updated within 24 hours of the PR approval. Thanks!!
@eric-urban FYI.

[2022-04-20 06:33] RohitMungi-MSFT commented on #91747
@jleach Thanks for the feedback. The documentation provides a separate section "[How to manage quotas](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-quotas)" on managing quotas of resources for different scenarios. Perhaps, a link to this section would be useful in this quickstart document.
@sdgilley Is it possible to add a note to this section in this document?

[2022-04-20 06:36] ram-msft commented on #91634
@yutaro113 Thanks, Once you have created the conda environment, use the following command for Scikit-Learn update- **conda update scikit-learn**

[2022-04-20 06:39] ram-msft commented on #91634
@yutaro113 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-20 06:39] #91634 closed

[2022-04-20 06:50] jejass opened #91753 "it seems the powershell command is out of date"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/32087564/164167469-b677a47a-2742-42f2-aaa6-c74f7dcd96c5.png)
The sample in the powershell part seems out of date.
Remove-AzManagedServicesAssignment -ResourceId "/subscriptions/{delegatedSubscriptionId}/providers/Microsoft.ManagedServices/registrationAssignments/{assignmentGuid}"

The **ResourceId** parameter is not supported

[2022-04-20 06:53] srrrrrrrrrr opened #91754 "Invalid parameter -ResourceId for example command Remove-AzManagedServicesAssignment"
[Enter feedback here]
The Powershell Command to delete delegation seems not up to date.

# Delete the registration assignment
Remove-AzManagedServicesAssignment **-ResourceId** "/subscriptions/{delegatedSubscriptionId}/providers/Microsoft.ManagedServices/registrationAssignments/{assignmentGuid}"

There will be error about **"A parameter cannot be found that matches parameter name 'ResourceId'"**
*

[2022-04-20 06:59] xmasteron commented on #91488
![image](https://user-images.githubusercontent.com/67578220/164169056-2a8c37a5-1fdb-4c93-a146-f9aac62e369a.png)

Attached the image and also please the code below from the document where it is using the get-azurestoragekey command.

[code]

[2022-04-20 08:19] dmc-tech commented on #91705
The connected k8s agent has a number of versions that do not have release notes attributed to them.  The example you show is for Arc enabled Data services, not the Kubernetes Azure Arc agents.

I can see a list of the agents that have been released, but that is through me digging around MCR: https://mcr.microsoft.com/v2/azurearck8s/batch2/stable/azure-arc-k8sagents/tags/list

[2022-04-20 08:23] AnuragSharma-MSFT commented on #91488
@xmasteron Thanks for providing more details. The command mentioned in the article is **_Get-AzStorageAccountKey_** which works fine with the proper parameters.

However the other command '**_get-azurestoragekey'_** is not working as rightly mentioned by you.

I will close this issue as this is not specific to the command that is failing but I will follow up internally with the team and get more d

[2022-04-20 08:23] #91488 closed

[2022-04-20 08:37] kengaderdus commented on #91504
In relation to Azure AD B2C, when you create a legacy sign in sign up flow, the flow does not include a password reset functionality, so when a user selects the **Forgot password** link, you'll have to deal with the `AADB2C90118` error code yourself (see error codes [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/error-codes)). You'll not deal with this error yourself if you use

[2022-04-20 08:44] AjayKumar-MSFT commented on #91749
@bcookew, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-04-20 08:44] gomateus commented on #63934
Hey @AjayKumar-MSFT do we have the solution for the above? Can you please share it?

[2022-04-20 08:44] AjayKumar-MSFT commented on #91749
@alexwolfmsft, Requesting your comments on this feedback.

[2022-04-20 08:51] jimmyfit commented on #89815
@rmrosen @duongau Can we please double-check the accuracy of this change? My understanding is we still run two distinct geo-political regions for Australia, that being "Australia Government" (albeit not restricted to government customers) covering Australia Central + Australia Central 2, and "Oceania" covering Australia East and Australia Southeast.

[2022-04-20 08:55] KazuOnuki commented on #91579
@GiftA-MSFT I have just asked the development department about the how to train customo-vision model, and they have given me feedback that they have changed from the k-fold-cross-validation method to a simple training-validation method around 2020, and that they are splitting the training : verification = 4 : 1 ratio. Therefore, would it be possible to add this information to the report?

[2022-04-20 08:59] KazuOnuki opened #91757 "Fix Classification Model Evaluation"
In this [classification model doc](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/getting-started-build-a-classifier#:~:text=The%20Custom%20Vision%20Service%20uses%20the%20images%20that%20you%20submitted%20for%20training%20to%20calculate%20precision%20and%20recall%2C%20using%20a%20process%20called%20k%2Dfold%20cross%20validation), it explains that custom vision ser

[2022-04-20 09:03] SwathiDhanwada-MSFT commented on #91753
@jejass Thanks for the feedback! I have fixed the referenced change, and the change should reflect once approved by content author.

[2022-04-20 09:04] SwathiDhanwada-MSFT commented on #91754
@srrrrrrrrrr Thanks for the feedback! I have fixed the referenced change, and the change should reflect once approved by content author.

[2022-04-20 09:10] lfecci opened #91758 "Wrong link to Creating Synapse workspace"
The hyperlink under prerequisites for creating a Synapse workspace is instead taking you to Create a storage account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2f0b6d5-8555-99be-4c4b-8d4b79ca0172
* Version Independent ID: 0ac2dc23-6f2f-6f24-965d-057297665c10
* Content: [ETL template for retail industry data model

[2022-04-20 09:11] ondrejtomcik opened #91759 "Invalid .NET version required"
[Enter feedback here]

NuGet packages are not available for .NET 6 as the doc states.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f5a0aa-b8b7-c330-d342-973c72ec1328
* Version Independent ID: e4df1e6a-83ac-4469-8a58-dddac952e24e
* Content: [Quickstart - Provision a simulated symmetric key device to Microsoft Azure I

[2022-04-20 09:13] tejinderrai commented on #91742
Hello,

My apologies, I have pasted the wrong code as a sample, this is below. In addition, the principal Id also needs readmetadata to the cosmos DB account itself e.g. - a new role, scoped to "/",.

    $NewSQLRoleDefinition = New-AzCosmosDBSqlRoleDefinition -AccountName $accountName `
    -ResourceGroupName $resourceGroupName `
    -Type CustomRole -RoleName ReadAccountMetadata `
    -DataActio

[2022-04-20 09:15] AHopeGao opened #91761 "Cannot find socket address in classic AFD conditions"
[Enter feedback here]
Hi team,

As mentioned in documents, we could use socket address in classic AFD conditions.
https://docs.microsoft.com/en-gb/azure/frontdoor/rules-match-conditions?WT.mc_id=Portal-Microsoft_Azure_Frontdoor&tabs=portal&pivots=front-door-classic#remote-address
![image](https://user-images.githubusercontent.com/104064730/164194304-d3e6ffe8-7145-46e2-8b70-19a262bfc925.png)

But w

[2022-04-20 09:17] kengaderdus commented on #91547
@craigbrown

Thank you for your feedback. We've noted your suggested and we'll update the document appropriately. We've opened a work item for internal tracking, so we'll close this issue. #please-close

[2022-04-20 09:17] #91547 closed

[2022-04-20 09:38] schniewmatz opened #91762 "Encoding noise in human labeled transcripts"
Is there a way to encode noise in human labeled transcripts? I did not find anything in the docs on this yet. Often I have situations where there is noise in the audience of a talk or the speaker gets muddled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be760948-ca54-004a-928c-36c90f09d913
* Version Independent ID:

[2022-04-20 09:48] kengaderdus commented on #91235
@Timsto

We've started updating the documents. We've also created a work item for internal tracking, so we'll close this issue. #please-close

[2022-04-20 09:48] #91235 closed

[2022-04-20 09:49] kengaderdus commented on #91028
@zokiz-eon

We've started updating the documents. We've also created a work item for internal tracking, so we'll close this issue. #please-close

[2022-04-20 09:49] #91028 closed

[2022-04-20 09:50] ram-msft commented on #91757
@KazuOnuki Thanks for the question. We are investigating the issue and will update you shortly.

[2022-04-20 09:53] Wooterino opened #91764 "Couple of errors in the templates"
[Enter feedback here]
Hi

In all of the provided custom templates, only 3 regions are allowed. To deploy to westeurope for example, you have to change the allowed values in the template.

In the data collection rule for text log and IIS log the apiVersion is wrong and deployment fails because of that. Works fine if you change the apiVersion value to the correct one.

Might be worth mentioning thes

[2022-04-20 09:57] ljt5 opened #91765 "Lookup activity using REST as datasource?"
Hi the page says that the lookup activity supports REST as a data source, but I can't use my existing REST datasets or create a new one. I'm using Synapse Studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ede89f3f-055a-b123-c081-8622a9035171
* Version Independent ID: c4fe312f-71a6-fe9b-e301-6e69c14ca46d
* Content:

[2022-04-20 10:00] kengaderdus commented on #90113
@mrochon

Thank you for your feedback and patience. We're collecting all the information required to respond to your question.

[2022-04-20 10:06] kengaderdus commented on #90010
@jjindrich

Thank you for your question and patience. We're consulting with the product team and we'll comment back when we've something.

[2022-04-20 10:07] Yaz-X opened #91766 "Couldn't find the unattached disks as the article describes"
Couldn't find the unattached disks as the article describes to delete them, i found them in the resource groups and checked the boxes next to each disk and then clicked delete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce265ca1-9fef-5cb2-27b6-d55e991f7da9
* Version Independent ID: c588045e-c258-bc83-5661-3f4d4fd98

[2022-04-20 10:09] SwathiDhanwada-MSFT commented on #91764
@Wooterino Thanks for your comment. We will review the issue and get back to you shortly.

[2022-04-20 10:14] kengaderdus commented on #89909
@fumikouehara

Thank you for your question and patience. We're testing the scenario you've presented and we'll comment back when we've something.

[2022-04-20 10:17] PriyankaRudramaina commented on #91717
Hello @JaydeepUniverse,

Could you confirm if you have fetched the right client_ID and ran the curl command ? I hope you haven't copy pasted the same client ID given in the docs article.
You can run this command to get the right clientID and then run the curl command:
$clientID=$(az identity show --resource-group navbatestRG --name navbaACI --query clientId --output tsv)

If you are using document

[2022-04-20 10:17] #91717 closed

[2022-04-20 10:20] bubbletroubles opened #91767 "Service Tags for User Defined routes now in GA - page doesn't reflect that"
Hi,

Under the heading "Service Tags for user-defined routes", the text references this is in preview, and has known limitations as of April 2021. It would be good to have this updated to reflect this is now GA, and are the limitations still present now its in GA?

Reference page is https://azure.microsoft.com/en-us/updates/generally-available-service-tags-support-for-user-defined-routing/

---
##

[2022-04-20 10:28] AshokPeddakotla-MSFT commented on #91759
@ondrejtomcik Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-20 10:33] olavt opened #91768 "Warning BCP036: The property "cpu" expected a value of type "int"
I got this error when trying to deploy the bicep template:

Warning BCP036: The property "cpu" expected a value of type "int | null" but the provided value is of type "'0.5'". If this is an inaccuracy in the documentation, please report it to the Bicep Team. [https://aka.ms/bicep-type-issues]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-04-20 10:35] CHEEKATLAPRADEEP-MSFT commented on #91752
@jeremy-ellis-tech  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-04-20 10:37] byronverz opened #91769 "Mismatch in Actions for custom role"
There is a mismatch in the "Actions" section of the custom role for a labeler between this page and [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-assign-roles#data-labeler).
[code]
And
[code]

When using the roles from this page, the data labeler is not able to view the project and can't begin the tasks. The scope from the other page works.

---
#### Document Details

⚠ *Do

[2022-04-20 10:41] CHEEKATLAPRADEEP-MSFT commented on #91758
@lfecci Thanks for pointing out the issue, I've addressed this issue in PR:[https://github.com/MicrosoftDocs/azure-docs-pr/pull/195576](https://github.com/MicrosoftDocs/azure-docs-pr/pull/195576)
The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2022-04-20 10:47] GitaraniSharma-MSFT commented on #91695
@RamanaSwaroop , We have assigned this to the content owner/author for updating the doc accordingly.

@asudbring , could you please update the DNS zone table for Static Web App?

I could find the below information from Portal:
Private link resource type / Subresource : Azure Static Web Apps (Microsoft.Web/Staticsites) / staticSites
Private DNS zone name : privatelink.1.azurestaticapps.net

Need to

[2022-04-20 10:53] GitaraniSharma-MSFT commented on #91767
@bubbletroubles , thank you for your feedback. We'll review this and get back to you shortly!

[2022-04-20 10:54] GitaraniSharma-MSFT commented on #91761
@AHopeGao , thank you for your query. We'll investigate this and get back to you shortly!

[2022-04-20 10:57] asergaz commented on #90915
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-20 10:57] #90915 closed

[2022-04-20 11:06] kvogli opened #91770 "[Azure-Maps] iOS Heatmap Layer - getting options not possible, while setting them is"
While creating a heatmap layer there is the option to set a minimum or maximum zoom level, in which the heatmap will be visible in the map, as such: `heatmapLayer = HeatMapLayer(
            source: dataSource,
            options: [
                .heatmapRadius(10.0),
                .heatmapOpacity(0.8),
                .minZoom(1.0),
                .maxZoom(10.0),
            ]
        )`

W

[2022-04-20 11:10] kengaderdus commented on #89964
@mrochon

`datacenter_count` is the number of potential data centers your tenant replicates across. It means, expect that the limit you set for a potential lockout might be exceeded and can be `threshold_limit * datacenter_count` if the attempts evenly lands on `datacenter_count` data centers.

I hope this helps.

[2022-04-20 11:12] mrochon commented on #89964
You may want to include information where to find the number of datacenters given a particular geography.

From: Kenga Derdus ***@***.***>
Sent: Wednesday, April 20, 2022 4:11 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: MariusR ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] What is the datacenter_count? (Issue #89964)

@mrochon<https://github.com/mrochon>

datacent

[2022-04-20 11:13] hansmbakker opened #91771 "Standard tier should be put explicitly in the prerequisites for analysis services in the tutorial"
This is a tracking issue related to https://github.com/MicrosoftDocs/bi-shared-docs/issues/46.

In the [Adventure Works Internet Sales tutorial (1500)](https://docs.microsoft.com/en-us/analysis-services/tutorial-tabular-1400/as-adventure-works-tutorial?view=asallproducts-allversions) for Analysis Services, a list of prerequisites is given.

These prerequisites do not state that the **Standard** ti

[2022-04-20 11:16] dantheman999301 commented on #88471
@dimitri-furman Sorry for not getting back to you on this. Thank you for the additional information, we thought this might be the case but wanted to make sure.

[2022-04-20 11:16] #88471 closed

[2022-04-20 11:33] ondrejtomcik commented on #91759
@AshokPeddakotla-MSFT problem was on my end. After updating .NET6 to newest bugfix release, restore issue of dependencies was resolved.

[2022-04-20 11:33] #91759 closed

[2022-04-20 11:35] AshokPeddakotla-MSFT commented on #91759
@ondrejtomcik Glad to hear your issue is resolved. Thanks for updating.

[2022-04-20 11:37] jadeoti commented on #88207
Just keeping my ear to the ground

[2022-04-20 11:46] SnehaAgrawal-MSFT commented on #91631
@jchalfant Just checking in if you have had a chance to see the previous response. Let me know.

[2022-04-20 11:52] shashishailaj commented on #91738
@riwasa
Thank you for your feedback . We will investigate and update the thread.

[2022-04-20 11:57] #91481 closed

[2022-04-20 11:58] shashishailaj commented on #91481
@myfope We have merged the changes . It should go live in the next 24 hours.

[2022-04-20 12:04] olavt opened #91772 "Link to source code for sample applications used?"
The documentation should contain a link to the source code for the applications being deployed in order to understand what base URI is used from the client (hello-k8s-python) to the service (hello-k8s-node).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d31dffd-2408-63bf-6c64-3b177a6302f1
* Version Independent ID: d8

[2022-04-20 12:04] kengaderdus commented on #89964
@mrochon

We're creating a work item to track your request internally, so, for now, we'll close this work item. #please-close

[2022-04-20 12:04] #89964 closed

[2022-04-20 12:04] desmondgc commented on #54192
Live migration was not available in West Europe at the time due to "capacity constraints." (I can't elaborate any further - that's simply what we were told by Azure support.) We were eventually able to complete live migration after waiting ~2 months.

This issue was created because of poor choice of wording by the Azure support agent we were working with. They simply told us "not supported" at fir

[2022-04-20 12:04] #54192 closed

[2022-04-20 12:18] byronverz opened #91773 "Actions required for Data Labeler Incorrect"
The actions required to follow the steps in the guide are incorrect. When creating the custom role and then following the steps at the end of the page as if I was a data labeller, clicking on the project name fails with a blocked access:
[code]
Adding the `Microsoft.MachineLearningServices/workspaces/experiments/runs/read` action then does allow me to click on the project name and view the labelli

[2022-04-20 12:30] AshokPeddakotla-MSFT commented on #91646
@scsJames As mentioned, This tutorial uses the [Postman](https://www.postman.com/) application, but you can use a different API development environment.

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. After reviewing the ask, it seems like generic query and not a doc feedback.  I suggest you, please post your query on the Azure Map

[2022-04-20 12:38] stephan-kueppers opened #91775 "Missing step in the PowerShell example"
On Chapter „PowerShell example“ between bulletpoint two and three their should be the adding of then Domain that should be taken over.
For Example:
`new-msoldomain –name *your_domain_name*`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd934d58-08f8-a3ca-2686-0006b0b8f74a
* Version Independent ID: 84d9cab3-09b7-95ba-8

[2022-04-20 12:49] jahlqvis opened #91776 "Visual Studio 2022"
Hello,

Would love if you could make these instructions/documentation for Visual Studio 2022 specific also. As for now it's 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7b666c-1e95-d0dd-7fd8-a2367369d190
* Version Independent ID: 3eff6d45-cf8b-4546-166d-16198c736f13
* Content: [Develop and debug modules in Vi

[2022-04-20 13:20] L-u-k-e-GIT opened #91778 "The design is incorrect"
The design show read and write operation also for the standby db, white on the secondary site, only read operations should be available.
![image](https://user-images.githubusercontent.com/103580092/164239988-d69a66e8-ad1b-4215-b731-4e18e21de165.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16170e73-99ca-1a2f-b5ba

[2022-04-20 13:31] maximus-net opened #91779 "Nested Groups in Exclusions"
Where we are saying:
Users and groups
Allows targeting of specific sets of users. For example, organizations can select a group that contains all members of the HR department when an HR app is selected as the cloud app. A group can be any type of group in Azure AD, including dynamic or assigned security and distribution groups.

I believe we should also include nested groups for clarity?

---
####

[2022-04-20 13:39] petrroll opened #91780 "Azure Function how-to for accessing keyvault should mention using MSI & KeyVault client is (also) possible"
The linked page should (IMHO) mention that at least for C# functions, it is possible to use MSI and azure keyvault client instead of fiddling with environment variables.

I.e. describe what's described here: https://integration.team/blog/retrieve-azure-key-vault-secrets-using-azure-functions-and-managed-service-identity/

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-04-20 13:44] shashishailaj commented on #34167
Hello everyone, We have an update for you . We checked this internally and there is a change proposed for doing away with the *.windowsazure.com URL . Tenant created before Aug 2020 are affected by this legacy MFA page which will go away on September 30th 2022. Please check the [following announcement](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new#tenant-enablement

[2022-04-20 13:53] bcookew commented on #91749
I believe I've found my error.

[2022-04-20 13:53] #91749 closed

[2022-04-20 13:55] jleach commented on #91747
@RohitMungi-MSFT Thx. If an out of the box ML Workspace comes with zero quota then the tutorial wont work for anyone with a pay-as-you-go account. I think it could do with a blue infobox saying: "If you don't see any available compute in step 3 then you need to request a quota increase."

Links are great but they're volumous; you can go down the rabbit hole. What I want to do is evaluate Azure ML

[2022-04-20 14:19] pan9killer opened #91782 "Another language"
Hi. I have a question about another language on my Azure map. How I can change the language on the map from eng to german??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 804e96c1-f08a-1d2e-9465-d157d38274e7
* Version Independent ID: 1d84f4aa-cc3a-3dd1-ea7d-8cce1f512ecd
* Content: [Localization support with Microsoft A

[2022-04-20 14:24] PriyankaRudramaina opened #91783 "Pricing doc link not referenced in the main document for resource mover"
It would be good to add a reference of pricing doc link https://azure.microsoft.com/en-in/pricing/details/resource-mover/#pricing
to the main document under resources section here https://docs.microsoft.com/en-us/azure/resource-mover/overview

like the way it is added under the ASR doc https://docs.microsoft.com/en-us/azure/site-recovery/

---
#### Document Details

⚠ *Do not edit this section. It

[2022-04-20 14:27] FernandoGualano opened #91784 "2 or 3 PTA Authentication Agents?"
The FAQ document (https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-faq) state:

![image](https://user-images.githubusercontent.com/50090959/164252069-e73c6cdb-7488-483f-b309-c8d53bc86593.png)

However, Quickstart document (https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-quick-start) state:

![image](https://user-images.githubuserco

[2022-04-20 14:36] dshimogawa opened #91786 "Could you add Azure AD B2B Direct Connect license requirement."
[Enter feedback here]
Hi, Team.
In the following cases, could you tell me license requirement? I could not understand it on Azure AD B2B Direct Connect cases.
[Environmental information]
・Resorce of the Teams shared channel: Tenant A
・Tenants invited to the Teams shared channel: Tenant B
・Tenant B is a 70% owned subsidiary of Tenant A.

[Case]
-Tenant A configures the permissions of [All external

[2022-04-20 14:40] ShaikMaheer-MSFT commented on #91765
@ljt5 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-04-20 14:44] MarileeTurscak-MSFT commented on #91775
@stephan-kueppers
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-20 14:45] lfecci commented on #91758
Will do 👍.

[2022-04-20 14:45] #91758 closed

[2022-04-20 14:49] ChristianMayAvixa commented on #34167
Hi Shashi - is the proposed change simply moving the current change to a new URL, or replacing the current page with a different, professional-looking page at a new URL?

If the former: while a URL change is good and necessary, please keep in mind that this issue is broader than the current URL being strange. Much of the page design screams "phishing attempt" - the poorly formatted text, the bad g

[2022-04-20 14:50] darylhunter opened #91787 "OneDsCollector service tag missing"
This article is missing an entry for "OneDsCollector" - if you search for that phrase in docs, only this article appears, but a search of this article comes up empty. There is a set of IPs in that service tag on this JSON file https://www.microsoft.com/en-us/download/details.aspx?id=56519 and we cannot find a description of that service tag.

---
#### Document Details

⚠ *Do not edit this section.

[2022-04-20 14:56] tjohnson1010 opened #91788 "Default Retry Policy image is contradictory to text"
Under "Default", it says "in text" the interval is 7.5 seconds and the maximum is 45 seconds.  But the image showing the JSON definition has interval at 7 seconds and maximum at 1 hour.  Which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8551e683-2c57-258d-c3ec-5b33d709b053
* Version Independent ID: b2bc0287-8

[2022-04-20 15:07] ram-msft commented on #91769
@byronverz Thanks for the question. We are investigating the issue and will update you shortly.

[2022-04-20 15:15] sdgilley commented on #91773
This is the correct behavior; as a labeler you shouldn't have access to the dashboard.

I'm updating the instructions for a labeler to show using the **Label data** tool, instead of selecting the project name.  This change should be visible later today in the article.

[2022-04-20 15:23] whhender commented on #90712
#please-close

[2022-04-20 15:23] #90712 closed

[2022-04-20 15:23] whhender commented on #91696
As we discussed, we are taking this request into consideration, and will update the documentation with what information we can. Thank you for reaching out!

[2022-04-20 15:24] #91696 closed

[2022-04-20 15:40] HeidiSteen commented on #91693
@SamHard, thanks for pointing out the omissions in the docs. I think the API you want is this one: https://docs.microsoft.com/en-us/dotnet/api/azure.search.documents.searchindexingbufferedsender-1?view=azure-dotnet

There's a short sample from the SDK that provides some context: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/search/Azure.Search.Documents/samples/Sample05_IndexingDocument

[2022-04-20 15:40] tamram commented on #74296
#reassign: @khdownie

[2022-04-20 15:50] baybal opened #91793 "No example for javascript"
There are no examples of output binding API for JS. Please do not link somewhere else for examples on a page where there should be examples.

The example in https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger#example doesn't show how to set headers, or much else about the API except for status, and body.

[code]

---
#### Document Details

⚠ *Do not edit

[2022-04-20 15:54] tamram commented on #75230
#reassign: @khdownie

[2022-04-20 15:55] tamram commented on #78427
#reassign: @khdownie

[2022-04-20 15:55] tamram commented on #78959
#reassign: @khdownie

[2022-04-20 15:55] tamram commented on #78976
#reassign: @khdownie

[2022-04-20 15:56] tamram commented on #79402
#reassign: @khdownie

[2022-04-20 15:56] tamram commented on #80514
#reassign: @khdownie

[2022-04-20 15:56] #91747 closed

[2022-04-20 15:56] tamram commented on #80558
#reassign: @khdownie

[2022-04-20 15:56] tamram commented on #81693
#reassign: @khdownie

[2022-04-20 15:56] tamram commented on #82142
#reassign: @khdownie

[2022-04-20 15:56] tamram commented on #82464
#reassign: @khdownie

[2022-04-20 15:57] tamram commented on #71665
#reassign: @khdownie

[2022-04-20 15:57] tamram commented on #74250
#reassign: @khdownie

[2022-04-20 15:58] tamram commented on #78822
#reassign: @wmgries

[2022-04-20 15:59] tamram commented on #24661
#reassign: @wmgries

[2022-04-20 15:59] tamram commented on #47734
#reassign: @wmgries

[2022-04-20 15:59] tamram commented on #72859
#reassign: @wmgries

[2022-04-20 16:00] tamram commented on #65473
#reassign: @yuemlu

[2022-04-20 16:00] tamram commented on #66817
#reassign: @yuemlu

[2022-04-20 16:01] tamram commented on #70159
#reassign: @yuemlu

[2022-04-20 16:01] tamram commented on #72871
#reassign: @yuemlu

[2022-04-20 16:17] PRMerger12 commented on #77384
GitHub user twooley has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-04-20 16:18] davequinn opened #91794 "Needs to be updated to .Net 6.0 Startup changes, i.e. this line --> .UseStartup<Startup>() in the VotingWeb.cs file gives error"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d03b4f-4157-0d04-0f48-0a3e2fb966cb
* Version Independent ID: 6b7bed89-eb53-105a-7971-476ddd4cf3b7
* Content: [Create a .NET app on Service Fabric in Azure - Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-t

[2022-04-20 16:25] tfitzmac commented on #91727
@evilpilaf - thanks for this feedback. I'll add an example of using metadata. In general, it is not used a lot but can be helpful if you have some custom properties you want to apply.

[2022-04-20 16:27] michael-trieu-fso opened #91795 "URL or just domain?"
Is the "https://" component of the "https://autologon.microsoftazuread-sso.com" URL strictly necessary? The Chrome Enterprise policy documentation only mentions the FQDN or even just wildcard domain as examples.

Source:
https://chromeenterprise.google/policies/#AuthNegotiateDelegateAllowlist
https://chromeenterprise.google/policies/#AuthServerAllowlist

---
#### Document Details

⚠ *Do not edit t

[2022-04-20 16:28] ChaitanyaNaykodi-MSFT commented on #91787
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-20 16:29] tamram commented on #78790
#reassign: @tamram

[2022-04-20 16:29] PRMerger7 commented on #78790
GitHub user twooley has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-04-20 16:29] tamram commented on #64876
#reassign: @tamram

[2022-04-20 16:30] #91773 closed

[2022-04-20 16:40] Fleid commented on #91752
@jeremy-ellis-tech @CHEEKATLAPRADEEP-MSFT actually the best place would be the ASA Tools extension GitHub repo : https://github.com/Microsoft/vscode-asa

I'll forward that thread to the proper team anyway ;)

[2022-04-20 16:43] gamullen opened #91796 "Word "Applicaton" Misspelled"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bff6a678-34be-028b-2108-260458da23ef
* Version Independent ID: 934e0bd8-8203-31f6-5e2a-fb9aafd4f958
* Content: [Azure Application Gateway HTTP settings configuration](https://docs.microsoft.com/en-us/azure/application-gateway/configuration-http-settin

[2022-04-20 16:45] tamram commented on #84106
@kamfaima - Thanks for your feedback. This forum is for reporting issues with the documentation. The wording described here is the wording that's shown in the portal.

Selecting this checkbox is the action that makes data available for read access in the secondary region (by configuring the account for RA-GRS or RA-GZRS). The point of read access to the secondary region is that you can design your

[2022-04-20 16:45] #84106 closed

[2022-04-20 16:47] erik-ha-msft commented on #91617
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-04-20 16:47] #91617 closed

[2022-04-20 16:48] tamram commented on #78550
#reassign: @tamram

[2022-04-20 16:48] tamram commented on #78344
#reassign: @tamram

[2022-04-20 16:48] PRMerger10 commented on #78344
GitHub user twooley has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-04-20 16:48] tamram commented on #77934
#reassign: @tamram

[2022-04-20 16:48] PRMerger14 commented on #77934
GitHub user twooley has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-04-20 16:48] erik-ha-msft commented on #82617
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2022-04-20 16:48] #82617 closed

[2022-04-20 17:03] martvyoo opened #91799 "Specify whether the NVIDIA GPU Driver extension includes the container toolkit or not"
Title says it all.
First of all, does this extension provide the NVIDIA Container Toolkit?
If yes, it should be mentioned in the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374c8361-9b31-2488-f04b-766e6305c91b
* Version Independent ID: aebb9dd3-d1e6-4319-9ab1-0088bd8416e3
* Content: [NVIDIA GPU Driver

[2022-04-20 17:05] Mike-Crowley commented on #50235
I realize this issue is closed, but should anyone else fine this, You can authenticate to Azure AD with MacOS. You need the vpn client here: https://apps.apple.com/us/app/azure-vpn-client/id1553936137

[2022-04-20 17:14] JamesTran-MSFT commented on #91786
@dshimogawa
Thank you for pointing this out and for your time and patience!

Q1: Does the administrator of tenant A need to grant a P1 license to all users of the tenant?

- From the [Azure AD cross-tenant trust settings for MFA and device claims](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/authentication-conditional-access#azure-ad-cross-tenant-trust-settings-for-m

[2022-04-20 17:29] JamesTran-MSFT commented on #91784
@FernandoGualano
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-20 17:31] Grace-MacJones-MSFT commented on #91780
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2022-04-20 17:32] PriyankaRudramaina commented on #91799
Hello @martvyoo,
Thank you for your feedback. We will investigate and update the thread further.

[2022-04-20 17:34] davehcdn opened #91800 "Sample Queries broken on Page"
In section https://docs.microsoft.com/en-us/azure/cosmos-db/monitor-cosmos-db#sample-kusto-queries there are some sample Kusto queries and they are broken.  They have == "Microsoft.DocumentDb" but as we know, == is identity match and the Provider is actually "MICROSOFT.DOCUMENTDB".  This only wasted 80 minutes of my life ;)

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-04-20 17:41] ms-guizha commented on #91752
hi jeremy, which npm package version are you using now?  to unblock you, maybe you can try previous npm packages version

[2022-04-20 17:45] jeremy-ellis-tech commented on #91752
Thank you. I'll close this and reopen it there.

[2022-04-20 17:46] jeremy-ellis-tech commented on #91752
I have tried the current version (2.2.5) and the two previous versions (2.2.4 & 2.2.3)

[2022-04-20 17:48] jeremy-ellis-tech commented on #91752
Moved to https://github.com/microsoft/vscode-asa/issues/65

[2022-04-20 17:48] #91752 closed

[2022-04-20 17:49] Wibusts opened #91801 "Confusing instructions"
[Enter feedback here]
 Instructions provided are confusing:

"To enable sign-in for users with an Azure AD account from a specific Azure AD organization, **_in Azure Active Directory B2C (Azure AD B2C), you need to create an application in [Azure portal](https://portal.azure.com/)._** For more information, see [Register an application with the Microsoft identity platform](https://docs.microsoft.co

[2022-04-20 17:49] rmuneer commented on #91564
Hello Support,

Kindly update.

+ ***@***.******@***.***> included in cc.

Thanks

Rizwan Muneer
Microsoft Azure Linux Support
Support Escalation Engineer
Working Days/Hours
(US Central Time):
Email:
Office Phone:
Mon-Fri         0800 - 1700

***@***.******@***.***>
+1 (630) 935-8074
[A picture containing graphical user interface  Description automatically generated]

If you need to work with anot

[2022-04-20 17:58] tfitzmac commented on #91727
The update will get published later today. Thanks again for the suggestion.
#please-close

[2022-04-20 17:58] #91727 closed

[2022-04-20 18:03] Oury-MSFT commented on #91800
@davehcdn Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-04-20 18:17] Mike-Crowley commented on #50611
I suspect the Microsoft store app IDs are baked into the vpn gateway and we wouldn't be able to implement our own client such to satisfy the gateway.

[2022-04-20 18:19] DerekHerman-MSFT commented on #91768
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-20 18:30] himanshusinha-msft commented on #91771
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-04-20 18:32] meenasaravanan02 commented on #64488
Hi @chitturs, It is an implementation question on how to integrate Application Insights  SDK into .NET. It is not related to Service Fabric.

Recommend to raise the question on Application Insights or .NET githubs

#Please-close this issue

[2022-04-20 18:32] #64488 closed

[2022-04-20 18:32] himanshusinha-msft commented on #91766
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-20 18:34] JamesTran-MSFT commented on #91801
@Wibusts
Thank you for your detailed feedback!

When it comes to the two sections that you mentioned, one is for creating an [Azure AD App registration](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-custom-policy#register-an-azure-ad-app) within your Azure AD Tenant.
![image](https://user-images.githubusercontent.com/36619112/164298

[2022-04-20 18:38] J227668 opened #91803 "Steps do not work for Azure Gov customers"
These steps do not work for Azure Gov customers. When you get to step 4 you do not have the ability to Transfer billing ownership. Can you please update this page with how an Azure Gov customer can transfer billing and/or specify that these steps are specific to Azure Commercial and point to a separate page that shares how this is achievable in Azure Gov?

Thank you.

---
#### Document Details

⚠

[2022-04-20 18:39] #87967 closed

[2022-04-20 18:47] bandersmsft commented on #91803
@J227668 I'm investigating this issue with the Billing engineering team. I'll reply here when I have more details.

[2022-04-20 18:53] rmeadinc opened #91804 "Resize disks doc missing info"
Unable to resize disks, even for shut down VM. This page does not reference the following warning:
"Changes to the disk size can be made only when the disk is unattached or the managing virtual machine(s) are deallocated."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-8681-1823bbd8f050
* Version Ind

[2022-04-20 18:54] kengaderdus commented on #91511
@Norrch2

The special treatment is applied to both `OutputClaims` and `DisplayClaims` as long as you retain the `Ids` of the `claimsTypes` as `reenterPassword` and `newPassword`.

[2022-04-20 19:04] tomvcassidy commented on #91794
Hi @davequinn

Can you please post the details of the error so we can reproduce it?

Thanks.

[2022-04-20 19:10] davequinn commented on #91794
Hi,

I followed the instructions as provided and copied and pasted the code from the web page yet at the line noted an error says ..

Severity

Code

Description

Project

File

Line

Suppression State

Error

CS0246

The type or namespace name 'Startup' could not be found (are you missing a using directive or an assembly reference?)

VotingWeb

C:\Users\daveq\source\repos\VotingWeb\VotingWeb\Voti

[2022-04-20 19:14] aahill commented on #91567
Thanks for letting us know about this issue. The link should be fixed now!

#please-close

[2022-04-20 19:15] #91567 closed

[2022-04-20 19:15] davequinn commented on #91794
I am using VS 2022 and .Net Core 6.0

From: Tom Cassidy ***@***.***>
Sent: April 20, 2022 3:04 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: davequinn ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Needs to be updated to .Net 6.0 Startup changes, i.e. this line --> .UseStartup<Startup>() in the VotingWeb.cs file gives error (Issue #91794)

Hi @davequinn <https://gith

[2022-04-20 19:38] DerekHerman-MSFT commented on #91804
@meadinc
I believe this is covered by the warning near the top.
![image](https://user-images.githubusercontent.com/65573242/164309534-fe4f17ff-27e7-47f7-94b6-44c73ff24433.png)

[2022-04-20 19:39] cherylmc commented on #91467
Thank you. We will take a doc bug on this to investigate and update. #please-close

[2022-04-20 19:39] ChaitanyaNaykodi-MSFT commented on #91796
Thank you for your feedback. I have made a PR to address this issue. This issue will be closed when the PR is merged.

[2022-04-20 19:42] mmyers299 opened #91805 "Rule set instructions outdated"
The following message displays on the rule set group page now

"The cache expiration, cache key query string and origin group override actions are deprecated. These deprecated actions can still work normally, but your rule set cannot be changed. You need to replace them with new route configuration override action before changing your rule set."

---
#### Document Details

⚠ *Do not edit this sect

[2022-04-20 19:43] kobulloc-MSFT commented on #91735
@congyiwu With the accuracy of the documentation verified and a fix being worked on for the warning message, we are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-04-20 19:43] #91735 closed

[2022-04-20 19:46] #91796 closed

[2022-04-20 19:48] SenorRagequit opened #91806 "Grafana managed - Add section about updates"
Would be great if we could get some information regarding updates.

- Can only Microsoft do them? (Can we force an Update via Azure CLI?)
- Will Microsoft patch Grafana each version as soon as possible, or just Major ones?

Stuff like that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26dd1784-fe83-671c-c117-62e074c5e

[2022-04-20 19:50] Celtoid opened #91807 "Missing temp disk size for Ebsv5 VMs"
Temp disk size is missing for the Ebsv5 VM sizes even though the IOPS and Throughput are listed.
![image](https://user-images.githubusercontent.com/38409646/164311373-ee993c2d-58dd-4f23-8e80-086dfbd648a3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3950928-1977-9c38-3289-79fd011058f3
* Version Independent ID: b

[2022-04-20 19:51] chrisba11 opened #91808 "Minor spelling mistake"
In the second sentence of this section, there's a very minor spelling mistake that says "away" and should say "a way".

https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-high-availability#geo-replication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593037b3-bb00-5c4f-f87e-5e12afa593de
* Version Indep

[2022-04-20 19:51] billmath commented on #74172
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-20 19:52] #74172 closed

[2022-04-20 19:52] billmath commented on #74179
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-20 19:52] #74179 closed

[2022-04-20 19:53] billmath commented on #69087
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-20 19:53] #69087 closed

[2022-04-20 19:53] meenasaravanan02 commented on #91660
Hi @fwd079

Can you please post the details of the error/ error message?

Thanks.

[2022-04-20 19:57] Justinha commented on #73024
@stephenc01 thanks for the feedback! I double-checked the steps and changed Intune to Endpoint Manager. The fix will appear later this afternoon.

#please-close

[2022-04-20 19:57] #73024 closed

[2022-04-20 20:04] GeethaThatipatri-MSFT commented on #91808
Hi @chrisba11 Thanks for your findings, At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-20 20:05] billmath commented on #82472
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-20 20:05] #82472 closed

[2022-04-20 20:07] billmath commented on #82402
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-20 20:07] #82402 closed

[2022-04-20 20:10] billmath commented on #82065
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-20 20:10] #82065 closed

[2022-04-20 20:12] billmath commented on #81946
Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-20 20:12] #81946 closed

[2022-04-20 20:13] billmath commented on #81640
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-20 20:13] #81640 closed

[2022-04-20 20:14] billmath commented on #81644
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-20 20:14] #81644 closed

[2022-04-20 20:15] billmath commented on #80274
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-20 20:15] #80274 closed

[2022-04-20 20:36] rolyon commented on #90682
Hi @RudyEvers
Thanks for your feedback. Let us know if you have any additional feedback.
thanks

[2022-04-20 20:36] rolyon commented on #90682
#please-close

[2022-04-20 20:36] #90682 closed

[2022-04-20 20:46] SunnyDeng opened #91809 "From JP: Azure (NSG) Feedback"
Feedback from a Japanese-customer:
"
The explanation of VM4 is insufficient. This is what happens when the public IP address resource is a Basic SKU. If the public IP address resource is a Standard SKU, it will be rejected. English Docs is also wrong.

Current information seriously misleads my understanding of the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-04-20 20:46] JamesTran-MSFT commented on #91795
@michael-trieu-fso
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-20 20:59] tomvcassidy commented on #91794
Hi @davequinn,

I ran into the same issue. I checked with the product team, and they believe this is because Service Fabric doesn't support .Net Core 6 yet.

They are currently working on support for it, and it will be included in the Service Fabric 9.0 release. They don't have a firm release date.

[2022-04-20 21:00] rolyon commented on #80697
Hi @DavidTaig
Thanks for your feedback. I've contacted the Microsoft 365 Apps admin center team and provided your feedback.
Let us know if you have any additional feedback.
thanks

[2022-04-20 21:00] rolyon commented on #80697
#please-close

[2022-04-20 21:00] #80697 closed

[2022-04-20 21:00] Minewiskan commented on #91771
@hansmbakker - Thanks for pointing this out. We'll cover this in the tutorial along with https://github.com/MicrosoftDocs/bi-shared-docs/issues/46.
#please-close

[2022-04-20 21:00] #91771 closed

[2022-04-20 21:10] MicrosoftGuyJFlo commented on #83791
It attempts to refresh every 4 hours as long as the user is active on the device. The PRT is used to get access tokens for applications. If you are concerned about long lived tokens you can choose to enable [Continuous Access Evaluation}(https://docs.microsoft.com/azure/active-directory/conditional-access/concept-continuous-access-evaluation) and [Sign-in frequency}(https://docs.microsoft.com/azur

[2022-04-20 21:10] #83791 closed

[2022-04-20 21:38] DerekHerman-MSFT commented on #91807
Ebsv5 doesn't have temp storage. I created a PR to remove the temp storage perfromance column. Changes will go live once reviewed by the author.

[2022-04-20 21:39] #91807 closed

[2022-04-20 21:42] ajburnle commented on #91534
@JamesTran-MSFT you need to give this to someone who does localization. #re-assign: @JamesTran-MSFT

[2022-04-20 21:46] kgremban commented on #88848
Hello @bschaef14 I got more information about your QoS comment:

Does that clarify the twin update behavior/expectations?

[2022-04-20 21:46] ajburnle commented on #91534
#please-close

[2022-04-20 21:46] #91534 closed

[2022-04-20 21:48] ajburnle commented on #84216
article has been updated. #please-close

[2022-04-20 21:48] #84216 closed

[2022-04-20 21:52] ajburnle commented on #82378
#please-close

[2022-04-20 21:52] #82378 closed

[2022-04-20 21:58] #83827 closed

[2022-04-20 21:59] kgremban commented on #90442
Closing this issue as a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/88848

#please-close

[2022-04-20 21:59] #90442 closed

[2022-04-20 22:10] tilarso commented on #34167
Hey all,
Thanks for raising concern here. We introduced a [combined security information registration experience for MFA and SSPR](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/combined-mfa-and-password-reset-registration-is-now-generally/ba-p/1257355) back in April of 2020 that replaced the pages mentioned here (…windowsazure.com).  This updated experience moved registrat

[2022-04-20 22:16] mundayn opened #91812 "8 Core Limit - Bypass?"
Hi,

I am looking for a way to bypass the 8 core limit for the VMWare Azure Replication Appliance due to hardware limitations / labbing. I understand this is NOT supported this way, but if I could bypass for testing purposes that would be ideal.

Is this possible?

Thanks,

https://docs.microsoft.com/en-us/azure/site-recovery/deploy-vmware-azure-replication-appliance-preview?source=docs#hardware-r

[2022-04-20 22:42] felixtsem5 opened #91813 "Manifest for tagging PIP seems to be wrong"
Under the **Add tags by using Kubernetes** section, the doc states that I need to add the following under the **spec** section of a Service:

But when I submit it through **kubectl** it will complain.

If I place it under **metadata/annotations** of the service manifest, I will have the tags I specified propagated to the Azure resource.

Can you please verify?

---
#### Document Details

⚠ *Do not

[2022-04-20 22:45] cherylmc commented on #91467
I've verified the portal and the screenshot matches for the virtual network gateway (VPN Gateway) product. However, when using the Virtual WAN product, the interface is entirely different and uses different steps when creating the P2S User VPN configuration.

[2022-04-20 22:48] ahartoon commented on #90054
@CHEEKATLAPRADEEP-MSFT I've made the changes to the doc. Can we close this? I am unable to on my end.

[2022-04-20 23:04] HenryLGatesFoundation opened #91814 "CLI Version Update Possible?"
Hello,

Thank you for this page.  Is it possible to update it, or add a version of these instructions for CLI use?  Thank you for the consideration.

Regards,
Henry

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb3eca05-6c63-b716-485c-f9428b8e1c5d
* Version Independent ID: 1e9040f0-66ac-b838-9ffc-ac4252ba9707
* Conten

[2022-04-20 23:14] davequinn commented on #91794
Ok, glad to hear they are working on it, thank you.

From: Tom Cassidy ***@***.***>
Sent: April 20, 2022 4:59 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: davequinn ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Needs to be updated to .Net 6.0 Startup changes, i.e. this line --> .UseStartup<Startup>() in the VotingWeb.cs file gives error (Issue #91794)

Hi @davequin

[2022-04-20 23:14] ecfan commented on #90630
@DTronD, thanks for your patience. The docs should be updated by 04/221/2022 after 11 AM Pacific Time. We'll close this issue now.

@MayankBargali-MSFT: #please-close

[2022-04-20 23:14] #90630 closed

[2022-04-20 23:16] SatishBoddu-MSFT commented on #91770
I have assigned the issue to the content author for further review.

[2022-04-20 23:21] KarlErickson commented on #87476
Content has been updated.
#please-close

[2022-04-20 23:21] #87476 closed

[2022-04-20 23:24] ajburnle commented on #91590
will update screenshot #please-close

[2022-04-20 23:24] #91590 closed

[2022-04-20 23:25] KarlErickson commented on #85707
Content has been updated.
#please-close

[2022-04-20 23:25] #85707 closed

[2022-04-20 23:27] Heidilohr commented on #54860
Forgot to close this. #please-close

[2022-04-20 23:27] #54860 closed

[2022-04-20 23:28] Heidilohr commented on #54010
This comment has been addressed with an earlier update. #please-close

[2022-04-20 23:28] #54010 closed

[2022-04-20 23:29] mallutv opened #91815 "New-AzADServicePrincipal -"
[Enter feedback here]
While executing the below command
 New-AzADServicePrincipal -ApplicationId "bbb94529-53a3-4be5-a069-7eaf2712b826" -DisplayName "Verifiable Credential Request Service"
Getting the error
New-AzADServicePrincipal: Parameter set cannot be resolved using the specified named parameters. One or more parameters issued cannot be used together or an insufficient number of parameters we

[2022-04-20 23:30] MarileeTurscak-MSFT commented on #91815
@mallutv
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-20 23:32] #85583 closed

[2022-04-20 23:36] ajburnle commented on #88463
article has been updated. #please-close

[2022-04-20 23:36] #88463 closed

[2022-04-20 23:37] ajburnle commented on #82282
#please-close

[2022-04-20 23:37] #82282 closed

[2022-04-20 23:40] MarileeTurscak-MSFT commented on #91815
"Parameter set cannot be resolved using the specified named parameters" is a generic Powershell error that occurs when there's more than one parameter set that can be used and the user does not provide any parameter.

Without having more information about your case, it sounds to me that this is more of a product question than an issue with the documentation.

For this reason, I would recommend [cr

[2022-04-20 23:40] #91815 closed

[2022-04-20 23:41] ajburnle commented on #89296
all the links work. #please-close

[2022-04-20 23:41] #89296 closed

[2022-04-20 23:48] epomatti opened #91816 "Can't find how to modify the device administrator role"
I can't find this option: **"Manage Additional local administrators on all Azure AD joined devices"**

![image](https://user-images.githubusercontent.com/6530769/164342632-474e89b9-93da-4856-9b50-6f37f96bfc80.png)

And I DO have AAD Premium P2.

![image](https://user-images.githubusercontent.com/6530769/164342584-20d86f17-30d0-4f9e-b6f2-7dfbee12f057.png)

---
#### Document Details

⚠ *Do not edit

[2022-04-20 23:56] ChaitanyaNaykodi-MSFT commented on #91214
Hello @somuworld, as we did not determine any documentation enhancement/bug, we will now proceed to close this issue out. Please tag me in your response if the issue still exists. Thank you!

[2022-04-20 23:56] #91214 closed

[2022-04-20 23:57] JamesTran-MSFT commented on #91816
@epomatti
Thank you for your post!

Can you also make sure that the user you're signed in with has the correct permissions? i.e. Global Admin.
![image](https://user-images.githubusercontent.com/36619112/164343422-f6896dbe-5df5-4ec5-a428-b9ee7d94cb13.png)

[2022-04-21 00:03] Heidilohr commented on #74214
This was due to space constraints. The TOC doesn't allow items that are longer than two lines on the Docs website page. #please-close

[2022-04-21 00:03] #74214 closed

[2022-04-21 00:09] epomatti commented on #91816
@JamesTran-MSFT I had to exit and enter the Portal again 🤦restarting the browser did it for me.

![image](https://user-images.githubusercontent.com/6530769/164344325-e5f515d0-f8f6-4932-936d-467385d2fd2c.png)

[2022-04-21 00:09] #91816 closed

[2022-04-21 00:10] MarileeTurscak-MSFT commented on #91775
Thanks @stephan-kueppers !

I made a pull request to update the steps. https://github.com/MicrosoftDocs/azure-docs-pr/pull/195688

[2022-04-21 00:10] #91775 closed

[2022-04-21 00:33] zhengdawu-db opened #91818 "net.ipv4.tcp_keepalive_intvl range and name error when creating aks nodepool"
[Enter feedback here]
The correct range seems to be 10-75 instead of 1-75 specified on this doc, also, the camelized name is `netIpv4TcpkeepaliveIntvl` instead of `netIpv4TcpKeepaliveIntvl` which is inconsistent with others

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 380f1a40-3494-7d98-216d-9fd1cd624314
* Version In

[2022-04-21 00:37] cinamori commented on #90054
Thank you for revising. Could you please add that users should use _watermark_ and _operation_  correctly and are not able to edit that's column name?

[2022-04-21 00:42] k7faq commented on #91467
Sounds to me like other documentation is confusing me. I attempted to
deploy a P2S VPN following the microsoft.com provided documentation. Thus I
was trying to follow this document referenced. I only ended up in a world
of confusion and frustration after several hours of banging head on wall
and everything else that goes along with struggling to figure out how to
make something work.
No worries th

[2022-04-21 00:47] tomvcassidy commented on #91794
#please-close

[2022-04-21 00:48] #91794 closed

[2022-04-21 00:59] SatishBoddu-MSFT commented on #91776
@jahlqvis
I have assigned the issue to the content author for further review.

[2022-04-21 01:07] BryanTrach-MSFT commented on #91805
@mmyers299 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-21 01:11] zaalion opened #91819 "Please clarify "OpenAPI definition is associated with the selected Web App""
[Enter feedback here]
Hello,

Could you please clarify what you mean by "OpenAPI definition is associated with the selected Web App"? How do we create thisd association for an App Service hosting web APIs?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b62e7bac-03cb-ddc6-49ca-e800ec3bb140
* Version Independent

[2022-04-21 01:27] GavinJin88 opened #91820 "Domain validation state turned to "internal error" when TXT record was not added in 1-2 days"
[Enter feedback here]
Domain validation state turned to "internal error" when TXT record was not added in 1-2 days.

I firstly saw this issue from one of my customers and I was also able to replicate this issue under my own sub.

1. Add customer domain and it "validation state" firstly started with "Pending"
2. I was supposed to add TXT record, but I didn't.
3. "validation state" turned to "Intern

[2022-04-21 01:29] angie4u opened #91821 "Twin.js file doesn't exist"
I was following this doc, but I cannot proceed because "twin.js" file doesn't exist
Link: https://docs.microsoft.com/en-us/azure/iot-develop/tutorial-service?pivots=programming-language-javascript#update-a-writable-property

<img width="634" alt="image" src="https://user-images.githubusercontent.com/16282358/164353571-61b023de-869c-4979-8600-132fcea89f6e.png">

---
#### Document Details

⚠ *Do not

[2022-04-21 01:52] MonikaReddy-MSFT commented on #91812
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-21 01:53] MonikaReddy-MSFT commented on #91814
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-21 01:54] KrishnaG-MSFT commented on #91806
@SenorRagequit Thanks for the feedback.
Assigning to @maud-lv for visibility, review and document enhancement consideration as appropriate.

[2022-04-21 02:05] zaalion opened #91822 "ApiManagement service tag"
[Enter feedback here]
Hello,

The "ApiManagement" service tag covers only the mamagement traffic. Is there a service tag for the operation traffic of API management (the API Gateway)? I am trying to only allow incoming traffic to an App Service if the caller is API Management.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-04-21 02:06] MonikaReddy-MSFT commented on #91809
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-04-21 02:16] MonikaReddy-MSFT commented on #91564
@rmuneer - We are currently looking into this and will get back to you as soon as possible. Thank you for your cooperation while we investigate this issue.

[2022-04-21 02:21] MonikaReddy-MSFT commented on #91685
@deltadan -  Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2022-04-21 02:21] #91685 closed

[2022-04-21 02:22] deltadan commented on #91685
if you open the webpage the NOTE markdown is broken, so it doesn't display properly.

[2022-04-21 02:25] SatishBoddu-MSFT commented on #91782
@pan9killer
I have assigned the issue to the content author for further review.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-04-21 02:45] sebitos opened #91823 "Cloud Explorer is no longer supported in VS2022"
As Cloud explorer is no longer supported in VS2022, how can I work with Logic Apps using VS2002?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2650bd13-3b48-c09d-e0bc-bcad6605a4b7
* Version Independent ID: 644aabda-c85b-88b9-deb8-4cb38b49ad4f
* Content: [Edit and manage logic apps using Visual Studio - Azure Logic App

[2022-04-21 02:57] SunnyDeng commented on #91809
Of course! here it is https://docs.microsoft.com/en-us/azure/virtual-network/network-security-group-how-it-works

[2022-04-21 02:59] haodeon commented on #78970
@grajdeanserghei Do you mind explaining how sharing a consumption plan across multiple function apps affects performance? That is not my understanding when I read that sentence.

It appears Glen Gailey has already updated the **Multiple apps in the same plan** section to now say

_"The general recommendation is for each function app to have its own Consumption plan. However, if needed, function ap

[2022-04-21 03:01] g0pinath opened #91824 "Documentation link for NSG Diagnostics logs is broken."
![image](https://user-images.githubusercontent.com/40280382/164362917-e523fde0-b667-4f93-a30e-92797366d01c.png)
 The URL provided under NSG diagnostics is redirecting to KB2144207 which seems to be internal. Please verify that the URL in this section is accessible publicly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-04-21 03:06] SreejaBhattacharya-MSFT commented on #91818
Thanks for reaching out @zhengdawu-db . We will check on this and update the document.

[2022-04-21 03:13] SreejaBhattacharya-MSFT commented on #91813
Thanks @felixtsem5 for reaching out. We will check this internally and update you. Thanks.

[2022-04-21 03:13] kamfaima commented on #84106
Hi @tamram, thanks for getting back to me. I guess we'll just have to agree to disagree! Configuring a storage account for RA-GRS or RA-GZRS makes the data in the secondary region readable **irrespective of whether the primary region is available or not**, not just when it's available.

I still stand by my comment that the description itself is misleading and that it's a poor UX/UI that you don't

[2022-04-21 03:59] angie4u commented on #91821
My mistake.. It is existing under this! Maybe it would be great to have a link on that docs
: https://github.com/Azure/azure-iot-sdk-node/blob/main/service/samples/javascript/twin.js

[2022-04-21 03:59] #91821 closed

[2022-04-21 04:00] AnuragSharma-MSFT commented on #91632
@fmerinop Thanks for your patience. Actually this document is specific to Single Server but agree on you point. This is being assigned to the content author to evaluate and update as appropriate.

[2022-04-21 04:00] SamHard commented on #91693
@HeidiSteen, thank you!  That's exactly what I was looking for.

[2022-04-21 04:06] MayankBargali-MSFT commented on #91788
@tjohnson1010 Thank you for your feedback! We will review and update as appropriate.

[2022-04-21 04:07] MayankBargali-MSFT commented on #91793
@baybal Thank you for your feedback! We will review and update as appropriate.

[2022-04-21 04:30] #91753 closed

[2022-04-21 04:31] SwathiDhanwada-MSFT commented on #91754
@srrrrrrrrrr As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-04-21 04:31] #91754 closed

[2022-04-21 04:33] jpaiblog opened #91825 "445 port permission required for Storage"
[Enter feedback here]
The table on the following site does not list the permission for port 445 for the service tag Storage.region, but it is actually required. Please add it.

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-access-azureml-behind-firewall?tabs=ipaddress%2Cpublic#required-public-internet-access

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-access-az

[2022-04-21 05:07] jlee-vi opened #91826 "Incorrect documentation on Azure AD scopes (scoping to Azure AD groups)"
Hi Team,

Within the documentation, the following is stated regarding scopes:

`If you specify an Azure AD resource as a scope, it can be one of the following:
Azure AD groups
Enterprise applications
Application registrations`

Is this correct? An Azure AD role can be _**assigned**_ to an Azure AD group, but it cannot be **_**scoped**_** to an Azure AD group. Unless I'm mistaken.

To illustrate wh

[2022-04-21 05:10] SnehaAgrawal-MSFT commented on #91631
@jchalfant Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let me know

[2022-04-21 05:10] #91631 closed

[2022-04-21 05:11] SnehaAgrawal-MSFT commented on #91693
@SamHard Thanks for confirming, We will now proceed to close this thread. If there are further questions regarding this matter, please let us know. We will gladly continue the discussion.

[2022-04-21 05:11] #91693 closed

[2022-04-21 05:27] HenryLGatesFoundation opened #91827 "Perceived guidance dissonance: Custom role creation from Built-in role"
In the note on this page, it states the following: "Ensure that the custom role is a duplicate of the built-in role you want to duplicate, and that its scope matches the built-in role."

Before the note, this page references the following page: Azure custom roles - https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles.

I don't understand why this page would direct a user t

[2022-04-21 05:28] v-hgampala commented on #91683
Issue resolved, changes will commit within 2-3 working days.
#please-close

[2022-04-21 05:28] #91683 closed

[2022-04-21 05:42] shashishailaj commented on #91826
@jlee-vi
Thank you for your feedback . We will investigate and update the thread.

[2022-04-21 05:50] GitaraniSharma-MSFT commented on #91820
@GavinJin88 , thank you for your feedback. We have assigned this to the content owner/author for review.

@duongau , for your review.

[2022-04-21 05:51] GitaraniSharma-MSFT commented on #91822
@zaalion , thank you for your query. We'll review this and get back to you shortly!

[2022-04-21 06:06] dshimogawa opened #91828 "Can I set condtional access for each B2B direct connect tenant?"
[Enter feedback here]

Hi, Team.
In the following cases, could you tell me tech requirement? I could not understand it on Azure AD B2B Direct Connect cases.
[Environmental information]
・Resorce of the Teams shared channel: Tenant A
・Tenants invited to the Teams shared channel: Tenant B
[Case]
-Tenant A configures the permissions of [All external users and groups] in the inbound access settings of

[2022-04-21 06:13] Sharmistha-Rai commented on #91812
@mundayn - checking this internally and will get back with a workaround if possible.

[2022-04-21 06:22] RohitMungi-MSFT commented on #91825
@jpaiblog Thanks for checking. @jhirono Could you please confirm if this needs to be added to the table for service tag port recommendations? Port 445 is added under [Microsoft hosts](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-access-azureml-behind-firewall?tabs=ipaddress%2Cpublic#microsoft-hosts) section where the ports that are to be opened for working behind firewall are doc

[2022-04-21 06:23] RohitMungi-MSFT commented on #91701
@Jessie0008 I hope the link to cognitive services helps to learn about other AI offerings of Azure.
We will now proceed to close this thread. Thanks!!

[2022-04-21 06:23] #91701 closed

[2022-04-21 06:24] shashishailaj commented on #91828
@dshimogawa
Thank you for your feedback . We will investigate and update the thread.

[2022-04-21 06:24] RohitMungi-MSFT commented on #91741
@Ahed-bahri The PR is now merged and the document update is live. Thanks for helping us fix this typo.
We will now proceed to close this thread.

[2022-04-21 06:24] #91741 closed

[2022-04-21 06:25] shashishailaj commented on #91827
@HenryLGatesFoundation
Thank you for your feedback . We will investigate and update the thread.

[2022-04-21 06:26] Sharmistha-Rai commented on #91812
@mundayn - we will have a workaround for this issue by the end of May.

[2022-04-21 06:33] dshimogawa opened #91830 "Could you tell me specification about B2B direct Connect?"
[Enter feedback here]
Hi, Team.
In the following authentications cases, specification about B2B direct Connect? Some our customer's domain is "federated".
[Environmental information]
・Resorce of the Teams shared channel: Tenant A
・Tenants invited to the Teams shared channel: Tenant B
・User X in Tenant B federated for ADFS.
・User Y in Tenant B federated for 3rd party IdP.

[Case]
-Tenant A configur

[2022-04-21 06:45] MayankBargali-MSFT commented on #91819
@zaalion Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-21 06:57] MayankBargali-MSFT commented on #91823
@sebitos Thanks for reaching out. Unfortunately, as of now there are no plans of supporting Logic App extension for Visual Studio 2022. The same is documented [here](https://docs.microsoft.com/en-us/azure/logic-apps/manage-logic-apps-with-visual-studio#prerequisites).

I have already passed the feedback to the product team for supporting this as would be helpful for many of our customers, but I wi

[2022-04-21 06:57] #91823 closed

[2022-04-21 06:59] SadiqhAhmed-MSFT commented on #91673
@brucelangston Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-04-21 07:12] kimjamia opened #91831 "Bacpac import from Storage Account to Azure SQL Database fails silently"
On this page it says:

However, even after the Portal said the following, nothing appears in the Import/Export history. I waited overnight but there's still nothing. And I tried it it a few times.

The database does seem to appear on the server but it doesn't have any tables. However, I'm fairly confident that I saw some tables in it earlier but now they are gone. Perhaps the import process was in

[2022-04-21 07:14] KazuOnuki opened #91832 "8787 and 18881 port permission required for service tag `AzureMachineLearning`"
[Enter feedback here]
The table on the following site does not list the permission for port `8787`, `18881` for the service tag `AzureMachineLearning`.
 But it is actually required. Please add it.

[Required public internet access](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-access-azureml-behind-firewall?tabs=ipaddress%2Cpublic#required-public-internet-access)
![image](https://

[2022-04-21 07:16] xuwenjian1995 opened #91833 "Request to add changing administrator information"
Hello Team,

I would appreciate if you could update the document and add how to change administrator for APIM.
https://docs.microsoft.com/en-us/azure/api-management/api-management-faq#how-do-i-add-a-user-to-the-administrators-group-

Currently **The location to change Admin details in the Notification Templates are a little hidden and official document did not guide well about how to change it. Th

[2022-04-21 07:20] dshimogawa commented on #91786
Thank you James. It was very helpful.

This case, Tenant B configure outbound access setting of the cross-tenant access setting., but Tenant B can access Tenant A without Azure AD P1. Is my understanding correct?
※Actually, Tenant B isn't set  "Conditional Access" for any user.

[2022-04-21 07:41] kengaderdus commented on #91511
@Norrch2

We'll now close this issue. #please-close

[2022-04-21 07:41] #91511 closed

[2022-04-21 07:48] AnuragSharma-MSFT commented on #91630
@sabaripkumar Thanks for your patience and really appreciate observation mentioned by you. The name 'testgraphacct' is incorrect as per the images available and it should be 'graphtest'. We will create a PR and update this value. The term endpoint usually refers to fully qualified name of the account. Also the host is just a variable name which is read from environment variable. We can change it t

[2022-04-21 07:53] kengaderdus commented on #89909
@fumikouehara

I've escalated this issue to our product team who are currently testing the requirements you raised. I've also created a work item to track the progress internally. I'll comment back when we update the doc per results of the tests. For now, I'll close the issue. #please-close.

[2022-04-21 07:53] #89909 closed

[2022-04-21 07:59] kengaderdus commented on #90498
@mrochon

Thank you for your feedback and patience. We're collecting all the information required to respond to your question.

[2022-04-21 08:02] kengaderdus commented on #90339
@Norrch2

Thank you for your feedback and patience. We're working with the product team to investigate your request, and we'll comment back when we've something.

[2022-04-21 08:03] sebhe opened #91834 "Security Policy & Regulatory Compliance"
It would be great if the documentation could provide a bit more details on what to expect behind "Security Policy & Regulatory Compliance" in Plan 2 (see also table: https://docs.microsoft.com/en-us/azure/defender-for-cloud/defender-for-servers-introduction#what-are-the-microsoft-defender-for-server-plans)

In defender for cloud in the menu where we can decide on what plan to use, the option "secu

[2022-04-21 08:07] elliotchaim commented on #88049
See https://github.com/Azure/azure-functions-dotnet-worker/issues/810 for more visibility of the pain this is causing

[2022-04-21 08:11] SnehaAgrawal-MSFT commented on #91697
@RamanaSwaroop Thanks for asking question! As its mentioned in [here](https://docs.microsoft.com/en-us/azure/static-web-apps/faq#how-do-i-ensure-my-app-is-deployed-to-a-specific-azure-region-).

"Azure Static Web Apps is a global service. Your app's static assets are globally distributed. When you create your app, you select a region where the managed Azure Functions app is deployed. If you need y

[2022-04-21 08:13] kengaderdus commented on #87652
@stephanieguyot

Thank you for your feedback and patience, and sorry that we took too long to reply. We're collecting all the information required to respond to your question.

[2022-04-21 08:15] SnehaAgrawal-MSFT commented on #91699
@vermeirbart Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-04-21 08:30] darren-abbott opened #91835 "example queries fail with Incorrect syntax near the keyword 'file'"
The first two example code sections (near the top of the document) contains the keyword 'file' so they fail if you try to run them.  The word 'file' should have square brackets around it or the word should be replaced with something else.

eg:
SELECT *
FROM OPENROWSET(BULK 'http://<storage account>.dfs.core.windows.net/container/folder/*.parquet',
                FORMAT = 'PARQUET') AS file

shoul

[2022-04-21 08:36] RamanaSwaroop commented on #91697
"When you create your app, you select a region where the managed Azure Functions app is deployed. " - I don't understand this statement. My understanding is that managed functions are created and managed by static web app, user does not create managed function. @SnehaAgrawal-MSFT

[2022-04-21 08:40] Candelit opened #91836 "Incorrect/Incomplete documentation"
[Enter feedback here]
Hi.
We want to grant access to VMs in Azure using Bastion and zero trust, least amount of priveleges, etc.
And by testing and testing again, I have found the following to be incomplete.

To access a VM via Bastuion with SSH keys stored in a Key Vault, the requirements listed states that you need:
To access the key:
Get access to the secrets stored in the chosen Azure Key Vaul

[2022-04-21 08:43] kengaderdus commented on #89423
@DCurtin

Thank you for your time and patience throughout this issue! I've created a work item to help us to track this issue internally. We'll update the docs, and we'll comment back once the update is completed. For now, we'll close this issue #please-close

[2022-04-21 08:43] #89423 closed

[2022-04-21 08:56] GitaraniSharma-MSFT commented on #91824
@g0pinath , thank you for your feedback. We have assigned this to the content owner/author for review.

@damendo , looks like the URL provided under NSG diagnostics in Azure Portal is redirecting to an internal "review.docs.microsoft" page. Could we loop someone from the portal team to fix this URL link?

![image](https://user-images.githubusercontent.com/67630903/164418323-f947375f-81f6-4a97-bf4a

[2022-04-21 09:17] alxivanov opened #91837 "az acr task create - ERROR: unrecognized arguments: --assign-identity"
I am trying to create an ACR task via Azure Pipelines, however I receive an error while issuing the following command:
`az acr task create --name import-task --registry <registry-name> --file acr-tasks/task.yaml --context /dev/null --assign-identity`

The error message is as follows:
`ERROR: unrecognized arguments: --assign-identity`

As per documentation this is a perfectly legal argument:
![bild

[2022-04-21 09:34] maglethong opened #91838 "Not explicit Token mention in documentation is misleading"
Due to the several different [Bearer] Tokens mentioned in the documentation, I recommend to explicitly mention at https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/service-prin-aad-token#--api-access-for-service-principals-that-are-azure-databricks-workspace-users-and-admins , that the token in question here is a DataBricks user access token, and possibly a link to the doc

[2022-04-21 09:57] 17VB commented on #41969
HI All ,
I had same error  as i alwys use Azure CLI to copy Custom image form one DTL to Storage Directory of another DTL both Source and destination are in different Subscription..ended up getting same error
azcopy copy "source snapshot export url " "destination blob service sas url" --s2s-preserve-access-tier=false

Ended up getting same error went through all above thread's and used replaced en

[2022-04-21 10:08] rggentil opened #91839 "Monitoring resource in the yaml file"
How can I add a monitoring resource in the yaml file?
Is it possible to export from portal.azure Azure Load test to a YAML?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e32094-a14b-f678-010e-8601a6905717
* Version Independent ID: 591e32ab-6020-e955-37fb-3df1bcfd4585
* Content: [Load test configuration YAML - Azure

[2022-04-21 10:13] AnuragSingh-MSFT commented on #91719
@Sachin1O1, sorry for the delayed response. You may add/modify properties of RequestTelemetry using the telemetry initializers. Mode details are available here: [Add/modify properties: ITelemetryInitializer](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-filtering-sampling#addmodify-properties-itelemetryinitializer).

The `RequestTelemetry` has `Url` property, which can be modified t

[2022-04-21 10:40] v-hgampala commented on #91339
@killnine, Thanks for raising the issue!
Will you please update the document(click the edit icon in the article) as per your wording and create a PR for it.

<img width="735" alt="image" src="https://user-images.githubusercontent.com/102347245/164441064-d8be1ae1-597a-42a6-91d4-d62b602fe8f0.png">

Please share that PR with us.
Thank you!

[2022-04-21 10:44] v-hgampala commented on #90731
@PhilippZumdohme , What is the status of it, have you raised the issue?
Without an update request, we'll not update the document for the name change.

[2022-04-21 10:45] v-hgampala commented on #90375
@tunc-ay, Have you raised the issue, can I close this issue?

[2022-04-21 10:59] v-hgampala commented on #88332
@adrian-nae , will you please raise an update request in our [portal](https://microsoft.sharepoint.com/teams/apponboarding/Apps/SitePages/apprequest.aspx) to update in the gallery app as well as in the doc?

[2022-04-21 11:06] v-hgampala commented on #88217
#please-close

[2022-04-21 11:06] #88217 closed

[2022-04-21 11:21] shashishailaj commented on #91830
@dshimogawa
Thank you for your feedback . We will investigate and update the thread.

[2022-04-21 11:22] v-hgampala commented on #87954
@MushyMiddle, we are updating the document in a proper sequence to avoid the confusion for the users.
#please-close

[2022-04-21 11:22] #87954 closed

[2022-04-21 11:27] shashishailaj commented on #91834
@sebhe
Thank you for your feedback . We will engage the content team and update the thread.

[2022-04-21 11:34] oliveryoon opened #91840 "Poor tutorials for data flows section"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ee5bdfe-c68b-09f6-0b7e-aa9c13ed70ef
* Version Independent ID: 77dd85ba-eb47-0324-d7aa-5cd01f617a98
* Content: [Azure Data Factory tutorials - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/data-factory-tutorials)
* Content So

[2022-04-21 11:40] SreejaBhattacharya-MSFT commented on #91818
@zhengdawu-db , are you getting any error with netIpv4TcpkeepaliveIntvl value <10 ? Also, what is the name error you are getting? Name looks fine to me.

[2022-04-21 11:40] tiwalter commented on #85471
thanks @rbgigo.
Since January, it works for us pretty well. No further issues ;)

[2022-04-21 11:43] deMD commented on #90285
Not really. That documentation seems to focus on when trying to import using the OpenApi import option instead of the web app import option.

[2022-04-21 11:45] thomasfrederikhoeck commented on #91587
@saugatapaul1010 did you manage to solve it? We are seeing same error.

[2022-04-21 11:50] ram-msft commented on #91832
@KazuOnuki Thanks for the question. We are investigating the issue and will update you shortly.

[2022-04-21 11:56] CHEEKATLAPRADEEP-MSFT commented on #91835
@darren-abbott  Thanks for the feedback! We are investigating and will update you shortly.

[2022-04-21 11:57] CHEEKATLAPRADEEP-MSFT commented on #91838
@maglethong  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-21 12:21] Sachin1O1 commented on #91719
@AnuragSingh-MSFT we are using a codeless java agent so it won't be possible to use the above-described way. I was thinking of configuring it with the help of the applicationinsight.json config file and https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-telemetry-processors . Do we have any possibility to do it from the config file?

[2022-04-21 12:25] MayankBargali-MSFT commented on #91833
@xuwenjian1995 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-21 12:37] GeethaThatipatri-MSFT commented on #91831
Hi @kimjamia Thanks for reaching out, We will Investigate and update you shortly.

[2022-04-21 13:07] seeess1 commented on #91188
Hi @VikasPullagura-MSFT and @prkannap! Have you been able to determine the updates needed for the documentation?

[2022-04-21 13:08] MonikaReddy-MSFT commented on #91783
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-21 13:08] #91783 closed

[2022-04-21 13:09] Catastrophe1 opened #91841 "The sentence has grammar error and need more clarification"
[Enter feedback here]

What does this line mean? Need more clarification:

"Existing TCP sessions will fail when new outbound TCP sessions from Azure App Service source port. You can either use a single IP or reconfigure backend pool members to avoid conflicts"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e8650b7-1f

[2022-04-21 13:15] L-u-k-e-GIT commented on #91778
Hi after a better reading the design probably indicates the scenario in case of failure of the primary region.
In any case the picture is misleading the reader who can suppose SQL  support an Active/Active multi-regional configuration . Probably is better to have a picture with primary region correctly working, and a second one in case of failure of the primary region.

[2022-04-21 13:18] MonikaReddy-MSFT commented on #91718
@red-erik - Thanks for reaching out, I have reached out to Product team and awaiting their response. WIll keep you posted as soon as I hear back. Thanks.

[2022-04-21 13:21] xuwenjian1995 commented on #91833
Hi @MayankBargali-MSFT
Thanks for your quick response and I look forward to your feedback.

[2022-04-21 13:21] SnehaAgrawal-MSFT commented on #91841
@Catastrophe1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-21 13:42] #86188 closed

[2022-04-21 13:51] tamram commented on #84106
@kamfaima - I appreciate your point of view. However, this forum is only for the documentation, and the documentation in this case is accurate. If you have feedback on the portal UI, you can use the Support + troubleshooting button in the portal to report it.

[2022-04-21 13:58] #91217 closed

[2022-04-21 14:11] shashishailaj commented on #91405
@Gassela Thank you for your inputs. These two roles are intended to be used only by some small number of legacy resale partners which is the reason it is added to the document but not useful for everyone. Only useful for the legacy partners who were using this when it was introduced earlier. No new members can use it and hence it has been removed from the portal and it does not show there. These r

[2022-04-21 14:14] aspnet4you opened #91843 "Workload Identity - any idea when it might be GA?"
Azure Conditional Access Workload Identity is great capability and I am waiting for it to be GA to be able to use it in production. Not sure if this is the right forum to ask the question but anyone knows when this workload identity feature is scheduled for GA?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60d23869-94f

[2022-04-21 14:20] GeethaThatipatri-MSFT commented on #91690
Hi, @yxliu-ntu did you try to download the all-day download command?

[2022-04-21 14:22] yxliu-ntu commented on #91690
Yes

[2022-04-21 14:42] MonikaReddy-MSFT commented on #91564
@rmuneer - The mapping might not be accurate. Hence the results are varying for classification. However, the deployment of updates is not impacted.
We are working to remove the OVAL file dependency and get the classification from machines so that it is consistent. There is no ETA as of now.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there a

[2022-04-21 14:42] #91564 closed

[2022-04-21 15:01] MarileeTurscak-MSFT commented on #91843
@aspnet4you
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-21 15:04] jonathanbrenes opened #91844 "Deprecated link to the Azure datacenter IP ranges"
[Enter feedback here]
There is a reference to the **Azure datacenter IP ranges** using and old link (https://www.microsoft.com/en-us/download/details.aspx?id=41653) which it was deprecated by June 2020. New link should be https://www.microsoft.com/en-us/download/details.aspx?id=56519

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-04-21 15:25] PriyankaRudramaina commented on #91844
Hello @jonathanbrenes,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-21 15:37] larryclaman opened #91846 "Use of "private" in this context?"
This page's title is "Introduction to private Docker container registries in Azure" and it opens with "Azure Container Registry is a managed, private Docker registry service based on the open-source Docker Registry 2.0. Create and maintain Azure container registries to store and manage your private Docker container images and related artifacts."

I think the word "private" is not fully accurate or

[2022-04-21 15:44] flammable commented on #84432
To anyone that finds this thread: we encountered the same thing. Some of our users have special characters in their first or last names. By removing the note about non-ASCII characters in attributes instead of amending it, we weren't prepared for these users to be unable to authenticate via Azure to Google Workspace. I'd reopen this GitHub issue if I could. The "fix" is not inclusive and set up fo

[2022-04-21 15:49] #91526 closed

[2022-04-21 15:49] #91769 closed

[2022-04-21 16:19] JamesTran-MSFT commented on #91816
@epomatti
Thank you for following up on this and I'm glad that you were able to resolve this issue!

[2022-04-21 16:32] ntrogh commented on #91839
#assign: @ntrogh

[2022-04-21 16:35] DerekHerman-MSFT commented on #91846
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-21 16:37] mgarcia-tx811 commented on #62842
Exclusion is working for me as expected.  Albeit, I do see the same behavior with my local route table, as described by Sweggle.  However, a test connection to a known private IP, in the subnet I'm excluding via the VPN XML, does not route through my VPN interface.  It attempts to route through my local interface and subsequently fails.

[2022-04-21 16:43] ntrogh commented on #91839
@rggentil Thanks for reaching out!

We don't currently support configuring the server-side components in the test configuration YAML file. Instead of configuring this for every run, you can configure the components for the load test in the Azure portal. All subsequent runs will then use this configuration. In the Azure portal, select **Configure**, and then select **App components** to configure t

[2022-04-21 16:45] Oury-MSFT commented on #91800
@StefArroyo Please see customer suggestion above. Should I raise a PR to update the doc?

[2022-04-21 16:47] StefArroyo commented on #91800
Hello, yes, we need to update the query.

[2022-04-21 16:54] kobulloc-MSFT commented on #91705
@dmc-tech, I'm going to assign this to the document author who will be able to provide more insight.

[2022-04-21 17:01] danieljlevine commented on #35466
Hi, just starting to play with this capability in April 2022.  I am currently playing with the conversation transcription quickstart project in C#.  I have used a sample .wav file called KateAndSteve.wav file (found in the java Speech SDK quickstart) with my "eastus" and corresponding key with success.  So I actually get what I'd expect from transcription.  Yay.

So now I want to move the quicksta

[2022-04-21 17:11] YutongTie-MSFT commented on #90660
Update: Engineering team is working on this issue and it's already in the backlog. I will close this thread since it's not under document scope. Thank you.

[2022-04-21 17:11] #90660 closed

[2022-04-21 17:12] laujan commented on #90660
Hi @Sarchia, Thank you for alerting us to this issue. I spoke with the engineering teams and they are aware of the language code error and are exploring ways to resolve the issue across all platforms. Thank you again!

[2022-04-21 17:18] Sarchia commented on #90660
Thank you. I hope you tell the team to add a keyboard layout for Northern Kurdish (Kurmanji) to Windows and support it on Bing search too. There is a lot of demand for this.

[2022-04-21 17:22] kobulloc-MSFT commented on #91588
@MatthewBrown0 We currently support automatic VM guest patching for Windows Server 2022 in the following versions however it looks like the last 2 versions are not supported in Portal deployments yet (we are currently working on this):

- Datacenter Azure Edition
- Datacenter Azure Edition Smalldisk
- Datacenter (not supported in Portal yet)
- Datacenter Core (not supported in Portal yet)

[2022-04-21 17:22] cherylmc commented on #91467
Yes, I can see how it could be confusing. There are two different products that Microsoft has that do similar things. VPN Gateway and Virtual WAN both provide P2S functionality, but they do it in different ways and use different objects. I think that's where things got mixed up.

[2022-04-21 17:25] shashishailaj commented on #91438
@dejan-shuki Thank you for finding this. We are getting this verified internally and will update the findings in this thread.

[2022-04-21 17:29] cherylmc commented on #91467
#please-close

[2022-04-21 17:29] #91467 closed

[2022-04-21 17:40] nc-ruth opened #91848 "Upgrade procedure for CSI driver?"
Is it possible to mention how the upgrade process works for the CSI driver?
Is it every time you upgrade AKS, that the CSI driver also gets updated (with a newer version?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 409a3be9-4831-9401-0bb3-c65209bb3f42
* Version Independent ID: 4cf81213-5989-f36c-7456-70accfe452c2
*

[2022-04-21 17:43] pinyuko opened #91849 "TAM is now called CSAM"
[Enter feedback here]
"technical account managers (TAMs)" should be changed to "customer success account managers (CSAMs)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e76e6fc5-89f6-b1d8-feb1-44b5a1aefcf4
* Version Independent ID: 402e320f-771f-96ad-5a7c-f6eb8384eb6a
* Content: [We're retiring Azure VMs (classic) on

[2022-04-21 17:58] cherylmc commented on #90644
#assign:tanuballa

[2022-04-21 17:59] cherylmc commented on #90644
@tanuballa - can you please take a look?

[2022-04-21 18:08] cherylmc commented on #90494
#reassign:anzaman

[2022-04-21 18:10] cherylmc commented on #90404
#reassign:anzaman

[2022-04-21 18:12] cherylmc commented on #88247
#reassign:anzaman

[2022-04-21 18:12] lon-tierney opened #91850 "Modin not compatible with AML?"
Upon attempting to change pandas import within a current AML compute node, the import is not found. Per the Modin site, pip install modin caused several errors which lead to believe it is incompatible with current AML compute node implementations:

ERROR: pyldavis 3.3.1 requires sklearn, which is not installed.
ERROR: pandas-ml 0.6.1 requires enum34, which is not installed.
ERROR: fbprophet 0.7.1

[2022-04-21 18:18] cherylmc commented on #86832
#reassign:anzaman

[2022-04-21 18:20] cherylmc commented on #86369
Thanks! We'll take this as a doc bug.

[2022-04-21 18:21] cherylmc commented on #86369
#please-close

[2022-04-21 18:21] #86369 closed

[2022-04-21 18:26] aspnet4you commented on #91843
@MarileeTurscak-MSFT - Thank you for looking into my question. I could use the feature and take some risk if I am aware that the feature wouldn't go away and it may be GA in next 3-6 months. It's Risk vs Reward, if reward is more, I am willing to take some risk (of using feature before it is GA)!

[2022-04-21 18:31] davidsmatlak commented on #91734
#assign:davidsmatlak

[2022-04-21 18:33] vjc216 opened #91851 "Managed Instance Database Rename / Remove From Failover Group / Database Restore"
This page states the following limitation:  "Database rename is not supported for databases in failover group. You will need to temporarily delete failover group to be able to rename a database, **or remove the database from the failover group**."

This raises a couple of questions.  I haven't seen any documentation or PowerShell commands on how to remove a **managed instance database** from a fai

[2022-04-21 18:42] davidsmatlak commented on #91734
I'll research the issue and update the document as needed.

[2022-04-21 19:01] cherylmc commented on #87268
Added link on how to find your tenant ID.

[2022-04-21 19:01] cherylmc commented on #87268
#please-close

[2022-04-21 19:01] #87268 closed

[2022-04-21 19:04] Wibusts commented on #91801
Hello Team it is the one that requires the creation of the App

![image](https://user-images.githubusercontent.com/62709550/164534702-6bea81df-8351-4575-88c7-ebb256d42401.png)

[2022-04-21 19:05] artisticcheese opened #91853 "There is no definition named "Enable Defender for Cloud on your subscription""
There is no such definition available in Azure.

![image](https://user-images.githubusercontent.com/13176884/164534812-138161e8-ddac-481d-b073-ca2c2b5acea2.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29ac6a86-4eac-5901-2238-e08b4b33bc68
* Version Independent ID: 85e085e3-06a1-f6d9-5b54-7540e05cbc98
* Content: [

[2022-04-21 19:05] msdnguy opened #91854 "Not all Azure Regions are included"
[Enter feedback here]
Please add West3 to the thousand eyes report.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network round-trip latency statistics](https://docs.microsoft.com/en-us/azure/networkin

[2022-04-21 19:10] fwd079 commented on #91660
Hi,
Sure, please see output below from Windows Terminal in Administrator Mode (press `Win+X` then select `Windows Terminal (Admin)` from selection) it opens PowerShell as:

[code]

Then you run the command as:

[code]

Now from keyboard press `Windows` key then type `PowerShell` and open App as Administrator.

<img width="326" alt="image" src="https://user-images.githubusercontent.com/7912632/1645

[2022-04-21 19:25] guarismo opened #91855 "Azure Active Directory authentication?"
The  document says

But I think it means On-prem Active Directory and not AZURE Active Directory?
I don't see any options to integrate directly with Azure AD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cade2fc-6946-8aea-ad7c-8eba05be9d5c
* Version Independent ID: 54b105a2-7761-8102-a40c-17178fb80172
* Content: [Cr

[2022-04-21 19:36] v-asymes opened #91856 "Page does not mention URLs for region"
got message:
Ensure the URLs mentioned at https://go.microsoft.com/fwlink/?linkid=2151961 for the region are accessible from the machine.

Page does not mention URLS for regions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c599fc7-6afd-ad55-4d07-0341fd9ff6f2
* Version Independent ID: e2cd4563-c522-18b2-04df-1aac77c

[2022-04-21 19:39] Oury-MSFT commented on #91851
@vjc216 Thank you for your query. We are revieing this and will get back shortly.

[2022-04-21 19:50] MattNewbill commented on #76138
@OzBob @SnehaAgrawal-MSFT  was there a solution for this?

[2022-04-21 19:56] JamesTran-MSFT commented on #91779
@maximus-net
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-04-21 19:56] #91779 closed

[2022-04-21 20:08] JamesTran-MSFT commented on #91801
@Wibusts
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-04-21 20:08] #91801 closed

[2022-04-21 20:10] himanshusinha-msft commented on #91837
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a documen

[2022-04-21 20:10] #91837 closed

[2022-04-21 20:10] lehmus commented on #91652
I solved the issue by changing the variable name to $(runCosmosDbTask.Endpoint), where "runCosmosDbTask" is the name of the task in my example.

I think the issue also happens if I do not give the task an explicit name. So the documentation still seems to contain an error.

[2022-04-21 20:11] jmprieur opened #91860 "Explain the contraints to use the RequiredScopes attributes in the protected web API"
[Enter feedback here]
In https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-verification-scope-app-roles?tabs=aspnetcore#verify-the-scopes-on-a-controller-with-hardcoded-scopes, and the following paragraph, we should state the fact that the RequiredScopes attributes will only work if the startup.cs:
- either used AddMicrosoftIdentitWebApi
- or added the Scop

[2022-04-21 20:12] hkusulja commented on #84432
@MayankBargali-MSFT, @ssivas , @v-hagamp  #pleasereopen

[2022-04-21 20:14] himanshusinha-msft commented on #91840
@oliveryoon : Thanks for the feedback . Can you please elaborate in more details as to what kind of contents we need to add ?

[2022-04-21 20:14] DaveMuhich opened #91861 "Incorrect IP address listed in Step 1"
[Enter feedback here]
The IP address for local management of the Mini R is incorrect in Step 1. It should be 192.168.255.10, as is reflected correctly in the screenshots on the page. Confirmed .10 as the correct IP on a Mini R that I recently received, as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95b458d3-94

[2022-04-21 20:15] inputoutputcode commented on #91660
Thanks @fwd079 for providing the error message. The issue is not known, I'm aware of [471](https://github.com/microsoft/service-fabric/issues/471). I cannot reproduce that with Windows 11, Terminal with PowerShell 7.2.2, and 8.2.1571.9590. I have seen issues in the past where apps were running on local cluster already, that might be the cause here. Please can you reset the cluster from the context

[2022-04-21 20:18] Karishma-Tiwari-MSFT commented on #91849
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-21 20:28] AlexandraKemperMS commented on #91275
This is really helpful! @maud-lv this is perfect for the .NET 6 updates we are currently doing to the docs.

[2022-04-21 20:34] Justinha commented on #73196
@tomdan-MSFT @weyCC81 sorry for delay. The registry setting is related to a feature that is not yet available for public preview. When it reaches public preview we will provide docs. Unfortunately I don't have an ETA but it's in active development.

#please-close

[2022-04-21 20:34] #73196 closed

[2022-04-21 20:41] JamesTran-MSFT commented on #91860
@jmprieur
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-21 20:41] wpcarroll opened #91862 "Repos, Azure DevOps and AAD control access policy, Denie Access while cloning repro"
Problem: If Databricks is configured to use Azure DevOps with AAD authentication and the customer has enabled control access policy in Azure DevOps and has a AAD control access policy enabled a user could get a "Denied Access" error message trying to clone a repro. The error message that comes back to the Databricks control plane from AAD is not bubbled up to the UI so you do not know you are hitt

[2022-04-21 20:44] mikebarnett opened #91863 "Missing Microsoft.ResourceGraph permissions in this page."
In this page the permission descriptions for Microsoft.ResourceGraph are missing. Any chance they could be added?

Regards,

Mike Barnett

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed339469da4f
* Content: [Azure resource provider

[2022-04-21 21:01] ChaitanyaNaykodi-MSFT commented on #91854
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-21 21:07] JamesTran-MSFT commented on #91795
@michael-trieu-fso
Thank you for your time and patience throughout this issue!

From our Troubleshoot Azure Active Directory Seamless Single Sign-On documentation it looks like the `https://` component of the `https://autologon.microsoftazuread-sso.com/` URL is necessary.
![image](https://user-images.githubusercontent.com/36619112/164552342-42e0da4e-3663-4f47-99fa-774e75a8f554.png)

Since our docu

[2022-04-21 21:07] #91795 closed

[2022-04-21 21:09] JamesTran-MSFT commented on #91863
@mikebarnett
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-21 21:41] MsGabsta commented on #90829
#reassign @bwren

[2022-04-21 21:41] apilosofms opened #91864 "Missing nuget package name"
In the 2.x section, the nuget package is listed as `[NuGet package]` instead of the actual package name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5bcb79-2af8-3b0e-c78c-0c89a2535e15
* Version Independent ID: 31b87687-7841-f46f-8c97-38898e7b97db
* Content: [Azure Cosmos DB bindings for Functions 2.x and higher](h

[2022-04-21 21:45] MarileeTurscak-MSFT commented on #91853
@artisticcheese
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-21 21:47] yaterchatter opened #91865 "Unclear how Groups Overage Indicator claim will change when Azure AD Graph API is replaced."
The  Groups Overage Indicator claim returns a Azure AD Graph API endpoint as follows:
[code]

There is a note about this claim as follows:
"The Azure AD Graph API is being replaced by the Microsoft Graph API. To learn more about the equivalent endpoint, see [user: getMemberObjects](https://docs.microsoft.com/en-us/graph/api/user-getmemberobjects)."

The application I develop currently supports thi

[2022-04-21 21:48] Heidilohr commented on #76595
This issue is outdated. You can find the article for the Screen Capture Protection feature [here](https://docs.microsoft.com/azure/virtual-desktop/screen-capture-protection). #please-close

[2022-04-21 21:48] #76595 closed

[2022-04-21 21:51] YutongTie-MSFT commented on #91850
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-21 21:53] l4m3us3r opened #91866 "need to clarify why "Some applications don't appear in the picker at all.""
I'm struggling to understand how the conditional access feature works with "other applications" as it seems to work with some but not others and there is no way to predict/understand which apps it will or wont work with.

Can we clarify why "Some applications don't appear in the picker at all." (in the other applications section of the page)

Is there a setting or application attribute that determ

[2022-04-21 21:56] #91866 closed

[2022-04-21 21:56] stevenmatthew commented on #76167
We've added additional screen captures to the article, so now each tab has its own image. Please reach back out if this isn't what was being requested. Thanks for the heads-up!

[2022-04-21 21:57] l4m3us3r commented on #91866
I guess the !note does explain it is because apps of type (public/native) application don't work.  my bad.

[2022-04-21 22:00] stevenmatthew commented on #76167
#please-close

[2022-04-21 22:01] #76167 closed

[2022-04-21 22:03] Heidilohr commented on #56947
The preview markers were removed with an earlier update. #sign-off

[2022-04-21 22:03] Heidilohr commented on #56947
#please-close

[2022-04-21 22:03] #56947 closed

[2022-04-21 22:05] petetnt commented on #66480
@AjayKumar-MSFT @JasonFreeberg are you aware that this (almost 2 year old) deprecated article is linked in the first text block of the Deployment Center in every app service? Learn more -> https://go.microsoft.com/fwlink/?linkid=2133570

![image](https://user-images.githubusercontent.com/7641760/164559281-fb877360-285e-4d4a-a40a-4bea279ef199.png)

[2022-04-21 22:12] marknettle opened #91867 "UpdateRunProgress.InstallationStatus"
Are `NotIncluded` and `Excluded` two separate possible values for this field, or is Excluded meant to be the description of the NotIncluded state?

Also, I have seen this field with the value `Download Failed`, which is not mentioned in this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 478e860a-46f6-3e

[2022-04-21 22:31] flang-msft commented on #91808
#assign: @flang-msft

[2022-04-21 22:32] flang-msft commented on #91808
@chrisba11 - thanks for the input and your attention to our docs. I made the fix to the typo and should show up sometime tomorrow.

[2022-04-21 22:46] #91398 closed

[2022-04-21 23:14] khatrisalah opened #91868 "URL error on the Capacity Reservation Hyperlink"
Hi,

There is a question at the end of the page "Why should I reserve capacity using Capacity Reservation at the destination location?" the answer has one URL [Capacity Reservations](https://aka.ms/on-demand-ca.pacity-reservations-docs) when we click on that it takes to Bing search because there is a dot (.) between ca and pacity it looks like this ca.pacity, can you please remove the dot (.) to m

[2022-04-21 23:24] shpathak-msft commented on #81340
@dwaiba Thank you for your feedback. We do mention this "If you attempt to deploy an Azure Cache for Redis instance to a Resource Manager virtual network subnet that contains other resources, or has a NAT Gateway assigned, the deployment fails."
However, we will look into adding clarification about the basic load balancer.

[2022-04-21 23:27] edevri opened #91869 "Prerequisite missing"
get error:
TPM 2.0 - could not load "libtss2-tcti-tabrmd.so.0"
plugin 'tpm': failed to load - tpm_plugin_create returned NULL

to fix, install another prereq:
apt-get install libtss2-tcti-tabrmd0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff2a3f07-8dd7-a2f9-236d-4e6dc3c8bdec
* Version Independent ID: b442cc75-f969-

[2022-04-21 23:28] RyanHill-MSFT commented on #91604
Hi @lipalath-ms, add the app settings as a child resource under the app service.

[code]
![image](https://user-images.githubusercontent.com/47189704/164567112-c43800cf-6659-4e4d-899b-6cb310432019.png)

ref: https://meeg.dev/blog/automating-azure-infrastructure-deployments-using-bicep-and-azure-pipelines?msclkid=e59b3d92c1c611ecb9e4fd156ff027ea

If you run into issues, comment down below.

[2022-04-21 23:28] #91604 closed

[2022-04-21 23:33] mike-urnun-msft commented on #91864
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-21 23:40] oliveryoon commented on #91840
The tutorials in the Copy and Ingest data are quite good. I can follow the steps.
But the tutorials in other sections merely give me an idea how to do it. The tutorials were prepared for people who know those already. Azure is kept updated but some materials won’t.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: Friday, 22 April 2022 6:14 AM
To

[2022-04-21 23:41] MarileeTurscak-MSFT commented on #91843
Hi @aspnet4you,

Under a Non Disclosure Agreement (NDA) Microsoft shares with Partners and Customers new Feature Roadmaps and planning to deploy Azure Services on Specific Regions. You can [Find an Azure partner][1] and start having access to NDA information so it can help you with your business decision.

You can also check the [Azure Charts Dashboard][2], which is developed by an internal Micros

[2022-04-21 23:41] #91843 closed

[2022-04-21 23:58] Heidilohr commented on #53904
It looks like the unmounting script was added in a later update. #please-close

[2022-04-21 23:58] #53904 closed

[2022-04-21 23:58] ChaitanyaNaykodi-MSFT commented on #91869
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-21 23:59] #91739 closed

[2022-04-22 00:11] alzafacon commented on #66480
Also the original problem has not been addressed. The original content has the link to the article. Specifically https://docs.microsoft.com/en-us/azure/app-service/deploy-best-practices#use-github-actions

The examlpe shows the deprecated action I mentioned

[2022-04-22 00:16] MonikaReddy-MSFT commented on #91867
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-22 00:19] MonikaReddy-MSFT commented on #91868
@khatrisalah - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-22 00:19] #91868 closed

[2022-04-22 00:20] provVladBurlik opened #91870 "Doc is totally incorrect"
The documentation on this page does not correspond to the format of the tag file. Wow.... Am I the first one using it???
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 882a465b-67b6-4a4b-293c-3ff6548b4bd8
* Version Independent ID: 12a2eed8-f9e9-6257-da5d-d1f1c8d4a3ca
* Content: [Custom text classi

[2022-04-22 00:29] ivapplyr commented on #85414
Tutorial document is in progress. However, CLI and PS cmdlets should be documented.

Ex.
https://docs.microsoft.com/en-us/cli/azure/network/private-endpoint/ip-config?view=azure-cli-latest

@jcr010910

[2022-04-22 00:46] ThomasWeiss commented on #91472
@helloyesthisisdave The `SendAsync` method of a `RequestHandler` receives a `RequestMessage`, which lets you manipulate the `Headers` property to add your owns.

[2022-04-22 00:50] cwiederspan opened #91871 "West Central US still restricted?"
Is the footnote about West Central US still being restricted accurate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 942f15a4-48a6-5f45-6ca8-473a696a0fd9
* Version Independent ID: 1f751c2d-afd3-77b6-31e3-70b4abf682fa
* Content: [Container insights region mappings - Azure Monitor](https://docs.microsoft.com/en-us/azure

[2022-04-22 00:59] sridmad commented on #66892
Following is called out in Prerequisites section

[2022-04-22 00:59] andrewbrownmsft commented on #83050
Hi. I am going to close this item since I believe all the concerns have been addressed. Please feel free to re-open or else open a new issue if there are still any concerns.

[2022-04-22 00:59] andrewbrownmsft commented on #83050
#please-close

[2022-04-22 00:59] #83050 closed

[2022-04-22 01:00] andrewbrownmsft commented on #88046
Hi. I am going to close this item since I have not heard back. Please feel free to re-open or else open a new issue if there are still any concerns.

[2022-04-22 01:01] andrewbrownmsft commented on #88046
#please-close

[2022-04-22 01:01] #88046 closed

[2022-04-22 01:12] mike-urnun-msft commented on #91509
sample is an include of: https://github.com/Azure/api-management-policy-snippets/blob/master/examples/Filter%20on%20IP%20Address%20when%20using%20Application%20Gateway.policy.xml

cc: @dlepow @jftl6y

[2022-04-22 01:27] Karishma-Tiwari-MSFT commented on #91849
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2022-04-22 01:27] #91849 closed

[2022-04-22 01:55] jlee-vi opened #91872 "Update Required Regarding Security Events and Azure Monitoring Agent"
Hi Team,

Within the article the following is stated:

Should this be updated to reflect that Security information _**can now**_ be routed to the workspace using the new Azure Monitor Agent + Data Collection Rules? I appreciate that it still cannot be configured within the workspace, but seeing as the security event data itself can still go _to the workspace_, I would suggest a note is needed here

[2022-04-22 01:59] SumanthMarigowda commented on #91513
@helderpinto Firstly, Apologies for the delay response!  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-22 02:00] SumanthMarigowda commented on #91684
@cassianodb1908 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

If you are facing any issue with the SAS,  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since. We'll follow up t

[2022-04-22 02:00] #91684 closed

[2022-04-22 02:02] SumanthMarigowda commented on #91766
@Yaz-X Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-22 02:02] KeeveySongMS opened #91873 "DNS alias only supports for formerly datawarehouse(dedicated sql pool under sql server), but not support for synapse workspace"
DNS alias only supports for formerly datawarehouse(dedicated sql pool under sql server), but not support for synapse workspace
can we indicate this in the doc clearly? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 422e812a-e9b4-ff2a-5b86-1ce5cec064e4
* Version Independent ID: 7f88d8fb-7293-59f8-3d25-60f8dc607f

[2022-04-22 02:07] SumanthMarigowda commented on #91861
@DaveMuhich Thanks for the question! We are investigating and will update you shortly.

[2022-04-22 03:15] CHEEKATLAPRADEEP-MSFT commented on #91862
@wpcarroll  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the details.

[2022-04-22 03:22] abatishchev opened #91874 "ARM templates for Azure Logic Apps doc uses old API version"
The latest API version for Microsoft.Logic is [2019-05-01](https://docs.microsoft.com/en-us/azure/templates/microsoft.logic/2019-05-01/workflows?tabs=json). The article uses only `2016-06-01`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e8368e-10de-d0fd-a4e3-cd87300cdb9f
* Version Independent ID: e6775253-a8af-8e3

[2022-04-22 03:38] ram-msft commented on #91870
@provVladBurlik Thanks for the feedback! We will review and update accordingly.

[2022-04-22 03:38] ram-msft commented on #91870
@aahill Could you please review and update the document.

[2022-04-22 03:44] provVladBurlik commented on #91870
The matter is even worse. I created a project without tag file. Then labeled the files in the UI, Then, created another project pointing to the auto generated tag file and it still throws the parsing error of that file...

[2022-04-22 03:59] mikewo-dc opened #91876 "More clearly identify cases for non-trivial transfers"
[Enter feedback here]

Understanding that
* manually moving resources can be disruptive/complex/prohibitive (i.e. as per https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-support-resources); _and_
* changing the service tenant can be disruptive/complex/prohibitive (i.e. as per https://docs.microsoft.com/en-us/azure/role-based-access-control/transfer-subscription if this

[2022-04-22 04:07] DmitriyAlergant-T1A opened #91877 "Cache-accelerated worker instance types: documentation link broken"
The article has a link (https://docs.microsoft.com/en-us/azure/databricks/delta/optimizations/delta-cache#worker-instance-type) that currently leads nowhere; Can't find information on Azure instance types optimized for Databricks Delta Cache.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7b9591f-4b9f-aae3-7e4a-27d68b

[2022-04-22 04:28] SnehaSudhirG commented on #91718
@red-erik, the product team would like to further investigate the logs to understand the expected updates.

[2022-04-22 04:34] ShaikMaheer-MSFT commented on #91650
@xiopeter3345 Yes I observed that there is no member called `Constants.DATASOURCE`. Looks like doc needs to correct here. I am assigning this issue to check more on this and update as appropriate.

Between, Could you please share the error details which you are facing while using `Constants.DATA_SOURCE`?
![image](https://user-images.githubusercontent.com/84302758/164603666-6498eb23-3aa1-486c-a82e-

[2022-04-22 04:36] Venkateshdodda-MSFT commented on #91874
@abatishchev , Thank you for your feedback! We will review and update as appropriate.

[2022-04-22 04:40] SwathiDhanwada-MSFT commented on #91872
@jlee-vi Thanks for your feedback.

Assigning to content author  @bwren for review.

[2022-04-22 05:23] rggentil commented on #91839
Thanks a lot for you quick answer.

[2022-04-22 05:23] #91839 closed

[2022-04-22 05:31] ShaikMaheer-MSFT commented on #91702
@hansmbakker While creating dedicated SQL Pool. we will can select either existing server or create new server. So, while creating server we can specify authentication type which we are intended. Please check below screenshot for better understanding.
![image](https://user-images.githubusercontent.com/84302758/164609502-564399a8-da5b-4b38-a177-5f14f7428a1e.png)

Hope this helps. Please let us know

[2022-04-22 06:00] kalyankadiyala-Microsoft commented on #91650
Hi there,

Yes, I did observed that typo. I am currently staging some changes to the public documentation for a release. Will be correcting it as well. One should be using Constants.DATA_SOURCE instead.

Thank you
Kalyan

From: ShaikMaheer-MSFT ***@***.***>
Sent: Thursday, April 21, 2022 9:35 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Kalyan Kadiyala ***@***.***>; Mention ***@***.***>
Subjec

[2022-04-22 06:00] dcbrown16 opened #91880 "Document storage container name"
Can you please add documentation of the name of the container that will contain Storage diagnostic logs when the logs are routed to a storage account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 595d902d-2dd2-f0c5-c2d3-59f2596c746c
* Version Independent ID: b3432bf6-6230-3d46-aae3-1f3410de8a95
* Content: [Azure Blob

[2022-04-22 06:07] Karishma-Tiwari-MSFT commented on #91856
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-22 06:07] echoRelay commented on #91451
Any update?

[2022-04-22 06:08] echoRelay commented on #91451
Hi @JamesTran-MSFT  - Any update?

[2022-04-22 06:25] SwathiDhanwada-MSFT commented on #91871
@cwiederspan Thanks for your comment. We will review the issue and get back to you shortly.

[2022-04-22 06:42] AshokPeddakotla-MSFT commented on #91646
@scsJames As suggested, kindly post your query on Q&A for further help with complete details.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-22 06:42] #91646 closed

[2022-04-22 06:45] AshokPeddakotla-MSFT commented on #91821
@angie4u Thanks for the feedback.
@sejal6300 please look into this and update the doc accordingly.

[2022-04-22 06:45] dcbrown16 commented on #91880
For example, it looks like the StorageRead logs go to "insights-logs-storageread" container.

[2022-04-22 07:31] SnehaAgrawal-MSFT commented on #91697
@RamanaSwaroop Thanks for reply! To elaborate on this, See the screen shot in the portal its ask,

![image](https://user-images.githubusercontent.com/46553948/164627763-8796fc44-62b2-4400-8648-e78bb3860a86.png)

If your app has APIs that you want to host in Azure then you can use [Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-overview/?WT.mc_id=m365-28924-dwahli

[2022-04-22 07:36] MughundhanRaveendran-MSFT commented on #91670
@krishnaji , The cost per execution in consumption plan is $0.000145. Please look into the [pricing calculator](https://azure.microsoft.com/en-us/pricing/calculator/?service=logic-apps) for more details.

Moreover, this issue is related to the pricing document and not related to this [document ](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-pricing#trigger-and-action-operations-in-t

[2022-04-22 07:36] #91670 closed

[2022-04-22 07:38] RamanaSwaroop commented on #91697
Understood, thanks.

[2022-04-22 07:38] #91697 closed

[2022-04-22 07:40] krispenner opened #91884 ".NET Core hierarchical configuration delimiter does not work as stated in Azure Web App Settings"
https://docs.microsoft.com/en-us/azure/app-service/configure-language-dotnetcore?pivots=platform-linux#access-environment-variables

The note about hierarchical configuration data is no longer accurate, maybe this worked previously but is no longer allowed.

If you do this as per the example:
[code]

You will get error:

You must replace `:` with double underscore instead `__` as stated [here](htt

[2022-04-22 07:43] AnuragSingh-MSFT commented on #91855
@guarismo, Thank you for bringing it to our attention. I am assigning it to our content team for further review and update.

[2022-04-22 08:24] AHopeGao commented on #91761
HI @GitaraniSharma-MSFT
Thanks for your reply. May i know if there any update?

[2022-04-22 08:37] AnuragSharma-MSFT commented on #91873
@KeeveySongMS Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-04-22 08:44] deepak16795 commented on #50904
The issue seems to fixed after installing azure-common using pip

**pip install azure-common**

[2022-04-22 09:34] rozzamozza opened #91885 "Very hard to follow"
[Enter feedback here]

Very hard to follow the following step.
Please provide the proper field names of what you actually need to capture.
"The name of your Azure key vault resource" does not mean anything to someone who is new to this.
Presumably half of these are supplied in the command so you don't actually 'capture' them

[code]

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-04-22 09:46] FabuloA0 opened #91886 "Using Teams with B2B direct connect - Teams disabled in org joining Shared Channel"
[Enter feedback here]
This might be a silly question, but what about the use case of Teams being disabled in the org joining a Shared Channel created by another org (where Teams is enabled).
One would assume that Teams needs to be enabled in both orgs for collaboration to work using Teams, correct ?
Can you please confirm if this is a prerequisite for using Teams with B2B direct connect (preview)

[2022-04-22 09:59] PriyankaRudramaina commented on #91885
Hello @rozzamozza,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-22 10:33] fushujie opened #91888 "About the service versions supported by event hubs 3.0.2"
Is there a version of the event hubs service? If so, where can I find the client-dependent version of the service? Because I'm currently investigating the service version for azure-eventhubs:3.0.2. And I looked for a lot of information and did not find a relevant description. Thanks for the answer.

[2022-04-22 10:34] CHEEKATLAPRADEEP-MSFT commented on #91877
@DmitriyAlergant-T1A  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-22 10:36] aakanshaverma1310 commented on #52844
@dibyendupal05 - can you pls share your code for creating workbook using guid(). We have to same requirement that each time we update the workbook, the deployment should update the existing workbook and should not complain "A Workbook with the same name already exists within this subscription.\". Thanks.

[2022-04-22 10:43] AllDeesScripts opened #91889 "AzureAD Powershell module deprecated"
The AzureAD Powershell module is incompatible with Powershell 7 as per https://docs.microsoft.com/en-us/powershell/azure/active-directory/install-adv2?view=azureadps-2.0#prerequisites

Trying to run Connect-AzureAD in Powershell 7 after importing the AzureAD module results in a failure:

 (Could not load type 'System.Security.Cryptography.SHA256Cng'  etc.

Please can you provide updated guidance o

[2022-04-22 10:56] PriyankaRudramaina commented on #91889
Hello @AllDeesScripts,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-22 10:57] AnuragSingh-MSFT commented on #91865
@yaterchatter, thank you for the query. We will review it and get back to you.

[2022-04-22 11:11] bragemo-coder opened #91891 "SKLearn error"
[Enter feedback here]
At one point the progress halts while running through the notebook wind-turbine-scikit.ipynb.
Did anyone rewrite this code to supported Python code?
This code in a demo does not run well:

WARNING:azureml.train.sklearn:'SKLearn' estimator is deprecated
from azureml.train.sklearn import SKLearn

estimator = SKLearn(source_directory='./Scripts',
compute_target=compute_target,
e

[2022-04-22 11:18] PriyankaRudramaina commented on #91889
Hello @AllDeesScripts,

This issue has been in discussion from azure AD side and customers reported this earlier too, please review this thread below
https://github.com/PowerShell/PowerShell/issues/10473

**Workaround** :

Install AzureAD in PowerShell 5.1.■■■■.■■■■ then, in PowerShell 7.■.■, import the module using Import-Module AzureAD -UseWindowsPowerShell

$ Import-Module AzureAD -UseWindowsPo

[2022-04-22 11:19] jhbusiness opened #91892 "Azure Automation Account Connection Types"
The article contains a sample of a <module>-automation.json file which adds one connection type. When adding a second connection type to the same file, the import fails.
So, if that's not supported, add an appropriate hint to the article, but if it should work, please add a working example, as even correctly formatted json does not work.

---
#### Document Details

⚠ *Do not edit this section. It

[2022-04-22 11:37] dibyendupal05 commented on #52844
@aakanshaverma1310
You can do something like this in your resources section. Create a new guid using something unique about the dashboards.
[code]

[2022-04-22 11:58] pamistel commented on #65866
@vtieto can you close this issue? (or show me how to close it)

[2022-04-22 11:58] #91844 closed

[2022-04-22 11:59] pamistel commented on #73521
@jstiefel can you close this issue (or who me how to close it)?

[2022-04-22 12:00] PriyankaRudramaina commented on #91844
Hello @jonathanbrenes,

 I have updated the latest Azure datacenter IP ranges document link in https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/redhat/redhat-rhui?source=docs#important-information-about-azure-rhui

 The changes will reflect shortly. Please check back in a day or two.

[2022-04-22 12:07] AnuragSingh-MSFT commented on #91719
@Sachin1O1, Thank you for the reply. No, it is not possible to update URL only from the json file. It will be replaced completely if you use the update option (which would not be beneficial). I would suggest submitting feedback to [AppInsights Feedback Forum](https://feedback.azure.com/d365community/forum/8849e04d-1325-ec11-b6e6-000d3a4f09d0). Based on the upvotes and feasibility, it will be picke

[2022-04-22 12:08] shashishailaj commented on #91157
@weyCC81 I have responded to your email and will work with you on this offline.

[2022-04-22 12:13] skrabbe001 opened #91895 "The resulting code is not similar to the sample shown on the webpage"
In "Step 3.1: Update the SPA sample" you write "Your resulting code should look similar to following sample". But the code, after performing the changes, does not look like the sample.

Here is the code after correcting it:

[code]

Here is the code that you say the code should look like

[code]

As you can see the file is different for all of the entries.

---
#### Document Details

⚠ *Do not edi

[2022-04-22 12:39] shashishailaj commented on #91886
@FabuloA0 Thank you for your query . We will investigate and update the thread.

[2022-04-22 12:41] shashishailaj commented on #91895
@skrabbe001 Thank you for your feedback . We will investigate and update the thread.

[2022-04-22 12:49] drazen-relias opened #91896 "Adding an External AD Group failed"
I was able to successfully assign permissions using the script provided. When I pick a tenant, groups are showing correctly.
The problem happens when I press the Select button. That action takes quite a time and ends up with an error:

Operation name
**Create group or Update group**
...
Error code
ValidationError
Message
**Failed to query Azure Active Directory graph due to error: Invalid URI: The

[2022-04-22 12:54] se02035 opened #91897 "'Tracking FastAPI applications' sample is incorrect"
The sample listed under "Tracking FastAPI applications" is incorrect.

**Problem**
Since the tracer that is used to log incoming requests is defined at a global/module level, that single instance is used for incoming requests. The tracer instance has a trace id (which is the incoming request's operation/correlation id) if the same tracer instance is re-used to log multiple incoming requests then t

[2022-04-22 12:54] p1johnson opened #91898 "Service port should be configured to listen on 8080"
Suggest that step 12 of the instructions under [Connect and select your repository](https://docs.microsoft.com/en-us/azure/aks/devops-pipeline?view=azure-devops&pivots=pipelines-yaml#connect-and-select-your-repository) should be amended.

The step currently states:

Suggest that this is changed to:

This will configure the service port to list on 8080 which the text further down the document impli

[2022-04-22 13:05] SwathiDhanwada-MSFT commented on #91892
@jhbusiness Thanks for your comment. We will review the issue and get back to you shortly.

[2022-04-22 13:16] FernandoGualano commented on #91784
@JamesTran-MSFT
Any update? Thanks!

[2022-04-22 13:21] olavt opened #91901 "Dapr url pattern is missing "/method" at the end"
The documentation page states:

A microservice that uses Dapr is available through the following URL pattern:

http://localhost:3500/v1.0/invoke/myapp

The above URL pattern misses a crucial part, and the correct pattern should be:

http://localhost:3500/v1.0/invoke/myapp/method

This is better explained here:

https://docs.microsoft.com/en-us/dotnet/architecture/dapr-for-net-developers/service-in

[2022-04-22 13:33] MmAtBosch opened #91902 "Application Gateway limits when WAF enabled"
[Enter feedback here]
Regarding application-gateway-limits.md:
For Resources:
Front-end ports(100)
Back-end address pools(100)
HTTP listeners(200)
HTTP load-balancing rules(400)

a "1" is given which states:

Does this mean that e.g the load balancing rules are also limited to 40, even when 400 are possible without WAF?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-04-22 13:38] GeethaThatipatri-MSFT commented on #91891
Hi, @bragemo-coder Thanks for reaching out, We will Investigate and update you shortly.

[2022-04-22 13:39] Briwalkr opened #91903 "Examples of an Array with only 1 value is a variable."
Sample syntax/code for an array should include more than 1 item. Part of the syntax is the appropriate delineation between values, and only providing samples with 1 value misses the point of an Array.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe-

[2022-04-22 13:39] skrabbe001 opened #91904 "Step 4.2: Enable CORS: Documentation does not correspond to the sample code"
In the documentation you write:

[code]

But this code has not been added to the index.js file, the only code that has anything to do with cross requests in the index.js file seem to be:

[code]

So the documentation is out of sync with the sample code. You solve this by changing the documentation and/or sample, not by telling me what the solution is.

---
#### Document Details

⚠ *Do not edit thi

[2022-04-22 13:44] AllDeesScripts commented on #91889
Hi @PriyankaRudramaina ,

Many thanks for the pointer. I didn't realise I could launch a previous version of Powershell by running powershell -version 5.

Having done this I could run the commands in this guide.

Thanks again,

[2022-04-22 13:51] sebastiangrugel-nc opened #91905 "No REDline on picture related to "tromboning" effect."
"If the gateway remains on-premises (red line), a tromboning effect and higher latency are observed."
On this picture we dont see RED line.

![image](https://user-images.githubusercontent.com/78348361/164727787-2bb005c2-355d-441d-9b29-c235cca86c7e.png)

Sebastian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d874232-

[2022-04-22 13:53] MonikaReddy-MSFT commented on #91902
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-22 13:55] skrabbe001 opened #91906 "The term "tenant name" is ambiguous"
When you write `<your-tenant-name>` or the like in the documentation and samples, do you mean *tenant organisation name* or *tentant domain name* or *tenant resource name*?

Most of the places I've seen you mean *domain name*.

Here is the tenant create screen, and when you click create, you get shown a screen where the field labeled *Tenant name* is the *Tenant organisation name* NOT the *Tenant

[2022-04-22 13:56] oradcliffe opened #91907 "Deprecating features"
In this network watcher doc, there are two features (network performance monitor, and relative latencies) that, if you click through and read about them more specifically on their respective pages, you will find that they are being deprecated.  Can we surface this to this page as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-04-22 14:13] pamistel commented on #82594
Page has been updated to include deployment to HoloLens and updated screenshots

This issue can be closed

[2022-04-22 14:19] skrabbe001 opened #91908 "Regarding running the web api server with nodejs: 3 high severity vulnerabilities"
When you want to run the webserver, as described here:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-sample-spa-app#run-the-nodejs-web-api

We first need to run `npm install && npm update`. When we run these, we are informed of 3 high severity vulnerabilities, here is the output from `npm audit`:

[code]

This is not solved by telling me what to do, but by c

[2022-04-22 14:25] MarileeTurscak-MSFT commented on #91904
@skrabbe001
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-22 14:26] MarileeTurscak-MSFT commented on #91906
@skrabbe001
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-22 14:42] AnuragSharma-MSFT commented on #91630
@sabaripkumar Awaiting your response on this.

[2022-04-22 14:45] rothja commented on #91306
@Marco-Santoni Marco, thanks for the suggestion. @markjbrown Mark, could you take a look at this request for a Python sample? I'm not sure if this is something we can add immediately or whether we'll note this for future improvements. Thanks! #reassign:markjbrown

[2022-04-22 14:46] drosenba opened #91909 ""App Service plans" link pointing to /dedicated-plan page?"
In this sentence, I'm confused by the "App Service plans" link pointing to /dedicated-plan page.  Is that a typo?

"_You can use Private Endpoint for your functions hosted in the [Premium](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan) and [App Service](https://docs.microsoft.com/en-us/azure/azure-functions/dedicated-plan) plans._"

---
#### Document Details

⚠ *Do

[2022-04-22 14:53] zr-msft commented on #90958
Thank you for the feedback!

The article has been updated to address your feedback.

#please-close

[2022-04-22 14:54] envegter commented on #46811
I implemented this via the GPO's for our servers with these two settings in:
"Computer Configuration/Policies/Administrative Templates/Network/DNS Client"
'Register DNS records with connection specific DNS suffix':Enable
'Register PTR records':Enabled

This will make the servers do their own PTR record registration in DNS.
I noticed a little different behavior for Windows 2019 where that 2nd GPO-s

[2022-04-22 15:06] kennethgp opened #91910 "Examples do not work in clusters > 1.21 due to CSI driver as new default"
From 1.21 the default storage class is CSI driver, it will be used even if managed-premium is selected. If you apply the example YAMLs in a cluster > 1.21 it will fail with message:

FailedAttachVolume with rpc error: code = InvalidArgument desc = Volume capability not supported

This is because azure-disk does not support ReadWriteMany access mode and CSI enforces it, while previous sc did not. T

[2022-04-22 15:06] GeethaThatipatri-MSFT commented on #91742
I'm assigning this to the author for the feedback review.

[2022-04-22 15:10] kennethgp commented on #91910
Actually, I see there is a note where it explains this, but maybe is worth to add a note saying that for some reason with previous sc you could mistakenly use the wrong access mode and not be notified.

[2022-04-22 15:10] #91910 closed

[2022-04-22 15:13] jasongroce commented on #86404
Hi @scyto , thanks for your feedback! We are folding these issue into our internal docs planning. #please-close

[2022-04-22 15:13] #86404 closed

[2022-04-22 15:15] JamesTran-MSFT commented on #91908
@skrabbe001
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-22 15:35] japace opened #91912 "32 Bit for Excel"
Hello! I tried this for Excel and it didn't work because it instructed me to download the 32-bit version for Excel. I have a 64-bit version of Excel, as I think do most data professionals. I tried it again with the 64 bit version and it worked.

I recommend removing the line "for example, for excel install the 32 bit version".

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-04-22 15:43] SumanthMarigowda commented on #91621
@snande Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.
Also This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- https://az