[2022-08-17 15:27] munieswar commented on #95967
@ld0614 2012-R2- Standard supported as well?

[2022-08-17 15:40] nikhilpatel909 commented on #93447
@L-u-k-e-GIT I need more information  on what are you trying to achieve using terraform? Are you trying to install packages using terraform, similar to VM Apps feature?

[2022-08-17 15:44] JamesTran-MSFT commented on #97201
@lucmoco
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-17 15:55] hhunter-ms commented on #94458
Hi @masters3d - does this article help answer your question? [Dapr integration with Azure Container Apps](https://docs.microsoft.com/azure/container-apps/dapr-overview?tabs=bicep1%2Cyaml)

[2022-08-17 16:02] carlowahlstedt commented on #73236
I’m confused here @mbender-ms. Did this get documented somewhere? Or is there a link to the `doc bug` referenced?

[2022-08-17 16:05] kevchant opened #97213 "Proposed update to Azure Synapse Links for SQL Server 2022 instructions"
I was in the 'Ask the Experts' meeting for Synapse and they said that you no longer have to create the expected schema in advance. I asked the question because I have been able to do it without creating the schemas.

With this in mind, I suspect the below sentence about creating the expected schema can be removed now. Probably a good idea to double check first:

"You also need to create a schema i

[2022-08-17 16:22] kobulloc-MSFT commented on #97043
@mweibel The documentation will be updated if needed (and I'll let you know if anything changes) but for now you are correct in that `maxPrice` allows decimal values.  Thank you for helping to improve the Azure docs!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the con

[2022-08-17 16:22] #97043 closed

[2022-08-17 16:22] sheldonhull opened #97214 "AzureADPreview doesn't mention platform compatibility"
Just ran on `Darwin` based system, and it seems to import Windows.Forms 😢

[code]

This would be a good caveat in the article that this currently is limited to running on Windows.
I'll check the module repo as well to see about opening an issue on this if it fits.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51dbe039

[2022-08-17 16:31] bandersmsft commented on #97185
@sandyv84 Thanks. I've updated the article as you requested.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/208275

#please-close

[2022-08-17 16:31] #97185 closed

[2022-08-17 16:35] bandersmsft commented on #97185
@SadiqhAhmed-MSFT Please close PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/208237. The source article contains HTML which is no longer allowed in the repo. I have https://github.com/MicrosoftDocs/azure-docs-pr/pull/208275 to remove the HTML and address this issue. Thanks.

[2022-08-17 16:39] himanshusinha-msft commented on #97195
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2022-08-17 16:43] bandersmsft commented on #97210
@jhic I'm investigating this with the reservations engineering team. I'll reply here when I have something to share.

[2022-08-17 16:43] himanshusinha-msft commented on #97200
Hello @pradeepkumarms
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) and other forums , we have our engineers and others who are monitoring them and will be happy to help .

[2022-08-17 16:43] #97200 closed

[2022-08-17 16:56] MashaMSFT commented on #93210
Hi @simon-says-test , thanks so much for helping us improve our docs! We've processed a change based on your suggestion and it should be live now. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-08-17 16:56] #93210 closed

[2022-08-17 16:56] MashaMSFT commented on #92941
Hi @acruz2021  , thanks so much for helping us improve our docs! We've processed a change based on your suggestion and it should be live now. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-08-17 16:56] #92941 closed

[2022-08-17 16:57] SnehaAgrawal-MSFT commented on #96922
@yansyunchen Could you please elaborate on what do you mean by sending the certificate to web app? As this article is about how to set up your web app to use client certificate authentication.

[2022-08-17 16:57] KranthiPakala-MSFT commented on #97208
Thanks for the feedback! We have assigned the issue to the content author to further review this provide an update as appropriate.

[2022-08-17 17:03] KranthiPakala-MSFT commented on #97213
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-17 17:06] lam-man opened #97215 "Command in the page will return Bad Request error"
[Enter feedback here]
The following command in aks quick start page will return `Bad Request` error:
`az aks create -g myResourceGroup -n myAKSCluster --enable-managed-identity --node-count 1 --enable-addons monitoring --enable-msi-auth-for-monitoring  --generate-ssh-keys`  As long as we remove the `--enable-msi-auth-for-monitoring` flag, it works without error.

Error Response is:
[code]
The clus

[2022-08-17 17:14] minthigpen commented on #94341
@Leoer -- thanks for your feedback! The fixes are already made in a PR; however the changes haven't merged yet but will be soon.

[2022-08-17 17:26] jetomer opened #97217 "Order of operations in the Tutorials is incorrect."
Before you can Access a newly created private cloud, you must first perform the one-time network configuration.  My suggestion is to reverse the current order of:

3 - Access a private cloud
4 - Configure networking    <-- this would come before Access a private cloud

in the Tutorials section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-08-17 17:34] Karishma-Tiwari-MSFT commented on #97217
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-08-17 17:48] lauradolan commented on #96509
Thanks for your feedback @RamjotSingh . I reached out to the product team, and these ACUs aren't available yet.

For your other question, you can see regional availability for VM series here https://azure.microsoft.com/global-infrastructure/services/?products=virtual-machines

#please-close

[2022-08-17 17:48] #96509 closed

[2022-08-17 18:06] drdamour opened #97219 "secret vault references does not indicate if you MUST use secreturi reference string syntax, or if any will work"
there are different reference string syntaxes as doc'd at https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references?tabs=azure-cli#reference-syntax

this article shoudl clearly state which reference syntaxes it supports or if it supports all of them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-08-17 18:15] diberry opened #97220 "Add Easy auth env vars missing from Auth section"
The [auth section](https://docs.microsoft.com/en-us/azure/app-service/reference-app-settings?tabs=kudu%2Cdotnet#authentication--authorization) is missing some of the easy auth settings such as

- WEBSITE_AUTH_CLIENT_ID
- WEBSITE_AUTH_RUNTIME_VERSION
- WEBSITE_AUTH_ALLOWED_AUDIENCES

ISSUE: A customer may not poke into the env vars but instead add these settings themselves as app settings in order

[2022-08-17 18:18] cburuzie commented on #97060
#reassign: mahipdeora

[2022-08-17 18:19] mbender-ms commented on #97060
#reassign:@mahipdeora

[2022-08-17 18:25] jds3d opened #97221 "neither method is accurate"
![image](https://user-images.githubusercontent.com/6717676/185214647-bbea0492-d072-46aa-8f69-6a314784a064.png)
![image](https://user-images.githubusercontent.com/6717676/185214689-450529ef-2702-49f1-80cc-738c8a28d201.png)

Both of the methods listed here give ~300MB for this table, but in storage explorer Folder statistics and a recursive dbutils.fs.ls walk, I get ~900MB.

What's going on?

---
##

[2022-08-17 18:25] cburuzie commented on #96973
#reassign: mbender-ms

[2022-08-17 18:25] JamesTran-MSFT commented on #97214
@sheldonhull
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-17 18:26] cburuzie commented on #96675
#reassign: blehr

[2022-08-17 18:38] KiPIDesTAN opened #97223 "'Compute' missing in the managedOnlineEndpoint.schema.json spec for Azure ML online endpoint creation"
[This ](https://docs.microsoft.com/en-us/azure/machine-learning/reference-yaml-endpoint-online)page calls out the online endpoints yaml schema that "compute" is a valid tag. However, the latest schema, found [here](https://azuremlschemas.azureedge.net/latest/managedOnlineEndpoint.schema.json), doesn't contain the compute key. It seems like this value is missing from the managedOnlineEndpoint.schem

[2022-08-17 18:43] etec-masterofsynapse commented on #96675
@cburuzie The reassign didnt seem to stick since blehr was removed by the prmerger-automator bot.

[2022-08-17 19:04] cburuzie commented on #96675
#reassign: brianlehr

[2022-08-17 19:14] jrose-rc commented on #97107
Sorry I never received a message from you. The error is from the new Azure AD admin center web portal

[2022-08-17 19:16] JesvinJoseph opened #97225 "Where can we run the scheduled ACR task?"
[ I have seen the commands to schedule an ACR task. Can you describe where can we run the command?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e52f8e-a63e-3e85-6c84-f881db5d3b6c
* Version Independent ID: 1290c892-ea9d-d12c-be84-7ed75f28fca0
* Content: [Purge tags and manifests - Azure Container Registry](https://

[2022-08-17 19:16] JimThorstad opened #97226 "Transit VNet - is it required or optional?"
The doc is very well organized and this is a very complex topic. While listening in on a call where we were trying to help a customer troubleshoot their Azure private link deployment, I heard the customer say they didn't have an existing Transit network nor did they plan to create one. I see this article in the doc references "transit" over 40 times and the component is shown in the diagram. but i

[2022-08-17 19:18] susegrant opened #97227 "azure-lb primitive missing "op monitor" line (SUSE HA SAP Hana article)"
The azure-lb resource here is missing a monitor operation.  Without it, killing the process (socat or nc) spawned by this resource agent and/or other runtime issues are not detected by the cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57197f20-6682-49c9-19ff-abfea37dec77
* Version Independent ID: 3f31d1e4-bb2

[2022-08-17 19:21] susegrant opened #97228 "azure-lb primitive missing "op monitor" line (SUSE HA NFS article)"
This page also impacted by this issue:

https://github.com/MicrosoftDocs/azure-docs/issues/97227

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3ab1317-c090-0830-4fcd-8fe6c9e2bdb1
* Version Independent ID: 9701e355-e742-6e2c-e6a7-3b131f257228
* Content: [High availability for NFS on Azure VMs on SLES - Azure Virtual M

[2022-08-17 19:22] susegrant opened #97229 "azure-lb primitive missing "op monitor" line (SUSE HA Netweaver article)"
This page also impacted by this issue:

https://github.com/MicrosoftDocs/azure-docs/issues/97227

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d2a9d09-f0f0-f02a-dfc6-f9562c0d66ec
* Version Independent ID: f7c0b99d-daae-5616-ab57-ff256d65bc2a
* Content: [Azure VMs high availability for SAP NetWeaver on SLES - Azure Vi

[2022-08-17 19:28] YutongTie-MSFT commented on #97112
Hello @rastala Could you please help to check on this isuse? It seems not working as the document discription. Thanks a lot.

[2022-08-17 19:32] Oury-MSFT commented on #97091
@zhiweiv, I have raised a pull request to update to fix the link https://github.com/MicrosoftDocs/azure-docs-pr/pull/208301

[2022-08-17 19:33] Oury-MSFT commented on #97116
@dzsquared Could you please share your input regarding the above request from customer.

[2022-08-17 19:34] Oury-MSFT commented on #97066
@deborahc could you please share your input regarding the above request.

[2022-08-17 19:37] mbender-ms commented on #73236
The latency chart has been updated w/ current monthly stats.
All requests such as this one have been presented to the team responsible for these numbers, and the requests are part of the backlog of doc bugs. At this time, this request has not been acted upon. @carlowahlstedt

[2022-08-17 19:41] Paul3816547290 opened #97230 "Examples and conversion from AzureADDefaults"
Trying to upgrade old code that uses AzureADDefaults.  Everything that says its deprecated/obsolete says look here.  And this page does not even mention the old lib or how to convert or how to use this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ec0a7d1-e655-ac22-1996-52573a93115e
* Version Independent ID: f51213b

[2022-08-17 19:55] mbender-ms commented on #96973
Thanks for the feedback @jeremiahhoward.

I've created a work item for this issue, and will be updating the documents accordingly.

[2022-08-17 19:56] fsutil opened #97232 "PowerShell command for disabling automatic writeback of Microsoft 365 groups"
The PowerShell command under step 2 of the "Disable automatic writeback of all Microsoft 365 groups" section doesn't work in a existing environment.

The PowerShell should probably have a Set-AzureADDirectorySetting instead, as seen in this comment: https://github.com/MicrosoftDocs/azure-docs/issues/82180#issuecomment-940873465

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-08-17 20:12] Grace-MacJones-MSFT commented on #97219
Hi @drdamour,  thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-08-17 20:14] Grace-MacJones-MSFT commented on #97220
Hi @diberry , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc.

[2022-08-17 20:23] JamesTran-MSFT commented on #97230
@Paul3816547290
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-17 20:24] JamesTran-MSFT commented on #97232
@fsutil
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-17 20:26] lnalepa commented on #97003
Hi @rich-rowan, thank you for the feedback. We are planning some updates to the extension so this comes at a good time. Out of curiosity, would you mind sharing the scenarios where you would use the extension over myapps.microsoft.com?

[2022-08-17 20:29] inmindtechnologies opened #97234 "Prompt=select_account ?"
For OpenID Connect authentications, I would expect prompt=select_account to be a valid value.
In the "Send authentication requests" section you mention that prompt=login is the only valid value at this time.
Can we expect to have the option for select_account in the near future ?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-08-17 20:50] Karishma-Tiwari-MSFT commented on #97225
Thanks for posting your query.
You can run the command to schdule ACR task on Azure CLI or Cloud shell on Azure portal.
The easiest way to learn how to use the Azure CLI is by running it in an Azure Cloud Shell environment through your browser. To learn about Cloud Shell, see [Quickstart for Bash in Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart).
Azure Cloud Shel

[2022-08-17 21:04] JimacoMS4 commented on #97005
Hi @rido-min,

Thanks for reaching out. Here are a couple of places to get started:
- Here's the REST API to send telemetry (an event) to IoT Hub: https://docs.microsoft.com/en-us/rest/api/iothub/device/send-device-event

- Here's the topic in the IoT Hub documentation about constructing D2C messages: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-construct. One thing, if

[2022-08-17 21:32] JamesTran-MSFT commented on #97234
@inmindtechnologies
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-17 21:36] patschwagler-c3 commented on #93432
Hi @matt-gribben can you explain the answer since you have closed this issue?

[2022-08-17 21:40] w-azure commented on #93754
Hi Marcin, thanks for the specifics. I asked because I did not get an error when testing the tutorial. I did see some screenshots were old and updated those, also added clarity to other steps. But I did have the `Body` in my output:
![output body](https://user-images.githubusercontent.com/103003808/185247138-097b7660-4f76-4f33-9a1d-1505f9f0d54d.png)

However, using **Logic app designer** updates t

[2022-08-17 21:52] xiaomi7732 opened #97237 "Small issues around Pagination example code"
The example code for [pagination](https://docs.microsoft.com/en-us/azure/governance/resource-graph/concepts/guidance-for-throttled-requests#pagination) contains some minor issues:

[code]

Suggested change to:

[code]

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d581716-3b0e-fe98-411c-4c68adc8

[2022-08-17 21:56] AZGabe opened #97238 "Needed Guidance on Where to Find MP Pricelist Added"
[The Partner's section calls out that the Marketplace Price List is retired within the EA Portal but then proceeds to tell the reader to log into the EA Portal to find follow steps to obtain Marketplace Pricelist. We need distinct clarification on how customer and partners alike can obtain a pricelist of the MP services as it currently indeed appears to be removed within the EA Portal and the inte

[2022-08-17 22:02] EddyKleinjan opened #97240 "Error exporting the certificate"
Exporting the certificate using the sample code provided in step 2 on the page results in an error message that the certificate is not exportable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb30a599-32a9-1b8a-56d9-94845b41513e
* Version Independent ID: 73658e8e-6ab4-a006-1c26-2e3c6d8081c5
* Content: [Connect using

[2022-08-17 22:18] PatAltimore commented on #96091
Hi @savastosic,

Thanks for clarifying. I understand what you mean now. You're right. You have to do a deployment before EdgeHub runs. We'll add clarification to the article.

Thanks,
Pat

[2022-08-17 22:28] rido-min commented on #97005
Hi @JimacoMS4

This is the article I was looking for, I think I missed it because I was searching for telemetry, or d2c and did not search for "device-event".  As additional feedback I miss some details from the article content:

  - The comment about `iothub-app-XXX` prefix seems incorrect, as described in https://github.com/Azure/azure-iot-sdk-node/issues/1141 . From the tests I've been running

[2022-08-17 22:31] JamesTran-MSFT commented on #97175
@urbndude
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-08-17 22:31] #97175 closed

[2022-08-17 22:37] JamesTran-MSFT commented on #97201
@lucmoco

[2022-08-17 22:39] JamesTran-MSFT commented on #97234
@inmindtechnologies
Thank you for your time and patience!

Unfortunately, we don't provide product release updates through our GitHub channels. For this, I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Azure%20Active%20Directory) pages for this info.

If you'd like th

[2022-08-17 22:39] #97234 closed

[2022-08-17 23:02] jmprieur commented on #97201
This is right. Thanks @lucmoco
@JamesTran-MSFT do you want to provide a PR ?

[2022-08-17 23:39] Oury-MSFT commented on #97091
@zhiweiv Thank you for helping improve our documentation, As mentioned above, we have raised a pull request to fix the broken link. Changes should be live in few hours. You can still re-open the issue if the change is not showing in the doc.

[2022-08-17 23:39] #97091 closed

[2022-08-17 23:57] asukumar22 opened #97246 "Add App GW access log kusto queries"
Add more kusto queries to analyze App Gateway access logs as this document/page mentions only Web Application Firewall logs. Access logs data retrieval is a very common customer scenario and there is not much information about it in public documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0639c6f-f0b4-0ae0

[2022-08-18 00:25] micahl opened #97247 "Confusing description of expected values for 'since' parameter on the direct methods"
As an example, the description for `since` in the table of parameters for the [GetModuleLogs](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-retrieve-iot-edge-logs?view=iotedge-2020-11#retrieve-module-logs) method says (confusing part in bold):

This same description appears in other places for both `since` and `until` on other direct methods.  The confusion contributed to issue https://gi

[2022-08-18 01:15] JFBDO2022 opened #97248 "Password math seems off"
In the examples:

Wouldn't C0ntos0Blank12 score a 3?

"contoso"
"blank1"   Due to fuzzy, same as blank, just extra character, so does it get hoovered up by the fuzzy match?  If not, should get some better clarity around the fuzzy match bit, when it would apply and when it wouldn't.
"2"
That's 3.

And wouldn't ContoS0Bl@nkf9! normalize to contosoblankf91, not contosoblankf9! since ! should equal 1?

[2022-08-18 01:39] LaurentLesle opened #97249 "Clarify the use cases for {region}.privatelink.azurecr.io"
[Enter feedback here]

This page is very clear on private dns zone to use to register the A records including in a geo-replicated scenario.

The following page also mentions an option for a dns zone {region}.privatelink.azurecr.io
![image](https://user-images.githubusercontent.com/4702224/185273083-c839555d-ca0e-4692-be29-f769acdf67e9.png)

https://docs.microsoft.com/en-us/azure/private-link/priva

[2022-08-18 01:43] MarileeTurscak-MSFT commented on #97248
@JFBDO2022
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-18 01:59] mike-urnun-msft commented on #96936
related to: https://github.com/MicrosoftDocs/azure-devops-docs/issues/12001#issuecomment-1058061224

cc: @ecfan @ramiMSFT

[2022-08-18 02:10] KapilAnanth-MSFT commented on #97246
@asukumar22 , You can refer to the below documents for Application gateway access logs and queries.

- **Diagnostic logs** : https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-diagnostics
- **Sample Kusto Queries** : https://docs.microsoft.com/en-us/azure/application-gateway/monitor-application-gateway
- **Metrics and Data Reference** : https://docs.microsoft.com/en-us/

[2022-08-18 02:14] MayankBargali-MSFT commented on #96969
@martins-vds Yes, your understanding is correct. We will enable the creation of apps through the **ARM API** after this date until further notice for the existing function.

Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-08-18 02:14] #96969 closed

[2022-08-18 02:18] MayankBargali-MSFT commented on #97032
@adeliab Yes, your understanding is correct.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-08-18 02:18] #97032 closed

[2022-08-18 02:19] MayankBargali-MSFT commented on #97191
@spelluru Can you please review and provide your insights.

[2022-08-18 02:41] KrishnaG-MSFT commented on #97237
@xiaomi7732 Thanks for your comment! We will review and provide an update as appropriate.

[2022-08-18 03:17] asukumar22 commented on #97246
Please add the link to sample kusto queries under the Use Log Analytics as a sub-section mentioning "Using Log Analytics to analyze Application Gateway Access Logs" as this will help the customer in locating the queries for executing and analyzing the App Gateway Access logs.

[2022-08-18 03:25] VikasPullagura-MSFT commented on #97249
@LaurentLesle
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-18 03:25] VikasPullagura-MSFT commented on #97249
@tejaswikolli-web
Can you please check and add your comments on this doc update request as applicable.

[2022-08-18 03:25] VikasPullagura-MSFT commented on #97240
@EddyKleinjan
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-18 03:26] VikasPullagura-MSFT commented on #97240
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2022-08-18 03:26] VikasPullagura-MSFT commented on #97215
@lam-man
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-18 03:26] VikasPullagura-MSFT commented on #97215
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-08-18 03:33] JFBDO2022 commented on #97248
FYI:  I did test the samples out in a lab, and ***@***.***! does work, but based on the description of how fuzzy works, it seems like it shouldn't.
Plus the ! should be normalized to a 1, unless there are exceptions on how normalization works too.

Thanks.

From: Marilee Turscak - MSFT ***@***.***>
Sent: Wednesday, August 17, 2022 8:44 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: John Fedor **

[2022-08-18 03:57] AjayKumar-MSFT commented on #97203
@orange2008, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-08-18 03:59] AnuragSharma-MSFT commented on #97094
@ElumalaiRJEN Due to lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-08-18 03:59] #97094 closed

[2022-08-18 04:00] AjayKumar-MSFT commented on #97188
@ZavenLepedjian,  Thanks for leveraging Azure docs feedback channel to raise this question.

Since you have closed the issue, I presume the issue is resolved. If you have more questions on the Azure doc, could you please share the Azure documentation for which this feedback is applicable to?

--This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content impr

[2022-08-18 04:06] RohitMungi-MSFT commented on #94917
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/207197
The issue will be fixed in the referenced PR.

Closing out this issue as the fix will be merged with this PR.

[2022-08-18 04:06] #94917 closed

[2022-08-18 04:09] RohitMungi-MSFT commented on #97150
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/207197
@VEshelbyMTT The referenced PR will fix the link as soon as it is merged with the doc. Closing out the issue.

[2022-08-18 04:09] #97150 closed

[2022-08-18 04:10] RohitMungi-MSFT commented on #94341
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/207197

[2022-08-18 04:12] AshokPeddakotla-MSFT commented on #97247
@micahl Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-18 04:18] MughundhanRaveendran-MSFT commented on #97041
@WarrenKin , It is not recommended to keep the instances active during the slot swap. The app will be running but it is highly likely that the instance might be killed/lost.

[2022-08-18 04:30] RohitMungi-MSFT commented on #97212
[Sergong](https://github.com/Sergong) Thanks for the feedback. I have assigned the issue to the content author to review the feedback and update as required. Thanks!!

[2022-08-18 04:33] RohitMungi-MSFT commented on #97180
Thanks @aahmad81 for the details. I have updated the tags on the issue and moved it to appropriate area for review.

[2022-08-18 04:35] ShaikMaheer-MSFT commented on #97136
@Stralle Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-08-18 04:41] ShaikMaheer-MSFT commented on #97221
@jds3d Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-08-18 04:42] marishankar-msft opened #97252 "In the page it is written "This security baseline applies guidance from the Azure Security Benchmark version 2.0 to Microsoft Defender for Cloud", however what I understand is MDFC is already baselined to ASB version 3, does this mean this page needs an update?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39f5c054-459a-3203-770b-a634bdc33b12
* Version Independent ID: be7cbf95-56ff-3fdb-8f11-0a083c4a7640
* Content: [Azure security baseline for Microsoft Defender for Cloud](https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/security-cent

[2022-08-18 05:00] VikasPullagura-MSFT commented on #97008
@seligj95
I checked with internal team on this ask. Requesting you to please check the retirement announcement for App Services and follow guidance shared in [here](https://azure.microsoft.com/en-us/updates/app-service-environment-v1-and-v2-retirement-announcement/).

Hope this helps.

[2022-08-18 05:58] ShaikMaheer-MSFT commented on #97226
@JimThorstad Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-08-18 06:01] aromanrod opened #97255 "new-azeventgridsubscription advance filters stringnotcontains Unsupported operator"
Hi all!
I have been trying to create event subscription using powershell but Im getting following error message:

New-AzEventGridSubscription -ResourceId $storageaccountId -EventSubsc …
     |  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | Invalid Advanced Filter parameter. Unsupported operator for advanced filter #2.

this is my code:
$Eventtypes=("Microsoft.Storage

[2022-08-18 06:35] YashikaTyagi-MSFT commented on #97255
@aromanrod
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-08-18 06:38] SadiqhAhmed-MSFT commented on #97238
@AZGabe Thank you for your post. We will review the content wit the owner and et back to you shortly.

@bandersmsft FYI

[2022-08-18 06:39] YashikaTyagi-MSFT commented on #97252
@marishankar-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-18 06:43] aromanrod commented on #97255
Hi @YashikaTyagi-MSFT thanks for your quick answer, this is the documentation I have been followed: https://docs.microsoft.com/en-us/powershell/module/az.eventgrid/new-azeventgridsubscription?view=azps-8.2.0#parameters

https://docs.microsoft.com/en-us/azure/event-grid/event-filtering#stringnotcontains

[2022-08-18 06:51] WarrenKin commented on #97041
The title for the document is "Zero-downtime deployment for Durable Functions", if you are talking about waiting for all instances to be completed then we are not talking about zero downtime.  The durable function I have is running 24/7 365, I can deploy during the night by ending some workflows but this seems to go against the automated nature of the deployment cycle and CI/CD.

My impression fro

[2022-08-18 06:58] iNdYvidual opened #97257 "One Policy is already deprecated and its successor needs an update to the applicable effects"
Hello Team,

I would like to make two change requests (cross checked these with the Microsoft KeyVault Team as well):

1. The Policy Definition '**[Preview]: Private endpoint should be configured for Key Vault**' should be removed completely from the KeyVault documentation as it already has a successor (**[Preview]: Azure Key Vaults should use private link**). Both Policies are still mentioned on

[2022-08-18 06:58] MughundhanRaveendran-MSFT commented on #97041
@cgillum , Could you please share your insights here?

[2022-08-18 07:11] RohitMungi-MSFT commented on #97223
@KiPIDesTAN Thanks for spotting this.
@danielsc @dem108 Can the reference for [ManagedOnlineEndpoints](https://azuremlschemas.azureedge.net/latest/managedOnlineEndpoint.schema.json) document the same? Since the reference is missing `compute` key it might not be easy to distinguish that this field is available only Kubernetes unless this document is checked.

[2022-08-18 07:13] RohitMungi-MSFT commented on #97227
@susegrant Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-18 07:14] RohitMungi-MSFT commented on #97228
@susegrant Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-18 07:15] RohitMungi-MSFT commented on #97229
@susegrant Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-18 07:19] Givary commented on #97044
@L480 Apologies for the delay in answering this issue. Reviewed your issue statement wanted to check if you have followed the steps under [Set access policies for the Verified ID Admin user](https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/verifiable-credentials-configure-tenant#:~:text=Set%20access%20policies%20for%20the%20Verified%20ID%20Admin%20user) and Set access

[2022-08-18 07:27] benhatton-unsw-edu-au opened #97258 "Add Limitations"
Hi,

As far as I can tell the Speech CLI does not support a speech resource with a custom subdomain using network IP restrictions.  Please consider adding a limitations section to this documentation to make this clear up front.

Thanks
Ben.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcda4589-78c8-4424-f5d1-c94488c0

[2022-08-18 07:29] Givary commented on #96899
@IAmPetersCode Apologies for the delay in responding to this issue.

Please send me an email to 'AzCommunity@microsoft.com' with Sub - Attn: Givary and following details in the email body:
Link to this thread/post
We can connect offline and discuss further on this.

[2022-08-18 07:35] YashikaTyagi-MSFT commented on #97127
@e3-jarnott
Reviewed your statement. Here is the link provided for roll over the Kerberos decryption key of the `AZUREADSSO` computer account.
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-faq#how-can-i-roll-over-the-kerberos-decryption-key-of-the--azureadsso--computer-account-
If this link is not helpful. Please feel free to reach out.
Thanks

[2022-08-18 07:36] L480 commented on #97044
@Givary Thanks for your reply! I did that, but it doesn't seem to be sufficient as I still couldn't select a Key Vault.

[2022-08-18 07:46] YashikaTyagi-MSFT commented on #97255
@aromanrod
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-18 07:50] Givary commented on #97044
@L480 Would request you to try this step again with user having this RBAC Role "Key Vault Administrator" and let me know the results.

[2022-08-18 07:52] KapilAnanth-MSFT commented on #97098
@ajay-aravind, I shall proceed to close the thread as there are no updates.

Let us know if you are still facing the issue, we will reopen this.

[2022-08-18 07:52] #97098 closed

[2022-08-18 08:04] githubths opened #97260 "Correct broken download link for Azure AD Connect V1.x Version"
Please correct the download Link for the latest 1.6.16 Azure AD Connect Version. We need for upgrade to the 2.x Version on a old Server the newest 1.6.16 that we can upgrad the old server to the newest 1.x Version and then go to the 2.x Version on a new Server.

Link broken (https://www.microsoft.com/download/details.aspx?id=103336)

If you're still using an older version of Windows Server, use Az

[2022-08-18 08:21] chaplic opened #97261 "Page is out of date"
Guidance is dated (doesnt reflect UI)  and the initiative suggested is now deprecated, replaced with _Enable Azure Monitor for VMs with Azure Monitoring Agent(AMA)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ceee999-213e-e028-e90b-898f403224cc
* Version Independent ID: 1039f286-43fd-99fe-a53b-8e86b51a0309
* Content

[2022-08-18 08:53] RohitMungi-MSFT commented on #97258
@benhatton-unsw-edu-au Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-18 09:00] SwathiDhanwada-MSFT commented on #97257
@iNdYvidual Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-18 09:00] marishankar-msft opened #97263 ""Install endpoint protection solution on virtual machines" This recommendation is pointing to ASB policy "Monitor missing Endpoint Protection in Azure Security Center". In MDC portal the recommendation if selected is not allowing to exempt the policy rather only giving option to fix all the machines, moreover there is a message available in the portal that updated recommendation is available which points to “Endpoint protection should be installed on your machines”. Question is that, is this recommendation "Install endpoint protection solution on virtual machines" still relevant, if not can this be removed from the reference list and also from the MDC recommendations since there is a score associated with this recommendation."
Install endpoint protection solution on virtual machines" This recommendation is pointing to ASB policy "Monitor missing Endpoint Protection in Azure Security Center". In MDC portal the recommendation if selected is not allowing to exempt the policy rather only giving option to fix all the machines, moreover there is a message available in the portal that updated recommendation is available which

[2022-08-18 09:01] SwathiDhanwada-MSFT commented on #97261
@chaplic Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-18 09:28] YashikaTyagi-MSFT commented on #97115
@hiran-filho
I reviewed the issue and came up with solution that at place of -DomainName hmf.local . You can try with -DomainName "hmf.local". If you still getting the same issue. Please feel free to reach out to us.
![image](https://user-images.githubusercontent.com/110381034/185360537-a9d8e047-eafe-4636-bffd-5e6e3b3bddf2.png)

[2022-08-18 09:37] progmars opened #97265 "Some details in the documentation do not match code examples for Extension 5.x+"
When we were dealing with some concurrency issues, we wanted to know how `maxConcurrentCalls` and `maxConcurrentSessions` work and if they are somehow combined together, and which one has the highest priority.

The article "Azure Service Bus bindings for Azure Functions" has a very important note:

When looking at Functions 2.x+ tab host.json example, we see that `maxConcurrentCalls` and `maxConcu

[2022-08-18 09:39] YashikaTyagi-MSFT commented on #97260
@githubths
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-18 09:41] YashikaTyagi-MSFT commented on #97263
@marishankar-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-18 09:46] marishankar-msft opened #97266 "In this page, for this recommendation "Endpoint protection should be installed on machines" it is mentioned there is no associated policy, however I see ASB policy "1f7c564c-0a90-4d44-b7e1-9d456cffaee8" against the recommendation. Appreciate if you could please clarify."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6230e675-0c07-86be-96e8-2e5463c809bc
* Version Independent ID: a9e9c045-ed30-b01a-5682-b102448066ef
* Content: [Reference table for all Microsoft Defender for Cloud recommendations](https://docs.microsoft.com/en-us/azure/defender-for-cloud/recommendat

[2022-08-18 09:57] PriyankaRudramaina commented on #97131
@scaravacap,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@Dbakevlar- Could you please review this request and share an update. Also, I would like to request for an update on the document if there are any new additions to list of certified applications.

[2022-08-18 10:05] Ellestad1995 opened #97268 "Missing region on Azure Data Factory zone"
The public DNS zone for Azure Data Factory should include the region where the Data Factory resides.

According to the documentation for Data Factory the DNS zone is *.{region}.datafactory.azure.net, but this documentation only shows  datafactory.azure.net. Ref. Data Factory docs: https://docs.microsoft.com/en-us/azure/data-factory/data-factory-private-link

For region West Europe the DNS zones wo

[2022-08-18 10:14] katariasameer7838 opened #97269 "Attributes and Claims details missing"
Hello Team,
First of all, Thank you for this documentation.
This document has enough information but One section is missing. Please provide more details on the Attributes and Claims required for Marketo sign-on.
I am getting a login expires error when sign-in completes and we believe the issue is with a missing claim or Name ID Format.

Thanks

---
#### Document Details

⚠ *Do not edit this sectio

[2022-08-18 10:16] YashikaTyagi-MSFT commented on #97126
@Escoto
To answer your question "Do i have to upload ALL the .xml's in the starter pack?"
Custom policies are a set of XML files you upload to your Azure AD B2C tenant to define technical profiles and starter packs with several pre-built policies are provided. Each of the starter packs contains smallest number of technical profiles. Suggestion is to upload ALL the .xml's in the starter pack and if

[2022-08-18 10:18] #97268 closed

[2022-08-18 10:21] mrbnd commented on #93447
@L-u-k-e-GIT, when I try to use code from this file (https://github.com/L-u-k-e-GIT/azure_vm_applications/blob/main/vm_applications.tf), I get the following error: "The resource with name 'AADSSHLogin' and type 'Microsoft.Compute/virtualMachines/extensions' has incorrect segment lengths"

[2022-08-18 10:37] L-u-k-e-GIT commented on #93447
@nikhilpatel909 yes, I simply talking about building in TF what described here [Overview of VM Applications in the Azure Compute Gallery (preview) - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/vm-applications)

[2022-08-18 10:40] L-u-k-e-GIT commented on #93447
@mrbnd did you try to install the application from portal to undestand if the error is TF  related or Vm Application related?

[2022-08-18 10:41] ManoharLakkoju-MSFT commented on #97031
@sanalkr
Thanks for your contribution for enhancing the documentation. We have Performed the Pull request, once it get approve by the author changes will reflect

[2022-08-18 10:41] #97031 closed

[2022-08-18 11:12] #97113 closed

[2022-08-18 11:24] roryp opened #97271 "incorrect DAPR version - azure now supports DAPR 1.8.3"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c11d743-983a-ef11-0ed0-408947c97faa
* Version Independent ID: 13e17ccc-e9d5-1f28-472b-5c758f4a26ae
* Content: [Dapr integration with Azure Container Apps](https://docs.microsoft.com/en-us/azure/container-apps/dapr-overview?tabs=bicep1%2Cyaml)
* Conte

[2022-08-18 11:32] L480 commented on #97044
@Givary Same issue :/

[2022-08-18 11:48] timwarner-msft commented on #97237
Hi @xiaomi7732. I'll implement your change today. Thanks so much! -Tim

[2022-08-18 11:54] ferronsw opened #97272 "Wrong policy name"
I think the policy name "Deploy prerequisites to enable machine configuration policies on virtual machines" is now "Virtual machines' Guest Configuration extension should be deployed with system-assigned managed identity" if I'm correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96f96add-27f0-88f7-7737-10f059af2d5

[2022-08-18 11:55] Togawa-Yota opened #97273 "Cmdlet error？"
This cmdlet as described didn't work.
Run Get-AzADServicePrincipal | ForEach-Object { Remove-AzADServicePrincipal -ObjectId $_.Id }.

My correction is below, this worked.
Get-AzureADServicePrincipal | ForEach-Object { Remove-AzureADServicePrincipal -ObjectId $_ }

I'm not familiar with PowerShell. Please review the issue. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-08-18 12:00] neilmca-inc opened #97274 "az k8s-extension install attempts fail with Unauthorized InvalidAuthenticationToken"
Running ths against a very basic new AKS cluster definition created from the Azure Portal and provisioned out...

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-attach-kubernetes-anywhere?tabs=deploy-extension-with-cli%2Cstudio#:~:text=Use%20AKS%20cluster%20in%20Azure%20for%20a%20quick%20proof%20of%20concept

`az k8s-extension create --name neilsamlext --extension-type Microsoft.Az

[2022-08-18 12:05] msmbaldwin commented on #97252
Good morning, @marishankar-msft. We are currently updating all security baselines to v3, including Microsoft Defender for Cloud.  The new, v3 baseline should be released shortly. Thanks! #please-close

[2022-08-18 12:05] #97252 closed

[2022-08-18 12:33] timwarner-msft commented on #97272
assign:@jodi-boone

[2022-08-18 12:33] timwarner-msft commented on #97272
Hi @ferronsw. I assigned this issue to my colleague Jodi Boone, who should know the answer to your question straightaway. Thanks, Tim

[2022-08-18 12:37] tsrob50 opened #97275 "Microsoft 365 Writeback"
Hello,
I'm testing Group Writeback V2 and running into inconsistencies with the documentation.  I have enabled writeback V2 and existing M365 groups are written back despite the isEnabled setting.  I have three groups, one set to false, one set to true and one left as null.  All three are written back.

This document as well as the Manage Group Writeback page indicates that M365 groups are only wr

[2022-08-18 12:53] JF6 opened #97276 "partitionKey in the python table output binding is unnecessary"
I believe that the partition key in the sample Json is unnecessary and is somewhat misleading as it implies that the output needs to be on the same partitionKey.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c80f5d88-cfb9-b940-d993-935e42528d94
* Version Independent ID: 6023328b-2109-7269-befa-7681dda7c5da
* C

[2022-08-18 13:09] mumurug-MSFT commented on #97265
@progmars Thanks for your feedback. We will review and update as appropriate.

[2022-08-18 13:11] mumurug-MSFT commented on #97276
@JF6Thanks for your feedback. We will review and update as appropriate.

[2022-08-18 13:20] #97056 closed

[2022-08-18 13:20] SpuriousGeek commented on #94235
Hi @mike-urnun-msft - I've reviewed the documentation changes that have been made but this is still unclear to me. We had the exact same warning as the OP and whilst there is mention of continued support for 'Timer' triggers, it's not clear what constitutes a timer trigger. Both 'Fixed delay' and 'Exponential backoff' retry policies are still listed in the docs, the latter of which we are currentl

[2022-08-18 13:22] schwede07 commented on #93745
@SnehaSudhirG: We have exactly the same problem. Thanks for an update. Regards Joël

[2022-08-18 13:25] bmansheim commented on #97177
@itguysocal We are exactly discussing this internally. It should be resolved in the next few days.

[2022-08-18 13:31] ChrisHMSFT commented on #97209
We have updated the documentation to include the correct example. @YutongTie-MSFT

[2022-08-18 13:33] AjayKumar-MSFT commented on #97095
munir94, Apologies for the delay! if you are still experiencing this issue. Kindly try removing/deleting the resource via [Azure CLI cmdlet.](https://docs.microsoft.com/azure/azure-arc/kubernetes/faq#how-do-i-address-expired-azure-arc-enabled-kubernetes-resources).

https://docs.microsoft.com/cli/azure/connectedk8s?view=azure-cli-latest

As a side note, this channel is reserved for ‘Azure docs’ fe

[2022-08-18 13:34] bmansheim commented on #97147
#please-close

[2022-08-18 13:34] #97147 closed

[2022-08-18 13:42] cveld commented on #78569
@andreflowers @SnehaAgrawal-MSFT @sethmanheim any news on this? Is Notification Hub being deprecated? Should we integrate directly to Android and iOS nowadays?

[2022-08-18 13:42] bmansheim commented on #97266
Hi @marishankar-msft . Thanks for the question. The information in this page is automatically generated from the product code. Please address this with Product representatives.
#please-close

[2022-08-18 13:42] #97266 closed

[2022-08-18 13:54] bmansheim commented on #97159
Hi @Tiglat1 . Thank you for your comments. Let me verify this and we'll see how to handle it.

[2022-08-18 13:55] bmansheim commented on #97263
Hi @marishankar-msft . Thanks for the question. The information in this page is automatically generated from the product code. Please address this with Product representatives.
#please-close

[2022-08-18 13:55] #97263 closed

[2022-08-18 13:59] Rildlanster opened #97279 "Can we change nginx.conf file?"
Hi, in documentation it is stated "To protect your web app from accidental or deliberate DDOS attacks, Gunicorn is run behind an Nginx reverse proxy as described on [Deploying Gunicorn](https://docs.gunicorn.org/en/latest/deploy.html) (docs.gunicorn.org)."

Could you add info whether is it possible to change the nginx.conf file or not?

I couldn't find any nginx process running inside app service

[2022-08-18 14:09] mumurug-MSFT commented on #97276
@JF6, the example is intended to show all the binding configuration properties and the description for the properties has been described in the [configuration section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table-output?tabs=in-process%2Cstorage-extension&pivots=programming-language-python#configuration).

![image](https://user-images.githubusercontent.co

[2022-08-18 14:17] omondiatieno commented on #96013
@pettewayshade, thank you for your feedback. We are currently investigating the sample you provided, and we may need to improve some aspects of the sample before we can add it to the documentation.

We've opened a work item to track this issue, so I'll close it for now. Feel free to reach out in case you have more inquiries.

[2022-08-18 14:17] omondiatieno commented on #96013
#please-close

[2022-08-18 14:18] JF6 commented on #97276
@mumurug-MSFT thanks a lot for the quick reply, perhaps in this case something showing which properties are mandatory (name, direction, ...) and which are optional. But that goes beyond python and the partitionKey alone, just food for thought.

[2022-08-18 14:18] #97276 closed

[2022-08-18 14:19] gitill commented on #66488
@vishalgoyal16444
Did you manage to solve the issue back then?

I am running into similar issues with DataFlow in the current ADF even today and found your post.

[2022-08-18 14:19] jostFT commented on #64073
@nickgmicrosoft any update on this?
I've had the same issue currently, adding your suggested code_challenge to the url manually, made it work 🤔

Would definitely be great if this was added automatically :)

[2022-08-18 14:30] BillysCoolJob commented on #97124
Hi @Karishma-Tiwari-MSFT ! Not to pester, but unfortunately this issue is starting to become urgent for us.
Is there any chance you could take a look? I see that this has happened before with other extensions here:
https://bytemeta.vip/repo/MicrosoftDocs/azure-docs/issues/92474

Looks like it needed to be resolved from the Azure side.

[2022-08-18 14:30] brmcmill opened #97280 "Connect with iOS Client needs to reflect Min Version to be v14.x or later"
Hey Team,

The following article I believe should reflect what is advertised as the required minimum version to deploy the latest verion of the Remote Desktop Client for iOS.  This article states it's v13.0 or later, but the latest version requires v14.0 or later.

https://apps.apple.com/app/microsoft-remote-desktop/id714464092

![image](https://user-images.githubusercontent.com/26752719/185420528

[2022-08-18 14:32] brucenelson6655 opened #97281 "This document is missing private link info for Microsoft.Databricks/workspaces"
This documentation page is missing private link info on the resource **Microsoft.Databricks/workspaces** and its sub-resources **databricks_ui_api** and **browser_authentication** in the section _Azure services DNS zone configuration_ https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#azure-services-dns-zone-configuration

---
#### Document Details

⚠ *Do not edit this sectio

[2022-08-18 14:40] MsGabsta commented on #97124
@BillysCoolJob I would suggest that opening a support ticket through the Azure Portal on a resource experiencing this issue would be the best path forward for you to get this resolved as this will require looking at logs to properly troubleshoot this issue.

[2022-08-18 14:55] hugoforte opened #97282 "Should highlight that custom auth is not supported on the free plan"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 762d787f-b0e0-4403-a0b0-a5bb0a228b34
* Version Independent ID: 595ea830-dd14-e8b7-5a35-2ac67a60dee4
* Content: [Configure authentication in an Azure Static Web App by using Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-dire

[2022-08-18 15:00] austinmccollum commented on #91254
you're right @medh2000, the article even describes the flow here: "This section describes how to export Microsoft Sentinel data from Log Analytics into an Event Hub, where you can **ingest it into** Azure Data Explorer." I'll get the image updated.

[2022-08-18 15:08] MsGabsta commented on #97124
@BillysCoolJob is this a new deployment with Custom Script Extension being installed for the first time on the resource?

[2022-08-18 15:17] L-u-k-e-GIT commented on #93447
@mrbnd ok.
This module as only 3 variables:
  MD_RG_NAME      is the resource group of the virtual machine
  MD_VIRTUAL_MACHINE_NAME     is the name of the virtual machine
  MD_VM_APP_ID           is the id of vm app you can take it from json view of vm app version.

So be sure to put the right vm app version id, I do not think .
Try to remove  count     = var.MD_RUN

I currently use it almost eve

[2022-08-18 15:21] sundeeplella opened #97283 "az error: unrecognized arguments: --disable-oidc-issuer"
I get this error while running the command: **az aks upgrade -n ClusterName -g ResourceGroupName --disable-oidc-issuer**

Also getting the Same error when tried with **update** command instead of **upgrade**

Note: I have registered to EnableOIDCIssuerPreview feature flag on my subscription and Updated my AKS cluster with OIDC Issuer.

Now I'm trying to disable the OIDC Issuer on my AKS cluster an

[2022-08-18 15:22] BillysCoolJob commented on #97124
@MsGabsta Yes, it is a new deployment. The deployment is designed to be built up and torn down as needed (spin up for a couple days, use it, then tear it down) and it gives us the error every time I've run it since Monday. As of this moment we don't have the plan in Azure to get technical support, so I'd have to go purchase that to proceed over there.

[2022-08-18 15:40] e3-jarnott commented on #97127
I am aware of that process and have successfully executed it in the past on an Azure AD Connect deployment. It is not clear from the docs if this task is required when running Cloud Sync (instead of AD Connect) with SSO enabled, and if it is required, how to do it given the Cloud Sync agent does not include the AzureADSSO PowerShell module referenced in the steps for AD Connect.

[2022-08-18 15:41] cgillum commented on #97041
If I understand the question correctly, it's the Production slot which needs to be checked for in-flight instances. The assumption is that the staging slot is inactive.

Note that this strategy assumes that your orchestrations are not long-running. If they are long-running or if they are eternal, then it won't be practical to wait for them to finish before doing the swap. In such cases, you can st

[2022-08-18 15:43] JamesTran-MSFT commented on #97269
@katariasameer7838
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-18 15:44] mike-urnun-msft commented on #97271
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-18 15:45] JamesTran-MSFT commented on #97282
@hugoforte
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-08-18 16:01] s4parke opened #97287 "Logic App for LAW export instructions: run the query"
The instructions in Step 5c say to "Run the log query" but do not explain where or how to run the log query in order to get a JSON object with a sample result. The example JSON does not match my query, and it is not possible to proceed any further in the instructions.

Thanks!
--
![LogicAppLAW5c](https://user-images.githubusercontent.com/656510/185441261-26b577eb-161a-417f-a7ba-b729eaa4bb67.png)
-

[2022-08-18 16:12] #96555 closed

[2022-08-18 16:13] DoludaSergey commented on #14596
That feature is available today in newer versions?
I need maxconcurrentcalls with different values per functions

[2022-08-18 16:19] GithubMirek commented on #89824
The step 2 is correct in this case. To create an AAD user as a “contained user” we do not need a master database. The AAD admin or any other AAD user with permission to connte to a user database and to create AAD users can directly create such uses in the database using the command
CREATE USER [user1@gmail.com] FROM EXTERNAL PROVIDER.

[2022-08-18 16:23] JasonWHowell commented on #94954
This sounds like a product bug, not a doc issue. Sure the doc could give a caveat but the portal interface could prevent the issue to start with. #label:product-bug

[2022-08-18 16:23] JasonWHowell commented on #94954
#label:"product-bug"

[2022-08-18 16:26] baf opened #97289 "Zoom JWT deprecation"
This page only describes support for the account-wide JWT authentication method for Zoom. Zoom will be deprecating[1] that auth type in favor of server-to-server OAuth. It will be completely removed in June 2023. Will that method be replaced shortly so that Azure AD provisioning to Zoom can continue?

[1] https://marketplace.zoom.us/docs/guides/build/jwt-app/jwt-faq/

---
#### Document Details

⚠

[2022-08-18 16:33] YutongTie-MSFT commented on #97209
#please-close

[2022-08-18 16:33] #97209 closed

[2022-08-18 16:46] AbdullahBell commented on #89547
Hello @FallenHoot! The overview page is updated with a table listing the differences between the two SKUs. Thanks for the recommendation!

[2022-08-18 16:50] AbdullahBell commented on #89547
#please-close

[2022-08-18 16:50] #89547 closed

[2022-08-18 16:54] VikasPullagura-MSFT commented on #97280
@brmcmill
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-18 16:54] VikasPullagura-MSFT commented on #97280
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-08-18 16:59] PriyankaRudramaina commented on #97113
@spacest,

We have made the necessary changes in the documents and it will be updated soon.

[2022-08-18 16:59] YutongTie-MSFT commented on #97209
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-08-18 17:11] MonikaReddy-MSFT commented on #96866
@jspaans91  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2022-08-18 17:11] #96866 closed

[2022-08-18 17:13] azzaj8 opened #97290 "Update to 'Count of billable events by computer' KQL query."
This link section of the documentation : https://docs.microsoft.com/en-us/azure/azure-monitor/logs/analyze-usage#data-volume-by-computer

The 'Count of billable events by computer' query is missing the 'Type' from the first line.

Broken
[code]

Working

[code]
Thanks, Ron
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-08-18 17:22] MsGabsta commented on #97124
@BillysCoolJob, thanks for the quick response.  I'm discussing this internally and will respond again soon.

[2022-08-18 17:23] austinmccollum commented on #91254
#assign:austinmccollum

[2022-08-18 17:24] austinmccollum commented on #91254
I updated image and it has been merged to main. #please-close

[2022-08-18 17:24] #91254 closed

[2022-08-18 17:25] BillysCoolJob commented on #97124
@MsGabsta I've been testing this out a bit more, if I use Terraform, is my local machine reaching out to get Microsoft.Compute.CustomScriptExtension or is the VM itself reaching out to get it? Or, to ask another way, is my local machine getting the 404 or is the VM getting the 404? The script changes the DNS server in the subnet mid-deploy so I feel a DNS issue may be afoot.

[2022-08-18 17:30] joeltaylor opened #97291 "Missing port binding for mongodb emulator"
Hello! I've been attempting to run the Linux emulator on MacOS using the MongoDB API. After following the steps and visiting `https://localhost:8081/_explorer/index.html`, I'm able to retrieve the following Mongo connection string so that I can connect using a MongoDB client ([mongoid](https://github.com/mongodb/mongoid)):

```mongodb://localhost:C2y6yDjf5%2FR%2Bob0N8A7Cgv30VRDJIWEHLM%2B4QDU5DE2nQ

[2022-08-18 17:43] tamram commented on #95320
#reassign: @jimmart-dev

[2022-08-18 17:46] farukc commented on #95618
Can you please assign this to me? Thanks

[2022-08-18 17:47] farukc commented on #95618
@nis-goel : I can update the doc. @CHEEKATLAPRADEEP-MSFT Can you please assign this to me?

[2022-08-18 17:56] bradib0y opened #97292 "The image below text "Issuer: URL of the Secure Token Service" is containing a bad URL for the STS."
There is an image representing an example config below the text "Issuer: URL of the Secure Token Service". That image is showin a wrong STS url. It should be `sts.windows.net` but it's `login.microsoftonline.com`, which only should be in the "Tenant" field but not the Issuer field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-08-18 18:00] GithubMirek commented on #95830
The MFA is an interactive operation and requires user interaction to authenticate with Azure SQL. As far as the service principal approach is concerned this type of connection is not supported. However, the service principal connection w/o user interaction prompting for login, can be established with Azure SQL. For more information see  [Azure Active Directory server principals - Azure SQL Databas

[2022-08-18 18:15] devman2k commented on #95830
Sorry I'm confused by your reply. The goal of my comment is to demonstrate in code sample that a Service Principle Connect w/o user interaction can be setup specifically for Azure SQL TDS. Azure SQL TDS is a specialty protocol typically used by Microsoft Dynamics Customer Engagement Developers to access SQL Tables directly via a READ ONLY View.
This method of connectivity is typically made availab

[2022-08-18 18:22] cvillagomez commented on #97290
Hi @azzaj8,

Thank you for your post! I am going to review this with my colleagues and will confirm once I am able to push a commit to update our public documentation.

We appreciate your feedback and will keep you updated.

Thanks!
Carlos V.

[2022-08-18 18:28] DevanshuSyk opened #97295 "Missing parameter in query"
This is an incorrect query  since you need double "=="  on line 4 before vault patch
AzureDiagnostics
| where TimeGenerated > ago(30d) // Time range specified in the query. Overrides time picker in portal.
| where ResourceProvider =="MICROSOFT.KEYVAULT"
| where OperationName == "VaultPut" or OperationName = "VaultPatch"
| sort by TimeGenerated desc

Correct

AzureDiagnostics
| where TimeGenerated

[2022-08-18 18:28] JimacoMS4 commented on #97005
Hi @rido-min,

To your first bullet. You're right, that probably is somewhat misstated. I think it should be that user-defined application properties should follow the `iothub-app-xxxx` form. I think that `dt-subject`, however, is a system property, and it should just be added as-is: Here's the list of system properties: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-cons

[2022-08-18 18:31] JamesTran-MSFT commented on #97295
@DevanshuSyk
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-18 18:31] JamesTran-MSFT commented on #97289
@baf
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-18 18:32] hhunter-ms commented on #97271
@roryp Thanks for your feedback! I've updated the Dapr version to 1.8.3, and it should be public in a few hours.

[2022-08-18 18:36] timwarner-msft commented on #97237
PR submitted; change should be live by tomorrow. Closing now. Thanks! -Tim

[2022-08-18 18:36] timwarner-msft commented on #97237
#please-close

[2022-08-18 18:36] #97237 closed

[2022-08-18 18:42] GeethaThatipatri-MSFT commented on #97291
@joeltaylor Thanks for reaching out, We will investigate and update you shortly.

[2022-08-18 18:48] austinmccollum commented on #97046
#assign:austinmccollum

[2022-08-18 18:50] roygara commented on #97002
#assign: khdownie

[2022-08-18 19:07] FACENC opened #97296 "FreeBSD is not Linux. Documentation needs cleaning up."
FreeBSD is not Linux.  This page should be updated to remove references to Linux VMs and moved to a different area of documentation (e.g. not under "Linux Distribution Specific Requirements")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0cd7ebd-e262-7a75-5c90-abade813d597
* Version Independent ID: a5f67d3b-53a7-4e1a

[2022-08-18 19:08] JimInWA commented on #95950
@mike-urnun-msft @MughundhanRaveendran-MSFT can this item please be re-opened based on my comments above?

[2022-08-18 19:21] joharder commented on #96884
@shaf3ii I've made changes in https://github.com/MicrosoftDocs/azure-docs/commit/94db6ee9655f0b21a72fd1efcb2cd84a27e1c30f

Let me know if you still see any issues.

[2022-08-18 19:34] pasnopik opened #97297 "Please add the following URL - graph.microsoftazure.us Recent updates by the Azure Migrate Appliance now require this URL to be available prior to passing any prerequisite checks."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4a21a9-fcda-355f-6668-21cd3adf25af
* Version Independent ID: 659ad43a-882f-1510-36df-dd1d994b6a09
* Content: [Azure Migrate appliance - Azure Migrate](https://docs.microsoft.com/en-us/azure/migrate/migrate-appliance#url-access)
* Content Source: [ar

[2022-08-18 19:44] JamesTran-MSFT commented on #97275
@tsrob50
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-18 20:09] Heidilohr commented on #95435
Updated documentation with new compatibility information and updated instructions. #please-close

[2022-08-18 20:09] #95435 closed

[2022-08-18 20:09] JamesTran-MSFT commented on #97275
@tsrob50
Thank you for your time and patience!

For the `isEnabled` setting, as you mentioned in your post if - one group is set to false, one set to true, and one left as null. All three are written back.

Based off the [Azure AD Connect group writeback](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-group-writeback-v2) documentation the **[default behavior](https:/

[2022-08-18 20:09] #97275 closed

[2022-08-18 20:10] JamesTran-MSFT commented on #97003
@rich-rowan
I just wanted to check in and see if you had any other questions or if you were able to review Lesia's comment?

[2022-08-18 20:35] BillysCoolJob commented on #97124
Hi @Karishma-Tiwari-MSFT This is not the case with me, however I did discover that this was in fact related to the DNS switch I was making and therefor we can close this case. My issue is no longer happening. Thank you for your help!

[2022-08-18 20:35] #97124 closed

[2022-08-18 20:36] cvillagomez commented on #97290
Hi @azzaj8,

Thanks for the feedback, we have addressed the typo on the KQL query. We have a pending change to address the issue and the document will be fixed shortly.

Thanks,
Carlos V.

[2022-08-18 20:39] RyanHill-MSFT commented on #97290
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-18 20:40] #97290 closed

[2022-08-18 20:43] JamesTran-MSFT commented on #97273
@Togawa-Yota
Thank you for pointing this out!

When it comes to the PowerShell command can you share what error message you received, so I can gain a better understanding of your issue?

[Get-AzureADServicePrincipal](https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadserviceprincipal?view=azureadps-2.0)
[Get-AzADServicePrincipal
](https://docs.microsoft.com/en-us/powershell/modu

[2022-08-18 20:49] OpsGuruRobJ opened #97298 "Ambiguous reference to 'Azure workspace'"
Hello,

In this page, in the section 'Requirements' and sub-heading 'Azure subscription', the single bullet there says: "Your Azure workspace must be on the Premium tier." . This phrase caused me much effort in searching within my Azure subscription for where I might have to upgrade my Azure tier. I've come to believe now that this documentation is trying to convey that someone would need a Premiu

[2022-08-18 20:50] JamesTran-MSFT commented on #97295
@DevanshuSyk
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/185492358-5ce7d844-bc3b-4187-951e-d74e2490bcee.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your

[2022-08-18 20:50] #97295 closed

[2022-08-18 21:00] tofusgh opened #97299 "Pointer to Default Policy Settings"
[Enter feedback here]
Hi it would be great to share that our VWAN S2S has the same defaults (as they are not viewable in the portal and they do not export from VWAN at this time) as our normal s2s vpn as it's not clearly stated in this doc. A pointer to this doc would be helpful: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-devices#ipsec

---
#### Document Details

⚠ *D

[2022-08-18 21:21] mbiver opened #97300 "Prominent Linux ADE Prerequisites section in overview?"
Hello, team.  I've seen some situations where users are getting failures when encrypting data disks that are already formatted with XFS and they're not using the EncryptFormatAll parameter.  it looks like the information below is in the FAQ for Linux disk encryption, and it's not supported if that parameter isn't used, but I'm wondering if a more prominent Prerequisites section added to the overvi

[2022-08-18 22:07] JesvinJoseph commented on #97225
Hi @Karishma-Tiwari-MSFT

Thank you for the quick response. Is cloud shell the only option to the schedules ACR? Is it possible to run it in the pipeline? Can you suggest the best approach to auto purging the docker images from the azure container registry?

[2022-08-18 23:40] ivangonzalezsaenz opened #97302 "reference to "Properties" blade in Subscriptions"
There is a reference to "Properties" blade in image account-admin.png, however, Azure does not show that option anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11cda2e8-81c4-ab6a-371e-73506948488f
* Version Independent ID: f18c9bf9-a0e7-ea07-144b-c2c7cedc8b6b
* Content: [Classic subscription administrator roles,

[2022-08-19 00:16] KranthiPakala-MSFT commented on #97049
Hi @francisapel

I was able to use the below properties ( as mentioned in the document `@triggerBody().fileName` and `@triggerBody().folderPath`) configured for event Trigger and was able to pass the folder path and file name to the pipeline parameters.

![image](https://user-images.githubusercontent.com/50185738/185515964-f623b66e-d17e-486a-8de0-e846349ca372.png)

![image](https://user-images.git

[2022-08-19 00:16] #97049 closed

[2022-08-19 00:19] davihar opened #97303 "Additional limitation when ingesting data from event hub into data explorer pools"
Another limitation that is not listed under known limitations is "Ingesting data from an Event Hub into Data Explorer pools will not work if your Synapse workspace uses a managed virtual network with data exfiltration protection enabled."  This limitation is stated in https://docs.microsoft.com/en-us/azure/synapse-analytics/data-explorer/ingest-data/data-explorer-ingest-event-hub-one-click

---
##

[2022-08-19 01:10] taiyokato opened #97304 "GatewayLogs document missing few schema columns"
Hi team,

I'm looking at the schema of GatewayLogs, however I find it missing a few columns compared to actual Log Analytics output.

So far, I found it missing:
- TotalTime
- CacheTime
- IsRequestSuccess (probably dynamically set by checking responseCode within 200~399 range?)
- RequestSize (there is responseSize set, why not requestSize?)

[REQUEST]
- Can we have this document updated so it has

[2022-08-19 01:16] #95329 closed

[2022-08-19 01:32] w-azure commented on #93754
Thanks again for the feedback. I'm closing this issue, but feel free to reopen if you'd like to continue the conversation.
#please-close

[2022-08-19 01:32] #93754 closed

[2022-08-19 01:34] chandainfy commented on #51250
hi,
Facing similar issue and it is not working for me as well. same error. could you please share solution.

[2022-08-19 02:04] beaucoup1980 opened #97306 "On-premises users section appears to have an incomplete sentence."
The first sentence of the On-premises users section appears to be incomplete: https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-phone#on-premises-users

"An end user can be enabled for multifactor authentication (MFA) through an on-premises."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2022-08-19 02:23] Karishma-Tiwari-MSFT commented on #97128
Please refer to the examples below for complete samples of configuring applications on a VM using Custom Script extension.

[Custom Script extension on a Linux VM](https://github.com/Azure/azure-quickstart-templates/blob/b1908e74259da56a92800cace97350af1f1fc32b/mongodb-on-ubuntu/azuredeploy.json/).
[Custom Script extension on a Windows VM](https://github.com/Azure/azure-quickstart-templates/blob/b

[2022-08-19 02:30] #97128 closed

[2022-08-19 02:32] Karishma-Tiwari-MSFT commented on #73752
Closing this. If you are still seeing this issue, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-08-19 02:32] #73752 closed

[2022-08-19 02:32] Karishma-Tiwari-MSFT commented on #77567
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-08-19 02:32] #77567 closed

[2022-08-19 02:33] Karishma-Tiwari-MSFT commented on #81711
will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-08-19 02:33] #81711 closed

[2022-08-19 02:40] Karishma-Tiwari-MSFT commented on #81780
We will now close this issue. If you are still seeing this issue, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-08-19 02:40] #81780 closed

[2022-08-19 02:41] Karishma-Tiwari-MSFT commented on #82665
We will now close this issue. If you are still seeing this issue, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-08-19 02:41] #82665 closed

[2022-08-19 02:43] Karishma-Tiwari-MSFT commented on #85667
We will now close this issue. If you are still seeing this issue, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-08-19 02:43] #85667 closed

[2022-08-19 02:44] Karishma-Tiwari-MSFT commented on #85672
Are you still seeing this issue?

[2022-08-19 02:45] Karishma-Tiwari-MSFT commented on #85695
Please post this as a product feedback [here](https://feedback.azure.com/d365community/forum/aabe212a-f724-ec11-b6e6-000d3a4f0da0). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

Thanks for bringing this to our attention. We wi

[2022-08-19 02:45] #85695 closed

[2022-08-19 02:50] Karishma-Tiwari-MSFT commented on #86806
Thanks for sharing your findings. This can be achieved by [Storing and sharing images in an Azure Compute Gallery.](https://docs.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries?tabs=azure-cli)
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladl

[2022-08-19 02:50] #86806 closed

[2022-08-19 02:51] Karishma-Tiwari-MSFT commented on #97160
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-08-19 02:51] #97160 closed

[2022-08-19 02:54] zackliu commented on #97219
In signalr service the secreturi is the only supported syntax so we didn't provide any other syntax. Although it's similar to that in app service but we don't share the same syntax.

[2022-08-19 03:23] YashikaTyagi-MSFT commented on #97302
@ivangonzalezsaenz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-19 03:25] YashikaTyagi-MSFT commented on #97306
@beaucoup1980
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-19 03:27] YashikaTyagi-MSFT commented on #97303
@davihar
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-19 03:30] Venkateshdodda-MSFT commented on #97279
@Rildlanster Thank you for your feedback! We will review and update as appropriate.

[2022-08-19 03:46] KapilAnanth-MSFT commented on #97281
@brucenelson6655, we appreciate your feedback.

I see the Private EndPoint is still in preview for Databricks. The documents will be updated once the service becomes generally available.

- https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/private-link
- https://docs.microsoft.com/en-us/azure/databricks/release-notes/release-types

Let me know if you

[2022-08-19 03:55] StefArroyo commented on #97291
Hi!

Yes, documentation should be updated accordingly!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: GeethaThatipatri-MSFT ***@***.***>
Sent: Thursday, August 18, 2022 11:42:55 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Estefani Arroyo ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Missing port binding for mongodb emulator

[2022-08-19 03:56] KapilAnanth-MSFT commented on #97092
@jgwinner , We have assigned the thread to the author for further review.

@greg-lindsay, Please look into this and update the screenshots accordingly.

[2022-08-19 04:00] KapilAnanth-MSFT commented on #97292
@bradib0y, Thanks for your feedback.

We have assigned the thread to the author for further review.

@cherylmc , Please update the screenshot accordingly.
![image](https://user-images.githubusercontent.com/107474080/185540190-b38fad1e-dab5-4bef-bae5-b4df9efae2e3.png)

[2022-08-19 04:16] SwathiDhanwada-MSFT commented on #97287
@s4parke Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-19 04:18] PriyankaRudramaina commented on #97300
@mbiver,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@msmbaldwin - Please review this feedback and help.

[2022-08-19 04:20] PriyankaRudramaina commented on #97296
@FACENC,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@mimckitt - Please help here

[2022-08-19 04:32] YashikaTyagi-MSFT commented on #97115
@hiran-filho
We are working on the issue and will get back to you. Thanks for your quick response.

[2022-08-19 04:37] KapilAnanth-MSFT commented on #97299
@tofusgh , Thanks for your feedback.

@cherylmc, Please look into this suggestion and add the reference as required

[2022-08-19 04:43] PriyankaRudramaina commented on #97283
@sundeeplella,

Thank you for your feedback. We will investigate and update the thread further.

[2022-08-19 04:50] SadiqhAhmed-MSFT commented on #97297
@pasnopik Thank you for your feedback. We will review it with content owner and update as appropriate.

@Vikram1988 FYI

[2022-08-19 04:50] MughundhanRaveendran-MSFT commented on #95950
@JimInWA , I have reopened this issue, I will check and get back to you

[2022-08-19 04:52] ShaikMaheer-MSFT commented on #97298
@OpsGuruRobJ Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-08-19 04:58] justinmchase commented on #32472
App Services has configuration for health checks, so why do you need to call this unconfigurable robots file instead of just using the configured health check?

[2022-08-19 05:11] SnehaAgrawal-MSFT commented on #96922
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-08-19 05:11] #96922 closed

[2022-08-19 05:13] Sandeg-MSFT commented on #95234
@billmath

Can you please check and add your comments on this doc update request as applicable.

[2022-08-19 05:26] rukasakurai opened #97307 "Registry authentication parameters for az containerapp create"
Following the tutorial (https://docs.microsoft.com/en-us/azure/container-apps/microservices-dapr?tabs=bash) step-by-step results in the error "Registry username and password are required if not using Azure Container Registry" when running `az containerapp create`

Adding --registry-server, --registry-username, and --registry-password as parameters for `az containerapp create` resolves the issue.

[2022-08-19 05:36] rukasakurai opened #97308 "Extra "|" in Log Analytics query"
There is an unneeded "|" at the end of the Log Analytics query.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afddc810-761b-10bf-38af-ca113b9a9237
* Version Independent ID: a44380a6-fc16-0f56-17cf-013775391329
* Content: [Tutorial: Deploy a Dapr application to Azure Container Apps using the Azure CLI](https://docs.mic

[2022-08-19 05:58] rukasakurai commented on #97308
Looks like it's being addressed in the GitHub repo, and that the update just hasn't propagated yet to the docs.
https://github.com/MicrosoftDocs/azure-docs/commit/e1fbba612a80d32b62217be1e78966273dae9d2f

[2022-08-19 05:58] #97308 closed

[2022-08-19 06:13] vinit-intel opened #97309 "Incorrect repo update command for Ubuntu"
Go to the page https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-test-latency#for-ubuntu

There are lists of commands mentioned for Ubuntu:
#Ubuntu - Install Git and other helpful tools
    sudo apt-get install build-essential -y
    sudo apt-get install git -y -q
    sudo apt-get install -y autotools-dev
    sudo apt-get install -y automake
    sudo apt-get install -y autocon

[2022-08-19 06:14] rukasakurai opened #97310 "Sample Container Apps manifests for configuring Dapr components"
The docs mentions that "The Container Apps manifests differ sightly from the Dapr OSS manifests in order to simplify the component creation experience."

It would be helpful to provide a link to sample Container Apps manifests for configuring Dapr components (e.g., for various Azure state stores, pub/sub brokers etc.), and/or guidance regarding how to write them.

---
#### Document Details

⚠ *Do

[2022-08-19 06:18] miqm opened #97311 "Preview or GA?"
To enable this functionality we needed to register AutoUpgradePreview feature, but the docs doesn't specify this step. Is this functionality still in preview? lack of (Preview) in title suggests this is GA function. Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55f2d3c5-04fe-9f60-e927-e0afdc1c3ac5
* Ve

[2022-08-19 06:32] SreejaBhattacharya-MSFT commented on #97311
@miqm thanks for reaching out. We'll look into this and get back to you. Thanks.

[2022-08-19 06:39] RamanathanChinnappan-MSFT commented on #97080
Hi @spacecat ,

Please see the screenshot, Kindly enable to access token and Id token to allow for OAuth

![image](https://user-images.githubusercontent.com/110973511/185558131-4b0e853b-ae72-4446-ab0a-e2ecd792ba03.png)

[2022-08-19 06:42] Givary commented on #97044
@L480
Please send me an email to 'AzCommunity@microsoft.com' with Sub - Attn: Givary and following details in the email body:
Link to this thread/post
We can connect offline and discuss further on this.

[2022-08-19 06:53] SreejaBhattacharya-MSFT commented on #97311
It's GA.

Refer : [https://azure.microsoft.com/en-us/updates/general-availability-aks-node-image-autoupgrade/](https://azure.microsoft.com/en-us/updates/general-availability-aks-node-image-autoupgrade/)

Hope that clears your query. Thanks.

[2022-08-19 06:53] #97311 closed

[2022-08-19 06:55] KapilAnanth-MSFT commented on #97309
@vinit-intel , Thanks for your feedback. We shall review this and get back to you shortly!

[2022-08-19 07:04] miqm commented on #97311
Thanks. Since it's GA, then why there's need to register feature with preview in the name?

[2022-08-19 07:05] dfatkulbayanova commented on #43947
Why don't you try to use ACR tasks instead that will build and push image as a compute node? Or podman that requires no daemon?

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-overview

[2022-08-19 07:06] vinothrao opened #97312 "This setup is not working"
[Enter feedback here]

This setup is not working. However I am able to get the token but while passing the token its always unauthorized response. I have followed the exact steps. However, need details in setting up the B2c login for client credentials flow.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab3132ca-47ad-6

[2022-08-19 07:48] SreejaBhattacharya-MSFT commented on #97311
As far as i knew, you no longer need to register the preview feature as it's GA, it's not required to register the feature to auto upgrade

[2022-08-19 07:51] kimjamia commented on #94746
Is there a way non-MS people could track this?

[2022-08-19 08:06] drdamour commented on #97219
i would suggest making a note of that in the docs then

[2022-08-19 08:33] komirellipavan opened #97313 "Links are not working in "Key pieces of the code sample" paragraph"
Key pieces of the code sample
Managing shards and shard maps: The code illustrates how to work with shards, ranges, and mappings in the ShardManagementUtils.cs file. For more information, see [Scale out databases with the shard map manager](https://go.microsoft.com/?linkid=9862595).

Data-dependent routing: Routing of transactions to the right shard is shown in the DataDependentRoutingSample.cs fi

[2022-08-19 08:50] Venkateshdodda-MSFT commented on #97279
@Rildlanster I have assigned this to content author @cephalin to review and to share his valuable insights on this.

[2022-08-19 08:51] Oppedijk commented on #85807
Any update on this? We are 9 months further now.
@AshokPeddakotla-MSFT @SumanthMarigowda @msmbaldwin

[2022-08-19 09:05] AjayKumar-MSFT commented on #97308
rukasakurai, Thanks for reporting this issue.  Yes, once the PR is merged the published changes will be reflected in the doc. Much appreciate the follow-up.

[2022-08-19 09:07] KapilAnanth-MSFT commented on #97246
@asukumar22 , I shall assign this thread to the author for further review.

@greg-lindsay, Please review this feedback from @asukumar22 and update the document if necessary.

[2022-08-19 09:17] Wolfitus opened #97314 "Instructions need update"
[Enter feedback here]

when you follow steps to enable Azure AD SSO in the Azure portal, you cannot complete step 3 because AZURE portal requires that you enter before two mandatory fields:
- Identifier
- Reply URL

without this information you cannot download the SAML Signing Certificate.
Please add a new step after step 2 providing the Identifier and the Reply URL
---
#### Document details

⚠ *D

[2022-08-19 09:19] AnuragSharma-MSFT commented on #97313
@komirellipavan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-08-19 09:31] YashikaTyagi-MSFT commented on #97126
@Escoto
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-08-19 09:31] #97126 closed

[2022-08-19 09:37] shaktisingh-msft commented on #97313
@komirellipavan Thank you for the observation. We have found that the hyperlinks have redirection issue.
This is being assigned to the content author to evaluate and update as appropriate.

[2022-08-19 09:38] YashikaTyagi-MSFT commented on #97312
@vinothrao
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-19 10:11] RohitMungi-MSFT commented on #97173
@ravz4010 We will go ahead and close this issue. Please feel free to open a new issue from the bottom of any documentation page to link the issue with a particular document.

<img width="230" alt="image" src="https://user-images.githubusercontent.com/46958063/185596820-b49f51c3-89a8-4750-852b-6de5d4abfbf1.png">

If you believe the issue is regarding a service please use MS Q&A to create a thread w

[2022-08-19 10:11] #97173 closed

[2022-08-19 10:13] RohitMungi-MSFT commented on #97174
@ddobric We will go ahead and close this issue. Please feel free to open a new issue from the bottom of any documentation page to link the issue with a particular document.

<img width="230" alt="image" src="https://user-images.githubusercontent.com/46958063/185597084-e8582487-345b-48d2-8cd1-a9736e59cf5b.png">

If you believe the issue is regarding a service please use [MS Q&A](https://docs.micros

[2022-08-19 10:13] #97174 closed

[2022-08-19 10:16] pateixei opened #97316 "Broken Link to https://docs.microsoft.com/en-us/azure/databricks/scenarios/sql.md"
Broken Link in the first paragraph, at sentence _"With the Serverless compute version of the Databricks platform architecture, the compute layer exists in the Databricks cloud subscription rather than the customer’s cloud subscription. Serverless compute is supported for use with [Databricks SQL](https://docs.microsoft.com/en-us/azure/databricks/scenarios/sql.md)._"

It should be "_With the Server

[2022-08-19 10:20] SreejaBhattacharya-MSFT commented on #97206
Hi @Heidilohr , could you please take a look at this?

[2022-08-19 11:02] Wolfitus commented on #97314
Hi again,
I contacted with Nitro support and they give me the correct values:
SAML Entity ID  (urn:auth0:gonitro-prod:000)
ACS URL (https://gonitro-prod.eu.auth0.com/login/callback?connection=000)

[2022-08-19 11:03] kbjohny commented on #51830
Hi all :)

Try this:
1.Log in as problematic user and run as user command in powershell :  dsregcmd /status if in User State section is error , logout from user and do next step.
2.Log as administrator , gop to c:\Users folder and change name profile of problematic user example kbjohny.b -> kbjohny.b_old . Logout from administrator account.
3. Login as problematic user and you loged as temporary p

[2022-08-19 11:04] YashikaTyagi-MSFT commented on #97314
@Wolfitus
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-08-19 11:04] #97314 closed

[2022-08-19 11:18] YashikaTyagi-MSFT commented on #97302
@ivangonzalezsaenz
Could you please share some screenshot/information where you are not able to see this "properties" feature in your account?

[2022-08-19 11:43] lawrenceong001 opened #97319 "The support for Azure Functions as a Change Feed Processor is not listed."
we had gone through examples in the past using Azure functions, and are now going on ahead to implement change feed processors with it. Somehow, the list of supported paths does not list this as an option. Perhaps it is due to the fact that it does not provide long running task capabilities so there might be a delay in receiving the changes. Without clear stipulation, we can't really tell why this

[2022-08-19 11:56] shaktisingh-msft commented on #97316
Thank you for your observation. We could see that the hyperlink redirection has an issue.
This is being assigned to the content author to evaluate and update as appropriate.

[2022-08-19 12:07] mlibenocg opened #97320 "How is the initial password set on newly create Active Directory accounts? How can this information be conveyed to the user. or user's manager, or service desk?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90fd487d-65b9-917b-4687-650b34dc4d81
* Version Independent ID: 27a18d45-66ab-bc71-d928-93f93fb190dd
* Content: [Tutorial: Configure SuccessFactors inbound provisioning in AD and Azure AD - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active

[2022-08-19 12:09] mlibenocg commented on #97320
When a user object is created in Active Directory, it must have a password in order to be enabled. User needs to know this password to log on to Active Directory or Azure Active Directory.

[2022-08-19 12:10] mlibenocg opened #97321 "When user account is created in Active Directory, is it set to change password at next logon?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-08-19 12:11] mlibenocg opened #97322 "When a synchronized user goes out of cope, are the attribute contributed by Success Factors retained or are they cleared?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-08-19 12:12] barisck opened #97323 "host.json settings ignored by ServiceBusTrigger"
Firsty there is no definition for `"clientRetryOptions"` property of `"serviceBus"` in the [schema](https://json.schemastore.org/host.json).

And when I ignored the schema and configured as example given by docs. host.json configuration has been ignored by azure function application.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-08-19 12:13] #97095 closed

[2022-08-19 12:22] jakrams opened #97324 "Quickstart: Access TURN relays page has several bugs"
This does not work:

[code]

You have to additionally append `--prerelease`

There are also multiple errors in the sample code. A fully fixed listing would be this:

[code]

Finally, how to find the **connection string** should be mentioned, because it is not obvious to newcomers.
Here is the relevant link: <https://docs.microsoft.com/azure/communication-services/quickstarts/create-communication-r

[2022-08-19 12:24] WarrenKin commented on #97041
OK since my instances can be longing running, I should check that the stage slot is not active when I deploy i.e. destroy it.

This is the piece that I am confused about.  For example, I have an instance still active on the production slot when I deploy my new version to the stage slot, the swap takes place i.e. the routing is changed so that new triggers run my new function code.  The active inst

[2022-08-19 12:39] GeethaThatipatri-MSFT commented on #97319
Hi @lawrenceong001 Thank you for reaching out. We will look into it and update as appropriate.

[2022-08-19 12:58] mmcdonnell-mulesoft commented on #85599
Hey team - just checking in on this. The entire docker world seems disconnected from Azure and that's a real crying shame; a lot of us developers are kind of pinned down on something like and forced to use other clouds.

[2022-08-19 13:07] MohammedFadin commented on #92058
I think it will not work, but waiting for confirmation

[2022-08-19 13:14] mumurug-MSFT commented on #97323
@barisck Thanks for the feedback. We will review the docs and update as appropriate.

[2022-08-19 13:16] timwarner-msft commented on #97257
Hi @iNdYvidual. I have it on my task list today to address. Thanks so much for bringing this to our attention! I appreciate you. Kindest regards, Tim

[2022-08-19 13:46] rich-rowan commented on #97003
@lnalepa and @JamesTran-MSFT, it's probably dependent on the individual but typically within our org some people use myapps.microsoft.com, or others will use the extension when they quickly need to access something using the search feature or the 'recently used apps' section within the extension.

I think the issue comes into play when you're in the middle of some workflow that requires access to

[2022-08-19 14:08] hhunter-ms commented on #97271
[Updated Dapr version.](https://docs.microsoft.com/en-us/azure/container-apps/dapr-overview?tabs=bicep1%2Cyaml#current-supported-dapr-version) Thank you! #please-close

[2022-08-19 14:08] #97271 closed

[2022-08-19 14:14] hhunter-ms commented on #97310
#assign:hhunter-ms

[2022-08-19 14:16] hhunter-ms commented on #94823
#assign:hhunter-ms

[2022-08-19 14:29] Togawa-Yota commented on #97273
@JamesTran-MSFT
Thank you for quick reply!

I got understand what my problem was by your reply. My environment lacked Azure Az PowerShell module, and _**"'Get-AzADServicePrincipal' is not recognized as the name of a cmdlet..."**_ error was returned.
I installed Azure Az PowerShell module refering [here](https://docs.microsoft.com/en-US/powershell/azure/install-az-ps?view=azps-8.2.0) and Get-AzADSe

[2022-08-19 14:33] joaustin commented on #76894
bumping this issue - I ran into this at another customer running Ansys tools on Windows and it would be nice to have clear instructions on ADC for how to deploy this with windows.

[2022-08-19 14:52] mudithac opened #97328 "Hardware Requirements for the HCM"
Why isn't there a mention of proper hardware requirements for the HCM? I couldn't find anywhere on the internet that mentions at least minimum required hardware specs or how to calculate the sizing for the server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 645d01fc-eae4-67c0-ef63-77d34d854d5e
* Version Independent

[2022-08-19 15:23] 10260268 commented on #97138
Hi @RohitMungi-MSFT,

Would be great if that could be added, basically bringing back old functionality, where when we provided too ambiguous data like keywords as input, the response would gave you a full list of alternatives with their scores, so that way it's our decision how the application should behave in every scenario, for example continuing with same language in a conversation if the curre

[2022-08-19 15:25] gbstan92 opened #97329 "Missing App Settings from the Documentation"
Settings such as SCM_DO_BUILD_DURING_DEPLOYMENT are missing. Please update the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent ID: 60198016-1ea9-e7ae-b00b-2c665d5ad8ca
* Content: [App settings reference for Azure Functions](https://docs.microsoft.

[2022-08-19 15:54] mbender-ms commented on #94746
I will update this issue when the item this has been resolved by the portal team.

Thanks for your feedback and patience.

[2022-08-19 15:57] SandroAq opened #97330 "Block removing Azure AD-only authentication after deployment"
About the first bullet point in limitations "..can disable the Azure AD-only authentication feature." - not sure if the policy was intentionally made to work this way, but for those scenarios where the users have enough permissions (say Contributor role on their resource group) but AAD-only authentication should remain enforced, I found this policy to be working for our environment:

[code]
The se

[2022-08-19 16:00] tamram commented on #93572
@MichaelBrooks-Informatyx - thanks for your feedback! The article has been updated to include information about how to address blob and container resources.

#please-close

[2022-08-19 16:00] #93572 closed

[2022-08-19 16:04] spacest commented on #97113
Thank you!

[2022-08-19 16:31] Oury-MSFT commented on #97330
@SandroAq Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-08-19 16:36] mmosallem commented on #96000
Hi @mhoult22 if i understand correctly, you could define your user defined variables as follows:
${__groovy(System.getenv("ServiceUrl") ?: "http://myservice.com")}
when you run this in azure load testing you will add environment variable with the correct ServiceUrl. and when you run the script locally it will use the http://myservice.com as the value for your variable.

[2022-08-19 16:38] MarileeTurscak-MSFT commented on #97320
@mlibenocg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-19 16:38] mimckitt commented on #97296
We have heard this feedback before but have just not found an appropriate place to host the doc other than where it is. We will continue to look into it though.

CC @cynthn, let's discuss this offline and see what we can come up with.

[2022-08-19 16:41] jsanchez-dattics commented on #65971
Hi, is the some update on this?

We need this ASAP

[2022-08-19 16:58] rvandenbedem commented on #96711
Great feedback. Changes incorporated into PR: https://github.com/MicrosoftDocs/azure-docs/pull/97334

@suzizuber - Can you close this Issue plz?

[2022-08-19 17:06] Karishma-Tiwari-MSFT commented on #86756
I have got the confirmation from the internal team. The sizes with a little ‘d’ support the local ephemeral temp disk.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-08-19 17:06] #86756 closed

[2022-08-19 17:19] rvandenbedem commented on #96310
This network CIDR notation is correct. Technically, it should be .0/24, however the API requires the CIDR notation with the gateway IP address, even though the gateway IP address is specified separately in the JSON file.

@suzizuber - Can you close this Issue plz?

[2022-08-19 17:22] suzizuber commented on #96310
#please-close

[2022-08-19 17:22] #96310 closed

[2022-08-19 17:24] hhunter-ms commented on #97310
Hi @rukasakurai - thank you for your feedback! We touch on this under the ["Configure Dapr components" section](https://docs.microsoft.com/en-us/azure/container-apps/dapr-overview?tabs=bicep1%2Cyaml#configure-dapr-components), where we compare the YAML, Bicep, and ARM components with Dapr OSS components. Does this help?

[2022-08-19 17:25] v-jbasden commented on #81458
Thank you for the feedback. I have updated the screenshot.

#please-close

[2022-08-19 17:25] #81458 closed

[2022-08-19 17:25] himanshusinha-msft commented on #97307
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-08-19 17:30] vishnu4 commented on #85672
@Karishma-Tiwari-MSFT It's been a year, i never got this to work.  honestly i gave up and ended up using application gateways instead.  If any actual changes have been made to the documentation, i wouldn't mind hearing about it, but as it was you had a versioning issue.

[2022-08-19 17:33] samvit-sharma opened #97337 "Update KB as Ruleset as 942130 SQL Injection Attack: SQL Tautology Detected is not present in DRS 2.0"
[Enter feedback here]
"RuleId 942130 SQL Injection Attack: SQL Tautology Detected" is not present in DRS 2.0.

![image](https://user-images.githubusercontent.com/108283981/185675470-54e0b85d-85d9-4947-b7c4-9f0e589893a4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0666d1b-c83b-3c13-07fc-7be0f528a368
* Version In

[2022-08-19 17:36] rvandenbedem commented on #95996
This documentation is correct. AVS does not allow the default route 0.0.0.0/0 to leak from the customer VRF to AVS management. Customers can work around this by using a more specific route advertisement.

@suzizuber - Can you close this Issue plz?

[2022-08-19 17:37] suzizuber commented on #95996
#please-close

[2022-08-19 17:37] #95996 closed

[2022-08-19 17:50] mlibenocg commented on #97320
Marilee,

I may have found an answer on the corresponding tutorial for Workday. It contains the following:

When processing a new hire from Workday, how does the solution set the password for the new user account in Active Directory?
When the on-premises provisioning agent gets a request to create a new AD account, it automatically generates a complex random password designed to meet the password

[2022-08-19 17:54] suzizuber commented on #92928
@rvandenbedem is this an issue you can help with?

[2022-08-19 17:55] suzizuber commented on #97217
@rvandenbedem is this an issue you could take a look at and provide feedback for?

[2022-08-19 17:59] tamram commented on #94271
@rui-hi - thanks for your feedback! Append blobs are a special type of block blob. I have clarified the doc according to your suggestion to make it clear that append blobs are also supported.

#please-close

[2022-08-19 17:59] #94271 closed

[2022-08-19 18:11] thehexia commented on #90277
@AnuragSharma-MSFT Is there an update on the general availability schedule of Elastic Jobs and any new features (such as vnet integration/private links) for the feature?

[2022-08-19 18:16] bretboss opened #97340 "Get-AzVmRunCommand example shows invalid parameter -Status"
Version Independent ID: 73268057-c2f4-c7be-6149-a8172bf68e35

Link to Get Execution Status and Results section:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/run-command-managed#get-execution-status-and-results-1

The `-Status` parameter does not work and isn't listed in the `Get-AzVmRunCommand` documentation:
https://docs.microsoft.com/en-us/powershell/module/az.compute/get-azvm

[2022-08-19 18:17] himanshusinha-msft commented on #97321
HI @mlibenocg
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you

[2022-08-19 18:17] #97321 closed

[2022-08-19 18:18] himanshusinha-msft commented on #97322
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a documen

[2022-08-19 18:18] #97322 closed

[2022-08-19 18:18] KranthiPakala-MSFT commented on #97085
@jonburchel , @lrtoyou1223 - Could you please review the above feedback from user and update the doc as needed. Thank you

[2022-08-19 18:19] himanshusinha-msft commented on #97324
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2022-08-19 18:20] KranthiPakala-MSFT commented on #97155
@mssaperla Could you please review the above feedback from customer and help update the document as needed. Thank you

[2022-08-19 18:21] bretboss opened #97341 "Set-AzVmRunCommand does not behave as specified"
Version Independent ID: 73268057-c2f4-c7be-6149-a8172bf68e35

The example says, "This command will deliver the script to the VM, execute it, and return the captured output."
This does deliver the script to the VM but I have not found any evidence that it executes it and it definitely does not return the captured output.

Link to specific section in error:
https://docs.microsoft.com/en-us/azure/vir

[2022-08-19 19:44] #96107 closed

[2022-08-19 20:00] davidsmatlak commented on #62701
I submitted the fix for this issue and after the pull request is merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2022-08-19 20:17] GithubMirek commented on #92534
Thank you for pointing out the scripting issue for AAD users with logins. Currently the scripting outcome for such users is not created correctly and it will be fixed.
For the AAD users we can differentiate between contained and non-contained users created with logins, by checking in sys.database_principals the suffix “AADE” in the SID appended for non-contained AAD users. We will extend the curre

[2022-08-19 20:19] #62701 closed

[2022-08-19 20:47] GithubMirek commented on #91416
Regarding error 33159.
For Azure SQL DB is it required that only AAD users can create other AAD users. It means that any SQL user with SQL authentication including a server admin cannot create an AAD user. The initial AAD user who can create AAD users in SQl DB is the AAD admin. After this any AAD user with proper permissions can create other AAD users.

[2022-08-19 20:57] JamesTran-MSFT commented on #97273
@Togawa-Yota
Thank you for following up and for sharing more details on the problem you faced!

I've created a PR to update the article link redirecting to [Remove-AzureADServicePrincipal](https://docs.microsoft.com/en-us/powershell/module/azuread/remove-azureadserviceprincipal?view=azureadps-2.0&preserve-view=true) and it's currently waiting for the author to review and sign off.

[Remove-AzADSer

[2022-08-19 20:57] #97273 closed

[2022-08-19 21:13] leandromsft opened #97345 "How create this integration using Bicep file"
I want to create this integration using Bicep file

What's the steps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Registry with Azure Kubernetes Service - Azure Kubernetes Service

[2022-08-19 21:39] ckuhtz opened #97346 "pe creation fails due to incorrect argument"
--subnet should be --subnet-id

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87a52dac-048f-2a4d-b857-cb91b9534cf5
* Version Independent ID: a1e64a4a-dcfb-eac3-4851-366dd8893428
* Content: [Configuring Azure Files network endpoints](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-networking-endpoints

[2022-08-19 22:28] rwike77 commented on #93415
#reassign:davidmu1  Reassigning, since you've got this content now.  Thanks.

[2022-08-19 22:55] rwike77 commented on #95288
@Kurren123   Yes, look like you're right.  I'm pushing some updates now.  Thanks.

[2022-08-19 22:56] seacoastcoder opened #97347 "Text seems a bit contradicting"
This line is a bit confusing "protection is achieved by using middleware libraries, not the Microsoft Authentication Library (MSAL). ", because on a linked page it states "Signing in users takes advantage of the [Open ID Connect], standard protocol, simplified by the use of middleware [libraries]", and that "libraries" link points to MSAL libraries.

So is protection achieved using MSAL, or am I m

[2022-08-19 22:57] rwike77 commented on #95288
#please-close

[2022-08-19 22:57] #95288 closed

[2022-08-19 23:23] rwike77 commented on #96332
@HarmlessDave   The initial domain name must be in the format *<domainname>.onmicrosoft.com* and *domainname* must be letters or numbers. You can't change or delete the initial domain name, but you can add your organization's names as a custom domain name.  For more info, see https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/add-custom-domain.  Hope that helps.  I'm closing this

[2022-08-19 23:23] #96332 closed

[2022-08-20 00:11] bajmming opened #97348 ""Retries" table unclear when taking into account announcement "Preview retry policy support for all triggers other than Timer and Event Hubs will be removed in October 2022.""
Please can you update this article to make it clear what the supported Retry mechanism is for Functions that are triggered by Service Bus.  The recent announcement sounds like a major change to our Functions and not much time to implement.

The "Binding Extension" and "Dead letter queue" both go to the same article
![image](https://user-images.githubusercontent.com/2646044/185720942-0f7e1e70-9069-

[2022-08-20 00:22] jmprieur commented on #97347
@seacoastcoder MSAL acquires the tokens. The middleware libraries validate the tokens,
In a web app calling APIs, there will be validation of the ID token, and acquisition of tokens to call the downstream APIs

[2022-08-20 02:21] RohitMungi-MSFT commented on #97138
@10260268 You can add a feedback item/idea on this [page](https://feedback.azure.com/d365community/forum/09041fae-0b25-ec11-b6e6-000d3a4f0858). It would be helpful if you could add the example that you mentioned previously worked with multiple alternatives in the item.

[2022-08-20 02:23] RohitMungi-MSFT commented on #97328
@mudithac Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-20 02:24] RohitMungi-MSFT commented on #97329
@gbstan92 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-20 02:25] RohitMungi-MSFT commented on #97337
@samvit-sharma Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-20 02:28] RohitMungi-MSFT commented on #97340
@bretboss Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-20 02:30] RohitMungi-MSFT commented on #97341
@bretboss Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-20 02:31] RohitMungi-MSFT commented on #97345
@leandromsft Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-20 02:34] RohitMungi-MSFT commented on #97348
@bajmming Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-20 02:37] LarsKemmann opened #97350 "No explanation for why useTrackEvent would need a skipFirstRun"
This bit of documentation is confusing and may even be alarming:

As a developer, without any explanation given for why the default is set to true, I find myself thinking, "If this `skipFirstRun` property is silently defaulted to true, am I missing all the first instances of my telemetry calls?"

Please explain the purpose of this flag, beyond just saying "on initialization" -- initialization of w

[2022-08-20 02:50] Jessieliu111 opened #97351 "Please update no public IP cluster network requirement"
[Enter feedback here]
No public IP cluster newly requires AzureFrontDoor.Firstparty(port443). And for no firewall users, please update or advise them to use NAT gateway.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 750a9fd2-b807-0eff-2495-0cbcf3564b03
* Version Independent ID: d3be69a7-18d9-9b22-8424-92f0f43c

[2022-08-20 02:53] RolandlinAKS opened #97352 "The estimated resource reserved for OS functions."
[Enter feedback here]
In the document, it only explains the Azure reserved CPU/memory, but it also mentions that extra resource is required to keep the OS functioning properly. How many resources should be reserved for OS functions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a445f8cc-6581-ad43-1dba-719a94eda81a
* V

[2022-08-20 06:30] mkrasmus opened #97354 "ImportError: cannot import name 'Markup' from 'jinja2'"
Tutorial Cell:
[code]
Follows with error:
[code]
See also https://github.com/MicrosoftDocs/azure-docs/issues/90567

While this may contain a solution, it is for a different environment and not appropriate at the 'tutorial level'
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3dfa0c7-942e-7120-1f84-aeec42f9b10a
* Versio

[2022-08-20 12:43] egoh8 opened #97355 "Recover admin account that was deleted, the only user in Azure Active Directory tenant"
Hi,

I read your article with interest.

I am looking for a solution to recover my admin account which I accidentally deleted. It is the only user in my Azure AD tenant. Now I am unable to log in using my admin@xxxx.onmicrosoft.com

The article does not say what happens & how to perform recovery when the admin account is deleted. Do you have any advice?

Rgds.

---
#### Document Details

⚠ *Do not

[2022-08-20 13:01] alphadon opened #97356 "Minor correction"
In the **Run what-if operation > Test modification** section, the word 'of' is missing:

_Current_: It's missing one the original tags, a subnet has been removed, and the address prefix has changed.
_Proposed_: It's missing one **of** the original tags, a subnet has been removed, and the address prefix has changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-08-20 13:38] lucmoco commented on #97201
That was quick, thanks a lot :-)

[2022-08-20 13:38] #97201 closed

[2022-08-20 13:40] VikasPullagura-MSFT commented on #97356
@alphadon Thanks for the feedback. The document is updated and changes will go live soon.

[2022-08-20 13:41] VikasPullagura-MSFT commented on #97352
@RolandlinAKS
Thanks for your Question! We are currently investigating and will get back on this.

[2022-08-20 13:51] #97356 closed

[2022-08-20 13:51] RohitMungi-MSFT commented on #97351
@Jessieliu111 Thanks for the feedback.
@jhirono @vijetajo Could you please review if these new requirements are needed?

[2022-08-20 13:54] RohitMungi-MSFT commented on #97350
@LarsKemmann Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-20 14:06] RohitMungi-MSFT commented on #97354
@mkrasmus Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-20 14:29] jgarplind opened #97357 "Extend OpenID Connect sample"
As per the Azure Login action's documentation, we always need to set write permissions for id-token:

ref: https://github.com/marketplace/actions/azure-login#github-action-for-azure-login

Hence, I would suggest adding a code block like below to ensure the example is fully functional without additional research being expected:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-08-20 14:59] dinos-kon opened #97358 "Wrong text at the head of the article"
I think the text "Lists the entities in a given resource." is not relevant here.
The article should read "This command will let you know if you are currently logged in to your Azure Storage account." or something similar...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 914bb9ca-aef6-50e7-2e5e-ca675a399a00
* Version In

[2022-08-20 16:12] himanshusinha-msft commented on #97355
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-08-20 16:13] himanshusinha-msft commented on #97357
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-08-20 16:56] JeroenMBooij opened #97360 "Azure Machine Learning - Python SDK - Create Workspace with existing resources"
This article shows you how to create a workspace with the Python SDK
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-workspace?tabs=python#create-a-workspace

For some reason the existing resources are added to the ServicePrincipalAuthentication, but I think this is a mistake and should be added to the Workspace.Create function.
But when I try to add the existing Azure resour

[2022-08-20 17:37] ntrogh commented on #96000
@mmosallem That's correct. You define a UDV, that reads an environment variable. This environment variable you can then set in the **Parameters** tab (Azure portal) or in your CI/CD pipeline definition.

[2022-08-20 19:42] GithubMirek commented on #93236
The DW team has to decide if the Synapse analytics is supported for this feature. If it does they need to update this document,
 otherwise, the support for Synapse Analytics should be removed from the doc.  Please re-assigning it to Kevin Dodd [Kevin.Dodd@microsoft.com](mailto:Kevin.Dodd@microsoft.com) form the DW team.

[2022-08-20 20:41] GithubMirek commented on #95830
I do not have such code avaiable although. The closes I ahare is
[Create Azure AD users using service principals - Azure SQL Database | Microsoft Docs](https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-aad-service-principal-tutorial?view=azuresql#assign-an-identity-to-the-azure-sql-logical-server)

[2022-08-20 20:56] ddobric opened #97362 "Cannot submit test messages when debugging multiple modules"
When all modules are started in the debugger (see step 5), modules will run in the separated console window, but messages cannot be sent to the module by using curl as previously described in the article.

Create breakpoints in each module and then press F5 to run and debug multiple modules simultaneously. You should see multiple .NET Core console app windows, with each window representing a diffe

[2022-08-20 20:58] ddobric commented on #97174
See #97362

[2022-08-20 23:36] Shoplift3020 commented on #97076
I am kellypcassidy@chromedeveloper.org

[2022-08-20 23:38] Shoplift3020 commented on #97076
I run code through my phone by taking your docs and getting my phone to research them and apply the techniques this is called Ai inherited Federated Technology.

[2022-08-21 02:26] RohitMungi-MSFT commented on #97362
@ddobric Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-21 02:43] RohitMungi-MSFT commented on #97360
@JeroenMBooij Did you try to use the resource id format of the existing resources while creating the workspace using [Workspace.Create()](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.workspace.workspace?view=azure-ml-py#azureml-core-workspace-workspace-create)

[2022-08-21 06:17] JeroenMBooij commented on #97360
@RohitMungi-MSFT

I used the code snippet listed below to try to create the workspace

`
from datetime import datetime
import os

from azureml.core import Workspace
from azureml.core import Experiment
from azureml.core.authentication import ServicePrincipalAuthentication

run_resoucegroup = 'test-group'
static_resourcegroup = 'static-group'
subscription_id = os.environ.get("AZUREML_SUBSCRIPTION_ID

[2022-08-21 08:20] shaf3ii commented on #96884
Thanks a lot @joharder I believe this should be enough guidance to avoid missing required whitelisting.

[2022-08-21 08:20] #96884 closed

[2022-08-21 09:16] daviddenton commented on #70851
I have come across this today. We have tried to create a new application and to create a new user with all of the requisite permissions (through the UI), but this is not working and we are still blocked on the same message. What's more - the "raise a support request" form in Azure does not even have the correct options so it is impossible to create one for this issue.

Please advise.

[2022-08-21 09:29] jvmap commented on #36607
Same problem here after following AZ-500 training.
I've created a rule in my email client to automatically delete these unwanted emails. As Buddha said back in the days: the solution to problems caused by automation is more automation.

[2022-08-21 10:12] Ravnsgaard opened #97364 "publish geojson file of the network with edge and datacenter locations?"
[Enter feedback here]
This is more a request than feedback.
Would it be possible to publish/share a geojson file of the network with edge and datacenter locations? I presume this already is something that already exists in order to generate the visual on this page, but we could definitely use this for customer visualizations tailored to their topologies.

---
#### Document Details

⚠ *Do not edit

[2022-08-21 12:23] garylirocks opened #97365 ""Private Dns Zone Groups - Get" returns 200 for non-existent resources"
Document link: https://docs.microsoft.com/en-us/rest/api/virtualnetwork/private-dns-zone-groups/get

The API for private-dns-zone-groups returns 200 HTTP status code even when the resource does not exists, this is not consistent with other APIs, which usually return 404 when the resource does not exist.

Noticed this when I try to create a Private Dns Zone Group with the [AzAPI Terraform provider]

[2022-08-21 12:45] spacecat opened #97366 "8. Check out the result of the REST API call needs clarification"
"8. Check out the result of the REST API call. The following screenshot shows the React sample REST API return value."

It is unclear to me what exactly the app does when I click on "HelloAPI". And the screenshot only shows where to click; NOT the actual result. So it would be great if you could maybe add another (correct) screenshot with extracted token data + a paragraph what to expect?

As a de

[2022-08-21 12:52] shyambasnet1 opened #97367 "ARM deployment"
Arm deployment does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4c90a8f-8588-ec3d-c41a-5c613f20e30e
* Version Independent ID: 50171a12-bab1-8382-ccbe-7d437da7ba13
* Content: [Deploy and configure Azure Firewall Premium](https://docs.microsoft.com/en-us/azure/firewall/premium-deploy)
* Content Source: [art

[2022-08-21 13:23] RohitMungi-MSFT commented on #97364
@Ravnsgaard Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-21 13:39] RohitMungi-MSFT commented on #97365
@garylirocks Thanks for the feedback. I have assigned the issue to the author of the terraform document for the query regarding using the same with terraform.
The github repo managing the REST API documentation is [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs/issues). You can log the issue with this repo for clarification on REST API usage. Thanks!!

[2022-08-21 13:40] RohitMungi-MSFT commented on #97366
@spacecat Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-08-21 13:42] RohitMungi-MSFT commented on #97367
@shyambasnet1 Could you please add a link to the documentation you are following so that we could redirect the issue to the appropriate team? Thanks!!

[2022-08-21 14:04] gmonty007 opened #97368 "Small correction to the testing section."
[Enter feedback here]
Just a small edit. under the section ["Test the alias record"](https://docs.microsoft.com/en-us/azure/dns/tutorial-alias-tm#test-the-alias-record) section, step # 3 should say, "You should see the IIS default page with Hello World from **Web-02**." **NOT** Web-01

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-08-21 14:08] spacecat commented on #97366
@RohitMungi-MSFT thank you. I updated my original post which more info.

[2022-08-21 14:53] yossi-y commented on #97287
Thanks for taking the time and reporting on unclear description in doc.
I've modified the flow, explaining how to capture sample records from Azure Monitor Logs output, and use as sample in Parse JSON. The update should be published in a day or two.

Thanks again,

[2022-08-21 15:07] shyambasnet1 commented on #97367
https://docs.microsoft.com/en-us/azure/firewall/premium-deploy

When I tried to deploy ARM template  it will fail every time.

On Sun, Aug 21, 2022 at 8:43 AM RohitMungi-MSFT ***@***.***>
wrote:

[2022-08-21 16:43] mosbahmajed opened #97370 "design mechanism information is missing for dynamic allocation of IPs and enhanced subnet support"
A design mechanism information is missing for dynamic allocation of IPs and enhanced subnet support

We need to add :

In Dynamic allocation, we pre-allocate 16 ips (in a batch) on node create as a warm pool for Pod allocations. And then dynamically scale as intensity increases.

So  For cluster that use dynamic allocate IP, as a by design mechanism, 16 ip will be pre-allocated for a node when it

[2022-08-21 16:52] mosbahmajed opened #97371 "Push trusted images missing required steps , specially with other services integration Like Devops pipeline"
We need to phrase the following in order to help customer for how to push a trusted images

First create a service principle without any of Service Administrator and Co-Administrator rules , the permission list is not recognizable by ACR if the current login user has a classic subscription administrator role, such as Service Administrator and Co-Administrator

Make sure the service principle has t

[2022-08-21 17:10] pebo opened #97372 "Azure Container Apps no longer in preview"
The docs states that Azure Container Apps is in preview but it's now GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef541cb5-1f5d-ab1a-e5e8-0a911cd4862e
* Version Independent ID: 614e25d5-198a-afb0-44d4-fe2778c4092b
* Content: [Import Azure Container App to Azure API Management](https://docs.microsoft.com/en-us/azu

[2022-08-21 18:18] AjayKumar-MSFT commented on #97144
racchen, since we're discussing on this offline, I'll close this thread for now.   Based on our outcome of the offline discussion, we will make appropriate changes (add clarity) to the doc as necessary. Thanks again for the feedback!

[2022-08-21 18:18] #97144 closed

[2022-08-21 18:36] AjayKumar-MSFT commented on #97203
orange2008, Apologies for any frustrating experiencing with this.  I have assigned the issue to the content author to review further and update the doc as appropriate.

[2022-08-21 22:51] R-LIBIN opened #97375 "Slowness and failures in Azure CLI 2.0"
Hello Team ,

It is seen that azure cli implemented in Python is very slow and has lot fixes to be done on stability & speed.

The failure to take up API's is reasonably high(not critical but the handling is at time alarming at times).

For example. ability to only run one command at time which is a policy of microsoft azure but the cli itself takes a long time.

Humbly request you to implement th

[2022-08-21 22:53] R-LIBIN commented on #97375
We tried patching in the Windows servers. It ended failing multiple times. Eventually, we have manally do it. Kindly have a look at it.

[2022-08-22 02:13] himanshusinha-msft commented on #97368
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-08-22 02:14] himanshusinha-msft commented on #97370
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-08-22 02:15] himanshusinha-msft commented on #97371
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-08-22 02:15] himanshusinha-msft commented on #97372
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-08-22 02:17] kiranpradeep opened #97380 "Setting ClaimTypes.Name in C# API function sample"
Can the line for setting name claim be removed the from C# sample? Reason is, for Azure AD, I get the user email address in `principal.UserDetails`. Though the above documentation for `userDetails` correctly mentions that it could be username or email, the C# sample is confusing in that it blindly sets the claim as `ClaimType.Name`. It could just be `ClaimType.Email` as well.

[code]
---
#### Docu

[2022-08-22 02:18] himanshusinha-msft commented on #97375
Hello @R-LIBIN :   Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If

[2022-08-22 02:21] jesweare opened #97381 "Custom QA: Add guidance for unclear error that block KB editing"
As of today (2022/08/22) there is a behavior in Custom QA where an error message below appears when attempting to add Q&A pairs in Language Studio.

One scenario where this occurs is when the dependent Cognitive Search resource has reached its [limit](https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/question-answering/concepts/limits#knowledge-bases) in index usage. Speci

[2022-08-22 02:23] himanshusinha-msft commented on #97380
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-08-22 03:36] vicancy commented on #96904
Thanks for the feedback! Separating them sounds clearer, will update.

[2022-08-22 03:41] chrisadas commented on #91262
There is information here: https://docs.microsoft.com/en-us/azure/databricks/clusters/cluster-ui-preview

[2022-08-22 03:58] Shoplift3020 opened #97382 "Whats this"
system/priv-app/GooglePermissionController/GooglePermissionController.apk

[2022-08-22 04:27] CHEEKATLAPRADEEP-MSFT commented on #97382
@Shoplift3020  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community member

[2022-08-22 04:54] VikasPullagura-MSFT commented on #97371
@mosbahmajed
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-22 04:54] VikasPullagura-MSFT commented on #97371
@mosbahmajed
Can you please check and add your comments on this doc update request as applicable.

[2022-08-22 05:15] RohitMungi-MSFT commented on #97367
@shyambasnet1 Thanks, I have moved the issue to the corresponding area. It would be great if you could add any specific error message of this deployment for the team investigating the issue.

[2022-08-22 05:18] RohitMungi-MSFT commented on #97138
@10260268 I will go ahead and close this issue since there is no documentation update pending. Will also pass the feedback to the service team about your use case. Thanks a lot for sharing these details.

[2022-08-22 05:18] #97138 closed

[2022-08-22 05:29] RamanathanChinnappan-MSFT commented on #97248
Hi @JFBDO2022 ,

Kindly go through below steps:

blankf As been divided two points blank +f=1+1=2.Please refer below steps

Let's look a slightly different example to show how additional complexity in a password can build the required number of points to be accepted. In the following example scenario, a user changes their password to "ContoS0Bl@nkf9!":

After normalization, this password becomes "

[2022-08-22 05:30] KapilAnanth-MSFT commented on #97309
@vinit-intel , we have assigned this thread to the author for further review.

@steveesp , Ubuntu package manager uses "apt-get update". Kindly check this and update the docs accordingly

[2022-08-22 05:39] KapilAnanth-MSFT commented on #97281
@brucenelson6655, I shall close this thread as there is no active discussion going on.
Please reopen the thread if you need additional information.

[2022-08-22 05:39] #97281 closed

[2022-08-22 05:46] KapilAnanth-MSFT commented on #97367
@shyambasnet1 , Can you please share the error message you are getting when the deployment fails?

[2022-08-22 05:49] RohitMungi-MSFT commented on #97258
The speech to text command provides an option to use a different endpoint. You could check if this works but other commands do not have this option.

@eric-urban Could we add a note on this page about the limited usage of cli when custom sub-domains are used?

[2022-08-22 06:46] garylirocks commented on #97365
@RohitMungi-MSFT Thanks for the help. I'll raise an issue in [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs/issues) 😃

[2022-08-22 06:47] katukam1 opened #97385 "Example Insert Statement is failing in DBR 7.3"
[The Insert statement fails in DBR 7.3 Cluster]

![SNAPSHOT](https://user-images.githubusercontent.com/94902676/185857486-bfe9c441-efa9-4b04-9dbd-016c002ea1d8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c6f53ce-b801-9dcb-07f1-b87a988f8907
* Version Independent ID: 36958a72-de9b-dccc-3732-f12b987446a6
* Content

[2022-08-22 06:52] AlexeiStrug opened #97386 "[BUG][DataFactory] Quickstarts bicep template issue"
2 bugs with the bicep template for Data Factory:

1. incorrect sink `storeSettings` for `BinarySink`, should be changed from `AzureBlobStorageWriterSettings` -> `AzureBlobStorageWriteSettings` (type error). According to [bicep documentation](https://docs.microsoft.com/en-us/azure/templates/microsoft.datafactory/factories/pipelines?pivots=deployment-language-bicep#storewritesettings-objects)
2. ` a

[2022-08-22 07:29] mojojojotroi commented on #15264
Hi,
I have the same problem, but this topic is now closed after 4 years. Is it possible the possible this bug appears again ?

[2022-08-22 07:40] RohitMungi-MSFT commented on #97360
@JeroenMBooij I have used Workspace.create() with all my existing resources and it seems to work if I use the same region as these resources. That is, if your static resource group and run resource group are same and if the region is same as all other resources the creation of workspace worked. You will have to set the `create_resource_group `to False though.

If the resource groups are different

[2022-08-22 07:47] RohitMungi-MSFT commented on #97381
@jesweare Thanks for the feedback and details about your observation.
@jboback Is it possible to review and update the documentation about this error?

[2022-08-22 07:52] mhoult22 commented on #96000
Thank you @mmosallem and @ntrogh.  I managed to get this working in a similar way to what you describe, but for this I needed access to a plugin, see my other ticket:  https://github.com/microsoft/azure-load-testing/issues/95

I can now use ${__env(mywebapp,,microsoft.com)} to default to microsoft.com in this example, or to be overridden in the pipeline or Azure portal.
![image](https://user-image

[2022-08-22 07:55] VikasPullagura-MSFT commented on #97008
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-08-22 07:55] #97008 closed

[2022-08-22 08:12] SumanthMarigowda commented on #96774
@Dekard I would like to clarify that actually, “Cloud Shell” would not work in this scenario.

The action requires running an operation on the Active Directory domain that is managed by AADDS to reach a domain controller to request property change to the domain object.  These cmdlets aren’t Azure PowerShell cmdlets but rather Windows Server Active Directory PowerShell cmdlets.

Because of this, th

[2022-08-22 08:20] madsd commented on #97328
@mudithac HCM runs on Windows Server 2012 or later and follows whatever minimum hardware requirement they have. We have not seen a need to increase the specification. @jselig95 fyi.

[2022-08-22 08:21] kudlatiger opened #97387 "How to simulate TLS 1.0 vulnerability breach on Azure storage account?"
Yes, Everywhere we see recommendations to update the TLS version, However, it would be nice to see what can go wrong if Azure storage is set to TLS 1.0. This helps to understand the problem before upgrading to TLS to latest version

Reason: we have to provide a valid rationale to the operational team for upgrading the TLS version. Our storage account access is secured so why do we need to upgrade?

[2022-08-22 08:22] neilmca-inc commented on #97274
Hi @ram-msft Your 2nd line statement there...

`Make sure enabled the AKS-ExtensionManager feature flag on subscription : https://docs.microsoft.com/en-us/azure/aks/cluster-extensions?tabs=azure-cli#register-the-aks-extensionmanager-preview-features`

...I can't see any reference in that document linked about feature flags on subscriptions - can you elaborate please

Thanks

Neil

[2022-08-22 08:41] mhoult22 commented on #96000
${__groovy(System.getenv("ServiceUrl") ?: "http://myservice.com")}
This worked perfectly, without the need for a plugin.  I will be using this a lot now!  Thank you.

[2022-08-22 08:43] RamanathanChinnappan-MSFT commented on #97096
@Dlng0

Apologize for delay assigned to content author for more information

[2022-08-22 08:54] h-vetinari opened #97388 "Status of conda support"
Current content of the page is:

It's unclear how "was a DBX runtime" and "If you want to use Conda to manage Python libraries and environments" fit together, and the provided links do not mention conda, much less explain how to use it.

This is intended just as an issue for documentation clarity, not changing the current level of support for conda (which is still desirable, but a larger topic).

[2022-08-22 08:56] AnuragSingh-MSFT commented on #97357
@jgarplind, thank you for this feedback. I am assigning it to out content team for further review and action.

@mumian, could you review this feedback and share your thoughts.

[2022-08-22 09:08] CHEEKATLAPRADEEP-MSFT commented on #97385
@katukam1  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-08-22 09:09] CHEEKATLAPRADEEP-MSFT commented on #97388
@h-vetinari  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-22 09:11] angandin opened #97390 "Error in using C# sample code for speech intent recognition pattern match"
I have copy and pasted the sample provided on C# code (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-simple-language-pattern-matching?tabs=jre%2Cwindows%2Cubuntu%2Cmaven&pivots=programming-language-csharp#check-your-code), having following errors:
- _var result = await recognizer.RecognizeOnceAsync();_ must be replace with _var result = await intentRecognizer.

[2022-08-22 10:04] SreejaBhattacharya-MSFT commented on #97341
@brettboss what are you trying to pass to the VM with Set-AzVmRunCommand? Also, could you please provide the error message .

[2022-08-22 10:33] nclaeys opened #97391 "Azure spot nodepools should never be used in production"
From what I noticed and after discussing our issues with Azure support, I come to the conclusion that Azure spot nodepools cannot be used for any production workloads. This is because there are numerous issues with nodes coming up without networking connectivity as well as some nodes not becoming ready for over 2 hours.

Issues we encountered:
- node becoming ready but any pod/daemonset scheduled

[2022-08-22 10:33] ShaikMaheer-MSFT commented on #97386
@AlexeiStrug Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-08-22 10:33] #97196 closed

[2022-08-22 10:35] Givary commented on #97157
@nkumars Apologies for the delay, we are investigating on this issue and will revert back to you.

[2022-08-22 10:35] #97157 closed

[2022-08-22 10:52] ShaikMaheer-MSFT commented on #97226
@mssaperla / @leifbro  Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-08-22 10:52] sicil1ano opened #97392 "Invalid connection string to be used from Azure CLI & typo in dotnet command"
Hi.

Under "Get Table API connection string" paragraph (https://docs.microsoft.com/en-us/azure/cosmos-db/table/create-table-dotnet?tabs=azure-cli%2Cwindows#get-table-api-connection-string), there're 3 ways to get the Table API connection string for a CosmosDB resource. Using the provided Azure CLI command:

[code]

the result is the following JSON:

[code]

Step 2 says: "Record the PRIMARY KEY val

[2022-08-22 10:52] VikasPullagura-MSFT commented on #97391
@nclaeys
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-22 10:52] VikasPullagura-MSFT commented on #97391
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-08-22 10:53] ShaikMaheer-MSFT commented on #97298
@mssaperla / @leifbro Could you please validate customer feedback and enhance document as appropriate? Thank you

[2022-08-22 10:59] RamanathanChinnappan-MSFT commented on #97080
@spacecat ,

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-08-22 11:00] #97080 closed

[2022-08-22 11:04] GitaraniSharma-MSFT commented on #97364
@Ravnsgaard , Azure publishes the below JSON file which contains the IP address ranges for Public Azure as a whole, each Azure region within Public, and ranges for several Azure Services (Service Tags) in Public. This file is updated weekly.

https://www.microsoft.com/en-us/download/details.aspx?id=56519

Kindly let us know if the above helps or you need further assistance on this issue.

[2022-08-22 11:07] farukc commented on #95618
Created PR 208680

[2022-08-22 11:15] farukc commented on #95618
PR 208680 is merged. It will be live in https://docs.microsoft.com/en-us/azure/hdinsight/interactive-query/apache-hive-warehouse-connector#configure-spark-cluster-settings shortly

[2022-08-22 11:22] #97368 closed

[2022-08-22 11:23] GitaraniSharma-MSFT commented on #97368
@gmonty007 , we've updated the doc to correct the typo and it will reflect soon. We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-08-22 11:49] Stralle commented on #97136
I can confirm that these commands shall be executed on master database. I'll update doc accordingly. Thanks for sharing this feedback!

[2022-08-22 11:51] santo2 commented on #96883
Hi guys, any update on this?

[2022-08-22 11:52] AnuragSharma-MSFT commented on #97392
@sicil1ano Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-08-22 12:14] mlibenocg opened #97395 "Document Omission"
[Enter feedback here]
When an object goes out of scope, are the attributes contributed by the data source deleted or retained? For example, if connected to an HR system and that system contributes values for department and title to the Active Directory user object, are those value retained when the person goes out of scope from the HR system?

---
#### Document Details

⚠ *Do not edit this section

[2022-08-22 12:15] JFBDO2022 commented on #97248
But why is blankf split?  It matches the definition of fuzzy match.  When does fuzzy match work when there is an extra letter added and when do you decide to split it?  The rules don't seem clear on that.

Also, why isn't ! normalized to 1 ?

Thanks.

From: RamanathanChinnappan-MSFT ***@***.***>
Sent: Monday, August 22, 2022 12:30 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: John Fedor ***@***

[2022-08-22 12:18] RyanHill-MSFT commented on #97358
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-22 12:19] pjrcdf opened #97396 "AMA Agent?"
This article refers to the (now Legacy) MMA Agent only and should be updated to reflect the Azure Monitor Agent (AMA)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 555dbdac-7f98-ad09-dbe2-8384dc31f004
* Version Independent ID: 4cb69e50-7921-b574-7387-fd736930872e
* Content: [Microsoft Defender for Cloud FAQ - data col

[2022-08-22 12:36] rajeshkhanikar opened #97397 "Jump image is too small to view the detail"
[Enter feedback here]
Under this link, "When using a Garland TAP, make sure jumpers are set as follows:" there is an image of the sensor.

:::image type="content" source="../media/how-to-set-up-your-network/jumper-setup-v2.jpg" alt-text="Screenshot of US Robotics switch.":::

The image is too small to see jumper details.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-08-22 13:05] KorZijl commented on #94542
Hi @Heidilohr, any chance you can take a look into this autoscale design question and its implications to our rollover setup?

[2022-08-22 13:16] kengaderdus commented on #97282
@hugoforte

Thank you for your feedback. We'll update the document appropriately.

[2022-08-22 13:49] AshokPeddakotla-MSFT commented on #97362
@PatAltimore Could you check this issue and add more details on the doc based on the feedback if necessary

[2022-08-22 13:52] rvandenbedem commented on #97217
Great feedback, yes, the sequence needs to be changed. PR: https://github.com/MicrosoftDocs/azure-docs/pull/97398

[2022-08-22 13:52] dknappettmsft commented on #97280
Hi @brmcmil, thanks for flagging this. I have updated the page and the change should be visible later today,

#please-close

[2022-08-22 13:53] #97280 closed

[2022-08-22 13:56] vhorne commented on #95599
@sforstre
This is now fixed
#please-close

[2022-08-22 13:58] pietz commented on #95801
Is there a workaround for this? Ergo, what's the recommended way to collect input and prediction data given that we're using real-time online endpoints (not a web service endpoint)?

[2022-08-22 13:58] rvandenbedem commented on #97217
@suzizuber - Can you please close this Issue?

[2022-08-22 14:00] #91561 closed

[2022-08-22 14:01] sarah026 opened #97400 "DDoS plan on APIM with Vnet"
Is anyone ale to confirm if this is up to date

**"API management in a virtual network with a public IP are both not natively supported."**

What does "not natively supported" means? Aren't the metrics captured within the flow logs are monitored which then would capture APIM connections?
What exactly are we monitoring on the Vnet if services deployed to the Vnet are not part of the coverage?
Is th

[2022-08-22 14:10] richardcl1 opened #97401 "Warning to keep Azure Event Viewer open"
In step 7 of the section "Subscribe to the Blob storage", please add a warning to keep the Azure Event Grid Viewer open. The events disappear if you close the window and reopen it.

I got well caught out by this. I could see that the events were being sent, but they were not appearing. I thought the problem was with Event Grid and repeated the exercise several times -- different region, different

[2022-08-22 14:14] #97282 closed

[2022-08-22 14:23] gavin-wickens opened #97402 "Cache Storage Account Requirements"
Can you confirm the cache storage account type for Zone to Zone DR?  Does it not have to be a V2 account with ZRS to facilitate failover in event of a zone outage?  If LRS how do you ensure that the storage account isn't effected by the Zone outage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4bd4d9f-e7a7-782c-53fb

[2022-08-22 14:24] npepo commented on #45041
Was this resolved??????

[2022-08-22 14:45] jdyver opened #97403 "IoT Hub (customer created) is no longer required for DIoT"
Hi, this requirement in the Prerequisites section isn't necessary any more.  Now you only need the proper firewall rules enabled to connect into Azure.
https://docs.microsoft.com/en-us/azure/defender-for-iot/organizations/how-to-set-up-your-network#sensor-access-to-azure-portal

From documentation:
Defender for IoT must be enabled on your relevant IoT Hub instances.

Use the following procedure to

[2022-08-22 14:49] MicrosoftGuyJFlo commented on #97148
There is a legacy and modern option for MAPI as mentioned in the article you linked to... https://docs.microsoft.com/exchange/clients-and-mobile-in-exchange-online/deprecation-of-basic-authentication-exchange-online#pop-imap-and-smtp-auth

#please-close

[2022-08-22 14:49] #97148 closed

[2022-08-22 14:53] MicrosoftGuyJFlo commented on #97096
You can use known trusted IP locations as something to help in some respects.
https://docs.microsoft.com/azure/active-directory/conditional-access/location-condition#trusted-locations

There are no other configurable policy settings.

#please-close

[2022-08-22 14:53] #97096 closed

[2022-08-22 14:53] mohamedt-ea commented on #94039
i also have the same problem, i use raspberry pi instead of VMs.

here is child edge system check

[code]

[2022-08-22 15:12] suzizuber commented on #97217
#please-close

[2022-08-22 15:12] #97217 closed

[2022-08-22 15:23] SuttyHoo opened #97404 "Please could you add "Configure ADF to use Oracle Connection""
Hi
Looking at the following, it looks like tnsname file is not being used; and the DSN is configured with minimal information:

- the content of the Oracle ODBC zip files referenced in this page
- the result of the oracle driver install as run from the Main.cmd file
- System DSN configuration as configured from the Main.cmd file

Please add to the document, providing examples of the value to be ad

[2022-08-22 15:26] alexmiloev opened #97405 "The document is outdated and results in failing installations"
This document is missing the need to replace the MARS agent msi - following it will result in failed installations as the agent supplied with the "https://www.microsoft.com/en-us/download/details.aspx?id=57520" is incorrect and will no longer connect to the vaults.
See https://support.microsoft.com/en-us/topic/update-for-azure-backup-for-microsoft-azure-recovery-services-agent-beca1bf8-c057-4a37-8

[2022-08-22 15:30] samgoudie opened #97406 "Update Cross-region Replication peerings list to include all regions"
The list for "azure-cross-region-replication-pairings-for-all-geographies" can be confusing for customers given some regions only replicate one way in the pair.

Take example US West 3 and East US. We need to explicitly call out that you cannot replicate (automatically with GRS) traffic between East US and West US 3 - because East US replicates already to West US (not 3). We can achieve this eithe

[2022-08-22 15:47] MayankBargali-MSFT commented on #97372
@pebo Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-08-22 15:50] JamesTran-MSFT commented on #97395
@mlibenocg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-22 15:56] AbbyMSFT commented on #97182
#assign: @yairgil
@yairgil - we have received feedback that this article is missing information. Do you want to add the missing info or send it to me for me to add?
Thanks,
Abby

[2022-08-22 16:08] gvanteylingen opened #97409 "Add ANF snapshot backup solution to this page"
When using [ANF datastores for AVS](https://docs.microsoft.com/en-us/azure/azure-vmware/attach-azure-netapp-files-to-azure-vmware-solution-hosts?tabs=azure-portal) another option to backup VMs is:
https://docs.microsoft.com/en-us/azure/azure-vmware/install-cloud-backup-virtual-machines

Please include this on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-08-22 16:16] seesharprun commented on #97392
#reassign:seesharprun

Hello @sicil1ano, you are absolutely right. We are making these fixes now. Once these fixes are queued up, this issue will automatically close. You should see a new version of this article within a day or so.

[2022-08-22 16:19] kiranpradeep commented on #80621
I am also an idiot :) But if there are too many idiots, shouldn't the doc be made idiot proof? Thanks.

[2022-08-22 16:48] JamesTran-MSFT commented on #97003
@rich-rowan
Thank you for following up on this and for providing a detailed response!

Since this issue isn't directly related to improving our docs, I'll go ahead and close this out. Since @lnalepa is part of the MyApps engineering team and is looped into this thread, I'll go ahead and close this out. However, feel free to continue the discussion on this thread and if you have any other questions

[2022-08-22 16:48] #97003 closed

[2022-08-22 16:51] JnHs commented on #97026
Hi @starbuckscoffee and @mrecek - thanks to both of you for your detailed feedback. We are in the process of reviewing and updating this topic to address several issues, including those mentioned here, and ensure it's up to date. It may take some time before this is completed, so I will leave this issue open for now and close it after the changes have been made. We appreciate your taking the time

[2022-08-22 16:56] VikasPullagura-MSFT commented on #97409
@gvanteylingen
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-22 16:56] VikasPullagura-MSFT commented on #97409
@jjaygbay1
Can you please check and add your comments on this doc update request as applicable.

[2022-08-22 17:04] #97347 closed

[2022-08-22 17:10] #97116 closed

[2022-08-22 17:11] #97392 closed

[2022-08-22 17:22] idcha0s opened #97410 "Default outbound on ExpressRoute and UDR"
Can you please clarify what the expected behavior here is for default outbound on ExpressRoute connected networks? Will ER peered networks always take the UDR path and bypass the default outbound? Is this true of any peered network with a UDR in place? If that is the case, then is UDR another way to 'disable' the default outbound path?

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-08-22 17:59] jenniehubbardDB commented on #97316
@pateixei Thank you! The correction will be live in a few hours!
#please-close

[2022-08-22 17:59] MicrosoftGuyJFlo commented on #95112
Try the info found in this section of one of the linked articles... https://docs.microsoft.com/microsoft-365/enterprise/hybrid-modern-auth-overview?view=o365-worldwide#check-the-modern-authentication-status-of-your-on-premises-environment

[2022-08-22 17:59] MicrosoftGuyJFlo commented on #95112
#please-close

[2022-08-22 17:59] #95112 closed

[2022-08-22 18:00] #97304 closed

[2022-08-22 18:03] mumurug-MSFT commented on #97304
@taiyokato We have updated docs and it will be live once its merged. We have now closed this thread. Thanks again for bringing this to our attention.

[2022-08-22 18:13] RyanHill-MSFT commented on #97402
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-22 18:16] cvillagomez commented on #97402
Hello @gavin-wickens,

Thank you for your post! I am sharing the following document [here](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#cache-storage) with more details on cache storage requirements when enabling disaster recovery for Azure VM's.

Per the above document, Standard General Purpose V2 storage accounts are supported for cache storage accounts to h

[2022-08-22 18:23] gavin-wickens commented on #97402
Hi Carlos,
I have read this already, the recommendation is v1 accounts to save transaction fees.  However specifically when doing Azure Site Recovery to a different zone surely this needs to be a ZRS account so the cache is still available in a zone outage.  If so it has to be V2 as V1 doesn't support ZRS.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Carl

[2022-08-22 18:29] ramiMSFT commented on #96936
Thank you for your feedback! The only available options for `appType` are `functionAppLinux` or `functionApp`. See [Azure Function App task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-function-app?view=azure-devops#arguments) and the task JSON. I'll update the example shortly.

[code]

[2022-08-22 18:49] tfitzmac commented on #96767
@mbender-ms - do you have more limitations for Gateway Load Balancer that you would like to document on this page?

[2022-08-22 19:40] DarqueWarrior opened #97412 "ObjectID is no longer returned"
I am using AZ CLI version 2.39.0 and when I run the following command from this page, I get nothing back:

[code]

I changed the output to JSON to review the output and the objectId is not being returned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ee09f0a-cf58-5592-29d8-7c86113eb304
* Version Independent ID: 87f2d

[2022-08-22 19:50] DarqueWarrior commented on #97412
Looks like the code should be:

[code]

Just change `objectId` to 'id` in the query and I was able to get it to work.

[2022-08-22 20:21] amsliu commented on #96364
@MrAzureAD Thank you for your feedback. I am double checking this with our product team.

[2022-08-22 20:28] amsliu commented on #96919
@sarthak-git Thank you for your feedback. I am double checking this with our product team.

[2022-08-22 20:33] amsliu commented on #97214
@sheldonhull Thank you for your feedback. I am double checking this with our product team.

[2022-08-22 20:36] SaiKishor-MSFT commented on #97387
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-22 20:45] GeethaThatipatri-MSFT commented on #97291
@joeltaylor Document is now updated and you will be seeing the changes by tomorrow.

[2022-08-22 20:45] #97291 closed

[2022-08-22 20:48] GeethaThatipatri-MSFT commented on #97412
Hi @DarqueWarrior Thanks for your feedback! We will look into it and update as appropriate.

[2022-08-22 20:48] ChaitanyaNaykodi-MSFT commented on #97410
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-22 21:27] VidyaKukke opened #97415 "Needs to mention that user's subscription should be registering "Microsoft.EventGrid" for the steps to work"
The steps mentioned on the page assume that the Azure Subscription Id has "Microsoft.EventGrid" RP registered. If not they fail without any feedback to the user. Can you please help update this information?

Thanks,
Vidya

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 076eaaa5-0c1d-d937-e78a-786ac76f103a
* Version Inde

[2022-08-22 21:29] gandersen101 commented on #96931
I am evaluating the use of `dbx` at my company and have also run into the same issue. Has any progress been made here?

[2022-08-22 21:33] JamesTran-MSFT commented on #97415
@VidyaKukke
Thanks for your feedback! When it comes to having the `Microsoft.EventGrid` Resource Provider registered, I believe it's mentioned under the pre-requisites to have Event Grid as a registered RP.
![image](https://user-images.githubusercontent.com/36619112/186022613-ecd27d67-a608-4743-9048-31cac1f6d24e.png)

I've created a PR and added `Microsoft.EventGrid` and it's currently waiting for

[2022-08-22 21:33] #97415 closed

[2022-08-22 21:46] VidyaKukke commented on #97415
Thank you. My apologies. I reviewed as well and realized.

[2022-08-22 21:52] YutongTie-MSFT commented on #97390
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-22 22:11] nkiest commented on #38371
This was updated a while ago here:
https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/diagnostic-settings?tabs=portal#destination-limitations

[2022-08-22 22:20] gandersen101 commented on #96931
Adding an empty `parameters` list to the deployment.yaml allowed the example to work. This seems like a bug in `dbx` itself. If no parameters are specified, `execute` should pass an empty list instead of `None`.

[code]

[2022-08-22 22:21] grminch commented on #67518
The sample javascript was updated to resolve the problem back on 4/8/22. Closing this as resolved. #please-close.

[2022-08-22 22:21] #67518 closed

[2022-08-22 22:27] amolagar5 commented on #95830
Documentation below has the details how all AAD authentication options can be used from C#

https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authentication?view=sql-server-ver16

[2022-08-22 22:34] amolagar5 commented on #95830
I think this will work.

`using System;
using Microsoft.Data.SqlClient;

public class Program
{
    public static void Main(string[] args)
    {
  // Use your own server, database, app ID, and secret.
  string ConnectionString = @"Server=demo.database.windows.net;     Authentication=Active Directory Service Principal; Database=testdb; User Id=AppId; Password=secret";

        using (SqlConnection

[2022-08-22 22:43] MarileeTurscak-MSFT commented on #97396
@pjrcdf
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-22 22:46] MarileeTurscak-MSFT commented on #97396
Thanks! I made a pull request to update the guide with the new name. https://github.com/MicrosoftDocs/azure-docs-pr/pull/208774

Adding @ElazarK

[2022-08-22 22:46] #97396 closed

[2022-08-22 22:47] MarileeTurscak-MSFT commented on #97397
@rajeshkhanikar
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-22 22:50] #96936 closed

[2022-08-22 22:57] RyanHill-MSFT commented on #97390
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-08-22 23:35] tfitzmac commented on #97357
@jgarplind - thanks for this feedback. I have added the permissions section to the example. It should get published tomorrow.

#please-close

[2022-08-22 23:35] #97357 closed

[2022-08-22 23:41] mike-urnun-msft commented on #97153
Hello @jjindrich - Unfortunately, there is no information that we're able to share on the matter for now. Please engage the following MS Q&A post for further updates: [Azure Logic Apps Tools for the Visual Studio 2022 extension](https://docs.microsoft.com/en-us/answers/questions/748062/azure-logic-apps-tools-for-the-visual-studio-2022.html)

Since this channel is more for driving improvements towa

[2022-08-22 23:41] #97153 closed

[2022-08-22 23:46] dcbrown16 opened #97417 "Route all setting?"
Is the current default for vnet integration with Standard Logic Apps to use the "Route All" setting, which causes all outbound traffic to flow through the vnet, or by default is vnet integration only used for traffic to private IPs?
The linked blog from preview period mentions setting WEBSITE_VNET_ROUTE_ALL to 1 in order to force all traffic through the vnet.
https://techcommunity.microsoft.com/t5

[2022-08-22 23:48] ggailey777 commented on #96634
This is new portal functionality...thanks for the reminder!

[2022-08-23 00:08] FernandoGualano opened #97418 "Force a user to re-register with SSPR"
Hi!
Is there a way to force a user to re-register with the Azure AD Self Service Password Reset as if he/she has never registered before? I added the user back to the AD group which SSPR is enabled. The "Require users to register when signing in" option is enabled. However, the user isn't prompted during sign-in.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-08-23 00:09] FernandoGualano opened #97419 "Force a user to re-register with SSPR"
Hi!
Is there a way to force a user to re-register with the Azure AD Self Service Password Reset as if he/she has never registered before? I added the user back to the AD group which SSPR is enabled. The "Require users to register when signing in" option is enabled. However, the user isn't prompted during sign-in.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-08-23 00:15] grminch commented on #69510
This is fixed now. Added a new step for `dotnet user-secret init`.  Thank you for you for helping us improve the docs! #please-close

[2022-08-23 00:15] #69510 closed

[2022-08-23 00:24] mikaelweave commented on #97412
@GeethaThatipatri-MSFT - just looked and confirmed. Appears `objectId` has moved to `id` for this command.

[2022-08-23 00:45] sennchiee opened #97420 "Duplicated Video Links"
Hello Contributors,

Below videos are duplicated in Mapping data flow video tutorials (https://docs.microsoft.com/en-us/azure/data-factory/data-flow-tutorials):

Optimizing mapping data flows/Decrease start-up times (https://youtu.be/FFCbU4ujCiY?t=528)
Transformation overviews/Derived Column transformation (https://www.youtube.com/watch?v=FFCbU4ujCiY)

Thank you.

---
#### Document Details

⚠ *Do

[2022-08-23 01:36] davidsmatlak commented on #97102
#reassign:davidsmatlak

[2022-08-23 02:01] mike-urnun-msft commented on #97193
Hello @timjansenortec - Thanks again for your feedback. The setting should be set to `node` if you're using the [Inline Code](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-add-run-inline-code) action in your workflow. In all other scenarios, you can set it to `dotnet` runtime.

As the next step, we're proceeding to assign this issue to the content author to review further and take t

[2022-08-23 02:14] davidsmatlak commented on #97102
@raymonvt Thanks for your feedback. I found the error and will update the document.

The source of the problem in the example is the `allowedValues` code. The [map](https://docs.microsoft.com/azure/azure-resource-manager/managed-applications/create-ui-definition-collection-functions#map) function's first parameter should use the [basics](https://docs.microsoft.com/azure/azure-resource-manager/mana

[2022-08-23 02:17] mike-urnun-msft commented on #97401
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-08-23 02:18] mike-urnun-msft commented on #97417
Thank you for your feedback! We will review and update as appropriate.

[2022-08-23 03:15] justinbarias opened #97423 "Need Infrastructure-as-code instructions on how to do GitOps on AKS"
Needs to have examples on how to do this using more than just CLI..

E.g. ARM templates, Bicep, Terraform etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d674084-1d8f-b845-9781-d3a144ecfe9b
* Version Independent ID: b4b5514f-1b86-5851-5e2f-ef3b592b9600
* Content: [Tutorial: Use GitOps with Flux v2 in Azure Arc-ena

[2022-08-23 03:24] FernandoGualano opened #97424 "Force a user to re-register with SSPR"
Hi!
Is there a way to force a user to re-register with the Azure AD Self Service Password Reset as if he/she has never registered before? I added the user back to the AD group which SSPR is enabled. The "Require users to register when signing in" option is enabled. However, the user isn't prompted during sign-in.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-08-23 03:56] YashikaTyagi-MSFT commented on #97418
@FernandoGualano
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-23 03:56] yichungyu opened #97425 "Where can customers track the progress of phase 2 for Azure Redis TLS 1.0/1.1 phase-out?"
The documentation mentioned that "Phase 2 is postponed because of COVID-19. We strongly recommend that you begin planning for this change now and proactively update clients to support TLS 1.2 or later." Is there anywhere customers can track the progress of this change?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d5

[2022-08-23 03:57] YashikaTyagi-MSFT commented on #97419
Duplicate issue as " Force a user to re-register with SSPR #97418".
Closing this Thread.

[2022-08-23 03:57] #97419 closed

[2022-08-23 03:59] YashikaTyagi-MSFT commented on #97424
@FernandoGualano
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-23 04:04] YashikaTyagi-MSFT commented on #97302
@ivangonzalezsaenz
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-08-23 04:04] #97302 closed

[2022-08-23 04:12] CHEEKATLAPRADEEP-MSFT commented on #97400
@sarah026  Thanks for the question! We are investigating and will update you shortly.

@AbdullahBell Can you please take a look at the above ask?

[2022-08-23 04:13] CHEEKATLAPRADEEP-MSFT commented on #97403
@jdyver  Thanks for the feedback! I have assigned the issue to the content author @batamig to evaluate and update as appropriate.

[2022-08-23 04:14] CHEEKATLAPRADEEP-MSFT commented on #97404
@SuttyHoo Thanks for the feedback! I have assigned the issue to the content author @chugugrace  to evaluate and update as appropriate.

[2022-08-23 04:20] CHEEKATLAPRADEEP-MSFT commented on #97405
@alexmiloev Thanks for the feedback! We are investigating and will update you shortly.

[2022-08-23 04:27] SteveCuriously opened #97427 "Unclear wording re Temporary Access Passwords"
Hi there,

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-temporary-access-pass

* If I may politely say so, the wording in this document is unclear:

"The most common use for a Temporary Access Pass is for a user to register authentication details during the first sign-in or device setup, without the need to complete extra security prompts."

* What 'e

[2022-08-23 04:30] CHEEKATLAPRADEEP-MSFT commented on #97406
@samgoudie  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-23 04:35] CHEEKATLAPRADEEP-MSFT commented on #97420
@sennchiee  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-23 05:14] YashikaTyagi-MSFT commented on #97424
duplicate issue as "https://github.com/MicrosoftDocs/azure-docs/issues/97320"

[2022-08-23 05:14] #97424 closed

[2022-08-23 05:21] YashikaTyagi-MSFT commented on #97427
@SteveCuriously
Thanks for your feedback! We will investigate and update as appropriate.

[2022-08-23 05:29] Justinha commented on #97427
@SteveCuriously Thanks for your questions. Let me try to answer some here and then we can determine how to make the document more clear.

The extra security prompts occur when a user tries to register for MFA and passwordless. We are not creating a user here. The TAP is meant to onboard an existing user for passwordless. User account creation is a separate process that would occur before you issue

[2022-08-23 05:30] AnuragSharma-MSFT commented on #97425
@yichungyu Thank you for the feedback. This is being assigned to the content author for updates.

[2022-08-23 05:32] #97287 closed

[2022-08-23 05:41] SwathiDhanwada-MSFT commented on #96221
@git188 This issue has been fixed. Kindly check.

[2022-08-23 05:48] Justinha commented on #90161
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-08-23 05:48] #90161 closed

[2022-08-23 05:54] #97044 closed

[2022-08-23 05:54] AjayBathini-MSFT commented on #97418
@FernandoGualano
Hi Fernando, please review the below screenshot for your reference. If any further information required kindly reach out us on the same.
<img width="458" alt="image" src="https://user-images.githubusercontent.com/111562794/186080607-51038e7f-ed06-4fc5-be71-ba6dc1f513ba.png">

[2022-08-23 06:02] #97219 closed

[2022-08-23 06:09] Justinha commented on #96506
@petertuton Thanks for raising this. There is no replacement functionality in Graph PS. When replacement functionality is released, we will update the topic. Unfortunately, I don't have an ETA.

[2022-08-23 06:10] Justinha commented on #96506
#please-close

[2022-08-23 06:10] #96506 closed

[2022-08-23 06:16] PrashantKharche opened #97428 "This page is displayed under "Session host management", Is it correct?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62dd50a6-6801-83a0-cae3-d9b65c90b6ac
* Version Independent ID: 1367b2e5-1e79-0a5b-c41f-2ecf9f21c710
* Content: [Microsoft Endpoint Manager for Azure Virtual Desktop](https://docs.microsoft.com/en-us/azure/virtual-desktop/management)
* Content Source:

[2022-08-23 06:17] SteveCuriously commented on #97427
Thanks folks for your speedy replies above.

Hi @Justinha

1) "User account creation is a separate process that would occur before you issue a TAP."

This is 100% inline with my understanding

2) "The TAP is meant to onboard an existing user for passwordless."

This is my oversight in the heading. Thanks for pointing this out. Could a comment be added to the sentence below for the benefits of mupp

[2022-08-23 06:33] sbenzch commented on #96994
Do we have already any feedback from the PG?

Thank you
Simon

[2022-08-23 06:46] Justinha commented on #87904
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-08-23 06:46] #87904 closed

[2022-08-23 06:53] joycepg opened #97429 "security Role name change"
I think the role name in the table in point 3 of step 3 should be
Storage Blob Data Contributor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f912b09-c1a1-e6b6-5ef1-68e1225f9e49
* Version Independent ID: 6fec157e-83bd-a281-b6af-0a942da534d0
* Content: [Grant permissions to managed identity in Synapse workspace - Azur

[2022-08-23 07:55] SwathiDhanwada-MSFT commented on #97261
Thanks for your feedback.

Assigning to content author @bwren  for review.

[2022-08-23 07:56] wasytb72 opened #97433 "Private Endpoint Missing"
Private Endpoint Resource is not mentioned on this document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9-6854-651a-483c-a1673eea9f9f
* Content: [Resource naming restrictions - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-r

[2022-08-23 08:01] YashikaTyagi-MSFT commented on #97395
@mlibenocg
By default, the Azure AD provisioning engine soft deletes or disables users that go out of scope.
1.Soft Delete
 In this state, items retain their properties and can be restored for 30 days. After 30 days, objects in the soft-deleted state are permanently, or hard, deleted.
2.Hard Delete
Hard-deleted items must be re-created and reconfigured. It's best to avoid unwanted hard deletions.

[2022-08-23 08:05] CHEEKATLAPRADEEP-MSFT commented on #97429
@joycepg Thanks for pointing out the issue, I've addressed this issue in below PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/208814](https://github.com/MicrosoftDocs/azure-docs-pr/pull/208814)

The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we

[2022-08-23 08:18] CHEEKATLAPRADEEP-MSFT commented on #97221
@jds3d  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A}(https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-08-23 08:18] #97221 closed

[2022-08-23 08:18] #97429 closed

[2022-08-23 08:19] ibabedal opened #97435 "providing an example to create the hbduserstore key"
[Enter feedback here]

Hello Team,

we would appreciate if you can put an example command of the hdbuserstore on how to add the key that is scanned by the pre-requisite script as this sometimes could be executed by a non-sap expert users

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5d16f95-6c6c-aad4-7c98-

[2022-08-23 08:26] sicil1ano commented on #97392
Thank you @AnuragSharma-MSFT and @seesharprun!

[2022-08-23 08:26] BzSpi opened #97436 "Missing DataBricks DNS zones documentation"
Hello,

The Databricks DNS zone is not documented for the private endpoint: privatelink.azuredatabricks.net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Content: [Azure Private Endpoint DNS configuration](https://doc

[2022-08-23 08:32] Vikram1988 commented on #97297
@SadiqhAhmed-MSFT I have reviewed the PR and pushed the change to the docs. The change will start reflecting in 12 hours

[2022-08-23 08:36] ToruMakabe opened #97437 "Availability, limitations, and procedures when using NAT Gateway"
[AKS support NAT Gateway for egress traffic](https://docs.microsoft.com/en-us/azure/aks/nat-gateway). Can we use combination of API server authorized IP ranges and NAT Gateway? If yes, are there any limitations? And I would like to understand the enablement procedure if it is possible. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-08-23 08:38] RamanathanChinnappan-MSFT commented on #97255
@aromanrod ,

Apologize !!  for delay, More information assign to author

[2022-08-23 08:44] phwecker opened #97438 "Missing note to /23 CIDR range requirement ?"
according to the networking architecture section (https://docs.microsoft.com/en-us/azure/container-apps/networking#ports-and-ip-addresses) the network used has to have a /23 range.

in the "external environment" there is a note to that respect (https://docs.microsoft.com/en-us/azure/container-apps/vnet-custom?tabs=bash&pivots=azure-portal#create-an-environment)

in this doc (internal environment)

[2022-08-23 08:46] timjansenortec commented on #97193
Thanks for your response, but it is still not clear to me.
"You can set it to dotnet runtime"...this is pretty vague.

When should runtime 'dotnet' be used?
It seems that using 'dotnet' just disables/breaks the 'inline code' action, so why should it ever be used?
What does it actually do? What works differently over using runtime 'node'?

[2022-08-23 08:52] yairgil commented on #97182
@mirekkukla Thanks for reaching out! the Failure Anomalies detector is already created as an alert rule and does nor require migration action by the user. I added a clarification in the document.

[2022-08-23 09:10] pgilhuijs opened #97440 "Override <set-backend-service /> does not work as you might expect"
It may be worth to mention that overriding a defined base policy &lt;set-backend-service  backend-id="..." /&gt;  with &lt;set-backend-service base-url="..." /&gt; does not work. It does when overridden with  &lt;set-backend-service backend-id="some other id" /&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d5c8bf

[2022-08-23 09:14] samgladstone opened #97441 "Delete B2C Tenant Instructions - No Delete Button"
I was following the documentation for deleting a B2C Tenant, but there was no delete button as specified:

![image](https://user-images.githubusercontent.com/42203151/186120488-76be239a-1a39-4480-aac9-e968f4ffef46.png)

Instead, I had to go to Manage Tenants, select the tenant there and then select delete.

I think the docs should be updated to make this clear

---
#### Document Details

⚠ *Do not

[2022-08-23 09:33] cenkersoy opened #97442 "Public preview of AMA for Defender"
In the "Compare to Legacy Agents" section, there should be some indication that "Microsoft Defender for Cloud" is  now supported as Public Preview. But it is not shown in the tables (neither for Windows or Linux).
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd3dca2f-629d-36e9-f0f0-8c7e64cc04ab
* Version Inde

[2022-08-23 09:45] chowcz opened #97443 "What is the permission model for template specs"
It's not clear what the permission model is around template specs. Does the user of the template spec need RBAC permissions to create/update the resources that template spec creates/updates or, if they have read access to the template spec, do they implicitly have permission to create/update resources within the template spec?

The documentation states:

"Users can deploy the template spec without

[2022-08-23 09:50] benfoster opened #97444 "Flux create kustomization should be escaped"
The flux create command contains `[` and `]` characters that need to be escaped for the command to work:

Current:

[code]

Fixed:

[code]

It would also benefit from being split into a multi-line command, for example:

[code]

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d674084-1d8f-b845-9781

[2022-08-23 09:54] mike-westaway opened #97445 "Clarify what Role or Permissions are required to view the MACC"
[Enter feedback here]

There is no detail of what role is required to view the details on the MACC tab.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb2a5c16-e331-b6ef-6dd1-058b8a9e0a83
* Version Independent ID: 15886b8c-aa14-6802-2770-e8a95c177c32
* Content: [Track your Microsoft Azure Consumption Commitment (MACC)](

[2022-08-23 10:29] VikasPullagura-MSFT commented on #97428
@PrashantKharche
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-08-23 10:30] VikasPullagura-MSFT commented on #97428
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

![image](https://user-images.githubusercontent.com/48944027/186136202-ca505616-ee51-4698-b9ff-06adddbf9888.png)

[2022-08-23 10:41] shwetamathur7 commented on #97312
@vinothrao I tried to repro the same steps in my lab and able to successfully get the access token using client credential flow in B2C and able to call the API. You might be getting unauthorized response as token might not be authorized to call that particular API.

Unfortunately, this forum is only for documentation issues and not for functionality issues. But such functionality issues are invest

[2022-08-23 10:41] #97312 closed

[2022-08-23 10:42] SadiqhAhmed-MSFT commented on #97435
@ibabedal Thank you for your feedback. We will review this request wit the feature owner nd update the doc as appropriate.

@v-amallick FYI

[2022-08-23 11:22] SwathiDhanwada-MSFT commented on #97433
@wasytb72  Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-08-23 11:26] PriyankaRudramaina commented on #97437
@ToruMakabe,

Thank you for reaching out. We will review your query and update the thread.

[2022-08-23 11:28] nkumars commented on #97157
@Givary, you could let me know if you need further details like a screen recording, I can even share.

[2022-08-23 11:33] #97433 closed

[2022-08-23 11:35] SwathiDhanwada-MSFT commented on #97442
@cenkersoy Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-23 11:43] SwathiDhanwada-MSFT commented on #97443
@chowcz Thanks for your comment. We will review the issue and get back to you shortly.

[2022-08-23 11:55] fluffy-cakes opened #97447 "Backup encrypted Az VMs does not explain permissions for RBAC enabled key vaults"
This page does not explain the correct permissions required on RBAC enabled key vaults, and I am prompted with this error when trying to enable.

[code]
![image](https://user-images.githubusercontent.com/32635002/186151581-4ff12a18-876b-4b08-af4a-a26d5e67987c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54252e63

[2022-08-23 12:40] majidqureshicdn commented on #69228
Can you please tell me how can I create between an Azure Arc-enabled server and a data collection rule. I have created param.json file and template.json but can you please tell me how to execute it from pwershell

[2022-08-23 13:05] CHEEKATLAPRADEEP-MSFT commented on #97423
@justinbarias  Thanks for the question! We are investigating and will update you shortly.

[2022-08-23 13:09] SadiqhAhmed-MSFT commented on #97447
@fluffy-cakes Thank you for your post. The permissions are documented here - https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-encryption#provide-permissions

![image](https://user-images.githubusercontent.com/44458118/186166146-cce2e7d7-87cf-4cf1-a0f6-bc353e676b6f.png)

[2022-08-23 13:18] FernandoGualano commented on #97418
Hi @AjayBathini-MSFT, thanks for your response. I reviewed the screenshot but it was not very helpful. I need to force a user to re-register during sign-in as if he/she has never registered before?. The current situation is as follows:
1. The user was a member of Securtiy Group, which it is configured for SSPR. The user in not enable for MFA. Only SSPR.
2. During sign-in, the user receive the prom

[2022-08-23 13:20] v-ksreedevan commented on #97297
Hi @pasnopik,

Thank you for bringing this to our attention.
The change has been updated in https://docs.microsoft.com/en-us/azure/migrate/migrate-appliance#government-cloud-urls.
Hence, closing this issue.

#please-close

[2022-08-23 13:20] #97297 closed

[2022-08-23 13:24] fluffy-cakes commented on #97447
@SadiqhAhmed-MSFT , sorry the page only explains permissions via Access Policies.

This does not explain the correct permissions for Role Base Access Control: https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide?tabs=azure-cli

[2022-08-23 13:24] mumurug-MSFT commented on #97440
@pgilhuijs Thanks for your feedback. We will review and update as appropriate.

[2022-08-23 13:24] jds3d commented on #97221
I would not agree that it's not directly related to the doc.  I read the
doc hoping to determine how to calculate the size of a folder, but I got
two methods that presumably return 1/3 of the size of the folder.  This
wasted a lot of time on my end and left me without a solution.

Thanks anyway, will raise in the forum.
Josh

On Tue, Aug 23, 2022 at 4:18 AM CHEEKATLAPRADEEP-MSFT <
***@***.***> wro

[2022-08-23 13:29] mumurug-MSFT commented on #97438
@phwecker Thank you for your feedback! We will review and update as appropriate.

[2022-08-23 13:42] ehsf973 opened #97451 "listed in the ExpessRoute FAQ - change to Express"
[Enter feedback here]
in the url link, just check the misssed writing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29b475d-056b-ba43-5309-dd1ee50b4318
* Version Independent ID: 55d5f203-32ef-40a1-62fa-83e8c81cdb14
* Content: [Azure ExpressRoute: Routing requirements](https://docs.microsoft.com/en-us/azure/expressrou

[2022-08-23 13:44] vande opened #97452 "ModuleNotFoundError: No module named 'aiohttp'"
I get an error saying "ModuleNotFoundError: No module named 'aiohttp'". I fixed it by installing the said package. The Quickstart instructions may need to be updated to include installing 'aiohttp' package.

Below is the error trace:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 995ff127-8028-8118-701e-53f07f3

[2022-08-23 14:01] KapilAnanth-MSFT commented on #97367
@shyambasnet1 ,
Please let us know the error message so we can try and isolate the issue.

[2022-08-23 14:05] rvandenbedem commented on #94852
Great feedback, that is corrected in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/208839

**Application Consistent Backups:** If VMware Tools is not installed, a crash consistent backup will be executed. When VMware Tools is installed with Microsoft Windows virtual machines, all applications that support VSS freeze and thaw operations will support application consistent backups. When VM

[2022-08-23 14:06] drdamour commented on #97219
@vicancy docs are better, but i think they still should explicitly mention the secret reference by vault name and secret is not supported as thats what most devs are used to at this point coming from app service

[2022-08-23 14:13] GeethaThatipatri-MSFT commented on #97452
Hi, @vande Thank you for reaching out. We will look into it and update as appropriate.

[2022-08-23 14:37] larryclaman opened #97455 "Page should remove references to using packer scripts with AIB"
in two places, this page mentions using packer scripts directly with AIB:

`Azure Image Builder is built on Packer, so you can even use your existing Packer shell provisioner scripts with it.`
...
`You can also use existing Packer provisioner scripts with [Azure Image Builder](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder).`

I don't believe this is true; these statem

[2022-08-23 14:37] mikefrobbins commented on #97255
@aromanrod For the `New-AzEventGridSubscription` reference doc, please log an issue in the [azure-powershell](https://github.com/Azure/azure-powershell/issues) repo so it can be properly triaged. The latest version of all Azure PowerShell docs contain links for reporting issues so they're automatically logged in the appropriate repo:

![image](https://user-images.githubusercontent.com/6719572/1861

[2022-08-23 14:52] suzizuber commented on #94852
#please-close

[2022-08-23 14:52] #94852 closed

[2022-08-23 14:57] vhorne commented on #97367
@shyambasnet1
This is a known issue, and we are waiting for the template author to create and merge a PR. In the meantime, you can work around the issue by making the following change.

In the template change the following line from:

"azPowerShellVersion": "3.0"

to

"azPowerShellVersion": "8.0"

[2022-08-23 15:00] lmhutch opened #97456 "Question about MDE licensing and MDC Server licensing"
If I already have a license for Microsoft Defender for Endpoint, can I get a discount for Microsoft Defender for Servers?
**If you already have a license for Microsoft Defender for Endpoint for Servers ,** you won't pay for that part of your [Microsoft Defender for Servers Plan 2](https://docs.microsoft.com/en-us/azure/defender-for-cloud/defender-for-servers-introduction#defender-for-servers-plans

[2022-08-23 15:00] lmhutch commented on #97456
Clarification on MDC and MDE plan 1 and plan 2 integrations

[2022-08-23 15:06] GitaraniSharma-MSFT commented on #97451
@ehsf973 , thank you for your feedback. We'll review this and get back to you shortly!

[2022-08-23 15:06] #97436 closed

[2022-08-23 15:25] daphnemamsft commented on #93800
@DESREFan Thank you for your feedback again. The document has been updated with all of the correct changes and screenshots to walk the user through Retrieving, Editing & Deploying, and Exporting a Custom Template from the Azure Portal.

#please-close

[2022-08-23 15:25] #93800 closed

[2022-08-23 15:43] dkmikthy opened #97457 "extraQueryParameters type mismatch from copied code"
val extraQueryParameters: MutableList<Pair<String, String>> = ArrayList()
    extraQueryParameters.add(Pair("ui_locales", "en-us"))

    Gives a type mismatch compiler error when use

      .withAuthorizationQueryStringParameters(extraQueryParameters)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d12044f2-e15b-4cef-b5

[2022-08-23 15:50] dkmikthy commented on #97457
`val extraQueryParameters: MutableList<Map.Entry<String, String>> = ArrayList()
    val mapEntry = object : Map.Entry<String, String> {
      override val key: String = "ui_locales"
      override val value: String = "en-us"
    }`

    This is my current working solution. Not pretty by any means