[2021-04-30 01:17] kgremban commented on #74470
Hi @jokarl, the edgeAgent image in the config.yaml file is only used when the device first starts up. The service needs to be able to pull the edgeAgent image that first time, and then from that point forward the edgeAgent manages the module images based on what's in the deployment.json. What's in the deployment.json will override what's in the config.yaml.

Like you mentioned, when you update the

[2021-04-30 01:18] Ronnie-personal commented on #74339
@BryanTrach-MSFT  Any update on the issue? Thanks!

[2021-04-30 01:18] jonburchel commented on #65546
Thanks for reporting this @RonnieQuan, and your contribution to improve our docs.  This is a current work-in-progress, so it may be included in the future.  For now I will close out this issue but if you have additional questions please feel free to continue the discussion here.  #please-close

[2021-04-30 01:18] #65546 closed

[2021-04-30 01:23] jonburchel commented on #65863
Thank you @nikhilboreddy for your question.  The tag is the same, but the IPs will differ.  You can reference the [Azure IP Ranges and Service Tags – US Government Cloud](https://www.microsoft.com/en-us/download/confirmation.aspx?id=57063).  I will close this issue out now but feel free to continue this discussion if you have further questions.  #please-close

[2021-04-30 01:23] #65863 closed

[2021-04-30 01:30] Karishma-Tiwari-MSFT commented on #74063
yes, this is a known issue. You would need to reach out to Outlook support, they will be able to assist with a workaround.

Here is the Outlook support options: https://support.microsoft.com/home/contact?ContactUsExperienceEntryPointAssetId=S.HP.outlook

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a

[2021-04-30 01:30] #74063 closed

[2021-04-30 01:34] jonburchel commented on #66189
#reassign @lrtoyou1223

Can we remove Credential Manager and replace with local powershell in this article?  Thanks!

[2021-04-30 01:36] jonburchel commented on #67058
#reassign @lrtoyou1223

Can we add details on how to create a managed vnet?  Thank you!  Let's add a doc and then we will link to it here.

[2021-04-30 01:38] jonburchel commented on #68189
@kromerm can you help us answer this one?  Thanks!

#reassign @kromerm

[2021-04-30 01:44] jonburchel commented on #71058
@lrtoyou1223 can you update this wording to make it clearer?  Thank you!
#reassign @lrtoyou1223

[2021-04-30 01:49] jonburchel commented on #73705
@lrtoyou1223 can you help us with this one?  Could we consider adding some additional automation docs for managed vNet and private endpoints?  Thank you!

#reassign @lrtoyou1223

[2021-04-30 01:51] jonburchel commented on #73821
@lrtoyou1223 can you look at this one?  Thank you!

#reassign @lrtoyou1223

[2021-04-30 01:57] kgremban commented on #74414
Hi @nelz75, I see what you mean about the Stream Analytics Job no longer asking you to manually assign a storage container. This is the new  storage account settings page:

![image](https://user-images.githubusercontent.com/13578436/116638605-883f6800-a91b-11eb-940e-ead4619d4ada.png)

I will make a work item to update these steps in the tutorial. However, from your message it sounds like you got p

[2021-04-30 03:06] cking-uttyler-edu opened #74597 "Supported/unsupported writeback operations involving Microsoft Graph API"
The supported and unsupported writeback operations sections seem to have conflicting statements about whether the Microsoft Graph API is supported for administrator-initiated end-user password resets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebc51bb0-dd9d-cb3f-3e3f-b9765b48f21d
* Version Independent ID: d597a70e-

[2021-04-30 03:14] ram-msft commented on #74384
@cschar Thanks for the feedback. Please follow the sample [code](https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/python/CustomVision/ObjectDetection/CustomVisionQuickstart.py).

![image](https://user-images.githubusercontent.com/49180516/116644109-253be880-a990-11eb-9b79-957a1ac22c31.png)

[2021-04-30 03:18] #74384 closed

[2021-04-30 03:18] BhargaviAnnadevara-MSFT commented on #55533
@cephalin I'm afraid the doc is not fully fixed yet. The **Route::post function** hyperlink in this snippet still points to the php sample code. Could you please check?

![image](https://user-images.githubusercontent.com/44050820/116644138-3d136c80-a990-11eb-8868-075240e1b75f.png)

[2021-04-30 03:23] ram-msft commented on #74594
@sunnyhay Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-30 03:33] lgayhardt commented on #73746
I will pass it on to the Azure Functions doc team! Thank you =)

[2021-04-30 03:49] BoxOfPain commented on #74554
Hi!
I can understand that. Please publish example for  "Disable the device using the Set-AzureADDevice cmdlet (disable by using -AccountEnabled option)". Personally, I can't find any example how to disable device with AccountEnabled option.

[2021-04-30 03:54] merill opened #74598 "Screenshots and instructions are out of date"
The screenshots and menu options outlined here are no longer valid and need to be updated to reflect the new UI and navigation experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1dc21d8-8ebe-44fb-5b22-93d924829e73
* Version Independent ID: 42cf0514-e903-7d9d-11f9-5c9adf1b1fc7
* Content: [Create an access revie

[2021-04-30 03:59] shashishailaj commented on #74399
@TakashiTerasawa As we have not received any response from your side, we will close this issue by EOD today . Should you still have queries on this , please open a new issue referencing this one and let us know the details as to what exactly seem unclear as in the section [How are alerts classified?](https://docs.microsoft.com/en-us/azure/security-center/security-center-alerts-overview#how-are-ale

[2021-04-30 04:04] jonburchel commented on #57454
I discussed with @nabhishek and confirmed we will consider future improvements to this doc and related docs.  I will close this issue out for now.  #please-close

[2021-04-30 04:04] #57454 closed

[2021-04-30 04:08] shashishailaj commented on #74595
@nikki-c Thank you for your feedback . We will investigate and update the thread.

[2021-04-30 04:09] shashishailaj commented on #74597
@cking-uttyler-edu Thank you for your query. We will review this and update the thread.

[2021-04-30 04:10] shashishailaj commented on #74598
@merill Thank you for pointing that out. We will review this request and update the thread.

[2021-04-30 04:46] KalyanChanumolu-MSFT commented on #74574
@Pachehra Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-04-30 04:48] KalyanChanumolu-MSFT commented on #74579
@uonie Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-04-30 04:56] avirishuv commented on #74579
hi, yes, I am updating the document, and will comment here once done. Thanks.

[2021-04-30 05:09] KrishnaG-MSFT commented on #74583
@catinodeh Thanks for reaching out!

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so can you please share the Azure document link to which your feedback is related. Also, please elaborate what's your

[2021-04-30 05:35] jokarl commented on #74470
Thank you @kgremban, that makes sense. I'll make sure to include this step when moving forward.

[2021-04-30 05:36] #74470 closed

[2021-04-30 05:37] BharathNimmala-MSFT commented on #74339
@Ronnie-personal Apologies for delay in getting back to this thread

One of the [capabilities ](https://docs.microsoft.com/en-us/azure/azure-monitor/app/create-workspace-resource#new-capabilities) with the new workspace-based Application Insights allows you to take advantage  of Customer-Managed Keys (CMK) provides encryption at rest for your data with encryption keys that only you have access to.

[2021-04-30 05:47] takuyateraoka opened #74600 "The Ocean Blue template and Slate Gray template have display layout problems when using IE11."
When I use IE11 to display the Ocean Blue template and Slate Gray template the input screen will be to the left.
This happens for both user flows and custom policies.
![OceanBlue](https://user-images.githubusercontent.com/45484579/116653275-d149f780-a9c1-11eb-9f9c-c216f942f7e1.png)
![SlateGray](https://user-images.githubusercontent.com/45484579/116653281-d6a74200-a9c1-11eb-85fd-a929c648e4c9.png)

[2021-04-30 06:56] dinu12 opened #74601 "Issue while creating VHD for Debian buster"
[Enter feedback here]
I want to create VHD for Debian by following the steps specified in the page https://docs.microsoft.com/en-us/azure/virtual-machines/linux/debian-create-upload-vhd

But following step fails to download azure apps
sudo pip3 install azure-storage azure-servicemanagement-legacy azure-common pytest pyyaml

Is there any change in azure-storage and azure-servicemanagement-legacy az

[2021-04-30 07:04] dinu12 commented on #74601
I get following error while running the step.

`#sudo pip3 install azure-storage`

Collecting azure-storage
  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f128ea3ad68>: Failed to establish a new connection: [Errno 101] Network is unreachable')': /simple/azure-s

[2021-04-30 07:06] KalyanChanumolu-MSFT commented on #74464
@niklarin Could you please help here?

[2021-04-30 07:20] jitendraRai opened #74602 "Cross-tenant scenarios - for B2B"
Could you please provide more information for Cross tenant means in the document.

The clarification required for  two different tenants within Azure environment or commercial or government or social tenants?

Please refer SO#- https://stackoverflow.microsoft.com/questions/256080

Examples will help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-04-30 07:20] jokarl commented on #74473
I will open a ticket there and reference to this, I'll close this. Thanks for your help.

[2021-04-30 07:20] #74473 closed

[2021-04-30 07:44] PramodValavala-MSFT commented on #74360
@johol545 Just following up here... Hope my previous comment helps. Could you share more details to further look into this?

[2021-04-30 07:57] ZhuXiaoBing-cn opened #74603 "[Query] Unable to understand that the two types of issuer in aad b2c are in the access token."
When I use aad b2c, I can get two types of issuer in the access token through user flow. They are:
- iss claims: https://xxxxb2c.b2clogin.com/tenant-id/v2.0/
- iss claims:  https://xxxxb2c.b2clogin.com/tfp/tenant-id/b2c_1_signupsignin1/v2.0/

I am very surprised about the first one, why does the issuer not contain the user flow name, and there is no way to get the OpenID Connect metadata document

[2021-04-30 08:03] KrishnaG-MSFT commented on #74603
@ZhuXiaoBing-cn Thanks for reaching out!

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so can you please share the Azure document link to which your feedback is related. Also, please elaborate what's

[2021-04-30 08:06] johol545 commented on #74360
Hi Pramod,

I got your comments, thank you! I'll send more information soon.

Have a great weekend!

/ Johan

On Fri, Apr 30, 2021 at 9:45 AM Pramod Valavala ***@***.***>
wrote:

[2021-04-30 08:14] ZhuXiaoBing-cn commented on #74603
Thank you for your reply and I'll move on to public forums for help.

[2021-04-30 08:15] swinarko commented on #73360
Thanks @mdrakiburrahman , our doc will be updated.

[2021-04-30 08:16] #74603 closed

[2021-04-30 08:18] robert4os opened #74604 "Premium BlockBlob supports Data Lake, but not refleccted in overview"
Hi,

Premium BlockBlob supports 'Data Lake Storage 1'
(see https://docs.microsoft.com/en-us/azure/storage/blobs/premium-tier-for-data-lake-storage)

But this is not indicated in the overview at:
https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview#types-of-storage-accounts

Best regards, Robert

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-04-30 08:19] o-l-a-v opened #74605 "Azure VM AAD auth integration - B2B users?"
Doc says nothing about B2B users. Will this work? If not, will it be added in the future?

* The doc does not mention "B2B", "Guest" or "External" at all.
* I know AADDS does not work with B2B, so I fear this won't either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Version Ind

[2021-04-30 08:33] Bashar-MSFT commented on #70732
This issue will be fixed in production on May 21st 2021

[2021-04-30 08:36] KalyanChanumolu-MSFT commented on #74400
@sheetallomate Are you using System.Data.SqlClient? You should be using [Microsoft.Data.SqlClient](https://www.nuget.org/packages/Microsoft.Data.SqlClient/) with .Net 5
If you have access to the Azure Portal, I recommend copying the connection string from the connection strings blade.

Could you please try specifying the User ID

[code]

[2021-04-30 08:39] robduncan1 commented on #37727
Since AzureAD supports the device code flow (as it does with shell.azure.com) - then the point about MFA is moot. We want real SSH in the traditional way in which bastion servers have always operated. We can't SCP to servers and I don't see the service as being any different or more secure that the serial console service already in place.

[2021-04-30 08:57] yutaro113 opened #74606 "What is the meaning of "Not Recommended" when using App Service Service Tag for Inbound rule?"
If we see explanation in the below section,
https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#available-service-tags

We can see "This tag is recommended for outbound security rules..." at App Service row.
What does "Not Recommended" mean? I think there's only 2 optioin tag will be valid or not valid so it would be great help to clarify what will be the exact behavior in

[2021-04-30 09:06] RossMurr4y commented on #73982
This also goes for the location of the `staticwebapp.config.json` file. The documentation suggests that it should be found wherever it resides but the preference is the project root, however I've found that it was only picked up once I copied it post-build into the build output directory.

[2021-04-30 09:12] RossMurr4y opened #74608 "staticwebapp.config.json location inconsistent with documentation"
Under the heading "File Location" [here](https://docs.microsoft.com/en-au/azure/static-web-apps/configuration#file-location) the documentation indicates that the file `staticwebapp.config.json` is recommended to be in the root of the project directory.

I cannot speak for all builds, however for my project where I have opted to skip the build process, the configuration was not detected in the proj

[2021-04-30 09:19] jmprieur commented on #74530
@dinavahi204
- what is the build error before you changed the framework to net5.0 ? was it that you didn't have .NET Core 3.1 installed?
- did you follow the tutorial at the end of the article (to understand how to call the web api).

Would you think that we'd need to provide Postman instructions to show how to call the protected web API by adding a bearer token in the authorize header?

[2021-04-30 09:30] tojuasp opened #74611 "Copy from delta to SQL pool with PolyBase not working"
Using Copy activity to copy from delta lake source to SQL Pool with PolyBase does not work. First of all, the databricks export does not write into the staging area but it first writes to disk, then from disk to staging disk and then to SQL pool with PolyBase. However there is an error in the disk-to-disk write operation that makes the whole pipeline fail.

Path: 'staging/1c12b6a8-c04b-40e6-8f35-8

[2021-04-30 09:43] vussan opened #74614 "MS Teams User are not supported"
I'm trying to create a chat thread using **MicrosoftTeamsUserIdentifier** instead of **CommunicationUserIdentifier**. But I'm getting error "_MS Teams Users are currently not supported_". Is it so? If yes, do you have any estimation to when the feature will be made available?

I'm trying to develop a webapp from where the users can directly chat (text,voice,video) with MS Teams users. After going

[2021-04-30 09:52] okan-aslaner-bib opened #74615 "PostgreSQL port number"
The port for PostgreSQL in the picture is supposed to be 5432.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f71a77c-23ce-5496-9da9-f1d1871a62c2
* Version Independent ID: f2b69a19-1b25-cd89-e44c-370fa83ea45c
* Content: [Azure Database for PostgreSQL Single Server](https://docs.microsoft.com/en-us/azure/postgresql/ove

[2021-04-30 09:54] Davidsv commented on #13958
@cynthn
The `lsblk -o NAME,HCTL,SIZE,MOUNTPOINT | grep -i "sd"` command gives this output as indicated in the article:

[code]

However as a linux newcomer I do not know which of these numbers indicate that `sdc` is `LUN 0`. Is it supposed to be one of the zeroes in `3:0:0:0`? If so, `sda` also has zeroes in those places. So where does it say that `sdc` is unequivocally `LUN 0`?

[2021-04-30 10:15] CHEEKATLAPRADEEP-MSFT commented on #74611
@tojagade  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-04-30 10:15] xps233 commented on #73800
Hello guys @SumanthMarigowda @shashishailaj , is there would get any update from this, many thanks for your check on this!

[2021-04-30 10:22] HarshitaSingh-MSFT commented on #74601
Hello @dinu12 , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-04-30 10:29] HarshitaSingh-MSFT commented on #74580
Hello @amitprajapati099 , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-04-30 10:31] HarshitaSingh-MSFT commented on #74580
@amitprajapati099, can you please share complete error message and the line of code where the error is coming? Where can I find `VotingWeb` application? Request you to share the doc link to which you are referring.

[2021-04-30 10:46] CHEEKATLAPRADEEP-MSFT commented on #74596
@SillyKeith  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above requirement in the document.

[2021-04-30 11:01] glglak opened #74616 "Can't delete association of an app gateway after creating Web Application Firewall policies (WAF)"
When you create a web application firewall policies as per the documentation below
`[](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/policy-overview)`
then you create a custom rule (or the config you like)
then go to the **Associated application gateways** tab
and assosciate one app gateway to this policy, and save it
then when you try to revret back to the built in police on

[2021-04-30 11:07] GitaraniSharma-MSFT commented on #74466
@vijayysisodia , I see you have submitted a PR for this issue but the commit that you made only changes the Cmdlet but not the link:
![image](https://user-images.githubusercontent.com/67630903/116687001-27bf3200-a9d2-11eb-9a4e-1919e101ad4c.png)

Hence, I closed that PR and submitted a new one with below commit:
![image](https://user-images.githubusercontent.com/67630903/116686909-15dd8f00-a9d2-11e

[2021-04-30 11:42] serjdag opened #74617 "Online migration to SQL database is no longer available using Data Migration Service"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e037ea20f
* Version Independent ID: 98ec245b-bd8f-bd96-ec6d-0048599246fa
* Content: [Compare the database engine features of SQL Database and SQL Managed Instance - Azure SQL Database & SQL Managed Instance](https://docs.mic

[2021-04-30 12:05] NavtejSaini-MSFT commented on #74615
@okan-aslaner-bib We are checking this and will get back to you.

[2021-04-30 12:06] NavtejSaini-MSFT commented on #74617
@serjdag We are checking this and will get back to you.

[2021-04-30 12:16] vlxm commented on #63660
Commit 930a7b2 wrongly removes the base64 conversion of the JSON object.
Could you please update the doc?

[2021-04-30 12:37] AwdotiaRomanowna opened #74620 "Duplication in https://docs.microsoft.com/en-us/azure/azure-arc/data/install-client-tools"
Azure CLI mentioned twice:
![image](https://user-images.githubusercontent.com/17368813/116695834-6a2c4300-a9c1-11eb-974d-b51078a676d7.png)

https://docs.microsoft.com/en-us/azure/azure-arc/data/install-client-tools

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07e2baa8-9c8e-83a0-634a-08ee9f9e9a37
* Version Independent

[2021-04-30 13:03] AwdotiaRomanowna opened #74622 "Add an explanation to the PVC acronym"
https://docs.microsoft.com/en-us/azure/azure-arc/data/create-postgresql-hyperscale-server-group
Would be nice to explain what PVC is - it is used many times on a page without the full name anywhere: "PVC and name it CreateBackupPVC.yml "

[2021-04-30 13:14] vlado101 commented on #74495
Hello @KranthiPakala-MSFT,

Just wanted to follow up about my question.

Thank you in advance for your help.

[2021-04-30 13:25] blogero45 opened #74623 "Azure Monitor Agent ONLY for Azure resources."
[Enter feedback here]
"The Azure Monitor agent (AMA) collects monitoring data from the guest operating system of virtual machines and delivers it to Azure Monitor. This articles provides an overview of the Azure Monitor agent including how to install it and how to configure data collection."

I would recommend adding clarity to the Azure Monitor agent and that you cannot install this agent to non-

[2021-04-30 13:31] SnehaAgrawal-MSFT commented on #74586
@kristyler Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-30 13:36] SnehaAgrawal-MSFT commented on #74608
@RossMurr4y Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-30 13:37] SnehaAgrawal-MSFT commented on #74614
@vussan Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-30 13:38] anastasia-ms commented on #74516
The tutorial prerequisites indicate the following:

To create indoor maps:
Thanks for your feedback. I am a bit unclear about the exact steps you took, which led to your confusion. What page were you on in the beginning. The tutorial indicates the following prerequisites. I have included the link regarding primary key and how to obtain the primary key.

PREREQUISITES

- Make an Azure Maps account

[2021-04-30 13:42] GitaraniSharma-MSFT commented on #74606
@yutaro113 , thank you for your query. We'll review this and get back to you shortly!

[2021-04-30 13:44] byteknacker commented on #32730
According to the [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/action-groups#email-azure-resource-manager-role) "assignment [of the Azure role] needs to be done at the subscription level." I think this is already reflected in the documentation but it needs to be singled out because of its importance.

"If Abe is a Contributor for the subscription, Becky is a Contribut

[2021-04-30 13:57] catinodeh commented on #74583
Thanks @KrishnaG-MSFT

[2021-04-30 14:00] andresu13 commented on #74385
hi, any update on this?

[2021-04-30 14:04] jochenvw opened #74626 "Is being Project Collection admin not a pre-req for this starter?"
I love the starter, demo it all the time.

But my customer wants to use it - a financial - using Azure DevOps - as a way to kickstart teams.
So teams will have a DevOps project but not the rights to create one. I looked it up, that requires project collection admin rights or 'create new project' rights, both of which they won't get.

So - my recommendation would be:
- Write this as a pre-req, othe

[2021-04-30 14:04] SwathiDhanwada-MSFT commented on #74623
@blogero45 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-04-30 14:19] SenthuranSivananthan opened #74628 "Broken links to ARM templates"
All 3 links under https://docs.microsoft.com/en-us/azure/azure-sql/database/auditing-overview#using-azure-resource-manager-templates don't exist (i.e. HTTP 404).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c27fe13-a824-84a5-e314-892a27c1dec5
* Version Independent ID: 510b5427-c927-84df-563f-31dfe13fc771
* Content:

[2021-04-30 14:25] mlcooper opened #74629 "Using the LogicApp HTTP Connector for working with Storage Queues"
My uses case is that I have a LogicApp and Azure Storage account in the same region, and the firewall is enabled on the storage account. It's my understanding that you can use the HTTP connector to work with queue messages even if the LogicApp and storage account are in the _same_ region and the firewall is enabled.

I would like to POST messages into a Queue using the HTTP connector provided as p

[2021-04-30 14:42] jschlackman opened #74630 "Example code references incorrect property "Enabled", should be "AccountEnabled""
The example PowerShell commands reference an incorrect/out of date property name **Enabled**. Current objects returned by **Get-AzureADDevice** do not have a property named **Enabled**, it is instead named **AccountEnabled**.

**To get all devices and store the returned data in a CSV file:**
Current example code:
[code]

Corrected example code:
[code]

**To get all devices with a timestamp older t

[2021-04-30 14:54] RyanHill-MSFT commented on #74171
Hi @kolchy, I've added a note to the doc stating it's out of date.

@cephalin, we will need to update the code snippets with `Azure.Identity` usage.

[2021-04-30 15:00] MayankBargali-MSFT commented on #74581
@lawrenceong001 Thank you for your feedback! We will review and update as appropriate.

[2021-04-30 15:08] rdlucas2 opened #74631 "Author Field blank on commits"
We noticed when trying to push to an azure devops repository with the security policy "commit author email validation" on - the commit coming across from the databricks repository is blank.

![image](https://user-images.githubusercontent.com/1649129/116714409-c2ece300-a9a3-11eb-8e74-4c0246533582.png)

{"data":{"projectGitCommitAndPush":{"error":{"message":"https://dev.azure.com/{ORG}/{PROJECT}/_gi

[2021-04-30 15:18] PramodValavala-MSFT commented on #74581
@lawrenceong001 Based on the value of the `aud` claim, the token is for Microsoft Graph and not your application. Could you share details on how you are fetching the token?

Also, do note that this repository is primarily for addressing doc related feedback. For other queries, [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-api-management.html) is a better forum to engage the

[2021-04-30 15:41] KrishnaG-MSFT commented on #74620
@AwdotiaRomanowna Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-30 15:43] hamiltonha commented on #74505
@jasonnutter @jo-arroyo

[2021-04-30 15:44] #74413 closed

[2021-04-30 15:45] #74479 closed

[2021-04-30 15:47] BharathNimmala-MSFT commented on #74622
@AwdotiaRomanowna Thank you for reaching out to us with your query.

PVC stands for "Persistent Volume Claim" , that has been mentioned in the [YAML file ](https://docs.microsoft.com/en-us/azure/azure-arc/data/create-postgresql-hyperscale-server-group#examples)

![image](https://user-images.githubusercontent.com/45180002/116719385-dc842f80-a98f-11eb-9231-954590589aa7.png)

Thanks again for taking

[2021-04-30 15:48] KrishnaG-MSFT commented on #74583
Closing this issue for now. If there are further questions or feedback on an Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-04-30 15:48] #74583 closed

[2021-04-30 16:02] aramase commented on #74592
[code]

`--rotation-poll-interval` isn't a recognized command. The poll interval isn't configurable.

@miwithro

[2021-04-30 16:05] veyalla commented on #74264
@Tarjei-stavanger Thanks for the input. Could you please suggest this idea at https://aka.ms/iotedge-suggestion?

[2021-04-30 16:28] MarileeTurscak-MSFT commented on #74630
@jschlackman
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-30 16:34] DerekHerman-MSFT commented on #74531
@OzBob staticwebapp.config.json is used for Azure Static Web Apps which is not the same as the Blob storage static website. If you wish to accomplish this you would likely need to integrate with Azure CDN.

[2021-04-30 16:39] jasonnutter commented on #74505
Thanks @zuboje, and apologies for the confusion. The problem is that this tutorial is written for MSAL Angular v1, where `MsalModule.forRoot` does only take two arguments, however, running `npm install @azure/msal-angular` will now install MSAL Angular v2, instead of v1. We'll make sure this gets updated to run `npm install @azure/msal-angular@1`, which will install MSAL Angular v1.

[2021-04-30 16:44] zuboje commented on #74505
@jasonnutter my suggestion is changing this docs to reflect Angular v2 since my assumption is that v2 is now supported and will be supported down the road and older versions will not be in use/support anymore.

[2021-04-30 16:45] jarmisteadgal opened #74633 "Typo in screenshot"
At step 5 in the section "Configure Azure AD SSO", the screenshot shows "Organization" but the spelling is wrong. See the text next to the red flag on the yellow background. This image was copied and pasted directly from the page.

![image](https://user-images.githubusercontent.com/71794889/116726763-ba9ba480-a9b1-11eb-9062-fe308c72a0c6.png)

---
#### Document Details

⚠ *Do not edit this section.

[2021-04-30 16:45] MarileeTurscak-MSFT commented on #74630
I made a pull request to update this. That is also what I see using `Get-AzureADDevice`

https://github.com/MicrosoftDocs/azure-docs-pr/pull/156841

[2021-04-30 16:45] #74630 closed

[2021-04-30 16:46] MarileeTurscak-MSFT commented on #74633
@jarmisteadgal
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-30 16:47] BharathNimmala-MSFT commented on #74590
@mlcooper Thank you for reaching out with your query and feedback, our team will review it and get back to you at the earliest.

[2021-04-30 16:49] jasonnutter commented on #74505
@zuboje Yep, we have an updated version of this tutorial for v2 currently in review!

[2021-04-30 17:18] RyanHill-MSFT commented on #74364
Hi @andylholloway, URL Authorization Rules is not supported anymore and therefore not recommended. There isn't an available feature will do authentication at the function level. Instead, what you will have to do is handle authenticated requests at the function level in code. See https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=csharp#working-with-

[2021-04-30 17:18] #74364 closed

[2021-04-30 17:24] marktab commented on #73651
I am creating a pull request based on the updated API from https://docs.microsoft.com/en-us/python/api/overview/azure/storage-blob-readme?view=azure-python

[2021-04-30 17:26] DCtheGeek commented on #74338
@GitHubUser1339 Thanks for pointing this out.  This was an issue in CLI.  The fix has been merged (https://github.com/Azure/azure-cli/pull/17898), and should be in the S186 release (https://github.com/Azure/azure-cli/milestone/104 targeted for )05/06/2021. As this isn't a Docs issue and has also been fixed in SDK, I'm going to close this issue.  Thanks again!

#please-close

[2021-04-30 17:32] marktab commented on #73651
@hdsz25 the page has been updated with new instructions -- while we are waiting to propagate to the public repo, you may follow the directions on https://docs.microsoft.com/en-us/python/api/overview/azure/storage-blob-readme?view=azure-python

[2021-04-30 17:40] #57835 closed

[2021-04-30 17:42] #74574 closed

[2021-04-30 17:48] jonburchel commented on #72322
Hi @hecflores, and thanks for your question.  This root cause could be due to configuration or conditions specific to your environment.  Our support team can help investigate it further.  Please open a new ticket by navigating to the Azure portal page for your data factory and then selecting _New support request_ under _Support + troubleshooting_:

![image](https://user-images.githubusercontent.co

[2021-04-30 17:48] #72322 closed

[2021-04-30 18:01] Oury-MSFT commented on #74628
@DavidTrigano Please see customer feedback above. All 3 links under this [document ](https://docs.microsoft.com/en-us/azure/azure-sql/database/auditing-overview#using-azure-resource-manager-templates)landed to a 404 page not found. Could you please help update the doc with the correct links. Thanks
![image](https://user-images.githubusercontent.com/78940872/116735051-dc415f80-a9a2-11eb-8f66-e5b7f6

[2021-04-30 18:19] RyanHill-MSFT commented on #74379
Hi @aholler2 the app setting is not required to enable health check.

[code]

[2021-04-30 18:19] #74379 closed

[2021-04-30 18:24] adiazcan opened #74634 "Live demo doesn't work"
I just try the live demo of this page and I can't send any message to any groups, before I connect to my PubSub service, the page said that it's connected but I can't join any group or send a message to a group.

![image](https://user-images.githubusercontent.com/6652046/116737921-184fe100-a9f2-11eb-8fa0-cfdc4bf95710.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-04-30 18:30] kendallroden opened #74635 "Broken Link to APIM ARM template samples"
https://docs.microsoft.com/en-us/azure/api-management/api-management-faq#can-i-use-an-azure-resource-manager-template-to-create-an-api-management-service-instance

Bad link to arm template sample in this section ^
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b45736d2-b0f4-05c3-8e2f-fde88f53b61a
* Version Independent I

[2021-04-30 18:32] minhe-msft commented on #74495
Hi @vlada1001,

Self-Hosted IR reports it's activity run information back to Azure Data Factory data plane. When you call ADF APIs to get Pipeline Run and Activity Run information, you get the result from Azure Data Factory service endpoint, not directly from Self-Hosted IR.

I would suggest further troubleshooting since the issue you described involves multiple product:

1. Try follow this docume

[2021-04-30 18:37] 1trevor opened #74637 "Example for Item function is incorrect"
The example for the Item function won't work because the Mid function requires 3 arguments, but only 2 are specified.

Instead of this:
`Mid(Item([proxyAddresses],Contains([proxyAddresses], "SMTP:")),6)`

It should be this:
`Mid(Item([proxyAddresses],Contains([proxyAddresses], "SMTP:")),6,999)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-04-30 18:43] RyanHill-MSFT commented on #74418
@andylholloway `identityProviders.azureActiveDirectory.registration.clientId` needs to be set to the client id of an app registration. That's why you're getting that message.

[2021-04-30 18:43] BharathNimmala-MSFT commented on #74605
@o-l-a-v Thank you for reaching out to us with your query, our team will review it and get back to you at the earliest.

[2021-04-30 18:44] mike-urnun-msft commented on #74635
@kendallroden Thank you for your feedback! We will review and update as appropriate.

[2021-04-30 18:49] RyanHill-MSFT commented on #74415
@kjeske you can send it to AzCommunity[at]microsoft[dot]com or https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly

[2021-04-30 18:56] jaycalderwood commented on #65971
Any updates on this?

[2021-04-30 19:03] wmgries commented on #73040
This should be released this afternoon or on Monday depending on the review process. #please-close

[2021-04-30 19:03] #73040 closed

[2021-04-30 19:04] MarileeTurscak-MSFT commented on #74600
@takuyateraoka
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-30 19:05] MarileeTurscak-MSFT commented on #74637
@1trevor
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-30 19:06] MarileeTurscak-MSFT commented on #74637
Thanks for calling this out. I just made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/156881

[2021-04-30 19:06] #74637 closed

[2021-04-30 19:14] aandrew129 opened #74639 "Notifications do not work in GCC High tenants"
Notifications (both "Users at risk detected email" and "Weekly digest email") do not work in DODCON/GCC High tenants, blades for each option error out. If this is expected behavior, please note that in the documentation.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5d52308-2421-2397-6773-6e786e685aa9
* Vers

[2021-04-30 19:19] #74592 closed

[2021-04-30 19:21] sunnyhay commented on #74594
Thanks for the response. I tried to add "--runtime python" to create function app. But it's still not working.
Please consider improving this tutorial page by using a fully integral example. For example, this page uses "scikit-learn" as existing model. I've registered the model but it does not work. Please try to improve this as this [tutorial page](https://docs.microsoft.com/en-us/azure/machine-l

[2021-04-30 19:29] MarileeTurscak-MSFT commented on #74602
@jitendraRai
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-30 19:29] jonburchel commented on #74577
Thanks for pointing this out @jasonhorner, and for helping improve the docs!  I made the update now to include "for CI/CD" with the title in the TOC to clarify it better.  Normally we would not use an acronym there but in order to keep it short enough not to wrap, this is a good compromise that clarifies the meaning better but still fits on a single line!  I made the change and it should appear so

[2021-04-30 19:29] #74577 closed

[2021-04-30 19:33] sozercan commented on #74592
busybox container has wrong command, it needs to be `/bin/sleep` (not `/bin/sh`)

[2021-04-30 19:36] MartinJaffer-MSFT commented on #74631
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-30 19:46] niklarin commented on #74464
Team, there's a question on the Flex Postgres docs page. Can you please answer it?

Copy/pasting the Q for convenience:

Hello there,
is there a way to onboard existing posgresql flexible to Azure DNS that been deployed before the integration with Azure private DNS release ?

Thanks,
nik

From: Kalyan Chanumolu ***@***.***>
Sent: Friday, April 30, 2021 12:07 AM
To: MicrosoftDocs/azure-docs ***@***

[2021-04-30 19:59] BryanTrach-MSFT commented on #74160
@HansOlavS I just went through a repro of the doc and was not able to reproduce a 400 error.

If you are still having this issue, please reach out to me at brtrach@microsoft.com with your subscription ID and the URL of this post so we can work closely with you to understand the issue that you're hitting.

We will close out this issue due to offering to help you offline if you are still encounterin

[2021-04-30 19:59] #74160 closed

[2021-04-30 20:06] rudoletz commented on #16527
Windows and Linux Search-AzGraph have a different maximum value for -First parameter. In Windows maximum limit is 5000, but Linux is 1000

Tested with PowerShell 7.1.3 and  Az.ResourceGraph 0.9.0 in both environments

In Windows:

$results = Search-AzGraph -Query "where type != ''" -First 5001
Search-AzGraph: Cannot validate argument on parameter 'First'. The 5001 argument is greater than the maxi

[2021-04-30 20:06] BryanTrach-MSFT commented on #73982
@itpropro and @RossMurr4y We have reassigned the issue to the author as it appears to be a larger portion of the doc that might need attention.

The author will review the feedback and take action as deemed necessary.

[2021-04-30 20:08] sozercan commented on #74592
@Nickomang @miwithro added other fixes in this issue too, would be able to pick up from this issue?

[2021-04-30 20:12] BryanTrach-MSFT commented on #73264
@joelverhagen This appears to be related to a known issue that was resolved. The workaround was to manually restart the Function, which it appears you stumbled across.

If you have any additional issues with this situation, please tag me in your reply and we can dig further into the matter.

We will now proceed to close this thread.

[2021-04-30 20:12] #73264 closed

[2021-04-30 20:23] Nickomang commented on #74592
@sozercan, @aramase, yep, no problem. I'll make the changes and reach out again for review.

[2021-04-30 21:05] Nickomang commented on #74592
@sozercan, @aramase, Thanks for all the work on this. I've opened up a new PR with the requested changes- please leave your reviews.

[2021-04-30 21:08] DerekHerman-MSFT commented on #74629
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-30 21:13] julieMSFT commented on #70011
Hi @jasonhorner. I hope the explanation provided resolved your concerns. I have updated the parquet document to include this explanation, it will be live in the next day or so. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-04-30 21:14] julieMSFT commented on #70011
#please-close

[2021-04-30 21:14] #70011 closed

[2021-04-30 21:25] bandersmsft commented on #46497
@ricfwolff Also, the mention of https://account.azure.com/ and screenshots related to that website in the comments above are obsolete. Earlier versions of the article metioned that URL and showed screenshots of it, but they've since been updated.

[2021-04-30 22:07] HansOlavS commented on #74160
@BryanTrach-MSFT Thanks. I sent you an email now with subscription id.

[2021-04-30 22:09] bergeron commented on #73165
Looks fixed

[2021-04-30 22:09] #73165 closed

[2021-04-30 22:20] bandersmsft commented on #46497
@ricfwolff I've udpated the article with fresh screenshots, small updates to the introduction and some of the steps. It will get republished live Monday at 10:30 PST.

Closing this issue.
#sign-off

[2021-04-30 22:30] ChaitanyaNaykodi-MSFT commented on #74424
Hello @zojovano,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-04-30 22:44] julieMSFT commented on #72031
Hi @ralphke, Thank you for contacting Microsoft. The issue has been resolved in the article. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2021-04-30 22:44] bandersmsft commented on #46497
#please-close

[2021-04-30 22:44] #46497 closed

[2021-04-30 22:44] julieMSFT commented on #72031
#assign:julieMSFT

[2021-04-30 22:44] julieMSFT commented on #72031
#please-close

[2021-04-30 22:44] #72031 closed

[2021-04-30 22:56] edisga opened #74642 "VNET integration is not supported for MultiContainers"
Can we add that VNET integration is not supported in the Preview limitations section?

This doc validates that https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#troubleshooting

VNET integration is not supported for Docker Compose scenarios in App Service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-05-01 00:02] kgremban commented on #50756
I created a new entry in the troubleshooting guide to talk about deleting container logs, with a pointer to the limit logs size recommendation. We'll now close this issue.

[2021-05-01 00:02] #50756 closed

[2021-05-01 00:21] lawrenceong001 commented on #74581
@PramodValavala-MSFT -- I'm following the example in this page. in the section

#Configure a JWT validation policy to pre-authorize requests

the validate-jwt policy fails, and when I inspect the access token, I find that the aud is not pointing to my application, but to "00000003-0000-0000-c000-000000000000".

how can this be resolved such that it's checking my app id?

tks.

[2021-05-01 00:46] jasonhorner opened #74644 "batchcount is missing from json example and parallel section is slightly misleading / inaccurate"
in the following section:
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-for-each-activity#parallel-execution

If isSequential is set to false, the activity iterates in parallel with **a maximum of 20 concurrent iterations.** This setting should be used with caution. If the concurrent iterations are writing to the same folder but to different files, this approach is fine. If the

[2021-05-01 01:03] Karishma-Tiwari-MSFT commented on #74393
@KonTheCat Does that help answer your question?

[2021-05-01 01:23] SaurabhSharma-MSFT commented on #74616
@glglak Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-01 01:30] SaurabhSharma-MSFT commented on #74626
@jochenvw Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-05-01 01:31] SaurabhSharma-MSFT commented on #74634
@adiazcan Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-01 01:32] SaurabhSharma-MSFT commented on #74639
@aandrew129 Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-01 03:36] BharathNimmala-MSFT commented on #74642
@edisga Thank you for your feedback, our team will look into it and get back to you at the earliest.

[2021-05-01 03:43] jasonhorner commented on #70011
It did thanks very much @jovanpop-msft  and @julieMSFT

[2021-05-01 03:48] BharathNimmala-MSFT commented on #74327
@Ronnie-personal Apologies for the delay on getting back to this thread.

Thank you for your query. I am currently checking with our internal team on this, will keep you updated as I get more information.

[2021-05-01 04:00] BryanTrach-MSFT commented on #74642
@edisga We have created a PR and are awaiting for the doc author to approve the merge. We hope to have this done early next week.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-01 04:00] #74642 closed

[2021-05-01 04:01] poumason opened #74645 "How create webhook of speech to text?"
Hello,
I don't understand how to create webhook of Speech to Text API v3.0 with Slack.
follow my request body:

[code]
About the secret propery, I try to setting my slack webhook signing secret and verficiation token, but it is not work.
I set my webhook of slack url into the webUrl property.

How can I create the webhook?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-05-01 05:54] JonSilver commented on #49245
Is there any update to this issue? Its been affecting B1 plans for a long time now. I raised this as a premium support issue back in 2018/9. Alas the conclusion then was "that's just the way it is, we don't support websockets on Linux B1".

[2021-05-01 05:59] JonSilver commented on #31771
This seems related to https://github.com/MicrosoftDocs/azure-docs/issues/49245
@michalczerwinski @Corstiaan84 are you still experiencing this issue?

[2021-05-01 07:31] BoxOfPain commented on #74554
@MicrosoftGuyJFlo, Thank you!

[2021-05-01 07:31] #74554 closed

[2021-05-01 10:42] KrishnaG-MSFT commented on #74644
@jasonhorner Thanks for your comment! We will review and provide an update as appropriate.

[2021-05-01 10:45] KrishnaG-MSFT commented on #74645
@poumason Thanks for your comment! We will review and provide an update as appropriate.

[2021-05-01 11:59] DaSenf opened #74656 "Missing comma in SQL script"
Hi,

i noticed there is a comma missing in this SQL script

SELECT
    TOP 100 *
FROM
    OPENROWSET(
            BULK '/users/NYCTripSmall.parquet',
            DATA_SOURCE = 'ContosoLake'          <-
            FORMAT='PARQUET'
    ) AS [result]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fd3e66e-a012-dd40-34f3-

[2021-05-01 12:01] tv505 opened #74657 "Page should include github permission requirements."
After authorizing a new github account from the Azure Deployment Center, I can browse organizations, but no repos are listed.
The text on the Azure Deployment Center page says:
    _If you can’t find an organization or repository, you may need to enable additional permissions on GitHub. Learn more_

The "Learn more" brought me to this doc page, but there is no information on the page regarding "ad

[2021-05-01 12:24] naman108 commented on #25096
I had the same issue I've concluded it is not possible at the time of posting based on fact that there is no connect-dataset in office365 connector which contains the one drive data, https://docs.microsoft.com/en-us/graph/data-connect-datasets

[2021-05-01 13:45] shashishailaj commented on #67959
WE checked this and foud that the page says it correctly . The service principal route is used in case of contributor . Hence either you require to be an owner or as an owner you should have already finished setting up the permissions for the service principal.

Thank you

[2021-05-01 13:45] #67959 closed

[2021-05-01 13:50] shashishailaj commented on #66563
WE were not able to verify this and hence we would like to understand more on this. Could you please send us an email on azcommunity [at] microsoft [dot] com with a subject line  "ATTN Shashi" and referencing this issue and we will help you with the next steps of engagement .

Thank you. .

[2021-05-01 13:50] #66563 closed

[2021-05-01 16:04] SaurabhSharma-MSFT commented on #74656
@DaSenf Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-01 16:06] SaurabhSharma-MSFT commented on #74657
@tv505  Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-01 18:08] dotnetpiper opened #74660 "Creating Dashboard using Kusto query in ARM Template format"
Hope you all are doing good. I've working on Kusto query which runs against Azure Kubernetes cluster. it works fine though when i try to incorporate within ARM template to create dashboard it throws me an error related to "expected token 'RightParenthesis' and actual 'Identifier'".

Running query in log analytic workspace is given below:

let clusterName = 'AKS';
Perf
| where TimeGenerated > ago(2

[2021-05-01 19:03] bertovn opened #74661 "Irrevelant guide"
[Enter feedback here]
Hey Terrasoft and MS teams,
this guide describes the old root domain for the org tenant in SAML config:
![image](https://user-images.githubusercontent.com/54134702/116792355-c29a3800-aac8-11eb-9c62-31e37cec0eeb.png)
But Terrasoft team configuring SAML for clients with the Terrasoft.ru domain. Please fix this moment, it irritates me (and i suppose I'm not alone)

---
#### Docu

[2021-05-01 19:57] MalvinOsborne opened #74662 "Too many errors!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aecf9610-b6e2-75fc-a674-869d9b95702c
* Version Independent ID: 360def71-eacf-185b-4f6d-41e60e57e610
* Content: [Tutorial: Create an Android app that uses the Microsoft identity platform for authentication - Microsoft identity platform](https://docs.mi

[2021-05-01 22:05] gabriel-kohen-by opened #74663 "Brotli as possible compression retuned value is missing"
[Enter feedback here]
The list of possible returned compression types should also include `br`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c275c6c5-97cb-1c68-60b9-38668c3852cd
* Version Independent ID: 9b8d5a5f-29f8-07ef-8d17-ba00a8480fd6
* Content: [Troubleshooting file compression in Azure CDN](https://docs.micros

[2021-05-02 00:14] SaurabhSharma-MSFT commented on #74660
@dotnetpiper To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either Microsoft Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2021-05-02 00:15] SaurabhSharma-MSFT commented on #74661
@bertovn Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-05-02 00:17] SaurabhSharma-MSFT commented on #74662
@MalvinOsborne Thanks for your feedback! .  Can you please more details where are you getting errors ?

[2021-05-02 00:19] SaurabhSharma-MSFT commented on #74663
@gabriel-kohen-by Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-05-02 01:44] sokoloffmaks opened #74664 "Azure files share disk space free (percentage)"
Hi, requesting update this documentation page on how to view/see Azure File share disk space free ( percentage).
I.E. if Azure file share set with 100 Gb quota and if provisioned/used space = 80 Gb , percentage free = 20 % available
I need to place it on a dashboard so that Operations team could see that live data
Currently, I can only see azure files space used ( out of the box  metric)

---
####

[2021-05-02 04:04] MarileeTurscak-MSFT commented on #74562
Thanks! I made a pull request to update this.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/156967

[2021-05-02 04:04] #74562 closed

[2021-05-02 04:14] MarileeTurscak-MSFT commented on #74553
@vicperdana, I believe that would be covered in:

"Guest users who request an access package."

Sponsors still need to be guest users or Member users and all users who request access packages need the p2 license.

Do you still think it needs to be added more explicitly?

+ @barclayn for thoughts?

[2021-05-02 04:35] SamRakaba opened #74666 "CIDR ranges allowed? in configuration policy"
[Enter feedback here]
Is it supported to have a list of CIDR in the allowed prefix,  and if so how to setup the string I tried multiple numerations and all does not seem to have worked

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Version Independent ID: d1215107-abf9-fefd-a63b-b

[2021-05-02 07:26] HarshitaSingh-MSFT commented on #74580
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-05-02 07:26] KalyanChanumolu-MSFT commented on #74464
@munir94 I hope that answers your question.
We will proceed to close this issue now.

[2021-05-02 07:26] #74464 closed

[2021-05-02 09:09] worldspawn opened #74668 "Running the strongswan vpn client in a kubernetes environment."
I am trying to follow this guidance in the context of a kubernetes pod running a debian 10 based container. So far I've learnt that you must add the NET_ADMIN capability.

[code]

Im able to start the connection process but it is unable to reach the target server.  I suspect some intricate container network configuration is required. Could you see yourselves to expanding this guidance on how to ge

[2021-05-02 10:53] DavidTrigano commented on #74628
Hello @SenthuranSivananthan,

I updated the links to the new ones. The change will be effective in 24 hours.
Thank you again for your feedback.

Best,
D.

[2021-05-02 11:35] noakup commented on #74327
There is a feature improvement currently in private preview, that allows reaching more than 50 resources (it's practically unlimited). The improvement is referred to as Endpoint compression. Please contact me at noakuper@microsoft.com to join the private preview or get more details.

[2021-05-02 13:07] pfjtaylor opened #74669 "SendGrid no longer offers a free account. This is a problem for small time users for whom $9= a month actually amounts to a lot of money over time."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 027fa865-2329-23de-3740-cfbe35359302
* Version Independent ID: 99f0a52f-8df4-f8d4-3d4e-778fea2a389f
* Content: [Troubleshoot outbound SMTP connectivity in Azure](https://docs.microsoft.com/en-us/azure/virtual-network/troubleshoot-outbound-smtp-connect

[2021-05-02 15:00] BhargaviAnnadevara-MSFT commented on #74521
@jongio Thanks for catching that error in the docs. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-05-02 15:00] #74521 closed

[2021-05-02 16:22] SaurabhSharma-MSFT commented on #74664
@lgayhardt Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-05-02 16:24] SaurabhSharma-MSFT commented on #74666
@SamRakaba Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-02 16:25] SaurabhSharma-MSFT commented on #74668
@worldspawn Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-02 16:27] SaurabhSharma-MSFT commented on #74669
@pfjtaylor Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-02 16:34] lispercat opened #74671 "Please add some information on how the certificate is managed by PKI (revocation for example)"
[Enter feedback here]

Great document which describes the basics of the certificate based authentication.
The document only touches on self-signed certificates. How about certificates managed by a PKI of the organization?
What happens if the certificate gets revoked, will Azure AD check the CRL of the PKI managed certificate?
---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-05-02 16:50] BhargaviAnnadevara-MSFT commented on #74560
@BernardA Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-05-02 16:50] #74560 closed

[2021-05-02 17:55] IdanZel opened #74672 "Difference between TelemetryContext.GlobalProperties and ISupportProperties.Properties is not explained"
[This page](https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics) demonstrates the ways in which custom properties can be attached to telemetry items, which are:
1. Adding items to `ISupportProperties.Properties`
2. Adding items to `TelemetryContext.GlobalProperties`
3. Using overloads that accept an `IDictionary<string, string> properties` as a parameter (such overlo

[2021-05-02 19:53] mmacy commented on #74662
@MalvinOsborne @SaurabhSharma-MSFT This open issue on Android quickstart might be related:

**#72118**: New implementations of adding MSAL to an Android application will not build using the current documentation. The following needs to be added to the project build.gradle

@MalvinOsborne, can you let us know whether the issue described in the quickstart similar to your issue with this tutorial?

C

[2021-05-02 20:35] vJenny opened #74673 "Missing property in config file"
It is not possible to reproduce the tutorial using the configuration file template provided in the documentation:
[code]
Getting the following error:

[code]
To be able to reproduce the steps I had to add the following line to the configuration file:
[code]
Could you please update the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-05-02 21:27] mohatb commented on #74206
Thanks @Karishma-Tiwari-MSFT - I've created the PR https://github.com/MicrosoftDocs/azure-docs/pull/74674 but it seems I cannot assign users. can you please check ?

[2021-05-02 22:32] NavtejSaini-MSFT commented on #74398
@sunilagarwal We have assigned this to you for further action or reply.

[2021-05-02 22:47] ciph3rwoman opened #74675 "Documentation inconsistent"
The documentation for COSMO is talking about Families in one tab and then jumps to food groups.

I think if our customers were following the documentation for guidance it will get confusing as it is not consistent. I suggest we make some consistencies and I am happy to help with that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-05-02 22:50] NavtejSaini-MSFT commented on #74615
@sunilagarwal According to the [document ](https://techcommunity.microsoft.com/t5/azure-database-for-postgresql/securing-connectivity-to-azure-database-for-postgresql/ba-p/789591) the port 5432 for Postgresql and 3306 for Maria DB and Mysql.

Please confirm the diagram has to be changed.

[2021-05-02 22:58] NavtejSaini-MSFT commented on #74617
@danimir We checked that online migration to Azure SQL with DMS is not supported. We need to remove this info from various pages.
Adding @pochiraju who is also looking into the issue raised previously for this - https://github.com/MicrosoftDocs/azure-docs/issues/71200
Let us know how to make this broader change,

[2021-05-02 22:59] NavtejSaini-MSFT commented on #74675
@ciph3rwoman We are checking this and will get back to you.

[2021-05-02 23:16] okan-aslaner-bib commented on #74615
I am referring to https://docs.microsoft.com/en-us/azure/postgresql/overview-single-server

[2021-05-02 23:22] SenthuranSivananthan commented on #74628
Thanks for the quick turnaround David.  Looks like the new links are published.

I think it's safe to close this issue.

[2021-05-02 23:56] SaurabhSharma-MSFT commented on #74673
@vJenny Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-02 23:57] SaurabhSharma-MSFT commented on #74672
@IdanZel Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-02 23:58] SaurabhSharma-MSFT commented on #74671
@lispercat Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-05-03 00:21] BharathNimmala-MSFT commented on #74327
Thanks a lot @noakup for helping on the thread.

@Ronnie-personal Thanks again for reaching out with your query, hope the above information helps. Please let us know if you have any further queries.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue for now, however if you have any further feedback on the document p

[2021-05-03 00:21] #74327 closed

[2021-05-03 00:27] BharathNimmala-MSFT commented on #74339
@Ronnie-personal Hope the above information shared helps. Please review it and let us know if you have any further queries.

At this point it appears that there's no further edits or updates needed to the documentation mentioned in this issue. We will go ahead and close this issue for now, however if you have any further feedback on the document please tag us in your reply and will be happy to reo

[2021-05-03 00:27] #74339 closed

[2021-05-03 01:40] GarySurati opened #74676 "No link"
Towards the end of the article in Step 9 Verify the result, in step 1 it says "Add the geo to the selected attribute on a user. The list of available geos can be found in this table." but there is no table there. Probably you referring to table at the beginning of the article which has Geo and preferred data location value.

May be remove "The list of available geos can be found in this table." or

[2021-05-03 02:27] wely opened #74677 "Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "Deployment" in version "apps/v1beta2""
Page: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-howto-on-premises

After i run:
helm install onprem-speech microsoft/cognitive-services-speech-onpremise \
    --version 0.1.1 \
    --values <config-values.yaml>

I encountered the error of :
Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "D

[2021-05-03 02:36] KrishnaG-MSFT commented on #74446
Assigning to @MGoedtel for visibility, review and document enhancement consideration if appropriate.

[2021-05-03 03:12] ram-msft commented on #74452
@deryann Thanks for the feedback. Raised the #https://github.com/MicrosoftDocs/azure-docs-pr/pull/156998 request for the correct miniconda.

[2021-05-03 03:12] ram-msft commented on #74452
@deryann We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-03 03:12] #74452 closed

[2021-05-03 03:16] ram-msft commented on #74518
@sunnyhay Thanks, Please follow the [Troubleshooting document](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-troubleshoot-deployment?tabs=azcli) when deploying a model to Azure Container Instances (ACI) and Azure Kubernetes Service (AKS) using Azure Machine Learning.

[2021-05-03 03:23] ram-msft commented on #74518
@sunnyhay We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-03 03:23] #74518 closed

[2021-05-03 03:24] reed9999 opened #74681 "FORM"
Generally a good tutorial, but I have a small technical issue (here) and a general suggestion (under separate cover).

When I attempt one of the last steps:
[code]
It gives me this:

[code]

It seems to run with a comma after `'ContosoLake'`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fd3e66e-a012-dd40-34f3-1e8486

[2021-05-03 03:24] KalyanChanumolu-MSFT commented on #74400
@sheetallomate Its been a while we heard from you.
We will proceed to close this issue now.
If you need further assistance, please post this issue on [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/topics/azure-sql-database.html)for better visibility

[2021-05-03 03:24] #74400 closed

[2021-05-03 03:26] reed9999 opened #74682 "Suggestion: Integrate with MS Learn tutorial"
Generally a good tutorial; my suggestion is to integrate it better with a related tutorial on Microsoft Learn.

As a newbie to Azure docs and to MS Learn, it's hard to understand how this integrates with https://docs.microsoft.com/en-us/learn/modules/design-azure-sql-data-warehouse/. Obviously that other one is more conceptual, but are they covering similar territory at different levels of detail?

[2021-05-03 04:23] amtkhdkr opened #74683 ""SIG create" and "SIG image definition create" JSON templates not found"
This page linked to a template but the source Github repository is now no longer found:
1. https://azure.microsoft.com/en-us/resources/templates/101-sig-create/
2. https://azure.microsoft.com/en-us/resources/templates/101-sig-image-definition-create/

Please update the link to point to an appropriate repository with the correct Template definitions.

---
#### Document Details

⚠ *Do not edit this

[2021-05-03 04:28] ram-msft commented on #74677
@wely Thanks for the question. We are investigating the issue and will update you shortly.

[2021-05-03 04:51] SnehaAgrawal-MSFT commented on #74461
@LukeShe Since we did not hear from you. We will now close this out but if you feel you need more information please just let us know

[2021-05-03 04:51] #74461 closed

[2021-05-03 04:53] SnehaAgrawal-MSFT commented on #74540
@KreizIT Thanks again for the feedback! The PR has been created, once verified by author it will be visible. We will close this out but if you feel you need more information please just let us know.

[2021-05-03 04:53] #74540 closed

[2021-05-03 05:18] Tarjei-stavanger commented on #74264
The way you secure that page is annoying to put it mildly.

There is no way I'm going to make a suggestion with that setup.

[2021-05-03 05:28] psmanhas commented on #74683
@amtkhdkr Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-03 05:29] psmanhas commented on #74683
@axayjo Can you please check and add your comments on this doc update request as applicable

[2021-05-03 05:30] JayaChatterjee-MSFT commented on #74676
Hello @GarySurati, Thank you for your feedback! We will review and update as appropriate.

[2021-05-03 05:34] elraikhm opened #74684 "Only refers to the .Net quick start, are there quick starts for other languages"
The getting started content only shows Quickstart for .Net, are there plans to refer to other programming languages quickstarts?
ddcc1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cd9a43c-1db8-eed4-5c76-4206c639c8ec
* Version Independent ID: 22eb758f-6247-ab43-76c3-30982b5c9282
* Content: [Introduction to the Azure

[2021-05-03 05:38] v-amallick commented on #74122
@KrishnaG-MSFT
Thank you for adding me here. I will check this and get back.

[2021-05-03 06:04] ozbillwang opened #74685 "Centos Distribution - How to get the latest version of CentOS 7.x?"
[Enter feedback here]

The document only points out that there is a centos 6.x, 7.x and 8.x we can use, but how can I find out what's the latest version, for example, centos 7, will it be 7.6 or others?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea02d36-fca1-a329-f539-90e22b698977
* Version Independent ID: 35d1f89

[2021-05-03 06:32] psmanhas commented on #74393
@KonTheCat Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-05-03 06:32] #74393 closed

[2021-05-03 06:43] KalyanChanumolu-MSFT commented on #74684
@elraikhm Thank you for reaching out.
We have QuickStart's and Samples for other languages as well.
Please check the screenshot below

![image](https://user-images.githubusercontent.com/8835012/116847750-c7fe9c00-ac08-11eb-927e-f172e5b93755.png)

[2021-05-03 06:48] KalyanChanumolu-MSFT commented on #74681
@reed9999 Thank you for taking the time to report this issue, I have updated the doc accordingly.
The changes should be live soon.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.
We love taking contributions from the community.

[2021-05-03 06:50] JayaChatterjee-MSFT commented on #74682
Hello @reed9999 Thank you for your feedback! We will review and update as appropriate.

[2021-05-03 06:52] KalyanChanumolu-MSFT commented on #74681
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-05-03 06:52] #74681 closed

[2021-05-03 06:59] alexandermckay commented on #45642
3.9k issues - crikey. [Here is one solution](https://martinbjorkstrom.com/posts/2020-02-12-testing-protected-azure-functions)

[2021-05-03 07:28] axayjo commented on #74683
@olayemio Can you please take a look at this?

[2021-05-03 07:31] psmanhas commented on #74539
@qmacro When you create an AKS cluster as part of an Azure resource group, all it contains is the AKS cluster and not the other AKS components such as nodes (virtual machines) etc. These resources related to your AKS cluster are a part of a different resource group which is automatically created during deployment - this is known as the Node Resource Group and is different from the resource group t

[2021-05-03 07:31] progaddict opened #74686 "How to allow Event Grid Principal to access the AD secured endpoint without Powershell ? (i.e. with azure CLI or via Portal UI)"
I do not have Windows and therefore Powershell. How do I perform the same actions via Azure CLI?

In particular, I haven't found how to perform the [New-AzureADServiceAppRoleAssignment](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadserviceapproleassignment?view=azureadps-2.0) command via Azure CLI.

There is of course the [az role assignment](https://docs.microsoft.com/en-u

[2021-05-03 07:39] yoelhor commented on #74537
Dear @nkumars, I think I have managed to reproduce the issue in my environment. Let me see if I understood you correctly. When you try to use a custom HTML page, or Ocean Blue template for the sign-up or sign-in page, the error message is still presented using the legacy template, such as the following one:

![image](https://user-images.githubusercontent.com/20111866/116851733-a0ed9d80-abfb-11eb-9

[2021-05-03 07:59] psmanhas commented on #74401
@cuongdnv2307 Apologies for the delay in response and all the inconvenience caused because of the issue.

Did you got a chance to go through below links:

https://azure.microsoft.com/en-in/services/virtual-desktop/vmware-horizon-cloud/#documentation

https://www.vmware.com/in/products/horizon-cloud-virtual-desktops.html

https://www.nakivo.com/blog/key-differences-between-vmware-horizon-and-vdi/

[2021-05-03 08:43] GitaraniSharma-MSFT commented on #74460
@bigkangji , thank you for the feedback. You are correct about the document still displaying old content. Hence, We have assigned this to the content owner/author for review & updating the doc accordingly.

@KumudD , request you to update the [Create a peering section](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-peering#create-a-peering) with the new settings as s

[2021-05-03 08:47] vishalaj1 opened #74687 "ADLS Gen 2 - Not working"
[Enter feedback here]
Hi,

I was trying to push event hubs to adls gen 2 with hierachical names space. It does not seem to work. Messages are in incoming but are never delivered after capture to destination.

It does mentions it is supported but it does not seem to work.

Regards,
Vishal
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-05-03 08:54] chengyu-liu-cs opened #74688 "How to connect from Linux ?"
[Enter feedback here]

Hi
All examples here are dependent on DSN created in a Windows system.

How can I use python from Linux system to connect to Azure Databricks???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2751577-7dd1-6d87-58b1-5dceef50dded
* Version Independent ID: 23947f79-540e-22ca-a354-a80f3f886a41
* Con

[2021-05-03 09:02] bmvalente commented on #74490
@sukhans I do not agree. If we want to help the community (which most of them will have less knowledge than the team managing these docs) than at least provide them guidelines to help them make the right decisions. Without recommending specific 3rd party tools, at least you should have a table that maps the tools that were part of MSCA and map them to alternatives in the OWASP list that can be lev

[2021-05-03 09:34] GavinEke opened #74690 "Contradiction in supported and unsupported administrator operations"
The document contradicts itself by having Microsoft Graph API listed in both Supported administrator operations and Unsupported administrator operations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebc51bb0-dd9d-cb3f-3e3f-b9765b48f21d
* Version Independent ID: d597a70e-8fb1-0e4e-8ae0-e3cd87de1118
* Content: [On-prem

[2021-05-03 09:36] GitaraniSharma-MSFT commented on #74606
@yutaro113 , as per [App Service Outbound Addresses](https://docs.microsoft.com/en-us/azure/app-service/networking-features#outbound-addresses), the App Service inbound addresses are tracked in the **AppService** IP service tag. There's no IP service tag that contains the outbound addresses used by App Service.
Hence, AppService tag is recommended for outbound security rules to web apps and Functi

[2021-05-03 09:36] #74606 closed

[2021-05-03 09:46] barakakha opened #74691 "When CosmosDB app context authorization (RBAC) planned to be GA?"
When CosmosDB app context authorization (RBAC) planned to be GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba612b3-f404-11b2-45d9-6e10f1fbf11d
* Version Independent ID: 86ccb46e-5ebd-50a4-a911-2ac83c8a41f4
* Content: [Configure role-based access control for your Azure Cosmos DB account with Azure AD](https://docs

[2021-05-03 10:02] v-amallick commented on #74122
@mepand

Request you to please look into the issue.

[2021-05-03 10:03] v-amallick commented on #74122
#reassign:mepand

[2021-05-03 11:00] nkumars commented on #74537
@yoelhor, thanks for addressing, the issue is not in sign-up or sign-in page or at least not the ones I tested, but rather the other set of pages in **Signup and Sign-in** user flow after I plugin an API connector _(which I know will work only for social IDPs)_. I believe it is **Error page**. In Azure Function, I return

[code]

and do not wanted to continue further for user creation. I assume fo

[2021-05-03 11:03] JayaChatterjee-MSFT commented on #74690
@GavinEke Thank you for your feedback! We will review and update as appropriate.

[2021-05-03 11:04] JayaChatterjee-MSFT commented on #74686
@progaddict Thank you for the question. We will review and get back to you.

[2021-05-03 11:22] JayaChatterjee-MSFT commented on #74685
@ozbillwang Thank you for the question. We will review and get back to you.

[2021-05-03 11:27] HarshitaSingh-MSFT commented on #74580
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-05-03 11:41] AliGuemues opened #74692 "How to use Kiosk mode on Azure VM?"
Hello,

I hope this is the right place for this issue. If not I apologise in advance.

I have the following problem: We using a Azure VM with Windows 10 which is connected with our Azure AD. We want to use the Kiosk mode with a UWP app. To access the Kiosk mode there is only the option to connect via RDP, which is fine.

Now on the Azure Endpoint Manager I created a single app Kiosk Mode profile,

[2021-05-03 11:57] KalyanChanumolu-MSFT commented on #74691
@barakakha Thank you for reaching out.
RBAC with Azure AD is currently in preview.

Tagging @ThomasWeiss to share any communication on timelines for GA.

[2021-05-03 12:31] yoelhor commented on #74225
I have fixed some issues related to both `ShowBlockPage` issue and how to return a value (override user's values). The GitHub issue will be automatically closed. If you have any questions or need further information, please open new GitHub issue.

[2021-05-03 12:37] yoelhor commented on #74024
Closing due to inactivity

#please-close

[2021-05-03 12:37] #74024 closed

[2021-05-03 12:41] ram-msft commented on #74594
@sunnyhay Thanks for the feedback. We would recommend to raise a Azure support desk ticket from Help+Support blade from Azure portal for your resource. This will help you to share the details securely and work with an engineer who can provide more insights about the issue that if it can be replicated.

[2021-05-03 12:41] #74594 closed

[2021-05-03 12:47] shashishailaj commented on #74605
@o-l-a-v As per the information I got internally at this point this does not work with the B2B users. Anything where B2B ids are allowed should support oAuth or modern authentication mechanism's for authentication . In this case we are relying on old protocols. Hope this clarifies the query .

[2021-05-03 12:47] #74605 closed

[2021-05-03 12:48] shashishailaj commented on #74597
@cking-uttyler-edu We have assigned this to the content team to review and update on the same.

[2021-05-03 12:48] o-l-a-v commented on #74605
@shashishailaj

Thanks. Please add that to the documentation as well. I'm sure more than me will look for this information. :)

[2021-05-03 13:03] shashishailaj commented on #74595
@nikki-c You are correct with your statement that at least one P2 license will be needed in this case to avail all guest self access review . I have assigned this to the content team to review and change the document as needed .

[2021-05-03 13:06] shashishailaj commented on #74505
@zuboje This is work in progress and will be updated once PG have reviewed and sign-off the change  .

[2021-05-03 13:06] TheITguy666 opened #74693 "Inconsistent with real Azure experience"
There must be something wrong with the Azure or the role requirements:
- this document states that the pre-requisites are: 'Privileged Role Administrator'
- But if I assigned that role to an account, I still got an access denied

If I go to the referenced role page: https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference :
- Only the global admin has the "microsoft.dire

[2021-05-03 13:10] shashishailaj commented on #74590
@mlcooper We have requested the content team to review this ask and update the docs as necessary .

[2021-05-03 13:14] shashishailaj commented on #74533
@Nicholak-MS Could you please review and add it to the list as requested

[2021-05-03 13:17] KranthiPakala-MSFT commented on #74687
Hi @vishalaj1
Thank you for reaching out. Could you please confirm if your destination storage (Azure Storage or Azure Data Lake Storage) account is in the same subscription as the event hub? Also please do confirm if you have followed all the steps mentioned in this tutorial.

![image](https://user-images.githubusercontent.com/50185738/116880656-23179b00-abd7-11eb-8fc1-25b2e55ae1d6.png)

Thanks

[2021-05-03 13:17] shashishailaj commented on #74487
@Nicholak-MS Could you please review this ask and update the thread. ?

[2021-05-03 13:24] qmacro commented on #74539
Thanks @psmanhas - I understand that bit, and it was explained well in the actual FAQ answer to which I referred.

With this issue I'm calling out the specific reference to what's automatically deleted, i.e. the second resource group, known as the node resource group. In the text that I highlighted (above), it says:

and I think it should say

(Emphasis mine).

[2021-05-03 13:36] jb3170 commented on #19456
I guess one way around it would be to add a self-hosted agent into a vnet with access, that way you only have to deal with one IP. That could/would work for both azure pipelines and github actions provided you can get such a VM allowed into the whole infrastructure

whitelist ip ranges will not work, e.g. for github actions the list is updated weekly and with 1700+ ip's on the list, it is well ove

[2021-05-03 13:37] psmanhas commented on #74536
@hrittikhere Apologies for the delay in response and all the inconvenience caused because of the issue. I tried to follow the steps as mentioned in the article and was successfully able to create VM and configure IIS server :

![image](https://user-images.githubusercontent.com/35990743/116882689-5b07f800-ac42-11eb-9c5d-b96646f988b6.png)

![image](https://user-images.githubusercontent.com/35990743/

[2021-05-03 13:40] psmanhas commented on #74539
@qmacro Thank you for the explanation. I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-03 13:43] MGoedtel commented on #74446
@mdlister - Thanks for bringing this to our attention.  Recently there have been a number of changes implemented by the AzMon Log Analytics team to the user experience in the portal. I'm going to create a work item for this and get it fixed during our May sprint.  #please-close

[2021-05-03 13:43] #74446 closed

[2021-05-03 13:53] yoelhor commented on #72465
The article is now updated [with the technical requirement](https://docs.microsoft.com/azure/active-directory-b2c/api-connectors-overview#rest-api-platform).

#please-close

[2021-05-03 13:53] #72465 closed

[2021-05-03 13:54] #74420 closed

[2021-05-03 13:54] #74225 closed

[2021-05-03 13:56] yoelhor commented on #73175
#please-close

[2021-05-03 13:56] #73175 closed

[2021-05-03 14:00] blacksheep-- commented on #74420
Hey @MarileeTurscak-MSFT thank you!

But why is this closed without any changes being made?

[2021-05-03 14:07] blacksheep-- opened #74696 "#74420 still not fixed, should be re-opened"
There is still no supposed solution for #74420, but it's just been silently closed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dff7a38-a459-4eb9-22fe-d225eeac5e34
* Version Independent ID: c3e92211-d07e-edec-3a08-eb68a26859bb
* Content: [Define a RESTful technical profile in a custom policy - Azure AD B2C](https:/

[2021-05-03 14:11] aprete commented on #72355
Hi, I can reproduce the bug deploying a VM in region west-europe.
No other disks should be created*, so only the VM os disk should be returned in the getDisks.
In this case, this API https://docs.microsoft.com/en-us/rest/api/compute/disks/list return an empty list
API Version:2020-12-01

*A workaround to get the disk list is to create another disk

[2021-05-03 14:17] codemaker opened #74697 "Can the guest User be assigned Azure AD Global Administrator rights?"
Can the guest User be assigned Azure AD Global Administrator rights?
How safe is this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0decae5-1977-1db8-8b69-7e9a46919add
* Version Independent ID: f319b342-2f2f-3d71-1beb-0a394517e4b4
* Content: [Elevate access to manage all Azure subscriptions and management groups](ht

[2021-05-03 14:18] OliCSADoerr opened #74698 "What is the region of the Cloud Shell?"
Please be more precise, since this statement is missing an important information:
"Azure Cloud Shell has a limit of 20 concurrent users per tenant per region."
According to the Azure Products Site, the Cloud Shell is a non-regional service. Therefore it would be great to know, how the "region" in the sentence before is determined. Does it may align with the storage account which is the foundation

[2021-05-03 14:49] HeidiSteen commented on #74159
@viniciustotti @Careyjmac   I'm going to close this issue.  It looks like the customer is unblocked and Carey has a work item to fill in the content gap.  @viniciustotti if you need more help with this particular issue, feel free to re-open.  Thanks everyone!!

#please-close

[2021-05-03 14:49] #74159 closed

[2021-05-03 14:51] johan12345 commented on #70465
I am still running into this problem with the current version of the Azure ML Python SDK (1.27.0). When the dataset is larger than the size of the local SSD of the Compute VM, the job completely fills the SSD and then crashes with `DiskFullError: Disk full while running job.`.

Is there any way to set the blobfuse parameters `--cache-size-mb` and/or `--file-cache-timeout-in-seconds` to lower value

[2021-05-03 15:00] ram-msft commented on #73948
@wangzheng0310 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-03 15:00] #73948 closed

[2021-05-03 15:09] nibaccam commented on #70465
Hi @johan12345 when you initially create a datastore you can set the `blob_cache_timeout` parameter. For more information about creating/registering a datastore pointing to blob storage and this parameter, see the link below:
https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.datastore.datastore?view=azure-ml-py#register-azure-blob-container-workspace--datastore-name--container-

[2021-05-03 15:14] Oury-MSFT commented on #74628
@DavidTrigano Thanks for updating the docs

[2021-05-03 15:14] #74628 closed

[2021-05-03 15:21] mepand commented on #74122
Acknowledged @v-amallick . Will check and update.

[2021-05-03 15:21] RyanHill-MSFT commented on #74415
@kjeske, we will now proceed to close this thread but do reach out to us at the email above so we can work more closely with you in this matter.

[2021-05-03 15:21] #74415 closed

[2021-05-03 15:24] PramodValavala-MSFT commented on #74544
@xuwenjian1995 Since requests made from the Azure Portal will be a Cross Origin Requests (since the swagger would be hosted on a different domain), it uses a CORS Proxy to fetch the swagger definition.

So, this CORS Proxy (running on the public internet) needs to have access the server where the swagger definition is hosted for it to be able to import from URL. Downloading from the site where you

[2021-05-03 15:26] PramodValavala-MSFT commented on #74581
@lawrenceong001 Could you share how you are fetching the token? Are you testing with the developer portal as in the doc?

[2021-05-03 15:29] PramodValavala-MSFT commented on #74586
@kristyler Could you share the error when trying making a POST call to `http://localhost:7071/api/orchestrators/HelloOrchestrator`?

Also, could you elaborate on your scenario with the pipeline and time out?

[2021-05-03 15:32] mepand commented on #74423
Thanks @zahraasaleh for the valid feedback. We will soon update the document.

[2021-05-03 15:34] johan12345 commented on #70465
Okay, so that parameter then also applies to all datasets referencing files from that datastore? There's no way to set it for datasets in an already existing datastore?

[2021-05-03 15:37] bachoang opened #74700 "Expected scope for MSAL client app calling API App published via Azure App Proxy"
[Enter feedback here]
The provide MSAL code on this page needs to be clearer about what the scopes should be for MSAL client app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1beb230a-bc3e-1db3-772e-7a021dab126d
* Version Independent ID: d314a3eb-3383-772b-d1a0-9f1f5c7bc4b0
* Content: [Access on-premises APIs with Azu

[2021-05-03 15:37] PramodValavala-MSFT commented on #74363
@TanGolf We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2021-05-03 15:37] #74363 closed

[2021-05-03 15:39] Nicholak-MS commented on #74487
I have an internal thread going here to see if this is possible or not. Waiting on a response there.

[2021-05-03 15:40] RyanHill-MSFT commented on #74418
@andylholloway we will now proceed to close this issue. If you need further assistance, please feel free to reopen the issue and tag me in your reply.

[2021-05-03 15:40] #74418 closed

[2021-05-03 15:44] LuisCabrer commented on #74511
@NeilDechert, unfortunately it is not possible to get the new highlighting behavior on services created before July 15.

[2021-05-03 15:46] Nicholak-MS commented on #74533
There is a PR pending review for this change. https://github.com/MicrosoftDocs/azure-docs-pr/pull/156619. @shashishailaj can you review and approve and get it on the next deployment?

[2021-05-03 15:46] vlado101 commented on #74495
Hi @minhe-msft,

Thank you for the detailed reply. So the weird thing is that we are able to get the data from the ADF pipelines most of the time. The frustrating this is that when the issue comes up, it comes up random. What I mean is that if I check Control-M I see that the job failed. When I log into adf I can see that the pipeline succeeded.

The only thing I can think of might be the IRs. The

[2021-05-03 15:51] JamesTran-MSFT commented on #74693
@TheITguy666
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-03 15:53] JamesTran-MSFT commented on #74697
@codemaker
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-03 15:53] JamesTran-MSFT commented on #74700
@bachoang
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-05-03 15:58] HeidiSteen commented on #74511
@NeilDechert Sorry there isn't a better solution for you. Usually we recommend that customers use their source code to re-create and reload indexes but there is a sample "backup/restore" solution that others have used successfully in the past.  Here is the link if you are interested:  https://docs.microsoft.com/en-us/samples/azure-samples/azure-search-dotnet-samples/azure-search-backup-restore-ind

[2021-05-03 16:37] blacksheep-- commented on #74696
Hey @JamesTran-MSFT, thanks for your answer. Is the PR already merged? Because I really don't see any difference in the documentation on that specific point. Also I think if the outcome is just a removal of {claim1} from the host-part of the ServiceUrl, this should be discussed. This is because I really don't see a reason, why this should not be allowed. Maybe someone can shed some light into the

[2021-05-03 16:39] JayaChatterjee-MSFT commented on #74688
@chengyu-liu-cs  Thank you for the question. We will review and get back to you.

[2021-05-03 16:40] nickgmicrosoft commented on #74537
Hi @nkumars,

This is a recent roll out so you may not have had this available when you were taking a look. The page that corresponds to an API connector ShowBlockPage is the one below:

![image](https://user-images.githubusercontent.com/58957441/116905185-a7384580-ac0c-11eb-8e8f-d0743dc254cc.png)

It **should** be using the default template set for the user flow now, please let me know if that's

[2021-05-03 16:46] JamesTran-MSFT commented on #74696
@blacksheep--
Thank you for the quick follow up on this!

The PR was merged 4hrs ago. I just check the changes compared to the current doc and it doesn't look like it has updated yet. So I'd recommend giving it some time or checking back tomorrow for the actual changes to show, and if you don't see the document update or are still having issues, please let me know.

Thank you for your time and pat

[2021-05-03 16:54] dlepow commented on #73961
@ig2bagd - Thank you for reaching out. This issue might be similar to that reported in https://github.com/Azure/azure-cli/issues/16317. The solution suggested there is to upgrade to the most recent version of the Azure CLI. Can you let us know if that helps?

As for the `query` and `output` parameters - these are common parameters in the Azure CLI and are not explicitly documented in the command h

[2021-05-03 16:55] minhe-msft commented on #74495
When you checked ADF logs, it might long past the time Activity Run started/finished and the Activity Run ID always showed up. But Control-M might check the Activity Run status right after it is scheduled. This could be timing issue, if Control-M has configurations that you can set delay or retries on status check, that might help.

[2021-05-03 17:06] MonikaReddy-MSFT commented on #74698
@OliCSADoerr -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-05-03 17:07] MonikaReddy-MSFT commented on #74692
@AliGuemues -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-05-03 17:08] #74531 closed

[2021-05-03 17:15] MarileeTurscak-MSFT commented on #74553
I'm closing this as I believe this is covered in the other licensing rules described. Feel free to make a pull request if you think more should be added.

[2021-05-03 17:15] #74553 closed

[2021-05-03 17:16] vlado101 commented on #74495
Hi @minhe-msft,

We can try to do that. There is a refresh setting for Control-M (I believe it is 15 seconds), but the problem is that this refresh setting has not caused an error, or at least not something that points to it.

To test that theory we used the same ADF job which runs for about 5 -10 minutes. We started testing it for about a week and were excited that it did not have issues, then on

[2021-05-03 17:17] CaitlinV39 commented on #74139
This is done :) @NavtejSaini-MSFT #please-close

[2021-05-03 17:17] #74139 closed

[2021-05-03 17:20] JamesTran-MSFT commented on #74676
@GarySurati
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-05-03 17:20] #74676 closed

[2021-05-03 17:23] ThomasWeiss commented on #74691
@barakakha We plan to GA this feature before the end of June 2021.
#please-close

[2021-05-03 17:23] #74691 closed

[2021-05-03 17:29] bkarlow-optimo opened #74703 "confusing. doesn't work"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b62e7bac-03cb-ddc6-49ca-e800ec3bb140
* Version Independent ID: b8e020c5-8c82-3873-9a59-fdb8d8294c87
* Content: [Import Azure Web App to Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/import-app-service-as-api)
* Content So

[2021-05-03 17:32] JamesTran-MSFT commented on #74693
@TheITguy666
Thank you for pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/116910422-764f1500-abfa-11eb-8f17-6a05badd50fe.png)

Adding @ajburnle, the author of the [Create an access review of groups and applications in Azure AD access reviews](https://docs.microsoft.com/en-us/azur

[2021-05-03 17:37] jonburchel commented on #68582
Thanks @dw00100 for reporting this.  That was actually an erroneous misleading screenshot, since the Change Proxy button was highlighted instead of the intended Change Remote Access From Intranet button.  On the Change Proxy button's UI, there _is_ an Address field, which should be the address of the proxy server you require to connect through.  But if you have no proxy server, there is no need to

[2021-05-03 17:37] #68582 closed

[2021-05-03 17:42] SaurabhSharma-MSFT commented on #74569
@nguyenha1311 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-05-03 17:42] #74569 closed

[2021-05-03 17:50] SaurabhSharma-MSFT commented on #74656
@DaSenf I am seeing it correctly -
![image](https://user-images.githubusercontent.com/38112130/116912020-7f40e600-abfc-11eb-97b3-875b4d190da6.png)
Are you checking **en-us** language version of the document ?
![image](https://user-images.githubusercontent.com/38112130/116912658-5bca6b00-abfd-11eb-8076-d686de715ab2.png)

Thanks
Saurabh

[2021-05-03 18:05] mmacy commented on #73988
@trevorhawes Hi Trevor, I've notified the team of your request and hope the information in https://github.com/MicrosoftDocs/azure-docs/issues/73988#issuecomment-828672823 helped out a bit.

If you have any additional questions regarding this topic, please let me know. Otherwise, I'll close this issue out within the next couple days.

[2021-05-03 18:05] theheatDK opened #74705 "It is not possible to list all VMs with Azure Hybrid Benefit in the Portal anymore"
[Enter feedback here]
Hi,
This is stated:
"From the Virtual Machine or Virtual machine scale sets resource blade, you can view a list of all your VM(s) and licensing type by configuring the table column to include "Azure Hybrid Benefit". The VM setting can either be in "Enabled", "Not enabled" or "Not supported" state."

It is not possible to do this anymore. This is true for both the Classic view

[2021-05-03 18:18] vigouredelaruse opened #74706 "support legal audience top level faq redirection on this page"
[Enter feedback here]
this page has all sorts of useful procedural technical information on completing an offer, but could use some support for browsers interested in the associated legal information.

suggestion is to put legal 1 click away please. thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 912373ef-1c18-0c

[2021-05-03 18:20] robertplata opened #74707 "Sort should be Sort-Object?"
The script under "Elastic pool data space allocated and unused allocated space" should specify:
Sort-Object -Property DatabaseDataSpaceAllocatedUnusedInMB

Instead of:
Sort -Property DatabaseDataSpaceAllocatedUnusedInMB

to remove the warning about Alias when editing this script in Visual Studio Code.
'Sort' is an alias of 'Sort-Object'. Alias can introduce possible problems and make scripts hard

[2021-05-03 18:25] robertplata opened #74708 "Get-Credential instead of User and Password?"
Might the script for "Elastic pool data space allocated and unused allocated space" contain an example in using Get-Credential so the reader doesn't try the script using 'userName' and 'password'?

$resourceGroupName = "<resourceGroupName>"
$serverName = "<serverName>"
$poolName = "<poolName>"
$userName = "<userName>"
$password = "<password>"

# get list of databases in elastic pool
$databasesInPo

[2021-05-03 18:32] adamgourd opened #74709 "Azure Files support for Windows Server (on-prem/IaaS) ADDS as well as Azure ADDS"
At https://docs.microsoft.com/en-us/azure/virtual-desktop/fslogix-containers-azure-files#azure-files-integration-with-azure-active-directory-domain-service, the article states: "On August 7th, 2019, Microsoft Azure Files announced the general availability of Azure Files authentication with Azure Active Directory Domain Service (AD DS). By addressing both cost and administrative overhead, Azure Fil

[2021-05-03 18:37] RyanHill-MSFT commented on #74506
I see and thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-03 18:37] rufioIK708 opened #74710 "Account used for local machine sign-in"
This doc details that the device used to make the connection to the VM needs to be Azure AD joined or registered.  I just tried with an AzureAD joined device signed in with a personal Microsoft account and was unable.  Had to sign-in with Azure credentials and then was able to access the VM.  Is this a requirement and should it be specified?
[Enter feedback here]

---
#### Document Details

⚠ *Do

[2021-05-03 18:41] RyanHill-MSFT commented on #74503
The way the doc is structured, I believe is called out. For instance, the first step of the doc is creating the local application and running it locally before publishing the demo app to Azure.

[2021-05-03 18:43] ChNorman opened #74711 "AzureFiles + KeyVault app settings with cross-stamp scaling"
Since KeyFault reference went GA recently for Functions should highlight that you can not use KeyVault reference + azure files with cross-stamp scaling

This limitation is not mentioned in the article anywhere

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID:

[2021-05-03 19:13] DerekHerman-MSFT commented on #74673
@vJenny I am able to mount my container with blobfuse without specifying the authType in the configuration file. Can you let me know which OS you are using?

[2021-05-03 19:14] xinyi-joffre opened #74712 "Emulator vs. Service: Partition Key Character Difference"
Currently, the Cosmos DB Table API Emulator does not support querying partition keys that have a slash in them ("/"), but the service does. The SDK will throw an exception that the request uri is invalid.

Please update the documentation to reflect that difference, and if possible, update the emulator to support slashes in the partition key.

---
#### Document Details

⚠ *Do not edit this section.

[2021-05-03 19:22] Oury-MSFT commented on #74707
@robertplata thanks for your feedback. We will look into this and will get back to you .

[2021-05-03 19:30] sindhuragade opened #74713 "Same edge label between 2 vertices"
When I create an edge between 2 vertices in Azure Cosmos DB using the following query
`g.V().has('firstName','Thomas').addE('knows').to(g.V().has('name','Adam'))`
a new edge with the same label is being created every time instead of identifying that an edge with the label already exists.
Why is it this way?
When would someone add multiple edges with the same label between the same set of vertices?

[2021-05-03 19:35] aapalm opened #74714 "Provide OWASP CRS version info"
We have been testing the "Microsoft_DefaultRuleSet_1.1" managed rules, and seems there's quite a few false positives for us.  For example, rule 942330 is blocking cookies with valid JSON payloads.  Based on CRS Issue [693](https://github.com/coreruleset/coreruleset/issues/693), rule 942330 is disabled by default in version 3.x, however this isn't the case with "Microsoft_DefaultRuleSet_1.1".

It w

[2021-05-03 19:36] Oury-MSFT commented on #74708
@robertplata We are looking into this also and will get back shortly. Thanks

[2021-05-03 19:36] KranthiPakala-MSFT commented on #74688
@chengyu-liu-cs Thanks for reaching out. Are you trying to pull in/subscribe to some data?

[2021-05-03 19:44] JayaChatterjee-MSFT commented on #74703
@bkarlow-optimo Thank you for your feedback! We will review and update as appropriate.

[2021-05-03 19:45] JayaChatterjee-MSFT commented on #74703
@bkarlow-optimo Could you please provide details of the issue?

[2021-05-03 19:51] SatishBoddu-MSFT commented on #74414
Hello @nelz75 Thanks for the feedback to improve this document.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Mic

[2021-05-03 19:51] #74414 closed

[2021-05-03 19:53] jongio commented on #74503
Where do I go to access the data?  Is it in a local copy of SQL?  I don't have SQL installed or the clients?  Do I use VS Code to view the data?  How? Where do I look for it?

[2021-05-03 19:56] MarileeTurscak-MSFT commented on #74710
As mentioned in the document, if you are using an Azure AD registered Windows 10 PC, you need to use the format: AzureAD\UPN(AzureAD\john@contoso.com). To RDP using Azure credentials the user must also have either the Virtual Machine Administrator Login or Virtual Machine User Login role applied.

If you are connecting with a local account and just doing a regular RDP to a VM, you can use vmname\u

[2021-05-03 19:56] #74710 closed

[2021-05-03 19:57] hannesne opened #74716 "Content issue: Incomplete line in overview"
Hey, the following line just ends abruptly - copy paste error?  "Between network isolated application hosting, single tenancy, and the ability"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dcd1a66-7ff7-c0da-b170-c302784221ae
* Version Independent ID: 4766d1de-b033-029a-9860-12a306195c72
* Content: [App Service Envir

[2021-05-03 19:58] badalk opened #74717 "Permissions required for kubelet managed identity"
[Enter feedback here]
If the identity is created by AKS automatically, based on this documentation the kubelet identity is only required to access ACR but when we are using pod identity, AKS is not able to assign pod identity as it does not have Virtual Machine Contributor role assiged and the error we get is

The client '<object id of kubelet managed identity>' with object id '<object id of kubel

[2021-05-03 19:59] Grace-MacJones-MSFT commented on #74711
Hi @ChNorman , thanks for your feedback! We will review and update this doc soon.

[2021-05-03 20:00] ntabris commented on #74711
Fyi, Key Vault references for Functions went GA in 2019:

https://azure.microsoft.com/en-us/updates/general-availability-of-key-vault-references-in-app-service-and-azure-functions/

This undocumented limitation wasted a ton of our time so it would be much appreciated if this was addressed in docs (and also if docs are updated when limitation is removed :-) ).

[2021-05-03 20:00] badalk commented on #73803
Any updates @palma21 @psmanhas . Looks like after no action on this thread the issue will automatically get closed :)

[2021-05-03 20:10] Grace-MacJones-MSFT commented on #74711
Hi @ntabris, we appreciate your feedback and we apologize for the furstration you faced due to the undocumented limitation of  Key Vault references for Functions. We are working to update this doc with up-to-date information.

[2021-05-03 20:17] dckfnuance opened #74718 "Can external tables connect to ADLS private endpoint?"
Can an external table from either serverless or dedicated sql pool connect to a storage account / ADLS using private endpoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33f24f1e-cb2d-7606-16c2-ae19c0db155a
* Version Independent ID: f66744af-ca5a-c506-0186-a7276735a54e
* Content: [Use external tables with Synapse S

[2021-05-03 20:19] jeevansd commented on #74633
@v-hagamp Can you please get this fixed?

[2021-05-03 20:20] #74278 closed

[2021-05-03 20:21] De-stack opened #74719 "Azure DevOps Services move guidance - wrong link -> no resouce"
The page refers to 'Azure DevOps Services move guidance' but the target does not mention any possibility to move an ADO. The link tells something about billing topics.

Beside: Is there any way to move an ADO?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51002d4a-d8de-53d1-2e78-cb0440f5f23e
* Version Independent ID:

[2021-05-03 20:37] ecfan commented on #74278
Hi @mlcooper,

An update will go live later today that has this section:

_**Trigger checkpoint behavior**_

_When an Event Hubs trigger reads events from each partition in an event hub, the trigger users its own state to maintain information about the stream offset (the event position in a partition) and the partitions from where the trigger reads events._

_Each time your workflow runs, the trig

[2021-05-03 20:54] jlichwa commented on #73716
#please-close

[2021-05-03 20:54] #73716 closed

[2021-05-03 21:00] jlichwa commented on #74590
@mlcooper AKV Premium and Managed HSM are two separate product SKUs. Managed HSM is more secure FIPS Level 3 and more costly. AKV Premium is more affordable option integrated with Azure with FIPS Level 2.

[2021-05-03 21:16] bandarusridhar opened #74720 ""service hdinsight-hbrest restart" command is also restarting RS"
As per the document : https://docs.microsoft.com/en-us/azure/hdinsight/hbase/hbase-troubleshoot-rest-not-spending
When you run "sudo service hdinsight-hbrest restart" it restarting Region Server and REST API Server. That command or document need to be update to restart only HBase Rest API Server with " sudo /usr/hdp/current/hbase-master/bin/hbase-daemon.sh restart rest" so that we can avoid restar

[2021-05-03 21:22] mkumar1212 opened #74721 "Example uses a REPLICATE distribution with CCI which can set wrong precedent for best practices"
As per article - https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/cheat-sheet#distributed-or-replicated-tables, A clustered columnstore index should not be built on a table with REPLICATE distribution. However, the example used in current article under section - https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/design-guidance-for-replicated-tab

[2021-05-03 21:23] #74703 closed

[2021-05-03 21:29] danbudimir opened #74722 "There is no example of what the input JSON payload should look like"
In this tutorial, there is no example of what the JSON input payload should look like for a JSON to JSON conversion when using Postman to test.  The only example shown is the output, which would lead the user to believe their input should look like this.
https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-enterprise-integration-liquid-transform#test-your-logic-app
[code]
but it should loo

[2021-05-03 21:37] femsulu commented on #74706
Hello @vigouredelaruse, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-03 21:40] Arjun-Marthala opened #74723 "Unable to register dataset"
[Enter feedback here]

arjun@Azure:~/MLOps/examples/cli-train-deploy$ az ml dataset register -f dataset.json --skip-validation
Missing required package "azureml-dataset-runtime", which can be installed by running: "/usr/bin/../../opt/az/bin/python3" -m pip install azureml-dataset-runtime --upgrade

Unable to register the dataset, package "azureml-dataset-runtime" is installed/available in the envi

[2021-05-03 21:44] jeevansd commented on #65873
@grumm90 We are looking for a possible solution here. Today we just know the request came from the server but because of the loan balancer we dont know what is the end server the response will reach to.

[2021-05-03 21:49] wesmc7777 commented on #73179
Instruction to install Arduino is now step #1 in that section.

#please-close

[2021-05-03 21:49] #73179 closed

[2021-05-03 21:51] wesmc7777 commented on #73179
Instructions to set the Arduino path in CS Code are given.  I'll make them more explicit

[2021-05-03 21:52] jameswestall opened #74724 "No Reference to Cloud Service resource being added to template."
The instructions for this page seem a bit disjointed - Step 2 is to add a public IP resource to your ARM Template, which then flows into step 3, "Adding a networkProfile to your cloud service". There is no step prior to this where the user adds the parent "Microsoft.Compute/cloudServices" resource. As such, people may be confused as to the location of where to put the networkProfile. The only loca

[2021-05-03 21:58] Oury-MSFT commented on #74708
@oslake Please see customer feedback above. I tried to use Get-Credential in PowerShell and it worked fine. Can we add an example to the [doc](https://docs.microsoft.com/en-us/azure/azure-sql/database/file-space-manage). Thanks
Get-Credential
   [[-Credential] <PSCredential>]
   [<CommonParameters>]
![image](https://user-images.githubusercontent.com/78940872/116938597-dad09b00-ac1f-11eb-85af-51e29

[2021-05-03 22:02] jameswestall commented on #74724
Have raised a pull for this document and what I believe it should look like.

https://github.com/MicrosoftDocs/azure-docs/pull/74725

[2021-05-03 22:02] sebansal opened #74726 "Azure Web App import from key vault certificate option not present"
[key vault team received customer feedback for not being able to import certificate from Key vault while setting up Web App in Azure China, please update the doc or share what specific instructions need to be followed

Customer verbatim -
This "Import Key Vault Certificate" button (picture from Microsoft documentation) is not present in the portal UI when configuring the web app

https://docs.micr

[2021-05-03 22:39] RyanHill-MSFT commented on #74503
The connection string is pulled from [appsettings.json](https://github.com/Azure-Samples/dotnetcore-sqldb-tutorial/blob/511fce018e5b9a516065ff9e8b43bc1c6611a770/appsettings.json#L9). It points to a [Sql Server Express LocalDb](https://docs.microsoft.com/en-us/sql/database-engine/configure-windows/sql-server-express-localdb?view=sql-server-ver15) instance which gets [installed under various Visual

[2021-05-03 22:42] KranthiPakala-MSFT commented on #74720
@bandarusridhar
Thanks for the feedback! We have assigned the issue to the content author to further  investigate this and update the document as appropriate.

[2021-05-03 22:43] KranthiPakala-MSFT commented on #74721
@mkumar1212
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-05-03 22:44] KranthiPakala-MSFT commented on #74718
@dckfnuance
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-05-03 22:53] KranthiPakala-MSFT commented on #74644
@jasonhorner
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-05-03 22:56] spanky11 opened #74727 "Inaccurate remove spending limit section"
This does not contain accurate information. There is no longer a banner in the subscription to remove a spending limit. I can't find how to remove a spending limit.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 053d81ad-ed0b-efbb-9029-511d83222e7c
* Version Independent ID: 22237e49-91a8-0120-913a

[2021-05-03 22:57] jongio commented on #74503
I think it would be helpful if you put your last comment in the doc.

[2021-05-03 22:59] RyanHill-MSFT commented on #74503
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-03 23:00] ju-shim commented on #62924
Looking into this and created a work item to find a way to communicate this information if the PM team thinks it's appropriate to mention in our docs. Note: we are revamping our VM sizing pages, so it may change our approach in displaying the info mentioned in this issue. Thank you! #please-close

[2021-05-03 23:00] #62924 closed

[2021-05-03 23:09] ju-shim commented on #63869
I'm verifying this is accurate and have created a work item on my end to update this as soon as I hear back from the PM team. Thank you for calling this out! #please-close

[2021-05-03 23:09] #63869 closed

[2021-05-03 23:11] Grace-MacJones-MSFT commented on #74726
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

cc: @cephalin

[2021-05-03 23:13] ju-shim commented on #65296
This has been fixed. Thank you for bringing it to our attention. #please-close

[2021-05-03 23:13] #65296 closed

[2021-05-03 23:16] tifischer opened #74728 "needs lineage clarification. Customers think Synapse scan should has lineage. Please provide a link for customer to get lineage."
[This page needs lineage clarification.  Customers think Synapse scan should have lineage information after completing this QuickStart.  Please provide a link for customer to get lineage.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89adddc6-0852-4d53-0764-df3a9aa3a7cd
* Version Independent ID: 4125350c-be6f-62d7-5d

[2021-05-03 23:18] SteveColegrove opened #74729 "text instead of pictures"
The pictures of the permissions are fine, but it'd be very helpful to list the roles in selectable text, in JSON format so that we can just copy/past when composing the custom roles

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a49847b8-831e-eed9-6f5a-f74d987d1ae5
* Version Independent ID: a0881

[2021-05-03 23:22] ju-shim commented on #71547
I created a work item for this feedback on my end and started the conversation with the PM team. They're done recent work around this doc, so it's much better. It will be up to them to make further improvements, but know your comments were passed along and I support these recs. Thank you for your help! #please-close

[2021-05-03 23:22] #71547 closed

[2021-05-03 23:35] KranthiPakala-MSFT commented on #74728
@tifischer
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-05-03 23:36] ju-shim commented on #66068
Thank you for your feedback and question. I took care of the inconsistency and I pinged the PM working on the D series to clarify the differences between DS2 and D2s. I created a work item to track that ask and will update it in the future once I get more information. Thank you! #please-close

[2021-05-03 23:36] #66068 closed

[2021-05-03 23:39] ju-shim commented on #66068
Got a quick reply this time.

Big S is the legacy way of saying "Supports Premium Storage". It's just different naming conventions that we will fix over time, no real difference between the two.

[2021-05-03 23:46] hpsin commented on #74671
Azure AD doesn't check CRLs for publicly provided certificates.  We accept and recommend self-signed certificates at this time.

[2021-05-03 23:54] ju-shim commented on #66068
Got an answer for you!

Relative to the capital "S" and lowercase "s" - there is no difference. The capital "S" was just a legacy naming convention to say "Supports Premium Storage". 

As for the actual "DS2" and "D2s" - those are different sizes and do not even belong to the same family of sizes. It looks like D2s belongs to the Dv3/Dv4 series (while DS2 belongs to the D/DSv2 series). 

According

[2021-05-03 23:59] ju-shim commented on #71894
Thank you for bringing this up. I created a work item on my end to look into this and am actively chatting with the sizes team to see if this needs to be updated. Thank you! #please-close

[2021-05-03 23:59] #71894 closed

[2021-05-04 00:00] wesmc7777 commented on #56496
Most likely the cause was using the wrong firmware file.

Added more specific instructions to use the devkit-getstarted-x.x.x.bin file. Also updated the screenshot.

Verifies that firmware (`devkit-getstarted-2.0.0.bin`) does prompt for IoT device connection string

[2021-05-04 00:00] v-steveadams commented on #74239
Thanks for the questions, @gechu, and thank you @jatinas for the answers and follow-up suggestion.

#please-close

[2021-05-04 00:01] #74239 closed

[2021-05-04 00:04] mdelafuq opened #74732 "Azure AD B2C on-behalf-of best practice"
Azure AD B2C doesn't support On-behalf-of flow.

In the Azure AD B2C best practices page, there's a best practice that encourages the right selection for an authentication protocol and provides the following link: https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-flows-app-scenarios#scenarios-and-supported-authentication-flows

Inside that article, you will find a tabl

[2021-05-04 00:06] ju-shim commented on #72144
Thanks, updating in a PR soon after confirming with the current Gen 2 PM. #please-close

[2021-05-04 00:06] #72144 closed

[2021-05-04 00:11] mike-urnun-msft commented on #74450
@Powerhelmsman The feedback refers to the pre-defined sample that's populated in the Focus mode when clicking the "Try it", as shown below:
![image](https://user-images.githubusercontent.com/36717703/116947791-7e2aab80-ac32-11eb-8249-d96fae1f1979.png)

Can you help with fixing this issue?

[2021-05-04 00:12] ju-shim commented on #73633
I created a work item for my team to review this recommendation this week. Thank you for your feedback! #please-close

[2021-05-04 00:12] #73633 closed

[2021-05-04 00:17] msfcolombo opened #74733 "Please explain or add a link about the term "EGTs""
The term "EGTs" appears in multiple places. It's recommended that the first time it appears, you at very least describe the acronym.

Current:

Proposed:

Bonus if you provide a link to the page that explains the concept, which I guess is https://docs.microsoft.com/en-us/rest/api/storageservices/performing-entity-group-transactions.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-05-04 00:19] ju-shim commented on #74169
Hello,

I haven't gotten any concrete answers back from the team about your request. So I created a work item that will eventually get eyes on it by the team that handled hotpatching in the doc above. We may update this thread in the future as well, but for now, I cannot provide an answer.

Thank you for your time!
#please-close

[2021-05-04 00:19] #74169 closed

[2021-05-04 00:25] ju-shim commented on #74410
Hello,

v5 for D/E is currently in preview as the blog announcement states. When sizes or features are still in preview, we do not update/add those as options in our general documentation. I let the PM for these series know and they'll add v5 once they're no longer in preview.

Thank you for being on top of this, it was a good reminder for us.
#please-close

[2021-05-04 00:25] #74410 closed

[2021-05-04 00:30] shgoldbe opened #74734 "Split Merge tool link incorrect"
"Use the split-merge tool to move data to or from a multi-tenant model to a single tenant model. See **Split merge tool.**"

link probably should be https://docs.microsoft.com/en-us/azure/azure-sql/database/elastic-scale-configure-deploy-split-and-merge rather than getting started page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-05-04 00:39] Ayanmullick commented on #74169
Thank you for looking into it, @ju-shim. Could you share the ADO work item link?

[2021-05-04 00:40] ju-shim commented on #71894
Circling back:

Listing DSv2/Dv2 in both categories is intentional and accurate. 

[2021-05-04 00:44] YutongTie-MSFT commented on #37881
@sunnyhay Hello Harry, could you please open a ticket? This is a little bit old, we are difficult to track on it. Thanks!

[2021-05-04 00:45] ju-shim commented on #61019
Fixed the include file within this document with an "IMPORTANT" note in the section recommended! Thanks for your help.

#please-close

[2021-05-04 00:45] #61019 closed

[2021-05-04 00:49] ju-shim commented on #62147
I created a work item on my end to tackle this issue and provide accurate information on this process. Work is slated for June/July timeframe. There will be other doc improvements made on the topic of connecting to a scale set(s) sooner than that.

Thank you for the feedback and patience!
#please-close

[2021-05-04 00:52] ju-shim commented on #62806
I created a work item on my end to freshen up this document and provide an accurate experience. Work is slated to be completed in June (but may come sooner). Thank you for your patience! #please-close

[2021-05-04 00:52] #62806 closed

[2021-05-04 00:56] ju-shim commented on #67053
Apologies for the delay. I have created a work item to see if there's a way to make this clearer in the docs and I pinged our disks/scale-sets writer to see if we can answer your specific question in this thread (sooner than the docs update).

I'll close this request after he provides an answer, but the docs update will come later (likely in June/July). Thank you!

[2021-05-04 01:02] ju-shim commented on #69852
Hello, we are working on updates to this doc via another issue filed. The work should be completed by the end of this month. Thank you for your feedback and very detailed notes above. Those were helpful!

A work item has been created to track the progress of this update on my end. #please-close

[2021-05-04 01:02] #69852 closed

[2021-05-04 01:06] ju-shim commented on #71137
Hello, I am looking into this for you. I pinged one of the scale sets PMs for assistance.

[2021-05-04 01:07] lispercat commented on #74671
thank you, Hirsch

On Mon, May 3, 2021 at 7:46 PM Hirsch Singhal ***@***.***>
wrote:

[2021-05-04 01:11] JamesTran-MSFT commented on #74732
@mdelafuq
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-04 01:13] JamesTran-MSFT commented on #74696
@blacksheep--
Thank you for your time and patience throughout this issue!

It looks like the PR changes are reflected in our documentation, please let me know if you're still having issues. Otherwise, I'll go ahead and close out this thread.

Thank you!

[2021-05-04 01:18] Karishma-Tiwari-MSFT commented on #74705
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-04 01:19] Karishma-Tiwari-MSFT commented on #74709
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-04 01:22] Karishma-Tiwari-MSFT commented on #74724
Thanks for contributing to the documentation.
The PR is assigned to the author to review.

[2021-05-04 01:24] Grace-MacJones-MSFT commented on #74716
Hi @hannesne, thanks for bringing this to our attention! We will review and update this doc accordingly.

[2021-05-04 01:26] Karishma-Tiwari-MSFT commented on #74471
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-04 01:32] Karishma-Tiwari-MSFT commented on #63441
@NillsF This document is updated with the information you were requesting for.
https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-example-virtual-machines

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-05-04 01:32] #63441 closed

[2021-05-04 02:05] CHDAFNI-MSFT opened #74737 "Clarify that NIPR access is not accessible by default and default Internet path"
This FAQ is likely misleading as to how Internet connectivity traverses and if NIPR access is available without customer interaction [https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-overview-dod#are-these-dod-regions-connected-to-the-niprnet](https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-overview-dod#are-these-dod-regions-connecte

[2021-05-04 02:08] NavtejSaini-MSFT commented on #74675
@ciph3rwoman We agree with your feedback but the Cosmos playground - [Azure Cosmos DB Query Playground](https://www.documentdb.com/sql/demo) work with food groups so the example is presented that way.

[2021-05-04 04:22] ram-msft commented on #74723
@Arjun-Marthala Thanks for the question. We are investigating the issue and will update you shortly.

[2021-05-04 04:54] alpkayaMSFT opened #74743 "When will this feature go GA?"
[Enter feedback here]

When will SQL VMs and Availability Groups via Azure Portal go GA? Currently this feature is in preview.

Please advise. Some customers can only use features which are GA for production.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b71a44e-35b1-7eb0-a255-06603ba30e50
* Version Independe

[2021-05-04 05:11] GitaraniSharma-MSFT commented on #74714
@aapalm , thank you for your question. We'll review this and get back to you shortly!

[2021-05-04 05:25] KalyanChanumolu-MSFT commented on #74734
@shgoldbe Thank you for the feedback.
We are actively investigating and will get back to you soon.

[2021-05-04 05:30] kobulloc-MSFT commented on #74729
@SteveColegrove Thank you for your feedback!  We've assigned this to the document author for them to review.

[2021-05-04 05:32] JayaChatterjee-MSFT commented on #74712
@xinyi-joffre  Thank you for your feedback! We will review and update as appropriate.

[2021-05-04 05:47] JayaChatterjee-MSFT commented on #74713
Hello @sindhuragade Please share the document link for which you have raised the issue.
Note: This channel is only for document related feedback and if you have any product question or product issues then please raise a concern with Microsoft Q&A platform.

[2021-05-04 05:51] JayaChatterjee-MSFT commented on #74717
Thank you for your feedback! We will review and update as appropriate.

[2021-05-04 05:52] JayaChatterjee-MSFT commented on #74719
Thank you for your feedback! We will review and update as appropriate.

[2021-05-04 05:56] JayaChatterjee-MSFT commented on #74722
Thank you for your feedback! We will review and update as appropriate.

[2021-05-04 05:57] JayaChatterjee-MSFT commented on #74727
Thank you for the question. We will review and get back to you.

[2021-05-04 06:00] JayaChatterjee-MSFT commented on #74733
Thank you for your feedback! We will review and update as appropriate.

[2021-05-04 06:11] ignaciofls opened #74745 "X axis legend to show replica increasing"
Nice article, please include legend in the "Queries per second" to describe how QPS improve when going up in replica count. Seems the image got cropped and doesnt show axis description

Can we rephrase this takeway? "An S2 will typically have lower latency than an S1 at comparable query volumes" into "same query volumes". If you compare straight away latencies at 50% max QPS in the charts they hav

[2021-05-04 06:30] psmanhas commented on #74743
@alpkayaMSFT Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-05-04 06:32] mayanknayar commented on #70651
#please-close

[2021-05-04 06:32] #70651 closed

[2021-05-04 06:41] kvaes commented on #74410
@ju-shim ; Thanks for the feedback! Tough this must be a change towards past policies... As this used to be made available (if the intent was there, do not the N-series still not providing all information!) since preview. One of the advantages of doing this, is to give the 3th parties a change to update their reference information (as this information is NOT available via API) before a launch. Thu

[2021-05-04 07:02] binyam-devops commented on #41969
I had the same issue. What worked for me was during SAS token generation, I needed to select both container and object when choosing the allowed resource type (just as @Rocketboy235 mentioned)

[2021-05-04 07:07] yoelhor commented on #74696
Sorry, @blacksheep--. I forgot to mention that the publishing process takes couple of hours. Now it's published, and I'm closing this issue. Thanks again for your feedback.

![image](https://user-images.githubusercontent.com/20111866/116970300-5f72f600-acc0-11eb-8f6a-e6c66687fd06.png)

[2021-05-04 07:07] lachlanmd opened #74746 "Explicitly State Multiple Advertised Public Prefix support"
Documentation does not state that you can apply multiple ranges (separated by commas) for the Advertised Public Prefixes, should be inserted for clarity's sake.
Example:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39ff12ef-1abb-2760-2783-522f5e792d25
* Version Independent ID: e8ca6554-be74-1af1-28c3-0ba8932dff3d
* C

[2021-05-04 07:09] blacksheep-- commented on #74696
Thank you for your work!

Is there any chance to discuss the behaviour? It's creating artificial barriers by not allowing claims in host-parts.

[2021-05-04 07:10] CHEEKATLAPRADEEP-MSFT commented on #74611
@tojagade  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-04 07:10] #74611 closed

[2021-05-04 07:25] SnehaAgrawal-MSFT commented on #74608
@RossMurr4y Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-04 07:31] VikasPullagura-MSFT commented on #74717
@badalk

If the pod identity is being used by the pods to perform write operations on vmscaleset, it needs to have vmscalesets/write permission.
![image](https://user-images.githubusercontent.com/48944027/116972366-876e5380-acd8-11eb-8e23-77134c4a625e.png)

I have assigned the issue to content author to check and update the document as appropriate..

[2021-05-04 07:31] VikasPullagura-MSFT commented on #74717
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2021-05-04 07:36] kemurayama opened #74748 "Is "open-service-mesh" addon available in AKS ?"
Hi,

I tried open service mesh with addon command written in the document but failed with the error. Is this addon available ?

[code]

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edf448c9-4082-1124-0a41-f09f1771fe5d
* Version Independent ID: 95abeb00-0d5a-6e9a-bc4e-24f5dcc6ddba
* Content: [Open Servi

[2021-05-04 07:37] vishalaj1 commented on #74687
Hi,

yes it is same subscription. So this is what i had tried:
1. Create a storage account without hierachy namespace.
2. Configure capture.
3. Sent events and these were received as expected.
4. Created a new storage account with hierarchy namespace.
5. Reconfigured Capture.
6  Sent events
7. Events were in incoming queue count but not in received messages.
8. Files were not generated in output s

[2021-05-04 07:37] aelij opened #74749 "Tutorial doesn't work"
I've tried running all the steps in the tutorial as-is, but the gateway did not work.

No address is returned (even a long while after deployment):

[code]

I manually searched for the IP created for AG, and `curl` gets:

[code]

And it seems that the AG is created without backend targets:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-05-04 07:40] vincentDAO commented on #69611
I'm also having this issue issue when setup VA with VNET. This "message" make me crazy.
@phatcher, are you able to resolve your issue?

[2021-05-04 07:41] SatishBoddu-MSFT commented on #73907
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2021-05-04 07:41] #73907 closed

[2021-05-04 08:07] star286 opened #74750 "general purpose v1 storage account cannot be created from azure portal."
Per this doc [Types of storage accounts](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview?toc=/azure/storage/blobs/toc.json#types-of-storage-accounts), the general purpose v1 storage account is not listed here. And when I tried to create the general purpose v1 storage account from azure portal, there is no this option.

So I want to confirm that we cannot create gener

[2021-05-04 08:16] ram-msft commented on #74645
@poumason Can you please add more details about the use case that you are trying. Please follow the configuration parametes used in the batch transcription.
@PanosPeriorellis  Can you please share samples for Notifications-Webhooks using slack.

[2021-05-04 08:17] andylholloway commented on #74418
Hi @RyanHill-MSFT

We already have the clientId set in the ARM template to the user-assigned managed identity clientId:
[code]

From what I can tell the UI seems to be unable to find the user-assigned managed identity, but is able to find App Registrations.

As mentioned, the logic app and function app are working fine using a user-assigned managed identity but the UI suggests that it cannot find

[2021-05-04 08:27] HarshitaSingh-MSFT commented on #74580
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-04 08:27] #74580 closed

[2021-05-04 08:29] KrishnaG-MSFT commented on #74427
Thanks for bringing this up! We are correcting it and also making bunch of necessary updates to the article. The changes will go live in next update. Thanks.

[2021-05-04 08:29] #74427 closed

[2021-05-04 08:32] KrishnaG-MSFT commented on #74578
The document now contains information about Stateful log alerts as well. Thanks.

[2021-05-04 08:32] #74578 closed

[2021-05-04 08:33] KrishnaG-MSFT commented on #74620
Verified and updated the document as required. Thanks.

[2021-05-04 08:33] #74620 closed

[2021-05-04 08:34] Bhodges94 opened #74751 "Billing scopes"
[Enter feedback here]
I have a number of pay-as-you-go subscriptions at my business and I want to be able to use PowerBI to create more in-depth reports on cost management. I have read the documentation but I don't have any 'billing scopes' or 'billing accounts' and the documentation goes to areas I can't find on the cost management service. Is this because it isn't available for pay-as-you-go and

[2021-05-04 08:35] KrishnaG-MSFT commented on #74727
@bandersmsft Any insights on this please?

[2021-05-04 08:39] KrishnaG-MSFT commented on #74751
@Bhodges94 Thanks for your comment! We will review and provide an update as appropriate.

[2021-05-04 08:40] GitaraniSharma-MSFT commented on #74746
@lachlanmd , thank you for your feedback. We'll review this and get back to you shortly!

[2021-05-04 08:43] alijahnas commented on #74471
Great news, thanks

[2021-05-04 08:56] jikuja opened #74752 "ARM template comment and multiline support"
Documentation should clearly state that **only selected deployment methods support extended JSON**.

Afaik only AZ CLI and Powershell cmdlet are the only deployment methods provided by MS supporting extended JSON.

The following are failing:
- Azure Devops tasks: https://github.com/microsoft/azure-pipelines-tasks/issues/14645 and https://github.com/microsoft/azure-pipelines-tasks/issues/14268
- De

[2021-05-04 09:22] AjayKumar-MSFT commented on #74745
@ignaciofls, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-05-04 09:35] tomaschladek commented on #74593
@darkorm thank you very much for your feedback. We have updated the public documentation.

[2021-05-04 09:39] yoelhor commented on #74696
I'm checking with the engineers. I'll keep you posted ASAP.

[2021-05-04 09:40] Ozzian opened #74753 "Managed Identity for Key Vault required?"
Hey there!

I wanted to know if there is a way to limit the assignee for the "Storage Account Key Operator Service Role" to be specific Key Vault only? I tried prepending my vault name into the assignee, but it didn't work. I think we need to have identities for the Key Vaults (as well).

The assignee that I tried to use
`--assignee 'https://<MyVault>.vault.azure.net' `

The role assignment in the

[2021-05-04 09:50] yoelhor commented on #74732
I'm updating the [release notes](https://docs.microsoft.com/azure/active-directory-b2c/custom-policy-developer-notes) article. Meanwhile, I'd like to give some hints about a possible solution.

When an application invokes a service or web API, which in turn needs to call another service or web API, for the middle-tier service to make authenticated requests to the downstream service, pass a *client

[2021-05-04 09:55] BzSpi opened #74754 "Linux diagnostic extension 4.0"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a-8d9b-228a-6919-16127f315d40
* Content: [Azure Compute - Linux diagnostic extension 4.0 - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions

[2021-05-04 09:56] BzSpi commented on #74754
wooops

[2021-05-04 09:56] #74754 closed

[2021-05-04 09:56] SadiqhAhmed-MSFT commented on #74561
@mimergel Appreciate your patience in this matter. We are aware of this issue and are currently looking into it. For now we do not have an ETA for solution to share.

I shall update this thread on any progress to solution for this issue.

[2021-05-04 09:57] yoelhor commented on #70987
Closing this issue. A newer [GitHub issue](https://github.com/MicrosoftDocs/azure-docs/issues/74732) address this flow.

#please-close

[2021-05-04 09:57] #70987 closed

[2021-05-04 09:58] SadiqhAhmed-MSFT commented on #74719
@tfitzmac For assistance.

[2021-05-04 10:05] yoelhor commented on #64839
Closing this issue as it has been fixed. For more information, see the above notes.

#please-close

[2021-05-04 10:05] #64839 closed

[2021-05-04 10:06] yoelhor commented on #68494
Closing this issue, as the information has been provided. See the notes above for more information.

#please-close

[2021-05-04 10:06] #68494 closed

[2021-05-04 10:09] yoelhor commented on #73009
Sorry, but we don't have this feature coming up in the next while. So, JavaScript (with, or without CSS) is the only option.

[2021-05-04 10:29] #74732 closed

[2021-05-04 10:30] KrishnaG-MSFT commented on #74752
@jikuja Thanks for your comment! We will review and provide an update as appropriate.

[2021-05-04 10:38] SumanthMarigowda commented on #74750
@star286 Thanks for the question! We are investigating and will update you shortly.

[2021-05-04 10:44] VikasPullagura-MSFT commented on #74754
@BzSpi I see you have closed the issue, if there is any feedback you wanted to provide on the document request you to share the same. Thanks.

[2021-05-04 10:54] psmanhas commented on #74748
@kemurayama Thank you for the feedback. We will work on it and will keep you updated on the thread

[2021-05-04 11:02] MonikaReddy-MSFT commented on #74692
@AliGuemues -
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-05-04 11:05] vivere-dally commented on #36178
This should be addressed. I figured it out by accident. This could produce bugs that are hard to detect.

[2021-05-04 11:12] poongothai opened #74756 "Need an updated page - on how to perform token generation."
How to implement this programmatically? Is there really no update to this page over the past 3 years?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a415ee3-98c0-248e-4904-45e04cc9b933
* Version Independent ID: 2fbd4504-5c83-23da-8b21-935782f23ca7
* Content: [Securing Azure CDN assets with token authentication](https:

[2021-05-04 11:22] yuanshingk opened #74757 "Documentation on how to calculate Write throughput budget in the sink"
I read about the **Write throughput budget** but I could not quite understand how to calculate the value. I have a CosmosDb with auto scale up to 4000RU/s. In my sink, I define **Write throughput budget** to 1000RU/s thinking that the maximum usage would be cap at 1000RU/s but it isn't the case. My cosmos db remains at 400RU/s without scaling up and it take hours to write a small set of records.

[2021-05-04 11:23] AliGuemues commented on #74692
Hello. No unfortunately I dont have any URL of any document. So then I will close this issue and ask the question on Stack Overflow.

[2021-05-04 11:23] #74692 closed

[2021-05-04 11:48] BzSpi commented on #74754
Hi @VikasPullagura-MSFT
Thanks, but I made a mistake when creating this issue. Sorry for the inconvenience.

[2021-05-04 12:19] DaSenf commented on #74656
Someone fixed it yesterday. I´m seeing it correctly now as well :)

[2021-05-04 12:24] NimaRayyan commented on #39151
im getting error "partition key reached maximum size of 20 gb"

[2021-05-04 12:25] NimaRayyan opened #74758 "partition key reached maximum size of 20 gb"
what should happen when getting this error ? how can i support partitioning on non partitioned container ?
partition key reached maximum size of 20 gb ?

[2021-05-04 13:07] SHxKM opened #74759 "Custom Resource Providers: is `Cache, Proxy` what I'm looking for?"
I'm looking to publish a public custom resource provider, meaning:

- I will govern the custom resource provider properties and behavior
- Any Azure user (not just from my account) can create his own custom resource based on my custom provider

My clients' Azure custom resources will be tied to my app's entity, let's say of type `myCustomObject`.

During the creation, the user will send a request

[2021-05-04 13:09] SHxKM commented on #56561
@MarileeTurscak-MSFT @mkosieradzki - did you find an answer for this?

[2021-05-04 13:10] simonbMS commented on #64673
No changes yet

[2021-05-04 13:11] AndrevdG commented on #74753
For a moment I struggled with this too (hence I came here), but I think I understand how this works. I will try to explain my thoughts:

1. --assignee 'https://<MyVault>.vault.azure.net' allows access for the key vault service provider (on a tenant level) the ability to list and regenerate keys.
2. az keyvault storage add --vault-name <YourKeyVaultName> -n <YourStorageAccountName> etc. binds a spe

[2021-05-04 13:30] erickuhn19 commented on #73507
Thanks Damien, this is good info and sorry about the delay. I will have an update soon where you will be able to pull in claims from any database via an Azure Function. Will update this thread when its available.

[2021-05-04 13:39] SHxKM commented on #74759
After some more reading it doesn't look like `Proxy, Cache` is my answer:

[code]

I'm not sure if this means automatically generated by Azure, or by my app. I suspect it's the former and therefore this isn't the solution I'm looking for.

[2021-05-04 13:47] spanky11 commented on #74727
Yes, If you follow the tutorial, it is inaccurate. There is no such UI in the Azure Portal. I wasn't able to actually remove my spending limit because the experience and steps in the doc no longer appear to exist.

[2021-05-04 13:49] SHxKM commented on #74759
It looks like with `Proxy` I can simply override the `id` field, is that a best-practice? essentially I'm wiping the client's chosen name:

Request:

[code]

Response:

[code]

[2021-05-04 13:51] RyanHill-MSFT commented on #74758
Hi @NimaRayyan, to better assist you, can you provide a link to the doc that your question is based on? If you're question isn't based on a particular doc, can you be more specific on which service you're referring to?

[2021-05-04 13:58] RyanHill-MSFT commented on #74418
Okay, that's interesting @andylholloway. Can you send me an email to AzCommunity[at]microsoft[dot]com _ATTN: Ryan_ so we can look at this matter more closely? Please include your subscription id and Activity Log output surrounding the portal blade navigation when you receive the error. An `.har` would be helpful as well.

[2021-05-04 13:59] v-amallick commented on #72520
@sanghoon-damien-yang

We have updated the article.

[2021-05-04 13:59] bandersmsft commented on #74727
@spanky11 What kind of subscription do you have? As the article states: *The spending limit isn’t available for subscriptions with commitment plans or with pay-as-you-go pricing. For those types of subscriptions, a spending limit isn't shown in the Azure portal and you can't enable one.*

If a spending limit isn't shown in the Azure portal, chances are you don't have a subscription that supports o

[2021-05-04 13:59] v-amallick commented on #72520
#please-close

[2021-05-04 13:59] #72520 closed

[2021-05-04 14:08] chengyu-liu-cs commented on #74688
@KranthiPakala-MSFT Yes. The use case is to pull the tables in databases from a client which uses python codes.

[2021-05-04 14:11] BharathNimmala-MSFT commented on #74737
@CHDAFNI-MSFT Thanks a lot for sharing your feedback , assigned this issue to our document author @stevevi to further review the feedback and update the document as required. Thanks

[2021-05-04 14:15] dennischavez789 opened #74760 "Configure-adfs-sso, removing SSO cmdlet"
Hey team,
When I try to run the remove SSO "UnConfigureSSOClient.ps1" I am getting the error "is not recognized as the name of a cmdlet".
However, when I run "UnConfigureWVDSSO.ps1" it works.
Thanks

Install-Script UnConfigureWVDSSO
UnConfigureSSOClient.ps1 -WvdWebAppAppIDUri "<WVD Web App URI>" -WvdClientAppApplicationID "a85cf173-4192-42f8-81fa-777a763e6e2c"

---
#### Document Details

⚠ *Do not

[2021-05-04 14:21] SaurabhSharma-MSFT commented on #74656
@DaSenf We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-05-04 14:21] #74656 closed

[2021-05-04 14:22] jdanton opened #74761 "This Document Should Cover Azure Site Recovery and It's Impact on SQL Server"
To all--there's a single doc that I've found:

https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-architecture#app-consistent

That mentions what app-consistent backup for ASR means in conjunction with SQL Server.

1) Azure Site Recovery uses Copy Only backup (VSS_BT_COPY) method which does not change Microsoft SQL's transaction log backup time and sequence number

I think this verb

[2021-05-04 14:22] SaurabhSharma-MSFT commented on #74660
@dotnetpiper We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-05-04 14:22] #74660 closed

[2021-05-04 14:38] EO2875 opened #74763 "Azure Media Player Documentation"
The Azure Media Player documentation is lacking.

I have looked into the source code and found these options that are not documented in here:
- `language`
- `loop`
- `muted`

I don't think these would be too hard to add.
It'd be much easier if we had access to the unminified and unbundled source code to understand what is going on. Most of this technology (HLS) is already out there and open-soruce

[2021-05-04 14:56] mvervoort opened #74764 "Missing resource type Microsoft.Synapse/workspaces for Synapse Analytics"
I'm missing details about Private Endpoint support for Azure Synapse.

Item | Azure service | Resource type | Sub type | Private DNS Zone
-- | -- | -- | -- | --
1 | Azure Synapse Analytics | Microsoft.Sql/servers | sqlServer | privatelink.database.windows.net
2 | Azure Synapse Analytics | Microsoft.Synapse/workspaces | Sql | privatelink.sql.azuresynapse.net
3 | Azure Synapse Analytics | Microsoft.

[2021-05-04 14:57] bandwiches opened #74765 "Misleading"
There is nothing on this page that pertains to "Partner Device Config".  In fact, 80% of it is PowerShell, which obviously doesn't apply to anything outside of Windows.  There's no reference to Cisco or PaloAlto devices which are arguably the two most popular devices in this field.

There is a link from [this article](https://docs.microsoft.com/en-us/azure/vpn-gateway/tutorial-site-to-site-portal)

[2021-05-04 14:58] bandwiches opened #74766 "Bad Reference"
There's a link about 2/3 down the page, the exact bullet is below:

Following the link simply takes you to a page that tells you how to setup your VPN using powershell.  There is 0 information about 3rd party or "partner" device configurations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c208741-c04a-d55b-6e22-06b5

[2021-05-04 15:06] danhayes123 opened #74768 "authorizations parameter should be instructed as space-separaeted, not comma separated"
[Enter feedback here]

In this document, it says that for authorizations:

If more than one value is needed, specify them in the form <principalId1>:<roleDefinitionId1>,<principalId2>:<roleDefinitionId2>. The values are separated by a comma.

However, this is now done using spaces. See:
https://docs.microsoft.com/en-us/cli/azure/managedapp/definition?view=azure-cli-latest#az_managedapp_definition_

[2021-05-04 15:07] JN-TGB opened #74769 "Please provide Python example"
_"Scala users can set the credentials in spark.sparkContext.hadoopConfiguration"_

What are the equivalent statements in Python?  I tried using spark.sparkContext.hadoopConfiguration in place of spark.conf.set and get the error message:
`AttributeError: 'RemoteContext' object has no attribute 'hadoopConfiguration'`

I'm guessing there is a different syntax for Python users?

Thanks

---
#### Docum

[2021-05-04 15:13] yoelhor commented on #73009
#please-close

[2021-05-04 15:13] #73009 closed

[2021-05-04 15:25] saikumarch7548 commented on #63869
I still see it incorrect https://docs.microsoft.com/en-us/azure/virtual-machines/nc-series
why is it closed before actually even fixing it ?

[2021-05-04 15:27] v-videba opened #74770 "Broken link"
[Enter feedback here]
In step 1 of **Close your account** the Sign in to close your account link send you to Bing, and not to the Portal blade where should take you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84276ec1-e345-25fd-1ca6-a5e2dd407963
* Version Independent ID: c8b3495d-1c71-ea8f-6e0c-99453596b88d
* Conten

[2021-05-04 15:29] JamesTran-MSFT commented on #74770
@v-videba
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-04 15:29] #72891 closed

[2021-05-04 15:33] yoelhor commented on #72891
Thanks for the feedback. The scope is required only for OAuth 2.0 authorization code flow. Not for OpenId connect flow.  I have updated the OAuth 2.0 authorization code flow article. The fix will be published later today. This GitHub issue is automatically close. I'll fix the overview doc soon. Thanks again. Yoel

[2021-05-04 15:36] anilmur opened #74771 "Testing: issue flowing back to PM team"
Can this issue be directed back to PM team?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b952be34-253f-fd05-d5ed-1fa885ec6d20
* Version Independent ID: 3f9a1343-c9f3-127f-f911-17d5f34fa0ab
* Content: [What is Azure Video Analyzer](https://review.docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-docs/

[2021-05-04 16:03] SHxKM commented on #74759
Essentially I'm looking for a way to set a `physicalResourceId` like Cloudformation allows.

[2021-05-04 16:07] Grace-MacJones-MSFT commented on #74593
Thanks for updating the doc @tomaschladek .  We will now proceed to close this thread.

[2021-05-04 16:07] #74593 closed

[2021-05-04 16:10] Grace-MacJones-MSFT commented on #74763
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-04 16:14] dereklegenzoff commented on #74745
thanks for filing this issue @ignaciofls - I will take a look

[2021-05-04 16:22] bluefooted commented on #74761
Hey @jdanton ! I think this is only true for the VMWare version of the solution. When a customer uses ASR with an Azure SQL VM it will only use copy-only backups when the VM is already configured to use Azure Backup for SQL Server. If it is not, it actually does full backups. This is something we are looking into changing, we think ASR should use copy-only all the time. Once we sort out this behav

[2021-05-04 16:23] bluefooted commented on #74743
We do not have a date for GA yet.

[2021-05-04 16:32] Oury-MSFT commented on #74707
@oslaske Please see customer feedback above. Should we replace Sort -Property DatabaseDataSpaceAllocatedUnusedInMB to Sort-Object -Property DatabaseDataSpaceAllocatedUnusedInMB.

![image](https://user-images.githubusercontent.com/78940872/117037653-9561ab80-acbb-11eb-9a20-9e1f0978bf35.png)

[2021-05-04 16:33] viniciustotti opened #74772 "Supported Document Formats"
Hi there,

I wonder which are  the document formats that this skill supports, can I relly on the same list for Blob Storage:
https://docs.microsoft.com/en-us/azure/search/search-howto-indexing-azure-blob-storage#supported-document-formats

Thank you so much!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888362f6-45c3-

[2021-05-04 16:36] markjbrown commented on #74712
Please assign to @StefArroyo

Thanks.

[2021-05-04 16:38] JamesTran-MSFT commented on #74690
@GavinEke
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-05-04 16:38] #74690 closed

[2021-05-04 16:42] NavtejSaini-MSFT commented on #74615
@sunilagarwal Please look into this feedback further.

[2021-05-04 16:45] NavtejSaini-MSFT commented on #74617
@danimir Please check the feedback from Cx and help us with the edit if needed.

[2021-05-04 16:46] himanshusinha-msft commented on #74757
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-05-04 16:47] KranthiPakala-MSFT commented on #74718
Hey @dckfnuance, Thanks for the ask.  Yes, for a workspace which supports managed VNET and you wish to connect to PaaS resources on Azure.

We have more details here - https://docs.microsoft.com/en-us/azure/synapse-analytics/security/how-to-create-managed-private-endpoints

Hope this helps.

[2021-05-04 16:52] ReemCohen opened #74773 "Typo"
Typo located at Build transformations logic in the data flow.
Eleven step, second paragraph, at the end of fourth line.
I assume the '200-' meant to be 2000 as it mentioned several lines above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7c75ee8-d021-62fe-c7e3-53a6e729e1fc
* Version Independent ID: 7ae45fa9-cb4f-db

[2021-05-04 16:56] KranthiPakala-MSFT commented on #74728
Hi @julieMSFT - Could you please review the below feedback:

Below is the additional information shared by @tifischer.

SUMMARY

Problem Statement
The concern is that Synapse Lineage does not appear.  The documentation provided is here:

![image](https://user-images.githubusercontent.com/50185738/117040502-d14a4000-acbe-11eb-8463-3d57815ead4b.png)

Cause
Lineage would appear in the case that you u

[2021-05-04 17:01] JamesTran-MSFT commented on #74697
@codemaker
Thank you for your time and patience throughout this issue!

Yes, Guest users can be assigned the Global Admin role.
![image](https://user-images.githubusercontent.com/36619112/117040945-47e73d80-acbf-11eb-9b1a-0b0c48578776.png)

The only recommendation we have when it comes to the Global Admin role, is that you assign it to fewer than five people in your organization. Additionally, Glo

[2021-05-04 17:01] Careyjmac commented on #74772
Yes, the list of supported document formats should be the same.

[2021-05-04 17:03] alpkayaMSFT commented on #74743
Thanks for the update Pam

I'll let the customer know.  Do we have any idea of even when we will know?

From: Pam Lahoud ***@***.***>
Sent: Tuesday, May 4, 2021 9:24 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Alp Kaya ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] When will this feature go GA? (#74743)

We do not have a date for GA yet.

-
You are receiving this b

[2021-05-04 17:08] MikeDodaro commented on #74729
This document describes the procedure using the Azure portal.  So far PMs agree that the purpose is satisfied by current format.

[2021-05-04 17:13] tlavay opened #74774 "Dispose HttpClient"
Hey, I noticed a bug in your code. In your c# example,

HttpClient httpClient = new HttpClient();

should be

using HttpClient httpClient = new HttpClient();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc95f42-25e6-42ba-a3d9-94ed896d7383
* Version Independent ID: 00936b2f-959b-b55f-60d3-deaa7bea6e17
* Content: [How

[2021-05-04 17:19] JamesTran-MSFT commented on #74753
@Ozzian
Thank you for your post!

When it comes to assigning a specific Key Vault instance to your Storage Account, the [Create a Key Vault Managed storage account](https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys#create-a-key-vault-managed-storage-account) section, is where you will be setting up a vault to manage your Storage Account keys. For more info - [az keyvau

[2021-05-04 17:20] olayemio commented on #74683
Working on getting both examples added back to the templates folder

[2021-05-04 17:20] PlateSpinner opened #74775 "cyber.mil link to SCCA FR is out of date"
The link in the second paragraph going to the SCCA-FRD_v2-9.pdf is out of date and gives a security warning. The current link for the SCCA Functional Requirements is
[https://dl.cyber.mil/cloud/pdf/SCCA_FRD_v2-9.pdf](https://dl.cyber.mil/cloud/pdf/SCCA_FRD_v2-9.pdf)

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-05-04 17:23] KranthiPakala-MSFT commented on #74688
@chengyu-liu-cs Thanks for the info. I have assigned this issue the our PM who can better assist on this ask.

@mssaperla - could you please review this ask? - Thanks

[2021-05-04 17:23] BharathNimmala-MSFT commented on #74422
@juanandmsft My sincere apologies for delay on getting back to this thread. I am validating this with our internal PG team and as soon as we have an update, will keep this thread updated.

[2021-05-04 17:28] SmiXz commented on #43420
Hi,

i see this thread is a little bit old, but still actual, i am preparing for the az-500 using the labclient.labondemand labs, and i stuck with + new user Module 01 Identity and Access, because i ve only User rights and cant change it, as i can see, how can i work with the lab without any permissions?

[2021-05-04 17:28] BharathNimmala-MSFT commented on #74672
@IdanZel Assigned this issue to our document author @lgayhardt to further your query and share pointers accordingly.

[2021-05-04 17:48] yashbhutoria opened #74776 "The document does not specifies how to switch between the modes"
https://docs.microsoft.com/en-us/azure/data-factory/connector-salesforce#difference-between-soql-and-sql-query-syntax

The above section in the document mentions the availability of two modes; SQL and SOQL. The document is unclear on how to make that choice or if the query is automatically inferred by ADF.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-05-04 17:58] KranthiPakala-MSFT commented on #74776
@yashbhutoria
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-05-04 17:59] angellmethod opened #74777 "Title seems incorrect"
The title for this indicates it's about T-SQL differences but I think it should more closely match the title for the Azure SQL and Managed Instance feature comparison document:

[Features comparison: Azure SQL Database and Azure SQL Managed Instance]("https://docs.microsoft.com/en-us/azure/azure-sql/database/features-comparison)

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-05-04 18:02] KranthiPakala-MSFT commented on #74769
@JN-TGB
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-05-04 18:07] RyanHill-MSFT commented on #74502
Hi @jongio, I've assigned this to the doc author @cephalin so he can evaluate and integrate your feedback into the doc. Thanks.

[2021-05-04 18:12] Benjiiim commented on #64839
Actually, I don't see any update in the doc following @nickgmicrosoft statement "Will update the doc to reflect that.".
Is there another Issue tracking this? Have you changed your mind?

[2021-05-04 18:17] dmhelm opened #74778 "Add additional clarity to avoid misleading customers."
I recommend adding a very clear statement that just because the VMs of the same SKU family doesn't mean that they are in the same flexibility group from an RI perspective.

For example:
A very common scenario is that the customer CANNOT utilize their previously purchased RI for 6TB Mv2 as they GROW into a 12TB Mv2 system.
- Technically customers can resize/switch with a simple reboot from Standard

[2021-05-04 18:49] pochiraju commented on #74617
From the referenced article the online pointers are removed, where exactly you still seeing it?

[2021-05-04 18:53] NavtejSaini-MSFT commented on #74617
@pochiraju Here in the table  https://docs.microsoft.com/en-us/azure/azure-sql/database/features-comparison

![image](https://user-images.githubusercontent.com/52257742/117054863-8c3b0380-ace8-11eb-9340-7c211221fe90.png)

[2021-05-04 18:59] pochiraju commented on #74617
Got it. Please move DMS to offline category for Azure SQL Database

[2021-05-04 19:03] Oury-MSFT commented on #74777
@angellmethod Thanks for the feedback. We are looking into this and will get back. Thanks

[2021-05-04 19:12] NavtejSaini-MSFT commented on #74617
@pochiraju We have raised https://github.com/MicrosoftDocs/azure-docs-pr/pull/157220 for this. Please check and approve.

[2021-05-04 19:16] cpschult opened #74779 "Error in example script"
There is an error in the example shell script in section 'Set ARO cluster permissions'.

The first two lines are:
[code]

The second line should use variable `ARO_API_SERVER` instead of `APISERVER`.

Here's an updated version of those two lines:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3baa66d8-0696-9a88-da

[2021-05-04 19:17] mimckitt commented on #59807
#assign: @genlin

[2021-05-04 19:19] pochiraju commented on #74617
#Approve

[2021-05-04 19:25] SadiqhAhmed-MSFT commented on #74751
@Bhodges94 ACM connector with POWERBI currently only supports EA and MCA accounts.

Hope this clarifies your question!

[2021-05-04 19:30] cynthn commented on #59807
@JarrettRenshaw FYI

[2021-05-04 19:48] BharathNimmala-MSFT commented on #74589
@Manuss20 Thanks a lot for sharing the feedback and bringing this to our notice and also taking time to raise a PR and help improve our documentation. We really appreciate your time and feedback.

I have already reached out to our document author to review your PR and once it reviewed and approved the changes would go live.

At this point it appears that there's no further edits or updates needed

[2021-05-04 19:48] #74589 closed

[2021-05-04 19:49] JamesTran-MSFT commented on #74770
@v-videba
Thank you for pointing this out! I've reached out to our engineering team for the correct link and will update as soon as possible.

Thank you for your time and patience throughout this issue.

[2021-05-04 20:00] #74617 closed

[2021-05-04 20:04] r-milne opened #74783 "Singular DC"
Can we use plural when talking about Domain Controllers please?  Customer assumed that they only need to install onto one DC because of this:

"
To protect your on-premises Active Directory Domain Services (AD DS) environment, you can install and configure Azure AD Password Protection to work with your on-prem DC.
"

Also, should the DC acronym be expanded on this page the first time it is used?

[2021-05-04 20:08] redtaped opened #74784 "Retry Relationship to Lock Duration and Function Timeout"
From the documentation, it's not clear that the lock duration for a servicebus message is impacted by the retry. If the retry delay exceeds the lock duration, the message is put back on the queue. I suggest making this relationship clear as it has a major impact in design.

Additionally, it appears that the function timeout is not impacted by the retry interval. For instance, if we retry in 30 min

[2021-05-04 20:10] MarileeTurscak-MSFT commented on #74783
@r-milne thank you for calling this out! Will fix.

[2021-05-04 20:11] Karishma-Tiwari-MSFT commented on #74206
Thanks for contributing to Microsoft docs. I see that the PR is assigned to the author for review. Once the author approves it, it will be merged.

[2021-05-04 20:40] bluefooted commented on #74743
If this is blocking a customer, best to escalate through internal channels rather than through public docs.

[2021-05-04 20:51] vikancha-MSFT commented on #63869
@saikumarch7548 Can you provide the subscription id where the Intel(R) Xeon(R) CPU E5-2673 v4 was observed? Our engineering team verified that NC-series is expected to have  E5-2690 as documented.

[2021-05-04 21:10] jeevansd commented on #74661
@v-rant Please work with the ISV and confirm the changes and then get the doc and app gallery template updated.

[2021-05-04 21:11] jeevansd commented on #74633
@v-rant Please track this change.

[2021-05-04 21:11] TeamsTechBear commented on #74380
+1 for the change as well. Thanks in advance!

[2021-05-04 21:12] jeevansd commented on #74491
@v-rant and @v-hagamp Can you please work with Samsung and get this right URL for our customers?

[2021-05-04 21:13] Oury-MSFT commented on #74774
Hello @tlavay Thank you for providing your feedback to enhance our doc. We are looking into this and will get back. Thanks

[2021-05-04 21:14] jeevansd commented on #74485
@v-rant Please retest this app and see how the Authentication policies are changing this configuration. This may change the OneClickSSO implementation also.
@v-hagamp for updating the doc.

[2021-05-04 21:15] jeevansd commented on #74009
@ArvindHarinder1 Can you please confirm on this one?

[2021-05-04 21:17] jeevansd commented on #73388
@v-hagamp Please update the doc to send the XML file URL instead of a file.
@v-rant for tracking.

[2021-05-04 21:17] jeevansd commented on #73337
@v-rant Please send the email to the above email address and do the changes in the document as needed.
@v-hagamp FYA

[2021-05-04 21:18] jeevansd commented on #72767
@v-hagamp Can you please make this change?
@v-rant for tracking.

[2021-05-04 21:19] hrittikhere commented on #74536
Hey @psmanhas, quite busy. Can I revert in a week by trying this out and with a bit more details?

[2021-05-04 21:20] jeevansd commented on #72631
@JamesTran-MSFT I have sign off on the PR and it should get merged now. Please close this thread once you see the PR is merged.

@kathodion Thanks for your input here and we are updating the doc now.

[2021-05-04 21:21] jeevansd commented on #72199
@v-rant Please update the gallery app template for the right patterns.
@v-hagamp please update the doc as described here.

[2021-05-04 21:22] jeevansd commented on #71843
@v-hagamp Please get this doc updated with the new endpoint.
@v-rant Please get the App gallery template updated and also confirm the changes with ISV.

[2021-05-04 21:23] KranthiPakala-MSFT commented on #74776
@yashbhutoria You can use either SOQL query or SQL query but it is suggested to use the SOQL query, which is natively supported by Salesforce. But you can use either of the queries and ADF salesforce connector will take care of the rest.

[2021-05-04 21:24] julieMSFT commented on #72312
#reassign:mstehrani

[2021-05-04 21:24] jeevansd commented on #71795
@DeanGross We are preparing a common guide which talks about all the possible ways through which you can integrate AWS app with Azure AD. This will also have pros and cons of each approach and the scenario in which you need to opt for the right solution. That way we can remove this confusion.

Thanks for the feedback here.

[2021-05-04 21:24] julieMSFT commented on #72312
#assign:julieMSFT

[2021-05-04 21:24] jeevansd commented on #71795
@v-rant For tracking.

[2021-05-04 21:25] scottaddie opened #74787 "Azure Web PubSub tile missing from hub page"
The Azure Marketing page at https://azure.microsoft.com/services/#integration lists Web PubSub in the **Integration** category. The service isn't listed at all on the [Azure docs hub page's **Integration** section](https://docs.microsoft.com/azure/?product=integration). These two pages should be in sync.

[2021-05-04 21:25] BrendanHere opened #74788 "Why the recommendation to disable TLS1.2?"
Hello,

I'm trying to understand why this is the recommendation in this article:

Click Disable for the following settings:

TLS 1.2 only mode

Thanks,
Brendan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca07bf8-d285-e7ae-aaf1-a9292bbdf75c
* Version Independent ID: 7694cb10-8eb6-397d-2cbb-4e249556b88d
* Content: [S

[2021-05-04 21:25] jeevansd commented on #71622
@kylegeorgearch Our team will reach out to you and then we can get this document updated for our mutual customers.
Alternatively you can also reach out to our team using this alias SaaSApplicationIntegrations@service.microsoft.com

[2021-05-04 21:26] jeevansd commented on #71622
@v-rant for tracking.

[2021-05-04 21:29] jeevansd commented on #71567
@vjirovsky There are different approaches to achieve SSO with AWS. Microsoft recommended approach is given here. Alternatively you can also use AWS SSO product to this integration and that tutorial is available here https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/aws-single-sign-on-tutorial

[2021-05-04 21:29] jeevansd commented on #71567
#please-close

[2021-05-04 21:29] #71567 closed

[2021-05-04 21:30] jeevansd commented on #71241
@v-rant Please find the difference here and then update the article as needed.
@v-hagamp for document changes.

[2021-05-04 21:32] jeevansd commented on #71134
The said PR is already merged and the changes are live. So closing this issue here.
#please-close

[2021-05-04 21:32] #71134 closed

[2021-05-04 21:32] alpkayaMSFT commented on #74743
Thanks Pam

I tried finding a SQL DL that was relevant t this topic but I wasn't successful. Any suggestions on what DL to reach out with this challenge?

Thanks again for your support
Alp

From: Pam Lahoud ***@***.***>
Sent: Tuesday, May 4, 2021 1:41 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Alp Kaya ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] When will this

[2021-05-04 21:34] jeevansd commented on #71046
@v-hagamp Please get this document updated.
@v-rant for tracking the issue.

[2021-05-04 21:38] gitTinker opened #74789 "RTSP fail"
[source](https://docs.microsoft.com/en-us/azure/azure-percept/vision-solution-troubleshooting#view-device-rtsp-video-stream)

This results in a VLC media player error:

In Azure Portal, examining the IoT Edge Module Details for azureeyemodule, container create options,

`"ExposedPorts": { "8554/tcp": {}  }
`
VLC media player error:

same for the short version:

However, the stream is successful in

[2021-05-04 21:39] jeevansd commented on #70963
@v-hagamp Please update the doc to show that the admins should select the disable Auth Context option here.
@v-rant for tracking.

[2021-05-04 21:41] jeevansd commented on #70937
@kannanzenith This article describes on how to secure applications which are protected behind F5. So the later use case which you have stated.
This one particularly "Login into an application running behind F5 centrally using SSO"

[2021-05-04 21:41] jeevansd commented on #70937
#please-close

[2021-05-04 21:41] #70937 closed

[2021-05-04 21:42] o-l-a-v commented on #74605
@shashishailaj

Will it be added to documentation?

[2021-05-04 21:42] #72631 closed

[2021-05-04 21:43] jeevansd commented on #70605
@mbendana We have now incorporated this change and corrected our instructions in the document.

[2021-05-04 21:43] jeevansd commented on #70605
#please-close

[2021-05-04 21:43] #70605 closed

[2021-05-04 21:44] jeevansd commented on #70216
@v-hagamp Can you please get this article updated? @v-rant Please test this application again and then we can also get the App gallery template updated.

[2021-05-04 21:44] bluefooted commented on #74743
Feel free to reach out to me directly.

[2021-05-04 21:45] jeevansd commented on #69652
@v-hagamp Please update the article to show the correct Reply URL pattern here.
@V-rant for tracking.

[2021-05-04 21:45] #74772 closed

[2021-05-04 21:46] JamesTran-MSFT commented on #74788
@BrendanHere
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-04 21:48] Oury-MSFT commented on #74708
@robertplata We have raised a pull request to make changes in the document. Once the PR is approved the changes will be live between 24 to 48 hours. Thanks

[2021-05-04 21:48] jeevansd commented on #69535
@tonypitkin I think you are referring to service accounts here. In this scenario we are suggesting to use the Federated single sign on for the application. For service account scenario they can use OIDC OAuth non-interactive sign in and that is much better and secure here.

[2021-05-04 21:48] jeevansd commented on #69535
@please-close

[2021-05-04 21:49] #69535 closed

[2021-05-04 21:49] jeevansd commented on #69421
@v-rant for tracking

[2021-05-04 21:53] jeevansd commented on #68891
@mwucbs If you would like to enable the remote access for the user then you can still use the Citrix XenApp or XenDesktop. It will use the SAML authentication to connect to that machine. You have to be on the network so that your Citrix server can be reached. You can secure your Citrix server in this way and use the same authentication as you are doing it for other SaaS apps.

[2021-05-04 21:54] Oury-MSFT commented on #74707
@robertplata We have raided a pull request to fix the issue. Once the PR is approved the changes will be live between 24 to 48 hours. Thanks for providing your feedback

[2021-05-04 21:55] msmbaldwin commented on #45618
The paragraph to which is issue refers is no longer present in the article. Closing. #please-close

[2021-05-04 21:55] jeevansd commented on #68421
@v-rant Please reach out to Amazon Business team and validate the instructions again.

[2021-05-04 21:55] #45618 closed

[2021-05-04 21:55] jeevansd commented on #68382
#please-close

[2021-05-04 21:55] #68382 closed

[2021-05-04 21:56] msmbaldwin commented on #46344
Closing. #please-close

[2021-05-04 21:56] #46344 closed

[2021-05-04 21:57] jeevansd commented on #68191
@mbrans-plieger This same plugin will work for Confluence 7.10 I will get the document updated for the new version numbers.

[2021-05-04 21:57] msmbaldwin commented on #47110
Closing. #please-close

[2021-05-04 21:57] #47110 closed

[2021-05-04 21:57] MarileeTurscak-MSFT commented on #74783
Thanks @r-milne. That is helpful context that you provided. I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/157258

[2021-05-04 21:57] #74783 closed

[2021-05-04 21:57] jeevansd commented on #68191
@v-rant for tracking.

[2021-05-04 21:58] msmbaldwin commented on #49253
Hi @johanburati. This table has been updated several times since this issue was submitted, and is now up-to-date. Thank you! #please-close

[2021-05-04 21:58] #49253 closed

[2021-05-04 21:59] jeevansd commented on #68165
@MikeDembek I still feel that you can use the AppRoles feature here. You can create those static roles in Azure AD and send them to PAN - OS in terms of claims.

[2021-05-04 21:59] msmbaldwin commented on #52579
#please-close

[2021-05-04 21:59] #52579 closed

[2021-05-04 21:59] jeevansd commented on #68165
Other option for you here is use the Claims conditions here. In that you can choose the group name for the claim and map the static value to it. That way if the user is part of the group then we will send that static value as needed.

[2021-05-04 21:59] jeevansd commented on #68165
#please-close

[2021-05-04 21:59] #68165 closed

[2021-05-04 22:00] msmbaldwin commented on #52992
#please-close

[2021-05-04 22:00] #52992 closed

[2021-05-04 22:01] msmbaldwin commented on #55396
#please-close

[2021-05-04 22:01] #55396 closed

[2021-05-04 22:01] shackit commented on #11090
Oh wow! I have just said exactly the same thing on https://github.com/Azure/AKS/issues/2047 . I cannot understand why such information is hidden.

[2021-05-04 22:02] JayaChatterjee-MSFT commented on #74713
Hello @sindhuragade could you please share the document link for which you have raised the issue.

[2021-05-04 22:03] msmbaldwin commented on #55269
#please-close

[2021-05-04 22:03] #55269 closed

[2021-05-04 22:06] BharathNimmala-MSFT commented on #74449
@adravi My sincere apologies for delay in getting back to you on this thread.

Your understanding is right , below documentation links have some additional references.

https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/resource-logs#send-to-log-analytics-workspace
https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/resource-manager-diagnostic-settings#diagnostic-setting-f

[2021-05-04 22:06] #74449 closed

[2021-05-04 22:07] sindhuragade commented on #74713
https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-gremlin-console

Do you mean we can post here only if we have questions about some documentation/feedback and not questions we have about why cosmos db works a certain way?

[2021-05-04 22:11] Oury-MSFT commented on #74777
@jovanpop-msft Please see customer feedback above. The [document](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/transact-sql-tsql-differences-sql-server) explains the differences about T-SQL differences between sql server and Managed Instances. There are some places where Azure SQL database is mentioned but I think the article explains the T-SQL syntax between SQL Server and Ma

[2021-05-04 22:13] dereklegenzoff commented on #74745
Hey @ignaciofls - could you share a screenshot of what you're seeing. The x-axis appears to be rendering for me and includes replica count. Here's a screenshot I took from the doc page.
![image](https://user-images.githubusercontent.com/19762985/117076364-21d79280-aceb-11eb-949d-c544f26a546f.png)

Does it look different for you?

[2021-05-04 22:23] tfitzmac commented on #11090
@shackit - can you create an issue in the [REST API specification](https://github.com/Azure/azure-rest-api-specs)? It looks like the [spec doesn't include those definitions](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-03-01/managedClusters.json#L3538).

[2021-05-04 22:24] robinsh commented on #73486
I vaguely remember that we used to use one of those connection strings to access the data from the other service, and the EG people  changed it so you have to use "the right one", but I have no notes written down about it. Does anybody know anyone on the EG team that we can ask?

Robin

[2021-05-04 22:39] Karishma-Tiwari-MSFT commented on #74778
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-05-04 22:40] Karishma-Tiwari-MSFT commented on #74760
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-05-04 22:51] MarileeTurscak-MSFT commented on #74773
@ReemCohen
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-04 22:53] MarileeTurscak-MSFT commented on #74773
@ReemCohen thank you! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/157268

[2021-05-04 22:53] #74773 closed

[2021-05-04 23:05] KranthiPakala-MSFT commented on #74687
Hi @vishalaj1, thanks for details. We will further investigate and will get back to you as soon as we have an update.

Thank you

[2021-05-04 23:17] femsulu commented on #74768
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-05-04 23:30] xps233 commented on #73800
Hi team @SumanthMarigowda @shashishailaj, kindly ask could you leave this issue re-opened status? This issue is actually not being resolved yet.  Thanks for your help!

[2021-05-04 23:37] msftradford commented on #73443
@ChrisEke this has been fixed

[2021-05-04 23:39] msftradford commented on #73443
#please-close

[2021-05-04 23:39] #73443 closed

[2021-05-04 23:51] MarileeTurscak-MSFT commented on #74756
@poongothai
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-04 23:52] MarileeTurscak-MSFT commented on #74749
@aelij
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-04 23:53] MarileeTurscak-MSFT commented on #74759
@SHxKM
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-04 23:54] MarileeTurscak-MSFT commented on #74764
@mvervoort
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-04 23:57] ChaitanyaNaykodi-MSFT commented on #74784
Hello @redtaped,
Thank you for your feedback! We will review and update as appropriate.

[2021-05-04 23:59] MarileeTurscak-MSFT commented on #74765
@bandwiches
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-04 23:59] MarileeTurscak-MSFT commented on #74766
@bandwiches
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-05 00:07] kgremban commented on #74596
Hi @SillyKeith, the support-bundle command should create a file called `support_bundle.zip` in the same directory where the command was run. If in doubt, the final line of the command output prints the path to the file location. If you want the file to be created somewhere else or named something else, you can use the `--output` flag and supply your own filepath and filename for the output.

`iote

[2021-05-05 00:10] wesmc7777 commented on #56495
@valluriraj you are correct. Thanks you.  Fixed

[2021-05-05 00:20] SamaraSoucy-MSFT commented on #74721
@mkumar1212 I've put in a PR to change the code sample to use HEAP as is consistent with the rest of the documentation. It will go live once the doc author has reviewed and approved the change. I'm going to close this issue.

[2021-05-05 00:20] #74721 closed

[2021-05-05 00:26] SaurabhSharma-MSFT commented on #74662
@mmacy  Thanks
@MalvinOsborne Can you please provide your comments on the above ask.

[2021-05-05 00:32] ColeMSFT opened #74792 "Add $ to the variables in the CLI example."
In this CLI example:
subscription="<yourSubID>"
# example value is southeastasia
region="<yourLocation>"
# example value is Standard_E64s_v3
vmSize="<yourVMSize>"

az vm list-skus --resource-type virtualMachines  --location $region --query "[?name=='$vmSize'].locationInfo[0].zoneDetails[0].Name" --subscription $subscription

the variables [subscription="<yourSubID>", region="<yourLocation>", and v

[2021-05-05 00:33] #74596 closed

[2021-05-05 01:39] james88nguyen opened #74793 "Instructions generated non working self signed certificate consistently."
[Enter feedback here]

As mentioned in the Support request ID 2104290010000129, the following 2 commands in the instructions generated a NON working self signed certificate for our Azure Application Gateway. As mentioned, I had tried multiple times on MacOS and via bash scripts and also tried it with Microsoft Tek Support, Yeudin Hidalgo, on both Azure Cloud Shell and Bash.

[code]

I hereby reque

[2021-05-05 02:09] Karishma-Tiwari-MSFT commented on #74792
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-05-05 02:13] jaredchia opened #74794 "Page title implies CLI is the only method for resizing Linux VM"
Looking at the two pages for resizing a VM, the titles based on OS implies that Windows VM can be resized using the portal and Powershell, however Linux VM can only be done via CLI.
Looking at the portal, it would seem that resizing a Linux VM using portal is possible.
The URLs seem to also reconfirm articles are based on OS so should assume that portal is not viable for Linux VMs?

---
#### Docum

[2021-05-05 02:21] larryclaman commented on #73554
Any update?  This was also mentioned in #71759

[2021-05-05 03:19] mike-urnun-msft commented on #74183
Ok, @JPalmerDev -- Visual Studio IDE is where the issue can be mitigated earlier on per your feedback, and I'll make sure to pass your feedback to the right team. Alternatively, you may share this feedback directly with the Functions team on [Azure UserVoice](https://feedback.azure.com/forums/355860-azure-functions) as well.

Assigning to @ggailey777 for the content-related changes that were sough

[2021-05-05 03:38] worldspawn commented on #74668
@SaurabhSharma-MSFT  I have just been through a long, long long support call with MS and the secret sauce seems to be you must install
`apt install -y libcharon-extra-plugins`

As soon as I did that it worked.

Also was advised to install libstrongswan-extra-plugins BEFORE strongswan-pki.

This appears to be required for it to work on linux in general and not a container specific requirement.

[2021-05-05 04:02] abhishektyagi2511 opened #74806 "Wrong Cert Mentioned"
Wrong Cert Mentioned
Can you please fix it, Its PEM cert not Base64
Please, Fix this ,its a huge issue for many saml setup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 165e6a4b-ca9c-89e6-e5e5-c6a3a14a5aeb
* Version Independent ID: d812e2a4-4c00-cfe1-fadf-87957cfaf2d1
* Content: [Tutorial: Azure Active Directory singl

[2021-05-05 04:08] CHEEKATLAPRADEEP-MSFT commented on #74771
@anilmur Could you please share details on the issue which you are facing?

[2021-05-05 04:16] SatishBoddu-MSFT commented on #74789
Hello @gitTinker
I have assigned the issue to the content author for further review .

[2021-05-05 04:24] MarileeTurscak-MSFT commented on #74806
@abhishektyagi2511 thanks for calling this out! Looking into this.

[2021-05-05 04:26] MarileeTurscak-MSFT commented on #74806
I made a pull request to update this and make sure that it matches the screenshot. https://github.com/MicrosoftDocs/azure-docs-pr/pull/157308

@jeevansd please review.

[2021-05-05 04:26] #74806 closed

[2021-05-05 04:27] MarileeTurscak-MSFT commented on #74775
@PlateSpinner
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-05 04:30] MarileeTurscak-MSFT commented on #74779
@cpschult
Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-05 04:33] MarileeTurscak-MSFT commented on #74779
Thank you. I made a pull request to update the document.

@cpschult please review. This appears to be the correct variable. https://github.com/MicrosoftDocs/azure-docs-pr/pull/157309

[2021-05-05 04:33] #74779 closed

[2021-05-05 04:44] ig2bagd commented on #73961
Upgrade Azure CLI to version 2.22.1, but I'm still getting the same error.

![image](https://user-images.githubusercontent.com/6082389/117097920-d42a4c80-ad21-11eb-8163-0cc3efe5957d.png)

[2021-05-05 05:08] JayaChatterjee-MSFT commented on #74713
Yes @sindhuragade. If this is about the product issue the right platform would be Microsoft Q&A platform

[2021-05-05 05:18] psmanhas commented on #74794
@jaredchia Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-05 05:18] psmanhas commented on #74794
@mimckitt Can you please check and add your comments on this doc update request as applicable

[2021-05-05 05:26] AjayKumar-MSFT commented on #74787
@scottaddie, Thanks for reporting this. The Azure Web PubSub service should be listed under "Web" -https://azure.microsoft.com/services/#web. It looks like it's listed on both places ( Integration + Web). So the entry on [Azure doc hub page ](https://docs.microsoft.com/azure/?product=web) needs to be updated - @yjin81, requesting you take a look into this.

[2021-05-05 05:32] SwathiDhanwada-MSFT commented on #74623
@blogero45  Kindly note the information is already documented under current limitations .

![image](https://user-images.githubusercontent.com/48976275/117099851-e3e07a00-ad8f-11eb-95e2-f77173c10108.png)

[2021-05-05 06:00] MS-jeremy opened #74814 "List some more known issues/limitation for CMK"
[Enter feedback here]
Suggest we can list some known issues or limitation after enabling the CMK in this section [Error handling](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-cmk#error-handling) or in a new section.
As we recently find some customers are filing support tickets after they enable CMK and encounter some known issues.

---
#### Document Details

⚠ *Do not edit this se

[2021-05-05 06:31] msftnadavbh opened #74815 "Step missing in CSI document"
The resource group creation step is missing in the document :

"To create an AKS cluster with Secrets Store CSI Driver capability, use the az aks create command with the addon azure-keyvault-secrets-provider:

az aks create -n myAKSCluster -g myResourceGroup --enable-addons azure-keyvault-secrets-provider
"
This results in :

**Resource group 'myResourceGroup' could not be found.**

_az group crea

[2021-05-05 06:37] johol545 commented on #74360
@PramodValavala-MSFT ,

Just want to confirm you got my last message.

[2021-05-05 06:38] psmanhas commented on #74536
@hrittikhere Sure no problem with that you can take your time. I will close this thread for now since rather than keeping it open for a week without any activity you can take your time check it on your side and if there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Hope the provided information is helpful.

[2021-05-05 06:38] #74536 closed

[2021-05-05 06:42] psmanhas commented on #74815
@msftnadavbh Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-05-05 06:42] psmanhas commented on #74815
@Nickomang Can you please check and add your comments on this doc update request as applicable

[2021-05-05 06:51] #74623 closed

[2021-05-05 06:59] Martin-Idel-SI commented on #33157
@mscatyao The note makes it seem like you could do the following:
- Deny access to all networks in KeyVault
- Allow Application Gateway to bypass this rule via allowing trusted services to access the KeyVault

In other words: https://docs.microsoft.com/en-us/azure/application-gateway/media/key-vault-certs/key-vault-firewall.png I can just check d) and not bother with adding the application gateway

[2021-05-05 07:01] SnehaAgrawal-MSFT commented on #74614
@vussan Thanks for asking question!  You can't create a chat thread/chat message directly with teams users - the only time chat is available is through a meeting chat. The customer could fake it and schedule a meeting, but never connect to the call and just use that meeting chat, but the limitations of the ACS users having to wait in a lobby still apply.
Also the team is working on supporting chat

[2021-05-05 07:19] SnehaAgrawal-MSFT commented on #74543
@jzhouw Thanks for reaching here. We typically try to keep the [Azure-Docs](https://docs.microsoft.com/en-us/azure/?product=featured) channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/topics/single/25375.html) or [Stack Overf