[2020-12-17 18:35] ChaitanyaNaykodi-MSFT commented on #67842
Hello @garthoid, Thank you for your feedback! We will review and update as appropriate.

[2020-12-17 18:38] sbounouh commented on #65835
We don't support social accounts sign-in in My Access today, but it is something that we are actively thinking about from product side. I have a couple follow-ups: 1/ which social domains do you expect to sign-in to My Access in your organization? , 2/ Would you expect someone who signs in using a Gmail account for example, to be part of a connected org 'Gmail'? For instance, if you allow an acces

[2020-12-17 18:38] gguyza001 opened #67854 "การลงโปรแกรมเมอร์จากนโยบายของการใช้ไซร์งานGoogle"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e27d0b1-56f9-2eb7-8fee-0c47cfbafeac
* Version Independent ID: 12556227-6adc-52c1-ac60-f341ae247e51
* Content: [Azure Services in FedRAMP and DoD SRG Audit Scope - Azure Government](https://docs.microsoft.com/en-us/azure/azure-government/compliance/az

[2020-12-17 18:38] ChaitanyaNaykodi-MSFT commented on #67849
Hello @xtianus79, Thank you for your feedback! We will review and update as appropriate.

[2020-12-17 18:42] hwride commented on #67824
Great, thank you.

[2020-12-17 18:44] PatrickFarley commented on #67705
@smereczynski It appears the sample handles this error by substituting _name_ if _label_data_ doesn't exist. Are you getting an error?

[2020-12-17 18:51] mepples21 opened #67855 "Step 17 should refer the user to Step 15 and not Step 10"
The instructions for Step 17 tell the user to test the URL from Step 10. There is no URL in Step 10, I believe it should refer the user to test the URL from Step 15.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1530a18c-020c-13ec-402f-0ca3c4588763
* Version Independent ID: b7c7afc4-f0f9-42aa-dbfa-7c149dc2f4cc
* Conte

[2020-12-17 19:03] MarileeTurscak-MSFT commented on #65835
PG response: We don't support social accounts sign-in in My Access today, but it is something that we are actively thinking about from product side. I have a couple follow-ups: 1/ which social domains do you expect to sign-in to My Access in your organization? , 2/ Would you expect someone who signs in using a Gmail account for example, to be part of a connected org 'Gmail'? For instance, if you a

[2020-12-17 19:08] chitturs opened #67856 "Clarify the deletion and update sections to add key useful info"
1.	It isn’t clear what the resource ID of the app would be for deletion since Get-AzResource did not list the apps, it listed other resource types. I then went into Azure portal and pulled it. It would have helped if there was a direct example in the deletion section.
2.	If we don't delete the resource type, a new deployment didn’t really update the binaries correctly. An example in the doc would

[2020-12-17 19:12] WinstonHoward-MSFT commented on #67596
I've assigned this to the author to update the doc.

[2020-12-17 19:18] GiftA-MSFT commented on #67671
@xiaojul can you please confirm?

[2020-12-17 19:26] GiftA-MSFT commented on #67720
@Trubzzz LUIS and QnA Maker solve difference problems. LUIS determines the intent of a user's text (utterance) while QnA Maker determines the answer to a user's text (query). Please review this [detailed document](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/choose-natural-language-processing-service) to understand when to use either/both services. Hope this helps.

[2020-12-17 19:30] #67670 closed

[2020-12-17 19:33] AjayKumar-MSFT commented on #67707
@diberry, All static web apps are only available on 80 and 443, we cannot host a static web app on any other port.

[2020-12-17 19:47] roygara commented on #67113
Since I haven't heard back, and I can verify that the parameter is present, I'll go ahead and close this issue out.

Thanks for reaching out!

#please-close

[2020-12-17 19:47] #67113 closed

[2020-12-17 19:50] SaiKishor-MSFT commented on #67804
@kikawash Is there anyway you can provide a screenshot of this? Thanks!

[2020-12-17 19:59] msftradford opened #67858 "Need to Update Dependencies in Example to ASA 2.7.0"
Current docs ask users to grab ASA 2.6. This should be changed to reflect the current version, ASA 2.7.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d172218-934f-1431-be92-4ad6897a31e9
* Version Independent ID: 124f517a-9531-838d-3834-a21f94da9fdb
* Content: [Install Azure Spatial Anchors for Unity - Azure Spatial A

[2020-12-17 19:59] Leonardo-Ferreira opened #67859 "JWT returned is invalid"
on section [Validate Secure API access](https://docs.microsoft.com/en-us/azure/active-directory-b2c/secure-api-management?tabs=app-reg-ga#validate-secure-api-access), subsection `7`, I do get redirected to `jwt.ms`but the page is displayed empty. Checking the `code` parameter, I get a value similar to:

That value is a invalid jwt. Is this a know issue? Did I did something wrong? I could swear I f

[2020-12-17 20:04] DarkKnightAnk opened #67861 "Typo in introduction section"
[Enter feedback here]
Typo in introduction section -> "It can help your in understanding if your..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 878f02f6-0a9a-a7c2-0ec6-afad85e2c2a4
* Version Independent ID: 16344e53-0446-6081-fad8-d07d87a512a6
* Content: [Introduction to Network Configuration Diagnostics in Azure N

[2020-12-17 20:07] ksh78068 opened #67862 "Contradictory run from package env variables"
The instructions for setting WEBSITES_RUN_FROM_PACKAGE and SCM_DO_BUILD_DURING_DEPLOYMENT seem to contradict what is written in the [Run from package](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package) instructions.

The [Deployment Customization](https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push#deployment-customization) section

[2020-12-17 20:10] CyCodeDev opened #67863 "java.lang.NoClassDefFoundError: scala/Product$class"
This is similar to: https://github.com/MicrosoftDocs/azure-docs/issues/58527 which never seems to have been resolved.

The issue arises when reading a parquet file and then attempting to bulkLoad to Azure SQL DB. It appears to be an issue with the Scala version (perhaps?)
(also tried importing directly: import com.microsoft.azure.sqldb.spark.connect.DataFrameFunctions)

When running this scala cod

[2020-12-17 20:32] AjayKumar-MSFT commented on #67612
@melvincanafranca, Thanks for the clarification and detailed update on this. It makes sense. We will make the changes as requested and will close on this. Thanks again for brining this to our attention and contributing in improving Azure docs.

[2020-12-17 20:35] femsulu commented on #67851
this looks like an incomplete issue. please ping if you have a specific issue .we will now close this issue.

[2020-12-17 20:35] #67851 closed

[2020-12-17 20:38] gmatisa opened #67865 "Compatibility Matrix needs to be corrected and improved"
Hi,

This Compatibility Matrix table is pretty much useless.
1) It's full of unclear and ambiguous info: eg. what do you mean by "EdgeIE 11", "IE 11IE 9-101" or "Windows Phone 101"???
2) What does this mean "1 Configuration not supported or tested; listed as reference for completion"??? Shouldn't this table provide us with precise info about supported browsers and platforms? Please, test it!

---

[2020-12-17 20:46] femsulu commented on #67834
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-12-17 20:53] femsulu commented on #67836
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-12-17 20:56] femsulu commented on #67837
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-17 20:58] femsulu commented on #67826
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-12-17 21:00] femsulu commented on #67829
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-12-17 21:06] femsulu commented on #67863
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-12-17 21:06] tfitzmac commented on #67672
@dolauli - I am guessing this is an issue with the version. The current version of the Az module is 5.2.

[2020-12-17 21:06] lidopaglia commented on #66213
@jimmyjamesbaldwin @SnehaAgrawal-MSFT  I believe this error would be fixed by #67843 which eliminates the need for specifying `ACTIONS_ALLOW_UNSECURE_COMMANDS`.

[2020-12-17 21:10] femsulu commented on #67839
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-12-17 21:16] femsulu commented on #67854
ปิดปัญหานี้ว่าเป็นสแปม โปรดแบ่งปันปัญหาที่ถูกต้องและเราจะช่วยเหลือ

[2020-12-17 21:16] #67854 closed

[2020-12-17 21:16] DerekHerman-MSFT commented on #67733
@AndyWDev I also receive the same error if port 2048 outbound traffic is denied with the NSG. You can enable telnet in the Windows features and telnet to the endpoint and port _telnet xyz.blob.core.windows.net 2048_ . If the port is not able to be connected to you will receive an error. So check your NSG under networking for the VM and also check your Networking settings for the storage account. I

[2020-12-17 21:24] DerekHerman-MSFT commented on #67749
@karataliu
Blob-> Generate SAS: if you look at Blob SAS URL it has the "?"
I believe this is part of the URL and is considered a [query string](https://en.wikipedia.org/wiki/Query_string). Is there some issue you are trying to resolve? What do you feel needs to be clarified?

[2020-12-17 22:19] MarileeTurscak-MSFT commented on #67855
@mepples21
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-17 22:29] MarileeTurscak-MSFT commented on #67855
Thanks! I made a pull request to correct this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/141368

[2020-12-17 22:29] #67855 closed

[2020-12-17 22:36] Trubzzz commented on #67720
I understand this and have read the documentation, but this really doesn't address the concerns I illustrated here. I realize the chit chat knowledge base of yours that I used to highlight my points may not be robust enough for an actual implementation, but the examples and screenshots I've provided highlight some pretty big inaccuracies in how QnA Maker responds.

"Who am I talking to?" is a verb

[2020-12-17 22:37] MarileeTurscak-MSFT commented on #67834
It is currently not possible to automate creation of AAD B2C tenant.

You can, however, [use the PowerShell AzureADPreview 2.0 module to manage custom policies and applications](https://docs.microsoft.com/en-us/powershell/azure/active-directory/overview?view=azureadps-2.0-preview). You can also use Microsoft Graph APIs to manage[ custom policies ](https://docs.microsoft.com/en-us/graph/api/resourc

[2020-12-17 22:37] #67834 closed

[2020-12-17 22:50] PCNZ commented on #56216
The size has been released but the performance information is not available still.

[2020-12-17 22:57] markjbrown commented on #67767
It is scoped per account.

[2020-12-17 22:59] rishabv90 commented on #67601
Thanks for sharing this information. Given that the workload is smaller, have you considered using B series VMs ? B series will give you better pricing in this usecase.

[2020-12-17 22:59] JamesTran-MSFT commented on #67859
@Leonardo-Ferreira
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-17 23:02] jovalen opened #67869 "Wrong redirect for link Use PowerShell to register and scan Power BI"
[Enter feedback here]
The link Use PowerShell to register and scan Power BI redirects to the same page (not powershell instructions)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2058d99-ebe7-6d5d-1337-43de20df8116
* Version Independent ID: 643c4310-00e2-3dac-c0db-7e4f9c588d22
* Content: [Register and scan a Power BI

[2020-12-17 23:11] JamesTran-MSFT commented on #67728
@eximotae
Thank you for the quick response! You can find a detailed comparison of each group within [this link](https://docs.microsoft.com/en-us/microsoft-365/admin/create-groups/compare-groups?view=o365-worldwide#microsoft-365-groups).

As for the error message in my screenshot, I believe it "failed to update" my app due to the group not being supported for self service. Since you're waiting for

[2020-12-17 23:11] #67728 closed

[2020-12-17 23:12] JnHs commented on #67837
@markmcdonagh-hpe thank you for the feedback! Agree that is clearer wording, I've implemented this per your suggestion and will now close this issue, but please let us know if you have additional doc feedback.
#please-close

[2020-12-17 23:12] #67837 closed

[2020-12-17 23:28] JamesTran-MSFT commented on #67772
@joappleMSFT
Thank you for your time and patience throughout this issue. I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-17 23:29] JamesTran-MSFT commented on #67820
@alana257
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-17 23:31] JamesTran-MSFT commented on #67821
@liweinan0423
Thanks for your pointing this out! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-17 23:42] taylorchasewhite commented on #66458
Hi @souravmishra-msft & @rwike77, just checking in on this, have you guys decided the direction for this issue (I know addressing it may take some time), but I'd like to know roughly the path forward here.

Thanks!

[2020-12-17 23:56] ChaitanyaNaykodi-MSFT commented on #67687
Hello @miqm, yes by design `cache-store` policy is applied only for 200 response. I have made a PR to add a note regarding the suggested feedback, it is currently under Doc-author's review. Thank you!

[2020-12-18 00:31] DrEnnui opened #67870 "statement in documentation incorrect/inaccurate?"
In the "Requirements for configuring AKV" section, the document states, "Soft-delete feature is off by default..."

As far as I can see, it is actually on by default - at least when creating vaults via the Portal.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7600c6cf-0b4d-1ffa-c1bb-ebf23adafc1f
* Version Independent I

[2020-12-18 00:52] GiftA-MSFT commented on #67720
@Trubzzz with QnA maker, you need to add as many alternate questions necessary to return the best answer. If you aren't sure of relevant questions or keywords, use Application Insights data to analyze queries so that you can enhance your knowledge base accordingly.
@nerajput1607 do you have anything else to add?

[2020-12-18 00:59] ChaitanyaNaykodi-MSFT commented on #67862
Hello @ksh78068, Thank you for your feedback! We will review and update as appropriate.

[2020-12-18 01:38] rwike77 commented on #54847
Closing for now.  Please reopen if you need more info.  #please-close

[2020-12-18 01:38] #54847 closed

[2020-12-18 02:19] elisolMS commented on #65835
Hi @SB-o-matic, I'm a Program Manager on the Entitlement Management team and would like to clarify what's going on here a bit more.  The MyAccess portal does support users with social email addresses (like outlook.com or live.com) but only on a tenanted URL (ex: https://myaccess.microsoft.com/@{YourTenantDomain}#/access-packages).  If a social user tries to go to the root URL (https://myaccess.mic

[2020-12-18 03:03] SubhashVasarapu-MSFT commented on #67861
@DarkKnightAnk, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-18 03:03] #67861 closed

[2020-12-18 03:54] docbugger commented on #65806
@cherylmc Is there any more context you can provide about the decision? Because to be honest, the way it was conveyed gives the impression that there's something users would be concerned about...

[2020-12-18 03:59] ram-msft commented on #67850
@MustAl-Du Thanks for the feedback! We will review and update accordingly.

[2020-12-18 04:02] milope opened #67874 "What happens if source storage account has firewall enabled and blocks the destination storage account?"
The article states that when we copy blobs between storage accounts, the copy is performed service-to-service. Based on another older announcement and some Storage Log analysis, it appears that the destination Storage Account attempts to read the blobs from the source Storage Account. What happens if we have the Storage Account firewall enabled on the source Storage Account that would inadvertentl

[2020-12-18 04:18] BhargaviAnnadevara-MSFT commented on #67869
@jovalen Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-12-18 04:24] SnehaAgrawal-MSFT commented on #67865
@gmatisa Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-18 04:39] BhargaviAnnadevara-MSFT commented on #67869
@jovalen This seems to have been a recent change to the docs. I'm checking with the author and will get back to you as I hear more.

[2020-12-18 04:45] SumanthMarigowda-MSFT commented on #67603
@elgrunt0, The PR has been raised, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-18 04:45] #67603 closed

[2020-12-18 04:48] AshokPeddakotla-MSFT commented on #67858
@msftradford  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-18 04:53] CHEEKATLAPRADEEP-MSFT commented on #67869
@jovalen,  ADC PowerShell module is not yet available, that's the reason the link is redirecting to the same page.

Once the ADC PowerShell module is available, we will update the link to point to the right document.

Hope this helps.

[2020-12-18 04:53] #67869 closed

[2020-12-18 04:54] CHEEKATLAPRADEEP-MSFT commented on #67831
@jyeblog  Thanks for the question! We are investigating and will update you shortly.

[2020-12-18 04:54] AnuragSharma-MSFT commented on #67870
@DrEnnui Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-18 04:58] HarshitaSingh-MSFT commented on #67830
Hello @lwsrbrts , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-18 05:00] HarshitaSingh-MSFT commented on #67625
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-12-18 05:01] HarshitaSingh-MSFT commented on #67631
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-12-18 05:02] HarshitaSingh-MSFT commented on #67635
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-12-18 05:03] HarshitaSingh-MSFT commented on #67693
Just checking in to see if you have had a chance to see the previous response. Kindly provide some more clarity on what is the ask here.

[2020-12-18 05:17] HarshitaSingh-MSFT commented on #67703
@eaarnoudse , thank you for bringing this to our attention. I have checked it on my machine, ideally, `SafeJsonConvert` class should take `using Microsoft.Rest;` namespace, but somehow, it requires specified namespace : `using Microsoft.Rest.Serialization;`, So, please be informed that this change has been made and pushed internally, and it will be merged soon.

[2020-12-18 05:28] thomascwei opened #67875 "question of get digital twin restapi access token"
i try to use cli "az account get-access-token --resource 0b07f429-9f4b-4714-9392-cc5e8e80c8b0" to get access-token .
where can i find myown resource ?

thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32f3301f-e263-5631-00f5-1ebc57efaf0b
* Version Independent ID: cb7c0774-adf4-d235-9634-5dffaf73b37b
* Content:

[2020-12-18 05:39] JayaChatterjee-MSFT commented on #67762
@miaojiang Could you please look into it?

[2020-12-18 06:25] RohitMungi-MSFT commented on #67676
@ashishanand7 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply or you can send your feedback from the ML portal as shown in the previous comment. Thanks!!

[2020-12-18 06:25] #67676 closed

[2020-12-18 06:35] BhargaviAnnadevara-MSFT commented on #67817
@JBiasilloTM I see that the `$TimeStampField` is initialized to an empty string in the [quoted sample](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api#powershell-sample), due to which I did not encounter the error while executing the sample as is.

![image](https://user-images.githubusercontent.com/44050820/102582750-3c88e080-4129-11eb-93cc-4291f8436465.png)

Do yo

[2020-12-18 06:42] algattik opened #67876 "Add sample of managing Default ACLs"
Usually, when creating ACLs, we want to create them with default scope.

Examples with `-DefaultScope` on  `Set-AzDataLakeGen2ItemAclObject` would have saved me time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 562aa838-243f-bed8-c3cb-9164af5efe71
* Version Independent ID: 369544f3-5260-3773-68f2-3479c6e9587e
* Cont

[2020-12-18 06:45] psmanhas commented on #67856
@chitturs Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-12-18 06:46] psmanhas commented on #67856
@erikadoyle Can you please check and add your comments on this doc update request as applicable

[2020-12-18 06:58] CHEEKATLAPRADEEP-MSFT commented on #67876
@algattik  Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2020-12-18 07:02] SwathiDhanwada-MSFT commented on #67694
@parameswar-mondal-fission I have gone through you XML file. The configuration isn't defined correctly. XML should follow this tree structure  like Root - DiagnosticsConfiguration - PublicConfig - WadCFG - DiagnosticMonitorConfiguration and within DiagnosticMonitorConfiguration , the elements should be defined.

For more information on the XML configuration elements, kindly refer [this document](h

[2020-12-18 07:04] anhlqn commented on #65894
@winthrop28 thanks for pointing that out. Looks like the issue here is that the Matched log for rule 942450 isn't written correctly?
It should be:
[code]
instead of
[code]

I think that would be easier than having to go to the rulesets on Github to get the right severity to understand the Matches correctly.

[2020-12-18 08:07] yahanda commented on #67618
Thank you for your comment @mamccrea
I specified the username and password of my Azure account in curl command but the following error is returned:

It seems that I need a token for authentication in the header, how do I create it?

[2020-12-18 08:22] Bozhong68 commented on #67850
PR resolved the issue: https://github.com/MicrosoftDocs/azure-docs-pr/pull/141417

[2020-12-18 08:23] Bozhong68 commented on #67850
#sign-off

[2020-12-18 08:43] AjayKumar-MSFT commented on #67707
Dina, we will close this thread for now. Please let us know we can gladly continue the discussion.

[2020-12-18 08:43] #67707 closed

[2020-12-18 09:01] JBiasilloTM commented on #67817
Hi

The code works OK when running from my desktop powershell session too but I got the “object not set …”issue when running from Azure Automation runbook so there’s something different in the desktop and automation hosting environment.

Did you try from running the code from an Azure Automation runbook?

Kind regards,
John Biasillo / Senior Cloud Consultant
M: 07599 549208
E: john.biasillo@trustm

[2020-12-18 09:20] #67761 closed

[2020-12-18 09:20] JayaChatterjee-MSFT commented on #67761
@bananbe Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-18 09:21] laultman opened #67880 ""ttl" or "id" as a field name on Cosmos Tables Throws Hard Server 500 Error"
It seems that many of the SQL API built-in fields cause unrecoverable errors when Cosmos encounters them using Comos Tables. Doing imports from external data, we have **NO-Not Any, NONE, ZERO** control over the imported field names. In this case there is a field called ''ttl" that is colliding with a field in Cosmos. Importing thousands of rows where each one fails is not an acceptable use of an e

[2020-12-18 10:01] mruepp commented on #24857
This Bug is was never solved and should be reopened again. I create a new issue.

[2020-12-18 10:15] mruepp opened #67883 "Unable to create service principal with azure cli from git bash shell, no connection adapters were found."
When trying to create an azure service principal from git bash or programatically from bash scripts, the task fails with the following error:

Creating a role assignment under the scope of "C:/Program Files/Git/subscriptions/yyy-yyy-xxx-xxx"
  Role assignment creation failed.

ClientError: Error occurred in request., InvalidSchema: No connection adapters were found for 'C:/Program Files/Git/subscr

[2020-12-18 10:30] AshokPeddakotla-MSFT commented on #67875
@thomascwei Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-18 10:31] mruepp commented on #67883
Moved Issue to azure-cli project

[2020-12-18 10:31] #67883 closed

[2020-12-18 10:41] AnuragSharma-MSFT commented on #67880
@laultman Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-18 11:14] asergaz commented on #67836
Hello @ramakrpr,

As this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

In case your query is not related to document content, please open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/

[2020-12-18 11:20] BhargaviAnnadevara-MSFT commented on #67815
@mmaitre314 Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

Meanwhile, please know that the right tag for **Azure Managed Applications** on Stack Overflow is: [**azure-managed-app**](https://stackoverflow.com/questions/tagged/azure-managed-app), and that it is also supported on our Microsoft Q&A platform with tag: [**azure-managed-applications**

[2020-12-18 11:21] SwathiDhanwada-MSFT commented on #67738
@mmaitre314 From the information provided, I could see that you are using AzureRM module. Kindly note that all versions of the AzureRM PowerShell module are outdated. The Az PowerShell module is now the recommended PowerShell module for interacting with Azure.

Kindly use [New-AzManagedApplicationDefinition](https://docs.microsoft.com/en-us/powershell/module/az.resources/new-azmanagedapplicationde

[2020-12-18 11:36] clement911 commented on #56597
Still no eta 🙏?
That would be a great Christmas pressie 😉

[2020-12-18 11:38] rinaldochristy commented on #43709
Hi, I have the same issue, I tried the steps Swathi provided (https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-enable-at-scale-powershell#enable-with-powershell )but no luck! I waited on it for more than a day, is there anything else I can do?

[2020-12-18 11:38] asergaz commented on #54441
fyi @weinanshen

[2020-12-18 11:46] eaarnoudse commented on #67703
Thank you very much for the update.

Van: HarshitaSingh-MSFT <notifications@github.com>
Verzonden: vrijdag 18 december 2020 06:18
Aan: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
CC: eaarnoudse <eaarnoudse@gmail.com>; Mention <mention@noreply.github.com>
Onderwerp: Re: [MicrosoftDocs/azure-docs] Missing 'using' statement (#67703)

@eaarnoudse <https://github.com/eaarnoudse>  , thank y

[2020-12-18 12:00] HarshitaSingh-MSFT commented on #67703
@eaarnoudse , we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-18 12:00] #67703 closed

[2020-12-18 12:02] AjayKumar-MSFT commented on #67883
mruepp,  Thanks for leveraging Azure docs feedback channel to raise this question! Appreciate the follow-up and update on this.

[2020-12-18 12:08] PramodValavala-MSFT commented on #67734
@ronarieke the policy sample includes the `openid-config` which add in an issuer when parsed but if you don't include that or not user OpenID, then you will have to add the issuer.

[2020-12-18 12:17] annerajb opened #67884 "No explanation how to add Children Account when using Organizations"
Hello,

This document dosn't really go into detail on how to handle Children accounts when using organization and a master except the beginning where it says to just config security hub and AWS Config on all accounts.

Should the master account be a aggregator for all organization children accounts?
Any special name or setting when configuring the aggregator?

---
#### Document Details

⚠ *Do not

[2020-12-18 12:19] aggerritsen commented on #66673
Hi All,

When querying with Powershell or CLI the Service Tag **AzureDevOps** does not exist, nor contains any IP Address Prefixes.
Is there a time frame known in which de Service Tag AzureDevOps will contains IP ranges in general. And more specifically the IP prefixes for Microsoft Hosted Agents?

Kind Regards, Arjen

[2020-12-18 12:39] RohitMungi-MSFT commented on #67620
@ShubhangiGoyal We will now proceed to close this thread as this feature is not supported. Please add more details of your scenario so our team can advise on how to proceed. Thanks!!

[2020-12-18 12:39] #67620 closed

[2020-12-18 12:47] franpb90 commented on #20737
@BhargaviAnnadevara-MSFT  Thank you!

[2020-12-18 12:54] shashishailaj commented on #67884
@annerajb Thank you for your feedback . We will investigate and update this.

[2020-12-18 13:15] PramodValavala-MSFT commented on #67674
@matthewkrieger Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-18 13:15] #67674 closed

[2020-12-18 13:36] AshokPeddakotla-MSFT commented on #67795
@jlian please review this further and update the doc if necessary.

[2020-12-18 13:38] AshokPeddakotla-MSFT commented on #67858
@msftradford I see that you are the author of this doc. please go ahead and update it as necessary.

[2020-12-18 13:54] BhargaviAnnadevara-MSFT commented on #67817
@JBiasilloTM Yes, I was able to run it without any errors both from my machine and a PowerShell automation runbook.

I copied the PS snippet into the runbook as is and replaced the `$CustomerId` and `$SharedKey` with my LA Workspace ID and Primary Key, respectively, and executed it. The run completed successfully with a `200` status code.

I was able to reproduce this error as soon as I commented

[2020-12-18 13:55] joemitchard opened #67885 "Runtime error in JavaScript example for EventGrid CloudEvent handshake"
[Enter feedback here]

Hi there,

There's an issue with the JavaScript example on this page when handling the validation request.

[code]

should be

[code]

because the `headers` property is undefined at runtime.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddd55e19-eb11-3b0f-c6e1-3710f712fd58
* Version Independent

[2020-12-18 13:59] AshokPeddakotla-MSFT commented on #67704
@Thanks for the additional information. I have assigned the issue to the content author @kgremban  to evaluate and update as appropriate.

[2020-12-18 14:11] JBiasilloTM commented on #67817
Hi

I think I see how the issue has come about.  I added the Post-LogAnalyticsData as a nested function in my Automation runbook.  The code sample initialises $TimeStampField variable outside of the function (but I didn’t do this in my “main” runbook processing).  I think initialising the $TimeStampField variable inside the function or adding a $TimeStampField function parameter would may the code

[2020-12-18 14:32] dkirby-ms opened #67886 "Azure Keyvault ARM template JSON is missing authenticationSettings and has malformed values for some properties."
The "name" property must have the name of vm preceding "KeyVaultForLinux" or you will get a deployment error. Also note that authenticationSettings property is required for Azure Arc machines. Also note that observedCertificates property expects array. I also updated the apiVersion to a working version. The below example should work.

      {
        "type": "Microsoft.HybridCompute/machines/exten

[2020-12-18 14:34] Eirenarch opened #67887 "Code sample uses old SDK"
This sample still uses the attributes from the old Azure Search SDK. IsSearchable does not exist in the new SDK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 930a42f8-bd6b-9822-0b8b-be96982dd1bb
* Version Independent ID: 517ebad0-48a8-23be-a6f3-2195758f0507
* Content: [Analyzers for linguistic and text processing - Az

[2020-12-18 14:37] #67811 closed

[2020-12-18 14:37] SwathiDhanwada-MSFT commented on #67811
@kwiecek Thanks for your feedback. I have made changes to the document and the changes will be live soon. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-18 14:44] manishmsfte commented on #66900
Please use BulkImportAsync refer https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmosdb.bulkexecutor.graph.graphbulkexecutor.bulkimportasync?view=azure-dotnet with enableUpsert=true.

[2020-12-18 15:25] spacecat opened #67888 "Pricing information missing for AKS clusters that are deployed using availability zones"
Thanks for this article.

I found it useful except it's missing pricing information.

I'm about to create a cluster from within the Azure portal and I can't see pricing info there either.

I'm particularly interested in how much extra it costs to deploy an AKS cluster that is deployed using availability zones?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-12-18 15:55] philrice opened #67889 "clarification on password reset protection for members in Hybrid environment"
For the following question and answer:
 👍 Q: I am a Helpdesk Administrator in my organization but I can't update password of a user who is a Directory Reader. Why does that happen?

A: The user might have gotten Directory Reader by way of a role-assignable group. All members and owners of a role-assignable groups are protected. Only users in the Privileged Authentication Administrator or Global Ad

[2020-12-18 16:04] jennifermarsman opened #67890 "Invalid code samples (missing semicolons and parens)"
The two code snippets in C# under "Step 2" on this page can't be correct.  The parenthesis don't line up and there is no semicolon at the end.  One of them:

var client = new SearchClient(<SearchServiceName>, <IndexName>, new AzureKeyCredentials(<QueryKey>)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d15016b-314c-5

[2020-12-18 16:10] BharathNimmala-MSFT commented on #67874
@milope Thank you for reaching out to us with your query, our team will review and get back to you at the earliest.

[2020-12-18 16:11] xuegao0112 opened #67892 "Add cloud role name based on app insights VM extension/agent"
I found it's not able to show the cloud role name automatically when host app on the IIS in the Azure VM.

Looks like the only way to add **cloud role name** is change the code, may I know if that's possible to add host name with  the codeless AI integration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b3e91f-c240

[2020-12-18 16:16] HarshitaSingh-MSFT commented on #67631
@PiotrZalewski-TomTom , hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-12-18 16:16] #67631 closed

[2020-12-18 16:17] HarshitaSingh-MSFT commented on #67693
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-18 16:17] #67693 closed

[2020-12-18 16:17] HarshitaSingh-MSFT commented on #67625
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-18 16:17] #67625 closed

[2020-12-18 16:18] HarshitaSingh-MSFT commented on #67635
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-18 16:18] #67635 closed

[2020-12-18 16:20] #67713 closed

[2020-12-18 16:30] 2sharjoshi commented on #67586
Greetings!
Thank you @AjayKumar-MSFT for your assistance.
@SubhashVasarapu-MSFT Request your help/comment on above question. Let me know if you need any inputs from me.

[2020-12-18 16:37] HeidiSteen commented on #67890
@jennifermarsman  Code snippet is fixed (I will put you on the PR).  Thanks for the heads up!

#please-close

[2020-12-18 16:37] #67890 closed

[2020-12-18 16:44] eaarnoudse opened #67893 "Where is the Parameter tab?"
Please refer to the sentence "Switch to the Parameters tab, and do the following actions:"

Where is the Parameters tab? Could you please add a brief description and screendump?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 125c8ae8-332f-8792-d81b-30bb0eb3976f
* Version Independent ID: 2e2ac8cb-

[2020-12-18 16:55] ArnoMicrosoft commented on #67697
@BE-Digital-Solutions-Bart

We have a plan to remove the limitation (1 per workspace). On the Power BI, the document, should be updated. It's not current.

Thank you,
Arnaud

[2020-12-18 17:16] dimitri-furman commented on #56597
The best ETA I can provide is a public preview of that capability in the first half of 2021. But this is only with medium confidence at this point, so customers should not make plans with the expectation of this being available at any specific point in time.

[2020-12-18 17:23] caz3542 opened #67894 "Add note that PowerShell Core does not work"
The document should reference that PowerShell Core is not supported. It currently lists "You must have PowerShell version 5.0 or higher" but does not work with PowerShell core verion 6+

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534edc5b-f2c1-1ace-cc20-3fa1964268ed
* Version Independent ID: 9e1d91a8-d6d8-1d77-a853-

[2020-12-18 17:38] #67858 closed

[2020-12-18 17:45] clement911 commented on #56597
I'll take what I can get!

[2020-12-18 17:57] mmaitre314 commented on #67738
@SwathiDhanwada-MSFT : AzureRM-vs-Az is not the issue here since the error comes from the server side and I was able to fix it by passing a SAS token. The doc should handle Storage auth properly.

[2020-12-18 18:14] tfitzmac commented on #54558
#please-close

[2020-12-18 18:14] #54558 closed

[2020-12-18 18:28] JosefinaArayaTapia commented on #65655
u have a solution?

[2020-12-18 18:32] danajayshields opened #67895 "Instructions Not Valid"
1. Instructions beginning with "Create an inferencing cluster" don't work. It says, "Select **Compute** in the dialog box that appears to go to the Compute page." There is no dialog box that appears to go to the Compute page.

2. Instructions beginning with "on the navigation ribbon, select Inference Clusters > + New, then "In the inference cluster pane, configure a new Kubernetes service." There

[2020-12-18 19:01] shashishailaj commented on #67669
@wombling That's a great thought . Let me check this internally and I will let you know further if we can have this change in metadata or there is some other explanation for the same.

[2020-12-18 19:02] llx9 commented on #67278
@TravisCragg-MSFT is there any update? Thanks!

[2020-12-18 19:29] ChaitanyaNaykodi-MSFT commented on #67885
Hello @joemitchard, Thank you for your feedback! We will review and update as appropriate.

[2020-12-18 19:33] WinstonHoward-MSFT commented on #67888
Hey @spacecat ,

AKS is a free container service. You only have to pay for the virtual machines, and associated storage and networking resources consumed. There is no charge for cluster management. Take a look at this [interactive pricing calculator](https://azure.microsoft.com/en-us/pricing/calculator/?service=kubernetes-service) to estimate your compute, storage, and networking costs for the und

[2020-12-18 19:34] #67888 closed

[2020-12-18 19:45] DerekHerman-MSFT commented on #67733
@AndyWDev If you are still having issue I recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-18 19:45] #67733 closed

[2020-12-18 20:15] jyeblog opened #67898 "Please specify exactly what role need to be assigned to Streaming Analytics Job MSI"
[Enter feedback here]
In the documentation:

8. To authenticate with Managed Identity (preview), select Managed Identity from the Authentication mode dropdown. If you choose Managed Identity, you need to add your Stream Analytics job to the storage account's access control list.

It didn't mention which role is needed, is it:
1. Storage Blob Data Contributor? Or
2. Storage Blob Data Owner ? Or
3.

[2020-12-18 20:22] CyCodeDev commented on #67863
Thanks for the follow-up. To be specific, it is when using the following code:
``` df2.bulkCopyToSqlDB(connectionOptions) ```

df2 is a parquet-sourced dataframe.

[2020-12-18 20:27] mhilde opened #67899 "Confusion about temporary password sync and AADJ'd machines"
The area of this page that discusses the ability for AAD Connect to sync 'temporary passwords' needs to be clarified for the fact that it does not work as expected (or at all) for AADJ'd machines.

Further, if I do sync this 'temporary password' to AAD from AD via AAD Connect, it doesn't appear that I ever get notified on an AADJ'd machine to change the password?

I'm not clear what the expected u

[2020-12-18 20:34] viseshag commented on #67210
@DJuanes Can we get on a quick call? Please let me know a couple of time slots that work for you.

[2020-12-18 20:35] DerekHerman-MSFT commented on #67874
@milope According to the documentation: _Your client must have network access to both the source and destination storage accounts. To learn how to configure the network settings for each storage account, see Configure Azure Storage firewalls and virtual networks._
I tested this by creating two blob storage accounts, in the firewall settings I only allowed my IP for both source and destination acco

[2020-12-18 20:38] viseshag commented on #67623
@hophanms Can you please update this?

[2020-12-18 20:39] sam-wheat commented on #56756
@JasSuri  Simple walkthroughs are nice and greatly appreciated.  But this issue is also about misleading, overlapping, ambiguous, circular referencing documentation that is nothing short of maddening.  [See this post on Reddit](https://old.reddit.com/r/dotnet/comments/jud07a/why_a_two_hour_job_in_azure_took_two_days_and_i/) for a step-by-step documented example.

[2020-12-18 20:40] #67720 closed

[2020-12-18 20:43] Grace-MacJones-MSFT commented on #67792
Hi @Ayanmullick , what are you trying to build and what are the requirements?  We can help guide you to which product to you use based on your project's requirements

[2020-12-18 20:48] hophanms commented on #67623
Done in https://github.com/MicrosoftDocs/azure-docs-pr/pull/141464

#please-close

[2020-12-18 20:48] #67623 closed

[2020-12-18 20:56] Ayanmullick commented on #67792
@Grace-MacJones-MSFT, I am thinking of creating a Blazor-based portfolio page with some PowerShell code sample web pages for Azure implementation. However, there should be a comparison chart for both of these Microsoft products one can refer to for future projects too.

[2020-12-18 21:14] jlian commented on #67795
Addressing via https://github.com/MicrosoftDocs/azure-docs-pr/pull/121421

[2020-12-18 21:32] Grace-MacJones-MSFT commented on #67887
Hi @Eirenarch, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-18 21:35] andrejpk opened #67900 "npm install should include --save"
for the installation line:
[code]

should be:

[code]

because you almost always want to --save if you are actually using this in a project, either ```--save``` or ```--save-dev```. This adds the reference to your package.json so when you deploy or restore the repo elsewhere, this dependency goes back in. Without this argument, the installation is temporary and wont' stick with the project.

---
#

[2020-12-18 21:39] jyeblog commented on #67898
Tested Storage Blob Data Contributor appears to be working

[2020-12-18 21:41] rwike77 commented on #45285
@albigi Sorry for the slow reply.  Thanks for the repro steps.  The error you receive is by design, you need the custom signing key first.  We'll get the error message improved and I've created a work item to improve the content.  #please-close

[2020-12-18 21:41] #45285 closed

[2020-12-18 21:45] #67671 closed

[2020-12-18 21:47] oafolabi opened #67901 "Anchor B is used in documentation before it is defined."
In the section on [connecting anchors in multiple session ](https://docs.microsoft.com/en-us/azure/spatial-anchors/concepts/anchor-relationships-way-finding#connect-anchors-in-multiple-sessions), bullet point 4 states that anchors A. B and C are now connected. I noticed that anchor B is actually never defined. It might make the documentation a bit clearer to state when anchor B is created.

---
##

[2020-12-18 21:55] GiftA-MSFT commented on #67895
@danajayshields we'll review your feedback and get back to you shortly. Thanks.

[2020-12-18 21:56] rwike77 commented on #50421
#assign:@paulgarn

[2020-12-18 21:57] hpsin commented on #62774
Hey there,

The admin consent endpoint with /.default does indeed request all of the permissions listed in the "required permissions" section, both user and app, and you're correct that in order to request app permissions you must use /.default.

If you don't want admins to see a given permission in the admin consent screen all the time when you use /.default, the best practice is to not put it in

[2020-12-18 21:59] msftradford commented on #67901
acknowledge (#31122240)

[2020-12-18 22:14] #67901 closed

[2020-12-18 22:24] rrperkin commented on #56756
@JasSuri adding my call not to close this or to receive a tracking URL along with backlinks.

For me, it wasn't 2 days with nothing to show. It was three solid months, after an expectation of one week, and like @sam-wheat I've been at this coding thing for a long, long time and seem to be able to go back and forth between the seven computer languages I know and the four I regularly use, moving bet

[2020-12-18 22:25] NavtejSaini-MSFT commented on #67725
@SarveshPandey Please let us know if you have any further question in this regard.

[2020-12-18 22:26] NavtejSaini-MSFT commented on #67767
Thank you @markjbrown
@RonnieQuan - Please let us know if you have any questions in this regard.

[2020-12-18 22:27] NavtejSaini-MSFT commented on #67801
@rohitnayakmsft Can you please check the feedback and change the document if necessary.

[2020-12-18 22:40] Grace-MacJones-MSFT commented on #67792
@Ayanmullick  You are able to build your project using Azure web apps. Here is a doc to get you started:
[Tutorial: Building a static web app with Blazor in Azure Static Web Apps
](https://docs.microsoft.com/en-us/azure/static-web-apps/deploy-blazor)

I have also assigned this issue to the doc author to make the necessary changes needed to the doc.

[2020-12-18 22:57] BharathNimmala-MSFT commented on #67892
@xuegao0112 Thank you for your feedback, our team will review it and back to you at the earliest.

[2020-12-18 23:00] BharathNimmala-MSFT commented on #67900
@andrejpk Thanks a lot for bringing this to our attention and helping us to improve our Azure documentation. We will review the feedback and update the document accordingly.

[2020-12-18 23:10] JamesTran-MSFT commented on #67825
@labanex
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-18 23:12] renatosalas commented on #24999
Hi all,

Member of the Snapshot Debugger team,

We have created the proper documentation of how to enable Application Insights Snapshot Debugger in Azure Function, see below:
https://docs.microsoft.com/azure/azure-monitor/app/snapshot-debugger-function-app

Renato Gutiérrez

[2020-12-18 23:19] normesta commented on #67561
Closing issue as it appears to work. Please do open an issue if you find the link does not resolve to the correct version. Thx!

#please-close

[2020-12-18 23:19] #67561 closed

[2020-12-18 23:23] rwike77 commented on #56936
@Melody-Fu  thanks for the feedback, you are correct.  I've submitted a doc update.  #please-close

[2020-12-18 23:23] #56936 closed

[2020-12-18 23:24] SB-o-matic commented on #65835
First of all, I appreciate you all taking the time to respond. The responses are very helpful.

1. @MarileeTurscak-MSFT  To answer the question about which Social Domains we are expecting to be allowed here, well I'd say, all. In our scenario we have allowed guest accounts created using social identities in our Azure AD tenant. I am working on moving us away from this however, but that is where we

[2020-12-18 23:29] himanshusinha-msft commented on #67745
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-12-18 23:33] charris-msft opened #67905 "Inconsistency between code and screenshot"
Under [Add code that uses the output binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-add-output-binding-storage-queue-vs-code?pivots=programming-language-python#add-code-that-uses-the-output-binding) the instructions say to add: `msg.set(name)` which will send just the name to the message queue.

In the text and the screenshot under [Examine the output queue](https://docs

[2020-12-18 23:37] James-Hamil-MSFT commented on #67751
Thank you @jmprieur , saw that is was merged. Closing.

[2020-12-18 23:37] #67751 closed

[2020-12-18 23:38] DerekHerman-MSFT commented on #67894
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-18 23:54] JamesTran-MSFT commented on #67899
@mhilde
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-19 00:00] HeidiSteen commented on #67887
Hi @Eirenarch, the C# code is updated in the documentation to use the new SDK:  https://docs.microsoft.com/en-us/azure/search/search-analyzers#c-examples   Thanks for filing the issue!

[2020-12-19 00:12] WinstonHoward-MSFT commented on #67886
Thanks for the issue and replacement JSON, I've assigned this to the doc author to take a look at updating the doc.

[2020-12-19 00:14] CelesteDG commented on #67537
@MarileeTurscak-MSFT @SaurabhSharma-MSFT Can we please get this recategorized as a doc-experience/doc suggestion/doc enhancement? It's not a doc bug. Thanks!

CC @mmacy

[2020-12-19 00:15] ToddGe opened #67906 "Question regarding: Cluster configuration best practices (SQL Server on Azure VMs)"
[Do all VMs that are part of the Always On Availability set need to be the same Size/Sku?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd43a6-c244-750c-4ff1-dd12e35ecb1c
* Version Independent ID: 087efa4c-7d01-0a48-b368-2d4d442be05a
* Content: [Cluster configuration best practices - SQL Server on Azure VM](https:/

[2020-12-19 00:16] #64625 closed

[2020-12-19 01:07] gitclem opened #67907 "Page is unhelpful in showing actual exact steps needed to set the partition key"
I get WHY the partition key is important.

What I want to know is HOW do you set the partition key.  What are the actual exact steps, explained in DETAIL so that a complete newbie that's not used to using the azure portal will know exactly where to click and what to enter.  With screen shots please!

The search box in the Azure portal page doesn't know the word "partition" which is rather sad sinc

[2020-12-19 01:13] rwike77 commented on #62774
@hpsin, I've added the info to the article.  @aronbardsley , thanks for your feedback.  Updates should publish live next Monday.  #please-close

[2020-12-19 01:13] #62774 closed

[2020-12-19 01:16] kheiakiyama commented on #66793
@psmanhas @mlearned Any update do you have?

[2020-12-19 01:34] rwike77 commented on #65289
@nigaur  Hi, have you seen this content on Sharepoint 2019 and authentication?  https://docs.microsoft.com/en-us/sharepoint/security-for-sharepoint-server/authentication-overview

[2020-12-19 01:49] ToruMakabe opened #67909 "Replication over VPN"
Azure Site Recovery now allows us to use Azure Private Link private endpoints to replicate your on-premises machines to a virtual network in Azure.  So, could you please update this FAQ related to replication over VPN?

https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-faq#can-i-replicate-over-a-site-to-site-vpn-to-azure
https://docs.microsoft.com/en-us/azure/site-recovery/site-re

[2020-12-19 02:05] HeidiSteen commented on #67887
#please-close

[2020-12-19 02:05] #67887 closed

[2020-12-19 02:39] MarileeTurscak-MSFT commented on #67889
@philrice
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-19 03:20] BharathNimmala-MSFT commented on #67909
@ToruMakabe  Thank you for bringing this to our notice, we will review the feedback and update the document accordingly.

[2020-12-19 03:24] femsulu commented on #67893
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2020-12-19 03:33] PavelNL opened #67910 ""Using own custom VM image" examples a generic VM one??"
A bit surprised to see that this article about creating a _customised_ VM image still suggests to use a _generic_ one (current screenshot shown "Ubuntu Server LTS") in "Create the VM on the Azure portal" section ?!

It looks that an editor has missed this logical mistake of a Copy+Paste operation ;-)

To add, the information about "All images in the Azure Marketplace must be reusable in a generic

[2020-12-19 03:39] terrychang1015 opened #67911 "Session What tools are included on the Azure Data Science Virtual Machine?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b08da6f3-0170-cf65-2d86-b669ed9dec0e
* Version Independent ID: 82fda28a-fc67-a0d0-15aa-f336a20ae888
* Content: [Tools included on the Azure Data Science Virtual Machine - Azure Data Science Virtual Machine](https://docs.microsoft.com/en-us/azure/machi

[2020-12-19 03:43] terrychang1015 commented on #67911
For example, through Azure portal, we can see Data Science Virtual Machine - Windows 2019, the Chainer tool is in the supporting list, but in Azure DSVM document, it shows an "x" mark in Windows 2019.
![image](https://user-images.githubusercontent.com/19724181/102679984-5856ba00-41ef-11eb-9146-d2ac04d12bb7.png)

[2020-12-19 04:33] katlimruiz commented on #60172
at least the Enable/Disable should work

[2020-12-19 05:03] femsulu commented on #67898
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2020-12-19 05:11] femsulu commented on #67672
Closing this as a version mismatch. Seems no update is required to the doc.
@dolauli  - Please don't hesitate to ping with any follow-up questions.

[2020-12-19 05:12] #67672 closed

[2020-12-19 05:15] femsulu commented on #67775
hello @amalbabu1, we will now close this issue but don't hesitate to reply if you have a question related to Azure documentation.

[2020-12-19 05:15] #67775 closed

[2020-12-19 05:15] cjmakwana opened #67912 "Not able to validate the token even after generating through valid client ID and other parameters"
In my case, I could not validate the token. The token was generated with valid configuration for Azure AD, using the configuration section named AzureAd. The only addition is that I am using a custom scope for my application registered in Azure Active Directory. Further, I am using Postman with the endpoint https://login.microsoftonline.com/{{TenantID}}/oauth2/v2.0/token

Please suggest if I am do

[2020-12-19 06:07] BhargaviAnnadevara-MSFT commented on #67817
@JBiasilloTM Oh, thanks for the additional context. I hope you would be able to get it to work now, but please feel free to paste your code here if you need any further help in ironing out the issue. :)

[2020-12-19 07:55] femsulu commented on #67777
Hi @placidseven, sharing this [troubleshooting content](https://docs.microsoft.com/en-us/azure/automation/troubleshoot/runbooks#fails-deserialized-object) addressing a similar scenario. Please review to see if it helps resolve your issue. Let me know if you've already tried this and we can help investigate further.

![image](https://user-images.githubusercontent.com/34327711/102684345-70492200-418

[2020-12-19 07:59] femsulu commented on #67892
@Karishma-Tiwari-MSFT  - is there a Compute/VM insights team that can help with this feedback?

[2020-12-19 09:10] gbazera opened #67913 "Azure took $29 from my bank account"
Azure took $29 from my bank account
I want refund because i haven't used azure i just registered please help i really need this money

[2020-12-19 09:33] HarshitaSingh-MSFT commented on #67905
Hello @charris-msft , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-19 09:34] HarshitaSingh-MSFT commented on #67906
Hello @ToddGe , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-19 09:36] HarshitaSingh-MSFT commented on #67907
Hello @gitclem , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-19 09:39] HarshitaSingh-MSFT commented on #67910
Hello @PavelNL , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-19 09:41] HarshitaSingh-MSFT commented on #67911
Hello @terrychang1015, thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-19 09:42] HarshitaSingh-MSFT commented on #67912
Hello @cjmakwana , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-19 09:46] SadiqhAhmed-MSFT commented on #67913
@lizardofc Sorry for the inconvenience this must have caused. If $29 has been deducted from your account then that should be for opting a developer support plan. For more details regarding the same/refund you could reach out to Azure billing support team by raising a support request using this link - https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-req

[2020-12-19 09:51] lizardofc commented on #67913
I already sent support request
It was my parents card :(

[2020-12-19 09:52] lizardofc commented on #67913
What do you think will they refund?

[2020-12-19 10:07] at9045 opened #67914 "What is the difference between object store and Data Lake?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ab1d75b-3cbf-58f2-6d6f-8f7445fc27a7
* Version Independent ID: 9d4e2945-27ec-b88e-7d20-0693df6982ea
* Content: [Azure Data Lake Storage Gen2 Introduction](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-introduction)
* Content S

[2020-12-19 14:50] zodapoplinsky opened #67922 "About 3rd party monitoring references"
[Enter feedback here]

There are many monitoring solutions available on the market. Why is Dynatrace mentioned in this article?

What does it take for competitors to be listed as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8196beea-f457-3813-6135-71c5ec2dbf05
* Version Independent ID: 119a21e3-be2f-b981-6b5d-f

[2020-12-19 15:16] mddazure opened #67923 "Private Link supports UDP"
[Enter feedback here]
The Limitations section states that Private Link Service supports TCP traffic only. This is no longer the case, UDP is also supported, please correct documentation accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb4b8145-27ae-8817-6d85-969aa85e601d
* Version Independent ID: 00f897cd-5c

[2020-12-19 16:17] oletho opened #67926 "Is Azure Passthrough Agent supported on Windows Server Core?"
I haven't been able to find any info on that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a977c84-24c7-3f79-07f2-faa7acdfe282
* Version Independent ID: 08004960-7f51-29d0-0e59-c414747fe7ca
* Content: [Azure AD Connect: Pass-through Authentication - Frequently asked questions](https://docs.microsoft.com/en-us/azure/

[2020-12-19 16:37] romankiss opened #67927 "The device model is not clear for command via C2D message vs. Direct Method."
In this document is missing a description with an example for [Command ](https://docs.microsoft.com/en-us/azure/iot-central/core/concepts-telemetry-properties-commands#commands)send as a C2D Message. There is a _Note_ related to the **Queue if offline** for sender such as IoT Central App to send a C2D Message to the device, but how the device know **during the design time** from the device model a

[2020-12-19 17:31] SadiqhAhmed-MSFT commented on #67913
@lizardofc If the developer plan was activated by you and if investigation proves that then you will not get refund. Only in case the plan was activated from backend due to error and verification proves it, you have 100% chance of get your refund.

[2020-12-19 19:40] ermacia91 opened #67928 "DocuSign demo tenants"
It was informed to us in CSS in a recent ticket that our gallery app for DocuSign onmly makes User Provisioning calls to Production environments, therefore not working on demo environments.

Do you surmise this would be something to call out in our public documentation?

Here is also some context from DocuSign's community: https://support.docusign.com/s/question/0D51W000089zV89SAE/azure-ad-provisi

[2020-12-19 19:41] Ayanmullick commented on #38296
@rohitnayakmsft, One is able to just create a CNAME record in a public DNS zone and connect to AzSQLdb using the custom record by disabling certificate verification. However, I think the AzSQLdb product group should provide documentation on how to do a [certificate verification to avoid man-in-the-middle attacks ](https://docs.microsoft.com/en-us/azure/azure-sql/database/security-overview#transpor

[2020-12-19 19:49] HarshitaSingh-MSFT commented on #67914
@at9045, thanks for the issue! Could you please tell me about what can I help you with?

[2020-12-19 19:53] HarshitaSingh-MSFT commented on #67923
Hello @mddazure , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-19 19:55] HarshitaSingh-MSFT commented on #67926
Hello @oletho, thank you for reaching out to us! Could you please share more details about what can we help you with?

[2020-12-19 19:57] HarshitaSingh-MSFT commented on #67927
Hello @romankiss , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-19 19:59] HarshitaSingh-MSFT commented on #67928
Hello @ermacia91 , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-19 20:15] RonnieQuan opened #67929 "Azure Firewall Default Availability Zone"
When create Azure Firewall, if I don't specify availabilityZones property, what's the default behavior?

Will Azure firewall be deployed to just one zone or across multiple zones?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc94224c-a581-0739-7178-91aeb4a414a3
* Version Independent ID: 2a3145e

[2020-12-19 20:21] RonnieQuan opened #67930 "SNAT Port Capacity"
How many ports for each public ip can be utilized by Azure firewall?
Given a minimum /26 network for azure firewall, azure firewall can scale up to around 60 vm?
how many port that each azure firewall vm can support?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc94224c-a581-0739-7178-91aeb4a41

[2020-12-19 20:58] oletho commented on #67926
Hello Harshita.

I have a customer who asked me to install the agents on the Core version of Windows Server 2019.

But I cannot find anywhere in the documentation that states if this is a supported configuration or not?

Thanks!

Med venlig hilsen - best regards

Ole Thomsen

📞 +45 2888 7979

________________________________
From: HarshitaSingh-MSFT <notifications@github.com>
Sent: Saturday, Decem

[2020-12-19 21:56] gitclem commented on #67907
I finally figured it out.

Another thing that should be said (if it hasn’t been), is the value of a
partition key can’t be changed after it has been set.

On Sat, Dec 19, 2020 at 1:37 AM HarshitaSingh-MSFT <notifications@github.com>
wrote:

[2020-12-20 02:35] tonytangau opened #67935 "Provide code example on how to remove the app gateway backend pool from the scale set model"
In section [Update the load balancer for your scale set](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set#update-the-load-balancer-for-your-scale-set), can we please provide the example Powershell on how to remove the VMSS from app gateway backend pool, and also example on how to add it back.

This is useful in scenarios where we want t

[2020-12-20 02:38] ThomasMConnors opened #67936 "More detail on Azure Extension Requirement"
There are lots of Azure extensions for Visual Studio Code now. Please be far more specific with name of the one needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b3b161-b559-f90b-1566-f18776a5f7da
* Version Independent ID: 3e536234-16ad-2ed3-fb58-c128ba2faab2
* Content: [Quickstart: Building your first static si

[2020-12-20 02:40] femsulu commented on #67929
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2020-12-20 02:43] femsulu commented on #67930
Thanks for the question. We are actively investigating and will get back to you soon.

[2020-12-20 03:00] femsulu commented on #67935
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-20 05:00] BhargaviAnnadevara-MSFT commented on #67936
@ThomasMConnors Thanks for the question. As hyperlinked in the Prerequisites section, this quickstart is designed to work with the [Azure Static Web Apps extension for Visual Studio Code](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurestaticwebapps).

Could you please elaborate on the enhancement you're suggesting?

[2020-12-20 06:21] nigaur commented on #65289
Yes, it says "SharePoint Server supports Windows, forms-based, and Security Assertion Markup Language (SAML)-based claims authentication"

[2020-12-20 07:20] tonytangau commented on #67935
Found one of the solution to remove VMSS from application gateway backend pool, is to create a new IP config **without** `-ApplicationGatewayBackendAddressPoolsId` and replace the original one:

[code]

[2020-12-20 07:20] #67935 closed

[2020-12-20 09:04] #67815 closed

[2020-12-20 10:30] saravanakumarrc opened #67937 "Migration failed with Keyword not supported: 'server'. error"
I am able to connect to my production azure SQL server and the connection string is generated using "az sql db show-connection-string --client ado.net --server <server-name> --name coreDB"

and my appsettings.json is like

`"ConnectionStrings": {
    "MyDbConnection": "Server=tcp:<servername>.database.windows.net,1433;Database=todolist;User ID=<username>;Password=<password>;Encrypt=true;Connection

[2020-12-20 13:54] spacecat commented on #67888
Thank you but I'm particularly interested in the costs associated using availability zones (let's say 3 availability zones). If I have 1 cluster with 1 node that is available in 3 availability zones... will I have to pay x3 because there will be 1 VM per availability zone? I hope this clarifies my question.

[2020-12-20 14:42] felipementel commented on #44021
Hi @ManojReddy-MSFT ,

Can you help me with ticket number 120121121004141 from Azure Portal?
I have a problem accessing a tenant I created and I no longer have an account on my authenticator.
I removed the account from my phone and now I am unable to access my account - please I need help!
I need urgent help
Every time I need to connect, I have to use the URL https://portal.azure.com/avanade.onmic

[2020-12-20 14:55] elvirk opened #67938 "Missing two "}""
[It looks that "}" are missing in this section:

using System;

namespace CosmosTableSamples
{
    using System.Threading.Tasks;
    using Microsoft.Azure.Cosmos.Table;
    using Microsoft.Azure.Documents;

    public class Common
    {
        public static CloudStorageAccount CreateStorageAccountFromConnectionString(string storageConnectionString)
        {
            CloudStorageAccount storag

[2020-12-20 17:37] m1nkeh commented on #59059
bump?

[2020-12-20 17:45] TravisCragg-MSFT commented on #67627
@jeetgarg There is no default RDP timeout for Azure Bastion, but you can [monitor and force disconnect ongoing sessions](https://docs.microsoft.com/en-us/azure/bastion/session-monitoring), although you do not have a way to know if the sessions are idle. If you need idle disconnect, your best bet is to configure it on the local OS.

We will now proceed to close this thread. If there are further que

[2020-12-20 17:45] #67627 closed

[2020-12-20 19:08] Karishma-Tiwari-MSFT commented on #67844
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-12-20 19:08] #67844 closed

[2020-12-20 19:35] HarshitaSingh-MSFT commented on #67937
Hello @saravanakumarrc , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-20 19:43] HarshitaSingh-MSFT commented on #67938
Hello @elvirk , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-20 20:18] evandromalmsteen opened #67939 "$VnetRoutingConfig.PropagatedRouteTables.Ids = $PropRTList"
Something is wrong this part of script.

PS C:\> $VnetRoutingConfig = $Spoke1Connection.RoutingConfiguration    # We take $Spoke1Connection as baseline for the future vnet config, all vnets will have an identical config
PS C:\> $NoneRT = Get-AzVhubRouteTable -ResourceGroupName $RG -HubName $HubName -Name "noneRouteTable"                  PS C:\> $NewPropRT = @{}
PS C:\> $NewPropRT.Add('Id', $NoneR

[2020-12-20 20:48] RonnieQuan opened #67940 "SKU for Azure Firewall"
AZFW_Hub
AZFW-VNet

https://docs.microsoft.com/en-us/rest/api/firewall/azurefirewalls/list#azurefirewallskuname

Could please point out the difference of these two SKU? or where the description of the SKU is documented?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5

[2020-12-20 22:35] RonnieQuan opened #67941 "Public IP Address Tier"
What are the differences between regional and global tier?

$publicIp = New-AzPublicIpAddress -Name $publicIpName -ResourceGroupName $rgName -AllocationMethod Static -DomainNameLabel $domainNameLabel -Location $location -Sku Standard -Tier Global

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd9

[2020-12-20 23:55] femsulu commented on #67939
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2020-12-20 23:56] kdehia opened #67942 "Typo issue DependencyInjection package"
Hi ,
The link text of

Should be
`Microsoft.Extensions.DependencyInjection`

Regards,

Khaled Dehia

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b909
* Content: [Use dependency injection in .NET Azure Functions](https://doc

[2020-12-20 23:58] femsulu commented on #67940
@RonnieQuan, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-21 00:01] femsulu commented on #67941
@RonnieQuan Thanks for the question. We are actively investigating and will get back to you soon.

[2020-12-21 00:43] CyberPunkie commented on #48326
Why does MS provide cloud_RoleName support for code-less app monitoring for Java:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config

But does not provide the same for Window's based applications?

[2020-12-21 00:44] CyberPunkie opened #67943 "How to specify Cloud Role name for "codeless" app insights integration - VM Windows Agent"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map#set-cloud-role-name
It's clear how to specify cloud role in .net code, but it's unclear how to do it in a case of "code-less" integration.

Why does MS provide cloud_RoleName support for code-less app monitoring for Java:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config

But does not provide the same fo

[2020-12-21 01:02] femsulu commented on #67942
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2020-12-21 01:06] femsulu commented on #67943
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2020-12-21 02:10] ram-msft commented on #67850
@MustAl-Du We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-21 02:10] #67850 closed

[2020-12-21 02:22] artisticcheese opened #67944 "Incorrect wording about sharing shared image gallery"
Straight from the page it tells that it's recommended to share at shared image gallery level but in fact in instructions you are instructed to give Reader role on Resource Group level instead.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b276e2a1-6208-4caa-bcda-1f6d11aac207
* Version Independent ID: 82f92f2b-

[2020-12-21 02:45] v-sashig opened #67945 "Statement under Buy a Reserved Instance needs to be modified"
"For the Cloud Solution Provider (CSP) program, only the admin agents or sales agents can buy reservations."
should be:
For the Cloud Solution Provider (CSP) program, only the admin agents or sales agents can buy reservations,
unless the partner granted an access to the CSP customers to purchase RI.

Thank you
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-12-21 03:11] VikasPullagura-MSFT commented on #67601
@assaf-grth Any update on the issue?
As suggested by @rishabv90 please check the B series VM's for your workloads.

[2020-12-21 03:19] VikasPullagura-MSFT commented on #67945
@v-sashig Thanks for the Feedback. We will check and update the document as appropriate.

[2020-12-21 03:24] VikasPullagura-MSFT commented on #67944
@artisticcheese
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-12-21 03:24] VikasPullagura-MSFT commented on #67944
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-12-21 03:33] SwathiDhanwada-MSFT commented on #67738
Thanks for your feedback @mmaitre314.

Assigning to content author @tfitzmac for review and updating document if required

[2020-12-21 03:35] SwathiDhanwada-MSFT commented on #67694
@parameswar-mondal-fission Did you get chance to check my previous comment ? Kindly revert if you have further questions.

[2020-12-21 03:38] SwathiDhanwada-MSFT commented on #67541
@bwren Can you please provide your inputs on this issue?

[2020-12-21 04:04] BhargaviAnnadevara-MSFT commented on #67817
@JBiasilloTM Hope the above inputs help. Are there any further questions here?

[2020-12-21 04:32] v-pethur commented on #67787
Hello @femsulu
I have an follow up observation I would like to make regarding the documentation.  I hope it compliments my original feedback.
The documentation also a section called

**New reservation**
Azure copies the permissions from the expiring reservation to the new reservation. Additionally, the subscription account administrator of the reservation purchase has access to the new reservation

[2020-12-21 04:33] CHEEKATLAPRADEEP-MSFT commented on #67893
@eaarnoudse, You can find the parameter tab here:

![image](https://user-images.githubusercontent.com/44426401/102739575-7e0ccc00-4373-11eb-9636-ebbf9fa49f46.png)

![image](https://user-images.githubusercontent.com/44426401/102739641-ac8aa700-4373-11eb-8fbb-0d7516fbf432.png)

![ADF_Synapse](https://user-images.githubusercontent.com/44426401/102739669-bdd3b380-4373-11eb-85aa-b7386629f8b9.gif)

Hope

[2020-12-21 04:40] SwathiDhanwada-MSFT commented on #67673
Assigning to content author @stevendotwang @mgblythe for content review and updating document accordingly.

[2020-12-21 04:41] AshokPeddakotla-MSFT commented on #67795
@jlian Thanks for updating the doc.
@davidlane-iteratec We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-21 04:41] #67795 closed

[2020-12-21 04:54] SujayJDesai commented on #67715
MABS curretnly doesn't support backup of VMs on Azure Stack HCI. We plan to support this soon. Unfortunatley there is no ETA to share at this moment.

[2020-12-21 05:19] nagaozen opened #67949 "Cannot find module './utils/projectsData'"
Following the tutorial, on the [Generate static pages from dynamic routes](https://docs.microsoft.com/en-us/azure/static-web-apps/deploy-nextjs#generate-static-pages-from-dynamic-routes) section, the author uses a non-standard library `require('./utils/projectsData')` to build the dynamic routes. Yet, there's no mention during the tutorial about where one can find this code.

Am I missing somethin

[2020-12-21 05:48] dcurwin commented on #67715
#please-close

[2020-12-21 05:48] #67715 closed

[2020-12-21 05:49] RohitMungi-MSFT commented on #67814
@vidya2101 Did you get a chance to review and correct the dependencies of your setup?
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-12-21 05:49] #67814 closed

[2020-12-21 05:59] JoseFMP opened #67950 "Documentation wrong, no application virtual folders. Outdated?"
I do not see any "application virtual folders" in Azure Portal. This is quite missleading.

![image](https://user-images.githubusercontent.com/24405049/102744385-4bbb9880-438c-11eb-9c2e-8816082aec81.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167

[2020-12-21 06:11] JayaChatterjee-MSFT commented on #67519
@shashankkr Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-12-21 06:11] #67519 closed

[2020-12-21 06:20] RohitMungi-MSFT commented on #67911
@terrychang1015 Thanks for spotting this. The document in this case has correctly listed that the package is not supported on windows as pre-installed. The Azure portal list though needs to be updated by our team. We are working with our internal team to sort the same to list only the supported packages for windows. Thanks!!

[2020-12-21 06:30] AnuragSharma-MSFT commented on #67816
@golfalot Thanks for reverting back and apologies for the inconvenience caused to you. Yes you are right that the mentioned article does not cover the implementation of code for .NET Core. It just mentions **_Microsoft.Data.SqlClient_** package would be appropriate if we use .NET core. However, we can reference the same code piece available in the article for .NET Core as well. Some modifications

[2020-12-21 06:49] SnehaAgrawal-MSFT commented on #67835
@RazanM1995 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-12-21 06:51] AnuragSharma-MSFT commented on #67870
@DrEnnui Thanks for bringing this to our notice. Enable Soft Delete feature is on by default through Azure Portal or even when I tried through the Azure CLI. However as per the [article ](https://docs.microsoft.com/en-us/azure/key-vault/general/soft-delete-overview)**_The ability to opt out of soft-delete will be deprecated soon_**. In any case, this article has to updated accordingly.

This is be

[2020-12-21 06:53] SnehaAgrawal-MSFT commented on #67949
@nagaozen Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-21 06:53] KalyanChanumolu-MSFT commented on #67767
@RonnieQuan We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-21 06:53] #67767 closed

[2020-12-21 06:54] SnehaAgrawal-MSFT commented on #67950
@JoseFMP Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-21 06:54] KalyanChanumolu-MSFT commented on #67725
@SarveshPandey We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-21 06:54] #67725 closed

[2020-12-21 06:57] mike-urnun-msft commented on #67501
Hi @abymsft - Thank you for reporting this!

Yes, AzureConnectors is for Inbound scenarios as shown in the [Service Tags doc](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#available-service-tags). I've created a PR that updates the Tips blocks on this doc and the changes should be live soon.

We will now proceed to close this thread. If there are further questions re

[2020-12-21 06:57] #67501 closed

[2020-12-21 07:06] SadiqhAhmed-MSFT commented on #67913
@gbazera Have you heard back from support on your issue?

[2020-12-21 07:12] AnuragSharma-MSFT commented on #67938
@elvirk Thanks for bringing this to our notice and I observed the similar behavior. Actually the article was written in such a way that one method is added after the other and entire code repository is referenced from the below GitHub code sample:

https://github.com/Azure-Samples/azure-cosmos-table-dotnet-core-getting-started/blob/main/CosmosTableSamples/Common.cs

So while putting the first meth

[2020-12-21 07:19] JasonPan opened #67952 "Is there an alternative to the IN keyword that allows in-partition queries with an array value to be parameterised?"
Can't find a definite answer to this - want to understand how to do a query with the following goals
1. In-partition query
2. Filter clause is based on an array of values (potentially in the hundreds)
3. Array of values should be parameterised

#18640 mentions that the IN keyword is suitable for (1).

From the IN keyword docs following:

but does not specify how we can specify an array value such

[2020-12-21 07:39] SwathiDhanwada-MSFT commented on #67699
@aberrant80 Thanks for your question. Seems you have already raised support ticket 120121626001189 with the Azure Technical Support Team. As requested, can you please try [Application Insights Java 3.0.1-BETA release](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.0.1-BETA) and check if it resolves the issue?

[2020-12-21 07:49] SumanthMarigowda-MSFT commented on #67666
@andrejpk Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
Thanks for the feedback! We should NOT use `new` for `QueueServiceClient.fromConnectionString()` . We should fix the issue in the article.  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-21 07:51] AnuragSharma-MSFT commented on #67952
@JasonPan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-21 07:59] aberrant80 commented on #67699
Thank you for the response. The support ticket will be enough.

[2020-12-21 07:59] #67699 closed

[2020-12-21 08:21] SumanthMarigowda-MSFT commented on #67659
@jobeland  Firstly apologies for the delay in responding here!
 Premium performance block blob storage is designed to scale with your applications. If your scenario requires that you deploy an application(s) that require hundreds of thousands of requests per second or petabytes of storage capacity, contact Microsoft by submitting a support request in the Azure portal.
Premium block blob defaults t

[2020-12-21 08:21] #67659 closed

[2020-12-21 08:28] SumanthMarigowda-MSFT commented on #67700
@gawkes1 Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your re

[2020-12-21 08:28] #67700 closed

[2020-12-21 09:06] PramodValavala-MSFT commented on #67734
@ronarieke Just following up here... Hope my previous comment clears things up.

[2020-12-21 09:20] urjitgokhale commented on #67387
@James-Hamil-MSFT ,

Could someone help me with what I am trying to achieve?

[2020-12-21 09:43] kzuenkler-avanade opened #67953 "wrong documentation: for language special chars UTF8-BOM has to be used."
[Enter feedback here]
Today I found out, that uploads of SSML files containing language specific characters (here: Danish), it is only possible, if you convert it to **UFT8-BOM** (e.g. with notepad++). UTF-8 does not work.
Only a generic error message is displayed "file format error", which is not helpful.
Also illegal invisible characters like 0x0A prevent upload.
BUT: If you copy&paste the same

[2020-12-21 09:44] komayama opened #67954 "eventData valiable have to convert to string"
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-custom-orchestration-status?tabs=csharp#visualize-progress

I tried the Visualize progress which receive the output of the orchestration only when CustomStatus field is set to "London".
But StartNewAsync method only allow string. So I force change to string variable from dynamic.
https://docs.microsoft.com/en-us/dotne

[2020-12-21 10:13] AnuragSharma-MSFT commented on #66900
@manishmsfte Thanks for the help.

@lumichael24 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-21 10:13] #66900 closed

[2020-12-21 10:20] SubhashVasarapu-MSFT commented on #67586
@2sharjoshi, Appreciate your patience. Looks like this can be implemented using Azure Alerts. All you need to do is to setup two conditions for inbound and other for outbound flows. So, you will be notified when the limit exceeds the threshold values provided in the rules.

**SS:**
![MicrosoftTeams-image (9)](https://user-images.githubusercontent.com/44890829/102766487-35213b80-43a4-11eb-8a47-a41e

[2020-12-21 10:21] Enmebaragezi opened #67955 "Wrong code in PS windows."
Hello,

In the following articles in Azure blob storage documentation (tutorials):
1. Upload image data in the cloud with Azure Storage
2. Automate resizing uploaded images using Event Grid
3. Secure access to application data

code samples in PS windows are the same as in Bash (should be Azure CLI) windows. The only difference between them is the carriage sign.

Example:
![image](https://user-ima

[2020-12-21 10:22] sbyrnes-weblogix opened #67956 "Error in az example command"
Hi,

az acr task update --myregistry --name mytask --base-image-trigger-enabled False

should be

az acr task update --registry myregistry --name mytask --base-image-trigger-enabled False

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0236053-cc8e-d48c-d16a-85e6c270b4ac
* Version Independent ID: 885b4e81-a7ab-5fb5-9e5

[2020-12-21 10:53] konopkap opened #67957 "Application Gateway v2 limits"
Hello,

I'd like to ask about AppGW limits. Currently we're using AppGW in WAFv2 tier. According to the docs there should be a limit to 40 backend pools.

In our AppGW we have ~60 backend pools. Shouldn't it be limited to 40 (as we use WAF-enabled SKU tier)? If not then how the limit table should be read?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-12-21 10:56] VikasPullagura-MSFT commented on #67956
@sbyrnes-weblogix Thanks for pointing this out. The document is updated and changes will go live soon.

[2020-12-21 11:08] #67956 closed

[2020-12-21 11:11] euoia opened #67958 "Typo: "Encountered and error""
There's a typo in the sample app code:
[code]

Presumably it should say "Encountered an error".

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29430c6-fd84-c423-db14-4f87853dc5d6
* Version Independent ID: 99605c52-055e-8361-4540-2527fd0ad342
* Content: [Quickstart - Create and manage access tokens - An Azure Communica

[2020-12-21 11:22] asergaz commented on #67836
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-21 11:22] #67836 closed

[2020-12-21 11:29] ronarieke commented on #67734
Hi Pramod,
I think I may have updated the issuer ID and open ID config in the same
step... Thanks!
Regards,
Ron

On Mon, Dec 21, 2020, 3:06 AM Pramod Valavala <notifications@github.com>
wrote:

[2020-12-21 11:30] VikasPullagura-MSFT commented on #67958
@euoia Thanks for pointing this out. The document is updated and changes will go live soon.
[PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/141559)

[2020-12-21 11:30] #67958 closed

[2020-12-21 11:35] mariuszo-at-microsoft-com opened #67959 "Owner or Contributor or Owner only?"
In Availability section, the required roles and permissions are: "Owner or Contributor for the relevant subscriptions".

Step 4, point 2 says that the user must be "an Owner on the subscription you want to use for the onboarding".

Please clarify that, since it is somewhat confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-12-21 12:00] MariusStorhaug opened #67960 "Incorrect Log Analytics name scoping"
This article states that Log Analytics workspace ([Microsoft.OperationalInsights/workspaces](https://docs.microsoft.com/en-us/azure/templates/microsoft.operationalinsights/2020-03-01-preview/workspaces)) name is scoped to the resource group, while it needs to be globally unique.

Article that needs to change: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-ru

[2020-12-21 12:05] ram-msft commented on #67953
@kzuenkler-avanade Thanks for the feedback! We will review and update accordingly.

[2020-12-21 12:23] KalyanChanumolu-MSFT commented on #67771
@hamzahamidi This repo azure-docs is meant for documentation issues only.
I will try to escalate your issue internally with the Azure CosmosDB Emulator team and reference issue [#1552](https://github.com/microsoft/vscode-cosmosdb/issues/1552)

We will proceed to close this issue as duplicate of #1552

[2020-12-21 12:23] #67771 closed

[2020-12-21 12:28] AshokPeddakotla-MSFT commented on #67875
@thomascwei I understand that you need to use your own resource. Resource is nothing but your application protected by Azure AD.

For example: az account get-access-token --resource https://graph.microsoft.com

In this example the resource used will always generates a new token associated to your subscription and tenant with expiration.

![image](https://user-images.githubusercontent.com/44426435/

[2020-12-21 12:45] KalyanChanumolu-MSFT commented on #67907
@gitclem Thank you for the feedback. I am tagging the document author @deborahc to evaluate and make appropriate changes.

Technically you can change the partitionKey after creating the container.
However, it cannot be done just by changing a property from the Azure Portal.
Please refer to this [article ](https://devblogs.microsoft.com/cosmosdb/how-to-change-your-partition-key/)for detailed inform

[2020-12-21 12:45] #67907 closed

[2020-12-21 12:47] cephalin commented on #47097
@Ayanmullick This is not a gap in documentation. Currently there's no PS command to purchase App Service domains, other than the generic PS command to run an ARM template. See https://dotnetdevlife.wordpress.com/2019/12/02/purchase-appservice-domain-arm-template/.

#please-close

[2020-12-21 12:47] #47097 closed

[2020-12-21 13:00] JosefinaArayaTapia commented on #65000
Hi!

this is my problem

{"error_code":"CUSTOMER_UNAUTHORIZED","message":"Unable to grant read/list permission to Databricks service principal to KeyVault 'https://akv-area-clientes.vault.azure.net/': key not found: https://graph.windows.net/"}

[2020-12-21 13:21] sp4rc opened #67961 "Confusing documentation about code-less & code-based App Insights for java"
It's confusing that [codeless-overview](https://docs.microsoft.com/en-us/azure/azure-monitor/app/codeless-overview) says that codeless attach is not supported yet for java applications running on azure app service for windows or linux (in private review)

And then when reading [code-based monitoring for java apps](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started?tabs=maven

[2020-12-21 13:27] Norrch2 opened #67962 "Question: How does Azure Conditional Access Correlate IP Address with Country"
Hello,

I am in the process of integrating a conditional access policy and need clarification on the named locations. Much like the document suggests, the organization we are implementing this for does not want anyone from North Korea and other countries to have access.

Is there a public list that Azure uses to match IP addresses to countries like Ip2Location?

---
#### Document Details

⚠ *Do no

[2020-12-21 13:34] amanmcse commented on #67803
@githubuser857  MFA is implemented to protect access to the resources/applications at tenant level. Since you won't have access to the applications in the other tenants, it is the responsibility of the other tenant's admin to protect their applications by requiring 2nd factor of authentication.

[2020-12-21 13:34] #67803 closed

[2020-12-21 13:37] lazarillo opened #67963 "Cannot Install CLI; Hangs Indefinitely"
Here are the details:

When I try to install the extension, I get the `Downloading`, then `Installing` messages, but then it freezes indefinitely.

Methods:

1. `az extension add --name azure-cli-ml`
2. `az extension add --source https://azurecliext.blob.core.windows.net/release/azure_cli_ml-1.19.0-py3-none-any.whl`

Extensions already successfully installed:

1. `azure-devops` (version 0.16.0)
2.

[2020-12-21 13:42] lazarillo commented on #67963
Hmmm... there was nowhere in the initial request to provide details.  Here are the details:

When I try to install the extension, I get the `Downloading`, then `Installing` messages, but then it freezes indefinitely.

Methods:

1. `az extension add --name azure-cli-ml`
2. `az extension add --source https://azurecliext.blob.core.windows.net/release/azure_cli_ml-1.19.0-py3-none-any.whl`

Extensions

[2020-12-21 13:48] PramodValavala-MSFT commented on #67734
@ronarieke Glad I could help clear things up!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-21 13:48] #67734 closed

[2020-12-21 14:02] SwathiDhanwada-MSFT commented on #67961
@sp4rc Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-21 14:04] BhargaviAnnadevara-MSFT commented on #67963
@lazarillo Thank you for the question and the details. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-12-21 14:06] berhir opened #67964 "Missing information how to solve/investigate failed imports"
I am trying to copy a custom vision project.
The export works fine and I get a token.
Then I send the request to the import endpoint and it returns 200 OK. The body of the response contains an object with a status property with the value `Importing`.

When I open the imported project I see that some images and tags are missing.
And when I call the endpoint to get the project details, I see that th

[2020-12-21 14:12] shashishailaj commented on #67959
@mariuszo-at-microsoft-com Thank you for your feedback . We will engage with the content team and update as necessary .

[2020-12-21 14:14] lhervel opened #67965 "Azure Function post build issue"
Using VS2019 I have generated an Azure Function project. The Azure function is triggered by an HTTP request to convert CSV content to an XLSX file using EPPlus that is relying on System.Text.Encoding.CodePages.dll 5.0.0.0

The code is really really simple:
[code]
.Net core 3.1 is relying System.Text.Encoding.CodePages.dll 4.1.3.0
I saw in the build detailed output that the System.Text.Encoding.Cod

[2020-12-21 14:22] jopgommans opened #67966 "URL's are wrong (state getbynder, should simply be bynder)"
We just finished configuring SSO for Bynder. All went according to the steps described, however: The URL's described all state https://[tenant name].getbynder.com . But the correct URL's are simply https://[tenant name].bynder.com , with the getbynder URL's it wasn't working for us. Can you change the documentation accordingly?
---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-12-21 14:25] Andriienko opened #67967 "Page contract selfasserted >= 2.1.0 wrong display of utf-8 encoded strings on Display control element"
When I use Display control with new page contract selfasserted 2.1.0/2.1.1 labels on French looks broken
This
`<LoadUri>~/tenant/templates/AzureBlue/unified.cshtml</LoadUri>
<DataUri>urn:com:microsoft:aad:b2c:elements:contract:selfasserted:2.0.0</DataUri>`
with
`<LocalizedString ElementType="UxElement" StringId="verification_control_code_sent">Le code de vérification a été envoyé sur votre boite e

[2020-12-21 14:27] kilasuit opened #67968 "Needs updating for newer versions of windows"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec82f0e4-0094-5d72-44f8-de52afad4e8a
* Version Independent ID: 5011e419-85d7-d003-1522-0e4f18135400
* Content: [How to deploy Windows 10 on Azure with Multitenant Hosting Rights - Azure Virtual Machines](https://docs.microsoft.com/en-gb/azure/virtual-

[2020-12-21 14:35] tfitzmac commented on #67960
@MariusStorhaug - thanks for this feedback. I will fix that error.

[2020-12-21 14:37] memildin commented on #67546
Hi @korykliner, thanks for the feedback and for taking the time to help us improve the docs.

This documentation page is actually missing a couple of recommendations but it will be refreshed in the coming days to add the one you referenced and some others too.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2020-12-21 14:37] #67546 closed

[2020-12-21 14:41] MSSedusch commented on #66233
SAP Not 1409604 and 2191498 were updated to match our guides. 1102124 will also be updated soon.

[2020-12-21 14:42] haymansfield opened #67970 "Deleting move collection once move committed and resources manually deleted."
Once I've completed a resource move and manually deleted the resources, if I attempt to delete the move collection it fails telling me it can't be deleted while there are still resources in the collection.

Should I select all the resources under Resource Mover -> Across regions and select Remove? Will this allow me to delete the temporary resource group and move collection?

---
#### Document Det

[2020-12-21 14:42] MSSedusch commented on #66233
#please-close

[2020-12-21 14:42] #66233 closed

[2020-12-21 14:42] haymansfield commented on #63678
Any update?

[2020-12-21 14:58] eaarnoudse commented on #67893
Thank you very much for your reply. This should be mentioned in the text more accurately. In step 1 and 2 under “Create the pipeline IterateAndCopySQLTables”, we are creating a new pipeline. In the step below, you are configuring a new dataset. I think some steps are missing in the text.

Van: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Verzonden: maandag 21 december 2020 05:34
Aan: Microsoft

[2020-12-21 14:58] AshokPeddakotla-MSFT commented on #67927
I have assigned the issue to the content author @dominicbetts  to evaluate and update as appropriate.

[2020-12-21 15:07] #67960 closed

[2020-12-21 15:07] VikasPullagura-MSFT commented on #67968
@kilasuit
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-12-21 15:07] tfitzmac commented on #67960
The update will get published later today.

[2020-12-21 15:07] VikasPullagura-MSFT commented on #67968
@xujing-ms
Can you please check and add your comments on this doc update request as applicable.

[2020-12-21 15:10] Manubi commented on #22538
Is there no tutorial which walks you threw the steps? Because I have a similar task. I transfered >1TB to azure blog storage with data factory. The files have their md5 in the metadata and I have a txt file with the filenames and the md5checksum. Now I am looking for an easy way to compare these two. Does anyone know what's the easiest way to do that?

[2020-12-21 15:12] VikasPullagura-MSFT commented on #66574
@sakthi-vetrivel
Can you please check and add your comments on this doc update request as applicable.

[2020-12-21 15:13] VikasPullagura-MSFT commented on #66379
@macolso
Can you please check and add your comments on this doc update request as applicable.

[2020-12-21 15:16] VikasPullagura-MSFT commented on #56216
@cynthn
Can you please check and add your comments on the performance information in the document.

[2020-12-21 15:24] VikasPullagura-MSFT commented on #53039
@dlepow Thanks for sharing the details.

@harsha130699
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-12-21 15:24] #53039 closed

[2020-12-21 15:42] Purneau opened #67971 "Outbound traffic network rules requirements missing for storage"
We use an OPNsense firewall in front of our AKS clusters, controlling all inbound and outbound traffic. When creating PVs in AKS with the `azurefile` storage class, I get errors in AKS until I allow outbound traffic going via ports `139` and `445`. These ports are currently unlisted in the documentation. Can you please add the specific requirements?

Also applies to: https://docs.microsoft.com/en-

[2020-12-21 15:43] Ayanmullick commented on #47097
IMO, this should be doable thru the [Az.Websites module](https://docs.microsoft.com/en-us/powershell/module/az.websites/?view=azps-5.2.0) if the WebApp PG could [autogenerate ](https://github.com/Azure/autorest)the [PowerShell documentation](https://github.com/microsoftgraph/msgraph-sdk-powershell).

<details>

<summary>Click to see video</summary>

<a href="https://www.youtube.com/embed/uuiTR8r27

[2020-12-21 15:53] lazarillo commented on #67963
I was primarily using [this one](https://docs.microsoft.com/en-us/azure/machine-learning/reference-azure-machine-learning-cli), but I also looked [here](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/machine-learning/reference-azure-machine-learning-cli.md) to see if I could find the problem.

[2020-12-21 16:04] bgklein opened #67972 "Superscript after a unit implies raising that unit to an exponent"
There are a couple spots where Mbps^2 are used in this document which are misleading (rare but someone may get confused by it)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfe5a2a3-6fd3-2cca-0387-5c0d9b19906c
* Version Independent ID: 3b1ddae9-b0c3-78ff-15a5-428abea3773e
* Content: [Registry service tiers and feature

[2020-12-21 16:20] aperally commented on #56031
# for hex 0x80090342 / decimal -2146892990 :
  SEC_E_KDC_UNKNOWN_ETYPE                                       winerror.h
# The encryption type requested is not supported by the KDC.

[2020-12-21 16:23] RobertvBraam opened #67973 "Initial user provisioning and deprovisioning from Azure AD to G Suite"
At the moment I have a user provisioning configured to provision two test users (test@test-domain.nl and test@mycompany.nl) to our G Suite.
The current user provisioning setup has 'Sync only assigned users and groups' enabled and a mapping scope of only one domain (@mycompany.nl).

Questions:
- When I run user provisioning from Azure AD to G Suite with two users assigned to the Enterprise Applicat

[2020-12-21 16:40] SwathiDhanwada-MSFT commented on #67957
@konopkap Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-21 16:42] psmanhas commented on #67370
@Hannahayek Apologies for all the delay in response and all the inconvenience caused because of the issue.

When an endpoint resource is defined in the service manifest, Service Fabric assigns ports from the reserved application port range when a port isn't specified explicitly.

Port 14023 has been given in example for  TCP endpoint traffic in Service Manifest example as mentioned [here](https://

[2020-12-21 16:42] #67370 closed

[2020-12-21 16:43] AshokPeddakotla-MSFT commented on #67595
@QiMata Just to provide an update, we are still looking into this issue and will update you as earliest once we receive any update from the team.

[2020-12-21 16:44] MarileeTurscak-MSFT commented on #67966
@jopgommans
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-21 16:47] AshokPeddakotla-MSFT commented on #67758
@jokarl I am enquiring on this issue. Please stay tuned for further updates.

[2020-12-21 16:50] VikasPullagura-MSFT commented on #67972
@bgklein
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-12-21 16:50] VikasPullagura-MSFT commented on #67972
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-12-21 16:52] MarileeTurscak-MSFT commented on #67962
@Norrch2
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-21 16:55] luistelmocosta opened #67974 "Service Principal authentication using com.databricks.spark.sqldw"
Hello, I am trying to connect to a SQL DW using Databricks and I am following this guide:

https://docs.databricks.com/data/data-sources/azure/synapse-analytics.html

I would like to know if it is possible to authenticate through Service Principal instead of the username/password approach that is used in the guide.

Any help would be really appreciated!

[2020-12-21 16:57] GitaraniSharma-MSFT commented on #67954
@komayama , Thank you for your feedback! We will review and update as appropriate.

[2020-12-21 16:57] #54680 closed

[2020-12-21 17:01] Grace-MacJones-MSFT commented on #67805
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary

[2020-12-21 17:02] paco-ms opened #67975 "Doc should link to the "Service Sample in GitHub" it mentions."
The "Authentication and authorization to Azure Spatial Anchors" doc contains (under "Azure AD service authentication" > "In Your Code") a note saying "_You can use the service sample that's available on GitHub._" but it is unclear what service sample is this and where to find it.

A link to the either the sample in GitHub or the sample in DMC (if documented there) should be included there.

---
##

[2020-12-21 17:06] ChaitanyaNaykodi-MSFT commented on #67965
Hello @lhervel, Thank you for your feedback! We will review and update as appropriate.

[2020-12-21 17:10] FurcyPin opened #67976 "Please make a Tutorial to create an Apache PySpark application with PyCharm using a Synapse workspace"
Hi,

being able to run a remote interactive Spark session from within IntelliJ is a great feature.
Could you please write a similar documentation for PySpark + PyCharm ?

We managed to do something similar on HDinsight + PyCharm via an SSH remote interpreter, and I wouldn't consider migrating to Synapse without this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-12-21 17:14] ChaitanyaNaykodi-MSFT commented on #67687
Hello @miqm, as the issue will be tracked on the open PR,  we are now proceeding to close this issue out. Please tag me in your reply if you have any further concerns. Thank you!

[2020-12-21 17:14] #67687 closed

[2020-12-21 17:15] aschlei opened #67978 "Confused about disk throughput"
I'm a little confused about the disk throughput. The Ddv4-series lists "Max cached and temp storage throughput: IOPS/MBps". The Ddsv4-series has this as well (with the same values). But also lists "Max uncached disk throughput: IOPS/MBps".

Is the uncached disk throughput for the Ddv4-series the same as the Ddsv4-series? Or does this not apply for some reason?

---
#### Document Details

⚠ *Do not

[2020-12-21 17:25] DerekHerman-MSFT commented on #67749
@karataliu Since we haven't heard back from you I will proceed to close out this thread. If you need further assistance please tag me and reopen the issue.

[2020-12-21 17:25] #67749 closed

[2020-12-21 17:36] psmanhas commented on #67819
@assaf-grth Apologies for all the delay in response and any inconvenience caused because of the issue.

Can you please confirm if you have Software Assurance Licensing Program in place?

As mentioned in the article Azure Hybrid Benefit is applicable to customer with Software Assurance Licensing in place:

You can read more about Software Assurance Licensing Program [here](https://azure.microsoft.c

[2020-12-21 17:38] aschlei opened #67979 "Question on disk performance"
For the Dv4-series, the table does not list any cached or uncached disk throughput. What sort of disk performance can be expected? Would it match the uncached throughput listed for the Dsv4-series?

For the Dsv4-series, what would the cached throughput be? Other VM types list a "Max cached and temp storage throughput". I get that this series has not temp storage, but it does support caching, corre

[2020-12-21 17:38] psmanhas commented on #67830
@MashaMSFT Can you please check and add your comments on this doc update request as applicable

[2020-12-21 17:46] #67710 closed

[2020-12-21 17:46] SwathiDhanwada-MSFT commented on #67710
@AndrewSmithRS Thanks for your comment. I have updated the queries as per your feedback. The document contains the information of the Data structure changes as shown below ([Reference Link](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log#data-structure-changes)).
![image](https://user-images.githubusercontent.com/48976275/102805722-a9c69b00-43e1-11eb-8461-a5f8c44e306f.pn

[2020-12-21 17:49] asergaz commented on #67758
Hello @jokarl , according to the doc:

"An IoT Edge device can apply one and only one standard automatic deployment, but it can apply multiple layered automatic deployments. Any layered deployments targeting a device **must have a higher priority than the automatic deployment for that device.**"

Therefore, it is not supported that both the `standard automatic deployment` (what I believe you refer

[2020-12-21 17:53] Tzvetelin88 commented on #32982
Has anyone found fix for this?

[2020-12-21 17:56] JamesTran-MSFT commented on #67973
@RobertvBraam
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-21 17:57] Karishma-Tiwari-MSFT commented on #67971
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-21 17:57] Karishma-Tiwari-MSFT commented on #67979
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-21 18:00] ChaitanyaNaykodi-MSFT commented on #67739
Hello @ramya-rao-a, I will now proceed to close this issue out as it is currently being tracked in the PR made. Please tag me in your reply if there are any concerns. Thank you!

[2020-12-21 18:00] #67739 closed

[2020-12-21 18:01] ChaitanyaNaykodi-MSFT commented on #67737
Hello @ramya-rao-a, I will now proceed to close this issue out as it is currently being tracked in the PR made. Please tag me in your reply if there are any concerns. Thank you!

[2020-12-21 18:01] #67737 closed

[2020-12-21 18:15] minhdn90 commented on #58619
Hi @Mike-Ubezzi-MSFT,

I would like to reopen this issue by confirming that OPENROWSET doesn't work well with difference in the schemata of the parquet files in two partitions.
In Azure Synapse (SQL on-demand) I read parquet data from multiple partitions using OPENROWSET into a view . In one of those partitions, I've got parquet files with an extra column compare to other partition. It seems to me

[2020-12-21 18:19] himanshusinha-msft commented on #67898
Thanks @jyeblog for sharing this .
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-12-21 18:24] femsulu commented on #67942
Hello @kdehia  - the typo has been resolved. thanks again for catching and reporting this.

Cheers.

[2020-12-21 18:24] #67942 closed

[2020-12-21 18:30] JamesTran-MSFT commented on #67967
@Andriienko
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-21 18:33] jokarl commented on #67758
Thank you @asergaz, apparently I'm just bad at reading the documentation.

[2020-12-21 18:36] HarshitaSingh-MSFT commented on #67914
Just checking in to see if you have had a chance to see the previous response.

[2020-12-21 18:41] msftradford commented on #67975
Thanks @paco-ms! Filed #31139620 to check it out.

[2020-12-21 18:42] YutongTie-MSFT commented on #67964
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-21 18:55] WinstonHoward-MSFT commented on #67888
Hey @spacecat if you wanted to create a cluster with nodes in 3 different availability zones that would actually look like 3 VMs under the hood because you would need a VM in each Availability Zone. So yes you would pay for three VMs. For more on how Availability Zones work see [here](https://docs.microsoft.com/en-us/azure/availability-zones/az-overview#availability-zones).

[2020-12-21 18:57] CelesteDG commented on #64313
Flagging for @msmimart

[2020-12-21 18:58] BhargaviAnnadevara-MSFT commented on #67970
@haymansfield Yes, you can [remove a move collection/resource group](https://docs.microsoft.com/en-us/azure/resource-mover/remove-move-resources#remove-a-move-collectionresource-group-portal) by removing resources in the move collection from the Azure portal. This article describes it in detail: [Manage move collections and resource groups](https://docs.microsoft.com/en-us/azure/resource-mover/rem

[2020-12-21 19:03] himanshusinha-msft commented on #67974
Thanks for reaching out to us , but at this time it does not look like you are referring to a document on Azure but to a specific scenario/ implementation  . If that's the case we request you to please post your question on [ Microsoft Q & A](https://docs.microsoft.com/en-us/answers/questions/topics/single/25409.html) and other forums , we have our engineers and others who are monitoring them and

[2020-12-21 19:07] himanshusinha-msft commented on #67976
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-21 19:12] ChaitanyaNaykodi-MSFT commented on #67727
Hello @tiago-sommer-damasceno,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-12-21 19:18] mamccrea commented on #67898
Hi @jyeblog. The "Storage Blob Data Contributor" role is needed. I'll update the article.

[2020-12-21 19:19] DerekHerman-MSFT commented on #67955
@Enmebaragezi
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-21 19:25] JamesTran-MSFT commented on #67899
@mhilde
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-21 19:30] #67975 closed

[2020-12-21 19:45] mamccrea commented on #67898
I've updated the article and it will go live later today. I am going to close this issue for now, but if you have any additional questions, please reopen it.

#please-close

[2020-12-21 19:45] #67898 closed

[2020-12-21 19:50] assaf-grth commented on #67819
@psmanhas my question is regarding the operational aspect of using hybrid benefit during creation of VM
The article above refers to a section that doesn't exist in the new VM flow
Can you share if there is a new location where hybrid benefit should be checked in order to be used during creation of new VM?

[2020-12-21 20:07] #67758 closed

[2020-12-21 20:13] greendx opened #67984 "SQL & OS License for a deallocated VM"
If you deallocate an IaaS Windows VM running SQL server, are you still paying for the SQL license and Windows OS license while the VM remains deallocated?

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an i

[2020-12-21 20:16] greendx commented on #67441
Hi @AjayKumar-MSFT & @memildin this request was closed without answering my question. Can you please direct me to someone that can help clarify this?

[2020-12-21 20:16] zaalion opened #67985 "The commands in this page don't match the actual repository"
[Enter feedback here]

Hello,

Looks like the commands in this documentation don't match the updated Git repository. For example, the document asks for the following commands:

dotnet run <IDScope>

However, the new repository accepts the scopeId to be passed using the -s switch. Even doing so, does not provide the endorsement id. Please update the Microsoft documentation to reflect the new state

[2020-12-21 20:31] kobulloc-MSFT commented on #48326
@CyberPunkie Thank you for your question!  If you would like us to look into the difference between the Java and Windows support for cloud_RoleName, please open a new issue with your question.  This helps us track questions and makes it easier for other members of the community to find answers.

[2020-12-21 20:33] byte-master opened #67986 "Storage failover performance"
In reviewing the article https://docs.microsoft.com/en-us/azure/storage/common/storage-disaster-recovery-guidance it states that failover typicaly can take upto an hour.  Why is the storage account so slow to fail over once initiated?  I would expect to be able to read/write to a RA-GRS account much faster since all that needs to be done is to change DNS and make writable.  I am assuming the time

[2020-12-21 20:48] bendavis78 opened #67987 "Azure Files with Python docs - confusion about versions?"
All the code examples have options for `v12` and `v2`. Which one should I be using? It doesn't explain the difference between these versions anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d143392d-fe64-ab13-cb20-2f97a2baae7d
* Version Independent ID: 4feca477-11fa-3403-3a02-344b35361f4e
* Content: [Develop fo

[2020-12-21 21:00] James-Hamil-MSFT commented on #67525
Hi @bpcastilho I reached out to the author about this and am awaiting a response. I would say yes for now unless otherwise noted.

[2020-12-21 21:02] James-Hamil-MSFT commented on #65325
Hi, unfortunately I have not been able to find one for this purpose. I would leave a feature request here: https://feedback.azure.com/forums/34192--general-feedback

[2020-12-21 21:05] #67321 closed

[2020-12-21 21:18] James-Hamil-MSFT commented on #67387
Hi @urjitgokhale , I am awaiting a response from our product team

Best,
James

[2020-12-21 21:20] CloudCrusader opened #67988 "Media Services as additional service"
Hi,

from the page:
The Allow trusted Microsoft services... setting also allows a particular instance of the below services to access the storage account, if you explicitly assign an Azure role to the system-assigned managed identity for that resource instance.

Azure Media Services (v3) also support managed identity but is not listed. Would this work for AMS too?

Cheers
Christophe

---
#### Docu

[2020-12-21 21:23] real-oneill opened #67989 "Move operations for Synapse workspaces"
Despite Microsoft.Synapse/workspaces supporting cross-resourcegroup and cross-subscription movement, moving a workspace to another subscription via Azure CLI, fails with the error: {"code":"MoveResourcesFailed","message":"Resource move feature is not enabled"}. Move action also fails with no error message via the Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-12-21 21:24] RakeshMK90 commented on #67592
Hi @gregtampa and @NavtejSaini-MSFT I am seeing same issue as in [#21025](https://github.com/MicrosoftDocs/azure-docs/issues/21025).  I don't see any response at all from the VPN gateway. I tried setting leftfirewall=yes to no as suggested by @gregtampa, but I still it does not work. Is there any other additional config changes that I have to on the client side?. I would really appreciate your hel

[2020-12-21 21:25] DerekHerman-MSFT commented on #67987
@bendavis78 v2 refers to the older [azure-storage-python](https://github.com/azure/azure-storage-python). v12 is referring to the newer [azure-sdk-for-python](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-file-share/README.md).

[2020-12-21 21:27] bhaugen-abledocs opened #67990 "Migration guide from vault access policy to RBAC has hanging sentence"
![Screen Shot 2020-12-21 at 3 22 03 PM](https://user-images.githubusercontent.com/68245042/102823548-b545a200-43a0-11eb-9535-aae918fe7f82.png)

In the above screenshot there is a line that ends with

The next line is blank and the line after that starts with a capitalized word `In` so it does not seem like it is the continuation of the earlier sentence.

Is this how the documentation is supposed t

[2020-12-21 21:29] DerekHerman-MSFT commented on #67987
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-21 21:33] JamesTran-MSFT commented on #67859
@Leonardo-Ferreira
Thank you for your time and patience throughout this issue!

I walked through the documentation and was able to generate a valid access token when following the [Get an access token](https://docs.microsoft.com/en-us/azure/active-directory-b2c/secure-api-management?tabs=app-reg-ga#get-an-access-token) portion.
![image](https://user-images.githubusercontent.com/36619112/102824054-

[2020-12-21 21:36] afield1235 commented on #65325
Actually, there was a resolution for this. When the link pops up to enter in Box credentials, it contains the Tenant ID needed. You can then whitelist that ID in Box.com to complete the authorization without needing to leave **Disable unpublished apps by default** OFF

[2020-12-21 21:37] James-Hamil-MSFT commented on #65325
@afield1235 Awesome! Thank you for the update!

[2020-12-21 21:37] #65325 closed

[2020-12-21 21:39] JamesTran-MSFT commented on #67194
@andreasmarx and @OMSRocks
Thank you both for your time and patience throughout this issue! I just wanted to check in and let you know that we're still working on this issue with our engineering team and will update as soon as possible.

Due to the holidays, please allow some time for our product team to look into this and provide me with an update.
Thank you again for your time and patience.

[2020-12-21 21:41] JamesTran-MSFT commented on #67990
@bhaugen-abledocs
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-21 21:50] DerekHerman-MSFT commented on #67988
@CloudCrusader According to [this article](https://docs.microsoft.com/en-us/azure/media-services/latest/concept-managed-identities#trusted-storage) it appears it does support AMS.
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-21 21:51] MonikaReddy-MSFT commented on #67105
To identify/know whether the Application Insights Profiler have captured some profilers & sent some telemetry, there are multiple ways:

1. To view profiles visualizations:

   - Go to your Application Insights resource attached to your Virtual Machine (see the Instrumentation Key used in the ProfilerSink - ARM template) (step 1)

   - Select "Performance" on the left sidebar (step 2)

   - Click

[2020-12-21 21:51] #67105 closed

[2020-12-21 21:56] JeroenTuinstra opened #67991 "Only 365 groups are written back, nowhere mentioned here."
This page is very unclear about what groups are written back. It gives the impression that all groups are written back to AD. Turns out only 365 groups are written back, which are always distribution groups in AD. Security groups, mail enabled security groups or a distribution group created in 365 Admin portal will not be written back.

Please clear this up from the outset. Much time wasted on get

[2020-12-21 21:57] MonikaReddy-MSFT commented on #67697
@ArnoMicrosoft - Thanks for providing your insights.
@BE-Digital-Solutions-Bart - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-21 21:57] #67697 closed

[2020-12-21 21:58] MarileeTurscak-MSFT commented on #67991
@JeroenTuinstra
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-21 21:58] MonikaReddy-MSFT commented on #67774
@Frank-Henkes - Thanks for reaching out to us. The links are working as expected.  At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-21 21:58] #67774 closed

[2020-12-21 22:09] MarileeTurscak-MSFT commented on #67991
Thanks! I made a pull request to add a note about this at the beginning. https://github.com/MicrosoftDocs/azure-docs-pr/pull/141616

[2020-12-21 22:09] #67991 closed

[2020-12-21 22:16] kogian commented on #62299
@shashishailaj

I am facing the same issue. Did you solve the problem?

thanks

[2020-12-21 22:27] MonikaReddy-MSFT commented on #67755
@boris-tarasov-maersk - Thanks for reaching out. I have reached out to Product team and will get back to you as soon as we have an update from them.

[2020-12-21 22:27] MonikaReddy-MSFT commented on #67644
@lechus - Thanks for reaching out. I have reached out to Product team and will get back to you as soon as we have an update from them.

[2020-12-21 22:33] zimmerab opened #67992 "Update the docker?"
Can you update the docker file / docker code. I am unable to run this since the docker changes from microsoft and the .net 5 change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbdd9c30-1bc1-7af6-158d-f65ad23f45b7
* Version Independent ID: c8828014-4369-ead5-2d05-8c3e823fc93e
* Content: [Create Logic Apps Preview wo

[2020-12-21 22:33] MarileeTurscak-MSFT commented on #67962
Right now there's a Preview release of[ Geolocation - Get IP To Location ](https://docs.microsoft.com/en-us/rest/api/maps/geolocation/getiptolocationpreview)API.

"This service will return the ISO country code for the provided IP address. Developers can use this information to block or alter certain content based on geographical locations where the application is being viewed from."

There's also

[2020-12-21 22:53] DerekHerman-MSFT commented on #67986
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-21 23:06] HitenBhavsarMSFT opened #67993 "Recover a Deleted Data Factory which had Source Control"
**IFF CX had source control (Git Integration)**

To recover a Deleted Data Factory which had Source Control enabled use the following steps:

******************************************************
Please add above to the public facing documentation so cx can recover / restore ADF from Control enabled.
SR 120122126004945, CX did not had the Git so we could not help the cx but this will cx with gith

[2020-12-21 23:20] HitenBhavsarMSFT commented on #67993
**TSG - Recovering source control enabled DF:**  https://supportability.visualstudio.com/AzureDataFactory/_wiki/wikis/AzureDataFactory/412851/Recovering-source-control-enabled-DF

### Note: below TSG to show that restore is not possible with out source control
_**Data Factory Backup & Restore:**_ requestshttps://supportability.visualstudio.com/AzureDataFactory/_wiki/wikis/AzureDataFactory/412853/D

[2020-12-21 23:38] MartinJaffer-MSFT commented on #41961
Thank you for taking care of this issue @xumou-ms .  I will now close this issue.

[2020-12-21 23:38] #41961 closed

[2020-12-21 23:55] MhAllan opened #67994 "Example links for .Net refer to old Library"
When I want to see pagination examples for .Net I land on V2 examples, and I am working on V3 and V4 is getting ready soon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0313c2d6-c1fe-9340-f1c8-76d660c4b1fb
* Version Independent ID: 5121eaa8-d954-2f18-3f22-bd5c1d74281b
* Content: [Pagination in Azure Cosmos DB](https:/

[2020-12-22 00:52] mbtools opened #67995 "Missing escape characters"
The command in https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/deployment-guide#c8749c24-fada-42ad-b114-f9aae2dc37da point 7 fails with ""expecting property name enclosed in double quotes line 1 column 2"

It should end in `--settings '{\"system\":\"SAP\"}'` escaping the double quotes.

Marc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-12-22 00:58] Karishma-Tiwari-MSFT commented on #66134
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-22 01:05] Karishma-Tiwari-MSFT commented on #66890
Backup Restore Service is available on all platforms i.e. On-premise , Azure etc. By default it is not enabled. For enabling we need to setup flag either in azure portal, cluster config file or upgrade the current cluster.

Please refer to the following documentation:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-backuprestoreservice-quickstart-azurecluster#enabling-backup-a

[2020-12-22 01:05] #66890 closed

[2020-12-22 01:06] WinstonHoward-MSFT commented on #67747
@eloggo, NodePort is intended to be used to create a port mapping between an AKS Pod and the underlying Node IP not the public internet. If you wanted to use NodePort to allow your AKS Pods to access the internet you could open up access on the Node to the public internet and then your Pods could use NodePort to route traffic as in `Internet->Node->NodePort->Pod` externally.

A better way to allow

[2020-12-22 01:06] #67747 closed

[2020-12-22 01:08] Karishma-Tiwari-MSFT commented on #67634
When you first deploy or provision a disk, the baseline performance tier for that disk is set based on the provisioned disk size. You can use a performance tier higher than the original baseline to meet higher demand. When you no longer need that performance level, you can return to the initial baseline performance tier.

Your billing changes as your performance tier changes. For example, if you p

[2020-12-22 01:08] #67634 closed

[2020-12-22 01:21] SubhashVasarapu-MSFT commented on #67586
@2sharjoshi, I was wondering if you have had a chance to look over our previous reply yet. Let us know if you have any query or input for us or if we good to close this issue.

[2020-12-22 01:48] Karishma-Tiwari-MSFT commented on #67002
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-22 01:56] Karishma-Tiwari-MSFT commented on #67826
As per the [blog](https://azure.microsoft.com/es-es/updates/azure-files-premium-tier-is-now-available-in-more-regions-with-lrs-zrs-and-nfs-support/), Network File System (NFS 4.1) is also in public preview on premium tier

[2020-12-22 01:59] #67826 closed

[2020-12-22 02:02] CyberPunkie commented on #67943
Thanks - it'd be good to get this sorted properly - Functionally speaking, this breaks the goodness of application maps, including the ability to drill down to actual events.

[2020-12-22 02:03] CyberPunkie commented on #48326
Issue already open -  very intrigued on the rationale behind dissimilar support for application using app inisghts.

[2020-12-22 02:04] insankim opened #67996 "Es_v4, Eds_v4 series are missing in supported vm sizes"
Esv4, Edsv4 series are missing in supported vm sizes.
https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2#generation-2-vm-sizes

According to edv4, edsv4 series document, Gen2 is supported.
https://docs.microsoft.com/en-us/azure/virtual-machines/edv4-edsv4-series?toc=/azure/virtual-machines/linux/toc.json&bc=/azure/virtual-machines/linux/breadcrumb/toc.json

Please add E(d)sv4 ser

[2020-12-22 02:06] Karishma-Tiwari-MSFT commented on #67701
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-22 02:10] Karishma-Tiwari-MSFT commented on #67906
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-22 02:11] Karishma-Tiwari-MSFT commented on #67534
Yes, That looks correct to me.

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-12-22 02:11] #67534 closed

[2020-12-22 03:26] SwathiDhanwada-MSFT commented on #67989
@real-oneill Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-22 03:31] ytthuan opened #67999 "Relation between Direct method and Cloud-to-device sends throttling."
[Enter feedback here]
Hi team,

I want to know the relation between:

Direct method and Cloud-to-devices sends throttling, will direct method be counted for Cloud-to-devices sends? and if not, what operation will be accounted to cloud to device sends operation?

https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-quotas-throttling#operation-throttles

---
#### Document Details

⚠ *Do n

[2020-12-22 03:45] GitaraniSharma-MSFT commented on #67984
@greendx , Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-12-22 03:49] GitaraniSharma-MSFT commented on #67985
@zaalion , Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-22 03:50] AnuragSharma-MSFT commented on #67816
@golfalot We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-22 03:50] #67816 closed

[2020-12-22 03:51] AnuragSharma-MSFT commented on #67938
@elvirk Awaiting your response to take this further based on above comment.

[2020-12-22 03:53] AnuragSharma-MSFT commented on #67994
@MhAllan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-22 03:54] GitaraniSharma-MSFT commented on #67791
@vlad-kozlov , I checked with the Private Link backend team and below is their response on this question:

We already have an active task to fill the options on this article, we’ll include it for January as a complete version as we have other similar new options pending.

Important Note: Synapse is bit loaded when it comes to actual resource APIs, Microsoft.Sql/servers is used for Synapse formerly

[2020-12-22 03:54] #67791 closed

[2020-12-22 03:57] 1TheMuffinMan commented on #28021
I think the real takeaway here is that the documentation should be a little bit more helpful in pointing out that EntityPath should be stripped out under specific use cases.

Basically, it comes down to if someone was confused enough to open a ticket then the documentation failed.

[2020-12-22 04:02] vipulsparsh commented on #67884
@annerajb Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-12-22 04:05] mohideenyassarvm commented on #62299
Yes I made some configuration changes and was able to fix the issue. Please refer my configuration below
Show user SAML
edit "SSL-AZURE-SAML-TEST"
        set cert "Fortinet_Factory"
        set entity-id "https://FQDN:port/remote/saml/metadata"
        set single-sign-on-url "https://FQDN:port/remote/saml/login"
        set single-logout-url "https://FQDN:port/remote/saml/logout"
        set idp-

[2020-12-22 04:08] CHEEKATLAPRADEEP-MSFT commented on #67993
@HitenBhavsarMSFT  Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2020-12-22 04:18] AshokPeddakotla-MSFT commented on #67999
@ytthuan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-22 04:27] toakiyos opened #68000 "Is family 5 releases Typo ?"
X: WA-GUEST-OS-5.49_202011-02
O: WA-GUEST-OS-5.49_202011-01

Isn't it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7e4add3-448c-8bd4-3a47-bb7ae25970db
* Version Independent ID: 4fe15edb-81b7-6122-829b-7a321a72e3bf
* Content: [Learn about the latest Azure Guest OS Releases](https://docs.microsoft.com/en-us/azure/clo

[2020-12-22 04:44] psmanhas commented on #67996
@insankim Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-12-22 04:45] psmanhas commented on #67996
@brbell Can you please check and add your comments on this doc update request as applicable

[2020-12-22 04:47] brbell commented on #67996
I have updated the changes and it should reflected it tomorrow.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: PreetiManhas-MSFT <notifications@github.com>
Sent: Monday, December 21, 2020 8:45:16 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Brenda Bell <brbell@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsof

[2020-12-22 04:47] SwathiDhanwada-MSFT commented on #67694
@parameswar-mondal-fission As we haven't heard from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-22 04:47] #67694 closed

[2020-12-22 04:50] ram-msft commented on #67895
@danajayshields Thanks, Could you please help with the document that you are trying.

Create Inference Cluster:
![image](https://user-images.githubusercontent.com/49180516/102850350-4bc8a080-443f-11eb-9932-e2a06c410a32.png)

[2020-12-22 05:20] BharathNimmala-MSFT commented on #67900
@andrejpk Just checking to see what npm version you are using, as per [npm 5 version documentation](https://blog.npmjs.org/post/161081169345/v500) --save will be enabled default.

npm will --save by default now

Can you please help confirm for which npm version you are using ?  thank you !!

[2020-12-22 05:39] ozbillwang opened #68001 "Gateway SKU, Zone-redundant Gateway SKU"
[Enter feedback here]

From the description, it distinguishes with two types of virtual network gateways:

* gateway SKUs
* Zone-redundant gateway SKUs

Do you realize now,  this is the terrible statement? Gateway SKUs could be for any Gateways, it is a generic word.

From my view, it can be easily used as different names, such as:

* Regional gateway SKUs
* Zone-redundant gateway SKUs.

There is

[2020-12-22 05:44] PramodValavala-MSFT commented on #67992
@zimmerab Thanks for the question! We will review and get back to you!

[2020-12-22 05:44] AnuragSharma-MSFT commented on #67880
@laultman Apologies for the inconvenience caused to you. Firstly I agree with you on both the points where we get that 500 error and as well as using these keywords. Currently this is the limitation when we try to use reserved keywords like 'ttl' in cosmos db. And as you mentioned when we rename it to some other text it works fine. This is the kind of workaround to overcome this situation at prese

[2020-12-22 05:50] BharathNimmala-MSFT commented on #67766
@karthikeyan-murugan Apologies for delay in getting back to the thread. Post reviewing your query, seems that this needs further troubleshooting to better understand the scenario you are getting into and find the possible root cause. Apologies for your experience , can you please share your account information to further help you troubleshoot this.  Please send an email to AzCommunity@microsoft.co

[2020-12-22 05:50] #67766 closed

[2020-12-22 05:56] BhargaviAnnadevara-MSFT commented on #67936
@ThomasMConnors Hope the above addresses your query. Are there any further questions here?

[2020-12-22 05:57] BhargaviAnnadevara-MSFT commented on #67817
@JBiasilloTM We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-12-22 05:57] #67817 closed

[2020-12-22 06:23] MS-jeremy opened #68002 "DeleteMany should be already supported but it's not mentioned in this page"
[Enter feedback here]
As per [Cosmos DB MongoDB API Feedback Post - Delete Many](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/34813063-cosmosdb-mongo-api-delete-many-with-partition-ke#{%E2%80%8Btoggle_previous_statuses}%E2%80%8B)
“DeleteMany” should be already supported now? But only command "Delete" is mentioned in the page.

---
#### Document Details

⚠ *Do not edit this

[2020-12-22 06:26] BhargaviAnnadevara-MSFT commented on #67963
@lazarillo Thanks for the details. I tried to install the extension with `az extension add -n azure-cli-ml` and observed that it took a few minutes to install successfully on my local machine but was fairly quick on Azure Cloud Shell.

If you don't see the extension listed when you run `az extension list`, could you please retry the installation again? If that doesn't work, you could try it on [Az

[2020-12-22 06:53] GitaraniSharma-MSFT commented on #68001
@ozbillwang , thank you for your suggestion. We have assigned this to the content owner/author for review.

@duongau , could you please review the suggestion and update the docs accordingly?

[2020-12-22 06:58] VikasPullagura-MSFT commented on #68000
@toakiyos Thanks for pointing this out. We will check and update the document appropriately.

[2020-12-22 07:07] SadiqhAhmed-MSFT commented on #67913
@gbazera We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2020-12-22 07:07] #67913 closed

[2020-12-22 07:32] AnuragSharma-MSFT commented on #68002
@MS-jeremy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-22 08:13] HarithaMaddi-MSFT commented on #67831
@RonyMSFT - Can you please take a look and share your thoughts.

[2020-12-22 08:15] SnehaAgrawal-MSFT commented on #67950
Thanks again for the feedback! I have assigned this issue to content author @cephalin for update the document as appropriate. To resolve you currently on this, please click on Path mappings and you will be able to see.

![image](https://user-images.githubusercontent.com/46553948/102865393-af60c700-445b-11eb-92ec-0cf3bad6b006.png)

[2020-12-22 08:26] memildin commented on #66610
Thanks, @SHANE0MAC.

This page has been updated with the new features and procedures that were rolled out.
#please-close

[2020-12-22 08:26] #66610 closed

[2020-12-22 08:26] HarithaMaddi-MSFT commented on #58619
@azaricstefan - Can you please take a look and share your thoughts?

[2020-12-22 08:47] mcurko opened #68005 "Cluster schema specification missing"
We do have several JSON samples for creating clusters presented, but where is the definition of the structure of those JSONs?
 Some information can be found here: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-fabric-settings, but not all JSON elements are present there, nor is there any structural description of the JSON.

---
#### Document Details

⚠ *Do not edit th

[2020-12-22 09:08] lazarillo commented on #67963
- Yes, I am able to install via the Azure Cloud Shell.
- No, I do not see the extension listed in `az extension list` (see above)
- Yes, I do see the extension in `az extension list-available`
- No, I am still unable to install on my local machine.
  - I have waited up to 4 hours for the install to finish; I am quite sure the problem is not that I simply have not waited long enough.

Please let me

[2020-12-22 09:09] AndrewSmithRS commented on #67710
Thank you. There is a lot of Microsoft documentation that still references the deprecated columns that have been removed. Also the Category column is also no longer available which was referenced on this page but I see this was updated today.
On the schema document for AzureActivity (https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/azureactivity) it would make sense to mention

[2020-12-22 09:11] perkops opened #68006 "Tutorial does not work with Azure.Identity v. 1.3.0 - only v 1.2.2"
In the tutorial, we are asked to reference the following two packages (latest version).

Azure.DigitalTwins.Core. This is the package for the Azure Digital Twins SDK for .NET.
Azure.Identity. This library provides tools to help with authentication against Azure.

The tutorial works when using v. 1.2.2 of the Azure.Identity Nuget Package.

However, when using the latest version of Azure.Identity, v

[2020-12-22 09:13] maganvill commented on #38691
@msrini-MSFT, Are there any updates on this issue?

We would really need to be able to apply NSG to GatewaySubnet, to restrict inbound and outbound to a limited set of VM:s and  ports.

Refer to https://feedback.azure.com/forums/217313-networking/suggestions/32954200-allow-nsg-for-vpn-gateway-subnet

[2020-12-22 09:21] lissff opened #68007 "get sp or msi client ip"
[Enter feedback here]

I have 2 aks cluster, one is using SP  and another one using identity;
is there any unified way of getting the SP client ID or msi identity ID using command line(without knowing if I am using SP or msi)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a0d502-ce71-76d4-bf8a-060e63913b52
* Version

[2020-12-22 09:23] msrini-MSFT commented on #38691
@maganvill , Yes you can use Gateway manager tag. Refer: https://docs.microsoft.com/en-us/azure/application-gateway/configuration-infrastructure#network-security-groups

[2020-12-22 09:26] psmanhas commented on #67995
@mbtools The document is updated and changes will go live soon.

[2020-12-22 09:27] MSSedusch commented on #67995
@mbtools what shell are you using? I tested with /bin/bash and the command worked for me:

[code]

[2020-12-22 10:05] SubhashVasarapu-MSFT commented on #67750
@alishchytovych, Appreciate your patience. Is this the section you are pointing to?
![image](https://user-images.githubusercontent.com/44890829/102876507-4da85900-446b-11eb-9321-78d6fdc920db.png)

[2020-12-22 10:18] psmanhas commented on #67819
@assaf-grth Thank you for the info. I have reached out to internal team on this and will keep you posted once I have an update

[2020-12-22 10:50] alishchytovych commented on #67750
Yes, this one.

[2020-12-22 10:53] maganvill commented on #38691
Thx. Sorry but I misread the topic.

I want to apply NSG to a GatewaySubnet for a VPN Gateway, to restrict what resources in VNet the on-prem clients can reach and vice verca. The ServiceTag GatewayManager seems to be used for VPN Gateway as well as Application Gateway: https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#available-service-tags.

I know the recommendation i

[2020-12-22 10:53] AjayKumar-MSFT commented on #67909
Update:
We're discussing (Toru) on this internally with the author, based on the review we will update the document as appropriate.
We're closing this thread for now, but tracking internally. Thanks again for the discussion and feedback on this, Toru.

[2020-12-22 10:53] #67909 closed

[2020-12-22 11:17] tiagonmas opened #68011 "Issues adding nuget Xamarin.Azure.NotificationHubs.Android"
When I try to add Xamarin.Azure.NotificationHubs.Android nuget I get the error below:

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1202	Package Xamarin.Azure.NotificationHubs.Android 1.1.3 is not compatible with monoandroid90 (MonoAndroid,Version=v9.0). Package Xamarin.Azure.NotificationHubs.Android 1.1.3 supports: monoandroid10.0 (MonoAndroid,Version=v10.0)	ParticleButto

[2020-12-22 11:33] HarshitaSingh-MSFT commented on #67839
Hi @dirkslab, I reproduced this scenario in my account and here are the steps that I followed:

1. I created 2 different Managed Identities.

2. I ran below template to give `Contributor ` role to Managed Identity 1:
[code]
**This was successful.**

3. I ran below template to give `Contributor `role to Managed Identity 2:

[code]
This template threw error for me:
[code]
_Also, note that as the doc

[2020-12-22 11:49] asergaz commented on #67758
Thank you @jokarl . Please we are always welcoming enhancements do the doc so that the information there is cristal clear. Feel free to suggest some changes\enhancements to the docs as needed.

[2020-12-22 11:56] SnehaAgrawal-MSFT commented on #68011
@tiagonmas Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-22 11:58] SnehaAgrawal-MSFT commented on #67865
@gmatisa Thanks again for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-22 12:26] dirkslab commented on #67839
Thanks @HarshitaSingh-MSFT

If you run your scenario 1 : give Contributor role to Managed Identity 1 multiple times (same roleNameGuid)
I would expect that you should be able to run successful deployment, because as stated, this can be achieved by keeping the roleNameGuid the same. This does not seem to be the case, so documentation does not seem to hold true.

In my case there is no second manage

[2020-12-22 12:48] shballa-msft opened #68013 "encryptionAtHost@microsoft .com to encryptionAtHost@microsoft.com"
Please correct email id in below link:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-enable-host-based-encryption-powershell#prerequisites

encryptionAtHost@microsoft .com to encryptionAtHost@microsoft.com

there is a additional space in the email id

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-12-22 12:54] mcurko opened #68014 "Explanation needed"
I don't understand what is this article about. It starts talking about security, without explaining in what way will it be achieved. Is it about intra-service communication in a secured cluster? If so, why not simply instantiate and use a FabricClient?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35d1ffc2-b8c3-fbaf-e

[2020-12-22 12:55] amanmcse commented on #67912
@cjmakwana What is the error you are getting when you call the API with Authorization header containing bearer token? If you decode the token at https://jwt.ms, what is the value of audience claim?
Could you please share the value of the scope parameter that you pass while requesting for a token using  https://login.microsoftonline.com/{{TenantID}}/oauth2/v2.0/token endpoint as well.

[2020-12-22 13:13] spacecat commented on #67888
Okay, thanks for clarifying!

[2020-12-22 13:16] SwathiDhanwada-MSFT commented on #67812
@ElanShudnow Update Management, Change Tracking and Inventory, and Start/Stop VMs during off-hours features require linking a Log Analytics workspace to Automation account.  When Log Analytics workspace is connected, Log Analytics Agent is installed on virtual machines which collects the information required for these features. So, the virtual machines needs to be connected to the same Log Analyti

[2020-12-22 13:27] mbtools commented on #67995
Windows powershell latest version

[2020-12-22 13:36] realolap opened #68015 "Neccessary SQL permissions should be listed"
The documentation for Purview SQL scanning states that

It is generally a bad practice to give such an elevated role. Could you please explain the need for this, or better specify the acutal permissions neccessary for the scanner?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ca3773c-adab-edfa-3cba-66be4cb1a307
* Ver

[2020-12-22 13:43] GitaraniSharma-MSFT commented on #67941
@RonnieQuan , may I know in which article you found the command with Tier option in Public IP address?

[2020-12-22 14:03] elvirk commented on #67938
Please close this issue, I will not be able to try this until the weekend. If I have additional questions I'll open new issue. Thank you.

[2020-12-22 14:03] #67938 closed

[2020-12-22 14:11] MSSedusch commented on #67995
@mbtools the commands in step 6 don't work as well on PowerShell. I will document alternatives for Linux Bash and Windows (PowerShell). Thanks for the feedback and finding this issue.

[2020-12-22 14:13] wlitke-dn commented on #67597
Is there already an intermediate state of the investigation? We have the same requirement to assign Servicebus Azure roles via ARM template.

[2020-12-22 14:14] BBrukner commented on #66693
After 14 days it is now working for us, 4 days after our ticket was moved to be reviewed by the back-end team. Unfortunately we have no clarity on what caused the issue to be resolved after this time to share with others at this time.

[2020-12-22 14:28] philip-reed opened #68016 "Azure Functions, Cosmos DB & Optimistic concurrency"
Hi, towards the bottom of this document, there is the following statement regarding updates to items:

If some other client updates the input document before the function completes, is there a way to handle optimistic concurrency, and abort the update if the item has changed?

When using the V3 client, this can be done by setting `IfMatchEtag` to the etag of the item being read.
However I cant see

[2020-12-22 14:53] VikasPullagura-MSFT commented on #68005
@mcurko
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-12-22 14:53] VikasPullagura-MSFT commented on #68005
@erikadoyle
Can you please check and add your comments on this doc update request as applicable.

[2020-12-22 14:57] VikasPullagura-MSFT commented on #68014
@mcurko
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-12-22 14:57] VikasPullagura-MSFT commented on #68014
@peterpogorski @suchiagicha
Can you please check and add your comments on this doc update request as applicable.

[2020-12-22 15:10] data-jedi-ken commented on #36023
I had the same issue. In ADF v2, I used the DerivedColumn task and wrote an expression to convert it to decimal, then to a long and then to a string. I used the largest decimal data type (DECIMAL(38,19)) to ensure I wouldn't have an overflow.

toString(toLong(toDecimal(ColumnName, 38, 19))) -- If you want the final value to be a string

toLong(toDecimal(ColumnName, 38, 19)) -- If you want the fina

[2020-12-22 15:15] #68013 closed

[2020-12-22 15:17] VikasPullagura-MSFT commented on #68013
@shballa-msft Thanks for pointing this out. Document is updated and changes will go live soon.

[2020-12-22 15:24] AshokPeddakotla-MSFT commented on #67875
Does that answer your query? Do let us know if you have further queries.

[2020-12-22 15:34] MGoedtel commented on #67812
@ElanShudnow - The VMs aren't limited to the regions supported by the Log Analytics workspace, they can be in any region as long as it doesn't affect any state/local/country regulatory or your companies compliance requirements. It could introduce data bandwidth charges, so you should review this to confirm and understand the cost implications. It looks like you already have investigated that based

[2020-12-22 15:43] cjmakwana commented on #67912
Hi @HarshitaSingh-MSFT I am getting the error: System.Exception: No SecurityTokenValidator available for token <<TOKEN>>. Please note that the https://jwt.ms site recognizes that token along with the audience value: api://<<CLIENTID-OF-APP>>. The same is configured as Application ID URI. The issuer (authority) is https://sts.windows.net/<<AAD-TENANT-ID>>. Please let me know if I am missing anythin

[2020-12-22 15:45] cjmakwana commented on #67912
Hi @amanmcse please let me know if we need to have a call on this.

[2020-12-22 15:48] AshokPeddakotla-MSFT commented on #67595
@QiMata Please confirm after installing libssl1.1 are you able to complete the rest of the doc without any issues? If yes, please update us so that we can update the doc accordingly.

[2020-12-22 15:49] nermin-sahmanovic opened #68022 "Create SAML application in Azure AD via PowerShell"
Hello Community,

I am able to create an application using PowerShell running the following command:

Connect-AzureAD -TenantId "Tenant ID"

$appName = "SAMLAppTest5"

$samlApp = New-AzureADApplication -DisplayName $appName `

                        -IdentifierUris "http://mynewapp.example5.com" `

                        -SamlMetadataURL "http://mynewapp.example5.com/metadata.xml" `

[2020-12-22 15:52] badalk opened #68023 "Custom private link service using internal service load balancer"
Is there a way i can create a custom private link service using the internal service load balancer? what are the steps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25afcc19-0998-3583-f6d8-e2a619c0e071
* Version Independent ID: 7629191a-6b3b-fb22-8b70-fa84fd785f38
* Content: [Create an internal load balancer - Azure

[2020-12-22 16:10] tiagonmas commented on #68011
After updating the target to Android 10 I can install the Xamarin.Azure.NotificationHubs.Android package, but I get several other build errors:
Error	CS0246	The type or namespace name 'ServiceAttribute' could not be found (are you missing a using directive or an assembly reference?)
Error	CS0246	The type or namespace name 'IntentFilterAttribute' could not be found (are you missing a using directiv

[2020-12-22 16:12] asergaz commented on #68006
@perkops thank you so much for reporting this issue. We are checking internally if there is a hard dependency of the version 1.2.x for Azure.Identity Nuget Package and update the doc if this is expected (adding a note) or if this tutorial should work with version 1.3.0, fix the issue.

fyi @baanders

[2020-12-22 16:21] BhargaviAnnadevara-MSFT commented on #67963
@lazarillo Thanks for the additional details. This is certainly not the expected behavior. I've opened a bug with the Azure CLI extensions repo for our Engineering Team to investigate. Please track further updates to this issue here: Azure/azure-cli-extensions#2824. Please run the `az feedback` command from your local machine and add the generated template to the GitHub issue to add the complete e

[2020-12-22 16:21] #67963 closed

[2020-12-22 16:23] tiagonmas commented on #68011
After adding the following  was able to compile

using Android.Util;
using Firebase.Messaging;
using Android.Support.V4.App;
using WindowsAzure.Messaging;
using Android.App;
using System.Linq;
using Android.Content;
using System.Collections.Generic;

[2020-12-22 16:43] tiagonmas commented on #68011
and not I started getting an runtime error
Java.Lang.NoClassDefFoundError
  Message=Failed resolution of: Lcom/google/android/datatransport/runtime/dagger/internal/Factory;

[2020-12-22 16:50] sgreci commented on #67548
Hello @stevestein @rohitnayakmsft  do you have any feedback to share?

[2020-12-22 16:53] valvitkurti opened #68026 "Machine Learning using Azure Databricks button leads to a 404 page"
The last button/link on the page at https://docs.microsoft.com/en-us/azure/databricks/scenarios/databricks-sentiment-analysis-cognitive-services , namely "Machine Learning using Azure Databricks" leads to a 404 - Page not found when you click on it. the URL is https://docs.microsoft.com/en-us/azure/databricks/applications/machine-learning/train-model/mllib/decision-trees

---
#### Document Details

[2020-12-22 16:55] pauldj54 opened #68027 "Get keys stored in key vault not supported?"
I would like to know if there any way of retrieving a public key as string from key vault while creating an ubuntu vm using an arm template?

It seems that only secret are supported, adding them to the parameters file:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26d9d7e2-b16a-0b73-bb1a-f08320f7ccc9
* Version

[2020-12-22 17:18] LeroyK opened #68028 "Unable to enable encryption at host"
I am getting the following error when trying to create a DSv2 VMSS in West Europe with **encryption at host** enabled:
[code]

Registering the feature doesn't work either:
[code]
[code]

Is this feature actually supported in West Europe?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade067f1-3f3e-73de-0321-bb8d07147cd

[2020-12-22 17:20] JamesTran-MSFT commented on #67859
@Leonardo-Ferreira
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2020-12-22 17:25] VikasPullagura-MSFT commented on #67601
@assaf-grth
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-12-22 17:25] #67601 closed

[2020-12-22 17:34] JamesTran-MSFT commented on #67990
@bhaugen-abledocs
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2020-12-22 17:34] #67990 closed

[2020-12-22 17:39] anzaman commented on #67750
The unit for packet buffers is bytes and the file size is megabytes. I'll update the documents as well

[2020-12-22 17:40] BrianBasor commented on #24857
Thank you for creating that issue in the right repo @mruepp !  In case anyone hasn't seen it, here is the link: https://github.com/Azure/azure-cli/issues/16317

[2020-12-22 17:47] anzaman commented on #67750
@yushwang

[2020-12-22 18:02] elisolMS commented on #65835
@SB-o-matic, thank you for the additional information and feedback!  Can you give us more details on the steps you're taking when you see errors using Gmail accounts on a tenanted URL?  There are some factors that can change the behavior for Gmail accounts, such as whether [Google federation](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/google-federation) or [email o

[2020-12-22 18:13] jmprieur commented on #67570
@Exagram
You can look at this sample; https://github.com/Azure-Samples/ms-identity-aspnet-webapi-onbehalfof
it illustrates a spa and a web app calling an ASP.NET web API.

This file is where the configuration of the web API happens: https://github.com/Azure-Samples/ms-identity-aspnet-webapi-onbehalfof/blob/master/TodoListService/App_Start/Startup.Auth.cs

[2020-12-22 18:14] jmprieur commented on #67570
@James-Hamil-MSFT : i believe that the question is now answered

[2020-12-22 18:20] DerekHerman-MSFT commented on #68028
@LeroyK I believe this is caused by a [bug ](https://github.com/Azure/azure-powershell/issues/12776)in a previous version of the Az PowerShell module. Try checking and updating your the Azure PowerShell module to see if it resolves your issue.
https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-5.2.0#update-the-azure-powershell-module

[2020-12-22 18:34] BharathNimmala-MSFT commented on #67768
@emilguden Apologies for delay in getting back to your thread. Our team has reached out to internal team to get more information regarding this scenario, will keep you updated accordingly. Thank you.

[2020-12-22 18:34] mumian commented on #68027
@pauldj54 - how about using deployment script - https://docs.microsoft.com/azure/azure-resource-manager/templates/deployment-script-template?

[2020-12-22 18:38] LeroyK commented on #68028
@DerekHerman-MSFT that's a different issue. I am using the latest versions of Azure cli and the Az PowerShell module.

The error message is a response from the Azure management REST API. The following az cli command shows the actual json response:
[code]
[code]

[2020-12-22 18:41] tamram commented on #67666
@andrejpk - Thanks for letting us know about this error. I've updated the code example.

#please-close

[2020-12-22 18:41] #67666 closed

[2020-12-22 18:55] #67768 closed

[2020-12-22 18:57] JamesTran-MSFT commented on #68022
@nermin-sahmanovic
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-22 19:05] kobulloc-MSFT commented on #48326
Related issue: https://github.com/MicrosoftDocs/azure-docs/issues/67943

[2020-12-22 19:20] DerekHerman-MSFT commented on #68028
@LeroyK Apologies I was mistaken. This feature cannot currently be self enabled.

In order to be able to use encryption at host for your VMs or virtual machine scale sets, you must get the feature enabled on your subscription. Send an email to encryptionAtHost@microsoft.com with your subscription Ids to get the feature enabled for your subscriptions.

[2020-12-22 19:28] HarshitaSingh-MSFT commented on #67914
Just checking in to see if you have had a chance to see the previous response.

[2020-12-22 19:33] at9045 commented on #67914
Please closed my ticket.

On Wed, 23 Dec 2020, 12:59 am HarshitaSingh-MSFT, <notifications@github.com>
wrote:

[2020-12-22 19:36] femsulu commented on #67382
Hello @dineshpathapati, [this](https://portal.azure.com/#blade/Microsoft_Azure_Policy/PolicyDetailBlade/definitionId/%2Fproviders%2FMicrosoft.Authorization%2FpolicyDefinitions%2F96670d01-0a4d-4649-9c89-2d3abc0a5025) may be a more appropriate template for your scenario.

{
  "properties": {
    "displayName": "Require a tag on resource groups",
    "policyType": "BuiltIn",
    "mode": "All",
    "d

[2020-12-22 19:44] HarshitaSingh-MSFT commented on #67839
@dirkslab, I think there can be another cause for this. I am able to run the same script for Managed Identity 1 twice. It is succeeding without any errors:

![image](https://user-images.githubusercontent.com/25202671/102927015-1910bd80-44bc-11eb-9253-b0fc46cabf92.png)

Let me know if I misunderstood your question.

[2020-12-22 19:56] himanshusinha-msft commented on #68007
@lissff Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-12-22 19:58] himanshusinha-msft commented on #68015
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-22 19:59] himanshusinha-msft commented on #68016
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-22 20:01] himanshusinha-msft commented on #68023
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-12-22 20:04] himanshusinha-msft commented on #68027
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-12-22 20:06] MartinJaffer-MSFT commented on #68026
Thank you for your detailed feedback @valvitkurti .  We are looking into the issue, and we will respond when we have more information.

[2020-12-22 20:06] AjayKumar-MSFT commented on #67910
@PavelNL, Apologies for the delayed response.

In regards to the statement -"All images in the Azure Marketplace must be reusable in a generic fashion" -the OS VHD must be _generalized_ - In this context, generalized - is a process or operation performed by invoking Sysprep tool - which removes all your personal account and security information, and then prepares the machine to be used as an image

[2020-12-22 20:15] kalendelaney opened #68029 "SQL Managed Instance is no longer 'new'"
In the first big diagram on this page, Managed Instance is labelled as being a 'new' option. I think maybe it's time to remove that adjective.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-911d-9fa0-8dfab1653b6e
* Content: [What is Azure SQL

[2020-12-22 20:15] MartinJaffer-MSFT commented on #68026
Thank you for your feedback, @valvitkurti . This has been assigned to the content owner, @lenadroid  and will be updated as appropriate.

@lenadroid  , this link break seems related to a move, as seen in -pr/blob/live/databricks/applications/machine-learning/train-model/mllib/index.md#decision-trees-examples

[2020-12-22 20:33] #67900 closed

[2020-12-22 21:10] JAK1047 opened #68030 "Cross Region Restore on Recovery Services Vault"
I can't find any documentation, but is there an API or Powershell cmd available to enabled Cross Region restore on a new Recovery Vault without having to use the portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21ed053d-77be-b16d-054c-fafa59952446
* Version Independent ID: 51acda05-41c1-6da4-cc84-797cc4d6a23a
* C

[2020-12-22 21:23] RobertvBraam commented on #67973
Thank you, if I can help with anything please let me know.

[2020-12-22 21:48] iwright4317 commented on #62579
I had the same problem. I changed the package.json file and changed the gulp version using:  "gulp": "^4.0.2", But there are still other errors.

[2020-12-22 21:50] iwright4317 commented on #62579
Has this problem being fixed? I can't learn from this tutorial as is.

[2020-12-22 22:12] hophanms commented on #68015
Addressed with more notes here https://github.com/MicrosoftDocs/azure-docs-pr/pull/141678

#please-close

[2020-12-22 22:12] #68015 closed

[2020-12-22 22:48] ilahat commented on #67806
Hi @mmaitre314 , have you enabled JIT access in Partner Center when publishing this app? You do not need to and should not include any jit-related parameters in your `mainTemplate.json`.

Here's the section on Partner Center Jit Access in the same document:
![image](https://user-images.githubusercontent.com/23389790/102940260-c526ba00-4464-11eb-8b3e-f45cfa2a3368.png)

[2020-12-22 23:09] oyvind-soroy commented on #31423
Pod documentation where? @chrisfromwork

[2020-12-22 23:11] oyvind-soroy commented on #41408
I am still having issues with CocoaPods...

[2020-12-22 23:31] DJuanes commented on #67210
I am sorry, but I do not speak English.
I tried again and it gave me the same error

[2020-12-22 23:36] mike-urnun-msft commented on #67832
Hello @motasem13 - please see below:

The difference is while the AppService tag represents a subset of IP range only specific to App Service services, the AzureCloud tag is a much larger range encompassing the entire Public Azure. If you're looking to target an outbound IP range for a Function App that is deployed to a specific region, you may do so by referencing subsection, for example, `AppSer

[2020-12-22 23:41] jhayes-steampunk commented on #17762
Can we get clarification on this? The linked document no longer contains any information about permissions or supported mount options such as whether Unix attributes/extensions are available.

[2020-12-23 00:02] kgremban commented on #67704
Hi @xaviermignot, according to the documentation of [device heartbeats](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-identity-registry#device-heartbeat), subscribing to the events that IoT Hub publishes  Event Grid is the recommended way to monitor device connected and disconnected events.

@ash2017 Can you review this question and provide clarification around how message routin

[2020-12-23 00:46] lenadroid commented on #68026
Currently on maternity leave.

[2020-12-23 00:51] Karishma-Tiwari-MSFT commented on #67495
@mayanknayar Can you please help clarify on the 'off-peak hours in the VM's time zone'. Thanks.

[2020-12-23 00:55] Karishma-Tiwari-MSFT commented on #67594
@erikadoyle Would you be able to help answer this question? It is an advisory question.

[2020-12-23 01:07] Karishma-Tiwari-MSFT commented on #67473
Updating to the newer NuGet SF packages should resolve this error. Please update the SDK as described in this document: https://www.microsoft.com/web/handlers/webpi.ashx?command=getinstallerredirect&appid=MicrosoftAzure-ServiceFabric-CoreSDK

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I

[2020-12-23 01:07] #67473 closed

[2020-12-23 01:15] Karishma-Tiwari-MSFT commented on #67460
The scope for these doc issues is to help identify gaps and issues with the documentation.
If you are looking for help with debugging issues or advisory question on implementation, I would suggest opening a support ticket or reaching out to the [Microsoft Q&A VM forum](https://docs.microsoft.com/en-us/answers/topics/azure-virtual-machines.html) and Stack Overflow communities VM tags. We have Micro

[2020-12-23 01:15] #67460 closed

[2020-12-23 01:16] dcbrown16 opened #68032 "NAT Gateway metrics missing"
There are five metrics for NAT Gateway listed at the link below that need to be added to this document.
https://docs.microsoft.com/en-us/azure/virtual-network/nat-metrics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
*

[2020-12-23 01:26] Karishma-Tiwari-MSFT commented on #67452
It looks like DOTNET_HOST_PATH is not catching the variable value correctly. On the local machine, set the environment variable  DOTNET_HOST_PATH as ‘dotnet.exe’ and see if it works.

Workaround:
-Set the following environment variable DOTNET_HOST_PATH as %ProgramFiles%\dotnet\dotnet.exe in your PC.
-Restart services/PC if needed.

This workaround will differ of the kind of PC/agent you are using,

[2020-12-23 01:26] #67452 closed

[2020-12-23 01:29] kobulloc-MSFT commented on #68030
@JAK1047 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-12-23 01:40] ChaitanyaNaykodi-MSFT commented on #67841
Hello @garthoid, SQL connector falls under [managed connector](https://docs.microsoft.com/en-us/azure/connectors/apis-list#managed-connectors) category. When you create the connection with SQL server a API connection item is created in the resource group which contains your Logic App. This API connection is used to store the connection token acquired.

[2020-12-23 01:58] ChaitanyaNaykodi-MSFT commented on #67842
Hello @garthoid, according to the [documentation](https://docs.microsoft.com/en-us/azure/logic-apps/create-managed-service-identity)

Currently SQL connector does not support managed identity, you can upvote this [feature request](https://feedback.azure.com/forums/287593-logic-apps/suggestions/40082803-add-support-for-authentication-type-managed-identi) to add the managed identity feature for the

[2020-12-23 01:58] #67842 closed

[2020-12-23 02:01] BharathNimmala-MSFT commented on #67806
@ilahat Thank you for helping on this thread.

@mmaitre314 Please review the above information shared by @ilahat and circle back if you have any further queries.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue for now, however if you have any further queries/feedback please tag u

[2020-12-23 02:01] #67806 closed

[2020-12-23 03:46] AnuragSharma-MSFT commented on #68029
@kalendelaney Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-23 03:48] AnuragSharma-MSFT commented on #67880
@laultman Awaiting your response based on above comment.

[2020-12-23 03:53] SubhashVasarapu-MSFT commented on #67586
@2sharjoshi, since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-12-23 03:53] #67586 closed

[2020-12-23 03:54] garthoid commented on #67841
Thank you @ChaitanyaNaykodi-MSFT.

Can you point me to a reference that describes how a managed connector stores credential information? I am not having a lot of luck finding anything that describes how sensitive connector information is protected.

[2020-12-23 03:55] SubhashVasarapu-MSFT commented on #67750
@anzaman, Thanks for the quick update.
@alishchytovych, We are working towards updating the document. It would take sometime for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-23 03:55] #67750 closed

[2020-12-23 04:00] BhargaviAnnadevara-MSFT commented on #67970
@haymansfield Hope the above inputs help. Do let us know if there any further questions here.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-12-23 04:00] #67970 closed

[2020-12-23 04:02] SwathiDhanwada-MSFT commented on #68032
@dcbrown16 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-23 04:29] ram-msft commented on #67895
@danajayshields We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-23 04:29] #67895 closed

[2020-12-23 04:32] pnarsi opened #68033 "Clarification on DPS to IoT Hub Scenario"
The Private Endpoint Limitation section of this page mentions:

Would this internal service-to-service mechanism for DPS to IoT Hub still work if the IoT Hub is configured to only allow access via a private endpoint on a VNET?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5759a4e-e1ff-82c3-25b9-948652cb5205
* Version

[2020-12-23 04:37] ram-msft commented on #67953
@kzuenkler-avanade Thanks, Could you please share the SSML file that you are trying.

[2020-12-23 04:40] mmaitre314 commented on #67806
@ilahat / @BharathNimmala-MSFT : the Managed App was deployed via the Service Catalog, which to my knowledge is independent from the Partner Center. At least I was able to do everything except JIT via Service Catalog and I am just missing the ability to JIT to subscriptions I do not generally have access to.

[2020-12-23 04:50] BryanTrach-MSFT commented on #67575
@rido-min Just wanted to provide an update that we are nearly complete with the repro. We will reply back with our results and any updates as needed shortly.

[2020-12-23 04:56] ChaitanyaNaykodi-MSFT commented on #67841
Hello @garthoid,
Sure. All the connection configuration details are encrypted and securely stored, you can find the required information here in the [connector configuration documentation](https://docs.microsoft.com/en-us/azure/connectors/apis-list#connector-configuration). Please let me know if there are any additional concerns. Thank you!

[2020-12-23 04:59] AshokPeddakotla-MSFT commented on #67875
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-23 04:59] #67875 closed

[2020-12-23 05:23] pnarsi opened #68034 "DPS Encryption at REST"
Is the DPS Encryption at REST capability documented somewhere? I assume that the Device Enrollment information that is used by DPS is encrypted at REST using Microsoft keys but I am looking for a reference that explicitly mentions this somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f3da4a1-0935-5dbe-5f28-fd

[2020-12-23 05:23] HarshitaSingh-MSFT commented on #67914
Sure, closing the ticket.

[2020-12-23 05:23] #67914 closed

[2020-12-23 05:25] PramodValavala-MSFT commented on #67807
A PR has been raised, which once merged should reflect in a couple of hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-23 05:25] #67807 closed

[2020-12-23 05:39] BhargaviAnnadevara-MSFT commented on #67936
@ThomasMConnors We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-12-23 05:39] #67936 closed

[2020-12-23 05:43] AjayKumar-MSFT commented on #67777
@placidseven, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us (@femsulu) in your reply and we will gladly continue the discussion.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-12-23 05:43] #67777 closed

[2020-12-23 05:52] GitaraniSharma-MSFT commented on #67929
@RonnieQuan , When creating Azure Firewall, if you don't specify AvailabilityZones property, by default AZ FW will be deployed on a single zone.

NOTE : Availability Zone - Unique physical locations within a region. Each zone is made up of one or more datacenters equipped with independent power, cooling, and networking.
Please refer : https://docs.microsoft.com/en-us/azure/availability-zones/az-ov

[2020-12-23 05:52] #67929 closed

[2020-12-23 05:54] SwathiDhanwada-MSFT commented on #67812
Thanks for your inputs @MGoedtel .

@ElanShudnow As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-23 05:54] #67812 closed

[2020-12-23 06:02] PramodValavala-MSFT commented on #67905
@charris-msft Thanks for catching that! We have assigned this issue to the content author to review and update accordingly.

[2020-12-23 06:25] ZhuXiaoBing-cn opened #68035 "[Query]Confusion arises when using Graph, Office combined permission to get access Token"
When I try to get access token by using the combined Graph and Office permissions, I need to conduct administrator approval.
Here is my configuration on Portal,
![image](https://user-images.githubusercontent.com/71206407/102965089-164bb200-4528-11eb-92f5-21912a718cc8.png)
I used postman to get access tokens, and scope looks like this,
![image](https://user-images.githubusercontent.com/71206407/102

[2020-12-23 07:21] dirkslab commented on #67839
Thanks @HarshitaSingh-MSFT , you have correctly addressed the question. If you are able to run Managed Identity 1 twice, this might be an indication that something else is wrong. I will run some new tests this morning to see if I can add any additional info or find my error.

[2020-12-23 07:22] GitaraniSharma-MSFT commented on #67941
@RonnieQuan , The Global Tier Public IP is associated with the Cross-Region Load Balancer feature (**currently in Public Preview**).  It serves as an anycast frontend static IP for this “global” (cross-region) public load balancer.

The frontend IP configuration of the cross-region load balancer is static and advertised across most Azure regions. You can configure regional redundancy by adding a g

[2020-12-23 07:22] #67941 closed

[2020-12-23 07:23] HarshitaSingh-MSFT commented on #67839
@dirkslab , sure, thanks. Keep me posted.

For now, is the issue good to be closed? If you get further question(s) on this, you can reopen the issue and I will be happy to assist you further.

[2020-12-23 07:26] BharathNimmala-MSFT commented on #67589
@tmmueller Apologies again for delay, we heard back from our team and got some information about the Upload Content File Content option for tracked changes, this uploads the file in your specified path which then can be used to see the difference between two file contents.

For additional details, please refer to this documentation -  [Manage Change Tracking and Inventory in Azure Automation | Mic

[2020-12-23 07:26] #67589 closed

[2020-12-23 07:27] dirkslab commented on #67839
@HarshitaSingh-MSFT please do not close yet, let me give final feedback, to confirm if I do indeed get the same results.

[2020-12-23 07:27] AshokPeddakotla-MSFT commented on #68034
@pnarsi Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-23 07:27] AshokPeddakotla-MSFT commented on #68033
@pnarsi Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-23 07:41] marktab opened #68036 "Configuration Method 1 graphic does not match"
Configuration Method 1 graphic does not match.

should be:

- create pipeline
- create data flow
- create pipeline from template
- copy data
- configure ssis integration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7309c102-934f-e073-823d-684804e38ff9
* Version Independent ID: 2035c3ea-1e64-4f1b-0194-c1b407812e28
* C

[2020-12-23 07:41] zjorz opened #68037 "Graph Endpoint Also Needs To Be Specified in app.module.ts"
Hi,

To actually view the profile through the MSFT Graph call, the endpoint must be supplied in the app.module.ts

      protectedResourceMap: [
        ['Enter_the_Graph_Endpoint_Herev1.0/me', ['user.read']]
      ],

TO

      protectedResourceMap: [
        ['https://graph.microsoft.com/v1.0/me', ['user.read']]
      ],

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-12-23 07:53] dcurwin commented on #68030
#reassign:dcurwin

[2020-12-23 07:54] dcurwin commented on #68030
@JAK1047 - That functionality is not yet available, but we hope to provide it soon.

#please-close

[2020-12-23 07:54] #68030 closed

[2020-12-23 07:57] xaviermignot commented on #67704
Hi @kgremban, yes I agree Event Grid is the way to go to react to device connected and disconnected events, that's what I will use for my need.

I am almost sure that IoT Hub routing can't be used for connected/disconnected lifecycle events (maybe it used to but has been deprecated since ?). Everywhere in the documentation, except in the page I'm referring to in my initial comment, it says that Io

[2020-12-23 08:07] dirkslab commented on #67839
@HarshitaSingh-MSFT you can close the call.

I could re-produce my error multiple times, until I removed the user Managed identity from Contributor group and re-added via template script. Now its working as expected.
I have done the remove and re-add steps before logging the call multiple times.

Anyway, now it is working. Same script, same user Managed Identity and same Contributor group. Same ac

[2020-12-23 08:16] BharathNimmala-MSFT commented on #65971
@dodge1350-frp Thank you for your response and candid feedback.

My sincerest apologies for delay in getting back to this thread. Just wanted to keep you updated, that we are working in the back ground to find the right contacts who can further help understand your scenario and answer your query.  Will keep you updated as we get more information on this. Thank you.

[2020-12-23 08:20] maotsuk opened #68039 "Deny logs are not shown in the diagnostic log when you don't creat any NAT rule"
[Enter feedback here]

If there are no DNAT Rules configured, we don't see any traffic deny diagnostic logs. The reasons why you don’t see it in the logs when a DENY Rule is not configure is because the DNAT RULE Programs the SLB to Listen on that port.

Example:  if you program the port for 8080,  The SLB will only have port 8080 programmed, so packets will reach the AZFW Instance and generate lo

[2020-12-23 08:22] HarshitaSingh-MSFT commented on #67839
Good to know! @dirkree , shall we proceed to close this ticket?

[2020-12-23 08:41] dirkslab commented on #67839
@HarshitaSingh-MSFT you can proceed and close the call.

[2020-12-23 08:42] SwathiDhanwada-MSFT commented on #67818
@rajaprad Below is a sample PowerShell script which might help you in deploying service health alert across multiple subscriptions.

[code]
Note : Kindly replace "TemplateFilePath " and  "TemplateParameterFilePath" with the location of template file and template parameter file.  You can find sample template in the document you have mentioned.

As there are no further documentation changes, we will

[2020-12-23 08:42] #67818 closed

[2020-12-23 08:50] JarroVGIT opened #68040 "Receiving "Login failed" error when following the quickstart"
When following the quickstart steps with a completely new Workspace, the Spark quickstart won't work. I receive the following error when I execute the following code:

[code]
Error : com.microsoft.sqlserver.jdbc.SQLServerException: Login failed for user '<token-identified principal>'. ClientConnectionId:368fc8c0-2f9a-422d-9e80-8e0e84315633
  at com.microsoft.sqlserver.jdbc.SQLServerException.makeF

[2020-12-23 08:51] HarshitaSingh-MSFT commented on #67839
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue. It was nice working with you!

[2020-12-23 08:51] #67839 closed

[2020-12-23 08:56] ramakrpr opened #68041 "IOT Hub Public Preview support for Ubuntu 18.0.4"
Hi Team,

I am refering to the below article, based on nested edge setup for public preview and i had few questions to ask

https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-nested-iot-edge?view=iotedge-2020-11&tabs=azure-cli

1. I see that the libiothsm-std_1.2.0 and iotedge_1.2.0_rc1-1 is not available for Ubuntu 18.0.4 which is a big issue for us since we dont provision VM's anymore with

[2020-12-23 09:13] thiemel opened #68042 "fix text on the page"
[Enter feedback here]
There is (code to copy):

reg query "HKLM\SYSTEM\CurrentControlSet\Control\Terminal Server\RCM\Licensing Core" /v LicensingMode reg query "HKLM\SYSTEM\CurrentControlSet\Services\TermService\Parameters" /v SpecifiedLicenseServers

This shows an error.

Probably should be:
reg query "HKLM\SYSTEM\CurrentControlSet\Control\Terminal Server\RCM\Licensing Core" /v LicensingMode

Kin

[2020-12-23 09:27] JayaChatterjee-MSFT commented on #67849
@xtianus79 I have highlighted the issue. We will share any updates at the earliest.

[2020-12-23 09:30] CHEEKATLAPRADEEP-MSFT commented on #67893
@eaarnoudse The above document clearly explains the steps in detail.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-23 09:30] #67893 closed

[2020-12-23 09:30] devendraks opened #68044 "Issue: Too many requests for service aks-deployment (overloaded)"
Hi,

I have deployed a ML model in azure Kubernetes Service and it works fine with one request at a time. However, when I try with concurrent requests, it gives me the following error **"Too many requests for service aks-deployment (overloaded)".**
AKS Configuration:
I am using an AKS instance with 2 cores and 8 GB Ram. I have also enabled auto scaling as well. May I please get some help here as t

[2020-12-23 09:31] CHEEKATLAPRADEEP-MSFT commented on #68040
@JarroVGIT  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) or [Stack Overflow](https://stackoverflow.com/questions/ask)
Once you post your issue on forums, it will have visibility across the community which is a better-suited audience for such types of issues.

[2020-12-23 09:35] CHEEKATLAPRADEEP-MSFT commented on #68036
@marktab  Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

@dcstwh Could you please update the screenshot in this section: Configuration method 1: Home page
In the Azure Data Factory home page, select Set up Code Repository.

![image](https://user-images.githubusercontent.com/44426401/102982166-1ba

[2020-12-23 10:28] alvipeo opened #68046 "There is no Azure Active Directory section anymore in the portal - update the pic"
The picture here is outdated - https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows#using-azure-portal-create-vm-experience-to-enable-azure-ad-login. There's no such section on this page anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759

[2020-12-23 11:12] RohitMungi-MSFT commented on #68044
@devendraks The most probable reason for this error could be an incorrect backend setup or the resource not provisioned correctly inspite of creating successfully. Is it possible to debug this issue with a service engineer by raising a support request? #https://github.com/Azure/MachineLearningNotebooks/issues/647

[2020-12-23 11:27] danmana commented on #20104
I recently had to figure this out as well.

Our first approach was to use a blob storage with Static Website enabled and pointed both the index document as the error document to `index.html`

![image](https://user-images.githubusercontent.com/498419/102989800-e8ae3b00-451e-11eb-8f29-9aaadb033122.png)

While this worked and all routes returned the `index.html`, there was a side effect, all paths ex