[2020-05-04 06:55] ChiragMishra-MSFT commented on #53541
@dcmcsl Thanks for reaching out. This channel is for driving doc improvements.

I would recommend you to provide feedback at the [feedback forum](https://feedback.azure.com/forums/270578-data-factory). All the feedback you share, is closely monitored by the Data Factory Product team and implemented in future releases.

Also, Regarding service general availability, I would suggest to keep an eye on

[2020-05-04 06:55] #53541 closed

[2020-05-04 06:59] rphoon opened #53957 "Add command to show status of copy"
Suggestion to include the following command to see the status of the copy.
Get-AzStorageBlobCopyState -Container $storageContainerName -Blob $destinationVHDFileName -Context $destinationContext

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07bf8ea7-91db-de43-acf1-af16543971fd
* Version Independent ID: 22c2d984-0d21-b8

[2020-05-04 07:02] RobMcZagBDS commented on #52806
@djpmsft
Daniel, now it is way more clear, but I still not have 100% clear when expressions are evaluated (at passing time VS when referenced inside the data flow).
I would also make explicit that expressions to be evaluated must be in DF language (99% sure).

I still believe that the most confounding case is also one of the most common: passing the pipeline start time and using it as a timestamp

[2020-05-04 07:02] khoang76 commented on #53785
@doug-kells I agree. There seems to be a lack of communication on support. All I need is MFA method to be disabled so that I can log in.

[2020-05-04 07:04] noldersma opened #53958 "Azure VPN Gateway OCSP/CRL"
Hi

there seems to be no documentation at all about how to use Azure VPN Gateway in conjunction with a CRL of OCSP server.

i assume there is an option to do this otherwise certificate authentication is a bit useless.  (lets say, unsecure)

the method to add manual "revoked" certificates is not always efficient.

- Is the documentation there, and i cannot find it ?
- Can you share documentation if

[2020-05-04 07:09] atomaras opened #53959 "Missing how to create BlockBlobClient"
I wanted to know how i create a client. How do i find my blob within a container. Do i point the SDK to the container or specific blob etc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a6c1f4-9152-0f5a-b546-6ba9e1e2bf88
* Version Independent ID: 282b084a-8184-29a0-799b-6f3a55dccdc5
* Content: [Filter data by using A

[2020-05-04 07:12] ChiragMishra-MSFT commented on #53682
@HughKu The activity does expect a valid JSON in the body if you are doing a POST call. Hence you need to make sure that you are providing a valid JSON. In your case, you can write the following expression :

@json(concat('{"functionName": "', variables('functionName'), '"}'))

Hope this helps.

I will now proceed to close this thread. Feel free to still comment if you have any queries on the same

[2020-05-04 07:12] #53682 closed

[2020-05-04 07:13] ChiragMishra-MSFT commented on #53093
@NowinskiK Thanks for pointing this out. I am assigning the issue to the content owner to review and update as appropriate.

[2020-05-04 07:13] ChiragMishra-MSFT commented on #53093
@djpmsft Can you please take a look at this?

[2020-05-04 07:18] AbuHelweh commented on #49008
Can you please tell me what did you do to fix the SSL/TSL with aks cluster?

[2020-05-04 07:25] yoelhor commented on #53906
The second application you create in your Azure AD B2C tenant to test your policy. I has nothing to do with the Azure AD federation.

[2020-05-04 07:31] BhargaviAnnadevara-MSFT commented on #53879
Looping in @tfitzmac and @mrbullwinkle for providing insights/guidance with this.

[2020-05-04 07:31] jtuliani commented on #53015
Thank you for clarifying @adityabalaji-msft. All clear now.

[2020-05-04 07:31] yoelhor commented on #53772
The `ResourceOwnerPasswordCredentials-OAUTH2` technical profile is similar to the `login-NonInteractive`. Both technical profles use the Azure AD v1 endpoint (with resource parameter, and not scopes). This configuration is not going to be change in the next while.

[2020-05-04 07:33] jjindrich commented on #53006
@SubhashVasarapu-MSFT I tested it and I cannot configure IP group for destination now.
![image](https://user-images.githubusercontent.com/12845561/80944635-523fd480-8dea-11ea-8e4c-5e0c7ed2eed2.png)

[2020-05-04 07:43] VikasPullagura-MSFT commented on #53880
@TheAlmIT
The creation of public IP, associating PIP with the NIC and later creating the frontend VM with the same public IP per documented steps is working as expected. I created both Static and Dynamic public IP to cross check this and did not get any error.

I followed tutorial steps and have successfully created both the front-end and back-end VM's with the configurations as per the document i

[2020-05-04 07:55] SadiqhAhmed-MSFT commented on #53522
@Absoblogginlutely Closing this issue for now as no further action required on this.

[2020-05-04 07:55] #53522 closed

[2020-05-04 07:56] sharadrumane opened #53960 "Not able to connect SQL Server"
I have created the module and deploy to the device, but i am not able to connect to the SQL Server. is their any specific setting which i am missing? i am following the same steps which are mentioned in the tutorial.

is their any connection string related setting ? or password related setting? i am getting below error when i tried to see the logs of my sql module.

azureadmin@mneu-d-a-edge04:~$ i

[2020-05-04 07:56] #53561 closed

[2020-05-04 07:58] amanmcse commented on #53603
@AmitavaHazra I am closing this thread now. Feel free to tag me in your reply if you have any questions.
#please-close

[2020-05-04 07:58] #53603 closed

[2020-05-04 08:00] chrsi commented on #53040
Hello @asergaz ,
but what if multiple Certificates share the same Common Name? Sorry, I mistook the Common Name with the Subject Name.

I'm thinking about a scenario where I'm issueing a intermediate certificate for multiple manufacturers. Each manufaturer is then responsible for issuing their device certificates. What if two manufacturers use the same algorithm for creating their device ids? Eg.

[2020-05-04 08:06] kriti218 commented on #53788
Can you please let me know as soon as possible. We are blocked until we get this clarity.

[2020-05-04 08:08] VikasPullagura-MSFT commented on #53957
@rphoon
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-04 08:08] VikasPullagura-MSFT commented on #53957
@ramankumarlive
Can you please check and add your comments on this doc update request as applicable.

[2020-05-04 08:08] burhanqazi opened #53961 "Run query 2 to 3 times in power bi"
facing issue when connecting to hive through power bi. every query runs 2 to 3 times then fetch results to power bi reports. any idea of it
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4d434e9-3950-3f0f-fcb3-101da4a7acce
* Version Independent ID: 5068d6ba-2efc-de80-6c02-abbc4cb3babc
* Content:

[2020-05-04 08:11] UnsnappedKhan8 commented on #53788
@kriti218 yes you can run them on powershell

[2020-05-04 08:18] amanmcse commented on #53915
@agrabhi I have opened an internal ticket with product team. Meanwhile, use below URL as workaround:
https://portal.azure.com/?Microsoft_AAD_B2CAdmin_agegatingenabled=true#blade/Microsoft_AAD_B2CAdmin/TenantManagementMenuBlade/overview

I am closing this issue for now and will update the thread as soon as it is fixed.

[2020-05-04 08:18] #53915 closed

[2020-05-04 08:22] CHEEKATLAPRADEEP-MSFT commented on #53961
@burhanqazi  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=hdinsight)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-05-04 08:29] mimergel opened #53962 "Issues in running the file recovery script on machines with SLES 12 SP4"
Hi, my customer plans to upgrade to SELS 12 SP4. What issues are there exactly and when can a fix be expected?
Thanks, Michael

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142ddb2b-65ef-10f4-0e68-f9af6f0e3d52
* Version Independent ID: 74e33ef9-9a43-8ae6-abbd-a84f1cf91a25
* Content: [Recover files and folders from Azu

[2020-05-04 08:30] fbarresi opened #53963 "Submit ASA Job: update without data loss"
- The relevant Azure service or technology: Azure Stream Analytics
- link to the published documentation article: https://docs.microsoft.com/en-us/azure/stream-analytics/quick-create-vs-code

# Question:
If I submit my Job to Azure as an update of an existing ASA Job, whould I provoque some data loss?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-05-04 08:36] ChiragMishra-MSFT commented on #53947
@dikokob Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-04 08:41] UnsnappedKhan8 opened #53964 "Issues"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-05-04 08:43] vishag opened #53965 "Child ACL dropping off"
There is a scenario which is not working for me
During Recurse it is dropping the existing acl on Child folder.
For e.g.:-
Let say my folder structure is

FileSytem
               DIM
                              Folder1
                              Folder2

Now let say before running any ACL , on Folder1 and Folder2 there is R-X permission for one group(Group1).
Now in my ACL, I want to run rec

[2020-05-04 08:44] femsulu commented on #53148
Thanks for the update, @mayurigupta13. Do we have an eta on when/if external LB will be supported?

@jtuliani
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-04 08:44] #53148 closed

[2020-05-04 08:45] ChiragMishra-MSFT commented on #53951
@jianyeliu Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-04 08:48] SnehaAgrawal-MSFT commented on #53553
@jonwbstr Thanks for asking question! Could you please share screenshots to help you better on this. Have you configured Scheduled Backup or Manual Backup? and what type of database SQL / MySQL you are using?
Are you able to download the Backup Zip and able to see the log details?

[2020-05-04 08:49] SadiqhAhmed-MSFT commented on #53077
@rvahaver Can you run the Deployment Planner for Physical Servers?
 - No, it is not possible.

[2020-05-04 08:51] UnsnappedKhan8 commented on #53965
@vishag  maybe try to creat 2 saving location and run 2 different returns lol idk

[2020-05-04 08:56] mayurigupta13 commented on #53148
It is not in plans yet. We will watch out for more of such customer requests.

[2020-05-04 09:00] UnsnappedKhan8 commented on #53887
Anything yet @VikasPullagura-MSFT

[2020-05-04 09:05] vishag commented on #53965
I can work around his recurse issue but I just want to understand is it normal to have this or by some small change like -Fetch Permission we can change it.

[2020-05-04 09:09] UnsnappedKhan8 opened #53966 "[CLA] Microsoft Contribution agreement"
[ CLA - assistant ]
Please sign the CLA for multiple repositories or organizations
Version: 2017-08-31

Contribution License Agreement
This Contribution License Agreement (“Agreement”) is agreed to by the party signing below (“You”), and conveys certain license rights to Microsoft Corporation and its affiliates (“Microsoft”) for Your contributions to Microsoft open source projects. This Agreement

[2020-05-04 09:11] CHEEKATLAPRADEEP-MSFT commented on #53963
@fbarresi  Thanks for the question! We are investigating and will update you shortly.

[2020-05-04 09:15] femsulu commented on #53148
Thanks @mayurigupta13.

@jtuliani  - I recommend sharing this as a feature request on [Uservoice](https://feedback.azure.com/forums/256299-site-recovery) so others can review and upvote based on business need.

[2020-05-04 09:17] click2install commented on #44064
This doesn't particularly help with rolling key updates if that is the case. Does this mean I have to restart all my functions when I rotate keys, which I do regularly?

[2020-05-04 09:26] DixitArora-MSFT commented on #53964
@UnsnappedKhan8 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-04 09:31] ManuelGWT commented on #53585
I use a Raspberry Pi 3. Here is the full output i get.
/bin/bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
Hit:1 http://raspbian.raspberrypi.org/raspbian buster InRelease
Hit:2 http://archive.raspberrypi.org/debian buster InRelease
Hit:3 https://packages.microsoft.com/debian/stretch/multiarch/prod stretch InRelease
Reading package lists... Done
Reading package lists... Done
B

[2020-05-04 09:32] UnsnappedKhan8 commented on #53964
@DixitArora-MSFT which URL and i need a team

[2020-05-04 09:42] mcalnd70 opened #53967 "JWT openid-config v2.0 URL?"
On the page...
This openid-config URL corresponds to the v1 endpoint. For the v2 openid-configendpoint, use https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration.

Should this read as...
This openid-config URL corresponds to the v1 endpoint. For the v2 openid-configendpoint, use https://login.microsoftonline.com/{aad-tenant}/v2.0/.well-known/openid-configuration.
?

---
##

[2020-05-04 10:17] MasterKolka opened #53968 "Please, provide a way to get full image info from the portal"
It is not a good way to search an image by 3 different api requests.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7097406-c1fa-4426-82fc-5325d1ae8440
* Version Independent ID: 31844be0-b20d-a145-7794-27c706770735
* Content: [Select Windows VM images in Azure - Azure Windows Virtual Machines](https://docs.mic

[2020-05-04 10:21] dikokob commented on #53947
Issue sorted, the error was on my end had the following in my .yml deployment:
`imagePullSecrets:
      - name: regcred`

However, I now have the following error:
`api call to https://management.azure.com/subscriptions/xxx-xxx-xxx-xxx-xx/resourceGroups/MC_cfc-spp-transformer_cfc-spp-transformer-cluster_westeurope/providers/Microsoft.ContainerInstance/containerGroups/default-cfc-spp-transformer-sta

[2020-05-04 10:26] SharmaHarsh7 commented on #53891
@VikasPullagura-MSFT Thanks for your comment, please let me know if you need any input from my side also.

[2020-05-04 10:30] ricohomewood commented on #53591
Yes, but that's not my question?

The issue is that the additional performance counters are not in this new table and there is nothing in the docs that tells you how to add them? i.e. in Log Analytics:

**Log Analytics > Advanced Settings > Data > Windows Performance Counters**

These counters only log to the `Perf` table and when you upgrade to the VMInsights agent, I would expect these to be hon

[2020-05-04 10:31] codemaker opened #53969 "Getting error “The credentials supplied to the package were not recognized” while requesting Azure API Management URL"
Team, when I request APIM url , I get the below exception.

The credentials supplied to the package were not recognized

I am attaching the certificate while requesting the APIM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4e98f59-eb03-4692-db13-ac0c61a6dd3c
* Version Independent ID: 55059f88-2aa2-b916-03e7-0589cc1

[2020-05-04 10:32] kudlatiger commented on #53969
Here is my C# code which makes a request to the Azure API Management

           HttpClientHandler requestHandler = new HttpClientHandler();

           X509Certificate2 certificate = // Get certificate from windows store
           try
           {
                 using (var client = new HttpClient(requestHandler))
                 {
                    client.BaseAddress = new Uri(baseAddress);

[2020-05-04 10:34] UnsnappedKhan8 commented on #53964
@mention

[2020-05-04 10:37] lonevvolf opened #53970 "{http_resp_Location_1} not working on Request"
Using the placeholder as specified {http_resp_Location_1} does not work when matching or setting on the Request.  This used to work - I believe this is an issue with the app gateway.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aedb5a9b-70bd-506d-41c7-2ede4e12e116
* Version Independent ID: b55a0075-80ff-a967-3d9d-842

[2020-05-04 10:44] DixitArora-MSFT commented on #53964
@UnsnappedKhan8 Can you elaborate on the issue you are facing and also when you say team .

[2020-05-04 10:45] FlorianBorn71 commented on #52193
Hi, the output statistics for the large model look good, however, the

"numFaces": 45359144,

entry suggests that you need a "Premium" size VM allocated, since 20M triangles is the limit for "Standard" size:
https://docs.microsoft.com/en-us/azure/remote-rendering/reference/limits#overall-number-of-polygons

Unfortunately the reporting on the runtime side isn't there yet (e.g. show a banner with in

[2020-05-04 10:46] AshokPeddakotla-MSFT commented on #53960
@sharadrumane Thanks for the question. Login failed due to password mis match. Could please verfiy the sqlFunction.cs file and make sure you added the correct Connection string with correct password?

The SQL Server module comes with a default password set in the environment variables of the deployment manifest. Any time that you create a SQL Server container in a production environment, you shoul

[2020-05-04 10:46] neeleshray-msft commented on #53940
@eduardohl Suggest you check on this documentation for the **[Network considerations for Azure AD Domain Services](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/network-considerations)**. Also, you should have the range of IP Address enabled from the list in this **[document](https://www.microsoft.com/en-us/download/details.aspx?id=56519)**.

Let us know how it goes.

[2020-05-04 10:52] YassineSOUABNI opened #53972 "Why "AD FS integration" is listed among "Known Issues ?" since this is an expected behavior which works fine"
Dear,
why "AD FS integration" is listed among "Known Issues ?"  since this is an expected behavior which works fine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Independent ID: a5beda87-9845-8807-6221-7fdc64079587
* Content: [Passwordless sign-in with the Microsoft Authe

[2020-05-04 10:52] amanmcse commented on #52549
This is fixed now. Kindly check and confirm.

[2020-05-04 10:52] SnehaAgrawal-MSFT commented on #53672
@RonnieQuan Thanks for asking question!
RBAC for the Vnet, the Contributor permission is necessary at least. To add to this Azure includes several built-in roles that you can use. The following lists four fundamental built-in roles. The first three apply to all resource types.
•	Owner - Has full access to all resources including the right to delegate access to others.
•	Contributor - Can create an

[2020-05-04 10:53] slawekww opened #53973 "Repositories names are actual repositoryname/imagename"
Please advise if it is possible to define scoped map like: samples - to match all images under samples/*.
If not, it is real limit as each time new image is added, scoped map must be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9769320-10f9-bc69-5b34-ab15e18fead2
* Version Independent ID: d58f4440-c1a2-6035

[2020-05-04 10:59] lucazav commented on #53371
@sanpil many objects and sentences in the page refer to a step-by-step work. For example:

- all the page refers to "real" datasets or scripts like _iris.csv_ and _iris_train.py_
- the first sentence of [this paragraph](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/machine-learning/how-to-create-your-first-pipeline.md#configure-data-using-dataset-and-pipelinedata-objects) is "Yo

[2020-05-04 11:01] sharadrumane commented on #53960
@AshokPeddakotla-MSFT below is my connection string:
const string str = "Data Source=tcp:sql,1433;Initial Catalog=MeasurementsDB;User Id=SA;Password=Strong!Passw0rd;TrustServerCertificate=False;Connection Timeout=30;";

it is the same connection string provided in the tutorial and i am using same password while login to my Iotedge device and i am to login as well.

[2020-05-04 11:03] souravmishra-msft commented on #53532
Closing this thread for now.

[2020-05-04 11:03] #53532 closed

[2020-05-04 11:03] DixitArora-MSFT commented on #53967
Hi @mcalnd70 Thanks for your feedback. We will review and update as appropriate.

[2020-05-04 11:07] cfframe opened #53975 "Pick a publish target screenshot outdated"
Using Visual Studio Enterprise 2019 Version 16.5.4. The following relates to section "Publish the project to Azure".

"Pick a publish target" (step 2 at time of writing) now has several choices, none matching the current screenshot on this page. The closest seems to be "Azure App Service Plan", and the next step I'd to click button "Create Profile" (not "Publish").

---
#### Document Details

⚠ *D

[2020-05-04 11:13] VikasPullagura-MSFT commented on #53719
@ezYakaEagle442 Thanks for pointing this out.
I have reached out to content author to check on the hardcoded version numbers of calico url's.

However, currently as the redirection of the url's are automatically going to the latest version pages we are proceeding to close the issue.

Your feedback will remain on this page and if you have any further questions on this, please mention my name in the

[2020-05-04 11:13] #53719 closed

[2020-05-04 11:16] VikasPullagura-MSFT commented on #53700
@ezYakaEagle442 Same issue [53719](https://github.com/MicrosoftDocs/azure-docs/issues/53719).
As we can see from the url redirection is automatically going to the latest version pages, I have informed the doc author on this feedback.

I will now proceed to close this issue, your feedback will remain on this page and if you have any further questions on this, please mention my name in the comment s

[2020-05-04 11:16] #53700 closed

[2020-05-04 11:19] chris4jahn commented on #44113
Hi,
I also would like to see a real multi tenancy support within one workspace.
We have multiple customers that have mutliple tenants and subscriptions. For these customers it is very important for them to have a single point to store and monitor security related logs and information.
We are also working as MSSP and would like to have another layer on top where we could monitor all customers with

[2020-05-04 11:21] UnsnappedKhan8 commented on #53964
when you say team?
and oh nothing
srry

[2020-05-04 11:22] srini1978 opened #53976 "Azure Hyperscale Database does not support Change data capture"
#28079 issue states that Azure hyperscale database supports Change data capture. But it looks like it is not supported.

It is listed in the below table

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/sql-database/sql-database-features.md#sql-features

FYI @Mike-Ubezzi-MSFT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-05-04 11:23] rhummelmose opened #53977 "Reference automation for custom DNS"
https://github.com/rhummelmose/private-aks-dns-zone-linker-function-app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Create a private Azure Kubernetes Service cluster - Azure Kubernetes Service](https://doc

[2020-05-04 11:26] andrewatfornax commented on #17253
Old post, I know but the issues is as follows:

The language expression 'subscription/<remove by jwashbur79>/resourcegroups/hk-vm-operations' is not valid: the string character '/' at position '12'

Counting starts at zero, therefore "12" is the first / in the string. Its not expecting a / because it should be "subscriptions", not "subscription".

[2020-05-04 11:36] ysabih opened #53978 "How does Api Management handle caching for short durations"
I've added a caching policy that looks like this:
[code]
I've added it for a route on which we have extensive polling, I tested it with automated tests that wait for 100ms between requests, when I check the number of requests on Api Management and on the backend using Application Insights, I find that almost all requests are forwarded to the backend, which is not what I expected theoretically. I w

[2020-05-04 11:40] qfyra opened #53979 "Link "Dispatch an Event Grid Event" under heading Next Step links to this document."
As @kitingChris said a couple of weeks back, the link under the heading Next Step, "Dispatch an Event Grid Event", doesn't link to another page where dispatching events is described. It instead links to itself, where recieving events is described. My guess is it should point to https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid-output?tabs=csharp, but that needs t

[2020-05-04 11:43] perkops opened #53980 "Root CA certificate"
In the section there is a superfluous "up",

... chain from the IoT Edge hub up rolls up to it, so the leaf ..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e275ce10-660d-4f06-9b9d-abb31940c564
* Version Independent ID: de3b6527-e1fb-93d3-fdb9-3bb5f6958aa7
* Content: [Certificates for device security - Azure IoT Edge]

[2020-05-04 11:44] elneilios opened #53981 "Consent for additional permissions"
I've not seen any documentation around what to do if your App is already in production and a new feature requires a new API permission. The user's have already consented to the previous list of permissions and will not be prompted again to consent to the new permission, which means we cannot obtain access tokens that have the new permission in scope. Is there a way to prompt for consent in this sc

[2020-05-04 11:48] mohitbhor opened #53982 "Need more clarification on linked services"
What does linked services means at the line -
https://docs.microsoft.com/en-us/azure/data-factory/tutorial-bulk-copy-portal#create-linked-services
is it a copy task, pipeline, data flow? Please clarify because as a beginner it is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 125c8ae8-332f-8792-d81b-30bb0eb3

[2020-05-04 11:56] JiwanMS commented on #43248
I am facing similar issues in one of my resource groups. I have tried deleting all the exisitng app service, function app and app service plan but i still get the error "LinuxWorkersNotAllowedInResourceGroup" with tracking Id '4b10a5cc-af00-4c20-a26c-a3da95e60d04'. Please let me know if i need to open a new issue for this.

[2020-05-04 12:09] KiranKapse opened #53983 "Azure Service TAG for Office 365"
Hi,

We are using SMTP forwards to Office 365 and managing that using NSG on Azure portal looks cumbersome and mostly error prone.
Can you let us know if there is a possibility that we can have Azure Service Tag just like we have Azure.Storage

Regards,
Kiran Kumar

[2020-05-04 12:09] RonnieQuan commented on #53672
Thanks for your response, actually the question is not about managing vnet itself.
The scenario is that a user create an app service, need to configure vnet integration for the app service, or connect the app service to a delegated subnet.
The question is what permissions does user need to configure the vnet integration.
the list of permissions, not necessarily a built-in role, we typically create

[2020-05-04 12:14] cfframe opened #53984 "Mixed Visual Studio and Visual Studio Code references"
I got to this page via https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-your-first-function-visual-studio#next-steps i.e. the Visual Studio (VS) example, and not Visual Studio Code (VS Code). The example functions are named differently (Function1 and HttpExample respectively).

It looks like chunks of the VS Code version have been pasted into this page.

Example issues:
1. P

[2020-05-04 12:23] MonikaReddy-MSFT commented on #53822
@mrbullwinkle - Thank you for updating the doc.
@cedricfronteau -
Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-04 12:27] bdschaap commented on #51212
I would like confirmation on this as well

[2020-05-04 12:27] dewitweb opened #53985 "unclear tutorial steps"
Hi,

I tried to create an event subscription, following these instructions:

1) In the Azure portal, go to your namespace.
2) In the left pane, select the Event Grid.

First, it is unclear what is meant by "your namespace". I guess the ASB namespace is meant. However, when i go there, there is no 'Event Grid' in the left pane. I see the following items:

1 Overview
2 Activity Log
3 Access control

[2020-05-04 12:29] CHEEKATLAPRADEEP-MSFT commented on #53982
@mohitbhor Before you create a dataset, you must create a linked service to link your data store to the data factory. Linked services are much like connection strings, which define the connection information needed for Data Factory to connect to external resources.

**Think of it this way;** the dataset represents the structure of the data within the linked data stores, and the linked service defi

[2020-05-04 12:31] dewitweb commented on #53985
The tutorial would be better if it said:

1. Go to the home page of your tenant
2. Enter 'event grid' in the search bar at the top
3. Select 'Event Subscriptions'

[2020-05-04 12:32] Blackmist commented on #53590
Hi @artsheiko the doc should be updated soon to change it from hash to imagename to make it clear that the two are the same. Thanks for your feedback on this.

[2020-05-04 12:33] DixitArora-MSFT commented on #53984
Hi @cfframe Thanks for your feedback. We will review and update as appropriate.

[2020-05-04 12:34] DixitArora-MSFT commented on #53985
Hi @dewitweb Thanks for your feedback. We will review and update as appropriate.

[2020-05-04 12:35] DixitArora-MSFT commented on #53979
Hi @qfyra Thanks for your feedback. We will review and update as appropriate.

[2020-05-04 12:35] dikethir opened #53986 "Ping payload size"
Hi,

Is it possible to add (or tell me) the size of ping in bytes that is sent by these network probes?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network round trip latency statistics](

[2020-05-04 12:36] DixitArora-MSFT commented on #53975
Hi @cfframe Thanks for your feedback. We will review and update as appropriate.

[2020-05-04 12:36] dewitweb commented on #53985
Or, as i see now, what is meant with 'namespace' is resource group:

1) In the Azure portal, go to your 'resource group'.

There i see 'Events' in the left pane

[2020-05-04 12:52] UnsnappedKhan8 commented on #53964
Whats triage

[2020-05-04 12:52] UnsnappedKhan8 commented on #53964
And pri3

[2020-05-04 12:53] aheld commented on #53548
Thank you for the response.  When you get to the docs I'd also like to understand the execution context.  For example are Promises supported?  (they seem to work but console.log does not.  Which makes me wonder if they should be avoided???)

[2020-05-04 12:57] ram-msft commented on #53458
@aashishb Could you please check on this.

[2020-05-04 13:01] dewitweb commented on #53985
Unfortunately, from yje "Create event Subscription" page it also is not possible to select my Service Bus Resource. The drop down menu stays empty.

[2020-05-04 13:13] BzSpi opened #53987 "Subscription level deployment"
Is it possible to handle subscription level deployments through this method ?

Anyway, this should be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43bf1e44-5555-8794-3ec0-84b5cc22e83d
* Version Independent ID: 27453c17-9c3c-6132-2949-16ffe4da8807
* Content: [Deploy to Azure button - Azure Resource Manager

[2020-05-04 13:15] neeleshray-msft commented on #53632
@Mlavieri Yes, Company Portal is a must for binding the device to the Azure AD Tenant. Else, it would ask for authenticating each access to the applications/web-access.
Authenticator is only for Approving/Denying the authentication request.
The Company Portal, installed on the device makes the application a "Administrator" of the device to control security protocols necessary.

Let us know if you

[2020-05-04 13:18] mslot commented on #44064
Yes. You have to have some kind of retry logic, or messaging logic that either:

1. tries to use the secret, if it fails: try to update
2. have some kind of custom app where you update the secret through. After updating you could post a message to a service bus, that is picked up on all that is listening. All listeners then gets the key from Vault

Specifically for database, because Azure SQL dont

[2020-05-04 13:20] neeleshray-msft commented on #53887
@UnsnappedKhan8 Suggest you elaborate more on your ask.

The Security Reports are for any one in your tenant accessing your cloud environment - be that if you have only Azure Environment or if you have synchronized the Azure to your On-Premise Environment.

Let us know if this helps.

[2020-05-04 13:21] mattsmall1972 commented on #53472
I want to add some more context to this:  the Key Vault references are pulled in at runtime using MSI.  The MSI is used only on the Azure Platform itself and is not available when executing locally.  The correct pattern is to use a reference to local/development values in appsettings.json that are overridden in deployment by the environment variables on the app service which point to the Key Vault

[2020-05-04 13:21] qwsaqwe commented on #52649
Hi, was the issue determined to be a bug? We are not able to access key vault from an app service hosted in west europe. Our key vault is configured to allow access from private endpoint and selected networks with exception to allow trusted Microsoft services to bypass this firewall. In the diagnostics we see "Client address is not authorized and caller is not a trusted service", followed by an IP

[2020-05-04 13:21] Mlavieri commented on #53632
That is different from the instructions that the app is providing when trying to log in without either on the device. I am instructed to install Authenticator but still cannot log into the app so it appears that the verbiage in the app needs to be updated to read Company Portal instead of Authenticator

[2020-05-04 13:22] martinlarosa commented on #53906
Hi @yoelhor, I'm talking about the 1st app, not the second one. In here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant-custom?tabs=applications#register-an-application

[2020-05-04 13:22] znatan opened #53988 "no syntax for ARM template"
what's the syntax for the ARM template on cluster creation? To use MSI, system or user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c74a8-9f1a-3d3d-3aed-f8ec45f92e05
* Version Independent ID: 01e98043-dc80-490e-a761-8d558ff4e6df
* Content: [Use managed identities in Azure Kubernetes Service - Azure Kubernetes Ser

[2020-05-04 13:28] neeleshray-msft commented on #53912
@TonywalkerCN
Microsoft Azure CHINA operated by 21Vianet (Azure China) is a physically separated instance of cloud services located in China. It's independently operated and transacted by Shanghai Blue Cloud Technology. Hence, there are certain restrictions in place - such as, the Notification through mobile app method on Android devices does not work in that country.

As far as NPS infrastructure

[2020-05-04 13:30] neeleshray-msft commented on #53932
@YassineSOUABNI No, this behavior is not expected. Do you get any error or could you check the logs for the same ?

[2020-05-04 13:31] yoelhor commented on #53906
The first app is required for any external identity provider federation. The first part of the federation, is to register the Azure AD B2C tenant as a "client" in the external identity provider, such as Facebook, Google, and Azure AD. To register such an application you provide the Azure AD B2C redirect URI, that informs the IDP, where the external IDP token should return back to. After you regist

[2020-05-04 13:32] bestreaction commented on #53940
We are using the JSON file which you are mentioned. But it still the same.

[2020-05-04 13:35] shashishailaj commented on #51754
@gdmeann We checked this and found that you may not be able to modify the rules which are recommended as a part of system generated set . As you can see the system generated rule can not be edited.

![image](https://user-images.githubusercontent.com/532022/80971076-d9686900-8e39-11ea-9e09-b94bb9e68b3d.png)

However the lack of Save button is something we are checking with the product team and will

[2020-05-04 13:37] jianyeliu opened #53989 "Could you share the source code to simulate the job?"
Could you share the source code such as dotnet or python to simulate the job

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86d23813-785f-73c5-33c6-d03c0861c17c
* Version Independent ID: f927bdb0-0e32-068d-5533-e4e4b43d46e8
* Content: [Tutorial - Azure Synapse Analytics: Spark job definition for Synapse - Azure Synapse

[2020-05-04 13:41] SnehaAgrawal-MSFT commented on #52779
@JonVinson Thanks again for the feedback! Just to confirm if you are looking for iOS Version? If so, As its mentioned in [Getting Started with Notification Hubs (iOS) tutorial](https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-ios-apple-push-notification-apns-get-started#prerequisites) in prerequisites section it’s an iOS version 10 (or later)-capable device.

[2020-05-04 13:44] yanivlavi commented on #52213
We are planning a big UX change that will remove the need to understand the period parameter.
This should resolve this issue as well.
We will be reworking the documentation for log search alerts for this as well to improve overall language and structure.

[2020-05-04 13:46] jonwbstr commented on #53553
Hello, I'm not looking for support. I am reporting that the azure UI
contains a link to an article that does not help troubleshoot backups. Are
you suggesting that under certain circumstances the instructions in the
article DO work?

Screenshot of where to find the FAQ button that links to what I believe is
an out of date article attached.

And yes, I believe it would be helpful if there was there

[2020-05-04 13:47] yanivlavi commented on #53810
@rboucher can you help with this?
I'm planning to rework the docs for LSA as we are planning the big UX improvement soon, so we will be touching this pages soon in any case.

[2020-05-04 13:55] durrante commented on #46337
Could you share your powershell script?

[2020-05-04 13:56] spelluru commented on #53949
@CHEEKATLAPRADEEP-MSFT  - Yes. I will update the screenshot and the text.

[2020-05-04 13:56] mumian commented on #53987
@BzSpi - Thank you for your comment.  This method only supports resource group level deployment.  I will add a note to the article.

#please-close

[2020-05-04 13:56] #53987 closed

[2020-05-04 13:57] VikasPullagura-MSFT commented on #53930
@msjuergent Thanks for sharing the details.

[2020-05-04 14:05] azaricstefan commented on #53951
Hi @jianyeliu ,
Please check the First Time Setup link in the Prerequisites section at the start of the article.
[This section](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/query-data-storage#create-credentials) in First Time Setup explains it in the note:

[2020-05-04 14:06] mganeshphani opened #53991 "why are we talking about eventhub in this page?"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-output?tabs=java#usage

Return value: By applying the annotation to the function itself, the return value of the function is persisted as an Event Hub message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d3f6c78-7b6c-f3eb-3d5b-3

[2020-05-04 14:09] mganeshphani opened #53992 "is there a way to return multiple messages in java"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-output?tabs=java#usage
I see this is possible by returning a collection in C#, can the same be done with Java, if yes, can you confirm and update the docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d3f6c78-7b6c-f3eb-3d5b-300db1

[2020-05-04 14:13] dewitweb commented on #53985
Can it be that it is because my Service Bus isn't PREMIUM. Maybe then first add the steps to check if the Service Bus is PREMIUM ("EventGrid subscriptions can only be setup for Premium Messaging namespaces").

And of course, how to set them to premium. Because in my tenant, the premium Tier is greyed out.

This i found in the JSON log of the portal after running the Powershell command (which also

[2020-05-04 14:28] jxf0ae6 commented on #43750
I am working on my AZ-900 and found the WhizLabs.com practice questions to be helpful and got good feedback from friends.  I am looking to taking and passing my test tomorrow.

[2020-05-04 14:29] dckfnuance opened #53993 "Get-AzDataLakeGen2Item does not handle folder name with %"
Get-AzDataLakeGen2Item fails with error "item does not exist" when the folder name contains "%".

E.g.
$dirname = "catalog/eventHour=2020-04-09T11%3A/"
Get-AzDataLakeGen2Item -Context $ctx -FileSystem $filesystemName -Path $dirname
Returns:
_Get-AzDataLakeGen2Item : The Item in File System uenhadls2 on path catalog/eventHour=2020-04-09T11%3A/ does not exist._

Is there a workaround for this?
Our d

[2020-05-04 14:43] RohitMungi-MSFT commented on #53876
@diberry @aliciaep  Do we have any content updates/quick-starts planned to use LUIS with unity?

[2020-05-04 14:44] ghstahl opened #53994 "More Detail on the infrastructure needed"
Lots of magic going on in this one call.
[code]
I would like this broken down into individual;
[code]
For me reading az cli gives me a better  understanding of how the infrastructure was setup and the exact manual steps needed to reproduce that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec5477a-c4b4-a37c-f853-3d5

[2020-05-04 14:49] jianyeliu commented on #53951
Thanks for your reminder. It works 😊

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Stefan Azarić <notifications@github.com>
Sent: Monday, May 4, 2020 10:05:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: jianyeliu <jianyeliu@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/

[2020-05-04 14:50] achakilam1022 commented on #49008
Admin created a new aks cluster and enabled SSL while creating it and using the new one helped resolved the issue.

[2020-05-04 14:51] MikeMorawski commented on #53653
Thanks for your support! Unfortunately not having any luck. I made a new Data Lake enabled Gen 2 storage account, left it as public (for testing first steps of just having a connection), then attempted using abfss location declaration along with blob_storage as type.

For now I will look into some kind of intermediary service as a workaround. If I have more time I will re-investigate this and post

[2020-05-04 14:51] #53653 closed

[2020-05-04 14:54] Fokko opened #53995 "West europe has duplicate IP's"
52.174.49.6 is mentioned twice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 845c4db9-1f3a-26d1-5061-c018cb1fe336
* Version Independent ID: c2a03981-a0aa-64a5-2659-e10202e5bb14
* Content: [Limits and configuration - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config#config

[2020-05-04 14:55] FlorianBorn71 commented on #52292
#please-close

[2020-05-04 14:55] #52292 closed

[2020-05-04 14:55] ezYakaEagle442 opened #53996 "Add CLI snippet for VNet peering"
Could you please add a CLI snippet for VNet peering, it could looks like something like this :

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Create a private Azure Kubernetes Service cluster - Azure

[2020-05-04 14:57] RohitMungi-MSFT commented on #53891
@SharmaHarsh7 Thanks for the feedback. Could you please let us know if you have used the [labeling tool](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/label-tool) to train your model? While using this tool OCR is performed and text is identified from handwritten models which can be used further to tag and train with labels.

Also, based on the images used fo

[2020-05-04 15:05] ScottSchwalm commented on #51925
You closed the issue, but the instructions still say to use Batch Explorer.  Will the documentation be updated to show the correct steps to create the pool?

[2020-05-04 15:06] memildin commented on #52775
@jtuliani, the answer is the same:

Q: If I enable auto provisioning, how quickly will agents be deployed to my existing VMs?
A: 15 minutes

Q: If auto provisioning is already enabled, and I create a new VM, how quickly will an agent be deployed to it?
A: 15 minutes

If I can help further, please be in touch.
#please-close

[2020-05-04 15:13] jtuliani commented on #52775
Super, thank you!

[2020-05-04 15:13] AdminTurnedDevOps commented on #43633
Can someone from Microsoft let us know why @MohamedSahbi 's solution works? Why do I have to specify --html?

[2020-05-04 15:21] pnwnightowl opened #53997 "Update app icons step incomplete"
The steps are not clear.  Its says to put the image on a network share, but doesn't say anything about which network share or how to specify the share so the published app can find the image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbe16db1-e094-19bf-7798-a095db9e84b7
* Version Independent ID: 7e4a8f70-35cb-782a

[2020-05-04 15:23] lamek commented on #53604
Thanks @dkypuros. Draft commit is here if you'd like to check it out: https://github.com/lamek/azure-docs/commit/7b1d273f9529942cffe3c60eab9bdf6add4fd8c5#diff-cb96190a5610f6f3b9de7d9b7800a234R196

Some other changes need to be made as well, but for pull-secret specifically we're going to use the `@pull-secret.txt` format on the parameter.

Thanks again for all the feedback. The more the merrier.

[2020-05-04 15:26] tfitzmac commented on #53953
@harishmahadevan - thanks for this feedback. Can you provide more information about what you think needs to be changed? Are you saying that you have ReadOnly lock on a SQL database and that lock prevents you from running T-SQL commands?

[2020-05-04 15:28] SamaraSoucy-MSFT commented on #53983
@KiranKapse Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-04 15:28] cedmallet opened #53998 "Multiple $return in function.json creates an error"
Got this with the example config file :
The 'xxx' function is in error: Multiple bindings with name '$return' discovered. Binding names
must be unique.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d3f6c78-7b6c-f3eb-3d5b-300db1cab371
* Version Independent ID: 1e9cae04-88b2-dac7-561f-552469b02023
* Content: [Azure Que

[2020-05-04 15:29] dkypuros commented on #53604
Dumb question, but "--pull-secret @pull-secret.txt" works correctly?

[2020-05-04 15:30] SamaraSoucy-MSFT commented on #53978
@ysabih  Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-04 15:37] DixitArora-MSFT commented on #53995
Hi @Fokko Thanks for your feedback. We will review and update as appropriate.

[2020-05-04 15:38] DixitArora-MSFT commented on #53994
Hi @ghstahl Thanks for your feedback. We will review and update as appropriate.

[2020-05-04 15:38] SamaraSoucy-MSFT commented on #53976
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-04 15:39] BhargaviAnnadevara-MSFT commented on #53369
@mrbullwinkle Thanks for the clarification! Will wait for @zakimaksyutov and @cartersocha to provide further updates, if any.

[2020-05-04 15:39] harishmahadevan commented on #53953
Hi Tom,

Very sorry I misread “aren’t” to are here.

Resource Manager locks apply only to operations that happen in the management plane, which consists of operations sent to https://management.azure.com. The locks don't restrict how resources perform their own functions. Resource changes are restricted, but resource operations aren't restricted. For example, a ReadOnly lock on a SQL Database prev

[2020-05-04 15:41] DixitArora-MSFT commented on #53991
Hi @mganeshphani Thanks for your feedback. We will review and update as appropriate.

[2020-05-04 15:42] DixitArora-MSFT commented on #53992
Hi @mganeshphani Thanks for your feedback. We will review and update as appropriate.

[2020-05-04 15:46] SamaraSoucy-MSFT commented on #53966
@UnsnappedKhan8  This channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-04 15:48] tfitzmac commented on #53953
@harishmahadevan - no problem, glad to hear everything is okay with the documentation.
#please-close

[2020-05-04 15:48] #53953 closed

[2020-05-04 15:55] phannybawz commented on #53749
I am in complete agreement that the script simply does not work.  I have spent the best part of 3 days tearing both this script apart and my hair out.  Please do not suggest that I am copy and pasting this incorrectly as this is simply not the case.  Can you please provide a link to a downloadable PS script that I can obtain and run in our environment?

For reference, the initial link creation wor

[2020-05-04 15:56] PramodValavala-MSFT commented on #53969
@codemaker Thanks for the question! We will review and get back to you!

[2020-05-04 15:57] diberry commented on #53876
#in-progress

[2020-05-04 15:57] djpmsft commented on #50652
[Data Factory Limits](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#data-factory-limits)

[Description of concurrency behavior](https://docs.microsoft.com/en-us/azure/data-factory/concepts-pipelines-activities#pipeline-json)

[2020-05-04 15:59] yorek commented on #52763
Secondary Replicas and Read-Scale out in Azure SQL Hyperscale are the same thing.

[2020-05-04 16:00] SaurabhSharma-MSFT commented on #53739
@tjoyce-admin We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-04 16:00] #53739 closed

[2020-05-04 16:00] SaurabhSharma-MSFT commented on #53748
@henriquebelotto We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-04 16:00] #53748 closed

[2020-05-04 16:00] stgeorgi commented on #53749
Can you please send me the full script you are running + the os version via winver? As a data point this error has been reported 3 times before and was traced to:
1) two times - bad copy paste
2) one time - bad OS version

[2020-05-04 16:01] SaurabhSharma-MSFT commented on #53747
@nhadro We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-04 16:01] #53747 closed

[2020-05-04 16:02] lamek commented on #53604
Yes, we tested this morning. Be sure to execute `az aro create` from the same directory where you stored your `pull-secret.txt`, and watch out to add a trailing backslash to the command on the previous line.

More (doc) improvements to come as well.

Please let us know if you hit issues.

[2020-05-04 16:03] PramodValavala-MSFT commented on #53998
@cedmallet Since there can only be one return object, you see that error.

I believe you intention is to return multiple messages, which [as mentioned under the Usage section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-output?tabs=csharp#usage) can be achieved by either using a `CloudQueue` or `IAsyncCollector<T>` object.

Refer [writing multiple output

[2020-05-04 16:05] aj770077 opened #53999 "Clarify Constructor Injection Requirements"
Something that tripped me up when working with updating older azure functions:

The actual function method must also be non-static for the constructor to be called and injection to properly occur.  This document states only that the class must be non static.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-

[2020-05-04 16:05] djpmsft commented on #52806
The pipeline expressions are evaluated at passing time. The data flow expressions are evaluated at run time. Expressions cannot cross over languages. I can add a timestamp specific example as well.

`toTimestamp(@pipeline().TriggerTime, "YYYY-MM-DDThh:mm:ss")` is not valid as toTimestamp is a data flow expression and trigger time is a pipeline expression.

You should pass in @pipeline().TriggerTim

[2020-05-04 16:05] dkypuros commented on #53604
any need to update

[code]

[2020-05-04 16:06] SamaraSoucy-MSFT commented on #53965
Thanks for the question! We will review and get back to you shortly.

[2020-05-04 16:10] birdnathan commented on #53749
I managed to get it working.....try this.
#MSIX app attach staging sample

#region variables

$vhdSrc="<path to vhd>"

$packageName = "<package name>"

$parentFolder = "<package parent folder>"

$parentFolder = "\" + $parentFolder + "\"

$volumeGuid = "<vol guid>"

$msixJunction = "C:\temp\AppAttach\"

#endregion

#region mountvhd

try

{

Mount-Diskimage -ImagePath $vhdSrc -NoDriveLetter -Access

[2020-05-04 16:10] phladwig opened #54000 "REDIST.TXT not mentioned in LICENSE.txt of Azure Kinect Body Tracking SDK v1.01"
Azure Kinect Body Tracking SDK v1.01:
https://docs.microsoft.com/en-us/azure/kinect-dk/body-sdk-download

In the Azure Sensor SDK, there is the REDIST.TXT and it is mentioned in the LICENSE.txt. However, the LICENSE of the Body Tracking SDK does not mention REDIST.TXT, though the root folder of contains a REDIST.TXT.

Which files can be redistributed with my application?

---
#### Document Details

[2020-05-04 16:11] phannybawz commented on #53749
Hi Stefan,

Your help is very much appreciated.

Files as attached.

Kind regards

[MSIXAppStage.zip](https://github.com/MicrosoftDocs/azure-docs/files/4575763/MSIXAppStage.zip)

[2020-05-04 16:13] cedmallet commented on #53998
Hi @PramodValavala-MSFT .
I was just using the example to post in a queue from an HTTP trigger. I used the function.json from the doc directly. Should one section be removed ?
thanks

[2020-05-04 16:14] stgeorgi commented on #53749
Can you also send me winver output?

[2020-05-04 16:14] brandonh-msft commented on #44064
regarding secret rotation, please have a look at this Azure Sample I wrote: https://github.com/Azure-Samples/serverless-keyvault-secret-rotation-handling

This process will get easier in the future - perhaps automatic - but for now yes a "soft reset" of the Function App is necessary to get the new values.

[2020-05-04 16:14] alex-frankel commented on #53889
We are investigating the issue. Will report back when we have more information on what is happening. Thanks for reporting.

[2020-05-04 16:15] SnehaAgrawal-MSFT commented on #53463
@Bangarraju1005 just checking if you have chance to see previous response on this.

[2020-05-04 16:20] #53964 closed

[2020-05-04 16:20] UnsnappedKhan8 commented on #53964
Nope not today

[2020-05-04 16:24] azaricstefan commented on #53951
Good to hear that! 😄
@ChiragMishra-MSFT can you close this issue?

[2020-05-04 16:25] lamek commented on #53604
To be safe I'd make sure you meet the prereqs in the docs. If you've already me those then I don't *think* you need to update, but not entirely sure.

[2020-05-04 16:26] CeciAc opened #54001 "Generate Client Certificate"
The comments below were machine-translated

@Broker80 commented on [Fri May 01 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/655)

Unfortunately, the generation of a client certificate from a "self-signing certificate" does not work for me.

It's on:
I created a self-signing CA certificate using www.selfsignedcertificate.com for a QNAP-NAS.
I installed this certificate on the NAS

[2020-05-04 16:27] PramodValavala-MSFT commented on #53998
@cedmallet Sorry about that. I believe you are using JavaScript, correct?

Looks like the sample here is incorrect. There can be only one `$return` in `function.json`. Instead of the sample here, try something like this

### `function.json`
[code]

### Function Code
[code]

Hope that helps. We will work up a PR to fix the samples here. Thanks for bringing this up and apologies for the experience!

[2020-05-04 16:27] jeevansd commented on #53820
@MarkDordoy  Ideally rather than the order the inclusion of MSIAM_ACCESS role is important. If you are adding or updating more roles it is easy to keep that on the top to make sure that it is there for operations.

[2020-05-04 16:27] jeevansd commented on #53820
#please-close

[2020-05-04 16:27] #53820 closed

[2020-05-04 16:28] SamaraSoucy-MSFT commented on #53958
Thanks for the question! We will review and get back to you shortly.

[2020-05-04 16:28] LazzariPaolo opened #54002 "CPP Api Endpoint clarification"
Could you clarify what this number is in the new enpdoint?

408a4835-0000-1000-0000-000000000000

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5196d5e-d67e-efb1-926b-3179c926aeab
* Version Independent ID: 3404adc8-75f4-5dc0-d80b-a4808bd63ef3
* Content: [Cloud Partner Portal API Reference](https://docs.microsoft.com/e

[2020-05-04 16:33] Broker80 commented on #54001
And now?
No answer to my Problem?

[2020-05-04 16:34] JimacoMS3 commented on #25817
@navidarry  -- Just checking, this is already explained in the article. Correct?

[2020-05-04 16:36] LazzariPaolo commented on #54002
I assume it's the offer number?

I keep getting

[2020-05-04 16:37] shaunakv1 commented on #53360
@mootpointer That would def be helpful! Could you please post the link to the repo? Also looking forward to the blogs!

Also just to clarify: Using custom dockerfile and going with containers in web-app surely works (in-fact that is what I ended up doing), but what am looking form auzre webapp ruby run time is for things to work out of box using the kudu pipeline.

[2020-05-04 16:37] SnehaAgrawal-MSFT commented on #53553
@jonwbstr Thanks for clarifying the same! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-05-04 16:38] dlepow commented on #53806
@tomleetaiwan Thanks for the info. @karolz-ms - I plan to update the article as suggested.
#in-progress

[2020-05-04 16:41] ramankumarlive commented on #53957
@roygara to get the doc updated.

[2020-05-04 16:42] LazzariPaolo opened #54004 "Unclear instructions for CPP API changes"
What exactly is the endpoint I should use for GET requests?

e.g. describing an offer

the table is not clear at all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5196d5e-d67e-efb1-926b-3179c926aeab
* Version Independent ID: 3404adc8-75f4-5dc0-d80b-a4808bd63ef3
* Content: [Cloud Partner Portal API Reference](https://

[2020-05-04 16:42] dkypuros commented on #53604
sounds good

On Mon, May 4, 2020 at 11:25 AM Kevin Lamenzo <notifications@github.com>
wrote:

[2020-05-04 16:45] LazzariPaolo commented on #54004
I used to use this format:

 GET https://cloudpartner.azure.com/api/publishers/<publisherId>/offers/<offerId>?api-version=2017-10-31

for describing the offer. This no longer works.

what is the equivalent to this request now that the migration for my offer has completed?

[2020-05-04 16:47] SubhashVasarapu-MSFT commented on #53127
@hisasima , Appreciate your patience. You can not set UDR on AzureFirewallSubnet with 0/0 to anything other than internet today. You can do it via BGP but it will break the service. The traffic separation relaxes the validation on the AzureFirewallSubnet so you can use default route there.

**Scenario:** Looking in to Hub and Spoke model where firewall is deployed in HUB network and spoke is confi

[2020-05-04 16:47] #53127 closed

[2020-05-04 16:49] #53120 closed

[2020-05-04 16:56] Mike-Ubezzi-MSFT commented on #53146
@sharadrumane This is more of a product issue than a doc issue and the product group is asking for direct engagement as this channel is intended to address documentation issues.
We will now proceed to close this thread. If there are further questions regarding content in the documentation, please comment and we will gladly continue the discussion.

[2020-05-04 16:56] #53146 closed

[2020-05-04 16:56] BryanTrach-MSFT commented on #47551
@Ayanmullick Just a heads up that we've assigned this to the doc author as this would require a larger rewrite of the doc.

[2020-05-04 16:56] AshokPeddakotla-MSFT commented on #53980
@perkops Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-04 16:58] Mike-Ubezzi-MSFT commented on #53761
@xyz92 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-04 16:58] #53761 closed

[2020-05-04 17:03] dchrno opened #54005 "Server not found"
The initialization javascript code fails with "az416426.vo.msecnd.net’s server IP address could not be found."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0aac1b63-5869-0b8b-bf20-af6a6e5caaac
* Version Independent ID: f818c3a1-24fd-db14-ec1c-ec8db4d2d7fe
* Content: [Quickstart: Monitor websites with Azure Monitor Ap

[2020-05-04 17:03] torbenboeck commented on #53697
Hi,

That made the error go away. Quite a frustrating experience, though, since I lost a lot of worktime on it, thinking that it was something that I needed to change in my code. Sometimes the very raw exception messages one gets from Data Factory makes it very hard to debug the actual problem.

When you say it is a UI library, was it something that was updated in Data Factory or in Chrome?

Best

[2020-05-04 17:04] bendq opened #54006 "three copies of data stated for LRS"
This "Locally redundant storage (LRS) replicates your data three times within a single physical location in the primary region" is misleading as the stream layer only initially makes three copies of the data, then erasure code is used to protect the data, not three copies on different physical hardware which would have huge COGS implications.

The focus should be on the 11 9s of durability vs the

[2020-05-04 17:07] SubhashVasarapu-MSFT commented on #53640
@dcegress , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-04 17:07] #53640 closed

[2020-05-04 17:14] mike-urnun-msft commented on #53529
@averkinderen Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-04 17:14] #53529 closed

[2020-05-04 17:16] mrbullwinkle commented on #54005
That usually means that the connection to the CDN is being blocked. The doc describing addresses that may require IP or URI based firewall exceptions is located here: [https://docs.microsoft.com/azure/azure-monitor/app/ip-addresses#application-insights-sdks](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-addresses#application-insights-sdks)

I pinged the address to confirm and it appe

[2020-05-04 17:20] dchrno commented on #54005
It tested ok in a separate environment. I've identified pihole as the culprit and have whitelisted the domain. Pihole's default list is blocking your address:
 Match found in https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts:
   az416426.vo.msecnd.net
 Match found in https://hosts-file.net/ad_servers.txt:
   az416426.vo.msecnd.net

[2020-05-04 17:20] #54005 closed

[2020-05-04 17:24] Adikota commented on #53765
@mike-urnun-msft Any guidance on this is appreciated

[2020-05-04 17:25] MartinJaffer-MSFT commented on #53989
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-04 17:25] phannybawz commented on #53749
HI Stefan,

Winver screencap is also contained in the zip file.

[2020-05-04 17:26] MonikaReddy-MSFT commented on #54005
@dchrno ,
Thanks again for bringing this to our attention. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-04 17:29] hpsin commented on #29322
#please-close.  We document the v2 endpoint for this, are compliant ont he v1 endpoint, and it goes against best practices to use ROPC in any case.  We won't doc it for v1 - customers who really want it can use v2, or ADAL which has this implemented.

[2020-05-04 17:29] #29322 closed

[2020-05-04 17:30] MarileeTurscak-MSFT commented on #53972
@MarileeTurscak-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-04 17:35] MicrosoftGuyJFlo commented on #53814
#please-close

[2020-05-04 17:35] #53814 closed

[2020-05-04 17:36] SubhashVasarapu-MSFT commented on #53665
@sddev-dotnet , Appreciate your patience. It looks like the service account you gave does not have the proper permissions. Please do go through the setup again and do check with the [RBAC rules](https://docs.microsoft.com/en-us/azure/role-based-access-control/overview).

[2020-05-04 17:36] TheAlmIT commented on #53880
I followed same script with some more variable names and dynamic in nature, I am still getting error. Please see attachment.

[createvnet.zip](https://github.com/MicrosoftDocs/azure-docs/files/4576188/createvnet.zip)

[2020-05-04 17:41] bandersmsft commented on #38595
#please-close

[2020-05-04 17:41] #38595 closed

[2020-05-04 17:42] anandchugh commented on #53950
Here is the URL for managed identity url https://docs.microsoft.com/en-us/azure/aks/use-managed-identity

[2020-05-04 17:50] SubhashVasarapu-MSFT commented on #53338
@RonnieQuan , Appreciate your patience. Azure Firewall supports 10,000 rules. All rule types combined.
Maximum DNAT rules - 298 (If a rule's protocol is configured for both TCP and UDP, it counts as two rules.)
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-04 17:50] #53338 closed

[2020-05-04 17:51] djpmsft commented on #52806
Apologies for the confusion, I have tested and confirmed the below works:

`toTimestamp(left('@{pipeline().TriggerTime}', 23), 'yyyy-MM-dd\'T\'HH:mm:ss.SSS')`

The 'left' is required due to a limitation handling nanoseconds

[2020-05-04 17:55] mike-urnun-msft commented on #53775
@neilmcalister Thanks again for raising this issue and helping us drive improvements toward MS Docs! I've created a PR, which includes your suggestion above, that corrects the faulty steps. The changes should be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-04 17:55] #53775 closed

[2020-05-04 17:55] SubhashVasarapu-MSFT commented on #53510
@gnsuryan , Appreciate your patience. This channel is reserved for ‘Azure docs’ questions- For sharing doc feedback and suggesting content improvements, it is recommend to post the technical questions on the [MSDN](https://social.msdn.microsoft.com/profile) and Stack Overflow where one of our specialized engineers in the subject or the Azure community members can provide the best possible answer t

[2020-05-04 17:55] #53510 closed

[2020-05-04 17:55] frazur commented on #45366
I have the same problem, any update?

[2020-05-04 18:01] bandersmsft commented on #40081
Updated article with https://github.com/MicrosoftDocs/azure-docs-pr/pull/113755

#please-close

[2020-05-04 18:01] #40081 closed

[2020-05-04 18:02] shriazure commented on #47543
Copying @jeffhollan..

[2020-05-04 18:12] CeciAc opened #54009 "Domain verification id from my app"
@dumaisf commented on [Sun May 03 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/708)

Where can I find my domain verification id from my app in azure? (domain-verification-id-from-your-app)

---
#### Détails du document

⚠ *Ne pas modifier cette section. Elle est requise pour docs.microsoft.com ➟ problème de liaison GitHub.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version In

[2020-05-04 18:13] zenturacp opened #54010 "Disclaimer on Link Change"
Please add a disclaimer to the link that the link is changed from Fall 2019 Edition - to the Spring 2020 edition - since the links are not compatible - the 2019 link does not worki with 2020 - took me some hours to figure this out :-(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47fa31e-8e71-8bd4-eb12-7a0ceba6c1b8
*

[2020-05-04 18:13] MicrosoftGuyJFlo commented on #53896
@DeanGross try the article [Conditional Access: Block access by location](https://docs.microsoft.com/azure/active-directory/conditional-access/howto-conditional-access-policy-location)

[2020-05-04 18:14] GiftA-MSFT commented on #53750
@NephorLabs are you using the API or sample labeling tool?

[2020-05-04 18:16] aelmanaa commented on #52844
@gardnerjr @femsulu  thank your very much for the answer.

I've tried providing my own name "nginxTst"  but the creation fails with Invalid Workbook resource name: 'nginxtst'

I've decided to use a GUID generator tool : https://www.guidgenerator.com/online-guid-generator.aspx in order to manually reuse the same Guid and it works.

It's not very user friendly. It's the 1st time that I have to manua

[2020-05-04 18:17] mwchilde opened #54011 "Error adding VM to Host Pool"
I was unable to see the option in step 4 that states to select Virtual Machine, but I assume it was the Session hosts option under manage.  When I click the +Add button I receive an error that states that the template stored for VMs creation is invalid:

"error": { "message": "The template stored for VMs creation is invalid.", "code": 404 }

---
#### Document Details

⚠ *Do not edit this section.

[2020-05-04 18:18] diberry commented on #53876
I'll put this request for Unity docs on the backlog. Thank you for letting us know. #please-close

[2020-05-04 18:18] #53876 closed

[2020-05-04 18:20] vivaladan commented on #53599
@MarileeTurscak-MSFT I've also encountered this issue. Cannot login with existing local accounts and while I can create new accounts through the custom policy, I can't login with them either.

[2020-05-04 18:29] SaurabhSharma-MSFT commented on #53788
@kriti218 Can you please elaborate your scenario ?  Runbooks linked with Hybrid workers are used to manage resources on the local computer or local environment where the worker is deployed. Here in the documentation the automation account captures the event of Azure Key Vault.
If you are looking for storing local administrator passwords configured on Windows Servers using Azure Key Vault and Hybri

[2020-05-04 18:29] iainfoulds commented on #53480
That's a little beyond the scope of this doc, @StefanSchoof, which is why it isn't noted.

The overview page for the sample template that's used notes the different domain join options - https://azure.microsoft.com/resources/templates/201-vm-domain-join/

More information on specifics at https://docs.microsoft.com/windows/win32/cimwin32prov/joindomainorworkgroup-method-in-class-win32-computersyste

[2020-05-04 18:29] #53480 closed

[2020-05-04 18:30] SaurabhSharma-MSFT commented on #53981
@elneilios Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-04 18:33] iainfoulds commented on #53655
Sorry you ran into issues, @imabedalghafer

I can't replicate this issue - users are able to sign in without the additional sssd.conf changes.

@neeleshray-msft or @VikasPullagura-MSFT can help open a support request if you'd like to investigate further why it was required in your environment.

#reassign:neeleshray-msft

[2020-05-04 18:35] markjbrown commented on #42106
I took a closer look at issue don't think an update in our docs is necessary in this case.

The behavior described above for autoscale is the same as it is for manually provisioned throughput which is documented. This from the second paragraph in our article, [Time to Live (TTL) in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live)

Thanks for raising this issue. Will

[2020-05-04 18:35] #42106 closed

[2020-05-04 18:43] ShaneBala-keyvault commented on #15184
The original issue in the thread regarding IP address range has been resolved.
The Azure DevOps team is aware of the trusted services list issue and are working to resolve. The current workaround is to whitelist the DevOps IP address ranges in the key vault firewall.

[2020-05-04 18:43] ShaneBala-keyvault commented on #15184
#please-close

[2020-05-04 18:43] #15184 closed

[2020-05-04 18:44] tamram commented on #54006
@bendq - If you think there's a change that should be made here, please reach out internally to myself and @artemuwka about it.

Please don't use this channel to communicate internal requests.

#reassign: @tamram

#please-close

[2020-05-04 18:44] #54006 closed

[2020-05-04 18:45] djpmsft commented on #52806
Sorry for the spam, but updated the doc to include this

[2020-05-04 18:46] ShaneBala-keyvault commented on #44189
Hello, the following document will show additional information regarding Azure Geographies and Regions. https://azure.microsoft.com/en-us/global-infrastructure/geographies/

A link to this page already exists in the document.

[2020-05-04 18:46] ShaneBala-keyvault commented on #44189
#please-close

[2020-05-04 18:47] #44189 closed

[2020-05-04 18:52] Minewiskan commented on #52755
No response for three days.
#please-close

[2020-05-04 18:52] #52755 closed

[2020-05-04 18:56] ShachafGoldstein opened #54013 "ARM App service plan - serverfarms docs error"
Documentation for app service plan ARM reference is listing sku as not required, but it is.

https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2019-08-01/serverfarms

[2020-05-04 18:57] GiftA-MSFT commented on #53750
@NephorLabs we are continuously improving Form Recognizer's table extraction capabilities; at the moment, we may not support extracting data from complex tables. However, the sample labeling tool should automatically detect table data, if it does not, then you can label each cell as key-value pair as shown in the tutorial prior to training. If you continue to experience issues, I suggest you up-vo

[2020-05-04 19:00] MSRobert commented on #53599
I have the same issue with a new setup. I have even started from scratch with the policy starter pack without any customizations.

[2020-05-04 19:02] shicholas opened #54015 "AKS pulling from ACR example guide should begin with an example of **Passwordless** authentication"
IMO the default guides should be how AKS can pull ACR images without needing to hardcode any secrets. It should go without saying that hardcoding secrets anywhere is a bad practice.

Is there a way for AKS to pull ACR images using a Service Principal or Identity? This is a question I can't answer immediately given these docs.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-05-04 19:05] gallogiulia commented on #53794
Hi @VikasPullagura-MSFT do you have any updates on this issue?
Thank you

[2020-05-04 19:09] AjayKumar-MSFT commented on #53857
@gewarren and @go-shinyashiki, The doc has updated updated with the requested changes. It now reads "If the app Memory quota is exceeded, the app is stopped temporarily." . Thanks again for sharing your valuable feedback.

[2020-05-04 19:09] #53857 closed

[2020-05-04 19:16] GiftA-MSFT commented on #53371
@lucazav the data source is referring to the the datastore that you set up in the previous step.

[2020-05-04 19:18] cynthn commented on #53643
#please-close I've filed a pull request to remove the section, and a work item to have this content reviewed and rewritten. Thank you!

[2020-05-04 19:18] #53643 closed

[2020-05-04 19:19] #53371 closed

[2020-05-04 19:20] sdgilley commented on #53803
Thanks for the suggestion, @dem108.  I've just added them.

[2020-05-04 19:21] #53803 closed

[2020-05-04 19:21] karolz-ms commented on #54015
@shicholas thank you for your feedback.

The article you quoted is using a service principal for ACR authentication. The service principal password is not "hardcoded" anywhere; it is just used to create an image pull secret in Kubernetes. Was any part of the article not explaining it clearly enough? Any suggestions how to improve it?

[2020-05-04 19:22] shicholas commented on #54015
I found https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration#configure-acr-integration-for-existing-aks-clusters which solved my problem - Perhaps I was just looking in the wrong place.

Thank you,

[2020-05-04 19:22] #54015 closed

[2020-05-04 19:25] karolz-ms commented on #54015
Ah, yes, AKS is natively aware of ACR and Service Principals.

The first article is applicable to any K8s cluster, not just AKS, so there is a bit more work involved.

[2020-05-04 19:25] SHAGGAR opened #54017 "Clarification on Licensing for NPS Extensions for Azure MFA"
I am using the NPS extension to do azure mfa authentication for my VPN via RADIUS.  This works great, but I have noticed users who do not have P1 licenses are still able to authenticate using the MFA setup on their account.  To test that this was actually the case I created a brand new user in our on prem AD and let it sync to our Azure AD.   I then set that user up with MFA but DID NOT give it an

[2020-05-04 19:27] normesta commented on #53363
@BakkerJan thank you for the update!

[2020-05-04 19:27] normesta commented on #53363
I've updated the article and that change should appear live this afternoon. Thx again.

[2020-05-04 19:27] CeciAc opened #54018 "Imprecision in the documentation"
@mdesimoneIWG commented on [Mon May 04 2020](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/434)

I wanted to report that to the headword "In the Windows Configuration Wizard experience, adding a local Active Directory (AD) domain is not supported. If you plan to add a computer to an AD domain, during installation you must select the Configure Windows link with a local account. You can t

[2020-05-04 19:27] normesta commented on #53363
#please-close

[2020-05-04 19:27] #53363 closed

[2020-05-04 19:36] solarfusionuk opened #54020 "Usage Location"
Page states: "Before a license can be assigned to a user, the administrator has to specify the Usage location property on the user. In the Azure portal, you can specify usage location in User &gt; Profile &gt; Settings" and "We recommend that you always set usage location as part of your user creation flow in Azure AD (e.g. via AAD Connect configuration)"
However, if no usage location is set, it d

[2020-05-04 19:40] gardnerjr commented on #52844
it is an unfortunate side effect of the feature of letting users use *any* characters as the display name of a workbook.  if we went with standard azure resource naming rules, workbooks would be restricted to not using spaces, special characters, non-ascii characters, and a very short length of names, etc in the names of workbooks.

there are a few other places (alerts maybe?  alert rules? web tes

[2020-05-04 19:41] ShaneBala-keyvault commented on #39863
Confirmed that read only operations for certificates (get and list) are also supported during failover.
Submitted a PR for the document change. Will be updated within a day.

[2020-05-04 19:41] ShaneBala-keyvault commented on #39863
#please-close

[2020-05-04 19:41] #39863 closed

[2020-05-04 19:42] CeciAc opened #54021 "Need some guidance preventing major and breaking Windows node updates ?"
@geoffreygeslin commented on [Mon May 04 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/710)

AKS helps on getting the latest OS security updates and Kubernetes releases, which is perfectlly fine.

But, as Windows containers and host OS has strict compatibility constraints, i'm wondering how AKS would notify of a MAJOR OS update on Windows nodes image?

As there is no hyperv isolat

[2020-05-04 19:43] GiftA-MSFT commented on #53741
@swmachan can you please verify and update document accordingly. Thanks.

[2020-05-04 19:43] normesta commented on #49840
@jay7x thanks for the great suggestions. I updated the Linux curl command to grep for the location. That example was inconsistent with the one presented for Windows. Now both return the version specific file. Thanks for that suggestion. This change should appear live this afternoon after 3.

[2020-05-04 19:43] normesta commented on #49840
#please-close

[2020-05-04 19:43] #49840 closed

[2020-05-04 19:49] GiftA-MSFT commented on #53736
@nmakarov-artis can you please the error you received and log details?

[2020-05-04 19:52] MartinJaffer-MSFT commented on #53989
Thank you for your feedback @jianyeliu . This has been assigned to the content owner, @hrasheed-msft , and will be updated as appropriate.

[2020-05-04 19:55] lespaulio commented on #46763
It looks like Zoom updated their documentation:
https://support.zoom.us/hc/en-us/articles/115005887566
Reply URL doesn't require a wild card anymore.

[2020-05-04 19:55] josuvil opened #54022 "Windows Server 2008 R2 support?"
Hello,

Now that Windows Server 2008 R2 has reached its end of support lifecycle, will the AAD Connect Health agent still be supported on this platform?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d92acad0-13e9-f009-eff1-a89fad7a08b7
* Version Independent ID: 462590b7-1d83-0e32-63d4-79a4726023d0
* Content: [Using Az

[2020-05-04 20:01] MartinJaffer-MSFT commented on #53612
Thank you for your feedback, @mcalnd70 . This has been assigned to the content owner, @djpmsft , and will be updated as appropriate.

[2020-05-04 20:01] pmozbert opened #54023 "missing information on how to construct SAS URL for event hub sink"
This page describes configuration of the eventhub sink and mentions that a SAS URL is a required parameter. However it does not explain how to construct the SAS URL.  It links to a page that explains how to create a SAS token, but not how to include that token in a properly formatted URL.   It links to this page - [generate-sas-token](https://docs.microsoft.com/en-us/rest/api/eventhub/generate-sas

[2020-05-04 20:01] SamaraSoucy-MSFT commented on #53956
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-04 20:02] CeciAc opened #54024 "Difference between static website and blob container integration with CDN"
@Boosten commented on [Mon May 04 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/589)

There are two options to make your blob container accessible via a CDN:

1) Mapping the blob container url to your CDN: https://docs.microsoft.com/nl-nl/azure/cdn/cdn-create-a-storage-account-with-cdn.

Example configuration of a CDN endpoint:
- Origin type: Storage
- Origin hostname: NAME.blob.c

[2020-05-04 20:03] SamaraSoucy-MSFT commented on #53959
Thanks for the question! We will review and get back to you shortly.

[2020-05-04 20:04] stgeorgi commented on #53749
Thanks. Here is what I did.
1) If I press copy and past the code in PS it fails with the same error

$asTask = ([System.WindowsRuntimeSystemExtensions].GetMethods() | Where { **NL**
$_.ToString() -eq 'System.Threading.Tasks.Task`1[TResult] **NL**
AsTask[TResult,TProgress](Windows.Foundation.IAsyncOperationWithProgress`2[TResult,TProgress])'})[0]

2) If I press copy and past the code in PS it fails

[2020-05-04 20:07] CeciAc opened #54025 "Is there no functionality to block any payment whatsoever?"
@Coolerhino commented on [Fri May 01 2020](https://github.com/MicrosoftDocs/azure-docs.pl-pl/issues/474)

For example, disable resources that cost cash? I want to make sure that i learn azure and use only free services/quota. For students and poor people

---
#### Szczegóły dokumentu

⚠ *Nie edytuj tej sekcji. Jest ona wymagana dla docs.microsoft.com ➟ Dołączanie problemu w usłudze GitHub.*

* ID:

[2020-05-04 20:09] AjayKumar-MSFT commented on #53908
@hypertrends,  Apologies for the delay! If I have understand your scenario correctly, As mentioned in this [document](https://docs.microsoft.com/azure/media-services/latest/frequently-asked-questions#what-about-live-streaming) FAQ- You can use exactly the same design and implementation to help protect live streaming in Media Services by treating the asset associated with a program as a VOD asset.

[2020-05-04 20:13] eduardohl commented on #53940
Just to let you know, I've tried several combinations of IPs, but right now only the entire AzureCloud range of ips work, any other combinations eventually fails.

[2020-05-04 20:15] CeciAc commented on #45162
Hi team,
same issue reported here: https://github.com/MicrosoftDocs/azure-docs.pl-pl/issues/475

Kind regards
Microsoft DOCS International Team

[2020-05-04 20:36] AjayKumar-MSFT commented on #53869
@andresbarcenas, and @PekkaJalonen, Apologies for the inconvenience with this issue.
Could you please the WebApp name directly here or [indirectly ](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)for a deeper investigation.

[2020-05-04 20:37] Grace-MacJones-MSFT commented on #54009
Hi @dumaisf ,

As the doc mentioned "To add a custom domain to your app, you need to verify your ownership of the domain by adding a verification ID as a TXT record with your domain provider. In the left navigation of your app page, click **Resource explorer** under **Development Tools**, then click **Go**.
![DomainID](https://user-images.githubusercontent.com/42247081/81011047-203f6a00-8e0c-11ea-

[2020-05-04 20:37] #54009 closed

[2020-05-04 20:38] SamaraSoucy-MSFT commented on #54025
Thanks for the question! We will review and get back to you shortly.

[2020-05-04 20:39] click2install commented on #44064
Thank you @brandonh-msft that was how I was thinking of implementing it, I didn't find this already in my searches, it will serve as a good reference point.

@mslot thank you, I have resilient KV clients using Polly for other Azure services. I am yet to try this but I don't imagine you can retry or detect a rolled key for a running function that is using triggers to say EventHub or storage. Your s

[2020-05-04 20:40] SamaraSoucy-MSFT commented on #54021
Thanks for the question! We will review and get back to you shortly.

[2020-05-04 20:43] SamaraSoucy-MSFT commented on #54013
Thanks for the feedback! We will review and get back to you shortly.

[2020-05-04 20:44] andypituch commented on #53514
With the article being updated for the Spring 2020 update, this issue should be moved to https://docs.microsoft.com/en-us/azure/virtual-desktop/virtual-desktop-fall-2019/connect-android-2019 since it only applies to the Fall 2019 update.

[2020-05-04 20:46] #53930 closed

[2020-05-04 20:50] SamaraSoucy-MSFT commented on #54000
Thanks for the question! We will review and get back to you shortly.

[2020-05-04 20:51] andypituch opened #54026 "Missing reply URL"
In the Android client with the Spring 2020 WVD environment, I receive the following error.
Message: AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application: 'a85cf173-4192-42f8-81fa-777a763e6e2c'.

The Windows Desktop, Web and iOS clients do not yield this error (and work as expected/intended) but the Android Client has given this error for

[2020-05-04 20:53] MartinJaffer-MSFT commented on #53697
@torbenboeck I believe the browser cached an old version of Data Factory UI code.

@hbrown664  @torbenboeck  , since both of you reported this issue solved, I will close this issue.

@kromerm  @VikasPullagura-MSFT  thank you for your timely solutions.

[2020-05-04 20:53] #53697 closed

[2020-05-04 20:54] nmakarov-artis commented on #53736
FYI, this for AKS Webservice Deployment, forgot to mention that in my original commment.

[error.txt](https://github.com/MicrosoftDocs/azure-docs/files/4577362/error.txt)

[2020-05-04 20:58] shekhag commented on #53930
Thanks for the update on this.

[2020-05-04 21:03] martinlarosa commented on #53906
And that can be done in an App in the B2C directory? Or does it have to be
directly in the organizational directory?
I even tried it using the same client app I'm using for my users to login
and it seems to work fine.
--
Martín La Rosa

El lun., 4 may. 2020 a las 10:31, Yoel Horvitz (<notifications@github.com>)
escribió:

[2020-05-04 21:13] cahann commented on #52422
@peterinnesmsft thank for the feedback. We can't automatically migrate cause the change impacts application access so users should be aware of the implicatioins.
I added the feedback about the migration error to our backlog as part of the on going effort of improving migration experience. Thanks

[2020-05-04 21:13] lilx-ms opened #54027 "Token Creation should ask expiry time and directly generate secret for user."
User has to do another manual step to create token, which is not a good experience.
When I firstly created the token, it showed me "Not Generated" and I was thinking it's still processing and waited for couple of minutes. I would prefer the token could be directly generated with user being asked to determine expiry time while creating the token. It could be the similar experience with AAD app regi

[2020-05-04 21:20] anlatsko opened #54028 "Unclear verbiage surrounding VNET restrictions"
&gt;In each Azure Virtual Network (VNet), only one subnet can be delegated to Azure NetApp Files.
Azure enables you to create multiple delegated subnets in a VNet. However, any attempts to create a new volume will fail if you use more than one delegated subnet.

Does this mean that there can be only one ANF instance in a VNET (one VNET can **only** have one delegated subnet that has one ANF instan

[2020-05-04 21:20] MartinJaffer-MSFT commented on #53800
@roberbr  Let me share how to work with this case.
I assume you are using copy tool and see something like:
![image](https://user-images.githubusercontent.com/46612670/81014329-82e73480-8e11-11ea-9cb4-64c19ef4fbe2.png)

First, arrange the inputs you have to match the outputs:
![image](https://user-images.githubusercontent.com/46612670/81014521-d9ed0980-8e11-11ea-98da-d8d031786295.png)

Then remove

[2020-05-04 21:21] mmushatt commented on #53530
Good Day,

Thank you for your assistance.  I was able to get this to work when I ensured that my Web API and Web App were both under the Application ( Preview ) blade.  I will keep trying with my Web App under the B2C Applications blade.  I do have a quick question that I’ve not been able to get working.  What if I want to use the Microsoft Graph API resource in my App, I cannot get this to work.

[2020-05-04 21:26] mmushatt commented on #53530
Good Day,

I was able to get this to work with the Web App under either of the blades.  Thank you.

Still would like to know how to get to the Microsoft Graph API resource.  I have two customers having this very issue.

~ Michael Cedric Mushatt

From: Michael Mushatt
Sent: Monday, May 04, 2020 5:22 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@norep

[2020-05-04 21:30] tjsullivan1 opened #54029 "Steps out of Order?"
Under "Configure Azure AD SSO" Step 4.a. asks to enter the &lt;sys_id of the sso configuration&gt;. Following this guide, I don't know a way to do that without first generating the SSO configuration in Service Now (i.e., "Configure ServiceNow" steps). is there a way to do this without generating a stub configuration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-05-04 21:44] iainfoulds commented on #53972
Thanks for the feedback, @YassineSOUABNI

Yes, the functionality does work and may seem expected, however for some people that's not expected or desired behavior. For now, it's noted as a known issue to make it clear you'd need to adjust expectations. In future doc updates or as the feature progresses, we can look at changing how it's phrased and the scenario is addressed.

For now, #please-close

[2020-05-04 21:44] #53972 closed

[2020-05-04 21:52] MarileeTurscak-MSFT commented on #54029
@tjsullivan1
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-04 21:57] BharathNimmala-MSFT commented on #53962
@mimergel Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-04 21:57] Grace-MacJones-MSFT commented on #53659
Hi @jjbutera, it is by design. You can not use special characters (| ! " £ $ % & / ( ) = ? ^ * ç ° § ; : _ > ] [ )  or stressed vowels( à, é, ò, etc) in your domain

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-04 21:57] #53659 closed

[2020-05-04 22:00] rohinkoul commented on #53923
@VikasPullagura-MSFT yes "azure" should be replaced by "az"

[2020-05-04 22:01] Karishma-Tiwari-MSFT commented on #53977
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-04 22:02] rohinkoul commented on #53894
nslookup has several bugs. Often it does not display the records correctly. Could you try this with dig?

[2020-05-04 22:02] iainfoulds commented on #53565
After you've enabled the authentication method, users should able to follow through the noted steps to then register themselves and use the Microsoft Authenticator app  - https://docs.microsoft.com/azure/active-directory/authentication/howto-authentication-passwordless-phone#user-registration-and-management-of-microsoft-authenticator-app. It's not necessarily a prerequisite, rather it's part of th

[2020-05-04 22:02] Karishma-Tiwari-MSFT commented on #53973
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-04 22:02] #53565 closed

[2020-05-04 22:02] Karishma-Tiwari-MSFT commented on #53968
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-04 22:04] Karishma-Tiwari-MSFT commented on #53997
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-04 22:05] Karishma-Tiwari-MSFT commented on #53996
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-04 22:06] b-juche commented on #54028
@ntap512 Can you please answer this question?  Thanks.

[cc: @lichunli-ms]

[2020-05-04 22:08] Karishma-Tiwari-MSFT commented on #54010
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-04 22:11] ntap512 commented on #54028
You can only have a single delegated subnet in a vnet. A NetApp account can have deploy volumes into one or more vnets each having its own delegated subnet.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Julie Chen <notifications@github.com>
Sent: Monday, May 4, 2020 5:07:04 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Stowe, Will <Will.St

[2020-05-04 22:12] Karishma-Tiwari-MSFT commented on #53735
We will now close this issue. Please share the details when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-04 22:12] #53735 closed

[2020-05-04 22:15] msyihchen commented on #53973
@sajayantony @SteveLasker

[2020-05-04 22:15] msyihchen commented on #54027
@sajayantony @SteveLasker

[2020-05-04 22:17] Karishma-Tiwari-MSFT commented on #53469
I will close this issue as the issue is being tracked here: https://github.com/Azure/azure-cli/issues/13121
Please follow that thread to track this issue.

[2020-05-04 22:17] #53469 closed

[2020-05-04 22:19] b-juche commented on #54028
Thanks, @ntap512!  Will add your clarification to the doc also.

[cc: @lichunli-ms]

[2020-05-04 22:19] Karishma-Tiwari-MSFT commented on #53668
@zr-msft Do you have any insights on this issue? Thanks :)

[2020-05-04 22:22] mahesh2904 commented on #50473
Facing the same issue. Is there any solution?
![azuregeofencing](https://user-images.githubusercontent.com/46446195/81019198-c7131d00-8e83-11ea-8dfe-be567010c6f7.png)

[2020-05-04 22:23] MartinJaffer-MSFT commented on #53800
@roberbr  please let me know if this does not solve your issue.

[2020-05-04 22:23] #53800 closed

[2020-05-04 22:28] Ayanmullick commented on #47551
@BryanTrach-MSFT , Thanks for the update 👍

[2020-05-04 22:30] BharathNimmala-MSFT commented on #54002
@LazzariPaolo Thank you for your query, assigning this issue to our document author @dsindona to further help on this.

[2020-05-04 22:31] Karishma-Tiwari-MSFT commented on #53988
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-04 22:39] MartinJaffer-MSFT commented on #18709
@spelluru  Can you please help with this issue?  This doc could use update.

[2020-05-04 22:40] DaveVoyles opened #54032 "errorCode": "2312" | "failureType": "UserError","
I've read all of the comments above about this error code, but I believe I have a different problem. I haven't even made it to the step where my project is creating the output folder.

The exact error is as follows:

[code]
I've tried both bring-your-own HD insight cluster, as well as on-demand, and both return the same issue.

The pipeline runs always show "No result", so I don't have a way of tr

[2020-05-04 22:42] cynthn commented on #53968
@MasterKolka Thanks for the feedback! What are you trying to get out of the portal that you can't find?

Can you give me some examples of what you are trying to find and how you are searching?

I do need to update the article that you mention to incorporate information about shared image galleries. I'd love some real use-case examples for updating the article.

[2020-05-04 22:45] harishmahadevan opened #54033 "Missing adjective"
Hybrid Azure AD joined device - Users might be to use the device to sign-in to their on-premises domain. However, they can't access Azure AD resources such as Office 365.

should read

Hybrid Azure AD joined device - Users might be ABLE to use the device to sign-in to their on-premises domain. However, they can't access Azure AD resources such as Office 365.

---
#### Document Details

⚠ *Do not e

[2020-05-04 22:46] normesta commented on #51670
Hi @D-Moonesinghe can you help us understand what sort of comparison information you are expecting to see in the table with respect to tiered storage. Tiered storage is exclusively Gen2 as it inherits those capabilities from blob storage. Data Lake Storage Gen1 isn't mentioned in the second link that you provide.

[2020-05-04 22:48] SaurabhSharma-MSFT commented on #53530
@mmushatt Good to hear that you are able to proceed further.
For Microsoft Graph API, the process of assigning permissions are similar and you need to go to "API permissions" of web app and select "Microsoft Graph" from the blade.
![image](https://user-images.githubusercontent.com/38112130/81020306-5e915500-8e1d-11ea-9a43-baaa1a7444bf.png).
Once selected you can then assign required permissions (l

[2020-05-04 22:49] bandersmsft commented on #49542
@slavizh Updated with https://github.com/MicrosoftDocs/azure-docs-pr/pull/113810
#please-close

[2020-05-04 22:49] #49542 closed

[2020-05-04 22:50] RyanHill-MSFT commented on #53836
Hi @davekats, https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#snat is the doc you're looking for. ASE adheres to IaaS limitations; therefore port limits are based on your VM pool size.

[2020-05-04 22:52] tchristiani commented on #51167
please #reassign @tburns10

[2020-05-04 23:04] bandersmsft commented on #49894
@joverdon Clarifed the artilce, per feedback from @dhirajgandhi with https://github.com/MicrosoftDocs/azure-docs-pr/pull/113816

#please-close

[2020-05-04 23:04] #49894 closed

[2020-05-04 23:06] MarileeTurscak-MSFT commented on #53791
Thanks for the feedback, @ElanShudnow !

Seamless SSO works with Azure AD Registered devices without the need to roll out seamless SSO. The Primary Refresh Token is issued to a registered device once the user logs into a registered device. Using the Primary Refresh Token, the user can sign in to any application without the need to enter a username and password. For Azure AD Seamless SSO, the devic

[2020-05-04 23:06] #53791 closed

[2020-05-04 23:07] GiftA-MSFT commented on #53736
@nmakarov-artis thanks for your response. Can you please run the following commands on your aks cluster and try again? Thanks.

**Step 1:**

`kubectl get pods -n azureml-{deployment name}`

**Step 2:**

`kubectl logs {pod name from step 1} -c amlappinit -n azureml-{deployment name} `

[2020-05-04 23:08] MarileeTurscak-MSFT commented on #53781
I'm closing this out as it's unclear to me what your ask is. Feel free to make a new issue if you have feedback for the article!

[2020-05-04 23:08] #53781 closed

[2020-05-04 23:08] bandersmsft commented on #50094
@artislismanis It looks like the article was updated in the past to add a description for `pricingModel`.

#please-close

[2020-05-04 23:08] #50094 closed

[2020-05-04 23:11] b-juche commented on #54028
Added clarification to the documentation:

"You can have only a single delegated subnet in a VNet. A NetApp account can deploy volumes into multiple VNets, each having its own delegated subnet."  (PR 113819)

#please-close

[2020-05-04 23:11] #54028 closed

[2020-05-04 23:13] jaschoen-msft commented on #50919
With Private Endpoints in general, the generated network interface is read-only and managed within the life cycle of the Private Endpoint resource.

Values cannot be changed like allocation method to static, although those values will never change during the entire life of the private endpoint.

[2020-05-04 23:19] anhlqn opened #54034 "Incorrect subresources value for Application Configration"
I believe the subresources value for Application Configuration should be "configurationStores" instead of "configurationStore".

"configurationStore" doesn't work when creating a private service connection via Terraform.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Indep

[2020-05-04 23:22] Grace-MacJones-MSFT commented on #53022
Hello @paulhasell, thanks for your patience.

Based on this Azure storage doc https://docs.microsoft.com/en-us/azure/storage/common/storage-concurrency#pessimistic-concurrency-for-blobs
It looks like you can specify how long the blobs is retained when you acquire a lease on it. You can learn more about lease blob [here](https://docs.microsoft.com/en-us/rest/api/storageservices/Lease-Blob?redirecte

[2020-05-04 23:22] #53022 closed

[2020-05-04 23:31] wintech12 commented on #53749
Hi Stgeorgi,

Thank you for your hard work and contributions to make this work.
I am having issue when I region stage code. The error message is below:
=================================================================
Cannot convert argument "deploymentOptions", with value: "StageInPlace", for "StagePackageAsync" to type
"Windows.Management.Deployment.DeploymentOptions": "Cannot convert value "Sta

[2020-05-04 23:37] bandersmsft commented on #51912
@cyberlg Thanks for raising this issue. Updated with https://github.com/MicrosoftDocs/azure-docs-pr/pull/113822

#please-close

[2020-05-04 23:37] #51912 closed

[2020-05-04 23:38] KranthiPakala-MSFT commented on #54032
@DaveVoyles Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-05-04 23:40] TravisCragg-MSFT commented on #53970
@lonevvolf This should be working as outlined in the docs. If you are seeing different behavior, your best bet is to create a support request to troubleshoot this further. If you do not have a support plan / cannot create a support request, please let me know.

[2020-05-04 23:42] bandersmsft commented on #52878
@v-pethur Investigating this with the Reservation enginnering team.

[2020-05-04 23:43] SamaraSoucy-MSFT commented on #54034
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-04 23:44] TravisCragg-MSFT commented on #53986
@dikethir Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-04 23:46] bandersmsft commented on #52879
@v-pethur Excellent suggestion. Will verify good with Yash and update afterward.

[2020-05-04 23:49] stgeorgi commented on #53749
The Staginplace option is not available as the OS that is being used is not matching the criteria posted in our documentation. Mainly it is not 19035 or later.

[2020-05-04 23:52] TravisCragg-MSFT commented on #54001
@Broker80 This document is for creating a certificate for an Azure P2S VPN. If you are trying to use these steps for a different product, they will likely not work. Your best bet is to find guidance from QNAP, or find guidance from where your certificate was generated from.

[2020-05-04 23:59] #53995 closed

[2020-05-05 00:00] ecfan commented on #53995
Hi @Fokko and @DixitArora-MSFT, the issue is fixed and should appear before noon PST tomorrow.

[2020-05-05 00:03] Grace-MacJones-MSFT commented on #53528
@jay98014 thanks for raising this issue. This strange behavior. does your customer have staging development setup for their app? Can you please share the steps they took to get his result so that we can reproduce/validate it on our end?

[2020-05-05 00:03] rawatsudhir1 opened #54038 "Framework to test load, performance and design of Azure Synapse Analytics (DWH)"
Hi,

I have build a framework around Azure Synapse Analytics (DWH) so that organization can get insight (like load, performance, design) proactively. The idea is to get optimum DWH design and not to get any surprises in production. Here is the link https://github.com/rawatsudhir1/AzureSynapseDWH . Can we get this link mentioned in this page?

---
#### Document Details

⚠ *Do not edit this section.

[2020-05-05 00:10] mrbullwinkle commented on #53369
@deyanp I stand corrected, when last I had tested this functionality everything was grouped under overall, but the engineering team has since changed the behavior in the past three months. I just tested to confirm and the experience now looks as follows when you create a custom tests with TrackAvailability():

![Screenshot](https://raw.githubusercontent.com/mrbullwinkle/GitHub_Issues/master/tracka

[2020-05-05 00:11] scott-wi opened #54039 "ARM Template example?"
There seems to be no example of doing this via ARM anywhere on the internet. For those of us fully invested in ARM, having those examples is desperately needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c416d5e-5bfd-c641-e9bb-324dcb921acc
* Version Independent ID: 8739a044-d471-c432-3ed1-503539408ae8
* Content: [

[2020-05-05 00:12] MarileeTurscak-MSFT commented on #53744
Hi @aleazofeifam,

I was able to reproduce this issue in my tenant. I changed the global privacy contact and it did not show up in my audit logs, even though I have a Premium license on my tenant and can see all of my other audit activity from today.

I am not sure whether this is a bug or a missing feature, but I've reached out to the product team to ask them to fix this.

[2020-05-05 00:15] D-Moonesinghe commented on #51670
Norm,

Please close that. I can't make any sense either.  I think I had a few tabs
open and opened a bug on the wrong page.  I apologize my mistake.

On Mon, May 4, 2020 at 3:47 PM Norm Estabrook <notifications@github.com>
wrote:

--
Deepal Moonesinghe
(408) 568 1669
deepal.moonesinghe@gmail.com

[2020-05-05 00:16] MarileeTurscak-MSFT commented on #53744
I have reported this to the product team and created a work item to get this fixed. Will update when there is more news on it!

[2020-05-05 00:16] #53744 closed

[2020-05-05 00:20] clarkezone opened #54040 "Application Insights is greyed out"
I'm trying to follow the instructions to enable snapshot debugging for my service but the Application Insights button is greyed out.  There is no indication why or how to fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279763aa-b638-e2bc-cdb8-52c7bfe426ee
* Version Independent ID: df3a411a-b8da-fccb-9c0b-aeb60a7

[2020-05-05 00:21] rboucher commented on #50837
#please-close.  We updated this article per @chelseario via email interaction.

[2020-05-05 00:21] #50837 closed

[2020-05-05 00:36] TravisCragg-MSFT commented on #53958
@noldersma There is not a native way to use an Azure P2S VPN with a OCSP server. [Here are the different ways that an Azure VPN can authenticate a user](https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-about#authentication).

Certificate Authentication requires you to upload a Trusted Root Certificate or Self Signed Certificate to the VPN Gateway, and [generate client certificates

[2020-05-05 00:38] ynorvo commented on #53464
Thank you!

Best regards,
Steve

在 2020年5月4日，12:11，Nagireddy Tangirala <notifications@github.com> 写道：

﻿

@ynorvo<https://github.com/ynorvo> We have updated the article, please review

#please-close

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/azure-docs/issues/53464#issuecomment-623248032>, or unsubscribe<ht

[2020-05-05 00:45] lenadroid opened #54041 "What is the correct "host" parameter for MacOS or Linux FileSystems?"
Hi! My local file system is MacOS. It seems like the examples provided are for host paths like D:\... suitable for Windows.
If I'd like to work with local file system that is MacOS or Linux one, is it supported? If yes, what is a good sample path?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4e1f4d-cd08-e062-9631-7

[2020-05-05 00:47] JasonWHowell commented on #51925
#reopen #reassign:@jnhs

[2020-05-05 00:47] rboucher commented on #53810
@yanivlavi  Yes. I'm in the process of  publishing and updating the other alert troubleshooting docs so this fits right in with my current work. Thanks for your comments @benmillaneasos.  Sorry about that.

[2020-05-05 00:47] lobrien commented on #53793
I just tested with `api-version` set to `2019-11-01` (as described in the article at https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-pipeline-batch-scoring-classification) and `2019-10-01` (as described in https://docs.microsoft.com/en-us/rest/api/resources/resourcegroups). For me, both values for `api-version` produced the expected results (a list of resource groups).

Can you co

[2020-05-05 01:03] NavtejSaini-MSFT commented on #53829
@imyourdba You can set up geo-replication across subscriptions using T-SQL. It is not supported in Portal because Portal calls ARM and it uses the subscription certificates to access both servers involved in geo-replication. The following articles provide details.
https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-database-azure-sql-database
https://docs.microsoft.com/en-us/azure/sql-data

[2020-05-05 01:05] NavtejSaini-MSFT commented on #53582
@PerFlodin We are going ahead and closing this thread. If you need any further help please get back to you.

[2020-05-05 01:05] #53582 closed

[2020-05-05 01:07] NavtejSaini-MSFT commented on #53687
@CloudTechTravel You can add the feedback for this feature here - https://feedback.azure.com/forums/217321-sql-database

The product team will look into the same and provide guidance. For now we are going ahead and closing this thread.

[2020-05-05 01:07] #53687 closed

[2020-05-05 01:12] NavtejSaini-MSFT commented on #53572
@danimir Can you please help here regarding the custom role that can be created for this?

[2020-05-05 01:27] K3nNichols opened #54044 "Link to /beta version of MS Graph docs in lefthand ToC"
The table of contents is linking to the /beta version of the MS Graph docs instead of the /v1.0 version when I clicked on Reverences\"Identity and access APIs in Microsoft Graph" on the left-hand navigation.

This wasn't the page I was expecting to be delivered to: https://docs.microsoft.com/en-us/graph/api/resources/azure-ad-overview?view=graph-rest-beta
<img width="1059" alt="doc_links_to_beta"

[2020-05-05 01:27] NavtejSaini-MSFT commented on #53828
@dedvds The Document says its valid for SQL Database which means the Azure SQL PaaS service and also refers to single DB as well.
"Azure SQL Database, Managed Instance, and Azure Synapse support Microsoft Conditional Access.:

[2020-05-05 01:30] NavtejSaini-MSFT commented on #53853
@rohitnayakmsft Can you please check this and provide guidance here.

[2020-05-05 01:32] NavtejSaini-MSFT commented on #53738
@lfittl Please check into the user question and provide guidance.

[2020-05-05 01:32] BharathNimmala-MSFT commented on #54004
@LazzariPaolo Thank you for your feedback, assigning this issue to our document author @dsindona to further help on this.

[2020-05-05 01:41] MarileeTurscak-MSFT commented on #53402
Thank you for reporting this, @jleef365!

We've informed the product team and they said that they are working to fix this.

[2020-05-05 01:41] #53402 closed

[2020-05-05 01:54] mandiaya commented on #53677
Hi @jeevansd Do you know the answer about my issue?

[2020-05-05 01:57] SteveBurkettNZ commented on #49481
Also hitting the dreaded 'System error 86 has occurred. The specified network password is not correct' error.

Using AD authentication, no Private Link in use, can resolve the Storage Account name ok without using DNS forwarders, can map the drive using a Net Use command with the storage key specified fine, but trying to map with a Net Use command using just the logged in users Windows credentials

[2020-05-05 02:00] ApplesVOranges opened #54048 "Parameterise Trigger Scope"
Hi Team,

There seems to be no way to parameterise the trigger scope (resource manager ID) of the trigger.  It seems to me that this should act as a 'connection string' of sorts and that different ADF environments would have different trigger scopes.  Is there a way I can do this currently that I might be missing? The docs aren't very clear on this.

---
#### Document Details

⚠ *Do not edit this

[2020-05-05 02:05] afield1235 commented on #46763
I believe my original point still stands, everyone got sidetracked with the discussion on wildcards. The Azure Documentation does not include any mention of Reply URLS, but mentions all other values, while the Zoom documentation states the need for a Reply URL.

Microsoft, please update your documentation to include this.

![image](https://user-images.githubusercontent.com/18271134/81029537-38c679

[2020-05-05 02:08] samcarton opened #54050 "PartitionContext in Event Metadata"
The following statement under "Event metadata" makes it seem like `PartitionContext` is a property on `EventData`, when it apparently is not: `The properties come from the EventData class.`

The example earlier in the document also makes it look like you can simply access all metadata properties just by using an `EventData` parameter binding in your method signature.
It would save some confusion t

[2020-05-05 02:27] ram-msft commented on #53459
@gary918 Please follow the below sample model deployed as a web service endpoint on Azure Container Instances.
https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.webservice.aciwebservice?view=azure-ml-py#deploy-configuration-cpu-cores-none--memory-gb-none--tags-none--properties-none--description-none--location-none--auth-enabled-none--ssl-enabled-none--enable-app-insights-none--

[2020-05-05 02:30] cmmdesai commented on #50044
@AmitavaHazra the current integration does not support integration system attributes and the ability to query using ProviderReference and FieldAndParameterCriteria. As a workaround, if the attribute values you are looking for are already available in the Get_Workers response, you can pull the attribute using XPATH and transform the value using Azure AD expressions.

[2020-05-05 02:30] cmmdesai commented on #50044
#please-close

[2020-05-05 02:31] attrib75 opened #54051 "Additional example for start of month"
I was working with the workflow-definition-language functions, specifically the startOfMonth function.  For my particular situation, I needed to use the 'format' argument of the signature

`startOfMonth('<timestamp>', '<format>'?)`

I wanted to get a date string formatted like so:

'2020-05-01'

The instructions for the format argument are a little confusing, but I managed to get it working after

[2020-05-05 02:44] AshokPeddakotla-MSFT commented on #53501
This would require further troubleshooting to find out the root cause.
Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2020-05-05 02:49] MonikaReddy-MSFT commented on #54040
@clarkezone , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-05 02:53] dominic1904 opened #54052 "How to test the OAuth part"
Hello,
I have followed the document to configure everything. SAP SSO is working for the SSO tests you mentioned in the document. I have also configured the OAuth part in the document. I would like to know how to test it. Is it possible that we can test it using POSTMAN? It would be perfect if you can provide the parameters of the POSTMAN requests, so that I can test them in my own environment. Tha

[2020-05-05 03:01] mrbullwinkle commented on #53369
I've added an update to the doc to reflect the new UI experience. This should merge/go-live tomorrow between 10-11 AM (UTC-7).

[2020-05-05 03:18] neeleshray-msft commented on #54033
@harishmahadevan Thanks for bringing this to our notice. We are checking into the same and will update you shortly.

[2020-05-05 03:19] SatishBoddu-MSFT commented on #53938
@julie-wins, We have verified the document steps (Python) and unable to repro the issue. Could you please provide more details like complete error log text or screenshot of your command terminal. Please mask or remove sensitive information(keys) before you provide error logs.

[2020-05-05 03:20] neeleshray-msft commented on #54044
@K3nNichols Thanks for bringing this to our notice. We are checking into the same and will update you shortly.

[2020-05-05 03:22] neeleshray-msft commented on #54018
@mdesimoneIWG Thanks for bringing this to our notice. We are checking into the same and will update you shortly.

[2020-05-05 03:24] neeleshray-msft commented on #54020
@solarfusionuk Thanks for bringing this to our notice. We are checking into the same and will update you shortly.

[2020-05-05 03:26] DixitArora-MSFT commented on #53579
@AndyButland I have assigned this to content author for further review and update as appropriate.

[2020-05-05 03:29] AzureAzim opened #54053 "Address prefix in the route configuration is unclear"
Is that the ISE Connector OUtbound IP? Runtime outbound IP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c2da9f4-0b97-89d1-e516-0fc8f1831c61
* Version Independent ID: 0bf30e98-17d1-5ee3-a458-c8ff30bbd9bc
* Content: [Set up a public outbound IP address for ISEs - Azure Logic Apps](https://docs.microsoft.com/en-us/azu

[2020-05-05 03:33] DixitArora-MSFT commented on #54051
Hi @attrib75 Thanks for your feedback. We will review and update as appropriate.

[2020-05-05 03:33] AjitkumarThokchom opened #54054 "Syntax error on pip commands"
I found these 2 commands have syntax error and could not run
RUN /databricks/conda/envs/dcs-minimal/bin/pip pandas
RUN /databricks/conda/envs/dcs-minimal/bin/pip urllib3

here are the commands with corrected syntax
RUN /databricks/conda/envs/dcs-minimal/bin/pip install pandas
RUN /databricks/conda/envs/dcs-minimal/bin/pip install urllib3

---
#### Document Details

⚠ *Do not edit this section. It

[2020-05-05 03:34] mike-urnun-msft commented on #53999
@aj770077 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-05-05 03:34] DixitArora-MSFT commented on #54053
Hi @AzureAzim Thanks for reaching out. We will review and update as appropriate.

[2020-05-05 03:36] DixitArora-MSFT commented on #54050
Hi @samcarton Thanks for reaching out. We will review and update as appropriate.

[2020-05-05 03:38] KranthiPakala-MSFT commented on #54041
@lenadroid Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-05-05 03:38] PramodValavala-MSFT commented on #53711
@alexespencer Looks like this is an issue in the underlying amqp library - Azure/azure-uamqp-python#155 - which is [documented in the code](https://github.com/Azure/azure-sdk-for-python/blob/48b9e871773faf009ba08337057884f2b6c48f59/sdk/servicebus/azure-servicebus/azure/servicebus/_common/message.py#L527) as well.

It is best to subscribe to the above issue for updates on it and also to have more i

[2020-05-05 03:38] #53711 closed

[2020-05-05 03:39] PramodValavala-MSFT commented on #53633
@rameshjanjyam Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-05 03:39] #53633 closed

[2020-05-05 03:40] PramodValavala-MSFT commented on #53849
@milope Thanks for bringing this up!

@vladvino @mikebudzynski @miaojiang Could you please confirm the details shared in the OP?

[2020-05-05 03:49] PramodValavala-MSFT commented on #53769
@akbarrasool Just following up here... Hope my previous comment clears things up.

Since there is no doc update require here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Also, please do note that this repository is primarily to address documentation

[2020-05-05 03:49] #53769 closed

[2020-05-05 03:49] VikasPullagura-MSFT commented on #53777
@dontmesswithbill  I will proceed to close this issue. You can either open a new issue by providing Feedback directly on the document or If you have the document URL then please share so that we can reopen this issue.

[2020-05-05 03:49] #53777 closed

[2020-05-05 03:50] VikasPullagura-MSFT commented on #53883
@ckgu541  I will proceed to close this issue. You can either open a new issue by providing Feedback directly on the document or If you have the document URL then please share so that we can reopen this issue.

[2020-05-05 03:50] #53883 closed

[2020-05-05 03:53] Mike-Ubezzi-MSFT commented on #52633
@Cephei Fix has been checked in and will be released with the next production deployment (30 days).

[2020-05-05 03:55] PramodValavala-MSFT commented on #53763
@kevinhartman A failure due to an upgrade is no different than a regular failure. Since its an orchestration level failure, the system that triggers your orchestration should invoke its retry mechanism if any.

As described under [Mitigation Strategies](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-versioning#mitigation-strategies), the recommended approach is to

[2020-05-05 03:55] #53827 closed

[2020-05-05 03:58] mrbullwinkle commented on #54040
When the button for Application Insights is greyed out that usually means the combination OS+Runtime stack for your App Service Web App is not currently supported for codeless monitoring. I believe currently this would happen if your OS is Linux and is using any runtime except Node.js where codeless monitoring does currently work with Linux.

[2020-05-05 03:58] kriti218 commented on #53788
when will this be in GA? any tentative date? asking this as we will prefer GA for our production than preview one.

[2020-05-05 04:02] adityabalaji-msft commented on #53015
Thank you. Closing the issue

[2020-05-05 04:02] adityabalaji-msft commented on #53015
#please-close

[2020-05-05 04:02] #53015 closed

[2020-05-05 04:11] VikasPullagura-MSFT commented on #54023
@pmozbert
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-05 04:11] VikasPullagura-MSFT commented on #54023
@axayjo
Can you please check and add your comments on this doc update request as applicable.

[2020-05-05 04:18] algattik opened #54055 "The temporary disk is not always /dev/sdb"
The text "On Azure Linux VMs, the temporary disk is /dev/sdb by default" is not true. Previously the text on this page was "On Linux virtual machines, the disk is typically /dev/sdb" which was correct. In some cases at boot the temporary and attached disks get mounted in a different order.

For example, I just provisioned a Standard_B4ms VM (32 GB temp disk) with an attached disk of 128 GB. As you

[2020-05-05 04:32] neeleshray-msft commented on #53655
@imabedalghafer Suggest you to open a **[Technical Support Ticket](https://azure.microsoft.com/en-in/support/create-ticket/)** for us to investigate on the issue.

[2020-05-05 04:35] navidarry commented on #25817
@JimacoMS3 -- Some people do not attention to article carefully. They use simulated-device app that used in previous article for method invocation. like me!

[2020-05-05 04:39] SumanthMarigowda-MSFT commented on #53993
@dckfnuance Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-05 04:40] mootpointer commented on #53360
@shaunakv1 I totally get that – just wanted to make sure you weren't totally blocked. There's cases for both approaches – CI/CD pipelines and direct deployments like Kudu enables.

What I ended up doing was this: [a GitHub Actions workflow](https://github.com/mootpointer/sample_app_6th_ed/blob/master/.github/workflows/main.yml) which builds a [Dockerfile](https://github.com/mootpointer/sample_app_

[2020-05-05 04:40] SumanthMarigowda-MSFT commented on #54024
@CeciAc  Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-05 04:44] andreas-wilm opened #54056 "User management for DSVM pools"
Hi team, would it be possible to add a section on user management specifically for DSVM pools? I suppose users could be added as Unix users, but what are the necessary downstream steps for setting up the Azure file share etc.? Many thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fada065c-9087-1f3e-c37e-558a200d07

[2020-05-05 04:50] PekkaJalonen commented on #53869
We were able to get the instance working again. Looks like using AADDS as primary DNS broke the site as easyauth(using Azure authentication) logged errors of not able to resolve resource. After reverting DNS to Azure internal DNS, site started to work normally again. There was a health alert from friday on couple of our sites for need of restore of the site which probably was the trigger for this.

[2020-05-05 04:51] ChiragMishra-MSFT commented on #54011
@mwchilde Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-05 04:52] BhargaviAnnadevara-MSFT commented on #53369
@mrbullwinkle Thanks a lot for the updates!

@deyanp Hope this addresses your question. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-05 04:52] #53369 closed

[2020-05-05 04:56] josiahvinson commented on #48341
Check out the [Event Grid extension](https://docs.microsoft.com/en-us/cli/azure/ext/eventgrid/eventgrid/event-subscription?view=azure-cli-latest#ext-eventgrid-az-eventgrid-event-subscription-create), with first-class support for Azure Functions as an endpoint.

[2020-05-05 04:57] #53951 closed

[2020-05-05 04:58] ram-msft commented on #53459
@gary918 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-05 04:58] #53459 closed

[2020-05-05 05:09] ram-msft commented on #53571
@aahill could you please check on this.

[2020-05-05 05:15] AshokPeddakotla-MSFT commented on #53926
@FatimaBasheer

Sorry for the inconvenience caused. As specified in the portal, Due to high demand, limits have been placed on some Azure subscriptions and resources.

![image](https://user-images.githubusercontent.com/44426435/81036478-e5493f00-8ebc-11ea-8b3d-046767db945b.png)

Due to high demand for capacity in our datacenters given the Covid-19 situation, availability is limited for customers u

[2020-05-05 05:18] AshokPeddakotla-MSFT commented on #54000
Thanks for the feedback! I have assigned the issue to the content author @qm13  to evaluate and update as appropriate.

[2020-05-05 05:19] cmenzi commented on #53808
**Update:**

I've now manged it by using adding the just the url `<acr-name>.azurecr.io` of our _ACR_ to `_daemon.json`.

[code]

Yeah! Thank you @veyalla

Now, we have still some open questions:

* Is the storage account or our private ACR stable forever, or does MSFT change this without notice?
* If stable, what if geo-replication is enabeld?
* How to get the blob url(s) of the associated storag

[2020-05-05 05:32] souravmishra-msft commented on #54052
@dominic1904, Thank you for reaching out. I am looking into this and will get back to you soon.

[2020-05-05 05:41] souravmishra-msft commented on #53914
@hpsin, Can you please take a look in this.

[2020-05-05 05:47] SadiqhAhmed-MSFT commented on #53491
@gate502 Sorry for the confusion. That applies only for Windows VMs. This feedback has been shared with the feature PM and the document will be updated soon.

Closing this issue for now. Feel free to write back to us if you've any additional questions in this matter.

[2020-05-05 05:47] #53491 closed

[2020-05-05 05:52] hpsin commented on #53914
Sorry, what generated pdf? @souravmishra-msft this does not sound like a technical issue I can help with.

[2020-05-05 05:59] samcarton commented on #54050
While you're at it, the host.json 2.x+ properties doc doesn't list the `"enableReceiverRuntimeMetric": true` property that is required in order for `partitionContext.RuntimeInformation` to be populated (or in fact any of the other properties on `eventProcessorOptions`)

[2020-05-05 06:08] alexespencer commented on #53711
Thanks Pramod - I've subscribed to that issue.

[2020-05-05 06:08] SumanthMarigowda-MSFT commented on #53311
@hh23485  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the docume

[2020-05-05 06:08] #53311 closed

[2020-05-05 06:09] ram-msft commented on #54056
@andreas-wilm Thanks for the question. We will update you shortly.

[2020-05-05 06:13] SumanthMarigowda-MSFT commented on #53648
@nivrutti-shinde Your feedback has been shared with the content owner for further review.

[2020-05-05 06:17] lokesh051 commented on #47319
@ram-msft Hi, Any updates on the python version?

[2020-05-05 06:18] SubhashVasarapu-MSFT commented on #54039
@scott-wi , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-05 06:19] RobMcZagBDS commented on #52806
@djpmsft
Daniel, personally I feel that any clarification is golden as these "little things" like having to use the {} or remove the nanos or the need (or lack of need) for double quotes around the expression are the ones that frustrate people trying to do something a bit more complex.

If you are not going to have some page explicitly dedicated to expression syntax examples are the next best thin

[2020-05-05 06:27] CHEEKATLAPRADEEP-MSFT commented on #53821
@perkops Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/113864](https://github.com/MicrosoftDocs/azure-docs-pr/pull/113864)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to tak

[2020-05-05 06:27] #53821 closed

[2020-05-05 06:28] CHEEKATLAPRADEEP-MSFT commented on #53868
@OneConsutlantsDemo  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-05 06:28] #53868 closed

[2020-05-05 06:29] souravmishra-msft commented on #53847
@nezoic, By using a vault per application per environment, is what we mean is a single application should have access to the Vault containing the secrets. The reason for this is, suppose we create a vault and we add secrets lets say some password or some secret text in it. Now app1/api1 and app2/api2 are added to the vault's data plan (user access policies) with get, list, set etc, now both these

[2020-05-05 06:31] SnehaAgrawal-MSFT commented on #53463
@Bangarraju1005 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-05 06:31] #53463 closed

[2020-05-05 06:33] CHEEKATLAPRADEEP-MSFT commented on #53949
@reveation-labs The document was updated.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-05 06:33] #53949 closed

[2020-05-05 06:34] CHEEKATLAPRADEEP-MSFT commented on #53961
@burhanqazi  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-05 06:34] #53961 closed

[2020-05-05 06:34] CHEEKATLAPRADEEP-MSFT commented on #53982
@mohitbhor  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-05 06:34] #53982 closed

[2020-05-05 06:38] noldersma commented on #53958
Hi

the problem with azure active directory authentication is, there is no good way to provision this with intune. Installing a package from the store is a hell.

For the onprem active directory a radius server and onprem ad is required, all of which we want to avoid.

You cannot be serious that nobody has thought of such a functionality?

Regards nathan

[2020-05-05 06:39] CHEEKATLAPRADEEP-MSFT commented on #54054
@AjitkumarThokchom Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/databricks-pr/pull/211](https://github.com/MicrosoftDocs/databricks-pr/pull/211)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to

[2020-05-05 06:47] KiranKapse commented on #53983
Hello Samara,

This is a new enhancement request. Let me know if this is wrong place to out this across.

From: Samara Soucy <notifications@github.com>
Sent: 04 May 2020 20:59
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kapse, Kiran Kumar Gurubasappa <kiran.kumar.gurubasappa.kapse@sap.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure Serv

[2020-05-05 06:55] DerBasler opened #54058 "typo in the docs"
https://docs.microsoft.com/en-us/azure/search/search-get-started-nodejs#feedback

On the code snippet:
const client = new AzureSearchClient(cfg.get("serviceName"), cfg.get("adminKey"), cfg.get("queryKey"), cfg.get("indexName));
should be:
const client = new AzureSearchClient(cfg.get("serviceName"), cfg.get("adminKey"), cfg.get("queryKey"), cfg.get("indexName"));

Notice the " after indexName

---

[2020-05-05 06:58] nitin24g opened #54059 "Calling Stored Procedure"
how we can call sql stored procedure using this connector ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a43d656-dbdf-ae04-f88d-488aa1dc78c5
* Version Independent ID: 155c9eb2-92df-1619-4284-17c46a419f1f
* Content: [Spark Connector with Azure SQL Database and SQL Server - Azure SQL Database](https://docs.microsoft.c

[2020-05-05 07:04] SeanFeldman opened #54060 "Lifecycle management with blob index tag filters - .NET sample is missing"
Currently, it's just a link to the nuget package rather than a code snippet.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 212e4923-c8a9-b800-880a-84d3dc450438
* Version Independent ID: 42c37760-0599-6843-34fa-86eda2cab55e
* Content: [Utilize Blob Index to manage and find data on Azure Blob storage](https://docs.micro

[2020-05-05 07:08] imabedalghafer commented on #53655
@iainfoulds thank you for your comment.
Would you please let me know what is the image reference you used ?

Thank you

[2020-05-05 07:08] foranimesh opened #54061 "Feedback regarding Private endpoint and Private link resource relationship"
As stated in the subsection below:
https://docs.microsoft.com/en-us/azure/private-link/private-link-faq#what-is-the-relationship-between-private-link-service-and-private-endpoint

The connectivity explained is essentially from private endpoint to the private link resource and I understand that the relationship should be many to one, instead of one-to-many.  I am just trying to validate my understa

[2020-05-05 07:12] souravmishra-msft commented on #54022
@josuvil, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-05-05 07:15] souravmishra-msft commented on #54017
@SHAGGAR, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-05-05 07:19] phannybawz commented on #53749
Good Morning Stefan,

I have taken the code you supplied above and run it again on the VM but sadly I still get the same error.  I did notice the new line issue some time ago and thought this may have been behind my troubles, however it appears I was mistaken.

Can you confirm if there are any possibly any missing pre-requisites that would result in this script failing?  The documentation surround

[2020-05-05 07:20] PaulAbrahamson opened #54062 "Certificate requirements"
Are there any requirements about the size of the public key for certificates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 535c4a4a-b242-cf28-f1b8-fd1fc9781946
* Version Independent ID: 1cc8604c-f345-55b3-3ec0-51c474353404
* Content: [Custom domains in Azure AD Application Proxy](https://docs.microsoft.com/en-us/azur

[2020-05-05 07:24] hmeiland opened #54063 "IB scaling limits"
Could we add here:
Infiniband scaling
To make sure all vm's land in the same physical cluster and can get Infiniband connectivity, either deployment using vmss or in a availability set has to be used.
Infiniband connectivity using VMSS has a default max size of 100 vm's. This can be extended with a support request. When deploying vm's using a availability set the default limit is 200 vm's.

---
##

[2020-05-05 07:38] VikasPullagura-MSFT commented on #54055
@algattik
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-05 07:38] rlevchenko commented on #53988
PrincipalId:
[reference(resourceId('Microsoft.ContainerService/managedClusters/', parameters('clusterResourceName')), '2020-03-01', 'Full').identity.principalId]"

Set Identity Type (kubernetes cluster resource):
"identity": "SystemAssigned"

+ I also set
"servicePrincipalProfile":  {"cliendId":"msi"} under the "properties"

[2020-05-05 07:39] stgeorgi commented on #53749
As prerequisite:
Your OS is the right version that is the only prerequisite.

As for your question no it should not be part of a host pool to work. The one I tested this morning wasn't.

Brainstorming here:
It might be the Powershell version or the encoding of the language (I hate to ask you but can you acutally type it if you haven't tried it)

PS C:\Users\ssa.Win10MSNa-0> $PSVersionTable

Name

[2020-05-05 07:44] rlevchenko commented on #53988
I mean "clientId":"msi"  ; (also don't use hardcoded values and use variables/objects instead)

[2020-05-05 07:52] phannybawz commented on #53749
Hi Stefan,

Output as below.

I can have a run at manually typing it in this morning.  I'll let you know the outcome once completed.

Thanks again.

Name                           Value
----                           -----
PSVersion                      5.1.19041.1
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.1904

[2020-05-05 08:07] rlevchenko commented on #53988
@MSFT please check if my example correct or not (don't see any issues with deployed cluster so far btw) + provide some more details about role assignments. We now have SystemAssigned identity (identity.PrincipalId) and User-Assigned that can be found under identityProfile.kubeletidentity.principald and sometimes people can't understand in which cases each identity should be used. Just make the doc

[2020-05-05 08:08] VikasPullagura-MSFT commented on #54055
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-05-05 08:09] VikasPullagura-MSFT commented on #54027
@lilx-ms
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-05 08:11] VikasPullagura-MSFT commented on #54063
@hmeiland
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-05 08:11] VikasPullagura-MSFT commented on #54063
@vermagit
Can you please check and add your comments on this doc update request as applicable.

[2020-05-05 08:13] VikasPullagura-MSFT commented on #54026
@andypituch
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-05 08:13] VikasPullagura-MSFT commented on #54026
@stgeorgi @RoopChevuri can you please check and add your comments on this issue.

[2020-05-05 08:19] asubmani commented on #42004
I would greatly appreciate if the documentation includes what the `--attach-acr` argument does behind the scenes? Does it create + service Account? if my deployment complains of "Authentication required" where do I look to validate (inside of kunbernetes) that the --attach-acr actually worked (assuming it shows with acrPull role  at the ACR's IAM)

[2020-05-05 08:20] #51905 closed

[2020-05-05 08:21] NephorLabs commented on #53750
We are using the Sample labeling tool.
________________________________
From: GiftA-MSFT <notifications@github.com>
Sent: Monday, May 4, 2020 11:44 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: NephorLabs <bijoy_singhal@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Analyzing tables (#53750)

@NephorLabs<https://github.com/NephorLab

[2020-05-05 08:24] SumanthMarigowda-MSFT commented on #53845
@YvonneArnoldus What was the error?(Share the screen shot of the error message) and I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation.
Please create a thread in MSDN forum with complete details. We'll follow up there. We will now proceed to close this thread. If there are furt

[2020-05-05 08:24] #53845 closed

[2020-05-05 08:25] SwathiDhanwada-MSFT commented on #53607
@Anshulsr77 Thanks for reaching out!! AFAIK,hard delete or disable option remotely for non-azure VM's is currently not a supported feature.

If in case its azure machine, you can use "[Remove-AzVMExtension](https://docs.microsoft.com/en-us/powershell/module/az.compute/remove-azvmextension?view=azps-3.8.0)" command-let to remove extension or follow process mentioned in [this document](https://docs.

[2020-05-05 08:25] #53607 closed

[2020-05-05 08:37] vivaladan opened #54064 "Email verification not disabled"
I've added the element but it doesn't make any difference and email validation is still required. I notice that step 5 under test says to update the *two* files that you changed, but the above section only calls for one to change. Perhaps this guide is incorrect?

After a bit of research I found another way to achieve this by deleting the attribute PartnerClaimType from
`<OutputClaim ClaimTypeRefe

[2020-05-05 08:43] ranabanerjee15 opened #54065 "No pricing for Generation2"
Azure calculator does not give any pricing details for generation2. How to compare the pricing between generation1 and generation2 of  "VpnGw2"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d7ab31-fdf3-9b0f-1439-6a01fb257aab
* Version Independent ID: af13a45f-3061-2f0e-7452-b52d700b4805
* Content: [About Azure VPN G

[2020-05-05 08:46] neeleshray-msft commented on #54044
@rwike77 Could this be rectified ?

[2020-05-05 08:51] XristophD opened #54066 "Supported Operating System list is out of date"
Within Prerequisites, the section Operating System links to an article listing supported OS versions. This list hasn't been updated since Mai 2018. E.g. Server 2019 is not on the list.
It would be helpful to either update the related article or move the list of supported OS versions into this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-05-05 08:51] Larryngolog opened #54067 "AAD connect health agent version with removed dependency on Azure Service Bus"
Hello
What is the specific version of the AAD CH agent that no longer requires Azure Service Bus port 5671? "Latest version" is too generic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41c38d39-e36b-dd70-9c8c-1fc28a1dba5e
* Version Independent ID: 4a9c6f6b-7627-2d61-402a-a2c405812a61
* Content: [Hybrid Identity requ

[2020-05-05 08:53] luiztauffer opened #54068 "Upgrade to pay-as-you-go"
Hi,

I'm just trying to upgrade my free tier to a pay-as-you-go.
It says I made it and even received an email saying so, but I still can't create the resources I need. What should I do?

[2020-05-05 08:56] luiztauffer commented on #54068
The options appeared after cleaning the browser data. Weird bug.

[2020-05-05 08:56] #54068 closed

[2020-05-05 08:58] srini1978 commented on #52763
Thanks @yorek  . So if I look at this link - https://azure.microsoft.com/en-in/updates/azure-sql-database-hyperscale-change-tracking-support-now-available/ where it says change tracking is available for the hyperscale, it means only the primary replica. is there a plan to make it available for secondary replica and scale out in future ?

[2020-05-05 09:06] MichalLechowski opened #54070 "Setting up CI from repo within arm powershell script for a service as Azure Repos instead External Git?"
Hi,

I've encountered either an issue or a lack of information how to set it up correctly. So the idea is to setup CI from Azure DevOps repo for a deployed app service from azure powershell script but when it's done by powershell script using the example provided here:
https://docs.microsoft.com/en-us/azure/app-service/scripts/powershell-continuous-deployment-github

The outcome is that when I ope

[2020-05-05 09:13] w0ut0 opened #54071 "What are the supported browsers for "Device state""
I set the condition to 'all device state excluding compliant devices'. My testing device is compliant.
I notice that my conditional access policy gets applied in my Chrome browser, but not when using the edge browser.
Is this expected behaviour (can it be documented)? Would using the Chrome 'Windows 10 account extension' solve this?

thanks!

---
#### Document Details

⚠ *Do not edit this section.

[2020-05-05 09:14] DixitArora-MSFT commented on #53688
@seagullt Please see the CORS section of this doc and it also mention the scope of this.

https://docs.microsoft.com/en-us/azure/api-management/api-management-cross-domain-policies#CORS

Do let me know if any other question.

For now we will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we

[2020-05-05 09:20] #54033 closed

[2020-05-05 09:22] neeleshray-msft commented on #54033
@harishmahadevan We have made the required changes and the same would be published soon.

We will be closing this issue now. Thank you for the input.

[2020-05-05 09:22] DixitArora-MSFT commented on #53733
@lokijota PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-05 09:24] neeleshray-msft commented on #54018
@MicrosoftGuyJFlo Could "**[THIS](**url**)**" document be updated as needed ?

[2020-05-05 09:26] neeleshray-msft commented on #53912
@TonywalkerCN
We will be closing this thread now. Let us know if you need further help.

[2020-05-05 09:26] #53912 closed

[2020-05-05 09:28] #53733 closed

[2020-05-05 09:30] neeleshray-msft commented on #54017
@SHAGGAR
When you apply the Azure AD P1 License, it gets applied to the tenant and would not need to be assigned to the users individually.

[2020-05-05 09:32] neeleshray-msft commented on #53844
@rustyautopsy  There is an open Feedback suggestion to add the Azure DevOps to the Trusted list. You can add your suggestions on the same and our engineers would look into it.

Feedback Link - [https://feedback.azure.com/forums/34192--general-feedback/suggestions/39817777-make-azure-devops-agents-an-azure-trusted-service](https://feedback.azure.com/forums/34192--general-feedback/suggestions/398177

[2020-05-05 09:34] neeleshray-msft commented on #53655
@iainfoulds for you input ?

[2020-05-05 09:35] neeleshray-msft commented on #53559
@timmmay We will be closing this thread now. Let us know if you need further help.

[2020-05-05 09:35] DixitArora-MSFT commented on #53890
@Pavan2019 PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-05 09:36] neeleshray-msft commented on #53632
@shoatman Can the document be updated to include this verbiage ?

[2020-05-05 09:37] #53559 closed

[2020-05-05 09:39] #53890 closed

[2020-05-05 09:40] VikasPullagura-MSFT commented on #54066
@XristophD
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-05 09:40] VikasPullagura-MSFT commented on #54066
@bobbytreed
Can you please check and add your comments on this doc update request as applicable.

[2020-05-05 09:41] CHEEKATLAPRADEEP-MSFT commented on #54038
@rawatsudhir1  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-05-05 09:42] CHEEKATLAPRADEEP-MSFT commented on #54048
@ApplesVOranges  Thanks for the question! We are investigating and will update you shortly.

[2020-05-05 09:57] roopasd opened #54072 "Security"
Security Header has a below statement
It is safe to share Azure Data Lake Storage credential passthrough clusters with other users. You will be isolated from each other and will not be able to read or use each other’s credentials.

Standard clusters cannot be shared due to single access users then it is only highly concurrent clusters which can be shared with others. Once shared, how this brings i

[2020-05-05 10:13] phannybawz commented on #53749
Hi Stefan,

Manually bashing out the script seems to have brought some progress, to the level where I now see the following output:

Exception calling "StagePackageAsync" with "3" argument(s): "The parameter is incorrect.
The parameter is incorrect.
"
At E:\ManualVersion.ps1:77 char:1
+ $asyncOperation = $packageManager.StagePackageAsync($path, $null, "St ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-05-05 10:19] SumanthMarigowda-MSFT commented on #53917
@paulmcg-iio  Can you please let us know whether it is recommended to use in a production environment or POC?  May I know what exactly are you trying to accomplish?
Here are some links of Azurite
•	https://github.com/Azure/Azurite  - Github
•	https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite  - MSDN
•	https://hub.docker.com/_/microsoft-azure-storage-azurite - Docker Hub

Co

[2020-05-05 10:23] rvunen opened #54073 "Missing how long it takes to process the data box disk"
What is missing here is how long the Azure team will take to put the data on the disks into Azure. Are we talking about a day, a week or even a month. Especially in case of a Freeze it is important to calculate the total time to process the backup before it can be restored in Azure.
Thanks
Roger

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-05-05 10:23] danimir commented on #53572
Can you try to create a custom role with the following actions:

Microsoft.Sql/servers/databases/read
Microsoft.Sql/servers/databases/topQueries/queryText/action
Microsoft.Sql/servers/read

Please let me know if this worked for you?

[2020-05-05 10:24] mayankprayas commented on #28738
Hi All, i am facing issue with this Settings options. User can consent to apps accessing company data on their behalf, our security team has set it to No , so when users some users are trying to Login it is asking for Admin Consent. What to do to resolve this.

[2020-05-05 10:30] MasterKolka commented on #53968
@cynthn Publisher name and SKU can't be retrieved with Marketplace or Azure portal for creating ARM template.

[2020-05-05 10:40] Wallysantos opened #54074 "Azure doesn't allow to configure Bastion"
I'm trying several times to follow these steps to configure Bastion, but when I'm trying configure SubNet, Azure displays that the IP address as oriented in the step 4 (Your subnet is not contained within the address space for this virtual network: 10.0.0.0/24.).

So, the point is: How do I configure?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-05-05 10:44] paulhasell commented on #53022
Hi Grace,

Unless I'm reading this incorrectly it controls the duration/retention of the lease as opposed to the blob itself.

I require a safe way to delete the blob without it affecting the creation/lease process in the Web Jobs SDK (Function Apps)

Many Regards

PAUL HASELL
DYNAMICS 365 PRODUCT DEVELOPMENT LEAD
m-hance
Tel: 0044 161 406 2335
Mobile: 0044 7917 899 007
Email: Paul.Hasell@m-hance.

[2020-05-05 10:45] abhirockzz commented on #53313
Thanks. But, it is still pretty confusing

1. the pom.xml snippet in the docs (https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-async-java-get-started#GitClone) points to `azure-documentdb` but the git repo points to ``azure-cosmosdb` which is incorrect

[code]
2.  also, I see that there does not seem to be a distinction b/w sync and async as per https://docs.microsoft.com/en-us/azure/cosm

[2020-05-05 10:46] abhirockzz commented on #53313
Please let me know if I am missing something or there is another link I can refer to in order to get this info

[2020-05-05 10:51] paulmcg-iio commented on #53917
This is purely for dev/test automation in our development office. Our
product auto-migrates dormant user files to cloud storage and auto-restores
on demand, and we support a number of different cloud providers, including
Microsoft Azure.

As part of my test automation development (on Ubuntu), I have successfully
integrated with Azure, but I thought Azurite would be a good option for
basic testing

[2020-05-05 11:05] souravmishra-msft commented on #54062
@PaulAbrahamson, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-05-05 11:06] souravmishra-msft commented on #54064
@vivaladan, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-05-05 11:08] souravmishra-msft commented on #54067
@Larryngolog, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-05-05 11:10] simonvane commented on #42106
@markjbrown I respectfully disagree.

I raised this issue in November and have only recently received confirmation. If you look at the history of this issue it shows that various people from Microsoft were unable to answer the question conclusively and that other developers had the same question.

Unless the documentation explicitly mentions autopilot then, because it works differently from static

[2020-05-05 11:10] souravmishra-msft commented on #54071
@w0ut0, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-05-05 11:13] tcvall86 commented on #53940
We've had the same issue since around 29th of April and has had an almost incremental increase in errors.
Looked at the SCIM logs in Snowflake and found

{"statusType":"FORBIDDEN","entity":"client ip-address is blocked by network policy","entityType":"java.lang.String","metadata":{"Content-Type":[{"type":"application","subtype":"json","parameters":{},"wildcardType":false,"wildcardSubtype":false}]}

[2020-05-05 11:17] roberbr commented on #53800
Thanks guys, I figured the auto increment, just didn't realise I needed to delete the mapping row. Kind of obvious now that you point it out :) Many thanks for getting back to me so quickly - truly a pleasant surprise.
________________________________
From: MartinJaffer-MSFT <notifications@github.com>
Sent: Tuesday, 5 May 2020 8:24 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc

[2020-05-05 11:19] blessedwithsins opened #54075 "Rewrite DNS doesn't work"
I'm trying Rewrite DNS following this document, however it doesn't work. Keep getting this error,

[WARNING] No files matching import glob pattern: custom/*.override
.:53
nginx-server.com.:53
[WARNING] No files matching import glob pattern: custom/*.override

coredns-custom configmap:

apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  nginx.server: |

[2020-05-05 11:22] souravmishra-msft commented on #53878
@jonwbstr, Thank you for reaching out. I would like to share some insights regarding MFA States:

- **Registered:** This is for users who have got themselves enrolled for MFA.
- **Unregistered:** This is for users who never got themselves enrolled for MFA.
- **Disabled:** MFA feature is disabled for the following users.

Users who have registered themselves can have the following states:

- **Enab

[2020-05-05 11:30] #53945 closed

[2020-05-05 11:37] jay98014 commented on #53528
@Grace-MacJones-MSFT  did you tag me by mistake?  I think you actually meant to tag @JayaC19 for this issue.

[2020-05-05 11:40] blueelvis opened #54076 "Please explain a scenario with multiple functions in a single Function App"
Hi,

From the above document, it is not clear on how the scaling would work in case of multiple Functions residing in a single Function App. For example, my function app contains the following functions -
1. Function A
2. Function B
3. Function C

Assume that `Function B` receives a lot more requests as compared to `Function A` & `Function C`. Could you please explain to me how scaling would work

[2020-05-05 11:43] smolesen opened #54077 "EventGrid - NGINX Token validation"
Trying to figure out how to validate the token generated by Azure EventGrid when calling a WebHook (with authentication)...

Any guidelines on how to setup NGINX to validate the token?

TIA

/Søren

[2020-05-05 11:48] seagullt commented on #53688
@DixitArora-MSFT I think there may be a misunderstanding between us. I'm not talking about the scope of the CORS Policy. I'm saying that when we tried to add CORS Policy in the product level, we need to add subscription keys in query strings.  But this restriction is only mentioned in the update announcement (https://azure.microsoft.com/en-us/updates/azure-api-management-update-june-19/) but not t

[2020-05-05 11:54] rlevchenko opened #54078 "System Pool and "fake" isolation"
Can you please explain how system pools provide "isolation" of system pods without any configured tolerations? By default, we only have just a new label  kubernetes.azure.com/mode: system and crititical/system pods have the following taints - {"key": "CriticalAddonsOnly","operator": "Exists"} with no configured "system pool" related labels. I understand how to control placement on system pools but

[2020-05-05 11:55] Praveen6867 opened #54079 "Azure API Management new developer portal Sign in Page auto re-loading"
Hi Team,

Azure API Management new developer portal (https://***.developer.azure-api.net/signin )Sign in Page auto re-loading.

**Reproduce steps :**

1) Sign in to the new developer portal (https://***.developer.azure-api.net/signin).
2) Sign out or wait for 20min for the session expire.
 3) Click on refresh or navigate the same sign-in URL in the same tab.

**Browser console**
Refused to execute

[2020-05-05 12:08] #53927 closed

[2020-05-05 12:11] deyanp commented on #53369
@mrbullwinkle @BhargaviAnnadevara-MSFT , thanks a lot!

[2020-05-05 12:11] hmeiland opened #54080 "CentOS driver installation"
With the release of new version of CentOS, the release version has to be specified while installing kernel packages and/or dkms packages:

when doing the kernel install do this

[code]
and when doing the cuda driver install do this

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03790a-1bf9-146d-704b-6816d4750

[2020-05-05 12:12] AndyLiggettEXP opened #54082 "Microsoft Whiteboard (again)"
This has been raised and closed already but not answered.

Microsoft Whiteboard is on the approved app list.  This page states "The approved client apps support the Intune mobile application management feature.".

This is not true because Microsoft Whiteboard does not support MAM.

Please remove it as an approved app (and from this page), or prefably make it actually support MAM.

---
#### Documen

[2020-05-05 12:14] ram-msft commented on #53584
@onurbabat Thanks for the feedback. Raised a PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/113887 for the fix.

[2020-05-05 12:14] deyanp commented on #52649
@qwsaqwe , I have not yet managed to make the private endpoint work (have a ticket open @MS), however be careful - if you use key vault references (in configuration settings) it won't work (traffic will not be routed via subnet/private link), you need to use the Azure Key Vault SDK directly in your code ..

[2020-05-05 12:16] PramodValavala-MSFT commented on #53922
@ParthiKarnan Do you mean to say that tried to run the function by clicking run on the Azure Portal? If so, that is not supported as it tried to [manually trigger](https://docs.microsoft.com/en-us/azure/azure-functions/functions-manually-run-non-http) the function.

Instead, its best to test the function by placing a blob in the container, which is [polled](https://docs.microsoft.com/en-us/azure/a

[2020-05-05 12:17] akbarrasool opened #54083 "Page Navigation"
Can we control page navigation in the new developer portal?

For example, when a user clicks **Subscribe** button of **Product's** details page, it lands into **My Profile**. Can we configure it to stay on the same **Product** page or alternatively navigate to another page on the portal?

Thanks

[2020-05-05 12:19] DixitArora-MSFT commented on #53688
@seagullt I have assigned this to content author for further review and update as appropriate.

[2020-05-05 12:21] ChiragMishra-MSFT commented on #54072
@roopasd Thanks for the feedback. I am assigning the issue to the content owner to update.

@mamccrea Can you please take a look at this?

[2020-05-05 12:27] SubhashVasarapu-MSFT commented on #54065
@ranabanerjee15 ,  We are looking into this query and will update you as soon as possible.

[2020-05-05 12:28] SubhashVasarapu-MSFT commented on #54061
@foranimesh ,  We are looking into this query and will update you as soon as possible.

[2020-05-05 12:33] downstevedown commented on #42878
I find that when I specify the version, it works. When I don't, it fails, and the Key Vault diagnostic troubleshooter tells me that there's no access policy for the consuming app. when you check it, of course the access policy is there, because it just works when you put the version back on the reference.

[2020-05-05 12:40] crower19 commented on #8954
this is a step back. In our company we used the role "Device Administrator" along with Privilegied Identity assigning and making reviews of the role. In addition the local administrator has to activate his role when he needs it. Now this is not the case and we lose this role management which penalties security

[2020-05-05 12:44] DeanGross opened #54085 "Time Condition"
What is the Time condition that is shown in the image above? I can't find any documentation about this new condition

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f26dc-2f8f-ef76-3d20-a0a42d2bbada
* Version Independent ID: a0e971d1-05f2-2c21-06d4-60c087d45c0a
* Content: [Block legacy authentication - Azure Active D

[2020-05-05 12:54] Ericgre commented on #53717
Hello, thank you for the question. If devops uses the kudu rest api, in the case of private endpoint, the kudu is behind the PE too. The DNS for your on prem agent must point webappname.scm.azurewebsites.net to the private ip of the Private endpoint.

[2020-05-05 13:10] KalyanChanumolu-MSFT commented on #54059
@nitin24g Could you please try [this solution](https://github.com/Azure/azure-sqldb-spark/issues/16#issuecomment-510273124) and see if that helps

[2020-05-05 13:13] anlatsko commented on #54028
Thank you!!!

[2020-05-05 13:15] 86mm86 opened #54086 "Update documentation of "Request-Response" template to contact webservice with R"
According to the following thread https://social.msdn.microsoft.com/Forums/en-US/67355f2d-105d-4d93-aa75-e34ae2393229/error-when-trying-to-connect-to-a-webservice-deployed-with-azure-machine-learning-studio-using-rcurl?forum=AzureMachineLearningService , the R template for contacting a webservice deployed with Azure ML Studio should be updated, because the "RCurl" library is not supported anymore.

[2020-05-05 13:16] memildin commented on #50291
Hi @cjlpowers,

All pricing bundles can be managed programmatically. Using either the REST API or Azure PowerShell.

### REST example:
PUT https://management.azure.com/subscriptions/{subId}/providers/Microsoft.Security/pricings/ContainerRegistry?api-version=2018-06-01
Body:
{
            "properties": {
                "pricingTier": "Standard",
            }
}
More details here: https://docs.micr

[2020-05-05 13:17] #50291 closed

[2020-05-05 13:18] lasyan3 commented on #53226
Hello, any news on this subject?

[2020-05-05 13:23] stefan-rapp commented on #53701
Need 2019 support for a customer production scenario. Thx!

[2020-05-05 13:25] UnsnappedKhan8 commented on #53966
@SamaraSoucy-MSFT
Sure well i attempted to link it to my GitHub pull request

[2020-05-05 13:28] mikeTsubasa1 opened #54087 "Nodejs Example would be greatly helpful"
I can see the examples in the following languages but not Nodejs
ASP.NET Core,ASP.NET,Java,Python.
Can the example at this link https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-nodejs-webapp be taken as a NodeJs example for this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddd0377a-

[2020-05-05 13:34] jjbutera commented on #53659
Thank you @Grace-MacJones-MSFT
I guess this is debate on the restrictions between "host" names and "domain" names. It seems that, yes, underscores are invalid for host names, but not necessarily in a subdomain name. Personally, I find underscores rather non-user friendly. Unfortunately, we have a client that wishes to register a sub-domain with the site that contains an underscore like  sub_domain

[2020-05-05 13:36] Peha1906 commented on #46337
You can find the script and it's explanation here: https://github.com/Peha1906/Azure-VPN/blob/master/azurevpnclientconnectionimport. I apologize if this is the wrong way to upload the script to GitHub but code itself should be visible and ready to use.

[2020-05-05 13:37] Dottn opened #54088 "Wrong circled alternative in two screenshots"
Chapter "Provision an Azure Active Directory administrator for your managed instance", step 8, and chapter "Provision an Azure Active Directory administrator for your Azure SQL Database server", step 6 show a screenshot with the button "Set Admin" circled in red.
The text for both these steps say "select SAVE".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-05-05 13:44] vivaladan commented on #54064
Perhaps this is a false alarm. It does work, but there's a delay between uploading the policy and it taking effect. During that delay I had tried it several times and my changes seemingly hadn't done anything, so I searched for a different way to do it. Had I have waited then it would have worked, as it is now.

[2020-05-05 13:44] #54064 closed

[2020-05-05 13:51] porrascarlos802018 opened #54089 "more clarity with screenshots on how to connect to the cluster."
Create a VM in the same Azure Virtual Network (VNet) as the AKS cluster.
can you provide links, references on how to connect to the cluster , do I need to install azure cli, how to list nodes on the private cluster for example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Versio

[2020-05-05 13:51] VikasPullagura-MSFT commented on #53880
@TheAlmIT Thanks for sharing the script. I was able to reproduce the issue, it was due to the names used for frontend NIC a& VM (both have to be same) then you will not run into error.

In the tutorial, you see same name being used. I have shared the feedback to doc author to adjust the article to make this clear.

Thanks for pointing this out, I am attaching part of your script that is modified f

[2020-05-05 13:54] b0cephus commented on #53735
@Karishma-Tiwari-MSFT - I had not seen any documentation that I could refer you to, sorry for the delay. It appears that the WVD pools not showing in the new Azure WVD Management portal was due to the difference between non-Arm vs ARM deployments, and there's a blog post that comments on that - https://techcommunity.microsoft.com/t5/windows-virtual-desktop/new-windows-virtual-desktop-technical-202

[2020-05-05 14:03] steele6599 opened #54090 "Azure Writeback to Workday failing after password change on integration account."
First want to confirm that the same integration account can be used for both the Workday to AD Provisioning and Azure Writeback to Workday?

Our integration account password expired so I was provided a new password and applied the password to both the Workday to AD Provisioning and to Azure Writeback to WD.  I validated the account and saved for both applications.  WD to AD Provisioning has been w

[2020-05-05 14:05] steele6599 commented on #49793
This can be closed now, thank you all for your support.

SelectUniqueValue(Join(" ", NormalizeDiacritics(Join(", ", [PreferredLastName], [PreferredFirstName]))), Join(" ", NormalizeDiacritics(Join(", ", [PreferredLastName], [PreferredFirstName])), Append(Mid([MiddleName], 1, 1), ".")), Join(" ", NormalizeDiacritics(Join(", ", [PreferredLastName], [PreferredFirstName])), Append(Mid([MiddleName], 1,

[2020-05-05 14:16] RohitMungi-MSFT commented on #53892
@viju2008 We have referred your implementation with our team and based on the inputs received, In the current scenario using the SDK there is no option to control the length of the session. The timeouts that are exposed are only the silence timeouts. An alternate solution could be to use the [audio input streams ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-

[2020-05-05 14:19] stgraves opened #54091 "az aks create command throws and error"
The current az aks create command in this doc throws and with the --enable-vmss \ switch;
"az: error: unrecognized arguments: --enable-vmss".

If I remove the command it throws a second error;
"Finished service principal creation[##################################]  100.0000%Operation failed with status: 'Bad Request'. Details: The credentials in ServicePrincipalProfile were invalid. Please see ht

[2020-05-05 14:22] JasonRBeer commented on #46337
Sorry for the slow response on this. Life got in the way :). See the link below for how I am doing this. Essentially it adds new connections or updates an existing connection if it has the same name. I can't just copy the rasphone file to other machines because some people in my organization use multiple VPN connections.

[Deploy Azure VPNs With Intune](https://www.readandexecute.com/posts/deploya

[2020-05-05 14:22] ronortloff commented on #54038
Hello, we have a tech community that would be better suited for sharing this.  https://techcommunity.microsoft.com/t5/azure-synapse-analytics/bg-p/AzureSynapseAnalyticsBlog.

[2020-05-05 14:22] ronortloff commented on #54038
#please-close

[2020-05-05 14:22] #54038 closed

[2020-05-05 14:27] durrante commented on #46337
Nice one! I've been working on this today, a very similar solution indeed. The only issue I have found with just simply importing the rasphone.pbk file is that the VPN is then not present within the network and sharing center but present within the Azure VPN, are you experiencing this with your solution? In the end I created a win32 app to install the azurevpn -i .xml file and its then present wit

[2020-05-05 14:31] DevOpsFu opened #54092 "Wrong units for Bursting limit"
In the `Bursting` section, it reads:

[code]

Shouldn't this be `170 MiB/sec`, as in the table above this section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cd6eb6c-745c-b3eb-8ea8-7fb3be24b607
* Version Independent ID: 93637a78-fc66-6c5d-7845-a4fad0045c7d
* Content: [Select a disk type for Azure IaaS Windows VMs

[2020-05-05 14:34] JasonRBeer commented on #46337
I have not experienced that problem. The connections appear to be showing up in both locations for me. Even if this is occurring, it's not bothering any of my users so it's not bothering me :).

[2020-05-05 14:34] DixitArora-MSFT commented on #54076
Hi @blueelvis Thanks for reaching out. We will review and update as appropriate.

[2020-05-05 14:36] durrante commented on #46337
Happy days! I'm sure this will help a few people out :)

[2020-05-05 14:36] DixitArora-MSFT commented on #54083
Hi @akbarrasool Thank for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-05 14:41] BASFmthibodeaux opened #54093 "Select pricing tier by resource type"
The resource type can be chosen but there is no way to specifically know what happens when the plan is enabled.

Resource Type	Resource Quantity	Pricing	Plan
Virtual machines	0 VMs and VMSS instances	$15/Server/Month
App Service	0 instances	$15/Instance/Month
PaaS SQL servers	0 resources	$15/Server/Month
SQL servers on VMs (Preview)	0 SQL servers on VMs	FREE during preview
Storage accounts	n Stora

[2020-05-05 14:56] GiftA-MSFT commented on #53750
@NephorLabs as shown in this [document](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/python-labeled-data#get-the-analyze-results), here is the expected JSON format of document results.

![image](https://user-images.githubusercontent.com/51332022/81080369-a7e5b100-8ebe-11ea-8446-0e4df98da6a1.png)

[2020-05-05 14:56] HeidiSteen commented on #54058
@DerBasler Thanks for the heads up!  The typo is fixed in the source document and will be reflected in the live branch around 11:00 a.m. PST.  I'll close this issue but if you think that's in error, feel free to reopen.

#please-close

[2020-05-05 14:56] #54058 closed

[2020-05-05 15:08] mrbullwinkle commented on #54040
And just to clarify further, if for example you are running a Linux + .NET Core web app, you can still use Application Insights monitoring but you have to take a manual dependency on the App Insights SDK in your project rather than being able to use the codeless monitoring solution that is offered by the greyed out button.

[2020-05-05 15:11] asinitson opened #54095 "createOptions specified directly in deployment.json spits out validationErrors"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e02119b-094f-29ba-dd91-71702627cfa6
* Version Independent ID: 48c4e621-56be-593e-a68f-9f74168bf0f5
* Content: [Use IoT Edge device local storage from a module - Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-access-host-storage-from-module#f

[2020-05-05 15:12] stgeorgi commented on #54026
This is a client question. I think David from my team is the best to answer.

[2020-05-05 15:16] cmmdesai commented on #54090
@steele6599  Yes, the same integration account can be used for both Workday provisioning jobs. For the Writeback job to work, can you confirm that the Workday account also has permissions to "Work Contact Change" BP? https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial#configuring-business-process-security-policy-permissions Workday recommends using this API o

[2020-05-05 15:18] NickMSW opened #54096 "Need documentation around SingletonMode.Function"
I'm looking for information around how the SingletonMode.Function works and how it differs from SingletonMode.Listener. I ended up going to the GitHub page for that enum: https://github.com/Azure/azure-webjobs-sdk/blob/master/src/Microsoft.Azure.WebJobs/SingletonMode.cs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a

[2020-05-05 15:20] amanmcse commented on #53447
@glomaga I was able to reproduce the issue with built-in user flows. Earlier I was testing with custom policies and sso was working fine even after password reset.
I configured **custom policies** with parameters corresponding to the screenshot you have shared above and SSO worked fine after password reset.
So, with IEF (custom policy) allows SSO after password reset with or without configuring Se

[2020-05-05 15:20] #53447 closed

[2020-05-05 15:21] stgeorgi commented on #53749
I looked at the entire case and just noticed you are using win 10 pro not enterprise. Sorry I did not noticed this yesterday. MSIX app attach works with win 10 ent and win 10 ms.

[2020-05-05 15:28] jluk commented on #42004
@tomgeske for the AKS attach-acr docs feedback

[2020-05-05 15:30] GiftA-MSFT commented on #53837
@v-kydela thanks for bringing this to our attention, it seems this document needs to be updated since `datetimeReference` replaces `timezoneOffset` from V2 and used in POST requests as specified in this [document](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-migration-api-v3#query-string-changes). We will update the document accordingly. Thanks.

[2020-05-05 15:30] nmakarov-artis commented on #53736
I am getting a message:
`standard_init_linux.go:211: exec user process caused "argument list too long`

It gives me this error message only for the pod associated with the ML Service that timed out on deployment, so it is not an error on my side. The script you provided works fine for other pods.

When I just try to get general logs for the pod, I get this error:
`Error from server (BadRequest): c

[2020-05-05 15:32] jmprieur commented on #54087
This is on the backlog, @mikeTsubasa1
#please-close

[2020-05-05 15:32] #54087 closed

[2020-05-05 15:33] SamaraSoucy-MSFT commented on #54086
@86mm86  Thank you for your feedback! Could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-05 15:35] SamaraSoucy-MSFT commented on #54079
Thanks for the feedback! We will review and get back to you shortly.

[2020-05-05 15:37] SamaraSoucy-MSFT commented on #54077
@smolesen  Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-05 15:38] anthonyjmartinez commented on #53652
@dcvtruong -w is a standard GNU Coreutils option to define the column at which line wrapping should be done. -w0 disables line wrapping completely. What system are you trying to do this on?

[2020-05-05 15:38] samcookies commented on #47176
Can you help please ?
Disabling ipv6 isn’t working for me.
May be network policy I have is wrong. What do you have in your environment?

Sent from my iPhone

[2020-05-05 15:40] SamaraSoucy-MSFT commented on #54068
@luiztauffer I am glad that you were able to resolve this issue.

[2020-05-05 15:40] Grace-MacJones-MSFT commented on #53528
yes, it was a mistake. please disregard the tag @jay98014.

[2020-05-05 15:40] 86mm86 commented on #54086
Here is the link: https://docs.microsoft.com/en-us/azure/machine-learning/studio/consume-web-services

[2020-05-05 15:44] PeterCLu commented on #52309
Hi @swanderz and @maarten2015. Automated ML is part of the studio, but it is not part of the designer. The designer is a visual way to author ML pipelines and has a separate errors from Automated ML.

We will look into your issues.

#assign:@nibaccam

[2020-05-05 15:45] PeterCLu commented on #52412
Hi @alanflanders, since we haven't heard back from you in a few days. I'll proceed to #please-close this issue. Please feel free to re-open this issue with additional details.

Thank you.

[2020-05-05 15:45] #52412 closed

[2020-05-05 15:48] ChiragMishra-MSFT commented on #54060
@SeanFeldman Thanks for bringing this to our notice. We are looking into the issue and will update as appropriate.

[2020-05-05 15:49] douglas-smith-avanade opened #54097 "Incorrect IP in PowerShell Output Example"
In section https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-portal#access-the-sql-database-server-privately-from-the-vm, the IP address should be 10.1.0.5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d16533ae-5e19-5769-4c29-581152f8c30c
* Version Independent ID: 3f1b2b47-0bfe-b65c-ad0a-cca

[2020-05-05 15:50] nitin24g commented on #54059
I already tried this. It doesn't work.

[2020-05-05 15:50] nibaccam commented on #52309
@cartacioS looks like the error being thrown is related to autoML forecasting. Can you help here?

[2020-05-05 15:51] GiftA-MSFT commented on #53837
@diberry can you please update document based on feedback above? Thanks.

[2020-05-05 15:54] kevinhartman commented on #53763
@PramodValavala-MSFT thanks for the reply.

I think it'd be reasonable to assume (from a customer perspective) that the platform itself would retry an orchestration if the failure reason is non-determinism during an upgrade. IMO, we should make this text more explicit:

Additionally, is there a documented exception type that will be thrown by the runtime when a non-determinism failure occurs? Can

[2020-05-05 15:59] djpmsft commented on #54048
While you cannot parameterize a trigger at run-time, you can parameterize between different environments (Dev -> UAT -> Prod) using ARM template parameters. When deploying from environment to environment you can change this using secure methods such as key vault secrets. By default, this is already parameterized in the ARM template that is generate when publishing/exporting but can be further cust

[2020-05-05 16:00] djpmsft commented on #54048
Hope this helps! As this is not a doc issue I am going to go ahead and close this issue. Feel free to continue commenting if anything is confusing.

#please-close

[2020-05-05 16:00] #54048 closed

[2020-05-05 16:00] GiftA-MSFT commented on #53736
@nmakarov-artis thanks for your feedback. The product team are aware of this issue and working on a fix. In the mean time, a workaround may be to tarball all of your model dependencies and upload the tarball in place of each individual model. Hope this helps. Thanks.

[2020-05-05 16:02] PeterCLu commented on #53584
Thanks for your report, @onurbabat. The fix has been merged into our docs, and you should see the changes live in a few hours. I'll proceed to #please-close this issue. If you feel that your doc-issue has not been resolved, you can re-open a new issue with additional details.

[2020-05-05 16:02] #53584 closed

[2020-05-05 16:03] PeterCLu commented on #53616
#assign:@luisquintanilla

[2020-05-05 16:09] dcvtruong commented on #53652
MacOS Mojave.

From: Anthony Martinez <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Tuesday, May 5, 2020 at 10:38 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: dcvtruong <david.truong@theagilehub.net>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] syntax error printing the CA certificate in base64 f

[2020-05-05 16:14] itstudy17 opened #54098 "BGP Attributes"
Hi,
 i have some queries related to BGP setup.  UNfortunately , i'm unable to get in the above FAQ.  Could you go through my below queries and advise me please .

 Advise way to change default BGP ASN 65515 or other private ASN ?
 What are the BGP attributes does Azure router support ?
 Could you listed down the  Bgp community strings  for VWAN setup to influence HUB's  BGP route decision ?

---
#

[2020-05-05 16:15] sbugalski opened #54100 "Lack of parsing-wstrust-response-failed troubleshoting error"
During Connecting to Azure AD following error happend which redirects me to the url https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tshoot-connect-connectivity#parsing-wstrust-response-failed

"Unable to validate credentials due to an unexpected error. Restart Azure AD Connecti with the / InteractiveAuth option to further diagnose the issue. () Learn more"

---
#### Document Details

[2020-05-05 16:16] jzoran05 opened #54101 "How to monitor concurrent executions?"
"...so there isn't a set limit on number of concurrent executions"
It would be good to explain how the Function execution concurrency can be monitored - what would be adequate metric to use to monitor it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7ab

[2020-05-05 16:17] sbugalski commented on #54100
Trace snipet:

[code]

[2020-05-05 16:24] PeterCLu commented on #53671
Hi @ramakrse, the samples gallery is constantly being updated. The version number lets you keep track of changes if you clone the folder to your workspace. You should see the clone button for the latest version of the samples

#assign:@sdgilley

Could you update the screenshot? Maybe replace the version number with 1.X.X instead to avoid this in the future?

[2020-05-05 16:28] memildin commented on #51816
This isn't something that's currently available. We are working on it but I can't commit to a precise date at this time.
Thanks for the question.
#please-close

[2020-05-05 16:28] #51816 closed

[2020-05-05 16:34] dstampfli opened #54103 "What about AKS Periscope?"
Using az aks kollect... pulls down container images from "aksrepos.azurecr.io".  I would recommend adding this to the list as an optional configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c6436a35-94b9-6396-3b13-9291f0a17b21
* Content: [Restrict

[2020-05-05 16:35] tynor88 commented on #52993
I can confirm this. See google documentation here: https://support.google.com/a/answer/6262818?hl=en

Under "What is the Recipient attribute which is required in the SAML Response?"

[2020-05-05 16:36] normesta commented on #51670
Hi @D-Moonesinghe - no worries. Thank you for reaching out and we're always interested in hearing your feedback. Thx again.

[2020-05-05 16:36] normesta commented on #51670
#please-close

[2020-05-05 16:36] #51670 closed

[2020-05-05 16:37] stewart2020 commented on #53641
Thanks for getting back to me - good to know about the Free Tier hub.  I have this working.  I have done nothing different, except I have been changing the way I enable things.  If I enable fallback route, and disable the route - then start my IoT device - then disable fallback and enable route, it works.  I receive what I am expecting,  That is the only order of things that seemed to work, but it

[2020-05-05 16:37] Shorinsean opened #54104 "Locking down direct access to the app not addressed"
Hi,
An important gap that has not been addressed in documentation is the need, once the new AAD path has been created, tested, and put into production, to lock down the previous direct paths used by application users. A new secure path to an app is useless if a user (or bad actor) can simply enter the legacy URL of the app (perhaps with IP address instead of an FQDN to sidestep DNS redirection) to

[2020-05-05 16:39] luisquintanilla commented on #53616
Hi @PapillonZ

Were you able to get this working at all or was this a one-time issue that eventually resolved itself when you tried to create a compute again?

@SiddhanthUnnithan @greazer Adding you for visibility. Sounds like it might be an issue on the product side. As we get more info, can you please help with this. Thanks.

[2020-05-05 16:42] DawgFan commented on #53564
@xiao-lix is actively working on this open issue under DevOps Task 7118547.

[2020-05-05 16:43] MGoedtel commented on #53725
@Mexicoder - I'm not following you as step number 1 specifies that you get the values for subscriptionId and resourceGroupName using the values from the AKS Overview page (or the properties page of the selected AKS cluster). clusterName is the shortname of your cluster, which matches the DNS prefix value on the properties page or at the top-left of the page for the selected AKS cluster. You get cl

[2020-05-05 16:43] #53725 closed

[2020-05-05 16:45] acomley commented on #43468
Any update on this? This issue makes it very hard to use CloudEvent schema.

It is also undocumented that the `source` maps to the topic. The previous iteration used `subject` with `topic#subject` format.

[2020-05-05 16:47] Karishma-Tiwari-MSFT commented on #53668
@fmachadopiriz  It could happen if the locally cached copy of docker image "tiangolo/uwsgi-nginx-flask:python3.6" is not the most recent.

Try running the following commands:
docker-compose down
docker rmi  docker rmi tiangolo/uwsgi-nginx-flask:python3.6
docker rmi azure-vote-front:latest
docker-compose up --force-recreate

Please let me know if that helps with the error.

[2020-05-05 16:48] mhyllander opened #54106 "OpenVPN configuration for AAD authentication"
Under "2. Extract the zip file" is stated:

The file contains the following folders: [...] OpenVPN (If you have enabled the OpenVPN and Azure AD authentication settings on the gateway.

Under "Folder contents" is stated:

The OpenVPN folder [...] will not be present in the zip file if Azure AD authentication is selected on the VPN gateway.

The first comment is apparently not true, since the OpenV

[2020-05-05 16:50] PeterCLu commented on #53902
Hi @drmauro, what kind of compute target are you trying to shut down? When you mean shut down, do you mean delete the compute target and remove all corresponding cloud-based resources?

[2020-05-05 16:50] SnehaAgrawal-MSFT commented on #52779
@JonVinson Just checking if you have chance to see previous response.

[2020-05-05 16:55] SHAGGAR commented on #54017
Does this mean that P1 licenses are not required for every user using the NPS server to do RADIUS auth?  Or are the licenses still required for each user and Azure does not enforce the license during authentication?

[2020-05-05 16:58] Mexicoder commented on #53725
@MGoedtel the part that was unclear to me what properties to extract from the -az aks show.
The properties are not a word for word match so it wasn't plain for me to see where I needed to get those values, I'm not a fluent user of aks so I am at a bit of a disadvantage, which is why your explanation has shed some light on what I needed to do. That is what I am hoping to see in the revision.

Thank

[2020-05-05 17:00] vermagit commented on #54063
@hmeiland That info is in some form here: https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-hpc?toc=/azure/virtual-machines/linux/toc.json&bc=/azure/virtual-machines/linux/breadcrumb/toc.json#cluster-configuration-options
Taking your feedback, I've now included text for AvSet as I didn't see that in our docs elsewhere. Probably should also link the VMSS docs to it: https://docs.microso

[2020-05-05 17:02] cesar-younes opened #54107 "Missing backtick in script under Create an Image Version"
The script under Create an Image Version is missing a backtick at the end of the line of the option called PublishingProfileEndOfLifeDate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5d2237c-1349-91a3-fefa-7f9b8f836dcd
* Version Independent ID: f7cc3eb0-dbb6-a4c0-14b7-e12fd7778ff3
* Content: [Create an image from a

[2020-05-05 17:03] SubhashVasarapu-MSFT commented on #53665
@sddev-dotnet , I am wondering if you had a chance to look over my previous reply. Let me know if you have any query or input for us or if we good to close this issue.

[2020-05-05 17:03] juanandmsft commented on #52778
@JoeRistine, you should NOT direct SSMS to \<sqlsvr\>.**privatelink**.database.windows.net, because that breaks the TLS handshake. You should connect to \<sqlsvr\>.database.windows.net instead, and leave Azure DNS do its magic.

When properly configured, Azure DNS should reply with the following when nslookup to \<sqlsvr\>.database.windows.net:
Name: \<sqlsvr\>.privatelink.database.windows.net
Add