[2019-04-05 03:32] KetanChawda-MSFT commented on #28809
@balag0 Thank you for your feedback! We will review and update as appropriate.

[2019-04-05 03:55] CHEEKATLAPRADEEP-MSFT commented on #16348
@irgnosis **Note:** Adding Azure Data Lake Storage Gen1 as additional storage to an existing HDInsight cluster is not a supported scenario.

If you are going to use Azure Data Lake Storage Gen1 as additional storage for HDInsight cluster, we strongly recommend that you do this while you create the cluster as described in this [article](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-had

[2019-04-05 03:57] #16348 closed

[2019-04-05 04:04] YASWANTHM-MSFT commented on #28801
@saulcruz, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-05 04:05] YASWANTHM-MSFT commented on #28779
@tpeiffer , Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-05 04:05] Iain-Morris opened #28817 "Get-AzRecoveryServicesVaultSettingsFile not working with parameters shown"
In setting the vault context, the PS line "$Vaultsettingsfile = Get-AzRecoveryServicesVaultSettingsFile -Vault $vault -SiteRecovery -Path C:\users\user\Documents\" is shown, but fails as additional parameters (e.g. -Certificate) are *required*.  Help for this command also gives examples that error.  The description for the -Certificate parameter is just "{{Fill Certificate Description}}".
Subseque

[2019-04-05 04:11] RohitMungi-MSFT commented on #28811
@kishan19 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-05 04:13] iennae commented on #28395
Can we get additional documentation added about the error so folks understand what's going on when it happens?

[2019-04-05 04:18] CHEEKATLAPRADEEP-MSFT commented on #28781
@mpsingh24 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-05 04:27] CHEEKATLAPRADEEP-MSFT commented on #28799
@patrick-at-atomic-charge Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-05 04:30] shkosugiMS opened #28818 "Entitiy ID mismatch error"
In this procedure, entity ID of Salesforce is set to "https://saml.salesforce.com" .
This is different from entity ID of Azure AD. ("https://&lt;subdomain&gt;.my.salesforce.com")
So it is impossible to configure SSO correctly.

To fix this, must modify entity ID from "https://saml.salesforce.com"
to "https://&lt;subdomain&gt;.my.salesforce.com" after procedure 8.

---
#### Document Details

⚠ *Do

[2019-04-05 04:35] juyama opened #28819 "IOPS and Througput data seems incorrect"
The IOPS and Througput from P50 to P80 are not match following. It seems that the data on this page is incorrect.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-types#premium-ssd

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 978b668c-13f9-a75a-b7ca-17bb59e398a6
* Version Independent ID: 8ab14f42

[2019-04-05 04:36] YASWANTHM-MSFT commented on #21865
@ BigDrums00, please refer the following article on [Automating Azure Login process using PowerShell](https://social.technet.microsoft.com/wiki/contents/articles/52154.azure-powershell-automating-azure-login-for-powershell-scripts-using-azurermcontext.aspx).
Let us know, if you need any further assistance on this.

[2019-04-05 04:39] shashishailaj commented on #28786
@Neenisharma Thank you for your query . We will investigate and update further.

[2019-04-05 04:40] KeiroKamioka0000 opened #28820 "Difference between PowerShell and REST API"
Does PowerShell Command [Backup-AzApiManagement] able to obtain 'Exact' same backup data, compare with REST API [Api Management Service - Backup]?

Also, does API Management Backup will support differential and incremental backup, or is it always full backup?

Thanks

&lt;Backup&gt;

Api Management Service - Backup
https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementservice/backup

[2019-04-05 04:44] AshokPeddakotla-MSFT commented on #28789
@hubez Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-05 04:44] CHEEKATLAPRADEEP-MSFT commented on #13825
@twooley Prefer videos? [Watch this video](https://support.office.com/en-us/article/important-information-about-office-mix-preview-end-of-service-c1c04f84-a7bb-4602-9645-258017155258?ui=en-US&rs=en-US&ad=US) on how to secure data stored in Data Lake Storage Gen1.

This video link is broken and points to [https://support.office.com/en-us/article/important-information-about-office-mix-preview-end-of

[2019-04-05 04:48] #24952 closed

[2019-04-05 04:50] shashishailaj commented on #28792
@anpiskai Thank you for your feedback . We will investigate and update this thread.

[2019-04-05 04:53] shashishailaj commented on #28804
@KeiroKamioka0000 Thank you for your query . We will investigate and update further.

[2019-04-05 04:53] shashishailaj commented on #28818
@shkosugiMS Thank you for your query . We will investigate and update further.

[2019-04-05 04:54] SnehaAgrawal-MSFT commented on #28805
@NateB2 Thanks for the question! We are investigating and will update you shortly.

[2019-04-05 04:55] shashishailaj commented on #28815
@ZollnerdMSFT Thank you for your feedback . We will investigate and update further.

[2019-04-05 04:57] shashishailaj commented on #28814
@ZollnerdMSFT Thank you for your feedback . We will investigate and update further.

[2019-04-05 05:01] sujayvsarma commented on #28342
@BryanTrach-MSFT  Just one question -- How do I now publish to the SiteA / SiteB folders from Visual Studio ?

[2019-04-05 05:06] kishan19 commented on #28811
I tried changing the environments to different such as West US, South East Asia, etc. and it still fails. I am using the standard plan (S0) for my subscription.

[2019-04-05 05:10] jakaruna-MSFT commented on #28819
Thanks for Reporting.

@aungoo-msft  Premiun disk details are not matching for the below documents.
- https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage-performance#premium-storage-disk-sizes
- https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-types#premium-ssd

I think the second link has the latest values. Please suggest

[2019-04-05 05:12] loopfish commented on #28733
It says VMs running Enterprise are supported, however it doesn't explicitly state that the CLI deploys Enterprise (unless I missed that somewhere). That could prove a nasty and costly shock to someone, Enterprise being 10x the price of Standard...

[2019-04-05 05:13] RaghuramP opened #28821 "preferredDataLocation AD on-premises"
If AD Schema is updated with Windows Server 2019, preferredDataLocation is added to user objects. Please update this page with latest information. Will there be a default rule available in newer versions of AADConnect to sync PDL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b285f539-0487-0de5-24ef-89f773a1081d
* Ver

[2019-04-05 05:14] #27500 closed

[2019-04-05 05:18] loopfish commented on #28733
Apologies, I got confused. The CLI assumes you already have the VMs with SQL up and running - it doesn't actually deploy those too. Closing as not relevant.

[2019-04-05 05:18] #28733 closed

[2019-04-05 05:21] RaghuramP commented on #28821
Unable to edit earlier comment, msDS-preferredDataLocation is the attribute name in on-premises AD.

[2019-04-05 05:24] shashishailaj commented on #28758
@githubavi The feature is in active development however at this point an ETA can not be given. You can vote on this feature on the azure feedback link below and check the updates on this in future.  https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19198480-support-exporting-and-importing-conditional-access

Should you have any further query , feel free to let us know . W

[2019-04-05 05:27] DashleenBhandari-MSFT commented on #28587
@nelroosevelt , I will go ahead with the closure of this issue. Feel free to re-open this if you have further queries.

[2019-04-05 05:27] #28587 closed

[2019-04-05 05:27] theonewolf opened #28822 "Linux AAD: "Cannot find the cloud instance""
I just created a new VM instance in the Central India (Pune) region, installed Linux AAD extension, and I am not able to login with AAD logins.

I am able to login using key-based login to the pre-configured admin user (CentOS 7.6 system), and watching `/var/log/secure` gives me the following error messages:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-04-05 05:32] aziegelb commented on #25941
It’s the one referenced above but I got an answer via another channel.  The reference is under a section titled Classic Internal load balancing which I’m told refers to the basic load balancer.  I think the documentation could stand to be a little more clear about that.  All the tech docs that I’ve seen refer to the two LB types as either Basic or Standard.

[2019-04-05 05:32] kick23 commented on #5284
hi Patrick,

When i am running that script i am getting below error

PS X:\test> .\script.ps1

cmdlet script.ps1 at command pipeline position 1
Supply values for the following parameters:
alertName: cpu utilization
resourceGroup: DevOpsTestRG-A
enabled: true
Alert: 'cpu utilization' will receive new status enabled: True.
WARNING: 5:26:35 AM - *** The namespace for all the model classes will change

[2019-04-05 05:33] ManojReddy-MSFT commented on #28439
@sowndarrajandr We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-04-05 05:33] #28439 closed

[2019-04-05 05:44] SnehaAgrawal-MSFT commented on #28728
@pniederlag Thanks again for the feedback! https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-php is for App service on Windows  and https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-php is for App service on Linux. And as you pointed there is difference in App service plan in Windows and Linux.

[2019-04-05 05:46] DixitArora-MSFT commented on #28806
@Bhsha  Just checking if you have gone through this [GitHub samples](https://github.com/Azure-Samples/functions-unittesting-sample) and see if that helps.

[2019-04-05 05:57] msrini-MSFT commented on #28698
@skmkzyk , API supports multiple subnet delegations but the issue is most of the services which is listed today required dedicated subnet.

In future this limitation will be lifted.

[2019-04-05 05:57] #28698 closed

[2019-04-05 06:00] wahyuen opened #28823 "How to automate provisioning of Video Indexer?"
Our project currently heavily automates the provision of various Azure services via ARM templates and Powershell. In the current documentation, I'm currently left unsure as to how one would automatically provision a Video Indexer account and link this to an existing Media Services account WITHOUT having to go through the web portal.

Have I missed something in this?

---
#### Document Details

⚠ *

[2019-04-05 06:02] PramodValavala-MSFT commented on #28688
@olivoarroba Thanks for contributing to MS Docs!

The issue was actually closed by an internal PR earlier but those changes are pretty similar to the ones you've made as well, so no worries.

[2019-04-05 06:10] yll090 commented on #8899
@jwargo Thanks for the feedback. I'm aware that the API will continue to work for some time more afterwards (despite the notorious reputation of Google killing their services). However, this comes at a price -- according to [this source](https://developers.google.com/cloud-messaging/faq),

This is concerning because it forces our app to use an old, unoptimized and less secure version of a dependen

[2019-04-05 06:14] AjayKumar-MSFT commented on #28545
@robertwood62, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-05 06:14] #28545 closed

[2019-04-05 06:15] AjayKumar-MSFT commented on #28594
@munozrickT4S, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-05 06:15] #28594 closed

[2019-04-05 06:16] DixitArora-MSFT commented on #28560
@voicu-matei Just following up here... Hope my previous comment helps.

[2019-04-05 06:16] DixitArora-MSFT commented on #28583
@rashider Just following up here... Hope my previous comment helps.

[2019-04-05 06:24] sahilpnckr123 opened #28826 "WAF V2 General availability"
When will the Application Gateway/WAF v2 be in General availability?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Independent ID: 298a134e-fb27-f16d-bff2-d43eb0f766fd
* Content: [Autoscaling and Zone-redundant Application Gateway in Azure (Public Preview)](https://docs.m

[2019-04-05 06:27] CHEEKATLAPRADEEP-MSFT commented on #28775
@scheek Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

Yes you are correct, I'm unable to create mono script action, and throws the below error message:
![image](https://user-images.githubusercontent.com/44426401/55607336-8b49e780-5799-11e9-8295-55deedc75f3e.png)

@JasonWHowell  Could you please

[2019-04-05 06:28] neeleshray commented on #28815
@jeevansd
Jeevan, could we add the limitations to the document ?

[2019-04-05 06:30] CHEEKATLAPRADEEP-MSFT commented on #28807
@pearcec Could you ask your question in the forums? The audience there would be a better suited to answer your question. [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory).

[2019-04-05 06:34] Bhsha commented on #28806
Yes, but this example doesn't use application settings. That is what I am looking for.

[2019-04-05 06:37] ManojReddy-MSFT commented on #28821
@RaghuramP Thanks for the feedback. I have assigned this to the author to validate this and update the doc accordingly.

[2019-04-05 06:48] jakaruna-MSFT commented on #28520
@sdk-bonsai is there any update

[2019-04-05 06:58] jakaruna-MSFT commented on #28822
@theonewolf Please share the document if you have followed one to create this setup

[2019-04-05 07:01] AndyEdmonds opened #28828 "CORS allowed origins need "https://""
In the section marked "configure CORS" above, the allowed origins must be preceded by "https://" for this to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84aabaf3-e7da-3519-995c-72d36c537843
* Version Independent ID: b35afa8d-a02c-a77a-6831-2b3f6a6c1a7d
* Content: [Customize the user interface of your applicati

[2019-04-05 07:20] angoyal-msft commented on #28608
@paulomarquesc Thanks for your detailed insight.
@alvinvinalon I hope you got what you are looking for.

[2019-04-05 07:20] joeakim opened #28830 "SAML Upload not working"
Hi,

last month the SAML upload worked fine. But since trying it again about 2 weeks ago, it doesn't work anymore. It tells me that the EntityDescriptor and the AssertionConsumerService can't be found. This is due to a "prefix" within the respective XML tags, like "&lt;m:AsserionConsumerService&gt;", etc.

When removing those, the file gets parsed correctly. Afterwards we still have issue completi

[2019-04-05 07:26] angoyal-msft commented on #28531
@PiyalGeorge Thanks for your patience. I have checked internally.
 As per Product Group, they have a fix in flight right now.  Could you please apply the below mitigation till the fix is rolled out.

Mitigation:
1.	Configure the Account to User Wire Protocol to 3.4.  The easiest way to do this is via Azure Portal -> Preview Features
2.	Append the connection string with "&Cosmos DB Account"
Example

[2019-04-05 07:29] var9287 commented on #18508
Still getting the same error even after updating "https://" with tenant address in the CORS entry on storage account
"OpenIdConnectMessage.Error was not null, indicating an error. Error: 'server_error'. Error_Description (may be empty): 'AADB2C90047: The resource 'Blob HTML page URL' contains script errors preventing it from being loaded. Correlation ID: b33e5890-2cf0-4958-a9f7-960e83cbfb66 Timest

[2019-04-05 07:30] angoyal-msft commented on #28416
@cloudmelon Yes your understanding is correct. I hope your concern has been resolved.
So, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-05 07:30] #28416 closed

[2019-04-05 07:34] StefanSchoof opened #28831 "Admin password in deployment.template.json"
Under [Build and push images](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-visual-studio-develop-module#build-and-push-images) the point 3 says I have to add my acr admin account information into this file. How secure is this? If I understand correctly this are the credentials that the Devices are using to get images. Can every admin on a device read this values (and afterwards upload an

[2019-04-05 07:36] dcbrown16 opened #28832 "About role recycling"
Is there any way to trigger a recycle intentionally?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 848d0d7c-395b-7b73-4a3d-68317830e26b
* Version Independent ID: 870f718f-6d2c-413d-5fb6-9e03d329679e
* Content: [Application and service availability issues for Microsoft Azure Cloud Services FAQ](https://docs.microsoft.c

[2019-04-05 07:37] msrini-MSFT commented on #28826
@sahilpnckr123 , Thank you for your interest. GA dates cannot be shared on this forum. Documentation will be updated with all details along with known issue on GA.

[2019-04-05 07:37] #28826 closed

[2019-04-05 07:40] DashleenBhandari-MSFT commented on #27875
@dreic, The startup file would be incorporated into our docs by next week. Please let us know if you have further queries.

[2019-04-05 07:41] msrini-MSFT commented on #28696
@AnisioMoreira , I will go ahead and close this issue. please tag me if you have any questions/ thoughts

[2019-04-05 07:41] #28696 closed

[2019-04-05 07:56] Leon99 commented on #28304
Thanks @BryanTrach-MSFT. It would be more useful though if you actually specified what applies where, otherwise it's still up to the user to try (even if they read the note at the top).

[2019-04-05 08:06] biste5 opened #28833 "Broken link"
Under
https://docs.microsoft.com/en-us/azure/active-directory/b2b/hybrid-cloud-to-on-premises#license-considerations
The hyperlink
[Client Access Licenses and Management Licenses](https://www.microsoft.com/licensing/product-licensing/client-access-license.aspx)
sends to a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-04-05 08:13] PramodValavala-MSFT commented on #28572
@jn-altius That's great! Glad it was resolved.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-05 08:13] #28572 closed

[2019-04-05 08:27] tinod opened #28834 "Clarification on required privileges"
Hi,

Can we clarify which permissions/privileges someone needs to deploy this solution? This has 2 options; when you deploy it using existing resources (e.g. Automation Account, Log Analytics Workspace and Azure Monitor) or when you deploy it with new instances of these services.

I understand that in order to create a new Automation Account with a RunAs connection, one has to be in the Owner role

[2019-04-05 08:51] grzegorzwierzbicki opened #28835 "New Plans"
Please add coverage for ID:
5136a095-5cf0-4aff-bec3-e84448b38ea5
33c4f319-9bdd-48d6-9c4d-410b750a4a5a

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing -

[2019-04-05 09:06] RohitMungi-MSFT commented on #28811
@kishan19 If you do not see any details in the portal when the upload is done it could be that the transcript file and audio files are not correctly formatted or the text is not correctly normalized.

The details section should show something as seen in the below screen shot?

![image](https://user-images.githubusercontent.com/46958063/55615494-3d3edf00-57ad-11e9-92d5-830cd0112bae.png)

Can you co

[2019-04-05 09:10] cloudmelon commented on #28416
Thanks :)

[2019-04-05 09:22] SnehaAgrawal-MSFT commented on #28805
@NateB2 Thanks again for the question! For specific services, refer to Limitations During preview, service endpoint policies are not supported for any managed Azure services that are deployed into your virtual network.
You may refer this doc: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoint-policies-overview

[2019-04-05 09:26] theonewolf commented on #28822
We used this:

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad

[2019-04-05 09:29] theonewolf commented on #28822
The command to install the extension appeared to succeed, and shows as installed even inside the VM:

[code]

[2019-04-05 09:31] NateB2 commented on #28805
I'm not using any service endpoint policies. I'm just enabling the service endpoints to the same subnet as I've assigned the app service vnet preview.

In summary, I restricted the key vault and storage account to a subnet, enabled the service endpoints (not the policies, just the service endpoints) for key vault and storage account in that subnet, and then I used the vnet preview wizard in my app

[2019-04-05 09:38] AshokPeddakotla-MSFT commented on #28693
@kgremban Please check this and provide your insights.

[2019-04-05 09:41] tinodo commented on #28790
It looks as if Az.Storage 1.1.0 included the Microsoft.Azure.Cosmos.Table.dll, and Az.Storage 1.1.1 does not, hence the problems.

[2019-04-05 10:10] jfalameda opened #28836 "Add examples of the shortcut snippet using appsettings.json"
Please, add information about how to add the shortcut on appsettings.json.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Independent ID: 1c2ce65b-5bd3-ca40-a487-ca5059f2c887
* Content: [Use the Azure storage emulator for development and testing](https://docs.microsoft.com

[2019-04-05 10:10] lbenassi commented on #21653
Is there any news about it? Thanks

[2019-04-05 10:14] YASWANTHM-MSFT commented on #28836
@jfalameda, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-05 10:21] femsulu commented on #28641
@rockboyfor any update please?

[2019-04-05 10:23] Mushududu opened #28837 "How To 2"
Hi there is ni details to develop the API in Android Studio are going to resolve this problem ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3604fe7e-46a3-6f5b-41e0-d3e69e01c8ae
* Version Independent ID: 9415c8a5-177e-fe11-7198-3d97ed438dc8
* Content: [What is the Speaker Recognition API? - Azure Cognitive Services](

[2019-04-05 10:23] CraigCloudITPro opened #28838 "The default probe gets the public key from the default SSL binding..."
This needs to clearly mention if you're running multiple Websites with multiple SSL's that you NEED to have at least a default Site as well bound to a specific Certificate with SNI un-ticked, or communication will not happen between the app gateway and the Virtual Machine.

The SSL cert using the default Site will need to be added into the back-end httpsettings on the App Gateway as well.

---
###

[2019-04-05 10:24] robaker commented on #28149
@PatrickFarley Thanks Patrick (and team) - good to know.

[2019-04-05 10:31] KasamShaikh commented on #28750
Thanks for responding.

I am able to log in for GitHub, but once after successful login, it prompts 404 error, as seen below,

![image](https://user-images.githubusercontent.com/22021538/55621726-f3112a00-57bb-11e9-9cf9-6a680aa8c6fd.png)

For OneDrive,

![image](https://user-images.githubusercontent.com/22021538/55621745-002e1900-57bc-11e9-8c58-8400710f7bef.png)

For Dropbox,

![image](https://use

[2019-04-05 10:37] ManojReddy-MSFT commented on #28833
@biste5 I am able to access the link without any issue. Can you confirm if you are still getting a 404 ?

[2019-04-05 10:40] RohitMungi-MSFT commented on #28837
@Mushududu Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-05 11:00] DashleenBhandari-MSFT commented on #28823
@wahyuen , Thanks for raising this issue. We will investigate and update you.

[2019-04-05 11:00] ManojReddy-MSFT commented on #28828
@AndyEdmonds Thanks for your feedback.We will investigate and update the thread.

[2019-04-05 11:02] swinghouse opened #28839 "The requested URI does not represent any resource on the server. ErrorCode: InvalidUri"
When we issued the following command: `az storage blob upload-batch -s . -d \$web --account-name <storage account name>`

... we got this error message: The requested URI does not represent any resource on the server. ErrorCode: InvalidUri

What are we doing wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1acd3d

[2019-04-05 11:03] tinodo commented on #15181
I'm experiencing the same thing. Template deployment fails with a cryptic "Conflict" error message.
Not sure if the original owner ever resolved the issue, but apparently the issue might still exist.

[2019-04-05 11:04] leszekkoc opened #28840 "[CosmosDb] Set create collection from Powershell without throughput"
I am creating database from PowerShell with header:

`$header = @{authorization=$authHeader;"x-ms-version"=$DocumentDBApi;"x-ms-date"=$dateTime;"x-ms-offer-throughput"=$ProvisionThroughputRU }`

Then I am trying to add collection that will use throughput of the database:

`$header = @{authorization=$authHeader;"x-ms-version"=$DocumentDBApi;"x-ms-date"=$dateTime;"Accept"="application/json"  }`

The

[2019-04-05 11:08] ManojReddy-MSFT commented on #28835
@grzegorzwierzbicki Thank you for your feedback . I have assigned this to the to the content author to investigate and update as appropriate.

[2019-04-05 11:10] SadiqhAhmed-MSFT commented on #28834
@tinod Thanks for the question! We can have this clarified by our automation content developer.

@georgewallace Could you please help clarify this query?

[2019-04-05 11:12] SadiqhAhmed-MSFT commented on #28817
@Iain-Morris Thanks for the question! We will investigate this issue and get back to you soon.

[2019-04-05 11:21] PiyalGeorge commented on #28531
@angoyal-msft , Thanks for your response. Will be eagerly waiting for your solution.

[2019-04-05 11:23] tinodo commented on #28834
The person deploying the solution might not be the Owner of the subscription. Also, resources like Azure Monitor will exist and perhaps the Azure Automation Account and the Log analytics workspace will also exist. Which permissions would the person deploying the solution need in order to finish successfully.  Or is it simple; you need to be a Subscription Owner, otherwise it fails.
I'm looking for

[2019-04-05 11:25] mbfgit commented on #28661
Hi @SaurabhSharma-MSFT,  I work with @nfegan

We're using https://login.microsoftonline.de/common/oauth2/v2.0/authorize to get the authorisation code and https://login.microsoftonline.de/common/oauth2/v2.0/token for code redemption / token refresh.

We had to prepend https://graph.microsoft.de/ to the scopes we were asking for in those requests - e.g. https://graph.microsoft.de/Files.Read.All

We

[2019-04-05 11:31] DixitArora-MSFT commented on #28806
@craigshoemaker Can you please provide your inputs here.

[2019-04-05 11:32] SnehaAgrawal-MSFT commented on #28595
@munozrickT4S We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-05 11:32] #28595 closed

[2019-04-05 11:46] juho-hanhimaki opened #28841 "Is Visual Studio 2019 supported?"
Visual Studio 2019 has been released, but the documentation still references to VS 2017 in multiple articles. Is Visual Studio 2019 already fully supported for development? Or will it be supported in future releases?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e79576-36ff-8e39-9d21-adc897608b73
* Version Independe

[2019-04-05 11:59] AshokPeddakotla-MSFT commented on #28789
@hubez You can use Docker's container create options to specify memory limits for edge hub (or any module). See Memory setting under Container create options at https://docs.docker.com/engine/api/v1.18/:

[code]
Reference: https://stackoverflow.com/questions/54343480/iot-edge-hub-testing-for-offline-storage?rq=1

https://github.com/Azure/iot-edge-v1/issues/537

Let us know if you have further ques

[2019-04-05 12:03] sebhurleyhte opened #28842 "Github.com or Active DIrectory for GitHub Enteprise"
Searching for GitHub on Enterprise Application Gallery provides two options "GitHub.com" and "Active Directory for GitHub Enterprise". Not clear which one to use :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 156e3923-74d6-432f-c5a0-b905520d4e7d
* Version Independent ID: aeca7d10-15e2-9e42-74bc-5309a5108c05
* Conten

[2019-04-05 12:03] MScarno opened #28843 "Purge are case sensitive"
There is no reference on that doc that the path is case sensitive. If we are not respecting the case, the request succeeds but the content is not pre-loaded.

Can you please clarify this in the doc ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78647b5d-18f1-f152-908b-b206a3f0b94a
* Version Independent ID: c06049c9-9

[2019-04-05 12:13] MrXLR8 commented on #16461
Step 12. using WindowsAzure.Messaging; not available for Xamarin.Forms platform. Replaced with NotificationHubClient. Doesn`t work, no notifications are coming, code won`t even enter to any of declared classes.

[2019-04-05 12:17] AshokPeddakotla-MSFT commented on #28831
@StefanSchoof Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-05 12:18] Joepvtilburg commented on #27773
Still the same error.

"error": { "code": "VMExtensionProvisioningError", "message": "VM has reported a failure when processing extension 'dscextension'. Error message: \"DSC Configuration 'FirstSessionHost' completed with error(s). Following are the first few: PowerShell DSC resource MSFT_ScriptResource failed to execute Set-TargetResource functionality with error message: One or more errors occu

[2019-04-05 12:25] dblaszyk opened #28844 "Proof of possession for a "real" certificate, not self signed"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90f2e322-a9a1-8887-58ce-324eab7661d2
* Version Independent ID: 20974d4d-f6d8-9ba5-9985-e8f803e9a36f
* Content: [Tutorial for X.509 security in Azure IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-security-x509-get-started#createcerts)
* Content Source: [art

[2019-04-05 12:26] dblaszyk commented on #28844
How does one create a Proof of Possession given a certificate from a customer.  One that is not self-signed, but provide by a CA.

[2019-04-05 12:28] ManojReddy-MSFT commented on #28792
@anpiskai subscription and management group were mentioned just as an example. However I have updated the doc as suggested and it will be published shortly.

Thanks again for reporting this.

[2019-04-05 12:28] #28792 closed

[2019-04-05 12:29] loopfish opened #28845 "File Sync not compatible with servers running Failover Clusters without cluster volumes?"
I have two VMs with a failover cluster on them. The cluster is only used for some generic services, and does not have any storage assigned. I am trying to enable File Sync for folders on the data disk attached to each VM  ('E:\Infracast\FileProcessing'), but provisioning fails with the following error:

"The operation 'Create server endpoint' failed with the following error: No active cluster node

[2019-04-05 12:34] jakaruna-MSFT commented on #28822
@theonewolf I tried out and got the same result. I will check and let you know.

[2019-04-05 12:36] OffColour commented on #24184
@vhorne Hi, I raised a support case, but because it's in preview with no support they didn't really do anything with it. Is there a proper bug reporting mechanism for products in preview/beta?

[2019-04-05 12:37] ianhlee commented on #28772
Thanks for the quick response! Seems like your link is not specifically for Kubernetes. Can you please confirm?

I'm not planning to attach my screenshot for now. Thanks for your effort in making sure, though!

[2019-04-05 12:37] AshokPeddakotla-MSFT commented on #27883
@njbuch We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-05 12:37] #27883 closed

[2019-04-05 12:38] tfitzmac commented on #28395
Users should not be seeing this error now. The cause within Azure has been mitigated. We are somewhat selective on which errors we include in this article because there are far too many error codes to include all. If this error code continues to be returned at a high rate, I will add it.

[2019-04-05 12:38] jakaruna-MSFT commented on #28845
@loopfish Can you give me the document which you are referring to?

[2019-04-05 12:38] tfitzmac commented on #28395
#please-close

[2019-04-05 12:38] jakaruna-MSFT commented on #28844
@dblaszyk Can you give me the document which you are referring to?

[2019-04-05 12:38] jakaruna-MSFT commented on #28840
@leszekkoc Can you give me the document which you are referring to?

[2019-04-05 12:40] jakaruna-MSFT commented on #28820
Thanks for the question! We are investigating and will update you shortly.

[2019-04-05 12:45] gtrudel commented on #28749
@femsulu Will try to give you the best information for you to document. Basically we are implementing MFA with Microsoft AzureAD and our product here at Thales.
We have our own IDP that works with Azure now for Multi-factor Authentication.
The issue I have right now as I test the feature is that I am using MFA with a user, and once the process completes (basically successful Authentication), when

[2019-04-05 12:55] dblaszyk commented on #28844
The docs overall work against a dev/test environment, we are trying to accomplish against a production environment, with certificates provided to us by the customer.
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-security-x509-get-started#createcerts

From: jakaruna-MSFT <notifications@github.com>
Sent: Friday, April 5, 2019 8:38 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.c

[2019-04-05 12:56] leszekkoc commented on #28840
https://docs.microsoft.com/en-us/rest/api/cosmos-db/create-a-collection

[2019-04-05 13:02] dblaszyk commented on #28844
In particular, here is a direct reference:

Now, you need to sign this Verification Code with the private key associate with your X.509 CA certificate, which generates a signature. There are tools available to perform this signing process, for example, OpenSSL. This is known as the Proof of possession<https://tools.ietf.org/html/rfc5280#section-3.1>. Step 3 in Managing test CA certificates for sam

[2019-04-05 13:02] larryms opened #28847 "docker-bridge-address not documented"
The option '--docker-bridge-address' is used/required in the example which creates the aks cluster, but it is not documented. eg what range to choose? how large a range? can it overlap with other address space in the env? etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719f4010-810f-b3c7-d807-222b39b20e20
* Version

[2019-04-05 13:03] biste5 commented on #28833
I do confirm the error.
This is where I end up by clicking on the link
![image](https://user-images.githubusercontent.com/8156032/55629612-e7216a00-57b3-11e9-95b4-f3d4e578615f.png)

if it can further help.. this is what's in my URL from the screenshot
https://www.microsoft.com/library/errorpages/smarterror.aspx?correlationId=GumYimKeKkekDp3d.0.3.0

[2019-04-05 13:03] hitesh1907nayyar commented on #12282
Hi,
Is this issue resolved. Can i enable auto scaling in AKS through terraform ?

[2019-04-05 13:04] Jnchi commented on #27943
Just for future reference, here is the outcome of this issue.

First, I created a new application for testing.

I used <https://login.microsoftonline.com/common/oauth2/nativeclient>, for the **Suggested Redirect URL** under the _Authentication_ tab.

Next, I set **Default Client Type** to `Yes`.

API Permissions are as follows:

[code]
Finally, for the [device authorization][1] request, the **scop

[2019-04-05 13:05] hitesh1907nayyar opened #28848 "Autoscaling via terraform"
Hi,

I will like to know if autoscaling on azure kubernetes can be enabled via terraform ? Has the issue 12282 being fixed ?

[2019-04-05 13:14] DaveAlberto opened #28849 "link to zip file broken"
Link to zip file, leads to github repo, with no documentation, after copying all the solution files locally the scripts do not run, looking for functions in DLL's that are not registered?  Unable to complete the Service Fabric AAD integration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51489a2b-fef9-86d8-117e-200d81

[2019-04-05 13:18] pwitvoet opened #28850 "Contradiction regarding post-trigger failure behavior"
The following part of the documentation is contradicting itself:

The first sentence implies that a failing post-trigger will prevent the item from being created. The the second sentence contradicts this by saying that the item _will_ be created. A previous version of the document said 'no Cosmos DB item will be created and an exception will be returned'.

---
#### Document Details

⚠ *Do not edit

[2019-04-05 13:36] surajmb commented on #24475
@GauravLad12 You can set the X-Forwarded-For header with an empty value to remove it when the request is forwarded to the backend server.

[2019-04-05 13:37] githubavi commented on #28758
Thanks, for the update.
I don't have any further query.

-Avi

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Friday, April 5, 2019 10:54:32 AM
To: MicrosoftDocs/azure-docs
Cc: Avijit Samanta; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Where is the powershell commands or Api or SDK for Azure Active Dir

[2019-04-05 13:47] vhorne commented on #23204
@TimorKalerman
The AppGW itself does not do compression at the gateway. However, if the backend is doing compression then it is proxied back to the user correctly.

[2019-04-05 14:11] sbalogunpcgus opened #28852 "Maximum Validity for Signing Certificate"
Is 3 years the maximum validity period that can be set. When I use the calendar tool to pick an expiry date, every date after the 3rd year is dimmed out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 431fee33-ba1b-2d89-0fb5-64c49eecfbd0
* Version Independent ID: ec2993d0-bf2d-30f7-80c6-78fe7ab869b4
* Content: [Manage

[2019-04-05 14:14] digitalhuman commented on #10308
Yeah really fucking annoying. Key 1, Key 2, what the hell is that in terms of self-explaining variables..........

[2019-04-05 14:28] vhorne commented on #23575
@solidcloudio
No, not with the v1 SKU. But this capability will be added to the v2 SKU soon.

[2019-04-05 14:30] vhorne commented on #23575
#please-close

[2019-04-05 14:33] msrini-MSFT commented on #28843
@MScarno , Thank you for your feedback. I will take a look and get back to you.

[2019-04-05 14:34] shashishailaj commented on #28166
@jaypatrick I have created a complete lab and tested two scenarios with a wildcard certificate and was successful to configure a new ADFS server both the times using the [current AD connect version 1.2.70.0](https://www.microsoft.com/en-us/download/details.aspx?id=47594) as per the following options marked in red.

![image](https://user-images.githubusercontent.com/532022/55633970-14354300-57db-11

[2019-04-05 14:34] #28166 closed

[2019-04-05 14:35] vhorne commented on #14812
@mgfink
These SQL rules have been added.

[2019-04-05 14:49] marc-fom commented on #28738
This was one year ago, so what does Microsoft do currently allow or block?

[2019-04-05 14:53] loopfish commented on #28845
@jakaruna-MSFT
This document:
https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-planning#failover-clustering

It does not mention what to do if you are not using cluster storage, or if you just want to treat each node as an individual endpoint...

[2019-04-05 14:53] SriramAvatar opened #28854 "Imports missing in the Compute target creation"
Can you please add the imports to the dirst Code block in the "Azure Machine Learning Compute" section.
                        from azureml.core.compute import ComputeTarget, AmlCompute

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99cbeb4-d519-dfcf-c3fc-d3828d4c6f4d
* Version Independent ID: a4658aec-a0e6-174c-5264

[2019-04-05 14:54] hansmbakker commented on #28461
@Mike-Ubezzi-MSFT

That is exactly what I'm trying: routing the calls from app services through the vnet to a service endpoint that is also connected to the vnet

`app service --> vnet --> service endpoint --> cosmosdb`

This is where my confusion comes from. From the first quote it looks like it could/should work, but from the second quote it looks like it cannot work.

What is the way to go, the

[2019-04-05 14:57] RohitMungi-MSFT commented on #28642
@wilsonchua20 If you do not have any other queries we will proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-05 14:57] #28642 closed

[2019-04-05 14:59] RohitMungi-MSFT commented on #28643
@IvanParedes365  If you do not have any other queries we will proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-05 14:59] #28643 closed

[2019-04-05 15:01] RohitMungi-MSFT commented on #28837
@Mushududu Could you please provide us more details of the issue that you are referring to?

[2019-04-05 15:05] shashishailaj commented on #28830
@joeakim Thank you for your query . We will investigate and update the thread.

[2019-04-05 15:06] shashishailaj commented on #28842
@sebhurleyhte Thank you for your query . We will investigate and update on this.

[2019-04-05 15:07] shashishailaj commented on #28852
@sbalogunpcgus Thank you for your query . We will investigate and update the thread accordingly.

[2019-04-05 15:21] chrisjrisch commented on #28657
Apologies if my question wasn't clear. If they have "Process database" permissions, wouldn't you expect them to see the database in SSMS and be able to process the database? Wondering if they need Azure IAM permissions.
Thanks

    On ‎Thursday‎, ‎April‎ ‎4‎, ‎2019‎ ‎04‎:‎34‎:‎01‎ ‎PM‎ ‎PDT, MartinJaffer-MSFT <notifications@github.com> wrote:

I have tested with a coworker. I assigned my coworked

[2019-04-05 15:21] MicahMcKittrick-MSFT commented on #12282
@hitesh1907nayyar as Iain mentioned at the moment this is not part of the terraform provider support for AKS. You can also leave feedback using the link in the above comment if it is something you would like to see.

[2019-04-05 15:22] GreggRevak opened #28855 "Audit mode logs"
When using Audit mode, it would be helpful to know what to look for in the logs and which logs to look in. We implemented this in Audit mode but it is not clear to us if this is working since we're not sure what to look for in the logs. When Audit mode is working, we should see events that look like this: &lt;describe events&gt; in the &lt;define log&gt; log.

---
#### Document Details

⚠ *Do not

[2019-04-05 15:25] MicahMcKittrick-MSFT commented on #28849
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-05 15:25] MicahMcKittrick-MSFT commented on #28847
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-05 15:26] MicahMcKittrick-MSFT commented on #28841
Thanks for the question! We are investigating and will update you shortly.

[2019-04-05 15:26] MicahMcKittrick-MSFT commented on #28832
Thanks for the question! We are investigating and will update you shortly.

[2019-04-05 15:30] blabrom opened #28856 "Nice walkthrough but having a problem"
Hi,

I am having trouble getting the ReadTweetsFromEventHub to work. The code runs OK but in the output window I just get batch 0 with no data coming through. Any help greatly appreciated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4137b0cc-898b-b25c-6321-fe98f22f803d
* Version Independent ID: 4ec1e187-7e69-e5da-b6d

[2019-04-05 15:32] MicahMcKittrick-MSFT commented on #28772
@ianhlee yes apologies. Seems I got ahead of myself and looked up ACI and AKS :)

I did check my actual AKS cluster and I still didn't see anything that I would consider private information.

As far as the portal goes, we do azure Access Control (IAM) that allows you to assign users specific roles and access to resources.

https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assig

[2019-04-05 15:36] MicahMcKittrick-MSFT commented on #28793
@cynthn @axayjo could either of you take a look at this one? Seems I cannot assign @axayjo directly so adding you @cynthn

[2019-04-05 15:36] Mike-Ubezzi-MSFT commented on #28461
@hansmbakker It has to do with inbound connectivity versus outbound connectivity, and the use of Site-to-Site/Point-to-Site VPN and Express Route scenarios for the creation of private addressing to extend on-premise to Azure, in cases where the VNet service endpoints are private. Not necessarily VNet to VNet integration, which is what you are attempting to implement. I agree the documentation need

[2019-04-05 15:38] MicahMcKittrick-MSFT commented on #28841
@juho-hanhimaki appears VS 2019 is still in preview although you can download it and try it out.

Until VS moves into GA and out of preview the docs will still reference 2017 and thorough testing has been done. So you can likely use VS 2019 to manage your SF cluster but at this time the official supported versions are still 2015 and 2017.

CC @aljo-microsoft for awareness.

[2019-04-05 15:43] MicahMcKittrick-MSFT commented on #28847
@larryms the networking restraints should follow the standard Azure Vnet Properties which you can find here

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq

So in that case, The smallest supported subnet is /29, and the largest is /8 (using CIDR subnet definitions).

As per overlapping, each Vnet is isolated from each other. So the address space can be basically whatev

[2019-04-05 15:43] juho-hanhimaki commented on #28841
@MicahMcKittrick-MSFT VS 2019 is absolutely in GA. Was released April 2nd.

[2019-04-05 15:46] MicahMcKittrick-MSFT commented on #28849
@DaveAlberto fair feedback. It does take a bit more effort to download the files if you are not used to working with GitHub repos.

I will assign to the author to see if we can make this step more clear.

As per the issues you are seeing with setting up the cluster. What error are you getting specifically? Can you share a screenshot?

[2019-04-05 15:48] MicahMcKittrick-MSFT commented on #28841
@juho-hanhimaki okay I must have seen a different page then. Regardless, that was only 3 days ago so not sure how long until the docs will be updated to reflect that.

I will assign to the author to track and provide further insight.

[2019-04-05 15:49] diberry commented on #26700
@RohitMungi-MSFT Doc for turkish is updated to be more specific that Turkish for prebuilt entities is not supported. Should this be closed?

[2019-04-05 15:51] larryms commented on #28847
@MicahMcKittrick-MSFT Per my reading of the these docs, I don't believe the --docker-bridge-address is creating a VNET; rather it's creating a virtual bridge network in the docker space.
To ask the question a different way:  the other three networking parameters ( --service-cidr, --dns-service-ip, and --pod-cidr ) are explained/documented in this document, but the --docker-bridge-address is not.

[2019-04-05 15:51] MicahMcKittrick-MSFT commented on #28832
@dcbrown16 we have information on why a role might recycle

https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-troubleshoot-common-issues-which-cause-roles-recycle

But I am not aware of a way to intentionally recycle it in this manner. What is your use case? Can you elaborate?

[2019-04-05 15:52] MicahMcKittrick-MSFT commented on #28737
@TommyQuality I will close for now but if you have additional feedback just let me know and we can always reopen and continue the discussion.

[2019-04-05 15:52] #28737 closed

[2019-04-05 15:54] larryms commented on #28847
perhaps linking to this document would be useful (https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni) where there is a little bit more documentation of this parameter

[2019-04-05 16:00] RohitMungi-MSFT commented on #26700
@diberry Thanks for updating the documentation. For the original issue with fr-fr I see that personName, GeographyV2 is still supported as per documentation.

![image](https://user-images.githubusercontent.com/46958063/55640500-5c5b6200-57e9-11e9-9dd7-9ac913b7ff09.png)
![image](https://user-images.githubusercontent.com/46958063/55640810-01763a80-57ea-11e9-954e-267cf134ed15.png)

But, I do not see

[2019-04-05 16:03] JamyJamal opened #28859 "Please make it clear that you need to Advertise your routes to Azure first!"
It isn't clear that your organisation's router needs to advertise its routes via BGP before Azure will advertise its routes.
Please can you make this clear in your private peering section as it really is not clear at all from the advice here!

Thanking you much!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39ff12ef-1

[2019-04-05 16:08] mrbullwinkle commented on #27173
The requested updates have been merged internally. They will go-live by 11:00 AM today (UTC-7).

[2019-04-05 16:08] mrbullwinkle commented on #27173
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-04-05 16:15] paulomarquesc commented on #28790
Hi @tinodo , the problem is that PS Gallery is publishing an old (3 months old) preview version which is making this module to be installed as latest if allow preview setting is enabled. I reached out to the PG to unpublish that version from the gallery.

[2019-04-05 16:18] #27173 closed

[2019-04-05 16:20] joshlrogers opened #28860 "This seems out of date or not encompassing enough"
In attempting to run this in C# and using the attribute as documented above [return: ServiceBus(...)] this causes functions to fail saying the function couldn't be indexed.  However, if I move the attribute to an argument level attribute in the Run() function it works.   I think this page might be out of date with current implementations.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-04-05 16:29] elamje opened #28861 "Add Missing CPU Clock Speeds to Windows VM Guide"
- Azure Windows VM size guide
- https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes
- In the Dsv3 and Dv3 series information header, i.e. the paragraph above the specs breakdown table, these include the CPU clock speeds on the server. However, almost none of the other VM series include this information. Please add this if possible, as it directly affects customers VM choice.
- Du

[2019-04-05 16:32] DaveAlberto commented on #28849
The function calls in the scripts from helper dll's aren't being recognized..

Dave Alberto
Cloud Solution Architect
Microsoft

Get Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: Micah <notifications@github.com>
Sent: Friday, April 5, 2019 11:47:06 AM
To: MicrosoftDocs/azure-docs
Cc: DavidAlberto; Mention
Subject: Re: [MicrosoftDocs/azure-docs] link to zip file broke

[2019-04-05 16:32] jay98014 commented on #28855
Hi @GreggRevak,

You probably already found it but just in case, there is an entire doc page devoted to monitoring which includes the audit and other event log information that you are looking for:

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad-on-premises-monitor#dc-agent-admin-event-log

Does that help?

[2019-04-05 16:42] nazneen84 opened #28863 "Azure login via VSCode"
It would be good to have specific instructions on connecting to Azure portal via VSCode at https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connect-query-vscode#get-sql-server-connection-information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4998b228-9ad4-4aa2-91a8-a5dc948975d4
* Version Independent

[2019-04-05 16:46] MicahMcKittrick-MSFT commented on #28849
@DaveAlberto yeah going through the doc and trying to follow it I can see it is not very intuitive and can cause some issues.

Will have @aljo-microsoft look into it further and see what we can do. Also, if you are an FTE you can always ping the author offline to additional and faster help

[2019-04-05 16:46] abelal83 commented on #28542
You need to run az aks get-credentials. See above for more info on that.

[2019-04-05 16:48] MicahMcKittrick-MSFT commented on #28848
@hitesh1907nayyar I have replied to the same ask from you on #12282

[2019-04-05 16:48] #28848 closed

[2019-04-05 16:59] Mike-Ubezzi-MSFT commented on #28790
@tinod Again, thank you for bringing this to our attention! We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-05 16:59] #28790 closed

[2019-04-05 17:12] craigshoemaker commented on #28806
@Bhsha [The best approach is to use `System.Environment.GetEnvironmentVariable`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#environment-variables). From the docs:

I'll add a link to the doc to make it easy to find.

[2019-04-05 17:13] robinsh commented on #14582
Just as a status, I'm working on fixing the screen so it shows the right partition key.

[2019-04-05 17:13] YutongTie-MSFT commented on #28854
@SriramAvatar
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-05 17:15] jeevansd commented on #28818
@shkosugiMS Thanks for the feedback. We will update the screenshot here. The correct identifier to be used for the app is using this pattern https://<subdomain>.my.salesforce.com.
@chetansriv and @v-nagta Can you please update the screenshot for Entitiy ID in Salesforce here and show the correct one?

[2019-04-05 17:29] lphomiej opened #28864 "How to submit index page?"
I am unable to submit the index page (ie: "/" - "https://cdn.yoursite.com/") into the Load dialog in Azure or via the API. Obviously, this page is cached by the CDN at "/", but I'm not able to proactively load it. Maybe there's another command? Clearly, the Regex checking valid URLs doesn't handle this, but it probably should.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-04-05 17:32] MarileeTurscak-MSFT commented on #28694
@KeiroKamioka0000 where did you find that the log will be stored in Azure Security Center? Could you link the doc for me?

[2019-04-05 17:38] kllinnunes commented on #16416
When you try to restore a webapp backup from another webapp and you have only the zip file and receive the error "Restore operation failed to restore from the storage blob. Error Details: Error occurred while downloading meta data from the storage account", you can just execute a backup in the new webapp and replace the zip file in the storage account destination to the zip file are you interest t

[2019-04-05 17:41] theonewolf commented on #28822
@jakaruna-MSFT what we have noticed is that this is transient.  Sometimes it occurs, and sometimes it works properly.  We do not know the exact root cause.

We prefer not to destroy VMs just to chance it working.  We want to fix this directly.

[2019-04-05 17:42] tfitzmac commented on #26098
@kvenkazure - thanks for these suggestions. I have submitted a change to include getting the ID of the parent group. It should get published this afternoon. For updated the management group, you use Update-AzManagementGroup. [See example](https://docs.microsoft.com/en-us/azure/governance/management-groups/manage#change-the-name-in-powershell)

[2019-04-05 17:46] DaveSimmons1234 opened #28865 "Search title and abstract not working with space"
Hi there,

How do I search for a string with a space, when using W.

Such that:
https://api.labs.cognitive.microsoft.com/academic/v1.0/evaluate?expr=W='climate'&attributes=Id,Ti,Y,D,CC,E&subscription-key=xxxx

will produce results but

https://api.labs.cognitive.microsoft.com/academic/v1.0/evaluate?expr=W='climate change'&attributes=Id,Ti,Y,D,CC,E&subscription-key=xxxx

will not.

Could you please

[2019-04-05 17:46] soeirodefaria opened #28866 "Consider adding Subscription Name character limit"
I had a customer asking me the maximum length of a subscription name, and this info was not available.
It would be nice if it could be added into the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Conten

[2019-04-05 17:46] GreggRevak commented on #28855
Jay,
I had not found this because I was thinking Azure logs, not DC logs. Makes perfect sense now that I see this – very helpful.
Thank you!

From: Jay Simmons <notifications@github.com>
Sent: Friday, April 5, 2019 11:33 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gregg Revak <grr@revak.net>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Audit

[2019-04-05 17:49] Mushududu commented on #28837
Yes, it is simple there is nothing to tell us how to use the API in Android Studio. In the Speech to Text recognition there is a quickstart section with the detail for each programming on how to start. Could provide those details for the Speaker Recognition API ?

[2019-04-05 17:50] CelesteDG commented on #27784
Diagram fix is now live. #please-close

[2019-04-05 17:51] CelesteDG commented on #20953
Updated diagram with tenant A and B labels are live. #please-close

[2019-04-05 17:54] #26098 closed

[2019-04-05 17:54] himanshusinha-msft commented on #28554
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-04-05 18:05] MicahMcKittrick-MSFT commented on #28861
Thanks for the feedback @elamje

We are continuing to have offline discussions around this to better display all the info to the customers.

Will assign to the author for further tracking but just FYI that work is being done to standardize this.

@cynthn looks like we are missing DsV3 info

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/compute-benchmark-scores

CC @jonbeck7

[2019-04-05 18:06] prashanthyv commented on #9483
It is publicly available now

[2019-04-05 18:17] Grace-MacJones-MSFT commented on #28649
@JakubHolovsky have you tried the solution provided by @spelluru ?

[2019-04-05 18:27] snobles opened #28871 "Dacpac support?"
I noticed in the old elastic jobs implementation, there was a way to execute a dacpac file. Is that possible with the new implementation? If so, is it possible to use a publish profile along with the dacpac?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a93bc08-f5ce-c475-5fc8-7c515f28a0ee
* Version Independent ID: 1f

[2019-04-05 18:33] TravisCragg-MSFT commented on #28838
@CraigCloudITPro Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-05 18:34] TravisCragg-MSFT commented on #28859
@JamyJamal Thanks for the feedback! I have assigned this issue to the content author to evaluate and update as appropriate.

[2019-04-05 18:42] kgremban commented on #28693
@LeeHyeongWon

1-1. As is the case with all containers, any data created by your modules is lost if the container is destroyed. If your computer turns off, the containers shouldn't be destroyed but should just stop. In that case, they can be restarted with their file systems intact.
1-2. Yes, you can follow the instructions to add additional offline storage which allows the IoT Edge hub to store m

[2019-04-05 18:48] jpconnock commented on #25616
Hi @blueelvis
Thank you for your feedback! We have an end-to-end tutorial here that may help you: https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image . I hope this addresses your concerns. #please-close

[2019-04-05 18:48] wamota commented on #11151
OUTBOUND DNS is required at all times, what varies is the source querying the external DNS and what sort of identity integration was chosen.  If this is a connected scenario, during deployment the DVM which sits on the BMC network, needs that outbound access but after deployment the DNS service moves to an internal component that will send queries through a Public VIP.  At that time, the outbound

[2019-04-05 18:49] Grace-MacJones-MSFT commented on #25616
Thanks @jpconnock. We will now proceed to close this thread.

[2019-04-05 18:49] #25616 closed

[2019-04-05 18:50] tfitzmac commented on #8684
The article states "Virtual Machines with certificate stored in Key Vault can be moved to a new resource group in the same subscription, but not across subscriptions."

No further changes planned.

[2019-04-05 18:50] tfitzmac commented on #8684
#please-close

[2019-04-05 18:52] kgremban commented on #28311
@JihongL Yes, the IoT Edge hub stores messages that can't be delivered, whether the endpoint is IoT Hub or another module. The timeToLiveSecs property in the $edgeHub module twin affects storage of messages to either type of endpoint.

[2019-04-05 18:55] jay98014 commented on #28855
You're very welcome, glad to help :).

[2019-04-05 18:55] jay98014 commented on #28855
#please-close

[2019-04-05 18:58] kgremban commented on #28187
@Exlsunshine Can you provide more information about what you're trying to accomplish, so that I can understand how the message that you copied from the other thread isn't helping you?

Take a look at [Understand and use Azure IoT Hub SDKs](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-sdks). You will see that the service SDKs cannot be used to initialize modules, but the device S

[2019-04-05 18:59] MarileeTurscak-MSFT commented on #28756
Hi @githubavi ,

There's a good description in the Set-AzureADPolicy documentation here: https://docs.microsoft.com/en-us/powershell/module/azuread/set-azureadpolicy?view=azureadps-2.0-preview

I'm looping in @CelesteDG to see if she has any additional resources.

[2019-04-05 19:06] Bhsha commented on #28806
Hi Craig,

Thanks for pointers. Yes, I tried this approach but Environment variable doesn’t have values set when function is triggered from xunit test.

Thanks,
Bhoomi Shah

From: Craig Shoemaker <notifications@github.com>
Sent: Friday, April 5, 2019 10:13 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Bhoomi Shah <Bhoomi.Shah@microsoft.com>; Mention <mention@noreply.github.co

[2019-04-05 19:11] cratace commented on #28342
Thats great. Thanks @BryanTrach-MSFT

[2019-04-05 19:12] himanshusinha-msft commented on #28856
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-05 19:13] john-o-neville opened #28872 "Max json file size?"
Hi,
What is the maximum size of json file that Data Factory can process?  Could you include some guidelines in the documentation?
Is there an option to tell Data Factory to read a json file in chunks, rather than all in one go?
Thanks,
John

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62c719f3-a6d9-2cca-9042-eec0b3a3

[2019-04-05 19:20] #23575 closed

[2019-04-05 19:20] sharonlo101 commented on #23801
These are the possible statuses:
Queued

InProgress

Succeeded

Failed

Cancelled

Canceling

[2019-04-05 19:20] #28666 closed

[2019-04-05 19:20] #25077 closed

[2019-04-05 19:21] #25712 closed

[2019-04-05 19:21] #27784 closed

[2019-04-05 19:21] #7617 closed

[2019-04-05 19:21] #28395 closed

[2019-04-05 19:25] CelesteDG commented on #28812
Thank you, @tolarianNZ :) I saw your contribution.
#please-close

[2019-04-05 19:34] Anand-Moghe opened #28873 "Would there be any egress charges for using Log Analytics in different region than my Azure service?"
Since Log Analytics is only available in US Gov Virginia in US Gov Cloud, if I use the Log Analytics from services deployed in other US Gov region, would there be egress charges ?

E.g. If I have a Function App or Logic app deployed in US Gov Arizona region which is using Log Analytics workspace in US Gov Virginia in US Gov Cloud...should I expect any egress charges? Also are there there tips or d

[2019-04-05 19:46] DMoonesinghe opened #28875 "This page is poorly designed for content it should hold."
Run a disaster recovery drill differs depending if you are using physical servers or VMWare servers or Hyper-V with or without VMM.
Yet this document only deals with the VMWare Scenario and leaves everybody else who uses Physical servers or Hyper-V VM to figure out on their own how to do disaster recovery drill.  Which is too much of a onus on Azure implementer to do given their workloads and sche

[2019-04-05 19:58] whihathac commented on #17142
I would appreciate if the page is updated with how Azure Firewall can complement or plays a role in designing the network architechture.

[2019-04-05 20:17] seguler commented on #21865
AzCopy supports Managed Service Identity login using AAD. Simply enable MSI on your VM and run azcopy using:
`azcopy login --identity`

[2019-04-05 20:19] SaurabhSharma-MSFT commented on #28669
@MGamil-MSFT No, the machine needs to be domain-joined for PTA to work.

[2019-04-05 20:20] SaurabhSharma-MSFT commented on #28661
@nfegan Ok.  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-04-05 20:21] liskajoe commented on #13103
I agree with @henslecd
There is some nomenclature here that is off. In Azure AD the default "Roles" are actually default "Profiles" in Salesforce.

SF Default PROFILES include
- Standard User
- System Administrator
- Marketing User
- Read Only
etc etc

The provisioning needs to sync with the SF Profiles which is what SF support usually directs organizations to configure OOTB. Many orgs do not have

[2019-04-05 20:25] anwer007 commented on #28747
Hi Folks,
Is there any way to migrate Resources from Azure CSP subscription from one tenant to another Azure CSP Subscription tenant,
Basically there are 2 Azure tenants, both has 2 Active CSP Subscription, source tenant has 1 VM with 256GB Premuim SSD and destination tenant subscription is empty without any resources
Appreciate for your kind assistance.

[2019-04-05 20:28] MicahMcKittrick-MSFT commented on #24375
@chanmmn at this point I updated the doc to point you to the overview page. I am working on changing the screenshot as well but for now simply changing the essentials to overview makes the doc much easier to follow and understand.

[2019-04-05 20:37] tfitzmac commented on #27674
@justSteve - thanks for this feedback. I agree that the link going to a PowerShell article that was not helpful for C# users. The code comment talks generally about template deployments which includes several parts. For that reason, we have changed the link to go to the Resource Manager landing page. From there, you can find links that are focused on how to create templates, or you can find the li

[2019-04-05 20:37] tfitzmac commented on #27674
#please-close

[2019-04-05 20:39] #24375 closed

[2019-04-05 20:41] MarileeTurscak-MSFT commented on #28784
@Neenisharma the v2 endpoint does not yet support group claims. You can check the article for updates.

See the Github sample, for reference: https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-groupclaims/

[2019-04-05 20:42] MarileeTurscak-MSFT commented on #28784
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-04-05 20:42] #28784 closed

[2019-04-05 20:45] #28812 closed

[2019-04-05 20:46] #28855 closed

[2019-04-05 20:46] #8684 closed

[2019-04-05 20:48] msmbaldwin commented on #10219
This article no longer exists. #please-close

[2019-04-05 20:49] msmbaldwin commented on #11320
This article no longer exists. #please-close

[2019-04-05 20:49] rupeshprasad opened #28877 "Need to migrate close to two million users"
Hi  - I need to migrate close to two million users to B2C. I ran this utility for DEV environment for around 50K users it took almost 8 hours. I am worried as how long will it take to migrate 2 million users.
I looked at the code and looks like for every user it is making at least two API calls
1. To check if user exist
2. To create the user.

Is there any way to make this process fast.  Can i use

[2019-04-05 20:52] ctstone opened #28878 "Kannada language support not available for latest version"
When attempting to use ka.microsoft I get this message: "The request is invalid. Details: definition : The field 'my_field' uses an analyzer 'ka.microsoft' which is unknown or not supported in the API version used in the request." My field definition looks like:

[code]

I tried with versions `2017-11-11-preview` and `2017-11-11`

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-04-05 20:55] miaojiang commented on #27810
Hi @markafox we will work on a separate document for Azure AD B2C. Closing this ticket now.

#please-close

[2019-04-05 20:59] SaurabhSharma-MSFT commented on #28749
@gtrudel I suggest you please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2019-04-05 20:59] vladkosarev commented on #22396
This would be useful since Powershell seems to be the only way right now to create a domain name with 15 or more characters (it's blocked in UI)

[2019-04-05 21:00] miaojiang commented on #28613
@dcbrown16 it creates a subscription for this particular user.

[2019-04-05 21:01] SaurabhSharma-MSFT commented on #28766
@Neenisharma You can find the v1.0 basic claims [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#v10-basic-claims) here.
@CelesteDG can you please help guiding @Neenisharma  if we have any documents specific to core claim sets ?

[2019-04-05 21:03] MarileeTurscak-MSFT commented on #28852
Yes, three years is the maximum. You can set it to be a particular date within that frame that is less than three years, but not more.

[2019-04-05 21:03] femsulu commented on #28839
@swinghouse Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-05 21:03] SaurabhSharma-MSFT commented on #28804
@KeiroKamioka0000 Can you please provide us the document link about the recent update on alert log of Advanced Data Security for SQL Database you are referring to ?

[2019-04-05 21:03] MarileeTurscak-MSFT commented on #28852
Hope this helps. We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-04-05 21:03] #28852 closed

[2019-04-05 21:05] tsander26 commented on #22907
Hi @kazshi. We are actively working on an update to this page which include documentation for DISTINCT

[2019-04-05 21:05] TravisCragg-MSFT commented on #28864
@lphomiej I do not believe that this is possible, but I am following up now to make sure.

[2019-04-05 21:09] SaurabhSharma-MSFT commented on #28771
@Neenisharma Yes, you are correct, V2.0 does not support SAML or WS-Federation.  Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-04-05 21:11] liangcht opened #28881 "Unable to mount data store because it does not specify a storage account key"
Hi I have created a datastore by providing the sas_token for my azure blob storage
`ds = Datastore.register_azure_blob_container(workspace=ws,
                                             datastore_name='xxxxx',
                                             container_name='xxxx',
                                             account_name='xxxx',
                                             sas_token

[2019-04-05 21:13] femsulu commented on #28865
@DaveSimmons1234 Happy to help. Mind sharing the link to the referenced documentation ?

[2019-04-05 21:14] SaurabhSharma-MSFT commented on #28842
@sebhurleyhte You have to select GitHub.com from the gallery.

[2019-04-05 21:15] msmbaldwin commented on #26520
Hi, @rulises. The article is now fully updated to reference only the PowerShell module.  Thanks for your feedback! #please-close

[2019-04-05 21:17] SaurabhSharma-MSFT commented on #28672
@SteveParson Please refer to [New IaaS VMs created from customer-encrypted VHD and encryption keys](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-windows#--new-iaas-vms-created-from-customer-encrypted-vhd-and-encryption-keys) to create a new VM using existing VHD and encryption keys.

[2019-04-05 21:17] tfitzmac commented on #18503
@theheatDK - thanks for making us aware of this discrepancy. I have removed Contributor from the prerequisites.

[2019-04-05 21:17] TravisCragg-MSFT commented on #28494
@dacarubio We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-05 21:17] #28494 closed

[2019-04-05 21:20] #18503 closed

[2019-04-05 21:20] msmbaldwin commented on #23940
I'm asking that this Issue be closed, but please let us know how your support case goes, @CountlessNumber. #please-close

[2019-04-05 21:22] femsulu commented on #28866
@soeirodefaria Thanks for the Comment. We are actively investigating and will get back to you soon.
@rothja any idea who would be on point to make this update to the doc?

[2019-04-05 21:23] Jann-Skotdal commented on #23166
@rboy1 : Sorry for the delay, we are working on pulling together some information for parsing the JSON responses in C# using Newtonsoft

[2019-04-05 21:30] femsulu commented on #28873
@Anand-Moghe Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-05 21:33] rothja commented on #28866
@femsulu Thanks for asking, but I'm not sure there is an obvious owner for this limit. I can look into it. @soeirodefaria Thanks for the question. Any chance you found out the limit from testing or the customer?

[2019-04-05 21:35] danucalovj commented on #10219
Closed per @msmbaldwin request.

[2019-04-05 21:35] #10219 closed

[2019-04-05 21:37] msmbaldwin commented on #26316
@jeremyhagan Were you able to encrypt using the information now in the article?

[2019-04-05 21:41] DaveSimmons1234 commented on #28865
Actually I think the api just doesn't allow you to do this for 'performance reasons'

[2019-04-05 21:47] SriHarsha001 commented on #25793
I get the same error while trying to create a "Azure Netapp Files" account using Azure portal

**Raw Error on Portal**
{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.",
  "details": [
    {
      "code": "NotFound",
      "message": "{\r\n  \"error\

[2019-04-05 21:52] SriHarsha001 opened #28882 "The resource type could not be found in the namespace 'Microsoft.NetApp' for api version '2017-08-15'"
I get the same error while trying to create a "Azure Netapp Files" account using Azure portal

**Raw Error on Portal**
{
"code": "DeploymentFailed",
"message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.",
"details": [
{
"code": "NotFound",
"message": "{\r\n "error": {\r\n "code": "Invalid

[2019-04-05 22:05] rulises commented on #26520
Thanks for following up on this! 👍

[2019-04-05 22:05] #26520 closed

[2019-04-05 22:10] YutongTie-MSFT commented on #28881
@liangcht
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-05 22:13] femsulu commented on #28860
@joshlrogers Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-05 22:23] scootafire commented on #24858
My team hit the same issue last evening when upgrading to JIRA Server 8.02. Please update your integration piece so we can continue to utilize.  As well as keeping up to date with Confluence integration.

[2019-04-05 22:36] Mike-Ubezzi-MSFT commented on #28871
@snobles This functionality is supported, as there are a couple of DACPAC deployment scenarions that are supported:

[Azure SQL database deployment](https://docs.microsoft.com/en-us/azure/devops/pipelines/targets/azure-sqldb?view=azure-devops&tabs=yaml)

[Publish DACPAC to Azure SQL Database using sqlpackage.exe](https://stackoverflow.com/questions/50315074/unable-to-publish-dacpac-to-azure-sql-da

[2019-04-05 22:42] mailtogurvindersingh opened #28885 "ZIPDeploy method using powershell has a defect"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-05 22:42] Mike-Ubezzi-MSFT commented on #28863
@nazneen84 Thank you for your interest in Azure cloud services. If I understand your inquiry correctly, you are making a suggestion to detail how to login to Azure accont via VSCode instead of manually loging into Portal to [Get SQL server connection information](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connect-query-vscode#get-sql-server-connection-information)?

[2019-04-05 22:44] mailtogurvindersingh commented on #28885
This method of deployment has a defect - it does not copy /deploy all the files and it is un-predictable - when I copy a new build to slot- some of the new version of dlls/.aspx files are missed..
#PowerShell
$username = "<deployment_user>"
$password = "<deployment_password>"
$filePath = "<zip_file_path>"
$apiUrl = "https://<app_name>.scm.azurewebsites.net/api/zipdeploy"
$base64AuthInfo = [Convert

[2019-04-05 22:48] Mike-Ubezzi-MSFT commented on #28496
@daveknaus Is this a corporate laptop with AD enforcement or do you have antivirus software that might be preventing the ODBC driver from functioning? The only suggestion I can offer is to uninstall, restart, and attempt to reinstall after pausing antivirus software and having a local admin account. If you still cannot get this to work, please open a support request with Azure Support. If you do n

[2019-04-05 22:48] #28496 closed

[2019-04-05 22:50] roygara commented on #28327
@techiearun did you have any other questions? If not I'll close this out within two business days. Thanks again for reaching out to us.

[2019-04-05 22:54] MarileeTurscak-MSFT commented on #28877
@rupeshprasad
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-05 22:58] alvinvinalon commented on #28608
@paulomarquesc thanks for the tip! I'll discuss the custom agent approach with the client. They want to avoid using any VMs as much as possible tho. Hope the hosted agent will be upgraded soon :) to include the latest Az modules.

[2019-04-05 23:02] MarileeTurscak-MSFT commented on #28729
If you are using this for an app service it seems to only be supported in the 1.2.0-preview.

See: https://github.com/Azure/azure-sdk-for-net/issues/5137

Can you check the issue above and confirm if that is what you are using?

[2019-04-05 23:17] Adam-Smith-MSFT commented on #28565
Thanks @willKim19 I'll assign to the author as doc-enhancement

[2019-04-05 23:20] femsulu commented on #28875
@DMoonesinghe thanks for the comment. The feedback has been shared with the content owner for further review.

[2019-04-05 23:42] snobles commented on #28871
Mike,

Thanks for the response but the question was specific to the new Azure Elastic Jobs (preview) implementation. We already deploy a dacpac using sqlpackage.exe to a single database from our build server. But we are now implementing Elastic Scale and wanted to deploy using dacpac but to all tenant databases using an elastic job.

Did I post the question to the wrong place? I did it from the El

[2019-04-05 23:43] #14643 closed

[2019-04-05 23:43] tfitzmac commented on #14643
@astaykov - thanks for this suggestion. I have updated the article to incorporate that API permission. I believe it will get published on Monday.

[2019-04-05 23:46] cweining commented on #25274
We have deployed a new version of WAD for PaaS - 1.12.2.0, that fixes this issue. I will be updating the documentation to note this also.

[2019-04-05 23:46] cweining commented on #25274
#please-close

[2019-04-06 00:26] MartinJaffer-MSFT commented on #28872
Hello @john-o-neville and thank you for your question.  I do not have the answer at yet.  I am preparing to do an experiment closely related to your question.  If you do not mind, I would like to combine your question with  [this related MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/f4022c83-2b33-40e3-afd3-0514d65a3e24/error-writing-600mb-json-file-from-blob-to-azure-sql?forum=AzureD

[2019-04-06 00:29] Mike-Ubezzi-MSFT commented on #28871
@snobles It appears that v11 Dacpac is supported and there is currently a request to support v12: [Elastic Database jobs support for V12 dacpac](https://feedback.azure.com/forums/217321-sql-database/suggestions/20372593-elastic-database-jobs-support-for-v12-dacpac)

I will forward this on to the content owner to provide additional feedback or update the documentation as appropriate.

[2019-04-06 00:39] batizar commented on #28605
@KetanChawda-MSFT thanks for your reply, unfortunately the sample or the documentation have no mention that settings for WebJobs needs to go inside `"AzureWebJobs"` element and WebJobs documentation direct us to this page for details.

Thanks anyway

[2019-04-06 00:56] smokedlinq opened #28887 "Missing main.cmd script timeout value"
Is there a known timeout limit for a custom script to perform setup, I have several drivers that need installed and it takes 5-10 minutes but is timing out while starting even with faster sizes selected. In addition to the timeout, is there a way to increase it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16d4ef48-6

[2019-04-06 01:01] JasonWHowell commented on #28761
@MartinJaffer-MSFT Looks like one line got chopped off in the sample snippet. Sorry about that.

I'll adjust the code block to show the last line which contains the `-Config $config` switch.

The origin PowerShell code is here if you need it
https://github.com/Azure/azure-docs-powershell-samples/blob/master/hdinsight/create-cluster/create-cluster-with-config.ps1

CC: @dagiro @hrasheed-msft for awa

[2019-04-06 01:08] JasonWHowell commented on #28761
This is merged. Waiting for publication Monday morning #please-close

[2019-04-06 01:09] #28761 closed

[2019-04-06 01:33] snobles commented on #28871
Ok thanks. I think that feedback link was also for the previous (now deprecated) version of Elastic Jobs. I do appreciate you forwarding it on to the content owner though.

[2019-04-06 01:42] JasonWHowell commented on #28775
@scheek looks like the Mono framework owners recently removed that tool tlstest, so I started a conversation with them to see if they want to restore that file, or if we need to change the Mono script installed to validate the install using a different method.

Will let you know what I find out.

Root cause was this change to Mono:
https://github.com/mono/mono/commit/22d01c707cb423464f13305991a8a1

[2019-04-06 01:42] JasonWHowell commented on #28775
#in-progress

[2019-04-06 01:58] JasonWHowell commented on #28612
@basilhariri this seems pretty involved to test with new Event Hub version. Maybe start an email thread with the right team to discuss. I'll start a thread. Thanks, Jason

[2019-04-06 01:58] JasonWHowell commented on #28612
#please-close

[2019-04-06 02:18] JasonWHowell commented on #27522
@NextTurn there is some link checking logic coming soon, which will better determine which direction to head in. My opinion is that a URL with / is better than typing out docs.microsoft.com because we have systems internally that can differentiate and check things better when its not an full URL. However, I'm sure there are other factors to consider. Linking within Github.com pages isn't a major p

[2019-04-06 02:34] JasonWHowell commented on #17744
These three?
![image](https://user-images.githubusercontent.com/5067358/55663887-bc4a0c80-57d9-11e9-86d2-052b63b5d01e.png)

I pinged a couple of folks to inquire.

[2019-04-06 02:38] NextTurn commented on #27522
So it's better to drop the domain from the existing full URLs.

[2019-04-06 02:39] ChristopherSnay opened #28888 "your"
"If you’re application exchanges a code for a token, you need to create an application secret."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 670bf490-966b-e72e-ab6c-1d189f9a1f58
* Version Independent ID: a55b7372-87e9-c760-1a37-57728171395d
* Content: [Tutorial - Register an application - Azure Active Directory B2C](

[2019-04-06 02:47] JasonWHowell commented on #27522
I think so. Not thinking that the docs.microsoft.com site will change any time soon though.

https://docs.microsoft.com/en-us/contribute/how-to-write-links

[2019-04-06 02:48] JasonWHowell commented on #27522
@NextTurn I don't think you should seek this as a requirement though.

Changing links in the public repository is non trivial to test, and we don't necessarily need these changed throughout the system. Change is bad when it means a net neutral result to the end users.

[2019-04-06 02:53] NextTurn commented on #27522
@ktoliver I can change these by the way when updating the MSDN links.

[2019-04-06 03:38] iennae commented on #28395
In case someone does a search for this particular error and wants to understand what to do to get it fixed, I'm going to update this issue to give a bit more information (no need to reopen this ticket) As far as I know, a user can't resolve this issue. There isn't a place to get more details even if the response says "See details for more information.'" If you get the error as listed above, you ha

[2019-04-06 03:58] KalyanChanumolu-MSFT commented on #28850
Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-04-06 04:37] githubavi commented on #28756
Hi, I checked this link earlier. But it does not give detail about "Definition" json object. Badically I would like yo know about all the valid json properties and values for "Definition" json.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Saturday, April 6, 2019 12:29:26 AM
To: MicrosoftDocs/azure-do

[2019-04-06 04:57] NextTurn commented on #27522
Closing as answered.

[2019-04-06 04:57] #27522 closed

[2019-04-06 05:00] ATGardner commented on #20758
We seem to be having a similar issue.
We are creating a PostgreSQL server, database and AllowAllWindowsAzureIps firewall rule using an ARM template.
We also create an AKS resource that runs our micro services, and they connect to PostgreSQL during their run.
Later, we add a firewall rule (for our office's IP) using az-cli. From that point onward, our micro services fail to connect to the PostgreSQ

[2019-04-06 05:09] VeryKross opened #28889 "Misleading / confusing instructions"
The article suggesting using the cloud CLI but also indicates the user can use their local azure CLI as well. However, there are sections of the instructions that will only work with BASH and users who either run PowerShell locally or select the PowerShell option for the cloud shell will run into problems with command like "export" not being recognized.

Recommend showing an alternate syntax to al

[2019-04-06 05:13] BhargaviAnnadevara-MSFT commented on #28865
@DaveSimmons1234 Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-04-06 05:44] BhargaviAnnadevara-MSFT commented on #28878
@ctstone Thank you for the question! I've routed this to the appropriate Team to investigate and update.

[2019-04-06 05:47] BhargaviAnnadevara-MSFT commented on #28885
@mailtogurvindersingh Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-04-06 05:51] BhargaviAnnadevara-MSFT commented on #28882
@SriHarsha001 Thanks for the question! I've routed this to the appropriate Team to investigate and update.

[2019-04-06 05:58] BhargaviAnnadevara-MSFT commented on #28888
@ChristopherSnay Thank you very much for bringing this to our attention. I will submit a pull request to correct this.

[2019-04-06 06:05] BhargaviAnnadevara-MSFT commented on #28887
@smokedlinq Thanks for the question! I've routed this to the appropriate Team to investigate and update.

[2019-04-06 07:02] Godase opened #28891 "Scikit Learn Logistic Regression Model Prediction varies on Aure Ml Service"
I have followed Azure Ml Service documentation example. when i tested my model on my local machine it's works fine. I have used LogisticRegression for training.
Please check the my below code block.

        model = LogisticRegression()

        # Fit the X & Y training data into Logistic Regression Model
        model.fit(x_train, y_train.values.ravel())
        predictions = model.predict(x_trai

[2019-04-06 08:52] Bartolomeus-649 commented on #8765
@MicahMcKittrick-MSFT, @cynthn   You getting this?
Kind of strange your customers can provide this kind of info and you can't, don't you think?

Still have not run the B-Series long enough to have average and median bandwidth, average and median latency and so on for the different versions of the B-series?

[2019-04-06 09:04] BryanTrach-MSFT commented on #28342
@sujayvsarma I believe the below 3rd party blog should help.

[https://dotnetthoughts.net/deploying-multiple-application-in-webapp/](url)

[2019-04-06 09:07] #28888 closed

[2019-04-06 09:09] BhargaviAnnadevara-MSFT commented on #28888
@ChristopherSnay Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go live in the public docs soon!

[2019-04-06 09:15] BhargaviAnnadevara-MSFT commented on #28891
@Godase Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-04-06 09:20] BhargaviAnnadevara-MSFT commented on #28889
@VeryKross Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-06 09:25] awws opened #28892 "Security between control and data/application plane."
Hello,
I found it difficult to understand the security controls available at the data / application plane.
If I am following Azure recomendations then I need to rotate keys every so often, it would be good if this was spelled out.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cffc5753-1125-f6ee-de76-8ea460144c10
* Ver

[2019-04-06 09:28] shamshad95 commented on #28889
Hi

[2019-04-06 10:39] jakaruna-MSFT commented on #28892
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-06 11:08] jakaruna-MSFT commented on #28840
@leszekkoc This repo is for Azure Documentation only. You question looks like a forum question. It will be better if we engage this in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurecosmosdb).

[2019-04-06 11:15] JohnStraumann66 opened #28893 "SampleUserControlLibrary (unavailable)"
I get 2 errors,
SampleUserControlLibrary (unavailable)

and when I try to do a Restore in Nuget, I get an error as shown in the attachment. I tried both the command line clone command, as well as downloading the  Zip from git.

![error](https://user-images.githubusercontent.com/44039918/55668736-ce5c9700-583b-11e9-9420-c7cabd5e670c.PNG)

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-04-06 13:25] ganniaiuei opened #28894 "Broken link"
The distributed tracing link at this paragraph (https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-platform-logs#applications) is broken.
The broken link points to : https://docs.microsoft.com/en-us/app/distributed-tracing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9587e613-7f5d-feb8-5032-0188a56069

[2019-04-06 14:45] VeryKross commented on #28889
Hello

From: Shamshad ali <notifications@github.com>
Sent: Saturday, April 6, 2019 5:29 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ken Ross <ken@hotkrossbits.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Misleading / confusing instructions (#28889)

Hi

—
You are receiving this because you were mentioned.
Reply to this email directly, v

[2019-04-06 14:57] GhandiSober-MSFT opened #28895 "Active-Active VPN connection configuration"
Each VPN connection consists of two tunnels that are in an Active-Active configuration as stated above. Make sure that you have the BOTH connection established with the on-prem VPN device, Azure will send traffic from either one, so if one of the tunnels is missing you might experience packet loss and/or connectivity issue.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-04-06 15:50] aziegelb opened #28898 "Support of ICMP"
This page currently lists support for only TCP and UDP flows but I believe it needs to be updated to include ICMP.  Our Microsoft representative informed us that the SLB supports all ports/protocols including ICMP.  This also seems to be confirmed in the solution documented at the link below which shows ICMP being used to test connectivity across an SLB using an HA port in step 22.

https://cloudn

[2019-04-06 16:00] aziegelb opened #28900 "Support for ICMP"
It's my understanding that the Standard Load Balancer supports all protocols/ports including ICMP.  This documentation seems to suggest that only TCP and UDP are supported.  Does this page need to be updated to reflect that the SLB supports ICMP?  As a reference, the solution documented at the site below  in step 22 shows ping being used to test connectivity through an SLB configured with an HA po

[2019-04-06 16:03] femsulu commented on #28894
@ganniaiuei Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-06 16:05] femsulu commented on #28893
@JohnStraumann66 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-06 16:11] DMoonesinghe opened #28901 "Is this correct or imprecise to say "Replicated data from on-premises VMs is stored in the storage account.""
Am I correct to assume the following:
I am under the impression that "replicated data is stored in the Azure Recovery Service Vault.
Only after using that replicated data to recreate VM's on Azure are they stored in a Azure Storage account."

That is just an assumption on my part, based on reading a lot of your docs.  I am hoping this question is clearly clarified in this document.

---
#### Docum

[2019-04-06 16:11] femsulu commented on #28641
@rockboyfor
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-06 16:11] #28641 closed

[2019-04-06 16:20] DMoonesinghe opened #28902 "Is this correct or imprecise to say "Replicated data from on-premises VMs is stored in the storage account.""
**Issue 1:**
Am I correct to assume the following:
I am under the impression that "replicated data is stored in the Azure Recovery Service Vault.
Only after using that replicated data to recreate VM's on Azure are they stored in a Azure Storage account."  Or is it compulsory that Managed Disks be used instead of standard storage accounts.
My understanding of the difference is outlined here: https:

[2019-04-06 16:26] Martony78 commented on #26598
It has been a month and still no answer, does anyone at MSFT knows if ADFS Device Registration is a prerequisite or not?

[2019-04-06 16:31] markjbrown commented on #28850
Yes, that's bug. The sentence should read,

So the Azure Cosmos DB item will not be created and an exception is returned.

Will update. Thanks for reporting.

[2019-04-06 16:32] DMoonesinghe opened #28903 "Does the configuration server have to be VMWare VM not a Hyper-V VM?"
Your article says the following:
"A single on-premises physical machine or VMware VM is deployed to run all of the on-premises Site Recovery components"

Can't your run this on a Hyper-V Server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43cb8e74-332e-d1c2-2ba4-eff91806de73
* Version Independent ID: cb7300cf-6aed-1

[2019-04-06 16:54] msrini-MSFT commented on #28900
@aziegelb , Thank you for posting here. Azure Load balancer works on Layer 4. ICMP works on Layer 3. If you want to test your connectivity, you can use layer 4 connectivity tools such as psping, tcpping.

Coming back to your questions, ICMP traffic will only be passed via Standard Internal Load balnacer in HA mode. Even though it does, Microsodt recommend not to use ICMP for connectivity testing.

[2019-04-06 16:56] msrini-MSFT commented on #28898
@aziegelb , This issues looks similar to which is posted in the below link:

https://github.com/MicrosoftDocs/azure-docs/issues/28900

Closing this issue. You can refer the above issue for updates.

[2019-04-06 16:56] #28898 closed

[2019-04-06 17:04] msrini-MSFT commented on #28895
@GhandiSober-MSFT , Can you please let me know what is the question you have here?

As I understand, when you have Active-Active setup, if one tunnel goes down with One of your VPN device in On-Premises, then the BGP routes are revoked. So there will not be any packet loss.

Let me know if you have any further questions.

[2019-04-06 17:16] GhandiSober-MSFT commented on #28895
@msrini-MSFT, It is not actually a question, more of a recommendation to avoid any issues with setting up the vWAN with Site-to-Site VPN.

It is always an Active-Active setup, I am not sure about the behavior when BGP is enabled, however not all of the customers configure BGP routing with the on-prem VPN device. and if it was the case, they would have already configured both tunnels to be up.

[2019-04-06 17:17] jakaruna-MSFT commented on #28903
Thanks for the question! We are investigating and will update you shortly.

[2019-04-06 17:22] jakaruna-MSFT commented on #28901
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-06 17:24] jakaruna-MSFT commented on #28902
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-06 17:37] jorgensigvardsson opened #28906 "Debian stretch/9.7 - Unable to locate package blobfuse"
I've followed the instructions on this page to install blobfuse:
[code]
Last command gives me `E: Unable to locate package blobfuse`

What's up?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef87c25-d489-ed0c-c94f-c764b3fd2413
* Version Independent ID: 7f8c5d56-2382-de90-dcaf-6fc87706a3be
* Content: [How to mount Azu

[2019-04-06 17:38] jorgensigvardsson commented on #28906
It would seem that my redirects (greater than operator) got converted into corresponding HTML entities. I'm actually not executing that in the shell.

[2019-04-06 17:39] jorgensigvardsson commented on #28906
Actually, I used this page together with https://docs.microsoft.com/en-us/windows-server/administration/Linux-Package-Repository-for-Microsoft-Software to configure the package repository.

[2019-04-06 17:42] jorgensigvardsson commented on #28906
Oh never mind, you can go ahead and close this issue. I see now that blobfuse isn't available for debian.

[2019-04-06 18:12] barbkess commented on #24510
Please assign this to @CelesteDG .  Thank you.

[2019-04-06 18:21] mailtogurvindersingh commented on #28885
Thanks for your email. here is URL and the Power shell method has a defect
and it looks like it obsolete
https://docs.microsoft.com/en-us/azure/app-service/deploy-zip#rest

We should be using new AZ-module which is error free.
https://docs.microsoft.com/en-us/powershell/module/az.websites/publish-azwebapp?view=azps-1.6.0

May I know why is the first one is not using AZ module? can you update the
d

[2019-04-06 18:34] cbrooksmsft commented on #28889
@seguler, this one is for you...

[2019-04-06 18:56] ggailey777 commented on #26591
It does look like the portal lets you do the Application Insights integration as usual, so I am going to include these integration steps in this tutorial.

[2019-04-06 19:21] SeanCLeavitt opened #28907 "Typo"
"$ResourceGroupName" is incorrectly reference when creating the Web App in the App Service Plan; it should:

New-AzWebApp -Name $AppName -ResourceGroupName $ResourceGroupName -Location $Location -AppServicePlan AppServiceManualScalePlan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae4830a1-db43-d02c-6c67-fd314c3871d2

[2019-04-06 19:38] BhargaviAnnadevara-MSFT commented on #28907
@SeanCLeavitt Thank you very much for bringing this to our attention! I shall submit a pull request to get this corrected.

[2019-04-06 19:45] femsulu commented on #28906
thanks for the update @jorgensigvardsson.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-06 19:57] BhargaviAnnadevara-MSFT commented on #28885
@mailtogurvindersingh Thank you for the response! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-06 19:58] SeanCLeavitt opened #28908 "Assuming one exists, here's how you can delete it..."
Here you go:
# List statuses of all backups that are complete or currently executing.
$myList = Get-AzWebAppBackupList -ResourceGroupName $resourceGroupName -Name $webappname

$myList[0].BackupId

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e31825-94bf-a112-529f-caac50642a00
* Version Independent ID: 1fb3acc5-644b-

[2019-04-06 23:39] shashwatc12 commented on #21875
@ravikiran-srini
I had the same error when I was trying to run my ADF pipeline. You may have got the error from different settings(or issue) in your environment but I got the issue because I did not select SSISDB as database in Linked Service settings. I selected my data database which the service wont support for run-time. Please check the image. Hope this helps.
![image](https://user-images.gith

[2019-04-06 23:56] mmacy commented on #17744
The **azure-sdk-reference-test** repo has been set to private, thanks for the tip-off, @nschonni.

Cc: @JasonWHowell @MarileeTurscak-MSFT

[2019-04-07 00:23] smultani opened #28909 "Azure Sentinel Generic CEF Log Input"
Hi,

I'm attempting to send data into the Sentinel using the Generic Syslog Input. https://docs.microsoft.com/en-us/azure/sentinel/connect-common-event-format

Created an automatic deployment > ubuntu vm.
I believe I've setup everything correctly, and when I send data from my CEF appliance to the azure host that contains the "syslog agent" I can see it coming over here:

` tcpdump -A -ni any port

[2019-04-07 01:43] aderesh opened #28910 "History table - sort by timestamp"
History table in this documentation doesn't reflect the real order of events. For instance, ExecutionStarted event(2017-05-05T18:45:28.852Z) should be first but it is the second after OrchestratorStarted (2017-05-05T18:45:32.362Z).

It'd be nice to sort the table by timestamp to avoid any confusion regarding event's order

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-04-07 02:06] lextm opened #28911 "Link does not work"
"Transition from Forefront TMG and UAG to Application Proxy" points to https://blogs.technet.microsoft.com/isablog/2015/06/30/modernizing-microsoft-application-access-with-web-application-proxy-and-azure-active-directory-application-proxy/ but the original post is gone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6

[2019-04-07 02:16] soeirodefaria commented on #28866
I've tested creating a new subscription, and this is a quote of the error:

"The name cannot be empty, more than 64 characters, or contain the following characters: < > ; |"

[2019-04-07 03:38] DixitArora-MSFT commented on #28560
@voicu-matei Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-07 03:38] #28560 closed

[2019-04-07 03:39] DixitArora-MSFT commented on #28583
@rashider Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-07 03:39] #28583 closed

[2019-04-07 04:40] Godase commented on #28891
@BhargaviAnnadevara-MSFT  I have followed  Azure Ml Service documentation example. when i tested my model on my local machine it's works fine. I have used LogisticRegression for training.
Please check the my below code block.
[code]

I didn.t pass any parameters in LogisticRegression. But when i deployed model on azure Machine learning service then it's output is varies & on local machine it's wor

[2019-04-07 05:13] Karishma-Tiwari-MSFT commented on #28210
@diab-mossa Did that help? Let me know.

[2019-04-07 05:18] femsulu commented on #28909
@smultani thanks for the comment. We are investigating and will get back to you soon.

[2019-04-07 05:48] femsulu commented on #28908
@SeanCLeavitt  Not sure I understand what you are requesting based on your comment above. Are you sharing the above sample cmd for a reason? Kindly clarify what you need and we will gladly assist.

[2019-04-07 05:58] femsulu commented on #28910
@aderesh Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-07 06:00] sc00ut opened #28912 "Missing "|" in script https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-ps-examples#get-statistics-for-groups-with-licenses"
There is a "|" missing in script at the end of this line of code:
`Get-MsolGroupMember -All -GroupObjectId $groupId`

[Link to docs](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-ps-examples#get-statistics-for-groups-with-licenses)

[2019-04-07 06:14] femsulu commented on #28911
@lextm Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-07 06:34] jeremyhagan commented on #26316
I was already able to do it with the syntax I provided in the OP and didn't have more time to spend on it.

[2019-04-07 06:49] SychevIgor commented on #8268
11 without visible progress.

[2019-04-07 06:49] #8268 closed

[2019-04-07 06:51] SychevIgor commented on #17164
@femsulu

[2019-04-07 06:52] SychevIgor commented on #15114
@mlearned

[2019-04-07 06:54] SychevIgor commented on #17139
@wmgries @SibonayK

[2019-04-07 06:54] SychevIgor commented on #15115
@mlhoop

[2019-04-07 07:43] antonsw opened #28914 "Create outbound pool missing "Create""
"create" is missing from the syntax

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3944193-f5f9-e636-e419-0f52ff714f2b
* Version Independent ID: 3ace8120-9f5b-94be-d8f5-b3927c098c78
* Content: [Configure load balancing and outbound rules using Azure CLI](https://docs.microsoft.com/en-us/azure/load-balancer/configure-l

[2019-04-07 08:01] femsulu commented on #28912
@sc00ut thanks for catching this. A PR has been initiated to resolve this. The fix will be live soon.

[2019-04-07 08:42] femsulu commented on #28612
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-07 08:42] #28612 closed

[2019-04-07 08:47] msrini-MSFT commented on #28914
@antonsw , Thank you for letting us know. I will go ahead and make the changes.

[2019-04-07 08:52] rayne-wiselman commented on #28686
@gmelnyk . Hi, are you trying to set this registry key because you're using both Azure Backup to back up Azure VM and using SQL Server backup?

[2019-04-07 09:00] rayne-wiselman commented on #28513
@KeiroKamioka0000 Hi, this seems like a request for a feature rather than doc feedback. If so please leave the request at https://feedback.azure.com/forums/258995-azure-backup.

If this isn't a request, please provide a few more details about the question. Thx!

#please-close

[2019-04-07 09:10] #28914 closed

[2019-04-07 09:12] msrini-MSFT commented on #28914
PR has been made. https://github.com/MicrosoftDocs/azure-docs-pr/pull/72297

The changes will be reflecting soon.

[2019-04-07 09:13] TimorKalerman commented on #23204
Hi @vhorne, yes you are right, but the whole thing for a gateway is to be able to support such things, to reduce the operations from the server side.
If I compare this to nginx, it is a basic feature that the AppGW should be able to support.

[2019-04-07 09:19] Leon99 commented on #28306
Given that both ASP.NET Core and Azure are both Microsoft's products, and we're talking 7x difference on default configurations with trivial services, don't you think it'd be nice to provide some information on the matter either here or somewhere else (and link it here)? Surely no one expects commitments, but some sort of guidelines could help, at the very least, to understand what is expected and

[2019-04-07 09:29] rayne-wiselman commented on #28903
@DMoonesinghe . Hi, As stated, VMware VM or physical machin
#please-close

[2019-04-07 09:30] femsulu commented on #28912
PR has been successfully created and the fix will be live in 24-48 hrs.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-07 09:30] #28912 closed

[2019-04-07 09:35] rayne-wiselman commented on #28875
@DMoonesinghe This article is relevant for both VMware and Hyper-V, as stated at the top of the article:

"This is the fourth tutorial in a series that shows you how to set up disaster recovery to Azure for on-premises VMware VMs, or Hyper-V VMs."

Please let us know if you come across information that is inaccurate for Hyper-V.  In addition there's a more in-depth article here - https://docs.micr

[2019-04-07 09:56] msrini-MSFT commented on #28843
@MScarno , The request succeeds because, your origin is not case sensitive and you get a response back. But CDN will not cache it as it looks those request as separate ones.

Let me know if you have any questions.

[2019-04-07 10:33] cbailiss opened #28916 "Old version of Azure Functions"
This looks like it all applies to v1 of Azure Functions.
Given v2 has been GA since Sept last year, this page badly needs updating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ba8817-3e01-7e84-6c71-b98b131f2927
* Version Independent ID: a7703386-9e83-1075-72ef-f9e63f3dc4de
* Content: [Automate resource deployment

[2019-04-07 11:10] JohnStraumann66 commented on #28893
Do you folks know of a tutorial that shows how to modify this sample to recognize certain features in images outside the standards Azure is set up? For example, is it possible to upload 100 pictures of what forest fire damage looks like to "train" Azure what it looks like, then get Azure to analyze images and be able to predict whether there is such damage in the images? I was able to do this on t

[2019-04-07 11:24] jorgensigvardsson commented on #28906
Out of curiosity, what is the primary reason that you do not have a blobfuse build for Debian? The "standard" aspnet core image (mcr.microsoft.com/dotnet/core/aspnet:2.2) is based on Debian, so it would only be natural if blobfuse were available for that image? I solved the issue by building off mcr.microsoft.com/dotnet/core/aspnet:2.2-bionic. Not much of a big deal, but it could help people who a

[2019-04-07 12:35] shashishailaj commented on #28830
@joeakim Thank you for your query . We will engage the author for answering your query and update the document as needed after review .

@jeevansd Could you please look into this issue and provide some clarification?

[2019-04-07 12:37] shashishailaj commented on #28414
@asubmani We are engaging the author on this for further investigation.

@MarkusVi Could you please get the query checked with engineering as claimed by the issue creator ?

Thank you

[2019-04-07 12:42] shashishailaj commented on #28422
@stschulznz We are engaging the author to further verify this with engineering.

@rkarlin Could you please verify this with engineering and update the document as necessary ?

[2019-04-07 12:47] shashishailaj commented on #28543
@billmath I have verified the claims within my test environment for the new AD connect Version 1.2.70.0  . It indeed requires us to go to 'Manage federation' on the first screen, then 'Reset Azure AD Trust' on the second screen after the installation has been done and we run the Azure AD connect Wizard. The complete article might need a overhaul with new screenshots. Please help review the same an

[2019-04-07 12:51] shashishailaj commented on #28758
Thank you for conforming . We will close this for now.

[2019-04-07 12:51] #28758 closed

[2019-04-07 12:58] DixitArora-MSFT commented on #28916
@cbailiss Thank you for reporting this. We will review and make any necessary changes.

[2019-04-07 13:02] SnehaAgrawal-MSFT commented on #28728
@pniederlag We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-07 13:02] #28728 closed

[2019-04-07 13:03] DixitArora-MSFT commented on #28685
@MatthewBracewell Seems like it is working. So for now proceeding with closure of this.

[2019-04-07 13:03] #28685 closed

[2019-04-07 13:33] ashakhatri007 opened #28917 "Typo in AAD Fullform"
2nd line in 4th paragraph from top contains fullform of AAD as Azure Activity Directory. Here typo "Activity" should be fixed to "Active"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e462a300-6e92-dccf-f7cb-07c36261cfa0
* Version Independent ID: 89d67a1a-74ee-5341-c04a-3b0868e8bd54
* Content: [Getting started with SA

[2019-04-07 13:53] msrini-MSFT commented on #28917
@ashakhatri007 , Thank you for letting us know. I will correct the documentation.

[2019-04-07 14:07] msrini-MSFT commented on #28917
@ashakhatri007 , PR has been made : https://github.com/MicrosoftDocs/azure-docs-pr/pull/72299

You can see the changes reflecting shortly.

[2019-04-07 14:07] #28917 closed

[2019-04-07 14:15] mshahat commented on #28393
@jakaruna-MSFT looking for an update on this one, please?  thank you,

[2019-04-07 14:17] hiroyuts opened #28918 "Block gas limit default value."
[Enter feedback here]
Block gas limit default value.
It is written as 50,000,00.
Is this 5 million (5,000,000) or 50 million (50,000,000) ?
This value is strange.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce2275c9-8660-ef40-7846-69ab07035809
* Version Independent ID: 0b58551c-1080-380d-29b9-00f71a6f5e51
* Content:

[2019-04-07 14:30] ciaranodonnell commented on #12411
You dont send the partition key on the EventData, you pass it in the call to Send
await eventHubClient.SendAsync(eventData, "partitionKeyGoesHere");

[2019-04-07 15:10] yang980 opened #28919 "ทำอยากมาก"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-07 15:37] jakaruna-MSFT commented on #28919
@yang980 Please provide more information about this issue

[2019-04-07 15:39] jakaruna-MSFT commented on #28918
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-07 16:26] #28513 closed

[2019-04-07 16:26] #28875 closed

[2019-04-07 16:27] #28903 closed

[2019-04-07 16:27] #11320 closed

[2019-04-07 16:27] #27674 closed

[2019-04-07 16:27] #25274 closed

[2019-04-07 16:27] #27810 closed

[2019-04-07 16:27] #23940 closed

[2019-04-07 16:58] keerthig-microsoft opened #28923 "@Microsoft.KeyVault(...) not retrieving value from keyvault"
I have a Function app service and have System assigned managed identity enabled. I have created an entry under Application Settings that uses @Microsoft.KeyVault(...) for an app setting (call it SecretKey).

e.g.

@Microsoft.KeyVault(SecretUri=https://myvault-int.vault.azure.net/secrets/Setting1/123456)

In my key vault I have created an access policy with Get, List for secrets for my service.

Fu

[2019-04-07 17:34] kilasuit opened #28925 "Link is broken"
The link for the Premium plan is broken - I have submitted PR https://github.com/MicrosoftDocs/azure-docs/pull/28924 to fix this to a working link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf6d-56cb-1d20-f02041a6f6d9
* Content: [Azure Function

[2019-04-07 17:56] ggailey777 commented on #28916
@cbailiss we've very sorry for this article being out of date. It is currently being updated.
@mattchenderson who is currently updating this article for the Functions v2.x runtime.

[2019-04-07 18:00] thovoll commented on #15980
The docs also say "You control what metrics to monitor, such as CPU or memory, how long the application load must meet a given threshold, and how many VM instances to add to the scale set.". If it's only "memory demand" derived from disk write operations, the docs should say so.

[2019-04-07 18:07] soeirodefaria opened #28926 "Error: "There are currently no resources assigned to you""
When deploying a Host Pool, I left the Default Desktop User blank thinking I could add users later. After Host Pool creation I tried to subscribe via both Remote Desktop client and Web client and get the error above.

Is there a way to add users after Host Pool creation? I can't find it in any of the documentation.
If this is not possible, the field should be mandatory.

Thanks

---
#### Document

[2019-04-07 18:27] cbailiss opened #28927 "Logging: "Function.MyFunction""
Under the "logging" heading, there is a logLevel setting.  One of the values underneath this is "Function.MyFunction".
What does the "MyFunction" bit here refer to?  Is this a way of setting up different log levels for different Azure Functions?  I have an Azure Function called "ListCars" (i.e. in the C# definition of the function, I have declared the attribute "[FunctionName("ListCars")]".  I tri

[2019-04-07 18:51] Anand-Moghe opened #28928 "What are some of the strategies I can use to avoid any egress charges to my Log Analytics in different region than my azure service?"
Can you provide some recommendation for avoiding any egress charges for sending data to log analytics service in different region? E.g. In Azure Gov cloud, Log Analytics is only available in US Gov Virginia region and services from another region might be using the Log Analytics which could be subject to egress charges.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-04-07 19:15] SubhashVasarapu-MSFT commented on #28386
@Daud23 , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-07 19:15] #28386 closed

[2019-04-07 19:57] BhargaviAnnadevara-MSFT commented on #28891
@Godase Thank you for the response! I've routed this to the appropriate Team to investigate and update.

[2019-04-07 20:00] javiersoriano opened #28929 "AKS cannot move to another directory"
Hi, you should include in this page if there are services that can be affected by the directory change. For example, AKS clusters will stop working if they are moved to a different AAD (see here: https://docs.microsoft.com/en-us/azure/aks/troubleshooting#can-i-move-my-cluster-to-a-different-subscription-or-my-subscription-with-my-cluster-to-a-new-tenant)

---
#### Document Details

⚠ *Do not edit

[2019-04-07 20:03] julesman101 opened #28930 "Install-Module -Name Az.FrontDoor -AllowPrerelease <- Incorrect Argument "AllowPrerelease""
Install-Module no longer supports the parameter "AllowPrerelease".  The parameter "AllowClobber" should be used instead. So the required powershell to install the Az.FrontDoor module should read:

"Install-Module -Name Az.FrontDoor -AllowClobber"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e990f6b4-e42a-1945-b45a-48

[2019-04-07 20:58] soeirodefaria commented on #28926
OK I figured it out.
I can use the command  Add-RdsAppGroupUser to add users to the deployment.

I suggest to edit the document to make it clear that the command above works for adding users to both Host Pool and App Group

[2019-04-07 21:22] femsulu commented on #28928
@Anand-Moghe Thanks for the comment. Your feedback has been shared with the content owner for further review.

[2019-04-07 21:26] femsulu commented on #28927
@cbailiss Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-07 21:31] femsulu commented on #28926
Thanks for the feedback, @soeirodefaria . Your recommendation has been shared with the content owner for further review.
@Heidilohr would it be possible to update content based on the above?

[2019-04-07 21:35] femsulu commented on #28925
@kilasuit Thanks for catching this and initiating a PR. Adding the content owner @ggailey777 to review and signoff on the PR.

[2019-04-07 21:38] femsulu commented on #28923
@keerthig-microsoft Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-07 21:46] femsulu commented on #28929
@javiersoriano Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-07 21:50] femsulu commented on #28930
@julesman101 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-07 22:03] ishepherd opened #28931 "Another incomplete answer"
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#how-long-does-it-take-to-deploy-an-azure-front-door-service-does-my-front-door-still-work-when-being-updated

I'm interested in the second question there (is there zero downtime while it's updated?) but the answer does not answer it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-04-07 22:15] KeiroKamioka0000 commented on #28804
@SaurabhSharma-MSFT
Sorry, actually I don't have the document for that, we are informed that Azure had some update for Advanced Data Security for SQL Database from the customer.

[2019-04-07 22:19] keerthig-microsoft commented on #28923
Function app name is - PaymentsTradeScreeningServiceTest2.

It’s a time based trigger function app, which is running for every minute. It’s running continuously now.

[2019-04-07 23:49] JihongL commented on #28311
@kgremban Thanks! that's are very useful features to me.

[2019-04-07 23:51] LeeHyeongWon commented on #28693
1-1) What I want to do is not tell the module itself, but the message that stays in the module. I wonder the status of the message when the module is switched off. When I turn it back on, do I sync and activate my old message?

1-2) Is the message for the question in 1-1 stored in a place called Store?

2-2) You said it's the same as the IoT hub, but can I use the http? If I need to send about 5mb

[2019-04-07 23:54] LeeHyeongWon commented on #28693
Thank you @kgremban
But i have more questions.

1-1) What I want to do is not tell the module itself, but the message that stays in the module. I wonder the status of the message when the module is switched off. When I turn it back on, do I sync and activate my old message?

1-2) Is the message for the question in 1-1 stored in a place called Store?

2-2) You said it's the same as the IoT hub, but

[2019-04-08 00:18] LeeHyeongWon commented on #28693
@kgremban
Thank you for your answer.
But i have more questions.

1-1) What I want to do is not tell the module itself, but the message that stays in the module. I wonder the status of the message when the module is switched off. When I turn it back on, do I sync and activate my old message?

1-2) Is the message for the question in 1-1 stored in a place called Store?

2-2) You said it's the same as

[2019-04-08 00:34] jonaselreweny opened #28932 "Please go through this guide"
There are so many problems with this guide. No versions specified for the libraries. Compile errors. Make the world a happier place by unpublishing the guide until it is fixed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6908b99a-b62b-0596-3dbe-c2fec0260b2b
* Version Independent ID: f34e44f2-3d3d-cbcd-d626-7c9b4115a0

[2019-04-08 00:41] EldhoKSuresh opened #28933 "Deque messages custom retrieval- invisibility timeout setting is for batch of messages and not individual messages"
In the custom message retrieval section, invisibility timeout setting is defined as five minutes for each message. But when I tried it out, the five minute timeout is applied to the whole batch of message retrieved and not for each message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59cdec64-6b86-6e2b-db74-5952d825

[2019-04-08 02:03] YASWANTHM-MSFT commented on #28933
@EldhoKSuresh, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-08 02:08] archmangler commented on #26361
The Microsoft data factory pipeline example is broken because of this bug:

https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-python

When configuring a DF pipeline as in the above example code:

[code]

We get this error, even with the correct parameters:

[code]

Is there a workaround for this?

[2019-04-08 02:10] YASWANTHM-MSFT commented on #21865
@ BigDrums00, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-08 02:10] #21865 closed

[2019-04-08 02:29] HaoHoo commented on #28668
Thanks for your rapidly update!

[2019-04-08 02:34] sjpritchard opened #28937 "Custom Proncunciation"
This page says that pronunciation adaption is supported for en-AU, however on the [Pronunciation Data import page](https://australiaeast.cris.ai/Datasets/Create?Kind=Pronunciation), the only supported languages are en-US, de-DE, and it-IT.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-8114-7bef-7ef4-022f79c69

[2019-04-08 02:37] HaoHoo opened #28938 "Description of browser redirect behavior."
[Enter feedback here]

Hi Expert,

It's possible to add few words to explain the browsers' behavior when we set some url redirect on application gateway/waf?

When I set these settings I noticed that it not work and finally found that is browser behavior like 301 redirect. I think that some words to clear these can help readers' time on trouble shooting.

Hao Hu

---
#### Document Details

⚠ *Do n

[2019-04-08 02:45] mgfink commented on #14812
Thanks for updating!

[2019-04-08 02:45] #14812 closed

[2019-04-08 02:52] swinarko commented on #28887
We have a default timeout limit of 30 minutes for custom setup on SSIS IR, but you can raise a customer support ticket to increase it.

[2019-04-08 02:53] dcbrown16 opened #28939 "Referring to the Internet tag"
Are there any service tags that would actually NOT be included in the Internet tag? I believe VirtualNetwork is the only one that wouldn't be a subset of Internet.
I'm not sure why SQL and Storage specifically call out that they are included in the Internet range, while AzureCloud and all of the service-specific ones from Cosmos DB on don't say anything in regards to Internet.

---
#### Document D

[2019-04-08 03:08] skmkzyk commented on #28698
@msrini-MSFT, what API did you referred?
As far as I tested, multiple delegation against one subnet returns error.

https://docs.microsoft.com/en-us/powershell/module/az.network/new-azdelegation?view=azps-1.6.0#examples
After attached delegation on Azure Portal, I tested this process and got below error.

[code]

[2019-04-08 03:12] linda33wj commented on #7407
#please-close

[2019-04-08 03:13] linda33wj commented on #9076
#please-close

[2019-04-08 03:20] linda33wj commented on #16610
The ARM template exampled is here: https://docs.microsoft.com/en-us/azure/data-factory/data-factory-service-identity#generate-managed-identity-using-an-azure-resource-manager-template

#please-close

[2019-04-08 03:23] KetanChawda-MSFT commented on #28566
@JohnDoeKyrgyz Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-08 03:23] #28566 closed

[2019-04-08 03:24] KetanChawda-MSFT commented on #28605
@batizar We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-08 03:24] #28605 closed

[2019-04-08 03:25] KetanChawda-MSFT commented on #28676
@mganeshphani Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-08 03:25] #28676 closed

[2019-04-08 03:26] ggailey777 commented on #28925
Thanks @kilasuit for your fix. I have a request for you in your PR.
Since there is a PR to address it, we can #please-close this issue.

[2019-04-08 03:31] KetanChawda-MSFT commented on #28939
@dcbrown16 Thank you for your feedback! We will review and update as appropriate.

[2019-04-08 03:38] KetanChawda-MSFT commented on #28931
@ishepherd Thank you for your feedback! We will review and update as appropriate.

[2019-04-08 03:43] linda33wj commented on #13502
Sorry for the troubles and the delayed response. We had updated the Xero connector after this issue was reported last year, and it should no longer happen now. Let know if you still seeing connection failure.
#please-close

[2019-04-08 03:43] KetanChawda-MSFT commented on #28932
@jonaselreweny Thank you for your feedback! We will review and update as appropriate.

[2019-04-08 03:52] KetanChawda-MSFT commented on #28937
@sjpritchard Thank you for your feedback! We will review and update as appropriate.

[2019-04-08 03:53] DixitArora-MSFT commented on #28764
@tylerhartwig I have created the [PR](https://github.com/DixitArora-MSFT/azure-docs-pr/commit/315f21da1ff978d98569559096141b5559776146) which will correct the properties section . Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We

[2019-04-08 03:53] #28764 closed

[2019-04-08 03:56] theonewolf commented on #28822
@jakaruna-MSFT as an update, we setup another instance with CentOS 7.6, following the instructions to activate the AAD Linux extension.

This time we also enabled "System Assigned Managed Identity".  However, this second VM has the **exact same problem** as the first VM we setup.

Let me know if there are any troubleshooting updates, or suggested next steps.

[2019-04-08 03:58] KetanChawda-MSFT commented on #28938
@HaoHoo Thank you for your feedback! We will review and update as appropriate.

[2019-04-08 03:58] reymondk opened #28940 "Mising fault domains for Australia central and Australia central 2"
Hi Azure Docs Support,

- Azure Service: Azure Available Sets
- Published Link specific for the number of fault domains: https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/managed-disks-common-fault-domain-region-list.md

Issue:
I do not see the number of fault domains for these 2 regions:
- Australia Central
- Australia Central 2

The information will be useful for us during the dep

[2019-04-08 04:00] v-maroge opened #28941 "Support for SQL 2008?"
The prerequisite says "Provisioned with a SQL Server gallery image." when I created Web and Standard version SQL 2008, I did not see the "SQL Server Configuration" menu. Are SQL 2008 series supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a55a5d9c-29bb-be87-d00d-9b4e3e92cab1
* Version Independent ID: d2289268-

[2019-04-08 04:02] ShirleyWangMSFT commented on #21898
@jalilkarim When you configure Salesforce as source and Azure SQL DB as destination for a copy activity, the copy activity only copies data from SF to Azure SQL DB but not metadata.  User needs to create the destination table with proper schema in Azure SQL DB prior to the copy activity execution, and if the schema changes in SF afterwards, user needs to run DDL statements to update the schema def

[2019-04-08 04:07] ShirleyWangMSFT commented on #21472
@ravikiran-srini Even though the stored procedure is executed using a default Azure IR, the content of the stored procedure is to run sp_executesql to invoke an SSIS package that is registered with Azure SQL catalog DB.  To cause that SSIS package to execute, it needs an SSIS Integration Runtime to be created inside the data factory, hence SSIS IR is listed as a prerequisite.

#please-close

[2019-04-08 04:09] nabhishek commented on #21401
#please-close

[2019-04-08 04:15] linda33wj commented on #9533
Sorry for the delayed response. ADF copy activity already added support for PolyBase logging rejected rows quite a while ago. The doc was updated accordingly back then, however this thread was missed for an update.

For the error of UserErrorFormatIsRequired, seems not related to this fault tolerant/skip rows setting, but the dataset referenced in copy activity requires a format setting for ADF to

[2019-04-08 04:30] KeiroKamioka0000 opened #28943 "Does it support Linux WebApp?"
I've tried to create the Linux Web App with Application Insight,
Application Insight option will be gone when I've selected Linux to create Web App.
Also, [Application Insight] option will be gray out, when the Web App is in Linux.

Does Application Insight support Linux WebApp?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-04-08 04:50] RohitMungi-MSFT commented on #28937
@erhopf As per the documentation en-AU is supported for pronunciation dataset but it is currently unavailable in the portal even in AU region.

As per documentation:
![image](https://user-images.githubusercontent.com/46958063/55699283-c04b7980-59e7-11e9-9371-ee0d99134313.png)

As per portal for pronunciation dataset en-AU is unavailable:
![image](https://user-images.githubusercontent.com/46958063/

[2019-04-08 04:51] BhargaviAnnadevara-MSFT commented on #28943
@KeiroKamioka0000 Thanks for the question! We're investigating this and will get back to you shortly.

[2019-04-08 05:30] msrini-MSFT commented on #28698
@skmkzyk , I am referring to the REST API : https://docs.microsoft.com/en-us/rest/api/virtualnetwork/subnets/createorupdate

As I mentioned early, even though you can delegate multiple service in the same subnet, most of the services requires dedicated subnet. This limitation will be lifted in the future.

[2019-04-08 05:31] YASWANTHM-MSFT commented on #28779
@tpeiffer,  You can check this video tutorial [here ](https://www.youtube.com/watch?v=A_rVLVKnDro)to create custom Azure DevOps Pipeline Task to Use latest Az PowerShell Module. I would recommend you to refer the similar query [here](https://stackoverflow.com/questions/54169991/using-az-module-in-azure-devops-release-pipeline). See if that helps you!

[2019-04-08 05:56] PramodValavala-MSFT commented on #28820
@KeiroKamioka0000 They are the same.

The [Az PowerShell cmdlets](https://github.com/Azure/azure-powershell) are built using the [Azure C# SDK](https://github.com/Azure/azure-sdk-for-net) which is a client library for the [ARM REST API](https://docs.microsoft.com/en-us/rest/api/azure/).

As for incremental backups, this isn't supported as of today. Please feel free to open a feature request on [Us

[2019-04-08 05:59] SumanthMarigowda-MSFT commented on #28776
@tpeiffer Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-08 06:01] wahyuen opened #28950 "summarizedInsights.keywords model differs in documentation"
Currently the above documentation suggests that the 'keywords' node should be the one linked in the document when it is from the summaryizedInsights node.

Expected:
[code]

Actual returned from API response:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a34ab04c-3e27-0b10-d067-7ec728fc24bd
* Version Independen

[2019-04-08 06:03] sumitkute opened #28951 "Standard Connector"
In pricing you have mentioned a separate pricing for standard connector. In this documentation there is nothing mentioned about "Standard Connector". Is it fair to assume API connectors are standard, if yes then its should reflect in the documentation?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 283ea333-d9a1-50c6-5

[2019-04-08 06:03] msrini-MSFT commented on #28940
@reymondk , Thank you for your feedback.  When I tried creating availability set in Australia Central region, I got the following error:

The provided location 'AustraliaCentral' is not available for resource type 'Microsoft.Compute/availabilitySets'. List of available regions for the resource type is 'eastus,eastus2,westus,centralus,northcentralus,southcentral
us,northeurope,westeurope,eastasia,s

[2019-04-08 06:05] RohitMungi-MSFT commented on #28837
@Mushududu Here are the steps to add client library dependency from Android StudioFrom Menu,

- Choose File > Project Structure
- Click on your app module
- Click on Dependencies tab
- Click "+" sign to add new dependency
- Pick "Library dependency" from the drop down list
- Type "com.microsoft.cognitive" and hit the search icon from "Choose Library Dependency" dialog
- Pick the Cognitive Services

[2019-04-08 06:12] msrini-MSFT commented on #28939
@dcbrown16 , The  reason why you see those dedicated tag is because those services uses Service tunneling. Let me know if you have any questions.

[2019-04-08 06:21] linda33wj commented on #11417
@klabir OData connector added supports for Service Principal and Managed Identity auth. Let know what additional OAuth you need and the corresponding data store you need to connect using such auth.

_(please open a new issue if you have follow up questions, as comments on closed issues are easily got buried)_

[2019-04-08 06:24] DashleenBhandari-MSFT commented on #27875
@dreic I'll proceed with the closure of the issue. If you have further queries, feel free to re-open the issue.

[2019-04-08 06:24] #27875 closed

[2019-04-08 06:25] angoyal-msft commented on #28720
@Fabian-Schmidt I have assigned this issue to content author to help you further.
@anosov1960 Could you please help the user with his concerns.

[2019-04-08 06:25] linda33wj commented on #19861
Sorry for the delayed response, and good to know you figured out yourself.
To benefit others, pagination is supported via REST connector, and it's THE way to go: https://docs.microsoft.com/en-us/azure/data-factory/connector-rest.

#please-close

[2019-04-08 06:25] KrishnaG-MSFT commented on #28689
@chriskuech, I have tested and tried to to reproduce your issue of getting red underline or query failure but I couldn't see any such issues.

One observed note is, even if your saved query has some condition w.r.t TimeGenerated (say for ago 7d), etc. but when you reference that saved query in another new query and run it for default time range i.e., last 24 hours then the referenced saved query e

[2019-04-08 06:31] tomasz-stelagowski commented on #6649
I have exactly the same problem.

Function upload works with az login, but not when logged with az service principle even when it has owner role on full subscription.
Any ideas?

[2019-04-08 06:34] andrewatfornax opened #28955 "ARM Template Support"
How does one customise the SnapshotRetentionInDays property via ARM templates? (API first approach, yes? :-)) Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeafbf18-2bee-17c8-9871-118396f904b7
* Version Independent ID: 1c591c58-062c-695f-212f-523b4221935c
* Content: [Azure Instant Restore Capability](https://d

[2019-04-08 06:41] Darko-git opened #28956 "How to make the example code work?"
I tried so many things in the application manifest but cannot get the service to access the cert files inside the container (getting System.UnauthorizedAccessException).
Can someone elaborate on the "you can ACL it to other accounts" part?
Does this require setting something outside the Service Fabric?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-04-08 06:43] kogesaka opened #28957 ""Failed to complete OAuth setup." is displayed when I select Github for source code selection"
Hi Team,

Thank you for providing always exciting new features.

I am trying to use the Continuous Delivery (Preview) feature on Web App for Container as described in "Git deployment of my application fails when using Linux web app. How can I work around the issue?"

However, if you select 'GitHub' in the source code selection, you will get the error message "Failed to complete OAuth setup.", and

[2019-04-08 06:56] linda33wj commented on #18332
Sorry for the delayed response. ADF copy activity did perform properly writing the data in. The issue was because before Dec '18 ADLS Gen2 was not supported by Azure Portal nor Azure Storage Explorer, so when navigating you cannot see files post copy. Now Azure Storage Explorer support ADLS Gen2 so you should see E2E works as expected.

#please-close

[2019-04-08 06:56] dcbrown16 commented on #28832
Thanks @MicahMcKittrick-MSFT, I did provide that document in the thought that maybe they could get one of those values to intentionally come out wrong.
The customer is trying to test a startup task on a cloud service in role recycle situations. (It works fine on startup but the code is causing problems when executed at other times, such as recycling.)
If there's no obvious way, that's enough of an

[2019-04-08 06:56] #28832 closed

[2019-04-08 06:57] reymondk commented on #28940
@msrini-MSFT
Most likely your subscription ID does not have permission to create it. The ID has to be white listed to access those two regions as they are for government agencies/Australian-based companies.

[2019-04-08 07:06] femsulu commented on #28941
@v-maroge Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-08 07:20] dcbrown16 commented on #28939
Just to clarify my request a little bit, it would be nice if the service tags had a clear hierarchy so you could see how they "nest".
For example
- VirtualNetwork
- Internet
-- AzureCloud
--- Storage
Showing that Storage is contained within AzureCloud which is contained within Internet.
There are some individual sentences talking about SQL and Storage also being included within the Internet tag, b

[2019-04-08 07:20] msrini-MSFT commented on #28939
@malopMSFT , In this document, for Storage and SQL we have a line stating "For example, the tag represents the Azure Storage service, but not a specific Azure Storage account. All address prefixes represented by this tag are also represented by the Internet tag."

This is not mentioned on other tags which creates confusion. Can you check ?

[2019-04-08 07:24] dcbrown16 commented on #28939
"For example, the tag represents the Azure Storage service, but not a specific Azure Storage account. " - this part can stay, just the very last sentence about the Internet tag should be reconsidered.

[2019-04-08 07:24] ggailey777 commented on #14504
Thanks @cliffkoh. Let's #please-close this issue.

[2019-04-08 07:25] abhiSakhuja commented on #26361
Hello @archmangler,

I have already proposed a solution to it. Try it :).

**Solution:**

`storage_string = SecureString(**value=**'DefaultEndpointsProtocol=https;AccountName=&lt;storage account name&gt;;AccountKey=&lt;storage account key&gt;')
`

[2019-04-08 07:30] ggailey777 commented on #17205
I will add a link from this article to the Monitoring article where we discuss Application Insights monitoring.
#please-close

[2019-04-08 07:32] ggailey777 commented on #19256
We have removed all "classic" monitoring information from this article. It now focuses solely on Application Insights (and streaming logs).

[2019-04-08 07:44] Shekharb694 commented on #25749
Using a VPN on my development system and testing device resolved the issue !

I'm trying to develop a navigation application and unable find android docs for some features !

Can you please direct me to the android documentation for using routing and accessing device location functionality of this SDK ?

[2019-04-08 07:45] SadiqhAhmed-MSFT commented on #28902
Duplicate of #https://github.com/MicrosoftDocs/azure-docs/issues/28901

[2019-04-08 07:48] harshal1982 opened #28959 "Pretty poor documentation"
When I replace  https://login.microsoftonline.com/{tenant}/.well-known/openid-configuration with https://{tenant}.b2clogin.com/tfp/{tenant}.onmicrosoft.com/b2c_1a_signin/v2.0/.well-known/openid-configuration it gives 404 in custom policy.
I have tried
https://{tenant}.b2clogin.com/{tenant}.onmicrosoft.com/b2c_1a_signin/v2.0/.well-known/openid-configuration
https://{tenant}.b2clogin.com/tfp/{tenant

[2019-04-08 07:48] ggailey777 commented on #26892
@brettsam can you address the question about any limitations of Application Insights metrics on Linux versus Windows?

[2019-04-08 07:51] sebhurleyhte commented on #28842
Yep, figured it out - just think the guide should reference that :)

[2019-04-08 07:53] rayne-wiselman commented on #23564
@pgbconfirmit. Since this appears to be a bug and not an issue with the article, I'm closing this. Presumably the matter will proceed as needed via the support call. Thanks!
#please-close

[2019-04-08 07:54] janisBerz commented on #22700
I'm experiancing the same issue but this happens only if `New-AzureAdServiceAppRoleAssignment` is executed using a service principal not user principal. I mean when you connect to Azure AD using a Service principal instaed of user principal to apply App role assignment.

[2019-04-08 07:55] passwordWindows opened #28960 "Using directive is unnecessary"
I've tried to build the code, but VS 2015 says that using directive is unnecessary.

using Microsoft.Azure.CognitiveServices.Vision.Face;
using Microsoft.Azure.CognitiveServices.Vision.Face.Models;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4153d75-837e-e3d2-3d6c-26e1aee861f6
* Version Independent ID: fcab878c-d22

[2019-04-08 07:56] dreic commented on #27875
Hi, you didn't comment on broken FTP deployment on Linux app service for .NET core.

[2019-04-08 08:02] MatthewBracewell commented on #28685
@DixitArora-MSFT Your PR link still 404s for me.
Better permissions must be required.

Very frustrating to raise the issue of 404s in yr docs only to be provided with a 404 links in response.
I give up!

[2019-04-08 08:02] SadiqhAhmed-MSFT commented on #28901
@DMoonesinghe

[2019-04-08 08:07] AjayKumar-MSFT commented on #28892
@awws, Just to confirm, are you referring to the '[Azure Advisor](https://docs.microsoft.com/en-us/azure/advisor/advisor-security-recommendations)' recommendations or something else for rotating keys? Could you please provide any specific requirement you’re working on for better assistance? Thanks again for sharing your valuable feedback, we really appreciate your comments on this.

[2019-04-08 08:10] cogit2 opened #28961 "List admin users command not working"
Get-AzureADDirectoryRole | Where { $_.DisplayName -eq "Company Administrator" } | Get-AzureADDirectoryRoleMember | Ft DisplayName leads to: BadRequest --&gt; Error occurred while executing GetAzureADDirectoryRoleMembers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb215891-08d6-3e34-d866-eb595bbae7e9
* Version Indepe

[2019-04-08 08:13] Deland-Han commented on #24290
The author of the article is working on this. I will update the article once they finished.

[2019-04-08 08:17] msrini-MSFT commented on #28940
@reymondk , If you have access to your subscription, can you go ahead and create an availability set where you can see the Fault domain and update domain.

In the properties, you can see,

![image](https://user-images.githubusercontent.com/47132998/55708976-dc114880-5a04-11e9-8361-51a0f6e3b4ec.png)

[2019-04-08 08:19] msrini-MSFT commented on #28895
@GhandiSober-MSFT , Thank you for your feedback. If you need mesh configuration across tunnels BGP is mandatory. if you have BGP, then routes will be revoked, if the tunnel goes down.

[2019-04-08 08:19] #28895 closed

[2019-04-08 08:21] msrini-MSFT commented on #28843
@MScarno , Let me know if you have any further questions. I will close this issue now, please reopen if you have an questions

[2019-04-08 08:21] #28843 closed

[2019-04-08 08:24] Godase commented on #28891
@BhargaviAnnadevara-MSFT I am waiting for solution

[2019-04-08 08:37] MisiekBest commented on #25298
@ThirstyAdmin , look at my blog post:

http://sql.pawlikowski.pro/2019/03/10/connecting-to-azure-data-lake-storage-gen2-from-powershell-using-rest-api-a-step-by-step-guide/

I created an example of how to connect to ADLS Gen2 API from PowerShell using REST and how to create a filesystem.

Hope it will help you.
Regards,
m.

[2019-04-08 08:42] rayne-wiselman commented on #28901
Thanks for your feedback. Sentence is correct. No modification needed in the article.
#please-close

[2019-04-08 08:42] hansmbakker commented on #28461
Please also note that the App Service VNet Integration page suggests that an App Service can access other services **through a VNet** using VNet integration.

![image](https://user-images.githubusercontent.com/3463496/55710317-b37c5500-59ea-11e9-8354-77aae46dea52.png)

[2019-04-08 08:43] hansmbakker commented on #28461
The "Learn more" link points to https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#new-vnet-integration which says:

[2019-04-08 08:43] KetanChawda-MSFT commented on #28950
@wahyuen Thank you for your feedback! We will review and update as appropriate.

[2019-04-08 08:46] KetanChawda-MSFT commented on #28951
@sumitkute Thank you for your feedback! We will review and update as appropriate.

[2019-04-08 08:48] KetanChawda-MSFT commented on #28955
@andrewatfornax  Thank you for your feedback! We will review and update as appropriate.

[2019-04-08 08:51] KetanChawda-MSFT commented on #28956
@Darko-git Thank you for your feedback! We will review and update as appropriate.

[2019-04-08 08:52] KetanChawda-MSFT commented on #28959
@harshal1982 Thank you for your feedback! We will review and update as appropriate.

[2019-04-08 08:57] JonesMikael opened #28963 "Additional URLs for Seamless SSO"
I suggest we add some more URLs for Seamless SSO since there are many blog posts out there trying to figure them out and it would be great for an official document with a list of supported URLs. For example the following URL for OneDrive works for me but maybe there's a better URL using `domain_hint` instead of `whr`?
https://login.microsoftonline.com/login.srf?wa=wsignin1%2E0&rver=6%2E1%2E6206%2E

[2019-04-08 09:10] angoyal-msft commented on #28785
@olesjo I have tried by installing the same Git sample from [URL](https://github.com/Azure-Samples/cosmos-dotnet-getting-started). After uninstalling the Microsoft.Azure.Cosmos Nuget Solution and then again installing it back.
The Cosmos solution is building fine.

Could you please retry the same and let us know the exact error if you are still facing.

[2019-04-08 09:14] jVincentl opened #28964 "Out of date documentation"
The "Customize startup command" references the application settings which is sted to be obsolete in the portal. Furthermore it's instructions reference a runtime setting and stack that are neither pressent on the old "application settings (classic)" or the new "configuration" in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-04-08 09:19] SadiqhAhmed-MSFT commented on #28902
@mayurigupta13 Your inputs please?

[2019-04-08 09:21] SnehaAgrawal-MSFT commented on #28957
@kogesaka Thanks for the question! We are investigating and will update you shortly.

[2019-04-08 09:24] shashishailaj commented on #28963
@JonesMikael Thank you for your feedback . We will investigate and update the thread accordingly.

[2019-04-08 09:24] annerejula commented on #28457
@anirudhcavale  Please let me know if the Azure Monitor REST APIs allow fetching of Custom Metrics as of now..

[2019-04-08 09:27] SadiqhAhmed-MSFT commented on #28901
@DMoonesinghe Closing this issue now. Feel free to reach out if you've further questions.

[2019-04-08 09:29] sergaz-msft commented on #28789
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-08 09:29] #28789 closed

[2019-04-08 09:31] Benjiiim opened #28965 "Azure-compatible virtual hard disk (VHD) requirement?"
Solution templates can be composed of several types of Azure resources, including Virtual Machines.
Shouldn't the documentation emphasize the fact that the solution Template should be based on a VM or an entire IaaS-based solution before talking about the VHD format?

It might be interesting to use a similar wording than the managed application page:

And it might be interesting to improve the VHD

[2019-04-08 09:32] rayne-wiselman commented on #28902
@SadiqhAhmed-MSFT - please be sure you're assigning these correctly so that appear in my workflow as article owner.

@DMoonesinghe @SadiqhAhmed-MSFT The sentence is correct. Replicated data is stored in Azure Storage. After failover VMs are created.

[2019-04-08 09:35] RohitMungi-MSFT commented on #28960
@passwordWindows Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-08 09:36] DMoonesinghe opened #28966 "Platform Support for Emulator"
This article says "The storage emulator currently runs only on Windows. For those considering a storage emulator for Linux, one option is the community maintained, open source storage emulator Azurite."

But the following link says otherwise.
https://docs.microsoft.com/en-us/azure/vs-azure-tools-storage-manage-with-storage-explorer?tabs=windows

Starting with version 1.1.0, local storage emulator

[2019-04-08 09:37] PramodValavala-MSFT commented on #17205
@rajbos We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-08 09:37] #17205 closed

[2019-04-08 09:42] xinzouMicrosoft opened #28967 "client certification authentication"
How to enable client authentication (only client with cert installed), for service fabric application with https endpoint? any sample or doc? Thanks a lot!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f217-446f1ad263c5
* Version Independent ID: a47523e2-0c30-dee4-0037-5f58836fa37f
* Content: [Add a

[2019-04-08 09:43] el-sai opened #28968 "Section "Resource hierarchy and inheritance" and "Assigning roles" are duplicated"
The section "Resource hierarchy and inheritance" and "Assigning roles" are duplicated in this page. You can see that these sections are present twice in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60464ce3-faa8-c548-367b-ccd3d2086b3d
* Version Independent ID: b9a7bd77-f0e8-9a64-45a7-999af01eb840
* Content

[2019-04-08 09:48] ahalha opened #28969 "word level timing"
Hi,
Does Speech-to-text service has word-level timing that we can know the time each word took to be processed.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2fcd39-a2d6-0a3a-1235-1aae45cae26d
* Version Independent ID: db227248-d6d1-b1d3-05bc-522cd1435da2
* Content: [Speech-to-text with Azure Speech Services

[2019-04-08 10:01] SadiqhAhmed-MSFT commented on #28965
@Benjiiim Thanks for the comment! We've shared your feedback with the content developer for further review and update as appropriate.

@ellacroi FYI.

[2019-04-08 10:01] sergaz-msft commented on #28844
Hello @dblaszyk ,

You can leverage the powershell script "ca-certs.ps1" function "New-CACertsVerificationCert" - see [here](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/ca-certs.ps1#L183).

Or Bash "certGen.sh" with function "generate_verification_certificate()" see [here](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/certGen.sh#L317).

Lik

[2019-04-08 10:03] waqar-anwar1990 opened #28971 "Syncing more than 50 agents to one Hub"
Hi there,

Can you guys suggest me the best way to have one data warehouse (Azure SQL Database / Hub Database) to which more than 50 Data-Sync Agents/On-Premesis Databases can sync to?

I see there is a restriction of 30 stores at the moment for not only per server but per server per location.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-04-08 10:03] el-sai commented on #28968
Created a PR for this issue -> #28970

[2019-04-08 10:08] DMoonesinghe opened #28972 "How do you discover and migrate Hyper-V or Physical VMs?"
Even though this document says Migrate Overview.  It is only focused on discovering VMWare VM's.  What about Hyper-VM's and Physical VM's?  This document doesn't  explain that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8057689a-352a-2c4f-308a-907e2e4a1f51
* Version Independent ID: dc6ee9f0-2d21-292e-491a-dddd9ab03

[2019-04-08 10:11] msrini-MSFT commented on #28900
@aziegelb , Do you have any further questions?

[2019-04-08 10:15] Anmolgan81 opened #28973 "How to Migrate AWS Elastic Search To Azure Elastic Search?"
How can we migrate AWS Elastic Search to azure elastic search can this be done using data factory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1f2edef-d233-6125-1499-7f55d86ecb0c
* Version Independent ID: e994602f-882a-327e-9333-4d1cf2c89006
* Content: [Create an Azure data factory using the Azure Data Factory UI](

[2019-04-08 10:17] saifuddin123 opened #28974 "gateway connection fails - connect downstream device"
Hi,
Have followed all steps exactly as mentioned in this documentation. Seeing below error on testing gateway connection. Edge runtime is working after updating the config.yaml. Any steps other than mentioned to be done?

[code]
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76665258-377d-33f0-2dea-061df101197f
* Version In

[2019-04-08 10:20] SubhashVasarapu-MSFT commented on #28425
@KeiroKamioka0000 , You must first remove an ACL from any endpoints on a VM to use NSGs. The two (ACL and NSG) cannot co-exist on the same endpoint.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-08 10:20] #28425 closed

[2019-04-08 10:22] rkarlin commented on #28422
These are the accurate permissions: https://docs.microsoft.com/azure/security-center/security-center-permissions#roles-and-allowed-actions I'll make sure to remove anything else from this page. thanks.
#please-close

[2019-04-08 10:23] BhargaviAnnadevara-MSFT commented on #28943
@KeiroKamioka0000 I also did see the same thing with one of my Linux Web App, with the following note while hovering over the Application Insights blade:

![image](https://user-images.githubusercontent.com/44050820/55717034-16cfac80-5a16-11e9-8ae6-ab13e415883d.png)

Therefore, it **is** clear that Azure Application Insights is not available for Linux Web Apps. However, I shall still reach out to o

[2019-04-08 10:25] rayne-wiselman commented on #28972
@DMoonesinghe. Appreciate your feedback on this. i'll make the doc changes and then send them to you for review so we can be sure everything's clearer.

[2019-04-08 10:25] SadiqhAhmed-MSFT commented on #28972
@DMoonesinghe Thanks for the question! Azure Migrate currently only supports assessment of VMware workloads. Support for Hyper-V is in preview, please sign up [here](https://aka.ms/migratefuture) to get access to the preview. Support for physical servers will be enabled in future. Reference: [Azure Migrate FAQ](https://docs.microsoft.com/en-us/azure/migrate/resources-faq)

[2019-04-08 10:25] SnehaAgrawal-MSFT commented on #28964
@jVincentl Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-08 10:27] Anmolgan81 opened #28975 "How can I migrate AWS Elastic Search to Azure ElasticSearch?"
How to migrate the AWS Elastic Search to Azure Elastic Search?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b640eeb-c8c8-e983-1e73-8a6e37d09db9
* Version Independent ID: 89c2108c-3fa4-5a24-b3f3-ae35b0165eb1
* Content: [Deploy ElasticSearch on a development virtual machine in Azure](https://docs.microsoft.com/en-us/a

[2019-04-08 10:54] shashishailaj commented on #28597
@sheist Could you please run the AD connect wizard and select the option to view current configuration. within the same do you see the password writeback enabled or disabled.

![image](https://user-images.githubusercontent.com/532022/55683922-f5fa4f00-5962-11e9-8d3d-dfbc17635b95.png)

![image](https://user-images.githubusercontent.com/532022/55683933-0f030000-5963-11e9-810b-392fe6232508.png)

In c

[2019-04-08 10:59] sergaz-msft commented on #28932
Hi @jonaselreweny thanks for reaching out! We are in the process of improving and updating this sample - currently addressing the issues opened at the related repo: https://github.com/Azure-Samples/iot-hub-feather-huzzah-client-app/issues

If your issue is already part of the [opened ones](https://github.com/Azure-Samples/iot-hub-feather-huzzah-client-app/issues) let us know so we can close it her

[2019-04-08 11:04] sergaz-msft commented on #28918
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-08 11:11] sergaz-msft commented on #28831
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-08 11:28] jakaruna-MSFT commented on #28956
@Darko-git Are you able to get the environment variables populated with the cert information?

[2019-04-08 11:30] blueelvis opened #28976 "For how long does Azure maintain the resource GUIDs?"
Hi,

Imagine the following scenario -
1. A role is removed from the resource group for a particular user who leaves the organization after 4 days post the completion of this role removal.
2. We query the principal ID contained in this Deletion message say like 90 days after using this API - `https://docs.microsoft.com/en-us/rest/api/authorization/roleassignments/getbyid`

Till how long can we expe

[2019-04-08 11:40] jakaruna-MSFT commented on #28520
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-04-08 11:40] #28520 closed

[2019-04-08 11:52] tjoudeh commented on #28378
Hi @shashishailaj this is important to have a document which lists the B2C specific error codes, I kept searching but nothing is well documented yet.

[2019-04-08 11:56] YASWANTHM-MSFT commented on #28966
@DMoonesinghe, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-08 11:59] jakaruna-MSFT commented on #28593
@solomson I think 0.2 GB of RAM is required for the container to start. Once its provisioned, Then its allowed to use all the available RAM. Looks like Spring boot apps needs atleast 150 MD to start.

[2019-04-08 12:04] jakaruna-MSFT commented on #28690
@iainfoulds Please add your comments

[2019-04-08 12:04] ned1313 opened #28977 "msn.com does not work as an example."
The URL https://msn.com automatically redirects to https://www.msn.com so no page will load on step 3 of the firewall test.  Even after adding *.msn.com as an allowed Target FQDN, the page still fails to load properly in IE due to plugin/connectivity issues.  I recommend using PowerShell to check connectivity instead.

Recommend changing the following:
Target FQDN should be: "msn.com, *.msn.com"
I

[2019-04-08 12:17] Kilafer commented on #12247
@jeevansd Hi, any updates?

[2019-04-08 12:17] msrini-MSFT commented on #28977
@ned1313 , Thank you for your feedback.

For your first question, the reason why browsing https://msn.com is showing as blocked is because, when you browse https://msn.com to gets passed through the firewall and it gets redirected to https:.//www.msn.com which is blocked by the Firewall.

In the below image, you can see the page getting redirected by looking into the location header.

![image](htt

[2019-04-08 12:23] birjitningomba commented on #10219
This is still an issue.

[2019-04-08 12:28] jakaruna-MSFT commented on #28941
@v-maroge I am able to reproduce your issue. "SQL Server settings" are not shown for Windows server 2008R2.

@ninarn please provide your comments

[2019-04-08 12:28] msrini-MSFT commented on #28977
PR has been made : https://github.com/MicrosoftDocs/azure-docs-pr/pull/72336

Changes will be reflected shortly.

[2019-04-08 12:32] ned1313 commented on #28977
@msrini-MSFT Thanks for getting back so quickly!

As you mentioned browsing to [https://msn.com](https://msn.com) does not work.  The example provided in the instructions should be updated to something that will work, hence my suggestion to add the entire *.msn.com domain to the rule.  Then have the learner try another site, such as [https://www.microsoft.com](https://www.microsoft.com) to see how

[2019-04-08 12:42] Mushududu commented on #28837
On the github you only have the code of the differrent part in Java but this is not an example and this does not explain how to build an app with your services

[2019-04-08 12:46] smoelker opened #28978 "Mention indirect pricing impact"
Azure Front Door can potentially increase your bill in a manner that might not be intuitive to many users.

Front Door generates a lot of outgoing bandwidth on the backend service for its health probes but this traffic is charged separately and is not mentioned in de pricing section, nor in the docs.

I shared my experience on Stack Overflow: https://stackoverflow.com/questions/55572932/azure-fron

[2019-04-08 12:50] dhheeraj commented on #17190
What is the minimum .net framework required to consume this version of service. I have an application build on top of 4.6 unable to build the solution when using nuget package for V3?

[2019-04-08 12:53] erjenrijnders commented on #27773
Does your user have Owner access on the Azure Subscription?

[2019-04-08 13:06] msrini-MSFT commented on #28977
@ned1313 Thank you for your feedback.

I will assign this issue to author. Author will make necessary changes.

[2019-04-08 13:07] SubhashVasarapu-MSFT commented on #28549
@mbell85 , It looks like a product issue.I will quickly check with the product team and will let you know.

[2019-04-08 13:13] mrbullwinkle commented on #28943
@KeiroKamioka0000 just to add on to what @BhargaviAnnadevara-MSFT wrote, there are two core methods of enabling monitoring with Application Insights, codeless monitoring with our agent/extension, and monitoring where you make small manual changes to your application's code to enable monitoring by adding dependencies to the appropriate Application Insights SDK.

The App Services UI grays out the Ap

[2019-04-08 13:16] msrini-MSFT commented on #28978
@smoelker , Thank you for your feedback. As AFD decides the endpoint based out of probes, you cannot disable it. Also probes will be send by all POP servers to the endpoints. So, you need to optimize the probe interval and the probe path/ file which you are accessing.

I will have a word with the Product Owner and get this details updated in the documentation.

[2019-04-08 13:20] lightupdifire opened #28979 "Testing steps"
Hello,
This article is from 05/31/2017!
Azure portal changed long time ago, maybe it is time to review the setup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081729e5-959f-d8c2-de1b-b035c6dbc8fb
* Version Independent ID: c93eda68-5b52-04bf-fca2-53bb7eba178a
* Content: [Azure AD Connect Multiple Domains](https://docs

[2019-04-08 13:26] mbell85 commented on #28549
@SubhashVasarpu-MSFT Thanks much. I can open a ticket with support if you think that may help. What would you suggest?

[2019-04-08 13:28] KeldOelykke opened #28980 "Is the 60s listener response time deadline configurable?"
There are 2 hints on this page that a 60s response time deadline exists:
"If the service does not appear to handle the request, the service will return a 504 "Gateway Timeout" after 60 seconds." and "Responses may be sent in any order, but each request must be responded to within 60 seconds or the delivery will be reported as having failed. The 60-second deadline is counted until the response fram

[2019-04-08 13:29] DixitArora-MSFT commented on #28798
@olivoarroba I have created the PR which explicitly mention about Storage Emulator 5.8 . Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-08 13:29] #28798 closed

[2019-04-08 13:30] vidyanambiar11 opened #28981 "How to make changes on the "pg_hba.conf" file for configuring DMS from AWS to Azure Postgre SQL?"
I want to configure DMS between AWS Postgre SQL and Azure Postgre SQL, but as mentioned in the document, how do i make changes onto the config file to add the private ip?
Also can we follow the above steps for configuring DMS between AWS Postgre SQL and Azure Postgre SQL Server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-04-08 13:40] ianhlee commented on #28772
Let me look into the given link. I can't tell you more about the variables. My apologies. Thanks for your help! - Ian

[2019-04-08 13:40] #28772 closed

[2019-04-08 13:51] rawatsudhir1 opened #28982 "Get Started link pointing to wrong URL"
Get started with the Azure Cosmos DB .NET Core SDK link is pointing to DocumentDB client link (.Net) the correct one is below
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnet-core-get-started-preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f432109f-6ecb-502b-2612-f8b6eaaf9ffc
* Version Independent

[2019-04-08 13:55] LudoBoggioTotal commented on #14812
Validated ! Thank you very much :)

[2019-04-08 14:00] JakubHolovsky commented on #28649
Unfortunately not. I can see my Notification Hubs in cloud explorer (however that does not have the "device registrations" option) but I can't see them in the Server Explorer - hence I can't confirm if the solution is working or not. The server explorer is saying that "One or more subscriptions are not supported by the Server Explorer"

[2019-04-08 14:03] KetanChawda-MSFT commented on #28981
@vidyanambiar11 Can you please share the link to the document which you are referring so that we can assign it to the correct team.

[2019-04-08 14:12] tolache commented on #15181
Same. Too bad it doesn't say what conflicts with what.

[2019-04-08 14:15] RyanLWilliams commented on #15181
Can't remember what it was but was only using it in my Dev/Tests environment. I find most customers in real-world scenarios have something more specific which we deliver via Azure Automation Runbooks and looking up a resource tag value to make sure VMs are periodically checked for being in a Running state or Stopped state in-line with business hours

[2019-04-08 14:23] akakarikos opened #28984 "Syntax Error"
Under "Default Key Mapping" section, "configuraiton" instead of "configuration".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2639218d-5e54-aba0-ca0a-e53025b06d15
* Version Independent ID: fec67d60-26a4-ba4c-45cf-f53c74281659
* Content: [Service communication with the ASP.NET Core](https://docs.microsoft.com/en-us/az

[2019-04-08 14:28] bdschaap opened #28986 "Availability Tests Not Included in Requests?"
It appears that requests generated by availability tests are recorded as availabilityResults telemetry events when querying the logs.  It doesn't look like there is a request telemetry event recorded in addition to the availabilityResults event.  Can you confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-

[2019-04-08 14:29] jwargo commented on #16461
@spelluru Can you please take a look at this? Do we need an update?

[2019-04-08 14:31] rayne-wiselman commented on #28901
@SadiqhAhmPlease reopen this. Closed in Error

@DMoonesinghe Thanks for your feedback. We'll get this article updated

[2019-04-08 14:33] haoxin opened #28987 "ImportError: No module named pysqlite2"
I hit the following error messages when I tried  'Submit interactive PySpark queries"
I'm using Python 2.7.
(jupyter)  C:\Users\haoxchen\.msvscode.hdinsight\jupyter\Scripts&gt;jupyter notebook
Traceback (most recent call last):
  File "c:\programdata\anaconda2\envs\py2\Lib\runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "c:\programdata\anaconda2\envs\py2

[2019-04-08 14:34] rothja commented on #28866
@soeirodefaria I can put a row in there for the 64 character limit. Technically, it's a not a limitation of the service, but it seems reasonable that others might look at this page to find this. I'll get the change in before closing this issue. Thanks!

[2019-04-08 14:37] spelluru commented on #16461
@jwargo - The original issue reported has been resolved. We have updated this tutorial to use channels. It uses NotificationCompat.Builder now. Thanks.

[2019-04-08 14:37] DaveVoyles opened #28988 "Notebook Workstation tab missing"
Going through this on 4/8/19, and there seems to no longer be a Notebook Workstation tab on the left hand side, per the first image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0a39c00-0d4b-eef2-39cc-2ebe0603d854
* Version Independent ID: 265dd37f-2299-c762-63be-3c8e5cf504f8
* Content: [Quickstart run a notebook in

[2019-04-08 14:38] dblaszyk commented on #28844
It is more involved than that, if this is the recommended approach, then one would also need to modify the supplied .cnf files, and understand how to best generate the intermediate certificates.

As far as using my own Security best practices, I am hoping that Microsoft could provide some gentle direction.

From: António Sérgio Azevedo <notifications@github.com>
Sent: Monday, April 8, 2019 6:02 AM

[2019-04-08 14:39] sergaz-msft commented on #28974
Hello @saifuddin123 ,

Can you leverage the following two related threads and let us know if you could be unblocked following the best practices there: ?

- https://social.msdn.microsoft.com/Forums/en-US/21050253-9012-4f12-8cfc-eedda08fb839/certificate-error-when-following-tutorial-for-createtransparentgatewaywindows?forum=iotedge

- https://github.com/MicrosoftDocs/azure-docs/issues/13377

Thank

[2019-04-08 14:43] ivratche opened #28989 "The term Linked SSO is misleading at best."
Can you stop using the term Linked SSO? It is not SSO at all :).  Also, lumping WS-FED under SAML SSO is confusing. I understand you probably did it because the page in the Portal is called SAML-based SSO, but this is TECHNICALLY so wrong. I wish the page in the portal is fixed. SAML and WS-FED are two completely different authentication protocols, with different auth flows, parameters, messages,

[2019-04-08 14:47] benrayment commented on #28955
'We will review and update as appropriate.' - So does that means its possible and you will update the docs?

[2019-04-08 14:49] saifuddin123 commented on #28974
Hi,
Is it required to upload and validate the root certificate on iot hub? I
didn't see that step in the documentation but mentioned In few tickets.

On Mon, Apr 8, 2019, 8:09 PM António Sérgio Azevedo <
notifications@github.com> wrote:

[2019-04-08 15:01] CeciAc opened #28990 "Fix Step 2: Bind SSL"
@t106362512 commented on [Mon Apr 08 2019](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/267)

If SSL Cipher doesn't set the "AES128-SHA", it can't not working.
https://i.imgur.com/xY0o5tl.png

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 77a94e6f-a799-494f-f2f9-171c1804e5f4
* Version Independent ID: 0ca5e2ae-5889-61ef-3ce7-5c447f7519a6
* Content: [設定 SS

[2019-04-08 15:02] CeciAc commented on #28990
Hi team,
I'm moving this here since the user is making a suggestion to be added to the instructions
best

[2019-04-08 15:07] RohitMungi-MSFT commented on #28837
@Mushududu For requests to build a new quickstart or an example application can be submitted to the product group on the [user voice forum](https://cognitive.uservoice.com/forums/555925-speaker-recognition-api) as this is submits a request directly to the team. Here is one [request](https://cognitive.uservoice.com/forums/555925-speaker-recognition-api/suggestions/36990928-provide-iphone-applicatio

[2019-04-08 15:08] Darko-git commented on #28956
Yes, the environment variables are populated but the service does not have permissions to access the actual files.

[2019-04-08 15:11] erich-wang commented on #28831
@StefanSchoof , for your questions:
1. We're developing the feature to support env variables in deployment.template.json, so that you can set you password as env variables and no need to check password into source control
2. What do you mean "admin on a device"? If you mean the user who has device connection string, then you don't need to worry because user could not get these info from device con

[2019-04-08 15:13] erhopf commented on #28937
Please reassign to @PanosPeriorellis.

@PanosPeriorellis / @wolfma61 - Can you take a look and confirm this is a documentation bug?

[2019-04-08 15:16] dcarati opened #28992 "Unable to register SCOM 1807 to Azure Monitor"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-08 15:22] dcarati opened #28993 "Unable to register SCOM 1807 to Azure Monitor"
When I try to register SCOM 1807 using the wizard I receive this error:
"This page can’t be displayed
Make sure the web address https://suk.login.mms.microsoft.com is correct."

-
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4096fac2-6f38-0e29-45a7-5eedc9abbd30
* Version Independent ID: 49e53671-fc49-3614-f7d7-0071ebbdc73

[2019-04-08 15:26] #28992 closed

[2019-04-08 15:27] wolfma61 commented on #28969
from the SDK you can get word level timestamp if you supply the endpoint url (FromEndpoint) and add parameters to the URL:
format=detailed&wordLevelTimestamps=true

if you then look at the json result, you will see wordlevel timestamps.
This will probably change in the next release(s), as this feature is being tuned/optimized, which is the main reason it isn't mentioned so far.

Wolfgang

[2019-04-08 15:34] mamccrea commented on #28781
@mpsingh24 - Thank you very much for the feedback. I will add this update to our queue.

#please-close

[2019-04-08 15:39] pgbconfirmit commented on #23564
I already had a support call and they gave me no indication they had any intention of fixing this bug, so I had hoped reporting the bug here would help, but I guess not.

[2019-04-08 15:39] #23564 closed

[2019-04-08 15:40] stewartadam opened #28994 "Examples of custom branding are identical to stock pages"
Clicking these links, I see no difference (even in Incognito):
[code]

https://aka.ms/MFASetup also sends me in a redirect loop when logged in with my work account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72f2e675-436d-dcd4-fa27-49408b201158
* Version Independent ID: 4d821732-fc10-f4a6-3c7d-77bce75299d7
* Conten

[2019-04-08 15:46] Karishma-Tiwari-MSFT commented on #28984
Thanks for the feedback. I have created a PR and changes will be live shortly.

[2019-04-08 15:49] Karishma-Tiwari-MSFT commented on #28210
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-08 15:49] #28210 closed

[2019-04-08 15:49] Mike-Ubezzi-MSFT commented on #28971
@waqar-anwar1990 Thank you very much for your interest in Azure cloud services. Please take a look at the following blog with regard to scaling Azure SQL Data Sync: [Sync SQL data in large scale using Azure SQL Data Sync](https://azure.microsoft.com/en-us/blog/sync-sql-data-in-large-scale-using-azure-sql-data-sync/).
Please let us know if you have additional questions. Thanks, Mike

[2019-04-08 15:51] serbrech commented on #28780
The doc is here, although it could be easier to find  : https://docs.microsoft.com/en-us/azure/aks/configure-kubenet?ranMID=43674&ranEAID=je6NUbpObpQ&ranSiteID=je6NUbpObpQ-NaqUGIQ1igBZJ.Lx25JcWg&epi=je6NUbpObpQ-NaqUGIQ1igBZJ.Lx25JcWg&irgwc=1&OCID=AID681541_aff_7795_1243925&tduid=(ir__tuvgd62e2okfrycv0ckzh9lp2u2xmgje1jg0uyuk00)(7795)(1243925)(je6NUbpObpQ-NaqUGIQ1igBZJ.Lx25JcWg)()&irclickid=_tuvgd62

[2019-04-08 15:51] Karishma-Tiwari-MSFT commented on #28975
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-08 15:53] Mike-Ubezzi-MSFT commented on #28982
@rawatsudhir1 Thank you very much for brginging this to our attention. We are verifying this content change and will update the document as appropriate. Thank you, Mike

[2019-04-08 15:54] dkkapur commented on #28210
Hi folks sorry I missed this - we heard of this from a bunch of folks last week and worked with the Defender team to get this resolved  before the week ended. Please let me know if you're still facing this issue.

[2019-04-08 15:55] garyericson commented on #9068
@YutongTie-MSFT - The Azure Batch AI service has been retired. Can you #please-close this? Thanks.

[2019-04-08 15:56] iainfoulds commented on #28780
Not sure how this would fit under the 'Use Kubenet when...' section? The steps are noted as the last step in creating a cluster using kubenet. There's engineering work that should be releasing soon to remove the need for this anyway.

[2019-04-08 15:56] Karishma-Tiwari-MSFT commented on #28967
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-08 16:00] #28651 closed

[2019-04-08 16:00] brucelangston opened #28996 "typo"
Under the section title, Using an Azure Resource Manager template, is a paragraph, below the first JSON snippet and the note in mauve,
“Adding the user-assigned type and a cotells Azure to create and manage the identity for your application.”
The seems to be some text missing between the “o” and the “t” in “cotells.”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-04-08 16:03] yevster commented on #28780
It would fit under the “use kubenet when” section because it would required ongoing updates whenever networking infrastructure is modified (peering, express route). Organizationally, the person making such modifications could be a different person than the owner of the cluster, so this is something to be taken into account.

If, however, said engineering work removes this need, then I withdraw the

[2019-04-08 16:05] #28780 closed

[2019-04-08 16:10] vhorne commented on #22688
#please-close

[2019-04-08 16:14] mrbullwinkle commented on #28219
@artisticcheese thank you for the suggestion. This new doc from our engineering team provides the steps to add monitoring to a .NET Core app running on any platform with whichever IDE you prefer:

[https://docs.microsoft.com/azure/azure-monitor/app/asp-net-core-no-visualstudio](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core-no-visualstudio)

[2019-04-08 16:15] mrbullwinkle commented on #28219
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-04-08 16:16] #28219 closed

[2019-04-08 16:17] mrbullwinkle commented on #7307
This new doc from our engineering team covers enabling .NET Core monitoring with Application Insights for any platform with whatever IDE/source code editor you prefer: [https://docs.microsoft.com/azure/azure-monitor/app/asp-net-core-no-visualstudio](https://docs.microsoft.com/azure/azure-monitor/app/asp-net-core-no-visualstudio)

[2019-04-08 16:17] mrbullwinkle commented on #7307
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-04-08 16:18] #7307 closed

[2019-04-08 16:20] MGoedtel commented on #26896
@femsulu - please re-assign to Brian Wren. Thanks!

[2019-04-08 16:22] Adam-Smith-MSFT commented on #21469
@cbrooksmsft  Would it be possible to add some doc enhancements based on the above feedback ?

[2019-04-08 16:23] PatAltimore commented on #28918
@hiroyuts Thanks for the feedback.  The value should be 50000000. This matches the template default value. I'll publish a change.

Thanks,
Pat
#please-close

[2019-04-08 16:24] vhorne commented on #7752
@rodrigoffonseca
The CRS article has been updated. Should be live in a few hours.

[2019-04-08 16:25] #28925 closed

[2019-04-08 16:25] #9076 closed

[2019-04-08 16:25] #16610 closed

[2019-04-08 16:25] #21472 closed

[2019-04-08 16:25] #28422 closed

[2019-04-08 16:25] #18332 closed

[2019-04-08 16:26] #19861 closed

[2019-04-08 16:26] #21401 closed

[2019-04-08 16:26] ecfan commented on #28951
@sumitkute @KetanChawda-MSFT, thanks for the feedback! We have a work item on our doc backlog for tracking this issue. #please-close

[2019-04-08 16:26] #21898 closed

[2019-04-08 16:26] #9533 closed

[2019-04-08 16:26] kobulloc-MSFT commented on #28986
@bdschaap Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-04-08 16:26] #14504 closed

[2019-04-08 16:27] #13502 closed

[2019-04-08 16:27] #7407 closed

[2019-04-08 16:27] YutongTie-MSFT commented on #28988
@DaveVoyles
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-08 16:28] Deepudev13 opened #29000 "How to trigger deletion of Unhealthy Instance of Azure VMSS"
## Current Scenario
I have setup an Azure VMSS behind Azure Standard LB.
There HTTP Probe is configured to check Instance health which is working great.
As soon as LB gets signal of unhealthy VM it stops the further incoming traffic to be routing to unhealthy VM.
Auto-scale configuration is configure as
- Scale out when CPU utilization is greater than 65 %
- Scale in when CPU utilization is less t

[2019-04-08 16:28] PatAltimore commented on #28968
@el-sai Thanks for pointing this out. I'll publish an update removing the extra section.

Thanks,
Pat
#please-close

[2019-04-08 16:28] rbrundritt commented on #25749
Our team is working on getting more documentation published. We ran into an issue with the docs.microsoft.com publishing framework not initially supporting Java based docs and working through this. In the mean time we are also writing how-to type articles this month. Is there a particular scenario or topic that you would like us to address?

[2019-04-08 16:29] rbrundritt commented on #14350
#close

[2019-04-08 16:30] PatAltimore commented on #28968
@el-sai, Sorry.  I missed your PR.  I'll accept that.

Thanks!
Pat

[2019-04-08 16:34] trevor-schmidt opened #29001 "Cannot set vmCreationResourceGroupId"
...
"type": "Microsoft.DevTestLab/labs",
      "name": "[parameters('ResourceName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "vmCreationResourceGroupId": "/subscriptions/&lt;mysubscriptionId&gt;/resourcegroups/LAB_Test1_VM",
...
The above is what I am testing with and no error occurs when I deploy the DTL... however, the dtl states in lab settings that their

[2019-04-08 16:37] YutongTie-MSFT commented on #28854
@SriramAvatar Hi, there is a fix created. The change should be alive soon. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-08 16:37] #28854 closed

[2019-04-08 16:40] jeffhebrank opened #29002 "Remote Access option not clear"
I believe Remote access is actually required to be enabled if you want to add multiple IR nodes to a data factory. The documentation above says "you should" enable this option but can be made more clear to let you know its required.

Its unclear what port 8060 is used for and if it is required to be open to enable Remote Access.

Also I just found this V1 document which says port 8050 is the requi

[2019-04-08 16:40] stgeorgi commented on #28926
@soeirodefaria that is not 100% true a host pool does not have concept of users...the app group does...but also there is a default group we create. If you check here https://docs.microsoft.com/en-us/powershell/module/windowsvirtualdesktop/add-rdsappgroupuser you will see appgroup is required parameter

[2019-04-08 16:44] etshih opened #29003 "ADR (preview) feature is on, by default"
Hi,

As our **[SQL Server 2019 CTP2.3 document](https://docs.microsoft.com/en-us/sql/sql-server/what-s-new-in-sql-server-ver15?view=sqlallproducts-allversions#accelerated-database-recovery-ctp-23)** mentioned: “_In Azure SQL DB, ADR (Accelerated database recovery) is on by default._” ~ [2019/02/08 committed](https://github.com/MicrosoftDocs/sql-docs/commit/f346614bda2088a859dcd8c4e713ef52df118668?

[2019-04-08 16:47] YutongTie-MSFT commented on #9068
@Blackmist @garyericson
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-08 16:47] #9068 closed

[2019-04-08 16:52] Adam-Smith-MSFT commented on #28779
@tpeiffer Was the above answer helpful for you ?

Thanks,
Adam

[2019-04-08 17:03] Deepudev13 commented on #28214
Hi @jakaruna-MSFT It helped me! and working as per expectation!
Thanks for helping out! :)

[2019-04-08 17:09] Adam-Smith-MSFT commented on #28801
@saulcruz I'd recommend checking the following documentation: https://docs.python.org/3/library/io.html#io.BufferedIOBase
It seems that it could work when using the 'w' only, as an example from python's above documentation: ```
with open('spam.txt', 'w') as file:
    file.write('Spam and eggs!')
[code]

[2019-04-08 17:10] sandeepraichura opened #29004 "Supported OS for Guest Agent"
There is no documentation around the Supported OS version for Guest agent available, It'll be good to add the Supported OS section in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab75f449-661d-bd1e-3ebd-61e2384a911a
* Version Independent ID: e7c93a31-6076-26b8-a53d-d36df01ec6bc
* Content: [Azure Virtual

[2019-04-08 17:14] abhinayabhi opened #29005 "Page Link To Azure Machine Learning functions in Stream Analytics Doesn't Work"
The provided link https://blogs.technet.microsoft.com/machinelearning/2015/12/10/azure-ml-now-available-as-a-function-in-azure-stream-analytics/ doesn't works please update this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7334179-7aa1-55af-0fc6-68cf8f12fbad
* Version Independent ID: b9b35a33-9e0a-f47a-7f3f-b76ddd6

[2019-04-08 17:18] MarileeTurscak-MSFT commented on #28694
As far as I know you cannot view these in Azure Security Center. CCing @rkarlin for confirmation but I checked in my own portal and did not see them.

We will now proceed to close this thread. If you have further questions feel free to tag me or @rkarlin in the comments and we will gladly continue the discussion.

[2019-04-08 17:18] #28694 closed

[2019-04-08 17:19] tpeiffer commented on #28779
I have yet to research @YASWANTHM-MSFT 's post completely.  The first was a link to a youtube video that starts off with fairly inappropriate images for my corporate workplace, and the stackoverflow post he refers to wants me to fork the task and customize it.  I find that to be a fairly horrible idea as that creates technical debt that I would then have to go remove once the "official" task loads

[2019-04-08 17:20] himanshusinha-msft commented on #28973
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-08 17:21] MashaMSFT commented on #29003
Hi @etshih , thanks for bringing this to our attention! Let me look into this further. Thanks!