[2022-09-29 14:12] mumurug-MSFT commented on #99202
@joeakim Thanks for your feedback. We will review and update as appropriate.

[2022-09-29 14:12] GitaraniSharma-MSFT commented on #98984
@nachoarnaz , could you please provide an update on this issue and share the detail requested in my previous comment?

[2022-09-29 14:14] madansr7 opened #99227 "Remove the clientID (appid) from samples"
The use of your client id of your public client application in sample code of your documentation leads devs to just copy paste the code and run it. It would look seem as if they are using your application instead of their own app.
Action: Please remove your applications client id (1950a258-227b-4e31-a9cf-717495945fc2) from your doc samples.

---
#### Document Details

⚠ *Do not edit this section.

[2022-09-29 14:18] nachoarnaz commented on #98984
Hi Gitarani,

I have a lab where I show to you the behavior. However, I can't do it until next week (Thursday and/or Friday) because I am delivering a service in the customer. I'll do it the tests and I'll send to you the screenshots with the explanation of the behavior. My colleague @Jose ***@***.***> is aware of this tests and lab.

Kind regards,

Nacho Arnaz Berguño
Cloud Solution Architect-Eng

[2022-09-29 14:21] madansr7 opened #99228 "Remove the clientID (appid) from samples"
The use of your client id of your public client application in sample code of your documentation leads devs to just copy paste the code and run it. It would look seem as if they are using your application instead of their own app.
**Action**: Please remove your applications client id from your doc samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.

[2022-09-29 14:21] dominicbetts commented on #98977
@ikivela - thanks for pointing this out. I've added a note to the article about the correct role to use until we can re-record the video. The note in the article should be there later today. Regards, Dominic

[2022-09-29 14:22] dominicbetts commented on #98977
#please-close

[2022-09-29 14:22] #98977 closed

[2022-09-29 14:24] Ratty1967UK opened #99229 "documentation too brief and poor choices for example use cases"
the documentation for each function, on the whole is too brief - examples are not always helpful and don't cover the important boundary conditions.

eg.  substringIndex - what is returned if there is no delimiter in the string?  neither the text nor the examples are any help here.

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking

[2022-09-29 14:24] langstonj opened #99230 "Lifecycle management of scan result blobs - use filter if using rule to move to achive tier"
Not sure if this is the appropriate location for this suggested documentation tweak but here goes:  If one is using rules to move scan result blobs from hot to cool to archive, filter the rule for moving to the archive tier to ensure the 'baseline_YYYY_MM_DD' blobs are excluded.  If the 'baseline_' blob is in the archive tier the VA scan for that database will fail (reference support case #2209070

[2022-09-29 14:26] si-chan opened #99231 "MFA"
Azure AD MFA and conditional access are included as part of the Premium P2 SKU, which is required for Azure AD PIM, so discussion of licensing is probably redundant here.

The MFA process description doesn't adequately explain whether a user who previously did MFA upon sign-in (potentially several hours ago) would still need to do MFA for their PIM elevation or whether their

---
#### Document Det

[2022-09-29 14:28] cjoakim opened #99232 "What happens if actual usage exceeds the reserved capacity?"
What happens if actual usage exceeds the reserved capacity?

This page should explain this clearly.  Is the excess usage charged on the "pay as you go" rate?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8dbc57c4-c630-63d4-e5c9-f71555488db0
* Version Independent ID: d9efd0ae-5f1a-5171-7265-ebfc78f9cea2
* Content: [Re

[2022-09-29 14:30] JasonWHowell commented on #9815
Maybe it's a operating system locale issue. Decimal and comma seem like locale settings for numbers?

[2022-09-29 14:42] GeethaThatipatri-MSFT commented on #99207
Hi @sijucm Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-09-29 14:44] sijucm commented on #99214
thanks for that update. That feature isn't mentioned anywhere in the
documentation and the link provided doesn't look like a documentation page.
Could you put this in a documentation page and mention that this isn't
available with azure cli or power shell or portal? So that people aren't
surprised at this hidden backdoor that's not officially an option?

On Thu, Sep 29, 2022, 16:01 mumurug-MSFT **

[2022-09-29 14:47] randolf720 opened #99233 "Private endpoint must be deployed in the same vnet"
Looking at the image Application Gateway is deployed in VNET A and the private endpoint is deployed in VNET B (non-peered vnets).

But it doesn't seem to be possible:
- Terraform deployments result in an error stating that the private endpoint must be deployed in the **same** vnet as the Application Gateway
- In the portal you can add an additional private endpoint, but you can only select the VNE

[2022-09-29 14:47] GeethaThatipatri-MSFT commented on #99230
@langstonj Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-09-29 14:50] joaodotnet commented on #98227
Why this issue is closed?
@Grace-MacJones-MSFT says team is working on the fix.
This workaround, in my opinion should not be the fix for this issue.
For example, I'm not able to sync my system datetime due to company policy constrains.
My laptop is only 1m delay and cannot successful send email messages using this service.

[2022-09-29 14:57] mumurug-MSFT commented on #99214
@sijucm Sure, that's a good suggestion. We will definitely look into adding a note.

[2022-09-29 15:04] si-chan opened #99234 "Rollout options"
"Enable a Staged Rollout of a specific feature on your tenant" section:

Password Hash Sync (on its own) should be a supported option and should be added to the list (for example, as the top option!).

The third bullet (which says "Not supported - Password hash sync + Pass-through authentication + Seamless SSO") should appear AFTER the list of supported items (i.e. either in a separate list or in

[2022-09-29 15:10] atrukhina commented on #99085
Hi, the direct link to the video works in both browsers mentioned below.

The embedded video player only did not work in Chrome (Version 105.0.5195.125 (Official Build) (arm64)) however it has worked fine in Brave browser.

Additionally restarting the browser nor clearing cache/local storage/cookies related to the MS website did not help and the embedded player still showed no video but played wit

[2022-09-29 15:33] AlexSapple commented on #98227
Hi @joaodotnet - MSFT did not close the ticket, as creator, I closed it because the question that I asked was explained with a workaround. MSFT will have their own ticket for the fix they are working on. Since ACS email remains in preview, I don't really see any reason to keep this one open (from my point of view... I'll just take their word that they are working on it :) )

[2022-09-29 15:39] SaibabaBalapur-MSFT commented on #99199
@agray
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 15:41] SaibabaBalapur-MSFT commented on #99201
@erjosito
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 15:45] SaibabaBalapur-MSFT commented on #99212
@clintgrove
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 15:47] SaibabaBalapur-MSFT commented on #99217
@Darryl-G
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 15:48] yolepro opened #99235 "The conclusion of this article is that the access is not Secured?"
[Enter feedback here]
The title of this article is : "Use TLS/SSL certificates to secure a web server" but the final step (when you try to access the NGNIX server) is a non secured https website with a message from the browser "Safari can't verify the identity of the website".
Did I miss something?
The article was so promising for me but I couldn't find a way to get a valid HTTPS access.

---
####

[2022-09-29 15:48] SaibabaBalapur-MSFT commented on #99218
@pku-csis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 15:51] SaibabaBalapur-MSFT commented on #99219
@jpers36
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 15:53] SaibabaBalapur-MSFT commented on #99221
@cveld
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 15:54] SaibabaBalapur-MSFT commented on #99223
@brtcloudgeek
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 15:56] SaibabaBalapur-MSFT commented on #99224
@sayedimac
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 15:59] willyt150 commented on #98930
@AshokPeddakotla-MSFT Thanks for the response.

1. All of the IoT Hubs have `None` listed under Features
   - ![image](https://user-images.githubusercontent.com/1190775/193080170-d10d133a-c78d-4d7e-8f25-5b77b3fbd787.png)
2. I will see what I can do about trying to reproduce the issue with raw MQTT. The issue doesn't occur until my .NET C# code attempts to Receive the message, so honestly it makes

[2022-09-29 16:00] SaibabaBalapur-MSFT commented on #99227
@madansr7
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 16:02] SaibabaBalapur-MSFT commented on #99228
@madansr7
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 16:05] SaibabaBalapur-MSFT commented on #99231
@si-chan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 16:08] SaibabaBalapur-MSFT commented on #99232
@cjoakim
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 16:11] SaibabaBalapur-MSFT commented on #99233
@randolf720
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 16:12] SaibabaBalapur-MSFT commented on #99234
@si-chan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 16:13] SaibabaBalapur-MSFT commented on #99235
@yolepro
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-29 16:21] whhender commented on #99143
@algattik - Thanks for your patience! This was an old notification that should have been removed with the new functionality. As you note, allow listing is no longer needed! I'll remove the incorrect note.

[2022-09-29 16:34] normesta commented on #97679
Thanks for raising @XiaoYue2-22 . 48 hours is correct. Up to 24 hours for the policy to go into effect and up to 24 hours for the run after that. I updated the text to be a bit more consistent with the Azure portal. Changes will appear live this afternoon after 3 Thank you!

#please-close

[2022-09-29 16:34] #97679 closed

[2022-09-29 17:10] SatishBoddu-MSFT commented on #98902
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-09-29 17:10] #98902 closed

[2022-09-29 17:10] mumian commented on #99182
PR merged.

#please-close

[2022-09-29 17:10] #99182 closed

[2022-09-29 17:19] david-jarman opened #99238 "Add documentation on how to secure blob storage when deploying Service Fabric application using ARM or bicep template"
The documentation for deploying a Service Fabric application gives a hint that you can secure the blob storage that contains the sfpkg that gets deployed to the cluster with an ARM template, but it fails to connect all the pieces together to show how that is done.

Please add documentation that shows:
1. What security principal would be used to authenticate with the storage account when using Azur

[2022-09-29 17:23] cynthn commented on #99235
@yolepro  The example in the tutorial is not for production, so we show using a self-signed certificate to make it easier to show the general process. Because it is self-signed, you get the warning at the end. In production, you would use a trusted provider, upload the certificate to KeyVault, and it should work as expected. Does that make sense?

"For production use, you should import a valid cer

[2022-09-29 17:24] normesta commented on #94480
Thanks for raising @erasmus76 . Yes "Blob Storage" is a legacy account type. It's mentioned in the article that you link to. The way to create one is to choose the "here" link in the line "If you need to create a legacy storage account type, please click
here". Our docs do mention this account type as it relates to the scope of support for any given feature. I have found some misleading references

[2022-09-29 17:25] #94480 closed

[2022-09-29 17:25] xmseraph opened #99239 "custom pyd in local site package folder"
i have a pyd file compiled from c++ code in windows env, can i use it in azure function?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd928826db2
* Content: [Python developer reference for Azure Functions](https://learn.microsoft

[2022-09-29 17:35] VikasPullagura-MSFT commented on #99238
@david-jarman
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-29 17:35] VikasPullagura-MSFT commented on #99238
@tomvcassidy
Can you please check and add your comments on this doc update request as applicable.

[2022-09-29 17:46] enterpriseSoftware opened #99241 "Build Folder Not Found"
Throws this error.   There is no build folder under api.  Did something change?

Γ£û The folder "C:\SourceControl\VividSolutions\build" is not found. Exit.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5689b389-ead5-825d-dde1-9a290bc0819f
* Version Independent ID: 52a526a2-477a-dda4-02b4-eac1440811ed
* Content: [Add

[2022-09-29 17:49] Silverlight42 opened #99242 "Minor typo"
Good afternoon.

There is a typo in the document.

How it is:

Create or move an Azure Databricks notebook into the cloned repo in your Azure Databricks **worksapce**. Use this notebook to begin prototyping the code that you want your Azure Databricks clusters to run.

How it should be:

Create or move an Azure Databricks notebook into the cloned repo in your Azure Databricks **workspace**. Use th

[2022-09-29 18:12] whhender commented on #99143
Okay! That's added. You should see the updated docs by later this afternoon. Tomorrow at the latest.
I'll close this issue, but if you have any other questions, do follow up! Thank you!

#please-close

[2022-09-29 18:12] #99143 closed

[2022-09-29 18:15] bandersmsft commented on #99144
@AnuragSingh-MSFT @helderpinto I'm investigating this with the Cost Management API PM. When I have info to share, I'll reply here.

[2022-09-29 18:18] munntjlx commented on #99095
SO much for improving the product. Oh well.

[2022-09-29 18:23] GregDSmith opened #99245 "Python has been updated to version 3.9"
Step number 4 needs to be updated to read:

virtualenv -p /usr/bin/python3.9 databrickscli

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 64be8819-4ac8-cceb-313f-2561a6c2c759
* Version Independent ID: 1ca873b5-f399-179f-e721-b09a78dab4fc
* Content: [Use Databricks CLI from Azure Cloud Shell ](https://learn.microsoft.c

[2022-09-29 18:59] jlichwa commented on #96721
Added note, thank you.
#please-close

[2022-09-29 18:59] #96721 closed

[2022-09-29 19:06] jlichwa commented on #99094
@YashikaTyagi-MSFT the other issue is closed. Can you help us resolve it ?

[2022-09-29 19:23] AjayKumar-MSFT commented on #98801
am8448,  We will close this out, but if you feel you need more information please just let us know.

[2022-09-29 19:25] AjayKumar-MSFT commented on #98964
Amondale,  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2022-09-29 19:25] #98964 closed

[2022-09-29 19:53] degrover-cn commented on #7731
I'm getting this error trying to remove an **Initiative** parameter. I've already removed all references to it from all **Policy** parameters. I wish I could say it's surprising MS has let this drag out for four years, but it really isn't.

[2022-09-29 20:00] altrivis opened #99248 "Add reference to SDR GitHub"
Consider referencing the Azure SDR GitHub: https://github.com/microsoft/azure-software-radio/blob/main/pages/devvm.md here and add clarifying language that the customer can utilize the SDR to develop their own virtual RF modems to integrate into AOGS.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fa1b40c1-7456-dd6b-5

[2022-09-29 20:06] Jain-Garima commented on #37381
Azure DevOps is not authorized for FedRAMP. Will update once we have plans to get it reviewed and authorized.

[2022-09-29 20:06] KranthiPakala-MSFT commented on #99242
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-09-29 20:07] KranthiPakala-MSFT commented on #99245
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-09-29 20:23] LeeBear35 opened #99249 "Missing the --list-of-files option"
The option -list-of-files is not covered here.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d1bdc29f-175d-09b9-771d-cd84dbffbb49
* Version Independent ID: f5fe11b9-8224-aa19-602d-bcc3ed7c9452
* Content: [azcopy copy](https://learn.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-copy?toc=%2Fazure%2Fstorag

[2022-09-29 20:39] swettstein commented on #99093
@mike-urnun-msft this actually helped. you might want to consider adding this to your documentation: https://github.com/Azure/azure-functions-host/issues/4575#issuecomment-511618613

[2022-09-29 20:55] SudhirRaparla commented on #98336
Please note this feedback is addressed via this PR: https://github.com/MicrosoftDocs/sql-docs/pull/8134

[2022-09-29 21:14] jusso-dev commented on #99121
Hey @AnuragSingh-MSFT thanks for looking into this and for trying out the fresh installs. I've just re-checked two sever 2016 machines for a client, there is defiantly no "Troubleshooter" folder present. This AMA install occurred via the az cli, using the arc-enabled machine command if that helps, all of the machines I make reference to are arc-enabled.

[2022-09-29 21:34] davidsmatlak commented on #99157
I submitted the fix for this issue and after the pull request is merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

- Added `--auth-mode login` to Azure CLI commands.
- Moved content about storage account permissions to improve visibility.

[2022-09-29 21:47] Zuulde opened #99254 "Azure.Identity.CredentialUnavailableException issue"
The example code seems to miss some **required** steps regarding Azure authentication. Following the exception logs (using AzureEventSourceListener listener = AzureEventSourceListener.CreateConsoleLogger();) found the following problems:
- It said an additional "az login" cmd command was necessary. It is not.
- Additional env variables must have been set:
I found a tutorial for these here: AZURE_C

[2022-09-29 21:56] #99157 closed

[2022-09-29 22:05] mlibenocg opened #99255 "How Do I Report A Bug in Azure Provisioning?"
I have found a bug in SuccessFactors to Active Directory User Provisioning and not sure how to report it.
I ran a "provision on demand" and received an error which indicated a failure because the referenced manager did not exist in Active Directory. The logs do not show a user was created or updated, only a failure with no properties modified. However, when I go to Active Directory, the user was i

[2022-09-29 22:19] jdempcy commented on #94968
I am running into this problem as well. The documentation states:

[code]

However, I have been unable to get this to work in any capacity.

[2022-09-29 22:21] MarileeTurscak-MSFT commented on #99094
@sebansal I created a new PR here but it needs your sign off: https://github.com/MicrosoftDocs/azure-docs-pr/pull/213115

[2022-09-29 22:44] ChaitanyaNaykodi-MSFT commented on #98899
Hello @Thorfinn60
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

@asudbring, I was able to reproduce this issue on my end too can you please take a look? Thank you!

[2022-09-29 22:56] davecanderson opened #99257 "Azure DMS links are broken - invalid url"
The two links in the answer for migration options; online and offline for Azure Database Migration Service (DMS) are both broken and result in a `Bad Request - Invalid URL` error.

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*
`Bad Request - Invalid URL`
* ID: c14ee1c7-269f-f7bb-8b29-003d5429fbb3
* Version Independent ID: b3

[2022-09-29 23:12] markingmyname commented on #99257
@davecanderson

Thanks for brining this to our attention.

We will correct this immediately.

[2022-09-29 23:12] markingmyname commented on #99257
@aditivgupta for awareness

[2022-09-29 23:27] markingmyname commented on #99257
@davecanderson  - this should be resolved by tomorrow afternoon.

thank you

[2022-09-29 23:27] markingmyname commented on #99257
#please-close

[2022-09-29 23:27] #99257 closed

[2022-09-30 00:40] MustAl-Du opened #99262 "Autoscaling and Extension"
Team, reading through this, I believe these two sections can be improved. (1) Autoscaling has nothing to do with new maps and (2) Extension perhaps better described as integration.

![image](https://user-images.githubusercontent.com/40635126/193165485-8c7765b6-9fe2-4a7c-9756-e550b332fb60.png)

(1) Instead of:
The MedTech service has special autoscaling features that enable developers to easily mod

[2022-09-30 01:28] GeethaThatipatri-MSFT commented on #99262
Hi @MustAl-Du Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-09-30 01:46] GeethaThatipatri-MSFT commented on #98794
yes even I don't see the consistency tab and am able to view in Metrics (classic) only @seesharprun to comment here

[2022-09-30 01:53] seesharprun commented on #98794
Since this is the Docs repo, I will go ahead and update the article to specify the *Classic* interface.

If there are questions as to why this only appears in that specific interface, that would have to be filed as a support ticket that will get routed to the team that works on this product.

[2022-09-30 02:14] #98794 closed

[2022-09-30 02:31] rboucher commented on #96612
#reassign:guywild

[2022-09-30 02:31] rboucher commented on #96612
#reassign:@guywild

[2022-09-30 02:32] rboucher commented on #96612
#reassign:guywi-ms

[2022-09-30 02:33] rboucher commented on #98410
#reassign:EdB-MSFT

[2022-09-30 02:35] rboucher commented on #96986
@favl Are you saying you would like a time period when you can expect them to come through?  It could vary by resource provider, but I would think that everyone puts out something within 24 hours. We could add that if it's helpful.

[2022-09-30 02:42] rboucher commented on #96197
@j0f3.  Noted. I'll check.  We did mean that if it's not in the portal, it's not available elsewhere. I was not aware of the variation between the portal and resource manager templates. This is up to each resource provider and tough for us to track in Azure Monitor.  That said, I understand why it should be tracked.  I'll see if I can come up with some rules to put here.

[2022-09-30 02:56] rboucher commented on #96195
@J0F3 I want to make sure I've got the scenarios straight. So you are talking about:
Permissions to
LA Workspace
Storage
EventHub

in the same subscription AND if it's in different subscriptions, correct?  Are there other scenarios?

[2022-09-30 03:06] Naveenommi-MSFT commented on #99229
@Ratty1967UK

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@kromerm
Please review this and update as appropriate.

[2022-09-30 04:03] lemmy commented on #95928
Related comments elsewhere:

https://github.com/MicrosoftDocs/azure-docs/commit/b16160b2a7d25266c8242d24fd31bd420938c614#r85187515

https://github.com/MicrosoftDocs/azure-docs/commit/b16160b2a7d25266c8242d24fd31bd420938c614#r85280090

[2022-09-30 04:06] Naveenommi-MSFT commented on #99223
@brtcloudgeek

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-30 04:19] SaibabaBalapur-MSFT commented on #99239
@xmseraph
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 04:26] SaibabaBalapur-MSFT commented on #99241
@enterpriseSoftware
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 04:28] SaibabaBalapur-MSFT commented on #99248
@altrivis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 04:30] SaibabaBalapur-MSFT commented on #99249
@LeeBear35
Thanks for your feedback! We will investigate and update as appropriate.

Could you please elaborate the query for better understanding. So, we can assist you further.

[2022-09-30 04:31] SaibabaBalapur-MSFT commented on #99254
@Zuulde
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 04:32] SaibabaBalapur-MSFT commented on #99255
@mlibenocg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 04:57] SwathiDhanwada-MSFT commented on #99219
@jpers36 Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours.We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-09-30 05:04] ManoharLakkoju-MSFT commented on #99218
@pku-csis
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-30 05:05] SaibabaBalapur-MSFT commented on #98983
@mostafaelkttan
We are going to close this thread as no responses from customer, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-30 05:05] #98983 closed

[2022-09-30 05:05] SaibabaBalapur-MSFT commented on #99012
@somichak
We are going to close this thread as no responses from customer, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-30 05:05] #99012 closed

[2022-09-30 05:08] SaibabaBalapur-MSFT commented on #99025
@kapntech
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-30 05:08] #99025 closed

[2022-09-30 05:11] #99223 closed

[2022-09-30 05:18] shaktisingh-msft commented on #98833
Hi @MeatRocket ,

I am closing this issue. Request you to please open another issue with more details about the document page. Thanks!

[2022-09-30 05:19] #98833 closed

[2022-09-30 05:19] #99219 closed

[2022-09-30 05:21] shaktisingh-msft commented on #98751
Hi @zaalion,

Could you please create a Question in Microsoft Q&A portal [https://learn.microsoft.com/en-us/answers/questions/ask.html](url) for product related technical ask. Closing this thread. Thanks!

[2022-09-30 05:21] #98751 closed

[2022-09-30 05:24] kogepanh opened #99269 "This article is not clear on the scope of Service Bus triggers and HTTP triggers."
It is my understanding that the scope of this article is to lock down storage accounts with Service Bus triggered or HTTP triggered Functions.

https://review.learn.microsoft.com/en-us/azure/azure-functions/functions-create-vnet

Therefore, it is noted that you need to enable private endpoints on your storage account for Azure Files Storage, Azure Blob Storage and Azure Table Storage.

However, it

[2022-09-30 05:30] wendiz-zhang opened #99270 "Confirm Azure Lighthouse's feather availability on Azure China Cloud."
Hi Jenny,

This is Wendy Zhang from Azure China Docs Team. It is our responsibility to follow the global document and customize the localization adaptation for Azure China Docs site.

Could you please help to introduce Azure Lighthouse PM to us so that we can confirm the Lighthouse feature availability on Azure China Cloud with PM's help?

Up to now, we did not received any notification about the

[2022-09-30 06:04] YashikaTyagi-MSFT commented on #99094
Hi @jlichwa
Could you provide the details of the issue ?

[2022-09-30 06:13] Naveenommi-MSFT commented on #99065
@KarthikeyanB007
Please refer this Doc. This Doc has all the Related information.

https://techcommunity.microsoft.com/t5/analytics-on-azure-blog/azure-databricks-and-azure-spot-vms-save-cost-by-leveraging/ba-p/2374187#:~:text=Create%20an%20Azure%20Databricks%20cluster%20with%20Spot%20VMs,can%20be%20interrupted%2C%20providing%20scalability%20while%20reducing%20costs.

[2022-09-30 06:20] ulkeba opened #99271 "Clarify 'inheritance' of attributes and properties for group nesting"
It is unclear which attributes and properties are actually propagated from the parent group to the subgroup. After reading this explanation, I was expecting that, for example, the description would be copied from the parent to the subgroup. This was not the case in my test.

From my experience, I have never seen that nested group memberships would have any impact on groups' metadata to be copied f

[2022-09-30 06:20] MughundhanRaveendran-MSFT commented on #99112
@robz25 , Did you get a chance to look at my previous comment? Please let me know which section in the document you are refering to

[2022-09-30 06:25] randolf720 commented on #99233
The scenario: 2 non-peered VNET's in the same Azure subscription. Included the error message and relevant TF code below

Error: creating Application Gateway: (Name "appgw-01" / Resource Group "test"): network.ApplicationGatewaysClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="ApplicationGatewayPrivateLinkConfigurationSubnetsMustBeInSameVnetAsApplicationGatewa

[2022-09-30 06:29] MeatRocket opened #99272 "Azure Cosmos DB Gremlin graph support and documentation misleading here's why."
The Microsoft documentation for Azure Cosmos regarding using Grimlin API for their graph database is running on a really old version of .NET which is .NET 3 which is a bit misleading, here is the doc I'm referring to:
[here](https://learn.microsoft.com/en-us/azure/cosmos-db/graph/create-graph-dotnet?tabs=windows)
However what really is absolute here is that the Gremlin .NET nuget package is way ah

[2022-09-30 06:29] VikasPullagura-MSFT commented on #99127
@tejaswikolli-web
Can you please check and add your comments on this doc feedback as applicable.

Note: This is a API doc related to ACR. Request you to loop in appropriate members who can help on this.

https://learn.microsoft.com/en-us/rest/api/containerregistry/manifests/get-attributes?tabs=HTTP

[2022-09-30 06:41] ManoharLakkoju-MSFT commented on #99146
@LijuV-MSFT
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-30 06:46] ManoharLakkoju-MSFT commented on #99113
@catmanjan
Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-09-30 06:50] kyleross-deckers opened #99273 "App specific AdditionalAuthenticationRules not always applied"
The AdditionalAuthenticationRules rules suggested in this article, when targeted to a specific app are ignored if the user uses a 'loginToRp' shortcut URL.

Example scenario for an app that accepts both SP and IDP initiated logins:
    User goes to app.example.com/login and directed to ADFS for login
    User goes to adfs.com/adfs/ls/idpinitiatedsignon.aspx and picks an app from the drop down menu

[2022-09-30 07:00] YashikaTyagi-MSFT commented on #99231
@si-chan
I have reviewed your suggestions and seems "Azure AD MFA and conditional access are included as part of the Premium P2 SKU, which is required for Azure AD PIM, so discussion of licensing is probably redundant here" is a correct statement. Also
 it is mentioned in the table for Feature comparison based on licenses.
https://learn.microsoft.com/en-us/azure/active-directory/authentication/con

[2022-09-30 07:00] ManoharLakkoju-MSFT commented on #99255
@mlibenocg
Thank you for your suggestion. It would be helpful to provide your ideas in the below link so our product team will work on it.
https://feedback.azure.com/d365community

[2022-09-30 07:13] SaibabaBalapur-MSFT commented on #99208
@dash042
Please go through this below doc link for your reference.
https://techcommunity.microsoft.com/t5/core-infrastructure-and-security/private-aks-and-acr-using-private-endpoint-part-2-2/ba-p/3122281#:~:text=AKS%20should%20have%20access%20to%20ACR%20Private%20Endpoint,the%20Private%20DNS%20Zone%20of%20the%20private%20ACR.

if there are any further questions regarding the documentation, please

[2022-09-30 07:16] yolepro commented on #99235
@cynthn your answer is very clear. I missed the sentence you quoted!

Thank you for your quick answer.

[2022-09-30 07:16] #99235 closed

[2022-09-30 07:17] andreaskhvid opened #99274 "Clear info about the 'command invoke' feature with CriticalAddonsOnly node taint enabled"
Hi

It would be nice if the doc stated more clearly, that the 'command invoke' feature do not work when the CriticalAddonsOnly taint is enabled on the default node pool. I must admit I troubleshooted a lot of different things as I though this feature was a part of AKS and therefore baked in, before I realized that it might be because of that... :-)

---
#### Document Details

⚠ *Do not edit this s

[2022-09-30 07:18] SaibabaBalapur-MSFT commented on #99224
@tejaswikolli-web
Can you please check and add your comments on this doc update request as applicable.

[2022-09-30 07:22] SaibabaBalapur-MSFT commented on #99254
@Zuulde
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@pauljewellmsft
Can you please check and add your comments on this doc update request as applicable.

[2022-09-30 07:25] kyleross-deckers commented on #99273
Sorry, there we two apps with nearly identical identifiers that I was testing with when trying these rules. They do indeed work as documented.

[2022-09-30 07:25] #99273 closed

[2022-09-30 07:26] AnuragSingh-MSFT commented on #99228
@[madansr7, thank you for pointing it out.

@bwren, could you please review this and help update the script to remove hardcoded `clientId `and `xms_client_tenant_Id`, as appropriate.

[2022-09-30 07:28] tufberg commented on #90225
I also want to bump this since we're also seeing the ClientRetryOptions not being obeyed and the docs are very unclear.

[2022-09-30 07:35] RamanathanChinnappan-MSFT commented on #99174
@lucabovo

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-30 07:41] VikasPullagura-MSFT commented on #99274
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-09-30 07:49] RamanathanChinnappan-MSFT commented on #99102
@KyferEz

Please go through below document for your reference

https://learn.microsoft.com/en-us/azure/data-factory/managed-virtual-network-private-endpoint

[2022-09-30 07:51] catmanjan commented on #99113
@ManoharLakkoju-MSFT how is this not a docs related issue?

[2022-09-30 07:55] sayedimac commented on #99224
Sorry this is my mistake - my CLI and PS was not connected to the same tenant for some or other reason!

[2022-09-30 07:55] #99224 closed

[2022-09-30 08:12] Uli-Zug opened #99275 "Not up to date on header-based auth"
App Proxy also supports the following authentication protocols with third-party integration or in specific configuration scenarios:

[Header-based authentication](https://learn.microsoft.com/en-us/azure/active-directory/app-proxy/application-proxy-configure-single-sign-on-with-headers). This sign-on method uses a third-party authentication service called PingAccess and is used when the application

[2022-09-30 08:14] sijucm opened #99276 "Page does not have details to explain how this will be enough"
`To enable multi-region writes in your application, set ApplicationRegion to the region in which the application is being deployed`

The above sentence is there, but it is not clear to me how setting one region in the policy makes it multi region write. And I wonder how a centralized setting at the account level be influenced by the client SDK. It sounds very weird to me that a client can change t

[2022-09-30 08:21] pluciorx opened #99277 "Clarification of usage in case of Connection String variables."
This page needs clarification,
For .net usage it's really misleading and takes a  lot of time to figure out.
It is not clear that the connection strings can only be accessed by calling Configuration.GetConnectionString({key-without-prefix});
and that ConnectionStrings variables are not set as Environment Variables and threfore it is not possible to access them from the standard approach: Configura

[2022-09-30 08:25] JananiRamesh-MSFT commented on #98766
@t-misrael Updated the document with appropriate steps. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-09-30 08:25] #98766 closed

[2022-09-30 08:47] krisrajzlive commented on #98567
Apologies for the delay as I was in vacation. Please check my repo at https://github.com/krisrajzlive/AzureAppConfigMVC.

Thanks

[2022-09-30 08:48] JohnLudlow opened #99278 "The documentation for `WEBSITE_RUN_FROM_PACKAGE=1` does not mention the Basic tiers"
[Enter feedback here]

This table (in the [Enable functions to run from a package
](https://learn.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package#enable-functions-to-run-from-a-package) section) does not mention the Basic tier:

<html>
<body>
<br class="Apple-interchange-newline">

Hosting plan | Windows | Linux
-- | -- | --
Consumption | 1 is highly recommended. |

[2022-09-30 08:51] lucabovo commented on #99174
Thank you @RamanathanChinnappan-MSFT  and @kromerm

I await your reply as soon as you have news

[2022-09-30 08:54] dinisgarcia opened #99279 "Paragraph "Network Security Group rules for subnets with private endpoints" should be changed"
As we already have a new feature called network policies for private endpoints we should be able to apply nsg rules to PEs (reference: https://learn.microsoft.com/en-us/azure/private-link/disable-private-endpoint-network-policy?tabs=network-policy-portal#enable-network-policy)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-09-30 09:11] ivi-hamiti opened #99280 "Missing information related to partition availability and sdk behavior"
Provided the client must have consistency, which is being achieved through adding the partitionKey when sending the message, the following things are unclear:
- Why does a partition become not available, and is there any exception/notification forwarded to the client by the sdk, so the client is aware a partition is down
- In case message A was sent with partitionKey PK and the partition becomes u

[2022-09-30 09:16] Mahesh-MSFT opened #99281 "Customers need accurate information on open ports needed for AVS migrations"
This page lists the required network ports.

This list refers to some VMware components by their legacy names. e.g. HCX-Interconnect is referred as Cloud Gateway.

This documentation should be updated to reflect current component names.

Update will help to avoid confusion on the names and expedite port opening requests within organizations.

---
#### Document Details

⚠ *Do not edit this section.

[2022-09-30 09:17] pku-csis commented on #99218
Did you not check the comments before jumping in?

The "author" already asked another author/contributor to look into the issue, 22 hours ago. So you assigning the case **back to the author** 18 hours later makes absolutely no sense!

<img width="507" alt="image" src="https://user-images.githubusercontent.com/104620065/193237196-23e78a57-bd16-4d32-8bbb-3a075b35723a.png">

[2022-09-30 09:20] AnuragSingh-MSFT commented on #99051
@sopelt, thank you for the question. The "Email Azure Resource Manager role" option currently supports only users. Please note the later section of this doc as below:

When you set up the Azure Resource Manager role:

1. Assign an entity **of type "User" to the role**.
2. Make the **assignment at the subscription level.**
3. Make sure an email address is configured for the user in their Azure AD p

[2022-09-30 09:20] #99051 closed

[2022-09-30 09:20] Mahesh-MSFT opened #99282 "Documentation on vSAN capacity overhead for first AVS cluster should be updated"
This page publishes "Typical Raw vSAN Datastore Usage (GB)" for first AVS cluster.

According to this documentation, customers expect around 4TB consumed by AVS management/control pane components.

However, in practice "Typical Raw vSAN Datastore Usage (GB)" is observed to be taking upto 7TB.

Customers expect AVS documentation provide correct information on "Typical Raw vSAN Datastore Usage (GB)"

[2022-09-30 09:31] spiroskon opened #99283 "Trailing "\" on service account bearer token"
On Azure Portal Cloud Shell (Bash), account bearer token, output from command

kubectl get secret demo-user-secret -o jsonpath='{$.data. Token}' | base64 -d | sed 's/$/\\\n/g'

when used to connect to AKS from Arc failed with error

"The token provided is either improperly formatted or not authorized to connect to this cluster. Try a different token or update your cluster permissions"

However, ru

[2022-09-30 09:33] AnuragSingh-MSFT commented on #99069
@andrePKI, Thank you for this question. The article is for "[Using Windows client installer (Preview)](https://learn.microsoft.com/EN-us/azure/azure-monitor/agents/azure-monitor-agent-windows-client#supported-device-types)" for installing AMA on Client machines (WIndows 10/11 desktop/workstations).

The second column in the [Supported device types table](https://learn.microsoft.com/EN-us/azure/azu

[2022-09-30 09:33] ManoharLakkoju-MSFT commented on #99218
@pku-csis
we apologize for inconvenience.

[2022-09-30 09:38] KarthikeyanB007 commented on #99065
Hi,
Could you please give me very pointed and clear direction to my very pointed question of how to setup linked service of type 'AzureDatabricks' that would use Spot VM?

[2022-09-30 09:57] YashikaTyagi-MSFT commented on #99145
@tdo365
Descriptions of the fields are included in the Azure Multi-Factor Authentication Server help file.
Please follow the below instructions:
Step 1: Go to Azure multi-factor Authentication Server  and click on Help
<img width="758" alt="image" src="https://user-images.githubusercontent.com/110381034/193242652-82dc35fd-3410-4a9c-a5df-d4c9449cd330.png">
Step 2: Under the Directory integration >

[2022-09-30 09:57] YashikaTyagi-MSFT commented on #99145
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-30 09:57] #99145 closed

[2022-09-30 10:08] ManoharLakkoju-MSFT commented on #99050
@alexchen2016
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-30 10:17] sijucm opened #99285 "The title says Authentication policies, but isn't this about back-end service authentication"
To distinguish between the authentication to the API gateway itself (access policies???) and to the back-end.
In addition to this, in the managed identity section it says it applies in the inbound section. I seriously doubt it as this is about back-end service authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-09-30 10:24] dknappettmsft commented on #98762
This language pack is missing from the LOF ISO, but if you add a language offline or online through the ISO, you will get the associated language for Windows Media Player when you install the latest cumulative update.  If you install a language through Windows Update, you'll also get the associated language for Windows Media Player.

I hope that helps clear this up. For any further help you'll nee

[2022-09-30 10:24] #98762 closed

[2022-09-30 10:27] dknappettmsft commented on #98863
#please-close

[2022-09-30 10:27] #98863 closed

[2022-09-30 10:35] dan-dimitrov opened #99286 "RHAL Golden Image licensing"
The !IMPORTANT statement at the top of the page (also inserted below for quick reference) seems to illude that if you are using an image library and are hardening the base RHAL image from the marketplace, you still need to attach the vm to RHSM or Satellite for updates and (by proximity) licensing too. Surely if the base image is an image from the marketplace and not a custom BYOL image, this is n

[2022-09-30 10:47] audrius-freemarket opened #99289 "Using strict with Key Vault values"
The section 'Use Azure Key Vault with GitHub Action' of this document shows an example how strict mode can be used while updating app settings and secrets in two separate steps. Correct me if I'm wrong, but in this example the first step will delete all the KeyVault references while the next step re-adds them. That means there will be a brief moment where there are no secret keyvalues and if any e

[2022-09-30 10:50] abhijeet-MSFT opened #99290 "Duplicate information on the page under heading "Understand limitations of public preview ""
The last 3 points under the heading "Understand limitations of public preview " are duplicate and need to be removed.

If you have a nested group like this, you'll see an export error in Azure AD Connect with the message "A universal group cannot have a local group as a member." The resolution is to remove the member with the Domain local scope from the Azure AD group, or update the nested group m

[2022-09-30 10:54] ManoharLakkoju-MSFT commented on #99113
@catmanjan
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@Dickson-Mwendia
Please review this.

[2022-09-30 10:59] VikasPullagura-MSFT commented on #99286
@dan-dimitrov
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-30 10:59] VikasPullagura-MSFT commented on #99286
@mamccrea
Can you please check and add your comments on this doc update request as applicable.

[2022-09-30 11:01] VikasPullagura-MSFT commented on #99282
@Mahesh-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-30 11:01] VikasPullagura-MSFT commented on #99282
@jjaygbay1
Can you please check and add your comments on this doc update request as applicable.

[2022-09-30 11:02] VikasPullagura-MSFT commented on #99281
@Mahesh-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-30 11:02] VikasPullagura-MSFT commented on #99281
@jjaygbay1
Can you please check and add your comments on this doc update request as applicable.

[2022-09-30 11:40] steevaavoo commented on #98586
I can see my initial change to the example documentation is now live, thanks!

Further to that, I think there is some value in adding a negative example of `*contoso.com` usage - in that it also allows something like `definit3lyre4lcontoso.com` which could inadvertently open access to dangerous sites.

Whilst there is an example of this in `anycontoso.com` listed - I think making it clearer with a

[2022-09-30 11:42] Naveenommi-MSFT commented on #99151
@lukos

Please go through this below document for your reference.
https://learn.microsoft.com/en-us/azure/virtual-machines/windows/proximity-placement-groups-portal

[2022-09-30 12:00] ozthe2 opened #99292 "PowerShell - line 52 (location) needs to be pointed out."
Although it is made apparent in the API section that you need to adjust the location, there is no such mention for the PowerShell code at line 52 where the default is "eastUS".  This can be easily missed by anyone jumping straight to the PowerShell section (as I did) and I only spotted it as I reviewed the code before I ran it.

"location":"eastus"

---
#### Document Details

⚠ *Do not edit this s

[2022-09-30 12:14] sijucm opened #99294 ""In the Azure portal, go to your namespace " < Which namespace? namespace is a very generic description"
I guess you mean the service bus namespace. Maybe it is wise to specify that

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4621fa71-af49-3eb2-83ce-39d1c7aa8a13
* Version Independent ID: 23eef85f-4540-518d-e204-71b34b27e1b7
* Content: [Handle Service Bus events via Event Grid using Azure Functions - Azure Service Bus]

[2022-09-30 12:15] steevaavoo commented on #98586
PR submitted.

- https://github.com/MicrosoftDocs/azure-docs/pull/99293

[2022-09-30 12:18] cephalin commented on #95832
#reassign:cephalin

[2022-09-30 12:19] cephalin commented on #95832
@baltner Take a look here to migrate local PostgreSQL database to Azure: https://learn.microsoft.com/en-us/azure/dms/tutorial-postgresql-azure-postgresql-online

#please-close

[2022-09-30 12:19] #95832 closed

[2022-09-30 12:20] cephalin commented on #90571
#reassign:cephalin

[2022-09-30 12:27] AnuragSingh-MSFT commented on #98460
@chorting, thank you again for reporting this issue. It tested it out and can confirm that I am seeing similar behavior. I have shared the feedback internally as well.

I would request you to open an issue here - [Issues microsoft/azure_arc](https://github.com/microsoft/azure_arc/issues), so that the Azure Arc product team can also track it and you may get notification of discussion.

The current

[2022-09-30 12:35] rbarten opened #99295 "Power Platform - Azure API Management connector premium vs standard"
When I export an Azure API Management API to an environment it is seen as standard within a D4T environment, but it's premium in a 'normal' Power Platform environment. Why is there a difference between those two types of environments, because you also have to pay for the API Management resources, why also handle it as a premium connector.

Also nothing is mentioned regarding premium vs standaard w

[2022-09-30 13:01] KyferEz commented on #99102
That does not answer all questions. The question what is used for outbound
communication for these workflows is still not answered. Are we to assume
it's using an ir? This needs explanation.

On Fri, Sep 30, 2022, 3:49 AM RamanathanChinnappan-MSFT <
***@***.***> wrote:

[2022-09-30 13:04] AnuragSingh-MSFT commented on #99121
@jusso-dev, I am not sure why, but I checked on a new Azure Arc enabled server, installing the agent through extension as well. I still see the same behavior - Troubleshooter folder available with the scriptions.

![image](https://user-images.githubusercontent.com/87687088/193275495-6a02c5db-5a3b-4d84-a22c-b5769f08aed7.png)

It could be possible that you have an old version of "Microsoft Monitorin

[2022-09-30 13:07] indiraraghavan1986 opened #99298 "Fix mis-typed Origin selection value"
In this section : https://learn.microsoft.com/en-us/azure/frontdoor/standard-premium/how-to-enable-private-link-web-app#enable-private-link-to-an-app-service-in-azure-front-door-premium

Point 4 has a list of values that can be chosen for the Origin group. the image shows choose App Services as Origin type. the table below shows

**Origin Type | Storage (Azure Blobs)**

Please fix the documentatio

[2022-09-30 13:15] Naveenommi-MSFT commented on #99065
@KarthikeyanB007
Could you please rise your queries in below Platform.
Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-09-30 13:15] Rong45130741 opened #99299 "การแก้ปัญหา"
ช่วยให้บุคคลอื่นแก้ไขงานได้ดี

[ป้อนคำติชมที่นี่]

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ learn.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 510faed7-b79d-b8ec-f32f-e64d8773a30c
* Version Independent ID: 522e7e2e-ea93-5249-5e6f-5c984f1b6277
* Content: [Default user permissions - Azure Active Directory - Microsoft Entra](https://learn.microsoft.com/th-th/azure/active-d

[2022-09-30 13:37] mumurug-MSFT commented on #99295
@rbarten Thanks for your feedback. We will review and update as appropriate.

[2022-09-30 13:38] am8448 commented on #98801
I'm sorry, but you've just closed this without providing any meaningful assistance. I have stated three times in my two posts that I **have** removed the App Setting connection string but you're not clearly not reading my posts and ignoring all my other questions and information presented.

 I'm not clear on why the logs will assist me further as the error is already clear: it seems the connection

[2022-09-30 13:43] mumurug-MSFT commented on #99294
@sijucm Thanks for the feedback. Before the description, we talked about connecting Function app and Service Bus namespace and the same is shown in the screenshot. We will update the description as appropriate. Thanks again.

![image](https://user-images.githubusercontent.com/95652148/193282477-e380fee1-c5ab-4024-a142-e8bd8f017987.png)

[2022-09-30 13:49] el-pato opened #99300 "Show possible values for linuxFxVersion"
Under the _**Manual version updates on Linux**_ section, it would be helpful to include how to enumerate the possible values for ```linuxFxVersion```. For example, if I am migrating my Function app to .NET 6, it is not obvious (IMO) in the current documentation that I need to use ```DOTNET|6.0```.

I think it could be as simple as adding one line, e.g.

_To enumerate the possible values for linuxF

[2022-09-30 13:53] mumurug-MSFT commented on #99289
@audrius-freemarket Thanks for reaching out with your question. We have assigned it to author for review and will update you.

[2022-09-30 13:57] ChaitanyaNaykodi-MSFT commented on #99298
Thank you for your feedback! We will review and update as appropriate.

[2022-09-30 13:57] mumurug-MSFT commented on #99285
@sijucm Thanks for reaching out and sharing the feedback. We will review the content and update as appropriate.

[2022-09-30 14:03] mumurug-MSFT commented on #99278
@JohnLudlow Thanks for the great feedback. We will review and update as appropriate.

[2022-09-30 14:05] mumurug-MSFT commented on #99300
@el-pato Thanks for the great feedback. We will review and update as appropriate.

[2022-09-30 14:14] schwibach opened #99301 "Section 'Configure a JWT validation policy to pre-authorize requests' not clear"
Could you maybe add screenshots and clarify how to do this step?

I am also looking for an easy explanation how to grant access to an API to a security group in AAD.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab1314
* Cont

[2022-09-30 14:40] npherson opened #99302 "Is this expected to work in M365 GCC tenants?"
Can the documentation be updated to explicitly state which M365 environments this is supported for?

While it states "Continuous access evaluation isn't currently available in Azure Government GCC High tenants", this begs 3 questions:

Do you mean M365 GCC High tenants?
Is this supported in M365 GCC tenants?
Is this supported in M365 DOD tenants?

Thanks!

---
#### Document Details

⚠ *Do not edit

[2022-09-30 14:48] shlipsey3 commented on #99271
Hello! Thanks for the feedback. I recently took over this portion of content, so will dig into your question further and see if there's a way to clarify the documentation.

[2022-09-30 14:54] filipers opened #99303 "Update documentation to include information about "Public access""
When creating a new Key Vault, customers see a new option under Networking tab about public access. The "Learn more" link point to this page which doesn't have any information about "Public access".

This may cause confusion to customers as we don't have anything in the docs to explain what "Public access" means.

The "Public access" is only found in the Azure CLI/PowerShell documentation:
--publi

[2022-09-30 15:00] AnuragSingh-MSFT commented on #98460
@chorting, I just heard back from the team that the fix for this issue is being worked on, and will be available in next couple of weeks.

[2022-09-30 15:04] seesharprun commented on #98833
@meatrocket, this quickstart is due for a refresh later this year where we will update it to use the latest supported .NET version.

[2022-09-30 15:12] GeethaThatipatri-MSFT commented on #99276
Hi, @sijucm Thank you for reaching out. We will look into it and update you as appropriate.

[2022-09-30 15:16] fgheysels opened #99305 "Custom Templates for Azure IoT Edge modules"
When you want to create a new IoT Edge module inside an IoT Edge project in Visual Studio, this screen is shown:

![image](https://user-images.githubusercontent.com/3605786/193302015-11dfe764-3122-471a-9f0c-4c56a213a101.png)

Is there a possibility to create custom templates for IoT Edge modules and make sure that these templates show up in that screen ?  I can't seem to find any documentation on

[2022-09-30 15:16] mumian commented on #95896
@jlagarda - sorry for the late reply.  I assume you got the error message from vscode.  Please make sure you have the latest VSCode Bicep extension.  See https://learn.microsoft.com/en-us/azure/azure-resource-manager/bicep/install#vs-code-and-bicep-extension. If you still have the error message with the latest extension, please provide your code. I can take a look at it.

[2022-09-30 15:23] seesharprun commented on #99276
@sijucm, the sentence is unclear.

You **enable multi-region writes** at the account level.

At the application level, you **write to a specific region**.

The best solution here would be to update the text to say "To take advantage of multi-region writes in your application, set `ApplicationRegion` to the specific region you want to write to." I'm sure that sentence can be improved with copy edit

[2022-09-30 16:06] normesta commented on #99227
Thank you @madansr7 ! I replaced the ID with a generic "xxx" format. Change should appear live in about an hour.

Thx again

#please-close

[2022-09-30 16:06] #99227 closed

[2022-09-30 16:18] spelluru commented on #99052
@deyanp - Opened an issue in the SDK repo. Here's the link:
https://github.com/Azure/azure-sdk-for-net/issues/31555

[2022-09-30 16:19] artisticcheese opened #99307 "RBAC access shall be supported for accessing secrets in keyvault"
Documentation states that one have to create `Access Policy` to provide access to identity to retreive secrets. KeyVault can have RBAC access control enabled instead of `Access Policy` and hence instructions shall be modified not mention explicitly `Access Policy`
`Create an [access policy in Key Vault](https://learn.microsoft.com/en-us/azure/key-vault/general/security-features#privileged-access)

[2022-09-30 16:20] MashaMSFT commented on #92748
Hi @ebainto , thanks so much for contacting Microsoft, and our apologies for the delay! While this is good feedback, we try to minimize how much duplication of content we have across the docset, and as such, instead of adding steps to multiple articles, we've added a link to the content that [covers configuring the failover type](https://learn.microsoft.com/sql/database-engine/availability-groups/

[2022-09-30 16:20] #92748 closed

[2022-09-30 16:22] spelluru commented on #99280
Moved the issue to the SDK repo:
https://github.com/Azure/azure-sdk-for-net/issues/31556

[2022-09-30 16:31] JnHs commented on #99270
Handling this directly with Wendy.
#please-close

[2022-09-30 16:31] #99270 closed

[2022-09-30 16:34] SaibabaBalapur-MSFT commented on #99271
@ulkeba
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 16:40] wege4rt34 opened #99309 "Clarification on Cause 2 Workaround point"
Is it possible to clarify the Cause 2 Workaround point:

What is the time period for the "metadata operations limit" for a single AFS (one second/minute/hour)?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c2ab0c47-e61d-0419-1e75-29172fcbe097
* Version Independent ID: 796337da-9f25-5d68-6c40-2f73263a5bfa
* Content: [

[2022-09-30 16:41] shlipsey3 commented on #99271
@ulkeba I dig some digging. When it comes to group membership, it may be best to think of your nested group as a "member" of the parent group, in that your member attributes and properties will not be changed based on the group you're a member of. Because groups can be members of lots of different groups, there's no way for all of those attributes to populate on the child group. If you want to see

[2022-09-30 16:45] SaibabaBalapur-MSFT commented on #99279
@dinisgarcia
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 16:45] Amondale commented on #98964
@AjayKumar-MSFT my point was that it used to be part of a custom domain instantiation in Azure Portal, now it appears to be a needed 'second step' and I believe the documentation should point that more clearly than the section you so kindly forwarded.

[2022-09-30 16:47] SaibabaBalapur-MSFT commented on #99280
@ivi-hamiti
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 16:47] ilikeyi commented on #98762
Also, Microsoft you don't make multilingual Windows 11, Windows 10, Windows vNext 2025, you can ask me how to make it.

Wait till you come and tell me, I have gone to all the files in uupdump.net and found it.

Windows 11 22H2 multilingual series has been generated.

Also, it’s really time to celebrate Microsoft’s language pack rollover event. In April 2022, I went to Windows Server insider to rep

[2022-09-30 16:48] SaibabaBalapur-MSFT commented on #99283
@spiroskon
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 16:49] Amondale commented on #98964
@AjayKumar-MSFT the article doesn't clarify the distinction between SAN and wildcard cert. The portal now treats them as equivalent, and this is a confusion that wasn't previously there.

[2022-09-30 16:52] SaibabaBalapur-MSFT commented on #99290
@abhijeet-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 16:54] SaibabaBalapur-MSFT commented on #99292
@ozthe2
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 16:56] SaibabaBalapur-MSFT commented on #99299
@Rong45130741
Thanks for your feedback! We will investigate and update as appropriate.

Could you please elaborate the query in English for better understanding. So, we can assist you further.

[2022-09-30 16:58] SaibabaBalapur-MSFT commented on #99301
@schwibach
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 17:00] SaibabaBalapur-MSFT commented on #99302
@npherson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 17:01] MeliVindas opened #99310 "Command to extract does not work as expected"
Hi team, I was trying to extract the installer files at 'Mobility service using UI (Modernized)' and the command has something wrong, I tried in different VMs and it didn't work, when I deleted the '/q' option it gave me the option to select where to extract those files.

 .\Microsoft-ASR_UA*Windows*release.exe /q /x:C:\Azure Site Recovery\Agent

---
#### Document Details

⚠ *Do not edit this sect

[2022-09-30 17:01] SaibabaBalapur-MSFT commented on #99303
@filipers
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 17:04] SaibabaBalapur-MSFT commented on #99305
@fgheysels
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 17:06] SaibabaBalapur-MSFT commented on #99307
@artisticcheese
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 17:07] SaibabaBalapur-MSFT commented on #99309
@wege4rt34
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 17:09] SaibabaBalapur-MSFT commented on #99310
@MeliVindas
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 17:09] aahill commented on #98936
Thanks for pointing this issue out - I've updated the article and the change will be live soon.

#please-close

[2022-09-30 17:09] #98936 closed

[2022-09-30 17:18] SaibabaBalapur-MSFT commented on #99269
@kogepanh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 17:19] aahill commented on #98973
Thanks for finding this issue. I've updated the image and the change will be live soon.

#please-close

[2022-09-30 17:19] #98973 closed

[2022-09-30 17:20] SaibabaBalapur-MSFT commented on #99270
@JnHs
This thread as resolved by customer if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-30 17:24] SaibabaBalapur-MSFT commented on #99273
@kyleross-deckers
This thread as resolved by customer, if there are any further questions regarding the documentation.

[2022-09-30 17:30] adbadram commented on #82991
This is happening because of the PowerShell version which is greater than 5.0. Powershell core doesn't support credentials and only supports MFA. To use this script, please use AZ Powershell 5.0. We are working on a compatible script for the latest PowerShell versions.

[2022-09-30 17:37] brandonh-msft opened #99311 "What happens to the input if the output queue message never gets put into the output queue?"
I have a case where I'm trigging off a queue and using output binding to output to the other queue.
In this case, if the _output_ queue fails to receive the message for one reason or another (throttling, other error), what happens to my _source_ queue message? Is it marked complete when my function _returns_ or when the output binding _succeeds_?

---
#### Document Details

⚠ *Do not edit this sec

[2022-09-30 17:38] danielledennis commented on #98907
Addressed in this PR:  https://github.com/MicrosoftDocs/azure-docs-pr/pull/212698

[2022-09-30 17:38] MashaMSFT commented on #82991
Hi @mrdenny , thanks for contacting Microsoft! We have updated the prerequisites saying that Azure PowerShell 5.0 should be installed to use the script. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-09-30 17:38] #82991 closed

[2022-09-30 17:47] chorting commented on #98460
@AnuragSingh-MSFT Thank you. I did open [https://github.com/microsoft/azure_arc/issues/1399] as well.

[2022-09-30 17:51] cynthn commented on #99286
@mathapli Can you help with this question?

[2022-09-30 17:53] adbadram commented on #89470
Today, the easiest way to automate all the manageability changes is by downloading the ARM template at the end of Market place image creation. Powershell commands don't support the deployment of manageability features such as collation. Having said that, we take this as feedback and will check to see if we can get this done too. Thank you.

[2022-09-30 17:54] MashaMSFT commented on #69173
Hi @EitanBlumin , thanks so much for bringing this to our attention! I've processed a change to add the blog and PowerShell to the article and these changes should be live next week. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs tea

[2022-09-30 17:54] #69173 closed

[2022-09-30 17:56] ecfan commented on #96156
On further investigation, peek-lock operations are available with the built-in connector, but only for *stateless* workflows, not stateful workflows. We'll update the docs to reflect this new info.

[2022-09-30 17:58] sijucm commented on #99276
That could help. I still have the question: If at the account level it's
set as multi region write how could a client side override that with a
region? Shouldn't it write in both regions (and probably also
synchronously). Maybe a clarification on when an override will make sense
will clarify the case. The question is why specify a write region.
Would that be okay to add that information. I leave i

[2022-09-30 18:01] stevevi commented on #98774
Added SQL Managed Instance compliance coverage.

[2022-09-30 18:01] stevevi commented on #98774
#please-close

[2022-09-30 18:01] #98774 closed

[2022-09-30 18:11] MashaMSFT commented on #87903
Hi @athosar50 , thanks so much for contacting Microsoft and our apologies for the delay in response! Yes, the correct filename is `Cluster-Config.csv`. We've processed the change and it will be live next week. However, Always On is an umbrella term for two features of SQL Server, availability groups, and failover cluster instances. As such, Always On failover cluster instance is the correct full n

[2022-09-30 18:11] #87903 closed

[2022-09-30 18:14] spelluru commented on #99280
@ivi-hamiti - Please see the dev's response in the linked SDK Git issue. Thanks.
https://github.com/Azure/azure-sdk-for-net/issues/31556

[2022-09-30 18:17] AbdullahBell commented on #97400
Hello all, the documentation is updated and clarified. Please let me know if you have any questions or concerns. Thank you.

[2022-09-30 18:24] eric-PBI opened #99315 "Missing info on how to move an On Prem backup from 1 vault to another."
This page doesn't cover the process or procedure when needing to move the backed up data of an on-prem VM from 1 Azure Backup vault to another.
The use case is I had 1 Azure vault for both Backup and Site Recovery.
I then upgraded the Site Recovery to the modern experience which created a new vault.
Now I have 2 vaults and cannot get my onPrem VM backup data moved over to the new vault.
It seems t

[2022-09-30 18:25] kevin-presalytics commented on #98970
Thanks @GitaraniSharma-MSFT !  Just curious here.  I am building a new network with an Azure VPN Gateway, and want to know if I can put wireguard support for my engineers on the roadmap.

[2022-09-30 18:54] RichardDavies commented on #77992
This was initially confusing to me too because I'm trying to integrate with Zendesk which doesn't provide a metadata URL either (but does provide a static copy of the metadata XML).

To be clear, after having gone through this, I've discovered that your application doesn't have to provide a metadata URL to be used with Azure AD B2C, but you will need to have a copy of that XML metadata or at least

[2022-09-30 19:00] RichardDavies commented on #85152
I do not believe that the suggested correction of `"identifierUris":"https://tenant-name.onmicrosoft.com/SAMLApp1"` is correct. As explained in https://github.com/MicrosoftDocs/azure-docs/issues/98195#issuecomment-1261299222 I believe this example is incorrect and the `identifierUris` value should be set to your application's `Issuer` URL, which almost certainly won't be a subdomain of onmicrosoft

[2022-09-30 19:01] ChaiSwaddipong opened #99316 "Max spreading setting"
"The fault domain count for the host group level should match the fault domain count for your scale set. The Azure portal lets you specify max spreading for your scale set, which sets the fault domain count of **1.**"

Question: I am confused. Shouldn't max spreading set this FD count to 5 instead of 1? Could you clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-09-30 19:24] nitinme commented on #95658
@thecowmilk - have you tried using the Face API quickstart that has Python specific instructions here - https://learn.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts-sdk/identity-client-library?tabs=visual-studio&pivots=programming-language-python

That might be a good start.

[2022-09-30 19:32] vhorne commented on #98397
Done
#please-close

[2022-09-30 19:36] nitinme commented on #98821
The reference sites were down due to some internal issues but they have been restored already. Please let us know if you still see these issues. Thanks!

#please-close

[2022-09-30 19:36] #98821 closed

[2022-09-30 19:38] seesharprun commented on #99276
So, the client-side setting affects which region the client will try to write to. It doesn't change anything with configuration server-side.

Consider this application

[code]

In the application you deploy to an **Azure Web App** in **West US**, you will set the `ApplicationRegion` setting to point to the **West US** region. This will ensure that the client doesn't try to "guess" which region it

[2022-09-30 20:27] pablojavierf opened #99320 "Version support confirmation"
Hi team, for Flexible Server information it should be described as in url: https://learn.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-compare-single-server-flexible-server the support for community version up to 14. At this moment it shows up to 13.

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-09-30 20:41] GauravES opened #99322 "Automating Publisher Verification for Azure AD Apps via Powershell"
Automating Publisher Verification for Azure AD Apps via Powershell

`Repeat this process as needed for any additional apps you would like the badge to be displayed for. You can use Microsoft Graph to do this more quickly in bulk, **and PowerShell cmdlets will be available soon**. See [Making Microsoft API Graph calls](https://learn.microsoft.com/en-us/azure/active-directory/develop/troubleshoot-pu

[2022-09-30 20:51] xmseraph commented on #99239
according to the reference page, it sounds like the python azure function is only supposed running in linux OS, so including my pyd file in the .python_packages/lib/site-packages and publish with --no-build doesn't really work, all the required packages including my pyd file are included in the zip file stored in the storage container, but still can't import my module in pyd.

[2022-09-30 20:53] xmseraph commented on #99239
my pyd file is a python c extension, if i can make it a linux wheel, will it work after installed?

[2022-09-30 20:59] sepaugh opened #99325 "Supported Regions"
There used to be a Supported Regions section here with the below regions listed (here's the old link with the header name - https://docs.microsoft.com/en-us/azure/azure-monitor/agents/om-agents#:~:text=supported%20regions):

`Supported Regions - Only the following Azure regions are supported by System Center Operations Manager to connect to a Log Analytics workspace:

West Central US
Australia Sou

[2022-09-30 21:12] robsierra opened #99326 "Following steps on this page caused exception trying to upload my policy"
After completing the steps on this page I received the following exception trying to update my TrustFrameworkBase policy:

Validation failed: 1 validation error(s) found in policy "B2C_1A_XXXX_TRUSTFRAMEWORKBASE" of tenant "mytenant".Schema validation error found at line 826 col 12 in policy "B2C_1A_XXXX_TRUSTFRAMEWORKBASE" of tenant "mytenant": The element 'TechnicalProfile' in namespace 'http://

[2022-09-30 21:20] Grace-MacJones-MSFT opened #99327 "Your is misspelled as "you""
Under the **Get Port Number** section:

It states "You Node.js app needs to listen to the right port to receive incoming requests." you should be "your"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 896b5d4c-ac3b-f0a2-5102-9e59bbe2ed48
* Version Independent ID: 32fd9660-0d08-205c-c7f3-57b00f35e667
* Content: [Configu

[2022-09-30 21:24] aaronrogers opened #99328 "Property Misspelled"
The code has `URI_FOLDER` and the explanation has `URI*FOLDER` in [Understanding the code changes](https://learn.microsoft.com/en-us/azure/machine-learning/tutorial-1st-experiment-bring-data#understand-the-code-changes).

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f2767a9e-eac1-8460-761f-a86154bd9685
* Version Inde

[2022-09-30 21:34] #99300 closed

[2022-09-30 21:49] haider392 opened #99329 "Pre-Requisite for CMK should be mentioned on this page"
There is a pre-requisite for CMK that is documented here (Under configure key vault topic) - https://learn.microsoft.com/en-us/azure/storage/common/customer-managed-keys-configure-new-account?tabs=azure-portal#configure-the-key-vault

The pre-req reads like this, "Using customer-managed keys with Azure Storage encryption requires that both soft delete and purge protection be enabled for the key va

[2022-09-30 22:00] zhenlan commented on #98567
@krisrajzlive, thanks for sharing the repo. The code you shared is not the complete project, and the code is not exactly the same as the example given in the tutorial. Can you either update the code to exactly match the tutorial doc or share the complete project?

In addition, to better help you, please share how it doesn't work for you, including what steps you took, what outcome you observed, an

[2022-09-30 22:01] rboucher commented on #96986
Verified with the product group that you should get data in 90 minutes. If you dont' get anything in 24 hours, that implied that either the resource is not creating telemetry, or something is wrong with the underlying routing mechanism. In the case, delete and recreate the diagnostic setting. If that doesn't work, contact support.  I'm updating the docs to reflect this information.

[2022-09-30 22:01] rboucher commented on #96986
Update in internal PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/213259

[2022-09-30 22:02] rboucher commented on #96986
#please-close

[2022-09-30 22:02] #96986 closed

[2022-09-30 23:20] SnehaGunda commented on #95565
@KeeveySongMS When you delete a SQL pool, the metadata associated with it also gets deleted. If you want to restore the deleted SQL pool, create a new SQL pool and follow the steps in this section: https://learn.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-restore-deleted-dw#restore-a-deleted-database-using-the-azure-portal. The restore database name is automat

[2022-09-30 23:26] SnehaGunda commented on #95826
#please-close

[2022-09-30 23:26] #95826 closed

[2022-09-30 23:40] nitinme commented on #87960
We have opened an internal work item to track this request. For now we'll go ahead and close this GitHub issue. Thanks for your patience.

#please-close

[2022-09-30 23:40] #87960 closed

[2022-09-30 23:44] bluefooted commented on #99201
@adbadram can you look into this?

[2022-10-01 00:07] ramakoni1 commented on #96927
hi @helenxfu - Sorry for the delay in updating. We will be updating the docs with the following clarifications.

The connection retry settings (ConnectRetryCount and ConnectRetryInterval) apply to connection resiliency. Connection resiliency encompasses two distinct scenarios.

1. Open connection resiliency refers to the initial SqlConnection.Open() event. The first connection attempt would be cou

[2022-10-01 00:22] croblesm commented on #98976
Hey @adityaduvuri_microsoft, let's work on this issue together.

[2022-10-01 01:41] GeethaThatipatri-MSFT commented on #99320
Hi, @pablojavierf Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-10-01 03:35] SaibabaBalapur-MSFT commented on #98976
I have reassigned case to @croblesm

@adityaduvuri_microsoft Please can you help me with your Github user ID, so we can assign case to you, Thanks you.

[2022-10-01 03:41] SaibabaBalapur-MSFT commented on #99311
@brandonh-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-01 03:43] SaibabaBalapur-MSFT commented on #99315
@eric-PBI
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-01 03:45] SaibabaBalapur-MSFT commented on #99316
@ChaiSwaddipong
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-01 03:46] SaibabaBalapur-MSFT commented on #99322
@GauravES
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-01 03:48] SaibabaBalapur-MSFT commented on #99325
@sepaugh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-01 03:49] SaibabaBalapur-MSFT commented on #99326
@robsierra
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-01 03:51] SaibabaBalapur-MSFT commented on #99328
@aaronrogers
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-01 03:52] SaibabaBalapur-MSFT commented on #99329
@haider392
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-01 06:57] sijucm commented on #99276
Sure that helps a lot. Thanks

On Fri, Sep 30, 2022, 21:38 Sidney Andrews ***@***.***> wrote:

[2022-10-01 10:59] fabiocastagnino opened #99333 "please update with new arm sizes"
please update with new arm sizes

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c005a93a-6fce-d270-9bb5-8e7213156b70
* Version Independent ID: 844d62d4-a06b-1578-488f-f6441242a07d
* Content: [Compute benchmark scores for Azure Linux VMs - Azure Virtual Machines](https://learn.microsoft.com/en-us/azure/virtual-

[2022-10-01 11:17] J0F3 commented on #96195
Yes, these are exactly the scenarios which I thinking off 👍🏻

[2022-10-01 11:32] ManoharLakkoju-MSFT commented on #99164
@MGamil-MSFT
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-01 11:37] J0F3 commented on #96197
I think to mention that, if there are no groups show when configuring through the Portal does mean that the resource do not support groups, would be enough.

I also noticed that a group which get configured through an ARM deployment (while the group is not shown when creating the Diagnostics Setting in the Portal ) do actually not work. (no logs are send).

So just make it clear that the Portal is

[2022-10-01 12:03] etec-masterofsynapse commented on #96675
@GitaraniSharma-MSFT @cburuzie @brianlehr Any updates on this? It has been 1.5 months since the last activity.

[2022-10-01 12:16] stopinskipawel commented on #87251
I have the same problem. Any updates?

[2022-10-01 13:06] Naveenommi-MSFT commented on #99065
@KarthikeyanB007

We are going to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-01 13:06] #99065 closed

[2022-10-01 13:08] Naveenommi-MSFT commented on #99151
@lukos

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-01 13:28] Naveenommi-MSFT commented on #99327
@Grace-MacJones-MSFT

Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-01 14:55] Naveenommi-MSFT commented on #99333
@fabiocastagnino
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-01 14:57] jurjenoskam opened #99334 "Document how nested resources work with implicit and explicit dependencies"
Let's say I want to deploy a resource with two child resources, say a Web App with an appsettings child resource and an authsettings child resource. One of those child resources is defined within the parent resource, the other child resource is defined outside it (and uses the `parent`  declaration). The following pseudo-Bicep shows what I mean:

[code]

The `webAppAuthConfig` child resource must

[2022-10-01 15:30] ManoharLakkoju-MSFT commented on #99334
@jurjenoskam
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-01 16:24] 99Edorde opened #99336 "D2020"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 11cda2e8-81c4-ab6a-371e-73506948488f
* Version Independent ID: f18c9bf9-a0e7-ea07-144b-c2c7cedc8b6b
* Content: [Classic subscription administrator roles, Azure roles, and Azure AD roles](https://learn.microsoft.com/en-us/azure/role-based-access-contr

[2022-10-01 18:40] SaibabaBalapur-MSFT commented on #99336
@99Edorde
Thanks for your feedback! We will investigate and update as appropriate.
Could you please elaborate the query for better understanding. So, we can assist you further.

[2022-10-01 19:06] sijucm opened #99337 "The url reference given seems to be wrong"
The page says the SAS token can be passed as shown "https://<account name>.blob.core.windows.net/<container>/<file>?sv=<SAS token>"

But that is wrong. sv stands for signed-version and not the SAS token. sv is part of the SAS token. I would say the url should show https://<account name>.blob.core.windows.net/<container>/<file><SAS token>

Probably that looks a bit weird but giving sv=<SAS token> i

[2022-10-01 20:49] glenmw opened #99339 "Recommended corrections for "Create a Windows VM with VM Image Builder by using PowerShell""
Suggested corrections and updates for https://learn.microsoft.com/en-us/azure/virtual-machines/windows/image-builder-powershell

Section "Create an image"

1. Create a VM Image Builder source object.

The following hashtable has invalid parameter 'SourceTypePlatformImage' - the correct parameter is 'PlatformImageSource'

Currently on web page:

$SrcObjParams = @{
  SourceTypePlatformImage = $true

[2022-10-01 22:34] robz25 commented on #99112
@MughundhanRaveendran-MSFT Hi, thanks for following up.

Under section: Configure an on-premises server for PowerShell remoting

Line of code use to create the self signed certificate: $Thumbprint= (New-SelfSignedCertificate -DnsName$env:COMPUTERNAME -CertStoreLocationCert:\LocalMachine\My).Thumbprint

Will create a certificate for the name of the current machine, that name must be used for the Hy

[2022-10-01 23:37] 99Edorde opened #99342 "I don't see the Monitored Object Contributor role in the list Azure RBAC built-in roles:"
I don't see the Monitored Object Contributor role in the list Azure RBAC built-in roles:
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles

@shayoniseth do you have additional information about the Monitored Object Contributor role that is referenced in this article?
https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-windows-client

thanks

[2022-10-02 02:17] StingyJack commented on #61003
@vhorne - can you link to the "Networking Feature Request Page"?

[2022-10-02 03:05] DavidNorena opened #99343 "AZURE_COSMOS_EMULATOR_CERTIFICATE is not documented but used in the docker"
AZURE_COSMOS_EMULATOR_CERTIFICATE Is there a way to put documentation on how to use that variable for custom certificate override ?

In docker for linux seems the exported certificate autocreated by the emulator one lacks the certificate configuration constrain CA:true, which is for Certificate Authority, which is a bug, and in some linux distributions the certificate wont be trusted, making the e

[2022-10-02 04:44] saeedakhter opened #99344 "MSAL Python error handling page needs an example"
The ADAL to MSAL migration guide here:
https://learn.microsoft.com/en-us/azure/active-directory/develop/migrate-python-adal-msal

Points to this article for error handling differences.  However, this article does a very poor job of explaining the differences between error handling in ADAL and MSAL.  This error handling page for Python needs an example, something like:

In ADAL, Error handling is d

[2022-10-02 05:31] SaibabaBalapur-MSFT commented on #99337
@sijucm
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 05:33] abymmathew-mli-test opened #99345 "NPM support for Linux only"
On this page it states that Azure NPM is only for Linux, however on -
https://learn.microsoft.com/en-us/azure/aks/use-network-policies, it states that Azure NPM is supported on both Linux and windows 2022.

Wanted to make sure or advise if Calico would be a better choice for Network Policy management.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-10-02 05:33] SaibabaBalapur-MSFT commented on #99339
@glenmw
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 05:36] SaibabaBalapur-MSFT commented on #99342
@99Edorde
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 05:38] SaibabaBalapur-MSFT commented on #99344
@saeedakhter
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 05:40] SaibabaBalapur-MSFT commented on #99343
@DavidNorena
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 05:43] SaibabaBalapur-MSFT commented on #99345
@abymmathew-mlidynamics
Thanks for your feedback! We will investigate and update as appropriate.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-02 06:14] hardiktalati opened #99346 "how does spark version get upgraded - as the current version does not support delta lake"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-10-02 06:24] lukos commented on #99151
@Naveenommi-MSFT that document doesn't answer my question. It tells you how to add an Availability Set to the PPG but it doesn't explain how these two concepts can work together. From what I can see, if you add an AS to a PPG, all VMs in the AS get put into the same zone which defeats the point of an AS entirely so I don't know 1) Why you would use this use-case and 2) How you can have VMs in diff

[2022-10-02 07:18] KrishnaG-MSFT commented on #98459
@Soberdan52 We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-10-02 07:18] #98459 closed

[2022-10-02 07:28] KrishnaG-MSFT commented on #98703
@WimSchmitz To answer your question, yes your understanding is correct.

I would request content owner @AbbyMSFT to provide any additional insights, review, enhance the document if required.

[2022-10-02 07:29] KrishnaG-MSFT commented on #98495
@fbodmer We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-10-02 07:29] #98495 closed

[2022-10-02 08:01] ezYakaEagle442 commented on #91311
@KarlErickson could you please update this issue and consider this request as a P1 ?

I have seen the API has been updated, see [https://github.com/Azure/azure-sdk-for-java/issues/28310)](https://github.com/Azure/azure-sdk-for-java/issues/28310)

There is also now a[ Learn module](https://learn.microsoft.com/en-us/training/modules/secure-application-secrets-use-key-vault/6-update-application-confi

[2022-10-02 08:06] assaf-grth opened #99347 "Pricing details for WAF on Azure CDN"
Hi,
Since the WAF on Azure CDN service is in public preview, I assume that there are no additional costs for using it, can you confirm that?
Can you share future cost details of this service?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3b9c5b69-edba-541d-1259-1381a7bd0fc0
* Version Independent ID: 3cfbf2f9

[2022-10-02 08:10] KrishnaG-MSFT commented on #98780
#product-feedback

@dmrellan Thanks for the feedback and sharing your experience. I will share this as a feedback with product team to see what can done to improve the experience if time range is above 24 hours to calculate the list of computers.

If possible and if you have a support plan, I also recommend you to open a support ticket as mentioned [here](https://docs.microsoft.com/en-us/azure/azu

[2022-10-02 08:10] #98780 closed

[2022-10-02 08:30] KrishnaG-MSFT commented on #98812
@mleziva We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-10-02 08:30] #98812 closed

[2022-10-02 08:31] take-4c opened #99348 "What does it mean "unless you provide routes that direct the traffic elsewhere"?"
In the section "Application routing", this page says as follows.

"When Route All is enabled, outbound traffic from your app is still sent from the addresses that are listed in your app properties, unless you provide routes that direct the traffic elsewhere."

In my understanding, when "Route All" is enabled, all outbound traffic from our app is sent from the private IP address attached when the a

[2022-10-02 10:57] AaronMaxwell commented on #98621
Thanks for your dedication to our documentation. We verified the sample code was updated just two months ago.

Although troubleshooting is beyond the scope of our feedback channel here on GitHub, which covers specific documentation fixes rather than technical support, we can help redirect you to the right support channel to get an answer to your question:

Microsoft Azure Monitor Q&A question page

[2022-10-02 10:57] #98621 closed

[2022-10-02 11:24] simonburbery opened #99349 "Process Server 1GB cache disk?"
Hi, just in case checking whether is should be 1TB for the cache disk mentioned for the process server?
https://learn.microsoft.com/en-us/azure/site-recovery/vmware-physical-large-deployment#set-up-a-process-server

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d967e56a-bb9e-b280-be80-61d19b4494c7
* Version Independen

[2022-10-02 11:45] #99255 closed

[2022-10-02 12:39] AjayKumar-MSFT commented on #98964
Amondale, Thanks for the follow-up. Your feedback has been shared with the content owner (@cephalin) for further review and make changes as appropriate to add more clarity in the next iteration.

[2022-10-02 12:48] zaalion opened #99350 "There's embedded data that changes infrequently."
[Enter feedback here]

Hello,

Under "when to embed", should the followoing be corrected? "There's embedded data that changes infrequently."

I think based on the context, this should be "There's embedded data that **DOES NOT** change infrequently."

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a8f2e46d-dc1c-

[2022-10-02 12:49] KrishnaG-MSFT commented on #98849
@mchen999 Firstly, as per a note mentioned in the referred document, starting May 2020 recommended and supported way to monitor for events, schedule recurring tasks, and trigger actions is Azure Logic Apps.

However, with watcher tasks feature when I quickly tried to add a new watcher task and configure watcher, it automatically asked to choose hybrid worker group which means that the feature's wa

[2022-10-02 12:52] KrishnaG-MSFT commented on #98849
At this point it appears that there's no edits or updates needed for the referred documentation so closing this issue for now. If there are further questions regarding this topic or feedback on the referred documentation, please do let us know and we will gladly continue the discussion.

[2022-10-02 12:52] #98849 closed

[2022-10-02 12:57] AjayKumar-MSFT commented on #98801
am8448, Thanks for the follow-up and sorry for the confusion. Following the tutorial, after deleting the app setting I was able to publish fine. I have also started a discussion on this internally and your feedback has been shared with the content owner for further review, to make appropriate changes in the doc, to add additional clarity.

[2022-10-02 13:08] AjayKumar-MSFT commented on #97065
Just updating here: As commented by Seesharprun , on the other thread :  _"Yes, this is a feature not currently supported in the Python SDK. You can work around this by using the [REST API](https://docs.microsoft.com/en-us/rest/api/cosmos-db/create-a-database)."_

[2022-10-02 13:42] chaibimed opened #99351 "Very hard to understand"
[Enter feedback here]
Cannot understand anything from your azure function doc !!!
It not orgnized
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cd428773-db08-e2cb-8320-2943be82ffb7
* Version Independent ID: b8f4e7f0-21a6-1c25-3fd4-7bd3229c4e3a
* Content: [Azure Blob storage input binding for Azure Functions](https://l

[2022-10-02 14:39] sven9914 opened #99352 "swagger specification url is not working"
Hi
I'm trying to go to this url which stated in the first step of Generating code from the Swagger specification
https://westus2.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-1
however, I'm getting the error "Sorry, we can’t find the page you are looking for​"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-10-02 14:53] mosbahmajed opened #99353 "add section optimizing data collection settings for cost for containers"
Add section to explain for customers how they can analysis and reduce the container log costs

// Billable Log Data per-namespace
// See container logs billable data for the last 7d, segregated by namespace.
let billableTimeView = 30d; // Set the requested time - 30d can take some time.
ContainerLog
|join(KubePodInventory | where TimeGenerated > startofday(ago(billableTimeView)))
on ContainerID
|w

[2022-10-02 14:54] mosbahmajed opened #99354 "Add a section refer to issue #99353"
Details added here https://github.com/MicrosoftDocs/azure-docs/issues/99353 , Once its completed , I suggest to open a section referring to it at containers page .

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4a5fcced-8ed8-0a33-3f64-333d8fd36adc
* Version Independent ID: 9e60970c-d82b-ad7e-e263-c5866e228c9b
* Conten

[2022-10-02 14:57] KrishnaG-MSFT commented on #99221
Assigning to content owner @bwren for visibility, review, and document enhancement consideration as appropriate.

[2022-10-02 15:22] sijucm opened #99355 "Read this page many times, but still clueless what "Sampling" means"
Trying really hard to understand what it is. Is it done while analyzing or is it done while sending? What is this exactly. I see a lot of code references, but do not see why and who should use it. The starting introduction mean nothing to me but some words joined together randomly  from the jargon index.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.co

[2022-10-02 15:34] SaibabaBalapur-MSFT commented on #99346
@hardiktalati
Thanks for your feedback! We will investigate and update as appropriate.

Can you please elaborate on your ask to help me understand better? Please let me know. Thanks.

[2022-10-02 15:37] SaibabaBalapur-MSFT commented on #99347
@assaf-grth
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 15:39] SaibabaBalapur-MSFT commented on #99348
@take-4c
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 15:40] KrishnaG-MSFT commented on #99090
@ianssoftcom @Augustukas I was able to reproduce the same in my environment as well i.e., if the Time Generated value is older than 2 days then the row is not being dropped instead its resulting in a row TimeGenerated with current date/time as value.

Assigning this issue to content owner @bwren for visibility, to review, double-check and to update the document as appropriate.

[2022-10-02 15:40] SaibabaBalapur-MSFT commented on #99349
@simonburbery
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 15:43] SaibabaBalapur-MSFT commented on #99350
@zaalion
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 15:44] SaibabaBalapur-MSFT commented on #99351
@chaibimed
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 15:46] SaibabaBalapur-MSFT commented on #99352
@sven9914
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 15:48] SaibabaBalapur-MSFT commented on #99353
@mosbahmajed
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 15:49] SaibabaBalapur-MSFT commented on #99354
@mosbahmajed
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 15:51] SaibabaBalapur-MSFT commented on #99355
@sijucm
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 16:06] KrishnaG-MSFT commented on #99292
@ozthe2 We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-10-02 16:06] #99292 closed

[2022-10-02 16:24] LucaForever commented on #69801
@ssivas old thread, but I've been also having this issue with one of microsofts urls?
I'm trying to add a Web redirect URL to "https://login.live.com/oauth20_token.srf"
it worked the first time, but now it's spitting this error. any clue on what could be going on?

[2022-10-02 19:01] 99Edorde commented on #99336
#20741

[2022-10-02 19:02] 99Edorde opened #99359 "@99Edorde"
@99Edorde
Thanks for your feedback! We will investigate and update as appropriate.
Could you please elaborate the query for better understanding. So, we can assist you further.

_Originally posted by @SaibabaBalapur-MSFT in https://github.com/MicrosoftDocs/azure-docs/issues/99336#issuecomment-1264449011_

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.co

[2022-10-02 21:35] bdcoder2 opened #99360 "Clarify whether Azure functions must be static (or not) ..."
New to Azure Functions, and while reading the [documentation](https://learn.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library?tabs=v2%2Ccmd#methods-recognized-as-functions), it states:

Is this true or false?   Many StackOverflow posts show non-static classes / methods being used, but there seems to be nothing in the official docs (so far) regarding this.

Can additional inf

[2022-10-03 02:21] YuKogasaka opened #99361 "About Azure AD Authentication for Azure Database for MySQL Flexible Server listed in the table"
In the table provided in the "Comparing the MySQL deployment options in Azure" section, the item "Azure AD Authentication" for Azure Database for MySQL Flexible Server is listed as "Not Supported" when it should be "In preview" I think.
(Because the feature of Azure AD authentication for Azure Database for MySQL – Flexible Server has been announced as public preview on 09/28/2022)

- Public previe

[2022-10-03 03:29] ahmedgillanione opened #99363 "Match the menu item on left with the title of the page."
Match the menu item on left with the title of the page. menu says event hub connection, page says event grid connection.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 35bd3e7f-615b-aa1a-5f86-dfe4a209b09c
* Version Independent ID: 4e8e4a9a-02a5-9d6e-0f94-cb0146cd6899
* Content: [Event Grid data connection for Azure Sy

[2022-10-03 03:37] CherylHuan opened #99364 "Any IP needs Bypass HTTPS inspection?"
Any IP needs Bypass HTTPS inspection?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3942b937-b212-3ceb-d356-450b7f598f68
* Version Independent ID: 8b015b42-cf02-3942-3cc3-6e0f977d191a
* Content: [IP addresses used by Azure Monitor - Azure Monitor](https://learn.microsoft.com/en-us/azure/azure-monitor/app/ip-addresses

[2022-10-03 03:44] SumanthMarigowda commented on #99181
@cveld Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-10-03 03:45] SumanthMarigowda commented on #99148
@eliaquimbrandao Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-10-03 03:52] SaibabaBalapur-MSFT commented on #99359
@99Edorde
Thanks for your feedback! We will investigate and update as appropriate.

We are going to close this thread as Duplicate of #99336 but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.
Duplicate of #99336
https://github.com/MicrosoftDocs/azure-docs/issues/99336

[2022-10-03 03:52] #99359 closed

[2022-10-03 03:54] CherylHuan opened #99365 "Any IP needs to bypass HTTPS inspection?"
We found that the dashboard didn't get any feedback when query data using api.loganalytics.io and api.applicationinsights.io. After bypassing HTTPS inspection, the data query succeeds.

Can you update to document what IP that needs Bypass HTTPS inspection? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3942

[2022-10-03 03:54] SaibabaBalapur-MSFT commented on #99336
@99Edorde
Could you please elaborate the query for better understanding. So, we can assist you further.

[2022-10-03 03:56] SaibabaBalapur-MSFT commented on #99168
@DariaSh
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-03 03:56] #99168 closed

[2022-10-03 04:06] ManoharLakkoju-MSFT commented on #99360
@bdcoder2
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 04:08] ManoharLakkoju-MSFT commented on #99361
@YuKogasaka
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 04:12] ManoharLakkoju-MSFT commented on #99363
@ahmedgillanione
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 04:15] ManoharLakkoju-MSFT commented on #99364
@CherylHuan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 04:17] ManoharLakkoju-MSFT commented on #99364
@CherylHuan
Duplicate of #99365

[2022-10-03 04:17] #99364 closed

[2022-10-03 04:19] ManoharLakkoju-MSFT commented on #99365
@CherylHuan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 04:32] Naveenommi-MSFT commented on #99151
@lukos
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@mimckitt
Please add your comments on above Questions.

[2022-10-03 04:33] #99003 closed

[2022-10-03 04:38] #98460 closed

[2022-10-03 04:45] ManoharLakkoju-MSFT commented on #99234
@si-chan
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-03 04:45] SumanthMarigowda commented on #23006
@grabery  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-10-03 04:52] RamanathanChinnappan-MSFT commented on #99102
@KyferEz

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@nayenama

Please add your comments on above case.

[2022-10-03 04:58] RamanathanChinnappan-MSFT commented on #99212
@clintgrove
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@avinandaMS

could you please review this and update as appropriate.

[2022-10-03 05:15] AnuragSingh-MSFT commented on #99349
@simonburbery, thank you for the query. I am assigning it to our content team for review and update, as required.

@rayne-wiselman, could you please review this question and confirm if the size of Cache disk mentioned for process server is correct (as mentioned -  1 GB)? Thanks

[2022-10-03 05:17] Naveenommi-MSFT commented on #99352
@sven9914

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

@alexeyo26
Please review this & update the link as appropriate.

<img width="745" alt="image" src="https://user-images.githubusercontent.com/113576472/193505908-fb990584-fdea-4801-87ae-87c0ff67aff3.png">

[2022-10-03 05:36] Naveenommi-MSFT commented on #99363
@ahmedgillanione
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

@shsagir
Could you Please review this and update as appropriate.

<img width="940" alt="image" src="https://user-images.githubusercontent.com/113576472/193507579-042a7b6c-3933-425d-9cf3-ca10b67e4f8c.png">

[2022-10-03 05:41] ManoharLakkoju-MSFT commented on #99275
@Uli-Zug
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-03 05:47] SaibabaBalapur-MSFT commented on #99279
@dinisgarcia
Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-03 05:52] SaibabaBalapur-MSFT commented on #99309
@wege4rt34
I'm going to assign this to the document author so they can take a look at it accordingly.

@khdownie
Can you please check and add your comments on this doc update request as applicable.

[2022-10-03 05:58] ManoharLakkoju-MSFT commented on #99322
@GauravES
For you information Please refer the below in documented link
https://learn.microsoft.com/en-us/powershell/module/azuread/set-azureadmsapplicationverifiedpublisher?view=azureadps-2.0

[2022-10-03 06:02] Naveenommi-MSFT commented on #99328
@aaronrogers

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-03 06:04] SaibabaBalapur-MSFT commented on #99333
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2022-10-03 06:11] SaibabaBalapur-MSFT commented on #99329
@tamram
Can you please check and add your comments on this doc update request as applicable.

[2022-10-03 06:21] SwathiDhanwada-MSFT commented on #99353
@mosbahmajed Thanks for your feedback.

Assigning to content author @guywi-ms   for review.

[2022-10-03 06:22] SwathiDhanwada-MSFT commented on #99354
@mosbahmajed Thanks for your feedback.

Assigning to content author @guywi-ms   for review.

[2022-10-03 06:34] SaibabaBalapur-MSFT commented on #99316
@ChaiSwaddipong

Availability considerations
When you deploy a regional (non-zonal) scale set into one or more zones as of API version 2017-12-01, you have the following availability options:

Max spreading (platformFaultDomainCount = 1)
Static fixed spreading (platformFaultDomainCount = 5)
Spreading aligned with storage disk fault domains (platformFaultDomainCount = 2 or 3)
With max spreading, th

[2022-10-03 06:34] SwathiDhanwada-MSFT commented on #99085
@rboucher Can you please look into this ?

[2022-10-03 06:47] SwathiDhanwada-MSFT commented on #99217
@Darryl-G Thanks for your feedback.

Assigning to content author @v-amallick   for insights.

[2022-10-03 06:54] hqaffesha13 opened #99366 "Enable metrics is outdated"
[Enter feedback here]
please refer to the following documentation for modifying log data retention period:
https://learn.microsoft.com/en-us/azure/storage/common/manage-storage-analytics-logs?tabs=azure-portal#modify-log-data-retention-period

currently the document is saying the following:
![image](https://user-images.githubusercontent.com/102308702/193517079-c51eb212-01f6-471e-b6bc-0a17dce62f38.

[2022-10-03 07:01] KapilAnanth-MSFT commented on #99337
@sijucm ,

I have assigned this thread to the author for further review.

@duongau please consider this feedback and update the document as required

[2022-10-03 07:12] YashikaTyagi-MSFT commented on #99165
@MGamil-MSFT
Could you try with connector value as: b891884f-051e-4a83-95af-2544101c9083
Also try to set other parameters in the .ps1 are also set in a similar way and confirm if it is working

[2022-10-03 07:28] shaktisingh-msft commented on #99276
Hi @sijucm and @seesharprun,

Thanks for your inputs. Closing this thread as per the above discussions.

[2022-10-03 07:28] #99276 closed

[2022-10-03 07:34] MGamil-MSFT commented on #99165
Same connector value already in the script .. why should write it one more time? why I should write something like Name, Direction, Connector .... etc?
Why should I change anything!! scripts to create rules should work directly without any modifications!!
You should not edit anything in such scripts, usually we save it and change the extension to PS1 then run it and it should create the rule direc

[2022-10-03 07:45] andyjballgit opened #99367 "Private Endpoint doesnt support UDP and ICMP Traffic ?"
[Enter feedback here]
https://learn.microsoft.com/en-us/answers/questions/379875/private-endpoint-has-listening-restrictions.html

suggests that is case , would be good to that confirmed and if so added to this article as quite key.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 80dbc84e-6b51-585f-4cb3-f1cc53658487
*

[2022-10-03 07:59] dinisgarcia commented on #99279
Hi Saibaba,

This is the link for the general feedback page (what I see is below):
***@***.***
So not a link related to my feedback. My feedback is regarding changing a paragraph in the private link documentation. Are we supposed to post doc changes in that forum as well?

Cheers!

From: Saibaba Balapur Hireka ***@***.***>
Sent: Monday, October 3, 2022 6:47 AM
To: MicrosoftDocs/azure-docs ***@***.

[2022-10-03 08:00] KapilAnanth-MSFT commented on #99367
@andyjballgit, Thanks for your feedback.

Private Link only supports TCP and UDP.
This is documented here: [Limitations of Private Link Service](https://learn.microsoft.com/en-us/azure/private-link/private-link-service-overview#limitations)

Let us know if you require further information.

[2022-10-03 08:01] HarriJaakkonen opened #99368 "Wrong link to ServiceNow documentation"
The link in the documentation is for ServiceNow version called Paris but Tokyo is the current build.

https://www.servicenow.com/community/now-platform-articles/servicenow-versions/ta-p/2312014

Please update or remove the link.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 213e21d8-6170-56d7-9791-d6b1029bf3

[2022-10-03 08:04] andyjballgit commented on #99367
Thx for super quick reply

Ah fair enough - still think it might be worth calling out in the FAQ too - given that's why I / I guess most people go when something confuses them

Also given that private endpoint is a subset of Private Link Service and so I didn't think to search for that.

Cheers
Andy.

From: Kapil Ananth ***@***.***>
Sent: 03 October 2022 09:01
To: MicrosoftDocs/azure-docs ***@***.

[2022-10-03 08:04] SaibabaBalapur-MSFT commented on #99279
@dinisgarcia
I'm going to assign this to the document author so they can take a look at it accordingly.

@jimmart-dev
Can you please check and add your comments on this doc update request as applicable.

[2022-10-03 08:09] KapilAnanth-MSFT commented on #99367
@andyjballgit, Sure. Thanks again for the suggestion.
I shall assign this thread to the author for further review.

@malopMSFT, please look into this feedback and update the document if required.

[2022-10-03 08:10] AnuragSingh-MSFT commented on #99283
@spiroskon, thank you for the feedback. The presence of `sed` is only to make the returned secret more readable. The output from `base64 -d` does not end with a new line, hence the next prompt ends up in the same line. consider the following:
![image](https://user-images.githubusercontent.com/87687088/193529130-9be3da06-3e06-4f5e-a559-1c421f36e887.png)

sed command helps make it more readable. The

[2022-10-03 08:14] AnuragSingh-MSFT commented on #99069
@andrePKI, we will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-10-03 08:14] #99069 closed

[2022-10-03 08:16] AnuragSingh-MSFT commented on #99121
@jusso-dev, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-10-03 08:16] #99121 closed

[2022-10-03 08:17] cmclellen commented on #90225
Same here...have been struggling with this.

[2022-10-03 08:21] AbbyMSFT commented on #99368
#assign: @AbbyMSFT

[2022-10-03 08:22] WallucePinkham commented on #12741
Is there any way to get this re-opened?

[2022-10-03 08:22] AbbyMSFT commented on #99368
Hi @HarriJaakkonen,
Thank you for pointing that out and for your dedication to the quality of our documentation!
I have made the requested change. You should see the change online in a day or two.

Thanks,
Abby

[2022-10-03 08:23] AbbyMSFT commented on #99368
#please-close

[2022-10-03 08:23] #99368 closed

[2022-10-03 08:26] #99283 closed

[2022-10-03 08:36] sfc-gh-mahmad opened #99370 "Update the Snowflake Configuration steps to avoid unwanted sync issues"
create or replace role aad_provisioner;

should be updated as

 create role if not exists aad_provisioner;

to be in sync with [Snowflake documentation](https://docs.snowflake.com/en/user-guide/scim-azure.html#configuration) and avoid unwanted sync issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b6311c7b-41d1-2

[2022-10-03 08:45] YashikaTyagi-MSFT commented on #99094
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-03 08:45] #99094 closed

[2022-10-03 08:45] ivi-hamiti commented on #99280
thank you for the prompt answer, they reply on the linked issue clarify the questions

[2022-10-03 08:45] #99280 closed

[2022-10-03 08:51] shaktisingh-msft commented on #99361
Hi @savjani ,

Could you please look into this document enhancement request which needs update in table mentioned by the user.

[2022-10-03 08:54] shaktisingh-msft commented on #99343
Hi @StefArroyo,

Could you please look into this document enhancement request. Thanks!

[2022-10-03 08:56] AnuragSingh-MSFT commented on #99355
@sijucm, I am sorry for the confusion with respect to this doc. I am hoping the following details should help clarify it

Sampling - is the selection of a subset of telemetry items to be sent **from client to ApplicationInsights service**. This happens on the client's side. Also, the section **[How sampling works in ApplicationInsights](https://learn.microsoft.com/en-us/azure/azure-monitor/app/sam

[2022-10-03 08:58] tmsalata opened #99371 "Problem with use WebSocket transport on SignalR ASP.NET WebForms app with Azure SignalR with custom domain"
I have a problem with use custom domain on SignalR Azure Service with my ASP.NET WebForms app containing SignalR hub.
I have configured custom domain at SignalR Azure Service. When i use connection string like this (without using custom domain):

`"Endpoint=https://example_endpoint;AccessKey=example_accesskey;Version=1.0;"`

everything works perfectly and I get WebSocket transport.

But when i try

[2022-10-03 09:20] SwathiDhanwada-MSFT commented on #99004
@robwood894 Thanks for your feedback.

Assigning to content author @johnmarco   for review.

[2022-10-03 09:48] sijucm commented on #99355
Thanks for the explanation. What kind of telemetry is handled with
sampling? From the name it looks like relevant only for metrics. But does
this handle traces, dependency, request, etc? If so then how different is
this then with filtering option. What are the other options to reduce
telemetry sent to application insights similar to Sampling and how to
choose one over the other?

On Mon, Oct 3, 20

[2022-10-03 10:07] harald-quist-stratsys opened #99375 "Member deprovisioning when deprovisioning a group"
Member deprovisioning when deprovisioning a group

#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 271dc426-fb47-7441-d627-ec11f8c7a6ea
* Version Independent ID: 4cb8bfc8-4748-e501-425a-e4c2da0f5f5a
* Content: [Tutorial - Develop a SCIM endpoint for user provisioning to apps from Azure Active Directory - Microsoft Entra](ht

[2022-10-03 10:07] andyjballgit commented on #99367
Thx and besides the article quoted seems to be above Private Link Service connection as opposed to Private Endpoints ?

From: Kapil Ananth ***@***.***>
Sent: 03 October 2022 09:10
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Andy Ball ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Private Endpoint doesnt support UDP and ICMP Traffic ? (Issue #99367)

@andyjballgit<http

[2022-10-03 10:14] harald-quist-stratsys commented on #99375
If I deprovision a group, no users are removed (via patch /group/{id}). Shouldn't all users be removed from the group before the group is deprovisioned? The documentation is unclear in this regard (see [here](https://learn.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups?source=recommendations#group-provisioning-and-deprovisioning)) but it seems th

[2022-10-03 10:33] KapilAnanth-MSFT commented on #99367
@andyjballgit, Any Private Link Service requires a Private endPoint to connect to the respective PaaS service.

We cannot initiate traffic from a Private endPoint, we can only initiate traffic to Private endPoint.

Hence, stating only TCP and UDP is supported applies to the PLS and PE.

[2022-10-03 10:46] AnuragSingh-MSFT commented on #99365
@CherylHuan, thank you for this question. Requesting our content team to review and update the doc, as required.

@AaronMaxwell, could you please review this question and let us know if there are selected range of urls for which "Https inspection bypass" should done. A subset of such Url for MMA is available here https://learn.microsoft.com/en-us/services-hub/unified/health/troubleshooting_mma_age

[2022-10-03 10:46] yotkoKanchev commented on #87405
Is there a resolution here? This is not serious about having the option for POST/PUT requests, but not with a body.

[2022-10-03 10:51] yusosov commented on #85624
I do not see this issue anymore (using Python 3.8 -- Azure ML) Kernel. Will not verify any further. Please close issue #85624.

[2022-10-03 10:58] AnuragSingh-MSFT commented on #99355
@sijucm, thank you for the reply. The sampling is done for all types of telemetry - Request, dependency, Exception, Trace, Metrics and events. You could review the article mentioned in "next steps" of this doc to get more details- [Optimize Telemetry with Application Insights](https://learn.microsoft.com/en-us/archive/msdn-magazine/2017/may/devops-optimize-telemetry-with-application-insights#unbou

[2022-10-03 11:01] andyjballgit commented on #99367
Yeah cool , just worth calling it out as in my mind there are 2 types of implementation here

  *   Privatendpoint to a PaaS resource  (via a Private Link Service) - this is the most common obviously
  *   Privateendpoint via a Private Link Service to (normally a 3rd party)  Load Balancer - less common but all the documentation points you at this scenario when talking about Private Link Service

[2022-10-03 11:07] AnuragSingh-MSFT commented on #99315
@eric-PBI, thank you for the suggestion.

@v-amallick, could you please review this feedback and share your thoughts. Thanks.

[2022-10-03 11:29] #99328 closed

[2022-10-03 11:33] miqm opened #99377 "API-Management Private Link"
Hello,

As far as I know, API-Management private link is not yet GA - it's in Public Preview and works only on front-side. Additionally, the link next to API-Management entry leads to event grid page, not APIMs.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 97849a4b-e79a-840e-8cfc-d43b0ea1dec3
* Version Independent I

[2022-10-03 11:34] HennepinCrawler commented on #99226
Any update on this ?  in my testing, it is now going on 4 days and group membership has not updated.

[2022-10-03 11:49] kevin-george-ul commented on #87405
It's been while and I was hopeful that it was resolved behind the scenes but it hasn't, I setup a sample dataflow to demonstrate this doesn't work till date.

I've outlined the issue in the readme to https://github.com/kevin-george-ul/adf-dataflow-http-post-test

[2022-10-03 11:55] GitaraniSharma-MSFT commented on #99377
@miqm , thank you for your feedback. We'll review this and get back to you shortly!

[2022-10-03 12:13] bmansheim commented on #98856
Hi @sachip-msft . Thanks for your docs request.
This request will take some time to fill because it requires gathering information from engineering. I will open an internal ticket with your request and close this one.
I'll also make a note to update this issue when the request is complete.
Thanks!
#please-close

[2022-10-03 12:13] #98856 closed

[2022-10-03 12:18] bmansheim commented on #98949
Hi @Jamal8548 . Sorry, but we don't currently have a sample for BitBucket.
I would recommend that you post in https://techcommunity.microsoft.com/t5/microsoft-defender-for-cloud/bd-p/MicrosoftDefenderCloud to see if someone can help you.
#please-close

[2022-10-03 12:18] #98949 closed

[2022-10-03 12:20] bmansheim commented on #98856
Maybe also try posting in https://techcommunity.microsoft.com/t5/microsoft-defender-for-cloud/bd-p/MicrosoftDefenderCloud to see if someone can guide you. If you get the information, you can post it here to expedite the process of adding it to the docs.

[2022-10-03 12:28] assaf-grth opened #99379 "Event hubs standard AZ pricing"
Hi,
According to this [section](https://learn.microsoft.com/en-us/azure/event-hubs/event-hubs-premium-overview#high-availability-with-azure-availability-zones) AZ support for premium event hubs tier comes at no additional costs,
No similar comment is provided at the standard tier

The question is - are there any additional costs for using AZ support for standard tier?

---
#### Document Details

⚠

[2022-10-03 12:29] SnehaAgrawal-MSFT commented on #98958
@SeeleyFamily Thanks again for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-10-03 12:59] ctessier opened #99381 "Mistake in `Upgrade an Azure Kubernetes Service (AKS) cluster`"
Under `Customize node surge upgrade`, the doc says:

but I think it should be:

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* Content: [Upgrade an Azure Kubernetes Service (AKS) cluster - Azure Kubernetes Service](htt

[2022-10-03 13:03] ManoharLakkoju-MSFT commented on #99303
@filipers
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@msmbaldwin
Please review this.

[2022-10-03 13:10] take-4c commented on #99348
@madsd
Thank you for the response! I see.
I understood that there was outbound traffic from our app that was sent from the addresses that were listed in our app properties, even though "Route All" was enabled.
But I can't still understand the meaning "unless you provide routes that direct the traffic elsewhere".
Does it mean all traffic that goes towards public endpoints?

[2022-10-03 13:24] HarriJaakkonen commented on #99368
Hi,

The link that I sent was a reference of the versions for ServiceNow builds. It wasn't link to the article itself.

[2022-10-03 13:25] leeharper2425 opened #99383 "Changelog very out of date"
Hi,

As a consultant that does a lot of work with Azure ML, it would be very helpful if this page were kept up to date - the CLI v2 is now at version 2.8.0, but the most recent update on the page is 2.4.0, which is from May 2022

By contrast, the changelog page for v1, despite now being legacy, is kept very up to date, with the latest version, 1.45.0, being documented at the end of August 2022.

I

[2022-10-03 13:25] HarriJaakkonen commented on #99368
Here is the correct link for the Tokyo build https://docs.servicenow.com/en-US/bundle/tokyo-platform-administration/page/administer/form-administration/task/t_CreateATemplateUsingTheTmplForm.html

[2022-10-03 13:44] PaoloCastAway opened #99385 "Doc should make it clear that parm X5T is not a true Base64"
I discovered by trial and errors that X5T is not BASE64, it must be encoded with **BASE64URL** (see section 5 of [http://www.ietf.org/rfc/rfc4648.txt](http://www.ietf.org/rfc/rfc4648.txt)).

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7e44b783-3ca5-6b6a-1f33-d7a107b8f8e0
* Version Independent

[2022-10-03 14:08] mleziva commented on #98812
Thanks @KrishnaG-MSFT, the prerequisite section looks correct for Azure PowerShell now, but the _Azure Active Directory authentication option_ section still has the below AZ CLI command in the PowerShell section.

`az role assignment create --role "Azure Arc Kubernetes Viewer" --assignee $AAD_ENTITY_OBJECT_ID --scope $ARM_ID_CLUSTER`

Also, the _Access Your Cluster_ section only provides AZ CLI co

[2022-10-03 14:18] johnmarco commented on #99004
Hi @robwood894 . Looking into this now.

[2022-10-03 14:20] robwood894 commented on #99004
Hi John,

I have a log file from the client if it helps.

Kind regards,

Rob
________________________________
From: John Marcovecchio ***@***.***>
Sent: Monday, October 3, 2022 4:19 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Rob Wood ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] azcmagent disconnect (Issue #99004)

Hi @robwood894<https://github.com/robwood894> .

[2022-10-03 14:25] johnmarco commented on #99004
@robwood894 it might help--can you attach it? I've reached out to some folks about it and the log might be helpful to them. Thanks.

[2022-10-03 14:27] robertm73 opened #99387 "Cost Management App, will it ever work with MCA instead of just the EA?"
Cost Management App, will it ever work with MCA instead of just the EA?

#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0eddfa5b-1e69-a074-db05-a9138327170c
* Version Independent ID: 7952af48-217c-d753-2ec0-a14fe75867cd
* Content: [Analyze Azure costs with the Power BI App](https://learn.microsoft.com/en-us/azure/cost-mana

[2022-10-03 14:31] robwood894 commented on #99004
Log file as requested

KR

Rob
________________________________
From: John Marcovecchio ***@***.***>
Sent: Monday, October 3, 2022 4:25 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Rob Wood ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] azcmagent disconnect (Issue #99004)

@robwood894<https://github.com/robwood894> it might help--can you attach it? I've reached out

[2022-10-03 14:39] ArchangelSDY commented on #99371
@tmsalata Have you tried "Endpoint=https://custom_domain_endpoint;AccessKey=example_accesskey;Version=1.0;"?

[2022-10-03 14:44] Ellestad1995 opened #99388 "The provided Azure Policy Definition doesn't consider private endpoints with multiple private dns zone configurations"
The provided Azure Policy Definition doesn't consider private endpoints with multiple private dns zone configurations.

The ***deployIfNotExist*** effect is met after one of potentional several dns zone configurations is deployed. But some PE contains several private dns  zone configurations. See example further down.

The specified `"type":"Microsoft.Network/privateEndpoints/privateDnsZoneGroups"

[2022-10-03 14:47] tarynpratt commented on #85030
hi @kiwibayer, thanks so much for your feedback, our apologies for the long delay as we processed a large number of back Issues. I've processed the change you recommended and it should be live later this week. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

[2022-10-03 14:47] tarynpratt commented on #85030
#reassign:tarynpratt

[2022-10-03 14:48] tarynpratt commented on #85030
#please-close

[2022-10-03 15:00] lucabovo opened #99390 "Clarification about Sharepoint parameters App Domain and Redirect URL"
Good afternoon,
in this section https://learn.microsoft.com/en-us/azure/data-factory/connector-sharepoint-online-list?tabs=data-factory#prerequisites of the Docs there are some parameters you need to clarify:
- App Domain: localhost.com
- Redirect URL: https://www.localhost.com

The "localhost" parameters in the example are just as they are, example data, or are they somewhat "dummy data" and I ca

[2022-10-03 15:02] AaronMaxwell commented on #99355
@AnuragSingh-MSFT - Thank you for the suggestion. I've moved both sections to the top of the article per your recommendation.

[2022-10-03 15:04] seesharprun commented on #99350
@zaalion, I think this phrase could be clearer. How about `There's embedded data that infrequently changes`?

@markjbrown, what do you think?

[2022-10-03 15:13] madhavchereddyacc commented on #27563
the work around seems not working if vnet is having tags.

[2022-10-03 15:13] Jcpetrucci commented on #39944
Thanks for the tip!  It seems silly that write-access is forbidden to `\\SYSVOL<domainFQDN>\scripts` and we have to create our own `\\SYSVOL<domainFQDN>\Policies\scripts` instead.  Odd, but it works.

[2022-10-03 15:25] heatonen opened #99391 "System.NullReferenceException: 'Object reference not set to an instance of an object.'"
I keep getting error: System.NullReferenceException: 'Object reference not set to an instance of an object.' call_agent_ was null.

I used all the code from the quickstart, yet it is not working. Is the Quickstart false or am I missing something in my code?
[Enter feedback here]

using System;
using Windows.UI.Xaml;
using Windows.UI.Xaml.Controls;

using Azure.Communication;
using Azure.Communicat

[2022-10-03 15:28] ManoharLakkoju-MSFT commented on #99366
@hqaffesha13
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 15:29] VikasPullagura-MSFT commented on #99381
@ctessier Thanks for feedback, we will check and update the document as appropriate.

[2022-10-03 15:29] ManoharLakkoju-MSFT commented on #99370
@sfc-gh-mahmad
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 15:29] altrivis opened #99392 "Out of date Aqua Licensing in Tutorial"
Steps 9 - 12 of the [Create & authorize a spacecraft for Aqua](https://learn.microsoft.com/en-us/azure/orbital/downlink-aqua#create--authorize-a-spacecraft-for-aqua) section are outdated and need to be replaced with the current process for authorization a spacecraft.

<img width="437" alt="image" src="https://user-images.githubusercontent.com/106367419/193615727-c4a231d9-17bc-4634-b6a6-57741ed5d27

[2022-10-03 15:33] ManoharLakkoju-MSFT commented on #99371
@tmsalata
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 15:36] ManoharLakkoju-MSFT commented on #99375
@harald-quist-stratsys
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 15:38] ManoharLakkoju-MSFT commented on #99379
@assaf-grth
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 15:40] ManoharLakkoju-MSFT commented on #99383
@leeharper2425
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 15:41] ManoharLakkoju-MSFT commented on #99385
@PaoloCastAway
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 15:42] mlibenocg commented on #99255
Thanks. Will do.

[2022-10-03 15:44] ManoharLakkoju-MSFT commented on #99387
@robertm73
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-03 15:45] mleziva commented on #79855
I am seeing the following behavior which is inconsistent with the documentation.

Initial adding of a secret reference to the app service works correctly.
Updating the secret in the key vault and then restarting the app service does not refresh the secret and it will still have the old value
Changing any app setting, and then saving (which restarts the app service) does refresh the secret and it w

[2022-10-03 15:46] mleziva commented on #36650
Open issue which is tracking the inconsistency in the documentation: https://github.com/MicrosoftDocs/azure-docs/issues/79855

[2022-10-03 15:50] ManoharLakkoju-MSFT commented on #99390
@lucabovo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 15:53] ManoharLakkoju-MSFT commented on #99391
@heatonen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 15:54] whhender commented on #99102
@KyferEz -

1. I can confirm that workflows don't currently allow VNet and PE capabilities, and when they do we'll update the documentation.
2. The request is currently coming from the Microsoft Purview service itself, and so will follow the AzureCloud range for the region where the Microsoft Purview account is located: https://www.microsoft.com/en-us/download/details.aspx?id=56519

I'm working wi

[2022-10-03 15:55] ManoharLakkoju-MSFT commented on #99392
@altrivis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-03 15:55] AbbyMSFT commented on #98703
Hi @WimSchmitz,

Thank you for your question and feedback. To clarify, there are two built in roles for creating and viewing alerts. Those build in roles will work for any rule that is within the same scope as that user.

If you have a rule in a different scope, or a rule with an action group that is in a different scope, then you will have to create a user with permissions to read and or write to

[2022-10-03 15:57] AbbyMSFT commented on #98703
#please-close

[2022-10-03 15:57] #98703 closed

[2022-10-03 16:03] KyferEz opened #99393 "Does not document the IP ranges used for outbound connections for DataFlow"
DataFlows are mentioned in this doc, but no mention of the outbound IP ranges/tags used. This needs updating. From testing it was found that they will use the AzureCloud range for the region the IR is located in. It was expected it would use the DataFactory range for the region but that is not the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com

[2022-10-03 16:05] mimckitt commented on #99151
@lukos rather than go into the details here, I would actually recommend you use Virtual Machine Scale Sets.

https://learn.microsoft.com/en-us/azure/virtual-machine-scale-sets/overview

We recently launch Virtual Machine Scale Sets with Flexible orchestration. This allows you to mix and match different VM types in a scale set and you have better controls over the locations of the VMs as well as it

[2022-10-03 16:11] whhender commented on #99102
@KyferEz -

Are you mostly considering network security for your environment in general, or is there a specific concern or scenario you have in mind?

[2022-10-03 16:14] a6848418 opened #99394 "Hub and spoke Bastion deployment. Document Read access on VNETs"
In case Bastion deployed in hub and spoke network environment the list of required roles needs to include Read role on both hub network where bastion is located and spoke network where VM is located.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0c234d88-d9f6-f33e-c245-e307cc37394e
* Version Independent ID: 7a7a2f04-

[2022-10-03 16:16] tamram commented on #99329
@haider392 - Thanks for your feedback, I've updated this section to include this information:

https://learn.microsoft.com/azure/storage/common/customer-managed-keys-overview#enable-customer-managed-keys-for-a-storage-account

[2022-10-03 16:16] #99329 closed

[2022-10-03 16:19] dsiperek-vendavo commented on #85743
I have noticed the same issue on RequestArgNames, RequestArgValues

[2022-10-03 16:20] #99197 closed

[2022-10-03 16:22] ecfan commented on #99197
Docs updated, planned to go live after 4 PM Pacific Time.

[2022-10-03 16:25] AshokPeddakotla-MSFT commented on #98930
@willyt150 Any update/progress on this?

[2022-10-03 16:35] sameer-kumar opened #99395 "Incorrect arguments shown in sample code"
I'm trying to follow the docs to deploy single file to azure web app service. Here is the deep [link](https://learn.microsoft.com/en-us/azure/app-service/deploy-zip?tabs=cli#deploy-a-static-file) showing sample command on how to do this.
However, when I run this command, it throws error about missing path argument. The sample command has `--src-path` argument instead of `path`. However, the follow

[2022-10-03 16:36] mike-urnun-msft commented on #99036
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-10-03 16:36] #99036 closed

[2022-10-03 16:42] iaulakh commented on #98990
https://github.com/Azure/communication-ui-library-android/issues/446

[2022-10-03 16:42] willyt150 commented on #98930
@AshokPeddakotla-MSFT unfortunately, I've been given higher priority items than trying to reproduce the issue with raw MQTT (which I'll have to learn/guess at). At this point I do not have an ETA on when I'll be able to get to it.

I was however able to document the exact flow with the .Net C# SDK that results in the issue. (Not sure if anyone on the MS side could attempt the same flow with an alr

[2022-10-03 16:56] normesta commented on #99148
Thank you for the suggestion @eliaquimbrandao ! "Public" refers to an account that has anonymous access configured on it. Here's an article about enabling public anonymous read access - https://learn.microsoft.com/en-us/azure/storage/blobs/anonymous-read-access-configure?tabs=portal. RE: your suggestion on adding a line for OAUTH at the source, I can certainly do that. @zezha-msft can take the sug

[2022-10-03 16:59] normesta commented on #99366
Hi @hqaffesha13 - thanks for pointing out the doc. I've made the update a PR. The change should go live sometime today. The logs article was already updated last week to reflect the correct experience.

#please-close

[2022-10-03 16:59] #99366 closed

[2022-10-03 17:07] jboback commented on #98571
Hi @chris-szczyglowski-envolve, I'll reach out to the product team and make sure that the sample is correct.

[2022-10-03 17:09] jboback commented on #98456
Hi @donsonr, I'll reach out to the product team and ensure that the sample is correct.

[2022-10-03 17:44] ulkeba commented on #99271
Yes, I agree. If `G_nested` is a member of `G_parent´, then all membners of `G_nested` are also members of `G_parent` (but indirectly).

But referring to your statement

I do not see which properties or attributes `G_nested` could have that I could look up at `G_parent`.  All the metadata in the _Properties_ blade in AAD UI (Group name, Group description, Group type, Membership type, Object ID) ar

[2022-10-03 17:52] shlipsey3 commented on #99271
The nested groups aren't going to pick up the properties or attributes of the parent group (which is the language I need to clarify in the article). If you think about your nested group like a _user_, that user isn't going to pick up the properties of the parent group. My metadata isn't going to change based on the groups I'm in, so it won't be different for a group. In addition, because a group c

[2022-10-03 17:58] tifischer opened #99396 "IR doc says it will scale and it conflicts with DataFlow doc that indicates you specify the size (not unlimited scaling)"
Customer is confused because this page indicates that IR will scale but the DAta Flow doc here indicates you specify the size you want to use when using Data FLow. Could you please consider updating the docs to be more clear in this case. [Data Flow activity - Azure Data Factory & Azure Synapse | Microsoft Learn](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Flearn.microsoft.com

[2022-10-03 17:59] ulkeba commented on #99271
I think I understood that.

And your explanation is exactly the reason why the phrase I quoted in my first post is misleading and (at least from my point of view) the term 'inheritance' does not really seem appropriate to me here.

So thanks for your efforts to clarify the language! 👍

[2022-10-03 18:01] shlipsey3 commented on #99271
Thanks for providing the feedback! I hope I was able to help get you thinking about group membership from a new angle. A colleague and I chatted at length about it last week to try and make sense of it. It is not a clear feature for sure, and it's certainly not clarified in the documentation. :)

[2022-10-03 18:02] eric-urban commented on #99352
@sven9914 - Please use [https://westus2.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/](https://westus2.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/) instead. We'll update the doc. Thanks!

[2022-10-03 18:12] mumurug-MSFT commented on #99239
@xmseraph Sorry for the delay in response. Yes, you are correct. Python Azure Functions use Linux OS and hence you cannot .pyd file that is compiled on Windows in this runtime stack https://learn.microsoft.com/en-us/azure/azure-functions/functions-scale#operating-systemruntime.

Did you mean converting it to ".so" file?

[2022-10-03 18:13] briansmyk commented on #82329
It's been a year, no answer, no updates.  Ran into the same issue.  What MS didn't figure out here is that the line:
$identity = Get-AzUserAssignedIdentity -ResourceGroupName $resourceGroup  -Name $UAMI -DefaultProfile $AzureContext

returns null as stated by the requestor.  the problem is b/c MS is still trying to use the SAMI to query AAD to get the UAMI identity.  doesn't make a whole lot of se

[2022-10-03 18:23] cynthn commented on #99333
Benchmark scores take a while to create. The ARM benchmarks will most likely be added in the next round of testing. I'll pass this feedback on to the team.

#please-close

[2022-10-03 18:23] #99333 closed

[2022-10-03 18:40] mbender-ms commented on #99038
Researching issue with PM for Service Tag.

[2022-10-03 18:58] KyferEz commented on #99102
This is for network security; the HTTP endpoint we wish to reach using the HTTP workflow item blocks all public IPs by default, and we do not wish to allow all MS Trusted services, only the specific region necessary for this Purview instance.

[2022-10-03 19:15] bon-heur opened #99397 "What's the size limit that's allowed for files in the Developer Portal - Azure API Management?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-10-03 19:19] pauljewellmsft commented on #99254
Thanks for sharing this feedback! This quickstart is designed to work with local development scenarios where you are authenticating with a user account through Azure CLI, Visual Studio, or PowerShell. It appears as though your app is using a service principal approach, which is beyond the scope of this quickstart.

More information on authenticating with a service principal can be found in [this a

[2022-10-03 19:19] #99254 closed

[2022-10-03 20:23] tbecks commented on #96642
@jaslend You need to run the following command on the master server to grant replication privileges to the user account:

ALTER ROLE <replication user> replication;

[2022-10-03 20:28] MicrosoftGuyJFlo commented on #99302
Email out to PG

[2022-10-03 20:36] #94906 closed

[2022-10-03 20:39] jaslend commented on #96642
👍

[2022-10-03 20:40] durgesh891 opened #99401 "Unable to fetch public Keys. Unable to Resolve Identifier did:web:redcap******.com"
Unable to fetch public Keys. Unable to Resolve Identifier did:web:redcap******.com

Hi Folks,

While i am trying to scan the bar code from the authenticator, it says "Unable to fetch public Keys. Unable to Resolve Identifier did:web:redcap******.com".
Not able to figure out what's wrong, kindly help.

In View logs sections i see followng:
Http Error 400
body: {"requestid: ","date:", "mscv:",
error

[2022-10-03 20:40] lucabovo commented on #99390
Thank you @ManoharLakkoju-MSFT

[2022-10-03 21:10] andyloree opened #99403 "Address managed storage account DENY rule and blocking private endpoint"
There is currently no mention of managed storage account DENY rule that is added, and it blocking the ability to correctly isolate the account via private endpoints.  This needs to be captured either here or somewhere else, and offer that support should be contacted to temporarily remove the DENY or a better support process needs to be created to assist customers in the scenario.

---
#### Documen

[2022-10-03 21:22] ecfan commented on #97417
@rohithah: Thank you for your response! We'll add this info to the docs.

[2022-10-03 21:23] joshuadmatthews commented on #38257
@eliagrady  I suspect I am running up on same issue. Seems like a strange requirement with private link being a backend option normally you wouldn't have a signed cert for stuff inside of a private network, but I guess I do after reading this thread.

[2022-10-03 21:23] GeethaThatipatri-MSFT commented on #99320
@pablojavierf Can you please point out that version 14 is missing in which document?

[2022-10-03 21:26] cbrooksmsft commented on #19456
@santoshc1  - this one should me for you...

[2022-10-03 21:31] #93243 closed

[2022-10-03 21:32] #95359 closed

[2022-10-03 21:39] sadukie commented on #94441
Closing this issue - the page no longer exists.

[2022-10-03 21:39] #94441 closed

[2022-10-03 21:46] #97417 closed

[2022-10-03 21:47] ecfan commented on #97417
The doc update will go live after 4 PM Pacific Time.

[2022-10-03 21:48] BryanTrach-MSFT commented on #98759
@sijucm Thank you for providing your feedback.

At this time, there is no technical difference between --src-path and source config-zip. These are two different cmlets that ultimately do the same thing. While it would be possible to remove one of the cmdlet's this would create an issue for many customers who have built scripts around either cmdlet and so we have found it better to let both of them

[2022-10-03 21:48] #98759 closed

[2022-10-03 22:14] ChaitanyaNaykodi-MSFT commented on #99394
Hello @a6848418,

Thank you for your feedback. The information stated above is [currently documented here](https://learn.microsoft.com/en-us/azure/bastion/bastion-faq#roles)
Hope this helps. Please let me know if you have any additional questions. Thank you!

[2022-10-03 22:32] pablojavierf commented on #99320
@GeethaThatipatri-MSFT it is here https://learn.microsoft.com/en-us/azure/postgresql/single-server/overview
On the title: Azure Database for PostgreSQL - Flexible Server
It says: " The service currently supports community version of PostgreSQL 11, 12, and 13, with plans to add newer versions soon. "

[2022-10-03 22:42] greg-lindsay commented on #98899
@Thorfinn60 I believe I have found the issue. If you look at the script, it uses the command $context = Get-AzContext to populate the TokenCache variable. However, since Az.Accounts 2.x this variable is not used.  See the PowerShell issue: https://github.com/Azure/azure-powershell/issues/13337

Replace lines 56 and 57 as follows:

$context = Get-AzContext;
if ($context.TokenCache -eq $null) {

Rep

[2022-10-03 22:46] rnshah9 opened #99407 "The term "client ID" is incorrectly defined"
Currently, the page says:

This is incorrect. In AAD, the concepts of client ID (AKA application ID) and object ID are distinct. See respective definitions <a href="https://learn.microsoft.com/en-us/graph/api/resources/serviceprincipal?view=graph-rest-1.0#properties:~:text=appId,in%2C%20startsWith).">here</a> and [here](https://learn.microsoft.com/en-us/graph/api/resources/serviceprincipal?view=gr

[2022-10-03 22:52] MarileeTurscak-MSFT commented on #98280
Hi @TaraWM,

Sorry for the delay on this. The sourceAnchor attribute value cannot be changed after the object has been created in Azure AD and the identity is synchronized.

You can only set the sourceAnchor attribute during the initial installation. If you rerun the installation wizard, this option is read-only. If you need to change this setting, then you must uninstall and reinstall. If the val

[2022-10-03 22:52] #98280 closed

[2022-10-03 22:54] BryanTrach-MSFT commented on #98454
@deepakhariharan Please note that this forum is intended for doc feedback.

Since this seems to be related to troubleshooting, we would need to work with you via email. If you still require assistance, please reach out to us at azcommunity@microsoft.com with the subject as ATTN: Bryan and in the body of the email please include your Azure subscription ID.

Thank you for your understanding.

[2022-10-03 22:54] #98454 closed

[2022-10-03 22:56] BryanTrach-MSFT commented on #98375
Closing as a duplicate of #98454. Please see that issue for next steps if assistance is needed.

[2022-10-03 22:56] #98375 closed

[2022-10-03 23:14] BryanTrach-MSFT commented on #98190
@ghost Thank you for the feedback.

This example is provided via Azure CloudShell, which everyone has access to with an Azure subscription and is thus more accessible as everyone has their favorite IDE, which might not be Visual Studio or the necessary subscription/permission to run VS.

We will tag the doc author below to close the feedback loop that having this tutorial via VS in maybe a differe

[2022-10-03 23:14] #98190 closed

[2022-10-03 23:15] #98145 closed

[2022-10-03 23:16] greg-lindsay commented on #89910
@GavinJin88 Hi - do you still have this issue?
@sfiguemsft responded that the issue is likely the need to add CNAME records in the classful zone, pointing to the classless zone.  Have you done this?

[2022-10-03 23:33] greg-lindsay commented on #82750
I have updated the FAQ today. It should publish tomorrow.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/213509

[2022-10-03 23:33] greg-lindsay commented on #82750
Thanks for bringing this to our attention!
#please-close

[2022-10-03 23:33] #82750 closed

[2022-10-03 23:50] greg-lindsay commented on #94684
The original author's statement is correct and the sentence in the article needs to be updated. I'm doing this now. The sentence should have said if you need to resolve records in a vnet that is not linked to the private zone.  Although you can link only one zone to a given vnet, you can link multiple vnets to a given zone.

To fix the statement, I added "...vnet that is not linked to the same pri

[2022-10-03 23:53] #98023 closed

[2022-10-03 23:54] BryanTrach-MSFT commented on #98023
@neeranelli Thank you for bringing this up and ensuring continuity across documentation.

We have reviewed the resources you provided and updated that section to the best of our interpretation of the guidelines.

The changes have been merged into the upcoming PR and should be visible in the next 24 hours. If there are issues with the changes or further edits are required, please let us know.

[2022-10-03 23:59] greg-lindsay commented on #94684
This particular article has also undergone several edits in the past month. Another option, the DNS private resolver was added that can be used instead of a VM-based DNS server.

[2022-10-03 23:59] greg-lindsay commented on #94684
#please-close

[2022-10-03 23:59] #94684 closed

[2022-10-04 00:11] BevLoh commented on #98469
tagging @dereklegenzoff to followup

[2022-10-04 00:11] BevLoh commented on #98824
tagging @dereklegenzoff to followup

[2022-10-04 00:49] nerddtvg opened #99409 "Better Clarification on Persistent Storage for Function Containers"
The `Persistent Storage` section for the custom function container does not emphasize the issue of mounting `/home` causing some function apps from starting. If someone is using the `azure-functions-docker` provided image, the app must reside in `/home/site/wwwroot` and cannot be changed. Using persistent storage will mount over `/home`, preventing the functions from starting.

This should be high

[2022-10-04 01:48] mike-urnun-msft commented on #99397
Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2022-10-04 01:52] BryanTrach-MSFT commented on #99395
@sameer-kumar Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-10-04 02:58] YashikaTyagi-MSFT commented on #99165
@billmath
Can you help with this case ?

[2022-10-04 03:45] ManoharLakkoju-MSFT commented on #99396
@tifischer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 03:47] ManoharLakkoju-MSFT commented on #99401
@durgesh891
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-04 03:48] ManoharLakkoju-MSFT commented on #99403
@andyloree
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 03:49] ManoharLakkoju-MSFT commented on #99407
@rnshah9
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 03:52] yankeecharlie commented on #99197
Hi @MughundhanRaveendran-MSFT , thanks for reviewing the request and updated the document.

However, in relation to the screenshot, when following the steps in the document with Logic App's system assigned object ID, it will be an Enterprise application instead, which is the reason why the identity provider details page is unable to resolve the app registration. It will still work but doesn't work

[2022-10-04 03:54] ManoharLakkoju-MSFT commented on #99409
@nerddtvg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 04:05] bon-heur commented on #99397
Hi @mike-urnun-msft, I think this can go under [FAQ](https://learn.microsoft.com/en-us/azure/api-management/developer-portal-faq).

[2022-10-04 04:50] ManoharLakkoju-MSFT commented on #99342
@99Edorde
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-04 04:51] ManoharLakkoju-MSFT commented on #99299
@Rong45130741
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-10-04 04:51] #99299 closed

[2022-10-04 04:56] SaibabaBalapur-MSFT commented on #99381
@ctessier
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-04 04:58] SaibabaBalapur-MSFT commented on #99208
@dash042
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-04 04:58] #99208 closed

[2022-10-04 04:59] SaibabaBalapur-MSFT commented on #99249
@LeeBear35
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-04 04:59] #99249 closed

[2022-10-04 05:03] YashikaTyagi-MSFT commented on #99226
@HennepinCrawler
Apologies for the delay.
Currently, there is no way to automatically trigger the group to be processed on demand. However, you can manually trigger the reprocessing by updating the membership rule to add a whitespace at the end.

[2022-10-04 05:03] YashikaTyagi-MSFT commented on #99226
@HennepinCrawler
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-04 05:03] #99226 closed

[2022-10-04 05:05] pthomas848 opened #99413 "Update management center roadmap for runbooks"
[Enter feedback here]
Is there a confirmed timeline when UMC v2 will support runbooks please? https://learn.microsoft.com/en-us/azure/automation/automation-runbook-types , specifically textual powershell would be good to confirm. Many thanks
Best
Pauline
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d9d8d677-81cf-7bfb

[2022-10-04 05:06] jyothisuri commented on #99138
@v-pgaddala pls take a look and do the needful. thanks

[2022-10-04 05:19] #99381 closed

[2022-10-04 06:06] Venkateshdodda-MSFT commented on #99409
@nerddtvg I have assigned this to content author @cephalin request you to take a look and help us with your valuable insights on this.

[2022-10-04 06:14] MughundhanRaveendran-MSFT commented on #99112
@robz25 , Thanks for the clarification. I have suggested the changes and it will be published soon. I will close the issue. Feel free to reopen if required.

[2022-10-04 06:19] #99112 closed

[2022-10-04 06:58] rathinaman commented on #95827
@Harsha-CS please confirm whether this is out in production or not?

[2022-10-04 07:06] rathinaman commented on #98919
@v-ksreedevan Can you please update the network security group to network groups?
Also, please add a hyperlink to the admin rules as well.
Thanks.

[2022-10-04 07:08] rathinaman commented on #86044
@v-ksreedevan Please update the hyperlink to "https://learn.microsoft.com/en-us/azure/network-watcher/connection-monitor-overview"

[2022-10-04 07:10] Naveenommi-MSFT commented on #99393
@KyferEz

Please go through the Document & Check the Fixed IP ranges as mentioned in particular regions. For your reference I have shared the image below & marked it in the same Document itself and please go to forward.

<img width="960" alt="image" src="https://user-images.githubusercontent.com/113576472/193756341-15f4dbb1-2a20-4068-b6f5-dafdf42a616b.png">

[2022-10-04 07:12] rathinaman commented on #83934
Please refer to the [link](https://learn.microsoft.com/en-us/azure/network-watcher/network-watcher-packet-capture-overview) for pcapfile.

@v-ksreedevan please close this issue

[2022-10-04 07:13] rathinaman commented on #75159
@Harsha-CS can you please check this?

[2022-10-04 07:14] Naveenommi-MSFT commented on #99383
@leeharper2425
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

@Blackmist
Could you Please review this and update as appropriate.

[2022-10-04 07:14] v-ksreedevan commented on #83934
#please-close

[2022-10-04 07:15] #83934 closed

[2022-10-04 07:24] AllDeesScripts commented on #90594
What was the outcome of this issue please? It was taken offline but no solution was posted back to this thread. I have the same issue:

Trying to block anything excluding Azure AD registered devices and I get this:

![image](https://user-images.githubusercontent.com/101867307/193759249-94f383a9-6c33-412a-8e4a-16c39119f65a.png)

![image](https://user-images.githubusercontent.com/101867307/193759299

[2022-10-04 07:30] durgesh891 commented on #99401
Hi,
I am following this [link](https://learn.microsoft.com/en-us/azure/active-directory/verifiable-credentials/verifiable-credentials-configure-issuer)

[2022-10-04 07:43] BillCarsson opened #99416 "Documentation not up to date"
[Enter feedback here]

The ssh keys section documentation is not up to date (terraform outputs). Also, the script ./post_deployment.sh no longer exists in the git repository.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 367bfb5a-3167-d0cb-ca29-11bae038b54e
* Version Independent ID: 20997f15-c7e1-caa1-a964-d827c7dbfc

[2022-10-04 07:54] sijucm opened #99417 "Not mentioning filter types"
Microsoft makes a categorization on the filter types: sql, boolean, and correlation. But that is not reflected in this examples. I would advise Microsoft to not make these categorizations that looks simple but generates more questions. Or specify the difference in these types with clear examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitH

[2022-10-04 08:18] pbo-top opened #99419 "Claims in Portal vs. API's"
[Enter feedback here]

Hello

Regarding the note about "This feature replaces and supersedes the claims customization offered...". This has been the case for a year (or more).

The fact that claims made through either the Portal or the API's is incompatible with the other makes effords towards automation more or less impossible. One can't see the config in UI, nor tinker with it, if made from the

[2022-10-04 08:19] abarqawi commented on #98763
@AjayBathini-MSFT  @tomvcassidy  please update the docs for ACI custom DNS that the AzureDNS nameserver will be added to resolv.conf automatically even though you dont add it

Also need to understand why its impacting some customers DNS operations and their app ?

[2022-10-04 08:21] SnehaAgrawal-MSFT commented on #98818
@asubmani Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-10-04 08:41] feliasson commented on #93200
@nzthiago I guess you guys are working on fixing this right now?
Because I have been seeing network issues popping up for function apps that are using storage account private-endpoints / pirvate-links to reach their content.
By the looks of it, the function apps stops working if function-app resolves to privatelink for storage-account and the `WEBSITE_CONTENTOVERVNET == 1` configuration is not the

[2022-10-04 08:49] sijucm opened #99420 "Complex and inaccurate descriptions"
`All rules without actions are combined using an OR condition and result in a single message on the subscription even if you have multiple matching rules.`

All rules without actions? Elsewhere it says CorrelationFilters are combined with AND (and no OR). It looks like this does not match the sentence above

Overall the page is too complex to explain the differences. The fact that an action (which

[2022-10-04 08:55] mahaggar opened #99421 "Missing character on both account creation POST requests"
A "," is missing at the end of the "employeeHireDate" line.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 711198d3-8e40-c829-99d8-8a2a6488e448
* Version Independent ID: 15fd5934-6adc-d72e-7e8c-5a0a66bdd045
* Content: [Tutorial: Preparing user accounts for Lifecycle workflows (preview) - Microsoft Entra](https://learn

[2022-10-04 09:40] sijday opened #99422 "Information about real world scenarios"
The scenario here is overly simplistic. TLS encrypted services on port 443 are the baseline standard now and publishing of unencrypted services on port 80 less common.
This documentation needs to include Multiple frontends using port 443 as this will be the situation with traffic inbound to NVAs or other VMs.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsof

[2022-10-04 09:40] MasterKuat opened #99423 "Storage Blob Data Contributor vs Storage Blob Data Owner"
Hello,

In includes/functions-azurewebjobsstorage-permissions.md
Without extension, webstorage with identity require role [Storage Blob Data Owner]  but with extension [Durable Functions](https://github.com/MicrosoftDocs/azure-docs/blame/main/includes/functions-azurewebjobsstorage-permissions.md#L17) required role is [Storage Blob Data Contributor].

Should it be  [Storage Blob Data **Owner**] ins

[2022-10-04 09:41] ManoharLakkoju-MSFT commented on #99370
@sfc-gh-mahmad
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@twimmers
Could you Please review this and update as appropriate.

[2022-10-04 09:49] ManoharLakkoju-MSFT commented on #99385
@PaoloCastAway
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@nickludwig
Could you Please review this and update as appropriate.

[2022-10-04 10:27] ShawnHag opened #99424 "Phisycal location of data centers"
[Enter feedback here]

Hello,,
In this docs, it saids that,
**Physical isolation: Azure strives to ensure a minimum distance of 300 miles (483 kilometers) between datacenters in enabled regions**.

Is 300 miles the minimum distance between data centers from two different regions?
Or is it the distance between datacenters from different availability zones in a same region?

I got mixed up..
Thank y

[2022-10-04 10:36] smsilva opened #99425 "Please update the Azure Active Directory Service Principal ID"
I think you should update the Azure Active Directory Service Principal ID from:

`ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037 Microsoft.Azure.Frontdoor`

to:

`205478c0-bd83-4e1b-a9d6-db63a3e1e1c8 Microsoft.AzureFrontDoor-Cdn`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 105783bc-d51e-c199-7c51-1475bc9fbaa0
* Version Indep

[2022-10-04 10:43] IgnacioAlvarezArenas opened #99426 "Monitoring Health Check: Diagnose and Solve Problems information"
In the documentation is mentioned that the best way to monitor Health Check is using Azure Monitor.

In App Services it seems that the use of Diagnose and Solve Problems  and search for Health Check Feature might provide some extra information such as HTTP Codes being returned by Health Check, latency and others.

Would it be possible to add some extra information there? Thanks in advance!

---
##

[2022-10-04 10:47] jniemer opened #99427 "Adding purview_reader to sysadmin required/ relevant?"
In the first code cell for permission setting the new role _purview_reader_ is added to the _sysadmin_ role. This does not seem to be required for the rest of the process, so is this relevant?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e94efbb9-d1ea-c297-f89d-e076848ee8a1
* Version Independent ID: 20172377-bf9d-a4

[2022-10-04 11:03] sijucm opened #99428 "What does this mean>?"When you use the AMQP protocol, which is the exclusive protocol for the .NET Standard, Java, JavaScript,""
What does Microsoft mean by exclusive protocol? I just cannot guess what Microsoft considers to be exclusive. Does it mean it is not inclusive?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c9b369e0-e366-4f99-2f94-b045437d7ce9
* Version Independent ID: 5a703706-b745-2486-aa2b-3e4bb9051803
* Content: [Azure Service Bu

[2022-10-04 11:10] pkbullock opened #99429 "Missing Add-on F5 Compliance"
The F5 Compliance Add-on is missing from the documentation, this exists in a custom tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD

[2022-10-04 11:17] parveen-kumar-1 opened #99430 "SFTP local-user create with ecdsa key through cdktf, InvalidBase64 value"
When I create a key at the command line and then use the .pub key file contents in the portal or cli command it works fine, but when I fire the same command through the Hashicorp CDK, I get an error (InvalidBase64 value)..

Steps to replicate issue:
ssh-keygen -t ecdsa -b 256

Cloudshell az cli command (works fine)
az storage account local-user create --account-name mystorageacc -g myresourcegroup

[2022-10-04 11:41] GitaraniSharma-MSFT commented on #99425
@smsilva , thank you for your feedback. We'll review this and get back to you shortly!

[2022-10-04 11:56] aaron-baron opened #99431 "Grammar"
"without having to worry managing clusters"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 65331fde-51d0-365e-e182-2c3b01de8f99
* Version Independent ID: 79b4f02b-27a5-019a-1b36-4e80a04f539f
* Content: [Quickstart: Get started analyzing with Spark - Azure Synapse Analytics](https://learn.microsoft.com/en-us/azure/syna

[2022-10-04 11:56] ITSTord opened #99432 "Storage failover fails when blob change feed is enabled under dataprotection."
I can't find this under : [Keep in mind that the following features and services are not supported for account failover:](https://learn.microsoft.com/en-us/azure/storage/common/storage-initiate-account-failover?tabs=azure-portal#prerequisites)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 44ba1fba-bdd0-ab8e-ee99-d5a9

[2022-10-04 12:05] shaktisingh-msft commented on #99431
Hi @aaron-baron ,

Thanks for sharing this observation. We will investigate and get this rectified.

[2022-10-04 12:07] shaktisingh-msft commented on #99431
Hi @saveenr,

Could you please look into this grammar check at link [https://learn.microsoft.com/en-us/azure/synapse-analytics/get-started-analyze-spark](url)

[2022-10-04 12:27] Blackmist commented on #99383
@leeharper2425 and @Naveenommi-MSFT thanks for bringing this to my attention. I've mailed the product group members responsible for maintaining this page, asking that they provide updates to it. Unfortunately, I do not have an ETA on when this will happen.

[2022-10-04 12:32] devndive opened #99433 "ARM resiliency: distributed across regions vs. some services are regional"
The section [Resiliency of Azure Resource Manager](https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/overview#resiliency-of-azure-resource-manager) describes that the REST api is

It is unclear what 'Some services are regional' actually means in terms of resiliency of Azure Resource Manger. Is the service distributed across regions or not?

---
#### Document Details

⚠ *Do

[2022-10-04 12:42] mahaggar commented on #99421
In addition, there is a typo on the POST request of user Megan Prince. In the "mail" section there is "mpricne@<your tenant name here>" instead of "mprince@<your tenant name here>"

[2022-10-04 13:05] AshokPeddakotla-MSFT commented on #99305
@fgheysels  See if you are looking some thing similar : https://devblogs.microsoft.com/iotdev/introducing-visual-studio-tools-for-azure-iot-edge/
@PatAltimore Could you confirm if it is possible to pre-populate custom template?

[2022-10-04 13:10] jotheman0303 opened #99434 ""Certauth endpoint" description"
The article is great for setting CBA up, but I would suggest some additional clarification on the "certauth endpoint" described. It is described that the certauth endpoint should be opened up by a network administrator, it makes sense but I am not sure what you mean by "certauth endpoint", are you talking about the CRL (hosted by the customer)? Or is this a reference to a Microsoft URL that should

[2022-10-04 13:20] jainchirag21064 opened #99435 "Could not load resource 'Azure Managed IntegrationRuntime' while using the Node and NPM version of 10.x and 0.1.6 respectively"
With Node version 10.x and npm package 0.1.6 ADF export using npm dosent work if we are using Azure Managed Integration runtime.

After upgrading the node and npm to latest version it starts working. Seems there are some breaking changes which enforces us to make use of lates version of node and npm

 ERROR === CmdApiApp: Resource 'ManagedIntegrationRuntime' has the following validation error: Cou

[2022-10-04 13:23] AjayKumar-MSFT commented on #99149
Cvaniak, Your feedback has been shared with the content owner for further review, to update the doc as appropriate // @RyanHill-MSFT

[2022-10-04 13:34] AjayKumar-MSFT commented on #99327
We have raised a PR, once it's merged the published changes would be reflected. Thanks!

[2022-10-04 13:34] #99327 closed

[2022-10-04 13:41] cveld opened #99437 "Routing traffic from central firewall"
The documentation states that you will need to add some extra routes onto the databricks' subnet route table so that specific databricks traffic is not routed through the central firewall.

![image](https://user-images.githubusercontent.com/6196260/193834672-6a2a6ee0-4223-4b61-90db-daf7d4467d12.png)

Does this imply that it is impossible to configure this behavior on the central firewall?
Ideally

[2022-10-04 13:45] timwarner-msft commented on #98552
Hi @s4parke. I received the following feedback from the Azure Resource Graph (ARG) engineering team:

To add tenant-level access to the managed service identity (MSI) via role assignment, it’s not achievable through the Role Assignment experience in the Azure portal. The user would have to give access to the top-level management group (which is their tenant) using the Azure CLI or PowerShell.

Reg

[2022-10-04 13:45] timwarner-msft commented on #98552
#please-close

[2022-10-04 13:45] #98552 closed

[2022-10-04 13:51] Nicholak-MS commented on #99429
Hi Paul,

I have added the 4 Product SKU's related to Microsoft 365 F5 Compliance Addon. They will show up in the online table and the downloadable CSV later today with the next publish cycle.

Thanks
Nick

#please-close

[2022-10-04 13:51] #99429 closed

[2022-10-04 13:59] madsd commented on #99348
Admittedly, the wording could be clearer. I'll work on an improvement.

[2022-10-04 14:17] mumurug-MSFT commented on #99417
@sijucm thanks for your feedback. We will review and update as appropriate.

[2022-10-04 14:19] declansto opened #99439 "What to do when your domain hosting provider does not return a Content-Length header for Content-Type application/json"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-10-04 14:21] declansto commented on #99439
The context here is when trying to verify your Publisher domain.

[2022-10-04 14:21] mumurug-MSFT commented on #99423
@MasterKuat Thanks for the feedback. We will review and update as appropriate.

[2022-10-04 14:22] spelluru commented on #99428
I think it should be "default". I will have to check with the product team.

[2022-10-04 14:26] parveen-kumar-1 commented on #99430
Note: base64SshKey variable has the raw value of the pub key generated by the ssh-keygen command..

[2022-10-04 14:27] pasnopik opened #99441 "Automatic VM patching - Azure Migrate VM's"
I am looking for clarification on the Automatic patching capability. We see the disclaimer "VMs created from images with the exact combination of publisher, offer and sku" are supported.

Looking for validation on VM's that are brought into Azure via Azure Migrate process are not supported for Automatic patching.

My customers have asked me to raise this issue and look for an update as to when thi

[2022-10-04 14:41] isdataninja opened #99443 "MCE not defined"
MCE acronym used in the documentation but not defined. Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a31d0e4e-6b37-3add-bad0-ca3d5187bcdd
* Version Independent ID: fc385e01-4e82-8e3a-2f4f-289c34b4a20e
* Content: [Microsoft Purview Data Map supported data sources and file types - Microsoft Purview](htt

[2022-10-04 14:43] isdataninja commented on #99443
@linda33wj fyi

[2022-10-04 14:44] ManoharLakkoju-MSFT commented on #99322
@GauravES
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-10-04 14:44] #99322 closed

[2022-10-04 14:45] KyferEz commented on #99393
From the screenshot, just past where you underlined, note it says "For example if the Azure region is ... IP range list from **DataFactory**.xxx

This is incorrect for DataFlows and does not work. Please test in lab and validate. I have found it's from **AzureCloud**.xxx

[2022-10-04 14:51] eharley94 opened #99444 "Microsoft Azure Active Directory single sign-on - Support for Jira 9"
Hi,

Please can you provide details of when "Microsoft Azure Active Directory single sign-on for Jira" add-on will support Jira 9? Currently we are stuck at 8.22.6, as the plugin does not work in Jira 9, see screenshot below:

![image](https://user-images.githubusercontent.com/17951131/193852242-c434a14f-8cb2-4295-a640-2a16d1d6eff0.png)

When you try to configure the add-on, we are presented with

[2022-10-04 15:00] eharley94 commented on #95751
@matthias-bauch-avono-de

I raised the same bug which was closed (https://github.com/MicrosoftDocs/azure-docs/issues/88033)

We managed to work around this, by adding a rule to the application load balancer to redirect any request that had a context path of /jira/https://<jira-url>* back to the Jira home page.

I see your not using a context path, but if you can update the Jira base URL to have a

[2022-10-04 15:07] parveen-kumar-1 opened #99445 "SFTP local-user create Azure ssh-rsa algorithm keys no longer work, gives password prompt"
When the ssh-rsa keys (manually generated or Azure generated) are used for SFTP user SSH Key credentials, the az cli command no longer recognises the ssh key (error = no mutual signature algorithm).

Command used for key generation:
ssh-keygen -t rsa -b 2048 (irrespective of key size 2048, 4096)

Command used for sftp connection:
 sftp -o LogLevel=DEBUG3 mystorageacc.mycontainername.sftpusername@m

[2022-10-04 15:09] AaronMaxwell commented on #99365
Thanks for your dedication to our documentation. A large number of URL's are already present in this documentation and it's unclear what Azure dashboard, Azure subservice, firewall product, etc. this GitHub issue is referring to.

Although this question is beyond the scope of our feedback channel here on GitHub, which covers specific documentation fixes rather than technical support, we can help r

[2022-10-04 15:09] #99365 closed

[2022-10-04 15:13] spelluru commented on #99052
Please see the response in the linked SDK repo issue. Thanks.

#please-close

[2022-10-04 15:14] #95998 closed

[2022-10-04 15:16] ManoharLakkoju-MSFT commented on #99416
@BillCarsson
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 15:17] ManoharLakkoju-MSFT commented on #99419
@pbo-top
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 15:18] ManoharLakkoju-MSFT commented on #99421
@mahaggar
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 15:21] ManoharLakkoju-MSFT commented on #99424
@ShawnHag
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 15:24] ManoharLakkoju-MSFT commented on #99426
@IgnacioAlvarezArenas
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 15:27] ManoharLakkoju-MSFT commented on #99427
@jniemer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 15:28] ghost opened #99447 "Sign On URL"
In the Azure SAML setup, I think the Sign On URL should match the Reply URL.  It may also help to include the claim add for the ExternalID that Axon uses and noting they should match, as their IAM guide indicates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c99376dd-7fe2-a35b-60f7-50ce32e30cc9
* Version Independent

[2022-10-04 15:28] ManoharLakkoju-MSFT commented on #99430
@parveen-kumar-1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 15:36] ManoharLakkoju-MSFT commented on #99437
@cveld
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 15:38] ManoharLakkoju-MSFT commented on #99439
@declansto
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-04 15:40] tfitzmac commented on #99433
@devndive - the Resource Manager control plane is distributed across regions but the service that gets the request from Resource Manager may only be supported in a small number of regions. I'll try to clarify that text.

[2022-10-04 15:40] ManoharLakkoju-MSFT commented on #99441
@pasnopik
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 15:42] ManoharLakkoju-MSFT commented on #99443
@isdataninja
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 15:43] ManoharLakkoju-MSFT commented on #99444
@eharley94
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 15:44] ManoharLakkoju-MSFT commented on #99445
@parveen-kumar-1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 15:46] ManoharLakkoju-MSFT commented on #99447
@HoppyCode
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-04 15:47] mahmed5896 opened #99448 "[iOS] Bitcode error in architecture arm64"
I am able to build the code with bitcode when debugging in simulator. However if I archive the project to upload new package to the App Store or debug in device, then this error occurs:

'.../XCFrameworkIntermediates/Trouter/Trouter.framework/Trouter' does not contain bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or dis

[2022-10-04 15:55] thomassligon opened #99449 "linguistic notes"
[Enter feedback here]
Here are some linguistic notes on the web page
https://learn.microsoft.com/en-us/azure/azure-functions/python-scale-performance-reference
I hope you will find them useful
Thomas Ligon ([tom@thomassligon.info](mailto:tom@thomassligon.info))

”in an ThreadPoolExecutor” should be ”in a ThreadPoolExecutor” (occurs twice)

“default synchronous function are handled” should be “defa

[2022-10-04 16:04] mjsvr4 opened #99450 "Error 404 on linked page"
The link entitled "[Fix modified default rules in Azure AD Connect](https://learn.microsoft.com/en-us/active-directory/hybrid/how-to-connect-sync-best-practices-changing-default-configuration)" throws a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cf9169c8-ec81-9342-c93e-963647d70c6c
* Version Independent

[2022-10-04 16:07] mike-urnun-msft commented on #99449
Thank you for your feedback! We will review and update as appropriate.

[2022-10-04 16:09] jhirono commented on #97590
@RohitMungi-MSFT no reply from Lucian, so please close this issue. thanks.

[2022-10-04 16:10] raidbighead opened #99451 "User Administrator Role V Global Admin Role"
User Administrator Role V Global Admin Role
In this Document under Prerequisites we indicate you need to be global administrator on the tenant

Then later on in the document we say the following
Enable a staged rollout of a specific feature on your tenant
To configure Staged Rollout, follow these steps:
Sign in to the [Azure portal](https://portal.azure.com/) in the User Administrator role for the

[2022-10-04 16:11] aio-crypto opened #99452 "Introduction to community"
Pleased to join Visual Studios to improve personal baking system.
Inclusive development for Panama Operating Systems.

[2022-10-04 16:21] #97590 closed

[2022-10-04 16:26] AaronMaxwell commented on #98925
Thanks for your dedication to our documentation. Azure AD authentication for Application Insights may support Azure Functions in a future release. We will move the "Unsupported scenarios" section to the top of the article for easier discoverability. #please-close

https://learn.microsoft.com/azure/azure-monitor/app/azure-ad-authentication?tabs=net#configuring-and-enabling-azure-ad-based-authentica

[2022-10-04 16:26] #98925 closed

[2022-10-04 16:32] urbantz-technical-support commented on #97918
Any updates?

[2022-10-04 17:27] JananiRamesh-MSFT commented on #99285
This [article](https://learn.microsoft.com/en-us/azure/api-management/api-management-authentication-policies) provides a reference for API Management policies used for authentication with its backends.

By enabling managed identities (user/system assigned) this policy allows APIM to obtain an access token from Azure Active Directory and adds the token in the header with the request sent to the bac

[2022-10-04 17:30] tejaswikolli-web commented on #99127
Sure, I will update you shortly.

[2022-10-04 17:34] johnmarco commented on #99004
@robwood894, thank you for your patience while I investigated this issue. Your original comment about not being able to use the original service principal to disconnect is correct, and it is by design. The original SP only has enough permission to accomplish the onboarding (i.e., the Arc onboarding role), but does not allow for decommissioning for security reasons. So, a different service principa

[2022-10-04 17:34] #99004 closed

[2022-10-04 18:27] irishun opened #99459 "Set up supported authorization types for SQL users"
May we add the link or the paragraphs to describe how to set up supported authorization types (service principal & Managed identity) for SQL users?
![image](https://user-images.githubusercontent.com/47106812/193897027-3c879c25-4035-42fd-8c20-351638a94e31.png)

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-10-04 18:29] #99086 closed

[2022-10-04 18:46] Grace-MacJones-MSFT commented on #98782
Upon further review we feel your feedback would be best received by the doc author to review & update the doc based on your feedback. cc: @ggailey777

[2022-10-04 19:00] markjbrown commented on #99350
The passage is correct in the article.

Data should always be modeled together when the access pattern to the data is the same.

Embedded data that changes frequently and especially at asymmetric rates to its parent should be referenced rather than embedded. The reason is that the cost to update documents grows at a larger rate than the size of the document itself. Cost of frequent updates to smal

[2022-10-04 19:02] zaalion commented on #99350
Thanks a lot for clarifying.

Best!

On Tue, Oct 4, 2022 at 3:01 PM Mark Brown ***@***.***> wrote:

--
Reza Salehi
https://www.linkedin.com/in/rezasalehi2008

[2022-10-04 19:05] lbergeron01 opened #99462 "Issue - Proxy configuration settings update needed"
[Enter feedback here]

The proxy configuration settings as is does not work. The ``true`` value in the auth section need to be quoted. It should be ``auth = "true"`` or ``auth = "false"``.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 14a66a45-7f5b-b9c4-c675-bd2cc963b44d
* Version Independent ID: 253cc884-5a70-c313-6

[2022-10-04 19:20] bwren commented on #99228
Thanks, that's a good point. We're actually about to retire this article since the old solution was retired a couple of years ago. Easy enough to move those variables to parameters in the meantime though.

#please-close

[2022-10-04 19:20] #99228 closed

[2022-10-04 19:27] kutscherma opened #99463 "Lack of information centrally managed DDoS Plans"
More information regarding a centrally managed DDoS plan (located in the hub sub) for a hub & spoke architecture.

- Do I need a central LA workspace for store the logs for IPs in the spoke subs? --> No, every spoke subscription can send logs to their own LA workspace, Storage Account etc.

- What kind of permission do I need to set? "DDoS Joiner" for the spoke sub owner for hub sub. And to see wh

[2022-10-04 19:35] rolyon commented on #99342
Hi,
Monitored Object Contributor isn't a built-in role in Azure RBAC.

Hi @shayoniseth
Is Monitored Object Contributor a custom role that the user must create or another type of role?
thanks

[2022-10-04 19:36] rolyon commented on #99342
#reassign:shayoniseth

[2022-10-04 19:47] bwren commented on #99221
The Data Collector API has actually been replaced with the [Logs ingestion API](https://learn.microsoft.com/azure/azure-monitor/logs/logs-ingestion-api-overview). I'll go ahead and add a note though about utf-8 in the content-type header.

#please-close

[2022-10-04 19:48] #99221 closed

[2022-10-04 19:57] bwren commented on #99090
Thanks. Will fix.

#sign-off

[2022-10-04 19:57] #99090 closed

[2022-10-04 20:30] johnem-msft commented on #99193
Update:
I went through this article again today and was successful - the main change was replacing all sed seperators with % (instead of /)
I also needed to run cleanup on file helloImageTemplateWin.json (rm helloImageTemplateWin.json) before downloading it again and running sed commands on it again (also replaced separators here although possibly not needed)

It was also helpful to check role def

[2022-10-04 20:50] baanders commented on #98989
#reassign:baanders

[2022-10-04 20:58] baanders commented on #98989
Hi @graafderk, thank you for bringing this to our attention! Our expert on this subject confirmed that the route should be added.

I'm updating the document with this change (along with a few other clarity updates) in this pull request: https://github.com/MicrosoftDocs/azure-docs-pr/pull/213648. Since this PR implements your suggestion, I'm going to have GitHub automatically close this issue when

[2022-10-04 20:58] AjayKumar-MSFT commented on #99241
@enterpriseSoftware, Apologies for the delay! Following the doc steps, I was unable to repro this. could you please let us know at what specific section/step you're facing this error? and are you leveraging your existing Static WebApp or using the sample template linked?

[2022-10-04 21:02] AjayKumar-MSFT commented on #99194
danialtham, After the initial review, your feedback has been shared with the content owner for further review and update the document as appropriate.

[2022-10-04 21:07] fgheysels commented on #99305
@AshokPeddakotla-MSFT , thanks for your reply.   I don't see any pointers in the article you've posted that are relevant for creating custom templates for adding a new IoT Edge module project inside an IoT Edge solution.

[2022-10-04 21:16] mumurug-MSFT commented on #99397
@bon-heur We have a size limit of 3MB when uploading file in the developer portal via console (refer [line](https://github.com/Azure/api-management-developer-portal/blob/e2f064149e3b67316cee7d59b77cdd35690006eb/src/models/console/consoleRequest.ts#L27)).

However, we don't have specific limit when uploading the files in media, or other settings for customization.

I hope this answers your question

[2022-10-04 21:16] #99397 closed

[2022-10-04 21:20] greg-lindsay commented on #98899
@Thorfinn60 I figured out why the script wasn't finding my zone. Although it doesn't expressly state it, this script is only for public zones and will not work on private zones.  I have edited the script and also added notes that this is for public zones.  If a similar script is needed for private zones the script will have to be rewritten more extensively to take input about whether this is a pub

[2022-10-04 21:20] greg-lindsay commented on #98899
#please-close

[2022-10-04 21:20] #98899 closed

[2022-10-04 21:36] spelluru commented on #99428
I changed it to say "default". I am also looking at this [ServiceBusTransportType enum](https://learn.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.servicebustransporttype?view=azure-dotnet] and I see we support AMQP over TCP (OR0 AMQP over WebSockets. I guess when it says "exclusive", it means that that's the only protocol supported by the clients. I will check with the SDK dev too. E