[2020-09-01 13:46] vlado101 commented on #60637
Hello @linda33wj and @HarithaMaddi-MSFT,

Wanted to follow up on my question.

Thank you

[2020-09-01 13:48] vlado101 commented on #61109
Hello @himanshusinha-msft ,

Just wanted to follow up if there has been any update to this.

Thank you

[2020-09-01 13:58] vhorne commented on #55962
#reassign:surajmb

[2020-09-01 13:58] HARAVIS commented on #61834
@AnuragSharma-MSFT  Thanks for the quick response.

[2020-09-01 14:02] pvmraghunandan opened #61862 "SSL hostname verification failed error when trying to use Private Link URL"
We are using Azure Maria DB with **_Azure Private Link_**. When tried to invoke with private link URL, we are getting below error.

`Caused by: java.sql.SQLNonTransientConnectionException: SSL hostname verification failed :
DNS host "test12345.privatelink.mariadb.database.azure.com" doesn't correspond to certificate CN "cr7.eastus2-a.control.database.windows.net"
and SAN[{DNS:"cr7.eastus2-a.contro

[2020-09-01 14:14] MonikaReddy-MSFT commented on #61808
@damienbod -
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-01 14:19] AnuragSharma-MSFT commented on #61862
@pvmraghunandan  Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-01 14:24] KrishnaG-MSFT commented on #61164
@zaisadmin Update: I believe currently we cannot support EUS2 workspace mapping. It's because of the current mapping that we have i.e., Azure Automation in East US2 is mapped to Log Analytics in East US. So, for workspace in East US2, Azure Automation needs to be in East US2 which is not possible since only one mapping can exists. We are currently planning to support the current one. So I recommen

[2020-09-01 14:27] LuisCabrer commented on #61853
@Farhad-Heybati , could you please post the exact request you created that gave you this result?
Is it a PUT/GET or POST request?

Thanks!
-Luis Cabrera
Program Manager
Azure Cognitive Search

[2020-09-01 14:28] GeertDepickere opened #61864 "BLOB function trigger default level of parallelism 24 or 16?"
The document refers to

but then states that

However, in the referred document at [https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-output?tabs=csharp#hostjson-settings] a default of 16 is mentioned.
Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ecb1e79-f6

[2020-09-01 14:34] KrishnaG-MSFT commented on #61164
As mentioned in my above comment, I have added the note in the referred Azure documentation.

At this point it appears that there's no more edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2020-09-01 14:34] #61164 closed

[2020-09-01 14:56] #61838 closed

[2020-09-01 14:56] tfitzmac commented on #61838
@HughDevlin - thanks for this feedback. I have updated the article with that info. It will get published later today.

[2020-09-01 15:01] carlova opened #61867 "Tenants created after June may not have B2B functionality"
Section: Limitations with B2B Collaboration in supported Azure US Government tenants
"B2B Collaboration is available in Azure US Government tenants created after June, 2019."

Although less common, there is a scenario in which a tenant created after June 2019 may not have B2B functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-09-01 15:11] patpicos opened #61869 "Enabling Change Analysis at Scale"
It would be good to have an Azure Policy to enable change analysis at scale. Running a script on each subscription manually is a tactical solution, not at scale.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7303812-25be-548c-4f02-1ccd98f122e0
* Version Independent ID: 03d6952c-dda5-449f-b8a6-f342dbc876cf
* Content:

[2020-09-01 15:19] jose-lima2011 opened #61870 "A security contact phone number should be provided for your subscription"
[Enter feedback here]
The security center generated a compliance alert to register the contact phone, but I noticed that this field was removed from the notification option, but it still appears in the az security contact list command, the question is: is there a field for registration or is it false positive at the security center? shouldn't it be removed?

---
#### Document Details

⚠ *Do not ed

[2020-09-01 15:23] leifbro commented on #61231
@pnarsi We have passed this question along to Databricks engineering for review. We'll update this issue when we've heard back.

[2020-09-01 15:23] SatishBoddu-MSFT commented on #61638
Hello @VWilcox2000 Just checking back, could you please let us know if you need further help in this matter.

[2020-09-01 15:29] michevnew opened #61871 "Dynamic groups"
Can you please update the article to explicitly state whether Dynamic membership is allowed/possible with isAssignableToRole.

Here's a copy/paste from the Graph documentation: https://docs.microsoft.com/en-us/graph/api/group-post-groups?view=graph-rest-beta&tabs=http
Note: The visibility and groupTypes properties are not required for creation, but are auto-populated with these values. A group wit

[2020-09-01 15:38] pmatthews05 commented on #61122
I too am encountering this issue, I have deployed my PolicyDefinitions at the ManagementGroup level, when it comes to reference the Policy Definitions in a policySetDefinitions using [resourceId('Microsoft.Authorization/policyDefinitions', '3aefcff0-e1b7-4fa0-897f-b1d35ca09bb4')], I encounter the error that it cannot find the policy definitions.

Would like to be kept updated too if there is a bug

[2020-09-01 15:39] zr-msft commented on #50100
Thank you @keiransteele for the feedback.

We have an item in our backlog and will prioritize accordingly.

#please-close

[2020-09-01 15:39] #50100 closed

[2020-09-01 15:48] MashaMSFT commented on #56953
Hi @lonevvolf , thanks once more for contacting Microsoft! Since your question was addressed, I'm going to proceed with closing out this Git Issue. But please feel free to comment should you need anything further :)

Thanks once more and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2020-09-01 15:48] #56953 closed

[2020-09-01 15:49] damienbod commented on #61808
Hi @MonikaReddy-MSFT It's not documentated, but if it was, it would be here

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth#access-client-certificate

Greetings Damien

[2020-09-01 15:56] JamesTran-MSFT commented on #61871
@michevnew
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-01 16:02] shraboin commented on #60408
Any updates on this?

[2020-09-01 16:03] shraboin opened #61874 "ADLSg2 Known Issues Imcomplete"
This page in question:
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues

Doesn't mention that ADLSg2 doesn't support account fail over: https://docs.microsoft.com/en-us/azure/storage/common/storage-disaster-recovery-guidance#unsupported-features-and-services

We should really consolidate all this information on one page (which seems the point of this page) oppose

[2020-09-01 16:11] fowl2 opened #61875 "ARM template resource functions incomplete list of list* functions"
For example `listKeys` is supported on Log Analytics workspaces (`Microsoft.OperationalInsights/workspaces/`), but it is not listed here.

More generally it would be great if these could be listed on the relevant resource page instead here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0551fca9-d710-15d1-9141-baf2121a

[2020-09-01 16:13] normesta commented on #61874
Thank you for the feedback @shraboin. We have all blob feature support levels for Azure Data Lake Storage Gen2 captured in this article - [Blob storage features available in Azure Data Lake Storage Gen2](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-supported-blob-storage-features). There is a link to this article at the top of the Known issues. The focus of the Known Issu

[2020-09-01 16:15] PingPongSet commented on #61766
Hi @PatAltimore

Thank you for your reply. However, I cannot see the answers to all my three questions on the OP, espcially questions 2 and 3.

[2020-09-01 16:30] shraboin commented on #61874
Thanks @normesta consider this closed.

[2020-09-01 16:30] #61874 closed

[2020-09-01 16:33] RonnieQuan opened #61877 "NSG Rules for Data Bricks Private and Public Subnets"
Can you please confirm if Microsoft recommend same NSG rules for both subnets?

Looks like for UDR, it's documented to configure same rules for both subnet UDR.
https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/udr

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-09-01 16:46] santoz12 opened #61878 "PIM - Bulk Add Eligible Members"
## It's possible to manage eligible users in bulk?

Hi!
This issue is about Privileged Identity Management (PIM) in Azure

If an employee joins the company and we want to make him eligible to all roles, we’ll need to go into each role, one by one and configure, for Azure AD. This takes too long and is not practical..

For Azure Resources (Subscription), i know that is possible to manage with group

[2020-09-01 16:52] #61656 closed

[2020-09-01 16:58] Mike-Ubezzi-MSFT commented on #61571
@redtaped Apologies for the delay in getting back to you on this topic. I am working with the product group and content team to identify an appropriate update to the doc as well as response to your question.

[2020-09-01 17:04] KranthiPakala-MSFT commented on #61877
@RonnieQuan
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-09-01 17:05] SaurabhSharma-MSFT commented on #61870
@jose-lima2011 Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-01 17:10] kobulloc-MSFT commented on #61729
@ebwinters This should be resolved by 61796.  I'm going to close this as resolved but if there are any issues, just tag me in the reply and I'll reopen this to make sure that we resolve the syntax issue.

[2020-09-01 17:10] #61729 closed

[2020-09-01 17:26] diablodale opened #61880 "Body tracking instructions are missing CUDA file needs"
I can find no where in the documentation (like this page) which lists the CUDA file requirements for Body Tracking to run in either CPU or GPU mode.

There is a bug which is not yet resolved https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1154 which suggests there is a requirement for 3 nvidia provided files. Or one. It is not clear. Customers write three files are needed, yet @qm13 wr

[2020-09-01 17:35] BharathNimmala-MSFT commented on #61869
@patpicos Thanks a lot for your valuable feedback, our team will look into it and get back to you at the earliest.

[2020-09-01 17:39] WinstonHoward-MSFT commented on #61813
Hey @mmastersvz so if the upgrade process has an error or failure the next step would be to look [here](https://docs.microsoft.com/en-us/azure/aks/troubleshooting) for common failure issues.

[2020-09-01 17:41] BharathNimmala-MSFT commented on #61867
@carlova Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-09-01 17:43] TravisCragg-MSFT commented on #61497
@sopelt We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-01 17:44] TravisCragg-MSFT commented on #61425
@hugohhk We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-01 17:44] #61425 closed

[2020-09-01 17:52] tobiasgrossmann opened #61881 "Missing a Screenshot of where to find the API Connectors"
[Enter feedback here]
Missing a Screenshot of where to find the API Connectors. It just says add one. But where is the menu entry?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d77e3d80-069d-25a3-439f-f8cce48cccab
* Version Independent ID: b3f802de-92d5-a29f-6479-79e2f4e736af
* Content: [About API connectors in self-s

[2020-09-01 17:54] BharathNimmala-MSFT commented on #61875
@fowl2  Thanks a lot for your feedback, we will look into it and get back to you at the earliest.

[2020-09-01 17:54] jeevansd commented on #59932
@v-hagamp Can you please review this and work with Mansi and Rakesh to get this updated.

[2020-09-01 18:08] limingr commented on #61822
Looks  accessible

Thanks

[cid:474be6db-198f-4ef2-9fa9-e9726de405ae]

Thanks,

Liming

________________________________
From: PreetiManhas-MSFT <notifications@github.com>
Sent: Monday, August 31, 2020 10:18 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: limingr <limingrms@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] cannot "open a w

[2020-09-01 18:09] limingr commented on #61822
![image](https://user-images.githubusercontent.com/46661232/91889970-92517f80-ec43-11ea-83c5-5062f6ea2729.png)

[2020-09-01 18:12] MarileeTurscak-MSFT commented on #61860
@AndyBunning
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-01 18:14] SubhashVasarapu-MSFT commented on #61512
@whaakman, Appreciate your patience. Yes, Azure DNS can be used to create an alias record for zone apex here is the [link](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-how-to-onboard-apex-domain#create-an-alias-record-for-zone-apex) for more info.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the dis

[2020-09-01 18:14] #61512 closed

[2020-09-01 18:27] SubhashVasarapu-MSFT commented on #61522
@artisticcheese, Appreciate your patience. There might be some issue with the Sectigo (Comodo) CA supportability for now in front door. We have assigned this issue to the respective product owner for further assistance on this issue.

[2020-09-01 18:31] JasonRitchie opened #61883 "Documentation shows support for Gory content detection, but this doesn't happen"
The linked page describes the output from the Adult content tagging as also including isGory and a gory confidence score. This feature does not exist as far as I can find in testing or in the API documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124a8fbf-1268-1862-f693-904d174f2472
* Version Independent ID:

[2020-09-01 18:32] SubhashVasarapu-MSFT commented on #61541
@RogerBestMsft, Appreciate your patience. Thanks for your feedback. We have assigned this Issue to the respective content owner for updating the document if required.

[2020-09-01 18:34] himanshusinha-msft commented on #61857
@wbplomp .Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-01 18:36] himanshusinha-msft commented on #61858
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-01 18:37] himanshusinha-msft commented on #61864
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-09-01 18:40] atambawala commented on #29195
@DMoonesinghe , thanks for the feedback. I have incorporated it for the next revision of the doc.

[2020-09-01 18:41] himanshusinha-msft commented on #61878
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Q & A and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2020-09-01 18:45] himanshusinha-msft commented on #61881
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-01 18:48] himanshusinha-msft commented on #61880
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-01 18:48] souravmishra-msft commented on #61459
@swiftPeter, You would need to install the **Microsoft AD Connect Provisioning Agent Package** for the following service principal "**Active Directory to Azure Active Directory Provisioning**" to get created in AAD.
You can find the details on the installation steps here: https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/how-to-install

Hope this helps. Do let us know if a

[2020-09-01 18:50] souravmishra-msft commented on #61550
@AmitavaHazra, Just wanted to check if there are any more queries around this, then do let us know so that we can help further. If no more queries, do update us so that we can close this thread.

[2020-09-01 18:50] j-martens commented on #60641
Thank you! We will now proceed to #please-close this issue.

[2020-09-01 18:50] #60641 closed

[2020-09-01 18:51] MonikaReddy-MSFT commented on #61811
@banne01 -
Since we have not heard back from you we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-09-01 18:51] #61811 closed

[2020-09-01 18:52] MonikaReddy-MSFT commented on #61818
@edburns -
Thanks again for bringing this to our attention. The doc is now approved and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-01 18:52] #61818 closed

[2020-09-01 18:56] marceloazuma opened #61886 "Microsoft.Compute and Microsoft.Storage resource providers"
Following the tutorial I had to register Microsoft.Compute and Microsoft.Storage as resource providers.

I used the following commands:

`az provider register -n Microsoft.Compute --wait`

`az provider register -n Microsoft.Storage --wait`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-1970-235c-228a-7b1988017

[2020-09-01 18:59] nibaccam commented on #61741
Hi @Cook-code could you please provide more detail on what you are trying to accomplish? Want to understand where we can provide more clarity.

[2020-09-01 19:04] allegradomel commented on #29195
Thanks @atambawala! I am closing this issue now since the change has been made #please-close

[2020-09-01 19:04] #29195 closed

[2020-09-01 19:05] zr-msft commented on #56057
Thank you @hatasaki for the feedback.

We have an item in our backlog and will prioritize accordingly.

#please-close

[2020-09-01 19:05] MartinJaffer-MSFT commented on #61807
@DrYSG Thank you for pointing this out to me.  I am conferring with the Doc team.

[2020-09-01 19:05] #56057 closed

[2020-09-01 19:09] L1SABEE opened #61887 "TlRMTVNTUAAB base64 decoded = NTLMSSP"
[I am curious on the string "TlRMTVNTUAAB" -- why wouldn't it just be "TlRMTVNTUA" (less the last 2 characters "AB")? TlRMTVNTUA by itself = NTLMSSP]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5fb3d3b-c054-ef96-30e1-5c026cc3d59b
* Version Independent ID: 087c7ee0-46e8-a364-e5b3-d2312f5567aa
* Content: [Troubleshoo

[2020-09-01 19:16] GiftA-MSFT commented on #61751
@ernestodeltoro thanks for your feedback, the document will be updated accordingly soon.

[2020-09-01 19:23] tamram commented on #57574
@the-grayest - Since we haven't heard back from you, we'll proceed to close this thread. Please let us know if you have further questions.

#please-close

[2020-09-01 19:23] #57574 closed

[2020-09-01 19:27] tamram commented on #58096
This feature has now been released (as of 7/9/20) and is available in the portal.

#please-close

[2020-09-01 19:27] #58096 closed

[2020-09-01 19:27] #61751 closed

[2020-09-01 19:50] andreasbotsikas opened #61891 "Document that the IMDS service becomes available after the ACI has started"
The managed identity endpoint takes some time to initialize and ACI doesn’t wait for it to finish before starting the container. “Initializing” and “disabled” look the same to the [python client](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/identity/azure-identity/azure/identity/_credentials/managed_identity.py#L175), so when the endpoint appears disabled the ImdsCredential class

[2020-09-01 19:52] delepster commented on #37280
Can you confirm incremental/dynamic admin consent only works for delegated permissions? I am trying to get an application permission granted (yes by an admin) and it does not work:

There error URL fragment is:

[code]

[2020-09-01 19:54] j-martens commented on #58898
#assign:blackmist

[2020-09-01 19:54] j-martens commented on #61469
#assign:blackmist

[2020-09-01 19:54] j-martens commented on #61325
#assign:blackmist

[2020-09-01 19:59] #52006 closed

[2020-09-01 20:02] diberry commented on #60666
After a review with the service team, this item will move to backlog as part of a larger effort for this semester's plan. #please-close

[2020-09-01 20:02] #60666 closed

[2020-09-01 20:04] sopelt commented on #61497
Hey @TravisCragg-MSFT ! Sorry for not getting back to you immediately.
The issue is that when looking at the tutorials and what one can do in the portal it comes down to:

- define/design a frontdoor (frontend, backend, routing rule) => save (no way to do rules engine stuff here) *FD*
- create a rules engine *RE*
- assign the rules engine to a routing rule *FD* => *RE*

The issue is that the rules

[2020-09-01 20:12] lgmorand opened #61892 "Question: Documentation unclear about system MI vs user MI"
" custom control plane identity enables access to be granted to the existing identity prior to cluster creation. T**his enables scenarios such as using an custom VNET or outboundType of UDR with a managed identity**."

It does imply that these scenarios are impossible with a system-assigned MI. is it correct ? What is the difference between user MI and system MI in terms of scenarios or limitation

[2020-09-01 20:45] julieMSFT commented on #55168
@lukerosser Hi Luke, sorry for the delay I am still looking into this.

[2020-09-01 20:46] zoombach opened #61894 "Sample App Does Not working as described"
The code on git hub has changed to use some things api and does not work as shown in this document.  Hacked to get running but the UI does appear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d2f68c0-eec7-42c4-705c-e773f0151fb3
* Version Independent ID: 488c1187-8848-6df9-5509-4231f1c0ac9a
* Content: [Send telemetry

[2020-09-01 20:47] bartex commented on #54032
Hi,
I just wonder if this has been tested lately? I'm facing the same error as well.
Thanks!

[2020-09-01 20:50] Mike-Ubezzi-MSFT commented on #61571
@MashaMSFT This is pending the outstanding question to PG and Content aliases with regard to an enhancement to this document.

[2020-09-01 20:54] #60939 closed

[2020-09-01 20:55] Mike-Ubezzi-MSFT commented on #61631
@danvalero Did you have any additional questions or require further assistance with this issue? If so, please continue the dialog and I can assist but as for the status of the issue itself, I am going to close this.

[2020-09-01 20:55] #61631 closed

[2020-09-01 21:00] Mike-Ubezzi-MSFT commented on #61689
@arunkumarthiags Can you please review the code example(s) referenced in this document and ensure they are as required for the topic and accurate.

[2020-09-01 21:01] tfitzmac commented on #61875
@fowl2 - thanks for this feedback. I have submitted an update to the list functions. It should get published later today.

[2020-09-01 21:01] tfitzmac commented on #61875
#please-close

[2020-09-01 21:01] #61875 closed

[2020-09-01 21:08] TravisCragg-MSFT commented on #61778
@RonnieQuan Yes I can confirm, and this is explicitly stated in the doc by saying that the 'internet' service tag includes the Azure-owned public IP address space.

Are you seeing different behavior?

[2020-09-01 21:08] brucedkyle opened #61895 "What is the recommended solution to management of storage account keys through key vault using ARM template"
What is the recommended solution to setting up management of storage account keys through key vault using ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e90b309-baac-4f6b-c48b-e395f897b870
* Version Independent ID: 375e2262-7ad2-3638-9864-7e2421f51942
* Content: [Azure Key Vault managed storage account -

[2020-09-01 21:11] zr-msft commented on #60998
Thank you @mikkolaakko for the feedback.

The article has been updated to address your feedback and the changes should be available soon.

#please-close

[2020-09-01 21:11] #60998 closed

[2020-09-01 21:11] zr-msft commented on #53610
Thank you @dkypuros for the feedback.

The article has been updated to address your feedback and the changes should be available soon.

#please-close

[2020-09-01 21:11] #53610 closed

[2020-09-01 21:12] zr-msft commented on #56523
Thank you @pradm for the feedback.

The article has been updated to address your feedback and the changes should be available soon.

#please-close

[2020-09-01 21:12] #56523 closed

[2020-09-01 21:22] TravisCragg-MSFT commented on #61802
@asudbring Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-01 21:23] chetansriv commented on #57944
@MicrosoftDocs/azureadappteam - Please review this change

[2020-09-01 21:28] bandersmsft commented on #60690
@bertrandpons Hi there. Currently, our capabilities for partners are in the Cost Management APIs covered in the article. We’re working on updating our PowerShell commands to get up to date with the latest API. We expect more news about the PowerShell update later this year.
#please-close

[2020-09-01 21:28] #60690 closed

[2020-09-01 21:30] TravisCragg-MSFT commented on #61804
@ad-alt Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-01 21:38] PatAltimore commented on #61766
Hi @PingPongSet

## Question 2:

It depends on your scenario. We don't go into a lot of detail so we can talk about each scenario. It looks like the Ethereum connector is being affected currently by this issue: https://github.com/microsoft/vscode-azure-blockchain-ethereum/issues/57. It looks like the *Execute smart contract function* won't work until the issue is fixed.

Here are some quick instru

[2020-09-01 21:43] MartinJaffer-MSFT commented on #61807
@DrYSG I have created a pull request to fix the link.
It should have pointed to https://www.youtube.com/watch?v=VT_2ZV3a7Fc
Thank you for pointing this out to us! :)
Have a good day.

[2020-09-01 21:43] #61807 closed

[2020-09-01 22:02] MarileeTurscak-MSFT commented on #61895
@brucedkyle
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-01 22:04] brucedkyle opened #61897 "Key Vault deploy permission"
Is the Key Vault deploy permission described in the example the  `enabledForDeployment` property that can be set on Key Vault? as shown in https://docs.microsoft.com/en-us/azure/templates/microsoft.keyvault/vaults

I am hoping to clarify that the example show a Key Vault Contributor role that is a built in role, but unless I am missing something, a Key Vault deploy permission is not a role, but wa

[2020-09-01 22:06] aj9411 opened #61898 "resource across tenants clarification"
For this part "First, the security principal’s identity is authenticated, and an OAuth 2.0 token is returned. The resource name to request a token is https://eventhubs.azure.net/. " I suggest adding something that clarifies this resource stays constant across clouds/tenants, as I confirmed when working in an internal MSFT project. That is, to avoid having people ask if it changes across tenants.

[2020-09-01 22:06] MarileeTurscak-MSFT commented on #61887
@L1SABEE
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-01 22:25] jeevansd commented on #57944
@v-hagamp can you please help review this?

[2020-09-01 22:27] robvet commented on #61780
There are several screen shots in this tutorial that do not match the current version of APIM.

For instance, here’s just one issue: Add ‘application/json’ as a representation?? I don’t think so. ‘application/json’ is not included in the Drop-Down list:

[cid:image001.jpg@01D68085.36B97DA0]

Realize that Azure continually changes, but think we need to keep up with those in our documents.

Otherwis

[2020-09-01 22:29] heaths commented on #61622
`VisualStudioCredential` was introduced in Azure.Identity 1.2; however, it's best to recommend `DefaultAzureCredential` which, in 1.2 by default, will try `VisualStudioCredential` and works in both production and development environments without code change.

See <https://docs.microsoft.com/dotnet/api/overview/azure/identity-readme?view=azure-dotnet> for details.

[2020-09-01 22:31] arajpathak7 commented on #57944
@MicrosoftDocs/azureadappteam  - test

[2020-09-01 22:34] Yonet opened #61899 "Clicking on JavaScript on the same page takes you to an unrelated page."
![JSDocs](https://user-images.githubusercontent.com/3523671/91912290-a9a26400-ec67-11ea-8690-a51ef6059a20.png)

Scenario:

I am looking for JavaScript documentation for Cognitive Services on their page and have 2 JavaScript options.
[Link 1](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts-sdk/client-library?pivots=programming-language-javascript)
[Link 2](http

[2020-09-01 22:35] SatishBoddu-MSFT commented on #61719
Hello @anastasia-ms Just checking back, could you please let us know if you need further help in this matter.

[2020-09-01 22:38] anastasia-ms commented on #61719
Hi. I didn’t get to this today. I am meeting with someone next week to work on this issue.

On Sep 1, 2020, at 3:35 PM, SatishBoddu <notifications@github.com> wrote:

﻿

Hello @anastasia-ms<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fanastasia-ms&data=02%7C01%7Cv-stharr%40microsoft.com%7Cb8651b65753f40a5bef508d84ec74d78%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%

[2020-09-01 22:39] JamesTran-MSFT commented on #61897
@brucedkyle
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-01 22:57] david92cr opened #61901 "Bad statement"
In the prerequisites indicates that at least a Premium P1 license is required:

To complete this tutorial, you need the following resources and privileges:

    A working Azure AD tenant with at least an Azure AD Premium P1 or trial license enabled.

--------------------------------------------------------
However, based in the Azure Active Directory pricing page, the Basic plan allows you to enab

[2020-09-01 23:21] SatishBoddu-MSFT commented on #61894
Hello @zoombach Thanks for your feedback.

Could you please be more specific in the description of the issue?
Please specify the exact **document section** or any **error logs** or **Images**? so that we better understand the issue.

[2020-09-01 23:22] richardszalay opened #61902 "Add information on handling replica node transitions and other transient network errors"
From my conversations with support (120082523000038), EndOfStreamException's can occur in the .NET MongoDb library when the primary replica node is being swapped. This information isn't mentioned anywhere in the documentation, so this page would be a good place for it.

It would also be good for this to include:

* A full rundown of various errors per client platform (or at least the major ones)
*

[2020-09-01 23:23] BharathNimmala-MSFT commented on #61544
@whossname Thanks again for reaching out, currently the regional vCPU quotas increase can only be done via portal.

I have reached out to our internal team as well to see if there is any other possible options , will keep you updated if I get further information.

Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving imp

[2020-09-01 23:23] #61544 closed

[2020-09-01 23:58] kazshi opened #61903 "RTO should be used instead of ERT"
The following is copied from the issue #32279 - it applied to this page as well. Please update accordingly.

"ERT (Estimated Time to Recovery) and RTO (Recovery Time Objective) are both used on this page and the difference is not made clear. RTO is defined but ERT is not, and they would seem to be used interchangeably as the table notes RTO in places instead of ERTs:"

---
#### Document Details

⚠

[2020-09-02 00:02] kazshi opened #61904 "RTO should be used instead of ERT"
The following is copied from the issue #32279 - it applied to this page as well. Please update accordingly.

"ERT (Estimated Time to Recovery) and RTO (Recovery Time Objective) are both used on this page and the difference is not made clear. RTO is defined but ERT is not, and they would seem to be used interchangeably as the table notes RTO in places instead of ERTs:"

---
#### Document Details

⚠

[2020-09-02 00:04] KranthiPakala-MSFT commented on #61898
@aj9411
Thanks for the feedback! We have assigned the issue to the content author to review this and update the document as appropriate.

[2020-09-02 00:04] KranthiPakala-MSFT commented on #61898
@spelluru Could you please have a look at this feedback? - Thank you

[2020-09-02 00:15] detienne20 commented on #61122
• This is not a bug with the code, but the documentation may need to be updated for greater clarity. In this case, the custom policy definition that resides under the management group is the extension resource. Microsoft.Authorization/policyDefinitions is recognized as an extension resource in these docs: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/extension-resource-t

[2020-09-02 00:21] Andycharalambous opened #61905 "Missing az aks install-connector instructions?"
I followed these instructions to the letter and was unable to get any pods to actually run - they would be created and remain in the Pending state. I did some further research and found others mentioning that the aci-connector has to be installed in addition to enabling the virtual-node addon. Is this just missing from this page or is this aci-connector not required and my problem is with somethin

[2020-09-02 00:24] Andycharalambous commented on #61905
My apologies - the aci-connector pod is present in my cluster after all, so i think my problem is elsewhere.

[2020-09-02 00:24] #61905 closed

[2020-09-02 00:41] tomtechnologies opened #61906 "Route poisoning"
This page glosses over the deficiencies of the private link service which has fundamental design considerations for anyone considering following the advice of this page. For anyone that cares about the premise of the page (target audience is sophisticated users of Azure with high security requirements) all of the following details will likely apply.

Route poisoning (of the PrivateLink /32 system

[2020-09-02 00:46] paulmasonjuvare opened #61907 "Really bad mistake"
[Enter feedback here]

In this section:

`To unregister your SQL Server VM from the resource provider with Azure CLI, use the **_New-AzSqlVM_**command. This will remove the SQL Server VM resource but will not delete the virtual machine.`

It appears that the command: **_New-AzSqlVM_** should actually be: **_Remove-AzSqlVM_** as shown in the example below that description. It is a pretty huge mess

[2020-09-02 01:07] adiun opened #61908 "Is 'local model' deployment still supported?"
This page says that deploying with a local model, without registering via AzureML, is supported:

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where?tabs=azcli#using-a-local-model

Is this still correct? If I try this approach I get an error with the latest `az ml` CLI and `azureml-sdk`:

I downloaded a model from an AzureML workspace into an `azureml-models` folder. H

[2020-09-02 01:10] NavtejSaini-MSFT commented on #61902
@richardszalay We are checking to enhance this document. We will will look into it.

[2020-09-02 01:10] NicolasCruz1 opened #61909 "Out of date link to azure-sqldb-spark repository on GitHub"
[Enter feedback here]
One of the important links in this documentation need to be updated. In the getting started steps, it links to the azure-sqldb-spark repository on GitHub, **which is not being maintained anymore**. Instead, it **should link to sql-spark-connector**. See links below:

OLD LINK: https://github.com/Azure/azure-sqldb-spark
**NEW LINK: https://github.com/microsoft/sql-spark-connec

[2020-09-02 01:11] NavtejSaini-MSFT commented on #61904
@kazshi We are checking this and will get back to you.

[2020-09-02 01:11] NavtejSaini-MSFT commented on #61903
@kazshi We are checking this and will get back to you.

[2020-09-02 01:23] A30004028 commented on #50470
Is there any update to this issue and AzureADPreview being for PS on Windows only?

Thanks

[2020-09-02 01:27] xyz92 opened #61910 "Code for deleting table"
Could you please include the code for deleting the table DeleteIfExistsAsync( in the doc)?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1295f9-eab5-8918-ab99-3a20b8723805
* Version Independent ID: 0e551ce1-761a-d379-7b6c-4caf49c5bbb2
* Content: [Azure Cosmos DB Table API using .NET Standard SDK](https://docs.microso

[2020-09-02 01:36] JeffSmalley opened #61911 "OAuth 2.0 is not an authentication protocol."
This page has a table. In the section labeled "Data Operations - Authentication Protocol", it states "OAuth 2.0. Calls must contain a valid JWT (JSON Web Token) issued by Azure Active Directory. I was wondering if this seems to mistakenly infer that OAuth is an Authentication protocol rather than just an Authorization protocol. Maybe adding OpenID Connect or other protocols need to generate the va

[2020-09-02 01:39] swiftPeter commented on #61459
Hi,

Thanks for the response. I can find the service principal in the portal but
not named as AcTive Directory for AAD provisioning and cannot use graph
explorer to query, the service principal name is my local AD forest name,
can you please check it again?

On Wed, Sep 2, 2020 at 02:49 souravmishra-msft <notifications@github.com>
wrote:

[2020-09-02 01:58] clcook-tmrqld opened #61912 "Oracle Cloud Infrastructure Group Mapping"
In the "Configure Oracle Cloud Infrastructure" section

Step 4f - "Custom Group" no longer exists as an option - but you just need the Azure AD Group Object ID to be put in the "Identity Provider Group" field, and then mapped to the OCI Group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0424712-7d08-2ab4-b0dd-124360

[2020-09-02 02:02] KumudD commented on #61409
@allegradomel Please review. Thanks!

[2020-09-02 02:07] SingularityPeru opened #61913 "Public load balancer was placed into virtual network. Please move it out."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd59e134-be71-0ac8-bb71-abebb2ef16f5
* Version Independent ID: a99d6a21-1c49-6bfc-9572-f7dfe8be8a4c
* Content: [What is Azure Load Balancer? - Azure Load Balancer](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-overview)
* Content

[2020-09-02 02:09] NickatTheta commented on #61670
To be clear, I am performing these tasks against my Partner tenant?

  1.  I create the Service Principal in my Partner tenant
  2.  Login to my Partner tenant using the Service Principal credentials (Connect-AzAccount -TenantId XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)
  3.  Now, I assign my MPN ID to the Service Principal in my Partner tenant (new-AzManagementPartner -PartnerId XXXXXX)

I then use t

[2020-09-02 02:36] carlosonunez commented on #61122
Thanks for the detailed reply, @detienne20!

I didn’t know about these functions. I’m glad that they exist, as I couldn’t find any examples of them being used in the wild. However, the documentation for [`resourceId`](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/templates/template-functions-resource.md#tenantresourceid) insinuates that `resourceId` should

[2020-09-02 02:59] GitaraniSharma-MSFT commented on #61913
@SingularityPeru , could you please provide some more details on the issue for further review?

[2020-09-02 03:00] SatishBoddu-MSFT commented on #61719
Thank you @anastasia-ms Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-02 03:00] #61719 closed

[2020-09-02 03:20] sicklittlemonkey opened #61916 "Is the cluster configuration documentation correct?"
Our cluster was created by a partner, but I don't see the "Read/Write" or "Edit" options in the following steps:

If this documentation doesn't apply to my situation, it would be nice to have a note as to why - and how to determine that.

Also, in case this is relevant, I tried using "Custom fabric settings" setting to add the option we need ("PruneContainerImages") but it's not in the "Hosting" s

[2020-09-02 03:26] kobulloc-MSFT commented on #61899
@Yonet Thank you for the feedback (and the screenshot)!

This is a design decision made for all of Azure and closely resembles what you'll see in other product pages, like Office.  I'll pass your feedback along but for now it may be valuable to get familiar with the documentation layout as it can take a little getting used to.  Once you know what to look for and where, using the documentation quic

[2020-09-02 03:36] AmitavaHazra commented on #61550
@souravmishra-msft ,

I am not still convinced.

1. I am talking about custom control in conditional access policy. Example: DUO has integration with Azure MFA. similarly I asked for other service provider. I am pretty sure Microsoft is going to introduce more in future. Please enlight on it.

2. what you have explained for second point is correct but I am checking whether we can enable only speci

[2020-09-02 03:51] hyoshioka0128 opened #61917 "Typo "Azure notebook"→"Azure Notebook""
![scikit-learn-model-deployment-on-azure-ml](https://user-images.githubusercontent.com/40815708/91930082-ed09da80-ed1a-11ea-9c84-b4ae79415e9b.png)

https://docs.microsoft.com/en-us/azure/databricks/applications/mlflow/scikit-learn-model-deployment-on-azure-ml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4503d33-cbe7

[2020-09-02 03:52] dhirajgandhi commented on #61670
Hello,

If you follow step (1) , (2) and (3), this works on ARM template. For Marketplace, the MPN ID is taken from Marketplace offer.  You don’t have do anything in the customer tenant.

Thanks,

Dhiraj

From: NickatTheta <notifications@github.com>
Sent: Tuesday, September 1, 2020 7:10 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Dhiraj Gandhi <Dhiraj.Gandhi@microsoft.com>;

[2020-09-02 03:53] hyoshioka0128 opened #61918 "Typo "Azure notebook"→"Azure Notebook""
![model-example](https://user-images.githubusercontent.com/40815708/91930229-3fe39200-ed1b-11ea-98f9-2a7a0504790e.png)

https://docs.microsoft.com/en-us/azure/databricks/applications/mlflow/model-example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53922162-a109-255b-0c00-87cff80db280
* Version Independent ID: ed4b4d

[2020-09-02 03:55] ram-msft commented on #61909
@NicolasCruz1 Thanks for the feedback. We will update you shortly.

[2020-09-02 04:00] ram-msft commented on #61908
@adiun Thanks for the feedback. We are looking into this and will get back to you soon.

[2020-09-02 04:02] ram-msft commented on #61883
@JasonRitchie Thanks for the feedback. We are looking into this and will get back to you soon.

[2020-09-02 04:08] VikasPullagura-MSFT commented on #61891
@andreasbotsikas
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-09-02 04:12] robvet opened #61919 "Not seeing what you're seeing in the Doc. Could we missing a step?"
I see this in the Doc:

**Test the transformations**
At this point if you look at the code in the code editor, your policies look like this:

Copy
<policies>
   <inbound>
     <rate-limit-by-key calls="3" renewal-period="15" counter-key="@(context.Subscription.Id)" />
     <base />
   </inbound>
   <backend>
     <base />
   </backend>
   <outbound>
     <set-header name="X-Powered-By" exists-acti

[2020-09-02 04:13] NavtejSaini-MSFT commented on #61910
@xyz92 We are checking this and will get back to you.

[2020-09-02 04:27] VikasPullagura-MSFT commented on #61886
@marceloazuma
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-09-02 04:36] HarithaMaddi-MSFT commented on #61918
@hyoshioka0128 - Thanks for the feedback. We will look into it and update you shortly.

[2020-09-02 04:37] HarithaMaddi-MSFT commented on #61917
@hyoshioka0128 - Thanks for the feedback. We will look into it and update you shortly.

[2020-09-02 04:38] HarithaMaddi-MSFT commented on #61911
@JeffSmalley  - Thanks for the feedback. We will look into it and update you shortly.

[2020-09-02 04:59] VikasPullagura-MSFT commented on #61916
@sicklittlemonkey
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-09-02 04:59] VikasPullagura-MSFT commented on #61916
@dkkapur
Can you please check and add your comments on this doc update request as applicable.

[2020-09-02 05:16] james-martin-engineer opened #61920 "Incorrect descriptions for Azure Local Gateway field"
In the description for the fields in the local network gateway its described as:
_Address Space refers to the address ranges for the network that this local network represents. You can add multiple address space ranges. Make sure that the ranges you specify here do not overlap with ranges of other networks that you want to connect to. Azure will route the address range that you specify to the on-p

[2020-09-02 05:23] pvrk commented on #61803
@eransamocha : I will present my understanding below. Please correct me if I am wrong.

This doc request stems from the need to get access to the URLs listed . Since they contain geo-name, you need geo-name, is this right?

If yes, if you are using NSG, then you can just use 'Azure backup' service tag to access these URLs. No need to remember these names/URLs.

[2020-09-02 05:31] GitaraniSharma-MSFT commented on #61920
@james-martin-engineer , thank you for your feedback. We'll review this and get back shortly.

[2020-09-02 05:34] GitaraniSharma-MSFT commented on #61744
@mainred , we have received the below update from the Portal team:

_This bug has already been fixed, would be deployed with our next payload._

Hence, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-02 05:34] #61744 closed

[2020-09-02 05:45] VikasPullagura-MSFT commented on #61907
@paulmasonjuvare Thanks for the Feedback. We have updated the document changes will go live soon.

[2020-09-02 05:49] kobulloc-MSFT commented on #61919
@robvet Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-09-02 05:57] VikasPullagura-MSFT commented on #61892
@lgmorand
Thanks for your Question! I have assigned the issue to content author to check and add comments to address your query.

[2020-09-02 05:57] VikasPullagura-MSFT commented on #61892
@TomGeske
Can you please check and add your comments on this as applicable.

[2020-09-02 05:58] dcbrown16 opened #61921 "Schema tab"
I don't have a "Schema" tab in my workspace. Is this the "Tables" tab now?
I think we might need an update to screenshots and guidance about that menu.
![image](https://user-images.githubusercontent.com/34466884/91937353-919e0500-eca6-11ea-9e1a-dbf3457a7d0f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf087884-7

[2020-09-02 05:58] CHEEKATLAPRADEEP-MSFT commented on #61909
@NicolasCruz1 Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/128115](https://github.com/MicrosoftDocs/azure-docs-pr/pull/128115)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions

[2020-09-02 05:58] #61909 closed

[2020-09-02 06:09] SadiqhAhmed-MSFT commented on #61767
@jitendra-25 We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2020-09-02 06:09] #61767 closed

[2020-09-02 06:11] SwathiDhanwada-MSFT commented on #61921
Thanks for the feedback on the document @dcbrown16.

Assigning to content author @bwren to update the document.

[2020-09-02 06:12] PramodValavala-MSFT commented on #61561
@gmassari-88 I can confirm that the `AES256_SHA256` encryption that you are using isn't supported. You will have to use `TripleDES_SHA1` for now.

We have assigned this issue to the content author to update accordingly.

[2020-09-02 06:17] shashishailaj commented on #61901
@david92cr Thank you for your feedback . We will have this reviewed and provide clarification on the same.

[2020-09-02 06:18] jitendra-25 commented on #61767
Hi,

It works from Powershell, but not from Portal.

Thanks,
Jitendra

On Wed 2 Sep, 2020, 11:40 AM SadiqhAhmed-MSFT, <notifications@github.com>
wrote:

[2020-09-02 06:19] shashishailaj commented on #61912
@clcook-tmrqld Thank you for pointing this out . We will engage with the authors and update the thread.

[2020-09-02 06:19] shashishailaj commented on #61912
@jeevansd Could you please help in reviewing this and updating the document as needed ?

[2020-09-02 06:23] AmitavaHazra opened #61922 "Issue with require users to register when signing in during SSPR enabled."
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-sspr

On the Registration page from the menu in the left-hand side, select Yes for Require users to register when signing in.
- With this option is not making any change in user experience.

We have conditional access policy to enable MFA for a application (App1) and SSPR is enabled.

Now end user is

[2020-09-02 06:37] SwathiDhanwada-MSFT commented on #61790
@azdemmo I would to know a little more about your scenario in order to assist accordingly. Please send mail to AzCommunity[at]microsoft[dot]com include your Azure subscription ID, screen shots of the steps taken and a link to this GitHub thread (for context) and we can continue the conversation.

Once we have a resolution, I will post the update to this thread so others in the community can benefi

[2020-09-02 06:38] SadiqhAhmed-MSFT commented on #61767
@jitendra-25 Thanks for getting back on this. I will check in my lab also with the concerned team and post an update by EOD.

[2020-09-02 06:45] grantog opened #61923 "page is out of date"
Tried to follow along, did not match what I was seeing on my end. I think it's out of date

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a2cfbe
* Content: [How to manage app passwords - Azure Active Directory](https://docs.mic

[2020-09-02 06:57] janpieterz opened #61924 "Suggested secure push notifications has tradeoffs that aren't discussed (deliverability)"
Hi, this method seems to be unreliable compared to sending plain-text push messages? I understand it could be a trade-off (losing messages versus security) but the trade-off is not discussed in this article nor others.
There are two items:
- There's a certain number (2-3 an hour) you can send
- There's limitations to deliverability

For reference:

For iOS:

- https://developer.apple.com/documenta

[2020-09-02 07:14] pnarsi opened #61926 "Enable local disk encryption"
A feedback in terms of documentation, it would be great if all of the Databricks security related settings were mentioned in both in the [Databricks Security Baseline](https://docs.microsoft.com/en-us/azure/databricks/scenarios/security-baseline) as well as in the [Security and Privacy ](https://docs.microsoft.com/en-us/azure/databricks/security/) subsection. In particular I am referring to the **

[2020-09-02 07:22] jaffyali commented on #35298
i have implemented your solution and it worked for me, but now whrn i test my ssl it shows "Incorrect order, Contains anchor"

--

[2020-09-02 07:23] SwathiDhanwada-MSFT commented on #61678
@karthiksriramuoa Can you please let me know if you have integrated your application insights with app service or with Azure functions?

[2020-09-02 07:23] kobulloc-MSFT commented on #61919
@robvet Thank you for pointing this out!  The instructions for [Set the transformation policy](https://docs.microsoft.com/en-us/azure/api-management/transform-api#set-the-transformation-policy-1) under "Replace original URLs in the body of the API response with APIM gateway URLs" were updated in June and used to have the following instructions:

If you were to follow the documentation now, you wou

[2020-09-02 07:31] SwathiDhanwada-MSFT commented on #61775
Assigning to content author @mrbullwinkle to review and update the document accordingly.

[2020-09-02 07:45] AndyBunning opened #61928 "Metadata unclear"
The Metadata section correctly lists the options available but it is not clear on the format they need to be presented within the XML file.

If you follow the documentation, you would build something like:
[code]

But the format requires "Item" Elements with a Key Attribute set to one of the values in the table as follows:
[code]

An example of this in the documentation would be really useful.

Th

[2020-09-02 07:50] PingPongSet commented on #61766
Hi @PatAltimore,
Thank you for providing the detailed steps.

However, my question 2 is about the step on section User Actions on the link below:
https://docs.microsoft.com/en-gb/azure/blockchain/service/ethereum-logic-app#use-actions

The answer you provided seems about section "Generate a workflow" below, for which I am able to setup.
https://docs.microsoft.com/en-gb/azure/blockchain/service/eth

[2020-09-02 07:53] SumanthMarigowda-MSFT commented on #61731
@tasharm-0412  Apologies for delay in responding here! This article should help you in this scenario: https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption I'd recommend posting your question in https://docs.microsoft.com/en-us/answers/topics/azure-storage-accounts.html  since it's not directly related to the documentation. We'll follow up there. We will now proceed to c

[2020-09-02 07:53] #61731 closed

[2020-09-02 08:06] oz1212 opened #61929 "What is the best way to access customers Azure services APIs from AWS?"
Hello,

Our company has a SaaS product that needs to call our customers APIs in Azure.
The product runs in Java on AWS.

We have to read events from the customers Event Hub, send files to his Blob Storage, read his databases list, and more. All these operations need to be performed from our AWS account to the customer Azure account. For that, the customer has to grant us the relevant permissions t

[2020-09-02 08:12] RohitMungi-MSFT commented on #61883
@PatrickFarley @tburns10 FYI. It looks like the API response does not have the gory fields. I have used this [image](https://upload.wikimedia.org/wikipedia/commons/e/e9/Felis_silvestris_silvestris_small_gradual_decrease_of_quality.png) for testing with analyze API and visualFeatures set to Adult.

[code]

[2020-09-02 08:17] akingscote opened #61930 "Please provide REST API example"
Can you please provide an example of using the Azure Graph REST Api instead of powershell?
Ideally using the AZ Cli with `az rest`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163a1f88-c268-18aa-a1e6-89b4a11bfb01
* Version Independent ID: 1136a613-48f8-fb67-39d3-d9abdd351a0f
* Content: [Assign a user or group to an e

[2020-09-02 08:19] HarithaMaddi-MSFT commented on #61918
@mssaperla - Can you please take a look and do the needful.

[2020-09-02 08:20] HarithaMaddi-MSFT commented on #61917
@mssaperla - Can you please take a look and do the needful.

[2020-09-02 08:21] RoboJaTu commented on #35298
You're **not** supposed to have the anchor cert in your AppGw. Only intermediate and site cert needed.

Having the anchor there isn't an error. The client is supposed to ignore it. This obviously will vary.

[2020-09-02 08:22] HarithaMaddi-MSFT commented on #61040
@ashwinnatty - As @kromerm confirmed, this is not a limitation in Azure Data Factory. I am proceeding to close the issue, please feel free to comment for any more queries.

[2020-09-02 08:22] #61040 closed

[2020-09-02 08:36] HarithaMaddi-MSFT commented on #61926
@pnarsi - Thanks for sharing your valuable feedback. I am moving it to content owner to look into it.

@mssaperla - Can you please take a look?

[2020-09-02 08:52] RohitMungi-MSFT commented on #61883
@JasonRitchie With the latest version of the API the gory score is returned in the response. Could you please check again with [v3.0](https://eastus.dev.cognitive.microsoft.com/docs/services/computer-vision-v3-ga/operations/56f91f2e778daf14a499f21b/console)?

[code]

[2020-09-02 09:00] joeakim opened #61931 "How long is a stisfied MFA prompt valid?"
Hi,

I successfully implemented Point-to-Site VPN via an Azure Virtual Network Gateway.
Also, MFA is working.
When I disconnect the session and reconnect, I do NOT get prompted for MFA again.
My MFA Service Settings do NOT allow saving the persistent coockie (i.e. don't prompt for the next 14 days or so).
When deleting the saved user account within the VPN Client, the user login and MFA is require

[2020-09-02 09:04] fernandocostas opened #61932 "Pipeline Json description is incomplete"
The article is great! Only one little detail: When you define the PIpeline JSON that conducts both steps: Moving from SQL Server to Azure Blob Storage and then from the Blob Storage to the Azure Database output Table, in the description you make a reference only to the the first step, and not both. Not really a problem, of course, but could be confusing at the first sight for the Azure "newbies",

[2020-09-02 09:07] shashishailaj commented on #61922
@AmitavaHazra Thank you for your feedback . We will investigate and update the thread.

[2020-09-02 09:10] shashishailaj commented on #61928
@AndyBunning Thank you for your query. We will investigate and update the thread.

[2020-09-02 09:12] shashishailaj commented on #61930
@akingscote Thank you for your query. We will investigate and update the thread.

[2020-09-02 09:14] AjayKumar-MSFT commented on #61924
@janpieterz,  Thanks for leveraging Azure docs feedback channel to share your valuable feedback. Your feedback has been shared with the content owner for further review.

[2020-09-02 09:31] aDisplayName opened #61933 "Is there any example showing how to access the secret or certificates saved in key vault using the compound identity?"
Is there any example showing how to access the secret or certificates saved in key vault using the compound identity? .NET code example is really appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45489a90-8ef9-5769-5804-ee0ce5c3875e
* Version Independent ID: ce177d9a-3e98-4762-2f97-0e99de8c30e5
* Content: [Se

[2020-09-02 09:41] akingscote commented on #61930
@shashishailaj
I managed to figure it out, something similar to this would be great on the documentation.
[code]

[2020-09-02 09:42] Yonet commented on #61899
Thank you @kobulloc-MSFT. I'm an msft employee and  very familiar with the structure. We are looking at the reasons why and where new user churn is happening and how we can improve the retention rates. I am working on a end to end scenarios where a user come to the documentation with a goal to do something and how easy it is to accomplish that goal without getting lost in documentation. Although i

[2020-09-02 09:51] haymansfield opened #61934 "Download VPN client does not seem to work with custom IKEv2 crypto profile."
I've followed these instructions when setting up a p2s connection using a custom IKEv2 cryptographic profile.

The Download VPN client functionality does not seem to reflect the custom crypto profile.

If this is the case the documentation should indicate alternative methods. Should I be configuring the client using Powershell, or should I be updating the files downloaded via the Download VPN clie

[2020-09-02 09:54] GitaraniSharma-MSFT commented on #61920
@james-martin-engineer , We have assigned this issue to the respective content author for updating the doc accordingly.

@cherylmc , could you please review the suggestion and update the sentence in sub-step 3 of step 3 (Create the local network gateway) as below:
_Address Space refers to the address ranges for the network that your on-premises network represents._

[2020-09-02 09:59] NickLocke opened #61935 "Maximum TTL"
Hi, it would be good if this page could indicate the maximum allowable value for TTL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fb9ccc0-c5d5-79aa-420d-1add5370b580
* Version Independent ID: ccd307b6-898c-1e21-1201-1257ae3f0979
* Content: [Expire data in Azure Cosmos DB with Time to Live](https://docs.microsoft.co

[2020-09-02 10:00] aKynsella opened #61936 "Racist terminology"
I was appalled at the use of the term whitelist in this document: it is both racist and unnecessary. I'm disappointed in Microsoft, especially as this document was dated June 2020. It is completely insensitive to what's going on in this country.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 179cbeed-d9aa-3b5d-56c9-46e

[2020-09-02 10:02] aelking opened #61937 "Tracking Dependecy and Page Views with Custom Monitoring solution"
The sample code only shows the availability test event, but doesn't go into the detail as running a ping test would.

Is this possible, or is that a feature reserved for the ping tests, as it becomes alot less useful for monitoring real sites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6be60b15-5e41-4a0f-41a2-a592a

[2020-09-02 10:03] Zhong-J opened #61938 "Standard_ND24s GPU memory info is wrong"
[Enter feedback here]

Standard_ND24s GPU memory should be 24G, but show 96G in the doc
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbd3d56a-818d-5870-c718-ea05d5cd0bf8
* Version Independent ID: 3715a9b6-bb56-d192-5a8f-8e451d6c004e
* Content: [ND-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure

[2020-09-02 10:07] AshokPeddakotla-MSFT commented on #61708
@TwoPatient Does that answer your question? Do let us know if you have any other queries.

[2020-09-02 10:08] kwayda commented on #61802
It seems somebody already raised that issue in June 2020. There is a solution to the problem explained there (it worked for me). However the documentation needs to be updated properly.
https://github.com/MicrosoftDocs/azure-docs/issues/57579

[2020-09-02 10:17] simonzhaoms opened #61939 "DeploymentScript log output delays"
I created a Azure Managed App.  In the ARM template of the Azure Managed App, I used DeploymentScript to deploy an Azure Databricks workspace and an associated cluster.  In the shell script, I wrote a few `echo`s to tell me what's going on, for example, the script includes these steps:
1. Configure the Databricks token
1. Create a cluster
1. Upload notebooks into Databricks workspace
1. Wait until

[2020-09-02 10:20] MatthewSteeples opened #61940 "Pages listed twice in the index"
Wasn't sure where to raise this, but this page (and a few others) appear twice in the left-hand contents pane

![image](https://user-images.githubusercontent.com/255971/91969612-4c152280-ed0e-11ea-92aa-72a8c9045d73.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f3c6e4d-ad3c-458e-6770-d5b5d203339a
* Version Indepe

[2020-09-02 10:21] RohitMungi-MSFT commented on #61932
@fernandocostas Could you please provide the link to the documentation you are referring to? This will help you assign the issue to the right team. Thanks!!

[2020-09-02 10:27] fernandocostas commented on #61932
https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/move-sql-azure-adf

(Sorry, I thought the comments were automatically associated to the post being read)

[2020-09-02 10:29] AvinashPamula commented on #40497
not getting it  can anyone help on above issue !

[2020-09-02 10:30] SwathiDhanwada-MSFT commented on #61939
@simonzhaoms Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-02 10:30] SumanthMarigowda-MSFT commented on #61938
@Zhong-J Thanks for your question. We are checking on this and will respond to you soon.

[2020-09-02 10:31] ward0 opened #61941 "Checking file system when booting an Azure VM"
[Followed your steps, no difference what so ever... Whats next to do?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2a174d7-928c-2b7b-3a70-ad39d36d9a68
* Version Independent ID: efdb9d93-dc2c-08fe-33d6-257b2d5a1dd2
* Content: [Checking file system when booting an Azure VM](https://docs.microsoft.com/en-us/azure/virt

[2020-09-02 10:56] devedse commented on #28461
@Mike-Ubezzi-MSFT , it's been a while since anyone reacted to this topic. Do you have an idea what steps I'm missing?

[2020-09-02 11:04] amanmcse commented on #61928
@AndyBunning Thank you for the feedback. I have updated the document with an example for <Metadata> element. The changes might take around 24 hrs to reflect in the document.

[2020-09-02 11:04] assaf-grth opened #61942 "Is "UsedCapacity" metric affected by this change?"
Hi,
I have a powershell script which accesses this metric and would like to know if its impacted as well

`(Get-AzMetric -ResourceId $_.Id -MetricName "UsedCapacity").Data`

Thanks,
Assaf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df25630e-0d5f-aaa3-9630-82f11194ba10
* Version Independent ID: b92ffb87-5ace-e8ea-0c2

[2020-09-02 11:05] VikasPullagura-MSFT commented on #61940
@MatthewSteeples
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-09-02 11:06] VikasPullagura-MSFT commented on #61940
@vikramdesai01
Can you please check and add your comments on this doc update request as applicable.

[2020-09-02 11:12] assaf-grth commented on #61238
Since I cannot share the full details I will try explaining my intention
I enter Application Insights -> Search -> See all data in the last 24 hours
When I select a request item from the list there is a view with request properties to the right
![image](https://user-images.githubusercontent.com/52287325/91974267-34e22f00-ed26-11ea-8f03-5b59eea5f5fa.png)
One of the fields is the request url, but it

[2020-09-02 11:37] HadarTiman opened #61943 "Sql Server Audit details - inconsistency between APIs and java SDK"
Hello,

I have a question regarding the inconsistency of your APIs / java SDK.
I want to get audit configuration details on Sql Server / Sql Database.
After reading your documentation, I found that there are 2 APIs - one is REST API and the second is PowerShell.
In case of using the REST API, there are missing fields of the audit configuration (for example - event hub and storage details) - the ex

[2020-09-02 11:41] ward0 commented on #25165
Any update regadering this one? We are losing hours since we can't click on enter during boot...

[2020-09-02 11:51] hem-sharma commented on #61783
Thanks, @PramodValavala-MSFT for your response. As I can see that there isn't an automated task or API call to import APIs from function app. But this is like a major feature in terms of integration as the same is feasible from the portal. Can you share a link for raising this as a feature request?

[2020-09-02 11:51] #61783 closed

[2020-09-02 12:02] PramodValavala-MSFT commented on #61783
@hem-sharma Sure. You can raise a feature request for it [here](https://aka.ms/apimwish).

[2020-09-02 12:10] jaffyali commented on #35298
i have used .pfx file on appGw . now i am having

Chain issues | Incorrect order, Contains anchor.what is this.

-- | --

[2020-09-02 12:20] #61392 closed

[2020-09-02 12:22] #61928 closed

[2020-09-02 12:32] DougPetrole opened #61944 "Ephemeral OS Disks question"
With no cache disk size/data displayed, can you please confirm whether there is or is not support for ephemeral OS disks? https://docs.microsoft.com/en-us/azure/virtual-machines/ephemeral-os-disks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfc7bf3f-e024-b964-df90-9dc2ada62cd6
* Version Independent ID: bb514729-296e

[2020-09-02 12:47] devedse commented on #28461
Ok I finally managed to get it to work, what I did was the following:

1. I tried removing the NSG as I don't think we need it, however to remove this I first wanted to disassociate the subnet. This gave me the following error:
![image](https://user-images.githubusercontent.com/2350015/91982444-8a203f80-ed2a-11ea-9cfa-d18efa61c287.png)
1. Ignoring this error and continuing; I added a new subnet:
!

[2020-09-02 12:48] tcsougan opened #61945 "Device configuration - Cisco ASA 9.8+"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-devices#configscripts
On this table above, there is configuration for :
Cisco - ASA - ASA RouteBased (IKEv2 - **No BGP**) for ASA 9.8+ which is not correct anymore since it seems like BGP is required for the Route Based VPN on the Cisco ASA 9.8+ devices.
After creating the VPN connection on the VNG, when

[2020-09-02 12:52] TomGeske commented on #61892
System-assigned MI is being created during cluster create phase. For UDR you need to perform a role assignment ahead of cluster creation. That's why bring your own is needed.

For outboundType of UDR it will only work with bring your own identity. We are currently working on enabling it.

[2020-09-02 13:03] mjunaid-fe commented on #49792
@fbinotto is there any update on this, I am having the same issue.

[2020-09-02 13:04] marktab commented on #61932
@fernandocostas thanks for your note:  could you provide an alternative or better-worded text?  That will help accelerate the review and resolution, thanks

[2020-09-02 13:09] asorokaChorus opened #61946 "Inaccurate Character count"
The documentation states that 3K characters are allowed in the description field on the offer listing. The field throws an error "This field exceeds the maximum length" at about 1840 characters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e93508d-e207-2259-9f34-8167aa8714b6
* Version Independent ID: 35b4e4e0-0612-4

[2020-09-02 13:14] Oddjobe opened #61947 "Duplicate rows under( Turn ON/OFF result set caching for a user database)"
Duplicate rows under Header
https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/performance-tuning-result-set-caching?source=docs#key-commands
![image](https://user-images.githubusercontent.com/15087494/91987945-fac95b00-ed2e-11ea-9edd-291be5619d05.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-09-02 13:20] RohitMungi-MSFT commented on #61906
@tomtechnologies Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-09-02 13:30] fernandocostas commented on #61932
In the document: https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/move-sql-azure-adf
At the Pipeline JSON, where it says:
"description" : "This pipeline has one Copy activity that copies data from SQL Server to Azure blob",
It would be better if it said something like:
"description" : "This pipeline has two activities: the first one copies data from SQL Server to A

[2020-09-02 13:31] sussexrick opened #61948 "Incorrect advice on setting node.js version for Web Apps"
Seeking to change the Node version running on a Windows Web App from the default pre-v1 version, I followed the advice on this page and ran the following command in cloud shell:

`az webapp list-runtimes | grep node`

This listed 10.15 as the latest supported version, so I set `WEBSITE_NODE_DEFAULT_VERSION` to `10.15` in the app settings of my web app.

Using the console within the web app, `node

[2020-09-02 13:38] spacecat opened #61949 "Understanding the deprecation of AKS kubernetes open source dashboard"
I'm curious as to why not?

Because I've been using it for the last couple of years since AKS came out and I find it to be a pretty decent tool where I can monitor my resources and do all sorts of admin things, e.g. view container logs, update yaml files, delete faulty pods etc etc.

In the new experience from within Azure from what I've been able to test and try out I can only see three sections;

[2020-09-02 13:39] wcampbell40 opened #61950 "Received subscription limit for creating App Configuration stores with Free SKu"
To whom it may concern, I received the following error when attempting to create a Azure App Configuration store:

Error: Error waiting for creation of App Configuration "cfg-app1-qa-0701" (Resource Group "rg-app1-qa-0701"): Code="SkuPerSubscriptionLimitReached" Message="The subscription has reached its limit of 'configurationStores' resources with the 'free' SKU."

My subscription is pay as you g

[2020-09-02 13:52] simonrivas commented on #43244
I had the same issue and in the end, it appears the key must be provided as plain text in the sshPrivateKey parameterValue. The problem is that the key itself is a multiline string.
So as spotted by @dannygovier the solution is to pass it to the ARM template as a base64 encoded string, and then decode it as follows :
`"sshPrivateKey": "[base64ToString(parameters('sftpwithssh_sshPrivateKey'))]"`

T

[2020-09-02 13:55] KrishnaG-MSFT commented on #61937
@aelking Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-02 13:56] KrishnaG-MSFT commented on #61950
@wcampbell40 Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-02 13:56] cybgit opened #61952 "Confirmation on NSG rules"
Can i ask, when adding the NSG rules in this document and associating the NSG to the appropiate subnet, are the default rules for an NSG still applied, or is the advice to put a Deny rule above the default rules?

From what i can see you cannot remove the default NSG rules so i'm unclear what is being achieved with these additional rules that the default rules wouldnt cater for. Very interested th

[2020-09-02 13:57] KrishnaG-MSFT commented on #61946
@asorokaChorus Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-02 13:59] kcrosby opened #61953 "Incorrect info on Kerberos negotiation"
This page has incorrect information.  at the very end, under "Other scenarios", this bullet is wrong:

"Azure Application Proxy requests a Kerberos ticket before sending its request to an application. Some third-party applications don't like this method of authenticating. These applications expect the more conventional negotiations to take place. The first request is anonymous, which allows the ap

[2020-09-02 14:00] akdracarys commented on #61656
@PramodValavala-MSFT Thank you for clarifying. The issue is been resolved now.
[code]

[2020-09-02 14:04] JasonRitchie commented on #61883
Excellent. Btw the documentation links V2 of the API definition.

How can I find which versions of the API are available? How about upcoming versions?

[2020-09-02 14:07] JasonRitchie commented on #61883
nevermind I found it. Thanks this resolves my concerns.

[2020-09-02 14:07] #61883 closed

[2020-09-02 14:08] v-tcassi commented on #60181
@SatishBoddu-MSFT Hi! The changes addressing this issue have officially published. You can check them out [here](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-devops-starter). Thanks @ksaye for bringing this to our attention!

[2020-09-02 14:16] tfitzmac commented on #61950
@wcampbell40 - you are limited to [one free SKU per subscription](https://docs.microsoft.com/en-us/azure/azure-app-configuration/faq#which-app-configuration-tier-should-i-use).

I have added a work item to look into adding App Configuration to the quotas and limits article.

#please-close

[2020-09-02 14:16] #61950 closed

[2020-09-02 14:19] detienne20 commented on #61122
Hi @carlosonunez!

Thank you for your comments on this issue, I know the documentation is a little confusing. i.e. I realize the example for resourceId at the management level is for a [built-in policy](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/templates/deploy-to-management-group.md#use-template-functions) definition, but this is not explained or spec

[2020-09-02 14:20] neilamoran opened #61955 "Confirmation prompts for AKS upgrade"
Hi, when running `az aks upgrade -y -k <kubernetes_version> -n <cluster_name> -g <resource_group>`, despite the `-y` switch I am still prompted for confirmation that due to the absence of the `--control-plane-only` switch both the control plane and all node pools will be upgraded.

Likewise, if I specify `az aks upgrade -y -k <kubernetes_version> -n <cluster_name> -g <resource_group> --control-pla

[2020-09-02 14:25] mrbullwinkle commented on #61937
@aelking, the sample code in this doc only provides the basic scaffolding of how to use the TrackAvailability() method for synthetic transaction based monitoring. You can ultimately create your own custom synthetic transaction test code that executes whatever type of test you want and then just pass the results of those tests to TrackAvailability().

If you need examples of how to wire up TrackAva

[2020-09-02 14:29] Riff451 opened #61956 "SubJourneys mentioned in Conditional Access page but missing from User Journeys page"
Hello,
I was reading the new [Conditional Access](https://docs.microsoft.com/en-gb/azure/active-directory-b2c/conditional-access-technical-profile) documentation and I noticed a new feature mentioned there for user journeys: sub-journeys. However sub-journeys are not mentioned in this user journeys documentation page.

Is sub-journeys an already available feature or just in preview?

Thank you ver

[2020-09-02 14:31] johannespetereit opened #61957 "Azure API breaks for Private DNS Zone when zone has .svc-Domain"
We tried using private DNS zones with .svc domains, which can be provisioned via Azure portal and ARM templates without problems. After provisioning however, at least the role definition api seems to break - I cannot view or edit permissions via UI or CLI (az as well as AZ PS Module).

The .svc domain seems to interfere with ARM URL schemes somehow. This restriction in domain names should be docum

[2020-09-02 14:34] SirElTomato opened #61958 "Changing instrumentation key depending on build config not explained"
In the [Separate development, test, and production](https://docs.microsoft.com/en-us/azure/azure-monitor/app/cloudservices#separate-development-test-and-production) section, it mentions that you can change instrumentation key depending on build config but does not explain how to do this or give any examples. Please add to this section.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-09-02 14:37] PatAltimore commented on #61766
Hi @PingPongSet,

I'm sorry. I misunderstood. I thought you were asking for a trigger and action scenario you could try for question 2. The microservices example is easy to explain, show, and grasp. But, it's just one example. Your scenario could be anything. Logic Apps allows you to connect two services together and perform some logic. The trigger could be anything you find in the trigger list. F

[2020-09-02 14:54] lindhe opened #61959 "Incorrect information about version skew in AKS"
Your page about [supported Kubernetes versions](https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions#supported-kubectl-versions) says:

But since [Managed AAD](https://docs.microsoft.com/en-us/azure/aks/managed-aad#prerequisites) was introduced, `kubectl` _must_ be at least 1.18:

We were running an AKS cluster with `kube-apiserver` version v1.17.7 with `kubectl` version 1.17.1

[2020-09-02 15:06] gbgJonas opened #61960 "Top note is confusing and misleading."
Regarding the top note. This is misleading. A template can be run in complete mode and still be split up. I checked, got this as a reply and this is correct.
_If the linked deployment is targeting the same RG as the “main” deployment, then complete mode will include the resources from the linked template. The confusing part is that the mode still has to be set to “Incremental” on the linked deploy

[2020-09-02 15:13] ChaitanyaNaykodi-MSFT commented on #61430
Hello @rwiankowski , The feature to have V-Net restrictions for storage account is coming up soon as discussed here in the [Azure Functions Live episode of August 2020](https://www.youtube.com/watch?v=U5qF3h-b0vU&feature=youtu.be&t=1528) (25:30). Alternatively you can also refer to this [blog-post](https://www.michaelscollier.com/azure-functions-with-private-endpoints#azure-storage-private-endpoin

[2020-09-02 15:13] #61430 closed

[2020-09-02 15:16] Sait-MSFT commented on #38695
#reassign: @MashaMSFT
Please assign to Dimitri Furman

[2020-09-02 15:16] SadiqhAhmed-MSFT commented on #61946
@asorokaChorus Can you share the error screenshot with us?

[2020-09-02 15:25] asubmani opened #61961 "Log Analytics queries and Tables are incorrect"
The queries for kube-audit are incorrect:

[code]
There is **no Category** named "kube-audit"
There is **no column** named **`log_s`**
I have enabled kube-audit in log analytics and Storageaccount.

#  Log Analytics categories

1. kube-apiserver
2. kube-controller-manager
3. kube-scheduler
4. kube-audit
5. cluster-autoscaler

# Storage Account Categories

1. kube-audit

I noticed there are 2 new c

[2020-09-02 15:26] miguelvidex opened #61962 "Minimum of subscriptions for Multi Geo updated to 250"
Important Note

Multi-Geo is currently available to customers with an active Enterprise Agreement and a minimum of 500 Office 365 Services subscriptions. Please talk to your Microsoft representative for details.

Should be updated to:

Multi-Geo is currently available to customers with an active Enterprise Agreement and a minimum of **250** Office 365 Services subscriptions. Please talk to your Mi

[2020-09-02 15:29] jennifermarsman opened #61963 "Max word length is 64 chars?"
I *think* from the following warning message that your max word size is 64 characters.  Do you truncate to 64 characters if a word is longer than that?  Is this for all Text Analytics services or a subset of them (I saw it in the context of key phrase extraction)?  You might want to document all this on this "data limits" page.

"Warning: The document contains very long words (longer than 64 chara

[2020-09-02 15:31] arunkumarthiags commented on #45464
Apologies for the delay. I will test this today and get back. The query looks correct at a first glance.

[2020-09-02 15:32] mbell85 commented on #49792
Just FYI. The way I eventually got around this problem was to configure the ASA to send the messages to a Syslog server capable of forwarding the messages on the machine running the CEF collector. Have been using it this way since back in March and works great.

[2020-09-02 15:34] kobulloc-MSFT commented on #61899
@Yonet Thank you for working to improve our documentation experience!  I'm going to close this as there's no additional action we can take on our end, but it will remain visible for tracking purposes.  If you need this reopened, just tag me in your reply and I'd be happy to adjust the issue accordingly.

[2020-09-02 15:35] shashishailaj commented on #61936
@aKynsella Thank you for your feedback . And we apologize for the terminology . We have an ongoing internal project for removing any racially sensitive word from our documentation and we have most of it and some are in our backlog as well. We apologize for missing this one. I checked the article though but If I try to search the word whitelist I do not get any results on this page. Could you pleas

[2020-09-02 15:38] Yonet commented on #61899
Can we keep it open to keep track until to make sure we give the feedback to the docs team and we get a response. Closing defeats to purpose of giving the feedback. Thanks.

[2020-09-02 15:38] eransamocha commented on #61803
The idea here stems directly from a customer request to figure this out. If we can provide a referenceable list it makes pulling this up easier.

It does seem logical to provide the list of geo-names abbreviations for articles like this that would require the reference – or at least a link to this chart elsewhere. The geo-names are easy enough to find, but the corresponding abbreviations, which ar

[2020-09-02 15:40] aebaid opened #61964 "Missing Information about VNET setup"
I definitely love the the structure of the content. The content is also very easy to follow. One of things I think is missing would be the VNET configuration as it is listed as one of the options when configuring AVS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d9bb24e-ff10-6530-8f47-a0b53d192d4e
* Version Independ

[2020-09-02 15:46] StefanSchoof opened #61965 "Exception Handling in Services"
I missed the information, if Exceptions in a Worker Services are logged and send to application insights or if therefore extra work is needed. If some extra code is needed a link to the documentation would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d4fa84d-4cd3-216e-ca60-885f1565ee29
* Version Independ

[2020-09-02 15:52] aKynsella commented on #61936
Thank you for responding. It’s right at the top:

[cid:7EA45266-E162-4424-8E40-ECC31A4E1543@vanderbilt.edu]
_______________________________
Audrey K. Bowden, PhD
Dorothy J. Wingfield Phillips Chancellor Faculty Fellow
Assoc. Prof., Biomedical Engineering
Assoc. Prof., Electrical Engineering and Computer Science
Faculty Head, Zeppos College
Vanderbilt University

Ph: 615-343-4339
Em: a.bowden@vande

[2020-09-02 16:06] carlosnunez-10m commented on #61122
Fair enough. Thanks for all of your help!

[2020-09-02 16:08] JamesTran-MSFT commented on #61933
@aDisplayName
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-02 16:09] AshokPeddakotla-MSFT commented on #61949
@spacecat
Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2020-09-02 16:10] kobulloc-MSFT commented on #61899
@Yonet No worries!  Just tag me in a reply when you are ready to close this.

[2020-09-02 16:12] craigktreasure commented on #61692
Thanks for the suggestion. I will make an effort to get more pictures in the quick starts for our next release.

[2020-09-02 16:15] JamesTran-MSFT commented on #61953
@kcrosby
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-02 16:17] YutongTie-MSFT commented on #61963
@jennifermarsman
Thanks for reaching out to us. Since this repo is for Machine Learning Notebook only, please open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureMachineLearningService) as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenario based on their experie

[2020-09-02 16:17] JamesTran-MSFT commented on #61962
@miguelvidex
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-02 16:21] markjbrown commented on #61935
TTL is an int32 so 2147483647 seconds or 68 years.

[2020-09-02 16:23] #58416 closed

[2020-09-02 16:26] KranthiPakala-MSFT commented on #61947
@Oddjobe
Thanks for the feedback and bringing this to our notice. We will submit a PR to update the document as appropriate.

Appreciate much for helping us to improve the doc content.

Thank you

[2020-09-02 16:31] KranthiPakala-MSFT commented on #61947
@Oddj0b Looks like the author has recently submitted a PR to address this issue. The changes should go live within 24hrs.

![image](https://user-images.githubusercontent.com/50185738/92010689-f2f1c280-ecfe-11ea-9164-4b5b7b6faaee.png)

Thanks again for bringing this to us.

Based on this update, I will proceed to close this issue. But please feel free to comment or open a new issue if you have furt

[2020-09-02 16:31] #61947 closed

[2020-09-02 16:31] tfitzmac commented on #61814
@danieljamescarpenter - thanks for this feedback. I have added that test case. The update should be published later today.

[2020-09-02 16:32] tfitzmac commented on #61814
#please-close

[2020-09-02 16:32] #61814 closed

[2020-09-02 16:32] KranthiPakala-MSFT commented on #61947
Thanks for the quick fix @XiaoyuMSFT! :)

[2020-09-02 16:34] flobeier commented on #48902
@dgcaron Thank you very much! Due to your help I was able to remove the service delegation.

@jannekeskitalo  @boonwj

I think the simplest solution is to just use `az rest` like so:
[code]

[2020-09-02 16:41] MonikaReddy-MSFT commented on #61943
@HadarTiman -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-02 16:43] mjunaid-fe commented on #49792
@mbell85 thanks for the prompt response.
actually got it working by sending UDP logs from Cisco to Syslog Collector and forwarding those logs to the agent's port (localhost:25226)
Logs are now showing up in the Sentinel but it is still sad that CEF collector does not work directly

[2020-09-02 16:43] timheuer opened #61966 "Optimized route images are no different and confusing"
The two images shown in the optimizing route sample are identical and don't differentiate how the optimized route actually is displaying any different: https://docs.microsoft.com/en-us/azure/azure-maps/how-to-use-best-practices-for-routing#sample-query-6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5235f066-7e95-bca9

[2020-09-02 16:46] arunkumarthiags commented on #61689
Just tested this and it is correct when cascades are used. Please merge this update. We are also working on an update so users don't have to drop foreign keys in PostgreSQL targets anymore.

[2020-09-02 16:51] #60813 closed

[2020-09-02 16:52] RohitMungi-MSFT commented on #61741
@Cook-code We hope the above information helps with your question. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-09-02 16:52] #61741 closed

[2020-09-02 16:52] markjbrown commented on #61935
#please-close

[2020-09-02 16:52] #61935 closed

[2020-09-02 16:53] asorokaChorus commented on #61946
[cid:image003.jpg@01D68128.125B0C00]

Avigail Soroka, Product Manager
[cid:image002.png@01D68128.1247AB10]
A 1338 44th Street, Brooklyn NY 11219
P 833.424.6787   W chorus.cloud<https://www.chorus.cloud/>

From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Wednesday, September 2, 2020 11:17 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Avigail Soroka <asoroka@chorus.cloud

[2020-09-02 16:56] himanshusinha-msft commented on #61640
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-09-02 16:56] TonyScarpelli commented on #61706
There are two pictures from the "Quickstart: Create an ASP.NET Core
web app in Azure", and three from the output in Visual Studio 2019
Community version 4.8.03752.
From there, there are other different pictures as well.
Maybe you used a different version of Visual Studio?
Thanks.

	-----------------------------------------From: "Ryan Hill"
To: "MicrosoftDocs/azure-docs"
Cc: "TonyScarpelli", "Menti

[2020-09-02 17:00] PatrickFarley commented on #59011
@YutongTie-MSFT Please reassign this issue to the product team, as it is not a doc issue. The PM has been looped in on the plans to update the samples.

[2020-09-02 17:02] YutongTie-MSFT commented on #59011
@PatrickFarley Hi Patrick, could you please let me know who is the right person to assign? Thanks.

[2020-09-02 17:05] RohitMungi-MSFT commented on #61690
@GowthamDisys The table data should be automatically recognized by the tool as mentioned [here](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/label-tool?tabs=v2-0). I think the issue here might be with the format of the image where visually it looks like table data but clear boundaries might be missing. @NHaiby Could you please confirm if the table format in

[2020-09-02 17:05] Karishma-Tiwari-MSFT commented on #61905
Thanks for sharing the update.

[2020-09-02 17:06] PatrickFarley commented on #60109
Adding the new info to the doc now
#please-close

[2020-09-02 17:06] #60109 closed

[2020-09-02 17:07] PatrickFarley commented on #61334
@YutongTie-MSFT This is a product issue, please reassign to product team

[2020-09-02 17:10] priyankark commented on #60109
Thanks @PatrickFarley and team

[2020-09-02 17:11] bakandah commented on #61730
@tfitzmac - I am always happy to help
Thank you very much everyone for the help and support!

[2020-09-02 17:14] nerdile opened #61967 "Azure PIM page should explain how to opt out of email notifications"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5a932ce-6046-f6a9-9b85-188c8530174c
* Version Independent ID: 196cb921-fbf8-6819-e0e2-8cd03fda4505
* Content: [Email notifications in PIM - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management

[2020-09-02 17:22] RyanHill-MSFT commented on #61632
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-02 17:22] #61632 closed

[2020-09-02 17:28] jochot opened #61968 "Wrong XPATH for Workday Azure Integration"
Hey, it seems that for the new API v30+ there is an error on #21 - FacilityLocation
current state: wd:Worker/wd:Worker_Data/wd:Organization_Data/wd:Worker_Organization_Data[translate(string(wd:Organization_Data/wd:Organization_Type_Reference/wd:ID[@wd:type='Organization_Type_ID']),'abcdefghijklmnopqrstuvwxyz','ABCDEFGHIJKLMNOPQRSTUVWXYZ')='FACILITY']/wd:Organization_Reference/@wd:Descriptor 0
the

[2020-09-02 17:41] mbell85 commented on #49792
Glad to help! It’s a minor annoyance, but at the same time I kind of like having a local Syslog server running so I can glance at it throughout the day and then then using the CEF collector to import to Azure Sentinel for the analytics to run through it. It’s been very helpful for identifying connection attempts from suspect IPs and blocking them at the ASA.

--

Mark Bell
IT Admin/Coordinator
Jou

[2020-09-02 17:42] SaurabhSharma-MSFT commented on #61967
@nerdile Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-02 17:47] MarileeTurscak-MSFT commented on #61968
@jochot
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-02 17:52] JamesTran-MSFT commented on #61956
@Riff451
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-02 17:52] BryanTrach-MSFT commented on #61948
@sussexrick Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-02 17:53] MarileeTurscak-MSFT commented on #61929
@oz1212
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-02 17:57] JamesTran-MSFT commented on #61871
@michevnew
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-09-02 17:57] #61871 closed

[2020-09-02 18:01] MashaMSFT commented on #61907
Hi @paulmasonjuvare , thanks for contacting Microsoft! Actually, the command [Remove-AzSqlVM](https://docs.microsoft.com/powershell/module/az.sqlvirtualmachine/remove-azsqlvmgroup) is the correct command to remove the `sql virtual machines` resource thereby unregistering your SQL Server VM from the SQL VM resource provider. It will not delete the underlying SQL Server virtual machine.

The typo is

[2020-09-02 18:07] #61907 closed

[2020-09-02 18:08] MashaMSFT commented on #61907
Oh, my apologies, @paulmasonjuvare , I totally misread your original post. You're right, that should definitely be fixed! However, neither command (New-AzSqlVM or Remove-AzSQLVM) have any risk to deleting the virtual machine, so from that standpoint, the docs are okay. But you're right in bringing this to our attention, and this will be updated later today thanks to @VikasPullagura-MSFT .

Thanks!

[2020-09-02 18:08] allegradomel commented on #61592
@christiankuhtz and I have discussed offline. I'll be opening a PR with the relevant changes.

[2020-09-02 18:09] vivek781113 commented on #46401
Facing the same issue as mentioned by @Bryankarlsson. Tried out all the suggestion but could no luck. Please find the container logs of the app service.

2020-09-02T17:48:32.007Z INFO  - Pull Image successful, Time taken: 0 Minutes and 35 Seconds
2020-09-02T17:48:32.068Z INFO  - Starting container for site
2020-09-02T17:48:32.069Z INFO  - docker run -d -p 8166:80 --name thintankcoreapi_0_5aec585a

[2020-09-02 18:13] trevorbye commented on #61604
We've created a work item to update this to the v3 API. #please-close

[2020-09-02 18:14] #61604 closed

[2020-09-02 18:18] anastasia-ms commented on #61966
Updating with the correct image.

[2020-09-02 18:20] WinstonHoward-MSFT commented on #61813
@mmastersvz , do you have any further questions? If not let me know and I'll close this issue.

[2020-09-02 18:25] iainfoulds commented on #61901
Thanks for the feedback, @david92cr

The Azure AD free tier only provides SSPR for cloud users, not when users are synchronized from an on-premises environment using Azure AD Connect and password writeback is enabled. As this set of tutorials [builds up from basic SSPR features and ends up with on-prem writeback](https://docs.microsoft.com/azure/active-directory/authentication/tutorial-enable-sspr

[2020-09-02 18:27] cainejette opened #61973 "Inconsistent casing of Distribution target types"
The page refers to distribution target types sometimes in lowerCamelCase and sometimes in UpperCamelCase.

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-json#distribute-managedimage has them in lowerCamelCase in both the heading and the sample JSON.
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-json#distribute-sharedimage has the heading

[2020-09-02 18:27] trevorbye commented on #61771
@eghove thanks, I will make an update to explicitly call the function we are creating #please-close

[2020-09-02 18:27] #61771 closed

[2020-09-02 18:32] SadiqhAhmed-MSFT commented on #61946
@asorokaChorus This - [cid:image003.jpg@01D68128.125B0C00] isn't working for me. Please take a snip/screenshot of the error message and share it here.

[2020-09-02 18:33] rolyon commented on #60408
Hi @shraboin
I dont think the Reader role would allow the two operations that you specified.
Microsoft.ContainerService/managedClusters/secrets/read is a data action that applies to the data plane. The Reader role grants read permission on the management plane.
Microsoft.DocumentDB/databaseAccounts/listKeys/action does not have a read action, so the Reader role should not allow this action.
thanks

[2020-09-02 18:43] felixtsem5 opened #61974 "Instructions for configuring the Log Analytics workspace for VMInsight not clear"
In the section "Add VMInsights solution to workspace", first option, it is not clear how I get to where the screenshot is showing. I have created a Log Analytics workspace in the previous sections. This page should mention that it is under Azure Monitor, the Insights -> Virtual Machine tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-09-02 18:50] SaiKishor-MSFT commented on #61945
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-09-02 18:54] #61901 closed

[2020-09-02 18:54] bmcgair opened #61975 "included json is invalid"
Json is invalid in the example for metrics.

Error: Parse error on line 25:
...ervices": "[{"					ImpactedRegions "}]"
----------------------^
Expecting 'EOF', '}', ':', ',', ']', got 'undefined'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28360a4e-c758-66f0-39fd-518e480d80d9
* Version Independent ID: 52f4d95e-627c-

[2020-09-02 18:55] martintoreilly commented on #61213
@TravisCragg-MSFT Thanks for the confirmation. That's reassuring.

Our scenario is that we have user VMs from which we cannot allow any outbound data egress, and [DNS tunnelling](https://blogs.akamai.com/2017/09/introduction-to-dns-data-exfiltration.html) is an egress route we would like to block. This allows an attacker to encode data in DNS queries for non-existent sub-domains for a domain under

[2020-09-02 19:06] julieMSFT commented on #55168
#assign:anvang

[2020-09-02 19:06] PRMerger7 commented on #55168
anvang is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-09-02 19:07] julieMSFT commented on #55168
#in-process

[2020-09-02 19:08] julieMSFT commented on #55168
#in-progress

[2020-09-02 19:08] DavidClausen opened #61976 "I do not recall seeing a worse guide to developing in the windows environment. Where are the instructions for visual studio or visual code?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID: 49fa6098-0b8e-ebf5-efe7-f50f3604e325
* Content: [Quickstart: Azure Blob storage library v12 - .NET](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-dotnet)
*

[2020-09-02 19:10] anbene commented on #61946
#reassign:anbene

[2020-09-02 19:18] palma21 commented on #61959
Thanks for the feedback, not sure I completely understood it though so please bear with me, the reason AAD clusters need 1.18.1+ kubectl is because it requires fixes and features that we introduced and were released in that version. Kubectl 1.18.1 is still within the supported skew window of +-1 minor version, so it's totally fine and supported to use it with a 1.17.7 cluster.

Your kubectl 1.17.1

[2020-09-02 19:18] rolyon commented on #60408
#please-close

[2020-09-02 19:18] #60408 closed

[2020-09-02 19:19] anbene commented on #61946
@asorokaChorus Thanks for reaching out!

The limit of 3,000 characters applies to the html version of the description, not the text you see in the rich-text editor. When you type and format text in the rich-text view, html tags are added.

To see the html version of the description, select the code icon </> in the description field in Partner Center. The character limit of the description in html,

[2020-09-02 19:39] himanshusinha-msft commented on #61931
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-02 19:40] himanshusinha-msft commented on #61934
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-02 19:41] himanshusinha-msft commented on #61941
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-09-02 19:42] himanshusinha-msft commented on #61944
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-09-02 19:46] SaiKishor-MSFT commented on #61952
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-02 19:46] asorokaChorus commented on #61946
Awesome. Much clearer now. Thanks for your help.

Avigail Soroka, Product Manager
[cid:image001.png@01D68140.3D1DEDF0]
A 1338 44th Street, Brooklyn NY 11219
P 833.424.6787   W chorus.cloud<https://www.chorus.cloud/>

From: Andrea Benetti <notifications@github.com>
Sent: Wednesday, September 2, 2020 3:20 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Avigail Soroka <asoroka@cho

[2020-09-02 19:47] himanshusinha-msft commented on #61955
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-09-02 19:49] himanshusinha-msft commented on #61957
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-09-02 19:50] himanshusinha-msft commented on #61959
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-02 19:52] himanshusinha-msft commented on #61961
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-02 19:53] himanshusinha-msft commented on #61964
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-02 19:54] himanshusinha-msft commented on #61973
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-02 19:54] shashishailaj commented on #61936
Thank you for your response. However i tried searching the word again in the article https://docs.microsoft.com/en-us/azure/active-directory/governance/review-your-access which is linked within this issue and I cant seem to find it as you can see below in the screenshot.

![image](https://user-images.githubusercontent.com/532022/92030148-3fcbac80-ed84-11ea-9abf-e615c0131ae1.png)

I have read the d

[2020-09-02 19:55] himanshusinha-msft commented on #61960
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-02 19:56] himanshusinha-msft commented on #61965
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-02 19:57] MarileeTurscak-MSFT commented on #61679
Thanks @JasSuri. Closing this out since the documentation will be released once this goes to public preview.

[2020-09-02 19:57] #61679 closed

[2020-09-02 19:57] himanshusinha-msft commented on #61974
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-02 19:58] himanshusinha-msft commented on #61975
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-02 20:00] MarileeTurscak-MSFT commented on #61596
Just made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/128238

[2020-09-02 20:00] #61596 closed

[2020-09-02 20:01] aKynsella commented on #61936
Your screenshot is different from what I sent. It looks like the word has been changed (thank you!). I attach my screenshot again.

[cid:CEA8CAB5-A485-4395-BE42-7780CF77F259@vanderbilt.edu]
_______________________________
Audrey K. Bowden, PhD
Dorothy J. Wingfield Phillips Chancellor Faculty Fellow
Assoc. Prof., Biomedical Engineering
Assoc. Prof., Electrical Engineering and Computer Science
Facul

[2020-09-02 20:02] himanshusinha-msft commented on #61976
Thanks for the feedback . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-02 20:04] BeigeBadger commented on #61776
PR has been merged, closing this issue.

[2020-09-02 20:04] #61776 closed

[2020-09-02 20:11] bandersmsft commented on #61940
@vikramdesai01 I can make the fixes needed to correct. I'll reply here when done.

[2020-09-02 20:14] woodrum opened #61977 "PIM alerts when users added to groups"
Today PIM emails us when a user is added to a group.  I noticed when I create a new group and assign that group to the role, and add users to the group, there isn't an email based notification from PIM.  Is this by design or can it be correct?  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1414bc2-4151-b66

[2020-09-02 20:24] gradyal commented on #19456
I'm running into this same problem and I'm frankly surprised this issue was closed. My first thought was that I'm going to have to build a scheduled tool to parse their weekly JSON file [here](https://www.microsoft.com/en-us/download/details.aspx?id=56519) with all of the IP ranges, but they don't appear to provide an API for that. So my best option is to manually download the JSON file every week

[2020-09-02 20:27] hiendang opened #61978 "Avoid encoding problem with open(filename,'rb')"
When uploading data to Datalake using python, the file should be opened using `open(filename, 'rb')`  instead of `open(filename, 'r')`. This will avoid encoding problem since with option `'rb'` python will not try to decode the file to text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12220c1c-ebce-cf63-0ef7-41c6b67

[2020-09-02 20:27] artisticcheese commented on #19456
There is API, it just does not work (way out of date)
https://docs.microsoft.com/en-us/rest/api/virtualnetwork/servicetags/list

[2020-09-02 20:28] MartinJaffer-MSFT commented on #61579
@gpitzalis
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-09-02 20:28] #61579 closed

[2020-09-02 20:28] artisticcheese commented on #19456
Also it's more or less easy to automate (downloading/parsing JSON files etc)
https://artisticcheese.wordpress.com/2020/08/17/automating-azure-sql-firewall-rules-based-on-azure-service-tags/

[2020-09-02 20:43] rolyon commented on #61495
Hi @michaelelleby
Let us know if you have additional feedback. You can re-open this issue.
thanks

[2020-09-02 20:43] rolyon commented on #61495
#please-close

[2020-09-02 20:43] #61495 closed

[2020-09-02 20:45] ashishsinghbhu opened #61979 "Max Queue/Topic size can now be changed post creation"
The max queue/topic size can now be changed after creation also, so we should edit the below line in the article to indicate this or remove it.

Queue or topic size | Entity | Defined upon creation of the queue or topic.

-- | -- | --

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17b26254-ce8c-76eb-c3e9-b80c3ecc45ba
*

[2020-09-02 20:47] JamesTran-MSFT commented on #61897
@brucedkyle
Thanks for your post!

This JSON template is used for deploying an Azure Key Vault. Within the JSON template - '[enabledForDeployment](https://docs.microsoft.com/en-us/azure/templates/microsoft.keyvault/vaults#vaultproperties-object)', is a property to specify whether Azure Virtual Machines are permitted to retrieve certificates stored as secrets from the key vault.

This is an access

[2020-09-02 20:52] gradyal commented on #19456
@artisticcheese, thanks for the info. Interesting thoughts, but I'm not comfortable scraping their webpage to pull that JSON file. This is a production app and that's too risky. And apart from that, this method would involve hundreds of entries in the storage account firewall to simply let my hosted Azure pipeline copy a few files over. It's doable, but it's overkill for my purposes.

[2020-09-02 20:54] azahran007 opened #61980 "\n missing in the "More Resources" paragraph"
Minor issue, the last 3 lines in the "More Resources" paragraph need to be spread over 3 lines

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75e17529-8b8a-1d67-f0e1-840d1d3ca990
* Version Independent ID: 265645df-ef21-4631-1744-7014b3ee681a
* Content: [Authentication and authorization - Azure App Service](https://docs

[2020-09-02 20:55] JamesTran-MSFT commented on #61933
@aDisplayName
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-02 20:58] IgorCayosoft commented on #60710
Any update on this issue? I noticed that the description of this property in the Graph reference https://docs.microsoft.com/en-us/graph/api/resources/user?view=graph-rest-beta says "Note: Details for this property require an Azure AD Premium P1/P2 license" which also goes against what is written in this article.

[2020-09-02 21:01] SaiKishor-MSFT commented on #61952
@cybgit
[The default rules of the NSGs](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview) are still applied here, however, they do not allow the following access which is required for a bastion-

Inbound Rules-
1.Ingress Traffic from public internet
2.Ingress Traffic from Azure Bastion control plane

For the outbound security rules, the default already covers the following

[2020-09-02 21:05] WinstonHoward-MSFT commented on #61973
Thanks for the feedback, I'll take a look.

[2020-09-02 21:07] BharathNimmala-MSFT commented on #61629
@cveld Thanks again for sharing your feedback, i have created a PR to add the reference to Azure Monitoring solutions with in the document. Once the PR is reviewed and merged the live document will reflect the changes in next 1-2 business days.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have

[2020-09-02 21:07] #61629 closed

[2020-09-02 21:10] Yonet commented on #61899
@kobulloc-MSFT thank you.

[2020-09-02 21:15] JamesTran-MSFT commented on #61962
@miguelvidex
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

Source: https://www.microsoft.com/en-us/microsoft-365/business/multi-geo-capabilities
![image](https://user-images.githubusercontent.com/36619112/92037039-02383680-ed26-11ea-8f3d-369acc3b29b0

[2020-09-02 21:15] #61962 closed

[2020-09-02 21:19] JamesTran-MSFT commented on #61565
@pwgrmi
I was able to get an update from our engineering team and will post their response below.

**PG response:**
Even with a FGPP (PSO)  scoped to the users on-prem, any passwords would still need to comply with AAD Password Protection on-prem agent filter before the password is pass\fail for evaluation by on-prem AD password policy. It's not possible to scope password protection filter evaluat

[2020-09-02 21:32] KSchlobohm opened #61981 "Update docs to describe that Azure SignalR has 4kb limit on JWT"
When using Azure SignalR it's common to use claims and the built-in `Microsoft.AspNetCore.Authorization.IAuthorizationService` from a hub to assure that the current user can perform an action.

Per this [closed issue](https://github.com/Azure/azure-signalr/issues/249) there is a limit of 4kB on the access_token. As such, the recommended pattern for authorization is to not use middleware to extend

[2020-09-02 21:34] leifbro commented on #57629
@mikelor I've confirmed with Databricks Engineering that this is correct. You'll see a similar pattern with all of these regions:

East US
East US 2
West US 2
Central US
North Central US
South Central US

[2020-09-02 21:37] RyanHill-MSFT commented on #61788
@IgnacioAlvarezArenas I was able to confirm issues with using a Failover group under Backup settings. I'm confirm this limitation with our product teams and will update the doc appropriately.

[2020-09-02 21:39] SatishBoddu-MSFT commented on #61638
Hello @VWilcox2000
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-09-02 21:39] #61638 closed

[2020-09-02 21:44] SnehaGunda commented on #61910
@xyz92 the "DeleteIfExistsAsync" method already exists in the sample at this section: https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet#execute-the-crud-operations-on-sample-data

It's commented out by default. I made some updates to uncomment the code and mentioned that don't delete the table if you want to validate the data.

[2020-09-02 21:51] VWilcox2000 commented on #61638
Thanks Satish!  Warm regards

On Wed, Sep 2, 2020 at 4:40 PM SatishBoddu <notifications@github.com> wrote:

[2020-09-02 22:00] mikelor commented on #57629
Thanks for confirming. Appreciate you looking into it.

[2020-09-02 22:16] leifbro commented on #57629
Glad to help. I will now close this issue. If you have any more questions, please reopen it.

#please-close

[2020-09-02 22:16] #57629 closed

[2020-09-02 22:16] DerekHerman-MSFT commented on #61976
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-02 22:33] SaurabhSharma-MSFT commented on #61168
@AshleyYang25 I am closing this issue as per our offline discussion. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-02 22:33] #61168 closed

[2020-09-02 22:45] nitinme commented on #61899
@Yonet - A good approach would be to create a work item in the tracking tool that you use, e.g. Azure DevOps, add a link to this Github issue in that work item, and close this work item. We are actively looking to close Github issues on our content, driving them to resolution, and have SLAs towards it. For long running issues, like this one, the approach we follow is what I have recommended here.

[2020-09-02 22:45] #61899 closed

[2020-09-02 23:03] TravisCragg-MSFT commented on #61906
@tomtechnologies Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-09-02 23:24] MashaMSFT commented on #38695
#reassign: @dimitri-furman

[2020-09-02 23:30] skluzn opened #61985 "End-User, Application Proxy, internal application"
[
Could you please include explanation of what happens when users, trying to launch application published through Enterprise Applications portal, are located on the same network segment where the application is hosted?
What is the traffic pattern here? Assuming external link is not the same as internal FQDN to access the application.
Thank you.
]

---
#### Document Details

⚠ *Do not edit this sec

[2020-09-02 23:41] SaiKishor-MSFT commented on #61934
@haymansfield
I have reviewed your concern about the Client VPN download functionality. I have tried to reproduce a custom CVPN setup and see that when I download the configuration file from the portal, it has the following information related to the setup-

-Server address
-Tunnel Type
-VPN Server Root certificate required to validate the Azure VPN GW during P2S connection setup

This is custom t

[2020-09-02 23:45] MarileeTurscak-MSFT commented on #61887
I agree that the extra AB is odd since it makes a square, but the tag can be anything so it shouldn't make a difference. I'm not sure what the justification was for that but will check with the team.

Thanks for bringing this up!

[2020-09-02 23:45] #61887 closed

[2020-09-02 23:52] jalvarezca commented on #55509
I was able to get the correct values using labels, with this code
[code]

from this blog https://kasunkodagoda.com/2020/01/26/feature-flags-for-asp-net-core-applications-advanced-uses-of-azure-app-configuration-for-feature-management/

But changing it on Azure App Configuration doesn't make any difference. It ignores the updates on the flags.

[2020-09-03 00:16] BharathNimmala-MSFT commented on #61714
@RonnieQuan Thank you for circling back, apologies for the delay on this . I will review your queries and get back to you at the earliest.

Thank you for raising the feedback request.

[2020-09-03 00:20] Yonet commented on #61899
Hi @nitinme, I can save the link for the issue but my question is, how will I know if the doc team has a solution or not going to fix? If there is a DevOps for the azure docs team, please direct me there. The only way I know I can give feedback to the documentation team is through github issues.

Thanks!

[2020-09-03 00:31] walawe opened #61986 "Discrepancy between image and step description - Step 6"
I was reading section '[How clients connect using Traffic Manager](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/traffic-manager/traffic-manager-how-it-works.md#how-clients-connect-using-traffic-manager)' in this page and found that in the image step 6, it refers to EU endpoint. However in the descriptions below the image, it is referring to US endpoint. I am suggesting to make

[2020-09-03 00:36] drdamour opened #61987 "configuration section wrong (outdated)?"
it referes to attribute properties liek queue or topic that are not on the attribute https://github.com/Azure/azure-functions-servicebus-extension/blob/v4.1.2/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus/ServiceBusAttribute.cs#L38 i think it's copy pasta from the trigger article and not updated to match the this output article

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-09-03 00:42] dougbrad commented on #61399
Hi can you try installing log-analytics-solution extension?
Seems the documentation should include this step, while it is 'exerimental'

    az extension add --name log-analytics-solution

C:\Users\dougbrad>az extension list
[
  {
    "experimental": true,
    "extensionType": "whl",
    "name": "log-analytics-solution",
    "path": "C:\\Users\\dougbrad\\.azure\\cliextensions\\log-analytics-soluti

[2020-09-03 00:44] djpmsft commented on #43911
#assign chez

[2020-09-03 00:44] PRMerger17 commented on #43911
chez is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-09-03 00:44] djpmsft commented on #43911
#assign chez-charlie

[2020-09-03 00:45] djpmsft commented on #41732
#assign chez-charlie

[2020-09-03 00:45] djpmsft commented on #43897
#assign chez-charlie

[2020-09-03 01:02] Karishma-Tiwari-MSFT commented on #61584
@Heidilohr Looks like there has been updates to the document recently [here](https://github.com/MicrosoftDocs/azure-docs/commit/1de2c6a9cd6f14fd7893baf8c3e7aaeb2e26e00a).
Can you please help confirm on this. Thanks :)

[2020-09-03 01:10] ChaitanyaNaykodi-MSFT commented on #61817
Hello @swigerb, I could not replicate the observation made, for me the logs got generated in my Log Analytics workspace without redeploying the function app. I did see that it took considerable amount of time for the logs to start generating, this behavior can be explained by the [amount of time Azure Monitor takes to ingest data](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-

[2020-09-03 01:16] karthikeyanVK commented on #61632
I used the portal to create the SQL database. @RyanHill-MSFT

[2020-09-03 01:22] DavidCBerry13 commented on #49903
I updated the language in this document to be more precise as suggested.  #please-close

[2020-09-03 01:22] #49903 closed

[2020-09-03 01:23] BryanTrach-MSFT commented on #61980
@azahran007 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-03 01:33] geneescober opened #61989 "Relay State field needed"
I needed to add my Maketo instance URL in the Relay State field of the Azure Enterprise App SAML settings for this to work.

![image](https://user-images.githubusercontent.com/1025528/92050138-29503180-ed41-11ea-852b-ffef62cd88d5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 802b3740-1732-e597-b892-8a56f50425eb
*

[2020-09-03 01:40] fordprefect480 opened #61990 "Article sample config defines an Instance key but sample code uses config.Authority"
Are the config `Instance` and the `config.Authority` variable are referring to the same value? Should the code be using `config.Instance` instead?

The article is also not very clear on why there is a string format argument in the sample config for `Instance`:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08bcd

[2020-09-03 01:43] Karishma-Tiwari-MSFT commented on #61599
@zr-msft Would you be able to help with the correct command to be updated in the doc. Thanks :)
There were few updates in the recent months for this section: https://github.com/MicrosoftDocs/azure-docs/commit/6274adcdab5fc42f7738c1f682b41ede76bff55e

[2020-09-03 01:47] PingPongSet commented on #61766
Hi @PatAltimore,

FYI, please see my original question 2 below. The problem that I have is that the trigger or the action in Logic App in User Action section are **not** called.

Please could you tell me why? Is it because of below

[2020-09-03 01:52] elvirk opened #61991 "Can one ARM template create multiple custom roles?"
Can one ARM template create multiple custom roles? I want to define multiple roles in one ARM template, can there be more than one "action" & "not action"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eac44e5e-65e1-d989-4afe-0463e8ff51d0
* Version Independent ID: 5665dd03-d06e-ca29-668f-7cb91e5f9ffd
* Content: [Azure

[2020-09-03 03:18] jimc-po opened #61992 "Certification tool download link is broken"
The link to the Certification tool download is broken.  The link is:  https://www.microsoft.com/download/details.aspx?id=44299

It is unclear how to proceed with the certification without that tool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76aff51a-dfee-9126-9788-4fee1652814b
* Version Independent ID: 0d8f1128-35

[2020-09-03 03:31] SatishBoddu-MSFT commented on #61880
@diablodale
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-09-03 03:43] MayankBargali-MSFT commented on #61979
@ashishsinghbhu Yes, your understanding is correct that the queue/topic size can now be changed after creation.
The below talks that you can define the size while creation and if your selected size (assume 1GB) for the entity is maxed out then your calling application will receive the exception. In that case to mitigate the issue you can increase your entity size. The article talks about the quota

[2020-09-03 03:56] pedropaulovc commented on #61399
Hello @dougbrad, you're 100% correct. After I install the `log-analytics-solution` extension, the commands I listed above start working. The documentation page should be updated to mention this extension instead of `log-analytics`.

[2020-09-03 04:49] AjayKumar-MSFT commented on #61981
@KSchlobohm, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-03 04:55] fraga opened #61999 "Change sentence - typo"
Change sentence - The following user-supplied information **mush** be correct:

to

The following user-supplied information must be correct:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a71ce24-5593-c767-e4fb-83dfbcd1b6ce
* Version Independent ID: 7284734d-db6b-93c3-b9d1-9de6533bf680
* Content: [REST API error codes

[2020-09-03 05:00] DavidCBerry13 commented on #54606
This issue has been fixed.  The page now exists at https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/oracle-weblogic

#please-close

[2020-09-03 05:00] #54606 closed

[2020-09-03 05:00] MayankBargali-MSFT commented on #61987
@drdamour Thank you for your feedback! We will review and update as appropriate.

[2020-09-03 05:05] SnehaAgrawal-MSFT commented on #61856
Thanks for asking question! Just to confirm how are you creating custom command, you may want to investigate below document link for outlined steps.
https://docs.microsoft.com/en-us/azure/developer/python/tutorial-deploy-app-service-on-linux-04#create-a-startup-file
You may also look into this [blog](https://azureossd.github.io/2020/01/23/custom-startup-for-nodejs-python/)

[2020-09-03 05:07] TomPGParker opened #62000 "Facebook integration now requires valid privacy policy page"
Step 16: Switch app to live mode now needs more clarification on steps as Facebook now requires a link to a webpage with a valid privacy policy to complete that action.

This requires a url which allows a valid download, which makes this a bit difficult for setting up basic labs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-09-03 05:12] narfanar commented on #41969
Using `--recursive` (even though the source is clearly a single blob) does work, but it's quite annoying when I forget to do it...

Version 10.6.0

[2020-09-03 05:16] DavidCBerry13 commented on #56366
@hofmannma
When you say 76sapha-gen2 is missing in the marketplace, where are you looking and not finding it?  I looked in a number of regions and found it in each one.

This was the PowerShell I was using
`Get-AzVMImageOffer -Location "EastUs2" -Publisher "RedHat" | Get-AzVmImageSku | Sort-Object Offer,Skus | Format-Table -Autosize PublisherName, Offer, Skus`
Of course, sub in the appropriate reg

[2020-09-03 05:29] PatrickFarley commented on #57830
I've just added a note to the docs clarifying the rules. In short, they work the same whether MDY or DMY is specified.
#please-close

[2020-09-03 05:29] #57830 closed

[2020-09-03 05:43] VikasPullagura-MSFT commented on #61886
The document is updated, changes will go live soon.

[2020-09-03 05:46] VikasPullagura-MSFT commented on #61999
@fraga Thanks for pointing this. The document is updated and changes will go live soon.

[2020-09-03 05:53] #61999 closed

[2020-09-03 06:05] HadarTiman commented on #61943
Sure -
For the REST API:
https://docs.microsoft.com/en-us/rest/api/sql/server%20auditing%20settings/get

For the PowerShell:
https://docs.microsoft.com/en-us/powershell/module/az.sql/get-azsqlserveraudit?view=azps-4.5.0

The 2 APIs should return the same result, but actually there is inconsistence in their response as you can see above.

Thanks,
Hadar

[2020-09-03 06:15] rachelxj-ms opened #62002 "Please add note about AppServiceFileAuditLogs"
From Ruslan's blog
https://ruslany.net/2020/01/how-to-monitor-azure-app-service-content-changes-and-publishing-activity/

The file change audit logs (AppServiceFileAuditLogs) are only available for app services in Premium, PremiumV2 and Isolated App Service Plans. You will need to scale up the app service plan in order to get those logs.

but we didn't mention this limitation in azure document, pl

[2020-09-03 06:18] juanjojulian opened #62003 "az monitor log-analytics: 'solution' is not in the 'az monitor log-analytics' command group."
`az monitor log-analytics: 'solution' is not in the 'az monitor log-analytics' command group. See 'az monitor log-analytics --help'. If the command is from an extension, please make sure the corresponding extension is installed. To learn more about extensions, please visit https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overview`

---
#### Document details

⚠ *Do not edit this sect

[2020-09-03 06:26] SadiqhAhmed-MSFT commented on #61992
@jimc-po Thanks for the feedback. We will review this with the content author and update as appropriate.

@anbene  & @JasonWHowell FYI.

[2020-09-03 06:37] SwathiDhanwada-MSFT commented on #62003
@juanjojulian Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-03 07:00] flatproject commented on #61856
Hi, my question is not about how to create a custom command but about the custom command getting lost after using Visual Studio Publish.

My "Startup Command" is "sh custom_startup.sh" and the script contains the below 👍

#!/usr/sh
sed -i 's/SECLEVEL=2/SECLEVEL=1/g' /etc/ssl/openssl.cnf
cd /home/site/wwwroot
dotnet V8.Api.dll

The custom script is part of my deployment.

The issue is that after ev

[2020-09-03 07:02] IgnacioAlvarezArenas commented on #61788
Thanks Ryan!

[2020-09-03 07:14] oz1212 opened #62004 "Database Audit in Event Hub - Events partitioning"
Hello,

We are a big company that have a SaaS product that needs to collect database audit events from our customers Event Hubs.

When configuring the database to stream events into Event Hub (see Azure sql for example [here](https://docs.microsoft.com/en-us/azure/azure-sql/database/auditing-overview#audit-event-hub-destination)), there is no configuration that specifies **how the DB will divide t

[2020-09-03 07:16] rukasakurai opened #62005 "How to specify a proxy uri in the connection string of BlobServiceClient"
According to this GitHub issue,
https://github.com/Azure/azure-storage-java/issues/48
there seems to be a way to specify a proxy uri in the connection string, but I can't find any official documentation on docs.microsoft.com about this.

To provide some context, I'm getting a "No valid combination of account information found." error when I try to connect to Blob storage through a proxy uri that I

[2020-09-03 07:42] Derek1101 opened #62007 "Sentence in code block"
Hi, in the section "Deploy to AKS", a sentence is mistakenly included in code block.
![image](https://user-images.githubusercontent.com/13619681/92085805-e7d08c80-edfb-11ea-817f-8c8829029b81.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6910eb2-9a76-916c-133c-6d1b37cd077d
* Version Independent ID: adb35769-d52c-

[2020-09-03 07:51] aelking commented on #61937
Hi @mrbullwinkle Thank you for your response. I got yours working, and I was already at the same point.

What I want from the custom apps is to go from the basic availabilityResult to have the related transactions/webTestResults
e.g. From
![image](https://user-images.githubusercontent.com/13243172/92086495-29444600-edc2-11ea-9dd7-c212a6af32bb.png)

to

![image](https://user-images.githubuserconten

[2020-09-03 08:15] AndyBunning commented on #45852
Hi,
Is it possible to get some more information than this?
An example of when you would use this option and example code would be really useful as there is no examples in the customer policy started kit.
Thanks!

[2020-09-03 08:31] JasSuri commented on #45852
@AndyBunning Does this sample give some insights on the usage?
https://github.com/azure-ad-b2c/samples/blob/master/policies/invite/policy/SignUpInvitation.xml

[2020-09-03 08:33] SirElTomato commented on #61958
Thanks @mrbullwinkle. I just found that page and created a PR before I found your reply! [PR](https://github.com/MicrosoftDocs/azure-docs/pull/62008) if its still relevant.

[2020-09-03 08:34] #61958 closed

[2020-09-03 08:47] GowthamDisys commented on #61690
@RohitMungi-MSFT The tool is unable to recognize the table is my query. There are other services in the market, which can recognize these types of tables. Most of the invoice documents won't have clear boundaries in it. It would be useful, only if the tool is able to recognize these types of tables or if the user has a choice to tag these types of tables as "table", which is not implemented right

[2020-09-03 09:03] lindhe commented on #61959
Thanks for the response. I will try to clarify.

Yes, I mostly agree about this part. Indeed `kubectl` 1.18.1 is supposed to be compatible with server version 1.17.7, and I also believe it is.

The big issue here is that it's obviously not true that _"if your kube-apiserver is at 1.17, then you can use versions 1.16 to 1.18 of kubectl with that kube-apiserver"_, if Managed AAD is enabled. It _shou

[2020-09-03 09:21] olitomlinson opened #62011 "Misinformation"
Please remove this section as this is not the actual behavior. (confirmed in support case : 120090224004842 )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 261bba89-1910-13a4-145c-4c16e2659409
* Version Independent ID: 8cd0799c-6656-22f7-5e62-37563ddf15df
* Content: [Service Bus queues and topics as event handlers for

[2020-09-03 09:31] VikasPullagura-MSFT commented on #62007
@Derek1101 Thanks for pointing this out. The document is updated and changes will go live soon.

[2020-09-03 09:36] AndyBunning opened #62012 "Example of OpenIdConnect Technical Profile"
This information is great but is there any examples of a Technical Profile where this can be run directly from a User Journey Orchestration Step (not as a Validation Profile as in the Custom Policy Started Pack)?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54adceb-9510-aeb5-0c61-c0d052459cda
* Version Indep

[2020-09-03 09:41] guidovossen opened #62013 "unclear if the storage of the data is included or excluded"
Hi, I get that the pricing of the the data for the capture only? The actual captured data, so lets say you capture 1GB of data , that 1 GB of data is then also charged as storage costs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71093e2a-bbff-3a79-5f16-289a3a5f6cd7
* Version Independent ID: e4e9873d-0ae7-25a4-16d1-

[2020-09-03 09:44] #62007 closed

[2020-09-03 09:57] AjayKumar-MSFT commented on #62002
@rachelxj-ms, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-03 10:04] #57511 closed

[2020-09-03 10:11] hofmannma commented on #56366
meanwhile it got fixed

with best regards,

Markus
____________________________________________________________________________________________________________________
hofmann.ma@pg.com | P: +1(513)627-1884
IT Solutions, Cloud Center of Expertise Platform Architect
The information in this e-mail and any attachments is confidential and may be legally privileged. It is intended solely for the addres

[2020-09-03 10:18] hermandr opened #62014 "How to connect the output of "Tune model hyperparameters"?"
![image](https://user-images.githubusercontent.com/10177608/92102745-9206df00-ee11-11ea-942d-c362adce18f4.png)

There are 2 outputs to this step.
There is no documentation what the 2 outputs are.
By drag and drop, it seems that the left output is the data - which data?  Validation set or the Training set?
The right output seems to be the selected model.
The right output (model) then connects to th

[2020-09-03 10:21] aatb0815 opened #62015 "Outdated Instruction"
https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-tutorial-migrate#create-the-vault-in-any-region-except-the-source-region

Old:
In Recovery Services vaults, select Overview > ContosoVMVault > +Replicate.

New:
In Recovery Services vaults, select ContosoVMVault > Replicated items > +Replicate > Azure Virtual Machines.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-09-03 10:25] YusukeTobo opened #62016 "Migration can mix the Windows and Linux apps in the same resource group and region."
In spite of the limitation, we can place the Windows and Linux apps in the same resource group even though they are in the same region.

#### How to Reproduce the Issue
Please place the plans and apps in the same region.

1. Create a App Service Plan of Windows Platform in Resource Group A.
2. Create a App Service Plan of Linux Platform in Resource Group B.
3. In Resource Group A, create a App Ser

[2020-09-03 10:25] ram-msft commented on #61977
@shashishailaj Thanks for the feedback. We are looking into this and will get back to you soon.

[2020-09-03 10:26] SadiqhAhmed-MSFT commented on #61670
@NickatTheta Checking in to see if @dhirajgandhi response helped answer your query.

[2020-09-03 10:28] ram-msft commented on #61978
@hiendang Thanks for the feedback. We are looking into this and will get back to you soon.

[2020-09-03 10:30] SwathiDhanwada-MSFT commented on #61678
@karthiksriramuoa Just following to check if you had chance to check my previous comment.

[2020-09-03 10:32] dhirschfeld commented on #62003
I am also seeing this error. Just updating to the latest versions to see if anything changes...
[code]

[2020-09-03 10:35] ram-msft commented on #62014
@hermandr Thanks for the feedback. We are looking into this and will get back to you soon.

[2020-09-03 10:40] KalyanChanumolu-MSFT commented on #62004
@oz1212 Thank you for your interest in Azure services.

@DavidTrigano Could you please help here?

[2020-09-03 10:46] vaughanh1 opened #62017 "Impossible to follow this tutorial"
Hi,

Having followed this document, it simply does not work. Please follow this tutorial yourself and correct all that is required in order to get it working.

E.g. Step 9 of Configure Oauth2 for API Management states: "Lastly, now record the redirect_uri of the auth code grant from API Management for later use."
This URI is completely wrong. I spent many days going over all the settings and was f

[2020-09-03 10:56] lightupdifire opened #62018 "The remember Multi-Factor Authentication feature isn't compatible with the keep me signed in feature of AD FS"
Hello,

Please explain how to correctly understand this note "The remember Multi-Factor Authentication feature isn't compatible with the keep me signed in feature of AD FS", is it simply not to use the "remember Multi-Factor Authentication feature"? No other solution available if we would like to use "remember feature"?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-09-03 11:02] AjayKumar-MSFT commented on #62016
@YusukeTobo, Thanks for the detailed question! We are taking a look into this and will get back to you soon.

[2020-09-03 11:17] JayaChatterjee-MSFT commented on #62011
@olitomlinson Thank you for your feedback! We will review and update as appropriate.

[2020-09-03 11:18] SadiqhAhmed-MSFT commented on #62015
@atb815 Thanks for the feedback. We will review the doc and make necessary changes.

[2020-09-03 11:30] Aiv114 opened #62019 "Clarify Step 9C"
[Enter feedback here]

Can some please explain step 9C? I dont realy get it where "Attribute Value" is in AAD. Maybe add a screenshot to this part clarify somewhere above where this needs to be filled in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e5ca67-5719-9aa3-e294-6cefa40b2c87
* Version Independent ID: 5241e

[2020-09-03 11:31] fawohlsc opened #62020 "Consideration of child resources missing in documentation for DeployIfNotExists effect"
When describing the [DeployIfNotExists properties](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/effects#deployifnotexists-properties) in our docs, it's stated for the **Name** property that when the condition values for **if.field.type** and **then.details.type** match, then **Name** becomes *required* and must be *[field('name')]*. This is not entirely correct, since for sub

[2020-09-03 11:33] CHEEKATLAPRADEEP-MSFT commented on #62013
@guidovossen The total size of all stored events, including any internal overhead for event headers or on disk storage structures in all event hubs in a namespace is measured throughput the day. At the end of the day, the peak storage size is calculated. If the total size exceeds the storage allowance, the excess storage is billed using the locally redundant Azure blob storage rate.

![image](http

[2020-09-03 11:36] gabrielweyer opened #62021 "IFunctionsConfigurationBuilder is only available in the preview version of Microsoft.Azure.Functions.Extensions"
`IFunctionsConfigurationBuilder` was introduced in version [1.1.0-preview1 of Microsoft.Azure.Functions.Extensions](https://www.nuget.org/packages/Microsoft.Azure.Functions.Extensions/) which was released on the 12th of August 2020.

I think the section _Customizing configuration sources_ should be removed until 1.1.0 is released as it might mislead the reader into thinking than `IFunctionsConfigu

[2020-09-03 12:01] SadiqhAhmed-MSFT commented on #62015
@Rajani-Janaki-Ram FYI.

[2020-09-03 12:05] Sharmistha-Rai commented on #62015
@SadiqhAhmed-MSFT - please assign it to me.

[2020-09-03 12:08] mmastersvz commented on #61813
Thank you for the feedback.  Go ahead and close the issue

[2020-09-03 12:09] SwathiDhanwada-MSFT commented on #62003
@juanjojulian @dhirschfeld  Can you please try executing the below az command before trying "az monitor log-analytics solution" command ?

`az extension add --name log-analytics-solution`

When you execute above command, you will be prompted with below warning which is expected.

![image](https://user-images.githubusercontent.com/48976275/92113051-5e758600-ee0c-11ea-944e-15a34e12a32b.png)

[2020-09-03 12:12] SwathiDhanwada-MSFT commented on #61122
@tfitzmac @mumian Can you please update the doc with above information ?

[2020-09-03 12:22] SwathiDhanwada-MSFT commented on #61991
@elvirk Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-03 12:23] shashishailaj commented on #61985
@skluzn Thank you for your suggestion . We have engaged the content author on the same and they will review this request and update the thread .

[2020-09-03 12:26] hiteshtulsani opened #62022 "Need admin aproval"
After configuring the app, it always says "Need admin approval"

![image](https://user-images.githubusercontent.com/7223344/92114540-92a87100-ee23-11ea-86dd-1b7095956f4b.png)

What changes are needed in the code to redirect to get user consent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c144ab50-3b66-b15c-a609-2d13

[2020-09-03 12:26] shashishailaj commented on #62000
@TomPGParker Thank you for your feedback . We have engaged the content authors for reviewing this request and making changes to the document as necessary.

[2020-09-03 12:27] shashishailaj commented on #62012
@AndyBunning Thank you for your feedback . We will investigate and update the thread.

[2020-09-03 12:28] shashishailaj commented on #62018
@lightupdifire Thank you for your feedback . We will investigate and update the thread.

[2020-09-03 12:29] shashishailaj commented on #62019
@Aiv114 Thank you for your feedback . We will investigate and update the thread.

[2020-09-03 12:30] shashishailaj commented on #61990
@fordprefect480 Thank you for your feedback . We will investigate and update the thread.

[2020-09-03 12:39] Blackmist commented on #61325
Hi @rohancragg , thanks for asking about this. I've spoken to the engineering team and they have confirmed that the APIs and SDK endpoints are covered by the private endpoint. I'll work with engineering to update the document with this information.

[2020-09-03 12:42] perttvil commented on #29856
So what exactly was the answer?
Is one required to manually update the "ASAJobInfo"-property in the Module Twin configuration?
So there is no Visual Studio Code Iot Edge Tool command for this?

[2020-09-03 13:00] DCtheGeek commented on #62020
#assign:DCtheGeek

[2020-09-03 13:00] DCtheGeek commented on #62020
@fawohlsc Thanks for the feedback.  I'll validate with the engineer and get back to you.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2020-09-03 13:01] Blackmist commented on #61325
Hi @ernieglink , thanks for asking about the ml pipeline endpoint. From speaking to engineering, communication to the published pipeline should also be covered by the private endpoint. I'll work with engineering to update the documentation with information on this.

[2020-09-03 13:02] mrmyss2018 opened #62023 "Installation has failed- cannot install for all users when a VDI environment is not detected"
Hi, Currently experiencing an issue installing teams machine wide on a WVD host pool. I have followed the instructions including adding the registry key IsWVDEnvironment

![image](https://user-images.githubusercontent.com/42349786/92118107-eef09e00-eded-11ea-899e-d81871d7af6c.png)

 however I am returned with the following error message;

![image](https://user-images.githubusercontent.com/42349786

[2020-09-03 13:10] SwathiDhanwada-MSFT commented on #62003
@bwren Can you please review and approve PR request ?

[2020-09-03 13:12] Assassinbeast opened #62024 "BlobClient Uri now returns url encoding paths. Is this intended?"
Hi, in the old version of Azure.Storage.Blobs (12.4.4 and down), the BlobClient.Uri returns a uri without the path encoded, but the new versions (12.5.1 and up), returns uri with path as encoded characters.

Example: below is the old versions 12.4.4
![image](https://user-images.githubusercontent.com/6762656/92118168-64f90300-edf6-11ea-81cd-f28eb521886e.png)

And below here is new version 12.5.1
![

[2020-09-03 13:47] vivek781113 opened #62026 "Error while publishing asp .net core 3.1 web app from docker image from docker hub to azure web container service."
⚠ Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

ID: 593c3abc-7b38-6673-62b6-7787d0dda4dd
Version Independent ID: cbb2b875-b220-596c-7b4d-c2cf6c644335
Content: Deploy a Docker container app - Azure Pipelines
Content Source: docs/pipelines/apps/cd/deploy-docker-webapp.md
Product: devops
Technology: devops-cicd
GitHub Login: @RoopeshNair
Microsoft Alias: ron

[2020-09-03 14:04] #56366 closed

[2020-09-03 14:11] amanmcse commented on #62012
@AndyBunning Thank you for reaching out. Could you please elaborate it more on what you want to run directly from User Journey Orchestration Step and not Validation profile?

[2020-09-03 14:15] SimonSimonsson opened #62027 "Cosmos SQL api only?"
When testing this on the sink for "Cosmos DB Mongo API" is greyed out, but not SQL api. Is it only supported for SQL API? And the scenario could use a few more screenshots along the way. Otherwise a great feature, long awaited.
BR
Simon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c13a0ad8-dc03-358f-c04b-d98ad09bf629

[2020-09-03 14:21] matthewjlevy opened #62028 "Conditional Access Cloud Apps set to None has no effect."
In the conditional access policy creation process, admins have three options pertaining to cloud apps: "**None**", "**All Cloud Apps**" and "**Select apps**".  I have tested a policy where "**None**" is selected and there are conditions such as "Any location" etc. and the policy is not enacted because the application is "**Not satisfied**". Is there any reason an admin would select "None" for clou

[2020-09-03 14:25] #61790 closed

[2020-09-03 14:29] shashishailaj commented on #61989
@geneescober Thank you for sharing the same. We will engage the content authors and have this request reviewed.

[2020-09-03 14:29] shashishailaj commented on #61989
@jeevansd Could you please take a look at this request ?

[2020-09-03 14:30] PaulTzl opened #62030 "Log Analytics"
It might be helpful to explain at the start of this page that data plane type logs can be sent to a number of destinations. A storage account is just one of these. You can also choose Log Analytics and Event Hubs.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7f16616-4848-55f3-f6aa-f95f566811e9
* Version Independent

[2020-09-03 14:36] SaurabhSharma-MSFT commented on #62022
@hiteshtulsani Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-03 14:38] mwsutherland opened #62031 "What are the other valid setting values?"
Based on the options in the Azure Portal, there should be 5 options for performanceScenario (4 test types and none), but the only one I can find documented anywhere is the default, basic. The other properties are similarly lacking in documentation of their valid options. We are basically left to guess at the non-default values. Can documentation of these properties be expanded to at least include

[2020-09-03 14:40] #50326 closed

[2020-09-03 14:51] ronortloff commented on #61433
#please-close

[2020-09-03 14:51] #61433 closed

[2020-09-03 14:55] zr-msft commented on #50326
Thank you @jotavar for the feedback.

I've updated the article to address your feedback and the changes should be available soon.

[2020-09-03 14:59] HockeyJustin opened #62033 "Azure B2C - Adding Privacy Statement - UI Screenshots no longer valid"
The [Updating Terms of Service via the UI](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-terms-of-service-privacy-statement#azure-portal) page has screenshots for how to update via the UI, but that UI no longer exists.

The documentation below details how to update [via the manifest](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-terms-of-serv

[2020-09-03 15:02] SaurabhSharma-MSFT commented on #61870
@jose-lima2011 I am able to see the email contact list on the page and it is not removed.  Can you please share screenshot of your Azure portal ?

![image](https://user-images.githubusercontent.com/38112130/92132170-a91ae200-edbb-11ea-8d70-cf68478f9b7f.png)

[2020-09-03 15:10] jgwinner opened #62034 "CI/CD with Windows machines"
This article is great, but doesn't mention how to do CI/CD with Windows machines.

We have a Windows only app that has to be installed, and it would be nice to see an article on how to do CI/CD with that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 768a9a7d-dc65-3051-13d4-8badef9ae26b
* Version Independent ID: b4822

[2020-09-03 15:11] bgever opened #62035 "Add instructions how to set environment variables used during Static Web Apps build"
The build process of a Static Web App may require to be configured with specific environment variables.

I found out that I can add the `env` section to a job spec.

It would be helpful to document how to set this optional configuration, and how you can leverage GitHub secrets to pass in the values.

Example (partial YAML file, note the last 2 lines):

[code]

---
#### Document Details

⚠ *Do not

[2020-09-03 15:13] mimckitt commented on #42037
Just an FYI, we do have RHEL docs: https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/redhat/overview

Seems they were disconnected from our main TOC.

I added the connections to the supported distros and under the Run Applications section so people can now navigate to it easier.

We are also going to be moving the RHEL stuff into the Linux TOC shortly.

#please-close

[2020-09-03 15:15] sguha-v opened #62036 "We have installed Self Hosted Integration Runtime on server A. It worked fine with ADF with key K1. After few days we asked infra team to "clone" the server A to server B with different IP. So the K1 also got cloned. Now we have two SHIR server pointing to the same ADF with same key K1. The ADF started malfunctioning. It is complaining that it is trying to sync credentials across nodes. When I stopped service on server B the server A started showing status "Limited Functionality". When I chose to "Force Credential Sync" it started working again. My question is is it expected behavior of multiple SHIR servers with same ADF key?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-09-03 15:16] ronaldb opened #62037 "Pod "nginx-ingress-ingress-nginx-admission-create-xxxx" is in continuous ContainerCreating status"
When deploying the helm chart for the ingress-nginx instance, 3 pods are created: 2 copies of the ingress-nginx-controller, and one ingress-nginx-admission pod. This latter pod never finishes creating.

Doing a describe on the pod, I see the following lines at the end:

[code]

I do not remember seeing this error with the old version of the docs, which referenced the (deprecated) kubernetes-charts

[2020-09-03 15:18] MonikaReddy-MSFT commented on #62036
@sguha-v -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-03 15:20] jocortems commented on #61906
@tomtechnologies thank you for the feedback. Scenario 1 assumes that all of the Private Endpoints are deployed to a dedicated spoke VNET; there are no Private Endpoints in other spoke VNETs where other workloads have been deployed (i.e. Virtual Machines); in this scenario the spoke VNETs won't get the /32 host route to the Private Endpoint programmed as a System Route because they are not directly

[2020-09-03 15:20] ronaldb commented on #62037
There is a similar [issue](https://github.com/kubernetes/ingress-nginx/issues/5401) over on the kubernetes/ingress-nginx repo, where the workaround seems to be to disable the admissions webhook. Should that be included in the documentation?

[2020-09-03 15:25] kenwith commented on #61930
@akingscote - thank you for taking the time to improve the docs and also to answer on SO. I know it takes time to help others once you learn and become an expert in something and I greatly appreciate you. I added a section with a link to the docs on the Graph API and the relevant section you used in your example. It is a nice idea with using the `az rest` and maybe that would be a great example to

[2020-09-03 15:25] kenwith commented on #61930
#please-close

[2020-09-03 15:25] #61930 closed

[2020-09-03 15:28] jgwinner opened #62038 "Copy files to VM"
I was looking for how to copy files to a _Windows_ VM.

In the sidebar table of contents/index, this seems to be the right link "Copy files to VM" but it only covers Linux.

There needs to be an article on "How to copy files to a WIndows VM" or a section added to this page that shows how to do that.

I tried the WinSCP commands, and they failed, although my VM O/S disk is set to public - all netwo

[2020-09-03 15:29] leesmith commented on #12728
@cander I'm having the _exact_ same problem here with my Rails app. Could you be so kind as to share how you registered the mime type in Rails? Thanks so much!

[2020-09-03 15:32] blueelvis commented on #23801
@CHEEKATLAPRADEEP-MSFT - Why has this been closed? The documentation page referenced by OP needs to be updated with the status codes as mentioned above. Please open this again.

[2020-09-03 15:34] oising commented on #44425
I am seeing this behaviour also.

@TravisCragg-MSFT

[2020-09-03 15:35] tfitzmac commented on #61960
@gbgJonas - thanks for this feedback. I have added clarification about the deployment mode. It will get published later today.

[2020-09-03 15:35] tfitzmac commented on #61960
#sign-off

[2020-09-03 15:36] RyanHill-MSFT commented on #61632
@karthikeyanVK email us at _AzCommunity[at]microsoft[dot]com_ ATTN Ryan so we can work more closely with you. Include your subscription id in the email.

[2020-09-03 15:36] tfitzmac commented on #61960
#please-close

[2020-09-03 15:36] #61960 closed

[2020-09-03 15:36] gsharma001 opened #62039 "Access Packages user cannot extend Access"
[
All, my customer want to create an Access Package that

1) Is administratively Assigned to the user
![image](https://user-images.githubusercontent.com/55015102/92138632-3d249200-ee2c-11ea-9366-a5a98b767115.png)

 2) Then let user EXTEND access as needed
![image](https://user-images.githubusercontent.com/55015102/92138830-883ea500-ee2c-11ea-8501-68cf96a38371.png)

With settings above when the use

[2020-09-03 15:49] jose-lima2011 commented on #61870
I think I didn't explain it correctly, the security center generates a non-compliance by CIS: 2.17.
Ensure that security contact 'Phone number' is set

This compliance was previously corrected in the phone field that no longer exists according to your printscreen. The question is: does this field exist? was it depreciated? if so why is the Security Center signaling this non-compliance?

![image](h

[2020-09-03 15:50] jtuliani opened #62040 "Default minimum TLS version is now 1.2 (via Portal at least)"
Doc states: By default, Azure Storage accounts permit clients to send and receive data with the oldest version of TLS, TLS 1.0, and above.

I just created a storage account from the Azure portal using default settings.
The minimum TLS version is 1.2
Regardless of if the REST API has a different default that might be being overridden by the portal, or if this is a change in the default at the REST

[2020-09-03 15:51] #61813 closed

[2020-09-03 15:55] PatAltimore commented on #61766
Hi @pingpongset,

It is possible you experiencing the bug. Probably the best way to find out is to troubleshoot your logic app. This article explains how you can diagnose workflow failures: https://docs.microsoft.com/azure/logic-apps/logic-apps-diagnosing-failures.

I set up a simple test using a logic app and the Ethereum connector. Mine failed with the following error:

[code]

I'll follow up to

[2020-09-03 15:56] PeterCLu commented on #61469
@ericcwk. Since it's been a few days since we've heard back from you I'll proceed to #please-close this issue.

If you have any follow up questions, or if you feel that your documentation issue has not been resolved, please feel free to open a new issue with additional information.

Thanks for your feedback

[2020-09-03 15:56] #61469 closed

[2020-09-03 15:58] PeterCLu commented on #62014
@likebupt, can you assist?

[2020-09-03 16:01] Sharmistha-Rai commented on #62015
I have updated the document. It'll be up in a couple of hours.

[2020-09-03 16:02] DerekHerman-MSFT commented on #61942
@assaf-grth
UsedCapacity is a metric available in Azure Monitor and will not be affected. A list of Metrics in Azure Monitor can be found here:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftstoragestorageaccounts

[2020-09-03 16:02] #61942 closed

[2020-09-03 16:02] jgwinner opened #62041 "Azure Disk Storage connection"
So, on the Azure OS portal for an O/S disk for a Windows machine, it says:

You can import or export **from** your managed disk either publicly or privately, using a private endpoint. To support disks at scale, a disk access resource is created to manage the private endpoints.

X Public endpoint (all networks)
...

"All networks will be able to access this managed disk
Learn more about connectivit

[2020-09-03 16:04] SatishBoddu-MSFT commented on #61724
Hello @suterma Please submit your feedback on the below link.
https://feedback.azure.com/forums/321918-azure-iot-hub-dps-sdks.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers

[2020-09-03 16:06] JamesTran-MSFT commented on #62033
@HockeyJustin
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-03 16:08] JamesTran-MSFT commented on #62030
@PaulTzl
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-03 16:10] derekolo opened #62042 "Peering Service is no longer in preview - need to remove (preview) from this page."
Peering Service is no longer in preview. Preview in parentheses should be removed next to the Peering Service title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 593e34b2-7d83-3621-28d4-aed19e65964c
* Version Independent ID: cfd98755-174f-dad3-4fb3-abf46b301e1f
* Content: [Azure networking services overview](https://

[2020-09-03 16:16] DerekHerman-MSFT commented on #62005
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-03 16:20] DerekHerman-MSFT commented on #62040
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-03 16:25] BertAnthonyRochester opened #62043 "berzurrple done"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b97b9a9-93b9-f6ca-dc74-50e9a8eda668
* Version Independent ID: f92fce09-c519-f697-8e13-5ead2663fe51
* Content: [Storage account name errors - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/error-storage

[2020-09-03 16:29] WinstonHoward-MSFT commented on #61961
Hi @asubmani,

Can you further elaborate on which doc your referring to? The linked doc to this issue doesn't mention the above queries. Thanks!

[2020-09-03 16:35] palma21 commented on #61959
It's a very fair point, we're looking into ways of letting users know about their kubectl version compat. We didn't want to limit it just to 1.18 API since you can technically use normally with 1.17 API and 1.18 kubectl or with any version of Kubernetes and kubelogin which also allows you to use any kubectl version too.

We will try to be more proactive in that warning when the feature is enabled.

[2020-09-03 16:40] anbene commented on #61946
@asorokaChorus - Happy to help!

We'll add that info to our documentation. I'm closing this issue, please reach out again if you have additional feedback. Thanks for your contribution!

#please-close

[2020-09-03 16:40] #61946 closed

[2020-09-03 16:40] #53698 closed

[2020-09-03 16:42] zr-msft commented on #53698
Thank you @ezYakaEagle442 for the feedback.

I've updated the article to address your feedback and the changes should be available soon.

[2020-09-03 16:43] DCtheGeek commented on #62020
@fawohlsc The team has confirmed this, so I've updated the doc.  When that PR merges, this issue will automatically be closed. Thanks again for the feedback and pointing this out!

[2020-09-03 16:44] himanshusinha-msft opened #62044 "Is XML file format support by Autoloader ?"
Is XML file format support by Autoloader ?

I am assuming its not , as streaming file data sources supported file formats are text, CSV, JSON, ORC, Parquet.,
 if thats the case we need to update this doc .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 141a682b-afaa-a36c-f3cc-baab732b38a9
* Version Independent ID: 6202

[2020-09-03 16:44] SnehaGunda commented on #61910
We will close this issue now.

#please-close

[2020-09-03 16:44] #61910 closed

[2020-09-03 16:45] kailasandhale commented on #60167
@bwren  @KrishnaG-MSFT  It's been a month since I raised this PR. can someone check this?

[2020-09-03 16:51] #62020 closed

[2020-09-03 16:59] BharathNimmala-MSFT commented on #62043
@BertAnthonyRochester Thank you for reaching out to us on this channel.

Can you please share the additional information on your query so that we can assist you accordingly ? thank you .

[2020-09-03 17:02] mike-urnun-msft commented on #62017
@vaughanh1 Thank you for your feedback! We will review and update as appropriate.

[2020-09-03 17:04] mike-urnun-msft commented on #62021
@gabrielweyer Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-03 17:10] AshokPeddakotla-MSFT commented on #61708
@TwoPatient Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

if you have a product-related question, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

[2020-09-03 17:10] #61708 closed

[2020-09-03 17:16] tfitzmac commented on #61122
Yes, I will work on that update today.

[2020-09-03 17:18] mikesorensen5 opened #62046 "Address Storage Services"
Would like this article to address how to get/setup FTP services with Azure storage or link to an article covering this topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550031e-4cf6-8d15-84e3-1c2b58951f80
* Version Independent ID: 1a927119-0540-dfd9-9435-5c29c014daff
* Content: [Introduction to Azure Storage - Cl

[2020-09-03 17:20] dimitri-furman commented on #38695
@konaws - Yes, each Premium or Business Critical elastic pool has a read-only replica that provides a separate allocation of compute capacity. For each database in such a pool, read-only workloads can run on this replica if read scale-out is enabled for the database. We will update this documentation article to make this more discoverable.

[2020-09-03 17:25] SubhashVasarapu-MSFT commented on #62042
@derekolo, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-03 17:25] #62042 closed

[2020-09-03 17:29] KranthiPakala-MSFT commented on #62027
@SimonSimonsson
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-09-03 17:30] KranthiPakala-MSFT commented on #62044
@mssaperla Could you please review the above feedback and d the helpful needed. Thank you.

[2020-09-03 17:32] BryanTrach-MSFT commented on #62035
@bgever Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-03 17:32] Blackmist commented on #61325
The doc update has been merged and will go live later today.

#please-close

[2020-09-03 17:32] #61325 closed

[2020-09-03 17:37] SubhashVasarapu-MSFT commented on #61986
@walawe, Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-03 17:37] #61986 closed

[2020-09-03 17:42] himanshusinha-msft commented on #62023
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-09-03 17:47] MarileeTurscak-MSFT commented on #62028
@matthewjlevy
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-03 17:49] jl-ms commented on #48257
I'll work with @atambawala to review this

[2020-09-03 17:49] DaveBagler opened #62047 "Set up sign-up and sign-in with a Google account using Azure Active Directory B2C - Authorized JavaScript origins"
When attempting to create an Oauth client ID, Google displays the following error message for the Authorized JavaScript origins:
[code]

And the Create button is disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9d9c00-1382-c578-6b0d-7b5f9d63eebd
* Version Independent ID: ce817a72-ca0d-ce18-f6ac-fc4812e9245d
*

[2020-09-03 17:49] MarileeTurscak-MSFT commented on #62039
@gsharma001
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-03 17:49] DaveBagler commented on #62047
Nevermind, I misread the doc.

[2020-09-03 17:49] #62047 closed

[2020-09-03 17:50] jl-ms commented on #30604
I'll work with @altambaw to review this

[2020-09-03 17:55] KranthiPakala-MSFT commented on #62027
Hi @SimonSimonsson , if a data source is grey out, that means, it is still not supported. Yes, currently only "Azure Cosmos DB (SQL API)"is supported in ADF mapping Data flow sink but not "Azure Cosmos DB Mongo API".

This could a feature request. I would encourage you to please share your feature request feedback/suggestion in ADF user voice forum : https://feedback.azure.com/forums/270578-data-f

[2020-09-03 17:55] #62027 closed

[2020-09-03 17:57] lindhe commented on #61959
I think that's inaccurate. If I'm not mistaken, RBAC cannot be disabled once Managed AAD is enabled, thus `kubectl` <1.18 will not work at all for anyone (except for cluster owners, whom may use the `az aks get-credentials --admin` option to bypass RBAC).

Also, it would not help to limit it to API server version 1.18, since `kubectl` 1.17 should work with server version 1.18. You would have to li

[2020-09-03 18:01] himanshusinha-msft commented on #62031
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-03 18:01] WinstonHoward-MSFT commented on #62034
Thanks for the feedback! As of this moment, we don't have a quickstart specifically for CI/CD to Windows VMs. I will bring this up internally but the guidance would be to reference this quickstart as you can use those steps for any app that publishes a web deployment package.

[2020-09-03 18:02] WinstonHoward-MSFT commented on #62034
Let me know if you have a follow-up question, if not I will close this doc issue. Thanks!

[2020-09-03 18:03] himanshusinha-msft commented on #62037
\
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-09-03 18:04] himanshusinha-msft commented on #62038
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-03 18:05] himanshusinha-msft commented on #62041
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-03 18:06] himanshusinha-msft commented on #62046
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-03 18:07] mc1brew opened #62048 "Described default functionality of "no label" being only set of keys being loaded does not match execution without label filter.."
Per the page documentation:
"By default, Azure App Configuration only loads configuration values with no label. If you've defined labels for your configuration values, you'll want to specify the labels to use when connecting to App Configuration."

However when using Asp.Net Framework 4.7.2 and configBuilders defining a connection string that looks like the below without a label filter I receive b

[2020-09-03 18:10] kromerm commented on #61072
@djpmsft Did you remove the graphic being asked about above?

[2020-09-03 18:12] djpmsft commented on #61072
I reorganized and updated the article. I may have removed the graphic if it was outdated. What information do we want to see?

[2020-09-03 18:12] himanshusinha-msft commented on #62024
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Q & A and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2020-09-03 18:15] kromerm commented on #61072
This is a question for @SqlRescuedLokesh

[2020-09-03 18:18] Assassinbeast commented on #62024
Ahh sorry, i'll try to post in a more relevant place

[2020-09-03 18:20] himanshusinha-msft commented on #62026
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-09-03 18:21] JamesTran-MSFT commented on #61897
@brucedkyle
I just wanted to check in and see if you had a chance to review my previous post.

Please let me know if you have any other questions.
Thank you for your time.

[2020-09-03 18:28] rwike77 commented on #60781
@Vivelin  Thanks for pointing this out.  I've added the Groups assigned to the application option to the UI and app manifest sections.  Updates should publish live later today. @paulgarn FYI.  #please-close

[2020-09-03 18:28] #60781 closed

[2020-09-03 18:43] SqlRescuedLokesh commented on #61072
I really liked that data flow transformation converted to spark picture

On Thu, Sep 3, 2020, 11:46 PM Mark Kromer <notifications@github.com> wrote:

[2020-09-03 18:45] djpmsft commented on #37365
#assign nabhishek

[2020-09-03 18:45] djpmsft commented on #37365
@nabhishek Assigned you as its an IR issue

[2020-09-03 18:50] jeffputz opened #62050 "Serving static files documentation"
It would be ideal if the FAQ explained how to just serve static files on a Linux app service, with the usual cache headers and possibly gzip. Yes, I'm aware of the static file product, but it's in preview, and frankly we just need the simplicity of uploading static assets dumb-style by FTP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-09-03 18:50] kromerm commented on #57123
@djpmsft

[2020-09-03 18:53] djpmsft commented on #61824
Hey @brentleslie ,

Each activity that has usuable output has a list of accessible values in the documentation. If you feel there are any gaps please open an issue on that document.

The ForEach activity does not have any output you can use in future activities which is why it isn't documented. To get the number of items, I suggest you get the length of the ForEach activity items input.

As I answ

[2020-09-03 18:53] #61824 closed

[2020-09-03 18:53] bandersmsft commented on #61503
@fallmake Thanks for letting us know about the situation. The Reservation team is looking at this issue. You're right. Only users from the same AAD tenant as the subscription can purchase the reservation. If a user is a guest of the tenant they can't make a purchase.
#please-close

[2020-09-03 18:53] #61503 closed

[2020-09-03 18:54] MarileeTurscak-MSFT commented on #61968
Thanks! I made a pull request to remove that. https://github.com/MicrosoftDocs/azure-docs-pr/pull/128438

[2020-09-03 18:54] #61968 closed

[2020-09-03 18:55] djpmsft commented on #59648
@chez-charlie can you ensure there is proper documentation on how to pass tumbling trigger variables to an activity?

[2020-09-03 18:56] djpmsft commented on #59648
#reassign chez-charlie

[2020-09-03 18:57] bandersmsft commented on #61083
@bunkrur Hi there. This article is specifically for CSP partners with a Microsoft Partner Agreement. Partners can't create new billing profiles.
#please-close

[2020-09-03 18:57] #61083 closed

[2020-09-03 18:57] djpmsft commented on #55862
Closing as there seems to be no open items. Feel free to keep commenting

#please-close

[2020-09-03 18:57] #55862 closed

[2020-09-03 18:59] BertAnthonyRochester opened #62053 "WELL IT'S A START"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea95f9c8-e0ad-93d2-cac2-0b486a684600
* Version Independent ID: e03365fb-056d-1388-1cc3-01c009b1d2ec
* Content: [Advanced features of Azure Metrics Explorer - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-charts#c

[2020-09-03 19:17] brucedkyle commented on #61897
This is exactly what I trying to figure out. My thanks for the clarification.

The example is explaining that there is a property that can be set in the Key Vault. In my template is set as a parameter

[code]

and then applied in the Key Vault

[code]

I appreciate the clarity that the example isn't trying to explain how to use RBAC there.

[2020-09-03 19:17] #61897 closed

[2020-09-03 19:19] djpmsft commented on #54938
Thanks for you feedback. As this is a central reference that is used by many articles, we do not believe a documentation change is needed here.

As a result I will go ahead and close this issue.

#please-close

[2020-09-03 19:19] #54938 closed

[2020-09-03 19:19] kimlundjohansen commented on #55862
So the issue is fixed?

[2020-09-03 19:21] djpmsft commented on #54349
Thank you for your feedback @VitalyMCT . We will try and update this in the near future

#please-close

[2020-09-03 19:21] #54349 closed

[2020-09-03 19:21] JayWitt opened #62054 "Incomplete list of service endpoints"
The list on this page is incomplete. Cognitive Services also supports Service Endpoints: https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-virtual-networks?tabs=portal#grant-access-from-a-virtual-network

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Ver

[2020-09-03 19:33] MarileeTurscak-MSFT commented on #61860
Hi @AndyBunning,

It can be set to "None."

This blog, for instance, has some working examples:
https://www.wintellect.com/hello-world-and-then-some-with-azure-active-directory-b2c-custom-policies-part-2-hello-world/

https://stackoverflow.com/questions/56440757/custom-policy-in-azure-ad-b2c-does-not-allow-to-save-empty-string-for-attribute

If you're facing this error I would suggest opening a th

[2020-09-03 19:33] #61860 closed

[2020-09-03 19:35] drdamour opened #62055 "is the posion queue still accurate?"
in my testing where i have a service bus based trigger that throws an exception:

[code]

i see it invoked 10 times and instead of it going to test-poison i see it ending up in the dead letter of the the test queue.  are the docs up to date? is this new behaviour?

if i switch to topic/subscription i seem to get no retry at all...but it ALSO goes to dead letter
[code]

---
#### Document Details

⚠

[2020-09-03 19:37] BharathNimmala-MSFT commented on #62053
@BertAnthonyRochester Thank you for reaching out to us on this channel.

Can you please share the additional information on your query so that we can assist you accordingly ? thank you .

[2020-09-03 19:41] SaurabhSharma-MSFT commented on #61967
@nerdie User will receive the notification if belongs to any of the roles - Privileged Role Administrators, Security Administrators, and Global Administrators that have enabled Privileged Identity Management.  You can only change/opt-out by using the  notification settings of specified role by going to Azure portal (PIM > Azure AD Roles > Roles > select specific role for which you want to change t

[2020-09-03 19:51] leodeoz commented on #57579
Hi Guys, I'm trying this but it's not working for me. :S does it need the "&" to concatenate the sas token?

[2020-09-03 19:52] shaunfindley commented on #61870
Having the same issue as stated above as well.

[2020-09-03 20:03] MarileeTurscak-MSFT commented on #62039
Thanks! I've reported this as a bug and write back on this thread with the response from the product team.

[2020-09-03 20:03] #62039 closed

[2020-09-03 20:04] marcusfm opened #62056 "Incorrect link"
in this section: https://docs.microsoft.com/en-us/azure/azure-sql/database/recovery-using-backups#geo-restore-considerations

the Recover from an outage link points to a KeyVault link https://docs.microsoft.com/en-us/azure/key-vault/general/disaster-recovery-guidance

and I guess it should point to a SQL related link?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section.

[2020-09-03 20:05] mhopkins-msft commented on #61976
Hi @DavidClausen,

Thanks for your feedback. This is not intended to be a Windows development guide. Rather, it is about developing for the Azure platform, which supports Linux and Mac OS, in addition to Windows. Therefore, the instructions are designed to work in all those environments.

Once you've created the project, you can certainly open it in Visual Studio or Visual Studio Code. In fact, I

[2020-09-03 20:05] #61976 closed

[2020-09-03 20:07] cherylmc commented on #61920
Hi! Thanks for your feedback. This isn't quite right. I'll look at wording again, but it's called a "local network". Meaning, local to you. That's why there is a local network gateway (rather than calling it a remote network gateway). Anyway, I'll take a doc bug to take a look at this. #please-close.

[2020-09-03 20:07] #61920 closed

[2020-09-03 20:07] brucedkyle opened #62057 "Can a resource be changed from not having a systemidentity to using a system identity?"
This page is awesome. And this is so interesting.

If I have already created a resources (such as AKS) that would not allow for a system  without a system identity, can I go in and add it later without having to rebuild the resources?

My scenario is that there may be resources that have been created, and I now want to grant them access to something like Key Vault.

Am I allowed to do something li

[2020-09-03 20:09] bandersmsft commented on #61670
@NickatTheta Are we good to close this issue?

[2020-09-03 20:12] SaurabhSharma-MSFT commented on #62022
@hiteshtulsani Have you or Admin consented to permissions which requires an admin consent instead of an user consent - e.g. **calendar.read** Application permissions requires an admin consent -
Application registration page.
![image](https://user-images.githubusercontent.com/38112130/92161836-0b88d800-ede6-11ea-9f75-173ce26dbf0f.png)

Also, check if "User Assignment Required" property is set as "N

[2020-09-03 20:21] NickatTheta commented on #61670
Yes, please close this. Thanks.

Nick Beacroft | Cloud Optimisation Specialist | Theta
D. +6499240083 | M. +6421781660
nick.beacroft@theta.co.nz<mailto:nick.beacroft@theta.co.nz> | theta.co.nz<https://www.theta.co.nz>

[FaceBook Logo]<https://www.facebook.com/thetasystems/>  [Twitter Logo] <https://twitter.com/thetanet/>   [LinkedIn Logo] <https://www.linkedin.com/company/theta-nz/>

From: Bill An

[2020-09-03 20:30] SaurabhSharma-MSFT commented on #61870
@jose-lima2011 Sorry about my confusion.  Yes, I see what you are talking about.  I am checking internally with the product team on this issue and update you as soon as I hear back from them.

[2020-09-03 20:36] DerekHerman-MSFT commented on #62046
@mikesorensen5 [This example](https://docs.microsoft.com/en-us/samples/azure-samples/sftp-creation-template/sftp-on-azure/) might be helpful. Please note that this relies on a third party Docker Hub image. There is not currently a native FTP solution. If you wish you can add your voice over on the [Feedback forum](https://feedback.azure.com/forums/170024-additional-services/suggestions/18484429-ft

[2020-09-03 20:36] #62046 closed

[2020-09-03 20:40] kainzuu commented on #57579
Ah yeah, it's still messy ha.  You need to put your source information at the end of our destination.  Let me see if I can write out the whole solution:

Source: /<Origin>/<ContainerPath>/(.*)

Destination: /<Origin>/<ContainerPath>/$1?<SAS>&<Source>

Like, literally just slap the whole text of the Source after your SAS token with an ampersand between.

[2020-09-03 20:43] marktab commented on #61932
@RohitMungi-MSFT I opened https://github.com/MicrosoftDocs/azure-docs-pr/pull/128466 to respond -- we may close this ticket

@fernandocostas  On behalf of Microsoft, thanks for the request

[2020-09-03 20:44] djpmsft commented on #57123
Fixed, should be live soon

#please-close

[2020-09-03 20:44] #57123 closed

[2020-09-03 20:49] shashishailaj commented on #61851
@eohtake Yes it might be possible but as you rightly said Microsoft may not be able to help in developing the service provider so you would need to have the service provider ready on your side. that means you need to build your custom MFA solution and then we can help you integrate it . We have evaluated some providers for custom MFA and we found that the old approach did not work for multiple use

[2020-09-03 20:49] #61851 closed

[2020-09-03 20:50] IoTFier opened #62058 "Running Azure Cosmos emulator in Docker for windows throws error "bind" : invalid mount"
[Enter feedback here]
Running Docker run command throws error -
docker run --name azure-cosmosdb-emulator --memory 2GB --mount "type=bind,source=$env:LOCALAPPDATA\CosmosDBEmulator\bind-mount,destination=C:/CosmosDB.Emulator/bind-mount" --interactive --tty -p 8082:8081 -p 8900:8900 -p 8901:8901 -p 8902:8902 -p 10250:10250 -p 10251:10251 -p 10252:10252 -p 10253:10253 -p 10254:10254 -p 10255:10255 -p

[2020-09-03 20:54] djpmsft commented on #55862
The behavior is expected. This is an ARM requirement that is independent of the Azure Data Factory team. Unfortunately we have no control over it

[2020-09-03 21:00] leodeoz commented on #57579
So you mean  : Destination: /<Origin>/<ContainerPath>/$1?sv=123123xxx123&/<Origin>/<ContainerPath>/(.*)

SHould I include (.*) as well?

[2020-09-03 21:02] kainzuu commented on #57579
Yup, include the (.*).  After the & it should be exactly what is in your Source field.

[2020-09-03 21:05] MarileeTurscak-MSFT commented on #61895
This isn't currently supported. You have to have a storage account deployed too and add the storage account to your key vault instance.

If you would like to make a feature request to add support for managing these with ARM templates you can do this in User Voice: https://feedback.azure.com/

[2020-09-03 21:05] #61895 closed

[2020-09-03 21:12] vhorne commented on #58554
added table
#please-close

[2020-09-03 21:12] #58554 closed

[2020-09-03 21:13] sandervandevelde opened #62060 "Some quesitons about the Function apps sharing Storage text"
Hello, I have two questions.

1. The line:

is not clear to me.

Should this be

?

2. I see this text:

Where do I set the 'environment variable' of a Function app? Could this just be an application setting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 4

[2020-09-03 21:16] RichWK opened #62061 "Clarification on CORS limitations"
Hello — it would be nice to get some clarification on CORS limitations when serving static website pages from Azure Storage.

Halfway down the page there's a notice saying: _"CORS is not supported with static website"_. But the top of the page mentions that _"Hosting your content in Azure Storage enables you to use serverless architectures that include Azure Functions..."_.

These two statements s

[2020-09-03 21:19] YutongTie-MSFT commented on #61963
@aahill Hi, could you please take a look on this issue and update the document if necessary? Thank you very much.

[2020-09-03 21:31] felixtsem5 opened #62064 "Duplicate steps"
Under the "Add endpoints" section, step 3 and 4 are duplicates. Also, should we say something like "show the Add endpoint **pane**", in whichever step we keep?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44b0446f-cda3-4cd6-b1a4-d55268604559
* Version Independent ID: aacde690-f031-3473-ae52-9800c78e7523
* Content: [T

[2020-09-03 21:43] SaurabhSharma-MSFT commented on #61870
@jose-lima2011  I have received the confirmation from product team that the field is still exist, but can only be set via PowerShell or API. For PowerShell use:
`Set-AzSecurityContact -Name "default1" -Email "CISO@my-org.com" -Phone "2142754038" -AlertAdmin -NotifyOnAlert`

For API use:
https://docs.microsoft.com/en-us/rest/api/securitycenter/securitycontacts/update

[2020-09-03 21:46] jeevansd commented on #61912
@chetansriv and @v-hagamp can you please make this change?

[2020-09-03 21:49] DavidCBerry13 commented on #50529
I updated the commands, fixed the associated problems and verified the instructions so this issue can now be closed.  #please-close

[2020-09-03 21:49] #50529 closed

[2020-09-03 21:53] BharathNimmala-MSFT commented on #61750
@vairakkumar-vairaperumal Thanks again for sharing your feedback on this. You are right that to [trigger complex actions with Azure Monitor alerts](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/action-groups-logic-app) , slack in your example you need to leverage logic apps only.

We will further review and see how we can have a backlog item to enhance the documentation to referenc

[2020-09-03 21:53] #61750 closed

[2020-09-03 21:54] DavidCBerry13 commented on #59914
We have removed this article and are kicking off the process of creating a new article as a replacement.  #please-close

[2020-09-03 21:54] #59914 closed

[2020-09-03 22:00] djpmsft commented on #58736
Hey there,

Thank you for bringing this to our attention. Due to ARM Template and Powershell script constraints, we do not recommend having spaces in your resource names. I have added this information to the documentation under **Best practices** and it should be live tomorrow.

Thanks,
Daniel

#please-close

[2020-09-03 22:00] #58736 closed

[2020-09-03 22:00] djpmsft commented on #53612
Hey there,

Thank you for bringing this to our attention. Due to ARM Template and Powershell script constraints, we do not recommend having spaces in your resource names. I have added this information to the documentation under **Best practices** and it should be live tomorrow.

Thanks,
Daniel

#please-close

[2020-09-03 22:00] #53612 closed

[2020-09-03 22:05] NavtejSaini-MSFT commented on #62058
@IoTFier We are checking this and will get back to you.

[2020-09-03 22:08] ChaitanyaNaykodi-MSFT commented on #61858
Hello @josh-endries, the [PeekBatch/PeekBatchAsync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.queueclient.peekbatchasync?view=azure-dotnet#Microsoft_ServiceBus_Messaging_QueueClient_PeekBatchAsync_System_Int64_System_Int32_) library provided in the document does have a State property in its [BrokeredMessage Class](https://docs.microsoft.com/en-us/dotnet/api/microso

[2020-09-03 22:18] kobulloc-MSFT commented on #62048
@mc1brew Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-09-03 22:23] nerdile commented on #61967
Yes, this is exactly what the documentation should explain

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Thursday, September 3, 2020 12:41:28 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Daniel Strommen <nerdile@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micros

[2020-09-03 22:28] D-Moonesinghe opened #62065 "Overview of this feature can be written better"
Reading this first paragraph doesn't tell me what this feature does?  Why it is needed.

After reading the second paragraph I gleaned that:
1. This feature allows me to create a group in Office 365; then at a later time assign it AAD roles.
2, The AAD roles assigned can be JIT based.

 Am I correct?

Can you please explain this a bit more clearly:  "When people join the group, they are assigned th

[2020-09-03 22:33] kobulloc-MSFT commented on #62064
@felixtsem5 Thank you for bringing this to our attention!  Step 3 and 4 are definitely duplicates.  I'll add something to make it clearer that clicking "+Add" takes you to the Add endpoint window.

![image](https://user-images.githubusercontent.com/37556655/92179974-befbc780-edfa-11ea-8fab-e370a53b67d1.png)

[2020-09-03 22:33] femsulu commented on #61801
Hello @woodrum - here are the answers to your qestions...

Q1: does each VM in the entire subscription need a different value, or can multiple VM's have a value of 1, then a few maybe a 2, etc.?  **Answer**: .It depends on how you want to stagger the shutdown or startup across VMs. VMs are processed in ascending order based on the assigned (positive integer) value so if you assign the same value a