[2018-03-22 18:21] MicahMcKittrick-MSFT commented on #6125
@LuisCabrer when you are ready to close an issue you simply put #please-close and one of us from the team will close it out for you. I will go ahead and close this :)

[2018-03-22 18:21] #6125 closed

[2018-03-22 18:26] tfitzmac commented on #6009
You are right, that is kind of confusing. There is a lag between merging the PR that contains the fix and seeing it on the site or in azure-docs. Everything is now showing the latest change. We will need to figure out how to give some information about the workflow/timeline.

[2018-03-22 18:27] Mike-Ubezzi-MSFT commented on #6129
@cbailiss You are correct in that only Azure SQL Data Warehouse can be paused. Azure SQL Database and Azure SQL Elastic Pools cannot be paused. You have an option with SQL Server installed inside an Azure Windows Virtual Machine (Single Instance), where the SQL Server runs as a Windows Service and can be stopped/started and the Windows VM can be stopped/started as needed to reduce total cost. This

[2018-03-22 18:27] MicahMcKittrick-MSFT commented on #6066
@jpalo any update for us?

[2018-03-22 18:30] MicahMcKittrick-MSFT commented on #6078
@nitinkale thanks for the additional detail. I am assigning this issue to the content author to verify that the doc is still up to date. If so, we can move your issue to a forum post and continue to look into it from there.

@vturecek can you please take a look?

[2018-03-22 18:30] bandersmsft commented on #6015
#in-process
Looking into this with the engineering team.

[2018-03-22 18:32] jpalo commented on #6066
I did test with full sample, but will need to retest if it should work.
Early next week when I continue with that specific project.

--
Jussi Palo on mobile

On Thu, 22 Mar 2018, 20.27 Micah, <notifications@github.com> wrote:

[2018-03-22 18:33] MohitGargMSFT commented on #6050
@mtwelve Also just to clarify I supposed your scenario consists of Windows current and federation scenario (not password hash sync)

[2018-03-22 18:33] MohitGargMSFT commented on #6070
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-22 18:34] MohitGargMSFT commented on #6079
@PnetTech We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-22 18:39] MohitGargMSFT commented on #6123
@adamfowlerit Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-22 18:41] MarkusVi commented on #6050
Hi @mtwelve, could you please clarify what "we are unable to backup our BitLocker keys to AAD" means? The ADFS claims are only required for federated environments.

[2018-03-22 18:43] sdwheeler commented on #6087
@tysonn - I reviewed the PR and tested the cmdlet changes. Other than the number of files in the PR, it looks good to me.

[2018-03-22 18:49] MarkusVi commented on #6057
Hi @peternield, thanks for pointing this out.
Being on-premises domain-joined is a prerequisite for an hybrid Azure AD join.
For some reason, there is something missing in this article. I will clarify this.

#please-close

[2018-03-22 19:00] MarkAtAgilliance opened #6150 "Scaling down VM scale set for Service Fabric - storage accounts need to be deleted?"
Hi, I noticed that after following the manual remove steps, the storage account for the VM that was removed was still enabled.  Should we delete this manually too?  May be worth a side note in this article.  Regards, Mark.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38b364e7-f84d-2a3a-0c05-c8402da60a0f
* Version Ind

[2018-03-22 19:14] sethmanheim commented on #5911
@RajuKanumuri The updates have been published, so please let us know if you have any more feedback, or if it's OK to close this issue.

[2018-03-22 19:18] mlearned commented on #5421
@TomArcher can you look at this one?

[2018-03-22 19:20] mtwelve commented on #6050
Hello,
@MohitGargMSFT yes our scenario is Windows current and federation
@MarkusVi we are trying to use the Backup-BitLockerKeyProtector cmdlet in this article - https://docs.microsoft.com/en-us/windows/security/information-protection/bitlocker/bitlocker-management-for-enterprises

We were able to complete this once enabling Hybrid Join in a Windows current and password hash sync scenario but not

[2018-03-22 19:20] mike-urnun-msft commented on #5830
Thanks for reporting this @gerhardcit! We have validated and corrected this issue. The changes will reflect after our next scheduled merge, and this Github issue will auto-close.

[2018-03-22 19:25] MicahMcKittrick-MSFT commented on #6133
@solstarz have you first followed the [Deploy Azure IoT Edge on a simulated device on Windows](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-simulate-device-windows) or [Linux](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-simulate-device-linux) tutorials as mentioned in the beginning of the doc?

[2018-03-22 19:26] rothja commented on #5167
@mvark Thanks for your patience. You were right, and I have updated all the SQL VM topics that talk about per-minute pricing to refer to per-second pricing. Thank you.

[2018-03-22 19:26] rothja commented on #5167
#please-close

[2018-03-22 19:36] mtwelve commented on #6050
Post configuration of the claims rules it was discovered that the issue with BackupToAAD-BitLockerKeyProtector was the result of an internet proxy; directly connected the command works.

#please-close

[2018-03-22 19:37] #6050 closed

[2018-03-22 19:38] rothja commented on #5677
@saveenr Thanks. Do you have an update on the update? Appreciate the help.

[2018-03-22 19:39] TomArcher commented on #5421
@joeshepherdmba This was just assigned to me. Give me a day or two to look at this. Thanks much for your contribution!

[2018-03-22 19:43] BryanTrach-MSFT commented on #6130
@sreelekhaWoonna Can you please provide us with the Microsoft Doc that you are having issues with? We look forward to your reply.

[2018-03-22 19:52] MohitGargMSFT commented on #6124
@jaymzyates Get-AzureAdMsGroup returns all the security groups and O365 groups from AAD tenant.

[2018-03-22 19:57] MicahMcKittrick-MSFT commented on #6134
@imaterek are you referring to when you follow **[this](https://aka.ms/managed-compute)** link and select "Enable Auto OS Upgrade" when you see the error?

[2018-03-22 19:57] Mike-Ubezzi-MSFT commented on #6122
@jonathanfishbein1
Thanks for taking the time to provide feedback! This is an interesting feature idea and we want to make sure it gets directly into the hands of the product team. Fortunately, we've got a dedicated channel for that very purpose. You can find it over [here](https://feedback.azure.com/forums/263030-azure-cosmos-db). We'd be happy to submit your feature request for you, if you like,

[2018-03-22 19:58] ChackDan commented on #6150
this depends on the way you have written your template, if you had used  the portal or the old cluster templates we had in our sample, the VM OS VHD was being assigned to one of the five strorage accounts, in a round robin fashion. if you are sure that the storage is not being used by any of your VMs, you can delete it.

[2018-03-22 20:03] Mike-Ubezzi-MSFT commented on #6129
@cbailiss Additionally, you may provide product feedback [here](https://feedback.azure.com/forums/217321-sql-database) in regards to your second question about pricing. This information goes directly to the product owners.

Regards,
Mike

[2018-03-22 20:08] mattbriggs commented on #6058
@niceysj Thanks for providing feedback on this topic.

The gist of the instruction is that you must coordinate with Directory Administrator of sites that are going to be part of your multi-tenancy.

This topic is using a story to tell the process. There is a character named Mary and there is also "you." I think this may be confusing if you are trying to literally follow the step. In this instructi

[2018-03-22 20:17] jeevansd commented on #5214
@XR219 We are still working with Google team on this insecure warning issue and the branding changes. We're going to close this issue and track the fix internally. We will come back to this issue with information about the fix when it's done.
#please-close

[2018-03-22 20:18] #5918 closed

[2018-03-22 20:19] jeevansd commented on #5535
@WiseOldHowell Have you checked the response aove from @fosterclivet? I think he has provided the answer to your question. If you are satisfied then we can close this ticket.
Please let us know.
Thanks.

[2018-03-22 20:21] #5938 closed

[2018-03-22 20:21] MicahMcKittrick-MSFT commented on #6120
@SoubhagyaDash can you point us in the right direction here? I am also not finding a applicatoininsights.config file in my code.

[2018-03-22 20:22] PnetTech commented on #6079
Actually the article you sent did not address the question of: How can you enable a prompt for the Pin generated via TXT message or authentication app (MS or Google)?

I have tested and confirmed that Call based and App based, instant verification methods work.

Additionally if you have an answer to CoMMyCZ<https://github.com/commycz> , regarding IP based conditions,  I'm interested in the answer

[2018-03-22 20:24] MicahMcKittrick-MSFT commented on #6149
@shraboin Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-22 20:25] #6058 closed

[2018-03-22 20:26] #5167 closed

[2018-03-22 20:29] mike-urnun-msft commented on #5988
Hey @acornsoft - any particular reason why you'd like to use GetRows connector over Stored Procedure option?

Were there any issues when you tried using the GetRows connector and its Pagination feature with 10000+ rows?

[2018-03-22 20:32] MicrosoftGuyJFlo commented on #6079
PIN mode (Method+PIN) is currently not supported in cloud-based Azure MFA. It is on the roadmap but no firm dates to communicate at this time.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: PnetTech <notifications@github.com>
Sent: Thursday, March 22, 2018 8:23:00 PM
To: MicrosoftDocs/azure-docs
Cc: John Flores; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Au

[2018-03-22 20:36] acornsoft commented on #5988
I would assume that Getrows implementation would handle the looping construct, I guess I will just figure it out on my own.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mike Urnun <notifications@github.com>
Sent: Thursday, March 22, 2018 4:29:48 PM
To: MicrosoftDocs/azure-docs
Cc: David Blaszyk @ Info; Mention
Subject: Re: [MicrosoftDocs/azure-docs] SQL Server

[2018-03-22 20:39] XR219 commented on #5214
No probs, thanks for the update.

Sent from my Windows 10 phone

________________________________
From: Jeevan Desarda <notifications@github.com>
Sent: Thursday, March 22, 2018 8:17:49 PM
To: MicrosoftDocs/azure-docs
Cc: XR219; Mention
Subject: Re: [MicrosoftDocs/azure-docs] No more Google Apps for Work (#5214)

@XR219<https://github.com/xr219> We are still working with Google team on this insecur

[2018-03-22 20:41] mattbriggs commented on #5585
Hi. thanks @jrp2014  for your feedback. I will add a note to the topic. You can find information about setting up plans, offers, and subscriptions here: https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-plan-offer-quota-overview

#please-close

[2018-03-22 20:51] ecfan commented on #5725
@cparker4486 @jeffhollan @jason-j-MSFT @SyntaxC4: We can update the expressions during our refactoring work for this article. We already have a work item for the refactoring work, so I can just add this to the list?

[2018-03-22 20:53] barbkess commented on #6141
@msc1504 Thanks for sending this issue.  I created a pull request to fix it.  It should show up later today or tomorrow.

[2018-03-22 20:55] mattbriggs commented on #6056
@niceysj  Thanks for your feedback. I'll find out the answer and update! #in-process

[2018-03-22 21:15] MohitGargMSFT commented on #6136
@allanwith Information workers can use the Application Access Panel to add B2B collaboration users to groups and applications that they administer. Please check below document -
[How do information workers add B2B collaboration users to Azure Active Directory?](How do information workers add B2B collaboration users to Azure Active Directory?l)

Regarding your query around O365, please check this d

[2018-03-22 21:21] mtillman commented on #5403
@mguntli Thank you for finding this issue. We've opened a work item on our internal backlog  and will complete the work in an upcoming sprint. We'll comment back on this issue when we have the change published so that you will be notified when it's done. For now, we'll close this issue. Thanks again for you feedback.
#please-close

[2018-03-22 21:22] MarkAtAgilliance commented on #6150
Sure.  The way we are looking at this:  We need to reduce the foot print of our cluster to save some money (we are going from 6 to 3 - minimum for Bronze until we get more funding).  So in scaling down the VMs (which this article describes nicely), I was thinking about what else do we need to do to clean up.  That's when I saw the 6 storage accounts for the scale set still active.  I'm assuming th

[2018-03-22 21:25] #6141 closed

[2018-03-22 21:26] cynthn commented on #6101
#please-close PR 36066 - @JaDevGuy I tested this a dozen ways and it looks like there is an issue with anything >32 characters. The portal says 1-64, but you can't ssh to the VM with a username\password if the username is over 32 characters. I changed the text to be 1-32 and I'll need to track someone down that can verify that the portal should change the stated limit to 1-32 characters. Now I nee

[2018-03-22 21:33] MohitGargMSFT commented on #6140
@Dheerajmentor Thanks for your positive feedback on the document. If you check the left tree structure of related document and look for[ Powershell](https://docs.microsoft.com/en-us/powershell/module/azuread/?view=azureadps-2.0#application_proxy_application_management) under Publishing Walkthroughs, this document provide related powershell commands.

You can check for [New-AzureADApplicationProxyA

[2018-03-22 21:40] tfitzmac commented on #5947
@dcbrown16 and @KeiroKamioka0000 - I have confirmed that you need 'Microsoft.Resources/subscriptions/resourceGroups/moveResources/action' in the source resource group and 'Microsoft.Resources/subscriptions/resourceGroups/write' in the destination resource group.

I will add that information to the article.

[2018-03-22 21:42] ScottAzure opened #6154 "subscriptionnotauthorizedforimage should jump over to an ARM specific troubleshooting FAQ."
Jing and Tom F. can probably handle this. Please include the CSS content team (Jarrett R.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fe56a3a-ea3e-8bf9-5dc9-ee03a5a5a963
* Version Independent ID: 8e13ed71-a063-0430-d6ac-219853832e0d
* Content: [Common Windows virtual machine error codes in Azure](https://docs.micr

[2018-03-22 21:50] MicahMcKittrick-MSFT commented on #6154
Thanks @ScottAzure. I have assigned it to them.

[2018-03-22 21:54] #5702 closed

[2018-03-22 22:02] tfitzmac commented on #5702
@MerrionComputing and @banisadr - the change should get published this afternoon. If the new description is not sufficient, we can reopen this issue.

[2018-03-22 22:12] bandersmsft commented on #5899
@jtuliani I'll loop in the engineering team to see if they can assist.

[2018-03-22 22:12] dlepow commented on #6045
#please-close

[2018-03-22 22:13] BryanTrach-MSFT commented on #6068
@ChristianEder We have assigned this to the content author to determine if this information needs to be added to the document. Thank you for the feedback.

[2018-03-22 22:16] MohitGargMSFT commented on #6146
@cparker4486 Unfortunately, both methods do not run in parallel. Please post this as a feedback @ [https://feedback.azure.com/forums/169401-azure-active-directory](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take

[2018-03-22 22:19] yadcam opened #6157 "SSPR for Administrators"
I have had several issues where my administrators try to reset their password, I have enabled the four options, yet administrators only have two options, email and Phone, it took me a very long time to find where it mentioned that other options are not enabled for Admins, until I started reading every article of it, and found this one, I feel that such an important detail should be highlighted in

[2018-03-22 22:19] tfitzmac commented on #5852
Given that this not recommended, I am thinking there is no documentation change needed right now. If more people are confused by this diagram, we might want to add some clarification.

@fswgm - are you okay with closing the issue?

[2018-03-22 22:27] yadcam commented on #6157
Just to make sure this is the Q/A I'm referring to

Q: I configured my policy to require users to use security questions for reset, but the Azure administrators seem to be configured differently.

A: This is the expected behavior. Microsoft enforces a strong default two-gate password reset policy for any Azure administrator role. This prevents administrators from using security questions. You can

[2018-03-22 22:37] ajlam commented on #5500
@yesoreyeram, the MySQL service is now in GA. Please see more [here](https://azure.microsoft.com/en-us/blog/announcing-general-availability-of-azure-database-services-for-mysql-and-postgresql/).

[2018-03-22 22:43] amanarneja commented on #6157
@yadcam Thanks for the feedback! I have assigned the issue to the author to look at this feedback and update the document as appropriate.

[2018-03-22 23:02] BryanTrach-MSFT commented on #6084
@sorgina13 I was unable to produce an error with this when using the suggested CLI 2.0 interface on a Windows 10 machine. I've assigned this to the author to update the document as necessary.

[2018-03-22 23:04] adamfowlerit commented on #6123
@MohitGargMSFT Thanks, I did some more testing and should mention it's when using 'not' null, blogged it here: https://www.adamfowlerit.com/2018/03/null-dynamic-membership-rules-in-azure-active-directory/

[2018-03-22 23:14] MohitGargMSFT commented on #6123
@adamfowlerit Great! Thanks for sharing.

@curtand Please check and this looks like a good document enhancement opportunity.

[2018-03-22 23:21] mattbriggs commented on #6056
-- Properties <PSObject> Specifies properties for the resource. Use this parameter to specify the values of properties that are specific to the resource type. Updating doc. Thanks! #please-close

[2018-03-22 23:35] hpsin commented on #6147
Hi @jontreynes - I'm not sure I understand the request.  Do you want an anchor link that goes directly to the Parameters table rather than the link you provided, which is the section containing the Parameters table?

[2018-03-22 23:37] #5947 closed

[2018-03-23 00:04] dcbrown16 commented on #5947
Thanks @tfitzmac!

[2018-03-23 00:43] tverilytt commented on #5994
@neilpeterson Hi Neil and thanks a lot for your answer!

I have run the same test as your again now, and this time, everything works well :-)

Probably there were some temporary problem. I had problems getting another container running too a couple of days ago, but today all worked well for that one as well.

Cheers
-jo

[2018-03-23 01:24] pigling opened #6162 "SBNotificationHub parameter"
This is the simplest notification tutorial so far because I get successful result after reading. However, there is one confuse in the tutorial:
// Azure app-specific connection string and hub path
    public const string ConnectionString = "<Azure connection string>";
    public const string NotificationHubPath = "<Azure hub path>";

Hub = new SBNotificationHub(Constants.ConnectionString, Constant

[2018-03-23 01:41] BryanTrach-MSFT commented on #6019
@ddst0111 I am not sure I understand the question. Could you please expand further on what you are asking about?

[2018-03-23 01:54] #6056 closed

[2018-03-23 02:13] neilpeterson commented on #5994
@tverilytt - glad to hear, thanks for getting back with us on this.

If you need any assistance, feel free to reach out.

#please-close

[2018-03-23 02:39] myusrn opened #6163 "how do you delete triggers from adf v2 environment"
Not seeing anything in schedule [ or tumbling window trigger ] document covering how you delete a trigger you have created that is no longer in use or wanted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89177180-caeb-e2e1-5614-60719f593672
* Version Independent ID: a3352be5-2343-ae87-38d0-32312a62d2b1
* Content: [Cr

[2018-03-23 02:48] dkkapur commented on #5839
See https://docs.microsoft.com/en-us/message-analyzer/etw-framework-conceptual-tutorial for more info on ETW. The Event Manifest section has a decent explanation of what I was referring to when I said Etw Manifest. We provide a manifest today as part of SF that creates that Operational channel path in the Event Viewer. You could, theoretically, build something similar that does this. (Yes - you ar

[2018-03-23 03:01] ericcwk commented on #5599
Azure engineer confirm 2.2.22 have bug will keep some linux version casue backup failure.
The offical solutions provided by them is to downgrade to 2.2.18 and turn auto update off.
It really fix the problem when i downgrade the agent
FYI my region is East Asia.

[2018-03-23 03:05] jaymzyates commented on #6124
Maybe my cmdlet is outdated

https://www.screencast.com/t/Zpbs1HfqUSXq

Format looks different than https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadmsgroup?view=azureadps-2.0

There are no unified groups in this list - however using a searchstring works fine.

https://www.screencast.com/t/VVAwumf7

[2018-03-23 03:26] fswgm commented on #5852
Thanks for asking - I get it, given clarity. It's fine to close.

[2018-03-23 03:26] #5852 closed

[2018-03-23 04:20] MikeWasson opened #6164 "Wrong package listed for 2.x?"
I think the latest package for the Event Hub binding for Functions 2.x is actually `Microsoft.Azure.WebJobs.Extensions.EventHubs`. See [this issue](https://github.com/Azure/Azure-Functions/issues/652)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b24ff8d-a59e-01e0-205d-ac777f06bb7a
* Version Independent ID: f2106a8a-

[2018-03-23 05:22] bumblebee333 opened #6165 "Authentication via querystring"
I wrote a webhook (asp.net core webapi) for consuming eventgrid messages and tried adding simple querystring authentication via asp.net core middleware. My URL for webhook in the eventgrid was /post?authCode=xxxx. Interestingly the middleware gets invoked first time without the querystring. I finally had to move the code into the controller which will work but is not very elegant. Any idea why tha

[2018-03-23 07:17] ravishankards commented on #6131
Yes, we have logged in the forum, fortunately, the post which you shared was from my teammate. Didn't see much response.

[2018-03-23 07:32] cbailiss commented on #6129
Thank you for the reply.  However, my questions relate *specifically* to the recently announced "SQL Database Managed Instance"
i.e. as described on this page:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance
Your answer does not cover this (i.e. you mention Azure SQL DB and Azure SQL Elastic Pools which are different to "Managed Instances").  You also mention an A

[2018-03-23 07:40] AVprog commented on #5717
On ARM32v7 architecture work only a C# IoT Edge module: https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module. For this in Dockerfile write:
FROM azureiotedge/azureiotedge-module-base:1.0.0-preview002-linux-arm32v7
ML module on ARM32v7 devices is not work also.

[2018-03-23 07:43] solimant opened #6166 "Potential bug with the sharding code snippet"
I tried the code in the "Creating unique indexes" section verbatim in my mongo shell, and it's not returning the expected results. Instead, it's giving an error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60d86c46-2b4b-53a6-da61-af5833b334a2
* Version Independent ID: 18b651d7-876d-e5b1-5af6-9e6b2827c8a7
* Co

[2018-03-23 07:53] NiklasJern opened #6167 "Management Groups in EA tenants"
Hi,

Is there an limitation in using management groups across tenants who uses EA?
I've tried cross several EA tenants and gets error each time i try to assign a new subscription to a MG. Error " Updating subscription - add operation failed. please try again"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2e9ad00-a67a

[2018-03-23 08:10] solstarz commented on #6133
@MicahMcKittrick-MSFT thanks for your reply. I have read both articles, but its still not clear to me how this "Deploy the image to your Azure Container Service (AKS) cluster" will be initiated.
Could be that I'm overlooking something.

[2018-03-23 08:27] tim-at-software-forge-co-uk opened #6168 "Region availability"
I would like this page to contain availability of the listed VM sizes in each region, or links to that information. I just requested access to the FSv2 series VMs, waited 4 days, then found out they are not available in my region, so have to start all over again and still can't find what's available in my region (from this page anyway). So all a bit frustrating and easily solved by linking to regi

[2018-03-23 08:34] shriiitk opened #6169 "Document TTL?"
Is it possible to define TTL for documents in an index so that old data is automatically purged out index? I am trying to limit the data which is indexed in an index by age, is there any other approach possible if my data is ever increasing and I just need to keep index of last week's or month's data only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-03-23 09:01] KarstenKleinschmidt commented on #5846
Thank you!

[2018-03-23 09:01] #5846 closed

[2018-03-23 09:12] dominicbetts commented on #6039
@smoms - how are you using the generated token? In my tests I'm using the token in a C# app with a line like this:

`deviceClient = DeviceClient.Create(iotHubUri, new DeviceAuthenticationWithToken(deviceId, sasToken), Microsoft.Azure.Devices.Client.TransportType.Mqtt);`

It works if both the **ToLower** calls are there, or without.

[2018-03-23 09:25] smoms commented on #6039
@dominicbetts  yep, i was using DeviceClient deviceClient = DeviceClient.CreateFromConnectionString(connection);
Using DeviceAuthenticationWithToken() works also with the ToLower().

[2018-03-23 09:45] odanvin opened #6170 "Replication from US to Europe is not possible"
Be aware that replicate a virtual machine from East US to Europe is currently not supported. From East US, only regions from North America are proposed as target

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad1c158e-0e7f-c619-73cf-6b2af73cd6cb
* Version Independent ID: 47f0720f-e4d4-aa5b-0eb1-a24dfd04bbac
* Content:

[2018-03-23 09:46] MartijnSpi commented on #5406
Yes, the right clicked user is a Owner. Also the user logged on is an Owner. It is our CSP admin which created the subscription for the customer and is an owner of the subscription.

[2018-03-23 10:49] danielDMP opened #6173 "Azure AD Role Generator"
Do you really have no other possibilities than using an anonymous 3rd party sharing platform (box.com) for distributing "Azure AD Role Generator"?
GitHub maybe?
Why should I execute an anonymous ".exe" when Windows Defender Smart Screen warns me doing that?
"Windows Defender SmartScreen prevented an unrecognized app from starting. Running this app might put your PC at risk."

This is nothing I wou

[2018-03-23 10:57] navrahami commented on #5934
Can common file types like PDF, DOC, XLS, MSG also be included alongside images for text recognition?

[2018-03-23 11:47] jtuliani opened #6174 "What kind of scripts?"
The doc should make clear what kinds of scripts I can run. PowerShell? Cmd? Bash? Which work on Windows, and which on Linux?  Need examples in all cases. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbccf725-84f1-a5c0-2ff5-49dace353416
* Version Independent ID: f2d1b170-702d-9c2a-4787-ca75dea9ce0c
* Content:

[2018-03-23 11:53] cephalin commented on #5957
@guillaumemeyer @SyntaxC4 I think I understand the issue. We ask the customer to open the Cloud Shell but assume that the Cloud Shell opens in Bash, but it is possible that it opens in PowerShell if the customer has previously changed Cloud Shell to PowerShell instead of Bash.

@guillaumemeyer Is this indeed your case?

[2018-03-23 11:56] sorgina13 commented on #6084
My CLI is :
PS C:\Users\loarriza> az --version
azure-cli (2.0.29)

[2018-03-23 12:15] cephalin commented on #5498
This issue is resolve, for real this time. #please-close.

[2018-03-23 12:49] xela30 commented on #5902
JTR

[2018-03-23 12:52] plzm opened #6175 "Clarify parameters('settingName')"
parameters('settingName') is used throughout this document. However, no examples are provided of what should be passed here. Is it an arbitrary string? Is it an ARM resource type-specific name for a log setting? Please provide explanation and examples for this as debugging this template as is, is very difficult. Even better would be to provide specific examples - including invocation of template w

[2018-03-23 12:59] maddentist opened #6176 "Information missing"
The above code doesn't work if
[code]
is not added to the <application> section of AndroidManifest, a "the push notification system handle for the registration is no longer valid" message is returned by the embedded diagnostic tool in VS2017.

see this [post](https://stackoverflow.com/questions/48921641/the-push-notification-system-handle-for-the-registration-is-no-longer-valid-fc/48923514) on **S

[2018-03-23 13:22] ianthemachinejones opened #6178 "Configure a JWT validation policy to pre-authorize requests - not clear"
Hi, it wasn't clear how the last step was to be performed.
Select "Echo API", select "Design" tab, select "All operations", click on pencil on "Inbound processing", click on "Code View".
Add "Validate JWT" xml inside the <inbound> tag, copying the above markup.
Value of AAD-tenant is "YOURAAD.onmicrosoft.com".
Save, and then validate that the API can only be called with the Authorisation header.

[2018-03-23 13:29] ezzidrees opened #6179 "cmdlet error"
when i run the following command im getting error
$storageTable = Get-AzureStorageTableTable ....

Get-AzureRmStorageAccount : Resource group '****' could not be found. where as i have resource group with same name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5eedf922-624f-e94c-3f4f-d4e76271422e
* Version Independent

[2018-03-23 13:33] sqlenders opened #6180 "Not yet supported"
What does "Not Supported mean" : it is working but we can not guarantee it ? Or it is not working ? And what means Not Yet Supported ? and What means "Alerts are not yet not supported" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8c7fe7-9597-6ea8-54d3-b85f3cc7b1d3
* Version Independent ID: 29b59670-62c1-7309-ab2a

[2018-03-23 13:49] dominicbetts commented on #6039
I've updated the article to remove the two **ToLower** calls - there doesn't seem to be any good reason for them to be there. Thanks again for your help.

[2018-03-23 13:49] dominicbetts commented on #6039
#please-close

[2018-03-23 14:02] DavidHBallantyne commented on #6137
CLI from cloud shell.

Thx,
David

On Thu, Mar 22, 2018 at 12:18 PM, Tom FitzMacken <notifications@github.com>
wrote:

[2018-03-23 14:05] amanarneja commented on #5130
@autocloudarc I am closing the issue for not, please reach out with the above information and we can help look into this further.

[2018-03-23 14:05] #5130 closed

[2018-03-23 14:06] #5673 closed

[2018-03-23 14:07] amanarneja commented on #5673
@wmmihaa Closing the issue for now, let us know if you need more information.

[2018-03-23 14:15] xela30 commented on #5839
@dkkapur Thank you for your detailed response. I appreciate it.
I also noticed Application and Services Logs/Microsoft-ServiceFabric/Debug channel (when enabled) contains some extra events from Reverse Proxy.
However enabling it creates to much noise and makes performance hit (supposedly).
Besides, events from that channel can't be collected by Splunk Forwarder (maybe because of different file for

[2018-03-23 14:17] amanarneja commented on #5798
@hiteshvadgama Sorry for the delay in getting to this. Yes. ExpressRoute authorizations can span subscription, tenant, and enrollment boundaries with no additional configuration required. There shouldn't be a problem in associating a circuit with subscriptions across EA and CSP.

https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs

[2018-03-23 14:17] #5798 closed

[2018-03-23 14:19] debben commented on #5654
I stumbled upon this issue while trying to create a custom RBAC role in Azure. I'd like to create a role that has reader actions but also has access to whatever actions are needed to view the functions within a function app as well as the monitoring subsection of the interface. The idea is to create a role for a class of operator users which might need the ability to view recent executions and con

[2018-03-23 14:46] thommck opened #6182 "AWS Role Creation needs updating"
In the Section Configure Azure AD single sign-on, Steps 15-20 (Create Role) don't match the flow in the AWS portal.
The steps are still mainly valid but are now in the wrong order (and screenshots are out of date)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Version Independent

[2018-03-23 14:52] #6039 closed

[2018-03-23 15:08] hjoab opened #6183 "Many steps are lacking info of how to set up the values/selections or help for errors and no info about RDP"
I was/am passing a but time following this guide cos at every value/selection there is enough info to decide what value to choose. Besides there is no info about how to set up a RPD connection between the Ubuntu server and windows PC at office something I made  (and it is no as easy to do). There no help in case of errors when following the guide and I had many. I had to google for them and the in

[2018-03-23 15:08] CarlRabeler commented on #6129
@cbailiss SQL Database Managed Instance is part of SQL Database, as are single databases and elastic pools. SQL Database does not currently support pausing.

[2018-03-23 15:11] frigon opened #6184 "Why is OAuth 2 authorization code recommended for mobile apps?"
1. OIDC still offers the implicit flow that doesn't require a client secret so that's suitable for a public client. This should give all the benefit of an auth code plus an added id_token.
2. The recommendation for authorization flow MIGHT be to satisfy the need for refresh_tokens but: a) that's inconsistent with it being a public client since a refresh_token requires a client secret which shouldn

[2018-03-23 15:27] cbailiss commented on #6129
Thanks.  It is not clear from the documentation that Managed Instances are part of Azure SQL database.  E.g. in the usage scenario table near the top of this page (URL below), (1) Managed Instance, (2) Azure SQL Database and (3) SQL IaaS are listed as three separate items, which suggests Managed Instances are different to Azure SQL Database.
https://docs.microsoft.com/en-gb/azure/sql-database/sql-

[2018-03-23 15:32] TomArcher commented on #6183
Thanks @hjoab. I'll work with the product team to see if we can improve the article in this area.

[2018-03-23 15:32] yesoreyeram opened #6186 "Unable to provide access through ARM templates"
We are tyring to create MySQL through ARM templates. We couldnt see any option to specify access settings ( allow access to azure services). Is there any documentation for this?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e3e33cf-94ec-8b93-ad97-966ca045891d
* Version Independent ID: f22a9c66-1939-9708-fff1-93602b24

[2018-03-23 15:38] neilpeterson commented on #5972
@lastcoolnameleft - any thoughts on this?

[2018-03-23 15:49] tfitzmac commented on #6186
@yesoreyeram - is this what you are looking for - https://docs.microsoft.com/en-us/azure/templates/microsoft.dbformysql/servers/firewallrules ?

[2018-03-23 15:49] RonStack opened #6187 "$ipconf has a null value for subnet..."
When executing these commands as described, $ipconf is created with subnet as null, causing 'New-AzureRmVirtualNetworkGateway' to fail with Invalid Request 400, Subnet is required. I used the reference page for New-AzureRmVirtualNetworkGateway and that worked for me. On THAT page, the GatewaySubnet is created instead of being staged as a configuration item, as described on THIS page.

https://docs

[2018-03-23 15:52] jpconnock commented on #5599
@alexeyshishkin01 -- thanks again for the feedback.  I've submitted a pull request to update this article per your feedback.  We greatly appreciate your help in keeping our content accurate!

[2018-03-23 15:55] yesoreyeram commented on #6186
@tfitzmac thanks for the reply. But not really the above one you sent.

I am looking for alternative to through ARM template

![image](https://user-images.githubusercontent.com/153843/37839471-6f9e4f6e-2eb2-11e8-9a04-db91e4992ba7.png)

[2018-03-23 15:56] jeevansd commented on #6182
@thommck Thanks for reporting the issue. Now we will update the screenshots in the article.

[2018-03-23 15:59] guillaumemeyer commented on #5957
Yes @cephalin , I used the PS shell, not bash

[2018-03-23 16:09] Adam-Smith-MSFT commented on #6131
@ravishankards I updated the thread in the MSDN forum. I'll go ahead and close this issue since it's off topic from documentation, and will handle your case via support.

[2018-03-23 16:09] #6131 closed

[2018-03-23 16:15] oddhair opened #6189 "These instructions no longer work"
None of the cheeseburger menus offer the ability to extract fields at this time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6d60419-c998-1b94-ea14-1af4f095867c
* Version Independent ID: 8dfdd853-13c3-ae83-f9a2-59864387987b
* Content: [Custom fields in Azure Log Analytics](https://docs.microsoft.com/en-us/azure/log

[2018-03-23 16:27] yesoreyeram commented on #5500
Good work team. Kudos.

[2018-03-23 16:32] migrande opened #6191 "Block blob object size"
Isn't the maximum size of block blobs now about 4.75TiB (per https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#storage-limits and https://azure.microsoft.com/en-us/blog/general-availability-larger-block-blobs-in-azure-storage/)?  The table on this page still lists it at 200GB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-03-23 16:41] ash2017 commented on #6068
Message routing delivers each message to the endpoint at least once for each route. All messages that are not delivered within an hour are dropped/expired. More details on routing are here : https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-event-grid-routing-comparison

[2018-03-23 16:44] DavidHBallantyne opened #6193 "Looking for more direction with "Fix export issues""
I have a resource group that for which I want to create a working ARM template.  Attempts to do this generates four errors concerning the inability to export resources of certain types:
     Microsoft.Web/sites/extensions
     Microsoft.Web/sites/deployments
     Microsoft.Web/sites/premieraddons
     Microsoft.Web/sites/sourcecontrols
Per the instructions in this document, I am manually adding mi

[2018-03-23 16:46] 4rtorias opened #6194 "PowerShell Script Typo"
$ daterange should be $daterange

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9cff19d-78d9-3f26-2afd-5ed7e5b1c41e
* Version Independent ID: b3c3b3a7-a67a-ef62-ffed-a8b284f7d29d
* Content: [Azure Active Directory sign-in activity report API samples](https://docs.microsoft.com/en-us/azure/active-directory/active-direc

[2018-03-23 16:49] slavizh opened #6195 "Images does not look good in Dark Theme"
Images does not look good in Dark Theme

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9093a08b-3cdc-e8a0-003a-5a9be7b8a198
* Version Independent ID: 79de069d-7896-3c7b-6172-8a2f510be703
* Content: [Protect VMs deployed on Azure Stack](https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-manage-vm-protec

[2018-03-23 16:56] bandersmsft commented on #5899
@jtuliani We're in the process of updating the article to add additional details and explanation around operators, conditions, fields, an effects in policy rules. Hopefully the updates will provide the clarity and level of detail you're looking for. The updated article should go live later today or Monday of next week. I'll reply here when it does.

[2018-03-23 16:58] mike-urnun-msft commented on #5988
Hi @acornsoft  - Logic App Control flow provides not just conditional constructs but also looping constructs as well: https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-control-flow-loops#foreach-loop

![image](https://user-images.githubusercontent.com/36717703/37842936-bad0ba62-2e80-11e8-974d-766f21eeee49.png)

[2018-03-23 16:58] jtuliani commented on #5899
Super, thanks Bill

[2018-03-23 17:02] orestis-ms commented on #6166
@solimant , please try waiting for a while after creating the sharded collection and before creating the unique index.

[2018-03-23 17:09] cephalin commented on #5957
@guillaumemeyer Thanks for confirming and your help!

Tracking this issue internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1217124

[2018-03-23 17:11] SjoerdWesterhof commented on #6070
And so if i understand correctly, for Applications added from Azure AD Application Gallery, there is no way of automating certificate key rollover?

[2018-03-23 17:12] dkkapur commented on #5839
@xela30 no problem, happy to help!
I think using EventFlow might be the right solution here. Do you know if Splunk has supported inputs for any of the following options?

I'm not too familiar with Splunk unfortunately, but I'm hoping that between EventHubs and sending data to an http endpoint, there should be a solution that works.

[2018-03-23 17:26] jason-j-MSFT commented on #5970
@craigg-msft
Could you help route this to a content owner?

@JoNevi
Thanks for the help!

[2018-03-23 17:43] mattbriggs commented on #6195
@slavizh Thanks for letting me know. I'll add a white background to the images so the text doesn't vanish in the dark theme. #in-process

[2018-03-23 17:44] mimig1 commented on #5941
Still in process.

[2018-03-23 17:44] jason-j-MSFT commented on #6040
@nansravn
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-23 17:52] jason-j-MSFT commented on #6002
@JunyuanZheng
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-23 17:56] TomArcher commented on #6183
@hjoab Could you be more specific about the problems you faced? In case it helps, here's an article on using RDP to connect to a Linux server. https://docs.microsoft.com/azure/virtual-machines/linux/use-remote-desktop#connect-your-linux-vm-with-a-remote-desktop-client

[2018-03-23 17:58] jason-j-MSFT commented on #6046
@rdev37
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-23 17:59] #6101 closed

[2018-03-23 18:00] #6057 closed

[2018-03-23 18:01] jason-j-MSFT commented on #6118
@fgalvin I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-23 18:02] #5994 closed

[2018-03-23 18:02] #5585 closed

[2018-03-23 18:03] #5403 closed

[2018-03-23 18:04] #5214 closed

[2018-03-23 18:08] SnehaGunda commented on #5781
@lpunderscore  Sorry about the delay in getting back on this. RequestResourceId should be documentId when ResourceType is Document and Operation Type is Read or Write. Do you have an example where the behavior was always the collectionId?

WRT to resource utilization for queries, we are working on a feature to address this.

[2018-03-23 18:09] nromyn opened #6200 "Script uses Set-AzureRmVMOperatingSystem but the usage is not explained in Script explanation section"
As in the title; the script has been updated but the explanation does not have information about the cmdlet.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3883b13-efbc-dd65-f4ca-7dd3d34a74f7
* Version Independent ID: 57a50d6a-b75e-bcf9-08ab-07f606d61cfb
* Content: [Azure PowerShell Script Sample - Create a Linux VM](

[2018-03-23 18:09] mimig1 commented on #6025
#in-process

[2018-03-23 18:10] mimig1 commented on #6025
I changed the article to use 500 RU/s, I also added the link to the complete code sample on github.

[2018-03-23 18:10] Minewiskan commented on #6046
@jason-j-MSFT There is no documentation issue here. This is a support issue. Please file a support request in Azure portal.
#please-close

[2018-03-23 18:15] mimig1 commented on #6111
#in-process

[2018-03-23 18:17] mimig1 commented on #6111
@MicahMcKittrick-MSFT - Thank you for calling this out. I've changed this line:
`let docdbUtils = require('./docdbUtils');`
to:
`let docdbUtils = require('./cosmosdb-manager.js');`
I will follow up when the change is live on the site.

[2018-03-23 18:20] mimig1 commented on #6149
#in-process

[2018-03-23 18:20] mimig1 commented on #6149
@MicahMcKittrick-MSFT - Thanks for the feedback. I've removed the link to the blob sample. I will follow up when the link is live on the site.

[2018-03-23 18:21] nromyn commented on #6200
I apologize, but I can't figure out how the pages work or I'd make a PR. The PowerShell script seems to 404 as well.

[2018-03-23 18:22] philipvago opened #6201 "Blank Database."
How does one just add a blank table? It sounds silly but I thought I'd be able to right click on my Azure blank db and just add one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfdbe17a-1b00-fbc6-d7cb-95b40e55e58e
* Version Independent ID: 7da7fe94-d90b-bd16-3865-3e45c3f3a687
* Content: [Azure portal: Create a SQL d

[2018-03-23 18:24] melzoghbi commented on #5717
@AVprog what are you trying to say? sorry did not get it.

[2018-03-23 18:28] CarlRabeler commented on #6201
this capability is not yet supported in SSMS
See https://docs.microsoft.com/en-us/sql/t-sql/statements/create-table-transact-sql#examples-1 for T-SQL examples
@philipvago

[2018-03-23 18:29] MohitGargMSFT commented on #6070
I am afraid the answer is yes for now and steps to do it is mentioned in document. Please post this as a feedback @ [https://feedback.azure.com/forums/169401-azure-active-directory](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans.

We also have the "Give Product Feedback" button in our do

[2018-03-23 18:31] MohitGargMSFT commented on #6162
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-23 18:31] MohitGargMSFT commented on #6163
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 18:32] MohitGargMSFT commented on #6164
Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-23 18:33] MohitGargMSFT commented on #6165
@bumblebee333 Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 18:34] kgremban commented on #5630
Hi again @dkatson

I finished my testing for a portal hostname configuration, and turns out it was a dead end. So I'm just adding info to the troubleshooting article about the root cause of this error. Those changes should be live at about 3:30 pacific time if you want to check them out.

Is there any other information that you think should be added, or can we call this issue resolved?

[2018-03-23 18:39] Minewiskan commented on #6014
@JoNevi Thanks for your suggestion Jo. No one has ever asked this before, and I'm unaware of any Azure service documenting ports. Communication between client and Azure AS (asazure protocol) are encapsulated through https. This is something we will not document in detail.
You should be able to run a trace to determine which ports PBID is trying to communicate on. It's probably best to request supp

[2018-03-23 18:43] Minewiskan commented on #5843
#please-close

[2018-03-23 18:53] quigleyjp opened #6205 "copy across locations"
If the target location is different from that of the source disk, the new-azureRmDisk command fails with a message that the source disk does not exist. Is that a bug or by design? And if it is not a bug how best to accomplish this? I've seen a number of convoluted methods with snapshots and SAS keys and multiple storage accounts. Is that the alternative?

---
#### Document Details

⚠ *Do not edit

[2018-03-23 18:57] philipvago opened #6206 "Happier now that I was able to link to my db through SSMS."
You have to create databases in SSMS after you connect to your azure db. Make sure you remember your password! OMG.

You should be able to right click on the db and add basic tables.
You should be able to go into Query Editor (preview) and run CREATE TABLE statements to add tables to your db from within Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-03-23 19:00] CarlRabeler commented on #6129
@cbailiss updateed topic to add clarity

[2018-03-23 19:01] mattrowmsft commented on #5902
Same as https://github.com/Azure/service-fabric-issues/issues/677 .  This is fixed in 6.1.467.

[2018-03-23 19:13] revodavid opened #6207 "Computer Vision Free Trial versus Azure Always Free"
Is the Computer Vision Free Trial still a thing? These days the Cognitive Service APIs are part of Azure Always Free, right? You just have to use the F0 pricing when requesting keys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b224939-86a1-e97c-dfe6-b466acf30a85
* Version Independent ID: d4c66f21-3f6e-b09a-35e5-84d

[2018-03-23 19:14] MohitGargMSFT commented on #6167
@NiklasJern Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 19:15] MohitGargMSFT commented on #6168
@tim-at-software-forge-co-uk Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-23 19:15] MohitGargMSFT commented on #6169
@shriiitk Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 19:15] MohitGargMSFT commented on #6170
@odanvin Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 19:16] MohitGargMSFT commented on #6173
@danielDMP Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 19:16] MohitGargMSFT commented on #6174
@jtuliani Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-23 19:17] MohitGargMSFT commented on #6175
@plzm Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 19:17] MohitGargMSFT commented on #6176
@maddentist Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-23 19:17] MohitGargMSFT commented on #6178
@ianthemachinejones Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 19:18] MohitGargMSFT commented on #6179
@ezzidrees Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 19:19] MohitGargMSFT commented on #6184
@frigon Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 19:19] mcupito commented on #6025
Great! Thank you

[2018-03-23 19:19] MohitGargMSFT commented on #6187
@RonStack Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 19:20] MohitGargMSFT commented on #6189
@oddhair Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 19:20] MohitGargMSFT commented on #6191
@migrande Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-23 19:21] ashmaka commented on #6169
Hi @shriiitk.
We currently don't offer any TTL functionality in Azure Search, however it is possible to limit search results to a specific time frame in a few ways.

One example is to add a timestamp field to the index and populate it with the time at which a document has been added/edited. Then, on the client application, you can use filter clause to only search results where that timestamp field

[2018-03-23 19:21] MohitGargMSFT commented on #6193
@DavidHBallantyne Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 19:21] MohitGargMSFT commented on #6194
@4rtorias Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 19:28] ajlam commented on #6186
@yesoreyeram, I'm checking with my team. Will get back to you soon.

[2018-03-23 19:43] CapKenR opened #6209 "Connect the load balancer backend pool to the VM availability set"
You create a load balancer with a backend pool and you create an availability set for the VMs but you don't tie the two together.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6a7a232-6e5d-ae1d-3b57-71fb75740fb4
* Version Independent ID: 1573ac54-ab15-2649-cccd-2dd64c640fc1
* Content: [Create a VM cluster with Terraf

[2018-03-23 19:44] MohitGargMSFT commented on #6205
@quigleyjp Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-23 19:54] #5958 closed

[2018-03-23 20:01] tfitzmac commented on #5958
@JozoSlejko - the update should get published this afternoon. Thanks for this feedback. If the addition doesn't look adequate, we can reopen the issue.

[2018-03-23 20:01] kgremban commented on #5878
Hi @royaza I walked through the Function tutorial again, and was able to see the D2C messages going through. I've included a screenshot below, where "issue5707" is my device name.

Perhaps you didn't set up VS Code with the correct IoT Hub connection string? Or your device modules aren't running? Or your deployment route wasn't configured correctly/was overwritten so that it's not sending the fina

[2018-03-23 20:02] #6164 closed

[2018-03-23 20:03] MSIH opened #6211 "How long should provision of pvc take"
Please notify the reading that provisioning of the pvc could take several minutes 10+ (for me at this point).

NAME        STATUS    VOLUME    CAPACITY   ACCESS MODES   STORAGECLASS   AGE
azurefile   Pending                                       azurefile      10m

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57e48b4

[2018-03-23 20:05] tdykstra commented on #6164
@MikeWasson Thanks for reporting that!  The fix should be live later this afternoon.

[2018-03-23 20:05] MikeWasson commented on #6164
thanks! 😸

[2018-03-23 20:14] neilpeterson commented on #6200
@nromyn - thanks, patch is going in. This issue will auto close once the updates have been merged.

[2018-03-23 20:17] Susheel27 opened #6212 "download"
azure portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e204130-6582-4f07-5474-cbdce61ab694
* Version Independent ID: b8819ed9-7c57-f85f-5f13-2c712bb9e755
* Content: [Azure portal documentation - Tutorials, API Reference](https://docs.microsoft.com/en-us/azure/azure-portal/)
* Content Source: [articles/azure-porta

[2018-03-23 20:27] Mike-Ubezzi-MSFT commented on #6180
The document [Azure SQL Database Managed Instance T-SQL differences from SQL Server](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-transact-sql-information) is a delta between SQL Server and Azure SQL Database Managed Instance (PaaS), where 'Managed Instance' is one of three available Azure SQL Server offerings in Azure. Not all the functionality that is availab

[2018-03-23 20:36] markgalioto commented on #5542
@cdelcambre , thank you for your request. The feature for backing up Azure Files is in Preview, and during the Preview period PowerShell and CLI support is not available. I apologize for making this information difficult to find. The Preview limitations information is provided in the [Troubleshooting Azure Files](https://docs.microsoft.com/en-us/azure/backup/troubleshoot-azure-files) article, but

[2018-03-23 20:36] neilpeterson commented on #6200
Well, I thought it would auto close, I must have miss-typed something.

Thanks again..

#please-close

[2018-03-23 20:36] markgalioto commented on #5542
#please-close

[2018-03-23 20:41] MSIH commented on #6211
please close this issue. i was using the wrong storage container.

[2018-03-23 20:41] #6211 closed

[2018-03-23 20:41] smusick-teamwork opened #6214 "Missing one Step"
Great work on this app!
I've been informed that these instructions are missing one vital step - adding the url for the Teamwork Service Provider metadata (https://teamwork.com/saml or https://eu.teamwork.com/saml) to the Identifier field under “Show Advanced URL Settings”.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-03-23 20:44] TomArcher commented on #6209
@CapKenR Thanks for the feedback, Ken. I'll work with the product group to improve this.

[2018-03-23 20:46] JasonWHowell commented on #6186
#in-progress @ajlam is investigating.

[2018-03-23 20:50] SnehaGunda commented on #6002
@JunyuanZheng when creating the job, which compatibility level (1.0 or 1.1) did you use?

[2018-03-23 20:50] neilpeterson commented on #6211
@MSIH - thanks for coming back around on this.

Can I please have this issue assigned to myself and #please-close

[2018-03-23 20:57] TomArcher commented on #5421
@mike-urnun-msft Could you assign this to me.

[2018-03-23 20:59] JunyuanZheng commented on #6002
I was using 1.1

[2018-03-23 21:00] billmath commented on #5734
@Itziclinic Following up.  The troubleshooting doc was incorrect.  That URL is not needed any more.  I have updated it and removed it.  Thanks!

#please-close

[2018-03-23 21:01] markgalioto commented on #5841
@KumaresanLakshmanan , Thank you for your question. On Windows Server 2008 R2/Windows 7, the maximum size data source that can be backed up, is 1700 GB.

[2018-03-23 21:01] billmath commented on #5862
@jeremyhagan Thank you for the feedback.  This fix is now live.

#please-close

[2018-03-23 21:01] markgalioto commented on #5841
#please-close

[2018-03-23 21:04] billmath commented on #6008
@NileshGhodekar  Thank you for the feedback.  I have created a backlog work item to address this issue.  Thank you.

#please-close

[2018-03-23 21:07] billmath commented on #6020
@ChrisParrBIE Thank you for the feedback.  I have created a backlog work item to address this.  Thank you.

#please-close

[2018-03-23 21:13] JaDevGuy commented on #6101
Thanks team!

[2018-03-23 21:13] jlian commented on #5406
@MartijnSpi Oh I think I see what's wrong. I think CSP subscriptions don't have the co-admin concept (no access to classic resources) but @dhirajgandhi can you confirm?

[2018-03-23 21:17] tfitzmac commented on #5990
@matiasosca - thanks again for sending this example. I tested it for different scenarios and it seems faster for some cases but not others. In particular, it seemed slower for the scenario where tags were applied to the resource group and there are no or few tags on the resources. This is probably a common scenario so I am going to keep the original example.

#please-close

[2018-03-23 21:23] spacecat opened #6215 "Not really sure.."
.. I understand when to use these features/services.

Are these tools for developers only?

Or can I use them to deploy to production as well?

It would be good if you could provide a couple of real world use cases in the documentation.

I have a .net core Web app with a mongodb backend. The backend needs to be persisted.

Are these tools THE way to deploy my app to AKS?

It would be great if you

[2018-03-23 21:31] solimant commented on #6166
Thanks, it worked. Closing.

[2018-03-23 21:31] #6166 closed

[2018-03-23 21:40] kgremban commented on #5707
#in-process

[2018-03-23 21:42] #6020 closed

[2018-03-23 21:42] #6008 closed

[2018-03-23 21:44] #6014 closed

[2018-03-23 21:48] MicahMcKittrick-MSFT commented on #6133
@kgremban would you be able to provide some clarification on this?

[2018-03-23 21:49] wmgries commented on #6142
@MicahMcKittrick-MSFT: @RenaShahMSFT and I agree this is correct. Please approve this PR.

@petersatsuse Thanks for correcting our bug Peter! :)

[2018-03-23 21:53] nitinme commented on #6065
Thanks for the feedback @j-wilkie. I am working on fixing this and an update will be available soon.

#in-process

[2018-03-23 22:02] #5727 closed

[2018-03-23 22:04] tfitzmac commented on #5222
@cxp - can you re-label this azure-stack? Azure Resource Manager questions within Azure Stack are handled by the azure-stack team.

[2018-03-23 22:13] nitinme commented on #5539
Hi @fujikosu To proceed on this issue, I suggest closing this based on the explanation I gave earlier.

[2018-03-23 22:38] nitinme commented on #5324
@bob-zhao-work I am making some changes for this. Will circle back soon.

#in-process

[2018-03-23 22:44] frigon commented on #6184
Thank you I think the docs would benefit from a clearer discussion of WHY one is better than the other.  Or better yet the considerations that one should consider when choosing between Oauth 2 and Open ID connect.

From: Mohit Garg <notifications@github.com>
Sent: Friday, March 23, 2018 12:19 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: frigon <frigon@live.com>; Mention <men

[2018-03-23 22:45] MohitGargMSFT commented on #6206
@philipvago Thanks for your feedback! I am trying to understand if you have any specific query around document. Please clarify.

[2018-03-23 22:53] MohitGargMSFT commented on #6207
@revodavid Thanks for your query! I have assigned the issue to the author to investigate and update as appropriate..

[2018-03-23 22:53] MohitGargMSFT commented on #6207
@KellyDF Please check on this issue.

[2018-03-23 22:57] MohitGargMSFT commented on #6212
@Susheel27 Thanks for reporting! I have assigned the issue to the author to check and add content to the document.

[2018-03-23 22:59] MohitGargMSFT commented on #6214
@smusick-teamwork Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-23 23:05] bandersmsft commented on #5899
@jtuliani My pleasure. The article is now updated. Are you we good to close on this now?

[2018-03-23 23:08] MohitGargMSFT commented on #6215
@spacecat Thanks for feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-23 23:15] #6200 closed

[2018-03-23 23:16] #6046 closed

[2018-03-23 23:16] #5990 closed

[2018-03-23 23:16] #5862 closed

[2018-03-23 23:17] #5843 closed

[2018-03-23 23:17] #5841 closed

[2018-03-23 23:17] #5734 closed

[2018-03-23 23:17] Adam-Smith-MSFT commented on #6179
@ezzidrees I'd recommend checking the following link: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-not-found-errors
If the document doesn't solve your issue, could you post your issue to https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata , the Azure storage forum ? We'll follow up on it since we need extended information in order to h

[2018-03-23 23:17] #6179 closed

[2018-03-23 23:18] #5542 closed

[2018-03-23 23:19] mike-urnun-msft commented on #5988
@acornsoft
We will now proceed to close this thread. If there are further questions regarding this matter,
please reopen it and we will gladly continue the discussion.

[2018-03-23 23:19] #5988 closed

[2018-03-23 23:21] #6047 closed

[2018-03-23 23:28] CarlRabeler commented on #6206
@philipvago in the newest release of SSMS, you can right-click on a table and start creating a table in the UI without having to write your own CREATE TABLE statement.

[2018-03-23 23:29] #6070 closed

[2018-03-23 23:30] #6079 closed

[2018-03-23 23:31] CarlRabeler commented on #6206
Also, in Query Editor in the Azure portal, you can run a Create Table statement. See https://docs.microsoft.com/en-us/azure/sql-database/sql-database-design-first-database
@philipvago

[2018-03-23 23:33] #6146 closed

[2018-03-23 23:49] afrance opened #6219 "These are no longer accurate."
The genie ops azure active directory tab no longer accepts the certificate, instead its looking for a metadata url now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b63cc3a-e53e-fe32-339d-5c5f464b4c54
* Version Independent ID: c9838012-35ab-d125-d900-f9b0b1678f4b
* Content: [Tutorial: Azure Active Directory integrat

[2018-03-23 23:52] SyntaxC4 commented on #6080
@ccompy You can comment in your PR with `Fixes #6080` and GitHub will tie the issue and the PR together

[2018-03-23 23:54] SyntaxC4 commented on #6080
#please-close

[2018-03-24 00:00] SyntaxC4 commented on #6092
@usharam73 Thanks for your feedback! By chance, are you using the Azure CLI from a PowerShell window?

[2018-03-24 00:01] SyntaxC4 commented on #6092
Possibly related to #5957

[2018-03-24 00:18] mhauskn opened #6220 "Missing install.sh file"
Downloaded and extracted azcopy for linux, but folder does not have any install.sh file. I tried to run azcopy script directly and get the following error:

A fatal error was encountered. The library 'libhostpolicy.so' required to execute the application was not found in '/home/matthew/Desktop/azcopy/bin/'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-03-24 00:56] BryanTrach-MSFT commented on #6169
@ashmaka Thank you for the reply.

@shriiitk We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-03-24 00:56] #6169 closed

[2018-03-24 01:08] tyeth opened #6221 "Update with examples"
The blog post has been removed, can you please update the link or provide more information and an example video or two.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f64dc74b-39ad-b3ea-100b-5636ddc0cd73
* Version Independent ID: 28b245f6-f85f-548d-681f-18ebb1fffc7b
* Content: [Hyperlapse Media Files with Azure Media H

[2018-03-24 01:12] ajlam commented on #6186
@yesoreyeram, can you please try setting the firewall rule on your ARM template with the following values?

`”endIpAddress": "0.0.0.0",
"startIpAddress": "0.0.0.0"`

This is the equivalent of turning ON Allow access  to Azure services .

Similarly, specify 255.255.255.255 for both start and end IP addresses to set allow access to Azure services to OFF.

[2018-03-24 01:19] amanarneja commented on #6187
@RonStack Sorry about that, I went through the steps and found that there was a simple bug in "Step 5". When Set-AzureRmVirtualNetwork is called, you also need to update $vnet, with the current steps while the config for GatewaySubnet exists its just the pre apply config. To fix this, all that was needed is to update the step to :

`$vnet = Set-AzureRmVirtualNetwork -VirtualNetwork $vnet`

The PR

[2018-03-24 01:19] #6187 closed

[2018-03-24 01:34] femsulu commented on #6001
@yeelam, Kindly provide an update so we can continue this conversation.

[2018-03-24 01:48] georgewallace commented on #6083
@cstainie Great timing on your comment, I was just updating the doc for it's image and had updated the parameters and the updated link to the Hybrid runbook worker script. I have one more addition to make to the doc and it will be correct and up to date, I missed correcting the steps and will get those done by tomorrow morning.

[2018-03-24 01:55] markgalioto commented on #5865
@dcbrown16 , Yes, the resource disk was a different name for the temporary disk. Thank you for pointing out the inconsistency, and that it was confusing. I followed up on your request. The article has been updated using consistent terminology, and will publish soon.

[2018-03-24 02:29] saveenr commented on #5677
The update is published

[2018-03-24 03:35] iLikeAzureSQL opened #6223 "error on sudo ./setup.sh"
Getting error while building.
Couldn't find index page for 'spidev'
No local packages or download links found for spidev

Any suggestion on how to fix this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad635328-7347-7681-18cf-c78ab4dd060d
* Version Independent ID: 5b9c4676-7202-7593-d82d-ee887aad57ab
* Content: [Ras

[2018-03-24 03:55] yesoreyeram commented on #6186
So basically it is a workaround and not the actual fix.  Btw, thanks for it and I will try on monday and revert back to you.

[2018-03-24 04:29] philipvago commented on #6206
I think because of my login issues, I wasn't able to try the create table SQL.

With that sorted, it all works now.

Thanks for following up.
________________________________
From: Carl Rabeler<mailto:notifications@github.com>
Sent: ‎3/‎23/‎2018 4:32 PM
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc: philipvago<mailto:philipvago@hotmail.com>; Mention<mailto:mention@noreply.g

[2018-03-24 04:47] asmalser-msft commented on #5627
I assume these comments were intended for a different article? The article being commented on (active-directory-saas-custom-apps.md)  is only intended to document a specific Azure portal UX for Enterprise App management that enables these IT scenarios:

- Self-service integration of any web application that supports SAML 2.0 identity providers (SP-initiated or IdP-initiated)
- Self-service integra

[2018-03-24 05:06] asmalser-msft commented on #5496
Problem acknowledged, There is an issue with the connector not being fully published in the Azure portal. A fix is coming very soon. Sorry for the inconvenience.

[2018-03-24 05:51] ohwellwhatever opened #6224 "Documentation/ARM Templates with Application Gateway"
Do you have any to share please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a03366-6bf3-c687-d9e4-39eb8774d3a2
* Version Independent ID: ac420896-0070-59b1-6a76-376c3ed22875
* Content: [Networking patterns for Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-patterns-netw

[2018-03-24 06:15] anarchitect opened #6225 "The .json file cannot be parsed."
I always get "Unable to parse specified file. Please ensure it is valid OpenAPI specification document."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ca8cff-348b-5595-1c3a-f319d606f82e
* Version Independent ID: 5930a3f8-45f7-e782-f917-0235601f873b
* Content: [Import and publish your first API in Azure API Managemen

[2018-03-24 06:24] jwhiteDev commented on #6176
@MohitGargMSFT please assign to @dimazaid

[2018-03-24 06:25] jwhiteDev commented on #6162
@MohitGargMSFT please assign to @dimazaid

[2018-03-24 07:31] dkatson commented on #5630
Thank you! I think everything is clear now

On Sat, Mar 24, 2018 at 1:34 AM, Kelly Gremban <notifications@github.com>
wrote:

[2018-03-24 08:23] simplesi opened #6226 "Explain how to deploy automatically, eg from VSTS"
SSAS automated deployments are typically done using Analysis Services Deployment Wizard (https://docs.microsoft.com/en-us/sql/analysis-services/multidimensional-models/running-the-analysis-services-deployment-wizard) - but apparently that doesn't work with Azure Analysis Services.

Even if it does work, the binary appears to be missing from the VSTS Hosted build agents:
##[error]'"C:\Program Files

[2018-03-24 08:45] novino commented on #6036
Added a section under system-services. Missed adding link to this GitHub issue in commit, closing manually.

[2018-03-24 09:20] lrxtom2 opened #6227 "Picture cannot display in zh-cn version"
FYI

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 965a7faf-6684-1b1e-3570-ea0b38ce02db
* Version Independent ID: 2efd8393-0b5b-e827-8762-fa58d6758d93
* Content: [快速入门 - Azure Kubernetes 群集门户快速入门](https://docs.microsoft.com/zh-cn/azure/aks/kubernetes-walkthrough-portal)
* Content Source: [articles/aks/kubernetes-walkthrough-portal.md](https://github.com/MicrosoftDoc

[2018-03-24 09:24] lrxtom2 commented on #6227
![picturedown](https://user-images.githubusercontent.com/20538091/37862472-3ac7fe26-2f88-11e8-8861-53d7b0f77d69.png)

[2018-03-24 09:36] AVprog commented on #5717
In the documentation it is necessary to say that only the C # IoT Edge module works on the ARM32v7 architecture.

[2018-03-24 10:18] rayne-wiselman commented on #6170
It's clearly stated in the [support matrix](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#region-support) that you can replicate and recovery between regions in the same geography. What is missing is a link to the support matrix article from this article. I've added that. Thanks for this useful feedback!

Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/

[2018-03-24 10:20] rayne-wiselman commented on #6102
Investigating this

[2018-03-24 11:20] chrisorisawayi opened #6228 "RegistrationVirtualNetworkId' and 'ResolutionVirtualNetworkId' not recognized"
Having created a private DNS zone,  I am unable to set a retrieve either of the 'registrationvirtualnetworkid' or 'resolutionvirtualnetworkid' properties of the dns zone as the properties do not exist.

get-azurermdnszone | get-member shows only the following properties:
Etag, MaxNumberofRecordSets, Name, Nameservers, NumberofRecordSets, ResourceGroupName, Tags

Using Set-AzureRmDnsZone -Name biac

[2018-03-24 13:53] matiasosca commented on #5990
Thanks Mohit for testing the script.
Resources[11] was a mistake yes.
And I think I got exited when the script was working good in a particular escenario so I uploaded too quick. But I still have found some bugs due to the Azure API.

thanks
Matías

________________________________
From: Mohit Garg <notifications@github.com>
Sent: Friday, March 23, 2018 7:16:18 PM
To: MicrosoftDocs/azure-docs
Cc:

[2018-03-24 15:11] rajcheval opened #6229 "support for backend pool in a different vnet"
We have a scenario where we have 2 peered Virtual Networks.
We want to have Standard Load Balancer in 1 VNET and backend pool VM's in 2nd VNET.
Is this supported by Standard Load Balancer?

Basic load balancer does not support this. App Gateway does support it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09325ff2-5a

[2018-03-24 15:13] rajcheval commented on #6229
I can answer my own question. It is not supported.

[2018-03-24 18:30] jwr456 opened #6231 "Broken Link: Creating web apps with Flask"
"Creating web apps with Flask" is broken link to the Azure Market Place.  Searching the Marketplace for PTVS Flask returns a template for Containers for App Services.  Is the Web App for App Services no longer supported?  Really, I'm hoping to get Flask working in an API App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-03-24 18:31] jwr456 commented on #6231
Actually, the links for Django and Bottle are broken as well.

[2018-03-24 18:59] zhulixuan opened #6232 "What about receiving message?"
This only describes the workflow to enqueue a message.  What is the work flow for a receiver to dequeue its subscribed messages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19e99646-d897-5a29-a020-4f70c569cd27
* Version Independent ID: ba38dc91-141c-1792-0a75-1802a8307726
* Content: [Azure Service Bus message proces

[2018-03-24 19:21] KumoJosh commented on #5806
How can I see the roadmap for B2C?  The roadmap site is a bit confusing.  https://azure.microsoft.com/en-us/roadmap/?tag=azure-active-directory-b2c  ... this link only shows 1 item.  Where is the roadmap?

[2018-03-24 19:53] amanarneja commented on #6219
@afrance Thanks for reporting! I have assigned the issue to the author to investigate and update accordingly.

[2018-03-24 19:55] amanarneja commented on #6220
@mhauskn Sorry about that. We will take a quick a look to reproduce the issue and accordingly get the document updated.

[2018-03-24 19:57] amanarneja commented on #6231
@jwr456 Sorry about that! We will get the updated ASAP.

[2018-03-24 20:17] amanarneja commented on #6229
@rajcheval Thanks for reaching out. The scenario mentioned is interesting and would be great if you can post feedback @ https://feedback.azure.com/forums/217313-networking?category_id=77467 with more details for the team to look at and consider.

[2018-03-24 20:17] #6229 closed

[2018-03-24 20:20] amanarneja commented on #6228
@chrisorisawayi Sorry about that experience, We will take a deeper look to understand this better and get back to you.

[2018-03-24 20:23] amanarneja commented on #6227
@lrxtom2 Thanks for reporting! I have assigned this issue to our localization team to take a look.

[2018-03-24 20:25] amanarneja commented on #6226
@simplesi Thanks for the feedback. I have assigned this issue to the author to take a look and investigate updating the document with clearer guidance.

[2018-03-24 20:35] amanarneja commented on #6231
@huguesv Can you check for the updated links and update the doc as appropriate ?

[2018-03-24 20:38] femsulu commented on #6221
@tyeth Thanks for the feedback. We are actively investigating and will get back to you.

[2018-03-24 20:39] femsulu commented on #6221
@asolanki can you please comment on tyeth feedback?

[2018-03-24 20:39] amanarneja commented on #6223
@iLikeAzureSQL Thanks for reporting! I have assigned this issue to the author to take a look and get back to you.

[2018-03-24 20:47] femsulu commented on #6224
@ohwellwhatever Thanks for the feedback. We are actively investigating and will get back to you.

[2018-03-24 20:51] femsulu commented on #6225
@anarchitect
Thanks for the feedback. We are actively investigating and will get back to you.

[2018-03-24 21:06] femsulu commented on #6232
@zhulixuan
Thanks for the feedback. We are actively investigating and will get back to you.

[2018-03-24 21:28] femsulu commented on #5535
@WiseOldHowell
We will proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-24 21:28] #5535 closed

[2018-03-24 21:30] femsulu commented on #5899
@jtuliani  Now closing this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-24 21:30] #5899 closed

[2018-03-24 21:31] femsulu commented on #5911
@RajuKanumuri We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-24 21:31] #5911 closed

[2018-03-24 21:32] femsulu commented on #6080
@JozoSlejko
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-24 21:32] #6080 closed

[2018-03-24 21:37] femsulu commented on #6108
@aumanjoa
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-24 21:37] #6108 closed

[2018-03-24 22:12] MohitGargMSFT commented on #6184
@frigon I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-24 22:16] MohitGargMSFT commented on #6038
@MarkusVi Can you help address above query? I am trying to find out from feature team if  hybrid domain join can be configured with pass through authentication but not able to get confirmation yet.

@jeremyhagan I will update you on above as soon as I have relevant information to share. Thanks.

[2018-03-24 22:17] MohitGargMSFT commented on #6136
@allanwith We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-24 22:18] MohitGargMSFT commented on #6140
@Dheerajmentor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-24 22:30] MohitGargMSFT commented on #6173
@danielDMP Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-24 22:37] MohitGargMSFT commented on #6194
@4rtorias Thanks for reporting! I am working to make necessary change and it will be live soon.

[2018-03-25 00:05] MohitGargMSFT commented on #6205
@quigleyjp I tested the script it works perfectly fine for me. I was able to move manage disk using script from source subscription and resource group in East US2 to target subscription and resource group in South Central US.

I would request you to open a new MSDN forum post and community will help address your specific scenerio. Please refer to below link to MSDN forum to ask new question -
[htt

[2018-03-25 01:18] amanarneja commented on #6145
@cparker4486 Thanks for taking the time out for our documentation, also thanks for checking up on the comment! 👍

[2018-03-25 02:57] amanarneja commented on #5253
@petertiedemann Thanks for reporting that this does seem like a problem. The issue itself is being tracked @ https://github.com/Azure/service-fabric-issues/issues/910 can you also +1 it over there ?

[2018-03-25 04:32] neilpeterson commented on #6215
@spacecat - thanks for the feedback.

Fist to address the doc feedback - we are working on some updated docs for Open Service Broker for Azure for docs.microsoft.com. These should be complete and published within the next few weeks. I will incorporate your feedback.

In the interim, here are a few resources that may help.

- [Open Service Broker for Azure Project](https://github.com/Azure/open-ser

[2018-03-25 08:21] ajamess commented on #5410
Hey C016smith - the password vaulting requires the browser extension you mentioned - that is the only way to get SSO to these applications (you can also use the managed browser on mobile devices). It sounds like you may have misconfigured the application you mentioned, or perhaps the application is using an unsupported sign on page type .

You can use these documents to troubleshoot further:

http

[2018-03-25 10:04] Mike-EEE opened #6239 "Token-based Authentication by Way of Private/Secret Client Key?"
To start, I am glad you support this scenario. I am researching this for a prospective project for a client.  Everything looks good with the exception of the username and password.  If I understand correctly, this will require creating a service account and if my domain requires the user to change their password every month, I will also have to change the password here, too, correct?  If so that i

[2018-03-25 10:26] Mike-EEE opened #6240 "Consider Linking Content"
Follow instructions in the **Assign application to role section** in the article -> Follow instructions in the [**Assign application to role section**](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal#assign-application-to-role) in the article.

Thank you for any consideration. :+1:

---
#### Document Details

⚠ *Do not edit this section.

[2018-03-25 10:42] Mike-EEE opened #6241 "No Mention of "Configure Git Repository""
In the product there is a "Configure Git Repository" feature, but there is no description around it, nor is it found by a search either [by search engine](https://www.google.com/search?q=azure+datafactory+"configure+git+repository") or here in the documentation.  So, what is it? :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-03-25 10:50] Mike-EEE opened #6242 "Incorrect Content"
Srsly needs to be a way to link to the precise content within the page. :P

"In the New Linked Service window, select Data Store > Azure Databricks, and then select Continue."

Should be:

"In the New Linked Service window, select Compute > Azure Databricks, and then select Continue."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-03-25 11:10] Mike-EEE commented on #6239
Srsly... very disappointing:
https://feedback.azure.com/forums/270578-data-factory/suggestions/33745042-please-do-not-force-users-to-store-passwords

[2018-03-25 11:14] Mike-EEE opened #6243 ""location near your Dynamics instance""
It would be incredibly valuable to know where this information is stored, and how to access it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e90
* Version Independent ID: 36a79d36-2b72-2722-68e5-e167f9a2cd41
* Content: [Copy data from and to Dynamics CRM or Dynamics 365 (Common Data S

[2018-03-25 12:03] Mike-EEE commented on #6243
FWIW the best I can see is from here:
https://port.crm.dynamics.com/G/Instances/InstancePicker.aspx

Mine is `North America` but that seems sort of broad. 😛

[2018-03-25 12:57] Mike-EEE opened #6244 "Confusing Guidance"
1. Not sure why Excel is mentioned here?  It might be beneficial to explain a little more around this.
2. Having some trouble with a Web linked service.  It appears no URL is allowed/displayed and the "advanced" does not show the properties above.  Seen here when testing connection: ![](https://content.screencast.com/users/Mike-EEE/folders/Jing/media/75c8b1b6-b40c-4982-b3c0-056b0b287859/2018-03-25

[2018-03-25 13:36] jtuliani commented on #5899
Looks good. My only suggestion would be that where the policy definition describes the "source": "action" option, it would be good to include the comment above that this is equivalent to "field": "type", without the '/write' on the field value.

[2018-03-25 15:34] baywet opened #6246 "functions.json examples that refer to type graphWebhook should be updated to graphWebhookSubscription"
I was playing with these examples today. and I kept getting the following error message
[code]
updating the type from graphWebhook to graphWebhookSubscription.
using v1.0.0-beta2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81cb62b5-7d3d-82ac-cbf9-cf8ec72da034
* Version Independent ID: 69f0b334-acba-8dde-51d5-eb6bc9f

[2018-03-25 15:54] asmalser-msft commented on #5627
#please-close

[2018-03-25 16:04] eino-makitalo opened #6247 "Sku not found error"
I was not able to start Databrick cluster in north europe event that I check available stuff with powershell...
Your powershell instructions are not working without logging in to azure...  I had to give Login-AzAccount first.
I was about to show this tutorial for a class tomorrow but unfortunately your databrick preview is not working in north europe at least. (i feel total catastrophe)

---
####

[2018-03-25 16:04] MicahMcKittrick-MSFT commented on #6240
@Mike-EEE Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-25 16:08] MicahMcKittrick-MSFT commented on #6241
@Mike-EEE thanks for the feedback! I have taken a look however it seems where it mentions Git Repository it does provide a link to another article:

Does this help clarify?

[2018-03-25 16:10] MicahMcKittrick-MSFT commented on #6242
@Mike-EEE Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-25 16:11] MicahMcKittrick-MSFT commented on #6243
@Mike-EEE Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-25 16:12] MicahMcKittrick-MSFT commented on #6244
@Mike-EEE Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-25 16:14] MicahMcKittrick-MSFT commented on #6246
@baywet Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-25 16:15] MicahMcKittrick-MSFT commented on #6247
@eino-makitalo Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-25 16:40] MicahMcKittrick-MSFT commented on #6134
@imaterek checking in on this issue.

[2018-03-25 16:41] MicahMcKittrick-MSFT commented on #6139
@eduardokieling checking in on this issue. Can you provide me with the doc you are using?

[2018-03-25 16:41] jharbieh opened #6248 "ConfigurationManager"
Given the context in this article, I don't think that ConfigurationManager is still valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4785005-a130-a392-7b4a-c8c6d36bad37
* Version Independent ID: 6beb58e0-167c-c08d-46ff-13f72ddbaf31
* Content: [Use Azure Functions to perform a database clean up task](https://docs.

[2018-03-25 16:49] MicahMcKittrick-MSFT commented on #6246
@baywet can you provide the links to the examples you were using? I see this doc has quite a few.

If you hover over the title of an example you will see a little chain icon. You can use that to copy a link that will directly link me to the example.

[2018-03-25 16:56] baywet commented on #6246
at least this one is problematic https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-microsoft-graph#webhook-output---example

[2018-03-25 16:56] baywet commented on #6246
thanks for getting back so fast!

[2018-03-25 17:00] MicahMcKittrick-MSFT commented on #6247
@eino-makitalo if you are using any Azure Powershell commands from a local Powershell instance you will need to login. In regards to many of our docs, it is assumed you are already logged in.

If you want to avoid having to run the login commands you can utilize [Azure Cloud Shell ](https://docs.microsoft.com/en-us/azure/cloud-shell/overview) instead. In fact, I suggest using Azure Cloud Shell if

[2018-03-25 17:00] #6247 closed

[2018-03-25 17:22] MicahMcKittrick-MSFT commented on #6246
@baywet thanks for clarifying. Seeing as these examples depend heavily on other variables I will first assign this issue to the content author to verify that the example itself is correct. If this is the case, we will need to look into what else might be blocking you at which point we might move the issue to a forum for better collaborating.

@mattchenderson can you take a look and verify there is

[2018-03-25 17:23] Mike-EEE commented on #6239
After having spent some time on this, there is actually some content here that could be added.  If the domain has two-factor authentication enabled, then the admin/user can create an App Password for the Office 365 Connection.  Actually it's not a matter of can, _they have to_, as their regular domain account credentials will not work (as a 2nd factor is required in the case of credential authenti

[2018-03-25 17:34] Mike-EEE commented on #6241
BOH... I used the "Filter" on the left, not the search at the top right.  User error. 😦 Thank you @MicahMcKittrick-MSFT !

[2018-03-25 17:34] #6241 closed

[2018-03-25 17:36] Bhairav-Pardiwala opened #6249 "Writing to event hub does not seem to be working on Windows 10 iot device"
I tried reconstructing the sample .Both sender and recover worked flawlessly and i got all messages while sending and reciving from console to console app

However when i tried with Windows iot core on raspberry pi 3 (arm) the code just seems to send 1 message successfully and forever waits on the loop .It does not send the other messages and no exceptions occur as well .Any workaround or somethin

[2018-03-25 17:44] baywet commented on #6246
Thanks for the follow up, in the configuration section (just bellow the examples), you can see the documentation for the type parameter says `Required - must be set to graphWebhookSubscription` which is correct

[2018-03-25 17:58] NiklasJern opened #6250 "Missing roles in Virtual Machine Contributer"
Above role is missing the following roles:
•	"Microsoft.Compute/disks/read"
•	"Microsoft.Compute/disks/write"

These roles are needed to administrate VMs if they are using managed disks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a

[2018-03-25 18:35] ashrayvk opened #6251 "Typo"
If you are running these commands on a computer that is not the AD FS primary federation server, run Set-MSOLAdfscontext -Computer , where is the internal FQDN name of the primary AD FS server. This cmdlet creates a context that connects you to AD FS

After "run Set-MSOLAdfscontext -Computer" , it needs to be "where 'Computer' is the internal FQDN name of the primary AD FS server.

---
#### Docume

[2018-03-25 19:10] baywet opened #6253 "functions.json example that refers to listen should be update to subscriptionResource"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-microsoft-graph#webhook-output
Parameter has been renamed as you can see in the configuration section bellow. You'll get the following error message `A value for listen must be provided in $Create mode.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-03-25 19:44] binduchinnasamy opened #6254 "Simplify the tutorial"
I see that the primary objective of this tutorial is to get a stateless web app interacting with sate full back-end service. Instead of adding Angular into the web app, a simple ASP.NET Core sample itself sufficient (Without the Angular part). When I follow the steps, in  adding Angular  Bower Configuration File step, I couldn't find the "Bower Configuration" in Visual Studio 2017 CE.

---
#### Do

[2018-03-25 20:02] DAZCUK46 commented on #6225
i get the same issue - if you browse to http://conferenceapi.azurewebsites.net?format=json and save the content as conference.json and import the file instead of entering the url it works

[2018-03-25 20:57] vishvas opened #6256 "Module name is Wrong"
In the Line "The azure-datalake-analytics module includes the Azure Data Lake Analytics operations", mentioned pip is not able to find a module. Does it mean "azure-mgmt-datalake-analytics"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7a02eff-2b2c-48d7-33ca-cf29f9bfe995
* Version Independent ID: d1cf5210-e62e-bb9f-

[2018-03-25 21:11] DeanGross opened #6257 "Legacy Authentication protocols"
Please provide  listing of the authentication protocols that are considered to be Legacy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f26dc-2f8f-ef76-3d20-a0a42d2bbada
* Version Independent ID: a0e971d1-05f2-2c21-06d4-60c087d45c0a
* Content: [Set up SharePoint Online and Exchange Online for Azure Active Directory

[2018-03-25 21:54] adamchester opened #6258 "Link to docs regard secrets/properties"
It would improve things if we had a short note regarding the `{{property}}` syntax and how to edit them.

Presumably, https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-properties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03076d2c-a751-f8f7-e96d-769b3f4084b7
* Version Independent ID: 60289

[2018-03-25 22:00] Jvanrhijn opened #6259 "Erroneous code snippet"
Step 4 under "Send a cloud-to-device message" has a code snippet in javascript instead of in Python, I'm guessing this is unintentional.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617cf9c4-6f85-d240-d8e5-6010cd0b7839
* Version Independent ID: a3c4e9da-c539-2f51-c245-57b5e43eca42
* Content: [Cloud-to-device messages

[2018-03-25 22:13] tmfahim opened #6260 "Getting Error "IDX10311: RequireNonce is 'true' (default) but validationContext.Nonce is null." after mapping domain name of Azure App Service apps"
I am getting the below error after mapping the domain name while logging on to the application. Do you have a procedure to fix the error?

IDX10311: RequireNonce is 'true' (default) but validationContext.Nonce is null. A nonce cannot be validated. If you don't need to check the nonce, set OpenIdConnectProtocolValidator.RequireNonce to 'false'.

---
#### Document Details

⚠ *Do not edit this sectio

[2018-03-25 23:05] dcbrown16 commented on #5865
@markgalioto Thanks so much!

[2018-03-25 23:05] MicahMcKittrick-MSFT commented on #6260
@tmfahim Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-25 23:06] MicahMcKittrick-MSFT commented on #6259
@Jvanrhijn Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-25 23:07] MicahMcKittrick-MSFT commented on #6258
@adamchester Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-25 23:09] MicahMcKittrick-MSFT commented on #6257
@DeanGross Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-25 23:10] MicahMcKittrick-MSFT commented on #6254
@binduchinnasamy Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-25 23:12] MicahMcKittrick-MSFT commented on #6253
@baywet Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-25 23:13] MicahMcKittrick-MSFT commented on #6251
@ashrayvk Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-25 23:15] MicahMcKittrick-MSFT commented on #6250
@NiklasJern Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-25 23:17] MicahMcKittrick-MSFT commented on #6248
@jharbieh Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-25 23:20] MicahMcKittrick-MSFT commented on #6239
@Mike-EEE Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-25 23:21] MicahMcKittrick-MSFT commented on #6256
@vishvas Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-25 23:29] MicahMcKittrick-MSFT commented on #6249
@Bhairav-Pardiwala Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-25 23:47] dcbrown16 opened #6261 "Migrating in different subscriptions?"
"The steps you follow to migrate depend on whether your resources are in the same subscription, different subscriptions, or both."
This statement led me to believe that the section would introduce all of these procedures, but there are only steps for resources in the same subscription. If the vnet and other resources are in a separate subscription from the ER circuit, should we just follow the gen

[2018-03-26 00:41] new-kirte opened #6263 "Licensing"
It would be great if the article provided licensing considerations (if any) required to implement the steps in tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b517d164-c0ed-86b3-3ab1-eae70886f80b
* Version Independent ID: 5c383fcb-0416-ad50-d98d-83f5f55ef22a
* Content: [Tutorial: Azure Active Directory integrat

[2018-03-26 00:51] KeiroKamioka0000 opened #6264 "About 'Stop protecting virtual machines, Retain Backup Data'"
Hello, According from the article written in 2016, the most recent backed up data (recovery point) will be retained forever unless user manually delete it.
Is it same for the case Backup Policies has been deleted/disabled/turned off by user?

Azure Backup のポリシー設定について
https://blogs.technet.microsoft.com/jpaztech/2016/06/20/azure-backup-のポリシー設定について/

---
#### Document Details

⚠ *Do not edit this se

[2018-03-26 02:02] AdityaSantoso opened #6265 "Broken URL"
The URL for aggregation functions https://docs.loganalytics.io/learn/tutorials/aggregations.html  is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22f7088d-dd07-e0dd-1204-50da3a29359c
* Version Independent ID: 5ff9ae22-13b9-e19d-4e1e-9be42adf02d3
* Content: [A tour through Analytics in Azure Application Insight

[2018-03-26 02:02] carrotis opened #6266 "Can't assign application to role"
As mentioned below, there is no subscriptions menu.
Also I can't add permissions because there is no display what I created applications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6cf3
* Content: [Create identity for Azu

[2018-03-26 02:07] dcbrown16 opened #6267 "No auto-deflate?"
Am I correct in understanding that this feature does not incorporate any type of "deflation" to reduce throughput units if they are over-provisioned? Thanks!
(RE: SR 117122817380486)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e24673b5-6476-3768-edbd-fec56f1051c2
* Version Independent ID: a8ab665f-d106-c3d2-f550-906

[2018-03-26 02:19] wiltrovira opened #6268 "ImagePullBackOff after update image"
I execute
$docker push <acrLoginServer>/azure-vote-front:v2

i get the following messages...
6662dddae6aa: Layer already exists
b31411566900: Layer already exists
06f4de5fefea: Layer already exists
851f3e348c69: Layer already exists
e27a10675c56: Layer already exists
v2: digest: sha256:e5314afea37e98a0b3412b613d48512cba544df7ae48d68523262821bb7db781 size: 6379

Later, when i execute...
$kubectl ge

[2018-03-26 02:36] lastcoolnameleft commented on #5972
@lenadroid @neilpeterson Playing catchup with email.

I used an existing AKS cluster where I pulled down the credentials via `az aks get-credentials` (which is the command, I assume you're referring to, as I'm not aware of a `kubectl aks` command..  I can try with a new one, but that might not happen till later this week.

[code]

[2018-03-26 02:40] lenadroid commented on #5972
@lastcoolnameleft, sorry, I meant ‘az aks get-credentials’. We’ve also updated instructions to use kube proxy and local master address, as it simplifies the job submission.

[2018-03-26 04:36] KeiroKamioka0000 opened #6269 "About Preview Status of Azure Container Service (AKS)"
Hello, I found out when document language into Japanese, document does not say about Azure Container Service (AKS) is currently in preview.
If it's not currently in GA, please add the strings that say it's in under of the Preview, thanks.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ed330edc-c3ab-d053-faad-4dc5da373b48
* Version Independent ID: 625

[2018-03-26 04:55] KeiroKamioka0000 opened #6270 "English Document has lack of info with 'Microsoft.ContainerService'"
Hello, I found out the following actions are listed in Microsoft.ContainerService when document is in Japanese but it does not include in English.
Could you please fix the document please?

/containerServices/subscriptions/read サブスクリプションに基づいて、指定されたコンテナー サービスを取得します。
/containerServices/resourceGroups/read リソース グループに基づいて、指定されたコンテナー サービスを取得します。

https://docs.microsoft.com/en-us/azure/active-directory/

[2018-03-26 05:07] ravishankards commented on #6131
Thank you Adam

[2018-03-26 05:08] c-nova opened #6271 "unexpected comma"
"fieldMappings" : [
    { "sourceFieldName" : "text", "targetFieldName" : "textStandardEnglishAnalyzer" },
    { "sourceFieldName" : "text", "targetFieldName" : "textSoundexAnalyzer" },
]

Execution result is below:
{
    "error": {
        "code": "",
        "message": "The request is invalid. Details: indexer : Invalid JSON. An unexpected comma was found in scope 'Array'. A comma is only valid

[2018-03-26 05:59] ggailey777 commented on #6221
Can we please have this assigned to @Juliako? Thanks.

[2018-03-26 06:16] NiklasJern commented on #6250
Just to clarify i a bit, the roles is missing in the docs and on the actual role in Azure

[2018-03-26 06:18] BensonWang743 opened #6272 "trdy"
yrdy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ebc0c44-b401-1f1f-2ed5-7928918e49b4
* Version Independent ID: 52517770-de52-18b3-7bf6-078c18b70fe6
* Content: [Create an Azure data factory using .NET](https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-dot-net)
* Content Source: [arti

[2018-03-26 06:24] fab2903 opened #6274 "Only works for subdomains"
The Powershell command Set-AzureRmWebApp -Name $webappname -ResourceGroupName $webappname `
-HostNames @(domain1, domain2, etc) only works for Subdomains which are registered on the DNS server with a CNAME. If you configure your root domain(contoso.com) with an A record the above command will not add the root domain. NOTE: if you have added a domain previously and you don't add it on the command a

[2018-03-26 07:53] MightKamioka opened #6278 "40 hours?"
What will happen if I used up 40 hours of Video Indexer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f08a5b8-5d07-c53d-8ff2-04cf7a146e5a
* Version Independent ID: 2f277d08-e5ab-7ab9-865d-d70f887a3bc4
* Content: [Azure Video Indexer overview](https://docs.microsoft.com/en-us/azure/cognitive-services/video-indexer/vi

[2018-03-26 07:55] xela30 commented on #5839
@dkkapur Is it possible to output to file?

[2018-03-26 08:31] foucdeg commented on #6092
Experiencing this too from my local Bash terminal (azure CLI tools installed with homebrew).
@usharam73 how did you create the web app without a runtime?
I get `usage error: must specify --runtime | --deployment-container-image-name`

[2018-03-26 08:41] foucdeg commented on #6092
Also, both Python options are unavailable to me in the web interface:

![image](https://user-images.githubusercontent.com/12948989/37895662-43c2cd7a-30e2-11e8-83a4-f8d9ab8a1ae8.png)

[2018-03-26 08:42] sebastus opened #6279 "Use of OneDrive to host video files"
Above you mention putting a video file into a public location such as OneDrive. I attempted OneDrive - Personal and it didn't work. I uploaded a video file to a folder and got a link to it. I gave this link to the VI upload api.
Using Azure blob storage (public container) worked great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-03-26 08:45] rayne-wiselman commented on #6170
#please-close

[2018-03-26 08:54] COLTELLAIT opened #6280 "MacOS connection error after following the steps provided"
It appears there may be an issue with the certificates after following the above guide, creating internal certs using PS.

MacOS console logs "neagent: [eaptls_plugin.c:292] eaptls_verify_server(): server certificate not trusted status 6 0"

I have entered keychain, moved the internal root cert to System and marked as Trusted and I also went as far as marking the clientcert (with key) as trusted t

[2018-03-26 09:33] yesoreyeram commented on #6186
Yes. This fixes the issue. But proper documentation will be helpful.

[2018-03-26 09:40] rayne-wiselman commented on #6102
Thanks for this. There's been a change in behavior in the last few days and the sizes of the failed over VMs to create temporary VMs are now used, instead of using a new size like the B-series quota.

No update to docs required.

[2018-03-26 09:44] pvn2266 commented on #5627
Could you please help me reach specific team for my issue

(Apology for placing wrong issue!)

[2018-03-26 09:45] Zenocolo opened #6285 "Limitations for P2S as well?"
I cant connect over P2S to a SQL server with VNET protection, in the limitations part I found following information:
"On the firewall, IP address ranges do apply to the following networking items, but virtual network rules do not:
-Site-to-Site (S2S) virtual private network (VPN)
-On-premises via ExpressRoute"

My question is, does this limitation also apply to P2S connections? (this is at least m

[2018-03-26 09:49] foucdeg opened #6286 "Usage error: must specify --runtime | --deployment-container-image-name"
I had the following error while running
`az webapp create --name <app_name> --resource-group <myResourceGroup> --plan <myAppServicePlan> --deployment-local-git`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Version Independent ID: 626d7451-0b8e-051e-e512-0bf90be319a0
* Content: [

[2018-03-26 09:50] dominicbetts commented on #5597
Hi @AzureDataGeek - thanks for pointing this out. You are correct that there should be just the one property name **configId**. We'll get the article updated to fix this.
Thanks again, Dominic

[2018-03-26 09:50] dominicbetts commented on #5597
#please-close

[2018-03-26 09:55] foucdeg commented on #6286
(using azure-cli 2.0.29 on my local teminal installed as specified [here](https://docs.microsoft.com/fr-fr/cli/azure/install-azure-cli-macos?view=azure-cli-latest))

[2018-03-26 10:10] GaryTrembath opened #6287 "SUSE 12"
Can you clarify support for SUSE 12.  its available on your Azure Virtual Machine, linux endorsements
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros

but not on this post?

is it supported by Azure Site Recovery or not!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb

[2018-03-26 10:38] kvandake opened #6288 "Добавление пункта с настройкой API KEY в Google Console."
С некоторых времен при добавлении API KEY в Azure приходит сообщение с ошибкой "SubCode=40000. Failed to validate credentials with GCM". Для решения этой проблемы необходимо добавить в ограничения доступ по IP следующее значение: 0.0.0.0/0.

Обсуждение на форуме:
https://stackoverflow.com/questions/39379532/azure-notification-hub-no-longer-accepting-gcm-api-key

---
#### Сведения о документе

⚠ *Н

[2018-03-26 10:50] COLTELLAIT commented on #6280
I have established that the Local ID value must reflect the Subject Alternate Name and not the Certificate Name.

[2018-03-26 12:00] dominicbetts commented on #6259
@Jvanrhijn - thanks for pointing this out. You are quite correct that this is unintentional :). I'll remove the unwanted piece of JavaScript code.
Dominic

[2018-03-26 12:00] dominicbetts commented on #6259
#please-close

[2018-03-26 13:18] bityob opened #6292 "Improve python example"
1. In the connection string, the PORT is written twice, instead of only once.

2. Use string.format, to create the connection string, it is much nicer and pythonic.

For example:

[code]

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7027370-2cda-fc7c-68f4-9f6aeeb4ee80
* Version Independent ID: 025794c1-a35e-2

[2018-03-26 13:29] ysabar commented on #5147
Hi, we have the same issue, the Single Sign link appear 2 secondes and disappears after we add our developed app.
PS : we don't have the AD azur premium.

[2018-03-26 14:24] montereyharris opened #6293 "Exchange Online Legacy Authentication - Caching"
In Block Legacy traffic from the outside scenario, what happens with cached log ins Exchange Online?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f26dc-2f8f-ef76-3d20-a0a42d2bbada
* Version Independent ID: a0e971d1-05f2-2c21-06d4-60c087d45c0a
* Content: [Set up SharePoint Online and Exchange Online for Azure Activ

[2018-03-26 14:25] montereyharris commented on #6293
https://blogs.technet.microsoft.com/exchangeteamjp/2017/10/27/authentication-cache-for-exchange-online-and-outlook-2/ See this reference on cached log ins.

[2018-03-26 14:32] f-casas opened #6294 "The fstab file line to mount a share is very relax security wise"
Hi,

In the create persistent mount point section of the article, in step 3, the fstab line that is injected to the fstab file is very relaxed security wise and shouldn't be used in production environments.
The reason why it is not a good idea: /etc/fstab is readable by everyone and so is your storage account password in it. The way around this is to use a credentials file. This is a file that con

[2018-03-26 14:33] phw198 opened #6295 "Only works programmatically, not via Graph Explorer"
The documented URL https://graph.windows.net/contoso.com/activities/signinEvents?api-version=beta isn't possible in the Graph Explorer - attempts to retrieve signin events for my tenant domain always just returns `null`. Running the [PowerShell script](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-api-sign-in-activity-samples#powershell-script) works fine, howe

[2018-03-26 14:49] amanarneja commented on #6272
@BensonWang743 Since there is no actionable content in this issue it has been locked. Please create a new issue with details in case of feedback on the document.

[2018-03-26 14:49] #6272 closed

[2018-03-26 15:09] curtand commented on #6123
I have this in my backlog for work while I wait for confirmation. We have a new PM in charge of dynamic groups. In the meantime, I have updated the article to be published today 3/26 according to the guidance in this issue.
#resolved
#please-close

[2018-03-26 15:11] mimig1 commented on #6025
The change is live on the site at https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput#to-set-the-throughput-by-using-the-sql-api-for-net. #please-close

[2018-03-26 15:12] mimig1 commented on #6111
The change is live on the site: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-nodejs-application#_Toc395783180. #please-close

[2018-03-26 15:14] mimig1 commented on #6149
The link has been removed from the page: https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-how-to-use-nodejs#use-continuation-tokens. #please-close

[2018-03-26 15:32] hawkbox opened #6296 "Error trying to implement this"
$vnet = Get-AzureRmVirtualNetwork -Name VN-WUS-01 -ResourceGroupName RG-Infrastructure-PROD
New-AzureRmDnsZone -Name domain.local -ResourceGroupName RG-DNS-Prod -ZoneType Private -RegistrationVirtualNetworkId @($vnet.Id)

This outputs an  error
New-AzureRmDnsZone : Virtual networks with network interface cards are not allowed during association with a private zone.
At line:1 char:1
+ New-AzureRmDn

[2018-03-26 15:49] MinorThreet opened #6297 "Test your function in azure steps incorrect."
How the documentation suggests we get the url in azure is incorrect. To get this to work i had to enter the portal and copy the function url there which appended a code=<code> value to the end of the url. Along with that i then added &?name=john to get it to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08

[2018-03-26 15:49] chakrarp opened #6298 "Getting error while implementing"
Error
{
    "errorCode": "2200",
    "message": "Failure happened on 'Source' side. ErrorCode=UserErrorOdbcPropertyInsufficientToRead,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=The provided properties are insufficient to retrieve data from data store.,Source=Microsoft.DataTransfer.Runtime.GenericOdbcConnectors,'",
    "failureType": "UserError",
    "target": "MWSPi

[2018-03-26 16:06] Mike-Ubezzi-MSFT commented on #6122
Adding Cosmos DB product feedback link: https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/33542041-support-for-graph-api-in-data-migration-tool

[2018-03-26 16:10] Adam-Smith-MSFT commented on #6220
@mhauskn This seems to be a bug, I was able to re-produce the issue and couldn't find the install.sh .  I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-03-26 16:11] iainfoulds commented on #5886
Thanks for the contribution, @gpetrousov . For the most part, I think that this is a good addition. We typically need both an Azure CLI 2.0 version for the Linux VMs documentation set, and an Azure PowerShell version of the Windows VMs doc set. Would it be possible for you to also create a PowerShell version of this doc?

From then a doc formatting perspective, each document requires a final H2 fo

[2018-03-26 16:14] Mike-Ubezzi-MSFT commented on #6122
@jonathanfishbein1 There appears to be a product request that is similar to what you are asking for. I have included the link in a previous comment. I am going to move this specific issue to closed. If you have any additional questions, please feel free to reopen this issue tracker or engage the Cosmos DB product team directly through the product feedback link above.
Kind regards,
Mike

[2018-03-26 16:14] #6122 closed

[2018-03-26 16:18] iainfoulds commented on #5869
@ramankumarlive Can you please verify the current default for number of Managed Disks - is it 2,000 or 10,000 so that we can update documentation accordingly?

[2018-03-26 16:22] Mike-Ubezzi-MSFT commented on #6129
@cbailiss Updates to the Azure SQL Database Managed Instance Overview documentation have been made. I am going to move this issue tracker to closed but, if you should have any additional questions or comments please do not hesitate to reopen so as to continue the dialog.
Kind regards,
Mike

[2018-03-26 16:22] #6129 closed

[2018-03-26 16:23] ltouro opened #6299 "[Azure B2C] Wrong documentation about Custom Policies"
According to the doc below, Password Complexity for Custom Policies for Azure B2C may be configured using InputValidations and Predicates XML nodes. Notwithstanding, these nodes does not exists, according to the XSD schema.

Link do doc: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory-b2c/active-directory-b2c-reference-password-complexity-custom.md

XSD Schema: ht

[2018-03-26 16:37] #6149 closed

[2018-03-26 16:38] #6111 closed

[2018-03-26 16:38] #6025 closed

[2018-03-26 16:38] frigon commented on #6184
also i have a stackoverflow thread that might be worth commenting on

https://stackoverflow.com/questions/49371434/why-use-oauth-2-vs-openid-connect-in-azure-b2c-for-mobile-apps/49374235#49374235

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mohit Garg <notifications@github.com>
Sent: Saturday, March 24, 2018 3:12:16 PM
To: MicrosoftDocs/azure-docs
Cc: frigon;

[2018-03-26 16:39] #5597 closed

[2018-03-26 16:41] MicahMcKittrick-MSFT commented on #6134
@imaterek I have closed this issue. If you are still seeing a problem please reopen and we can continue.

[2018-03-26 16:42] CarlRabeler commented on #6206
#please-close

[2018-03-26 16:43] mcupito opened #6300 "Input - C# example 2"
Regarding the documentation around the DocumentDB binding with a SQL Query - how often does this run? After every insert into DocumentDB? What if the query results are over 1,000 documents and the RUs are at 400? Can we get documentation that describes these scenarios?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad

[2018-03-26 16:43] melzoghbi commented on #5717
@AVprog yes.

[2018-03-26 16:43] CarlRabeler commented on #6201
#please-close
addressed in another github issue

[2018-03-26 16:44] MicahMcKittrick-MSFT commented on #6139
@eduardokieling I have closed this issue. if you are still seeing an issue please reopen and we can continue.

[2018-03-26 16:44] #6139 closed

[2018-03-26 16:45] #6123 closed

[2018-03-26 16:45] MicahMcKittrick-MSFT commented on #6253
@baywet I have this to the author to review and update the doc as needed.

@mattchenderson can you please take a look?

[2018-03-26 16:47] CarlRabeler commented on #6180
@Mike-Ubezzi-MSFT Azure single instance is not IaaS. SQL in a VM is IaaS. Features and functionality listed as not yet supported means exactly what it says - under consideration / under development - but not yet supported. Azure SQL Database Managed Instance is currently in the first phase of a public preview. Expect more features and functionality as it moved toward General Availability.

[2018-03-26 16:48] paulmey commented on #6294
I would propose to put the .smbcredentials file somewhere under /etc. It’s not proper to have system configuration in the /root directory. SGTM otherwise!

[2018-03-26 16:51] wmgries commented on #6294
Hi @f-casas,

I will work on getting your suggestions incorporated.

Thanks!

Will

[2018-03-26 16:53] chakrarp commented on #6298
Let me know what all info I need to provide to get the data.

[2018-03-26 17:03] yzhong94 commented on #5971
Hi @smoms , thank you for reporting this issue.  We will fix the documentation.  Meanwhile, you can take a look at this guide to unblock. https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md

[2018-03-26 17:07] ggailey777 commented on #6248
Why are you saying?

This example is using C# script in the [Azure portal](https://portal.azure.com). If you are developing a precompiled C# function locally, you must also add a reference to System.Configuration.dll. I will add a note to that effect in the topic.
#in-process

[2018-03-26 17:08] MohitGargMSFT commented on #6261
@dcbrown16 Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:08] subsarma commented on #6228
We are investigating this, stay tuned..

[2018-03-26 17:09] MohitGargMSFT commented on #6263
@new-kirte Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-26 17:11] novino commented on #6036
#please-close

[2018-03-26 17:11] MohitGargMSFT commented on #6264
@KeiroKamioka0000
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:12] subsarma commented on #6228
We have identified the issue and will be working on a fix, will update this once the fix is released.

[2018-03-26 17:12] jeevansd commented on #6263
@new-kirte Sure. We can provide the licensing requirements on both the side for implementing SSO. From Azure AD side it is FREE but I need to get the information from the Facebook side about it.

[2018-03-26 17:13] jeevansd commented on #6263
#in-process

[2018-03-26 17:13] MohitGargMSFT commented on #6265
@AdityaSantoso,
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:13] #6065 closed

[2018-03-26 17:15] MohitGargMSFT commented on #6267
@dcbrown16
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:15] ggailey777 commented on #5801
#in-process

[2018-03-26 17:15] rolyon commented on #6250
Hi @NiklasJern
The Virtual Machine Contributor role does not include the following operations:
"Microsoft.Compute/disks/read"
"Microsoft.Compute/disks/write"

I think that is intentional to keep the virtual machine and disk operations separate.

I'll update the current Virtual Machine Contributor description in the article to match the current description in the role definition:
"Lets you manage v

[2018-03-26 17:16] MohitGargMSFT commented on #6266
@carrotis
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:17] sethmanheim commented on #5804
@bastyuchenko Please let us know if that article answers your questions. If so, can we close this issue for now? Thanks!

[2018-03-26 17:20] MohitGargMSFT commented on #6269
@KeiroKamioka0000 ,
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:22] sethmanheim commented on #5857
@rizwaans Check out this line in the RegisterOnMessageHandlerAndReceiveMessages method. It may be what you're looking for:

// Maximum number of concurrent calls to the callback ProcessMessagesAsync(), set to 1 for simplicity.
// Set it according to how many messages the application wants to process in parallel.
MaxConcurrentCalls = 1,

[2018-03-26 17:24] georgewallace commented on #6083
@cstainie The docs are now completely updated at https://docs.microsoft.com/en-us/azure/automation/automation-hybrid-runbook-worker . Thank you so much for taking the time to help make our docs better, we appreciate it very much! #please-close

[2018-03-26 17:26] nluckenbill opened #6302 "Virtualization is spelled wrong in Example 1: Generate a report with default values when the profiled data is on the local drive"
Virtualization is spelled wrong in Example 1: Generate a report with default values when the profiled data is on the local drive.
It reads:
"-Virtualiztion"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c69ab88d-6c40-e615-962d-db13f3b9755b
* Version Independent ID: 2ce1794a-0f8f-b500-b294-792ea4708737
* Content: [Azur

[2018-03-26 17:26] MohitGargMSFT commented on #6270
@KeiroKamioka0000
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:27] sethmanheim commented on #6232
@zhulixuan Hello and thanks for the feedback. Please take a look at this article: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-how-to-use-topics-subscriptions. Step 5 is "Receive messages from the subscription".

[2018-03-26 17:27] MohitGargMSFT commented on #6271
@c-nova
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:30] MohitGargMSFT commented on #6278
@MightKamioka
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:30] sethmanheim commented on #6267
@dcbrown16 Hello and thanks for the feedback! That is correct; there is no auto-deflate feature.

[2018-03-26 17:31] MohitGargMSFT commented on #6274
@fab2903
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:33] stylerOD opened #6303 "Cert expiration"
What about when those certificates expire? All the options are disabled and I can't update/edit anythingh.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d23a57b-1327-786e-f27d-1a52b0e4712d
* Version Independent ID: e1050c6a-d3ea-e3b7-c6ca-a0427b1f9379
* Content: [Create an application gateway with SSL termination - A

[2018-03-26 17:33] MohitGargMSFT commented on #6280
@COLTELLAIT
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:35] MohitGargMSFT commented on #6279
@sebastus
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:36] MohitGargMSFT commented on #6286
@foucdeg
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:38] MohitGargMSFT commented on #6285
@Zenocolo
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:40] MohitGargMSFT commented on #6288
@kvandake  Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:41] MohitGargMSFT commented on #6287
@GaryTrembath
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:43] MohitGargMSFT commented on #6293
@montereyharris  Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 17:45] #6248 closed

[2018-03-26 17:53] satishdevan opened #6304 "Typo in Variable name"
get-azurermvirtualnetworkgatewayconnection -ResourceGroupName "RG1" | where-object {$_.VirtualNetworkGateway1.Id -eq $GW.Id} should be get-azurermvirtualnetworkgatewayconnection -ResourceGroupName "RG1" | where-object {$_.VirtualNetworkGateway1.Id -eq $Gateway.Id}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49745f81

[2018-03-26 17:58] nitinme commented on #6065
@j-wilkie The changes have been pushed live and you can verify the updated text now. Thanks again for your feedback.

[2018-03-26 17:59] AbhishekAdusumilli opened #6305 "Documentation date is future date"
In this article date is showing as Dec 2018 is  it correct

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3653fb10-b136-c1b3-7726-34fa8504f132
* Version Independent ID: 121d86ff-93d2-ef73-ce18-96f6502a415c
* Content: [Connecting Azure SQL Database to Azure Search Using Indexers](https://docs.microsoft.com/en-us/azure/s

[2018-03-26 18:01] DavidPrio opened #6306 "Test - disregard"
Testing new github Issue feature. Please disregard

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c59024a4-9208-9b00-43ee-f6ba936c95a6
* Version Independent ID: 5ac7705c-35e3-b211-ebba-3798dd949409
* Content: [Azure Functions でのプロキシの操作](https://docs.microsoft.com/ja-jp/azure/azure-functions/functions-proxies)
* Content Source: [articles/azure-functio

[2018-03-26 18:03] CarlRabeler commented on #6292
@bityob fix will be live at 4 PM today

[2018-03-26 18:03] kgremban commented on #6133
Hi @solstarz are you asking about that line in regards to the command 'az ml service create realtime'?

[2018-03-26 18:03] MohitGargMSFT commented on #6299
@ltouro
Thanks for your feedback! We will investigate and update as appropriate.

[2018-03-26 18:05] SyntaxC4 commented on #6231
@MicrosoftDocs/azure-cxp-triage Can you assign @cephalin and @msangapu?

[2018-03-26 18:08] Mike-Ubezzi-MSFT commented on #6180
Thanks @CarlRabeler. I understand SQL inside a VM as IaaS but, I incorrectly assumed single instance as  being IaaS. Thank you for the clarification.

[2018-03-26 18:09] amanarneja commented on #6231
@SyntaxC4 Thanks for pointing it in the right direction. Reassigned.

[2018-03-26 18:09] kgremban commented on #5630
Thanks for bringing this to our attention :)

@BryanTrach-MSFT would you #please-close this issue?

[2018-03-26 18:11] Mike-Ubezzi-MSFT commented on #6180
@sqlenders Do you have any additional questions or need clarification on what is supported or unsupported?  If you do not, I am going to move forward with closing this issue tracker.
Kind regards,
Mike

[2018-03-26 18:14] CarlRabeler commented on #6180
@Mike-Ubezzi-MSFT Azure SQL DB (PaaS) has two "editions" - Managed Instance and [my term] "managed database". Within a "managed database" - a database can have its own set of compute, memory, and storage resources - called a single database - or can share a pool of resources - called an elastic pool. A database can move between being a single database or part of an elastic pool. A Managed Instance

[2018-03-26 18:21] mhauskn commented on #6220
My mistake - I found the install.sh file, it was included at the top level of the zip package rather than in the azcopy directory. It got lost when I unzipped the folder.

[2018-03-26 18:21] #6220 closed

[2018-03-26 18:21] MicahMcKittrick-MSFT commented on #6266
@carrotis I followed the doc mentioned however I am not seeing the same issues you are.

You can select you subscription by going to All Services-> Subscriptions
<img width="409" alt="image" src="https://user-images.githubusercontent.com/32313503/37924765-afe24896-30e7-11e8-9ee0-8903529fe251.png">

Once you do that you keep following the steps and add your app
<img width="216" alt="image" src="htt

[2018-03-26 18:21] #6266 closed

[2018-03-26 18:22] subsarma commented on #6228
@chrisorisawayi - the issue is only with CLI, Powershell should work as expected.

have you tried installing the PS cmdlets mentioned here: https://docs.microsoft.com/en-us/azure/dns/private-dns-getstarted-powershell#set-up-azure-powershell-for-azure-dns

[2018-03-26 18:25] daweins commented on #5750
Thanks - I like the way this is heading. Further, we should probably strike "Variations
Azure Container Service does not yet have Portal support in Azure Government." from the page.

[2018-03-26 18:30] femsulu commented on #6036
@MarekLani
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 18:30] #6036 closed

[2018-03-26 18:31] femsulu commented on #6083
@cstainie
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 18:31] #6083 closed

[2018-03-26 18:32] femsulu commented on #6170
@odanvin
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 18:32] #6170 closed

[2018-03-26 18:33] femsulu commented on #6201
@CarlRabeler can you share the github issue ID on here so we have it referenced here as well?

[2018-03-26 18:33] femsulu commented on #6201
@philipvago
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 18:33] #6201 closed

[2018-03-26 18:34] femsulu commented on #6206
@philipvago
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 18:34] #6206 closed

[2018-03-26 18:34] femsulu commented on #6259
@Jvanrhijn
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 18:34] #6259 closed

[2018-03-26 18:39] chakrarp commented on #6298
Mohit, Thanks LinkedService for AmazonMWS connection shows connection is established and is working. In Dataset if I try import Schema
Loading Error
"UserError: The provided properties are insufficient to retrieve data from data store., activityId: ab1eb68c-cb5a-4aa0-bc43-23c1e2709391" "UserError: Failed to get blob reference from storage service. ContainerName: https://amazonmws.blob.core.windows

[2018-03-26 18:39] femsulu commented on #5284
@PatrickvEk We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 18:39] #5284 closed

[2018-03-26 18:41] ramankumarlive commented on #5869
@dcbrown16 @iainfoulds where do see that the default limit is 2000?

The limits mentioned in the doc below is correct:

https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#storage-limits

[2018-03-26 18:53] femsulu commented on #6305
@AbhishekAdusumilli
Thanks for the feedback. We are actively investigating and will get back to you.

[2018-03-26 19:00] femsulu commented on #5630
@dkatson
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 19:00] #5630 closed

[2018-03-26 19:03] femsulu commented on #6221
Assigned to Julia as requested.

[2018-03-26 19:03] CarlRabeler commented on #6201
https://github.com/MicrosoftDocs/azure-docs/issues/6206

[2018-03-26 19:08] cherylmc commented on #6304
I've made the changes. They've merged in and should publish in the next day. #please-close

[2018-03-26 19:13] satishdevan opened #6307 "404 Content not found error"
For information about selecting a VPN device, see the VPN Gateway FAQ - VPN devices - Link gives 404 Content not found error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d7ab31-fdf3-9b0f-1439-6a01fb257aab
* Version Independent ID: af13a45f-3061-2f0e-7452-b52d700b4805
* Content: [VPN Gateway Overview: Create cross-

[2018-03-26 19:14] chrisorisawayi commented on #6228
Yes confirmed the switches are available in Powershell. When is it expected to work in the CLI?

[2018-03-26 19:16] mike-urnun-msft commented on #6271
Hi @c-nova

It appears the JSON is not necessarily invalid because of the comma in question, however, it is missing the wrapper curly brackets `{ ... }` around it. Please try running the sample JSON like below:

[code]

We have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-26 19:20] Adam-Smith-MSFT commented on #6287
@GaryTrembath Thanks for reaching out,there is support for suse in azure to azure replication, it can be found here https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix
Let me know if this helps.

[2018-03-26 19:26] cherylmc commented on #6307
Weird. I'll fix this.

[2018-03-26 19:28] Adam-Smith-MSFT commented on #6264
@KeiroKamioka0000 could you provide more info but what are referring to by "Backup Policies" ?

[2018-03-26 19:30] mcourter opened #6308 "All good until webapp create time."
I receive a 'NoneType' object has no attribute 'reserved' attribute error.  Google hasn't helped me solve it.. Any clue?
This is my commend:
az webapp create --resource-group myResourceGroup2 --plan myAppServicePlan2 --name chattanooga --deployment-local-git

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00961883-36eb-

[2018-03-26 19:30] MicahMcKittrick-MSFT commented on #6296
@hawkbox I have followed the tutorial but did not get the same error you are seeing. I also have multiple resources in my existing resource group so that should not be the issue.

Can you try just running the following and see if it errors out:

[code]

[2018-03-26 19:32] neilpeterson commented on #6268
Thanks @wiltrovira . If you think that there is anything that can be improved in the doc to highlight the `v2` tag, let me know and I can incorporate your feedback.

#please-close

[2018-03-26 19:33] neilpeterson commented on #6215
@MohitGargMSFT - can you please assign this issue to myself?

Thanks

[2018-03-26 19:35] hawkbox commented on #6296
That ran without erroring out.
Name                          : contoso.local
ResourceGroupName             : rg-dns-prod
Etag                          : 00000002-0000-0000-059f-bd7439c5d301
Tags                          : {}
NameServers                   : {}
ZoneType                      : Private
RegistrationVirtualNetworkIds : {}
ResolutionVirtualNetworkIds   : {}
NumberOfRecordSets

[2018-03-26 19:36] neilpeterson commented on #6269
@Sara-Nicolini / @KeiroKamioka0000 / @MohitGargMSFT  - the AKS overview doc was updated last week to indicate that this is a preview service. My assumption is this these changes have not yet been updated in the Japanese localized doc.

https://docs.microsoft.com/en-us/azure/aks/intro-kubernetes

[2018-03-26 19:40] MohitGargMSFT commented on #6124
@jaymzyates We will now proceed to close this thread. If there are further questions regarding this matter, please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
[https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform](https://social.msdn.microsoft.com/Forums/azure/en-US/new

[2018-03-26 19:40] #6124 closed

[2018-03-26 19:40] #6136 closed

[2018-03-26 19:40] #6140 closed

[2018-03-26 19:40] MicahMcKittrick-MSFT commented on #6296
@hawkbox thanks for confirming.

Can you run the following and send me the output:

`Get-InstalledModule`

[2018-03-26 19:41] cherylmc commented on #6307
Thanks, @satishdevan! I've fixed this and it should publish soon. #please-close.

[2018-03-26 19:42] hawkbox commented on #6296
Get-InstalledModule

Version    Name                                Repository           Description
-------    ----                                ----------           -----------
5.1.1      Azure                               PSGallery            Microsoft Azure PowerShell - Service Management
0.5.0      Azure.AnalysisServices              PSGallery            Microsoft Azure PowerShell - Analys

[2018-03-26 19:42] MohitGargMSFT commented on #6194
@4rtorias The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-03-26 19:42] #6194 closed

[2018-03-26 19:43] MohitGargMSFT commented on #6205
@quigleyjp We will now proceed to close this thread. Thanks.

[2018-03-26 19:43] #6205 closed

[2018-03-26 19:48] MohitGargMSFT commented on #6251
@ashrayvk Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-26 19:49] subsarma commented on #6228
We just fixed the CLI extension. To refresh it, please execute the below command to pick it up.

az extension update --name dns

[2018-03-26 19:50] MicahMcKittrick-MSFT commented on #6297
@MinorThreet I have followed the doc however the steps seem to have worked for me without issue.

After publishing the function in VS I am able to copy the url:
<img width="333" alt="image" src="https://user-images.githubusercontent.com/32313503/37929081-cab4578e-30f3-11e8-9868-e604ef88316c.png">

I can then navigate directly to my app:
<img width="661" alt="image" src="https://user-images.githubu

[2018-03-26 19:50] #6297 closed

[2018-03-26 19:56] subsarma commented on #6296
@hawkbox  - the error message is basically implying that you are trying to link a non-empty VNET to a private zone as either a registration or resolution virtual network, which this feature doesn't support at this time (public preview). The error message is a bit cryptic so apologies, we will look into updating that to be more clear as to the underlying cause.

[2018-03-26 19:59] hawkbox commented on #6296
I'm not sure I follow, to create a private zone (To allow me to use reverse lookup in my own domain for example) I need to create it on an empty vnet first? What is the intended plan to allow existing environments to incorporate Azure VM DNS into their existing ecosystem if that's the case?

[2018-03-26 20:00] chrisorisawayi commented on #6228
Yes confirmed CLI works now.  Thanks for the quick update.

[2018-03-26 20:02] Ayanmullick opened #6310 "Powershell"
There should be a Powershell version for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e63969f1-7434-0a6e-dd65-2aecd553c51b
* Version Independent ID: b53ddd73-82b7-3272-7ff6-d82594514c4e
* Content: [Azure virtual machine serial console](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/serial-console

[2018-03-26 20:04] subsarma commented on #6296
Yes, in public preview we have this limitation. We will remove this restriction when we get this feature to GA planned for sometime in the next few months. i.e at that point existing virtual networks will be fully supported for linking to private zones.

[2018-03-26 20:04] femsulu commented on #6304
@satishdevan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 20:04] #6304 closed

[2018-03-26 20:04] hawkbox commented on #6296
Ok, I will wait then. I hope it's soon because this limitation is incredibly annoying.

[2018-03-26 20:07] subsarma commented on #6228
Great, thanks for confirming. I assume this issue can be closed now ?

[2018-03-26 20:08] Mrcoffee11 opened #6311 "Extra scenario and some extra details about grace period and latency"
Thank you for this documentation. I have some questions which might be interesting to add to the document:

1. Can you also describe how an application without RO instances (just one RW and an exact copy in another region for DR scenario's) is designed? And in combination with Azure Site Recovery. I have lots of customers with several single application/webserver and a single SQL instance which we

[2018-03-26 20:09] chrisorisawayi commented on #6228
Yes, thanks.

[2018-03-26 20:13] ScottAzure opened #6312 "Please add "Turn on Boot Diagnostics and deploy a VM for enhanced telemetry during support ticket creation""
Customers who deploy a VM with boot diagnostics turn on-by-default, will get additional support during support ticket creation that may help them diagnose there issue or help Microsoft Support understand the provisioning failure faster.

https://azure.microsoft.com/en-us/support/legal/support-diagnostic-information-collection/

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-03-26 20:16] bedub1 opened #6313 "This doesn't actually help me remediate the security configurations"
I was expecting a button to push that would change the settings on the VM.  A script to run.  This just shows me what I need to do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28328ddf-1c4a-5659-419b-6d54df2ac653
* Version Independent ID: 13c0e735-f93f-be5e-050a-37132179f7d2
* Content: [Remediate security configurat

[2018-03-26 20:19] MicahMcKittrick-MSFT commented on #6296
Thanks for clarifying this @subsarma!

@hawkbox sorry for the limitation at this point in time but thank you for working along with me while we figured this out.

I will go ahead and close this issue out but if feel we should continue the conversation please reopen and we can.

[2018-03-26 20:19] #6296 closed

[2018-03-26 20:26] femsulu commented on #6308
@mcourter
Thanks for the feedback. We are actively investigating and will get back to you.

[2018-03-26 20:27] yadcam opened #6314 ""Health Service data is not up to date.""
Hello Team,

I would like to request a change in the troubleshoot page provided in the last Q&A before Operational Questions, which two Q&A later, mentions that this kinds of issues are removed after 72 hours of not showing, I am a Support Engineer and I see a big number of requests of customer that are unaware of such important detail, so they can be aware that disregarding the fact that the issu

[2018-03-26 20:31] femsulu commented on #6310
@Ayanmullick
Thanks for the feedback. Your feedback has been passed on to the content owner. We will get back to you shortly.

[2018-03-26 20:31] daweins opened #6315 "Step 4 - Enable Powershell function"
In order to create a HttpTrigger - Powershell function in step 4, you need to enable "Experimental Language Support" - this is not obvious

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234b983c-0247-0da1-636f-88083477b0d1
* Version Independent ID: 58766a89-9fe0-e0fb-8195-9d659351d814
* Content: [Use packet capture to

[2018-03-26 20:34] MohitGargMSFT commented on #6293
@montereyharris The adfs authorization rules will work when a connection is made to adfs for authentication. Once the login is cached, the connection is not made to adfs  and authentication will work as expected. However, when cached login expires, the new connection is made to adfs and rules will be applicable as configured.

[2018-03-26 20:36] NiklasJern commented on #6250
Ok, in addition it might be the good to add that if you convert from unamanged to managed disk. Users with contributor role will not be able to scale VMs with the current contributor role (as they could pre-conversion), this due to that is requires that user have the role "Microsoft.Compute/disks/write" on the OSdisk

[2018-03-26 20:37] femsulu commented on #6268
@wiltrovira We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 20:37] #6268 closed

[2018-03-26 20:39] daweins opened #6316 ""Add Modules" Step 1"
Would be nice to give a link to https://docs.microsoft.com/en-us/powershell/azure/install-azurerm-ps?view=azurermps-5.5.0 to aid users who don't have the AzureRM module installed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234b983c-0247-0da1-636f-88083477b0d1
* Version Independent ID: 58766a89-9fe0-e0fb-8195-9d65935

[2018-03-26 20:42] femsulu commented on #6314
@yadcam
Thanks for the feedback. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-03-26 20:44] rodrigoamicrosoft commented on #6002
@JunyuanZheng do you see the same issue if you output to Azure blob? Could you please try that and let us know?

[2018-03-26 20:48] femsulu commented on #6313
@bedub1
Thanks for the feedback. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-03-26 20:50] ltouro commented on #6299
@MohitGargMSFT  thanks!  Fixed a small typo on doc link.

For your complete reference, this is how I was able to change Password Complexity:

[code]

[2018-03-26 20:51] MohitGargMSFT commented on #6295
@phw198 Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-26 20:52] femsulu commented on #6312
@ScottAzure
Thanks for the feedback. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-03-26 20:59] MikeRayMSFT commented on #5511
@JohnDoe2193 I'm reviewing this now. I will update soon.

[2018-03-26 21:00] femsulu commented on #6311
@Mrcoffee11
Thanks for the feedback. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-03-26 21:09] JunyuanZheng commented on #6002
I will try tomorrow.

[2018-03-26 21:09] femsulu commented on #6307
@satishdevan  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 21:09] #6307 closed

[2018-03-26 21:09] ggailey777 commented on #6246
@tdykstra you may want to take a look too.

[2018-03-26 21:11] donaldhessing opened #6317 "Azure AD support for SAML 1.1"
The guide mentions that Azure AD support for SAML 1.1 is in a Preview release. Could anyone point me to online materials that might be available? We have SharePoint 2013/2016 environments that is dependent on ACS to support SAML 1.1 tokens and we are in need of an alternative before ACS is shutdown in Nov 2018.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-03-26 21:15] neilpeterson commented on #6215
#please-close

[2018-03-26 21:17] MohitGargMSFT commented on #6299
@ltouro Please note that in the document mentioned "[Configure password complexity in custom policies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-password-complexity-custom)" if you refer to [Putting it all together](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-password-complexity-custom#putting-it-all-to

[2018-03-26 21:20] simorjay opened #6318 "Access via PowerShell, and ARM templates"
Hi can I configure the rules, and policies via ARM or Powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca439af-510f-303c-e72c-424b78ac0ac7
* Version Independent ID: 616d8cf5-1631-1179-0c59-f8b4f6c1f7bb
* Content: [Azure SQL Database Data Discovery & Classification](https://docs.microsoft.com/en-us/azure/sql-

[2018-03-26 21:22] GokuSSL5 commented on #6178
I agree with @ianthemachinejones.  Validate JWT is missing steps. Also, it doesn't say/show how to use it from the client end.  What do i put in for "Authorization" on the header?

[2018-03-26 21:26] daweins opened #6319 "Screenshots need to be updated"
V. confusing to users. Ex: How to navigate to ASE (under platform settings)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234b983c-0247-0da1-636f-88083477b0d1
* Version Independent ID: 58766a89-9fe0-e0fb-8195-9d659351d814
* Content: [Use packet capture to do proactive network monitoring with alerts and Azure Functions

[2018-03-26 21:33] jgold6 commented on #6176
I created a pull request for this issue:
https://github.com/MicrosoftDocs/azure-docs/pull/6320

[2018-03-26 21:41] ltouro commented on #6299
@MohitGargMSFT  Considering that [TrustFrameworkPolicy_0.3.0.0.xsd](https://raw.githubusercontent.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/master/TrustFrameworkPolicy_0.3.0.0.xsd) does not mention the nodes **InputValidations** and **Predicates** , should I consider this is the wrong XSD schema? Outdated, maybe?

Would you be so kind to point me to the XSD Schema that menti

[2018-03-26 21:51] KumudD commented on #6228
Issue is now resolved.

#please-close

[2018-03-26 21:52] daweins opened #6322 "Missing Metric"
Need info or a link on how to add "TCP segments sent" metric if it is not present

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234b983c-0247-0da1-636f-88083477b0d1
* Version Independent ID: 58766a89-9fe0-e0fb-8195-9d659351d814
* Content: [Use packet capture to do proactive network monitoring with alerts and Azure Fun

[2018-03-26 22:01] banisadr commented on #6165
@bumblebee333 the Event Grid service will always include the full URL given to us in the POST made to that endpoint, including any query string parameters. I would suggest examining your middleware code to begin with - it should be receiving the full auth code.

[2018-03-26 22:04] bastyuchenko opened #6323 "Preview to Release"
Does the preview status of durable functions mean that it's not recommended to use it in a production environment? When is Azure Team going to move the durable functions from preview to release status?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1eacf09-cf2b-6fdf-f77d-f45b0a8f2cb0
* Version Independent ID: ea2606e3

[2018-03-26 22:22] MikeRayMSFT commented on #5511
@JohnDoe2193 - First - thanks for submitting your feedback on this tutorial. I'm going to try to reproduce your experience, validate our content, and update as necessary.  Here are some specific responses to your comments above:

- When I walked through this some time ago I was able to complete the tutorial without manually creating the user so I want to verify that this is still the case.

- With

[2018-03-26 22:26] arob98 commented on #5410
#please-close

[2018-03-26 22:28] arob98 commented on #5201
#please-close

[2018-03-26 22:29] arob98 commented on #5050
#please-close

[2018-03-26 22:30] JennieHubbard commented on #5539
#please-close

[2018-03-26 22:30] SyntaxC4 commented on #6092
@ahmedelnably Can you assist here?

[2018-03-26 22:31] JennieHubbard commented on #5522
@arob98

[2018-03-26 22:42] jason-j-MSFT commented on #6117
@myusrn
Have you looked at using a pipeline parameter in ADFv2:
https://docs.microsoft.com/en-us/azure/data-factory/how-to-read-write-partitioned-data
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-system-variables

Let us know if that helps!

[2018-03-26 22:47] BryanTrach-MSFT commented on #6260
@tmfahim How recently did you update the custom domain name? I believe this runs off a openIDconnect cookie so it's possible that the cookie assigned to your browser hasn't expired yet and it's missing the new domain name.

Can you please try using an inPrivate/Incognito browser session to see if this resolves the issue?

[2018-03-26 22:47] ahmedelnably commented on #6092
Python is only available on Windows App Service, @foucdeg The runtime list that you are showing is the Linux runtime list, you need to make sure that your app is a Windows app, for the command to work.

[2018-03-26 22:48] femsulu commented on #6315
@daweins
Thanks for the feedback. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-03-26 22:51] gjaay commented on #5717
I created two docker images containing the MNIST image classification and Anomaly Detection. I tried the above instructions and the temp sensor module is deployed but the ML module is always "Pending deployment". How long the deployment process usually take?

[2018-03-26 22:51] femsulu commented on #6316
@daweins
Thanks for the feedback. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-03-26 22:52] sspage opened #6325 "Thumprint info is incorrect."
You need to do something like this:
openssl x509 -inform DER -in FreshDesk.cer -out certificate.crt
openssl x509 -noout -fingerprint -sha256 -inform pem -in certificate.crt

remove colons from thumbprint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 859cfdb1-2692-307f-6b90-65fa9d45e2a7
* Version Independent ID: 2ade8

[2018-03-26 22:55] kevinmgates opened #6326 "Typo"
Appears to be a typo in the second sentence of the article: "A multi-container application consisting of web front -nd and a Redis instance is then deployed and run on the cluster."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c7193-e86e-3734-086b-f8a3fa6c16af
* Version Independent ID: bd4c576c-a64e-ce8d-7aaa-1406

[2018-03-26 22:55] femsulu commented on #6317
@donaldhessing
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-03-26 23:06] femsulu commented on #6318
@simorjay
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-03-26 23:09] femsulu commented on #6319
@daweins
Thanks for the feedback. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-03-26 23:10] femsulu commented on #6322
@daweins
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-03-26 23:12] dcbrown16 commented on #5869
Right, I believe the virtual machine FAQ (source of this comment) is out of date.
"Are there any scale limitations for customers that use managed disks?
Managed Disks eliminates the limits associated with storage accounts. However, the number of managed disks per subscription is limited to 2,000 by default. You can call support to increase this number."
https://docs.microsoft.com/en-us/azure/virtu

[2018-03-26 23:13] femsulu commented on #6323
@bastyuchenko
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-03-26 23:14] dcbrown16 commented on #6267
Thanks for the confirmation. For future reference to others, I did find a 3rd-party blog with a potential workaround.
http://tjaddison.com/2017/12/10/Auto-deflating-Event-Hubs-with-a-function-app.html

[2018-03-26 23:17] markgalioto commented on #5865
#please-close

[2018-03-26 23:18] femsulu commented on #6325
@sspage
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-03-26 23:21] femsulu commented on #6326
@kevinmgates
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-03-26 23:24] #6228 closed

[2018-03-26 23:27] MicahMcKittrick-MSFT commented on #6322
@daweins can you clarify your ask a bit more? In the doc I see a reference to setting up alerts for TCP Segments sent. What info are you looking to have here?

<img width="539" alt="image" src="https://user-images.githubusercontent.com/32313503/37938412-8d616d3a-3112-11e8-8fcf-8586ee45ffc6.png">

[2018-03-26 23:28] MicahMcKittrick-MSFT commented on #6323
@bastyuchenko we actually got an answer already :)

Durable Functions is scheduled to GA at //build 2018, so the first week of May 2018.

I will close out this issue but if you feel we need to discuss more please reopen and we can continue.

[2018-03-26 23:28] #6323 closed

[2018-03-26 23:28] MohitGargMSFT commented on #6299
@ltouro Please note that [Putting it all together](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-password-complexity-custom#putting-it-all-together) section states as part of Step - "Follow the instructions in the pre-requisite Getting started to download, configure, and upload TrustFrameworkBase.xml and TrustFrameworkExtensions.xml". The step 2 states

[2018-03-26 23:30] mtillman commented on #5465
@MicrosoftDocs/azure-cxp-triage @karavar is no longer working on this. Please assign this issue to @arluca.

[2018-03-26 23:32] amanarneja commented on #5465
@mtillman Thanks for the update, the issue has been reassigned to @arluca.

[2018-03-26 23:32] mtillman commented on #5494
@frankhu1234 This page has been updated. Please take a look and let us know what you think.
#please-close

[2018-03-26 23:34] iainfoulds commented on #5869
I've created a PR to update this doc. When that PR merges, this issue will automatically close. The next publish to make it go live is at 10a.m PST tomorrow morning.

[2018-03-26 23:35] femsulu commented on #6215
@spacecat
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 23:35] #6215 closed

[2018-03-26 23:35] mtillman commented on #5496
@MicrosoftDocs/azure-cxp-triage This is an acknowledge product issue. Please remove the "doc bug" label.

[2018-03-26 23:35] femsulu commented on #5539
@fujikosu
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 23:35] #5539 closed

[2018-03-26 23:36] femsulu commented on #5410
@c016smith
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 23:36] #5410 closed

[2018-03-26 23:36] femsulu commented on #5201
@dougznorman
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 23:36] #5201 closed

[2018-03-26 23:37] femsulu commented on #5050
@ronbok
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 23:37] #5050 closed

[2018-03-26 23:38] jason-j-MSFT commented on #6163
@myusrn
I do not see a way to do that in the UI, however you can list and delete triggers with Powershell.  Here is the Powershell cmdlet reference for ADFv2:
https://docs.microsoft.com/en-us/powershell/module/azurerm.datafactoryv2/?view=azurermps-4.4.1

Here are the pages for the list and delete cmdlets:

https://docs.microsoft.com/en-us/powershell/module/azurerm.datafactoryv2/Get-AzureRmDataFact

[2018-03-26 23:40] johnkemnetz commented on #6175
Fixing in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/36324

[2018-03-26 23:42] KeiroKamioka0000 commented on #6264
I assuming It simply turning off the Backup with 'Retain Backup Data' as guided in following document.
Does this backup will not be gone until user manually delete it?

Stop protecting virtual machines
https://docs.microsoft.com/en-us/azure/backup/backup-azure-manage-vms#stop-protecting-virtual-machines

[2018-03-26 23:43] mtillman commented on #5627
@dougeby This appears to be a question about SSO for the Intune Company Portal on iOS. Could you open an item on your backlog to resolve to look into this? We can then close it here.

[2018-03-26 23:43] johnkemnetz commented on #6175
#in-progress the PR better describes the usage of the setting name property.

[2018-03-26 23:44] MohitGargMSFT commented on #6317
@donaldhessing I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-26 23:45] mtillman commented on #5657
@MicrosoftDocs/azure-cxp-triage Assign this issue to @markusvi to fix the screenshot.

[2018-03-26 23:47] femsulu commented on #5494
@frankhu1234
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 23:47] #5494 closed

[2018-03-26 23:48] MohitGargMSFT commented on #6325
@sspage Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-26 23:48] femsulu commented on #5865
@dcbrown16
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-26 23:48] #5865 closed

[2018-03-26 23:50] amanarneja commented on #5657
@mtillman Thanks for the update! reassigned to @MarkusVi

[2018-03-26 23:50] mtillman commented on #5770
@OneGi we've opened an item on our internal backlog to address this issue. We'll let you know when it's done by commented on this issue again. Thanks for your feedback.

#please-close

[2018-03-26 23:53] BryanTrach-MSFT commented on #6308
@mcourter We were able to work through the doc twice with no errors. Can you please provide the full error that you are receiving? We look forward to your reply.

[2018-03-26 23:53] mtillman commented on #5826
@CoMMyCZ, we've opened an item on our internal backlog to have this issue addressed. We'll comment back here when we're done to notify you. Thank you for your feedback!

#please-close

[2018-03-26 23:54] mtillman commented on #6011
@swkrish bumping this to get your attention on this issue.

[2018-03-26 23:57] johnkemnetz commented on #6175
@plzm the PR has been merged and should go live tomorrow morning.

[2018-03-27 00:02] BryanTrach-MSFT commented on #6130
@sreelekhaWoonna Please let us know if you are able to provide us with an update.

[2018-03-27 00:03] dcbrown16 commented on #5380
@cephalin here are my current findings specifically regarding the Web server logging when saving to file system.
Per Nazim Lala, Linux web apps generate a new web server log every day, and separate files for each instance.
However, the "quota" and "retention period" settings that appear to be configurable in the Portal don't do anything for Linux currently, and development is working to implement

[2018-03-27 00:15] Mike-Ubezzi-MSFT commented on #6280
@COLTELLAIT A couple things:
Can you verify the version of Mac OS you are using?
Also, in the [Generate a client certificate
](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-certificates-point-to-site#clientcert) section, did you continue in the same Powershell session to create the client certificate as was done to create the root certificate? You can try recreating the client cer

[2018-03-27 00:20] femsulu commented on #5770
@OneGi
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-27 00:20] #5770 closed

[2018-03-27 00:20] femsulu commented on #5826
@CoMMyCZ
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-27 00:20] #5826 closed

[2018-03-27 00:24] dcbrown16 opened #6327 "Japanese translation error"
For the second sentence in the English below, the Japanese has the translation of the first sentence repeated. Please review and update.
"A retention of zero days means logs are kept forever. Otherwise, the value can be any number of days between 1 and 2147483647."
"リテンション期間が 0 日の場合、ログは永続的に保持されます。 リテンション期間が 0 日の場合、ログは永続的に保持されます。"

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です

[2018-03-27 00:38] BryanTrach-MSFT commented on #6267
@dcbrown16 Thank you for the update. We're happy to hear the issue is resolved.

[2018-03-27 00:38] #6267 closed

[2018-03-27 00:41] Mike-Ubezzi-MSFT commented on #6285
@MightyPen I have a simple question regarding the following document: Use Virtual Network service endpoints and rules for Azure SQL Database, the [Limitations](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-overview#limitations) section does not include P2S VPN connectivity. What is the expected behavior for P2S VPN connectivity for Azure SQL Server? Th

[2018-03-27 00:45] BryanTrach-MSFT commented on #6274
@fab2903 Thank you for the feedback. We were able to reproduce your feedback. We are assigning this to the author to see if additional clarification needs to be added to the doc.

[2018-03-27 00:46] femsulu commented on #6327
@dcbrown16
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-03-27 00:51] Mike-Ubezzi-MSFT commented on #6318
@simorjay If I understand you correctly, you wish to implement [Azure Policy](https://docs.microsoft.com/en-us/azure/azure-policy/azure-policy-introduction) definitions via PowerShell? If so, Azure Policy can be implemented via [REST API](https://docs.microsoft.com/en-us/azure/azure-policy/create-manage-policy#create-a-policy-definition-with-rest-api) or via [PowerShell](https://docs.microsoft.com

[2018-03-27 01:02] andrewatfornax opened #6328 "Suffix is available via the network interface card resource"
The documentation suggests that the "suffix is available via the network interface card resource". However, it is not clear how to obtain this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7b1b215-0434-145b-cd11-95d0f32bc015
* Version Independent ID: d328a868-a151-1985-2b62-f3884f7ad76c
* Content: [Name

[2018-03-27 01:27] dkkapur commented on #6005
#please-close

[2018-03-27 01:40] amanarneja commented on #6226
@simplesi can you help us break down your issue further. From what i gather there are 2 parts to it

1. You are looking for prescriptive guidance to build a CI/CD pipeline to AAS. Is that correct ?

2. You tried to follow some steps with VSTS hosted agent but ran into issues. Can you help us understand more on what were the exact steps you tried and failed?

[2018-03-27 01:53] dcbrown16 opened #6329 "Wrong link about IP addresses?"
"As service deployments are made, the actual IP addresses of the Log Analytics service change. The DNS names to allow through your firewall are documented at Configure proxy and firewall settings in Log Analytics."
This link points to https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-agent-windows but there are no details of the DNS there (only general steps to verify connectivity

[2018-03-27 02:35] tysonn commented on #5393
@anrothMSFT - Could you look at this customer feedback?

[2018-03-27 02:35] chakrarp commented on #6298
@mohitgargmsft Any ideas?

[2018-03-27 02:36] anrothMSFT commented on #5393
I am not the PM owner for this.
I have updated the ms owner for: Emotion API, Face API, Custom Vision Service, and Computer Vision API.

From: Tyson Nevil <notifications@github.com>
Sent: Monday, March 26, 2018 7:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anna Roth <anroth@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Examp

[2018-03-27 02:44] tysonn commented on #6207
@KellyDF - Reminder to follow up on this customer feedback on your article.

[2018-03-27 03:04] rizwaans opened #6331 "Software Engineer"
var methodInvocation = new CloudToDeviceMethod("writeLine") { ResponseTimeout = TimeSpan.FromSeconds(30) };
my directmethod app throws me this "Timed out waiting for the response from device" error however, the method is executed on simulate device app. Is there any way that I can dynamically set the Response timeout

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-03-27 03:13] TerryLanfear commented on #5070
@aydeisen - The spreadsheet of baseline rules was updated on 3/15/18.  Thank you.

[2018-03-27 04:14] rwike77 commented on #6224
@ohwellwhatever  Hi, take a look at this article which describes how to integrate Azure API Management with Service Fabric:  https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-deploy-api-management .  There's a link to the sample ARM template as well.

[2018-03-27 04:31] MohitGargMSFT commented on #6038
@jeremyhagan You can configure Hybrid Azure AD joined devices for PTA. To ensure Hybrid Join continues working for any new devices joined to the domain once your domains have been converted to Pass-Through Authentication, Azure AD Connect must be configured to synchronize Active Directory computer accounts for Windows 10 clients to Azure AD.

[2018-03-27 04:47] KeiroKamioka0000 opened #6332 "Removing Backup Policy"
If I remove entire backup policy from the VM with several recovery points, do I lose entire recovery points or the most recent one will be retained?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fb64073-8e41-ee31-c8eb-e2d8a64947fd
* Version Independent ID: 58d370cc-6951-6096-5e4b-a08bfd86a7c3
* Content: [Manage Azure

[2018-03-27 05:26] parakhj commented on #5853
@spottedmahn hope you're doing well! I've created a work item on myself to go update this article and include the note that you mentioned. Thanks for the suggestion! For now, I'll close this GitHub issue. The documentation should be updated by Build :P

[2018-03-27 05:27] parakhj commented on #5853
#please-close

[2018-03-27 05:30] parakhj commented on #5464
@MohitGargMSFT how do I change who this issue is assigned to?

[2018-03-27 05:31] parakhj commented on #5134
#please-close

[2018-03-27 05:41] Dheerajmentor commented on #6140
Yes, this command does provide a way to create new application but my requirement is to register an existing on-premise application to azure ad proxy and assign users/groups and this command does not have enough/related parameter to achieve my goal

[2018-03-27 05:47] parakhj commented on #5806
For B2C, I would currently recommend visiting https://aka.ms/aadb2cfeedback. We make updates there for each feature that you might be interested in.

For our release notes, see: https://docs.microsoft.com/en-us/azure/active-directory/whats-new
You can search on B2C

[2018-03-27 05:58] su-jie commented on #5976
Thanks @myusrn. Can you please try remove R tools in Visual Studio 2017 if you don't use it?

[2018-03-27 06:17] linda33wj commented on #6119
@myusrn please check this topic which outlines the V2 behavior and the difference with V1 regarding this: https://docs.microsoft.com/en-us/azure/data-factory/how-to-read-write-partitioned-data

[2018-03-27 06:35] martore opened #6333 "Update link"
[Use Notification Hubs to push notifications to users](https://docs.microsoft.com/en-us/manage/services/notification-hubs/notify-users-aspnet) link needs to be updated. New destination should be https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-aspnet-backend-windows-dotnet-wns-notification

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-03-27 06:50] Michaelvsk opened #6334 "Powershell links are outdated"
There are two links named "How to Use Azure Powershell" - both resulting in 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46653d6e-d057-e698-ef94-32d48e12d39f
* Version Independent ID: 74beaf3c-60f9-006d-110a-fbe2348d4797
* Content: [Enable diagnostics logging for web apps in Azure App Service](https://docs.micro

[2018-03-27 07:05] simplesi commented on #6226
Sure. 1+2 are essentially solved the same way though - provide guidance on
how to deploy to AAS from a command line, because the existing documented
approaches don't seem to work.

I've tried:

1) Analysis Services deployment wizard.
https://docs.microsoft.com/en-us/sql/analysis-services/multidimensional-models/running-the-analysis-services-deployment-wizard
Note: the documentation says AAS isn't

[2018-03-27 08:02] lesterw1 opened #6335 "VPN Limits are missing from this document."
See this article for the new VPN performance numbers: https://azure.microsoft.com/en-gb/blog/new-azure-vpn-gateways-now-6x-faster/
This should be included in the networking section of this document,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f1

[2018-03-27 08:18] mike-urnun-msft commented on #6286
Hey @foucdeg - I followed the steps in the doc on my mac and was not able to repro this error.

You can find more info about the `az webapp create` command and the usage of these parameters (`--runtime` `--deployment-container-image-name`) here: https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-create.

Alternatively, you may run these commands in CloudShell & setup

[2018-03-27 08:21] solstarz commented on #6133
Hi @kgremban yes that is correct. It creates the realtime service, but i don't see how it will run on a aks cluster. And is it possible to use an existing aks cluster while creating a realtime webservice?

[2018-03-27 08:44] dominicbetts commented on #5396
@smoms - thanks for letting us know about this issue. We have a work item to re-test and update the scripts in this article - in the meantime, can you use the scripts and instructions here: https://github.com/Azure/azure-iot-sdk-c/tree/master/tools/CACertificates

Thanks, Dominic

[2018-03-27 08:44] dominicbetts commented on #5396
#please-close

[2018-03-27 08:45] dominicbetts commented on #5971
#please-close

[2018-03-27 09:34] linda33wj commented on #6298
@chakrarp importing schema on dataset actually doesn't work and you don't need to do that, we will disable it soon. To keep constructing a copy, please go to your activity -> specify a query; for now you need to config in Advanced tab, refer to https://docs.microsoft.com/en-us/azure/data-factory/connector-amazon-marketplace-web-service#amazonmwssource-as-source., then you can do preview data on So

[2018-03-27 09:37] alexjmoore opened #6336 "Cloud Witness?"
Should this documentation not reference use of Azure Storage Blob as a Cloud Witness rather than using a VM FSW?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f4f2ef2-d071-c86e-0afe-ff6aed852132
* Version Independent ID: 20998982-0546-5814-76a7-cd53abe9d590
* Content: [SQL Server Availability Groups - Azure Virtual M

[2018-03-27 10:07] femsulu commented on #6302
@nluckenbill , thanks for bringing this to our attention. Typo has been fixed. The correction should be live shortly.

[2018-03-27 10:10] dmc-tech commented on #5997
I assume that the port and protocol requirements for Stamp AD FS -> Customer AD FS is HTTPS,  TCP 443?  You mention the Graph -> AD requirements, but this is missing.

[2018-03-27 10:16] femsulu commented on #6305
@AbhishekAdusumilli
Thanks for bringing this to our attention. A doc fix has been initiated to add correct the date published. this will be live shortly. We appreciate your feedback.

[2018-03-27 10:31] nabhishek commented on #5900
Yes, you can set the cap for limiting concurrent job processing on each self-hosted IR node. You can use ADFv2 GUI or PowerShell - https://docs.microsoft.com/en-us/powershell/module/azurerm.datafactories/set-azurermdatafactoryv2integrationruntime?view=azurermps-5.5.0.
For GUI, navigate to Data Factory -> Connections -> Integration Runtimes -> Edit -> Existing Self-Hosted Nodes -> Limit Concurrent

[2018-03-27 10:32] femsulu commented on #6326
@kevinmgates Thanks for bringing this to our attention. The typo has been fixed and should be live shortly.

[2018-03-27 10:33] kevinmgates commented on #6326
Awesome! Thanks!

Kevin
(kgates@microsoft.com<mailto:kgates@microsoft.com>)

On Mar 27, 2018, at 5:32 AM, femsulu-MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

@kevinmgates<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fkevinmgates&data=02%7C01%7C%7Cef319c8f9ab14423e1d808d593ce0866%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C6365774354671

[2018-03-27 10:51] marcelvb opened #6337 "Use parameters"
The query in the example is built using String.Format(). Parameters should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e96d57ec-5094-d07b-c3ee-9406b2c26b05
* Version Independent ID: 4cf058c6-fbda-3ec4-5ad3-ca48172368ea
* Content: [Connect to Azure Database for PostgreSQL from C#](https://docs.microsoft.com/

[2018-03-27 11:13] mcourter commented on #6308
Thanks for your reply.  Please see the full stack trace below.  I must have something different about my environment….?

PS Azure:\> az webapp create --resource-group myResourceGroup2 --plan myAppServicePlan2 --name myDBChattanooga --deployment-local-git

'NoneType' object has no attribute 'reserved'

Traceback (most recent call last):

  File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\

[2018-03-27 11:14] PrateekChaudharyDevOps opened #6338 "Cosmos DB Firewall"
The screenshot looks outdated. I do not see any of the ON / OFF(Enable IP Access Control, Allow access to azure portal Allow access to azure servic es) options in firewall blade of cosmos db. These are now checkboxes options

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d6fa068-69da-7a32-6479-1145f14f2ed2
* Version I

[2018-03-27 11:21] haplo69 opened #6339 "Custom Attributes"
Hi, you say "Custom Attributes are synced from on-premises Windows Server AD or from a connected SaaS application and the the format of "user.extension_[GUID]__[Attribute]", where [GUID] is the unique identifier in AAD for the application that created the attribute in AAD and [Attribute] is the name of the attribute as it was created". I have a question:  If I use Azure AD Connect which is the GUI

[2018-03-27 11:25] mcourter commented on #6308
From: Bryan Trach [mailto:notifications@github.com]
Sent: Monday, March 26, 2018 7:53 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: mcourter <mcourter@epbfi.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] All good until webapp create time. (#6308)

@mcourter <https://github.com/mcourter>  We were able to work through the doc twice with no er

[2018-03-27 12:10] mrbullwinkle commented on #6265
#in-process

[2018-03-27 12:19] JozoSlejko opened #6342 "One single non-floating IP (non-Direct Server Return) HA ports configuration on the internal Standard Load Balancer"
Please set this heading to a larger one (like others below), to be seen in the right "In this article" pane.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc1f74d6-447c-5a0c-d644-5e5008396f2f
* Version Independent ID: 0faeb52e-769a-b99b-1a3f-2f513efff2d4
* Content: [High availability ports overview in Azure](https://d

[2018-03-27 12:25] chakrarp commented on #6298
@linda33wj Pipeline Advance Settings
{
    "name": "Pipeline1",
    "properties": {
        "description": " AWS Pipeline",
        "activities": [
            {
                "name": "CopyFromAmazonMWS",
                "type": "Copy",
                "inputs": [
                    {
                        "referenceName": "AmazonMWSObjectTry",
                        "type": "DatasetReferenc

[2018-03-27 12:51] tathamoddie opened #6343 "How does 'Require device to be marked as compliant' work for AAD B2B guests?"
If their device is considered compliant by their home tenant, does that flag carry across the B2B flow and get considered in our tenant's conditional access policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7aca4a4-9951-2132-3910-cf83ba66a048
* Version Independent ID: 2509fd1f-60e7-66ce-fc7e-c16b8cf73865
* Cont

[2018-03-27 12:54] tathamoddie opened #6344 "Chrome now supported"
This page says "On a Windows device, only Internet Explorer and Edge are supported.", however Chrome now works with AAD conditional access as well.

This page includes a link to "supported browsers" (https://docs.microsoft.com/en-us/azure/active-directory/active-directory-conditional-access-supported-apps), which lists Chrome.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-03-27 12:57] haplo69 commented on #6339
I answered myself using the Azure AD Graph Explorer on my Azure AD.

[2018-03-27 13:21] typik89 commented on #5854
Please look at https://stackoverflow.com/questions/49512099/aks-cant-pull-image-from-an-acr

[2018-03-27 13:51] spottedmahn commented on #5853
hey @parakhj - you too!!

Thanks!!

[2018-03-27 13:51] #5853 closed

[2018-03-27 14:25] MGoedtel commented on #6329
@dcbrown16 - Yes, that link is out date and needs to reference the new article/section you have highlighted.  Thanks for bringing this to my attention, I'm in the process of making other revisions/corrections to the article so I'll make sure to include this bug.  #in-process.

[2018-03-27 14:33] jecarlsen opened #6347 "incomplete steps to establish a connection."
I had to quickly check why the Connection would establish as expected. The 'full' procedure is misleading since there is no mention that the connection would fail without updating the Ipsec policy. Please include the missing pieces, see below.

This is a sample I received from Support a moment ago. The reply reads as follows:
A common issue right now is that Azure Stack QM SA Lifetime only support

[2018-03-27 14:33] bernardw1 commented on #5496
Thank you for acknowledging that there is an issue with the connector. I hope it comes soon it will be VERY useful to have.

[2018-03-27 14:38] tsahi opened #6348 "Misleading link at "Next steps""
The first link at "Next steps" leads to a tutorial on GitHub which is exactly the same as [Get started with Service Bus queues](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-get-started-with-queues). Both tutorials are irrelevant to the subject of this page, because receiving session messages as demonstrated in that tutorial is impossible. Attempting to do so fire

[2018-03-27 14:42] HaikoHertes opened #6349 "az acs create fails"
For me, the line

az acs create --name mySwarmCluster --orchestrator-type dockerce --resource-group myResourceGroup --generate-ssh-keys

results in this failure:

Deployment failed. Correlation ID: d8b5ac84-525d-4fa9-9fd5-2f454eb42c29. {
  "error": {
    "code": "BadRequest",
    "target": "containerService.properties.orchestratorProfile.orchestratorType",
    "message": "Error converting value \"

[2018-03-27 14:48] amanarneja commented on #6226
@simplesi Thanks for getting back to me. Will take a deeper look and get back to you.

[2018-03-27 14:53] Brenduns commented on #5873
With the product teams assistance, the 1711 release notes have been updated to provide guidance about the account issue. This now appears as a prerequisite for installing 1711.

[2018-03-27 14:53] Brenduns commented on #5873
#please-close

[2018-03-27 15:01] leftler opened #6350 "Logical functions page missing from TOC from azure/templates/ documentation."
When following links from or viewing the TOC from https://docs.microsoft.com/en-us/azure/templates/ the logical functions page does not show up. It takes you to a link that looks like https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions?toc=%2fazure%2ftemplates%2ftoc.json&bc=%2Fazure%2Ftemplates%2Fbreadcrumb%2Ftoc.json and you have to remove the query str

[2018-03-27 15:11] Brenduns commented on #5825
@DaveDXC  Thank you the feedback. I passed this to our developers and they said this was great feedback and they will address this.  I don't have an eta, but do have faith that they will update the script.

[2018-03-27 15:11] Brenduns commented on #5825
#please-close

[2018-03-27 15:17] seb-dataworks opened #6351 "Application Insights works as well"
You might want to add to this documentation, that the built-in integration with Application Insights for monitoring works just as in cloud Azure Functions :) https://blogs.msdn.microsoft.com/visualstudioalmrangers/2017/10/10/azure-function-integrating-monitoring-with-application-insights/
Of course the module needs to be able to connect to the outside world (i.e. AppInsights)

---
#### Document De

[2018-03-27 15:22] cloudmelon opened #6352 "Unclear definition hub wins or member wins"
I didn't success to create a 'pull requests' in this repo, but I would like to share my opinion regarding this documentation.   In the section 'Create a new Sync Group' , step In the Conflict Resolution section, select "Hub wins" or "Member wins." would prefer to add the definition about Hub and member. And what is ' Hub wins'  and ' Member wins' .

I would like to recommend to write like below:

[2018-03-27 15:38] rothja commented on #6335
@lesterw1 Thank you for the suggestion.  @cherylmc Would you be the right person to take ownership of this request and to get the new limits documented in the main topic? Thanks!

[2018-03-27 15:45] cjgronlund commented on #5278
@bradsev @Adam-Smith-MSFT
Brad, when you've resolved the issue -- either through fixing the doc, filing a work item if it's a bigger issue, or whatever, you close it. https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master

#please-close

[2018-03-27 15:46] cjgronlund commented on #6023
#in-progress

[2018-03-27 15:47] cjgronlund commented on #6023
@gopitk Please provide an answer to this issue raised in documentation. We have an SLA of 5 days. Thank you!
@kringen - Agreed! Thank you for bringing up this good question.
@bradsev FYI

[2018-03-27 15:49] cjgronlund commented on #6031
@gopitk thank you for that useful answer! Please add that to the appropriate place in the documentation.
@Blackmist Thank you for reporting that!
#in-progress
@bradsev FYI

[2018-03-27 15:51] Brenduns commented on #5586
@jrp2014   Thanks for this feedback.  Based on your feedback, and a very similar feedback received recently, both the product group and the Documentation teams are now aware of this issue.  For content, we have some changes planned for the near future to help address the account context that should be used.

[2018-03-27 15:51] cjgronlund commented on #5965
@grzjab Great catch! Sorry we missed that one. I'll find the right link if there is one and update directly.
#in-progress
@bradsev FYI

[2018-03-27 15:51] th389 commented on #5278
Not yet fixed [here](https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-ubuntu-intro#python)

[2018-03-27 15:51] Brenduns commented on #5586
#please-close

[2018-03-27 16:13] Bartolomeus-649 commented on #5800
The intended use of a service belong in the documentation

[2018-03-27 16:23] mattcowen commented on #5164
I was following the example with SSL for WCF but if you follow the docs it doesn’t work.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-secure-communication-wcf

Regards
Matt
mob. 07733221110
email. mattcowen@outlook.com<mailto:mattcowen@outlook.com>

From: suchiagicha <notifications@github.com>
Sent: 19 March 2018 18:13
To: MicrosoftDocs/azure-docs <azure-

[2018-03-27 16:28] jwhiteDev commented on #6333
Please assign to @dimazaid

[2018-03-27 16:29] MicahMcKittrick-MSFT commented on #6266
If you cannot see a list of your virtual machines when selecting view in the portal it would be due to your role level. You should have your service admin review the roles and assign you what you need.

[2018-03-27 16:32] cjgronlund commented on #5822
#in-process

[2018-03-27 16:33] cjgronlund commented on #5822
@deguhath Please update this documentation. See issue note above.

[2018-03-27 16:38] apsave commented on #5401
if you too want MFA support for the ADSync module, please upvote this feedback request: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/33768523-please-add-support-for-mfa-to-the-adsync-module

[2018-03-27 16:38] cjgronlund commented on #5278
@th389 Thank you for checking. Agh - our mistake! I'm submitting a PR, and you should see the changed by noon tomorrow, if not earlier.
#please-close

[2018-03-27 16:40] iainfoulds commented on #5599
This doc has been updated and is now live.

#please-close

[2018-03-27 16:40] MohitGargMSFT commented on #5464
@parakhj I have assigned this issue to you. Thanks.

[2018-03-27 16:41] Skarakkattil opened #6356 "Azcopy is failing. See the error."
User is an administrator on the machine. But Azcopy with my personal id which is an admin on the machine works.  I am trying it from cmd prompt

Unhandled Exception: System.Runtime.Serialization.SerializationException: End of Stream encountered before parsing was completed.
   at System.Runtime.Serialization.Formatters.Binary.__BinaryParser.Run()
   at System.Runtime.Serialization.Formatters.Binar

[2018-03-27 16:48] amanarneja commented on #6333
@martore Thanks for reporting! We will get this updated ASAP.

[2018-03-27 16:50] neilpeterson commented on #5854
@typik89 - I have added some comments to the stack overflow thread.

[2018-03-27 16:53] rothja commented on #5677
@SIGAN Thanks for your feedback. The changes have been made. #please-close

[2018-03-27 16:53] mrbullwinkle commented on #6144
#in-process

[2018-03-27 16:54] MohitGargMSFT commented on #6038
@jeremyhagan We will now proceed to close this thread. If there are further questions regarding this matter, please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
[https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform](https://social.msdn.microsoft.com/Forums/azure/en-US/ne

[2018-03-27 16:54] mike-urnun-msft commented on #6178
Thank you for your feedback @ianthemachinejones & @GokuSSL5! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-27 16:58] CarlRabeler commented on #6292
#please-close

[2018-03-27 16:59] MohitGargMSFT commented on #6293
@montereyharris We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-27 17:00] MohitGargMSFT commented on #6299
@ltouro We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-27 17:00] rothja commented on #5157
@helderpinto Hello, again, apologies for the delay. We've been having an internal discussion about your question. I think there might be a confusion between the two tables. The first "Subscrition limits" table refers to the old classic deployment model, so that is the only place that we list 10,000 cores as a maximum limit. The Resource Manager table, as you mentioned, says contact support. But co

[2018-03-27 17:02] davemct opened #6358 "MMA Download link NOT working."
From my Azure OMS/Log Analytics workspace, I select Advanced Settings, Connected Sources, then Windows computers.  When I click the hyperlink (Download Windows Agent (64 bit)) the browser opens a blank page and NOTHING happens.  I've tried this on several different computers, using both IE 11 and Edge.

Is this functionality broken or is there another place I can get the MMASetup-.exe downloaded.

[2018-03-27 17:02] #6292 closed

[2018-03-27 17:05] tfitzmac commented on #6350
@leftler - thanks for making us aware of this inconsistency. I will fix it.

#in-process

[2018-03-27 17:06] BryanTrach-MSFT commented on #6328
@andrewatfornax Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 17:09] BryanTrach-MSFT commented on #6331
@rizwaans Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 17:10] BryanTrach-MSFT commented on #6332
@KeiroKamioka0000 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-27 17:11] ecfan commented on #5725
@cparker4486 @SyntaxC4 @jason-j-MSFT @mike-urnun-msft @kevinlam1 @jeffhollan

I added updating missing expressions to an existing work item for reworking the Workflow Definition Language content. Unless anyone has objections, I'd like to close this issue. Thanks!

#please-close

[2018-03-27 17:13] BryanTrach-MSFT commented on #6334
@Michaelvsk Thanks for the feedback! We are currently investigating and will update you shortly.