[2020-03-03 20:06] SaurabhSharma-MSFT commented on #49253
@johanburati I am able to reproduce this  and seeing the same on Azure portal -
![image](https://user-images.githubusercontent.com/38112130/75814753-2602cb80-5d47-11ea-9eb8-b277d38b9057.png)

@msmbaldwin Can you please verify and update the documentation if require.

[2020-03-03 20:10] BharathNimmala-MSFT commented on #49170
@harelbr Thank you for helping on this thread.

@lalitprasad Could you please review the information shared by  @harelbr  and let us know if you have any further queries. Thank you.

[2020-03-03 20:17] craigshoemaker commented on #45233
There are Java examples available in the [individual bindings reference articles](https://docs.microsoft.com/azure/azure-functions/functions-triggers-bindings#supported-bindings).

#please-close

[2020-03-03 20:17] #45233 closed

[2020-03-03 20:19] BharathNimmala-MSFT commented on #49195
@cainmich Thanks again for bringing this to our notice. I have raised the PR to update the document, once reviewed and approved this week the changes would go live. Thanks

[2020-03-03 20:19] #49195 closed

[2020-03-03 20:21] TechWatching commented on #49349
Thanks Mark. Are the samples you commited on [github cosmos-management-net repo](https://github.com/Azure-Samples/cosmos-management-net) also a good way to deploy stored procedures, triggers and UDF ? I was wondering if using the Azure Management SDK as you did was indempotent ? The fluent API seems nice to use but I need to be sure that I can execute again the same code that creates store procedu

[2020-03-03 20:22] davidsmatlak commented on #46870
[Update rollup 45 for Azure Site Recovery](https://support.microsoft.com/en-us/help/4550047/update-rollup-45-for-azure-site-recovery) was published on March 2, 2020. I'll update the What's new in Site Recovery document.

[2020-03-03 20:25] greendx opened #49401 "Azure automatically rotates the identity --- Key/Secret rotation"
Can you please clarify this "Azure automatically rotates the identity"? What is actually rotated and how when using managed identity? For example when you create a vault, assign a system generated identity to an azure WebApp, provision access to the managed identity to the vault for a key and use the Key URI in the application code, where would key/identity rotation come into play?

"Managed ident

[2020-03-03 20:35] cijothomas opened #49402 "Modify application insights instructions to use ConnectionStrings"
https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-monitoringandmanagement#application-insights
The above section should be modified to configure SDK using connection strings, which would be a lot easier (and recommended way) than manually playing with each end point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-03-03 20:41] craigshoemaker commented on #48126
This is updated and will go live with the next content push. Thanks, @dwoldo for the heads-up!

#please-close

[2020-03-03 20:41] #48126 closed

[2020-03-03 20:41] blazarson opened #49403 "Create a Site-to-Site connection in the Azure portal"
Why can't I just print this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57cbce6b-e48b-c199-7071-865a2a6422f0
* Version Independent ID: 06320049-4747-cd1f-564a-36f3a6f5b004
* Content: [Connect on-premises network to Azure virtual network: Site-to-Site VPN: Portal - Azure VPN Gateway](https://docs.microsoft.com/

[2020-03-03 20:42] BharathNimmala-MSFT commented on #49164
@Prateek1584990  Thanks for additional information, however please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. If you have any queries with existing Azure documentation we can help you here and that was the reason we were requesting to share the documentation link which you referring so that we could further help.

Additio

[2020-03-03 20:42] #49403 closed

[2020-03-03 20:43] craigshoemaker commented on #48260
This is more of a product limitation rather than a docs issue at the moment. Once there is more formal support for Functions v3.x, then we can update the docs to reflect the changes.

#please-close

[2020-03-03 20:43] #48260 closed

[2020-03-03 20:44] Karishma-Tiwari-MSFT commented on #49274
@hbiarge Let me go over with what I understand from the question.

1) you created an AD server Component (server application) and
2) created an AD client component (client application)

Those two apps were used at the cluster creation time to configure the integration with AKS and AAD.

Now, could you clarify if you are trying to enable Azure Monitor for your AKS Cluster OR for the server/client a

[2020-03-03 20:45] craigshoemaker commented on #48910
Adding PowerShell to the to the triggers and bindings refs is being tracked under a larger work item internally.

#please-close

[2020-03-03 20:45] #48910 closed

[2020-03-03 20:47] Karishma-Tiwari-MSFT commented on #49374
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-03 20:47] bandersmsft commented on #49175
#please-close

[2020-03-03 20:47] #49175 closed

[2020-03-03 20:49] bandersmsft commented on #48781
#please-close

[2020-03-03 20:49] #48781 closed

[2020-03-03 20:49] Karishma-Tiwari-MSFT commented on #49379
Thanks for the question. We are currently investigating and will update you shortly.

[2020-03-03 20:49] cadeavil-msft opened #49404 "need a statement that STONITH requires the cluster to have a public IP address and that the API authentication is against https://login.microsoftonline.com"
under the heading " Create the STONITH devices" it must be clearly stated that Red Hat STONITH setup requires the cluster/server be set with a public IP address, and that the authentication will be performed against https://login.microsoftonline.com.

The public IP address is required because login.microsoftonline.com is a public resource. A cluster without a public IP address will never authentic

[2020-03-03 20:50] dhirajgandhi commented on #40081
Thank you for your feedback, We will investigate the addition to current documentation and update.

[2020-03-03 20:52] Karishma-Tiwari-MSFT commented on #25882
@markdebruijne Are you still seeing this issue?

[2020-03-03 20:53] #47192 closed

[2020-03-03 20:54] krispenner commented on #36828
https://feedback.azure.com/forums/169385-web-apps/suggestions/38383642-web-app-and-private-dns-zone-support

[2020-03-03 20:54] zr-msft commented on #47192
Thank you for the feedback @shunkino.

I have updated the documentation to make the prerequisites clearer. The changes should be available soon.

[2020-03-03 20:56] kgremban commented on #43441
I'm going to close this issue for inactivity. If there are any more concerns around this issue, feel free to comment here and we can reopen if necessary.

#please-close

[2020-03-03 20:57] #43441 closed

[2020-03-03 20:57] 12joe12 commented on #40338
is this issue solved? i am having the same issue.

[2020-03-03 20:57] kgremban commented on #43440
Closing this issue for inactivity. If there are any more concerns or questions about this topic, feel free to comment here and we can reopen it.

#please-close

[2020-03-03 20:58] #43440 closed

[2020-03-03 20:58] kgremban commented on #43379
Thanks for confirming that you were unblocked @turnerno8. I'm going to close this issue now. If there are any more concerns or questions around this topic, feel free to comment here and we can reopen if necessary.

#please-close

[2020-03-03 20:58] #43379 closed

[2020-03-03 21:00] kgremban commented on #40520
I forgot to respond to this issue after code improvements were made back in November. I'm going to close this now. If there are any more questions or concerns about this topic, feel free to comment here and we can reopen the issue if necessary.

#please-close

[2020-03-03 21:00] #40520 closed

[2020-03-03 21:02] devsmartshah commented on #34827
Hi this has been resolved now. It was our corporation firewall. We needed
to add port 1443 and 1433

On Tue, 3 Mar 2020, 18:04 Ninar Nuemah, <notifications@github.com> wrote:

[2020-03-03 21:03] luzmariaeIDB commented on #12432
Did someone got the solution of this? im struggling with the same "cant connect for authentication to the firewall failed due to missing firewall credentials. " I followed the described steps but the same...

[2020-03-03 21:06] cecilphillip opened #49405 "Bing maps comparison"
It would be great to have a *Migrate from Bing Maps* doc similar to the *Migrate from Google Maps*. I also get asked about the differences between Bing and Azure Maps. It would be great to have somewhere official on Docs to point them to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b33476e-4f3b-f94e-d6d6-1faf9fbf3e

[2020-03-03 21:09] vanthoainguyen commented on #49060
Thanks,

I'll create the support ticket then.
This is for whoever interested in the same issue:

[2020-03-03 21:09] #49060 closed

[2020-03-03 21:10] NavtejSaini-MSFT commented on #49271
@tomkuijsten Please check the below doc for the requirements for the logical partiotions:

https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview#choose-partitionkey

Hope this helps.

[2020-03-03 21:14] vanthoainguyen commented on #49113
As discussed, I've found out that it's totally fine to have _id as the partition key.
The problem i observed is not because of the chosen partition strategy but the way we model the document that makes it really big over time and there are recent spikes in writing operations.

This is from @ThomasWeiss

And in our cases it's the WRITE operation so we will have to fix it.
Closing now.

[2020-03-03 21:14] #49113 closed

[2020-03-03 21:17] Karishma-Tiwari-MSFT commented on #49387
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@genlin Can you please take a look at this request? Thanks :)

[2020-03-03 21:17] NavtejSaini-MSFT commented on #49377
@code-vega We are checking this with our author for more clarity.
@rohitnayakmsft Please check the feedback from user and provide clarity.

[2020-03-03 21:23] BharathNimmala-MSFT commented on #49237
Thank you @tudort-iquest  for your query.

[Additional information pertaining to Legacy pricing tiers](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-cost-storage#legacy-pricing-tiers).

Subscriptions who had a Log Analytics workspace or Application Insights resource in it before April 2, 2018, or are linked to an Enterprise Agreement that started prior to February 1, 2019, w

[2020-03-03 21:25] TravisCragg-MSFT commented on #49359
@krymzn Are you setting "authentication settings" as "none" when selecting the certificate? Step 5 gives special options for Catalina.

If you are still unable to see the certificate, your best bet is to open a support request. If you do not have a support plan, please Email me at azcommunity@microsoft.com with your subscription ID and a link to this post, and I will enable a one-time free support

[2020-03-03 21:29] MarileeTurscak-MSFT commented on #49159
Make sure all directories are configured to allow invitations in **Collaboration restrictions**.  https://docs.microsoft.com/azure/active-directory/b2b/delegate-invitations

As long as they are guest users then it should work and should behave like that. Would you mind sending me an email to AzCommunity@microsoft.com and include your subscription ID so that we can look into this further together?

[2020-03-03 21:31] sdgilley commented on #49053
The compute instance team reports that this functionality is not currently available but it is on their radar.

This document cannot be updated until the functionality exists, so I'm closing this issue here.

#please-close

[2020-03-03 21:31] #49053 closed

[2020-03-03 21:33] josuuribe commented on #49370
So it's possible the other option, I mean, create an application in A.onmicrosoft.com, assign RBAC to this application and then make this application multitenant, so any user from B.onmicrosoft.com can access this application and finally use the resource.

[2020-03-03 21:33] Karishma-Tiwari-MSFT commented on #49395
@cynthn Do you know if we have any guidance for Microsoft Customer Agreement (MCA) for Spot VMs? Thanks :)

[2020-03-03 21:36] Karishma-Tiwari-MSFT commented on #49404
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-03 21:36] TravisCragg-MSFT commented on #49372
@koyasuda-msft Thanks for the feedback! I have added the character, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-03 21:36] #49372 closed

[2020-03-03 21:38] stephenc01 commented on #33157
What is the status of this?

[2020-03-03 21:44] tiwilk opened #49407 "TechNet Script"
Please remove the link to the technet script as it no longer exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b285f539-0487-0de5-24ef-89f773a1081d
* Version Independent ID: b4f26f73-6b46-9703-692b-abe1f0d5f825
* Content: [Azure AD Connect: Configure preferred data location for Office 365 resources](https://docs.m

[2020-03-03 21:45] Karishma-Tiwari-MSFT commented on #49379
Could you confirm how many nodes your AKS Cluster currently has ?

If this node the only one which is reporting a clock error ?

[2020-03-03 21:53] TravisCragg-MSFT commented on #49380
@mycloudarchitect Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-03 21:53] jixer opened #49408 "Add Role Assignment Screenshot"
Can you update the screenshot to specify "App Configuration Data Reader" as the role instead of "Contributor"?

I should have read the text above the screenshot, but I instead copied the settings from the screenshot and was stuck on a 403 (Forbidden) error upon app startup.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-03-03 21:58] webguynj opened #49409 "Are Service Packs installed with this capability?"
The notes say important updates are installed but CUs are not.   This leaves it unclear whether or not service packs are installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5fc1e80-5a56-3850-cb63-7c882950c4e6
* Version Independent ID: ee5da592-4c95-f38d-6f9f-7787fff9ff70
* Content: [Automated Patching for SQL Se

[2020-03-03 21:59] erfranke opened #49410 "System.ArgumentException"
System.ArgumentException: 'The path to an Event Hub may be specified as part of the connection string or as a separate value, but not both. (Parameter 'connectionString')'

The metrics page under the event hubs instance shows that messages have come in using this code, however the Program.cs keeps throwing an exception on line 19.

using System.Text;
using System.Threading.Tasks;
using Azure.Messa

[2020-03-03 22:02] msereda commented on #49392
The localization page also mentions the same "UserMessageIfSessionDoesNotExist" tag that does not appear to be correct, under the OTP section:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization-string-ids

And coming back to my side note in the previous comment, I see the 'verification code has been sent ...' message is under localization, but does not work when updating 've

[2020-03-03 22:02] MarileeTurscak-MSFT commented on #49407
@tiwilk thanks! Fixing this.

[2020-03-03 22:05] MarileeTurscak-MSFT commented on #49407
I made a pull request to remove that link and the step 4 instructions for using that script. https://github.com/MicrosoftDocs/azure-docs-pr/pull/106396

Thanks for calling this out.

[2020-03-03 22:05] #49407 closed

[2020-03-03 22:06] davidsmatlak commented on #46870
I submitted the fix for this issue and when it merges, this issue will be closed. The updated document will be online within 24 hours.

[2020-03-03 22:08] davidsmatlak commented on #46870
#please-close

[2020-03-03 22:08] #46870 closed

[2020-03-03 22:09] SaurabhSharma-MSFT commented on #49357
@aelij Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-03 22:09] cynthn commented on #40338
@axayjo Can you offer any suggestions for troubleshooting issues creating VMs from shared images?

@mimckitt FYI

[2020-03-03 22:11] Bluhmanman commented on #49293
Sure, this is how it's being leveraged. It's pretty simplistic, but we're planning to use it across several microservices:

The InsightHelper is a component that just configures a Telemetry Client to report to a standardized AppInsights instance with a string-defined cloud role to make the messages filterable.

[code]

[2020-03-03 22:13] SaurabhSharma-MSFT commented on #49357
@aelij have you tried the workaround as mentioned [here](https://github.com/zephyrproject-rtos/zephyr/issues/21426)

[2020-03-03 22:17] kmoore-riphaina commented on #49011
I’ve upgrade the plan to the standard plan, but the pricing tier shouldn’t matter for getting this to work

From: David Pine <notifications@github.com>
Sent: Monday, March 2, 2020 12:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kristofer Moore <kmoore@riphaina.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] code sample doesn't work (#490

[2020-03-03 22:19] timriker opened #49411 "xrdp login"
The web page based authentication does not allow the user to add a password for the login session. This prohibits rdp connections to a linux box running xrdp

I'd prefer an option to enable password based authentication, or ssh key authentication. Even better would be password+key with an authenticator app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-03-03 22:20] tmmueller commented on #48409
@SubhashVasarapu-MSFT I have had an Azure support ticket open regarding this issue since February 14, and unfortunately, they have not been able to determine which country code is appropriate. That's why I thought a documentation update could help. Should I still send you an email?

[2020-03-03 22:22] Juliako commented on #40797
#please-close

[2020-03-03 22:22] #40797 closed

[2020-03-03 22:23] Juliako commented on #39048
#please-close

[2020-03-03 22:23] #39048 closed

[2020-03-03 22:23] bachoang commented on #49205
@hpsin - thanks Hirsch.  The problem is lacking documentation on this cause customer to make the wrong assumption about RT token format and size.  They assume it's a certain size so pre allocate memory based on what they see and this breaks their app when the size change.  I have already received 2 support cases on this issue for a big Enterprise customer.

[2020-03-03 22:25] SaurabhSharma-MSFT commented on #49394
@artisticcheese Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-03 22:28] SaurabhSharma-MSFT commented on #49384
@rbmathis Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-03 22:28] BrianLevenson commented on #49108
Feature request submitted. Updating documentation now.

[2020-03-03 22:50] Ayanmullick commented on #48527
@normesta , The `ContentType` property of a blob [determines ](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types)if the browser can load it. Manually uploading from the Portal sets the `ContentType` to `application/octet-stream` by default. Uploading from the latest version of the desktop version of Storage Explorer sets the `ContentType` to `text/plain; char

[2020-03-03 22:51] rohitnayakmsft commented on #49377
Create an outbound rule in the NSG of your VM with the following attributes
Dest Port : 1433,1100-11999
Dest :- Service Tag? Sql.WestUS for example
Source :- Private IP of the VM
Source Port :- Any

[2020-03-03 22:53] rohitnayakmsft commented on #37077
From the VM you can use Private Link to SQL Db and thus connect over Private IP without having toe sett Allow Azure Services to On

[2020-03-03 22:55] irishun opened #49414 "Change languag of text to speech"
Hi,
I am trying the service with python and have changed the language with the following settings based on the sample code:

lang = "de-DE-Stefan-Apollo"
speech_config = speechsdk.SpeechConfig(subscription=speech_key, region=service_region, speech_recognition_language=lang)

However, the speech-language is still the default one (English).

Could you please let me know how to change the language co

[2020-03-03 22:58] Grace-MacJones-MSFT commented on #49396
Hi @ohwellwhatever, thanks for sharing that link. Was there something specific you wanted us to add the docs?

[2020-03-03 22:59] Grace-MacJones-MSFT commented on #49398
Thank you for the question @ohwellwhatever.  We are currently investigating and will update you when we have accurate information to provide.

[2020-03-03 23:04] markjbrown commented on #49349
These are not ARM templates. These API's are essentially wrappers around our Resource Provider REST API. The API for the generated samples are auto-generated from our swagger spec. The fluent version is a wrapper around that. The interface for the fluent API's is not fully complete and we are going to make changes as these are getting too deep due to the depth and complexity of our RP.

With the g

[2020-03-03 23:10] alexvy86 opened #49415 "Clarify documentation about Daylight saving time support"
Right now the section on DST only says "Azure Backup doesn't support automatic clock adjustment for daylight saving time for Azure VM backups. Modify backup policies manually as required." but it didn't make it clear to me what exactly is it that is not supported, what unexpected thing we might see, or what we would need to change.

Is the issue if we configure a backup policy with a schedule of 2

[2020-03-03 23:11] KranthiPakala-MSFT commented on #49085
@jbrody831 Could you please provide the details requested in my previous comment.

[2020-03-03 23:13] KranthiPakala-MSFT commented on #49295
@lVlario0O0o Could you please confirm on the above?

[2020-03-03 23:14] KranthiPakala-MSFT commented on #49303
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2020-03-03 23:14] #49303 closed

[2020-03-03 23:15] arob98 commented on #46234
@dhmorrison Please see the latest update to this article. If we've addressed your concern, I'll close this issue. Thank you!

[2020-03-03 23:20] rbrundritt commented on #49405
Hi Cecil,

There is some sensitivity around this topic. As such we have choose to be reactive rather than proactive. The official Microsoft messaging on this is listed below.

I see that you work at Microsoft. Happy to discuss this further offline.

[2020-03-03 23:30] chwarr opened #49417 "Explain why default policy has "_etag" property path in quotes"
A newly created container has the following (excerpted) partition policy:

[code]

Notice that the path for the system-generated `_etag` field has quotes around it, after unescaping the JSON string (i.e., the value of the `excludedPaths[0].paths` field is `/"_etag"/?`). Consider explaining why this uses quotes but the other examples don't use quotes around field names. Is there a behavior differen

[2020-03-03 23:30] normesta commented on #48527
@Ayanmullick - Very cool. Glad you've gotten around this. I'll update this article - https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website-how-to?tabs=azure-portal. That article has three tabs. The PowerShell and CLI tabs already give the content type in the command examples. The Portal version contains no guidance for uploading files. I'll add a section that recommends

[2020-03-03 23:40] psihonavt opened #49418 "Return the "creation timestamp" in a subscription object."
It would be VERY handy to have a timestamp of when the SaaS subscription was first created (especially for subscriptions with "PendingFulfillmentStart" status.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8750da-cb47-7396-8d1b-0abff019a0be
* Version Independent ID: b19143ed-64c0-1554-5ac9-610513382609
* Content: [S

[2020-03-03 23:42] bandersmsft commented on #41665
@simonhutson Updated the article for the **Expired** state. As for *Other*, I don't see that one as a possible state. Can you attach a screenshot showing that state?

Fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/106399

#please-close

[2020-03-03 23:42] #41665 closed

[2020-03-03 23:51] Machaira opened #49419 "Accessing table with schema prefix"
Using the example provided, I've changed everything to try to access a table I've set up with a schema prefix. I'm getting a 404 error returned when I try to query a table:

Microsoft.WindowsAzure.MobileServices.MobileServiceInvalidOperationException: 'The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.'

The relevant code that's calling the serv

[2020-03-03 23:52] Mike-Ubezzi-MSFT commented on #48990
@sonalinoolkar
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-03 23:52] #48990 closed

[2020-03-03 23:55] Hazhzeng commented on #49260
@mike-urnun-msft, yes, recently we added support for Python 3.8. We were waiting for VSCode extension, core tools, and Azure CLI to be deployed before announcing this new feature.

Now everything is ready and please contact my manager @anirudhgarg or our pm @kulkarnisonia16 for the actual announcement date.

[2020-03-04 00:03] andy-822 opened #49420 "ClientCredential class obsolete"
In the Connect to the .NET client step, the GetCredentialsAsync method uses obsolete classes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb4fe04-b670-6468-8491-30aeae240e9f
* Version Independent ID: 3a53dcb9-950e-0b71-db51-3cf0b21561c9
* Content: [Connect to Azure Media Services v3 API - .NET](https://docs.microso

[2020-03-04 00:13] Mike-Ubezzi-MSFT commented on #48188
@FredFaust Did this address your question?

[2020-03-04 00:21] rogersass opened #49421 "Add clarification about scheduling of vulnerability scanning; once at push? or periodically?"
This document states "When a new image is pushed, Security Center scans the image...". So I assume vulnerability scanning only occurs once, at push time. Or is there a mechanism where scanning is scheduled periodically? If so how do I know when the image was last scanned? Can I control the schedule? The doc should clearly describe the scheduling capabilities.

---
#### Document Details

⚠ *Do not

[2020-03-04 00:21] MarkusVi commented on #43308
I have staged a fix for this.

#please-close

[2020-03-04 00:21] #43308 closed

[2020-03-04 00:26] malopMSFT commented on #42222
@jispar can you please help with the update on our documentation

[2020-03-04 00:29] stdistef opened #49423 "Files is offered as Standard and Premium."
In the table describing the types of storage accounts and their capabilities, Files are listed as Premium only.  But there is a Standard tier also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06288d35-3c83-c29d-95d8-a56823d910a3
* Version Independent ID: 002fb5f5-5e4a-a95a-4564-2c399bcb5e06
* Content: [Storage accou

[2020-03-04 00:30] mike-urnun-msft commented on #49386
@spmanjunath Thank you for your feedback! We will review and update as appropriate.

[2020-03-04 00:35] Mike-Ubezzi-MSFT commented on #49114
@sharmapriya2201 This capability is currently not supported. The Managed Instance PowerShell cmdlets are specific to Azure SQL Managed Instance, and the following cmdlet is what you would use: [Restore-AzSqlInstanceDatabase](https://docs.microsoft.com/en-us/powershell/module/az.sql/restore-azsqlinstancedatabase?view=azps-3.5.0) It allows you to target another Resource Group but not another Subscri

[2020-03-04 00:36] Mike-Ubezzi-MSFT commented on #49114
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-04 00:36] #49114 closed

[2020-03-04 00:38] Rug5 opened #49425 "New Tenant?"
When step 1 is to create a new tenant, I'm given the impression that I never should run this command in my existing/production tenant.  Don't most people reading this article already have a tenant with users?  If it's an optional step, it should be worded more like step 8.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-03-04 00:48] MarkusVi commented on #41080
I have staged an update for this.

#please-close

[2020-03-04 00:48] #41080 closed

[2020-03-04 00:54] fgauna12 commented on #49379
It's a one node cluster 😄

[2020-03-04 00:56] MarileeTurscak-MSFT commented on #49159
Please try changing the collaboration restriction settings. If you still run into this issue feel free to reach out to me on Q&A or over email. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2020-03-04 00:56] #49159 closed

[2020-03-04 01:01] MarileeTurscak-MSFT commented on #49421
@rogersass
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-04 01:12] bmitchell287 commented on #37494
@KarlErickson - Would you please take a look into this issue please?

[2020-03-04 01:19] SaurabhSharma-MSFT commented on #49392
@msereda Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-04 01:22] SaurabhSharma-MSFT commented on #49360
@shaeussler Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-04 01:22] MikeChristensen opened #49426 "Release schedule?"
This feature has been in preview for over 2 years now.  Is there an estimated release date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6898cd0d-98c0-9c54-feed-93e5025c1eaf
* Version Independent ID: f31f4333-598d-2b12-7138-46d6f0399f50
* Content: [Azure Service Fabric Docker Compose Deployment Preview - Azure Servic

[2020-03-04 01:24] SaurabhSharma-MSFT commented on #49367
@mwlootens Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-04 01:25] SaurabhSharma-MSFT commented on #49385
@hansmbakker Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-04 01:29] SnehaGunda commented on #49376
@griff1000 Thank you for pointing out, we noticed the code referencing didn't populate the code blocks correctly. It was working fine, but something changed in the backend which messed up the format. I fixed in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/106419

Changes should be live tomorrow.

[2020-03-04 01:44] kjayantmenon commented on #44384
This issue still persists. This sample does not seem to work especially the deny part.

[2020-03-04 01:51] ScottAzure opened #49427 "NewClassicVMCreationNotAllowedForSubscription - can you add the error to this doc."
It will help search engines process the error and show this page if customers are searching for the error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e76e6fc5-89f6-b1d8-feb1-44b5a1aefcf4
* Version Independent ID: 402e320f-771f-96ad-5a7c-f6eb8384eb6a
* Content: [We’re retiring Azure Classic VMs on March 1, 2023 - Azu

[2020-03-04 02:01] Mike-Ubezzi-MSFT commented on #49417
@chwarr Thank you for bringing this to our attention. Are you suggesting a document enhancement here, or looking for a clarification? Thank you for your guidance and feedback.

[2020-03-04 02:23] GiftA-MSFT commented on #49301
@gavinkendall thanks for your feedback, you are correct, and I have updated the document accordingly. Changes should apply soon. Thanks.

[2020-03-04 02:28] SamaraSoucy-MSFT commented on #49408
@jixer Thank you for spotting the issue and putting in a pr. I'm assigning it to the doc author to complete.

[2020-03-04 02:38] GiftA-MSFT commented on #49354
@trevorbye can you please look into this feedback for doc enhancement? Thanks.

[2020-03-04 02:51] femsulu commented on #49399
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-04 02:54] femsulu commented on #49402
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-04 02:56] femsulu commented on #49415
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-04 02:58] GiftA-MSFT commented on #49364
@smf723 thanks for your feedback. There isn't a published availability timeline at the moment. However, I encourage you to upvote this [similar request](https://cognitive.uservoice.com/forums/921556-form-recognizer/suggestions/39431746-cognitive-service-container-with-v2-0-support) in the feedback forum where you can comment/monitor updates to your request. Thanks.

[2020-03-04 02:58] #49364 closed

[2020-03-04 02:59] #49301 closed

[2020-03-04 03:02] femsulu commented on #49418
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-03-04 03:16] chwarr commented on #49417
Both, I guess. :-) I've edited the original to remove my supposition, as I don't know whether it's true or not.

[2020-03-04 03:18] frehnejc opened #49428 "How long do subscriptions remain disabled for?"
PAYG subs remain disabled for 90 days, do EA subscriptions stay disabled for the same time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97154f08-4e08-e3b9-bd7f-b399aeb763ef
* Version Independent ID: 56c611c8-ce10-caa0-f48c-41237c5a8151
* Content: [Azure EA portal administration](https://docs.microsoft.com/en-us/azur

[2020-03-04 03:42] ggailey777 commented on #43760
@brettcannon is there something special in Python about a folder named `__app__`? I was just thinking it was a way to conceptualize the root folder of the function project. It works much better for this new quickstart with Pivots/Tabs to use the same folder name as the other languages, but we can change to `__app__` if this is critical for Python users.

[2020-03-04 03:42] michaelsync opened #49429 "What to do if we need to execute the command by the the service principal? (Automation)"
The doc says ~

What if the command can't be executed by a user but a service principal?
We are automating a lot of stuff. We need to create a database user from AAD using the service principal.

If it is not possible to use the service principal to run this script `CREATE USER [AAD-UserGroup] FROM EXTERNAL PROVIDER`, please put it in the article and explain the reason why.
Thanks.

---
#### Docum

[2020-03-04 03:47] artmasa opened #49430 "Why is dynamic not allowed in expressions?"
Working with JSON requests or responses would benefit from the dynamic framework. Any plans on supporting it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a90be78-63d0-8ee0-d1d6-a9280e2ba892
* Version Independent ID: 500c452d-372b-92a9-dfca-b2586669a9bf
* Content: [Azure API Management policy expressions](https://do

[2020-03-04 04:01] ketan-chawda-msft commented on #49397
@theheatDK Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-04 04:03] ketan-chawda-msft commented on #49400
@ZanderFick-Accenture Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-04 04:06] ketan-chawda-msft commented on #49401
@greendx Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-04 04:08] ketan-chawda-msft commented on #49405
@cecilphillip Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-04 04:12] ketan-chawda-msft commented on #49409
@webguynj Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-04 04:13] sujayvsarma opened #49431 "PRI #0 (HOT FIRE): None of the "Try it" links on docs.microsoft.com are working!"
Go to any page under the `https://docs.microsoft.com/en-us/rest/api/` documentation tree and click on the `Try it` button and then on the `Sign in` button.

You will get the message:

`This docs.microsoft.com page can’t be found.
No webpage was found for the web address: https://docs.microsoft.com/api/token/signin?loginHint=&returnUrl=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Frest%2Fapi%2Fresourc

[2020-03-04 04:15] sujayvsarma commented on #49428
How does it get into disabled state? (eg: non-payment? specific "disable subscription"? etc)

[2020-03-04 04:17] frehnejc commented on #49428
By deletion as per;
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cost-management-billing/manage/ea-portal-administration.md#delete-subscription

[2020-03-04 04:20] DashleenBhandari-MSFT commented on #49136
@gandhirajan , We will spin off the autorefresh scenario into its own tutorial, for consistency with our docs structure for .NET. We will work on these changes.
Shall I go ahead and close this issue meanwhile we make the changes?

[2020-03-04 04:21] hrasheed-msft commented on #48975
@dgshaver Thanks for this contribution to the doc. We've merged the BYOK and CMK docs and added this recommendation to the CMK doc in the introduction https://docs.microsoft.com/en-us/azure/hdinsight/disk-encryption#introduction.

[2020-03-04 04:22] DashleenBhandari-MSFT commented on #49308
@thdotnet Sur, Please let me know if you have any concerns.

[2020-03-04 04:22] hrasheed-msft commented on #48975
#please-close

[2020-03-04 04:22] #48975 closed

[2020-03-04 04:24] sujayvsarma commented on #49399
@RicardoNiepel - Clarify: Are you trying to map something like "Microsoft.Compute" to `/.../Microsoft.Compute/virtualMachine` ?

It is actually fairly straight forward:

1. You need the following bits of information to create an "ARM URI":
    - Subscription Id
    - Resource Group name or Guid -- would be optional for some things
    - Provider namespace -- some things may have child providers, c

[2020-03-04 04:25] ketan-chawda-msft commented on #49410
@erfranke Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-04 04:27] sujayvsarma commented on #49398
Why would the app service poll the keyvault for validity? It has nothing to do with whether your certificates are valid or not. It is the job of the consumer (the web browser, or your client application) to check the validity of the certificates and then decide if they want to trust it or not.

[2020-03-04 04:27] rbrundritt commented on #49405
@ketan-chawda-msft I already responded to this thread.

[2020-03-04 04:27] ketan-chawda-msft commented on #49411
@timriker Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-04 04:31] sujayvsarma commented on #49371
Where did you get `abfa0a7c-a6b6-4736-8310-5855508787cd` from? My guess is that it is the guid for your app service.

[2020-03-04 04:34] sujayvsarma commented on #49363
I found the answer through trial and error and also 🤦‍♂️ because it is right there in the doc (linked above). It is part of the Request body (it is mentioned in the doc).

My bad for not reading the docs properly.

[2020-03-04 04:34] #49363 closed

[2020-03-04 04:38] sujayvsarma commented on #49428
Ah. 90 days. See here:

https://docs.azure.cn/en-us/billing/billing-how-to-cancel-azure-subscription#cancel-subscription-using-the-azure-portal

[2020-03-04 04:41] RohitMungi-MSFT commented on #49414
@irishun The `speech_recognition_language` should be in the recognized BCP-47 format which is essentially in this case `de-DE`. `de-DE-Stefan-Apollo` is the voice that would be used later to convert your text to synthesized speech.

[2020-03-04 04:41] ketan-chawda-msft commented on #49419
@Machaira Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-04 04:43] ketan-chawda-msft commented on #49423
@stdistef Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-04 04:46] ketan-chawda-msft commented on #49425
@Rug5 Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-04 04:47] ketan-chawda-msft commented on #49426
@MikeChristensen Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-04 04:55] ketan-chawda-msft commented on #49427
@ScottAzure Thank you for your feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-04 04:57] ketan-chawda-msft commented on #49428
@frehnejc Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-04 05:05] ketan-chawda-msft commented on #49430
@artmasa Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-04 05:09] DixitArora-MSFT commented on #49226
@brettsam Any thoughts on this ?

[2020-03-04 05:13] KrishnaG-MSFT commented on #49292
@MicrosoftGuyJFlo Thanks for the quick response. 👍

[2020-03-04 05:15] ohwellwhatever commented on #49398
Sorry either I didn’t communicate clearly or this is a very shortsighted response.  App Gateway, APIM ( using managed identities) and even the VM key vault extension poll the key vault for new versions and rotate certs automatically when a new version is detected in the vault (the latter often used for Service Fabric clusters for example).  Does App Service do the same or is it still a manual oper

[2020-03-04 05:15] KrishnaG-MSFT commented on #49390
@yoelhor Thanks for the super quick response. 👍

[2020-03-04 05:16] ohwellwhatever commented on #49396
This doc only instructs to create a system assigned identity but doesn’t mention user assigned is supported, as documented in the link I provided

[2020-03-04 05:16] PramodValavala-MSFT commented on #49207
@ShawnTalbert Hope my previous comments clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-04 05:16] #49207 closed

[2020-03-04 05:17] BhargaviAnnadevara-MSFT commented on #49335
@SychevIgor Thanks for the question! We're investigating this and will get back to you shortly.

[2020-03-04 05:18] BhargaviAnnadevara-MSFT commented on #49336
@SychevIgor Thanks for the question! We're investigating this and will get back to you shortly.

[2020-03-04 05:23] BhargaviAnnadevara-MSFT commented on #49335
@SychevIgor Thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-04 05:24] souravmishra-msft commented on #49401
@greendx,When a managed identity for any Azure Resource is created, it is termed as the **System-Assigned Managed Identity**. Once the System-Assigned Managed Identity for a resource is created in AAD, a service principal with the name same as the Azure resource gets created (in the statement you shared the Azure resource is the VM). Each Service Principal has its own client secret using which the

[2020-03-04 05:24] BhargaviAnnadevara-MSFT commented on #49336
@SychevIgor Thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-04 05:51] dcbrown16 opened #49433 "Clearly document the service tag"
In my understanding, resources inside of a vnet can use "Azure Monitor" service tag instead of allowing all of these URLs and IP addresses for outbound traffic. Can we have that information added clearly to this doc?
If there are any specific parts of this doc not covered by the service tag, that should also be documented. The only mention right now is of the inbound service tag for Application In

[2020-03-04 05:54] BharathNimmala-MSFT commented on #49237
@tudort-iquest Thanks again for the feedback, the document is updated to reflect the feedback. Closing this issue for now, however if you have any further queries please feel free to revert back.

[2020-03-04 05:54] #49237 closed

[2020-03-04 05:56] BharathNimmala-MSFT commented on #49363
@sujayvsarma Thank you for circling back on this, glad to hear that the document was helpful. Please feel free to revert back if you have any further queries.

[2020-03-04 06:08] #49110 closed

[2020-03-04 06:16] souravmishra-msft commented on #49034
@sandeepiiit, I apologize for the delay in my response, as it took some time to conclude this one. So as of now there is no way that a guest user could get authenticated while logging in to a Azure AD joined machine. It is not possible with an Hybrid Azure AD joined machine either..

Hope this helps.

[2020-03-04 06:16] #49034 closed

[2020-03-04 06:21] anirudhgarg commented on #49260
Yes Python 3.8 has just recently been enabled in Azure Functions. VSCode extension/Core Tools/Azure CLI also have been released.

[2020-03-04 06:21] kaushik-hemant opened #49435 "Export feature flags not working for Azure app configuration."
Trying to export existing feature-flags/configuration from app configuration but it's having an error while doing so as below.

![image](https://user-images.githubusercontent.com/15911296/75850923-68dba680-5e0e-11ea-9508-74b0b13b4771.png)

Let me know if something I'm missing in it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-03-04 06:25] hansmbakker commented on #49385
Update: even deleting the environment and creating another one **with a different name** also shows my old data (that was infested before creation).

Also it seems impossible to set retention policies on a PAYG environment..

Both for development (cannot easily remove mistakes) and compliance this is an issue.

[2020-03-04 06:37] asgaralim commented on #49135
Hi All,
I created below code to set url parameter for webactivity inside For each loop. Please review and let me know your comments.
"Microsoft.DataFactory/factories/pipelines": {
    "properties": {
      **"activities":** [
        {
          **"typeProperties": {
            "url": "=",**
            **"activities":** [
              {
                **"typeProperties": {
                  "u

[2020-03-04 06:56] neeleshray-msft commented on #49254
@loosus456 The Azure AD P1 License pricing is based on Per User Per Month. Refer to the document.
Also, when you are using the Office 365, if you have the E3 or the E5 licenses they include Azure AD P1 and P2 licenses respectively.
Coming to your question of if the MFA registered users would have to re-register. No, if the user has already registered for MFA they would not have to run through the

[2020-03-04 06:59] AjayKumar-MSFT commented on #49431
@sujayvsarma, Thanks for reporting this issue! I'm able to repro this behavior. I understand it is an inconvenience, apologies for any frustration with this issue. We're working on this internally and will post back as soon as I have an update.

[2020-03-04 07:09] sunnysharma03 opened #49438 "Error Training failed: None: PunctuationOrDiacriticNormalization"
I have exported my trained app as JSON and then added these setting

Now I am creating new LUIS App using these setting and I am getting this error while training this new model.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2757f4d9-e2da-21e8-b8aa-22e86ba9af21
* Version Independent ID: 92ffdebd-e37b-81ff-dc65-ed95b576

[2020-03-04 07:10] sujayvsarma commented on #49398
Ah. I have no idea about that. Sorry. Why not try it out and see?

[2020-03-04 07:12] sujayvsarma commented on #49431
It is more than an "inconvenience". It is a problem, because: many times the doc page is very poor quality -- api version not updated, the request/response definitions do not match with what the service actually expects/returns. For these reasons, the TRY IT feature is VERY IMPORTANT.

[2020-03-04 07:19] ChiragMishra-MSFT commented on #49348
@tom-rb Thanks for your valuable feedback. I would recommend you to provide feedback at the [feedback forum](https://feedback.azure.com/forums/270578-data-factory). All the feedback you share, is closely monitored by the Data Factory Product team and implemented in future releases.

Also, Regarding service general availability, I would suggest to keep an eye on [Azure updates](https://azure.micros

[2020-03-04 07:19] #49348 closed

[2020-03-04 07:19] bertrandpons commented on #49371
@sujayvsarma  `abfa0a7c-a6b6-4736-8310-5855508787cd` refers to the Service Principal id for the resource provider Microsoft Azure App Service. It is mentioned in many blog posts as a way to allow the import.
I would like to get an official review and clarification on that, as there is nothing about permissions in the documentation.

[2020-03-04 07:31] kiazhi opened #49439 "Service Tags for Windows Updates (WU) and RedHat Update Infrastructure (RHUI) suggestion"
I have been using Azure Automation's Update Management for VMs that are internet facing without issue until I am required to use it on VMs that are non-internet facing (intranet) environment where I'm stumble into a lot of NSG configuration complexity.

Any chance of having these Service Tags?

- AzurePlatformWU

For an example having this Service Tag created for NSG in order for consumer to confi

[2020-03-04 07:32] CHEEKATLAPRADEEP-MSFT commented on #49410
@spelluru Could you please look into this issue?

[2020-03-04 07:35] BharathNimmala-MSFT commented on #49284
@trailmax Currently the documentation reflects the power shell command-lets  pertaining to new Az module only.

![image](https://user-images.githubusercontent.com/45180002/75855397-1024f300-5da7-11ea-8094-dbe243c60317.png)

We do have a note at the starting of the article about the usage of new Azure PowerShell Az module.

![image](https://user-images.githubusercontent.com/45180002/75855434-2af767

[2020-03-04 07:36] RicardoNiepel commented on #49399
@sujayvsarma
I'm looking for a field in the Azure Resource Graph or an API for getting the friendly Azure Service name for each resource provider.
E.g. "Azure Database for MariaDB" for "Microsoft.DBforMariaDB"

The API you mentioning above does not give that.
Essentially I'm looking for a way retreiving the content of [Match resource provider to service Docs](https://docs.microsoft.com/en-us/azure

[2020-03-04 07:45] sujayvsarma commented on #49399
@RicardoNiepel
There is no such API and I have searched high and low for such a thing too. I came upon that exact same document as well. Since that list is static, you could create a static lookup list using Json or whatever is suitable for your purpose.

[2020-03-04 07:48] SwathiDhanwada-MSFT commented on #49110
Please note that even though the token is passed in as a secure string, the URI of the linked template, including the SAS token, is logged in the deployment operations. To limit exposure, set an expiration for the token.

We will close the issue now. If you have further questions , please revert and we will be very glad to assist you.

[2020-03-04 07:52] hansmbakker commented on #49385
Even deleting the associated storage account did not help.

[2020-03-04 07:54] MMollyy opened #49441 "Deny assignments on scope resourceGroup not overruling allow from subscription"
In the custom role RBAC setup it mentions:
[code]
As I understand inheritance from the subscription, is additive on top of allow permissions on lower scopes. (rg, resource)
However, allows should get overruled by denies on any level. May that be subscription denies, resource group denies, or resource denies.

However I have the following use case:
custom role 1 assigned to group A
[code]
custom ro

[2020-03-04 07:56] mddazure opened #49442 "Preview Limitations section is incorrect and not in line with Oracle documentation."
Update Preview Limitations section to be in line with Oracle documentation:
https://docs.cloud.oracle.com/en-us/iaas/Content/Network/Concepts/azure.htm

Section should mention:
- limitation on the Azure end of the connection is on the ER peering locations, NOT Azure regions
- availability in Amsterdam2 ER peering locatin (ref Oracle doc)

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-04 08:21] ofirmanor commented on #48827
@NickDarvey thanks for the suggestion!
Unfortunately, we currently do not have this feature.
You might be able to build some custom solution around the alerts data in Azure Resource Graph - we maintain an up-to-date metadata of all alerts there (alertsmanagementresources table), including the alert state (new, acknowledged, closed) and a last modified time.
We also have that on our backlog, but so

[2020-03-04 08:38] s-leonard opened #49443 "Authentication failure creating container"
When running az storage container create I always get the error Authentication failure.
"This may be caused by either invalid account key, connection string or sas token value provided for your storage account."

Regardless of whether I use 'auth-mode key' with the storage account primary key or 'auth-mode login' and have the Storage Blob Data Contributor role assigned to my user.

---
#### Docume

[2020-03-04 08:47] BhargaviAnnadevara-MSFT commented on #49435
@kaushik-hemant Thank you very much for bringing this to our attention. We're investigating this and will get back to you shortly.

[2020-03-04 08:50] BhargaviAnnadevara-MSFT commented on #49433
@dcbrown16 Thanks for the feedback! We shall evaluate and update as appropriate.

[2020-03-04 08:51] antti-saarela commented on #20351
Any updates on this issue? IMO the issue being a clear stopper for any further and serious MLOps automation work shouldn't have been closed, but put on the backlog. I still haven't found any decent workaround for the issue. Any hints and comments are highly appreciated.
Thanks in advance.

[2020-03-04 08:58] gandhirajan commented on #49136
@DashleenBhandari-MSFT  This doc exclusively talks about  Java Spring app with Azure App Configuration. So this info is very much required here I feel.

[2020-03-04 09:01] jakaruna-MSFT commented on #49101
ok got it.  You can submit your feedback [here ](https://feedback.azure.com/forums/216843-virtual-machines )

Then the community can vote for that feature.  Product teams consider features in this list in their backlog.

Also not that the support for Visual studio vaersion 15 is over. Reference is [here](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoftvisualstudio.visualstud

[2020-03-04 09:03] PramodValavala-MSFT commented on #49192
@linxlims I've tried a couple of scenarios and I can confirm that changing the double slash to a single slash does the trick.

I believe escaping the slash is the expected behavior though it might not seem so in this case. Using the code view is the way to go for this scenario.

[2020-03-04 09:18] estensen commented on #48260
When Functions v3 is the default I expect all the docs to be up-to-date

[2020-03-04 09:25] SumanthMarigowda-MSFT commented on #48810
@skadeb87  You may follow-up this GitHub link: https://github.com/MicrosoftDocs/azure-docs/issues/48825

[2020-03-04 09:32] SumanthMarigowda-MSFT commented on #49174
@mehdijalal I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issu

[2020-03-04 09:32] #49174 closed

[2020-03-04 09:37] AshokPeddakotla-MSFT commented on #49330
@GorSmith PR has been created to address and fix this issue. Changes will go live once it has been peer reviewed, approved and merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-04 09:37] #49330 closed

[2020-03-04 09:43] sachdevaswati commented on #48864
Hello,

I am assuming the question is regarding Restoring to a 'paired' secondary region and not just any region. This capability is called Cross Region Restore (CRR) in case of IaaS VM backup. We will roll out this capability for SQL VM backup in Jul-Aug timeframe.

Please note, although we do have geo-redundancy (GRS) setting for the backups, but those are not retrievable till the time Azure dec

[2020-03-04 09:57] Klaas- commented on #46036
I noticed that the change has not been rolled out in other language versions of the docs, in my case German. Is this a manual process? I though most of the translations are machine based :)

[2020-03-04 09:59] jtuliani opened #49444 "Get-AzureDedicatedCircuitStats?"
Wow, that's old. I know you've been trying to eliminate the legacy 'Rm' cmdlets from the docs, I guess this was old enough to slip that net!

Should be Get-AzExpressRouteCircuitStat ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70feb763-1eb5-fa70-077e-5e3ea5e60dd6
* Version Independent ID: b491d1b3-7ace-7dc2-adbb-e2

[2020-03-04 10:27] AshokPeddakotla-MSFT commented on #46942
@SLdragon Could you please check this and provide your suggestions?

[2020-03-04 10:30] jakaruna-MSFT commented on #48521
Send your subscription id to this email id azcommunity@microsoft.com

I will enable a one time free support ticket for you.  In the email include this github issues url and the title in the subject.  Append "for jakaruna-msft" in the subject.

Once your issue is resolved, Then post the resolution here.

[2020-03-04 10:31] jakaruna-MSFT commented on #49238
@afandl is there any update

[2020-03-04 10:31] jakaruna-MSFT commented on #49264
@kentmc is there any update

[2020-03-04 10:32] AshokPeddakotla-MSFT commented on #34955
@NorbertWallentin Since this is an old issue and a lot has changed from this issue has been reported I would suggest you, please create a new issue with complete details to help you further.

[2020-03-04 10:34] AshokPeddakotla-MSFT commented on #48690
@mhussar Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-03-04 10:34] #48690 closed

[2020-03-04 10:39] manueljesusrd commented on #48565
@AshokPeddakotla-MSFT I think I have enough info. It's true I haven't got any secure storing alternative from you to implement on the IoT Edge solution, but it seems there's not a totally secure solution right now. Thank you!

[2020-03-04 10:48] tom-rb commented on #49348
Hi, I created a suggestion there, tks. https://feedback.azure.com/forums/270578-data-factory/suggestions/39853636-enchance-speed-of-copy-to-azure-postgres

[2020-03-04 10:54] DanielHabenicht commented on #45225
FYI: If you are trying to do dynamic rewriting with patterns - **it is currently not supported**.
But if you have not that many files you can try the cli to generate a rule for each. 😅

[2020-03-04 10:57] karataliu opened #49448 "Link 'Create an Identity' is pointing to github"
RT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95812617-2cee-fb2c-2c6d-573f222033be
* Version Independent ID: bf51864f-646f-2fda-7842-b1f3cf2f9ce2
* Content: [Creating an ingress controller with a new Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-install-new)
* Co

[2020-03-04 11:01] neeleshray-msft commented on #49322
@msmimart Could you check on this ?

[2020-03-04 11:20] irishun commented on #49414
Hi Rohit, thank you very much for the reply. I have changed to:
speech_recognition_language = "de-DE"

However, I could not find how to change the "speech_synthesis_language" parameter, which I found in the python documentation to "get" the synthesis language.
This parameter cannot be passed into speechsdk.SpeechConfig().

As a result, the text to speech service still uses English to speak out the

[2020-03-04 11:27] justSteve commented on #19011
@jluk I've just reported getting this error msg to this issue: https://github.com/Azure/azure-cli/issues/9345.

[2020-03-04 11:39] cephalin commented on #19968
Sorry for the delay. The text is now reproduced in the other Linux configure docs. #please-close

[2020-03-04 11:39] #19968 closed

[2020-03-04 11:46] DashleenBhandari-MSFT commented on #49420
@andy-822 , I am checking this document. I will update you soon.

[2020-03-04 11:47] OffColour opened #49449 "Computer Account or Service LogonAccount?"
This gives you the option fo Computer Account or Service Logon Account but no explanation as to why you might choose one or the other? Can you elaborate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba964be-3f77-d80c-f1a5-35bb1430bb8f
* Version Independent ID: fe70b11e-10fe-5a8c-1fad-b22a83693503
* Content: [Enable

[2020-03-04 11:50] cephalin commented on #47910
This is already published. #please-close

[2020-03-04 11:50] #47910 closed

[2020-03-04 11:57] cephalin commented on #48495
@shellem What's the version of dotnet SDK on your system? Currently there's an issue with Core 3.0/3.1 SDK in App Service Windows that fails on git deploy, so we still keep our sample project pinned to Core 2.2.

[2020-03-04 11:58] jmorcar opened #49450 "Include link to the Preview Terms of use"
I've founed a link with Preview Terms: https://azure.microsoft.com/en-us/support/legal/preview-supplemental-terms/ ¿Is this applicable to kubernetes preview versions explained here?
Only there is a phrase : "AKS may also support preview versions which are explicitly labeled and subject to Preview terms and conditions." But this page should have a link or reference to Preview Terms of Kubernetes in

[2020-03-04 12:00] jakaruna-MSFT commented on #49426
@masnider Can you comment on this feature

[2020-03-04 12:11] girishgouda commented on #48953
hi ,
We are using web app vnet integration which requires a delegated subnet and we also have a private end point subnet within the same vent but the app service is unable to talk to storage account within the private end point. we also tried having different vnet for web app VNET integartion and another VNET for private end point with peering between them but we are still unable to get the commun

[2020-03-04 12:12] RohitMungi-MSFT commented on #49438
@sunnysharma03 I have tried to replicate the error you faced using one of the trained app and added the settings for punctuation and diacritics but the training completed successfully. Based on the error it looks like the None intent failed while training.

Could you try to re-upload the JSON and check if the training fails again while import?
You can also send us details of the error directly to

[2020-03-04 12:14] jakaruna-MSFT commented on #48962
Yes, you can deploy cert-manager in an AKS cluster and obtain a Let’s Encrypt certificate using DNS01 challenge. Assuming you are using AzureDNS and already have cert-manager deployed in your cluster, you following the directions on this website -
https://cert-manager.io/docs/configuration/acme/dns01/

[2020-03-04 12:18] AjayKumar-MSFT commented on #49431
@sujayvsarma, The issue has been mitigated. I'm able to leverage the "Try it" as expected.
Thanks again for bringing this to our attention! Much appreciate the follow-up.
![image](https://user-images.githubusercontent.com/44606227/75878673-f84d7d80-5e3f-11ea-9d2b-e83b207a18da.png)

[2020-03-04 12:20] sujayvsarma commented on #49431
Confirming it works now. Thank you!

[2020-03-04 12:20] #49431 closed

[2020-03-04 12:20] jakaruna-MSFT commented on #49450
@jmorcar
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-04 12:21] jakaruna-MSFT commented on #49442
@mddazure
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-04 12:27] balintbako opened #49451 "Enable browser connect via ARM or CLI"
Hi,

Is there a way to enable Browser Connect using ARM Template or Azure CLI?

Regards,
 Balint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd6ddb93-8b79-9f7b-8816-e19490b45fbc
* Version Independent ID: 6d5fa801-d3b6-90a5-5bec-e63c1e0df68b
* Content: [Enable browser connection on Azure DevTest Labs virtual machines

[2020-03-04 12:30] OffColour commented on #48956
It should use Distinguished Name otherwise it'll just go to the first OU it finds that matches than name when there could be multiple.

[2020-03-04 12:37] msrini-MSFT commented on #49444
@jtuliani , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-04 12:56] akingscote opened #49452 "Columns Difficult to read"
can you re-adjust the columns on this page? the keys are very difficult to read and are arguably the most important part of the page

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b-180567591c72
* Version Independent ID: 8c533d7b-a058-3f1a-c296-9c0305f85f13
* Content: [Understanding the Azure Acti

[2020-03-04 12:56] liamfoneill opened #49453 "OpenVPN"
Can this article be updated to reflect OpenVPN scenarios also?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6860efb1-ddab-04a1-bf34-4e0a41844102
* Version Independent ID: 2321ec49-4cb8-d477-3430-44af3790bcdd
* Content: [Azure VPN Gateway: About P2S routing](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gatew

[2020-03-04 12:58] sunnysharma03 commented on #49438
Hi @RohitMungi-MSFT
Thanks for the quick response, I have tried to train the model again, but still getting the same error.
Please find the screenshot.
![image](https://user-images.githubusercontent.com/22542019/75881840-e373e880-5e45-11ea-99ef-6adb5bb26830.png)

[2020-03-04 12:58] NavtejSaini-MSFT commented on #49429
@michaelsync We are checking this and will get back to you

[2020-03-04 13:05] richard-artes opened #49455 "It is strongly recommended that you let Azure manage the source anchor for you..."
When I run the upgrade it reports:-
"...Azure Active Directory is configured to use AD attribute objectGUID as the source anchor attribute. It is strongly recommended that you let Azure manage the source anchor for you. Please run the wizard again and select Configure Source Anchor. Learn more."

Then why do you recommend to use the objectGUID in your document? :-
"...the attribute you should use

[2020-03-04 13:19] IEvangelist commented on #49364
Hi @smf723,
We are hopeful that in the next several months it will be available. Thank you for your continued patience. #please-close

[2020-03-04 13:30] IEvangelist commented on #49414
Hi @irishun,

One way to change the synthesis voice it is to set the property value:

[code]

This is the API that I'm referring to that will [set the property](https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-speech/azure.cognitiveservices.speech.speechconfig?view=azure-python#set-property-property-id--azure-cognitiveservices-speech-propertyid--value--str-) and here is the [pro

[2020-03-04 13:46] trailmax commented on #49284
@BharathNimmala-MSFT Indeed it does. Apologies, I must have overlooked it or was looking on a wrong page in a frenzy trying to resolve my issue at hand.

[2020-03-04 13:46] #49284 closed

[2020-03-04 13:52] cephalin commented on #43625
@dcbrown16 Sorry for the delay. Update to the doc will be published sometime today.

[2020-03-04 13:52] cephalin commented on #43625
#please-close

[2020-03-04 13:53] #43625 closed

[2020-03-04 13:54] irishun commented on #49414
Hi @IEvangelist ,
thank you for the reply.
I saw that SpeechServiceConnection_SynthLanguage is in azure.cognitiveservices.speech.PropertyId.

But I am not sure how to use it correctly.
Here is what I tried:
`from azure.cognitiveservices.speech import Propertyid
synthesis_lang_prop_id = Propertyid.SpeechServiceConnection_SynthLanguage`

And I got an error of:
ImportError: cannot import name 'Proper

[2020-03-04 13:57] IEvangelist commented on #49414
In all honesty, I'm not a Python expert. Could you try this, and in the meantime I'll connect with someone who is more advanced? Notice that there is an overload for the `setProperty` function that takes a string.

[code]

[2020-03-04 13:58] cephalin commented on #49046
@mslot the linked App Service limits doc was updated to include the detail about slots per app. It will be published sometime today. #please-close

[2020-03-04 13:58] #49046 closed

[2020-03-04 14:02] pierreyvesv opened #49457 "azure dns vm record"
it would be nice if you pushed the example and add the hostname in the DNS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163088fc-67d3-aa81-26e7-0155f3aaa90c
* Version Independent ID: fafceb81-d8fc-8c20-72e5-b2dddc445f73
* Content: [Use Terraform to create a complete Linux VM in Azure](https://docs.microsoft.com/en-us

[2020-03-04 14:05] dgshaver commented on #48975
Really sorry, but I think two edits are needed to make this update more clear.

This sentence:
"If the key vault firewall is enabled on the key vault where the disk encryption key is stored, the HDInsight regional Resource Provider IP addresses for the region where the cluster will be deployed must be added to the key vault firewall configuration."

Should be changed to:
If the key vault firewall

[2020-03-04 14:05] rudolfdobias opened #49458 "Error: "features": required field is not set"
Following this tutorial results in this error on command *terraform apply*.

Additional info:
OS: Freshly installed Ubuntu 18.04 azure VM
Terraform:
 v0.12.21
 provider.azurerm v2.0.0
AZ:
{
  "azure-cli": "2.1.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.1.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {}
}

---
#### Document Details

[2020-03-04 14:09] stefanwiele opened #49459 "Not available anymore?"
Seems like this wizard is not available anymore in my tenant. Did it move?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35205d31-e185-704a-9adb-58302cfe0f59
* Version Independent ID: b621d6e3-30b6-f56d-bb3f-c6c8e54a13ee
* Content: [Azure AD roles security wizard in PIM - Azure Active Directory](https://docs.microsoft

[2020-03-04 14:20] Ayanmullick commented on #48527
Yes @normesta , exactly. And maybe add that page to the `Next Steps` section of this page.

[2020-03-04 14:27] BhargaviAnnadevara-MSFT commented on #49435
@kaushik-hemant Thanks for bringing this to our attention! I'm able to reproduce the said behavior and have reached out to our internal Teams. Will get back to you once I hear from them.

[2020-03-04 14:32] kentmc commented on #49264
@jakaruna-MSFT thank you for getting back to me.

**Cluster A - v 1.13.12:**
**This container service is still in a failed state.**
When running Container Insights from Azure Portal, it shows no errors at the moment despite a warning for deprecated API usage. For multiple days the Container Insights showed errors about credentials / authentication related to the SP and referred to the Microsoft ar

[2020-03-04 14:33] memildin commented on #47320
Hi Clive,
The table is correct: Azure Security Center supports Server 2019 but doesn't support integration with MDATP on that version of Windows.
Please be in touch if there's anything else you want to know about this.
#please-close

[2020-03-04 14:33] #47320 closed

[2020-03-04 14:41] SinnwellR commented on #43308
This is still an issue.  The screenshot and text under "Risky sign-ins report for Azure AD free edition" is incorrect.  You no longer get an IP address or location, nor do you get sign-in time, you simply get "Risk last updated" with no details as to why Microsoft has deemed this user as risky.  Since this "Risky User" assignment is being used by other companies than my own to determine if my user

[2020-03-04 14:42] BhargaviAnnadevara-MSFT commented on #49435
@kaushik-hemant Thanks for bringing this to our attention. I was able to reproduce this error when I selected the timestamp prior to the resource creation date.

Please try exporting the config file without giving a date/time value in the **"At a specific time"** field and let me know if it works.

Meanwhile, I shall reach out to our internal Teams to get more information on the root cause and che

[2020-03-04 14:49] henriquebelotto opened #49461 "WingTipGames - Link doesn't work"
The link for the  WingTipGames example doesn't work. This link is provided in this page at this part:
"A REST API endpoint to interact with. For this walkthrough, we've set up a demo site called WingTipGames with a REST API service."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eca211-d459-e761-3065-e460a4c58038
*

[2020-03-04 14:50] IEvangelist commented on #49011
Ah, that is the source of the problem. The batch mechanism only works with standard pricing tier. Sorry for any confusion there. #please-close

[2020-03-04 14:50] #49011 closed

[2020-03-04 15:08] JustMrMak opened #49462 "Non-defined user?"
sqlplus system/OraPasswd1@pdb1 = ORA-12154: TNS:could not resolve the connect identifier specified

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3e91e0d-1797-abae-1941-29e91cc05b77
* Version Independent ID: 7e55f1a5-54b2-cf04-af3a-813d2e855539
* Content: [Implement Oracle Golden Gate on an Azure Linux VM](https://doc

[2020-03-04 15:16] lyrana commented on #49385
Hi @hansmbakker I'm sorry that you're having these issues. We understand the need for data deletion, although currently we don't have an ETA on when that will be available. If you're performing warm store queries, you can set the retention period to 7 days, after which the row will be deleted from warm store, although still present in cold.
With regards to what you saw re re-creating an environmen

[2020-03-04 15:19] malopMSFT commented on #43475
By looking at the example above, the browser needs the following URL:
https://{resourcename}.web.core.windows.net,
Notice it doesn't have the privatelink. prefix, the DNS recursive resolution will perform the following sequence:
1 Lookup for {resourcename}.web.core.windows.net ->{resourcename}.privatelink.web.core.windows.net
2 Lookup for {resourcename}.privatelink.web.core.windows.net -> {Private

[2020-03-04 15:29] MartinElfast commented on #43230
Any updates on progress?

[2020-03-04 15:29] sven5 opened #49463 "Support for ExtendedProperties?"
Do you currently support ExtendedProperties in MS Graph API for B2C ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Version Independent ID: 160642fc-b5a9-1ebe-7daf-105509b6e2f4
* Content: [Manage users with the Microsoft Graph API - Azure AD B2C](https://docs.microsoft.com/en-us/

[2020-03-04 15:39] spelluru commented on #49410
@erfranke - You are using the connection string to EVENT HUB, not the EVENT HUB NAMESPACE.

If you use connection string to the namespace, use the code similar to what's in the quickstart:

`    await using (var producerClient = new EventHubProducerClient(connectionString, eventHubName))
`

If you use connection string the event hub in the namespace, don't specify eventHubName in the constructor:

[2020-03-04 15:41] irishun commented on #49414
Hi David, thank you for your reply.

Unfortunately, after changing the code I still got an error:
TypeError: property_id value must be PropertyId instance

[2020-03-04 15:42] southpolesteve opened #49464 "This page doesn't seem to match the title"
The title says "Host a static website in Azure Storage" but 95% of the content is about enabling metrics on static pages and not actually how to set them up

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d693507-4b62-07d9-a708-d26d62d990ac
* Version Independent ID: 6c7f4c32-69da-3929-dbf2-1591d667f979
* Content: [Host

[2020-03-04 15:51] zodiacmediaSD opened #49465 "No machine learning option available for entities"
See image
https://i.postimg.cc/0Qq4fMfJ/aaa.jpg

At step 3 of "Label text as entities in example utterances" there is no longer any machine learning option. I can not find an equivalent that allows structure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18a5f287-70ea-bfb1-34eb-9236510e65f6
* Version Independent ID: 3

[2020-03-04 15:52] KrishnaG-MSFT commented on #49155
Hi @pwouavre, I have tried to reproduce your issue but endedup without seeing any such issues.

I have followed the same steps i.e., created Azure Policy to restrict deployment in certain region (allowing northeurope only) using the below shown definition

![image](https://user-images.githubusercontent.com/45988031/75896608-59377e80-5e5d-11ea-9984-bb20d0f83882.png)

**Then tested scenario-1:**

Cr

[2020-03-04 15:55] tudorsibiu90 opened #49466 "Automate custom reports with Azure Application Insights data"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/automate-custom-reports#application-insights-scheduled-digest-report

The function template is missing. I've looked for it everywhere. Also when creating the function the menus look different and this doc is not up to date. I need to find a way to send reports asap. Please help! (The sendgrid part is fine)

---
#### Document Details

⚠ *Do n

[2020-03-04 15:55] ediazrod opened #49467 "Progamatic way to open a service request"
I don't see any way to open a service request using a API or using a programmatic way. is there any?.

[2020-03-04 15:55] IEvangelist commented on #49414
Ah, I just realized that the method name is different. Try [this](https://github.com/microsoft/vscode-docs-authoring/pull/439/files):

[code]

[2020-03-04 15:56] JustMrMak commented on #49462
Ah - this can be ignore - looks like there was  problem with the TNS Ora file.

[2020-03-04 15:57] JustMrMak opened #49468 "Missing instructions?"
On VM2:
cd /u01/app/oracle/product/12.1.0/oggcore_1  - this folder wouldn't exist do we need to go through the GUI install on VM2 also?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3e91e0d-1797-abae-1941-29e91cc05b77
* Version Independent ID: 7e55f1a5-54b2-cf04-af3a-813d2e855539
* Content: [Implement Oracle Golden G

[2020-03-04 15:57] JasonRBeer opened #49469 "Automated Importing of azurevpnconfig.xml"
This article does not state if there is any automated way to import the azurevpnconfig.xml. Can this be done via Intune, GPO, or PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b62b5b8f-bc88-0868-a2f6-1020a5097460
* Content: [VPN Gateway: VPN cli

[2020-03-04 15:59] nbubna commented on #45225
It sure looks like it is meant to be supported. How did you find this out?

[2020-03-04 16:04] SamaraSoucy-MSFT commented on #49451
@balintbako Thank you for the question. I will take a look and get back to you shortly.

[2020-03-04 16:13] spottedmahn opened #49470 "messages are auto-completed"
Shouldn't this be `//messages aren't auto-completed` since the example is passing `false` for the 2nd arg?  [source](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-topics-subscriptions#how-to-receive-messages-from-a-subscription)

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-03-04 16:17] spottedmahn opened #49471 "registerMessageHandler @Deprecated"
The example is currently using the 1st method which is `@Deprecated`.  Looks like it should be switched over to the 2nd method? 🤔  What's an `ExecutorService` though?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dd3492a-d52b-d231-d647-cb73328c9df1
* Version Independent ID: e5d3d05f-1c8c-22f4-288d-6642288dbd4e

[2020-03-04 16:17] jbrody831 commented on #49085
I tried using $count as the query property, which is how I discovered that the '?' character introduced by ADF won't return results from our source.  The URL string for $count cannot have the ? character, it needs to be after a '/' character.

In the end I abandoned the OData connector and used a HTTP connector with concat statements to build the URL string that I needed.  Works just fine, but see

[2020-03-04 16:17] #49085 closed

[2020-03-04 16:22] asergaz commented on #48467
Hello @fgheysels ,
Please allow me to point you to other article that I would strongly recommend you to read (as well as the other docs it points to):

- https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-security-deployment

You can also refer to the TLS specification for details, for example: [RFC 5246 - The Transport Layer Security (TLS) Protocol Version 1.2.](https://tools.ietf.org/ht

[2020-03-04 16:23] Lebski commented on #49203
From the [Docs](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#configure-a-jwt-validation-policy-to-pre-authorize-requests):

[2020-03-04 16:24] pmozbert opened #49473 "recommended zone name for vault is inconsistent with other names"
why is it 'privatelink.vaultcore.azure.net' rather than 'privatelink.vault.core.azure.net'?  For other zone names where 'core' is used, 'core' is a subdomain.
For that matter, why are some zones names in windows.net domain, while others are in azure.com?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf

[2020-03-04 16:26] RohitMungi-MSFT commented on #49438
@sunnysharma03 Could you please send the details through general inquiry as mentioned above? You can include the app details and the JSON so the engineering team can take a closer look at it and provide more insights?

[2020-03-04 16:30] tsiddle opened #49474 "Domain Join Requirement"
Hi,

Is it possible to provide additional clarity please on this requirement:

"This server must be domain joined and may be a domain controller or a member server." - the reason for this is unclear.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Independent ID: 63

[2020-03-04 16:35] liutang opened #49475 "What happened to the VM operator role?"
I noticed that this is no longer available and replace with VM contributor, admin login, and user login. The VM operator role was a good role to allow for our operations team to view and manage the start/stop state.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eac44e5e-65e1-d989-4afe-0463e8ff51d0
* Version Independen

[2020-03-04 16:42] KranthiPakala-MSFT commented on #49085
@jbrody831 Thanks for your response and sharing the workaround details. I would suggest you to please share your feedback/suggestion in ADF user voice forum. All the feedback shared in this forum are closely monitored and reviewed by ADF engineering team.

https://feedback.azure.com/forums/270578-azure-data-factory

Once the feature request feedback link is created, please do share the link here,

[2020-03-04 16:49] asalmon9989 opened #49476 "Sign Out Style"
Are there any guidelines for providing a sign out button?  We'd like to use the Microsoft icon with "Sign Out" next to it so users can see they are signing out from their Microsoft account.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142962d7-66c3-9372-3e3e-c621cba4d881
* Version Independent ID: 748f0246-0a

[2020-03-04 16:53] kmoore-riphaina commented on #49011
I’m not trying to batch process a record, I’m trying to process a single wav file stored in blob storage and am getting connection refused

From: David Pine <notifications@github.com>
Sent: Wednesday, March 4, 2020 6:50 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kristofer Moore <kmoore@riphaina.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-do

[2020-03-04 16:54] asbtho commented on #49145
Hi, I did receive a workaround fix from Azure Support about this issue:

Mitigation:
Before running the sysprep, add the following registry String key - with an empty value
HKLM\Software\Microsoft\DesiredStateConfiguration      AgentId (REG_SZ)

This worked.

[2020-03-04 16:54] schellem commented on #48495
Not sure what dotnet framework has to do with this but I've got 4.7.2 installed.
I just want a simple sample tutorial to work so I can learn the new stuff....I don't get whats so hard.

[2020-03-04 16:54] eamonoreilly commented on #11085
Thanks for the feedback. I had a look at this as we now recommend users to use APIM https://docs.microsoft.com/en-us/azure/azure-functions/functions-openapi-definition.

If you download your app content and add it to the source control environment as described in the document, then these values will be set correctly as mentioned in this issue.

We should close this issue.
Thanks,
Eamon

[2020-03-04 16:54] giertz opened #49477 "Audience and Issuer?"
On step 4 you are supposed to grand admin consent after you added the tenant URL.
But under there are two required fields: Audience and Issuer.
No information is provided on what should be entered here.

[2020-03-04 16:56] eamonoreilly commented on #11085
#please-close

[2020-03-04 16:56] #11085 closed

[2020-03-04 16:57] #49477 closed

[2020-03-04 16:59] antogh commented on #49203
@Lebski
Ok thanks , I will try with a  Validate JWT policy
In the while I deleted the API service because I wanted to switch to the cheaper consumption plan and downgrade is not possible from developer to consumption tiers.
I hope the jwt policy will work with consumption plan
In the while I am also implementing the JWT validation in my backend (an Azure function API) and it seems to work, I am ab

[2020-03-04 16:59] CharmanderJieniJieni opened #49478 "Can we assign AD roles to Service Principal?"
Can we assign AD roles to Service Principal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Admin role descriptions and permissions - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/users-gr

[2020-03-04 16:59] giertz opened #49479 "Audience and Issuer?"
On step 4 you are supposed to grand admin consent after you added the tenant URL.
But under there are two required fields: Audience and Issuer.
No information is provided on what should be entered here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e792

[2020-03-04 17:01] ediazrod opened #49480 "Programatic way to open request"
There is a programmatic way to open a service request?, using a API or similar?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43a60f94-0826-8cdf-04b3-c5f20d299720
* Version Independent ID: 7d1dcfe7-4e68-6b98-1003-9154e7a0b22d
* Content: [How to create an Azure support request](https://docs.microsoft.com/en-us/azure/az

[2020-03-04 17:04] msrini-MSFT commented on #49351
Thank you Cherylmc. @jtuliani , please re-open this issue of you have any further questions.

[2020-03-04 17:04] #49351 closed

[2020-03-04 17:07] msrini-MSFT commented on #49267
Please re-open this issue by providing the doc link.

[2020-03-04 17:07] #49267 closed

[2020-03-04 17:11] aaroncalderon commented on #33099
@ayakimov Did you mean `https://login.microsoftonline.com/{tenant-id}/saml2?SamlRequest=<base64_data>`?

Adding the __question mark__ after sml2.

And, How else can one get a __SamlRequest__ string?

[2020-03-04 17:11] SnehaGunda commented on #49376
The fixes are live, we will now close this issue.

#please-close

[2020-03-04 17:11] #49376 closed

[2020-03-04 17:20] OffColour opened #49481 "Error 86 Specified password is incorrect"
Can you add some information on how to handle Error 86 when using AD authentication (not AADS)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfcc20de-f394-74bf-155f-639cfe00aba4
* Version Independent ID: 76ccfc8f-6190-0618-f668-91c9bab532c0
* Content: [Troubleshoot Azure Files problems in Windows](https://docs.micros

[2020-03-04 17:26] kevinvngo commented on #44693
Fixed the doc

[2020-03-04 17:26] kevinvngo commented on #44693
#please-close

[2020-03-04 17:26] #44693 closed

[2020-03-04 17:29] YutongTie-MSFT commented on #49002
@yingqunpku @aahill Hi team, could you please take a look of this issue? Thanks.

[2020-03-04 17:30] SumanthMarigowda-MSFT commented on #49443
@s-leonard Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-04 17:30] SumanthMarigowda-MSFT commented on #49449
@OffColour Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-04 17:31] SumanthMarigowda-MSFT commented on #49464
@southpolesteve Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-04 17:32] SaurabhSharma-MSFT commented on #49441
@MMollyy To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-04 17:32] SumanthMarigowda-MSFT commented on #49481
@OffColour Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-04 17:33] YutongTie-MSFT commented on #49375
@PeterCLu Thanks Peter, do you want to keep this issue opening or we should close it?

[2020-03-04 17:34] YutongTie-MSFT commented on #49378
@PeterCLu Thanks Peter, do you want to keep this issue opening or we should close it?

[2020-03-04 17:34] kevinvngo commented on #44859
Fixed the doc. PR: 106481

[2020-03-04 17:34] kevinvngo commented on #44859
#please-close

[2020-03-04 17:34] #44859 closed

[2020-03-04 17:35] KranthiPakala-MSFT commented on #49311
@gregbradley
Thanks for pointing this out. This is a typo in doc and a PR for the fix has been created by content author and it will be merged soon.

PR for the fix: https://github.com/MicrosoftDocs/azure-docs-pr/pull/106478

I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you.

[2020-03-04 17:35] #49311 closed

[2020-03-04 17:42] YutongTie-MSFT commented on #49465
@zodiacmediaSD
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-04 17:45] KranthiPakala-MSFT commented on #49295
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thanks.

[2020-03-04 17:45] #49295 closed

[2020-03-04 17:54] deyanp opened #49482 "Simple page-level filter on Amount greater than 100 not working with Direct Query??"
Hi,

I have a simple table

.create table TestTableForComparison (amount:decimal , id: string);
.ingest inline into table TestTableForComparison &lt;|
10, "trx1"
11, "trx2",
12, "trx3",
13, "trx4"

When I Get Data in Power BI with Direct Query, and put a simple Table visualization on a Report, and try to filter the page filter Amount with greater than 10 I get an error

OLE DB or ODBC error: [Expr

[2020-03-04 18:04] bandersmsft commented on #49428
@frehnejc @sujayvsarma  https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/cancel-azure-subscription#what-happens-after-i-cancel-my-subscription has the most up-to-date information.
For clarity, I updated the article add a link with https://github.com/MicrosoftDocs/azure-docs-pr/pull/106483.
#please-close

[2020-03-04 18:04] #49428 closed

[2020-03-04 18:07] tfitzmac commented on #49399
@RicardoNiepel - sorry there is not an API for that, which is why we published the list you referenced. Your best option for requesting that operation is to add an item in the [feedback forum](https://feedback.azure.com/forums/281804-azure-resource-manager).

[2020-03-04 18:07] tfitzmac commented on #49399
#please-close

[2020-03-04 18:07] #49399 closed

[2020-03-04 18:09] vveluvolu opened #49484 "Step 5 raised Error"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7be07cf2-e36b-7e52-e531-8eae2ea1f63d
* Version Independent ID: 1a5fde91-70e0-ec9e-ae26-3ecfda7f3a22
* Content: [Regional disaster recovery for Azure Databricks](https://docs.microsoft.com/en-us/azure/azure-databricks/howto-regional-disaster-recovery)

[2020-03-04 18:09] vveluvolu commented on #49484
for key in cluster_json_keys:
      if key not in cluster_req_elems:
         cluster_req_json.pop(key,None)
# Code is FAILING HERE

[2020-03-04 18:15] henriquebelotto opened #49485 "Update this tutorial"
Since Azure B2C is an important product for Microsoft, I believe that they should update this page with more current information, such as links to example and also clearly inform that the Azure function example provided must be run as v1.0 in Azure Functions App, otherwise, it won't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-03-04 18:16] #45009 closed

[2020-03-04 18:17] spelluru commented on #46395
Thank you. I have updated the screenshots.

#please-close

[2020-03-04 18:17] vveluvolu commented on #49484
Looks like the script works on python 2.5 ...

[2020-03-04 18:17] #46395 closed

[2020-03-04 18:18] ggailey777 commented on #46182
Fix has been merged in linked PR. Thanks for providing the helpful feedback. #please-close

[2020-03-04 18:18] #46182 closed

[2020-03-04 18:19] DanielHabenicht commented on #45225
Had a support call with Microsoft :)

[2020-03-04 18:24] ggailey777 commented on #47369
@ajklotz I'm not able to repro your experience with Disable in the portal. Is this for a runtime version 1.x function app? It sounds like the issue with CLI is [a bug](https://github.com/Azure/azure-cli/issues/12041).

[2020-03-04 18:34] juanren opened #49488 "how to set item TTL in java?"
when create a record in Collection, how to set TTL for this record if we want to TTL time is from configuration settings? thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1b1c71-a8ca-2bba-202e-f74a9414ced4
* Version Independent ID: 65ce6b13-2e3d-39ea-167a-ebdc1864f66b
* Content: [Configure and manage Time to Li

[2020-03-04 18:42] MarileeTurscak-MSFT commented on #49452
@akingscote
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-04 18:43] BharathNimmala-MSFT commented on #49475
@liutang Thank you for your query , our team will further look into it and get back to you at the earliest.

[2020-03-04 18:46] #47796 closed

[2020-03-04 18:46] diberry commented on #49465
@zodiacmediaSD You should be using the [preview portal](https://preview.luis.ai).

[2020-03-04 18:47] billmath commented on #47984
Hi @cblomart

Thank you for opening this issue.  I have gone ahead and created a work item to address this.  Unfortunately I don't have an ETA for when this will get updated.  At this point, we can go ahead and close the issue and I will post a notice once I have updated it.  Thanks!

Bill

#please-close

[2020-03-04 18:47] #47984 closed

[2020-03-04 18:49] billmath commented on #48296
Hi @arcotek-ltd

Thank you for opening this issue.  I have gone ahead and created a work item to address this.  Unfortunately I don't have an ETA for when this will get updated.  At this point, we can go ahead and close the issue and I will post a notice once I have updated it.  Thanks!

Bill

#please-close

[2020-03-04 18:49] #48296 closed

[2020-03-04 18:51] billmath commented on #48361
Hi @mprentice22153

Thank you for opening this issue.  I have gone ahead and created a work item to address this.  Unfortunately I don't have an ETA for when this will get updated.  At this point, we can go ahead and close the issue and I will post a notice once I have updated it.  Thanks!

Bill

#please-close

[2020-03-04 18:51] #48361 closed

[2020-03-04 18:52] yoelhor commented on #49485
Thanks for the feedback. I'll update the doc

[2020-03-04 18:53] billmath commented on #48585
Hi @rimroot

Thank you for opening this issue.  I have gone ahead and created a work item to address this.  Unfortunately I don't have an ETA for when this will get updated.  At this point, we can go ahead and close the issue and I will post a notice once I have updated it.  Thanks!

Bill

#please-close

[2020-03-04 18:53] #48585 closed

[2020-03-04 18:55] kraigb commented on #42861
After investigation, the simplest solution on Windows is as follows:

1. Add a web.config file, such as https://github.com/Azure-Samples/nodejs-docs-hello-world/blob/master/web.config, to your project. (This file references index.js; if your main file is different, change accordingly.) The one that @ujlm provided, https://pastebin.com/6cNS5zgH, has the file listed as app.js, which is appropriate f

[2020-03-04 18:59] billmath commented on #48642
@maktantt

Thank you for catching this.  I have updated the link and it should point to the correct download information later today.  Thanks!

#please-close

[2020-03-04 18:59] #48642 closed

[2020-03-04 19:01] billmath commented on #48815
Hi @chwilfing

Thank you for opening this issue.  I have gone ahead and created a work item to address this.  Unfortunately I don't have an ETA for when this will get updated.  At this point, we can go ahead and close the issue and I will post a notice once I have updated it.  Thanks!

Bill

#please-close

[2020-03-04 19:01] #48815 closed

[2020-03-04 19:03] billmath commented on #48832
Hi @ziggynemeth

Thank you for opening this issue.  This document is scheduled for a refresh so you should see changes coming shortly.  Unfortunately I don't have an ETA for when this will get updated.  At this point, we can go ahead and close the issue and I will post a notice once I have updated it.  Thanks!

Bill

#please-close

[2020-03-04 19:03] #48832 closed

[2020-03-04 19:05] adamyager opened #49489 "email for this user group isn't valid"
The email azurefileslinuxusers@microsoft.com doest seem valid so we cannot email per what the document says.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d60d83f-0094-6c5e-e105-712c24bf1acc
* Version Independent ID: 594af294-fd5d-a8c7-d456-6d753b7b62f8
* Content: [Use Azure Files with Linux](https://docs.microsoft.c

[2020-03-04 19:07] billmath commented on #48834
@ziggynemeth

Thanks for suggesting this.  I have added a link to the sentence under table 2 and you should see it live later today.  Thanks!

Bill

#please-close

[2020-03-04 19:07] #48834 closed

[2020-03-04 19:08] asears commented on #40253
Azure Automation should support Az instead of AzureRM when provisioning new Automation Account.

[2020-03-04 19:09] billmath commented on #48836
Hi @ziggynemeth

Thank you for opening this issue. This document is scheduled for a refresh so you should see changes coming shortly. Not only do we need public cloud but we also need some govt cloud info in there.  Unfortunately I don't have an ETA for when this will get updated. At this point, we can go ahead and close the issue and I will post a notice once I have updated it. Thanks!

Bill

#pl

[2020-03-04 19:09] #48836 closed

[2020-03-04 19:10] YutongTie-MSFT commented on #49465
@diberry Thanks Dina.

@zodiacmediaSD
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-03-04 19:10] #49465 closed

[2020-03-04 19:12] martindr opened #49490 "BuildConfidentialClientApplication is private"
I'm confused by the way the code example shows a call to *BuildConfidentialClientApplication* from within a controller. As shown in an earlier step, that method is a *private* method of TokenAcquisition. What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15a27a6a-864a-a37e-e3fd-714f01ba7102
* Version Ind

[2020-03-04 19:22] mc0re commented on #49017
And then, there is `ContentKeyPolicyPlayReadyContentType.UltraVioletDownload` content type, what does that do?

[2020-03-04 19:23] #49251 closed

[2020-03-04 19:25] briandunnington opened #49491 "How to get Table API connection string?"
The article says that the task sets the $(CosmosDbEmulator.Endpoint) environment variable, which it does, but that points to the SQL API endpoint. How can I get the endpoint value for the Table API? I see that the task outputs the values in the console output, but the corresponding environment variables do not appear to be set.

Name                           Value
----                           -

[2020-03-04 19:31] SamaraSoucy-MSFT commented on #49293
I've raised a issue on the dotnet provider repo: https://github.com/Azure/AppConfiguration-DotnetProvider/issues/139

Even if I completely remove the `ConfigureKeyVault` call from the configuration, it still tries to load the values. That does mean your two solutions are the only ones right now.

I'm going to close the issue here, as there is nothing to update in the docs. You can follow and comme

[2020-03-04 19:31] #49293 closed

[2020-03-04 19:31] BharathNimmala-MSFT commented on #49170
@lalitprasad Hope the above information helps, at this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-03-04 19:31] #49170 closed

[2020-03-04 19:32] yoelhor commented on #49463
MS Graph has some properties that are not supported in Azure AD B2C. This month we are going to publish the list of supported attributes for user flow and custom policy. I'll update this issue when the doc is published. Note: you can user the extension attributes for [user flows](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-custom-attributes) and [custom policies](https://

[2020-03-04 19:35] BharathNimmala-MSFT commented on #48827
@ofirmanor Thank you for helping on this issue.

@NickDarvey  Thanks again for your query, hope the information shared by @ofirmanor provides you the latest information pertaining to the feature. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply an

[2020-03-04 19:35] #48827 closed

[2020-03-04 19:37] BharathNimmala-MSFT commented on #49164
@Prateek1584990 Thank you for reaching out to us. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-03-04 19:37] #49164 closed

[2020-03-04 19:41] WiseOldHowell commented on #49452
Thank you! I agree with @akinscote. I too had trouble reading the left column.

[2020-03-04 19:41] SamaraSoucy-MSFT commented on #49003
@mshinnie I'm going to close this issue. Please tag me if you have any further questions.

[2020-03-04 19:41] #49003 closed

[2020-03-04 19:42] shashishailaj commented on #49318
@mpchen This might happen if the original default Log analytics workspace along with the solutions was deleted. You can create a new Log analytics workspace and attach the security center to it . However deep troubleshooting will be required to understand why the log analytics workspace was not created automatically. I would suggest to open a case with our support team. In case you have any troubl

[2020-03-04 19:42] #49318 closed

[2020-03-04 19:43] BharathNimmala-MSFT commented on #49223
@rsaulat Thank you for contributions on this.

Resurfacing the resolution provided @rsaulat here in comments,so that its useful for rest of the community.

REASON IS buster uses v2.0 of libcrypto library, where as iotegde requires version libcrypto.so.1.0.2

sudo apt-get install libssl1.0.2
sudo systemctl restart iotedge
sudo systemctl status iotedge

[2020-03-04 19:43] jpconnock commented on #46820
Hi @niklarin ... we've updated the article to include all current regional pairs, including Norway and Switzerland.  Thank you again for the feedback!

[2020-03-04 19:43] jpconnock commented on #46820
#please-close

[2020-03-04 19:51] BharathNimmala-MSFT commented on #22018
@jrudley Thank you for bringing this to our notice , apologies for the experience .We will further look into it and work with our document authoring team to get the latest status and update here.

[2020-03-04 19:52] MarileeTurscak-MSFT commented on #49455
@richard-artes
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-04 19:54] MarileeTurscak-MSFT commented on #49474
@tsiddle
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-04 19:55] MarileeTurscak-MSFT commented on #49476
@asalmon9989
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-04 19:56] MarileeTurscak-MSFT commented on #49478
@CharmanderJieniJieni
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-04 19:56] SaurabhSharma-MSFT commented on #49477
@giertz I see that you have closed the thread however, if there are further questions regarding this matter, please reopen it with the documentation link to help you better.

[2020-03-04 19:57] MarileeTurscak-MSFT commented on #49490
@martindr
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-04 19:57] kraigb commented on #42861
Correction: the portal doesn't create a web.config directly, but publishing via git push does. Am investigating.

In the meantime, know that this particular quickstart is going to be changed to be oriented to using the Azure CLI. The VS Code tutorial on https://docs.microsoft.com/en-us/azure/javascript/tutorial-vscode-azure-app-service-node-01 will be updated for Windows.

[2020-03-04 19:58] robcamer commented on #49458
In reading the terraform docs,  include a features: {} in the provider:

provider "azurerm" {
  version = "=2.0.0"
  features {}
}

[2020-03-04 20:01] SaurabhSharma-MSFT commented on #49473
@pmozbert Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-04 20:02] chmagitt opened #49492 "error message CMake Error: Generator:"
Hello

I'm stuck to compile the the C code with the command
cmake --build . --target iothub_convenience_sample --config Debug

The system cannot find the file specified
CMake Error: Generator: execution of make failed. Make command was: nmake /nologo iothub_convenience_sample &&

dev machine :
W10  19041
cmake version 3.17.0-rc2
VS 2019 community 16.4.5 with C++ extensions

---
#### Document Detai

[2020-03-04 20:02] stokes776 opened #49493 "Where to copy nginx.conf?"
The instructions are unclear on where to copy the nginx.conf file to?

    Copy the nginx.conf file from the webui\scripts\localhost folder in your local copy of the repository to the nginx\conf install directory.
    Run nginx.

There is no nginx folder. If I search the repo for the term 'nginx' the only result is the nginx.conf it is wanting me to copy to somewhere else.

Please provide a non re

[2020-03-04 20:03] anlucen opened #49494 "Description Error tool"
Hey team, I found the error code 50053 is not the same that he tool is showing. I can see a report errorCode": 50053,
    "failureReason": "Sign-in was blocked because it came from an IP address with malicious activity.",
    "additionalDetails": null
It is different what you found in the tool:
Error Code	50053
Message	The account is locked, you've tried to sign in too many times with an incorrect

[2020-03-04 20:04] stokes776 commented on #49493
Nevermind, I see that it is listed as a requirement that nginx is already installed. Thus the location for the conf file copy destination is going to be wherever you already installed nginx at/to.

[2020-03-04 20:05] orspod commented on #49482
@deyanp thanks for your feedback.
@Gabilehner - please assist with solution.
Thanks!!!

[2020-03-04 20:05] Mike-Ubezzi-MSFT commented on #48565
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-04 20:05] #48565 closed

[2020-03-04 20:06] gdubya opened #49495 "SourceLanguageConfig not available in Java API (1.7.0)?"
The SourceLanguageConfig class does not appear to be available in client-sdk 1.7.0. The deprecated setSpeechRecognitionLanguageHas is still available. Has the java library been updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0407ab70-38c7-ed8a-56b0-184b949feb73
* Version Independent ID: 88ce290a-d99e-809a-e092-

[2020-03-04 20:13] gzuber commented on #49015
Hi @TravisCragg-MSFT -- I'm actually no longer on the Service Fabric team. I spoke to my old team and they asked if you could assign this to @aryamsft. Thanks!

[2020-03-04 20:19] slopezv2 opened #49496 "Azure Data Lake gen 2 compatibility"
It seems that we cannot send the diagnostic data to data lake gen  2 enabled account. Any workaround?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ca576e1-fafa-3a02-6d29-394f342bc737
* Version Independent ID: a6a83de5-41fd-2dce-eb86-cee6c086c07d
* Content: [Create diagnostic setting to collect logs and metrics in Az

[2020-03-04 20:19] robcamer opened #49497 "DOC BUG: provider must include 'features'"
the provider section must include features:

provider "azurerm" {
   # `version` attribute is optional
  version = "=2.0.0"
  features {}

}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163088fc-67d3-aa81-26e7-0155f3aaa90c
* Version Independent ID: fafceb81-d8fc-8c20-72e5-b2dddc445f73
* Content: [Use Terraform to cre

[2020-03-04 20:22] SaurabhSharma-MSFT commented on #49469
@JasonRBeer To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-04 20:22] szimmerMicrosoft commented on #41434
@ThunderHorse Thanks again for your feedback on this feature.
Terminate events have left Preview and are now GA if that is something that would influence your adoption.

[2020-03-04 20:24] SaurabhSharma-MSFT commented on #49467
@ediazrod To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-04 20:30] mike-urnun-msft commented on #49470
@spottedmahn Thank you for your feedback! We will review and update as appropriate.

[2020-03-04 20:31] mike-urnun-msft commented on #49471
@spottedmahn Thank you for your feedback! We will review and update as appropriate.

[2020-03-04 20:35] BreakingBI opened #49498 "[Python] [API v2.1] Mismatched variable names for API key"
[Python] [API v2.1] In the Setting Up section, the API key is named as "key".  In the Object Model section, it is referenced as "subscription_key".  The code does not run as-is.  Matching up these variable names resolves this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4e6390818
* Version

[2020-03-04 20:39] mike-urnun-msft commented on #49260
@Hazhzeng @anirudhgarg Thanks for the confirmation! I've created a PR that reflects this information.

@eyast Thanks for helping us drive improvements towards MS Docs! Based on the above comments, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-04 20:39] #49260 closed

[2020-03-04 20:41] gitmaximd opened #49499 "Azure CLI commands in step 4 create permissions with incorrect case"
After executing `az keyvault set-policy -n $keyVaultName -g $rgName --object-id $desIdentity --key-permissions wrapkey unwrapkey get`
the actual permission values are in camel case ("wrapKey","unwrapKey").
[code]
This behaviour results in "To associate a disk, image, or snapshot with this disk encryption set, you must grant permissions to the key vault &lt;kyvault_name&gt;." error in portal. Click

[2020-03-04 20:45] Adikota opened #49500 "credentials"
I keep getting this error when i want to try to connect to my enrollment from the portal

Failed to update data source credentials: The credentials provided for the AzureBlobs source are invalid. (Source at https://ccmstorageprod.blob.core.windows.net/costmanagementconnector-data/AutofitComboMeterData.csv

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-03-04 20:45] SaurabhSharma-MSFT commented on #49466
@tudorsibiu90 Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-04 20:48] FrankHu-MSFT commented on #49370
@josuuribe no, that is not how the RBAC roles work, you cannot get access to another resource unless you use the B2B guest feature. For more information on that see here :
https://docs.microsoft.com/en-us/azure/active-directory/b2b/what-is-b2b

Please submit a support ticket, submit against a question on Q&A https://docs.microsoft.com/answers/index.html, or engage with your company's account manag

[2020-03-04 20:48] #49370 closed

[2020-03-04 20:49] Mike-Ubezzi-MSFT commented on #48838
@zironsys Did you follow these instructions: [CQL Shell](https://docs.microsoft.com/en-us/azure/cosmos-db/cassandra-support#cql-shell)

These instructions have you install the complete Cassandra package but you are only using the cqlsh.py command to connect to an external instance. Once you have your laptop set-up, go to the Quickstart blade for your Cassandra API instance and copy the CQL Shell d

[2020-03-04 20:51] SnehaGunda commented on #49271
@tomkuijsten there isn't a minimum RU limit for a logical partition. The min RU/s limits are only per container and database as documented in that article. Logical partitions are decided based on the partition key of your data.

[2020-03-04 20:56] Karishma-Tiwari-MSFT commented on #49457
Can you please elaborate on what you meant by 'pushed the example'?
This would help the doc-author update the doc.

[2020-03-04 20:57] Karishma-Tiwari-MSFT commented on #49458
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-04 20:57] SaurabhSharma-MSFT commented on #49283
@dipinn26592 Can you please provide the document link to help you ?

[2020-03-04 20:58] SaurabhSharma-MSFT commented on #49265
@sanderdekoning Can you please provide the document link to help you ?

[2020-03-04 20:58] Karishma-Tiwari-MSFT commented on #49462
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-04 20:58] #49462 closed

[2020-03-04 20:59] dagarkatyal opened #49501 "Azure Machine Learning Model Profile Fails"
I am following the documentation that i posted here..
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where#profilemodel

I am trying to profile and deploy the model to AKS end point..
with the same inference config i am able to deploy the model to AKS end point but not able to do profiling..

Attached is the copy of the code as txt file
I get error as "AttributeError: 'N

[2020-03-04 21:05] gdubya opened #49502 "Missing definition of "N"?"
The explanation of the formula is missing a definition of "N". For example:
"N is the number of words in the reference (N=S+D+C)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26bf3f6e-409d-444d-412f-a2b9a2f43088
* Version Independent ID: 517aa624-684e-b5ec-f21a-4aad1b8416b0
* Content: [Evaluate accuracy for Custom Sp

[2020-03-04 21:08] itesainnovation commented on #42861
Hi there!

I've done all these and now the app service hangs when request and I get an 500 eror. I see that the app is starting, buy i'm getting no anwser from it

[2020-03-04 21:12] vhorne commented on #49133
Article updated to isolate WAF references to WAF and AKS sections.
#please-close

[2020-03-04 21:12] #49133 closed

[2020-03-04 21:15] ThomasWeiss commented on #49417
@chwarr Property paths can be surrounded by double-quotes to account for paths with special characters, just as you supposed. When we create the default indexing policy on a new container, our engine automatically applies double-quotes on the `_etag` although it's not required here. You can actually try to update your indexing policy by removing the (escaped) double-quotes (`\"`) and you will see

[2020-03-04 21:15] shreyasharmamsft commented on #49367
Hey @mwlootens ,

Currently, we don't allow the use of static fields on the instance as part of calculations on the variable. We've heard this feedback from other users as well and we will definitely consider it as part of our roadmap!

Can I ask what your use case is for this feature? What kinds of calculations are you performing and what information would you typically store as a static value in

[2020-03-04 21:16] erhopf commented on #49502
#reassign: @IEvangelist

[2020-03-04 21:16] aahill commented on #48185
Thanks @kevmcdonk the documentation has been updated!

#please-close

[2020-03-04 21:16] #48185 closed

[2020-03-04 21:18] sanimesa opened #49504 "Hyphen not supported on Azure streaming query?"
I tried to use the json_stringify function as described above but I ran into two issues. First, the function definition does not allow an underscore as the function alias. Second, although it allows a hyphen but it is not recognized by the query.
So I ended up defining the function alias as jsonstringify and it does seem to work. Not a big issue but someone new can get stuck on this.

---
#### Doc

[2020-03-04 21:23] mwlootens commented on #49367
I could for example give each time series a static maximum value for a parameter and would use this to calculate the percentage for each event.

[2020-03-04 21:38] sc-bperry opened #49506 "HTTP output binding body depth"
It appears that when I use the `Push-OutputBinding` for my HTTP output, the object I use for the body only returns the object properties to a depth of 3. For instance, the following line...
[code]
...would return the following JSON when the function was invoked:
[code]
I can't help but think that the `Push-OutputBinding` command uses the `ConvertTo-Json` command behind the scenes, which has a defa

[2020-03-04 21:40] Mriccio opened #49507 "Issues creating Automation Account with Script"
I'm having multiple issues when running the "createazureautomationaccount.ps1" script.

I ran this command: (w/ Info blocked out)
![image](https://user-images.githubusercontent.com/29782199/75924807-9425bc00-5e35-11ea-8be8-1b37a07fdbf4.png)

When running the script, despite choosing canadacentral as my location for the automation account, I am given this error:
![image](https://user-images.githubu

[2020-03-04 21:41] kraigb commented on #42861
@itesainnovation Double-check that your web.config lists the filename for your app; if there's a mismatch, then you'll see the 500 error.

[2020-03-04 21:44] romel56 commented on #44612
Is the synapse workspace available now?

[2020-03-04 21:46] MarileeTurscak-MSFT commented on #49461
@nickgmicrosoft do you know who owns this app? The app itself appears to be down.

[2020-03-04 21:47] BharathNimmala-MSFT commented on #49496
@slopezv2 Thank you for your query, we will look into it and get back to you at the earliest.

[2020-03-04 21:50] Chai-NED opened #49509 "Egress metric"
Can you provide and example of how  external client would egress traffic to Azure storage? This
"The amount of egress data. This number includes egress from an external client into Azure Storage as well as egress within Azure. As a result, this number does not reflect billable egress. " does not make sense to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-03-04 21:53] mike-urnun-msft commented on #48968
@mlandtved Right, but I'm not sure if the native integration with AI should necessarily override the practice of using the try/catch block in your code. Rather, as the doc describes, using them both in combination might provide a greater capability in general, i.e. [structured logging](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#structured-logging) in App Insights.

[2020-03-04 21:53] #48968 closed

[2020-03-04 21:54] SaurabhSharma-MSFT commented on #49166
@CharmanderJieniJieni Yes, you can assign Azure AD administrative roles to Service Principals. For example- If you want to assign Application administrator role to a service principal, search with a service principal name on Add assignments blade.  (See screenshot below)
![image](https://user-images.githubusercontent.com/38112130/75926571-9f6ded00-5e1f-11ea-974b-124079684991.png)

[2020-03-04 21:56] MarileeTurscak-MSFT commented on #49421
@YuriDio can you confirm?

[2020-03-04 21:56] SaurabhSharma-MSFT commented on #49439
@kiazhi Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-04 21:58] mike-urnun-msft commented on #49149
@AnjaniChallamcherla Please try switching to version 4.5.1 of the System.Data.SqlClient and other solutions discussed in the issue I referenced above. If you continue to encounter this issue, it might be better to either open a support case or new thread on [MSDN forums for Functions](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions).

Since this channel is more for driving

[2020-03-04 21:58] #49149 closed

[2020-03-04 21:59] SaurabhSharma-MSFT commented on #48995
@mihaibudurescu We will now proceed to close this thread as we are discussing in over email. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-04 21:59] #48995 closed

[2020-03-04 21:59] SaurabhSharma-MSFT commented on #48662
@Ashok103606 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-04 21:59] #48662 closed

[2020-03-04 22:00] aahill commented on #48604
Hi @zaalion thanks for the question!

The Anomaly Detector doesn't support a granularity in the seconds. Like you saw in the enum page, currently only goes down to minutes, `minutely`.

#please-close

[2020-03-04 22:00] #48604 closed

[2020-03-04 22:01] hansmbakker commented on #49385
Hi @lyrana,
thank you for you answer!

- I am quite sure that the data that I saw in the new environment was also present in the old TSI environment (before deletion).
- I believe I deleted all TSI-related resources (TSI environment, Storage account, link to Event Hub)
- I did not delete the resources that were sending that data to TSI -- the new TSI environment used the same `Event Hub`, `Stream

[2020-03-04 22:02] orionJag commented on #41695
Mike-Ubezzi / Alberto-Vega

Any updates on the install iotedge on ARM32v7 on RPI4 using Ubuntu 18.04.4 LTS, I am getting the same error msg as Gamecock.

[2020-03-04 22:02] mike-urnun-msft commented on #49203
@antogh Since this channel is more for driving improvements for MS Docs and we haven't determined any changes based on your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, feel free to continue the discussion here and we'll gladly provide further assistance.

[2020-03-04 22:02] #49203 closed

[2020-03-04 22:11] tanmaygore commented on #49427
Adding the error message to FAQ page. https://docs.microsoft.com/en-us/azure/virtual-machines/windows/migration-classic-resource-manager-faq

[2020-03-04 22:12] irishun commented on #49414
Thanks David,
speech_config.set_property_by_name("SpeechServiceConnection_SynthLanguage", "de-DE")
does not through an error!

But the speech_synthesizer still pronounces in the default language (English).

[2020-03-04 22:14] SaurabhSharma-MSFT commented on #48712
@Bartolomeus-649 Please let us know if you any other question otherwise we will proceed further to close this issue.

[2020-03-04 22:15] lisaguthrie commented on #49435
Thanks @kaushik-hemant - I've filed a bug on this one.

[2020-03-04 22:19] bandersmsft commented on #49500
@adikota Hi. I'm investigating this problem with the Cost Management engineering team. As soon as I have something to share, I'll reply here.
#in-process

[2020-03-04 22:20] SamaraSoucy-MSFT commented on #49451
`az resource update` will let you set the `browserConnect` property via the CLI.

`az resource update -g $labGroup -n $labName --resource-type "Microsoft.DevTestLab/labs" --api-version 2018-10-15-preview --set properties.browserConnect=Enabled`

Does that cover the information you were looking for or are you looking for template/scripts for the whole process?

[2020-03-04 22:29] NavtejSaini-MSFT commented on #49491
@briandunnington We are checking this and will get back to you.

[2020-03-04 22:32] NavtejSaini-MSFT commented on #49488
@juanren We are checking this and will get back to you.

[2020-03-04 22:33] brettcannon commented on #43760
@ggailey777  `__app__` has absolutely no inherit meaning to Python itself.

[2020-03-04 22:33] Bartolomeus-649 commented on #48712
So there's  no way to figure out if there's anything using legacy authentication befor you turn on MFA?

[2020-03-04 22:33] andy-822 commented on #49420
Hey Dashleen, i'm sorry but i think i've made an error. I imported using Microsoft.Identity.Client into my asp.net core 3.1 project, installed Microsoft.IdentityModel.Clients.ActiveDirectory instead and the Visual Studio error was gone. Sorry for the added work.

[2020-03-04 22:42] MarileeTurscak-MSFT commented on #49452
I'm assigning your feedback to the content author to investigate.

I believe this might be based on how markdown formats these, as the columns adjust for the text and page size.  But I'll let the author look into this.

[2020-03-04 22:45] HeidiSteen commented on #48641
@danglund @BryanTrach-MSFT  Sorry for the delayed response. There are several threads about this subject and I lost track of this one.  The 32,000 threshold exists but is not guaranteed moving forward so the product team wants to keep the stated limits of 1000 batch size intact.  Hope this helps.  I'm going to close this issue but if you have additional concerns, feel free to reopen.

#please-clos

[2020-03-04 22:45] #48641 closed

[2020-03-04 22:46] johndelizo opened #49510 "We will be surfacing this feature shortly on Power BI / Needed Power BI Pro."
Cannot follow step #4 (#create-the-dashboard-in-power-bi) of creating a new Azure Stream. Clicking new streaming dataset shows a pop-up box that says "Please head to the Azure Stream Analytics help page to setup your streaming dataset. We will be surfacing this feature shortly on Power BI. Setup your Azure Stream Analytics." Link landed here again.

PS. Tried also using the add output blade of the

[2020-03-04 22:48] SaurabhSharma-MSFT commented on #49362
@juniwang Yes, that is the correct cmdlet to assign access policy to a Service Principal or a user.
I see in your cmdlet that you are passing both user objectId and spn name which is not correct.  If you want to assign access to a service principal then you need to pass either the objectid or the spn name of the service principal.  Also, you cannot pass both the user object id and serviceprincipal

[2020-03-04 22:48] MarileeTurscak-MSFT commented on #49494
@anlucen
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-04 22:51] fabianflanhardt opened #49511 "AdminHelpText"
Hi, the element AdminHelpText is being used in one of the examples above and in some of the sample policies found on github. But it does not seem to be valid in every constellation. Could you add some documentation on when and how to use it?
Thanks Fabian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e31c230-4294-6b2

[2020-03-04 23:09] JasonRBeer commented on #49469
Sorry, obviously I missed the mark.

https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-client

[2020-03-04 23:10] CharmanderJieniJieni opened #49512 "Service Principal vs Service Principal Name"
In this link there is an introduction on Service Principal Name https://docs.microsoft.com/en-us/windows/win32/ad/service-principal-names

Is there any relation ship between Service Principal and Service Principal Name? Say Service principal is Azure's Service Principal Name or they are totally irrelavent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-03-04 23:11] brandonh-msft opened #49513 "REST API throws errors"
When trying to use Azure CLI's `az rest` command to turn on Storage Analytics I'm met with this:

[code]

despite [the REST API stating `&comp` is required in the URI](https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-service-properties#uri-parameters). As I can't write bugs on the REST API docs, I'm writing this here.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-03-04 23:13] SaurabhSharma-MSFT commented on #49475
@liutang Virtual Machine Operator role is a custom role which you can create in your tenant using the [Custom Role Example](https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles#custom-role-example) provided in the documentation.
These are the virtual machine related built-in roles available on portal -
![image](https://user-images.githubusercontent.com/38112130/75931515-07

[2020-03-04 23:16] bandersmsft commented on #49500
@adikota I'll update the article to add a troubleshooting section to address your issue. Until I do...

It seems like you changed the authentication method for the AutoFitComboMeter blob connection.

1. After you enter your EA enrollment and number of months, make sure that you leave the default value of Anonymous for Authentication method and None for Privacy setting and then Sign in--Don't worry

[2020-03-04 23:23] RyanHill-MSFT commented on #49143
Hi @juanand, gr-Pod-*.cloudapp.net domains are part of the AppServiceEnvironment tag. You just have to add that service tag to your firewall as a rule and you should be set. Let me know if there's a specific endpoint that's being denied.

![image](https://user-images.githubusercontent.com/47189704/75932327-22ee0500-5e45-11ea-8fb6-299d41baf5ca.png)

[2020-03-04 23:25] loosus456 commented on #49254
Just to be clear: this is a pure Office 365 tenant that I'm talking about; no P1 or P2 whatsoever.

So, just to reiterate, the users who have used Office 365 to enable MFA won't need to re-register once we enable MFA using Conditional Access Policies in P1? Is my understanding correct?

[2020-03-04 23:27] matcodes commented on #46973
I can confirm this issue. Are you working on a fix?

[2020-03-04 23:28] milope opened #49514 "Possible paragraph typo"
On the paragraph that reads: "Predis on PHP 7 won't work because PHP 7 supports only TLS 1.0. On PHP 7.2.1 or earlier, Predis uses TLS 1.0 or 1.1 by default. You can specify TLS 1.2 when you create the client instance:", shouldn't this read PHP 7.2.1 or later instead of earlier?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-03-04 23:37] FrankHu-MSFT commented on #49490
@martindr thanks for letting us know about this. We're looking into this and will update the page accordingly.

For current reference take a look at the sample code in the repo here : https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2#scope-of-this-tutorial

The method profile() in particular can be found in the homecontrollers for each of the samples below:
https

[2020-03-04 23:37] MarileeTurscak-MSFT commented on #49242
This is discussed in this article. Does that seem sufficient to you? https://docs.microsoft.com/en-us/sharepoint/control-access-from-unmanaged-devices

Passing this on to @curtand

[2020-03-04 23:46] Karishma-Tiwari-MSFT commented on #49468
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-04 23:48] juniwang commented on #49362
@SaurabhSharma-MSFT Thanks for you answer. But I guess execution twice doesn't solve my problem, that leads to two different policies being added, one for the service principal another for user. What I need is just one single policy, to a compound identity. By doing in this way, the SP can access the KV on behalf of the signed user, and the user cannot only access KV from that application

[2020-03-04 23:49] FrankHu-MSFT commented on #49476
@asalmon9989 currently there is no sign out branding documentation, if you're interested in this feature please submit it as  feedback here https://feedback.azure.com/forums/169401-azure-active-directory

And if there's enough support then this feature will be put on the roadmap accordingly.

That being said, I'll be closing out this issue by end of day today if theres' no more concerns.

[2020-03-04 23:50] Phydeauxman commented on #41421
I am running version 2.1.0 locally and I get the same error.

[2020-03-04 23:51] FrankHu-MSFT commented on #49474
@tsiddle what is unclear about this? If the machine is not a domain controller or member server then AAD Connect will not work. This is a pre-requisite.

[2020-03-04 23:54] paulbouwer commented on #49374
@fgauna12

The following line sets the user environment variables permanently.

[code]

The following line sets the path in the current console / process.

[code]

The details for how this works are available in the [Environment.SetEnvironmentVariable Method](https://docs.microsoft.com/en-us/dotnet/api/system.environment.setenvironmentvariable?view=netframework-4.8#System_Environment_SetEnvironmen

[2020-03-05 00:01] knssub opened #49515 "Sample Report Download or Screenshots"
Please provide some sample reports to download and review or at least screenshots. There is no visualization available in the documents.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8320d3f-87a9-4c8e-c90d-6b4aa286afe6
* Version Independent ID: 9865783c-1276-be85-4d82-24bf42b70e97
* Content: [Customize assessments fo

[2020-03-05 00:11] fgauna12 commented on #49379
There's an open issue on Linkerd with k8s 1.17
https://github.com/linkerd/linkerd2/issues/3943

I downgraded to kubernetes `1.16.4` with aks.
Checks are working now.

[2020-03-05 00:12] brian-untangle opened #49517 "Please add Untangle NG Firewall to this list"
Untangle to Azure VPN Gateway via IKEv2 documentation here:
https://support.untangle.com/hc/en-us/articles/360044484753

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe532684-022f-9006-9179-c534fd923171
* Content: [Azure VPN Gateway: About VPN devices for

[2020-03-05 00:14] rwike77 commented on #48307
@tinodo,  closing this now.  #please-close

[2020-03-05 00:14] #48307 closed

[2020-03-05 00:19] rwike77 commented on #46754
@hpsin , can you take a look at this?  Thanks.

[2020-03-05 00:20] michaelsync commented on #49429
Thanks.

I think it's a very common issue. A lot of people are having the same question. It would be great if you guys can mention if it's the limitation (e.g There is no way for the service principal to execute the command) instead of just saying "The command should succeed if it is executed by a user instead."

[2020-03-05 00:20] ericsampson commented on #47570
@cephalin any update available? There is almost no documentation on what this setting does. And it is confusing that it behaves very differently for Windows and Linux app services.

[2020-03-05 00:20] MarileeTurscak-MSFT commented on #49512
Hi @CharmanderJieniJieni , it's just the Display Name of the service principal.

https://docs.microsoft.com/en-us/powershell/azure/create-azure-service-principal-azureps?view=azps-3.5.0

https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azadserviceprincipal?view=azps-3.5.0

https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-lates

[2020-03-05 00:20] rwike77 commented on #45442
@sarah026, closing this since there is a product/doc update coming soon.  #please-close

[2020-03-05 00:20] #45442 closed

[2020-03-05 00:21] MarileeTurscak-MSFT commented on #49512
Hope this helps! If you have further questions feel free to tag me in the comments or create an issue in [Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered).

[2020-03-05 00:21] #49512 closed

[2020-03-05 00:26] rwike77 commented on #42835
@hpsin, could you take a look at this one?  Thanks.

[2020-03-05 00:26] TravisCragg-MSFT commented on #49448
@karataliu Thanks for the feedback. There are several links that incorrectly point to GitHub, and several others that need restructuring. If you are not able to get to a link and it is blocking you, please let me know and I will get the proper address.

 have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-05 00:28] TravisCragg-MSFT commented on #49453
@liamfoneill Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-05 00:29] tsiddle commented on #49474
Hi Frank - it’s not that the statement is unclear. It’s why the server needs to be domain joined - what drives this requirement in AADC?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Frank Hu <notifications@github.com>
Sent: Wednesday, March 4, 2020 6:51:02 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tim Siddle <Tim.Siddle@microsoft.com>

[2020-03-05 00:54] BhargaviAnnadevara-MSFT commented on #49234
Thanks for reverting. Please leave the link of the document in question here so I can route it to the appropriate internal Team to get it fixed.

[2020-03-05 01:10] TravisCragg-MSFT commented on #49479
@giertz step 9 outlines the issuer & audience in the Set-AzVirtualNetworkGateway cmdlet, does this contain the info you are looking for?

[2020-03-05 01:11] KranthiPakala-MSFT commented on #49484
@vveluvolu Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-03-05 01:22] SaurabhSharma-MSFT commented on #49502
@gdubya Thanks for the feedback !  This issue has been assigned to content author to investigate and update the document as appropriate.

[2020-03-05 01:24] TravisCragg-MSFT commented on #49439
@kiazhi As this is a feature request and not a doc request, your best place to post this request is at [Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-05 01:24] #49439 closed

[2020-03-05 01:25] SaurabhSharma-MSFT commented on #49480
@ediazrod Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-05 01:26] SaurabhSharma-MSFT commented on #49511
@fabianflanhardt Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-05 01:28] SaurabhSharma-MSFT commented on #49507
@Mriccio To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2020-03-05 01:30] SaurabhSharma-MSFT commented on #49501
@dagarkatyal Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-05 01:35] sudeepster opened #49520 "Increase Modules per deployment from 20 to 50"
defaults have been increased from 20 to 50 on the service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec6fc6a5-9bf6-889e-075d-b5b009e67d1f
* Version Independent ID: f3d6fa56-a494-fec8-50e3-f8682c90ac42
* Content: [Understand Azure IoT Hub quotas and throttling](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub

[2020-03-05 01:42] henry-schneiderman opened #49521 "Disk labels may not be described correctly"
I believe the disks are named differently in the file system than how they are described in the documentation above. Currently, this VM, a Data Science Virtual Machine (DSVM), is configured with a 50GB OS disk and 100GB data disk. Here's what I see when I run the linux command: df -h

hws@VM1:/data/home/hws/src/DLW-V1$ df -h
Filesystem      Size  Used Avail Use% Mounted on
udev            3.9G

[2020-03-05 02:02] somehowadev commented on #8454
Hey,

Sorry about the late response.

The only thing I can add is that it's been working fine for me over the last few months, it might be worth creating a support request for it or a new issue (as this issue is unlikely to be reopened as it's probably quite different).

Good luck :)

[2020-03-05 02:05] MartinJaffer-MSFT commented on #49150
@grusin  I have reproduced  your findings.

The SQL query takes approximately 5 minutes, both with, and without the dynamicPartitionPruning.

@mamccrea Can you comment on this?  I have built upon @grusin 's work.
Here is a (zipped) DBC
[deltalake.zip](https://github.com/MicrosoftDocs/azure-docs/files/4290562/deltalake.zip)

Also prepend the following libraries to the first code sample in the doc,

[2020-03-05 02:20] VikasPullagura-MSFT commented on #48996
@glimoli @genlin Can you please add your comments.

[2020-03-05 02:27] ketan-chawda-msft commented on #49489
@adamyager Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:29] ketan-chawda-msft commented on #49492
@chmagitt Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:30] FrankHu-MSFT commented on #49474
@tsiddle this is a requirement per the way AAD Connect is built. If you're unsatisfied with this please submit your feedback here : https://feedback.azure.com/forums/169401-azure-active-directory and if there's enough communal support the product team will look into further production level support. As this has been addressed I will now be closing out this github issue. Please follow up accordingl

[2020-03-05 02:30] #49474 closed

[2020-03-05 02:31] ketan-chawda-msft commented on #49493
@stokes776 Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:32] ketan-chawda-msft commented on #49495
@gdubya Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:33] BharathNimmala-MSFT commented on #49515
@knssub Thank you for your query and feedback, we will further look into it and get back to you at the earliest.

[2020-03-05 02:34] ketan-chawda-msft commented on #49497
@robcamer Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:36] ketan-chawda-msft commented on #49498
@BreakingBI Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:36] Karishma-Tiwari-MSFT commented on #49499
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-05 02:38] ketan-chawda-msft commented on #49504
@sanimesa Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:39] #49476 closed

[2020-03-05 02:40] ketan-chawda-msft commented on #49506
@sc-bperry Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:41] ketan-chawda-msft commented on #49509
@Chai-NED Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:41] Karishma-Tiwari-MSFT commented on #49379
Thanks for sharing the update.
Also take a look at the following suggestions in case this is the issue:
Have you tried looking at the time difference between your local workstation where you are running the linkerD script and the node itself.
It seems that the time on the machine you are running the pre-check differs from the AKS node.

One way to bypass the problem would be to SSH on the node and

[2020-03-05 02:41] #49379 closed

[2020-03-05 02:43] ketan-chawda-msft commented on #49510
@johndelizo Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:44] ketan-chawda-msft commented on #49513
@brandonh-msft Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:44] Karishma-Tiwari-MSFT commented on #49274
Is there an update?
I would recommend using this doc to configure your cluster with Azure Monitoring and Container Insights : https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-onboard

[2020-03-05 02:45] pavankompelli commented on #42454
Sorry, there is no plan to allow setting publisherDomain property programmatically.

[2020-03-05 02:46] ketan-chawda-msft commented on #49514
@milope Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:47] Karishma-Tiwari-MSFT commented on #49145
Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-05 02:47] #49145 closed

[2020-03-05 02:48] ketan-chawda-msft commented on #49517
@brian-untangle Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:49] ketan-chawda-msft commented on #49520
@sudeepster Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:50] Mike-Ubezzi-MSFT commented on #49302
@jmanyoma There are two methods to pause/resume Synapse Analytics ([Portal](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/pause-and-resume-compute-portal) & [PowerShell](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/pause-and-resume-compute-powershell)). Scale operations can be accomplished via [Portal](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/quickstart-sc

[2020-03-05 02:51] ketan-chawda-msft commented on #49521
@henry-schneiderman Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-05 02:51] kiazhi commented on #49439
Thanks, @TravisCragg-MSFT . I will bring this conversation to that channel.

[2020-03-05 02:54] VikasPullagura-MSFT commented on #49497
@TomArcherMsft Can you please check and add your comments on this.

[2020-03-05 02:55] KrishnaG-MSFT commented on #49403
@blazarson Hope you have self resolved and hence closed the issue. Thanks for the update. If there are further questions regarding this feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion..

[2020-03-05 03:20] Mike-Ubezzi-MSFT commented on #49200
@yegu-ms Can you review the code example in this tutorial and make an update based upon your knowledge of this functionality. As a tutorial, it helps if the code snippets are clearly detailed, even if the example is demonstrating multiple options.

[2020-03-05 03:23] dcbrown16 opened #49522 "Peering vs VPN"
Is there a reason that this document implies that you need Vnet-to-Vnet VPN to connect "to a SQL Database from an Azure VM in a different region or subscription."? I don't see any restriction like that in the Private Endpoint docs, for example:
"Private endpoint enables connectivity between the consumers from the same VNet, regionally peered VNets, globally peered VNets and on premises using VPN o

[2020-03-05 03:41] TomArcherMsft commented on #49497
@robcamer Thanks for the catch. I'll update as appropriate this week.

[2020-03-05 04:05] CHEEKATLAPRADEEP-MSFT commented on #44612
@kennysaelen & @romel56 Azure Synapse Analytics is in private preview. That's the reason it not available in the Azure Portal.

You need to wait until the product goes Generally Available.

[2020-03-05 04:09] CHEEKATLAPRADEEP-MSFT commented on #49504
@rodrigoaatmicrosoft Could you please look into this issue and update the document as appropriate?

[2020-03-05 04:17] anwather commented on #48753
Any update on this?

[2020-03-05 04:25] dcbrown16 opened #49523 "Finding DNS name"
"If you're using a public IP address as an endpoint, you'll find the IP and DNS information on the public IP address resource. Or find it in the portal, on the overview page for the application gateway. If you're using internal IP addresses, find the information on the overview page."
I don't see a DNS name anywhere on my App GW v2, although I am using a Public IP. Is this information still availa

[2020-03-05 04:39] souravmishra-msft commented on #49231
@narismadz, We performed the same scenario in our labs and it seems to be working as expected.

**Steps taken to repro the issue:**

1. Created a private  group in EXO
2. Added user 1 as admin and user2 as member
3. Went to to  user1's Teams client and created a team from an existing 0365 group.

User1 ==> Admin
User2==> Member

**Findings:**
User 1 can upload file and open the same in SPO
User 2

[2020-03-05 04:53] SumanthMarigowda-MSFT commented on #49142
@alankinane Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-03-05 04:53] #49142 closed

[2020-03-05 05:00] shashishailaj commented on #49352
@SGGIRBS Thank you for sharing your findings with the community .

[2020-03-05 05:00] DashleenBhandari-MSFT commented on #49420
@andy-822 , That's great. Do you need any further assistance on this issue?

[2020-03-05 05:01] DashleenBhandari-MSFT commented on #49131
@nofield , Just wanted to understand if you need further assistance on this issue?

[2020-03-05 05:02] DashleenBhandari-MSFT commented on #49136
@gandhirajan , We agree and we have decided to make the changes for the same.

[2020-03-05 05:06] SumanthMarigowda-MSFT commented on #49342
@mansi-aggarwal-2504  @arbatazi Have you referred to the suggestion mentioned  in the [SO ](https://stackoverflow.com/questions/58768443/error-importing-blobserviceclient-from-azure-storage-blob)thread.

[2020-03-05 05:07] DixitArora-MSFT commented on #49226
@brettsam Just following up again in case missed the previous communication.

[2020-03-05 05:10] kazshi commented on #47752
Hi @mamccrea  Do you have any updates on this? It would be great if you could update the content once you confirmed.  Thanks.

[2020-03-05 05:16] KrishnaG-MSFT commented on #49332
As per the first note in [this](https://docs.microsoft.com/en-us/azure/automation/automation-update-management) doc, "_The Update Management solution requires linking a Log Analytics workspace to your Automation account. For a definitive list of supported regions, see [Azure Workspace mappings](https://docs.microsoft.com/en-us/azure/automation/how-to/region-mappings). The region mappings don't aff

[2020-03-05 05:16] SumanthMarigowda-MSFT commented on #49169
@macambo Just for clarification: Are you geting any error message while importing? If, so can you share me the screenshot of the error message?
Refer to the suggestion mentioned in the [SO ](https://stackoverflow.com/questions/58768443/error-importing-blobserviceclient-from-azure-storage-blob)thread and let me know the status

[2020-03-05 05:26] RohitMungi-MSFT commented on #49414
@irishun Could you please set the voice name using [set_voice_name()](https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-speech/azure.cognitiveservices.speech.speech_py_impl.speechtranslationconfig?view=azure-python#set-voice-name-voice-)

I have tried the same using the rest API [sample ](https://github.com/Azure-Samples/Cognitive-Speech-TTS/blob/master/Samples-Http/Python/TTSSam

[2020-03-05 05:26] dcurwin commented on #48864
The answer above should answer your question, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

#please-close

[2020-03-05 05:26] #48864 closed

[2020-03-05 05:28] SnehaAgrawal-MSFT commented on #49334
@gpj1 Thanks for asking question! The basic difference between appsettings and connectionstrings, In .NET 2.0 and above is a connectionString object is an XML node that has specific attributes to set and semantically it refers to a database connection string where as appSettings is just a user-defined key-value pair that allows you to set your application settings and it can be anything that will

[2020-03-05 05:34] KalyanChanumolu-MSFT commented on #49514
Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-05 05:38] SumanthMarigowda-MSFT commented on #49397
@theheatDK In the Portal, If you select the option SAS under storage account. You have option to Learn more. That article provides complete information on the SAS
![image](https://user-images.githubusercontent.com/44606021/75951191-50809000-5ed1-11ea-85d4-d141fc1a5e3b.png)

In the bottom of the article page it contains all the SAS related reference  articles
Delegate access with a shared access si

[2020-03-05 05:42] markjbrown commented on #49488
Please assign @anfeldma-ms. Andy can you take a look at this and add examples to this doc to show how to configure TTL for Java SDK.

Thanks.

[2020-03-05 05:44] SumanthMarigowda-MSFT commented on #49423
@stdistef Are you referring to Account King FileStorage? Can you point me what exactly are you referring too.

FileStorage  it support only premium
![image](https://user-images.githubusercontent.com/44606021/75951493-28456100-5ed2-11ea-9f71-be2675bed1ef.png)

[2020-03-05 05:53] KumudD commented on #32740
@dcbrown16 The image's transparent background issue has been fixed. Thanks for your patience!

#please-close

[2020-03-05 05:53] #32740 closed

[2020-03-05 05:56] jishansiddique commented on #48641
@HeidiSteen ,
Thanks for the reply.

[2020-03-05 05:57] SumanthMarigowda-MSFT commented on #49449
@OffColour Your feedback has been shared with the content owner for further review.

[2020-03-05 06:07] msrini-MSFT commented on #49326
@prvempat , Please tag me if you have any further questions.

[2020-03-05 06:07] #49326 closed

[2020-03-05 06:10] msrini-MSFT commented on #49517
@brian-untangle , We would need to validate untangle device with various factors like Firmware version, model number etc with different configuration with Azure gateway before publishing the device in the validated list.

@yushwang , Can we get this device validated ?

[2020-03-05 06:11] SumanthMarigowda-MSFT commented on #49481
@OffColour Can you provide detailed information on your query?
Are you facing any issue related to Azure files?

[2020-03-05 06:17] AshokPeddakotla-MSFT commented on #49493
@stokes776 Thanks for confirming.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-05 06:17] #49493 closed

[2020-03-05 06:24] dcbrown16 opened #49525 "Clearer explanation of public endpoint"
There is a procedure for enabling access over the "public endpoint" at this link:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-public-endpoint-configure

By cross-referencing some docs, it appears that this is the same endpoint as the "management endpoint" in the doc I am submitting feedback on. Can this be made clearer in this document? The doc only describes

[2020-03-05 06:25] msrini-MSFT commented on #49444
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/106580

[2020-03-05 06:29] juanand commented on #49143
Thanks Ryan,
The issue is actually how to specify gr-Pod-*.cloudapp.net as a non-FQDN tag, but as target FQDN instead. In my case I am actually simulating a third party NVA firewall with Azure Firewall, so need to avoid FQDN tags and use more classic firewall rules.
The underlying issue is how could I prevent in classic firewall rules that my resources reach something like gr-Prod-thebadguyslivehe

[2020-03-05 06:35] #49444 closed

[2020-03-05 06:37] MMollyy commented on #49441
Ah, i thought opening the Github from the page it's written on would be plenty.
So here goes: https://docs.microsoft.com/en-us/azure/role-based-access-control/deny-assignments

And the additive part came from here:
https://docs.microsoft.com/en-us/azure/role-based-access-control/overview

I'm just curious to hear if this is a bug and I should create a support ticket, or not.
Or perhaps I'm misunde

[2020-03-05 06:39] tham3sayneewong opened #49526 "Inquire | [Cognitive Services] [Computer Vision, OCR] Supported Language, Thai"
Hi Azure Support team,

Could you ensure me whether Thai language is not supported by Computer Vision API, v2.0, OCR service? I could not find such language in the list of availability and in the Query parameter section, although the host was selected to South East Asia. So, my assumption leaded to the language hasn't been supported at the moment. If so, Is there any roadmap or tentative when woul

[2020-03-05 06:50] sven5 commented on #49463
@yoelhor
We're currently using extension attributes and I'd like to know how I can get them when querying users with the new Graph API. Until now, we're using the old Azure AD Graph API for B2C.
Thanks for clarification.

[2020-03-05 06:51] kazshi opened #49527 "Connectivity to volume in a peered VNet between subscriptions"
"'Connectivity to volume in a peered VNet (Same region)' is supported"
Is it supported between subscriptions if the subscriptions are in the same region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31580c1b-34e7-acad-dfed-db47f7dae39f
* Version Independent ID: 8a07d877-784a-3d88-54cd-8cd5341a2859
* Content: [Guideli

[2020-03-05 06:56] KalyanChanumolu-MSFT commented on #49349
@TechWatching Thank you for opening an issue on the Terraform providers repo.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-05 06:56] #49349 closed

[2020-03-05 06:57] ChiragMishra-MSFT commented on #49348
Thanks for that @tom-rb :)

[2020-03-05 07:08] RohitMungi-MSFT commented on #49495
@gdubya According to the reference this configuration is added in SDK 1.8.0. Please take a look at this [page ](https://docs.microsoft.com/en-us/java/api/com.microsoft.cognitiveservices.speech.sourcelanguageconfig?view=azure-java-stable)for more information.

[2020-03-05 07:11] hbiarge commented on #49274
@Karishma-Tiwari-MSFT sure I´ll try to clarify the issue.
1. I´m automating the creation of the aks cluster with terraform. I´m enabling RBAC with AAD and enabling the Containers Monitoring in the cluster.
2. To do so, I need to create the server and the client applications mentioned in this article.
3. If I follow the instructions to prepare the server and client applications everything works wel

[2020-03-05 07:30] deyanp commented on #49482
That such a basic direct query functionality does not work against ADX is very strange, pls note additionally that:
1) Relative date filtering works
2) If I use Sql Azure Database connector with the same ADX instance the greater than filter on Amount works ...

I have the feeling that greater than filter on decimal/number was working last week with a previous version of my pbix file (which started

[2020-03-05 07:34] blyw opened #49528 "Smallest trigger interval"
The CRON expression permits intervals to be set to seconds. The description of the UseMonitor property mentioned " For schedules that trigger more than once per minute...". What is the highest practical trigger frequency? For example, is triggering a timer every 10 seconds feasible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-03-05 07:45] CHEEKATLAPRADEEP-MSFT commented on #49510
@johndelizo To use custom streaming data, make sure Stream Analytics job query outputs results, and you see that your dataset is already created:

![image](https://user-images.githubusercontent.com/44426401/75958728-d78a3400-5ee2-11ea-8ded-477a68838d63.png)

Once the dataset is available you can create "Custom Streaming data" as follows:

![ASA-PowerBI](https://user-images.githubusercontent.com/44

[2020-03-05 07:46] py-wy commented on #49457
Hello Karishma,

I mean by "pushed" continue the example up to active directory server registration, and dns record for the server.
This is some how not strait forward to achieve.

Regards,Pierre-Yves Verdon
    Le mercredi 4 mars 2020 à 21:56:30 UTC+1, Karishma Tiwari - MSFT <notifications@github.com> a écrit :

Can you please elaborate on what you meant by 'pushed the example'?
This would help t

[2020-03-05 07:46] sanderdekoning commented on #49265
I have contacted Azure support for this case, the support request ID is `120022822001337`. I have provided more details there and hope we can resolve this issue soon.

[2020-03-05 07:54] mmanhertz opened #49531 "Timeline for planned support of current / future versions of PostgreSQL (e.g. version 12)"
It would be nice if this page had a timeline with planned support for newer versions of PostgreSQL that are not supported yet, like PostgreSQL 12.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c8d482-9904-74ad-b0ad-5a8fc188510d
* Version Independent ID: be1ac595-a36f-ad23-4507-e4bdcfc5ad33
* Content: [Supported vers

[2020-03-05 08:02] amanmcse commented on #47021
@dinesh71 I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any question.

[2020-03-05 08:02] #47021 closed

[2020-03-05 08:02] g-petre opened #49532 "Update Doc to Include -UsePatchSemantics parameter in "Set-AzResource" Powershell cmdlets for PATCH operations"
Hi all,
When using Set-AzResource without the -UsePatchSemantics parameter (to make this into a PATCH operation), the PUT operation will replace the entire body of the resource and not all properties are settable or are represented differently in GET and PUT operations, which may lead to scenarios like removing an application security group, service endpoint etc from a resource (NIC, VNET etc).
I

[2020-03-05 08:04] gdubya commented on #49495
Ah ok, thanks. I thought 1.7.0 was the latest. The documentation discrepancy is therefore on the "Set up dev platform" page, where the maven dependency snippet still says 1.7.0, however the text above actually says "... with the Speech SDK version _1.9.0_ as a dependency".

[2020-03-05 08:05] gdubya commented on #49495
See https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstarts/setup-platform?tabs=dotnet%2Clinux%2Cjre&pivots=programming-language-java

Should I open a different issue for that page or it be fixed as part of this issue?

[2020-03-05 08:11] DixitArora-MSFT commented on #49528
Hi @blyw Thanks for reaching out. We will review and update as appropriate.

[2020-03-05 08:26] theheatDK commented on #49397
Thanks @SumanthMarigowda-MSFT
I think you misunderstood me. If I look at the page the Portal links to, the 4 pages at the bottom of that page and actually all SAS documentation it is not mentioned anywhere that you can use the Portal to create Account SAS. It is also not mentioned anywhere that you can use the Azure Storage Explorer to create Account and Service SAS.
I think this is a shame since

[2020-03-05 08:28] sven5 commented on #49463
Ok I found the solution. You have to use the beta endpoint, then it's working.

[2020-03-05 08:28] #49463 closed

[2020-03-05 08:29] KosukeHosoda opened #49533 "Effect on existing sessions when changing the NetworkRule/ApplicationRule"
It would be helpful if you could add a description on FAQ page regarding whether existing sessions are affected when changing the NetworkRule/ApplicationRule.

Regarding the result on my lab, I confirmed that existing sessions are not affected when changing the Rule.
In my test,
1) I allowed all the traffic on AzFW
2) I connected from a SSH Client to a SSH Server via AzFW.
3) I created the network

[2020-03-05 08:31] AntonMPetrov commented on #44645
read this: https://www.niallbrady.com/2017/08/23/how-can-i-rdp-to-an-azure-ad-joined-windows-10-device/

and try to use login in that form:
azuread\aaduser@domain.com

[2020-03-05 08:34] giertz commented on #49479
Yes. Thank you.

[2020-03-05 08:34] #49479 closed

[2020-03-05 08:49] SumanthMarigowda-MSFT commented on #49464
@southpolesteve, The document aims at outlining how to enable static website in Azure Storage (via Portal, CLI & PowerShell), and also outlines steps to enable metrics for analysis. Hope this helps!

[2020-03-05 08:54] SumanthMarigowda-MSFT commented on #49443
@s-leonard I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2020-03-05 08:58] gandhirajan commented on #49136
@DashleenBhandari-MSFT  Thanks Dashleen. I have already created a PR for the same. Please have a look - https://github.com/MicrosoftDocs/azure-docs/pull/49137

[2020-03-05 09:05] deyanp commented on #49482
Pls note that I cross-posted to community.powerbi.com (sorry): [link](https://community.powerbi.com/t5/Power-Query/Simple-page-level-filter-on-Amount-greater-than-100-not-working/m-p/959978/highlight/false#M33150)

[2020-03-05 09:16] iceyokuna opened #49534 "Storage limits - The maximum size of storage account"
The maximum storage account size is 500TB or 5PiB
because the other document say that 500 TB, but in this document it say 5Pib Which is 5629.5TB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0aba
* Content: [Azure subscript

[2020-03-05 09:20] pgarm opened #49535 "Update the article for "Not configured" behavior"
Optional conditions (Location, Device Platform, Client App) need an explicit statement on behavior when they are not configured.
E.g. if location is not configured, the policy is applied to all locations (or not?)
I've recently seen the policies not being applied to client access when not including location in conditions, so would be grand to have an explicit statement on how the policy should beh

[2020-03-05 09:26] SunnyXiao opened #49537 "Can't change CDN location"
I can't change the resource group location when i create a new CDN profile with Microsoft CDN,so how to change the CDN location?

![image](https://user-images.githubusercontent.com/18277688/75967167-62c8f100-5f06-11ea-8666-aacb2ca9e858.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb1c7ba-83cb-e32a-85bd-3260bdef

[2020-03-05 09:32] jseerden opened #49538 "Office 365 Business Premium / E3 / E5 MFA for subset of users"
In the "Available versions of Azure Multi-Factor Authentication" section (https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing#available-versions-of-azure-multi-factor-authentication) for Office 365 Business Premium, E3, or E5 is stated that "Azure Multi-Factor Authentication is either enabled or disabled for all users, for all sign-in events. There is no ab

[2020-03-05 09:33] jseerden commented on #49538
![2020-03-05 10_30_12-](https://user-images.githubusercontent.com/20967759/75967872-c0d8e280-5ecc-11ea-83cd-f83a54b33098.png)

[2020-03-05 09:37] karataliu commented on #49448
nothing blocked. just proposed to make the doc experience better

[2020-03-05 09:37] SamirFarhat commented on #49353
Again, it's actually working. Using an Object is supported ans is working. My feedback is the how the portal is not having the same behavior when we use "[parameters('A')]" or "[parameters('B').y]" (Pictures above)

[2020-03-05 09:43] mingcatsandra opened #49539 "UI suggestion to ease frustration and confusion."
I use Authenticator **daily** and I love it, however I had to reset my phone several months ago for reasons I won't go into, and I unknowingly did what I was not supposed to do when recovering your account. I only have discovered this odd loss of data was my own fault **_today_** ..more than 2 months later. **The** reason I downloaded this app was a new combo in my life- no time and extra accounts

[2020-03-05 09:44] victorar commented on #48600
Private Link for customer owned service is GA. The rest of the services (like Storage) are still in Preview. You can see the details here: https://docs.microsoft.com/en-us/azure/private-link/private-link-overview#availability

[2020-03-05 09:45] DashleenBhandari-MSFT commented on #49136
@gandhirajan  Lisa @lisaguthrie will review and update accordingly. I will go ahead and close this issue while she reviews and updates the content.

[2020-03-05 09:45] #49136 closed

[2020-03-05 09:48] RohitMungi-MSFT commented on #49495
@gdubya The dependencies are picked up from the Azure samples repo [here ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/java/jre/from-microphone/pom.xml#L29)and the latest is 1.10.0

This [page ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstarts/setup-platform?tabs=dotnet%2Clinux%2Cjre&pivots=programming-language-java)seem

[2020-03-05 09:51] msrini-MSFT commented on #49537
@SunnyXiao , CDN will automatically take the Location of the Resource Group in which it is deployed. Please deploy it in the Resource Group which has your desired location.

[2020-03-05 09:59] jishansiddique opened #49540 "Getting document count mismatch after successful batches pushed to azure (cognitive-search)"
Getting document count mismatch after successful batches pushed to azure
We tried with batch size `32000` for `392700 unique documents` and all the batches processed successfully. Also, we got success for every individual record in batches from azure. But when we checked on the azure portal then we can see document count differs over there.

[code]

We tried with a few more attempts on the same `I

[2020-03-05 10:04] RohitMungi-MSFT commented on #49498
@BreakingBI The authentication code snippet is pulled from the Azure [python SDK samples code repo](https://github.com/Azure-Samples/cognitive-services-python-sdk-samples/blob/master/samples/language/text_analytics_samples.py#L21) so this should be ideally changed in the SDK samples repo.

@aahill A change in the python SDK samples repo will break the 2.0 samples repo. I think the `key` should be

[2020-03-05 10:15] mrdeveloperdude opened #49541 "How to convert UUID based resource_id to MSAL scope"
After reading the migration guide I still am missing an answer to a very basic question:

What is the proper way to prepare a resource ID on the form XXXXXXXX-XXXX-XXXX-XXXXXXXXXXXX as was used in ADAL to a valid scope for MSAL?

Full details of this question is on stackoverflow:

https://stackoverflow.com/questions/60542791/converting-resource-id-from-adal-to-msal-in-pyhton

---
#### Document Det

[2020-03-05 10:20] slavizh opened #49542 "Buying from CSP is not listed"
Buying from CSP is not listed in billing models.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7451c574-c14d-3163-c964-bf0ec676d67f
* Version Independent ID: 27fce11f-cdbd-7c4f-a550-c7d402165454
* Content: [Optimize your cloud investment with Azure Cost Management](https://docs.microsoft.com/en-us/azure/cost-managemen

[2020-03-05 10:22] cephalin commented on #44097
#please-close as this document is related to Windows app services. For Linux apps also see https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-nodejs

[2020-03-05 10:22] #44097 closed

[2020-03-05 10:22] slavizh opened #49543 "Statement not correct"
There is statement: "The template supports enterprise agreement customers only." This is not true. The budgets API is available for any subscription type as long as cost management is available as service on it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09acb09f-6171-fdd8-a5d4-0d036b467c5a
* Version Independent ID

[2020-03-05 10:26] pgarm opened #49544 "MAM impact on device registration"
A slightly longer explanation on this is needed - currently the observed behavior is user can be assigned the Phone Sign-in policy, use "Enable phone sign-in" in the Authenticator app, not is not presented with "Sign in using phone" on the logon page.
Is this by design, or a temporarily preview limitation?
Is phone sign-in defunct if user is in scope for a MAM policy (any or some specific ones?),

[2020-03-05 10:29] pgarm commented on #47873
Another needed PowerShell option is check whether the user has Authenticator app registered for phone sign-in (if that's possible at all from admin perspective) - would help identify unsuccessful registrations.

[2020-03-05 10:35] irishun commented on #49414
Hi Rohit,
Thank you for your reply.
I cannot use set_voice_name() to set the voice to German,

But if I don't use [Quick Start](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstarts/text-to-speech?tabs=dotnet%2Clinux%2Cjre&pivots=programming-language-python) code and take the code from the [sample you provided](https://github.com/Azure-Samples/Cognitive-Speech-TTS/bl

[2020-03-05 10:38] anwarmahmood1 commented on #30503
This thread was abandoned, not closed.

I have the same question as @joelhazelton, but his question was not addressed.

Sign-in Frequency is not honoured by Outlook and Skype for Business in Office 365 ProPlus, and possibly other apps, too.

I have set the sign-in frequency to 12 hours, but Outlook and Skype for Business do not honour this.

According to...

https://help.duo.com/s/article/5239?lan

[2020-03-05 10:43] dinesh71 commented on #47021
Thanks! @amanmcse

[2020-03-05 10:51] ukez15 commented on #49458
Hi, i'm getting the same error too at the same level.
When will we be getting feedback on the fix?

[2020-03-05 11:02] KalyanChanumolu-MSFT commented on #49320
Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-05 11:05] KalyanChanumolu-MSFT commented on #49531
Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-05 11:06] KalyanChanumolu-MSFT commented on #49525
Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-05 11:07] KalyanChanumolu-MSFT commented on #49522
Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-05 11:20] ukez15 commented on #49458
this issue seems to have been resolved in this link: https://github.com/terraform-providers/terraform-provider-azurerm/issues/5880

[2020-03-05 11:24] ukez15 commented on #49458
solution from terraform pages: https://www.terraform.io/docs/providers/azurerm/index.html

configure the test.tf file to reflect the change below

# Configure the Azure Provider
provider "azurerm" {
  # whilst the `version` attribute is optional, we recommend pinning to a given version of the Provider
  version = "=2.0.0"
  features {}
}

[2020-03-05 11:26] edmund-davis opened #49546 "What is the resiliancy model for Azure AD DS deployments?"
Please can you provide an FAQ response around resiliance in Azure AD DS - how are the domain controllers deployed to provide resiliance in the event of a rack, datacentre or regional failure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ac3ceff-f36d-91b3-c722-a7a280cc17c4
* Version Independent ID: 32420f48-3d50-1e20

[2020-03-05 11:36] shanecribbs opened #49547 "error planning configuration"
An error is happening stating that a required features section is missing.  The configuration needs to begin with:

provider "azurerm" {
  version = "=2.0.0"
  features {}
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa374bd5-931f-a072-aec8-0c65fd28fbe9
* Version Independent ID: 8f6c9d24-9a1c-8e6a-2f77-6c62eafdca43

[2020-03-05 11:39] asergaz commented on #49492
Hi @chmagitt , I want to make sure that you had no errors when running the command `cmake ..` ?

![image](https://user-images.githubusercontent.com/22173500/75978198-ec13ff80-5ed5-11ea-8c12-a72dd3194698.png)

Thanks!

[2020-03-05 11:40] VikasPullagura-MSFT commented on #49497
@TomArcherMsft Linking [similar issue](https://github.com/MicrosoftDocs/azure-docs/issues/49547).

[2020-03-05 11:41] OffColour commented on #49481
Implementing AD authentication to Azure Files through a private link gives Error 86 when using Azure AD synced credentials. Connecting with storage key works fine.

[2020-03-05 11:42] shashishailaj commented on #49535
@pgarm Thank you for your feedback . We will investigate and update the thread further.

[2020-03-05 11:44] shashishailaj commented on #49541
@mrdeveloperdude Thank you for your query. We will investigate and update this further.

[2020-03-05 11:46] shashishailaj commented on #49539
@mingcatsandra Thank you for your suggestion . We appreciate your views and will surely have this idea reviewed with content team .

[2020-03-05 11:47] shashishailaj commented on #49538
@jseerden Thank you for your query. We will investigate and update this thread further.

[2020-03-05 11:49] shashishailaj commented on #49546
@edmund-davis Thank you for your query. We will investigate and update this thread further.

[2020-03-05 11:51] VikasPullagura-MSFT commented on #49547
@shanecribbs Thanks for the Feedback.

Similar issue was reported and doc author has confirmed on the document updation. The document will be updated soon to reflect the changes.

I am closing this issue and you can follow the update on this [here](https://github.com/MicrosoftDocs/azure-docs/issues/49497).

[2020-03-05 11:51] #49547 closed

[2020-03-05 12:01] cephalin commented on #43368
Sorry for the delay. The warning is added now and the docs should be updated within a day. #please-close

[2020-03-05 12:01] #43368 closed

[2020-03-05 12:04] PezCo opened #49548 "No Downtime Trafficmanager -> CDN -> webapp domain set up"
There is a note stating

This is either unclear, missing steps or inaccurate.
Steps i have followed

1. Create web app and verify website is running
2. Create CDN point to web app and verify website runs through CDN url
3. Create Traffic manager and point it too CDN,
     a. this is where things become unclear if i hit the trafficmanager URL now it always returns 404
4. Add CNAME with cdnverify to

[2020-03-05 12:05] swarna-p opened #49549 "Can't open file"
I am getting the following error when I try
sudo python /opt/microsoft/omsconfig/modules/nxOMSAutomationWorker/DSCResources/MSFT_nxOMSAutomationWorkerResource/automationworker/scripts/onboarding.py
--register -w `<LogAnalyticsworkspaceId>` -k `<AutomationSharedKey>` -g `<hybridgroupname>` -e `<automationendpoint>`
(with corresponding values)

python: can't open file '/opt/microsoft/omsconfig/modul

[2020-03-05 12:11] bumbolt commented on #43965
Also stuck on this one.

[code]
Will result in the above mentioned `CoreDNS pod: cannot serve dns://.:53 - it is already defined`

Alternatively

[code]
results in `plugin/forward: this plugin can only be used once per Server Block`

Can someone explain how we should achieve this?

[2020-03-05 12:13] chmagitt commented on #49492
Hello

I clone C SDK again
[cid:image002.png@01D5F2EF.826E9B50]

Then cmake ..

[cid:image006.jpg@01D5F2EF.826E9B50]

Cmake version
[cid:image008.png@01D5F2EF.826E9B50]

I edited the code to add connection string

[cid:image014.png@01D5F2EF.826E9B50]

And tried to build the code

[cid:image015.png@01D5F2EF.826E9B50]

From: António Sérgio Azevedo <notifications@github.com>
Sent: Thursday, March 5,

[2020-03-05 12:23] jjimenezroda opened #49550 "Is this up to date?"
I have the impression this is not up to date. My stream analytics jobs are, sporadically, not receving events from event hubs and I don't reallty know how to troubleshoot this. Service Bus explorer seems to not be available in the provided link...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9c615fe-e407-40a0-5ec5-1

[2020-03-05 12:25] stephen-cairns opened #49551 "Debian 10 Buster"
Can you confirm if there will be further support coming for Linux Debian 10.  At the moment this doc only lists earler versions of Linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 908295a0-ead4-9061-3a60-b0e9883118e4
* Version Independent ID: 7dc47b3c-5643-0b09-41b7-e69852210a1d
* Content: [Enable Azure Monitor for

[2020-03-05 12:31] tom-ditlev opened #49552 "Keep getting "Data source error: The 'budgetAmount' column does not exist in the rowset. Table: Budgets.""
Unfortunately I get this error when trying to connect to our EA.

Something went wrong
There was an error when processing the data in the dataset.
Please try again later or contact support. If you contact support, please provide these details.
Data source error: The 'budgetAmount' column does not exist in the rowset. Table: Budgets.
Cluster URI: WABI-NORTH-EUROPE-redirect.analysis.windows.net
Acti

[2020-03-05 12:31] Digiroka opened #49553 "Re-Run "Join-AzStorageAccountForAuth" Required for Added / Removed users?"
Hello - My issue:
1) I have 2 identical users with identical Azure share and icacls permissions. 'User 2' is newly created.
2) After following the process, User 1 was able to access share via \\file.core.windows.net\ address
3) User 2 received authentication requests and constant 'Error 5 - Access Denied'

This was driving me crazy, eventually I re-ran the "Join-AzStorageAccountForAuth" process, a

[2020-03-05 12:34] msrini-MSFT commented on #49425
@anzaman, Can you please update the doc ?

[2020-03-05 12:35] AmitavaHazra commented on #27982
User is present in workday. Having a P1 Azure tenant we are configuring Workday to on premises AD provisioning. Then how come P1 license comes for every user in place ? Provisioning comes before license. Once user will be in AD then it will go to Azure AD using AAD connect. then based on business need we can apply license. then why we need P1 license for every user ? can anyone please clarify?

[2020-03-05 12:36] SwathiDhanwada-MSFT commented on #49532
@g-petre Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-03-05 12:38] msrini-MSFT commented on #49533
@KosukeHosoda , In your step 3, you mentioned "As a result, I got to be **unable** to do any operations from a SSH Client."

Shouldn't be "As a result, I got to be **able** to do any operations from a SSH Client."

@vhorne , It is expected behavior, can we create a FAQ on this?

[2020-03-05 12:38] OffColour opened #49554 "Private Endpoint?"
Does this work with Private Endpoints?
The cifs entry in the Computer account defaults to the public DNS. Whilst this can be changed to a custom DNS entry that matches the VNET IP address it gives System Error 86 when trying to connect with AD credentials. Connecting via the custom DNS with storage account key workd fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-03-05 12:39] SwathiDhanwada-MSFT commented on #49534
@iceyokunaThanks for your comment. We are actively investigating and will get back to you shortly.

[2020-03-05 12:39] magnusnyborgmoan commented on #46809
Hi!
I'm experiencing the exact same issue as @lexykassan. My connection stopped working today, with the same error message. Has there been opened a question/post on MSDN or Stackoverflow?

Any help is much appreciated.

/Magnus

[2020-03-05 12:40] Maheenmathew commented on #39964
Hi I have a similar issue, I am able to create a White sphere, but it does not change color. I cannot see any Anchors created in Azure portal either. I dont get any errors as well. What exactly does it mean 'When enough frames are collected the Sphere will change color'? Thanks!

[2020-03-05 12:43] AmitavaHazra opened #49555 "Workday to On prem AD user provisioning license"
It is mentioned in MS doc that for workday to AD user provisioning we need to have Azure AD P1 license for all user along with P1 tenant.

User is present in workday. Having a P1 Azure tenant we are configuring Workday to on premises AD provisioning. Then how come P1 license comes for every user in place ? Provisioning comes before license. Once user will be in AD then it will go to Azure AD using

[2020-03-05 12:44] msrini-MSFT commented on #49523
@dcbrown16 , In AppGW V1, you should be able to see the DNS name on the Overview page. For AppGW V2 SKU, you need to click on the Public IP and you can click on the configuration where you get an option to provide a DNS name for the IP. (X.region.cloudapp.azure.com)

[2020-03-05 12:52] pejenarh opened #49556 "Strange Error message when using Azure WebApp VNET Integration"
I am trying to Web App VNET Integration ,but running into a strange error message when trying to tcpping  to a VM in my VNET using its private IP address: "Connection attempt failed: A non-recoverable error occurred during a database lookup".  I have same problem for both Regional VNet Integration & Gateway required VNet Integration. The purpose for the integration is route traffic from WebApp to

[2020-03-05 12:52] stdistef commented on #49423
Hi.  No, i am referring to the table where is says what I quoted.  Near the top.

What yiu shared us correct about Account Kind and I have no issue there.  Premium are built that way, and Standard are built using GPV2 with the option to extend Large files, giving the new 100TiB size capability.

But my point is Azure Files offers standard file shares, which are hosted on hard disk-based (HDD-based

[2020-03-05 13:00] mikaelliljedahl opened #49557 "Access restrictions not working anymore?"
Last week it seems the rules stopped working. We allow traffic only from our own VNET's (still works) and also our office IP, which looks like this:

155.4.x.x/32. (where x are real numbers, just left the numbers out here).

For all our services on all our plans, suddenly, last week we could no longer access any service from the office. For some of the services I was able to make it work by adding

[2020-03-05 13:07] RonaldvanMeer commented on #48029
@IEvangelist can you give any number of days to wait before response after filling in the form?
@ghills do you already have access to the private repository?

9 days ago i requested access did not receive any message (email) about:
- thanks for requesting acccess
- We have seen your request we are working on it
- You have access now

[2020-03-05 13:09] balintbako opened #49558 "CIDR range for Azure Bastion"
Hi,

We have Azure Bastion and Azure Firewall on the VNET that a VM is connected to.
We would prefer keeping the browser based RDP connection (the Bastion) and also use JIT Access.
Which IPs do we need to request the access for to allow Bastion connections?

Regards,
 Balint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-03-05 13:09] crowcoder opened #49559 "Who builds and maintains this connector?"
This connector's interface appears to have changed without notice. The "When a file is created trigger" no longer contains a Content-Type header and no longer contains File Content data. Is this by design or a bug? Who do I ask, Microsoft or Box?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3df6fad6-bcf8-20ab-ba91-55

[2020-03-05 13:18] NavtejSaini-MSFT commented on #49429
@michaelsync We are assigning this issue to author to review.
@GithubMirek Please check the feedback from the user and check if this can be added to the document.

[2020-03-05 13:20] NavtejSaini-MSFT commented on #49377
@code-vega Please let us know if you need any further help with this. If not we will close the thread by EOD.

[2020-03-05 13:26] Raphdeumax commented on #44790
I have the same issue on cis-ws2019-l1 version 1.0.4. No way to remotely activate the winrm using packer. I have to do a command from azure virtual machine or Powershell to activate the Winrm using script. It's a shame that the user_data_file option is not present for Azure ARM.

[2020-03-05 13:53] IEvangelist opened #49560 "Missing dev lang identifiers for gradle"
Please update all the code fence blocks to include the correct language identifier of `gradle`, this will greatly improve the customer experience to see syntax highlighting in all the code examples.

Feel free to reach out to me directly with questions, MS alias: dapine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9

[2020-03-05 13:53] FreBon opened #49561 "Not working for the new developer portal"
I have configured this and got it to work in the old developer portal (legacy). But when using the new portal there is no drop to select authentication type. Is there any updated documentation how to get this to work in the new developer portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa82acc4-680a-1431-f4fc-484

[2020-03-05 13:53] hrafnkel opened #49562 "Misleading information"
"In contrast to queues, in which each message is processed by a single consumer ..." is not strictly true. The solution architecture can have multiple consumers accessing the data in PEEK mode and some later action performing the DELETE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97523a2e-acab-748f-5530-ded63b6eb6b

[2020-03-05 14:05] karthick3d commented on #49552
I do get the below error
Something went wrong
There was an error when processing the data in the dataset.
Please try again later or contact support. If you contact support, please provide these details.
Data source error: The 'budgetAmount' column does not exist in the rowset. Table: Budgets.
Cluster URI: WABI-EUROPE-NORTH-B-redirect.analysis.windows.net
Activity ID: e0db3c27-70a9-442d-86b3-cb3fd4

[2020-03-05 14:12] macambo commented on #49169
I cannot recreate the issue because everything appears to be working now. Thank you for looking into it. You can close the issue.

[2020-03-05 14:12] #49169 closed

[2020-03-05 14:13] jakaruna-MSFT commented on #49079
@skynetrulz i will check this issue and update you

[2020-03-05 14:14] pradeepbafna opened #49563 "Oauth app gives invalid resource while other tenant users authorise using my app"
Hi Team,

I Create oauth app with basic required scopes of shrepoint subscription and file related concept.

A user from other tenant and with non microsoft domain email id is unable to authorise on my oauth app. User is getting error "Invalid resource. The client has requested access to a resource which is not listed in the requested permissions in the client application registration". Can you he

[2020-03-05 14:15] CharmanderJieniJieni commented on #49512
I doubt on that, service principal names(SPN) are used by Kerberos authentication to associate a service instance with a service logon account. This is from the link. From my understanding it is totally on-prem thing. I am asking this question because someone with on-prem background asked me that. They are new to Azure but already have the word SPN in mind.

[2020-03-05 14:17] balintbako commented on #49451
@SamaraSoucy-MSFT thanks, that is sufficient

[2020-03-05 14:17] #49451 closed

[2020-03-05 14:24] Mriccio commented on #49507
@SaurabhSharma-MSFT Sorry! Still new to how this works. This was the Microsoft Document that I was referencing:
https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-scaling-script

[2020-03-05 14:39] shawndewet commented on #36001
@jwisener please could you create a blog post or something to share how you figured this out?  I have a single repo that contains a web app (deployed to azure app service), and a number of azure function projects.  I just have no clue as to how to configure this for CI/CD.

[2020-03-05 14:44] dgrittma commented on #41902
Should these settings work if you deploy your dotnetcore application as a self-contained app?

[2020-03-05 14:46] andrewfabrizi commented on #49561
I'm experiencing the same thing.

[2020-03-05 14:49] mphoboon opened #49564 "Need more detail"
We just found a similar problem in our production system. It looks like this only works with delta tables. We have complex queries: mix of delta and parquet tables, with views created on top plus dataframes read from csv. Will this works on such queries? We want to tell if it works with large amount of data *before* the fix is deployed. Can we tell from the execution plan?

---
#### Document Detai

[2020-03-05 14:53] GabrielOrAnder opened #49565 "Add mappings to copy activity using SDK."
It's is possible to add mappings to a copy activity using SDK?

On portal, whe are abble to add mappings between source and sink datasets, like bellow:

[code]
How can i do this using SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ebc0c44-b401-1f1f-2ed5-7928918e49b4
* Version Independent ID: 52517770-de52-18b3-7b

[2020-03-05 14:56] jethrovaneetvelde commented on #46527
Maybe I misunderstand but how do we have to report then? I added the resource in the ARM. The ps script show it seems ok but I can't see anything in the report.

[2020-03-05 14:56] LANSoftwareentwicklung commented on #49245
We are experiencing the same issue.

[2020-03-05 14:57] jethrovaneetvelde commented on #48959
It seems it indeed had to do with the marketplace enrollment. It seems like I don't completely understand how it actually works. After some trying around I got the option to add tracking guids.