[2019-02-12 18:01] PixelStroke opened #24807 "Vulnerability issue"
Was following these steps and came across a severe vulnerability in the current documentations packages (package.json) passport-azure-ad@3.0.8. Wanted to give a quick resolution if anyone else is using these docs.

It's easily resolved by updating the passport azure ad module to the current latest version within your package.json:
passport-azure-ad (current latest 4.0.0)

Also restify@1.6.0 is dep

[2019-02-12 18:02] jeffgilb commented on #23016
#sign-off

[2019-02-12 18:03] VanMSFT commented on #24775
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/66219
Please assign to me and close. Thanks!
#please-close

[2019-02-12 18:04] Mike-Ubezzi-MSFT commented on #24775
@kswider Thank you for the detailed feedback. The steps are a bit vague but  in step 1 it states:

When the database was first set-up, an SQL Server Administrative login was established. Additionally, if you created a contained database administrator based upon an Azure Active Directory user, you can use this login identity. So, step #1 implies that you are using either of these administrative ide

[2019-02-12 18:05] YutongTie-MSFT commented on #24800
@jberezanski-mdg Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@aashishb Hi, I couldn't find anything in our document about the configuration, is there any other reference we are using or can we add more details about it? Thank you!

[2019-02-12 18:07] jeffgilb commented on #21966
Updated content and changes should go live later today.

[2019-02-12 18:07] jeffgilb commented on #21966
#please-close

[2019-02-12 18:08] YutongTie-MSFT commented on #24494
@erhopf Hi, please tell me if you need any help! Thanks!

[2019-02-12 18:08] jeffgilb commented on #23016
Content updated to correct file names and will be published today.

[2019-02-12 18:08] jeffgilb commented on #23016
#please-close

[2019-02-12 18:09] erhopf commented on #24494
@YutongTie-MSFT - There are additional edits being made to improve the document. We will update you when it's complete.

[2019-02-12 18:09] jeffgilb commented on #23134
This change was made by the current article author.

[2019-02-12 18:09] jeffgilb commented on #23134
#please-close

[2019-02-12 18:10] YutongTie-MSFT commented on #24494
@erhopf Thanks, I will assign this issue to you ^^

[2019-02-12 18:10] tfitzmac commented on #14323
@MGoedtel - can you find out from this team if new swagger files are missing? Perhaps, they have changed the location of the files. I don't see any versions beyond 2015-11-01-preview in the azure-rest-api-specs repo.

[2019-02-12 18:11] YutongTie-MSFT commented on #24629
@dcbrown16 Hi, does Dina's response solve your problem?

[2019-02-12 18:16] MarileeTurscak-MSFT commented on #24591
@KrKandula I do not have the proper environment to reproduce this issue so I have escalated to the product team for confirmation of your scenario.

[2019-02-12 18:16] Mike-Ubezzi-MSFT commented on #24786
@RudyCo Thank you for the detailed question. I am investigating and will get back to you with an update.

Reference: [Microsoft.IdentityModel.Clients.ActiveDirectory](https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/)

[2019-02-12 18:20] BharathNimmala-MSFT commented on #24764
@lukdlu Thank you for the feedback and reopening the issue ! We will further investigate this issue and get back to you.

[2019-02-12 18:22] BharathNimmala-MSFT commented on #24768
@lukdlu Thank you for the feedback and reopening the issue. We will further investigate this issue and get back to you.

[2019-02-12 18:25] MarileeTurscak-MSFT commented on #24673
Hi @Siddhukanap ,

The error means that there is a mismatch between the tenant where your app is registered and where you have stated in either the application code or the portal that your application is registered. In your code for the application you need to set the tenant ID. This is generally located in either the web.config or the app settings. Then you need to register the application in the

[2019-02-12 18:25] Mike-Ubezzi-MSFT commented on #24801
@5mdd Thank you for bringing this to our attention. Are you trying to call a store procedure from another database? Stored procedures are per database (or container). In cases where the collections are partitioned within the database, you must use a partition key:

I suspect it is a partition key issue. Please investigate and let me know if that is not the case.

[2019-02-12 18:25] MarileeTurscak-MSFT commented on #24673
We will now proceed to close this thread. If you have further questions please feel free to reach out to us on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-12 18:25] #24673 closed

[2019-02-12 18:27] #23016 closed

[2019-02-12 18:27] BharathNimmala-MSFT commented on #24769
@imeya Thank you for your question. We will investigate this issue and get back to you at the earliest.

[2019-02-12 18:31] MicahMcKittrick-MSFT commented on #24782
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 18:31] BharathNimmala-MSFT commented on #24779
@serkanyazicioglu Thank you for your question. We will investigate this issue and get back to you at the earliest.

[2019-02-12 18:32] MGoedtel commented on #23239
@ghoelzer-rht - If I remember correctly, PerGB2018 isn't an option available with our internal subscriptions.  This isn't a doc issue so I'm requesting this issue is #please-close.

[2019-02-12 18:34] RavennMSFT commented on #24788
This is applicable to Azure Ad registered devices as well, but not for Hybrid Azure AD joined devices

[2019-02-12 18:35] MicahMcKittrick-MSFT commented on #24803
@jeetgarg For this size family, the vCPU (core) quota in your subscription is initially set to 0 in each region. This is the same for every user in Azure. In order to use these sizes, you need to request a vCPU quota increase for this family in an available region.

You can do that here: https://docs.microsoft.com/en-us/azure/azure-supportability/resource-manager-core-quotas-request

[2019-02-12 18:35] #24803 closed

[2019-02-12 18:38] jeetgarg commented on #24803
That is my question Micah, why is it so?
Because using ASR, I got this assigned as the VM size and that means either I go and change the size or raise a request to increase the quota.
Both of the options require more efforts so I am wondering why is it so that it is set to zero?

[2019-02-12 18:38] MicahMcKittrick-MSFT commented on #24738
@artisticcheese we appreaciate the feedback. As you mentioned, this is not possible via API call at this time. We do list the supported sizes here though:

https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#supported-vm-instances

For this feedback you can leave it directly to the PowerShell team

https://github.com/Azure/azure-powershell

[2019-02-12 18:38] #24738 closed

[2019-02-12 18:40] MarileeTurscak-MSFT commented on #24715
Hi @gate502 , unfortunately that is what it means. MFA is no longer available as a standalone service. Per the licensing agreement, in order to apply MFA to your users the users should have the P1 license.

[2019-02-12 18:40] MarileeTurscak-MSFT commented on #24715
Hope this helps and sorry that it is no longer standalone! We will now proceed to close this thread.

[2019-02-12 18:40] #24715 closed

[2019-02-12 18:41] ggailey777 commented on #24268
@dhmorrison  your suggestion is very correct and we are in the process of reworking the Functions quickstarts to add Storage bindings to be more realistic.

@ScottyMac52 if you are creating C# Functions in.Visual Studio, we have an article for [working with Visual Studio tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs). I think it’s easier to use VS than Core Too

[2019-02-12 18:41] MicahMcKittrick-MSFT commented on #24780
@oleksandr-bilyk if you do not specify to use AV Zones then the default behavior would be to use placement groups.

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-use-availability-zones#placement-groups

As per the number of zones, if a zone is setup for AV zones yes, each zone will have 3 zones. This is because in order to meet the calculations for Hi

[2019-02-12 18:43] MicahMcKittrick-MSFT commented on #24782
@oleksandr-bilyk please see my response to #24780

As per a load balancers, they are not tied to a zone. They simply direct traffic to VMs. So it doesn't matter to the LB if you are using AV zones or placement groups or AV Sets. The traffic is routed the same regardless.

[2019-02-12 18:43] #24782 closed

[2019-02-12 18:44] MicahMcKittrick-MSFT commented on #24784
@emilkontract good point. I will assign to the content author to review.

[2019-02-12 18:44] zhusulai opened #24808 "Is it possible to remove the AzureRM modules after upgrading to Az module?"
Is it possible to remove AzureRM modules after upgrading to Az module?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 284c2dfa-cfa0-11a3-c082-2bd14e4fbd63
* Version Independent ID: 84e724d8-aae8-942f-87ed-0e726f2155f8
* Content: [Using Az modules in Azure Automation](https://docs.microsoft.com/en-ca/azure/automation/az

[2019-02-12 18:47] MicahMcKittrick-MSFT commented on #24803
These VMs are in high demand and have less availability than the general use VM sizes. They are also more expensive. So we set them to 0 to avoid overuse by people who may not need the size. We do the same thing for the N Series VMs (GPU Enabled). Hence, we require users to submit a core increase and provide a business justification for using them. I can understand it is annoying to have to reques

[2019-02-12 18:48] MicahMcKittrick-MSFT commented on #23408
@dragav any luck on this? Seems we have multiple users who get the same issue with this doc

[2019-02-12 18:48] tfitzmac commented on #24651
Update has been published.
#please-close

[2019-02-12 18:48] jeetgarg commented on #24803
Thanks Micah for this information.

[2019-02-12 18:49] tfitzmac commented on #24498
Update has been published.
#please-close

[2019-02-12 18:51] MicahMcKittrick-MSFT commented on #24713
@1trevor not all work spaces require an automation account. So it is likely the ones you are choosing do not require it hence it is not prompting you for it.

Did you follow this section to link the workspace?

https://docs.microsoft.com/en-us/azure/azure-monitor/insights/solutions#create-a-link-between-a-log-analytics-workspace-and-automation-account

[2019-02-12 18:53] Mike-Ubezzi-MSFT commented on #24761
@omer-iqbal We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-12 18:53] #24761 closed

[2019-02-12 18:54] sweetcaoz commented on #22223
I am following this as well, We just have the same problem with a Salesforce Production is not taking custom Profiles however this is working on Salesforce  Sandbox. Is there any update on this? our Salesforce Provisioning is stuck

[2019-02-12 18:54] ghoelzer-rht commented on #23239
Closing issue, as MS internal subscriptions don't have access to referenced Azure SKU.

[2019-02-12 18:54] #23239 closed

[2019-02-12 18:54] MicahMcKittrick-MSFT commented on #24714
@sharonlo101 could you comment further on this ask?

[2019-02-12 18:55] MicahMcKittrick-MSFT commented on #24727
@cherylmc as discussed with @sfiguemsft offline, I will assign this to you for further followup.

[2019-02-12 18:56] MarkusVi commented on #24550
Hi @AlekseySokol, your best bet is probably to open a ticket for further investigation.
If you look at your error message, you find: **Device state: Unregistered**

This doesn't seem to be a CA policy issue. So far, the policy seems to work fine.
The questions is more why the device that is according to your comment hybrid Azure AD joined considered to be unregistered...

[2019-02-12 18:56] MGoedtel commented on #19262
@CHDAFNI-MSFT - I've investigated further and determined that based on the checks it performs that are not general to AD but also the config of the DCs supporting the domain(s) in the Forst, you should install the agent on each DC  - for things like DNS config, FRS replication, core AD or dependent services are running, avail space for SYSVOL partition, etc.  I will bug the article and see when I

[2019-02-12 18:57] YutongTie-MSFT commented on #24806
@v-kydela Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@diberry Hi Dina, this is a existing issue, could you please check it again and update the document accordingly? Thanks a lot!

[2019-02-12 19:02] Karishma-Tiwari-MSFT commented on #24185
@MSSedusch @msjuergent @cynthn Would any of you be able to help answer this customer's question or direct it to the right person. Thanks :)

[2019-02-12 19:05] MarkusVi commented on #24550
Hi @AlekseySokol, what was it that made you believe that the device is hybrid Azure AD joined?

[2019-02-12 19:05] MarkAtAgilliance opened #24811 "Scale compute property may have incorrect JSON?"
small nit - should the
    "requestedServiceObjectiveName": DW1000
in the example have quotes on the value?  i.e.
    "requestedServiceObjectiveName": "DW1000"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95eb3903-d171-d3c9-180e-a49e14522f27
* Version Independent ID: 44cece14-8e57-4d3b-6e5c-2a8ffe719be5
* Content: [P

[2019-02-12 19:05] CHDAFNI-MSFT commented on #19262
Thank you for investigating this. You may close this request assuming you have what you need to move forward with article updates.

-------
(internal only) If I helped you, please take this 1-minute survey – https://aka.ms/chdafni-feedback

Chase Dafnis

Sr. Premier Field Engineer
US Public Sector
Microsoft Corporation

Office: 646.225.4724
Chase.Dafnis@microsoft.com<mailto:Chase.Dafnis@microsoft.

[2019-02-12 19:05] MarileeTurscak-MSFT commented on #24719
Closing this out as there's no information in this post. Feel free to post a more detailed question on MSDN https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-12 19:05] #24719 closed

[2019-02-12 19:09] SaurabhSharma-MSFT commented on #24687
@cwe1ss I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I can help you getting answered.

[2019-02-12 19:09] MarkusVi commented on #24788
Hi @KasJensen, I will add a clarification to the article.

#please-close

[2019-02-12 19:10] bureado commented on #24741
This is related to the `azure-cli` version. It seems that the RP doesn't like older CLI versions, particularly before [this breaking change](https://github.com/Azure/azure-cli/pull/5475).

As a result, I've suggested a [minor edit to docs](https://github.com/MicrosoftDocs/azure-docs/pull/24812). @iainfoulds

[2019-02-12 19:10] #24741 closed

[2019-02-12 19:11] Karishma-Tiwari-MSFT commented on #24636
@davidsandbrand Thanks for the detailed explanation on this.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-12 19:11] msmimart commented on #23939
@realgregoryk Thanks so much for pointing this out. I've submitted a fix for this that will be published today. #please-close

[2019-02-12 19:17] kobulloc-MSFT commented on #24768
Link to the original issue:
https://github.com/MicrosoftDocs/azure-docs/issues/24557

@lukdlu Sorry for the confusion!  Inactive issues make it difficult for us to track what is being worked on so we close them if there is no response, but that doesn't mean the conversation has to be over.  Tag the person you were working with in your reply and we'll reopen the issue so we can pick it up again rig

[2019-02-12 19:17] SaurabhSharma-MSFT commented on #24766
@mumoryan  Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-12 19:18] MarileeTurscak-MSFT commented on #24728
@Wicaeed I have assigned this issue to the content author, @cmmdesai , to look into. Feel free to make a pull request to the doc if you would prefer.

[2019-02-12 19:18] SaurabhSharma-MSFT commented on #24770
@jflieben  Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-12 19:19] kobulloc-MSFT commented on #24764
Link to the original issue:
https://github.com/MicrosoftDocs/azure-docs/issues/24558

@lukdlu Sorry for the confusion!  Inactive issues make it difficult for us to track what is being worked on so we close them if there is no response, but that doesn't mean the conversation has to be over.  Tag the person you were working with in your reply and we'll reopen the issue so we can pick it up again rig

[2019-02-12 19:20] SaurabhSharma-MSFT commented on #24772
@navilwayne Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-12 19:21] markjbrown commented on #23875
The confusion was from people querying the data and getting missing results before the index had caught up.

If it works for you now that is fine. We are not going to remove the functionality.

[2019-02-12 19:22] SaurabhSharma-MSFT commented on #24781
@blacktee Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-12 19:23] femsulu commented on #24771
@marcelloformica Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-12 19:26] artisticcheese commented on #24738
There is `NO` list of supported sizes. There is a guidance which word `most` inside it. There is no API or any other sort of call which will return a list of supported VMs with that feature.
This still a defect and not powershell relevant
[code]

[2019-02-12 19:29] femsulu commented on #24785
@jzuchora87 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-12 19:29] zr-msft commented on #19086
@MicahMcKittrick-MSFT I've fixed this in a PR which should be merged shortly. Closing

cc @cynthn

[2019-02-12 19:30] marktab commented on #23894
@aquibqureshi26  you are correct:  I did not author the document, but "transfer" is the correct term from the Az-copy documentation

[2019-02-12 19:30] zr-msft commented on #24193
@MicahMcKittrick-MSFT @Karishma-Tiwari-MSFT I've addressed this in a PR that should be merged shortly. Can you please close this?

[2019-02-12 19:30] zr-msft commented on #24288
@MicahMcKittrick-MSFT @Karishma-Tiwari-MSFT I've addressed this in a PR that should be merged shortly. Can you please close this?

[2019-02-12 19:30] zr-msft commented on #19369
@MicahMcKittrick-MSFT @Karishma-Tiwari-MSFT I've addressed this in a PR that should be merged shortly. Can you please close this?

[2019-02-12 19:31] zr-msft commented on #24295
@MicahMcKittrick-MSFT @Karishma-Tiwari-MSFT I've addressed this in a PR that should be merged shortly. Can you please close this?

[2019-02-12 19:31] StevenBorg opened #24813 "Jupyter Hub returns 500 error after successful login"
The DLVM/DSVM templates often break, so you can't get easy access to Jupyter Lab. It's hit or miss, with a 500 error being returned after a successful login most of the time I create a new DLVM/DSVM.  Please provide a workaround in the docs.  Something like the following.

1) Go to https://{your_ip}:8000. If you got in, GREAT!  It worked for you!  If not, follow the steps below
2) Go to the Azure

[2019-02-12 19:33] MicahMcKittrick-MSFT commented on #24738
@artisticcheese I understand it's not percise. And again, you are right there is no API call to get the information. So the most we are able to share is

Accelerated Networking is supported on most general purpose and compute-optimized instance sizes with **2 or more vCPUs**.
These supported series are: **D/DSv2 and F/Fs**

On instances that support hyperthreading, Accelerated Networking is suppor

[2019-02-12 19:34] SaurabhSharma-MSFT commented on #24783
@BekaDee Sorry for your inconvenience, however, if you are using ios device then you can use backup and recover option to recover the account credentials.

[2019-02-12 19:34] #19086 closed

[2019-02-12 19:34] #24193 closed

[2019-02-12 19:34] #24288 closed

[2019-02-12 19:34] artisticcheese commented on #24738
The feedback you mentioned is for azure-powershell. Would not this shall transcend just powershell and this shall be feedback for API instead?

[2019-02-12 19:34] #19369 closed

[2019-02-12 19:34] #24295 closed

[2019-02-12 19:36] SaurabhSharma-MSFT commented on #24788
@KasJensen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-12 19:36] #24788 closed

[2019-02-12 19:37] SaurabhSharma-MSFT commented on #24804
@slaFFik  Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-12 19:39] eross-msft commented on #24783
@SaurabhSharma-MSFT  Unfortunately, this is a product design issue and not a documentation issue. Please unassign me from this issue. I believe the forum will be more helpful in this situation.

[2019-02-12 19:39] SaurabhSharma-MSFT commented on #24807
@PixelStroke Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-12 19:40] SaurabhSharma-MSFT commented on #24387
@stanley70 Glad to hear that your problem is resolved. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-12 19:40] #24387 closed

[2019-02-12 19:42] mike-urnun-msft commented on #24409
@swt2c Glad to hear that you located a solution and are unblocked. Thank you for sharing as well! Surely, this will benefit others visiting this thread!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-12 19:42] #24409 closed

[2019-02-12 19:46] marktab commented on #23894
@aquibqureshi26 and now I don't like "transfer" which might not have the same soft connotation that it does in English -- "copy" is the best term

[2019-02-12 19:47] MicahMcKittrick-MSFT commented on #24738
You could also give feedback here

https://feedback.azure.com/forums/281804-azure-resource-manager
https://feedback.azure.com/forums/216843-virtual-machines

But I think the powershell would be the most relevant as it uses the underlying APIs to make the call and the title of your post is to get that info added into the Get-AzureRMVMsize

[2019-02-12 19:47] CelesteDG commented on #24804
Thank you for your feedback, @slaFFik - At this time, the only additional info I was able to find is that it maps out to an invalid authentication service request. I'll add that info to the description column, but no other additional info for now.

[2019-02-12 19:50] CelesteDG commented on #22906
Updated info was published 10 days ago.
#please-close

[2019-02-12 19:52] 1biz commented on #24789
@YutongTie-MSFT @wolfma61 yes I think so, thanks a lot!

[2019-02-12 19:58] MicahMcKittrick-MSFT commented on #24765
@nageshajab is that the full error you are seeing?

I ran through this and when connecting to the cluster I get the following:

[code]

Which seems to be a cert issue

[2019-02-12 19:59] CelesteDG commented on #23632
Hello @mjoensson - Thank you for your patience. I checked with our PMs and confirmed that we don't support dynamic app registration per the OIDC spec. Our multi-tenant model enables you to register an app once and then we provision it for you across multiple tenants. We reviewed the referenced topic and confirmed that it doesn't suggest that we support OIDC provisioning, only user provisioning so

[2019-02-12 20:00] CelesteDG commented on #23632
Confirmed with PMs that existing content is correct and added additional info as part of this thread. No doc update needed.

#please-close

[2019-02-12 20:11] cynthn commented on #24185
@wmgries Will, do you know who might be able to help with this question?

[2019-02-12 20:12] richprze opened #24814 "Deploying to azure?"
When are you adding the tutorial on deploying to Azure?

In the meantime, is this how you would deploy?
1) Deploy the build folder of the react app as a static web app (per https://medium.com/@to_pe/deploying-create-react-app-on-microsoft-azure-c0f6686a4321). In this case using local git in the build folder only (as an example).
2) Deploy the express app as a separate web app. So at this point you

[2019-02-12 20:13] iainfoulds commented on #24741
Discussed offline with @bureado. For tracking, this doc is being updated as part of https://github.com/MicrosoftDocs/azure-docs-pr/pull/66242

[2019-02-12 20:14] chetansriv commented on #10122
@nzaetta tutorial is updated and we have provided the guidance to add the role.

[2019-02-12 20:14] chetansriv commented on #10122
#please-close

[2019-02-12 20:19] diberry commented on #23980
@paulio Thank you for your feedback. We have a feature on the roadmap that will support multiple variations of a code block such as bash, cmd. I'm add this to the backlog waiting for that feature. #please-close

[2019-02-12 20:23] marktab commented on #23894
@YutongTie-MSFT  changes made to repo, ticket may be closed

[2019-02-12 20:23] gopitk commented on #24813
Thanks for the feedback and sorry about the issue you are facing @StevenBorg . How often have you seen this issue and is it consistent on your DSVM instance? The jupyterhub log file (/var/log/jupyterhub.log) will give some indication what may be going on. Are you seeing any errors in the Jupyterhub logs? You can also try to stop and restart the jupyterhub service with ```sudo systemctl stop jupyte

[2019-02-12 20:24] diberry commented on #23912
I'm adding this to my backlog. #please-close

[2019-02-12 20:25] woodyard opened #24815 "App Passwords option not available"
The App Passwords option is not available, even though it is allowed in the MFA portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a2cfbe
* Content: [How to manage app passwords in Azure Active Directory](https://docs.micro

[2019-02-12 20:27] raluca256 commented on #23134
Thank you! Sorry for the delay.

[2019-02-12 20:27] #23134 closed

[2019-02-12 20:30] KingdomOfEnds commented on #24033
Thanks @rezasherafat - I've tested this via the great Ubuntu VM service in Azure. I was able to connect through SSH but still encountered the critical exception in .NET. I appreciate your feedback!

[2019-02-12 20:31] chetansriv commented on #15287
@ermacia91 We have updated the article to include both the Identifier formats. Please review

[2019-02-12 20:31] chetansriv commented on #15287
#please-close

[2019-02-12 20:31] RicksterCDN commented on #24185
this is best answered by @msjuergent and his team - they are the original author of the document and handle SAP configurations on Azure.

[2019-02-12 20:32] BekaDee commented on #24783
I use Android...

[2019-02-12 20:32] chetansriv commented on #18274
@martin-displayr We have updated the article to include both formats of Identifier. Please review

[2019-02-12 20:32] chetansriv commented on #18274
#please-close

[2019-02-12 20:35] cbrooksmsft commented on #22467
Hello @OffColour ...
there is not a narrow range of addresses for storage accounts,  The best approach is to use a firewall that allows rules based on DNS name (dynamically looking up associated ip address.  A storage account can move between clusters in and it's IP address can change.

We do publish this source for the broad set of IP addresses uses by services in azure:
https://www.microsoft.com

[2019-02-12 20:41] StingyJack opened #24818 "Per the applicationinsights.config file, the "other properties" are supposed to be documented here"
But I dont see them.

Where can I find the allowable and default values for the SnapshotCollectorTelemetryProcessor?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af126ce9-b961-fd20-e4f2-0c17e43e8423
* Version Independent ID: 7b5d06b9-67bc-4861-2f76-5e62cfa5cf11
* Content: [Azure Application Insights Snapshot Debugger

[2019-02-12 20:47] StingyJack commented on #24818
I was able to get the defaults by reading through the SnapshotCollectorConfiguration

[2019-02-12 20:49] BryanTrach-MSFT commented on #24773
@jjgriff93 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-12 20:51] BryanTrach-MSFT commented on #24758
@MedAnd Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-12 20:52] MGoedtel commented on #14323
@tfitzmac - Yes, I'll ping them now and get back to you.

[2019-02-12 20:52] BryanTrach-MSFT commented on #24777
@kogesaka Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 20:58] vainolo commented on #24805
Thanks @karlkuhnhausen . I'm in the process of updating the linked document with a web page that will document also Event Hubs and Log Analytics.

[2019-02-12 20:58] BryanTrach-MSFT commented on #24802
@GeekTrainer Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-12 20:59] gridpatrik opened #24820 "Version of Azure Stack module for 1901 missing"
This page is missing instructions for which PowerShell version to use with 1901 which the following page contains:
https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-powershell-install#4-connected-install-powershell-for-azure-stack-with-internet-connectivity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be

[2019-02-12 21:11] rezasherafat commented on #24033
@KingdomOfEnds, can you copy paste the full exception here? your window is partially blocking it in the screenshot.

[2019-02-12 21:14] mike-urnun-msft commented on #24759
Hi @dhmorrison Sorry to hear about the inconvenience, and thank you for your feedback.

After completion of a successful deployment/publishing, the steps in [Test your function in Azure](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-your-first-function-visual-studio#test-your-function-in-azure) section should have communicated the way you can test and call your function.

[2019-02-12 21:15] navyasric commented on #24591
@KrKandula In ADAL.js, after login by default the library redirects to the start page of the application(which is the default redirect URL). If the application wants to redirect back to the page where login was clicked, you can set the flag navigateToLoginRequestUrl to false during configuration.
You should also remember to register the redirect URLs in the app registration.

This was introduced i

[2019-02-12 21:15] Mike-Ubezzi-MSFT commented on #24767
@briansboyd Thank you for the detailed feedback. I have assigned to the content owner to evaluate and update as appropriate.

[2019-02-12 21:16] martin-displayr commented on #18274
@chetansriv

Thanks for making the change. I think it is a bit confusing though.

It says:

So it says use the follow pattern, followed by 2 different patterns.

Is there a situation where it is appropriate to use the non https:// version? Because without the https:// it didn't work for me?

[2019-02-12 21:16] chetansriv commented on #19432
@fam-man we are updating the article to make it clear

[2019-02-12 21:17] chetansriv commented on #21654
@OffColour Article is updated as suggested, please review

[2019-02-12 21:18] chetansriv commented on #21654
#please-close

[2019-02-12 21:18] chetansriv commented on #22184
@webstaff Article is updated, please review

[2019-02-12 21:18] chetansriv commented on #22184
#please-close

[2019-02-12 21:19] chetansriv commented on #23111
@ihloff Article is updated to make the content more clear, please review

[2019-02-12 21:19] chetansriv commented on #23111
#please-close

[2019-02-12 21:20] chetansriv commented on #23572
@vinnielima Article is updated as per the suggestion, please review

[2019-02-12 21:21] chetansriv commented on #23572
#please-close

[2019-02-12 21:24] MarileeTurscak-MSFT commented on #24591
Thanks for this explanation, @navyasric !

@KrKandula we will now proceed to close this thread. Please refer to the steps above for your application.  If you have further questions feel free to reach out on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-12 21:24] #24591 closed

[2019-02-12 21:24] KingdomOfEnds commented on #24033
@rezasherafat - Sure, my apologies about that. I've also removed the instances so any configuration details displayed are not in use:

![csharp ssh and rdp preview - ubuntu vm 18 04 ssh](https://user-images.githubusercontent.com/43044425/52668833-781d4880-2ec9-11e9-8fd8-ff44f263f706.png)

[2019-02-12 21:27] chetansriv commented on #18274
@martin-displayr We can't remove that pattern as we are not sure if there are customers that might be using that pattern. Customers are allowed to enter any of these values that work for them. Hope this helps.

[2019-02-12 21:29] chetansriv commented on #23989
@balktl We have checked with Concur team and this is what they say - "We have yet to release the Self Service SAML SSO.  So, we're not quite sure what the original message is referring to??  Currently, a ticket is created and a work order is assigned to a Concur Tech resource that helps config the SSO.

Do you have more info regarding client name and contact information?"

Could you please provide

[2019-02-12 21:32] SaurabhSharma-MSFT commented on #24722
@Infintism Access tokens contains the claims which is used to validate the request.  Please refer to [Azure Active Directory access tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens).  Also, please refer to [Azure Active Directory v2.0 and the OAuth 2.0 client credentials flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-cred

[2019-02-12 21:33] martin-displayr commented on #18274
@chetansriv - I don't think it matters if customers are using that pattern. You need to figure out which pattern always works and give that as the instructions.

The problem for the user setting this up is you don't find out it is not working until you get the weirdest error message from Microsoft. And as a experienced developer I am happy to start debugging and looking at network traffic etc. to

[2019-02-12 21:35] kswider commented on #24775
I think I didn't make it clear to understand. The steps looks like this:
1. I log in as Server Admin.
2. I create user in master database using CREATE USER statement.
3. I add dbmanager role to this user.
After these steps when I log in as newly created user and i can't create any database.

When I follow these steps:
1. I log in as Server Admin.
2. I create login using CREATE LOGIN statement.
3.

[2019-02-12 21:48] Karishma-Tiwari-MSFT commented on #24693
@skybear2014 Looks like this doc got updated with the information a day ago. Here it is:

![image](https://user-images.githubusercontent.com/20851144/52669852-0db9d780-2ecc-11e9-8be8-7c4cbedb19ae.png)

[2019-02-12 21:50] balktl commented on #23989
So we went through a different process that what was documented when we worked with a resource at Concur. Maybe they are selectively putting new consumers on it… but basically we were told not to follow the instructions provided here.

From: Chetan <notifications@github.com>
Sent: Tuesday, February 12, 2019 3:30 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Balk, Tim L <BalkT

[2019-02-12 21:52] StevenBorg commented on #24813
Gopi,

I created 4 different instances from the Azure Portal yesterday and today. Each day was consistent – successful login to Jupyter but Error 500 when I get there. (I can tell it’s successful since when I mess up the password it won’t let me through to the 500 error.)

I’ve also tried several times over the past 2 years, with varying success.  Usually the Jupyter notebook requires some love to

[2019-02-12 21:52] jeevansd commented on #23989
@balktl We are working with Concur team to align this message. I hope in the future you no customer will have this issue.

[2019-02-12 21:53] skybear2014 commented on #24693
Thanks a lot!

[2019-02-12 21:57] veyalla commented on #23256
@edrickwong Can you clarify what steps are outdated in this doc? There might be other ways to deploy a VM with Edge pre-provisioned, but information here is still valid.

[2019-02-12 21:58] chetansriv commented on #18274
@martin-displayr Ok, makes sense - will update it again to make it more clear

[2019-02-12 21:59] StevenBorg commented on #24813
Also, I should mention I spun up 3 different Ubuntu images…

A special one with a configuration for Fast.ai – from a github repo
That one may have been version bound to an old version, so I went to the portal to build out latest versions
DLVM on Ubuntu
DSVM on Ubuntu

Then another DLVM on Ubuntu where I went in a fixed everything to make it work, so I could post the ticket.

:-)

Steve

From: Stev

[2019-02-12 22:03] juhaluoto commented on #24720
I did a total reset and started all over from scratch (deleted all form the resource group etc) and now everything works. Now, I have no good idea, where this error could have originated. If nobody else is seen this, then we can close this and I will reopen this, if I see this again.

[2019-02-12 22:05] jagjitraja opened #24821 "Duplicated list menu items"
List menu duplicates its self when you open and close the drop down lists

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 914de10e-eaf5-d7b5-09be-c6d7b32408b2
* Version Independent ID: 5d35c099-0f3c-667e-3a43-66f2cf513461
* Content: [Smart Detection in Azure Application Insights](https://docs.microsoft.com/en-ca/azure/a

[2019-02-12 22:06] jagjitraja commented on #24821
![image](https://user-images.githubusercontent.com/22244462/52671233-5b840f00-2ecf-11e9-8aab-cae4ef871264.png)

[2019-02-12 22:10] codeputer opened #24822 "New Alerts from these charts are not working"
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-monitor-tune-overview#monitor-databases-using-the-azure-portal , and from Azure Monitoring, these metrics are NOT available.  The only way I got it to work, was to use Alerts Classic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aa5ecfe-e37e-999a-df1d-

[2019-02-12 22:12] sergaz-msft commented on #24358
Hello @TwoPatient , can you let us know which documentation are you following and seeing the issue reported?

Fyi: x.509 + DPS on Edge is not supported yet - [see here](https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/35408254-c-azure-iot-edge-auto-provision-with-device-provi).

Thanks!

[2019-02-12 22:14] gopitk commented on #24813
I just tried to create from the FastAI  template (which did have the previous issue from Sept 2018 resolved) and I am unable to simulate the issue. When you get a chance please share error messages from jupyterhub.log when you tried to login and tghe output from the image version command I pasted above ?

[2019-02-12 22:21] Karishma-Tiwari-MSFT commented on #24693
@skybear2014 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-12 22:21] #24693 closed

[2019-02-12 22:23] StevenBorg commented on #24813
Will do!  Heading in now.  Just recreated a DLVM straight from the portal and running into the same issue.

I’ll get you the results of the commands in a few!

From: Gopi Kumar <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Tuesday, February 12, 2019 at 2:14 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Steven Borg <steve@theborg.

[2019-02-12 22:28] 5mdd commented on #24801
Thanks @Mike-Ubezzi-MSFT for your swift answer!
1. I am not trying to call a stored procedure (SP) from another database nor collection/container
2. What I did is creating the SP with the python SDK following: [https://github.com/MicrosoftDocs/azure-docs/blob/2e5a6b48a7f28cb809479028b40b8a8f0222a8d0/articles/cosmos-db/how-to-use-stored-procedures-triggers-udfs.md](https://github.com/MicrosoftDocs/

[2019-02-12 22:31] richyla commented on #24191
Yes sounds like the same issue.  Neither Azure AD user token or Kubernetes service account token can access dashboard with correct permissions as per their cluster role binding.  The only way to remove warnings is to create binding for the default kubernetes-dashboard svc account.

[2019-02-12 22:32] Mike-Ubezzi-MSFT commented on #24822
@codeputer Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-02-12 22:32] cherylmc commented on #24727
Already updated yesterday, per separate conversation with Sergio. #please-close

[2019-02-12 22:35] #24727 closed

[2019-02-12 22:37] SaurabhSharma-MSFT commented on #24772
@navilwayne The reply URL that is registered for Azure AD B2C in your Azure AD tenant should be configured as below:
- If you're using the your-tenant-name.b2clogin.com domain with Azure AD B2C (recommended), then the reply URL must be set to:
https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp

- If you're using the login.microsoftonline.com domain with Azure AD

[2019-02-12 22:43] StevenBorg commented on #24813
See below for errors and logs.  Looks like MAYBE the problem is that I’m using an upper case character in my user name???  Testing now.

Here’s a quick demo of creating the DLVM (while I get to the scripts below)

After building, I go to https://myDNS.westus2.cloudapp.azure.com:8000 and go through the warnings. Finally clicking the Proceed link…

Which brings me to the login page:

Entering a bad

[2019-02-12 22:48] MarileeTurscak-MSFT commented on #24815
Hi @woodyard , what do you mean when you say that it isn't available?

[2019-02-12 22:48] cynthn commented on #13567
@gmoed thank you for the feedback! Sorry this took so long for me to get around to testing and adding. It should be in the docs live sometime tomorrow. Thanks again!

@MicahMcKittrick-MSFT this is now in the doc and I've added in a note about which version of PowerShell it was tested with. PR is 66266. #please-close

[2019-02-12 22:49] #13567 closed

[2019-02-12 22:55] kobulloc-MSFT commented on #24818
@StingyJack Thank you for reaching out to us!  If you have any follow up questions about the documentation, please tag me in your reply and we'll be happy to continue this conversation.

[2019-02-12 22:55] #24818 closed

[2019-02-12 22:57] MartinJaffer-MSFT commented on #24805
@karlkuhnhausen Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2019-02-12 22:58] gopitk commented on #24813
Thanks @StevenBorg .  Check with our dev and it seems to be an issue in Jupyterhub. Somehow it expects local accounts to be lower cased. Sorry for the trouble. We will look at updating the doc. Can you create another account on the box with lower cased userid? Yes. Kinda weird :(

[2019-02-12 22:59] StevenBorg commented on #24813
﻿BOOM!  Lower case user ID works like a charm! 

No wonder it was sporadic for me! Sometimes I’d use lower case and others I’d use upper case.  Grrr…

:-)

Steve

From: Gopi Kumar <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Tuesday, February 12, 2019 at 2:58 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Steven Borg <steve@thebo

[2019-02-12 23:00] StevenBorg commented on #24813
Use LOWER CASE ONLY for user names and all is well!

[2019-02-12 23:02] Anand-Moghe commented on #24651
👍

[2019-02-12 23:02] #24651 closed

[2019-02-12 23:03] YutongTie-MSFT commented on #23894
@aquibqureshi26 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-12 23:03] #23894 closed

[2019-02-12 23:04] CelesteDG commented on #24466
@rohancragg and @neeleshray - Thank you both very much for the feedback. I had updated the paragraph to the following to leave room for any future roles that may get added that also have permissions to create/manage app registrations (rather than calling out specific roles).

![image](https://user-images.githubusercontent.com/16906646/52674114-79ee0880-2ed7-11e9-970d-2e4f4026f496.png)

[2019-02-12 23:06] StevenBorg commented on #24813
Gopi!

No way!  You’re also the approver for the pull request I just sent in to update Keras to include a reference to Microsoft Cognitive Toolkit! 

Weird…. Very small world.

😃

Steve

From: Gopi Kumar <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Tuesday, February 12, 2019 at 2:58 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc:

[2019-02-12 23:06] 1trevor commented on #24713
I did follow those instructions, but none of the solutions I chose prompted for an automation account. After adding 5-10 different solutions that I don't need, eventually one prompted for an automation account. I believe it was Update Management.
I'm all set now, although there should be an easier or clearer way to do this.

[2019-02-12 23:06] #24713 closed

[2019-02-12 23:17] CelesteDG commented on #24352
Thank you very much for the feedback, @drsand - I've updated the topic and the fix should go live tomorrow. Thank you.

[2019-02-12 23:21] smidley opened #24823 "Permissions"
Is there a reason why this requires so many permissions?  I wouldn't think the app would need to "Access all content in the org", and "Receive all events from the org in real time".  This is keeping me from deploying this way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c4f20d7-4ee7-f646-a027-1b14a8101bb7
* Version

[2019-02-12 23:22] Mike-Ubezzi-MSFT commented on #24814
@richprze Thank you for your interest in Azure cloud services. Just to clarify your question, are you asking for this scenario to be added as a tutorial, in the form of written documentation, that is part of the MicrosoftDocs repository? You have the ability to contribute and can submit this content to the repository. Please see the following: [Microsoft Docs contributor guide overview](https://do

[2019-02-12 23:27] dcbrown16 commented on #22906
Awesome, thanks!

[2019-02-12 23:27] #22906 closed

[2019-02-12 23:28] cynthn commented on #13631
@HarshSingh1986 Sorry, this fell through the cracks. Are you still having issues with data disks or do you still have questions?

[2019-02-12 23:29] Mike-Ubezzi-MSFT commented on #24811
@MarkAtAgilliance Thank you for taking the time to detail such a small change. It appears the content owner has caught this and has already made a change:

[Scale compute](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-manage-compute-rest-api#scale-compute)

    "properties": {
        "requestedServiceObjectiveName": **DW1000**
    }
}

[2019-02-12 23:31] cynthn commented on #13776
@louisjvn thanks for the feedback! The article has been updated a few times since you submitted this issue. Are you still having trouble creating the VMs in the availability set?

[2019-02-12 23:32] mike-urnun-msft commented on #24312
@xiacijie Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-02-12 23:33] BharathNimmala-MSFT commented on #24821
@jagjitraja Thank you for your feedback. We will investigate this issue and get back to you at the earliest.

[2019-02-12 23:33] YutongTie-MSFT commented on #24408
@reewajc Hi, could you please provide more details about this issue, like your code sample..? Thank you.

[2019-02-12 23:33] CelesteDG commented on #22906
@dcbrown16 - Forgot to hit comment earlier. Thank you very much for your feedback and for helping us improve our docs.

[2019-02-12 23:34] YutongTie-MSFT commented on #24789
@1biz Thank you for confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-12 23:34] #24789 closed

[2019-02-12 23:42] sdgilley commented on #24662
Thanks for the suggestion, I see what you mean.  However, we have a standard table of contents to make it easier to find content from one product to another.

You'll find that many introductory articles link back to the Tutorials as Next Steps as we don't assume you've read all the articles prior to the one you're looking at.

[2019-02-12 23:48] sergaz-msft commented on #24444
Hello @naznaaa as this is not related with a doc under docs.microsoft.com we kindly ask you to file an issue on the repository mentioned by @AshokPeddakotla-MSFT - https://github.com/espressif/esp-azure/issues

Thank you!

[2019-02-12 23:48] sergaz-msft commented on #24444
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @AshokPeddakotla-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-12 23:48] #24444 closed

[2019-02-12 23:50] MicahMcKittrick-MSFT commented on #13958
Thank you all for the discussion on this. We have continued to discuss this internally and at this time do not plan on updating the doc with any additional steps. @szarkos last response is precise and a good comment to close on. This issue will remain on the doc and if other users continue to comment on this we can always reopen the discussion.

[2019-02-12 23:50] #13958 closed

[2019-02-12 23:56] sergaz-msft commented on #24524
Hello @mschuman is the line 22 that you are seeing the error the same as the one here: https://github.com/Azure-Samples/azure-iot-samples-node/blob/master/iot-hub/Quickstarts/simulated-device/SimulatedDevice.js ?

1) Did you do npm install while at the folder "iot-hub\Quickstarts\simulated-device "?
2) Is your node version v4.x.x or later? Please double check you have [met all prerequisites](https

[2019-02-12 23:59] cynthn commented on #14163
@mayanknayar Can some of this go in the updated FAQ you are working on?

[2019-02-13 00:31] BharathNimmala-MSFT commented on #24821
@jagjitraja We don't see this happening on our end at this point of time either with Edge/Chrome. Could you please recheck and confirm if you are still seeing this issue or was it in a intermittent glitch. Please share your outcome. Thanks for your time on this.

[2019-02-13 00:43] cynthn commented on #14252
@kazshi thanks for the feedback. The screenshots were updated today. I'll close this issue now. Please feel free to reopen it if this doesn't fix your issue.

#please-close

[2019-02-13 00:43] cijothomas commented on #24496
@mrbullwinkle We also need to mention why would one pick SDK at build time vs use extension. one of the use case is to do any additional tracking/configs. And another is to pick latest SDK. (esp.beta versions) Extension will likely have the latest stable only.

[2019-02-13 00:44] cynthn commented on #15037
#please-close

[2019-02-13 00:52] MarileeTurscak-MSFT commented on #24815
Is it greyed out?

[2019-02-13 00:52] sajithvasu commented on #5989
any idea whether this issue got resolved? I am seeing same issue when enabling firewall rule for selected network along with allowing azure trusted service to access.

[2019-02-13 01:13] xyh1 commented on #22111
Yes, they are interchangeable here but I will edit the article to be consistent.

#please-close

[2019-02-13 01:17] mattreatMSFT commented on #5989
@sajithvasu the behavior is not yet supported, but is something that we're working on. We'll update the documentation when available.

[2019-02-13 01:28] #10122 closed

[2019-02-13 01:28] #13430 closed

[2019-02-13 01:28] #14252 closed

[2019-02-13 01:29] #15692 closed

[2019-02-13 01:29] #18274 closed

[2019-02-13 01:30] #21654 closed

[2019-02-13 01:30] #21966 closed

[2019-02-13 01:30] #22184 closed

[2019-02-13 01:30] #23111 closed

[2019-02-13 01:30] #23572 closed

[2019-02-13 01:30] #23632 closed

[2019-02-13 01:31] #23912 closed

[2019-02-13 01:31] #23939 closed

[2019-02-13 01:31] #24028 closed

[2019-02-13 01:31] #24103 closed

[2019-02-13 01:31] #24498 closed

[2019-02-13 01:31] #24499 closed

[2019-02-13 01:46] mhoeger commented on #18697
@ggailey777 and @craigshoemaker - any update on these docs?

[2019-02-13 01:46] StingyJack commented on #24103
@MicahMcKittrick-MSFT - kindly relax with the #please-close aggression. That's twice in a day or two you have closed an item less than 24h after the last comment.

[2019-02-13 01:59] nzaetta commented on #10122
@chetansriv The workaround is ok, though I see passing my users complete list of group memberships as a risk (ie its not just the zoom groups, its every group the user is in).

And, that being the solution, the appRoles should not be available in the manifest or the application user/group interface. they do not stick, they do not map to the user created roles, and are misleading.

[2019-02-13 02:26] colinweiner opened #24826 "broken link"
Provisioning link in https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview#configuration goes nowhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6dc2e62e8e
* Content: [Azure virtual

[2019-02-13 02:35] dcbrown16 commented on #5380
@cephalin is this information ever going to be added to the docs? The work item seems to have been abandoned 11 months ago but we continue to receive support requests asking for the details of the logging mechanisms which should be detailed in this doc.
Some change that was made in the metadata made it so that this feedback isn't even visible on the page any more for those who might try looking th

[2019-02-13 02:45] mike-urnun-msft commented on #24723
@taromielnaz Just following up here -- please provide more info on your scenario, otherwise, we'll proceed to close this issue.

[2019-02-13 02:47] mike-urnun-msft commented on #24721
@mas-dse-juremigi Could you point out to one (or all) of the Stackoverflow posts that discuss this issue pls? We'd like to include them as part of our review :)

[2019-02-13 03:01] nabhishek commented on #21401
@ckarras We have added a more real-world template in ADF. https://docs.microsoft.com/azure/data-factory/solution-template-databricks-notebook
The intention of this tutorial was to keep it really simple, aka 'Hello World' tutorial.

[2019-02-13 03:17] tastyeggs commented on #24612
@suhuruli this was on first run. The container wouldn't come online until I increased disk space to 150G.

[2019-02-13 03:34] HeidiSteen commented on #24758
@MedAnd, thanks for the heads up on the typo -- I agree the phrasing is out of order and i'll fix that in a new PR. Regarding your question, if you don't select Searchable, the fields use less storage, but not as much as you might think.  Filterable, sortable, facetable terms are stored verbatim.  I did some comparison tests recently using the built-in sample dataset, creating different indexes fo

[2019-02-13 03:36] HeidiSteen commented on #24773
@jjgriff93 I agree, and I'm sorry you had to hunt around for this info.  I'll update the docs in a new PR.

[2019-02-13 03:42] PramodValavala-MSFT commented on #24823
@smidley I believe the reason for such a broad permission scope is because of the different types of [actions and triggers](https://docs.microsoft.com/en-us/connectors/slack/) available which are expected to work for any channel in an org.

But I do understand the concern. There is an [enhancement request](https://feedback.azure.com/forums/287593-logic-apps/suggestions/20435227-narrow-the-scope-of

[2019-02-13 03:50] amang2205 opened #24829 "The SpeechTransalationConfig should be used"
I'm not sure how exactly to get to the quick start Program.cs file as a 404 is returned. Nonetheless, there is an error in this code and the SpeechConfig static should be replaced with a SpeechTransaltionConfig class instead (on line fourteen).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4d2f9fb-82de-491d-02cb-2746

[2019-02-13 03:59] nageshajab commented on #24765
I get exactly same error. How can we fix this?

Regards
Nagesh

On Wed, 13 Feb 2019, 01:29 Micah <notifications@github.com wrote:

[2019-02-13 04:00] PramodValavala-MSFT commented on #24433
@Anand-Moghe Sorry for the long silence but I was able to gather some insights on this. The different domains/ports can be categorized into the following -

1. **ServiceBus URIs** – used for all query communication between the Gateway service running on your machine and the cloud service.
2. **Login URIs** – so the app can sign in
3. **Management URIs** (registration)
4. **Telemetry URIs**

I hope

[2019-02-13 04:04] ManojReddy-MSFT commented on #24648
@RonStack Thanks for the feedback. If you have the certificates with the same CN then changing -match to -eq will not make a difference, as both commands return multiple certs. Can you elaborate a little bit more regarding your suggestion ?

[2019-02-13 04:11] femsulu commented on #24808
AFAIK, this is possible. "How-to" steps documented [here](https://docs.microsoft.com/en-us/powershell/azure/uninstall-az-ps?view=azps-1.3.0#uninstall-the-azurerm-module).

![image](https://user-images.githubusercontent.com/34327711/52686385-42e11c80-2f02-11e9-81c7-05c8a33d4953.png)

[2019-02-13 04:12] femsulu commented on #24808
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-13 04:12] #24808 closed

[2019-02-13 04:13] dcbrown16 commented on #13860
All of the feedback on the diagnostics logging doc got orphaned by some metadata change and is probably not being reviewed any more. That doc is sorely out of date but closing this for now.

[2019-02-13 04:13] #13860 closed

[2019-02-13 04:17] dcbrown16 commented on #13194
Thanks @cynthn, the original support request was resolved as "we don't know" but I'm sure it will come up again so any info would be appreciated.

[2019-02-13 04:25] georgewallace commented on #24503
@MicahMcKittrick-MSFT Thanks for the feedback.. I have a workitem to get this added in our troubleshooting docs.. once I get the update in I will submit a PR to close this issue.. Thanks for reporting this missing info in our docs.

[2019-02-13 04:26] cecilphillip opened #24830 "CosmosDB document client bindings"
In addition to binding to DocumentClient, it's also possible to bind to IDocumentClient which makes it easier to test.  We should make sure to outline all the acceptable bindings for using the client with the Cosmos binding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5bcb79-2af8-3b0e-c78c-0c89a2535e15
* Version I

[2019-02-13 04:27] CHEEKATLAPRADEEP-MSFT commented on #24682
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-13 04:27] #24682 closed

[2019-02-13 04:31] georgewallace commented on #24712
@1trevor Thanks for the feedback.. We should clarify this as if you don't already have a linked account, you can specify the one you want to use when installing the hybrid worker.. There is a 1 to 1 relationship between Automation Account and Log Analytics workspace.. I will create a workitem to get this updated in the doc to be more clear..

[2019-02-13 04:31] soonwong opened #24831 "WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT preview only? Any ETA for GA?"
Hi team,

I'm needing to use this in a production environment to prevent flooding of a third party service downstream... with that in mind, can I confirm:
* Is there any intention to deprecate this flag and/or no longer support it? (please say no).  And,
* Is there an ETA for when WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT will become generally available?

Regards,
Soon

---
#### Document Details

[2019-02-13 04:35] CHEEKATLAPRADEEP-MSFT commented on #24547
@philipverlinden We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-13 04:35] #24547 closed

[2019-02-13 04:35] mayanknayar commented on #13194
For the who wins question, you can't have the same VM in an AVSet and also in a VMSS. The creation and management of Standalone/AvSet VMs is different from that of VMSS instances and the two are not changeable.

For VMSS specifically, the default FD count is 5. You can change it to 1, 2 or 3 from the default of 5. The UD count is 5 and is not changeable. And you can't move an instance from one FD

[2019-02-13 04:36] CHEEKATLAPRADEEP-MSFT commented on #24373
@nageshsubramanian We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-13 04:36] #24373 closed

[2019-02-13 04:44] cephalin commented on #24103
@StingyJack Sorry did not mean to come across as insensitive with the #please-close. As for WebJobs, as a matter of investment our resources are devoted mostly to Functions now and WebJobs is getting minimal treatment in our docs, and that decision likely won't change, unfortunately.

There's a bit of mention of how you should set up your project structure for webjobs here, with a link out to Kudu

[2019-02-13 04:44] shashishailaj commented on #22700
@kacperryniec I will be updating this thread by EOD today after testing as I have taken this over from Saurabh. Thanks.

[2019-02-13 05:04] georgewallace commented on #24688
@jzuchora87 Thanks for reaching out.  At this time the cmdlets only can use a PAT.

[2019-02-13 05:05] CHEEKATLAPRADEEP-MSFT commented on #24686
@DineshPriyankara Make sure to assign your application to the **Blob Storage Contributor Role**.

Please make sure your account has this role assigned and try again.

Hope this helps.

[2019-02-13 05:06] YASWANTHM-MSFT commented on #24481
@jochenvanwylick, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-02-13 05:18] RohitMungi-MSFT commented on #24829
@amang2205 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-13 05:42] nkumars opened #24834 "FB login error"
After following all the steps listed, I get "Not Logged In: You are not logged in.Please login and try again."

Are you missing anything forgot to update, please clarify.

![image](https://user-images.githubusercontent.com/7982858/52689555-97c37800-2f80-11e9-968d-cb87d00c343c.png)

Regards,
Naveen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-02-13 05:49] Anmolgan81 commented on #24796
The customer is not using TDE certificates here he is using key to encrypt the database.

Regards
Anmol Ganju

________________________________
From: Alice Kupcik <notifications@github.com>
Sent: Tuesday, February 12, 2019 10:56:37 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Author
Subject: Re: [MicrosoftDocs/azure-docs] How to Restore On-Premise Encrypted Backups to Azure Managed Instance? (

[2019-02-13 05:53] SubhashVasarapu-MSFT commented on #24826
@colinweiner Thanks for your feedback. We are looking into this issue and will update the doc as soon as possible.

[2019-02-13 05:57] kazshi opened #24835 "content needs to be updated"
1) The current content including the screenshots need to be updated (as described in the following article).
Announcing the New App Service Diagnostics Experience | Azure App Service and Functions team Blog
https://blogs.msdn.microsoft.com/appserviceteam/2018/09/24/announcing-the-new-app-service-diagnostics-experience/

2) Please provide description for each item (Requests and Errors, App Performa

[2019-02-13 06:00] nkumars opened #24836 "FB login error"
After following all the steps listed, I get "Not Logged In: You are not logged in.Please login and try again."

Are you missing anything forgot to update, please clarify.

![image](https://user-images.githubusercontent.com/7982858/52689555-97c37800-2f80-11e9-968d-cb87d00c343c.png)

Regards,
Naveen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-02-13 06:02] nkumars commented on #24836
Duplicate issues, hence closing

[2019-02-13 06:02] #24836 closed

[2019-02-13 06:06] Teeina opened #24837 "[Question] Is it possible to use IoT Edge with other IoT hubs rather than the one from Azure?"
Hi. Inside your guide, the prerequisite is to have a IoT Hub subscription available. However, since IoT Edge is an open source project, I'm wondering if i can use it without the help of other Azure products, simply like replacing the IoT Hub with other open source products that has the same function? Is that possible?

Thanks.
Teeina

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-02-13 06:12] angoyal-msft commented on #22911
@hope4555 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-13 06:12] #22911 closed

[2019-02-13 06:20] hope4555 commented on #22911
? closing ? why? mstf still working on it

[2019-02-13 06:29] Mike-Ubezzi-MSFT commented on #22911
@hope4555 This issue needs to go to support. The product team is awaiting additional details on how you are consuming the API and, although addition information was requested, no response was received. This being a documentation channel, support is the appropriate channel to handle product issues. We requested your Azure Subscription ID to enable a free support request for this specific issue, was

[2019-02-13 06:31] bramvdklinkenberg opened #24839 "Does this work for existing clusters as well?"
Does this work for existing clusters as well? Does it need version 1.12.4? Do we need to add/enable an extra addon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ac2648-7dce-c83c-0b14-79d5b091b1af
* Version Independent ID: 6aa0b306-6926-87cc-9b59-496ac91dfba6
* Content: [Secure pods with network policies in Azure Ku

[2019-02-13 06:33] ChiragMishra-MSFT commented on #24645
@ravikiran-srini  I will now proceed to close this issue. Please feel free to comment and tag me for any more queries.

[2019-02-13 06:34] ChiragMishra-MSFT commented on #24660
@nss12 I will now proceed to close this issue. Please feel free to comment and tag me for any more queries.

[2019-02-13 06:34] #24660 closed

[2019-02-13 06:37] imeya opened #24840 "how to use the $filter in the API Explorer site?"
In the [API Explorer site](https://dev.applicationinsights.io/reference/get-events), I want to apply $filter with some conditions, like customDimensions/["user name"] eq 'iv123', but no data is returned. screenshot as below:

![filter1](https://user-images.githubusercontent.com/25738099/52691810-044c7000-2f9d-11e9-8414-01d6e95cb714.JPG)

I also tried to specify the timestamp, but still no results

[2019-02-13 06:39] MadhavaGgit commented on #15225
@RRWin: I'm facing the same issue. I'm the owner in both ADF V2 level and I'm unable to share Oracle IR.  Any solution?

Thanks..

[2019-02-13 06:40] TianyiLu commented on #24489
Meet the same error in Win 10, net core 2,2, python 3.6 environment! Need help!

[2019-02-13 06:41] Mike-Ubezzi-MSFT commented on #22911
Perfect, thank you for this. Please update this issue with any resultion or root cause details. Although in a closed state, the dialoge can continue, as the resolution information is very helpful to others experiencing the same issue.

[2019-02-13 06:41] SeaDude commented on #21449
@sergaz-msft how is the `path` api issue coming along? Its nearly mid-Feb and we've been patiently awaiting a fix.
Thank you

[2019-02-13 06:51] AmanGarg-MSFT commented on #24840
@imeya Thank you for the question! We are investigating this and will get back to you shortly.

[2019-02-13 06:56] SumanthMarigowda-MSFT commented on #22467
@OffColour We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-13 06:56] #22467 closed

[2019-02-13 07:04] woodyard commented on #24815
It is not greyed out, the option is not being displayed next the “additional security info” text.

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: 13. februar 2019 01:52
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Henrik Skovgaard <hnrk@skvgrd.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] App Passwords option not available (#2

[2019-02-13 07:04] angoyal-msft commented on #23948
@Ayanmullick we are checking internally with product group, will update you soon.

[2019-02-13 07:11] scovetta opened #24841 "Ubuntu 14.04 requires libunwind8 to be pre-installed"
When trying the `wget...` instructions for Ubuntu, my 14.04 install failed with:
[code]

Installing via `sudo apt-get install libunwind8` fixed this. Unwind was mentioned in the Red Hat section, but it looks like it's needed on Ubuntu as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e224df65-311e-166c-caff-918f4

[2019-02-13 07:13] pranabdas457 opened #24842 "Not able to publish the code into azure."
I have implemented cognitive services in my web api(Dotnet framework). But while building the code I am getting compilation error like " Cognitive Services Speech SDK doesn't support AnyCpu".
I have changed the "AnyCpu" mode to x64. But still i am getting the error.

Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-02-13 07:21] SwiftOnSecurity opened #24843 "Broken link: https://aka.ms/setupsecurityinfo"
This is a broken link:
https://aka.ms/setupsecurityinfo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ad4424-8d90-7947-2f95-aec67acfec45
* Version Independent ID: 0ebfde0e-5597-fed9-f87c-761fd778fb25
* Content: [Converged registration for Azure AD SSPR and MFA (public preview)](https://docs.microsoft.com/en-us/azure

[2019-02-13 07:25] KrishnaG-MSFT commented on #24594
@asuresh4 AFAIK I don't think currently we have any Azure Monitor API to get Node, Controller, Containers stats. I can only see UI way of it i.e., by checking Insights tile under the AKS.
@MGoedtel Any insights on this please ?

[2019-02-13 07:27] ArthurDumas opened #24844 "need more docs on B2C v2 page layout customizations (company logo)"
The v2 page layouts look much better than v1 and look almost usable without getting into custom HTML/CSS.
How do you update the logo that the templates represent as the 3d box?
The rendered page references image https://xxxxxxx.b2clogin.com/static/tenant/templates/images/logo.svg but I don't know where to change that image. There are image customizations on the AD page (not AD B2C) but making chan

[2019-02-13 07:41] kirantsp commented on #24474
Hello Micha,

Thank you for providing the links...I have started going through them and did the below...

1) Took a new VM and did everything from scratch again...Before doing a "chef gem install knife-azure" (& after installing check workstation), i ran the "knife azure image list" to check if there is another version of knife-azure already installed by workstation...But the command returned a re

[2019-02-13 07:50] anantshankar17 commented on #24612
Hi @tastyeggs, can you please exec into your container and do a "df -h" and share the output ? I suspect this could be the docker overlay which is eating up the space on one of your impacted machines.
So even if the docker setting allows you to set the max disk space to 150G for the docker overlay, that doesnt mean it has 150G free disk space available on the disk.
The docker setting have a docker

[2019-02-13 07:53] kazshi commented on #24555
@femsulu @MGoedtel  I found that it's not possible to implement for the scenario today. I provided the link to my customer.  Thanks.

More scheduling options for alert triggering – Customer Feedback for Microsoft Azure
https://feedback.azure.com/forums/267889-log-analytics/suggestions/11020161-more-scheduling-options-for-alert-triggering

[2019-02-13 07:55] AjayKumar-MSFT commented on #24835
@kazshi, Thanks for the feedback! I have assigned the issue to the content author (@Jen7714) to review further and update the document as appropriate.

[2019-02-13 08:04] dcbrown16 commented on #24629
#24709 seems to be basically a duplicate of this one. I'm admittedly not an expert, but how can there be an API that purports to be part of QnA Maker that is not part of the documented REST API?

[2019-02-13 08:23] KetanChawda-MSFT commented on #24831
@soonwong Thank you for posting your question. We will review this and provide an update as appropriate.

[2019-02-13 08:23] briansboyd commented on #24767
Thanks Mike for the quick response! Will I be notified when this has been updated? Much appreciated, Brian

[2019-02-13 08:31] StingyJack commented on #24103
I don't mind your using the hashtag, or that the docs won't be updated. Hopefully the idea i was trying to convey will be remembered the next time someone is considering fluff vs useful to an example script. The only thing I mind was the no comment, interjected closure.

We are also moving to functions, but the existing web jobs need to be maintained until that happens. I was able to put together

[2019-02-13 08:32] RRWin commented on #15225
@MadhavaGgit : In my experience, I had to get Admin permissions assigned to me to be able to even view the shared IR. If that isn't a possibility in your case, I would suggest doing this together with someone who has Admin access to your Azure subscription. Hope this helps!

[2019-02-13 08:32] YASWANTHM-MSFT commented on #24841
@scovetta, Thanks for the valuable feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-13 08:41] KetanChawda-MSFT commented on #24674
@mcurko I have assigned this to content author to review and provide an update.

[2019-02-13 08:47] imeya opened #24845 "How to write the response body to telemetry in .net framework 4.5?"
In my custom TelemetryInitializer, I get the context via code "var context = HttpContext.Current;". But for getting the response body, the context.Response.OutputStream is readonly, so I cannot read it and add it to application insights by using requestTelemetry.Properties.Add().

is there any way to log the response body to application insights(.net framework 4.5)?

---
#### Document Details

⚠ *

[2019-02-13 08:48] pabbap commented on #23875
Thank you, that's a relief.
However, i feel there must be a mention of Lazy mode in this document also highlighting the confusion you mentioned.
Why to hide a supported feature?

[2019-02-13 08:51] MadhavaGgit commented on #15225
Thanks for your reply @RRwin. Its really helped to me to go further.

[2019-02-13 08:54] bingzhangdai commented on #10953
+1 waiting for the docs

[2019-02-13 08:58] jjgriff93 commented on #24773
Thanks Heidi

[2019-02-13 09:01] angoyal-msft commented on #24822
@danimir could you please help us in documentation. I am trying to follow the steps given in Monitor databases using the Azure portal (https://docs.microsoft.com/en-us/azure/sql-database/sql-database-monitor-tune-overview#monitor-databases-using-the-azure-portal). But i am not able to find the Edit Chart button. Also there is no Add alert button in Metric window. Could you please help here.

Below

[2019-02-13 09:02] angoyal-msft commented on #24822
@codeputer I have assigned this issue to the author of this content to help you better.

[2019-02-13 09:12] KrishnaG-MSFT commented on #24552
@kchan54hk I have tested and reproduced the complete scenario given in the article successfully. Am not sure but looks like you get the error because the entries like 127.0.0.1, localhost, ::1 in the /etc/hosts file are missing. As it is hard to say what is causing you to hit the issue, support is able to determine this but unfortunately I can not. [Here](https://docs.microsoft.com/en-us/azure/azu

[2019-02-13 09:19] RohitMungi-MSFT commented on #24829
@amang2205 It looks like the requested changes were pushed by @rjagiewich earlier today. The docs now show the update and I was able to successfully follow the steps mentioned in the quickstart. Could you please verify the same before we close the issue?

[2019-02-13 09:20] igomat opened #24846 "SLES OS disk support - when?"
Could you share a (rough) timeline for OS disk support of SLES, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75aaea98-a087-c6d0-61cd-4a2edab37be5
* Version Independent ID: 6a2fa1ec-fadc-2d1c-2ab3-8ded33843414
* Content: [FAQ - Azure Disk Encryption for IaaS VMs](https://docs.microsoft.com/en-us/azure/security

[2019-02-13 09:22] AndyCW opened #24847 "Advice on when to use Phrase Lists is unclear"
In this article, the topic titled "Do add phrase lists and patterns in later iterations" suggests you can use phrase lists "to define dictionaries of words related to your app domain" . In the previous topic, "Do build the app iteratively", it says you can use an utterance test set "to evaluate each iteration or version of the app".
So this advice is to use phrase lists on each iteration or versio

[2019-02-13 09:23] AshokPeddakotla-MSFT commented on #24837
@Teeina We are currently investigating and will update you shortly.
Also, can you please link the document that you are referring to?

[2019-02-13 09:24] jakaruna-MSFT commented on #24795
@andrewnbond I went through the document.
When i tried to connect with the EM in browser i am getting "ERR_CONNECTION_CLOSED" or "ERR_CONNECTION_RESET" error.
But in the linux machine, Services are running.
[code]

Also we have both the ports open in the firewall.

When i try with curl or wget, I get SSL Handshake Error.

[2019-02-13 09:25] AndyCW opened #24848 "Value of using Phrase Lists not explained"
In the topic "Do add phrase lists and patterns in later iterations", the text says only that you use phrase lists to "define dictionaries of words related to your app domain". The value of defining such a dictionary and the improvements to recognition you can expect are not explained in this article.
Please add a description of the benefits to your model of defining a phrase list.

---
#### Docume

[2019-02-13 09:29] AshokPeddakotla-MSFT commented on #24335
@kgremban Please check this and provide your suggestions.

[2019-02-13 09:31] MSSedusch commented on #24185
Unfortunately, using Azure Files is not yet supported for hosting sapmnt or the trans directory of an highly available SAP system.

[2019-02-13 09:40] PramodValavala-MSFT commented on #24830
@cecilphillip Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-02-13 09:42] RohitMungi-MSFT commented on #24847
@AndyCW Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-13 09:49] shashishailaj commented on #24421
@thx1200 , We will now close this issue, Should you have any further queries, feel free to tag me to the conversation and we can continue the conversation again.
thank you.

[2019-02-13 09:49] #24421 closed

[2019-02-13 09:51] shashishailaj commented on #24560
@ijazm123 We will ow proceed with closure of this issue. Please tag  me in your reply in case you have any further queries and we will re-engage and continue the conversation.
Thank you.

[2019-02-13 09:51] #24560 closed

[2019-02-13 09:51] RohitMungi-MSFT commented on #24848
@AndyCW  Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-13 10:02] andrewnbond commented on #24795
Yes I see exactly the same thing, I get ERR_CONNECTION_RESET and same results from netstat

[2019-02-13 10:12] ManojReddy-MSFT commented on #24620
@Norrch2 Are you running the application on an app service ? "500 - Internal Server Error" is very generic error and troubleshooting depends on the platform you are running the application in.

I would recommend posting your query in MSDN forums [here ](https://social.msdn.microsoft.com/Forums/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD), so that it has a wider audience and

[2019-02-13 10:17] hope4555 commented on #22911
1.      Code example that has the problem
                    //our code to get the collection
             MongoCollection<Event> collection = eventsMongoWrapper.get();

             final List<Bson> filters = Lists.newArrayList();

             /// this is the problematic filter
             final Bson withProblem = Filters.or(Filters.eq("status.nSent", null), Filters.eq("status.nSent", false));

[2019-02-13 10:17] 5mdd commented on #24801
9. I tried to create the SP with Azure Storage Explorer... same issue (see screenshots):
a/ ![github_sp_issue](https://user-images.githubusercontent.com/41578984/52703911-b83f0280-2f7f-11e9-9c15-b5bb5c5fd31e.JPG)
b/ ![github_sp_issue2](https://user-images.githubusercontent.com/41578984/52703920-bc6b2000-2f7f-11e9-98b7-8f504577013c.JPG)
c/ ![github_sp_issue3](https://user-images.githubusercontent.c

[2019-02-13 10:25] slaFFik commented on #24804
But what exactly is wrong is missing, and that is not good.

[2019-02-13 10:33] KrishnaG-MSFT commented on #24594
Assigning to content author for better insights.

[2019-02-13 10:38] zeitmeister commented on #22870
Hi!

I am getting the same result when I am trying the quickstart guide code in Visual Studio. However the endpoint, my subscription key with the example JSON from the docs is working when I make a POST-request in Postman.

[2019-02-13 10:51] AmanGarg-MSFT commented on #24840
Can you try removing the double quotes from "user name" and then send a request.
Just use: customDimensions/[user name] eq 'iv123'

In my sample app when I don't use double quotes:

<img width="697" alt="1" src="https://user-images.githubusercontent.com/44466503/52706378-48df0800-2fab-11e9-935e-3bf7ed5cb434.PNG">

Using double quotes does not fetch any results

<img width="652" alt="2" src="https:

[2019-02-13 10:57] jochenvanwylick opened #24850 "Are you sure this is still up-to-date? Or please provide EventGridTrigger example."
Hi - I'm trying to test a v2 function with an EventGridTrigger and trying to test this locally. After `func init` and `func new` - the scaffolded code suggests to test against `http://localhost:7071/runtime/webhooks/EventGrid?functionName={functionname}`. Here is written to test against `http://localhost:{port}/admin/functions/{function_name}` ( so `admin/functions` ). Then I'm getting a 400 respo

[2019-02-13 10:58] KetanChawda-MSFT commented on #24831
@soonwong `WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT` only reliable if set to a value <= 5. There is no plan to depreciate this setting in near future as of now and the work to make this setting as GA is in progress but unfortunately there is no ETA that I can tell you at this moment. Apologies for that!

If you have any hard limit on number of instances you can anyways go with dedicated App servi

[2019-02-13 11:00] MedAnd commented on #24758
@HeidiSteen would be good to document affect on index size as I have not come across this info anywhere else... even if the storage saving/difference is a few percent?

[2019-02-13 11:05] amolmore3171 opened #24851 "error: type mismatch; found : java.util.concurrent.ExecutorService required: java.util.concurrent.ScheduledExecutorService"
notebook:15: error: type mismatch;
 found   : java.util.concurrent.ExecutorService
 required: java.util.concurrent.ScheduledExecutorService
val pool = Executors.newFixedThreadPool(1)
val eventHubClient = EventHubClient.create(connStr.toString(), pool)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4137b0cc-898b-b25c-63

[2019-02-13 11:08] Infoseeker commented on #24489
UnInstall azure cli core tools and install using  choclatey
https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#v2
It works fine !. Hope that helps.

[2019-02-13 11:10] AjayKumar-MSFT commented on #24212
@gtrevi, I see that you have reported this issue (#24213, GCM to FCM migration #42), thank you for reporting this issue! I have assigned the issue to the content author to review further and update.

[2019-02-13 11:12] Mahons opened #24852 "Rough Timeframe for standalone clusters?"
Hi,

Just wondering if there is a timeframe in mind for the release of the EventStore API for standalone clusters?

Best,

Stephen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fabf8df7-756f-2d7a-1d7f-068091d5f4f8
* Version Independent ID: 9776fd49-7f2f-8f0c-69be-638fa0d3dd6e
* Content: [Query for cluster events using

[2019-02-13 11:41] amolmore3171 commented on #24851
I want to send message from Twitter to Azure event hub. However, I am getting this above error, it say instead of  java.util.concurrent.ExecutorService use java.util.concurrent.ScheduledExecutorService. I am not getting how to create the EventHubClient.create now. Please help.

[2019-02-13 11:46] danimir commented on #24822
@angoyal-msft This is not in my domain. The screenshot indicate this is for Cosmos DB. The page which customer is looking at is for Azure SQL Database, hence not applying to Cosmos DB. Please forward this request to Cosmos DB or Azure Monitor owners. Thanks.

[2019-02-13 12:00] ChiragMishra-MSFT commented on #24851
@amolmore3171 Thanks for the feedback. We are investigating into the issue and will update you soon.

[2019-02-13 12:07] jochenvanwylick commented on #24481
Sorry for getting back to you so late - I will try this right now and get back to you whether it worked. Hold on ...

[2019-02-13 12:11] jberezanski-mdg opened #24853 "Warning about "total of 4,096 IPs per virtual network" outdated?"
According to https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits?toc=%2fazure%2fvirtual-network%2ftoc.json#networking-limits, the 4096 IPs limit applied only to the old, classic deployment model, while in the Resource Manager deployment model the limit is documented as 65536.

Please confirm my understanding is correct and the warning at the top of this page is outdated.

---

[2019-02-13 12:11] mike-urnun-msft commented on #24468
Hi @wobeng

Based on Azure/azure-functions-python-worker#133 and Azure/azure-functions-templates#646, not only is it supported but the update for this doc also appears to be underway as well. In the meantime, please go through the steps in [Create your first Python function in Azure](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python#deploy-the-function-a

[2019-02-13 12:11] #24468 closed

[2019-02-13 12:19] jssuthahar commented on #22870
@zeitmeister , @YutongTie-MSFT , @Alberto-Vega-MSFT , Thanks for all your support , I have re created services now its working fine

[2019-02-13 12:20] egorantonov opened #24854 "Multiple field mappings like copyField rules in Solr?"
Is it possible to add custom field (collection type) and set up multiple mappings to copy values from some other fields, like they did in [Solr Schema API](https://lucene.apache.org/solr/guide/6_6/schema-api.html)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1be935e6-88cc-38b8-aab4-bd43fd32ed4d
* Version Independent

[2019-02-13 12:23] jochenvanwylick commented on #24481
Hi - I've updated to 2.0.58 but that did not solve the problem for me unfortunately:

[code]

[2019-02-13 12:30] mike-urnun-msft commented on #24471
Hey @idohalevi Alternatively, you can browse your filesystem by using [Kudu console](https://github.com/projectkudu/kudu/wiki) at `https://<yourfunctionappname>.scm.azurewebsites.net/` as [described here](https://github.com/projectkudu/kudu/wiki/Accessing-the-kudu-service).

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and

[2019-02-13 12:30] #24471 closed

[2019-02-13 12:31] HaimAudioburst opened #24855 "Installing Microsoft.VisualStudio.Web.Azure.Kubernetes.Tools crash my VS solutions"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-02-13 12:35] idohalevi commented on #24471
@mike-urnun-msft
I believe I tried that but when I change the shared code from Kudu console I can't see that the changes apply when the Azure function runs.

[2019-02-13 12:44] mike-urnun-msft commented on #24471
@idohalevi what language are you using? I'm wondering if compilation and restart are taking place after the changes are made in Kudu. If you share any repro steps, i'd be happy to try out and make recommendations but opening a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) might be better :) Generally speaking, it's against best practice to live e

[2019-02-13 12:49] jjgriff93 opened #24856 "Can we please add an ASP.NET Core sample"
Most other docs have samples for ASP.NET Core and this is the direction of travel for this, please can we add a sample here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28f4c8a4-a9c4-d6d1-1065-ee71fddd7ca2
* Version Independent ID: bf1a8cf1-0f65-3fc0-0944-fb174b06776c
* Content: [Tutorial to develop an ASP.NET MVC we

[2019-02-13 12:53] MarkBird opened #24857 "Error on az ad sp create-for-rbac"
There seems to be a bug creating service principal (running on Git Bash) -

If I run `az ad sp create-for-rbac --name $ACR_NAME-pull --scopes $(az acr show --name $ACR_NAME --query id --output tsv) --role acrpull --query password --output tsv` I get an error in requests:

msrest.exceptions.ClientRequestError: Error occurred in request., InvalidSchema: No connection adapters were found for &lt;path

[2019-02-13 12:53] arnrist opened #24858 "Support Jira 8.0"
Jira 8.0 is now released, but the addon does not yet work for Jira 8.0 (Nullpointer exception).
Please add support for Jira 8.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
* Version Independent ID: dd08d5c5-65a4-c2cc-8b51-7a35268dde68
* Content: [Tutorial: Azure Active Directory

[2019-02-13 12:54] mike-urnun-msft commented on #24489
@Infoseeker Glad to hear the issue is resolved and you're unblocked.

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-13 12:59] MarkBird commented on #24857
This seems to be a problem running on Git Bash - with some modification I managed to run the same command on a Command Prompt and it worked

[2019-02-13 13:06] mike-urnun-msft commented on #24721
Hi @mas-dse-juremigi

Could you review discussions on Azure/azure-functions-python-worker#219 and see if any of the recommendations help?

[2019-02-13 13:16] mike-urnun-msft commented on #24562
@awarberg Pretty sure, by APIM tenant in Portal, it refers to the Overview blade. Hope this helps :)

[2019-02-13 13:26] vainolo commented on #18494
@Mike-Ubezzi-MSFT - Please assign this to me. Under investigation

[2019-02-13 13:28] AshokPeddakotla-MSFT commented on #23769
@ravikiran-srini please check the above suggestions.

[2019-02-13 13:35] amolmore3171 commented on #24851
Here is my code,

import java.util._
import scala.collection.JavaConverters._
import com.microsoft.azure.eventhubs._
import java.util.concurrent.{Executors, ExecutorService}

//val executorService: ExecutorService = Executors.newFixedThreadPool(10);
val pool: ExecutorService = Executors.newFixedThreadPool(1)
//val pool = Executors.newFixedThreadPool(1)
val eventHubClient = EventHubClient.create(co

[2019-02-13 14:01] boqsernmcpopsern opened #24859 "Is it possible to mange AU in API?"
Can we manage Azure AD Administrative Units in Azure AD REST API as well as Powershell modules?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11702e8d-98ba-b314-13cf-4c27963dcafd
* Version Independent ID: 9d2cb191-a0c7-abee-36ba-1f4079d357bd
* Content: [Administrative units management (preview) - Azure Active Director

[2019-02-13 14:02] MGoedtel commented on #24594
@asuresh4  & @KrishnaG-MSFT - The aggregated and percentile performance data collected and presented in the charts is stored in the Log Analytics workspace. Here is the documentation on the Azure Monitor logs API - https://dev.loganalytics.io/ you would use to query the data.  Because this isn't a doc issue, #please-close. Thanks and I hope this helps address your question.

[2019-02-13 14:02] #24594 closed

[2019-02-13 14:06] dcohen10 opened #24861 "Managed Identity access to ADLv1 in different subscription"
I was able to follow this example to enable writing from an ASA job to ADLv1 when they are in the same subscription.  I would like to be able to do this between subscriptions.  In ADL there does not appear to be a way to enter the managed identity of the ASA into ADL, only by name, is there a switch in the ADLv1 that needs to be enabled to allow entering the managed ID for access?

---
#### Docume

[2019-02-13 14:11] diberry commented on #23980
@paulio Did you get past 'Metering attempt failed with status 'Invalid'?

[2019-02-13 14:15] HerbertBodner commented on #11611
Even this issue is closed I want to let people know that I had the same issue and updating of the powershell module didn´t help (somehow my command were a bit different like `Update-AzVM` instead of `Update-AzureRmVM`).
Anyway, I got it working eventually by using Azure CLI.

[2019-02-13 14:26] colinrippeyfinarne opened #24862 "Facebook user gets stuck on the SignUpSignIn user attributes screen"
Hi,

I've been following this article and have encountered an issue with the facebook user.

If I configure the SignUpSignIn UserFlow so that no user attributes are requested a facebook user can successfully Sign Up, consent to the App in facebook, and is then redirected to the https://jwt.ms replyUrl where I can see their token details.

If I choose to ask for some user attributes (Country/Region

[2019-02-13 14:26] idohalevi commented on #24471
@mike-urnun-msft
Thank you for your help. I'm using node.js.
I'll open a thread on MSDN forums :)

[2019-02-13 14:28] doctordns opened #24863 "Reference to older AzureRM cmdlets should be updated"
In the Tools and Utilities heading at the bottom of this documentation, there is a reference to Azure PowerShell Cmdlets for Storage. The link is to https://docs.microsoft.com/powershell/module/azure.storage. This should probably be to:
https://docs.microsoft.com//powershell/module/az.storage since the AZ module is now the right go to module.

---
#### Document Details

⚠ *Do not edit this section

[2019-02-13 14:28] arkiaconsulting commented on #16396
Thanks @Michal, works like a charm ! Looking forward to have the Gremlin bytecode support.

[2019-02-13 14:34] Hellhound105 opened #24864 "Both views are empty"
Any idea if one followed all the steps but the views are empty?
I ensured the AD diagnostics are set to the only Log Analytics I have setup.

![image](https://user-images.githubusercontent.com/47601752/52718887-277f1b80-2fad-11e9-912a-c9aba08e627b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcfaf5b-78ea-ac05-b

[2019-02-13 14:37] shashishailaj commented on #24862
@colinrippeyfinarne Thank you for our query. We will investigate and update the thread accordingly.

[2019-02-13 14:42] Hellhound105 commented on #24864
https://github.com/MicrosoftDocs/azure-docs/issues/20455

[2019-02-13 14:43] shashishailaj commented on #24846
@igomat Thank you for your query. We will have this checked internally and update the conversation here. Please give us some time.
thank you.

[2019-02-13 14:48] MicahMcKittrick-MSFT commented on #24855
@HaimAudioburst can you please provide us with the document you are following so we can better assist?

[2019-02-13 14:50] MicahMcKittrick-MSFT commented on #24853
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-13 14:50] MicahMcKittrick-MSFT commented on #24852
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-13 14:50] MicahMcKittrick-MSFT commented on #24839
Thanks for the question! We are investigating and will update you shortly.

[2019-02-13 14:51] MicahMcKittrick-MSFT commented on #24857
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-13 14:52] shashishailaj commented on #24858
@arnrist Thank you for your feedback . We do have a request on the azure uservoice feedback forum and we would request you to vote for the same .

[Vote for Updating Jira plugins](https://feedback.azure.com/forums/374982-azure-active-directory-application-requests/suggestions/34909684-update-atlassian-jira-and-confluence-sso-userprov)

Additionally we would update the author as well for this reque

[2019-02-13 14:54] jwargo commented on #24213
@AjayKumar-MSFT Close this please, there's no reason to keep two open on the same topic.

[2019-02-13 14:54] shashishailaj commented on #24844
@ArthurDumas Thank you for your query . We will investigate and update this thread accordingly.

[2019-02-13 14:55] MicahMcKittrick-MSFT commented on #24820
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-13 14:56] TianyiLu commented on #24489
Thanks for your reply but it doesn't help. I still get the message like followings:

System.Private.CoreLib: Exception while executing function: Functions.HttpTrigger. System.Private.CoreLib: Failed to start language worker for: python. One or more errors occurred. (python exited with code 1
 AttributeError: module 'azure.functions_worker' has no attribute 'start_async') (python exited with code 1

[2019-02-13 14:58] shashishailaj commented on #24859
@boqsernmcpopsern Thank you for your query . We will investigate and update this thread accordingly.

[2019-02-13 14:59] jwargo commented on #24212
@AjayKumar-MSFT We're aware of the issue and are doing a docs refresh. First doc went into production 7 days ago and the next two should get worked on next week. Please close this.

[2019-02-13 15:00] #22111 closed

[2019-02-13 15:01] jwargo commented on #22692
@BryanTrach-MSFT please close this.

[2019-02-13 15:01] shashishailaj commented on #24843
@SwiftOnSecurity Thank you for pointing that out . We will investigate and update this thread accordingly.

[2019-02-13 15:02] jwargo commented on #21729
@femsulu please assign this to me.

[2019-02-13 15:06] SaurabhSharma-MSFT commented on #24550
@AlekseySokol Can you please provide your response on the ask.

[2019-02-13 15:07] erndob opened #24866 "Can't access storage account from a logic ap."
The example shows giving access for a storage account, but then the logic app goes for ARM. Could you update the docs to show how to access the storage account?

I can't get it to work, I gave "Owner" access to the logic app, and I'm trying to call the REST API, yet I get 403. I tried calling both, blob and queue endpoints.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-02-13 15:16] sdgilley commented on #24662
#please-close

[2019-02-13 15:17] #24662 closed

[2019-02-13 15:27] christianHamson opened #24867 "Azure Batch Inbound Networking, Large source IP scope at subnet level"
For Azure batch inbound networking, the source is scoped to AzureCloud (or Internet). In the long comment it states that Data Factory creates a NIC-level NSG, and that only Data Factory IPs are allowed to the VMs. Are the "Data Factory IPs" inclusive of whatever IPs Azure batch uses to access the VMs? What are these "Data Factory IPs", and can we manage them at the subnet level as well? Although t

[2019-02-13 15:29] amang2205 commented on #24829
Yup, works like a charm! Welcome :)

[2019-02-13 15:35] EmanuelYuCorella commented on #21996
Hello, when I run the command:

$SqlVm.Properties

I saw that the properties sqlImageSku is  Unknown

virtualMachineResourceId : /subscriptions/39d75d45-921e-4a55-8117-e0b65f250654/resourceGroups/rg-sql-02/providers/Microsoft.Compute/virtualMachines/vm-sql-02
provisioningState        : Succeeded
sqlImageOffer            : SQL2012-WS2012R2
sqlServerLicenseType     : PAYG
sqlImageSku              :

[2019-02-13 15:36] yobyot opened #24868 "Conflicting login instructions to start and stop ASDK"
The instructions here tell users to login as AzureStack\CloudAdmin on the ASDK host computer. But the list of users here (https://docs.microsoft.com/en-us/azure/azure-stack/asdk/asdk-admin-basics#what-account-should-i-use) says that CloudAdmin cannot log in. RDP works to the ASDK host machine when logging in as AzureStackAdmin but not when logging in as CloudAdmin (this is using AD, not ADFS). Clo

[2019-02-13 15:40] ewoodrick opened #24869 "Preview"
This article indicates that feature is in preview. Is it still in preview and can the date of the article be refreshed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470ff3b2-2ef4-d4ed-ef31-6e281d30ed9c
* Version Independent ID: e1664fe8-8dfe-aa9f-c700-22f7585f7c10
* Content: [Azure AD Connect: Features in preview](ht

[2019-02-13 15:42] gregory-fonkatz opened #24870 "Supported K8s version changes notifications"
From what I see here, this is the place https://azure.microsoft.com/en-us/updates/?product=kubernetes-service where I can find notifications about changes in supported k8s versions. The most recent notification regarding the k8s version dates back to September. But the most recent change in supported version seem to happen yesterday (I see that 1.11.5  was removed). Could you please point me to th

[2019-02-13 15:42] marioanton opened #24871 "Azure VM with at least 4 GB of RAM (recommended size is 7 GB)."
- Other docs state the minimum is 7 GB, which one is true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 246df0be-86c4-083f-5896-d9ed79a94b88
* Version Independent ID: cba0daf5-b5f3-e1ba-2d79-56ef94f927cb
* Content: [Appendix - Azure Disk Encryption for IaaS VMs](https://docs.microsoft.com/en-us/azure/security/azure-s

[2019-02-13 15:47] Tulkis opened #24872 "Where can I setup the new metric alerts?"
Hi I see the multiple documents advertising the new monitoring model on Azure SQL database. Now is it possible configure metrics (CPU, DTU, Log IO & Data IO) with the new method?
Regards,
Tlks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57944e9d-0efa-3503-9fe8-46c91119ecc9
* Version Independent ID: 32caa5c0-aac4-75

[2019-02-13 15:48] HeidiSteen commented on #24758
@MedAnd The engineering team discourages documentation of internals because they want the flexibility to change the backend architecture.  I could present it as "rule of thumb" info though, and with the right caveats, maybe that would be ok.  I'll have to think about where to put it.

[2019-02-13 15:49] jwargo commented on #19669
@BryanTrach-MSFT Please assign to me.

[2019-02-13 15:49] jwargo commented on #19669
@CeciAc there is an existing tutorial for how to send a notification to a Xamarin app: https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm. Are you trying to write a Xamarin app to send the notification or a Xamarin app to receive the notification?

[2019-02-13 15:50] MGoedtel commented on #19262
@jason-j-MSFT  - #please-close as I've bugged this and will update the doc accordingly.

[2019-02-13 15:51] MicahMcKittrick-MSFT commented on #24870
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-13 15:56] SumanthMarigowda-MSFT commented on #24863
@doctordns Thanks for the feedback! We are checking on this and will respond to you soon.

[2019-02-13 15:57] dmt87uk opened #24874 "Extra word - two instances of 'are'"
PITR: Individual database backups are copied to RA-GRS storage are automatically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efd7dc24-fc18-0670-8287-70c952aaa60a
* Version Independent ID: 75e5f6eb-0b52-291b-c99f-4e4c17269840
* Content: [Azure SQL Database - general purpose and business critical](https://docs.micros

[2019-02-13 15:58] EmanuelYuCorella opened #24875 "Hello, when I run the command: sqlImageSku : Unknown"
Hello, when I run the command:
$SqlVm.Properties
I saw that the properties sqlImageSku is Unknown
virtualMachineResourceId : /subscriptions/39d75d45-921e-4a55-8117-e0b65f250654/resourceGroups/rg-sql-02/providers/Microsoft.Compute/virtualMachines/vm-sql-02
provisioningState : Succeeded
sqlImageOffer : SQL2012-WS2012R2
sqlServerLicenseType : PAYG
sqlImageSku : Unknown
How can I change, my VM is runn

[2019-02-13 15:58] EmanuelYuCorella commented on #24875
Hello, when I run the command:
$SqlVm.Properties
I saw that the properties sqlImageSku is Unknown
virtualMachineResourceId : /subscriptions/39d75d45-921e-4a55-8117-e0b65f250654/resourceGroups/rg-sql-02/providers/Microsoft.Compute/virtualMachines/vm-sql-02
provisioningState : Succeeded
sqlImageOffer : SQL2012-WS2012R2
sqlServerLicenseType : PAYG
sqlImageSku : Unknown
How can I change, my VM is runn

[2019-02-13 16:00] CeciAc commented on #19669
Hi @jwargo I just forwarded the comment, the original author is @JosephBrainstein :)

[2019-02-13 16:00] jwargo commented on #19473
@KetanChawda-MSFT please assign this to me.

[2019-02-13 16:01] #24684 closed

[2019-02-13 16:01] jwargo commented on #19352
@BryanTrach-MSFT please assign to me.

[2019-02-13 16:02] jwargo commented on #19352
@dcbrown16 Yes, we're working to move those obsolete docs back into the core docs.

[2019-02-13 16:03] jwargo commented on #18707
@fekberg Yes, we're aware of this and a doc and sample update is in the works.

[2019-02-13 16:03] jwargo commented on #18707
@Grace-MacJones-MSFT please assign this to me and close it.

[2019-02-13 16:07] jwargo commented on #18460
@BryanTrach-MSFT please assign this to me.

[2019-02-13 16:08] jwargo commented on #18299
@BryanTrach-MSFT Please assign this to me.

[2019-02-13 16:08] kprpg opened #24876 "Incorrect grammar"
Correct grammar - FROM - Don't any persistent data on the temporary disk. Learn more.

'ANY' should be after 'persistent'.

TO - Don't persistent any data on the temporary disk. Learn more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb187c-f280-5c7d-1

[2019-02-13 16:09] vlad-kozlov opened #24877 "little typo"
great useful article!
at the end of the second paragraph
"For information about auto-failover groups with Managed Instances (preview), see Best practices of using failover groups with single and pooled databases."
should be
"For information about auto-failover groups with Managed Instances (preview), see Best practices of using failover groups with Managed Instances"

---
#### Document Details

⚠

[2019-02-13 16:09] DineshPriyankara commented on #24686
Hi All,

Thanks for the update.

I was able to sort this out with Microsoft help. Issue was related to ACL settings to blob container and folders. We have to take Service Principal Object ID (Not the App-Registration Application Object ID) and grant permission to it using Azure Storage Explorer. Once it is done, all start working.

[2019-02-13 16:10] vlad-kozlov commented on #24877
the URL under text is correct though.

[2019-02-13 16:14] jwargo commented on #17315
@BryanTrach-MSFT please assign to me.

[2019-02-13 16:14] jwargo commented on #17315
@mpalladinru I think you just have to install `azure`, not `azure-sb`.  I'll look into testing this and updating the doc.

[2019-02-13 16:16] Lekao77 opened #24878 "SDK 10 can access table storage without Cosmos DB API?"
Hi,

This content is somewhat confusing on the Java Storage SDK versions, using the version 8.x (outdated and not passing on customers' security scan) is possible to access Table Storage without the Cosmos DB API. But when upgrading to SDK version 10.x, the Table Storage objects are no longer present. Is it still possible access the table storage without Cosmos DB API?  This article makes understa

[2019-02-13 16:17] jwargo commented on #16649
@Grace-MacJones-MSFT Please assign this to me.

[2019-02-13 16:18] jwargo commented on #16649
@isaacboucinha we're doing some updates to the samples and tutorials, I'll try to get a .NET core example in there.

[2019-02-13 16:18] jwargo commented on #16563
@Grace-MacJones-MSFT please assign this to me.

[2019-02-13 16:19] jwargo commented on #16563
@NetSade we updated the first FCM tutorial last week and plan on refreshing the remainder of them over the next couple of weeks.

[2019-02-13 16:19] jwargo commented on #16461
@Grace-MacJones-MSFT please assign this to me.

[2019-02-13 16:20] jwargo commented on #16461
@johnug we're refreshing the SDK samples and the docs.

[2019-02-13 16:21] jwargo commented on #16294
@Grace-MacJones-MSFT please assign to me and close.

[2019-02-13 16:23] jwargo commented on #14917
@BryanTrach-MSFT please assign to me.

[2019-02-13 16:24] paulathrlocker commented on #12810
I am attempting this with a cert in the Keyvault.
Can you please explain what steps I can leave out.
I have left out all the ps scripts and can get it to run locally but not remote.
Adjusted the ps script to go to vault but not sure that is needed? Surely on kestrel setup it gets cert and loads it?
Any example using KV greatly appreciated.

[2019-02-13 16:25] jwargo commented on #14039
@BryanTrach-MSFT please assign this to me.

[2019-02-13 16:25] jwargo commented on #13701
@Grace-MacJones-MSFT please assign this to me.

[2019-02-13 16:26] jwargo commented on #12238
@BryanTrach-MSFT Please assign this to me.

[2019-02-13 16:27] jwargo commented on #10096
@BryanTrach-MSFT please close this.

[2019-02-13 16:27] jwargo commented on #9351
@BryanTrach-MSFT please assign this to me.

[2019-02-13 16:28] yobyot opened #24879 "Does not register using AzureStack\CloudAdmin on ASD 1901"
I had to change
`$CloudAdminCred = Get-Credential -UserName AZURESTACK\CloudAdmin -Message "Enter the credentials to access the privileged endpoint."`
to
`$CloudAdminCred = Get-Credential -UserName AZURESTACK\AzureStackAdmin -Message "Enter the credentials to access the privileged endpoint."`
in order to register ASDK 1901.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-02-13 16:29] andylholloway opened #24880 "Execution Profile example"
Hi
I'm trying to understand the executionProfile example, specifically the section that details the number of partitions accessed by the query:
[code]
Does the `partitionsAccessed` refer to physical partitions or logical partitions?

If the partition key is supplied with the query e.g.
`g.V(['pkValue','mary']).out('knows').executionProfile()`
Will the `partitionsAccessed` value always be 1?

Thank

[2019-02-13 16:30] jwargo commented on #8899
@femsulu please assign this to me.

[2019-02-13 16:30] jwargo commented on #8899
@yll090 @HassanKheireddine we're updating the GCM docs. The first tutorial went live last week and we'll get to the remaining ones in the next couple of weeks.

[2019-02-13 16:31] TylerMSFT commented on #24853
@jberezanski-mdg - there are several notes at the top of the page. Which one are you referring to, specifically.

[2019-02-13 16:32] jwargo commented on #8536
@BryanTrach-MSFT please close.

[2019-02-13 16:33] JECROFT commented on #12810
Here is an example of our code, it worked great.

[code]

[2019-02-13 16:34] jwargo commented on #8114
@BryanTrach-MSFT please close

[2019-02-13 16:36] Alberto-Vega-MSFT commented on #24842
Hi @pranabdas457 I'm sorry to hear that you are facing this issue. Would you please share a link to the documentation you were following? This way I can channel this issue to the right author.

[2019-02-13 16:40] amolmore3171 commented on #24851
Thanks, reply reply urgently.I need to finish the implementation.

[2019-02-13 16:42] erhopf commented on #24494
@paramrsingh - I wanted to thank you again for calling out this fix. We've actually re-evaluated the tutorial, and made an adjustment to use the `Detect` resource from Translator Text rather than Text Analytics. The new tutorial will go live today, and the code is up on GitHub: https://github.com/MicrosoftTranslator/Text-Translation-API-V3-C-Sharp-Tutorial.

@YutongTie-MSFT #please-close
* Dev iss

[2019-02-13 16:42] #24494 closed

[2019-02-13 16:45] Alberto-Vega-MSFT commented on #24864
Hi @Hellhound105  Since this issue is not attached to a specific document I will start by linking it to a tutorial or doc so it goes to the right content author. So it sounds like you were following the tutorial https://docs.microsoft.com/en-ca/azure/azure-monitor/learn/quick-create-workspace referenced in issue #20455 ? Also would you please elaborate on why you are linking to it? Are you on an u

[2019-02-13 17:03] bertrandpons commented on #24695
@Mike-Ubezzi-MSFT I finally solved the issue. It is related to the powershell script that requires that the ispac filename be the same as the dtproj filename. As I had a project named Test.SSIS.dtproj and an ispac file named Test.ispac, the powershell script was not able to run correctly. I had to set the ispac filename as Test.SSIS.ispac

[2019-02-13 17:03] #24695 closed

[2019-02-13 17:04] HeliosLHD opened #24881 "vCore change compute resources"
The description here doesn't seem to be what I've seen in practice, a Gen4 1vCore 850GB DB can scale to 8 vCore in about 3 minutes, not 3 hours.  Isn't the vCore model using a different method to scale compute resources versus a DTU (which I can also confirm takes hours).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-02-13 17:08] Alberto-Vega-MSFT commented on #24875
Hi @EmanuelYuCorella Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-02-13 17:08] HeidiSteen commented on #24773
@jjgriff93 Actually, I think this might be a portal bug.  You should be able to add suggesters to an existing field definition without have to rebuild (https://docs.microsoft.com/en-us/azure/search/search-howto-reindex#rebuild-conditions).   I have an email out to the portal devs.  One workaround might be to use the REST API and Postman.  You could use GET INDEX to get a copy of your index, and th

[2019-02-13 17:08] ermacia91 opened #24882 "Support for IPV6"
Having only an IPV6 assigned causes Location Based CA to fail. In the docs there is only 1 reference to IPV4 and IPV6 support. There should be a reference to the limitations of having IPV6 as your only IP, which is that it is currently not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b164a7-31c5-7cb3-c8e

[2019-02-13 17:09] EmanuelYuCorella commented on #24875
Hello @Alberto-Vega-MSFT  sure this is the URL: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-ahb

Regards

[2019-02-13 17:21] Drop-Developer opened #24883 "Where do ipsec configurations exist in the Azure portal?"
Could you please tell me where I can change the ipsec default using the Azure Portal? Specifically the Diffie-Helman group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79da24f7-4add-2b65-e150-094f260367ee
* Version Independent ID: d2742c2b-2e83-4fb4-a877-a6fdb099a34a
* Content: [Configure IPsec/IKE policy for S2S VP

[2019-02-13 17:26] paulathrlocker commented on #12810
thanks for prompt reply. I have similar working locally. Could not get remote version working.....so I started to wonder if I needed the SetCertAccess.ps1 scriptt
so to be clear you have not needed to use any of the PS scripts?

[2019-02-13 17:27] SumanthMarigowda-MSFT commented on #24846
@igomat We currently do not have any ETA on this.  If you wish you may leave your [feedback]([url](https://feedback.azure.com/forums/34192--general-feedback)) here All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

[2019-02-13 17:28] MarkusVi commented on #24882
Hi @ermacia91, it is actually in the article:

**IP ranges** - One or more IPv4 address ranges in CIDR format. Specifying an Ipv6 address range is not supported.

[2019-02-13 17:33] Xorima opened #24884 "AKS Scale Dashboard"
Hi,

How do I scale the dashboard as it keeps being reset to replicas=1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
* Version Independent ID: 42736112-f6db-d241-e89b-48fd2c35ceb7
* Content: [Manage an Azure Kubernetes Service cluster with the web dashboard](https://docs.microsof

[2019-02-13 17:35] alamfsmb commented on #16505
Hi @davidmu1  Is [https://your-tenant-name.b2clogin.com/tfp/your-tenant-ID/policyname/v2.0/.well-known/openid-configuration](url) still the correct endpoint for B2C? when I navigate to it, I'm getting "site can't be reached" and when I use that in my B2C app, it is not redirecting to Azure.

Does tenant-id mean `tenant-name.onmicrosoft.com` or the AD directory Id, etc? Though neither are working f

[2019-02-13 17:36] Mike-Ubezzi-MSFT commented on #24695
@bertrandpons Thanks for updating this issue with a resolution. It assists others who might be experiencing the same issue. Thanks again for your interest in Azure cloud services.

[2019-02-13 17:39] #24503 closed

[2019-02-13 17:40] Sudharma commented on #23789
Okay no problem

[2019-02-13 17:40] kobulloc-MSFT commented on #24845
@imeya Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-02-13 17:41] JECROFT commented on #12810
The only local cert I needed was the KV cert which I uploaded to the SF cluster and made available to the role. I used no PowerShell scripts for any of this, only native SF code and KV APIs.

[2019-02-13 17:41] AjayKumar-MSFT commented on #24212
@Jwargo, Thank you for taking a look into this!

[2019-02-13 17:41] #24212 closed

[2019-02-13 17:44] #24213 closed

[2019-02-13 17:45] Mike-Ubezzi-MSFT commented on #24822
@codeputer @danimir Apologies for any confusion. We are investigating this and will update this issue when we know what is the root cause. There are some changes being rolled out with regard to Alerts (Classic) going away and Azure Monitor being the standard across all services. Thank you for your patience.

[2019-02-13 17:45] cephalin commented on #24103
@StingyJack Ah gotcha. Glad to hear the scenario has worked out for you. @MicahMcKittrick-MSFT I guess that feedback was for you.

[2019-02-13 17:49] cephalin commented on #24103
@MicahMcKittrick-MSFT I should also point out I understand you did that as a response to me writing #please-close.

[2019-02-13 17:49] cynthn commented on #15188
#please-close

[2019-02-13 17:49] #15188 closed

[2019-02-13 17:53] diberry commented on #24629
@dcbrown16 The API not being doc'd is a by-product of how the reference documentation is generated from swagger and how the prediction and training end points are generated. This is on the roadmap to be resolved.

[2019-02-13 17:55] aliceku commented on #24796
Where is that key stored?  It is easier for me to help if I understand the scenario.  That said, assuming the customer is using their own key, there is only one option: migrate that key to Azure Key Vault and then migrate the TDE encrypted database.

[2019-02-13 17:56] HeidiSteen commented on #24773
@jjgriff93  Docs were wrong about suggesters.  You cannot add an existing field to a suggester.  You can only add it if you are also creating it at the same time.  I'm addressing the suggester issue today.

[2019-02-13 17:56] davidmu1 commented on #16505
@alamfsmb You don't give any specifics about what isn't working, but when I use this URL which contains the name of the B2C tenant:

https://contosotenant.b2clogin.com/tfp/contosoTenant.onmicrosoft.com/B2C_1_signupsignin1/v2.0/.well-known/openid-configuration

I get information back about the endpoints available for the tenant:
{
  "issuer": "https://contosotenant.b2clogin.com/c64a4f7d-3091-4c73-a

[2019-02-13 17:57] MicahMcKittrick-MSFT commented on #24884
Thanks for the question! We are investigating and will update you shortly.

[2019-02-13 17:59] Mike-Ubezzi-MSFT commented on #24881
@HeliosLHD Thank you for detailing this and bringing it to our attention. I realize this can be frustrating, and although there is no immediate documentation needing to be addressed, I would really like to get you to Azure Support to investigate this, as a means of investigating and identifying an underlying issue that is preventing this functionality from meeting SLA. If you have a support plan,

[2019-02-13 18:01] diberry commented on #24573
@YutongTie-MSFT While the Qna Maker documentation mentions the use of Application Insights' feature of continuous export, the question/issue from @sowsan should be directed to the Application Insights docs/service team.

[2019-02-13 18:02] Anmolgan81 commented on #24796
This key is not stored anywhere its just a key which the customer uses to encrypt the database, How can we migrate the key to the keyvault?

Regards
Anmol Ganju

________________________________
From: Alice Kupcik <notifications@github.com>
Sent: Wednesday, February 13, 2019 11:25:53 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Author
Subject: Re: [MicrosoftDocs/azure-docs] How to Restore On-P

[2019-02-13 18:02] MicahMcKittrick-MSFT commented on #24765
@TylerMSFT @aljo-microsoft could either of you help further on this? Just following the doc it seems we are all getting the same error.

[2019-02-13 18:03] Anmolgan81 commented on #24796
Can we have a remote session to discuss this, we have a support ticket opened for this as well?

Regards
Anmol Ganju

________________________________
From: Alice Kupcik <notifications@github.com>
Sent: Wednesday, February 13, 2019 11:25:53 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Author
Subject: Re: [MicrosoftDocs/azure-docs] How to Restore On-Premise Encrypted Backups to Azure Managed In

[2019-02-13 18:03] MicahMcKittrick-MSFT commented on #24780
@oleksandr-bilyk I will close for now. Feel free to ping me offline if you have followup questions :)

[2019-02-13 18:03] #24780 closed

[2019-02-13 18:06] MicahMcKittrick-MSFT commented on #24853
@TylerMSFT this one

![image](https://user-images.githubusercontent.com/32313503/52733195-fab01180-2f76-11e9-9f6a-d3ce3b1775ac.png)

Looks like we need to update it since no one will deploy a "Classic" SF Cluster :)

![image](https://user-images.githubusercontent.com/32313503/52733222-06033d00-2f77-11e9-8508-5ca99b902cf7.png)

I can update the note if needed.

[2019-02-13 18:07] Mike-Ubezzi-MSFT commented on #24880
@andylholloway Thank you for the detailed inquiry. I believe this relates to logical partitions. Physical partitions are created by the underlying service to support the logical partitions + collections created by the configurations of your deployment. Having a solid and accurate answer to this in the FAQ page would be helpful.  This document explains Logical and Physical partitioning in greater d

[2019-02-13 18:10] HeliosLHD commented on #24881
@Mike-Ubezzi-MSFT

I don't think this an SLA issue, I'm just curious if the description of scaling process for vCore compute resources is incorrect.  I was reviewing available options for us recently and testing the new vCore model on some test DBs, and noted scaling is happening much faster than this description, which is great!!!  I just want to make sure I understand all the differences or see

[2019-02-13 18:10] MicahMcKittrick-MSFT commented on #24857
@MarkBird generally the commands are written to run in the Azure Cloud shell which I tested and did not get the same error. Running on a on-prem bash environment sometimes does not work exactly as copied. We have had this kind of issue on a few docs. Unfortunately it is hard to write commands and scripts that will work for everyone specific environment.

I will close this out as the commands do ap

[2019-02-13 18:10] #24857 closed

[2019-02-13 18:11] MicahMcKittrick-MSFT commented on #24884
@Xorima have you looked at this section and performed the written steps?

https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard#edit-the-application

[2019-02-13 18:12] MicahMcKittrick-MSFT commented on #24852
@dkkapur @aljo-microsoft anything we can share on this?

[2019-02-13 18:17] CelesteDG commented on #24804
Hi @slaFFik - Can you please provide some more info about your scenario and what you're trying to do so we can understand where the issue might be stemming from?

[2019-02-13 18:17] zachjacobs opened #24885 "Automated backup fro SQL Server 2014 Express"
Hi,

This page states there it's only for use with "SQL Server 2014 Standard or Enterprise".  I would like to backup this app: https://azuremarketplace.microsoft.com/en-us/marketplace/apps/Microsoft.SQL2014SP2-WS2012R2?tab=PlansAndPrice using SQL Server 2014 Express.  Is that possible with this configuration.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-02-13 18:18] CarlRabeler commented on #24874
PR pending: https://github.com/MicrosoftDocs/azure-docs-pr/pull/66352

From: dmt87uk <notifications@github.com>
Sent: Wednesday, February 13, 2019 7:57 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Extra word - two instances of 'are' (#24874)

PITR: Individual d

[2019-02-13 18:24] Mitch-P97 opened #24886 "Next Step Link Missing Content"
In the Next Steps there is a link stating to see the " If you want to use a hardware security module (HSM) section" however..... the linked document contains no such content!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd8f9c6c-9980-9774-6e13-21e4f23a1d8f
* Version Independent ID: 9f60034d-d0c0-e56c-c1a9-c215b6a416c

[2019-02-13 18:32] SumanthMarigowda-MSFT commented on #24871
@marioanton It depends on usage you have in your root File System, but the initial value is 7GB
if your root file system usage is bigger than 3.5GB total then you need more than 7GBs

In our images (gallery images from official vendors like RedHat, canonical, etc.). the usage of the root File System it's not higher than 3.5GBs. Sometimes when you copy things on that File System and make it bigger.

[2019-02-13 18:33] stgraves opened #24887 "Wrong Steps"
If you configure the daemon.json with {"hosts": ["tcp://0.0.0.0:2375", "npipe://"]}
then you do not need to use dockerd --register-service -H npipe:// -H 0.0.0.0:2375.

It's one or the other, but not both or else the Docker service will fail to start.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7783cfe9-0508-9a73-39

[2019-02-13 18:34] slaFFik commented on #24804
Hi @CelesteDG
Sure.

I use https://github.com/thephpleague/oauth2-client library to make requests.
Using its `getAuthorizationUrl( $url_options )` method with these options:
[code]
I get the correct URL, which is the same as per your Docs. Proceeding to that url and providing consent - I'm redirected back to my web-server to `returnURL` with proper 2 GET params (`state` and `code`). State is corre

[2019-02-13 18:36] Grace-MacJones-MSFT commented on #24854
Hi @egorantonov, Thanks for the question! We are currently investigating and will update you shortly.

[2019-02-13 18:40] kgremban commented on #23256
@veyalla This issue was assigned to the wrong article. It's actually for https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where which uses some custom scripts made to automate the installation process. Edrick had concerns about those scripts not following best practices.

[2019-02-13 18:41] yushwang commented on #24883
@Drop-Developer

Unfortunately, it is not available on Azure Portal.

Thanks,
Yushun

[2019-02-13 18:41] yushwang commented on #24883
#please-close

[2019-02-13 18:41] #24883 closed

[2019-02-13 18:44] Grace-MacJones-MSFT commented on #24874
Hi @dmt87uk, thanks for bringing this to our attention. The doc author has created a pr to update doc.

[2019-02-13 18:48] CelesteDG commented on #24352
The updated topic is now live.
#please-close

[2019-02-13 18:48] #24352 closed

[2019-02-13 18:48] Mike-Ubezzi-MSFT commented on #24881
@HeliosLHD Cool! I was anticipating the worse but, it appears you are providing some good feedback. A support ticket is not necessary here but, if there are specific sections of the document that you would like clarification upon, this channel is the appropriate means to have doc related issues addressed. If you detail your questions more explicitly, we can investigate and provide clarification.

[2019-02-13 18:49] CelesteDG commented on #24466
Updated topic is now live. #please-close

[2019-02-13 18:49] #24466 closed

[2019-02-13 18:52] CelesteDG commented on #22269
Updated topic is now live. #please-close

[2019-02-13 18:52] #22269 closed

[2019-02-13 18:58] #8114 closed

[2019-02-13 18:58] erhopf commented on #24711
#please-close

@CeciAc + @YutongTie-MSFT - We've made some major adjustments to the tutorial.
* The tutorial now uses the Detect resource from Translator Text instead of Text Analytics
* The tutorial has been updated to meet MVC
* The full source code is now available on GitHub

[2019-02-13 18:58] #24711 closed

[2019-02-13 19:00] curtisvvGit opened #24890 "Train the model: step 7"
You cannot select the response "Weather in $city is probably sunny." as it is greyed out.  The user input "Seattle" has to be identified as a city entity first.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0fd4e2-1d0e-d3f1-5e47-f4c1f4739d14
* Version Independent ID: 47dad072-d756-3d91-211f-f45a251dd5cf
* Content: [

[2019-02-13 19:03] MicrosoftGuyJFlo commented on #24843
@SwiftOnSecurity that link works only when the tenant has been enabled for the preview experience.

[2019-02-13 19:04] jjgriff93 commented on #24773
Ok thanks Heidi, glad it's being sorted :)

[2019-02-13 19:04] MicahMcKittrick-MSFT commented on #24885
Thanks for the question! We are investigating and will update you shortly.

[2019-02-13 19:06] AjayKumar-MSFT commented on #23225
@vatsparth, If your question is specifically about the build requirements - With continuous deployment, you can get your app up and running on Azure directly from source code. No external build or publication process is required. However, there is a limit to the customizability and availability of build tools within the Kudu deployment engine. Your app may outgrow Kudu's capabilities as it grows i

[2019-02-13 19:14] SaurabhSharma-MSFT commented on #24886
@Mitch-P97 Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-13 19:14] Mike-Ubezzi-MSFT commented on #24801
@5mdd Thank you for providing all the detail. The SP is attempting to execute across multiple partitions where an SP is only scoped to work against a single logical partition defined by partition key.

A) You cannot have an SP in one collection that attempts to query items in another collection that is defined by a separate partition key.
B) If you have multiple collections and are calling an SP v

[2019-02-13 19:16] reewajc commented on #24408
@YutongTie-MSFT
import tensorflow as tf
import os
from PIL import Image
import numpy as np
import cv2

graph_def = tf.GraphDef()
labels = []

#filename = r"C:\Users\Administrator\Desktop\PigCounterProject\microsoftCustomVision\model.pb"
#labels_filename = r"C:\Users\Administrator\Desktop\PigCounterProject\microsoftCustomVision\labels.txt"
# Import the TF graph
with tf.gfile.FastGFile('model.pb', '

[2019-02-13 19:17] SaurabhSharma-MSFT commented on #24836
@nkumars Thanks.  Please feel free to open a new issue if any help is required.

[2019-02-13 19:17] CarlRabeler commented on #24874
PR Merged - fix live this afternoon

[2019-02-13 19:18] rohinkoul commented on #23574
@malopMSFT

[2019-02-13 19:18] MarileeTurscak-MSFT commented on #24843
We will now proceed to close this thread. If you have further questions feel free to reach out on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-13 19:18] #24843 closed

[2019-02-13 19:23] Mike-Ubezzi-MSFT commented on #24878
@Lekao77 Thank you for the detailed inquiry. Azure Table Storage and Azure Cosmos DB Table API are essentially two differant options. You can choose to call Azure Table Storage but you don't get the premium benefits of the Cosmos DB table API:

As for versioning information, please take alook at the GitHun repo: [Azure Storage SDK for Java](https://github.com/azure/azure-storage-java)

[2019-02-13 19:24] malopMSFT commented on #23574
https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#azure-platform-considerations
First section describes DNS among other usages of the virtual IPs of the host

[2019-02-13 19:27] kacperryniec commented on #22700
@shashishailaj any news? :)

[2019-02-13 19:28] Mike-Ubezzi-MSFT commented on #24877
@vlad-kozlov Thank you for providing this detailed feedback. I will have the content owner evaluate and update as appropriate.

[2019-02-13 19:30] Mike-Ubezzi-MSFT commented on #24877
@CarlRabeler A minor doc edit but given how multiple services are referenced with Azure SQL, just want to ensure the context is correct.

[2019-02-13 19:33] Mike-Ubezzi-MSFT commented on #24872
@Tulkis Thank you for interest in Azure cloud services. We are investigating and will update you when we have additional information to provide.

[2019-02-13 19:34] Karishma-Tiwari-MSFT commented on #24185
Thanks @MSSedusch for confirming.
@matheus-santoro We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-13 19:34] #24185 closed

[2019-02-13 19:35] SaurabhSharma-MSFT commented on #24859
@boqsernmcpopsern yes, you can manage AU's using beta version of Microsoft Graph API.  Please refer to [administrativeUnit](https://docs.microsoft.com/en-au/graph/api/resources/administrativeunit?view=graph-rest-beta).

[2019-02-13 19:37] Mike-Ubezzi-MSFT commented on #24856
@jjgriff93 Thank you for pushing for ASP.NET Core examples and tutorials. There is a big effort to provide these within all the Cosmos DB docs but will get this assigned to the content owner for this specific tutorial.

[2019-02-13 19:38] Karishma-Tiwari-MSFT commented on #24707
@romitgirdhar Did you get a chance to take a look at the customer's query. Thanks.

[2019-02-13 19:40] meganbradley opened #24891 "test issue"
This is great!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
* Content: [Quickstart - Create an Azure Kubernetes Service (AKS) cluster](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough)
* Content Source

[2019-02-13 19:42] jwargo commented on #7524
@femsulu please close.

[2019-02-13 19:42] HeliosLHD commented on #24881
@Mike-Ubezzi-MSFT

The section of this on vCore looks like it was copied from DTU, but Azure does not behave this way in practice with SQL vCore scaling, it completes in a few minutes and not 3 hours, so I expect the description of the process for vCore scaling is incorrect.

"**vCore-based purchasing model: Change compute resources**
After initially picking the number of vCores, you can scale a s

[2019-02-13 19:43] CarlRabeler commented on #24877
Great catch - PR pending https://github.com/MicrosoftDocs/azure-docs-pr/pull/66375

[2019-02-13 19:47] jwargo commented on #7520
@BryanTrach-MSFT please assign this one to me.

[2019-02-13 19:48] jwargo commented on #7500
@BryanTrach-MSFT please close.

[2019-02-13 19:48] jwargo commented on #6820
@BryanTrach-MSFT please close.

[2019-02-13 19:50] jwargo commented on #6812
@BryanTrach-MSFT please close - these docs are getting a refresh.

[2019-02-13 19:50] mike-urnun-msft commented on #24850
Hi @jochenvanwylick Thank you for your feedback! We will review and update as appropriate.

[2019-02-13 19:51] jwargo commented on #6288
@BryanTrach-MSFT Please close - the SDK's all up to date.

[2019-02-13 19:52] mike-urnun-msft commented on #24866
Hi @erndob Thank you for your feedback! We will review and update as appropriate.

[2019-02-13 19:55] meganbradley commented on #24891
test complete - closing

[2019-02-13 19:55] #24891 closed

[2019-02-13 19:55] Mike-Ubezzi-MSFT commented on #24786
@RudyCo It has to do with token-based authentication versus services that support Azure Active Directory in a more direct manner.

As stated in document, Starting in .NET Framework version 4.7.2, the enum `SqlAuthenticationMethod` has a new value - `ActiveDirectoryInteractive`. The C# code snippet is the client C# program and the enum value directs the system to use the Azure AD interactive mode s

[2019-02-13 19:56] mike-urnun-msft commented on #24861
Hi @dcohen10 Thank you for your feedback! We will review and update as appropriate.

[2019-02-13 19:56] alamfsmb commented on #16505
@davidmu1 sorry, I meant the URL combinations I tried were not returning the information about the available endpoints like you showed. I'm either getting a 404 or  "This site cannot be reached"

Not sure if your example is a valid tenant url or not, but I was getting a 404  server error for that url too.

I just tried my other B2C tenants, and the url following that pattern is returning the endpo

[2019-02-13 19:56] mike-urnun-msft commented on #24867
Hi @christianHamson Thank you for your feedback! We will review and update as appropriate.

[2019-02-13 19:57] YutongTie-MSFT commented on #24408
@reewajc Hi, I would suggest you to refer to following issue:https://stackoverflow.com/questions/51424690/keyerror-the-name-loss0-refers-to-a-tensor-which-does-not-exist-the-operat

@areddish Hi Andrew, can we make any notice/remind in our document since I saw a couple ticket for the same error.

[2019-02-13 19:57] jwargo commented on #5759
@BryanTrach-MSFT please close, I've fixed the broken link.

[2019-02-13 19:59] jwargo commented on #6176
@BryanTrach-MSFT please close. Resolved.

[2019-02-13 19:59] ermacia91 commented on #24882
Yes, but it is not specified that CA exclusions or inclusions will not work when IPV6 is the only one used by the client/device.

[2019-02-13 20:00] ermacia91 commented on #24882
The CA mechanism in AAD I mean.

[2019-02-13 20:00] baleng commented on #24707
@Karishma-Tiwari-MSFT
cc @romitgirdhar
yes  exactly "For SQL Server, writes are persisted to Azure Storage because it uses write-through. It also provides the lowest disk latency for light workloads."
in the oracle design disk cache settings .... it is confusing

[2019-02-13 20:02] hpsin commented on #24804
Invalid_grant means that the thing you're using for your grant (the authorization code) was malformed.  I'll update the error message to make some suggestions about what could be wrong.  In this scenario, we saw this exception on the backend: System.FormatException: Invalid Input. Length of original grant (X): 37, Length after conversion to Base64 (without padding) (Y): 37. Y%4 can never be 1.

I'

[2019-02-13 20:10] MarileeTurscak-MSFT commented on #24869
@ewoodrick
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-13 20:12] justinshroyer opened #24892 "Test vNet IP Subnetting"
Under "Create a Network for test failover" the part that says "The test network should use the same IP address range" doesn't seem to be correct. I can't have 2 vNets with the same subnet range. How am I supposed perform a test failover to the same IP as the production failover when vNet subnets can't overlap?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-02-13 20:13] DavidPrio commented on #23901
@BhargaviAnnadevara-MSFT please see @CeciAc comment above. Thanks!
cc @SunnyDeng

[2019-02-13 20:16] alamfsmb commented on #16505
@davidmu1 Nevermind, it seems to be a network issue on my end. It'll work off my org's network.

Thanks for your response.

[2019-02-13 20:26] aliceku commented on #24796
In order to bring in the right people for the call, I need to understand the scenario better.  Are they not using TDE?  The "key is not stored anywhere" comment doesn't make sense to me...

[2019-02-13 20:33] HeidiSteen commented on #24758
@MedAnd I added a "Storage implications" section to "Create a basic index" with a screenshot showing index sizes for the realestate sample index built using various combinations of attributes.  This is the PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/66381   Once its merged and docs are rebuilt, you will see changes in these two articles (might be tomorrow before changes are published)
h

[2019-02-13 20:39] tfitzmac commented on #19941
We now have [2 csv files](https://github.com/tfitzmac/resource-capabilities). One for move support, and one for tag support. I have added links in the articles to the csv files.

@s-fordham or @TheMacStack or anyone else - I'd be interested in hearing whether the format of the files is helpful. The two files have different formats based on how I get the data, but I can standardize on one format if

[2019-02-13 20:41] #11741 closed

[2019-02-13 20:54] HeidiSteen commented on #24773
@jjgriff93  I fixed the following articles (changes will be live later this afternoon or tomorrow)
https://docs.microsoft.com/en-us/azure/search/index-add-suggesters  **emphasized the workflow for creating suggesters + impact on indexing
https://docs.microsoft.com/en-us/azure/search/search-howto-reindex ** noted suggesters is a rebuild condition

I'm tracking other doc issues (status of the Retrie

[2019-02-13 21:00] femsulu commented on #24876
@kprpg Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-13 21:00] paulio commented on #23980
Yes, that was the docker fault in Windows 10 that I previously mentioned. Might be worth noting that somewhere. I could just add a comment to the page.

[2019-02-13 21:01] #23980 closed

[2019-02-13 21:01] mike-urnun-msft commented on #24562
@awarberg We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-13 21:01] #24562 closed

[2019-02-13 21:02] femsulu commented on #24887
@stgraves
good question. I have passed this on to the content owner to review and provide an answer. Please stay tuned.

[2019-02-13 21:02] MicahMcKittrick-MSFT commented on #24474
@kirantsp I am still trying to figure it out as well. I have had no luck finding a work around. I am wondering if there are some conflicts between the classic model of Azure the ARM model causing the errors. Just a theory though.

The best resources I can find appear to be directly on the Chef website

https://www.chef.io/partners/azure/

https://docs.chef.io/chef_automate.html

Though, there does

[2019-02-13 21:04] kgremban commented on #23265
@raghavan20

The ModuleClient/DeviceClient OperationTimeout is about each operation that the client performs, such as sending a message to the server (EdgeHub or IoTHub). If it takes longer than this amount of time, the SDK times out.

The timeToLive for the EdgeHub specifies how long the messages will be kept in the store if they cannot be sent to their destination(s) – i.e other modules or IoTHu

[2019-02-13 21:06] rramani opened #24894 "Uploading data errors out due to 'GenericResource' object has no attribute 'workspaceid'"
When uploading data to Azure, got an error when executing this line:
ds = ws.get_default_datastore()

Then followed this resolution from this link (Thanks to Uasmi) https://github.com/Azure/MachineLearningNotebooks/issues/146

and in "Connect to a workspace", after setting up the workspace, did this:

ws._workspace_autorest_object.workspaceid = ws._workspace_autorest_object.id
print(ws.name, ws.lo

[2019-02-13 21:08] Mike-Ubezzi-MSFT commented on #24229
@gbargsley Happy to assist when you get back to this. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-13 21:08] #24229 closed

[2019-02-13 21:10] Mike-Ubezzi-MSFT commented on #24281
@Utthirabalaji I have escalated this item to the product group through a separate channel. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-13 21:10] #24281 closed

[2019-02-13 21:10] MGoedtel commented on #24887
Engaging @keikhara from the PG who is intimately familiar with this solution and that template to verify the issue.

[2019-02-13 21:13] Xorima commented on #24884
I have used the command line `kubectl scale replicas=3 deployment/kubernetes-dashboard --namespace kube-system` and it seems to reset itself after a period of time

[2019-02-13 21:15] slaFFik commented on #24804
Thanks for answers, you gave me some ideas.

That's definitely NOT the encode/decode issue, as the auth_code error (`invalid_grant`) is returned when something wrong with auth_code itself, but it can't have decoding issues due to its simplicity.

What is TTL for auth_codes? Right now I assume that sending old/expired auth_code generates that error on your side. Also, how are already used auth_code

[2019-02-13 21:18] 5mdd commented on #24801
Thanks again @Mike-Ubezzi-MSFT !
It is not possible anymore to create fixed collections via the Azure Portal.

I still have a problem understanding your point A. I have 3 collections in this database. The SP lies in one and query only this one (with the given partition key). It should work then?

What I understand from point B is that in order to run the SP via a client, I cannot create multiple c

[2019-02-13 21:22] MicahMcKittrick-MSFT commented on #24884
I believe that is because you have to actually edit the deployment. You might be forcing it to scale to 3 replicas but the default configuration is still set to 1.

Try following the link I provided above to modify the deployment configuration and set it to 3

Else, redeploy the application and in the yaml set it up to use 3 replicas by default

[2019-02-13 21:25] MicahMcKittrick-MSFT commented on #24474
@kirantsp another update....

I got back that there is some work being done to rewrite these articles with members from the Chef team. That work is ongoing. I have requested an update to see if there is any info we can share in the meantime. It might take a few days to hear back though. Will update as soon as I have something.

CC @TomArcherMsft

[2019-02-13 21:26] tastyeggs commented on #24612
@anantshankar17 sadly after a reboot, I'm no longer able to reproduce the issue, which scares me a bit. Also disk space usage within the docker instance appears to be lower than 60GB. Let me do a few more tests and get back to you.

I'll reopen this issue if I can give you a concrete reproducible case.

Thanks!

[2019-02-13 21:26] #24612 closed

[2019-02-13 21:33] Alienroid commented on #13430
As I mentioned, this is not resolved nor answered in anyway. What's the point of free price tier without SSL. Did you guys even check?

[2019-02-13 21:36] slynickel commented on #24870
This doesn't answer the question about why new clusters can no longer be built on 1.11.5 without any notification anywhere (I also would like to know how we can be informed when that sort of thing is happening) but general updates on new releases appear to be available here. https://github.com/Azure/AKS/releases

That page does mention added Kubernetes server versions and deprecated Kubernetes ser

[2019-02-13 21:40] Mike-Ubezzi-MSFT commented on #24292
@markbeij Apologies for the hassles.  I hope to explain this to make it more clear.

The Azure Cosmos DB service will automatically take back-ups every 4 hours and will only ever keep two back-ups available (in rotation) to be restored at any given time (up to 30 days from the time the database is deleted). This defines the 8 hour time span. In the above example, there are two back-ups available a

[2019-02-13 21:40] #24292 closed

[2019-02-13 21:40] Alberto-Vega-MSFT commented on #15037
@FallenGameR  Was this issue resolved?

[2019-02-13 21:41] Milan991 opened #24895 "Error while following "Quickstart: Find available rooms by using Azure Digital Twins""
Hi, when I follow all instructions from "Quickstart: Find available rooms by using Azure Digital Twins", following error ocurres:

Can someone give meet a hint what may be wrong?

Thank you in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40122dc8-6ffa-cc83-102b-e3207f35efad
* Version Independent ID: 0e52b26d

[2019-02-13 21:41] Mike-Ubezzi-MSFT commented on #24470
@Contadmin We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-13 21:41] #24470 closed

[2019-02-13 21:42] Alberto-Vega-MSFT commented on #19262
@CHDAFNI-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-13 21:42] #19262 closed

[2019-02-13 21:43] spelluru commented on #21541
I have added a link to the queue comparison article from the "Compare messaging services" article.
https://docs.microsoft.com/en-us/azure/event-grid/compare-messaging-services#next-steps

#please-close

[2019-02-13 21:43] #21541 closed

[2019-02-13 21:44] spelluru commented on #20183
#please-close

[2019-02-13 21:44] #20183 closed

[2019-02-13 21:44] tastyeggs opened #24896 "Add a note about the rssh issue affecting linux clusters"
This issue also affects Macs since it is running Ubuntu:

https://blogs.msdn.microsoft.com/azureservicefabric/2019/02/07/known-issue-for-service-fabric-linux-clusters/

The blog isn't the best place to surface this kind of information. Anyone wanting to try out service fabric on mac/linux is going to get dissuaded immediately as the most basic getting started process breaks.

---
#### Document Det

[2019-02-13 21:47] dapostoladeloitte opened #24897 "Typo"
$spID = (Get-Az -ResourceGroupName myRG -Name myVM).identity.principalid should read "Get-AzResource"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d026e28c-2ee9-868d-5236-17f463aa9df1
* Version Independent ID: 1f180228-e0e3-a2df-8ff5-1210988aed3b
* Content: [How to assign a managed identity access to an Azure resourc

[2019-02-13 21:50] Mike-Ubezzi-MSFT commented on #24556
@atullalwani Apologies for the delay. For scenario 1, you will need to set-up monitoring to prevent maxing out at your given service tier. With regard to scenario 2, the PaaS offering for both database technologies  does have some limitations as you do not have direct access to the filesystem for log access or the conf.ini for configuration options. However, we can make some inaccessible configura

[2019-02-13 21:50] #24556 closed

[2019-02-13 21:51] Mike-Ubezzi-MSFT commented on #24564
@flynsequeira We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-13 21:51] #24564 closed

[2019-02-13 21:54] Alberto-Vega-MSFT commented on #24775
@kswider Thanks for helping us to improve the docs! I see that the Optional word was removed. https://github.com/MicrosoftDocs/azure-docs-pr/pull/66219/files

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-13 21:54] #24775 closed

[2019-02-13 22:00] femsulu commented on #24876
@kprpg a PR has been initiated to fix this omission. The update should be live in 24 hours. thanks again for catching this.

[2019-02-13 22:00] #24876 closed

[2019-02-13 22:06] yushwang commented on #24586
@Chase Dafnis<mailto:Chase.Dafnis@microsoft.com> – Yes.

#please-close

From: TravisCragg-MSFT <notifications@github.com>
Sent: Friday, February 8, 2019 12:30 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Yu-Shun Wang <Yu-Shun.Wang@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Clarify if "Active Active" mode works with multiple pol

[2019-02-13 22:06] #24586 closed

[2019-02-13 22:09] Grace-MacJones-MSFT commented on #24874
We will now proceed to close this thread.

[2019-02-13 22:09] #24874 closed

[2019-02-13 22:12] MicahMcKittrick-MSFT commented on #24896
@tastyeggs thanks for the feedback. I will assign this to the author and service fabric team to determine if they want to add a note in this doc until the issue is resolved.

[2019-02-13 22:13] Mike-Ubezzi-MSFT commented on #24569
@gangothriurs You are using this operator on the `_id` field which is system generated and `$in` is intended to search within a document. In cases where it is returning documents, it is likely these documents are linked to a parent document. Can you provide some examples by including full document Json in cases where it is working and not working. Thank you!

[2019-02-13 22:14] #15037 closed

[2019-02-13 22:16] TravisCragg-MSFT commented on #24726
@yourekillingmesmalls at this time Azure Stack still uses AzureRM. Azure Stack Powershell uses [specific versions of AzureRM, and they are documented](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-powershell-install).

[2019-02-13 22:23] gramhagen opened #24899 "add -y to all conda installs for consistency"
change ```conda install nb_conda``` to ```conda install -y nb_conda```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c6907a-8658-f29b-cce9-6af0a359f26b
* Version Independent ID: e41c8c19-d858-9a84-4b89-1b65bdd960a8
* Content: [Quickstart: Get started in Python - Azure Machine Learning service](https://docs.microsoft

[2019-02-13 22:23] MarileeTurscak-MSFT commented on #24869
Group Writeback is listed in the AD Connect release notes as a preview feature. Assigning this to @billmath to confirm.https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history

[2019-02-13 22:26] j-martens commented on #22648
@Blackmist

[2019-02-13 22:27] j-martens commented on #22648
@akshaya-a

[2019-02-13 22:27] MicahMcKittrick-MSFT commented on #24875
@EmanuelYuCorella are you actually seeing any problems with your VM? I am not understanding why you are looking to make a change.

But if you are, the doc you opened this issue on goes over how to change the license not the SKU.

You cannot change the SKU. Whatever SKU was deployed is what it is. So you would have to deploy a new SQL instance on whatever SKU you want.

https://docs.microsoft.com/e

[2019-02-13 22:31] TravisCragg-MSFT commented on #21482
@amcgregor1 Azure Stack does not support AAD authorization to storage accounts at this time, which is why this parameter does not currently work in Azure Stack. If you would like us to add this feature in the future, [please leave your feedback here](https://feedback.azure.com/forums/344565-azure-stack).

We will now proceed to close this thread. If there are further questions regarding this matte

[2019-02-13 22:31] #21482 closed

[2019-02-13 22:33] hpsin commented on #24804
Auth_codes are good for about 5 minutes.  We do have separate errors for expired or reused codes - both are very explicit in the issue.  The code here is clear that this is the result of something having too many or too few characters in it that is breaking the base64 decoding - it could possibly be the client secret as well.

What scope was this requested for? I see an odd branch in the logic tha

[2019-02-13 22:36] Mike-Ubezzi-MSFT commented on #24801
@5mdd To your first point (point A), yes it should work. With regard to point B, you can create multiple collections but you cannot use an SP to query all of those collections with a single SP. If you have 5 collections and wish to query all 5 via an SP, you are going to need to create 5 SPs and call each SP for each collection. With partition keys now the norm, it is best practice to use partitio

[2019-02-13 22:37] EmanuelYuCorella commented on #24875
Hello @MicahMcKittrick-MSFT

The vm is a migrated VM from on-premises, the current license is Standard with my License but when I tried to validate the license shows: sqlImageSku : Unknown

I'm able to change the

$SqlVm.Properties.sqlServerLicenseType="AHUB" or
$SqlVm.Properties.sqlServerLicenseType="PAYG"

but the properties sqlImageSku continues in status Unknown.

Regards.

[2019-02-13 22:38] MRITIF opened #24900 "Device Redirection after enabling Central NPS"
Dear,

How can we set up device redirection for specific RDCAP's after we enable the central NPS ?
With local RDCAP policies we can enable/disable "Device Redirection for client device types".

We have no option to do this in Central NPS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61df48bb-a963-b1f0-8f64-b55d0bd690

[2019-02-13 22:40] femsulu commented on #24892
@justinshroyer Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-13 22:43] MicahMcKittrick-MSFT commented on #24875
@EmanuelYuCorella ah I see. Yes it is because it is not deployed from the standard marketplace image that is has the Unknown.

How did you migrate it to Azure?

We do have a path to migrate on prem sql machines to Azure

https://docs.microsoft.com/en-us/sql/dma/dma-migrateonpremsqltosqldb?view=sql-server-2017

Also, after migration how did you build the VM in Azure?

[2019-02-13 22:48] EmanuelYuCorella commented on #24875
Hello @MicahMcKittrick-MSFT  we migrate the vm using Azure Site Recovery, there are 10 SQL server 2012 Standard servers.

How can I apply the SQL metered pricing for this kind of servers?

Regards.

[2019-02-13 22:51] femsulu commented on #24658
@davidroberts63, confirming the content is correct and links to the authoritative "Azure Products by Region" page. Azure Migrate is not available in all regions e.g. Azure Migrate is expected in China region in Q2 2019.
Just FYI - Azure Migrate shows as "GA" under "Non regional" which simply means the service has no dependencies to a specific region.
![image](https://user-images.githubusercontent.

[2019-02-13 22:51] #24658 closed

[2019-02-13 22:54] femsulu commented on #24688
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-13 22:54] #24688 closed

[2019-02-13 22:55] TravisCragg-MSFT commented on #24879
@yobyot both of those accounts should work in this case. Are you using an AAD or ADFS deployment?

[2019-02-13 22:57] femsulu commented on #24712
thanks, @georgewallace. assuming you have this in your backlog and it's ok to close.
@1trevor thanks again for the feedback. as George called out, we will add this to our doc-enhancement backlog. Now closing this issue but reply if you have any followup question.

[2019-02-13 22:57] #24712 closed

[2019-02-13 22:57] s-fordham commented on #19941
Hi Tom, I ended up creating a CSV manually by grabbing the information from your doc, it was quite painful as it took time and i also created a script to accompany it (It allows my colleagues to run it for customers with ease). I have a couple of extra columns in my csv (Resourceprovider and Resourcetypename) but i only placed them in there to be able to use Excel to join them together with '/' to

[2019-02-13 23:02] MicahMcKittrick-MSFT commented on #24875
@EmanuelYuCorella have you tried the steps in the last portion of this doc?

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-ahb#cannot-validate-argument-on-parameter-sku

[2019-02-13 23:10] DJackson625 commented on #22223
I'm having the same issue using Remedyforce. any updates on this?

[2019-02-13 23:12] soonwong commented on #24831
Thanks @KetanChawda-MSFT, much appreciated.  We might try separating out our functions to use the App Service Plan instead for those that are resource constrained.

[2019-02-13 23:17] kgremban commented on #23974
@hubez Checking in to see if you've had a chance to review the article changes.

[2019-02-13 23:22] TravisCragg-MSFT commented on #24868
@yobyot you are correct, the AzureStack\CloudAdmin account cannot be logged into on the ASDK host. You can use the CloudAdmin for running commands in the privileged endpoint.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-13 23:22] TravisCragg-MSFT commented on #24879
@yobyot I see in your other issue #24868 you are using AAD. You should still be able to log into the privileged endpoint or run commands in the privileged endpoint using the CloudAdmin account, but the AzureStackAdmin account will work as well.

[2019-02-13 23:25] Mike-Ubezzi-MSFT commented on #24881
@HeliosLHD Thank you for detailing the specifics as it helps to bring accuracy to the documentation. I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-13 23:25] msmbaldwin commented on #21884
This and all Azure Key Vault articles that reference Powershell have been updated with the Az module. Thanks for the suggestion, @tescales. #please-close

[2019-02-13 23:25] #21884 closed

[2019-02-13 23:26] Mike-Ubezzi-MSFT commented on #24881
@julieMSFT Can you review this and evaluate the document for possible improvement.

[2019-02-13 23:42] femsulu commented on #24785
@jzuchora87, AFAIK, this isn't supported via the Portal but checking internally to see if there is a way to do this via PowerShell or ARM template. In parallel, would be great if you can expand on the use case that requires sending same diagnostic data to multiple log analytics workspaces. what resource would be the source of the diagnostic data - VM?
Note  that it is possible to move existing wor

[2019-02-13 23:45] EmanuelYuCorella commented on #24875
@MicahMcKittrick-MSFT  these steps are for old versions of powershell, I´m running the cmdlets using powershell from azure portal.

Regards

[2019-02-13 23:45] femsulu commented on #24785
FYI - found a [similar request](https://github.com/MicrosoftDocs/azure-docs/issues/21860) on GH. it includes some sample code on how this could be achieved. please review and let me know if it answers your question. As said earlier, would be good if you can elaborate on the scenario/use case.

[2019-02-13 23:47] ChechesCOM commented on #8173
When i try to connect using the storage name and key it just loads forever and never connects...

[2019-02-13 23:48] MicahMcKittrick-MSFT commented on #24875
The commands look correct to me... The newest module is Az instead of AzureRM

You might consider opening a technical support ticket if you are unable to get the commands working properly. Do you have the ability to open one? If not, I could enable your subscription for that request.

[2019-02-13 23:49] Grace-MacJones-MSFT commented on #24854
Hi @egorantonov, have you tried Cognitive Search? It's a new capability on Azure Search?

"Cognitive Search allows you to apply enrichment and transformation steps to your data that we call Cognitive Skills. You can select from predefined skills or apply your own custom skill. The best way to transform your input data when you want to define your own function would be through a custom skill that y

[2019-02-13 23:51] Grace-MacJones-MSFT commented on #18707
@jwargo thanks for the update. We will now proceed to close this thread.

[2019-02-13 23:51] #18707 closed

[2019-02-13 23:54] #16294 closed

[2019-02-14 00:17] EmanuelYuCorella commented on #24875
Hello @MicahMcKittrick-MSFT  I opened a case this is the number:

Case 119021424000013

+ @Alberto-Vega-MSFT

Regards

[2019-02-14 00:20] SimonEast opened #24903 "Should this perhaps explain how to persist the application across reboots?"
This explains how to run the app from the command line, but nothing about keeping the NodeJS server running upon crashes/reboots. Does Azure have a recommended method for doing that? (systemd, forever?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d96bb1f6-db30-0051-c1d7-341dc170c392
* Version Independent ID: 2a5fec2

[2019-02-14 00:24] pioneering opened #24904 "Followed Bing Search API 7 Documentation - API - PHP not returning result"
https://docs.microsoft.com/en-us/azure/cognitive-services/bing-web-search/quickstarts/php

Followed tutorial on Bing.com here, however still could not get any result .

[code]

Print Result

`Your Query is: rabbit`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22a1768-c9c1-f9d0-6f8d-2474e79fed9b
* Version Independent

[2019-02-14 00:38] Mike-Ubezzi-MSFT commented on #24822
@codeputer The following clicks will get you to the functionality this document discusses:

Land on the database instance you wish to monitor and click on Resource Utilization (<database Name>)
![screenshot 261](https://user-images.githubusercontent.com/37126106/52753935-82187780-2fad-11e9-908a-bdc6cf8ac44f.png)

Click on `Add Metric`
![screenshot 262](https://user-images.githubusercontent.com/371

[2019-02-14 00:42] EmanuelYuCorella commented on #24875
@MicahMcKittrick-MSFT  When I run this commands I got this message:

Set-AzResource : Required property 'name' expects a value but got null. Path '', line 1, position 81.
At line:1 char:10
+ $SqlVm | Set-AzResource -Force -Debug
+          ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
+ CategoryInfo          : CloseError: (:) [Set-AzResource], JsonSerializationException
+ FullyQualifiedErrorId : Microsoft.Azure.Co

[2019-02-14 00:44] KeiroKamioka0000 opened #24906 "Is there are AutoScale Document for ASE v2?"
Is their any for App Service Environment v2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce8b9ab-528e-52bb-862c-ac25e565df86
* Version Independent ID: 2b1a321d-51cd-4f22-52de-de60da6f3dd0
* Content: [Autoscaling and App Service Environment v1 - Azure](https://docs.microsoft.com/en-us/azure/app-service/environment/a

[2019-02-14 00:46] v-maroge opened #24907 "Communication between Azure and Sendgrid"
Will it go over the internet, or will it stay inside Microsoft/Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-84af-7900-5aa34b361ffd
* Version Independent ID: f202a678-4853-d024-55c5-19f89558415c
* Content: [How to use the SendGrid email service (.NET)](https://docs.microsoft.com/en-us/azure/sendgr

[2019-02-14 00:52] gopitk commented on #24813
#please-close

[2019-02-14 00:52] #24813 closed

[2019-02-14 00:56] imeya commented on #24840
@AmanGarg-MSFT, thank you. it works now.  I forgot giving this option a try :(

[2019-02-14 00:56] Karishma-Tiwari-MSFT commented on #24746
@asinn826 Would you be able to share your insights on the customer's question. Thanks :)

[2019-02-14 01:10] Karishma-Tiwari-MSFT commented on #24776
@goenning I can totally understand your point. We do have a backlog work item open to make the documentation more clear.

Here is the [answer](https://github.com/MicrosoftDocs/azure-docs/issues/23154) from the doc author which I think will help answer your questions.

[2019-02-14 01:14] codeputer commented on #24822
Thanks - but I tried to then clicking the the "New Alert Rule" and it will fail.  I have found no way to create an alert on the DTU percentage and send an email if the % is exceeded.

[2019-02-14 01:21] Karishma-Tiwari-MSFT commented on #24794
@asc-adean To help me understand better, can you please elaborate a little more on the ask? I see that you opened the issue for [AAD login for Linux doc](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad ), can you please confirm this is the doc you are referring to.

[2019-02-14 01:35] SaurabhSharma-MSFT commented on #24900
@MRITIF Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-14 01:36] SaurabhSharma-MSFT commented on #24897
@dapostoladeloitte Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-14 01:38] Alberto-Vega-MSFT commented on #24895
@Milan991 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-14 02:03] btardif commented on #24906
Autoscale for apps hosted in ASEv2 should be configured the same way as you do for apps hosted in regular azure. You just need to set up rules for the App Service plan. there is nothing special here as was the case with ASEv1

[2019-02-14 02:09] Alberto-Vega-MSFT commented on #24904
@pioneering Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-14 02:23] Alberto-Vega-MSFT commented on #24907
@v-maroge Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-14 02:27] Alberto-Vega-MSFT commented on #24907
@v-maroge Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-14 02:45] GordonLam opened #24909 "[Clarification] What is the impact on "Location" parameter?"
There is no explanation on how "Location" choice will impact on what.

As a Developer/IT pro, I am super careful on Availability, Disaster Recovery and Performance.

When I see there is "choice" of "Locations", does it mean:
a. It is only available to be used in THAT location?
b. What if that Location's Region is down, will the User-Managed Identity go away?
c. If I use that User-Managed Identity

[2019-02-14 03:56] rahulchoudhary242 opened #24910 "Mandatory option missing in Create database command"
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/oracle-database-quick-create
----- >under "Create the database:" ---->

-datafileDestination is missing in createdatabase command. create a directory (say /u01/data) or use any existing directory.

see the working command below (look at the bottom for change.)

dbca -silent
-createDatabase
-templateName General_Purpose.dbc
-g

[2019-02-14 03:58] AmanGarg-MSFT commented on #24840
@imeya You are welcome. Glad to know it works :) We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-02-14 03:58] #24840 closed

[2019-02-14 04:39] Mike-Ubezzi-MSFT commented on #24822
@codeputer I have this set-up and will detail how to configure this functinality. In the meantime, this document is specific to setting up email alerts: [Create Alerts for Azure SQL Database and SQL Data Warehouse using Azure portal](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-insights-alerts-portal).
The document you created this GitHub issue under pertains to creating differ

[2019-02-14 04:44] IanMercer opened #24912 "Prerequisites list is missing the Azure AD Powershell Module"
https://www.powershellgallery.com/packages/AzureAD/2.0.2.4
or Install-Module -Name AzureAD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49643811-ee04-ae88-8153-aad4cc009b73
* Version Independent ID: d1e1f15d-d988-7951-e453-f10ed6bb20bf
* Content: [Use a Windows VM system-assigned managed identity to access Azure AD G

[2019-02-14 04:49] swinarko commented on #24867
It's correct that "Data Factory IPs" are inclusive to Azure Batch IPs that are used to access/manage SSIS IR nodes/VMs.  They're dynamic and a new NIC-level NSG is automatically created whenever SSIS IR is restarted, so you shouldn't manage/restrict them with a subnet-level NSG.  Traffic between ADF infra, including Azure Batch, and SSIS IR is always routed over our Azure backbone.

[2019-02-14 04:51] ArthurDumas commented on #24844
Can you tell me if the following method of template customization is supported? I opened the Sign In Sign Up v2 ocean blue templates for unified and local in the browser to capture the rendered html:
https://xxxxx.b2clogin.com/static/tenant/templates/AzureBlue/unified.cshtml
https://xxxxx.b2clogin.com/static/tenant/templates/AzureBlue/selfAsserted.cshtml

I uploaded my SVG logo to blob storage. I

[2019-02-14 04:56] IanMercer opened #24913 "Connect to Azure AD should mention -TenantId"
It's likely that someone following this may need to connect to an Azure AD used for DevOps rather than their corporate AD so the use of a -TenantId parameter on the connect command is probably necessary in many cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49643811-ee04-ae88-8153-aad4cc009b73
* Version Independ

[2019-02-14 05:04] RohitMungi-MSFT commented on #24899
@gramhagen Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-14 05:04] RohitMungi-MSFT commented on #24894
@rramani Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-14 05:04] RohitMungi-MSFT commented on #24890
@curtisvvGit Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-02-14 05:24] ejazr83 opened #24914 "Code examples and libraries in other languages like Java"
.NET code libraires are great but can be get some v2 libraries and tutorials for other languges for this scenario particularly in Java and/or javascript?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fd30f7f-e5ce-67d5-2536-ee1d115a573d
* Version Independent ID: 6979c76f-48f2-1d2a-1358-ab1b6998bfd3
* Content: [Azure A

[2019-02-14 05:41] raghavan20 commented on #23265
okay, i understand that is just operation timeout to publish a message. i will use the TTL setting on edgeHub to set messages not to expire for my use case.

Can you suggest options to monitor Rocks DB?
- number of messages getting expired
- growth of disk size (either consuming module is offline or REJECT's message for some reason and producing module keeps producing)

[2019-02-14 05:50] sergaz-msft commented on #24349
Hello @mmjensen please let us know the document this issue relates with. Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

Thank you so much!

[2019-02-14 06:05] wilsonchua20 commented on #23489
how to solve this? i'm getting 400: bad request for url https://westus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1?language=en-US
I set the ff headers:
            con.addRequestProperty("Content-type", "audio/wav; codec=\"audio/pcm\"; samplerate=16000");
            con.addRequestProperty("Ocp-Apim-Subscription-Key", subscriptionkey);

[2019-02-14 06:21] KrishnaG-MSFT commented on #24552
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-14 06:21] #24552 closed

[2019-02-14 06:22] nkumars opened #24916 "Screen shots required for proper understanding"
Please provide some of the screenshots to be more precise with the steps, I find it difficult to follow some of the steps. For eg,

**Under Application type, select Web application.** _(I was not able to find Application type)_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9d9c00-1382-c578-6b0d-7b5f9d63eebd
* Versio

[2019-02-14 06:26] ManojReddy-MSFT commented on #24897
@dapostoladeloitte Thanks for reporting this. It should have been Get-AzVM as explained in the doc.
 "In this example, we are giving an Azure VM access to a storage account. First we use **Get-AzVM** to get the service principal for the VM named myVM, which was created when we enabled managed identity."

I have updated the doc accordingly and it will be published shortly.

[2019-02-14 06:27] RohitMungi-MSFT commented on #24319
@blitzprecision I have found a [similar issue](https://social.msdn.microsoft.com/Forums/en-US/3f0d08cd-4a53-4445-ab11-597725115793/after-deploying-ml-model-got-time-out-when-call-the-service?forum=AzureMachineLearningService#84a20283-0ad8-441f-8ce4-4984f4b17f21) in one MSDN forum and the suggestions provided by community for the same. We will also reach out to product group team to check if they c

[2019-02-14 06:38] blitzprecision commented on #24319
Thanks Rohit. I looked at the thread. This surely helps. I think since I expect this job to take up some time, I will try the AmlCompute VM cluster for batch scoring. Appreciate your response on this even when the issue was closed.

[2019-02-14 06:41] Hiteshgkapoor opened #24917 "'Enable Javascript' option is not visible"
Currently 'Enable Javascript' option and page contract is not visible in Azure Portal. There is no notes in the documentation either. Any timeline on when these options will be visible again?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6306707-232b-1107-b77f-bab68d4df18f
* Version Independent ID: d2cb87a8-e3ba-844b

[2019-02-14 06:42] scegg opened #24918 "Cannot save backup configuration"
Cannot save configuration -- will always failed but it seems that the setting is applied. But cannot perform a backup, 403 always.
Cannot reset configuration either --  will always failed but it seems that the setting is removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4754bcfc-204a-d398-6b86-e452cd0d44a1
* Vers

[2019-02-14 06:49] jakaruna-MSFT commented on #24903
Thanks for the question! We are investigating and will update you shortly.

[2019-02-14 06:50] #24897 closed

[2019-02-14 06:57] SumanthMarigowda-MSFT commented on #21821
@rahulunlimited  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-14 06:59] richpowell opened #24919 "free account"
Does https work on the free account tier? I ran through this setup. The vm runs and I can ssh into it.  I see 443 open in the azure portal, but I can only get to nginx with http not https.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 996eb4d1-198e-a69a-b9c5-d247db46d025
* Version Independent ID: 5bfe27b3-22e9-efa8-6a

[2019-02-14 07:00] ManojReddy-MSFT commented on #23887
@richie1080 Sorry for the delayed response. *.cloudapp.net doesn't require whitelisting and is not recommended as well. *.cloudapp.net is used primarily for Azure applications /cloud services and is generated automatically by the azure system whenever we deploy certain services like web apps / coud services etc.  You can learn more about this [here](https://blogs.technet.microsoft.com/ptsblog/2012

[2019-02-14 07:02] ramadarla commented on #13902
Dear,  I had issues connecting from office network, however I have tested RDP to scale set public IP it worked perfectly. I have 3 instances in scalsets with each associated with port 50000,50001, and 50004 these are Windows 10 machines able to RDP.

[2019-02-14 07:03] ganga1980 commented on #24887
@stgraves, thanks for the feedback. your right. This is doc issue. We need to fix in our doc.  @MGoedtel, would you able to help on fixing this issue?

[2019-02-14 07:04] ramadarla opened #24920 "Can we change thes NAT rules or IP to a different number as wish?"
Can we change thes NAT rules or IP to a different number as wish?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ac55b8-8be8-1f86-e3b1-3fe3f6c340c1
* Version Independent ID: c26d3fc8-b62c-4895-3687-2fc7364c6383
* Content: [Quickstart - Create a virtual machine scale set in the Azure portal](https://docs.microsoft.com

[2019-02-14 07:05] wilsonchua20 commented on #23489
is there a prerequisite to build your own custom model, or can we just send audio file and it will be converted to text?

[2019-02-14 07:07] shashishailaj commented on #24913
@IanMercer Thank you for your feedback . We will investigate and update this thread.

[2019-02-14 07:08] shashishailaj commented on #24912
@IanMercer Thank you for your feedback . We will investigate and update this thread.

[2019-02-14 07:10] SadiqhAhmed-MSFT commented on #24423
@alvipeo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-14 07:10] #24423 closed

[2019-02-14 07:13] jakaruna-MSFT commented on #24795
@romitgirdhar Please take a look at this issue

[2019-02-14 07:13] SadiqhAhmed-MSFT commented on #24528
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-14 07:13] #24528 closed

[2019-02-14 07:14] anqzha commented on #24281
@Utthirabalaji , the powershell support for this connector hasn't been ready. To mitigate, you can author & edit your pipeline on ADF UI.
This link for your reference: https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-portal#create-a-data-factory

[2019-02-14 07:17] kirantsp commented on #24474
Great Micah, appreciate your efforts for keeping a pointer on this item...In the meantime, will go through the links provided by you and see if i can pull something out of it, while waiting to get the documentation updated. Will keep you posted if i find anything - Thanks again, Kiran...

[2019-02-14 07:19] KrishnaG-MSFT commented on #24745
@vgorbenko any insights on this please ?

[2019-02-14 07:20] YASWANTHM-MSFT commented on #24481
@jochenvanwylick, I’m able to reproduce the same at my end, could you please try to check once by using the below Azure cli commands.
`#Create a resource group
az group create --name storage-demo-rg --location westeurope`

`#Create a Azure data lake generation 2
az storage account create --name storagequickstartjvw --resource-group storage-demo-rg --location westeurope --sku Standard_LRS --kind St

[2019-02-14 07:21] ManojReddy-MSFT commented on #24917
@Hiteshgkapoor Thanks for the feedback. I have assigned this to the author to update with details regarding timeline.

[2019-02-14 07:37] shashishailaj commented on #24914
@ejazr83 Thank you for your feedback . As of now we have the following samples which specifically target v2 endpoints. However we do agree that we have an opportunity there .

Java / Android :- https://github.com/Azure-Samples/active-directory-android-native-v2
Javascript / .net Backend :- https://github.com/Azure-Samples/active-directory-javascript-singlepageapp-dotnet-webapi-v2
NodeJS/WebAPI :-

[2019-02-14 07:39] shashishailaj commented on #24914
@jmprieur  Could you please check if more of Java/Javascript v2 samples are available internally which could be published?

[2019-02-14 07:42] cveld opened #24921 "Timer trigger rounding"
Can you describe the expected behavior of a timer trigger with a span of just 1 second? It doesn't seem to work as expected. When in a monitoring situation for e.g. 10 seconds, the timer trigger gets fired multiple times during 1 second instead of only 1 time per second. The result is that this monitoring situation is looping many times more than the expected 10 times.

As soon as we increase the

[2019-02-14 07:50] ManojReddy-MSFT commented on #24912
@IanMercer Thanks again for reporting this. I have added the PS requirement to the prerequisite list and it should be updated shortly.

[2019-02-14 07:53] SumanthMarigowda-MSFT commented on #23896
@jn-altius We have made the necessary changes in the documents and it will be updated soon.

[2019-02-14 07:53] shashishailaj commented on #24912
We will now close this issue. We already have a pull request associated with this and it will be updated once approved by the author in the pipeline. thank you.

[2019-02-14 07:53] #24912 closed

[2019-02-14 07:54] SumanthMarigowda-MSFT commented on #24649
@danchemistruck  We have made the necessary changes in the documents and it will be updated soon.

[2019-02-14 07:56] SadiqhAhmed-MSFT commented on #23433
@dcbrown16 Thanks for your patience! We've update the link and the changes should reflect in few hours or by early tomorrow.

[2019-02-14 07:57] msrini-MSIT commented on #24919
@richpowell , Thank you for posting your question here.

Can you do a "netstat -ano" and check if port 443 is locally open. If yes, can you check in your IP tables whether port 443 is allowed.

Let me know the results.

[2019-02-14 07:58] shashishailaj commented on #24909
@GordonLam thank you for your feedback . We have assigned this to the author for improving the content after review with engineering team. This may take some time however we will have it looked into and get this thread updated.

[2019-02-14 07:59] shashishailaj commented on #24909
@priyamohanram Could you please have the above request reviewed if the document can be enhanced wit the information requested ? Thanks.

[2019-02-14 08:01] SychevIgor opened #24922 "Price for Servicebus? (Is it free to use gateway)"
In a section https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-gateway-install#how-does-the-gateway-work you mentioned that under the hood will be used ServiceBus. After some research - I didn't find is ServiceBus dedicated for my or not, as well as - should we pay something for this ServicesBus or anything else that will be provisioned to support on-premises data gateway.

Could you ex

[2019-02-14 08:02] shashishailaj commented on #24916
@nkumars Thank you for your feedback . We will have this request reviewed and update the thread accordingly.

[2019-02-14 08:02] shashishailaj commented on #24916
@davidmu1 Could you please check if screenshots can be added to this article for enhancement ?

[2019-02-14 08:03] msrini-MSIT commented on #24920
@ramadarla , Thank you for posting here.

NAT rules are basically used to use the same IP address of your Load balancer and distribute the traffic by doing Port Address Translation.

In this case, can create a NAT rule with the IP address of the Load Balancer (you can choose any IP address which is assigned to the Frontend of Load balancer) and configure any port except the ports configured for ru

[2019-02-14 08:06] Hellhound105 commented on #24864
Hi @Alberto-Vega-MSFT

Thanks. First time posting. Tried linking it but guess I need to read the "How to".

Was trying to find out how to setup Log Analytics to send out emails when a sign in fails.

https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-install-use-log-analytics-views

Got everything setup even the 2 views however it would seem the logs does not pull thr

[2019-02-14 08:10] 5mdd commented on #24801
I used the read-write key.

`/H3EYAOXXXXXXXXXXXXXXgA==` is the "name" of the SP attributed by Storage Explorer (instead of `/ spCreateToDoItem`) when creating it... see picture 9.a (bottom left)

[2019-02-14 08:11] SubhashVasarapu-MSFT commented on #24178
@isshukla We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-14 08:11] #24178 closed

[2019-02-14 08:18] andyzhangx opened #24923 "azure file on k8s doc issue"
## Creating an issue
There are two issues about the below doc:
https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv

 - 1. create storage account in the beginning is little hard to use for customers, we could let k8s create storage account directly by not specifying `storageAccount` field, e.g.
[code]
By above config, k8s will create or search a storage account in the same resource gr

[2019-02-14 08:23] mcurko opened #24924 "Questions (for Windows VMs)"
1. Were a VM dealocated at the moment of a scheduled update, would it be automatically started for the update to take place on it?
2. "If you don't actively manage updates by using this solution, the default behavior (to automatically apply updates) applies." =&gt; What exactly does "actively manage" mean; if I turn on update management on a VM, and then not deploy any update for, let's say, 3 mon

[2019-02-14 08:26] RohitMungi-MSFT commented on #24829
@amang2205 Thanks for checking. I will proceed to close this issue now.

[2019-02-14 08:26] #24829 closed

[2019-02-14 08:27] SadiqhAhmed-MSFT commented on #24495
@cap273 For deployment planner the unit of data measurement is in GB.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-14 08:27] #24495 closed

[2019-02-14 08:46] RohitMungi-MSFT commented on #24848
@AndyCW The author of this document @diberry has updated the [document ](https://docs.microsoft.com/en-gb/azure/cognitive-services/luis/luis-concept-best-practices#do-add-phrase-lists-and-patterns-in-later-iterations)to address the issue by adding links to phrase list features. Does this help in understanding the benefits of adding phrase lists?

[2019-02-14 08:56] MedAnd commented on #24758
@HeidiSteen - seems the PR link is broken but appreciate the doc changes and look forward to reading them once published.

[2019-02-14 08:58] RohitMungi-MSFT commented on #24847
@AndyCW The author of this document @diberry has updated the [document ](https://docs.microsoft.com/en-gb/azure/cognitive-services/luis/luis-concept-best-practices#do-add-phrase-lists-and-patterns-in-later-iterations)to address the issue of using phrase lists before traffic. Could you please verify if these provide more clarity on using phrase lists?

@diberry Thanks for updating the document.

[2019-02-14 09:06] PramodValavala-MSFT commented on #24823
@smidley Just following up here... Hope my previous comment helps.

[2019-02-14 09:13] PramodValavala-MSFT commented on #24850
@jochenvanwylick I believe you are referring to a different doc, specifically this one - [Azure Function Event Grid Trigger Local Debugging](https://docs.microsoft.com/en-us/azure/azure-functions/functions-debug-event-grid-trigger-local). Could you confirm?

If so, I see that the doc does mention the correct URLs.

[2019-02-14 09:27] SychevIgor commented on #18936
@Adam-Smith-MSFT it also be nice to add a sample here https://github.com/Azure/azure-quickstart-templates

[2019-02-14 09:28] kirantsp commented on #24474
Update#1: tried uninstalling gems - azure_mgmt_resources (0.9.0) & azure_mgmt_network (0.9.0) using "chef gem uninstall <<gemname>> --version 0.9.0", restarted the VM and executed "knife azure image list" to get the same conflict error...

[2019-02-14 09:32] cyau73 opened #24925 "Runtime Error - Server Error in '/azurejobs' Application"
Getting this error since 8th Feb 2019. Not sure what is the issue.

Runtime Error
Description: An application error occurred on the server. The current custom error settings for this application prevent the details of the application error from being viewed remotely (for security reasons). It could, however, be viewed by browsers running on the local server machine.

Details: To enable the details

[2019-02-14 09:34] pranabdas457 commented on #24842
Please find the link below:

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstart-csharp-dotnet-windows

[2019-02-14 09:35] bogan opened #24926 "Install Instructions Should Give Some Indication of the Size/Time of the Install Process"
The installation section gives no indication of the size or length of time required to install the tool. Specifically, the install involves a download of a large file which takes a long time, especially with a slow internet connection. Furthermore, I am installing on Windows using NPM, but NPM compounds the problem by not giving me any progress information for the download. It is therefore hard to

[2019-02-14 09:40] SychevIgor commented on #18936
I did some research using ArmExplorerBlade. For storageacc1 static website was disabled. For storageacc1 it was enabled. Comparison shows only one field as a diff : in a storageacc1 was extra field
 "azureFilesAadIntegration": false,
But to be fair, it's not like something significant for static web apps.
Check here https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/allversions als

[2019-02-14 09:52] jochenvanwylick commented on #24481
az group create --name storage-demo-rg --location westeurope
az storage account create --name storagequickstartjvw --resource-group storage-demo-rg --location westeurope --sku Standard_LRS --kind StorageV2 --hierarchical-namespace true

[2019-02-14 09:54] imeya opened #24927 "Can the data be restored if expired?"
If the data stored in event hubs expired the configured retention time, and not be captured to blob storage / azure data lake, is there any chance to restored it? or it will be deleted permanently?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71093e2a-bbff-3a79-5f16-289a3a5f6cd7
* Version Independent ID: e4e9873d-0ae

[2019-02-14 09:54] amrik2309 commented on #12839
The problem that we are facing with this ResourceGroup is that, if we have enabled the policy "Deny resource deplpoyment without tags", the RG is created but because of this policy, I am assuming the snapshots are not being created as they cant be tagged and the backup of Azure VM fails. Any way to work around this ?

[2019-02-14 09:54] angoyal-msft commented on #23948
@Ayanmullick Windows CA issues a RSA 2048 key. So, there no issue in generating the key such that it can be imported into key vault. Depending on the infrastructure and scenario it might not be that of a big deal to be exposed in virtual network (memory) before getting imported into AKV.

But it don’t seem to solve any purpose other than keeping a copy of the key material on-premise.

Please let u

[2019-02-14 09:57] jochenvanwylick commented on #24481
Hi @YASWANTHM-MSFT  - so you mean you _cannot_ reproduce, right? I'm very sorry - but I still encounter the same issue. I literally copy pasted your command and I get the error message.

But isn't the issue with the thing written on your screen ? It says on your screenshot: 'The behavior of this command has been altered by the following extension: storage.preview' - I don't have that and we're doi

[2019-02-14 10:03] RohitMungi-MSFT commented on #24894
@rramani I ran the steps in the notebook without facing any issue with the documented steps. Could you please confirm if these pre-requisites were satisfied?

1. A machine learning workspace
2. The configuration file for the workspace in the same directory as the notebook

For the second point if the config file is not present in the tutorials directory it would check in the parent directory for t

[2019-02-14 10:04] marioanton commented on #24871
Thanks!

[2019-02-14 10:04] marioanton commented on #24871
#pleaseclose