[2019-08-30 13:49] KetanChawda-MSFT commented on #38058
@ToMakeSense Thanks for the feedback! I have assigned the issue to the content author @ggailey777  to evaluate and update as appropriate.

[2019-08-30 13:54] Erikcperkins commented on #21040
After migrating a user to cloud only. Then joining that users machine to Azure AD. I run CMD whoami and I’m showing a return value of previousDomain/username, and not AzureAD/user like I would if the user was created in AzureAD/O365.

It seems like the tenant still believes the user is hybrid or mastered outside the cloud.

Is this a bug? Im trying to do a full cloud only migration and this was ve

[2019-08-30 14:00] jjindrich commented on #36838
Same problem is in connection string - https://docs.microsoft.com/en-us/azure/iot-edge/how-to-authenticate-downstream-device#connect-to-iot-hub-through-a-gateway
There is stated that you can use this connection string HostName=myGatewayDevice;DeviceId=myDownstreamDevice;SharedAccessKey=xxxyyyzzz
But without GatewayHostName attribute I getting error Unhandled Exception: System.FormatException: Miss

[2019-08-30 14:05] RyanHill-MSFT commented on #38062
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-30 14:09] SamaraSoucy-MSFT commented on #38065
@rwatjen Thank you for your feedback. I will investigate and get back with you shortly.

[2019-08-30 14:17] torresdiego opened #38075 "Doubt about staged copy"
In the Stage copy section, item labeled "You don't want to open ports other than port 80 and port 443 in your firewall because of corporate IT policies", it states that if I want to copy data from an on-premise source to a cloud sink I have to open outbond 1443 port, but I understand that when I use a self-hosted IR all communications to a cloud sink go through HTTPS (443). Assuming my on-prem SQL

[2019-08-30 14:17] iamanuradha commented on #36641
Any update on the issue!
Thanks,
Anuradha

On Wed, Aug 21, 2019 at 4:31 PM Anuradha Joshi <joshianun@gmail.com> wrote:

[2019-08-30 14:18] ram-msft commented on #37832
@kishan19 Could you please add more details of what issues/errors seeing while running in AML compute.
@heatherbshapiro Could you please share any road map to support.

[2019-08-30 14:19] mmacy commented on #36516
@felickz Apologies on the delay. Still working to get you a solid answer on this.

Cc: @rojasja @yoelhor

[2019-08-30 14:23] GuyHarwood commented on #12978
the documentation describes using filter and take to specify what you want to retrieve in javascript but there is no further documentation on this.  please provide

[2019-08-30 14:29] craigshoemaker commented on #33576
Per @brettsam's comment I am going to #please-close this issue for now.

[2019-08-30 14:29] #33576 closed

[2019-08-30 14:33] GuyHarwood commented on #31001
sorely missing javascript samples, especially the filter and take properties for looking up table storage items

[2019-08-30 14:40] jasondown commented on #37100
Just curious if a separate ticket was opened with the VS team on this one. I'd like to follow that ticket if possible.

[2019-08-30 14:45] Canis-Lupis opened #38076 "Does not work with office.com"
As indicated in the article, after setting branding, the new branding shows up in outlook.com.  However, we have users log in to Office.com where it does not show up (except, oddly enough, when logging off).  If there's a separate process for branding for office.com logon can you add it to the article? Or, if that cannot be branded, can you put a mention that it doesn't work for Office.com?

---
#

[2019-08-30 14:48] genlin commented on #36184
@Bafff  I have restructured the Troubleshooting page. I will process to close this issue. Free feel to let me know if you have any suggestion or comments. Thanks.``

#please-close

[2019-08-30 14:48] #36184 closed

[2019-08-30 14:49] RyanHill-MSFT commented on #37859
Thanks for that information @mbrancato. It's definitely peaked my interest. However, I don't believe we have any documentation that covers an MSI retry policy. I'll assign this issue to the doc author (@mattchenderson) so they can be apprised and make doc enhancements as soon as the information becomes available.

[2019-08-30 14:52] PiKappZ746 opened #38077 "Please add Sign-in error code 530001"
We are seeing error code 530001 from Application "OneNote Meeting Details" on an iOS device.  It's being triggered by our Exchange Conditional Access policy on a device that is reporting as compliant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-

[2019-08-30 15:00] ggailey777 commented on #37100
@jasondown a reasonable request (I meant to put this in here 😉 )
https://developercommunity.visualstudio.com/content/problem/704929/azure-functions-application-settings-dialog-doesnt.html

[2019-08-30 15:02] ggailey777 commented on #12978
#reassign:craigshoemaker

[2019-08-30 15:08] mmacy commented on #37846
@alfredorevilla @illgitthat UPDATE: You can find the pre-migration solution referenced in the article here:

https://github.com/azure-ad-b2c/user-migration/tree/master/pre-migration/source-code

And the sample policy files:

https://github.com/azure-ad-b2c/user-migration/tree/master/pre-migration/policy

I'm in the process of updating the article now. Thanks again for your patience!

[2019-08-30 15:09] ryandle commented on #38046
@souravmishra-msft sorry, I put the cmdlet in the title of this issue but not in the body.

The cmdlet in question is

from the section `Use a shared secret credential to sign into Azure AD`

[2019-08-30 15:16] #37846 closed

[2019-08-30 15:17] craigshoemaker commented on #35588
Since access to `BindingContext` during setup is not currently possible, I am going to #please-close this issue.

[2019-08-30 15:17] #35588 closed

[2019-08-30 15:29] isinghrana commented on #34827
I also have MFA enabled account, login using Azure AD authentication on Query Editor takes some time and then fails but if I click Continue it works just fine. So, its not a blocker but not a good experience. Is this expected to be resolved soon?

[2019-08-30 15:30] KristiRyder commented on #34437
I have a few requests from customers that are wanting to include payload information in the log files. Is this a possibility for the diagnostic logs?

[2019-08-30 15:34] #37977 closed

[2019-08-30 15:43] VanMSFT commented on #38041
@dcbrown16 @KalyanChanumolu-MSFT - The settings in these articles are correct. When creating a SQL Database Server, the setting to Allow Azure Services is unchecked by default. However, when you go to Set server firewall, the setting is on by default.

@rohitnayakmsft - Rohit, is there a contradictory in the product?

[2019-08-30 15:46] asc-adean commented on #34437
I was directed here by KristiRyder as I had a similar question about getting payload (request/response) logs accessible through this feature.

[2019-08-30 16:15] mmacy commented on #37156
@leniel Hi Leniel, it turns out that this issue is in-part related to #37846. At some point, there was some shuffling around/reworking of the code samples and policy files referenced by the article, but the article wasn't updated to reflect those changes. This has of course caused the article text and code samples to drift such that the article text is now out-of-date in some places. We're working

[2019-08-30 16:17] KranthiPakala-MSFT commented on #37888
@isinghrana Thank again for reporting this to us. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2019-08-30 16:17] KranthiPakala-MSFT commented on #37888
Hi @linda33wj, Could you please have a look at this? - Thanks!

[2019-08-30 16:17] ChristianMontoya commented on #32891
@GuyPaddock : Thanks for the suggestion, and we updated the recommendation to 3 hours.

[2019-08-30 16:18] ChristianMontoya commented on #32891
#please-close

[2019-08-30 16:18] #32891 closed

[2019-08-30 16:19] TomaszOledzki opened #38079 "Azure SQL Database gateway IP addresses hosted in a more friendly way"
Would be nice to have a "Azure SQL Database gateway IP addresses" list in a more friendly (for a developer) way - as a Json hosted somewhere. Similarly Traffic Manager Team is hosting their IP Addresses: https://azuretrafficmanagerdata.blob.core.windows.net/probes/azure/probe-ip-ranges.json (What are the IP addresses from which the health checks originate?: https://docs.microsoft.com/en-us/azure/t

[2019-08-30 16:20] KranthiPakala-MSFT commented on #38064
@blueelvis Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-08-30 16:24] KranthiPakala-MSFT commented on #38069
@brijrajsingh Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2019-08-30 16:26] elafnitzegger commented on #38049
I started with this tutorial: Tutorial: Build an ASP.NET app in Azure with SQL Database

[2019-08-30 16:26] joalcava commented on #33417
@AjayKumar-MSFT  I have set the WEBSITE_TIME_ZONE but the time is still incorrect, how can I fix it?
![image](https://user-images.githubusercontent.com/7592783/64036475-e4cffb80-cb18-11e9-9efb-190870ea0b85.png)
Time should be 11:24

[2019-08-30 16:29] NavtejSaini-MSFT commented on #38040
@Kirlac  We are checking with author regarding the same and get back to you.

@ThomasWeiss Please check the user question and try to give any insight.

[2019-08-30 16:34] NavtejSaini-MSFT commented on #38079
@TomaszOledzki We are assigning this to author to check this issue.

@rohitnayakmsft Please convey if the JSON can be added for-
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-architecture#azure-sql-database-gateway-ip-addresses

Like it has been done for -
 https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-faqs#what-are-the-ip-addresses-from-whi

[2019-08-30 16:34] hpsin commented on #33649
Hi @xwipeoutx - it's an optional part of the device code flow standard, and some folks who read the standard want to know if we support it.  So we say up front that it's not so they don't have to wonder.

[2019-08-30 16:36] hpsin commented on #35797
@rwike77 please assign to me, that's my mistake.

[2019-08-30 16:40] FrankHu-MSFT commented on #38005
Hey @jonwbstr i'm following up on this issue, can you please respond in regards to the last post sent out?

[2019-08-30 16:41] djpmsft commented on #22674
Hi @Stanpol ,

Parameters are created at the pipeline level and assigned during trigger time. To create a pipeline parameter, click on the **Parameters** tab in the pipeline panel. To find specific system variables to pass in at trigger time, see [System Variables](https://docs.microsoft.com/azure/data-factory/control-flow-system-variables).

I understand this may not be inherently clear in the do

[2019-08-30 16:47] FrankHu-MSFT commented on #37917
Hey @test123114 I see, we need more information to determine what's going on because we don't have your tokens or network traces.

The issue is most likely that whichever endpoint you're trying to validate the access token against doesn't have the KID. (i.e. : https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration)

Have you made sure that your tenant ID and client id are c

[2019-08-30 16:49] ggailey777 commented on #19949
@yodobrin I will add a note about the issue when not using **Run from package**. However, it sounds like there may also be a bug here too. @yodobrin can you also report this to the VS folks using the reporting built into the IDE?
![image](https://user-images.githubusercontent.com/1388263/64037782-586b0c00-cb0b-11e9-9aa5-ef5e735b52bb.png)
It would be great if you could cross-link the two issues for

[2019-08-30 16:53] rwike77 commented on #35797
#reassign:@hpsin  @hpsin, thanks.

[2019-08-30 16:54] djpmsft commented on #18109
This article outlines the system variables that are generated by the Data Factory service itself. Dataset parameters are user-defined parameters.

For example, @dataset.getFileName is not available by default in a dataset. A user has to go into the specific dataset and add it via the **Parameters** tab. @pipeline().RunId can be used in dynamic content anywhere in the pipeline without having to be

[2019-08-30 16:54] #18109 closed

[2019-08-30 16:58] devropes commented on #38016
Is there any way to get the id part, "0a76a5022e79468e8882424e0c1780df", in the url?

https://ussouthcentral.services.azureml.net/subscriptions/6c7208e467ff4407b0e11b63b78beab0/services/0a76a5022e79468e8882424e0c1780df/execute?api-version=2.0&format=swagger

[2019-08-30 16:58] rwike77 commented on #32287
@hpsin, can you comment on this?  Thanks.

[2019-08-30 16:59] ggailey777 commented on #15881
#reassign:craigshoemaker

[2019-08-30 16:59] FrankHu-MSFT commented on #38050
@kkmathigir Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-30 16:59] FrankHu-MSFT commented on #38076
@Canis-Lupis Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-30 16:59] FrankHu-MSFT commented on #38077
@PiKappZ746 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-30 17:01] rwike77 commented on #33649
@hpsin, thanks for the info.  @xwipeoutx , @xtofs I'll add this info to the article.

[2019-08-30 17:01] RyanHill-MSFT commented on #38062
@jsancho I'm going to assign your issue to the doc author to update the document as appropriate.

@brjohnstmsft  - I wasn't able to find any sample code that utilizes custom serialization. https://github.com/Azure-Samples/search-dotnet-getting-started contains sufficient examples is the closest repo I found containing Search SDK samples but doesn't contain anything regarding serialization.

[2019-08-30 17:01] ggailey777 commented on #18815
I think that [extension bundles](https://docs.microsoft.com/azure/azure-functions/functions-bindings-register#extension-bundles) solves this issue. Let me confirm.

[2019-08-30 17:07] jonwbstr commented on #38005
Hi Frank, the last reply is me confirming what yourooking for, please respond to my previous comment, thanks!

[2019-08-30 17:10] Karishma-Tiwari-MSFT commented on #38068
Thanks for the question. We are currently investigating and will update you shortly.

[2019-08-30 17:10] Karishma-Tiwari-MSFT commented on #38067
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-30 17:11] Karishma-Tiwari-MSFT commented on #38066
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-30 17:11] Nickomang commented on #32362
@lucasmaj, That's a good point, I had missed that these issues were targeting separate documents. I'll update accordingly, do a more comprehensive look through the docs to see if I can dig up any other Windows/Linux diffs, and let you know. Thanks again for your feedback.

Nick

[2019-08-30 17:13] Karishma-Tiwari-MSFT commented on #37701
Thanks for sharing the update. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-30 17:13] #37701 closed

[2019-08-30 17:16] djpmsft commented on #21041
Hi there,

Sorry for the delay in response! Is this issue still occurring? If not, can I close this?

[2019-08-30 17:18] KetanChawda-MSFT commented on #38057
@test123114 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-30 17:19] #22674 closed

[2019-08-30 17:19] KetanChawda-MSFT commented on #38063
@dustynl Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

If the issue is not related directly to the doc, I would recommend you to create a thread on the forums- MSDN / Stackoverfl

[2019-08-30 17:20] hpsin commented on #32287
Tenant is required, most definitely.

It's included in the sample text here:
POST **/{tenant}/**oauth2/v2.0/token HTTP/1.1

That said, yes, the cURL example is not a good sample.  It should not be against /common - that the request succeeds is an edge case, and not something we recommend using.  I'll update the cURL sample text to be against "{tenant}" as well.

[2019-08-30 17:20] Jinssi opened #38080 "PITR Data storage"
All backups are stored in ra-grs blobs. This applies to pitr too. Shouldn't that be specified in the article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21
* Version Independent ID: 969a8654-8f95-d5de-351d-73c8e02e5d3a
* Content: [Azure SQL Database automatic, geo-redundant backups

[2019-08-30 17:21] hpsin commented on #35073
Updating.

[2019-08-30 17:23] mike-urnun-msft commented on #37702
Hi @nhwilly - I've gone through the details and validated the issues that you've pointed out:
- https://github.com/twilio/twilio-csharp/blob/master/src/Twilio/Rest/IpMessaging/V1/Service/Channel/MessageOptions.cs
- https://github.com/Azure/azure-webjobs-sdk-extensions/blob/master/src/WebJobs.Extensions.Twilio/TwilioSMSAttribute.cs

We'll now proceed to assign this issue to the content author to re

[2019-08-30 17:27] djpmsft commented on #12450
Hi there,

This was added [here](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions#expressions). Sorry for the delay in response and that you had to go through trial and error.

#please-close

[2019-08-30 17:27] #12450 closed

[2019-08-30 17:30] KrishnaG-MSFT commented on #38052
@lunar87 Verified and updated the document as required. Thanks.

[2019-08-30 17:30] #38052 closed

[2019-08-30 17:32] ecfan commented on #37910
#please-close

[2019-08-30 17:32] #37910 closed

[2019-08-30 17:34] #33649 closed

[2019-08-30 17:40] gearsmotion789 commented on #38016
Is there any way to get the id part, "0a76a5022e79468e8882424e0c1780df", in the url?

https://ussouthcentral.services.azureml.net/subscriptions/6c7208e467ff4407b0e11b63b78beab0/services/0a76a5022e79468e8882424e0c1780df/execute?api-version=2.0&format=swagger

[2019-08-30 17:41] sshorkey opened #38081 "Can't find pin to dashboard button"
I'm trying to pin a table of a query result to dashboard but I cannot find the Pin button anywhere on the interface. The picture in this documentation is inaccurate; it says the pin button displays just below the record count, but there is nothing there in the interface I see.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-30 17:42] djpmsft commented on #22781
Sorry for the delay in response! This documentation is correct and the behavior you are experiencing is a UX bug. I opened a work item that will be resolved in the near future. In the mean time, please use the workaround of capitalizing weekdays if you are working via the UX

Thanks,
Daniel

#please-close

[2019-08-30 17:42] #22781 closed

[2019-08-30 17:43] FrankHu-MSFT commented on #38005
Hey @jonwbstr oh sorry! The comment didn't show up when I opened up the git issue.

I'm not sure I understand what the issue is here, can you please provide some more context and an explanation of the issue that you're seeing?

All screenshots that you can provide are helpful.

[2019-08-30 17:46] BryanTrach-MSFT commented on #37988
@plessisa Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-08-30 17:46] #37988 closed

[2019-08-30 17:46] BryanTrach-MSFT commented on #37994
@Shaktikantpadhi Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-08-30 17:46] #37994 closed

[2019-08-30 17:48] djpmsft commented on #38064
Exporting ARM template is currently a UX only feature. There is no rest endpoint available

#please-close

[2019-08-30 17:48] #38064 closed

[2019-08-30 17:48] KranthiPakala-MSFT commented on #37881
@AkshayTharval We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please reply and reopen the issue. We will gladly continue the discussion.

[2019-08-30 17:48] #37881 closed

[2019-08-30 17:55] Runamok81 commented on #33618
@weikanglim, I Totally agree.  When I landed on this documentation it made it seem as though creating a resilient `KeyVaultClient` was the responsibility of the developer.   Mentioning the default resiliency and how to configure it would be much more helpful.  Off to delete this block of code.

[2019-08-30 17:56] SaurabhSharma-MSFT commented on #37996
@abarrafo Yes, there are limitations based on Accounts being signed in -
Microsoft work or school accounts in any organization's Azure Active Directory (Azure AD) tenant can have a maximum of 256 redirect URIs.  Please refer to [Redirect URI/reply URL restrictions and limitations](https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url) for details.

[2019-08-30 17:59] #37307 closed

[2019-08-30 18:09] cblomart commented on #35073
@hpsin terrific update! Do I need to go back on the doc to have an explanation (will do naturally)

[2019-08-30 18:13] cblomart commented on #35073
I still don’t see the client_id as a documented request parameter ... so still not clear.
@hpsin thanks again for the terrific update

[2019-08-30 18:13] rwike77 commented on #34180
@axthosarouris Thanks for your comments. I'm adding links to the sample applications (https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v1-code) to this article.  Please note that we are encouraging people to move to the [V2 endpoint](https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison) now.  At some point, we will start archiving v1 sa

[2019-08-30 18:13] #34180 closed

[2019-08-30 18:14] mydiemho opened #38082 "Link to Javascript samples"
There are already examples on how to send/receive message using Javascript.  This doc should link to [those samples](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/servicebus/service-bus/samples/javascript)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47fbe533-9b56-de1e-0bf0-b5acc091541b
* Version Independ

[2019-08-30 18:15] hpsin commented on #35073
Still working on pushing the doc to prod :)

As a spoiler though - client_id is required, either as part of the basic auth assertion or as a parameter.  We feel it's easier to put it in as a parameter, so we document that, but we accept it in either place.

Confidential clients are supported - that was either a change made after the fact, or a mistake in the original docs.  I'm updating that now.

[2019-08-30 18:15] tfitzmac commented on #37308
@michaelspinks - thanks for bringing this issue to my attention. I have added some content that indicates using a linked template in a storage account behind a storage firewall is currently not supported. It will get published this afternoon.

I see that there is already a [product issue](https://feedback.azure.com/forums/217298-storage/suggestions/33462937-whitelist-all-microsoft-services-in-stor

[2019-08-30 18:16] tfitzmac commented on #37308
#please-close

[2019-08-30 18:16] #37308 closed

[2019-08-30 18:17] rwike77 commented on #32264
@hpsin Can you take a look at this one?  Thanks.

[2019-08-30 18:18] hpsin commented on #32264
Investigating, thanks

[2019-08-30 18:20] MarileeTurscak-MSFT commented on #37984
I am assigning your feedback to the author, @mmacy, to look into.

[2019-08-30 18:20] shashishailaj commented on #37740
@marcelodiiorio As we have not received any response form your side , we will proceed with closure of this issue. Please tag me and @cawrites to your reply in case you have any further queries or once you have the video link and we will have it checked . You can always reopen the issue whenever you have more details and we will be happy to help.

Thank you.

[2019-08-30 18:20] #37740 closed

[2019-08-30 18:21] Anand-Moghe opened #38083 "Why there is no off the shelves integration with App Insight for Logic App?"
As per my knowledge there is an App Insight connector available for Logic App. But there is no off the shelves integration with App Insight in Logic App like for App Services. Why is that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1a1a0ec-679d-ef82-2b6f-b6dad27c9eb0
* Version Independent ID: 3d72d0e4-7ecb-fc36-01

[2019-08-30 18:22] shashishailaj commented on #37828
@chetansriv @jeevansd Could you please advice on this? Jira integration pages were being updated as far as I remember as per the changes on Atlassian side? It would be great if you could provide some input on this.

[2019-08-30 18:23] KalyanChanumolu-MSFT commented on #38054
@ikflc We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-30 18:23] #38054 closed

[2019-08-30 18:24] brjohnstmsft commented on #38062
@ryanhill-msft The link used to point to test code for the .NET SDK, but the source tree was re-organized last month. I'll fix the link.

[2019-08-30 18:25] KalyanChanumolu-MSFT commented on #37998
@aloneguid We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-30 18:25] #37998 closed

[2019-08-30 18:26] jonwbstr commented on #38005
We help clients enable this feature and field questions from their desktop support team. A frequent question that comes in to support from users who enable this feature on their phones is:

"Hi, I decided not to enable this feature because it says I have to register the phone with the company, and I don't want the company having access to my phone."

This is one of the screen's, working on the oth

[2019-08-30 18:28] #38065 closed

[2019-08-30 18:30] mrbullwinkle commented on #38065
This change has been addressed in a PR from @SamaraSoucy-MSFT. The change is merged internally it will go-live between 3-4 PM (UTC -7) today.

[2019-08-30 18:32] jonwbstr commented on #38005
User1 wrote:
"so the authenticator app is saying that this requires me to register my device, so it can be trusted to access org resources. this isnt going to take over my phone with company resources is it? just want to be sure there is no intune/company policies and/or complete access to my phone by the company."

User2 wrote:
"I just registered my device, does that mean you can see all the webs

[2019-08-30 18:38] jonwbstr commented on #38005
The intune app protection polices requires installing the intune management portal app, but doesnt require registering the device with intune... Different issue, I got them mixed up. This is the only screenshot relevant to the phone sign in experience.

[2019-08-30 18:42] mamccrea commented on #38033
Thanks, @camoisan - I will update the doc.

[2019-08-30 18:48] boats2468 opened #38084 "You need to update this tutorial."
The spark cluster configuration you list no longer appears to be supported.
What's more, the dbutils.fls.ls command now fails with a syntax error. Assume this is because of the server config not being supported any longer.

[2019-08-30 18:50] NavtejSaini-MSFT commented on #37896
@MisinformedDNA There is virtually no difference between Azure SQL DB and a single DB in a Azure SQL elastic pool. If you look at the below links Maximum DTUs for Single Database and Maximum eDTUs per database (assuming the number of DB to be 1) are same.
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers-dtu#single-database-dtu-and-storage-limits
https://docs.microsoft

[2019-08-30 18:52] mhopkins-msft commented on #37852
Hi @durtal,

Perhaps this section on listing blobs by using the listBlobsSegmented method will help: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-nodejs#list-the-blobs

If you have further questions, you can try posting your question in the [Azure Community Support forums](https://azure.microsoft.com/support/community/).

Thanks,
 ~ _Mark_

#please-close

[2019-08-30 18:52] #37852 closed

[2019-08-30 18:53] nheinbaugh commented on #26017
this workaround worked for me too, but I had to play around with it a bit

[2019-08-30 18:53] NavtejSaini-MSFT commented on #38080
@Jinssi Thanks for the question and we are checking with Doc author regarding the same.

@anosov1960 Please check if this information can be added in document. Please also mention if you need us to make the edit and submit for your review. Also mention in which section this can be added.

[2019-08-30 18:54] nheinbaugh commented on #26017
Actually, maybe it didn't.... sorry about that.

[2019-08-30 18:55] RDESA15 commented on #32766
Still haven't updated. Spent lot of time on figuring it.Thanks @patobtx for posting it.

[2019-08-30 18:56] mbrancato commented on #37859
@RyanHill-MSFT the MSI retry guidance for VMs is documented here: https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#retry-guidance

[2019-08-30 18:58] NavtejSaini-MSFT commented on #37899
@rohitnayakmsft Please check into user question and provide the needed information. Please let us know if you need any help to edit this document which is pending in below case as well.
https://github.com/MicrosoftDocs/azure-docs/issues/37077

@tkumark We are checking with doc author regarding this. We will get back to you as soon as possible.

[2019-08-30 18:58] RyanHill-MSFT commented on #37853
Thanks for the feedback @bowlerma! I have assigned the issue to the content author @cephalin to investigate further and update the document as appropriate.

[2019-08-30 19:00] toenie23 opened #38085 "Creating date hierarchy on the fly"
How would I create a folder structure in blob storage using ADF? For example

container/source01/yyyy/mm/dd/filename.txt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df7b56de-6c44-a6a7-7cb1-2d77025f17f5
* Version Independent ID: fa99fc00-8d68-a1de-558e-0ef651548f34
* Content: [Copy data to or from Azure Blob storage

[2019-08-30 19:04] amchew commented on #37957
Hi @FrankHu-MSFT:

I'm still unclear about the trust model of subscription and its dependency on a tenant. Would you mind elaborating on relationship between the tenant and its dependency on multiple subscriptions?

[2019-08-30 19:05] mparker commented on #37708
Looks like the app-defined roles will be put in the auth token when you request a token with your app as the resource in the v1 endpoint, or as the scope principal in the v2 endpoint.

[2019-08-30 19:15] whihathac opened #38086 "Confusing statements"
The statements "... and as the from address when making calls from the ASE to the internet. The calls from an ASE that go to the internet leave the VNet through the VIP assigned for the ASE. The public IP of this VIP is the source IP for all calls from the ASE that go to the internet." - Don't they all mean the same thing?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-08-30 19:17] FrankHu-MSFT commented on #37957
I think this wiki explains the computational/identity trust concept well : https://en.wikipedia.org/wiki/Computational_trust

Basically the subscription trusts that Azure AD is allowing users who should be allowed to use the subscription
From the doc :
_the subscription trusts Azure AD to authenticate users, services, and devices.
Multiple subscriptions can trust the same Azure AD directory, but e

[2019-08-30 19:17] FrankHu-MSFT commented on #37957
connected offline closing out git issue now.

[2019-08-30 19:17] #37957 closed

[2019-08-30 19:24] jhankins71 commented on #29895
I was getting this error as well. In the link above I noticed this "This process doesn't support Azure Active Directory B2B (guest) accounts." I was using a guest account. As soon as I switched to a member account that was a global admin with user admin privileges and a tenant creator role (same roles as the guest acct) it worked.

[2019-08-30 19:27] MartinJaffer-MSFT commented on #38037
Hello @markgzhou and thank you for your inquiry.  Data Factory by itself does not do any checksum integrity verification.  There are many connectors, many of which are for non-Microsoft-Azure services.   The ability to run a checksum is not guaranteed to be part of a standard CRUD interface.

[2019-08-30 19:27] SaurabhSharma-MSFT commented on #37989
@JamesHeathcote You may be doing something wrong as I am able to use the assignedplan.ServiceplanId property and dynamic membership works fine.    Have you tried checking user licenses using PowerShell.
Try using `Get-AzureADUser -ObjectID $userUPN | Select -ExpandProperty AssignedLicenses | Select SkuID ` with the #userUPN to validate the same and can try using this SKUId in dynamic membership ru

[2019-08-30 19:29] curtand commented on #37517
We have updated the article to clarify the behaviors. This will publish by 4 PM PDT August 30 2109
https://github.com/MicrosoftDocs/azure-docs-pr/pull/87012

Thanks for all of your feedback!

#please-close

[2019-08-30 19:29] #37517 closed

[2019-08-30 19:30] SaurabhSharma-MSFT commented on #38077
@PiKappZ746 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-08-30 19:39] RyanHill-MSFT commented on #38062
Thanks @brjohnstmsft

[2019-08-30 19:51] femsulu commented on #38081
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-08-30 19:59] Karishma-Tiwari-MSFT opened #38087 "Test"
Test for WT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d544e55b-bac1-0e3c-a396-90a1b4f6e1aa
* Version Independent ID: 018208b2-7479-746d-2d12-a9e3c78036d7
* Content: [Convert a Windows virtual machine from unmanaged disks to managed disks - Azure Managed Disks](https://docs.microsoft.com/en-us/azure/virtual-machine

[2019-08-30 19:59] danielstocker commented on #36458
Hi @ggirard07 and thanks for reading through my diatribe. So what's the way forward from here? :)

[2019-08-30 20:01] Karishma-Tiwari-MSFT commented on #38087
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-30 20:03] Alberto-Vega-MSFT commented on #37864
link to issue on the SDK repo https://github.com/Azure/azure-iot-sdk-csharp/issues/1043

[2019-08-30 20:10] whihathac opened #38088 "AppServiceManagementTag IP for Gov cloud are different in the published ip ranges json"
I see the following IP tag in the published "Azure IP Ranges and Service Tags – US Government Cloud" - https://www.microsoft.com/en-us/download/confirmation.aspx?id=57063

{
      "name": "AppServiceManagement",
      "id": "AppServiceManagement",
      "properties": {
        "changeNumber": 1,
        "region": "",
        "platform": "Azure",
        "systemService": "AzureAppServiceManagement"

[2019-08-30 20:22] KranthiPakala-MSFT commented on #38085
@toenie23 Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2019-08-30 20:24] KranthiPakala-MSFT commented on #38075
@torresdiego Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2019-08-30 21:20] #38087 closed

[2019-08-30 21:21] BryanTrach-MSFT commented on #38084
@boats2468  Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

[2019-08-30 21:21] Karishma-Tiwari-MSFT commented on #37874
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-08-30 21:21] #37874 closed

[2019-08-30 21:28] Karishma-Tiwari-MSFT commented on #38002
@oatsoda Can you please elaborate when are you seeing this error? Which step in this doc? Thanks.

[2019-08-30 21:28] westskykingland commented on #35201
hi manjucsprasad, how do you do this? can you please elaborate in detail? thank you so much!

"I have added the 'msauser' as my azure account (outlook email account) for the database. "

[2019-08-30 21:33] KranthiPakala-MSFT commented on #38085
@toenie23 You can use the below expression to achieve your requirement.

Dynamic Expression: @concat('source01/',formatDateTime(utcnow(), 'yyyy/MM/dd'))

![image](https://user-images.githubusercontent.com/50185738/64052348-faeab580-cb32-11e9-973c-264f524b71f3.png)

**OUTPUT:**
![image](https://user-images.githubusercontent.com/50185738/64052296-d393e880-cb32-11e9-96ae-db2fe535b167.png)

Hope this

[2019-08-30 21:33] #38085 closed

[2019-08-30 21:43] Karishma-Tiwari-MSFT commented on #38066
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-08-30 21:45] mbialecka commented on #37980
@menmikimen The culprit here is "fallocate failed with error: Not supported". Please share your OS version, create options used, and type of storage/file system you are using.

[2019-08-30 21:46] cawrites commented on #38077
@PiKappZ746  please provide the completed text of the error associated with 530001 that you are seeing on your screen.

[2019-08-30 21:47] Grace-MacJones-MSFT commented on #38088
Hi @whihathac, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2019-08-30 21:54] Karishma-Tiwari-MSFT commented on #38068
@DarienAL Since you have the same issue open on our MSDN forum [here](https://social.msdn.microsoft.com/Forums/en-US/d4f1f651-1fbb-485b-ad11-6010234d2c05/timing-on-converting-unmanaged-disks-vm-to-managed-disks?forum=WAVirtualMachinesforWindows), we will close this issue and our engineer will help you on the MSDN thread. Thanks :)
If there are further questions regarding this matter, please tag me

[2019-08-30 21:54] #38068 closed

[2019-08-30 21:57] sdgilley commented on #37990
Thanks for your suggestion, I have added a link.  #please-close

[2019-08-30 21:57] #37990 closed

[2019-08-30 22:12] ThomasWeiss commented on #38040
@Kirlac From all the custom response headers exposed through the `StatusAttributes` property, only the `x-ms-request-charge` is generally useful to Cosmos DB users as it lets them measure the RU charge of their operations. The other ones are there for debugging purposes when interacting with us and our customer support. In other words, you won't have to look for the other ones unless asked by our

[2019-08-30 22:18] KranthiPakala-MSFT commented on #38069
@brijrajsingh Could you please check the response time of your endpoint?
The web activity will timeout at 1 minute with similar error if it does not receive a response from the endpoint.

[2019-08-30 22:24] curtand commented on #37925
Hi @softwarecraft
I added the anchorable headings and they'll be live about 4 PM today August 30. Thanks for your feedback!
https://github.com/MicrosoftDocs/azure-docs-pr/pull/87012

#please-close

[2019-08-30 22:24] #37925 closed

[2019-08-30 22:29] lmeyerov commented on #37716
For completeness sakes:

* For automating linux marketplace builds, the deprecated packer "capture" automation approach works <- recommend adding to docs as the best practice for at least one linux automation path
* Still unclear if packer can be made to convert the managed -> vhd and have that pass marketplace testing
* Manual or automated post-build steps are needed to generate the SAS url
* Mar

[2019-08-30 22:41] #38062 closed

[2019-08-30 22:48] suhaspan commented on #37194
@FrankHu-MSFT thanks for your response.
I am using OAuth2 flow using,
        authorize_url: 'https://login.windows.net/common/oauth2/authorize',
        token_url:     'https://login.windows.net/common/oauth2/token'

Using this, I was getting access_token, refresh_token. And then using access_token, I was making https://graph.windows.net/me?api-version=1.6 API call to get the user object of the s

[2019-08-30 22:48] Heidilohr commented on #27753
I've added the callout. #please-close

[2019-08-30 22:48] #27753 closed

[2019-08-30 22:49] KranthiPakala-MSFT commented on #17779
@ashitabh Sorry for the late response. Currently Web Activity can call only publicly exposed URLs. It’s not supported for URLs that are hosted in a private virtual network.

We will notify once the WebActivity support on SHIR is enabled.

Hope this info helps. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the

[2019-08-30 22:49] #17779 closed

[2019-08-30 22:51] joalcava opened #38093 "How to set TimeZone in Linux App Service"
I have tried setting the environment variable as mention in the docs but it does not have any effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4968f0a-740d-c541-4b34-457231666ff2
* Version Independent ID: c7d64806-1b38-fe4c-d351-ab445cf51905
* Content: [Configuration FAQs - Azure App Service](https://docs.micros

[2019-08-30 22:56] FrankHu-MSFT commented on #34574
We are in the process of adding a new doc where this scenario will be supported. Please stay tuned as it takes some time to put these docs together. thanks

[2019-08-30 23:07] ysalo commented on #18121
When downloading the Usage Details from the Azure Portal the file contains an ExtendedCost column however this column is not present when using the EA Usage Details API to download the Usage details. Is that column just called Cost?

[2019-08-30 23:12] tiesmaster commented on #37418
Hi, I didn't manage work on this, and tomorrow I'll leave for a 3 week holiday, so don't expect anything in the short run from me.

[2019-08-30 23:23] krispenner commented on #26312
@PramodValavala-MSFT if you are still experiencing this issue you can try removing all IP restrictions on the app service, enable 'Web server logging' on the app service and open the 'Log stream' page to the 'Web Server logs' tab to view requests as they come in. Next, make your request how you want and it should succeed and find it in the logs, note the IP address. Finally add back your IP restri

[2019-08-30 23:29] krispenner commented on #26312
@PramodValavala-MSFT Can you confirm if the IP address assigned to the APIM instance in dedicated to only that APIM instance and is in no way shared with any other Azure APIM instance or other Azure resources? If it is in anyway virtual or shared then it's not a very secure choice.

Are there any options yet to use APIM managed identity directly against an App Service if I enable Azure AD authenti

[2019-08-30 23:35] MarileeTurscak-MSFT commented on #37983
Hi @dkershaw10 and @jeevansd ,

I made a pull request to fix the links - https://github.com/MicrosoftDocs/azure-docs-pr/pull/87179

Let me know if anything else should be done.

Closing this out since the links are now labeled properly.

[2019-08-30 23:35] #37983 closed

[2019-08-30 23:41] chetansriv commented on #37338
@GriffReborn This is fixed, please review

#please-close

[2019-08-30 23:42] #37338 closed

[2019-08-30 23:42] FrankHu-MSFT commented on #37865
Hey @fadedcrimson19 I'm following up on this issue, can you please respond in regards to the last post?

[2019-08-30 23:43] FrankHu-MSFT commented on #38001
@clerens Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day monday as we are currently making the change in the docs.

Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-30 23:44] FrankHu-MSFT commented on #38005
Hello @jonwbsr I see. I'm not sure what the request is. So are you saying provide a question in the FAQ with an answer for the question :
_These two warning messages when setting up phone sign-in says I am giving my company access to my phone. I don't want anyone spying on me this is my personal device_

[2019-08-30 23:47] FrankHu-MSFT commented on #38013
Hey @JeremyTBradshaw thanks for letting us know about this and we appreciate you providing the commands to resolve this as well.

We'll look into adding this into the docs.

[2019-08-30 23:51] karlochacon commented on #37795
thanks a lot I will take a look then, I think the disk was just added from azure but not formatted using Windows NTFS or any other

[2019-08-30 23:58] jstallm opened #38094 "Not clear how to exit Administrator View in order to view new portal as developer instead of Admin"
The documentation should contain either directions on how to exit the administrator view or state that its not possible.
Every time I navigate to the new portal, it jumps right into the Administrator view. But sometimes I just want to experience the portal the same way end users would. And holding down CTRL the entire time is definitely not optimal.

Can I request placing a button somewhere in the

[2019-08-31 00:09] DCtheGeek commented on #38070
@whaakman The PR for this has merged, so it will go live at next publish.  Thanks again for the suggestion as always!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-08-31 00:09] #38070 closed

[2019-08-31 00:25] Alberto-Vega-MSFT commented on #37927
Thanks I see what you are talking about. Popup dynamically keeps itself inside the map no matter where the origin icon is:
![image](https://user-images.githubusercontent.com/10910841/64056629-8cfdb880-cb49-11e9-864e-9930a36dd069.png)
versus:
![image](https://user-images.githubusercontent.com/10910841/64056841-211c4f80-cb4b-11e9-803c-5ad4a0ad4ea4.png)

[2019-08-31 00:27] Alberto-Vega-MSFT commented on #37927
@faridulhassan Thanks again  for the feedback! I have assigned the issue to the content author to help answer and evaluate and update the docs as appropriate.

[2019-08-31 00:42] mike-urnun-msft commented on #38082
Hi @mydiemho - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-08-31 02:22] DixitArora-MSFT commented on #37812
@gpduck For now I will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-31 02:22] #37812 closed

[2019-08-31 02:43] brijrajsingh commented on #38069
My endpoint is responding well within few seconds only.

[2019-08-31 03:32] krispenner commented on #26312
In case anyone comes here looking, I was able to get this working using the below policy on the APIM where the resource is the Application (Client) ID of the Azure AD Registered Application assigned to the App Service's Azure AD Sign-in.

[code]

Inbound trace:
[code]

Backend trace:
[code]

[2019-08-31 03:35] nick834 opened #38096 "Workday to Microsoft Azure AD User provisioning UPN attribute"
Based on the user's first name and last name, i need to generate a value for the UPN attribute and check for its uniqueness in the target AD directory before assigning the value to the UPN attribute.

Tried below expression and in the workday to azure ad user provisioning its failing for the second user
SelectUniqueValue(ToLower(Join("@", NormalizeDiacritics(StripSpaces(Join("", Mid([FirstName], 1

[2019-08-31 03:42] KrishnaG-MSFT commented on #38094
@jstallm Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If you are referring to an Azure documentation and if you think it needs an update (w.r.t documentation or product), please let us know that Azure documentation link / URL here so that we can investigate, work and provide you an update here. Else, we request yo

[2019-08-31 03:46] KrishnaG-MSFT commented on #38096
@nick834 Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If you are referring to an Azure documentation and if you think it needs an update (w.r.t documentation or product), please let us know that Azure documentation link / URL here so that we can investigate, work and provide you an update here. Else, we request yo

[2019-08-31 04:14] KetanChawda-MSFT commented on #38093
@joalcava Thank you for your question! We will review and provide an update as appropriate.

[2019-08-31 04:20] mike-urnun-msft commented on #38083
Hey @Anand-Moghe - Thank you for your feedback. While AI integration is definitely one of the sought-for features, we don't have any specific timeline that we're able to share at this time. Please consider upvoting an existing feature request on Azure UserVoice here: https://feedback.azure.com/forums/287593-logic-apps/suggestions/19493713-integration-with-application-insights

[2019-08-31 04:23] wolegibj opened #38097 "failed to unmount after … might occur if NSG rule prevents access to package repo"
https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-tsg#troubleshooting-linux-os-disk-encryption
Should include a bullet to ensure there are no NSG rules preventing access to Linux package repository during os disk encryption processing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aed5ca44

[2019-08-31 04:46] kumarallamraju opened #38098 "Incorrect syntax while creating a New SelfSignedCertificate"
[Enter feedback here]

This syntax is wrong
New-SelfSignedCertificate `-certstorelocation cert:\localmachine\my ` -dnsname www.contoso.com

PS C:\Users\kumara> New-SelfSignedCertificate `-CertStoreLocation C:\Users\kumara` -dnsname www.contoso.com
New-SelfSignedCertificate : A positional parameter cannot be found that accepts argument '-CertStoreLocation'.
At line:1 char:1
+ New-SelfSignedCertific

[2019-08-31 05:13] #38025 closed

[2019-08-31 05:17] BhargaviAnnadevara-MSFT commented on #38025
@CeciAc @4416km Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live shortly.

[2019-08-31 05:19] SychevIgor commented on #15464
@kobulloc-MSFT  @Adam-Smith-MSFT @CawaMS  any news.... 11 months - it's too slow even for mega-enterprise companies

[2019-08-31 05:19] #15464 closed

[2019-08-31 05:20] SychevIgor commented on #17164
I hope, that somebody in Microsoft will see this great support of azure documentation

[2019-08-31 05:20] #17164 closed

[2019-08-31 05:21] SychevIgor commented on #17170
@Karishma-Tiwari-MSFT thank you for an assignment, but looks like nobody care

[2019-08-31 05:21] #17170 closed

[2019-08-31 05:24] SychevIgor commented on #18182
DiegoRamirez-MSFT cool, author assigned, but after 9 months- no feedback

[2019-08-31 05:24] #18182 closed

[2019-08-31 05:31] SychevIgor commented on #35658
interesting- if Azure documentation is a single point of truth - why microsoft don't have sla or any other obligations on answering on feedback/issues in documentation

[2019-08-31 05:32] kumarallamraju commented on #38098
Sorry my bad. This syntax works in Powershell window. I was trying it in regular terminal

[2019-08-31 05:32] #38098 closed

[2019-08-31 05:32] Karishma-Tiwari-MSFT commented on #17170
@singhkays Can you please help assign the issue to right person who can update the doc. Thanks :)

[2019-08-31 05:53] jonwbstr commented on #38005
All the customer comments I have shared are generated by them not
understanding what device registration does or means.

That is the question, what is device registration?

There are lots of ways to address this topic in the faq section, here are a
few examples

Question: What is device registration?
Answer: address question of company access to device

Question: Does device registration give the

[2019-08-31 06:05] KrishnaG-MSFT commented on #38098
@kumarallamraju Glad that you have self resolved the issue. Thanks for the update.

[2019-08-31 06:56] jfcomst commented on #37912
As the person who opened the other related issue a while back, I since found a Microsoft page that was useful for understanding how to work with date time offsets.  It is not specific to cosmos db, but I found it useful for working with datetimeoffsets when I was working with a cosmos db.  It's the document describing how to do date time round tripping, and it contains a section that deals with da

[2019-08-31 07:19] Grace-MacJones-MSFT commented on #38086
@whihathac thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-31 07:56] cawrites commented on #37946
@seantleonard please review the following links: (1) https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-certificate-credentials  also(2) https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest See:: (1)Register your certificate with Azure AD and(2) Configure App Manifest. For outside resources like StackOverFlow it may not reflect the mo

[2019-08-31 08:02] oatsoda commented on #38002
In the section "Install Service Fabric CLI".  It says

Which as you can see from when I tried, isn't true as you need 2.0.67 or later.

[2019-08-31 08:35] dustynl commented on #38063
Ok .. thanks @KetanChawda-MSFT , will do.

[2019-08-31 08:35] #38063 closed

[2019-08-31 09:21] tmdfl commented on #26278
one or more projects in the solution were not loaded correctly

[2019-08-31 09:38] BryanTrach-MSFT commented on #38097
@wolegibj Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-31 12:00] StingyJack commented on #37777
I think it's kind of mentioned where there are notes about TLS on this page and in other pages but it's probably important to state somewhere prominently that none of the usual redis tools will work with the default Azure Redis config without some specific workarounds.

That note may not need to be on this page but it would have been nice to know before burning a bunch of hours.

[2019-08-31 12:11] BrianMinister opened #38099 "Core 3 is not working as the core sample implied"
Access your secrets in code, step 2 will not compile, nor can I get the AddAzureKeyVault to show up in the list of options when using core 3.

This may be a false call, because I just noticed that the webbuilder is not inherit from the same builder that the sample code is referencing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-08-31 12:49] imeya commented on #29132
@xurui203 , I'm a little confused about ingress event. As you mentioned that  an ingress event is a unit of data 64 KB or less. Then for example, in .net code, if I use `SendAsync `method many times(like 5 times) to send data(each one is 1 KB) to event hub, then then ingress event is 1, not 5?

[2019-08-31 13:59] msrini-MSFT commented on #38015
@david-frazee , Do you have any update on this issue?

[2019-08-31 14:18] KetanChawda-MSFT commented on #38099
@BrianMinister Thank you for your feedback! We will review and provide an update as appropriate.

[2019-08-31 14:30] JonathanWilbur opened #38100 "Lowercased HTTP Headers"
The documentation does not mention that HTTP headers get lower-cased in Azure functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d673
* Version Independent ID: 197c63a1-9f72-1049-f27e-8c9c672ec472
* Content: [JavaScript developer reference for Azure Functions](https://docs.microso

[2019-08-31 14:37] KetanChawda-MSFT commented on #38100
@JonathanWilbur Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-08-31 14:39] JonathanWilbur commented on #38100
Sure. This section, precisely:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#http-triggers-and-bindings

[2019-08-31 14:42] KetanChawda-MSFT commented on #38100
@JonathanWilbur Thank you for the document link! We will review and provide an update as appropriate.

[2019-08-31 15:16] BhargaviAnnadevara-MSFT commented on #38035
@santiagobando Any update here?

[2019-08-31 15:32] binnisays opened #38101 "Please config the <appName> in pom.xml"
When i run the command from Bash
 mvn package azure-webapp:deploy

I get the below error
 Failed to execute goal com.microsoft.azure:azure-webapp-maven-plugin:1.7.0:deploy (default-cli) on project helloworld: Please config the <appName> in pom.xml.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b90ff6f8-f255-58b8-fc2e-

[2019-08-31 15:48] SaurabhSharma-MSFT commented on #37915
@AquinoN Thanks for your feedback.  I am checking with the products team on the same and get back to you.

[2019-08-31 16:53] ggailey777 commented on #19949
Note is [added](https://docs.microsoft.com/azure/azure-functions/functions-develop-vs#publish-to-azure). #please-close

[2019-08-31 16:53] #19949 closed

[2019-08-31 16:54] ggailey777 commented on #20948
This article as been removed due to UI changes for Functions v2. #please-close

[2019-08-31 16:54] #20948 closed

[2019-08-31 16:57] ggailey777 commented on #22569
It sounds like some of this guidance applies regardless of the dev tools.
@kulkarnisonia16 to verify this additional information and where it should best be added.

[2019-08-31 17:04] KetanChawda-MSFT commented on #38101
@binnisays Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-08-31 17:06] BryanTrach-MSFT commented on #38084
@boats2468 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-08-31 17:06] #38084 closed

[2019-08-31 17:14] jed-lomax commented on #37710
Awesome. Rock on team!

Jed Lomax, MCP
Azure Solutions Engineer
📧 jedlomax@outlook.com
📱 713-828-0007

Sent from an iPhone.
Even while using Outlook<https://aka.ms/qtex0l> for iOS there is no telling what Siri might do to this message. Please forgive any misspellings, typos, missing: words, prepositions and articles, or just generally bad grammar.
________________________________
From: Allen Sudbr

[2019-08-31 17:25] kiranpradeep opened #38102 "Why not using existing IoT Hub connection for streaming ?"
The github sample ([1](https://github.com/Azure-Samples/azure-iot-samples-csharp/blob/6131be79d46b7dcf26bf7c11fe7e895f7a61adca/iot-hub/Quickstarts/device-streams-proxy/device/DeviceStreamSample.cs#L78)), shows that a seperate connection (WS) is being created in addition to the existing connection to IoT Hub (AMQP/MQTT). Why was the streaming traffic not tunneled over existing connection to IoT Hub

[2019-08-31 17:32] gnerd opened #38103 "tutorial is not working"
step 1 - this assumes you already have the workspace or you know what you are doing, how about backing up a step and walking through everything?
step 2 - no idea where to get these values - why not just tell us how to do this vs. google searching
step 3- AZ.Automation module was missing
step 4 - code does not work I get errors
step 5 - there isnt a log search, there is a logs, and that Type=Automa

[2019-08-31 17:38] ggailey777 commented on #24268
OK, good news on this thread. There is now a new [extension bundles feature](https://docs.microsoft.com/azure/azure-functions/functions-run-local#extension-bundles) that makes it much easier to install the binding extensions needed by your project.

If there are still things in this article that you think we need to address, please re-open this issue.
#please-close

[2019-08-31 17:38] #24268 closed

[2019-08-31 18:50] rocksmani commented on #29290
@ Josuvil, I got this error while my desktop session was already connected. It happened when my desktop session was connected to a different host pool and i ran cmd against a different hostpool/app group name. Hope you're not making the same mistake as i did. Try again and ensure hostpool and appgroup name is specified correctly!

[2019-08-31 19:19] KrishnaG-MSFT commented on #38103
@gnerd Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-08-31 20:56] MateusAmin commented on #10584
Any updates?

[2019-08-31 21:12] ryandle opened #38105 "Incorrect schema for Microsoft.ServiceFabric/clusters/applications/services"
The template example under section `Add a new application to your Resource Manager template` seems like it might be outdated/incorrect?

For example, I don't see a property `instanceCount` defined for the schema of type `Microsoft.ServiceFabric/clusters/applications/services` like is shown here:

    "apiVersion": "2019-03-01",
         "type": "Microsoft.ServiceFabric/clusters/applications/servic

[2019-08-31 21:15] ryandle commented on #38105
Nevermind, I do see it in the schema, I made a mistake!

[2019-08-31 21:15] #38105 closed

[2019-08-31 22:21] ggailey777 commented on #25727
We won't be adding WebPack examples at this time. #please-close

[2019-08-31 22:21] #25727 closed

[2019-08-31 22:58] sk1tt1sh commented on #34839
To clarify I'm referring to using labels in the code/config files. I figured it out by actually digging through source and searching.

It would be helpful if it was in the documents: 'Add this property to your config builder: labelFilter="ALabel" and you will only get settings with that label.'

[2019-08-31 23:34] GiantCrocodile opened #38106 "Free Machine Vision API plan pricing table is unclear"
Hello,

the pricing of the free Machine Vision API plan is very unclear due to a misleading pricing table. See this link: https://azure.microsoft.com/de-de/pricing/details/cognitive-services/computer-vision/

It is not clear that the `Free - Web/Container` plan can use any attribute (tag, faces, ocr, etc.) for the free monthly 5,000 transactions. A new customer like me suspects that the free plan

[2019-08-31 23:42] GiantCrocodile commented on #36905
I request the same here. This is a must have information which has to be properly documented in the docs. It is necessary to know for any project with data of clients, e. g. for GDPR reasons.

[2019-08-31 23:46] NavtejSaini-MSFT commented on #37896
@MisinformedDNA If you don't have any question at this moment, we will be going ahead and closing this thread. But if you have any other question please get back to us and we will try to help you.

[2019-08-31 23:46] #37896 closed

[2019-09-01 00:50] vikramdadwal opened #38107 "Can we upload Multiturn questions using excel file?"
Can we upload Multiturn questions using excel file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f6b983-0c19-6439-78df-ea7bdab3f94e
* Version Independent ID: 15dc8197-fed8-a94f-4143-2799d5e6a002
* Content: [Multi-turn conversations - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cogni

[2019-09-01 00:53] BryanTrach-MSFT commented on #38102
@kiranpradeep Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-01 00:54] BryanTrach-MSFT commented on #38106
@GiantCrocodile Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-01 00:55] BryanTrach-MSFT commented on #38107
@vikramdadwal Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-01 02:31] KrishnaG-MSFT commented on #38105
@ryandle Glad to know that you have self resolved the issue. Thanks for the update.

[2019-09-01 06:03] santiagobando commented on #38035
Sorry i didnt respond quickly.
Let me specify a bit more:
I am trying to connect my web application to Azure Active Directoy with MFA Auth, so I was following the steps described in the following article:
https://docs.microsoft.com/en-us/azure/sql-database/active-directory-interactive-connect-azure-sql-db

When I got to the section "Configure your C# application in the Azure portal" I noticed that

[2019-09-01 06:23] rishtech opened #38109 "Device Authentication is not getting sent to ADFS, even in older version."
"Beginning with Windows 10 1803, if the instantaneous hybrid Azure AD join for a federated environment by using AD FS fails, we rely on Azure AD Connect to sync the computer object in Azure AD that's subsequently used to complete the device registration for hybrid Azure AD join. "

- I have tested this in 1709, are we just pushing hard for all the machines to be hybrid Azure AD joined.

---
#### D

[2019-09-01 07:26] KetanChawda-MSFT commented on #38109
@rishtech Thank you for your feedback! We will review and provide an update as appropriate.

[2019-09-01 07:37] BhargaviAnnadevara-MSFT commented on #38035
@santiagobando Thanks for the response! I've routed this to the appropriate Team to investigate and update. Thanks again for your feedback!

[2019-09-01 08:03] montebhoover opened #38110 "Minor error in MC_ node resource group naming explanation"
In section https://docs.microsoft.com/en-us/azure/aks/faq#can-i-provide-my-own-name-for-the-aks-node-resource-group it states "*MC_clustername_resourcegroupname_location*" but should be "*MC_resourcegroupname_clustername_location*".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* V

[2019-09-01 08:06] KetanChawda-MSFT commented on #38110
@montebhoover Thank you for your feedback! We will review and provide an update as appropriate.

[2019-09-01 08:28] ggailey777 commented on #25845
This issue has been addressed as suggested by @kashimiz. #please-close

[2019-09-01 08:28] #25845 closed

[2019-09-01 08:31] ggailey777 commented on #28205
@dirkesquire if you don't find the new [VS Code dev guide](https://docs.microsoft.com/azure/azure-functions/functions-develop-vs-code) sufficient, please reopen this or create a new issue. #please-close

[2019-09-01 08:31] #28205 closed

[2019-09-01 08:45] ggailey777 commented on #27348
ENV works for private repositories, but in a public repository your connection strings would be exposed. For public container repos, the best practice is to set the application settings in the function app [as (now) recommended in the article](https://docs.microsoft.com/azure/azure-functions/functions-create-function-linux-custom-image#configure-the-function-app). #please-close

[2019-09-01 08:45] #27348 closed

[2019-09-01 10:48] orspod commented on #37791
@Mike-Ubezzi-MSFT thanks. I will make changes in the docs.
@TimSBenjamin thanks for your feedback.

[2019-09-01 12:19] MikeGriffinReborn commented on #14565
You are right, .NET core has no solution for reading the local.settings.json file, it's a huge gaping whole in the documentation. There are a million so called solutions out there but they don't work, it will not and does not read the local.settings.json file

[2019-09-01 14:22] AlexanderTodorovic opened #38115 "URI is empty?"
Dear All, when I execute a workflow from the UI I receive the error "Error occurred while executing connector: Moderator - Error occurred while processing Moderator - Invalid URI: The URI is empty.,"
How can this be fixed?
Thanks,
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e96a759-f2bf-2b51-bbf6-c0d64a3b97f3

[2019-09-01 14:30] kudlatiger commented on #37584
Could u help me with steps?

[2019-09-01 14:49] santiagobando commented on #38035
No problem, thank you!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: BhargaviAnnadevara-MSFT <notifications@github.com>
Sent: Sunday, September 1, 2019 2:38:00 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: santiagobando <sant_andres@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Cannot find

[2019-09-01 16:15] jstallm commented on #38094
Thats ok. Im just going to use a different user login other than admin. Thanks.

[2019-09-01 16:19] ziesemer opened #38116 "Storage Service Encryption for Temporary Disks?"
Please clarify if Storage Service Encryption (SSE) applies to an IaaS VM's Temporary Disk (as detailed at https://docs.microsoft.com/en-us/azure/virtual-machines/windows/managed-disks-overview#temporary-disk).  If not, what else is done to protect the contents of the temporary disk, where the page or swap files are set by default - and where it would be useful to run a SQL Server TempDB, etc.

---

[2019-09-01 16:21] KrishnaG-MSFT commented on #38094
@jstallm Thanks for the update. Closing this issue for now. If there is feedback regarding an Azure documentation, please do let us know with the Azure documentation link / URL and we will gladly continue the discussion.

[2019-09-01 16:21] #38094 closed

[2019-09-01 16:35] KetanChawda-MSFT commented on #38116
@ziesemer Thank you for your question! We will review and provide an update as appropriate.

[2019-09-01 16:36] KetanChawda-MSFT commented on #38115
@AlexanderTodorovic Thank you for your question! We will review and provide an update as appropriate.

[2019-09-01 16:49] binnisays commented on #38101
Here is the document i followed https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-java

[2019-09-01 17:32] ravikiran-srini opened #38117 "My issue related to Grouping data into Bins module (https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/group-data-into-bins)"
Hi,

My issue is related to Grouping data into bins module. Since there is no feedback page there, I'm posting here
https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/group-data-into-bins#how-to-configure-group-data-into-bins

The doc says that for Entropy MDL, the algorithm chooses a number of bins that allows the column to best predict the target. But in the studio,

[2019-09-01 17:35] KetanChawda-MSFT commented on #38117
@ravikiran-srini Thank you for your feedback! We will review and provide an update as appropriate.

[2019-09-01 17:52] m-sterspace commented on #37708
For the record to get the token I ended up using the MSAL javascript library and entered the Tenant ID and Client ID from my App Registration's overview page into the config object:

[code]

I then created a new msal Instance

[code]

then set a basic scope (I don't know if this is necessary or not?) and initiated the popup login which will return a promise that will resolve to a response object t

[2019-09-01 18:00] arolshan opened #38118 "Does this change from user to user ?"
Does the following API https://docs.microsoft.com/en-us/rest/api/resources/providers/list
give us all resource providers in Azure in general, or does this list change according to the user that initiated the request ?

[2019-09-01 19:02] durtal commented on #37852
Thanks @mhopkins-msft,
That enables me to search for all blobs in a container, but was hoping to establish if a blob exists if I know the what the blobname would be.
The use case I have is that I have a collection of azure functions (http triggers) that generates an SVG, saves the SVG to blob storage, before returning the SVG. I was hoping to establish if the blob exists first, and if it does, ret

[2019-09-01 20:15] navinmistry commented on #37958
I am observing issues with similar scenario  from using the Microsoft.Compute.MultiVm to Microsoft.Azure.CreateUIDef handler in createUiDefinition.json
 the behaviour of the output of VirtualNetworkCombo UI element appears to have changed.

earlier I was able to get `vnet.addressPrefix` ( as string) but now its returning `addressPrefixes` as an **array** , current output is as below
[code]

I had

[2019-09-01 21:09] sawatsky commented on #38030
@ChiragMishra-MSFT

I've created a StackOverflow post: [How to get custom output from an executed pipeline?](https://stackoverflow.com/questions/57749509/how-to-get-custom-output-from-an-executed-pipeline)

[2019-09-01 21:21] zainuvk opened #38119 "Event system properties"
Event system properties is not listed which creating data ingestion connection from Azure Data explorer database. Was it removed .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 448ddad1-243c-af54-3395-7d022f83dff7
* Version Independent ID: 664d2223-1612-874c-ff23-1bc14aaa339a
* Content: [Ingest data from IoT Hub into

[2019-09-01 21:23] njbuch opened #38120 "It's unclear what the source and target containers actually refer to?"
My scenario includes a folder on the edge device, where pictures are placed into by another edge-module. The pictures should ideally automatically be uploaded with this nice solution.

But the specification of "storageContainersForUpload": {
        "&lt;source container name1&gt;": {
          "target": "&lt;target container name1&gt;"
        }

Does not make sense, which one is the folder on th

[2019-09-01 21:32] ggailey777 commented on #27819
We now have a [VS Code development article](https://docs.microsoft.com/azure/azure-functions/functions-develop-vs-code), which should alleviate this confusion. #please-close

[2019-09-01 21:32] #27819 closed

[2019-09-01 21:34] ggailey777 commented on #30243
@ColbyTresness is there any additional information we should be providing to customers? #reassign:ColbyTresness

[2019-09-01 21:34] ggailey777 commented on #30243
#assign:ggailey777

[2019-09-01 21:36] ggailey777 commented on #30506
This information has been added to the [Python reference article](https://docs.microsoft.com/azure/azure-functions/functions-reference-python#environment-variables). #please-close

[2019-09-01 21:36] #30506 closed

[2019-09-01 22:13] Mwiedmeyer commented on #21850
So after nearly 8 months, the answer is 'Don't do that'???

This is common scenario.

Can they not reproduce the behavior and FIX it?

AWS is looking better and better,

Thank heavens the VMs I have that display the same problem are non-prod machines.

Not moving any production workloads to Azure until this is addressed.

Re-building all of my Prod machines from scratch is a deal killer. :-(

[2019-09-01 23:56] chino0913 opened #38122 "Please add Login error code 650052"
The Login error Code 650052 is not documented

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/ac

[2019-09-02 00:29] dcbrown16 commented on #34421
@jakaruna-MSFT we continue to get inquiries about licensing Windows 10 on Azure, so updated/clarified info would be great. I'll be watching this issue since Keiro has left the team.

[2019-09-02 00:38] ikflc commented on #38054
Thanks Kalyan,

I shall get back to you on this.

Best regards,
Irene

From: Kalyan Chanumolu <notifications@github.com>
Sent: Saturday, 31 August 2019 4:24 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Irene Lam <Irene.Lam@aemo.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] List account keys - command example is incorrect. (#38054)

@ik

[2019-09-02 00:41] dcbrown16 commented on #34421
Would be great to know, for example, how the info in this doc relates to the link below.
https://docs.microsoft.com/en-us/windows/deployment/vda-subscription-activation
Do you have to define LicenseType of the VM as Windows_Client for the automatic Enterprise activation to work, for example?

[2019-09-02 01:33] neeleshray-msft commented on #38122
@chino0913
Thanks for the feedback! Could you share a screenshot of the Error 650052 that you are receiving ?

[2019-09-02 01:34] neeleshray-msft commented on #38122
@cawrites
Could this be looked into on the Error Code 650052 and the same to be added to the document ?

[2019-09-02 01:38] v-etzha commented on #37834
Thanks a lot for looking into this question! I've got the web url by the getProperties() method https://docs.microsoft.com/en-us/javascript/api/azure-arm-storage/storageaccounts?view=azure-node-latest#getproperties-string--string--object- and then the primartEndpoints are listed in the properties. So close this issue.

[2019-09-02 01:38] #37834 closed

[2019-09-02 01:43] skmunichetty opened #38123 "The consumpution plan is outdated"
Please update the consumption plan step, it is outdated. The latest "apiVersion": "2016-09-01", which is different to the old one
"sku": {
                "name": "XY1",
                "tier": "Dynamic",
                "size": "XY1",
                "family": "XY",
                "capacity": 0
            },

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-09-02 01:45] neeleshray-msft commented on #38042
@jeevansd  Jeevan, Do we have any information on this ?

[2019-09-02 01:51] neeleshray-msft commented on #37804
@kbroughton  @temabu
As of today we do not have any tool to assess if a user needs a given role. You can give your ideas on our [Azure Feedback Portal](https://feedback.azure.com/forums/34192--general-feedback) for the same.

[2019-09-02 01:51] #37804 closed

[2019-09-02 02:02] BryanTrach-MSFT commented on #38101
@binnisays Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@msangapu-msft I encountered the same error as the customer.

`[ERROR] Failed to execute goal com.microsoft.azure:azure-webapp-maven-plugin:1.7.0:deploy (default-cli) on project helloworld: Please config the <appName> in pom.xml. -> [Help 1]`

I tried

[2019-09-02 02:08] Kirlac commented on #38040
Hi @ThomasWeiss. Thanks for your response. I do however think it's somewhat disingenuous to state that the `x-ms-request-charge` attribute is the only useful one here. From what I can see, @ashwinisingh01 / @ashwini-ms worked hard to [expose details like Request Charge, Rate limiting/Retry policy details etc.](https://lists.apache.org/thread.html/fd2208a2db827bc1eb479ad8c2f181bd2fa532553c97b3fe699

[2019-09-02 02:14] BryanTrach-MSFT commented on #38118
@arolshan That API looks at the resources available to your subscription. Certain resources are location locked and other resources/regions are not allowed to certain subscription types. This command will tell you what resources/regions are available for your specific subscription.

[2019-09-02 02:14] #38118 closed

[2019-09-02 02:19] BryanTrach-MSFT commented on #38119
@zainuvk Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-02 02:21] BryanTrach-MSFT commented on #38120
@njbuch Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-02 02:22] BryanTrach-MSFT commented on #38123
@skmunichetty Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-02 02:56] DixitArora-MSFT commented on #37965
@sandeepiiit I have assigned this to content author to review and update as appropriate.

[2019-09-02 03:40] kevin808 opened #38124 "Inaccurate information"
The name of an app setting that contains the connection string to the event hub's namespace. Copy this connection string by clicking the Connection Information button for the namespace, then add the event hub name in EntityPath. This connection string must have sent permissions to send the message to the event stream.
Example:
"Endpoint=sb://abc.servicebus.windows.net/;SharedAccessKeyName=RootMana

[2019-09-02 04:08] msrini-MSFT commented on #38015
@david-frazee , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-09-02 04:08] #38015 closed

[2019-09-02 04:17] msrini-MSFT commented on #38124
@kevin808 , Thank you for your feedback. We will take a look and get back to you shortly.

@PramodValavala-MSFT , Can you take a look at this issue?

[2019-09-02 04:31] codercampos opened #38125 "Code or Packages Out of date"
I followed step by step this tutorial but it seems to not working anymore (console is returning Compilation error due to missing references). For example:
[Error] run.csx(9,30): error CS0234: The type or namespace name 'MediaServices' does not exist in the namespace 'Microsoft.WindowsAzure' (are you missing an assembly reference?)

I'll try other solutions or updated packages and see what's missin

[2019-09-02 04:56] msrini-MSFT commented on #38125
@codercampos , Thank you for your feedback. We will investigate and get back to you shortly.

@KetanChawda-MSFT , Can you take a look at this issue?

[2019-09-02 05:12] codercampos commented on #38125
More information I just found: this sample is running under the 1.x version. I already could compile the function but when I test it, this seems to not be executed, returns: Exception while executing function: Functions.VideoProcess. Microsoft.Azure.WebJobs.Host: One or more errors occurred. Exception binding parameter myBlob.

If I trigger the function uploading a blob, this is what it says: Coul

[2019-09-02 06:07] flanakin commented on #18121
What type of account are you referring to? All the most current APIs use "Cost", which represents the total cost before taxes. Is that what you're looking for?

[2019-09-02 06:13] dcbrown16 opened #38126 "Is outbound needed +169.254.169.254"
Is outbound communication to this IP address needed?
Also, is this page a good place to elaborate on 169.254.169.254, which is listed at the link below as being required along with 168.63.129.16? Is the 254 address used for the same purposes, or what?
https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#azure-platform-considerations

---
#### Document Details

⚠ *Do not edit th

[2019-09-02 06:27] msrini-MSFT commented on #38126
@dcbrown16 , Thank you for your feedback.

@genlin , Can you take a look at this issue and update the doc if necessary.

[2019-09-02 06:46] SumanthMarigowda-MSFT commented on #37795
@karlochacon We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-02 06:49] santo2 commented on #29051
yes, I do still think that this should have been a part of the build pipeline steps, now we need to define and overwrite our parameters too much. but it works

[2019-09-02 06:49] #29051 closed

[2019-09-02 07:18] fowl2 opened #38127 "App Registrations - Limitations - AppRegNew.aspx created AppIDs not shown"
App IDs created with [AppRegNew.aspx](https://docs.microsoft.com/en-us/sharepoint/dev/sp-add-ins/register-sharepoint-add-ins) do not appear in the new portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 576bf585-3203-731a-a8aa-597ae80b927b
* Version Independent ID: 49969685-794a-29fe-94e8-3f50a668d141
* Content: [Ap

[2019-09-02 07:25] BryanTrach-MSFT commented on #38127
@fowl2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-02 07:39] mariusagur commented on #32741
Any update to this?

[2019-09-02 08:11] dschenzer commented on #36905
@PatrickFarley can we reopen the issue?

[2019-09-02 08:20] numankhan82 opened #38130 "When I try sudo su to get super user. It don't work."
Hey folks,
when I try to use the sudo su on my Azure Linux VM. I get the below msg.
Sorry, user username is not allowed to execute '/usr/bin/su' as root on hostname.

Please help to resolve this.
thank you.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1396c845-32b2-2da9-46a7-9cd2b7e9d4c5
* Vers

[2019-09-02 08:28] msrini-MSFT commented on #38130
@numankhan82 , Thank you for posting here.

Can you let me know the OS and the version where you are are trying to execute this command?

[2019-09-02 08:31] numankhan82 commented on #38130
yes, Its CentOS Linux release 7.6.1810 (Core) with kernel 3.10.0-957.21.3.el7.x86_64

[2019-09-02 08:36] #23521 closed

[2019-09-02 08:58] markgzhou commented on #38037
Thanks for your information.

[2019-09-02 09:08] CHEEKATLAPRADEEP-MSFT commented on #26215
@NickPapps If you enroll in the public preview of multi-protocol access on Data Lake Storage, then blob APIs and Data Lake Storage Gen2 APIs can operate on the same data. To learn more, see [multi-protocol access on Data Lake Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-multi-protocol-access).

Multi-protocol access on Data Lake Storage is in public preview, and

[2019-09-02 09:09] rayne-wiselman commented on #37817
Hi, can you provide a few more details. If the doc doesn't state that the maximum is 10, then where are you seeing this as a maximum? Thanks!

[2019-09-02 09:10] sirquits opened #38131 "SqlException"
There is already an object named 'Todoes' in the database.
-error occurred after selecting "execute code first migrations" and clicking "publish".

PM&gt; Enable-Migrations
Checking if the context targets an existing database...
Code First Migrations enabled for project DotNetAppSqlDb.
PM&gt; Add-Migration AddProperty
Scaffolding migration 'AddProperty'.
The Designer Code for this migration file i

[2019-09-02 09:13] Sethu2488 commented on #37869
Any update on adding the face attribute in the detection 02 model

[2019-09-02 09:19] #37855 closed

[2019-09-02 09:20] BryanTrach-MSFT commented on #37855
@bowlerma Thank you for bringing this requirement up to us. We added a statement highlighting it. The changes should be public within 24 business hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-02 09:21] VijayCorinthian opened #38132 "Page needs organizing."
I love the detail on this page. However it is spread out all over the place without any organizing. You must have sections that collapse and open. That way we can read what is relevant. Also if I am interested in only C# and want to hide the rest it should be possible. That way page would be shorter and easier to read and digest. Good work though. Keep it up.

---
#### Document details

⚠ *Do not

[2019-09-02 09:28] msrini-MSFT commented on #38130
@numankhan82 , It does work fine for me.

![image](https://user-images.githubusercontent.com/47132998/64104554-0be53200-cd92-11e9-8f9c-a4bb0f387aae.png)

Are you getting a prompt for password?

Can you post screenshot ?

[2019-09-02 09:29] naleczynskia opened #38133 "Information on permissions relates to classic alerts"
The section "Control access in the resource group" says "Assign the Application Insights Component contributor role to users. This allows them to edit web tests, alerts, and Application Insights resources, without providing access to any other services in the group."

This was true for classic alerts. But Application Insights Component Contributor can't create new alerts. Only Monitoring Contribut

[2019-09-02 09:36] markgzhou commented on #38037
Does this mean the ADF copy activity does not guarantee the data integrity even though the copy activity status is successful? The parquet files I'm trying to copy is from/to Data Lake Storage Gen2.

[2019-09-02 09:37] ambrosiealin opened #38134 "video linsk are too old."
Please change the resource links from
"For videos about scaling App Service apps, see the following resources:"

They link to an Azure Friday session from 2013, that show the Azure Classic portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44c8de6c-a71b-7c7d-69f5-b1ec446f33ff
* Version Independent ID: 85f9c74a-7039

[2019-09-02 09:56] ishepherd commented on #37844
Thanks Alex! I think I had a misunderstanding here.

[2019-09-02 09:57] numankhan82 commented on #38130
Hi,
Is this your Azure VM? I am using CentOS whereas I see you are using Red Hat.
![azure-screen](https://user-images.githubusercontent.com/54796297/64106589-8d849200-cd89-11e9-9b48-705d8a87da6f.png)

[2019-09-02 09:58] KrishnaG-MSFT commented on #37905
@sunilkcs Closing this azure-docs GitHub issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-02 09:58] #37905 closed

[2019-09-02 09:59] soluwarejb opened #38135 "Grant access manually"
Hi,

I have a problem with the procedure when creating the certificate. I have this error:

Unable to grant certificate private key access to NETWORK SERVICE. Please grant access manually.

Do you have an idea?
I am a administrator in Powershell

Best regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61df48bb-a963

[2019-09-02 10:00] msrini-MSFT commented on #38134
@ambrosiealin , thank you for your feedback.

@cephalin , can you take a look?

[2019-09-02 10:02] yluiu commented on #37869
Currently we are working on to improve the attributes algorithm especially on small, side, blurry faces which will be recalled by the new SLN. Since there are 14 attributes need to be supported and improved, that takes time. The internal ETA is end this year or early next year.

[2019-09-02 10:11] msrini-MSFT commented on #38130
@numankhan82 , I am using the exact same OS and version. It does works fine for me.

![image](https://user-images.githubusercontent.com/47132998/64107224-9aa87d80-cd97-11e9-9ac5-dff4684d7bdc.png)

Anyways I will take a look and get back to you shortly.

[2019-09-02 10:14] msrini-MSFT commented on #38133
@naleczynskia  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-02 10:18] msrini-MSFT commented on #38132
@VijayCorinthian , Thank you for your feedback.

[2019-09-02 10:23] msrini-MSFT commented on #38131
@sirquits , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-02 10:28] msrini-MSFT commented on #38135
@soluwarejb , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-02 10:45] Sethu2488 commented on #37869
Thank you

[2019-09-02 10:59] gopalbhat6 commented on #30109
Hi Saurabh, Will you please confirm the Microsoft Authenticator app is now supported?

[2019-09-02 11:12] J0F3 opened #38136 "Function to get the version of the assigned blueprint definition?"
Is it some how possible to get properties like the version or name of the blue print definition during an assignment?
The use case may be to write the version and the name of the blue print definition to a tag on the resource so you can see from which blueprint and version the resource was created.

Thx
Jonas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-09-02 11:32] KrishnaG-MSFT commented on #38103
@gnerd Thanks for the comment. I have validated the document and came up with below points.

- step 1 - Yes, this assumes you already have the workspace so was mentioned in "Prerequisites" section. However, I see that step 1 would have to be updated by adding way to directly import module named "OMSIngestionAPI" from "Modules gallery" tile in your Automation account.

- step 2 - Get WorkspaceId, W

[2019-09-02 11:33] msrini-MSFT commented on #38136
@J0F3 , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-02 11:46] dominicbetts commented on #37584
@kudlatiger - I have not fully tested these steps, but an outline of the process is as follows:

1. Find the connection string of the IoT Hub you wish to use.
1. In the Azure portal, find the resource group that contains the solution accelerator's resources.
1. In this resource group, find the Device Provisioning Service instance. Add your IoT Hub to the list of "Linked IoT Hubs" and remove the Io

[2019-09-02 11:48] ram-msft commented on #37869
@Sethu2488 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-02 11:48] #37869 closed

[2019-09-02 12:25] mdddev commented on #33480
I am having the same issue, too. I am deploying the function app via terraform, so the system assigned identity I used was already referenced using an object id instead of a resoruce name. The access policy no is to allow LIST+GET on secrets (I previously thought GET would suffice, but more and more samples say otherwise?). I can also confirm that MSI_SECRET and MSI_ENDPOINT env variables have bee

[2019-09-02 12:33] mortenlerudjordet commented on #34320
The issue I have with the approach above is that multiple audit logs can come in at once. A better approach would be to have logic that checks if there are more than one record in the input data and send each of them through to log analytics.

![image](https://user-images.githubusercontent.com/10818066/64114906-92981000-cd8e-11e9-8a69-73c4ec9f2e41.png)

[2019-09-02 12:37] Mat-Taylor commented on #12701
I'm also interested in an actual answer to this question.

[2019-09-02 13:04] YutongTie-MSFT commented on #36905
I have reopened this issue.

@PatrickFarley Hi Patrick, could you please add more details about how Computer Vision API manages user's data according to GDPR? Thanks.

[2019-09-02 13:17] edlang opened #38137 "OAuth2 authentication method unavailable"
I am unable to schedule the refresh of data as the gateway is only listing the options "Anonymous", "Basic", and "Windows" as the available authentication types. Is there anything that needs to be modified on the gateway, in the report, or in the queries, so that OAuth2 is an option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-09-02 13:23] KrishnaG-MSFT commented on #38137
@edlang Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-02 13:27] YutongTie-MSFT commented on #38106
@PatrickFarley  Hi Patrick, could you please check with this issue and update more details to the pricing part? Thanks.

[2019-09-02 13:28] stijnbrouwers commented on #35932
Is there any update on this?

[2019-09-02 13:35] #37795 closed

[2019-09-02 13:35] PhilStollery opened #38138 "Grammar issue - delete period after question mark."
Last section, Next steps https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tshoot-connect-install-issues#next-steps, last bullet, delete the period.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6a91179-0c87-0cfd-f4e3-d5591337d264
* Version Independent ID: c0243a7f-db16-f640-0836-5ad5f4589ac6
* Content:

[2019-09-02 13:53] reubster commented on #6226
@christianwade ... I've been looking at this for quite a while, and been in touch with Microsoft professional services in the UK.. and we can't find a way to **securely** update the data source credentials using AAS scripting.

[2019-09-02 13:53] hansmbakker commented on #33471
I believe it is solved in [this PR](https://github.com/microsoft/botbuilder-dotnet/pull/2397)

[2019-09-02 14:24] akshayyadav1122 opened #38141 "API support to create the FQDN"
Is there any api to create the FQDN after the VM has been created so that the same can be used by az cli, poweshell etc for automation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a911376a-74ea-7c08-9209-24a3b3b2c8b1
* Version Independent ID: 9f6c0306-69b8-308e-e3c8-48d49cd07897
* Content: [Create FQDN for a Windows

[2019-09-02 15:07] gnerd commented on #38103
The search itself doesn't work either,
Thanks
Jeffrey
________________________________
From: KrishnaG-MSFT <notifications@github.com>
Sent: Monday, September 2, 2019 7:33:07 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: gnerd <jrosen@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] tutorial is not working (#38103)

@gnerd<https://nam0

[2019-09-02 15:25] msrini-MSFT commented on #38138
@PhilStollery , Thank you for your feedback. I made a PR and the changes will be reflected soon.

PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/87216

[2019-09-02 15:31] #38138 closed

[2019-09-02 15:33] msrini-MSFT commented on #38141
@akshayyadav1122 , Thank you for posting your question here.

You can use the below REST API to update the FQDN of Public IP address:

Sample Request:
PUT https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/test-ip?api-version=2019-06-01

Sample Body:
{
  "properties": {
    "dnsSettings": {
      "domainNameLabel": "dnslbl"
    }
  },

[2019-09-02 15:36] DCtheGeek commented on #38136
#reassign:DCtheGeek

[2019-09-02 15:38] DCtheGeek commented on #38136
@J0F3 Thanks for the question!  This isn't possible today.  The best way to request this is to post it on the [Azure Blueprints UserVoice](https://feedback.azure.com/forums/915958-azure-governance?category_id=345058). Please include details about your Use Case to help the team understand the value and others understand why it's worth voting for.  Thanks!

@MicrosoftDocs/azure-cxp-triage #please-cl

[2019-09-02 15:38] #38136 closed

[2019-09-02 16:34] opticyclic commented on #36678
Adding a link to the consent doc would help.

But also screenshots of that page and how it works would be useful too.

The point here is that the short sentence in the documentation makes it seem like it is a simple operation when in fact it is complicated and requires you to be familiar with lots of other terms and it isn't clear how to do what that step says.

[2019-09-02 17:04] suwatch commented on #38049
Did you perform nuget package installation step?   If yes, after building, see if the assembly is copied to bin folder properly.

[code]

[2019-09-02 17:46] adriexnet commented on #30898
I am having the same issue using azure active directory as identity provider, could you help me? the tokens coming from azure identity provider should be controlled environment right?

[2019-09-02 17:51] adriexnet commented on #30898
This is my claim provider configuration

[code]

[2019-09-02 17:58] SHANE0MAC opened #38143 "Ports are not consistent with other articles on docs.microsoft.com"
In this article the diagram for Site 1 and Site 2 the port from the OMS Gateway to the firewall is TCP 80.

In article https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-analytics-agent
The Log Analytics Gateway "previously referred OMS Gateway" to the firewall is TCP 443.

Also Site 1 and Site 2 have different TCP ports:
Site 1 Windows agent is TCP 8081
Site 2 Linux Agent is TCP 80

[2019-09-02 18:05] blueelvis commented on #38064
@djpmsft - Is there anything on the roadmap for the rest endpoint? It doesn't make sense to download manually the package from the UX to setup CI/CD.

[2019-09-02 18:37] kbroughton commented on #25307
As pointed out many times on the web eg
https://www.fmsinc.com/microsoft-azure/sql-server/security.htm
and more precisely
https://www.youtube.com/watch?v=Af_fm7qSH_4
enabling "Access to Azure Services" on an SQL Database in fact enables all Azure resources regardless of the subscription access to the sql database. I tried it myself, using an Azure Cloud Shell to connect to a DB from another subscr

[2019-09-02 18:38] polywld7 commented on #8027
Paul leon Diaz at you service devil dogg

[2019-09-02 18:41] polywld7 commented on #38016
Washing machine mida

[2019-09-02 19:11] gorillapower commented on #36123
Theres a month to go, are the scripts available?

[2019-09-02 19:24] MicahMcKittrick-MSFT commented on #38143
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-02 19:38] Alberto-Vega-MSFT commented on #37980
Hi @menmikimen would you please share the info requested on the previous comment by @mbialecka ?

[2019-09-02 19:57] blueelvis commented on #26752
@CHEEKATLAPRADEEP-MSFT - Any update on this?

[2019-09-02 20:14] iAmSaugata opened #38145 "No able to access AWS Console"
I have configured everything as described, while testing it, I am getting stuck at loading screen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Version Independent ID: 458e93d7-a180-4c2f-5077-9b9d124d726a
* Content: [Tutorial: Azure Active Directory integration with Amazon Web S

[2019-09-02 20:32] karthiksubramanians opened #38146 "Verify Readable Locations property"
The example to find the readable locations using REST API is the below URL.
_https://{databaseaccount}.documents.azure.com/_

However, this URL does not seem to work . In the page the results can be seen for the url which provides the readable locations set based on preferred locations policy. How can we find if the client indeed tried the locations in the order of the preference given?

When I tr

[2019-09-02 20:36] Alberto-Vega-MSFT commented on #38120
Hi @njbuch

You provide the connection string for the Azure Blob Storage so the local Blob storage knows where to send the data for more info: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#devicetoclouduploadproperties.

The source container property: Allows you to specify the container names you want to upload to Azure. In this case your source container is the container

[2019-09-02 20:58] jeevansd commented on #38145
Make sure that the application is assigned to you and while assigning you select the correct role from AWS.

[2019-09-02 21:02] elafnitzegger commented on #38049
I confirmed that the assembly was copied to the bin directory. I verified the version at 1.3.0. I am open for an in person call if there is opportunity to understand and correct this issue. This direction is critical for our strategic direction

[2019-09-02 21:05] blueelvis opened #38147 "What happens when a pipeline activity is running and I update the pipeline?"
What happens when a pipeline activity is running and I update the pipeline? For example, I have a pipeline A which is running for the past 10 minutes and while the pipeline is still running, I go ahead and change either the pipeline itself or the other resources like Dataset or the linked service on which this is pipeline is depending on. What would be the behavior in this case?

1. Will the publi

[2019-09-02 21:15] njbuch commented on #38120
Good pointers. But I was looking at the simple transfer of files from a folder inside a edge module (docker/moby) container. But I understand I need a storage container created locally and a lot of code to create storage containers and insert files into those? In that case it seems tedious..?

[2019-09-02 21:17] NancyZamora commented on #36415
thanks

[2019-09-02 23:17] chino0913 commented on #38122
HI,

Please find below the screenshot of the Error

[image: image.png]

[image: image.png]

Cheers,

On Mon, 2 Sep 2019 at 11:33, neeleshray-msft <notifications@github.com>
wrote:

--

* Jonathan Vasquez *

[2019-09-02 23:25] dcbrown16 opened #38149 "Request to add info on multiple peerings in one location"
Please add a backlog item to update this document to cover the scenario made available through the following update, setting up to four circuits from different providers in a single peering location. Customers would like to see how this improves availability and what specific considerations there are for this configuration (like weighting and how to monitor which circuit is active).
https://azure.

[2019-09-02 23:26] dcbrown16 commented on #37275
I was just about to report this as well. For further context, this appears to be a new option as of June.
https://azure.microsoft.com/en-us/updates/expressroute-now-supports-up-to-4-circuits-from-the-same-peering-location-into-the-virtual-network/
I made a stab at a PR for this FAQ here on #38148 and requested that the availability doc be updated with more details on #38149.

[2019-09-03 00:02] arindam-laha opened #38150 "Mutual - tls client authentication and Mutual-tls certificate - bound access tokens"
Does this feature implement both Mutual-tls client authentication and mutual-tls certificate - bound access tokens as mentioned in the IETF draft - https://tools.ietf.org/html/draft-ietf-oauth-mtls-17.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e44b783-3ca5-6b6a-1f33-d7a107b8f8e0
* Version Independent ID: aa2bb5fd

[2019-09-03 00:24] juyama opened #38151 "Lack of documentation about container metrics"
We would like to know what each metrics mean. It seems not in the documentation.
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-analyze#view-container-metrics-in-metrics-explorer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00bba50e-e07b-0a1c-5ac9-4721436f73e2
* Version Independent I

[2019-09-03 00:28] Mike-Ubezzi-MSFT commented on #38146
@karthiksubramanians Did you see the detail in the [.NET SDK](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-global-distribution-sql-api#net-sdk) section? It appears something is not resolving correctly for you. Does your client code look something like the following:

connectionPolicy.PreferredLocations.Add(LocationNames.WestUS); // first preference
connectionPolicy.PreferredLocations.

[2019-09-03 01:40] piquet-h opened #38152 "Nested binding properties not supported?"
Trying to bind a cosmosDb query to an input based on a json payload from event grid
{
    "data" : { "username" : "fred" }
    …. rest of event grid stuff
}

Can only bind to the outer properties. This is different to the description earlier in the document that talks about using dot notation to bind to nested properties.

Needs to be clarified, or alternatively, have the bug fixed.

---
#### Docu

[2019-09-03 01:46] piquet-h commented on #38152
Hmm - seems to be the case.
https://github.com/Azure/azure-webjobs-sdk/issues/1726

[2019-09-03 01:47] piquet-h opened #38153 "Dot Notation does not work for CosmosDb bindings"
See https://github.com/Azure/azure-webjobs-sdk/issues/1726

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fbaa31-cfcc-4b8c-abe0-4efeaee3e4f0
* Version Independent ID: db65fc3d-d8b3-1f19-91a0-4f3696fbca69
* Content: [Azure Functions bindings expressions and patterns](https://docs.microsoft.com/en-us/azure/azure-functi

[2019-09-03 02:15] KrishnaG-MSFT commented on #38151
@juyama Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-03 02:24] russcam commented on #37958
@navinmistry I experienced the same change, although getting the first prefix is sufficient for our use case, using `first()`

[2019-09-03 02:30] sirquits commented on #38131
Hi, I fixed the issue.

First thing, when the Add-Migration AddProperty was run, it was creating the wrong migration commands.
It should not be creating CreateTable and DropTable commands, it should be creating AddColumn and DropColumn instead.

public partial class AddProperty1 : DbMigration
    {
        public override void Up()
        {
            AddColumn("dbo.Todoes", "Done", c => c.Boole

[2019-09-03 02:39] olignat commented on #38040
Hi @Kirlac,

I apologize for having incomplete documentation for Cosmos DB Gremlin service. We have covered some aspects of what you're interested in [Self Help Article about Response Headers](https://github.com/Azure/SelfHelpContent/blob/master/articles/microsoft.cosmosdb/cosmosdb-gremlin-responseheaders.md). Documentation doesn't explicitly prescribe each type, but implies that types are primiti

[2019-09-03 02:42] neeleshray-msft commented on #38145
@iAmSaugata
Do check the application assignment as suggested by Jeevan and let us know if it works.

[2019-09-03 03:09] kalatchev opened #38154 "Cyrillic"
Does Azure Cognitive Services recognise Cyrillic letters? Any examples?

---
#### Подробни данни за документите

⚠ *Не редактирайте този раздел. Задължително е за docs.microsoft.com ➟ връзка към проблем в GitHub.*

* ID: a0c01253-54e1-02da-e7f5-3be6bfbf2294
* Version Independent ID: 27dd48d8-d829-79ec-a5f8-b7dae2855aa1
* Content: [Quickstart: Recognize speech, .NET Framework (Windows) - Speech Ser

[2019-09-03 03:15] DixitArora-MSFT commented on #38153
Hi @piquet-h Thanks for your feedback. We will review and update as appropriate.

[2019-09-03 03:20] KalyanChanumolu-MSFT commented on #38053
@ikflc Its been a while we have heard from you. We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-03 03:20] #38053 closed

[2019-09-03 03:43] KalyanChanumolu-MSFT commented on #38041
@VanMSFT @rohitnayakmsft

From what I can see right now, the setting is turned off by default.

![image](https://user-images.githubusercontent.com/8835012/64142748-fa9c3400-ce2a-11e9-9285-1d3bdf631a7b.png)

[2019-09-03 03:45] SnehaAgrawal-MSFT commented on #38049
@elafnitzegger Thanks for the clarification. Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter. We will now proceed to close this thread.

[2019-09-03 03:45] #38049 closed

[2019-09-03 03:51] CHEEKATLAPRADEEP-MSFT commented on #37955
@dearandyxu Could you please review further and update the document as appropriate.

[2019-09-03 04:08] AdamCoulterOz opened #38155 "Managed Application Permissions"
Are managed applications subject to the same restrictions as the identity provisioning an instance of them? For example if the customer provisions an instance of a managed application, and they don't have permissions to provision Virtual Networks, can the managed application still provision Virtual Networks inside its own managed resource group?

Also - I've noticed even when the provisioning iden

[2019-09-03 04:10] KalyanChanumolu-MSFT commented on #38035
@santiagobando This issue is being assigned to the content author to evaluate and update as appropriate.
Meanwhile, if you need immediate help or a work around, please post your requirement on the [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=ssdsgetstarted)

@GithubMirek The screenshots in the documentation are from the legacy App Registrations experience. The article nee

[2019-09-03 04:13] iAmSaugata commented on #38145
Hi,
I have tried with creating users and group both, and assigning the roles. I have create two roles in AWS and I can see them under AWS App in Azure.
I have assigned the role to individual Azure AD user and then I have also tried assigning the role to a group and then adding users to that group.
Under my apps, I can see AWS Apps, while I access, after authentication it is landing on to a page wi

[2019-09-03 04:13] cparker4486 opened #38156 "Retry the explanation for "Add parameters""
Can someone start over with the explanation for "Add parameters"? I don't understand the use case and it seems like there should be a #5 but it stops at #4. Specifically, what do you do after you've explicitly added an action as a parameter?

Regarding my first request, please try a more basic example or use more screenshots to demonstrate the existing scenario? I was never good at word problems.

[2019-09-03 04:15] iAmSaugata commented on #38145
When I first time accessed the app, it prompt me for Name, User and Password, I provided the details for the new account I have created i Azure AD. Is this normal?

[2019-09-03 04:18] CHEEKATLAPRADEEP-MSFT commented on #38147
@blueelvis When you modify the pipeline while running job doesn't takes any changes which are made. It will be applied on the next run/trigger once you have published the changes which you are made.

1. Will the publish be successful?
If you modify the pipeline, you need to manually click "Publish" button to update the activity with the changes.
2. What happens to the existing pipeline run?
Existi

[2019-09-03 04:22] rbrundritt opened #38157 "WGS84 Reference model?"
Does this use an ellipsoid or spheroid reference model for WGS84? Are calculations done using geodesic (spatially accurate on globe) or planer geometry calculations (visually accurate on Mercator map)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c72695a-0bef-6a4b-0210-e02e4145f652
* Version Independent ID: e29b6abf

[2019-09-03 04:25] SwathiDhanwada-MSFT commented on #37903
@johnkemnetz Can you please provide your insights on this?

[2019-09-03 04:33] SwathiDhanwada-MSFT commented on #37969
We will now close this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-03 04:33] #37969 closed

[2019-09-03 04:40] akshayyadav1122 commented on #38141
Thanks for the quick answer, this is what I was looking for, closing the issue.

[2019-09-03 04:40] #38141 closed

[2019-09-03 04:51] ManojReddy-MSFT commented on #37843
@Roywiizeman I am afraid B2B users will not be able to RDP on VM's using Azure App proxy. You can make use of JIT access to VM's to reduce the security risk as discussed [here](https://docs.microsoft.com/en-us/azure/security-center/security-center-just-in-time).

[2019-09-03 04:52] KetanChawda-MSFT commented on #38125
@codercampos I have assigned the issue to the content author to evaluate and update as appropriate.
@Juliako Can you take a look at this issue?

[2019-09-03 04:52] ManojReddy-MSFT commented on #38029
@omerzubair We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-09-03 04:52] #38029 closed

[2019-09-03 04:54] #38031 closed

[2019-09-03 05:05] MicahMcKittrick-MSFT commented on #38154
@kalatchev can you please share the link to the documentation you are following so we can better assist?

[2019-09-03 05:06] MicahMcKittrick-MSFT commented on #38149
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-03 05:07] MicahMcKittrick-MSFT commented on #38150
Thanks for the question! We are investigating and will update you shortly.

[2019-09-03 05:14] msrini-MSFT commented on #38152
@piquet-h , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-03 05:16] KrishnaG-MSFT commented on #38155
@ksix Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-03 05:17] santiagobando commented on #38035
Thank you all. I'll be waiting for the update. Awesome job of you all! (Y)

Saludos,

Santiago Obando Dordán

________________________________
De: Kalyan Chanumolu <notifications@github.com>
Enviado: lunes, 2 de setiembre de 2019 23:11
Para: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: santiagobando <sant_andres@hotmail.com>; Mention <mention@noreply.github.com>
Asunto: Re: [Micros

[2019-09-03 05:22] msandeep22 opened #38158 "forgot closing parenthesis in the sample"
CreateContainerIfNotExistAsync(blobClient, inputContainerName; was written in code sample of the documentation. Kindly correct it with below code
CreateContainerIfNotExistAsync(blobClient, inputContainerName);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d35e3d8-a644-dfb6-a16a-93679276c079
* Version Independent ID:

[2019-09-03 05:25] msrini-MSFT commented on #38149
@rambk , can you take a look and update the doc if necessary ?

[2019-09-03 05:33] ManojReddy-MSFT commented on #38135
@soluwarejb It is possible that your account does not have the necessary permissions to grant control to other services.

You can check this manually by following the below steps:
1. Open Run
2. Type "Certlm.msc"
3. Navigate to Personal store
4. Find the certificate and right-click on the certificate
5.  All tasks > Manage Private Keys
6. You can check your permissions and also add any additional

[2019-09-03 05:52] VikasPullagura-MSFT commented on #37604
@t-l-k Thanks for the feedback. I have shared the feedback to document author to have this as document enhancement.

[2019-09-03 05:57] ManojReddy-MSFT commented on #38158
@msandeep22 Thanks for reporting this. Can you please provide the document link?

[2019-09-03 06:06] RohitMungi-MSFT commented on #38016
@gearsmotion789 You can use the rest API as detailed in the [documentation](https://docs.microsoft.com/en-us/rest/api/machinelearning/webservices/get).

`GET https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/webServices/{webServiceName}?api-version=2016-05-01-preview
`

The swaggerLocation field in the response should

[2019-09-03 06:06] #38016 closed

[2019-09-03 06:07] souravmishra-msft commented on #38046
Thank you for correcting me. I did check that cmdlet "**az ad sp create-for-rbac --password**"  it's no longer available. In its place you can use the following cmdlet "**az ad sp create-for-rbac --sdk-auth**" or "**az ad sp create-for-rbac --sdk-auth > authfile.azureauth**".

This cmdlet would get you an output similar to:

[code]

Now, once you run the above cmdlet, it creates a Service Principa

[2019-09-03 06:16] AshokPeddakotla-MSFT commented on #37534
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-03 06:16] #37534 closed

[2019-09-03 06:22] KetanChawda-MSFT commented on #38100
@JonathanWilbur I have assigned the issue to the content author to evaluate and update as appropriate.

@ggailey777 Can you take a look at this?

[2019-09-03 06:32] shafalfa opened #38159 "The endpoints for Sentiment Analysis v3 don't work"
I've tried connecting to the endpoints listed on this page:
https://westcentralus.dev.cognitive.microsoft.com/docs/services/TextAnalytics-v3-0-preview/operations/56f30ceeeda5650db055a3c9

And I always get a 404.
The documentation specifies
https://{endpoint}/text/analytics/v3.0-preview/sentiment[?showStats]

And the response I get for all three regions is
{
    "error": {
        "code": "404",

[2019-09-03 06:35] RohitMungi-MSFT commented on #38117
@ravikiran-srini Thanks for your question. The feedback regarding the module reference pages is directly raised from the github issue page [here](https://github.com/MicrosoftDocs/azure-reference-other/issues).

@xiaoharper @j-martens Could you please help to address the question regarding [group-data-into-bins](https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/group-d

[2019-09-03 06:39] jakaruna-MSFT commented on #38130
@numankhan82 please provide the publisher, sku and offer of the VM which you provisioned.
I can create a vm with the same image and try to reproduce the issue.

You can get the publisher, sku and offer by using the below command
`az vm show -n your-vm-name -g your-resource-group --query 'storageProfile.imageReference'`

[2019-09-03 06:40] jakaruna-MSFT commented on #38130
@numankhan82 the VM is created with Azure provided image or from the custom image?

[2019-09-03 06:46] nehatiwari1994 opened #38160 "Please add the section if any downtime or disruption is required if we disable or enable any specific owasp rule in the existing setup of application GW in production"
Please add the section if any downtime or disruption is required if we disable or enable any specific owasp rule in the existing setup of application GW in production as recently we are facing the issue with the rules being triggered and we are not sure if we can disable the rule directly in the live or we need to take downtime for the safer side

---
#### Document Details

⚠ *Do not edit this sec

[2019-09-03 06:47] jakaruna-MSFT commented on #38110
@montebhoover Thanks for reporting.
I submitted a PR. Changes will go live in few hours.

[2019-09-03 07:01] DixitArora-MSFT commented on #38044
@petehe Just following up if you have gone through this [doc](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#register-an-application-in-azure-ad-to-represent-the-api). It already explain this and let me know if any more questions.

[2019-09-03 07:03] #38110 closed

[2019-09-03 07:09] dcurwin commented on #37528
#reassign:pvrk

[2019-09-03 07:23] iAmSaugata commented on #38145
URL have many string, see bellow.

https://account.activedirectory.windowsazure.com/applications/redirecttoapplication.aspx?error=access_denied&error_description=AADSTS650057%3a+Invalid+resource.+The+client+has+requested+access+to+a+resource+which+is+not+listed+in+the+requested+permissions+in+the+client%27s+application+registration.+Client+app+ID%3a+0000000c-0000-0000-c000-000000000000(Microsoft+A

[2019-09-03 07:34] jerrylhamk commented on #9331
I am currently running to this exact same issue. Here's the error I receive:

`{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\r\n \"error\": {\r\n \"code\": \"ResourceDeploymentFailure

[2019-09-03 07:34] nitin775 opened #38162 "Rephrase the sentences"
Under the section "Log search alert rule - firing and state", following sentences are difficult to comprehend -

1. Without the alert every getting resolved, as the logic of the exact root-cause of monitoring failure is masked inside the analytics query provided by the user.
2.There currently being no mechanism for Azure Monitor Alerts to conclusively deduce root cause being solved.

Kindly revisi

[2019-09-03 07:53] RohitMungi-MSFT commented on #38159
@shafalfa Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-03 08:00] SubhashVasarapu-MSFT commented on #38160
@nehatiwari1994, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-03 08:05] RohitMungi-MSFT commented on #38159
@shafalfa We have tried to use a resource of text analytics API and it works as expected. Could you please check if the resource created from portal is of API type Text Analytics. The request URL should be of the following:

https://centralus.api.cognitive.microsoft.com/text/analytics/v3.0-preview/sentiment?showStats=true

Screen shot of a request is mentioned below:

![image](https://user-images.

[2019-09-03 08:18] v-tawe opened #38163 "Confused in **Add Microsoft Account information to your App Service application**"
I can only find **Authentication** item in left navigation without **Authentication / Authorization** item, and if I choose **Authentication**, then no **Authentication Providers** can be found as step 3 says.
Don't know how to insert a screenshot here...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65d2b8ea-9a87-1eb

[2019-09-03 08:18] KrishnaG-MSFT commented on #38162
@nitin775 Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-03 08:27] numankhan82 commented on #38130
Hi,
This is Azure provided image. Actually I am running a bash script post deployment of VM that is causing this issue. I tested on fresh deployment of VM and it is working.
Sorry for bothering...
thank you

[2019-09-03 08:38] mfalkvidd opened #38164 "CosmosClient singleton is added in Startup but not used in the Function"
In the code example, a CosmosClient singleton is added in Startup. However, the CosmosClient is not used in the Function.
How do I access the CosmosClient  from the function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b90

[2019-09-03 08:43] dcurwin commented on #37929
#assign:saurabhsensharma

[2019-09-03 08:43] msrini-MSFT commented on #38156
@cparker4486 , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-03 08:45] msrini-MSFT commented on #38157
@rbrundritt , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-03 08:45] jakaruna-MSFT commented on #38130
@numankhan82 Good to know that your issue is resolved.
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-09-03 08:45] #38130 closed

[2019-09-03 08:46] KarlGW opened #38165 "Querystring parameters startDate and endDate for Usage Details"
It seems these doesn't do anything. When doing some test queries against the Usage Details API I still get the whole current month even though specifying `&startDate=2019-08-01&endDate=2019-08-01`.  This is for api version 2019-05-01. The documentation as a whole for Usage Details is lacking somewhat regarding date ranges. It gives billing periods, but only mentions date ranges are available.

Or

[2019-09-03 08:48] jakaruna-MSFT commented on #38051
@cynthn @georgewallace  I unable to find the author in github.

Assigning this issue to @georgewallace  since Microsoft alias has his id in the issue description.

[2019-09-03 09:01] jakaruna-MSFT commented on #36875
@theheatDK
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-09-03 09:01] #36875 closed

[2019-09-03 09:05] anandmrya commented on #38101
if you have already created web-app manually through azure portal then you have to replace the whole "${    }", and insert the respective details normally without "${   }".
Note:  also include new tag <pricingTier> if not using default pricing.(mine was F1)

[2019-09-03 09:11] xtellurian commented on #37661
@deepakpalled @AshokPeddakotla-MSFT did you find the answer? It makes a big difference in resource planning and architecture decisions...

[2019-09-03 09:12] faridulhassan commented on #37927
@Alberto-Vega-MSFT , Thank you very much. I am exactly looking for this.

[2019-09-03 09:12] rayne-wiselman commented on #37682
@diccon Thanks for your feedback! After creating a replication policy you can modify it in vault -> Site Recovery infrastructure -> Replication Policies -> <policy-name> -> Edit. Changes apply to new and existing replicating items.

[2019-09-03 09:14] rayne-wiselman commented on #37523
@rwaal Hi, can you let us know if this is solved? thx

[2019-09-03 09:17] diccon commented on #37682
Hi @rayne-wiselman I meant that if you want to change the policy for a protected item then this isnt possible without changing the entire policy for all protected items. Scenario would be that I have 400 VMs protected via a current policy, I now want to change 100 of them to a newer policy with a different RPO. The only option available at the moment is to modify the primary policy (which effects

[2019-09-03 09:20] rayne-wiselman commented on #37519
@DeanGross Thanks for your feedback. Site Recovery is application agnostic so it should work for SharePoint Server 2019. We haven't specifically tested it and hence it has not been added to our document. I'll update the article to state this.

[2019-09-03 09:22] rayne-wiselman commented on #37682
Yes. I'll add a note to the article. thx

[2019-09-03 09:32] SadiqhAhmed-MSFT commented on #38165
@KarlGW Thanks for the Comment. We are actively investigating and will get back to you soon.

@bandersmsft Could you please take a look at this one?

[2019-09-03 09:36] sujayvsarma opened #38167 "Is placing the key on the page a secure practice?"
Both methods of authenticating the Maps SDK with the Azure Maps API require placing the keys in clear text right there in the HTML page. Is this really a good idea? Is there no way to secure this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea11ca51-2d51-8328-09d7-2ee9944e5751
* Version Independent ID: 2077160d-3c5f

[2019-09-03 09:36] nehaob26 commented on #26312
@krispenner : Thanks it is working now, do you have any idea how securing backend api will work in consumption apim plan as it does not have public ip address nor support AD.

[2019-09-03 09:40] SubhashVasarapu-MSFT commented on #37884
@LenCardinal, We have assigned this issue to the content author for updating the document accordingly. @vhorne, Could you please provide your insights on this?

[2019-09-03 09:43] DixitArora-MSFT commented on #38164
Hi @mfalkvidd Thanks for reaching out. We will review and update this as appropriate.

[2019-09-03 09:50] jakaruna-MSFT commented on #37967
@mlearned please add your comments

[2019-09-03 10:04] #38061 closed

[2019-09-03 10:16] rayne-wiselman commented on #36594
We don't currently have any specific guidance for Oracle. Thanks!

#please-close

[2019-09-03 10:16] #36594 closed

[2019-09-03 10:17] rayne-wiselman commented on #35358
I'm closing this since it doesn't seem to be an issue with the doc itself. Thanks!
#please-close

[2019-09-03 10:21] colindooley11 commented on #37677
@MicahMcKittrick-MSFT

Hi All,
I upgraded the Service Fabric SDK and Runtime last week and this has solved the issue.  Everything seemed to work just fine once I had done this.

I can't say for sure but my colleagues have been running different versions and didn't experience the issues I had, so I can only put it down to some kind of mis-configuration locally.

[2019-09-03 10:22] jrudlin opened #38168 ".Net Requirements"
The screenshot (and in the portal troubleshooter) shows .Net 4.5+. In the Pre-reqs section it says .Net 4.6.1.
So which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9e7b53a-a644-3ada-8363-ae4edc62f503
* Version Independent ID: a5567355-2edb-d722-3a08-2217d33d9510
* Content: [Understand the Windows agent check

[2019-09-03 10:24] KrishnaG-MSFT commented on #38151
Assigning @MGoedtel for visibility, help and to provide insights on this.

[2019-09-03 10:25] colindooley11 commented on #37677
Below is what I am running locally now (I didn't check the previous version)
Service Fabric SDK and Tools 3.4.664
Service Fabric runtime 6.5.664
Visual Studio 2017 15.9 includes Service Fabric Tools for Visual Studio 2.4.11024.1

[2019-09-03 10:30] aelij commented on #8610
@MarkMcGee1 I think this information is important and should be added to this page:
https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption

[2019-09-03 10:31] jrudlin opened #38169 "vcredist2012_x64 or vcredist2013_x64?"
In the troubleshooting section "Error code: ExtensionVCRedistInstallationFailure" it mentions vcredist2012_x64 in the path "C:\Packages\Plugins\Microsoft.Azure.RecoveryServices.VMSnapshot\agentVersion" but only vcredist2013_x64 is there. Which VC runtimes are now required for Windows Azure VM backup?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-09-03 10:36] dcurwin commented on #38169
@ThalathBhagya can you help here?

[2019-09-03 10:52] KrishnaG-MSFT commented on #38168
@jrudlin Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-03 10:55] KrishnaG-MSFT commented on #38169
@dcurwin Thanks for the quick response. 👍

[2019-09-03 11:10] dcurwin commented on #38169
@vityagi Can you help here?

[2019-09-03 11:13] Nimleth opened #38170 "Does VNET SE combined with VNET Integration allow one app to talk privately to another?"
Hi,

Considering that the new VNET Integration functionality allows a webapp to talk to for instance a storage account or SQL DB with VNET Service endpoint enabled, can I also do the same with 2 webapps?

So:
Webapp 1 has VNET Intergration enabled
Webapp2 has VNET Service Endpoint enabled
Can I now have Webapp1 communicatie with Webapp2 via the VNET while webapp2 doesn't accept anything from the p

[2019-09-03 11:25] vityagi commented on #38169
vcredist2013_x64 is required for the Windows Azure VM backup.
@v-bhthal please fix the documentation.

[2019-09-03 11:28] dcurwin commented on #38169
Did you mean @ThalathBhagya ?

[2019-09-03 11:32] kogesaka opened #38171 "Behavior when --platform-fault-domain-count option is not used in az vmss create command"
Hi Experts,

The description in the Azure CLI section says "You can set the parameter --platform-fault-domain-count to 1, 2, or 3 (default of 5 if not specified).". But when without --platform-fault-domain-count option az vmss create command executing, the value of "platformFaultDomainCount" was not set from Azure Resource Explorer.

![0903_001](https://user-images.githubusercontent.com/15773157/6

[2019-09-03 11:36] vityagi commented on #38169
yes

[2019-09-03 11:52] SnehaAgrawal-MSFT commented on #38163
@v-DavidTang Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-03 11:53] karthiksubramanians commented on #38146
@Mike-Ubezzi-MSFT Thanks for the response. I did not have a problem with creating preferred locations property in .NET. My issues are:
1. The REST API url that was provided in the page to check the locations is not working.
2. The read and write endpoint property after creating the client gives the generic URI like _https://contoso.documents.azure.com:443/_ instead of region specific URI like _htt

[2019-09-03 11:57] prashantkarkera opened #38172 "Session token lifetime"
Hi , this document mentions that refresh token lifetimes need to be set via Conditional Access whereas Access token lifetimes can be set via token lifetime policy . There are 2 other token lifetimes Single-Factor Session Token Max Age and Multi-Factor Session Token Max Age. Will this also be handled via Condtional Access Policies.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-09-03 12:02] mvelor opened #38173 "Clarify steps on example scenario 1"
I'm guessing the first example scenario is very typical (https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-action-rules#scenario-1-suppression-of-alerts-based-on-severity).
If I follow these steps, I end up with four required fields (Start date, Start time, End date, End time) empty.

I don't know how to set whole days suppressed. Should I set both start and end time at 12:00 AM

[2019-09-03 12:05] JeremyTBradshaw opened #38174 "What is "PolicyEnabled" setting under NGS prerequisite checks?"
Hello,

I'm hoping to find the answer here to what exactly "PolicyEnabled" means in the Ngc prerequisite check.  I try to search online for this but the internet is riddled with home users' forum talk about trying to disable Windows Hello and nowhere seems to cover this one particular item.

I have all yes's except PolicyEnabled which is No.  Can't figure out where I've gone wrong.

Thanks in adva

[2019-09-03 12:10] Deltachaos commented on #30168
I have the same problem. 5 Minutes is too short if your E-Mail server for example is using gaylisting! The whole process with the activation token is complicated anyway. A link to unlock an account would be better!

[2019-09-03 12:20] #37682 closed

[2019-09-03 12:21] rayne-wiselman commented on #37519
I updated the article to state this. It should show up later today. thx!
#please-close

[2019-09-03 12:21] #37519 closed

[2019-09-03 12:21] rayne-wiselman commented on #37323
Thanks for your feedback. I added a note to make this clear in the article. It should show up later today. Thx #please-close

[2019-09-03 12:21] #37323 closed

[2019-09-03 12:22] kalatchev commented on #38154
Here us the link
https://docs.microsoft.com/bg-bg/azure/cognitive-services/speech-service/quickstart-csharp-dotnet-windows

[2019-09-03 12:23] KrishnaG-MSFT commented on #38173
@mvelor Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-03 12:27] SubhashVasarapu-MSFT commented on #37963
@dcallagh, I have tried giving the same TTL for both TXT records but failed with 400 error on importing. But, when I tried giving those values in single TXT record it got imported successfully. Here is the example,
IN TXT "v=spf~all MS=ms95007615"
Could you give a try on this and let us know. Meanwhile, I will confer with the respective PG and will communicate to you.

[2019-09-03 12:29] KrishnaG-MSFT commented on #38162
Assigning @msvijayn for visibility and document enhancement considerations.
@nitin775 The feedback has been shared with the content owner for further review.

[2019-09-03 12:32] KrishnaG-MSFT commented on #38168
Assigning @bobbytreed for visibility, confirmation and document enhancement considerations if required.
@jrudlin The feedback has been shared with the content owner for further review.

[2019-09-03 12:32] JeremyTBradshaw commented on #38174
Hello again and thanks again.  I will just close this issue and state that the answer is literally that "PolicyEnabled" = whether or not Windows Hello for Business has been enabled for either the current user or the computer.  I had enabled the setting in my GPO and somehow managed to not have my user in my security group so the GPO wasn't applying..... :man_facepalming:

[2019-09-03 12:32] #38174 closed

[2019-09-03 12:37] KrishnaG-MSFT commented on #38174
@JeremyTBradshaw Glad to know that you have self resolved the issue. Thanks for the update.

[2019-09-03 12:45] AshokPeddakotla-MSFT commented on #38167
@sujayvsarma Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-03 12:47] jakaruna-MSFT commented on #37967
Similar issue https://github.com/jetstack/cert-manager/issues/1770

[2019-09-03 12:48] sujayvsarma commented on #38167
I have since found that you can set `authType` to `anonymous` and provide a callback function that retrieves the auth token from a REST API endpoint.

However, there are no proper examples to implement this method.

I have raised this bug to track: https://github.com/Azure-Samples/AzureMapsCodeSamples/issues/19

Please see if you can accelerate the same.

[2019-09-03 12:58] dominicbetts commented on #36463
This has been fixed. See commit: https://github.com/MicrosoftDocs/azure-docs/commit/85fdc81db39e0ed79ba6638560d955ee279d057a

#please-close

[2019-09-03 12:58] #36463 closed

[2019-09-03 12:58] RyanHill-MSFT commented on #38170
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-03 12:59] DebashishSarkar commented on #18595
I am still seeing this issue.

Get-AzureRmSqlDatabaseGeoBackup -ResourceGroupName <RG-Name> -ServerName <server-name> -Confirm -DatabaseName <database-name>

Get-AzureRmSqlDatabaseGeoBackup : 40647: Subscription 'subscription-id' does not have the server
'server-name'.

I ran> get-package AzureRM.Sql
Name                           Version          Source                           ProviderName
----

[2019-09-03 13:04] adamrmcclain opened #38177 "Description Field isn't being populated by the Alert Rule"
I'm trying to pass some meta data back in the Description field, so our custom webhook knows how to route the alert with our internal ticketing tool. As a test, I set the description to the Alert Rule to:

{"jsonMessage": "test", "object": true}

However this isn't coming through in the webhook payload. Here is an example of the payload:

{ schemaId: 'azureMonitorCommonAlertSchema',
  data:
   { e

[2019-09-03 13:11] DeanGross opened #38178 "Prerequisites"
I am not seeing the Require terms of use or Require privacy statement in my Sign-ins by Grant Control workbook. Are there any additional prerequisites that must be fulfilled to make them visible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb2155a4-d8b2-a542-1aba-387183c3f2e3
* Version Independent ID: 11565414-4093-

[2019-09-03 13:23] craigshoemaker commented on #38132
@VijayCorinthian - I couldn't agree more! We are working with our team that develops the website for the docs regarding this very issue. I can't speak to a release date, but please know that these features are actively being worked on.

I am going to #please-close this issue for now.

[2019-09-03 13:23] #38132 closed

[2019-09-03 13:23] msrini-MSFT commented on #38171
@kogesaka , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-03 13:25] DebashishSarkar commented on #18595
Ran it on both Windows Power Shell (with AzureRM.sql module) and Azure Cloud Shell (with AzureRM.sql). Didn't work, same message.

[2019-09-03 13:36] jbstrickland commented on #30921
The dead link was reported on May 9th. Its still a problem as of Sept 3.

[2019-09-03 13:40] ronaldmeran opened #38179 "Create a Pipeline Run error: ReferencedPipelineRunNotValid"
In create-a-pipeline-run,
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/data-factory/quickstart-create-data-factory-python.md#create-a-pipeline-run
4th argument is supplied with ```{}``` which raises an error:
[code]
I believe this should be: ```parameters={}```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-09-03 13:46] MGoedtel commented on #38143
@SHANE0MAC - Thanks for the feedback.  I'll fix the port to from gateway to firewall to be consistent with the outbound port from the gateway.  The reason why the diagram shows one site where the gateway is 8080 and others is 8081 is to intentional to support the fact it can be configured with a different port based on requirements.  #please-close

[2019-09-03 13:46] #38143 closed

[2019-09-03 13:47] montydrei commented on #37817
Hello Rayne,

When I create a replication with the Azure Migrate: Server Migration tool,
if I select more than 10 machines the interface deselects any machine in
excess of 10 and displays a warning message. Please see the attached
screenshot for details.

Thanks,
Tan

On Mon, Sep 2, 2019 at 4:10 AM Rayne Wiselman <notifications@github.com>
wrote:

[2019-09-03 13:52] OffColour opened #38180 "Additional Caveat"
Mentioned this elsewhere but the documentation still doesn't reflect it.
v2 is built on NGINX and the ignore_invalid_headers setting is enabled.
If you use any headers that are invalid according to NGINX they will dropped.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25902cac-23fc-96c2-1f9a-1f0db90e9a5f
* Version Ind

[2019-09-03 14:10] rayne-wiselman commented on #37817
Thanks. I'll add this as a note to the article. As a workaround you can set up multiple replications in groups of 10 and replicate simultaneously (up to a 100 replications for VMware agentless migration)

[2019-09-03 14:14] PanuSaukko opened #38181 "AAD device's systemLabels attribute"
There is info about AAD dynamic device groups and systemLabels: "any string matching the Intune device property for tagging Modern Workplace devices". Could you please specify how you can set systemLabels with Intune? If systemLabels is not implemented in Intune yet, it should be said.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-09-03 14:17] mrsmitty opened #38182 "Tenant name required in GetAccessTokenAsync"
For this to work, I was required to add the tenant name in the GetAccessTokenAsync method i.e.
`GetAccessTokenAsync("https://database.windows.net/", "mydomain.onmicrosoft.com")`
The intellisense for this method indicates tenant id as the second param however it did not work with my tenant id GUID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-09-03 14:17] StormRider01 opened #38183 "Store the certificate step is broken"
Looks like the Store the certificate step is incomplete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e8a0e46-dab2-122a-bc73-4ae0381b24f5
* Version Independent ID: 2c97bc5b-2fc1-0038-d9db-35ac6507ac9d
* Content: [Create an Azure Key Vault certificate](https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-

[2019-09-03 14:20] georgewallace commented on #38051
#reassign: @johnkemnetz

[2019-09-03 14:22] georgewallace commented on #35811
Thank you again for reporting your concerns. Upon review against the cited article and other public resources on the topic, we did not find reason to modify this content. The procedures in the documentation are standard steps used to configure the technology in question. #please-close

[2019-09-03 14:22] #35811 closed

[2019-09-03 14:26] KrishnaG-MSFT commented on #38177
@adamrmcclain Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-03 14:28] KrishnaG-MSFT commented on #38183
@StormRider01 Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-03 14:35] oraclebase commented on #35811
It's clearly copied from my article. Even the unique name of the standby is a straight copy. Google it "cdb1_stby". The only places you will see it are places that have copied it from me.

Clearly your research was extensive... Shame on you!

[2019-09-03 14:38] marcelaldecoa opened #38184 "Use an official tutorial in the section "Indexing documents along with related data"."
The section "Indexing documents along with related data" refers to an external detailed walk-through, but the official documentation also offers a tutorial on how to combine data from multiple data sources in one Azure Search index.

This is the link for the official tutorial: https://docs.microsoft.com/en-us/azure/search/tutorial-multiple-data-sources

---
#### Document Details

⚠ *Do not edit th

[2019-09-03 14:38] VanMSFT commented on #38041
@dcbrown16  @KalyanChanumolu-MSFT - Thanks guys!

Updating: https://github.com/MicrosoftDocs/azure-docs-pr/pull/87247

#please-close

[2019-09-03 14:38] #38041 closed

[2019-09-03 14:39] montydrei commented on #37817
Thanks Rayne. Yes, I have set up multiple replications successfully.

On Tue, Sep 3, 2019 at 9:11 AM Rayne Wiselman <notifications@github.com>
wrote:

[2019-09-03 14:44] hoylemd commented on #30657
@georgewallace Great! Thanks for getting back to me.

[2019-09-03 14:48] msrini-MSFT commented on #38172
@prashantkarkera  , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-03 14:58] cephalin commented on #27962
See here to access user claims: https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-how-to#access-user-claims

#please-close

[2019-09-03 14:58] #27962 closed

[2019-09-03 15:04] rayne-wiselman commented on #37817
Thanks! Good to get feedback.

[2019-09-03 15:07] armbraggins opened #38185 "Are there any limits on anything other than numbers of connections?"
For example, on numbers of databases and/or schemas, or on file descriptors and the max_files_per_process setting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a86489-2b1d-1b42-687a-5d4323ad7306
* Version Independent ID: 48c0caea-6b9a-add5-9fb5-ef995c737064
* Content: [Limits in Azure Database for PostgreSQL - Sing

[2019-09-03 15:07] PanClifton commented on #36786
sorry, for late response i was on holidays.

Thank you, for your help

[2019-09-03 15:08] TahsinKhan7 opened #38186 "Sql logs not being sent to log analytics"
I've created diagnostic settings for my SQL managed instance/db as well as a Azure SQL db. I have selected my log analytics workspace and all log options available in the diagnostic settings. I still can't see any of the tables/queries available (for example SQLInsights) on in the schema list of my log analytics workspace. I have logged into the sql instances and created tables/inserted data to ho

[2019-09-03 15:09] lukos opened #38187 "Does this library require the user of SQL Azure?"
It sounds like the split/merge tool runs in Azure but would the client library also work with SQL server databases that are running on-prem (or hosted in VMs) instead of SQL Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 258aa7c6-b11e-ae2a-5edc-2ff862158c73
* Version Independent ID: 79b126d4-719a-9a1f-3e75-ba1c4

[2019-09-03 15:19] cephalin commented on #37050
@degrover-cn @opticyclic I've updated the article and it should be published sometime today. Thank you. #please-close

[2019-09-03 15:19] #37050 closed

[2019-09-03 15:20] danimir commented on #38186
It is important to note that **must** have workload on the database. If there is no significant workload running, there will be no telemetry emitted from DB to the solution, hence you won't see anything. This is expected by design.

[2019-09-03 15:20] cephalin commented on #36118
@jelledruyts I've updated the article and it should be published sometime today. Thank you. #please-close

[2019-09-03 15:20] #36118 closed

[2019-09-03 15:20] NavtejSaini-MSFT commented on #38185
@armbraggins Thanks for the question. We are looking into this and will get back to you.

[2019-09-03 15:21] cephalin commented on #34242
@dinobu @ekzp @opticyclic I've updated the article and it should be published sometime today. Thank you. #please-close

[2019-09-03 15:21] #34242 closed

[2019-09-03 15:21] stpeteparadox commented on #37976
Yes please!

[2019-09-03 15:21] cephalin commented on #34181
@Ballzer0 @gotgenes I've updated the article and it should be published sometime today. Thank you. #please-close

[2019-09-03 15:21] #34181 closed

[2019-09-03 15:22] cephalin commented on #34086
@forester123 I've updated the article and it should be published sometime today. Thank you. #please-close

[2019-09-03 15:22] #34086 closed

[2019-09-03 15:22] NavtejSaini-MSFT commented on #38186
@danimir Thanks for the answer
 @TahsinKhan7 Please let us know if you have any other question.

[2019-09-03 15:23] cephalin commented on #33461
@ConnorMcMahon Thanks for the confirmation. @jpda I've updated the article and it should be published sometime today. Thank you. #please-close

[2019-09-03 15:23] #33461 closed

[2019-09-03 15:23] NavtejSaini-MSFT commented on #38187
@lukos Thanks for the question We are looking into this.

[2019-09-03 15:28] mrbullwinkle commented on #37765
I am going to close this out on the docs side, but we'll definitely continue to monitor issue #441 on ASP.NET Core SDK repo and will update the doc accordingly if an official fix/feature is added. That issue is probably the best place to direct product level feedback on similar issues for the proxy functionality for the SDK for the moment.

[2019-09-03 15:28] mrbullwinkle commented on #37765
#please-close

[2019-09-03 15:28] #37765 closed

[2019-09-03 15:37] TahsinKhan7 commented on #38186
Thanks, it is currently sending logs to storage account (just not log analytics) is this also expected?

[2019-09-03 15:43] cephalin commented on #38134
@ambrosiealin Thank you for the catch. I've removed those links and it should be published sometime today. #please-close

[2019-09-03 15:43] #38134 closed

[2019-09-03 15:45] TXbluzmn opened #38188 "Active Directory Requirement"
In the "Here's what you need..." section, you should think about adding that you'll need domain access to build this solution. Either AAD DS or on prem domain services have to be in place to join the servers to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eab4b2c4-29d9-d759-066f-f7cf633260ca
* Version Independent ID

[2019-09-03 15:49] sgdesmet commented on #32185
@yoelhor shoud we use `alternativeSecurityIds` or `userIdentities`? `userIdentities` don't appear mentioned in the documentation anywhere.

[2019-09-03 15:52] danimir commented on #38186
@TahsinKhan7 - no, sending to storage will not show anything in Azure SQL Analytics. They must send it to Log Analytics workspace. Data stored in the storage account is solely for custom development -- they would need to write an application that will use that data in some way.

[2019-09-03 15:52] wolfma61 commented on #38154
we are recognizing speech ... so not sure how cyrillic letters on the speech input.

the result is returned in unicode characters ...

[2019-09-03 16:09] j-martens commented on #38117
#reassign:@xiaoharper

[2019-09-03 16:10] j-martens commented on #37726
#reassign:@vijetajo

[2019-09-03 16:10] msangapu-msft commented on #38101
@JasonFreeberg Could you please take a look at this?

[2019-09-03 16:11] j-martens commented on #37832
@nishankgu

[2019-09-03 16:15] dlepow commented on #38067
@t-l-k - Thanks for pointing out this issue. I agree that adding a note as suggested will help with the update scenario. I'll submit a doc update soon to address this.
#reassign: @dlepow

[2019-09-03 16:18] ColbyTresness commented on #30243
I believe the document is up to date with any limits we can publish.

[2019-09-03 16:23] JoeBrockhaus opened #38192 "Building Projects with Azure DevOps Private NuGet Feed Dependencies"
When the Project references NuGet packages published to a private AzureDevOps feed, the following error is produced:

&gt; Please provide credentials for: `https://{your-org}.pkgs.visualstudio.com/_packaging/{your-feed}/nuget/v3/index.json`

How can private NuGet Feeds be leveraged in this scenario?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-09-03 16:29] jeevansd commented on #38145
@iAmSaugata It seems you are using wrong Identifier value for the app in Azure AD. Make sure that you use the value like this https://signin.aws.amazon.com/saml#1

[2019-09-03 16:39] KumudD commented on #37668
@christiankuhtz I have updated titles to have Standard SKU docs as default. Thanks!
#please-close

[2019-09-03 16:39] #37668 closed

[2019-09-03 16:40] nrjohnstone opened #38195 "Incorrect base url for keyvault"
The documentation https://docs.microsoft.com/en-us/azure/key-vault/quick-create-net

lists the keyvault url as

https://<your-unique-keyvault-name>.vault.azure.net/secrets/

But this is incorrect, with the current version of Azure you need to drop the "/secrets" from the URI for the examples on this page to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-09-03 16:45] krispenner commented on #26312
@nehaob26 sorry, I have no idea, I have never used the consumption APIM plan.

[2019-09-03 16:50] artisticcheese opened #38196 "Are alerts rules case senstive?"
I'm using following alert rule
[code]
which did not seem to fire, when looking at actual event resource type is actually all capital letter like below. Are rules case senstivie?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73f3e9c6-8cf1-6c8d-2de7-54f6d3740fc1
* Version Independent ID: 42af845a-aed7-a035-33ee-

[2019-09-03 16:50] MarileeTurscak-MSFT commented on #38195
@nrjohnstone
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-03 16:51] paramda commented on #35824
A customer want to know the differences so we can choose wisely as to what best fits their need. Will there be any update on this doc? If so when?

[2019-09-03 16:52] robinsh commented on #38102
@rezasherafat Can you help here since this is your area of expertise?

[2019-09-03 16:52] MartinJaffer-MSFT commented on #38037
The copy activity does not by itself guarantee data integrity.  You can create/upvote a feature request for this in the [feedback forums](https://feedback.azure.com/forums/270578-azure-data-factory).
Did you find information stating otherwise?

[2019-09-03 16:52] #38037 closed

[2019-09-03 16:53] mrbullwinkle commented on #11498
As per the other thread we are retiring this doc. Change will go-live between 1-2 PM (UTC-7).

[2019-09-03 16:53] iAmSaugata commented on #38145
I am getting this while trying to access AWS.

My basic configuration is this.

Identifier (Entity ID)
https://signin.aws.amazon.com/saml
Reply URL (Assertion Consumer Service URL)
https://signin.aws.amazon.com/saml
Sign on URL
Optional
Relay State
Optional
Logout Url
Optional

[2019-09-03 16:53] mrbullwinkle commented on #11498
#please-close

[2019-09-03 16:53] #11498 closed

[2019-09-03 16:56] MarileeTurscak-MSFT commented on #38195
Thanks @nrjohnstone

I made a pull request to remove that from the base URL. https://github.com/MicrosoftDocs/azure-docs-pr/pull/87270

[2019-09-03 16:56] #38195 closed

[2019-09-03 16:58] mrbullwinkle commented on #34420
Thank you so much for bringing this to our attention. We are retiring this doc today. The change will go-live between 1-2 PM UTC-7. If you are interested in a fully supported Application Insights integration/monitoring for Dynamics we encourage you to vote up this [item on UserVoice](https://feedback.azure.com/forums/357324-azure-monitor-application-insights/suggestions/38510767-application-insigh

[2019-09-03 16:58] kalatchev commented on #38154
A am not familiar with MS services, but I know that Google has excellent speech recognition for Slavic languages. I use it on a daily basis with my phone, as I dictate messages in SMS or Viber, not typing. Tesseract also have recognition of Cyrillic and results are quite good. What’s missing in Tesseract is searching of text in photos, let say registration plates on cars. At least I as I know. Thi

[2019-09-03 16:58] mrbullwinkle commented on #34420
#please-close

[2019-09-03 16:58] #34420 closed

[2019-09-03 17:00] bandersmsft commented on #38165
@karlgw Thanks for the feedback. If you're tying to get data for a date range, the Query API at https://docs.microsoft.com/rest/api/cost-management/query/usagebyscope what you should use. Here's an example query body to return data for a single day:

{ "type":"Usage",
   "dataSet":{
      "granularity":"Daily",
      "aggregation":{
         "totalCost":{
            "name":"PreTaxCost",

[2019-09-03 17:00] #38165 closed

[2019-09-03 17:02] iAmSaugata commented on #38145
1 claims weren’t issued in the token. This can happen when there’s no value stored in the directory for the attribute. Please make sure the user myid@tmydomaint.in has a value stored in the directory for the missing claims.

[2019-09-03 17:03] KrishnaG-MSFT commented on #38096
@nick834 Closing this issue for now. If there are any questions or feedback regarding Azure docs then please refer to an Azure document link / URL and let us know so that we will gladly continue the discussion.

[2019-09-03 17:03] #38096 closed

[2019-09-03 17:05] KarlGW commented on #38165
@SadiqhAhmed-MSFT  @bandersmsft Thank your replies.

So there is no way to get date ranges, or one day at a time for the Usage Details API like there was in the old EA Billing API?

[2019-09-03 17:09] BryanTrach-MSFT commented on #38184
@marcelaldecoa Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-03 17:10] MarileeTurscak-MSFT commented on #37982
@TheOtherBillGates since we have not heard back from you we will proceed to close this thread. Please open a new issue with specific feedback if you would like for us to update the article.

[2019-09-03 17:10] #37982 closed

[2019-09-03 17:12] FrankHu-MSFT commented on #38178
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-03 17:12] FrankHu-MSFT commented on #38181
@PanuSaukko Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-03 17:17] FrankHu-MSFT commented on #37865
@fadedcrimson19 As there hasn't been a response in a while, I will be closing out this git issue by end of day today, please reopen this git issue if you have anymore concerns. Thanks

[2019-09-03 17:17] FrankHu-MSFT commented on #37917
@test123114 I'm following up on this issue, can you please respond in regards to the previous replies on this thread? Thanks

[2019-09-03 17:17] FrankHu-MSFT commented on #38001
@clerens Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-09-03 17:19] sorcia25 opened #38197 "This guide is wrong."
When we change in the azure portal the parameter time_zone, we get an error message saying that the value US/Pacific is not valid, the allowed values are [+|-][0]{0,1}[0-9]:[0-5][0-9]|[+|-][1][0-2]:[0-5][0-9]|SYSTEM. Please upgrade the guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a86f6b13-c87a-15ae-c1c1-18f765

[2019-09-03 17:20] FrankAtHexagon commented on #37569
Thank you for the explanation. Sorry for the late reply, I was out of the country last week.

If I may make a recommendation, I would incorporate your reply above into the documentation somehow. I think it would greatly benefit others who are learning about AKS Services and all of the cool stuff that they do.

[2019-09-03 17:21] rohitnayakmsft commented on #20809
Setting Allow access to Azure services button on the Portal (Firewall settings page) to ON shall allow traffic to/from  resources ( e.g. Azure VM) or PaaS services( e.g. Web App) hosted inside Azure - within same subscription or from another subscription as well.

[2019-09-03 17:21] rohitnayakmsft commented on #37899
Setting Allow access to Azure services button on the Portal (Firewall settings page) to ON shall allow traffic to/from  resources ( e.g. Azure VM) or PaaS services( e.g. Web App) hosted inside Azure - within same subscription or from another subscription as well.

[2019-09-03 17:21] Karishma-Tiwari-MSFT commented on #38188
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-03 17:22] YutongTie-MSFT commented on #38115
@AlexanderTodorovic Hi Alexander, I tried to reproduce your error, but it worked for me well. Could you please share the Job execution report for more details? Thank you.

[2019-09-03 17:28] marcelaldecoa opened #38199 "Wrong Cosmos DB collection name in the section "Prepare sample Azure Cosmos DB data""
In the step 2 from the section https://docs.microsoft.com/en-us/azure/search/tutorial-multiple-data-sources#prepare-sample-azure-cosmos-db-data, the name of the collection must be **hotels** not **hotel-rooms**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58c64e97-6a1b-2b1c-1958-771398fc99b3
* Version Independent ID

[2019-09-03 17:41] BryanTrach-MSFT commented on #38199
@marcelaldecoa Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-03 17:49] #38199 closed

[2019-09-03 17:50] BryanTrach-MSFT commented on #38199
@marcelaldecoa Thank you for bringing this up. We made the change and it should be public within 24 hours.

@HeidiSteen I processed the change in https://github.com/MicrosoftDocs/azure-docs-pr/pull/87279

[2019-09-03 17:50] iAmSaugata commented on #38145
After re-added the User Attributes, it is now working fine.

[2019-09-03 17:52] wolfma61 commented on #38154
you are currently looking into speech services. We also offer a wide variety of languages for speech recognition, speech translation, or voice generation (see here: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support). The set of languages we support is constantly increasing.

there are many more cognitive services for face recognition, machine learning, etc.

[2019-09-03 17:54] sugarjig opened #38200 "How to automate diagnostic logs configuration"
How can you automate the configuration of diagnostic logs? It appears there is no way to enable it via REST, ARM, or PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62f7409d-5cbe-20d0-e37a-891981ecac97
* Version Independent ID: ad725093-ebd3-ecfc-84c8-e7c19a715979
* Content: [Monitoring metrics and logs in A

[2019-09-03 17:54] egkurtz commented on #29362
I'm curious about the SAML session age limit setting too.  Users get in a failed authentication loop due to this.  I also just saw a user that had their computer Azure AD joined, and it put them into the failed auth loop.  Any help or recommendations would be helpful. Our Max Session age is 7 days in Blackboard.

[2019-09-03 18:03] rohitnayakmsft commented on #38079
Checking with the team on how we can do this.

[2019-09-03 18:12] cawrites commented on #38122
@chino0913 unfortunately your images did not get uploaded.

[2019-09-03 18:15] managedcoder opened #38202 "Incorrect documentation regarding how to add a QnA pair"
In the section entitled, ["Add a QnA pair"](https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/how-to/edit-knowledge-base#add-a-qna-pair) the doc says, "On the Settings page, select Add QnA pair to add a new row to the knowledge base table.".  It should have said "On the **Edit** page, select Add QnA pair to add a new row to the knowledge base table."

-Russ

---
#### Document Deta

[2019-09-03 18:16] cawrites commented on #38122
@chino0913 since you your screenshot is not appearing can you outline the scenario (or tasks) to determine what generated this error. If you cannot capture the screenshot, please submit the text of the error.

[2019-09-03 18:17] adiun opened #38203 "Mac/Linux guidance for MongoDB API"
Hi - the "Running on Mac or Linux" section describes how to set up the DocumentClient to use a custom `ServerCertificateCustomValidationCallback`. Is it possible to do something like this when using the Cosmos DB API for MongoDB? I tried `sslValidate = false` with the `MongoClient` but that didn't work, and I'm not sure what Cosmos DB supports here.

---
#### Document Details

⚠ *Do not edit this

[2019-09-03 18:19] djpmsft commented on #38147
#please-close

[2019-09-03 18:19] #38147 closed

[2019-09-03 18:21] cawrites commented on #38122
@neeleshray-msft more information is needed before this can be added.

[2019-09-03 18:21] rbrundritt commented on #38167
Key based authentication should only be used for development. This code sample site started using keys before Azure Active Directory was available. These samples will moving to Azure AD soon. Azure AD is much more secure and the details that are visible in the browser are not enough for someone to access your account.

I'm going to close this issue as the other issue you opened is more relevant. A

[2019-09-03 18:22] arduppal commented on #38120
@njbuch -  This module is a blob storage module and looks like your other edge module is storing pictures as files. One way to achieve your end goal, which will require code changes is to setup this module and configure it for deviceToCloudUpload and your other edge module can write pictures as blobs to this blob storage container using Azure Storage SDK.

Just curious....what happens to the pictu

[2019-09-03 18:23] rbrundritt commented on #38167
Just realized that this issue was raised in the docs repo and the other issue was in the code samples repo. Someone else will have to close this issue as I don't have admin rights on this repo.

#close

[2019-09-03 18:31] MarileeTurscak-MSFT commented on #37987
Hi @chrisc-ws ,

This appears to be reporting the sign in error codes. 50140 is documented here: https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/reference-sign-ins-error-codes

ResultType itself is documented here and appears to just be binary: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.monitor.models.resulttype?view=azure-dotnet

@cawrites ca

[2019-09-03 18:38] yobyot opened #38205 "404 in link to New-AzSubscription"
The link to New-AzSubscription ("To see a full list of all parameters, see New-AzSubscription") results in a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 371189c2-154f-2716-bbc0-8496a76c5ac9
* Version Independent ID: bb5cd103-ff51-1753-f269-e2c1aa49a8c8
* Content: [Programmatically create Azure Enterprise subscr

[2019-09-03 18:39] b-juche commented on #35824
Differences of what features/products that the customer want to know?

cc Lichun (@lichunli-ms).

[2019-09-03 18:41] NavtejSaini-MSFT commented on #38187
@lukos Elastic Database Tools feature of Azure SQL Database is one of the feature of Azure DB PaaS service. This is used for giving an option of scaling out or reduce resources for an Azure SQL DB. These type of features make Azure SQL distinguish it from On Prem SQL. We are checking this further with author regarding the client libraries.
@stevestein Please check if the Elastic Database Tools fea

[2019-09-03 18:42] yobyot opened #38206 "New-AzSubscription is not marked as preview on the linked documentation pages"
New-AzSubscription (https://docs.microsoft.com/en-us/powershell/module/az.subscription/New-AzSubscription?view=azps-2.6.0) is _not_ marked as preview leading to confusion about whether or not this cmdlet is still in preview. One still has to --AllowPrerelease to install it (as this page documents) but the actual cmdlet documentation (referenced from this page) does not flag the module as in previe

[2019-09-03 18:42] njbuch commented on #38120
Ok, I got it, but its still slightly unclear how to specify when blob storage deals with local stuff and when the blob storage is in the cloud. The only example, that seems outdated is: https://sandervandevelde.wordpress.com/2018/11/04/introducing-blob-storage-in-azure-iot-on-the-edge/

And when the files are uploaded to the cloud storage, the next step will be to make them available to an externa

[2019-09-03 18:43] njbuch commented on #38120
Maybe you have a code sample you can share, the uses the local storage using Azure Storage SDK in an iotedge module?

[2019-09-03 18:44] KrishnaG-MSFT commented on #38205
@yobyot Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-03 18:47] krispenner opened #38207 "API Management static IP address for exclusive use"
I've read numerous times in the docs and on the web that the IP address of an API Management instance is static and constant for the life of the resource. However, it is never mentioned if the assigned static IP address is exclusive to only the one API Management instance or if it may also be shared with other instances, resources or subscriptions.

Can you please comment on the above and possibly

[2019-09-03 18:47] cawrites commented on #37987
@MarileeTurscak-MSFT are you requesting to update
ResultType | The result of the sign-in operation can be Success or Failure.
with the numeric values?

[2019-09-03 18:49] NavtejSaini-MSFT commented on #38185
@armbraggins We are checking this with author and will get back to you.
@rachel-msft Please confirm regarding other limitations if any for Azure PostGreSQL DB.

[2019-09-03 18:51] mrbullwinkle commented on #28134
After conferring with the JS SDK team and the SDK PM team we have decided to retire this doc due to supportability concerns with the wrapper code. We are tracking customer interest in a fully supported integration solution here: [https://feedback.azure.com/forums/357324-azure-monitor-application-insights/suggestions/38510767-application-insights-dynamics-monitoring-integrati](https://feedback.azur

[2019-09-03 18:51] mrbullwinkle commented on #28134
#please-close

[2019-09-03 18:51] #28134 closed

[2019-09-03 18:55] j-chao commented on #34313
@hansenms
I have tried to configure the manifest of the AzureAD application, but I am still running into a 403 error when using client credentials.
Would you be able to assist in helping clarify where in the manifest of which app service I should edit to resolve this? Thanks!

[2019-09-03 18:57] RyanHill-MSFT commented on #38182
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-03 19:00] RyanHill-MSFT commented on #38192
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-03 19:06] hansenms commented on #34313
A 403 is typically and indication that that the object id (`oid`) of the client application is not in the list of allowed object ids for the Azure API for FHIR instance.

https://docs.microsoft.com/en-us/azure/healthcare-apis/find-identity-object-ids

[2019-09-03 19:26] NavtejSaini-MSFT commented on #38157
@rbrundritt The GeoJSON is bases on RFC [7946] (https://tools.ietf.org/html/rfc7946). Please check the link if it helps you further. We are assigning this to author for further clarity.
@SnehaGunda Please check this further and help.

[2019-09-03 19:32] cyamasaki8 opened #38209 "VNET with Virtual Network Gateway"
It's clear that NVA VNET must not have a Virtual Network Gateway.  Can Virtual WAN connect  an already created VNET with a Virtual Network Gateway (which already has an ExpressRoute attached)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 316afee6-13d5-4b73-5224-073b35e69737
* Version Independent ID: be1f6b3f-e7c1-077

[2019-09-03 19:33] rbrundritt commented on #38157
The GeoJSON spec doesn't specify how calculations should be done or which ellipsoid to use. Note, I'm on the Azure Maps team and we make heavy use of GeoJSON. Its just a data format, not a calculation method. Either reference model or calculation method could be used, but the results will differ. Trying to make sure we not the details as this makes a difference to many customers.

[2019-09-03 19:37] jeevansd commented on #38145
@iAmSaugata Thanks for the confirmation.

[2019-09-03 19:37] jeevansd commented on #38145
#please-close

[2019-09-03 19:37] #38145 closed

[2019-09-03 19:48] MarileeTurscak-MSFT commented on #38076
Hi @Canis-Lupis

There's a mention in the article that states,

"Your custom branding won't immediately appear when your users go to sites such as, www.office.com. Instead, the user has to sign-in before your customized branding appears."

Does this answer your question or do you think the article needs further updates?

[2019-09-03 19:55] krispenner commented on #38207
Got an answer from the APIM team via a separate thread.

[2019-09-03 19:55] #38207 closed

[2019-09-03 20:11] lunar87 opened #38212 "Incorrect names"
On the actual databox I am seeing the names for managed disks folders should not include spaces in the names: https://docs.microsoft.com/en-us/azure/databox/data-box-deploy-copy-data-from-vhds#connect-to-data-box

Should be
•	PremiumSSD
•	StandardHDD
•	StandardSSD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e4f2e2f

[2019-09-03 20:28] fedeoliv opened #38213 "Testing strategy for Python Azure Functions"
The documentation does not have samples for Python. I wrote some tests for HTTP Trigger that can be helpful [here](https://github.com/fernandoBRS/azure-search-custom-skill-python/blob/master/skill/tests/test_func.py).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independ

[2019-09-03 20:37] j-martens commented on #37726
#please-close this new doc request has been added to the backlog. https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1592970

[2019-09-03 20:37] #37726 closed

[2019-09-03 20:38] stefsch commented on #37822
There are no plans at this time to support disabling TLS 1.2.

As noted in the doc article, the current ASE cluster setting will disable *both* TLS 1.0 and TLS 1.1.

[2019-09-03 20:45] fernandoBRS opened #38215 "Azure Functions (Python) referencing modules section"
Hi,

Recently I had some problems to reference modules on my Azure Function and based on the closed issue #81 I found out I should use relative import syntax:

[code]
I would like to recommend add a section about this on [Create function - Python](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python) to improve developers experience so they don't need to sp

[2019-09-03 20:46] nishankgu commented on #37832
This is something that we are looking to invest in. Keep an eye out for something exciting news about this over the next few months.

[2019-09-03 20:47] FrankHu-MSFT commented on #38005
Hey @jonwbstr I see. Alright, i'm currently engaging some more people to determine how we should handle adding this into our FAQ. thank you for bringing this up. We appreciate it!

[2019-09-03 20:49] fernandoBRS opened #38216 "Azure Search: searchAnalyzer vs indexAnalyzer"
The [Azure Search Index Attributes](https://docs.microsoft.com/en-us/rest/api/searchservice/create-index#bkmk_indexAttrib) documentation does not explain well the difference between *searchAnalyzer* and *indexAnalyzer*. It would be great to have a better description about these attributes.

[2019-09-03 20:50] FrankHu-MSFT commented on #38127
Hey @fowl2 the reason they don't appear is because per the important note at the top

So these would not show up in the Azure portal. This is expected. What is your request/question in regards to this?

[2019-09-03 20:54] alkohli commented on #38212
@lunar87 Thanks for your feedback! Just created a PR to fix this and changes are merged. The names should not include spaces, there is an actual screenshot also in the article that shows the correct names without the spaces.
The updated doc should go live after 3:00 pm today. Thanks!

[2019-09-03 20:55] alkohli commented on #38212
Since the changes are in, I am going to close this issue. Please reach out to me if you have further feedback. Thanks!
#please-close

[2019-09-03 20:55] #38212 closed

[2019-09-03 20:56] fernandoBRS opened #38217 "Venv installation guidance"
On the *Create and activate a virtual environment (optional)* section, it would be great to mention how to install venv. In my case I had to install it on WSL with:

[code]

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6bfb5
* Version Independent ID: 3174a893-394c-c622-6c96-0b89

[2019-09-03 20:59] FrankHu-MSFT commented on #38181
Hello @PanuSaukko

This has been asked before here : https://github.com/MicrosoftDocs/azure-docs/issues/22886

Systemlabels are not meant to be modified by customers. It is mainly a read-only attribute. I'll go ahead and insert a note in the docs regarding this.

Thanks for letting us know about

@PanuSaukko Please let us know if there are anymore questions within the scope of this git issue. If n

[2019-09-03 21:06] vijayendrav commented on #38064
I agree with @blueelvis.  There is no option to incorporate hot-fix in CI/CD pipeline due to manual export of ARM template.

[2019-09-03 21:06] Jatinder-Luthra commented on #36614
@Karishma-Tiwari-MSFT FYI, I got below confirmation from IBM support engineer.

[code]

[2019-09-03 21:07] SaurabhSharma-MSFT commented on #37996
@abarrafo We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-03 21:07] #37996 closed

[2019-09-03 21:07] SaurabhSharma-MSFT commented on #37989
@JamesHeathcote We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-03 21:07] #37989 closed

[2019-09-03 21:18] NavtejSaini-MSFT commented on #38197
@sorcia25 We are looking into this and will get back to you.

[2019-09-03 21:20] MarileeTurscak-MSFT commented on #38172
@prashantkarkera

The later parts in the article indicate that token lifetime policies are used for these session tokens, but since configurable token lifetimes are being discontinued I believe that conditional access will handle this and per my understanding it is the recommended approach

@rwike77 can you pleases confirm and consider adding a note to the article?

[2019-09-03 21:21] vijayendrav commented on #35453
Hi @jonathanneo,
The answer to Huan's Q3 is that any new connections/linked services created in feature branch directly publish to ADF service as the secrets/credentials are not stored in Git for security reasons.  To avoid this behavior it is a best practice to use Azure KeyVault as described in the documentation here:
https://docs.microsoft.com/en-us/azure/data-factory/source-control#using-passw

[2019-09-03 21:25] lucafabbri365 opened #38218 "Typing error"
I noticed a typing error: section "Enable targeted Intune deployment" &gt; point 3d "Platform type: Custom"; it should be "Profile type: Custom".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78c66f8a-1c40-e31c-5c7e-7870b7d65e0c
* Version Independent ID: 3e8301bc-8e4d-ee23-8770-2f75e170e01a
* Content: [Enable password

[2019-09-03 21:30] Alberto-Vega-MSFT commented on #37927
Hi you can see this here https://sway.office.com/FeHDkEMnvtM24rFg?ref=Link and on the blog https://azure.microsoft.com/en-us/blog/topics/azure-maps/

[2019-09-03 21:30] KranthiPakala-MSFT commented on #38069
@brijrajsingh Apologizes for the late response. This issue looks like specific used case scenario and not related to document content, we request you to please post your question on "_[MSDN - Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpostdesc)_" and other forums (_[Stackoverflow - Azure Data Factory](https://stackoverflo

[2019-09-03 21:41] NavtejSaini-MSFT commented on #38203
@adiun There is currently no support for running Cosmos Emulator on MAC or Linux. The above document only lists the workaround for SQL API use.
Please vote for this feature in the User Voice section for Cosmos Emulator at below link.
https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/18533509-add-documentdb-emulator-support-for-mac-os-x-and

[2019-09-03 21:44] JimacoMS3 commented on #36775
@v-stadam  Thanks for pointing this out!

What worked for me was downloading the simulator from the location in the readme.md in that folder: https://www.microsoft.com/en-us/download/details.aspx?id=52507, and then copying the exe file over the existing simulator. The sample worked just fine after that. I'll talk to the product team about updating the  simulator in the repo and keep you updated.

[2019-09-03 21:44] NavtejSaini-MSFT commented on #38197
@sorcia25 We are assigning this to author for further action.
@ajlam We were able to repro this issue, Please change the document or provide necessary guidance if we can edit the document. We have assigned this case to you. Here is the screenshot of the error.
![Timezone](https://user-images.githubusercontent.com/52257742/64210859-5ccc5780-ce72-11e9-9c8d-d637fb581690.JPG)

[2019-09-03 21:44] KranthiPakala-MSFT commented on #38064
@blueelvis , @vijayendrav Thanks much for bringing this our attention. Since it is not a supported feature currently, please feel free to share your idea/suggestion in Azure Data factory user voice forum as a new feature request. All the feedback shared in this forum will be reviewed by ADF Engineering team and will take appropriate action.

https://feedback.azure.com/forums/270578-data-factory

O

[2019-09-03 21:48] jpconnock commented on #35615
@satls -- We are working on this request, as @zhenlan mentioned, and we'll have an update to our content shortly.  Thanks for your patience!  I'll close this Issue for now, but will return to this thread with a link to the new content when it has published.

#please-close

[2019-09-03 21:48] #35615 closed

[2019-09-03 21:54] annaymj opened #38220 "Is any way to download the engineered feature from AutoML?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0211b3a-7229-fde6-cdfc-3fac1f5fb512
* Version Independent ID: 104dee68-825f-ac1c-5bcd-f10853d13355
* Content: [Use automated ML to build and deploy machine learning models - Azure Machine Learning service](https://docs.microsoft.com/en-us/azure/machi

[2019-09-03 21:58] sharma-pankaj commented on #38146
From the error for the REST call, it looks like the auth token was incorrect. Using SDK, you can call [GetDatabaseAccountAsync ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.client.documentclient.getdatabaseaccountasync?view=azure-dotnet) to list all the read and write endpoints.

ReadEndpoint and WriteEndpoint will point to the regional DNS addresses if the PreferredLocat

[2019-09-03 22:14] MashaMSFT commented on #37396
Hi @binoyjt , thanks for bringing this doc bug to our attention! I have updated the documentation to include code to install the IaaS extension manually:

[code]

However, the recommended way to install the IaaS extension is through registering with the resource provider, which includes first registering in lightweight mode, and then upgrading to full.

Hope that helps and please let us know if th

[2019-09-03 22:14] #37396 closed

[2019-09-03 22:16] femsulu commented on #38196
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-03 22:17] femsulu commented on #38206
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-03 22:19] Karishma-Tiwari-MSFT commented on #37677
Thanks @colindooley11 for sharing the update. I am glad that your issue is resolved. Please let us know here if you see the same behavior again. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-03 22:19] #37677 closed

[2019-09-03 22:32] Grace-MacJones-MSFT commented on #37950
Hi @Anand-Moghe,  the new VNET Integration feature will go in private/public preview on Microsoft Government Cloud eventually.  However, we do not have a date at this time. We are working on making the feature better and I’d expect that only after that work is completed will we update MAG with it too.

We will now proceed to close this thread. If there are further questions regarding this matter,

[2019-09-03 22:32] #37950 closed

[2019-09-03 22:41] MashaMSFT commented on #37127
Hi @mjcarrabine , thanks again for contacting Microsoft! I just wanted to provide a quick update and let you know that we're looking into creating an ARM template :) I'll keep you posted on the progress, and let you know what comes of our investigation.

Thanks!
Masha from the SQL Docs team

[2019-09-03 22:45] YutongTie-MSFT commented on #38202
@managedcoder
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-03 22:45] YutongTie-MSFT commented on #38220
@annaymj
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-03 22:46] edwardbartholomew opened #38222 "Expanding Azure Terraform Tutorial Tool Section"
Proposed article to add to the Azure Terraform Tutorial Tools section of https://docs.microsoft.com/en-us/azure/terraform/ Tutorials -> Tools.
I would like to submit a PR for a new tools article regarding testing terraform modules containing Azure resources using the kitchen-terraform framework.

Product links to kitchen-terraform:
https://github.com/newcontext-oss/kitchen-terraform
https://newcon

[2019-09-03 22:47] peterpogorski commented on #33071
#sign-off

[2019-09-03 22:47] jerms0518 opened #38223 "VS2019: Azure Service Authentication Not Working When Debugging in Docker Mode"
I am able to connect to Azure Key Vault and other services when running in Visual Studio in "IIS Express" mode, but I can't seem to get it to work when running in Visual Studio using "Docker" mode. Is there any additional configuration required to connect to Azure services when debugging against a containerized application?

My application is an ASP.NET Core 2.2 WebAPI with Docker support added vi

[2019-09-03 22:48] peterpogorski commented on #37799
Thanks for the Feedback @CeciAc!

The document has been updated to include the namespace.

#please-close

[2019-09-03 22:48] #37799 closed

[2019-09-03 22:51] rwike77 commented on #35073
@hpsin updated the article.  #please-close

[2019-09-03 22:51] #35073 closed

[2019-09-03 22:53] rwike77 commented on #32287
@hpsin updated the example in the article. #please-close

[2019-09-03 22:53] #32287 closed

[2019-09-03 22:53] yevster opened #38224 "In API Management, Reference->PowerShell goes to general PowerShell documentation"
In the API management docs, when expanding the "Reference" section and choosing "PowerShell", the resulting page is the [Generic PowerShell overview](https://docs.microsoft.com/en-us/powershell/azure/overview?view=azps-2.6.0), rather than the [PowerShell functionality revolving around API management](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/).

---
#### Document Details

[2019-09-03 22:57] kalatchev commented on #38154
Thanks.

[2019-09-03 22:57] #38154 closed

[2019-09-03 22:58] Juliako commented on #32263
@plzm, i updated the topic

[2019-09-03 22:58] Juliako commented on #32263
#please-close

[2019-09-03 22:58] #32263 closed

[2019-09-03 23:00] Juliako commented on #34540
removed the code place holder

[2019-09-03 23:00] Juliako commented on #34540
#please-close

[2019-09-03 23:00] #34540 closed

[2019-09-03 23:13] chino0913 commented on #38122
The images looks fine in my computer even though I attached the images to
the email

On Wed, 4 Sep 2019 at 04:12, cawrites <notifications@github.com> wrote:

--

* Jonathan Vasquez *

[2019-09-03 23:14] xenalite opened #38225 "Access from MSFT trusted services must be enabled on Azure Key Vault"
This tripped me up big time when configuring Azure Front Door with a certificate sourced from Key Vault. Not only do you have to ensure you add the Service Principal to your tenant, and an access policy to Key Vault.

You must also ensure that if your Key Vault has a Firewall enabled, that you tick "Allow trusted Microsoft services to bypass this firewall".

![image](https://user-images.githubuser

[2019-09-03 23:18] Infinitism opened #38226 "Updating/Removing messages from Service Bus queues"
This document doesn't cover how to update a message that is in queue (not yet consumed by a worker) or how to cancel a message that is waiting in the queue (before it is consumed by a worker).

For example, what to do when a client submits a message with an incorrect information and would like to cancel it before a worker acts on it? Similarly, how to update a message in a queue?

What's the best

[2019-09-03 23:25] danielstocker commented on #36458
@ggirard07 @ggailey777 @mike-urnun-msft

Is more information required to create some documentation clarity around this behaviour? I'm working with a customer who is considering stopping to use function slots because they are unsure about the official guidance around this scenario.

Thanks for your help

[2019-09-03 23:25] shafalfa commented on #38159
Hi there,

Thanks for your reply. Much appreciated.

Turns out there were two issues for me. Using Postman I didn’t realise I was trying to send the message as a GET instead of a POST.

Also as you pointed out below, I had to create a new resource for the region stated and get a new api key for it to work.

Again, thanks for the assistance.

Milos.

From: RohitMungi-MSFT <notifications@github.com>

[2019-09-03 23:25] Samsinite opened #38227 "Redirect URI Ignored"
We have an application with a few different redirect URI's specified, one for staging, one for development on http://localhost:3000/..., and a few others for pull requests. When developing locally, sending the user to https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize, and specifying the http://localhost:3000/... as the "redirect_url" query param (along with the other required/o

[2019-09-03 23:29] cherylmc commented on #34228
#please-close

[2019-09-03 23:29] #34228 closed

[2019-09-03 23:46] Karishma-Tiwari-MSFT commented on #38002
Thanks. I have created a PR with the changes and updates will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/87339

[2019-09-03 23:46] #38002 closed

[2019-09-03 23:48] cherylmc commented on #33836
In speaking with the product team, this information changes too frequently and is too lengthy to document.  #please-close

[2019-09-03 23:48] #33836 closed

[2019-09-03 23:50] cherylmc commented on #25249
I do not know of a specific document for this. #please-close

[2019-09-03 23:50] #25249 closed

[2019-09-03 23:50] Karishma-Tiwari-MSFT commented on #38188
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@Heidilohr Can you please share your inputs on the updates requested for this doc. Thanks :)

[2019-09-03 23:50] cherylmc commented on #25812
#please-close

[2019-09-03 23:50] #25812 closed

[2019-09-03 23:51] cherylmc commented on #25821
#please-close

[2019-09-03 23:51] #25821 closed

[2019-09-03 23:51] cherylmc commented on #28272
Updated as needed. #please-close

[2019-09-03 23:51] #28272 closed

[2019-09-03 23:55] dcbrown16 commented on #25821
@cherylmc lots of good information now, but I still don't see anything about the PeeringRouteLog and where it can be sent/how it can be analyzed. Will you be adding a separate doc for diagnostic logs, since this one is focusing on metrics?

[2019-09-03 23:57] singhkays commented on #17170
@Karishma-Tiwari-MSFT I'll try to find the right owners offline

[2019-09-04 00:18] #38083 closed

[2019-09-04 00:51] KingdomOfEnds opened #38228 "Table not rendering"
One of the table's isn't rendering:

![table](https://user-images.githubusercontent.com/43044425/64217775-8d60c100-ce73-11e9-8f97-9c03ae76fa0f.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ae3791d-b965-04d4-28f1-9047999c3e70
* Version Independent ID: 639f563c-d78a-1846-55a6-b9f62ab13133
* Content: [Machine learn

[2019-09-04 00:57] iizotov opened #38229 "Azure DNS DDoS Protection Info"
Hi folks,
The page does not mention anything about DDoS Protection for Azure DNS - can this information be added please?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f38b1bd-2ab0-71f1-a6e9-925b7af3389d
* Version Independent ID: 9528f5cf-16e1-0550-dc3e-edc135c82167
* Content: [Azure DDoS Protection Standard

[2019-09-04 01:04] msandeep22 commented on #38158
https://docs.microsoft.com/en-us/azure/batch/tutorial-parallel-dotnet here it is manoj

[2019-09-04 01:14] tkumark commented on #37899
when you say another subscription, if there are 2 subscriptions from the same AD they will be able to communicate but if there is a subscription from from totally different AD also they will not?

[2019-09-04 01:19] VNJoe opened #38230 "I want to disable this, how do I do that?"
I don't want this, how do I disable this.  It's already impacting my tenant but I had no idea it was a "thing" and like all these "features", they're in Preview mode but being forced on us.  I want it gone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5779b726-83b3-3242-297a-17410b372ab5
* Version Independent ID: ff9

[2019-09-04 01:24] adiun commented on #38203
Thanks... my question could be rephrased (not related to Mac/Linux) - is there a way to ignore CA validation using the Cosmos DB MongoDB API?

[2019-09-04 01:33] KrishnaG-MSFT commented on #38212
@alkohli Thanks for the quick response. :+1:

[2019-09-04 01:40] KrishnaG-MSFT commented on #38207
@krispenner Glad to know that you have self resolved the issue. Thanks for the update.

[2019-09-04 01:49] ram-msft commented on #37832
@kishan19 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-04 01:49] #37832 closed

[2019-09-04 01:56] mandiaya commented on #38042
Hi team, do you have any feedback?

[2019-09-04 02:00] mandiaya commented on #17348
Hi Jeevansd,
Do you have any testing result with the confluence 6.15.8 ?

[2019-09-04 02:07] cogran opened #38232 "Custom domain name validation time expectation"
The total time and average time is unclear here.
For Validation we are provided with:
Automatic validation typically takes a few hours. If you don’t see your domain validated in 24 hours, open a support ticket. However, under propagation it states:
After the domain name is validated, it can take up to 6-8 hours for the custom domain HTTPS feature to be activated.

For CDN-managed certificates are

[2019-09-04 02:10] aszalacinski commented on #22126
The sample code base is still out of date.

[2019-09-04 02:13] aszalacinski opened #38233 "Update samples?"
Is this quick start STILL a good example of how to acquire a token to all an API with?

I have a razor app that is secured with ADB2C and want to call an API secured with ADB2C. But this code base seems a bit dated. It still has Global.asax and web.config. This isn't great documentation and/or samples for new developers who are breaking into .NET... these samples should be following .NET Core 2+ b