[2019-07-10 19:30] mdlister opened #34869 "Spelling mistake"
The third Paragraph referrers to Azure as "LAzure"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bc4ddfd-a417-e0cb-8bd5-bc8f9e2d23fb
* Version Independent ID: 57171aef-bdbc-346f-7cb3-a2f92351c341
* Content: [Automate Azure Monitor log processes with Microsoft Flow](https://docs.microsoft.com/en-us/azure/azure-monitor

[2019-07-10 19:31] taromielnaz opened #34870 "Traffic Manager"
What is the difference between the traffic manager and front door? What is the benefit of the front door? I found them similar to each other.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbadca96-7341-36d0-8a38-1c6a5c96b22d
* Version Independent ID: 2fad91dc-25f8-0c7a-c21d-93986ec51145
* Content: [Azure Front Door Se

[2019-07-10 19:32] nelfer commented on #32453
Thanks @jmprieur . How would I go about obtaining such tokens from within the application? So far I assume these tokens are kept in cookies, which are also passed to the REST API. But not sure how they get renew or how to get them and put them in the header (with what header name?)

[2019-07-10 19:35] lingtham commented on #34509
Yes, the dynamic disks did work, I was able to attach them. Thank you!

I'm running into another issues with pod termination that I would like some help on, please let me know where to make a new issue if needed.

I deallocated one of my nodes to see what would happen in case of VM failure. Kubernetes automatically recreates the pods on a working node but my pods with the disks attached have been

[2019-07-10 19:37] lingtham commented on #34511
Yes, deleting my deployment and then deleting the disks works. I was hoping for a less disruptive way to detach the disks but it makes sense. Thank you for your help!

[2019-07-10 19:37] #34511 closed

[2019-07-10 19:55] Karishma-Tiwari-MSFT commented on #34868
Thanks for the feedback! I have created a PR with the update and changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/81858

[2019-07-10 20:00] #34868 closed

[2019-07-10 20:09] lichasu opened #34871 "feedbackReceiver.ReceiveAsync(); non funziona"
@Istorn commented on [Wed Jul 10 2019](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/348)

Ho implementato la procedura tale e quale l'avete specificata voi stessi in questa guida.

Alla riga "var feedbackBatch = await feedbackReceiver.ReceiveAsync();" il programma termina automaticamente senza alcun messaggio né tantomeno a livello di console.

---
#### Dettagli del documento

⚠ *Non m

[2019-07-10 20:10] lichasu commented on #34871
Hi team, please check this issue. Rough translation:

Thanks!

[2019-07-10 20:15] ttelfer opened #34872 "Issue with timescaledb when trying to restore a database. Unable to alter database parameter."
Attempting to restore a timescaledb database and when following the instructions on timescaledb to use this command:

ALTER DATABASE db SET timescaledb.restoring='on';

I get the following error:

ERROR:  permission denied to set parameter "timescaledb.restoring"

I have tested this on timescaledb docker and it works fine so the issue seems to be with Azure Postgresql.

---
#### Document Details

[2019-07-10 20:17] nenad1002 opened #34873 "CURL POST to get access token still returns back an error"
https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-end-user-authenticate-rest-api

I created an application which has permissions of delegated type to Azure Active Directory Graph (User.Read), Azure Data Lake (user_impersonation) and Azure Storage (user_impersonation) and I get back an error when trying to get the access token:

The user or administrator has not consented to us

[2019-07-10 20:22] jcao78 opened #34874 "Language Understanding service subscription key"
"Language Understanding service subscription key" is needed in the sample for the intent recognition, how to get it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 407d2781-1fe1-38a6-dc18-37d4e37d651c
* Version Independent ID: 919a2206-13f9-4f51-2e4f-45fe062d7d43
* Content: [Subscription keys - Language Understanding -

[2019-07-10 20:33] jcbrooks92 commented on #31166
@arkiaconsulting

Based on this statement here "**it is supported for Windows app production workloads**"

This feature is in preview **but, it is supported for Windows app production workloads with the following limitations:**

You can only reach addresses that are in the RFC 1918 range. Those are addresses in the 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16 address blocks.
You cannot reach resource

[2019-07-10 20:38] roygara commented on #34597
@igomat I reached out to the team and heard the following:

Open a shell and navigate to the directory where you installed the sync agent then import the server cmdlets, by default this would look something like this:
[code]

Then, you can run `Get-StorageSyncAgentAutoUpdatePolicy` to check the current policy setting.

To change it to the delayed update track, you can use this: `Set-StorageSyncAge

[2019-07-10 20:38] #34597 closed

[2019-07-10 20:44] VanMSFT commented on #29922
Thank you @ntachandley! The page title has been changed. We appreciate your feedback and help on our documentation!

#please-close

[2019-07-10 20:44] #29922 closed

[2019-07-10 20:51] kgremban commented on #33881
@tristanbarcelon I tried to recreate your experience again, and this time ran `sudo su` before any of the commands in this article. I still ran into no errors during installation. It sounds like this is a question better suited for the product team, and not an issue with the documentation. I recommend opening an issue in the https://github.com/azure/iotedge repo, where you can get a developer to l

[2019-07-10 20:55] VidyaKukke opened #34875 "Additional offline storage section needs to also talk about permissions"
EdgeHub runs as 'edgehubuser' on Linux machines.
When we map host directories we need to ensure that the host directory has r-w permissions given to this user otherwise it will fail. Need to document how to create the user and how to give permissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f8e1616-f3c9-ba1c-2e

[2019-07-10 21:04] SpicySyntax opened #34876 "Instructions on how to deploy to Azure Kubernetes Services"
Hey this docs page is great and enabled me to get a container working great locally! However I would love some direction on how we can deploy these into an AKS cluster. Specifically, how do we authenticate the Kubernetes cluster to pull the container image, and how to we configure the pods to run with the Eula, ApiKey, and Billing Params.
Thanks!

---
#### Document Details

⚠ *Do not edit this sec

[2019-07-10 21:16] femsulu commented on #34829
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.
@tfitzmac - any ideas on this ?

[2019-07-10 21:17] femsulu commented on #34833
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-10 21:18] femsulu commented on #34858
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-10 21:19] jackt-moran commented on #8580
How should one go about using the tools and tutorials located [here](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md) if I've already purchased certificates from a CA?

Specifically, neither the tutorials nor the tools make it clear how Proof of Possession should be done if one is using a CA certificate rather than the example, non-production read

[2019-07-10 21:19] femsulu commented on #34865
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-10 21:20] femsulu commented on #34869
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-10 21:22] spelluru commented on #34489
#assign:xurui203

[2019-07-10 21:22] MicrosoftGuyJFlo commented on #33610
@Sculpin90 The extension is only required if there is a device related setting in the Conditional Access policy. The extension allows us to register the device. I will update the doc to clarify that more.

[2019-07-10 21:22] MicrosoftGuyJFlo commented on #33610
#please-close

[2019-07-10 21:22] #33610 closed

[2019-07-10 21:24] cynthn commented on #33130
FYI - it looks like the Set-AzVMBootDiagnostics cmdlet might not be working (at least for -enable) at the moment. If you create a VM using PowerShell, you might want to use the Azure portal to enable boot diagnostics until we can figure out what it happening with the cmdlet :(

[2019-07-10 21:37] markarnolditpro opened #34878 "Is there downtime when changing plans?"
I need to move a Windows Web App to another plan: same region, same resource group, both S1.  Will there be any downtime?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ec88c2-d5ff-e727-cbe1-69bac94141ae
* Version Independent ID: 0b6d31a9-7767-73cb-857b-ad8aa81cdce5
* Content: [Manage App Service plan - Azure](https:

[2019-07-10 21:43] MicrosoftGuyJFlo commented on #33323
@JF03 Microsoft Azure Management covers all access to the Azure portal and use of PowerShell or CLI commands to manage.

[2019-07-10 21:48] mmacagno opened #34879 "Postman/FHIR tutorial: Wrong instructions -- audience/resource"
Hello.
We followed the steps to connect to FHIR server per documentation and worked a few weeks back.
Now it does not any longer. Upon investigation, it seems that the audience (resource) parameter specified in the doc is no longer valid.

before:
_https:_//login.microsoftonline.com/TENANTID/oauth2/authorize?**resource=https://azurehealthcareapis.com**

after:
_https:_//login.microsoftonline.com/T

[2019-07-10 22:04] antede opened #34880 "Leaked credentials risk event"
Based on the docs: "When the service acquires username / password pairs, they are checked against AAD users current valid credentials. When a match is found, it means that a user's password has been compromised, and a leaked credentials risk event is created"
I've seen cases where user identities are Federated and Password Hash Sync is not enabled, and the risk event is still raised. Can you pleas

[2019-07-10 22:10] jeffwmiles opened #34881 "Is cache storage capacity to be charged?"
The [Azure to Azure replication architecture](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-architecture) page describes the cache storage account that will be used.

This FAQ page mentions "No, there are no additional charges for cache." but it is in reference to a question with VMWare architecture.

If doing Azure-to-Azure site recovery, are there cache storage account char

[2019-07-10 22:17] Mike-Ubezzi-MSFT commented on #34555
@matjazmav We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-10 22:17] #34555 closed

[2019-07-10 22:19] Grace-MacJones-MSFT commented on #34878
Hi @markarnolditpro, generally there is no downtime. Scaling up should only take seconds to apply and affect all apps in your App Service plan. You can always turn On the “Always On” feature for your app. By default, web apps are unloaded if they are idle for some period of time. This lets the system conserve resources. In Basic or Standard mode, you can enable Always On to keep the app loaded all

[2019-07-10 22:19] #34878 closed

[2019-07-10 22:20] MicrosoftGuyJFlo commented on #34800
The health check script published this afternoon in the doc covers this scenario.

[2019-07-10 22:21] MicrosoftGuyJFlo commented on #34800
#please-close

[2019-07-10 22:21] #34800 closed

[2019-07-10 22:21] Alberto-Vega-MSFT commented on #34581
@naoufelfrioui Thanks for reaching out. Since we haven't heard back from you we will be closing this issue for now. If you have any more questions please feel free to tag me in your reply and we will be happy to reopen this issue

[2019-07-10 22:21] #34581 closed

[2019-07-10 22:22] jeevansd commented on #34542
@philparr2020 Yes, this is very much possible. You can add more instances of the same Service Now app from Azure AD app gallery and then configure individual instance with each of the app. You can also assign the app to different set of users and groups as needed.

[2019-07-10 22:37] KellyDF commented on #27365
Thanks for reaching out. PDFs return the bounding box in inches while images return the bounding box in pixels.
This can be found in response section here: https://westus.dev.cognitive.microsoft.com/docs/services/5adf991815e1060e6355ad44/operations/5be108e7498a4f9ed20bf96d

[2019-07-10 22:39] jwisener opened #34883 "DI broken"
you may want to state in the documentation, that DI is really broken:

https://github.com/Azure/azure-functions-host/issues/3399

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b909
* Content: [Use dependency injection in .NET

[2019-07-10 23:01] JimacoMS3 commented on #24579
Hi @inesk-vt,

Thanks again for your feedback! This topic has been updated since you commented, and it should now be current with the portal. Please let me know if we can close this issue.

Thanks again,
Jimaco

[2019-07-10 23:07] TravisCragg-MSFT commented on #34707
@kskvarci Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-10 23:08] RavennMSFT commented on #34830
We expect to provide a more detailed update for VDI support in the next 1-2 months. We're currently working on it

[2019-07-10 23:13] femsulu commented on #34881
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-10 23:15] swanderz commented on #33308
@wbaumann-microsoft I'll take that as an answer. We can now close this month old issue. See you all on the release notes related issue! 🤣

[2019-07-10 23:15] #33308 closed

[2019-07-10 23:20] SenthuranSivananthan opened #34885 "Scenario when scope (subscription or resource group) is deleted"
Would it be possible to document the scenario where the scope is deleted.  It's common with RGs being deleted in Dev/Test subscriptions.  I believe it's the same as moving an RG to another subscription (https://docs.microsoft.com/en-us/azure/billing/billing-save-compute-costs-reservations#other-considerations) but would be nice to call it out explicitly.

---
#### Document Details

⚠ *Do not edit

[2019-07-10 23:21] alekseys opened #34886 "This is not about Cosmos DB triggers."
The term "Cosmos DB trigger" here is misused. Trigger has a special meaning in Cosmos DB and has nothing to do with Azure Functions. Suggest to use Function trigger or something else instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da525782-702a-0c0b-0ced-32b124c527a3
* Version Independent ID: 97757a1f-9919-d6c8

[2019-07-10 23:24] Juliako commented on #32995
Please, take a look at https://docs.microsoft.com/en-us/azure/media-services/latest/media-services-metrics-diagnostic-logs

[2019-07-10 23:24] Juliako commented on #32995
#please-close

[2019-07-10 23:24] #32995 closed

[2019-07-10 23:25] daredammy opened #34887 "Helpful"
Awesome write up. The build-up is great!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e48ca5f-54a8-441a-e33d-602173e02c40
* Version Independent ID: c5b86b80-2467-1ec7-a099-f0e559657617
* Content: [Introducing the Service Fabric Cluster Resource Manager](https://docs.microsoft.com/en-us/azure/service-fabric/service-f

[2019-07-10 23:26] #34887 closed

[2019-07-10 23:34] FrankHu-MSFT commented on #34692
I will be closing this out now, please let us know if you have anymore questions by reopening this,

[2019-07-10 23:34] #34692 closed

[2019-07-10 23:42] femsulu commented on #34594
Hi @sinupeter , sorry for the delay. Is this still an issue? Could there be a firewall rule blocking traffic? you could also try changing the port in the config file to see if that resolves the issue. If no luck, we may need to escalate to the technical support channel to dig deeper to investigate root cause. If that's the case, please raise a support ticket using [these steps](https://docs.micros

[2019-07-10 23:44] #34594 closed

[2019-07-10 23:45] Alberto-Vega-MSFT commented on #30010
We will now proceed to close this issue since the feedback was addressed in the Pull Request

[2019-07-10 23:45] #30010 closed

[2019-07-10 23:57] SaurabhSharma-MSFT commented on #34761
@Ashley-Walton Sorry but I am not sure if I understand you correctly but the inviting tenancy will be always responsible for MFA for users from the partner organization.  Also, if you have any suggestions to improve the feature then you can use product feedback [link](https://feedback.azure.com/forums/169401-azure-active-directory ) to submit a new feature request.
 This will allow the community t

[2019-07-11 00:01] Alberto-Vega-MSFT commented on #34756
@LeeHyeongWon just following up with you to see if you had any issues opening the support ticket?

[2019-07-11 00:03] Mike-Ubezzi-MSFT commented on #34712
I am showing that the correct ordering of args for [New-AzureRmNetworkSecurityRuleConfig](https://docs.microsoft.com/en-us/powershell/module/azurerm.network/new-azurermnetworksecurityruleconfig?view=azurermps-6.13.0) is the following:

   -Name <String>
   [-Description <String>]
   [-Protocol <String>]
   [-SourcePortRange <System.Collections.Generic.List`1[System.String]>]
   [-DestinationPortRa

[2019-07-11 00:12] femsulu commented on #34865
Thanks again for catching this. A PR has been successfully initiated to correct this and the fix will be live shortly. Closing this issue.

[2019-07-11 00:12] #34865 closed

[2019-07-11 00:12] femsulu commented on #34869
Thanks again for catching this. A PR has been successfully initiated to correct the typo and the fix will be live shortly. Closing this issue.

[2019-07-11 00:12] #34869 closed

[2019-07-11 00:13] MicahMcKittrick-MSFT commented on #34887
@daredammy glad to hear you enjoyed the doc :)

@masnider great work on the doc!

[2019-07-11 00:20] PingPongSet opened #34888 "How to deploy both projects to Azure Container Registery and AKS in release mode via script?"
How to deploy these two projects to Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: def17b01-9c42-fd6d-a684-7e4a1af62deb
* Version Independent ID: b1dd9faa-f1cf-5829-7cbd-66b6b2887d17
* Content: [Running multiple dependent services using .NET Core and Visual Studio - Azure Dev Spaces](https://docs.microsoft.com/e

[2019-07-11 00:20] Karishma-Tiwari-MSFT commented on #34407
@artisticcheese Have you tried using [this document](https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#upgrade-a-node-pool) to upgrade the node pool version. For example, let's say your kubernetes version and node pool version are different and kubernetes version is the latest. If you use this to upgrade the node pools to the version same as the kubernetes version by using the com

[2019-07-11 00:41] PingPongSet opened #34889 "How to generate and understand azure-vote.yaml?"
Can the file azure-vote.yaml be generated by VS or manually entered?

Is there resource that helps me understand azure-vote.yaml?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
* Content: [Quickstart - Create an Azure Ku

[2019-07-11 00:42] YutongTie-MSFT commented on #34876
@SpicySyntax Thank you for your feedback, I have assigned to author for proper update.

@IEvangelist Hi, could you please help to check this issue and update the document if necessary? Thank you!!

[2019-07-11 00:51] artisticcheese commented on #34407
Just run it but it did not update versions of Windows worker nodes.

[2019-07-11 00:52] NickDrouin opened #34891 "No sample for ASP Net Core"
Per: https://github.com/MicrosoftDocs/azure-docs/issues/34429
The code only support FnApps, but not ASP NET Core 2.2 endpoints.
Please provide a sample for ASP NET Core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc8ec210-042d-e1e3-eebc-8c0ef5921d7a
* Version Independent ID: 7e27c3bc-60ed-064c-9639-1a9b9b79a6a8
* C

[2019-07-11 00:54] NickDrouin commented on #34429
@PramodValavala-MSFT :  Providing a FnApp for an HTTP endpoint example has no value, no-one would do that: there is the perfectly good EventGrid binding.

Filed #34891

[2019-07-11 00:58] KeiroKamioka0000 commented on #34735
@SadiqhAhmed-MSFT
Is their are ETA for answer? Sorry for pinging you.

[2019-07-11 01:00] TravisCragg-MSFT commented on #34849
@dudeNumber4 There is a way to [purchase a custom domain for an App Service](https://docs.microsoft.com/en-us/azure/app-service/manage-custom-dns-buy-domain) using the portal, but the domain is actually coming from GoDaddy, and not from Azure.

You cannot directly purchase DNS names from Azure DNS, you must buy from a 3rd party and then manage the domain on Azure DNS.

We will now proceed to close

[2019-07-11 01:00] #34849 closed

[2019-07-11 01:02] akshaybabloo commented on #34565
Thank you @shashishailaj

[2019-07-11 01:07] TravisCragg-MSFT commented on #34864
@aconkle Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-11 01:08] KranthiPakala-MSFT commented on #34717
@karthiksubramanians We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Thank you.

[2019-07-11 01:09] TravisCragg-MSFT commented on #34864
@aconkle I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-11 01:12] rcallahan2 opened #34892 "User Attributes & Claims"
I dont know if its accross the board or not but in both my ADFS and Azure deployments of SABA Cloud I had to edit the Unique User Identifier to be user.onpremisessamaccountname instead of userprincipalname.   It may be worth mentioning that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9c2e302-40aa-ec1f-2d16-a0f2c16

[2019-07-11 01:24] KranthiPakala-MSFT commented on #34770
@Minewiskan Could you please take a look at the ask from @Oreo-Dev.

[2019-07-11 01:44] IEvangelist commented on #34876
Hi @SpicySyntax, thank you for your kind words - it made my night! You may be in luck, I just posted another doc on doing just that but under a different service. Does this help you out - [Use Kubernetes on-premises](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-howto-on-premises)? Please report back, if this doc solves your problem I will consider writi

[2019-07-11 01:46] SinghGurd commented on #33382
@ManojReddy-MSFT Thank you for the details.

[2019-07-11 01:46] #33382 closed

[2019-07-11 01:48] hansenms commented on #34879
Please clarify. The document states that the value should be:

[code]

where audience may be `https://azurehealthcareapis.com` or some other audience that you have configured on your FHIR service. It could also be an APP ID if that is how you have configured it.

So I believe the current instructions are correct. If not, please help point to the specific text.

[2019-07-11 01:50] sarahlume commented on #34680
Thanks for reporting this issue!
 Could you share your code with us?
And could you share your audio file with us if possible.

Or you can contact me directly by email sarahlu@microsoft.com

[2019-07-11 01:54] hrasheed-msft commented on #34862
@aconkle Thanks for reaching out. Could you provide more details on your scenario and exactly what you are trying to achieve?

[2019-07-11 02:05] PramodValavala-MSFT commented on #34891
@NickDrouin Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-07-11 02:14] KeiroKamioka0000 opened #34894 "日本語版を作成してください"
こちらの記事を参照する日本のお客様はいると思いますので、日本語版の作成をご検討お願いいたします。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: eb11ccdd-2665-fe27-ae6e-3a7e8c79e9a5
* Version Independent ID: d31be8c1-4eef-1261-47f9-9e194a45734b
* Content: [Create an ExpressRoute circuit - Resource Manager template: Azure](https://docs.microsoft.com/ja-jp/azure/expressroute/expressroute-howto-circui

[2019-07-11 02:23] PramodValavala-MSFT commented on #34429
@NickDrouin The document does mention the use of Azure Functions just for demonstration and also includes a note pointing out the Event Grid Trigger that should be preferred instead for real functions.
But I do understand what you mean.

Thanks for opening a separate issue for tracking that!

[2019-07-11 02:27] daruizcorrea commented on #34819
Hi @SadiqhAhmed-MSFT,
Thanks for the reply.
It was for a single VM.
I have left the profiling run for a few days and ran the tool again which has now marked the VM as compatible. A premium storage account was suggested as expected.
Not sure what happened there but seems to be working OK now.

[2019-07-11 02:27] #34819 closed

[2019-07-11 02:36] rhythmnewt commented on #33988
@ChristianMontoya thanks, we'll look into setting it up this way

[2019-07-11 02:36] #33988 closed

[2019-07-11 02:44] kobulloc-MSFT commented on #34839
@sk1tt1sh We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-11 02:52] AmanGarg-MSFT commented on #34888
@PingPongSet Thank you for the question! We are investigating this and will get back to you shortly.

[2019-07-11 03:29] Ardutec commented on #10205
Same Error. every thing is okay on IoT hub and job side but  Streaming dataset is not showing in PowerBI

[2019-07-11 04:10] KrishnaG-MSFT commented on #34834
@duichwer Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:14] KrishnaG-MSFT commented on #34857
@ninweninwe Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.
If you have a document which you are following and if you think it needs an update, p

[2019-07-11 04:15] KrishnaG-MSFT commented on #34860
@pwl-kdk Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:17] KrishnaG-MSFT commented on #34861
@pwl-kdk Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:18] KrishnaG-MSFT commented on #34863
@yvesgermain Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:19] KrishnaG-MSFT commented on #34866
@Auticons1 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:20] KrishnaG-MSFT commented on #34867
@taromielnaz Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:21] KrishnaG-MSFT commented on #34870
@taromielnaz Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:22] Ardutec opened #34902 "DataSet is not being created in PowerBI"
Dear all Thanks in advance.
I am facing some problems while monitoring my IOt hub data in power BI. Everything go right but after starting streaming job no dataset created in PowerBI . I have tried 2 3 times but no success. Do this have any alternative? Please guide me on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-07-11 04:23] KrishnaG-MSFT commented on #34871
@lichasu Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:23] YutongTie-MSFT commented on #34874
@jcao78 Hi, to get the LUIS service subscription key, please follow:
1.  Go https://portal.azure.com
2.  Log in your account
3.  Go to your LUIS resource if you have, if you don't have one just create one.
4.  Click "Key"
5.  You can find your key:

[2019-07-11 04:25] KranthiPakala-MSFT commented on #32729
Hi @normesta, following up to see if there is any update on the above ask.

[2019-07-11 04:25] KrishnaG-MSFT commented on #34872
@ttelfer Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:27] KrishnaG-MSFT commented on #34873
@nenad1002 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:29] KrishnaG-MSFT commented on #34875
@VidyaKukke Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:33] mike-urnun-msft commented on #34883
Hi @jwisener - Thank you for your feedback. Could you provide the URL of the specific documentation that your feedback is applicable to?

[2019-07-11 04:35] KrishnaG-MSFT commented on #34879
@hansenms Thanks for the quick response.
@mmacagno Please check above response from @hansenms and respond as required. Thanks.

[2019-07-11 04:38] KrishnaG-MSFT commented on #34880
@antede Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:39] KrishnaG-MSFT commented on #34885
@SenthuranSivananthan Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:41] KrishnaG-MSFT commented on #34886
@alekseys Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:42] KrishnaG-MSFT commented on #34889
@PingPongSet Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:43] KrishnaG-MSFT commented on #34892
@rcallahan2 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:45] SadiqhAhmed-MSFT commented on #34885
@SenthuranSivananthan Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-07-11 04:45] KrishnaG-MSFT commented on #34894
@KeiroKamioka0000 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 04:46] SadiqhAhmed-MSFT commented on #34885
@yashesvi & @bandersmsft FYI.

[2019-07-11 04:46] rogeraustin opened #34903 "MicrosoftAzureBatch is not recognised"
MicrosoftAzureBatch is not recognized as an assignee when I try az role assignment create. Using ddbf3205-c6bd-46ae-8127-60eb93363864 instead works for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae009c5-411a-61fa-37c3-13ded76bb47c
* Version Independent ID: 3ff5319a-778c-d4af-a4bd-dc2b64c846ea
* Content: [Azure

[2019-07-11 04:47] KrishnaG-MSFT commented on #34894
Assging @cherylmc for visibility and document enhancement considerations.

[2019-07-11 04:49] SadiqhAhmed-MSFT commented on #34819
@daruizcorrea Thanks for the update! Glad to hear it is resolved :)

[2019-07-11 04:54] sandeepsoni1234 opened #34904 "Step to Add Scope is not provided"
Step 1: Register an application with Azure AD
After point number 8 following should be provided:
Select Add a scope
	for Scope name use user_impersonation
	Ensure the Admins and users option is selected for Who can consent
	in Admin consent display name type Access TodoListService as a user
	in Admin consent description type Accesses the TodoListService Web API as a user
	in User consent dis

[2019-07-11 05:01] msrini-MSFT commented on #34828
@prabhakarreddy1234 , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-07-11 05:07] MarileeTurscak-MSFT commented on #34779
Hi @kucster - just to clarify, are you wanting to add a note that images will be blocked for older protocols like IMAP? Or is there another note you would like to add to the doc?

[2019-07-11 05:08] Girishvtm commented on #34263
Hi Frank, Please find the screen shot of the issue. Please let me know if any additional info.
![IMG_20190701_124636](https://user-images.githubusercontent.com/52320284/61023451-b3b03600-a3c7-11e9-8cbc-c688736a7679.jpg)

Thanks for your help.

[2019-07-11 05:15] jakaruna-MSFT commented on #34290
@medavamshi Try that out and let me know.
Since this issue dont need a document update, I will close this issue.
You can post your further questions in [this](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesforWindows) MSDN forum.

[2019-07-11 05:15] #34290 closed

[2019-07-11 05:16] jakaruna-MSFT commented on #34470
@andybouts is there any update

[2019-07-11 05:16] SwathiDhanwada-MSFT commented on #34566
@msvijayn Can you please provide your insights on this ?

[2019-07-11 05:18] jakaruna-MSFT commented on #34470
In your template you need to remove the `dependsOn` parameter.
In the actual template we will first create the virtual machine adn once thats created we will add this shutdown schedule.
So depensOn is required.
In our case we have only one resource.

[2019-07-11 05:27] jakaruna-MSFT commented on #34546
@mrManner Changes merged with the actual doc.
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-07-11 05:27] #34546 closed

[2019-07-11 05:29] jakaruna-MSFT commented on #34457
@iRainbow5 Did you got a chance to look at the above comment

[2019-07-11 05:31] AjayKumar-MSFT commented on #34582
@isunitha98selvan, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-07-11 05:31] #34582 closed

[2019-07-11 05:42] jwisener commented on #34883
https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

The section under service lifetimes, basically this is currently correct due to it not working and renders the di completely unreliable and not usable. I would caution anyone not use it in a production environment, based on the open bug. And what I am currently experiencing.

[2019-07-11 05:46] Languafe opened #34905 "Instructions for VS Code + CLI users"
The SendGrid package is easily added with dotnet add package SendGrid. I was able to adapt all instructions and send email from
an ASP.NET Core 2.2 web api, but I think this article should have specific instructions for this scenario and for developers not using full Visual Studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-07-11 05:56] msvijayn commented on #34566
@jscaravilli - Not sure which region you're workspace is based in - but there have been some intermittent ingestion latency issues with Log Analytics which as affected the log alert service. And could be the cause of the fluctuations you are witnessing in behavior. You can find details of these incidents, here: [https://techcommunity.microsoft.com/t5/Azure-Monitor-Status/bg-p/AzureMonitorStatusBlo

[2019-07-11 05:58] KalyanChanumolu-MSFT commented on #34886
@alekseys Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate. 

@SnehaGunda We have heard similar feedback on other forums as well.
The terminology is being confused with Pre and Post triggers.

[2019-07-11 05:58] #34455 closed

[2019-07-11 06:01] ManojReddy-MSFT commented on #34880
@antede Federated users (without PHS) should not fall under this category. Do you have any events reported currently that I can use to validate?

[2019-07-11 06:06] angoyal-msft commented on #34731
@KeiroKamioka0000 As mentioned in the Usage section. It is calculated at the minute granularity and if you need data per second you can divide it by 60 and you will be able to get data per second. While in Legacy Metric Mapping it is already calculated per second. So both data would be in sync.

Hope this clarifies your concern. Please let us know if you still have any concern.

[2019-07-11 06:07] Ayanmullick commented on #34532
@joeyaiello, Can the PowerShell team provide an update?

[2019-07-11 06:13] andreivirgiltudor commented on #34547
Tried few minutes ago with different password combinations but none of them matched!
Tried even with example from [Microsoft sample](https://docs.microsoft.com/en-us/azure/aks/windows-container-cli), "P@ssw0rd1234!".
It has one lower case character, it has one uppercase character, it has 1 number, it has 1 special character, it is longer than 12 and lower than 72.
Still not working!

[2019-07-11 06:14] mliudev opened #34906 "jwks_uri keys format"
Where can I find information about what the format of the keys objects returned by the 'jwks_uri' is?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6352-9398-13863def9354
* Content: [Microsoft identity platform access tokens reference](https:

[2019-07-11 06:15] qiliao123 commented on #23770
should we close this one as the SSML doc is updated already? https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup#adjust-prosody

[2019-07-11 06:20] jakaruna-MSFT commented on #34547
@andreivirgiltudor
can you give me the command which you tried and the error which you got

[2019-07-11 06:28] KrishnaG-MSFT commented on #34740
@dcbrown16 Thanks for the confirmation. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-11 06:30] andreivirgiltudor commented on #34547
First I've issued
[code]

Which had this output:
[code]
$windowsPassword = "P@ssw0rd1234"
az aks create --resource-group k8s-win --name k8s-win-test --node-count 1 --enable-addons monitoring --kubernetes-version 1.14.0 --generate-ssh-keys --windows-admin-username $windowsUser --windows-admin-password $windowsPassword --enable-vmss --networ
k-plugin azure
[code]
The behavior of this command has bee

[2019-07-11 06:43] zonique2k opened #34907 "How to force delete a vault?"
In the begining of this article, theres a bullet with this text "If you don't want to retain any data in the Recovery Services vault, and want to delete the vault, you can delete the vault by force."
However there's no mention on how to actually force delete a vault?

I've tried for 3 hours now, to get rid of a vault containing a MARS backup, from an old decommissioned server.

---
#### Dokumentop

[2019-07-11 06:44] AmanGarg-MSFT commented on #34617
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-11 06:44] #34617 closed

[2019-07-11 06:48] zonique2k commented on #34907
Using the endpoint to remove a protected items / container within a vault. Returns this message: There are backup items associated with the server. Stop protection and delete backups for each of the backup items to delete the server's registration. If the issue persists, contact support. Refer to https://aka.ms/DeleteBackupItems for more info.

[2019-07-11 06:55] ChiragMishra-MSFT commented on #34873
@nenad1002 Can you try hitting "Grant admin consent" for your app under the API permissions for the app in the portal as shown below :

![image](https://user-images.githubusercontent.com/43365826/61028666-d5fd8000-a3d6-11e9-9433-9b094f5abbbc.png)

Let us know if this resolves the problem. Else, we can gladly dive deeper.

[2019-07-11 06:57] racchen commented on #34754
Thanks  @mike-urnun-msft , we would like yo know is there any limitation from APIM side.Thanks!

[2019-07-11 06:59] RohitMungi-MSFT commented on #34742
@radnado Here is a [blog](https://blogs.msdn.microsoft.com/uk_faculty_connection/2017/08/25/getting-data-into-azure-notebooks-jupyter-in-the-classroom/) that explains how csv data from the blob storage can be read in the notebook.
![image](https://user-images.githubusercontent.com/46958063/61028395-3b9d3c80-a3d6-11e9-9e6a-ac7c2887cdff.png)

The training and compute [matrix ](https://docs.microsoft

[2019-07-11 06:59] duichwer commented on #34834
@kraigb this is the content of my `requirements.txt`

[code]

I haven't tried the aznbsetup.sh option, but i will look into it.

[2019-07-11 07:00] AshokPeddakotla-MSFT commented on #34902
@Ardutec Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-11 07:26] timothies opened #34908 "Is HTTPS supported when mapping to custom domain name?"
I have a gateway with an auto-generated DNS name  'abc.cloudapp.azure.com'
I have registered a CNAME record with CloudFlare.com  to map  'abc.myAgency.gov.au'  -&gt; 'abc.cloudapp.azure.com'
I have a valid certificate in .pfx format  for  '*.myAgency.gov.au' successfully registered with my gateway
When browsing 'abc.myAgency.gov.au' the correct certificate is returned but deemed invalid because it

[2019-07-11 07:40] pconnell99 commented on #30371
I'm working on integration to Gen2 using LogicApps but I'm having to use the REST API (unsuccessfully) to upload data to it as the connector in there is Gen1.  If I could switch back to gen 1 I would to get that support but I don't think I can.  Switching a system to a newer version with less support is not the correct way to deploy software.  I think after 3 months SOMETHING should have changed o

[2019-07-11 07:42] obrookstein opened #34909 "Advance spaces query"
Hi,

Is there a way to get all spaces that apply to a more specific / advanced filter? Specifically I'd like to get all children spaces of a specific space, that applies to more than one propertyKey value (i.t. propertyKey1=x, and propertyKey2=y), and for integer be able to compare (propertyKey3&gt;5). Is it possible to do so in one API call?

Thanks,

---
#### Document Details

⚠ *Do not edit thi

[2019-07-11 07:44] aurangzaibumer777 opened #34910 "Azure Spatial Anchor Cloud Anchor Limit"
is Azure Spatial Anchor provides the same feature as AR Core does, just adding the cloud anchor feature that doesn't limit to 24 hours time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a5d261b-4f35-5a21-266c-cd916ec27645
* Version Independent ID: e09c9318-f7fa-ca76-6a0e-1c4d70c04a5f
* Content: [How to create and lo

[2019-07-11 07:46] naoufelfrioui commented on #34581
@Alberto-Vega-MSFT  thank you for your help . i installed windows 10 version 1809 build version  17763 and it worked as well .

I  installed it successfully

[2019-07-11 07:53] juyama opened #34911 "Inquiry about "barriers" with Standard SSD or Standard HDD"
Should we disable "barriers" for Standard SSDs or Standard HDDs with cache set to ReadOnly or None?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 978b668c-13f9-a75a-b7ca-17bb59e398a6
* Version Independent ID: 8ab14f42-c192-3cde-7f94-7b481276f3d4
* Content: [Azure Premium Storage: Design for performance on Windows VMs]

[2019-07-11 07:58] obrookstein commented on #33665
Thanks @KingdomOfEnds, I'm, using telemetry messages to report status updates, but it feels that updating the "reported properties" in the iot hub twin file is a better approach to update the device current configurations, and it is an additional option in IoT Hub to the telemetry. I was hoping for a similar mechanism with DT.

[2019-07-11 08:04] nes-jisc opened #34912 "Query Incorrect?"
Great page with a useful example but I had to modify the custom query to get it to work:

AzureDiagnostics | where Category == "TunnelDiagnosticLog" and _ResourceId == "&lt;ResourceID Of Gateway&gt;" and TimeGenerated &gt; ago(5m) and remoteIP_s == "&lt;REMOTE IP OF TUNNEL&gt;" and status_s == "Disconnected".

The Resource ID is case sensitive and NOT uppercase and there is also an underscore befo

[2019-07-11 08:08] seanbetts opened #34913 "QnA Maker Portal Test Chatbot doesn’t work as expected with follow-up prompts"
I have been testing my KB in the QnA Maker Portal using the test chatbot and it doesn’t work as expected with follow-up prompts. I have documented this in a question on Stackoverflow here: https://stackoverflow.com/questions/56966147/qna-maker-knowledge-base-returning-no-good-match-found-in-kb-for-follow-up-pro

The test chatbot returns different question/answer pairs than the ones I have configur

[2019-07-11 08:11] lightupdifire opened #34914 "Testing steps"
Hello,
We deployed Hybrid AAD join for Federated domain using Controlled validation,
"Current devices" registration works fine,
But "down-level devices" registration stop work, we saw device showed once in Azure AD, but then disappear after server reboot.
Followed all advises from this article and all looks fine in environment,
Still cannot make "down-level devices" registration to work.

Error if

[2019-07-11 08:15] tchenkete opened #34915 "EA335699-A6A0-4C26-8382-35BE9CD8770F/20190711100636"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-11 08:17] jjindrich opened #34916 "Route Metrics from Virtual Machine into Logs"
Hi, there is statement that I can route Metrics to Logs via EventHub:
Export	Route Metrics to Logs to analyze data in Azure Monitor Metrics together with data in Azure Monitor Logs and to store metric values for longer than 93 days.
Stream Metrics to an Event Hub to route them to external systems.

But there is no clear step how to do that. Please could you add how to route Metrics for Virtual Mac

[2019-07-11 08:22] Ashley-Walton commented on #34761
@SaurabhSharma-MSFT - I understand the behaviour is by design. I'm questioning whether it is in line with Microsoft's security principals. The general approach of Microsoft and the industry is to secure the identity, and this approach appears to be going against that by bypassing controls that are in place for that identity.

When we use our Azure AD SSO platform the authenticate to a 3rd party Sa

[2019-07-11 08:22] KrishnaG-MSFT commented on #34903
@rogeraustin Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 08:25] sergaz-msft commented on #34748
I didn't test this scenario you are describing though I would say that you can achieve it by creating two different UDF functions?

[2019-07-11 08:27] KrishnaG-MSFT commented on #34904
@sandeepsoni1234 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 08:31] KrishnaG-MSFT commented on #34905
@Languafe Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 08:31] obrookstein commented on #34748
@sergaz-msft  - that was my understanding too, but after reading this article (https://docs.microsoft.com/en-us/azure/digital-twins/how-to-egress-endpoints#configure-endpoints), it seems that the routing is done by the event type, and not the specific UDF. this means, that you can ALL event of type udfCustom to the same endpoint, and cannot route different udf results to different end points.

[2019-07-11 08:32] KalyanChanumolu-MSFT commented on #34863
@yvesgermain It is available in all Canada and US regions except West Central US.
Are you facing any issues?

[2019-07-11 08:32] PramodValavala-MSFT commented on #34826
@qinezh Glad we could help!

Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-11 08:32] #34826 closed

[2019-07-11 08:33] sergaz-msft commented on #33881
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-11 08:33] #33881 closed

[2019-07-11 08:40] KrishnaG-MSFT commented on #34906
@mliudev Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 08:41] KrishnaG-MSFT commented on #34907
@zonique2k Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 08:44] MikkelHegn commented on #34790
Currently the CLI will only create a Windows profile is the `--windows_admin_username` param is specified, regardless of whether the `--windows_admin_password` is specified, you can even specify the `--windows_admin_password` multiple times and it will not fail.

https://github.com/Azure/azure-cli-extensions/blob/master/src/aks-preview/azext_aks_preview/custom.py#L563

If you look at the cluster r

[2019-07-11 08:46] jakaruna-MSFT commented on #34903
@rogeraustin That should work. Can you give us the error message?
When we describe that service principal, we get `MicrosoftAzureBatch` in the service principal names.
`az ad sp show --id MicrosoftAzureBatch` or `az ad sp show --id ddbf3205-c6bd-46ae-8127-60eb93363864`
will have the below output(truncated )
[code]

I tried to create a role like this and it worked.
`az role assignment create --scop

[2019-07-11 08:46] KrishnaG-MSFT commented on #34909
@obrookstein Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 08:48] KrishnaG-MSFT commented on #34910
@aurangzaibumer777 Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.
If you have a document which you are following and if you think it needs an up

[2019-07-11 08:50] KrishnaG-MSFT commented on #34911
@juyama Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 08:51] VikasPullagura-MSFT commented on #34911
@juyama Thanks for your question. I am assigning the issue to the author to comment on this and provide requested information.

[2019-07-11 08:55] KalyanChanumolu-MSFT commented on #34861
Thank you for the detailed feedback. This issue is being assigned to the content author to evaluate and update as appropriate. 

[2019-07-11 09:04] SadiqhAhmed-MSFT commented on #34907
@zonique2k Regret the inconvenience cause. This is an on going issue due to [change in behavior when deleting a protected-server’s (MARS) or Backup management server’s (DPM/MABS) from the Vault  [https://social.msdn.microsoft.com/Forums/en-US/df1a86cb-be13-4a5c-80c1-7c2eb124c27a/awareness-change-in-behavior-when-deleting-a-protectedservers-mars-or-backup-management?forum=windowsazureonlinebackup](

[2019-07-11 09:06] jakaruna-MSFT commented on #34889
@PingPongSet
saw your issue in MicrosoftDocs/visualstudio-docs#3601
That tool uses helm charts to deploy. [Helm](https://helm.sh/) will have a default template for each component in kubernetes(like service, deployment, ingress etc).
When you deploy the project it will deploy using the template and default options.

At the end helm will get those inputs and creates the yaml files. Generated yaml fi

[2019-07-11 09:08] msrini-MSFT commented on #34912
@nes-jisc , Thank you for your feedback. i will assign this issue to the Author to review and make the changes to the documentation.

Also will review and add a note which states that the logs takes few hours to get populated in Log Analytic work space.

[2019-07-11 09:14] rajb865 opened #34917 "Unable to install IoT Edge Module on Windows 10"
I am having problem while installing iot edge module on Azure IoT Edge runtime running on windows 10. If I install SimulatedTemperatureSensor module from market place then it works fine. Here is the command and its out put for the error

I run this command to check runtime logs

[code]

Could you let me know what is wrong with the module? This module works fine on Azure IoTEdge Runtime running on

[2019-07-11 09:15] chayanbaner commented on #32782
Hi, artemuwka any inputs on when North/West Europe regions will be supported?

[2019-07-11 09:16] jakaruna-MSFT commented on #34509
You can create a thread in [Azure Container Services MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureContainerServices) and describe you issue there.

After deallocation, What happened to the disk which was attached to that instance. If VM is unresponsive, Then AKS should detach the disk from the VM and attach it tot he new VM and deploy the pod in new VM.

In this case,

[2019-07-11 09:26] SubhashVasarapu-MSFT commented on #34172
@dylreeves, Appreciate your patience. I have reproduced the same and import went successfully with me even on giving "-" in CNAME. Here is the screenshot,
![image](https://user-images.githubusercontent.com/44890829/61039102-c63c6680-a3eb-11e9-9151-6a7ce9367766.png)

We would like to work closely with you on this matter, so could you please send an email to AzCommunity[at]Microsoft[dot]com referenc

[2019-07-11 09:26] #34172 closed

[2019-07-11 09:29] KrishnaG-MSFT commented on #34913
@seanbetts Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 09:29] msrini-MSFT commented on #34908
@timothies , Can you make sure the certificate that you uploaded to Application Gateway Listener, has all the Intermediate chain certificate installed?

[2019-07-11 09:30] KrishnaG-MSFT commented on #34914
@lightupdifire Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 09:31] KrishnaG-MSFT commented on #34915
@tchenkete Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.
If you have a document which you are following and if you think it needs an update, pl

[2019-07-11 09:35] KrishnaG-MSFT commented on #34916
@jjindrich Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 09:38] KrishnaG-MSFT commented on #34917
@rajb865 Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.
If you have a document which you are following and if you think it needs an update, plea

[2019-07-11 09:38] msrini-MSFT commented on #34908
@timothies , Can you provide me your Custom domain which is mapped with AppGW? I can perform few troubleshooting steps and help you unblock from this issue

[2019-07-11 09:52] TimPenfare opened #34918 "System.NullReferenceException"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-11 09:53] TimPenfare commented on #34918
I keep getting Null reference with manager.GetTodoItemsAsync. Please can you assist.

[2019-07-11 09:57] theav8or opened #34919 "Java on WAWS SSL binding of outbound connection"
[Enter feedback here]
Cases involving outbound connection SSL binding for Java (Springboot) are fairly common, guide can use a section on keystore configuration that does **not require admin privileges**:

1. On my local environment import the public certificate in a new keystore.
2. Load the new keystore on webapp Azure (D:/home/site/wwwroot/cer/myKeystore.jks)
3. Add these java entries to web.co

[2019-07-11 09:57] josephmuchie opened #34920 "powershell scripts"
can you also share the CLI and powershell commands to manage access at folder level?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05543322-92f8-4009-ed8c-5acb256a71b9
* Version Independent ID: 62d62a2d-111e-b2f9-10e8-0f9722adff41
* Content: [Set permissions for Data Lake Storage Gen2 with Azure Storage Explorer](http

[2019-07-11 09:58] femsulu commented on #34603
adding content author @bwren to review the doc-enhancement request.

[2019-07-11 09:59] Ardutec commented on #34902
Thank you, I'll wait for your reply?

[2019-07-11 10:02] ayyazez opened #34921 "How to get Published assets via REST API (Azure Media services)"
I want to get only the published assets from azure portal storage account.The problem in my case is that i have not any REST API end point which provide only the published assets.I am getting all the assets from azure account using REST API endpoint: "https://storageAccountName.restv2.australiaeast.media.azure.net/api/Assets"
.i want to get published assets for building streaming url.

[2019-07-11 10:05] kaushik-hemant opened #34922 "Notification Hub doesn't provide properties in ARM as specified on portal"
Hi,

Can someone guide me asap how to create following configuration using ARM template for notification hub? I'm referring https://docs.microsoft.com/en-us/azure/templates/microsoft.notificationhubs/2017-04-01/namespaces/notificationhubs#ApnsCredentialProperties for this, but following settings is not available:

BundleId, AuthenticationMode, TeamId, ApplicationMode

Also for GCM/FCM, I believe g

[2019-07-11 10:15] KalyanChanumolu-MSFT commented on #34794
@matt-clement Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate. 

[2019-07-11 10:16] KalyanChanumolu-MSFT commented on #34794
@CarlRabeler for info

[2019-07-11 10:20] femsulu commented on #34615
@anirudhcavale  -  any input on this please?

[2019-07-11 10:23] Thundercatz commented on #12948
Its it possible that you could elaborate a bit more?

As I saw you were having problems with the " does not have CryptographicKey referenced by storageReferenceId "B2C_1A_FacebookSecret"  problem on the other thread.

Did you keep that too? because for me, when I upload the custom policy base file it returns me that error.

So you didnt remove anything from the extensions file, the signInAndSignup

[2019-07-11 10:24] SwathiDhanwada-MSFT commented on #34916
@jjindrich Both resource diagnostic logs and Metrics data are sent to an event hub using a resource diagnostic setting. [Follow this guide](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-stream-event-hubs#stream-diagnostic-logs-using-the-portal) to set up a resource diagnostic setting on a particular resource. Set a resource diagnostic setting on each resource from w

[2019-07-11 10:29] jjindrich commented on #34916
I found this link, but there is not possible to setup Diagnostics settings on Virtual Machine to stream data to EventHub

[2019-07-11 10:29] KalyanChanumolu-MSFT commented on #34593
@tknandu Could you please help with the above question?

[2019-07-11 10:31] rogeraustin commented on #34903
`az ad sp show --id MicrosoftAzureBatch`
gives
`service principal 'MicrosoftAzureBatch' doesn't exist`
and
`az role assignment create --assignee MicrosoftAzureBatch --role contributor`
gives
`Operation failed with status: 'Bad Request'. Details: 400 Client Error: Bad Request for url: https://graph.windows.net/eba7d3be-4021-491a-80bb-5d98ac0989ec/getObjectsByObjectIds?api-version=1.6`
and
`az ad sp

[2019-07-11 10:32] rogeraustin commented on #34903
Pressed the wrong button

[2019-07-11 10:35] seanbetts commented on #34913
Thank you - appreciate you looking at this. I’m also having the same problems with the question/answer pairs in my chatbot so don’t know if that’s related or not as I’d assume that would use the API?

[2019-07-11 10:42] SwathiDhanwada-MSFT commented on #34916
In the same page it is mentioned that there are [different steps for Compute resources](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostics-extension-stream-event-hubs) as shown below. Can you please check and confirm if you have gone through it.
![image](https://user-images.githubusercontent.com/48976275/61044466-541d4f00-a3f6-11e9-8e42-3a288a1b54d0.png)

[2019-07-11 10:42] hsitar007 commented on #11484
I have a use case where we need to talk to an On-premise application from the application hosted on AKS and since it is going to be an outbound traffic wanted to restrict it to go through the ILB using the ILB IP.

[2019-07-11 10:42] samuelj49 opened #34923 "Support Windows 10"
I see from the above that Windows Server 2012 and 2016 are supported. But about Windows 10? Having Accelerated Networking support Windows 10 would be excellent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4be8e45-460a-fab4-519b-32d83382005c
* Version Independent ID: 36a002a6-5813-da00-0a57-068eeaf491cf
* Content: [

[2019-07-11 10:52] KalyanChanumolu-MSFT commented on #34860
@pwl-kdk Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate. 

[2019-07-11 10:52] PietroCasotto opened #34924 "Program does not contain a static 'Main' and other errors"
Hi, i'm trying to follow this guide and i'm facing several problems that i've fixed somehow but this "solution" isn't working.

System:
OS win10,
Visual Studio Code Version: 1.36.1 (user setup) Commit: 2213894ea0415ee8c85c5eea0d0ff81ecc191529
dotnet --version: 2.2.301
Azure IoT Tools 0.2.0
Using code and names as they are on the tutorial

First problem: on step "Update the module with custom code"

[2019-07-11 10:55] KrishnaG-MSFT commented on #34918
@TimPenfare Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.
If you have a document which you are following and if you think it needs an update, p

[2019-07-11 10:57] KrishnaG-MSFT commented on #34919
@theav8or Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 10:58] PadmaPeddigari opened #34925 "Wrong vaultname in the example for storing password in vault"
[Enter feedback here]

on this page, the example shown to store examplepassword has the wrong vaultname.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f88c5a5a-7172-3836-e882-7a08b69e9572
* Version Independent ID: 07c17d2d-ed23-4639-d698-c1285178196a
* Content: [Azure Quickstart - Set & retrieve a secret from Key Vaul

[2019-07-11 10:59] KrishnaG-MSFT commented on #34920
@josephmuchie Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-11 11:03] jjindrich commented on #34916
Thanks

[2019-07-11 11:03] #34916 closed

[2019-07-11 11:19] zonique2k commented on #34907
Thank you. I'll try that

[2019-07-11 11:30] msrini-MSFT commented on #34923
@samuelj49 , Thank you for your feedback. Will check with Product group and get back to you.

[2019-07-11 11:38] alvipeo opened #34926 "Put certificate as a secret to KeyVault - in which format?"
Would you mind clarifying in which format should we put certificate into KeyVault (as a secret I suppose)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 105783bc-d51e-c199-7c51-1475bc9fbaa0
* Version Independent ID: 114c01b8-8b95-ff91-98c5-fd44b12ac6fc
* Content: [Tutorial - Configure HTTPS on a custom domain for Azur

[2019-07-11 11:48] rviljoen commented on #30680
@dwatsonit I am seeing the exact same behaviour in my tenant. Did you find a solution to this yet?

[2019-07-11 11:51] msvijayn commented on #34566
#please-close

[2019-07-11 11:51] #34566 closed

[2019-07-11 11:52] msvijayn commented on #34566
#please-close

[2019-07-11 11:59] fbcarvalho opened #34927 "Windows 10 multi-session CAL"
Hi
After i had created the host pool my desktop is asking to configure RDS Licensing CAL. How can I active the Windows 10 RDS CALs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970202b7-165f-18df-e928-c47c45a18755
* Version Independent ID: d5393b62-4211-72f5-fc7a-363f68f6d8a2
* Content: [Create a Windows Virtual Desk

[2019-07-11 12:05] AjayKumar-MSFT commented on #25991
The status code issue is being fixed with our next deployment however we do not have an ETA to share yet. Thank you for your patience and co-operation!

[2019-07-11 12:08] jakaruna-MSFT commented on #34903
ok. In the `servicePrincipalNames`, `MicrosoftAzureBatch` is missing. Because of that its not working.
Let me check and get back to you with the info about why its not showing that name.

[2019-07-11 12:09] jcawte opened #34928 "Restoration of LTR backups from deleted servers"
Can you please clarify on restoring LTR backups for databases that were on a server that has now been deleted?  An example would be server A has database B with LTR configured for 5 years.  If server A was deleted after 1 year and then after a further 2 years database B was required to be restored can you confirm that is supported and the process for doing that?  As I understand it is subscription

[2019-07-11 12:11] kucster commented on #34779
In testing I've found that the legacy protocol will only be blocked when
authentication is successful so a person is still able to try legacy but
will be blocked if they have a good user name and password combination. So
a person reading this page may get the opinion that legacy is always
blocked which does not seem to be the case.
--The reason this came up is my company is under attack via brute

[2019-07-11 12:21] valentijnscholten opened #34929 "Risky sign-ins no longer present"
The risky sign-ins menu option no longer seems to be available, only "users flagged for risk".
There is an option called "Risk events" that might now also contain risky sign-ins?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7984bc8-9064-b991-f6b6-2f2ae93490c9
* Version Independent ID: b65cdb54-9cf5-83ae-f921-3ce3496

[2019-07-11 12:25] StefanSchoof opened #34930 "Changing the Partition key value a is a important factor for choosing Partition key"
A thing I learned the hard way is, the id is only unique only in one partition:
![grafik](https://user-images.githubusercontent.com/4662023/61050139-8f178680-a3e6-11e9-873f-f337eca5f7ff.png)

If I have now a Record with the `id` 1 in the Partition 'london' and now do an Upsert for the id to changing the Partition key to 'berlin', I got two Records with the `id` 1 and not as I was expecting one.

I

[2019-07-11 12:27] SadiqhAhmed-MSFT commented on #34738
@cengxiye Both the articles are not exactly the same. Though subject of both the articles 4 & 5 are more or less similar but the content is different with some (+,-). Because Article 4: Rehost an app on an Azure VM and SQL Database Managed Instance and Article 5: Rehost an app on Azure VMs so that steps in the article 4 is an inclusion of SQL managed instance. Let me know if you're looking specifi

[2019-07-11 12:27] jakaruna-MSFT commented on #34421
@KeiroKamioka0000 I didn't get the information yet. I will post here once i have the update

[2019-07-11 12:30] jakaruna-MSFT commented on #34480
@denhsu Trigerring for base image update is done by adding an extra flag during the azure task creation.
flag  is  `--base-image-trigger-enabled True`
Once this is done, ACR task finds the base image for the task after first run and register's the webhook.
For private repos we can add webhook easily. But for public repos (which we do not own), I dont know the way to add webhooks.

If we find that

[2019-07-11 12:30] jakaruna-MSFT commented on #34480
@dlepow Please add your comments regarding the webhooks.

[2019-07-11 12:35] jakaruna-MSFT commented on #34509
@lingtham for the static disk issue, can you try adding the fsType to NTFS in the windows pod yaml and try.

[code]

[2019-07-11 12:37] jakaruna-MSFT commented on #34633
@jordanrgsd Did you got a chance to check the last comment

[2019-07-11 12:37] rayne-wiselman commented on #34738
Thanks for your feedback! The overview article is correct, since the articles are similar but not the same #please-close

[2019-07-11 12:37] #34738 closed

[2019-07-11 12:38] msrini-MSFT commented on #34926
@alvipeo , Thank you for posting here. I will investigate and update here.

[2019-07-11 12:45] mariojacobo commented on #11330
has there been any update or progress on this ? I'm hitting the same issue. I create AKS with Terraform, which in turn creates its own NSG. I would be nice to assign the NSG to the specific AKS subnet as part of the automation, without doing it manually afterwards. Kind of defeats the whole point of automating.

[2019-07-11 13:08] suketunayak opened #34931 "Error in Storage Path"
Error in Below Step:-&gt;
Enter the value for the Output parameter in the following format: wasb://&lt;Blob Container&gt;@&lt;StorageAccount&gt;.blob.core.windows.net/outputfolder/. For example: wasb://adftutorial@mystorageaccount.blob.core.windows.net/outputfolder/.

Solution:-&gt;
We have to Provide below Path to avoid Error -&gt;  adfjobs@{HDInsight Cluster Storage Account}.blob.core.windows.ne

[2019-07-11 13:09] #34924 closed

[2019-07-11 13:18] IEvangelist commented on #33002
Hi @mxxmusic, thank you for reaching out. I wanted you to know that we're closing this issue as @yshahin has addressed the concern with his explanation above.

Thank you, #please-close

[2019-07-11 13:18] #33002 closed

[2019-07-11 13:26] yvesgermain commented on #34863
I tried the following script :

$databaseName = "Scrap"
$serverName = "SQLserverless"

New-AzSqlDatabase `
-DatabaseName $databaseName `
-ResourceGroupName ATeam-DEV `​
-ServerName $serverName `​
-ComputeModel Serverless `​
-Edition GeneralPurpose `​
-ComputeGeneration Gen5 `​
-MinVcore 0.5 `​
-MaxVcore 2 `​
-AutoPauseDelayInMinutes 720

And I get this error message:
New-AzSqlDatabase : The Resour

[2019-07-11 13:47] SpicySyntax commented on #34876
@IEvangelist This is exactly what I was looking for! If you updated the CV docs with something like this, or even just linked to this that may help others like me down the line. Thank you both for your quick response!

[2019-07-11 13:53] gsimardnet opened #34932 "Error in request uri (401 or 404)"
In Azure Function App Runtime version: 2.0.12562.0 (~2),

The example for cross-function app communication doesn't work. The following url returns 404 (Not Found):
  ...azurewebsites.net/orchestrations/{orchestratorName}

The right url is:
  ...azurewebsites.net/api/orchestrators/{orchestratorName}

Please review this example to provide a working solution.

Also, it should be worth mentionning tha

[2019-07-11 13:54] karthiksubramanians commented on #34717
@KranthiPakala-MSFT Just to clarify, you are saying the Copy Data operation from SQL Database to Cosmos DB or from Cosmos DB does not expose the RU utilized as part of the data factory response / output?

And that probably the only way would be to use Custom Activity to obtain the RU information?

[2019-07-11 13:55] bedro96 opened #34933 "Unable to input Korean in web client session."
Identical session works fine when connected via Remote Desktop client.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47fa31e-8e71-8bd4-eb12-7a0ceba6c1b8
* Version Independent ID: 209284ba-cf2b-59fd-0235-420bd99eb5ef
* Content: [Connect to Windows Virtual Desktop Preview from a web browser  - Azure](https://docs.micro

[2019-07-11 13:59] lukepuplett opened #34934 "Rewording for clarity"
Multi-region accounts with a single-write region (write region outage)

I think the section discussing the expected behaviour under the section named above needs rewording. I cannot suggest how since I can't understand what it is telling me to give you any advice.

Perhaps give labels to the regions that are read, write, OK and bad, like Region A and B or something to help the reader keep a mental

[2019-07-11 14:00] tfitzmac commented on #34833
@Klaas- thanks for your feedback. I have submitted a change to remove the character limit for VMs and VM scale sets. Expanding the tag limit over 15 is a recent update, and right now I am seeing inconsistent behavior for different resource types. I am trying to verify the status of this change, and will update the docs with that info.

[2019-07-11 14:02] CharmanderJieniJieni opened #34935 "Adding pre-populated data disks questions"
1. From readme here https://github.com/Azure/vm-scale-sets/tree/master/preview/disk, looks like this feature is no longer in preview since 2017, is that true? If so please kindly update the document

2. What permission is required to attach to additional disk? From the API document does it mean as long as we have the resource ID of the managed disk we can attach it to any VMSS?

3. I tried using a

[2019-07-11 14:02] anhowe opened #34936 "Add SLA note for VM Status events"
To set correct expectations, the documentation should state an SLA note that the VM Status updates are potentially out of order, lossy, and may be delayed. Please add a warning note to not use VM Status for visual UIs because they will not reflect the true state of the VM because the events are potentially delayed, lossy, and/or out of order.

---
#### Document Details

⚠ *Do not edit this section

[2019-07-11 14:20] agronholm commented on #28770
I just ran into this same problem and I've never seen it before anywhere else. Since AKS can be used without registering this provider, it would be prudent to include this required step in the documentation, as without the above solution I would have been absolutely clueless as to what's going wrong.

[2019-07-11 14:20] tjcrone opened #34937 "Pulling images from ACR very slow inside East US"
My kubernetes nodes use a pre-puller to pull an image for user pods and this pre-puller runs every time the VMSS node pool autoscales up with a new node. It takes new nodes approximately 15 minutes to pull a 2 GB image from within East US. The cluster, all instances, and the registry are all in East US. 15 minutes seems excessively long for an image pull inside the datacenter. Is this normal? How

[2019-07-11 14:28] SpicySyntax commented on #34876
@IEvangelist  Sorry for the quick reopen, I realized I needed to clarify a few things that are text-recognition specific. what do I use instead of the keys 'speechToText' or 'textToSpeech' (I imagine something like: 'recognizeText'). Also, what is the helm chart I should target when doing the helm install. I looked at the [Helm Hub](https://hub.helm.sh/charts/microsoft/) but couldn't find a chart

[2019-07-11 14:36] dg2k opened #34938 "How to go about non-supported languages for Text Translation"
I spent hours up and down trying to find out info and hopefully an answer and no luck.
I hope what I am asking here is not off-topic and hope to get some pointers.

I understand as much as **Custom Translator** supporting more than three dozen languages as per the doc [here](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/overview). I also know the **Custom T

[2019-07-11 14:40] IEvangelist commented on #34876
Yes, I'm realizing that it would be helpful. Not all services are on the Helm hub and in fact, I'm not certain that they ever will be. I can tell you that if you're looking for the *recognize text* image it will be [listed on the container repositories and images table](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-container-support#container-repositories-and-images)

[2019-07-11 14:43] dangerousness opened #34939 "Is there a az cli command to dump out permissions to azure resources for all uses?"
Is there a linux az cli command to dump out permissions to azure resources for all uses? I'm looking to get a dump of everything everyone individually has access to then tighten up security where needed.

[2019-07-11 14:46] cephalin commented on #33727
@tudort-iquest Thanks. This doc has been updated. #please-close

[2019-07-11 14:46] #33727 closed

[2019-07-11 14:49] cephalin commented on #32934
@davidbaxterbrowne @Mike-Ubezzi-MSFT @CarlRabeler All feedback from this thread has been implemented. The doc now uses an Azure AD user as admin, which also now allows for VS connectivity from local client.

[2019-07-11 14:49] cephalin commented on #32934
#please-close

[2019-07-11 14:49] #32934 closed

[2019-07-11 14:51] cephalin commented on #22940
@tomgallard @sergey-netdev this doc has been updated to use an Azure AD user as the admin, which, along with the new AppAuthentication version, allows for direct connectivity from VS, including EF migrations. #please-close

[2019-07-11 14:51] #22940 closed

[2019-07-11 14:52] shashishailaj commented on #19142
@MicrosoftGuyJFlo Could you please check who can look into this from engineering . We have not been able to get a reponse from @andretms ?

[2019-07-11 14:58] alvipeo commented on #34926
ok, I actually figured this out. There's a new blade in the portal for certificates so you just need to go there and upload pfx (in my case it was a wildcard certificate).

[2019-07-11 15:00] cherylmc commented on #34894
@krishnaG-MSFT please let me know what the request here is. I don't understand.

[2019-07-11 15:00] msrini-MSFT commented on #34926
@alvipeo , Awesome. Thank you for sharing it here. I will now proceed with the closure of this issue.

[2019-07-11 15:00] #34926 closed

[2019-07-11 15:02] KetanChawda-MSFT commented on #34932
@gsimardnet Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-11 15:10] donschia commented on #34803
Vikrant,
I was able to resolve this by changing the **Compatibility Level** to 1.2 (preview).  It is on the side menu under _Configure_.  Then I had to recreate my Stream Input and this time it had a Partition Key field that I left blank.
Cheers!
Don

[2019-07-11 15:11] n-a-sz opened #34940 "Updating an ML Service deployment"
The following code snippet is not working with 1.0.48 (https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where#update)
`service.update(models = [new_model])`

It gives the following error:
`Error, both "models" and "inference_config" inputs must be provided in order to update any of the parameters in inference_config.'
`
Also, the `update()` method does not take the

[2019-07-11 15:16] psallis commented on #32922
hi @BryanTrach-MSFT i'm still hitting an issue. I have two App Plans and one vnet.  One plan is connected on sub-net-1 and i'm trying to connect a second app to sub-net-2. However, I get this error

[2019-07-11 15:26] rothja commented on #34452
@miglover Thank you for opening this feedback item! You are right that this would suggest it could be increased, when in certain circumstances this is not the case. Considering the number of services, it would be difficult to audit all of the limits for which ones are hard versus configurable. I agree this is a good idea, and we can consider this as an improvement to the article in the future. At

[2019-07-11 15:26] #34452 closed

[2019-07-11 15:31] chadbirch opened #34941 "Incorrect Technical Profile referenced in **Add new technical profiles** section."
The note block in the **Add new technical profiles** section currently reads:

`Change the instrumentation key in the ApplicationInsights-Common technical profile to the GUID that your Application Insights resource provides.`

This is referencing the wrong Technical Profile. I believe you meant to reference the `AzureInsights-Common` from the code block immediately above the incorrect text:

[code

[2019-07-11 15:31] erhopf commented on #23770
#please-close

@vitaly-zdanevich We've updated the specification. Range is now supported among other features and attributes. Please let us know if you have any other questions!

[2019-07-11 15:31] #23770 closed

[2019-07-11 15:38] raydevereaux commented on #22274
how can i manually trigger a build/deployment from azure console?  i have a similar problem to above, commits are not triggering builds.

[2019-07-11 15:44] KrishnaG-MSFT commented on #34894
@cherylmc The comment provided by @KeiroKamioka0000 is "I think there are Japanese customers who refer to this article, so please consider making a Japanese version."

Hope this helps!!

[2019-07-11 15:47] nenad1002 commented on #34873
Hey,

thank you for your response!

Unfortunately, I can't do either of those because I am not the tenant's admin. The "Grant admin consent for Microsoft" button is disabled, and I already tried to execute the URL above with admin consent, but since my user is not the admin, the login is rejected.

[2019-07-11 15:56] vanderby opened #34944 "Endpoint for Germany DocumentDB not listed"
*.documents.microsoftazure.de appears to be the endpoint for Germany's DocDB but its not listed in our documentation. I think it would belong on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19ae2391-d758-ee45-6354-1cdb936a7754
* Version Independent ID: 977ac0c8-cd3b-01b9-86be-1dab53213167
* Content: [Azure

[2019-07-11 15:57] MicahMcKittrick-MSFT commented on #34935
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-11 15:57] MicahMcKittrick-MSFT commented on #34933
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-11 15:58] MicahMcKittrick-MSFT commented on #34927
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-11 16:00] MicahMcKittrick-MSFT commented on #34937
@tjcrone can you please provide us with the link to the documentation you are following so we can better assist? If this issue is not related to any specific documentatoin, please open an issue in one of our forums so we can assist further

https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureContainerServices

https://stackoverflow.com/

[2019-07-11 16:10] hope4555 commented on #34764
Thank you
Other note worth telling is that the Sync process creates triggers on the source DB
This operation is intrusive , meaning adding triggers to a DB can break queries against this DB that used to work before adding the triggers

This is exactly the situation that happened to us.
We configured the Sync from DB 'A' to DB 'B' and then queries to DB 'A' started failing
because of the added trig

[2019-07-11 16:11] tjcrone commented on #34937
Thanks @MicahMcKittrick-MSFT. I will open this issue in another forum.

[2019-07-11 16:11] #34937 closed

[2019-07-11 16:15] msrini-MSFT commented on #34923
@samuelj49 , Accelerated Networking doesn't support Windows 10. Have conveyed this feedback to Product Group. No ETA at this moment that can be shared.

[2019-07-11 16:15] #34923 closed

[2019-07-11 16:16] fhe-fr commented on #34247
Hello,
My idea was to do a Get HTTP and send an image for classification to the classifier instead of using a second container for calling the classifier.

[2019-07-11 16:17] cherylmc commented on #34894
It will eventually be localized. No worries. This is a new article.

[2019-07-11 16:17] cherylmc commented on #34894
#please-close

[2019-07-11 16:17] #34894 closed

[2019-07-11 16:27] vanderby opened #34947 "Endpoint URLs Not Listed"
What are the endpoint URLs for Key Vault and AAD for the German cloud? I suspect something like *.vault.microsoftazure.de

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0caa8f2-adc7-f230-9627-caf6378e8f0d
* Version Independent ID: 389878bc-e64d-79cf-91fa-f958091a7cac
* Content: [Azure Germany security and identity ser

[2019-07-11 16:30] oreporan commented on #23919
Still can not get this to work
Any updates?

[2019-07-11 16:35] kraigb commented on #34834
@duichwer Yes, try the setup script, because then the output logs might tell us something.

[2019-07-11 16:38] chrismrutledge opened #34948 "Need update to resolve error."
The Powershell for creating a Key Encryption Key needs to be updated.

This line:
New-AzKeyVault -VaultName $KeyVaultName -ResourceGroupName $KVRGname -Location $Loc;

Needs to be replaced with this line:
New-AzKeyVault -Name $KeyVaultName -ResourceGroupName $KVRGname -Location $Loc -EnabledForDiskEncryption -Sku Premium

You can drop Step 2 altogether since the Key Vault can be enabled for disk e

[2019-07-11 16:39] KranthiPakala-MSFT commented on #34931
@suketunayak Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-07-11 16:39] DixitArora-MSFT commented on #34667
@vladvino Any inputs in this ?

[2019-07-11 16:44] AshokPeddakotla-MSFT commented on #34902
@Ardutec I followed the documentation and able to complete it successfully without any issues. Please see below screenshot for reference.
![image](https://user-images.githubusercontent.com/44426435/61068893-c1e26e80-a428-11e9-98a4-6a978664246b.png)

Make sure you Configure the query of the Stream Analytics job with correct input and output alias.

[2019-07-11 16:47] YutongTie-MSFT commented on #34940
@n-a-sz Thank you for your feedback, I have assigned your feedback to author for proper update. ^^

@jpe316 Hi Jordan, could you please take a look? Thank you.

[2019-07-11 16:49] samuelj49 commented on #34923
Shame. We'd really like Windows 10 to be supported.

[2019-07-11 16:51] spelluru commented on #33062
@banisadr - The tabbing at the top level isn't supported, but I have seen tabs being used inside an article to switch between different programming language or tools options. I will try to make the CLI as the first tab and PowerShell as the second tab. Thanks.

[2019-07-11 16:52] laurenhughes commented on #34380
Both links work now, thanks for raising the issue!

#please-close

[2019-07-11 16:52] #34380 closed

[2019-07-11 16:54] banisadr commented on #33062
Thanks @spelluru! That's all I was really thinking as well :)

[2019-07-11 16:57] jsandersrocks opened #34950 "Graphical walkthrough"
it would be great to show a walk through using the UI for this #enable-local-git-with-kudu!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e94f3fb-7da7-3ddf-bf38-32e4fea00699
* Version Independent ID: 59222ad8-9930-b889-f0a9-c9bc3c642e38
* Content: [Deploy from local Git repo - Azure App Service](https://docs.microsof

[2019-07-11 16:57] tfitzmac commented on #34829
@hansmbakker - thanks for this question. You can use that function in a template with syntax like:
"outputs": {
  "directLineSecret": {
    "value": "[listChannelWithKeys('/subscriptions/{sub-id}/resourceGroups/{rg}/providers/Microsoft.BotService/botServices/{bot}/channels/DirectLineChannel', '2018-07-12').properties.properties.sites[0].key]",
    "type": "string"
  }
}

Given that it is a list fu

[2019-07-11 17:08] KrishnaG-MSFT commented on #34894
@KeiroKamioka0000 それは最終的にローカライズされます。心配ない。これは新しい記事です。

[2019-07-11 17:10] spelluru commented on #33062
@banisadr - working on it now:).

[2019-07-11 17:13] mmacagno commented on #34879
Thanks - following up with @hansenms and will post here findings later

[2019-07-11 17:17] hansmbakker commented on #34829
Great, I'll try it tomorrow! Thank you for your support!

[2019-07-11 17:17] kevinding0218 commented on #23792
@corneliussens Hi, what does the new parameter `category` stand for?
For example, my partition key is based on multiply property and I set it as `'/uid/roleid/departmentid'` when migrate my data to cosmos db, I tried with the new solution and want to get one single document for my `User` item based on my `uid` - (9753), `roleid` - (2), `departmentid` - (3) value,
[code]
and got **EXCEPTION**
[code

[2019-07-11 17:20] redamaleki opened #34951 "Password Hash Sync for Pass-through Authentication"
Several times on this page, it is indicated that Password Hash Sync can be setup to allow for fail-over for Pass-through Authentication.  On the Pass-through Authentication FAQ, it says that it is not the case.
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-faq#does-password-hash-synchronization-act-as-a-fallback-to-pass-through-authentication

Additionally, I ca

[2019-07-11 17:30] stephenacrown commented on #34612
Hi @MarileeTurscak-MSFT

The SSPR registration policy applied to admins is global, tenant level, and with no way of excluding any admin users - for example in this case Emergency Break Glass Accounts. This causes an issue at the testing (or real use) of these accounts, as SSPR registration is needed and will be tied to an individual MFA Auth. App, and Phone/email (which is against the recommendati

[2019-07-11 17:31] martincoetzer commented on #34951
We have a document that explains how to do this with federation. It is essentially the same if you use PTA. https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tutorial-phs-backup

[2019-07-11 17:32] SaurabhSharma-MSFT commented on #34925
@PadmaPeddigari Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-11 17:32] martincoetzer commented on #34951
#please-close

[2019-07-11 17:32] #34951 closed

[2019-07-11 17:35] SaurabhSharma-MSFT commented on #34948
@chrismrutledge Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-11 17:36] roygara commented on #34911
@juyama thanks for reaching out, we appreciate your situation. In this case, GitHub issues are strictly for documentation support, not product support. Answers to questions with very specific settings such as this depend heavily on your environment and use cases. If you are an enterprise customer, I suggest engaging your support team. Otherwise, if you do not have access to product support, please

[2019-07-11 17:36] #34911 closed

[2019-07-11 17:37] SaurabhSharma-MSFT commented on #34941
@chadbirch Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-11 17:38] cagrijal opened #34952 "Instructions not clear"
I have noticed that whenever people try to create a vault using these instructions they may get stuck because the subscription do not show up in the dropdown list, and this happens because they haven't created a resource group before hand. I believe that clarification about this step is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-07-11 17:38] SaurabhSharma-MSFT commented on #34929
@valentijnscholten Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-11 17:39] sarahlume commented on #34680
I Looked into your code and audio. The audio is more than 2 minutes, so you need to increase the http client timeout limit or else it will timeout on the client side.

BTW, the signature generation service is language related and our default language is en-us, so you need to specify the language=zh-cn in the url parameter

[2019-07-11 17:39] harrynode opened #34953 "No switches for running this in background job mode"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-11 17:40] dlepow commented on #34709
Update published.
#please-close

[2019-07-11 17:40] #34709 closed

[2019-07-11 17:40] harrynode commented on #34953
Unable to run Azcopy in background mode. I have also tried PowerShell Start-Process cmdlet. Azcopy is not leaving the shell.

[2019-07-11 17:42] mliudev opened #34954 "Public key does not exist in jwk_uris for the AD B2C user flow"
I've created a user signup for an AD B2C tenant and followed the examples above to create an authorization code which I then used to generate an access token. However, when I try to get the public key to verify the access token I can't find it.

Although I can match the key_id of the JWT from the 'jwks_uri' of the B2C tenant's user flow metadata the response I receive does not contain the public k

[2019-07-11 17:44] grizzljt opened #34955 "Available enrichments"
What are the available variables?  A couple limited examples were provided, $iothubname, $twin.tags.field, etc. but no help or direction is given as to what other fields are available or how to go about discovering those fields.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09122ce7-4c60-89f8-205f-a9f0a4796fe7
* Versi

[2019-07-11 17:45] mmacagno commented on #34879
After quick investigation with @hansenms (thanks!) it is user error and not a doc bug.

For posterity:
Our Azure API for FHIR instance has no longer the default audience, that was probably changed at some point. Both AppId and the correct audience (as found in the app registration manifest "identifierUris" element) work as expected.

[2019-07-11 17:47] jdfalk opened #34956 "Documentation Issue"
The documentation references `corednsms.json` but the file is yaml. Seen again here:
&gt;Create the ConfigMap using the kubectl apply configmap command and specify the name of your YAML manifest:
&gt;kubectl apply -f corednsms.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f95537e-770a-739c-0175-4447a995f8b2
* Ve

[2019-07-11 17:49] SkyaTura commented on #12032
I could use this information too. I'd like to exclude all files from backup except the ones i really need.
Example:

Backup only the "uploads" directory.

[2019-07-11 17:50] redamaleki commented on #34951
So is the FAQ incorrect for PTA incorrect?

[2019-07-11 17:51] ravi9 opened #34957 "Update apiVersion"
The apiVersion need to be updated. There should be instructions on how to get the latest "apiVersion".
One can get it from: https://resources.azure.com/ or use the cli: ` az provider list -o json `

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5a8957-9b4c-2a2e-81c2-79125373f8f1
* Version Independent ID: d1c2d4cf-88c

[2019-07-11 17:55] MicahMcKittrick-MSFT commented on #34956
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-11 17:56] MicahMcKittrick-MSFT commented on #34957
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-11 17:56] ravi9 commented on #21634
Using `"type": "extensions"` worked for me. If I use ` "type": "Microsoft.Compute/virtualMachines/extensions" `, I get the following error.
[code]

[2019-07-11 17:58] stevestein commented on #34794
@kfarlee - Can you take a look at this one? Thanks!

[2019-07-11 18:00] SpicySyntax commented on #34876
@IEvangelist following these instructions I was able to deploy to my AKS cluster. Should I keep this open until the docs are updates?

[2019-07-11 18:02] anirudhcavale commented on #34615
@femsulu or @yeswps can you submit a PR with this update

[2019-07-11 18:03] ravi9 opened #34958 "Fix "type" discrepancy."
There are 2 different values listed for `"type"`. In the extension-schema section the value is `"type": "Microsoft.Compute/virtualMachines/extensions"`. In the template-deployment section it is `"type": "extensions"`.

Using`"type": "extensions"` worked for me. If I use "type": "Microsoft.Compute/virtualMachines/extensions", I get the following error.
[code]

---
#### Document Details

⚠ *Do not e

[2019-07-11 18:08] ninweninwe commented on #34857
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts
this doc says that lifecycle management is available in all global Azure regions. Does it include national clouds such as China, Government, German?

[2019-07-11 18:09] martincoetzer commented on #34951
The FAQ is correct. The key point is "automatic". If you enable PTA and PHS it will not automatically fail-over to use PHS if PTA fails, but an admin can manually switch to PHS if PTA fails. If you previously enabled in PHS, the change will be near instant.

[2019-07-11 18:10] MicahMcKittrick-MSFT commented on #34681
@axelgMS what exactly would you want to install the guest agent in a nested VM for? I don't believe this would be supported but I don't see a use case for this. Can you elaborate?

[2019-07-11 18:10] IEvangelist commented on #34876
No, you can close it. But I'd welcome a pull request if you have time to update the doc with your Computer Vision examples? Or you could even email what you put together?

[2019-07-11 18:12] cynthn commented on #34681
@MicahMcKittrick-MSFT I added something to the docs yesterday. I think the main reason this happens is that folks use Azure Marketplace images for the nested VMs, but those images contain the agent. I suspect that is how this happens most of the time. It isn't supported and that is what the note says.

[2019-07-11 18:13] MicahMcKittrick-MSFT commented on #34927
@fbcarvalho I don't believe you need to do this if you are running Windows 10

https://docs.microsoft.com/en-us/azure/virtual-desktop/overview#requirements

@Heidilohr @ChristianMontoya can either of you comment further?

[2019-07-11 18:14] MicahMcKittrick-MSFT commented on #34681
@cynthn ahhh okay that makes sense. Thanks for adding that note. Much appreciated :)

@axelgMS we will close this out as we have added a note.

[2019-07-11 18:14] #34681 closed

[2019-07-11 18:15] MicahMcKittrick-MSFT commented on #34933
@bedro96 I am not 100% sure I understand the issue. Can you elaborate? Possibly share some screenshots if possible as well.

[2019-07-11 18:15] FrankHu-MSFT commented on #34954
@mliudev Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-11 18:16] redamaleki commented on #34951
Thanks for the clarification.  The documentation I have found thus far is that I would have to switch to PHS from PTA using AADC.  Do you have a link to enabling that without AADC, since that would most likely be offline if Azure couldn't communicate with the PTA connectors?  Or is that a service ticket to Azure support?

[2019-07-11 18:17] fbcarvalho commented on #34927
After I had created the host pool using a Windows 10 multi session from
Azure Marketplace it is asking for RDS licensing .

Em qui, 11 de jul de 2019 15:13, Micah <notifications@github.com> escreveu:

[2019-07-11 18:22] ColbyTresness commented on #22274
I believe this issue should be closed, since I updated the article with the newer deployment center UX.

I believe the two followup questions should be tracked elsewhere, not this docs issue, since they're product questions. Please reopen any questions in https://github.com/Azure/Azure-Functions

[2019-07-11 18:30] martincoetzer commented on #34951
That will be a service ticket request.

[2019-07-11 18:36] tchristiani commented on #30899
Fix has been released to production. #please-close

[2019-07-11 18:36] #30899 closed

[2019-07-11 18:37] SumanthMarigowda-MSFT commented on #34459
@CharmanderJieniJieni You are testing Azure Monitor logs for Storage, not classic logs, correct?
You are not testing streaming behavior of activity/diagnostic logs for other services (Compute, SQL), correct?

[2019-07-11 18:38] scorpiienator opened #34959 "Network In/Out Total for virtual machines"
For Microsoft.Compute/virtualMachines, shouldn't the "Network In Total" and "Network Out Total" have some kind of time period?
 It is expressed in Bytes, but is it Bytes/sec, Bytes/hour, Bytes since VM start?

When I graph the metric, is seems to vary up and down , and not continually grow like I would expect for total bytes over all time.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-07-11 18:39] Karishma-Tiwari-MSFT commented on #28770
@agronholm Thank you for the feedback. I will share this feedback with the content author.

[2019-07-11 18:41] spelluru commented on #34012
#in-progress

[2019-07-11 18:42] CharmanderJieniJieni commented on #34459
No, I am testing the streaming behaviour of activity/diagnostic

[2019-07-11 18:43] anirudhcavale commented on #34959
@scorpiienator it is the total bytes that flowed in or out of the VM in a given minute.

[2019-07-11 18:44] redamaleki opened #34962 "Password Hash Sync Fallback"
Can you add clarification that while fallback is not automatic it can still be used?  For example, if the client had configured Pass-through Authentication with the option of Password Hash Synchronization enabled, you can submit a service request to switch to PHS if your domain, and therefore AADC, goes down?

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-faq#do

[2019-07-11 18:53] SaurabhSharma-MSFT commented on #34139
@peter-tridius I have received this update that Event Hubs encryption of data at rest uses 256 bit AES encryption, which is also FIPS 140-2 compliant.

[2019-07-11 18:55] SpicySyntax commented on #34876
It is easier for me to email you. I just sent it off, let me know if you get it and it all looks good and I will close this.
Thanks

[2019-07-11 18:57] kfarlee commented on #34794
I'm working on that one, but it will land as part of a larger Hyperscale change set.  I'm trying to come up with a more concrete answer to the "How many IOPS" questions.  It's not trivial in Hyperscale.

[2019-07-11 18:58] MicahMcKittrick-MSFT commented on #34956
@jdfalk thanks for pointing this out! I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-07-11 18:58] #34956 closed

[2019-07-11 19:02] MicahMcKittrick-MSFT commented on #34958
@ravi9 thanks for this find! I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-07-11 19:02] #34958 closed

[2019-07-11 19:05] amentee opened #34963 "Unsupported Flavour of redhat while registering ASR agent"
I was installing the ASR agent on my RHEL 6.10 machine . The install worked fine but as I tried running below command to register to the Azure it showed error "Unsupported Flavour of redhat.

I tried debugging the issue and found the below hole in the code.

When we extract the tar file of ASR , there is a script name OS_details.sh , in that script we have the below code -

elif grep -q 'Red Hat E

[2019-07-11 19:06] banisadr commented on #34601
Hi @ChiefWiggum, I've updated the doc to clarify the status codes some. Please take a look and let me know if it doesn't address what you're looking for.

[2019-07-11 19:08] banisadr commented on #34601
#please-close

[2019-07-11 19:08] #34601 closed

[2019-07-11 19:19] MicahMcKittrick-MSFT commented on #33730
@theheatDK I have been doing some offline research on this

I don’t know if it is possible to use the AG IP to do the egress, but if you create a LoadBalancer service on AKS, Azure will automatically create an External Load Balancer with an IP address.

As described on the docs pages: “If you do not have any other IPs configured, then all egress traffic should now use this address. When multiple a

[2019-07-11 19:20] kavitajoshi commented on #31924
hello @t-pash
Thanks for your help resolving this. I'm able to resolve IE issue as well. For anyone else facing the same issue, reference Map polyfill. I'm referencing https://unpkg.com/core-js-bundle@3.0.1/minified.js instead of https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js which is mentioned on https://github.com/Azure-Samples/active-directory-javascript-graphapi-v2/blob/

[2019-07-11 19:26] BPtLNfxZWo commented on #32583
Thanks for the update, looking forward for your answer. May you could further improve security of this critical component.

[2019-07-11 19:32] IEvangelist commented on #34876
Thanks for the emailed... that is perfect, thanks again kind sir and good day. I close this now. #please-close

[2019-07-11 19:32] #34876 closed

[2019-07-11 19:58] StephenMolloy commented on #14663
Hello @bjthomson. I am the engineer who works on the config builders in the runtime. I apologize that this issue has taken so long to come across my desk, but hopefully I can help.

WRT the squiggly lines, as you noted this is the result of an xsd being out of sync with what you can actually do in a target framework. For Visual Studio 2017, I believe the schemas should now be updated to work with

[2019-07-11 19:58] davidmu1 commented on #28155
Please reassign or close.

#please-close

[2019-07-11 20:00] davidmu1 commented on #31100
Please reassign or close.

#please-close

[2019-07-11 20:05] wstinkens opened #34965 "TimeGenerated field not overwritten by custom timestamp"
As stated in the PowerShell example, I'm trying to overwrite the TimeGenerated field with a custom timestamp using the $TimeStampField variable. I populated the $TimeStampField with a datetime object in UTC but the TimeGenerated field is still the message ingestion time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1

[2019-07-11 20:08] mmacy commented on #28155
#reassign:mmacy

[2019-07-11 20:08] mmacy commented on #31100
#reassign:mmacy

[2019-07-11 20:12] mmacy commented on #31100
@MarileeTurscak-MSFT or @FrankHu-MSFT, can one of you reopen this one for us, please? This still needs to be addressed. Thanks! -MM

[2019-07-11 20:13] mmacy commented on #28155
@MarileeTurscak-MSFT or @FrankHu-MSFT, can one of you reopen this one for us, please? This still needs to be addressed. Thanks! -MM

[2019-07-11 20:18] FrankHu-MSFT commented on #34263
Oh I understand now! The screenshot clarifies what the problem is. I'll forward this to the correct people accordingly. Thanks for the screenshot!

[2019-07-11 20:30] asudbring commented on #34867
Hi taromielnaz!
You would use a DNS CNAME to alias the Traffic Manager URL to the production URL you want users to visit.  Reference below:
https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-point-internet-domain
Thanks!
allen

[2019-07-11 20:38] sostel opened #34966 "File paths are hardcoded into SpatialAnchorsUnityBuildProcessing.cs"
Instead of syncing to ASA via git, I downloaded the latest release package and added it to my Unity project. Given that I'll add a bunch of different packages, I wanted to put all ASA related stuff into one subfolder to keep track of the different package contents. Unfortunately, I ran into issues, as I didn't know that SpatialAnchorsUnityBuildProcessing.cs script has some hard-coded file paths in

[2019-07-11 20:39] KranthiPakala-MSFT commented on #34770
@Oreo-Dev This document is specific to how Azure Analysis Service works with the gateway. If you are looking for how Power BI works with gateway, please refer to below Power BI doc.

- [What are Power BI Gateways?]( https://docs.microsoft.com/power-bi/service-gateway-getting-started)

[2019-07-11 20:43] arnoldna opened #34967 "New-AzSnapShot fails with Changing property 'sourceResourceId' is not allowed for existing disk"
When utilizing the sample script the following error occurswhen running the New-AzSnapShot:

PS C:\WINDOWS\system32> New-AzSnapshot -Snapshot $snapshotConfig -SnapshotName $snapshotName -ResourceGroupName $targetResourceGroupName
New-AzSnapshot : Changing property 'sourceResourceId' is not allowed for existing disk 'VM1_Snapshot_OS'.
ErrorCode: BadRequest
ErrorMessage: Changing property 'sourceRes

[2019-07-11 20:44] taromielnaz commented on #34867
Hi Allen,
Is this document talking about our domain DNS setting panel? Any extra steps on the Azure portal should be taken?
Thanks

[2019-07-11 20:49] asudbring commented on #34867
Yep, correct.  Were ever you host the DNS zone at that has your production domain, you would create a CNAME record that points at the Traffic Manager DNS entry that is assigned to your TM profile in the console.  You won't need to do anything in Azure Portal.

[2019-07-11 20:50] craigktreasure commented on #34966
Thanks and good point. We'll consider this in our next round of doc updates.

[2019-07-11 20:50] stevestein commented on #34486
@natelaff - Thanks for opening this issue. No guarantees or ETA but I added a work item (1570139) into our backlog for your request.

I am closing this issue. You're welcome to @ mention me for any followup.
Thanks!

[2019-07-11 20:50] stevestein commented on #34486
#please-close

[2019-07-11 20:50] #34486 closed

[2019-07-11 21:01] Grace-MacJones-MSFT commented on #34950
Hi @jsandersrocks, thanks for the feedback! I have assigned the issue to the content author to evaluate and update the doc as appropriate.

[2019-07-11 21:07] kgremban commented on #34247
Yes, you can do that. The second container just makes it easier to make changes and update your code remotely.

[2019-07-11 21:08] lingtham commented on #34509
I made a question here: https://social.msdn.microsoft.com/Forums/en-US/3cec387f-b345-412c-877b-aa33fe6508d2/pods-stuck-in-terminating-status-after-deallocating-node-prevents-disks-from-attaching-to-new-pods?forum=AzureContainerServices

I used dynamic disks and the disks could not attach to the new VM because it was still attached to the old VM since the pods were stuck in a terminating state.

Fo

[2019-07-11 21:11] msmbaldwin commented on #33097
#please-close

[2019-07-11 21:11] #33097 closed

[2019-07-11 21:13] msmbaldwin commented on #26316
#please-close

[2019-07-11 21:13] #26316 closed

[2019-07-11 21:13] femsulu commented on #34936
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-11 21:14] femsulu commented on #34944
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-11 21:16] Grace-MacJones-MSFT commented on #34007
thanks for sharing that link @xpouyat. @Coremination please take a look at link provided above for AMS v2 and you can find AMSE for v3 [here](https://github.com/Azure/Azure-Media-Services-Explorer/releases/tag/5.0.5.0).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reo

[2019-07-11 21:16] #34007 closed

[2019-07-11 21:17] femsulu commented on #34947
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-11 21:18] femsulu commented on #34952
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-11 21:18] rodrigour opened #34969 "can't enable azureml.contrib.explain.model.visualize"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-11 21:24] rodrigour opened #34970 "can't enable azureml.contrib.explain.model.visualize"
trying to enable azureml.contrib.explain.model.visualize in Azure Notebooks VMs trough the Machine Learning Workspace service. I created a notebook with Kernel Python 3.6 - Azure ML, and when I execute:

#### Note you will need to have extensions enabled prior to jupyter kernel starting
!jupyter nbextension install --py --sys-prefix azureml.contrib.explain.model.visualize
!jupyter nbextension enab

[2019-07-11 21:26] DonFrazier opened #34971 "IMDS does not work for App Services."
IMDS does not work for App Service managed identity.  See https://stackoverflow.com/questions/56992713/.  Guidance is to use the deprecated MSI VM Extension or the nuget which devolves to calling the extension.  Can we get some updated guidance on the true deprecation date and how App Services should be getting tokens for calling, for example, another Azure App Service.  This feature is super cool

[2019-07-11 21:26] Grace-MacJones-MSFT commented on #33461
Hi @jpda, upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary.

[2019-07-11 21:27] femsulu commented on #34959
thanks for the clarification @anirudhcavale
@scorpiienator  closing this thread for now but let us know if you have any followup questions.

[2019-07-11 21:27] #34959 closed

[2019-07-11 21:28] cephalin commented on #33461
@mattchenderson @cgillum Can you confirm the behavior?

[2019-07-11 21:29] femsulu commented on #34965
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-11 21:37] MicahMcKittrick-MSFT commented on #34967
@arnoldna Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @cynthn

[2019-07-11 21:44] ChristianMontoya commented on #34927
@fbcarvalho : There are no CALs that you need to add for Windows 10 or Windows 10 Enterprise multi-session. However, we are still optimizing the image where the license is either not needed or has a longer period for evaluation. You will need to redeploy VMs for the host pool. The 1903 version of the image currently has a longer period of evaluation than the 1809 version.

[2019-07-11 21:47] cweining commented on #27438
In order to see local variables in snapshots, you need to enable the Instrumentation Engine. That is enabled with the InstrumentationEngine_EXTENSION_VERSION variable. If you don't set that variable, you won't see local variable values in the snapshot.

[2019-07-11 21:48] MicahMcKittrick-MSFT commented on #34927
Thanks @ChristianMontoya ! Glad to hear I was right :)

@fbcarvalho we will close this out but let us know if you still have issues after redeploying using the image mentioned.

[2019-07-11 21:48] #34927 closed

[2019-07-11 21:50] Alberto-Vega-MSFT commented on #34955
@grizzljt Thanks for reaching out! The variables in the second example are based on the Device Twin structure which you define. So revisiting the [definition from the docs](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-message-enrichments-overview#applying-enrichments)

A message enrichment has three key elements:

1. - Enrichment name or key
3. - A **value**
5. - One or more endpoints fo

[2019-07-11 21:51] FrankHu-MSFT commented on #34769
Hey @soul4soul  I'm glad we were able to clear things up. We're currently working on adding that information, I'm closing out this issue as there don't seem to be anymore questions. Thanks for your feedback!

[2019-07-11 21:51] #34769 closed

[2019-07-11 21:52] taromielnaz commented on #34867
Thank you ,
It is my question for a couple of days I have been told to configure the custom domain in the Azure portal and it made me confused. So the document is clear now.

Thanks
Elnaz

[2019-07-11 21:52] Karishma-Tiwari-MSFT commented on #34957
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-11 22:07] KranthiPakala-MSFT commented on #34783
@michaelmdeng Could you please try adding a user Service Principal to an AAD Group using below.

`$spn = Get-AzureADServicePrincipal -SearchString "yourSpName"

$group = Get-AzureADGroup -SearchString "yourGroupName"

Add-AzureADGroupMember -ObjectId $($group.ObjectId) -RefObjectId $($spn.ObjectId)`

Here is a stack-overflow thread, which might be helpful for you.  _[Azure AD - Add app principal t

[2019-07-11 22:19] juquesa opened #34973 "How the language is detected by Azure AD upon login. Is it user attribute, computer locale, or some other method?"
Please update the article https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/customize-branding and include the following information:

1- Company Branding is required for Windows 10 Autopilot is not clear if some features will not work without it. https://docs.microsoft.com/en-us/windows/deployment/windows-autopilot/windows-autopilot-requirements#configuration-requirements Pleas

[2019-07-11 22:26] ninweninwe commented on #34857
i saw the above doc being updated as
The lifecycle management feature is available in all global Azure and Azure **Government** regions.

But it did not mention China and German.

[2019-07-11 22:32] FrankHu-MSFT commented on #34954
Hey @mliudev, what do you mean by, the "Response you receive does not contain the public key information"? If the KID's match then it should be correct. You can follow this guide on how to easily check if the JWT Token has been properly signed : https://blogs.aaddevsup.xyz/2019/03/using-jwt-io-to-verify-the-signature-of-a-jwt-token/

[2019-07-11 22:33] #34396 closed

[2019-07-11 22:34] KranthiPakala-MSFT commented on #34783
@michaelmdeng We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Thank you.

[2019-07-11 22:44] timothies commented on #34908
Thanks for your help.  The site is https://preprod-proms.aihw.gov.au/  but it's authenticating against our Azure AD so it will redirect you to a login, not sure if you'll be able to see the certificate.
The certificate does not have any intermediate chain certificates installed.
Also apologies for the slow reply - I'm in a different time zone, Australia.

[2019-07-11 22:44] FrankHu-MSFT commented on #34929
Hey @valentijnscholten can you please clarify by what you mean that the "Risk sign-ins menu option no longer seems available?" Could you please provide a screenshot of what you're describing?  Per the doc it says :
![image](https://user-images.githubusercontent.com/6366013/61090259-c68c3000-a3f2-11e9-90c0-dafd3ee151ff.png)

And there is also a picture describing where the risky sign in events are

[2019-07-11 22:46] andreasmarkmann opened #34974 "Context of permissions in ADLS"
What is the meaning of the return value
"permission": "770"
in the context of ADLS, as opposed to a local file system?
How are user, group, and others determined by the ADLS API for access via service principal, for example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bf3c036-8e79-c503-8916-1ade94165fd8
* Version I

[2019-07-11 22:49] MarileeTurscak-MSFT commented on #34779
Got it. This is a good point and maybe something worth adding as feedback to the product team as well.

@MicrosoftGuyJFlo  I made a PR to add the note, "This setting only takes effect after a successful login, so users will still have the option to attempt using legacy authentication" and will leave it up to you to approve/reject. https://github.com/MicrosoftDocs/azure-docs-pr/pull/82026

Do you t

[2019-07-11 22:55] cephalin commented on #27913
@jrmhaig Sorry for the delay. The quickstart is now updated to use 2.6. It should be published in the next day. #please-close

[2019-07-11 22:55] #27913 closed

[2019-07-11 22:56] jhankins71 opened #34975 "Access to invoice download"
I am dealing with two different pay as you go accounts, in both cases I have a user ID where my RBAC role at the subscription level is Billing Reader. In both cases Access to Invoices has been turned on. In both accounts I can go to Invoices and see a line per monthly invoice. In both accounts I can open the invoice and see a list of costs by service. However, in one account I have a Download opti

[2019-07-11 22:56] RWu-MS opened #34976 "Unclosed Bracket"
"(such as world cup schedules"—bracket not closing, a ")" is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bafdc370-47ff-4a63-2874-765163821490
* Version Independent ID: 37c4c6a7-e7d9-4a6a-3fc6-b7ae008b085e
* Content: [Prebuilt domain reference - Azure](https://docs.microsoft.com/en-us/azure/cognitive-service

[2019-07-11 22:59] #34783 closed

[2019-07-11 23:00] cbrit opened #34977 "A few questions"
1. I don't quite understand how the `BlobRequestOptions` can have `ParallelOperationThreadCount = 8` but the semaphore can allow `max_outstanding = 100` concurrent tasks to run? How do those interact?

2. The `(t)` in the lambda in the task.Add parens, I don't know what "t" is supposed to mean and it isn't used anywhere.
[code]

3. I think I understand `Interlocked.Increment` allows you to increme

[2019-07-11 23:01] vsjvs opened #34978 "Import all dependencies"
There are currently 49 dependencies in the Az module, all of which need to be manually installed one at a time before the top level Az module can be installed.

Is there a cloud shell script or way of installing a runbook module and all dependencies?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 284c2dfa-cfa0-11a3-c08

[2019-07-11 23:03] kaushalp opened #34979 "Update the documentation to include changes made to the ILB ASE certificates"
As per the new ASE create experience, any ASE created after May 2019, doesn't need a certificate to be uploaded. The documentation needs to be modified to address this change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f3a8caa-796a-18ab-480c-161e6c806782
* Version Independent ID: 9b8988f6-79d9-4558-5c0c-983ceb857a

[2019-07-11 23:04] dcbrown16 commented on #34667
I checked elsewhere and got this response regarding connectivity of other VMs;
1. Ensure outbound port 443/80 are open
2. Ensure the client VM has "visibility" into the DNS server that has APIM's host name registered so it can resolve it.
Please consider adding this info to the document.

[2019-07-11 23:07] kaushalp opened #34980 "Documentation needs to be update"
This particular section is confusing

   Publish with an ILB ASE
   For every app that's created, there are two endpoints. In an ILB ASE, you have &lt;app name&gt;.&lt;ILB ASE Domain&gt; and &lt;app
   name&gt;.scm.&lt;ILB ASE Domain&gt;.

Any ILB ASE created after MAY 2019 have a DNS suffix of appserviceenvironment.net. This page along with other documentation pointing to ILB ASE needs to be revi

[2019-07-11 23:07] mwc360 opened #34981 "Azure Table Storage Sink"
Azure Table Storage as a sink in a dataflow is grayed out. Is this not supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8f06db-58d4-75b9-f150-9a1b4767cf75
* Version Independent ID: 54c26e53-460a-2f6e-b4f2-86f1e8581435
* Content: [Copy Activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/dat

[2019-07-11 23:13] YutongTie-MSFT commented on #34976
@RWu-MS Thank you for your feedback, it has been fixed! You should see the change soon. ^^

[2019-07-11 23:21] ILoveRockStar opened #34982 "Does Planned Maintenance support non-VM resource?"
Does Planned Maintenance support non-VM resource?
Or is this only for the Planned Maintenance for the VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ece45be-921e-665a-ef7a-b21bc0675c8a
* Version Independent ID: cc393a6b-eb26-9439-d9d9-36e388539234
* Content: [Service Health overview](https://docs.microsoft.com/en

[2019-07-11 23:27] Alberto-Vega-MSFT commented on #34924
Hi @PietroCasotto it looks like you resolved your issue? Do you still need help?

[2019-07-11 23:31] fbcarvalho commented on #34927
Thank you.

I'll do that.

Em qui, 11 de jul de 2019 18:45, Christian Montoya <notifications@github.com>
escreveu:

[2019-07-11 23:46] JimacoMS3 commented on #10205
Hi @Ardutec, I'm not having any trouble running this. I'm using a dataset named  **ContosoSampleHubTelemetry** and a data table named **TelemetryData**.  Everything seems to work fine.

![Capture](https://user-images.githubusercontent.com/47835911/61091037-75ca0680-a3f5-11e9-87e1-fd7f4adaeaad.PNG)

I think we need to figure out what is different in our scenarios. Can you tell me:
1.  Are you using

[2019-07-11 23:50] femsulu commented on #34975
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-11 23:50] dcbrown16 commented on #32725
See https://github.com/MicrosoftDocs/azure-docs/issues/20619#issuecomment-465318734
As this is the second time this question has come up, I would highly recommend that the VirtualNetwork service tag info be updated to indicate that it includes this IP address.
The whole setup is very strange as apparently 168.63.129.16 is permitted in both of the default allow inbound rules, separately.

On a rela

[2019-07-11 23:54] dcbrown16 commented on #32725
While we're at it, the phrase "If you are not using the Azure load balancer, you can override this rule" in the AzureLoadBalancer description also seems misleading. If you were to block that one but permit VirtualNetwork, that is effectively the same as allowing AzureLoadBalancer. Again, looking for more transparency in those two service tag descriptions.

[2019-07-11 23:55] femsulu commented on #34978
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-11 23:56] femsulu commented on #34978
@bobbytreed - do we have such a script available?

[2019-07-11 23:59] Karishma-Tiwari-MSFT commented on #34559
@daspo Sorry for the delay on this. Are you still seeing this issue?

[2019-07-12 00:01] femsulu commented on #34982
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.
@stephbaron  - fyi

[2019-07-12 00:02] femsulu commented on #34023
@prabhakarreddy1234 I have escalated your request to the feature owner to review this and the other budget related issues. please stay tuned.

[2019-07-12 00:04] femsulu commented on #34023
@bandersmsft  - any insights on this please?

[2019-07-12 00:05] femsulu commented on #34024
@bandersmsft  - any update on this please?

[2019-07-12 00:05] femsulu commented on #34025
@bandersmsft  - any update on this please?

[2019-07-12 00:10] vikrantminhas commented on #34803
Thanks Don, you suggestion unblocked me on the fixing the Input stream.
However I couldn’t use the stream analytics as my output is an ADL stream in different Tenant. Looks like stream analytics only supports this type of data move with in same Tenants only.

Appreciate you help, I will try to see if I can somehow use Azure Data Factory to copy blobs data into our ADL cluster. I just need some in

[2019-07-12 00:10] stephbaron commented on #34982
Other services such as SQL DB and SQL DW also send planned maintenance notifications, so the functionality is not limited to VMs.

[2019-07-12 00:15] tfitzmac commented on #34833
Updated for the increase to 50 with a note about storage accounts not currently supporting 50.

[2019-07-12 00:15] tfitzmac commented on #34833
#please-close

[2019-07-12 00:15] #34833 closed

[2019-07-12 00:15] KranthiPakala-MSFT commented on #34717
@karthiksubramanians Yes, the Copy activity does not expose RU utilized. The better way is to go with the SDK's mentioned in this doc : [_Find the request unit charge in Azure Cosmos DB_](https://docs.microsoft.com/azure/cosmos-db/find-request-unit-charge)

[2019-07-12 00:24] KranthiPakala-MSFT commented on #34981
@mwc360 Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2019-07-12 00:27] KranthiPakala-MSFT commented on #34974
@andreasmarkmann Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2019-07-12 00:36] MarileeTurscak-MSFT commented on #34853
@AceMcFlop I agree! I am assigning this to the content author @rolyon to look into. This may need to go on in the tutorial section.

[2019-07-12 00:40] suwatch commented on #26884
Kudu deploy to the site content in place.   If your codes (or the framework you are using) being deployed somehow allows directory listing (intentionally or unintentionally), then it will be vulnerable to that.    Can you confirm whether this is windows/linux?  what type of app language and framework?   I saw Document Details above - but not sure if it is in this context.

[2019-07-12 00:50] KranthiPakala-MSFT commented on #34981
@mwc360 Yes, Data Flows in Azure Data Factory currently support 5 types of datasets when defining a source or a sink.

The supported set include:

Azure Blob Storage,
Azure Data Lake Storage Gen1
Azure Data Lake Storage Gen2
Azure SQL Data Warehouse
Azure SQL Database

_Note: Azure Data Factory Mapping Data Flow is currently a public preview feature._

[2019-07-12 00:50] TravisCragg-MSFT commented on #34382
@slebodat thanks for the feedback. I have reproduced this issue, and am following up to get more information.

[2019-07-12 00:50] femsulu commented on #34023
@prabhakarreddy1234 I tried to find the issue on StackOverflow and it appears it was deleted by the SO moderators. StackOverflow has strict guidelines on the type of questions that can be posted on it's forum. I would suggest you post the question on the [Azure Cost Management Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureCostManagement) instead. This is the MS branded chan

[2019-07-12 00:50] KranthiPakala-MSFT commented on #34981
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-12 00:50] #34981 closed

[2019-07-12 01:18] KranthiPakala-MSFT commented on #34974
@andreasmarkmann - RWX is used to indicate Read + Write + Execute. A more condensed numeric form exists in which Read=4, Write=2, and Execute=1, the sum of which represents the permissions

"permission": "770", means User permissions - rwx (which is 7), group permissions - rwx (which is 7), other - No permission (which is 0).

{
  	"entries": [
  	"user::rwx",
  	"group::rwx",
  	"other::---"

[2019-07-12 01:23] KalyanChanumolu-MSFT commented on #34863
@yvesgermain Your script above creates a server less database using an existing Azure SQL server which doesn't exist in your case.

Please create a server first and then the database.

[code]
I checked the documentation and it doesn't mention this explicitly.
I will get it corrected.

[2019-07-12 01:29] KalyanChanumolu-MSFT commented on #34593
This is being assigned to the content author to comment on the question and update as documentation if required. 

[2019-07-12 01:46] frehnejc opened #34983 "Issue with Geography data type"
Can all data types not supported be listed? I did a simple migration and resulted in the below error:
"Table's column 'dbo.Item::Location' is of type 'GEOGRAPHY', which is not supported by 'Full Load' under 'Full LOB' support mode.",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d8742b3-4494-c8a1-29bb-17e805d07fea
*

[2019-07-12 02:02] Ardutec commented on #34902
What would be the issue? Which subscription you are using? I was using free tier.

[2019-07-12 02:09] yvesgermain commented on #34863
Very interesting!  I didn’t realize that we still had to create a SQL server since it was serverless.          I can confirm that I was to create a serverless SQL server database using the portal and then exporting it to a template and create the same through the template in Canada Central.  Thanks!

Yves Germain

From: Kalyan Chanumolu <notifications@github.com>
Sent: 11 juillet 2019 21:24
To: Mi

[2019-07-12 02:33] dcaddick commented on #34545
It seems that this part around Data > "Collect syslogs from the following facilities" is not very clear at all?
Can anyone point us to where we can get better information on how to enable this?

We have a working Linux Syslog Connector (not in Azure - it's onPrem) but it seems that while we can now see Heartbeat info coming thru that steps 3 & 4 above are not valid...  How can we get this working

[2019-07-12 02:55] DixitArora-MSFT commented on #34843
@pconnell99 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs. Could you open the issue on MSDN or Stackoverflow for this.

[2019-07-12 03:05] Alberto-Vega-MSFT commented on #34756
Hi @LeeHyeongWon Any updates? Do you still need help?

[2019-07-12 03:30] meieda opened #34984 "Link ot Github lost"
the link to scripts in GitHub is disconnected due to update on GitHub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15636bf0-b462-6089-b144-08a3d7993119
* Version Independent ID: 9bd8d215-d1fa-baff-076c-cd76587121f4
* Content: [HANA backup and restore on SAP HANA on Azure (Large Instances)](https://docs.microsoft.com

[2019-07-12 03:43] HJToland3 commented on #34983
@frehnejc, per the related thread, we are addressing this issue and will update the thread when the code fix has been implemented. Please let me know if you have additional questions.  Thank you!

[2019-07-12 03:51] KrishnaG-MSFT commented on #34921
@ayyazez Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.
If you have a document which you are following and if you think it needs an update, plea

[2019-07-12 03:54] KrishnaG-MSFT commented on #34922
@kaushik-hemant Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 03:58] KrishnaG-MSFT commented on #34928
@jcawte Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 04:01] KrishnaG-MSFT commented on #34930
@StefanSchoof Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 04:03] KrishnaG-MSFT commented on #34934
@lukepuplett Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 04:06] KrishnaG-MSFT commented on #34938
@dg2k Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 04:08] KrishnaG-MSFT commented on #34939
@dangerousness Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.
If you have a document which you are following and if you think it needs an update

[2019-07-12 04:09] KrishnaG-MSFT commented on #34953
@harrynode Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.
If you have a document which you are following and if you think it needs an update, pl

[2019-07-12 04:11] KrishnaG-MSFT commented on #34962
@redamaleki Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 04:11] KalyanChanumolu-MSFT commented on #34863
@yvesgermain Yes you need to still have a server today.
There could be use cases where you need to switch between a provisioned and serverless database.
Hopefully this will get more simplified in future.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-12 04:11] #34863 closed

[2019-07-12 04:13] KrishnaG-MSFT commented on #34963
@amentee Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.
If you have a document which you are following and if you think it needs an update, plea

[2019-07-12 04:16] timothies commented on #34908
Ok, I think I've proved that it was a problem in my config.  I'd still be interested in any doco on SSL termination for gateways that does NOT use a self-signed certificate, but this issue can be closed.

The erroroneous config wasn't actually in the gateway.   We have a Web and Api websites, the config in the Web that points to the api was using the gateway address not the DNS address.  i.e.  abc

[2019-07-12 04:16] #34908 closed

[2019-07-12 04:17] KrishnaG-MSFT commented on #34966
@craigktreasure Thanks for the quick response.
@sostel Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-12 04:17] #34966 closed

[2019-07-12 04:18] KrishnaG-MSFT commented on #34969
@rodrigour Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.
If you have a document which you are following and if you think it needs an update, pl

[2019-07-12 04:19] Satya519364 opened #34985 "Unable to deploy smart contract on Azure PoA"
[Enter feedback here]

Hi,

I have create Azure PoA and tired to deploy smart contract by following the Microsoft link "https://docs.microsoft.com/en-au/azure/blockchain/templates/ethereum-poa-deployment#tutorials" and getting below error. Could you please help in resolving the issue. Thanks in advance.

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.micros

[2019-07-12 04:20] KrishnaG-MSFT commented on #34970
@rodrigour Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.
If you have a document which you are following and if you think it needs an update, pl

[2019-07-12 04:21] KrishnaG-MSFT commented on #34971
@DonFrazier Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 04:23] KrishnaG-MSFT commented on #34973
@juquesa Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 04:24] KrishnaG-MSFT commented on #34977
@cbrit Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 04:25] KrishnaG-MSFT commented on #34979
@kaushalp Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 04:27] KrishnaG-MSFT commented on #34980
@kaushalp Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 04:33] KrishnaG-MSFT commented on #34984
@meieda Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 04:37] dcbrown16 opened #34986 "Missing from ToC"
This page seems to have been updated recently, but it isn't discoverable in the ToC. Can someone put it back where it belongs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e5da9e2-8dbb-0b44-adad-02b6b9f631e0
* Version Independent ID: 590926af-ca14-915f-dff7-de72eb2183ac
* Content: [Multi-language indexing for non-En

[2019-07-12 04:50] jakaruna-MSFT commented on #34689
@piotrgwiazda When we provide the internal ip to the load balancer in the YAML file, we need to make sure that its not used by any other resource(pod, LB or VM).

Once that ip is assigned to the load balancer, Other resources  cant take it.

We have options to deploy the load balancer in the seperate subnet as well.
We can also let the loadbalancer pick a ip on its creation.

Its up to the custome

[2019-07-12 05:01] jakaruna-MSFT commented on #34470
@andybouts is there any update

[2019-07-12 05:08] jakaruna-MSFT commented on #34480
@denhsu Got a workaround to your specific problem.
We can have two tasks.
- Task which has a dummy docker file with only base image in it with the `--base-image-trigger-enabled True`. So that task will build automatically when the base image changes. Once the task is ran, It would have build the dummy image and updated to the ACR. In ACR for that dummy image you can add a  webhook to trigger the a

[2019-07-12 05:10] jakaruna-MSFT commented on #34984
@meieda Thanks for reporting.
snapshot tools version changed from 4.0 to 4.1.
New github link is https://github.com/Azure/hana-large-instances-self-service-scripts/tree/master/snapshot_tools_v4.1
I will update the doc.

[2019-07-12 05:20] SwathiDhanwada-MSFT commented on #34905
@Languafe This page is actually deprecated internally and is slated to be removed soon. You should consult SendGrid's own documentation.

[2019-07-12 05:33] jordanrgsd commented on #34633
@jakaruna-MSFT - sorry for delayed response.
It did worked this time. i think i was making that typo.
Thank you sir for all your help but has one query - if i want to use my own github account, i should keep script in my repository and put that URL right ??

[2019-07-12 05:41] jakaruna-MSFT commented on #34984
@saghorpa i changed the version from the github links from 4.0 to 4.1 and submitted a PR.
I didn't merge the PR.
Please validate it.

[2019-07-12 06:05] VikasPullagura-MSFT commented on #34774
@AndreiDita Any update on the issue?

[2019-07-12 06:07] linkinchow opened #34992 ""stable loader" should be changed to "sstableloader""
There is no "stable loader" in Cassandra, it should be the tool "sstableloader" without whitespace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75154d08-47ff-fa53-1dab-73f67208a864
* Version Independent ID: dcb50b3c-b00b-cee8-3dfe-7f5636483f0b
* Content: [Frequently asked questions about different APIs in Azure Cosm

[2019-07-12 06:18] SadiqhAhmed-MSFT commented on #34907
@zonique2k Closing this issue for now. Let me know if you need any further help in this matter.

[2019-07-12 06:18] #34907 closed

[2019-07-12 06:19] taranais commented on #25542
there are 3 options I know to get the token:

[code]

[code]

[code]

[2019-07-12 06:27] ichimei0125 opened #34993 "can still access the storage account by command line, but cannot from Azure protal"
When I followed and finshed this article, I found
It's true that cannot access the storage account from public VM or on-premises PC using Azure protal or Azure Storage Explorer,
but if I use the command showed in the article

[code]

I can still mount the file share to whether public VM nor on-premises PC,
even, if I type

[code]

I can open the file share, and write or edit file
Is there somethin

[2019-07-12 06:36] andrewatfornax opened #34994 "Broken Link"
"If using Visual Studio, see Use Visual Studio to trace Azure Virtual Machines to get started. Otherwise, see Set up Azure Diagnostics on an Azure Virtual Machine".

The "Set up Azure Diagnostics on an Azure Virtual Machine" link goes to a page that talks about using Visual Studio to set things up. The point of the link should surely be to go to somewhere that talks about how to do this without us

[2019-07-12 06:41] lightupdifire commented on #31078
@SanDeo-MSFT @ManojReddy-MSFT

After troubleshooting found following:
1. When we run setup, seems the 5-10 seconds for clearing "keywords" was enough, to make some PC's start registering, this is why we saw some Win10 start register
2. When creating SCP record in AD FS can use tenant name, example: contoso.onmicrosoft.com
3. When creating SCP on Down-level device, need use federated domain, exampl

[2019-07-12 06:45] SnehaAgrawal-MSFT commented on #34986
@dcbrown16 Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-12 06:54] SadiqhAhmed-MSFT commented on #34975
@jhankins71 An Account Administrator, after assigning appropriate role for billing access, should explicitly turn on access to download invoices in the Azure portal. I guess, in your case, you've access to download invoice for one subscription and it is missing for the other one. You may request access from an Account Administrator of that particular subscription. Reference link - https://docs.mic

[2019-07-12 06:58] SadiqhAhmed-MSFT commented on #34994
@andrewatfornax Thank you for the feedback. This issue is being assigned to the content author to investigate further and update as appropriate.

[2019-07-12 07:03] AshokPeddakotla-MSFT commented on #34875
@VidyaKukke  Thanks for reporting this. Adding author @kgremban to evaluate and update as appropriate.

[2019-07-12 07:09] AmanGarg-MSFT commented on #34888
@PingPongSet Follow the below document to deploy the projects to azure:

https://docs.microsoft.com/en-us/azure/dev-spaces/get-started-netcore-visualstudio

[This](https://docs.microsoft.com/en-us/azure/dev-spaces/multi-service-netcore-visualstudio) document talks about calling one project from another.

Hope this helps!

[2019-07-12 07:11] AndreiDita commented on #34774
This has been sorted out.
The scenario is when using ARM template to return the ZoneMappings

zoneMappings': '[replace(toLower(string(providers('Microsoft.Compute', 'virtualMachines').zoneMappings)), ' ', '')]'

Result:
[{'location':'eastus2','zones':['1','2','3']},{'location':'centralus','zones':['1','2','3']},{'location':'westeurope','zones':['1','2','3']},
{'location':'eastus2euap','zones':['1'

[2019-07-12 07:11] #34774 closed

[2019-07-12 07:12] msrini-MSFT commented on #34993
@ichimei0125 , Thank you for posting your question here. I will investigate and update shortly.

[2019-07-12 07:16] PietroCasotto commented on #34924
no, thanks, I've already closed the issue because i've solved the problem.

[2019-07-12 07:24] Yves57 opened #34995 "Difference between Operation and Activity"
I cannot find any clear explanation about the right concept to use with Application Insights.

The future .NET Core 3.0 seems to push *Activity* as a first class citizen (for example in ASP.NET Core). But the doc about [queue message processing](https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-operations-tracking#process-1) shows an example with *StartOperation()* and remarks about

[2019-07-12 07:25] mandarj123 opened #34996 "azure api-management developer portal applications copy"
Hello,

I have gone through api management docs, however we have a situation where we want to migrate data of 1 apim instance to a second one. and that should include developer portal applications and subscription keys to ensure seamless shift also to consumers.

So far i could find out that backup restore does not include developer portal.

Does azure apim provides any way out of the box to achiv

[2019-07-12 07:37] vishalaj1 opened #34997 "Schema Definition - Doesnot work"
Hi,

As per the syntax we can define schema.

"schema": [ &lt; physical schema, optional, retrievable during authoring &gt; ],

However, when i define schema:
"schema": [
            {
                "name": "Tst1",
                "type": "String"
            },

This does not work. The column names are still read as Prop_0 etc.

Is this expected behaviour?

Regards,
Vishal

---
#### Document De

[2019-07-12 07:42] jbagh opened #34998 "Document Links are dead"
The links are dead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c9d1ff4-9e32-39fc-2d8d-46d3c07bca4d
* Version Independent ID: 72b20547-e78b-f6d2-6e69-31c846965ad0
* Content: [Isolation in the Azure Public Cloud](https://docs.microsoft.com/en-us/azure/security/azure-isolation#feedback)
* Content Source: [articles/sec

[2019-07-12 08:04] tjgalama opened #34999 "missing"
In runtime V2.0.12493 the appsettings 'FUNCTIONS_WORKER_PROCESS_COUNT' has come available.
When I google on this setting I can't find anything anywere about this setting.
Some documentation is appreciated .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent ID: 601

[2019-07-12 08:10] JuGhithub commented on #22886
Hello,

Any news about the posibility to set this property? I need to find a way to create a dynamic group in Azure AD with custom attribute.

[2019-07-12 08:27] cktechative opened #35001 "Connect without BGP"
What about connecting a device without BGP capabilities?
I don't see any documentation for a static routing scenario.
Thank you for adding this, we need this for one of our customers...
BR
Christian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d62470b-a511-4b32-5498-2ae5182ec585
* Version Independent ID: df2d4c2e-8a

[2019-07-12 08:36] Zenuka commented on #15639
The documentation has been updated with this workaround: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-how-to-redirect-https

[2019-07-12 08:52] sasi-thonangi-img opened #35002 "Unable to refresh analysis services using service principal"
Hi @Minewiskan @craigcaseyMSFT @v-alje @changeworld @CelesteDG ,
I was following the article - [Asynchronous refresh with the REST API](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-async-refresh). The sample doesnt seem to work for OAUTH 2.0 as the Authorisation link seems to be wrong.

I have tried modifying the authority string to "https://login.microsoftonline.com/

[2019-07-12 08:53] msrini-MSFT commented on #35001
@cktechative , Thank you for posting your question here. Yes, you can connect to Azure WAN without BGP.

Here is the sample config:

"vpnSiteConnections":[
       {
          "hubConfiguration":{
             "AddressSpace":"10.1.0.0/24",
             "Region":"West Europe"
          },
          "gatewayConfiguration":{
             "IpAddresses":{
                "Instance0":"104.45.18.187",

[2019-07-12 09:03] jakaruna-MSFT commented on #34509
@lingtham Thanks.
I will reply to the MSDN thread.
I will also fix the Doc.

[2019-07-12 09:06] KetanChawda-MSFT commented on #34999
@tjgalama Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-12 09:12] KetanChawda-MSFT commented on #34996
@mandarj123 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-12 09:14] SumanthMarigowda-MSFT commented on #34454
@yotauber Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  It's going to be available very soon, You may keep track on [Azure Updates. ](https://azure.microsoft.com/en-in/updates/)
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion a

[2019-07-12 09:14] #34454 closed

[2019-07-12 09:17] KetanChawda-MSFT commented on #34841
@pconnell99 It seems like `encodeDataUri()` doesn't exist. @ecfan can you please confirm this?

[2019-07-12 09:22] ytugarev opened #35003 "This is Windows section why Ubuntu is in examples?"
You will not find any Windows in Linux section )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8064dd15-4df9-79ed-9ba2-6faceb0fc6d0
* Version Independent ID: 5698d8b5-23e9-878d-fdfd-59f871dd552b
* Content: [Ephemeral OS disks for Azure Windows Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/w

[2019-07-12 09:22] msrini-MSFT commented on #34993
@ichimei0125 , When I enabled Firewall rules in Azure Storage Account to a Specific VNET and tried mounting the File share. This is the error that I get,

![image](https://user-images.githubusercontent.com/47132998/61117593-7675a200-a4b4-11e9-81f9-8108ec5a775e.png)

Can you make sure your On-Premises Public IP through which you reach Internet is not added in the Firewall to allow access as mention

[2019-07-12 09:23] KetanChawda-MSFT commented on #34932
@cgillum Could you please share your thoughts here?

[2019-07-12 09:23] pmeuser opened #35004 "Windows Configuration Designer setting missing"
I have just installed Windows Configuration Designer from the store.
This key seems to be missing:
Runtime settings &gt; WindowsHelloForBusiness &gt; SecurityKeys &gt; UseSecurityKeyForSignIn

Will there be updates to Windows Configuration Designer necessary to support UseSecurityKeyForSignIn?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-07-12 09:31] syswpit commented on #22223
How can get custom profiles if I use SAML SSO and no provisioning?
Under users and groups I have to choose a profile but only a couple of profiles are shown. No custom profiles.

I'd rather have Salesforce manage this because everyone is already setup there.

[2019-07-12 09:32] syswpit commented on #13103
I don't see any of my custom profiles here. Only standard profiles. Any help?

[2019-07-12 09:35] KetanChawda-MSFT commented on #34999
@ggailey777 Any thoughts here?

[2019-07-12 09:42] SumanthMarigowda-MSFT commented on #34678
@Nirmal4G  Have you see this link https://github.com/Microsoft/AzureStorageExplorer/releases

[2019-07-12 09:42] ChiragMishra-MSFT commented on #34997
@vishalaj1 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-07-12 09:59] ram-msft commented on #34680
@wukun2015 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-12 09:59] #34680 closed

[2019-07-12 10:15] albertoaguzzi74 opened #35005 "Migrations do not start against Azure Blockchain Service"
I'm perfectly able to execute the 'Using Truffle' (to connect to Azure Blokckchain Service) post but having trouble with 'Send transactions' tutorial. When connecting to a local version of Ganache (and ommiting the privateFor part) all goes fine and the migrations kick off. When following the setup above you see the project compiling and the console waiting for a moment and then it goes back to th

[2019-07-12 10:27] abkeble commented on #34999
@tjgalama Did you find a way to give this setting a value? There is a bit of a description in this issue I was looking at: [https://github.com/Azure/azure-functions-python-worker/issues/236](url). And I am trying to use it to enable concurrent Python Azure Function execution, but I am unsure where or how I would set the value.

[2019-07-12 10:30] ChiragMishra-MSFT commented on #34873
@nenad1002 Can you ask your admin to grant the permissions ? You will have to get the consent.

[2019-07-12 10:36] BarkerStorm commented on #34827
@bartvermeersch Did you get a resolution for this? Am experiencing the same issue.

[2019-07-12 10:42] rogereriksen opened #35007 "Is it possible to have multiple Gallery App registrations in one AAD?"
We are working on an SaaS application where 1 AAD tenant should be able to configure multiple instances of the application - as separate subscription to the app.
E.g. all Sales employees should use one subscription and all Developers should have a separate subscription. Both registrations should have different set of users and role memberships.
It is not clear if this i possible?

Roger

[2019-07-12 10:49] lightupdifire commented on #34914
@KrishnaG-MSFT,
Found solution, for Federated domain, for Controlled validation, on client-side SCP, should use federated domain, so: contoso.com and not contoso.onmicrosoft.com
Maybe good to add in article?

[2019-07-12 10:51] Ballzer0 opened #35008 "Clairification around JWT validation would be great"
What are the benifits of using JWT validation in the api managment vs doing it in the microservice. Is there any way to know what the ID of the current user is, if you validate pre-authorize? Or should we do the token validation step be done in the service being called if you need to know who the current user is?

for example if you use the authentication/authorization option on an azure app servi

[2019-07-12 10:51] hadr10 opened #35009 "Is it possible to set Event Hub for sending?"
Hi,

i can see in this manual only, how to set to storage account, is it possible to set Event hub, like on Linux?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1004d268-8e8b-a08c-f31d-5b099cb38132
* Version Independent ID: 732f5f54-eb4b-97f3-a46a-d07825bd3e34
* Content: [Use Azure PowerShell to enable diag

[2019-07-12 10:53] Hbaele opened #35010 "Methods registered not correct"
I noticed that the methods registered for my own user are not mentioning the app I also use. For other accounts it is reporting correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dbb0624-9d6c-aedf-d999-f7d3ca99c183
* Version Independent ID: bb4234de-65b9-b60c-d1f7-bef9a865d940
* Content: [Authentication methods

[2019-07-12 10:56] AndrewMaisey opened #35011 "Wording"
With reference to
"Option 2: Switch from federation to pass-through authentication by using Azure AD Connect and PowerShell"

Should this read "Option B:"?

So as not to confuse with Step 2 etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b704969-b273-9466-6498-b259141bdd75
* Version Independent ID: 19edc91e-3215-d

[2019-07-12 11:04] hansmbakker commented on #34829
Two side questions related to this issue:
- Where can I best add feedback to the arm schema reference documentation? On https://docs.microsoft.com/en-us/azure/templates/microsoft.botservice/2018-07-12/botservices/channels there is no github feedback integration and [the contributors link at the top](https://github.com/MicrosoftDocs/azure-resource-manager-schema-reference-pr/blob/live/arm-schema-re

[2019-07-12 11:14] ichimei0125 commented on #34993
@msrini-MSFT Thank you very much for make time to help me :-)

I redo this article at least 5 times, but still cannot get the result where in the end of this arcitle

Here is my setting

This is my Storage Account Setting, I specified the VNet, and I tried to uncheck "Allow trusted Microsoft services to access this account." But didn't work.
![image](https://user-images.githubusercontent.com/12255

[2019-07-12 11:22] Nirmal4G commented on #34678
OK, checked.

By default it installs for all users on the machine. Please update the docs to mention it.

But [per user installation](https://github.com/microsoft/AzureStorageExplorer/issues/1108) is not availabe and is requested.

[2019-07-12 11:22] #34678 closed

[2019-07-12 11:34] lukepuplett commented on #34934
I've broken down the confusing parts as below, hope it helps!

OK.

Confusing. When you say "for writes", you mean, "to get writes succeeding again"? I need to spot the outage myself and then go and enable automatic failover? Why is it called automatic if I have to react and enable it? Or did you mean that this had to have been enabled already?

OK.

Confusing. If writes were down, how did unrepli

[2019-07-12 11:54] AjayKumar-MSFT commented on #34995
@Yves57, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-07-12 11:56] karthiksubramanians commented on #34717
@KranthiPakala-MSFT My confusion arises from the fact that [here](https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-cosmos-db) it says that Data factory copy activity with cosmos DB integrates with bulk executor library.

And [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmosdb.bulkexecutor.bulkimport.bulkimportresponse.totalrequestunitsconsumed?view=azure-

[2019-07-12 11:57] aanandr commented on #34389
Private IPs are picked from the subnet that is dedicated for ACI. Think of it like IP assignment from a DHCP server. It is not possible to pick the IP that you want to assign (static IPs). Also, container groups cannot resolve DNS names today

[2019-07-12 12:07] Jacintopc opened #35012 "Understand terms on your Microsoft Azure invoice for Enterprise Agreement"
Is this explanation also applicable to Enterprise Agreement bills?
Would you point me to the EA bills explanation page?
thanks,
Jacinto

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a9f5745-af74-df30-ae28-9281fe7dbd96
* Version Independent ID: cd21460e-d53f-df0d-77a4-005ccd05c2f2
* Content: [Understand your Azure inv

[2019-07-12 12:10] umutge opened #35013 "Reminder emails not fired"
Expires soon email (to requester) is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1361c2c2-a486-0fdb-7f08-8b6760273b9f
* Version Independent ID: c3e18842-cbfc-ea85-d42a-0f2ed8964164
* Content: [Request process and email notifications in Azure AD entitlement management (Preview) - Azure Active Directory](

[2019-07-12 12:11] cveld opened #35014 "Screenshot outdated"
The screenshot in step 4 Create a virtual network gateway seems outdated.  In my version of the screen I have a Public IP address heading with 6 properties: 1. Public IP address: default value -&gt; Create new, 2. Public IP address name -&gt; text box -&gt; empty, 3. Public IP address SKU -&gt; with locked value: Basic, 4. Assignment -&gt; Greyed out, 5. Enable Active-Active Mode -&gt; default sel

[2019-07-12 12:13] lokijota opened #35015 "Sample code - Endpoint has region or not?"
The text of the code sample says the endpoint should include the region:

// You must use the same region as you used to get your subscription
// keys. For example, if you got your subscription keys from westus,
// replace "westcentralus" with "westus".
//
// Free trial subscription keys are generated in the "westus"
// region. If you use a free trial subscription key, you shouldn't
// need to cha

[2019-07-12 12:24] grizzljt commented on #34955
I think I was unclear.  In the examples, two variables are shown, $iothubname, and $twin.  What other variables are available and how would I go about finding out what is available?  Can I add other data about the Hub or on Device Lifecycle events, data regarding DPS?

[2019-07-12 12:33] sakaldeepyadav opened #35016 "InvalidRegistrationDefinitionCreateRequest"
I have followed the docs but I got below issues.

Scenario:  I have three subscriptions in my tenant, I have registered 2 subscriptions as a customer and left 1 subscription as a service provider but getting below error.

"error": {
    "code": "InvalidRegistrationDefinitionCreateRequest",
    "message": "The registration definition 'xxxxxxx' not allowed to use the 'xxxxxx' as ManagedByTenantId."

[2019-07-12 12:35] tslavik commented on #32821
Hi, do we have some resolution? I'm facing the same issue. When you try to set up real CI/CD in Azure DevOps you need createOrUpdate resource as the first step.

[2019-07-12 12:40] jakaruna-MSFT commented on #35003
@ytugarev
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-12 13:13] andybouts commented on #34470
Sorry @jakaruna-MSFT , this is working now with your suggestions ... (1) removed the [depends on] from the template and (2) ran with this command   ```az group deployment create -g SASESPab --template-file additionalSetup.json --parameters '@additionalSetupParameters.json'```

[2019-07-12 13:14] #34470 closed

[2019-07-12 13:18] peter-tridius commented on #34139
@SaurabhSharma-MSFT Thank you for this information.  That is good news.  I hope it can be incorporated into the documentation to serve others who may have the same question.

[2019-07-12 13:45] andreasmarkmann commented on #34974
Thank you for your reply but unfortunately my question was not about the meaning of the octal code.
I asked about the meaning of "user, group, other" in the context of ADLS.
There is an article [Access control in Azure Data Lake Storage Gen1](https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-access-control#users-and-identities) which speaks on this in the [Users and identities

[2019-07-12 13:45] brunole opened #35017 "Step error"
You would need to replace "Click on Manage settings for access panel preview features" to "Click on Manage user feature preview settings" under User feature previews

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3dbcad-9d0d-c32d-7b02-2a3ffe291b2e
* Version Independent ID: 4f716e15-73a2-71a0-53ba-801b6097c479
* Conte

[2019-07-12 13:50] jhosteny opened #35018 "Max SAS URIs per device for file uploads?"
Can you clarify what is meant by "10 SAS URIs/device can be out at one time"? If I upload more than ten files per device, does this imply I have to move them to a different blob to have a SAS URI for each file? Do they have to go to a different storage container?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec6fc6a5-

[2019-07-12 13:55] tudormaz opened #35020 "Documentation link"
Hello,

I would have expected to see a link in or after the following statement so that I can quickly get to that piece of information.
"For more information, see how to create and configure self-hosted IR article under how to guides for details."
Thank you,
Tudor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a34b3c

[2019-07-12 13:56] vhorne commented on #34864
Regional availability is documented here: https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-autoscaling-zone-redundant#supported-regions

We avoid making future statements and promises due to legal implications.
#please-close

[2019-07-12 13:56] #34864 closed

[2019-07-12 14:00] SuperSing opened #35021 "Sql Managed Instance - Auditing fails"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-12 14:02] #35021 closed

[2019-07-12 14:06] SuperSing opened #35022 "Sql Managed Instance - Auditing fails"
Auditing on my Managed instance fails. It looks like there are connection issues between Storage account ( blob) and Managed instance. My storage account is set up with "Ip address whitelist" , as I cannot leave it open for everybody. Is it possible to find ip address for Managed instance so that I can add it to the storage account's white list ? Thanks !

---
#### Document Details

⚠ *Do not edit

[2019-07-12 14:07] SubhashVasarapu-MSFT commented on #35014
@cveld, Thanks for your feedback. We have assigned this issue to the respective author for updating the document accordingly.

[2019-07-12 14:12] ChengLawson commented on #33480
I have deployed a very simple web app using nodejs 8.11.1. I have followed the steps above to grant my app get secret permission for its system assigned identity for my key vault. When I get the app setting key in my code I get the key vault reference rather than the secret value. I have tried stopping and starting the app without success. How can I diagnosed the problem?

[2019-07-12 14:21] diberry commented on #34913
@seanbetts - Thank you for your patience. Looking into a proper answer. #in-progress

[2019-07-12 14:23] bwarren18 opened #35023 "Typo?"
Where it says: "Such comprehensive workload monitoring can't be achieved with Azure Monitor or Service Map alone."  I think it means Azure Metrics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 601bac60-2106-9271-4420-7852f95eb90b
* Version Independent ID: 8c404a21-be97-2600-d734-2ec5664cfea1
* Content: [What is Azure

[2019-07-12 14:27] sebader opened #35024 "Device side - device twin does not include Tags"
There is an error in this statement: "Retrieve device twin. This operation returns the device twin document (including tags and desired and reported system properties) for the currently connected device."

The device-side device twin does not include the tags. This is also stated above in the overview picture.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-07-12 14:35] YvonneArnoldus opened #35025 "Server admin login is member of?"
Server admin login is not a member of the standard SQL Server sysadmin fixed server role, which is not available in SQL database.

But what is it a member of? Because I like to check if this user is logged in and I prefer not to do this on name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 429955f9-093b-70bd-9461-426

[2019-07-12 14:36] axelgMS opened #35026 "Fault Domains not assigned properly in an AvailabilitySet"
Can we add a note to that page ? - to say that it's possible that the FaultDomain rule for a given AvailabilitySet is not honored when VMs are deallocated.

scenario:
- Create a VM in an AVSet - it'll land on FD 0
- Stop/deallocate that VM
- Create a 2nd VM in the AVSet - that one might land on the same Fault Domain 0

This happens because VMs are aligned on their Managed Disks (Managed Disks are

[2019-07-12 14:37] leroibeukes opened #35027 "App Service Environment with ELB and SNAT"
For an ASE with an exernal load balancer - thus a static public IP , what are the maximum number of ports for SNAT.

The documentation listed here :
(https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections)

states that for 1-50 Instances there are 1024 ports , soon as you go higher , the ports are reduced.

So my question is :

Can I safely assume that for an ASE w

[2019-07-12 14:39] tomygrenier opened #35028 "PHP rankingResponse"
https://docs.microsoft.com/en-us/azure/cognitive-services/bing-web-search/quickstarts/php

I'm working with Bing Web Search PHP API.

How should we convert rankingResponse into an array with results? With the actual rankingResponse we have to execute a lot of object to array useless conversions and loops to get results displayed with the good ranking.

Thanks!
Tomy

---
#### Document Details

⚠ *D

[2019-07-12 14:47] mmacy commented on #34392
No updates to documentation required at this time, so requesting closure on this issue.

#please-close

[2019-07-12 14:47] #34392 closed

[2019-07-12 14:56] KrishnaG-MSFT commented on #34985
@Satya519364 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 14:58] psatyaa opened #35030 "Internal Server Error Source Control - Azure Automation in Portal"
## Internal Server Error while integrating Source Control with Azure Automation Account.

Internal Server Error While connecting Source Control with Azure Automation Account.
Attaching Reference video for reference. The User has Run-As- Account rights.

[Azure-Automation-SourceControl Integration Error.zip](https://github.com/MicrosoftDocs/azure-docs/files/3386868/Azure-Automation-SourceControl.In

[2019-07-12 14:59] KrishnaG-MSFT commented on #34992
@linkinchow Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 15:01] KrishnaG-MSFT commented on #34998
@jbagh Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 15:05] PramodValavala-MSFT commented on #35008
@Ballzer0 Thanks for the feedback! We will review and get back to you on this.

[2019-07-12 15:06] KrishnaG-MSFT commented on #35002
@sasi-thonangi-img Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 15:07] KrishnaG-MSFT commented on #35004
@pmeuser Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 15:09] KrishnaG-MSFT commented on #35005
@albertoaguzzi74 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 15:10] KrishnaG-MSFT commented on #35007
@rogereriksen Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.
If you have a document which you are following and if you think it needs an update,

[2019-07-12 15:16] huzzeytech opened #35031 "NPS Extension - OATH TOTP Support"
This section mentioned different authentication methods: https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-vpn#authentication-flow

Has OATH TOTP support been added as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf322e2b-b09c-2a09-2b0d-27de43075953
* Version Indepen

[2019-07-12 15:16] KrishnaG-MSFT commented on #35021
@SuperSing Thanks for the comment and update. If you are following an Azure document and if you think it needs an update, please reply and we will gladly continue the discussion.

[2019-07-12 15:18] daspo commented on #34559
Hi,

Yes, still ongoing.

.daspo

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Thursday, July 11, 2019 9:00 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Damian Spoltore <daspolto@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Error installing in 2008 R2 (#34559)

@daspo<https://nam06.safelinks.protection.outlook.

[2019-07-12 15:26] dreamflasher commented on #23647
This should not be closed, because it's not fixed.

[2019-07-12 15:26] pmeuser opened #35032 "Example for "Sign in on the web""
Please can you add a step-by-step example how FIDO2 based sign in on the web can be enforced?

Lock screen works for me - therefore security key is registered and working - but I see no option to use a security key while signing in to O365 servcices with Edge from a not-AAD joined Windows 10 PC (Build 1903).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-07-12 15:27] ohwellwhatever opened #35033 "Support for 2019-Datacenter-Core-with-Containers"
When will 2019-Datacenter-Core-with-Containers be supported?  No reason for us to be running full OS with desktop on our nodes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c75ce7-2144-d81a-693c-fb51cc00f3e5
* Version Independent ID: cba654ea-ee84-fca4-a76d-717bfb9d9bf5
* Content: [Automatic OS image upgrades with

[2019-07-12 15:28] KrishnaG-MSFT commented on #35009
@hadr10 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 15:30] KrishnaG-MSFT commented on #35010
@Hbaele Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 15:31] KrishnaG-MSFT commented on #35011
@AndrewMaisey Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-07-12 15:34] hansenms commented on #34879
@mmacagno, thanks.

#please-close

[2019-07-12 15:34] #34879 closed

[2019-07-12 15:39] ecfan commented on #34841
@KetanChawda-MSFT, I can't find this function in Logic Apps. So, either the function no longer exists or is missing from the service. I'll follow up with the Logic Apps team.

[2019-07-12 15:44] dlepow commented on #34480
cc:/ @northtyphoon

[2019-07-12 15:53] Archehandoro commented on #22223
I believe if you don't use provisioning custom profiles aren't needed. You are only matching objects in Azure AD to Salesforce users. By doing this you need to manage users profiles directly in Salesforce.

[2019-07-12 16:00] vhorne commented on #34723
Added link to both article.
#please-close

[2019-07-12 16:00] #34723 closed

[2019-07-12 16:08] lblanche opened #35034 "Problems with the Exported ARM Template"
Hello,
I have trouble importing an ARM template into my prod data factory, it seems that the exported file is corrupted. I have the following error : "Error parsing template. Please ensure template is a valid JSON and has no comments"
File starts like this :
PK
     '~�N               linkedTemplates/PK
     '~�N�+�h�j  �j  "   linkedTemplates/ArmTemplate_0.json{
    "$schema": "http://schema

[2019-07-12 16:16] vhorne commented on #33020
#please-close

[2019-07-12 16:16] #33020 closed

[2019-07-12 16:18] MicahMcKittrick-MSFT commented on #35026
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-12 16:18] MicahMcKittrick-MSFT commented on #35033
Thanks for the question! We are investigating and will update you shortly.

[2019-07-12 16:19] sandeepraichura opened #35035 "Increasing Fault Domain in a Region"
It seems we could increase the fault domain count to 3 if we select unmanaged disks for the deployment, the documents needs to reflect that.  For example, in Canada East and Australia regions the number of fault domains can be increased from 2 to 3 provided we use unmanaged disks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-07-12 16:28] MicahMcKittrick-MSFT commented on #35035
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-12 16:29] dwatsonit commented on #30680
@rviljoen  I forwarded all the information to MSFT outside of this thread but have not heard anything more regarding a solution as of yet.

[2019-07-12 16:30] bwren commented on #34603
Thanks.  Looks like this was a case of a mixup in additional slashes for formatting the markdown.  Looks like the original author got a little carried away with them.  I created a work item to get this fixed.

[2019-07-12 16:32] ninarn commented on #34827
I am working with my dev team to investigate the issue. I will try to get back to you as soon as possible with info on this issue.

[2019-07-12 16:38] bwren commented on #34603
#in-progress

[2019-07-12 16:39] KenVraagaard opened #35036 "ADLS File Shares - this is not behaving like described"
This is not the way to create a sink which is an ADLS File Share. It is difficult to find resources on creating a connection/data set that writes to ADLS Gen2 File Shares.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d07269e-0d57-5c2c-283c-ad1f3236a97a
* Version Independent ID: 62fe1d99-69c3-bd1d-b2e0-0c45a8cce18a
*

[2019-07-12 16:39] bwren commented on #34604
Thanks.  This is an obvious error in the script.  I created a work item to update.

[2019-07-12 16:39] JnHs commented on #35016
Hi there -
This document describes how to onboard subscriptions from one tenant (i.e. a customer's tenant) so they can be managed by users in another tenant (i.e. a service provider's tenant). It sounds like you are working with three subscriptions in the same tenant, which is a different scenario where Azure delegated resource management would not be applicable. If I'm misunderstanding please let

[2019-07-12 16:40] bwren commented on #34604
#in-progress

[2019-07-12 16:40] cephalin commented on #34535
@ArthurEzenwanne Thank you for the feedback. I've updated the doc and it should be published sometime today. #please-close

[2019-07-12 16:40] #34535 closed

[2019-07-12 16:48] KranthiPakala-MSFT commented on #35020
@tudormaz Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-07-12 16:51] KranthiPakala-MSFT commented on #35034
@lblanche Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2019-07-12 16:53] himanshusinha-msft commented on #35030
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2019-07-12 16:53] KranthiPakala-MSFT commented on #35036
@KenVraagaard Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-07-12 16:57] YutongTie-MSFT commented on #34771
@marktab Thank for the information, is there any plan to merge the document or remove the old document?

[2019-07-12 16:58] YutongTie-MSFT commented on #34874
@jcao78 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-12 16:58] #34874 closed

[2019-07-12 16:58] ferrx opened #35038 "GovCloud Storage Account Max Block Size Limit?"
This seems to be missing from documentation on the GovCloud site. I am seeing errors on chunks >25MB. Is the limit lower on GovCloud?

[2019-07-12 16:58] YutongTie-MSFT commented on #34976
@RWu-MS
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-12 16:58] #34976 closed

[2019-07-12 17:03] bwren commented on #34505
Sorry, was on vacation for a couple of weeks.  I think we had a note on this in the article before it was rewritten.  Looks like it got removed.  I created a work item to add it.

[2019-07-12 17:03] bwren commented on #34505
#in-progress

[2019-07-12 17:15] mikebudzynski commented on #34996
@mandarj123 You can use backup restore or follow our dev-ops practices described here: http://aka.ms/apimdevops

Although the current developer portal does not support migrations between environments, we have just released a preview version of the new developer portal, which supports programmatic access: https://aka.ms/apimdocs/portal

#please-close

[2019-07-12 17:15] #34996 closed

[2019-07-12 17:17] YutongTie-MSFT commented on #35015
@lokijota Thank you for the feedback, we will investigate it and get back to you soon.

[2019-07-12 17:22] tfitzmac commented on #34922
@kaushik-hemant - have you tried exporting a template for an existing notification hub that you have configured with these settings? Sorry, I don't have valid IDs so I can't test it myself.

[2019-07-12 17:23] FrankHu-MSFT commented on #35013
@umutge  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-12 17:24] FrankHu-MSFT commented on #35017
@brunole Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-12 17:24] FrankHu-MSFT commented on #35031
@huzzeytech  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-12 17:25] FrankHu-MSFT commented on #35032
@pmeuser Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-12 17:25] d-h-morrison opened #35039 "Where is the guidance regarding how to publish blob (or similar) event data to an event domain?"
This guidance glosses over the complications of publishing something like blob events to a domain topic.  how does this happen?  I ask a similar question regarding any other azure service components that can produce interesting event data.

It is easy to create a domain topic.  But... how do we specify the subscription for this, e.g. our intent is to subscribe to blob events, or azure storage tabl

[2019-07-12 17:29] MicahMcKittrick-MSFT commented on #35033
@mayanknayar any ETA/ Details we are able to share?

[2019-07-12 17:43] Adam-Smith-MSFT commented on #35038
@ferrx Thanks for the inquiry, could you please provide us with the specific documentation link you were referring to ?

Thanks,
Adam

[2019-07-12 17:44] cbrit commented on #34977
I think maybe for #1, each file is being uploaded across 8 threads, and the semaphore allows 100 files to be uploading in parallel. Is that right?

[2019-07-12 17:45] ferrx commented on #35038
@Adam-Smith-MSFT

https://docs.microsoft.com/en-us/azure/azure-government/

I scanned all over this site, googled around, not seeing anything on storage account limits in govcloud.

[2019-07-12 17:46] PingPongSet commented on #34888
@AmanGarg-MSFT

I changed the title to make it clearer. I meant how to deploy both project in release mode via script.

Currently, it deploys only when Dev Space is clicked in debug mode within VS 2019.

Also how to deploy them to Azure Container Registery and AKS via script in release mode.

[2019-07-12 17:52] himanshusinha-msft commented on #30371
@pconnell99 : Apologizes for not replying sooner on this . We did reached the internal team and they are actively working on this and it should be in public preview either this month or next month tentatively .

At this time we are going ahead and closing this issue and if you think appropriate  you can always open it .

[2019-07-12 17:57] Rakatashii commented on #18051
its still greyed out

[2019-07-12 17:58] Adam-Smith-MSFT commented on #35038
@ferrx Thank you for the link, I wanted to check what specific action were you trying to perform and the errors you are getting?  is it possible to share which specific gov cloud/region and type of storage account you're using (GPV1 & GPV2)? I'll also kick off a process internally to validate whether there are any differences, i'll get back to you as soon as i have more info.

[2019-07-12 18:00] FrankHu-MSFT commented on #34263
@Girishvtm
The documentation seems to be wrong here and we are currently engaging to fix this as soon as possible. Thanks for letting us know!

The MembershipRule is not currently supported in the New-AzureADMSGroup cmdlet of the AzureAD module.

This is because the underlying property in the Microsoft Graph (membershipRule) is only available on the "beta" endpoint. So this capability is only avai

[2019-07-12 18:01] FrankHu-MSFT commented on #34263
Please let us know if you have anymore questions within the scope of this github issue, otherwise we will be closing this out by end of day @Girishvtm thanks!

[2019-07-12 18:01] taromielnaz opened #35042 "Recepients"
Hello,
I think if you mention that recipient must have Azure subscription at the beginning of the document it helps readers to understand functionality better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdfb6441-555a-ba6d-bd47-81c916063fce
* Version Independent ID: 0e6078ca-fc0f-74dc-ba42-1e221b5b6417
* Content: [W

[2019-07-12 18:02] ferrx commented on #35038
SA Type: GPV2
Region: USGov Virginia

The action was uploading a a block using the .NET SDK (PutBlockAsync). It appears blocks greater than 25MB are not going through. We are able to upload blocks upwards of 100MB in our developer environment using the storage emulator.

[2019-07-12 18:03] psatyaa commented on #35030
I am not referring to any specific scenario.
I am referring to Microsoft Docs for Source Control with Azure Automation using Portal.
Here is the URL for doc:
https://docs.microsoft.com/en-us/azure/automation/source-control-integration
You can refer the attached steps and error recording for reference.

[Azure-Automation-SourceControl Integration Error.zip](https://github.com/MicrosoftDocs/azure-do

[2019-07-12 18:17] shashishailaj commented on #34799
@liroforum It seems you are trying to use id_token as an access token. However as per the design during first time creation of browser session we exchange id_token for a pair of "access token+refresh token" and then after the refresh token is used to get another access token after the expiry of access token. If you want to request a new id_token before the current one gets expired , it would be sa

[2019-07-12 18:17] mrbullwinkle commented on #18051
@Rakatashii codeless monitoring with Application Insights on Linux is not currently supported. So Application Insights being grayed out on a Linux based web app/app service is still expected behavior. However, code based monitoring with Application Insights is supported on Linux, but it requires manually modifying your code to take a dependency on the appropriate App Insights SDK. So for example t

[2019-07-12 18:19] shashishailaj commented on #34587
We tested this internally and it worked as described in the article for us. If you got any error then it may require extended troubleshooting. I would suggest you to send us an email on azcommunity[at]microsoft[dot]com along with your azure subscription id and we can help you further. We will close this issue for now and would wait for your email on the same in case you still have an error as we w

[2019-07-12 18:19] #34587 closed

[2019-07-12 18:20] kaushik-hemant commented on #34922
@tfitzmac Already tried, no configuration there in the exported template.

[2019-07-12 18:23] KranthiPakala-MSFT commented on #34717
@karthiksubramanians Thanks for your response. I have reopened the issue and assigned it to the content author for further clarification.

[2019-07-12 18:23] nenad1002 commented on #34873
How do I find my tenant's admin? Is there any procedure which would enable me to find it out?

[2019-07-12 18:23] KranthiPakala-MSFT commented on #34717
@linda33wj Could you please take a look at the ask from @karthiksubramanians ?

[2019-07-12 18:24] FrankHu-MSFT commented on #35013
Hey @umutge could you clarify on what's not working, it's hard to tell what the problem is with just that information.

Thanks!

[2019-07-12 18:34] psatyaa commented on #35030
[](url)

[2019-07-12 18:39] lichasu opened #35044 "Información incorrecta"
@fsolabenitez commented on [Fri Jul 12 2019](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/558)

La página indica lo siguiente: "Si el entorno tiene una instancia de Azure AD y una instancia de AD local, probablemente desee ampliar el alcance de la experiencia de inicio de sesión único a sus aplicaciones de línea de negocio (LOB) locales, recursos compartidos de archivos e impresoras."

[2019-07-12 18:40] lichasu commented on #35044
Hi team, Please check this issue. Rough translation:

Thanks!

[2019-07-12 18:40] ecfan commented on #34841
Appears that the `encodeDataUri()` function should actually be the `dataUri()` function. I'll update the page. Thanks for bringing this to our attention!

[2019-07-12 18:46] jenniferburch commented on #34798
I'm getting the same problem when using through a WebUI but it's working in a mobile app.

[2019-07-12 18:49] FrankHu-MSFT commented on #35044
@lichasu Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-12 18:49] femsulu commented on #35023
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-12 18:50] KranthiPakala-MSFT commented on #34770
@Oreo-Dev We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please feel free to reopen the issue and tag me in your reply. We will gladly continue the discussion.

Thank you.

[2019-07-12 18:50] #34770 closed

[2019-07-12 18:50] fbcarvalho commented on #34927
ChristianMontoya <https://github.com/ChristianMontoya>,

When I try to create a vm to the host pool there are only the following
options:
- Windows 10 multi sessions with Office 365
- Windows 10 multi sessions
- Windows 2016

There's no image for 1903 .

Em qui, 11 de jul de 2019 às 20:30, Felippe B. Carvalho <
fbcarvalho@gmail.com> escreveu:

--
*Felippe B. Carvalho*
*Cel - (31)  985110734*

[2019-07-12 18:51] femsulu commented on #35012
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-12 19:02] HJToland3 commented on #34983
#please close

[2019-07-12 19:08] Adam-Smith-MSFT commented on #35038
@ferrx can you share an error or exception as a sample so i can route it to the internal team ?

[2019-07-12 19:08] femsulu commented on #34982
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-12 19:08] #34982 closed

[2019-07-12 19:10] ecfan commented on #34841
I've merged a fix. Should appear later today after 4:00. #please-close

[2019-07-12 19:10] #34841 closed

[2019-07-12 19:11] mikelTHN opened #35045 "Suggestion: Microsoft Authenticator App Integration"
Would it be possible to configure the user verification to use a push notification to the Windows Authenticator App instead of the devicelogin website? Our company workflow for many systems utilize the push notification methods already.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980

[2019-07-12 19:20] TravisCragg-MSFT commented on #30359
@oising @t1agob The doc has been updated to include the Microsoft.Web Service Endpoint.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-12 19:20] #30359 closed

[2019-07-12 19:30] TravisCragg-MSFT commented on #34725
@ABCodeMonkey We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-12 19:30] #34725 closed

[2019-07-12 19:31] Alberto-Vega-MSFT commented on #35024
@sebader Thanks for reaching out! we are currently investigating and we will update you shortly

[2019-07-12 19:36] rolyon commented on #34853
Hi @AceMcFlop
Thanks for your feedback. I've sent a message to the team to confirm the onboarding experience.
thanks

[2019-07-12 19:38] Alberto-Vega-MSFT commented on #35018
@jhosteny Thanks for reaching out! We are currently investigating and will update you shortly.

[2019-07-12 19:52] FrankHu-MSFT commented on #35031
@huzzeytech unfortunately if i'ts not in the document it's most likely not supported yet, but once it is supported we will update it accordingly. Please refer to the what's new section for new releases.
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new

That being said, if there are no more questions within the scope of this github issue I will be closing out this issu

[2019-07-12 19:59] TravisCragg-MSFT commented on #34605
@nerdingas1 This feature is not yet enabled, and we will be updating the docs to reflect this.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-12 20:16] mkannan22 commented on #27791
I am receiving the same error and tried all previous suggested solutions in this thread. Anyone have any other ideas?

Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com"
DeploymentUrl                      TenantGroupName      UserName
-------------                      ---------------      --------
https://rdbroker.wvd.microsoft.com Default Tenant Group vdiadmin@example.com

Get-Rd

[2019-07-12 20:21] swake457 opened #35047 "Traffic Flow diagram shown at the top is partially incorrect"
The diagram at the top of this page implies there is an inbound traffic flow from Azure Application Proxy Service to the Application Proxy Connector on the customer's network. This is incorrect. The arrow for #2 should point *out* to Azure Application Proxy Service from the APC. This has caused a significant amount of confusion where customers believe they need to configure their firewalls to perm