[2018-08-27 23:17] dksimpson commented on #13983
I'm no longer working on CDN - please assign to @KumudD, thanks!

[2018-08-27 23:27] sergaz-msft commented on #14060
@axisc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-27 23:31] femsulu commented on #13760
Hello @thuansoldier, happy to carry on this conversation via our community email channel so please if you have any followup, don't hesitate to send a mail to AzCommunity@microsoft.com and include a link to this GitHub issue for context. Thanks for being an active member of the community.

[2018-08-27 23:31] #13760 closed

[2018-08-27 23:34] jjgriff93 opened #14073 "C# sample for using Text-to-Speech"
Would be helpful to have a C# sample (and in other languages) of speech synthesis to help people get started quickly with using the API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ba5bbd9-c69d-fbfe-6392-f5cea4ebfb08
* Version Independent ID: 617eeeb5-0ad6-f54c-7d36-edeb2e6d9581
* Content: [Use Text to Speech using

[2018-08-27 23:36] eugenes68 commented on #13982
https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-script just using sampel provided there. -UseConnectedAccount is not supported in New-AzureStorageContext!?

[2018-08-27 23:45] femsulu commented on #13813
@anirudhcavale can you please take a peek at this doc enhancement request?

[2018-08-27 23:53] vicperdana opened #14075 "Azure storage v2 Cool tier with Azure Files"
Hi, I created a cool storage (v2) and set up file shares within the storage account.  Is cool storage for Azure Files supported now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534b3ef3-5664-973e-b146-8c1f960bf536
* Version Independent ID: 57c3ce18-2857-8ed0-10a5-5061d391a079
* Content: [Frequently asked questions (

[2018-08-27 23:53] markgalioto commented on #13875
@aquibqureshi26 , Thank you for pointing out that there's an opportunity to cross-link to the Azure Backup reporting feature. To find out the amount of data being backed up per VM, see the articles, [Configure Azure Backup reports](https://docs.microsoft.com/en-us/azure/backup/backup-azure-configure-reports) and [Data model for Azure Backup reports](https://docs.microsoft.com/en-us/azure/backup/ba

[2018-08-27 23:53] sethmanheim commented on #14060
You are absolutely right @axisc, and thank you for catching this! I just submitted a pull request to fix it, so it will be live tomorrow by midday. Again, thank you for the contribution. #please-close

[2018-08-27 23:53] markgalioto commented on #13875
#please-close

[2018-08-27 23:54] #14060 closed

[2018-08-28 00:06] munir94 commented on #14008
@TravisCragg-MSFT , i have created one thread for this. you may see using this [link](https://social.msdn.microsoft.com/Forums/en-US/85da4c93-2165-4d9b-a745-ed615452de8b/asdk-installation-failed?forum=AzureStack#85da4c93-2165-4d9b-a745-ed615452de8b)

[2018-08-28 00:13] YutongTie-MSFT commented on #10535
@kgremban Thanks a lot!

@davidyan0429 @ilyas-it83 Looking forward to your feedback! Thanks.

[2018-08-28 00:18] OxHobbs commented on #10150
The yaml does seem to be formatted incorreclty.. It should look more like this:

[code]

* A list of plays
  * Tasks within a play
  * Handlers for the play

[2018-08-28 00:26] AnilKongariMSFT commented on #13895
@simeyla, Since you are executing this on consumption based plan, Please try SingletonMode.Listener setting, this is to ensure only a single instance of the function is running when the app scales out to multiple instances, this setting ensures only one instance acquires the lock and only one listener starts.

below is updated snap of your code with SingletonMode.Listener setting.

    [Singleton(

[2018-08-28 00:26] #13895 closed

[2018-08-28 00:27] MicahMcKittrick-MSFT commented on #14069
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-28 00:27] MicahMcKittrick-MSFT commented on #14070
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-28 00:28] HJToland3 commented on #13656
@Noiskee - Yes this is on our roadmap, and we should be able to get to it relatively soon, though we don't have a specific timeline yet.

[2018-08-28 00:42] agvardha opened #14079 "Is it possible to insert our Perfmon counter to monitor"
Hello,
I have been reading lot of Azure Stack Monitoring. I just listened to Charles Joy's video too https://www.youtube.com/watch?v=juAv3o7_CZU  to I had two questions.
1. Suppose I want to monitor a counter that is not listed. For example \Processor Information(*)\Clock Interrupts/sec how do I do that? Is there a procedure to introduce our own custom counter for Diagnostics.
2.  I just installed

[2018-08-28 00:54] SBudo opened #14080 "Encrypting Disk on existing VM example does not work"
Hi,
The PowerShell script included in the document to encrypt an existing VM ("Enable encryption on existing or running VMs with Azure PowerShell"), still requires an AAD application to run (the command return an error).
Cheers,
Stephane

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c63605-95f5-0953-3cf6-1e9c50532c1

[2018-08-28 00:59] RanchMobile commented on #11515
@Phydeauxman or @TravisCragg-MSFT have you found the solution to the problem related to single domain (app.mydomain.com) with path based (app.mydomain.com/app1 , app.mydomain.com/app2) routing to different web apps?

[2018-08-28 01:03] dcbrown16 opened #14081 "Broken links"
None of the links in "Custom cluster setup" go anywhere (they point to nonexistent headings on this page).
Can they be corrected to link to the intended pages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86061ff8-2c49-bccb-0550-4950094e08b4
* Version Independent ID: e6f22286-e23a-364d-6e1d-4e39baf7f983
* Content: [C

[2018-08-28 01:15] CarlRabeler commented on #9110
@rbrussaard PR pending - thank you

[2018-08-28 01:16] CarlRabeler commented on #9252
PR merged

[2018-08-28 01:16] CarlRabeler commented on #9252
#please-close

[2018-08-28 01:25] CarlRabeler commented on #14018
@kazshi Updated the note to reflect current reality

[2018-08-28 01:26] CarlRabeler commented on #14018
#please-close

[2018-08-28 01:26] JasonWHowell commented on #14081
@dcbrown16 Thanks for the feedback. I should be able to fix this and have it published in the morning. Thanks, Jason

[2018-08-28 01:28] KeiroKamioka0000 opened #14083 "Dead Link while document is in Japanese"
Such as Link contains in &lt;Remove Antimalware Configuration Using PowerShell cmdlets?&gt;
When the document language is set in Japanese, it will display 404 error page.

Please fix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39836c50-a16b-55c4-e088-566f83af1d86
* Version Independent ID: 7f581c98-fb53-3cf2-bfc5-556

[2018-08-28 01:29] KeiroKamioka0000 commented on #14083
When the language is in English, the links work fine.
This occurs when the language is in Japanese.

[2018-08-28 01:29] CarlRabeler commented on #11970
PR to remove link is pending: https://github.com/MicrosoftDocs/azure-docs-pr/pull/50226
@steronc thanks for pointing this out - course has been retired

[2018-08-28 01:30] CarlRabeler commented on #12038
No action required.
#please-close

[2018-08-28 01:31] Mike-Ubezzi-MSFT commented on #14079
@agvardha Thank you for your interest in Azure Stack. Did you have a chance to look over the [Azure Stack diagnostics tools](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-diagnostics) documentation?

In regards to adding Perfmon counters, we are actively investigating and will get back to you soon.

[2018-08-28 01:32] CarlRabeler commented on #7698
@loopfish @ToddChitt Instructions are under development - stay tuned

[2018-08-28 01:39] mrbullwinkle commented on #14071
@AddedInnovation thanks for reaching out with your issue.

 I just tested from Chrome and Edge on computers both inside and outside the Microsoft network and the link works fine for me with the download kicking off.

I would test again. If the problem persists it may your local network/security settings are blocking the download of the .exe file from starting.

[2018-08-28 01:40] Mike-Ubezzi-MSFT commented on #14042
@kpako396p Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-28 01:40] kazshi commented on #14018
@CarlRabeler I see it's changed to "For a limited period" - does it mean that the charges are still free and no specific period?

[2018-08-28 01:42] Mike-Ubezzi-MSFT commented on #14073
@jjgriff93 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 01:42] shankaritpro opened #14084 "Invalid count specified at interchange, group, or message levels - logic apps"
hi,

I am sending a orders file as below to a logic apps and i get "Invalid count specified at interchange, group, or message levels"

UNA:+.? 'UNB+UNOA:3+1234567890:ZZ+TESTI:ZZ+180816:1047+92+LL:LL+++1'UNH+11+ORDERS:D:96A:UN:EAN008'BGM+50E+60297480+9'DTM+137:20180816:102'DTM+64:20180824:102'DTM+63:20180824:102'FTX+PUR+3++BOOKED-24/08/18 0800'NAD+BS+290::92'LIN+00010++9330130000375:EN'QTY+21:42'PR

[2018-08-28 01:44] CarlRabeler commented on #8180
@djpirra Document now clearly states that multiple log files are not supported

[2018-08-28 01:44] CarlRabeler commented on #8180
#please-close

[2018-08-28 01:46] CarlRabeler commented on #9080
@skreebydba This appears to have been resolved. If not, please let me know. Thank you.

[2018-08-28 01:46] Mike-Ubezzi-MSFT commented on #14072
@ljliu2k Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 01:48] VenkatGowrishankar opened #14085 "Incorrect Auth URL endpoint?"
https://login.microsoftonline.com/&lt;APPID&gt;/oauth2/token - should it not be {TenantID} in place of &lt;APPID&gt; and the app id being passed in as query parameter(client_id)?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa82acc4-680a-1431-f4fc-4848e8efe2ce
* Version Independent ID: fbf31137-c536-2d90-3a76-bca7cd8

[2018-08-28 01:49] CarlRabeler commented on #10694
Fixed and merged

[2018-08-28 01:49] CarlRabeler commented on #10694
#please-close

[2018-08-28 01:51] CarlRabeler commented on #12214
@fmorriso I am investigating this issue

[2018-08-28 01:54] Mike-Ubezzi-MSFT commented on #14067
@DMoonesinghe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 01:55] Mike-Ubezzi-MSFT commented on #14075
@vicperdana Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-28 01:56] #12038 closed

[2018-08-28 01:57] CarlRabeler commented on #14018
@kazshi still free until further notice - and advance notice of any charges will be provided

[2018-08-28 01:57] CarlRabeler commented on #14018
#please-close

[2018-08-28 01:59] kazshi commented on #14018
Got it. Thank you for the update.

[2018-08-28 01:59] #14018 closed

[2018-08-28 02:00] CarlRabeler commented on #9110
merged
#please-close

[2018-08-28 02:01] Mike-Ubezzi-MSFT commented on #14080
@SBudo Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-28 02:01] CarlRabeler commented on #13255
fixed and merged
#please-close

[2018-08-28 02:01] CarlRabeler commented on #13399
merged
#please-close

[2018-08-28 02:02] CarlRabeler commented on #9080
#please-close

[2018-08-28 02:07] Mike-Ubezzi-MSFT commented on #5533
@JasonSingh We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-28 02:07] #5533 closed

[2018-08-28 02:08] #14081 closed

[2018-08-28 02:09] Mike-Ubezzi-MSFT commented on #13399
@dmti-mark We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-28 02:09] #13399 closed

[2018-08-28 02:10] Mike-Ubezzi-MSFT commented on #13875
@aquibqureshi26 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-28 02:10] #13875 closed

[2018-08-28 02:11] #13941 closed

[2018-08-28 02:27] Mike-Ubezzi-MSFT commented on #14083
@KeiroKamioka0000 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 02:32] Mike-Ubezzi-MSFT commented on #14084
@shankaritpro Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-28 02:36] Karishma-Tiwari-MSFT commented on #13862
@jpalo Hope the links shared above helped.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-28 02:36] #13862 closed

[2018-08-28 02:36] CarlRabeler commented on #9080
@Mike-Ubezzi-MSFT Sorry, I misread this. Need to get Borko or Jovan to respond. I will try to get some clarity.
Carl

[2018-08-28 02:49] barclayn commented on #14083
@KeiroKamioka0000 could you send the exact link as you are typing it?

[2018-08-28 02:51] KeiroKamioka0000 commented on #14083
@barclayn

Japanese version Link will be the following

Azure Cloud Services および Virtual Machines 向け Microsoft マルウェア対策
https://docs.microsoft.com/ja-jp/azure/security/azure-security-antimalware

https://docs.microsoft.com/ja-jp/azure/security/azure-security-antimalware#remove-antimalware-configuration-using-powershell-cmdlets

[2018-08-28 03:00] barclayn commented on #14083
@KeiroKamioka0000 Thank you for this. If you look at the Japanese version of the article and compare it to the English version of the article the URLs are different. The en-us version points to docs and the ja-jp version points to msdn. Thank you for letting us know. I will see how we can fix that. FYI when I change the en-us URL to ja-jp the article works in English with a message in Japanese at

[2018-08-28 03:15] yuwzho commented on #10150
Yes, the yaml runs into wrong indentation, we will have a quick fix for it

[2018-08-28 04:06] femsulu commented on #13779
@andyjballgit Azure Monitor supports creation of alerts based on metrics and log events for both new and classic resources. In Portal,  select the target VM resources (or resource group) under "**define alert condition**">>and select the log or metric you would like to alert on including other relevant alert criterias (e.g CPU usage %). There's a list of metrics & logs you can select. Lastly, you

[2018-08-28 04:06] barclayn commented on #13699
@andyschan Thank you for your feedback. I have updated the article.

[2018-08-28 04:06] barclayn commented on #13699
#please-close

[2018-08-28 04:07] femsulu commented on #13779
we will now close this issue. Please reply to @femsulu if you have any followup questions and I will be happy to continue the conversation.

[2018-08-28 04:07] #13779 closed

[2018-08-28 04:09] barclayn commented on #12867
@zahidfaroq Thank you for your feedback. I have made updates to the article based on your comments. They should be live within 24 hours. If there are any other updates that should be made after that please let us know.

[2018-08-28 04:10] barclayn commented on #12867
#please-close

[2018-08-28 04:27] veyalla commented on #14026
@Jan-Olof we are currently working these. Would you require them in packages.microsoft.com repository or the [azure-iotedge releases](https://github.com/Azure/azure-iotedge/releases) page?

[2018-08-28 04:35] koman commented on #13940
Morning Micah,

I think what I'll try today is to create a separate cluster (leave this one
as is) and attempt the tutorial again. I'll let you know how I get along
later.

Thanks,
Koman

On Mon, 27 Aug 2018 at 21:43, Micah <notifications@github.com> wrote:

--
Kind regards,
Koman Rudden

[2018-08-28 05:08] SaurabhSharma-MSFT commented on #14043
@scott87z I am able to run these commands without any issues.  Please make sure you are passing the correct objectId of the application.  Also, I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question - https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazure

[2018-08-28 05:11] SnehaGunda commented on #13626
@benoitc we will proceed to close this issue, please reopen if you need additional support.

#please-close

[2018-08-28 05:30] SnehaGunda commented on #13837
@guerrieroi  @CeciAc the elevation of each volcano is a region has different value and the size of the bubble should vary too.

![image](https://user-images.githubusercontent.com/14284405/44702534-c8523c80-aa48-11e8-937d-6d23c2247d53.png)

[2018-08-28 05:35] infosatheesh2020 opened #14086 "Azure File Sync firewall whitelist URLs for India regions is missing"
Azure File sync service region availability shows it is available in India regions

https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-planning#region-availability

But the exact Azure file sync URL in region wise guidance is missing in the list: https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-firewall-and-proxy#firewall

Kindly update\\

---
#### Docum

[2018-08-28 05:45] Anmolgan81 commented on #14025
Hi @micah

Okay, let me test it out and get back to you on thr same.

Fee questions that I have for you on this part:
1. So after capturing the image of managed disks how can I use that image to build a vm scale set?
In this case I dont have a vhd uri, that only gets created when we are using vm scale set using unmanaged disks.

2. Suppose I have a few data disks then copying all of them to csp an

[2018-08-28 05:49] KeiroKamioka0000 opened #14088 "Port Number for 168.63.129.16"
What port number should be opened for IP 168.63.129.16 ???
Is it will be 80 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3fc12b4
* Content: [Azure security groups overview](https://docs.microsoft.com/en-us/azure/virtual-netw

[2018-08-28 05:52] leakymutant commented on #13049
<img width="958" alt="screen shot 2018-08-28 at 12 50 39 am" src="https://user-images.githubusercontent.com/30503489/44703258-94811200-aa5c-11e8-9e1b-6af1794807a4.png">

[2018-08-28 05:53] tsullyman commented on #13094
Any followup/s to this?

[2018-08-28 06:05] JagadeeshLankireddy opened #14094 "fgfhf"
zcjff

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f361d65c-f3fe-8561-5577-1d25a62416ae
* Version Independent ID: c64ca1c7-e318-7b0d-ed2e-147151ccd48f
* Content: [SQL Server database migration to Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-cloud-migrate)
* Content Source: [art

[2018-08-28 06:14] dishajain1211 commented on #13922
No other challenges! Thanks for the help.

[2018-08-28 06:51] pallavijadhav1429 commented on #14035
Thanks.

[2018-08-28 06:51] dcbrown16 opened #14096 "Clarity regarding scope"
"Users that are granted this operation on all the AssignableScopes of the custom role can update custom roles in those scopes. For example, Owners and User Access Administrators of subscriptions, resource groups, and resources."
In other words, does this mean "In order to create (delete, assign) a custom role for a given scope, you must have permission to the Microsoft.Authorization/ roleDefinitio

[2018-08-28 07:00] guerrieroi commented on #13837
Thanks for your reply.
I'm talking about the sum aggregation function that is not available in power bi. I can see only Count function. See picture below:

![image](https://user-images.githubusercontent.com/26768639/44706059-b3a19300-aaa0-11e8-898d-f6871e3277af.png)

[2018-08-28 07:10] tangzhengyue opened #14097 "Can't find the Event Grid under my namespace"
I can't find the Event Grid under my namespace. And I already added myself into the Contributor AIM. Do you know why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e25005c-06da-1e87-ab0d-05f641d7e795
* Version Independent ID: 34e6baf1-71a3-bbef-05da-2923b77cf203
* Content: [Azure Service Bus to Event Grid integration

[2018-08-28 07:11] bubbletroubles opened #14098 "Sentance context"
The sentance "Customers must consider the security implications of using on-premises resources." is a bit out of context - i would have thought that customers must consider the security implications of using cloud services, or hybrid on-prem and cloud.

In the list of Azure services, "Network security groups" are listed twice (and the list is not alpha sort)

the "Azure Network Watcher" link isn't

[2018-08-28 07:12] bramvdklinkenberg opened #14099 "acme: authorization for identifier <name>.westeurope.cloudapp.azure.com is invalid"
**Azure service:**
- AKS

**Documentation link:**
- https://docs.microsoft.com/en-us/azure/aks/ingress

I am trying to get cert-manager working and followed the instructions according to the documentation link but I keep getting the following error:

**This is the log of the cert-manager pod:**

I0828 07:03:32.397988       1 controller.go:177] certificates controller: syncing item 'default/tls-sec

[2018-08-28 07:13] bramvdklinkenberg commented on #14099
I have k8s version 1.11.1 running on the cluster with default networking.

[2018-08-28 07:44] mortoncraig opened #14101 "Guest User and GDPR"
A guest user to the resource observes their home directory branding, meaning the Target Resource ToU may not be in compliance with GDPR principles?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618ca851-56c8-5ba1-35de-a7b8e7af8aa2
* Version Independent ID: 5facc663-2e29-65ad-f208-982150351b22
* Content: [Azure Active

[2018-08-28 08:19] dcbrown16 opened #14102 "VNet Integration and scaling out"
Does scaling out a Web App have any impact on VNet integration?
From my understanding, the IP ranges defined are for the VNet side, and particularly the point-to-site address block defines IP addresses that would be incoming from the web app point of view.
For outgoing traffic from the web app to the VM, they would still use the outbound IP addresses in the web app properties, right?

---
#### Doc

[2018-08-28 08:22] dishajain1211 opened #14103 "Problem in step 1"
I am not able to authorize the API call.
shows error:
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0103	The name 'faceServiceClient' does not exist in the current context	Face	C:\Users\This PC\source\repos\Face\Face\MainWindow.xaml.cs	24	Active

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5f

[2018-08-28 08:26] herrbpl commented on #12813
Hi Craig, Mohit.
I was hit with this just recently and can confirm -
* You have organizational email domain (say xyz.org) and
* you create Microsoft Account with it (say siim@xyz.org) and not with well-known mail provider email address (gmail, hotmail etc)
* you have AAD (Say xyz.onmicrosoft.com) but not with verified domain (like xyz.org)
* Now as AAD admin, you add guest user (say siim@xyz.org)

[2018-08-28 08:35] Mike-EEE commented on #6242
Any comment @MicahMcKittrick-MSFT ? @nabhishek ?

[2018-08-28 08:53] Phydeauxman commented on #11515
@RanchMobile yes, we have been able to make this work with a single Path based rule.  There are 2 things missing from the Terraform resource that are needed to make this happen.  1) Terraform is not writing the app name to the HostName field of the HTTP Setting object, and 2) Terraform needs the ability to set the "Override backend path" field on the HTTP Setting object.  When we manually configur

[2018-08-28 10:19] imraxy commented on #13929
the above method dosen't work, I am getting

connect_ex() takes exactly one argument (2 given)
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 197, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 369, in execute
    six.reraise(*sys.exc_info())
  File "

[2018-08-28 10:49] balait01 opened #14105 "Windows Analytics Management Solution move from OMS to Azure Portal"
Does Windows Analytics Management Solution is completely migrated to Azure Portal. I am not able to find any details on Windows Analytics Management Solution migration from OMS to Azure Portal i.e, in Azure Marketplace

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c04951f-ef92-c32f-50b7-ee33119531cf
* Version Indepen

[2018-08-28 10:52] zahidfaroq commented on #12867
@barclayn Thankyou

[2018-08-28 10:52] #12867 closed

[2018-08-28 10:53] balait01 opened #14106 "Azure Log Analytics Workplace - Logs (Preview)"
Azure Log Analytics Workplace -  Logs (Preview) -&gt; Unable to find the documentation on this new Preview Feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15541087-a0cc-94a1-7e75-0d69ca1c7864
* Version Independent ID: 430c0f69-1aba-1aa3-561e-0e774c0541e0
* Content: [Log searches in Azure Log Analytics](https://d

[2018-08-28 10:54] tangzhengyue opened #14107 "Is the dead letter queue a sender perspective or receiver perspective?"
I am not understand about: Is the dead letter queue a sender perspective or receiver perspective?
For example, I have a topic and two subscriber. If a message comes, subscriber 1 processed it successfully, while subscriber 2 processed it failed and subscriber 2 put it into the dead letter queue.
Both subscriber 1 and 2 may check the dead letter queue periodically, can subscriber 1 see the message

[2018-08-28 11:20] TerryDiederich opened #14108 "Need Cross Platform Example"
.Net Core is a cross platform tool. You can create applications on Windows, Mac, and Linux. The example should not require Visual Studio, which is Windows only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d445808-e61d-ccc2-3696-ef3ea109a662
* Version Independent ID: 8a9e706a-c350-1271-dcb8-883e166423b4
* Content: [

[2018-08-28 11:27] cowinr opened #14109 "Use SendGrid with Java Functions"
Would be great to show an example of using SendGrid from a Java function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f981eebe-0bfe-a4eb-0dc5-8703df171f80
* Version Independent ID: c0cbd00a-defe-8856-9f4f-b66895d53ca0
* Content: [How to use the SendGrid email service (Java)](https://docs.microsoft.com/en-us/azure/st

[2018-08-28 11:35] tangzhengyue opened #14110 "Does the Azure function process message one by one or in parallel with multiple instance?"
When I create an Azure function and bind to Event Grid to react the Service Bus messages. If Service Bus send many messages quickly in a short period, does these messages been processed by Azure Function one by one, or the Azure Function will create an individule instance to response a single message which act like working in parallel?
Can I force them to be processed one by one in Azure Function?

[2018-08-28 12:11] Anmolgan81 commented on #14025
Hi @MicahMcKittrick-MSFT

I have managed to take the snapshot of the vm scale set, one thing I dont understand how should I go about selecting the scale set instance? Like what instance number should I select?

[2018-08-28 12:29] larrybud2004 opened #14113 "azure agent needs a progress bar"
The main problem is that the azure back up agent has no progress bar.  I'm *20 hours* into a backup of a laptop, with X gig transferred, but I have no idea how large the back up is to begin with.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59156518-1b9d-d0bb-5dea-6a88e39150ef
* Version Independent ID: 3a4f2440-52eb-

[2018-08-28 12:36] Anmolgan81 commented on #14025
Hi @MicahMcKittrick-MSFT

So I followed the steps but I am unable to use the image of the vmscale set in creating the new vm scale set. Am getting the below error:

`{
  "error": {
    "code": "NotFound",
    "message": "The Image '/subscriptions/673c5c31-ef71-4317-80c4-f4e2d3a0a4bf/resourceGroups/Anmol-RG/providers/Microsoft.Compute/images/ubuntuscaleset-image-20180828174222' cannot be found."

[2018-08-28 12:48] DennisRutjes opened #14114 "endpoint user configuration is wrong"
https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration has a json response with the userinfo response of
"userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",

this endpoint does not give a good user info response : {"sub":"... redacted ....."}

The endpoint: https://graph.microsoft.com/v1.0/me/

did give a proper response. Is this  "userinfo_endpoint": "https:/

[2018-08-28 12:58] OxHobbs commented on #10150
I submitted a PR last night to fix it #14078

[2018-08-28 13:26] grik001 opened #14115 "The pricing tier 'PremiumContainer' is not allowed in this resource group."
Hi,

Is it possible to release a Premium V2 App Plan from an ARM Template?

![image](https://user-images.githubusercontent.com/27157850/44725879-ba4afd00-aad6-11e8-9103-b500464f2e0f.png)

[2018-08-28 13:49] jtuliani opened #14116 "Managed vs unmanaged disks?"
There are many comments in this article about planning backups to avoid storage throttling. But it is not clear if this is to avoid throttling the storage account used by the VMs (in the case of unmanaged disks) or the storage account used under-the-hood by the Recovery Services Vault.
 This needs to be clarified. In particular, if I'm using managed disks, which parts of the advice still apply?

-

[2018-08-28 13:59] birdnathan opened #14117 "App Password issue"
Anybody else seeing an issue where user's arent able to create App Passwords when Preview Features are targetted to "All Users" in the AAD Tenant? App Passwords are allowed in my tenant just dont get the option to create one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ad4424-8d90-7947-2f95-aec67acfec45
* Version

[2018-08-28 14:04] cijothomas opened #14118 ".Net Standard vs Framework"
Instructions referring to ApplicationInsights.config are only applicable to apps that are targeting .NET Standard, and do not apply to .NET Core applications.

This should be corrected to say
Instructions referring to ApplicationInsights.config are only applicable to apps that are targeting .NET Framework, and do not apply to .NET Core applications.

---
#### Document Details

⚠ *Do not edit this

[2018-08-28 14:08] sergaz-msft commented on #8723
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-28 14:08] #8723 closed

[2018-08-28 14:19] captaingig opened #14120 "Document Update Request"
Configuration step 4.b. does not take into account the new client types under "Mobile apps and desktop clients". I suspect that you should select "Modern authentication clients" as well in this step. Pls2update doc, kthx!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1d67eec-b53c-4bbc-b160-b3fb8fca5ff4
* Version Inde

[2018-08-28 14:29] sergaz-msft commented on #12418
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-28 14:29] #12418 closed

[2018-08-28 14:29] cephalin commented on #12659
@davidsk Thanks for confirming. #please-close

[2018-08-28 14:33] sergaz-msft commented on #13951
@ranasch I will follow the tutorial in order to try and reproduce your issue. Thank you for your patience!

[2018-08-28 14:40] cephalin commented on #10869
@asote I tested again today and made sure that the scenario works again now. I've made some minor updates to the doc to bring it in-line with the other quickstarts. It should be published in a few hours. #please-close.

[2018-08-28 14:40] cephalin commented on #12521
#please-close

[2018-08-28 14:46] barclayn commented on #12045
@kgreed Thank you for your feedback. The article layout has been updated based on your comments.

[2018-08-28 14:46] barclayn commented on #12045
#please-close

[2018-08-28 14:47] cephalin commented on #12522
@StingyJack The link in question in new apps have been updated to an appropriate URL. Please take a look and #please-close

[2018-08-28 14:52] artisticcheese opened #14121 "How do you execute ps1 files once they are edited in editor?"
Since all migrated to .NET core and runs on UNIX, I'm confused how do you execute ps1 files which you edited in editor?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42286006-6839-08fd-bc75-391e33edf058
* Version Independent ID: 61499ec3-299c-e044-1eb2-2a95ce807594
* Content: [Using the Azure Cloud Shell editor](https

[2018-08-28 15:04] sergaz-msft commented on #14097
@tangzhengyue thank you for your feedback! I want to make sure that you followed all the steps from the tutorial here: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-to-event-grid-integration-example ?

If your question was answered after following that tutorial I can close this issue. If not can you please clarify better what you mean by "can't find the Event Grid under

[2018-08-28 15:05] badalk commented on #5416
Can yo please elaborate if the service principal that is used by AKS to access ACR is same that is used to control AKS resources from Azure infrastructure. That is, the one documented here Vs the one that gets created automatically when creating through the portal.

I followed the steps documented here until the point where i have to create a service principal and assign Reader role to access ACR.

[2018-08-28 15:07] Anmolgan81 commented on #14061
@femsulu any updates on this??

[2018-08-28 15:10] badalk commented on #5416
Looks like I got cought between terminologies. At some place it is called appId and at some place it is referred as client ID. When configuring the existing service principal when I entered the client id, there was an indication of an error which got resolved when I switched to object ID. But I was wrong, i should have used the client / app id itself despite of the error indication on the configur

[2018-08-28 15:13] Mike-Ubezzi-MSFT commented on #14086
@infosatheesh2020 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 15:14] sergaz-msft commented on #14107
Thank you for your feedback @tangzhengyue. Your scenario will be better addressed if you post a new thread on [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=servbus) or [Stack Overflow](https://stackoverflow.com/search?q=%5Bazureservicebus%5D+dead+letter).  We have a very active community on both :).

Please take also a look at the following for further clarification and test sa

[2018-08-28 15:15] willatmicrosoft opened #14122 "Setup your Node.js app errors"
I received connection errors until I setup the connection using this format:

const mongoose = require('mongoose');

mongoose.connect('mongodb://&lt;cosmosdb-username&gt;.documents.azure.com:10255/&lt;databasename&gt;?ssl=true', {
    auth: {
      user: '&lt;cosmosdb-username&gt;',
      password: '&lt;cosmosdb-password&gt;'
    }
  })
  .then(() =&gt; console.log('connection successful'))
  .cat

[2018-08-28 15:15] hellangleZ commented on #13984
Like this scenario:

From: Micah <notifications@github.com>
Sent: Tuesday, August 28, 2018 1:02 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: hellangleZ <kobe19832002@sina.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] container directly connect to ILB ?(not through kube-proxy or import) (#13984)

@hellangleZ <https://github.com/hellangleZ>

[2018-08-28 15:16] DCtheGeek commented on #12650
@badalk Just checking in -- did my previous response guide you to what you were looking for?

[2018-08-28 15:17] sergaz-msft commented on #14107
Since this issue is outside the scope of this doc, we will now proceed to close this thread. You can reply back to this thread with the link to the thread created on MSDN or Stack Overflow so that others may look at it as well :). Thank you!

[2018-08-28 15:17] #14107 closed

[2018-08-28 15:18] hellangleZ commented on #13984
Not SLB connect to Kubernetes service-ip, just direct connect to CNI internal IP address of VNET

(CNI interface IP address could be in the same subnet which the VM is in )

From: kobe19832002@sina.com <kobe19832002@sina.com>
Sent: Tuesday, August 28, 2018 11:15 PM
To: 'MicrosoftDocs/azure-docs' <reply@reply.github.com>; 'MicrosoftDocs/azure-docs' <azure-docs@noreply.github.com>
Cc: 'Mention' <men

[2018-08-28 15:27] pulla2908 commented on #12891
@itorian In my case I have 2 service plans of F1 pricing tier (no premium). Apps are in same resource group and location. About same webspace I have no idea. I can not clone apps (because I don't have premium tier - If I try to perform this I get informed about upgrading to premium first - this is clear for me). But I can perform "change app service plan". No information/limitation about premium t

[2018-08-28 15:30] Mike-Ubezzi-MSFT commented on #14099
@bramvdklinkenberg Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-28 15:35] dominicbetts commented on #14035
We don't currently have any articles that describe how to implement this specific scenario. @tbhagwat3 from the product team may be able to provide more information.

[2018-08-28 15:36] fbruemmer73 opened #14123 "Unauthorized error message"
Hello, when I run this example, I'm getting the following error. My deviceId and connection string are correct. I can successfully invoke the method from Azure (IOTHub/Devices). Any idea what is causing this ? Thanks  Microsoft.Azure.Devices.Common.Exceptions.UnauthorizedException
  HResult=0x80131500
  Message={"Message":"{\"errorCode\":401002,\"trackingId\":\"84f2a56e7ab248f899af0a413f7b1a59-G:6

[2018-08-28 15:43] StingyJack commented on #12522
What's with the hashtag?

[2018-08-28 15:48] mrbullwinkle commented on #14118
Thanks @cijothomas I will get that change taken care of today.

[2018-08-28 15:49] Mike-Ubezzi-MSFT commented on #14115
@grik001 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-28 15:51] Mike-Ubezzi-MSFT commented on #14109
@cowinr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 15:56] #13861 closed

[2018-08-28 15:56] mike-urnun-msft commented on #14085
Hi @VenkatGowrishankar Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-08-28 15:57] Mike-Ubezzi-MSFT commented on #14109
@cowinr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 15:57] dominicbetts commented on #13957
@manchejs0 - can you confirm that this is the SimulatedDevice.js app that's giving you an error message? If so, can you share the output from the app. For reference, when I run the two apps I see:

[code]

And:

[code]
Thank you,
Dominic

[2018-08-28 16:02] Alberto-Vega-MSFT commented on #12659
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-28 16:02] #12659 closed

[2018-08-28 16:03] LisandroSu opened #14124 "暗号化ディスク復元時のSet-AzureRmVMDiskEncryptionExtensionの実行タイミング"
@katakura commented on [Tue Aug 28 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/676)

「復元されたディスクからの VM の作成」の章にて、暗号化されたディスクの復元時には「Set-AzureRmVMDiskEncryptionExtension」コマンドレットを実行する旨が追記されたようですが、章に記載の手順の流れから「New-AzureRmVM」による仮想マシン作成前に実行する手順に読めてしまいます。実際にはNew-AzureRmVM実行前にSet-AzureRmVMDiskEncryptionExtensionは実行不可(エラーとなる)と存じますので、記載順序の検討が必要かと。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。

[2018-08-28 16:03] Alberto-Vega-MSFT commented on #12522
@StingyJack hashtag is for requesting us to close the issue. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-28 16:03] #12522 closed

[2018-08-28 16:04] LisandroSu commented on #14124
Hi team,

Can you check on this is issue? Rough translation:

_In the chapter "Creating a VM from a restored disk", it seems that the execution of the "Set-AzureRmVMDiskEncryptionExtension" cmdlet was added when restoring the encrypted disk, but the flow of the procedure described in the chapter You can read from "New-AzureRmVM" to the procedure to be executed before creating the virtual machine.

[2018-08-28 16:04] Alberto-Vega-MSFT commented on #12521
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-28 16:04] #12521 closed

[2018-08-28 16:06] Alberto-Vega-MSFT commented on #12045
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-28 16:06] #12045 closed

[2018-08-28 16:08] Alberto-Vega-MSFT commented on #10869
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-28 16:08] #10869 closed

[2018-08-28 16:09] Alberto-Vega-MSFT commented on #10694
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-28 16:09] #10694 closed

[2018-08-28 16:10] Alberto-Vega-MSFT commented on #9110
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-28 16:10] #9110 closed

[2018-08-28 16:10] jason-j-MSFT commented on #13414
@bwren could you provide a link to where this has been rolled out?

[2018-08-28 16:14] mmacy commented on #13810
Hi @darylhurst, I'll request this issue be closed for now. However, if you feel your question's not been fully answered, please let us know how we can further assist, and we can re-open it.

@MicahMcKittrick-MSFT  #please-close thanks!

[2018-08-28 16:14] Alberto-Vega-MSFT commented on #8180
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-28 16:14] #8180 closed

[2018-08-28 16:15] mrbullwinkle commented on #14118
The update has been merged to the private repo. The change will go live in the public repo by 3:30 PM this afternoon.

[2018-08-28 16:17] jluk commented on #14121
@artisticcheese are you using the PowerShell Cloud Shell for this? The editor flow is similar to a text editor like nano/vim, once your script is saved and ready to be executed run the regular execution cmd in the terminal like .\myscript.ps1 for example.

+ @maertendMSFT from PS Cloud Shell team as FYI

[2018-08-28 16:20] declandata opened #14126 "Confusing Statements"
Hi. Is it just me or does the statement "Paying the SQL Server license per usage means that the per-second cost of running the Azure VM includes the cost of the SQL Server license" directly conflicts with the later statement "It does not include additional SQL Server licensing costs for Web, Standard, and Enterprise editions". If both statements are valid ... is the first statement missing an expl

[2018-08-28 16:20] #13810 closed

[2018-08-28 16:24] dagrkatyal opened #14127 "Access to ADLS using Power BI"
We need to provide access to self service users to the data in Lake. These users will connect to Power BI to explore the data. We have done following as per the documentation links
https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-security-overview
https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-access-control

Following are the steps taken

#1. ADLS Str

[2018-08-28 16:25] TomArcher commented on #10150
Thanks @javiersoriano and everyone for reporting and fixing this issue!

@MicahMcKittrick-MSFT This has been confirmed as a product group issue that they're fixing. The fix will not change the docs, #please-close

[2018-08-28 16:30] artisticcheese commented on #14121
Yes, trying to do it in cloudshell. Since it's hosted in Linux it does not work as simple as `.\myscript.ps1`

[2018-08-28 16:30] YutongTie-MSFT commented on #13922
@dishajain1211 Glad to know your issue solved!
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-28 16:30] #13922 closed

[2018-08-28 16:30] westmich opened #14128 "Web Based Azure ML Studio"
Not seeing anything on the web-based Azure ML Studio.  The updates page for it was last updated in March 2017.  Will this be discontinued?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 570174c0-ec43-ab79-2d1d-38903cb35df5
* Version Independent ID: 01a073f1-ad36-835a-b090-f0b2b3a7cabe
* Content: [What is Azure Machine

[2018-08-28 16:43] Adam-Smith-MSFT commented on #14113
@larrybud2004 I'd recommend leaving product feedback under: https://feedback.azure.com/forums/258995-azure-backup
This is checked proactively by the product team.
There is only an option to get the status whether a backup job has started or finished:https://docs.microsoft.com/en-us/azure/backup/backup-azure-monitor-vms#identify-appropriate-log
We will now proceed to close this thread. If there are

[2018-08-28 16:44] rothja commented on #14126
@declandata Thanks for the question. I can see why it is confusing. What we are trying to say in the note is that the estimate in the portal is only the VM cost and not the licensing. In other words, it is not accurate for SQL paid editions, because it doesn't take into account the SQL licensing. We're trying to avoid people making the mistake of thinking that it does and then getting a bigger bil

[2018-08-28 16:44] Adam-Smith-MSFT commented on #14116
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 16:46] SimonPuckeyAW opened #14130 "What am I missing about Adding Service Fabric 'Container Orchestrator Support'?"
So I add the above to a .netcore web api project, get a surprisingly slim Dockerfile and some SF looking config (but not as much as when I create a SF Container application from the template) and hit F5. The web api then debugs in IIS express (or self-hosted if I change the way it is run by the debugger). However I have no facility to then publish this container to my local service fabric cluster

[2018-08-28 16:51] rolyon commented on #14030
Hi,
Thanks for the feedback. I'll take a look.
#in-progress

[2018-08-28 16:51] #14113 closed

[2018-08-28 16:52] Adam-Smith-MSFT commented on #14075
@vicperdana Currently, Azure Files supports only the standard storage tier. We don't have timelines to share for premium storage and cool storage support at this time.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-28 16:52] #14075 closed

[2018-08-28 16:54] vasivara-MSFT commented on #14106
@balait01 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-28 16:55] vasivara-MSFT commented on #14105
@balait01 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-28 16:56] MicahMcKittrick-MSFT commented on #14025
@Anmolgan81 once you have created an image you can use that image in creating a scale set such as so

1. Go to Scale Sets in the portal and select Add
2, when you are on the create page you can select browse images
![image](https://user-images.githubusercontent.com/32313503/44737997-688b7e00-aaa8-11e8-8427-ab8380ff0473.png)

3. Select My Items
4. You should see a list of your available images
![im

[2018-08-28 16:56] Adam-Smith-MSFT commented on #14042
Azure storage(Including Azcopy) uses TLS 1.2 on public HTTPs endpoints but TLS 1.0 and TLS 1.1 are still supported for backward compatibility. More can be found here: https://docs.microsoft.com/en-us/azure/storage/common/storage-security-tls
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-28 16:56] #14042 closed

[2018-08-28 17:01] MicahMcKittrick-MSFT commented on #6242
@jason-j-MSFT can you help look into this one?

[2018-08-28 17:02] zaalion opened #14131 "I am getting the following error when trying to login to Azure Subscription"
Hello,

I am getting the following error when trying to login to the Azure Subscription in SSMS:

===================================

Exception has been thrown by the target of an invocation. (mscorlib)

------------------------------
Program Location:

   at System.RuntimeMethodHandle.InvokeMethod(Object target, Object[] arguments, Signature sig, Boolean constructor)
   at System.Reflection.Runt

[2018-08-28 17:02] #10150 closed

[2018-08-28 17:07] declandata commented on #14126
Hi Rothja. I can see now using the Pricing Calculator what you are describing. Let me think about the wording and come back to you in my AM. DC

[2018-08-28 17:07] LisandroSu commented on #14083
Issue moved to [MicrosoftDocs/azure-docs.ja-jp #677](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/677) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-28 17:07] MarileeTurscak-MSFT commented on #14120
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-28 17:07] Adam-Smith-MSFT commented on #14055
@toenie23 You can check if the SAS token has expired via the URI you are using:

`https://myaccount.blob.core.windows.net/sascontainer/sasblob.txt?sv=2015-04-05&st=2015-04-29T22%3A18%3A26Z&**se=2015-04-30**T02%3A23%3A26Z&sr=b&sp=rw&sip=168.1.5.60-168.1.5.70&spr=https&sig=Z%2FRHIX5Xcg0Mq2rqI3OlWTjEg2tYkboXr1P9ZUXDtkk%3D`

The "se" is the Expiry time that is set for the token. you can find more info

[2018-08-28 17:07] #14055 closed

[2018-08-28 17:08] MicahMcKittrick-MSFT commented on #13954
thanks @dkkapur!

@MikeChristensen does that help?

[2018-08-28 17:08] LisandroSu commented on #14083
Hi team,

I moved the issue to the ja-jp repo so we can work on it. You can close this issue.

Thanks!

[2018-08-28 17:08] MarileeTurscak-MSFT commented on #14114
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-28 17:09] MarileeTurscak-MSFT commented on #14117
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-28 17:09] maertendMSFT commented on #14121
@artisticcheese, I do not see a similar experience.  Are you sure you are in the same directory as `myscript.ps1`?  If so can you provide a screenshot?

[2018-08-28 17:10] mike-urnun-msft commented on #14102
Hi @dcbrown16 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-08-28 17:11] TravisCragg-MSFT commented on #14088
@KeiroKamioka0000 the safest thing would be to allow all ports from that IP. Most Health reporting will happen on port 443, but if you have health probes on a LB or App Gateway, it can change to 80 or any other port that you have configured.

[2018-08-28 17:11] MicahMcKittrick-MSFT commented on #13975
@asasine can you clarify the terms SSE and ADE? Just to make sure I am replying back correctly :)

[2018-08-28 17:11] MarileeTurscak-MSFT commented on #14101
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-28 17:12] MicahMcKittrick-MSFT commented on #13984
@iainfoulds could you possibly comment on this one?

[2018-08-28 17:12] MicahMcKittrick-MSFT commented on #14033
@hensilva any update on this?

[2018-08-28 17:13] MicahMcKittrick-MSFT commented on #14041
@github30 please see my above comment. I will close for now but when ready let me know and we can reopen and continue.

[2018-08-28 17:13] #14041 closed

[2018-08-28 17:14] DavidPrio commented on #14083
#please-close

[2018-08-28 17:15] MarileeTurscak-MSFT commented on #14098
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-28 17:15] Adam-Smith-MSFT commented on #14037
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 17:15] artisticcheese commented on #14121
![image](https://user-images.githubusercontent.com/13176884/44738969-12283a80-aabc-11e8-8d76-e05580793219.png)

[2018-08-28 17:15] bwren commented on #13564
The Service Fabric content is going through significant changes, so this may be getting addressed through those changes.  I'll confirm when I go through those changes.

[2018-08-28 17:16] Mike-EEE commented on #6242
Cooooooool thanks, team. :D

[2018-08-28 17:16] MarileeTurscak-MSFT commented on #13947
Please let me know if the thread helps. I would suggest posting this to MSDN rather than Github if you have not found a solution. I am going to close this out for now but if you would like to continue the discussion, please leave a comment and I will gladly reply. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-08-28 17:16] #13947 closed

[2018-08-28 17:17] Jan-Olof commented on #14026
@veyalla It's ok with the release page for now. We got the IoT Edge packages from there. (Though it's great to have all in the repository eventually.)

[2018-08-28 17:17] Adam-Smith-MSFT commented on #14014
@dmacpherson2  I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 17:17] bwren commented on #13564
#in-progress

[2018-08-28 17:18] garrytrinder opened #14132 "Incorrect URL pattern for "Manually post the request" section"
The pattern displayed will return a 404, it needs to be updated to

http://localhost:7071/runtime/webhooks/EventGridExtensionConfig?functionName={FunctionName}

/admin/extensions/ -&gt; /runtime/webhooks/

I found the answer by finding a closed issue in the Azure Functions Python Worker repo https://github.com/Azure/azure-functions-python-worker/issues/87

---
#### Document Details

⚠ *Do not edit

[2018-08-28 17:18] bwren commented on #12768
Haven't heard back so I suggest we close.

[2018-08-28 17:18] bwren commented on #12768
#please-close

[2018-08-28 17:21] AjkayAlan opened #14133 "Add TransportType=AmqpWebSockets As Example"
Under the section "Configuration using App.config", it may be helpful to add another example showing that you can also use **TransportType=AmqpWebSockets** on the end of your connection string if you want to use AMQP over WebSockets. I can't find much doc's stating if this is actually supported, but I verified it works as the default AMQP transport port is blocked in my enterprise but when using t

[2018-08-28 17:28] MicahMcKittrick-MSFT commented on #14070
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-28 17:28] maertendMSFT commented on #14121
Ah, I see the issue.  Since the `Azure:` drive is not actually a file system, the written file is saved to your home directory so it is persisted.  If you run `cd $HOME`, then you should be in the correct directory to run `.\hello.ps1`.

`ls` is no longer an alias for `Get-ChildItem` in PowerShell 6, as it is a built-in Linux command. We recommend using `dir` or `Get-ChildItem` as they retain the

[2018-08-28 17:29] bwren commented on #14106
https://docs.microsoft.com/azure/log-analytics/log-analytics-log-search-portals
https://docs.microsoft.com/azure/log-analytics/query-language/get-started-analytics-portal

[2018-08-28 17:30] aloysiustany opened #14134 "Service tags for cloud service ?"
The document do not talk about service tags for cloud service. How do I have NSG rules to restrict traffic only from a cloud service ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3fc12b4
* Content: [Azure security groups over

[2018-08-28 17:31] vasivara-MSFT commented on #14105
@balait01  I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 17:32] MicahMcKittrick-MSFT commented on #13968
@jackbond I have synced with @vturecek offline and been informed you are working with them on their GitHub repo. That is a better place to continue the conversation. I will close this for now as we are working with you already and in progress of updating the docs.

[2018-08-28 17:32] #13968 closed

[2018-08-28 17:38] asasine commented on #13975
[Azure Disk Encryption (ADE)](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-overview) and [Storage Service Encryption (SSE)](https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption).

As I understand it, "Encryption at Rest" generally refers to SSE, and OS-encryption (e.g. BitLocker) refers to ADE.

[2018-08-28 17:44] Anmolgan81 commented on #14025
Hi micah

I have followed the same steps that you have posted in your last comment, but I was unable yo create the vm scale set.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Micah <notifications@github.com>
Sent: Tuesday, August 28, 2018 10:26:40 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to move A

[2018-08-28 17:44] Alberto-Vega-MSFT commented on #14094
Closing this since it doesn't have any information on it and it seems like it was accidentally created. If you meant to actually post an issue, please provide us with information and tag me in your reply. We will gladly start the discussion and we will reopen the issue.

[2018-08-28 17:44] #14094 closed

[2018-08-28 17:44] kobulloc-MSFT commented on #14071
@AddedInnovation I'm seeing the same successful download that @mrbullwinkle is seeing.  I also suspect that it may be a local network or security setting that is blocking your download.

We are going to close this issue as resolved but if you have any further questions about the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-08-28 17:44] #14071 closed

[2018-08-28 17:46] YutongTie-MSFT commented on #14103
@dishajain1211 Hi, CS0103 is not a authorize related issue, it is:

The name 'identifier' does not exist in the current context

An attempt was made to use a name that does not exist in the class, namespace, or scope. Check the spelling of the name and check your using directives and assembly references to make sure that the name that you are trying to use is available.

Please refer to following

[2018-08-28 17:47] Adam-Smith-MSFT commented on #13982
@eugenes68 I've already reported this issue to the product team, The Oauth support is in Powershell “Azure.Storage” preview module with version “4.4.0-preview” or “4.4.1-preview”.
But since the latest official release “Azure.Storage” has version 4.5.0 (don’t have Oauth support), the support for it will be pushed by the end of September.
We will now proceed to close this thread. If there are furthe

[2018-08-28 17:47] #13982 closed

[2018-08-28 17:50] cdaniel96 opened #14135 "Please Update Resource Support Section"
At https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#resource-support you guys say that cross-subscription migration is not supported but this feature is supported since August, 23th according to Azure Blog https://azure.microsoft.com/en-us/blog/cross-subscription-dr/. Since it's possible to Recover VM cross subscriptions, then we suppose that migration is availabl

[2018-08-28 17:52] shawntabrizi commented on #13391
@trevor-schmidt I do not think I am the right person to answer your questions here. I am not intimately familiar with the Azure RBAC system. It might be best for your to open your question on StackOverflow or email me directly at shtabriz@microsoft.com and I can try and forward you around to the right folks.

[2018-08-28 17:53] Adam-Smith-MSFT commented on #13735
@123dev I'd highly recommend moving it to an issue within the Azcopy repo

[2018-08-28 17:54] barclayn commented on #10208
#please-close

[2018-08-28 17:55] veyalla commented on #14026
@Jan-Olof Yes, that is our goal too. For now, the releases page has been updated with moby RPMs. Enjoy!

[2018-08-28 18:00] Adam-Smith-MSFT commented on #13980
@SheridanLGrant wildcard search in Azcopy is not supported unfortunately. I created an internal bug to get some attention on this with the product team. I'll also encourage you to leave feedback here: https://feedback.azure.com/forums/217298-storage
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discu

[2018-08-28 18:00] #13980 closed

[2018-08-28 18:01] jluk commented on #14121
@maertendMSFT thx for the insight - I can see why this would be confusing for a user, can you open a PR on this doc detailing this issue? That behavior of Azure drive isn't easily inferred.

[2018-08-28 18:04] qianw211 commented on #14058
@iyerss @ellacroi pr entered to fix this!  Thx!

[2018-08-28 18:04] MohitGargMSFT commented on #10208
@dannradkov We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-28 18:04] #10208 closed

[2018-08-28 18:04] YutongTie-MSFT commented on #13658
@vashish76 Hi, I am sorry. What I mean is, when you try to do your project, which Microsoft document you are using for guidance? Please share the Microsoft document URL to me so that I can look into it. Thanks a lot.

[2018-08-28 18:05] 123dev commented on #13735
Thanks Adam-Smith
Done

[2018-08-28 18:06] Alberto-Vega-MSFT commented on #14131
Hi @zaalion Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author. If your issue is not related to a document I will recommend you to post it in the forum like MSDN or StackOverflow since those are the most appropiate channels.

[2018-08-28 18:08] SnehaGunda commented on #13626
@benoitc apologies, we will leave it open, I will ping Rafat to take a look at your question.

[2018-08-28 18:09] Mike-Ubezzi-MSFT commented on #13693
@LuisGonzalezLT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-28 18:14] Adam-Smith-MSFT commented on #13980
@SheridanLGrant I double checked with the Product group team, it's in the process of being added, but I don't have a definite time for the release of this feature.

[2018-08-28 18:15] zaalion commented on #14131
Hi Alberto, Sorry for missing that:

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-always-encrypted-azure-key-vault

[2018-08-28 18:15] kobulloc-MSFT commented on #13997
@tkumark I didn't see it at first either (as I was expecting to see it on the list on the left).  It's hidden on the right after you expand ASP.NET and web development:

![image](https://user-images.githubusercontent.com/37556655/44741958-814d6100-aab3-11e8-8bd7-d195a20b11e3.png)

We are going to close this thread as resolved but if there are any further questions regarding the documentation, plea

[2018-08-28 18:15] #13997 closed

[2018-08-28 18:16] MicahMcKittrick-MSFT commented on #14025
@Anmolgan81 can you email me offline so we can figure this out? mimckitt@microsoft.com

[2018-08-28 18:18] Mike-Ubezzi-MSFT commented on #13811
@sethmanheim Are you able to provide any additional input with regard to the `Server Errors` metric? What is the process for investigating the data that this metric is providing?

[2018-08-28 18:20] MicahMcKittrick-MSFT commented on #13971
@operationslazlo326 @jackbond

We are getting a responce to #13993 shortly.

As per this one I was informed it is being taken offline on the SF github repo directly. Just as #13968 is. Hence will close this one and let you work with the product group members directly on their repo.

[2018-08-28 18:20] #13971 closed

[2018-08-28 18:21] StingyJack opened #14136 "Where is the ability to make an on-demand backup of the database?"
I want to backup the db immediately prior to running an upgrade script, in case I have to revert to the backup. This was easy to find in SSMS for non-Azure SQL servers, but exporting to a BACPAC seems to be the only option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21
* Version In

[2018-08-28 18:28] Adam-Smith-MSFT commented on #13897
@ggirard07 Ah I see, did the user try to sign out and sign back in to storage explorer by any chance ? Does the refresh shows anything? Does this apply to the EXE and the portal version as well ?

[2018-08-28 18:29] qianw211 commented on #14057
@iyerss @ellacroi pr entered to fix this.

[2018-08-28 18:29] tony-gutierrez commented on #13811
I was told in a call with MS yesterday that there is not currently a way to access these logs. At a minimum I would suggest noting that there is no centralized access, and indicating that the errors would have been reported to the client, at the time they were thrown. For example amqp errors, etc

[2018-08-28 18:29] barclayn commented on #12035
@kgreed Thank you for your feedback. The try it option was just added and should be live in the next 24 hrs.

[2018-08-28 18:29] barclayn commented on #12035
#please-close

[2018-08-28 18:34] Jan-Olof commented on #14026
Great! Thanks!

[2018-08-28 18:34] #14026 closed

[2018-08-28 18:45] jason-j-MSFT commented on #13414
@bwren found it:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-log-search-portals

[2018-08-28 18:51] femsulu commented on #14096
@dcbrown16 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-28 18:53] NateCrabb opened #14137 "Recursive Next Step"
This article has a recursive link to the same page. The link is labeled "Create a function triggered by Storage queue messages"

It seems funny to redirect someone back to the same page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af2152a5-8ed9-4006-6a86-3a59af0dab6b
* Version Independent ID: b2662f47-bc0e-c83d-38f2-

[2018-08-28 18:59] Mike-Ubezzi-MSFT commented on #13856
@coolshrawan Have you had a chance to read this blog post: [Migrating to Azure SQL Database with zero downtime for read-only workloads](https://azure.microsoft.com/en-us/blog/migrating-to-azure-sql-database-with-zero-downtime-for-read-only-workloads/)
The zero downtime use case is supported for a read-only workloads.

[2018-08-28 19:04] MohitGargMSFT commented on #13890
@mansyno We will now proceed to close this thread.

[2018-08-28 19:04] #13890 closed

[2018-08-28 19:05] MohitGargMSFT commented on #14004
@ashrayvk We will proceed to close this thread. Please let me know if you have any further questions regarding this matter.

[2018-08-28 19:05] BrainSlugs83 commented on #12971
Bump?

[2018-08-28 19:05] #14005 closed

[2018-08-28 19:07] craigg-msft commented on #7985
@anumjs is this ready to be closed? triage team, please assign this item to @anumjs

[2018-08-28 19:09] Arash-Sabet opened #14138 "Further clarification on partitioning Premium tier"
As you know SessionId can be used to partition a topic or queue. The first bullet point in "Partitioned entities limitations" section of this article reads as "Partitioned queues and topics are not supported in the Premium messaging tier.". The pricing table available at https://azure.microsoft.com/en-ca/pricing/details/service-bus/ indicates that Sessions are supported in Premium tier too. To me

[2018-08-28 19:11] gtrifonov opened #14139 "Readme link is broken"
https://github.com/Microsoft/microsoft-iot-central-firmware/blob/master/RaspberryPi/README.md returning 404.
Link should point to https://github.com/Azure/iot-central-firmware/blob/master/RaspberryPi/README.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9195da5-634f-e46f-4af3-4e8e1b7c4690
* Version Independent ID:

[2018-08-28 19:11] MohitGargMSFT commented on #14080
@SBudo Yes, you are correct in your observation. As mentioned in the start of the document - Before you can use disk encryption, the [Azure Disk Encryption prerequisites](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-prerequisites) need to be completed.

[2018-08-28 19:16] MikkelHegn commented on #14130
@BigMorty @dbreshears
You should see a Service Fabric Application project in your solution, which should be set as the startup project. Did that not happen?

[2018-08-28 19:19] mrbullwinkle commented on #14118
This change made it into the 12 PM publish window and is already live. I will have CXP close this out.

[2018-08-28 19:19] mrbullwinkle commented on #14118
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-28 19:21] Mike-Ubezzi-MSFT commented on #14136
@StingyJack You are going to use the Azure Portal to export a .bacpac file to an Azure Storage account or local: [Export an Azure SQL database to a BACPAC file](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-export)

![screenshot 218](https://user-images.githubusercontent.com/37126106/44745537-d8a3ff00-aabc-11e8-8294-90db0f54c684.png)

I hope this helps. Regards, ~Mike

[2018-08-28 19:29] mike-urnun-msft commented on #13746
Hi @sparsematrix Thank you for reporting this issue. I have repro-d and validated this issue, and agree that description text for `split()` function needs to change to communicate its operation more accurately. As next step, we have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-28 19:33] TravisCragg-MSFT commented on #14134
@aloysiustany could you please give me some more information about what you are trying to accomplish? Are you trying to restrict traffic to/from a cloud service, or are you looking to allow traffic from a cloud service to your Azure VNET?

[2018-08-28 19:40] sethmanheim commented on #13811
@Mike-Ubezzi-MSFT I am not working on the Service Bus docs anymore, so cc'ing @spelluru. He might be able to ask the engineering/PM team for some clarification on this metric (the article was originally written by Bahram). It might also be worth asking our CSS contacts if they have more info about server errors.

[2018-08-28 19:40] Karishma-Tiwari-MSFT commented on #14137
@NateCrabb Thank you for the feedback.
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 19:44] Cojacfar opened #14140 "Transparency when using the script"
When following the instructions, it's unclear exactly what the Script sets up. It's not always reasonable to run the script in different environments, and it would be nice to know how to configure the KeyVault through the Portal (or just individual Powershell commands).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad

[2018-08-28 19:53] douglaslMS commented on #12253
@gstream1 We are adding info to the page about the limitation that you encountered. Thanks for bringing this to our attention.

[2018-08-28 19:54] douglaslMS commented on #12253
#please-close

[2018-08-28 20:02] GraemeMalcolm opened #14141 "MergeSkill data type"
The sample code in the TextMerger doc uses the @data.type value "#Microsoft.Skills.Util.TextMerger", but to get this to work I had to specify "#Microsoft.Skills.Text.MergeSkill" (also for the REST API , true needs to be 'true' or "true"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62e5aae3-ec3a-e3b9-6437-25cdd99336ae

[2018-08-28 20:04] LuisCabrer commented on #14141
Thanks @GraemeMalcolm , will fix later today...

[2018-08-28 20:04] abegel opened #14142 "Incorrectly formatted tutorial link"
The link to the tutorial on this web page is incorrectly formatted. It says:
"https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/(https://github.com/Azure/DevOps-For-AI-Apps/blob/master/Tutorial.md)"

The correct link is the one in parens, above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-08-28 20:11] vladkosarev opened #14143 ""Make sure to use b2clogin.com instead of login.microsoftonline.com if you are using it in your application.""
That line is confusing, you likely mean {tenant}.b2clogin.com
That does not seem to work though. Callback url can point to b2clogin.com and b2c just throws errors if that url is used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 383fed5d-cba7-610d-8ce8-0329a45cfa2c
* Version Independent ID: 52da97ee-890c-b696-d532-2a

[2018-08-28 20:12] TravisCragg-MSFT commented on #14002
@itzikstein Please [review this document about geo-replication & VNET Service Endpoints](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-geo-replication-overview#failover-groups-and-network-security).

VNET Service Endpoints will only enable access to a specific region, so your new region will have connectivity ssues. If you would like us to add this feature in the future, [please

[2018-08-28 20:14] ellacroi commented on #14057
Feedback accounted for in Qian's branch, #pleaseclose this one

[2018-08-28 20:17] ellacroi commented on #14058
Being triaged in Qian's PR. # please close

[2018-08-28 20:17] ellacroi commented on #14056
@qianw211  please also take a look at this feedback and make a change

[2018-08-28 20:31] vladkosarev opened #14144 "Clarify URL changes"
"You can remove all references to Microsoft in your URL (you can replace &lt;YourTenantName&gt;.onmicrosoft.com with your tenant ID). For example: https://&lt;tenantname&gt;.b2clogin.com/tfp/&lt;tenantname&gt;/&lt;policyname&gt;/v2.0/.well-known/openid-configuration"

You mean either -
https://&lt;tenantname&gt;.b2clogin.com/tfp/&lt;tenantname&gt;.onmicrosoft.com/&lt;policyname&gt;/v2.0/.well-know

[2018-08-28 20:35] Mike-Ubezzi-MSFT commented on #14122
@willatmicrosoft Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-28 20:35] qianw211 commented on #14056
ok, I'll look into this! Thanks! @ellacroi @iyerss

[2018-08-28 20:36] markingmyname commented on #13148
@JasonWHowell, @SychevIgor.  We have removed this article and redirected its link to here - https://docs.microsoft.com/azure/active-directory/develop/quickstart-create-new-tenant.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

We will gladly continue the discussion, and we can reopen the issue if needed.

[2018-08-28 20:37] Karishma-Tiwari-MSFT commented on #14132
@garrytrinder Thanks for providing the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 20:37] MohitGargMSFT commented on #14101
@mortoncraig I get what you are referring here. The company branding is taken care in the invitation email received by guest user.

However, please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now

[2018-08-28 20:41] MohitGargMSFT commented on #14120
@captaingig Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-08-28 20:42] Mike-Ubezzi-MSFT commented on #14122
Step 6 of the [Set up your Node.js application](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-mongoose#set-up-your-nodejs-application):

The .js example does not work as described in this tutorial. The customer rewrote the .js as:

`const mongoose = require('mongoose');
mongoose.connect('mongodb://<cosmosdb-username>.documents.azure.com:10255/<databasename>?ssl=true', {
    auth: {

[2018-08-28 20:49] TravisCragg-MSFT commented on #13816
@nnamedieh We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-28 20:49] #13816 closed

[2018-08-28 20:49] TravisCragg-MSFT commented on #13844
@
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-28 20:49] #13844 closed

[2018-08-28 20:50] Mike-Ubezzi-MSFT commented on #14127
@dagrkatyal Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-28 20:50] TravisCragg-MSFT commented on #13873
@rodrigoffonseca We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-28 20:50] #13873 closed

[2018-08-28 20:51] Mike-Ubezzi-MSFT commented on #14139
@gtrifonov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 20:56] bernie-msft commented on #13364
@dpravo , SSPR for on-premises users should be working. If my memory serves me correctly, I believe I tested this a few months ago. Have you opened a case for the issue?

[2018-08-28 20:58] CarlRabeler commented on #11970
#please-close

[2018-08-28 21:04] iainfoulds commented on #13681
@abhiramani-iptiq The engineering team still have this in their backlog. Ingress Controllers that use internal, private IP addresses aren't something that should currently work or are supported. You can create an internal load balancer, including assigning a static internal IP, but for the Ingress, the assignment can only be for a public IP address.

I'd suggest reviewing the User Voice for AKS th

[2018-08-28 21:04] kensykora opened #14145 "Insufficient Documentation on `UseSecondaryIfNever` property"
We are in a unique situation where we are trying to change the hostname of an existing cluster. We manage the configuration tightly through ARM templates so deploying changes out through powershell is less than ideal. Following this documentation, it seems that the secondary certificate can be added, but it only chooses to use the certificate with the farthest out expiration date.

Switching to th

[2018-08-28 21:05] kensykora commented on #14145
Don't see a Fabric.Core setting here

![screen shot 2018-08-28 at 4 04 03 pm](https://user-images.githubusercontent.com/64756/44750842-2714c600-aadc-11e8-9de2-a349c181fb0e.png)

[2018-08-28 21:06] CarlRabeler commented on #12801
@Mike-Ubezzi-MSFT please assign to Carlrabeler
Thanks.

[2018-08-28 21:07] #13681 closed

[2018-08-28 21:07] kensykora opened #14146 "`UseSecondaryIfNever` setting is not documented here"
As referenced in &lt;https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-security-update-certs-azure&gt;, the `UseSecondaryIfNever` is not referenced here, so I'm unclear on where it should be set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6005a24c-118d-6c56-5525-4616e9102fe0
* Version Ind

[2018-08-28 21:10] iainfoulds commented on #10495
I haven't tried this yet, but the suggestion from engineering would be to create a Kubernetes service account, rather than binding to the service principal. That Kubernetes service account should then be something that can be provided to a VSTS build pipeline.

@bramvdklinkenberg As there's quite some back-and-forth - what's the actual ask/request here? Would binding to a Kubernetes service accoun

[2018-08-28 21:14] CarlRabeler commented on #11332
@TomShinder changed to content MS Support
PR pending https://github.com/MicrosoftDocs/azure-docs-pr/pull/50298

[2018-08-28 21:27] Neorick25 opened #14148 "How to close acctive connections."
I recently discovert this feature, and I was wrong to understand (my mistake) that when the time reaches, the existing connections (RDP for example) will be clossed too... until I gotten there link and review the sentence "Those connections that are already established are not being interrupted, however"... exist a way to close those connections? maybe a PSscript? or a Runbook...

---
#### Documen

[2018-08-28 21:40] misholson opened #14150 "Error with claim sub not being in the claims collection"
I followed the instructions here, and posted one issue that I figured out earlier, but now I'm having a new one (that may or may not be related to the previous issue I had with the sub claim).

I am successfully able to log in using my Azure AD account. However, when I attempt to log in with a local B2C account I'm getting an error:

AADB2C: 'B2C_1A_signup_signin_withaad' policy in 'yourdomain.onm

[2018-08-28 21:52] MicahMcKittrick-MSFT commented on #14145
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-28 21:53] MicahMcKittrick-MSFT commented on #14146
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-28 21:56] CHDAFNI-MSFT opened #14151 "Document overlap"
There's 2 documents of different technical depth (and age of content?) covering the 'how-to' disk encryption - perhaps close 1?
https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-windows
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/azure-disk-enc-windows

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-08-28 21:56] CHDAFNI-MSFT opened #14152 "Document overlap"
There's 2 documents of different technical depth (and age of content?) covering the 'how-to' disk encryption - perhaps close 1?
https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-windows
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/azure-disk-enc-windows

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-08-28 21:57] brandonh-msft opened #14153 "How to upload to a folder?"
No guidance shown here on how to upload a blob to a subfolder within a container. using `blob upload` with `--name folder/myfile.txt` doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b7631ff-af60-5ab4-ac8b-d44f615308b3
* Version Independent ID: a661d456-bf6a-5061-391e-fe7b54b9a01f
* Content: [Using the Azu

[2018-08-28 22:00] qianw211 commented on #14049
@iyerss @ellacroi pr created to fix this! thx!

[2018-08-28 22:03] mestew commented on #14140
@Cojacfar Thanks for the feedback! I think you are right that the Azure Disk Encryption documentation as a whole needs a bit more info about this script and its options. This specific article type (quickstart) is meant to just show the basic functionality of Azure Disk Encryption as quickly as possible with resources that are deleted when you complete the steps. Unfortunately, this type of article

[2018-08-28 22:03] MightyPen commented on #11237
@billgib @AyoOlubeko Can one of you, either Bill Gibson or Ayo Olubeko, suggest how Microsoft can/should respond to this GitHub Issue, about Wingtip:

{
The docs say "To control the distribution of incoming requests, the Wingtip app uses Azure Traffic Manager.", but looking at how it's configured, it there is only one endpoint in the traffic manager, so there is nothing for it to do.
Am I missing

[2018-08-28 22:08] Mike-Ubezzi-MSFT commented on #11970
@steronc We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-28 22:08] #11970 closed

[2018-08-28 22:09] Mike-Ubezzi-MSFT commented on #12035
@kgreed We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-28 22:09] #12035 closed

[2018-08-28 22:09] Mike-Ubezzi-MSFT commented on #12253
@gstream1 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-28 22:09] #12253 closed

[2018-08-28 22:12] ellacroi commented on #14049
Being triaged in separate PR, @femsulu #please close

[2018-08-28 22:16] Mike-Ubezzi-MSFT commented on #14121
@jluk @artisticcheese Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 22:18] YutongTie-MSFT commented on #14128
@westmich Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@mwinkle Hi, this is a document question, can you please check it and update the document as necessary? Thanks a lot!

[2018-08-28 22:19] YutongTie-MSFT commented on #14142
@abegel Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-28 22:34] MicahMcKittrick-MSFT commented on #13975
@asasine ah okay! Sorry about that. Must not have had enough coffee this morning :)

First part, yes they are both available for managed disks and non-managed disks.

The only difference between managed disks and non-managed disks is for managed disks we take care of the storage accounts for you. This mean you do not need to worry about how many VHDs you have in a storage account. For non-manged d

[2018-08-28 22:34] brandonh-msft commented on #14153
Turns out this syntax (`foo/myfile.txt`) works if you use `-n` but **not** if you use `--name`

🤷🏻‍♂️

[2018-08-28 22:36] MicahMcKittrick-MSFT commented on #14025
@Anmolgan81 thanks for syncing up with me offline today. I am glad we got this to work for you :)

I will close this issue out as we have got the problem resolved. I am working offline to determine the best way to make these steps public. If anything, I will be sure to post them on my blog here

https://blogs.technet.microsoft.com/mckittrick/

CC @cynthn

[2018-08-28 22:36] #14025 closed

[2018-08-28 22:43] MicahMcKittrick-MSFT commented on #14099
@bramvdklinkenberg I just ran through this doc 2 weeks ago and it seemed to run without any issues

#13498

Have you attempted to remove your instance and run through the entire doc again to see if the error is consistent every time?

Also, are you deploying this using Azure Cloud Shell or a local instance of CLI?

[2018-08-28 22:51] Karishma-Tiwari-MSFT commented on #12971
@BrainSlugs83 Apologies for late reply. I am taking a look at it now and will share the updates with you shortly.

[2018-08-28 22:51] MicahMcKittrick-MSFT commented on #14145
@kensykora upon reading the document it seems if you want to manually change the order of the certs you need to change the primary to secondary and the secondary to primary

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-security-update-certs-azure#edit-your-resource-manager-template

![image](https://user-images.githubusercontent.com/32313503/44755258-3f83e100-aada-1

[2018-08-28 22:53] MicahMcKittrick-MSFT commented on #14146
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-28 22:55] the-chad-at-ms opened #14156 "Table Storage encryption"
Hi

Line 3 in the 1st paragraph mentions blob, file and queue storage but does not mention table storage until further down. I believe you should add table storage in that paragraph for consistency.

Thanks
The Chad

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e05a67-3121-bbc2-7a46-637199104ea3
* Version Independen

[2018-08-28 22:59] mike-urnun-msft commented on #13719
Hello @Zebusch,

As the doc states, inbound IP address does change due to one of the 3 **_actions_**, but not over time by itself. Nevertheless, you may want to consider configuring an [IP-based SSL binding](https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-addresses#get-static-inbound-ip) to get a dedicated, static IP.

We will now proceed to close this thread. If there are furthe

[2018-08-28 22:59] #13719 closed

[2018-08-28 23:04] Grace-MacJones-MSFT commented on #13801
Hi @michaelharrod, we are glad you were able to resolve this issue. Usually, if the database exists (even if it's empty) it won't try and connect to master. On Azure, it is recommended that you manually create the database before using Migrations to create the tables, etc.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2018-08-28 23:04] #13801 closed

[2018-08-28 23:11] dcbrown16 commented on #13721
Per internal confirmation from Dan Chartier, the API connection for Office 365 Outlook depends on the token settings for Azure Active Directory, with a maximum of "until revoked".
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes

[2018-08-28 23:11] #13721 closed

[2018-08-28 23:11] MicahMcKittrick-MSFT commented on #14152
@CHDAFNI-MSFT this is because one is listed under the Azure Security Documentation and the other is in regards to the Disk Encryption Extension and provides schema information.

![image](https://user-images.githubusercontent.com/32313503/44755723-24b26c00-aadc-11e8-8c79-f57afa3e9ec4.png)

![image](https://user-images.githubusercontent.com/32313503/44755729-2d0aa700-aadc-11e8-95c9-3cbdbefdcff1.png)

[2018-08-28 23:12] vicperdana commented on #14075
Can you confirm if Azure files supports Storage General Purpose v2 with Hot access tier?

Or is Azure files supported under Azure Storage General Purpose v1 only?

Thanks

[2018-08-28 23:15] maertendMSFT commented on #14121
@Mike-Ubezzi-MSFT, can you remove @jluk and assign it to me?

[2018-08-28 23:19] SBudo commented on #14080
Hi Meghan, Mohit,
The PowerShell module upgrade fixed it indeed, thank you :-)
It might be good to add this to the prerequisite page (I only can see the optional step to deploy the modules, not upgrade them).
Thanks again, much appreciate you got back to me so promptly,
Stephane

[2018-08-28 23:25] Adam-Smith-MSFT commented on #14153
@brandonh-msft Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 23:26] Adam-Smith-MSFT commented on #14135
@cdaniel96 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 23:27] Adam-Smith-MSFT commented on #14124
@LisandroSu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-28 23:47] timmyreilly opened #14158 "Where are the binding examples for CosmosDB?"
Can I put bindings in the host.json? And if so, can I do so for CosmosDB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Independent ID: 271006dc-afce-99f3-0790-41fa2e35b22b
* Content: [host.json reference for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-f

[2018-08-28 23:47] ghogen commented on #12226
#please-close

[2018-08-28 23:48] ghogen commented on #12323
This was fixed a while ago. #please-close

[2018-08-28 23:53] timmyreilly opened #14159 "Can you place the Extension Installation instructions inline?"
Here you tell us to register: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2#packages---functions-2x

Which links off to the following page with the instructions. Why not just place them inline?
https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#local-development-azure-functions-core-tools

---
#### Document Details

⚠ *Do not

[2018-08-29 00:01] ghogen commented on #12688
@spacecat OK, yes, thanks, I am fixing this now.

[2018-08-29 00:42] BryanTrach-MSFT commented on #13905
@Alrubaye87 Thank you for the feedback. We are currently investigating this matter in another GitHub thread. We will close this as a duplicate and we invite you to follow the conversation in #13909.

[2018-08-29 00:42] #13905 closed

[2018-08-29 00:42] agvardha commented on #14079
@Mike-Ubezzi-MSFT & @TravisCragg-MSFT Thanks for the pointer. Yes I had seen it but now looked at it with a fresh look. Then went back to my installed system and did some poking. Here are two interesting files:
C:\Monitoring\agent\initconfig\2.0\Standard\PhysicalNode.xml
C:\TraceCollector\PerfCounterConfiguration\PerfConfiguration-BareMetal.json
These two files seems to exit in all VM's I checked.

[2018-08-29 00:42] dcbrown16 commented on #13860
Sounds like these are the Application diagnostics since they both refer to the example of using System.Diagnostics.Trace calls.

[2018-08-29 00:44] MohitGargMSFT commented on #14143
@vladkosarev Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-29 00:45] MohitGargMSFT commented on #14144
@vladkosarev Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-29 00:46] roygara commented on #13127
@SychevIgor we've decided to keep this doc in storage for now. But we thank you for your feedback regardless!

#please-close

[2018-08-29 00:46] cgillum opened #14161 "The TerminateInstance API is a POST request, not a DELETE request"
This documentation [here](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-http-api#terminate-instance) incorrectly states that terminate is invoked using a DELETE request. Actually, this is supposed to be a POST request. Sending a DELETE request will result in a 404 Not Found response.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-08-29 00:46] MohitGargMSFT commented on #14148
@Neorick25 Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-29 00:47] TravisCragg-MSFT commented on #14079
@agvardha we are working to verify that it is possible to edit the configuration and upload it in stack, just like it works in Azure. You can[ edit the extension configuration schema](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/azure-diagnostics-schema-1dot3-and-later) to include custom counters and then update the diagnostics extension, we are working now to prove that it is

[2018-08-29 00:47] MohitGargMSFT commented on #14150
@misholson Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-29 00:48] MohitGargMSFT commented on #14151
@CHDAFNI-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-29 00:55] Alberto-Vega-MSFT commented on #14035
@pallavijadhav1429 Would you please elaborate more on what your use case or scenario is?

[2018-08-29 01:02] BryanTrach-MSFT commented on #13985
@the-wazz We were able to verify the same behavior in step 4 as well. We reassigned the issue to the doc author to investigate further.

@cephalin It looks like maybe there could be some clarification on step 1 regarding exactly what application is being referred to. Should this just be called app service instead?

[2018-08-29 01:09] MohitGargMSFT commented on #14143
@vladkosarev Please refer to this document - [Using b2clogin.com](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin). In case you are following this document and configured Azure AD B2C service with <YourTenantName>.b2clogin.com, then mention the same in callback URL as stated in the document.

[2018-08-29 01:12] KeiroKamioka0000 opened #14162 "Please add/update Japanese version of this document."
Please add Japanese translation of the following FAQ if possible.

When creating a disk from a blob, is there any continually existing relationship with that source blob?

No, when the new disk is created it is a full standalone copy of that blob at that time and there is no connection between the two. If you like, once you've created the disk, the source blob may be deleted without affecting the

[2018-08-29 01:14] MohitGargMSFT commented on #14144
@vladkosarev Thanks for reporting! I will work on making change to the document.

[2018-08-29 01:31] #14144 closed

[2018-08-29 01:34] BryanTrach-MSFT commented on #13943
@ccompy Would the below steps work for an ILB ASE in order to control outbound DNS lookups for each app in the ILB ASE? If so, is this something you would consider adding to the doc?

1.	Go to the web app->settings->Application Settings-> App Settings section
2.	Add the following: (WEBSITE_NODE_DEFAULT) should already be there.
a. WEBSITE_DNS_SERVER with value having the IP address of the primary

[2018-08-29 01:43] BryanTrach-MSFT commented on #14024
@gmconte I owe you two apologies. First for not seeing your reply on the previous issue. We kindly request you to use the @ symbol to tag us in any replies to ensure we see your response.

Secondly, I apologize for misunderstanding the original issue. I believe I understand the request now but please correct me as necessary.

It sounds like you are looking for dynamic IP restrictions. The below bl

[2018-08-29 01:44] hellangleZ commented on #13984
Hi iainfoulds:

Just like you said, Does Azure support this scenario that a pod could  join into a regular Azure Load balancer backend pool, as same as a common VM ?

I just want to design this scenario, but I could not find any documents which could reference to this scenario, and how to configure it

Thanks

[2018-08-29 01:49] Mike-Ubezzi-MSFT commented on #14159
@timmyreilly Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-29 01:49] #12226 closed

[2018-08-29 01:55] roygara commented on #14153
@brandonh-msft I'm sorry but, I've just tested both -n and --name. Both work equally fine. Perhaps check your CLI version?

In any case, I feel you're right that the doc should make this guidance explicit. Thank you for pointing that out. I will create a backlog item to improve the doc.

@Adam-Smith-MSFT will you please shift this to doc-enhancement? Thanks in advance.

[2018-08-29 02:31] KeiroKamioka0000 opened #14163 "Please consider of adding the FAQ regarding the metric for ScaleSets"
Please consider of adding regarding the difference between these two.

I assuming that the &lt;/virtualMachineScaleSets&gt; will display the total amounts of metrics,
&lt;/virtualMachineScaleSets/virtualMachines&gt; will display the metrics of the each vm inside of the scale set

Microsoft.Compute/virtualMachineScaleSets
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-

[2018-08-29 02:55] StingyJack commented on #14136
That is really not very user friendly to those who have been using SSMS since it was `sqlew.exe`, or who may not have been granted the resource access in the portal before the resource owner went on vaca but do have sa access. Wanting to take a backup before pushing out a change for a demo deadline really did not need this kind of surprise.

Do you know if its planned to eventually be brought to S

[2018-08-29 03:10] aloysiustany commented on #14134
I am trying to restrict traffic to the VNet to only from cloud service. I would like to remove Internet and substitute with my cloud service.

[2018-08-29 03:53] CelesteDG commented on #11342
Hello @mdomsch - We hope you're well. Thank you very much for your patience. Following up from my last update on July 18th, I'm now working with our localization team so that they can localize the assets. It may be another 2-4 weeks to get these turned around, but wanted to let you know what's happening on our side.

[2018-08-29 03:58] rboucher commented on #8267
#please-close

[2018-08-29 04:04] tangzhengyue commented on #14097
Please see below screenshot. In my Service Bus Namespace, there is no "Event Grid", I saw there is a "Event". Seems the document is out of date now.

--

致
礼！
唐正跃

At 2018-08-28 23:05:30, "António Sérgio Azevedo" <notifications@github.com> wrote:

@tangzhengyue thank you for your feedback! I want to make sure that you followed all the steps from the tutorial here: https://docs.microsoft.com/en-us/

[2018-08-29 04:14] zarchigl commented on #14037
is there a way to get bak files instead of restoring ?

[2018-08-29 04:30] vashish76 commented on #13658
Hi

Following is the MS document I am referring..

https://docs.microsoft.com/en-us/azure/cognitive-services/Computer-vision/quickstarts/python-hand-text

[2018-08-29 04:57] ed7257 opened #14165 "Renewals"
1)Guys, what do you mean by renewal in the text?  How is that different from buying SA?
 2) What options is better for BYOL: buy subscription agreement for SQL (EAS) and bring SQL license to Azure or buy License with SA and then pay SA only?
3) When I use license mobility, should I run both Primary and Secondary replicas in the same Azure Data Center or can deploy in different ones?
4) Didn't MS r

[2018-08-29 05:00] ed7257 commented on #14165
3) clarification for 3rd question, SA benefit of free passive secondary replica, not license mobility.

[2018-08-29 05:01] nschonni opened #14166 "[meta] Strip BOM characters from Markdown files"
Markdown files encoded with a BOM do not render the markdown files correctly on GitHub and the PR Bots can't read the front matter. I previously opened https://github.com/MicrosoftDocs/azure-docs/pull/10954 to fix this, and it includes instructions for a bulk cleanup.
/cc @ktoliver @SyntaxC4

[2018-08-29 05:03] mike-urnun-msft commented on #14158
@timmyreilly Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-08-29 05:06] nschonni commented on #14166
When I ran the script today there are 848 files https://github.com/nschonni/azure-docs/commit/e3566862508b4fa0148bece293a69bd3d3d24c71

[2018-08-29 05:15] sysilion opened #14168 "prerequisites link is not correct"
that link open https://labs.cognitive.microsoft.com/en-us/project-answer-search this URL

need to change https://labs.cognitive.microsoft.com/en-us/project-url-preview this URL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3320d9b-3a5b-cc4c-942a-da84bd050859
* Version Independent ID: 13414fe9-27fa-1a50-eb44-5aad57d23

[2018-08-29 05:25] zarchigl opened #14169 "Bak files"
Is there a way to get bak files instead of restoring ?

[2018-08-29 05:31] balait01 commented on #14106
Thanks.. I got it now

[2018-08-29 05:35] kyliel commented on #10150
@TomArcher , Yuwei's PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/50233 is to fix this issue. The format of nginx.yml in the doc is not correct though the content is right. Please review the PR and merge it. Then this issue can be closed. Thanks.

[2018-08-29 06:18] suhuruli commented on #8166
Hey folks,

Just to reply on this thread to keep it updated. Service Fabric non primary node types can be provisioned with low priority VMSS through ARM (this cannot be done through Portal). There are a couple of caveats here to keep in mind when you do this. There is no guarantee on the availability on these VMs and they can be yanked at any point (hence do NOT run primary nodetypes or any system

[2018-08-29 06:25] KloudEzy opened #14171 "Unable to change the location of CloudShell"
Hi Team,

Initially when I configured CloudShell it was configured to use EastUS however now I want to change it SouthCentralUS but I'm unable to do so despite the fact I deleted the ResourceGroup called Cloud_Shell_East_US and storage account in it.

I logged out and logged back in the location is still persisting to EAST US. Please suggest how could I change the location of CloudShell.

---
####

[2018-08-29 06:57] alexjeitler commented on #7392
I am also facing this error "Unable to determine hardware version. I see: Hardware   : BCM2835
 - expecting BCM2708 or BCM2709. Please report this to projects@drogon.net"
Is there already a solution? I found this https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app/issues/15 but I think most of us beginners need a more detailed guidance. thanks.

[2018-08-29 06:59] niceysj opened #14172 "May I know what application support MFA Windows authentication?"
May I know what application support 	MFA Windows authentication?
I am using Sharepoint 2010 (Windows Authentication) and Exchange 2010.
May I install Onpremise MFA Server, is it possible to use MFA for Sharepoint Web Site and OWA? (Though I’m talking about it, Sharepoint is Windows Authentication.)
If available, we request a construction guide.

---
#### Document Details

⚠ *Do not edit this secti

[2018-08-29 07:26] kazshi opened #14173 "UI items in the tutorial steps have been updated"
Step 2 in Create a sink SQL table
SETTINGS &gt; Firewall ===&gt; Security &gt; Firewalls and virtual networks
and
a. On the left, select More services ==&gt; no "More services" (it depends on user env?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fe64944-749a-68bd-36a3-011dd8e33fa9
* Version Independent ID: 217573e

[2018-08-29 07:28] bdyer opened #14174 "Management groups vs Governance Scaffold"
Do Management Groups work in harmony with the scaffold recommendations described in the Subscription Governance link on this page, or are Management Groups an intended replacement? And do management groups have an integration with Cloudyn?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5f0-9034-747c6f92a

[2018-08-29 07:55] YutongTie-MSFT commented on #14168
@sysilion Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-29 07:58] jurjenoskam opened #14175 "Virtual network limited to 16000 IP addresses?"
In the paragraph "Plan IP addressing for your clusters" the table row called "Virtual network" mentions that: "Azure VNet can be as large as /8 but may only have 16,000 configured IP addresses." Later, the paragraph "Deployment Parameters" has the following statement in the "Virtual Network" section: "The VNet is limited to 16,000 configured IP addresses."

This does not seem to be consistent with

[2018-08-29 08:17] amjad-Alhusseini opened #14176 "Add note for users"
Please leave a note to users that in order to enable duplicate deduction, you have to do it upon creation. and it cant be modified once created

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbf60076-6bfe-9efd-f956-69f2cfa5bd45
* Version Independent ID: b8e8ddd3-a8dc-4ff5-5c75-c4cf5d1e509f
* Content: [Azure Service Bus

[2018-08-29 08:18] dominicbetts commented on #14139
@gtrifonov - thanks for pointing this out. I've fixed this link (and a couple of other similar ones) and the changes should be live later today.
Dominic

(https://github.com/MicrosoftDocs/azure-docs-pr/pull/50363)
#please-close

[2018-08-29 08:27] elainebettaney opened #14177 "Using PyCharm on Linux"
I do not understand these instructions on how to use PyCharm on my Linux VM.  Currently I am ssh-ed into my VM and if I execute /usr/bin/pycharm it says "Startup Error: Unable to detect graphics environment".  How can I get around this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8778f8e7-6c71-3c90-e6d3-05ef74aefa23

[2018-08-29 08:43] cowinr opened #14178 "Missing example?"
There is something wrong in the Outputs section after the text "... you can write something like:"

Should there be an example shown?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e85de04-2f8b-68ea-eeb9-dcc65f216332
* Version Independent ID: db26953c-f234-3828-4c38-493ad410e25a
* Content: [Java developer reference fo

[2018-08-29 09:26] sergaz-msft commented on #14097
@tangzhengyue I can't see the screenshot. Can you answer directly on GitHub? Thank you.

[2018-08-29 09:33] jurjenoskam opened #14179 "Kubernetes Service Limits: dead link, and maximum pods per node is not mentioned"
In the section describing the Kubernetes Service Limits, it is mentioned that the Default Limit for "Max pods per node (advanced networking with Azure CNI)" is 30. However, there is no maximum limit mentioned. What is the maximum number this limit can be set to?

Also, the link to the examples of how to customize this limit is dead: it leads to a 404 on GitHub.

---
#### Document Details

⚠ *Do no

[2018-08-29 09:34] #14139 closed

[2018-08-29 09:42] balait01 opened #14180 "Azure Log Analytics Workplace - Windows Telemetry & Automation Account"
Whether "Windows Telemetry" of Connected Source in OMS where we subscribe & unsubscribe settings will be added in Azure Log Analytics Workplace? And advice about on Automation Account option under Accounts Tab in OMS is missing in Azure LA Workplace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bb1685a-5439-034b-766

[2018-08-29 09:44] ShawnXxy opened #14181 "Basic Tier is not supported"
As  I overserved that the stored procedure does not exit in Basic Tier, so should add this to the requirement list. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20ea0df2-739b-e62b-a167-1418c355c596
* Version Independent ID: edaa09ff-6c90-3fc3-15c9-c472420abdbb
* Content: [Replicate data into Azure Database for

[2018-08-29 09:46] polarapfel opened #14182 "azcopy for Ubuntu 18.04LTS PPA missing"
There is no azcopy package in the the 18.04 PPA yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e224df65-311e-166c-caff-918f47ad2f57
* Version Independent ID: 21914f58-1720-39d9-acb7-ed8475cab9d4
* Content: [Copy or move data to Azure Storage with AzCopy on Linux](https://docs.microsoft.com/en-us/azure/storage/comm

[2018-08-29 09:50] sergaz-msft commented on #14123
@fbruemmer73 thank you for your feedback. Can you double check the following?

This is, in SimulatedDevice.cs you need to use the **device connection string** while in BackEndApplication.cs you should use **service connection string**.

If you were doing it correctly can you paste here the **device connection string** and **service connection string** so I can have a look? Please note that if you

[2018-08-29 09:51] vlflorian opened #14183 "How long does it take for new telemetry to be stored in the blob storage with continuous export?"
See title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 860f6a72-85d8-6296-d9f0-638907f1382b
* Version Independent ID: 36512771-6c2a-a651-d8e0-fde95f563252
* Content: [Continuous export of telemetry from Application Insights](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-export-telemetry)
*

[2018-08-29 09:51] sergaz-msft commented on #14133
Thanks for the valuable feedback @AjkayAlan ! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-29 09:51] ShawnXxy opened #14184 "Wrong procedure name"
az_replication_change_primary should be az_replication_change_master

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 261311a4-69ae-3bb8-7271-f8f8bd81ec38
* Version Independent ID: 2fe7e95b-c316-ed88-4f7d-ad8e6463c952
* Content: [Configure Data-in Replication to replicate data into Azure Database for MySQL.](https://docs

[2018-08-29 09:52] sergaz-msft commented on #14138
Thanks for the feedback @Arash-Sabet ! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-29 10:15] MarekSven commented on #10369
However it does not seem to be available for a Function App.
Function App are not listed in the step covered with the first screenshot in the post of @femsulu from Jun 23.

[2018-08-29 10:28] jdpearce opened #14185 "Is there any way to make this work with multiple SPA endpoints?"
I'd like to be able to publish multiple SPAs such that, say, `/spa1/component/thing-id` will load up the `/spa1/index.html` and `/spa2/other-component/thing-2` will load up `/spa2/index.html`.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-809

[2018-08-29 10:34] bramvdklinkenberg commented on #14099
Hi @MicahMcKittrick-MSFT I tried it on a new/freshly installed cluster and it works.
When i do the same on that one specific cluster it doesn't work, have checked with a colleague if I didn't make any typos or somehow did something else.. my colleague gets the same issue on that specific cluster. Any clue what can be going wrong?

[2018-08-29 10:34] bramvdklinkenberg commented on #14099
When googling the error I can see that more people get that error.

[2018-08-29 10:55] imraxy commented on #13929
Hi Bryan,

Thanks for your reply, we were facing lots of difficulties in getting the
functions work properly on Linux (Preview), finally we decided to use
windows option for now but the functions dosn't work properly on Linux, my
Azure subscription id is
9d30b4ed-a5e2-4712-9f55-b62c6d20f690

Thanks

On Wed, Aug 29, 2018 at 6:52 AM Bryan Trach <notifications@github.com>
wrote:

[2018-08-29 11:01] chadgr opened #14186 "Size of Cluster"
It states that a 4 node Always On cluster is used for in premium/BC tiers.  The Zone diagram only shows three nodes.  Where is the 4th node in that configuration?  Also, does the read scale out only access a single RO node or does it also get balanced across all three?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 150

[2018-08-29 11:09] Bnjmn83 opened #14187 "Failure initializeing TPM Codec"
I followed this (_https://docs.microsoft.com/de-de/azure/iot-edge/how-to-auto-provision-simulated-device-linux_) guide and in the very end I executed

`journalctl -u iotedge --no-pager --no-full`

and the result was:

[code]

I am using Hyper-V with Ubuntu18

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2113dfd-71ce-

[2018-08-29 11:13] JozoSlejko opened #14188 "Commands"
Commands which are in Copy container should have 'PS C:\Windows\system32&gt;' part removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b994ee0-d0b5-715f-bc48-44d8256499d7
* Version Independent ID: 6fda2b17-e142-8087-b47f-f589a3cfa1d8
* Content: [PowerShell examples for managing groups in Azure Active Directory](ht

[2018-08-29 11:27] chadgr opened #14189 "Data Size"
I'm trying to understand data size.  In Single DB a GP_Gen4_8 allows up to 3TB.  In the Pool it allows 2TB.  So, is that total across all DB's in the pool?  IE the sum of the size of all DB's cant go over 2TB.  Or can they all be 2TB and there is some other uppper limite on size?  If it is total, then why would a pool be less than the single instance?

---
#### Document Details

⚠ *Do not edit thi

[2018-08-29 11:27] bdforbes opened #14190 "Deployment of ARM Template to existing Production Data Factory"
When I deploy an ARM Template to an existing Production Data Factory (through "Import ARM Template") as part of a continuous improvement process, the resources in the prod DF that were removed or renamed in development are still there after deployment. Should the entire Data Factory or all pre-existing resources be deleted first before deploying? Otherwise it will eventually be littered with resou

[2018-08-29 11:29] bramvdklinkenberg commented on #11681
Any update on when enabling rbac is possible with terraform?

[2018-08-29 11:46] djpirra opened #14191 "Statistics Update"
Aren't statistics already automatically updated on SQL DW?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3d99f8-96b8-b31a-d6d3-868fa4614242
* Version Independent ID: 965ea5f3-ae07-3701-b49b-828170670631
* Content: [Best practices for Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-data-warehouse

[2018-08-29 11:50] sgiovinetti opened #14192 "No support for Cosmos in the clickonce app"
Opposite to what is stated in the doc, I don't see any support for Cosmos in the clickonce app. There is only a connector for the old Azure DocumentDB that in any case doesn't seems to work for Cosmos.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cdbefa1-36d5-f98d-0b47-fa342ba5eb9d
* Version Independent ID: 5a9b6dc7

[2018-08-29 11:53] alexvicegrab commented on #11681
@bramvdklinkenberg
https://github.com/terraform-providers/terraform-provider-azurerm/issues/1429

https://github.com/terraform-providers/terraform-provider-azurerm/pull/1820

[2018-08-29 11:56] SenthuranSivananthan opened #14193 "C# code truncated"
2nd code block under the section "Concurrent operations" is truncated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7eb26ad-3f91-13f4-5827-9dd398412f9d
* Version Independent ID: 1e3dc2ac-1d5e-3da1-7d51-91d36bda14f2
* Content: [Best practices for improving performance using Azure Service Bus](https://docs.microsoft.c

[2018-08-29 12:01] tomaszbiegacz opened #14194 "Reference LAD 3.0"
This documentation contains clearly outdated screenshots. Maybe instead it should reference https://docs.microsoft.com/en-gb/azure/virtual-machines/extensions/diagnostics-linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c25393b0-948f-414a-4699-db82f9b3eb68
* Version Independent ID: cbb32016-2d50-504d-a862-395a93325

[2018-08-29 12:06] jtuliani opened #14195 "Managed Disks?"
This page is linked from https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-encryption as the reference for restoring an encrypted VM, by first restoring the disks.

This page only explains how to create a VM from an unmanaged disk. There is no guidance on creating a VM from a managed disk. Hence, there is no guide anywhere in the docs showing how to restore a managed disk, encrypted V

[2018-08-29 12:08] vladkosarev commented on #14143
@MohitGargMSFT I did refer to that document and log an issue with it. That url still does not work as response URL in the providers tested (Facebook and Twitter).

[2018-08-29 12:17] sebader opened #14196 "Update to include CentOS/RHEL"
Since Edge version 1.0.1 CentOS/RHEL 7.5 are also supported: https://github.com/Azure/azure-iotedge/releases/tag/1.0.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf820bbb-9fc6-2037-6d72-c63192763ed6
* Version Independent ID: b0c7e11b-3741-15f6-58e7-8529d492af47
* Content: [Azure IoT Edge Platform Support](https://d

[2018-08-29 12:29] imhashir opened #14197 "Searching members to assign roles in Blockchain Workbench keeps loading"
I've been following azure documentation for creating a Blockchain app using Azure Blockchain Workbench.
I've successfully deployed contract and created 3 users in Azure AD.
Now I want to assign roles to users. When I open Blockchain Workbench dashboard and choose the I app I developed, it shows 0 members. I am trying to add new member but when I input name of user, it keeps loading indefinitely an

[2018-08-29 12:33] sergaz-msft commented on #11420
@gauravagarwal28 , @Bnjmn83 please follow and vote\comment the feature request thread here: https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/34812739-support-x-509-certificates-in-iot-edge-for-raspbia

Product Group is triaging the requests and they will answer your questions through there. Current status is "Planned".

Thank you!

[2018-08-29 12:37] vlflorian commented on #14183
@mrbullwinkle Hey, thanks for the reply! There **can** be a delay of up to an hour, but most of the time it doesn't take as long, right?

[2018-08-29 12:40] mrbullwinkle commented on #14183
@vlflorian that is my understanding, but let me ping the PM who owns continuous export to confirm.

[2018-08-29 12:50] mrbullwinkle commented on #14183
@vlflorian one quick follow-up that I am sure the PM will ask me. Do you have a specific use case where an up to an hour initial delay doesn't work for you and you need it to be consistently kicking off in a shorter time frame when you setup continuous export, or is it just curiosity as to what the potential expected min/max range for data being populated is?

[2018-08-29 13:00] #13148 closed

[2018-08-29 13:00] #13127 closed

[2018-08-29 13:00] kensykora commented on #14145
Hi @MicahMcKittrick-MSFT

Yes, we followed the instructions here to the letter -- please review my scenario above. The new certificate we want to deploy and use has an expiration date BEFORE the one we want to remove because it was issued with a 1-year expiration and the one we want to remove was given a 2-year expiration.

The documentation in  that same article, it also states that the certifica

[2018-08-29 13:01] vlflorian commented on #14183
@mrbullwinkle The first option, sir! Specific use case where we'd like a third party to view the state of our applications by extracting the AppInsights Data, dump it into an sql database and use Tableau to query that database. I know AppInsights has PowerBi integration, but we have to use Tableau for a reason that is difficult to explain this way and the default integration with PBI isn't anywher

[2018-08-29 13:03] fbruemmer73 commented on #14123
Thank you so much for the quick response. I must have missed the SERVICE connection string part since I was using the device connection string in both apps. This works now. I really appreciate your help.

[2018-08-29 13:06] sergaz-msft commented on #14123
You are very welcome @fbruemmer73 it was a pleasure to guide you in the right direction :)!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-29 13:06] #14123 closed

[2018-08-29 13:14] SMGonc commented on #6607
With AzureRM* module 6.6.0 the "Update-AzureRmVM" doesn't work anymore...

#Create the managed disk (OK)
$MDdiskConfig01 = New-AzureRmDiskConfig -SkuName $mdTypeDiskName01 -Location $locName -CreateOption Empty -DiskSizeGB $mdSizeDiskName01
$MDdisk01 = New-AzureRmDisk -DiskName $mdDataDiskName01 -Disk $MDdiskConfig01 -ResourceGroupName $rgName

#Associate the new data disk to an existant VM (NOK)

[2018-08-29 13:27] ggirard07 commented on #13897
@Adam-Smith-MSFT Yes I tried to remove/add the user from the explorer no change.
When the user account is added to the explorer, the subscription node shows hope but remains empty.
I didn't try the portal as the role I am trying to assign is `Storage Blob Data Contributor (Preview)`, I don't really expect it to shows up as the portal is primarily aimed to configure the resource and not to use it.

[2018-08-29 13:27] bramvdklinkenberg commented on #14099
Got it to work with deploying the cert-manager and clusterissuer in the default namespace and certificate + app + ingress in a specific namespace.
Problem I had was specific with Issuer instead of ClusterIssuer. I deployed the cert-manager and Issuer (so not ClusterIssuer) also into the specific namespace. Somehow I could not get that to work.

[2018-08-29 13:28] SMGonc opened #14199 "With AzureRM* module >6.6.0 the "Update-AzureRmVM" doesn't work"
With AzureRM* module 6.6.0 the "Update-AzureRmVM" doesn't work anymore...

**#Create the managed disk (OK)**
$MDdiskConfig01 = New-AzureRmDiskConfig -SkuName $mdTypeDiskName01 -Location $locName -CreateOption Empty -DiskSizeGB $mdSizeDiskName01
$MDdisk01 = New-AzureRmDisk -DiskName $mdDataDiskName01 -Disk $MDdiskConfig01 -ResourceGroupName $rgName

**#Associate the new data disk to an existant VM

[2018-08-29 13:32] femsulu commented on #14059
@iyerss the doc bug has been fixed. Thanks again for bringing this to our attention. we will now close this issue.

[2018-08-29 13:32] #14059 closed

[2018-08-29 13:32] femsulu commented on #14053
@iyerss the doc bug has been fixed. Thanks again for bringing this to our attention. we will now close this issue.

[2018-08-29 13:32] #14053 closed

[2018-08-29 13:47] jtuliani opened #14200 "Managed disk support for template"
Doc says templates are provided when restoring unmanaged disks only, and support for managed disks is coming later. However, I just tried it and it seems my managed disk restore did indeed give a template. Doc out of date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66081bde-1e22-dd9c-8357-a0485b23b0a7
* Version Ind

[2018-08-29 13:54] nithinsukumar opened #14201 "Reference to Azure storage secret in AKV"
When connection string `DefaultEndpointsProtocol=http;AccountName=myAccount;AccountKey=myKey;` was used ADF does not seem to work. I had to use `DefaultEndpointsProtocol=http;AccountName=myAccount;AccountKey=myKey;EndpointSuffix=core.windows.net`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4a11102-d44f-c7d2-c6b1-ec

[2018-08-29 14:00] bernie-msft commented on #6973
@JohnBruceMS , this page is intended to list variations only and I'm not seeing any for application proxy. Is there a specific issue you're having?

[2018-08-29 14:04] JohnBruceMS commented on #6973
No, there are custom endpoints for Azure AD Proxy and should be included in this list.  I had them handy back in April, but don't anymore.  It would be important to note for organizations trying to monitor outbound connections.

[2018-08-29 14:06] poulinjulien opened #14202 ""Input string was not in a correct format" error"
I'm trying to run the  'Offload Excel workbooks' example, but I get an "Input string was not in a correct format" error on the following line:
`HPCExcelClient.OpenSession headNode:=HPC_ClusterScheduler, remoteWorkbookPath:=HPCWorkbookPath, UserName:="hpc\azureuser", Password:="<YourPassword>"`

Any idea what the issue is?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-08-29 14:14] MGoedtel commented on #13247
@aydeisen - We are currently evaluating this article and others as part of our consolidation of Azure Monitor and Log Analytics content in preparation for Ignite.  I don't have any specific details to share at this time, but this article is going to be re-written or retired as we have overlap between the two content sets.  #please-close

[2018-08-29 14:16] poulinjulien commented on #14202
Here is my configuration:
- I created a cluster on Azure using the "HPC Pack cluster for Excel workloads" template.
- I'm using Excel 2016.
- I installed the HPC 2012 R2 Update 3 client utilities.
- Contrary to what's written in the article, I had to manually browse for the "Microsoft.Hpc.Excel" reference in the VBA project.

[2018-08-29 14:28] LuisCabrer commented on #14141
@BryanTrach-MSFT
I fixed this yesterday, it should be published today. Can you please close?

[2018-08-29 14:29] jtuliani opened #14203 "Azure Backup?"
Why does this article propose using snapshots as a strategy to back up unmanaged disks, rather than using Azure Backup? What is the correct/recommended approach?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ded65a-1b0a-f610-a3ad-3812589cc005
* Version Independent ID: 3fdac72c-6c42-e572-3822-c77ea9002e0e
* Content:

[2018-08-29 14:29] jhadz81 opened #14204 "Row select"
The UI for this is not good.  When first trying to implement a policy, I clicked on the database row which brings up the configure policy popup and I could not figure out why it would not save.  You have to check the checkbox next to the database then click on the Configure retention button to set the policy.  Please improve the documentation to explain this or fix the UI.

---
#### Document Detai

[2018-08-29 14:30] cephalin commented on #11053
@alemag1986 Sorry for the delay. I've added a note that calls out the web.config and a link to the documentation for iisnode settings. It should be published in a few hours. Thank you.

#please-close

[2018-08-29 14:32] gmconte commented on #14024
Hi @BryanTrach-MSFT and thanks for your answer. I see that Dynamic IP Restrictions are used in IIS web sites, but my infrastructure use a Consumption App Service plan with Functions. So I don't have a web.config file that I can modify.

I got the confirmation in these posts:
https://stackoverflow.com/questions/43241431/azure-functions-can-you-use-web-config-restrictions-e-g-ip-restriction-or-bas
h

[2018-08-29 14:34] DCtheGeek commented on #12650
@badalk I believe I answered your question.  If not and you continue to have an issue with the docs, please post a new issue.  For product feedback, please use [UserVoice](https://feedback.azure.com). Thanks for the feedback and the questions!

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-29 14:37] Mike-Ubezzi-MSFT commented on #14171
@KloudEzy After the initial configuration in associating a storage account for running the Cloud Shell interface, any subsequent configuration changes require the use of the `clouddrive` bash shell command line utility. Have you walked through these steps already? Or have you simply deleted the existing storage account and are hoping to be presented with the configuration wizard you initial steppe

[2018-08-29 14:44] rifaterdemsahin commented on #13929
I have created a video about the problem and emailed to azcommunity@microsoft.com

[2018-08-29 14:44] rifaterdemsahin commented on #13926
I have created a video about the problem and emailed to azcommunity@microsoft.com

[2018-08-29 14:45] rifaterdemsahin commented on #13667
I have created a video about the problem and emailed to azcommunity@microsoft.com

[2018-08-29 14:47] badalk commented on #12650
@DCtheGeek yes we can close it for now as we understand it with an example now. Apologies for the late response

[2018-08-29 14:49] SaurabhSharma-MSFT commented on #14098
@bubbletroubles Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-29 15:00] jtuliani opened #14205 "Network access"
Doc states: While configuring back up, make sure the Firewalls and virtual networks storage account settings allow access from All networks.

But surely it suffices to simply check the 'allow access from trusted Microsoft services' box when enabling the storage firewall? That's what it says here: https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#exceptions

---
#### Do

[2018-08-29 15:16] MarkIannucci opened #14206 "If I transfer a VS Enterprise subscription, I get a 'Credits do not transfer' pop up. Is that permanent?"
If I transfer a VS Enterprise subscription, I get a `Credits do not transfer` pop up.  The text reads:

    If you transfer this subscription, any remaining credits will be forfeited and will not
    be available to the new owner. In order to successfully transfer this subscription, we require
    that the recipient is entitled to the offer you are using. Please make sure that the transfer
    rec

[2018-08-29 15:16] sharpninja commented on #5434
This still doesn't work.  Is there a working example on the net somewhere?

[2018-08-29 15:29] Mike-Ubezzi-MSFT commented on #14169
@zarchigl Thank you for you inquiry. Basically, the answer is no but, there are other options. Azure SQL Database can accept a .bacpak to create a new database, or as a means of importing/exporting. This action can be completed either through REST API, Powershell, or directly via the Azure Portal. Additional information can be found in an MSDN forum post: [How to Restore ".bak" file in Sql Azure..

[2018-08-29 15:38] pkranen opened #14207 "Http calls to VoteDataController time out"
I updated VS2017 (as recommended in the other feedback), installed Azure Service Fabric and followed the steps above to run the sample. http://localhost:8080/ shows the Voting Sample and when I try the "+ Add" button the breakpoint in the VotesController's Put method is hit. However, the call to the backend using the proxy url always times out. The proxy url that is used is

`http://localhost:1908

[2018-08-29 15:56] davidjoye opened #14208 "Warning for 'clean' Windows 10 installs"
I had previously removed some of the embedded Apps from my Windows 10 Enterprise WIM and I currently believe this is why I can't get anything to appear after clicking 'Reset password'. On another Windows 10 Enterprise workstation under the same group policies, but that was setup using an original install ISO, I can get to the password reset dialogue and complete the process.

Now I need to figure

[2018-08-29 16:05] #13247 closed

[2018-08-29 16:05] #11053 closed

[2018-08-29 16:09] Mike-Ubezzi-MSFT commented on #14166
@amanarneja In terms of Community workflow, not sure how to redirect this within Watchtower. @nschonni Can this be assigned to you?

[2018-08-29 16:10] Alberto-Vega-MSFT commented on #14012
@ScapyArtGroup We will now proceed to close this thread. If there are any questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-29 16:10] #14012 closed

[2018-08-29 16:18] MarileeTurscak-MSFT commented on #14117
Hi @birdnathan , have you followed the app passwords guide? https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-end-user-app-passwords

[2018-08-29 16:31] Pikhulya opened #14209 "Original Identity Provider's claims"
Will AAD B2C just pass the id_token through from the original IDP to the acquiring client application or it will returns its own token? If its own - will the 'sub' and 'iss' claims contain the original values coming from the original Identity Provider or they will be AAD B2C specific? I am trying to figure out whether users from original Identity Provider will still be 'known' to the acquiring app

[2018-08-29 16:32] TiloGit commented on #13157
Idea here: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34866484-specify-intervals-force-upgrade-option

[2018-08-29 16:39] mestew commented on #14080
Thanks for letting me know that worked for you Stephane! I am updating the documentation for the new release to note this as well. #please-close

[2018-08-29 16:42] LuisCabrer commented on #13135
The example that deals with defaultLanguageCode is code related to the OCR skill (which is not the focus of the documentation on this page). The full list of languages supported for the OCR skill is fully documented at https://docs.microsoft.com/en-us/azure/search/cognitive-search-skill-ocr

@SychevIgor, please close this issue.

[2018-08-29 16:44] MicahMcKittrick-MSFT commented on #14161
@cgillum since you are leaving the comment and you are the content author I will just assign to you :)

[2018-08-29 16:45] MicahMcKittrick-MSFT commented on #14162
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-29 16:45] MicahMcKittrick-MSFT commented on #14163
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-29 16:47] MicahMcKittrick-MSFT commented on #14165
Thanks for the question! We are investigating and will update you shortly.

[2018-08-29 16:47] MicahMcKittrick-MSFT commented on #14175
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-29 16:48] MicahMcKittrick-MSFT commented on #14178
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-29 16:49] birdnathan commented on #14117
Yes. I’ve checked all docs and trawled the web for other affected users. No joy

Cheers
Nathan

Sent from Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Wednesday, August 29, 2018 5:21:47 PM
To: MicrosoftDocs/azure-docs
Cc: birdnathan; Mention
Subject: Re: [MicrosoftDocs/azure-docs] App Password issue (#14117)

[2018-08-29 16:49] MicahMcKittrick-MSFT commented on #14202
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-29 16:50] MicahMcKittrick-MSFT commented on #14207
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-29 16:50] MicahMcKittrick-MSFT commented on #14203
Thanks for the question! We are investigating and will update you shortly.

[2018-08-29 16:52] josuvil opened #14210 "Additional AAD Connect prerequisite"
Please include this additional AAD Connect prerequisite. You can include something like, "If you recently added a Windows 2016 DC, make sure to refresh your AAD Connect directory schema." Background: For key-trust to work properly, a Windows 2016 DC must be present. If you add Windows 2016 domain controller in a Win2008/2012 AD environment, then the AAD Connect schema should be refreshed. Otherwis

[2018-08-29 16:54] #12650 closed

[2018-08-29 16:58] vasivara-MSFT commented on #14106
@balait01 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-29 16:58] #14106 closed

[2018-08-29 17:03] vasivara-MSFT commented on #14173
@kazshi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-29 17:03] vasivara-MSFT commented on #14180
@balait01 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-29 17:05] mestew commented on #14151
Hi @CHDAFNI-MSFT. Thanks for your feedback!
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/azure-disk-enc-windows is more about the schema of the VM extension. https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-windows provides information about using the Azure Disk Encryption rather than schema information.  Some overlap between the two articles is

[2018-08-29 17:06] YutongTie-MSFT commented on #14177
@elainebettaney Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-29 17:07] vasivara-MSFT commented on #14190
@bdforbes This question is more suited in our [forum](https://github.com/MicrosoftDocs/azure-docs/issues/14106). In github we handle only doc issues like doc-enahncement, doc-bugs or any issues related to docs. This is more like product question, Can you please try pasting this in our [MSDN forum](https://github.com/MicrosoftDocs/azure-docs/issues/14106).

[2018-08-29 17:08] gopitk commented on #14177
PyCharm is a GUI and hence you need login to the Linux DSVM using X2Go client to run it as opposed to a text based SSH. Details are in this article: https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-ubuntu-intro#how-to-access-the-data-science-virtual-machine-for-linux

[2018-08-29 17:08] mamccrea commented on #14023
Hi @dcbrown16 - Head nodes run master services and ZooKeeper nodes ensure that services, data (worker) nodes, and gateways know which head node a master service is active on. NameNode is a master server that manages the HDFS file system namespace, which is a master service that can be active on a Head node. NameNode and ZooKeeper would not be on the same node.

Here's a good explanation of the dif

[2018-08-29 17:09] vasivara-MSFT commented on #14190
@bdforbes We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-29 17:09] YutongTie-MSFT commented on #14177
@gopitk Thanks for your quick response.

[2018-08-29 17:11] vasivara-MSFT commented on #14201
@nithinsukumar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-29 17:12] mike-urnun-msft commented on #14174
@bdyer Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-08-29 17:12] LuisGonzalezLT commented on #13693
It worked fine for a geo-replica, but didn't work for the replica opened up
by read scale out.

On Mon, Aug 27, 2018 at 3:20 PM Mike Ubezzi <notifications@github.com>
wrote:

[2018-08-29 17:13] mamccrea commented on #12991
#please-close

[2018-08-29 17:14] jtuliani opened #14211 "Obsolete page on backup vaults?"
According to https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq#recovery-services-vaults-are-resource-manager-based-are-backup-vaults-still-supported-br the backup vaults are gone. So why do we still have this page at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21ed053d-77be-b16d-054c-fafa599

[2018-08-29 17:15] SaurabhSharma-MSFT commented on #14208
@davidjoye Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-29 17:15] TravisCragg-MSFT commented on #14134
@aloysiustany you can use [NSGs ](https://docs.microsoft.com/en-us/azure/virtual-network/manage-network-security-group)to restrict traffic in your VNET to your cloud service. NSGs can only use IP Addresses to restrict traffic, so you will want to[ set your cloud service's IP address as static.](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-reserved-public-ip).

Once your

[2018-08-29 17:15] mike-urnun-msft commented on #14179
@jurjenoskam Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-08-29 17:16] SaurabhSharma-MSFT commented on #14209
@Pikhulya Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-29 17:16] #12991 closed

[2018-08-29 17:16] SimonPuckeyAW commented on #14130
By adding SF orchestrator support to default .netcore api projects in their own individual solutions (and setting up the cluster as per the instructions above) I could debug both containers from VS. However I have tried to follow the guide regarding RESTful communication between the api's and I cant get  WebApp1 to resolve the Service FabricDnsName of WebApp2.

For reference I used the following b

[2018-08-29 17:17] mike-urnun-msft commented on #14194
@tomaszbiegacz Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-29 17:27] MicahMcKittrick-MSFT commented on #13984
@hellangleZ thanks for clarifying and @iainfoulds thanks for your input.

I tested this out and yes, you can add a pod to a Load Balancer outside of AKS

![image](https://user-images.githubusercontent.com/32313503/44804369-ff723c00-ab75-11e8-9bd4-1fbe796c40b6.png)

But as Iain mentioned, PODs are not designed to be permanent so if the POD is destroyed and a new one is created the LB rules would br

[2018-08-29 17:28] MicahMcKittrick-MSFT commented on #14033
@hensilva I will close this for now. When ready let me know and we can reopen and continue.

[2018-08-29 17:28] MicahMcKittrick-MSFT commented on #14069
@timmyreilly I will close this for now. Feel free to ping me offline if you need more assistance.

[2018-08-29 17:30] jstott opened #14213 "Value for keyVaultIdToCertificate not entirly clear"
The value for the keyVaultIdToCertificate in the template was entirely clear.  Looking at the vault entry with CLI:  `az keyvault certificate show --name &lt;certificat entry name&gt; --vault-name &lt;vault name&gt;` - the value is the `sid` property value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e6fa6cc-8307-4

[2018-08-29 17:30] Mike-Ubezzi-MSFT commented on #14197
@imhashir Thank you for the product feedback. Can you provide the link to the specific tutorial you were following? With it, I can move forward with investigating this issue. Thank you, Mike!

[2018-08-29 17:33] Mike-Ubezzi-MSFT commented on #14199
@SMGonc Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-29 17:36] aljo-microsoft commented on #14146
Hello,

This is advanced run-time configuration, to enabled a classic behavior, and NOT recommended.

My thought was to remove that context about the setting to avoid confusion.

This behavior was implemented as an enhancement to enable our users to declare Common Name + Issuer Thumbprint, so changing certificates doesn't require Template Thumbprint updating, and moving the platform closer to the

[2018-08-29 17:38] imhashir commented on #14197
@Mike-Ubezzi-MSFT Thanks for your reply. This is the tutorial link:
https://docs.microsoft.com/en-us/azure/blockchain-workbench/blockchain-workbench-create-app#add-blockchain-application-members

[2018-08-29 17:40] tamram commented on #13226
@aiden56 - Thanks so much for your feedback. I've updated the documentation to add this distinction.

#please-close

[2018-08-29 17:41] Mike-Ubezzi-MSFT commented on #13693
@LuisGonzalezLT Thanks for the feedback. I will look into read-out scale Powershell cmdlets.

[2018-08-29 17:41] jonwbstr opened #14214 "Enterprise Admin account Required"
I learned the hard way that we need enterprise admin access to configure the MFA Server. In other words, Azure AD: Domain Services is not supported at the moment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75965afd-b39c-5bf0-bc9a-7520bddfd4af
* Version Independent ID: be56aebb-04fb-0518-017f-5a7115c8038b
* Content:

[2018-08-29 17:42] YutongTie-MSFT commented on #14142
@jainr Hi, can you please check the tutorial link and update the document with the formal page link? Thanks a lot!

[2018-08-29 17:44] SaurabhSharma-MSFT commented on #14210
@josuvil Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-29 17:45] mike-urnun-msft commented on #14178
Hey @rloutlaw Any thoughts around this one? Looking at the history log of this documentation, i'm not seeing any particular example/sample script that got removed.

[2018-08-29 17:48] nitinme commented on #13763
@revodavid. Thanks for the feedback. This is fixed now.

#please-close

[2018-08-29 17:49] jonwbstr commented on #13203
I think I meant NPS in the above post... Just wrapped up call with MFA Server team, they say AAD:DS is not supported by NPS and neither NPS extension or MFA Server can work with the AAD:DS service currently.

[2018-08-29 17:58] cherylmc commented on #5133
@IamGus29 - we're already working on these updates. No need to file a new issue.

[2018-08-29 17:58] bandersmsft commented on #14194
@tomaszbiegacz Thanks a bunch for catching this. I'll get the article updated shortly.
#in-process

[2018-08-29 17:58] mike-urnun-msft commented on #14084
Hi @shankaritpro This (Github Issues) is a channel for driving feedback & improvements towards MS Docs. Because your feedback doesn't address any specific content on this documentation, we will now proceed to close this thread.

As for your question, could you please open a thread on either [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelogicapps) or [Stackoverflow ](

[2018-08-29 17:59] #14084 closed

[2018-08-29 18:03] tamram commented on #13226
FYI, I am also making a note of this difference on this page: https://docs.microsoft.com/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata.

[2018-08-29 18:03] rloutlaw commented on #14178
Content bug that needs fixing. Can you assign this issue to me?

[2018-08-29 18:11] Alberto-Vega-MSFT commented on #14186
@chadgr Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-29 18:17] TravisCragg-MSFT commented on #12501
@kamellemann We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-29 18:17] #12501 closed

[2018-08-29 18:26] YutongTie-MSFT commented on #14142
@cjgronlund Hi, can you please add Richin Jain to our repo so that once there is a issue I can assign it to the author directly? Thanks a lot!

[2018-08-29 18:26] Anmolgan81 opened #14215 "When I delete the ADDS and recreate it, I cant login with my AAD Group users"
I get a NLA Error when I tried using my AADDC user, the same user that I used to join the domain, why I cant I login using my AAD DC group users?? What do I have to take care of before deleting the ADDS??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40de8209-c5b3-684c-05a7-1fb0082ae0f3
* Version Independent ID: c28d5

[2018-08-29 18:27] Mike-Ubezzi-MSFT commented on #14136
@StingyJack Azure SQL Database and On-Premise SQL server are different offerings. Azure SQL Managed Instance is the most compatible and almost functionally the same to SQL Server (On-Prem). This documentation explains the dufferences, when you have the time: [Feature comparison: Azure SQL Database versus SQL Server](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-features).
As for

[2018-08-29 18:30] vturecek commented on #13993
@operationslazlo326 same as you do for any other Reliable Collection:

`IReliableConcurrentQueue<int> queue = await this.StateManager.GetOrAddAsync<IReliableConcurrentQueue<int>>("myQueue");`

[2018-08-29 18:33] adetutumary commented on #10561
hello, it still doesn't work for me, I used the exact code from integrate QnA with LUIS and every thing is done on azure but I still get the restsharp error
I included the rest sharp version in packages.config but still getting the error
pls help its quite frustrating

[2018-08-29 18:35] SaurabhSharma-MSFT commented on #14214
@jonwbstr Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-29 18:37] MichaelHauss commented on #14185
Today, you can accomplish this with the Azure CDN Verizon Premium offering which supports a strong set of URL rewrite rules. We are working on an native solution, but don't have an ETA to share at this point.

[2018-08-29 18:41] Expertasif opened #14216 "hey there i am found critical bug in azure android app"
let me know if you need more  info

my email is asfwork@outlook.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 815ac898-8ec3-773f-8795-13b57d30f409
* Version Independent ID: 6ed735de-bea9-350d-4fc0-acd0e7cf6e3f
* Content: [Azure Authenticator for Android](https://docs.microsoft.com/en-us/azure/active-directory/acti

[2018-08-29 18:42] MightyPen commented on #7827
The PM and I are supposed to meet today (2018/08/29) to discuss this GitHub Issue about VNet.

[2018-08-29 18:44] tsrob50 opened #14217 "Add Custom Fields"
I see where existing custom fields can be edited in advanced settings, but don't see where custom fields can be added.  Is that still in the works or did I overlook it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bb1685a-5439-034b-7668-f970390a940e
* Version Independent ID: 1dd1d6ed-e465-d9a8-1679-5f9ca37d5e6f
* Co

[2018-08-29 18:48] dstrebel opened #14219 "Add AKS To Feature Comparison"
Add AKS details to Feature Comparison list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a4abb1-48c0-178e-a37e-290034b4dcae
* Version Independent ID: 61da6a8b-fa37-a499-ba79-0dd6b5346f2a
* Content: [Azure App Service, Virtual Machines, Service Fabric, and Cloud Services comparison](https://docs.microsoft.com/en-us/

[2018-08-29 19:02] bernie-msft commented on #6973
So, are you looking at this document then? https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-configure-custom-domain. That custom url should show in the portal UI as shown at https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-publish-azure-portal#publish-an-on-premises-app-for-remote-access. I agree though that we should have t

[2018-08-29 19:08] SaurabhSharma-MSFT commented on #14114
@DennisRutjes  Those two are different endpoints and has two different purposes.  https://graph.microsoft.com/v1.0/me/ endpoint contains information about accessing the resources exposed by the graph while the OIDC token contains information ("Sub" which Subject) denotes the end user that was validated.

[2018-08-29 19:11] agvardha commented on #14079
@TravisCragg-MSFT Thank you very much, you are giving my such good pointers. After reading all the Azure documentation I just realized I had not mentioned specifically that I am working on Azure Stack. So hastily modified the subject header :). Jumping around from the document you pointed out I landed in the doc https://docs.microsoft.com/en-us/azure/cloud-services/diagnostics-performance-counters

[2018-08-29 19:14] nschonni commented on #14166
@Mike-Ubezzi-MSFT I don't think so since my previous PR was closed due to the size. It's probably better done internally in sizes that is reviewable for your group.

[2018-08-29 19:17] MicahMcKittrick-MSFT commented on #14099
@bramvdklinkenberg thanks for the update on this.

Glad to hear when you ran trough it again with a fresh cluster the steps worked as written. I also ran through this again today and it worked as expected.

Seems for your existing cluster there might be something else blocking you. I would suggest filing a bug directly on the ACS GitHub repo so the product team can investigate and help you with th

[2018-08-29 19:17] #14099 closed

[2018-08-29 19:18] Adam-Smith-MSFT commented on #14211
@jtuliani Thank you for the valuable feedback,we are investigating the issue.

[2018-08-29 19:19] Adam-Smith-MSFT commented on #14205
@jtuliani Thank you for the valuable feedback,we are investigating the issue.

[2018-08-29 19:29] MicahMcKittrick-MSFT commented on #14175
@mmacy it looks like the number is no longer limited to 16000. Can you confirm if we need to update this doc or if 16000 is a limit for container services only?

[2018-08-29 19:32] sdabbiru commented on #13677
That is correct. Hybrid Azure AD Join for establishing device identity in Azure AD for devices that are already on-prem AD domain joined. I want to be careful about using the term "registered" because it can be confused with "Azure AD registered", which is used for getting BYOD device identities into Azure AD.

[2018-08-29 19:35] mmacy commented on #14175
@MicahMcKittrick-MSFT @jurjenoskam Yes, I can confirm that the IP limits have recently increased on the Azure Networking side. I'll update this article so that it no longer specifies numbers for such networking limits, and instead directs readers to the networking limits section of the Azure limits article. This will help ensure that the two no longer get out of sync, and readers are always direct

[2018-08-29 19:38] CarlRabeler commented on #6832
#please-close

[2018-08-29 19:47] DennisRutjes commented on #14114
OK, I had hoped that there was more information in the userinfo_endpoint response than just the subject. https://connect2id.com/products/server/docs/api/userinfo will find a way to retrieve the email address.

Thanks for the response,

with kind regards,

Dennis

[2018-08-29 19:47] #14114 closed

[2018-08-29 19:55] stdistef opened #14226 "404 on footnote 1"
his value can be customized through ARM template deployment. See examples here. &lt;-- this link 404's

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18e73ba6-a06d-9bc4-fef6-6ece8a166e84
* Version Independent ID: a9efcfab-f4c5-969b-4cd4-aa86ebd80534
* Content: [Azure Kubernetes Service (AKS) quotas and region availabil

[2018-08-29 20:02] Mike-Ubezzi-MSFT commented on #6832
@bladeski We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-29 20:02] #6832 closed

[2018-08-29 20:04] amanarneja commented on #14166
@SyntaxC4 / @ShevaDas - Can you take a look at this ?

[2018-08-29 20:07] BryanTrach-MSFT commented on #14141
@GraemeMalcolm We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-29 20:07] #14141 closed

[2018-08-29 20:26] MicahMcKittrick-MSFT commented on #14207
@pkranen if you look at the file logged in SFDevCluster you will see the actual size that it takes on disk is only about 10GB

![image](https://user-images.githubusercontent.com/32313503/44813473-b37fc100-ab8e-11e8-991f-c02b3b7fe2a9.png)

This is expected and as far as I know you cannot change the size of this file.

When you say the Proxy URL is not working does that mean you are not seeing the V

[2018-08-29 20:29] mike-urnun-msft commented on #13920
Hey @dcbrown16 I have looked into this and it doesn't appear that Kudu, presently, supports deploying JAR files. Because this issue doesn't directly address any specific content of this documentation, we will now proceed to close this thread. If there are further questions regarding this matter, please open an issue directly on [Kudu repo](https://github.com/projectkudu/kudu/issues).

[2018-08-29 20:29] #13920 closed

[2018-08-29 20:31] jeffwmiles opened #14228 "Credit usage calculation frequency"
This article doesn't specify the frequency at which credit usage is calculated.

The example provided in the "How are credits accumulated?" imply that credits are accumulated and consumed per minute, but is the calculation of CPU usage used for these purposes an average over that 1 minute (and then at what sample timing?), or a point-in-time capture of CPU utilization every minute?

This detailed

[2018-08-29 20:31] kensykora commented on #14146
Hi Aljo:

Our use case is that we are switching the host name that the service fabric cluster runs under. For purposes of example, let's say

*old host name*: fabric.old.com
*new host name*: fabric.new.com

The customer I am working with went through a re-branding and part of that involved switching host names of development resources, including service fabric, although I could imagine other scena

[2018-08-29 20:33] Adam-Smith-MSFT commented on #14211
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-29 20:33] vasivara-MSFT commented on #14192
@sgiovinetti Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-29 20:34] minhaj-dell opened #14230 "Staff Eng"
Federation related document above shows that for a user external to the domain to login using smart card, Admin has to expose a web proxy.  The way I understand this is that user would need to login to windows locally (with SC) and then login to this web proxy using smart card again to gain access to AAD.  Is this correct?  Is there a way to configure windows login to authenticate through web prox

[2018-08-29 20:37] kobulloc-MSFT commented on #14007
@sanjaynarang We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-08-29 20:37] #14007 closed

[2018-08-29 20:41] jtuliani opened #14231 "Activity log alerts for failures?"
Can I used the Activity Log to alert for failures (critical/warning?) That would be useful, as the Activity Log supports better alert notifications, e.g. via SMS rather than email.

The doc isn't clear on this point. It says successful entries are in the activity log under 'informational' but doesn't say anything either way about unsuccessful operations.

---
#### Document Details

⚠ *Do not edit

[2018-08-29 20:51] yzheng-msft commented on #10263
C) for preview, an account can have max 1 policy set, each with up to 4 rules. We will increase the max rules count per policy post preview.
D) container support is provided through prefixMatch. For example, If you want to apply the rule to a container with name "containerfoo", you should specify prefixMatch with "containerfoo".
Let me know whether you have more questions.

[2018-08-29 20:52] yzheng-msft commented on #11401
West EU is now enabled for preview.

[2018-08-29 20:53] rubinstu commented on #13718
I am getting the same error. Has this been resolved?

[2018-08-29 20:54] yzheng-msft commented on #11915
@jdogg89, have this issue been resolved?

[2018-08-29 20:56] davidjoye commented on #14208
I might have jumped to conclusions about removing the AppxPackages from the WIM. I imported original 1803 install media (no modifications to WIM) into MDT, installed from MDT and ran into the same issue with nothing happening after clicking the password reset link. It's creating a 'defaultuser' profile when I click the PW reset, looks like it's going to do something, but just goes back to the logi

[2018-08-29 20:57] #14080 closed

[2018-08-29 20:57] bdforbes commented on #14190
Hi @vasivara-MSFT, it is somewhat of a docs question as the docs mention deployment to prod but do not clearly explain or walk through how to handle iterative development in the way I described, even though the title of the page is Continuous Integration.

[2018-08-29 20:58] MarileeTurscak-MSFT commented on #14214
What do you mean? Azure Active Directory Domain Services is used to join Azure virtual machines to a domain without having to deploy domain controllers. You still need enterprise admin access to configure the MFA Server, and you can grant this access to yourself.

[2018-08-29 20:59] Mike-Ubezzi-MSFT commented on #14191
@djpirra Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-29 20:59] douglaslMS commented on #14190
@bdforbes FYI here is some information from a member of the Data Factory team:

Deleting all the resources in the data factory means the customer will lose all the monitoring information, since we have to delete and recreate the factory, so that is not a viable option.

Another viable option is to run a script during CI/CD to delete the renamed/deleted resource. The documentation already contains

[2018-08-29 21:00] Mike-Ubezzi-MSFT commented on #14204
@jhadz81 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-29 21:03] bdforbes commented on #14190
Thanks Douglas, I will review the page again and look into that option. In principle such a script could be generated from the Git repo automatically so that sounds like a plausible option.

[2018-08-29 21:05] CarlRabeler commented on #14189
@chadgr The limit for an elastic pool is the limit for the total of all databases in the pool. Regarding the why of different total limits for a GP_Gen4_8 as a single database limit of 3 TB and an elastic pool limit of 2 TB - I do not have a good answer for you at this time, other than that there are different overhead limits with elastic pools and their automatic backups and their storage require

[2018-08-29 21:06] SaurabhSharma-MSFT commented on #14151
@CHDAFNI-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-29 21:06] #14151 closed

[2018-08-29 21:08] markgalioto commented on #14116
@jtuliani Thank you for your feedback and question. The [Best Practices section](https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-introduction#best-practices) is the only section that should provide recommendations. In the Best Practices section, there are seven bullet items. Items 4, 5, and 6 mention storage accounts and apply ONLY to VMs with unmanaged disks. Items 1, 2, 3, and 7 a

[2018-08-29 21:08] markgalioto commented on #14116
#please-close

[2018-08-29 21:17] MicahMcKittrick-MSFT commented on #14226
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-29 21:19] SaurabhSharma-MSFT commented on #14188
@JozoSlejko The cmdlets and results provided in this document are examples for reference purpose.

[2018-08-29 21:28] pauldalyii commented on #12391
I too have seen in a github issue a reference to AzureAD being folded into AzureRM.Resources.  I can't seem to find it at the moment, but will keep looking and add reference to it here if I find it.

@curtand, I understand that you've said both modules are supported, but can you speak to plans going forward?

Some features in the AD module that don't yet exist in RM.Resources, however most other A

[2018-08-29 21:29] qianw211 commented on #14056
@ellacroi @iyerss new pr entered for merging the two tables into one comparison table!

[2018-08-29 21:34] jj09 commented on #13999
Thanks Heidi! Changes looks good! Thanks @izzyacademy for updates!

[2018-08-29 21:35] tchristiani commented on #5083
#please-close
This feature has been deprecated.

[2018-08-29 21:36] etherdragon98926 commented on #7460
I have the following template that does not work. I based this template off of the base VSS template, and added only the information needed to add OMS to the extensionProfile / extensions section.

The base template deploys find, when I add the info for OMS, it fails with the following error:

No further error info is given even when I use -DeploymentDebugLogLevel All.

Template follows:
[code]

[2018-08-29 21:36] tonyxu-io opened #14232 "An image becomes invalid in "Azure Active Directory v2.0 and OAuth 2.0 On-Behalf-Of flow""
An image becomes invalid in [Azure Active Directory v2.0 and OAuth 2.0 On-Behalf-Of flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow)

https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/active-directory/develop/v2-oauth2-on-behalf-of-flow.md#L39

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-08-29 21:40] tchristiani commented on #5084
#please-close

[2018-08-29 21:41] tchristiani commented on #5114
#please-close

[2018-08-29 21:49] benhu-msft opened #14233 "How about TimeSpan from 1 day to 23 days?"
Expressed as a string, the TimeSpan format is hh:mm:ss when hh is less than 24. When the first two digits are 24 or greater, the format is dd:hh:mm. Here are some examples:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f1673c48e40

[2018-08-29 21:51] tchristiani commented on #5393
@rajivramanjani please see this page for other languages: https://docs.microsoft.com/en-us/azure/cognitive-services/face/

[2018-08-29 21:52] tchristiani commented on #5393
#please-close

[2018-08-29 21:53] MicahMcKittrick-MSFT commented on #14228
@jeffwmiles thanks for the feedback.

I can see how it might be confusing if your VM uses 60-80% CPU over a min and how to calucalte.

@jonbeck7 can you look into this and see if we can get more info from the PG on how to calculate ?

[2018-08-29 21:56] tchristiani commented on #6595
#please-close

[2018-08-29 21:58] migolfi opened #14234 "Kubernetes template referred to as AKS service"
Small technicality: the template is not the same managed AKS service offered in Azure but closer to the ACS service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4072186c-0214-fdab-a2d1-bd7965d76b66
* Version Independent ID: c254d1d2-7fd7-d623-f45b-cd6bc53e3ca2
* Content: [Deploy a Kubernetes Cluster to Azure Stack](

[2018-08-29 21:59] StingyJack commented on #14136
`sqlew.exe` was the admin tool for MSSQL 6.x, before it became an MMC snapin (which was before it used the vs shell). There has always been the ability to quickly initiate an adhoc backup of an MSSQL db.

Scripting is great but sometimes I need 3-4 clicks, not a few hundred keystrokes composing a dozen powershell statements.

I have portal access but again, that is still more clicks (in kind of a

[2018-08-29 22:02] MicahMcKittrick-MSFT commented on #14233
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-29 22:09] sanfonck opened #14236 "Link for manual download of git forwards to an archive solution"
Please update the link for downloading the solution from https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/archive/master.zip to https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi.git

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 976c73ce-6915-43a0-d862-2c054653

[2018-08-29 22:10] CarlRabeler commented on #12801
https://github.com/MicrosoftDocs/azure-docs-pr/pull/50442

[2018-08-29 22:11] tchristiani commented on #6881
#please-close

[2018-08-29 22:21] jeffwmiles opened #14237 "Scale of relative latency?"
Is it possible to define the scale of relative latency produced by the Score value?

For many applications, there is a large difference between 10ms and 40ms; how can one evaluate a Score difference of 90 and 99 if it isn't known whether that is a difference of 10ms, or a much greater figure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-08-29 22:31] tchristiani commented on #6882
#please-close

[2018-08-29 22:37] YutongTie-MSFT commented on #13995
@cjgronlund Thanks a lot!

[2018-08-29 22:50] SaurabhSharma-MSFT commented on #14215
@Anmolgan81 Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-29 22:52] SaurabhSharma-MSFT commented on #14216
@Expertasif Can you please provide details here to help you clarify your concern.

[2018-08-29 22:56] SaurabhSharma-MSFT commented on #14230
@minhaj-dell Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-29 22:59] MarileeTurscak-MSFT commented on #14214
This is an unsupported scenario. If you would like to request this, please post to Azure product feedback: "If you recently added a Windows 2016 DC, make sure to refresh your AAD Connect directory schema."

[2018-08-29 22:59] #14214 closed

[2018-08-29 23:09] Mike-Ubezzi-MSFT commented on #14136
@StingyJack Please take a look at similar desires by other users on the Azure SQL User Voice forum. Please up-vote those requests that you desire, or create your own request. It is the best means to get product recommendations to the product group. This channel is for correcting/enhancing the documentation.

[SQL Agent, Rename, Backup, Restore, azure SQL Database](https://feedback.azure.com/forums

[2018-08-29 23:09] #12801 closed

[2018-08-29 23:10] Mike-Ubezzi-MSFT commented on #5114
@stephlocke We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-29 23:10] #5114 closed

[2018-08-29 23:28] Mike-Ubezzi-MSFT commented on #13988
@mkozioro Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

![screenshot 234](https://user-images.githubusercontent.com/37126106/44821072-8dffb100-aba8-11e8-9ce2-fff163415133.png)

[2018-08-29 23:29] MarileeTurscak-MSFT commented on #14172
You can have SharePoint authenticate to ADFS and use the MFA Server with ADFS, or publish SharePoint using the Azure AD App Proxy where you can then either enable the users for MFA in Azure AD or use the MFA Server with ADFS.

These links may be useful:
https://blogs.msdn.microsoft.com/sambetts/2014/12/10/publishing-sharepoint-with-windows-server-2012-r2-web-application-proxy/
https://blogs.techne

[2018-08-29 23:30] Mike-Ubezzi-MSFT commented on #14002
@itzikstein We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-29 23:30] #14002 closed

[2018-08-29 23:31] Mike-Ubezzi-MSFT commented on #14169
@zarchigl We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-29 23:31] #14169 closed

[2018-08-29 23:47] SaurabhSharma-MSFT commented on #14148
@Neorick25 I do not think this is possible to close those connections but you can have few options you can look into to disconnect the users -
1. You can make your VM restart
2. You can use  commandline (qwinsta) to get the list of remotely logged in users and disconnect the remote session.  Please check this [blog](http://www.techtalkz.com/blog/tips-n-tricks/how-to-view-disconnect-remote-desktop-

[2018-08-29 23:47] markgalioto commented on #13595
@DMoonesinghe , Thank you for the question. You are correct that DPM and Azure Backup Server use the Microsoft Azure Recovery Services agent to back up data to Azure. Also, DPM and Azure Backup Server are not data types or file types. I'll take an action item to update this article.

[2018-08-29 23:48] TravisCragg-MSFT commented on #14237
@jeffwmiles Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-29 23:49] markgalioto commented on #13595
#please-close

[2018-08-29 23:51] SteveBurkettNZ opened #14241 "Change Allow all Azure Services -> Allow access to Azure services"
Multiple references to 'Allow all Azure Services' in this doc but the current terminology in the portal is 'Allow access to Azure services'.

I'd also suggest 'Allow access to Azure services' in the portal should actually be changed to 'Allow access from Azure services' since this is more correct. It's allowing inbound connections, not outbound.

---
#### Document Details

⚠ *Do not edit this sect

[2018-08-29 23:59] MarileeTurscak-MSFT commented on #14210
@josuvil I have assigned this to the content owner, @MarkusVi.

@MarkusVi could you please look into this?

[2018-08-30 00:00] Mike-Ubezzi-MSFT commented on #14232
@tonyxu-io Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-30 00:00] chipalost commented on #14196
This has been fixed.

[2018-08-30 00:05] Mike-Ubezzi-MSFT commented on #14176
@amjad-Alhusseini Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-30 00:10] Mike-Ubezzi-MSFT commented on #14193
@SenthuranSivananthan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-30 00:15] Mike-Ubezzi-MSFT commented on #14193
@SenthuranSivananthan Actually, there is a link to the full program:

![screenshot 235](https://user-images.githubusercontent.com/37126106/44822243-dde17680-abae-11e8-800e-a9b588df49b2.png)

Is this the code sample you are referring to? There is a link to the full code sample. I want to confirm this is what you are referring to. Thanks for the clarification. Regards, Mike

[2018-08-30 00:15] TravisCragg-MSFT commented on #14237
@jeffwmiles I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-30 00:15] rolyon commented on #14096
Hi @dcbrown16
For your first question, I would change your text slightly:
"In order to create, delete, or update a custom role for a given scope, you must have the Microsoft.Authorization/roleDefinition/write permission for that scope (for example, be an Owner or User Access Administrator at that scope)"

I'll try to answer your second question with an example:
User1: Owner on just ResoureGroupA
U

[2018-08-30 00:16] Mike-Ubezzi-MSFT commented on #14196
@sebader Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-30 00:41] iainfoulds commented on #13681
To follow back up here, @abhiramani-iptiq. It actually looks like this is possible, and is supported. Sorry for the miscommunication. To do so, create a file name _internal-ingress.yaml_ with the following controller configuration applied:

[code]

Provide your own internal load balancer IP to use.

Then, create the ingress resource with Helm as noted in the doc, but pass in the definition created

[2018-08-30 00:42] dcbrown16 commented on #14096
Thanks @rolyon, that pretty much answers the question. In your example, my understanding is that User1 could only create a custom role with AssignableScope of RG A (like CustomRoleA), so any role created by User1 could not be assigned to RG B.
I'll go ahead and close. I don't know if it's needed, but if you think it would be helpful feel free to add something along the lines of the text you sugges

[2018-08-30 00:42] #14096 closed

[2018-08-30 00:48] Alberto-Vega-MSFT commented on #14013
@CarlRabeler It seems like there is contradictory information in the docs about this.
In the section [Backups and Storage](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers-vcore#backups-and-storage) the docs mentions that in fact RA-GRS is used for vCore model:

*"PITR: Individual database backups are copied to **RA-GRS** storage are automatically."*
*"LTR: SQL Databa

[2018-08-30 00:49] Adam-Smith-MSFT commented on #14231
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-30 00:53] TravisCragg-MSFT commented on #14079
@agvardha The best way to add a custom metric will be to take the configuration file, add your custom metric, and then update the VM Diagnostics extension using the [Set-AzureRmVMDiagnosticsExtension ](https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/set-azurermvmdiagnosticsextension?view=azurermps-6.8.0) cmdlet, specifying the -DiagnosticsConfigurationPath to point to a local ed

[2018-08-30 00:54] Adam-Smith-MSFT commented on #14182
@polarapfel Thank you for the valuable feedback,we are investigating the issue.

[2018-08-30 01:03] dcbrown16 commented on #14023
Thanks @mamccrea, I'll pass that on. The customer for this case is also wondering if there is a way to specify which processes run on which nodes. I received an initial opinion internally that this isn't possible, can you confirm? If there isn't any method, feel free to close.

[2018-08-30 01:26] zarchigl commented on #14169
Not in Azure SQL DB, but is there a way to download bak file after sql back up in azure VM is configured?

[2018-08-30 01:31] BryanTrach-MSFT commented on #14024
@gmconte Unfortunately, I am not very familiar with the Azure Bot Service/ Direct Line. If you wish to pursue this path, I would recommend checking with the experts on the [Azure Bot Service Stack Overflow](https://stackoverflow.com/questions/tagged/azure-bot-service) to see if they have any suggestions. The problem with this approach could be more advanced attacks typically launch from multiple I

[2018-08-30 01:33] CarlRabeler commented on #14013
@Alberto-Vega-MSFT please assign to anosov1960

[2018-08-30 01:34] jdogg89 commented on #11915
Yes this is resolved, please close.

On Wed, Aug 29, 2018, 3:54 PM Yuan Zheng <notifications@github.com> wrote:

[2018-08-30 01:50] dcbrown16 commented on #14023
Closing per offline follow-up, thanks!
(For others' reference, I wasn't able to verify any way to specify which processes run on which nodes.)

[2018-08-30 01:50] #14023 closed

[2018-08-30 01:51] jonwbstr commented on #14214
Hi Marilee,

What I mean, is that there is a undocumented requirement and I an reporting
that is is undocumented so the requirement can be clearly highlighted in
the documentation.

Please reopen and update the documentation to include the requirement for
enterprise admin rights.

On Wed, Aug 29, 2018, 6:59 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2018-08-30 01:52] KloudEzy commented on #14171
Hi @Mike-Ubezzi-MSFT You are giving me instructions on how to mount persistent FileShare which I'm very clear about but if you remember the FileShare storage account has to be int the same region where CloudShell Instance is running. If you run **env** command inside cloud shell and refer the **ACC_LOCATION** that's where your file share account should be. My Azure Cloud shell was hosted out of EA

[2018-08-30 01:55] jonwbstr commented on #14214
How is my request related to deploying a windows 2016 DC?

I already submitted feedback for this scenario.

Also, I am attempting to improve the documentation, so the requirement for
enterprise admin rights is stated as a requirement.

On Wed, Aug 29, 2018, 6:59 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2018-08-30 01:58] harryzsh commented on #13883
@vladvino We should also let customer know that in order to see APIs in APIM or even APIM in Azure portal, they need to assign a read permission at APIM scope level not at the API level. Many customers are confused about why they can't see APIM in their Azure portal even when they have grant a read permission to the API

[2018-08-30 02:03] Mike-Ubezzi-MSFT commented on #14169
Yes, there is a way. You can configure and attach a file share account to the VM: [Use Azure file shares with Windows VMs](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/mount-azure-file-storage).
And have your SQL instance write .bak files to this storage account. You need access to blob storage, and I believe that following the above instructions will get you there.
After the de

[2018-08-30 02:05] kazshi commented on #12749
@Mike-Ubezzi-MSFT @CarlRabeler adding you back on this since no update from @Mart-Bogdan
Still seeing inconsistency between the document and the portal for the max of memory (5.1 vs 5.5 per core). I'd appreciate if you could check.  Thanks.

[2018-08-30 02:05] harryzsh commented on #13883
@vladvino Please also let users know that in order to see APIs in APIM or even APIM in Azure portal, they need to assign a read permission at APIM scope level not at the API level. Many users are confused about why they can't see APIM in their Azure portal even when they have grant a read permission to the API

[2018-08-30 02:14] #5083 closed

[2018-08-30 02:15] #5084 closed

[2018-08-30 02:15] #5393 closed

[2018-08-30 02:16] #6595 closed

[2018-08-30 02:17] #6881 closed

[2018-08-30 02:17] #6882 closed

[2018-08-30 02:18] #8267 closed

[2018-08-30 03:13] sramayanam commented on #13049
ComputerVisionClient computerVision = new ComputerVisionClient(
                new ApiKeyServiceClientCredentials(subscriptionKey)){ Endpoint = "https://westcentralus.api.cognitive.microsoft.com"};
works. it seems name of api and version is not needed

[2018-08-30 03:22] eugen-nw opened #14245 "The "Debug a remote Service Fabric application" does not work as advertised"
I tried this the other day.  Below is how it worked for me:
1.  attaching to the application worked only on like every 5h attempt.
2.  once the breakpoint was hit, it took the debugger forever to evaluate the local variables.  It never went through to completion.

The feature sounds to be amazingly good "on paper", a total waste of time to try to use it.

---
#### Document Details

⚠ *Do not edit

[2018-08-30 03:30] Mike-Ubezzi-MSFT commented on #14217
@tsrob50 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-30 03:49] Mike-Ubezzi-MSFT commented on #14236
@sanfonck Thanks for the feedback. The .zip file is the option to download the complete solution, or you can use git. The instructions for downloading and installing git can be found [here](https://www.git-scm.com/downloads). You can also install a [Git GUI](https://www.git-scm.com/downloads/guis) to browse and download a .git copy of the solution.

Please let us know if you have additional questi

[2018-08-30 03:49] ericcwk opened #14247 "In the section of "Protect data in transit""
It mentioned that it allowed to use site to site vpn and connect via azure sql in the vpn.
Please help to confirm is it possible since we find it is not work on Azure SQL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6e17627-961e-e3c3-b2cd-ef137e5ec590
* Version Independent ID: c680c4cb-05dd-6059-49be-c825df1f4a23
*

[2018-08-30 04:27] v-maroge opened #14248 "Daily backup limits for Isolated service plan"
Hi, I had a question about daily back up limits for Isolated service plan.

The document says,
&gt;Premium tier allows a greater number of daily back ups than Standard tier.

Since Isolated plan is the next level of Premium, I'm assuming that it will allow more daily backups than Standard tier but am I correct?
Also, is there a specific value for the limit of daily backups? ( Or is it unlimited?)

[2018-08-30 04:33] v-anpang opened #14249 "On-Premise SQL - Table not loading by default in selection"
Hi,

On successfully setting up the gateway and connecting to On prem SQL. We are not able to see the table name in drop down for "When an item is modified" trigger, but we see the table name for "Get Rows" action. Could you please guide accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7892e678-a98f-73fa-7c5

[2018-08-30 05:12] artisticcheese opened #14250 "Incorrect information about status of encryption is provided for GPT disks"
Azure incorrectly reports disk as not encrypted which is using GPT looks like

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c63605-95f5-0953-3cf6-1e9c50532c1d
* Version Independent ID: 8731daa8-2c15-78f7-adac-151401c13b6c
* Content: [Enable Azure Disk Encryption for Windows IaaS VMs](https://docs.microsoft.com/en-us

[2018-08-30 05:13] artisticcheese commented on #14250
[code]

[2018-08-30 05:20] peterbecker opened #14251 "Erroneous semicolon in Java example"
The Java code in the "Output - example" section contains the following signature:

    public String pushToQueue(
          @HttpTrigger(name = "request", methods = {HttpMethod.POST}, authLevel = AuthorizationLevel.ANONYMOUS)
          final String message,
          @HttpOutput(name = "response") final OutputBinding<T>; result ) {

That semicolon towards the end shouldn't be there.

---
#### Docu

[2018-08-30 05:51] kazshi opened #14252 "no Application Gateway option in the steps"
I cannot find Application Gateway (which is available on the portal currently) option in the steps - the content hasn't been updated yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ac55b8-8be8-1f86-e3b1-3fe3f6c340c1
* Version Independent ID: c26d3fc8-b62c-4895-3687-2fc7364c6383
* Content: [Quickstart - Create a v

[2018-08-30 06:39] SarithaMaran opened #14254 "SQL server for ARM architecture"
# SQL server for ARM architecture
I am trying to run this tutorial in Raspbery Pi with Raspian Stretch OS installed.

## SQL server module is not running .
[code]

The sql module logs shows the following error:-
[code]

This error seems to be because of architecture problem.
- Is this image provided ``` microsoft/mssql-server-linux:2017-latest``` supported only for linux-x64 and not available for

[2018-08-30 06:44] keamas opened #14255 "Multiple iperf servers and multiple test runs at the same time"
I whould like to run multiple iperf serer on diffferent ports, I can do this like that:
PS C:\ACTTools&gt; .\iperf3.exe -s -p 5202
PS C:\ACTTools&gt; .\iperf3.exe -s -p 5203

But how can I define another port for the "Get-LinkPerformance -RemoteHost 10.0.0.1 -TestSeconds 10" command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-08-30 06:49] SychevIgor commented on #13135
@LuisCabrer could you add a link (for example https://docs.microsoft.com/en-us/azure/search/cognitive-search-skill-ocr#skill-parameters) with a list of supported languages on a page?
This link will save a lot of time when users will read this guide.
For me, it was not clear that "text merge" is part of "ocr" (it's not mentioned on a page)

[2018-08-30 06:54] mairaw commented on #14226
Seems duplicate of #13275

[2018-08-30 06:57] JelleKruithof opened #14256 "Clean old updates from updateadminaccount"
Documentation doesn't say anything about cleaning old updates after successfully updating Azure Stack to a new version. Is it possible to delete old updates from the "updateadminaccount" storage account without possibly breaking anything? The option to delete them is available in the storage account, but we don't know what effects might be if we delete them.

Kind regards,

Jelle Kruithof
Azure St

[2018-08-30 07:01] frenkan commented on #12999
Same issue for me. Location West Europe. Tested with various VM sizes.

[2018-08-30 07:02] kazshi opened #14257 "renaming VM hostname"
I understand that the ComputerNamePrefix is copied from VMSS name (which is used for VM hostname as well, correct?) when created VMSS - I renamed VM hostname and don't see any other changes in VMSS so I assume the VM host name is totally separated from VMSS. I'd like to make sure that there's no impact for scale set even though I rename VM hostname - please correct me if I'm wrong. Thanks.

---
##

[2018-08-30 07:02] Airstrike404 opened #14258 "Handling RequestRateTooLargeException with Cosmos Mongo API"
Currently documentation for request units states that in case of exceeding request units limits, db will return the `x-ms-retry-after-ms` header, and SQL API Client is capable of handling this.
But it's not clear how to get the `x-ms-retry-after-ms header` for Mongo API if using official mongo .net client (and I guess any other clients as well). As I understand, if using any client except SQL, dev

[2018-08-30 07:55] stefan923456 opened #14259 "High Available?"
Is it possible to create two "Azure connected" NPS servers and configure them both in the RDS enviroment? What are the steps required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61df48bb-a963-b1f0-8f64-b55d0bd6904c
* Version Independent ID: 677de59f-a222-8905-11c0-a3ac619d8b56
* Content: [Remote Desktop Gateway int

[2018-08-30 08:17] jtuliani commented on #14116
Thank you! Great info

[2018-08-30 08:29] buhongw7583c opened #14260 "Example command is not correct and needs update"
The commend to start the IoTHub explorer monitor :
iothub-explorer monitor-events MyPythonDevice --login {your hub service connection string}
should be iothub-explorer monitor-events MyPythonDevice --login "{your hub service connection string}".  There should be a pair or "" to enclose the IoTHub Service Connection String else the command cannot be executed.

---
#### Document Details

⚠ *Do not e

[2018-08-30 08:30] the-wazz commented on #13985
@BryanTrach-MSFT i've never done it so... i just looked at my own portal and my guess is, you select an App Service, select the Overview tab (if not open) and the URL is listed is there. is that what's needed? i don't know.

[2018-08-30 08:37] tsahi opened #14261 "Initialization of TelemetryClient is wrong"
I keep getting a "AI: Performance counter is not available in the web app supported list..." error in my App Insights. A short google comes up with [bug 757](https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/757), which [states](https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/757#issuecomment-356846156):

---
#### Document Details

⚠ *Do not edit this sect

[2018-08-30 08:38] pallavijadhav1429 commented on #14035
I have registered my IoT edge device on my IoT hub and that device is sending telemetries on hub. Now, I want to observe my device telemetries on IoT central.
But that device is not reflecting on my central application.
Is there any solution to link my edge device or hub to my IoT central application?

[2018-08-30 08:39] poulinjulien commented on #14202
I also tried with Excel 2013, but I got the same error.

On another computer (still with Excel 2016), I get another error (from the VBA engine): "Automation error. Exception occurred.", then Excel crashes.

[2018-08-30 08:55] hellangleZ commented on #13984
Hi Micah:

Thanks for the explain

[2018-08-30 09:01] hellangleZ commented on #13984
Hi @MicahMcKittrick-MSFT

Thanks for the explanation, I understand , but why you said, if a new PODs is created, then the LB rules would break?

What scenario will cause this problem, I think the behavior should be same as a new VM be created.

[2018-08-30 09:01] JVerstry opened #14262 "Installation fails - 'utf-8' codec can't decode byte 0xe9"
I am systematically running into the same error at installation. I have created a question describing the issue with an extract of the log: https://social.msdn.microsoft.com/Forums/azure/en-US/510e4c5b-8557-4ec9-a84a-e9ca1c599f0b/azure-ml-workbench-installation-fails-utf8-codec-cant-decode-byte-0xe9?forum=MachineLearning

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-08-30 09:02] NayangiriGoswamiGit opened #14263 "upstream from ML module on edge is stopped working after one day"
Hello,
I've one edge module M1 sending data to M2(which is edge ML module) using "amlInput" route.
Note: I'm using Azure DSVM with Linux as an edge device.
I also have set route for M2 to send ML output to upstream using "amlOutput" route.
I kept this setup for 2 days and I was getting ML output in upstream using IoT-Hub explorer.
But on second day I'm not getting any data on iothub explorer, Even

[2018-08-30 09:39] Zir01 commented on #12074
I am running on Win10Pro. I have pulled the latest code and followed your instructions above, I get the following error after hitting F5:

![image](https://user-images.githubusercontent.com/6413777/44843715-42bece80-ac8c-11e8-89b4-2657eaaef9a7.png)

[2018-08-30 10:09] dmakaroff opened #14265 "This article lists which services enable moving resources and which services don't enable moving resources"
Which article? There's no link. Is it the current one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-us/azure/azure-r

[2018-08-30 10:11] CharlPels opened #14266 "KCD with urls"
How can i use this solution with urls
for example HTTP/some.domain.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d8f9d8f-cfa2-1d9e-1f13-3888ebf1a4fa
* Version Independent ID: 09af4392-a4a5-c4fb-f04e-f63074750051
* Content: [Azure Active Directory Domain Services: Enable kerberos constrained delegation](https://do

[2018-08-30 10:22] jtuliani opened #14267 "CLI equivalent page?"
Great page, very thorough. We need a similar page walking through each scenario using the CLI. Current CLI documentation is very thin in comparison.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e50dfe50-c177-f976-753b-9fa689d20f92
* Version Independent ID: 7f787259-8ce5-9ba6-8df7-58ab0b89dd5c
* Content: [Deploy and m

[2018-08-30 10:37] jtuliani opened #14269 "Resource locks"
Does the FAQ entry on resource locks refer to locking the RG containing the VM, or the RG containing the vault?

If the former, that's a HUGE problem, since using Azure Backup then precludes the use of resource locks to prevent accidental VM deletes.

If the latter, then keeping the vault and the VMs in separate RGs should be listed as a best practice, to allow locks to be used to protect VMs.

--