[2020-05-19 15:10] scott-doyland-burrows commented on #55167
pull request created so closing this issue.

[2020-05-19 15:10] #55167 closed

[2020-05-19 15:11] v-miegge commented on #55142
@VikasPullagura-MSFT
An email has been sent to Tim Basham, the support PM who asked me to build the article.

[2020-05-19 15:11] babukumarg opened #55172 "Unable to make this work"
We need to configure B2C to login against any organizational account (No Personal Account ) and followed the instructions given in this document. When I tried to sign-in using the Microsoft Account Button. I get the following error.

We're unable to complete your request
unauthorized_client: The client does not exist or is not enabled for consumers. If you are the application developer, configure

[2020-05-19 15:12] #54970 closed

[2020-05-19 15:13] #54399 closed

[2020-05-19 15:19] Jont-K commented on #54802
Thank you!

Jonathan

--
Jonathan Kingsepp
e: jk@tackle.io<mailto:jk@tackle.io>
m: 312.286.6102
https://tackle.io<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftackle.io%2F&data=02%7C01%7CJeff.Cornwell%40microsoft.com%7Cb5cb68dbf523415e20e308d7f829943e%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637250729779707209&sdata=7ZsVJd%2B947xi0%2FmMUTeDiK2E%2FQ%2BxcfR%2BuLyUBtAfSkE%3D&

[2020-05-19 15:21] magnusakselvoll commented on #51459
Late reply, but in case anyone else is interested...

Say you have a single core machine, Standard_B1ms with 20% baseline. If you still have credits left, you can use up to 100% (i.e. your single CPU core at 100%). However, any time you spend more than 20% CPU you will be spending credits. Whenever you spend under 20%, you will be earning credits.

So the important thing to understand here is that

[2020-05-19 15:22] #54738 closed

[2020-05-19 15:25] BharathNimmala-MSFT commented on #54769
@michael-blahay-kt Thank you for being patient on this, i am checking with our internal team if this is something available for customers to consume. Will keep you updated.

[2020-05-19 15:27] #54734 closed

[2020-05-19 15:28] rgamage opened #55173 "Unclear if Downstream certificates are needed"
The wording in this and other articles implies there are two main options: use SAS keys, OR X.509 certs.  It seems like if you choose SAS keys, then there would be no need to generate the downstream device (X.509) certs?  This is completely unclear in the wording in this document.  When it says, for example, "You *can* create X.509 certificates, it leaves the reader wondering, yes I can but do I h

[2020-05-19 15:32] vhorne commented on #53795
Added statement about SNI requirement to known issues section in the overview
#please-close

[2020-05-19 15:32] #53795 closed

[2020-05-19 15:33] KranthiPakala-MSFT commented on #55162
@tjrobinson
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-05-19 15:34] alamoiker commented on #54846
Hi,

Another question related to the previous one, which is the SAP component that Datafactoy  connects to?

In our Sap instance we have the following components:

- SAP_BASIS
- SAP_ABA
- PI_BASIS
- ST-PI
- SAP_BW
- SAP_AP
- SAP_APPL
- FINBASIS
- ECC-DIMP
- AIF
- ST-A/PI

Thanks in advanced

[2020-05-19 15:35] #54967 closed

[2020-05-19 15:37] khbafl opened #55174 "AzureAD integration bypassed with --admin argument"
The Azure AD integraiton works fine and we are prompted to login when we run kubectl after "az aks get-credentials" , but when you run "az aks get-credentials" with the --admin argument you can run kubectl commands without the AzureAd authentication prompt, this makes the whole AzureAD integration easily bypassed!  Isn't this a problem?

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-05-19 15:38] genesisemmloh commented on #55082
hier.
![endpointname](https://user-images.githubusercontent.com/53597236/82347101-8248c380-99f7-11ea-9439-6f6081246ac6.PNG)

[2020-05-19 15:39] #54491 closed

[2020-05-19 15:39] ingokofler opened #55175 "Problem listing instances"
I am getting an error when running
$ az vmss list-instance-connection-info ...
No load balancer exists to retrieve public IP address
$ az -v
azure-cli                          2.6.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 602e2a20-deb3-418e-7148-62a8890791ed
* Version Independent ID: e3ec8eba-98aa-0523-3b07-8a8d

[2020-05-19 15:41] tjrobinson commented on #55162
@KranthiPakala-MSFT Thanks - I think I have resolved this now.

The logs were being written, to a "folder" with a GUID as the name. For some reason this wasn't appearing when I used Azure Storage Explorer but did appear when I used Cerabrata Cerulean.

Now that I have found the logging information, I can see that the reason for the rows being skipped was that I was sometimes trying to insert strin

[2020-05-19 15:41] #55162 closed

[2020-05-19 15:43] Console32 commented on #43543
@SnehaAgrawal-MSFT Somehow the mentioning of the clientId is gone from the documentation now. Could you pleas add it to the documentation. This error costed me hours.

[2020-05-19 15:44] ted185 commented on #54761
After adding a public ip address to the 2 sql server I am able to now access the internet

I had to
1. remove the load balancing rules
2. delete the 2 servers from the back end pool of the load balancer
3. shut down the server and associate the public ip addresses to the 2 sql servers
4. add the servers back in to the back end pool for the load balancer
5. boot the servers back up

I believe that

[2020-05-19 15:46] sandeshsegu commented on #45105
If you are still facing the error, then replace the DataUri tag from urn:com:microsoft:aad:b2c:elements:idpselection:1.2.0 to urn:com:microsoft:aad:b2c:elements:contract:providerselection:1.2.0 for the ContentDefinition api.idpselections and api.idpselections.signup.

[2020-05-19 15:51] VikasPullagura-MSFT commented on #55135
@msftnadavbh The document is updated, changes will go live soon.

[2020-05-19 15:51] #55135 closed

[2020-05-19 16:00] svangeti opened #55176 "Can managed identities used across subscriptions in different tenants"
Can we use managed identities across 2 subscription in different tenants?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72861cc1-7081-cf6e-b7f9-e700a16faa9a
* Version Independent ID: c870872d-0559-6b77-280f-f478e8c84776
* Content: [Managed identities for Azure resources](https://docs.microsoft.com/en-us/azure/active-d

[2020-05-19 16:02] PeterCLu commented on #53794
Hi @gallogiulia

Since we haven't heard back from you in a little while, I'll proceed to #please-close this issue. If you feel that your documentation issue hasn't been resolved, you can reopen the issue with additional information.

[2020-05-19 16:02] #53794 closed

[2020-05-19 16:03] PeterCLu commented on #54281
@dashesy, thanks for the suggestions. I'll be sure to relay the information back to our engineering teams so they can make a deliberation. I'll proceed to #please-close this issue.

[2020-05-19 16:03] #54281 closed

[2020-05-19 16:05] som-nitjsr opened #55177 "why are we supporting implicit flow"
[Enter feedback here]
I think we should  support only BBF(bank end for front end) and should not encourage implicit flow as in oauth 2.1 there is going to be only two flow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c144ab50-3b66-b15c-a609-2d131dec0335
* Version Independent ID: a8ed79bd-f217-924a-3cba-eb1ecfa39172

[2020-05-19 16:10] veler commented on #39665
@neobie , did you solved your issue by any chance?

[2020-05-19 16:21] skynetrulz commented on #55174
you can restrict the user from pulling the aks credentials using admin flag by limiting the user to "azure kubernetes service Cluster user role" in IAM

[2020-05-19 16:24] AshokPeddakotla-MSFT commented on #54998
@b0naf1de I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-19 16:27] originalnetadmin opened #55178 "az disk create command needs to be updated"
Hi,
   The "az disk create"  command appears to be incorrect since it expects the size to be a multiple of MiB. I'm getting this error when I provide the exact size of my vhd.

PS C:\> az disk create -n centos610upload -g testrg -l westus --for-upload --upload-size-bytes 3158310912 --sku standard_lrs
The upload size in bytes 3158310912 - 512 bytes for the VHD footer (3158310400 in this case) must

[2020-05-19 16:33] NavtejSaini-MSFT commented on #54805
@MladjoA Thanks for the explanation.
@aihaslett Glad that this helped you. We are going ahead and closing this thread.

[2020-05-19 16:33] #54805 closed

[2020-05-19 16:34] NavtejSaini-MSFT commented on #54843
@yqxiaxia Please let us know if you need any further help or we will close this thread by EOD.

[2020-05-19 16:34] cynthn commented on #55143
#reassign @sasha-melamed

[2020-05-19 16:35] cynthn commented on #55143
@sasha-melamed Can you clarify Lsv2 support and add it to the list of supported sizes for Ephemeral OS if necessary?

[2020-05-19 16:37] AshokPeddakotla-MSFT commented on #54824
@ajaydinakaran Could you please double check the event type configured for the [SensorChange](https://docs.microsoft.com/en-us/azure/digital-twins/how-to-egress-endpoints#example-2) ? Are the values different than your current JSON template?

[2020-05-19 16:40] Aurel-Bruno commented on #55023
Hello,

Any update about this ?

[2020-05-19 16:43] pmozbert commented on #55161
I thought private link was not supposed to touch public internet.  Is the gateway using a public ip address?

[2020-05-19 16:43] OffColour opened #55180 "EAP settings"
If we want to deploy an Always On VPN to a VPN Gateway via Intune, what are the required EAP settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d5150fc-9936-07cf-dce7-44d0ec114cd0
* Version Independent ID: 8b627174-56cd-a81e-a687-34ba66d33550
* Content: [Create & install P2S VPN client configuration files: certi

[2020-05-19 16:49] #16825 closed

[2020-05-19 16:49] markthebault opened #55181 "Using it through a proxy"
This feature is amazing however I didn't managed to get is working through a proxy. I deny all outbound internet access. Only access to the proxy is allowed. However, when performing the SSH with azure ad integration, I get a timeout.
All the domains are whitelisted.
Any idea?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-19 16:50] porrascarlos802018 commented on #55084
if you go through all the steps being a contributor the access portion will fail.

[2020-05-19 16:50] crisansou commented on #55091
Thanks for the comments, I already adjusted the script, but I found other problems like variables never used (eg. $ AureRmProfileVersion) and password parameter with type "String" but it should be "SecureString". I'll wait for the script to be updated by Microsoft.

[2020-05-19 16:51] francedot opened #55182 "Missing Large (Nested Virtualization) size mapping"
Missing Large (Nested Virtualization) size mapping from azure-docs/articles/lab-services/classroom-labs/administrator-guide.md /cc @EMaher

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 191dec24-ed36-2aea-3384-dfeb69c6d1c8
* Version Independent ID: c3cc622e-c92e-feb0-2835-551ddd601cf3
* Content: [Azure Lab Services - A

[2020-05-19 16:51] porrascarlos802018 commented on #55084
you cannot assign permissions if you are an contributor attempting to do in it. Even being network contributor.

[2020-05-19 16:52] jasonnutter commented on #55177
@som-nitjsr We are currently working on MSAL.js 2.0, which will switch to the Auth Code Flow w/ PKCE.  You can find more information at https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1000

[2020-05-19 16:53] SaurabhSharma-MSFT commented on #55170
@bmilbauer Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-19 16:53] MarkWme opened #55183 "Link to Azure Kubernetes is misleading"
The following paragraph has a link to "Azure Kubernetes", which takes you to the AKS documentation. This could be misleading as the CosmosDB etcd feature does not work with AKS, it's designed for use with aks-engine.

The link should be updated either to direct to the aks-engine GitHub repo (https://github.com/Azure/aks-engine) or the document that describes how to use aks-engine with CosmosDB etc

[2020-05-19 16:53] SaurabhSharma-MSFT commented on #55171
@AquinoN Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-19 16:54] SaurabhSharma-MSFT commented on #55172
@babukumarg Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-19 16:55] SaurabhSharma-MSFT commented on #55176
@svangeti Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-19 16:55] SaurabhSharma-MSFT commented on #54878
@JKauff We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-19 16:55] #54878 closed

[2020-05-19 16:56] SaurabhSharma-MSFT commented on #54873
@Seddy24 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-19 16:56] #54873 closed

[2020-05-19 16:56] SaurabhSharma-MSFT commented on #54775
@DaveSneddon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-19 16:56] #54775 closed

[2020-05-19 17:05] shashishailaj commented on #54633
@Tbohunek We have taken this feedback to the engineering team internally and are awaiting a response from their side. We will have this updated once we have a response from their side. They may respond this thread directly or I will update the thread with their response.

Thank you.

[2020-05-19 17:05] learley opened #55184 "Update provisioning job secrets via PowerShell/API?"
We have this solution configured and working well for AWS Console access. For security, we'd like to be able to rotate the access key used by the IAM user created for provisioning (AzureADRoleManager in the tutorial).

I have been trouble finding documentation on a way to update the secrets for the provisioning job programmatically. I found a reference to a Microsoft Graph API in this doc (https:/

[2020-05-19 17:12] ecfan commented on #54581
The doc update is now live. A fix to the tooltip should appear soon.

[2020-05-19 17:13] dertdog commented on #54952
Thanks @hpsin, in my scenario I am using a service principle (client id,secret) to get an access token for the PowerBI api resource (https://analysis.windows.net/powerbi/api).

I was able to find the service principle for that resource using Get-AzureADServicePrincipal -searchstring 'Power BI Service'. Once I applied the policy to this SP everything was working as expected.

[2020-05-19 17:14] timsander1 commented on #54922
Since the Retrieved Doc Count is so high, I can confirm that that query likely didn't utilize any index when run with the custom indexing policy. Adding back /la/? makes that query use the range indexes (not composite indexes) so your thinking here is correct.

Can you confirm that the query was:
SELECT value count(1) FROM c where c.uId="12445" and c.la>= 1585076195

And the indexing policy was:
{

[2020-05-19 17:14] timsander1 commented on #54922
#please-close

[2020-05-19 17:14] #54922 closed

[2020-05-19 17:16] ecfan commented on #54051
The docs has been updated with an example to show a sample format:

https://docs.microsoft.com/azure/logic-apps/workflow-definition-language-functions-reference#startOfMonth

[2020-05-19 17:20] MartinJaffer-MSFT commented on #54668
Thank you for your feedback @Chai-NED . This has been assigned to the content owner, @hrasheed-msft , and will be updated as appropriate.

[2020-05-19 17:22] SafwanHussain commented on #54922
@timsander1 Yes, the query and indexing policy are as you mentioned above.
I will close this issue , we can continue on email.

[2020-05-19 17:23] ecfan commented on #16825
Doc update should be live after 5 PM today.

[2020-05-19 17:26] VikasPullagura-MSFT commented on #54676
@rjmontenegro As you mentioned that you are able to get the agent details correctly, I will now proceed to close this issue.
If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-05-19 17:26] #54676 closed

[2020-05-19 17:29] pmozbert opened #55185 "network connection requirements for client computer"
In the diagram here - https://docs.microsoft.com/en-us/azure/mysql/concepts-azure-ad-authentication#architecture it is not clear where 'your computer' sits in the network topology.  If 'your computer' is VM in an Azure VNet where egress to the Internet is routed through Azure Firewall, what firewall rules are required to support Azure AD authentication?

---
#### Document Details

⚠ *Do not edit t

[2020-05-19 17:29] dsindona commented on #54593
@santhoshbomma9 thanks for pointing this out. You are correct, they are not distinct things: both are related to private audiences. We will create a work item to clarify this in our next round of edits. Thanks.
#please-close

[2020-05-19 17:29] #54593 closed

[2020-05-19 17:30] vhorne commented on #53681
service tags doc updated
#please-close

[2020-05-19 17:30] #53681 closed

[2020-05-19 17:31] MartinJaffer-MSFT commented on #55151
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to?

[2020-05-19 17:31] awentzel commented on #55164
@mrbullwinkle I'll give that a try.  Thanks for your prompt response.

[2020-05-19 17:34] MartinJaffer-MSFT commented on #55165
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-19 17:36] neharai12345678 commented on #47303
Hey team any update on this, as I can see the doc is still not updated.

[2020-05-19 17:38] BharathNimmala-MSFT commented on #54769
@michael-blahay-kt Just got an update from our Internal team on this that unfortunately we do not have a formal JSON schema to consume at this point of time, just the examples for now. However they do have a backlog item to make this available in future, sorry don't have an exact ETA for now but will keep this thread updated as in when we get further information.

At this point it appears that the

[2020-05-19 17:38] #54769 closed

[2020-05-19 17:40] Gurpreet103 opened #55186 "Multiple peered VNets P2S"
We have the same Vnets configured as depicted in the Multiple peered Vnet in the document. We have also enabled "Allow Gateway Transit" and "Use Remote Gateway" in the Hub and Spoke Vnet's respectively. However when we connect to the Azure Cloud using P2S connection and an IP is allocated to us from the configured VPN Pool. Using this IP we are able to reach the Hub network, but we are not able to

[2020-05-19 17:40] awentzel commented on #55164
@mrbullwinkle one more question:  How do I then connect this to my Azure Monitor Workspace?

[2020-05-19 17:41] MartinJaffer-MSFT commented on #55169
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-19 17:42] SatishBoddu-MSFT commented on #55173
@rgamage Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-19 17:45] SatishBoddu-MSFT commented on #55166
@rgamage Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-19 17:48] ruairidhlc opened #55187 "Disable Azure AD Connect Hybrid Azure AD Join"
Once configured in AADC, there doesn't seem to be a way to disable HAADJ.  Going to Device Options, you are presented with two check boxes for Windows 10 or later or downlevel devices, but you must select at least one of these.

Please can you issue guidance on the scenario were HAADJ has been enabled but must now be completely disabled?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-05-19 17:49] dckfnuance commented on #54804
What would be the fastest way to give someone access to a folder and have the permissions propagated to all existing sub-folders and files considering that the sub-folders can have different existing ACL properties? If we need to get each sub-folder's ACL and add to it individually, it will take a long time.

[2020-05-19 17:50] jeffthink commented on #54622
@ram-msft - thank you for those links.  I've begun exploring this.  One point of clarification - this looks as if the way it works is to run VS Code using the compute instance machine as the remote container.

What I was hoping to see was a way to connect to the jupyter server of the compute instance. That way, my users 1) wouldn't need to deal with ssh into a machine and 2) they could use either

[2020-05-19 17:58] #54952 closed

[2020-05-19 18:01] rodrigoporcionato opened #55188 "error"
i got this error:
{"code":"InvalidTemplateDeployment","message":"A implantação do modelo 'Microsoft.Web-StaticApp-Portal-52f6c04f-bf3c' não é válida de acordo com o procedimento de validação. A ID de acompanhamento é 'e3a13ef6-249c-49c7-9dc8-46688f9cd8ff'. Confira os erros internos para obter detalhes.","details":[{"code":"ValidationForResourceFailed","message":"Validation failed for a resource. C

[2020-05-19 18:01] jeevansd commented on #55170
@bmilbauer Please see these steps in the same document https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/github-tutorial#configure-azure-ad-sso

[2020-05-19 18:01] jeevansd commented on #55170
#please-close

[2020-05-19 18:01] #55170 closed

[2020-05-19 18:03] loarabia opened #55189 "API Documentation does not link to reference documentation"
This line in the table is missing a link

API documentation	Java API reference documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b96cf99-5b6d-e548-35e5-d38428b2dce7
* Version Independent ID: a7f9cd24-78f4-1424-e0ba-96bd967e5ff6
* Content: [Azure Cosmos DB Java SDK v4 for SQL API release notes and resources]

[2020-05-19 18:03] GiftA-MSFT commented on #54743
@aahill can you please review the above feedback. Thanks.

[2020-05-19 18:04] bmilbauer commented on #55170
The step is not in the document that I can see. Step 4 in the relevant section for configuring the application in the Azure portal provides instructions for filling in the sign-on URL and entity ID, not the reply URL. The Azure portal requires three fields, the tutorial covers two of the three. What am I missing?

[2020-05-19 18:04] ZMon3y opened #55190 "Create a SQL Synapse Pool like dead"
https://docs.microsoft.com/en-us/azure/synapse-analytics/quickstart-create-sql-pool

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd443b5-c0b0-0506-09ea-e8776b924819
* Version Independent ID: 466a89e7-0271-35df-1407-653484659643
* Content: [FAQ - Azure Synapse Analytics - Azure Synapse Analytics](https://docs.microso

[2020-05-19 18:04] mamccrea commented on #52431
Hi @dheerajkumar-solanki! Were you able to replicate for your scenario?

[2020-05-19 18:05] mamccrea commented on #52839
#please-close

[2020-05-19 18:05] #52839 closed

[2020-05-19 18:06] PeterCLu commented on #54819
@gary918, the entry script provides the logic for consuming your registered models. In the example you provided, the entry script makes predictions using both "my_first_model" and "my_second_model", that is why the webservice call returns values for prediction1 and prediction 2.

Take a look at the entry script. It does the following:

1. Initializes global variables for both model paths.
2. Deser

[2020-05-19 18:08] SatishBoddu-MSFT commented on #55163
@rgamage Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-19 18:09] Karishma-Tiwari-MSFT commented on #54945
Is there an update? let me know. Thanks :)

[2020-05-19 18:09] codeFunny71 commented on #50091
I have to agree with Imaxsmith. I am trying to figure out what code is driving at which point and what other files are involved. A stripped down sample of just the code necessary would be helpful. If you want people to use your service. Plus I don't want to have my apps codebase to be bloated with files unnecessary to my goal. I really want to use your spatial anchor service. Also, having a workin

[2020-05-19 18:09] Karishma-Tiwari-MSFT commented on #54979
Let me know if it helped.

[2020-05-19 18:12] SatishBoddu-MSFT commented on #55159
@rgamage Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-19 18:14] Karishma-Tiwari-MSFT commented on #55077
Thanks @v-miegge
I have assigned the issue to you. Let me know if this needs to be assigned to original article requester.

[2020-05-19 18:14] SatishBoddu-MSFT commented on #55157
@rgamage Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-19 18:16] SatishBoddu-MSFT commented on #55156
@rgamage Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-19 18:17] v-miegge commented on #55077
@Karishma-Tiwari-MSFT: This needs to be assigned to @timbasham.

[2020-05-19 18:17] SatishBoddu-MSFT commented on #55154
@rgamage Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-19 18:18] MonikaReddy-MSFT commented on #55182
@francedot , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-19 18:18] normesta commented on #54660
Thank you for reporting @mpalumbo7! Yes the version listed was incorrect. The article is now updated with the correct version (2.6.0)

[2020-05-19 18:18] normesta commented on #54660
#please-close

[2020-05-19 18:18] #54660 closed

[2020-05-19 18:19] shashishailaj commented on #54917
@osygroup  You are correct , The templateId is optional, However the template Id option is given for users who may have complex requirements and would like to keep a template for any custom role so that they can use the template to modify and create new roles as needed.  The [Powershell example](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/roles-create-custom#create-a

[2020-05-19 18:19] #54917 closed

[2020-05-19 18:21] mamccrea commented on #24462
Hi @colinrippeyfinarne. I apologize for the delay. The Azure portal and Azure Databricks workspaces use https. Where are you experiencing websockets?

[2020-05-19 18:23] PeterCLu commented on #54650
@zoekdestep, thanks again for the catch. I've updated the typos. You should see the updates live in a few hours. I'll proceed to #please-close this issue.

[2020-05-19 18:23] #54650 closed

[2020-05-19 18:26] craigshoemaker commented on #55188
Since this is a product error and not an issue with the docs, I am going to #please-close this issue.

@rodrigoporcionato - do you mind opening an issue in the [product repo](https://github.com/Azure/static-web-apps/issues) for what you've encountered, please?

[2020-05-19 18:26] #55188 closed

[2020-05-19 18:26] mamccrea commented on #54072
I've created a ticket to have additional information added to the article, but do not have a timeline. I will report back here when the doc is updated.

[2020-05-19 18:27] mamccrea commented on #54072
@Alucardz, are you still experiencing this issue? Can you please share additional details about your scenario?

[2020-05-19 18:27] BharathNimmala-MSFT commented on #54900
@e7866c Seems the documentations is already up to date with 'az deployment group'. Sorry not sure what you are trying to call out that document is using deprecated CLI commad and looking for update in the document.

[This ](https://github.com/microsoft/azure-docs/commit/5e8139a10c7491efdd54fe1aca5e4275d9489fa6#diff-87b0a29bb4dd0e09b6a8489e2d3fcfe1) PR was created couple of months back to update th

[2020-05-19 18:27] #54900 closed

[2020-05-19 18:28] mamccrea commented on #54171
Thanks for the recommendation @jrimada. I've added this item to our backlog. I will report back here when we've add the proxy information.

#please-close

[2020-05-19 18:28] #54171 closed

[2020-05-19 18:29] mamccrea commented on #54212
I hope this information was helpful! If you have any additional questions, please reopen the issue.

#please-close

[2020-05-19 18:29] #54212 closed

[2020-05-19 18:30] mamccrea commented on #54342
Hi @CharmanderJieniJieni! We are investigating this issue.

[2020-05-19 18:30] djsly commented on #55080
@emacdona, could you share the version of AKS cluster you are seeing the error on.

[2020-05-19 18:33] Karishma-Tiwari-MSFT commented on #54961
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-19 18:33] mamccrea commented on #54850
Hi @prajyot2909 and @ssharmaz. dbxdemo is not available. The code in this article is only a sample.

[2020-05-19 18:34] AjayKumar-MSFT commented on #54695
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-05-19 18:34] #54695 closed

[2020-05-19 18:35] BharathNimmala-MSFT commented on #55160
@gauravcitrix Can you please share the Azure documentation link you are referring to ?  and explain more about the query you have about the documentation.

Please note that this channel ([the Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs)) is only for driving improvements related to the Azure documentation

[2020-05-19 18:37] pmozbert commented on #55161
Also this -

see - https://docs.microsoft.com/en-us/azure/private-link/private-link-overview#key-benefits

[2020-05-19 18:38] bkieffer-VE commented on #54967
Hi @KranthiPakala-MSFT , thanks a lot, it works perfectly. Actually, it was not an issue of ADF version, but there was one step missing : the one to create the dataset parameters.
Thanks again for the quick fix !

[2020-05-19 18:41] cynthn commented on #54961
@danielsollondon Can you take a peek at this?

[2020-05-19 18:45] MarileeTurscak-MSFT commented on #55149
@JohnMoor Is there any policy or lock that might be preventing the deletion and overwriting the credentials? Can you test with two sets of new users to see if this happens?

I'm testing on my tenant too.

[2020-05-19 18:46] mrbullwinkle commented on #55164
If you are referring to "workspace" in the sense of Azure Monitor - Log Analytics workspace you have two options.

Historically App Insights resources had their own special dedicated workspace partitions which were similar but ultimately completely separate from an AzMon Log Analytics workspace and the only way you could query data in a unified way was to use [cross workspace/resource queries](htt

[2020-05-19 18:49] mblanco77 commented on #54308
updated the image with workflow
close #54308

[2020-05-19 18:52] alanrenmsft opened #55191 "in correct edition count?"
here: https://docs.microsoft.com/en-us/azure/azure-sql-edge/overview#editions-of-sql-edge it says 3 editions, but only listed 2 editions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22b370de-16ce-4883-0f74-811fd44dd0f8
* Version Independent ID: a7ee6ad7-f230-52c0-4ddd-f6a4a1aacd3f
* Content: [What is Azure SQL Edge

[2020-05-19 18:53] MatthewSteeples commented on #13693
Just in case anyone else wants to vote, here is the uservoice - https://feedback.azure.com/forums/217321-sql-database/suggestions/36299335-provide-insight-into-the-replication-lag-between-a

[2020-05-19 18:55] ronortloff commented on #55117
The article has the values for staticrc40 reversed for DW1000c and DW2000c.  A doc update is coming for that.  DW1000c should be 19.2% and DW2000c should be 9.6%.
A single concurrency slot is 250MB of memory, that is used to derive the percentage assigned to the staticrc workload groups.  We rounded to 8 concurrency slots for staticrc40 for resources classes.  DW1000c has 40 concurrency slots avai

[2020-05-19 19:04] mimckitt commented on #53350
Added it. Once the Pr merges the changes will go live after a few hours :)

[2020-05-19 19:04] #53350 closed

[2020-05-19 19:05] Mike-Ubezzi-MSFT commented on #54838
@unagaraju88 You can use the REST API directly as I mentioned [previously](https://github.com/MicrosoftDocs/azure-docs/issues/54838#issuecomment-628869529). To leverage ARM and the use of tags, please create an issue in the [REST API Specs](https://github.com/Azure/azure-rest-api-specs/issues) repository to request the use of tags for LTR backup restore. operations. It is currently not supported.

[2020-05-19 19:05] cubikca opened #55192 "Missing link to password reset page."
A link to the password reset page would be really useful. Half of the instructions talk about a page that isn't linked and I can't find.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17269bea-f1b4-61e4-72f8-86a8b1c7c49d
* Version Independent ID: 89d5ed09-39bd-2113-9dfb-59fae1e85dac
* Content: [Reset your password usin

[2020-05-19 19:05] #54480 closed

[2020-05-19 19:09] mimckitt commented on #43632
I added a note at the very top of the page explaining that quota counts both allocated and deallocated VMs. Once the PR merges the changes should go live after a few hours.

[2020-05-19 19:09] #43632 closed

[2020-05-19 19:11] ronortloff commented on #55117
#please-close

[2020-05-19 19:11] #55117 closed

[2020-05-19 19:12] cubikca commented on #37469
Is there any documentation whatsoever on how the administrator can reset **HIS OWN PASSWORD**?

I am the administrator. I am authenticated to Azure Portal. My authenticator is set up. Every document I have seen so far has contained instructions like "enter your old password". Thanks. I'm really looking forward to hacking my machine from the console.

I understand the need for security, but this is

[2020-05-19 19:14] KranthiPakala-MSFT commented on #54967
@bkieffer-VE Glad to be of help. Thanks for letting us know. 😊

[2020-05-19 19:18] RyanHill-MSFT commented on #54764
Hi @dzajda, what error message do you get when you '[Reset](https://docs.microsoft.com/en-us/azure/search/search-howto-monitor-indexers#monitor-using-the-portal)' the index?

[2020-05-19 19:27] KranthiPakala-MSFT commented on #54763
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please reopen and comment on the issue. We will gladly continue the discussion.

[2020-05-19 19:27] #54763 closed

[2020-05-19 19:28] PeterCLu commented on #54756
Hi @fausttiger thanks for your report. We have updated the docs with the new instructions. You should see the changes go live in a few hours.

I'll proceed to #please-close this issue. If you feel that your documentation issue hasn't been resolved, please open a issue with additional information.

[2020-05-19 19:28] #54756 closed

[2020-05-19 19:31] MatthewSteeples commented on #50659
We can confirm (from experience) that the replication within the same datacentre is *not* synchronous. On our web app we create a record on a POST, redirect, and then read it on the following GET, and when we switched to using read-replicas the record did not exist when read.

`Replication latencies within the region are low and this situation is rare.` - Is it possible to find out what the _expec

[2020-05-19 19:42] awentzel opened #55193 "Not finding "Log Analytics Workspaces""
Inside this paragraph, https://docs.microsoft.com/en-us/azure/azure-monitor/app/create-workspace-resource#modifying-the-associated-workspace, I am unable to find this setting?

What is the "resource pane"?  I see a "Configure -&gt; Properties" and it's not in there.

Ultimately, I'm trying to associate this new (preview) for creating workspace to my newly created Application Insights for each of m

[2020-05-19 19:48] Yashuaa opened #55195 "When Outbound IP Addresses Change on Azure App Services"
I'm sorry, am I the only one here finding this a little ridiculous? Is there some sort of event / webhook that Microsoft can provide so that we can actually prepare for the outbound ip change? According to this logic, let's assume we have outbound ips set on a azure sql server firewall. When Microsoft decides to randomly change these outbound ips on our app service, the developer and company will

[2020-05-19 19:51] awentzel commented on #55164
@mrbullwinkle Thanks to your first comment I'm now able to update appSettings w/Azure CLI to associate my Application Insights to Web Apps.

RE: Workspace
I am attempting to create new Azure resources using the Preview for workspace-based application insights using Azure CLI only.  I have created a new Log Analytics Workspace, and I'm creating Web Apps in my App Service Plan, each with their own A

[2020-05-19 19:55] dbreshears commented on #54871
@greggbjensen .   I believe we can likely do something like you mention and have microsoft/DockerTools#256 open for investigation.  We hope to get to this fairly soon.  As a workaround, can you override the target in your the .csproj by doing something like this to remove --save?

[code]

[2020-05-19 19:57] jeevansd commented on #55170
@chetansriv and @v-nagta  can you please verify this and update the article?

[2020-05-19 19:58] #54339 closed

[2020-05-19 19:58] KranthiPakala-MSFT commented on #54339
@VitalyMCT The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you.

[2020-05-19 19:59] awentzel opened #55198 "Ideal Scenario, one creation comment to associate all parts"
What would be the commands to associate a newly created app insights workspace, with web app?  The command example shown below has `--workspace` which seems to indicate that it's possible.

[code]
However, when using `--workspace` I continue to get errors.

[code]

I've used the full resource id, name, and the id and all three values return the same error.  Leaving off this option works.

---
####

[2020-05-19 19:59] tfitzmac commented on #54655
@cadumi - I am submitting an update with this information. Thanks again. It should be published later today.

[2020-05-19 19:59] MarileeTurscak-MSFT commented on #55072
Closing this as a duplicate of https://github.com/Azure/azure-cli/issues/13548

[2020-05-19 19:59] #55072 closed

[2020-05-19 20:05] kummanish commented on #55161
Passing through gateway does not expose the traffic to public internet. The traffic from VNet to Gateway is through a dedicated channel and which is unique to the connection. No one else can access the database outside the VNet. Because the connectivity to Azure Database for MySQL needs gateway to proxy the connection, the private link traffic has to reach the gateway.

Apart from setting the priv

[2020-05-19 20:06] VanMSFT commented on #55195
Hi @Yashuaa - We appreciate your concerns. However, can you please clarify which Azure App Service you are referring to? This feedback portal is for Documentation issues, and not product feedback. The feedback you left is for the Azure SQL IP firewall page. Please locate the product page that you want, and find the feedback for the Product at the bottom of the page.

![image](https://user-images.g

[2020-05-19 20:06] #55195 closed

[2020-05-19 20:06] KranthiPakala-MSFT commented on #55162
@tjrobinson Glad to know your issue was resolved. Please feel free to open a new issue if you have any further queries.

[2020-05-19 20:07] LarrySmith-1437 commented on #55195
On your app service, have a look at the "Properties" blade, and on the line "Additional Outbound IP Addresses" will be the superset of all possible IP addresses that your service will be seen as coming from.  Whitelist those, and you'll be fine.

[2020-05-19 20:08] scoriani commented on #48606
You can take a look at this solution to solve this issue: https://github.com/scoriani/azuresqlbulkupsert

[2020-05-19 20:08] SaurabhSharma-MSFT commented on #55176
@svangeti No, it is not possible as when you enable managed identity a service principal is created in the same Azure AD tenant that's trusted by the subscription.

[2020-05-19 20:08] scoriani commented on #35449
This approach will solve this issue: https://github.com/scoriani/azuresqlbulkupsert

[2020-05-19 20:09] awentzel commented on #55198
I'm making progress.  It appears, that the problem is `--loccation`.

- westus, centralus  results in same failure message, though says it's supported
- eastus succeeds and says it should

[2020-05-19 20:10] hpsin opened #55199 "Spelling error in diagram"
Should be adminconsent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e02a6a-cd93-700d-0073-cca2f6166d67
* Version Independent ID: 215511e6-6599-4aac-5592-635640a635cb
* Content: [OAuth 2.0 client credentials flow on the Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-o

[2020-05-19 20:10] Yashuaa commented on #55195
@LarrySmith-1437  So if the outbound IPs do change, they will never change to anything other than those additional ips listed in my app service property, is that correct?

[2020-05-19 20:11] ratanparai opened #55200 "HorizontalPodAutoscaler doesn't work - error: missing request for cpu"
I have followed the tutorial but it does not work. The output of `kubectl get hpa -n ratan`  -

[code]

And the output of `kubectl describe hpa -n ratan azure-vote-front`-

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab10c96-1f2f-e48f-a084-b1715156e33f
* Version Independent ID: a113b8e9-259a-2a65-2e54-a2661c

[2020-05-19 20:14] AveryData commented on #29197
was there a conclusion?

[2020-05-19 20:14] tfitzmac commented on #54655
#please-close

[2020-05-19 20:14] #54655 closed

[2020-05-19 20:15] john-loughlin opened #55201 "Circular reference on this page"
In the Connect to a Synapse Workspace, the Connect to Azure Synapse Link appears to point back to this same page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ccfb5cf-0a7d-220c-3f68-8ed5ea60bfa4
* Version Independent ID: 080e66e3-d3bd-5915-1137-cf8c48671ecb
* Content: [Configure and use Azure Synapse Link for Azure

[2020-05-19 20:16] hpsin commented on #52955
This article is about token acquisition.  If you want to get a token for another scope, simply use that scope.  How your API accepts that token is up to you - we recommend using the OAuth spec and putting the token in an Authorization Bearer header, but not every API does it that way.  This document does not get a token to call localhost though - that's the redirect URI, not the target API.

[2020-05-19 20:16] mamccrea commented on #51851
@agresh07, you are correct. We are updating the doc with that sample. Are you still having an issue with it?

[2020-05-19 20:17] mrbullwinkle commented on #55193
So this feature will currently only show up in a newly created App Insights resource where you have selected to create a workspace based resource.

So if I create a new workspace based Application Insights resource with the CLI and point to one of my pre-existing Log Analytics workspaces:

[code]
I would then see this option in the UI:

![Screenshot](https://raw.githubusercontent.com/mrbullwinkle/

[2020-05-19 20:17] Heidilohr commented on #54860
@the-blesss @Karishma-Tiwari-MSFT The changes have gone live and should appear on the page now. I spelled out the URLs and changed the phrasing to make it clearer which version is which.

[2020-05-19 20:17] mateuszdrab opened #55202 "Update certificate via command line"
Is there a way to update the communications certificate on the AD FS and WAP servers via the AAD Connect command line? This is so that automated certificate management can just provide a PFX to AAD Connect and that can take care of installing it where relevant as per the persisted state configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-05-19 20:18] BharathNimmala-MSFT commented on #54940
@jtuliani Thanks again for bringing this to our notice. i have raised the PR to update the document to reflect the feedback. Once reviewed and approved the document should be update accordingly.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply an

[2020-05-19 20:18] #54940 closed

[2020-05-19 20:19] CeciAc opened #55203 "ADLS Gen 2 is complicated to use"
@damochiz commented on [Tue May 19 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4574)

The following steps are a little confusing. It would be helpful if you could explain the setting items separately.
Also, it says that it is necessary to grant with Storage Blob Data Owner access, but it failed if it's "Owner access". I didn't know why "Owner access" couldn't be accessed.

For a

[2020-05-19 20:19] mrbullwinkle commented on #55193
If you have created a classic application insights resource you won't see that option under properties,

[2020-05-19 20:28] TravisCragg-MSFT commented on #55167
@scott-doyland-burrows let me know if you need any additional assistance.

[2020-05-19 20:30] kmugrage opened #55204 "indentation error in step 5"
Using the indentation in step 5 fails.

[code]

Works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 878bad36-454a-063c-4100-c73f9e90aea3
* Version Independent ID: b0c548c8-f830-311f-07e1-84f0ba644943
* Content: [Tutorial: Publish a Hugo site to Azure Static Web Apps](https://docs.microsoft.com/en-us/azure/static-web-

[2020-05-19 20:31] #55178 closed

[2020-05-19 20:32] vamuzumd opened #55205 "Resolution for "Could Not Parse document" -> "Document key cannot be missing or Empty""
For the "Could Not Parse document" -&gt; "Document key cannot be missing or Empty"  section, the resolution states ensure all documents have valid document keys. How to ensure the same? Aren't the document keys auto-generated internally during indexer run?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 192bd317-bc43-86

[2020-05-19 20:33] MarileeTurscak-MSFT commented on #54963
In iOS/Android, you do this through the Company Portal or Microsoft Authenticator app. In the Authenticator app you can check under Settings > Device Registration

With Mac OS, you do this through the Company Portal.

[2020-05-19 20:33] MarileeTurscak-MSFT commented on #54963
I agree that this could be added so have assigned this to the content author to update.

[2020-05-19 20:35] TravisCragg-MSFT commented on #55169
@mddazure Thanks for the feedback! It looks like the register & create doc have the same content.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-19 20:36] pmozbert commented on #55161
Hi,  to confirm, with private link, the connection goes to the gateway's public IP address.  This seems to contradict this statement from the private link docs -

I would say that the private link docs are incorrect on this point?   Do you agree?

[2020-05-19 20:38] MarileeTurscak-MSFT commented on #49494
Thanks! We have passed this feedback along to the content team.

@MarkusVi

[2020-05-19 20:38] #49494 closed

[2020-05-19 20:39] TravisCragg-MSFT commented on #55180
@OffColour your best bet will be to refer to intune for guidance on the EAP settings. Have you reviewed [this doc about setting up Always on VPNs in Azure](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-always-on-user-tunnel)?

[2020-05-19 20:42] #55193 closed

[2020-05-19 20:43] TravisCragg-MSFT commented on #55186
@Gurpreet103 If your P2S clients are connecting to the VPN Gateway in your Hub Virtual Network, they should be able to route to your spoke virtual networks, but only 1 hop away.

Make sure that the remote Virtual Networks allow traffic from the P2S IP Range on any NSGs or firewalls that are in place.

[2020-05-19 20:44] SamaraSoucy-MSFT commented on #55198
Thanks for the question! We will review and get back to you shortly.

[2020-05-19 20:45] SaurabhSharma-MSFT commented on #55043
@ncagney Can you please check if External Collaboration settings are correct.
Please follow the below steps -
1. Got to Azure portal and click Azure Active directory in the left pane.
2. Under Manage, click User settings.
3. Under External users, click Manage External collaboration settings.
![image](https://user-images.githubusercontent.com/38112130/82375948-3a657480-99d6-11ea-9d45-1342ef03f382.p

[2020-05-19 20:50] awentzel commented on #55164
I have this working now.  I was getting tripped up by a bug noted https://github.com/MicrosoftDocs/azure-docs/issues/55198

Thanks so much, @mrbullwinkle.  I do think the documentation is a little out of sorts as it took me a while to put the pieces all together.  All I can think of to solve this problem is to focus in on more about user scenarios.  For example, how do i set up Workspaces + App In

[2020-05-19 20:50] TravisCragg-MSFT commented on #55082
@genesisemmloh Thanks for the clarification.
 I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-19 20:56] dobrinangelov commented on #53643
The section is still on the docs page unchanged. Has anyone done something material to resolve the issue?

[2020-05-19 20:57] derisen commented on #52500
#please-close

[2020-05-19 20:57] #52500 closed

[2020-05-19 20:57] bennya1 commented on #40390
Hi,

Issue persists when using az aks create.

"Operation failed with status: 'Bad Request'. Details: Error in validating load balancer profile outbound IPs"

[2020-05-19 21:00] kummanish commented on #55161
No. Just to confirm, the traffic goes to public gateway for reaching the database. The gateway IP is not the IP of the database node. So the database is still not reachable even if you get the gateway IP which we have already publicly documented.

Its the same architecture used for Azure SQL databases and DW. As mentioned, there is no public IP that can be used to access the database server when p

[2020-05-19 21:02] MarileeTurscak-MSFT commented on #55199
@hpsin
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-19 21:03] MarileeTurscak-MSFT commented on #55192
@cubikca
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-19 21:05] MarileeTurscak-MSFT commented on #55155
@accenture-eso thanks for this feedback. Can you provide any more details about the scenarios where it doesn't work? Without knowing more details about your setup I'm unsure what might be causing this.

I can get someone from the product team looped in or open a support case for you if needed.

[2020-05-19 21:05] TravisCragg-MSFT commented on #54806
@silviuojog Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-19 21:05] #54806 closed

[2020-05-19 21:05] cynthn commented on #53643
Sorry, we were locked out of making changes to the docs until this morning. Change should go live this afternoon. https://github.com/MicrosoftDocs/azure-docs-pr/pull/113769

[2020-05-19 21:05] TravisCragg-MSFT commented on #54257
@jarthu3 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-19 21:05] #54257 closed

[2020-05-19 21:06] TravisCragg-MSFT commented on #54311
@stefan923456 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-19 21:06] #54311 closed

[2020-05-19 21:06] TravisCragg-MSFT commented on #54074
@Wallysantos We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-19 21:06] #54074 closed

[2020-05-19 21:09] hpsin commented on #55199
Assign to me please :) This is just a placeholder item so that @mmacy can shame me for it on Mondays until I get it fixed ;)

[2020-05-19 21:13] ecfan commented on #53395
@divyaswarnkar: Is there anything that we need to add to the doc?

[2020-05-19 21:13] mamccrea commented on #55133
Thanks @gintrona! I've updated the doc. Please allow a few days for the changes to go live.

#please-close

[2020-05-19 21:13] #55133 closed

[2020-05-19 21:14] ecfan commented on #54717
#unassign @kevinlam1

[2020-05-19 21:15] MarileeTurscak-MSFT commented on #55192
Thanks @cubikca ! I made a pull request to add the link. https://github.com/MicrosoftDocs/azure-docs-pr/pull/115726

[2020-05-19 21:15] #55192 closed

[2020-05-19 21:16] ellismg opened #55206 "Incorrect code in Use Azure Event Grid with events in CloudEvents schema"
I believe the code sample for the JavaScript example is incorrect.  It contains this code:

[code]

But the CloudEvents registration protocol does not use the body to return a `ValidationResponse` value (that's the protocol that EventGrid uses when using the EventGrid schema).

We should remove the body from the `res` object.  You'll note in the C# example that a body is not sent with that request

[2020-05-19 21:24] divyaswarnkar commented on #53395
@srasp sorry about the confusion. We don’t support referring another XSLT from the integration account. However you can have import using URL for any publicly available XSLT like from a blob etc. Let me know if you need more information.

[2020-05-19 21:24] accenture-eso commented on #55155
Yeah, I can definitely provide more details. I'd rather not share URLs or Fiddler traces here but I can definitely do that offline or through a different channel. My org has an Azure AD CXP person assigned, we have guest accounts in Microsoft's Teams environment and there is always email as well. We'd love to get some more feedback on this. We have an existing thread on this issue in our CXP colla

[2020-05-19 21:25] MarileeTurscak-MSFT commented on #55199
Done! Yes, I can see it's misspelled in the diagram. :)

[2020-05-19 21:28] SaurabhSharma-MSFT commented on #55184
@learley Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-19 21:29] PeterCLu commented on #53793
@slsu0424, this appears to be a product related issue. The best way to reach customer support is by creating a support ticket in the Azure portal. I'll proceed to #please-close this issue. If you feel that you documentation issue has not been resolved, please open a new issue with additional details.

1. Navigate to the Azure portal.
2. Select the support question mark (?).
3. Select Help + suppor

[2020-05-19 21:29] #53793 closed

[2020-05-19 21:31] jonwbstr opened #55207 "Improve visibility of important information"
We recently worked through a ticket with azure support because we did not realize that reservation permissions are separate from subscription permissions. The azure support engineer ended up reaching out to their peers because they too did not realize that subtle but very important distinction between the two and how to manage them.

This is a very important paragraph:

Secondly, we granted permis

[2020-05-19 21:40] 1tjunior1 opened #55208 "Exercise - Create a website hosted on Azure (WordPress) - Portuguese version"
[I am trying to create a WordPress web page using the MS Azure, as a part of MS AcademIA (Univesp) Challenge. When I finish the process appear to me an Azure notification error. Could you help me out to unlock this page to my continous learning working in progress?]

![customer-1](https://user-images.githubusercontent.com/45180002/82382983-d2b52680-99e1-11ea-966d-76181052f307.png)

![customer-2](h

[2020-05-19 21:45] mrbullwinkle commented on #55164
@awentzel thank you for your patience and the detailed feedback. This doc and the App Insights docs in general definitely needs to be refactored to focus more on common user scenarios. A lot of our monitoring enablement scenarios vary based on OS/runtime and this is creating a lot of unnecessary confusion that could be made more clear with more end-to-end examples that follow a typical user journe

[2020-05-19 21:46] awentzel opened #55209 "Question: on using CNAME to verify domain"
This paragraph https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain#map-the-temporary-afdverify-subdomain provides instructions for configuring temporary.  However, when going to that website of that record-set it's fails.  Also, when recreating this entry using Azure CLI i get an error.

[code]
Notice it's saying to use a different alternative "aWverify" as opposed (i think)

[2020-05-19 21:49] saurabhakumbhare commented on #51706
It would be good to have some diagrams to visually understand how things work.

Thanks
Saurabh

[2020-05-19 21:53] christiankuhtz commented on #51706
when you say "how things work", what exactly are you referring to?  have you looked at https://aka.ms/natresource?  i'm happy to add whatever we need to add, i just need to understand what exactly you're looking for.

[2020-05-19 21:53] MarileeTurscak-MSFT commented on #55102
The logo is for the app in the portal and Azure AD view.

If you want it added to the app launcher, you need to add the logo as a tile separately.

The instructions are here: https://docs.microsoft.com/en-us/microsoft-365/admin/manage/customize-the-app-launcher?view=o365-worldwide

Hope this helps! Feel free to reach out on Q&A if you have further questions.

[2020-05-19 21:53] #55102 closed

[2020-05-19 21:53] erhopf commented on #54110
Thanks for reporting this issue. We are in the process of creating a fix for docs and are tracking this internally in our work queue.

#please-close

[2020-05-19 21:53] #54110 closed

[2020-05-19 21:54] SaurabhSharma-MSFT commented on #55202
@mateuszdrab Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-19 21:56] saurabhakumbhare commented on #51706
Hi @Christian,

Thanks for the super awesome quick reply. Ahh, I see. Thanks for that resource. Since I am reading the document sequentially, from top to bottom, I could not understand. Apologies, I am new to the Msft world. I will keep this in mind. Thanks for your reply.

[2020-05-19 21:59] oviliz commented on #43248
@JiwanMS , try creating it in a different region, in the same Resource Group. That's the only it worked for us despite what @gstevens-kyriba is saying. Maybe it works fine in the West US...

[2020-05-19 21:59] saurabhakumbhare opened #55210 "Source Virtual network and Target virtual netwerk have the same IP addresses"
Source Virtual network and Target virtual netwerk have the same IP addresses. Is this correct in this documentation ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba948130-9ae2-4e15-398e-3573c46d5392
* Version Independent ID: f2bed927-309d-d106-c126-b07d357b880e
* Content: [Tutorial: Create and test a NAT Gateway - A

[2020-05-19 22:01] christiankuhtz commented on #51706
np. let me know if you see anything missing that would help. usually docs have next steps sections at the bottom that help with things that are xref'ed and could be useful.

[2020-05-19 22:04] Mike-Ubezzi-MSFT commented on #54908
@dharmendramiet I have followed this tutorial verbatim and not experiencing any issues:

C:\Opt\apache-tinkerpop-gremlin-console-3.4.3\bin>gremlin.bat

         \,,,/
         (o o)
-----oOOo-(3)-oOOo-----
plugin activated: tinkerpop.server
plugin activated: tinkerpop.utilities
plugin activated: tinkerpop.tinkergraph
gremlin> :remote connect tinkerpop.server conf/remote-secure.yaml
log4j:WARN No a

[2020-05-19 22:05] mathieu-benoit opened #55211 "Documenting the 'Kubernetes Cluster - Azure Arc Onboarding' role?"
Is it relevant to update this "Know before begin" statement:

By mentioning the `Kubernetes Cluster - Azure Arc Onboarding` role instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 927644dd-101f-8303-5abd-f3713951191e
* Version Independent ID: c6a4becc-86ed-65f5-e82d-ad5a7ee88e35
* Content: [Connect an Azure Arc-en

[2020-05-19 22:07] BharathNimmala-MSFT commented on #55208
@1tjunior1  Thank you for reaching out. We will look into it and get back to you at the earliest.
Going forward you can please mask any subscription details in the images you upload, i have did that for you for now and updated the latest images in the question.

Also, please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs)) is only for driving improv

[2020-05-19 22:16] Mike-Ubezzi-MSFT commented on #54838
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-19 22:16] #54838 closed

[2020-05-19 22:17] Mike-Ubezzi-MSFT commented on #54908
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-19 22:17] #54908 closed

[2020-05-19 22:18] MarileeTurscak-MSFT commented on #54844
@michaelthyregod can you include the full output of the error?

If MDM is enabled there could be an issue with MDM enrollment setting and you may need to disable it to stop this error (not sure if this is the case for you, but I have seen this error in that circumstance).

Here are the prerequisites for Azure AD join as well as integration with MDM:

https://docs.microsoft.com/en-us/azure/active-d

[2020-05-19 22:18] #54844 closed

[2020-05-19 22:24] Micpic3 opened #55213 "New LUIS app versions failing in docker container."
I've been running my LUIS app in a docker container for a while now. When I make a change to the app I do so via luis.ai. I clone a previous version, make the change in the new version, train, and then export the new version with "Export for containers". I re-build the and re-run the container with the new app .gz file. However, today when I tried doing the same thing, I now get this error:

`Erro

[2020-05-19 22:24] mamccrea commented on #54941
Thanks for pointing this out. I've updated the doc. Please allow a few days for the changes to go live.

#please-close

[2020-05-19 22:24] #54941 closed

[2020-05-19 22:25] mamccrea commented on #54858
When you use COPY INTO , you specify a file location and it creates a Delta table for you.

[2020-05-19 22:27] Timovzl commented on #50659
@MatthewSteeples I appreciate the info!

If the replication is _not_ synchronous - even within the same data center - how is data loss prevented if the primary dies right after a write, i.e. in case of a not-yet-replicated write?

[2020-05-19 22:34] jahmai commented on #55120
@markjbrown

https://docs.microsoft.com/en-us/azure/cosmos-db/concepts-limits#per-item-limits

I have verified both the 1023 character limit against the service, and the 254 character limit against the emulator by attempting to create keys of n and n+1 in both environments (n passes, n+1 fails).

[2020-05-19 22:35] dynamodhiraj opened #55214 "LogAnalytics"
[Enter feedback here]
Need more infromation on the Resource Group COntainst and Region Constrain for the Log Analytics in this section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c62e3725-b0dc-5ce5-c049-70fd3ae106e3
* Version Independent ID: 9c0c5ef7-bd49-cb39-ca10-d98386004975
* Content: [Manage Log Analytics work

[2020-05-19 22:36] jahmai commented on #55120
Additional note: I believe the emulator is built on ESENT technology (not sure what the service is built on), but I am fairly sure the default max key length in ESENT is 254, but you can actually make it larger than that (1024 is possible). I can create a feature request for that elsewhere if you can tell me which repo would be appropriate to ask for an enhancement to the emulator?

[2020-05-19 22:37] danmyhre opened #55215 "Missing Details on "Modern Commerce Administrator""
There seems to be a new role introduced with no communication or documentation

Modern Commerce Administrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Admin role descriptions and permissions - Azure AD]

[2020-05-19 22:40] GiftA-MSFT commented on #54789
@khmerforce I will proceed to close this thread, but let me know if you have followup questions. Thanks.

[2020-05-19 22:40] #54789 closed

[2020-05-19 22:45] simonvane commented on #42106
Some detail has been added in the Autoscale FAQs here - https://docs.microsoft.com/en-us/azure/cosmos-db/autoscale-faq#how-does-ttl-work-with-autoscale but it would still be good to have this clarity in https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live.

[2020-05-19 22:47] ederbond opened #55216 "Can anybody update this documentation to explains how to perform the iOS installation from an asp.net core backend running on premise?"
Can anybody update this documentation to explains how to perform the iOS installation from an asp.net core backend running on premise?
The docs doesn't show how to serialize the iOS deviceToken parameter to use later on an asp.net core app to create an installation.

public override void RegisteredForRemoteNotifications(UIApplication application, NSData deviceToken)

---
#### Document Details

⚠ *

[2020-05-19 22:47] ckssaas commented on #54963
@MarileeTurscak-MSFT Thank you for the follow up. I understand this is not a support forum. I want to share my feedback.

It appears the only way to register using the Company Portal app is for the user to walk through Intune MDM enrollment. My assumption is that device registration takes place during Intune MDM enrollment.

In the Authenticator app, the option to register/unregister the device is

[2020-05-19 22:50] kagowda commented on #54615
We will support most of the regions in next 2 -3 months

[2020-05-19 22:59] ederbond commented on #55216
The documentation should be updated to explain how to correctly serialize the NSData deviceToken to send it using an instance of system.net.HttpClient to my backend server and also explain how to correctly deserialize this token to create a Device Installation on the backend using the .NET Sdk

[2020-05-19 23:11] jmcginty opened #55217 "The code as is wil not work, the trailing --> is missing on the end of the first comment, the code below works"
&lt;!-- The policy defined in this file demonstrates how to add a Forwarded header in the inbound request to allow the backend API to construct proper URLs.  --&gt;
&lt;!-- Forwarded header is defined in the IETF RFC 7239 https://tools.ietf.org/html/rfc7239  --&gt;
&lt;!-- Copy this snippet into the inbound section. --&gt;
&lt;policies&gt;
    &lt;inbound&gt;
        &lt;base /&gt;
        &lt;set

[2020-05-19 23:12] Karishma-Tiwari-MSFT commented on #54884
Thanks for sharing the valuable feedback.
Please post this as a product feedback [here](https://feedback.azure.com/forums/216843-virtual-machines). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2020-05-19 23:12] #54884 closed

[2020-05-19 23:18] cweining commented on #54738
@ADringer - I've asked around and I haven't found of a way to do a memory dump of a .net core process running in Azure App Service. If might be possible to do a GC heap-dump, if you can get the dotnet-gcdump tool on the machine by ssh’ing into it.

[2020-05-19 23:20] mrbullwinkle commented on #55198
@awentzel the documentation is currently correct in that it calls out:

_For the public preview workspace-based resources are currently limited to West US 2, East US, and South Central US._

But completely agree that the error message if you try to programatically deploy to a region other than one of the ones above creates confusion.

@OsvaldoRosado I was able to repro this as well. When I tested

[2020-05-19 23:25] Karishma-Tiwari-MSFT commented on #54903
Please check out this document with common errors during host pool creation:
https://docs.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-set-up-issues#azure-resource-manager-template-errors
Here is the troubleshooting document on DSC extension failure error: https://docs.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-set-up-issues#error-vmextensionprovisioningerror

[2020-05-19 23:33] Karishma-Tiwari-MSFT commented on #54931
You can use the Update Management solution to manage updates and patches for your virtual machines.
Please refer to this document: https://docs.microsoft.com/en-us/azure/automation/automation-tutorial-update-management

[2020-05-19 23:34] SubhashVasarapu-MSFT commented on #55210
@saurabhakumbhare ,  We are looking into this query and will update you as soon as possible.

[2020-05-19 23:34] johanburati opened #55218 "Could lead to data corruption"
Could you add in the warning section about Disk caching that not following the recommendations could lead to data corruption ?

I am also trying to have a warning displayed on the Portal as users might not have the reflex of referring to this page before changing the Disk cache settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-05-19 23:34] Karishma-Tiwari-MSFT commented on #53740
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-19 23:34] #53740 closed

[2020-05-19 23:35] Karishma-Tiwari-MSFT commented on #52663
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-19 23:35] #52663 closed

[2020-05-19 23:41] johanburati commented on #55218
I have created a PR: https://github.com/MicrosoftDocs/azure-docs/pull/55219

[2020-05-19 23:43] Karishma-Tiwari-MSFT commented on #55158
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-19 23:43] Karishma-Tiwari-MSFT commented on #55178
Is this resolved?

[2020-05-19 23:48] SubhashVasarapu-MSFT commented on #54911
@chrisalexander , The doc is being updated with the link provided to download the raw data. It would take some time to get the changes reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-19 23:48] #54911 closed

[2020-05-19 23:49] Mike-Ubezzi-MSFT commented on #54914
@sarah026 I stepped through this tutorial and found what is likely needing to be added.

I have an Azure SQL Database, Azure Storage, and a single VNET with two subnets (azsql & azstorage). I created the Azure SQL Database with Vulnerability Assessments disabled, and then created the Storage account with the VNET. The Microsoft.Storage service was added to the azstorage subnet during service deplo

[2020-05-19 23:51] craignicol commented on #44779
I'm not sure if this is a documentation or a library issue, but in my case I tracked it down to a buffering flag in the Function framework used by `ReadAsStringAsync()` which means the call succeeds when the code is run via Kestrel but fails when run from unit tests.

Looking at the dependency chain, it should be referencing the fixed version (i.e. anything after this commit: https://github.com/Az

[2020-05-19 23:56] heyams commented on #55008
@devlife If you're installing the module into any other directory, manually import the module by using **Import-Module**.  Followed the steps [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-detailed-instructions#option-2-unzip-and-import-nupkg-manually).

[2020-05-19 23:56] edufolios-matt commented on #55145
Sure - specifically Step 2 of this article - https://docs.microsoft.com/en-us/azure/dns/dns-import-export

[2020-05-20 00:00] jluk commented on #50247
@karishma-Tiwari-MSFT can you please close this issue in favor of the tracker I shared previously?

[2020-05-20 00:14] heyams commented on #55008
@devlife step 4 said 'Load the module by using the Import-Module Az.ApplicationMonitor.psd1 command'.  Hope this helps.

[2020-05-20 00:19] kansenchu commented on #53059
It happened after some maintenance was performed on the AKS API endpoints. To Microsoft's credit, they did send out an (easily-missed) notification that the IP is going to change. You can see it under Service Health > Health History. That said, this really shouldn't be something that we have to constantly update on our end.

[2020-05-20 00:23] awentzel commented on #55198
@mrbullwinkle Interestingly, I was also not able to create the app-insights component in a resource group other than the three you mentioned as correct in the documentation. I guess this stands true also for resource group locations? This could just be a learning curve issue.  Is this always the case for region-specific services?

I also didn't understand what "No registered resource provider foun

[2020-05-20 00:28] BhargaviAnnadevara-MSFT commented on #55116
@dileep12231 Sure, glad I could help! :)

[2020-05-20 00:30] TravisCragg-MSFT commented on #43136
@llscuba This is now discussed [Here](https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-client#how-do-i-add-custom-routes-to-the-vpn-client).

@afolseb my apologies for missing this, please let me know if you still need assistance.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2020-05-20 00:30] #43136 closed

[2020-05-20 00:30] TravisCragg-MSFT commented on #42991
@danmyhre This is now discussed [Here in the doc](https://docs.microsoft.com/en-us/azure/vpn-gateway/openvpn-azure-ad-client#how-do-i-add-custom-dns-servers-to-the-vpn-client).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-20 00:30] #42991 closed

[2020-05-20 00:31] awentzel commented on #55164
@mrbullwinkle yes, I'm running web app + Linux + Node.js | LTS stack.  I have it all working now!!!
 Now I just have to learn how to use Azure Monitor so I can view all 20 web apps insights together.

Regarding the documentation.  I actually, think it may make sense to structure by the platform.  For example, I'm all open source.  I don't want to ever see .NET / PowerShell / Windows anything.  But

[2020-05-20 00:34] originalnetadmin commented on #55178
Yes. I closed it myself since I had omitted a step (convert vhdx to fixed size vhd).

Regards,
Arvind

Sent from my mobile smart device. Please pardon any typos.

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Tuesday, May 19, 2020 7:44:03 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: originalnetadmin <hakamath@hotmail.com>; Sta

[2020-05-20 00:34] Tilldawnbreak commented on #54851
I am getting an error message <?xml version="1.0" encoding="utf-8"?><Error><Code>InvalidResourceName</Code><Message>The specifed resource name contains invalid characters.
RequestId:a7e4a46c-801e-0074-1a3d-2edc85000000
Time:2020-05-20T00:31:14.1145257Z</Message></Error>

I have entered a proper API URI.

[2020-05-20 00:44] TravisCragg-MSFT commented on #46811
@Poolshark314 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-20 00:44] #46811 closed

[2020-05-20 00:45] TravisCragg-MSFT commented on #48936
@sonalinoolkar Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-20 00:45] #48936 closed

[2020-05-20 00:46] TravisCragg-MSFT commented on #52156
@hisasima We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-20 00:46] #52156 closed

[2020-05-20 00:47] TravisCragg-MSFT commented on #52823
@edemen We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-20 00:47] #52823 closed

[2020-05-20 00:47] MartinJaffer-MSFT commented on #55168
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-20 00:52] flyingUnderTheRadar opened #55220 "Any idea when the rules engine might come out of preview?"
We wanted to move this but saw the banner at the top of this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80f1c096-1155-ff00-16cf-b0eda33cebd6
* Version Independent ID: 597a33fa-9585-d40f-7f6d-89014a56b294
* Content: [Azure Front Door](https://docs.microsoft.com/en-us/Azure/frontdoor/front-door-tutorial-rules-e

[2020-05-20 00:52] Mike-Ubezzi-MSFT commented on #54916
@LifeRyuto We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-20 00:57] MartinJaffer-MSFT commented on #55150
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-05-20 01:01] alsavelv opened #55221 "Runbooks missing"
None of the runbooks listed in the table were auto-deployed by the solution to my Automation account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Independent ID: 9eecef0c-b1cb-1136-faf7-542214492096
* Content: [Start/stop VMs during off-hours solution](https://docs.micr

[2020-05-20 01:04] Mike-Ubezzi-MSFT commented on #55012
@Yamank Thank you for this additional detail. The current guidance is to use the `West Asia Standard Time` as it mirrors the same UTC+5 time zone expression and does not participate in DST. This is likely the reason why Qyzylorda is not listed.

West Asia Standard Time | (UTC+05:00) Ashgabat, Tashkent
-- | --

Please let me know if you have any additional questions but I have shared this issue wit

[2020-05-20 01:05] eddied4 opened #55222 "AD DS Authentication over Internet"
Documentation says NTLMv2 Authentication works for Azure files. Does Local AD Authentication work for Azure files over the internet? With NTLM the client does not require communication with a DC hence not requiring a VPN to Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d254d903-bd6c-48ce-967d-0a96f2ca9431
* Ver

[2020-05-20 01:09] CESARDELATORRE opened #55223 "[Doc/Tutorial] X and Y are being deprecated, move to training_data and label_column_name"
X and Y are being deprecated in AutoMLConfig class. Since the last 3 versions the approach is to use training_data and label_column_name parameters instead of x and Y.

We need to update this doc when possible.
It's related notebook is already updated to use training_data and label_column_name parameters  in AutoMLConfig class instead of x and Y:

https://github.com/Azure/MachineLearningNotebooks/

[2020-05-20 01:10] mathieu-benoit commented on #55211
Or typically referencing this https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/create-onboarding-service-principal which is actually talking about this dedicated role?

[2020-05-20 01:12] CESARDELATORRE commented on #55223
Although note that the mentioned notebook goes further since it's using PIPELINES. This tutorial is not, so the things in common are mostly:
- NYC dataset scenario
- AutoMLConfig class configuration

Not AML pipelines to be included in this getting started tutorial, of course. :)

[2020-05-20 01:16] LifeRyuto commented on #54916
@Mike-Ubezzi-MSFT

Yes, that's true. I would say the documentation is confusing because it advises readers to set static "private" ip address of VM. It should be a public ip address.
It would be okay for me to pull request, but as you can see, I'm not a native speaker of English, so it would be great if native English speakers modifies the document. Thanks.

[2020-05-20 01:20] Mike-Ubezzi-MSFT commented on #55152
@rogihee Thank you for bringing this to our attention. I will have the content author review this and make an update as appropriate.

[2020-05-20 01:25] Mike-Ubezzi-MSFT commented on #55120
@jahmai Please create an entry in the [UserVoice](https://feedback.azure.com/forums/263030-azure-cosmos-db?) forum for feature requests.

[2020-05-20 01:26] MarileeTurscak-MSFT commented on #54690
Please let me know and reach out to me at the AzCommunity@microsoft.com

[2020-05-20 01:26] #54690 closed

[2020-05-20 01:28] jahmai commented on #55120
@Mike-Ubezzi-MSFT Not sure why you are closing this. The docs are still wrong. Making a feature request doesn't change that.

[2020-05-20 01:28] RyanHill-MSFT commented on #55216
Thanks for the feedback @ederbond! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-20 01:29] kaitoii11 opened #55224 "Unclear how to obtain parameter <azureAroV4ResourceId>"
Solely looking at this page, it is unclear how to obtain the parameter `<azureAroV4ResourceId>`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a7aaa8a-a94b-f2ba-7365-b527519e9920
* Version Independent ID: 86c97898-1d8a-69fe-35f4-613fc0e336fd
* Content: [Configure Azure Red Hat OpenShift v4.x with Azure Monitor for co

[2020-05-20 01:30] Mike-Ubezzi-MSFT commented on #55183
@MarkWme Thank you for bringing this to our attention. I will have this reviewed by the content team and updated as appropriate. @deborahc and @SnehaGunda for awareness.

[2020-05-20 01:35] mganeshphani opened #55225 "length of the logentry column?"
In the ContainerLog table, we are seeing the logs being truncated, what is the limitation on the length of the column(logentry)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0526b200-ba5c-5427-35a8-1290d23bcada
* Version Independent ID: 4ca174bd-6fbb-7b74-8065-eaabdb10a699
* Content: [Azure Monitor FAQ - Azure Monitor

[2020-05-20 01:36] yqxiaxia commented on #54843
Hi,

Get your information, thanks, please close it.

BRs,
Xia

On Wed, 20 May 2020 at 00:34, NavtejSaini-MSFT <notifications@github.com>
wrote:

--
Yuqing Xia
Consultant
Email yqxia@thoughtworks.com
Telephone 13545092422
[image: ThoughtWorks]
<http://www.thoughtworks.com/?utm_campaign=yuqing-xia-signature&utm_medium=email&utm_source=thoughtworks-email-signature-generator>

[2020-05-20 01:42] huntleyh opened #55226 "Copy Data Activity Not Converting ISO DateTime from MongoDB Correctly"
When using the Copy Data activity to copy values from a MongoDB collection on Atlas the date field is not being recognized, throwing an error similar to "[simpleDate] contains an invalid value '1484006400000'. Cannot convert '1484006400000' to type 'DateTime'". For example:

In MongoDB:
{
    "_id" : ObjectId("5d683d6a16db9a37c4812125"),
    "programName" : "Demo",
    "simpleDate" : ISODate("2017

[2020-05-20 01:45] rigdern opened #55227 "Elaborate on guidance "Avoid long running functions""
I'm considering using an Azure Function in a scenario that I suspect is "long running." After reading the section "Avoid long running functions" I still have these questions:
  - How long is considered to be "long running"? The reader might have a different interpretation of "long running" than the Azure team.
  - Is there ever a valid situation to have a "long running" Azure Function? If yes, wha

[2020-05-20 01:45] edalx commented on #51258
I had the same issue but I achieved to containerize a stateless service in this way:
 1. microsoft/service-fabric-reliableservices-windowsservercore:1803 docker image has .Net Core runtime 2.0 installed. If your stateless service is running on later versions it won't work. For this reason, I built my docker image in this way [docker image servicefabric-runtime][1].
 2. I realized SFBinaryLoader.cs

[2020-05-20 01:46] Mike-Ubezzi-MSFT commented on #55185
@pmozbert Thank you for the inquiry. The diagram is more simple than that. The blue box is Azure and the red box is your connecting host anywhere outside of Azure. No additional firewall rules are required and no VNET or network requirements are necessary to implement Azure AD authentication. Is there something specific you are having an issue with or that needs additional detail?

![Screenshot (1

[2020-05-20 01:49] darrenjoycenz opened #55228 "Auto provisioning"
Is there any documentation to cover auto-provisioning accounts?  Assigning licences automatically presumably does not remove the licence when the user is deleted from Active Directory, so would the Provisioning option do that and can the documentation be updated to cover that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-20 01:58] devlife commented on #55008
Ok thanks. I'll give that a shot soon!

[2020-05-20 01:59] Mike-Ubezzi-MSFT commented on #55189
@loarabia Thank you for bringing this to our attention. I will have the content team review this and make an update as appropriate. @anfeldma-ms and @SnehaGunda for awareness.

[2020-05-20 02:01] MarileeTurscak-MSFT commented on #54508
@VivekDevops
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-20 02:03] MarileeTurscak-MSFT commented on #54966
@SeaDude
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-20 02:08] yuharucan commented on #55117
Sorry, I can't understand what you said.
At staticrc40 on DW1000c, 8 slot is used. If memory size is 250MB/slot, 8 slot  equals 2GB memory(per compute node?).  At staticrc40 on DW1000c, total memory is 600GB.
Could you tell me more detail fomula?

[2020-05-20 02:08] BharathNimmala-MSFT commented on #55214
@dynamodhiraj  Thank you for your query, we will look into it and get back to you at the earliest.

[2020-05-20 02:08] Mike-Ubezzi-MSFT commented on #55201
@john-loughlin Thank you for making us aware of this issue. It appears that the correct link has now published.

![Screenshot (16)](https://user-images.githubusercontent.com/37126106/82396901-02752600-9a04-11ea-9e7e-e8f456600b76.png)

The link now goes to: [Connect to Azure Synapse Link (preview) for Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/synapse-analytics/synapse-link/how-to-conn

[2020-05-20 02:10] Mike-Ubezzi-MSFT commented on #55201
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-20 02:10] #55201 closed

[2020-05-20 02:11] BharathNimmala-MSFT commented on #55224
@kaitoii11 Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-20 02:13] BharathNimmala-MSFT commented on #55221
@alsavelv  Thank you for your question, our team will look into it and get back to you at the earliest.

[2020-05-20 02:19] VikasPullagura-MSFT commented on #55175
@ingokofler
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-20 02:19] BharathNimmala-MSFT commented on #55225
@mganeshphani Thank you for your query, there are some constraints around the data posted to the Azure Monitor Data collection API.

- Maximum of 30 MB per post to Azure Monitor Data Collector API. This is a size limit for a single post. If the data from a single post that exceeds 30 MB, you should split the data up to smaller sized chunks and send them concurrently.
- Maximum of 32 KB limit for f

[2020-05-20 02:31] #55115 closed

[2020-05-20 02:35] ronortloff commented on #55117
Concurrency slots were allocated per distribution.  There are 60 distributions. 2gb * 60 distributions = 120gb.  120gb/600gb=20%.

[2020-05-20 02:39] jalvarezca commented on #13639
This is happening to me in VS2019 enterprise, and none of these have worked for me.

[2020-05-20 02:44] StingyJack opened #55229 "I dont see this option to enable versioning."
There is only a soft delete option with the retention days slider.
![image](https://user-images.githubusercontent.com/15381181/82399189-90f8a000-9a22-11ea-8673-e8bba5e9560d.png)

Is there somewhere i have to opt in to this preview feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46cccffb-b0b7-c591-8b43-586c94070

[2020-05-20 02:47] BharathNimmala-MSFT commented on #55224
@kaitoii11 Thank you for reaching out to us. Seems that azureAroV4ResourceId in the document is referring to Resource ID of  [Azure Red Hat OpenShift cluster running OpenShift 4](https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster), which you will create.

If you look through the [example in the document](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-

[2020-05-20 02:47] #55224 closed

[2020-05-20 02:49] rigdern opened #55230 "Structure of "Avoid long running functions" section is confusing"
I found it very difficult and time consuming to understand the content of the "Avoid long running functions" section. Part of the difficulty comes from each paragraph being about a very different topic and there not being smooth transitions between the paragraphs. See below for comments about each paragraph.

### Paragraph 1

Feedback:
  - The phrase "timeout issues" is ambiguous. Does it mean tha

[2020-05-20 02:54] tamram commented on #55229
@StingyJack - Are you using one of the supported preview regions? Blob versioning is currently supported only in [these regions](https://docs.microsoft.com/azure/storage/blobs/versioning-overview?tabs=powershell#about-the-preview).

[2020-05-20 02:55] #55225 closed

[2020-05-20 03:02] BhargaviAnnadevara-MSFT commented on #55204
@kmugrage Thank you very much for bringing this to our attention. We're investigating this and will get back to you shortly.

[2020-05-20 03:04] DixitArora-MSFT commented on #55230
Hi @rigdern Thanks for your feedback. We will review and update as appropriate.

[2020-05-20 03:05] DixitArora-MSFT commented on #55227
Hi @rigdern Thanks for your feedback. We will review and update as appropriate.

[2020-05-20 03:06] DixitArora-MSFT commented on #55217
Hi @jmcginty Thanks for your feedback. We will review and update as appropriate.

[2020-05-20 03:07] mandiaya commented on #53677
Hi @jeevansd,
any update???

[2020-05-20 03:08] tksh164 opened #55231 "Scope of in case of VMs using availability zones"
In the case of the VMs with availability zones, what is the delivery scope of scheduled events? It is the same as standalone VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 479d877a-81a0-5436-76d9-898303c5bbec
* Version Independent ID: f352ae78-1d3f-a780-554c-fc304ada5a69
* Content: [Scheduled Events for Linux VMs

[2020-05-20 03:09] trangluong opened #55232 "How can test in local with app service is Isolated tier"
I upload private certificate in app service and follow the steps, how can I test it in my local? I cannot validate the thrumbprint.
Do I need to import the certificate in the virtual machine that I'm hosting this app service or just upload in TLs/SSL setting of app service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-05-20 03:15] ishasahni1 commented on #54634
@VikasPullagura-MSFT @ezYakaEagle442 this Marketplace page is not localized in fr-fr and that is the reason when you open this link you see en-us. So this is by design.

[2020-05-20 03:17] VikasPullagura-MSFT commented on #54634
@ishasahni1 Thanks for sharing the details.

@ezYakaEagle442 Hope this clarifies your query.

[2020-05-20 03:17] htalluri9 commented on #54055
@algattik

its not always lun0

below output from a a2 standard vm type

[code]

[2020-05-20 03:21] yqxiaxia opened #55233 "Can not list geo-redundant backup for Azure PostgreSQL server?"
Hi,

We meet some issue with geo-redundant backup, more details as follows:

When we create the Postgresql server, for  Backup Redundancy Options, we choose geo-redundant backup.
After two days, we tried to create a new Postgresql server using backup, but the backups list does not include any  geo-redundant backup,  like this:
![image](https://user-images.githubusercontent.com/29936430/82401216-c9

[2020-05-20 03:23] yqxiaxia opened #55234 "Can not list geo-redundant backup for Azure PostgreSQL server?"
Hi,

We meet some issue with geo-redundant backup, more details as follows:

When we create the Postgresql server, for Backup Redundancy Options, we choose geo-redundant backup.
After two days, we tried to create a new Postgresql server using backup, but the backups list does not include any geo-redundant backup, like this:

![image](https://user-images.githubusercontent.com/29936430/82401510-9559

[2020-05-20 03:23] #55233 closed

[2020-05-20 03:24] yqxiaxia commented on #55233
Create a new one to follow up

[2020-05-20 03:25] kulpras opened #55235 "Broken link"
https://github.com/staticwebdev/react-basic/generate
this is link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b3b161-b559-f90b-1566-f18776a5f7da
* Version Independent ID: 3e536234-16ad-2ed3-fb58-c128ba2faab2
* Content: [Quickstart: Building your first static web app with Azure Static Web Apps](https://d

[2020-05-20 03:25] kulpras commented on #55235
started working

[2020-05-20 03:25] #55235 closed

[2020-05-20 03:27] Mike-Ubezzi-MSFT commented on #54914
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-20 03:27] #54914 closed

[2020-05-20 03:28] KranthiPakala-MSFT commented on #55226
@huntleyh Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-05-20 03:40] Mike-Ubezzi-MSFT commented on #55120
@jahmai Thank you for the awareness.

[2020-05-20 03:42] KranthiPakala-MSFT commented on #55226
@huntleyh : Unfortunately 'ISODateTime' is not supported in ADF v2 Mongo DB connector.   The date read back from Mongo DB is Unix epoch time, so if we want to insert that to datetime2 column, you will need to convert that epoch type value to datetime2

If you have any feedback/suggestion regarding this connector, I would recommend you to please share it in ADF uservoice forum. All the feedback sha

[2020-05-20 03:42] #55226 closed

[2020-05-20 03:44] souravmishra-msft commented on #54910
@SeaDude, An app service plan and a managed identity is not directly related. Managed Identities are only for managing your authentication by excluding the app credentials from your code and directly calling resource specific managed identity endpoints from within the resource to fetch tokens from AAD.
Now the relation between App service plan and managed identity would be that App Service plans a

[2020-05-20 03:49] VikasPullagura-MSFT commented on #55174
@MicrosoftDocs/aks-pm Please add your comments

[2020-05-20 04:03] BhargaviAnnadevara-MSFT commented on #55204
@aaronpowell I don't seem to have access to edit the article. Can you please check?

[2020-05-20 04:05] mreyes opened #55236 "Having Azure AD B2C then need to add a Azure AD as a SAML IdP"
Is there a tutorial to follow in order to accomplish this layout of Identity providers?
I see that I can get pieces of this configuration but it is not trivial task without a straight up procedure to do so. I have been reviewing the documentation and up until now I'm not able to find a unified document for this particular case. Is there such a document or tutorial that I haven't been able to find?

[2020-05-20 04:07] neeleshray-msft commented on #54490
@planrite We will be closing this thread now. Let us know if you need further help.

[2020-05-20 04:07] #54490 closed

[2020-05-20 04:10] neeleshray-msft commented on #54724
@msmbaldwin Could this be reviewed ?

[2020-05-20 04:11] neeleshray-msft commented on #54725
@msmbaldwin Could this be reviewed ?

[2020-05-20 04:12] VikasPullagura-MSFT commented on #55124
We will now close this issue. You can either open a new issue by providing proper Feedback on the document directly or elaborate more on the feedback here with a comment.

[2020-05-20 04:12] #55124 closed

[2020-05-20 04:21] SwathiDhanwada-MSFT commented on #54637
@HansonChiu1994 Just following up to check if you had chance to check my previous comment?

[2020-05-20 04:22] SwathiDhanwada-MSFT commented on #54723
@srudin We will close the issue for now. Kindly reach out to us via email as mentioned above. If there are further questions , please revert and we will be glad to assist you.

[2020-05-20 04:22] #54723 closed

[2020-05-20 04:25] NavtejSaini-MSFT commented on #54777
@edurakhanyan We have corrected the doc and once approved it will be merged and changes will be visible in approx 24 hours.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/115792

[2020-05-20 04:29] fabragaMS opened #55237 "Markdown link exposed in text"
Hi team, there is a markdown link exposed in the text for the paragraph: https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/on-demand-workspace-overview#azure-active-directory-integration-and-multi-factor-authentication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7bba9da-4559-5bf8-1c57-6ec91d3693d0
* Vers

[2020-05-20 04:31] NavtejSaini-MSFT commented on #54797
@Blackbaud-BenLambert We have made changes to the document with Pull Request https://github.com/MicrosoftDocs/azure-docs-pr/pull/115793 .
Once approved the changes will be visible inapprox 24 hrs.

[2020-05-20 04:31] VikasPullagura-MSFT commented on #55034
We will now close this issue.
You can open a new issue by providing Feedback directly on the document you are trying or If you have the document URL then please share so that we can reopen this issue.

[2020-05-20 04:31] #55034 closed

[2020-05-20 04:35] ram-msft commented on #54819
@gary918 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-20 04:35] #54819 closed

[2020-05-20 04:38] #54797 closed

[2020-05-20 04:38] #54777 closed

[2020-05-20 04:39] ram-msft commented on #55223
@CESARDELATORRE Thanks for the feedback. We will update you shortly.

[2020-05-20 04:40] ram-msft commented on #55213
@Micpic3 Thanks for the question. We will update you shortly.

[2020-05-20 04:44] SnehaAgrawal-MSFT commented on #55232
@trangluong Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-20 04:47] VikasPullagura-MSFT commented on #55181
@markthebault
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-20 04:49] vaishali-prophecy commented on #47865
I am also facing this issue. Any workaround we have till we get this working?

[2020-05-20 04:59] CHEEKATLAPRADEEP-MSFT commented on #55237
@fabragaMS  Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-20 05:00] CHEEKATLAPRADEEP-MSFT commented on #55190
@ZMon3y  Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-20 05:01] BharathNimmala-MSFT commented on #54558
@jespernohr My sincere apologies for delayed response on this , i am trying to reach out to my internal Product team to get more clarity on this. Will keep you updated as i get more information. Thank you

[2020-05-20 05:02] krisket opened #55238 "incorrect api endpoint early in instructions"
http://localhost:7071/api/message should be http://localhost:7071/api/getmessage
The template might have been updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5689b389-ead5-825d-dde1-9a290bc0819f
* Version Independent ID: 52a526a2-477a-dda4-02b4-eac1440811ed
* Content: [Add an API to Azure Static Web Apps with A

[2020-05-20 05:05] VikasPullagura-MSFT commented on #55218
@johanburati Thanks for creating the PR for updating the document. I have updated doc author for reviewing the PR. The changes will go live once the PR is approved.

[2020-05-20 05:10] mrbullwinkle commented on #13639
@jalvarezca what version of VS 2019 enterprise are you running? I just tested with the latest stable release that came out yesterday `16.6.0` and the App Insights search experience is still there.  I did see the experience removed temporarily in one of the preview releases a few weeks back, but if you have the latest stable release you shouldn't see this issue.

[2020-05-20 05:15] BharathNimmala-MSFT commented on #55235
@kulpras Thank you for reaching out and glad to hear it got resolved. Please feel free to revert back if you any queries in future.

[2020-05-20 05:17] BhargaviAnnadevara-MSFT commented on #55204
@kmugrage Thanks again for catching that error in the docs! I have submitted a PR to fix the issue that's awaiting review.

[2020-05-20 05:17] mike-urnun-msft commented on #50286
@marawan31 Note that with Queues, the same limit is still shared by both senders and receivers.

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-20 05:17] #50286 closed

[2020-05-20 05:18] BharathNimmala-MSFT commented on #55160
@gauravcitrix Since we have not heard back from you we will now proceed to close this thread. However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-05-20 05:18] #55160 closed

[2020-05-20 05:22] BhargaviAnnadevara-MSFT commented on #55111
@SeaDude Hope the above response helped. Any additional questions or feedback here?

Looping in @lisaguthrie for looking at any possible enhancements to the docs.

[2020-05-20 05:30] SatishBoddu-MSFT commented on #55154
@rgamage I have assigned the issue to the content author @kgremban  for further review and update the doc as appropriate.

[2020-05-20 05:31] SumanthMarigowda-MSFT commented on #55187
@ruairidhlc Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-20 05:32] SumanthMarigowda-MSFT commented on #55191
@alanrenmsft Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-20 05:33] SatishBoddu-MSFT commented on #55156
@rgamage I have assigned the issue to the content author @kgremban  for further review and update the doc as appropriate.

[2020-05-20 05:34] SatishBoddu-MSFT commented on #55157
@rgamage I have assigned the issue to the content author @kgremban  for further review and update the doc as appropriate.

[2020-05-20 05:36] SatishBoddu-MSFT commented on #55159
@rgamage I have assigned the issue to the content author @kgremban  for further review and update the doc as appropriate.

[2020-05-20 05:36] oo2316oo opened #55239 "Can see any function item in Functions bar of app server"
After create function app server, we cannot see any item in the Function bar. Is the AML function working as a function item?

![image](https://user-images.githubusercontent.com/49862271/82408769-e7a3bf80-9a9e-11ea-9a84-f60f65abc22d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5111706-3d4f-f436-5f72-49b879c8d3f

[2020-05-20 05:37] SatishBoddu-MSFT commented on #55163
@rgamage I have assigned the issue to the content author @kgremban  for further review and update the doc as appropriate.

[2020-05-20 05:37] oo2316oo commented on #55239
![image](https://user-images.githubusercontent.com/49862271/82408806-fb4f2600-9a9e-11ea-83b6-e2581d575e64.png)

[2020-05-20 05:37] SatishBoddu-MSFT commented on #55166
@rgamage I have assigned the issue to the content author @kgremban  for further review and update the doc as appropriate.

[2020-05-20 05:38] oo2316oo commented on #55239
![Capture](https://user-images.githubusercontent.com/49862271/82408882-1cb01200-9a9f-11ea-9103-5dda38dfdec6.JPG)

[2020-05-20 05:38] SatishBoddu-MSFT commented on #55173
@rgamage I have assigned the issue to the content author @kgremban  for further review and update the doc as appropriate.

[2020-05-20 05:40] KritikaSingh89 opened #55240 "How can we setup call for Grant Authorisation code in Logic App"
I tried to call authorize service in logic app, but it throws error. Then I tried to call the token service without passing the authorisation code and it throws Silent sign-in error.
Can you please help how I can implement this scenarion.
My application is registered in App Registration and is using Active Directory for MFA Authentication.

---
#### Document Details

⚠ *Do not edit this section. I

[2020-05-20 05:40] SQLSourabh commented on #55191
Alan that's a typo, which should have been fixed by now.

[2020-05-20 05:40] jtuliani opened #55241 "Extra column?"
Load-balancers and public IP addresses have an extra column in the table. What does it mean? It has no table heading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5793ee25-abff-fe59-3ffe-f137aaa91464
* Version Independent ID: 953a05ef-9d62-cb4e-105b-c16cd259def0
* Content: [Support for moving Azure resources across r

[2020-05-20 05:41] shashishailaj commented on #55215
@danmyhre Thank you for your feedback . We will have this reviewed and updated accordingly.

[2020-05-20 05:43] srasp commented on #53395
Thank you! I was wondering if you can share an example with me.

[2020-05-20 05:51] srasp commented on #53395
I recommend to add a note to the doc, that nested XSLTs (xsl:imports/xsl:includes) of XSLTS within an integration account are currently not supported. Only external XSLTs from another server. Actually, this is something, which should be improved in Logic Apps and the “XML Transform” component, because imports/includes give the ability to implement cleaner, more flexible and less redundant XSLTs.

[2020-05-20 05:52] bedwell84 commented on #49538
Why is this closed? It is so confusing. We can granularly apply MFA to individual users with O365 E1, E3 or E5 licenses as per screenshot from Jseerden. Are you saying that is in breach of the licensing agreement?

[2020-05-20 05:53] jtuliani opened #55242 "AAD examples needed"
The intro says you can use deployment scripts to create users and objects in AAD. However, no examples are given. It would be very useful if the process to include AAD operations was fully explained, since the permissions etc required are somewhat different than for resource operations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-05-20 05:54] glprasanna commented on #48941
Hi Everyone,

We are planning to upgrade our JIRA to 8.5.4 version.
Can anyone please let us know if this 1.0.6 version plugin is compatible 8.5.4 enterprise version of JIRA ?

Thanks
prasanna

[2020-05-20 05:55] #53395 closed

[2020-05-20 05:56] BhargaviAnnadevara-MSFT commented on #55238
@krisket Thanks for the question.

From the article, I understand that it's just the _function name_ that's called **GetMessage** but the API endpoint is still exposed via the _/api/message_ route.

![image](https://user-images.githubusercontent.com/44050820/82410037-aa363680-9a8c-11ea-9079-64240f015160.png)

Hope that clarifies.

[2020-05-20 05:58] glprasanna opened #55243 "Does this 1.0.6 version plugin supports 8.5.4 version of JIRA ? Also currently we are using 1.0.5 version of SSO plugin does 1.0.5 version is compatible with 8.5.4 version ?"
Does this 1.0.6 version plugin supports 8.5.4 version of JIRA ? Also currently we are using 1.0.5 version of SSO plugin does 1.0.5 version is compatible with 8.5.4 version ?

https://www.microsoft.com/en-us/download/details.aspx?id=56506

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6598b604-94e7-008e-5fa3-77e9777a60b

[2020-05-20 06:22] zhangzexing789 opened #55244 "When Azure Data Lake Storage query acceleration can support Hong Kong?"
The query acceleration feature is in public preview, and is available in the Canada Central and France Central regions.
When this feature can support Hong Kong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a6c1f4-9152-0f5a-b546-6ba9e1e2bf88
* Version Independent ID: 282b084a-8184-29a0-799b-6f3a55dccdc5
* Content: [

[2020-05-20 06:22] #55209 closed

[2020-05-20 06:24] AjayKumar-MSFT commented on #55205
@vamuzumd, Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2020-05-20 06:45] SnehaAgrawal-MSFT commented on #55030
@pengbobobo1987 We will close this for now. let us know if you have any feedback on this doc.

[2020-05-20 06:45] #55030 closed

[2020-05-20 06:47] ajaydinakaran commented on #54824
I have verified again and it is SensorChange Event Type and the simulator is continuously sending different values.

[2020-05-20 06:50] MonikaReddy-MSFT commented on #54750
@ezYakaEagle442 , I'm going to assign this to the document author so they can update the document accordingly.

[2020-05-20 06:51] MonikaReddy-MSFT commented on #54753
@ezYakaEagle442 , I'm going to assign this to the document author so they can update the document accordingly.

[2020-05-20 06:53] CHEEKATLAPRADEEP-MSFT commented on #55237
@fabragaMS Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/115803](https://github.com/MicrosoftDocs/azure-docs-pr/pull/115803)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to t

[2020-05-20 06:53] #55237 closed

[2020-05-20 06:54] HansonChiu1994 commented on #54637
Hi there,

I tried to monitor the Azure Synapse DMS worker.
Finally we received some data in event hub but it's only hourly.
I think it's related to the latency.

[2020-05-20 06:54] #54637 closed

[2020-05-20 06:54] MonikaReddy-MSFT commented on #54871
@dbreshears  - Thank you for providing your insights.
@greggbjensen- I hope @dbreshears has answered your question.
At this moment, Since there is no doc update required for this doc, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-20 06:54] #54871 closed

[2020-05-20 06:58] MonikaReddy-MSFT commented on #54816
@gpj1 , Take a look at this doc and see if this is helpful - [Dependency tracking in Application Insights](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-dependencies)

And Since we haven't heard back from you, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we

[2020-05-20 06:58] #54816 closed

[2020-05-20 07:00] MonikaReddy-MSFT commented on #55008
@heyams - Thank you for providing your insights.
@devlife - I hope @heyams has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-20 07:00] #55008 closed

[2020-05-20 07:08] RohitMungi-MSFT commented on #55203
@damochiz For more detailed steps to use adlsgen2 you can follow steps mentioned in this [notebook](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-data-transfer.ipynb).

Also, the service principal authentication steps are explained in detail [here](https://docs.microsoft.com/en-us/azure/data-factory/conn

[2020-05-20 07:09] kmleow opened #55245 "Using Federation ID for matching instead of Salesforce Username"
Could you please mention that for those wishing to match the user by 'Federation ID' instead of 'Username', AND if their AD users are guest/external, their federation ID must be formatted as &lt;email&gt;#EXT#@&lt;tenant&gt;.onmicrosoft.com. The alias symbol &lt;email&gt; must be replaced with underscore. Also, the #EXT# must be all caps.

I could not find this information elsewhere. Hope this hel

[2020-05-20 07:12] itsorch commented on #54918
I had to request exchange admin rights, which then gave me the ability to sort this out, 2 days passed my deadline, very stressful, but done now.

[2020-05-20 07:17] damochiz commented on #55203
Thank you for the information. They are useful, but I think it is better to be able to link them from the following site.

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-access-data#azure-data-lake-storage-generation-2

[2020-05-20 07:26] shashishailaj commented on #55236
@mreyes Thank you for your feedback . We will investigate and update the thread.

[2020-05-20 07:28] shashishailaj commented on #55228
@darrenjoycenz Thank you for your query. We will investigate and update the thread.

[2020-05-20 07:29] shashishailaj commented on #55240
@KritikaSingh89 Thank you for your feedback . We will investigate and update the thread.

[2020-05-20 07:34] shashishailaj commented on #55245
@kmleow Thank you for your feedback . We will investigate and update the thread.

[2020-05-20 07:34] CHEEKATLAPRADEEP-MSFT commented on #55190
@ZMon3y Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/115807](https://github.com/MicrosoftDocs/azure-docs-pr/pull/115807)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take

[2020-05-20 07:34] #55190 closed

[2020-05-20 07:35] SAIMMINHAS commented on #55151
Hi Martin,

It's related to 'Tutorial: Back up and restore files for Windows virtual machines in Azure'
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-backup-vms#feedback

Many thanks.

[2020-05-20 07:37] CHEEKATLAPRADEEP-MSFT commented on #54731
@poonamnimje01 Please feel free to raise a support ticket for the issue. If you dont have a support plan, please send an email to AzCommunity@Microsoft.com with the below details, so that we can create a one-time-free support ticket for you to work closely on this matter.

Thread URL: #54731
Subscription ID: "your subscription id"

Please let me know once you have done the same.

[2020-05-20 07:39] HansonChiu1994 opened #55246 "Can't create a scheduled export (error message: n.value is undefined)"
I tried to create a scheduled export but receive error message after pressing Create: n.value is undefined
Confirmed both storage account and container existed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51144539-a3a7-f7fa-1bc1-0d32bb85e9fd
* Version Independent ID: b01d33a0-4c5d-7ec4-8c2f-de4a940707dc
* Content: [T

[2020-05-20 07:44] jlorich commented on #54343
That didn't help, but I did some further digging and figured it out.  It appears if you installed the `azure-iot` extension on an older Azure CLI version you don't get all the functionality, you only see what I was showing before.  For reference I was testing this on `az` version 2.0.75 which was fairly old.  Upgrading the CLI did not help alone _however_ I reinstalled the extensions after upgradi

[2020-05-20 07:45] amanmcse commented on #55028
@m-malik15 Could you please provide below information:
1. Is it a synced user that you are trying to authenticate with?
2. Are you using federated authentication or you have Password Hash synced to Azure AD?
3. Can you try with cloud only user account and share the result?

[2020-05-20 07:47] poonamnimje01 commented on #54731
Sure.  I will raise support ticket. I do have support plan.
Thank you

On Wed, May 20, 2020, 13:07 CHEEKATLAPRADEEP-MSFT <notifications@github.com>
wrote:

[2020-05-20 07:47] VikasPullagura-MSFT commented on #55175
@ingokofler I just tried the tutorial on cloud shell as recommended in the document, the  az version is `2.5.1` and I am not facing issue while listing the connection info `az vmss list-instance-connection-info`.

Can you please try in cloud shell or with the version mentioned and see if the issue is resolved.

[2020-05-20 07:48] CHEEKATLAPRADEEP-MSFT commented on #55244
@zhangzexing789 Unfortunately, we don't have exact ETA. Regarding service general availability, I would suggest to keep an eye on [Azure updates](https://azure.microsoft.com/en-gb/updates/).
Azure updates provide information about important Azure product updates, roadmap, and announcements.

[2020-05-20 07:49] CHEEKATLAPRADEEP-MSFT commented on #54902
@dheerajkumar-solanki  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-20 07:49] #54902 closed

[2020-05-20 07:49] CHEEKATLAPRADEEP-MSFT commented on #55098
@mortgagemetrix  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-20 07:49] #55098 closed

[2020-05-20 07:56] ingokofler commented on #55175
Nope, same behaviour here. Note that the VMSS is attached to a private LB only in our deployment.
[code]

[2020-05-20 07:56] KrishnaG-MSFT commented on #55026
Related discussion done [here](https://stackoverflow.com/questions/61868802/azure-managed-application-encrypting-disk-by-custom-key).
Tagging @tfitzmac @MSEvanhi for visibility, to help provide insights and if required, consider enhancing the doc with a note.

[2020-05-20 08:06] viresh-contino opened #55247 "Copy from one shared image gallery to another shared image gallery in another sub?"
Is it possible to copy images from one shared image gallery to another which is in another subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d150ace-bd6d-8111-79b5-0ce7cb76a378
* Version Independent ID: 13a828ae-ae92-9ea7-5f37-5a69eeeb87b7
* Content: [Azure Shared Image Gallery - Azure Windows Virtual Machi

[2020-05-20 08:08] SubhashVasarapu-MSFT commented on #55220
@flyingUnderTheRadar ,  We are looking into this query and will update you as soon as possible.

[2020-05-20 08:12] shajeerclt commented on #48139
Exactly the same issue for me when i choose a Windows 10 or Windows 2019 Datacenter Edition OS. I do not see the "login with AAD credentials (Preview)" option. Any leads appreciated. I am testing this using a VS Subscription.

[2020-05-20 08:13] shashishailaj commented on #55243
@glprasanna Thank you for your feedback . We will investigate an update the thread.

[2020-05-20 08:15] RohitMungi-MSFT commented on #55239
@shivanissambare @bozhong Could you please help to confirm if this the function should be available to view from the portal?

[2020-05-20 08:16] SadiqhAhmed-MSFT commented on #55207
@jonwbstr Thanks for bringing this to our attention. This issue is being assigned to the content author to evaluate and update as appropriate.

@bandersmsft FYI

[2020-05-20 08:18] Gurpreet103 commented on #55186
There is no firewalls or NSG in the spoke vnet, still I am not able to reach from the allocated P2S ip to the spoke network. Also we have deployed a VM in the spoke vnet to check the routing and we found that we are able to trace to the allocated P2S ip from the VM. Hence the routing is in place, however as mentioned before we are not able to reach the spoke vnet from the allocated P2S ip.

[2020-05-20 08:18] mike-urnun-msft commented on #54641
@hf-kklein Sorry for the late reply. Constraint does state "_Orchestrator code must never start any async operation **except by using the IDurableOrchestrationContext API** or the context.df object's API_" and the example orchestrater is using the `IDurableOrchestrationContext contextIDurableOrchestrationContext context` in the signature below:

[code]

We will now proceed to close this thread. If

[2020-05-20 08:18] #54641 closed

[2020-05-20 08:19] SadiqhAhmed-MSFT commented on #55006
@v-mohaly Did you get a chance to see the previous response? Let us know if the suggestions provided were helpful if not you may want to reach out to [Azure technical support team by creating a support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) for further investigation into this issue. The ticket enables you to work closely wit

[2020-05-20 08:21] ruowan commented on #55108
Got it. Thanks!

[2020-05-20 08:22] jjindrich opened #55248 "Deployment with Azure Firewall"
Hi, please can you clarify how to configure API management with Internal virtual network and Azure Firewall. I'm routing all traffic to Azure Firewall with allowed traffic to storage etc (based on your table). But I don't understand how to configure management inbound port 3443. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-05-20 08:24] abhaybhangale commented on #44968
You need to have admin level access on your subscription to give yourself role based access on the app config. In my case i had to give my microsoft account <myalias>@microsoft.com access to my app config (Access control -> Add -> Add Role assignment-> App configuration data reader)

Once this was setup, my code running in visual studio under my <myalias>@microsoft.com account worked.  Note that t

[2020-05-20 08:25] WillyMoselhy opened #55249 "Add module to PS Gallery"
Why is the AzFilesHybrid module not on the PS Gallery?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba964be-3f77-d80c-f1a5-35bb1430bb8f
* Version Independent ID: fe70b11e-10fe-5a8c-1fad-b22a83693503
* Content: [Enable Active Directory authentication over SMB for Azure Files](https://docs.microsoft.com/en-us/azure/st

[2020-05-20 08:26] ezYakaEagle442 commented on #54987
The [ARO CLI source code](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/aro/_validators.py#L180) shows the visibility value should be 'Private' or  'Public'

[2020-05-20 08:29] santo2 opened #55250 "how to implement appinsights in reliable statefull and actor services without HTTP?"
Hi, Where can I find an example of appinsights implementation for remoting services (of any type, like stateless, stateful and actor) that do not have a service provider?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0402be82-9542-9eb9-7c9f-278e16b59d66
* Version Independent ID: 01446149-6253-1e6e-5dda-a500f9717a2f
*

[2020-05-20 08:31] karmicsynergy opened #55251 "Guest from another 365 tenant"
if the guest user are from another 365 tenant doe the 1:5 rule still apply

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9de7df3-1669-e58d-ae57-bdc8993ac35f
* Version Independent ID: 3a1d7ec3-b46f-3c87-2dc6-846cc815a530
* Content: [B2B collaboration licensing guidance - Azure Active Directory](https://docs.microsoft.

[2020-05-20 08:32] Gurpreet103 commented on #55186
Please close the case. We found the issue. We disabled the windows firewall in the VM and now we are able to trace. Thanks :-)

[2020-05-20 08:35] KranthiPakala-MSFT commented on #54839
Hi @abhisheksopra , apologize for late response. Please try below Absolute URL, it should work.
`AbsoluteUrl = $['@odata.nextLink']`

![image](https://user-images.githubusercontent.com/50185738/82424407-fd32ce00-9a39-11ea-8328-7db154844a5b.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will

[2020-05-20 08:35] #54839 closed

[2020-05-20 08:40] tam203 opened #55252 "--include keyword used in example but --exclude-pattern should be used"
`--include` keyword used in this example
`azcopy rm "https://[account].blob.core.windows.net/[container]/[path/to/directory]?[SAS]" --recursive=true --include="*.jpg;*.pdf;exactName"`

but I think `--exclude-pattern` should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b8fdea6-56be-bad9-6717-6797ef26f02d
* V

[2020-05-20 08:44] zhangzexing789 commented on #55244
Thanks for your reply.

[2020-05-20 08:44] #55244 closed

[2020-05-20 08:56] VikasPullagura-MSFT commented on #55200
@ratanparai
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-20 09:18] ruairidhlc commented on #55187
Great, thank you.  I believe the best way is to remove the SCP via ADSI Edit, but official recommendation is appreciated.

[2020-05-20 09:18] hf-kklein commented on #54641
OK, let me phase it less abstract: Why is calling `Task.Run(...)` not allowed but `Task.WhenAll(...)` is? It's not `context.WhenAll(...)` or something like this.

[2020-05-20 09:22] VikasPullagura-MSFT commented on #55175
@ingokofler Thanks of sharing the details.
Do you have public IP on the instance level, looks like that is the reason you are seeing this error.
Here is similar [issue](https://github.com/MicrosoftDocs/azure-docs/issues/23090#issuecomment-460801367) which has few more details.

[2020-05-20 09:24] EvanBasalik opened #55253 "Routing preferences sections appears outdated"
With the announcement at Build, it looks like both primary and secondary Storage endpoints support routing preference, so the section in the Route Preference document calling out Storage looks to be outdated.

https://docs.microsoft.com/en-us/azure/storage/common/network-routing-preference

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-05-20 09:25] alfredoniw220 commented on #55144
SumanthMarigowda-MSFT agradecido he resuelto el problema, vue-msal queria implentarlo en Vue estaba definiendo mal algunos parametros. era mas por permiso de autencaciòn. aqui dejo para implementar en Vue.

  clientId: 'XXXXXXX-XXXX-XXXXXX-XXXXXX-XXXXXXXXXXX',
    tenantId: 'XXXXXXXXX-XXXXX-XXXXX-XXXXX-XXXXXXXXXX', //Option 2
    validateAuthority: 'https://login.microsoftonline.com/XXXXXX-XXXXX-X

[2020-05-20 09:25] #55144 closed

[2020-05-20 09:28] suhaskumarvs opened #55254 "Not all policies are reported in Security Center"
Unable to see all 99 Policies alerting in Security Center, only 67 policies alert in Security Center.
The rest even though mentioned here as Monitored by Security Center, does not alert in Security Center. These can be however can be seen in Azure Policy under Compliance. This article needs more clarification.

E.g:  For Policy "Advanced data security settings for SQL server should contain an emai

[2020-05-20 09:45] vlardn commented on #27135
The Azure Table Storage and Azure Cosmos DB are like Azure Storage Queue and Azure Service Bus. The former is for cheap storage and basic access operations and the latter is more expensive storage but with advanced access features. Both are useful for own scenarios. They all should be independent products.

The Table API for Cosmos DB currently can't serve as a replacement for Azure Table Storage

[2020-05-20 09:47] OffColour commented on #55180
@TravisCragg-MSFT I have, but I'm setting up a Device tunnel not a user one. The Device page doesn't have any EAP settings in it. I've tried using the EAP settings from the User page which deploys but then prompts the user to choose a certificate from the user store.
Better off raising this on the Device tunnel page unless it can be moved?

[2020-05-20 10:02] JohnMoor commented on #55149
Thanks @MarileeTurscak-MSFT for your quick reply.

I've tested it even on my test tenant and there I get the same results. Note: A password set is working as well as editing the user.
![image](https://user-images.githubusercontent.com/37208531/82433416-b07ae180-9a91-11ea-95cb-abd4ba409f91.png)

[2020-05-20 10:03] ingokofler commented on #55175
No, i have just checked. There are no public IPs on instance level. Also worth mentioning, the LB and the VMSS are working fine. I can also see the instance private IPs on the Azure Portal but actually not via the Azure CLI. I also don't think that this is an permission problem as I have "Owner" permission on the full subscription.

[2020-05-20 10:07] SumanthMarigowda-MSFT commented on #55206
@ellismg Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-20 10:09] SumanthMarigowda-MSFT commented on #55211
@mathieu-benoit Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-20 10:09] SumanthMarigowda-MSFT commented on #55222
@eddied4 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-20 10:10] SumanthMarigowda-MSFT commented on #55249
@WillyMoselhy Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-20 10:11] BenWhite27 opened #55255 "Useful link not on this page"
I believe this link useful link should be added to this page somewhere
https://azure.microsoft.com/en-us/global-infrastructure/services/?products=

I used the pricing calculator to choose a VM size (NV12sV3) which shows it available in the UK South region.  I went to purchase this VM but was presented with one of the messages above "This size is currently unavailable in this location for this subs

[2020-05-20 10:11] SumanthMarigowda-MSFT commented on #55252
@tam203 Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-20 10:12] souravmishra-msft commented on #54912
@evenlan1990, Thank  you for reaching out. I did check on this error and your config and both are contradicting. To troubleshoot this, it would be great if you can create a support case, as this would need deeper troubleshooting and its not possible to perform a deeper troubleshooting over the forum.
Do let me know if you face any issues creating a case. make sure you have a valid subscription ID

[2020-05-20 10:21] dantchapman opened #55256 "Python example is incorrect"
batch_client = BatchServiceClient(
    credentials,
    base_url=BATCH_ACCOUNT_URL
)
should be

batch_client = BatchServiceClient(
    credentials,
    batch_url=BATCH_ACCOUNT_URL
)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726a2add-e28c-ab01-e63d-cc85bd1b961f
* Version Independent ID: 7e22d9ff-4d20-0709-78d5-9b39

[2020-05-20 10:23] satyajit-sutar commented on #41237
I am also facing same issue, not getting logout response from because of which I whole logout process is not completed.

[2020-05-20 10:31] CHEEKATLAPRADEEP-MSFT commented on #55086
@mamccrea Could you please look into this question?

[2020-05-20 10:37] VikasPullagura-MSFT commented on #55256
@dantchapman
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-20 10:48] VikasPullagura-MSFT commented on #55231
@tksh164
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-20 10:56] woutervanranst commented on #55128
Sorry I had a serious brainfart it seems

[2020-05-20 10:56] #55128 closed

[2020-05-20 10:56] rstropek opened #55257 "Reference to legacy component (Status Monitor)"
This page contains a reference to *Status Monitor* ("Status Monitor allows you to instrument a live .NET app on Windows with Azure Application Insights, without having to modify or redeploy your code") without mentioning that this component is legacy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa18ce13-11c1-3598-0e

[2020-05-20 10:57] voteopolis commented on #55007
any progress? Is there conflicts between the different, and latest versions of signalr/.net/core?
Can you give me a sample of local connections string to a physical Android
and
The correct connection string syntax to a signalr account hosted on azure?
thanks

[2020-05-20 10:58] ncagney commented on #55043
Thank you for continuing to look into for me.  As the end user trying to access another companies Azure portal, I do not have access any Microsoft or Azure, strictly Google's G-suite Admin Console.

[2020-05-20 11:02] SwathiDhanwada-MSFT commented on #55257
@rstropek Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-05-20 11:04] SwathiDhanwada-MSFT commented on #55242
@jtuliani Thanks for your comment. We will review the issue and get back to you shortly. T

[2020-05-20 11:05] SwathiDhanwada-MSFT commented on #55241
@jtuliani  Thanks for your comment. We will review issue  and get back to you shortly.

[2020-05-20 11:06] SwathiDhanwada-MSFT commented on #55246
@HansonChiu1994  Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-05-20 11:10] pmozbert commented on #55185
If 'your computer' is VM in an Azure VNet where egress to the Internet controlled by a NSG or by Azure Firewall, what firewall rules are required to support Azure AD authentication?

[2020-05-20 11:18] #52191 closed

[2020-05-20 11:20] JohnMoor commented on #55149
I can't think of any policy that may be preventing user deletion. As stated before password reset is working. Note that I can delete the user as global admin and I'm trying to delete a cloud-only user

I've created a new user account and put this in to the relevant AU.
Then logged in with scoped admin went to the AU and tried to delete
Same error "Unable to delete user"

[2020-05-20 11:21] vipulsparsh commented on #55020
@AfroDigital  : Apologies for the delay on this, I can see this is an urgent scenario. In this case I would request you to please contact the Office 365 [support](https://support.office.com/en-us/home/contact?contactUsExperienceEntryPointAssetId=S.HP.Main) either via chat or phone. You might have to proof that you are the admin by other means suggested by the support team.  Let me know if you have

[2020-05-20 11:39] BDunTG commented on #54171
@jrimada what environment variables did you use? It would also be helpful to understand if it's possible to "productionize" this setup and could automate the usage of proxy. It's not realistic to expect development teams or analysts to configure a setting on any cluster they create.

[2020-05-20 11:52] moraiMicrosoft opened #55258 "localStorage doesn't get update"
Hi!

We are using Application insights into our web application by adding the script to our HTML file.
When deleting the cookies and local storage from the browser data, only the cookies are set with the ai values. It used to also update the local storage with an equivalent value. Now, it set an empty value or doesn't set anything at all.
Looking into the docs didn't result in any function or para

[2020-05-20 11:54] syed-sohaib7 opened #55259 "Publshing real time inference endpoint via Azure ML SDK"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d019e5f-d971-b4f4-5fcf-2072ad30dec7
* Version Independent ID: 14a7de84-6cd6-ebeb-df6c-2d93dfadb742
* Content: [Tutorial: Deploy ML models with designer - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-designer-automobile-price-depl

[2020-05-20 11:55] laurentcardon opened #55260 "Vault and backed up VM subscription"
It looks only VM that are in the same subscription as the vault can be backed this way. This could be documented on this page and on the portal where the VM backup configuration blade on says "Virtual machines in the same region as vault and not protected by another vault are shown. Click to learn more on best practices to configure backup."

---
#### Document Details

⚠ *Do not edit this section.

[2020-05-20 12:00] syed-sohaib7 commented on #55259
There seems no way to **Deploy** a realtime pipeline endpoint via Azure ML SDK. Eventough a pipeline can be triggered to run in Realtime, its endpoint cannot be deployed, rendering the training of no use until the deployment is done via designer.

Please look into this.

[2020-05-20 12:04] muruganbalan commented on #14765
I also setup this now. I can see logs coming in and I can write queries. But the summary view and the dashboard does not work. Anyone having solution for this ?. Please appreciate your support.

[2020-05-20 12:05] shashishailaj commented on #55251
@karmicsynergy  Thank you for your feedback . We will investigate and update the thread.

[2020-05-20 12:06] shashishailaj commented on #55254
@suhaskumarvs Thank you for your feedback . We will investigate and update the thread.

[2020-05-20 12:19] DixitArora-MSFT commented on #55248
@jjindrich Thanks for reaching out. We will review and update as appropriate.

[2020-05-20 12:23] VikasPullagura-MSFT commented on #55174
@skynetrulz Thanks for adding insights.

[2020-05-20 12:24] Divya-CreateBytes commented on #49205
Is there now any proper documentation available to get the refreshed token?

[2020-05-20 12:25] VikasPullagura-MSFT commented on #55174
@khbafl
In order to successfully run `az aks get-credentials` with the `--admin` option, you need to have Cluster Admin Role privileges.

You shouldn't be delegating access to your cluster by granting Cluster Admin Role. Use of admin credentials should be limited to only when necessary.

As a general rule, you should be granting specified access to all AKS users by implementing RBAC using AAD iden

[2020-05-20 12:26] SadiqhAhmed-MSFT commented on #55260
@laurentcardon Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2020-05-20 12:26] VikasPullagura-MSFT commented on #53947
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-05-20 12:26] #53947 closed

[2020-05-20 12:26] VikasPullagura-MSFT commented on #53624
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-05-20 12:26] #53624 closed

[2020-05-20 12:30] amanmcse commented on #54918
@itsorch could you please give required details so that we can investigate and update the document?
Were you updating the profile picture on Azure Portal or anywhere else? Were you using Graph API or directly updating the picture on the portal?

[2020-05-20 12:31] eparizzi opened #55261 "Is GitHub really mandatory?"
We've just moved from on-premises TFS to Azure DevOps only to find out there are some new features only available when using a GitHub repository.
I tried creating an Azure Static Web App but it wouldn't let me without a GitHub repository... Is that really the only option?

Are you planning to support Azure DevOps repos?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-05-20 12:35] joheynek opened #55262 "Unexpire rights section is not clear"
The extended rights section to configure "unexpire password" is not very clear. This permission seems to be allocated to "Authenticated Users" in the domain already. I have deployed AADConnect and it create the MSOL account and delegate rights automatically and the permission here is not explicitly set for the MSOL account.

I have now had discussion with a customer (they are not using the MSOL ac

[2020-05-20 12:38] itsorch commented on #54918
With only User Administrator rights, I tried to update other users Photo in both Azure AD and the Office 365 Portal. Neither worked.

**We had to add Exchange Administrator rights for me to update them in the Office 365 portal.**

I still cannot update the photos in **Azure AD** and I now have the following rights:
Exchange Administrator
User Administrator
SharePoint Administrator
Teams Administra

[2020-05-20 12:40] CHEEKATLAPRADEEP-MSFT commented on #55150
@ZMon3y Looks like repository link is working as expected:

![image](https://user-images.githubusercontent.com/44426401/82446776-e7b6b600-9ac4-11ea-973e-b239b0e7ce38.png)

When I click on the repository it opens the webpage:

![image](https://user-images.githubusercontent.com/44426401/82446911-1f256280-9ac5-11ea-98e9-6d2d70bc7c04.png)

[2020-05-20 12:41] VikasPullagura-MSFT commented on #55231
@mimckitt Can you please add your comments on this.

[2020-05-20 12:48] amanmcse commented on #54918
@itsorch I just tested setting profile picture on Azure Portal using User Administrator account (not Global Admin) and didn't encounter any issue. I tested this on two different Azure Tenants and it worked on both tenants.

The issue appears to be specific to your tenant. If you would like to further investigate into it, I would suggest you to open a support case using Azure Portal.

[2020-05-20 12:55] JoeWirtley commented on #55261
I'm interested in knowing not just about Azure DevOps, but the story for deploying a static web app outside of GitHub/DevOps.

[2020-05-20 12:57] tfitzmac commented on #54558
@jespernohr - sorry for the delay in getting back to you. Yes, you can use any of the elements in common to get the input you need for an automation account. Then, you map the outputs to parameters in your template.

[2020-05-20 13:10] DOMZE opened #55263 "State that the extension cannot be installed if MDM user scope in Intune is set to ALL"
The MDM user scope in Intune needs to be set to NONE for the machine to be able to be AAD joined. Having it to ALL will fail with code
AzureSecureVMEnroll failed with 0x801c0001
AzureSecureVMJoinOperation: DeviceEnroller::AzureSecureVMEnroll failed 0x801c0001. AAD Join failed with status code -214564863

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-05-20 13:11] sagirajulokesh opened #55264 "ios push notification after sending it is showing sucess but devices are not getting"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-05-20 13:12] ederbond commented on #55216
I think it would be very important to have a sample that does this:

public override void RegisteredForRemoteNotifications(UIApplication application, NSData deviceToken)
{
    //DeviceToken = Regex.Replace(deviceToken.ToString(), "[^0-9a-zA-Z]+", "");
    //Replace the above line whick worked up to iOS12 with the code below:
    byte[] bytes = deviceToken.ToArray<byte>();
    string[] hexArray = b

[2020-05-20 13:15] SubhashVasarapu-MSFT commented on #55253
@EvanBasalik , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-20 13:19] manknewl opened #55265 "Reference GeoJson"
I think it would be valuable to reference a site like http://geojson.io/ to show that you can visually make geojsons

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95cf4eb2-2a86-582d-8160-a19cc2960c98
* Version Independent ID: 12970ae9-71ca-ee5d-aadf-15678a22f883
* Content: [Tutorial: Create a geofence and track device

[2020-05-20 13:19] SwathiDhanwada-MSFT commented on #54548
@sporter83 Apologies for misunderstanding your issue. I will assign the issue to content author for more insights.

@mumian  Can you please provide your insights on this issue ?

[2020-05-20 13:24] ewilson opened #55266 "But how do you delete?"
At the top deleting blobs is mentioned, but no example of that is given.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910d4732-bb08-d16a-a932-19c6bd1628c2
* Version Independent ID: af4358c7-cb5c-bdc7-6433-289f47dc186b
* Content: [Azure Blob storage output binding for Azure Functions](https://docs.microsoft.com/en-us/

[2020-05-20 13:26] abhirockzz opened #55267 "AOF coming soon?"
This page says AOF is coming soon, while this image (https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-how-to-premium-persistence#configure-aof-persistence) suggests that its in Preview.

It would good to reflect the accurate state of this feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d381e32

[2020-05-20 13:27] KrishnaG-MSFT commented on #55023
Hello @Aurel-Bruno, You might already are aware that [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-common-schema-definitions#monitoringservice--log-analytics) is the reference article that describes the common alert schema definitions for Azure Monitor, including those for webhooks, Azure Logic Apps, Azure Functions, and Azure Automation runbooks.

You may try by usin

[2020-05-20 13:28] DOMZE opened #55268 "State that sign-in for a user having user level MFA vs MFA through conditional policies will not work"
When a user MFA is set using the "user level MFA" from https://account.activedirectory.windowsazure.com/UserManagement/MultifactorVerification.aspx?BrandContextID=O365 versus conditional access policies MFA in the AAD (from the azure portal), the user cannot login to the machine. He needs to disable the user level MFA from the link above for it to work.

Also state that if a sign-in is done throug

[2020-05-20 13:29] ncagney commented on #55043
In looking into more with someone that knows our organisation; it looks like our domain is already tied to an unused Office 365 instance setup by someone who has left the organisation, which I need to figure out to get access to do anything with.  Thank you though for your help and our time looking into!

[2020-05-20 13:36] blueelvis commented on #39072
@dimitri-furman - Any idea when would this support be coming in the form of Portal Integration with PowerShell cmdlets and REST API integration to do bacpac imports?

[2020-05-20 13:36] souravmishra-msft commented on #55243
@glprasanna, As per the documentation the supported JIRA versions are:

1. JIRA Core and Software: 6.4 to 8.8.0
2. JIRA Service Desk 3.0.0 to 4.8.0
3. JIRA also supports 5.2. For more details, click Microsoft Azure Active Directory single sign-on for JIRA 5.2

Hope this helps. Do let us know if there are any more queries around this.

[2020-05-20 13:37] krisket commented on #55238
Disregard, my function.json was missing the route property so it was using the function name as the route.

[2020-05-20 13:37] #55238 closed

[2020-05-20 13:40] SubhashVasarapu-MSFT commented on #55145
@edufolios-matt , The command ```az network dns zone export``` typically exports a DNS zone file from Azure DNS. Here resource group is the required parameter for exporting and should be listed while you try using this command ```az network dns zone list```.

[2020-05-20 13:42] joheynek commented on #55262
Upon further investigation and verifying in my lab, found that Authenticated Users has the "unexpire password" permissions set by default. No need to define when configuring SSPR.

We have found that when this permission is removed from Authenticated users in root of domain, the password can be reset using SSPR, but then the AD account in Active Directory is set with "User must change password at

[2020-05-20 13:50] ravastra commented on #54523
Hi asifwaquar,

From the error message and the details provided, it looks like you have hit a Quota issue in your subscription for DS2 V2, hence the template which in turn tries to deploy these VMs for AKS cluster, has failed as it was not able to deploy the VMs. Each VM SKU has a specific number that can be provisioned for a subscription and a particular region. You can check https://docs.microso

[2020-05-20 13:53] CharmanderJieniJieni opened #55269 "Azure Key Vault data in transit"
I see Storage Account, VM and Data Lake data in transit information in this page, but for Key Vault it only mentions about HSM. Does Key Vault enforce encryption for data in transit as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16c7901b-497c-38bd-3615-defab17b572b
* Version Independent ID: 9855d796-3469-8be5-

[2020-05-20 13:53] CeciAc commented on #38339
#please-close

[2020-05-20 13:53] #38339 closed

[2020-05-20 14:04] vipulsparsh commented on #55038
@priyankareddy20  Most of the Azure services already detect and present you the option to choose from the workspaces(even from different subscription.) Azure security center and Azure sentinel can also use the workspaces which might be created in different subscription within same tenant.

You can also look for Azure Lighthouse which brings in the functionality for single pane of glass for multipl

[2020-05-20 14:05] femsulu commented on #55091
Hey @MGoedtel , it appears the embedded script needs revision. Should I reassign this to you or the feature owner?

[2020-05-20 14:06] mbender-ith opened #55270 ""Office 365 Business Premium" is outdated"
In the table above, there is a reference to a SKU named "Office 365 Business Premium". The name has changed, is now "
Microsoft 365 Business Standard"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb03e63-f543-d85b-9daf-16b4d1e13a60
* Version Independent ID: da9dcdd2-70d4-e08e-18f2-6e6a1489937a
* Content: [Azure Mult

[2020-05-20 14:12] #54843 closed

[2020-05-20 14:15] sathya69 commented on #28072
![image](https://user-images.githubusercontent.com/65667367/82456861-6534f300-9ad2-11ea-8366-1bd1f8ff9681.png)

Getting Your computer can't connect to Remote Desktop Gateway server when trying to connect from web client, as well as from desktop client.

[2020-05-20 14:16] npigit opened #55271 "Phone number"
Hello, When and how the security contact phone number is used (SMS, phone call, other)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a455a24-920e-f9f8-7a6f-60b5f4019acd
* Version Independent ID: e6a4d8e2-0ada-e535-810f-5eb19e45ee1e
* Content: [Provide security contact details in Azure Security Center](https://docs.m

[2020-05-20 14:21] CHEEKATLAPRADEEP-MSFT commented on #54852
@ramit-rulz  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-20 14:21] #54852 closed

[2020-05-20 14:23] davenull311 commented on #54866
@GiftA-MSFT, not exactly. I'd originally edited the code to accept 5 of my training docs. I ran 4-5 runs and it gave reasonable results. So I built out the code to include 30 documents, simply copying/pasting each document into the code appropriately. That's when it didn't work.

I considered that the SAS may need to be updated, but I've done that and it still leaves me with this same message. Is

[2020-05-20 14:25] SubhashVasarapu-MSFT commented on #54925
@sblair01 , Appreciate your patience. I don't see any issue with the doc. Could you please give a try again?

[2020-05-20 14:25] CHEEKATLAPRADEEP-MSFT commented on #54846
@alamoiker Specifically, this SAP table connector supports:
Copying data from an SAP table in:

- SAP ERP Central Component (SAP ECC) version 7.01 or later (in a recent SAP Support Package Stack released after 2015).
- SAP Business Warehouse (SAP BW) version 7.01 or later (in a recent SAP Support Package Stack released after 2015).
- SAP S/4HANA.
- Other products in SAP Business Suite version 7.01

[2020-05-20 14:25] #54846 closed

[2020-05-20 14:39] porrascarlos802018 opened #55272 "Express route implementation scenarios not shown."
Please clarify if this implementation is possible or not for customers with express route with no UDR. If possible , please consider updating the document with the instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d721081-0c1c-abf3-a398-386a718446d0
* Version Independent ID: 92b5504d-e25a-be94-e5e5-151083a7

[2020-05-20 14:41] SiliconOrchid opened #55273 "Three portals, not one"
"Sign in to LUIS portal" ... only a single link to the portal identified in this doc.

According to Azure Portal LUIS Quickstart, there should be three separate links:

* https://www.luis.ai/ - US Portal
* https://eu.luis.ai/ - Europe Portal
* https://au.luis.ai/ - Australia Portal

Impact:  For example, use the US link currently documented, we cannot see any previously created LUIS European resou

[2020-05-20 14:42] OffColour commented on #55180
Ignore me, I'm being an idiot :)

[2020-05-20 14:42] #55180 closed

[2020-05-20 14:42] VikasPullagura-MSFT commented on #55200
@ratanparai

The HPA will be unable to calculate CPU utilization unless a resource request exists for all pods that match the scale target.

The resource request is part of the container spec of both "Deployment" resources. To confirm the CPU resource requests exist, run `kubectl describe deployment azure-vote-front` and look under Pod Templates -> Containers -> [Container Name] -> Requests - ther

[2020-05-20 14:46] MarkusVi commented on #54141
I have staged an update to address this.

#please-close

[2020-05-20 14:46] #54141 closed

[2020-05-20 14:54] MGoedtel commented on #55091
@femsulu - Please assign to the feature owner and they can follow-up with us once they review the issues with script logic and remediate.  They can work with us to address via documentation post revisions to the script.  Thanks.

[2020-05-20 14:56] KjellZijlemaker commented on #54056
I am also interested in this. I can't seem to find a way to add users to the scaleset. Only by creating them within the UNIX filesystem

[2020-05-20 14:56] #54352 closed

[2020-05-20 14:59] ratanparai commented on #55200
@VikasPullagura-MSFT : Thanks for your reply.

The deployed service yaml is -

[code]
As you can see there is CPU resource already provided in the deployment. and the Horizontal pod scaler `yaml` file -

[code]

The matrics-server is working -

[code]

Also the output of `kubectl describe deployment azure-vote-front` as you asked -

[code]

[2020-05-20 15:07] gopi158 commented on #54398
@krackjack29 I use "apiVersion": "2020-03-01" and able to post, but it's not updating load balancer type to private.

Documantation correction for rest call remove the " from --uri section.
--uri  https://management.azure.com"/subscriptions/<subscription-id>/....  --> incorrect
--uri  https://management.azure.com/subscriptions/<subscription-id>/....  --> correct

[2020-05-20 15:09] BhargaviAnnadevara-MSFT commented on #55261
@eparizzi @JoeWirtley Thanks for expressing your interest in **Azure Static Web Apps**! This channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation.

Please open an issue with this repo: [Azure/static-web-apps](https://github.com/Azure/static-web-apps/issues) for any questions related to the Product or

[2020-05-20 15:10] Torxsmind opened #55274 "List Troubleshooting resources"
This page provides little value.  WE need to know the resources available and examples of filtering down to useful PIM informations.  I.E. Log analytics tables / Kusto (KQL) queries..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c986eb5c-680e-d358-e29e-4216bc198235
* Version Independent ID: 6dc430c9-4364-be06-90e0-ad

[2020-05-20 15:16] rolandnyamo opened #55275 "Managed Identity across tenants?"
Hello. Are we now saying that managed identities are supported across tenants? This directly contradicts the [FAQs on managed identities](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/known-issues#can-i-use-a-managed-identity-to-access-a-resource-in-a-different-directorytenant), which state that there's no cross-tenant support. Can you clarify?

---
###

[2020-05-20 15:18] CalOmnie commented on #52418
Turning off validation with the flag provided did the trick for me.

[2020-05-20 15:19] #55077 closed

[2020-05-20 15:28] femsulu commented on #54992
Hey @MGoedtel, Found this content on [using managed identities](https://docs.microsoft.com/en-us/azure/automation/automation-hybrid-runbook-worker#runbook-permissions-for-a-hybrid-runbook-worker) to authenticate Hybrid worker roles.
![image](https://user-images.githubusercontent.com/34327711/82465194-dc876a00-9a73-11ea-8ddb-2ac0e7768b38.png)

Do we have any content on storing and transferring secr

[2020-05-20 15:29] SaurabhSharma-MSFT commented on #55271
@npigit Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-20 15:30] SaurabhSharma-MSFT commented on #55269
@CharmanderJieniJieni Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-20 15:32] SaurabhSharma-MSFT commented on #55262
@joheynek Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-20 15:32] JTollas opened #55276 "Quickstart leaves out minimum necessary code"
Following this quickstart verbatim from start to finish yields a non-functional project that doesn't do anything, and returns the error ""Unable to extract accountName with provided information.
at getAccountNameFromUrl ..." followed by a stack trace. Also, it says Node.js is a prerequisite and the v12 SDK project doesn't/shouldn't use it.

---
#### Document Details

⚠ *Do not edit this section. I

[2020-05-20 15:37] DixitArora-MSFT commented on #55266
Hi @ewilson Thanks for reaching out. We will review and update as appropriate.

[2020-05-20 15:38] VikasPullagura-MSFT commented on #55142
@jenkins540 Doc is updated, changes will go live soon.

[2020-05-20 15:38] #55142 closed

[2020-05-20 15:38] Blackbaud-BenLambert commented on #54797
message probably intended for @Blackbaud-TommyVernieri

[2020-05-20 15:41] SumanthMarigowda-MSFT commented on #55234
@yqxiaxia Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-20 15:41] priyankareddy20 commented on #55038
Thank you

[2020-05-20 15:41] #55038 closed

[2020-05-20 15:41] Sdelausnay commented on #50985
Hi @asergaz,

Sorry again to ask a followup question, I was busy with some other stuff but now the request ended up back on my desk. We have a solutions which uses IoT Edge at a lot of devices which are located on remote places. So for the first two certificates we were looking for best practices to keep everything working:
1. It is almost impossible to physically update IoT Edge on every device.

[2020-05-20 15:42] priyankareddy20 opened #55277 "why security admin cannot apply the recommendations (quick fix)."
I would like to understand the table mentioned in the document.May i know why security admin cannot apply the recommendations (quick fix)).I need a proper understanding on this permissions who could do what

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c61e7b5-619a-fbd4-c7de-a1d04a33e61f
* Version Independent ID: c35

[2020-05-20 15:42] SaurabhSharma-MSFT commented on #55263
@DOMZE Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-20 15:43] msrini-MSFT commented on #55175
@ingokofler , az vmss list-instance-public-ips command is to display the Public IP associated to the Instance level VMSS not the private IPs.

[2020-05-20 15:43] SaurabhSharma-MSFT commented on #55268
@DOMZE Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-20 15:44] b3spoke opened #55278 "Custom Headers"
Is it possible to add custom headers to REST requests?

Specifically; I am looking to add an API token for authorization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dff7a38-a459-4eb9-22fe-d225eeac5e34
* Version Independent ID: c3e92211-d07e-edec-3a08-eb68a26859bb
* Content: [Define a RESTful technical profile in a

[2020-05-20 15:45] SaurabhSharma-MSFT commented on #55274
@Torxsmind Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-20 15:46] marc-gmail-towersap commented on #29172
I had the same issue, which was weird because none of the json files even referenced any storage accounts.  In my case, we were deploying parts of the datafactory, like a linkedservicea.json for a linked service named 'linkedservicea' or a pipeline named 'blahpipeline' with a json file named blahpipeline.json.  seems it was hunting for the json files to deploy and got weird with that storage accou

[2020-05-20 15:47] SaurabhSharma-MSFT commented on #55270
@mbender-ith Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-20 15:47] SumanthMarigowda-MSFT commented on #54757
@satyajittarai The PR request has been initiated .
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-20 15:47] #54757 closed

[2020-05-20 15:53] RCRumold opened #55279 "Quick syntax fixes"
Nice job, all!  I love copy/paste -- even more when it works well!  See the ??== below for quick syntax fixes.  Please keep it up, this is great!

// Use a distributed token cache by adding:
    services.AddSignIn(Configuration, "AzureAd");  ??== semicolon blocks extension method chaining
            .AddWebAppCallsProtectedWebApi(Configuration,
                                           initialSc

[2020-05-20 15:58] NavtejSaini-MSFT commented on #54797
@Blackbaud-BenLambert  Thanks for the correction. Yes it is for @Blackbaud-TommyVernieri

[2020-05-20 16:01] mimckitt commented on #55231
@tksh164 the scope is the same for availability sets. The idea of an AV set is the same in a AZ with the exception of it just spans across data centers instead of staying within the same one. I will update the doc to include that information now :)

[2020-05-20 16:11] MattHartz commented on #28956
Hi I am having this exact issue except i am using
FROM mcr.microsoft.com/dotnet/core/aspnet:3.1-nanoserver-1903

Any ideas?

[2020-05-20 16:15] shayannyc25 opened #55280 "input/output binding for azure sql server"
any plans to add input/output binding for azure sql server in java (and in the other supported languages)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d575e82-637b-32de-e64d-75adf4b6d976
* Version Independent ID: e346a973-fcb9-0c10-c1ed-17acd806ced9
* Content: [Triggers and bindings in Azure Functions](https://docs

[2020-05-20 16:15] MattHartz commented on #8724
Is this actually closed?

[2020-05-20 16:16] ecfan commented on #55275
Hi Rolandnyamo,

Thanks for reaching out! I reviewed this content, which appears to include miswording. I've made the wording more consistent with the managed identities documentation, and the update should go live today.

[2020-05-20 16:17] emacdona commented on #55080
Did you mean Kubernetes version? If so:
`kubectl version
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.4", GitCommit:"8d8aa39598534325ad77120c120a22b3a990b5ea", GitTreeState:"clean", BuildDate:"2020-03-12T23:41:24Z", GoVersion:"go1.14", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.10", GitCommit:"059c666b8d0cc

[2020-05-20 16:23] lightw8 commented on #52726
Where can I review proposals/plans for async Linq, if they exist? Can we utilize Rx?

[2020-05-20 16:24] MarkusVi commented on #46467
Hi @wboevink , the answer you are referring to is still correct.

#please-close

[2020-05-20 16:24] #46467 closed

[2020-05-20 16:24] tksh164 commented on #55231
Thank you @mimckitt

[2020-05-20 16:27] SumanthMarigowda-MSFT commented on #54849
@artisticcheese  If you add a new server to the sync group, the metadata (stub files) are first downloaded to the server. Then the files are downloaded to the server based on the cloud tiering free space policy setting.

    example: if the cloud tiering free space policy setting is 50% on a 1TiB volume, we will download 500GiB to the new server. The rest of the files will remain tiered

We will n

[2020-05-20 16:27] #54849 closed

[2020-05-20 16:30] djsly commented on #55080
that's good enough. `v1.15.10` is your Kubernetes version you selected when you installed AKS.

how many disks are getting detached when the node scales down ?

https://docs.microsoft.com/en-us/azure/aks/troubleshooting#large-number-of-azure-disks-causes-slow-attachdetach

HEre's a List of known issues with version fix and also existing issues.

https://github.com/andyzhangx/demo/blob/master/issue

[2020-05-20 16:34] greggbjensen commented on #54871
@dbreshears I will take a look at that solution and respond in the other issue.

[2020-05-20 16:35] webash opened #55281 ""have an existent tenant" - perhaps you mean "existing tenant"?"
Not sure the language used in the title makes the best sense. Also differs from the navigation entry. Might make sense to unify and use clearer language.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4244527f-88c0-8b3a-c09e-2dfe3260f6ad
* Version Independent ID: dc72e6c5-2535-0974-d9dd-aa5205fdf274
* Content: [Azure A

[2020-05-20 16:39] markjbrown commented on #55108
#please-close

[2020-05-20 16:39] #55108 closed

[2020-05-20 16:39] kcnighsurf opened #55282 "How do you automate snapshots?"
Please include instructions on how to setup automatic snapshots. SysAdmin's can't manually go in daily/hrly creating manual snapshots of all Azure FileShares.
https://docs.microsoft.com/en-us/azure/storage/files/storage-snapshots-files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195dc3fb-f772-2bd7-9238-cd7c3465ae62

[2020-05-20 16:39] #29449 closed

[2020-05-20 16:41] NavtejSaini-MSFT commented on #55191
@alanrenmsft The document has been corrected and we are going ahead and closing this thread.
![image](https://user-images.githubusercontent.com/52257742/82473165-2d5c8a00-9a97-11ea-8d91-faeaf06c7059.png)

[2020-05-20 16:41] #55191 closed

[2020-05-20 16:42] SteveLasker commented on #55033
Hi folks,
We are working through various solutions to assure we can maintain the highest level of security when enabling cross service access to resources in a VNet.
We do not yet have an ETA.
Alternative options include security scanning solutions that can be stood up within the VNet like AquaSec, Twistlock/Palto Alto Networks, Claire and other container scanning and runtime security solutions.
S

[2020-05-20 16:43] jurgen-j opened #55283 "Agent Provisioning Fails"
The built in Qualys agent fails to provision on virtual machines that are behind an internal standard load balancer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 747a2c52-c59c-dedc-9c72-6b6352ea2cab
* Version Independent ID: 07e64d3e-26da-be39-de53-6e259c90545f
* Content: [Built-in vulnerability scanner in Azure Secu

[2020-05-20 16:49] emacdona commented on #55080
So, I'm running 25 StatefulSets, each with one Replica -- with a PVC connecting to a PV backed by an AzureDisk. The NodePool starts with 2 nodes and the Cluster Autoscaler is configured with a min of 2 nodes and max of 5. Just giving some context for the next statement...

When I deploy the app, it scales up to 4 nodes, so I'm guessing it puts either 6 or 7 Pods per Node. So, under the 10 volume t

[2020-05-20 16:50] NavtejSaini-MSFT commented on #55267
@abhirockzz We are checking this and will get back to you.

[2020-05-20 16:52] suhas9844 opened #55284 "Rest API for creating new edge device"
Is there any rest API endpoint for creating new IoT Edge device ?
We need to create a new edge device as a part of automation and since there is no az cli support for raspberry pi we will need the rest API...

Thanks

[2020-05-20 16:52] suhas9844 opened #55285 "Rest API for creating IoT Edge Device"
Is there any rest API endpoint for creating new IoT Edge device ?
We need to create a new edge device as a part of automation and since there is no az cli support for raspberry pi we will need the rest API...

Thanks

[2020-05-20 16:53] shivanissambare commented on #54455
Hi @GiftA-MSFT
This functionality is in preview, it lacks fit-n-finish
We are working towards getting our serverless alternative running seamlessly.

[2020-05-20 16:59] CeciAc opened #55286 "Cost"
The comments below were machine-translated

@sonychen59 commented on [Wed May 20 2020](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/618)

1. By following the above steps, will it be free for 12 months?
2. Step by step, the subsequent disk network ... the settings are all the default values? Will there be an additional excess charge after one month?

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs

[2020-05-20 17:05] #54455 closed

[2020-05-20 17:09] artisticcheese commented on #54849
@SumanthMarigowda-MSFT When files are downloaded up to clout tiering settings, does it take into consideration for last-modified/accessed setting as well or it's will just blindly download all files up to free tier setting?

[2020-05-20 17:09] emacdona commented on #55080
Actually, the more I look at that workaround, the more it looks like it will prevent the actual error message from happening -- but do nothing to shorten the amount of time required to move a pod from one node to another.

Sorry, I'm in a state where I can't test that theory at the moment. When I do get a chance to test it, I'll report back :-) (Probably tomorrow morning).

[2020-05-20 17:12] MarileeTurscak-MSFT commented on #55279
@RCRumold thanks for this detailed feedback. Looking into this now.

[2020-05-20 17:14] MGoedtel commented on #54992
I have something rough that is in my backlog related to this to configure using the Run As certificate on a HRW by exporting the certificate from Azure, importing into the local cert store on the machine, and use Get-AutomationCertificate to then use when authenticating against Azure in a runbook running on HRW outside of Azure.

You create the run as connection & export the certificate to hybrid

[2020-05-20 17:14] shivanissambare commented on #55239
@RohitMungi-MSFT
It should be able to view from the portal.
We had a similar issue : https://github.com/MicrosoftDocs/azure-docs/issues/53430
I believe it's a bug, they can open a support request from portal if they need more direct assistance.
Please note that this functionality is still under preview.

[2020-05-20 17:23] himanshusinha-msft commented on #52150
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-05-20 17:23] #52150 closed

[2020-05-20 17:24] himanshusinha-msft commented on #52240
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-05-20 17:24] himanshusinha-msft commented on #52240
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-05-20 17:24] #52240 closed

[2020-05-20 17:26] dimitri-furman commented on #39072
@blueelvis - No immediate plans to enable bacpac import/export in the portal or via PowerShell/REST API for Hyperscale databases. The bacpac technology would not work well for larger databases likely to be found in the Hyperscale service tier.

In addition to the current workaround using SqlPackage v18.4 or later on a VM, you can import smaller databases in a non-Hyperscale service tier, and then

[2020-05-20 17:27] himanshusinha-msft commented on #54564
We have assigned the issue to the content author and they will be able to help on this .

[2020-05-20 17:32] vipulsparsh commented on #55215
@danmyhre  Can you please look into this and update the document as needed.

[2020-05-20 17:41] kirikintha commented on #54530
Hey @djpmsft - My apologies, Create or Update works just fine, sorry I guess I was not clear enough - I thought I was referencing that in my feedback link. My bad!

https://github.com/Microsoft/azure-docs/blob/master/articles/data-factory/continuous-integration-deployment.md#-sample-pre--and-post-deployment-script - When you create resource locks this script fails in the CI pipeline. When you turn

[2020-05-20 17:44] danmyhre commented on #55215
This needs to be assigned to the PG.  I am looking for the information as a customer.

[2020-05-20 17:45] YassineSOUABNI opened #55287 "add a link for RequestAuthnContext to another Microsoft documentation page"
Dear,
please add the following link as a "for more details" in the "RequestAuthnContext" section :
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/troubleshooting/ad-fs-tshoot-azure
or more precisely this sub-page
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/troubleshooting/ad-fs-tshoot-azure#you-are-receiving-an-unknown-auth-method-error

since it provides the bes

[2020-05-20 17:45] khbafl commented on #55174
Ok I see, so to prevent the users from using the "--admin" argument to bypass AD Integration, we have to give them the "Azure Kubernetes Service Cluster User Role" IAM Role on the AKS ressource. Thank you,

[2020-05-20 17:46] vijaybasava commented on #54304
Is standard LB will still use/have a Public IP the same as the AKS nodes? when you deploy Private Cluster

[2020-05-20 17:52] emacdona opened #55288 "How to pass Startup Parameters to Cluster AutoScaler"
On this page, you say:
"The cluster autoscaler uses startup parameters for things like time intervals between scale events and resource thresholds. For more information on what parameters the cluster autoscaler uses, see What are the cluster autoscaler parameters?."

And then link to a page in the Kubernetes documentation that lists what dozens of Startup Parameters (I counted 49), implying that w

[2020-05-20 17:56] himanshusinha-msft commented on #54752
@I0105 : In the example which you pointed . the source is SQL and the columns are searchable with a SQL query ( as called out in the doc)  and so we are using the Lookup and foreach and copy activity . When we have files in the ADLS  the schema is not queryable as in TSQL . One thing which you can try out to dump all the data in SQL ( ADF will  create a table if it not exists ) and the apply the s

[2020-05-20 17:56] #54752 closed

[2020-05-20 17:58] ZMon3y commented on #55150
I get a github 404. Notice it says private in your image
![image](https://user-images.githubusercontent.com/9386488/82480549-32b6d600-9a91-11ea-82de-b660c7e07c1f.png)

[2020-05-20 18:03] alb-pt commented on #54422
I'm also interested in the answer to this.

[2020-05-20 18:05] vipulsparsh commented on #55215
@curtand : Can you please look into this and update the document.

[2020-05-20 18:09] markjbrown commented on #55120
This is a known limitation in our emulator. We are working on adding parity with the service for large partition key support in a future version of the emulator.

Keep an eye on our [emulator release notes](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator-release-notes) page for when we release support for this. Should be in our next emulator version.

Thanks.

#please-close

[2020-05-20 18:09] #55120 closed

[2020-05-20 18:10] challengelogic opened #55289 "Azure File Sync over ExpressRoute"
How is Azure File Sync configured to traverse / tunnel over an ExpressRoute connection. Is there some further detailed advice on how to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02c9ebf2-ed06-9058-2efa-a6d87e775913
* Version Independent ID: 5a868afb-d5ca-d478-24f5-88513c755429
* Content: [Azure Files netw

[2020-05-20 18:15] BuddhaBuddy1 commented on #48148
FontSize is not listed in step 5 where the key/value pairs are created, so someone following the tutorial exactly will get a zero for FontSize.

[2020-05-20 18:21] MarileeTurscak-MSFT commented on #55279
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/115883

[2020-05-20 18:21] #55279 closed

[2020-05-20 18:27] SaurabhSharma-MSFT commented on #55043
@ncagney Anytime !!.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-20 18:27] #55043 closed

[2020-05-20 18:27] SaurabhSharma-MSFT commented on #55005
@Vdevtest We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-20 18:27] #55005 closed

[2020-05-20 18:27] mgblythe commented on #53942
Thanks @dsv591, I added instructions for Firefox. #please-close

[2020-05-20 18:27] #53942 closed

[2020-05-20 18:29] SaurabhSharma-MSFT commented on #55283
@jurgen-j Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-20 18:29] dutsmiller commented on #51954
I'll add another comment.  When provisioning an AKS cluster with the azurerm terraform provider, choosing "Standard_D2as_v4" produces no errors.  The AKS cluster launches and seems functional, however it will refuse to auto-scale up.  It would be preferable if the Azure API threw and error rather than provide a half-functional AKS implementation.

[2020-05-20 18:30] SaurabhSharma-MSFT commented on #55281
@webash Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-20 18:31] SaurabhSharma-MSFT commented on #55287
@YassineSOUABNI Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-20 18:31] dsv591 opened #55290 "Header is missing Firefox now that it has been added"
"Follow the steps in this article for the developer tools in the browser you use: Google Chrome or Microsoft Edge (Chromium), Microsoft Edge (EdgeHTML), or Apple Safari."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13f9ad7f-cf04-3030-9f71-511e5d603713
* Version Independent ID: e43fa6b7-536d-1bca-b2ad-4223e2a18101
*

[2020-05-20 18:31] SaurabhSharma-MSFT commented on #55278
@b3spoke Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-20 18:33] AmitavaHazra commented on #54699
This issue has been resolved. Kindly close this case.

[2020-05-20 18:36] boreys opened #55291 "limitation"
Is there any limitation for custom handler? can it receive 2 Gb file upload from client? can it run longer than 10 minutes? what version of Function App support this custom handler?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7381b091-aaae-a2cd-7bfd-8c4aa46fae76
* Version Independent ID: cca1bd5f-311f-c738-7226-b492

[2020-05-20 18:50] ecfan commented on #53395
@divyaswarnkar, any feedback on @srasp's doc update suggestion?

[2020-05-20 18:56] Meryg-19 opened #55292 "Cannot make batch dataset run in Newer Version of LUIS (V3)"
When I run the dataset file, I get the error "Bad Argument: LastTestDateTime cannot be null or empty".
I have followed the syntax provided in the Batch syntax template:
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-batch-test#common-errors-importing-a-batch
but it doesn't work.
It worked fine in LUIS v2.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-05-20 18:58] NaomiN opened #55293 "Minor typo noticed"
CLR
A managed instance can't access file shares and Windows folders, so the following constraints apply:

Only CREATE ASSEMBLY FROM BINARY is supported. See CREATE ASSEM BLY FROM BINARY. -- Typo in this line
CREATE ASSEMBLY FROM FILE isn't supported. See CREATE ASSEMBLY FROM FILE.
ALTER ASSEMBLY can't reference files. See ALTER ASSEMBLY.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-05-20 19:05] daviburg commented on #52103
Yes, SAP's WE60 IDOC documentation generates the XML schema as per SAP which we refer to earlier in this thread as 'plain' SAP IDOC XML. We don't support those yet for trigger via the SAP Connector. You may use a regular Logic HTTP request trigger with SAP's IDOC XML over HTTP capability in the meantime (not IDOC over RFC), or use the transform workaround suggested after IDOC over RFC to SAP Conne

[2020-05-20 19:07] BuddhaBuddy1 opened #55294 "Please specify that this method does not work on Singletons"
I had assumed that the redirection of IOptionsSnapshot was for the dynamic reloading, not just for strong typing. It would be nice if Azure.AppConfiguration used a custom implementation of IOptionsSnapshot that checked caching on the call to Value. For now Singletons must stick to injecting IConfiguration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-05-20 19:07] PeterCLu commented on #55025
Hi @dotnetprofessional , thanks for your report. This appears to be a product-related issue. This channel is intended for documentation-based issues. The best way to get help for this issue is to create a support ticket:

1. Navigate to the Azure portal.
2. Select the support question mark (?).\
3. Select Help + support
4. Select New support request

![image](https://user-images.githubusercontent.

[2020-05-20 19:07] #55025 closed

[2020-05-20 19:09] PeterCLu commented on #53616
Hi @PapillonZ, since we haven't heard back from you in a little while, I'm going to proceed to #please-close this issue. Since this appears to be a product-related issue rather than a documentation-based issue, you can create a support ticket if you are still experiencing the issue.

1. Navigate to the Azure portal.
2. Select the support question mark (?).
3. Select Help + support
4Select New supp

[2020-05-20 19:09] #53616 closed

[2020-05-20 19:13] tamram commented on #52756
@RonnieQuan - There's no way to list SAS tokens. The REST operations are misnamed (I will look into getting that corrected). These operations create a SAS token based on parameters that you pass in:

- [List Account SAS](https://docs.microsoft.com/rest/api/storagerp/storageaccounts/listaccountsas)
- [List Service SAS](https://docs.microsoft.com/rest/api/storagerp/storageaccounts/listservicesas)

A

[2020-05-20 19:13] #52756 closed

[2020-05-20 19:19] vipulsparsh commented on #55251
@karmicsynergy Yes the rule still applies for guest users from other office 365 tenant.
They will also follow the 1:5 licenses ratio.

[2020-05-20 19:20] tamram commented on #43837
@sondretj - hopefully the response above resolved your issue. Since we haven't heard back from you, we are closing this issue. Let us know if you have further questions.

#please-close

[2020-05-20 19:20] #43837 closed

[2020-05-20 19:21] hpsin commented on #49205
@Divya-CreateBytes - getting an RT is documented in all of the protocol docs that involve an RT. Is there something in particular you need with respect to redeeming them for a new RT?

[2020-05-20 19:22] PeterCLu commented on #55146
@rquintino, you are correct. We currently advise a new workspace for each project.

[2020-05-20 19:32] SaurabhSharma-MSFT commented on #55271
@npigit As mentioned in another [GitHub issue](https://github.com/MicrosoftDocs/azure-docs/issues/50545) the phone number is not used today and you will not be called about security events. This email notification settings page will shortly be changed, and the phone number field will be removed.

[2020-05-20 19:35] zgirod opened #55295 "Concurrency section is confusing"
It appears the Concurrency section only applies to azure functions hosted inside of an app service plan opposed to a consumption model.  However it is not noted anywhere and is very confusing.  It should be clear how to handle concurrency in a consumption as well as app service plan model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-05-20 19:43] dcurwin commented on #55260
Thank you for the suggestion. The document has been updated.

#please-close

[2020-05-20 19:43] #55260 closed

[2020-05-20 19:44] citykidz commented on #52315
Yep, this doesn't work when trying to work from home.  My Mac firewall is turned OFF, and I have followed all of the above instructions, but the connection to the Azure share times out (in both the GUI and in the Terminal window).

[2020-05-20 19:48] mumian commented on #49827
I have added listkeyvalue to https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-resource#list

[2020-05-20 19:50] SaurabhSharma-MSFT commented on #55270
@mbender-ith The PR for the fix has been created and submitted for author's approval. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-05-20 19:50] #55270 closed

[2020-05-20 19:52] garrett-wood opened #55296 "Add Server Core Support to comparison Table"
I'm unclear on whether Cloud Provisioning supports installation on a Domain Controller running Server Core.

Please add Server Core support to the comparison table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78df7264-65d5-2d1d-6ab6-fba278b6d83f
* Version Independent ID: c432ef7b-c2ba-50d9-2d54-0fdc3aebe7d4
* Conten

[2020-05-20 19:55] RonnieQuan opened #55297 "Traffic Manger Private Link"
Is traffic manager exposed as private endpoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1c7175-398e-84e4-93d0-282cfc432081
* Version Independent ID: 90f09e29-d711-2583-b705-bafbe29c7416
* Content: [Azure Traffic Manager](https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-overview)
* Content

[2020-05-20 19:57] RonnieQuan opened #55298 "An endpoint is any Internet-facing service hosted inside or outside of Azure"
Can traffic manager distribute traffic to private link app service (private endpoint, instead of internet facing)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1c7175-398e-84e4-93d0-282cfc432081
* Version Independent ID: 90f09e29-d711-2583-b705-bafbe29c7416
* Content: [Azure Traffic Manager](https://docs.microsoft.

[2020-05-20 19:59] SaurabhSharma-MSFT commented on #55281
@webash The PR for the fix has been created and submitted for author's approval. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-05-20 19:59] #55281 closed

[2020-05-20 19:59] SaurabhSharma-MSFT commented on #55176
@svangeti We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-20 19:59] #55176 closed

[2020-05-20 20:00] ju-shim commented on #51256
Hello @carlomarchesi78 -

We looked into the issue and turns out it was not a problem with documentation, but it was a bug within Azure Portal. The updates to fix these mistakes are slowly rolling out by region and you may already see this remedied the next time you look.

Standard_E64as_v4 is in fact **512GB RAM**.

Thank you for bringing this to our attention. Have a good day!

[2020-05-20 20:00] ju-shim commented on #51256
#please-close

[2020-05-20 20:00] #51256 closed

[2020-05-20 20:04] ju-shim commented on #53859
Hello @janecosham -

Thank you for bringing this to our attention. I will look into updating our documents to make this more clear.

[2020-05-20 20:08] VitaliyKurokhtin commented on #53978
@ysabih, could you share more details about your test setup and numbers you observed. Storing to cache is not synchronous operation, but 100ms is way more than enough for that to happen.

[2020-05-20 20:20] zhenlan commented on #49827
@mumian great. Can we update the document this issue is opened against with a few sentences and the link you have above to explain how the list* API is used in the sample?

BTW, there is a typo in your linked document: *Microsoft.AppConfiguration]*

[2020-05-20 20:23] Absoblogginlutely commented on #13157
I would be interested to see an option to push out an upgrade. After an audit today I have 22 servers running 1.4.18.0 and only 2 that are running 1.5.20.0. The one problem server that caused me to investigate was also running 1.4.18.0, has no issues hitting the Office365 urls and the upgrade was set to enabled. Running the install interactively worked successfully.

Would be nice to just send a c

[2020-05-20 20:32] deanhtid commented on #52181
Yep having exactly the same issue. File name keeps updating, rules out any sort of script to maintain a current list of ips

[2020-05-20 20:35] Tirumala-K opened #55299 "Weird error with the unsupported voice name"
I am passing the "en-US-AriaNueral" as voice name but the error saying JessaNueral. I am not getting the result in this case.

![image](https://user-images.githubusercontent.com/26627790/82494692-f9459100-9ab7-11ea-82d9-6b3976e4ab73.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aae85d9f-b4f4-fc4d-cb0f-0fc4a1d4e7c

[2020-05-20 20:38] mike-urnun-msft commented on #55040
Looks like @spelluru has taken care of it. Thank you for reporting this issue and helping us drive improvement towards MS Docs, @DDFXulei!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-20 20:38] #55040 closed

[2020-05-20 20:41] femsulu commented on #55255
Hello @BenWhite27  - really appreciate the suggestion. We will review with the content owner to see how best revise the content based on your feedback.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

@Stevendotwang - Fyi

[2020-05-20 20:41] #55255 closed

[2020-05-20 20:44] SatishBoddu-MSFT commented on #55265
@manknewl Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-20 20:44] lisaguthrie commented on #55111
Yes, it would be good to have some Python and also Node.js examples, using the Azure SDK. I've added this to our documentation backlog.

[2020-05-20 20:53] rquintino commented on #55146
hi @PeterCLu thanks for the feedback!
closed for me :)
best!

[2020-05-20 20:53] #55146 closed

[2020-05-20 20:58] James-Gleason commented on #12831
We're going on 2 years from when this was initially mentioned -- it doesn't seem like there has been any additional granularity made available for restricting access at the KB level.  This makes distributing KB management to internal business lines a challenge and leaves us with either a "free for all" of trusted individuals, or separate resource groups and services for each business unit.  Neithe

[2020-05-20 21:00] porrascarlos802018 commented on #55272
"a UDR to an NVA would be a possibility in this scenario. However, one thing  is that aks must set the OutboundType to UDR at the time of cluster creation, it can't be changed after it's created."

[2020-05-20 21:03] SaurabhSharma-MSFT commented on #54585
@tx5westmt Could you please try enabling [converged registration for MFA](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-registration-mfa-sspr-combined).
Also, can you please send your fiddler trace of this issue over an email to azcommunity[dot]microsoft[dot]com.
Please provide your Subscription Id, tenant id, correlation ID and timestamp with this GitHub issue lin

[2020-05-20 21:07] msmbaldwin commented on #54363
Hi, @franklinpierre. We have added the --volume-type param to these commands. The section now reads: `az vm encryption enable --resource-group "MyVirtualMachineResourceGroup" --name "MySecureVM" --disk-encryption-keyvault "MySecureVault" --volume-type "data" --encrypt-format-all`

Thank you! #please-close

[2020-05-20 21:07] #54363 closed

[2020-05-20 21:12] SatishBoddu-MSFT commented on #55265
@manknewl I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-05-20 21:18] msmbaldwin commented on #30846
Hi, @sampath2121 and @arsalanzpro. We have added the following, after the original step to run Set-AzVMDiskEncryptionExtension cmdlet with -EncryptFormatAll:

$KEKKeyVault = Get-AzKeyVault -VaultName "MyKEKVault" -ResourceGroupName "MySecureGroup"
$KEK = Get-AzKeyVaultKey -VaultName "myKEKVault" -KeyName "myKEKName"

Thank you! #please-close

[2020-05-20 21:18] #30846 closed

[2020-05-20 21:22] kosinsky opened #55300 "https://<clustername>-int.azurehdinsight.net works without need to manually configure DNS and deal with IPs"
For HDInisght clusters gateway has internal endpoint https://&lt;clustername&gt;-int.azurehdinsight.net that resolves to private ip range.

That simplifies steps a lot
Also it will be nice if UI when selecting cluster from a subscription will be able to use  &lt;clustername&gt;-int

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-05-20 21:24] ecfan commented on #55275
#assign @ecfan

@PramodValavala-MSFT or @mike-urnun-msft: Please tag this issue with the "doc-feedback" label?

[2020-05-20 21:25] NavtejSaini-MSFT commented on #55293
@NaomiN Thanks for the feedback. We are working to correct this.

[2020-05-20 21:27] BharathNimmala-MSFT commented on #55290
@dsv591 Thank you for bringing this to our notice, assigning this issue to our document author  @mgblythe to further evaluate the feedback and update the document accordingly.

[2020-05-20 21:29] norman-v opened #55301 "How to disconnect git"
After disconnecting git from the azure function app through the deployment center, as a Contributor, I am unable to add functions manually. What is the proper way to revert or cancel this continuous deployment setting? This should be documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a34424e-6a23-5517-575

[2020-05-20 21:31] greendx opened #55302 "Issue with new automation account default options"
Following along I just ran into an issue with this step while creating a new automation account:

"All other options are automatically populated based on the Log Analytics workspace selected. These options cannot be modified. An Azure Run As account is the default authentication method for the runbooks included in this solution. After you click OK, the configuration options are validated and the A

[2020-05-20 21:34] SaurabhSharma-MSFT commented on #55283
@jurgen-j Are you getting any errors ? can you please provide screenshots ?

[2020-05-20 21:36] anfeldma-ms commented on #55189
Resolved in PR which will be published in the next cycle

https://github.com/MicrosoftDocs/azure-docs-pr/pull/115939