[2018-10-23 16:23] YutongTie-MSFT commented on #17420
@saurabhrajguru Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-23 16:24] YutongTie-MSFT commented on #17412
@Nitesh097 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-23 16:28] YutongTie-MSFT commented on #16855
@mosharafMS We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-23 16:28] #16855 closed

[2018-10-23 16:29] YutongTie-MSFT commented on #16390
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-23 16:29] #16390 closed

[2018-10-23 16:29] YutongTie-MSFT commented on #16094
@andrewatfornax We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-23 16:29] #16094 closed

[2018-10-23 16:29] Alberto-Vega-MSFT commented on #17423
@pmdci Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-23 16:30] YutongTie-MSFT commented on #16026
@basavaraj64 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-23 16:30] #16026 closed

[2018-10-23 16:31] YutongTie-MSFT commented on #15690
@JonBoice We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-23 16:31] #15690 closed

[2018-10-23 16:31] YutongTie-MSFT commented on #15033
@ran-ten21 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-23 16:31] #15033 closed

[2018-10-23 16:32] YutongTie-MSFT commented on #14269
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-23 16:32] #14269 closed

[2018-10-23 16:32] YutongTie-MSFT commented on #13190
@Ayanmullick We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-23 16:32] #13190 closed

[2018-10-23 16:33] MGoedtel commented on #16795
@jason-j-MSFT - reviewing now.

[2018-10-23 16:33] YutongTie-MSFT commented on #12309
@raviteja59 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-23 16:33] #12309 closed

[2018-10-23 16:33] YutongTie-MSFT commented on #12162
@martinffoster We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-23 16:33] #12162 closed

[2018-10-23 16:33] YutongTie-MSFT commented on #12069
@theboymango We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-23 16:33] #12069 closed

[2018-10-23 16:33] YutongTie-MSFT commented on #12005
@bmilbauer We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-23 16:33] #12005 closed

[2018-10-23 16:34] TylerMSFT commented on #17381
I have fixed this and it should go live today. Thanks for catching it :-)

[2018-10-23 16:36] Karishma-Tiwari-MSFT commented on #15737
@panoschatz Thanks for sharing the update.

[2018-10-23 16:36] #17358 closed

[2018-10-23 16:36] #17381 closed

[2018-10-23 16:38] #17132 closed

[2018-10-23 16:40] xtianus79 opened #17429 "Why do you have to select Node.js for the table creation in easy tables?"
here is the line from above?  Under 2. Create a table API, select Node.js for Backend language.

Why is this the case?  What if you want to use the asp.net c#.  I've tried using this and it fails without an explanation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4467b7b-c082-73d2-5626-038fb12d25a3
* Version Indepe

[2018-10-23 16:40] MarileeTurscak-MSFT commented on #17333
It might be a misleading error. Is it working now then or are you still getting an error?

[2018-10-23 16:42] Karishma-Tiwari-MSFT commented on #17424
Thanks for the question. We are currently investigating and will update you shortly.

[2018-10-23 16:43] sergaz-msft commented on #17059
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-23 16:43] #17059 closed

[2018-10-23 16:44] mike-urnun-msft commented on #17420
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93a7a08f-2b74-eece-b263-03ab211cf805
* Version Independent ID: 73bbdc61-d007-687f-9f78-a0e5a9de1f28
* Content: [Integrate API Management with Service Fabric in Azure](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-deploy-api-management)
* Cont

[2018-10-23 16:45] MicahMcKittrick-MSFT commented on #17417
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-23 16:45] cronq opened #17430 "Missing Azure MFA settings"
This page is missing settings: account lockout, notifications, and OATH tokens (https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-methods#oath-hardware-tokens-public-preview)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Indepen

[2018-10-23 16:47] MarileeTurscak-MSFT commented on #17426
@martinagrom
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-23 16:48] Karishma-Tiwari-MSFT commented on #17409
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-23 16:51] sergaz-msft commented on #17422
Hello @swpalmer it worked well for me. What browser did you test with?
Thanks!

[2018-10-23 16:53] munozrickT4S opened #17431 "Mention Application Security Groups as well in Filter network traffic section"
The Filter section covers NSGs and Network Security Appliances. It should also mention Application Security Groups (or mention "Security Groups" generally with NSG and ASGs as the two mechanisms.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f03f79a2-923f-3e1a-5e8f-8ce1f5913a56
* Version Independent ID: 6330e3e6-d903

[2018-10-23 16:55] CeciAc opened #17432 "Reduntat tag"
@Adaste154 commented on [Tue Oct 23 2018](https://github.com/MicrosoftDocs/azure-docs.pl-pl/issues/42)

 &lt;span style="background-color: yellow"&gt;

---
#### Szczegóły dokumentu

⚠ *Nie edytuj tej sekcji. Jest ona wymagana dla docs.microsoft.com ➟ Dołączanie problemu w usłudze GitHub.*

* ID: 10ac4344-e048-21ab-7f4b-cdf806070780
* Version Independent ID: dbdcd1b9-86ef-75ab-5002-b5793b0292e2
* C

[2018-10-23 16:57] IrakliLomidze opened #17433 "Can I left that VM is Logged mode ?"
Dear Colleges

Does Windows Client's VM allow us to left Virtual machines in logged state ?
Example: I have install and run rendering desktop software and want to back after several hour but want to shut down my laptop.
Is it possible to connect to that VM later (without new loggin procedure) that logged VM as Always running PC) ?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-10-23 17:00] mekenthompson opened #17434 "Powershell script is missing"
https://github.com/Microsoft/vsts-rm-documentation/blob/master/Azure/SPNCreation.ps1 - This 404s now.

Also, can we provide instructions to create this SP via CLI, or is it only able to be created with this PS script for Azure Gov.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11a73dad-9d92-d517-eeae-e730700b97de
* Ve

[2018-10-23 17:01] Anmolgan81 opened #17435 "Key vault containg secrets and keys dont move"
Key vault has some limitations, key vault containg encrypted vms secretes and key dont supports move, this document has to update about that, its miselding our customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
*

[2018-10-23 17:01] lianetoohey opened #17436 "Nested arrays of objects are missing"
While I can successfully connect to one of my CosmosDB collections, another is not working correctly. The Document in question includes a request object. Within request there should be multiple fields. When I sample my collection in Schema Editor, the resulting schema is missing any array of objects (or anything that includes an array of objects) that should be included under the request object. B

[2018-10-23 17:02] iainfoulds commented on #17132
The follow up quick, the doc is now live - https://docs.microsoft.com/en-us/azure/container-instances/container-instances-managed-identity

If you have any further questions around using managed identities with a container instance, feel free to open an issue against that doc to keep the tracking of the issue clear.

[2018-10-23 17:02] olena-microsoft commented on #17283
Hi @rainabba, sorry for the frustration. We are actively working on a backup/recovery feature for Android at the moment. For now, we only support iOS.

[2018-10-23 17:04] jason-j-MSFT commented on #17403
@chilch Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-23 17:05] mike-urnun-msft commented on #17384
Hi @ioamnesia Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-23 17:06] Mike-Ubezzi-MSFT commented on #17425
@softwarecraft Thank you very much for your detailed feedback. I have assigned this to the content author to evaluate and update as appropriate.

[2018-10-23 17:06] CeciAc commented on #17432
Hi team,
I'm moving this because the tag is in the code boxes
best

[2018-10-23 17:07] MarkusVi commented on #17126
#please-close

[2018-10-23 17:07] Karishma-Tiwari-MSFT commented on #17365
@szarkos I have assigned it to you. Thanks.

[2018-10-23 17:08] Mike-Ubezzi-MSFT commented on #17425
Link to specific section: [What is the Azure Hybrid Benefit for SQL Server](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-faq#what-is-the-azure-hybrid-benefit-for-sql-server)

[2018-10-23 17:09] swpalmer commented on #17422
Version 69.0.3497.100 (Official Build) (64-bit) on Microsoft Windows [Version 10.0.17134.286]
Takes me to my organization's sign-in page, I sign in (despite checking 'keep me signed in').. flickers around with 'authorizing', 'initializing', 'authenticating', etc. messages and then claims I've signed out.

[2018-10-23 17:10] Mike-Ubezzi-MSFT commented on #17398
@Sihomiri Thank you very much for the detailed feedback. I have assigned this to the content author to evaluate and update as appropriate.

[2018-10-23 17:11] MicahMcKittrick-MSFT commented on #17220
@cmeyertons I will close this for now. When ready let me know and we can reopen and continue.

[2018-10-23 17:11] CarlRabeler commented on #17425
Fixed and merged

[2018-10-23 17:11] swpalmer commented on #17422
Just tried after browser update (so browser was restarted), same thing happens with Version 70.0.3538.67 (Official Build) (64-bit)

[2018-10-23 17:14] mcurko commented on #17333
Yes it's working.

________________________________
From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Tuesday, October 23, 2018 6:45:58 PM
To: MicrosoftDocs/azure-docs
Cc: Marko Čurko; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Installation error (#17333)

It might be a misleading error. Is it working now then or are you still getting an error?

—
You are receiving this because yo

[2018-10-23 17:15] ashannon7 commented on #17422
This sounds like an Azure account issue.  Try incognito mode in Chrome...

[2018-10-23 17:17] swpalmer commented on #17422
Incognito mode did exactly the same thing.  On other Azure pages I can see that I am still signed in when I refresh the page.

[2018-10-23 17:18] Mike-Ubezzi-MSFT commented on #17436
@lianetoohey Thank you very much for the detailed feedback. Can you provide the following details:

- Which Cosmos Service API are you consuming (SQL, MongoDB, Gremlin, etc...).
- Can you provide an example request object so we can see how write queries are being done.

With this we can actively investigate.
Regards,
Mike

[2018-10-23 17:18] MicahMcKittrick-MSFT commented on #17252
@epa095 yes. I would highly suggest not sharing any secrets :)

Using RBAC you should be able to give just enough rights to a user to be able to achieve creating a cluster with AAD enabled and not give them full tenant admin privileges. I would high suggest you limit the number of tenant admins as much as possible. It just increases the number of people who could accidentally mess up your subscrip

[2018-10-23 17:20] anosov1960 commented on #16643
When using DTU model, there is no additional backup charge regardless of the size. The FAQ applies to the vCore model.

[2018-10-23 17:21] MicahMcKittrick-MSFT commented on #17395
Memory preserving updates is not something you as a user can managed. It is completely handled by the Azure infrastructure. In fact, these type of updates happen quite often and you would never be aware of them. This is because the updates happen so quick and do not impact your environment there is not a need to have the user be aware of them.

The only updates you would be able to control would b

[2018-10-23 17:21] #17395 closed

[2018-10-23 17:21] swpalmer commented on #17422
I managed to get in on a Mac running Safari.  Something about the session on my Windows box must be broken.

[2018-10-23 17:22] BryanLa commented on #17023
Hi @Leon99 - I haven't been able to test any of this, but try the following. I think you've already done step 1, but including it here for completeness:

1. Make sure your IIS App pool for the web app is configured to run as your current user account (the one you used to sign in to Windows). If it runs under a different account, that account will not have access to get a token from Azure CLI (whic

[2018-10-23 17:30] xyh1 commented on #16278
#please-close

[2018-10-23 17:31] xyh1 commented on #13570
#please-close

[2018-10-23 17:32] xyh1 commented on #11032
#please-close

[2018-10-23 17:32] Mike-Ubezzi-MSFT commented on #17425
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-23 17:32] #17425 closed

[2018-10-23 17:32] MicrosoftGuyJFlo commented on #17430
@cronq please clarify what you mean. OATH tokens are covered in this article. The article is about the different methods available not lockout or notifications.

[2018-10-23 17:32] xyh1 commented on #10959
#please-close

[2018-10-23 17:34] MarkusVi commented on #17361
HI @Neckross, yes, you got it right: _after the Baseline policy goes GA, we can disable it and use a Custom CA policy for MFA that comply with our security requirements._

This is how it should be. While a baseline policy can only address general needs ("the 80% case"), you can and should use a custom policy to address your specific needs.

#please-close

[2018-10-23 17:35] Karishma-Tiwari-MSFT commented on #17211
@skwan Is this something you can shed some light on? Thanks.

[2018-10-23 17:36] Norrch2 opened #17438 "Conditional Drop Down Values"
Is there a way to change the values of a drop down based on an existing drop down? For example, If there are two drop down boxes. Box 2's values changed based on Box 1's selection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e31c230-4294-6b21-91c2-b829852f80a3
* Version Independent ID: ea251507-2a65-6ceb-0ccf-fa4f7

[2018-10-23 17:39] nhuntwalker commented on #15279
Ditto on the previous comment. The specific error that I've gotten when trying to use a `.cer` file with HTTP Settings in a WAF v2 was:
[code]

[2018-10-23 17:40] d-mariano opened #17439 "No human readable service plans"
I'm seeing that we have translated the license/product names, but the actual service plans do not have human readable strings documented here. Can we provide all human readable names for those as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a

[2018-10-23 17:42] MarkusVi commented on #16715
Hi @xNiklasJern, for conditional access, there is no client license involved. It is only a question of your tenant's license. This is inline with your observation. Another way of looking at this is that conditional access protects your SaaS apps - it is not really a service provided to your users.

#please-close

[2018-10-23 17:42] BjornAnd commented on #6570
I'd actually like to have some sort of information in the article that the scripts differ from different versions of ASDK.
Why not having a versioning. Like "For ASDK 1710-1803 use this script", "for ASDK 1804-1808 use this" and so on.
I know that all ASDKs _should_ be running the latest version, but not all are. #ThisJustHappenedToMe
(I had to change to "-CloudAdminCredential" and it took some ti

[2018-10-23 17:43] Mike-Ubezzi-MSFT commented on #16116
@padmick We will now proceed to close this issue. If you do not have an Azure subscription plan, please send an email to AzCommunity at Microsoft dotcom with your subscription GUID, and we can have a one time incident ticket opened for you.

[2018-10-23 17:43] #16116 closed

[2018-10-23 17:43] Grace-MacJones-MSFT commented on #17415
Hi @SamAlbuga, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-23 17:44] SqlTechMike opened #17440 "Import extension host certificates Steps"
There is in issue in the "Import extension host certificates" procedure.  Both Step 3 and Step 5 are the same thing...I would expect that Step 3 could be removed and steps 4 and 5 could be renamed to 3 and 4, respectively.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3b84311-7c1e-bc20-70e1-9e812ff27824
* Version Ind

[2018-10-23 17:46] jeffgilb commented on #6570
Hi @BjornAnd , the online documentation only described supported scenarios. Deploying versions older than the most current three releases is not supported.

#please-close

[2018-10-23 17:48] MicahMcKittrick-MSFT commented on #17407
@jungopro all the examples I am able to find do not appear to let you change it during the initial creation of the cluster

@iainfoulds do you know if this is configurable during the creation phase of a cluster or if we can only set this option when creating a persistent disk after the cluster has already been created?

[2018-10-23 17:48] jlyon9 opened #17441 "Configure Azure SSO, Step 9"
Missing information from Step 9:
Open the downloaded Base 64 certificate in notepad. Copy the value between “-----BEGIN CERTIFICATE-----” and “-----END CERTIFICATE-----" and paste this into the quotation marks next to “certificate” below.
Copy the SAML Single-Sign-On Service URL from Azure and paste into the ssoUrl value.

Change the context in the Worksheet from PUBLIC to ACCOUNTADMIN (note, this

[2018-10-23 17:50] Grace-MacJones-MSFT commented on #17429
Hi @xtianus79,  thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-23 17:52] MicahMcKittrick-MSFT commented on #17417
@paulmackinnon-adv365 as mentioned in the doc here are the prerequisits

[code]

As you found, you do need to manually install docker and in addition you need to install kubectl. You can do this by following this doc

https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-install-cli

[2018-10-23 17:57] MicahMcKittrick-MSFT commented on #17420
@saurabhrajguru you cannot create a cluster without a VNET.

I am not seeing any mention of VPN in the doc though

![image](https://user-images.githubusercontent.com/32313503/47380444-5d248f80-d6b2-11e8-8c06-d2c9696d05d7.png)

[2018-10-23 17:58] #6570 closed

[2018-10-23 17:59] Grace-MacJones-MSFT commented on #17429
@xtianus79, the doc does reference a way to use .NET for your backend. It references this [doc](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-dotnet-backend-how-to-use-server-sdk#create-app) underneath step 4. Are you getting any errors? we would like more information on this. Thanks

![asp net moblie](https://user-images.githubusercontent.com/42247081/47380504-82190

[2018-10-23 18:00] cronq commented on #17430
The comment is directed at this content: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/authentication/howto-mfa-mfasettings.md. When I'm in the AAD MFA settings UI, I see configurable features for account lockout, notifications, and OATH tokens which are not described on the howto-mfa page. These should be described on the page in my opinion.

I linked to the OA

[2018-10-23 18:01] eross-msft commented on #17283
#please-close

[2018-10-23 18:02] MarileeTurscak-MSFT commented on #17438
@Norrch2 #
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-23 18:02] lianetoohey commented on #17436
@Mike-Ubezzi-MSFT we are using SQL API. I have attached a sample document from the collection which includes the request object. Please let me know if any further information would be helpful. Many thanks!
[example.txt](https://github.com/MicrosoftDocs/azure-docs/files/2507377/example.txt)

[2018-10-23 18:02] kristianjaeger commented on #17295
Thanks @mike-urnun-msft !  I will give that a try.  Cheers.

[2018-10-23 18:05] mlwhite4 opened #17443 "Unable to edit incorrect image"
Please remove the '![YouEarnedIt Domain and URLs single sign-on information](./media/youearnedit-tutorial/tutorial_youearnedit_url.png)'  image from Step 3 of the "Configure Azure AD single sign-on" section.
The image shows 'https://' prior to the sandbox url and that is incorrect.
We have a corrected image for whomever is able to make this change but unfortunately the system would not allow that

[2018-10-23 18:08] iainfoulds commented on #17407
Thanks for the question, @jungopro. This isn't something that can be edited during the cluster creation. The best practice would be to create an additional storage class and define the reclaim policy of 'retain', then reference this in your deployments rather than one of the default storage classes. An example of this type of storage class definition can be found here - https://docs.microsoft.com/

[2018-10-23 18:09] Karishma-Tiwari-MSFT commented on #17409
@WynneM Here is an example on [Using an Azure PowerShell command to create an empty cloud service container](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-powershell-create-cloud-container). I am talking to the author if we can add a doc-enhancement to cover that. I will share the updates here. Thanks.

[2018-10-23 18:10] Karishma-Tiwari-MSFT commented on #10488
@CawaMS Can you please share if there is an update on this one? There is a similar issue opened by a customer [here](https://github.com/MicrosoftDocs/azure-docs/issues/17409)

[2018-10-23 18:10] TravisCragg-MSFT commented on #17392
@yssky Informative messages like this are to inform you of an upcoming change, and will likely not affect the functionality of a script.

When you ran these commands, did you receive any errors or failures?

[2018-10-23 18:11] sergaz-msft commented on #17405
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-23 18:11] TravisCragg-MSFT commented on #17393
@yssky Informative messages like this are to inform you of an upcoming change, and will likely not affect the functionality of a script.

please post any failures to #17392

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-23 18:11] #17393 closed

[2018-10-23 18:12] MicahMcKittrick-MSFT commented on #17407
Thanks for confirming @iainfoulds

@jungopro let us know if you have any additional questions

[2018-10-23 18:12] #17407 closed

[2018-10-23 18:13] TravisCragg-MSFT commented on #17394
@yssky could you please paste any errors you are getting? what you have above is some of the metadata for an error, but not an actual error message.

[2018-10-23 18:14] TravisCragg-MSFT commented on #17416
@sijday Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-23 18:15] TravisCragg-MSFT commented on #17431
@munozrickT4S Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-23 18:16] JasonBSteele commented on #17162
Hi @PramodValavala-MSFT , thanks for getting back to me.

Thanks for the tip about using a blob and triggering from that instead - this is something we are considering. However it is a bit clunky to have to go through a blob - and we can't even use a Logic App to receive the message and create the blob! We'll have use a Function or write directly via the REST API.

My OP is more about the fact tha

[2018-10-23 18:21] seguler commented on #7580
Storage Emulator to Azure Storage copy operation is not supported as the copy operation on the destination Azure Storage account will need to access the source over the public internet. In the case of Storage Emulator, your data is not available on a public network.

[2018-10-23 18:21] seguler commented on #7580
#please-close

[2018-10-23 18:29] BjornAnd commented on #6570
I know that only the most current three releases are supported. :)
The thing is that sometimes you run into older versions (well at least I did just a few hour ago) and then it would be nice if it would be possible to find the information about the older versions also (it could be on a "best-effort-basis" but still beeing able to find it).
Either that or having a versioning system on the documenta

[2018-10-23 18:30] cherylmc commented on #16907
@ivasilyev-servicetitan-com  - all set. Thanks for letting us know. Closing this now. #please-close

[2018-10-23 18:31] lyrana commented on #17350
Hi @jscott3201 I'll talk with the team and triage this, in the meantime I want to understand what's not working for you--are you using a Service Principal to call Digital Twins and it's failing? Does that Service Principal have a Role Assignment in the instance?

[2018-10-23 18:31] seguler commented on #12799
@tamram - could you help address this issue ?

[2018-10-23 18:32] cherylmc commented on #7817
#please-close - unable to reproduce.

[2018-10-23 18:35] saulcruz commented on #17261
@Alberto-Vega-MSFT  thanks for your reply, I'm sorry I was not specific in my question or maybe I don't know how to properly implement this in my arm-template-parameters-definition.json , I was actually aware of the notation specified in the link you provided however I'm using the arm-template-parameters-definition.json documented [here]( https://docs.microsoft.com/en-us/azure/data-factory/continu

[2018-10-23 18:39] zambottivinicius opened #17445 "Failed to attach, connection refused"
For some reason when I run the debug, I got the messsage: "Failed to attach (connect ECONNREFUSED 127.0.0.1:5678)". I'm using a VM in Azure to simulate the device

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 750a365e-4776-230f-5517-ec2437af0c8c
* Version Independent ID: 0a6b96e9-47b6-ce32-0fef-f3ba3b49847d
* Content:

[2018-10-23 18:43] TravisCragg-MSFT commented on #17428
@aricbernard Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-23 18:46] TravisCragg-MSFT commented on #16907
@ivasilyev-servicetitan-com We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-23 18:46] #16907 closed

[2018-10-23 18:47] TravisCragg-MSFT commented on #7817
@luis-sanchez-globant We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-23 18:47] #7817 closed

[2018-10-23 18:52] cherylmc commented on #14579
Updated. Thanks! #please-close

[2018-10-23 18:53] seguler commented on #12920
1. SDK V7 is all synchronous. All operations are synchronous. If an upload function returns, then the file is either committed or failed to commit.
2. Yes. Files are put as blocks into the Storage service. This is rather a 'stage' than 'put' because PutBlock does not commit the blocks into a file. Once all the blocks have been staged with Put Block operation, the library will call PutBlockList ope

[2018-10-23 18:53] seguler commented on #12920
If you have any other questions; please reach out to us at https://github.com/azure/azure-storage-java

[2018-10-23 18:54] seguler commented on #12920
#please-close

[2018-10-23 18:54] TravisCragg-MSFT commented on #14579
@Devilblessed We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-23 18:54] #14579 closed

[2018-10-23 18:55] cherylmc commented on #13087
@TravisCragg-MSFT  - can you please reassign to @anzaman to review? Thanks!

[2018-10-23 18:55] seguler commented on #14182
@EmmaZhu to provide an update

[2018-10-23 18:56] seguler commented on #14694
Thanks for your feedback. Please upgrade to AzCopy v10 which is a single executable and does no longer require installation.

If you have any other feedback on AzCopy, please raise an issue at https://github.com/azure/azure-storage-azcopy

[2018-10-23 18:56] seguler commented on #14694
#please-close

[2018-10-23 18:58] barclayn commented on #13139
@waheedhussain and @JustRonald follow up on this. The PM for service bus confirmed that encryption at rest is enabled by default and it is not something that can be configured.  (so the table is correct as it is)

[2018-10-23 18:59] seguler commented on #15896
I don't see any issue in the documentation. Line is already `sudo apt-key...`

[2018-10-23 18:59] seguler commented on #15896
#please-close

[2018-10-23 19:01] Jann-Skotdal commented on #15724
@ziad-akiki We are investigating the issue. Thank you for reporting

[2018-10-23 19:06] SaurabhSharma-MSFT commented on #17399
@akhileshnirapure Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.
@curtand I am able to reproduce this. Also, the command worked when I used `$Setting["PrefixSuffixNamingRequirement"] =“Test-[GroupName]"`
however, it does not work for `$Setting["PrefixSuffixNamingRequirement"] = "Test-[Department]"`.
Can you please help

[2018-10-23 19:07] SaurabhSharma-MSFT commented on #17441
@jlyonindag Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-23 19:10] Mike-Ubezzi-MSFT commented on #16583
@PeerMohamedMydeen We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-23 19:10] #16583 closed

[2018-10-23 19:13] Mike-Ubezzi-MSFT commented on #16849
@atullalwani We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. The following blog post describes how to deploy a MySQL instance to an Azure VM: [How to deploy and use MySQL from the Azure Marketplace](https://blogs.msdn.microsoft.com/cdndevs/2016/03/22/how-to-deploy-and-use-mysql-from-the-azure

[2018-10-23 19:13] #16849 closed

[2018-10-23 19:14] Mike-Ubezzi-MSFT commented on #16927
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-23 19:14] #16927 closed

[2018-10-23 19:14] iamthehousedog opened #17446 "Service Principal Involved"
An example with SP would be helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8f06db-58d4-75b9-f150-9a1b4767cf75
* Version Independent ID: 54c26e53-460a-2f6e-b4f2-86f1e8581435
* Content: [Copy Activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview)
* Content So

[2018-10-23 19:15] Mike-Ubezzi-MSFT commented on #16990
@danielhzrivera We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-23 19:15] #16990 closed

[2018-10-23 19:20] mganeshphani opened #17447 "Windows client updates"
Following link claims that we cannot use windows 10 to get updated by this.. but when I attempt, it does succeed.. has anything changed recently?
https://docs.microsoft.com/en-us/azure/automation/automation-update-management#unsupported-client-types

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db47901d-1664-058d-9407

[2018-10-23 19:22] jeffgilb commented on #17428
Thanks @aricbernard , you are correct. #sign-off

[2018-10-23 19:28] Mike-Ubezzi-MSFT commented on #16997
@kamaljoshi911 @ccnoecker The Azure Cosmos DB has in place a 40MB memory limit on queries while the product team works out an issue with aggregations. The limit is indented to ensure no one query chews up all the memory on that cluster. I am hoping that the product team can provide some workarounds for the use case of @ccnoecker. If there are other examples that need to be looked, please provide:

[2018-10-23 19:28] georgewallace commented on #17447
The link is correct that Windows client systems are not supported. Only systems that have been tested and listed on this page are supported.  Windows 10 may work but it is not guaranteed.

[2018-10-23 19:29] TheWinch opened #17448 "HTTP probe timeout period"
The sentence "Probe endpoint doesn't respond at all during the a 31 second timeout period" and the paragraph that follows are unclear. It is not easy to understand at which point exactly the probe will fail. Documentation style should be aligned with the TCP probe documentation, which is more explicit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-10-23 19:29] shae-hurst commented on #17162
Hi @JasonBSteele,

Triggers, by current design cannot "wait" around for all of the data to be received via separate chunks which are contained in different HTTP messages. Triggers don't have access to state in the way that actions do, and they are scheduled behind the scenes very differently.

What @PramodValavala-MSFT  suggested about the trigger on blob update is a great way to handle this.

[2018-10-23 19:34] rchakra3 commented on #15932
@SaurabhSharma-MSFT is there a way to get this working with the CLI? I can't seem to find one

[2018-10-23 19:39] szarkos commented on #17365
This is being looked at.  Likely this should redirect to https://www.redhat.com/en/partners/microsoft, but we'll work with Red Hat to either restore the link or find the correct page.

[2018-10-23 19:45] TravisCragg-MSFT commented on #17440
@SqlTechMike step 3 creates the directories, and step 5 puts the certs into those directories. Step 3 also forces a directory structure, so I am unsure how they are the same.

[2018-10-23 19:45] hning86 commented on #16726
schema is optional (has always been). so you can skip that part altogether. it will be helpful to go through this example of the new SDK to understand how score.py is now much simpler.

https://github.com/Azure/MachineLearningNotebooks/blob/master/01.getting-started/10.register-model-create-image-deploy-service/10.register-model-create-image-deploy-service.ipynb

[2018-10-23 19:58] dejan-shuki opened #17450 "display table names in monitoring"
Can you show us how do display name of table when sub-tasks fails?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b540c63f-66b3-d07d-b3a8-284de931176d
* Version Independent ID: 4002e018-4320-c978-061d-080d89761c8e
* Content: [Incrementally copy multiple tables by using Azure Data Factory](https://docs.microsoft.com/en-

[2018-10-23 20:02] Karishma-Tiwari-MSFT commented on #15282
@akx I confirmed with the product team. Currently there is no way to list the identities assigned to a VM from the Instance metadata service endpoint. The way to list the identities assigned to a VM are to perform a GET on Azure for the VM resource. The payload response will contain the “identity” property which will list the assigned identities within either the “identityIds” or “userAssignedIden

[2018-10-23 20:02] #15282 closed

[2018-10-23 20:12] olavt commented on #16494
What preview bits are not available to all? Anyone are able to download the bits.

[2018-10-23 20:12] MicahMcKittrick-MSFT commented on #17433
Thanks for the question! We are investigating and will update you shortly.

[2018-10-23 20:13] SaurabhSharma-MSFT commented on #17412
@Nitesh097 You can try using Get-MsolUser PowerShell cmlet to export users to CSV file and then you can use New-ADUser cmdlet to create users on Active directory for each entry in the CSV file like below  -
import-csv <<your csv file>>.csv -Encoding UTF8 | foreach-object {New-ADUser  -Name -UserPrincipalName -enabled $true }

[2018-10-23 20:14] SaurabhSharma-MSFT commented on #17441
@jlyon9 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-23 20:18] #17056 closed

[2018-10-23 20:24] mexidus opened #17452 "Convert a managed disk from standard HDD to standard SSD"
Does this powershell script also work for an OS disk or only for managed data disks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b67bcdd-0278-7c7f-89ac-5e4bc53de72c
* Version Independent ID: 57815f78-825d-ec47-2751-128ab5a03d66
* Content: [Convert Azure managed disks storage from standard to premium, and vice versa

[2018-10-23 20:36] hirokib opened #17453 "Requirements should have more explanation"
The stated requirement around needing an AD license is confusing for users since a subscription comes with a Free License. Although it is true you can get a licences separately, it should be made clear that an Azure account can use and upgrade AAD from within the portal and their Azure subscription without having to go through a different channel to acquire a license.

---
#### Document Details

⚠

[2018-10-23 20:42] davidmu1 commented on #15832
Corrected the article to modify the extensions file, not the relying party file.

#please-close

[2018-10-23 20:50] MarileeTurscak-MSFT commented on #17333
Thank you. In that case we will proceed to close this thread. If you have further questions, please leave a comment and I will gladly continue the discussion.

[2018-10-23 20:50] #17333 closed

[2018-10-23 20:51] CHDAFNI-MSFT opened #17454 "CLI doc not added to Table of contents"
PowerShell and Portal version of doc are in table of contents under "Route by URL". Somehow the CLI version is not listed.

Referencing the other versions:
https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-url-route-powershell
https://docs.microsoft.com/en-us/azure/application-gateway/create-url-route-portal

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-10-23 21:02] NumberByColors commented on #17408
Hi Greg. The explanation in the product and in our documentation is incorrect. I'll change it.

For anyone with *read access* to see alerts in Azure Monitor for Resource Groups, someone else with an Owner or Contributor role needs to open Azure Monitor for Resource Groups once. This registers that subscription with our V2 Alerts Management service, so all of the resource groups in that subscriptio

[2018-10-23 21:11] CHDAFNI-MSFT opened #17455 "Prerequisites are missing"
There is no documentation I’ve found that lists the prerequisites for deploying Azure Firewall. For example, the dedicated subnet requires a minimum of a /25 CIDR address (per Portal deployment).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-

[2018-10-23 21:11] #17341 closed

[2018-10-23 21:14] #16852 closed

[2018-10-23 21:17] KingdomOfEnds commented on #17405
Hi @RipinAggarwal - Thanks for the great question! I hope this article helps to clarify the URL: https://docs.microsoft.com/en-us/azure/digital-twins/how-to-use-swagger. There's also a hosted demonstration Swagger endpoint we provided: https://docs.westcentralus.azuresmartspaces.net/management/swagger/ui/index. Does that clarify the URL?

[2018-10-23 21:26] xtianus79 opened #17456 "this nuget package is broken"
this is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b01cf43e-ecf3-ce7a-f9b8-a54918d23601
* Version Independent ID: b9b8e1e9-2e1f-ce3a-faed-2d3ccef82a9d
* Content: [Working with the App Service Mobile Apps managed client library (Windows](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mo

[2018-10-23 21:29] walsehgal commented on #14510
@archergod, currently we don't have a high fidelity map for India and we are working on to have that soon.

[2018-10-23 21:29] conceptdev commented on #17456
For bugs and problems with the product, please click on the **Product feedback** button (at the end of most doc pages) to inform product owners/engineering teams. This issue list is intended to help track and fix documentation issues.
Thanks for your feedback
@please-close

[2018-10-23 21:29] SharePointing opened #17457 "Erroneous Powershell commands"
Everything int he article after "Create the application identity for your logic app in PowerShell" is erroneous.

It is using deprecated/obsolete powershell commands. Please update with the new commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d454925-bb49-5db4-355c-e6f3475eb3e6
* Version Independent ID: 4bdf6b

[2018-10-23 21:33] MarileeTurscak-MSFT commented on #17438
The short answer is no, there is no easy way to add dynamic behavior to custom [Azure AD B2C UIs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-customize-ui-custom). The most viable way to achieve this is by using JavaScript, which unfortunately isn't supported in Azure AD B2C yet. You can support[ this ask ](https://feedback.azure.com/forums/169401-azu

[2018-10-23 21:34] #17438 closed

[2018-10-23 21:35] KingdomOfEnds commented on #17016
Hi @ssorenes! Thanks for the great question. Presently, the ability to nest devices in the way you mentioned is not supported. That being said, there are a couple of nesting properties that are: the Device Object Model includes `subtype`, `subtypeId`, `parentDeviceType`, and `parentDeviceSubtype`.

[2018-10-23 21:35] cgillum commented on #16504
The simplest way to think about the scale controller is that it will keep your function app alive if it crashes or if it idles out. It does so by monitoring the queues in the task hub and ping'ing the function app (which triggers App Service to ensure the app is up and running). The function app itself doesn't know anything about the scale controller.

Yes, the scale controller only applies in the

[2018-10-23 21:37] mike-urnun-msft commented on #17384
Hey @ioamnesia This was probably an anomaly from Azure/app-service-announcements#137. As per the instructions provided in the announcement, if this continues to be an issue, please try setting `SCM_CREATE_APP_OFFLINE` to `0` to turn off this behavior and try again.

[2018-10-23 21:38] JozoSlejko opened #17458 "Wrong links"
"To reference another workspace in your query, use the workspace identifier, and for an app from Application Insights, use the app identifier."
These two links are wrong, they should point to
https://docs.microsoft.com/en-us/azure/log-analytics/query-language/workspace-expression?toc=/azure/azure-monitor/toc.json
and
https://docs.microsoft.com/en-us/azure/log-analytics/query-language/app-expressio

[2018-10-23 21:39] CHDAFNI-MSFT opened #17459 "List/Refer Microsoft applications that are supported with Managed Instances"
It is up to each Microsoft application team to determine their supportability for Managed Instances. Can a dedicated page under Managed Instances list those applications that will support Managed Instances rather than our customers needing to search through each application's documentation to determine that answer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-10-23 21:39] sergey-netdev commented on #17023
@BryanLa, thank you so much! When setting pool identity from IIS Manager `processModel` node is missing `setProfileEnvironment` attribute. Adding it manually did the trick.

[2018-10-23 21:41] mganeshphani commented on #17447
Thankyou. Looks like 1803 client OS detected 0 updates needed.. however I am sure it should have more than that.. may be its the indication of update management agent not working with windows clients

[2018-10-23 21:42] KingdomOfEnds commented on #17016
PS - I hope you find this helpful - you can lean more about the Device Object Model here: https://docs.westcentralus.azuresmartspaces.net/management/swagger/ui/index

[2018-10-23 21:50] AngelosP opened #17460 "How do I troubleshoot with Visual Studio if my application fails to startup in Azure App Service?"
The scenario is very simple:
- Application works fine when I run it by pressing F5 inside of Visual Studio
- Application is published successfully using Visual Studio (right click on project &gt; publish) - no errors
- Application fails to startup in Azure App Service and I need to figure out why

A classic reason for such failure is referencing the NuGet package Microsoft.AspNetCore.App with the

[2018-10-23 21:54] MarileeTurscak-MSFT commented on #17345
@robsrip please let me know if this helped resolve the issue! Since I haven't heard back I will proceed to close the thread, but if you have further questions feel free to open a new issue or leave a comment and I will gladly continue the discussion.

[2018-10-23 21:54] #17345 closed

[2018-10-23 21:59] MarileeTurscak-MSFT commented on #17443
@mlwhite4 Thanks for the reply! We will investigate and update as appropriate.

[2018-10-23 21:59] MarileeTurscak-MSFT commented on #17453
@hirokib
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-23 22:01] mike-urnun-msft commented on #17089
@siobhter Even though the visuals aren't as accurate yet, were you able to create the HTTP trigger function, which should be in c# language by default now, and still get going with the rest of the steps? If you have any further questions and need assistance, please open an [MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) and we'd be happy to weigh in.

There

[2018-10-23 22:05] siobhter commented on #17089
@mike-urnun-msft Ah, I see. I can try to play with it and see where my error comes from. I'm not much of a coder so the C# stuff is a little hard for me. I'll post in the MSDN forum and see what happens.

[2018-10-23 22:05] MarileeTurscak-MSFT commented on #17439
@d-mariano
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-23 22:16] btardif commented on #17085
Hey @elaurijssens thanks for pointing this out, its a bug and we are working on a fix. the menu should be included for VSTS based deployments

[2018-10-23 22:26] jeffwmiles opened #17462 "Include PowerShell reference in docs"
Is there a PowerShell reference for Update Management, especially considering some of the new features like dynamic groups?
This September blog post (https://azure.microsoft.com/en-us/updates/azurerm-automation-6-0-preview) released a bunch of new cmdlets, however they do not seem to support things like reboot suppression or dynamic groups which we really want to enable.

---
#### Document Details

[2018-10-23 22:28] tfitzmac commented on #12704
Management Groups has been added to the list of supported services for CSP.

[2018-10-23 22:28] tfitzmac commented on #12704
#please-close

[2018-10-23 22:30] sandervandevelde commented on #17351
Thanks for the information.
I tried it again on ubuntu 18.04 on a stable edge (running 1.0.3 modules for edge and hub).

I deployed: mcr.microsoft.com/azure-blob-storage:latest

I used configuration as seen in the documentation:

  "Env": [
    "LOCAL_STORAGE_ACCOUNT_NAME=blobaccount",
    "LOCAL_STORAGE_ACCOUNT_KEY=64 bytes long "
  ],
  "HostConfig": {
    "Binds": [
      "/srv/containerdata:/b

[2018-10-23 22:37] TravisCragg-MSFT commented on #17454
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-23 22:39] #17456 closed

[2018-10-23 22:42] Grace-MacJones-MSFT commented on #17460
Hi @AngelosP, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-23 22:47] Mike-Ubezzi-MSFT commented on #17459
@CHDAFNI-MSFT Thank you for the doc-enhancement idea. Azure SQL Managed Instance does not offer public facing service end-points and this, requires Point-to-Site VPN Gateway to reach an Azure SQL Managed Instance from on-premise. Any on-premise application can have the ODBC connection configured to reach the Azure hosted Managed Instance. I will forward this on the the content owner to evaluate an

[2018-10-23 22:49] Alberto-Vega-MSFT commented on #16945
@AdamPliska We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-23 22:49] #16945 closed

[2018-10-23 22:49] femsulu commented on #17159
AFAIK, this is by design and not a bug. but if this is something you would like to see supported, please share your feedback directly with the accounts team using [this link](https://feedback.azure.com/forums/34192--general-feedback). Hope this helps.

[2018-10-23 22:53] mike-urnun-msft commented on #17384
@ioamnesia Understood, thanks Micah!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-23 22:53] #17384 closed

[2018-10-23 22:58] beavel commented on #17127
@sahilpnckr123 I had the same issue today and had to add `Subnet delegation` to the subnet I was picking in addition to picking an empty subnet. I didn't find that in any documentation and the section only appears if you have high enough permissions, which made it confusing. I believe the account I am seeing it with an account with Owner at the subscription level. Screenshot of the setting below:

[2018-10-23 23:01] SaurabhSharma-MSFT commented on #17254
@sspenning I suggest you to please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2018-10-23 23:02] TravisCragg-MSFT commented on #17455
@CHDAFNI-MSFT this limitation is discussed in a note in the[ Deploy and Configure document](https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-deploy-portal#set-up-the-network-environment). I do not believe there is a deployment planning section, is this what you are looking for?

[2018-10-23 23:10] rolyon commented on #17400
Hi @temabu
This appears to be a test role, so you can ignore. We will work on removing from the list.
thanks

[2018-10-23 23:11] rolyon commented on #17400
@MicrosoftDocs/azure-cxp-triage
#please-close

[2018-10-23 23:12] Alberto-Vega-MSFT commented on #16954
We will now proceed to close this thread.

[2018-10-23 23:12] #16954 closed

[2018-10-23 23:14] Karishma-Tiwari-MSFT commented on #17400
@temabu We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-23 23:14] #17400 closed

[2018-10-23 23:19] TiloGit opened #17464 "support for "subPath" ?"
Hi, does the "volumeMounts" supports the "subPath" tag?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b730fc95-951e-1acd-770d-88b3e6f2f6ef
* Version Independent ID: b6445fd2-46ea-aedd-2f2c-294faa660660
* Content: [Mount an Azure Files volume in Azure Container Instances](https://docs.microsoft.com/en-us/azure/containe

[2018-10-23 23:32] JeanQian commented on #17125
Thanks @Karishma-Tiwari-MSFT waiting for your information about it.

[2018-10-23 23:32] nolisj commented on #17174
To document this, the resolution was here: https://gordon.byers.me/azure/dr-environment-for-azure-api-management/.

Thanks!

[2018-10-23 23:37] Alberto-Vega-MSFT commented on #16960
Thanks again for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-23 23:39] Alberto-Vega-MSFT commented on #16966
@MarkAtAgilliance I could not find another user for the user properties mentioned in this document.

[2018-10-23 23:42] #16966 closed

[2018-10-23 23:45] CawaMS commented on #10488
What is the scenario user trying to accomplish here?
How about adding New-AzureDeployment cmdlet usage from https://docs.microsoft.com/en-us/previous-versions/azure/dn495143(v=azure.100) as the next steps?

[2018-10-23 23:49] femsulu commented on #17462
@jeffwmiles Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-10-23 23:50] cjgronlund commented on #16475
@PatrickFarley
Hi, Patrick,
Please look at this issue and fix - or, assign to a PM as appropriate. The original doc appears to have been divided into multiple docs. @nitinme
#in-progress

[2018-10-23 23:50] georgewallace commented on #17462
@jeffwmiles As far as reference documentation, that is all automated, once a cmdlet is GA, since these are preview they do not get the automatically generated documentation on docs.microsoft.com. Also, you are correct those features are not in that version of the cmdlets.. Let me see if I can get any information on when those might be available.

[2018-10-23 23:54] martinffoster commented on #12162
Hi @YutongTie-MSFT after confirming docs correct, my main concern was with the way the product operated.  Can you or @markgalioto  advise if that's been addressed?  Thanks!

[2018-10-23 23:54] Alberto-Vega-MSFT commented on #17223
Hi it seems like you are having the same issue  #11450

[2018-10-23 23:54] femsulu commented on #17408
@GregRamey Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-10-23 23:57] #17447 closed

[2018-10-24 00:01] femsulu commented on #17421
@mganeshphani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-24 00:03] mike-urnun-msft commented on #16484
Hey @OffColour Since we haven't heard back from you, we will now proceed to close this thread for now.
If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-24 00:03] #16484 closed

[2018-10-24 00:15] dsk-2015 commented on #17405
@RipinAggarwal , thanks for noting your observation. As the article mentions, you can use the Swagger URL to browse the REST API documentation. The modified URL which is the Management API URL will be used by your application, but by design, you can not open it in a browser. @alinamstanciu can provide more insight, however, rest assured that what you are seeing is expected behavior.

[2018-10-24 00:44] YutongTie-MSFT commented on #17435
@Anmolgan81 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-24 00:45] YutongTie-MSFT commented on #17434
@mekenthompson Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-24 00:49] MicahMcKittrick-MSFT commented on #17464
Thanks for the question! We are investigating and will update you shortly.

[2018-10-24 00:50] MicahMcKittrick-MSFT commented on #17452
Thanks for the question! We are investigating and will update you shortly.

[2018-10-24 00:50] Alberto-Vega-MSFT commented on #17261
@saulcruz This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2018-10-24 00:51] CHDAFNI-MSFT commented on #17455
@TravisCragg-MSFT  correct a 'deployment planning' section would likely summarize what I'm looking for. In the link you referenced, though it does call out the /25 CIDR requirement, it is a note under the 'Tutorial' section which wouldn't be a normal place for an architect to look for pre requisites or other planning items.

[2018-10-24 01:08] weikanglim opened #17467 "Automatic OS updates on Service Fabric Clusters"
It looks like Service Fabric now supports automatic OS updates (at least when hosted directly on Azure) as mentioned in the documentation for the [patch orchestration page](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-patch-orchestration-application). Should the FAQ [section](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-common-questions#do-service-fa

[2018-10-24 01:08] tamram commented on #12799
@LisandroSu - Thanks for the feedback, I've fixed the links.

[2018-10-24 01:08] tamram commented on #12799
#please-close

[2018-10-24 01:15] markgar opened #17468 "Add reference to V2"
The portal references this as "V2" not as "Autoscaling Preview".  It would clarify the docs to make this connection to the terminology that the portal uses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Independent ID: 298a134e-fb27-f16d-bff2-d43eb0f766fd
* Content: [Auto

[2018-10-24 01:18] CHDAFNI-MSFT commented on #17459
@Mike-Ubezzi-MSFT I believe we are talking about different things, though I admit I haven't used Azure Managed Instances yet. I'm not referring to where the applications are hosted. I'm referring to a "living document" list of Microsoft applications that support managed instances such as the System Center suite, SharePoint, ADFS, etc.

[2018-10-24 01:31] Alberto-Vega-MSFT commented on #17261
Thanks again for the feedback. I can see how it could be greatly beneficial to illustrate this scenario. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-24 01:33] fsautomata commented on #16960
Adding @rezasherafat

[2018-10-24 02:00] PramodValavala-MSFT commented on #17205
@rajbos You would have to change the resource too. By default, if you have navigated from the Function App, it would be set to the "Application Insights" resource of the same name as your Function App in the dropdown.

You should be able to find an "App Service" with the same name in that dropdown. Like this
![image](https://user-images.githubusercontent.com/43602528/47401314-6f5c0780-d75e-11e8-86

[2018-10-24 02:32] KyleMit commented on #16990
@Mike-Ubezzi-MSFT , having the same issue - how do I go about creating a 1.x Function App? I don't see that option anywhere in the create or manage dialogs.

[2018-10-24 02:39] v-maroge commented on #16255
@MikiMakhlevich I will be looking forward to see the updated document. Thanks!

[2018-10-24 02:44] Joyw1 opened #17470 "azure Application gateway Http settings Use for App Service not chosen again"
In my application gateway-> Http settings,  I choose the `Use for App service` option ->`Save`, exit and enter again, then the option will not be chosen.

The option has been chosen:

![choosee](https://user-images.githubusercontent.com/36072422/47402673-439a4b00-d779-11e8-8189-ce1b22bd67c4.PNG)

Exit and enter again, the option not been chosen:

![notchoose](https://user-images.githubusercontent.

[2018-10-24 02:49] v-maroge commented on #16255
@MikiMakhlevich Just another quick question, the two options are already visible in the portal, but does that mean even if they are selected they actually don't work untill it is officialy available?

[2018-10-24 02:51] andrewatfornax opened #17471 "Link to information on how to figure out a supported image"
As the replication agent support is lagging behind the "latest" images (e.g. at the time of writing, deploying the "latest" Canonical UbuntuServer 16.04-LTS image results in a VM that runs the 4.15.0-1023-azure kernel, which is not supported), it would be very helpful to have a link to somewhere that explains how to figure out what kernel version is deployed with older versions of each image.

So,

[2018-10-24 02:58] dharmeshtailor opened #17472 "Service Fabric Application Upgrade overall time"
We have a service fabric application with around 20 micro services. Yesterday I performed Application Upgrade using VSTS and entire upgrade process took more than 6 hours.

Today I created a differential package, so just 2 services will be upgraded. Upgrade process is running since last 4 hours.  There is no error. When I checked the Cluster Manager >> Upgrade Details, it shows progress on "**PreU

[2018-10-24 03:07] femsulu commented on #17159
My mistake, I assumed you were asking for access to download invoice.

What type of subscription do you have?  According to the published doc, the opt in feature may not be available for some subscription/offer types such as Enterprise  Agreements, Azure in Open and Support offers.

You will be able to tell the subscription type by navigating to the subscription page in the portal and viewing the

[2018-10-24 03:11] femsulu commented on #17159
in the event your subscription is not supported, my earlier recommendation to share the feedback via the feedback link (shared previously) would be the best path as it allows others to upvote your feedback to raise the priority. In parallel, I am following up internally to check if there any known issues with the feature that could prevent access to the email invoice feature - assuming your subscr

[2018-10-24 03:32] MicahMcKittrick-MSFT commented on #17467
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-24 04:09] ChackDan commented on #17467
Micah, I agree with the suggestion.  Please assign this to aljo

[2018-10-24 04:09] georgewallace commented on #17237
@tFable I am actually in the process of updating the docs, should be live tomorrow or so, but you can now enable first party patches with Update Management like SQL patches by running the following PowerShell on the machine that is being updated.

[code]

[2018-10-24 04:30] archergod commented on #14510
That is embarrassing for Microsoft, that they don't cover India yet. However, don't you think you still should have mention that in your Page, maybe a separate section where you mention the same information so people like me can read it there rather than wait 2 month on thread like this for information?

[2018-10-24 04:41] TravisCragg-MSFT commented on #17455
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-24 04:52] formulahendry opened #17477 "Send telemetry on Windows without installing Visual Studio"
Could you provide the example to send telemetry using C without installing Visual Studio?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57ecd8d9-faf6-6d05-9ba9-9b3896bdb3ad
* Version Independent ID: 59408207-3a05-8dfb-2171-09c99f1ba50d
* Content: [Send telemetry to Azure IoT Hub quickstart (C)](https://docs.microsoft.

[2018-10-24 05:42] mail4mohit commented on #16899
@gatneil - thanks a lot for your clarification - I agree there were a number of different items making this more confusing than it is. A colleague at my work place was also hinting about using image id - we changed our strategy to use custom scripts to update VM for now but I can see now how this should work. Thanks again for bringing clarity!

[2018-10-24 05:47] sumit5grg5 commented on #17406
Hello @YutongTie-MSFT,

I am referring  [Azure Databricks Power BI](https://docs.azuredatabricks.net/user-guide/bi/power-bi.html) documentation.

[2018-10-24 05:56] dcbrown16 opened #17481 "Example of passing these parameters?"
Would it be possible to go into some more detail about how these parameters are passed at runtime?
This is a great start but I'm not sure where to go from here.
A link to an existing document with this sort of example would be fine, I wasn't able to find one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf75315-da09

[2018-10-24 05:59] PramodValavala-MSFT commented on #17457
@SharePointing Thanks for your feedback! We will review and update this doc accordingly.

[2018-10-24 06:07] jakaruna-MSFT commented on #17325
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-10-24 06:07] #17325 closed

[2018-10-24 06:29] jakaruna-MSFT commented on #17397
@MicahMcKittrick-MSFT  @gabrtv Can we add a note to include --nodepool-name if its different from the default value.  Please suggest

[2018-10-24 06:33] femsulu commented on #17159
@atrauzzi, quick clarification and update based on my internal findings:
the Account Admin limitation is for Older invoices (before December 2016). However there are a few other reasons why the invoice button could be greyed out.
If the user has a subscription which offers credits and they have not exceeded this credit, then, an invoice will not be generated and the option to Opt-in for invoice in

[2018-10-24 06:34] jseerden opened #17484 "Redemption through a direct link does not work for partner accounts"
If I invite an Azure AD account of our partner organization (CSP) to a tenant that we manage, providing a direct link (for example https://portal.azure.com/customer.onmicrosoft.com, the 'review and accept privacy terms / consent' option does not show when signing in with the partner's user credentials. This does work for other external Azure AD accounts.

We would like to be able to automate addin

[2018-10-24 06:45] christopheranderson opened #17485 "broken link for distribute data globally in intro"
See this text: [multi-region database accounts][distribute-data-globally.md]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18541d64-33d6-9a5b-b451-a4a7ce983d77
* Version Independent ID: 32127b56-80ee-abb0-c65d-7bd73548e020
* Content: [Azure Cosmos DB Automation - Management with Powershell](https://docs.microsoft.com/

[2018-10-24 06:53] srini1978 opened #17486 "Auto scale setting for app services - Recommended duration"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-10-24 06:58] srini1978 opened #17487 "Auto scale setting for app services - Recommended setting for duration"
In the auto scale setting on portal , there is a setting called "Duration" . What is the recommended value for this for an Azure app service  ? should it be 5 minutes or 10 minutes or x minutes? Can you please provide some guidance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88ba1a56-69ec-94c0-8874-78a178a7440e
* Ve

[2018-10-24 06:59] mchudinov commented on #17013
There was a screenshot here in document before with a list of required claims. At least socialIdpUserId must be issued by ADFS since it is hardcoded in use in Base policy.

[2018-10-24 07:12] #17470 closed

[2018-10-24 07:20] rightsmith opened #17488 "Can the js SDK for Azure speech to text can be used with Node?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-10-24 07:27] VercammenG opened #17489 "Issue starting container"
After following the tutorial to the dot (hopefully), I keep getting the following exception everytime I start up the Module. I have the same exception when I start a newly generated Java Module, but not when I'm using any other language.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfa5b178-9c84-a787-d351-ab6b

[2018-10-24 07:29] akx commented on #15282
@Karishma-Tiwari-MSFT: Thank you for the confirmation. I took the liberty of creating a PR (#17490) that removes this misleading mention from the documentation, so others don't have to spend time wondering how to access it.

Hopefully there aren't too many other features documented that don't actually exist.

[2018-10-24 07:33] nkolchakov commented on #17223
Ok, I understand.

Well, since my only issue using the extension was that it doesn't refresh Dockerfile after adding project references, but I found a workaround for it I started using the extension again and debug from it.

Thanks for the time, I'm closing the issue.

[2018-10-24 07:33] #17223 closed

[2018-10-24 07:40] BasvanH commented on #12701
The unassigment happend during the outages of Github. Was not my doing.

[2018-10-24 07:47] mcurko opened #17491 "Suggestion"
At this point it would be great to explain why do we access new directory via "All services in the top-left corner of the Azure portal - Azure AD B2C" instead of  via "https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade", and how do these interact.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2018-10-24 07:49] akx commented on #15283
Hi @MicahMcKittrick-MSFT, since #15282 was closed without mention of this problem, can this be reopened?

[2018-10-24 07:52] paulmackinnon-adv365 commented on #17417
@MicahMcKittrick-MSFT , I would have assumed that the plugins supplied by Jenkins would have arranged the required components to be installed within itself. If this is not the case, then perhaps the documentation needs to be amended?

[2018-10-24 07:55] jakaruna-MSFT commented on #17464
@TiloGit I hope you are asking about the support for "[subPath](https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath)" from Kubernetes in Container instances.  I think that's not supported in Container instances. If we need that feature, we can use [Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/).
I will add the author to provide more information.

[2018-10-24 08:08] sujithq opened #17492 "How to apply to an AKS instead of VM?"
Can this be done for an AKS instead of VM? We use a Traefik as ingress controller.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d404ca02-47ed-d3c9-bf4e-52cd0b0d61ba
* Version Independent ID: 5fadfbea-ddcb-8342-32b3-00a8595f3437
* Content: [Configure end-to-end SSL with Azure Application Gateway](https://docs.microsof

[2018-10-24 08:11] YoannGUILLO opened #17493 "Error in the "Configure network rules" example code"
In the following example :
$NetRuleCollection = New-AzureRmFirewallNetworkRuleCollection -Name RCNet01 -Priority 100 `
   -Rule $Rule1,$Rule2,$Rule3 -ActionType "Allow"
$Azfw.NetworkRuleCollections = $NetRuleCollection
Set-AzureRmFirewall -AzureFirewall $Azfw

$Rule2 doesn't exist so during the execution an error appear.

Furthermore in the following example, shouldn't we replace $SNOnpremPrefix b

[2018-10-24 08:13] panoschatz commented on #17424
The error is a result of the below command (as one line and using the correct values as input):

az vm create\
   -g myGalleryRG \
   -n myVM \
   --image "/subscriptions/<subscription-ID>/resourceGroups/myGalleryRG/providers/Microsoft.Compute/galleries/myGallery/images/myImageDefinition/versions/1.0.0"

Prior to that, I'm using all the previous commands mentioned in the article to create the imag

[2018-10-24 08:18] rajbos commented on #17205
@PramodValavala-MSFT , great, I've found it! That took longer then needed :-). Never noticed that the resource had to be changed there as well, maybe that's something to add to the documentation.  Specifically add the part that you need to  change the resource from **application insights** to the App Service Plan, because I thought I already was there..

[2018-10-24 08:22] jakaruna-MSFT commented on #17452
@mexidus Same script works for OS disks also.  Obviously the machine to which the disk is attached has to be in stopped state. If its running, you will get an error.
You can use "StandardSSD_LRS" as the storage type for standatrd SSD.

[2018-10-24 08:40] casalam opened #17494 "Issues with Step 15"
I am still unable to see parameters on copy activity , please fix this issue on the UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b540c63f-66b3-d07d-b3a8-284de931176d
* Version Independent ID: 4002e018-4320-c978-061d-080d89761c8e
* Content: [Incrementally copy multiple tables by using Azure Data Factory](https://d

[2018-10-24 08:44] mcurko opened #17495 "Error"
1. Index.js, not Index.html
2. Call API results in "Unauthorized"; how is the desktop app supposed to work without changing references to "fabricam..." in App.xaml.cs ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df26c5f6-63b9-d281-5724-c0731546b087
* Version Independent ID: 239bf87c-fcf0-b35e-744d-fecbb55501e4
* Co

[2018-10-24 08:49] martinjosephogorman opened #17497 "Vnet peering across Tenants"
Getting the below error trying all the way possible to peer across tenants.  Any ideas

"however the current tenant is not authorized to access linked subscription"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52fe18fe-efc5-3e63-8200-8e20e885b55e
* Version Independent ID: 86a4f465-d676-e0e4-7367-2ed9f906340a
* Conten

[2018-10-24 08:50] salviri commented on #17127
Thanks @beavel it worked for me too.

[2018-10-24 08:51] esin commented on #17397
It's logical, I'm agree with you.

But from document [https://docs.microsoft.com/en-us/azure/aks/scale-cluster](url) it seems hard to understand. Could you please add something in square brackets about nodepool name?

Thank you

[2018-10-24 08:58] nmarchini opened #17498 "This doesn't help users who don't access Cloudyn through Azure portal"
I am accessing Cloudy via the URL https://app.cloudyn.com/. I don't have an Azure account and need to contact support. How do I do this as the docs refer to going via the Azure portal

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9010ecd-a63f-511d-1432-6a392edf21ef
* Version Independent ID: d2cb1c06-7c9d-dd93-11a6-7c

[2018-10-24 08:59] christianarg commented on #16643
@anosov1960 your'e wrong. Feel free to re read my comment: We have a customer that with the default Premium retention FROM DTU MODEL (35 days) is getting charged because it has a large database.

The charges started 1 July 2018 just as the FAQ states. The FAQ does clarify when it's only about vCore, and the backup FAQ applies both to DTU and vCore.

It's not an opinion. MY CUSTOMER IS GETTING BILL

[2018-10-24 09:00] mschwit opened #17499 "Phone number for Azure Security Center contact required"
It is necessary to set a phone number for Security Contacts in Azure Security Center via Powershell . This is not the case when setting Security Contacts via Azure Portal. It should be the same behavior when using Powershell and the Azure Portal.
In our case we cannot always provide a phone number as we are also using non personalized mailboxes for Security Contacts mail. They don't have a phone n

[2018-10-24 09:01] rayne-wiselman commented on #15369
Hi, this article is correct in that it still calls out the feature as in preview.
#please-close

[2018-10-24 09:04] PramodValavala-MSFT commented on #17207
@abhinav-jain09 Just following up... Does my comment help resolve your issue?

[2018-10-24 09:08] mqasem92 opened #17500 "How to Read External DLLs in SSIS Package After Deploying in Azure Data Factory Using Integration Runtime"
Could you please explain more how to register dll, specially how dealing with main.cmd?

Thanks

[2018-10-24 09:09] #17500 closed

[2018-10-24 09:09] abhinav-jain09 commented on #17207
Yes it resolved the issue

On Wed, 24 Oct 2018 at 11:05, Pramod Valavala <notifications@github.com>
wrote:

--
Sent from Iphone

[2018-10-24 09:10] rayne-wiselman commented on #16941
@Klaas Hi, can you confirm whether this is still an issue? did the script run successfully with the windows linefeeds?

[2018-10-24 09:10] mqasem92 opened #17501 "How to Read External DLLs in SSIS Package After Deploying in Azure Data Factory Using Integration Runtime"
0
down vote
favorite
I created a SSIS package where i am using external dlls [Newtonsoft.Json.dll] in my script component but those dll's where unable to load even if i run that package from Visual studio so then i decided to store those dll files on the machine drive in C drive. And have written a C# code to load those dlls using c drive in my package's script component so then it is working prop

[2018-10-24 09:13] rayne-wiselman commented on #16758
Please assign to @tjvishnu

[2018-10-24 09:15] rayne-wiselman commented on #16700
@Adam-Smith-MSFT  Hi, please assign to me

[2018-10-24 09:17] rayne-wiselman commented on #16501
@Adam-Smith-MSFT Please assign to me

[2018-10-24 09:18] femsulu commented on #17487
@srini1978 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-24 09:19] femsulu commented on #17209
Thanks @MGoedtel

@mlamb1966 Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-10-24 09:19] #17209 closed

[2018-10-24 09:24] ironicLemon opened #17502 "net use command asking for a username and password"
I've followed the instructions in the preview [https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-enable](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-enable), but when on the final step, Mount a file share from a domain-joined VM, I RDP to the VM with my domain account, run the command:
[code]

I was expecting it so use my AD

[2018-10-24 09:31] femsulu commented on #17401
@nmarchini I just received an update that AWS support is currently in Private preview. The plan is to be in Public preview by the first quarter of 2019. If you are interested in joining the ongoing private preview , please send mail to AzCommunity@microsoft.com with your subscription details and a link to this GitHub issue (for context) and I will connect you directly with the feature owner.

Chee

[2018-10-24 09:32] r3m4k3 commented on #14348
The error still occurs indeed. I don't think that closing that issue resolves it automatically, it should be fixed instead. The problem is very common, as you have said before.
Any update on this?

[2018-10-24 09:34] PramodValavala-MSFT commented on #17207
@abhinav-jain09 Glad that helped!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-24 09:34] #17207 closed

[2018-10-24 09:42] nmarchini commented on #17401
Thanks, are there any public details of what the new feature set will be for the new platform?

[2018-10-24 10:04] jmservera opened #17503 "Missing notebook widget activation"
In order to see the azureml.train.widgets I needed to activate them by running these two lines:

jupyter nbextension install --py azureml.train.widgets --user
jupyter nbextension enable --py azureml.train.widgets --user

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c6907a-8658-f29b-cce9-6af0a359f26b
* Version Indepe

[2018-10-24 10:04] jinshu1987 opened #17504 "Bearer Token Expiration issue while configuring SCIM"
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/use-scim-to-provision-users-and-groups

Point 7 under 'To connect an application that supports SCIM' says 'If the SCIM endpoint requires an OAuth bearer token from an issuer other than Azure AD, then copy the required OAuth bearer token into the optional Secret Token field.'

Bearer tokens typically have an expiration date/time. H

[2018-10-24 10:07] klaas commented on #16941
Please don't @ me about this issue.

[2018-10-24 10:11] femsulu commented on #17401
@nmarchini Not that i'm aware off. Would strongly recommend participating in the Preview to connect directly with the feature team for more details on feature roadmap.

[2018-10-24 10:36] rayne-wiselman commented on #16941
Re: Please don't @ me about this issue - my apologies.

I'll close this for now since it doesn't seem to be an issue with the article itself. If you have any further comments let me know and I'll follow up. Thanks!

[2018-10-24 10:49] alessandro-avila commented on #14510
Hi @archergod, the high fidelity map for India should be available soon; anyway, I suggest you to subscribe to Azure Updates notifications to stay informed about important Azure product updates, roadmap, and announcements, so you don't need to wait on this thread. Here's the link: https://azure.microsoft.com/en-us/updates

[2018-10-24 10:50] sergaz-msft commented on #17445
@zambottivinicius thank you for your feedback! Are you under a proxy? Please check the following article: [Configure an IoT Edge device to communicate through a proxy server](Configure an IoT Edge device to communicate through a proxy server)

Thank you!

[2018-10-24 11:01] cmeyertons commented on #17220
I'm running

[code]

my acr is currently set up under the Basic sku:
[code]

I was trying to get my registry open in the Docker explorer in VS code and was able to get around this issue by installing the `Azure Account` extension

[2018-10-24 11:17] RipinAggarwal commented on #17405
Thanks for the clarification.

[2018-10-24 11:20] paulowendevelopment commented on #17089
I get the same Status: 500 Internal Server Error
2018-10-24T11:19:07.510 [Error] run.csx(17,15): error CS1501: No overload for method 'CreateResponse' takes 2 arguments

[2018-10-24 11:45] HansWieserMS opened #17505 "Please make the RU provisioing at DB level stand out"
Hi, as we migrate more and more MongoDB accounts, we want to avoid runnning into repoeating problems like provisioning at collection level. It might be wortwhile having a side bar like
MongoDB recommends to store entity data in collections. To achieve better scaling and cost efficiency, on CosmosDB you may want to colocate entites of comparable size and provision RU at DB level.
(just my poor man'

[2018-10-24 11:50] koman commented on #17216
That did help greatly. Thank you.

[2018-10-24 11:52] atrauzzi commented on #17159
I can access it as an administrator. Its my co-administrators and billing users that can't.

I'm on pay as you go. I'm not doing anything out of the ordinary here.

[2018-10-24 11:55] bsocca commented on #13760
Hi,
I have the same question than @thuansoldier.
Can I restrict the access to Azure Portal and Azure REST API using the Azure Management app ad configuring the Conditional Access in AAD ?
Thx

[2018-10-24 11:59] BaAlexandru opened #17507 "Speech Service REST APIs ogg format PUT request"
Hey there,

I read the documentation about REST API from this [link](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-apis) I try to integrate this service in my application and with the .wav files, it works pretty well but for .ogg files, there is written that REST API support it with a PUT request. I think there is a mistake it should be POST.

<img width="516" alt="

[2018-10-24 12:01] jakaruna-MSFT commented on #17360
@bob999c Please you let us know the version of your AKS cluster

[2018-10-24 12:15] PramodValavala-MSFT commented on #17205
@rajbos Glad that helped!

We have assigned this issue to the author who will review and update the doc accordingly.

[2018-10-24 12:27] longnlp opened #17508 "Is there any scope limited based on the app password?"
Hi
As I know, the app password works for exchange online, SharePoint online. Does it work for Dynamic CRM or any other products?

And is it possible to use the app password to access the active directory to retrieve the user and group information?
Thank you.
Long

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-

[2018-10-24 12:39] #14694 closed

[2018-10-24 12:44] jakaruna-MSFT commented on #17402
@dima-fedotovs Thank you very much for pointing this out.
I followed the same document and I faced the same error.
Actually the problem occurs when we try to fetch the static ip through the command `az network public-ip list --resource-group <resource group name> --query [0].ipAddress --output tsv`
Please note that it returns the first public-ip from the list.
In a cluster we will have many public

[2018-10-24 13:05] HassanKheireddine commented on #8899
Is there any change necessary on the back-end side to support FCM if we are using Microsoft.Azure.NotificationHubs ?

[2018-10-24 13:07] maheshdadhich12 commented on #6119
Hello , I am using Data Factory v1. I have to pass file name dynamically. I tried below option
"fileName": {
"value": "@concat(formatDateTime(utcnow(),'yyyy'),'-', formatDateTime(utcnow(),'MM'),'-',formatDateTime(utcnow(),'dd'), '-','Depot.CSV')"
"type" : "Expression"
},
My file name is : yyyy-MM-dd-Depots.CSV
yyyy-MM-dd is cittent date.
Above expression is not working . Please suggest how to pass

[2018-10-24 13:28] snehithm commented on #17218
Hi @PaulSells,
We are working on this. At this point, mid to end of November is the ETA.

[2018-10-24 13:42] salviri commented on #17127
@Grace-MacJones-MSFT I am doing a prototype here with a web app integrated with a VNet in northeurope, then peered that VNet with another one in West Europe, there I have a database server hosted on a VM. But I cannot access it from the web app. Is it because peering doesn't work with VNet integration or VNet peering across two regions doesn't work?

[2018-10-24 13:50] SychevIgor opened #17510 "Application Insights for Actors"
If it's possible- add an information how to monitor reliable actors with Application Insights.
It's easy to find a guide for Reliable Services https://github.com/Microsoft/ApplicationInsights-ServiceFabric , but unclear- how we should do it for Actors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ce1dae0-2d3e-f7ec-3d

[2018-10-24 13:53] sergaz-msft commented on #17477
@formulahendry thanks for asking. Please have a look at the azure iot sdk C github repository: https://github.com/Azure/azure-iot-sdk-c/tree/master/iothub_client

Thanks!

[2018-10-24 13:53] SychevIgor opened #17511 "Could you use Application Insights instead of AI?"
In 2018 under AI usually assumed- Artificial Intelligent, not Application Insights.
When we are using AI -it's a bit frustrating

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd08fcdd-5dd5-41b5-c433-049510ccf027
* Version Independent ID: 83c2cef2-00a2-ce6b-3ccb-0471a9cdf18f
* Content: [Azure Service Fabric Event Analy

[2018-10-24 14:03] baywet opened #17512 "OperationTimedOut error core is not documented"
Getting the following error
[code]
Having some pointers to what could be causing the timeout would help a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a114cf0c-a1a0-f73d-f8d2-0f16d62b1e86
* Version Independent ID: 203548b7-824f-eb7a-ca5b-e4cfec2c6d51
* Content: [Troubleshoot common Azure deployment errors](https

[2018-10-24 14:03] sergaz-msft commented on #17489
Thank you for your feedback @VercammenG . Can you please confirm that you have met all the Prerequisites?

![image](https://user-images.githubusercontent.com/22173500/47436196-ed8bce80-d79d-11e8-96d5-88ee81e9b9fd.png)

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-24 14:07] sergaz-msft commented on #17422
Thank you for providing your troubleshooting @swpalmer. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-24 14:07] #17422 closed

[2018-10-24 14:08] VercammenG commented on #17489
Hello @sergaz-msft,

I have doublechecked if all requirements are met, and they are indeed.

[2018-10-24 14:30] kung-foo opened #17514 "How can I utilize an HTTPS forward proxy?"
I can set hostname name and port, but there doesn't seem to be any way to proxy via TLS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f
* Version Independent ID: 3af5fa49-7bd4-18ce-f8dc-aa4a2b8c6478
* Content: [Create a self-hosted integration runtime in Azure Data Factory](https://

[2018-10-24 14:30] sergaz-msft commented on #17477
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-24 14:42] RogerFraserZa commented on #16613
Hi @GuuB I am also following this tutorial and have exactly the same issue .

Iothub Message Routing -> Add
Click Add next to endpoint Select service bus queue
Endpoint name CriticalQueue ,Select drop down Service bus and queue
Click create it returns back to the Message Routing add form shows :Success
16:41
Successfully created service bus endpoint: 'CriticalQueue'.

but does not populate the end

[2018-10-24 14:42] tFable commented on #17237
Hey @georgewallace,

Thanks for the input. It is good to know that the doc will be updated to show a way to enable Microsoft Updates via powershell. That is something we're already doing in our environment.

That said, I'm referring to something else.

The issue is with updates that are categorized as "Optional" in the Microsoft Update channel. Currently, Azure Update Management does not consider

[2018-10-24 14:43] sergaz-msft commented on #17324
@dominicbetts are the updates to the doc considering the case described by @mf-fm ? Thanks.

[2018-10-24 14:43] jpconnock commented on #17125
Thanks for raising this question, @JeanQian

I see that the PS command that Karishma shared to determine the available sizes appears at the end of this article.

You also asked "May I know why it is only supported by ARM VM?"  Are you asking about the availability of a particular size?

[2018-10-24 14:48] sergaz-msft commented on #17327
@dominicbetts can you confirm the minimum requisites for dps_cstr tool ? Couldn't find it [here](https://github.com/Azure/dps-keygen).

Thank you!

[2018-10-24 14:51] sergaz-msft commented on #17332
Hello @olavt . The format used is Avro. See the following doc: [Query Avro data by using Azure Data Lake Analytics](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-query-avro-data)

@robinsh can we add a note on [this](https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-routing) doc mentioning that the format used is Avro?

Thanks!

[2018-10-24 15:01] rahejaps opened #17515 "Powershell"
The title refers to using PowerShell, however, these AWS CLI commands.  Please provide Powershell cmdlets to do the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ade032b-33a4-739a-0be4-ce84b0a154c5
* Version Independent ID: 2079c932-1bae-238e-2861-b76c3cf0a8a0
* Content: [Move a Windows AWS VMs to Azure](https:

[2018-10-24 15:10] Ellenprater opened #17516 "Cisco ASA Route based configuration"
Our Cisco ASA "route-based" configuration link goes to the article "Sample configuration: Cisco ASA device (IKEv2/no BGP)"https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-3rdparty-device-config-cisco-asa.  This article explains how to set up the ASA with Policy based traffic selectors to work with our route-based gateway.  I had a customer state this is "clear as mud" as they wanted

[2018-10-24 15:11] dyesuron commented on #15588
Still not working to move managed disks to another subscription. Followed the guide step by step but Azure portal is still showing the same message.

[2018-10-24 15:20] jpetitte opened #17517 "Is this the recommended/supported method for custom language models?"
I noticed that in my Azure Portal I see a resource called "Custom Speech (preview)", and when I check the pricing page, there is a link directing me to this set of documentation. Should I be working via the "Speech Services Portal" as described above, or "Custom Speech (preview)"?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-10-24 15:40] porrascarlos802018 opened #17520 "steps required for scenario"
hello Jagadeesh,  I have a customer trying to archive this "Send task-based workload output from container instances to a database in the virtual network" do you have a guide or documentation on how to do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e00caf-dd95-441b-d2d5-0b3c979cb11b
* Version Independent ID: 8

[2018-10-24 15:41] ChackDan commented on #14348
I have talked to Alex to followup on this , so that the experience is properly validated. Please assign this worktime to aljo .
he will followup with the team and file the necessary workitems.
Please repen the issue. and mark is as "defect"

[2018-10-24 15:41] JasonBSteele commented on #17162
@shae-hurst, thanks you for the explanation - that does make it much clearer. It would be great if this could be added to the documentation to make it clear that Triggers don't support this feature and why.

[2018-10-24 15:44] TiloGit commented on #17464
@jakaruna-MSFT , yes I was looking for a feature like AKS has.

Example I have Azure File Share like
[code]

and want to mount this in Azure Container Instance like
[code]

[2018-10-24 15:51] iainfoulds commented on #17132
During the current preview, managed identities are only available for Linux containers, as noted in the doc. Managed identity support for Windows is on-going.

CC: @dlepow @jluk

[2018-10-24 15:58] Jatinder-Luthra opened #17522 "Unable to create disk using snapshotID from CLI"
I am following this documentation to create VM from snapshot.

https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-linux-cli-sample-create-vm-from-snapshot

This command is failing with error`Resource <snapname> is not found`

`az disk create --resource-group $resourceGroupName --name $osDiskName --sku $storageType --size-gb $diskSize --source $snapshotId `

I tried ru

[2018-10-24 15:59] NJArcher opened #17523 "How do you enable it?"
The article doesn't seem to actual mention how you enable?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd5fd02e-6f34-8301-ac3d-023c8aa95fce
* Version Independent ID: 8e12cb08-cd75-f52c-6e15-6b14a5adc3b3
* Content: [Azure AD Connect sync: Enable AD recycle bin](https://docs.microsoft.com/en-us/azure/active-directory/

[2018-10-24 16:11] Minewiskan commented on #12310
No reponse. #please-close

[2018-10-24 16:11] anosov1960 commented on #6760
For this case, I recommend using Azure Monitor. It already has activity logs which contains information on who made the request. Customers could set up an activity alert base on following doc.
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-create-activity-log-alerts-with-resource-manager-template?toc=/azure/azure-monitor/toc.json. For example, you can set up a LTR bac

[2018-10-24 16:14] shae-hurst commented on #17162
Yes I will add a short comment about this to the doc. Thanks for the feedback!

[2018-10-24 16:19] Mike-Ubezzi-MSFT commented on #17505
@HansWieserMS Thank you for the detailed feedback. I have assigned this to the content author to evaluate and update as appropriate. Thank you!

[2018-10-24 16:22] Mike-Ubezzi-MSFT commented on #17485
@christopheranderson Thank you very much for pointing this out. I have assigned this to the content author to update.

 ![alt text](https://wtv3.blob.core.windows.net/media/Screenshot (477).png?sv=2017-04-17&sr=b&sig=l95zT6wc3WoP2CsAAQzNUWzxkj74WOuZ0xA9%2FQCNc1g%3D&st=2018-10-24T16%3A17%3A48Z&se=2021-10-24T16%3A22%3A48Z&sp=rw "Screenshot (477).png")

[2018-10-24 16:29] jason-j-MSFT commented on #17481
@dcbrown16
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-24 16:32] #17218 closed

[2018-10-24 16:33] srrengar commented on #17511
good point! @rwike77 can we make this change

[2018-10-24 16:33] MicahMcKittrick-MSFT commented on #17397
@esin we will assign to the author to review and see how we can update the doc

[2018-10-24 16:40] YutongTie-MSFT commented on #17504
@jinshu1987 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-24 16:42] YutongTie-MSFT commented on #17502
@ironicLemon Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-24 16:44] YutongTie-MSFT commented on #17507
@BaAlexandru Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@erhopf Hi, can you please check it? Thanks.

[2018-10-24 16:45] Mike-Ubezzi-MSFT commented on #17503
@jmservera Thank you very much for the detailed feedback. I have assigned this to the content owner to evaluate and update as appropriate.

[2018-10-24 16:46] YutongTie-MSFT commented on #17488
@rightsmith Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-24 16:46] Mike-Ubezzi-MSFT commented on #17503
[This is a test!](https://github.com/MicrosoftDocs/azure-docs/issues/17503)

[2018-10-24 16:47] YutongTie-MSFT commented on #17486
@srini1978 Can you provide more information about what issue you are suffering? what document you are using? Thanks a lot!

[2018-10-24 16:47] jwashbur79 commented on #17253
Hi Guys, would you suggest that I use Azure CLI instead of using PowerShell from my PC? I created this alert using the template as is, and I received like 200+ emails in a matter of hours. I need to limit the template to specific resource group for this to be effective. I only want alerts when VMs become unavailable. Thanks!

[2018-10-24 16:48] YutongTie-MSFT commented on #17472
@dharmeshtailor Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-24 16:49] YutongTie-MSFT commented on #17500
@mqasem92 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-24 16:49] YutongTie-MSFT commented on #17470
@Joyw1 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-24 16:51] YutongTie-MSFT commented on #17501
@mqasem92 Can you please provide more information about what document you are referring to? Thanks a lot!

[2018-10-24 16:54] Karishma-Tiwari-MSFT commented on #17511
@srrengar@SychevIgor I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-24 17:01] YutongTie-MSFT commented on #17517
@jpetitte Hi, please use Speech Service Portal.

@PanosPeriorellis Is there anything we can do to make it less confusing for our customer? I find that if I open Speech Service Portal, the name of the page is -- custom speech. Thanks.

[2018-10-24 17:02] #17458 closed

[2018-10-24 17:03] erhopf commented on #17507
@BaAlexandru - You're correct. I just tested as a `POST` request and it works like a charm. We're going to schedule an update to the documentation. Thanks for your contribution!

@YutongTie-MSFT - Please close. I'm in the process of patching the documentation.

[2018-10-24 17:04] Karishma-Tiwari-MSFT commented on #17522
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-24 17:05] YutongTie-MSFT commented on #17249
@jpe316 Hi, can you please check the document and update it as necessary? Thanks a lot!

[2018-10-24 17:05] jfoshee opened #17524 "Missing definition of variable 'storageAccountid'"
`variables('storageAccountid')` is used to build the storage connection string, but it is not defined anywhere.  The simplest thing might be to include the _complete_ ARM template at the end of the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ba8817-3e01-7e84-6c71-b98b131f2927
* Version Independent ID: a77

[2018-10-24 17:05] MarkusVi commented on #17426
Hi @martinagrom, thanks for catching this.
I have staged an update for this.

#please-close

[2018-10-24 17:06] Karishma-Tiwari-MSFT commented on #17515
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-24 17:06] bob999c commented on #17360
AKS 1.11.2.

[2018-10-24 17:07] Karishma-Tiwari-MSFT commented on #17510
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-24 17:08] SaurabhSharma-MSFT commented on #17508
@longnlp Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-24 17:09] SaurabhSharma-MSFT commented on #17499
@mschwit Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-24 17:09] MarileeTurscak-MSFT commented on #17495
@mcurko Thanks for the reply! We will investigate and update as appropriate.

[2018-10-24 17:11] Adam-Smith-MSFT commented on #16700
@rayne-wiselman thank you!

[2018-10-24 17:11] MarileeTurscak-MSFT commented on #17491
@mcurko Thanks for your reply! We will investigate and update as appropriate.

[2018-10-24 17:14] PramodValavala-MSFT commented on #17162
@shae-hurst Thanks for helping out! I am assigning this issue to you.

@JasonBSteele Thanks for contributing to MS Docs! We will be assigning this issue to the author to update accordingly.

[2018-10-24 17:14] Grace-MacJones-MSFT commented on #17429
Hi @xtianus79, just checking in to see if the above comment helped you?

[2018-10-24 17:16] MarileeTurscak-MSFT commented on #17523
@NJArcher thanks for your reply! We will investigate and update as appropriate.

[2018-10-24 17:17] Adam-Smith-MSFT commented on #17309
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-24 17:17] #17309 closed

[2018-10-24 17:21] #17304 closed

[2018-10-24 17:31] arluca commented on #8096
@cbrianball : Apologies for the delay in response. The schedule is 45 days.

[2018-10-24 17:39] PatrickFarley commented on #16475
@YutongTie-MSFT Hi,
Which document was the user following when they ran into this bug? I'm unable to open the link above: https://github.com/MicrosoftDocs/azure-docs/issue_comments#issuecomment-428159403

[2018-10-24 17:49] ecfan commented on #17268
@justinyoo Thanks for reporting this issue! Did Kevin's solution help? I've also created a doc work item to address this scenario.

CC: @kevinlam1

[2018-10-24 18:01] Moodu opened #17525 "Where is the return handling part of the example?"
Looking at the following documentation:
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-web-activity

Is it me or is there no real code on how to capture the Instance name in the example. Example has
"returns the name of the instance of SQL server. "

There is no real code in the article to capture that in the ADF pipeline. Can you update the example code to show capturing the ret

[2018-10-24 18:04] SaurabhSharma-MSFT commented on #17484
@jseerden Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-24 18:09] MikeChristensen opened #17526 "How do we see the URL after the app has been deployed?"
When we deploy, we see the message "The application was deployed successfully and it can be accessed at xxxxxxx".  How can we find this URL again later if say, we forgot to write it down or something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d144f2b-a0a4-d8cd-d6b0-7ca75d4890fc
* Version Independent ID: e022f907-

[2018-10-24 18:11] Adam-Smith-MSFT commented on #17471
@andrewatfornax Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-24 18:12] mbialecka commented on #17351
@sandervandevelde Do you see anything in docker logs for the container (docker logs <module name>)? Can you also check the contents of /srv/containerdata (sudo ls -R /srv/containerdata) and if it exists, share contents of /srv/containerdata/logs/platformblob.log?

[2018-10-24 18:20] mlwhite4 commented on #17443
@MarileeTurscak-MSFT  I'm not seeing a video or link included in your comment.  Woulld you mind sending the URL directly to me?

[2018-10-24 18:31] dlepow commented on #16748
This feedback is all very helpful. I am submitting a pull request with a small doc update to clarify the current behavior and suggested workaround.

[2018-10-24 18:35] Rahtoken opened #17530 "Fix ZipDeploy URL"
The updated ZipDeploy URL is https://&lt;app_name&gt;.scm.azurewebsites.net/ZipDeployUI .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b88927e54
* Content: [Create a Node.js web app in Azure](https://docs.microsoft.com/en-us/azu

[2018-10-24 18:39] Karishma-Tiwari-MSFT commented on #17520
Thanks for the question. We are currently investigating and will update you shortly.

[2018-10-24 18:39] TravisCragg-MSFT commented on #17516
@Ellenprater Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-24 18:41] CHDAFNI-MSFT opened #17531 "Customer DNS - App Svc hostname point to ILB?"
Under section https://docs.microsoft.com/en-us/azure/app-service/environment/network-info#customer-dns - clarify what should be set in customer DNS to satisfy the DNS requirements of the ASE. For example, do all app service hostnames need to resolve to the Internal ASE load balancer IP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-10-24 18:41] TravisCragg-MSFT commented on #17497
@martinjosephogorman are you doing this in cloud shell? as referenced in #16791, it has issues switching to a different tenant.

[2018-10-24 18:42] TravisCragg-MSFT commented on #17493
@YoannGUILLO Thanks for the feedback! You are correct, there is no $rule2.

 I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-24 18:45] PatrickFarley commented on #9196
@sanjeev3 , I've just encountered this bug myself, which is how I found this thread. Where can I find the code defining the ImageUrl class?

Related quickstart: https://review.docs.microsoft.com/en-us/azure/cognitive-services/content-moderator/image-moderation-quickstart-dotnet?branch=master

[2018-10-24 18:45] Karishma-Tiwari-MSFT commented on #17515
@cynthn It looks like the title of the doc says 'using PowerShell', but we are not sharing PowerShell commands. Can you please take a look at this one and make updates as necessary.

[2018-10-24 18:46] TravisCragg-MSFT commented on #17468
@markgar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-24 18:53] Karishma-Tiwari-MSFT commented on #10488
@CawaMS I think customers are looking for a document on how to deploy cloud services using PowerShell.
Currently we have docs to achieve the same using Visual Studio as described in [this issue](https://github.com/MicrosoftDocs/azure-docs/issues/17409) opened by customer.
Either we need a new document on this or a doc enhancement to one of the existing docs on steps to deploy cloud services.

[2018-10-24 18:55] TravisCragg-MSFT commented on #17492
@sujithq it is possible to do SSL termination with an Application Gateway and AKS, but I am unsure if you can use SSL between an Application Gateway and AKS.

do you just need the SSL offload, or do you want the end to end SSL?

[2018-10-24 18:57] TravisCragg-MSFT commented on #12310
@GaretAnderson We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-24 18:57] #12310 closed

[2018-10-24 18:57] MarileeTurscak-MSFT commented on #17523
Since this article is focused on Azure and the recycle bin is enabled in the on-premises environment, the documentation for this is separate.

Please see [this document](https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/get-started/adac/introduction-to-active-directory-administrative-center-enhancements--level-100-#bkmk_enable_recycle_bin) that covers how to enable it in Active Direct

[2018-10-24 18:58] MarileeTurscak-MSFT commented on #17523
We will proceed to close this thread. Please leave a comment and tag me in it if you have further questions and I will gladly continue the discussion.

[2018-10-24 18:58] #17523 closed

[2018-10-24 19:02] alexmarshall132 opened #17533 "Documentation for the executionContext object"
Please add documentation for the executionContext object and the properties it provides.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 411be9a3-a430-4a49-9730-11b4e9d5b512
* Version Independent ID: c9c58d4b-e391-c128-5616-421a69228b4d
* Content: [How to use user-defined functions in Azure Digital Twins](https://docs.m

[2018-10-24 19:04] Mike-Ubezzi-MSFT commented on #16997
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-24 19:04] #16997 closed

[2018-10-24 19:11] MicrosoftGuyJFlo commented on #17453
@hirokib I had a conversation with @eross-msft and we are going to remove the prerequisites section from the article and add a link to the overview topic in the next steps section in a private PR.

[2018-10-24 19:11] MicrosoftGuyJFlo commented on #17453
#please-close

[2018-10-24 19:16] MarileeTurscak-MSFT commented on #17495
Hi @mcurko , are you referring to a particular Github sample?

[2018-10-24 19:18] marcelotpcosta opened #17534 "Azure Active Directory Basic, Premium P1, or Premium P2 editions"
Where can I see and activate those editions? On Azure AD &gt; Licences &gt; All Products &gt; Buy/Try, I can see only "ENTERPRISE MOBILITY + SECURITY E5" and '"AZURE AD PREMIUM P2".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278fd397-b3b7-5192-47ff-b5c9edfa44b4
* Version Independent ID: 9ca42ebd-4ff2-226f-8bae-74fc

[2018-10-24 19:19] Muleguy opened #17535 "Supported Tokens?"
A list of supported tokens would be appreciated. Are the Gemalto IDProve tokens that were supported with MFA on-premise server supported for MFA cloud deployment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f408-162ee1baa076
* Version Independent ID: 41ed4874-e1e6-56d3-4de4-39c024d1e06c
* Content:

[2018-10-24 19:28] vhorne commented on #17416
@sijday See https://docs.microsoft.com/en-us/azure/firewall/log-analytics-samples

[2018-10-24 19:29] vhorne commented on #17416
#please-close

[2018-10-24 19:33] tFable commented on #16340
Hello @MGoedtel

Is there an update on this?

Thanks,
t

[2018-10-24 19:44] Adam-Smith-MSFT commented on #12088
@rayne-wiselman Thank you !

[2018-10-24 19:45] TravisCragg-MSFT commented on #17416
@sijday We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-24 19:45] #17416 closed

[2018-10-24 19:45] Mike-Ubezzi-MSFT commented on #17095
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-24 19:45] #17095 closed

[2018-10-24 19:49] timmyreilly opened #17536 "Use SQL Query to Query for a field besides id?"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2#http-trigger-get-multiple-docs-using-sqlquery-c

The link above has information about using a SQL query in the binding to query our cosmos db... Is there a way to query by a field other then id? If not can you make this clear in the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-10-24 19:59] Mike-Ubezzi-MSFT commented on #16980
@MattKravetz We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-24 19:59] #16980 closed

[2018-10-24 20:03] roygara commented on #16920
@dcbrown16 I was unable to get any solid answers as to why, so I'm just going to re-add what was cut from the section. Which was: "During a standard reboot of the VM, the data on the temporary drive should persist. However, there are cases where the data may not persist, such as moving to a new host. Accordingly, any data on the temp drive should not be data that is critical to the system. "

[2018-10-24 20:06] SaurabhSharma-MSFT commented on #17484
@jseerden You can use Graph API to invite the user without sending the invitation mail.  Please refer to https://stackoverflow.com/questions/50826513/send-direct-link-to-invite-b2b-user-in-azure-ad-enterprise-app for details.

[2018-10-24 20:09] erwinwildenburg commented on #15588
For anyone having this problem, I initially had the same problem.

I initially activated using the instructions on the destination subscription.
This resulted in the same error messages most have.

After that I applied the instructions on the source subscription.
This resulted in messages about Azure Backup, but this error message disappeared. I haven't disabled (and removed all restore points) ye

[2018-10-24 20:15] CawaMS commented on #10488
@JasonRShaver here is the feedback on missing instructions to deploy a Cloud Services App using Azure PowerShell. I suggested looking at cmdlet usage for New-AzureServices but it seems insufficient at this point.
@Karishma-Tiwari-MSFT can you help me to better understand the feedback here? How many customers requested for it? Is this a mandatory feedback to address or just a suggestion? There is d

[2018-10-24 20:15] MicahMcKittrick-MSFT commented on #16481
@gs9824 any update on this?

[2018-10-24 20:17] MicahMcKittrick-MSFT commented on #17220
@cmeyertons thanks for the update on this. You will always need to authenticate to Azure using Azure Account commands in order to communicate with your services.

If you have additional questions just let me know.

[2018-10-24 20:17] MicahMcKittrick-MSFT commented on #17252
@epa095 I will close this out for now. If you have follow up questions just let me know :)

[2018-10-24 20:17] #17252 closed

[2018-10-24 20:18] SaurabhSharma-MSFT commented on #17499
@mschwit Yes, -Phone is a mandatory parameter while using Set-AzureRmSecurityContact. Is it feasible for you to provide any dummy number to create the security contact for your scenario?
Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory and this will allow the community to up vote and for the product team to include into their plans. We also have the "G

[2018-10-24 20:19] MicahMcKittrick-MSFT commented on #17417
@paulmackinnon-adv365 we already have the prerequisites information in there that covers it. What else would you prefer to see?

CC @iainfoulds to take a look as well.

[2018-10-24 20:19] MicahMcKittrick-MSFT commented on #17420
@saurabhrajguru any update on this?

[2018-10-24 20:21] Mike-Ubezzi-MSFT commented on #17436
And what is the query you are attempting to use to return the data set? Is the data partitioned...multiple collections?
[Azure Cosmos DB SQL syntax reference](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sql-query-reference)

[2018-10-24 20:30] jeffgilb commented on #17428
#sign-off

[2018-10-24 20:35] lianetoohey commented on #17436
We're not using a query in the ODBC connector; we're sampling the entire collection, and it's not detecting all of our fields. Would it help if I shared the schema file? The data is not partitioned.

[2018-10-24 20:36] mschwit commented on #17499
Providing a dummy number sounds not feasible and good to me.
Assuming Microsoft or someone other would case this number in case of a security incident only makes sense if correct numbers are provided. Especially in the case of security related incidents where reaction time can be very critical.
Therefore it should be the same as in the Azure Portal and have the phone number optional.

[2018-10-24 20:37] maon1317 commented on #12299
Created a new ASP.NET application following the lab and got this issues

Deploy to local cluster

1>------ Build started: Project: Web1, Configuration: Debug Any CPU ------
1>Web1 -> C:\temp\Web1\bin\Debug\netcoreapp2.1\Web1.dll
1>Web1 -> C:\temp\Web1\bin\Debug\netcoreapp2.1\Web1.Views.dll
2>------ Build started: Project: MeshApplication, Configuration: Debug Any CPU ------
2>Ensuring previously d

[2018-10-24 20:43] kashimiz opened #17539 "System.Configuration.ConfigurationManager.AppSettings does not work in Functions v2"
Per this line: "The System.Configuration.ConfigurationManager.AppSettings property is an alternative API for getting app setting values"

Although the System.Configuration.ConfigurationManager.AppSettings and System.Configuration.ConfigurationManager.ConnectionStrings properties contain the appropriate key-value pairs for a function running on the v1 runtime, in the v2 runtime these properties con

[2018-10-24 20:45] vhorne commented on #17454
@CHDAFNI-MSFT
The CLI version for this article is in under the Tutorials heading. https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-url-route-cli

I added more cross-links in all three versions of the article to ensure that customers are aware of the different versions.

[2018-10-24 20:47] carldc commented on #17086
The "Cache Read" metric is the actual Mega Bytes / sec being read from the cache. The "Cache Write" metric is the actual Mega Bytes / sec being written to the cache.

The "Available bandwidth" column in the FAQ doc is the maximum observed outgoing bandwidth from the cache. We don't have a metric representing the max values at the moment.

[2018-10-24 20:48] SaurabhSharma-MSFT commented on #17499
@mschwit Yes, agree with you.  Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory and this will allow the community to up vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-10-24 20:54] #17402 closed

[2018-10-24 20:56] Mike-Ubezzi-MSFT commented on #17296
@dougeby Attempting to assign this issue to @devinb but unable to do so; not subscribed to this repo.

[2018-10-24 20:58] axisc commented on #15705
This begs for us to fix our documentation, which is happening soon.

There appears to be some confusion to pumps and partitions (with possible conflation of concepts). that is not the case.

SupportOrdering = True means One pump
Partition = True implies multiple message brokers.

SupportOrdering enabled will ensure that the single pump respects incoming order of messages and messages flow in the s

[2018-10-24 21:02] axisc commented on #14591
Encryption at rest is enabled by default on Service Bus. No action is needed by the customer.

we're fixing the documentation at this [link](https://docs.microsoft.com/en-us/azure/security/azure-security-encryption-atrest)

[2018-10-24 21:15] jseerden commented on #17484
@SaurabhSharma-MSFT, that is exactly what I’m already doing, however the invitee is not able to redeem it using a direct link (as per documentation) when it is an Azure AD identity in the partner organization. This works for external Azure AD identities, though.

[2018-10-24 21:16] mattbriggs commented on #12151
#please-close

[2018-10-24 21:16] dharmeshtailor commented on #17472
I had to kill yesterday's upgrade. Ran almost for 20 hours.
Not sure if this helps, but below are the timeouts during upgrades.

This one took 6:34 hours
[code]

This one I killed VSTS job at 9:30 hours but Upgrade still continued. Then I had to delete application using powershell.
[code]

I am suspecting The UpgradeDomainTimeOut value is the issue here.

This is article I followed, but I had to c

[2018-10-24 21:17] iainfoulds commented on #17417
Sounds like something in the Jenkins VM provisioning script didn't run if Docker and kubectl aren't installed. I can't replicate that behavior - I've ran through https://docs.microsoft.com/en-gb/azure/aks/jenkins-continuous-deployment#deploy-jenkins-to-an-azure-vm a couple of times, and each time the Jenkins VM is correctly deployed with Docker and kubectl as per the Custom Script Extension applie

[2018-10-24 21:18] mattbriggs commented on #12150
@aricbernard The text has been added. Thanks! #please-close

[2018-10-24 21:18] jason-j-MSFT commented on #16554
@ShubhaVijayasarathy could you take a look at this?

[2018-10-24 21:18] rboucher commented on #15703
@brnleehng Does this information help? Can we close this issue?

[2018-10-24 21:28] Mike-Ubezzi-MSFT commented on #17098
@rplumb
Okay, let me present a couple items before going to the product team, to determine if this is a bug. In the following documentation (below), there are some values that when set to zero, pass congestion control over to the BulkExecutor

[Bulk import data to Azure Cosmos DB](urhttps://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-dot-net#bulk-import-data-to-azure-cosmos-db

These pe

[2018-10-24 21:29] jason-j-MSFT commented on #17041
@bwren do you have any guidance on these items for now?

[2018-10-24 21:32] jason-j-MSFT commented on #17042
@swati8826 thanks for the question, could you ask it in the forums:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory

If you discover something we can add to the documentation, please add it to the comments and we will reopen the issue.

[2018-10-24 21:32] #17042 closed

[2018-10-24 21:33] Alberto-Vega-MSFT commented on #16998
@MarkAtAgilliance I couldn't find anything on the public facing docs about actions(). I have assigned the issue to the content author to evaluate and update as appropriate. Thanks again for your valuable feedback!

[2018-10-24 21:33] MicahMcKittrick-MSFT commented on #17472
@dharmeshtailor thanks for that. We actually use the Azure-Docs repo you opened this issue on to help identify doc bugs and doc enhancements on existing Azure Documentation. I am not familiar with managing your SF instances and deployment cycles using VSTS.

I also see the article you followed is a couple years old so it is very likely portions of it are out of date and I would not expect it to wo

[2018-10-24 21:33] #17472 closed

[2018-10-24 21:36] lianetoohey commented on #17436
I'm happy to provide that information, though I'm not sure I understand the relationship between bulk import and ODBC/Schema Editor so I'm not quite sure how to answer. We're doing this entirely through wizards if that makes a difference; this isn't in our application anywhere.

If we were customizing those values, would they be in the connection string? I don't think we're specifying them (maybe

[2018-10-24 21:37] dharmeshtailor commented on #17472
Oops Sorry, Think I posted in question in wrong place. :-(

[2018-10-24 21:39] MicahMcKittrick-MSFT commented on #17472
@dharmeshtailor no worries! If you post it anywhere else feel free to send the link here so I can try to help where possible as well

[2018-10-24 21:39] LisandroSu opened #17540 "Prérequis VS et .Net"
@mflpb commented on [Wed Oct 24 2018](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/190)

Bonjour,
J'aimerais savoir si Visual Studio 2017 est un prérequis ou si on peut utiliser une version de Visual Studio antérieur ?

Il y a t-il une version spécifique du framework .Net en prérequis ?

Merci d'avance,
Cordialement

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est

[2018-10-24 21:40] LisandroSu commented on #17540
Hi Team,

The user wants to know if Visual Studio 2017 is a prerequisite or can they use a previous version of Visual Studio?

Is there a specific version of the .Net framework as a prerequisite?

Thanks!

[2018-10-24 21:41] SaurabhSharma-MSFT commented on #17504
@jinshu1987 There is already a similar feedback available for SCIM provisioning at [Azure feedback site](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/31744375-scim-defects). Please upvote the same to help product team prioritize this to include into their plans.

[2018-10-24 21:41] jason-j-MSFT commented on #16818
@iFoton I have tested the Web Activity against different endpoints with basic authentication and it appears to be working fine.  We are closing this issue for now.  If you would like to continue the discussion, I invite you to start a thread in the forums here:
https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureDataFactory

Please provide as much detail as possible in your thread

[2018-10-24 21:41] #16818 closed

[2018-10-24 21:50] Grace-MacJones-MSFT commented on #17127
@salviri thanks for the additional information. The announcement states "Initially there are some things that will not work initially against the subnet used for VNet Integration.  They include peering, network security groups, and route tables." Currently, peering does not work with VNet integration but this capability, along with others will be gradually enabled during the preview period.

[2018-10-24 21:53] nmarchini commented on #17498
Thanks

[2018-10-24 21:57] CHDAFNI-MSFT opened #17541 "Product feedback URL - wrong link"
Clicking 'Product feedback' takes to the generic Azure feedback uservoice rather than the Azure Networking uservoice. The Azure Networking uservoice has a category for 'Azure Firewall' whereas the other doesn't. I feel it's important to make this change to ensure feedback can be captured in the correct category. Better link: https://feedback.azure.com/forums/217313-networking

---
#### Document De

[2018-10-24 21:59] MicrosoftGuyJFlo commented on #17535
@Muleguy as the article says Azure AD will support the use of OATH-TOTP SHA-1 tokens of the 30-second or 60-second variety. Customers can procure these tokens from the vendor of their choice.

You would need to work with your vendor to ensure that the tokens you wish to purchase meet that requirement. Microsoft does not maintain a list of tokens and the standards they support.

[2018-10-24 22:09] MicahMcKittrick-MSFT commented on #17526
Thanks for the question! We are investigating and will update you shortly.

[2018-10-24 22:11] YutongTie-MSFT commented on #17524
@jfoshee Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-24 22:15] YutongTie-MSFT commented on #17525
@Moodu Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@sharonlo101 Hi, can you please check this issue and update the document as necessary? Thanks a lot!

[2018-10-24 22:17] YutongTie-MSFT commented on #17536
@timmyreilly Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@ggailey777 Hi, can you please check this issue and update the document as necessary? Thanks a lot!

[2018-10-24 22:18] TravisCragg-MSFT commented on #15504
@hajjat there is currently no way to filter prefixes at this time. Please [leave your feedback Here](https://feedback.azure.com/forums/217313-networking) if you would like us to add this feature.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-24 22:18] #15504 closed

[2018-10-24 22:19] YutongTie-MSFT commented on #17533
@alexmarshall132
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

@alinamstanciu Hi, can you please check this issue and update the document as necessary? Thanks a lot!

[2018-10-24 22:19] #7580 closed

[2018-10-24 22:19] YutongTie-MSFT commented on #10959
@gmantri
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-24 22:19] #10959 closed

[2018-10-24 22:20] YutongTie-MSFT commented on #12799
@LisandroSu We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-24 22:20] #12799 closed

[2018-10-24 22:20] YutongTie-MSFT commented on #13570
@boomalator We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-24 22:20] #13570 closed

[2018-10-24 22:20] YutongTie-MSFT commented on #12920
@manmohan556 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-24 22:20] #12920 closed

[2018-10-24 22:21] YutongTie-MSFT commented on #15369
@softwarecraft We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-24 22:21] #15369 closed

[2018-10-24 22:21] YutongTie-MSFT commented on #15832
@JamesTerHark We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-24 22:21] #15832 closed

[2018-10-24 22:21] justinyoo commented on #17268
@ecfan Yes, that works!! Thanks @kevinlam1 !!

Actually, I wrote a blog post about this:
[https://devkimchi.com/2018/10/24/accessing-key-vault-from-logic-apps-with-managed-identity/](https://devkimchi.com/2018/10/24/accessing-key-vault-from-logic-apps-with-managed-identity/)

[2018-10-24 22:22] YutongTie-MSFT commented on #15896
@pebbledavec We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-24 22:22] #15896 closed

[2018-10-24 22:22] YutongTie-MSFT commented on #16278
@mdenieffe We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-24 22:22] #16278 closed

[2018-10-24 22:22] YutongTie-MSFT commented on #16715
@xNiklasJern We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-24 22:30] sandervandevelde commented on #17351
Hello, thanks for looking into this.

The blob module is not downloaded yet. So "docker logs blob -f" results in an empty line.
The log of edgeHub shows nothing regarding the new module.
The log of edgeAgent only shows the scheduled restarts:

2018-10-24 22:17:27.543 +00:00 [INF] - Plan execution started for deployment 84
2018-10-24 22:17:27.547 +00:00 [INF] - Executing command: "Command Group: (

[2018-10-24 22:31] Grace-MacJones-MSFT commented on #17530
Hi @Rahtoken, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-24 22:33] femsulu commented on #17512
@baywet Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2018-10-24 22:34] rboucher commented on #7294
@snehithm Can you take a look at this please?

[2018-10-24 22:35] TravisCragg-MSFT commented on #15710
@dcbrown16 this example adds the web apps by their FQDNs, not by the web app itself. You can add multiple FQDNs to a backend pool in the portal.

When you add an App Service in the portal, it just gets the FQDN of the webapp and uses it for the backend pool.

Does the portal describe the backend pool as a FQDN or a Web App?

[2018-10-24 22:37] femsulu commented on #17498
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-10-24 22:37] #17498 closed

[2018-10-24 22:39] justinchizer opened #17543 "Update YAML on Deployment"
When using K8s version 1.11.3 I had to update:
"---
apiVersion: extensions/v1
kind: Deployment"
to
"---
apiVersion: apps/v1
kind: Deployment"
In order for it to succeed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 301b44e3-4be7-6364-01b4-c2a55ff9b14a
* Version Independent ID: 62569967-65c6-ece6-2d1e-689a73dd59ca
* Co

[2018-10-24 22:44] MarileeTurscak-MSFT commented on #17534
Go to O365 Admin portal https://admin.microsoft.com/AdminPortal/Home#/catalog where you can find the Azure AD services for purchase on the page.

You need to log in with the tenant administrator global admin account, which needs to be the yourname@yourtenant.onmicrosoft.com account. Your regular email account will not work. Then you can go use the O365 admin portal and purchase the licenses there.

[2018-10-24 22:57] TravisCragg-MSFT commented on #17070
@rayne-wiselman I do not intend to update the article. Do you think it is needed?

[2018-10-24 22:58] TravisCragg-MSFT commented on #16469
@mcurko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-24 22:58] #16469 closed

[2018-10-24 23:03] TravisCragg-MSFT commented on #16956
@christophkarner The Tenant Offers & Plans has moved to the "All Services" area under "Offers". Have you already setup a Subscription Service?

[2018-10-24 23:03] femsulu commented on #17159
The accounts team will need to investigate this further to figure out how to unblock your co-admin.  follow [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) to file a support request. I already informed them of your issue so they will be expecting your support request.

[2018-10-24 23:05] Grace-MacJones-MSFT commented on #16881
Hi @marksman315 thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-24 23:06] SaurabhSharma-MSFT commented on #17484
@jseerden Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2018-10-24 23:08] dcbrown16 commented on #16920
Thanks @roygara, what do you think about changing "standard reboot" to "reboot from within the guest OS" or something similar? I don't really know what "standard reboot" means but it could easily be taken to refer to a portal restart, which in my understanding may erase the data.
If that is one of the points you were unable to confirm, then I guess we'll have to go with what you have, but I have s

[2018-10-24 23:08] Grace-MacJones-MSFT commented on #17429
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-24 23:08] #17429 closed

[2018-10-24 23:11] BryanTrach-MSFT commented on #17531
@CHDAFNI-MSFT Hello!

[2018-10-24 23:20] atrauzzi commented on #17159
Sorry, your built-in support is completely useless and wastes far too much of my time.

Please resolve this internally.

[2018-10-24 23:21] SaurabhSharma-MSFT commented on #17508
@longnlp Yes, it will work with Dynamics 365 CRM. Please Refer to [link](https://community.dynamics.com/365/b/dynamicscrmconsultant/archive/2018/06/13/programmatically-authenticate-multi-factor-enabled-dynamics-365-crm-environment).
No, it is used in place of your regular password when signing in to apps and devices that don't support two-step verification. you can also refer to [link](https://sup

[2018-10-24 23:26] mathieu-benoit opened #17545 "Add a note mentioning how it works from the Azure Cloud Shell"
Since Azure CLI 2.0.49 it's now possible to use `az aks browse` from the Azure Cloud Shell, let's document it! ;)
https://mobile.twitter.com/yangl900/status/1054836068007084032

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
* Version Independent ID: 42736112-f6db-d241-e89b-48fd2c35c

[2018-10-24 23:37] mathieu-benoit commented on #17545
I submitted this PR https://github.com/MicrosoftDocs/azure-docs/pull/17546 for this.

[2018-10-24 23:38] ChrisFg commented on #17266
Thx. Here is a description of my current solution to deploy an app (.exe), on a customized vm with two managed data disks, based on a regular windows OS image, connected to an existing nominated subnet.
The names of all computing components, i.e. compute, storage, network, are identified at design time.
Using the vsts release pipeline, deployment of the automation proceeds as a sequence of agent j

[2018-10-24 23:42] cmeyertons commented on #17220
Huh? I’m a little confused as to the reasoning behind closing this issue on the docs.

The whole point of logging this issue was to fix the docs, which state to use docker login which you confirmed doesn’t work?

[2018-10-24 23:45] dharmeshtailor commented on #17472
Just to update, I did another release with following upgrade parameters and it took just 17 minutes.

[code]

[2018-10-24 23:49] femsulu commented on #17159
I understand you are frustrated happy to help fastrack internally. Send mail to AzCommunity@microsoft.com with your subscription ID and the user IDs of the co-admins that are unable to trigger an email invoice and I will engage on your behalf.

[2018-10-24 23:51] Karishma-Tiwari-MSFT opened #17547 "The variables are missing $ sign"
username=$(az account show --query user.name --output tsv)
vm=$(az vm show --resource-group myResourceGroup --name myVM --query id -o tsv)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux VM w

[2018-10-24 23:55] Karishma-Tiwari-MSFT commented on #17547
I found a doc bug in the CLI commands. Opened a [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/56064) to add the missing $ sign to the variables. I will close this once the PR is merged.

[2018-10-24 23:56] Mike-Ubezzi-MSFT commented on #17436
@lianetoohey I was working a 'bulk import' issue. I mistakenly posted my response to this issue instead of the issue it was intended.
As for your specific issue. The Json request object almost looks like data intended for a partitioned environment, where as Json with an array looks slightly different. I couldn't find a good example. Since you have a working environment and one that is not working

[2018-10-25 00:01] Don-Fuego opened #17548 "Using 3rd Party MFA note"
3rd party MFA can not be used with Identity Protection's automated response nor to elevate roles in PIM. A note to call that out in documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e03d33c6-c60b-153c-bf76-a127be502170
* Version Independent ID: 7bbf1dc5-bd91-d03a-7939-439bfbee85c9
* Content: [What are acces

[2018-10-25 00:03] mikebudzynski commented on #17279
@joeruder , can you please elaborate where is the deletion step? I can't locate it.

[2018-10-25 00:12] #17547 closed

[2018-10-25 00:28] YutongTie-MSFT commented on #17540
@LisandroSu Hi, do you have any idea about the prerequisite? Also, if it is, can you please add it to the document to clarify it? Thanks a lot!

[2018-10-25 00:30] YutongTie-MSFT commented on #17494
@casalam Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 00:31] YutongTie-MSFT commented on #17514
@kung-foo Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 00:32] bwren commented on #17041
Windows Telemetry settings will not move into the Log Analytics workspace in the Azure portal.  The link in that article goes to documentation for those solutions and where to access those particular settings.  The automation setting for the workspace is handled in the Azure portal.  There is a link to the automation account from the workspace, and a linked workspace option in the automation accou

[2018-10-25 00:37] YutongTie-MSFT commented on #17406
@sumit5grg5 Hi, I have assigned @Alberto-Vega-MSFT to help you solve this issue.

@Alberto-Vega-MSFT I don't think this document is in our repo, but you can find the related document in our repo from https://docs.microsoft.com/en-us/azure/azure-databricks/    How-to-guide ~ How to use BI tool

[2018-10-25 00:38] JonnMsft opened #17549 "Need documentation for TimerTriggerAttribute(typeof(MySchedule))"
This appears to be the only way to put the CRON string into application config, assuming that is possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f1673c48e40
* Content: [Timer trigger for Azure Functions](https://docs.micros

[2018-10-25 00:55] mbialecka commented on #17351
@sandervandevelde It looks like module/container is successfully created but during startup or soon after it crashes leaving no trace in docker logs. If it wasn't successfully created I imagine there would be a specific error entry in the edgeAgent logs. What is the output of `docker ps -a` and what happens if you try to start this container manually (`docker start blob`)? If it doesn't hint you w

[2018-10-25 01:00] MicahMcKittrick-MSFT commented on #17220
@cmeyertons apologies I was not clear.

I ran through the document and was able to login to my docker without using any Add Azure account commands. That being said, I am running it in CMD and not Visual Studio code.

To run actions against Azure resources using Visual Studio code you do need to have the azure extension installed. This is not just for ACR but for anything Azure. It is the same idea

[2018-10-25 01:12] cmeyertons commented on #17220
Thank you for clearing up! Issue is good to close now, apologies for not understanding sooner. Long day at work!

[2018-10-25 01:12] #17220 closed

[2018-10-25 01:12] MicahMcKittrick-MSFT commented on #17543
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 01:16] MicahMcKittrick-MSFT commented on #17220
@cmeyertons no worries! I should have been more clear with my explanation :)

If you think of any other questions don't please don't hesitate to reach out

[2018-10-25 01:18] irgnosis commented on #15146
I am using Windows 10. Following is the stack trace

javax.net.ssl.SSLPeerUnverifiedException: Host name 'xx.xx.x.xx' does not match the certificate subject provided by the peer (CN=*.azurehdinsight.net)
	at org.apache.hive.org.apache.http.conn.ssl.SSLConnectionSocketFactory.verifyHostname(SSLConnectionSocketFactory.java:465)
	at org.apache.hive.org.apache.http.conn.ssl.SSLConnectionSocketFactory.

[2018-10-25 01:26] pratik11jain opened #17550 "Will the autoscaler touch only those deployments which have a pod disruption budget associated"
Will the pods which do not have any associated pod disruption budget not be touched by the autoscaler.
If they will be, is there a configuration to restrict the autoscaler from deleting certain pods in a node in the nodepool where the autoscaler is working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 301b44e3-4be7-63

[2018-10-25 01:37] wmpauli commented on #15625
@Alberto-Vega-MSFT , I am running into the same issue. I set the custom start date as is now described in the documentation. In the overview panel, I see that the 1.86k events came in, but there is no output file. When I try to "sample" from the input data, I get this error message: "No events found for 'BlobInput'. Start time: Monday, September 24, 2018, 8:47:53 PM End time: Monday, September 24,

[2018-10-25 01:47] longnlp commented on #17508
@SaurabhSharma-MSFT
Thank you for your help.

[2018-10-25 01:55] roygara commented on #16920
@dcbrown16 I wasn't able to confirm that yet but I still have asks out, regarding the first point.

The pricing page is indeed written by different people and we have no control over what is there.

To the best of my knowledge our policy on that piece of metadata is not to update it unless there's been a significant revision or the article has been reviewed in its entirety and deemed current. This

[2018-10-25 02:41] jderus opened #17553 "Documentation is incorrect."
You can configure the polling time "feedPollTime", see Azure Cosmos DB bindings.
Click on the link for bindings and do a search for feedPollTime. 0 results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdcc897a-d6df-3305-e9cb-01889a3c5d4f
* Version Independent ID: 739a9fc7-3782-a860-ac6d-4194fd1ce2e8
* Content: [Work

[2018-10-25 02:57] ecfan commented on #17089
@siobhter and @mike-urnun-msft Thanks for reporting! I've created a work item for updating the content.

#please-close

[2018-10-25 03:30] CarlosOnline opened #17554 "Does not show how to upload voodoo to storage blob."
Does not show how to upload voodoo to storage blob.

I don't see how the input asset is populated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bba6896-48dd-503f-1a49-98b79fa59fbb
* Version Independent ID: 670e2111-5369-0d52-66a6-cbf2e928f02a
* Content: [Upload, encode, and stream using Azure Media Services](https://

[2018-10-25 03:38] srini1978 commented on #17486
Hi @YutongTie-MSFT  In the auto scale best practices section, currently I don't see a guidance on the setting called "Duration". This is the look back duration for calculation of the metric that drives the scale out/scale in trigger

https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/insights-autoscale-best-practices

[2018-10-25 03:52] aqiank opened #17555 "Speech synthesis SDK?"
Is there a speech synthesis API in the SDK or am I blind? I can't seem to find it in the C++ API reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e711a5c-1afa-ed43-3918-7a2669283e45
* Version Independent ID: 6d5c9433-34e0-7697-9928-f9ccee6492c6
* Content: [Speech SDK API reference - Azure Cognitive Services](

[2018-10-25 04:08] MicahMcKittrick-MSFT commented on #17550
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 04:30] tutul2010 opened #17557 "Failed with error: 'OAuth2Certificate authorization flow failed for service 'Office 365 with hotmail in logic app"
Hi Team,
When i tried to configure hotmail with Office 365 in azure logic app for sending email ,but  it gave below exception message " Failed with error: 'OAuth2Certificate authorization flow failed for service 'Office 365 (Discovery, Certificate)'. O365 discovery endpoint returned status code 401 (Unauthorized). Response: {"error":{"code":"-2147024891, System.UnauthorizedAccessException","messag

[2018-10-25 04:30] Juliako commented on #17554
@CarlosOnline, in this example, the job's input is based on an HTTPS URL ("https://nimbuscdn-nimbuspm.streaming.mediaservices.windows.net/2b533311-b215-4409-80af-529c3e853622/") so there is no input asset.

[2018-10-25 04:38] SidShetye commented on #10488
@CawaMS I think this ticket already as everything you need; it's worth reading it again. In short

1. Please see the current [documentation here](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-powershell-create-cloud-container). Notice it does NOT address how to deploy - just how to create. Creating a cloud service is of little value - most of the value comes from businesses

[2018-10-25 05:16] rwilkin481 opened #17562 "T"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-10-25 05:17] #17562 closed

[2018-10-25 05:19] PramodValavala-MSFT commented on #17539
@kashimiz Thanks for the catching this! We will review and update this doc accordingly.

[2018-10-25 05:23] ArslanAli7 opened #17563 "Programmatically add an endpoint"
You can add scoring endpoints using the sample code provided, this is missing, the URL is not there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaececc6-3a5d-f614-40c2-4e25dff1489a
* Version Independent ID: 5e69ee24-db3e-6ed6-0796-e27311f48a56
* Content: [Retrain a Classic web service](https://docs.microsoft.com/en

[2018-10-25 05:29] #17326 closed

[2018-10-25 05:29] #17457 closed

[2018-10-25 05:31] mcurko commented on #17495
I'm referring to this description: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-tutorials-spa

[2018-10-25 05:42] changeworld opened #17565 "The old name (Visual Studio Team Services / VSTS) is used in the image"
[Enter feedback here]
The old name (Visual Studio Team Services / VSTS) is used in the image. Since it can not be corrected with Pull Request in the image, would you please correct it.

![evi1](https://user-images.githubusercontent.com/1207985/47478317-f9da5f00-d863-11e8-8911-7d6d8d589124.jpg)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-10-25 05:52] mcurko opened #17567 "Error"
Step 1 is outdated, portal interface is different.
When I try to login, I receive an error "We're unable to complete your request
Microsoft account is experiencing technical problems. Please try again later." for an account that logs on Azure portal without any problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39

[2018-10-25 05:59] PramodValavala-MSFT commented on #17549
@JonnMsft Thanks for your feedback!

For TimeTrigger, CRON is indeed one of the options available. You can also use a TimeSpan as mentioned in the doc.

There is also a Custom Schedule possible as you mentioned. Here is a [sample](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/master/src/ExtensionsSample/Samples/TimerSamples.cs) you can refer to while we work on updating the doc.

@gga

[2018-10-25 06:04] #17089 closed

[2018-10-25 06:05] PramodValavala-MSFT commented on #17457
@SharePointing Thanks for contributing to MS Docs! We have update the doc accordingly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-25 06:05] PramodValavala-MSFT commented on #17326
@andylholloway Thanks for contributing to MS Docs! We have updated the doc accordingly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-25 06:06] dhruvingajjar opened #17568 "Exclusion list field type list is inaccurate"
In the exclusion list feature, it says "you can specify an exact request header, *body*, cookie,...." but when I go to Portal and configure the exclusion rule, there is no such option as Request Body. How can I exclude a form where Easy Auth workflow embeds  fields in the request body rather than request header.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-10-25 06:11] PramodValavala-MSFT commented on #17557
@tutul2010 Thanks for reaching out! We will investigate and get back to you on this.

[2018-10-25 06:13] mcurko opened #17569 "Question"
Why do we register new app at Application registration portal and not on Azure portal / AAD / App registrations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 175aa1f6-e1c7-12bb-6b87-a0ee6d948aca
* Version Independent ID: 8a28a4a2-0798-627f-4ff3-23b4d730a659
* Content: [Azure AD v2.0 ASP.NET web server quickstart](htt

[2018-10-25 06:17] xudifsd opened #17570 "Can only see alpha.kubernetes.io/nvidia-gpu instead of nvidia.com/gpu"
Hi, I just spin up an AKS server, but it only have alpha.kubernetes.io/nvidia-gpu resource instead of nvidia.com/gpu. I changed samples-tf-mnist-demo.yaml with alpha.kubernetes.io/nvidia-gpu but job failed with log, I'm not sure what to do next.

Traceback (most recent call last):
  File "/app/main.py", line 31, in &lt;module&gt;
    import tensorflow as tf
  File "/usr/local/lib/python2.7/dist-pa

[2018-10-25 06:35] mike-urnun-msft commented on #17295
Hi @kristianjaeger Thanks again for your PR and contribution towards MS Docs!
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-25 06:35] #17295 closed

[2018-10-25 06:43] imeya opened #17571 "libraries from conda"
If the python libraries that I need are only available in conda, how can I do? is it possible to install conda on on Azure Web Apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0077a811-b0b7-93b1-80b0-a4d45615ef4b
* Version Independent ID: cc95198d-5560-2bf1-09ae-b8d210e45f2d
* Content: [Create a Python web app in A

[2018-10-25 06:45] v-maroge commented on #16700
@rayne-wiselman Hi, please let me know if any additional detail is needed to answer my question.

[2018-10-25 06:46] KetanChawda-MSFT commented on #14158
@timmyreilly @ar-tama : Apologies for not getting back to you sooner.

Please go through the [article](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2). It has quiet a few samples.

Get back to us if you have any further questions.

[2018-10-25 06:50] lukenny commented on #17360
try this apiVersion: extensions/v1beta1

[2018-10-25 06:52] lukenny commented on #17360
or apiVersion: apps/v1

[2018-10-25 07:06] pvrk commented on #16375
Hi, We answered this question here: https://docs.microsoft.com/azure/backup/backup-azure-vm-backup-faq#what-happens-when-i-change-a-backup-policy-on-vms

Hope this helps.

[2018-10-25 07:14] xNiklasJern commented on #16715
Hi @YutongTie-MSFT ,

I'm not sure i feel like that I got my questions answer.

Since Saurabha verified that you need to have a AAD P2 license to enabled identity protection, hence make the condition sign-in risk available in CA.

But what will happen if CA policy then is created, assigned to all users. But not all users have a P2 licenses assigned. How will the policy effect these users.

Regards

[2018-10-25 07:16] YutongTie-MSFT commented on #17486
@srini1978 Thanks for your information.

[2018-10-25 07:35] sujithq commented on #17492
I managed the SSL Termination but I also need end to end SSL termination.

I tried 2 different ways using certificates at AKS side: manual via openssl and via traefik acme and dnsprovider using the cer file at at Application Gateway side (set to HTTPS at httpsettings level). My Backend Health reports this:

There should be a match between the public keys used at Application Gateway and AKS but I a

[2018-10-25 07:38] kkho opened #17573 "Microsoft.AnalysisServices.AdomdClient.retail.amd64 NuGet support for .NET Core?"
This is probably not an issue, but will there be support for AdomdClient for .NET Core?
As far as I know, it seems to be a bit problematic using it due to that .NET Core does not support WindowsPrincipal?

My Question is, will there be a support for it sooner or later? :)
If not, will there be any other alternatives?

Thanks!

[2018-10-25 07:47] salviri commented on #17127
@Grace-MacJones-MSFT thanks for your swift response. can you please share here the link to the "announcement"?
I couldn't find it. I just ran into this [article](https://blogs.msdn.microsoft.com/appserviceteam/2018/10/17/new-app-service-vnet-integration-feature/)  last week and this is how I learned about this new feature.

[2018-10-25 07:48] lesterw1 opened #17574 "Add samples for Working with Tables"
This is a great collection of examples. Notably missing though is table creation and table data manipulation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 052ba85d-cc93-5de7-4aa6-1d1df4b9eda7
* Version Independent ID: 2a6edae1-13c7-ef95-bf43-6de8a0cb5197
* Content: [Azure PowerShell script examples for SQL Database](

[2018-10-25 07:49] xudifsd commented on #17570
Ok, I figured it out. I installed k8s 1.9.
After I did following things, everything runs fine:
*  Opened device plugin feature gate which by default is disabled in version 1.9 and enabled in version 1.10.
*  Configured nvidia-runtime as default runtime in docker's setting(which is not configured by AKS, I do not know why).
* Installed nvidia device plugin (which is not installed by default by AKS,

[2018-10-25 08:19] dominicbetts commented on #17324
@mf-fm - I'm not aware of a way to include a custom docker-compose.yaml file as part of the PCS CLI deployment. The only change you can make is to override the docker tag using `--dockerTagOverride`.
You could create an issue in https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/issues suggesting this capability be added to the pcs tool.

[2018-10-25 08:21] AUFOOD opened #17575 "Kiot"
https://m.facebook.com/quanthaiau/

[2018-10-25 08:25] olavt opened #17576 "Is content up to date?"
The content looks outdated. Does it reflect the current process? The content mentions names of internal Microsoft departments that was re-organized back in 2017 and no longer exists with those names.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a552afd8-04d7-21bb-f94b-6672ddaac588
* Version Independent ID: eac59cdb-f

[2018-10-25 08:25] sameer-pattanaik opened #17577 "Unable to download the document"
On clicking the link "Download the white paper", its redirecting me to file:///C:/Users/samee/Downloads/Azure-Functions-and-c6449f8d.htm

When I click on the button "Microsoft Serverless Platform.pdf" , I get the License agreement screen.

After clicking on "I Agree" button, the license agreement page disappears ,but download doesn't start.

---
#### Document Details

⚠ *Do not edit this section.

[2018-10-25 08:29] dominicbetts commented on #14402
Hi @hiesus - we haven't heard back from you so I'm going to close this issue. Please get back in touch if you have further questions. Thanks!

#please-close

[2018-10-25 08:31] olavt commented on #17576
I looked closer and saw a message on top of the page stating it was out of date. Would be nice to remove old / outdated content to avoid polluting search results as the old page ranked highest with Google.

[2018-10-25 08:32] jjindrich opened #17578 "ARM deployment"
Please could you add ARM template deployment ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce428f61-9be4-3d54-6060-1cbeae2259aa
* Version Independent ID: 3092b070-389e-57af-9955-a5e1e1f4320d
* Content: [Create an Azure DNS private zone using the Azure CLI](https://docs.microsoft.com/en-us/azure/dns/private-dns-getst

[2018-10-25 08:35] BaAlexandru commented on #17507
@erhopf is there a possibility to send .ogg files or the API supports only .wav files?

[2018-10-25 08:36] Sharono123 opened #17579 "not working"
Done as documented , logs how all allowed but the RDP session says "cant connectt"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ea87406-981b-8188-7d3f-ef68eb2ba367
* Version Independent ID: 08dd0694-7a64-e24a-5338-9de873f4bda2
* Content: [Filter inbound traffic with Azure Firewall DNAT using the Azure portal](https:

[2018-10-25 08:39] paulmackinnon-adv365 commented on #17417
@iainfoulds , I see where I went wrong. I assumed the marketplace Jenkins would be the same as the one you built via VM with an extension. Looking at that code I can see that Docker & Kubernetes are installed manually.

[2018-10-25 08:40] menewol commented on #11134
@TravisCragg-MSFT, @Adam-Smith-MSFT , @lakasa

Are you guys all fine? haven't heard from you in a long time! I hope you are doing good!!! :O

Can i still expect any answers regarding my question?

[2018-10-25 08:50] orendin commented on #16481
Hi there

Coincidentally, I have exactly the same issue for exactly the same use case (Grafana).

Grafana logs the following error:
`lvl=eror msg="Server shutdown" logger=server reason="Service init failed: Migration failed err: database is locked"`
And as a result, the container terminates.
`--command-line "tail -f /dev/null"` for me just prevents the log being displayed but grafana still does no

[2018-10-25 08:52] mf-fm commented on #17324
@dominicbetts alright. Thank you very much for the information. I will have a look into overriding the docker tag and if this will suite our needs. Since thsi answered my question I am going to close this.

[2018-10-25 08:52] #17324 closed

[2018-10-25 08:53] wolfma61 commented on #17540
We only tested with Visual Studio 2017, if it is possible for the user to install Visual Studio 2017, I would strongly recommend this (Community Edition is sufficient).

We are binary compatible with the VS2015 runtime, so building a project with VS2015 should (?) work. Although we haven't tested it. If he uses VS2015, none of the samples we published will word directly, as the solutions are build

[2018-10-25 09:02] gs9824 commented on #16481
@MicahMcKittrick-MSFT Sorry for not responding earlier -- good to know that I'm not the only one with the issue :).  I have Grafana running on a VM in the meantime as a workaround (installed through Market place - Grafana from Grafana Labs). The restart most likely happens because grafana fails to start due to database locked as @orendin states.

[2018-10-25 09:10] BrodaUa opened #17580 "IoT Edge runtime error with Docker CE env on Raspberry Pi 3"
Hello everyone.

I have been following instructions in the next documentation  page for installing IoT Edge runtime on Raspberry Pi 3: [linux ARM32](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm#install-the-iot-edge-security-daemon) . I already had the Docker CE environment installed, so I skipped the step with Moby-based engine. I went through the remaining ste

[2018-10-25 09:18] Danrawlings-msft opened #17581 "Extensions should be removed prior to creating image"
For extensions like the OMS agent and PowerShell DSC the extension should be removed as part of the generalization steps or the new image will fail to be onboarded to these services once the new is created from the image. Please update to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaca4c82-d6f4-7867-d

[2018-10-25 09:32] Philippepaiola opened #17582 "MVP : Proposition d'article sur la migration des disques managés (et machines virtuelles) entre différentes régions Azure"
Bonjour,

J'ai écrit un article sur un cas client : le besoin était de migrer ses machines virtuelles ayant des disques managés vers un autre abonnement et dans une autre région.
Le lien est ici : https://www.linkedin.com/pulse/migrer-des-disques-g%C3%A9r%C3%A9s-azure-vers-un-autre-et-dans-une-paiola/
J'aimerai le réecrire pour docs.microsoft.com, seriez-vous OK ?

Le contenu en Français :
Un clie

[2018-10-25 09:35] neiltingley opened #17583 "required field is not set"
Running terraform plan I get

azurerm_virtual_machine_scale_set.vmss: "network_profile.0.ip_configuration.0.primary": required field is not set

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 744c0642-d2d6-1db2-a208-d39777129d70
* Version Independent ID: 6cf61e7f-f58a-e738-bb3f-cc8a69ce3d24
* Content: [Use Terraform to

[2018-10-25 09:47] jinshu1987 commented on #17504
Thanks Saurabh.

As this feature is not available, this makes whole SCIM interface useless because SCIM end point Oauth token expires every 60 mins.

I will upvote the thread you have mentioned anyway.

[2018-10-25 09:52] paulowendevelopment commented on #17089
Thanks for the tutorial and the updated code supplied in the forum. Just wondered if there is a way to get the actual URL of the attachment in the email sent back? I can see there is a URL in my storage account when I select the attachment.

[2018-10-25 10:20] VladimirAlexiev opened #17584 "graph API poorer than relational dump?"
Why this page has so much fewer fields than https://docs.microsoft.com/en-us/academic-services/graph/reference-data-schema? Does that mean the graph API doesn't expose all available fields?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f03fca-e251-d3cc-7f02-905a25aa0dcb
* Version Independent ID: 14f9655f-6b6f-fbae-1

[2018-10-25 10:24] cr-gstirling opened #17585 "VM creation, but no steps mentioned to add network rules to enable RDP"
RDP is required in steps of this document, but during the VM creation no steps noted to create the rules to open RDP (TCP 3389).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cc61595-d1ea-d72b-bef8-52e7b7838a14
* Version Independent ID: 6df6127e-bf72-eb63-82c2-a132a6576add
* Content: [Route network traffic - tutorial

[2018-10-25 10:50] ronitr commented on #17056
FYI this is coming and will soon be documented. If you would like information earlier, please reach out directly to myself, alias is ronitr at Microsoft.

[2018-10-25 10:53] MarkusKnuhr opened #17587 "Wrong PowerShell in "Permissions for Exchange Hybrid Deployment""
There is a mistake in the documentation above. Under "Permissions for Exchange Hybrid Deployment", the PowerShell commands are incorrect. Must be set-ADSyncExchangeHybridPermissions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5eab5899-ad7d-2071-6d43-50e7de4a304b
* Version Independent ID: ab3eeda6-a534-af65-9fff-604f

[2018-10-25 10:57] SychevIgor opened #17588 "Explicitly specify SQL API in an article name and title"
Now, we a person reviewing cosmosdb documentation, he should open a "Geospatial" page, review first section and only after, he will find that it's about SQL API, not about mongo/tables/graphs.
If it will be specified in an article name and title- it will save enough reading time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-25 11:19] joeruder commented on #17279
Yes, it is under the closed answer showing corrected steps:
https://user-images.githubusercontent.com/40186513/45329235-30f2ec00-b514-11e8-99a6-784f5801a165.png

[2018-10-25 11:46] #17066 closed

[2018-10-25 11:53] ira-bryndzei commented on #13935
@MicahMcKittrick-MSFT could you please provide resolution to this issue? looks like it's common one

[2018-10-25 11:53] SychevIgor opened #17590 "Not valid C# code"
Here is our model.
public class UserProfile
{
    [JsonProperty("name")]
    public string Name { get; set; }

    [JsonProperty("location")]
    public Point Location { get; set; }
}
and here - how we should retrieve some data
foreach (UserProfile user in client.CreateDocumentQuery&lt;UserProfile&gt;(UriFactory.CreateDocumentCollectionUri("db", "profiles"))
    .Where(u =&gt; u.ProfileType == "Pu

[2018-10-25 11:59] jakaruna-MSFT commented on #17452
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-10-25 11:59] #17452 closed

[2018-10-25 12:01] jakaruna-MSFT commented on #17464
@TiloGit Subpath option is not supported in Container Instances. We need to use AKS if we need that feature.
cc: @seanmck @MicahMcKittrick-MSFT

[2018-10-25 12:02] femsulu commented on #17576
@olavt Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-25 12:20] femsulu commented on #17253
@jwashbur79, Yes, please retry with Azure CLI for this scenario. If that doesnt solve your problem then send mail to AzCommunity@microsoft.com including your Azure Subscription ID, and a link to this Github Issue (for context) and we will be happy to continue the investigation.

[2018-10-25 12:27] Nareshkadali opened #17591 "i am getting this error while testing the function"
![image](https://user-images.githubusercontent.com/24895211/47500069-5e56e780-d87f-11e8-8633-4aadaf7bbbbd.png)

[2018-10-25 12:35] Nareshkadali commented on #17089
i am also getting below error
[Error] run.csx(17,15): error CS1501: No overload for method 'CreateResponse' takes 2 arguments

please help me how to fix this issue....

[2018-10-25 12:35] trinadhkotturu commented on #17008
Thanks @dcbrown16 for great feedback. Yes, we need VM contributor at the resource group level for two reasons:
1. We have an API(currently) which checks for backup existence and that won't work at individual resource level. We are fixing that.

2. We need write permissions on that RG where we going to recover the VM to create the recovered VM.

[2018-10-25 12:37] jakaruna-MSFT commented on #17360
@sakthivetrivel I deployed a cluster-autoscaler with the yaml file from the document. Like @bob999c mentioned i got an error.  I changed the API version for deployments from v1 to v1beta1. After that I was able to deploy the cluster-autoscaler. API version app/v1 also works.
I also see that recently all the v1beta1 versions are changed to v1.
Please investigate further and make changes in the docu

[2018-10-25 12:45] jakaruna-MSFT commented on #17570
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 12:46] jakaruna-MSFT commented on #17581
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 12:47] Sulster commented on #15279
@AvinashReddyVaka Nope, I've tested with a few servers and sites and in the end I have had to use the older tier of WAF when End to End SSL was required. I use WAF_v2 for when I can get away with only SSL offloading.

[2018-10-25 12:49] koman commented on #13935
Hi

I had to delete the cluster and create a new service principal  with a new
cluster and then it worked.

Regards

On Thu, 25 Oct 2018 at 13:53, Iryna Bryndzei <notifications@github.com>
wrote:

--
Kind regards,
Koman Rudden

[2018-10-25 12:51] skukan159 opened #17592 "Continuous recognition timeout issue(JavaScript)"
There is no clear way to change the timeout in JavaScript SDK. We are trying to make it possible to maintain speech recognition with unlimited/longer timeout. If we do not speak for around 20 seconds speech recognition is stopped and we are unable to find a clear way to reestablish the recognition or make the timeout longer.
---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-10-25 12:56] pswetz commented on #15485
Any news on this?

[2018-10-25 12:58] wdalhaj opened #17594 "List of supported custom domains tlds"
I tried to add custom multiple custom domains to an app, **.COM** and **.ORG** lds worked but when I tried **.SD** it didn't work.
I would love to see all tlds supported.

Thanks

[2018-10-25 12:58] paulowendevelopment commented on #17089
See here https://social.msdn.microsoft.com/Forums/en-US/491ddd45-71c6-4472-a272-2a46c20755e5/logic-app-500-error-error-runcsx1715-error-cs1501-no-overload-for-method-createresponse?forum=azurelogicapps#491ddd45-71c6-4472-a272-2a46c20755e5

[2018-10-25 12:58] dominicbetts commented on #17324
#please-close

[2018-10-25 13:21] rfcdejong opened #17595 "Typo in paragraph 2 - In the Microsoft.Compute/virtualMachineScaleSets"
The line for commonNames has one [ too many.

add "commonNames": ["[parameters('certificateCommonName')]"]
should be
add "commonNames": "[parameters('certificateCommonName')]"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d34f6d36-58e7-ab10-e659-bdd10a64deca
* Version Independent ID: 25d94e4b-8c95-7423-2665-7c09d438a

[2018-10-25 13:22] rfcdejong commented on #17595
and also a ] too much in the end

[2018-10-25 13:33] andig commented on #17550
I'm seeing the same issue and it prevents scaling-down. At least the default AKS PODs should come with PDB preconfigured. See log below:

	Fast evaluation: node ...-0 cannot be removed: non-daemonset, non-mirrored, non-pdb-assignedkube-system pod present: omsagent-rs-796fcdb4bb-prchs
	Fast evaluation: node ...-1 cannot be removed: non-daemonset, non-mirrored, non-pdb-assignedkube-system pod presen

[2018-10-25 13:37] SychevIgor opened #17597 "Update screenshot and text"
https://docs.microsoft.com/en-us/azure/sql-database/media/sql-database-metrics-diag-logging/monitoring-solution.png
This screenshot require an update before 15 of January, but asap is better, because oms portal will be retired and will work only portal.azure.com
![image](https://user-images.githubusercontent.com/578954/47504134-ec28d780-d86b-11e8-8917-2c570ab45349.png)

---
#### Document Details

[2018-10-25 13:48] kinseymd opened #17598 "Encryption Model and Key Management"
This table is very helpful.
It does seem out of place to have it just after the Azure SQL Database section, as it's not only related to this data service. I suggest it warrants it's own section or sub heading
The other thing I noted was the table appears to be missing some services that have default encryption enabled. The encryption section of aka.ms/azuredevebook notes that Azure Database for My

[2018-10-25 13:48] lxodonovan opened #17599 "Updating passwords"
The steps in the section "Configure delete permissions" is also required to be able to update peoples passwords on accounts that already exist.
I understand there's only fringe reasons why you'd need to do that - but it should be reflected in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c

[2018-10-25 13:49] SychevIgor opened #17600 "Update 2 screenshots"
https://docs.microsoft.com/en-us/azure/monitoring/media/monitoring-data-collection/metrics-explorer.png
Metric is now in a preview anymore
https://docs.microsoft.com/en-us/azure/monitoring/media/monitoring-data-collection/logs.png
Logs not in a preview anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d83090ba-2be

[2018-10-25 13:54] SychevIgor opened #17601 "Update screenshot to latest UX"
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/media/monitoring-overview-of-diagnostic-logs/diagnostic-settings-blade.png
Network watcher now mentioned as network on the left side

![image](https://user-images.githubusercontent.com/578954/47505369-52165e80-d86e-11e8-8bda-36c9ef9ac6e8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-10-25 14:11] vhorne commented on #17454
#please-close

[2018-10-25 14:18] pietersap commented on #7935
Also, the request header "content-length" is marked as "required" but not visible in the sample calls. In my experience, it's not required.

[2018-10-25 14:20] aaclage opened #17602 "Options changed"
The screens are not align with Azure AD screen, for example "Identifier" is requesting a url pattern, how this affect the current integration configuration in the power shell?  thank you for your attention.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abc120a6-1b98-874a-1cfb-b43456f4a718
* Version Independent ID: 100

[2018-10-25 14:22] msangapu commented on #17530
@cephalin for awareness

[2018-10-25 14:30] lianetoohey commented on #17436
@Mike-Ubezzi-MSFT sorry, I don't know what you're looking for. Can you please clarify?

[2018-10-25 14:31] wadejd opened #17603 "Suspended setting"
In the release notes for 1.1.750.0, it states the following: "Set-ADSyncAutoUpgrade cmdlet would previously block Autoupgrade if auto-upgrade state is set to Suspended. This functionality has now changed so it does not block AutoUpgrade of future builds."
Not sure if the description for Suspended needs to be updated based on this.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-10-25 14:35] xenalite opened #17604 "Durability characteristics of a cluster running stateless container services"
I am still puzzled about durability characteristics and their purpose.
Can I have different reliability characteristics per node type?
For instance, a Silver on primary node type, and Bronze on secondary node types?
My cluster is running container hosts only with stateless services. I don't use Service Fabric SDK inside the container.
I don't know how increasing the reliability level from Bronze t

[2018-10-25 14:38] #17597 closed

[2018-10-25 14:38] vhhughes opened #17605 "Missing from Metrics blade"
This has been a really helpful feature for a long time in helping us in understand the timing of changes we make relative to application performance and stability. I cannot find any of our annotations anymore on the new Metrics blade, despite this documentation. Does that mean that this important feature is being retired? (i.e., not brought along to the new Metrics blade) Or does it mean it is bei

[2018-10-25 14:44] SychevIgor opened #17606 "Update screenshot"
Update screenshot https://docs.microsoft.com/en-us/azure/iot-hub/media/iot-hub-metrics/enable-metrics-2.png
Now we have new UX (modern is default. classic visible on screenshot  is not default)

![image](https://user-images.githubusercontent.com/578954/47508909-44180c00-d875-11e8-9620-ca384b40d73f.png)
---

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-10-25 14:45] lukenny commented on #17360
API app/v1 and v1/beta1 work for me but Im getting CrashLoopBackOff error
[code]

[2018-10-25 14:45] lukenny commented on #17360
I even tried v1.3.3 no dice

[2018-10-25 14:46] ShashankManiar opened #17607 "It looks like MMA is not required for agent based discovery ?"
If MMA is not required. The documentation mentions about MMA and its confusing please see  https://docs.microsoft.com/en-us/azure/migrate/resources-faq#how-can-i-automate-the-installation-of-microsoft-monitoring-agent-mma-and-dependency-agent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69fe01a7-1b15-813b-412f-17e92d

[2018-10-25 14:49] bironology commented on #17057
replace with

        map.addEventListener("load", function() {
            map.addPins(searchPins, {
              name: searchLayerName,
              cluster: false,
              icon: "pin-round-darkblue"
          })
        });

[2018-10-25 14:51] jtuliani opened #17608 "Out of date re standard public IP support"
Article states Standard tier public IPs can only be assigned to network interfaces or public standard load balancers, implying that they can't be assigned to Application Gateways or VPN Gateways.

However, according to https://docs.microsoft.com/en-us/azure/vpn-gateway/create-zone-redundant-vnet-gateway we *can* assign standard public IPs to VPN gateways. And since Application Gateway support for

[2018-10-25 14:53] jtuliani opened #17609 "Out of date re dynamic IP support"
Table in doc shows static/reserved public IPs are not supported for App GW or VPN GW.

But according to https://docs.microsoft.com/en-us/azure/vpn-gateway/create-zone-redundant-vnet-gateway you can now use a standard tier public IP (which is static only) with a VPN GW.

I expect there's a similar issue for App Gw since that's in preview for availability zone support also

---
#### Document Details

[2018-10-25 15:01] MarkusVi commented on #13094
#please-close

[2018-10-25 15:10] mattbriggs commented on #12504
@aricbernard Thanks! I have removed the links to Azure. #please-close

[2018-10-25 15:11] Moodu opened #17611 "Web Service Return capture is misssing"
Is it me or is there no real code on how to capture the Instance name in the example. Example has

"returns the name of the instance of SQL server. "

There is no real code in the article to capture that in the ADF pipeline. Does anyone have any real examples of capturing return data from the web call or assigning that return value to a pipeline param? Is it saved as a property of the Web Activity

[2018-10-25 15:17] aljo-microsoft commented on #16438
@starforce

From the sounds of this, you where successful in completing AAD setup using our documentation, and further completed a lot of this through portal; which is great for Dev\Test environments, but you should be using versioned ARM templates for your production environment. If using the best practices ARM template, we provide the template properties you need:

"azureActiveDirectory": {
  "t

[2018-10-25 15:17] declang opened #17613 "Azure Backup"
Seems to be a mismatch between this page and this one: https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq with respect to maximum number of data disks attached to  AZure IaaS VM. Says 16 on this page and 32 on the FAQ link I provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-

[2018-10-25 15:17] helderpinto opened #17614 "Lack of details on supported resource types for where operator"
I am able to filter out resources by provider (e.g., 'Microsoft.Network'), higher-level types (e.g., 'Microsoft.Network/dnszones'), and some level-2 resource types (e.g., 'Microsoft.Compute/virtualMachines/extensions'). What is not clear for me is why VM extensions can be filtered out and DNS Zone record types can't. Why does the following query return an empty array?

az graph query -q "where typ

[2018-10-25 15:31] iainfoulds commented on #17417
@paulmackinnon-adv365 Yes, the marketplace offerings won't include those additional tools. If you provide your own Jenkins instance, those tools would need to be installed.

I'll update the pre-reqs section to make it clear that if you aren't following the instructions in the doc to provision Jenkins, you need to install Docker and kubectl accordingly.

#in-progress

[2018-10-25 15:33] iainfoulds commented on #17545
Thanks, @mathieu-benoit. I've approved the PR.

#please-close

[2018-10-25 15:39] erhopf commented on #17555
@aqiank - TTS or speech synthesis isn't currently supported by the SDK. However, it is accessible via REST: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-text-to-speech.

[2018-10-25 15:39] DCtheGeek commented on #17614
@helderpinto Thanks for the question! The type `Microsoft.Network/dnszones/cname` doesn't appear to be a type that Resource Graph has mapped (not every child object is included).  One way I use to see all types in my environment is with `project type | distinct type | order by type asc`. Now, I don't know the DNSZones object very well, but if you get a dnszones record (use `where type =~ 'Microsof

[2018-10-25 15:45] #15510 closed

[2018-10-25 15:45] CarlRabeler commented on #17574
@lesterw1 there are plenty of examples on the web for issuing T-SQL commands using PowerShell - see, for example, https://blogs.msdn.microsoft.com/rkramesh/2012/02/01/creating-table-using-powershell/

[2018-10-25 15:48] CarlRabeler commented on #14013
@kazshi I know - hate to give you this answer, but I am promised that it is coming soon - pun intended. But, as part of this process, some folks decided to rework this page significantly - and delaying its release. It should be updated very soon. I have seen the mock-ups.

[2018-10-25 15:52] TomArcher commented on #17583
@neiltingley Thanks for the feedback. It appears that something has changed that has broken the article. I'll work with the feature team to fix.

[2018-10-25 15:54] Paul-Dempsey commented on #15499
Opened a month ago and still no action.

[2018-10-25 15:57] TravisCragg-MSFT commented on #17454
@CHDAFNI-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-25 15:57] #17454 closed

[2018-10-25 15:57] TravisCragg-MSFT commented on #12504
@aricbernard We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-25 15:57] #12504 closed

[2018-10-25 16:05] jtuliani opened #17615 "Static IP support"
Doc says only dynamic IPs are supported

But according to https://docs.microsoft.com/en-us/azure/vpn-gateway/create-zone-redundant-vnet-gateway Azure now supports availability zones for VPN gateways. These require the use of standard tier public IPs, which are static only.

That appears to be a contradiction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-10-25 16:16] rplumb commented on #17098
As this was moving so slowly, I've already opened a support ticket and been
working with them for several days. Sorry, I did not follow up here because
they asked for a link to this feedback and I assumed it would be closed.

Support said that not found error handling is a feature that is still under
development and is planned to be implemented by the end of November. 404
errors are correctly thro

[2018-10-25 16:30] Adam-Smith-MSFT commented on #16941
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-25 16:30] #16941 closed

[2018-10-25 16:36] YutongTie-MSFT commented on #17594
@wdalhaj Can you provide more information about which document you are referring? Thanks a lot!

[2018-10-25 16:36] jo6377 commented on #17258
It looks like Cisco may have moved WebEx to the CiscoSpark API set.  I was able to get provisioning working within WebEx with https://api.ciscospark.com/v1/scim/[tenant id]/

[2018-10-25 16:38] YutongTie-MSFT commented on #17591
@Nareshkadali Hi, can you please provide more information about what document you are referring to? Thanks.

[2018-10-25 16:39] YutongTie-MSFT commented on #17580
@BrodaUa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 16:41] YutongTie-MSFT commented on #17575
@AUFOOD Can you please provide more information about what issue you have and which document you are referring to? Thanks.

[2018-10-25 16:43] YutongTie-MSFT commented on #17573
@kkho Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 16:44] YutongTie-MSFT commented on #17562
@rwilkin481  We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-25 16:44] #17484 closed

[2018-10-25 16:45] rwilkin481 commented on #17562
Ok thanks.  It was a test.

Sent from Yahoo Mail on Android

  On Thu, Oct 25, 2018 at 12:44 PM, YutongTie-MSFT<notifications@github.com> wrote:
@rwilkin481 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

—
You are receiving this because you were mentioned.
Reply to

[2018-10-25 16:46] #17417 closed

[2018-10-25 16:48] YutongTie-MSFT commented on #17592
@skukan159 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@fmegen Hi, can you please check this issue and update the document as necessary? Thanks a lot!

[2018-10-25 16:50] bob999c commented on #17360
v1/beta1 worked fine. Thank you.

[2018-10-25 16:50] YutongTie-MSFT commented on #17584
@VladimirAlexiev Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@alch-msft Hi, can you please check this issue and update the document as necessary? Thanks a lot!

[2018-10-25 16:52] alinamstanciu commented on #17405
@RipinAggarwal , by now I hope things are clear
If you open in a brower your instance swagger Uri or ours (https://docs.westcentralus.azuresmartspaces.net/management/swagger/ui/index) you will learn that you need to attach collection names to the base uri, e.g. spaces, devices
https://yourDigitalTwinsName.yourLocation.azuresmartspaces.net/management/api/v1.0/spaces

We do not host any page under h

[2018-10-25 16:52] YutongTie-MSFT commented on #17563
@ArslanAli7 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@YasinMSFT Hi, can you please check this doc issue and update the document as necessary? Thanks.

[2018-10-25 16:55] andig commented on #17543
Looks like duplicate of #17360?

[2018-10-25 16:57] YutongTie-MSFT commented on #17565
@changeworld Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@j-martens Hi, can you please help update the document? And also, can you please update the author as well? Thanks a lot!

[2018-10-25 16:59] YutongTie-MSFT commented on #17541
@CHDAFNI-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-25 16:59] justinchizer commented on #17543
My apologies, it is a duplicate.
Please close

[2018-10-25 17:01] gonzalre opened #17617 "non-admin clarification"
For Objects category it is mentioned "A **non-admin user** can create no more than 250 objects." can we clarify what type of admin can do this thinking about the minimum requirements to create more than 250 objects?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42a0b4cb-1981-1cbc-ce2c-dbfd8af1527c
* Version Independen

[2018-10-25 17:02] vhorne commented on #17468
@markgar
Done

[2018-10-25 17:03] vhorne commented on #17468
#please-close

[2018-10-25 17:05] alinamstanciu commented on #17533
@alexmarshall132  I will document this early next week. If you are blocked, please let me know and I can send you the details.

[2018-10-25 17:08] YutongTie-MSFT commented on #13094
@furena We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-25 17:08] #13094 closed

[2018-10-25 17:08] YutongTie-MSFT commented on #14138
@Arash-Sabet We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-25 17:08] #14138 closed

[2018-10-25 17:09] YutongTie-MSFT commented on #14402
@hiesus We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-25 17:09] #14402 closed

[2018-10-25 17:09] YutongTie-MSFT commented on #17535
@Muleguy We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-25 17:09] #17535 closed

[2018-10-25 17:09] YutongTie-MSFT commented on #17545
@mathieu-benoit We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-25 17:09] #17545 closed

[2018-10-25 17:10] SaurabhSharma-MSFT commented on #17254
@sspenning We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-25 17:10] #17254 closed

[2018-10-25 17:10] SaurabhSharma-MSFT commented on #17412
@Nitesh097 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-25 17:10] #17412 closed

[2018-10-25 17:10] #17543 closed

[2018-10-25 17:11] SaurabhSharma-MSFT commented on #17504
@jinshu1987 Sure. Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-25 17:11] #17504 closed

[2018-10-25 17:11] sergaz-msft commented on #17606
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-25 17:11] SaurabhSharma-MSFT commented on #17508
@longnlp We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-25 17:11] #17508 closed

[2018-10-25 17:14] PramodValavala-MSFT commented on #17557
@tutul2010 If you are trying to send emails using your hotmail (or now outlook.com account) you would have to use the `Outlook.com` connector and not the `Office 365 Outlook` connector

![image](https://user-images.githubusercontent.com/43602528/47518018-75a9cb00-d8a7-11e8-9da2-ffa466621967.png)

[2018-10-25 17:15] YasinMSFT commented on #17563
Please assign to @raymondlaghaeian