[2018-08-10 18:39] jdobrzen commented on #13167
@jason-j-MSFT  I did receive a reply of OK from the API call, which is the same reply I received when deleting a manifest and image. However, the model is still listed when making the API call to list the models and in the Model Management blade in the Azure portal.

[2018-08-10 18:46] laxmanrb commented on #13219
Already addressed.

[2018-08-10 18:48] TravisCragg-MSFT commented on #13241
@roy-satadru You can find a [template example for an app gateway Here](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-create-gateway-arm-template), but this doesn't show a good example of a custom probe. Let me see if I can find a good example in an existing template.

[2018-08-10 18:49] laxmanrb commented on #13219
It was captured in the latest document by the time issue was raised. Can we close this issue?

From: Andrew Bainbridge <notifications@github.com>
Sent: Friday, August 10, 2018 3:39 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Laxmana Rao Battula <labattul@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] I think the testpmd command line

[2018-08-10 18:57] jkrollin commented on #13217
Hi Bruce,
I did read the page you have suggested however that explains how the suggesters work via the rest api, it does give insight to what they actually are and do. However to give a bit of backstory,  I had followed how to implement azure search through .net, the examples use a suggester named ‘sg’ but never explains how to create one, it was a bit confusing when following the quick start exam

[2018-08-10 18:57] TravisCragg-MSFT commented on #13241
@roy-satadru [Here is a template that uses custom probes](https://azure.microsoft.com/en-us/resources/templates/201-application-gateway-webapps/). it is a bit old, but should still some guidance on how to configure it.  You can also use the "Automation Script" on an existing application gateway with a custom probe to see what the template should look like.

Becuase we do not have a current templat

[2018-08-10 19:08] daveba commented on #13108
@ccassagnol @SaurabhSharma-MSFT Thanks again for your feedback.  I submitted a pull request (https://github.com/MicrosoftDocs/azure-docs-pr/pull/48754) to update the prerequisites section with the appropriate steps for getting the prerelease modules to work.  It will publish during the 3 PM run today. #please-close

[2018-08-10 19:11] HeidiSteen commented on #13128
Another dev mentioned that this feature, and a few others, are in the queue for GA.  The team does not announce GA until all work is complete -- including doc updates.  I cannot give you a definite date because dates do slip when other higher-priority work interferes.

[2018-08-10 19:14] MicahMcKittrick-MSFT commented on #12901
@haydenhancock any update on this?

[2018-08-10 19:18] MicahMcKittrick-MSFT commented on #13068
@dmakaroff I will close this for now. Please let me know if running in CMD on your local machine or in Azure Cloud shell provides you the same error. If so we can reopen and continue.

[2018-08-10 19:18] #13068 closed

[2018-08-10 19:19] haydenhancock commented on #12901
I hope to get around to this over the weekend.

[2018-08-10 19:25] DavidPrio commented on #6327
Hi @BryanTrach-MSFT while @Sara-Nicolini is in charge of localization issues, the actual issues must be assigned to me so we can work on them. Can you please reassign (I don't have access rights)? Thanks for understanding.

[2018-08-10 19:29] MicahMcKittrick-MSFT commented on #13224
@VaanPan I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-10 19:31] MicrosoftGuyJFlo commented on #13042
@anthonynz Wanted to give you an update...
The developers just confirmed that a code change has been made to resolve this for users with Azure AD Basic licensing that should go live late next week.

[2018-08-10 19:34] MicahMcKittrick-MSFT commented on #13222
@VaanPan Not sure I am fully understanding the issue you are seeing following this doc.

Can you elaborate a bit more? Are you just seeing issues locally but not when deploying to Azure?

[2018-08-10 19:36] MicrosoftGuyJFlo commented on #13042
@anthonynz I will let you know when I see it in production.

[2018-08-10 19:42] MohitGargMSFT commented on #13204
@jonwbstr Thanks for the feedback to improve the content. The PR for the change has been created and it will be merged soon.

[2018-08-10 19:42] christiankuhtz commented on #10610
@kazshi the quote is taken out of context:

"One key aspect is the scope of the virtual network for the resource. While Basic Load Balancer exists within the scope of an availability set, a Standard Load Balancer is fully integrated with the scope of a virtual network and **all virtual network concepts apply**."

vnets provide isolation and a number of features such as security groups.  security g

[2018-08-10 19:44] davegreen commented on #10957
@R0chen - Happy to help! I have had a chat recently to a product manager that's given me some hope. Good luck!

Of course, always dare to ask! I've put together a quick blog post together to illustrate this. You can find the post [here](https://tookitaway.co.uk/2018-08-10/working-with-workday-the-soap-opera). I'm using a Workday system integration user account set up the same as I use for the MS a

[2018-08-10 19:45] christiankuhtz commented on #10610
@asubmani there is no such thing as scale out operations for load balancer.  <30 seconds refers to increased speed of ARM provisioning operations.  we're evaluating how to characterize the performance of the service in a public document.  in the meantime, please reach out to me directly to discuss a specific scenario. thanks.

[2018-08-10 19:50] MohitGargMSFT commented on #13230
@chris-weck Please use this to install MSOnline module. Please note to mention path in below script.

#Inspect
PS> Save-Module -Name MSOnline -Path <path> -RequiredVersion 1.1.166.0

#Install
PS> Install-Module -Name MSOnline -RequiredVersion 1.1.166.0

[2018-08-10 19:54] Alberto-Vega-MSFT commented on #13153
@DoyleJOfTexas @CarlRabeler We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-10 19:54] #13153 closed

[2018-08-10 19:55] treedust commented on #12965
Docker volumes do not run with Azure? Only host fs binds are allowed?

I get

[code]

But I have just found out the it happens after losing wifi connection or after rebooting the device close to 5 minutes after the reboot.

[2018-08-10 19:58] MohitGargMSFT commented on #13237
@xocolatl-aficionado Try this and let me know if this works,

1. Configure returnURL (in config.js) as http://localhost:3000/
2. Configure ReplyURL (in portal) as http://localhost:3000/
3. Add "allowHttpForRedirectUrl: true" to the config.js file

If this works, I will modify the content accordingly.

[2018-08-10 19:59] Mike-Ubezzi-MSFT commented on #13242
Reference: The en-us version of the document: https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed

Too much explanation for the precise use of the Change Feed
Getting all the feeds is easy. But it only tries to feed on a particular partition. Could not find a way.

[2018-08-10 20:01] MicrosoftGuyJFlo commented on #13011
Created a PR in our private repo to add a warning to the section with the callout that the preview must be enabled before the link will work for users.

[2018-08-10 20:02] Karishma-Tiwari-MSFT commented on #13175
@abgreg To verify whether the deployment of function app, through zip deploy option, was successful or not, you can:

1. Browse to function app > Platform Features Tab.
Click 'Deployment Options' under 'Code Deployment' heading.

![zipdeploy2](https://user-images.githubusercontent.com/20851144/43977938-725d2eb8-9c9a-11e8-9878-1d08ef4e5a5a.PNG)

2. Click on the deployment displayed under 'Deploymen

[2018-08-10 20:07] Mike-Ubezzi-MSFT commented on #13242
@LisandroSu Are you using only a single partition key or do you know all your partitions keys? In the [Using the SDK section](https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed#using-the-sdk), step 3 explains how to retrieve the partition key ranges.

**3. Get the partition key ranges:**

FeedResponse pkRangesResponse = await client.ReadPartitionKeyRangeFeedAsync(
    collectionUri,

[2018-08-10 20:07] Karishma-Tiwari-MSFT commented on #12971
@BrainSlugs83 any updates?

[2018-08-10 20:08] brjohnstmsft commented on #13217
@jkrollin This definitely helps, thanks!

[2018-08-10 20:09] aydeisen opened #13247 "Script needs to be updated"
Enable-AzureRMDiagnostics is still using Find-AzureRMResource, which was removed with version 6 of the AzureRM PowerShell Module.  PSGallery lists this article as the project Uri.

Are there plans to update the script?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b8c554e-507d-9642-e363-4e8e329385f9
* Version Indepen

[2018-08-10 20:12] billmath commented on #12952
@Szeraax good catch.  This should be 1.1.749.0.  I have updated the doc and it should be live later today.  Thanks!

[2018-08-10 20:13] billmath commented on #12952
#please-close

[2018-08-10 20:13] billmath commented on #12937
@hmizael you are correct.  I have gone ahead and updated the doc and it should be live later today.  Thanks!

[2018-08-10 20:13] billmath commented on #12937
#please-close

[2018-08-10 20:15] billmath commented on #12856
@alexbarth-ut  Thank you for the issue.  Currently there are no additional steps specifically for Windows Server 2016.  Thanks!

[2018-08-10 20:15] billmath commented on #12856
#please-close

[2018-08-10 20:16] MohitGargMSFT commented on #6261
@dcbrown16 Thanks for the follow up.

@TravisCragg-MSFT Please check on above issue assigned to author but has not been updated. Please see if you can address it or we may need to find required content author to help on it.

[2018-08-10 20:17] #13204 closed

[2018-08-10 20:18] billmath commented on #12835
@PeterKlapwijk Thank you for the post.  I am following up with the PM on this and should have confirmation shortly.

[2018-08-10 20:25] billmath commented on #12772
@JefTek You are correct.  Newer versions of Azure AD Connect (1.1.552.0 and after) supports switching from ObjectGuid to ConsistencyGuid.  However be aware that only switching from ObjectGuid to ConsistencyGuid is supported.  I will add a note to the source anchor section next week to refer to this section.  I will leave this issue open and post a follow-up once this change is in.  Good catch and

[2018-08-10 20:25] TravisCragg-MSFT commented on #10610
@kazshi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-10 20:25] #10610 closed

[2018-08-10 20:30] billmath commented on #12598
@gpartridge2004 Thank you for catching this.  I need to validate this before I can make the change.  I have created a work item for this but it may take awhile to get into the back log.  At this point I am going to go ahead and close this issue and we can re-open it once the issue has been resolved.  Thanks!

[2018-08-10 20:31] billmath commented on #12598
#please-close

[2018-08-10 20:33] veyalla commented on #12965
If you mean, will docker volumes work with Azure IoT Edge, they will provided the docker volumes are [created](https://docs.docker.com/storage/volumes/#create-and-manage-volumes) before mounting them into a container.

Regarding the other issue you are facing due to restart and wifi disconnection, please post the details at https://github.com/azure/iotedge/issues where more folks from our team can

[2018-08-10 20:34] billmath commented on #12533
@student-forever Unfortunately this is a support issue and not a document bug.  I would recommend either trying CSS or the MS forums.  Likewise this information would be referenced here: https://docs.microsoft.com/en-us/powershell/module/msonline/get-msoldirsyncfeatures?view=azureadps-1.0 and not in the doc that is referred to in the content source.

[2018-08-10 20:35] billmath commented on #12533
#please-close

[2018-08-10 20:38] billmath commented on #12485
@rfoust This appears to be fixed now.  Good catch!

[2018-08-10 20:38] billmath commented on #12485
#please-close

[2018-08-10 20:38] jason-j-MSFT commented on #13167
@cjgronlund a customer is reporting the delete model API call is being accepted but the model is not being deleted, could you take a look?  Thanks!

[2018-08-10 20:39] #13011 closed

[2018-08-10 20:40] MicrosoftGuyJFlo commented on #13011
The update should publish this afternoon around 330pm Pacific

[2018-08-10 20:43] billmath commented on #11771
@JBines Just wanted to follow-up and let you know that the FAQ has the correct support statement.  You will see that the statement in the pre-requisites has been removed.  Thanks!

[2018-08-10 20:43] billmath commented on #11771
#please-close

[2018-08-10 20:49] xocolatl-aficionado commented on #13237
I tried that too. Didn't work. Could you provide a sample of the config file that does work? also, are any changes needed in the app.js?

[2018-08-10 20:51] reyesml opened #13248 "Getting 404 on server-side documentation links"
The links to https://azure.github.io/azure-documentdb-js-server/ return a 404.  I believe the updated URL is https://azure.github.io/azure-cosmosdb-js-server/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e21eb833-cdaa-f411-0d65-0486b93a5ef5
* Version Independent ID: 903a65a8-276b-8341-79a5-3bdf1ab58fc8
* Content: [Se

[2018-08-10 20:53] mike-urnun-msft commented on #11855
Hey @badulescub Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-10 20:53] #11855 closed

[2018-08-10 20:55] jason-j-MSFT commented on #13006
@Minewiskan could you take a look at this issue and assess if a clarification is needed?  Thanks!

[2018-08-10 21:00] SnehaGunda commented on #13218
#please-close

[2018-08-10 21:06] #7111 closed

[2018-08-10 21:15] fhryo-msft commented on #13145
Can you run "Get-Module -ListAvailable AzureRM" and "Get-Module -ListAvailable AzureRM.Storage" to see available versions?

[2018-08-10 21:15] student-forever commented on #12533
Hey Bill, thank you for the reply but the document referenced discusses the features of the get-msoldirsyncfeatures command, that is why I posted the question there. Also, the intent of posting the question was to check if a discussion of the new feature will be introduced in the documentation and not raise a document bug. Finally, if you would like me to redirect my query, please don't take 11 da

[2018-08-10 21:15] fhryo-msft commented on #13145
@Sambsamb

[2018-08-10 21:18] MicahMcKittrick-MSFT commented on #13061
@Klaas- The logic for generating a default UID is quite complicated:

1.	Calculate a hash based on the UPN using FNV-1a hash function
2.	Get only the lower 3 bytes and add 10000 to make sure AAD users don’t collide with local users
3.	If another user exists with this uid but different name, or if the calculated id is 65534 or 65535, go to an overflow region and find a free id in that region.

Hope

[2018-08-10 21:18] #13061 closed

[2018-08-10 21:18] SnehaGunda commented on #13248
@reyesml thanks for catching the issue, we will fix it soon.

[2018-08-10 21:26] Szeraax commented on #12952
Lovely.

[2018-08-10 21:26] #12952 closed

[2018-08-10 21:28] jason-j-MSFT commented on #13220
@StigSH
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-10 21:29] #13223 closed

[2018-08-10 21:31] jason-j-MSFT commented on #13247
@aydeisen
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-10 21:31] mike-urnun-msft commented on #12268
@myokeeh Correct, documentation does seem to state so: "..._If creating a Windows application, instead use the package SID as the URI_.." which on the corresponding documentation state: "..._Many uses of the package SID treat it as a URI, in which case you need to use ms-app:// as the scheme_..."

We will now proceed to close this thread. If there are further questions regarding this matter, pleas

[2018-08-10 21:31] #12268 closed

[2018-08-10 21:31] fhryo-msft commented on #13145
@EmmaZhu , i saw two versions of Storage modules, Azure.Storage and AzureRM.Storage. Is the exception caused by this and how to avoid it?

[2018-08-10 21:32] #13187 closed

[2018-08-10 21:32] #13108 closed

[2018-08-10 21:32] #12937 closed

[2018-08-10 21:32] #12856 closed

[2018-08-10 21:32] #12669 closed

[2018-08-10 21:33] #12447 closed

[2018-08-10 21:33] #12356 closed

[2018-08-10 21:33] #11912 closed

[2018-08-10 21:34] #6939 closed

[2018-08-10 21:35] Mike-Ubezzi-MSFT commented on #13059
@luyaok I am unable to reproduce this. Additionally, I completed these tutorials in Visual Studio to capture any debug and any exceptions.

![screenshot 167](https://user-images.githubusercontent.com/37126106/43982405-9e73a364-9caa-11e8-9f46-9f9653e96bd6.png)
![screenshot 168](https://user-images.githubusercontent.com/37126106/43982406-9e899e3a-9caa-11e8-9e46-b88f1be4f8f9.png)

Please let me know

[2018-08-10 21:36] SnehaGunda commented on #13248
#please-close

[2018-08-10 21:40] Mike-Ubezzi-MSFT commented on #13218
@kyyung We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-10 21:40] #13218 closed

[2018-08-10 21:41] jason-j-MSFT commented on #13073
@linda33wj if this functionality exists could it be added to the document?

[2018-08-10 21:43] MicahMcKittrick-MSFT commented on #13115
Thanks @dlepow!

@nicolaszhang I will close this out for now but if you feel you need more information just let us know and we can reopen and continue.

[2018-08-10 21:43] #13115 closed

[2018-08-10 21:44] MicahMcKittrick-MSFT commented on #13198
@nicolaszhang I will close this for now but if you need more info just let us know and we can reopen and continue.

[2018-08-10 21:44] #13198 closed

[2018-08-10 21:45] tfitzmac commented on #13212
@meghalv - the steps to move VMs through the portal are the same as any other resource type. You can select the resource group and pick move to new subscription. The VMs and other resources in that resource group will be available for selection. Are you encountering a problem?

Sorry, I am not sure what options there are for moving resources from an inactive account. You could contact support to s

[2018-08-10 21:48] #13149 closed

[2018-08-10 21:48] jason-j-MSFT commented on #13047
@douglaslMS could you take a look at this?  It might be an issue with the storage linked service and SAS URIs.

@gstream1 could you make certain you are using a valid SAS URI.

[2018-08-10 21:52] TravisCragg-MSFT commented on #13243
@aricbernard Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-10 22:00] tfabris opened #13252 "Instructions are incorrect."
Instructions say "Select Cores as the quote type."
When following the steps in the instructions exactly, I reach the correct screen, however the "Quota type" list does not have a selection for "Cores", or anything like it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe04a05a-f753-ee1f-5171-fd2a81a030f9
* Version Ind

[2018-08-10 22:12] roalexan commented on #9759
I had to run Install-Package Microsoft.Extensions.Configuration -Version 2.1.1 for Visual Studio to find Microsoft.Extensions

[2018-08-10 22:14] roy-satadru commented on #13241
Thanks! Good suggestion about the automation script - I'd forgotten about that. That makes it much easier!

[2018-08-10 22:16] roalexan commented on #9759
Also, I needed to include the Microsoft.Extensions.Configuration.Json NuGet package to get the .AddJsonFile() method

[2018-08-10 22:16] igorkovalchuk opened #13253 "Work with Azure Functions Core Tools"
This document doesn't mention that
`func host start`
needs the --build flag to run the code on Linux in Core Tools Version 2.x when we have a function in a C# class.

`func host start --build`

otherwise it outputs a warning message
`No job functions found. Try making your job classes and methods public.`

It works with C# script (.csx) without the `--build` flag,
but that flag is necessary when w

[2018-08-10 22:39] abgreg commented on #13175
This was so helpful, thank you! :)

[2018-08-10 22:48] laxmanrb commented on #13219
#please-close

[2018-08-10 22:51] Karishma-Tiwari-MSFT commented on #13175
Thanks@abgreg. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.
@ggailey777 It looks like there is no documentation on this yet. This could be a good topic to cover for our customers.

[2018-08-10 22:51] #13175 closed

[2018-08-10 22:53] MicahMcKittrick-MSFT commented on #13253
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-10 22:55] SnehaGunda commented on #13248
#please-close

[2018-08-10 23:00] Mike-Ubezzi-MSFT commented on #13248
@SnehaGunda After the build completes, you can comment with #sign-off in the pull request and I think this (linked) GitHub issue is closed automatically. Just an FYI...

@reyesml We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. Thank you, Mike

[2018-08-10 23:01] #13248 closed

[2018-08-10 23:02] tfitzmac commented on #13214
@onlyutkarsh - thanks for this feedback. I am adding that clarification to the article. It should get published Monday morning.

[2018-08-10 23:03] MarileeTurscak-MSFT commented on #13157
@jaycenornin At this point I don't think there's a cmdlet for this, but you can pause your current one and download the latest version to achieve the same results. You need to stop all syncing on the current version and download the latest version. Your system will recognize that an old version is still installed and prompt you to upgrade.

Please see these instructions: https://www.ntweekly.com/2

[2018-08-10 23:04] MarileeTurscak-MSFT commented on #13157
Closing this issue for now. If you have any additional queries feel free to open a new issue or comment on this one.

[2018-08-10 23:04] #13157 closed

[2018-08-10 23:05] MarileeTurscak-MSFT commented on #12948
This sort of troubleshooting question is more suited for the MSDN forums. Please open a question here: https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazuread

[2018-08-10 23:05] #12948 closed

[2018-08-10 23:11] MarileeTurscak-MSFT commented on #13144
I was not able to reproduce because I do not have an account with proper permissions. Are you able to look into this, @MicrosoftGuyJFlo ?

[2018-08-10 23:12] mikebudzynski commented on #11995
@kobulloc-MSFT - fixed. please close

[2018-08-10 23:15] MicahMcKittrick-MSFT commented on #13252
@tfabris thanks for the feedback. Seems we have updated the portal but not the document.

This is what it should look like:

![image](https://user-images.githubusercontent.com/32313503/43984922-7d6fb348-9cb8-11e8-9b26-5ffb82c8d0e4.png)

I have assigned this to the content author to update the screenshots in the doc :)

[2018-08-10 23:25] mike-urnun-msft commented on #12238
@xocolatl-aficionado As per #9351, following on stackoverflow should help you: https://stackoverflow.com/questions/16045722/notification-not-showing/16448278#16448278

@dimazaid FYI that this doc needs an update to reflect latest Andoid SDK change.

[2018-08-10 23:26] mike-urnun-msft commented on #12238
@xocolatl-aficionado Thank you again for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-10 23:29] singhkays commented on #12512
@PedroMiguelFigueiredo The syntax worked for me. What error are you getting?

[code]

[2018-08-10 23:35] #13214 closed

[2018-08-10 23:39] aluong opened #13254 "Hard to find tutorial of Generic Event Grid Subscriptions Blade"
It is really hard to find instructions or an example of how to subscribe to events for an Azure Subscription. After searching in the Azure Portal for Event Grid, I finally saw the blade that shows all Event Grid Subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ebb06fe-1481-145a-23ff-0de5c8a9df56
* Version

[2018-08-10 23:43] mike-urnun-msft commented on #13005
@tigerjos This documentation discusses Java SDK for Azure Notification Hubs. If you're looking for a Java SDK for FCM, you'd need to refer to FCM documentations.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-10 23:43] #13005 closed

[2018-08-10 23:58] joellyons opened #13255 "inconsistent terminology"
This document states "If the ApplicationIntent value is ReadOnly, the connection is routed to a readable replica."  This is the only place the term "readable replica" is used.  Perhaps it should use the term "read-only replica" instead to avoid confusion.  To me, the term "readable replica" could include the read-write replica, which I'm assuming is not what is meant.

---
#### Document Details

⚠

[2018-08-11 00:02] joellyons opened #13256 "typo"
The "Using Read Scale-Out with geo-replicated databases" section begins with "If your are using..." and should say "If you are using..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-4448-11b7-2dc2-3b738bd70939
* Version Independent ID: 206eb022-25c4-66d7-7285-0d53a84956e3
* Content: [Azure SQL Database - rea

[2018-08-11 00:10] brjohnstmsft commented on #9759
@roalexan I assume you're referring to a specific .NET sample for Azure Search. Can you please provide a link to the sample that gave you trouble?

[2018-08-11 00:28] bwren commented on #8742
@isahunter Not sure if I can change the asignee on this.  Please assign to Matt Goedtel who's working on this content.

[2018-08-11 00:29] MikeAinOz commented on #13096
@ecfan As in String, Collection,  Comparison etc...? That looks good and would provide some nice consistency of organization.

[2018-08-11 00:51] ranjanp commented on #13180
fixed

[2018-08-11 00:51] #13180 closed

[2018-08-11 01:55] ToMakeSense commented on #13221
@jason-j-MSFT Yes. I shared the link you mentioned in the beginning of my description.

PS: the url I gave is:
[https://docs.microsoft.com/en-us/powershell/module/azurerm.logicapp/get-azurermlogicapptriggercallbackurl]()
when you visit it, it goes to the latest version of AzureRM module by default
[https://docs.microsoft.com/en-us/powershell/module/azurerm.logicapp/get-azurermlogicapptriggercallba

[2018-08-11 03:09] jasonwangnanjing opened #13258 "is there any duration limitation for pushing an image to acr?"
[Enter feedback here]
Hi MS Colleagues,

i am using ACR. I have small images after login. I can push them successfully. I have one big , near 1 GB, after pushing , like over 50 mintues, it finished.But finally it got return 'Authorization required'.

is there any duration limitation for pushing an image to acr? If yes, is there any chance to extend it?

BR Jason
---
#### Document Details

⚠ *Do no

[2018-08-11 07:46] chris-weck commented on #13230
Thanks. I got it running.

[2018-08-11 09:00] vadim-berman commented on #11758
Sorry, why did you close it? The documentation is still not there.

[2018-08-11 10:01] MedAnd commented on #12977
@zuhairp - I could send more detailed info to your email? Thx

[2018-08-11 11:48] Klaas- commented on #13061
thanks

[2018-08-11 13:00] ktm commented on #8796
@TomArcher No longer experiencing the errors.

[2018-08-11 13:19] smoms opened #13260 "Balanced Zone meaning"
Sorry but i am really struggling to understand the statement "A scale set is considered "balanced" if the number of VMs in each zone is within one of the number of VMs in all other zones for the scale set." and the following example. The example is not explained so it does not improves clarity of the documentation. thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-08-11 13:59] TomArcher commented on #8796
@ktm Thank you. It's good to hear that the solution is working for you now..

@femsulu #please-close

[2018-08-11 14:31] mboldisc commented on #13188
Excellent response.  Thank you!

This is in reference to the second part of my question.  Is a registered device only able to send up data for itself?  Would it be possible for a device to send up data for other devices without having to use their individual authentication?  For example, many IOT solutions involve a gateway for other devices that don't have internet connectivity.  It would be nice

[2018-08-11 15:07] rameshjanjyam commented on #13195
Thank you @Adam-Smith-MSFT

[2018-08-11 15:41] mboldisc commented on #13188
The example topic you provided seems to be for sending messages from the cloud to a device.

I tried the following topic:
`devices/mydevice/messages/events/$CreationTimeUtc=2018-08-11T15%3A30%3A34.434160Z`

Azure doesn't seem to understand/parse the creation time.  It still uses the time the message was received.

I also tried playing around with the "servicebound" topics, but no dice.
https://azu

[2018-08-11 15:59] Alienroid opened #13261 "Could you also provide authenticate example with mvc identity?"
looks similar to the default mvc example which I am using. Just wondering if there's something specifically different for signalr

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32cea1c1-63e6-f332-419a-03ebdfb61bad
* Version Independent ID: 27404347-a7e3-08a3-5845-ed54f66b0483
* Content: [Tutorial for authenticating Azu

[2018-08-11 16:57] TylerMSFT commented on #13222
@VannPan - We are working to get to the bottom of this issue. I will update you when we have a solution.

[2018-08-11 18:06] randhirkc commented on #12299
@larrywa, I have noticed that closing a VS solution removes the corresponding app from the SF cluster, as part of unload. So even when you exit devenv completely, it removes the app.

[2018-08-11 19:08] jason-j-MSFT commented on #13254
@aluong
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-11 19:09] jason-j-MSFT commented on #13256
@joellyons
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-11 19:11] jason-j-MSFT commented on #13255
@joellyons
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-11 19:12] jason-j-MSFT commented on #13258
@jasonwangnanjing
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-11 19:13] jason-j-MSFT commented on #13260
@smoms
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-11 19:14] jason-j-MSFT commented on #13261
@Alienroid
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-11 19:41] jason-j-MSFT commented on #13221
@ToMakeSense that document is hosted in the 'azure-powershell' repo, could you open an issue here:
https://github.com/Azure/azure-powershell

Thanks for the find.

[2018-08-11 19:41] #13221 closed

[2018-08-11 19:47] joakimhellum-in opened #13263 "Windows container memory limit"
Is the Windows container suppose to have 1GB memory limit by default? When following the above example to create a containerized web app in the portal (or using ARM templates) using one of the cached base images, it seem to crash quickly with out of memory error around 1GB, despite the app service plan have 32GB memory. This only affects Hyper-V container app service plan ("Xenon" kind).

Example

[2018-08-11 20:37] guibirow commented on #10255
@iainfoulds In your statement:

If an AZ is isolated from each other with their own UD\FD how Azure knows that my VMs deployed in different UD across these AZ shouldn't be updated at the same time? What prevent this?

I assume that if it does one by one for the entire region it would take ages to complete!

[2018-08-11 20:48] MarileeTurscak-MSFT commented on #13263
Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-11 21:19] RattleSnakeSkin opened #13264 "Compile issue when running donet"
I am getting the following issue when using the dotnet command:

Error		Package Microsoft.Azure.EventHubs 2.1.0 is not compatible with netcoreapp2.1 (.NETCoreApp,Version=v2.1). Package Microsoft.Azure.EventHubs 2.1.0 supports:
  - net461 (.NETFramework,Version=v4.6.1)
  - netstandard2.0 (.NETStandard,Version=v2.0)

Using Visual Studio Community 2017 Version 15.1
.NET Framework Version 4.7.03056

[2018-08-11 21:25] RattleSnakeSkin opened #13265 "Issue when running dotnet command"
When running the donet run command I am getting the following error:

Error		Package Microsoft.Azure.EventHubs 2.1.0 is not compatible with netcoreapp2.1 (.NETCoreApp,Version=v2.1). Package Microsoft.Azure.EventHubs 2.1.0 supports:
  - net461 (.NETFramework,Version=v4.6.1)
  - netstandard2.0 (.NETStandard,Version=v2.0)

I am using Visual Studio Community 2017
 Version 15.1 (26403.7)

.NET Framewor

[2018-08-12 01:42] d2town commented on #6226
Any progress on this?  I'm struggling with the same issue.  We have solutions we can not operationalize until we figure it out.

[2018-08-12 04:07] jason-j-MSFT commented on #13264
@RattleSnakeSkin thanks for the feedback.  Could you provide a link to the document you are referring to?

[2018-08-12 04:09] jason-j-MSFT commented on #13264
@RattleSnakeSkin I see this a duplicate of:
https://github.com/MicrosoftDocs/azure-docs/issues/13265

[2018-08-12 04:09] #13264 closed

[2018-08-12 04:11] jason-j-MSFT commented on #13265
@RattleSnakeSkin
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-12 07:59] Karishma-Tiwari-MSFT commented on #12673
@frankfajardo Follow these steps to see the message id for the function app in application insights:

1. Go to Application Insights on Azure portal -> select Overview Tab and then click on Search.

![logs1](https://user-images.githubusercontent.com/20851144/43999857-cef39cb8-9dc9-11e8-92e7-fdb40eb7e35b.PNG)

2. Select a time range and click on Update. This will show the trace results in that time

[2018-08-12 08:07] wpo365 opened #13266 "Email address not returned by default"
Having gone through this instruction step-by-step it seems that in the user info sent back from Facebook to Azure AD B2C the email claim is missing or at least it isn't processed and subsequently returned in Azure AD B2C's application token to my application. I am wondering: Do I really need to set up a custom policy (currently in preview) to obtain a claim that is so essential and so basic or hav

[2018-08-12 08:44] ToMakeSense commented on #13215
@humer If you use VSTS platform, I think you could find something yo want here [VSTS Marketplace-azure](https://marketplace.visualstudio.com/search?term=azure&target=VSTS&category=Build%20and%20release&sortBy=Relevance)

[2018-08-12 10:40] mhabibal13 opened #13267 ".NET Framework"
Under "Details of base64 encoding and decoding" : What do you mean exactly with "if you are using .NET framework" or not using the .NET framework in this context?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1be935e6-88cc-38b8-aab4-bd43fd32ed4d
* Version Independent ID: 3c900aa3-ebc8-17bc-cfa2-3e3a6e7400e9
* Content:

[2018-08-12 10:41] mhabibal13 opened #13268 "Implementing my own mappingfields functions"
Can I build integrate my own functions to be used while mapping? The same like EncodeToBase64 and etc.?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1be935e6-88cc-38b8-aab4-bd43fd32ed4d
* Version Independent ID: 3c900aa3-ebc8-17bc-cfa2-3e3a6e7400e9
* Content: [Field mappings in Azure Search indexers](https://docs.mic

[2018-08-12 10:49] markarnolditpro opened #13269 "Link to Zero touch... video broken"
Link to ` Zero touch device registration with Azure IoT video` is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd8ddf46-09f2-cc99-4e95-e6c834edcc46
* Version Independent ID: c1db7c54-781a-a2cf-a7a0-900576a7fa57
* Content: [IoT Hub Device Provisioning Service - Auto-provisioning concepts](https://docs.microsoft

[2018-08-12 10:49] markarnolditpro commented on #13269
... in the last callout just about Next Steps

[2018-08-12 11:51] wpo365 commented on #13266
As it turns out (after some testing with Facebook Graph) Facebook isn't returning my email address. Why not is unclear to me but not a topic that needs to be discussed here.

[2018-08-12 11:51] #13266 closed

[2018-08-12 13:07] nicolaszhang commented on #13115
Sorry, I may not make myself clear, I mean VM TYPE ( A-Serials, B-Serials, etc). And I think A-Serials, B-Serials VM etc doesn't support Windows Container, so Azure Batch should not be able to support that VM for Windows container workload either, correct me if I'm wrong here. If so, I think it's better to clearly mention here which serials of VM of batch pool support Windows container (with and w

[2018-08-12 13:42] kaevans commented on #9023
The Azure Disk Encryption extension is built using .NET 4.5. Add the following registry entries to the virtual machines to enable TLS calls made using .NET Framework 4.5 to succeed when TLS 1.0 is disabled:

[code]

For more information, see [Transport Layer Security (TLS) best practices with the .NET Framework](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls).

[2018-08-12 14:43] chicagoclone commented on #12900
Same.

[2018-08-12 15:08] ELCLC opened #13271 "Deployment error"
When I try to push to Azure from Git, I get the following output, and a deployment error:
"remote: Updating branch 'master'.
remote: Updating submodules.
remote: Preparing deployment for commit id 'c3225e8531'.
remote: Object reference not set to an instance of an object
remote: App container will begin restart within 10 seconds.
remote: Error - Changes committed to remote repository but deploymen

[2018-08-12 15:13] Izzmo commented on #9328
I am having the same issue...

[2018-08-12 15:46] HerrFuchs commented on #7392
I too am getting the error : "unable to determine hardware version. I see hardware BCM2835". Do someone have a solution?

[2018-08-12 18:27] jason-j-MSFT commented on #13267
@mhabibal13
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-12 18:28] jason-j-MSFT commented on #13268
@mhabibal13
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-12 18:29] jason-j-MSFT commented on #13269
@markarnolditpro
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-12 18:31] jason-j-MSFT commented on #13271
@ELCLC
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-12 18:42] darenm opened #13272 "Customizing Cloud Deploys"
What are the recommendations for customizing the basic and standard deployments of the remote monitoring solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 228674e5-ed5a-2343-c1c9-10571a1e9062
* Version Independent ID: 2bbe8dfe-bc82-a053-7bcc-91192e6bb1d6
* Content: [Customize the Remote Monitoring solution UI -

[2018-08-12 18:42] darenm opened #13273 "Remote solution customization"
What are the recommendations for customizing the basic and standard deployments of the remote monitoring solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d73ef5af-8f75-3124-8e6d-ac1bb3db2a3f
* Version Independent ID: 95dd52b3-84fd-3201-8983-97b4f53a89c3
* Content: [Change and redeploy a microservice](https://do

[2018-08-12 20:26] sam90909 opened #13274 "Azure documentation is very messed up."
Azure documentation is very messed up, this is not what end years expect. They have so much difficulty following or understanding the procedures. AWS has better documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dbd38fa-89f0-320a-b517-b440be6927f9
* Version Independent ID: 8b2eeee3-fb49-37e5-917d-f36bcd60ad

[2018-08-12 21:02] swigerb opened #13275 "Link 404 on GitHub"
The link in the line "This value can be customized through ARM template deployment. See examples here." fails with a 404 to GitHub. The link that fails is: https://github.com/Azure/AKS/blob/master/examples/vnet/02-aks-custom-vnet.json#L64-L69

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18e73ba6-a06d-9bc4-fef6-6ece8a

[2018-08-12 21:29] MarileeTurscak-MSFT commented on #13272
Thanks for your question! We will investigate and update as appropriate.

[2018-08-12 21:30] MarileeTurscak-MSFT commented on #13273
Thanks for your question! We will investigate and update as appropriate.

[2018-08-12 21:36] MarileeTurscak-MSFT commented on #13274
@sam90909 I'm sorry to hear that! Is there anything specific you would like to improve? Please provide your feedback in the comments.

[2018-08-12 21:36] #13274 closed

[2018-08-12 21:57] YutongTie-MSFT commented on #13142
@LacikIgor Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@diberry Hi, this is a document question, can you please help and update the document as necessary? Thanks a lot!

[2018-08-12 22:50] lcanastreiro opened #13276 "when scaling up to 5 replicas new pods stay in pending state"
[Enter feedback here]

When scaling up to just 2 replicas the new pods are staying on state pending:

Testing with 5 the behavior is the same:

---NAMESPACE     NAME                                    READY     STATUS    RESTARTS   AGE
default       azure-vote-back-655476c7f7-6cqzn        1/1       Running   0          1h
default       azure-vote-front-94789845d-vbnx6        0/1       Pending   0

[2018-08-12 23:36] sam90909 commented on #13274
Thank you for responding. If there is an option to choose only the commands for CLI and Powershell separately it would be good. I don't think anyone would want to use the PowerShell and CLI at a time. It would be easy for the reader if it is little organized.  If there is an explanation for why the AD app is required or connected or an explanation for why the AD app is required would make it easy

[2018-08-13 00:44] kazshi commented on #10610
@christiankuhtz Thanks for you explanation. I think I got an idea of the "all virtual network concepts apply" means from the link you recommend.

[2018-08-13 03:06] dcbrown16 commented on #6701
@siriusk-MSFT @MicahMcKittrick-MSFT @aungoo-msft

Sorry to bring this up on a closed thread but this is a direct continuation of the discussion above. The important information regarding Standard data disks is the default settings.
I have seen some older blogs etc. stating that data disks have no caching by default, so I am guessing that is or was the behavior for Standard data disks, unlike Premi

[2018-08-13 03:15] MicahMcKittrick-MSFT commented on #13275
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-13 03:15] MicahMcKittrick-MSFT commented on #13276
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-13 03:16] MicahMcKittrick-MSFT commented on #13266
@wpo365 thanks for the update!

[2018-08-13 03:17] #8796 closed

[2018-08-13 03:17] #10435 closed

[2018-08-13 03:18] #11771 closed

[2018-08-13 03:18] #12382 closed

[2018-08-13 03:18] #12485 closed

[2018-08-13 03:38] dcbrown16 commented on #6701
It would also be ideal to have instructions on where the cache settings can be set. I can only find the toggle from the "Disks" menu of the VM to which the disks are attached.

[2018-08-13 04:10] elliotmoule opened #13277 "Further Module How-To for Raspberry Pi (arm32v7)?"
Would appreciate a guide for the Raspberry Pi (even better if there was one with Python!).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c98493ac-edae-593a-2fd8-d4e25787c6ef
* Version Independent ID: 3235ee03-677f-9e21-6464-471743536234
* Content: [Debug C# modules for Azure IoT Edge](https://docs.microsoft.com/en-us/

[2018-08-13 04:54] TorrenManson opened #13278 "Pre reqs aren’t really prereqs"
Calling steps 1 and 2 prereqs to deploying the web app could be confusing to those new to web apps. There’s no need to deploy php and run anything locally in order to deploy to Azure.

Maybe clarify the point of these steps “let’s deploy locally so that you see how things should look if they’re deployed correctly in Azure”

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-08-13 05:41] ramankumarlive commented on #12950
Created a pull request to fix the issue.

https://github.com/Azure/azure-docs-powershell-samples/pull/141

@TravisCragg-MSFT Samples are stored here: https://github.com/Azure/azure-docs-powershell-samples

[2018-08-13 05:47] nebur634 commented on #12752
Any update? I was quite happy to see a quick pick-up on my initial question, too bad the actual answer takes almost more than 2 weeks!

[2018-08-13 05:52] dominicbetts commented on #13244
Hi @LisandroSu - thanks for your question.
Please take a look at the conceptual content for the Remote Monitoring solution accelerator here: https://docs.microsoft.com/azure/iot-accelerators/iot-accelerators-remote-monitoring-sample-walkthrough
You can find information about customizing the UI here: https://docs.microsoft.com/azure/iot-accelerators/iot-accelerators-remote-monitoring-customize

Reg

[2018-08-13 06:02] poychang opened #13279 "This code is not working"
`TelemetryConfiguration configuration = TelemetryConfiguration.CreateFromConfiguration("ApplicationInsights.config");`
The argument to `CreateFromConfiguration` method is to receive XML content, not the path of config file.

Source Code: [TelemetryConfiguration.cs#L289](https://github.com/Microsoft/ApplicationInsights-dotnet/blob/develop/src/Microsoft.ApplicationInsights/Extensibility/TelemetryCon

[2018-08-13 06:13] aindeevar opened #13280 "State of Webhook subscription when validationResponse is not returned by WebHook"
How long event grid waits for validationResponse from Web Hook? What is the state until the validationResponse is returned by Webhook?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ea53478-b3df-71dd-5ec8-27746a650775
* Version Independent ID: 185f045e-d659-6217-3c14-68418c4fe5fe
* Content: [Azure Event Grid security

[2018-08-13 07:02] msvijayn commented on #12984
#please-close

[2018-08-13 08:09] onlyutkarsh commented on #13214
@tfitzmac Thanks for the update. Glad that it will be clarified in the document.

[2018-08-13 08:20] kazshi opened #13281 ""Read Scale-Out" perf monitoring implementation"
How would "Read Scale-Out" be implemented into the perf monitoring, or any plans?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea1e2cd6-0bfc-d12d-0d36-097c634d40f6
* Version Independent ID: b83de8bf-eb66-ce05-89fb-21cc001dbf43
* Content: [Monitoring database performance in Azure SQL Database](https://docs.microsoft.c

[2018-08-13 08:31] arnrist opened #13282 "Running jira behind reverse proxy"
When running Jira behind a reverse proxy, the URL's  for Identifier, Reply URL and Sign On URL in "Microsoft Azure Active Directory single sign-on for JIRA" gets listed in http and not https, which again cases the setup to fail in Jira due to "Invalid Reply URL".
As described on https://community.atlassian.com/t5/Answers-Developer-Questions/Connecting-JIRA-to-Azure-AD/qaq-p/573166

Please correct

[2018-08-13 08:40] danimir commented on #13281
Thanks on the question. We are aware of this ask and are considering it in a long run, however please do not consider this as a statement of a commitment. Typically we make public announcements of availability of public previews through blog posts and social media, and update docs pages such is this one. I would suggest perhaps to subscribe to Microsoft Azure Newsletter for news regarding updates

[2018-08-13 08:53] MaWa19 commented on #12154
Many thanks again for your immediate help. Question is answered now and can be closed.

[2018-08-13 09:45] mortenbock commented on #12930
@BryanTrach-MSFT Thank you for the update. I did manage to remove the IP entry with the last guidance provided. Thank you for your help.

I would of course have preferred to be able to do it via the portal :)

I don't know if it helps with locating the portal issue, but we do have a couple of deployment slots for the application, so I don't know if that could be the reason the regular delete did n

[2018-08-13 10:50] tymtam2 commented on #13055
I'm connected now. The info from Query... article worked.

One thing that could be better documented is the active directory string. I needed to change it.

[2018-08-13 11:13] lcanastreiro commented on #13276
To accelerate the process, If I scale the Cluster, firstly, to 3 nodes then the creation of the pods are much faster.

[2018-08-13 11:16] benc-uk commented on #13253
I have exactly the same issue. I don't think `func new` when creating a compiled C# function is working at all. I never generates a function.json file

[2018-08-13 11:20] aindeevar opened #13284 "Clear documentation for delivery failures"
Its mentioned on delivery of messages to webhooks on temporary failures message is retied, on occasion of "indication"  of delivery never success then its dead lettered but its not clearly mentioned how on what basis temporary failures and indication of never success are determined?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2018-08-13 11:21] lcanastreiro opened #13285 "First time when deploying the Application the External_IP Creation is taking very long time to be available"
[Enter feedback here]

After the 1st creation of the AKS cluster for this example, it took lot's of time to create the eLB and assign the Public IP, when deploying the application to the cluster. I'm talking about hours.

Then I deleted everything, did a second and third deployments using precisely the same code, and the External IP is available in few minutes.

---
#### Document Details

⚠ *Do no

[2018-08-13 11:41] TymWongPSNinja opened #13286 "Tag Support"
Are we able to configure Resource Group Tags via JSON?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da55b847-6066-3e2b-09bc-160e17cf33f3
* Version Independent ID: 9a08f975-dcf6-3e2d-0c77-845a1b94271e
* Content: [Create resource group in Azure Resource Manager template](https://docs.microsoft.com/en-us/azure/azure-res

[2018-08-13 11:49] humer commented on #13215
@ToMakeSense thanks for the inputs.
I've found a good solution: using the set-AzureRmWebApp with the -AppSettings  parameter. Nice and straight forward.  (from here https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/set-azurermwebapp?view=azurermps-6.6.0)

[2018-08-13 12:42] dcfsc commented on #13159
This was great information. I recommend you add it to the documentation.

[2018-08-13 12:44] andyce1010 opened #13287 "Confusion around "Allow access to Azure services" option"
Hello,

According to the flow diagram, it looks like once you have "enabled access from azure services", then you still need to add firewall rules to the DB or server, to allow the azure services to connect. However the Information note that follow ("This option configures the firewall to allow all connections from Azure including connections from the subscriptions of other customers. When selecti

[2018-08-13 12:54] jpieren opened #13288 "Free for O365 Admins?"
Hi, this feature would definitley make live much easier for any large company admins! WHat is plan to roll out? When?
This woukld take awy to burden to run and maintain many custom scripts fpr this!

cheers
Jay

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d215ddd2-d71f-8b91-c5f7-314c6287cafc
* Version Independent ID:

[2018-08-13 13:31] aherrick commented on #12948
@MarileeTurscak-MSFT I've followed the docs exactly and am receiving that error. Not sure what else I need to be doing.

[2018-08-13 13:37] MathieuDiepman opened #13290 "Requires StorageV2 (general purpose v2) storage account"
The Events option is only available in StorageV2 (general purpose v2) storage accounts. It's easy enough to upgrade existing accounts, but please mention this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b250ca39-0ba3-20dc-179b-c5a0d80fba9f
* Version Independent ID: 5f1d000e-c731-4b98-8eb7-55836829ca47
* Content: [B

[2018-08-13 13:43] Phydeauxman opened #13291 "Can connect but have no DNS resolution"
The article should be expanded with troubleshooting steps for when you can connect but are unable to resolve anything via DNS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2f4ac10-2954-57c7-1509-5070ddf6a555
* Version Independent ID: 162df409-5afd-af33-e6de-3c898f513165
* Content: [Troubleshoot Azure Point-to-Site V

[2018-08-13 13:43] Frasse74 opened #13292 "Error: An error occurred while sending the web api request"
I get the following error when from the UI I click on to-do list.
Inner Exception 1:
HttpRequestException: An error occurred while sending the request.
Inner Exception 2:
WebException: The underlying connection was closed: An unexpected error occurred on a send.
Inner Exception 3:
IOException: Unable to read data from the transport connection: An existing connection was forcibly closed by the remo

[2018-08-13 13:45] jrichview opened #13293 "More info about settings"
Under "What Settings Are Swapped?" You have text "(can be configured to stick to a slot)", but no link or additional information as to how exactly you choose what settings stick to a slot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49f5ea0e-d951-7e7f-142e-3509b2ec5eda
* Version Independent ID: eea6bd7f-8790-caa0-ae

[2018-08-13 13:46] Frasse74 commented on #13292
Adding the code where I receive the exception:
// Add token to the Authorization header and make the request
                request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", result.AccessToken);
                HttpResponseMessage response = await client.SendAsync(request);

[2018-08-13 13:54] jrichview commented on #13293
Cancel this. The info is provided below the bullet points, but I was hoping for more information on settings that swap other than AppSettings.

[2018-08-13 14:00] lhengi commented on #13236
I already figure that out and I'm able to log out right now. But I have one more question, how do I customize the logout page?

[2018-08-13 14:15] spelluru commented on #13148
@hellosnow - it has been a long time since I worked on Data Catalog. If you are looking for a way to do this in the new portal, I think that this article may help:
https://docs.microsoft.com/en-us/power-bi/developer/create-an-azure-active-directory-tenant

[2018-08-13 14:25] JozoSlejko commented on #8840
Explain the "write access for the VM" requirement for the VM access request?
Looking at the ARM operations, this is the action giving us the write to the VM rights:
Microsoft.Compute/virtualMachines/write
Is this a minimum needed for the JIT access request? Seems that this is too broad of a privilege to give to a user accessing RDP access to the VM.
If not, specify which ARM action is the minimum

[2018-08-13 14:32] mibarg opened #13295 "Possible mix-up"
Hi,
I think there might be a mix-up between the description of "Cloud-to-device twin operations" and "Device-to-cloud twin operations".
The docs state that C2D twin operations include update reported properties, and subscribe to desired properties. For D2C twin operations, the docs state that they include update or replace tags, and update or replace desired properties.
Isn't it the other way arou

[2018-08-13 14:37] bremnes commented on #11654
@jdogg89 , have you checked out https://docs.microsoft.com/en-us/azure/aks/internal-lb ? From the nginx helm chart it looks like you can add the required annotation to the service: `service.beta.kubernetes.io/azure-load-balancer-internal: "true"`. (Let me know if it works, it's an interesting challenge.)

[2018-08-13 14:40] spottedmahn opened #13296 "Portal Updates"
The Azure portal has changed apparently...

There's now a Configure hyperlink!

![image](https://user-images.githubusercontent.com/14079228/44038659-45e09e9a-9ee5-11e8-9ddf-50fc8fb48bcc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a911376a-74ea-7c08-9209-24a3b3b2c8b1
* Version Independent ID: 9f6c0306-69b8-308e-

[2018-08-13 14:40] sergaz-msft commented on #13277
@elliotmoule thanks for the feedback! Is this what you are looking for?

[Install Azure IoT Edge runtime on Linux (ARM32v7/armhf)](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm)

Visual Studio Code can be installed on a Raspbeery Pi so [this tutorial ](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-develop-csharp-module) should work since it is using .Ne

[2018-08-13 14:44] mibarg opened #13297 "Typo under "Direct Methods""
The description under this section uses "request-reponse" instead of "request-response".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27773d69-fdb5-ba10-d488-21448cbe6089
* Version Independent ID: 7eac3fa1-b748-531d-e880-00cefd59d3c3
* Content: [Monitor the health of your Azure IoT Hub](https://docs.microsoft.com/en-

[2018-08-13 14:49] sergaz-msft commented on #13280
@aindeevar thank you for your feedback.
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 14:51] aherrick commented on #12948
Just a heads up I was able to get passed this error by keeping the files exactly the same including the Facebook policy.

[2018-08-13 14:52] sergaz-msft commented on #13284
@aindeevar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 14:54] sergaz-msft commented on #13290
@MathieuDiepman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 14:55] insung3511 commented on #12690
Hi, guys. I was same problem.
If you upload pictures from your computer (local), you may get 400 errors. I do not know why. I tried to download the photos from github by creating a repository on github.com and downloading them from Azure.

https://docs.microsoft.com/azure/cognitive-services/custom-vision-service/python-tutorial#upload-images-to-the-project

It is recommended that you modify the un

[2018-08-13 15:00] sergaz-msft commented on #13295
@mibarg Thanks for the feedback and nice catch :)! I believe you are right, but will let @kgremban double chectk that. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 15:01] seekingtheoptimal opened #13299 "BROKENSOFTWARE step might not be necessary"
Just wondering if the BROKENSOFTWARE hive is needed at all, I cannot see any related steps for that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fac3df89-0351-9e36-40d1-d7e56db8487d
* Version Independent ID: 86edeed8-2150-209a-2c08-bc620f266523
* Content: [Install the Azure VM Agent in offline mode](https://docs.micr

[2018-08-13 15:02] sergaz-msft commented on #13297
@mibarg thank you for reporting this. Nice catch :). I will fix it now.

[2018-08-13 15:03] TrishaMc commented on #11758
Hi @vadim-berman: I didn't intentionally close this PR, but it looks like it was closed when I merged PR 48817 (https://github.com/MicrosoftDocs/azure-docs-pr/pull/48817).  48817 was a PR from @mikebudzynski to publish the same article. I reviewed it, and it passed to criteria required to merge. I can't unmerge the other PR. Can you contact the Azcontentchat alias for more help with this?
Thanks,

[2018-08-13 15:12] DoyleJOfTexas opened #13300 "Update Service Tier Table"
Consider updating the Service Tier / Users / Database size table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b441bee2-558b-8808-d099-f2abcbd6a947
* Version Independent ID: 9c208399-09a2-7a5d-2c1a-9c019007f9d0
* Content: [Azure SQL Database purchasing models](https://docs.microsoft.com/en-us/azure/sql-database/sql-d

[2018-08-13 15:17] sergaz-msft commented on #12965
@treedust let us know if you have further questions? Like @veyalla advised, the next step would be to open an issue on [the iotedge repo](https://github.com/Azure/iotedge). If there are no more issues related with [this tutorial](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm#verify-successful-installation) content I will proceed and close this as resolved.

Than

[2018-08-13 15:18] benc-uk opened #13301 "How to use custom NuGet packages with CSX and Functions v2"
I want to use CSX with Functions v2 but also bring in some NuGet packages. In v1 this was done with `project.json` but that was retired a long time ago and not part of .NET Core. The docs skip over how to use CSX in v2 with NuGet packages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691e8fe7-3db3-1913-dcba-68789e625c

[2018-08-13 15:19] sergaz-msft commented on #13044
@vbadri thank you! Please provide the stackoverflow link here. We will follow up with you there.

We will now proceed to close this thread.

[2018-08-13 15:19] #13044 closed

[2018-08-13 15:24] derpmcgerp1080p opened #13302 "More Detail"
Can you update the section to include the ADP side of the configuration? Right now "To configure single sign-on on ADP side, you need to upload the downloaded Metadata XML on the ADP website." doesn't help much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a0b8b88-1ed5-3601-b74f-8544843a5f98
* Version Independent ID

[2018-08-13 15:31] samisq opened #13305 "VNET rule configuration section is missing from a "General Purpose" instance"
I have a "General Purpose" server instance. At some point, VNET rule configuration section used to be visible under "Connection security", but it's now gone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e785d4-cb1f-dc12-6702-48ffe1287734
* Version Independent ID: f359048a-b2a7-9b42-c109-b5429ac5f24a
* Content: [Cre

[2018-08-13 15:34] lcanastreiro opened #13306 "Autoscaler isn't working"
[Enter feedback here]

Autoscaler isn't working:

LAST SEEN   FIRST SEEN   COUNT     NAME                                KIND                      SUBOBJECT   TYPE      REASON                         SOURCE                      MESSAGE
45s         1h           211       azure-vote-front.154a75b5a320ea37   HorizontalPodAutoscaler               Warning   FailedGetResourceMetric        horizontal-pod

[2018-08-13 15:39] Dominik-D opened #13307 "domain_hint or login_hint for Microsoft Teams"
Is there a domain_hint or login_hint for Microsoft Teams available to allow Seamless SSO?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c653c09-5b97-4bf0-7581-d4749993e3d9
* Version Independent ID: a90440e8-1d30-9fba-5148-813df159ae2f
* Content: [Azure AD Connect: Seamless Single Sign-On - Frequently asked questions]

[2018-08-13 15:42] vindiki opened #13308 "Deployment of OpenShift Failed"
I followed all of the steps in the documentation but the deployment fails during the running of this command:  az group deployment create -g myResourceGroup --name myOpenShiftCluster       --template-uri https://raw.githubusercontent.com/Microsoft/openshift-origin/master/azuredeploy.json       --parameters @./azuredeploy.parameters.json

Output is below.

Deployment failed. Correlation ID: 90f2a62

[2018-08-13 15:46] vindiki commented on #13308
[azuredeploy.parameters copy.txt](https://github.com/MicrosoftDocs/azure-docs/files/2283656/azuredeploy.parameters.copy.txt)

Here is the local JSON file that was passed into the command.

[2018-08-13 15:48] Dominik-D commented on #13307
Found the solution by copying from the Office 365 domain_hint format. The following works: https://teams.microsoft.com?domain_hint=contoso.onmicrosoft.com
Perhaps you can update the documentation.

[2018-08-13 16:00] mike-urnun-msft commented on #13278
Hey @TorrenManson Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-13 16:00] MicahMcKittrick-MSFT commented on #13115
There is no VM series limitations I am seeing for Windows Containers. There are system requirements such as a minimum about of CPU and RAM but not about a particular series.

https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/system-requirements

https://docs.microsoft.com/en-us/virtualization/windowscontainers/about/index

[2018-08-13 16:03] #13297 closed

[2018-08-13 16:03] MicahMcKittrick-MSFT commented on #13285
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-13 16:05] #12950 closed

[2018-08-13 16:07] MicahMcKittrick-MSFT commented on #13159
@dcfsc I will assign this to the content author to review and see what information we can add to the document.

[2018-08-13 16:08] MicahMcKittrick-MSFT commented on #13236
@lhengi I am not sure what topic/ area you are referring to. The logout page for what?

[2018-08-13 16:13] bhall7718 opened #13310 "Seeking Java Example for ITelemetryInitializer (specifically for IP capture)"
Examples are provided for both C# and Javascript, but not Java. My customer is a very large Java-based enterprise and they would really like to see more Java examples across the board.

One example to include in the ITelemetryInitializer would be how to capture the client IP address in a custom property. This was a referenced direction in a blog announcement on a GDPR change to AI. The guidance to

[2018-08-13 16:14] MathieuDiepman commented on #13301
perhaps this helps: https://blogs.msdn.microsoft.com/cjaliaga/2018/01/21/installing-nuget-packages-in-azure-functions-2-x-runtime-preview/

[2018-08-13 16:19] kobulloc-MSFT commented on #13279
@poychang ty,,

[2018-08-13 16:25] kobulloc-MSFT commented on #11758
@TrishaMc @vladvino I'll reopen this until the document is updated.

[2018-08-13 16:26] benc-uk commented on #13301
That is exactly what I was looking for.
Where is there no mention of **function.proj** in the docs anywhere?

[2018-08-13 16:27] vbadri commented on #13044
Stackoverflow ticket [here](https://stackoverflow.com/questions/51791126/azure-iothub-module-authentication-error?noredirect=1#comment90587270_51791126)

Thank you.

[2018-08-13 16:27] MicahMcKittrick-MSFT commented on #13183
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-08-13 16:27] #13183 closed

[2018-08-13 16:38] MicahMcKittrick-MSFT commented on #13275
@iainfoulds looks like the link needs to be changed to this

https://github.com/Azure/ACS/tree/master/docs/VNET

However I am having issues making that PR. Could you take a look?

[2018-08-13 16:42] MicahMcKittrick-MSFT commented on #12753
@mrdfuse I am working offline to find an answer for you. I will update you once I have more info.

[2018-08-13 16:42] Karishma-Tiwari-MSFT commented on #12971
We will now close this issue. Please reopen it whenever you are ready and we will gladly continue the discussion. :)

[2018-08-13 16:44] douglaslMS commented on #12453
#please-close

[2018-08-13 16:44] MicahMcKittrick-MSFT commented on #13070
@kieronlanning I am working offline to find an answer for you. I will update you once I have more info.

[2018-08-13 16:44] Karishma-Tiwari-MSFT commented on #13194
@dcbrown16 You are right. A VM can only be added to an availability set when it is created. To change the availability set, you need to delete and then recreate the virtual machine.
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 16:45] Diamondust25 opened #13311 "RSS Feed Link Broken"
I get the following when clicking the link to subscribe in this document:
&lt;?xml version="1.0" encoding="UTF-8" ?&gt;
&lt;rss version="2.0"&gt;
  &lt;channel&gt;
    &lt;title&gt;Microsoft Docs - ""whats new in azure active directory""&lt;/title&gt;
    &lt;description&gt;The latest updates from Microsoft Docs on ""whats new in azure active directory""&lt;/description&gt;
    &lt;link&gt;https:/

[2018-08-13 16:46] MicahMcKittrick-MSFT commented on #13258
@mmacy do you have any idea on this one? I assume there is some limit or timeout built in however I am not seeing any actual mention of it.

[2018-08-13 16:48] femsulu commented on #13286
@TymWongPSNinja Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-08-13 16:50] Karishma-Tiwari-MSFT commented on #13138
@michal-staniszewski
Thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update the document as appropriate.

We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2018-08-13 16:50] #13138 closed

[2018-08-13 16:55] sergaz-msft commented on #12992
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-13 16:55] #12992 closed

[2018-08-13 16:58] sergaz-msft commented on #13065
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-13 16:58] #13065 closed

[2018-08-13 17:02] Karishma-Tiwari-MSFT commented on #13299
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-13 17:03] Karishma-Tiwari-MSFT commented on #13301
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-13 17:05] #12453 closed

[2018-08-13 17:07] mcollis2 commented on #11982
Is there any update on this issue?  We have found the read-only permission to not work.
Thanks

[2018-08-13 17:07] ermacia91 commented on #13229
Another note we should add is that Workday only takes the value that is set as the User/Account ID (can't remember the exact name) in their database. It will not take another identifier, such as email.

[2018-08-13 17:08] SaurabhSharma-MSFT commented on #13168
@jchenbb Please refer to [SAML2 vs JWT: Understanding JSON Web Token (JWT)](https://medium.com/@robert.broeckelmann/saml2-vs-jwt-understanding-json-web-token-jwt-67d56462feaf )

[2018-08-13 17:08] tfitzmac commented on #13286
@TymWongPSNinja - Yes, you can assign tags in the template. See [template tags](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-using-tags#templates)

[2018-08-13 17:09] tfitzmac commented on #13286
#please-close

[2018-08-13 17:10] ermacia91 commented on #13229
As per: https://wiki.shibboleth.net/confluence/display/IDP30/Workday

NameID Requirements
Workday requires that the value in the user's primary ID field in Workday be communicated in the <NameID> element in the assertion. The Format of the element is ignored (in fact, the logout bug mentioned above pertains to a mistake in the Format value communicated back to the IdP).

Because the format is igno

[2018-08-13 17:10] SaurabhSharma-MSFT commented on #13203
@jonwbstr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-13 17:10] #13203 closed

[2018-08-13 17:10] Karishma-Tiwari-MSFT commented on #13296
@spottedmahn Thanks for the feedback.
I have assigned the issue to the content author to evaluate and update the document as appropriate.

[2018-08-13 17:13] Karishma-Tiwari-MSFT commented on #13306
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-13 17:14] Karishma-Tiwari-MSFT commented on #13308
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-13 17:16] jason-j-MSFT commented on #13148
@mtillman could you help route this to a content author?  Let me know who to assign it to and I will take care of it.

[2018-08-13 17:18] sergaz-msft commented on #13188
Thank you @mboldisc .

For this you may want to consider [Azure IoT Edge](https://azure.microsoft.com/en-us/services/iot-edge/).  Here's [how an IoT Edge device can be used as a gateway](https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-as-gateway).

For your other topic, when sending D2C messages you can also use `{property_bag}` . Can you consider adding your own variable instead of using

[2018-08-13 17:27] danieldobalian commented on #13168
@jchenbb we'll look at getting this doc update.  In general, the client shouldn't be looking inside the access token claims; rather, they're intended for the service they're being sent to.

For your specific question:
- Audience: specifies who the token is intended for. In this case, the token is meant for the Microsoft Graph API. If the token was for your service, this field would reflect your Ap

[2018-08-13 17:27] SaurabhSharma-MSFT commented on #13282
@arnrist Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-13 17:28] SaurabhSharma-MSFT commented on #13288
@jpieren Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-13 17:30] SaurabhSharma-MSFT commented on #13292
@Frasse74 Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-13 17:31] SaurabhSharma-MSFT commented on #13302
@derpmcgerp1080p Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-13 17:32] MicahMcKittrick-MSFT commented on #13276
@icanastreiro I just ran through the doc but it only took mine a few seconds to scale:

[code]

Can you try creating a new cluster from scratch and attempting the autoscale? I can't repo this behavior

https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

[2018-08-13 17:33] SaurabhSharma-MSFT commented on #13307
@Dominik-D Thanks for the feedback  and good to hear that you are able to find the solution !   I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-13 17:34] MicahMcKittrick-MSFT commented on #13285
@lcanastreiro I ran through this doc but mine only took a couple of mins to get the external IP

[code]

Likely related to the other issue you opened

https://github.com/MicrosoftDocs/azure-docs/issues/13285

I will close this one and we can work off that other one.

[2018-08-13 17:34] #13285 closed

[2018-08-13 17:36] MicahMcKittrick-MSFT commented on #13306
@lcanastreiro we can work off the first issue you opened rather than multiples on the same doc

https://github.com/MicrosoftDocs/azure-docs/issues/13306

Closing this as Duplicate of #13306

[2018-08-13 17:36] #13306 closed

[2018-08-13 17:38] MicahMcKittrick-MSFT commented on #13276
#13306
#13285

[2018-08-13 17:41] #12965 closed

[2018-08-13 17:43] Karishma-Tiwari-MSFT commented on #13301
@benc-uk
Thanks for bringing this to our attention. We need to add the information in the document on how to use Nuget packages with Azure Functions v2. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 17:47] MarileeTurscak-MSFT commented on #13311
@eross-msft , the RSS link appears to be broken. I believe this is the proper link: https://azure.microsoft.com/en-us/updates/?product=active-directory

Can you update this in the document? I can edit it but I'm not sure if you meant to refer to the Product Updates page linked above or a different RSS feed.

[2018-08-13 17:48] ggailey777 commented on #13253
@igorkovalchuk this does sound like a [Core Tools issue](https://github.com/Azure/azure-functions-core-tools/issues/) when running on Linux. I'm checking with the product team. If it ends up being "by design" I'll add a note to the topic.

@benc-uk the function.json  file isn't used by a compiled C# function app. In v1 it was generated as an artifact, and I think it is no longer needed for compile

[2018-08-13 17:48] dhaval24 commented on #13310
@bhall7718 you can ofcourse have the TelmetryInitializer in Java.

`public interface TelemetryInitializer {
    /**
     Initializes properties of the specified object.
     * @param telemetry The {@link com.microsoft.applicationinsights.telemetry.Telemetry} to initialize.
     */
    void initialize(Telemetry telemetry);
}
`
and register the custom Initializer in the applicationinsights.xml

[cod

[2018-08-13 17:49] BryanTrach-MSFT commented on #12226
@ghogen Do you have an update for the customer?

@kobulloc-MSFT

[2018-08-13 17:52] treedust commented on #12965
moved to https://github.com/Azure/iotedge/issues/147

[2018-08-13 17:54] sergaz-msft commented on #13254
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 17:54] TravisCragg-MSFT commented on #13291
@Phydeauxman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 17:55] TerryLanfear commented on #13014
@brokkena - The page has been restored and the link fixed. Thank you for bringing this to our attention.

#sign-off

[2018-08-13 18:00] theangellmethod opened #13313 "Why do we use burstable VM?"
For the VM creation instruction, it uses the `--size Standard_B1ms`  - why do we use the B1ms?  Is this the recommended VM for IoT solutions?  If it is the recommend size, why is this VM type preferred over others?

B-series VM also aren't listed on the pricing page for Services: https://azure.microsoft.com/en-us/pricing/details/cloud-services/

---
#### Document Details

⚠ *Do not edit this secti

[2018-08-13 18:02] theangellmethod opened #13314 "Provide more detail/link for updating Linux permissions"
One of the tips provides guidance to sign out/in to update permissions without using sudo.  This assumes a user is familiar with how to update permissions.  More information on how to do this should be provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independent ID

[2018-08-13 18:06] angellmethod opened #13315 "Provide locations of buttons in Azure Portal"
In the deployment section, there are several steps (2 - 4 )about what to click.  To speed up the process for users and increase accessibility, it would be good to add directionality.  Ex. "Select Set Modules along the (top/left/bottom/right)."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fa

[2018-08-13 18:07] sergaz-msft commented on #13265
@RattleSnakeSkin what is the output of `dotnet --version` on a terminal window? (outside Visual Studio)

Make sure you [follow all the prerequisites:](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-dotnet#prerequisites)

![image](https://user-images.githubusercontent.com/22173500/44049458-14b56188-9f2c-11e8-9e7c-f1a8ec412fc9.png)

Thank you!

[2018-08-13 18:08] TravisCragg-MSFT commented on #13305
@samisq Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-13 18:09] mike-urnun-msft commented on #13293
@jrichview Glad that you found the info you were looking for. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-13 18:09] #13293 closed

[2018-08-13 18:12] theangellmethod opened #13316 "Difference in "Deploy module" routes command to add and portal command different"
The quickstart says to add
"route": "FROM /* INTO $upstream"   if there is not a default route in the Portal.  The portal default route is
"route": "FROM /messages/*"instead of ""FROM /*".  These two should match for consistency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Vers

[2018-08-13 18:16] roygara commented on #13138
@Karishma-Tiwari-MSFT I am not currently aware of any and haven't located one either. I have created a task and begun researching this though, for reference. We can keep this closed accordingly.

@michal-staniszewski thanks for pointing this out, we appreciate it! When I discover an answer I'll notify you via here.

[2018-08-13 18:17] jchenbb commented on #13168
Thanks. This is indeed for deciding how the service validates the access token.

The definitions make sense. Is appid a mandatory claim on all access tokens? We see it missing from the access token for our service. We happen to have a single application registration for both the web api (service) and the client application. They have the same application id.

[2018-08-13 18:21] lafe opened #13317 "Page is referenced from Azure Table Storage page"
This sample page is referenced from the [Azure Table Storage](https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-overview) page even though the necessary library is not available for .NET Core. Examples for the .NET Core compatible `Microsoft.WindowsAzure.Storage.Table` based API are missing (as far as I can tell).

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-08-13 18:29] tfitzmac commented on #13280
@aindeevar - thanks for your question. The article states that the validation URL is valid for 10 minutes. The provisioning state is AwaitingManualAction. I will add that to the article.

[2018-08-13 18:33] Alberto-Vega-MSFT commented on #13287
@andyce1010  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-13 18:36] Alberto-Vega-MSFT commented on #13281
@kazshi  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-13 18:36] #13281 closed

[2018-08-13 18:38] sergaz-msft commented on #13269
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 18:42] sergaz-msft commented on #13272
@darenm can you be more specific on your question? Is it related with a specific section of [this article](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-customize)?
Thank you!

[2018-08-13 18:43] sergaz-msft commented on #13273
Closing as a duplicate of #13272

[2018-08-13 18:43] #13273 closed

[2018-08-13 18:45] LisandroSu opened #13319 "StrongSwan 5.5.1 does not work"
@andreassimon commented on [Fri Jun 29 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/111)

I followed the guide in Ubuntu 17.10, but could not connect successfully. The thread on https://forums.opensuse.org/showthread.php/531230-Can-t-connect-to-Azure-Point-to-Site-with-certificate-authentication-using-Strongswan pointed me to Ubuntu 18.04. So I installed 18.04 and the connection

[2018-08-13 18:45] LisandroSu commented on #13319
Hi Team,
Please check the issue reported by the user.

Thanks.

[2018-08-13 18:48] vasivara-MSFT commented on #13220
@StigSH Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 18:53] Minewiskan commented on #13006
@vishalaj1 Are you saying you did not complete this step, https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-gateway-install#connect-servers, and were still able to process your model?
Thanks

[2018-08-13 18:55] SaurabhSharma-MSFT commented on #13288
@jpieren Azure AD group-based license management GA is expected late summer which could be towards the end of next month.  Please keep an eye on the Azure Roadmap and the [EMS blog](https://cloudblogs.microsoft.com/enterprisemobility/2017/02/22/announcing-the-public-preview-of-azure-ad-group-based-license-management-for-office-365-and-more/) as announcements will be expected to come there.

[2018-08-13 18:57] theangellmethod opened #13321 "Update caching note based on product GA"
There is a note about caching parameters which says they will be available before the product enters GA.  Since it is now GA, is this note still applicable?  Does it need to be updated?

"Adding control over additional caching parameters will be added to the product before it enters general availability."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-08-13 18:59] jeevansd commented on #13229
@chetansriv Can you please add these changes in the article?

[2018-08-13 19:01] rwike77 commented on #12821
@murdockcrc  Hi, we now provide a way to [upgrade the scale set SKU of the primary node types](https://docs.microsoft.com/azure/service-fabric/virtual-machine-scale-set-scale-node-type-scale-out#upgrade-the-size-and-operating-system-of-the-primary-node-type-vms).  Hope that helps.

The warning you found in the capacity guidance article is out of date, now.  I'll update that article. Also, the arti

[2018-08-13 19:02] tfitzmac commented on #13290
@MathieuDiepman - thanks for this feedback. I moved some text about Blob and StorageV2 to a place where I think it will be more helpful.

[2018-08-13 19:05] wesmc7777 commented on #13269
@markarnolditpro Thanks! Looks like the video was moved to YouTube here: [https://www.youtube.com/watch?v=cSbDRNg72cU](https://www.youtube.com/watch?v=cSbDRNg72cU). I'll update this article with that link

[2018-08-13 19:05] vishalaj1 commented on #13006
Yes! I was using my username in impersonation account for data source
mån 13 aug. 2018 kl. 20:54 skrev Owen Duncan <notifications@github.com>:

[2018-08-13 19:06] rmmartins commented on #5749
Also in https://azure.microsoft.com/en-us/support/legal/sla/app-service/ there is no information about the requirement of traffic manager to obtain 99.95% SLA.

[2018-08-13 19:08] #13280 closed

[2018-08-13 19:09] theangellmethod opened #13323 "Add VS Code screenshots like Azure Functions tut"
Azure Functions tutorial has screenshots showing different parts of VS Code.
https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-function

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09efbe397f3e
* Version Independent ID: dbedd952-a050-286e-c951-4529ec8e87b8
* Content: [Azure IoT E

[2018-08-13 19:09] theangellmethod opened #13324 "Add VS Code screenshots like Azure Functions tut"
Azure Functions tutorial has screenshots showing different parts of VS Code.
https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-function

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b251621c-bcb0-b9ce-bd87-90499766137b
* Version Independent ID: b23ad340-bdfa-0597-9a0a-51c5e7b18b48
* Content: [Azure IoT E

[2018-08-13 19:09] theangellmethod opened #13325 "Add VS Code screenshots like Azure Functions tut"
Azure Functions tutorial has screenshots showing different parts of VS Code.
https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-function

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e7d644a-8051-9d73-803a-39720939df92
* Version Independent ID: 223c5796-a23d-001d-60e3-df90f30457d7
* Content: [Azure IoT E

[2018-08-13 19:09] theangellmethod opened #13326 "Add VS Code screenshots like Azure Functions tut"
Azure Functions tutorial has screenshots showing different parts of VS Code.
https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-function

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbadb895-ea0b-0415-de1d-f40252981a5b
* Version Independent ID: f1180113-16a7-8be2-f8ca-d318160d38ce
* Content: [Azure IoT E

[2018-08-13 19:11] douglaslMS commented on #13047
@gstream1 This issue does not appear to be a documentation bug, but a support issue. As the content owner, I do not have the resources to investigate issues like this. To reach both the Data Factory product team and a large number of other subject matter experts, I suggest that you post your issue in the [Data Factory forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureData

[2018-08-13 19:11] jason-j-MSFT commented on #13160
@cjgronlund could you route this to an author to review?  The PR is for the JP docs, and the machine translation in English is here in this issue I think.

[2018-08-13 19:15] kgremban commented on #13295
@mibarg You're correct, those are backwards. I'll create a pull request to make this fix this afternoon.

[2018-08-13 19:18] Karishma-Tiwari-MSFT commented on #13260
@smoms  What it essentially means is that, all zones should have no more than 1 VM **more** than any other zones to be considered balanced.
For example, in the second example provided in the doc:
A scale set with 1 VM in zone 1, 3 VMs in zone 2, and 3 VMs in zone 3 is considered unbalanced.
-Why unbalanced? Because there is 1 VM in Zone 1 and 3 VMs in zone 2 and zone 3. So basically there is a dif

[2018-08-13 19:25] rwike77 commented on #11776
@tkumark  Thanks, that's a good suggestion.  Don't know when I can get an http.sys version out, but I've added "Kestrel" to the title and metadata.

[2018-08-13 19:38] #13047 closed

[2018-08-13 19:42] Minewiskan commented on #13006
@vishalaj1 That sounds like a bug. Can you open a support request in Azure portal? CSS tracks issues like this and can get it tested.

[2018-08-13 19:43] BryanTrach-MSFT commented on #12870
@jdlibbee Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-08-13 19:43] #12870 closed

[2018-08-13 19:50] jason-j-MSFT commented on #13006
@vishalaj1 if you don't have a Support plan, email AzCommunity@microsoft.com, and we will enable a one-time Support ticket for you.  Please remember to include your Subscription ID, and a link to this issue.

[2018-08-13 19:50] #13006 closed

[2018-08-13 19:50] jason-j-MSFT commented on #13047
@gstream1 if you don't have a Support plan, email AzCommunity@microsoft.com, and we will enable a one-time Support ticket for you. Please remember to include your Subscription ID, and a link to this issue.

[2018-08-13 19:56] #13269 closed

[2018-08-13 19:58] TravisCragg-MSFT commented on #13319
@LisandroSu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

It looks like this is a continuation of https://github.com/MicrosoftDocs/azure-docs.de-de/issues/111

[2018-08-13 20:00] TravisCragg-MSFT commented on #13317
@lafe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 20:29] #13295 closed

[2018-08-13 20:29] mmacy commented on #13258
@jasonwangnanjing Hi Jason, can you please post the output of the command, or at least the full error message that you are seeing? It's difficult to tell from your report whether it is ACR or the Azure CLI that is timing out. This sounds auth token related, but we need more information to debug. ACR itself does not enforce a time limit, but perhaps you're running into an Azure CLI or `docker login

[2018-08-13 20:45] mikebudzynski commented on #7289
@MikeBarker-MS - sorry for a late reply. You can manipulate the backend URL service with policies, for example

[code]

I will update the docs to reflect your feedback and include this routing method.

[2018-08-13 20:55] Kevin30309 commented on #11599
I just ran into this issue so I think it is important to note.......Your documentation will result in a drive that is partitioned with MBR. This means that later you cannot increase the size of the drive to greater that 2TB. I feel this should be pointed out along with the use of gdisk vs fdisk.

[2018-08-13 21:01] bkuliqi commented on #12034
Are IP Restrictions rules stateful? i.e. I would like to deny a specific IP, however if the webapp initiates the a connection to the denied IP the IP then is able to connect to my app even though there is a Deny IP restriction rule for the said IP.

[2018-08-13 21:01] BryanLa commented on #12534
@eskaufel - thanks very much for reporting this. The link has been fixed in the article you mention, as well as the SDK readme.md page.

#please-close

[2018-08-13 21:05] MohitGargMSFT commented on #11975
@BartJocque Please continue to work with support case to further help you out on your scenario. This platform is to help customer ask queries as they use the Azure published documentation and provide there valuable inputs to improve it. We try our level best to help out, however, there are some feature limitations which could be surfaced through Product Feedback forums as well. Apart from creating

[2018-08-13 21:05] #11975 closed

[2018-08-13 21:06] #13230 closed

[2018-08-13 21:13] mamccrea commented on #12991
Thanks for the feedback! We are currently looking into this warning. Although there is a warning for this query, the job should still run successfully with the proper output.

[2018-08-13 21:14] v-jaswel commented on #11131
Hello @1Click1Life  and @niida23,

I heard back from the PMs. They plan to support other languages in the future, but in the project's current early stage they only support Typescript.

They suggested looking into edge.js, which lets you script C# in Node.js. (Typescript also compiles to JavaScript).
https://github.com/tjanczuk/edge
https://github.com/tjanczuk/edge#how-to-integrate-c-code-into-nod

[2018-08-13 21:25] Ayanmullick commented on #13043
the "getting started with Batch PowerShell" document documents Powershell steps for right up to before executing a job.  The requested document should be in the 'Next Steps' section of this page. Any tentative timescale for ETA? weeks, months, quarters?

[2018-08-13 21:29] femsulu commented on #13286
Thanks @tfitzmac

@TymWongPSNinja We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-13 21:29] #13286 closed

[2018-08-13 21:33] MarileeTurscak-MSFT commented on #13292
@Frasse74 Please check to ensure that your Reply URL in your registration matches what you have in your config. Ensure also that your App ID matches your Client ID and your tenant ID is referenced in your config. If these suggestions do not work, Can you please post your question to MSDN? We don't really use the doc comments for this type of troubleshooting.. https://social.msdn.microsoft.com/Foru

[2018-08-13 21:33] #13292 closed

[2018-08-13 21:36] OMARJG opened #13333 "Different ways to access or download the snapshots."
Hi, are those snapshots stored into a storage account? is there another way to access or download the snapshot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b16915a-cad2-3ac2-1949-488223a0195c
* Version Independent ID: 7d423a49-cc48-1f2e-99c5-443d1d5b7b46
* Content: [Restore an app in Azure](https://docs.microsoft.c

[2018-08-13 21:38] ddobric opened #13334 "WHat is "azure-iot-edge-runtime-ctl.py"?"
In the text above there is a following content:

What is the *azure-iot-edge-runtime-ctl.py**  and where to find it? Probably I'm asking this, because I use C#/.NET and nit Python.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c424cd61-2f44-8a10-bce8-5a18fb1279f3
* Version Independent ID: 62824def-6ec5-0b0e-d9

[2018-08-13 21:43] JackQuincy commented on #12753
You just need to enable diagnostics logs on the AKS resource. here is a resource for enabling diagnostics on any resource, https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-of-diagnostic-logs . It includes the python and powershell commands for enabling this.

[2018-08-13 21:44] jkallenbach commented on #12579
Redeploying the new version worked.

[2018-08-13 21:45] femsulu commented on #12579
Fantastic. thanks for the update @jkallenbach

[2018-08-13 21:50] ecfan commented on #13096
@MikeAinOz Thanks, @MikeAinOz! I've created a work item for this feedback and will address over the next sprint or so.

[2018-08-13 21:50] ecfan commented on #13096
@BryanTrach-MSFT #please-close

[2018-08-13 21:53] mike-urnun-msft commented on #13116
@zaalion Are you still having this issue? I've just gone through the steps in this documentation as well as the steps in the documentation that this one builds off of and didn't run into any issues. This documentation utilizes the [Code First approach](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-dotnet-sqldatabase#update-app-with-code-first-migrations) vs Model/Data

[2018-08-13 21:53] #13116 closed

[2018-08-13 21:56] theangellmethod commented on #11295
@shizn This issue caught me off-guard as I was going through the docs as well.  In the tutorial, it's clearer that this should be <registry>.azurecr.io/<modulename>  https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-node-module  ; can we get this updated across the different languages to reduce confusion?

[2018-08-13 21:57] rayne-wiselman commented on #12372
Fixed in https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-support-matrix, https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix

#please-close

[2018-08-13 21:59] mike-urnun-msft commented on #12633
Hey @andrzejmartyna Towards the bottom of the page, documentation does discuss granting minimal privileges to your MSI: [Grant minimal privileges to identity](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#grant-minimal-privileges-to-identity)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it a

[2018-08-13 21:59] #12633 closed

[2018-08-13 22:01] MichaelHauss commented on #13193
Added as an FAQ and created a PR

[2018-08-13 22:01] MichaelHauss commented on #10959
Thanks! Added to the documentation and created a PR.

[2018-08-13 22:01] #12372 closed

[2018-08-13 22:05] MicahMcKittrick-MSFT commented on #12753
Thanks @JackQuincy!

@mrdfuse let us know if that helps.

[2018-08-13 22:08] Alberto-Vega-MSFT commented on #13256
@joellyons Thanks again for your feedback. I created a PR with the typo fixed.

[2018-08-13 22:18] chaosrealm commented on #13267
This refers to what code you use to produce encoded key values that replicate Azure Search behavior, in scenarios where you need to generate the key values in your own code (to look up documents by key, for example). We'll try to clarify this better in the doc. Thanks for your feedback!

[2018-08-13 22:25] rayne-wiselman commented on #13033
@ryanrclark - Couple of comments on this. HTH
Presuming you're not running System Center VMM,..

- All nodes of the cluster should be registered to the same vault + Hyper-V site.
- You install the Azure Site Recovery Provider and Recovery Services agent on Hyper-V host in the cluster, and add each cluster to the Hyper-V site.
- No specific step needs to be done on the cluster.
- If you run the  De

[2018-08-13 22:26] xurui203 commented on #13199
@patrickjlee Thank you for the feedback! As you correctly pointed out, Capture today only supports writing directly to Azure Storage or Data Lake, and not Azure SQL database (hence the use of an Azure Function).

SQL works great for structured data with relations and indexing. Azure Storage on the other hand stores large volumes of non-relational data at a more affordable price. As a big data stre

[2018-08-13 22:28] cmullican commented on #12860
Any update on this?

[2018-08-13 22:32] rwike77 commented on #12821
Changes in https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-capacity#primary-node-type---capacity-guidance are live, now.  #please-close

[2018-08-13 22:32] rwike77 commented on #11776
Changes in article are live now.  #please-close

[2018-08-13 22:33] #12821 closed

[2018-08-13 22:34] amanarneja commented on #13253
Wow, I thought I was the only one! Thank you guys so much for working on this issue!!!!

[2018-08-13 22:39] rayne-wiselman commented on #13082
We don't have a firm date on that right now. Thanks!

#please-close

[2018-08-13 22:40] rayne-wiselman commented on #13079
This is now fixed.
#please-close

[2018-08-13 22:46] #7289 closed

[2018-08-13 22:47] igorkovalchuk commented on #13253
@benc-uk I am using Debian 9 and I have used the "xenial" repository,
but a moment ago I have switched to "artful" repository.
It has installed func version 2.0.1-beta.34 - this version of tools creates the "function.json" normally if you use the `--csx` flag.

My previous version 2.0.1-beta.31 doesn't create the csx at all when I want to create the HttpTrigger - it says that it `Can't find templa

[2018-08-13 22:47] #11776 closed

[2018-08-13 22:47] iainfoulds commented on #13275
Hi, @swigerb. Sorry you ran into issues. Let me follow up with the engineering team, as it looks like they removed a few files as part of clean-up a week or two ago. Here's the example that you're looking for as part of the commit history - https://github.com/Azure/AKS/commit/4ca58cc446f730fc3f7546aeb843f42354da86bf#diff-ac8c15d84d3fdadcec054884ab564efd

I'll update the doc with an updated URL onc

[2018-08-13 22:48] sergaz-msft commented on #13326
Closing as duplicate of #13323

[2018-08-13 22:48] #13326 closed

[2018-08-13 22:49] sergaz-msft commented on #13325
Closing as duplicate of #13323

[2018-08-13 22:49] #13325 closed

[2018-08-13 22:49] sergaz-msft commented on #13324
Closing as duplicate of #13323

[2018-08-13 22:49] #13324 closed

[2018-08-13 22:50] iainfoulds commented on #13233
Sorry you ran into issues, @cwiederspan. The pre-requisities section notes a configured ACR registry, with the quickstart showing the `az acr login` command, but I'll look to update this doc to make it clearer.

#in-progress

[2018-08-13 22:51] sergaz-msft commented on #13323
@theangellmethod Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 22:52] iainfoulds commented on #13001
Hi, @lrodriguez2002cu. Sorry you ran into issues here. Curious as to what version of the CLI you're using and what type of Azure subscription you have? I haven't encountered situations where the provider isn't registered and needs to be done.

#in-progress

[2018-08-13 22:55] iainfoulds commented on #12953
Hi, @porrascarlos802018. Sorry for some potential confusion here. I'm not aware of any additional regions in preview or GA, but will follow up with the engineering team.

#in-progress

[2018-08-13 22:56] rayne-wiselman commented on #13089
Fixed.
#please-close

[2018-08-13 22:56] sergaz-msft commented on #13313
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 22:56] iainfoulds commented on #12517
Thanks for the suggestion, @abizake. This is a little broad, and unless there are common issues that may be encountered, we typically don't include troubleshooting steps within the how-to docs. I'll follow up with the engineering team to see if there are any common issues they're aware of that we could add. Was there a particular problems that you encountered here?

#in-progress

[2018-08-13 22:57] mganeshphani commented on #12984
Thanks Vijay

[2018-08-13 22:58] iainfoulds commented on #12740
Hi, @nfadili. Sorry for the confusion here. I've followed up with the engineering team to clarify and will ensure whichever doc that needs updating is done so.

#in-progress

[2018-08-13 22:58] theangellmethod commented on #13323
Thanks - here are the links to the other docs that need screenshots from the closed issues:
articles/iot-edge/tutorial-c-module.md
articles/iot-edge/tutorial-node-module.md
articles/iot-edge/tutorial-python-module.md

[2018-08-13 22:58] sergaz-msft commented on #13314
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 23:03] sergaz-msft commented on #13315
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 23:05] sergaz-msft commented on #13316
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 23:06] sergaz-msft commented on #13321
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 23:08] NT-D opened #13336 "Want to know whether RU is same when we store huge number items"
Thank you for describing detail of RU.
In addition to it, I want to know what the size mean.  Does the following description means the item size itself (ex. 1kb)  or total item size? (ex. 1kb x 100 items = 100kb)
[code]
I worry about whether Cosmos DB RU changes when we store many items (documents) in CosmosDB. (For example, query's RU is 3 when we store 100 items in collection, but same query's R

[2018-08-13 23:10] lcanastreiro commented on #13276
I've created three AKS clusters and the system only runs fast when I increase the cluster from 1 node to 3 nodes:

NAME                                READY     STATUS    RESTARTS   AGE
azure-vote-back-655476c7f7-pt6f2    1/1       Running   0          9m
azure-vote-front-7977d8866f-6h5d2   0/1       Pending   0          5m
azure-vote-front-7977d8866f-g2blt   0/1       Pending   0          5m
azur

[2018-08-13 23:10] Alberto-Vega-MSFT commented on #13287
@andyce1010
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-13 23:30] chaosrealm commented on #13268
@mhabibal13 For "small" custom field mapping functions, please vote for this [UserVoice suggestion](https://feedback.azure.com/forums/263029-azure-search/suggestions/20042056-allow-custom-defined-field-mapping-function)

For heavier lifting, Azure Search now supports arbitrary enrichment pipelines, including extensbility points using Web API skills. See https://docs.microsoft.com/en-us/azure/searc

[2018-08-13 23:32] sergaz-msft commented on #13334
@ddobric thank you for your feedback!

azure-iot-edge-runtime-ctl.py is a package and you can find it's details here: https://pypi.org/project/azure-iot-edge-runtime-ctl/

This is the azure iot edge repository that helps build those python packages: https://github.com/Azure/iotedge

If you follow [one of our tutorials](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows

[2018-08-13 23:38] kgremban commented on #13334
Hi @ddobric. @sergaz-msft is correct in that this is an artifact from when IoT Edge was in public preview, and used a pip installer. I will update the article to remove the reference to this package.

[2018-08-13 23:38] ahmelsayed commented on #13253
see https://github.com/Azure/app-service-announcements/issues/119 for more details about the breaking change in `>= beta.31`

[2018-08-13 23:40] MohitGargMSFT commented on #13237
@xocolatl-aficionado I understand what you are referring here. I did follow steps and faced the same issue. However, I was able to resolve it by adding this line: `redirectUrl: config.creds.redirectUrl, ` in Step3.3 in OIDCStrategy under app.js file.

[code]
After making above change, my sample works as expected. Please try at your end and let me know if that works for you as well.

[2018-08-13 23:53] BryanLa commented on #9052
Hi all - looks like the article was updated to use the PS cmdlet that @prashanthyv mentions (New-SelfSignedCertificate). So I believe this issue has been resolved and can be closed? If not, please let me know.

Thanks!

[2018-08-14 00:01] kazshi commented on #13281
@danimir @Alberto-Vega-MSFT  Thanks for your comment. I totally understand.

[2018-08-14 00:06] cjgronlund commented on #13160
@nitinme This is a machine translated version of a doc recommended by a ja-jp user (see links above). It doesn't fit our documentation model. However, when I searched on docs about custom translation in Cog Serv, I found this buried in the TOC: https://docs.microsoft.com/en-us/azure/cognitive-services/translator/customization
Might be a non-issue after Ignite?

[2018-08-14 00:06] mike-urnun-msft commented on #13185
@GuSoder If you're continuing to encounter this issue, please reach out to VS support at: https://visualstudio.microsoft.com/vs/support/

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 00:06] #13185 closed

[2018-08-14 00:08] ngeegoh opened #13344 "Cannot exclude specific files"
I want to exclude some specific files when uploading stuff to Azure Blob Storage but seems like AzCopy does not have any arguments to do that. There is a related argument /XA:[RASHCNETOI], but it does not work the way I want. For example, in the artefact directory, I got 1 zip file and many .nupkg files, but I only want to upload the zip file and exclude all other .nupkg files. I tried "/XA:*.nupk

[2018-08-14 00:15] tfitzmac commented on #12193
@SeanFeldman - thanks for notifying us of this issue. I have deleted those objects and properties from the descriptions.

[2018-08-14 00:27] mike-urnun-msft commented on #13267
Thanks @chaosrealm!

@mhabibal13 Changes to be reflected after next merge. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 00:27] #13267 closed

[2018-08-14 00:35] #12193 closed

[2018-08-14 00:45] elliotmoule commented on #13277
That's great! Thank you :) Sorry, I should have read through it further!

[2018-08-14 00:45] #13277 closed

[2018-08-14 00:47] BryanTrach-MSFT commented on #13333
@OMARJG Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 00:49] femsulu commented on #12679
@vsnboda , apologies for the delay. Are you still experiencing this issue? the error you encountered suggests there's an issue with how the _artifacts_location & artifactsLocationSAS token are defined in your Parameters.json file. May need to access to your parameter's file to investigate this further. Also curious how you completed step 6 " [under option 2 ](https://docs.microsoft.com/en-us/azure

[2018-08-14 00:54] femsulu commented on #12700
@jackting73
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 00:54] #12700 closed

[2018-08-14 01:01] femsulu commented on #12966
Thanks for the feedback @thuansoldier . Will pass this on to the documentation author. while I agree this doesnt necessarily fit in the document, the intent here is to simply state that ServiceBus is available in Azure Government cloud as a complimentary service to networking. The article simply references the link to Service Bus documentation and doesn't really go into any additional details.

@j

[2018-08-14 01:01] #12966 closed

[2018-08-14 01:02] femsulu commented on #12984
@mganeshphani
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 01:02] #12984 closed

[2018-08-14 01:09] cconrado opened #13345 "Missing Reboot Supression Feature"
This was just released and its not mentioned in the documentation. Where can we monitor the changes happening from the azure automation team? The blog isn't getting updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db47901d-1664-058d-9407-47e932dc9661
* Version Independent ID: e90ec9ee-e7da-4f19-248f-4c825aaa8b9f

[2018-08-14 01:10] kazshi commented on #12749
@CarlRabeler When would it be updated? Thanks.

[2018-08-14 01:13] cwiederspan commented on #13233
Thanks, Iain. In hindsight, it seems so obvious, but there are so many moving parts, it's easy to miss something.

[2018-08-14 01:21] chpaadmin opened #13347 "Set-AzureRmVMAEMExtension doesn't work in Azure China Cloud"
Hi expert,

I have tried to follow the steps to deploy, but seems the command Set-AzureRmVMAEMExtension doesn't work in Azure China Cloud.
As you can see, it set ".blob.core.windows.net" as the storage account suffix mandatory although I have logged in with Azure China environment. Below is my test result for your reference:

PS C:\&gt; Add-AzureRmAccount -EnvironmentName Azurechinacloud

Account

[2018-08-14 01:29] BryanTrach-MSFT commented on #13096
@MikeAinOz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-14 01:29] #13096 closed

[2018-08-14 01:48] georgewallace commented on #13345
@cconrado thanks for bringing this to our attention. I am in the final reviews of the docs for the reboot control options. They should be live tomorrow. I’ll confirm with the team to ensure we get service updates on the Azure service updates feed.

[2018-08-14 01:50] aryapankaj opened #13348 "Page still shows Azure Resources (Preview)"
PIM for Azure resources is in GA now, but the page still shows that it is in the preview. This creates confusion. Please correct it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64acb2bc-6c41-34a2-1822-53e0fedc0d3b
* Version Independent ID: 5709c4d7-7fc0-0e32-cb99-35d24acd63c6
* Content: [Configure Azure AD Privilege

[2018-08-14 01:59] Alberto-Vega-MSFT commented on #13305
@kfile @samisq  The VNet Rules section shown here is missing. [image](https://docs.microsoft.com/en-us/azure/postgresql/howto-manage-vnet-using-portal#create-a-vnet-rule-and-enable-service-endpoints-in-the-azure-portal)
![portalcapture](https://user-images.githubusercontent.com/10910841/44067313-b9846f54-9f29-11e8-9b60-f59289838782.PNG)

[2018-08-14 02:04] mike-urnun-msft commented on #12534
@eskaufel We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 02:04] #12534 closed

[2018-08-14 02:05] mike-urnun-msft commented on #13079
@henriquebrisola We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 02:05] #13079 closed

[2018-08-14 02:05] mike-urnun-msft commented on #13082
@raviteja59 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 02:05] #13082 closed

[2018-08-14 02:06] mike-urnun-msft commented on #13089
@henriquebrisola We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 02:06] #13089 closed

[2018-08-14 02:08] cconrado commented on #13345
@georgewallace whats the link to the updates feed just to confirm I have the right one 👍

Thanks for the quick reply

[2018-08-14 02:09] femsulu commented on #13038
Closing as Duplicate of #13200

[2018-08-14 02:09] #13038 closed

[2018-08-14 02:12] mike-urnun-msft commented on #8454
@TecumsehSamp I haven't heard back from product group on status & confirmation yet. I'll follow up again tomorrow and update you here ;)

[2018-08-14 02:33] BryanTrach-MSFT commented on #13263
@joakimhellum-in We had to reach out to the product group in order to get you a response. Windows containers are brand new and still in preview state.

Currently, we don’t allow customers to control the limits per container but thanks for the feedback

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continu

[2018-08-14 02:33] #13263 closed

[2018-08-14 02:53] georgewallace commented on #13345
@cconrado https://azure.microsoft.com/en-us/updates/?product=automation

[2018-08-14 02:54] samworkman opened #13349 "Next Steps Azure Storage needs to be updated"
Since this document was last modified the Azure Storage for PAAS document was published.  The Azure Storage Next Step needs to be updated to link to this doc:
https://docs.microsoft.com/en-us/azure/security/security-paas-applications-using-storage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6dec1d-373d-292b-a0d2-9

[2018-08-14 03:01] Captainlonate commented on #13237
I'm getting infinite redirects when I attempt to access: http://localhost:3000/login

First off, I put my clientId in config.js and tried to run "node app.js", I got the error:
"Invalid value for redirectUrl.The URL must be valid and be https:// or http://"

So then I added: "redirectUrl: config.creds.returnURL," to app.js, under "new OIDCStrategy()".

Still got the same error.

So then I added "a

[2018-08-14 03:04] Mike-Ubezzi-MSFT commented on #12860
@CarlRabeler FYI, broken link. Thanks!

[2018-08-14 03:05] YutongTie-MSFT commented on #11131
@v-jaswel Thanks Jason, I will close the issue first and please feel free to reopen it when you have any new update.

@niida23 @1Click1Life
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 03:05] #11131 closed

[2018-08-14 03:11] Mike-Ubezzi-MSFT commented on #12154
@MaWa19 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 03:11] #12154 closed

[2018-08-14 03:13] Mike-Ubezzi-MSFT commented on #13059
@luyaok We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 03:13] #13059 closed

[2018-08-14 03:15] mike-urnun-msft commented on #12418
@rcoccia just checking if the above answered your question. Pls let us know if we can close this issue.

[2018-08-14 03:25] Captainlonate opened #13350 "Infinite Redirects With Node.JS ADAL"
Hello,

This is for the Node.JS ADAL with passport, using OIDC.

I am attempting to follow the instructions on this microsoft docs page:
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v1-openid-connect-code

My problem is that, after completing the tutorial, I'm getting infinite redirects when I attempt to access: http://localhost:3000/login

I downloaded the sample cod

[2018-08-14 03:52] MohitGargMSFT commented on #13348
@aryapankaj Thanks for reporting! I have assigned the issue to the content author to investigate and update the screenshots in the document.

[2018-08-14 03:58] MohitGargMSFT commented on #13349
@samworkman Thanks for reporting! I have created pull request with the change and updated content will be live soon.

[2018-08-14 04:10] mdittakavi commented on #12811
Hi Team

I didn’t get any response for the below email.
Also, how users provisioned after certain parameters met. Is the below app supported by workday or Microsoft

Thanks and Regards,
Murali Dittakavi
Integration & Collaboration Technical Lead

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Tuesday, 7 August 2018 4:39 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc:

[2018-08-14 04:22] lyrana opened #13352 "The edition 'Standard' does not support the service objective 'P6'."
Document Details
⚠ Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

ID: 65a16702-87ad-4801-5171-f5e629661cb4
Version Independent ID: bdd076dd-9b65-4054-b7f8-16e12e6a6f99
Content: Import a BACPAC file to create an Azure SQL database
Content Source: articles/sql-database/sql-database-import.md
Service: sql-database
GitHub Login: @CarlRabeler Carl Rabeler FTE
M

[2018-08-14 04:23] aquibqureshi26 opened #13353 "what happens if my data is more than 5 TB and i have only specified one file share in my dataset.csv file"
Does Microsoft creates new file share and dump by data in. Any content reference would be helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afba35f6-d6e3-57b7-6894-2f868378a08b
* Version Independent ID: 849d3047-66b8-7561-1cd3-66c20e3d27be
* Content: [Using Azure Import/Export to transfer data to Azure Files](http

[2018-08-14 04:31] techiearun opened #13354 "Service Fabric Mesh in EU/UK Regions ?"
Is there any way can I get preview from EU / UK Regions ? or when this will become available as preview in EU / UK Regions ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1772867c-92c7-f8ae-e19a-929478763da3
* Version Independent ID: 2df08f43-c2be-63e3-1b6f-99932ddd593f
* Content: [Overview of Azure Service Fabric Mes

[2018-08-14 04:43] ToMakeSense commented on #13215
@humer Powershll is OK, I mentioned set-AzureRmWebApp command in previous reply

[2018-08-14 05:15] dcbrown16 opened #13355 "Two n variables"
It seems like it could be clearer if the table describing the interaction between TTL on collections and documents was edited so the "n" variable (currently used in both axes) was different between the two axes.
I understand that when a collection and a document have different values set, the document value takes precedence, but this is not clearly conveyed by using "n" to refer to two different v

[2018-08-14 05:34] dcbrown16 commented on #13355
I guess n and "n" are being used to distinguish, is this a common stylistic convention? n and n' would be more recognizable to me.

[2018-08-14 05:57] MicahMcKittrick-MSFT commented on #13347
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 05:58] MicahMcKittrick-MSFT commented on #13354
Thanks for the question! We are investigating and will update you shortly.

[2018-08-14 06:13] mike-urnun-msft commented on #11744
@nils-a  Thank you for additional info. Since your scenario involves 2 apps establishing authentication & authorization between each other (apps in point 1 and 3), using [Azure Managed Service Identity](https://docs.microsoft.com/en-us/azure/app-service/app-service-managed-service-identity) instead may be a better fit.

[EasyAuth flow](https://azure.microsoft.com/en-us/resources/videos/azure-websi

[2018-08-14 06:13] #11744 closed

[2018-08-14 06:33] wolfma61 commented on #13228
This is not on the current roadmap. I think this is a more global issue with speech/cognitive services?
Perhaps https://cognitive.uservoice.com/ is a good place to raise this concern.
thx
Wolfgang

[2018-08-14 06:36] mike-urnun-msft commented on #13261
@Alienroid Yes, the documentation demonstrates the use of OAuth 2.0 implementation from Github to authorize the chat application and same can be done pretty easily with an existing asp.net app as well. Since this channel for driving improvements towards content of this documentation, i'd like for your to open a thread on [ASP.NET forums](https://forums.asp.net/search?q=title%3A%28SignalR%20Core%29

[2018-08-14 06:36] #13261 closed

[2018-08-14 06:40] TravisCragg-MSFT commented on #13336
@NT-D Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-14 06:41] TravisCragg-MSFT commented on #13344
@ngeegoh Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-14 06:59] lcanastreiro commented on #13276
After 7 hours

NAME                                READY     STATUS    RESTARTS   AGE
azure-vote-back-655476c7f7-pt6f2    1/1       Running   0          7h
azure-vote-front-7977d8866f-6h5d2   0/1       Pending   0          7h
azure-vote-front-7977d8866f-g2blt   0/1       Pending   0          7h
azure-vote-front-7977d8866f-gqnlt   1/1       Running   0          7h
azure-vote-front-7977d8866f-vtw4q

[2018-08-14 07:14] FrankPfattheicher commented on #13244
Hi Dominic,

what i am missing is a description of the azure resources automatically
created.

The given description is more ore less "Read the source Luke"...

This could be easy added to the "Logical architecture" section.

Also for beginners the expected costs are important - where do they come
from?
(I work for longer time with azure and have no problem finding that out)

2018-08-13 7:52 GMT+0

[2018-08-14 07:32] steynr opened #13356 "No Option for Regional CPU core Increase"
I have run out of Regional CPU cores but not 1 specific Core type. There is no Option to only increase the regional core count.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe04a05a-f753-ee1f-5171-fd2a81a030f9
* Version Independent ID: 1507a7ac-11cc-81a7-e932-9e8ef9644e2b
* Content: [Azure Resource Manager vCPU quota

[2018-08-14 07:48] vivekjainAco opened #13357 "how to decide about the field name?"
I want to create an index and I have lots of different documents of different formats in my azure blob container. How can I decide the field's name because there is no consistent field across all the documents?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836fd03c-dad6-64cf-0ee0-2c288f572526
* Version Independent ID:

[2018-08-14 08:30] rifaterdemsahin opened #13358 "how do we set this up for webapps"
how can i change the hosts file there ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b1afa49-a5b4-92db-68e8-3feeeff52eb3
* Version Independent ID: c9191775-e49c-1462-e525-a5ce549ae743
* Content: [Create and use an internal load balancer with an Azure App Service Environment](https://docs.microsoft.com/en-us/azure/ap

[2018-08-14 08:32] iMartyn opened #13359 "Provide Terraform/az cli instructions"
Point and click is not the way people actually manage their infrastructure if they're doing it properly, can we please have docs for using either terraform or the az cli to create the apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
* Version Independent ID: f4420b08-9b57-f581-f

[2018-08-14 08:40] dannyrc commented on #12991
Thanks for replying. I still see the warning message, but I also think the job is not producing the proper output. When I sample the input and test the query in the portal I get an output like:

outputtime, sensorname, avgtemperature
"2018-01-26T20:48:00.0000000Z", "sensorA",131
"2018-01-26T20:48:00.0000000Z","sensorE",115.25
"2018-01-26T20:48:30.0000000Z","sensorD",109
"2018-01-26T20:48:30.000000

[2018-08-14 08:40] dominicbetts commented on #13244
Hi @FrankPfattheicher - we show information about the Azure services deployed for a specific configuration when you provision the solution. For example, see https://www.azureiotsolutions.com/Accelerators#solutions/types/RM2. Would you like to see this information duplicated in the docs as well?

Dominic

[2018-08-14 08:55] ravisha22 opened #13360 "Link the loganalytics portal URL"
folks, please link the loganlytics portal URL based on which this documentation is written!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8538ceb8-793a-6d84-2cd2-830dfc137bbc
* Version Independent ID: 7e0224f6-a0a9-89f8-e57c-090a474aec35
* Content: [Get started with the Analytics Portal in Azure Log Analytics](https:/

[2018-08-14 09:00] strimpak commented on #12956
@MicahMcKittrick-MSFT no this is not the case.

Reproduction steps:

1. Create an AKS cluster
2. Add a static-ip as documented here
3. deploy a deployment and a service on AKS cluster that uses this static ip

Up to this point everything is working as expected

4. Delete deployment on AKS
kubectl delete deployment <deployment_name>
5. Recreate the deployment on AKS
kubectl apply -f <deployment_yam

[2018-08-14 09:16] cocosnuss commented on #12763
I used another wifi network and the same computer and my device was able to send longer than 30 minutes. I will do another test to see if it will run longer.
I will check the wifi network if there is some kind of configuration that kicks out any device which performs regular activities after 30 minutes.

[2018-08-14 09:23] Yvand opened #13361 "How-to set the user identifier claim depending on the UserType (Guest / Member) in Enterprise applications?"
I registered a custom enterprise application to issue SAML 1.1 tokens as described in [this article](https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication).
I set the user identifier to user.UserPrincipalName and it's working fine.

But in another scenario, I have an app registration with ADFS, and upon authentication, Azure AD issues a SAML 2 to

[2018-08-14 09:28] chbergen opened #13362 "Not possible to add more than one parameter to event trigger"
When I set up an event trigger on a blob file creation I try to specify parameters for blob name and blob folder via GUI, as described in:
https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-event-trigger

When I get to parameters it's not possible to add a second param and the first one is prenamed with "name", I can not change the name. The is no button to add a new param

[2018-08-14 09:39] FrankPfattheicher commented on #13244
Hi Dominic,

yes, there is a list of services deployed - but not shown what they are
used for.

If you use a VM it can be used for everything...

It is not clear which functionality uses which resource underneath.

2018-08-14 10:41 GMT+02:00 Dominic Betts <notifications@github.com>:

--

Mit Grüßen aus Baden

Frank Pfattheicher

---------------------------------------------------------------------

[2018-08-14 10:01] TWolverson opened #13363 "Contradiction"
This documentation seems to contradict itself on the meaning of "public" vs. "private" certificates. In the second paragraph it says this is defined by whether they are issued by a CA, but elsewhere it is shown that the distinction is whether or not the certificate contains a (password-protected) private key. Which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-08-14 10:11] dpravo opened #13364 "SSPR for on-premises users"
Can you please advise whether SSPR for on-premises users is fully supported in Azure Government? The above documentation would indicate so, but despite my and Microsoft Support's best efforts we have not yet been able to get it working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d495f3d-a30d-0e44-a0de-da201e95861c

[2018-08-14 10:20] deasonuk opened #13366 "IP Restrictions"
On https://azure.microsoft.com/en-gb/pricing/details/app-service/windows/ it says "Network Isolation" only on ISOLATED tier.

Does this mean i can't add IP restrictions for any other Tier?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f4

[2018-08-14 11:20] MurrayFoxcroft opened #13367 "KeyVault"
Please include KeyVault in the list of sources/connectors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8f06db-58d4-75b9-f150-9a1b4767cf75
* Version Independent ID: 54c26e53-460a-2f6e-b4f2-86f1e8581435
* Content: [Copy Activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/copy-activity

[2018-08-14 11:28] Anmolgan81 opened #13368 "Does Application Security Group Enable Move?"
What about the application security group do they support move across subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.micr

[2018-08-14 11:39] iMartyn commented on #11681
@paulmackinnon-adv365 you can't. https://github.com/MicrosoftDocs/azure-docs/issues/11426  It's not possible to enable RBAC after creation in AKS.

[2018-08-14 11:49] markarnolditpro commented on #13269
Thanks Wesley!
Mark

________________________________
From: Wesley McSwain <notifications@github.com>
Sent: Monday, August 13, 2018 3:05:30 PM
To: MicrosoftDocs/azure-docs
Cc: Mark; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Link to Zero touch... video broken (#13269)

@markarnolditpro<https://github.com/markarnolditpro> Thanks! Looks like the video was moved to YouTube here: https://www.yout

[2018-08-14 11:52] bwren commented on #12768
@LittleColin Just pinging in on this.

[2018-08-14 11:53] bwren commented on #12768
#in-progress

[2018-08-14 11:59] hellangleZ commented on #12771
Hi

I have a very important question to ask Azure.

AKS services using CNI plugin, let container has VNETIP, but does it support container directly join LB backend pool, not through services  ?

[2018-08-14 12:17] bwren commented on #11955
I'm going to go ahead and close this since we have an example here.  It's not something that we're ready to put into documentation but looks like an example that should suffice.

[2018-08-14 12:17] bwren commented on #11955
#please-close

[2018-08-14 12:23] bastyuchenko opened #13369 "Encription if I copy a database."
I have a production database with encryption and I wanna copy it from the production tenant to another Azure tenant in my own developer's subscription for a further development. I'm going to use Data Migration tool. Will I find readable values in the copied database or it will be encrypted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-08-14 12:24] gtimread opened #13370 "Microsoft Teams"
Why is there no mention of the role delegation required to administer Microsoft Teams? It is necessary to have Skype for Business Administrator permissions to access the Teams and Skype for Business Admin Center. The account must also be licensed for Teams (often companies require IT Admins to use a separate Admin account and if it's not mail-enabled it may well not have the appropriate O365 licen

[2018-08-14 12:35] prebenh commented on #9432
When will this be available ?

[2018-08-14 12:54] kai-wang- opened #13371 "HTTPS via appsettings.json, much more easier!"
How to use Kestrel in ASP.NET Core apps
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-2.1&tabs=aspnetcore2x#how-to-use-kestrel-in-aspnet-core-apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f217-446f1ad263c5
* Version Independent ID: a47523e2-0c30-dee4-

[2018-08-14 12:56] kai-wang- commented on #13371
Sample appsettings.json:
{
  "Kestrel": {
    "EndPoints": {
      "DevHttp": {
        "Url": "http://*:5000"
      },

      "DevHttpsInlineCertFile": {
        "Url": "https://*:5001",
        "Certificate": {
          "Path": "localhost.pfx",
          "Password": "Password01!"
        }
      },

      "DevHttpsInlineCertStore": {
        "Url": "https://*:5002",
        "Certificate": {

[2018-08-14 12:58] irari opened #13372 "Filter out internal developers results"
In users/events/... section in Application Insights: is it possible to remove results from internal development teams ?

[2018-08-14 13:02] johnpapa opened #13373 "[Create Node.js Web App] - update to node 8.9"
See https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/app-service/app-service-web-get-started-nodejs.md

Please update the references from node 6.9 to node 8.9, to be current

[2018-08-14 13:12] nils-a commented on #11744
@mike-urnun-msft no, my example seems to be misleading. Sorry making it not clearer.
The question is when, if ever are the scopes used that are configured in the page?

[2018-08-14 13:13] nils-a opened #13374 "Reopen #11744"
Please reopen #11744

[2018-08-14 13:15] anandlalvb commented on #13265
I had the similar issue, where the dotnet --version show 2.1.x (cli version?) and getting the core SDK version in dotnet --info command. This is fixed by installing the 2.1.x SDK from https://www.microsoft.com/net/download/all

[2018-08-14 13:15] FernandoPavani commented on #12226
Guys, i was having the same problems that @kobulloc-MSFT is facing. I tried at home and it works perfectly, my problem seems to be that the proxy server in my work was blocking the access to my KeyVault. Hope it helps. Thanks for support.

[2018-08-14 13:26] somalearns commented on #12261
Hi,
Probably someone might have hit this already...

I had created a solution with this Service Fabric Mesh project template on VS 2017 Pro, OS-Windows 10 Pro.

I have MVC "Web-App" & "Web-API" services, the Web-App accesses the Web-Api, I had configured the service.yaml respectively. when I use the Web-API service-name within the service.yaml I get the error mentioned below, if I use the IP-Addre

[2018-08-14 13:41] diberry commented on #13197
@sodafatty Are you able to take a screenshot and share it?

[2018-08-14 13:52] diberry commented on #13142
Hi @LacikIgor I've created a documentation ticket for this issue. It isn't in cycle yet so I don't have an ETA for it. If you have nothing further, I'll close this ticket. You should be notified with the documentation ticket is resolved. #please-close

[2018-08-14 13:54] MGoedtel commented on #8742
@MicahMcKittrick-MSFT and @slavizh - I'm investigating.

[2018-08-14 14:00] bozford opened #13375 "Incomplete permissions documentation"
Documentation requires update to reflect full delegation, including the location of the delegation (on  the domain) and scope (this object and child objects).  Need to be able to manually re-create the delegation, and the documentation is incomplete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f09eeca8-9ac6-433b-0f7

[2018-08-14 14:01] diberry commented on #13158
Hi @ericbl, Thank you for elaborating on your needs. An internal documentation ticket has been created for both issues (enterprise level roles & development pipeline). You should be notified when each is completed. There is no current guidance so please be patient.

[2018-08-14 14:08] CarlRabeler commented on #12860
fixed

[2018-08-14 14:09] CarlRabeler commented on #12749
@anosov1960 please review

[2018-08-14 14:18] CarlRabeler commented on #13287
investigating...

[2018-08-14 14:37] cocosnuss commented on #12763
I talked to our network guy (this is a corporate wifi network) and he suspects that it has something to do with our firewall. Strangly, Microsoft's Raspberry Pi script works continiously and doesn't loose connection. So it is hard for me to tell where exactly the mistake is. I'll try to investigate further but I think it will be difficult to solve this problem. Because the issue maybe is caused by

[2018-08-14 14:37] #12763 closed

[2018-08-14 14:39] sergaz-msft commented on #12763
Thank you @cocosnuss we appreciate that, please feel free to reopen this issue if needed :).

[2018-08-14 14:51] tfitzmac commented on #13368
@Anmolgan81 - yes, it is part of the Virtual Networks service, so it supports move.

[2018-08-14 14:51] tfitzmac commented on #13368
#please-close

[2018-08-14 14:52] tfitzmac commented on #13212
#please-close

[2018-08-14 14:52] Anmolgan81 commented on #13368
So this needs to be moved with the virtual network???
From: Tom FitzMacken <notifications@github.com>
Sent: 14 August 2018 20:21
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Does Application Security Group Enable Move? (#13368)

@Anmolgan81<https://github.com/Anmolga

[2018-08-14 14:57] CarlRabeler commented on #13287
This appears to be a bug and a CSS case should be opened. No further action at this point in terms of changing the docs. @andyce1010 @Alberto-Vega-MSFT

[2018-08-14 14:57] CarlRabeler commented on #13300
update in progress

[2018-08-14 14:58] CarlRabeler commented on #12749
@Mike-Ubezzi-MSFT please assign this issue to anosov1960

[2018-08-14 15:00] ryanrclark commented on #13033
Thanks Rayne,
Correct, not using VMM. In your second bullet, this is the piece I’m trying to figure out. you say “add each cluster to the hyper-v site” but when running through the site recovery setup in the Vault, I have the option to add servers, there’s no option to “add a cluster”. This Is what I’m trying to figure out. How to I make the Vault understand that these 2 hyper-v hosts are in a clu

[2018-08-14 15:29] MaWa19 opened #13377 "Unable to verify certificates"
I'm trying to set up a Raspberry Pi 3 as a transparent gateway following this How-to. Everything seems to work until it comes to the verification of certificates.

Testing the connection with openssl leads to "unable to get local issuer certificate" and the following log. The returned error is the same when trying to connect to the IoT Hub instead of the gateway (localhost).

One thing I noticed w

[2018-08-14 15:40] #13137 closed

[2018-08-14 15:55] MahmoudYounes commented on #13163
hi, any updates? is there somewhere else I can ask this question?

[2018-08-14 15:59] lyyeh opened #13378 "update documentation - sign-on URL"
for this step
![image](https://user-images.githubusercontent.com/18581591/44103174-5f4ac98a-9fa0-11e8-9c34-bb0c15cff206.png)

The Dropbox admin is able to get the Sign on URL from the SSO admin console on dropbox
![image](https://user-images.githubusercontent.com/18581591/44102872-946f7ca6-9f9f-11e8-9962-9a02cbcfc892.png)

no need to contact dropbox support

---
#### Document Details

⚠ *Do not ed

[2018-08-14 16:00] mike-urnun-msft commented on #11744
Hi @nils-a Since this channels is for driving improvements towards content of this documentation, could you open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazurewebsitespreview) instead?

[2018-08-14 16:01] mike-urnun-msft commented on #13374
@nils-a Closing this one since it is a duplicate.

[2018-08-14 16:01] #13374 closed

[2018-08-14 16:03] jdogg89 opened #13379 "Azure automation runbook examples"
Where can I find example automation runbooks that tag resources within an azure subscription? for existing resources it would be great to tag items that weren't tagged on creation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc003943-8bc8-10ac-e633-5640cff3c397
* Version Independent ID: f8826361-f601-acf9-3e3d-c9657

[2018-08-14 16:04] MicahMcKittrick-MSFT commented on #13359
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-14 16:05] FanrayMedia commented on #12981
Just want to add

1. It would be really great if I could set these billing alerts from inside Azure Portal
2. Is there a way to automatically suspend my services if I exceed certain amount of money in a month, say $200, to prevent unexpected usage and attacks?

[2018-08-14 16:05] MicahMcKittrick-MSFT commented on #13371
Thanks for the question! We are investigating and will update you shortly.

[2018-08-14 16:10] Sambsamb commented on #13145
@fhryo-msft
![image](https://user-images.githubusercontent.com/8533726/44103733-04fd5540-9fbb-11e8-836c-485e2ed9e35d.png)

[2018-08-14 16:11] iainfoulds commented on #13359
Hi, @iMartyn. Totally valid feedback, and it would be great to document CLI or Terraform. At the moment with AAD integration in preview, these portal steps are what's available. There is already engineering week to improve this, such as https://github.com/Azure/azure-cli/pull/6975. Once tooling other than the portal is available, this doc will be updated accordingly.

@MicahMcKittrick-MSFT For now

[2018-08-14 16:13] #13359 closed

[2018-08-14 16:14] LisandroSu opened #13380 "Please help to update China is not supported for invoice payment."
@yuchiehchang commented on [Tue Aug 14 2018](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/104)

[Issue]
Currently, Global Azure in China is not supported in invoice payment type.

TSG: 4089458

[Update Need]
Please help to make note: China in global Azure is not support in invoice payment type
•	https://docs.microsoft.com/zh-cn/azure/billing/billing-how-to-pay-by-invoice

[2018-08-14 16:15] LisandroSu commented on #13380
Hi team,
Please check on this issue.

Thanks

[2018-08-14 16:20] rifaterdemsahin opened #13381 "how do i create the private ip for dns"
and use that in my ILB ASE.

these are not clear...

not enough meaningful references.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a52a9e1-30fe-a102-522f-f3794b5914de
* Version Independent ID: 3a16c835-95cd-7552-f877-ce77ad7762f4
* Content: [Tutorial - Create an Azure DNS private zone using Azure PowerShell](https:

[2018-08-14 16:30] eross-msft commented on #13311
This actually is a URL that you're supposed to add to your RSS reader. In some browsers it automatically does it, in others like Chrome, you have to manually add it. I'm updating the text to hopefully help clarify.

[2018-08-14 16:32] Karishma-Tiwari-MSFT commented on #13260
@smoms I agree it is confusing.
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-14 16:35] trevor-schmidt commented on #10767
We wish to create a custom role (Contributor Supplement) that allows users to create service health alerts. What is the "Actions" we need to incorporate within our customer role. We figured out we need Monitoring Contributor and Contributor for it to work. Currently within our Contributor Supplement we have the following "Actions": "Microsoft.Insights/*" however this allows users to create action

[2018-08-14 16:41] saulcruz opened #13383 "Create a Resource Manager template for each environment- Fill in the values step details on connection strings are not clear"
In this section https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#create-a-resource-manager-template-for-each-environment

when trying to fill in the "Custom Deployment Settings" values I'm unable to identify the format of a connection string, for example what if I access a SQL server database on-prem using a windows authentication service account and a password

[2018-08-14 16:43] mike-urnun-msft commented on #13362
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Independent ID: 68f01b43-e3b2-003b-24cb-446a08aa0c1b
* Content: [Create event-based triggers in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-event-trigger)
* Content Source: [articles/da

[2018-08-14 16:44] ryanrclark commented on #13033
Ok. Let’s say at the time I complete the replication configuration and a VM, called vm1 is on host1 at the time I configured everything. Vm1 then moves to host2 at some point. That’s the missing link for me. How does host2 know that it needs to replicate that VM to ASR? I feel like it will just start failing to replicate.

Ryan Clark, MCP
Network Engineer

[cid:ComTec_20YrLogo_90f5aaf6-7cc3-466f-8

[2018-08-14 16:46] mappindrones commented on #13305
This is missing for me as well.  Same image as above.

[2018-08-14 16:46] mike-urnun-msft commented on #13362
@chbergen Glad you solved the issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 16:46] Alienroid commented on #13261
Thanks. I did open a thread on ASP.NET forums. Since this article is for dev migrating their solutions to use a paid service (Signalr Service), it made sense to have a sample for Microsoft Identity or AD before a sample for oauth2.0/github IMO

[2018-08-14 16:46] femsulu commented on #13364
@dpravo , Thanks for the comment. Your feedback has been assigned to the content owner for further review.

[2018-08-14 16:46] kgremban commented on #12021
Hi again @darobs. Checking in to see if this issue is resolved or if you have any continuing concerns?

[2018-08-14 16:46] mike-urnun-msft commented on #13350
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85b1fba4-870b-1602-0d4f-6f50bdbfc370
* Version Independent ID: 93873b36-5f27-bd06-df23-804c38f21b37
* Content: [Azure AD Node.js web app getting started](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v1-openid-connect-code)
* Content Source: [ar

[2018-08-14 16:47] kgremban commented on #12494
@shizn @dsajanice Do you have any updates around this issue, if the docs should be updated or if there was a caching issue?

[2018-08-14 16:48] #13368 closed

[2018-08-14 16:48] Alienroid commented on #13261
I guess one suggestion is to highlight what's need to be done on identity specifically for signalr service.

[2018-08-14 16:48] Karishma-Tiwari-MSFT commented on #13182
@gsimardnet Since the default time zone used with the CRON expressions is Coordinated Universal Time (UTC), from my understanding, for the first scenario, it would run every 20 minutes irrespective of the daylight savings transition.

@ggailey777 @mathewc Can either of you please share insights on how Azure functions behave during the daylight savings transition, in the case when timer triggered f

[2018-08-14 16:50] mike-urnun-msft commented on #13350
@Captainlonate Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-08-14 16:52] BryanTrach-MSFT commented on #13357
@vivekjainAco Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 16:52] BryanTrach-MSFT commented on #13358
@rifaterdemsahin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 16:53] rolyon commented on #13348
Hi @aryapankay
Thanks for your feedback. It'll take some time, but we will be working to make updates to these docs.
thanks

[2018-08-14 16:53] BryanTrach-MSFT commented on #13363
@TWolverson Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 16:55] mike-urnun-msft commented on #13352
@lyrana Thank you for your feedback. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2018-08-14 16:55] jeevansd commented on #13229
@chetansriv Can you please add these changes in the article?

[2018-08-14 16:56] gsimardnet commented on #13182
And if I set WEBSITE_TIME_ZONE="Eastern Standard Time", How will the 20 minutes schedule be affected by the DST ?

[2018-08-14 16:56] BryanTrach-MSFT commented on #13366
@deasonuk Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 16:58] rolyon commented on #13348
#in-progress

[2018-08-14 17:00] iainfoulds commented on #12953
From discussing this with engineering, it appears that the presence of West US 2 is incorrect, and is not currently supported for Availability Zones. They are working on removing this from the list of available regions. Sorry for the confusion here. The create operation on resources likely fails in West US 2, though engineering work is underway to make this, and other, regions available. The doc w

[2018-08-14 17:01] mike-urnun-msft commented on #13372
Hi @irari Thank you for your question. Could you link us the URL of the documentation you were following so i can make sure your question is addressed by the right point of contact?

[2018-08-14 17:02] ahmedelnably commented on #13333
We are looking into other ways to download/access your snapshots. I don't have an ETA to share for now. It is in our backlog.

[2018-08-14 17:03] rolyon commented on #13120
Hi @dcbrown16
Thanks for reporting this. I'm not able to repro the weird scrollbar in Edge. Does anything in particular trigger?
Btw, I think I have an alternative to address the long list of headings.

[2018-08-14 17:04] mike-urnun-msft commented on #13373
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b88927e54
* Content: [Create a Node.js web app in Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-nodejs)
* Content Source: [articles/app-service/

[2018-08-14 17:05] eross-msft commented on #13311
I've set this update to publish and it should go live with the 3pm publish. The text now reads,
"Get notified about when to revisit this page for updates by adding this URL to your RSS icon feed reader."
The URL is hyperlinked for browsers that can use it, but for browsers that can't, the user will simply need to copy the URL.

[2018-08-14 17:05] mike-urnun-msft commented on #13373
@johnpapa Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-08-14 17:05] irari commented on #13372
Thank you!
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-usage-segmentation

[2018-08-14 17:06] femsulu commented on #13379
@jdogg89, Here's a link to a sample runbook that auto-tags resources with the owner. You may be able to extend this solution to meet your needs.
https://gallery.technet.microsoft.com/scriptcenter/Automatically-Azure-fc5f1443

@tfitzmac - FYI.

[2018-08-14 17:06] eross-msft commented on #13311
#please-close

[2018-08-14 17:07] femsulu commented on #13212
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 17:07] #13212 closed

[2018-08-14 17:10] johnpapa commented on #13373
thanks. i tried to make a PR but i kept getting a 500 error. This never happened before. Is there some new permission I need? I'd like to be able to help better with PRs

[2018-08-14 17:15] #12953 closed

[2018-08-14 17:15] TravisCragg-MSFT commented on #13137
@waynemsft We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-14 17:29] mike-urnun-msft commented on #13380
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8d2fa09-4a5b-c6c0-6d2e-c3d4f580cb02
* Version Independent ID: ffd52cd6-8db6-c394-a991-525fab99847a
* Content: [Pay for Azure subscriptions by invoice](https://docs.microsoft.com/en-us/azure/billing/billing-how-to-pay-by-invoice)
* Content Source: [articles/billing/billing-

[2018-08-14 17:30] brunoborges commented on #8868
Tried with Oracle JDK and the error does not occur anymore.

[2018-08-14 17:36] JanelChumley opened #13384 "Run the real-time web service - Step 2"
The following command throws an error, due to the use to double quotes to wrap the -d argument:
$ az ml service run realtime -i irisapp -d "{\"input_df\": [{\"petal width\": 0.25, \"sepal length\": 3.0, \"sepal width\": 3.6, \"petal l
ength\": 1.3}]}"
az: error: unrecognized arguments: input_df\: [{\petal width\: 0.25, \sepal length\: 3.0, \sepal width\: 3.6, \petal length\: 1.3}]}
usage: az [-h]

[2018-08-14 17:37] MicahMcKittrick-MSFT commented on #12753
@mrdfuse I will close this for now. If the above steps do not help just let us know :)

[2018-08-14 17:37] #12753 closed

[2018-08-14 17:37] MicahMcKittrick-MSFT commented on #12901
@haydenhancock any update?

[2018-08-14 17:38] Karishma-Tiwari-MSFT commented on #12673
@frankfajardo We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 17:38] #12673 closed

[2018-08-14 17:38] SaurabhSharma-MSFT commented on #13208
@transdigiware We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 17:38] #13208 closed

[2018-08-14 17:39] MicahMcKittrick-MSFT commented on #12977
@MedAnd can you share additional details here so we can all chime in?

[2018-08-14 17:40] georgewallace commented on #12852
@minimusgeekus I am submitting a pull request to update some of the images and steps that have changed slightly since we last updated the article.  Once the pull request is live it will auto close this issue.  If you run into issues on any other docs please do file another issue.  As @eamonoreilly has mentioned we truly appreciate your commitment to making our docs better.

[2018-08-14 17:41] MicahMcKittrick-MSFT commented on #13236
@lhengi I will close this for now. Please provide me with more context around what you are referring to and the specific doc that is related.

[2018-08-14 17:41] #13236 closed

[2018-08-14 17:41] MicahMcKittrick-MSFT commented on #13258
Good point @mmacy. Thanks :)

@jasonwangnanjing any update on this?

[2018-08-14 17:44] georgewallace commented on #13345
@cconrado The docs are now live with the updates. Thanks for bringing this to our attention. #please-close

[2018-08-14 17:46] SaurabhSharma-MSFT commented on #13361
@Yvand Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-14 17:47] SaurabhSharma-MSFT commented on #13370
@gtimread Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-14 17:47] jeevansd commented on #13378
@chetansriv Please make the changes in the article as suggested. Please remove the support link and guide customers on how to copy the link from the Dropbox directly.

[2018-08-14 17:48] SaurabhSharma-MSFT commented on #13375
@bozford Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-14 17:49] kgremban commented on #13316
@theangellmethod Thanks for pointing this out. Either route syntax should work, but I'll update the articles to match the change in the portal.

[2018-08-14 17:50] berndverst opened #13386 "Sample app should be moved to Azure-Samples Github org"
Asavari's sample app referenced in her personal Github repo should be instead published under the Azure-Samples Github org and the article updated subsequently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0077a811-b0b7-93b1-80b0-a4d45615ef4b
* Version Independent ID: cc95198d-5560-2bf1-09ae-b8d210e45f2d
* Content: [

[2018-08-14 17:52] berndverst commented on #13386
@asavaritayal can you create the repo in Azure-Samples and then update the article? @dend @cephalin can help you get it published.

[2018-08-14 17:55] MicahMcKittrick-MSFT commented on #13276
In my experience since we manually scaled out then added the autoscaler I needed to manually scale back down to three nodes. Then after that the auto scaler would scale up and back down as load changed.

@iainfoulds could you chime in on the expected behavior?

[2018-08-14 17:55] kgremban commented on #13321
@theangellmethod I removed that line, and the change should be reflected in the article by the end of the day.

[2018-08-14 17:57] MicahMcKittrick-MSFT commented on #13371
@kai-wang- I have assigned this to the content author to review and see if we can update the document.

[2018-08-14 17:57] jeevansd commented on #13302
@derpmcgerp1080p Yes, we are getting instructions for them and will add it here.

[2018-08-14 18:00] darobs commented on #12021
Hi @kgremban, this is what I get when I bulk delete GitHub emails after vacation.   It looks like it resolved the issue, so I will try this out right now.

[2018-08-14 18:03] jlaw2018 opened #13388 "Can't get the script to work: New-AzureRmVM : Object reference not set to an instance of an object."
+ New-AzureRmVM -VM $VirtualMachine -ResourceGroupName $resourceGroupNa ...

+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    + CategoryInfo          : CloseError: (:) [New-AzureRmVM], NullReferenceException

    + FullyQualifiedErrorId : Microsoft.Azure.Commands.Compute.NewAzureVMCommand

I have been seeing this all day trying to get the script to work on a test snapsh

[2018-08-14 18:03] tilak92584 opened #13389 "Feeling missing some more documentation in point 5"
After performing the steps till we are able to see proper connections .But in Point 5 we are not advised how to Edit VPN connections on client managed machine .

1. Is this Client machine suppose to be only Windows Platforms?
2.If user using the WINDOWS user using an TRIPLE_DES do we need perform extra steps ?
3.if Client using the Server based platform how to integrate the Websphere Middleware pr

[2018-08-14 18:07] mike-urnun-msft commented on #13372
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 306c312c-8c07-9cdf-a0e0-239dc823bbde
* Version Independent ID: 572696a5-450f-5b84-65d9-b7d522dcaba8
* Content: [User, session, and event analysis in Azure Application Insights](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-usage-segmentation)
* Co

[2018-08-14 18:09] kgremban commented on #13314
@theangellmethod Can you provide more information about what the issue is? You don't have to manually update any permissions, signing out and signing back into your device is all you have to do. Or did you attempt that and still found that you needed to use sudo?

[2018-08-14 18:10] ggailey777 commented on #13253
Thanks @ahmelsayed. I will update the topic to mention that `--build` is now required for C# projects.

[2018-08-14 18:11] mike-urnun-msft commented on #13356
@steynr Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-08-14 18:14] theangellmethod commented on #13314
@kgremban  - I didn't sign back out and in; the way it was worded I thought I needed to explicitly set permissions somehow once I signed in.  Maybe something like 'Sign out and back in so the permissions will be updated, so you can run...'

[2018-08-14 18:17] mike-urnun-msft commented on #13380
@LisandroSu Thank you for reporting this issue! We will review and make any necessary changes.

[2018-08-14 18:25] trevor-schmidt opened #13391 "Service Health Alerts Custom Role"
We wish to create a custom role (Contributor Supplement) that allows users to create service health alerts. What is the "Actions" we need to incorporate within our customer role. We figured out we need Monitoring Contributor and Contributor for it to work. Currently within our Contributor Supplement we have the following "Actions": "Microsoft.Insights/*" however this allows users to create action

[2018-08-14 18:29] mike-urnun-msft commented on #13373
@johnpapa I'll email you info on the process as it involves creating PRs in private repo ;)

[2018-08-14 18:33] Adam-Smith-MSFT commented on #13353
@aquibqureshi26 Good question, the File Share limit that's currently supported is 5 TiB. My guess would be there would be an error when importing the data to one file share, and the job would fail, or we create new file shares. I'll tag Azure files and the author to confirm either of the situations. @wmgries @RenaShahMSFT  @alkohli

[2018-08-14 18:35] TravisCragg-MSFT commented on #13381
@rifaterdemsahin the ["Create Additional DNS Records" section](https://docs.microsoft.com/en-us/azure/dns/private-dns-getstarted-powershell#create-an-additional-dns-record) outlines how to create an A record for an IP in you VNET. You can name this to whatever you like, and then replace the IP with your ILB.

After seeing that example, is anything still unclear?

[2018-08-14 18:37] SnehaGunda commented on #13317
@lafe there is a note in the .Net sample doc, that"

"*Developers already familiar with Azure Table storage may have used the WindowsAzure.Storage package in the past. It is recommended that all new table applications use the Azure Storage Common Library and the Azure Cosmos DB Table Library, however the WindowsAzure.Storage package is still supported. If you use the WindowsAzure.Storage library,

[2018-08-14 18:37] eross-msft commented on #12093
@dubrox @lashchev  We've officially released the feature into public preview, please follow the updated instructions and see if you have better luck. If you still have problems, please let me know.

[2018-08-14 18:38] mike-urnun-msft commented on #13380
@LisandroSu We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-14 18:38] mrbullwinkle commented on #13372
@irari have you tried experimenting with [cohorts](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-usage-cohorts)? If you can filter out internal users via a property in an analytics query you should be able to define a cohort that would likely meet your needs.

[2018-08-14 18:42] mike-urnun-msft commented on #13363
@TWolverson Thanks again for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-08-14 18:42] kgremban commented on #13314
@theangellmethod Ok, I'll try to reword that tip to make it more clear.

[2018-08-14 18:52] #12852 closed

[2018-08-14 18:53] johndonnelly commented on #12226
@ghogen I appreciate it.

[2018-08-14 18:55] vasivara-MSFT commented on #13360
@ravisha22 Thanks for your question. You can navigate to your log analytics portal from your azure portal log analytics resource blade. Click on **view logs** in **Maximize your log analytics experience** section and click **Analytics**. That will take you to the log analytics portal page.

[2018-08-14 18:56] MicahMcKittrick-MSFT commented on #7715
@iainfoulds can you take a look at this?

You can associate multiple nics on a VM to multiple subnets but those subnets must all reside in the same Vnet. We should make this information clear

[2018-08-14 18:57] ahmelsayed commented on #13253
yeah, sorry I'm not always good about pinging docs when I make changes like that. I'll try to communicate it better moving forward. Also we will be having less breaking changes

[2018-08-14 18:58] #13345 closed

[2018-08-14 18:59] #13311 closed

[2018-08-14 18:59] mike-urnun-msft commented on #13142
@LacikIgor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 18:59] #13142 closed

[2018-08-14 18:59] mike-urnun-msft commented on #13311
@Diamondust25 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 19:00] mike-urnun-msft commented on #11955
@rajeshvenkata We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 19:00] #11955 closed

[2018-08-14 19:00] MicahMcKittrick-MSFT commented on #13388
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 19:01] jason-j-MSFT commented on #13383
@saulcruz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 19:01] iainfoulds commented on #12740
After following up with engineering, the AKS overview doc is in error in stating HIPAA compliance. That certification process is ongoing and is due to final soon. For now, I've updated the doc to remove that wording. Sorry for any confusion.

[2018-08-14 19:03] iainfoulds commented on #7715
@MicahMcKittrick-MSFT Please reassign to the doc owner, @cynthn, for these updates to be incorporated.

[2018-08-14 19:03] theangellmethod opened #13393 "Add command to create Azure VM"
In the Linux tutorial, there is an azure CLI command to create a Linux VM.  It seems like an instruction to create a VM should be added here as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64575e7c-664c-4d6b-a440-24c91e93def5
* Version Independent ID: 17d9481c-a75b-bbfd-1f9a-76fc3d6b2930
* Content: [Quickstart

[2018-08-14 19:05] irari commented on #13372
Thank you, I will look further into this

[2018-08-14 19:06] #12740 closed

[2018-08-14 19:06] jimdial commented on #13196
@dcbrown16  Thanks for calling this out. I've updated the article. It will publish later today. #please-close

[2018-08-14 19:09] jonsavage opened #13394 "Missing step?"
I ran into an issue at the last step of https://docs.microsoft.com/en-us/azure/aks/jenkins-continuous-deployment#prepare-application
The `docker push` command was giving me `unauthorized: authentication required`
In order to get this to work I had to first run: `az acr login --name &lt;acrName&gt;`

I hope this helps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-08-14 19:09] chetansriv commented on #8409
@tmaeller Hi Tony - Have you got the response from engineering team?

[2018-08-14 19:11] vasivara-MSFT commented on #13367
@MurrayFoxcroft Thank you for your feedback. KeyVault is not a source/connector, it is a credential store. Key vault Linked service is used to extract the credentials as explained [here](https://docs.microsoft.com/en-us/azure/data-factory/store-credentials-in-key-vault).  Hence it is not a connector/data source, it is not mentioned there.

[2018-08-14 19:12] vasivara-MSFT commented on #13367
@MurrayFoxcroft We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 19:12] #13367 closed

[2018-08-14 19:12] mike-urnun-msft commented on #13373
@johnpapa While there are newer versions available to choose from, the default NodeJS version that a webapp spins up under is still appears to be 6.9.1. As such, I'm not sure this warrants a change in the doc. @cephalin got any thoughts on this one?

[2018-08-14 19:12] xocolatl-aficionado commented on #13237
`redirectUrl: config.creds.redirectUrl` Is that the only line you're referring to? I already had that line.

[2018-08-14 19:14] chetansriv commented on #11195
Note added as advised.

#Please-close

[2018-08-14 19:14] TravisCragg-MSFT commented on #13067
@transdigiware We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-14 19:14] #13067 closed

[2018-08-14 19:14] rlisnoff opened #13395 "Better Explanation of Virtual Machine Size "Tags""
I don't think there's any central location that these "tags", as I'm calling them, are explained.
By tags I mean the trailing letters on a VM's size that seem to denote some aspect about that size that sets it apart from the non-tagged version. Examples include: Standard_M32ts, Standard_M32ls, etc.

I understand the "s" at the end denotes Premium Storage, and "r" seems to denote RDMA capability, b

[2018-08-14 19:15] MicahMcKittrick-MSFT commented on #13394
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 19:16] MicahMcKittrick-MSFT commented on #13395
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 19:16] vasivara-MSFT commented on #13360
@ravisha22 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 19:16] #13360 closed

[2018-08-14 19:31] douglaslMS commented on #13018
@123deepak FYI we hope (but don't promise) to provide a sample by Friday 8/17.

[2018-08-14 19:35] maltalex commented on #11955
I don't follow. It sounds like you're saying that having some third party examples of this code floating around github is a valid reason for not including a Java example in the official documentation. Am I missing something?

Also, why is a Java example "not something that you're ready to put into documentation"?

[2018-08-14 19:36] chetansriv commented on #9663
@jeevansd ACS URL is being passed in SAML request so it shouldn't be mandatory

@millh0use Per Jeevan's last comment, can you please share the error details and we'll investigate the exact issue

[2018-08-14 19:39] MicahMcKittrick-MSFT commented on #13394
Thanks for the update @jonsavage! I will inform the content author so they can take a look as well.

If you hit any other issues just let us know :)

CC @iainfoulds

[2018-08-14 19:40] MikeChristensen opened #13396 "Instructions do not work"
The command:

az mesh deployment create --resource-group myResourceGroup --template-uri https://sfmeshsamples.blob.core.windows.net/templates/helloworld/mesh_rp.linux.json --parameters "{\"location\": {\"value\": \"eastus\"}}"

Gives the error:

Deploying . . .
Unable to parse parameter: {\

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-08-14 19:40] arnietest commented on #12746
Test

[2018-08-14 19:42] SaurabhSharma-MSFT commented on #13288
@jpieren We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 19:42] #13288 closed

[2018-08-14 19:44] MicahMcKittrick-MSFT commented on #13356
@steynr you are correct. When asking for more cores they will apply to an entire region

![image](https://user-images.githubusercontent.com/32313503/44114241-72933364-9fbf-11e8-9849-dc9f1200b839.png)

From there you can request a core increase for specific series.

As a side note, you can select multiple series so you can pick the ones you use the most. You can also request that the engineer worki

[2018-08-14 19:44] #13356 closed

[2018-08-14 19:45] theangellmethod opened #13397 "Add instruction to copy/paste in nano"
If there are instructions instructions to close the nano editor, it seems like there is an assumption of the level of familiarity with the editor.  It would make sense to add instructions to copy and paste as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independent

[2018-08-14 19:52] MikeChristensen commented on #13396
Tried this locally on Azure CLI, same issue.  I also tried:

$params = @{location = @{value = "eastus"}}

Then using --parameters $params

This time I get

Deploying . . .
malformed node or string: <_ast.Attribute object at 0x056E35F0>
Traceback (most recent call last):
  File "C:\Users\troyd\AppData\Local\Temp\pip-install-_jje8pgf\azure-cli-core\azure\cli\core\util.py", line 147, in shell_safe_js

[2018-08-14 19:53] Ayanmullick opened #13398 "Process activity monitor in Query Performance Insight"
Since the SSMS Activity monitor isn't supported on AzSQLdb, is there a way to get the SPID, session login etc like one can get thru SSMS; on the Azure Portal?

![image](https://user-images.githubusercontent.com/17693249/44114865-5ac854ba-9fda-11e8-97f7-7d1f2f78c4fc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0

[2018-08-14 19:57] femsulu commented on #13391
@trevor-schmidt Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-14 20:02] dmti-mark opened #13399 "Business Critical Storage"
When trying to create a vCore business critical pool, you are limited to 1TB of storage, not the 4TB as listed in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b154f4ad-6372-ac17-3084-1ff016073568
* Version Independent ID: 8c4a54f3-8db5-7839-3008-724beecc3888
* Content: [Azure SQL Database service - vCo

[2018-08-14 20:02] mrbullwinkle commented on #13310
@bhall7718 thanks again for bringing this to our attention. The docs have been updated internally. The change will go-live later today around 3:00-3:30 PM (UTC-7).

[2018-08-14 20:03] mrbullwinkle commented on #13310
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-08-14 20:06] millh0use commented on #9663
@chetansriv I went back to do some testing and removed the reply URL and things are working fine.  Maybe it was a transient issue that happened at the time we initially configured it.  Thanks for looking into it though!

[2018-08-14 20:06] vasivara-MSFT commented on #13310
@bhall7718 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 20:06] #13310 closed

[2018-08-14 20:10] jeevansd commented on #9663
@millh0use Thanks for the confirmation.

[2018-08-14 20:10] jeevansd commented on #9663
#please-close

[2018-08-14 20:28] MurrayFoxcroft commented on #13367
Sure, close it off, it just felt to like it should be included there for completeness. In mind mind I picture it as a source ("of credentials"). Like SQL is a data store, Key Vault is a credential store (a certain kind of data).

[2018-08-14 20:29] TravisCragg-MSFT commented on #13196
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-14 20:29] #13196 closed

[2018-08-14 20:33] #12021 closed

[2018-08-14 20:36] vasivara-MSFT commented on #13367
@MurrayFoxcroft If you take a closer look at the table columns, it describes whether a data source is supported as sink/source. Since key vault is not a data source/sink for ADF, it is not listed. I hope it make sense but we appreciate you for taking your time to leave us a feedback.

[2018-08-14 20:37] johndo88 opened #13400 "Automation account overview is not opening automatically"
[Hello,
I'm new to Azure so it's possible I'm missing something but here goes. I go to the topic "Create an Azure Automation account". I'm logged into the portal using a free 30-day account (v-johd@microsoft.com). Do know that this account will have expired by the time you read this.
I log into the Azure portal.
I click Create a resource.
Step 2 reads as "Select Monitoring + Management..." but tha

[2018-08-14 20:39] ericwol-msft commented on #12692
The "az" commands are CLI commands. I think the confusion here is that they are PowerShell cmdlets.

https://docs.microsoft.com/en-us/cli/azure/?view=azure-cli-latest

[2018-08-14 20:44] MohitGargMSFT commented on #13237
@xocolatl-aficionado If you were following the document, this line is missing in Step3.3. I will work on adding this line in the document. The code in the sample which we clone from GITHub need to be modified by following the document. Yes I was able to make my solution run by just adding this line and I followed same steps as stated in document. Thanks.

[2018-08-14 20:45] #13349 closed

[2018-08-14 20:46] Stech01 opened #13401 "certificate creation error"
hi, I ´ve following the steps to create certificates in my Azure Stack (integrated systems no SDK!!!) however the Get-AzureStackRootCert.ps1 command can´t find the Endpoint I fix it adding the IP and hostname to my hosts file.
Then I go forward to run the Create-AppServiceCerts.ps1 script  but It fails with errors as follows:

New-SelfSignedCertificate : Cannot bind parameter 'Signer' to the targe

[2018-08-14 20:48] MicahMcKittrick-MSFT commented on #13396
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 20:52] mike-urnun-msft commented on #12527
@rahulbagal Sorry for delay in response. I tested this today and think It's actually quite simple to do this:

![image](https://user-images.githubusercontent.com/36717703/44117835-425a3c4c-9fc9-11e8-80ed-924ddfcb760e.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-14 20:52] #12527 closed

[2018-08-14 21:06] iainfoulds commented on #13276
@MicahMcKittrick-MSFT I haven't experienced this behavior. The default node size should have sufficient resources to scale out and run the pods; there shouldn't be a need to scale the hosts first. I'd suggest getting Azure support to investigate this one further and get to the root issue.

[2018-08-14 21:06] keithpatton opened #13404 "link to other approaches to connect to Managed Instance"
"Since SQL Managed Instance is placed in your private Virtual Network, you need to create an Azure VM with some installed SQL client tool like SQL Server Management Studio or SQL Operations Studio to connect to the Managed Instance and execute queries."

This is only one approach, and obviously creates additional security issues and operational concerns. Perhaps link to other approaches such as po

[2018-08-14 21:13] twoqubits opened #13405 "Resource ID needs to be updated"
In #2, GetAccessTokenAsync uses "https://management.azure.com" as the Resource ID.  It should be "https://vault.azure.net" instead in accordance to https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/services-support-msi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a93ee241-6e6c-12c6-cb14

[2018-08-14 21:14] MikeChristensen commented on #13396
It does seem to work if you just omit the parameter completely, though it'll prompt you for a value on the command line:

[code]

[2018-08-14 21:15] MicahMcKittrick-MSFT commented on #13276
Thanks @iainfoulds

@lcanastreiro can you email me at AzCommunity@microsoft.com and provide me with your Subscription ID and link to this GitHub issue?

I can enable a support request for you.

[2018-08-14 21:36] rboucher commented on #12289
Sorry for the delay.  We are in the middle of a rewrite of this article.  We'll take your ask into consideration. @bwren for visibility.

[2018-08-14 21:41] sakthivetrivel commented on #12176
@abizake Hello! We added some details about interpreting the status on the docs. Let me know if you need anything else. Otherwise, we'll go ahead and close this issue.

[2018-08-14 21:42] syo commented on #13276
I can confirm having the same issue. After running everything as specified in the docs, the 4 new pods are all still pending 40 mins later. Worth noting that `kubectl describe pods` seems to imply it's an issue with the autoscaler?

[code]

[2018-08-14 21:45] ecfan commented on #13363
@divyaswarnkar Hi Divya, can you help answer? Thanks!

[2018-08-14 21:47] MicahMcKittrick-MSFT commented on #13276
Thanks for chiming in @syo

I am working offline to have this investigated. I will update this thread when I have more.

[2018-08-14 21:49] Karishma-Tiwari-MSFT commented on #13395
@rlisnoff Appreciate your feedback.
I have assigned the issue to the content author to evaluate and update the document as appropriate.

[2018-08-14 21:58] ggailey777 commented on #13253
This issue has been addressed in the linked commits: #please-close

[2018-08-14 22:07] microsoft-rin opened #13408 "The option of the az command to show iot hub connection string needs update"
Step 3 of https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-node#register-a-device

![image](https://user-images.githubusercontent.com/19398051/44121118-99017fec-9fd3-11e8-9233-1f119c84f9b2.png)

The option should be changed from "--hub-name" to "**--name**"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-08-14 22:10] Ayanmullick opened #13411 "Deploy thru VSC"
Is there documentation on how to deploy this thru the App service extension in Visual Studio Code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 705f9cf9-9bdd-c0e6-8170-062c62b6e12b
* Version Independent ID: 8de37e15-ccfb-e619-69b1-d8918dcb0b3e
* Content: [Run a custom Windows container in Azure (Preview)](https://doc

[2018-08-14 22:16] cephalin commented on #13373
@mike-urnun-msft sounds like a good suggestion to me to upgrade it. @johnpapa As I'm looking in the `az webapp runtime` output it actually shows 8.1 as the highest Node version for the Windows flavor and 10.1 as the highest version for the Linux flavor. Should we just upgrade the quickstarts for both flavors to 8.1, since both use the same sample?

[2018-08-14 22:30] TravisCragg-MSFT commented on #13389
@tilak92584 Thanks for the feedback! I believe the steps given are for Windows 10. The steps can be  different depending upon the operating system or software. If you need assistance in connecting using a 3rd party product, you will need to find instructions from that 3rd party.

[2018-08-14 22:33] #13253 closed

[2018-08-14 22:33] rwike77 commented on #9547
@smflorentino , @VHamar , @hukun01 Updated the formatting.  Hope that helps.  #please-close

[2018-08-14 22:35] #9547 closed

[2018-08-14 22:36] rolyon commented on #13120
Hi @dcbrown16
I've shortened the list of headings for built-in roles and operations:
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations

[2018-08-14 22:37] cephalin commented on #13386
@berndverst Thanks for catching! We actually do have an Azure-Samples repo here https://github.com/azure-samples/python-docs-hello-world. I just didn't update the documentation to reflect that.

[2018-08-14 22:41] akshaybabloo opened #13412 "Python oauth client"
Any recommended client for Python?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b787325-589c-b5f5-f530-7f1fe12e075e
* Version Independent ID: 6d678569-0ebe-f2ef-ecd7-69cc62b4b7be
* Content: [Azure Active Directory v2.0 authentication libraries](https://docs.microsoft.com/en-us/azure/active-directory/develop/referenc

[2018-08-14 22:44] vasivara-MSFT commented on #13355
@dcbrown16 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-14 22:48] scottzilla commented on #12644
Thanks!

[2018-08-14 22:48] kobulloc-MSFT commented on #11758
@vadim-berman _Requires Subscription_ is now shown in the documentation.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

![image](https://user-images.githubusercontent.com/37556655/44122537-3935a24a-9fd9-11e8-91cf-7b9b3c60ab88.png)

[2018-08-14 22:48] #11758 closed

[2018-08-14 22:48] lemmalogic commented on #13188
Thanks again!
I'm trying to use the Remote Monitoring dashboard:
https://docs.microsoft.com/en-us/azure/iot-accelerators/about-iot-accelerators

The graphs are using the received time on Python MQTT messages for plotting data.  Is there no way to override the created timestamp so the graphs display properly?  As I mentioned before, I tried the following, but it didn't work:
`devices/mydevice/messa

[2018-08-14 22:49] femsulu commented on #13155
@scarpentier Apologies for the delay. Is this still an issue? I was unable to repro this issue but will like to investigate this further from an AD authN perspective. Please send mail to AzCommunity@microsoft.com and include your subscription ID, including a url to this Github issue (for context) if you have any logs or correlation IDs to share, please include but remove any/all sensitive informat

[2018-08-14 22:51] femsulu commented on #13155
We will now close this issue. I will keep an eye out for your email to AzCommunity@microsoft.com

[2018-08-14 22:51] #13155 closed

[2018-08-14 22:53] tmaeller commented on #8409
Hi Chetan, we are going to try cornering our SSO engineer again tomorrow. She had already confirmed that https://sso.8x8.com/saml2 is the correct URL, but I want to make absolutely sure before anyone changes anything.

[2018-08-14 22:53] rboucher commented on #12289
Hi @markmassad .  We will incorporate your feedback as possible.

[2018-08-14 22:53] rboucher commented on #12289
#please-close

[2018-08-14 22:57] BryanTrach-MSFT commented on #13333
@OMARJG We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-14 22:57] #13333 closed

[2018-08-14 22:58] Ayanmullick opened #13413 "Access thru privately peered Express Route"
This creates a private endpoint for an Azure Storage account thru URL redirection. But this doesn't help an enterprise that has a privately peered Express Route. Will adding the storage account with a custom domain with a vNet that is connected to a privately peered Express route enable access for a privately-addressed on-prem machine? Is there a way to assign a private IP to an Azure Storage acco

[2018-08-14 23:00] Alberto-Vega-MSFT commented on #13408
@microsoft-rin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 23:02] #13256 closed

[2018-08-14 23:04] Alberto-Vega-MSFT commented on #13369
@bastyuchenko Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 23:06] Alberto-Vega-MSFT commented on #13399
@dmti-mark  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 23:08] rwike77 commented on #13396
@MikeChristensen  Are you running the az commands in a PowerShell console window?  The commands should run fine in Cloud Shell or a bash window, but I think the PowerShell console handles the parameters and escape characters differently.  Also, thanks for pointing out the typo.

[2018-08-14 23:08] Alberto-Vega-MSFT commented on #13398
@Ayanmullick  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 23:08] miaojiang commented on #11541
Having the same question as @mrdfuse

[2018-08-14 23:09] TravisCragg-MSFT commented on #13401
@Stech01 You should be able to resolve the AzS-ERCS01 value through the domain without adding it to the hosts.txt file. did you name your PriviledgedEndpoint something besides AzS-ERCS01?

[2018-08-14 23:10] TravisCragg-MSFT commented on #13377
@MaWa19 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-14 23:11] TravisCragg-MSFT commented on #13384
@JanelChumley Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-14 23:12] Alberto-Vega-MSFT commented on #13404
@keithpatton  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-14 23:17] MicahMcKittrick-MSFT commented on #13396
Thanks @rwike77

I ran through this doc and it works as written when running in Azure Cloud Shell or my local CLI instance.

@MikeChristensen as Ryan mentioned if you are using PowerShell then it makes sense you are seeing an error. Else, I would suggest you make sure you are running the latest version of Azure CLI.

The version I am running and confirmed it works in is azure-cli (2.0.44)

[2018-08-14 23:17] Alberto-Vega-MSFT commented on #13287
@andyce1010 if you don't have a Support plan, email AzCommunity@microsoft.com, and we will enable a one-time Support ticket for you. Please remember to include your Subscription ID, and a link to this issue.

[2018-08-14 23:18] #13287 closed

[2018-08-14 23:25] CarlRabeler commented on #13399
@Alberto-Vega-MSFT please assign to anosov1960

[2018-08-14 23:26] TravisCragg-MSFT commented on #12694
@Noambi I have confirmed the functionality, and the error I got Matched yours. M series can have accelerated networking, but only starting at 64 cores.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-14 23:33] dcbrown16 commented on #13120
I'm not sure what causes the scrollbar on the body, I'll keep an eye on it. It's not a major issue either way.

I definitely appreciate the effort to clean up the scrolling behavior on the other pages, but I would personally say this reduces the functionality for me. On the ProDirect team we frequently need to find specific items on these pages, and it was nice to use the header list to see the va

[2018-08-14 23:36] MikeChristensen commented on #13396
Ok makes sense.  I'd imagine 90% of people are using PowerShell for this since it's the default shell on shell.azure.com and what most people use on Windows, so perhaps the documentation should have the PowerShell equivalent for these commands.  Or at least point out that the commands need to be run in bash or cmd.exe.  Thanks!

[2018-08-14 23:46] MicahMcKittrick-MSFT commented on #13396
Thanks for confirm Mike.

We do have it stated to use Cloud Shell or Azure CLI

![image](https://user-images.githubusercontent.com/32313503/44124316-77bfab98-9fe1-11e8-8d25-72fc01d792d8.png)

Does this seem confusing and something you believe we should reword?

[2018-08-14 23:53] cconrado opened #13414 "Missing the logs preview button"
The new logs blade was released in preview needs to be mentioned in the docs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00b54f98-6658-bb75-95ef-b59c0d2f0b53
* Version Independent ID: 77255f55-d82b-9905-9dbe-b6c487d559be
* Content: [What is Azure Log Analytics?](https://docs.microsoft.com/en-us/azure/log-analytics/l

[2018-08-14 23:59] femsulu commented on #13239
@msvijayn - this is related to similar issue that was filed a few weeks back (#5695). can you please take a peek and comment as appropriate?

[2018-08-15 00:05] MikeChristensen commented on #13396
I'm not super familiar with the terms for various ways to access Azure.  I've always used the PowerShell cmdlets, or the Azure portal (web interface) to do most of my work.  So, this is the first time I've used the Azure CLI.  I did click the "instructions" link above, which goes to a page where you can install the Azure CLI 2.0.  Upon doing so, it says to type "ad" from either PowerShell or comma

[2018-08-15 00:08] evshieh-msft opened #13415 "Create Clusters Documentation out of Date"
The call to AcquireToken on AuthenticationContext fails because the method no longer exists (currently only async methods are used). Please provide an updated example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b514277-7dac-f36e-433a-ae0aa424f595
* Version Independent ID: 756b31ac-3f75-3054-4ed3-fb347770c197
* Cont

[2018-08-15 00:14] sergioeliot2039 commented on #6327
Hi there.
I notice in the section with the PowerShell command to enable storage of diagnostic logs in a storage account might be addressing only resource logs, because they take the resourceId as parameter. What about Tenant logs? Can someone point to the URL with the documentation for this?
Thanks,
Sergio

[2018-08-15 00:29] ranarah opened #13416 "Re-Configure IR Self Hosted"
I can't find option to re-configure IR Self-hosted.
Can you please advice how can I reconfigure IR so It linked to Data factory recourse created for the day.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a34b3c-a9b8-29ce-1eca-86f7f42981a1
* Version Independent ID: 61d6e6b3-ec54-552d-1bef-86bbcbfea8ff
* Content: [Int

[2018-08-15 00:40] sergioeliot2039 opened #13417 "Information for logging Diagnostics logs of tenant logs type missing"
Hi there.
I notice in the section with the PowerShell command to enable storage of diagnostic logs in a storage account might be addressing only resource logs, because they take the resourceId as parameter. What about Tenant logs? Can someone point to the URL with the documentation for this?
My thought is that there should be a link for further documentation on logging Tenant Logs, but for now if