[2021-09-22 16:55] seligj95 commented on #67835
https://github.com/MicrosoftDocs/azure-docs-pr/pull/173194

[2021-09-22 16:55] vakuncha commented on #81425
@psmanhas  sorry for reporting wrong issue.
We found that our process is not waiting for enough time for the extension to get the certificate and put it in the directory.
No issue on the extension side.

[2021-09-22 16:55] #81425 closed

[2021-09-22 16:56] seligj95 commented on #67835
#assign: @seligj95

[2021-09-22 16:57] seligj95 commented on #67835
#unassign: @ccompy

[2021-09-22 16:58] seligj95 commented on #67835
https://github.com/MicrosoftDocs/azure-docs-pr/pull/173194

[2021-09-22 17:01] seligj95 commented on #59495
#assign: @seligj95

[2021-09-22 17:03] seligj95 commented on #59495
#173194

[2021-09-22 17:28] baanders commented on #81318
Hi @jpocloud, thank you for flagging this! The product team has confirmed this update and I have made the change in the document ([link](https://docs.microsoft.com/azure/digital-twins/how-to-integrate-maps#create-a-function-to-update-maps)).

I'll now proceed to close this issue, but feel free to continue the conversation if you have additional questions or comments. Thanks!

#please-close

[2021-09-22 17:28] #81318 closed

[2021-09-22 17:30] BryanTrach-MSFT commented on #81381
@motoyugota Thank you for the update. We have assigned the issue to an engineer who is trained on this product.

[2021-09-22 17:30] ufcurmcginty commented on #81342
I found the required parameters here: https://github.com/kubernetes/ingress-nginx/issues/6100

controller.ingressClassResource.name

So the command is:
helm install ingress-web-test ingress-nginx/ingress-nginx -n test --set controller.replicaCount=1 --set controller.nodeSelector."kubernetes\.io/os"=linux --set defaultBackend.nodeSelector."kubernetes\.io/os"=linux --set controller.service.loadBalan

[2021-09-22 17:31] #81342 closed

[2021-09-22 17:35] DerekHerman-MSFT commented on #81434
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-22 17:41] mksuni commented on #80541
@Nimleth  99.99% is the service level agreement for MariaDB service in Azure. This is commitment from the service to provide customers availability of 99.99% for their MariaDB servers.  Currently MariaDB service does not support availability zones . If  your database is compatible with MySQL and you are interested in availability zones , you can try MySQL Flexible server instead https://docs.micro

[2021-09-22 17:42] spelluru commented on #81129
Updated the article.
#please-close

[2021-09-22 17:42] #81129 closed

[2021-09-22 17:45] saachigopal commented on #81181
Thank you for letting us know, this will be removed shortly. Docker is enabled by default for remote runs but may need to be configured through the run configuration for local runs.

[2021-09-22 17:50] Nimleth commented on #80541
Thank you very much.

Kind regards
Dennis

[2021-09-22 17:59] dmitry-pavlov opened #81436 "Getting access tokens silently in the background (doesn't seem to work as documented)"
This tip doesn't work:

![image](https://user-images.githubusercontent.com/1560778/134396016-e0232ff6-d8b6-4e41-ad7c-882437910870.png)

When I use this URL (with adjusted return URL and {your-username} of course) - I am getting redirected to:

`https://login.microsoftonline.com/common/oauth2/v2.0/undefined`

instead of something like that:

`https://localhost/myapp/#code=0.AgAAktYV-sfpYESnQynylW_U

[2021-09-22 18:01] S-Lovell commented on #81402
@tamram Assuming that the reader has not read the other documentation and may never read the other documentation, when discussing a subject as obscure (to the average person) as this one, a brief, concrete example to complement the high-level, abstract (even kind of hand-wavey?) description might be helpful. Just my .02.

[2021-09-22 18:03] JamesTran-MSFT commented on #81436
@dmitry-pavlov
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-22 18:07] Leonardo-Ferreira commented on #81000
@PramodValavala-MSFT tks for the input on again.

im think to myself here "that's gotta be wrong" because if you are correct, that means that AT EVERY subscription (and consequently de-subscription) I would have to republish the API updating the list of audiences since each client app on AAD would be a audience... that list can be really really big!!!

[2021-09-22 18:11] hpsin commented on #81436
Hm, @dmitry-pavlov , can you provide your updated url? This works for me still. If you can take a look atthe HTTP traces and pull out the x-correlation-id or request ID from the response, as well as the timestamp, that will also help us

[2021-09-22 18:17] PatrickFarley commented on #81147
@FaizulHussain looks like you're correct. I've updated the code sample

[2021-09-22 18:17] PatrickFarley commented on #81147
#please-close

[2021-09-22 18:20] PatrickFarley commented on #80749
The training_key is your subscription key for the training resource (either 1 or 2)
the prediction_key is your subscription key for the prediction resource (either 1 or 2)
I'll try to make this clearer in the docs
#please-close

[2021-09-22 18:20] #80749 closed

[2021-09-22 18:21] KrishnaG-MSFT commented on #81047
Assigning to document owner @keferna for visibility, review and document enhancement consideration as appropriate.

[2021-09-22 18:28] varshhub opened #81437 "Can we add Scaling on Running clusters using ARM Template?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0491ca3-f30d-d291-47c2-1d4bd31eab69
* Version Independent ID: 27c7faf1-21d0-ba09-8987-ca4125481d7c
* Content: [Automatically scale Azure HDInsight clusters](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-autoscale-clusters)
* Content Sour

[2021-09-22 18:30] miwithro commented on #80920
@zr-msft @mlearned

[2021-09-22 18:32] JasonWHowell commented on #81437
Hi @varshhub

Check these two ARM templates to see if they help:
https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.hdinsight/hdinsight-autoscale-loadbased
https://github.com/Azure/azure-quickstart-templates/tree/master/quickstarts/microsoft.hdinsight/hdinsight-autoscale-schedulebased

Thanks, Jason

[2021-09-22 18:34] JasonWHowell commented on #81437
I'm not sure if it can be added on running clusters.

[2021-09-22 18:51] #76919 closed

[2021-09-22 18:52] JamesTran-MSFT commented on #81372
@keithmweaver
Thank you for the quick follow up on this! Can you please email me with the info below, I'll go ahead and enable a one-time free technical support request for your subscription so you can work with our support engineers to get this issue resolved.

Email: AzCommunity@microsoft.com
Subject: ATTN - James Tran
Body:
[Azure Subscription ID](https://wmatthyssen.com/2019/09/06/azure-tip-ho

[2021-09-22 18:52] #81372 closed

[2021-09-22 19:08] lunar87 opened #81439 "default fault domain doesn't seem correct"
[Enter feedback here]
in the first paragraph
Virtual machine scale sets are created with five fault domains by default in Azure regions with no zones. For the regions that support zonal deployment of virtual machine scale sets and this option is selected, the default value of the fault domain count is 1 for each of the zones. FD=1 in this case implies that the VM instances belonging to the scale s

[2021-09-22 19:36] cstainie opened #81441 "GA Date - Managed VNET"
Dear,

can you share the planned GA date for this feature? Seems like the preview is already running for more than 1 year, and managed vnet capabilities are enabled in GA for other services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b7d5707-9f14-db2b-00fb-5edd7bbcd06f
* Version Independent ID: 2a0f8297-bdf7-3056-

[2021-09-22 19:46] bwren commented on #81024
Just created a work item to get that added.

#please-close

[2021-09-22 19:46] #81024 closed

[2021-09-22 19:56] hpsin commented on #81436
And clicking this link on your computer results in an /undefined page being visited?

The application ID is disabled, and we'll be updating the doc to remove the appid, but clicking it doesn't take me to an /undefined page.
________________________________
From: Dmitry Pavlov (aka Coding Machine) ***@***.***>
Sent: Wednesday, September 22, 2021 11:45:33 AM
To: MicrosoftDocs/azure-docs ***@***.***>

[2021-09-22 20:01] MWL88 opened #81442 "The scope for disasterRecoveryConfigs in Microsoft.EventHub is not correct"
The specified scope of uniqueness for the name of the Microsoft.EventHub `namespaces/disasterRecoveryConfigs` resource is not correct.

Based on my experiments deploying the `namespaces/disasterRecoveryConfigs` resource (and the documentation for the Microsoft.ServiceBus `namespaces/disasterRecoveryConfigs` resource) I believe the scope should be `global`.

---
#### Document Details

⚠ *Do not edi

[2021-09-22 20:20] kobulloc-MSFT commented on #81172
@fuglede Thank you again for bringing this to our attention!  I'm going to follow up with the PG and likely @sajayantony to make sure that this gets addressed on the product side of things.

We are going to close this GitHub issue but if you have any additional concerns regarding this issue, please tag me in your reply and we'd be happy to continue the conversation.

[2021-09-22 20:20] #81172 closed

[2021-09-22 20:30] ramious76 commented on #81182
@MarileeTurscak-MSFT
Ooops. Did the wrong link. It was the "Azure Firewall Documentation" that has the url https://docs.microsoft.com/en-us/azure/firewall/index.yml. I am guessing it should be https://docs.microsoft.com/en-us/azure/firewall/

[2021-09-22 20:34] ramious76 commented on #81182
@MarileeTurscak-MSFT

Too many shinys.  Pointed to the wrong link.  Under the "NS-4: Protect applications and services from external network attacks" the link titled "Azure Firewall Documentation" is bad. It goes to https://docs.microsoft.com/en-us/azure/firewall/index.yml and I think its supposed to be https://docs.microsoft.com/en-us/azure/firewall/.

Sorry about the mix up.

[2021-09-22 20:37] dmitry-pavlov commented on #81436
What does it take you to @hpsin ?

As a suggestion for the documentation fix, I guess the exact `client_id` could be replaced with some placeholder like one used for `login_hint`.

[2021-09-22 20:44] varshhub commented on #81437
Thanks we will look into adding the schedule via Rest

[2021-09-22 20:44] #81437 closed

[2021-09-22 20:46] julieMSFT commented on #81405
#assign:mlee3gsd

[2021-09-22 20:47] julieMSFT commented on #79802
#assign:mlee3gsd

[2021-09-22 20:47] julieMSFT commented on #80544
#assign:mlee3gsd

[2021-09-22 20:57] hpsin commented on #81436
It takes me to an error page that says the app is disabled.  And yep, that's the plan.  Just unfortunate that it won't be single click any longer, to show that it just works.

From: Dmitry Pavlov (aka Coding Machine) ***@***.***>
Sent: Wednesday, September 22, 2021 1:38 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Hirsch Singhal ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/az

[2021-09-22 21:04] Microsoft-Hardee opened #81445 "aka.ms/MFAValid redirect invalid."
[Enter feedback here]

Under 'remediation actions' is a URL for aka.ms/MFAValid which does not exist or properly redirect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d5a2a45-237a-2809-0afc-58ba969d2c63
* Version Independent ID: e41e55c9-6361-425f-28a5-e1a1603c2642
* Content: [Users flagged for risk in the Azure Ac

[2021-09-22 21:07] JamesTran-MSFT commented on #81445
@Microsoft-Hardee
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-22 21:14] JamesTran-MSFT commented on #81436
@hpsin
I reproduced what @dmitry-pavlov is experiencing.

I copied the Tip URL and just updated the login_hint value:
![image](https://user-images.githubusercontent.com/36619112/134422486-77b39057-c07c-439b-a33a-77455f4a10b0.png)

I'll assign this to you to update the documentation as needed.
Thank you!

[2021-09-22 21:18] JamesTran-MSFT commented on #81445
@Microsoft-Hardee
Thanks for your pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/134423369-97bf51c3-e750-4bbc-ae98-df76cdadcfb4.png)

[2021-09-22 21:26] SatishBoddu-MSFT commented on #81290
Hello @AndyRiv could you please suggest in this matter if you have any information on the above questions?

[2021-09-22 21:32] RyanHill-MSFT commented on #81333
@zamgill, while Web Jobs is still supported, general focus has shifted to [Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-overview) which does have code samples for various frameworks. Since that focus has shifted, adding coding samples for Web Jobs is highly unlikely. Having said that, https://github.com/projectkudu/kudu/wiki/WebJobs is another resource you can

[2021-09-22 21:32] #81333 closed

[2021-09-22 21:32] fruitychocolate commented on #22430
I Too am awaiting the information stream to be added. As Write-Output always adds stuff to SDOUT stream which is always filled by many functions.

[2021-09-22 21:33] julieMSFT commented on #80708
#reassign:alexshinmsft

[2021-09-22 21:33] PRMerger10 commented on #80708
alexshinmsft is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-09-22 21:41] aalee opened #81447 "weekofyear"
[Enter feedback here]

In the excel example, say weekofyear 15, but i think the correct is 20, or the example is wrong

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b388152-5d9d-bfb9-1dd3-168b4877ac5a
* Version Independent ID: 901abe21-41fd-c208-6301-9cc45acf0e4f
* Content: [Long-term backup retention - Azure SQL Dat

[2021-09-22 21:55] DerekHerman-MSFT commented on #81386
@softwarecraft Thanks for the suggestion. I have made a PR to update the documentation and it should go live later today.

[2021-09-22 21:55] #81386 closed

[2021-09-22 21:55] bplasmeijer opened #81448 "Helm chart command removed from helm 3.7 cli, update page to reflect on helm cli 3.7 release"
The helm **chart** command removed from helm CLI [release 3.7](https://github.com/helm/helm/releases/tag/v3.7.0)

To push a helm chart to ACR:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c4be11-ec02-7160-e65b-2218bfd70f68
* Version Independent ID: 19e08339-390f-ccfa-885c-2643722bd186
* Content: [Store Helm c

[2021-09-22 21:57] jeastburn opened #81449 "File-based config of Authentication does not work as documented"
It seems like there are some steps missing or inaccurate information in this documentation.
As a starting point, I am trying to configure with an auth.json file so it works exactly the same as the Azure Portal-based Authentication. Once I get that working, I plan to add `excludedPaths` to my configuration.

Here are the contents of my `auth.json` file that is included in the root of my Azure Funct

[2021-09-22 22:00] Marusyk opened #81450 "The method WaitForDeviceStreamRequestAsync doesn't exists"
It is a very useful feature, I'm going to try it in my code.
I found the example [here](https://github.com/Azure-Samples/azure-iot-samples-csharp/tree/master/iot-hub/Quickstarts/device-streams-proxy). It says that I should call `WaitForDeviceStreamRequestAsync` like
[code]
but the method doesn't exist in the **Microsoft.Azure.Devices.Client 1.38.0-preview-001**
Could you please suggest what packag

[2021-09-22 22:14] jpocloud commented on #81318
Awesome, thanks @baanders !

[2021-09-22 22:26] jhurdlow opened #81452 "Automatic setup skips critical option to work around VS2019 tooling bug"
At the bottom of the article there is a note about not using the Secret store (with VS2019 and Full .NET Framework apps), and notes that the instructions on the page avoid the use of the secret store to avoid this bug. However, if you just follow the instructions for the automatic setup (using the wizard/tooling), it does not note that you need to make sure and select the option to NOT use the sec

[2021-09-22 22:34] SatishBoddu-MSFT commented on #81105
 #

[2021-09-22 22:44] Nicholak-MS commented on #60395
Hi Peter,

OK I believe I have this resolved now. Can you try this download and see if it works in the way you expect? should be semi-colon delimited now.

download.microsoft.com/download/e/3/e/e3e9faf2-f28b-490a-9ada-c6089a1fc5b0/Product names and service plan identifiers for licensing v9_22_2021.csv

Thanks,
Nick

[2021-09-22 22:52] TerryLanfear commented on #81287
@NestoriSyynimaa - Thanks for your feedback. The image correction is now live.

[2021-09-22 22:56] EnricoBeltramo commented on #81428
In ST official site there is a tutorial how integrate Azure IO edge on stm32m1 on openstlinux, so I supposed was compatible:
https://wiki.st.com/stm32mpu/wiki/How_to_integrate_Azure_IoT_Edge_on_OpenSTLinux
unfortunately the release provided looks to be only IoTEdge 1.1.

Despite the errors and the warning, the image distibution works well, I'm only worried about possible production issues. That er

[2021-09-22 23:02] SaurabhSharma-MSFT commented on #81441
@cstainie Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-22 23:05] SaurabhSharma-MSFT commented on #81447
@aalee Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-22 23:16] Karishma-Tiwari-MSFT commented on #81448
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-22 23:18] Karishma-Tiwari-MSFT commented on #81439
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-22 23:18] TheBlackMini commented on #55247
According to this page, yes they did.
[New Features](https://azure.microsoft.com/en-au/updates/shared-image-gallery-nov2020-features/)

Dead link to page
https://docs.microsoft.com/en-us/azure/virtual-machines/image-version-another-gallery-powershell

[2021-09-22 23:25] xiao-lix commented on #80282
Looks like a document outdated issue, updated to match github doc sample : https://github.com/microsoft/ApplicationInsights-JS#example-using-the-snippet-oninit-callback

[2021-09-22 23:33] Mansoormahfoud opened #81455 "Please update for "nested edge" modules"
Now that the nested edge is released, how does this info apply to edge modules running on a nested edge? For example, Direct Method call, does it work (can we use it to call an edge module running on a nested edge)? Same for Module Twin, etc. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58ad27ec-834c-d85d-79f

[2021-09-22 23:42] SamaraSoucy-MSFT commented on #81198
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-09-22 23:44] SamaraSoucy-MSFT commented on #81315
I'm going to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-09-22 23:44] #81315 closed

[2021-09-22 23:51] hpsin commented on #81436
Hey all, we've tracked this down to a bug in Azure AD related to a temporary issue and federated accounts.  We are working to fix this.

[2021-09-23 00:05] lgayhardt commented on #80282
Thanks @xiao-lix for updating the doc!

@lvmajor Thank you for pointing this issue out, the doc change should go live tomorrow morning. Let us know if you have any additional questions.

#please-close

[2021-09-23 00:05] #80282 closed

[2021-09-23 00:58] DebashishSarkar opened #81456 "General Purpose (Gen5) Zone Redundancy SLA"
I noticed Zone Redundancy High Availability architecture is available in GP_Gen5 databases too. Although it is not mentioned in service tiers table. What is the SLA for it?

![image](https://user-images.githubusercontent.com/6063546/134440701-4197b518-df47-4634-9bf1-fac2377ef4b6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-09-23 01:15] mpowrie commented on #81349
Hi @HarshitaSingh-MSFT, yes - I'm referring to the whole script in section Appendix CSAnalyzer not being able to be run from Powershell 5.1
See screenshot:
![image](https://user-images.githubusercontent.com/323814/134441712-dc5aa169-f34d-4d96-b5ff-b8208f43a310.png)

[2021-09-23 01:27] MonikaReddy-MSFT commented on #81452
@jhurdlow -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-23 01:31] MonikaReddy-MSFT commented on #81442
@MWL88 - Thanks again for bringing this to our attention. Looks like you have already raised the PR and it will be live once its approved and merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-23 01:31] #81442 closed

[2021-09-23 02:29] twooley commented on #78984
Hello. Just an update that information about Visual Studio and Visual Studio Code have been added to the article. Thanks!

#please-close

[2021-09-23 02:29] #78984 closed

[2021-09-23 02:34] SnehaAgrawal-MSFT commented on #81449
@jeastburn Thank you for your query . We will investigate and update the thread.

[2021-09-23 02:35] VikasPullagura-MSFT commented on #81339
@sakurai8888 I am reaching out to internal team to get some details on this.

[2021-09-23 02:42] VikasPullagura-MSFT commented on #81373
@mbiver As discussed internally I am summarizing here for benefit of community.

autoUpgradeMinorVersion is a separate and independent feature, this feature does not automatically update extensions after deployment. You can check more details on this [here](https://docs.microsoft.com/en-us/rest/api/compute/virtual-machine-extensions/create-or-update#request-body).

Currently enabling automatic upg

[2021-09-23 02:42] #81373 closed

[2021-09-23 03:05] VikasPullagura-MSFT commented on #81406
@ToruMakabe Just wanted to share some information regarding raising feedbacks on other language documents. You can provide the feedback to DevRel localization team as documented [here](https://review.docs.microsoft.com/en-us/help/contribute/localization-feedback-to-loc-content?branch=master).

I have submitted feedback to the team for getting the document updated. The document will be updated soon

[2021-09-23 03:05] #81406 closed

[2021-09-23 03:13] SatishBoddu-MSFT commented on #81450
Hello @Marusyk
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-23 03:13] SatishBoddu-MSFT commented on #81450
#

[2021-09-23 03:13] VikasPullagura-MSFT commented on #81336
@wokket I got an update from internal ACI team that VNET feature in Australia Southeast is temporarily suspended.
This feature is expected to be enabled back for all customers within the next 2 months.

[2021-09-23 03:13] VikasPullagura-MSFT commented on #81336
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-09-23 03:13] #81336 closed

[2021-09-23 03:15] SatishBoddu-MSFT commented on #81455
Hello @Mansoormahfoud I have assigned the issue to the content author for further review.

[2021-09-23 03:31] micktion opened #81458 "Is this screenshot actually feasible any more?"
I'd like to see a video of how you would produce the dashboard pictured on this page...

https://docs.microsoft.com/en-us/azure/azure-monitor/media/visualizations/dashboard.png

This actually looks like a screenshot of a dashboard using widgets that are no longer available.  In particular the widget in the lower left hand corner featuring several analytics chart in a compact form, I'm pretty sure

[2021-09-23 03:58] GitaraniSharma-MSFT commented on #81295
@genlin , could you please assign this to the PG for doc correction & providing an answer to the query asked?

[2021-09-23 04:06] BhargaviAnnadevara-MSFT commented on #81256
@miisc We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-09-23 04:06] #81256 closed

[2021-09-23 04:07] BhargaviAnnadevara-MSFT commented on #81413
@jdelforno Are there any further updates here?

[2021-09-23 04:42] ram-msft commented on #81320
Thanks, @laujan Could you please review the Single article as TOC node for  [language identification](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-identification?pivots=programming-language-csharp).

[2021-09-23 04:46] SrijitBose-MSFT commented on #81280
@thxmike, is there any update on this?

[2021-09-23 04:47] v-amallick commented on #80907
Hi @MrVhek,

Sorry for the delay in response. Please refer to the updated document below and let us know if this helps.

- https://docs.microsoft.com/en-us/azure/backup/backup-azure-database-postgresql-overview
- https://docs.microsoft.com/en-us/azure/backup/backup-azure-database-postgresql
- https://docs.microsoft.com/en-us/azure/backup/manage-azure-database-postgresql
- https://docs.microsoft.co

[2021-09-23 05:10] thxmike commented on #81280
I was able to apply the fix outlined in the following document

https://github.com/MicrosoftDocs/azure-docs/issues/80321

and it worked fine.

Thanks

On Thu, Sep 23, 2021 at 12:46 AM Srijit Bose ***@***.***>
wrote:

--
Michael Rivera
MCSE, MCDBA, BSSWE

[2021-09-23 05:14] GiftA-MSFT commented on #81220
@johnwu0604 can you please review above feedback before updating the document? Thanks.

[2021-09-23 05:19] SaiKishor-MSFT commented on #81161
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-23 05:19] #81161 closed

[2021-09-23 05:27] AnuragSharma-MSFT commented on #81456
@DebashishSarkar Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-23 05:48] LadyJaz commented on #29351
@Karishma-Tiwari-MSFT  Hi, I have the same problem and the link you provided is empty. Could you please suggest a new resource?
Best
Jasmine

[2021-09-23 06:02] roopesuomalainen commented on #62877
I tried tens of times and it didn't worked. Then I gave the required MPN permissions to one of our developers. She tried it once and it went through.

[2021-09-23 06:09] vincent-yeah commented on #65655
Hi,
I have a same issue if I try to create new KeyVault backed secret scope in Databricks with SPN,
I Login to Azure with SPN credentials, geterate bearer and managment Tokens and user REST API tocreate KeyVault backed secret scope.
Spn has allowed API permissions, granted consent and owner role in Databricks and KeyVault.
But thats error
{
  "error_code": "CUSTOMER_UNAUTHORIZED",
  "message": "Un

[2021-09-23 06:21] SadiqhAhmed-MSFT commented on #81429
@PaulShay66 #10 in our documentation is a guidance elaborating that source VMs will not be deleted explicitly and customers should manually delete it if needed.

Re-protection requires source VM to be present. This is applicable for both A2A and V2A scenarios. Without the source VM, delta replication would not be successful.

This behavior seems as expected.

Hope this clarifies!

[2021-09-23 06:23] anvar-ms opened #81460 "Azure Migrate isn't a tool to convert VMDK and upload it on Azure"
Anmol, here from Azure Migrate PM team. The document calls out the following, "If you have a Windows VM image in the VMDK file format, then you can use Azure Migrate to convert the VMDK and upload it to Azure."

Customers believe that Azure Migrate can be used as a tool to convert their on-prem VMDK images and then upload them to Azure. However, Azure Migrate is a lift-and-shift server migration t

[2021-09-23 06:36] sams976 commented on #61497
Hi - Is there an update to this issue? Its been over a year since this was reported

[2021-09-23 06:39] TimoWilhelm opened #81461 "How to deploy multi-origin endpoint with ARM templates"
Could you please explain, how to deploy a CDN endpoint with multi-origin support using ARM/Bicep templates?

When configuring the endpoint in the Azure Portal and trying to export the template, it shows a lot of circular dependencies, since the origin groups depend on the endpoint and the endpoint depends on the origin group (for the `defaultOriginGroup` property or the `OriginGroupOverride` rule

[2021-09-23 06:45] munir94 commented on #81416
may i know which value are u refering too ?

[2021-09-23 06:46] ThaMc commented on #60395
Well done, good Sir.

Cheers, Peter

From: Nicholak-MS ***@***.***>
Sent: Thursday, 23 September 2021 00:45
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Peter McBride ***@***.***>; Mention
***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Service Plans and Friendly Namens
needed as csv or similar (#60395)

[Email from a non-Nagarro source: please exercise caution with links and
attachments]

H

[2021-09-23 07:06] GitaraniSharma-MSFT commented on #81461
@TimoWilhelm , thank you for your query. We'll investigate on this and get back to you shortly!

[2021-09-23 07:08] psmanhas commented on #81460
@anvar-ms Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-09-23 07:08] psmanhas commented on #81460
@genlin Can you please check and add your comments on this doc update request as applicable

[2021-09-23 07:08] d3s3rtf0x opened #81464 "Needs Update on the powershell examples"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d78cf71-d050-1d54-6048-7e92ea98084d
* Version Independent ID: 16675bf7-077e-0394-c578-8bcc0226ec0b
* Content: [How to work with your management groups - Azure Governance - Azure governance](https://docs.microsoft.com/en-us/azure/governance/management

[2021-09-23 07:18] AnuragSharma-MSFT commented on #81400
@avijit-mukherjee90 Thank you for the feedback. This has been corrected in the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-23 07:18] #81400 closed

[2021-09-23 07:28] AnuragSharma-MSFT commented on #81423
@vitoc Thanks for reporting this. We have created a PR. This PR could take few days to get approved and will then be live in this document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-23 07:41] KrishnaG-MSFT commented on #81464
@d3s3rtf0x I will review all the powershell examples and update them as appropriate. Can you help me by telling me which powershell examples you think needs an update?

[2021-09-23 07:43] KrishnaG-MSFT commented on #81458
@micktion Thanks for the feedback.
Assigning @rboucher for visibility, review and document enhancement consideration as appropriate.

[2021-09-23 08:02] d3s3rtf0x commented on #81464
AzManagementGroup Applets seem to be undergoing a change to move from -GroupName to -GroupId (this can be seen when running them).

On top of this, the GroupName I am using seems to include invalid characters. If the GroupName param is actually referring to the GroupId this should be included in the documentation anyways.

<img width="1903" alt="image" src="https://user-images.githubusercontent.co

[2021-09-23 08:27] amanmcse commented on #81269
closing out due to inactivity.

[2021-09-23 08:27] #81269 closed

[2021-09-23 08:31] serjdag commented on #78467
Than you @GennadNY , that works!

[2021-09-23 08:46] KrishnaG-MSFT opened #81465 "Official guidelines around the use of single Vs multiple Storage Accounts for logging purposes"
Can you please add a section under "Destination requirements" section with the official guidelines around the use of single Vs multiple Storage Accounts for logging purposes (Diagnostics Logs for various resources). i.e., what are some of the factors to consider (and pros / cons) when planning Storage Account(s) to store diagnostics logs?, etc.

There should be more guidelines beyond storage accou

[2021-09-23 09:32] TheIdentityHub opened #81466 "App Services: Required openid scope not added to OpenId Authentication Request (OpenId Connect Authentication Provider)"
App Services: The OpenId Connect Provider does not add the required openid scope (per specification https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest).

In the following assembly
// Microsoft.Azure.AppService.Middleware.Modules.dll
// Microsoft.Azure.AppService.Middleware.Modules, Version=1.4.9.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35

Class "Microsoft.Azure.AppService.M

[2021-09-23 09:40] shboulatom83 commented on #34965
Just to update with information, the TimeStampField should refer to a data object within the json body; so its value can be used to override the TimeGenerated;

In our documentation (https://docs.microsoft.com/en-us/azure/azure-monitor/logs/data-collector-api); it states the TimeGenerated as below:
**The name of a field** in the data that contains the timestamp of the data item. If you specify a f

[2021-09-23 10:21] pheeling opened #81469 "Group Management in My Apps"
Hi

When will group management be available the new https://myapps.microsoft.com/ experience?

Thanks for feedback.

Best regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee217532-6b64-61f7-d965-bc95d9198cdb
* Version Independent ID: f6bab9a9-1b8b-01db-6e42-045eb04efe9e
* Content: [Set expiration for Microsoft 36

[2021-09-23 10:22] GiriB opened #81470 "Does KeyVault create a new version for renewed certificates"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adde7541-5e77-17e0-5f7d-9690215b2064
* Version Independent ID: 5888b1c0-7685-028e-7168-2a3bcdbdd514
* Content: [About Azure Key Vault certificate renewal](https://docs.microsoft.com/en-us/azure/key-vault/certificates/overview-renew-certificate)
* Cont

[2021-09-23 10:26] GiriB opened #81471 "Does KeyVault create a new version for renewed certificates?"
Whenever certificates auto-renewal is configure, will KeyVault
1. Replace the expiring cert with the new cert
2. Does it create a new secret version (with a new KeyVault identifier)?

The docs should mention **what** happens **on** the day of cert renewal. If it's point 2 - then users needs to re-deploy there apps with new secret identifier Ids in their app configs. If it's point 1. then no update

[2021-09-23 10:27] chiraggowda commented on #55378
@nihaozh : how you fixed this issue?

[2021-09-23 11:03] vipulsparsh commented on #81337
@benhatton-admin-unsw-edu-au Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-09-23 11:56] tv505 opened #81472 "Missing location?"
Is there a POP location missing from this list?   We are seeing activity from a POP named: HKB which we assume is Hong Kong, however HKB is not on this page nor the verizon pop page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a651fb66-176d-f2d4-ea9a-ac5fba13341d
* Version Independent ID: 3d868ac4-9973-d4d9-ada3-eb2

[2021-09-23 11:59] sizzler-5g opened #81473 "Table API link not pointing to Table API article"
In the Table API paragraph, the link to learn more about Table API points to the overview of Azure Cosmos DB rather than the overview of Table API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13c45d52-c1bd-ea58-1930-57e7b3d7ba51
* Version Independent ID: 955bf122-6e77-7981-0cb5-83700bb961ba
* Content: [Choose an API

[2021-09-23 12:00] psmanhas commented on #80752
@dip07 Apologies for the delay in response and all the inconvenience caused because of the issue. I had discussion internally and got below response from the team:

The OsProfile.Secrets method of provisioning certificates into a VMSS is by designed versioned; this is to ensure consistency across instances of the VMSS, and following events like reimaging or scaling out.
For versionless/auto-rollov

[2021-09-23 12:22] SrijitBose-MSFT commented on #81280
@thxmike thank you for your response.

#please-close

[2021-09-23 12:23] #81280 closed

[2021-09-23 12:25] amanmcse commented on #80581
@EnzoGorlomi23 As discussed, I checked internally on this. We are suspecting that the user is sent back to app after forgot password, then the app is sending the user back to SUSI policy. When users get to SUSI policy, there is a bug, isForgotPassword is persisted into the cookie, and user is sent to forgot password subjourney again and this is probably repeating over and over.

- First thing to i

[2021-09-23 12:25] #80581 closed

[2021-09-23 12:27] chiraggowda opened #81475 "Running az aro create encounters a "Insufficient privileges to complete the operation" . Are more permissions required to be assigned?Hello @nihaozh creating the cluster with the flags --client-id and --client-secret is definitely the right way to go, to prevent a new SP from being created every time (and hence use the one for which you have created the corresponding role assignments)."
Hello @nihaozh creating the cluster with the flags --client-id and --client-secret is definitely the right way to go, to prevent a new SP from being created every time (and hence use the one for which you have created the corresponding role assignments).

Does the error message indicate exactly which operation was not allowed? Something you can check is the activity log in the Virtual Network, you

[2021-09-23 13:01] sraman100 opened #81476 "Issue with IBM MQ"
[Enter feedback here]
Hi,

The page was recently updated to remove the line regarding "IBM MQ will experience locking issues.".

Does this mean we no longer have this issue with Azure files?

Santosh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c51c5ff-142c-fcaa-b7d4-dbfab61ca55f
* Version Independent ID: 3bb1f92e-8

[2021-09-23 13:15] Nicholak-MS commented on #60395
Thanks Peter, appreciate your feedback and help with validation. I will get a reference to the download posted in the doc in the near future.

Thanks
Nick

[2021-09-23 13:15] xingqiri commented on #80400
Make sense. Thanks for all your help.

[2021-09-23 13:15] #80400 closed

[2021-09-23 13:26] HitenBhavsarMSFT opened #81477 "Add more clarity on step 6."
We had a customer who read the doc wrong and open the case.
**Please add below bold on the step 6 to avoid the confusion **

If your SSISDB was created using SQL authentication and you want to switch to use Azure AD authentication for your Azure-SSIS IR to access it, first make sure that the steps to grant permissions to the master database have finished successfully. Then, right-click on the SSIS

[2021-09-23 13:30] fillip1983 opened #81478 "No guidance on how to add a cdnverify prefixed domain to CDN endpoint"
This section of the document [Map the temporary cdnverify subdomain](https://docs.microsoft.com/en-us/azure/cdn/cdn-map-content-to-custom-domain?tabs=dns-provider%2Cazure-portal%2Cazure-portal-cleanup#map-the-temporary-cdnverify-subdomain) discusses the use of cdnverify subdomain to avoid downtime for the application, whilst re-configuring our DNS provider.

However, the section below [Associate t

[2021-09-23 13:36] shashishailaj commented on #81469
@pheeling Thank you for your query. We will try to find information around this however , we use this channel for any enhancement feedback around the documentation . We will try to find roadmap information on this but if it is not something that can be made public at this time we will be closing this thread. The roadmap information for the [Microsoft 365 enterprise product can be found here]( http

[2021-09-23 13:40] shashishailaj commented on #81471
@GiriB Thank you for your inputs . We will investigate and update the thread.

[2021-09-23 13:42] shashishailaj commented on #81470
@GiriB Thank you for your query. We will review and update this.

[2021-09-23 13:45] v-hagamp commented on #67078
#please-close

[2021-09-23 13:46] #67078 closed

[2021-09-23 13:48] shashishailaj commented on #81470
@GiriB As the MicrosoftDocs/azure-docs#81471 is duplicate of this one . We will close this one.

[2021-09-23 13:49] #81470 closed

[2021-09-23 13:53] v-hagamp commented on #64866
#please-close

[2021-09-23 13:53] #64866 closed

[2021-09-23 13:54] shashishailaj commented on #81475
@chiraggowda Thank you for your feedback . We will investigate and update the thread.

[2021-09-23 14:06] twimmers commented on #81403
@lXbalanque Can you please proceed with opening a Microsoft support case? They should be able to better assist here. As for the doc changes, I have reached out to RingCentral to confirm the settings on their end, I'll proceed with updating this doc accordingly. Thanks again for calling the lack of clarify out!

[2021-09-23 14:08] splitt3r commented on #69155
@SubhashVasarapu-MSFT is it possible to set a User-Agent Header value via a rewrite rule for the Health Probe? Do health probes use the rewrite rules? Is there any header to detect health probe requests?

[2021-09-23 14:23] SaiKishor-MSFT commented on #81472
@tv505 Thank you for reaching out to us. Hong Kong is mentioned in the POP location as follows:

HK | Hong Kong, Hong Kong SAR | East Asia

HKG | Chai Wan, Hong Kong SAR | East Asia

I understand that you are seeing activity from a POP location called HKB. Could you please share more details such as a snapshot/logs showing this POP location etc., so we can look into the same? Thank you!

[2021-09-23 14:29] mcdan opened #81479 "Missing Import"
In the java example you are missing:
`import java.util.Locale;`

On line ~20 int the java sample code:
Line 572 in the source md should have `import java.util.Locale;` added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 657b5b68-4c41-841a-1110-67b9c2049e39
* Version Independent ID: 2237ca0e-c552-7ee8-97ae-7034e51241d

[2021-09-23 14:33] tv505 commented on #81472
Sure - see image below:
***@***.***

Here is a tracking reference for one of the transactions:
0GWBMYQAAAADgOYAaoWhxSJeCMonBiELaSEtCRURHRTA4MTIAMzA5ODBjNWEtYjE1My00NjUyLTg1ZWQtZjcyZWEyNWI4MmY0
***@***.***

From: SaiKishor-MSFT ***@***.***>
Sent: Thursday, September 23, 2021 10:24 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Tom Vogl ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDoc

[2021-09-23 14:41] SaiKishor-MSFT commented on #81472
@tv505 I am unable to see the attached Image. Could you please post it again?

[2021-09-23 14:43] SaiKishor-MSFT commented on #81478
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-23 14:43] KrishnaG-MSFT commented on #81479
@mcdan Thanks for the question! We are investigating and will update you shortly.

[2021-09-23 14:52] jeastburn commented on #81449
I spent a bit more time researching this issue and found that the authsettingsV2 template shows an additional parent object that is not in the file-based config documentation.

https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites/config-authsettingsv2?tabs=json

If I modify my `auth.json` file to wrap it within this object, it seems like things work a little better:
[code]

Now my

[2021-09-23 14:53] tv505 commented on #81472
I just attached them to the message above.

[2021-09-23 14:55] #81343 closed

[2021-09-23 14:55] SaurabhSharma-MSFT commented on #81473
@sizzler-5g Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-23 15:06] pheeling commented on #81469
I have found the menu, the ui was little bit confusing. So I close this issue.

[2021-09-23 15:06] #81469 closed

[2021-09-23 15:11] #80690 closed

[2021-09-23 15:11] #80757 closed

[2021-09-23 16:14] jeastburn commented on #81449
I was never able to get the `auth.json` file in the web root to work.
My main goal was to add `excludedPaths` for this site, so I ended up just making them directly in the `authsettingsV2` file through Azure Resource Explorer.
After my changes, the file now looks like this and it works.
[code]

It still would be nice to have the option of using an `auth.json` for these settings rather than setting

[2021-09-23 16:18] whhender commented on #81297
This link has been updated to better reflect the current process. Thank you for bringing this to our attention!

[2021-09-23 16:18] whhender commented on #81297
#please-close

[2021-09-23 16:18] #81297 closed

[2021-09-23 16:28] steph-sabotasan commented on #69658
@psmanhas Do you happen to have any update on this? We're nearing the end of Q3.

[2021-09-23 16:31] SaiKishor-MSFT commented on #81472
@duongau Can you please look into this?

[2021-09-23 16:39] BryanTrach-MSFT commented on #81466
@TheIdentityHub
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-23 16:46] cynthn commented on #29351
I can get to the link, maybe try again? The answer was basically "Do you have a Network Security Group that is blocking outbound connectivity from your VM? VM Agent and Extensions has to update a file StatusUploadBlob  which is in the storage account of the OS VHD. If HTTPS is blocked to this storage account then you will get this error message."

If you can't get to the original link, you might w

[2021-09-23 16:52] felickz commented on #23558
This is silly...

Create SSH Key via https://docs.microsoft.com/en-us/azure/virtual-machines/ssh-keys-portal or:
`New-AzSSHKey`

Upload pem to keyvault
`The specified PEM X.509 certificate content can not be read. Please check if certificate is in valid PEM format. Accepted formats: PEM content or Base64 encoded PEM content.`

[2021-09-23 17:06] #81324 closed

[2021-09-23 17:09] sunilvaltix commented on #45303
This manual is not useful for anything. This is what MS would need to do at the host level to provide support for different adapters.

Is there a hope for the Azure SDK API to provide the ability to specify the adapter? We have customers who run into intermittent crashes with older mlx4 driver used by connectX-3 adapter in Linux. mlx5 driver used by connectX-4 adapter has no such issues.

[2021-09-23 17:12] himanshusinha-msft commented on #81477
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-23 17:14] Nicholak-MS commented on #81083
Hi @ChadEllis8 ,

Wanted to let you know that the download link pointing to this CSV file is now published on the document at: https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-service-plan-reference

As changes are made to the online document so will corresponding changes be made to the CSV file. Thank you for your help and feedback in getting this live.

I will n

[2021-09-23 17:14] #81083 closed

[2021-09-23 17:14] Nicholak-MS commented on #78029
Hi @KWornell ,

Wanted to let you know that the download link pointing to this CSV file is now published on the document at: https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-service-plan-reference

As changes are made to the online document so will corresponding changes be made to the CSV file. Thank you for your help and feedback in getting this live.

I will now

[2021-09-23 17:14] #78029 closed

[2021-09-23 17:15] Nicholak-MS commented on #74487
Hi Douglas,

Wanted to let you know that the download link pointing to this CSV file is now published on the document at: https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-service-plan-reference

As changes are made to the online document so will corresponding changes be made to the CSV file. Thank you for your help and feedback in getting this live.

I will now be

[2021-09-23 17:15] #74487 closed

[2021-09-23 17:15] Nicholak-MS commented on #60395
Hi Peter,

Wanted to let you know that the download link pointing to this CSV file is now published on the document at: https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-service-plan-reference

As changes are made to the online document so will corresponding changes be made to the CSV file. Thank you for your help and feedback in getting this live.

I will now be c

[2021-09-23 17:15] #60395 closed

[2021-09-23 17:43] krishna-doss-mohan opened #81481 "Links under section "Discover service tags by using downloadable JSON files" are broken."
Hi,
The links under section "Discover service tags by using downloadable JSON files" are broken.
https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#discover-service-tags-by-using-downloadable-json-files

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f86

[2021-09-23 18:04] youngbmck opened #81482 "Modifying "All-or-Nothing" language"
With the GA RBAC vault access policies, the ability to have few key vaults exists. RBAC at the secret scope can no be achieve and multiple applications/teams can access only the key/secrets/certs that they have been granted permissions too.

Key Vaults are no longer "all or nothing" type resources.

You can have a single key vault per environment, with multiple applications/users accessing specifi

[2021-09-23 18:15] gantonius commented on #81007
Hi @CHEEKATLAPRADEEP-MSFT , are you able to replicate this using "Read/Write data using linked service" instead of the adls account key?

[2021-09-23 18:19] chrduf opened #81483 "How much notice is given before an outbound IP address change occurs for an App Service?"
How much notice is given before an outbound IP address change occurs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc9a983-cc11-dde3-1f88-127240105a31
* Version Independent ID: 36188633-6acf-fe86-effa-87403e24d172
* Content: [Prepare for outbound IP address change - Azure App Service](https://docs.microsoft.com/en-u

[2021-09-23 18:21] JasonWHowell commented on #81354
There's more detail about the authentication calls in the OAuth2 related docs that answer the question. I think its  The date is represented as the number of seconds from 1970-01-01T0:0:0Z UTC until the expiration time.

Similar question:
https://social.msdn.microsoft.com/Forums/en-US/ecf679e0-d172-4f96-9369-bb30b8687e93/how-to-convert-properly-the-tokens-fields-quotexpiresonquot-and-quotnotbefore

[2021-09-23 18:30] Bab95 commented on #61424
Is there any schema available for this ARM resource?

[2021-09-23 18:34] SubhashVasarapu-MSFT commented on #81481
@krishna-doss-mohan , Thanks for reaching out. We will investigate and update this thread.

[2021-09-23 18:42] chrduf opened #81484 "Windows container support for ASEv3"
When will Windows container support be available for ASEv3?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dcd1a66-7ff7-c0da-b170-c302784221ae
* Version Independent ID: 4766d1de-b033-029a-9860-12a306195c72
* Content: [App Service Environment overview - Azure App Service Environment](https://docs.microsoft.com/en-us/az

[2021-09-23 18:44] #81354 closed

[2021-09-23 18:45] JasonWHowell commented on #81354
I've added extra text to the doc in case others have the same issues. It will publish around 3pm PST today.

[2021-09-23 18:54] JamesTran-MSFT commented on #81482
@youngbmck
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-23 19:02] MashaMSFT commented on #69135
Hi @13daysaweek , I truly apologize for the delay. We reviewed your Git Issue and unfortunately, we are unable to share details for how this service works under the covers, especially when it comes to estimating disk space as this will vary from customer to customer.

I'll go ahead and close out this Git Issue for the time being but please feel free to comment should you need anything further or h

[2021-09-23 19:02] #69135 closed

[2021-09-23 19:07] dip07 commented on #80752
@psmanhas Found out an alternative way. This helped me solve my problem

In this way, the version is pulled automatically

[2021-09-23 19:34] ababdul opened #81485 "Need more clarification on PE and VNet links"
In the Documentation it states the following "If your environment has a hub and spoke model, **you need only one private endpoint and only one private DNS zone for the entire setup** since all your virtual networks already have peering enabled between them. For more information, see Private endpoint DNS integration."

Does that mean that if I have 2 vaults. One in the source and one in the DR. All

[2021-09-23 19:35] SadiqhAhmed-MSFT commented on #81346
@quekmc We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-09-23 19:35] #81346 closed

[2021-09-23 19:36] amsliu commented on #68240
@tualista Hope you are doing well today! It has been over a week since I replied asking for more clarification and we are still pending your reply. I will now archive this GitHub issue temporarily until then. However, please feel free to comment back on this thread and we will investigate further. Thank you. #please-close

[2021-09-23 19:36] #68240 closed

[2021-09-23 19:42] PortableTech commented on #74487
Just an FYI, between the one you sent me initially and the one you
published online you changed the delimiter from a comma to a semicolon.
This will make it not natively read in Excel or import via Powershell.  Not
too hard to fix, but I would suggest you go back to the comma delimiter
unless there is a compelling reason for the change.

Doug

On Thu, Sep 23, 2021 at 1:15 PM Nicholak-MS ***@***.**

[2021-09-23 19:43] steventmayer opened #81486 "CosmosDB SQL Api RBAC Not Supporting AAD Groups"
Using the CLI, I have added a group's object id; however, this still leads to 403. I can add the user directly which does work. Does the CosmosDB SQL API not support groups in their RBAC model?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aba612b3-f404-11b2-45d9-6e10f1fbf11d
* Version Independent ID: 86ccb46e-5ebd-50a

[2021-09-23 19:58] mpapas opened #81487 "Origin "https://flow.microsoft.com" required in APIM CORS for Power Apps connector called from Connector Wizard in Power Apps portal."
It should be noted here that in order for the exported API to work when called from the Power Apps portal connector wizard during testing, the "https://flow.microsoft.com" url should be added as an origin to the APIM CORS policy, otherwise the calls will fail with an obscure error message in the Power Apps portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-09-23 20:04] thankinSeattle opened #81488 "Additional config changes were needed to view the static website"
I followed the steps listed on this page, then attempted to connect to the new static website hosted on Azure Blob storage. This resulted in a blank white page.

I determined that the following config updates were needed in order to view the new static website:

**In Azure Portal:**
Under Data Storage -> Containers.
For $web, the 'Public Access Level' defaults to 'Private'.
Change this to 'Public'

[2021-09-23 20:07] Nicholak-MS commented on #74487
Hey Doug,

The reason for the change was because we realized there were some columns in the list that have commas in the values so it was breaking those rows. But if this breaks PowerShell that isn't a good outcome either. When I open the semi-colon file in Excel it does render but this could be because in my regional settings I set semi colon as the default delimiter. But it sounds like this won'

[2021-09-23 20:12] PortableTech commented on #74487
Easier solution as this does come up, you just encase your data in Quotes
"NAME OF LICENSE", "GUID", "ETC", "Last bit of data"

Doing the quotes will allow you to keep the commas in the text while still
allowing a comma delimiter.

Doug

On Thu, Sep 23, 2021 at 4:07 PM Nicholak-MS ***@***.***>
wrote:

[2021-09-23 20:14] rob6smith opened #81489 "Power BI missing under Azure Public Services as to whether it meets FedRamp"
For Azure Public Services, was Power BI inadvertently left off the list as to whether it had fedramp?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e27d0b1-56f9-2eb7-8fee-0c47cfbafeac
* Version Independent ID: 12556227-6adc-52c1-ac60-f341ae247e51
* Content: [Azure and other Microsoft cloud services compliance scope -

[2021-09-23 20:23] swettstein opened #81490 "Service Principal Usage with App Roles"
What does this mean? Does this mean that group membership doesn't work for service principals and the service principal has to be assigned directly to the App Role?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9939fc33-8762-3104-eae0-08250c508100
* Version Independent ID: 9c6fa664-df37-40aa-f46e-9e59f79ae215
* Conten

[2021-09-23 20:27] nelroosevelt opened #81491 "Map a subdomain by using a CNAME record to default domain <app>.azurewebsites.net"
According to the document, map "A CNAME record for the www name that points to the A record" but Azure App Services recommend to Map a subdomain by using a CNAME record.

Which record to choose

- To map the root domain (for example, contoso.com), use an A record. Don't use the CNAME record for the root record (for information, see RFC 1912 Section 2.4).-
- To map a subdomain (for example, www.con

[2021-09-23 20:32] stevevi commented on #81489
Thanks @rob6smith for catching this.  Yes, it's an inadvertent omission on my part.  The FedRAMP Marketplace site shows Power BI as in scope for our FedRAMP High authorization in Azure Commercial.  Strangely, FedRAMP site omits Power BI Embedded.  Let me update the article to at least match what the FedRAMP site shows.

As for Azure Government, our article and FedRAMP site are in sync.

[2021-09-23 20:38] Nicholak-MS commented on #74487
Thanks Doug, appreciate the suggestion, I am investigating further.

[2021-09-23 21:26] mike-urnun-msft commented on #81487
Hello, @mpapas - Thank you for your feedback! We have assigned this issue to the content author to review further and take the next course of action.

[2021-09-23 21:51] Nicholak-MS commented on #74487
Hey Doug, new file published, can you see if that one is working for you?

Thanks,
Nick

[2021-09-23 22:17] rob6smith commented on #81489
Thank you Steve!

[2021-09-23 22:31] nlucas2 commented on #80742
This should not appear in any external documentation.

Thanks!
Nick (PG)

[2021-09-23 22:35] x3nc0n opened #81492 "Fix Transform-Policy.ps1 script version checking"
The Transform-Policy.ps1 script on this page needs to be updated to properly check the Az.Network module version. It currently uses "4.5" and should be "4.5.0"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 326302f4-752f-4e20-cdf6-39a249548ae4
* Version Independent ID: 576f83ed-4053-40bd-f7c0-9a8f9dc3f5ae
* Content: [M

[2021-09-23 22:37] bitmasksn commented on #81191
I know my question is a bit lengthy, so maybe it will help if I digest it into the most significant practical concerns: what level of failover is expected when availability zones are implemented? Is it cluster-level, meaning that it's as if each AZ in an independent cluster with one as active and others as hot standbys?

[2021-09-23 22:46] nmadan235 commented on #80725
Any update on this please?

[2021-09-23 22:53] x3nc0n commented on #81492
#81493 will fix this

[2021-09-23 22:53] bitmasksn commented on #81191
I know my question is a bit lengthy, so maybe it will help if I digest it into the most significant practical concerns: Is kafka partition failover supported? For example, are there replica partitions, perhaps across fault domains, that will take over in case of leader partition failure? How is this then affected if we enable availability zones: would partition failover then occur across AZs, or i

[2021-09-23 23:04] SaurabhSharma-MSFT commented on #81441
@cstainie Unfortunately, we do not have any specific dates yet to be shared publicly. Please follow  [Azure Updates]( https://azure.microsoft.com/en-us/updates/?category=analytics) for the same.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-09-23 23:04] #81441 closed

[2021-09-23 23:06] #75513 closed

[2021-09-23 23:20] SaurabhSharma-MSFT commented on #81447
@aalee The PR for the fix has been created and it will be merged once it is approved by the author. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-09-23 23:20] #81447 closed

[2021-09-23 23:23] SaurabhSharma-MSFT commented on #81473
@sizzler-5g I see it correctly going to [Introduction to Azure Cosmos DB: Table API](https://docs.microsoft.com/en-us/azure/cosmos-db/table/introduction) document.  Are you seeing a different page.

[2021-09-23 23:27] MashaMSFT commented on #78739
Hi @vinaytejasvi91 , thanks for contacting Microsoft with your feedback! Logins for SQL Database or Azure Synapse can land on any of the gateways in a region. For consistent connectivity to SQL Database or Azure Synapse, allow network traffic to and from ALL gateway IP addresses and gateway IP address subnets for the region.

Previously, we listed [individual IP addresses](https://docs.microsoft.c

[2021-09-23 23:27] #78739 closed

[2021-09-23 23:27] MashaMSFT commented on #78587
hi @ZeroRows , thanks for contacting Microsoft with your feedback! Logins for SQL Database or Azure Synapse can land on any of the gateways in a region. For consistent connectivity to SQL Database or Azure Synapse, allow network traffic to and from ALL gateway IP addresses and gateway IP address subnets for the region.

Previously, we listed [individual IP addresses](https://docs.microsoft.com/azu

[2021-09-23 23:27] #78587 closed

[2021-09-23 23:28] MashaMSFT commented on #78002
Hi @sukhdeepsingh1  , thanks for contacting Microsoft with your feedback! Logins for SQL Database or Azure Synapse can land on any of the gateways in a region. For consistent connectivity to SQL Database or Azure Synapse, allow network traffic to and from ALL gateway IP addresses and gateway IP address subnets for the region.

Previously, we listed [individual IP addresses](https://docs.microsoft.

[2021-09-23 23:28] #78002 closed

[2021-09-23 23:28] MashaMSFT commented on #76333
Hi @Obiwan72 , thanks for contacting Microsoft with your feedback! Logins for SQL Database or Azure Synapse can land on any of the gateways in a region. For consistent connectivity to SQL Database or Azure Synapse, allow network traffic to and from ALL gateway IP addresses and gateway IP address subnets for the region.

Previously, we listed [individual IP addresses](https://docs.microsoft.com/azu

[2021-09-23 23:28] #76333 closed

[2021-09-23 23:28] MashaMSFT commented on #76176
Hi @GiftA-MSFT , thanks for contacting Microsoft with your feedback! Logins for SQL Database or Azure Synapse can land on any of the gateways in a region. For consistent connectivity to SQL Database or Azure Synapse, allow network traffic to and from ALL gateway IP addresses and gateway IP address subnets for the region.

Previously, we listed [individual IP addresses](https://docs.microsoft.com/a

[2021-09-23 23:28] #76176 closed

[2021-09-23 23:48] ejarvi commented on #80725
Great question and apologies for the delay.   The DiskFormatQuery parameter was introduced in the prior version but was very problematic and has since been deprecated.  It remains in the schema for legacy installs, but is not recommended for new installs going forward, and can be safely omitted.  It has been replaced with the EncryptFormatAll option instead, which is the recommended way to format

[2021-09-24 00:42] VitalyMCT opened #81499 ""Use read-only replicas to load balance read-only query workloads (preview)""
Is this feature indeed still in preview? The target link does not mention it - it seems it went GA and the documentation should be updated. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa9bff59-c1f2-f93e-46ed-50eb2b6bc1e8
* Version Independent ID: 83943260-4a5c-cae6-0b77-621cf2f772bf
* Content: [What is SQL D

[2021-09-24 00:42] Andriy-dev opened #81500 "Provide configuration with "az cli""
It would be great if configuration examples will be in "az cli" , not only the powershell.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc3df950-cbe6-9514-8768-1614312ab0c3
* Version Independent ID: a40c4a7f-2c61-4fa4-fafe-1eaa67e794fe
* Content: [Tutorial: Link a VNet to a ExpressRoute circuit

[2021-09-24 00:50] ChaitanyaNaykodi-MSFT commented on #81492
Hello @x3nc0n, Thank you for your feedback and making the PR! We will review and update as appropriate.

[2021-09-24 00:55] gantonius opened #81501 "No Module for ManyModelsTrainParameters"
[Enter feedback here]

I'm currently trying to refer to the Forecasting at scale section of the docs. In the code snippet, there is reference to the ManyModelsTrainParameters class; but when I try to execute this line
`from azureml.train.automl.runtime._many_models.many_models_parameters import ManyModelsTrainParameters`,
I am getting this error message

I looked up any docs about ManyModelsTrainP

[2021-09-24 00:56] ChaitanyaNaykodi-MSFT commented on #81500
Hello @Andriy-dev, Thank you for the feedback. There is a [Az CLI version](https://docs.microsoft.com/en-us/azure/expressroute/howto-linkvnet-cli) available for the documentation referred in this issue. Please let me know if there are any additional concerns. Thank you!

[2021-09-24 00:58] ashimaasudani opened #81502 "Is NAT gateway still not supported for Ipv6 target endpoints?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dce7dff-6689-f91b-64b7-2817b9d52e5e
* Version Independent ID: 70276322-e104-0cc1-bc5a-ebe5d754fb43
* Content: [What is Azure Virtual Network NAT?](https://docs.microsoft.com/en-us/azure/virtual-network/nat-gateway/nat-overview)
* Content Source: [art

[2021-09-24 00:58] ChaitanyaNaykodi-MSFT commented on #81491
Hello @nelroosevelt
Thank you for your feedback! We will review and update as appropriate.

[2021-09-24 01:01] Oury-MSFT commented on #81486
@steventmayer Azure Cosmos DB provides built-in Azure role-based access control (Azure RBAC) for common management scenarios in Azure Cosmos DB. An individual who has a profile in Azure Active Directory can assign these Azure roles to users, groups, service principals, or managed identities to grant or deny access to resources and operations on Azure Cosmos DB resources. **Which version of Azure C

[2021-09-24 01:02] ChaitanyaNaykodi-MSFT commented on #81502
Thank you for your feedback! We will review and update as appropriate.

[2021-09-24 01:03] ThomasWeiss commented on #81486
As documented [here](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#limits), one of the current limitations is that “Azure AD group resolution is not currently supported for identities that belong to more than 200 groups”. I guess this could be due to the principal having more than 200 groups.

[2021-09-24 01:03] steventmayer commented on #81486
I am on 2.28.0. Since it is my own identity, it's possible I am over the 200 group limit. Thank you for that

[2021-09-24 01:03] #81486 closed

[2021-09-24 02:26] ms-ishiyam opened #81504 "Windows update, AVD traffic is blocked by TLS inspection"
When we use Windows Update, Azure Virtual Desktop or MS edge update via TLS inspection on Azure Firewall premium, the traffic is blocked by Azure Firewall. We have disable TLS inspection for such traffic. It is very inconvenient. Could you list such traffic into this document as much as possible. At least you can know about Windows VM. I know Windows Update/AVD/ MS Edge update are target of this l

[2021-09-24 02:37] BryanTrach-MSFT commented on #81476
@sraman100 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-24 02:40] BryanTrach-MSFT commented on #81483
@chrduf From my experience of previous events, its normally 1-6 months depending on how many customers will be impacted. With that being said, in my 7 years of working with app services, it's a **very** rare occurrence.

You will be given ample time to take action.

Does this help provide additional context?

[2021-09-24 02:41] BryanTrach-MSFT commented on #81484
@chrduf Thank you for your question. We have reached out internally to see if there is an ETA we can share with you. We will reply back once we hear more.

[2021-09-24 02:46] SaiKishor-MSFT commented on #81504
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-24 02:53] BryanTrach-MSFT commented on #81484
@chrduf The product group shared that they will have more to share in the "coming months."

I would stay tuned to the Microsoft Ignite Conference, which is happening in early November for more information (Not sure if there will actually be more info but //Build [May] and Ignite [November] are the two common events for feature updates/news).

We will now proceed to close this thread. If there are

[2021-09-24 02:53] #81484 closed

[2021-09-24 03:28] SatishBoddu-MSFT commented on #81450
Hello @Marusyk Please make use of the preview version which is provided in the sample code, we will be able to use the API feature in the latest SDK version once this service goes GA, until then please use the preview version: `Microsoft.Azure.Devices.Client -Version 1.32.0-preview-001`

Ref: https://github.com/Azure/azure-iot-sdk-csharp/issues/1695#issuecomment-740309730

![image](https://user-im

[2021-09-24 04:01] param1992 commented on #45303
We are also facing similar issues, where we would want to know on which instances/scenarios Connectx4/Connectx5 adapters would be attached to the VM. The Connectx3 adapter which uses the mlx4 driver is not really stable with DPDK. We would want to know that we could meet our scale requirements etc. It would be really helpful if we get list of instances that support Connectx4/Connectx5 adapters.

[2021-09-24 04:17] ram-msft commented on #81501
@gantonius Thanks for the question. We are investigating the issue and will update you shortly.

[2021-09-24 04:33] sunilvaltix commented on #45303
What version of DPDK are you guys using?

[2021-09-24 04:35] akashperfect opened #81505 "Whats the max number of IoTHub instances we can have per subscription"
The document mentions that we can have 50 IoTHub instances per subscription. But even if I contact Microsoft Support whats the maximum number of IoTHubs that we can have?
Can we have 1000 IoTHubs per subscription, after raising request with MS Support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec6fc6a5-9bf6-889e-0

[2021-09-24 05:02] jorjenk opened #81506 "Documentation update"
Azure AD authentication is now supported on Azure file shares, documentation may be updated accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed24fd26-b126-c171-7edd-9f6713f23ab5
* Version Independent ID: 1e240640-ff8c-8183-bd28-ebe3aa4674ff
* Content: [Azure identity & access security best practices](https:/

[2021-09-24 05:06] Harsha-CS commented on #81485
Each vault needs a PE associated with it to enable communication via Private links. To further clarify, the hub and spoke model refers to VNets playing the role of hub and spoke networks. Vaults do not play the role of hub and spoke by themselves.

[2021-09-24 05:23] bobsort opened #81507 "de-DE - missing IPA equivalent for some sounds and Wrong Example"
For most of us people who are not linguistic experts, Dictionaries with pronunciation is the reference to go. For german I use Duden as reference to go.

I am a programmer (software developer) and I don't speak german, Based on user feedback some of the words are pronounced wrongly. I checked in Duden and they are right. Since there are about 1300 German words in our application and I was trying t

[2021-09-24 05:30] AnuragSharma-MSFT commented on #81499
@VitalyMCT Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-24 05:38] northtyphoon commented on #77097
With the workaround mentioned in the email, you don't need to be owner of the ACR subscription. You only need to be the "User Access Administrator" of the ACR resource.
You don't need to have the permission to access Graph API either. `az aks` command is implemented in the way that it needs to query object id of the identity. Hence it needs to access Graph API.

[2021-09-24 05:56] shashishailaj commented on #81506
@jorjenk Thank you for catching this. We are engaging the content team to review this and take it forward.

[2021-09-24 06:21] lgayhardt commented on #80066
@PTC-JoshuaMatthews Thanks for the feedback. We updated the doc to show TelemetrySink. The update should be live tomorrow.

#please-close

[2021-09-24 06:21] #80066 closed

[2021-09-24 06:23] gogbg commented on #80891
Of course that I'm not talking about PlayStation, I'm talking about PowerShell

[2021-09-24 06:30] param1992 commented on #45303
We are using DPDK 20.05

[2021-09-24 06:35] #81423 closed

[2021-09-24 06:45] SubhashVasarapu-MSFT commented on #81249
@tumtum73, Apologies for the delay in response. As of now there is no option to alter the existing rules in the rule's engine using PS as you do in the portal. But you can create a new rule under the same rule's engine block adding new IPs to the list without overwriting the existing rules as show below,
[code]
Get an existing rules engine configuration and add another rules engine rule to it.
We

[2021-09-24 06:45] #81249 closed

[2021-09-24 07:05] HarshitaSingh-MSFT commented on #81349
@mpowrie, I am able to run above script without any errors and I use Powershell 5.1. This can be a setup issue. We can use while without a body in do-while loop, check [this ](https://devblogs.microsoft.com/scripting/powershell-looping-understanding-and-using-do-while/) out. Can you uninstall and re-install PS 5.1?

[2021-09-24 07:07] BhargaviAnnadevara-MSFT commented on #81413
@jdelforno We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-09-24 07:07] #81413 closed

[2021-09-24 07:14] HarshitaSingh-MSFT commented on #81359
@NicolasPSQ , [Set up self-service group management - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-self-service-management?WT.mc_id=Portal-Microsoft_AAD_IAM#feedback) is used to enable users to create and manage their own security groups or Microsoft 365 groups in Azure Active Directory (Azure AD), while [Manage who can create Microsoft 36

[2021-09-24 07:28] sizzler-5g commented on #81473
Hi, sorry you're right. I got confused by the title style being different (and skimming too fast through things).
Introduction to Azure Cosmos DB: Table API
Just before looking at this I popped on the Gremlin API page which title is:
Introduction to Gremlin API in Azure Cosmos DB.

All good! thank you. sorry for the erroneous feedback.

[2021-09-24 07:28] #81473 closed

[2021-09-24 07:29] yuharucan opened #81508 "Support synchronize between Azure Files and Blob Storage"
[Enter feedback here]

This page says the following:
Currently, this scenario is supported only for accounts that don't have a hierarchical namespace. The current release of AzCopy **doesn't synchronize between Azure Files and Blob Storage**.

But azcopy(10.12.2) shows the below:
The supported pairs are:

	  - Local <-> Azure Blob / Azure File (either SAS or OAuth authentication can be used)
	  -

[2021-09-24 07:33] priyankareddy20 opened #81509 "Guest Users not receiving One-time passcode. I have tested with gmail id- user is receiving only 5 passcodes for 24hours.Is this something predefined as i am performing testing. When i tried using some other external email id, user never got a one time passcode"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83f1378d-b047-11d1-a138-5c52a3fee6ba
* Version Independent ID: 57c51f57-90ad-e0f9-1e6b-3262f94de02c
* Content: [One-time passcode authentication for B2B guest users - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/external-identitie

[2021-09-24 07:43] priyankareddy20 commented on #81509
Also in external identities i left to default.I dint change. Still user got passcodes in gmail for 5 times
we dint set up any federation with any identity provider too. Kindly advise.
Is it mandatory to enable this external identities
![issuedoc](https://user-images.githubusercontent.com/64882717/134637371-1a3515c5-178f-4c1a-965b-02929e7e072a.JPG)

[2021-09-24 08:04] matt-goldman commented on #60565
@rvooren did you resolve this issue? I'm having almost exactly the same problem, except it errors on that line (`await operation.WaitForCompletionAsync(TimeSpan.FromSeconds(10), CancellationToken.None);`) with 'no such host is found'. I've replicated the sample from the docs, as well as pulled in the Helper class I found here: https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/961

[2021-09-24 08:05] olivermue opened #81510 "maintenanceConfiguration list uses CamelCase and update uses snake_case for hourSlots"
If you run the command `az aks maintenanceconfiguration list` you 'll get back a configuration like this:
[code]

If you like to update a configuration by a file, the format must be:
[code]

It really took me a few minutes to spot, why the update didn't take my hourSlots. The reason is, that the output uses camelCase and defines `hourSlots`, while the input file uses snake_case and defines `hour_s

[2021-09-24 08:07] SwathiDhanwada-MSFT commented on #78994
Assigning to content author for doc improvement

[2021-09-24 08:22] SrijitBose-MSFT commented on #81510
@olivermue , Thank you for your feedback. We are reviewing this internally.

[2021-09-24 08:28] ram-msft commented on #81281
@@AlphaBun  Thanks for the details. Datastores currently support storing connection information to the storage services listed in the following matrix.
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-access-data#supported-data-storage-service-types

![image](https://user-images.githubusercontent.com/49180516/134643141-30eda170-5c79-44c1-b2bc-054cb7d0fdef.png)

[2021-09-24 08:34] hegao15 opened #81511 "AAD B2C OAuth 2.0 code_challenge/code_verifier support"
By setting code_challenge from authorization request with plain or sha256 and code_verifier from token request, is AAD B2C natively support the verification of code_verifier ? Or we need to build DB or Redis cache to store the code_challenge and do the verification by each authentication service with logic ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-09-24 08:37] henrymbuguakiarie commented on #80396
Hello @Markus-Hanisch, I am working on this issue. We will update docs and notify you.

[2021-09-24 08:46] ram-msft commented on #81281
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-24 08:46] #81281 closed

[2021-09-24 09:12] jeevannagvekar commented on #81290
Hi @andyrivMSFT, could you get a chance to look into this?

[2021-09-24 09:37] v-amallick commented on #80907
Hi @MrVhek, we are closing the issue now. Please get back to us if you have further queries. Thanks.

#please-close

[2021-09-24 09:37] #80907 closed

[2021-09-24 09:50] shinojsn opened #81512 "Application Gateway before Firewall Model - Errors"
[Enter feedback here]
Application Gateway before Firewall Model needs revision to the VISIO diagrams and the steps are missing how the Https traffic from On-Prem to Azure triages and differentiate with Non-https traffic reaching same resource (E.g. VM with IIS (443)and RDP (3389)access.

[errors.docx](https://github.com/MicrosoftDocs/azure-docs/files/7224722/errors.docx)

---
#### Document Details

[2021-09-24 10:08] mikerodionov opened #81513 "Link leads to wrong documentation section"
[Enter feedback here]

In the Tip block in the beginning of the page the is a link "feature differences" which leads to the following page:
How to use Azure Table storage or Azure Cosmos DB Table API from Java
https://docs.microsoft.com/en-us/azure/cosmos-db/table/how-to-use-java

It most likely should let to another one:
Introduction to Azure Cosmos DB: Table API (this page contains table which d

[2021-09-24 10:12] RohitMungi-MSFT commented on #81507
@bobsort Thanks for the feedback. Our internal team would review the same and update as required.
@QinyingLiao Could you please help to pass the feedback to the right team for review?
@zhaoyunED The content author to review and update as required.

[2021-09-24 10:31] PramodValavala-MSFT commented on #81488
@thankinSeattle Thanks for the feedback! We will review and update accordingly.

[2021-09-24 10:31] PramodValavala-MSFT commented on #81490
@swettstein Thanks for the question! We will review and get back to you!

[2021-09-24 10:51] Joehannus commented on #66490
Will this also be fixed in the Portal? We just changed all our functions to read the storage connection string and the application insights key by using a keyvault reference directly in the app settings in stead of using literal values. Unfortunately this causes issues in the Portal like for instance the monitoring tab that is mentioned above.

It was a great enhancement to use references in the a

[2021-09-24 10:51] AlphaBun commented on #81281
Thanks Ram. I think you misunderstood my comment. In the docs, its implying that Azure File Store can use Identity authentication on the Machine Learning Workspace (highlighted in the screenshot below). But in reality, the File store in Machine Learning Studio can only use Account Key/SAS authentication but not identity based authentication.

"Enable managed identity authentication for default sto

[2021-09-24 10:55] GiriB commented on #81471
We recently had a cert renewal and we saw that a new version of the certificate is created. This feels straightforward but good to add in documentation somewhere. :)

So once the newer version of the certificate is renewed, we need to update our app configs to use the secret identifier url for the new certificate.

[2021-09-24 11:02] aleks-noname opened #81515 "Unsuported Ubuntu kernel version."
Hello.

I have Azure VM with Ubuntu 18.04 LTS (kernel 5.4.0-1056-azure):
`uname -a`
`Linux vm-lin-ubuntu-2 5.4.0-1056-azure #58~18.04.1-Ubuntu SMP Wed Jul 28 23:14:18 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

For testing purpose try to install Mobility service v9.44.
In table I see supported kernel 5.4.0-1056-azure of Ubuntu 18.04 LTS.

But during install I got error:
`cat  /var/log/ua_install.log

[2021-09-24 11:05] psmanhas commented on #80752
@dip07 Thank you for sharing out your solution really appreciate that :)
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-09-24 11:05] #80752 closed

[2021-09-24 11:10] shashishailaj commented on #81469
Thank you for confirmation .

[2021-09-24 11:11] maulik-modi opened #81516 "Provide Next steps on How to use Managed Identity with AKS"
Although Page says "Azure Kubernetes Service" Can be a source of Managed identiy, It cannot be complete without an article linking "How to use managed identity with AKS"
![image](https://user-images.githubusercontent.com/34910430/134665110-353b1f5e-c8e9-4d59-85b0-8df3fc277bc1.png)

Nowadays, most projects are in Microservices and AKS is the preferred choice for Container orchestration.
Adding this

[2021-09-24 11:29] SumanthMarigowda commented on #81513
@mikerodionov Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-09-24 11:31] SumanthMarigowda commented on #81508
@yuharucan Thanks for the question! We are investigating and will update you shortly.

[2021-09-24 11:38] Marusyk commented on #81450
Hi @SatishBoddu-MSFT

Thank you very much for your response.
One more question, maybe you know or know someone who knows :)
When is the team planning to make this feature GA? Because it is still in preview since 2019 and I can't find any updates.

Thank you in advance

[2021-09-24 12:01] TakreemAkhter opened #81518 "evaluatenotebookruns.py script line: test_output_path = '#ENV#'"
I am getting an error:
`__main__.py: error unrecognized arguments: --jsonpath=`

when I run :
`python -m pytest --junit-xml=path\to\logs\xml\TEST-notebookout.xml --jsonpath=path\to\logs\json\ path\to\file\evaluatenotebookruns.py || true`

the custom parameter `jsonpath` is not being consumed any where in the evaluatenotebookruns.py which seems to cause an error. The expression in the script that _

[2021-09-24 12:25] ericgoudriaan commented on #81296
Sorry, I accidentally closed it. Reopened it again. I was wondering if there is any progress on investigating this issue. Thx.

[2021-09-24 12:29] bramvdklinkenberg opened #81519 "Defender for AKS & Server - What agents are being installed and what doesn't work with VMSS"
[Enter feedback here]

I am a bit confused about what agents are begin installed when using Azure Defender for AKS and Server. Are bot separate log analytics agents installed on the nodes?
What exactly does not work/ is not supported for clusters using VMSS? Is that the log analytic agent that comes with Defender for AKS or for Server?

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-09-24 12:56] jackchenwork opened #81521 "Question about license requirement for MFA"
[Enter feedback here]

Could you please confirm if it's allowed to enable MFA for individual users when the user only have Microsoft Business Standard license , when security default is disabled?

My testing shows it's working fine, I can enable it for individual users,  when the user is assigned a M365 Business standard license, or even when the user doesn't have any license assigned.

---
#### D

[2021-09-24 13:19] red-erik opened #81522 "Give access to multiple VM in blulk"
Hello,
it would be nice to have some reference or advice on how to grant access to multiple VM.
Since one of the required permission is "Reader role on the NIC with private IP of the virtual machine",
how can it be accomplished to grant access to hundreds or thousands VM ?
Any suggestion, link to a script or something similar will be greatly appreciated.

Regards,

Red.

---
#### Document Details

[2021-09-24 13:19] mbrrg opened #81523 "Unclear documentation regarding timezone parameters"
It would be very useful to actually get to know from the documentation whether punctuation has to be removed or not...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-f794-58f0c37b6d7a
* Version Independent ID: 25c5ef5c-6ba4-f5ff-f94b-8f2818ec2feb
* Content: [Reference guide for functions in expressio

[2021-09-24 13:22] bradrlaw opened #81524 "Documentation says Bing Spell Check is supported in V3 when support was actually removed"
This page implies that the LUIS V3 API supports using Bing Spell Check, but it appears support has been removed and the API has not capability to utilize the API anymore according to the REST API documentation here:

https://westus.dev.cognitive.microsoft.com/docs/services/luis-endpoint-api-v3-0/operations/5cb0a91e54c9db63d589f433

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-09-24 13:47] shashishailaj commented on #81509
@priyankareddy20 Thank you for your query . We will investigate and update the thread .

[2021-09-24 13:49] shashishailaj commented on #81511
@hegao15 Thank you for your feedback . We will investigate and update the thread.

[2021-09-24 13:52] shashishailaj commented on #81519
@bramvdklinkenberg Thank you for your feedback . We will investigate and update the thread.

[2021-09-24 13:53] shashishailaj commented on #81516
@maulik-modi Thank you for your feedback . We will investigate and update the thread.

[2021-09-24 13:55] shashishailaj commented on #81505
@akashperfect Thank you for your query . We will check this and update the thread.

[2021-09-24 13:56] GitaraniSharma-MSFT commented on #81522
@red-erik , thank you for your query. We'll investigate & get back to you shortly!

[2021-09-24 13:57] GitaraniSharma-MSFT commented on #81512
@shinojsn , thank you for your feedback. We'll review this and get back to you shortly!

[2021-09-24 14:16] SadiqhAhmed-MSFT commented on #81515
@aleks-noname Thank you for reaching out!

Please ensure that for Linux versions, Azure Site Recovery does not support customized OS images. Only the stock kernels that are part of the distribution minor version release/update are supported.

Per doc - https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#ubuntu-kernel-versions Ubuntu 18.04 LTS (kernel 5.4.0-105

[2021-09-24 14:25] Mahesh-MSFT opened #81525 "steps referencing function not working"
documentation on [steps referencing function](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/create-ui-definition-referencing-functions#steps) gives following example.

[code]
however, it is is not clear how to invoke this function from another step/element.

i am trying this example using different elements and it's not working :-(. below is my code.

i populat

[2021-09-24 14:34] maulik-modi commented on #81516
@shashishailaj , @ssivas , Perhaps add a link to https://docs.microsoft.com/en-us/azure/aks/use-managed-identity in next steps?

[2021-09-24 14:40] chrduf commented on #81483
@BryanTrach-MSFT Yes it does - thanks

[2021-09-24 14:40] #81483 closed

[2021-09-24 14:53] WilliamDAssafMSFT commented on #81456
#assign:williamdassafMSFT

[2021-09-24 14:56] venuvinod4477 opened #81527 "The performance issue might be due to Disk IOPs as well."
[Enter feedback here]
I have seen in one of the case where the quarries run through SSIS IR to read data from one DB to other DB in same Managed instance in General Purpose use to take around 8 hours even after increasing the resources around 32 cores.  I never use to see any spike in CPU.

However after changing it to Business Critical the same quarry was very fast.

---
#### Document Details

⚠

[2021-09-24 14:57] venuvinod4477 commented on #81527
The General purpose does not guarantee good IOPs and if your SQL quarry is IOPs intensive then it is better to choose Business Critical.  I have seen drastic  change in overall performance.

[2021-09-24 15:05] MatthewSwarbrick opened #81528 "Helm commands have been removed in version 3.7.0"
Using the ubuntu-latest agent image, the helm chart commands no longer exist as these have been removed from the helm cli since version 3.7.0

In our use case we're using helm chart pull and helm chart export.
I assume the other helm chart commands mentioned on this page are also invalid now.

Please could you update the documentation accordingly.

Kind regards

---
#### Document Details

⚠ *Do no

[2021-09-24 15:06] GitaraniSharma-MSFT commented on #81512
@shinojsn , I believe you have tagged the wrong doc and the correct doc is as below:
https://docs.microsoft.com/en-us/azure/architecture/example-scenario/gateway/firewall-application-gateway#application-gateway-before-firewall

Hence, I have updated the issue with the correct doc link.

[2021-09-24 15:08] GitaraniSharma-MSFT commented on #81512
@erjosito , could you please review this feedback and provide your insights?

[2021-09-24 15:10] TheCloudScout opened #81529 "Data Explorer won't return rows due to case sensitive connection endpoint to blob container"
Hi there!

I tried extensively to get this solution to work and in the end I've found a solution which should be pointed out on this page.

When running the PowerShell script one could use both upper- and lowercase character to input the workspace name because this is how its displayed on the Azure Portal. So if would copy/paste the names for **resource group** and **workspacename** It would look

[2021-09-24 15:14] GiftA-MSFT commented on #81524
@bradrlaw we'll review your feedback and get back to you shortly. Thanks.

[2021-09-24 15:25] MonikaReddy-MSFT commented on #81525
@Mahesh-MSFT - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-24 15:25] MonikaReddy-MSFT commented on #81529
@TheCloudScout - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-24 15:31] andyrivMSFT commented on #81290
Hello @jeevannagvekar I see your request this week for program access to the Connected Cache preview. I'll get to this today and send you information via the email you provided.  Thanks!

[2021-09-24 15:48] SQLDataSide opened #81530 "Excel sheets list"
[How can we extract the list of sheet names.
scenario: In one excel file sheet I may have multiple sheets each sheet will contain the same data structure, now i want to loop through each excel sheet and extract the data, How can i list the excel sheets out from an excel file?
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-09-24 16:03] SrijitBose-MSFT commented on #81528
@MatthewSwarbrick , thank you for your feedback.

@dlepow can we please have the documentation updated in light of https://github.com/helm/helm/releases/tag/v3.7.0

[2021-09-24 16:09] ssivas commented on #81516
@maulik-modi , Thanks for your feedback. I have summitted a pull request to add reference for Azure AKS managed identity in above link and sent to Content author for review, changes would be published once its approved. Thanks.

#please-close

[2021-09-24 16:09] #81516 closed

[2021-09-24 16:22] WilliamDAssafMSFT commented on #81456
Hi @DebashishSarkar! Thanks for pointing out, the ZR for GPGen5 (Preview) has been added to our documentation. In regards to the SLA, we don’t typically publish SLAs for features that are still in preview. Once zone redundancy for GP is generally available, the SLA will be published together with other SLAs here: [SLA for Azure SQL Database](https://azure.microsoft.com/support/legal/sla/azure-sql-

[2021-09-24 16:22] #81456 closed

[2021-09-24 16:39] mike-urnun-msft commented on #81230
Hello @leebd - As explained in my previous comment, the import & publish steps are the same regardless of whether the gateway is running on Azure or on-premise, and it is one of the very first of the series of APIM tutorials.

Since we didn't determine any changes to this doc upon reviewing your feedback, we will now proceed to close this thread for now. If there are further questions regarding th

[2021-09-24 16:39] #81230 closed

[2021-09-24 16:43] AjayKumar-MSFT commented on #80543
saundersmatt, Apologies for the delay on this. I see that in the context of highlighting the difference (for other framework) on how app logic inspect  X_FORWARDED_* info is added. The statement starts with "_Popular web frameworks let you access the X-Forwarded-* information in your standard app pattern_."

Thanks for taking time to share your valuable feedback. I' have also shared your feedback

[2021-09-24 16:43] #80543 closed

[2021-09-24 16:46] kimsooil-usf opened #81532 "typo in (kubectl get service django-app --watch)"
Should be:

kubectl get service python-svc --watch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 894542f3-4a24-3523-a8af-cd69bb738ea4
* Version Independent ID: d3c30283-8d4a-0b91-f3d5-46859338e9b7
* Content: [Tutorial: Deploy Django on AKS cluster with PostgreSQL Flexible Server by using Azure CLI](https://docs.micros

[2021-09-24 16:54] SadiqhAhmed-MSFT commented on #81429
@PaulShay66 Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2021-09-24 16:54] AjayKumar-MSFT commented on #80557
zachhumphrey27g, Apologies for the late response on this. We have this note in the doc -_'VNET integration is not supported for Docker Compose scenarios_' on '[Configure a custom container for Azure App Service](https://docs.microsoft.com/azure/app-service/configure-custom-container?pivots=container-linux#preview-limitations)' ( Under 'Preview limitations' section). As this information is highligh

[2021-09-24 16:54] #80557 closed

[2021-09-24 16:56] JamesTran-MSFT commented on #81490
@swettstein
Thank you for your post!

`Currently, the assignment is only effective for direct members of the group, and only for user members. An app role assignment to a group is not currently inherited by service principal members of the group, nor is it inherited by any members of any nested groups.`

For more info - https://github.com/MicrosoftDocs/azure-docs/issues/78641#issuecomment-90458514

[2021-09-24 17:04] leebd commented on #81230
I appreciate all of your help.

Perhaps one clarification for me. With the on premise gateway, can you
expose local APIs or do we have to punch a hole in the firewall and expose
them through the APIM?

On Fri, Sep 24, 2021, 11:39 AM Mike Urnun ***@***.***> wrote:

[2021-09-24 17:18] RyanHill-MSFT commented on #81245
Thanks @coelho5br. Doc will be updated.

[2021-09-24 17:20] ronsonntag54 opened #81533 "Page and videos are very out-of-date"
Need to update descriptions, screen shots, and videos. All are very out-of-date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e499a5cc-fb70-43a7-b933-19dcaf556167
* Version Independent ID: ad79767e-9718-453a-eb5e-165ce17fc663
* Content: [Manage app & resource access using groups - Azure AD](https://docs.microsoft.com

[2021-09-24 17:23] himanshusinha-msft commented on #81518
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-24 17:27] himanshusinha-msft commented on #81530
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-24 17:29] SaurabhSharma-MSFT commented on #81532
@kimsooil-usf Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-24 17:39] JamesTran-MSFT commented on #81533
@ronsonntag54
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-24 17:47] SaurabhSharma-MSFT commented on #81532
@kimsooil-usf The PR for the fix has been created and it will be merged once approved by the author. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-09-24 17:47] #81532 closed

[2021-09-24 17:48] JamesTran-MSFT commented on #81521
@jackchenwork
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-24 17:52] #81245 closed

[2021-09-24 18:12] cynthn commented on #81283
@bwren Can you help with this?

[2021-09-24 18:21] erjosito commented on #81512
Hey @shinojsn , I already answered you per email, hopefully that clarified some of your questions regarding the IP addresses. About how non-HTTP traffic flows, I am hesitant to include additional diagrams, since non-HTTP(S) traffic is not the focus of this doc. Essentially, for non-HTTP(S) flows the Application Gateway is not in the data path, so it is the normal traffic flow as documented in the

[2021-09-24 18:26] cynthn commented on #66107
I've removed that section as I can't get that old error message to appear (I think Yemi got it changed, but I can't confirm).

#please-close

[2021-09-24 18:26] #66107 closed

[2021-09-24 18:29] DerekHerman-MSFT commented on #81488
@thankinSeattle When using the static website feature it is not necessary to set the $web container to public. Make sure you are using the proper endpoint to load your website.

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website-how-to?tabs=azure-portal#find-the-website-url

[2021-09-24 19:05] michaeldaw opened #81536 "Documentation on e2e authentication is incompatible with linked article on refreshing access tokens"
The tutorial on this page [Tutorial: Authenticate and authorize users end-to-end in Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/tutorial-auth-aad) instructs the user to add the following "loginParameters" configuration in Azure Resource Explorer:
[code]

Further down in the article, a link is provide to [this](https://docs.microsoft.com/en-us/azure/app-service/configure-a

[2021-09-24 19:06] drdamour opened #81537 "Roles are outdated and not well documented"
i think theses are supposed to be links
![image](https://user-images.githubusercontent.com/1514496/134726687-3dd8c114-9750-4ccf-b210-66b27f31ba9e.png)

but more importantly, i don't think there is a Serverless Contributor (https://docs.microsoft.com/en-us/azure/azure-signalr/authorize-access-azure-active-directory#signalr-serverless-contributor) that's mentioned.

most importantly, none of these r

[2021-09-24 19:08] michaeldaw commented on #81536
Additional info:
In Easy Auth V1, the following loginParameters configuration could be used to both retrieve valid access tokens and allow the token refresh procedure to work. If I attempt to use this configuration in Easy Auth V2, I get an error saying the "resource" parameter is not valid:

[code]

[2021-09-24 19:11] MaraSteiu commented on #81499
Hi! The problem has been fixed and the documentation will reflect that in a few hours.

Thanks,
Mara

From: AnuragSharma-MSFT ***@***.***>
Sent: Thursday, September 23, 2021 10:30 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Mara-Florina Steiu ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] "Use read-only replicas to load balance read-only query workloads (preview)"

[2021-09-24 19:34] vamsivellanki opened #81538 "Add AKS preview command in the document"
While customers creating  **_private AKS cluster with a Public FQDN_**, Azure CLI rejects the _--private-dns-zone none option with “none is not a valid Azure resource ID_” even with the latest versions.
Adding az extension add --name aks-preview works well and request you to add this in prerequisites or as an additional command:
https://docs.microsoft.com/en-us/azure/aks/private-clusters#create-a-

[2021-09-24 19:48] ChaitanyaNaykodi-MSFT commented on #81492
Hello @x3nc0n, Thank you for providing the feedback and making the PR as well. The PR was approved by the author the change made will be live soon. Please let me know if there are any concerns Thank you!

[2021-09-24 19:48] #81492 closed

[2021-09-24 19:49] billsherry opened #81540 "time frame"
[Enter feedback here]

It would be nice if you stated how long it takes for the solution to become co-sell ready if the requirements are met and published.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d99086d1-97d6-2e43-2c37-961580f8b2a6
* Version Independent ID: 8222abc1-a836-9c87-f817-1d545c5289e8
* Content: [Co-sel

[2021-09-24 19:57] v-hhunter commented on #79389
This issue has been resolved. Thank you! #please-close

[2021-09-24 19:58] #79389 closed

[2021-09-24 20:32] AjayKumar-MSFT commented on #81398
sannyjacobsson, Bertrand Le Roy from our product team has answered this question on your [SO thread](https://stackoverflow.com/a/69289767/8194837). Just coping here the suggestion to benefit the community; landing on this thread.

"
For reference, the input formats that can be accepted by the document extraction skill are documented here: https://docs.microsoft.com/azure/search/cognitive-search-sk

[2021-09-24 20:32] #81398 closed

[2021-09-24 20:58] baf opened #81542 ""Granting consent on behalf of a specific user" section"
Can the "granting consent on behalf of a specific user" section be fleshed out a bit? More specific direction would be helpful.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17a52e9f-e485-bf0f-36d9-4e9061ad5a5a
* Version Independent ID: 377c1a82-64af-4055-fd25-9f1c01ba6e06
* Content: [Managing consent to applications a

[2021-09-24 20:59] #65596 closed

[2021-09-24 20:59] #69649 closed

[2021-09-24 21:00] JamesTran-MSFT commented on #81542
@baf
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-24 21:09] curtand commented on #65596
Hi @Canis-Lupis
I published a clarification for the User Administrator role, There is no low-privilege role in Azure AD for managing shared mailboxes, just Global Administrator and Exchange Administrator. Thanks for your contribution!!

[2021-09-24 21:10] curtand commented on #69649
Hi @danmyhre
I published a clarification about the Contains operator. Thanks for your contribution!

[2021-09-24 21:16] kobulloc-MSFT commented on #81427
@klucyszy I'm seeing the same thing.  It appears Microsoft.Azure.AppConfiguration.AspNetCore is needed in addition to Azure.Identity.  Assigning this to the document author.

![image](https://user-images.githubusercontent.com/37556655/134740394-e126abc4-1f60-4b64-a282-36b0ac2a5896.png)

[2021-09-24 21:44] BryanTrach-MSFT commented on #81523
@mbrrg Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-24 21:45] drdamour opened #81543 "access keys required for live trace tool"
It appears that access keys must be enabled for the live trace tool to function.  If i disable them the tool always 401s.  Would be nice to get that support, but for now really just want docs to mention that.

also the screen shot implies you need to setup a log destination, but i don't believe that is true and i think that should be called out.

---
#### Document Details

⚠ *Do not edit this sect

[2021-09-24 21:49] BryanTrach-MSFT commented on #81527
@venuvinod4477 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-24 21:49] drdamour commented on #81543
i might be wrong, could be that the destination DOES need to be configured to get live trace to work. docs should make it clear one way or the other

[2021-09-24 21:51] jpyrett opened #81544 "code example broken: attach AKS. Workspace ws object not declared"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2021-09-24 21:56] Structed opened #81545 "Syntax error in Entity definition"
In the second listing of the section [Get rows from a table](https://docs.microsoft.com/en-us/azure/cosmos-db/table/create-table-dotnet?tabs=azure-portal%2Cvisual-studio#get-rows-from-a-table), the following code is presented to define the entity:
[code]

This code, however, has two syntax errors:
Lines 20 and 22 are missing semicolons at the end of line.

Suggested fix:

[code]

---
#### Document

[2021-09-24 22:05] DerekHerman-MSFT commented on #81476
@sraman100 Thanks for the question. I confirmed with our product team that there was a fix that went into place for this issue.

[2021-09-24 22:05] #81476 closed

[2021-09-24 22:31] SnehaGunda commented on #81379
Fixes https://github.com/MicrosoftDocs/azure-docs-pr/pull/173574

[2021-09-24 22:39] SnehaGunda commented on #81379
@jimbobbennett I added a note to the doc. We don't yet know when this feature will be enabled.

[2021-09-24 22:39] SnehaGunda commented on #81379
#please-close

[2021-09-24 22:39] #81379 closed

[2021-09-24 22:42] drdamour commented on #80618
@Grace-MacJones-MSFT  any luck prioritizing this one?

[2021-09-24 22:43] kryalama commented on #79465
@yahorsi The click events are generated based of html Document object. I am not sure even if you used the plugin there will be some click events generated. I haven't tried this myself on a react native app. I have tried the plugin recently on a reactjs app. I was able to see click events generated.

[2021-09-24 22:45] drdamour opened #81546 "Need docs on CORs settings"
Not specifically this page, but it seems security related. I couldn't find anything about the CORs settings on this thing.  Does signalr service just match exact the CORS preflight request origins? is there any way to wildcard a port?  is localhost treated special (like it is for AAD app reg callback urls where port is ignored)?  cause it's a pain when developing locally to have to specify all the

[2021-09-24 23:26] kryalama commented on #81282
@davecroman thanks for bringing up the issue. Created a PR to fix the same. https://github.com/MicrosoftDocs/azure-docs-pr/pull/173582

[2021-09-24 23:33] jimbobbennett commented on #81379
Can we re-open this issue please. I see the note, but it is confusing:

<img width="906" alt="image" src="https://user-images.githubusercontent.com/1710385/134749360-5c4e0aa3-887d-4cfa-9ada-708944e5feb2.png">

The info bar states that is is both unavailable, and available in 29 regions. Can we correct this to say it is unavailable, removing the statement about region availability.

[2021-09-24 23:46] Karishma-Tiwari-MSFT commented on #81304
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-24 23:53] stevevi commented on #81489
#please-close

[2021-09-24 23:53] #81489 closed

[2021-09-25 00:04] Karishma-Tiwari-MSFT commented on #81317
@angloankurjain This documentation talks about creating a VM from the image. You can then create an RDP connection to a VM using Azure Bastion as described here : https://docs.microsoft.com/en-us/azure/bastion/bastion-connect-vm-rdp-windows

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue t

[2021-09-25 00:04] #81317 closed

[2021-09-25 00:09] Karishma-Tiwari-MSFT commented on #81538
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-25 00:26] brucenelson6655 opened #81548 "AWS reference in MSFT docs"
[Enter feedback here]

Use of AWS cluster sizes in the Microsoft document

![image](https://user-images.githubusercontent.com/4137635/134749676-e4f25261-1630-41cc-a062-b00248055d7f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cac08d6-bdb0-30de-acba-5aa1b22284be
* Version Independent ID: a455ff5b-e9b1-8b74-f85b-

[2021-09-25 03:27] BryanTrach-MSFT commented on #81536
@michaeldaw Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-25 03:28] BryanTrach-MSFT commented on #81537
@drdamour Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-25 03:32] CHEEKATLAPRADEEP-MSFT commented on #81548
@brucenelson6655  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-09-25 03:38] BryanTrach-MSFT commented on #81540
@billsherry Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-25 03:39] BryanTrach-MSFT commented on #81543
@drdamour Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-25 03:40] BryanTrach-MSFT commented on #81544
@jpyrett Thank you for your question. Can you please share with us the URL of the doc that you are having issues with?

Please note that we scope issues on this repro to feedback related to the docs. If you have a product question, please post it on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/). Thank you for your understanding

[2021-09-25 03:41] BryanTrach-MSFT commented on #81545
@Structed Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-25 04:19] NjGarg opened #81549 "Execution Order of Network Rules in the Figure"
Dear Team,
For figure three on this page, shouldn't the Execution Order state that RCG 2 Network Rule will come before RCG 3 Network Rule.
Priority of Network Rule in RCG2 is 100, where priority of Network Rule in RCG3 is 300.
Please check.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d504472a-3787-c326-047c-1d48a2c6

[2021-09-25 04:26] thankinSeattle commented on #81488
Hello Derek,

 Thank you for taking a look. I see that you are correct about that, thank you for clarifying!

  I think the problem I had (i.e. getting the blank screen when connecting to the primary endpoint) was caused by an integration issue with Visual Studio code. I had followed the steps outlined in https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website-host, in the

[2021-09-25 04:34] FabianGonzalez-MSFT opened #81550 "Doc improvements request."
1. In the first note where it talks about using a versionless Key Vault secret for the APGw to always call newer cert's version, please clarify how long APGw takes to recognize/use the updated version?
2. In the section for "KeyVaultHasRestrictedAccess" why is it that you ask to add APGw Vnet and subnet + having trusted services option marked as yes? You should not need to whitelist the Vnet and s

[2021-09-25 04:42] FabianGonzalez-MSFT opened #81551 "Please update target value for API Latency"
500ms is pretty short time taking into account that our SLA is 5000ms, after talking to Jack Lichwa, the target value should be at least 1000ms. Please change here:

Key Vault Latency is greater than 500ms (Static Threshold)

Example 1: Configuring a static alert threshold for latency
Set the Threshold Value to 500

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-09-25 04:55] aelij opened #81552 "Auto upgrade channel"
Is there a way to enable both `node-image` weekly updates and one of the other channels, e.g. `patch`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7010bd58-42b1-5c90-3253-05deed855be8
* Version Independent ID: c890efb2-cdaf-a3eb-d54f-0e7ccbd4314d
* Content: [Upgrade an Azure Kubernetes Service (AKS) cluster - Azure

[2021-09-25 05:20] lgayhardt commented on #81282
Thank you for bring this to our attention, the doc update should go live early next week.

Let us know if you have any questions.

#please-close

[2021-09-25 05:20] #81282 closed

[2021-09-25 05:33] mpowrie commented on #81349
Hi,

I ran it on a pretty stock Azure vm provisioned with windows server 2016
datecentre edition.

That’s fine if you can’t reproduce it - the workaround of powershell 7.1
worked for me. You can close the issue.

On Fri, 24 Sep 2021 at 5:05 pm, HarshitaSingh-MSFT ***@***.***>
wrote:

[2021-09-25 06:23] vipulsparsh commented on #81415
@gojo119 The feature for functioning with Password writeback is present on servers with Windows server 2016 and above, so the DC must be running on 2016 or above. This has nothing to do with domain/forest functional level. Let us know if you have any questions

[2021-09-25 06:24] vipulsparsh commented on #81471
@GiriB Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2021-09-25 06:51] stoomey-coalnetwork opened #81553 "Page feedback"
[Enter feedback here]

Your Docs page video is 3 years old which is a generation ago for this product. Please maintain them in line with product releases

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Independent ID: 68f01b43-e3b2-003b-24cb-446a08aa0c1b
* Content: [Create

[2021-09-25 07:37] bradleyfalzon opened #81554 "curl example missing @ in argument to --data-binary"
The Speech to Text quickstart guide has a REST example using curl, however, the syntax is every so slightly wrong.

See: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-speech-to-text?tabs=windowsinstall&pivots=programming-language-curl

The example shows:

[code]

However, the argument to `--data-binary` must contain the @ prefix in order to define that the ar

[2021-09-25 07:43] lgayhardt commented on #78028
Hi @JoshLove-msft  and @spelluru the Azure Monitor docs team likes to track work items from employees internally instead of through GitHub Issues. I made an [Azure devOps item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1880897) for this and put it on the backlog.

#please-close

[2021-09-25 07:43] #78028 closed

[2021-09-25 08:40] lgayhardt commented on #75817
Hi @blockingHD, sorry for the delay.

Supported settings for auto-instrumentation include:
 - `MicrosoftAppInsights_AdaptiveSamplingTelemetryProcessor_InitialSamplingPercentage`
 - `MicrosoftAppInsights_AdaptiveSamplingTelemetryProcessor_MinSamplingPercentage`
 - `MicrosoftAppInsights_AdaptiveSamplingTelemetryProcessor_EvaluationInterval`
 - `MicrosoftAppInsights_AdaptiveSamplingTelemetryProcessor

[2021-09-25 08:40] #75817 closed

[2021-09-25 09:49] SaiKishor-MSFT commented on #81549
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-25 12:46] AjayKumar-MSFT commented on #81546
@drdamour,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

@sffamily, Requesting your comments on this.

[2021-09-25 13:03] SrijitBose-MSFT commented on #81552
@aelij , thank you for your question. Currently, by design, the `managedCluster`'s `autoUpgradeProfile.upgradeChannel` is a map and does not accept a list. Hence, it is currently not possible to set multiple values to `autoUpgradeProfile.upgradeChannel` in an AKS cluster.

You can closely follow the AKS road map for developments on this feature [here](https://github.com/Azure/AKS/projects/1).

[2021-09-25 16:09] SubhashVasarapu-MSFT commented on #81270
@manishjha2088, Apologies for the delay in response. Yes, The Basic option let you select default ports (HTTP, HTTPS, RDP, SSH) to allow for communication. while the Advanced option lets you select or create your very own Network Security Group with predefined I/O rule set depending on the OS type as shown below,
![image](https://user-images.githubusercontent.com/44890829/134778029-7ee4475e-5aa7-4

[2021-09-25 16:09] #81270 closed

[2021-09-25 16:24] bramvdklinkenberg commented on #81519
If I am correct it is the LA agent that gets installed with Defender for Servers that is not supported with VMSS.

[2021-09-25 17:08] manishjha2088 commented on #81270
Thanks @SubhashVasarapu-MSFT

My concern was that the Microsoft doc does not show or talk about this, hence I raised this, if it shown what's the difference between the 2 , or maybe I am referring to incorrect doc, then please mark this as resolved else kindly update the documentation

[2021-09-25 17:25] BryanTrach-MSFT commented on #81550
@FabianGonzalez-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-25 17:26] BryanTrach-MSFT commented on #81551
@FabianGonzalez-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-25 17:27] BryanTrach-MSFT commented on #81553
@stoomey-coalnetwork Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-25 17:28] BryanTrach-MSFT commented on #81554
@bradleyfalzon Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-25 19:08] nickrags opened #81556 "More info needed on web socket communication"
the documentation says "if you can't connect to a notebook, ensure that web socket communication is not disabled", with no info on where or how to ensure that web socket communication is not disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25d37573-7e5e-f808-2dce-9f5efc25c3bf
* Version Independent ID: 08bd729f-

[2021-09-25 19:09] LPalmerMSI opened #81557 "Note at the top of the page is a confusing mess."
This note at the top of the page:
"This output binding does not support updating existing entities. Use the TableOperation.Replace operation from the Azure Storage SDK to update an existing entity."

Links to an Azure Cosmos DB Page.  Not to any page for Azure Table Storage.  Further, after some digging, it's apparent that the Java SDK latest version doesn't even provide Tables.  You have to drop

[2021-09-25 19:21] FormlessOne opened #81558 "Unable to view linked content without SAP or Oracle customer logins"
[Enter feedback here]
A minor point - the links to SAP and Oracle documents, for the "Certified hardware for specialized workloads" bullet point, cannot be viewed without appropriate SAP or Oracle customer logins.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64a00f8f-aa3d-18ef-88ff-2ef4bc3ce8a2
* Version Independent I

[2021-09-25 21:28] plbowers opened #81560 "description of split should specify what happens in edge conditions"
It appears that split('hello', 'nonexistent delimiter') returns a single-element array ["hello"] as might be expected, but it should be documented.

Edge conditions are WAY too important in programming to not mention them in the reference documentation!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-56ab-

[2021-09-26 00:22] BryanTrach-MSFT commented on #81556
@nickrags Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-26 00:23] BryanTrach-MSFT commented on #81557
@LPalmerMSI Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-26 00:26] BryanTrach-MSFT commented on #81558
@FormlessOne Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-26 00:28] BryanTrach-MSFT commented on #81560
@plbowers Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-26 00:35] NenoLoje opened #81563 "Link does not work: Resolve reserved resource name errors."
At the top of the page, it states:

That link does not work (it targets the page itself).

Thanks,
--Neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9-6854-651a-483c-a1673eea9f9f
* Content: [Resource naming restrictions - Azure Resource Manager](

[2021-09-26 05:08] KrishnaG-MSFT commented on #81563
@NenoLoje Thanks for the question! We are investigating and will update you shortly.

[2021-09-26 05:28] KrishnaG-MSFT commented on #81355
@afscrome Verified and updated the document as required. The update would reflect soon i.e., in less than 24 hours. Thanks again!

[2021-09-26 05:28] #81355 closed

[2021-09-26 05:30] soyfrien opened #81565 "Azure network security groups needs ICMPv6 support"
Please add ICMPv6 support. I get endless Ip6 Multicasts transmissions. Happens even on local only VMs. Actually I am constantly transmitting them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cc40617-b36e-cc24-0263-5e820d05382d
* Version Independent ID: 27dcfda7-4030-7411-dd55-f0fc6b837e5a
* Content: [Azure network

[2021-09-26 05:51] KrishnaG-MSFT commented on #81369
@MarcLaf Verified and updated the document as required. The update would reflect soon i.e., in less than 24 hours. Thanks again!

[2021-09-26 05:51] #81369 closed

[2021-09-26 06:02] KrishnaG-MSFT commented on #81418
@chrisadkin Verified and updated the document as required. The update would reflect soon i.e., in less than 24 hours. Thanks again!

[2021-09-26 06:02] #81418 closed

[2021-09-26 06:16] KrishnaG-MSFT commented on #81422
In general, the above error is seen if you don't have the cmdlet related module imported. In this case, [Az.Accounts](https://docs.microsoft.com/en-us/powershell/module/az.accounts/?view=azps-6.4.0) is the module that is related to the cmdlet [Disable-AzContextAutosave](https://docs.microsoft.com/en-us/powershell/module/az.accounts/disable-azcontextautosave?view=azps-6.4.0). So, please make sure t

[2021-09-26 06:45] PramodValavala-MSFT commented on #81565
@soyfrien Thanks for the question! We will review and get back to you!

[2021-09-26 06:57] KrishnaG-MSFT commented on #81479
@mcdan Verified and updated the document as required. The update would reflect soon i.e., in less than 24 hours. Thanks again!

[2021-09-26 06:57] #81479 closed

[2021-09-26 08:44] yicw16322 commented on #81247
Hi David

thanks a lot for your feedback! We are discussing and working on this. Will keep you update.

[2021-09-26 09:14] dazfuller commented on #81178
Apologies, as an update to this it's probably worth looking at how this is presented. Buried in one of the other pages is a link to the [Microsoft Spark Utilities](https://docs.microsoft.com/azure/synapse-analytics/spark/microsoft-spark-utilities?pivots=programming-language-python), which provides a wrapper over the top of the TokenLibrary and a lot of other useful features. This should probably b

[2021-09-26 09:49] Ponant opened #81566 "Difference between SN-Noop and nothing"
if SN-Noop does nothing, then why include it? There must be a difference between having this technical profile somehwere and not having at all, but what?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a542986-5eda-2cdd-180a-ecdd748b6ef6
* Version Independent ID: d535e4db-5f33-ab9b-9196-6a1e0c7a551b
* Content: [Single

[2021-09-26 12:13] PramodValavala-MSFT commented on #81566
@Ponant Thanks for the question! We will review and get back to you!

[2021-09-26 12:59] SrijitBose-MSFT commented on #81475
@chiraggowda , can please be more specific about the ask?

[2021-09-26 17:13] rpilot opened #81568 "Azure File Sync not relevant"
It's strange to see the reference to Azure File Sync in the Phase 1 and Phase 2 while it is not in use in this scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92efe892-298d-6e89-d2ee-f9cc8eb0aea4
* Version Independent ID: 45081147-a2f8-2b3e-b633-c8558d138be0
* Content: [Migrate to Azure file shares using RoboC

[2021-09-26 18:30] bubba198 commented on #34672
Hi everyone,
Any update on getting the basic gateway pricing structure for basic, standard and performance?

![image](https://user-images.githubusercontent.com/10265342/134819752-d4887f34-53d5-4a1c-894a-1e0390bb77b6.png)

[2021-09-26 19:49] psoukal-ms opened #81569 "Uservoice decommissioned - two links in the article need to be removed/updated"
Good morning,

My customer has indicated the references to UserVoice are no longer valid. Can these be removed/updated? Please provide an alternate method to provide the feedback requested.

Thanks,
Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7235bd07-1172-ac6a-3dab-0200fd73bd87
* Version Independent ID: 9620b

[2021-09-26 20:18] prashant1380 opened #81570 "Auto-Forward email"
What happens in a scenario when an external guest user leaves partner company but configured auto-forward rule for emails before leaving the company? Obviously we are assuming that partner company did not disable the mailbox for initial few days.
So guest user enters email address to access resources shared by inviting tenant, OTP is sent to registered email but then it is auto-forwarded to some o

[2021-09-26 23:37] pnarsi commented on #76176
@MashaMSFT - Thanks, so we need to whitelist both the IP addresses and the subnet? I can see that the documentation now has a new note to reflect this fact now however the commentary in the paragraph before mentions subnets only. I would suggest tweaking that wording as well.

![image](https://user-images.githubusercontent.com/7891408/134828128-a5433b43-84b7-4880-b562-77d005615a6c.png)

[2021-09-26 23:57] sr-msft commented on #71666
#close

[2021-09-27 01:04] kohei-miyoshi commented on #81215
Hello.
How's going?

[2021-09-27 01:21] edwardkuo opened #81571 "Express Route not support to access MCR?"
We build a Express route to access azure service via Microsoft Peering and we also pull image on ACR. If we need pull image from MCR, I found we can read / access MCR address. Another MCR also is exist in azure data center, why we can't pull it when we use the Express route

[2021-09-27 01:40] MonikaReddy-MSFT commented on #81571
@edwardkuo - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-09-27 01:52] edwardkuo commented on #81571
Thanks for your reminder, I will move to Stack Overflow

[2021-09-27 02:27] MonikaReddy-MSFT commented on #81571
@edwardkuo - Sure thank you for the response. You can always post your question in[ Microsoft QnA ](https://docs.microsoft.com/en-us/answers/index.html)as well .

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2021-09-27 02:27] #81571 closed

[2021-09-27 02:29] ShawnTheCoder opened #81572 "ACU of Fsv2-series"
Hi team,
I have a question regarding the ACU of Fsv2-series.
According to the document, "Fsv2-series: runs on Intel® Xeon® Platinum 8272CL (Cascade Lake) processors and Intel® Xeon® Platinum 8168 (Skylake) processors. It features a sustained all core Turbo clock speed of 3.4 GHz and a maximum single-core turbo frequency of 3.7 GHz."
I checked the two CPU SKU and they have a base frequency of 2.7GH

[2021-09-27 02:37] matt-goldman commented on #60565
In my case this was because I was trying to use an unsupported region. For anyone else wondering this is currently only available in `westus`.

[2021-09-27 02:49] #81490 closed

[2021-09-27 03:09] VikasPullagura-MSFT commented on #81572
@ShawnTheCoder
Thanks for your Question! We are currently investigating and will get back on this.

[2021-09-27 03:14] vTa47 opened #81573 "Details on custom domain name suffix"
Hello,

It is not enough clear for me on the custom domain name section.
Can we create a very custom managed domain (even if the DNS domain name is managed by an external DNS server like Google ?).
For example, I have contoso.com managed by Google DNS servers and I subscribe to Azure ADDS and want to create a subdomain like aadds.contoso.com directory domain name, what DNS entries do I need to cre

[2021-09-27 03:46] PramodValavala-MSFT commented on #81568
@rpilot Thanks for the feedback! We will review and update accordingly.

[2021-09-27 03:46] PramodValavala-MSFT commented on #81569
@psoukal-ms Thanks for the feedback! We will review and update accordingly.

[2021-09-27 03:46] PramodValavala-MSFT commented on #81570
@prashant1380 Thanks for the question! We will review and get back to you!

[2021-09-27 03:48] PramodValavala-MSFT commented on #81573
@vTa47 Thanks for the question! We will review and get back to you!

[2021-09-27 04:31] DavidCBerry13 commented on #81545
#reassign: DavidCBerry13

[2021-09-27 04:31] swinarko commented on #81477
Our doc will be updated.  #please-close

[2021-09-27 04:31] #81477 closed

[2021-09-27 04:47] DavidCBerry13 commented on #81545
@Structed  - Thanks for pointing this out.  I've put in a fix and it should get published on Monday.

[2021-09-27 04:52] DavidCBerry13 commented on #81545
This is the PR --> https://github.com/MicrosoftDocs/azure-docs-pr/pull/173616

[2021-09-27 05:19] SwathiDhanwada-MSFT commented on #81288
Thanks @Klaas- for detailing the issue.

@yanivlavi Can you please your inputs on this issue?

[2021-09-27 05:33] chiraggowda commented on #81475
@SrijitBose-MSFT
When I tried to create an ARO cluster using the below command,  I am getting insufficient privilege access.

I have "Owner", "Contributor", "User Access Administrator" on subscription level.

az aro create --resource-group ABC
              --name AROCluster
               --vnet vnet
              --master-subnet master-subnet
              --worker-subnet worker-subnet

[2021-09-27 05:36] SadiqhAhmed-MSFT commented on #81515
@aleks-noname Are there any questions that we can help with?

[2021-09-27 05:37] SadiqhAhmed-MSFT commented on #81485
@ababdul Hope the previous post by @Harsha-CS helped answer your question. Feel free to ping if you've any further questions in this matter.

[2021-09-27 05:38] SadiqhAhmed-MSFT commented on #81429
@PaulShay66 We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-09-27 05:38] #81429 closed

[2021-09-27 05:47] FabianGonzalez-MSFT opened #81574 "Please add more clarification in Azure App Service Supported scenarios"
It would be great to add a note that explains that App Service is trusted only under Web App Certificate Deployment as many customers wrongly think their App Service itself should be trusted. Something like this from Sean Barnes:

"App services are part of azure trusted services https://docs.microsoft.com/en-us/azure/key-vault/key-vault-overview-vnet-service-endpoints#trusted-services, however, it

[2021-09-27 05:50] dingmeng-xue opened #81575 "Search-AzGraph -First maximum value"
[Enter feedback here]
Following the discussion of https://github.com/Azure/azure-powershell/issues/15955 . The doc should be corrected . The maximum value of `-First` is 1000 instead of 5000.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5c0115d-13e2-a96c-466d-84634b1aa6f3
* Version Independent ID: ec0c3fb4-442a-95d4

[2021-09-27 06:08] #81415 closed

[2021-09-27 06:19] SaiKishor-MSFT commented on #81408
@lbimsft Thank you for pointing this. This is a constraint for any resource name in Azure. Therefore, we need to update the general  documentation for resource names. Please allow me sometime to do this. Thank you!

[2021-09-27 06:30] jeroenmaes commented on #69658
I experienced the same thing...

[2021-09-27 06:38] SrijitBose-MSFT commented on #81552
@aelij , is there any further queries on this?

[2021-09-27 06:44] aelij commented on #81552
No, thanks for the pointer to the roadmap

[2021-09-27 06:44] #81552 closed

[2021-09-27 06:50] DebashishSarkar opened #81576 "Fix spelling of unavailable"
Current text contains unavilable , it should be unavailable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 139a721d-cf90-8b72-f344-9bdf9b2f9738
* Version Independent ID: b2afbc24-ebfc-b225-ee4a-8eaa27838cd0
* Content: [High availability in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/high-availabi

[2021-09-27 06:54] DebashishSarkar commented on #81576
![image](https://user-images.githubusercontent.com/6063546/134858908-ffbb1915-4d9f-43aa-8390-643551794cef.png)

[2021-09-27 07:04] Vanshata17 opened #81578 "Durable functions"
•	Takes a root Directory value as an input parameter.
•	Calls a function to get a recursive list of files under root Directory.
•	Makes multiple parallel function calls to upload each file into Azure Blob Storage.
•	Waits for all uploads to complete.

[2021-09-27 07:12] psmanhas commented on #69658
As per the latest update from our internal team the release has been pushed to December of this year.

Thanks

[2021-09-27 07:15] vishnu254 opened #81579 "Linked Service connection issue"
Hi Team

I am getting the below error when I try to create a linked service for dynamics AX.

Failed to create odata connection to RequestUrl. Supported content type could not be found from response of serviceurl or serviceurl+"/$metadata", please check the response from your other client such as browser. A supported MIME type could not be found that matches the content type of the response. None

[2021-09-27 07:16] AnuragSingh-MSFT commented on #80912
@wjdavis5, we will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-09-27 07:34] AnuragSharma-MSFT commented on #81576
@DebashishSarkar Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-27 07:37] AnuragSharma-MSFT commented on #81499
@MaraSteiu Thanks for making the changes.

@VitalyMCT This change will be available in few days as fixed by @MaraSteiu.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-27 07:41] AnuragSharma-MSFT commented on #81410
@t-htsuchiya Thanks for reporting this. I can see the contradiction in the documents. This is being assigned to the content author to evaluate and update as appropriate.

[2021-09-27 07:47] SwathiDhanwada-MSFT commented on #81575
@dingmeng-xue Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-27 07:48] VikasPullagura-MSFT commented on #81572
@ShawnTheCoder I cross checked with internal team to get this clarified.

The difference in ACU for the VM SKU's you mentioned Fs & Fsv2 is of the Hyper Threading.
Fs is non-HT and Fsv2 is HT (hyper-thread) version.

However, team is working on the Fsv3 to improve our CPU performance in the next release. There is no date that can be shared at this point on the availability.

As an example,
[Dsv2](

[2021-09-27 07:48] VikasPullagura-MSFT commented on #81572
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2021-09-27 07:48] #81572 closed

[2021-09-27 08:01] SubhashVasarapu-MSFT commented on #81275
@Ravnsgaard, Appreciate your patience. Could you please let us know your CDN type whether it is from Microsoft or Verizon? If it from Microsoft then LTS --> London(UK). Also, we are actively working on updating the doc with newly emerged POP locations.

[2021-09-27 08:24] baatch commented on #74826
Hi again,

I just tried this out now. When going through the Data Factory UI and browsing the notebook the path to the notebook becomes:

/repos/<user_name>/<project_name>/<folder>/<notebook>

If I try to modify it to your suggestion above:

/repos/<project_name>/<branch_name>/<folder>/<notebook>

it fails with notebook not found.

Please show screenshots of notebook path in Data Factory and corre

[2021-09-27 08:47] mosbahmajed opened #81582 "Install azurefile CSI driver on a Kubernetes cluster missing manually"
We found that how to do this is not available in the Microsoft or azure docks. It might be a good suggestion to add how to this to the documentation.

Since now it was just some random persons blog and some luck.

We found how to get the drivers in by:

https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-driver-on-aks.md

https://bottkars.github.io/AzureStack-Hub-CSI-d

[2021-09-27 08:53] baatch commented on #80692
The instructions in the link are not complete and does not show how to run notebook in a specific branch through Data Factory.

[2021-09-27 08:58] psmanhas commented on #81582
@mosbahmajed Can you please check and add your comments on this doc update request as applicable

[2021-09-27 08:59] psmanhas commented on #81582
@palma21 Can you please check and add your comments on this doc update request as applicable

[2021-09-27 09:05] xiaolongou opened #81583 "kubectl apply -f kubectl apply -f https://raw.githubusercontent.com/Azure/azure-k8s-metrics-adapter/master/deploy/adapter.yaml -n custom-metrics"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b63a79cb-cc95-2135-2eee-4dbacaebb9b0
* Version Independent ID: 57506d98-9be9-bc9c-0e57-687f2f595236
* Content: [Autoscale AKS pods with Azure Application Gateway metrics](https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-au

[2021-09-27 09:05] baatch opened #81584 "Instructions on how Azure Data Factory (ADF) support Databricks Repos? #80692"
@baatch Please check the GitHub issue addressing similar issue: https://github.com/MicrosoftDocs/azure-docs/issues/74826

_Originally posted by @CHEEKATLAPRADEEP-MSFT in https://github.com/MicrosoftDocs/azure-docs/issues/80692#issuecomment-914130220_

The instructions in the link are not complete and does not show how to run notebook in a specific branch through Data Factory.

[2021-09-27 09:16] TammyMGI opened #81585 "Azure AD B2C - Single Signout Issue"
Hi all,

Our team has used **Azure B2C- User flow- Open ID Connect** to build the Single-sign on. Now, when moving to the Single Sign out, we have some issues.

We follow the instruction of Azure doc, but it doesn't work functionally. We have 2 applications under one tenant, when we tried to test the Single sign-out, we signed out one A. However, another app B is not automatically signed out as it

[2021-09-27 09:20] spygi commented on #80913
Pinging again for an update/review here. Thank you, Spyros

[2021-09-27 09:26] sumitmalik51 opened #81587 "unrecognized arguments: --azure-subscription"
While deploying the Data controller the command is not accepting the --azure-subscription argument. The command is working fine without this argument and selecting the default subscription from the Kube profile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4faf8fa-22ec-283d-24f9-26f5603ac404
* Version Independent ID

[2021-09-27 09:30] Ravnsgaard commented on #81275
@SubhashVasarapu-MSFT This was in the Frontdoor Logs, so Microsoft CDN.
Out of curiosity, what are the additional new POPs? We are maintaining an internal reference list, so would like to update that to be complete.

[2021-09-27 09:45] SubhashVasarapu-MSFT commented on #81387
@davetapley, Appreciate your patience. For X.509 certificate-based tunnel it is mandatory to generate certificates for both CA and the respective clients. So, while generating client specific certificates the author tried to name those client certs and keys with available variables using export command. In Linux we use export command to pass variables like username and password to the child proces

[2021-09-27 09:45] #81387 closed

[2021-09-27 09:47] shashishailaj commented on #81574
@FabianGonzalez-MSFT Thank you for your feedback . We will investigate and update the thread .

[2021-09-27 09:53] SubhashVasarapu-MSFT commented on #81275
@Ravnsgaard, yes, there is no official update yet on this. The respective product owners will work on this. Please stay tuned.
Do you still have any questions on this or are we good to close this issue?

[2021-09-27 09:58] sijucm opened #81588 "Rotating the keyvault secret does not make functions use the latest version of secret"
This pages says the following:
"If a version is not specified in the reference, then the app will use the latest version that exists in Key Vault. When newer versions become available, such as with a rotation event, the app will automatically update and begin using the latest version **within one day**. Any configuration changes made to the app will cause an immediate update to the latest versions

[2021-09-27 10:03] SaiKishor-MSFT commented on #81478
@fillip1983 The section below Associate the custom domain with your CDN endpoint, makes no mention of the cdnverify subdomain because this is a temporary mapping and as per the step where you [map-the-permanent-custom-domain](https://docs.microsoft.com/en-us/azure/cdn/cdn-map-content-to-custom-domain?tabs=dns-provider%2Cazure-portal%2Cazure-portal-cleanup#map-the-permanent-custom-domain), it menti

[2021-09-27 10:13] Ravnsgaard commented on #81275
Sure, lets close then

[2021-09-27 10:13] #81275 closed

[2021-09-27 10:18] SwathiDhanwada-MSFT commented on #81587
@sumitmalik51 Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-27 10:22] miqm opened #81589 "Description of PartitionKey and RowKey are not useful"
description of PartitionKey and RowKey references to usage section which does not contain any useful information.

Is this the name of the default partitionKey applied to the data, or is it the name of the JSON key which is used as partition key or is this value of the partitionKey applied to all data saved by the binding regardless of setting it in the code?

---
#### Document Details

⚠ *Do not

[2021-09-27 10:29] yutaro113 opened #81590 "Reason why Health Check status kept displayed as "Waiting for health check response" wanted to be mentioned in the FAQ section"
Hi Team, I have doc update request.

When enabling Health Check feature, sometimes we see message "Waiting for health check response" in overview blade.

![image](https://user-images.githubusercontent.com/36602021/134891094-fddfe59e-ec07-499a-aa8e-b5f49e08ed41.png)

As far as I tested this feature, this error seems to be shown when app never get health check succeeded response internally.
For exam

[2021-09-27 10:33] aleks-noname commented on #81515
@SadiqhAhmed-MSFT, no, thank you.
As you suggested I will go to support team.

[2021-09-27 10:38] yutaro113 opened #81591 "Detail of graceful shut down while Scaling In wanted to be mentioned."
Hi Team, I have doc enhancement request.

When Scaling In is executed ( for both manual and auto),  how will the ongoing request handled?
I think it will be terminated in the graceful manner (request can have some seconds to finish processing and then instance will be terminated).

If so, that detail wanted to be mentioned.
Many use is concerning about downtime during scaling operation so I think

[2021-09-27 10:50] amanmcse commented on #81566
@Ponant This is answered by Jas [here](https://stackoverflow.com/questions/69333809/difference-between-sm-noop-and-nothing).
 SM-Noop explicitly states to not include the technical profile as part of the session. If session management technical profile reference is absent from a technical profile, the result should be the same, but better to be explicit.

[2021-09-27 10:50] #81566 closed

[2021-09-27 10:57] SubhashVasarapu-MSFT commented on #81481
@krishna-doss-mohan, Appreciate your patience. There is no issue with the links provided. Please do download the IP ranges list from the site.

**Public:**
![image](https://user-images.githubusercontent.com/44890829/134895572-3d4ca434-5ae7-4ad5-b893-c46d74101c80.png)

**Gov:**
![image](https://user-images.githubusercontent.com/44890829/134895666-2e479c5c-fe03-4569-a675-b03fb388d103.png)

We are cl

[2021-09-27 10:57] #81481 closed

[2021-09-27 11:01] shashishailaj commented on #81585
@TammyMGI Thank you for your feedback . We will investigate and update the thread.

[2021-09-27 11:02] SadiqhAhmed-MSFT commented on #81515
@aleks-noname We will now close this issue from our end. Appreciate if you could share the solution with us once the issue is resolved with the help of Azure technical support team.

Thanks!

[2021-09-27 11:02] #81515 closed

[2021-09-27 11:11] SubhashVasarapu-MSFT commented on #81583
@xiaolongou, Thanks for reaching out. We will investigate and update this thread.

[2021-09-27 11:16] thrubovc commented on #80742
I think this parameter is intended to remain hidden from the public as it's intended for troubleshooting.
But I'll say here what I know - we were directed by Azure to use it as some of our functions needed to talk to `login.microsoftonline.com` and the DNS answers that came back were too large for UDP (over 512 bytes), while DNS queries over TCP were forbidden (I think). We worked around this by c

[2021-09-27 11:16] amanmcse commented on #81570
@prashant1380 If the invitation email is sent to user@abc.com, it can only be redeemed by the same account. If the user forwards the invite to user@xyz.com and tries to redeem the invite using new account, he/she will not get the option to change the email address on the sign-in page during invitation redemption. If user is unable to authenticate via user@abc.com, invitation redemption will fail.

[2021-09-27 11:16] #81570 closed

[2021-09-27 11:23] ram-msft commented on #81417
@marki555 Thanks, Please follow the sample in GitHub for python. https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/python/console/speech_language_detection_sample.py

[2021-09-27 11:31] v-hagamp commented on #79788
We are updating this change in the document.
#please-close

[2021-09-27 11:31] #79788 closed

[2021-09-27 11:59] MonikaReddy-MSFT commented on #81578
@vanshata17 - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-09-27 12:00] MonikaReddy-MSFT commented on #81584
@baatch - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-27 12:14] GitaraniSharma-MSFT commented on #81522
@red-erik , you can make use of Azure custom roles to define the permissions required for Bastion and then assign the same to management group (in preview only), subscription, and resource group scopes, where your VMs are deployed.
Reference : https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles
https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles-

[2021-09-27 12:14] MS-rav0kk opened #81592 "CAP - Controls precedence"
[Hello Team!

I was wondering if would be possible to have something on this documentation regarding the precedence over multiple controls applied on the same policy with the "OR" applied.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a92-f996-56b9557f49ac
* Version Independent ID: 3cda6b81-26e8-c9ac-e

[2021-09-27 12:17] aleks-noname commented on #81515
Unfortunately on my Free Trial subscription I don't have technical support.
If I will faced with issue in my production environment I will rise up this question again.

[2021-09-27 12:32] SadiqhAhmed-MSFT commented on #81515
@aleks-noname Please send us an email at AzCommunity @ Microsoft dot com with subject: Attn: Sadiqh Ahmed with your subscription ID and a link to this forum thread for context.

[2021-09-27 12:39] rlamba89 commented on #68072
@JamesTran-MSFT Any idea if multi tenant ever going to be supported in user flow?

[2021-09-27 12:49] krishrocks1904 opened #81594 "Storage accounts are not showing IP Address, VNET Subnet, and private-endpoint from the network settings options"
Storage accounts are not showing IP Address, VNET Subnet, and private-endpoint from the network settings options

Is this a bug now in storage account from Azure portal ?
![image](https://user-images.githubusercontent.com/67486994/134911101-6b500748-9a17-41a2-afc3-c0a9b1a1355c.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-09-27 12:50] MS-rav0kk commented on #81592
As far as I know, the most restrictive is applied, but it would be great to have this "scale" or "score" for each control.
If there is any, please ignore this.

[2021-09-27 12:58] #81011 closed

[2021-09-27 12:58] #74936 closed

[2021-09-27 13:00] HitenBhavsarMSFT commented on #81477
@PRMerger7 @swinarko
Do we know when the doc will update?

[2021-09-27 13:23] wjdavis5 commented on #80912
@AnuragSingh-MSFT  - Apologies, I've been on holiday.

Your response:

Microsoft.Azure.ServiceBus: NamespaceConnectionString should not contain EntityPath. (Parameter 'namespaceConnectionString').
I might be missing something here. Can you please provide additional details regarding it?

Just as the error message suggests you should not be supplying the EntityPath in the connectionstring.

[2021-09-27 13:30] ElanShudnow opened #81595 "Very confusing and conflicting page"
This article is about Robocopying files to Azure Files.  Why do the earlier phases talk about Azure File Sync?

On this page (https://docs.microsoft.com/en-us/azure/storage/files/storage-files-migration-overview) you can see it discusses to migrate (non-hybrid) to Azure Files, you can use either Robocopy or Azure File Sync.  However, the page here (https://docs.microsoft.com/en-us/azure/storage/fi

[2021-09-27 13:33] ram-msft commented on #81417
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-27 13:33] #81417 closed

[2021-09-27 13:38] tfitzmac commented on #81563
@NenoLoje - thanks for making us aware of this error. I will fix it.

[2021-09-27 13:56] tfitzmac commented on #81563
The update has been merged and should get published today.
#please-close

[2021-09-27 13:56] #81563 closed

[2021-09-27 14:00] andneto2301 opened #81596 "Wrong reference"
Wrong reference.

In section "Can I make guest users visible in the Exchange Global Address List?" the answer refers under "...See Can I make guest objects visible in the global address list?" but the link redirect us to a page that is not related to the topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234804b8-f8

[2021-09-27 14:02] SaiKishor-MSFT commented on #81549
@NjGarg As per [Rule processing using Firewall Policy](https://docs.microsoft.com/en-us/azure/firewall/rule-processing#rule-processing-using-firewall-policy),
Rules are processed based on Rule Collection Group Priority and Rule Collection priority. Priority is any number between 100 (highest priority) to 65,000 (lowest priority). Highest priority Rule Collection Groups are processed first. Inside

[2021-09-27 14:03] SaiKishor-MSFT commented on #81549
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-27 14:03] #81549 closed

[2021-09-27 14:19] zahaim opened #81597 "error in the example command `az blueprint create`"
Please replace:

[code]

with

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59513fae-b2b2-6c59-6f95-d53f331a7647
* Version Independent ID: a284357c-fff3-92de-0b15-155019f3106b
* Content: [Quickstart: Create a blueprint with Azure CLI - Azure Blueprints](https://docs.microsoft.com/en-us/azure/governance/bluepri

[2021-09-27 14:20] #81597 closed

[2021-09-27 14:20] zahaim commented on #81597
Sorry my bad

[2021-09-27 14:21] NicolasPSQ commented on #81359
And sorry, which is the difference? If i block who can create Groups in Azure AD, then no one caould create Groups anywhere, right?

[2021-09-27 14:24] ahmedrafeq commented on #76412
Hello,
Running into the same issue.
Since the legacy AAD Graph is planned to be deprecated in June 2022, we are unable to add such permissions to the registered app.
![AAD Graph - Deprecated](https://user-images.githubusercontent.com/44066538/134927499-c26260b1-7998-491d-8687-4eb7efe41795.png)

Thanks!
AR

[2021-09-27 14:38] Pryorite opened #81598 "Can you have two ismatch calls using "and" operator?"
This will not return anything.  Am I doing something wrong or is this not part of the syntax?

Filter = search.ismatch('"Bob"', 'Name') and search.ismatch('"D"', 'Address')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 952c30d2-a5ca-40b1-2caf-26285d261131
* Version Independent ID: a8f93577-22fe-0bfb-f87d-d6e368ea4fee

[2021-09-27 14:39] SaurabhSharma-MSFT commented on #81579
@vishnu254 Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-27 14:42] Shr3ps commented on #81594
It seems that also "lifecycle" tab is missing on Azure portal too.

[2021-09-27 14:43] zaalion opened #81599 "The resource provider referenced in the action is not returned in the list of providers from Azure Resource Manager."
[Enter feedback here]
 I am trying to assign this action [microsoft.directory/applications/allProperties/read] in my custom role, but I get the following message:
The resource provider referenced in the action is not returned in the list of providers from Azure Resource Manager.

[microsoft.directory] is not a valid role name , so I registered the following providers with NO LUCK.

Register-AzReso

[2021-09-27 14:54] azaricstefan commented on #80428
Hi @Briwalkr

Did you create the external data source as specified [here](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/query-parquet-files#data-source-usage)?

This data set is public.
What client are you using? Synapse Studio? SSMS? ADS?

[2021-09-27 15:00] Klaas- opened #81600 "rhel8 incorrect rhsa links and classifications"
Hi,
I am seeing incorrect update classification and rhsa links for rhel8: for eaxmple:
"kernel | Critical updates | RHSA-2021:3436;RHSA-2021:3057"
installed kernel is 4.18.0-305.17.1.el8_4.x86_64 update is 4.18.0-305.19.1.el8_4

https://access.redhat.com/errata/RHSA-2021:3436 is not a kernel update but a live patch
https://access.redhat.com/errata/RHSA-2021:3057 is a kernel update, but for 4.18.0-

[2021-09-27 15:06] BharathNimmala-MSFT commented on #81285
@pnl0ep7f Our sincere apologies for delay in getting back to this thread. To best of my understanding currently the common alert schema are limited with defined attributes/fields only. However in [the documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/alerts-common-schema#what-is-the-common-alert-schema) it has been called out as below.

`Additionally, future alert payload

[2021-09-27 15:09] pnl0ep7f commented on #81285
Thank you @BharathNimmala-MSFT  for the update

[2021-09-27 15:09] spelluru commented on #81191
@serkantkaraca - could you respond as soon as you can? Thanks!

[2021-09-27 15:20] jeffpatt24 commented on #81569
Doc has been updated.

We're creating another site to provide feedback. For now, please share your feedback on the Answers forum: https://docs.microsoft.com/en-us/answers/topics/azure-files.html

[2021-09-27 15:20] jeffpatt24 commented on #81569
#please-close

[2021-09-27 15:20] #81569 closed

[2021-09-27 15:21] JamesTran-MSFT commented on #81596
@andneto2301
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-27 15:21] jorge-ataide opened #81601 "Outdated link"
In the line below, there's a link to a page that is not updated anymore.

""Learn more about Azure geographies at the **Azure datacenter map**.""

By clicking on the link, there's an advice that we should go to another place to verify this information.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-09-27 15:22] simonkurtz-MSFT opened #81602 "App Gateway NSG does not allow inbound 443"
This documentation is fantastic and very thorough, but the one missing piece is the inbound traffic on 443 into App Gateway is not opened up. Credit goes to @smithers54 for identifying this. I will submit a PR for this shortly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-44c2-bd07-4c74-9d4c77c45e6e
* Versio

[2021-09-27 15:27] JamesTran-MSFT commented on #81592
@MS-rav0kk
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-27 15:28] #81198 closed

[2021-09-27 15:31] KarlErickson commented on #70666
#reassign:@v-kevinmic

[2021-09-27 15:32] KarlErickson commented on #70666
#assign:karlerickson

[2021-09-27 15:36] jorge-ataide opened #81604 "Outdated info?"
In this FAQ, it is stating that AVD does not support guest users.

But, in the below, it tells how you can stream Desktop and RemoteApp to external users.
https://docs.microsoft.com/en-us/azure/virtual-desktop/remote-app-streaming/licensing

Is this FAQ up to date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 058c0a6

[2021-09-27 15:38] SamaraSoucy-MSFT commented on #81311
The outputs are entirely separate and behave the same way that they would if you only returned on or the other.

[code]

[2021-09-27 15:38] #81311 closed

[2021-09-27 15:39] jorge-ataide commented on #65649
Hello @whoward-msft, @Heidilohr! Could you help us?

This is a very important topic that we need to clear up.

Thanks.

[2021-09-27 15:40] TomoharuMisawa opened #81605 "A maximum of 400 role-assignable groups? A maximum of 300 role-assignable groups?"
[Enter feedback here]
Its syas "A maximum of 400 role-assignable groups can be created in a single Azure AD organization (tenant)."  in Group.

but Japanese.
"1 つの Azure AD 組織 (テナント) には、最大 300 個のロール割り当て可能なグループを作成できます。"

400?
300?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42a0b4cb-1981-1cbc-ce2c-dbfd8af1527c
* Vers

[2021-09-27 15:44] asergaz commented on #80812
@avidunixuser I found a missing `});` in the code from this docs tutorial. Fixing it with a Pull Request. Thanks!

[2021-09-27 15:51] #80812 closed

[2021-09-27 15:55] #81488 closed

[2021-09-27 16:07] asergaz commented on #81158
#sign-off

[2021-09-27 16:08] davidmu1 commented on #77242
The values and their requirements can vary depending on the application being added. For each application in the gallery, there is an article that explains what is required to add it: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/tutorial-list. The page referenced in this issue has been retired and the link has been redirected to: https://docs.microsoft.com/en-us/azure/active-d

[2021-09-27 16:09] #81158 closed

[2021-09-27 16:10] davidmu1 commented on #77242
#please-close

[2021-09-27 16:10] #77242 closed

[2021-09-27 16:12] joataid opened #81606 "External identities support"
"Azure Virtual Desktop currently doesn't support external identities."
Is this up to date?

In the doc below, it tells how you can stream Desktop and RemoteApp to external users, so it seems supported.
https://docs.microsoft.com/en-us/azure/virtual-desktop/remote-app-streaming/licensing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-09-27 16:17] davidmu1 commented on #77247
The Name ID is defaulted to user.userprincipalname, but if, however, email was the unique identifier, you could set it to user.mail (aka the email). user.userprincipalname is generally used because some users in Azure AD might not have an email address. The page that is referenced in this issue has been retired and the link is redirected to https://docs.microsoft.com/en-us/azure/active-directory/d

[2021-09-27 16:17] ChaitanyaNaykodi-MSFT commented on #81500
We will now proceed to close this issue out, please tag me in your response if there are any additional concerns. Thank you!

[2021-09-27 16:17] #81500 closed

[2021-09-27 16:17] davidmu1 commented on #77247
#please-close

[2021-09-27 16:17] #77247 closed

[2021-09-27 16:25] mike-urnun-msft commented on #81589
Hello @miqm - Thank you for your feedback! We will review and update as appropriate.

[2021-09-27 16:26] serkantkaraca commented on #81191
@bitmasksn, you are mainly focusing on data replication. Availability doesn't boil down to data replication only. There are many other components in service multi-tier architecture that can experience issues that may severe partition availability. That is why it is always recommended to avoid sending events to a certain partition if higher availability is desired. Long story short, eventhubs avail

[2021-09-27 16:35] DerekHerman-MSFT commented on #81595
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-27 16:40] davidmu1 commented on #80355
Unfortunately, the issue described does not seem to be related to the referenced article. There is no discussion of information protection in the article about configuring the admin consent workflow. I'm not able to identify the doc that might be affected. Please submit your question to: https://office365.uservoice.com/forums/928576-microsoft-information-protection-mip. Or, if you still believe it

[2021-09-27 16:40] davidmu1 commented on #80355
#please-close

[2021-09-27 16:40] #80355 closed

[2021-09-27 16:40] DerekHerman-MSFT commented on #81595
There is a current issue with Storage Accounts. The issue can be tracked here: https://app.azure.com/h/HV8P-5CG/b8323f

[2021-09-27 16:45] JackStromberg commented on #75753
These docs appear to be translated.  Is this issue still valid?
@vhorne @bangdu-ms

[2021-09-27 17:06] DerekHerman-MSFT commented on #81594
A current issue with Storage Accounts is being worked on. If you are affected you can track this issue on the Service Health page. https://app.azure.com/h/HV8P-5CG/6d6313

[2021-09-27 17:06] Karishma-Tiwari-MSFT commented on #81601
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-09-27 17:08] MarileeTurscak-MSFT commented on #81599
@zaalion
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-27 17:12] SwathiDhanwada-MSFT commented on #81600
@Klaas- Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-27 18:03] SrijitBose-MSFT commented on #81475
@chiraggowda , thank you for your response. Can you please share the output from your `az aro create` command adding `--debug` flag.

**Note:** Please redact all sensitive information from the output before commenting on this thread.

[2021-09-27 18:13] rolyon commented on #77105
Hi @pemsft
Thanks for your feedback about the the transfer subscription doc. We’ve created an item in our backlog to look into this.
thanks

[2021-09-27 18:13] rolyon commented on #77105
#please-close

[2021-09-27 18:13] #77105 closed

[2021-09-27 18:14] thesheebs opened #81609 "Why would a user get error_try again - The phone number you provided is busy or unavailable. Please check the number and try again."
On MFA localization on this page, there is an id, error_tryagain, but no information as to why a user would receive this message.
The message is:
The phone number you provided is busy or unavailable. Please check the number and try again.

We have users reporting getting the message when they use "call me" on MFA, but unsure why this would happen.

---
#### Document Details

⚠ *Do not edit this se

[2021-09-27 18:19] RonMatsu opened #81610 ""Messages can't be routed to other devices.""
This article (and other promotional materials for Azure IoT) clearly states that we can "Use AI services locally to process data coming from downstream devices without sending full-fidelity telemetry to the cloud."

However after wading through dozens of articles over hours of reading, it doesn't appear that's even possible. In fact this article: https://docs.microsoft.com/en-us/azure/iot-edge/mod

[2021-09-27 18:22] SatishBoddu-MSFT commented on #81610
Hello @RonMatsu Thanks for the feedback on your experience with the Content.

Our SME will review your feedback soon.

[2021-09-27 18:30] BryanTrach-MSFT commented on #81590
@yutaro113 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-27 18:35] marcemontero opened #81612 "Add soft delete on documentation"
Hi,

I am working with a customer that wants to unregister his SQL Server instances following the steps shown in:
https://docs.microsoft.com/en-us/azure/backup/manage-monitor-sql-database-backup

He brought to our attention that on the documentation it didn't say anything about soft-delete and asked for it to be included on this site. Could you mention on this documentation the following:

_Before

[2021-09-27 18:39] prashant1380 commented on #81570
Thanks for your comments.
Yes, invitation redemption will fail when external user is invited and trying to get access for the first time but what if external guest user is already present in inviting tenant and just try to sign next day considering OTP based session lives for only 24 hours? So in this scenario, next day guest user left partner company and try to sign in with partner company email

[2021-09-27 18:59] MonikaReddy-MSFT commented on #81588
@sijucm - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-27 19:20] bitmasksn commented on #81191
@serkantkaraca, thanks for the reply.

Yes, this is the reason I asked the question. It's not just about having a replica of the partition data, it's about how the cluster manages (e.g. partition leader election) and uses (e.g. consistency configuration) those partitions . In kafka this is all configurable, but in eventhub this is all unknown. If a partition in one AZ fails (_not_ the failure of a

[2021-09-27 19:24] onderyildirim commented on #79141
@AshokPeddakotla-MSFT I have the same problem even after iot edge simulator is setup successfully.

Project file already contains

  <ItemGroup>
    <ProjectCapability Include="AzureIoTEdgeModule"/>
  </ItemGroup>

and launch.json local debug settings are below
    {
      "name": "CSharpModule Local Debug (.NET Core)",
      "type": "coreclr",
      "request": "launch",
      "program": "${worksp

[2021-09-27 19:26] philipcj opened #81615 "Mistake in Use attribute [SignalRParameter] to simplify ParameterNames"
According to the method prototype in visual studio, you have got this wrong. I am spending a lot of time working out what the correct answer should be.
This is my code:
     [FunctionName("longrunningtask")]
        public static void LongRunningTask([SignalRTrigger("TestHub", "messages", "longrunningtask")] InvocationContext invocationContext,
            [SignalRParameter] string message, ILogge

[2021-09-27 19:29] MarileeTurscak-MSFT commented on #81605
@TomoharuMisawa
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-27 19:44] shinojsn commented on #81512
Hello Jose

Thanks for your response, I appreciate if you could look into updating the
documents for the following, especially as you mentioned explaining more on
https and non-https traffic triaging
1) Document to highlight the where the traffic originates from ( For. Eg.
from On-Prem or from Azure VM)
2) The design is to address Securing https and non-https traffic with WAF
and Azure Firewall, I

[2021-09-27 19:44] serkantkaraca commented on #81191
@bitmasksn

If the host platform for a partition ever fails - like the host VM or the network, storage should move the partition data to a healthy VM. This can either be a VM in the same AZ or in another AZ. Azure Event Hubs really doesn't care where partition data moved on failure as longs is it is up and healthy after the move.

Correct. AZ addresses availability concerns such as 'what if the en

[2021-09-27 20:01] AjayKumar-MSFT commented on #81546
I have assigned the issue to the content author to review further and update the document as appropriate. Thanks again for the feedback!

[2021-09-27 20:04] #80010 closed

[2021-09-27 20:16] brianlehr commented on #28053
@cogran Apologies for this request being long-dormant.  Could you point to the VPN/ER documentation you referenced?  Public IP Addresses in Azure are orthogonal to the concept of VNET subnets.

[2021-09-27 20:16] brianlehr commented on #28053
#reassign @brianlehr

[2021-09-27 20:36] ramandhillon84 commented on #34567
Thanks for the feedback @cogran. I am adding this to our current list of limitations in the IPv6 for VNet article to clarify.

[2021-09-27 20:43] MonikaReddy-MSFT commented on #81591
@yutaro113 - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-27 20:57] MonikaReddy-MSFT commented on #81604
@jorge-ataide -  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-27 21:10] ramandhillon84 commented on #34567
#please-close

[2021-09-27 21:10] #34567 closed

[2021-09-27 21:40] #80450 closed

[2021-09-27 21:43] KrystinaWoelkers opened #81619 "Data Factory Contributor"
In the "Data Factory Contributor" section it says that the role should be able to "**Create** and manage data factories, as well as child resources within them." However, I am not able to create an actual data factory. When I try to actually create the data factory via the UI part of the error says "xxx does not have authorization to perform action '**microsoft.datafactory/register/action** over s

[2021-09-27 21:54] huleboer opened #81620 "RHEL 8.4 not listed as supported (but CentOs 8.4 is)"
Red Hat | Enterprise Linux | 5.4+, 6, 7-7.9, 8-8.3
Red Hat | CentOS | 5.4+, 6, 7, 7.1-7.8, 8-8.4
I'm guessing that RHEL 8.4 also should be supported...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fdbbf80-92cd-d6b2-85fd-a830589a8ed9
* Version Independent ID: d89d9eef-daed-636d-7414-0b15f3195734
* Content: [Security

[2021-09-27 22:19] Karishma-Tiwari-MSFT commented on #81606
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-27 22:31] cogran commented on #28053
@brianlehr - I think we can go ahead and close this for now.
The docs I would have thought I was referring to no longer refer to /32s in the public documentation.

[2021-09-27 23:00] brianlehr commented on #28053
Sounds good.

#please-close

[2021-09-27 23:06] normesta commented on #81196
Thank you for finding this. I fixed. Should appear live tomorrow AM. Thank you again!

#please-close

[2021-09-27 23:06] #81196 closed

[2021-09-27 23:25] Ajayan1008 commented on #81558
@FormlessOne and @BryanTrach-MSFT  Thanks for noting this issue. Unfortunately, those docs require SAP and Oracle accounts (respectively) for access. Rather than delete the links, I've added text to let the user know they'll need accounts for access. The fix has merged into master. Provided Ignite doesn't cause any delays, this should be live tomorrow.

[2021-09-27 23:37] Marusyk commented on #68690
DPS is global and not bound to a location. However, you must specify a region in which the metadata associated with your DPS profile will reside.

@asergaz Does it mean that DPS will work even its region goes down?

Is there someone who can create this documentation?

[2021-09-28 00:20] bangdu-ms commented on #75753
It looks translated to me now. Thank you for handling this. @JackStromberg
In the past few months it seems these FAQ pages occasionally jumped between English & Japanese. Not sure what's the cause but I'll raise another issue if this happens again.

[2021-09-28 00:32] swinarko commented on #81477
It's updated already.

[2021-09-28 01:39] MonikaReddy-MSFT commented on #81612
@marcemontero -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-28 01:48] MonikaReddy-MSFT commented on #81598
@Pryorite - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2021-09-28 01:49] MonikaReddy-MSFT commented on #81602
@simonkurtz-MSFT - Thanks for bringing this to our attention and for raising the PR. It will be live once its approved and merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-28 01:49] #81602 closed

[2021-09-28 01:51] MonikaReddy-MSFT commented on #81609
@thesheebs - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-28 01:53] MonikaReddy-MSFT commented on #81578
@Vanshata17 - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-09-28 01:53] kobulloc-MSFT commented on #78185
While we wait for an update to the documentation, @rpanday has [posted a copy of the source code](https://github.com/MicrosoftDocs/azure-docs/issues/73089#issuecomment-824196022):
https://github.com/rpanday/contosoAdsCloudService

[2021-09-28 02:05] RDavis3000 commented on #53211
Question was about EventGrid batching, link provided was referring to EventHub ordering.
Can you provide information about EventGrid batching?

[2021-09-28 02:08] MonikaReddy-MSFT commented on #81452
@jhurdlow - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-28 02:08] #81452 closed

[2021-09-28 02:15] nicolecopado opened #81623 "first step repo name is different"
[Enter feedback here]

1. Create a blank GitHub repo (don't create a README) from https://github.com/new named jekyll-azure-static.

in the next steps we need to use "jekyll-static-app" but it doesn't exist because the repo name that was created is different, so it gives an error. took me a a while to realize since i copy and pasted the name without noticing lol

---
#### Document Details

⚠ *Do n

[2021-09-28 03:00] RezaMahmood opened #81625 "Evaluation Frequency for Dynamic Threshold alerts"
The evaluation frequency for dynamic thresholds is stated as 1 minute.  Portal shows lowest is 5 minutes and ARM states PT5M

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e35140-5a03-b8a1-d17c-b06b7cbb03db
* Version Independent ID: 4c16ba87-0e6e-f60e-8271-ff6d9492d4ae
* Content: [Understand how metric alerts work in

[2021-09-28 03:09] BryanTrach-MSFT commented on #81588
@sijucm Thank you for the feedback.

In regards to the one day update , it is assuming you are using a application setting to store the keyvault reference and value. If you update your app and force a reboot, it will cause the updated application setting to take effect. Otherwise Azure will automatically update the reference within 24 hours.

We understand this is not transparent and can make the

[2021-09-28 03:09] #81588 closed

[2021-09-28 03:43] hegao15 commented on #81511
@shashishailaj just to check if there's some updates for this question. Thanks !

[2021-09-28 03:44] SnehaAgrawal-MSFT commented on #81623
@nicolecopado Thank you for your query . We will investigate and update the thread.

[2021-09-28 03:47] maulik-modi commented on #81516
@ssivas , what if content author forgets to add a link? Do I need to file the same issue again?

[2021-09-28 03:53] hctrr opened #81626 "Key Vault: subpoena, warrant, law enforcement requests"
Hello,

Can a section be appended to detail the actions and level of access Microsoft **can** and **will** provide to law enforcement upon requests i.e. subpoena, warrants, etc.?

Under [Enhance data protection and compliance](https://azure.microsoft.com/en-us/services/key-vault/#getting-started)

it does read "With Key Vault, Microsoft doesn’t see or extract your keys.", however no additional inf

[2021-09-28 04:29] ram-msft commented on #81501
Thanks, Please follow the sample for similar use cases https://github.com/microsoft/solution-accelerator-many-models

[2021-09-28 04:29] #81349 closed

[2021-09-28 04:29] HarshitaSingh-MSFT commented on #81349
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-28 04:34] shashishailaj commented on #81620
@huleboer Thank you for your feedback . We will engage the content team to update this.

[2021-09-28 04:45] #81623 closed

[2021-09-28 04:45] RyanHill-MSFT commented on #81623
Thanks for filing the feedback @nicolecopado. We've issued a fix to correct the typo

[2021-09-28 04:52] HarshitaSingh-MSFT commented on #81359
Yes, you can restrict who can create groups, you can restrict Microsoft 365 Group creation to the members of a particular Microsoft 365 group or security group.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-28 04:52] #81359 closed

[2021-09-28 05:01] SamaraSoucy-MSFT commented on #81380
"Example.com" is just a placeholder for a call to an external dependency. It will work as written- the function will call out to the url and Open Census will log the dependency.

I'm a bit confused on what you mean by not getting the operation_id with your traces. Could you provide an example of where this is not happening? The example code logs the dependency call with the operation id:
![image](

[2021-09-28 05:13] #81499 closed

[2021-09-28 05:16] ErikMogensen opened #81627 "Wrong size for enabling large message preview"
In the figures in the article it shows that you should set _Max message size in KB_ to 1024 to enable the large message support for a queue. It must be wrong. Instead 102400 should be set, I assume.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42f1ade8-3b10-e8d4-370d-62c26b3b200a
* Version Independent ID: 826e8bf0-1e

[2021-09-28 05:20] gantonius commented on #81501
Hi @ram-msft, thanks for the link to the repo with the similar use case. It seems that the repo you referred to doesn't have any reference to ManyModelsTrainParameters, but the repo shows an end to end scenario for model training and inference for many models. Can I assume that ManyModelsTrainParameters is not officially supported for now?

[2021-09-28 05:40] PramodValavala-MSFT commented on #81000
@Leonardo-Ferreira That is a valid concern. Instead, having a separate tenant and using that for registrations would be the better route since you could just validate against one issuer.

[2021-09-28 05:52] SubhashVasarapu-MSFT commented on #81583
@xiaolongou, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.

![image](https://user-images.githubusercontent.com/44890829/135030832-7e519760-92b3-4f9c-b999-fe7837fe2a2a.png)

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the disc

[2021-09-28 06:15] nerajput1607 commented on #80602
I have moved to another team, please assign this to @jaydeepn or @DishaAgarwal for closing it.

[2021-09-28 06:24] weyCC81 opened #81628 "UserHasLicenseAssignedDirectly over Azure Active Directory V2 PowerShell module"
Hi Microsoft

**Function "UserHasLicenseAssignedDirectly"**
Would it be possible the release or update the guide/documentation for V2 powershell module?
(with Get-AzureADUserLicenseDetail or Get-AzureADUser)

_Reference: Azure Active Directory V2 PowerShell module_
(https://docs.microsoft.com/en-us/powershell/module/msonline/?view=azureadps-1.0)

---
#### Document Details

⚠ *Do not edit this sect

[2021-09-28 06:38] euchungmsft opened #81629 "Guide for upgrading from ASEv2 to v3"
I've found this from the blog,

**Upgrade from ASEv2**
Upgrade from ASEv2 will come after GA. In the first version of the upgrade you will be able to upgrade an ASEv2 that is either an external VIP ASEv2 or an internal VIP ASEv2 that has a domain suffix of .appserviceenvironment.net. Initially the upgrade capability won’t support internal ASEs with custom domain suffixes nor will it offer the abil

[2021-09-28 06:44] SnehaAgrawal-MSFT commented on #81629
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-28 06:54] VikasPullagura-MSFT commented on #81339
@sakurai8888 I see there was a similar conversation from you here #80461. As answered [here](https://github.com/MicrosoftDocs/azure-docs/issues/80461#issuecomment-921125650) adding another NIC doesn't improve performance in Azure VMs as the network bandwidth limit for a particular VM will be shared across the NICs.

There is no need to add additional NIC in Azure VMs to improve SQL Always On Avail

[2021-09-28 06:54] #81339 closed

[2021-09-28 06:56] SnehaAgrawal-MSFT commented on #81449
@jeastburn Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-09-28 06:58] Abhishekchauhan23 opened #81630 "Didn't found sdk link"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40927e61-84dc-b68d-d2e4-23af2fa32404
* Version Independent ID: 820a30fd-efb8-1638-f00a-6ef604291057
* Content: [Quickstart - Add joining a Teams meeting to your app - An Azure Communication Services quickstart](https://docs.microsoft.com/en-us/azure/c

[2021-09-28 07:00] shubhamsre commented on #40900
https://stackoverflow.com/questions/60847861/how-to-import-modules-into-azure-automation-account-using-powershell

This might be useful

`New-AzAutomationModule -AutomationAccountName automation-prod-acc -ResourceGroupName Automation-RG -Name $moduleName -ContentLinkUri "https://www.powershellgallery.com/api/v2/package/$moduleName/$moduleVersion"
`
$moduleName is the module you want to import.

[2021-09-28 07:08] vipulsparsh commented on #81509
@priyankareddy20 Are you still having the same issue ?

[2021-09-28 07:12] NicolasPSQ commented on #81359
@HarshitaSingh-MSFT sorry.. but you don't answer correctly my question..  So, definitely, if i flag option to block groups creation in Azure AD, i will block the creation in ALL Office 365 World ( Exchange,Sharepoint,Teams,via outlook) ? .. and if Yes, then via Azure AD i could define who can create Groups? Because if so, i don't another licensing to manage this..

this is why I have opened this t

[2021-09-28 07:12] priyankareddy20 commented on #81509
Yes.With Gmail id.
External I'd received the passcode in the end of the day.
But we should recieve the passcode immediately when we attempt to access
the invitation.
Could you please let me know if I have to change the setting(guests one
time passcode from now) to yes..I have attached the screenshot in the issue.

Regards,
Priyanka

On Tue, Sep 28, 2021, 9:08 AM VipulSparshMSFT ***@***.***>
wrote:

[2021-09-28 07:17] Fsetiaw4n opened #81631 "Provide example or error/warning when Cost Management target is hit"
Hi,

Please provide the expected error or warning if the cost management is hit.
So that we as developers can anticipate it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b0d2f7-186d-0a74-b25c-2784bae2705f
* Version Independent ID: 4e3e9d47-9a15-fec0-01e0-2b324cc22eb2
* Content: [Cost management for serverless SQL p

[2021-09-28 07:27] SrijitBose-MSFT commented on #81519
@bramvdklinkenberg , yes you are correct. For your convenience and for the benefit of the community I'll try to explain this simply.

**Azure Defender for Kubernetes** plan provides protections at the cluster level. This does not include Log Analytics agent of **[Azure Defender for servers](https://docs.microsoft.com/en-us/azure/security-center/defender-for-servers-introduction)**

Now, you **can

[2021-09-28 07:27] shashishailaj commented on #81619
@KrystinaWoelkers Thank you for your feedback . We will investigate and update the thread.

[2021-09-28 07:50] bramvdklinkenberg commented on #81519
Thanks for clarifying @SrijitBose-MSFT !

[2021-09-28 07:50] #81519 closed

[2021-09-28 08:18] dsmithuk opened #81632 "surely that's 10gbit for ultra. it says 1gbit"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57b9d6d-27c6-78fd-3b7e-79d373c9699a
* Version Independent ID: 2ea2b328-672e-d426-ad6c-1f52db297196
* Content: [About ExpressRoute virtual network gateways - Azure](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-about-virtual-network

[2021-09-28 08:20] SubhashVasarapu-MSFT commented on #81632
@dsmithuk, Thanks for reaching out. We will investigate and update this thread.

[2021-09-28 08:25] SubhashVasarapu-MSFT commented on #81632
@dsmithuk, the circuit bandwidth defined in the testing conditions are correct.
Closing this issue as duplicate of [#79884](https://github.com/MicrosoftDocs/azure-docs/issues/79884)
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-09-28 08:25] #81632 closed

[2021-09-28 08:33] CHEEKATLAPRADEEP-MSFT commented on #81584
Duplicate of #74826

[2021-09-28 08:33] #81584 closed

[2021-09-28 08:34] CHEEKATLAPRADEEP-MSFT commented on #74826
@leifbro could you please look into above enhancement?

[2021-09-28 08:47] SadiqhAhmed-MSFT commented on #81485
@ababdul We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-09-28 08:47] #81485 closed

[2021-09-28 09:00] wenzho215 opened #81634 "Wrong port written"
[Enter feedback here]
Azure DB for Postgre SQL single server is using port 5432 as the gateway port, however, on this website, it is using MySQL's gateway port.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f71a77c-23ce-5496-9da9-f1d1871a62c2
* Version Independent ID: f2b69a19-1b25-cd89-e44c-370fa83ea45c
* Content: [

[2021-09-28 09:13] priyankareddy20 opened #81635 "Notifications screenshot and explanation is missing in PIM Azure AD Role settings"
Kindly add the notifications screenshot and explain who is the admin in default receipienets.It is GA or Privileged Role Admin or any admin role
![screenshotgit](https://user-images.githubusercontent.com/64882717/135058785-4136c9bb-ea0f-4097-9d0d-3ae32f18b3b2.JPG)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-09-28 09:14] PramodValavala-MSFT commented on #81615
@philipcj Thanks for the question! We will review and get back to you!

[2021-09-28 09:25] CHEEKATLAPRADEEP-MSFT commented on #81619
@KrystinaWoelkers To create Data Factory instances, the user account that you use to sign in to Azure must be a member of the contributor role, the owner role, or an administrator of the Azure subscription.

Note: To view the permissions that you have in the subscription, in the Azure portal => Select your subscription => Go to Access control (IAM) => Under Check access => Click on view my access.

[2021-09-28 09:33] JebasinghLuccas opened #81636 "partitionKeyRangeId_s is empty - CosmoDb- Azure Diagnostics"
AzureDiagnostics
| where TimeGenerated >= now(-1d)
| where Category == 'PartitionKeyRUConsumption'
//specify collection and database
//| where databasename_s == "DBNAME" and collectioname_s == "COLLECTIONNAME"
// filter by operation type
//| where operationType_s == 'Create'
| summarize sum(todouble(requestCharge_s)) by partitionKey_s, partitionKeyRangeId_s
| render columnchart

when i issue the a

[2021-09-28 09:42] asergaz commented on #81505
Hello @akashperfect , you can see more information about Azure IoT Hub Limits here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#iot-hub-limits

"If you need more than 50 paid IoT hubs in an Azure subscription, contact Microsoft Support." -> [Creating an Azure Support Request](https://docs.microsoft.com/en-us/azure/iot-fundamentals/iot-

[2021-09-28 09:42] #81505 closed

[2021-09-28 09:45] ivandretvic opened #81637 "Windows Server 2022"
Windows Server 2022 is not in th elist for Azure AD OS's supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08003efa-d3f6-6b9a-c855-67e356ba2e4f
* Version Independent ID: 60949414-f20a-951b-832a-7e2f3a1f342b
* Content: [What is an Azure AD joined device?](https://docs.microsoft.com/en-us/azure/active-directory/d

[2021-09-28 09:48] asergaz commented on #81428
Hello @EnricoBeltramo, since this doc is targeting specifically **Ubuntu Server 18.04** and **Raspberry Pi OS Stretch** steps I am closing the issue to maintain the focus on the other related issue you opened: https://github.com/Azure/meta-iotedge/issues/72

I would suggest that you also open an issue in https://github.com/Azure/iotedge/issues and make sure you cross-reference them if you are not

[2021-09-28 09:48] #81428 closed

[2021-09-28 09:48] AshokPeddakotla-MSFT commented on #80924
@kgremban Could you please look into this feedback?

[2021-09-28 09:51] HarshitaSingh-MSFT commented on #81359
@NicolasPSQ , if you use script: Only members of specific group can create AAD and M365 groups.
If you set toggle button to YES: All users can create groups AAD and M365 groups

Pls let me know if this answers your query.

[2021-09-28 09:52] SwathiDhanwada-MSFT commented on #81625
@RezaMahmood Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-28 09:58] gvanteylingen opened #81638 "Amend step 4"
Please reword this:
4. Reboot the server.

to:
4. Reboot the Windows system(s) connecting to the existing SMB share

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc5f53d2-1808-428e-acd2-3c0dd63be3c6
* Version Independent ID: 8f37b6eb-c9c0-ba3f-e75f-1748b54bf3b7
* Content: [Enable Continuous Availability on existing Az

[2021-09-28 09:58] HarshitaSingh-MSFT commented on #81637
Hello @ivandretvic , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-09-28 09:59] asergaz commented on #81505
Hello @akashperfect

[2021-09-28 10:02] ammy-b opened #81639 "Stream data into Azure Databricks using Event Hubs - Programming Documentation Incorrect"
[ Programming Documentation Incorrect ]

In Send tweets to Event Hubs - Programming Code

val eventHubClient = EventHubClient.createFromConnectionString(connStr.toString(), pool) - Code is Wrong

It should be come like this,

val eventHubClient = EventHubClient.create(connStr.toString(), pool)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-09-28 10:09] ram-msft commented on #81501
Yes, Thanks for the details. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-28 10:09] #81501 closed

[2021-09-28 10:12] HarshitaSingh-MSFT commented on #81635
Hello @priyankareddy20 , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.