[2022-07-04 04:08] #95213 closed

[2022-07-04 04:12] #22977 closed

[2022-07-04 04:36] sormita commented on #95058
Any update on this issue? We are waiting for an update or atleast an answer to the question asked in order to decide on the architecture design for our project.

[2022-07-04 04:52] CHEEKATLAPRADEEP-MSFT commented on #94901
@hiladg
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-04 04:52] #94901 closed

[2022-07-04 04:53] CHEEKATLAPRADEEP-MSFT commented on #94948
@Robert-Lauriston-at-Striim Yes, the database name is the synapse sql pool name.

[2022-07-04 04:54] Givary commented on #95221
@xtianus79 Reviewed the article and steps mentioned in this section https://docs.microsoft.com/en-us/azure/active-directory-b2c/openid-connect#get-a-token:~:text=example%20b2c_1_sign_in.-,HTTP,-Copy, &scope parameter is mentioned two times, remove additional scope for example: &scope=openid%20offline_access%20{application-id-uri}/{scope-name}

Let me know if this helps, also will get article updat

[2022-07-04 05:09] AnuragSharma-MSFT commented on #94910
@AuWiMo Awaiting your reply.

[2022-07-04 05:09] ShaikMaheer-MSFT commented on #94954
@enkrumah Could you please validate customer feedback and see if we can update document as appropriate.

[2022-07-04 05:13] ShaikMaheer-MSFT commented on #95040
@swinarko Could you please check if above information can be added in the document. Thank you.

[2022-07-04 05:28] DavidKlempfner opened #95227 "Screenshot needed for clarity"
Please include a screenshot for:
"You can manage the read scale-out setting on the Configure database blade."
I can't see this in the Azure portal for my SQL Managed Instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2145337-0aea-6a0b-ea62-e10a7f902d76
* Version Independent ID: 4e4f5616-032c-ebab-df35-5e73dec9ef

[2022-07-04 05:46] ShaikMaheer-MSFT commented on #95044
@nabhishek Could you please validate feedback and update document as appropriate? Thank you.

[2022-07-04 05:56] SwathiDhanwada-MSFT commented on #95104
@siwibowo As support case has already been raised, PM team has suggested to reach out to Backup PG team to make changes to the policy and there will be no documentation changes for now. We will close this issue. If there are further questions, please revert and we will be glad to assist you.

[2022-07-04 05:56] #95104 closed

[2022-07-04 05:57] SwathiDhanwada-MSFT commented on #95100
@larsbuch As requested in my earlier comment, can you please provide further details to better understand the issue?

[2022-07-04 06:21] dgdel04 opened #95228 "Expected error while executing powershell command"
New-AzApiManagement: Operation returned an invalid status code 'Conflict'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63549934-727b-06e9-9905-399791899d14
* Version Independent ID: d1dd5d59-5943-092e-2d77-0c8cf911873f
* Content: [Quickstart - Create Azure API Management instance using PowerShell](https://docs.micros

[2022-07-04 07:10] Zossin opened #95229 "umask's behavior for parent's default ACL"
Regarding umask section:

    For owning user, copy the parent's default ACL to the child's access ACL

Shouldn't it be "access ACL" rather than "default ACL"? Per my understanding, umask is effective only when parent doesn't have default ACL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3aa443a-b30f-2914-5cb8-b032b

[2022-07-04 07:49] AnuragSingh-MSFT commented on #94885
@BrightJamesJ, I tested the Steps and it worked as expected. Please note that the built-in Initiative being assigned in the article is "**Enable Azure Monitor for VMs**". The definition of the policy "Deploy - configure Log Analytics Agent *" and the eval condition only looks for presence of Agent extension on the machine. **If** it is not there, the policy **deploys** the extension with the suppl

[2022-07-04 07:49] #94885 closed

[2022-07-04 08:05] AnuragSharma-MSFT commented on #95227
@DavidKlempfner Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-07-04 08:07] snorrk opened #95230 "Possible contradiction"
I find these two statements confusing and seemingly contradictory. Is assigning a driver letter to an Azure File Share possible or not?

It could help to clarify the difference between a drive letter assignment and a mapping?

[code]
vs.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd70fac-5d7c-7637-8385-f3f4

[2022-07-04 08:13] mlamb1966 commented on #94855
Can we have an update on this issue please? I am still getting this error in UK South.

[2022-07-04 08:38] Givary commented on #94844
@Eduard-Barsan Apologies for the delay, reviewed your ask and have shared the feedback with our team.

[2022-07-04 08:38] #94844 closed

[2022-07-04 08:51] louisewiljander opened #95231 "Missing information on integration of AAD logs into Microsoft Sentinel"
In the page's FAQ there is no information on support or integration with Microsoft Sentinel, even though it is the native SIEM solution.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39bd6875-8c82-02ff-5b74-86bc9ce5b902
* Version Independent ID: d9d36752-ac83-89b1-e22d-32ba6a41d7e5
* Content: [Azure Active Directory ac

[2022-07-04 08:56] xuwenjian1995 commented on #95134
Hi @kobulloc-MSFT , thanks for your reply and assistance. If we select the image from Azure marketplace(Pricing with **Bring your owe license)** and then if we select one of the image to create the VM without licensing checked, does this virtual machine belong to Bring your own license or Pay-as-you-go license?
![image](https://user-images.githubusercontent.com/40651495/177119846-efdac8b6-4755-498

[2022-07-04 09:16] JananiRamesh-MSFT commented on #93941
@alejojarahi Thanks for your patience, This Issue is been fixed now I had tested it and the policy fragments works in consumption sku
![image](https://user-images.githubusercontent.com/92862826/177099323-326dd826-438b-4018-887f-737e927594a1.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the

[2022-07-04 09:16] #93941 closed

[2022-07-04 09:18] JananiRamesh-MSFT commented on #94532
@brad302 Thanks for your patience, This Issue is been fixed now I had tested it and the policy fragments works in consumption sku and as well as in all other sku's.

Thanks for your patience, This Issue is been fixed now I had tested it and the policy fragments works in consumption sku

[2022-07-04 09:18] #94532 closed

[2022-07-04 09:36] jimmaye commented on #94855
Currently seeing this on west EU also.

[2022-07-04 09:45] valeriocapponi commented on #94855
Is it a workaround available until this is fixed?

[2022-07-04 09:53] Givary commented on #95231
@louisewiljander Thanks for your feedback, let me investigate and revert back

[2022-07-04 10:05] ld0614 opened #95234 "Article doesn't clearly cover the need for Enterprise Admin rights"
When configuring this feature I received a page requiring me to enter my Enterprise Admin rights, the more information for the page took me to this documentation. I would generally expect the following based on that experience:

- The Pre-reqs section should include the need for Enterprise Admin rights
- The Deployment section should mention this as part of the steps (Ideally with screenshot)
- Th

[2022-07-04 10:20] maud-lv commented on #93710
Thank you for your suggestion! We have updated this page following your suggestion. It will be visible shortly at https://docs.microsoft.com/en-us/azure/service-connector/quickstart-cli-app-service-connection.

[2022-07-04 10:25] fsteph opened #95235 "Can't submit product feedback"
[Hi, love the new data preview refresh immensely, and really appreciate the other new features. Tried to give a 5 star rating as I can see the pop up, but it is inert on my view of the screen, so I couldn't. This is my first interaction on this service, I do have some constructive content to share on bugginess. Do you know who I am from trace below? If not, if interested, I'm franky.stephenson@ant

[2022-07-04 10:40] SwathiDhanwada-MSFT commented on #94865
@AaronMaxwell Can you please provide your insights on this?

[2022-07-04 11:03] VikasPullagura-MSFT commented on #95229
@Zossin
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-04 11:04] VikasPullagura-MSFT commented on #95229
@normesta
Can you please check and add your comments on this doc update request as applicable.

[2022-07-04 11:06] dominicbetts commented on #94377
Hi @rmats808 - I didn't hear back from you so I'm closing this issue. Feel free to reopen it if you have any follow up questions. Thanks.

[2022-07-04 11:06] dominicbetts commented on #94377
#please-close

[2022-07-04 11:06] #94377 closed

[2022-07-04 11:12] #93276 closed

[2022-07-04 11:21] maud-lv commented on #93710
#please-close

[2022-07-04 11:21] #93710 closed

[2022-07-04 11:32] ExpendaBubble commented on #95123
Thank you. This ISO is currently also unavailable via Visual Studio Subscriptions, so while this issue is regarding a documentation bug, the problem might be larger. A timely work around for this missing ISO would be appreciated, if possible.

[2022-07-04 12:09] SwathiDhanwada-MSFT commented on #95061
@Logan-V As per the document, Alert processing rules can be applied to different resource scopes, from a single resource to an entire subscription but not multiple subscriptions. I also would recommend you navigate [here](https://feedback.azure.com/d365community) and share your feedback or suggestions directly with the responsible Azure feature team and clicking the vote button of your suggestion

[2022-07-04 12:09] #95061 closed

[2022-07-04 12:18] HamzaBoukraa-CR opened #95236 "Change to possible values"
In the app-routing.module.ts, the possible values for the _initialNavigation_ variable are **enableBlocking**, **enableNonBlocking** and **disable**. So just **enable** as value is not supported anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28c13084-08f6-c015-7769-c2ab9170c1d2
* Version Independent ID: 44d5c2

[2022-07-04 12:26] rahuja23 opened #95238 "v2 Pipeline: Steps not running in the mentioned conda environment"
Hello I am trying to create a pipeline using the documentation of Azureml v2. But the steps in a Job are not running in the environment mentioned in the yaml script of the pipeline. I don't know where I am going wrong. I am hereby attaching the yaml I created to create the pipeline. Please do let me know how to tackle this issue:
[code]

[2022-07-04 12:47] #95030 closed

[2022-07-04 13:04] #95052 closed

[2022-07-04 13:11] shashishailaj commented on #94970
@MicrosoftGuyJFlo I believe this doc may need a rewrite . Do you think we should create an internal request for the same?

[2022-07-04 13:30] ShaneOsborne opened #95240 "Root Collection permission can also be done via Portal"
According to document below, only way to add a Root Collection Admin is via a HTTP Post.

This is now available via the Azure Portakl under the option 'Root Collection  permission' menu on the left within your Microsoft Purview Account

Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f16907-e643-4a6d-3788-bf168

[2022-07-04 13:39] MughundhanRaveendran-MSFT commented on #95065
@boris-tarasov-maersk ,
The task hub name has to be specified in the local.settings.json and deployed to the specific slot.

{
  "IsEncrypted": false,
  "Values": {
    "MyTaskHub" : "samplehubname"
  }
}

[2022-07-04 13:54] shashishailaj commented on #94914
We have an article which talks about the comparison around the cmdlets and provides information about comparable cmdlets. Please check the [documentation around the same here.](https://docs.microsoft.com/en-us/powershell/microsoftgraph/azuread-msoline-cmdlet-map?view=graph-powershell-beta).

There is a different team which maintains the Graph related documents. I would suggest you to open an issue

[2022-07-04 13:54] #94914 closed

[2022-07-04 14:04] dominicbetts commented on #78468
Hi @sandervandevelde - TSI is being deprecated - for more information see: https://docs.microsoft.com/azure/time-series-insights/overview-what-is-tsi

The article [Tutorial - Use Azure Time Series Insights to store and analyze your Azure IoT Plug and Play device telemetry](https://docs.microsoft.com/en-us/azure/iot-pnp/tutorial-configure-tsi) is being retired.

[2022-07-04 14:04] dominicbetts commented on #78468
#please-close

[2022-07-04 14:29] #94970 closed

[2022-07-04 14:31] shashishailaj commented on #93484
We are going to track this request internally as the scripts need some update as we have found . This article may need a rewrite and we will reach out to the content engineering team internally for the same.

Thank you .

[2022-07-04 14:31] #93484 closed

[2022-07-04 14:33] boris-tarasov-maersk commented on #95065
Is this official reply from Microsoft?

Here is what official Microsoft documentation says about local.settings.json

When running in a function app in Azure, settings required by your functions are [stored securely in app settings](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings#settings). During local development, these settings are instead

[2022-07-04 14:34] boris-tarasov-maersk commented on #95065
and here https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-local#local-settings-file
The local.settings.json file stores app settings and settings used by local development tools. Settings in the local.settings.json file are used only when you're running your project locally.

[2022-07-04 14:41] jameswiseman76 opened #95242 "Page title is misspelled 'Oepn' instead on 'Open'"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ccf23ec-8d85-84fb-2c46-61a414d466ef
* Version Independent ID: 52b6949e-8ea5-c0c7-d0ab-7bf0ba9ed076
* Content: [Azure Cloud Shell overview](https://docs.microsoft.com/en-us/azure/cloud-shell/overview)
* Content Source: [articles/cloud-shell/overview.m

[2022-07-04 14:42] #95242 closed

[2022-07-04 14:42] jameswiseman76 commented on #95242
Error was in google search results. Not on actual page.

[2022-07-04 14:43] shashishailaj commented on #94881
As far as I have checked internally there is no such field to manually define the MPN id in manifest . Whether you are creating a partner multitenant app or an internal one the manifest information of the application remains the same.

Thank you .

[2022-07-04 14:43] #94881 closed

[2022-07-04 15:17] shwetamathur7 commented on #95236
@HamzaBoukraa-CR Thanks for your feedback. We will investigate and update the thread.

[2022-07-04 16:40] SaurabhSharma-MSFT commented on #95226
@venuvinod4477 Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-04 16:41] SaurabhSharma-MSFT commented on #95228
@dgdel04 Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-04 16:42] SaurabhSharma-MSFT commented on #95234
@ld0614 Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-04 16:45] SaurabhSharma-MSFT commented on #95235
@fsteph Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-04 16:52] SaurabhSharma-MSFT commented on #95238
@rahuja23 To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/) or [StackOverflow](https://stackoverflow.com/) as it could be better place to get help on your scenario where the community mem

[2022-07-04 16:54] SaurabhSharma-MSFT commented on #95240
@ShaneOsborne Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-07-04 17:19] DeanGross opened #95246 "when to use each portal"
Given that we can use Defender for Cloud or M365 Defender portal, it would be helpful to have some guidance about when to use each. They are not exactly equivalent, and some tasks are better performed in one over the other. It would be great if you could provide something like, if you need to do x, then use Azure, or if you know how to do xyz, then use M365

---
#### Document Details

⚠ *Do not ed

[2022-07-04 17:38] #95139 closed

[2022-07-04 18:29] saikumar0412 opened #95247 "Need to provide command to disable the AAD Pod Identity add-on"
# In this documentation of AAD Pod Identity add-on we also need to provide command to disable the add-on.

https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity#clean-up

We might need to add addition command as below either under cleanup section or as a separate section.

`az aks update -g podidentityrg -n podidentitytest --disable-pod-identity`

---
#### Document Details

⚠ *Do no

[2022-07-04 18:31] jeromemorro opened #95248 "Screenshot Discrepancy?"
Under the section titled, 'Negative filtering: "do not sync these"', why does the screenshot heading text change from "Create outbound synchronization rule" to "Create inbound synchronization rule"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faed3c33-d05e-7a05-1327-27a79325f677
* Version Independent ID: 151a61e3-ea

[2022-07-04 18:35] codycorraini opened #95249 "Missing a > in the documentation"
[Enter feedback here]

The following text is missing a '>' after "<subscription_name"

In the left browser, navigate to subscriptions > <subscription_name > resourceGroups > <resource_group_name> > providers > Microsoft.Web > sites > <app_name> > config > authsettingsV2.

Should be:

In the left browser, navigate to subscriptions > <subscription_name> > resourceGroups > <resource_group_name> > pro

[2022-07-04 18:59] kobulloc-MSFT commented on #95247
@saikumar0412 Thank you for your feedback!  We are reviewing the cleanup instructions and will get back to you shortly.

[2022-07-04 19:06] BakkerJan opened #95250 "Suggestion for improvement"
8. When the wizard is complete, click Exit on the Configuration complete page. Group Writeback will be automatically configured.

After enabling Group writeback, it is not clear that you still need to enable the V2 feature using Powershell.
Step 8 implies that Group Writeback will be configured, where the admin needs to do an extra mandatory step.

---
#### Document details

⚠ *Do not edit this se

[2022-07-04 19:11] clarissesimoes commented on #93998
Hi @fuhuifang ,

Not sure which SDK you are referring to. Find a dump of all azure related libraries in my environment:

[code]

I am using the [distillation submission script from Babel library](https://aml-babel.com/applications/distillation).
In short, the submission script is [here](https://msdata.visualstudio.com/Vienna/_git/babel?path=/samples/contrib/distillation/submit.py&version=GBmain&li

[2022-07-04 19:12] lucahost commented on #94274
Hello @kengaderdus and @amanmcse I can reproduce that error using the AADB2C client_credential flow (in public preview) as described [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/client-credentials-grant-flow?pivots=b2c-user-flow)

I know that it currently states that we are required to create a ClientSecret. But anyway I tried using a Client-Certificate.

[code]

I assume thi

[2022-07-04 19:48] abdelaliaitbelahcen opened #95251 "Thanks for support"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da07311-409a-3de1-d501-93f6a798f6ff
* Version Independent ID: 1878ec1a-a173-8234-65db-e7835f1c4438
* Content: [Frequently asked questions about Azure for Students and Azure Dev Tools for Teaching](https://docs.microsoft.com/en-us/azure/education-hub/

[2022-07-04 19:49] kengaderdus commented on #90113
#please-close

[2022-07-04 19:49] #90113 closed

[2022-07-04 20:23] AuWiMo commented on #94910
This time it worked successfully. Last time I the problem persisted through a few refreshed over a few minutes, so it definitely wasn't user error

[2022-07-04 21:29] deniscooper commented on #39037
did you find a way around this, I get the same issue when running from azure devops pipeline

[2022-07-04 21:42] szirbucz-wecan opened #95252 "Scope of rate limit counter is global, but it's not mentioned in the document"
The document makes no remark about the counter of rate-limit-by-key access restriction policy. We have experienced strange behavior, since we expected that the counters are defined locally for each given rate-limit-by-key policy, but they are global. So, when you use IP address as key and define rate limits on multiple places, regardless they are All API/product/API/operation scoped, they will int

[2022-07-04 22:04] w-azure commented on #94692
Thanks for pointing this out. The changes have been made, changing "device CA" to "edge CA" in 1.2 sections of both articles: Certificates for device security - Azure IoT Edge and Manage certificates on an IoT Edge device. You can see these changes in the docs right away. I'm closing this issue since it's resolved, but if there is a need to continue the conversation, feel free to reopen this issue

[2022-07-04 22:04] #94692 closed

[2022-07-04 23:04] insankim commented on #95159
@MonikaReddy-MSFT  Another my suggestion is to change name "Global" to "Non-regional" as we use in azure products by region portal.
https://azure.microsoft.com/en-us/global-infrastructure/services/

[2022-07-04 23:44] johnbaro commented on #95224
Closing this, the docs are correct if maybe a bit unclear.
The issuer must be configured to use the tfp endpoint by setting the `IssuanceClaimPattern` to `AuthorityWithTfp` in the Metadata element per [these docs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-tokens?pivots=b2c-custom-policy#token-compatibility-settings)

[2022-07-04 23:44] #95224 closed

[2022-07-04 23:58] gaya3kris opened #95253 "Can't find auto-scale setting for Standard tier Language Service Resource"
I wanted to try auto-scale settings mentioned as per this document for Language Service and I can't find that option. I have created a Standard tier resource.
![image](https://user-images.githubusercontent.com/101244165/177226517-4450a438-aa99-4bce-a93b-6186029624f3.png)

The document info is not accurate and is misleading.
---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-07-05 00:49] pdegenhardt opened #95254 "Instructions don't apply to VS2022"
There is Cloud Explorer in VS2022. How do you do this in VS2022.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0065e05e-1e7e-20aa-badb-dfe2d297ddd2
* Version Independent ID: aab0065a-72ef-b6ea-5ac1-d85e96e9e099
* Content: [Troubleshoot with Visual Studio - Azure App Service](https://docs.microsoft.com/en-us/azure/app-

[2022-07-05 00:52] SaurabhSharma-MSFT commented on #95246
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-05 00:53] w-azure commented on #94693
Thanks for the feedback. The 'workload' line was removed from the 1.2 sections of the documentation and a new 1.2 section was added that explain changes with 1.2. Closing this issue, but feel free to reopen if you need to continue the conversation. New changes should be published in the next 24 hours.
#please-close

[2022-07-05 00:53] #94693 closed

[2022-07-05 00:56] SaurabhSharma-MSFT commented on #95248
@Jer0meM0rr0w Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-07-05 00:59] SaurabhSharma-MSFT commented on #95249
@codycorraini Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-05 01:00] SaurabhSharma-MSFT commented on #95250
@BakkerJan Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-05 01:03] SaurabhSharma-MSFT commented on #95251
@abdelaliaitbelahcen Thanks for your feedback!  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-05 01:03] #95251 closed

[2022-07-05 01:06] SaurabhSharma-MSFT commented on #95252
@szirbucz-wecan Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-07-05 01:10] SaurabhSharma-MSFT commented on #95253
@gaya3kris Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-05 01:13] SaurabhSharma-MSFT commented on #95254
@pdegenhardt Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-05 01:41] hylinux commented on #94923
hi, all. any found about this document?thanks

[2022-07-05 02:11] ericd-mst-github commented on #94855
Hi all,

Thank you for letting us know and thank you once again for your patience. Please let me check with our product team in the morning.  Before Friday, I last saw confirmation from engineering that this fix is now be deployed in: WestCentralUS, USSouth, and half of EuropeNorth. and Canary.

In regard to a workaround, let me also check with engineering aside recreating in other regions.  One a

[2022-07-05 02:55] mrsmitty opened #95256 "Logic App with private storage: network requirements"
Currently Private Endpoints do not respect NSG rules however, The App Service hosting the Logic App does.

The documentation requires a section that outlines the NSG requirements e.g.

Source Port | Direction | Protocol | Source / Destination | Purpose
--- | --- | --- | --- | ---
443 | Outbound | TCP | Virtual Network / Virtual Network | Storage Account
445 | Outbound | TCP | Virtual Network / Vir

[2022-07-05 03:00] peteraritchie opened #95257 "Improve wording of unclear sentence"
https://github.com/MicrosoftDocs/azure-docs/blob/b7c8dcda48f02e38d331adf7407a5dd3300ae667/articles/devops-project/azure-devops-project-vms.md?plain=1#L44  The first sentence at this line seems incomplete. "In the search box, type DevOps Starter, and then select."  "then select" seems like it should reference something visible on the screen.  Does this imply it should select one of the search resul

[2022-07-05 03:14] peteraritchie opened #95263 "Correct reference to missing elements in Tutorial: Deploy your ASP.NET app to Azure virtual machines by using Azure DevOps Starter"
https://github.com/MicrosoftDocs/azure-docs/blob/b7c8dcda48f02e38d331adf7407a5dd3300ae667/articles/devops-project/azure-devops-project-vms.md?plain=1#L44

The second sentence at this line makes reference to something that doesn't exist in the page.  It unclear what screen should be visible based on the first sentence.  If simply navigating to the first search result, the screen has no **Add** elem

[2022-07-05 03:21] StellaSSHuang opened #95264 "Please remove the 'serviceFamily' proterty from the Sample Response of 'UsageDetailsExpand-Legacy'"
Since there is no feedback button on the following page, hence I raise a new issue here.
- [ ] The relevant Azure service or technology:
-  Azure Consumption APIs
- [ ] A link to the published documentation article that you have feedback about:
- https://docs.microsoft.com/en-us/rest/api/consumption/usage-details/list
- [ ] Clear, specific feedback that the author can act on:
- The properties.serv

[2022-07-05 04:19] SwathiDhanwada-MSFT commented on #95100
@larsbuch As we haven't heard from you, we will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-07-05 04:19] #95100 closed

[2022-07-05 04:28] shwetamathur7 commented on #95165
Hi @mochsner Thanks for the update. I have tried to add bulk users in my lab using below details where tenantname has been replaced with my tenant and uploaded the same to add users successfully.
![image](https://user-images.githubusercontent.com/59326271/177248358-aceed95b-fe72-47ce-934e-c8ae1237f813.png)

In case of failure, its showing request was unsuccessful for these users as these users has

[2022-07-05 04:39] shwetamathur7 commented on #95226
Unfortunately, this forum is only for documentation issues and not functionality issues. But such functionality issues are investigated at Microsoft Graph Q&A. [All Questions - Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html).

[2022-07-05 04:39] #95226 closed

[2022-07-05 04:52] praveench02 opened #95267 "what is mnistInput and mnistOutput"
[Enter feedback here]
"mnistInput" and "mnistOutput" fields are confusing in the request/response body . What do these names stand for, what should customers send in its place ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d121580-7dfe-e8eb-f77d-a8d7c699e277
* Version Independent ID: f6d1060f-f06c-636c-aaa8-4b5fb8c4

[2022-07-05 05:00] AjayKumar-MSFT commented on #95242
jameswiseman76, No worries, thanks for taking time post your question on Azure docs channel! Much appreciate the update.

[2022-07-05 05:18] Dickson-Mwendia commented on #95219
#reassign: @Dickson-Mwendia

[2022-07-05 05:39] SreejaBhattacharya-MSFT commented on #94467
Closing this doc-feedback request. have raised a PR to update the documentation.

[2022-07-05 05:39] #94467 closed

[2022-07-05 05:52] AnuragSharma-MSFT commented on #94910
@AuWiMo Thanks for replying back. It could be temporary glitch due to any reason. Please let us know if you face similar issue again and we can analyze it further.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-07-05 05:52] #94910 closed

[2022-07-05 05:54] VikasPullagura-MSFT commented on #95256
@mrsmitty
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-05 05:54] VikasPullagura-MSFT commented on #95256
@ecfan
Can you please check and add your comments on this doc update request as applicable.

[2022-07-05 05:58] VikasPullagura-MSFT commented on #95263
@peteraritchie
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-05 05:58] VikasPullagura-MSFT commented on #95263
@georgewallace
Can you please check and add your comments on this doc update request as applicable.

[2022-07-05 06:01] VikasPullagura-MSFT commented on #95257
@peteraritchie
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-05 06:01] VikasPullagura-MSFT commented on #95257
@georgewallace
Can you please check and add your comments on this doc update request as applicable.

[2022-07-05 06:20] VikasPullagura-MSFT commented on #95264
@StellaSSHuang
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-05 06:20] VikasPullagura-MSFT commented on #95264
@bandersmsft
Can you please check and add your comments on this doc update request as applicable.

[2022-07-05 07:11] dani3lheidemann commented on #94364
@kobulloc-MSFT, just an update from my site. It was an error on my site, since my default route 0/0 was directed to Zscaler and Zscaler was not configured to allow UDP on custom ports. Thus, the AVD Desktop was not able to establish a connection to the ShortPath endpoints. The ShortPath Public Feature itself works in combination with Azure Firewall for me.
Thanks!

[2022-07-05 07:17] fsteph commented on #95235
I got offered the chance within ADF to report bugginess factors, so I'm all good. Hope you fix the page feedback pop up. Hvae a good day.

[2022-07-05 07:24] #95106 closed

[2022-07-05 07:29] Ananda-Gedela commented on #94914
@shashishailaj the link you posted wasn't working.

[2022-07-05 07:35] #95236 closed

[2022-07-05 07:38] shwetamathur7 commented on #94968
As this is not documented related issue. So, closing this issue here.

[2022-07-05 07:38] #94968 closed

[2022-07-05 07:40] Sandeg-MSFT commented on #95250
@BakkerJan
Thank you for pointing this out. Let me investigate and revert back to you

[2022-07-05 07:51] maximilianluc commented on #94286
Hi @YutongTie-MSFT, @ManojBableshwar,

Would you have an update on this? Thank you!

[2022-07-05 07:56] SreejaBhattacharya-MSFT commented on #94842
Hi @descartes , I tried to look for similar issues across our forums and here is something that might be relevant for your case - [stackoverflow.com/questions#44398787](https://stackoverflow.com/questions/44398787/sql-server-could-not-find-the-database-engine-startup-handle). Do let me know if this helps.

We used the azure-docs repository for driving documentation improvements. This query require

[2022-07-05 07:56] #94842 closed

[2022-07-05 07:58] BakkerJan commented on #95250
Thanks. I just enabled group writeback from the ADConnect server (latest version) and it seemed to enable V1. My guess was that V2 would be enabled from the wizard directly, if group write back was not enabled before.

Also, it is not very clear to me, how to migrate from V1 to V2. Whats happens when you enable V2 if you had writeback enabled already?

Thanks again!

[2022-07-05 08:09] ashish-raj-wenovate opened #95270 "Get Azure Role assignment count using az cli"
Do we have az cli alternative for the following commands?

[code]
 ``` az role assignment list --scope $scope --query "length(@)" ``` does not produce the expected results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b3ea2e8-963b-cc01-3d5c-4fecd6a3cec1
* Version Independent ID: 198149eb-9b33-ec3f-527f-ae64fb96d65c

[2022-07-05 08:14] Koning53 opened #95271 "Page is about custom formatting, not custom verification."
Hello, a minor piece of feedback on this page: I don't understand why it is titled 'custom verification' while the content is about custom formatting of the e-mails, right? Maybe it is my lack of proficiency in English language.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0312134-c8e8-34f3-7571-ab9b4ed60dd3
* Versi

[2022-07-05 08:17] RohitMungi-MSFT commented on #95267
@praveench02 The fields "mnistInput" and "mnistOutput" are part of an example where the InputData property was defined for an example endpoint. Ideally, you need to pass the InputData property which has JobInputType and Uri keys, depending on a file or a folder input.

@dem108 Could you please confirm if this understanding is correct?

[2022-07-05 08:33] ericbrunner opened #95272 "MS Graph Get Message results in 404"
The MS Graph Get Message Request fails.

`var mailRequest = await _httpClient.GetAsync("https://graph.microsoft.com/beta/me/messages?$select=subject,receivedDateTime,sender&$top=10");`

mailRequest.IsSuccessStatusCode == false

That's the serialized mailRequest:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1

[2022-07-05 08:56] Givary commented on #95271
@Koning53 Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-05 09:05] RohitMungi-MSFT commented on #95253
@PatrickFarley Could you please review the document since it seems to be recently added but the feature to use autoscale is not available on the resource?

[2022-07-05 09:08] RohitMungi-MSFT commented on #95120
@[maxmanus96](https://github.com/maxmanus96) I hope the above suggestion helped to run your container. I will go ahead and close the issue since it seems like a configuration issue rather than an issue with documentation.
@eric-urban FYI.

[2022-07-05 09:08] #95120 closed

[2022-07-05 09:12] yoelhor commented on #94935
The claims transformation copies the **value** of a claim to another. For example from a string claim to another string claim, if a user selects a **value** from a dropdown list (that claim has a restriction with enumeration).

You can't pre-populate the restriction element dynamically directly from Azure AD B2C custom policy. To do so, you must use a client side JavaScript code. Please check out

[2022-07-05 09:31] stevejmorgan opened #95273 "Suggests using ASR for DR but with no instructon/details"
This article references using Azure Site Recovery (ASR) for SQL DR but ASR documentation lacks details on monitoring existing source hosts to see if they breach ASR throughput limits.
In the first purple notes section, 3rd bullet states: “Ensure that the data change rate observed on the machine is within Site Recovery limits. The change rate is measured in write bytes per second. For machines runn

[2022-07-05 09:34] stevejmorgan opened #95274 "Doesn't actually say how to monitor source host disk churn"
Despite its name this article doesn’t tell me how to monitor the source box for ASR churn breaching – it simply tells me how to open Resource Monitor & PerfMon. It provides no details as to which counters should be monitored, suggested monitoring duration, or how to interpret the relevant counter values to establish whether it’s going to breach ASR limits or not.
Establishing whether ASR can be us

[2022-07-05 09:51] Givary commented on #95231
@louisewiljander Reviewed your ask, the information which you are looking is documented here https://docs.microsoft.com/en-us/azure/sentinel/connect-azure-active-directory#:~:text=the%20connection%20status.-,Connect%20to%20Azure%20Active%20Directory,-In%20Microsoft%20Sentinel

Let me know if I misunderstood your issue.

[2022-07-05 09:54] ctahok opened #95275 "SKU size flexibility"
Hi there,

It looks like there is still confusion between people purchasing RIs. Some think a higher level of SKU applies to lower tiers within the family and not wise-versa and some think the other way around. Would you please add a sentence saying if you buy ANY size within the family it WILL be applied to all SIZES within the FAMILY?

Regards, Ilkin

---
#### Document Details

⚠ *Do not edit th

[2022-07-05 09:59] sidprasher commented on #94792
Is there an update on this request?

[2022-07-05 10:00] VikasPullagura-MSFT commented on #95275
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2022-07-05 10:38] matthewjlevy opened #95276 "Privileged Access Group or Traditional PIM role assignments?"
Hi, in this page it says:
`To provide a group of users with just-in-time access to roles with permissions in SharePoint, Exchange, or Security & Compliance Center, be sure to make permanent assignments of users to the group, and then assign the group to a role as eligible for activation. If instead you assign a role permanently to a group and and assign users to be eligible to group membership, it

[2022-07-05 10:41] Arne-RFA opened #95279 "Co-existence with Azure AD Password Protection proxy service and Azure AD Connect on DC"
Hi,

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad-on-premises-deploy#microsoft-azure-ad-connect-agent-updater-prerequisites

The document mentions the Azure AD Connect Agent Updater service, and states "never install Azure AD Password Protection Proxy and Application Proxy on the same machine." but does not say if it can be installed on the same DC

[2022-07-05 10:43] jyama4ta opened #95280 "[Update Request] Run 'python manage.py migrate' in Dockerfile"
We get following warning when we try to run the custom docker image locally.

[code]

It says to run 'python manage.py migrate'. I find that the message will be fixed if we update the Dockerfile as below. Could you please take a look the sample project?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36d6ead7-4a

[2022-07-05 10:44] VikasPullagura-MSFT commented on #95273
@stevejmorgan
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-05 10:44] VikasPullagura-MSFT commented on #95273
@sujayt
Can you please check and add your comments on this doc update request as applicable.

[2022-07-05 10:47] v-amallick commented on #94856
@zahraasaleh - We have updated the article. The updates will be live soon.

As the doc is updated, we are closing this issue. Please get back to us for any other queries/issues.

#please-close

[2022-07-05 10:47] #94856 closed

[2022-07-05 10:59] GeethaThatipatri-MSFT commented on #94877
@BlaneG document will be updated soon We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion. thanks again for your feedback in improving our documents.

[2022-07-05 11:01] #94877 closed

[2022-07-05 11:05] GeethaThatipatri-MSFT commented on #95101
Thanks, @ThomasWeiss for providing the information.
@norman-v We will proceed to close this issue now. If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-07-05 11:05] #95101 closed

[2022-07-05 12:09] Dickson-Mwendia commented on #95219
#label:"doc-bug"

[2022-07-05 12:30] binaryjam opened #95282 "This Stage now fails in github actions"
If I follow this by the letter I cannot browse the site as there is no deployment happening.  Changes to whtever cause it to fail.

Detecting platforms...
Could not detect any platform in the source directory.
Error: Could not detect the language from repo.
---End of Oryx build logs---
Oryx was unable to determine the build steps. Continuing assuming the assets in this folder are already built. If

[2022-07-05 12:37] superfliege commented on #92905
Script above is working very good. Struggling with the script in the ms docs. but this man safed my day. thanks!

[2022-07-05 12:38] timwarner-msft commented on #93202
@xiaomi7732 I'm still waiting to hear back from an engineering team member. Thanks, Tim

[2022-07-05 12:39] DEberhardt opened #95283 "DYN365_BUSINESS_MARKETING is duplicated"
PR incoming to remove one one of the two.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD - Microsoft Entra](https://docs.microsoft.com/en-us

[2022-07-05 12:58] blackviper0007 opened #95285 "RDP connection to firewall explanation neede."
[Enter feedback here]
Hi,

I am unable to understand below line. Could anyone tell me how to execute below step.

1. **Connect a remote desktop to firewall public IP address and sign in to the Srv-Work virtual machine.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac13cbf3-f230-7e85-d57d-cba3196a166c
* Version Independ

[2022-07-05 13:01] ddobric opened #95286 "URLs broken"
All sample reference URLs on this page are broken

![image](https://user-images.githubusercontent.com/1756871/177333592-eb176774-5b35-46f7-9dc3-2cacee0042df.png)

[2022-07-05 13:08] holotrek opened #95287 "objectId not retrieved"
In Create An Identity, step 2, it shows to run this command:
[code]

It seems that `az ad sp show` doesn't include objectId anymore, resulting in this being a blank value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95812617-2cee-fb2c-2c6d-573f222033be
* Version Independent ID: bf51864f-646f-2fda-7842-b1f3cf2f9ce2
*

[2022-07-05 13:12] ElazarK commented on #95246
@DeanGross you are correct that this would be a very useful document to have included. I will be talking to the appropriate teams and see what we can do. We will add this as one of our backlog items to take care of in the future. Thank you for reaching out.

[2022-07-05 13:25] GitaraniSharma-MSFT commented on #95287
@holotrek , thank you for your feedback. We have assigned this to the content owner/author for review.

@greg-lindsay , for your review.

[2022-07-05 13:34] ezYakaEagle442 commented on #95119
also :
- [Deploy Spring microservices from scratch](https://github.com/microsoft/azure-spring-cloud-training)
- [Deploy existing Spring microservices](https://github.com/Azure-Samples/azure-spring-cloud)

[2022-07-05 13:38] ElazarK commented on #95246
#please-close

[2022-07-05 13:38] #95246 closed

[2022-07-05 13:40] amycolyer commented on #94452
Just following up.  Thanks

[2022-07-05 13:40] matthewjlevy commented on #95276
I would also like to add, that I can't see how a group requests elevation for an eligible role in PIM. See [When to use a role-assignable group](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/concept-privileged-access-versus-role-assignable#when-to-use-a-role-assignable-group) because it contradicts this guidance in saying:
`If you want to assign a group to

[2022-07-05 13:41] Kurren123 opened #95288 "Incorrect script"
In the section [Grant access to Microsoft Graph](https://docs.microsoft.com/en-us/azure/app-service/scenario-secure-app-access-microsoft-graph-as-app?tabs=azure-cli#grant-access-to-microsoft-graph), the "Azure CLI" script contains this line:

[code]

There is no `objectId`, I suspect this is depreciated. `id` works, so I would suggest amending to:

[code]

---
#### Document Details

⚠ *Do not edit

[2022-07-05 13:44] DEberhardt commented on #95283
Another one that is duplicated, but cannot fix myself:
MCOMEETADV_GOV and MCOMEETADV_GOC have the same GUID: 2d3091c7-0712-488b-b3d8-6b97bde6a1f5

Don't think this should be the case?

[2022-07-05 14:05] AjayKumar-MSFT commented on #95095
rosemcc, After the initial review, I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-07-05 14:17] MicrosoftGuyJFlo commented on #95021
@TheUniquePaulSmith theoretically your statement is correct, but there are multiple variables in play with this scenario. The best way to address this is by opening a support case. Support can then reach out if the documentation needs further detail.

[2022-07-05 14:17] MicrosoftGuyJFlo commented on #95021
#please-close

[2022-07-05 14:17] #95021 closed

[2022-07-05 14:25] MatBerg2 opened #95291 "clear indication of traffic direction missing"
A clear indication of traffic direction is missing. a sentence like "required for communication between the Azure AD Connect server and on-premises AD" seems to indicate bidirectional communication, but is this really the case?

I am _not_ talking about "replies" here obviously, but distinct requests. Is, for example an Active directory Domain Controller really sending global catalog requests on p

[2022-07-05 14:30] anandsowm commented on #30477
If you get errors of this kind when uploading your policy, << Claim type "someProperty" is the input claim of technical profile "techProfileName" but it is not an output claim in any of the previous steps. >>, then it is because you have commented out or removed some ClaimsProvider in your base policy file, which is being referred to in later Relying party policy. You need to either remove that de

[2022-07-05 15:02] MarileeTurscak-MSFT commented on #95283
@DEberhardt and @Nicholak-MS thanks for adding the PRs. Is the DYN365-BUSINESS_MARKETING one added as well?

[2022-07-05 15:04] MarileeTurscak-MSFT commented on #95291
@MatBerg2
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-05 15:07] MarileeTurscak-MSFT commented on #95291
Most of the examples in the table would be one direction, but some exceptions like password writeback are also included.

Adding @billmath for visibility though, and feel free to tag me in the comments if you still think the language should be amended.

[2022-07-05 15:07] #95291 closed

[2022-07-05 15:14] mbender-ms commented on #94896
Hi @adi-garg,
Thanks for the feedback and suggestions.

When creating an internal load balancer, the virtual network is determined when you add the Front-End IP address and the only VNets available to choose are in the same region. Once this has been added, your only portal option when adding a backend pool is choosing a subnet in the same VNet.

[Create an internal load balancer](https://docs.mic

[2022-07-05 15:22] kobulloc-MSFT commented on #94364
@dani3lheidemann Thank you very much for the update!  Good to hear that everything has been cleared up!

[2022-07-05 15:32] kobulloc-MSFT commented on #95134
@xuwenjian1995 I would confirm this with [Azure billing](https://azure.microsoft.com/en-us/support/#support-plans) but from the description it sounds like you would need to purchase or have purchased a license to use in this scenario.  The BYOL image would give you the correct software with the assumption that you already have the appropriate license purchased.  The BYOL checkbox during VM setup w

[2022-07-05 15:33] adi-garg commented on #94896
Hello,
I would say it still does not help clarify in the document.
The portal and doument needs to call out that **the Loadbalancer belongs to a vnet**, **not just take the backend pool's vnet as the loadbalancer's vnet( initial impression given is each backend pool can be assigned different vnets in same region AND LB is NOT tied to a vnet).**

[2022-07-05 15:42] MDBrittingham opened #95295 "This tutorial failed right out of the box."
[Enter feedback here]
I added the requested packages, and pasted the "builder=" code into the Program.cs file. Immediately received the error:

'IWebJobsBuilder' does not contain a definition for 'AddAzureStorageCoreServices' and no accessible extension method 'AddAzureStorageCoreServices' accepting a first argument of type 'IWebJobsBuilder' could be found"

The problem is that you do not tell the

[2022-07-05 16:11] SaurabhSharma-MSFT commented on #95286
@ddobric To assist you better on your query could you provide us with the link to the document you are referring to?
In case your query in not related to document content, open a new forum thread either [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/) or [StackOverflow](https://stackoverflow.com/) as it could be better place to get help on your scenario where the community membe

[2022-07-05 16:17] koudaiii opened #95297 "Please fix HTTP POST data in Get Azure AD tokens by using the Microsoft Authentication Library"
https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/app-aad-token?source=docs#get-azure-ad-tokens-by-using-a-web-browser-and-curl

![image](https://user-images.githubusercontent.com/2929102/177371387-04b2494b-3f21-4dca-b791-fdbea50426e2.png)

- :x: redirect_ur**l** `"error_description":"AADSTS700009: Reply address must be provided when presenting an authorization code reques

[2022-07-05 16:18] JamesTran-MSFT commented on #95276
@matthewjlevy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-05 16:41] #95091 closed

[2022-07-05 17:18] dlepow commented on #94253
@mikebudzynski - Can you please provide more information about steps/details to cross-reference one APIM schema from another? As needed, I can add this information to the article. Thank you!

[2022-07-05 17:34] rgsteele opened #95301 "No documentation for the ADSyncAADCompanyFeature cmdlets"
The Azure AD Connect PowerShell module provides cmdlets for managing settings such as `ForcePasswordChangeAtLogOn`: `Get-ADSyncAADCompanyFeature` and `Set-ADSyncAADCompanyFeature`. However, these cmdlets are not documented anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 737984d1-9a71-2472-e99b-f50871bd159f
* V

[2022-07-05 17:35] mcdonamw opened #95302 "Azure virtual networks and "secure" communications"
I'm training for Azure certification, and I ran across a question in a quiz that is confusing me.  The course operators pointed me to this page which confirms their definition, but I have concerns about it being accurate.

What is an Azure Virtual Network:  Azure virtual network enables Azure resources to securely communicate with each other, the internet, and on-premises.

As an IT professional f

[2022-07-05 17:37] dlepow commented on #95252
@adrianhall - Can you please comment: Is this "global" behavior of the rate limit key by design, and what is our guidance for configuring the rate limit by key policy at more than one scope? Thanks!

[2022-07-05 17:39] lauradolan commented on #94277
@ayshakeen can you or your team please help confirm this info? Thanks!

[2022-07-05 17:43] JamesTran-MSFT commented on #95301
@rgsteele
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-05 17:51] PaulDedula commented on #94801
The MS documentation should be updated to clarify, and the cmdlet documentation should be filled out with examples in the module itself.

However, I was able to get this command working as expected with modern auth. In the copy/paste example, it shows the `-CloudCredential` parameter being used. Try to switch that to `-UserPrincipalName $UPN`.

`Get-AzureADKerberosServer -Domain $domain -CloudCred

[2022-07-05 18:21] DeanGross opened #95304 "Protection by MDC"
The Network control section has the following statements which seem to contradict each other, please resolve this apparent discrepancy or add some clarification language

Protect your Azure VMware Solution VMs with Microsoft Defender for Cloud integration

Microsoft Defender for Cloud monitoring: **None**
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-07-05 18:30] furnivall opened #95305 "Spelling error"
[Enter feedback here]
Spelling error here:

![image](https://user-images.githubusercontent.com/18507008/177392558-f4223b2a-cb0e-400c-ba0c-297a88893277.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035-00ee-f7fd-97a1-69dae5f808ef
* Version Independent ID: a3447928-73cc-0290-6d46-b89234757e3b
* Content: [Tutor

[2022-07-05 18:31] lmhutch opened #95306 "This Article is obsolete - using MG to enable MDfC"
Since Defender for Cloud is enabled for all subscriptions no matter what and there is no policy anymore for Enable Azure Security Center, I believe this article should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29ac6a86-4eac-5901-2238-e08b4b33bc68
* Version Independent ID: 85e085e3-06a1-f6d9-5b54-7540e0

[2022-07-05 18:37] dmelgarejoPDESGO opened #95307 "The policy mentioned in this doc does not appear"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29ac6a86-4eac-5901-2238-e08b4b33bc68
* Version Independent ID: 85e085e3-06a1-f6d9-5b54-7540e05cbc98
* Content: [Onboard a management group to Microsoft Defender for Cloud](https://docs.microsoft.com/en-us/azure/defender-for-cloud/onboard-management-gr

[2022-07-05 18:44] jlian commented on #94968
Sorry, I don't understand how this isn't a documentation issue. Shouldn't we make it clear in the docs how the user would add wildcards in the redirect URI?

BTW, after several hours of trial and error I got it to work with one pattern:

[code]

The first part cannot have any other characters at all. This is all currently undocumented.

[2022-07-05 18:44] mike-urnun-msft commented on #95078
Thanks again for sharing your feedback! As the next step, we're proceeding to assign this issue to the content author to review further and determine whether this pattern should be included in this documentation.

cc: @dlepow  @mikebudzynski  @VitaliyKurokhtin

[2022-07-05 18:49] kobulloc-MSFT commented on #95304
@DeanGross Thank you for your feedback!  We are reviewing the protection options for VMware Solution VMs and will get back to you shortly.

[2022-07-05 19:12] mikes2nd commented on #38069
I have been having a similar error...

My request works in postman...

Note Postman adds a lot of headers... Obviously content type is needed(xxx-form...).  But mine also needed "Content-Length" and Host...  If i did not add these two headers, the api request failed in Postman... you must add these in ADF for the pipeline to work.

[2022-07-05 19:19] James-Hamil-MSFT commented on #95305
Hi @furnivall , we are investigating your issue and will update you shortly.

Best,
James

[2022-07-05 19:26] grminch commented on #74634
#please-close

[2022-07-05 19:26] #74634 closed

[2022-07-05 19:28] grminch commented on #74787
This is fixed. PubSub is listed under Web and Integration.

#please-close

[2022-07-05 19:28] #74787 closed

[2022-07-05 19:41] James-Hamil-MSFT commented on #94264
Hi @xtianus79 do you have a live version of this site or a repo I could look at?

[2022-07-05 19:53] appliedcognetics opened #95308 "https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/best-practices-serverless-sql-pool#check-inferred-data-types"
There is an error in the WITH Clause , the column names need to match the names in the rowset otherwise the user will get an error

SELECT
    vendorID , tpepPickupDateTime,passengerCount
FROM
	OPENROWSET(
		BULK 'https://azureopendatastorage.blob.core.windows.net/nyctlc/yellow/puYear=2018/puMonth=*/*.snappy.parquet',
		FORMAT='PARQUET'
    )

	WITH (
		vendorID varchar(4), -- we used length of 4

[2022-07-05 20:00] AbdullahBell commented on #95148
#reassign: @AbdullahBell

[2022-07-05 20:00] AbdullahBell commented on #95039
#reassign: @AbdullahBell

[2022-07-05 20:00] AbdullahBell commented on #94937
#reassign: @AbdullahBell

[2022-07-05 20:00] AbdullahBell commented on #92363
#reassign: @AbdullahBell

[2022-07-05 20:03] AbdullahBell commented on #90290
#reassign: @AbdullahBell

[2022-07-05 20:03] AbdullahBell commented on #89259
#reassign: @AbdullahBell

[2022-07-05 20:03] AbdullahBell commented on #88215
#reassign: @AbdullahBell

[2022-07-05 20:04] AbdullahBell commented on #80806
#reassign: @AbdullahBell

[2022-07-05 20:04] AbdullahBell commented on #79951
#reassign: @AbdullahBell

[2022-07-05 20:05] AbdullahBell commented on #78178
#reassign: @AbdullahBell

[2022-07-05 20:05] Oury-MSFT commented on #95073
@rohitnayakmsft We don't have permissions to update image in the documentation.
 @utsavkale I will assign this to content author to make the change.

[2022-07-05 20:05] AbdullahBell commented on #77119
#reassign: @AbdullahBell

[2022-07-05 20:06] AbdullahBell commented on #93798
#reassign: @AbdullahBell

[2022-07-05 20:06] AbdullahBell commented on #72821
#reassign: @AbdullahBell

[2022-07-05 20:06] AbdullahBell commented on #69837
#reassign: @AbdullahBell

[2022-07-05 20:08] AbdullahBell commented on #66700
#reassign: @AbdullahBell

[2022-07-05 20:08] AbdullahBell commented on #65956
#reassign: @AbdullahBell

[2022-07-05 20:09] AbdullahBell commented on #64177
#reassign: @AbdullahBell

[2022-07-05 20:09] James-Hamil-MSFT commented on #95305
Hi @furnivall , thanks for letting us know. I've created a PR.

Best,
James

[2022-07-05 20:09] #95305 closed

[2022-07-05 20:10] AbdullahBell commented on #60715
#reassign: @AbdullahBell

[2022-07-05 20:15] gwu70ca opened #95311 "Steps are outdated"
[Enter feedback here]
Steps are outdated in this section: [Create a function app](https://docs.microsoft.com/en-us/azure/azure-functions/create-premium-plan-function-app-portal#create-a-function-app)

Options of "Operating system" and "Plan" in Step 4 are moved to Step 3.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1

[2022-07-05 20:15] MarileeTurscak-MSFT commented on #95283
Not sure if you already made a PR but I just added one to remove the extra DYN365_BUSINESS_MARKETING

https://github.com/MicrosoftDocs/azure-docs-pr/pull/203820

[2022-07-05 20:15] #95283 closed

[2022-07-05 20:24] AbdullahBell commented on #58297
#reassign: @AbdullahBell

[2022-07-05 20:30] w-azure commented on #80788
Thanks for the feedback, a new section was added to the documentation in the prerequisites section:
"This article refers to the gateway hostname at several points. The gateway hostname is declared in the hostname parameter of the config file on the IoT Edge gateway device. It's referred to in the connection string of the downstream device. The gateway hostname needs to be resolvable to an IP Addre

[2022-07-05 20:30] #80788 closed

[2022-07-05 20:40] PatrickFarley commented on #95253
Yes, please assign me

[2022-07-05 20:51] OscarTHZhang opened #95313 "Need to make a note on installing Newtonsoft.Json package"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0d03b4f-4157-0d04-0f48-0a3e2fb966cb
* Version Independent ID: 6b7bed89-eb53-105a-7971-476ddd4cf3b7
* Content: [Create a .NET app on Service Fabric in Azure - Azure Service Fabric](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-t

[2022-07-05 20:54] JamesTran-MSFT commented on #95135
@ltjones129
I just wanted to check in and see if you had any other questions or if you were able to review my previous comment?

[2022-07-05 20:57] ChaitanyaNaykodi-MSFT commented on #95302
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-05 21:33] sunnyhay opened #95314 "BCDR question for online endpoint with multiple deployments"
Hi,  is there any documentation/best practice to enable a single online endpoint with multiple deployments in different regions for failover consideration? For instance, using the same model/API a single endpoint can allow blue deployment on East US while green deployment on West US. If this does not work, I plan to build multiple endpoints against the same set of model/API and still need some rou

[2022-07-05 21:43] appliedcognetics opened #95315 "Missing create master key encryption by password command"
There is a step missing ...

CREATE MASTER KEY ENCRYPTION BY PASSWORD='EnterStrongPasswordHere_123';

must be created before the command

CREATE DATABASE SCOPED CREDENTIAL [sqlondemand]
WITH IDENTITY='SHARED ACCESS SIGNATURE',
SECRET = 'sv=2018-03-28&ss=bf&srt=sco&sp=rl&st=2019-10-14T12%3A10%3A25Z&se=2061-12-31T12%3A10%3A00Z&sig=KlSU2ullCscyTS0An0nozEpo4tO5JAgGBvw%2FJX2lguw%3D'

---
#### Document

[2022-07-05 22:00] Grace-MacJones-MSFT commented on #95288
Thanks for your feedback! We will review and update this doc accordingly.

[2022-07-05 22:04] Grace-MacJones-MSFT commented on #95295
Hi @MDBrittingham, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-07-05 22:05] ecfan commented on #95256
@mrsmitty and @VikasPullagura-MSFT: Thanks, a team member has already opened a PR, which I've linked, to address the issue.

[2022-07-05 22:05] ecfan commented on #95256
#assign @wsilveiranz

[2022-07-05 22:07] MarileeTurscak-MSFT commented on #95307
Hi @dmelgarejoPDESGO , can you clarify which policy you are referring to? What you mean when you say it doesn't appear?

[2022-07-05 22:09] MarileeTurscak-MSFT commented on #95307
Since you appear to be a Microsoft FTE, feel free to make a pull request or send an email to the author documenting the requested change since the public Github issues are more intended for external customers.

[2022-07-05 22:09] #95307 closed

[2022-07-05 22:20] mrsmitty commented on #95256
Thanks @ecfan. I didn't see the link, looks like it's #95277

[2022-07-05 22:24] ecfan commented on #95256
@mrsmitty: Actually, we needed the team member to create an internal PR, not the [public one](https://github.com/MicrosoftDocs/azure-docs/pull/95277) you found, which they previously created, and we had to close.

[2022-07-05 22:37] mrsmitty commented on #95256
Not directly related to storage but I remembered, we also needed to implement these rules:

https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config?tabs=azure-portal#firewall-configuration-ip-addresses-and-service-tags

If another doc will cover the rules for running logic apps in a virtual network, it needs to cover everything required to run and operate. The PR that was cl

[2022-07-05 22:46] ecfan commented on #95256
#assign:wsilveiranz

[2022-07-05 22:47] adrianhall commented on #95252
Yes - the keys are keys within the Redis cache, and as such global to everyone using that cache.  This is by design so a malicious actor doesn't bypass the rate limit by skipping to other instances.

You can construct the key from anything you want - so, for instance - you could prefix each key with the scope.  It depends on what you are trying to achieve.

[2022-07-05 22:48] Varnauld commented on #86691
@AshokPeddakotla-MSFT - we will consider this item closed unless we hear back from @jelmerS2 or yourself, thank you!

[2022-07-05 22:54] pamelafox opened #95316 "Ocp-Apim-Subscription-Region seems to be required for quickstart demo"
I went through the Translate quickstart guide for Python, but I kept getting this error when running the demo code:
{
    "error": {
        "code": 401000,
        "message": "The request is not authorized because credentials are missing or invalid."
    }
}

I searched and found this thread:
https://docs.microsoft.com/en-us/answers/questions/146034/getting-code-401000-message-34the-request-is-no

[2022-07-05 23:01] JasonFreeberg opened #95317 "Java Quickstart should not recommend Free tier"
@cephalin -- The "Azure Portal" tabs tell the user to select the Free tier for their web app. Please change that to B1. This article even recommends against Free tier:

![image](https://user-images.githubusercontent.com/18747768/177430621-8cbf4168-857e-43dc-9a87-928973600302.png)

When I commented in the PR review (https://github.com/MicrosoftDocs/azure-docs-pr/pull/199078#pullrequestreview-102236

[2022-07-05 23:25] MartijnvanPraag opened #95318 "Conflicting license requirements"
The license requirements listed in this doc ("to access the sign-ins activity report, your tenant must have an Azure AD Premium license associated with it") conflict with the requirements in this doc: https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-sign-ins ("The sign-in activity report is available in all editions of Azure AD")

---
#### Document Details

⚠ *Do

[2022-07-05 23:32] JamesTran-MSFT commented on #95318
@MartijnvanPraag
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-05 23:36] YutongTie-MSFT commented on #95314
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-05 23:37] YutongTie-MSFT commented on #95316
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-05 23:54] jsimsmsft opened #95320 "LRS to ZRS Live Migration not supported if SMB Multichannel enabled?"
Recently learned that SMB-multichannel can't be enabled when migrating LRS to ZRS via Live Migration.

Can we add this to the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66ebb48e-c896-a747-bc42-aa203978a1cd
* Version Independent ID: 6e7bfefb-e67c-b5d5-89f7-6f1b6a2e8b61
* Content: [Change how a storage

[2022-07-06 00:15] kobulloc-MSFT commented on #95313
@OscarTHZhang Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-07-06 00:18] kobulloc-MSFT commented on #95247
@saikumar0412 Thank you again for your feedback!  I've raised this with the documentation team and they've added this to their backlog this month for further review.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-07-06 00:18] #95247 closed

[2022-07-06 00:31] mrsmitty commented on #95256
There's also an error on this page:
`C:\psping {storage-account-host-name}.file.core.windows.net:443` should be `C:\psping {storage-account-host-name}.file.core.windows.net:445`

[2022-07-06 00:43] SaurabhSharma-MSFT commented on #95280
@jyama4ta Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-06 00:45] SaurabhSharma-MSFT commented on #95282
@binaryjam Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-06 00:48] peter-bertok opened #95321 "New logging features in AMA? If so, where is the documentation?"
The AMA agent appears to be a rewrite but the documentation doesn't mention any new features that have been requested for years and years.

For example, is it possible to add custom fields to the W3CIISLog, such as the X-Forwarded-For and X-Forwarded-Proto header values? It's not mentioned anywhere, but this is a fairly crucial feature for many systems and security teams.

Similarly, it is virtual

[2022-07-06 00:57] eldrly opened #95323 "Feedback"
[Enter feedback here]

This document refers to Amazon Web Services (AWS) and not Microsoft Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d15c9bda-6fed-dcc5-f2bd-bb1fb3cedc55
* Version Independent ID: d15c9bda-6fed-dcc5-f2bd-bb1fb3cedc55
* Content: [Sign up for Databricks Community edition - Azure Databricks](ht

[2022-07-06 01:11] arcesso opened #95324 "Invalid example"
The example parameters dont match the example bicep. The parameter 'currentStack' is supplied but is not a valid parameter in the bicep file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5584d6c1-0a94-9a3e-d420-a517690d8ca0
* Version Independent ID: b264b09a-3a3d-065c-0a23-d4135633942c
* Content: [Resource Manager te

[2022-07-06 01:11] pnarsi opened #95325 "Dependency Agent being replaced by Azure Monitor Agent"
I noticed that the [Dependency agent](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agents-overview#dependency-agent) is not listed as a legacy agent that will be replaced by the Azure Monitor agent. Was the omission deliberate (because it is not being replaced) or does the documentation need to be updated?

![image](https://user-images.githubusercontent.com/7891408/177442313-9f75fc4

[2022-07-06 01:26] w-azure commented on #80842
Thanks for the feedback. We have determined the issue is not common enough to be included in the Common Errors page, but since the documentation on the [Authenticate a downstream device](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-authenticate-downstream-device?view=iotedge-2020-11#prerequisites) page has been clarified in the prerequisites section, the error is likely to be encountered

[2022-07-06 01:26] #80842 closed

[2022-07-06 01:40] anthony-c-martin opened #95326 "Add documentation for Bicep `join()` function"
Bicep & ARM templates now support a function `join()` to combine an array of strings based on a string delimiter.

The Bicep hover definition:
<img width="497" alt="image" src="https://user-images.githubusercontent.com/38542602/177448809-dfd76283-0145-444b-99bb-94596c21c258.png">

Some example usage along with the output values can be found here:
https://github.com/Azure/bicep/blob/ae66808697d2f66

[2022-07-06 01:57] chaoscreater opened #95328 "Azure VPN certificate auth for Client Auth is empty when importing config"
In the screenshot below, I am creating a brand new Azure VPN config and we can clearly see that the Client Authentication for the Certificate auth type is able to find my 2 certificates:

![image](https://user-images.githubusercontent.com/18227319/177450925-f34059cd-31ba-4df6-9c04-344001cfd42a.png)

Here's the certificate in the Cert store:

![image](https://user-images.githubusercontent.com/18227

[2022-07-06 02:33] mumian commented on #95326
@anthony-c-martin - the join() function was added to the doc earlier today.

#please-close

[2022-07-06 02:33] #95326 closed

[2022-07-06 03:11] #86691 closed

[2022-07-06 03:11] VikasPullagura-MSFT commented on #95311
@gwu70ca
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-06 03:11] VikasPullagura-MSFT commented on #95311
@ggailey777
Can you please check and add your comments on this doc update request as applicable.

[2022-07-06 03:14] VikasPullagura-MSFT commented on #95320
@jsimsmsft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-06 03:14] VikasPullagura-MSFT commented on #95320
@tamram
Can you please check and add your comments on this doc update request as applicable.

[2022-07-06 03:39] VikasPullagura-MSFT commented on #95328
@chaoscreater

Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2022-07-06 03:42] chaoscreater commented on #95328
Relevant docs are found here:

https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-certificates-point-to-site
https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-vpn-client-cert-windows

[2022-07-06 03:51] Gr3mIin opened #95329 "Update to IoT Edge NodeJs Documentation"
Page states that "Currently, Visual Studio Code can develop Node.js modules for Linux AMD64 and Linux ARM32v7 devices" Which indicates that ARM64v8 isn't supported, should be updated at some point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e7d644a-8051-9d73-803a-39720939df92
* Version Independent ID: 223c5796-a23

[2022-07-06 03:58] rw-nzta opened #95330 "Incorrect value?"
Hi

Under Add a Conditional Access policy--> 9. Under Enable policy, select one of the following:

![image](https://user-images.githubusercontent.com/108779632/177465502-3f3f79e0-4420-464b-9797-ab033033f4f1.png)

https://docs.microsoft.com/en-us/azure/active-directory-b2c/conditional-access-user-flow?pivots=b2c-user-flow#:~:text=the%20audit%20report-,On,The%20access%20policy%20is%20evaluated%20and

[2022-07-06 04:31] VikasPullagura-MSFT commented on #95330
@rw-nzta Thanks for pointing this out. The document is updated and changes will go live on the changes are approved by document author.

[2022-07-06 04:36] VikasPullagura-MSFT commented on #95328
@chaoscreater
Thanks for sharing the documents.
Our SME will review and get back to you.

[2022-07-06 04:38] VikasPullagura-MSFT commented on #95329
@Gr3mIin
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-06 04:38] VikasPullagura-MSFT commented on #95329
@PatAltimore
Can you please check and add your comments on this doc update request as applicable.

[2022-07-06 04:40] ShaikMaheer-MSFT commented on #95308
@appliedcognetics Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-06 04:42] ShaikMaheer-MSFT commented on #95315
@appliedcognetics Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-06 04:44] ShaikMaheer-MSFT commented on #95323
@eldrly Thank you for sharing feedback.  We are actively validating it. We will share updates soon.

[2022-07-06 04:48] fowl2 opened #95336 "AADSTS90044 National Cloud Request Process Switched off"
It would be great if some information about this error could be added to this page.

| Error Code | Message |
|---|---|
| [90044](https://login.microsoftonline.com/error?code=90044) | National Cloud Request Process Switched off. |

I have received this after clicking a notification that navigated to Windows 10 20H2 Settings -> System -> Shared Experiences and then clicking "Fix now".

![image](htt

[2022-07-06 04:51] SteveBurkettNZ commented on #10237
Anyone stumbling across this 'The document creation or update failed because there were duplicate properties in the json payload' error in the future via Google, what I found useful was to head to the associated Resource Group in Azure Portal, and in the main pane of the Overview page for the Resource Group there will be a Deployments field showing on the right.

Hopefully you can click on a '# Fa

[2022-07-06 04:55] Venkateshdodda-MSFT commented on #95317
@cephalin Could you please look into this documentation update request.

[2022-07-06 04:57] #95330 closed

[2022-07-06 05:09] SreejaBhattacharya-MSFT commented on #95124
Hi @peterpogorski , could we make it clearer in our documentation?

[2022-07-06 05:44] SwathiDhanwada-MSFT commented on #94950
@bwren Can you please provide your inputs on this issue?

[2022-07-06 06:01] VikasPullagura-MSFT commented on #95336
@fowl2
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-06 06:01] VikasPullagura-MSFT commented on #95336
@rwike77
Can you please check and add your comments on this doc update request as applicable.

[2022-07-06 06:05] egoward opened #95337 "Enabling http/2 on ASE"
For enabling HTTP/2, we call out a PowerShell script to enable HTTP/2.
![image](https://user-images.githubusercontent.com/15047078/177480092-afd7079a-5a74-4707-9a9e-ea9994ab1796.png)

Looks like it's now exposed in the web portal so I think you should mention that in the docs (maybe just replace the powershell commands)

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-07-06 06:24] SQLtattoo opened #95338 "Small thing for smoother reading experience"
Hello, I would replace the "w.r.t" with the complete "with reference to" since I haven't seen this before and I had to Bing it and find what seems to be the full wording. That moved the focus away from the content and into the syntactic of things, IMHO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f010727f-821c-9f58-

[2022-07-06 06:53] kogepanh opened #95339 "Add Azure Container Apps to the list of zone-redundant"
We available to use zone-redundant for Azure Container Apps, but Azure Container Apps is not listed in the below documentation.

Incidentally, the page about Azure Container Apps describes that zone-redundant can be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef6739c-50e6-e80b-cfc1-4d7d5b5d35e8
* Version Inde

[2022-07-06 07:00] yoelhor commented on #95036
Thanks for the feedback. I believe the code in the Startup.cs file should be updated.  Let me check it, and i'll update the article accordingly (probably will keep both versions).

[2022-07-06 07:00] GitaraniSharma-MSFT commented on #95337
@egoward , thank you for your feedback. We have assigned this to the content owner/author for for updating the doc accordingly.

@greg-lindsay , could you please update the doc to include the HTTP/2 enablement via Azure portal (as it is available now)?

[2022-07-06 07:11] ericyew opened #95341 "Wrong command. Missing addon"
Commands on page are wrong. Example:
`az aks update -g myResourceGroup -n myAKSCluster2 --enable-secret-rotation`
should be
`az aks addon update -g myResourceGroup  -n myAKSCluster2  -a azure-keyvault-secrets-provider --enable-secret-rotation`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 409a3be9-4831-9401-0bb3-c6520

[2022-07-06 07:15] omrigaonms opened #95342 "Couldn't implement article this and get the logs. Please review and update. Thanks!"
[Enter feedback here]
Hi There,

This document is outdated, and I was unable to implement it. Can someone please update it to current look and feel of Azure?

Thanks
Omri Gaon
EMEA ANP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4f81d07-fd9a-c911-b9b7-c2aa3c298f5b
* Version Independent ID: 96a5f6c6-e7eb-57a3-8e64-c

[2022-07-06 07:24] guywi-ms commented on #95321
#assign-reviewer: @shayoniseth

[2022-07-06 07:24] guywi-ms commented on #95321
CC: @shayoniseth

[2022-07-06 07:52] ankitvijay commented on #39950
I can still see this issue in the Azure portal, can you help me understand why it was closed?

[2022-07-06 08:06] cubikca opened #95344 "Unable to create MongoDB API indexer"
Hello,

Following confirmation that my search service was enrolled in the MongoDB API public preview, I attempted to create a simple index following the documentation. The data source and index created fine, using the following definitions:

[code]
and

[code]

Upon attempting to create the following indexer:

[code]
I receive an error that `Data source does not contain column '_id'...`. I have al

[2022-07-06 08:08] shreyaaithal commented on #95127
@eyankzz , Please verify that your docker daemon is running while executing this step.

[2022-07-06 08:11] shreyaaithal commented on #95126
@eyankzz , please ensure that your CLI is updated to the latest version using az upgrade command.
az config is only available from Azure CLI version 2.10.0 and above. : https://docs.microsoft.com/en-us/cli/azure/config?view=azure-cli-latest

[2022-07-06 08:23] KrishnaG-MSFT commented on #95338
@SQLtattoo Thanks for your comment! We will review and provide an update as appropriate.

[2022-07-06 08:26] AnuragSharma-MSFT commented on #95160
@sweigand Please let us know if you have any further questions.

[2022-07-06 08:34] valeriocapponi commented on #94855
Any news on WestEurope?

[2022-07-06 08:52] fwikestad opened #95347 "AKS Cluster restart on disable."
Needs a big warning that disabling AKS Insight will restart the AKS cluster.
Have found no warnings to that effect in this nor any other docs about AKS Insight monitoring setup/uninstall.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c00610f-b4dc-ce1b-5d8d-f582cc238012
* Version Independent ID: 15ae3b09-77f6-01a5-c2e

[2022-07-06 08:54] ericyew commented on #95341
just all the `az aks update `command in this section [](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver#enable-and-disable-autorotation)

[2022-07-06 09:13] hopoffbaby opened #95350 "Unable to round numbers up/down"
There doesnt seem to be a way to round numbers up or down. For example, this formula, when 1 tasks is submitted produces a number of target nodes of 0.5. Which seems to be internally rounded down to 0, and therefore the pool never scales. How can I scale it up to the nearest int?

`
startingNumberOfVMs = 1;
maxNumberofVMs = 10;
activeTaskSamplePercent = $ActiveTasks.GetSamplePercent(180 * TimeInte

[2022-07-06 09:17] betizad opened #95352 "issue with the documentation of Spark Config"
The Spark Config is written incorrectly.  It should be as follows:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae18d575-4a87-7079-c16d-23259c5b8d5e
* Version Independent ID: 4d4e97dd-444d-a5df-e77a-0d0cc594f08f
* Content: [Tutorial: Run a job with an Azure service principal - Azure Databricks](https://docs.mi

[2022-07-06 09:19] Givary commented on #95279
@Arne-RFA Reviewed your ask, if i understand correctly you want to check whether password policy proxy service can be run on a domain controller having AD Connect installed ?

[2022-07-06 09:22] SreejaBhattacharya-MSFT commented on #95350
@hopoffbaby Thanks for reaching out. We will review this and update the thread with further information. Thanks.

[2022-07-06 09:25] Arne-RFA commented on #95279
@Givary you have it exactly

"Azure AD Password Protection proxy and Azure AD Application Proxy install different versions of the Microsoft Azure AD Connect Agent Updater service"

Microsoft Azure AD Connect Agent Updater service is also used by AADC (ex DirSync), and currently (with 1.x expiring 2022-08-31) has the 1.x and 2.x versions supported.

[2022-07-06 09:31] SumanthMarigowda commented on #95153
@arefinsami  Apologies for the delay response! I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen t

[2022-07-06 09:31] #95153 closed

[2022-07-06 09:32] shahla-ai opened #95353 "Python API call to get image insights in Similar Image Search"
Greetings, thanks for your straight forward implementation. yet I still have two questions about the following
[tutorial](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-visual-search/quickstarts/python#send-the-request)

1. Setting content disposition in step three we are supposed to set the content disposition. can we just do the following: `HEADERS = {'Ocp-Apim-Subscription-Key':

[2022-07-06 09:40] Arne-RFA commented on #95279
@Givar No it does not, this is specifically about a DC that is also running AADC. Fully aware of security concerns with DCs having (outbound) Internet access, but that's a security concern rather than a supported configuration issue (-:

[2022-07-06 10:03] aragaey commented on #92884
I have the same problem, following [this tutorial](https://docs.microsoft.com/en-us/azure/aks/learn/quick-kubernetes-deploy-cli) with the Free Trial Subscription.

Any suggestions?

[2022-07-06 10:04] sdaytelefonicatechuk opened #95354 "imprecise/inaccurate content."
Hello,

In the "Important" box after step 6 of "Deploy the integrated scanner to your Azure and hybrid machines"
The following text needs to be more precise/accurate:

"If your machine is in a European Azure region"
Does this mean just North Europe and West Europe or all Azure regions in the Europe Geography not region?

This text needs to be VMs in which Azure regions  send metadata to the US or

[2022-07-06 10:13] sopelt opened #95355 "Clarify requirements for <linked-deployment-name>"
The documentation should clarify the requirements for `<linked-deployment-name>` as there seem to be unexpected side-effects when deployment names are not unique in concurrent ARM operations. Without the clarification we have to assume that the name of the deployment might have to be unique to avoid "spilling links/output" between different top-level deployments.

An example (derived from a real-w

[2022-07-06 10:14] jspaans91 opened #95356 "Extend the ValidationFailed section with posible FailedReasons and meaning"
It will be helpfull when in Troubleshooting and FAQs the ValidationFailed section would be extended with an explanation of the different FailedReason messages. At the moment it's not clear what the different FailedReason messages mean.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e46e92f-0321-e6bb-be9e-ef24f40cc763

[2022-07-06 10:15] yaroslav-ddt opened #95357 "Export stored PFX certificates on Linux systems"
Thank you very much for the useful documentation. I would suggest adding the information that to make it easier to convert the certificate on a Linux system from pfx, it should be downloaded in base64 encoding. Then openssl will be able to read and convert it to a suitable format without problems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-07-06 10:19] anthony-c-martin commented on #95326
Great! Sorry I missed that.

[2022-07-06 10:23] GitaraniSharma-MSFT commented on #95356
@jspaans91 , thank you for your feedback. We have assigned this to the content owner/author for review.

@asudbring , could you please review the suggestion and check with the PG if we can add some more details?

[2022-07-06 10:27] GitaraniSharma-MSFT commented on #50416
@mahortas , the docs have already been updated with the requested details.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-07-06 10:27] #50416 closed

[2022-07-06 10:28] GitaraniSharma-MSFT commented on #91314
@steveesp , could you please review the last comments and provide some insights on this issue?

[2022-07-06 10:28] SwathiDhanwada-MSFT commented on #95321
@peter-bertok Thanks for your feedback.

Assigning to @shayoniseth  for inputs.

[2022-07-06 10:29] SwathiDhanwada-MSFT commented on #95324
@arcesso Thanks for your comment. We will review the issue and get back to you shortly.

[2022-07-06 10:31] SwathiDhanwada-MSFT commented on #95347
@fwikestad Thanks for your feedback.

Assigning to content author @bwren   for review.

[2022-07-06 11:13] roofiq opened #95359 "Slot swapping - speeding up with WCF app"
Hello,

I would like to get some insights about executing blue-green deployment with using WCF application. We are experiencing application downtime when deploying in this manner.
In the doc, it is said that we can turn this flag off `[WEBSITE_ADD_SITENAME_BINDINGS_IN_APPHOST_CONFIG=1]` to minimize downtime, but it's nit supporting WCF. Is there anything else what can we do to minimize downtime fo

[2022-07-06 11:46] cveld opened #95360 "Add cross tenant guidance with service principals"
The current documentation talks about users and inviting them as guests in the second tenant.
Can you elaborate how the process would look like when using service principals?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52fe18fe-efc5-3e63-8200-8e20e885b55e
* Version Independent ID: 86a4f465-d676-e0e4-7367-2ed9f906340

[2022-07-06 11:47] leizhang1984 opened #95361 "This Page topic make me confused"
Hi,

In this page, we said Azure Front Door can access Azure Internal Loadbalancer.
After reading this document, I realized that this is NOT internal load balancer for Azure VM.

This feature is access Azure private link resources, really confused me.

Please modify this page topic and decribe more clearly.

Furthermore, according to Azure Front Door FAQ
https://docs.microsoft.com/en-us/azure/fron

[2022-07-06 12:16] vishalaj1 opened #95362 "Definition of Data usage in CosmosDB."
Hi,

What is the definition of Data Usage here?

Is it the total size of the cosmos container?

Regards,
Vishal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4535fb42-55f9-4d8c-52d2-30b5eb0ef726
* Version Independent ID: f5cccae0-a752-4065-605a-4179016a5a42
* Content: [Monitor and debug with insights in Azure Cosmos D

[2022-07-06 12:18] sweigand commented on #95160
No further questions. Would have liked to see Single Server get more updates, but c'est la vie.

[2022-07-06 12:18] #95160 closed

[2022-07-06 12:26] GitaraniSharma-MSFT commented on #95360
@cveld , thank you for your feedback. We have assigned this to the content owner/author for review.

@mbender-ms , could you please review the suggestion and provide your inputs?

[2022-07-06 12:28] nesager opened #95363 "Missing important information"
It is not clear that the OU receiving the groups shall be included in the OU filtering (if not all domain synched), before you are able to successful select it. You get an error stating that the ou is excluded - but it's no obvious that it's because of not selected in filtering.

Thanks

Nesager

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-07-06 12:56] VikasPullagura-MSFT commented on #95339
@kogepanh
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-06 12:56] VikasPullagura-MSFT commented on #95339
@awysza
Can you please check and add your comments on this doc update request as applicable.

[2022-07-06 12:58] hiniiyama commented on #95264
Hello team,

Let me leave the relevant IcM ticket in regarding the same.

https://portal.microsofticm.com/imp/v3/incidents/details/317254242/home

Thanks,

[2022-07-06 13:04] IvoMerchiers opened #95365 "Add premium requirement to delta live tables"
I tried following the steps on the linked page but couldn't get it to work. After some [extra research](https://community.databricks.com/s/question/0D53f00001qE3xrCAC/azure-databricks-delta-live-table-tab-is-missing)  it turns out that you need to be on a premium plan to use delta live tables.

As this information is crucial for following the quickstart it seems good to add to the page.

---
####

[2022-07-06 13:09] adi-garg opened #95366 "Gallery-Automation Account-Power on/off script for Update Mgmt needs to include System Assigned Identity in addition to current Run As Account"
Hello Support team,
I infer Microsoft recommends combining the following 2 pre/post scripts with the Update Management solution to power on VMs which may be powered off, perform the patching, power off these VMs again.
https://github.com/azureautomation/update-management-turn-on-vms
https://github.com/azureautomation/update-management-turn-off-vms

However, the recommended way forward is to use Sy

[2022-07-06 13:11] mszy-tribal opened #95367 "Alternative for Retry Policies"
Hi,

We have noticed that this feature is soon to be expired i.e.

_The retry policy support in the runtime for triggers other than Timer and Event Hubs is being removed after this feature becomes generally available (GA). Preview retry policy support for all triggers other than Timer and Event Hubs will be removed in October 2022._

Do you have any alternatives? I would like to know what I can us

[2022-07-06 13:15] alexeyshishkin01 opened #95368 "wrong option for 'az acr manifest list-metadata' command"
[Enter feedback here]

the command

az acr manifest list-metadata \
  --registry $ACR_NAME \
  --name helm/hello-world --detail

does NOT accept '--detail' option

could you pls. fix the documentation ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c4be11-ec02-7160-e65b-2218bfd70f68
* Version Independent ID: 19e0833

[2022-07-06 13:38] SreejaBhattacharya-MSFT commented on #95368
@alexeyshishkin01 Thanks for bringing this to our notice. We will update the documentation with the change.

[2022-07-06 13:41] JustinGrote opened #95369 "PowerShell tab doesn't have PowerShell examples"
It just shows the same az cli example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0258327-664a-28db-b9fc-03a6a115b80e
* Version Independent ID: d471e1b1-27c1-4aad-6eed-d542f875f12c
* Content: [Quickstart: Deploy your first container app](https://docs.microsoft.com/en-us/azure/container-apps/get-started?tabs=bash)
*

[2022-07-06 13:50] PaulDedula opened #95370 "Add documentation related to WHfB Cloud Trust"
There are attributes returned from dsregcmd /status that I cannot find documented. Specifically, this Windows Hello for Business [document](https://docs.microsoft.com/en-us/windows/security/identity-protection/hello-for-business/hello-hybrid-cloud-trust#provisioning) links to the article in issue [here](https://docs.microsoft.com/en-us/azure/active-directory/devices/troubleshoot-device-dsregcmd).

[2022-07-06 13:57] anthony-c-martin opened #95371 "Add documentation to explain single-line objects and arrays, and multi-line functions"
As of [Bicep 0.7.4](https://github.com/Azure/bicep/releases/tag/v0.7.4), we support:
* Single-line objects and arrays (including mixed use of single- and multi-)
* Multi-line functions (again, allowing mixing single- and multi- line within a single declaration)

See [here](https://github.com/Azure/bicep/blob/10c0cb266ff1c789dede73fadd88a8845a8775ef/src/Bicep.Core.Samples/Files/NewlineSensitivity_L

[2022-07-06 13:57] MikeHingley22 opened #95372 "AddAzureADBearer case might be wrong(?)"
AddAzureADBearer appears to be : AddAzureAdBearer as far as I can tell?  When I attempt to use that line in VS2022, it prompts that the method should be AddAzureADBearer :

![image](https://user-images.githubusercontent.com/99718263/177567536-f97d4fb6-e6b3-4313-8293-9a54a37805dd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-07-06 14:10] #53583 closed

[2022-07-06 14:15] NagaCSC commented on #94801
If you are using modern Auth with MFA. you will see a web-based popup to input credentials and perform MFA there. I have the below validated in my LAB

=#Supply domain name
$domain="bazinga.com"
=#Supply Username and Password can be any as you will get modern auth again to enter later
$cloudcred= get-credential
=#Supply on-prem or remove total -Domain cred if you are currently logged in with EA le

[2022-07-06 14:16] NagaCSC commented on #94801
=# --> comments

[2022-07-06 14:18] NagaCSC commented on #94801
sample image

![image](https://user-images.githubusercontent.com/47015559/177571936-99824335-3a48-4094-bf03-d046cf68b116.png)

[2022-07-06 14:18] GitaraniSharma-MSFT commented on #95285
@blackviper0007 , please find the answer to your query below:

"Connect a remote desktop to firewall public IP address and sign in to the Srv-Work virtual machine."

The above statement means you can RDP into the firewall public IP address and sign in to the Srv-Work virtual machine using a remote desktop tool. You can use "MSTSC" command or Remote Desktop Connection App to run RDP in your Windows

[2022-07-06 14:18] #95285 closed

[2022-07-06 14:19] NagaCSC commented on #94801
sample image from my LAB

![image](https://user-images.githubusercontent.com/47015559/177572259-bdebc374-e91e-4de5-9092-ba09f5cbbf33.png)

[2022-07-06 14:22] GeethaThatipatri-MSFT commented on #95127
Thanks, @shreyaaithal for providing your inputs
@eyankzz Could you please confirm on the same.

[2022-07-06 14:25] GeethaThatipatri-MSFT commented on #95126
Thanks, @shreyaaithal for clarifying the issue.

[2022-07-06 14:35] twimmers commented on #95173
#please-close

[2022-07-06 14:35] #95173 closed

[2022-07-06 14:39] GitaraniSharma-MSFT commented on #95328
@chaoscreater , I tested this in my lab and it is working for me. When I download the Azure VPN config from the VPN Gateway and do a import from the Azure VPN client, it correctly shows the certificates.

![image](https://user-images.githubusercontent.com/67630903/177576824-de553e7a-e4c2-40ee-a3a5-115c69d09721.png)

Looks like it is an issue on your client machine that needs further troubleshootin

[2022-07-06 14:39] #95328 closed

[2022-07-06 14:41] yusugiy opened #95373 "The statement "You can't share files with other users on an Azure AD-joined device." in the [What you should know] section is vague and misleading."
I think the statement  "You can't share files with other users on an Azure AD-joined device." in the [What you should know] section is vague and misleading.

The current description reads as if it is not possible to share files with other Azure AD users via Grant-SmbShareAccess, etc. on the Azure AD Join device.

However, this is in fact possible.

Since the theme of this article is "How SSO to on

[2022-07-06 14:45] GitaraniSharma-MSFT commented on #95342
@omrigaonms , We have assigned this issue to the content owner/author for updating the doc accordingly.

@cherylmc , most of the screenshots in this doc are outdated. Please update the doc to include the latest UI screenshots for better clarity and to avoid confusion.

[2022-07-06 14:50] mbender-ms commented on #94896
Thanks for the additional context feedback.

I've noted this as a doc and portal bug for future review. We'll make updates as appropriate.

[2022-07-06 14:59] helderpinto opened #95374 "Clarify assurances about the database server backup retention"
This document starts with this statement:

Most readers will wonder about the possibility of the backup being retained for less than five days, which is implied by the "**can be**" phrasing. This subtlety is very important in the context of data protection. Customers need assurances about the circumstances in which their data can be restored.

My understanding is that it is guaranteed the backup w

[2022-07-06 15:01] Joe-Flynn opened #95375 "Example in step 2 of option 1 has an extra slash between the file name and the SAS token url param"
Example in step 2 of option 1 has an extra slash between the file name and the SAS token url param. From my testing, it doesnt appear this is valid and will not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0f8fa5-b31c-17fc-64ee-e1b77f4f1389
* Version Independent ID: 24461bb6-a8ac-65e8-db24-fd359cab4130
* Conte

[2022-07-06 15:04] yanehi commented on #23558
Unfortunately I get the same error as @anuradhaarao with the certificate in pfx format. But for me the error only occurs when I run terraform apply in my Gitlab-CI (ubuntu:jammy). As soon as I run the same command from my Mac laptop, I didnt get the error. Manually I also can import the same certificate successfully in Azure KeyVault.

In the Gitlab-CI my Ubuntu Image uses the Terraform version: v

[2022-07-06 15:05] mbender-ms commented on #95302
Thanks for the context and feedback.

I've made a note of this for the next review cycle, and updates will be made as appropriate.

#please-close

[2022-07-06 15:16] burkeben-insight opened #95376 "ignoreChanges documentation is misleading"
in order to preform merge, ignoreChanges must be set to True.

Additionally details about the method 'forEachBatch' must be included.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bda503df-35d1-a7f9-9d01-e94699337392
* Version Independent ID: 193eecea-cce1-1e87-d495-15551682b09b
* Content: [Table streaming reads and w

[2022-07-06 15:18] MarileeTurscak-MSFT commented on #95357
@yaroslav-ddt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-06 15:19] MarileeTurscak-MSFT commented on #95363
@nesager
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-06 15:19] MarileeTurscak-MSFT commented on #95372
@MikeHingley22
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-06 15:20] MarileeTurscak-MSFT commented on #95373
@yusugiy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-06 15:22] MarileeTurscak-MSFT commented on #95370
@PaulDedula
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-06 15:24] sergiosolorzano commented on #86807
It's a terrible decision to remove cloud explorer in VS22

[2022-07-06 15:28] SwathiDhanwada-MSFT commented on #95371
@anthony-c-martin Thanks for your feedback.

Assigning to content author @mumian  for review.

[2022-07-06 15:28] #94935 closed

[2022-07-06 15:33] Robert-Lauriston-at-Striim commented on #94948
Thanks. You should update the JDBC example in the doc to replace `database=yourdatabase` with `database=yourSQLpool`.

[2022-07-06 15:36] GeethaThatipatri-MSFT commented on #95374
Hi @helderpinto Thanks for your feedback! We will look into it and update as appropriate.

[2022-07-06 15:37] mikeblakeuk opened #95377 "Should we delay after a FlushAsync?"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics#flushing-data

Should we delay after FlushAsync()?

maybe add the following if not
`// No need to sleep`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3ee3318-4c69-8ded-a8d

[2022-07-06 15:40] jmprieur commented on #95372
Thanks the feedback.

This is a question of version. The article describes how to move from the old generation AddAzureADBearer (https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.azureadauthenticationbuilderextensions.addazureadbearer?view=aspnetcore-6.0) to Microsoft.Identity.Web.

[2022-07-06 15:56] SaurabhSharma-MSFT commented on #95354
@sdaytelefonicatechuk Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-06 16:02] mmeeks-sdx opened #95378 "Modifications needed to AWSClientVPN setup"
AWS posted an article [How to Integrate AWS Client VPN with Azure Active Directory](https://aws.amazon.com/blogs/apn/how-to-integrate-aws-client-vpn-with-azure-active-directory/) that provided the steps needed to get AWS Client VPN working with AzureAD.

Specifically, you should only pass FirstName, LastName, and memberOf as claims (with no namespacing) and you should modify the signing option on

[2022-07-06 16:08] osman-top opened #95379 "Issue when batching"
I am batching multiple messages into my trigger, but this article doesn't explain how I can gain finegrained control of which messages are marked complete and which failed. Can it really be true that I am forced into an all or nothing scenario?
If some of the messages fail, I dont want to mark them all as failed, otherwise I'll process those twice.

---
#### Document Details

⚠ *Do not edit this s

[2022-07-06 16:20] #95372 closed

[2022-07-06 16:33] GeethaThatipatri-MSFT commented on #95362
@vishalaj1 Thank you for reaching out
Data usage is the total data consumed by the cosmos container, however @StefArroyo please add your comments

[2022-07-06 16:33] #95363 closed

[2022-07-06 16:36] mumian commented on #95371
I will address this today.

[2022-07-06 16:38] KranthiPakala-MSFT commented on #95352
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-06 16:39] KranthiPakala-MSFT commented on #95365
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-06 16:40] KranthiPakala-MSFT commented on #95376
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-06 16:50] fatih-celonis commented on #89430
Is it possible to update the docs accordingly? This limitation is quite crucial for VM management.

[2022-07-06 16:59] msmbaldwin commented on #91193
@blhubbard: This has been fixed. Thanks for pointing it out! #please-close

[2022-07-06 16:59] #91193 closed

[2022-07-06 17:21] eexume opened #95383 "What a shame - this doc is garbage"
I tried to follow this documentation. it does not help me....microsoft needs to come up with bettter documentation...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 777cc8d4-8915-5d02-524f-976ce44a0e75
* Version Independent ID: 2455865b-b659-4e96-4d94-644653a52221
* Content: [Move Azure VMs between government and publi

[2022-07-06 17:39] markingmyname commented on #76534
#please-close

[2022-07-06 17:39] #76534 closed

[2022-07-06 17:40] markingmyname commented on #80568
fixed as per @mksuni response

#please-close

[2022-07-06 17:40] #80568 closed

[2022-07-06 17:41] markingmyname commented on #81735
@gbsmith

This is answered as per @dimadhus response.

#95226

[2022-07-06 17:41] #81735 closed

[2022-07-06 17:42] markingmyname commented on #68778
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we

[2022-07-06 17:42] #68778 closed

[2022-07-06 17:49] tech1982 commented on #53834
Any update or roadmap on this (P2S with AAD authentication on mobile endpoints: iOS, Android)?

[2022-07-06 17:51] markingmyname commented on #73979
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we

[2022-07-06 17:51] #73979 closed

[2022-07-06 17:52] markingmyname commented on #81715
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we

[2022-07-06 17:52] #81715 closed

[2022-07-06 17:54] #95135 closed

[2022-07-06 17:54] markingmyname commented on #82603
@BartVB

Based on @savjani response this issue has been answered.

thank you for your contribution.

#please-close

[2022-07-06 17:54] #82603 closed

[2022-07-06 17:55] markingmyname commented on #83920
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we

[2022-07-06 17:55] #83920 closed

[2022-07-06 17:56] markingmyname commented on #84316
As per @mksuni, this has been addressed.

thank you.

3please-close

[2022-07-06 17:57] #84316 closed

[2022-07-06 17:57] markingmyname commented on #84640
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we

[2022-07-06 17:57] #84640 closed

[2022-07-06 17:59] markingmyname commented on #86250
#re-assign @shreyaaithal

[2022-07-06 18:02] markingmyname commented on #86250
We sincerely apologize for the delayed response to this issue. I collaborate with the owners of the GitHub Issues related to PostgreSQL to help either get them resolved or determine how to update our documentation.

As such, is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we

[2022-07-06 18:02] #86250 closed

[2022-07-06 18:04] #88415 closed

[2022-07-06 18:10] markingmyname commented on #89764
#reassign: @vivgk

[2022-07-06 18:28] ChaitanyaNaykodi-MSFT commented on #95114
Hello @kamilzzz apologies for the delayed response here.

 In this case also the certificate will not be auto rotated, and you will need revalidate the custom domain. The validation column will become Pending-revalidation 45 days before the managed certificate expires. Select the Pending-revalidation link and then select the Regenerate button to regenerate the TXT token. After that, add the TXT to

[2022-07-06 18:28] #95114 closed

[2022-07-06 18:42] #95375 closed

[2022-07-06 18:43] ChaitanyaNaykodi-MSFT commented on #95375
Hello @Joe-Flynn, Thank you for your feedback. I have made the suggested change and it will go live soon.

[2022-07-06 18:43] hemanth8010 opened #95384 "aka.ms URL for Latest Teams and WebRTC"
Hi,

It would be great if we can get the aka.ms links to the latest Teams and WebRTC similar to what exists for FSLogix (aka.ms/fslogix_download). This would help automate the installations and keeping everything up to date.

Thanks,
Hemanth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa9bcf61-0f3b-5705-959d-dc6f972

[2022-07-06 18:44] Bashar-MSFT commented on #95374
Hello @GeethaThatipatri-MSFT please assign this to @sunilagarwal who owns PostgreSQL and will be able to provide more insight on this

[2022-07-06 19:07] markingmyname commented on #91632
#please-close

[2022-07-06 19:07] #91632 closed

[2022-07-06 19:10] MonikaReddy-MSFT commented on #95355
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-06 19:10] markingmyname commented on #94179
#reassign: @shreyaaithal

[2022-07-06 19:12] tspring418 opened #95386 "Azure function deployment is failing"
Syntax is failing for the az cli command, seems it isn't formatted correctly or is having issues, i'm geting an error for using:

read -p "Enter a resource group name that is used for generating resource names:" resourceGroupName
read -p "Enter the location (like 'eastus' or 'northeurope'):" location
templateUri="https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/quickstarts

[2022-07-06 19:13] markingmyname commented on #95200
#reassign: @VandhanaMehta

[2022-07-06 19:14] JamesTran-MSFT commented on #95272
@ericbrunner
Thank you for your time and patience!

After walking through the documentation, I didn't run into any issues. Can you ensure the user that you logged in with has an inbox?

**Logging in with a user with no inbox:**
![image](https://user-images.githubusercontent.com/36619112/177625142-cbd7d552-515f-42b2-ad9c-bb886d107ec7.png)

**Logging in with a user with an inbox:**
![image](https://

[2022-07-06 19:14] #95272 closed

[2022-07-06 19:19] MarileeTurscak-MSFT commented on #95357
Thanks! I made a pull request to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/203926

[2022-07-06 19:19] #95357 closed

[2022-07-06 19:25] JamesTran-MSFT commented on #95354
@sdaytelefonicatechuk
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.
![image](https://user-images.githubusercontent.com/36619112/177627268-26e97c96-c3d8-45f1-bbed-7e6bacfff391.png)

[2022-07-06 19:35] dpinedam opened #95388 "OWASP link is broken"
OWASP link is broken

-- https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project
++ https://owasp.org/www-project-top-ten/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19cb71ec-6372-f406-8542-8058f59c7ec1
* Version Independent ID: a3c05dfb-8f20-b364-526b-143f87582a18
* Content: [Penetration testing](https://do

[2022-07-06 19:38] JamesTran-MSFT commented on #95388
@dpinedam
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-06 19:44] furnivall opened #95389 "typo"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/18507008/177630504-05750776-6bfc-4e26-90c8-20d3bef2258f.png)
Reset should be resect :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba12051f-3f69-3dae-1779-d8e54f0fc598
* Version Independent ID: 489c7916-0ca7-7d7a-09f0-d9bc05274551
* Content: [T

[2022-07-06 19:47] MarileeTurscak-MSFT commented on #95389
Thanks! Looks like that typo was in two places in the article, so I made a pull request to fix it. https://github.com/MicrosoftDocs/azure-docs-pr/pull/203934

It should go live in the next day or so.

[2022-07-06 19:47] #95389 closed

[2022-07-06 19:59] w-azure commented on #75770
Thanks for the feedback. This was a bug in 1.1 but has since been fixed. [The fix](https://github.com/Azure/iotedge/issues/5350) was to set the `keyId` value to "primary" in your sign request. This is now the default value, as you can see in the [authentication section of the SDK](https://github.com/Azure/azure-iot-sdk-csharp/blob/dc6a621d2b68676667139eb5eb2523454d56cbc8/iothub/device/src/Authenti

[2022-07-06 19:59] #75770 closed

[2022-07-06 20:27] ericbrunner commented on #95272
@JamesTran-MSFT Your documentation

[2022-07-06 20:31] def1nity opened #95392 "Azure CLI cmd returns an error"
Running the below cmd returns an error. It is found under these three chapters in the article:

Upgrade all nodes in all node pools

Upgrade a specific node pool

Upgrade node images with node surge

Azure CLI

kubectl get nodes -o jsonpath='{range .items[*]}{.metadata.name}{"\t"}{.metadata.labels.kubernetes\.azure\.com\/node-image-version}{"\n"}{end}'

Result: error: error parsing jsonpath {range

[2022-07-06 20:34] JamesTran-MSFT commented on #95388
@dpinedam
I've created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2022-07-06 20:34] #95388 closed

[2022-07-06 20:47] seesharprun commented on #94021
Hello @Phoenix359!

We are in the midst of creating new how-to articles that go deeper into developer concepts for the Table API using .NET.

Once that's in the release pipeline, we will close the issue here and it should be live within a couple of days.

[2022-07-06 21:13] RajneeshVerma opened #95393 "Microsoft.Identity.Client: unable to obtain token for partner azure region (Ex. China)"
We were using [Microsoft.Identity.Client -Version 4.11.0](https://www.nuget.org/packages/Microsoft.Identity.Client/4.11.0) to get access token from AAD App residing in partner regions (China) which internally calls public cloud discovery url: https://login.microsoftonline.com/*_TenantId_*/v2.0/.well-known/openid-configuration to get token endpoint.

It started failing when we updated to [Microsoft

[2022-07-06 21:21] JamesTran-MSFT commented on #95272
@ericbrunner
Thank you for following up on this!

When it comes to the Blazor Server app, I don’t believe it's pulling mail directly from the personal account's email address/domain (`i.e. live.at`). The app is pulling mail from the inbox associated to the tenant/domain (`i.e. onmicrosoft.com`), which was designated in the App Settings.
![image](https://user-images.githubusercontent.com/36619112/1

[2022-07-06 21:22] SaurabhSharma-MSFT commented on #95344
@cubikca Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-06 21:24] cubikca commented on #95344
I created the indexer in the Azure portal successfully, and I notice that it uses a field called "doc_id", not "id". I think that the documentation is correct with the exception of this difference.

[2022-07-06 21:26] SaurabhSharma-MSFT commented on #95359
@roofiq Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-06 21:26] RajneeshVerma commented on #95393
Open to a wrong repository, hence closing

[2022-07-06 21:26] #95238 closed

[2022-07-06 21:27] #95393 closed

[2022-07-06 21:27] SaurabhSharma-MSFT commented on #95286
@ddobric Can you please provide the documentation link to help you. Thanks

[2022-07-06 21:30] ericbrunner commented on #95272
@JamesTran-MSFT Why is that not working? Take a look on my code here: https://github.com/ericbrunner/Blazor/blob/main/BlazorApp.Server.Msal/appsettings.json

I have a Personal Microsoft Account. I ak the Tenent and I have an Azure Account all on that Account.

Why the hell is that not sufficient and more on that write me what I have to chsnge so that it will work.

Full code is here: https://githu

[2022-07-06 21:30] mumian commented on #95371
These features have been covered in https://github.com/MicrosoftDocs/azure-docs-pr/pull/203916

#please-close

[2022-07-06 21:30] #95371 closed

[2022-07-06 21:42] bstollnitz opened #95394 "Kubernetes Compute url does not link to schema"
Under Compute, "Attached Azure Arc-enabled Kubernetes", there's a url that doesn't link to anything: https://azuremlschemas.azureedge.net/latest/kubernetesCompute.schema.json.

Maybe it's by design that there's no schema for Kubernetes compute? In this case, it's a docs bug. We should remove the link and explain that.
Or maybe the link is correct, but we forgot to create the schema there? If this

[2022-07-06 21:59] xtianus79 commented on #94264
hi @James-Hamil-MSFT I have code that we could send to you directly. I don't have it on public repo.

[2022-07-06 22:00] mike-urnun-msft commented on #95367
Thank you for your feedback! We will review and update as appropriate.

[2022-07-06 22:06] mike-urnun-msft commented on #95379
Hello @osman-top - Thank you for your feedback. Could you ask this question on [the MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) instead with additional information about how you're using the trigger?

[2022-07-06 22:10] stevevi commented on #54876
Article was updated several times since the issue was raised, including a recent update in Jul-2022.

[2022-07-06 22:10] stevevi commented on #54876
#please-close

[2022-07-06 22:10] #54876 closed

[2022-07-06 22:18] todorgb commented on #67848
Addressing in the next 24 hours - apologies for missing this and feedback is well taken.

[2022-07-06 22:22] stevevi commented on #38744
This is an old issue.  Azure Databricks and Data Factory features in Azure Government have caught up.  The article has been updated many times.  If you don't believe this is the case, please get back to me.  Thank you.

[2022-07-06 22:22] stevevi commented on #38744
#please-close

[2022-07-06 22:22] #38744 closed

[2022-07-06 22:27] stevevi commented on #74775
The reverse seems to be true.  Left the link as is.  Thank you for your feedback.

[2022-07-06 22:27] stevevi commented on #74775
#please-close

[2022-07-06 22:27] #74775 closed

[2022-07-06 22:31] flang-msft commented on #87721
@vlad610 - we updated the screenshots so I'm going to close this issue. Feel free to re-open if you would like to discuss further.

#please-close

[2022-07-06 22:31] #87721 closed

[2022-07-06 22:38] flang-msft commented on #93381
#please-close

[2022-07-06 22:38] #93381 closed

[2022-07-06 22:45] stevevi commented on #56915
Further questions about Office 365 GCC, GCC High, and DoD should be directed to Office 365 documentation.

[2022-07-06 22:45] stevevi commented on #56915
#please-close

[2022-07-06 22:45] #56915 closed

[2022-07-06 22:48] PatAltimore commented on #80160
Hi @Salazander,

I wanted to follow up on your question. I tested changing `startupOrder` property for a module. Only the module with the changed property restarted.

Pat

[2022-07-06 22:48] PatAltimore commented on #80160
Hi @Salazander,

I wanted to follow up on your question. I tested changing `startupOrder` property for a module. Only the module with the changed property restarted.

[2022-07-06 22:49] stevevi commented on #44509
This is an old issue that is no longer relevant given that the referenced Isolated VM article has been updated many times.

[2022-07-06 22:49] stevevi commented on #44509
#please-close

[2022-07-06 22:49] #44509 closed

[2022-07-06 22:51] stevevi commented on #38873
This is an old issue that is no longer relevant.  Current IL5 guidance article is in sync with FedRAMP and DoD compliance coverage.

[2022-07-06 22:51] stevevi commented on #38873
#please-close

[2022-07-06 22:51] #38873 closed

[2022-07-06 22:52] conor-joplin opened #95397 "Azure Resource Graph .NET Quickstart Guide uses Old Packages"
This page uses some old packages. The package `Microsoft.Azure.Services.AppAuthentication` can be updated to version `1.6.2` and the package `Microsoft.Azure.Management.ResourceGraph` must be updated to version `2.1.0`.

The old `Microsoft.Azure.Management.ResourceGraph` package uses an out-of-date API version while the new package uses the latest `2021-03-01` version. There are some notable diffe

[2022-07-06 22:52] r33dz opened #95398 "AZ SQL not available as DataDestination?"
[Hi-- I'm wondering why Azure SQL is not accepted as a Data Destination Source Type in this template? Would love to use the template for my team, but would need Azure SQL as the destination. Happy to do it by hand as well. Just thought I'd request in case others can leverage out-of-the-box.

keep up the good work!

Thanks,

r33d]

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-07-06 22:57] nickbeagley opened #95399 "Examples should include current synapse powershell calls"
These pages and several other synapse pages refer to out-of-date powershell commands that do not work any longer against synapse. In this particular example the command to list the restore points is: Get-AzSynapseSqlPoolRestorePoint  -WorkspaceName $SourceServerName -Name $SourceDatabaseName

The command in the example errors:

Get-AzSqlDatabaseRestorePoint : One or more errors occurred.
At line:1

[2022-07-06 23:01] stevevi commented on #38475
API endpoints for Site Recovery were added a while ago.  It's not feasible to list API endpoints for every Azure services in this article.  Thank you for your feedback.

[2022-07-06 23:02] stevevi commented on #38475
#please-close

[2022-07-06 23:02] #38475 closed

[2022-07-06 23:03] KranthiPakala-MSFT commented on #95399
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-06 23:05] stevevi commented on #59009
Following up on this open issue.  @BrianLevenson have you connected with @todorgb to discuss how best to update the article?

[2022-07-06 23:13] seesharprun commented on #94021
Just a quick FYI, when this new developer documentation publishes it won't include guidance on setting the TTL or indexing policy using the ``Azure.Data.Tables`` namespace. Unfortunately, this SDK doesn't include that ability as far as I am aware of today.

[2022-07-06 23:14] kobulloc-MSFT commented on #95392
@def1nity Thank you for the feedback!  It looks like the error is describing the "\" (reverse solidus).  We're reviewing the command and will get back to you shortly.

[2022-07-06 23:16] BrianLevenson commented on #59009
hello! thanks for following up. i don't remember and left Microsoft in Nov 2020... CPP is definitely deprecated though :)

[2022-07-06 23:23] SaurabhSharma-MSFT commented on #95366
@adi-garg Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-06 23:24] SaurabhSharma-MSFT commented on #95369
@JustinGrote Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-07-06 23:40] stevevi commented on #59009
OK, thank you.  I went through version history, and it looks like instructions relying on Cloud Partner Portal were updated to Partner Center Portal in Aug-2020.  The issue, however, was never closed.  I think the current article is fine.  If not, @todorgb  can follow up with extra updates.

[2022-07-06 23:41] stevevi commented on #59009
#please-close

[2022-07-06 23:41] #59009 closed

[2022-07-06 23:48] rw-nzta opened #95401 "Incorrect comments below images"
Hi

The images have the comments back to front in https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-terms-of-service-privacy-statement#user-consent-experience

![image](https://user-images.githubusercontent.com/108779632/177661067-e568ab08-4137-49c2-b5b5-d361cb868e74.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-07-07 00:10] #94021 closed

[2022-07-07 00:17] JamesTran-MSFT commented on #95401
@rw-nzta
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-07 00:21] YutongTie-MSFT commented on #95394
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-07 00:30] wangyiwu commented on #14150
Pls reopen this issue.

[2022-07-07 01:11] w-azure commented on #80160
Thanks for the feedback everyone. We've decided to add more information about restart behaviors mentioned in this issue to this article: [Learn how to deploy modules and establish routes in IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/module-composition?view=iotedge-2020-11), as it fit the topic there. Look at the note at the end of the [Module configuration and management](https://do

[2022-07-07 01:14] mcteufelms opened #95409 "Version 22.1.6 is missing in documentation"
[Enter feedback here]

The version list does not reflect the versions which are available for customers.

The version 22.1.5 has the longest support according to the version table, but is not available for download for customers:
![image](https://user-images.githubusercontent.com/89206976/177668297-246348f4-4eb0-4bfb-878f-4df39a10cad1.png)

On the other hand, the version that IS available for cust

[2022-07-07 01:17] joshboldt-8451 opened #95410 "Incorrect capitalization on Databricks Repos Python Notebook source file comment"
As indicated in the "Import Azure Databricks Python notebooks" section of [this article](https://docs.microsoft.com/en-us/azure/databricks/repos/work-with-notebooks-other-files#import-azure-databricks-python-notebooks), Azure Databricks will prepend a comment to the top of Azure Databricks Python notebooks when synchronizing with Git to indicate that the resulting Python file should be re-interpre

[2022-07-07 01:24] Jas0s0ss commented on #95122
Is there any solution about this ?

[2022-07-07 01:24] euchungmsft opened #95411 "Import/Export is also supported for Enterprise tier"
"Import/Export is only available for Premium tier caches."

It's supported for Enterprise too, PG confirmed it. This makes confusions to our customer. Could you please make some hurry to change this ?

![image](https://user-images.githubusercontent.com/20915976/177670251-546a118b-2093-4c56-acc2-399ca6502292.png)
https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-overview#feature-co

[2022-07-07 01:43] ericd-mst-github commented on #94855
Hello,

WestEurope is not applied with the fix just yet. I received word from engineering that another hotfix pre-empted the VM Apps bug fix but should take another 5 days for the rest of the non-working regions.

Thank you again for your patience

[2022-07-07 01:49] MonikaReddy-MSFT commented on #95397
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-07 02:09] rfsonders opened #95412 "Excellent!"
[Enter feedback here]
Perfect amount of detail. Thank you for providing this opportunity to the Azure Arc-enabled data services family. Looking forward to the collaboration!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2716d7db-c5d1-3290-caf2-e86325b1239f
* Version Independent ID: 677f8cf9-a8bd-1e3a-f6de-8bbc1253ec0c

[2022-07-07 02:54] yutaro113 opened #95413 "Documentation for Cognitive Service Language (Custom Question Answering) required?"
Hi Team,
Same documentation for Cognitive Service Language (Custom Question Answering) is required? Or such scenario connecting Power Virtual Agent with Cognitive Service Language knowledge base is no longer assumed?
If that scenario can happen, kindly consider preparing documentation for that as well.
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-07-07 03:09] dcbrown16 opened #95414 "Remove certificate references?"
The doc has several references to certificates.
"The remote desktop settings for your Cloud Service allows you to enable remote desktop, update the local administrator account, select the certificates used in authentication and set the expiration date for those certificates."
"Fill in the required fields for user name, password, expiry, and certificate (not required)."

The Portal experience for e

[2022-07-07 04:08] VikasPullagura-MSFT commented on #95414
@dcbrown16
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-07 04:08] VikasPullagura-MSFT commented on #95414
@gachandw
Can you please check and add your comments on this doc update request as applicable.

[2022-07-07 04:11] KrishnaG-MSFT commented on #95412
@rfsonders Thanks for the feedback. Glad to know the content in the document is helpful.

[2022-07-07 04:11] #95412 closed

[2022-07-07 04:36] Venkateshdodda-MSFT commented on #95230
@snorrk Document is updated, and the change will go live soon.

[2022-07-07 04:36] #95230 closed

[2022-07-07 04:38] VikasPullagura-MSFT commented on #95383
@eexume
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-07 04:38] VikasPullagura-MSFT commented on #95383
@v-pgaddala
Can you please check and add your comments on this doc update request as applicable.

[2022-07-07 04:40] SadiqhAhmed-MSFT commented on #95383
@eexume Could you please shre more details bout your experience using the documentation?

[2022-07-07 04:45] v-amallick commented on #93261
@PolarbearChimney - Sorry for the delay in getting back. We have updated the videos.

Closing this issue now.

Thanks!
#please-close

[2022-07-07 04:45] #93261 closed

[2022-07-07 04:47] VikasPullagura-MSFT commented on #95411
@euchungmsft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-07 04:47] VikasPullagura-MSFT commented on #95411
@flang-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-07-07 05:00] randolf720 opened #95416 "Machine Account password rotation"
The machine account password expiration is a bit unclear. According to Microsoft documentation:

_Machine account passwords as such do **not** expire in Active Directory. They are exempted from the domain's password policy. It is important to remember that machine account password changes are driven **by the CLIENT** (computer, NETLOGON client), and not the AD._

Link: https://techcommunity.micros

[2022-07-07 05:24] adi-garg commented on #94896
Appreciate the kind support :)
Drawing this pictorially :
![3 17-LB Fundamentals](https://user-images.githubusercontent.com/73249037/177697595-8d48c5c8-3a45-48de-8d1f-030c62abf235.jpg)

[2022-07-07 05:24] #95165 closed

[2022-07-07 05:35] VikasPullagura-MSFT commented on #94814
@InformTechPro

**VmAvailabilityMetric** is still in preview as mentioned in the document.

For your query on: _We need clarity if the metric is available to the public or not_.

This is already clarified in the document.

![image](https://user-images.githubusercontent.com/48944027/177699139-7fcbfdd1-2a44-4f4e-8e4a-8a10f44890d2.png)

At this point there are no changes needed to this document. Clos

[2022-07-07 05:35] #94814 closed

[2022-07-07 05:47] ericbrunner commented on #95272
@JamesTran-MSFT I verified in Graph Explorer that I get Mails. So what's the reason that it does not work with MSAL in the Blazor App ?
https://developer.microsoft.com/en-us/graph/graph-explorer
![image](https://user-images.githubusercontent.com/6480047/177700847-126e3faf-9da8-4960-a656-694f8a8d2c6a.png)

[2022-07-07 05:52] AlphaWong commented on #51708
same here.
in our case, the cache can live up to 5 hours and even we restart the function app and it still cannot flush the cache.

[2022-07-07 05:59] kobulloc-MSFT commented on #95304
@DeanGross Going through the documentation in [Azure VMware Solution](https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/vmware-solution-security-baseline), [Azure Virtual Desktop](https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/virtual-desktop-security-baseline), and [Azure Web Application Firewall](https://docs.microsoft.com/en-us/security/benchmark/azure/bas

[2022-07-07 06:23] kobulloc-MSFT commented on #95134
@xuwenjian1995 I reached out to get some additional clarification:

The Azure hybrid benefit (appearing in the UI as "Would you like to use an existing Windows Server license?") only applies to Windows Server, which does not have an image available if you filter the marketplace for "Bring your own license" under the Pricing filter.  This is available to pay as you go images that support the hybrid

[2022-07-07 06:25] vishalaj1 commented on #95362
@GeethaThatipatri-MSFT : data consumed is total size of my container. Because when i take Max or Average it does not add up. We do not have any metric for SUM. So to find out how much data is present we need to take Max and look at the last day. This would give us total size in MB/GB consumed by container.

Does it sound correct?

Thanks in advance.

Regards,
Vishal

[2022-07-07 06:28] blackviper0007 commented on #95285
Hi Gitarani,

Thank you for your explanation, I still have one more doubt.

1. When I ma trying to RDP firewall`s public IP address it is asking for username and password. Could you please let me know which credential should I use.

[2022-07-07 06:40] gachandw commented on #95414
***@***.******@***.***> to check.

From: VikasPullagura-MSFT ***@***.***>
Sent: Thursday, July 7, 2022 9:38 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Gaurav Chandwani ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Remove certificate references? (Issue #95414)

@gachandw<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fgachandw&data=0

[2022-07-07 06:52] AshokPeddakotla-MSFT commented on #95409
@mcteufelms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-07 06:59] KrishnaG-MSFT commented on #94153
@jyama4ta Thanks for bringing this up. Yes, [Events - List By Single Resource](https://docs.microsoft.com/en-us/rest/api/resourcehealth/events/list-by-single-resource) REST API doesn't have parameter QueryStartTime to query data upto 1 year but [Events - List By Subscription Id](https://docs.microsoft.com/en-us/rest/api/resourcehealth/events/list-by-subscription-id) REST API has parameter QuerySta

[2022-07-07 07:12] GitaraniSharma-MSFT commented on #95285
@blackviper0007 , you will use the username and password that you setup when creating the Srv-Work virtual machine.

Refer : https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-deploy-portal#create-a-virtual-machine

![image](https://user-images.githubusercontent.com/67630903/177713767-b0ae21b0-59d6-4504-89e8-e77a73d05e90.png)

[2022-07-07 07:24] MatBerg2 commented on #95291
In this case, a separate table which indicates what is needed in the other direction would be very helpful for us who need to tailor specific firewall rules with source(s), destination(s) and protocols/ports.

Otherwise we have to reverse-engineer the communication by combing through firewall logs, which can be very time consuming.

mit freundlichen Grüssen / with kind regards,

Matthias Berger

F

[2022-07-07 07:34] EugeneScully opened #95419 "Errors in the "Service endpoint configuration" section"
A few issues in the "Service endpoint configuration" section:

1. Crete a website that you can use to distribute the files. => Spelling mistake: "Crete" is spelt incorrectly.
2. On the "Registration" page of "Verifiable Credentials (Preview)", I can't see the sections mentioned in the article.

I only see "Domain", "Status" & "Domain Ownership verification" settings

I can verify the ".well-known/

[2022-07-07 08:05] tommyallieri opened #95421 "Incorrect SAML2_PROVIDER value"
should be
    SAML2_PROVIDER = 'ADFS'

see snowflake documentation: https://community.snowflake.com/s/article/HOW-TO-Setup-SSO-with-Azure-AD-and-the-Snowflake-New-URL-Format-or-Privatelink
<img width="770" alt="image" src="https://user-images.githubusercontent.com/47326153/177723681-e42c3808-7617-43d0-b371-f59385406c25.png">

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-07-07 08:09] MayankBargali-MSFT commented on #95386
@tspring418 Thank you for your feedback! We will review and update as appropriate.

[2022-07-07 08:29] Givary commented on #95421
@tommyallieri Thanks for your feedback, let me investigate and revert back.

[2022-07-07 09:02] CHEEKATLAPRADEEP-MSFT commented on #95398
@r33dz  Thanks for the question! We are investigating and will update you shortly.

[2022-07-07 09:02] nonoxp opened #95423 "Inventory completed event: manifestBlobUrl"
Although the description of the attributes for the "Inventory completed event" is correct, the sample data for attribute manifestBlobUrl is misleading.
We should expect a file named Rule_1-manifest.json  instead of currently Rule_1.csv

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0f1a335-26ae-c901-2c62-db165fb1d31f

[2022-07-07 09:02] CHEEKATLAPRADEEP-MSFT commented on #95410
@joshboldt-8451  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-07 09:29] AnuragSingh-MSFT commented on #95002
@ioeifcss, thank you for the reply. I have reached out to the respective team and will get back to this thread as soon as I have something.

[2022-07-07 09:31] SumanthMarigowda commented on #95416
@randolf720 Thanks for the question! We are investigating and will update you shortly.

[2022-07-07 09:44] yoelhor commented on #95036
Please see the corresponding dotnet 6 code

[code]

[2022-07-07 10:04] frenky29a opened #95426 "Policy definition "Enable Azure Security Center on your subscription" is missing"
Hello team,

We are trying to enable Defender for Cloud automatically by an Azure policy. This article is describing exactly what we want to implement. However, the policy definition "Enable Azure Security Center on your subscription" is missing. There is also nothing relevant to Defender Plans when searching for "Enable Defender", "Configure Defender", "Enable Security", "Configure Security" and

[2022-07-07 10:10] frenky29a commented on #95426
The policy I am referring to is mentioned in Step 1 of the guide. (I am Root MG Owner, Global Admin, Security Admin.)

[2022-07-07 10:18] m3ngi3 opened #95427 "More info needed on how Power Virtual Agents are linked to PAL Partner Registration"
The documentation states how to update or change attributed user for Power Virtual Agents.
But not how it is linked upon creation )or even on which account to use when changing.

Is this the user account importing the Power Virtual Agent?

Please add a row for Power Virtual Agents in this table with similar info for PVA:
![image](https://user-images.githubusercontent.com/47530580/177751106-c3d5241

[2022-07-07 10:36] kengaderdus commented on #95121
@bobe999

Thank you for your feedback and patience. We're tracking your request internally, and we'll comment back once we make the update. #please-close

[2022-07-07 10:37] #95121 closed

[2022-07-07 10:49] batamig commented on #91337
Hi there @guarismo, I wanted to give you a heads up about an update available in the latest sensor version. Please see our what's new for details:
[Improved security for uploading protocol plugins](https://docs.microsoft.com/azure/defender-for-iot/organizations/release-notes#improved-security-for-uploading-protocol-plugins)

Thanks!

[2022-07-07 10:50] AnnuKumari-MSFT commented on #95195
Hi @jb185t ,
When we deploy using CICD pipelines, ARM template which is stored in the workspace_published branch stores the artifact. It's common for all the environments, there are no separate artifacts generated for target workspace.

[2022-07-07 11:12] ElazarK commented on #95354
#reassign: bmansheim

[2022-07-07 11:14] ElazarK commented on #95306
@imhutch thank you for bringing this to our attention. I am looking into it now.

[2022-07-07 11:27] konstantin-magg opened #95429 "Missing `helm repo add` in #list-current-charts?"
I read section [](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos#list-current-charts)

How is `helm search repo myregistry` supposed to work without doing a `helm repo add myregistry URL` first? Or did I get something wrong here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59

[2022-07-07 11:27] hmayer1980 opened #95430 "Please add documentation what happens if inner activity failes"
Please add some documentation to the page to what happens if an inner Until activity fails.
In contrast to a regular programming language it looks like the Until activity just continues if an inner activity fails.
Would be good to know whats really expected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73ff4df3-ae31-

[2022-07-07 11:57] DanielHRio opened #95431 "Outdated information in "Edit HTTP settings for App Service" section"
Hello Team,

I believe this section is out-of-date. **HTTP Settings** page doesn't exist in both Application Gateway and App Service. I assume you mean **Backend settings** page in Application Gateway. Are you able to verify? Thanks.

Kind regards,
Daniel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e88cc44-544c-028

[2022-07-07 12:14] blackviper0007 commented on #95285
Hi Gitanjali,

It worked, thanks once again.

[2022-07-07 12:19] Nott6170 opened #95432 "Front Door Classic and Origin with Chunked Transfer Encoding"
Front Door Premium has the following for compression rules and caching

"If the origin uses Chunked Transfer Encoding (CTE) to send compressed data to the Azure Front Door POP, then response sizes greater than 8 MB aren't supported."

I believe this also applies for Front Door Classic tier, can you please verify and update the documentation.

Kind regards

---
#### Document Details

⚠ *Do not edit

[2022-07-07 12:20] MichaelRyan87 opened #95433 "Should New-MgUserAuthenticationPhoneMethod be listed?"
I've been looking for a method to populate the authentication method for users to use SSPR without their intervention. Whilst I am finding the Phone field will sync from on-premises to Azure it doesn't register the authentication method automatically. The user still needs to add the mobile number and verify.

I've since done testing with New-MgUserAuthenticationPhoneMethod with Microsoft Graph and

[2022-07-07 12:33] phwill1204 opened #95435 "AVD Windows Server requirements"
[Enter feedback here]
Could we add some detail around the requirement for Windows Server VM's to have to have the Remote Desktop Session Host role installed in order to use AVD.

Currently the only requirement listed is Remote Desktop Services Licencing Server role. It also does not make it clear that this doesn't need to be installed on the session host, but can be a remote VM running RDS Licenci

[2022-07-07 12:41] robtextrequest opened #95436 "Using Hierarchical Partition Keys, and SLA"
This feature is marked as "preview". Is this a public preview? What do developers need to do in order to make use of this feature? And is there a SLA for this preview feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9e09a48-2012-f952-ddb5-cf15a6c8409b
* Version Independent ID: 2c58e064-9a51-a518-5ca7-9c8589a55e

[2022-07-07 12:45] andy-connective opened #95437 "Provisioning "Quarantine" should be documented here"
It would be helpful to document provisioning "Quarantine" errors here. I believe numerous things can trigger Quarantine, yet in my case provisioning appears to be working ok (only working with a 3 AAD users so far though, and a couple of simple name changes).

I am told a 404 has triggered Quarantine in my case, but I've no idea what request resulted in a 404. I don't own the app so cannot check l

[2022-07-07 12:51] GitaraniSharma-MSFT commented on #95431
@DanielHRio , thank you for your feedback. We'll review this and get back to you shortly!

[2022-07-07 12:52] #94920 closed

[2022-07-07 12:55] willem-plug-io opened #95438 "This documentation tells something different than other documentation"
Following this documentation I cannot deploy my bicep file successfully with a parameter file.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/parameter-files

This other document shows different operators and seems to be more correct.
https://docs.microsoft.com/en-us/cli/azure/deployment/group?view=azure-cli-latest#az-deployment-group-create

Maybe it is good to make these doc

[2022-07-07 12:57] #95409 closed

[2022-07-07 13:10] dgrospelier opened #95440 "What is the purpose and how to use it?"
[Enter feedback here]
Hi,
What is the purpose of this "tracking schema" and how to use it in Logic Apps? This article does not provide details on how to use a custom tracking.
Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9aaf03d-d014-139d-62d1-d845e126469c
* Version Independent ID: 12604c02-3faa-5d66-7ff2-582

[2022-07-07 13:10] shwetamathur7 commented on #95437
@andy-connective Thanks for your feedback. We will investigate and update the thread.

[2022-07-07 13:17] ravibak commented on #95435
Remote Desktop Session Host role gets configured as a part of VM provisioning via AVD deployment.

There is this section "If you're already using Windows Server based Remote Desktop Services, you'll likely have Licensing Server setup in your environment. You can continue using the same provided Azure Virtual Desktop hosts has line of sight to the Server". While not explicit, we are calling out tha

[2022-07-07 13:20] AnuragSharma-MSFT commented on #95436
@robtextrequest Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-07-07 13:22] ayush-6d commented on #63857
I have same issue please help ??

[2022-07-07 13:24] AdelaManea opened #95441 "Documentation update"
Hello team,

I am a CSS engineer working in the Azure Storage Dev team.

I have received clarification internally that client-side encryption will not be supported for java v12 for the table service.

Can you please update documentation to reflect the same?

Currently it informs, we are preparing snippets for v12. which has misled both our support team and the customer:

![image](https://user-imag

[2022-07-07 13:33] #95369 closed

[2022-07-07 13:45] KranthiPakala-MSFT commented on #95430
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-07 13:46] fadyanwar opened #95445 "Missing alternative paths for other VS editions"
Under "Running Azurite from the command line" section, the command line accounts only for the professional edition of Visual Studio. It does not mention alternative paths for other editions such as Community for instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12fa98d9-0901-84c7-f144-e89d9b7c036d
* Version Inde

[2022-07-07 13:48] dbollaer opened #95446 "Missing concrete example/walkthrough how to setup sync-scim"
Hello,

I think an azure B2B sync-scim, should have a concrete example how it's setup.
I just can't find it, could you please help me out.

Thank you in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d334036-b74e-acb9-f0af-a6e281e907dd
* Version Independent ID: 60fc83b6-9ba2-80f0-d94d-747104cf78df
* Content:

[2022-07-07 13:58] #94153 closed

[2022-07-07 14:01] EnoXirtaMinu opened #95447 "Testting these scripts is cumbersome..."
Or am I missing something?

I am now scheduling a test update to run once and can only set it to run 6 minutes from now, having to wait to test each iteration of the script...

Would like to have a 'run now' button on the update management schedule or the ability to run with a sample softwareupdateconfiguration and test it from the runbook editor.

---
#### Document Details

⚠ *Do not edit this se

[2022-07-07 14:09] KrishnaG-MSFT commented on #94938
@Borgquite We have updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-07-07 14:09] #94938 closed

[2022-07-07 14:19] KrishnaG-MSFT commented on #95009
@t3mi We have updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-07-07 14:19] #95009 closed

[2022-07-07 14:20] KrishnaG-MSFT commented on #95338
@SQLtattoo We have updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-07-07 14:20] #95338 closed

[2022-07-07 14:21] tfitzmac commented on #95438
@willem-plug-io - thanks for this feedback. Can you clarify which sentences you are referring to when you say the Bicep file can't be deployed with a parameter file? Are you referring the section called "Parameter precedence" that says an external parameter file can't be used with inline parameters or a local parameter file?

[2022-07-07 14:22] iwafula025 opened #95450 "Missing "to" in sentence"
[Enter feedback here]
there is a charge [_to]_ search against them

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89791188-1dd6-c1fa-4fcc-d4641bfb410e
* Version Independent ID: 07d22da7-d8f2-4abe-f2b1-7019678aff2a
* Content: [Azure Monitor Logs pricing details - Azure Monitor](https://docs.microsoft.com/en-us/azure/azu

[2022-07-07 14:26] #95198 closed

[2022-07-07 14:33] willem-plug-io commented on #95438
Sorry I have not been really clear.
My issue is about this quote from the top link:
"From Azure CLI, pass a local parameter file using @ and the parameter file name. For example, @storage.parameters.json."
This syntax produced errors for me, it seemed like the '@' is not usable anymore.

In my second link I saw examples with instead '@<filename>' I saw '<path-to-file>'.
The last method worked and

[2022-07-07 14:35] KrishnaG-MSFT commented on #95450
@iwafula025 Thanks for your comment! We will review and provide an update as appropriate.

[2022-07-07 14:36] lBilali opened #95453 "Unclear of how to use TNSNAMES.ORA on the connection string"
From documentation:

Since host is mandatory, what should be as host in this case? do we need to provide a port?
This talks about adding the TNSNAMES.ORA on Oracle server. shouldn't this be on the machine where integrated runtime is installed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aabe9a80-b786-fa4e-40ee-7b0dd

[2022-07-07 14:37] tfitzmac commented on #95438
Thanks, I'll check that syntax.

[2022-07-07 14:37] seesharprun commented on #95436
#reassign:seesharprun

This is a public preview. The [Getting Started](https://docs.microsoft.com/en-us/azure/cosmos-db/hierarchical-partition-keys?tabs=net-v3%2Cbicep#getting-started) documentation will guide you on how to try this feature out.

#please-close

[2022-07-07 14:37] #95436 closed

[2022-07-07 14:42] KrishnaG-MSFT commented on #95447
@EnoXirtaMinu As at this point it appears that there are no edits or updates needed for the referred documentation so closing this issue for now. If there are further questions regarding this topic or feedback on the referred documentation, please do let us know and we will gladly continue the discussion.

[2022-07-07 14:42] #95447 closed

[2022-07-07 14:45] KrishnaG-MSFT commented on #95393
@RajneeshVerma Thanks for the update.

[2022-07-07 14:53] #95450 closed

[2022-07-07 14:59] ElazarK commented on #95306
@lmhutch the policy still exists and has been renamed. The article is still relevant but will be changed to reflect the new policy name. This change will go out in the next few days. Thank you for bringing this to our attention.

[2022-07-07 14:59] #95306 closed

[2022-07-07 15:42] surabhisnair commented on #54839
We are trying to read graphAPI from a different subscription using Access token. We are getting access token but copy activity errors out with error code 401. I'm getting expecting response when I hardcode the access token in copy activity. Only the dynamic option is erroring out.
![image](https://user-images.githubusercontent.com/50217856/177815078-1ec12b41-91e4-4deb-8474-68f74364556d.png)

[2022-07-07 15:50] mike-urnun-msft commented on #95440
Thank you for your feedback! We will review and update as appropriate.

[2022-07-07 16:16] whhender commented on #95240
@ShaneOsborne - Thanks for the feedback! I'll work on updating these documents to make the UI option clearer as well.

I'll reply here once those additions are made! Likely by tomorrow. Thank you!

[2022-07-07 16:17] amsliu commented on #95276
#reassign:@amsliu

[2022-07-07 16:52] jlian commented on #94968
@shwetamathur7 please reopen this issue as docs updates are still needed

[2022-07-07 16:54] pnl0ep7f commented on #85743
Hi,
I am facing the same issue with field Request header name.
It does not seem to be case-insensitive.

Has there been any investigation done on this?

[2022-07-07 16:58] Madhufuture commented on #94270
Hi,
Could you please let me know if you have any update on this request?

[2022-07-07 16:59] ikiris04 opened #95458 "documentation shows wrong api for activating an eligible role"
I was trying to follow this documentation to selfactivate an eligible role.
This page states to use the roleElibilityScheduleRequests api to activate an eligible request.
What works is using the roleAssignmentScheduleRequests api to activate a linkedroleeligibilityscheduleid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-07-07 17:09] omrigaonms commented on #95342
Hi Gitarani

Thank you for taking care of this.

Adding my manager Darchil for visibility.
Please note that there’s a customer involved in the background – case 2206150020000980
I suppose he can wait as it’s not extremely urgent but if it takes more than ,let’s say a week , to update & review please let us know so we can set expectations.

Thanks in advance,
Omri Gaon, B.Sc.

Support Engineer
Azur

[2022-07-07 17:09] JamesTran-MSFT commented on #95458
@ikiris04
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-07 17:16] stevevi commented on #67848
Upon investigation, the current article layout is by design and no further changes are needed.

[2022-07-07 17:17] SaurabhSharma-MSFT commented on #95419
@EugeneScully Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-07-07 17:17] #67848 closed

[2022-07-07 17:19] SaurabhSharma-MSFT commented on #95426
@frenky29a Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-07 17:52] paulo1904 opened #95459 "PowerShell script to Clean up stale devices in the Azure portal causes Android Enterprise Dedicated devices to lose the assigned policies and apps from Microsoft Endpoint Manager admin center"
Userless devices such as devices enrolled as Android Enterprise Dedicated aren't AAD joined or workplace joined and still appear in AAD. Intune creates a synthetic record for these in AAD for the sake of admins being able to add these devices to AAD groups and assign policies or apps in the MEM admin center.

Being synthetic, they have no data within **ApproximateLastLogonTimeStamp**. So if follow

[2022-07-07 17:54] MarileeTurscak-MSFT commented on #95433
@MichaelRyan87
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-07 17:59] sunnyhay opened #95460 "Fail to add a new routing rule using a host name"
Hello team,

  I'm facing a failure of adding a new routing rule using my host name.
  The url is `https://pbi-endpoint.eastus2.inference.ml.azure.com/score`.
  The screenshot is below.
![image](https://user-images.githubusercontent.com/8631667/177838734-38a64ffa-edd1-4861-8220-15165ed8b37f.png)

  This url is directly from Azure Machine Learning online endpoint. My purpose is to load balance inco

[2022-07-07 18:15] MarileeTurscak-MSFT commented on #95433
Hi @MichaelRyan87 , there's a note at the beginning of the article stating that the Microsoft Graph REST API (beta) for authentication methods is the current engineering focus to provide modern interaction.

My understanding is that phoneAuthenticationMethod is supported in the beta version but not in v 1.0 yet, and the beta APIs aren't recommended for production. That said, when it gets out of be

[2022-07-07 18:15] #95433 closed

[2022-07-07 18:20] JamesTran-MSFT commented on #95459
@paulo1904
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-07 18:26] jifems opened #95464 "Roles and permissions required to enable preview feature"
[Enter feedback here]
Would you please update the doc with roles and permissions required to enable the preview feature? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d6d9c34-1ad1-6d35-ce2c-f943c3d05b68
* Version Independent ID: 9b5c4719-0e76-6c65-2be8-74a8447ff6e1
* Content: [Set up preview features in Azure

[2022-07-07 18:28] frankdrewes opened #95465 "Error code AADB2C99001 not in the error code list"
[Enter feedback here]

I encountered an error code not in your list- AADB2C99001

Below is more details on the error. Some of the error is policy specific (using b2c custom policies) but having something in the documentation about the existence of this code would be helpful.

AADB2C99001 This+user+already+exists%2c+and+profile+%27Step-57-AAD-Fed-Link-Federated-Account%27+does+not+allow+the+same+us

[2022-07-07 18:30] Marshall-Corteva opened #95466 "Missing parameter currentStack in template"
The first 2 parameter files on this page include a parameter named "currentStack", however, the template does not list a matching parameter with that name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5584d6c1-0a94-9a3e-d420-a517690d8ca0
* Version Independent ID: b264b09a-3a3d-065c-0a23-d4135633942c
* Content: [Resou

[2022-07-07 18:32] QuinnyPig opened #95467 "Terrible security guidance"
"Paste your credentials into your code, but make sure you never check them in anywhere" is absolutely terrifying security guidance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c3f61e-62bf-459d-af2d-8e2ecb391000
* Version Independent ID: eebaaba4-2f87-7ccd-d29e-353d7b47d29b
* Content: [Quickstart: Image Analysis -

[2022-07-07 18:33] shinjiDev commented on #94253
@markshearing
All the schema files (xsd) that are uploaded to API Management are located in **"/schemas/modifiedfilename"**, where "modifiedname" is the file name modified following these rules:
_foo.xsd -> foo, foo_1.xsd -> foo-1, foo_1_2.xsd -> foo-1-2_

You can find some file examples in [Xml Schema Processor](https://github.com/Azure-Samples/api-management-schema-import/tree/main/examples/XmlS

[2022-07-07 18:37] danielniccoli opened #95468 "This document is not helpful."
Ok, so I now know that Azure offers a service that does "Cloud HR application to Azure Active Directory user provisioning". It completely fails to tell me where I should look next, to learn

 - What service is actually used to provision HR employees to Active Directory.
 - How to install said service.
 - How to configure said service.

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-07-07 18:43] MarileeTurscak-MSFT commented on #95465
@frankdrewes
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-07 18:49] #95304 closed

[2022-07-07 19:03] MonikaReddy-MSFT commented on #95466
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-07 19:06] grimson73 opened #95470 "Small correction on latest version Windows Server"
‘We suggest you upgrade your Azure AD Connect server to Windows Server 2019, which is the most recent version of the Windows Server operating system.’

Windows Server 2022 is now the most recent edition.

Regards,
Arian!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c1e2969-8162-7cad-99b7-803ba089081d
* Version Indep

[2022-07-07 19:08] MonikaReddy-MSFT commented on #95464
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-07 19:31] MarioAtTrimble opened #95471 "I have gone through a couple of these walkthroughs and they don't work. Please update"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4a217cd-8949-e9b8-d8c5-a0f864b10237
* Version Independent ID: e38769a3-04f6-c695-da48-8d0598a06bb9
* Content: [Tutorial: Enable the Ingress Controller add-on for a new AKS cluster with a new Azure Application Gateway](https://docs.microsoft.com/en-us

[2022-07-07 19:35] mikequ-taggysoft commented on #94331
@SnehaAgrawal-MSFT If you take a look at the Azure support ticket sponsored by you, the Azure support engineer says that the product group stated that the "web sockets configuration" now only applies to Windows web apps. On Linux it's supposedly always enabled regardless of the `webSocketsEnabled` value.

Maybe the related documentations should be updated to reflect his change.

[2022-07-07 19:36] shayoniseth commented on #95321
All of the above should now be possible via AMA supporting custom logs and custom transforms. @bwren Can you work with Jeff Wolford to add examples to our documentation reflecting above asks?

[2022-07-07 19:44] cveld commented on #95360
For sure we use service principals to create vnet peerings. Maybe I don't understand your context fully. We strive to automate everything by infrastructure as code. Within one tenant this works straightforward.

[2022-07-07 19:48] JamesTran-MSFT commented on #95468
@danielniccoli
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-07 20:21] ChaitanyaNaykodi-MSFT commented on #95460
Thank you for your feedback! We will review and update as appropriate.

[2022-07-07 20:25] #95423 closed

[2022-07-07 20:32] ChaitanyaNaykodi-MSFT commented on #95471
Thank you for your feedback! We will review and update as appropriate.

[2022-07-07 20:38] realAngryAnalytics commented on #95399
@nickbeagley there are two sets of Synapse documents, the one you have listed is for dedicated SQL pool (formerly SQL DW) while I believe you are looking for Synapse Workspace dedicated SQL pool. We still have many customers on non workspace enabled sql pools which is why we have two sets of documentation. Please review this link for accuracy: [https://docs.microsoft.com/en-us/azure/synapse-analyt

[2022-07-07 20:40] MonikaReddy-MSFT commented on #95466
@Marshall-Corteva - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-07 20:40] #95466 closed

[2022-07-07 20:41] MonikaReddy-MSFT commented on #95159
@insankim - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2022-07-07 20:49] mundayn opened #95474 "Policy Analytics Page?"
Hey

I can see that 'Policy Analytics' is now in Preview, and it showing on the Pricing Page for Firewall Manager.

I can't seem to find any documentation related to this new service, is there an article on the Microsoft website that is not showing on google? Or as it is in Preview one is in the works?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-07-07 20:51] timrhaynes opened #95476 "Step 5D is ambiguous"
Step 5D says: "Take note of your Team ID (App ID Prefix) from this step. You'll need it later."

Sometimes you have to click on a drop down and choose the App ID which has "(Team ID") beside it. I have seen it where you don't have to click on a drop down, and where you do. Here is an example:

![App ID](https://user-images.githubusercontent.com/24923033/177869140-82b1d0a0-cf10-457d-8cb2-c29f08a54e

[2022-07-07 21:02] MarileeTurscak-MSFT commented on #95470
Thanks! I made a pull request to update the document. The changes should go live within 24 hours or so.https://github.com/MicrosoftDocs/azure-docs-pr/pull/204056

[2022-07-07 21:03] sananoorani opened #95478 "Update the attribute mappings"
In Step 7, the admin is asked to map the email address, first name, and last name. However, when creating a user in Azure AD, the first name and last name are optional attributes. Many of our customers don't fill these values out. However, displayname is a required attribute. Therefore, we would like to update this section to ask the admin to add the user.displayname attribute in step 7b. In Table

[2022-07-07 21:08] #95187 closed

[2022-07-07 21:15] MarileeTurscak-MSFT commented on #95478
@sananoorani
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-07 21:16] hhunter-ms commented on #95062
Hello @ahmed-shah0906 - You can disable default profiling [by turning off the sampling trigger](https://docs.microsoft.com/azure/azure-monitor/profiler/profiler-settings#trigger-settings). I hope this helps!

[2022-07-07 21:16] markmassad opened #95479 "Python 3.6 Out of Support but listed as "recommended". Does this need to be updated?"
Hi, Python 3.6 has been out of support for quite some time.  Why is this Python unsupported version recommended per:

https://docs.microsoft.com/en-us/azure/automation/automation-runbook-types#advantages-3:~:text=For%20Python%203%20Hybrid%20jobs%20on%20Linux%20machines%2C%20we%20depend%20on%20the%20Python%203%20version%20installed%20on%20the%20machine%20to%20run%20DSC%20OMSConfig%20and%20the%20Lin

[2022-07-07 21:17] techsaau opened #95480 "Elastic Job sp_start_job with job version"
Elastic Job's Stored Procedure "sp_start_job" with specific version doesn't work. If you have a look at SP's query, it is accepting Job's Execution ID instead of version Number:

CREATE PROCEDURE [jobs].[sp_start_job]
    @job_name           NVARCHAR(128),
    @job_execution_id   UNIQUEIDENTIFIER = NULL OUTPUT
AS

and it will throw below error as well:

Msg 206, Level 16, State 2, Procedure jobs.s

[2022-07-07 21:29] #95476 closed

[2022-07-07 21:48] alumriel opened #95481 "Please add Powershell instructions for activating PIM"
Can you please add instructions for how to activate "azure resources" roles using either Powershell or Azure CLI?
It might also be helpful to add instructions for how to determine the GUID for a role you are eligible for, as this is not visible anywhere in the portal that I can find.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2022-07-07 21:59] #95399 closed

[2022-07-07 22:06] MNF opened #95482 "Is Connection Timeout defined for total retries or for one attempt?"
Could you please verify is the
“following equality true: Connection Timeout = ConnectRetryCount * ConnectionRetryInterval “ ?

According to
https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection.connectionstring?view=dotnet-plat-ext-6.0
Connection Timeout is The length of time (in seconds) to wait for a connection to the server before terminating **the attempt** and genera

[2022-07-07 23:18] SaurabhSharma-MSFT commented on #95427
@m3ngi3 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-07-07 23:35] itsxallwater commented on #63857
See above @ayush-6d :)

[2022-07-07 23:37] YutongTie-MSFT commented on #95467
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-07 23:39] aaelony-aeg opened #95484 "MSSQL Server Driver for MacOS M1 documentation that supports MFA"
There appears to be a problem with the ODBC Driver.  I am using the msodbcsql17 (17.10.1.1) MSSQL Driver from a Mac and get the error message:

[code]

`Authentication=ActiveDirectoryInteractive` (with the same settings) works from a windows machine, _but not from the Mac_ (m1 running Monterey)

ODBC Driver 18 gives the same error.

Is there documentation describing how to connect to a SQL Server

[2022-07-08 00:18] Oury-MSFT commented on #95482
@MNF Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-07-08 00:21] Oury-MSFT commented on #95484
@aaelony-aeg We are reviewing this and will get back shortly.

[2022-07-08 00:24] Oury-MSFT commented on #95480
@techsaau Thank you for your query. We are reviewing this and will get back shorlty.

[2022-07-08 00:26] davidsmatlak commented on #57371
#reassign:davidsmatlak

[2022-07-08 00:27] ChaitanyaNaykodi-MSFT commented on #95474
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-08 00:39] davidsmatlak commented on #85181
#reassign:davidsmatlak

[2022-07-08 01:14] carolinamatuk opened #95485 "Microsoft.Azure.WebJobs.Host Error Indexing Method AzureFunction.Microsoft.Azure.WebJobs.Extensions.Storage"
Hello. I have created an Azure Function in python vscode using an Azure blob trigger. I have successfully deployed my function from my local workspace to my Azure Function App. The function should be triggered every time that a new file is added to my blob container folder; however, when I upload a new file to trigger the app I get this error.

[Error] Microsoft.Azure.WebJobs.Host: Error indexing

[2022-07-08 01:15] peter-bertok commented on #95321
The only documentation I found says that it is *not* possible:

E.g.: https://docs.microsoft.com/en-us/azure/azure-monitor/logs/custom-logs-overview#tables

... says that only 4 tables are supported, and notably W3CIISLog isn't one of them!

More importantly, IIS web sites can be dynamically deployed, and the log paths (and fields) may not be consistent and often change over time as developers cha

[2022-07-08 01:42] realAngryAnalytics commented on #95399
don't feel bad @nickbeagley. You are certainly not the first customer that has run into this.

[2022-07-08 02:00] Mike-Crowley opened #95486 "Enabling Group Writeback "Using Azure AD Connect" doesn't work. PowerShell is required."
Using the instructions listed with the current version of Azure AD Connect (2.1.15.0) does not enable the preview version of group write back. The powershell steps work, but this article suggests you can use the GUI as well, which I found to be untrue.

i.e. `Get-ADSyncAADCompanyFeature` shows `GroupWriteBackV2` as `False`, even after enabling it with the UI.

---
#### Document Details

⚠ *Do not

[2022-07-08 02:06] KrishnaG-MSFT commented on #95479
@markmassad Thanks for your comment! We will review and provide an update as appropriate.

[2022-07-08 03:29] ailwqqqssdsaasfaddqag commented on #90554
جرب تطبيق Samsung Max، تطبيق جديد ورائع لعمليات توفير البيانات للأجهزة التي
تعمل بنظام .Android

[2022-07-08 04:34] CHEEKATLAPRADEEP-MSFT commented on #95453
@lBilali  Thanks for the question! We are investigating and will update you shortly.

[2022-07-08 04:59] ayush-6d commented on #63857
i have a admin access but only see my organisational  @itsxallwater

[2022-07-08 05:14] #95221 closed

[2022-07-08 05:23] clarenceb opened #95488 "Incorrect github repository secret for ACR"
In section: https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/tutorial-gitops-flux2-ci-cd#create-github-repository-secrets

This secret isn't used but we are told to create it:

<html>
<body>

AZURE_VOTE_IMAGE_REPO | The full path to the Azure Vote App repository, for example azurearctest.azurecr.io/azvote
-- | --

</body>
</html>

The script [buildContainerTemplate.sh](https://github.co

[2022-07-08 05:40] shwetamathur7 commented on #95486
@Mike-Crowley Thanks for your feedback. We will check and update the thread accordingly.

[2022-07-08 05:56] clarenceb opened #95489 "Incorrect variable ENVIRONMENT_NAME, expected ENV_NAME"
In section: https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/tutorial-gitops-flux2-ci-cd#create-github-environment-secrets

`ENVIRONMENT_NAME` for the Dev and Stage environments should be changed to `ENV_NAME` otherwise the Deploy step fails in the script https://github.com/Azure/arc-cicd-demo-src/blob/master/utils/create-pr.sh#L72

The script expects a variable to called `ENV_NAME`.

T

[2022-07-08 06:15] gregoryjkramer opened #95491 "error message"
error: value createFromConnectionString is not a member of object com.microsoft.azure.eventhubs.EventHubClient

any suggestions?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd4b0492-b73e-881d-92ef-a9e9d841cd05
* Version Independent ID: 3ca1bc50-7003-0766-b14e-a96b100516da
* Content: [Tutorial: Stream data into Azure

[2022-07-08 06:45] CHEEKATLAPRADEEP-MSFT commented on #95491
@gregoryjkramer  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-07-08 06:49] MayankBargali-MSFT commented on #95485
@carolinamatuk MicrosoftDocs Github issue is mainly related to the document issue. For any troubleshooting issue I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audienc

[2022-07-08 06:49] #95485 closed

[2022-07-08 06:57] antonmatsiuk commented on #29971
It's 2022 already and WSS support after 3 years is still not there, incredible!

[2022-07-08 07:11] michael-freidgeim-webjet opened #95493 "Test by disconnecting from the network returns 0 instead of 11001"
I was trying to follow instructions https://docs.microsoft.com/en-us/azure/azure-sql/database/troubleshoot-common-connectivity-issues?view=azuresql#test-by-disconnecting-from-the-network
and disconnected from the network and set flight mode.
However I've got 0 instead of 11001 with expected Message: "No such host is known"
The full $exception	{"A network-related or instance-specific error occurred

[2022-07-08 07:28] kobulloc-MSFT commented on #95392
@def1nity I've given this several different attempts but I haven't been able to reproduce the error you are seeing:

- Used "Copy" command from the documentation
- Manually copied and pasted text from the documentation
- Tried copying all 3 instances of the command on the page

![image](https://user-images.githubusercontent.com/37556655/177937843-4a79d76c-10be-45e5-87c0-a9d5e6c5a7da.png)

This is

[2022-07-08 07:49] georgeOsdDev opened #95496 "ContainerApps configuration cli sample does not work"
Exported app.yaml can not reuse if it contains secret due to below issue.
https://github.com/microsoft/azure-container-apps/issues/259

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62186553-2955-8288-d044-5edf05b28203
* Version Independent ID: 394665c1-c6fa-dcab-f298-00e9705290b1
* Content: [Use storage mounts in Azur

[2022-07-08 08:03] erankurgoel commented on #57861
It is working now.

[2022-07-08 08:07] michael-freidgeim-webjet commented on #95493
When debugging, I found that  SqlException has correct Number:11001  ,but error message is "error: 0"

[2022-07-08 08:23] GeoGerrit opened #95497 "Documentation Enhancement Suggestion"
[Enter feedback here]
Hei,

I suggest that adding a link  to:
"https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/synapse-file-mount-api"
would help a reader that wants to expand on this "quick read" tutorial example.
Thanks,
Have a great summer,
Gerrit.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f48c53

[2022-07-08 08:32] dknappettmsft commented on #95384
Hi @hemanth8010, unfortunately this isn't the correct place to ask as the links aren't created and maintained by this team.  A better place to ask is https://aka.ms/TeamsFeedback for the Teams client and https://techcommunity.microsoft.com/t5/azure-virtual-desktop/idb-p/AzureVirtualDesktop for WebRTC.  Sorry not to be much more help here.

#please-close

[2022-07-08 08:32] #95384 closed

[2022-07-08 08:43] JananiRamesh-MSFT commented on #95228
@dgdel04 I wasn't able to reproduce this issue. While I ran the below command, I was able to create a new APIM instance successfully. See below:

New-AzApiManagement -Name "myapimjananitest" -ResourceGroupName "New" `
  -Location "West US" -Organization "Contoso" -AdminEmail "admin@contoso.com"

![image](https://user-images.githubusercontent.com/92862826/177953760-51bdac9e-0083-43a3-b560-2a3f584db

[2022-07-08 08:45] def1nity commented on #95392
@kobulloc-MSFT
Thanks for looking into this.

I agree that using Azure Cloud Shell is likely the reason why you couldn't reproduce this on your end. I only tried with PowerShell on Win10 the other day. Today I tried with PS on W10 used to SSH into a Ubuntu VM where the Azure CLI is running and there the cmd works fine.

The note from the Kubernetes documentation is spot on, as the following format

[2022-07-08 08:52] AnuragSingh-MSFT commented on #95002
@ethanhou-MSFT, @ioeifcss, apologies for the delayed response. The "Reason" is set in the get method of the PS file, **however** it is not available for `Script` resource (_as used in the provided configuration for this thread_). A return value is not required from `GetScript`. If you specify a return value, it must be a hashtable containing a **Result** key whose value is a String. (<-- not suita

[2022-07-08 08:53] db6thomas commented on #89594
Hello, I have installed fence-agents-4.7 and was running in described issue with  python3-azure-mgmt-compute package version is 17.0.0-6.7.1. I have updated azure-mgmt-compute to version 23.0.0 .
After this, fecing agent - still on 4.7 is running fine.

Is this an valid alternative solution and if so, will it be documented somewhere?

[2022-07-08 09:04] Reisclef opened #95498 "Documentation for Firebase Cloud Messaging is outdated since Google disabled Cloud Messaging API"
Hi,

I believe this document is now out of date, as the page in Firebase for new apps has the Cloud Messaging API marked as disabled, and there is no way to add a server key without going to Google Cloud and managing it there.

Could this page be updated to include steps for this?

Thanks for your consideration!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-07-08 09:23] CHEEKATLAPRADEEP-MSFT commented on #95497
@GeoGerrit  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details.

[2022-07-08 10:32] RohitMungi-MSFT commented on #95267
@[praveench02](https://github.com/praveench02) I hope the above clarification helps.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2022-07-08 10:49] ShaikMaheer-MSFT commented on #95235
@fsteph You mean you tried to give feedback on new UI changes which mentioned in below documentation?
https://docs.microsoft.com/en-us/azure/data-factory/how-to-manage-studio-preview-exp

If Yes, then in your data factory please enable the preview features as mentioned in above documentation and try to share feedback. Do you mean you are facing issues to share feedback after enabling preview featu

[2022-07-08 10:56] GitaraniSharma-MSFT commented on #95431
@DanielHRio , thank you for bringing this to our notice. Looks like the screenshot and the wordings need to be updated. We have assigned this to the content owner/author for review.

@xstof , the "Edit HTTP settings for App Service" section needs to be updated with the latest UI screenshot and the section name needs to be updated to "Edit backend HTTP settings in Application Gateway to access the

[2022-07-08 11:13] GitaraniSharma-MSFT commented on #95431
@vhorne , could you please get this doc updated or assign it to an available author as @xstof is OOF for next 2 months? Thanks!

[2022-07-08 11:15] praveench02 commented on #95267
Sure, thanks !

From: ***@***.***>
Sent: Friday, July 8, 2022 4:02 PM
To: ***@***.***>
Cc: Praveen ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] what is mnistInput and mnistOutput (Issue #95267)

@praveench02<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fpraveench02&data=05%7C01%7Cpraveench%40microsoft.com%7Cb671227278de4e6a2daa08da60cd33ea%7C7

[2022-07-08 11:29] Brad-Bueche opened #95499 "Possible typo"
ver. To define business-to-business (B2B) artifacts, you create integration account where you store these artifacts.

[2022-07-08 11:29] #95267 closed

[2022-07-08 12:02] DeanGross opened #95501 "Obsolete examples-MindMeld"
I have been told that MindMeld is being retired. It is being rolled into a paid solution in the Cortex family called TIM (Threat Intel Mgmt) for XSOAR.

Please update this page
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b75207ad-9ac9-d2e6-77d2-4f9b49eb6486
* Version Independent ID: 21142ecb-380f-331a-3873-12c8b97575

[2022-07-08 12:41] SnehaSudhirG commented on #93370
Thank you for the feedback. The updates are made and info is live -  https://docs.microsoft.com/en-us/azure/automation/quickstarts/create-account-portal

[2022-07-08 12:41] SnehaSudhirG commented on #93370
#please-close

[2022-07-08 12:41] #93370 closed

[2022-07-08 13:00] charlesleaub opened #95503 "Container app fail to provision from ACR"
[Provisioning step fails and there is no logs to check what failed]

When I try to create a container app running an image that I have on ACR it shows in the revision management tab that the status of the provisioning is "Failed". I can't see any logs or anything so I did not find a way to see what actually failed. I followed the steps described in the doc either on the portal or using azure cli a

[2022-07-08 13:01] VikasPullagura-MSFT commented on #95488
@eedorenko
Can you please check and add your comments on this doc update request as applicable.

[2022-07-08 13:02] #95503 closed

[2022-07-08 13:03] xi3389-adevgan opened #95504 "version"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 464d3689-36bd-fe6f-2b78-fff658275244
* Version Independent ID: 4b259eca-9d72-1db3-6d9b-2096289b4ff9
* Content: [Quickstart: Deploy an Azure Red Hat OpenShift cluster with an ARM template or Bicep](https://docs.microsoft.com/en-us/azure/openshift/quick

[2022-07-08 13:03] #95504 closed

[2022-07-08 13:05] VikasPullagura-MSFT commented on #95489
@clarenceb
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-08 13:05] VikasPullagura-MSFT commented on #95489
@eedorenko
Can you please check and add your comments on this doc update request as applicable.

[2022-07-08 13:07] VikasPullagura-MSFT commented on #95499
@Brad-Bueche

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2022-07-08 13:10] VikasPullagura-MSFT commented on #95501
@DeanGross
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-08 13:11] VikasPullagura-MSFT commented on #95501
@yelevin
Can you please check and add your comments on this doc update request as applicable.

[2022-07-08 13:23] nosvalds commented on #91498
I just followed this tutorial and noticed the opposite. ContainerEvent_CL is NOT created while ContainerInstanceLog_CL is.

I don't think it's a problem with the documentation though, I think this integration is having service issues.

[2022-07-08 13:39] gjarzab opened #95505 "Reasons for event delivery cancellation"
The delivery and retry section provides a table with possible LastDeliveryOutcome values. One of these is "Canceled", the description simply says "Delivery operation cancelled". It would be very helpful to have additional details describing the reasons why delivery of an Event Grid message can end up with this outcome. Specifically, would it be possible to add details as to why this might happen a

[2022-07-08 13:51] RamenTurismo opened #95506 "AddApplicationInsights is not working with Microsoft.Extensions.Logging.ApplicationInsights 2.20"
I was searching why this code wouldn't compile :

[code]

The method allowing to this has been made private and can't be accessed. I see that the documentation bases itself on the `2.19.0` instead of `2.20.0`.
As I understood, using `InstrumentalKey` is deprecated and `ConnectionString` should be used instead.
Is there a solution ?

I am talking about the [Capture logs within ASP.NET Core startup

[2022-07-08 14:16] RamenTurismo commented on #95506
After still providing the `InstrumentalKey`, I get an exception :

[code]

Despite the fact that `.AddApplicationInsightsTelemetry` has been called in `ConfigureServices`.

[2022-07-08 14:22] special-arrow opened #95508 "Possible column name maximum value mismatch?"
On this page under Data limits, the column name maximum is listed as 50 characters. However, at https://docs.microsoft.com/en-us/azure/azure-monitor/service-limits under the Log Analytics Workspaces heading, in the General workspace limits table, the column name maximum is listed as 45 characters. Should these both be the same value (and which is the correct value?), or is it that the API allows a

[2022-07-08 14:25] amthomas46 opened #95509 "Potential mismatch of built-in vs fixed server level roles"
I could be misunderstanding the capabilities, but I see

*Built-in server-level roles
The following table shows the **fixed server-level roles** and their capabilities.*

Should fixed be built-in?

The next section says

*Permissions of fixed server roles
Each **built-in server-level** role has certain permissions assigned to it. The following table shows the permissions assigned to the server-lev

[2022-07-08 14:28] amthomas46 commented on #95509
Also, further up in the intro / explanation, it says

*Azure SQL Database currently provides three fixed server roles.*

But I see many more than three listed? Now I am thinking that maybe "Built in fixed" and "fixed" are the same thing. It's a bit confusing for someone at my level of permissions understanding.

[2022-07-08 14:36] v-amallick commented on #94672
Hi @makamiya -

The JSON file name in the [Japanese version of the article](https://docs.microsoft.com/ja-jp/azure/backup/backup-azure-sap-hana-database?source=docs#using-an-http-proxy-server-for-aad-traffic) is now updated.

So, closing this issue thread.

Thanks!
#please-close

[2022-07-08 14:36] #94672 closed

[2022-07-08 14:40] GeethaThatipatri-MSFT commented on #95509
Hi @amthomas46 Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-07-08 14:41] uk786 opened #95510 "Reflect Product Name Change"
[Enter feedback here]
 Azure Security Center is now Microsoft Defender for Cloud

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e20353e7-42b6-8d20-2d1c-3308fef05876
* Version Independent ID: e20353e7-42b6-8d20-2d1c-3308fef05876
* Content: [Azure security baseline for Synapse Analytics Workspace](https://docs.microsoft.

[2022-07-08 14:51] xuwenjian1995 commented on #95134
Hi @kobulloc-MSFT Thanks again for the investigation.

[2022-07-08 14:52] nikki-c opened #95511 "You can automatically delete Azure AD B2B accounts"
Step 5 in section Ask guests to review their need for access, in general is no longer correct.
You can automatically delete the guest users Azure AD B2B accounts as part of the an access review when you are configuring an Access review for Select Team + Groups. It is not available for the option All Microsoft 365 groups with guest users.

Therefore step 5 needs to be updated.

Auto apply results t

[2022-07-08 15:17] L-u-k-e-GIT opened #95512 "Region Germany"
Hi any prevision on releasing Update Management, Change Tracking and Inventory on Germany West Central Region?

https://docs.microsoft.com/en-us/azure/automation/how-to/region-mappings

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8f86bd0-7555-9be2-1015-76e3ab88062f
* Version Independent ID: 1d310402-fadf-

[2022-07-08 15:20] kevmurray opened #95513 "VMSS Quickstart Page is out-of-date; doesn't support internet access?"
This page seems to be out of date with the current interface. Following these instructions (with reasonable adjustments for the different portal interface than in the illustrations), I was able to create a VMSS. However, when I ssh onto one of the hosts in the VMSS, I cannot access the internet (i.e. `curl 'https://bing.com'` and a program using the Azure SDK times out). I don't know if I'm suppos

[2022-07-08 15:37] JamesTran-MSFT commented on #95511
@nikki-c
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-07-08 15:40] MarileeTurscak-MSFT commented on #92100
Closing since this was answered here: https://github.com/Azure/login/issues/220

[2022-07-08 15:40] #92100 closed

[2022-07-08 16:05] borg-1of1 commented on #37381
Was just looking today (8 July 2022) and did not see Azure DevOps on the [list](https://docs.microsoft.com/en-us/azure/azure-government/compliance/azure-services-in-fedramp-auditscope).  Saw GitHub AE there and numerous other Azure/Microsoft products but not DevOps.  Any update on this?

[2022-07-08 16:07] flang-msft commented on #95411
https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-how-to-import-export-data

We have removed the incorrect alert stating that Import/Export only worked on premium.And, we added a link redirecting the user to the Feature Comparison table that you pointed out was contradictory.

Screenshots updated this month.

#please-close

[2022-07-08 16:07] #95411 closed

[2022-07-08 16:18] AnvaySingh opened #95514 "Deletion of blob based on when it was created"
I'm looking for a scenario where I'm able to create a lifecycle management rule for Azure Blob, to delete the blob based on when blobs were 'last created' rather than 'last modified'

The documentation does not provide any info in this aspect. Does this functionality exist or am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-07-08 16:23] SadiqhAhmed-MSFT commented on #95383
@eexume We did not receive details on your concern. Please shre more information to assist you further.

[2022-07-08 16:26] gregoryjkramer commented on #95491
kind of cool that you're doing thing this way now!

[2022-07-08 16:26] #95491 closed

[2022-07-08 16:34] SB-o-matic opened #95515 "Can a certificate be used instead of a secret"
Can a certificate be used instead of a secret when creating the policy key? How will one go about that?

[2022-07-08 16:38] tfitzmac commented on #95464
@jifems - you need access to Microsoft.Features/* actions. Contributor or Owner grants this access. I don't see that access available through any other built-in roles so you would have to create a custom role to provide that access without the Contributor or Owner roles.

I'll add that info to the article.

[2022-07-08 16:39] dhruvi-mck commented on #91363
Hi,
I am going through a similar issue. is this resolved?

[2022-07-08 16:53] sunnyhay commented on #95314
Thanks. Any update so far?

[2022-07-08 16:53] sunnyhay commented on #95460
Thanks. Any update so far?

[2022-07-08 17:00] msmbaldwin commented on #95510
Hi @uk786, and thanks for letting us know. I have updated this and all baselines to reflect the product name change.  We appreciate your contribution! #please-close

[2022-07-08 17:00] #95510 closed

[2022-07-08 17:08] pirminf opened #95517 "Azure AD advance provisioning (Provision employees having a contract that starts in the future)"
Section [Provisioning users in the Onboarding module](https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/sap-successfactors-integration-reference#provisioning-users-in-the-onboarding-module) say that :

There is no information if advance provisioning (provisioning of employees with a contract that starts in the future) is supported for Organisations only using Employee Centra

[2022-07-08 17:23] tfitzmac commented on #95464
I updated the article. It should get published later today. Thanks for this feedback.
#please-close

[2022-07-08 17:23] #95464 closed

[2022-07-08 17:39] cgallo25 commented on #95250
@BakkerJan Google-fu led me here and you've solved my problem. Was only getting M365 groups despite enabling everything for security groups. Thanks!