[2020-10-09 19:14] stevestein commented on #56910
@StingyJack - took me a while to get clarification, but here's the info I was able to get from the sync team:

If you have the same table name but under different schema, only one of the tables can be added into sync. The main reason is the tracking table is always named like dbo.<tablename>_dss_tracking. So you can not include the same tables with different schema in sync relation due to this.

[2020-10-09 19:14] AndyJenks007 commented on #64096
Pleasure James.

________________________________

Andrew Jenkinson|Group CEO
+447894 062867|andrew.jenkinson@cybersecip.com|www.cybersecip.com
Cybersec Innovation Partners Ltd is a company registered in England and Wales under number 4938619. Registered office: Linden House, Linden Close, Tunbridge Wells, TN4 8HH, United Kingdom.
This E-mail is confidential. It may also be legally privileged. If

[2020-10-09 19:14] normesta commented on #64034
Hi @alex-rolls. @priyashetty-gh might have perf statistics. @priyashetty-gh also - is there any way that you know of to apply default and access ACLs simultaneously? My understanding is no. Thank you!

[2020-10-09 19:16] JamesHHoustonII commented on #59694
I solved it a month or so back I have not yet published the fix.

On Thu, Oct 8, 2020 at 6:50 PM Marsh Macy <notifications@github.com> wrote:

[2020-10-09 19:18] CamyDee opened #64133 "Possible bug in step_timeout_seconds"
There seems to be an issue with `@step_timeout_seconds` - unless the documentation of this parameter is incorrect. I've noticed that if the time taken by the previous steps add up to more than say, the third steps timeout, it will be skipped entirely, and the lifecycle will report 'Timed Out' for step 3, having allowed it less than one second.

My understanding from this document is that `step_tim

[2020-10-09 19:31] JayaChatterjee-MSFT commented on #63790
@digaomatias Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-10-09 19:32] #63790 closed

[2020-10-09 19:42] ChaitanyaNaykodi-MSFT commented on #63765
Hello @malclear, Since we did not find any issues with the document we are now proceeding to close this issue out. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-10-09 19:42] #63765 closed

[2020-10-09 19:53] RonnieQuan opened #64136 "Http Setting 443 for Both App Servcie Backend Pool and VM Backend Pool"
Can you please confirm it's not supported to configure one app service pool and one vm backend pool for one single application gateway?

if yes, when the restriction will be removed.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bff6a678-34be-028b-2108-260458da23ef
* Version Independent ID: 934e

[2020-10-09 19:56] RonnieQuan opened #64137 "When UDR Constraint Will be Removed?"
v2 unsupported scenarios
Scenario 1: UDR for Virtual Appliances
Any scenario where 0.0.0.0/0 needs to be redirected through any virtual appliance, a hub/spoke virtual network, or on-premise (forced tunneling) isn't supported for V2.

Can you please provide more information, any ETA on when it will be removed?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-10-09 19:57] MarileeTurscak-MSFT commented on #63968
@evlo thanks! I made a pull request to update this but need confirmation from the author. https://github.com/MicrosoftDocs/azure-docs-pr/pull/133275

@msmimart please confirm

[2020-10-09 19:57] #63968 closed

[2020-10-09 20:00] kevbry opened #64138 ".net client library links to archived project"
The .net client library link leads to the archived service bus client library project. It should link to the current location in the azure sdk project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c3af764-3978-6abe-f756-2c2c4ef47e31
* Version Independent ID: c4dca68a-1c95-42af-9eb3-e1dc9a66a692
* Content: [Azure Ser

[2020-10-09 20:08] kummanish commented on #62571
@pvmraghunandan can you help me with the question above ?

[2020-10-09 20:11] mjrodrigue opened #64139 "Updating blobscaninfo does not immediately reprocess blobs"
Under the "Blob receipts" section it states "To reprocess immediately, the scaninfo blob in azure-webjobs-hosts/blobscaninfo can be updated.". This is not true, sometimes it takes hours for the blob to be reprocessed after updating the blobscaninfo blob.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ecb1e79-f603-03fd

[2020-10-09 20:16] NavtejSaini-MSFT commented on #64106
@irsubasi We are checking this and will get back to you.

[2020-10-09 20:17] NavtejSaini-MSFT commented on #64133
@CamyDee We are checking this and will get back to you.

[2020-10-09 20:18] ChaitanyaNaykodi-MSFT commented on #63840
Hello @silvermoong, I am sorry for the delay in my response, the requirement requested is documented [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code#create-a-function-app-2) where it is mentioned that `linuxFxVersion` property should be defined under `siteConfig` for Linux based apps. As the requirement is already documented, we are now proceeding to

[2020-10-09 20:18] #63840 closed

[2020-10-09 20:27] GiftA-MSFT commented on #64113
@rschiefer we'll review your feedback and get back to you soon. Thanks.

[2020-10-09 20:35] SHAGGAR opened #64140 "Getting Subscription SKU display names via API"
Is there any way to pull this list of products via the graph API (or other API) so an application could always have an up to date list of SKU display names?

All the types that are connected to subscription skus in microsoft graph (ex: https://docs.microsoft.com/en-us/graph/api/resources/subscribedsku?view=graph-rest-1.0) seem to include the SkuId and skuPartNumber, but not a display name. Am I mi

[2020-10-09 20:41] silvermoong commented on #63840
The original request for this issue is to document the way to target Azure Functions runtime versions for Linux Function Apps. The method of "configuring the linux_fx_version to get an image with earlier runtime version installed" should be documented in https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-functions/set-runtime-version.md

The other document doesn't explain how t

[2020-10-09 20:44] WinstonHoward-MSFT commented on #64120
Hi @nickmorgy ,

Firstly thanks for reopening a new issue. Sometimes things do fall through the cracks and I just wanted to say I appreciate you creating a new issue so we can change this doc. Secondly I've found your original issue #56902 and am tagging it here for visibility. I'm now going to assign this to the doc author to resolve this but I'll keep myself assigned to it too, to keep tabs on t

[2020-10-09 20:49] Paul-Dempsey opened #64141 "The ability to define multiple functions in a single project/assembly is not directly addressed"
While there are some implicit clues that you can define multiple functions in a single project (the layout diagram, for example), it isn't explicitly called out, and no examples are given.

It would be great if there were some simple statement that explicitly mentions that it is possible, and what restrictions there may be (must be in separate classes or not? must be in separate source files or no

[2020-10-09 20:50] priyashetty-gh commented on #64034
@alex-rolls -  Norm and I will consolidate this issue reported with the other thread we have with you on default ACLs offline and provide required guidance. We'll close this issue out as it is not related to a documentation issue.

[2020-10-09 20:51] mimckitt commented on #64120
At this time we do not want to change the wording. We are going to keep it as max data disks. This means the max number of data disks you are able to attach to the VM. We appreciate the feedback and will keep it in mind going forward.

#please-close

[2020-10-09 20:51] #64120 closed

[2020-10-09 20:54] kundanshintre opened #64142 "Attach shared image gallery to Dev Test Lab"
The below PUT api returns an error saying Location is required

PUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/sharedgalleries/{name}?api-version= 2018-10-15-preview
Body:
{
    "properties":{
        "galleryId": "[Shared Image Gallery resource Id]",
        "allowAllImages": "Enabled"
    }
}

[2020-10-09 21:05] bdcoder2 commented on #34521
Should this be closed?  Can someone confirm -- Can we create a VM and specify temp storage as something other than "D", i.e. "X" or "T" and if we then update the VM to a different service level, will temp remain at something other than "D"?   I have my doubts.

[2020-10-09 21:06] largeDachshund opened #64143 "Backend Registration Example Forgets to Show the Backend Code"
According to this heading "Example code to register with a notification hub from a backend using an installation", one would expect to see the Backend API code handling registration.  Instead, the associated code only shows a call to the Notification Hub!  Now, if there's a hand-off from the Notification Hub to the Back-end application, it's explained no where in the text or in the example.

`// I

[2020-10-09 21:11] rudolphjacksonm opened #64144 "Clarify Azure WAF Decryption Process"
Many clients have strict compliance requirements that any traffic that is inspected by App Gateway's WAF must be done within a particular geographical region (e.g. UK South or UK West). As an example, if a company has PII (Personally Identifiable Information) that is inspected by a WAF, that data must be decrypted within a particular region, even if it is only in memory and for a short period of t

[2020-10-09 21:17] roygara commented on #63730
@javester Thanks for bringing this to our attention, we appreciate it! I've gone ahead and removed these references. :)

Accordingly, I'll close this out.

#please-close

[2020-10-09 21:17] #63730 closed

[2020-10-09 21:44] macolso commented on #63864
At this time, ACI customers can't add additional mounting parameters besides the path ([ACI ARM spec](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerinstance/containergroups)). I encourage sharing this feature request on [ACI's feedback page](https://user-images.githubusercontent.com/48335676/95634057-dbb09e00-0a3d-11eb-8f93-10573b0a0b98.png)!

[2020-10-09 21:52] himanshusinha-msft commented on #64000
@tritm78 : While reading the ask again , i see that the you are trying to install the parent and the dependent packages  at different location ( one at the notebook level  and the other at the cluster level;) . Now the error mentioned totally make sense .To me we will have to install both the packages either at the cluster or notebook level ( which you are already doing ) .

 Can you please let me

[2020-10-09 22:01] csando commented on #51830
Hey, no sorry that was the end of the ticket. Support didn't really have anything to tell em that I hadn't already tried. Their ultimate solution was this which works but I didn't really like it much:
- remove work/school account connection from user's profile.
- dsregcmd /leave
- reboot
- dsregcmd /join (as admin)
- log in as admin user, use settings menu or download company portal app to enroll

[2020-10-09 22:08] ChaitanyaNaykodi-MSFT commented on #64105
Hello @dannyb648, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-09 22:15] SaiKishor-MSFT commented on #64099
@haymansfield
"I understand from a Microsoft post that Private DNS zones are not picked up over P2S connections so this is not a workable solution. Is this true."

This is true. This setup is considered to be -Resolution of Azure hostnames from on-premises computers and is covered in the [document](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-name-resolution-for-vms-and-

[2020-10-09 22:15] MicrosoftGuyJFlo commented on #63591
Taking this to my backlog to try to get and add additional clarification from PG.

[2020-10-09 22:15] MicrosoftGuyJFlo commented on #63591
#please-close

[2020-10-09 22:16] jgwinner opened #64146 "Server-Rendered?"
Hello:

I stumbled on this page by looking up Server Side Rendering for React apps.

The title says "server-rendered Next.js websites" yet there isn't a single mention of server rendering, Server Sided rendering, or anything but hosting static HTML web apps - which aren't server rendered.

Server sided rendering of Next.JS requires node, which would require iisnode, so I'm not sure this page reall

[2020-10-09 22:17] mimckitt commented on #57684
My guess is that they might be using some other image as they should show up as mentioned in the doc. We do call out the ones that show up as the license type otherwise they are called additional info:

https://docs.microsoft.com/en-us/azure/virtual-machines/vm-usage#image-type

#please-close

[2020-10-09 22:19] JamesTran-MSFT commented on #64140
@SHAGGAR
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-09 22:20] #63591 closed

[2020-10-09 22:30] MartinJaffer-MSFT commented on #64093
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-09 22:42] ggailey777 commented on #26892
@ericdrobinson I've confirmed that [these Consumption plan log queries](https://docs.microsoft.com/azure/azure-functions/functions-consumption-costs#determine-memory-usage) do run successfully now against a Linux Consumption plan function app. I'll make sure that these examples also get added to the monitoring articles.

[2020-10-09 22:46] yuhual commented on #63900
Thank you so much James, this is really helpful!

[2020-10-09 22:51] MartinJaffer-MSFT commented on #64109
Thank you for your feedback, @mthomson-pulse . This has been assigned to the content owner, @barbkess , and will be updated as appropriate.

[2020-10-09 22:55] SaiKishor-MSFT commented on #64115
@Trundlore
The Always On VPN connection can be either user tunnel or device tunnel. As given in the[ document]( https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-always-on-device-tunnel)-

Always On VPN connections include either of two types of tunnels:

Device tunnel: Connects to specified VPN servers before users sign in to the device. Pre-sign-in connectivity scenarios and d

[2020-10-09 22:59] MartinJaffer-MSFT commented on #64114
Thank you for your feedback, @chirangaalwis . This has been assigned to the content owner, @mlearned and will be updated as appropriate.

[2020-10-09 23:00] timomta opened #64148 "Article is Inaccurate - Needs Corrections and Disclaimers"
Hello,

I think this article should be updated and corrected due to customer questions I have received on it, support cases, and failed attempts to implement its proposed steps.

Noting the below in the article would help a lot:

1. This method of querying AAD is in beta (note the url endpoint is https://graph.microsoft.com/beta/), which means it is not supported. The article should note that.
2.

[2020-10-09 23:09] NavtejSaini-MSFT commented on #64106
@irsubasi We have made changes to the line in question using PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/133329 and we will keep the screenshot same for now as the button essentially is still the same on pane for firewalls in logical servers. After approval the changes will be live in 24 hours.
Please get back to us for any questions.

[2020-10-09 23:11] NavtejSaini-MSFT commented on #63854
@sr-msft We are assigning this to you for further action regarding this.

[2020-10-09 23:12] MartinJaffer-MSFT commented on #64119
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-09 23:12] NavtejSaini-MSFT commented on #63844
@joncole - We are assigning this to provide further guidance regarding this.

[2020-10-09 23:15] WinstonHoward-MSFT commented on #64112
Hi Salem84,

I've assigned this to the doc author to look at adding that addendum.

[2020-10-09 23:17] SAPDanJoe opened #64149 "Great article, but missing one thing..."
Hi @iainfoulds and @dmulder ,

Thanks for this great article.  I've been look for weeks for some instructions on joining SUSE to a windows domain, and this is the 1st article that actually _works_!!  The only thing that isn't in here, that I was hoping would be; is to know how this process can be automated; how can this be accomplished outside of YaST, on the comand line?

Kind Regards,
Dan-Joe

-

[2020-10-09 23:41] NavtejSaini-MSFT commented on #64039
@kummanish We were able to repro the issue
![image](https://user-images.githubusercontent.com/52257742/95639615-22ff5480-0a67-11eb-83e2-cc1e148a797f.png)

But even with user commands we are facing the error:
![image](https://user-images.githubusercontent.com/52257742/95639655-47f3c780-0a67-11eb-93b2-919310dda266.png)

Please provide the correct commands so we can make the necessary changes.

[2020-10-09 23:44] silverdrake11 opened #64152 "BlockBlobService is depreciated"
The instructions give sample code using `BlockBlobService` however this is depreciated and cannot be installed/used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 894562e1-2c07-2f75-b420-d843262a7f07
* Version Independent ID: 1b1fa915-19f0-653c-04d5-218ed4335398
* Content: [Run Python scripts through Data Factory - Az

[2020-10-09 23:45] NavtejSaini-MSFT commented on #64013
@vnextcoder For learning module please report the issue at the bottom of the learning page. For change to Docs on our side we are assigning to our doc author @yegu-ms for making the changes.

[2020-10-09 23:51] NavtejSaini-MSFT commented on #63989
@yegu-ms Please check the feedback from Cx and provide guidance regarding the changes that should make.

[2020-10-09 23:53] MarileeTurscak-MSFT commented on #64130
@curtand
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-09 23:55] tritm78 commented on #64000
@himanshusinha-msft, the scenario can be a bit complicated as the dependent package A.B was already installed at the cluster level when another parent pkg, say A.D was installed at cluster level, and in addition old version A.C v1.0 was installed at cluster level for an existing job. Now we have a new job that requires new version of A.C v2.0 and we don't want to install the new version at cluster

[2020-10-10 00:03] MarileeTurscak-MSFT commented on #64149
@SAPDanJoe
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-10 00:04] alfredorevilla-msft commented on #62877
@HaydnDias may you have information such as:

- Timestamp
- CorrelationId or RequestId
- ObjectID or UserPrincipalName of signed in user
- ObjectId or AppId of target application
- TenantId where app is registered
- MPN ID

[2020-10-10 00:05] sr-msft commented on #63854
Addressed the comments in these two PRs.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/132478
https://github.com/MicrosoftDocs/azure-docs-pr/pull/133341

[2020-10-10 00:07] MicrosoftGuyJFlo commented on #58330
Microsoft 365 A3 maps to E3 / A5 maps to E5 #assign @MicrosoftGuyJFlo #unassign @iainfoulds

[2020-10-10 00:07] MicrosoftGuyJFlo commented on #58330
#please-close

[2020-10-10 00:07] #58330 closed

[2020-10-10 00:09] MicrosoftGuyJFlo commented on #56275
These numbers change often and we are unable to keep them up to date in real time as providers change the numbers frequently. #assign @MicrosoftGuyJFlo #please-close

[2020-10-10 00:09] #56275 closed

[2020-10-10 00:13] MicrosoftGuyJFlo commented on #45072
users, devices, or groups It is up to you as an admin to choose what works best in your organization. Details are covered in the article linked. Licensing info can be found in the Microsoft Endpoint Manager docs as that is the authoritative source for Intune. We are just consuming part of their feature set in Passwordless.  #assign @MicrosoftGuyJFlo #please-close

[2020-10-10 00:13] #45072 closed

[2020-10-10 00:16] miked1313 commented on #56275
It’s too bad that the service can’t update the phone numbers in the Azure Docs which are stored in GitHub. #DevOps?

[2020-10-10 00:23] JamesTran-MSFT commented on #64148
@timomta
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-10 00:25] MicrosoftGuyJFlo commented on #59360
Correct "remove" as in stop processing traffic on them as you will be updating the ADFS adapter on each server as you remove and re-add them to the farm. Hence the line says:

Remove some AD FS servers from the farm. **Update these servers while the others are still running.**

Cant say how many as environments differ and some may even have no redundancy.

[2020-10-10 00:25] MicrosoftGuyJFlo commented on #59360
#assign @MicrosoftGuyJFlo #please-close

[2020-10-10 00:25] #59360 closed

[2020-10-10 00:28] MicrosoftGuyJFlo commented on #59609
#assign @mmcla

[2020-10-10 00:29] MicrosoftGuyJFlo commented on #59609
#assign @InbarckMS

[2020-10-10 00:29] PRMerger13 commented on #59609
InbarckMS is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-10-10 00:30] MicrosoftGuyJFlo commented on #59467
#assign @mmcla

[2020-10-10 00:31] MicrosoftGuyJFlo commented on #58576
#assign @mmcla

[2020-10-10 00:31] MicrosoftGuyJFlo commented on #58254
#assign @mmcla

[2020-10-10 00:36] MicrosoftGuyJFlo commented on #61633
As of today 10/9/2020 that would be Microsoft 365 Business Basic, Microsoft 365 Business Standard, or Microsoft 365 Apps as those do not include Conditional Access based MFA.

[2020-10-10 00:36] MicrosoftGuyJFlo commented on #61633
#assign @MicrosoftGuyJFlo #please-close

[2020-10-10 00:36] #61633 closed

[2020-10-10 00:38] MicrosoftGuyJFlo commented on #62683
@RobertColston please clarify if you are speaking specifically about external identities only?

[2020-10-10 00:41] MicrosoftGuyJFlo commented on #63385
This is done in Windows Server AD DS on-premises. Check the effective access on the root domain object in your directory.

[2020-10-10 00:41] MicrosoftGuyJFlo commented on #63385
#assign @MicrosoftGuyJFlo #please-close

[2020-10-10 00:41] #63385 closed

[2020-10-10 00:42] MicrosoftGuyJFlo commented on #63620
When the old experience goes away we will make the change. Until then we have to leave as is. I will note it in my backlog to review again when we remove the old experience. #assign @MicrosoftGuyJFlo #please-close

[2020-10-10 00:42] #63620 closed

[2020-10-10 00:44] MicrosoftGuyJFlo commented on #63954
@andrePKI Are you asking if you can do multi-factor unlock using Password and Windows Hello for Business?

[2020-10-10 00:44] MicrosoftGuyJFlo commented on #63954
#assign @MicrosoftGuyJFlo

[2020-10-10 00:46] MicrosoftGuyJFlo commented on #60323
Certificate-based authentication (CBA) is only supported for Federated environments for browser applications, native clients using modern authentication (ADAL), or MSAL libraries. **The one exception is Exchange Active Sync (EAS) for Exchange Online (EXO), which can be used for federated and managed accounts.**

[2020-10-10 00:47] MicrosoftGuyJFlo commented on #60323
#assign @MicrosoftGuyJFlo #please-close

[2020-10-10 00:47] #60323 closed

[2020-10-10 01:24] ProbablePrime commented on #63338
@cconrado Hey, you should be able to find the REST API docs here now: https://docs.microsoft.com/en-gb/rest/api/communication/

They are still quite new to the rest API docs area of docs.microsoft.com so will be improving as we go. Please take a look and let us know if you have any additional questions.

[2020-10-10 01:28] ChaitanyaNaykodi-MSFT commented on #64138
Hello @kevbry, Thank you for your feedback! We will review and update as appropriate.

[2020-10-10 01:30] ChaitanyaNaykodi-MSFT commented on #64141
Hello @Paul-Dempsey, Thank you for your feedback! We will review and update as appropriate.

[2020-10-10 01:32] samrui opened #64153 "Does all 6 Root CAs need to add into trust store ?"
![image](https://user-images.githubusercontent.com/8245974/95642277-2122a900-0ada-11eb-83c3-4252fa7d70a3.png)

From the document, there are 6 Root CAs.
Only first 4 CAs are in VM trust store, not include Microsoft,  if we need to add all, it will be very troublesome.
Some languages don't use  VM trust store, such java, python requests.
So,  I want to confirm whether all 6 Root CAs need to add into

[2020-10-10 01:32] ChaitanyaNaykodi-MSFT commented on #64139
Hello @mjrodrigue, Thank you for your feedback! We will review and update as appropriate.

[2020-10-10 01:46] femsulu commented on #14345
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-10 01:46] #14345 closed

[2020-10-10 02:06] Grace-MacJones-MSFT commented on #63971
Thanks for the update @Ericgre .

@RonnieQuan we will proceed to close this thread for now but will continue to update this document when we have new information to provide. If you have are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-10 02:06] #63971 closed

[2020-10-10 02:06] MicrosoftGuyJFlo commented on #63972
@jaggersystems The reason I dont like to show bulk delete is people will do it without testing and without a small sample size then delete everything and blame me/Microsoft. I want people who are going to do this to think about what they are doing and it is hard to enforce that if I give the solution. If they know PowerShell it is easy to figure this stuff out. If they dont then they are potential

[2020-10-10 02:49] femsulu commented on #63532
Good feedback, @OffColour. Will pass it on to the feature owner to see how we evolve this.
@bwren  - FYI.

[2020-10-10 03:02] StingyJack commented on #56910
@stevestein - ok, thats fine in our case we dont need to sync temporal or audit tables, just the "base" table.

is way different than saying

Since these comments are no longer visible on the docs page themselves (this was silly as it makes this information generally invisible, and probably caused an uptick in duplicate issues), can the docs page please be updated?

[2020-10-10 03:36] mumami commented on #41082
@rkemish If you want to get the entire pricelist, I would recommend downloading the same from Azure Portal. Or write PS wrapper to call this API that will download the entire pricelist in JSON format. I would recommend downloading from portal.

[2020-10-10 03:39] stephenwheet commented on #41082
How do you get it from the portal?

[2020-10-10 03:50] stevefan1999-personal opened #64154 "customData in metadata service doesn't work"
#30370

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdce995-5347-32c4-119f-6e8484250859
* Version Independent ID: 3dcfe7f4-cbb8-6323-5d93-b7e6b7f74db7
* Content: [Azure Instance Metadata Service - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#instan

[2020-10-10 03:51] mumami commented on #41082
Details are available here
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/ea-pricing

[2020-10-10 03:55] rkemish commented on #41082
Thanks but that’s for Enterprise Agreement those are not Pat as you go or public pricing. Only way is to use the retail api or the older rate card api.

[2020-10-10 04:21] Logan-V commented on #64061
Hi Team,

Any update on this issue? This is very short notice from MS to upgrade the network watcher extensions and now it’s not working using powershell or cli methods.

Regards,
Loganathan V
________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Friday, October 9, 2020 7:42:03 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Loganathan V

[2020-10-10 04:50] anishi1222 commented on #63748
Thanks @JamesTran-MSFT !
Yes, as you found in the last comment, Kubernetes Service resource typically locates in other resource group than NODE RG like "MC-xxxx". So, VM Contributer role seems needed to assign to NODE RG only. I look forward to enhancement of this page.

[2020-10-10 06:08] SubhashVasarapu-MSFT commented on #64137
@RonnieQuan, Thanks for reaching out. We will investigate and update this thread.

[2020-10-10 06:09] BharathNimmala-MSFT commented on #64122
@Absar629 Thank you for reaching out, can you please be more specific on what query you have on the documentation so that help us to assist you accordingly.

[2020-10-10 06:14] BharathNimmala-MSFT commented on #64124
@williamzhao87 Thanks a lot for bringing this to our notice, our team will review the feedback and enhance the document accordingly.

[2020-10-10 06:43] BharathNimmala-MSFT commented on #63817
@bdschaap Thanks again for your query and based on some research , below is the information I could gather.

Process CPU, which measure the CPU usage by w3wp process is *not* normalized for # of cores, and hence it can be greater than 100. To normalize it, divide the Process CPU by the # of available cores. For eg: if the Process CPU shows 360, and # of cores is 4, then the normalized CPU use is 9

[2020-10-10 06:43] #63817 closed

[2020-10-10 08:41] kunamneni117 opened #64156 "In the provided yml script in part 1 and 2 azureml-sdk is not mentioned in.yml script.use pip to install azureml-sdk and the only the training will go as expected"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23f9d033-9007-7b0a-d651-88d5d3846b2a
* Version Independent ID: c6efa8cc-8594-698b-21eb-5e4d9ad24bbd
* Content: [Tutorial: Train your first machine learning model - Python - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learnin

[2020-10-10 08:42] andrePKI commented on #63954
I meant this case: I don’t remember my HfB PIN so I can’t get in to my PC. Can I still use the password reset from the lock screen so I can reset my (domain) password and then access for instance office.com apps?

[2020-10-10 09:20] AnuragSharma-MSFT commented on #64127
@ketaanhshah Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-10 09:25] AnuragSharma-MSFT commented on #64136
@RonnieQuan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-10 09:38] AnuragSharma-MSFT commented on #64142
@kundanshintre Thanks for reaching out to us. GitHub is primarily for queries related to Microsoft doc. For technical queries, I would recommend you to  post this issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) or [StackOverflow](https://stackoverflow.com/questions/ask) for better visibility

We’d be happy to answer this on the forums and walk you through what

[2020-10-10 09:38] #64142 closed

[2020-10-10 09:41] AnuragSharma-MSFT commented on #64154
@stevefan1999-personal Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-10 09:42] AnuragSharma-MSFT commented on #64143
@largeDachshund Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-10 10:06] AnuragSharma-MSFT commented on #64144
@rudolphjacksonm Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-10 10:07] AnuragSharma-MSFT commented on #64146
@jgwinner Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-10 10:09] AnuragSharma-MSFT commented on #64152
@silverdrake11 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-10 10:10] AnuragSharma-MSFT commented on #64153
@samrui Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-10 10:25] jaggersystems commented on #63972
Ah very true, that's a fair point. Thanks John.

Any views or opinions presented in this email are solely those of the author and do not necessarily represent those of the company. Employees of the company are expressly required not to make defamatory statements and not to infringe or authorize any infringement of copyright or any other legal right by email communications. Any such communication i

[2020-10-10 11:33] fazalraza1 commented on #64039
Only highlighted need to be added, it was working for me.

--private-connection-resource-id $(az resource show -g $rg -n $mysqlprimary --resource-type "Microsoft.DBforMySQL/servers" --query "id" -o tsv) \

Thanks
Fazal

From: NavtejSaini-MSFT <notifications@github.com>
Sent: Friday, October 9, 2020 7:42 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Fazal Raza <faraza@microsof

[2020-10-10 11:59] joshkyh commented on #64078
Hi @gvashishtha,

Thanks for the suggestion, I'll try declaring them under if __name__ == '__main__': and see if that works. I'll come back with findings.

Best Regards,
Joshua

[2020-10-10 13:07] vlijmenfileer opened #64160 "Incorrect link"
The link under the big blue button "Send Azure Activity log to Log Analytics workspace" at the bottom of the page seems incorrect.
Perhaps it should be
https://docs.microsoft.com/en-us/azure/azure-monitor/learn/quick-collect-activity-log-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58cecec2-b66c-1ce0-02f7-e23f

[2020-10-10 15:07] vlijmenfileer opened #64161 "Information out of date"
"Select Connected Sources, and then select Linux Servers." is now located under Agents Management under the Log Analytics Workspace Settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 012c35ae-69e3-dfe3-6d99-077915f5f555
* Version Independent ID: f29da76c-d984-e218-570e-06ac68d2c550
* Content: [Quickstart: Collect

[2020-10-10 15:23] gasserp opened #64162 "Missing AccessTier"
Im missing the information how to set the AccessTier on Azure file shares with PowerShell. It seems that i cant set it when creating the share nor via update. Whats kind of strange aswell is, that the Rm commands still seem to be the offical way to create/update Azure file share.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-10-10 16:24] KrishnaG-MSFT commented on #64160
@vlijmenfileer Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-10 16:24] KrishnaG-MSFT commented on #64161
@vlijmenfileer Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-10 16:54] ErnestBrant opened #64164 "How can I check which Recovery Services Vault the MARS agent is 'currently' configured to backup to"
[Enter feedback here]

Hello

We have quite a number of Recovery Services Vaults (for various reasons). If I look at a Server which had the MARS agent installed several months back, there does not seem to be a way (looked around for 30 minutes) to see which Azure Recovery Services Vault the MARS agent is currently configured to backup to. I have tried looking in the GUI and using the PowerShell cm

[2020-10-10 17:01] mmacy commented on #62479
Hi @burtonrodman, regarding your comment here (emphasis mine):

Did you instead mean:

#reassign:mmacy

[2020-10-10 17:16] Norrch2 commented on #63654
thank you @amanmcse that was exactly what I was looking for.

[2020-10-10 18:00] atul-ram opened #64165 "documentation missing for port [NFS server (2049) & RPC protocol (111)]"
Need to document ports required for NFS mount. outbound NSG rules are needed for VM5, as it is not part of anf subnet.
details like 2049(nfs protocol) & 111(sunrpc) are required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31580c1b-34e7-acad-dfed-db47f7dae39f
* Version Independent ID: 8a07d877-784a-3d88-54cd-8cd5341

[2020-10-10 18:12] danielf-5 opened #64166 ""#2" Not Being Removed in SAML URL When Redirecting to AWS"
Regarding the following:

https://signin.aws.amazon.com/saml#1
https://signin.aws.amazon.com/saml#2
With these values, Azure AD removes the value of #, and sends the correct value https://signin.aws.amazon.com/saml as the audience URL in the SAML token.

It doesn't seem like that's working properly. I initially set up my first AWS app in Azure with no "#" after "saml" and the integration worked pe

[2020-10-10 19:15] SadiqhAhmed-MSFT commented on #64164
@ErnestBrant Thanks for the comment. We are actively investigating and will get back to you soon.

In the meanwhile could please share the details about what options your tried through GUI and PowerShell cmdlets used?

[2020-10-10 19:22] phess67 commented on #64124
William is correct. This step is no longer required.

[2020-10-10 19:27] AjayKumar-MSFT commented on #63951
@Console32, Just checking if you have had a chance to see my above response, please let us know if you need further help/share requested detailed. Thanks!

[2020-10-10 19:33] AjayKumar-MSFT commented on #63934
Abhijit, As we're following-up on this offline and also there is no specific doc enhancement at this time, we will close this thread for now.

[2020-10-10 19:33] #63934 closed

[2020-10-10 19:42] Norrch2 opened #64167 "Missing ErrorHandlers"
I hate to admit it but we are oftentimes finding out about things from samples and not the documentation.

See this example: [TrustFrameworkExtensions](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/blob/237fae7530197bf6e13bdc8ef2a9e6d9cf326b05/scenarios/source/aadb2c-ief-account-linkage/TrustFrameworkExtensions.xml)

Here you will see in the "Google-Auth" Technica

[2020-10-10 20:46] WinstonHoward-MSFT commented on #64061
Hi @Logan-V ,

I"m actively investigating and will update this issue accordingly. Thanks.

[2020-10-10 20:59] WinstonHoward-MSFT commented on #64061
Hi @Logan-V ,

Thanks for your patience while I tried to replicate what your describing. I was able to successfully upgrade a the network-watcher extension for a Windows VM. Can you validate your extension is deployed correctly? You can use the powershell command below to get the deployment state of the VM.

`Get-AzVMExtension -ResourceGroupName myResourceGroup1 -VMName myVM1 -Name networkWatcherA

[2020-10-10 22:48] burtonrodman commented on #62479
i believe either would be valid -- anything that will discover and register the routes from the package.

[2020-10-10 23:05] MartinJaffer-MSFT commented on #64156
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-10 23:12] MartinJaffer-MSFT commented on #64162
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-10 23:17] MartinJaffer-MSFT commented on #64165
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-10 23:22] MartinJaffer-MSFT commented on #64166
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-10 23:55] virtual-amaneja opened #64168 "Screenshots for the sample output missing"
[Instead of "In the Vcenter Jupyter notebook, run the 3. ", we should simply state the script name without the number.
Goes for all the steps
We should also include the screenshots for these scripts, specially the content library]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07103f70-1c98-cc44-3613-6e510e8c6d5e
* Ver

[2020-10-10 23:55] mmacy commented on #62479
Thanks, Burton. I'll see how I can work something minimal in there. Quickstarts are intended to be more of a press-a-button-get-a-thing (i.e. download + build + run) experience as opposed to having a full discussion of the code, but if this tripped you up, it'll probably trip up others, too.

I'll add the `endpoints.MapControllerRoute` call that currently exists in the sample to the code snippet,

[2020-10-10 23:57] virtual-amaneja opened #64169 "Express Route circuit auth keys should be hidden"
[Please use the screenshot in step 4 as an example, but hide the auth keys from the screenshot]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d5c367-daee-c478-27e0-8364daa2e6a9
* Version Independent ID: ce716555-599c-2adb-fd29-fdab8aa8d497
* Content: [Migration Phase 1. Establish network connectivity - Azure VMWare

[2020-10-11 00:02] virtual-amaneja opened #64170 "Replace "Vcenter" with "vCenter" in migration guide"
[Replace "Vcenter" with "vCenter" in migration guide]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6433f10-c7a9-13c7-75b7-b2137ed5d245
* Version Independent ID: d91bdf2c-c9fb-ab60-ca4f-76d64a9a75a4
* Content: [Migration phase 2 - Discovery and functional assessment - Azure VMWare Solution](https://review.docs.micros

[2020-10-11 00:54] umarhussain88 commented on #37403
Hi @jaspkaur28 is there any update on this?

[2020-10-11 01:33] shortpatti commented on #64170
#please-close

"Vcenter" in this context is the naming convention of the folder on Jupyter.

[2020-10-11 01:33] #64170 closed

[2020-10-11 01:40] shortpatti commented on #64168
#please-close

Review comments are being made to a Word doc since this is not going to be a public-facing document.

[2020-10-11 01:40] #64168 closed

[2020-10-11 01:41] shortpatti commented on #64169
#please-close

This is a request to goes against the quality review team.  Since this is not a public-facing document, comments and suggestions must be made in the Word document provided to the team for review.

[2020-10-11 01:41] #64169 closed

[2020-10-11 04:00] clintonwford opened #64172 "Missing link to the Delta Lake docs"
Hi, could we add a link from the [What is Azure Databricks?](https://docs.microsoft.com/en-us/azure/databricks/scenarios/what-is-azure-databricks) doc to the [Delta Lake](https://docs.microsoft.com/en-us/azure/databricks/delta/) docs? Since the [Photon announcement at Ignite](https://techcommunity.microsoft.com/t5/analytics-on-azure/turbocharge-azure-databricks-with-photon-powered-delta-engine/ba-

[2020-10-11 04:09] AnuragSharma-MSFT commented on #64167
@Norrch2 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-11 04:15] AnuragSharma-MSFT commented on #63839
@dnblankedelman Thank you for making the changes.

@RicardoNiepel We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-11 04:15] #63839 closed

[2020-10-11 05:16] kudlatiger opened #64173 "How can I keep multiple Virtual machines behind APIM in this architetcure?"
I have virtual machine with IIS, which has multiple application running at different port.

Web Application : runs at 80
API : runs at 9100

Now I want to expose web application to customer through app gateway and expose API to internal users through APIM.

Will references architecture help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-10-11 07:17] Logan-V commented on #64061
Hi Winston,

Thank you for checking on this. As you suggested I checked the extension status and there is no issue in the extension status.

[cid:image001.png@01D69FCC.37D4DC50]

Regards,
Loganathan V
From: Winston Howard <notifications@github.com>
Sent: Sunday, October 11, 2020 2:29 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Loganathan V <Loganathan.V@lntinfotech.com>; Me

[2020-10-11 07:21] katz opened #64174 "B2C: JWT token issuer example is not aligned with description"
The description says `The Name attribute of the Protocol element needs to be set to None. `
But, in the example of a technical profile for JwtIssuer in the page says  `<Protocol Name="OpenIdConnect" />`
It should be  `<Protocol Name="None" />`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56f5d39a-868b-52a8-8f8c-3a2c3

[2020-10-11 07:42] venkateshkuppusamy opened #64175 "Tried this exercise. Could not test the load balancer. The public ip of load balancer is not reachabel."
[Enter feedback here]

Tried this exercise. Could not test load balancer. The public IP of load balancer is not reachable.

Environment used. Executed the scripts from Window 10 using Azure cli. Advice on trouble shooting this exercise.
Azure cli                       2.12.1
core                              2.12.1
telemetry                      1.0.6

---
#### Document Details

⚠ *Do not edit thi

[2020-10-11 08:28] tshaiman opened #64177 "Missing Role Assignment explanations + Tutorial"
[Enter feedback here]
It is mentioned in this page that several roles needs to be defined on the vm such as reader role ,etc.
but there are not explanations on the commands , CLI , or steps to do in order to define those roles.

General feedback : Bastion is very important topic but in the tutorial section there is no "from A-to-Z" guide on how to create
it and the VM in order to make everything w

[2020-10-11 08:34] kunamneni117 opened #64178 "Error linking with Git repo Azure devops : Unexpected character ('<' (code 60)) expected a valid value (number, String, array, object, 'true', 'false' or 'null')?"
Following the instructions provided above, I seem to be unable to link the Azure DevOps repository to the Azure Databricks notebook. Once I hit save, the link fails immediately and provides something about and Error while synching git history. When I attempt to create a new branch off of master and hit save I get the following output:

Error committing to Git: Unexpected character ('<' (code 60)):

[2020-10-11 09:09] JAI2436 opened #64179 "I have launched one AKS but i need to launch it with RHEL 8 as Host."
I have launched one AKS but i need to launch it with RHEL 8 as Host. is that possible ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID: e3fc3851-ddc4-d26c-251d-6ae53d714081
* Content: [Frequently asked questions for Azure Kubernetes Service (AKS) - Azure Kub

[2020-10-11 09:59] dannyb648 commented on #64105
https://github.com/MicrosoftDocs/azure-docs/pull/64108 PR to resolve this here

[2020-10-11 10:27] dcurwin commented on #64164
#reassign:ajithkr-ms

[2020-10-11 10:31] dcurwin commented on #63876
#reassign:adityabalaji-msft

[2020-10-11 11:51] yoelhor commented on #64174
Thank you for bringing this to our attention.The doc will be updated in the next business day.

[2020-10-11 12:39] takekazuomi opened #64181 "template reference document has not been updated"
This page sample template used api version 'virtualNetworkLinks 2020-01-01'  and 'privateDnsZoneGroups 2020-06-01'. those api version is not documented in template reference.

- https://docs.microsoft.com/en-us/azure/templates/microsoft.network/privatednszones
- https://docs.microsoft.com/en-us/azure/templates/microsoft.network/privatednszones/virtualnetworklinks
- https://docs.microsoft.com/en-us

[2020-10-11 13:47] AnuragSharma-MSFT commented on #64178
@kunamneni117 Thanks for reaching out to us. Could you please provide us the link of the document you have been following?

[2020-10-11 13:49] AnuragSharma-MSFT commented on #64172
@clintonwford Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-11 13:52] AnuragSharma-MSFT commented on #64173
@kudlatiger Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-11 13:54] ajithkr-ms commented on #64164
There is no option in the UI to see the vault that the agent is registered to. The registry keys where the information is present can be directly queried using powershell though.

$conf = (Get-ItemProperty "Registry::HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows Azure Backup\Config")
$vaultURI = "/subscriptions/{0}/resourceGroups/{1},providers/{2}/{3}/{4}" -f $conf.SubscriptionId,$conf.ResourceGro

[2020-10-11 14:31] plamber commented on #63857
Hi all,
I tried again today and a consent dialog popped up before up that was not present before. I was able to grant the permissions to the app and my organization was available in the dropdown. Not sure what changed but it works now.

Thank you anyway for the help

[2020-10-11 14:31] #63857 closed

[2020-10-11 14:35] yoelhor commented on #64100
Thank you for bringing this to our attention. Both the display name and the description are **not** shown to the user. I have created a pull request to update the doc accordingly.

[2020-10-11 14:40] kunamneni117 commented on #64178
I dig deep on the issue and came across the same issue opened some time ago and closed now which highlights both the azure DevOps and azure data bricks should be created with the same account(Azure DevOps should be linked to the same Tenant with which Azure Databricks created) at organization setting.

Then only we can able to use Azure DevOps Git repo with data bricks.

As of now this is the only

[2020-10-11 14:45] yoelhor commented on #64073
Sounds like you use a single page application or a mobile app that use authorization code with PKCE.
The PKCE is an extension to the regular OAuth2 Authorization Code flow. It's the same authorization flow but includes the PKCE elements in the authorization and token requests. A mobile or SPA app generates a cryptographically random key called a **code verifier**. Then from the code verifier gener

[2020-10-11 14:52] lishuo18 opened #64185 "Not sure the traffic will be routed as intended."
In step 5, the indirect VNETs (vnet 1 and 2) are peered to VWAN Hub. If this is the case, I wonder why traffic from on-prem branch towards these VNETs (1 or 2) will go thru the NVA VNET first, as the Hub has directly peering with them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e325cfee-623d-c62f-4eb2-b43d1569a9d7

[2020-10-11 15:19] BillGatesIII opened #64186 "Link to localization of UI elements points to page about Azure MFA, not about a phone factor technical profile"
In this sentence, the link under the word 'localized' refers to a page about Azure MFA, not about a phone factor technical profile.

UI elements
The phone factor authentication page user interface elements can be localized.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5173ffe-41ca-249e-4331-ca29a5146a40
* Version In

[2020-10-11 15:40] shawnjburke commented on #56275
For History, let's point out that YOU CAN DO THIS.   You are choosing not to.  We are engineers.  We put men on the moon before we even had a real digital infrastructure.  We could keep a list of shortcodes updated if we wanted to.  Now I'm not mad at anyone; I too understand the complexities of work to be done at a giant organization.   Let's just note it's a choice.  Your Microsoft; there are to

[2020-10-11 15:46] yoelhor commented on #64044
To use this functionality you need to configure the **Require ID Token in logout requests**. Your feedback is very well taken and the document will be updated with the guidance in the next couple of days. Please check the doc later this week.

[2020-10-11 16:16] yoelhor commented on #64018
Sorry, but, I'm not sure I really got you. The email address is provided by the user, verify by the user and return back to the journey to create the account in the directory, or reset the password. Could you tell more about the business requirement? What do you try to achieve?

[2020-10-11 16:38] KrishnaG-MSFT commented on #64168
@shortpatti Thanks for the clarification provided.

[2020-10-11 16:39] KrishnaG-MSFT commented on #64170
@shortpatti Thanks for the clarification provided.

[2020-10-11 16:41] KrishnaG-MSFT commented on #64169
@shortpatti Thanks for the clarification provided.

[2020-10-11 17:50] mbanck opened #64188 "Clarify role handling"
I just learned about this, which sounds like a great addition to Azure managed Postgres. I read through this, but maybe I missed it, so here are some points I found missing/confusing:

1. (cosmetic) the text says DMS is available from version 10, but one of the screenshots mention a 9.6 instance as source.

2. It's unclear how database users/groups/roles are migrated; that is not part of the `pg_d

[2020-10-11 18:04] AnuragSharma-MSFT commented on #64175
@venkateshkuppusamy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-11 18:05] AnuragSharma-MSFT commented on #64177
@tshaiman Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-11 18:06] AnuragSharma-MSFT commented on #64179
@JAI2436 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-11 18:07] AnuragSharma-MSFT commented on #64188
@mbanck Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-11 18:08] AnuragSharma-MSFT commented on #64181
@takekazuomi Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-11 18:09] AnuragSharma-MSFT commented on #64185
@lishuo18 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-11 18:10] AnuragSharma-MSFT commented on #64186
@BillGatesIII Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-11 18:22] koneni opened #64189 "Incorrect Image: Create virtual machine scale set"
Hi there, Please update the image on the section for 'Create virtual machine scale set'.

At least update the current document (With a Note:) about the features which are in Preview, so that customers are not confused.

When I try to create the VM Scale Set, the experience is totally different.

Below is the one which I don't see on the documentation section of '[Create virtual machine scale set](

[2020-10-11 18:28] peterpro commented on #32421
I was need to install some other libs. My final list is:
[code]

[2020-10-11 19:24] RyanHill-MSFT commented on #47611
@gfaraj For now, this is the best place due to the visibility from the community.

[2020-10-11 19:32] RyanHill-MSFT commented on #63691
@PaulARoy you can post any questions to https://docs.microsoft.com/answers. Use the tags azure-webapps and azure-webapps-authentication for Apple Sign-in.

[2020-10-11 19:57] fmms opened #64190 "Connect through Proxy with Azure Databricks Connector"
Hi,

as described in #56891 I created a file `microsoft.sparkodbc.ini` in `C:\Program Files\Microsoft Power BI Desktop\bin\ODBC Drivers\Simba Spark ODBC Driver\microsoft.sparkodbc.ini` under the assumption that the approach is similar for the new Databricks connector as to the old spark connector:

[code]

However, when trying to connect I get:
![image](https://user-images.githubusercontent.com/90

[2020-10-11 20:06] fmms commented on #56891
Unfortunately this does not work for me at the moment, I get with the spark connector and with the databricks conenctor the following error message:
![image](https://user-images.githubusercontent.com/908734/95688933-ddc95700-0c0d-11eb-91cc-0113437e3f9f.png)

Any idea how to solve that?

@sarathsasidharan did you ever see that?

[2020-10-11 20:08] psmanhas commented on #64011
@techiechap Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-10-11 20:08] #64011 closed

[2020-10-11 20:28] fmms commented on #64190
This is solved by changing the character set of the above file to UTF8.

[2020-10-11 20:32] tedvanderveen commented on #52718
@michalmar I'm running into a similar exceptions. Locally I can run the custom deserializer just fine. Did you manage to get your custom deserializer running in an SA job? If so, can you please share how?

[2020-10-11 21:09] tedvanderveen opened #64191 "Missing details about deploying dependent assemblies to Stream Analytics."
The custom Protobuf deserializer we developed works fine locally, but when deployed to Azure we see errors in the logs, like the one below.

Can you provide additional documentation and guidelines about deploying custom deserializers to Azure Stream Analytics, especially around deploying dependent assemblies or Nuget packages?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-10-11 21:42] TheLogan opened #64192 "Needs JS example"
Generally well written, but I'm doing my project in TS, and well the example is in C#, which is rather different from C# xD
I'd have been happy to find some examples in JS in the code section of the guide :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02f19f0c-f14b-bac9-3706-93c888eb3bb2
* Version Independent ID: ed

[2020-10-11 22:35] jeevansd commented on #26476
@gergelyszabo94 and @bladegery We have already implemented this feature in our plugin. Now when you force the SSO to users by default the page will redirect the users to Azure AD for authentication. For admins to by pass the force login we have provide another URL which you can use to update the SSO settings.

[2020-10-11 22:56] gergelyszabo94 commented on #26476
@jeevansd Thanks, I am not with that company anymore though.

[2020-10-11 23:51] adderrrallll opened #64194 "_;linux-"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fcc8492-4e08-56e3-75c4-3b24a8ee3b53
* Version Independent ID: 1418a67f-031d-c1f6-735b-f75b1f3a3ec6
* Content: [Use proximity placement groups - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/proximity-placement-

[2020-10-12 00:32] WinstonHoward-MSFT commented on #64061
Since your not having any issues with the extension status it would be best to open a support case. I can generate a free support case for you if you send an email to Azcommunity@microsoft.com with subject 'Attn:Winston' along with the link/url of this post and your subscription ID. Then a support technician can help you resolve this issue.

[2020-10-12 00:47] johanburati opened #64196 "nobarrier option for XFS filesystem has been depreciated"
**nobarrier** option for XFS filesystem has been depreciated since kernel version **4.13**, would need amendment to below recommendation:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7792d5a-de76-c48a-0c8d-46b3e918a503
* Version Independent ID: 23b37b12-4a16-d108-2705-2d96ceb484c8
* Content: [Optimize your Linux VM

[2020-10-12 02:29] VikasPullagura-MSFT commented on #64194
@adderrrallll

Can you please provide more detail.
As the scope here is to improve the documentation please share more details so that we can address gaps and issues with the documentation.

[2020-10-12 02:37] VikasPullagura-MSFT commented on #64189
@koneni
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-12 02:37] VikasPullagura-MSFT commented on #64189
@ju-shim
Can you please check and add your comments on this doc update request as applicable.

[2020-10-12 02:38] #63885 closed

[2020-10-12 02:40] VikasPullagura-MSFT commented on #64196
@johanburati
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-12 02:40] VikasPullagura-MSFT commented on #64196
@RicksterCDN
Can you please check and add your comments on this doc update request as applicable.

[2020-10-12 02:46] SadiqhAhmed-MSFT commented on #64192
@TheLogan Thanks for the feedback. We will share this with the content owner further.

[2020-10-12 02:54] SadiqhAhmed-MSFT commented on #64191
@tedvanderveen Thanks for the feedback. We will review this with the content owner and update as appropriate.

[2020-10-12 02:57] SadiqhAhmed-MSFT commented on #64190
@fmms Thanks for the feedback. We will review this with the content owner and update as appropriate.

[2020-10-12 04:22] SnehaAgrawal-MSFT commented on #63929
@jessejiang0214 Thanks for the valuable feedback! Its now updated.

[2020-10-12 04:24] SnehaAgrawal-MSFT commented on #63930
@hawkj99 Thanks for the feedback! The PR has been created and it will merge soon.

[2020-10-12 04:24] #63930 closed

[2020-10-12 04:32] SwathiDhanwada-MSFT commented on #63794
Assigning to content author @MGoedtel for his inputs

[2020-10-12 04:32] MicrosoftGuyJFlo commented on #63954
Yes as long as you didn't remove the password provider. You can use SSPR to reset your password then sign in and change your Windows Hello for Business PIN or update your biometric

[2020-10-12 04:32] MicrosoftGuyJFlo commented on #63954
#please-close

[2020-10-12 04:32] #63954 closed

[2020-10-12 04:33] SwathiDhanwada-MSFT commented on #64028
@simonzhaoms Did you get chance to review my previous comment ? Let me know if you have any queries related to it.

[2020-10-12 04:34] SwathiDhanwada-MSFT commented on #62449
@jorgecotillo Is the fix deployed yet ? Kindly provide latest update on the issue.

[2020-10-12 04:38] shashishailaj commented on #63956
@brebant Could you please provide more details as requested ?

[2020-10-12 04:41] VikasPullagura-MSFT commented on #64179
@JAI2436 No, choosing the Host OS to RHEL is not possible as AKS is a fully managed service.

[2020-10-12 04:41] VikasPullagura-MSFT commented on #64179
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-10-12 04:41] #64179 closed

[2020-10-12 04:42] shashishailaj commented on #63931
@himanshukgit As we have not received any response from your side we will now be closing this issue. If you are still facing this issue, please send us an email on azcommunity[at]microsoft[dot]com referencing this issue with a subject line "ATTN shashi" and we will help you further on this.

Thank you.

[2020-10-12 04:42] #63931 closed

[2020-10-12 04:43] AnuragSharma-MSFT commented on #64154
@stevefan1999-personal This is being assigned to the content author to evaluate and update as appropriate

[2020-10-12 04:48] SnehaAgrawal-MSFT commented on #63976
@sjosyula3 Thanks again for the feedback! You may provide run.py and it will always take precedent.   Lacking of, it is first alphabetically.

[2020-10-12 05:18] SnehaAgrawal-MSFT commented on #64079
@Amos-Matthew Thanks for asking question! Looking to your screenshot it seems you are using Powershell.
When you click on Azure Cloud Shell icon. You will have a choice then to choose between PowerShell or Bash. As the document mentions you need to use Bash.

![image](https://user-images.githubusercontent.com/46553948/95707856-5bc24800-0c78-11eb-8e1c-33d5cc2b997c.png)

Also, this is whole sample s

[2020-10-12 05:21] Console32 commented on #63951
@AjayKumar-MSFT Thanks for investigating we dropped the Idea of using a managed identity to authenticate the AppService against the AzureFunction and just use a Function Key for authentication

[2020-10-12 05:21] #63951 closed

[2020-10-12 05:27] CHEEKATLAPRADEEP-MSFT commented on #64190
@fmms  Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-10-12 05:27] #64190 closed

[2020-10-12 05:49] HarithaMaddi-MSFT commented on #64172
@mamccrea - Can you please take a look and do the needful. Thanks!

[2020-10-12 06:23] v-lyivan commented on #64018
Let's say the user is already created in the directory(already registered).
And they attempt to login, they provide their email address and the next step is the email verification.
Should they provide their email address to which the email verification code to be sent or is it returned back and autofilled in the read-only form?

[2020-10-12 06:46] RohitMungi-MSFT commented on #64192
@TheLogan We would request our content team to add more samples on other languages. You can use the JS SDK [document ](https://docs.microsoft.com/en-us/javascript/api/microsoft-cognitiveservices-speech-sdk/keywordrecognitionmodel?view=azure-node-latest)to lookup the usage of keyword recognizer in this scenario.

[2020-10-12 06:58] papadi opened #64199 ""Export an Azure Cosmos container to a JSON file" example is wrong"
"Export an Azure Cosmos container to a JSON file" example should not have "CollectionThroughput" in the end

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-588e-01ff-6d1c-234b8e51d550
* Version Independent ID: 27873c08-b6cc-a52f-f277-ff9818a5e4d2
* Content: [Tutorial: Database migration tool for Azure Cosmos DB

[2020-10-12 07:13] AnuragSharma-MSFT commented on #64199
@papadi Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-12 07:17] AnuragSharma-MSFT commented on #64127
@ketaanhshah This is being assigned to the content author to evaluate and update as appropriate

[2020-10-12 07:20] MinaPiao opened #64200 "how does CX get updated that when they can deploy VMSS on dedicated host ? or how to check progress?"
Noted the current process that VM Scale Set on Azure Dedicated Hosts - Public Preview  please submit the request in https://forms.microsoft.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR_k_xYgD42BNtONp93QP6YRURVpTMEFNUTlLM0FVUkJST0RWN0hMQlY3Ry4u

once the submit done, pls let us know how to trace the progress or how does CX get updated that when they can deploy VMSS on dedicated host ? we wi

[2020-10-12 07:44] AmitavaHazra commented on #64020
@MicrosoftGuyJFlo , Can you also please help me over here.

[2020-10-12 07:46] AmitavaHazra commented on #61501
@MicrosoftGuyJFlo  can you please tell me what is session time out for Myapps portal in azure ad. It will be really helpful if you can share steps for configuring session time out for Myapps portal.

[2020-10-12 07:48] WenJason opened #64201 "AAD Token Post url Advice."
As we can see, the url is "https://login.microsoftonline.com/:tenantId/oauth2/token" in the [**Get Azure AD Token**](https://docs.microsoft.com/en-us/azure/media-services/latest/stream-files-tutorial-with-rest#get-azure-ad-token) part of the page. However, the url used in the [**GitHub repository**](https://github.com/Azure-Samples/media-services-v3-rest-postman/blob/master/Postman/Media%20Service

[2020-10-12 07:55] dotbalo commented on #62037
I deployed ingress v0.40.2 version using helm, and it can be used normally without deleting ValidatingWebhookConfiguration. At present, I have tested on k8s 1.17 1.18 1.19, all of which can be used normally, but the Pod of the ingress controller cannot be deployed on the master node.

[2020-10-12 07:59] evertonmc opened #64202 "Built-In pgBouncer documentation"
Does this mean, that built-it pgBouncer is available for all other configurations? Where is the documentation about it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34a3729f-51e0-5f10-122d-ad3961a1d83a
* Version Independent ID: a713725b-7212-0cd0-2ad4-3e2210af4c5d
* Content: [Limits - Azure Database for PostgreSQL -

[2020-10-12 08:14] TheLogan commented on #64192
I just discovered that there's a really good reason that it doesn't have examples for JS.
Apparently parts aren't implemented yet, for example, loading the table file is not implemented yet, so documented examples wouldn't work yet. But perhaps that should be added as a comment to the article, that it only works with C# (and from the next update with Python too)

[2020-10-12 08:20] shakirshakeelzargar opened #64203 "Install Hive ODBC driver on Azure Function App in App service Plan"
Hi,
I want to install ODBC Hive Driver on Azure Function app Deployed in App service Plan.

[2020-10-12 08:23] SnehaAgrawal-MSFT commented on #64062
@mheisenberg Thanks again for the feedback! We can change default idle time of the load balancer by using the Set-AzureLoadBalancedEndpoint cmdlet with IdleTimeoutInMinutes parameter.

Refer to https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure.service/set-azureloadbalancedendpoint?view=azuresmps-4.0.0

[2020-10-12 08:25] SnehaAgrawal-MSFT commented on #64201
@WenJason Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-12 08:31] AnuragSharma-MSFT commented on #64202
@evertonmc Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-12 08:33] AnuragSharma-MSFT commented on #64203
@shakirshakeelzargar Thanks for reaching out. GitHub forum is primarily for document related issue. Could you help us in posting the link of document that you followed for this issue?

[2020-10-12 08:38] VadimBurshtyn commented on #64100
Thanks for clarification!

In this case, can you please suggest a way to display a message to the user during specific journey step other then adding additional "Paragraph" claim type?

[2020-10-12 08:40] StChrist-MSFT opened #64205 "Access Denied when using Microsoft Best Practices"
Hi There,

When using Microsoft Best practices that state the any given user/ entity that has access to Azure Resources it should ONLY have **_Contributor_** access to the Resource Group (RG) that they should actually work on, NOT directly at Subscription level.

If you implement this and then try to share a Dashboard you receive an Access Denied when trying to share it... It would be nice with a

[2020-10-12 08:40] drfbwilliams commented on #29721
Visual Studio 2019 v 16.7.5 - this is still missing!!

Please provide a package installer for this. Waiting for another (and another and another) release is not appropriate.

Many thanks,

[2020-10-12 08:49] MayankBargali-MSFT commented on #64119
@beren912000 Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-10-12 09:01] shakirshakeelzargar commented on #64203
@AnuragSharma-MSFT I did not find any document for How to install Hive ODBC Drivers on Function App. I just came across two Stackoverflow posts stating, this is not possible. For installing Custom Drivers, we need to use VM's.
https://stackoverflow.com/questions/47155223/install-odbc-driver-to-azure-app-service
https://stackoverflow.com/questions/37441052/odbc-or-oledb-database-drivers-under-azure

[2020-10-12 09:26] GitaraniSharma-MSFT commented on #64086
@qliu95114 , following up to check if you have any update on this thread. Please let us know if you want any specific changes to the doc.

[2020-10-12 09:29] AnuragSharma-MSFT commented on #64203
@shakirshakeelzargar Thanks for the response. As this is basically a technical query, I would recommend you to post his issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) or [StackOverflow](https://stackoverflow.com/questions/ask) for better visibility and it would reach to people who can really provide their valuable inputs that could help you.

Doing this on th

[2020-10-12 09:30] #64203 closed

[2020-10-12 09:34] leifcr commented on #50407
@mimckitt Still an issue, tested today.

[2020-10-12 09:38] Trundlore commented on #64115
this is the part that confuses me as these two statements seem to contradict each other:

- "they can be connected at the same time, and they can use different authentication methods and other VPN configuration settings, as appropriate"
- "the Always On VPN connection cannot be both at once as they are mutually opposite of each other i.e., one connects to specified VPN services before sign in of u

[2020-10-12 09:42] frank-fischer-by commented on #64044
Thanks for the answer.
I found [this information for user flows](https://docs.microsoft.com/en-us/azure/active-directory-b2c/session-behavior#configure-the-properties) and [a matching directive in custom policies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/relyingparty#singlesignon).

Just to ensure I understand that correctly: This makes it mandatory for _any_ logout request on a

[2020-10-12 09:48] shashishailaj commented on #64153
@samrui Yes you require to have all these root certificates added to the trusted stores. For requests which do not use the the designated store on a device and use their own store like JKS (Java key store in case of java programs) you would need to add these certificates to the respective stores .

The Root certs are needed for certificate chain verification and must be present in the trusted root

[2020-10-12 09:51] glennolazo opened #64208 "Can't retrieve chat logs field (Question, Answer, Score) from traces customDimensions field"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-10-12 09:55] wanglijun378617 opened #64209 "Need do role assignment for AGIC client id to make the AGIC add-on work"
Hi team,

When I follow the doc to enable AGIC add-on for existing AKS cluster, it will get below error log in ingress-appgw-deployment-xxx pod:

E1012 04:56:22.238888       1 client.go:170] Code="ErrorApplicationGatewayForbidden" Message="Unexpected status code '403' while performing a GET on Application Gateway. You can use 'az role assignment create --role Reader --scope /subscriptions/807023b0

[2020-10-12 09:56] glennolazo commented on #64208
Hi can I ask why the query result not showing the question, answer and score when I used this query?

requests
| where url endswith "generateAnswer"
| project timestamp, id, url, resultCode, duration, performanceBucket
| parse kind = regex url with *"(?i)knowledgebases/"KbId"/generateAnswer"
| join kind= inner (
traces | extend id = operation_ParentId
) on id
| extend question = tostring(customDim

[2020-10-12 10:05] samrui commented on #64153
@shashishailaj  The description is very clarified,  though it's a little trouble. Thanks.

[2020-10-12 10:24] ambreenhussain1 commented on #53008
@Rockjesse was your problem resolved? because I am having the same issue

[2020-10-12 10:52] yoelhor commented on #64186
Thanks for the feedback, I'm updating the doc.

[2020-10-12 10:54] dvd95 opened #64210 "Error while hitting login URL in IFrame with common endpoint but working fine with tenant specific endpoint"
Hi,
We are trying OAuth2.0 for login. While login the endpoint that we are using are as follows,
https://login.microsoftonline.com/{tenant}/oauth2/v2.0/authorize
https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token

We are trying to hit the login URL in IFrame, if we replace the {tenant} is replaced by 'common' it's giving error as 'X-Frame-Options' is set to 'deny'.

But it's working fine

[2020-10-12 10:56] yoelhor commented on #64018
In the sign-**in** flow, there is no email validation. The user provides the username (email address) and password and log-in.
If a registered users tries to sign-**up** again, Azure B2C sends a verification code, and then only after the email is verified, Azure AD B2C presents the error message (to avoid email harvesting attack)

[2020-10-12 11:02] marinnedea opened #64211 "Missing information"
Hi team,

In this page you mention ([this section](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/configure-lvm?toc=/azure/virtual-machines/linux/toc.json#linear-vs-striped-logical-volumes)):

"_This document will describe how to combine several data disks into a single volume group, and then create a striped logical volume._ "

But you only explain how to create a linear LVM, not a

[2020-10-12 11:33] VikasPullagura-MSFT commented on #64211
@marinnedea
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-12 11:34] VikasPullagura-MSFT commented on #64211
@gbowerman
Can you please check and add your comments on this doc update request as applicable.

[2020-10-12 11:35] VikasPullagura-MSFT commented on #64200
@MinaPiao
Thanks for your Question! We are currently investigating and will get back on this.

[2020-10-12 11:36] jd1984 opened #64212 "Require one of the selected controls vs. Require all the selected controls"
[Enter feedback here]
Is there any reason why Scenario 3 says 'Require one of the selected controls'? when Scenario 1 and 2 say 'Require all the selected controls'? Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14348ba7-48f0-1862-ebec-0fc3640e587d
* Version Independent ID: 8188cee4-3f28-6014-f3be-1ee9e9b183b6
*

[2020-10-12 11:41] kailasandhale commented on #60167
@KrishnaG-MSFT @bwren @ktoliver @bwren @DavidCBerry13 Guys this is really a bad experience. I know everyone has priorities, but keeping something hanging for 2 months and not even replying does not seem professional.

[2020-10-12 11:44] dmulder commented on #64149
@SAPDanJoe thanks for your comment! I'll work on updating the document for command line join. Meanwhile, this document can help point you in the right direction: https://www.suse.com/support/kb/doc/?id=000018831

[2020-10-12 11:53] NavtejSaini-MSFT commented on #64106
@irsubasi  Changes have been merged and will be live in maximum 24 hours. Thank you for your feedback.

[2020-10-12 11:53] #64106 closed

[2020-10-12 11:55] souravmishra-msft commented on #64020
Hello @AmitavaHazra, I apologize for the delay in ,my response. It took me some time to respond as I was trying to test the same. What I found out is, if I am setting "All Apps" in the CA policy then I am able to configure the session timeout and it works as it Post the session timeout time I set i.e 1 hr I was asked to log in.
But somehow I failed to figure out the exact application to block in t

[2020-10-12 11:58] Rockjesse commented on #53008
Hi, I have not resolved this issue, I guess it is because my windows version is Win7 but Microsoft Azure AI only support the version high than Win8.

[2020-10-12 11:59] Jeej opened #64213 "Feature availability"
Hi,

Perhaps it is my lack of understanding English, but on the page the first note specifies:
`This feature is available in all Azure regions where Azure Database for MySQL supports "General Purpose" and "Memory Optimized" pricing tiers.`

When you scroll down to the limitations, the following is written:
[code]

Based on the first note I would expect that the feature is available in all regions

[2020-10-12 12:02] MGoedtel commented on #63794
Reassigning to #assign @Bwren who is responsible for the container-related content now (i.e. Container monitoring solution and AzMon for containers).

[2020-10-12 12:05] juho-hanhimaki opened #64214 "Encryption at host for North Europe"
Hi,

It seems the availability of **Encryption at host** feature is limited to some US regions. Are there any plans to bring this feature to North Europe region in near future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade067f1-3f3e-73de-0321-bb8d07147cd3
* Version Independent ID: e8dc38c4-0114-b7c2-887f-e1d281020

[2020-10-12 12:08] amanmcse commented on #64210
@dvd95 Have you checked this thread: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1269 which is for the same issue?

[2020-10-12 12:14] NavtejSaini-MSFT commented on #63989
@yegu-ms We are assigning this issue to you for further help and assitance.

[2020-10-12 12:16] rallets commented on #64131
Another thing: it's worth to mention that in **Module 6: Custom Policies 2 – REST APIs**, editing the xml "**TrustFrameworkExtensions.xml**", the block **ClaimsSchema** inside **BuildingBlocks** MUST BE in the beginning, otherwise an "invalid xml format exception" will be trown trying the upload (due to the schema).

[2020-10-12 12:23] ambreenhussain1 commented on #53008
Thanks for your reply :)

[2020-10-12 12:40] priyankareddy20 opened #64215 "https://docs.microsoft.com/en-us/azure/security-center/security-center-troubleshooting-guide Agent not responsive or missing ID"
[Enter feedback here]
 Information provided in the redirected link is not correct.  https://github.com/MicrosoftDocs/azure-docs/blob/8c53ac4371d482eda3d85819a4fb8dac09996a89/articles/log-analytics/log-analytics-azure-vm-extension.md#troubleshooting-windows-virtual-machines  :Open task scheduler and find the update_azureoperationalinsight_agent_heartbeat task-- **No such path found**

Check the hea

[2020-10-12 12:46] eosho opened #64216 "Advisor cost recommendation on VMs in an availability set"
Hi all,

Wanted to see if Advisor provides cost (resize or shutdown) recommendations for virtual machines in an availability set. I am working on automation to auto resize VMs based on the recommendations and wanted to see if availability sets are included.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac2bfa05-6828-6

[2020-10-12 12:48] bdschaap commented on #63817
Thank you for the information.  I would suggest updating the documentation to provide some of the details you listed.  The docs currently state that the values are between 0 and 100.

From: BharathNimmala-MSFT [mailto:notifications@github.com]
Sent: Saturday, October 10, 2020 2:43 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Brian Schaap <bschaap@hchb.com>; Mention <mention@

[2020-10-12 13:06] AnuragSharma-MSFT commented on #64213
@Jeej Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-12 13:11] Mahesh-MSFT opened #64217 "How to integrate AVS with an existing hub vnet with gateway subnet?"
An existing hub virtual network will have a pre-existing gateway subnet.

Guidance in [Planning the Azure VMware Solution deployment](https://docs.microsoft.com/en-us/azure/azure-vmware/production-ready-deployment-steps) has a following note.

Considering note about choosing a vnet without any pre-existing gateway, how a vnet hub (with an pre-existing gateway) will be integrated with AVS at deploy

[2020-10-12 13:12] rallets commented on #64131
Also, in the same step, the REST API validation is not working:
`The claims exchange 'ValidateStoreMembershipNumber' specified in step '2' returned HTTP error response with Code 'BadRequest' and Reason 'Bad Request'.`
I have also tried to set
`<Item Key="IncludeClaimResolvingInClaimsHandling">true</Item>`
in the `TechnicalProfile` > `Metadata` after the key `SendClaimsIn`

[2020-10-12 13:19] difatkulbayanova opened #64218 "Documentation outdated - not covering private link for Web App ( already GA )"
This documentation is not covering private link GA and its features with Web App - please add latest update and add diagrams

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae743313-9367-b465-e31a-5beae33018d1
* Version Independent ID: c0cd348d-764a-572b-d900-ff0cffe12a31
* Content: [Networking features - Azure App Serv

[2020-10-12 13:22] SatishBoddu-MSFT commented on #63812
Hello @boazeg
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-10-12 13:22] #63812 closed

[2020-10-12 14:12] AmitavaHazra commented on #64020
@souravmishra-msft , If I understood correctly currently there is no way to configure session time out for Myapps portal.

Could you please clarify me below points.

1. Then how long one can be remain logged in a session in Myapps portal after successful authentication.
2. Is there any configuration available for the above. I am not getting into sign in frequency in CAP. I am trying to figure out

[2020-10-12 14:17] mmacy commented on #62418
Requesting this one be closed out, @RayGHeld. If you feel this issue as been closed prematurely, however, let me know with an @-mention. Thanks. #please-close.

[2020-10-12 14:17] #62418 closed

[2020-10-12 14:36] Mahesh-MSFT opened #64222 "Azure Bastion for AVS VMs?"
Can Azure Bastion be used for connecting to AVS VMs?

If not, should [Jumpbox and Azure Bastion](https://docs.microsoft.com/en-us/azure/azure-vmware/concepts-hub-and-spoke#jumpbox-and-azure-bastion) section get rid of Azure Bastion references for clarity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0737988-cef2-484

[2020-10-12 14:37] #64174 closed

[2020-10-12 14:39] NavtejSaini-MSFT commented on #64133
@jaredmoo Please provide guidance regarding the step mentioned and help with the correct usage.
@CamyDee We have assigned it to our doc author for further review.

[2020-10-12 14:40] SnehaAgrawal-MSFT commented on #64218
@difatkulbayanova Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-12 14:42] munkii opened #64223 "Confused by documentation on why solution is recommended"
The article and approach looks to be exactly what we need but this line confuses me

"_This tutorial shows how to automate the periodic rotation of secrets for databases and services that use two sets of authentication credentials._"

It seems to be saying that this approach is only a valid approach when you are currently using "two sets of authentication credentials". What is meant by "two sets o

[2020-10-12 14:45] #64100 closed

[2020-10-12 14:57] shashishailaj commented on #64212
@jd1984 Thank you for your feedback . We will investigate and update the thread.

[2020-10-12 15:05] shashishailaj commented on #64215
@priyankareddy20 Thank you for your feedback . We will investigate and update the thread.

[2020-10-12 15:05] luuk-codebeez commented on #63994
@psmanhas hi this is a technical issue that is triaged as a document update request. I think an evaluation of the issue needs to be assigned to the technical Azure team. We are also affected by this issue. This affects alerting build on top of the analytics workspace.

Alternatively, what would be a better place to open this issue?

[2020-10-12 15:07] #64186 closed

[2020-10-12 15:09] rallets commented on #64131
Also, in the next step "Modify the profile edit policy to return the user store membership date", the "TrustFrameworkExtensions.xml" has a missing authentication mode value for the TechnicalProfile with Id "ObtainStoreMembershipDate".
[code]

Without this tag the upload of the file "ProfileEdit.xml" will fail due to
[code]

[2020-10-12 15:15] shortpatti commented on #64222
#assign @shortpatti

[2020-10-12 15:17] v-lyivan commented on #64018
Thank you very much for your feedback!

Could you please confirm if the email verification can be implemented during the sign-in flow?
Since I'm looking to authenticate already created users with sendGrid.

[2020-10-12 15:17] shortpatti commented on #64217
#assign @shortpatti

[2020-10-12 15:22] yajnesh opened #64228 "undefined reference to STATUS_SUCCEEDED"
[Enter feedback here]
###
The quick start guide forgot to mention this line.
`const STATUS_SUCCEEDED = "succeeded"; `
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef96562d-099d-9400-c88c-ba0439e136a6
* Version Independent ID: 049314ea-8e68-50ee-3469-4d39c801fc54
* Content: [Quickstart: Computer Vision client library -

[2020-10-12 15:41] CHDAFNI-MSFT commented on #44849
It's still an issue as documented, I feel just blanketly closing it and asking to open a new issue is just for stats purposes and not for the true noted issue.

[2020-10-12 15:43] grumm90 opened #64231 "cant websudo after log in"
After we've installed and configured the app, we encountered an unpleasant issue. We cannot force Azure AD Login, because we are not able to access to any admin platform. The reason why we are not able to turn on the force Azure AD option because we have a secure administrator session (websudo) in our Jira. MS app always redirects back to the reply URL.
Jira saml sso MS app

[2020-10-12 15:44] CHDAFNI-MSFT opened #64232 "Windows / Linux - Swap disk - Tooling diff - Repeat issue 44849"
The Windows version lists PowerShell - https://docs.microsoft.com/en-us/azure/virtual-machines/windows/os-disk-swap - whereas the Linux version of the doc says CLI. If the procedure is the same, could the same guidance be provided on both pages?

See MS Blog guidance as well showing the multiple methods - which aren't listed in the Docs - [Ms Blog showing multiple methods not mentioned in either d

[2020-10-12 15:46] grumm90 opened #64233 "Multinode with loadbalance proxy cant reach nodes"
Hi,

After installing Azure AD saml sso we can no reach the nodes as it redirects every time to the main URL and can't log in directly to nodes.
Jira saml sso MS app

[2020-10-12 15:47] mimckitt commented on #44849
We are trying to better prioritize the doc updates. With hundreds of open issues it is difficult to determine what we should focus on. This suggestion for example is one that has been open for a very long time and has not been completed. Meaning we have had higher priority updates and did not find this suggestion to have enough impact to consider doing ahead of the others. All in all, this suggest

[2020-10-12 15:53] CHDAFNI-MSFT commented on #44849
^ Understood, I ended up still opening another issue as requested prior to this message, but it is just documentation enhancement in the end. I agree with you in that it is not priority by any means.

[2020-10-12 16:01] JamesTran-MSFT commented on #64223
@munkii
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-12 16:11] valentijnscholten opened #64234 "How to enable access panel for guest users"
Hi,

We're using the access panel and it works OK. But for guest users the panel stays empty. It says "No apps found" and "This is unavailable due to your account permissions and company's settings". How can we enable apps to show up for guest users?
We have multiple apps which are accessible for everyone and guest users can use them with Azure SSO if they browse directly to the app. So everything

[2020-10-12 16:17] gvashishtha commented on #64078
Also, just to confirm: are you also not OK with suppressing these warnings on just these lines, rather than in the whole file? https://stackoverflow.com/questions/28829236/is-it-possible-to-ignore-one-single-specific-line-with-pylint

[2020-10-12 16:20] lfittl-msft commented on #64202
@evertonmc Documentation about this will be added soon - for now, a quick summary if you want to try it out:

1. Go to Server Parameters page, set "pgbouncer.enabled" to "on"
2. After you've enabled this, you will see additional pgbouncer options on the parameters page (max_client_conn, etc)
3. You can connect to pgbouncer on port 6432

Overall, pgbouncer is recommended to be used for reducing the

[2020-10-12 16:28] shortpatti commented on #60622
#please-close

updated content

[2020-10-12 16:28] #60622 closed

[2020-10-12 16:30] mimckitt commented on #58853
Looks like a note was added in regards to this already.

#please-close

[2020-10-12 16:30] b-juche commented on #63692
Hi @samueljamkhandi-MSFT - thanks again for this feedback.  I consulted our (NetApp) support engineers and lead engineer.  They are of the opinion that currently we should not add the content you suggested.  Here's the specific input from our engineer (Rakesh Kumar <Rakesh.Kumar2@netapp.com> ):

[code]

Please let us know if you'd like to discuss this case further.  You can contact our lead engine

[2020-10-12 16:31] mimckitt commented on #59221
Thank you for the feedback. At this point in time we have opted to leave the doc as is. However this feedback item will remain on the document so if others also have difficulty we can always reconsider.

#please-close

[2020-10-12 16:31] #59221 closed

[2020-10-12 16:35] BharathNimmala-MSFT commented on #63871
@MatthewPMatherne7 Not sure we understand your query, can you please elaborate so that we can assist you accordingly.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-10-12 16:35] #63871 closed

[2020-10-12 16:35] #56256 closed

[2020-10-12 16:38] mimckitt commented on #59350
Thanks for the feedback related to this document.

The goal of that sentence in the doc is to limit permissions. Giving permissions to the subscription scope provides more access than the minimum. At this point in time we are opting to leave the doc as it.

#please-close

[2020-10-12 16:38] #59350 closed

[2020-10-12 16:39] mimckitt commented on #59528
I believe we have fixed this. Regardless, we have some changes coming up that will address the sizing docs.

#please-close

[2020-10-12 16:39] kasunsjc opened #64235 "Give access to Power BI for stream analytics from Power BI Portal"
[Enter feedback here]
As mentioned in the documentation It says to give the stream analytics name and grant the permission. But Power BI wont allow giving permission unless it's an email

![image](https://user-images.githubusercontent.com/16514562/95770797-94453e80-0cd7-11eb-8c26-ac820bf40a06.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-10-12 16:39] #59528 closed

[2020-10-12 16:41] mimckitt commented on #60235
We have some changes coming to the availability docs in the coming months and this has been added to the backlog. So at this point in time we are leaving the doc as is. But updates will be coming.

#please-close

[2020-10-12 16:41] #60235 closed

[2020-10-12 16:41] WinstonHoward-MSFT commented on #64066
Hi @skyfader ,

The doc outlines best practices [here](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/co-location#best-practices) which outlines:

The doc also recommends using proximity placement groups with [accelerated networking](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/co-location#best-practices) to further reduce latency. Given this I believe the doc provi

[2020-10-12 16:41] #64066 closed

[2020-10-12 16:41] mimckitt commented on #60237
Thanks for the feedback on this doc.

At this point in time we are opting to leave the document as is.

#please-close

[2020-10-12 16:41] #60237 closed

[2020-10-12 16:42] rickardliljeberg opened #64236 "Information about how to allow provisioning for multiple tenants"
It would be much appreciated if this article (and the reference code) could be updated to also include examples of how to work with multiple Azure AD tenants and secret tokens

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 271dc426-fb47-7441-d627-ec11f8c7a6ea
* Version Independent ID: 4cb8bfc8-4748-e501-425a-e4c2da0f5f

[2020-10-12 16:43] mimckitt commented on #61443
updated the doc.

Changes will go live after a few hours.

#please-close

[2020-10-12 16:43] #61443 closed

[2020-10-12 16:44] mimckitt commented on #60602
This doc has been updated since this issue was opened.

Appears to be more clear.

#please-close

[2020-10-12 16:44] #60602 closed

[2020-10-12 16:46] IngridAtMicrosoft commented on #64201
I am reviewing the suggestion.

[2020-10-12 16:46] samueljamkhandi-MSFT commented on #63692
thank you @b-juche ..... I have sent an email to you, would you please check and help me with your findings

[2020-10-12 16:46] Mahesh-MSFT opened #64237 "DR across 2 AVS instances?"
This document covers DR process set up between on-prem VMware site and an AVS private clouds instance.

Is this guidance applicable between 2 AVS private clouds instances (in the same region or across regions)?
If yes, how will 2 AVS private clouds instances be connected(e.g. Vnet peering, expressroute, etc.) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-10-12 16:47] mimckitt commented on #62256
Answer was provided.

#please-close

[2020-10-12 16:47] #62256 closed

[2020-10-12 16:52] JonCole commented on #63844
Whether it is appropriate to share a single redis instance across different parts of your application depends on your application needs.  You have to ask yourself questions like these:

- Are there security concerns if system X reads/writes data produced by system Y?
- Do I trust other parts of the system not to corrupt the data?
- Is there a chance that two systems will use the same key naming sc

[2020-10-12 16:53] mimckitt commented on #62783
Fixed. Changes should be live after a few hours.

#please-close

[2020-10-12 16:53] #62783 closed

[2020-10-12 16:56] mimckitt commented on #63225
Added this information to the note where we mention premium storage is not supported.

Changes should go live after a few hours.

#please-close

[2020-10-12 16:56] #63225 closed

[2020-10-12 16:56] IngridAtMicrosoft commented on #64201
Thank you for finding that mistake.  The change is in process.
#please-close

[2020-10-12 16:56] #64201 closed

[2020-10-12 16:56] shortpatti commented on #64237
#assign @shortpatti

[2020-10-12 17:08] b-juche commented on #63692
Thanks, @samueljamkhandi-MSFT.  I connected you with the lead engineers via email for further discussion.

[2020-10-12 17:11] romero126 commented on #34832
I want to poke at this. It appears it still doesn't isn't fixed after over a year of being closed.

Documentation needs to be clear since visibility into the WebHookData isn't always easy to interactively work with. So with improperly documented data the user experience becomes less than ideal.

[2020-10-12 17:17] marcominerva opened #64238 "Missing reference to Custom Keyword feature"
The documentation doesn't mention at all the ability to use a Custom Keyword to activate Custom Commands interaction. I think It should be reported, as it is a very important feature, together with a reference to the Custom Keywords Settings page of the Custom Commands portal (and how it works).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-10-12 17:20] changov opened #64239 "It's not specified whether messages are delivered in order"
This looks like the most appropriate documentation page for such discussion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92671e7c-03e5-591d-7fe2-7c565220242a
* Version Independent ID: 99bdee93-1a4d-d10c-8d90-a58a84bb6187
* Content: [Azure Event Grid delivery and retry - Azure Event Grid](https://docs.microsoft.com/e

[2020-10-12 17:21] sebansal commented on #51022
Added a new document to capture Key vault rest API error codes, will continue adding more here
https://docs.microsoft.com/en-us/azure/key-vault/general/common-error-codes

[2020-10-12 17:21] sebansal commented on #51022
#please-close

[2020-10-12 17:21] #51022 closed

[2020-10-12 17:34] souravmishra-msft commented on #64020
Hi @AmitavaHazra, yes you got my point. Currently, there is no way to just block the myApps portal using a CA policy. On the other hand, just got some more info that so options for the myApps portal in the CA policy are expected to be available soon under the public preview in the next few weeks from now. Didn't get the proper ETA for it, but it's expected soon.

For now, the session lifetime for

[2020-10-12 17:36] YutongTie-MSFT commented on #64238
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-12 17:37] helderpinto opened #64240 "Wrong command for Mobility Service Windows installation"
On step 2 of the Windows installation procedure for the Mobility Service, the command is missing a parameter. It should include the /Platform "VmWare" flag, as documented [here](https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-mobility-service-overview#install-the-mobility-service-using-command-prompt):

`UnifiedAgent.exe /Role "MS" /InstallLocation "C:\Program Files (x86)\Micr

[2020-10-12 17:37] YutongTie-MSFT commented on #64228
@yajnesh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-12 17:43] erikanderson commented on #56356
I was able to resolve by moving ScriptExecution below ContentDefinitionParameters, based on what others have said it looks like its expecting this order to be preserved:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/relyingparty#userjourneybehaviors

[2020-10-12 17:43] erikadoyle commented on #63612
@GiriB I checked with the SF team, and you can use the same steps documented here for user-assigned managed identities, provided the vmss has only a single identity. (I've updated the doc with a note.)

Assigning multiple identities to a vmss isn't a security best practice, but let me know if this is the case for you and you're blocked. (There is an undocumented way to specify a client id, however

[2020-10-12 17:44] Karishma-Tiwari-MSFT commented on #63869
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-12 17:45] #63612 closed

[2020-10-12 17:46] JamesTran-MSFT commented on #64236
@rickardliljeberg
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-12 17:49] ericsampson commented on #45672
@mimckitt why can't we just reopen this issue, instead of putting customers through the extra time of refiling a new issue?

[2020-10-12 17:50] MarileeTurscak-MSFT commented on #64234
@valentijnscholten
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-12 17:53] mimckitt commented on #45672
Due to the number of open issues we opted to remove old ones to better prioritize. Additionally, this issue was open for nearly a year and has yet to been acted upon. At this point in time there are no updates planned related to this feedback. All feedback is appreciated however not all feedback will be implemented.

[2020-10-12 17:54] yahorsi opened #64242 "Postgresql on Azure and supported versions"
Hi Guys,

Docs claims
[code]

But a current major version is already 13 and 12 is still not supported.
It would be good to know the reasons and to have a better understanding of the plans to support 12 and 13 versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c8d482-9904-74ad-b0ad-5a8fc188510d
* Version Indepen

[2020-10-12 17:57] mimckitt commented on #63584
We have a TOC rework in progress for all of Virtual Machines (including extensions). We will take this feedback into considerations.

CC @cynthn

#please-close

[2020-10-12 17:57] #63584 closed

[2020-10-12 17:59] erhopf commented on #57993
#reassign: @v-demjoh

[2020-10-12 18:00] mimckitt commented on #63619
@tgross does this doc provide you with the information you are looking for related to the IP address?

https://docs.microsoft.com/en-us/azure/virtual-network/what-is-ip-address-168-63-129-16#:~:text=129.16%20is%20a%20virtual%20public,a%20unique%20public%20IP%20address.

[2020-10-12 18:02] mimckitt commented on #63755
This was answered.

#please-close

[2020-10-12 18:02] #63755 closed

[2020-10-12 18:10] shortpatti commented on #63434
#assign @Ajayan1008

[2020-10-12 18:11] shortpatti commented on #63417
#assign @Ajayan1008

[2020-10-12 18:12] mimckitt commented on #63888
I have updated the example to use the basic sku vault so the sample works as written.

Changes should be live after a few hours.

#please-close

[2020-10-12 18:13] #63888 closed

[2020-10-12 18:14] ericsampson commented on #45672
@mimckitt how can you choose to just not properly document a parameter?

[2020-10-12 18:15] mimckitt commented on #63950
Fixed. Changes will be live after a few hours.

#please-close

[2020-10-12 18:15] #63950 closed

[2020-10-12 18:17] mimckitt commented on #64112
That is correct. I updated the document with a note mentioning this.

Changes will be live after a few hours.

#please-close

[2020-10-12 18:17] #64112 closed

[2020-10-12 18:18] yoelhor commented on #62600
Thanks for the feedback, I'm working on this doc.

[2020-10-12 18:20] VenkatGowrishankar opened #64243 "General purpose VM's and GPU's"
[Enter feedback here]
Quick question : The D series family of VM's do not support GPU's, but the edge device has GPU's. If I were to create a VM, would I not be able to leverage the GPU's?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed28939e-a880-258f-721e-bd62d062f1ba
* Version Independent ID: b9d7e05a-597f-af7d-20

[2020-10-12 18:20] #64044 closed

[2020-10-12 18:22] jlichwa commented on #61841
@TimLovellSmith , it's just mean that we not officially support it. We did not do full testing on that environment, so we can guarantee how it will work.
#please-close

[2020-10-12 18:22] #61841 closed

[2020-10-12 18:24] VenkatGowrishankar opened #64244 "Kubernetes deployment and GPU"
[Enter feedback here]
I assume that the the Kubernetes deployments creates VM's - would these still be the D series ? And if would it be possible to leverage GPU's?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed28939e-a880-258f-721e-bd62d062f1ba
* Version Independent ID: b9d7e05a-597f-af7d-208e-14affcfa390a
* Conten

[2020-10-12 18:26] dragav commented on #45672
@ericsampson I'm trying to understand which questions remain unaddressed in this thread. We provided the documentation for [certificate linking](https://docs.microsoft.com/en-us/azure/service-fabric/cluster-security-certificate-management#certificate-linking-explained), the [Linux doc](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/key-vault-linux) as well as the [Windows count

[2020-10-12 18:30] trrwilson commented on #50841
This looks very well-addressed to me and a quick glance through the original docs looks very clean with the cross-linking to samples. Especially given how out-of-date this is at this point, I think we can safely close this and track any future feedback as a new issue. Thanks! #please-close

[2020-10-12 18:30] #50841 closed

[2020-10-12 18:30] ericsampson commented on #45672
@dragav that material from your first link is in the service fabric documentation. There's approximately zero chance that someone using the Windows KeyVault VM extension on non-SF standalone Windows VMs would find it there. What I'd recommend is that material from the SF documentation should be added to the extension doc page. Or single-sourced and linked to on both the extension and SF docs pages

[2020-10-12 18:33] shailendrabirthare opened #64246 "Driver applicability for Azure PaaS"
The page does not talk about using the drivers on Azure PaaS services e.g. Web API app.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff86e045-4810-78b5-6646-534621f207b0
* Version Independent ID: 8b23634b-12d2-ffec-47c4-391a6eec04f8
* Content: [JDBC and ODBC drivers and configuration parameters

[2020-10-12 18:34] jaspkaur28 commented on #37403
@umarhussain88  : We are planning to announce Private Preview for Python 3 cloud jobs by next week . Initially it would be supported in West Central US and Japan East and incrementally move to other regions . Please reach out to AzCommunity@microsoft.com by next week for the Private Preview details.

[2020-10-12 18:40] nmadan235 opened #64247 "Missing steps for xfs"
Customer had xfs file systems but the document only provides steps for ext4. Customer had to run #xfs_growfs /... instead of #resize2fs /dev/...

Please include steps for xfs like in the below page (step-7)

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/resize-os-disk-gpt-partition

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-10-12 18:40] NavtejSaini-MSFT commented on #64242
@yahorsi We are checking this and will get back to you.

[2020-10-12 18:41] dragav commented on #45672
That is a fair point, though the SF doc (to the paragraph) is the first result I get on Bing searching for "keyvault vm extension certificate linking".

I had already forwarded this thread (internally) to the owning team, I would expect them to follow up in the next day or so.

[2020-10-12 18:42] valentijnscholten commented on #64234
Turns out that you MUST enable user assignment for the app to appear on the dashboard. So if you want to SHOW the app you have to LIMIT access by enableing user assignment. Then you have to create a group. And you have to put members into that group and you need to maintain the group. Just to allow global access to an app. I solved it by using a dynamic group which makes everyong with "accountEnab

[2020-10-12 18:43] tgross commented on #63619
No, sorry. That doc explains what the IP address of the IMDS is. I'm looking for a section to be added to the doc that explains the _content_ of that IMDS endpoint, as it pertains to the host's IP addresses (as noted above).

[2020-10-12 18:43] varunsharmas commented on #62912
The answer did not cover the question..
for the single server / hyperscale PG DB... there is not enough documentation on what happens when a AZ thats hosting the service fails.. region is still up; will the PG service come up in another AZ?

[2020-10-12 18:46] tgross commented on #63619
To clarify, the example given shows a path like `/metadata/instance/network/interface/0/ipv4/ipAddress/0/publicIpAddress` but the table above it suggests paths like `/metadata/instance/network/ipv4/publicIpAddress`, without any explanation of the `interface` path component or what the `0` means.

(I was able to figure it out by experimentation, but it's not in the document.)

[2020-10-12 18:50] varunsharmas opened #64249 "For the single server / hyperscale PG DB..."
There is not enough documentation on what happens when a AZ that is hosting the service fails..region is still up; will the PG service come up in another AZ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb2cae6-197f-94b4-53ba-12f99dff5a4e
* Version Independent ID: 259006d1-760e-b2fa-d0bb-6e952b951e3a
* Content: [Bus

[2020-10-12 18:51] #62543 closed

[2020-10-12 18:53] PrometheusRising1 opened #64250 "Note on Supported Generations"
Hi,

Can you note the version of Azure SQL Database where support for AAD started?  E.g. "All versions past version 11 support AAD?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55747c48-5caa-3234-f978-a667aed13352
* Version Independent ID: c18a4db6-71e3-a539-1e7f-2f49662f4bbc
* Content: [Azure Active Directory authe

[2020-10-12 18:59] albecker1 commented on #63584
I don't believe I am the right person to provide guidance, I have unassigned this to me

[2020-10-12 19:07] npherson opened #64252 "Fix the steps for determining version"
"If you choose to install and use PowerShell locally, this tutorial requires Azure PowerShell module version 1.0.0 or later. Type $PSVersionTable.PSVersion to find the version. "

$PSVersionTable.PSVersion doesn't show the version of Azure PowerShell module... I think maybe they had meant to also say there is a minimum version of PowerShell. If not, then they can get rid of the sentence about $PSV

[2020-10-12 19:09] nadomokos opened #64253 "Autoscaling Prevents Stops"
Stopping a cluster does not work when autoscaling is enabled.

Can we update the limitations on this document to reflect that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07b13b8-6b8b-57f9-7fb3-361329af08be
* Version Independent ID: d3c6ae95-654f-be23-5dcd-3c3146d5cf63
* Content: [Start and Stop an Azure Kubernetes

[2020-10-12 19:09] Mike-Ubezzi-MSFT commented on #64205
@StChrist-MSFT Thank you for taking the time to dogfood this functionality and detailing the issue here...to be resolved. This is being evaluated by the owning content team and an applicable update will be made.

[2020-10-12 19:12] palma21 commented on #64253
It's already updated. Thanks

[2020-10-12 19:15] normesta commented on #62061
#please-close

[2020-10-12 19:15] #62061 closed

[2020-10-12 19:21] MarileeTurscak-MSFT commented on #64252
@npherson
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-12 19:26] JamesTran-MSFT commented on #64148
@timomta
Thanks for your doc enhancement suggestions! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-12 19:31] WinstonHoward-MSFT commented on #64061
Hi @Logan-V,

Closing this issue while you work with a support tech.

[2020-10-12 19:31] #64061 closed

[2020-10-12 19:33] sameer-kumar commented on #63844
@JonCole very useful info to start with.
For point#3 above _"Is there a chance that two systems will use the same key naming schema and thus stomp on each other accidentally?_", I'm thinking of using **RedisCacheOptions.InstanceName** property to solve that.
Another property/feature I couldn't wrap my head around is **Databases**. Do I need to think about database id or is this something azure/red

[2020-10-12 19:37] Mike-Ubezzi-MSFT commented on #64249
@varunsharmas Thank you for bringing this to our attention, As you can see, both singe server and hyperscale have separate documentation pertaining to business continuity and high availability and so, I am going to make this a single server specific issue under the specific document that speaks to this subject matter. The hyperscale (related) document: [High availability in Azure Database for Post

[2020-10-12 19:46] Mike-Ubezzi-MSFT commented on #64249
@varunsharmas [Continuing the conversation ...] The solution here is a new Azure Database for PostgreSQL service that addresses your concerns. Please see the Flexible server (service) : [Overview of business continuity with Azure Database for PostgreSQL - Flexible Server](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-business-continuity)

As for the single server busin

[2020-10-12 19:53] varunsharmas commented on #64249
Hi Mike,

Flexible server does not provide for horizontal scaling i.e it does not support read replicas.
I read that it provides the capability of logical replication; trying to understand if I can create a parallel instance using the same (for reads)

[2020-10-12 19:56] AjayKumar-MSFT commented on #63979
Alex, We have raised a PR for the author to review, after validation and merge the document will reflect the appropriate/suggested changes. Thanks again for your feedback.

[2020-10-12 20:02] AjayKumar-MSFT commented on #64124
William and Hans, We have raised a PR for the author to review, after validation and merge, the doc would reflect appropriate changes. Thanks again for taking time to share your feedback.

[2020-10-12 20:03] WinstonHoward-MSFT commented on #64097
Hi @jimbo8098 ,

Thanks for the question. I was able to complete all steps of the doc on Windows Server 2019 without using an explicit path. For example I did:

`cd %windir%\system32\sysprep`

which yielded:

[code]

Because the doc works as intended I will now close this issue. Please feel free to leave a comment below with any additional feedback you have. Have a good one.

[2020-10-12 20:03] #64097 closed

[2020-10-12 20:17] AjayKumar-MSFT commented on #64036
Erik, We have raised a PR for the author to review, after validation and merge, the doc would reflect appropriate changes. Thanks again for taking time to share your feedback.

[2020-10-12 20:25] sr-msft commented on #64249
Hello @varunsharmas , thanks for reaching out.

For Azure PG - Single Server, it does not provide zone redundancy. If the AZ is down, the service would be down. Read replicas can be used for DR purposes - though the replica may lag primary due to Async replication.

Regarding Flexible server (in preview) and read replicas, we are looking into adding the capability. You may use logical replication,

[2020-10-12 20:26] AjayKumar-MSFT commented on #64021
Paul, We have raised a PR for the author to review, after validation and PR merge, the doc would reflect appropriate changes. Thanks again for taking time to share your feedback.

[2020-10-12 20:27] sebansal commented on #63406
Checking to see if the changes are live and if this request could be archived?

[2020-10-12 20:29] SAPDanJoe commented on #64149
Thanks @dmulder - I have tried following that article, even with the configuration files gathered from the yast-based domain join; but it seems they don't touch quite the same configurations, and I'm left without the ability to connect with domain users.

I think that the 1st part of _this_ article is what's working for me (configuring the sssd via yast) and perhaps that other article focuses on t

[2020-10-12 20:33] varunsharmas commented on #64249
Thanks Sridhar!
I am looking at both.. availability across zones & capabilities to scale
reads out to reduce bottlenecks in larger DBs.
(QQ.. the 3 copies of Single/HyperScale.. are they all on the same AZ??)

On Mon, 12 Oct 2020 at 15:25, sr-msft <notifications@github.com> wrote:

[2020-10-12 20:35] varunsharmas commented on #64249
Also, the red replicas; are they also in the same AZ (if within region) or are spread across AZs

[2020-10-12 20:36] arv100kri commented on #63520
@ignaciofls - You are trying to create an indexer with a skillset (that utilizes outbound private endpoints) for a basic SKU service.
According to our [documentation](https://docs.microsoft.com/azure/search/search-indexer-howto-access-private#troubleshooting-issues) (@MarkHeff we already link to the limits and quotas page there) we list that this is an unsupported scenario.

[2020-10-12 20:40] JamesTran-MSFT commented on #64223
@munkii
Thank you for the post!

The term "two sets of authentication credentials" is referring to services which require more than one authentication credential, such as a storage account connection string with access key, or cases where a password is used instead of an access key.

![image](https://user-images.githubusercontent.com/36619112/95788408-57098e00-0c90-11eb-82de-0c1963dfc636.png)

If

[2020-10-12 20:49] MashaMSFT commented on #63062
Hi @hiten004 , thanks for bringing this to our attention! I am updating the documentation to fix this and it should be live next week.

I am going to close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for improving our docs and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2020-10-12 20:49] #63062 closed

[2020-10-12 20:51] msmimart commented on #53606
@AmitavaHazra - Thank you for your feedback. Hopefully this sample (also linked under "Next steps" in the article) was helpful. I'll close this issue for now but let us know if you have further feedback on the documentation. #please-close

[2020-10-12 20:52] #53606 closed

[2020-10-12 20:52] BharathNimmala-MSFT commented on #64240
@helderpinto Thank you for bringing this to our notice, we will review the feedback and get back to you at the earliest.

[2020-10-12 20:55] JamesTran-MSFT commented on #64140
@SHAGGAR
Thank you for your time and patience!

This documentation is the only place where you can find the mapping of skuPartName to display name. As stated within the article:
![image](https://user-images.githubusercontent.com/36619112/95789337-317d8400-0c92-11eb-8fe4-8a854a017db4.png)
If you'd like to create a feature request you can do so using our [User Voice forum](https://feedback.azure.com

[2020-10-12 20:55] #64140 closed

[2020-10-12 20:56] msmimart commented on #53226
@lasyan3 - Thank you for your feedback, hopefully you were able to resolve the issue or these replies help. I'll go ahead and close this for now, but let us know if you have further feedback on the docs. #please-close

[2020-10-12 20:56] #53226 closed

[2020-10-12 20:58] MarileeTurscak-MSFT commented on #64208
@glennolazo please create an issue linking the exact document you are following, or create a new question on Q&A. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2020-10-12 20:58] #64208 closed

[2020-10-12 21:00] msmimart commented on #54403
Thanks for your feedback @leon8154. Please also see [Error codes: Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/error-codes). Hopefully this helps - I'll go ahead and close this issue for now but let us know if you have other feedback on the docs. #please-close

[2020-10-12 21:04] msmimart commented on #53601
@Riff451 thanks for sharing your feedback on this article. I'll go ahead and close this issue for now, but as we have additional information or guidance to share we'll update the article. #please-close

[2020-10-12 21:04] #53601 closed

[2020-10-12 21:08] cedarbaum commented on #64235
Hi @kasunsjc, can you please confirm that your Power BI tenant allows service principal access? See this article for more details: https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-service-principal#step-3---enable-the-power-bi-service-admin-settings

This setting is required only if you wish to authorize the ASA job via the UI. You should still be able to authorize it using Power

[2020-10-12 21:09] krhynerson commented on #20737
Below are PowerShell commands to update the existing profile and delete it.

New-AzNetworkProfile -ResourceGroupName [rg name] -Location [location] -name [existing profile name]
Remove-AzNetworkProfile -ResourceGroupName [rg name] -name [existing profile name]

[2020-10-12 21:10] msmimart commented on #53654
@henriquebelotto - Thank you for your feedback, hopefully you were able to resolve the issue or these replies help. I'll go ahead and close this for now, but let us know if you have further feedback on the docs. #please-close

[2020-10-12 21:10] #53654 closed

[2020-10-12 21:11] msmimart commented on #57846
@jarekkoziol, thank you for your feedback. Hopefully you were able to resolve the issue or these replies help. I'll go ahead and close this for now, but let us know if you have further feedback on the docs. #please-close

[2020-10-12 21:11] #57846 closed

[2020-10-12 21:13] JonCole commented on #63844
Yes, I believe InstanceName does translate over to a key-prefix, so that should help with clashing namespaces, assuming all systems use such unique key prefix.

Redis Databases are just a logical data separation concept in Redis and can also be used for this purpose.  The data still resides in the same Redis instance but is logically separated.  The client tells the server which logical database t

[2020-10-12 21:14] Mike-Ubezzi-MSFT commented on #64209
@wanglijun378617 Thank you making us aware of this issue. I have assigned this to an engineer who supports this service and will be able to assist you.

[2020-10-12 21:14] megaalc commented on #53475
looks like they silently added a page to WVD doco https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-desktop/disaster-recovery.md (https://docs.microsoft.com/en-us/azure/virtual-desktop/disaster-recovery)

[2020-10-12 21:18] MarileeTurscak-MSFT commented on #64252
I tested in my own PowerShell and and believe it needs to be $PSVersionTable instead. I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/133555

@msmbaldwin please confirm.

[2020-10-12 21:18] #64252 closed

[2020-10-12 21:19] Mike-Ubezzi-MSFT commented on #64214
Hi, @juho-hanhimaki. I am going to have an engineer who supports this service provide a direct response to your inquiry. Thank you for taking the time to reach out and inquire.

[2020-10-12 21:19] thebluenova opened #64257 "Requires more documentation on the Selector attribute"
Document requires a significant expansion on the Selector attribute or needs to link to another page that thoroughly documents the various matchVariables and their Selectors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f69ca730-5af2-a52f-8017-c9a38a45b60e
* Version Independent ID: f5f6bdec-fb46-6b69-48c1-599e34f7acf

[2020-10-12 21:22] Mike-Ubezzi-MSFT commented on #64216
Hi, @eosho. I am going to have an engineer who supports this service provide a direct reply. Thank you for taking the time to reach out and inquire and this functionality.

[2020-10-12 21:26] saket-ms commented on #64216
Availability sets are included but we doesn't do the check on burstable SKUs, basically  the target SKU for availability set recos (for a VM in the set) might be incorrect if the availability set doesn't have the target SKU. THe resize recommendation is still correct but customers has to downsize to some other SKU.

[2020-10-12 21:33] sameer-kumar commented on #63844
Navigating your link I also found [this](https://redislabs.com/blog/benchmark-shared-vs-dedicated-redis-instances/) which recommends not to use databases but instances. In other words, each of my app needs separate instance for each environment? As I mentioned in my original post, for my 200 apps with 3 dedicated environments, I would end up with 600 Azure Redis Instances. My boss would never appr

[2020-10-12 21:41] Karishma-Tiwari-MSFT commented on #64222
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-12 21:42] Karishma-Tiwari-MSFT commented on #64237
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-12 21:45] Mike-Ubezzi-MSFT commented on #64217
Hi, @Mahesh-MSFT. Thank you for taking the time to detail your inquiry. It is currently assigned to the content owner who will directly engage your issue.

[2020-10-12 21:46] dpolivy opened #64258 "Managed Identities on Storage accounts are incompatible with Data Flows when Soft Delete is enabled"
I found this out the hard way, and spent countless hours trying to figure this out. It would be helpful if the documentation included some mention of the fact that if you're using Managed Identities for a StorageV2 account that has Soft Delete enabled for blob storage, this will not work with an ADF Data Flow.

You'll end up with an error message similar to this:

[code]

Best place to document th

[2020-10-12 21:50] kingces95 opened #64260 "Expect `az container exec` to present a remote prompt, actually just returns"
Expect the walkthrough to work, but actually the first instance of the following command fails to behave as described. Expect the command to present a remote prompt, but actually does nothing and simply returns to the local prompt.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4bb823e-1c72-5777-bdd6-e89942c4f

[2020-10-12 21:50] alkohli commented on #60387
#please-close

[2020-10-12 21:50] #60387 closed

[2020-10-12 21:53] sr-msft commented on #64249
Regarding 3 copies, I presume you are referring to the storage. They are confined to an AZ.

Regarding your read replicas question,

- With single server, you can choose the same region, but not the AZ. So, the replica can land in the same AZ or a different AZ within the same region. You can also choose a different region for DR.

- For Flexible server, since it currently allows choosing AZ for th

[2020-10-12 21:54] Karishma-Tiwari-MSFT commented on #64232
@cynthn This is the same issue as https://github.com/MicrosoftDocs/azure-docs/issues/44849
I understand that this update may take longer, so please let me know if this is already in the backlog items and we can close this GitHub issue.

[2020-10-12 21:55] Karishma-Tiwari-MSFT commented on #64247
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-12 21:57] Mike-Ubezzi-MSFT commented on #64231
Hi, @grumm90. Thank you for reaching out with your issue but, I need some additional information to move this along. Is this an Azure App Service Linux or Windows (platform) service feature? Thank you for any additional information pertaining to your issue.

[2020-10-12 21:59] JamesTran-MSFT commented on #64073
@jakehockey10
I just wanted to check in and see if you had a chance to review Yoel's post.

If you have any other questions, please let us know.
Thank you for your time and patience throughout this issue.

[2020-10-12 22:00] KumariSupriya commented on #64154
This is a known issue and we will update the public docs when we have a fix for this.

[2020-10-12 22:03] Mike-Ubezzi-MSFT commented on #64233
Hi, @grumm90. Thank you for making us aware of the issue you are experiencing. I also see that Issue #64231 is a related (?) item that you have opened. Is there a document you are referencing pertaining to configuration or implementation steps?

[2020-10-12 22:08] varunsharmas commented on #64249
Thanks for your answer; choosing the AZ would allow for planning co-location of relevant applications together in HA scenario's.. shall help both from latency & cost perspective (once Azure starts charging for inter AZ traffic)

[2020-10-12 22:09] vsriram-binary opened #64261 "Azure Policy Regulatory Compliance controls for Azure Data Lake Storage Gen2 - not working"
Hi, i am CSS dev support engineer working for a cx case.

Cx is following the below documentation - https://docs.microsoft.com/en-us/azure/storage/blobs/security-controls-policy#hipaa-hitrust-92 for setting diagnostic logs audit policy on ADLS gen2 storage account.

while using the below template , it is working for gen1 account only for the Cx, but the public documentation states that it is for G

[2020-10-12 22:11] #58406 closed

[2020-10-12 22:12] mattneerincx opened #64262 "Needs more details on impact of customer using VNET or not how this changes connectivity behavior."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Azure SQL Database Connectivity Architecture - Azure SQL Database and Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/azure

[2020-10-12 22:13] tamram commented on #49513
@brandonh-msft - Since we haven't heard back from you on this issue, we're closing it for now. Please just let us know if we can be of further assistance.

#please-close

[2020-10-12 22:13] #49513 closed

[2020-10-12 22:15] JonCole commented on #63844
Makes sense.  It is all about trade-offs and risks.  This is why there isn't specific guidance.  Some apps require complete isolation, others can tolerate minimal risk of sharing because of their app scenarios and architecture.

[2020-10-12 22:34] carbonox-infernox opened #64264 "Paas vs SaaS"
Can anyone explain to my why this is considered PaaS instead of SaaS? It's a SQL database, so that sounds like SaaS to me.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0bddbe0-47ac-3a4e-7b9c-97dde603aa2a
* Version Independent ID: 789d24eb-6070-6197-2eb3-58e339c33674
* Content: [What is the Azure SQL Database service?

[2020-10-12 22:36] msmimart commented on #64131
@rallets - Thank you so much for your valuable feedback on this course. I've passed it along to the training team for follow-up. Since we're tracking this internally, I'll go ahead and close this issue, but let us know if you have further feedback. #please-close

[2020-10-12 22:36] #64131 closed

[2020-10-12 22:39] tamram commented on #19798
#reassign: @normesta

@normesta - Can you address and close?

[2020-10-12 22:43] jlichwa commented on #64223
@munkii - i.e. Storage, EventHub, ServiceBus  supports primary/secondary access key and pattern described would work for any of those, or even SQL with 2 username/passwords sets.

There are third party services i.e Twitter, which has only one password/username per account possible, so there is other tutorial for that scenario.

[2020-10-12 22:44] tamram commented on #20736
#reassign: @normesta

@normesta - Can you address this one?

[2020-10-12 22:46] NavtejSaini-MSFT commented on #64262
@mattneerincx  We are checking this and will get back to you.

[2020-10-12 22:47] NavtejSaini-MSFT commented on #64264
@carbonox-infernox We are checking this and will get back to you.

[2020-10-12 22:49] alkohli commented on #63787
@cenkersoy Thanks for your feedback! Here are the changes in the PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/133577. When the PR is merged, the changes will go live.

[2020-10-12 22:51] #63787 closed

[2020-10-12 22:58] yinhew commented on #59716
@crevulus sorry for the late response. We will fix this in the next couple of months.

[2020-10-12 23:01] pnarsi opened #64265 "App Insights Traffic via Azure AMPL"
If I enable an AMPL on a VNET, would any telemetry data from that VNET (e.g. from AKS/ASE) flow via that AMPL endpoint to the [telemetry endpoints](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-addresses#outgoing-ports) or do I still need to whitelist these telemetry FQDN (dc.services.visualstudio.com, dc.applicationinsights.microsoft.com, etc) on my Firewall?

---
#### Document deta

[2020-10-12 23:01] joshkyh commented on #64078
Hi @gvashishtha,

Thank you for the two suggestions.

(1a) Declaring them under `if __name__ == '__main__'` doesn't work. Let's use the example variable `model`. In init(), we attempt to modify `model` = load_model(). However, the local scope of init() meant that the loaded `model` is not available for run().

(1b) I have also tried using the `nonlocal` keyword. But the nonlocal scope does not inc

[2020-10-12 23:03] alkohli commented on #64244
@VenkatGowrishankar The Kubernetes deployment creates Hyper-V VMs, not Azure VMs (D-series applies only to Azure VMs). If the device has GPU, these VMs also have GPU.

I am going to go ahead and close this one. Thanks!
#please-close

[2020-10-12 23:03] #64244 closed

[2020-10-12 23:05] Mike-Ubezzi-MSFT commented on #64239
@changov Thank you for pointing this out and making a suggestion. I will have an engineer who supports services in this area review and suggest feedback or have the content team make an enhancement to the document.

[2020-10-12 23:22] YutongTie-MSFT commented on #64238
@singhsaumya Hi, could you please check this issue and update the document with more details? Thanks.

[2020-10-12 23:24] normesta commented on #25856
Thank you for your question @ghost. Sorry it has taken so long for us to get back to you on this. Yes the owning group is always copied down from the parent. The doc does have a small section that clarifies that when the container is initially created, the owning group is set to the primary group of the user who created it.  For all instances after that (subdirectories in the root folder etc., the

[2020-10-12 23:25] normesta commented on #25856
#please-close

[2020-10-12 23:25] #25856 closed

[2020-10-12 23:25] jlichwa commented on #61839
@TimLovellSmith get and list on secrets is enough. I have added prerequisites https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/key-vault-windows#prerequisitie #please-close

[2020-10-12 23:25] #61839 closed

[2020-10-12 23:25] tamram commented on #40585
#reassign: @tamram

[2020-10-12 23:26] cfauchere opened #64266 "Outdated doc?"
This [page ](https://docs.microsoft.com/en-us/azure/key-vault/general/service-to-service-authentication) states that Microsoft.Azure.Services.AppAuthentication is no longer recommended to use. We are running through issues with AppAuthentication and managed identities (intermittent 403-Forbidden).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-10-12 23:37] KranthiPakala-MSFT commented on #64065
@DataInsightPro  Could you please share complete error message along with a screenshot?

Thank you

[2020-10-12 23:39] tamram commented on #45187
#reassign: @mhopkins-msft

[2020-10-12 23:44] KranthiPakala-MSFT commented on #64235
@kasunsjc - In addition to above inputs, this has been called out in step 2 (Create a Stream Analytics job using the Azure portal) of this document :

![image](https://user-images.githubusercontent.com/50185738/95799621-1a4a9080-0caa-11eb-95dc-72c9063fe359.png)

![image](https://user-images.githubusercontent.com/50185738/95799513-c3dd5200-0ca9-11eb-94ad-50fd2adb8248.png)

Hope this helps.

[2020-10-12 23:46] tamram commented on #52541
#reassign: @mhopkins-msft

[2020-10-12 23:47] tamram commented on #53398
#reassign: @tamram

[2020-10-12 23:55] tamram commented on #52208
#reassign: @tamram

[2020-10-12 23:56] tamram commented on #52212
#reassign: @tamram

[2020-10-12 23:59] tamram commented on #52212
@RonnieQuan - It appears that the error in the documentation has been addressed .

[2020-10-13 00:02] sr-msft commented on #64249
Got it. Thanks for sharing your requirements, @varunsharmas.

[2020-10-13 00:08] ghiden opened #64267 "voices/list endpoint only returns names"
According to the document, the voices/list endpoint returns "Name", "ShortName", "Gender", "Locale", "SampleRateHertz", and "VoiceType".

However the actual endpoint only returns a string array with just "Name" in it.

Is there any hidden query params to request all the attributes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-10-13 00:09] tamram commented on #25230
@yoyogin - The docs are accurate in this case. The Azure Storage team is looking into the discrepancy in the swagger file. I'm closing this out for now, since the documentation is not the issue, but we'll update here as we find out more from the team.

@normesta - FYI

#please-close

[2020-10-13 00:09] #25230 closed

[2020-10-13 00:10] mike-urnun-msft commented on #63810
Hello @spku1991,

Within Azure CLI itself, [there doesn't appear](https://docs.microsoft.com/en-us/cli/azure/apim/api/revision?view=azure-cli-latest) to be a dedicated command available yet for setting a current revision.  However, there is a specific Powershell cmdlet available: [Set-AzApiManagementApiRevision](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/set-azapimanagemen

[2020-10-13 00:10] #63810 closed

[2020-10-13 00:11] tamram commented on #56310
#reassign: @tamram

[2020-10-13 00:13] tamram commented on #56960
#reassign: @tamram

[2020-10-13 00:18] tamram commented on #34239
#reassign: @tamram

[2020-10-13 00:19] tamram commented on #40950
#reassign: @tamram

[2020-10-13 00:22] tamram commented on #23027
#reassign: @mhopkins-msft

[2020-10-13 00:24] tamram commented on #28565
#reassign: @mhopkins-msft

[2020-10-13 00:29] tamram commented on #32912
#reassign: @mhopkins-msft

[2020-10-13 00:45] tamram commented on #40739
@eugen-nw - Your understanding is correct, you would need to download each record and reupload with the new key. The key is never seen by the SDK or by Azure Storage, so it's not possible to rotate without downloading and reuploading.

#please-close

[2020-10-13 00:45] #40739 closed

[2020-10-13 00:46] tamram commented on #40736
@eugen-nw - Your understanding is correct.

#please-close

[2020-10-13 00:46] #40736 closed

[2020-10-13 00:49] Karishma-Tiwari-MSFT commented on #63753
You can still enable a virtual nodes under Node pools tab, while creating AKS cluster as shown below:

![image](https://user-images.githubusercontent.com/20851144/95802760-30108380-0cb3-11eb-87b8-82888e967cf6.png)

[2020-10-13 00:49] #63753 closed

[2020-10-13 00:53] tamram commented on #45791
@markmabe - Please let us know if you are still experiencing this issue. I am unable to reproduce it.

This appears to be a product issue, not a documentation issue, so I'm closing out this issue against the documentation.

#please-close

[2020-10-13 00:53] #45791 closed

[2020-10-13 00:54] tamram commented on #47896
@kaerm - These examples were updated some time ago.

#please-close

[2020-10-13 00:54] #47896 closed

[2020-10-13 00:59] Karishma-Tiwari-MSFT commented on #63767
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-13 01:03] Karishma-Tiwari-MSFT commented on #64253
Thanks @palma21
@nadomokos Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-13 01:03] #64253 closed

[2020-10-13 01:56] Ayanmullick opened #64268 "Forward credentials to another authority"
As an Azure administrator, one needs to configure single sign-on for a user logging into Azure functions to, also, authenticate to Azure SQL database for row level security. How can one capture the user credentials and pass it on to Azure SQL database for an access token from that authority?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-10-13 01:59] BharathNimmala-MSFT commented on #64265
@pnarsi Thank you for your query, we will look into it and get back to you at the earliest.

[2020-10-13 02:00] Johnvan opened #64269 "No Idea what you are talking about"
I have no idea what you are talking about or the action I am supposed to take.
My Website is http://cafewebapp300117.azurewebsites.net/ and works fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3c4368c-82a4-f82e-b1a7-41cfa694fa58
* Version Independent ID: 60a94729-02ad-0ef1-a642-63351d0171ea
* Content: [Azure TLS

[2020-10-13 02:18] cynthn commented on #64232
Nearly everything you do with an Azure VM works for both Linux and Windows. Very rarely is something OS specific (adding data disks is one example - because you have to make the OS aware of the disk and partition etc - but that is one the few exceptions).

So yes, we are actively going through all of the VMs content to make it clearer what is OS dependent and what is not. Until we get that work do

[2020-10-13 02:35] piquet-h opened #64271 "How do you enable this through ARM templates or script?"
We have the GUI description of how to make this work, but how do you do it through command line or ARM templates?
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f4-6646d076fbe4
* Content: [Static website hosting in Azure Storage](https:/

[2020-10-13 02:46] felipepessoto opened #64272 "EventHub SDK can't handle IotHub Connection String, so it doesn't support failover"
It says to use IotHub connection string when using the EventHub client, in order to have disaster recovery support:

"When receiving telemetry messages from the built-in endpoint using either the Event Hub client or event processor host, you should use the IoT hub connection string to establish the connection."

But the EventHub client doesn't support it: https://github.com/Azure/azure-sdk-for-net

[2020-10-13 02:46] DraconInteractive opened #64273 "No details on CosmosDB deletion/client setup for v3.x (Microsoft.Azure.Documents.Core)"
I have been advised by support that to set up a singleton instance to CosmosDB in v3.x, I needed to use .Core instead of .Client. The new dependency compiles correctly, however I still dont have access to the DocumentClient class. I assume that I need to use a different class to access Cosmos, but I cannot locate documentation (nor could support)

Thanks
---
#### Document Details

⚠ *Do not edit t

[2020-10-13 02:49] WenJason opened #64274 "Azure Sql CA certificate link confusion"
Hi, I'm a little confused. Is this [article](https://docs.microsoft.com/en-us/azure/azure-sql/updates/ssl-root-certificate-expiring) applicable for all Azure Cloud environment? For Azure China environment, the root certificate link is [https://dl.cacerts.digicert.com/DigiCertGlobalRootCA.crt.pem](https://dl.cacerts.digicert.com/DigiCertGlobalRootCA.crt.pem) rather than [https://www.digicert.com/CA

[2020-10-13 03:06] SadiqhAhmed-MSFT commented on #64243
@VenkatGowrishankar Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-10-13 03:07] SadiqhAhmed-MSFT commented on #64246
@shailendrabirthare Thanks for the comment. We are actively investigating and will get back to you soon.

[2020-10-13 03:19] gouthambala1 commented on #25419
Hi Manoj,

I'm trying to customize the the B2B external invite which is being sent by the MS.

Would like to have a quick call in discussing this. Can you let me know if you are available?

Thanks
Goutham

[2020-10-13 03:47] SnehaAgrawal-MSFT commented on #64266
@cfauchere Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-13 03:48] SnehaAgrawal-MSFT commented on #64268
@Ayanmullick Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-13 03:50] SnehaAgrawal-MSFT commented on #63976
@sjosyula3 We will close this out but if you feel you need more information please just let us know.

[2020-10-13 03:50] #63976 closed

[2020-10-13 03:52] SnehaAgrawal-MSFT commented on #64062
@mheisenberg We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-13 03:52] #64062 closed

[2020-10-13 03:53] SnehaAgrawal-MSFT commented on #64079
@Amos-Matthew Just checking if you have chance to see above response.

[2020-10-13 03:57] AmitavaHazra commented on #64020
@souravmishra-msft , Thanks for clarifying this. I still have few queries.

1. We sign in to myapps portal and then close the browser and reopen it. It then asks for credential. will this behavior change in IWA enabled browser and accessing portal from AD domain joined windows system (authentication method: federation with ADFS) ?
2. While logging in if I click “stay signed in “ to yes . In that c

[2020-10-13 03:57] adityabalaji-msft commented on #63876
Hi @rajkumar-munusamy - the deprecation of the AzureBackupReport event is tied to the deprecation of Azure Diagnostics mode in Diagnostics Settings. Adding @eternovsky  who might be able to provide some details on this.
At the same time, it is highly recommended to start moving to the new events at the earliest, using the instructions provided in the same article

[2020-10-13 03:59] eugen-nw commented on #40739
OK, but had this been documented anywhere?  That was the whole point of opening this ticket.

[2020-10-13 04:23] AnuragSharma-MSFT commented on #64250
@PrometheusRising1 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-13 04:25] AnuragSharma-MSFT commented on #64274
@WenJason Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-13 04:49] ram-msft commented on #64267
@ghiden Thanks for the question. We are investigating the issue and will update you shortly.

[2020-10-13 04:50] SwathiDhanwada-MSFT commented on #64028
@simonzhaoms As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-10-13 04:50] #64028 closed

[2020-10-13 04:57] shashishailaj commented on #64269
@Johnvan Thank you for your feedback . We will investigate and update the thread.

[2020-10-13 05:01] HarithaMaddi-MSFT commented on #64258
@dpolivy - Thanks for your valuable inputs. I am looking into it and will get back to you shortly.

[2020-10-13 05:04] ProVega opened #64275 "Bash script to get UUID0 does not work on Ubuntu OOTB images"
The script to mount drives is broken on a vanilla Ubuntu 18.04 LTS Azure install.

UUID0="$(blkid -s UUID -o value /dev/disk/azure/scsi1/lun0)"
UUID1="$(blkid -s UUID -o value /dev/disk/azure/scsi1/lun1)"

These both return "" because the /dev/disk/azure/scsi1/lun0 is not mapped by default.

I have to use something like this:
UUID0="$(blkid -s UUID -o value /dev/sda1)"

---
#### Document Details

[2020-10-13 05:05] AnuragSharma-MSFT commented on #64146
@jgwinner This is being assigned to the content author to evaluate and update as appropriate.

[2020-10-13 05:13] psmanhas commented on #64260
@kingces95 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-10-13 05:16] RohitMungi-MSFT commented on #64272
@felipepessoto Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-10-13 05:18] ChaitanyaNaykodi-MSFT commented on #64032
Hello @edwiles, the link provided (as shown below) in "Next steps" of the document does direct us to the link for different languages used to publish and subscribe for messages in a Topic. I am assigning this issue to the doc author to further decide on maintaining similarities between the documents mentioned above. Thank you for the feedback.
![publish](https://user-images.githubusercontent.com/6

[2020-10-13 05:25] CHEEKATLAPRADEEP-MSFT commented on #64246
@shailendrabirthare This article describes how to get JDBC and ODBC drivers and configuration parameters to connect to Azure Databricks clusters.

You can connect your favorite business intelligence (BI) tool to Azure Databricks clusters using a JDBC or ODBC driver and access data in Azure Databricks tables.

![image](https://user-images.githubusercontent.com/44426401/95818898-8678d300-0d42-11eb-8

[2020-10-13 05:27] Speedy1979 commented on #64205
Could be easily resolved with a specific RBAC or a subset of them for handling the dashboards. A "dashboard contributor" role to create/share the dashboards without requirements on subscription level access and in addition perhaps a "dashboard reader" who can only view the dashboards shared in a RG.

[2020-10-13 05:38] SumanthMarigowda-MSFT commented on #64122
@Absar629 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

If the issue is not directly related to the documentation I would recommended to post your question https://azure.microsoft.com/en-us/support/community/  We'll follo

[2020-10-13 05:38] #64122 closed

[2020-10-13 05:38] HarithaMaddi-MSFT commented on #64258
@dpolivy - I have seen that this is added to the documentation recently. Hence, closing the issue. Thanks for your contribution, please feel free to comment for further queries.

![image](https://user-images.githubusercontent.com/61235246/95819759-58948e00-0d44-11eb-8086-07928e08f62d.png)

[2020-10-13 05:38] #64258 closed

[2020-10-13 05:49] JayaChatterjee-MSFT commented on #64273
@DraconInteractive Thank you for your feedback! We will review and update as appropriate.

[2020-10-13 05:54] AnuragSharma-MSFT commented on #64199
@papadi Thanks for the valuable input to make the document correct.

We have updated the document content accordingly. The changes should be live once the PR is approved. You can review the PR meanwhile and let us know for any issue.

[2020-10-13 06:06] JackyChiou opened #64277 "When enable Service Endpoint , Can't use Visual Studio Remote Debugging feature."
[Enter feedback here]
When enable Service Endpoint , Can't use Visual Studio Remote Debugging feature.
Please add those statement here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* Content: [Azure App Service access

[2020-10-13 06:11] qliu95114 commented on #64086
Can we just remove sentence? (Instance count can vary from 1 to 125 instances.) which cause confusion. on technical side, we confirm from APPGW product team, we have at least two instances, if we do not have to expose instances concept, it's better we just remove that sentences. or replace the sentence with "Scale Unit could be 1 or 125"

[2020-10-13 06:14] axisc commented on #55919
@sidprasher,  not sure I fully follow your question.

if you mean sending Service Bus events to an Event Grid system topic for service bus, then that can be setup using the 'Events' tab on the Azure portal. That is outgoing from Service Bus so it should be unaffected.

[2020-10-13 06:23] AnuragSharma-MSFT commented on #64202
@lfittl-msft Thanks for providing the necessary information.

@evertonmc Please let us know if this helps or else we can gladly continue the discussion as needed.

[2020-10-13 06:23] nebhagat opened #64278 "signalRTrigger binding not supported in Microsoft.Azure.Functions.ExtensionBundle"
I tried using `signalRTrigger` binding in typescript azure function, I got following issue

[code]

I think it's not part of `Microsoft.Azure.Functions.ExtensionBundle` yet.
I found this PR https://github.com/Azure/azure-functions-extension-bundles/pull/32/files where this support will be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-10-13 06:24] GitaraniSharma-MSFT commented on #64086
@qliu95114 , thank you for your feedback. We have assigned this to the content owner/author for review.
@vhorne , could you please review the suggestion and provide your insights?

[2020-10-13 06:42] saimachi opened #64279 "500 Server Error while Running an Indexer through REST API"
Hello,

I am using Azure Cognitive Search for a project, and after I successfully created an indexer using the REST API, I tried to run it by sending a POST request to https://{{search-service-name}}.search.windows.net/indexers/{{indexer-name}}/run?api-version={{api-version}} (I populated these parameters correctly). Moreover, I also provided the Content-Type and api-key headers in my request. Whe

[2020-10-13 06:52] SubhashVasarapu-MSFT commented on #64024
@imtiazsajid, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-13 06:52] #64024 closed

[2020-10-13 06:54] StChrist-MSFT commented on #64205
I like the idea of a RBAC role that can be assigned, that would be nice 👍

Ps. I also tried to have an admin create the default "dashboards" RG and only and publish to that instead of a named RG gave the same result:
![image](https://user-images.githubusercontent.com/55384859/95825718-9805af00-0d31-11eb-9f34-ee97ce517222.png)

[2020-10-13 06:55] AnuragSharma-MSFT commented on #64213
@Jeej Thanks for pointing out the discrepancy in the document.

The document might have wanted to say that minimum requirement to enable this feature is in regions that support "General Purpose" and "Memory Optimized" pricing tiers, and on top it is currently supported in just those 3 regions only if these tiers are selected.

This is being assigned to the content author to evaluate and update as

[2020-10-13 06:59] rockboyfor opened #64281 "Confirm the similar typo content and `Enable replication` feature in Azure China portal(https://portal.azure.cn)"
Hi colleague,

We have found two section content need to be more clearly.  Our customer has some question about it.

First item:
Could you please help to confirm any typo in the content about the path of '+Replicate`? please refer to Image one.

Origin content:
7. In Recovery Services vaults, select Overview > ContosoVMVault > Replicated items > +Replicate.
8. In Source, select Azure.

`Image one`

[2020-10-13 07:02] jjindrich opened #64282 "Azure Function CosmosDB output binding support for updating document"
Hi, please can you clarify if is possible to update existing CosmosDB document with output binding ? Or is output binding creating new document only ?

Is there any simple way with Azure Function and CosmosDB bindings do following scenario: function to load document, make some logic and save same document (as updated version). Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-10-13 07:04] AnuragSharma-MSFT commented on #64250
@PrometheusRising1 This is being assigned to the content author to evaluate and update as appropriate

[2020-10-13 07:13] AnuragSharma-MSFT commented on #64274
@WenJason The certificate store mentioned below in the document is applicable globally:
https://www.digicert.com/CACerts/BaltimoreCyberTrustRoot.crt.pem
https://cacerts.digicert.com/DigiCertGlobalRootG2.crt.pem

However, could you please let us know the reference from where the other link was taken(https://dl.cacerts.digicert.com/DigiCertGlobalRootCA.crt.pem) and we can check further?

[2020-10-13 07:30] SnehaAgrawal-MSFT commented on #64277
@JackyChiou Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-13 07:31] SnehaAgrawal-MSFT commented on #64279
@saimachi Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-13 07:52] souravmishra-msft commented on #63602
Hello @LukeCarrier, trust you are doing great. I wanted to follow up with you regarding this thread. This issue would need some in-depth look around and for that, a screen sharing session would be best for us to analyze the issue and device the next set of actions on it. Please do drop us an email on **azcommunity[at]microsoft[dot]com** or reply to my earlier followup email that I had sent with th

[2020-10-13 07:52] #63602 closed

[2020-10-13 08:09] KrishnaG-MSFT commented on #64030
@mikolaj-sienkiewicz Verified and updated the document as required. The update should go live soon i.e., in less than 24 hours. Thanks for the feedback!

[2020-10-13 08:09] #64030 closed

[2020-10-13 08:11] MicrosoftGuyJFlo commented on #64212
@spunukol Thoughts?

[2020-10-13 08:14] MicrosoftGuyJFlo commented on #62088
@lujiangfeng666 Thoughts?

[2020-10-13 08:14] hwhasler commented on #47270
Can anyone point me in direction of documentation showing how to add multi-tenant AAD auth without having Facebook as a Social IDP. So far this is the only official docs I've found: https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant-custom?tabs=app-reg-ga

Is it possible to add multi-tenant AAD auth to the LocalAccounts template?

[2020-10-13 08:14] mjaow opened #64284 "Wrong Delimiter for in demo"
There is demo for how to collect data

inputs_dc = ModelDataCollector("best_model", designation="inputs", feature_names=["feat1", "feat2", "feat3". "feat4", "feat5", "feat6"])

it should be "," instead of "." to split feature_names, but there is one "." now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ec57fee-a0d0-c

[2020-10-13 08:21] PaulARoy commented on #64021
You're welcome!

[2020-10-13 08:22] MicrosoftGuyJFlo commented on #62683
Resolved by https://github.com/MicrosoftDocs/azure-docs/issues/62558

[2020-10-13 08:22] MicrosoftGuyJFlo commented on #62683
Linking to existing opened item in B2B docs.

[2020-10-13 08:23] MicrosoftGuyJFlo commented on #62683
#reassign @msmimart

[2020-10-13 08:43] thommck opened #64285 "More relevant info needed"
In the section https://docs.microsoft.com/en-us/azure/virtual-machines/managed-disks-overview#data-disk it states "The size of the virtual machine determines _how many data disks you can attach_ to it and the type of storage you can use to host the disks."
Can you explain what those limits are or link to the relevant doc please

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-10-13 08:48] PramodValavala-MSFT commented on #64003
@anilsoni85

Since you would usually want to authenticate users before forwarding the request to the backend, you would use this policy in the `inbound` block.

For the Developer, Basic, Standard, or Premium tiers, you need to enable it for each custom domin, like below

![image](https://user-images.githubusercontent.com/43602528/95822660-f6d72280-0d49-11eb-8d62-2902fc5893cf.png)

For the Consumpt

[2020-10-13 08:56] PramodValavala-MSFT commented on #64239
@changov Thanks for the feedback! Events are indeed delivered in order since they are delivered immediately. **But** if publish fails, it would be retried, causing out of order execution.

If order is required, it would be best to [push events to a service bus queue](https://docs.microsoft.com/en-us/azure/event-grid/handler-service-bus) and processed using [message sessions](https://docs.microsoft

[2020-10-13 08:57] sarah026 opened #64286 "clarifications"
We use "DigiCert Global Root G2 (df3c24f9bfd666761b268073fe06d1cc8d4f82a4)", will this change? And to what is it changing?

You've said "TLS certificates used by Azure services will chain up to one of the following Root CAs:" which implies that the cert I mentioned won't change, but later you said "The current CA certificates will not be revoked until February 15, 2021." which also covers the one

[2020-10-13 09:02] chrolivier opened #64287 "Missing information on configuring Issuer URL for multi-tenant scenarios"
This page does not contain adequate information for configuring an App Service app for multi-tenanted use (i.e. users being able to sign in from multiple Azure AD tenants)

The following section needs to be amended:
"Enable Azure Active Directory in your App Service app", Point no 5, Issuer URL
This should contain instructions to clear the "Issuer URL" field if you plan on using the app/function i

[2020-10-13 09:04] GrzegorzHejman commented on #47169
Any update on this?

[2020-10-13 09:04] Westmorland opened #64288 "Distance Ordering"
It's really disappointing that you cannot order by distance.

Is there any plans to add this in the future?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 883e73b5-29dd-855b-aefd-16f020edbdb0
* Version Independent ID: 9a7f6444-18a8-f68f-1d06-6555808c1252
* Content: [ST_DISTANCE in Azure Cosmos DB query language

[2020-10-13 09:06] CHEEKATLAPRADEEP-MSFT commented on #64261
@vsriram-binary  Thanks for the question! We are investigating and will update you shortly.

[2020-10-13 09:11] VikasPullagura-MSFT commented on #64275
@ProVega Thanks for sharing the feedback.

We will update the document to include these changes.

[2020-10-13 09:14] Gurpreet103 opened #64289 "Kubernetes service address range"
[Enter feedback here]
In the microsoft documentation it is written that Kubernetes service address range can be shared across multiple clusters. However it is not clear that in how many clusters it can be shared as it is not clear that how many actual service ip's are being used in each cluster out of this range. There is no calculation mentioned from the same as well, hence it is not clear if I c

[2020-10-13 09:22] PaloMraz commented on #52853
This is sad, there is still no change in the documentation concerning this issue.

[2020-10-13 09:23] SnehaAgrawal-MSFT commented on #64287
@chrolivier Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-13 09:26] PaloMraz commented on #15171
@aljo-microsoft

Do not get it from your comment. This issue closed but the documentation stil does not include declaration of the `m_dic` member...

[2020-10-13 09:26] VikasPullagura-MSFT commented on #64284
@mjaow Thanks for pointing this out. The document is updated and changes will go live soon.

[2020-10-13 09:30] grumm90 commented on #64231
Hi, we use Linux. Please let me know if you need any more details.
Regards,
Gábor

[2020-10-13 09:32] grumm90 commented on #64233
Hi, Both issue is in the same environment. Yes, we did everything according to the documentation. All other things working perfectly.
Regards,
Gábor

[2020-10-13 09:33] #64284 closed

[2020-10-13 09:48] marcominerva opened #64290 "Missing documentation about how to create Web endpoints"
In the documentation it is said that, using a Web endpoint, we can directly access the fields in the HTTP Response and, if necessary, use `WebEndpointErrorMessage` to retrieve the error:

![Documentation](https://user-images.githubusercontent.com/3522534/95844671-74e6f980-0d49-11eb-9782-d395c40d2b41.png)

However, there is no sample or explanation about how to create an endpoint (i.e. an Azure Fun

[2020-10-13 09:50] #64275 closed

[2020-10-13 09:50] VikasPullagura-MSFT commented on #64275
The document is updated.

[2020-10-13 09:57] VikasPullagura-MSFT commented on #64194
We will now close this issue. Please share the details as requested above when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion. Thanks :)

[2020-10-13 09:57] #64194 closed

[2020-10-13 10:16] AnuragSharma-MSFT commented on #64288
@Westmorland Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-13 10:42] lmqferreira commented on #43323
I have a customer that has two tenants. only in one of the tenants the option "Owners who can assign members as group owners in Azure portals" appears. What is the criteria for showing or not this setting?

[2020-10-13 10:50] vick-git opened #64291 "Get-AzStorageContainer and Get-AzDataLakeGen2ChildItem both failing for an adls gen2 account"
[Enter feedback here]

Get-AzStorageContainer and Get-AzDataLakeGen2ChildItem both failing for an adls gen2 account

Tried both in Azure Portal Powershell and Windows (7 version) Powershell.

Scripts I tried (both for adls gen2 accounts, to list containers):

**For Get-AzDataLakeGen2ChildItem**

$storageAccountName = "xxxx"
$StorageAccountKey = "xxxx"
$ctx = New-AzStorageContext –StorageAccountNam

[2020-10-13 11:02] shashishailaj commented on #64286
@sarah026 Thank you for your feedback . We will investigate and update the thread.

[2020-10-13 11:02] KrishnaG-MSFT commented on #64281
@rockboyfor Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-13 11:15] ezYakaEagle442 opened #64292 "Azure Arc Connected Kubernetes Agent Supported Hardware & Raspberry Pi ARM"
I am building a DIY nomadic Kubernetes cluster using K3S on [Raspberry Pi 4 which uses the MCM2711 System On Chip](mailto:https://www.raspberrypi.org/documentation/hardware/raspberrypi/datasheets.md) (ARM), is ARM architecture supported to run Azure Arc agent for Kubernetes ?

I have found this issue about Arc for Server showing that there is no Doc/FAQ about this : [https://github.com/MicrosoftDo

[2020-10-13 11:23] alevincenzi commented on #57689
Same problem here.

[code]

Using Azure storage explorer on ubuntu

![image](https://user-images.githubusercontent.com/8089061/95853379-9cdc5a00-0d55-11eb-99df-4f8a8519b258.png)

After connecting with connection string (iotedge and storage explorer on the same host) i get

[code]

The module logs:

[code]

Any help is appreciated :)

[2020-10-13 11:29] hisasima opened #64293 "About minimum instance."
About V2 SKU and Auto Scale, I know minimum instance 0 and 2 are same performance but those cost are different. Because minimum instance 2 needs some cost to reserve even though the number of instances is same.
I hope you add this behavior in this document as the recommendation to reduce cost.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-10-13 11:37] AjayKumar-MSFT commented on #63712
Thanks for your comment, Mikben.
andriyovchar, We will close this issue out, but if you have any questions please just let us know.  Thanks again for your feedback and using Azure Communication Services.

[2020-10-13 11:37] #63712 closed

[2020-10-13 11:47] shashishailaj commented on #64257
@thebluenova Thank you for your feedback  We will engage with the content team for review and update this thread.

[2020-10-13 11:51] shashishailaj commented on #63956
@brebant As we have not received any details from your side , we will be closing this for now. In case you are not available at the moment , we request you to either tag me or the author @memildin to your reply whenever you can and we will take it up again . alternatively you can open a new issue referencing this one providing the details as requested and we will be glad to help .

Thank yu.

[2020-10-13 11:51] #63956 closed

[2020-10-13 11:54] munkii commented on #64223
Thanks for replying. I really think the docs could do with a version of this explanation. From @JamesTran-MSFT reply  "services which require more than one authentication credential, such as a storage account connection string with access key". That doesn't sound like to two sets of "authentication credentials" to me.

However when I read @jlichwa reply "alternates between two access keys in each

[2020-10-13 12:03] alevincenzi commented on #57689
Yes ... no choice bu to downgrade.

Finally, `Storage Explorer 1.14.2 1 + AzCopy 10.5.0` (proposed by @arduppal above) can connect with `mcr.microsoft.com/azure-blob-storage:1.3-linux-amd64`

[2020-10-13 12:16] SAIMMINHAS opened #64294 "Subscription not visible in 'Azure resources - Discovery' section of 'Privileged Identity Management'"
Hi,

I created a new tenant in Az AD and wanted to work in the 'Azure resources - Discovery' section of 'Privileged Identity Management' but for some reason my Subscription is not showing up and so i can't proceed any further. However, when i checked the 'Active assignments' section in the 'My roles' section of PIM, i can clearly see the 'Global Administrator' assigned to myself.

I'm attaching th

[2020-10-13 12:37] SubhashVasarapu-MSFT commented on #64293
@hisasima, Thanks for reaching out. We will investigate and update this thread.

[2020-10-13 12:51] SubhashVasarapu-MSFT commented on #63977
@gregdegruy, Apologies for the delay in response. You cannot configure CDN managed certificate to a root domain/ Apex domain. Instead you can use your own certificate in that case. Please let us know if you have any other queries.

[2020-10-13 13:01] antsh85 opened #64295 "Package not found: Azure.Communication.Sms"
PS C:\Users\ansiskov.EUROPE\Downloads\SmsQuickstart> dotnet add package Azure.Communication.Sms --version 1.0.0-beta.2
  Determining projects to restore...
  Writing C:\Users\ansiskov.EUROPE\AppData\Local\Temp\tmp65B4.tmp
info : Adding PackageReference for package 'Azure.Communication.Sms' into project 'C:\Users\ansiskov.EUROPE\Downloads\SmsQuickstart\SmsQuickstart.csproj'.
info : Restoring packag

[2020-10-13 13:02] antsh85 commented on #64295
So I see that SMS package is not available for installation

[2020-10-13 13:03] iancraig45 opened #64296 "Documentation needs to be updated- unable to install AZ module by default as indicated in tutorial"
Hello,
When following tutorial for Windows Server 2016, the below error is returned when trying to install nuget package as part of installing AZ Module for Powershell, under the "Download the Azure Powershell Module" section of the tutorial

"WARNING: Unable to download from URI 'https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409' to ''.
WARNING: Unable to download the list of available p

[2020-10-13 13:04] pravindahal commented on #37847
@Satyala Where do you do that?

[2020-10-13 13:04] RonnieQuan opened #64297 "Private Endpoint for Azure Analysis Service"
Can you please confirm if Azure Analysis Serivce supports private endpoint or not? if not, is it on the roadmap?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04af7f54-ecc8-f44b-e6f4-f91a1076a881
* Version Independent ID: cb4d74d4-383e-67b4-f603-c775a3fea61d
* Content: [What is Azure Analysis Se

[2020-10-13 13:16] grayjeremy opened #64298 "Create nodes with no RDP in NSG"
I have an azure policy that says I can't have RDP enabled on VM's.  I see that RDP is optional but can we add instructions on how to create the resource without RDP in the NSG?  This policy is making the pool resize fail when the pool is created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b610bbb-3b44-b556-657c-ae

[2020-10-13 13:18] hiten004 commented on #63062
MashaMSFT  Thank you

[2020-10-13 13:36] nrmzz opened #64300 "where?"
This page doesn't actually seem to say _where_ in Azure you configure this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d043ad9-0da6-de81-d1ae-be0de39abe66
* Version Independent ID: 2f4a4508-4968-9681-01e7-1cc8bc1dfad4
* Content: [Building a Conditional Access policy - Azure Active Directory](https://docs.microsoft

[2020-10-13 13:43] AjayKumar-MSFT commented on #64124
The requested changes have been merged and the doc reflects that changes, we will close this thread for now. Thanks again for the feedback.

[2020-10-13 13:43] #64124 closed

[2020-10-13 13:55] pravindahal commented on #37847
@gregorvilkner Hi Gregor! I am having the same issue as you i.e. when I allow multi-tenant+personal windows accounts, I can't select the right account and when I limit it to my organization, I get "unauthorized client".

Were you able to get around this problem?

I found limited success by using "OpenID Connect" as the provider instead of "Microsoft". That lets me login using my organization accou

[2020-10-13 14:03] SnoWolfT opened #64301 "How to run the CoreMark in the Linux VM? Need one example or instruction about how to run coremark script."
In this document, it's recommended to use coremark to test the CPU performance and benchmark.
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/compute-benchmark-scores#about-coremark

But I don't know run which script at first. Try to run validateEnv.bash -> initializeCoreMark.bash. But it seems nothing happens. It's appreciated if you can provide one example or instruction about how

[2020-10-13 14:16] dombarnes opened #64302 "Docker Compose supported features"
According to this page on multi-container app setup, you can use the `depends_on` config option in `docker-compose`, yet https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-linux#docker-compose-options says `depends_on` is not supported. One of these must be wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-10-13 14:19] SnehaAgrawal-MSFT commented on #64295
@antsh85 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-13 14:21] theheatDK commented on #49587
Hi @TravisCragg-MSFT
I have the same question. As far as I can see there are 10 open issues for this page all assigned to @anzaman.
If he has moved on to other ventures maybe these could be assigned to somebody else? :-)
Regards Peter

[2020-10-13 14:25] krob527 opened #64304 "Screen does not match what is seen in Application update screen"
Under Manage Properties, there is no option for application access options as described in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8a844d8-1aab-daf1-0567-35f2de89fa23
* Version Independent ID: 6d8a875c-8038-5d1d-b0dc-e4c7094844c1
* Content: [Quickstart: Configure properties for an application in y

[2020-10-13 14:28] SnoWolfT commented on #64301
The issue is that one of Azure customer finds the performance of his batch is different between 2 CPU types of the **same** VM size, D64s_v3.
Intel(R) Xeon(R) Platinum 8171M CPU @ 2.60GHz is slower than Intel(R) Xeon(R) CPU E5-2673 v4 @ 2.30GHz. In this specific case, a 3 hour batch took 30 minutes extra. I find this document about the benchmark of CPU in Linux VM. I try to run the CoreMark script

[2020-10-13 14:28] souravmishra-msft commented on #64085
Hi @jeevansd, can you please take a look at this ask?

[2020-10-13 14:42] souravmishra-msft commented on #63701
hello @GuyPartridge, I apologize for the delay in my response. You can check the following links to get an idea about the fixes that were done from 1809 to 1903 versions of Windows 10:

- https://docs.microsoft.com/en-us/windows/release-information/status-windows-10-1903
- https://docs.microsoft.com/en-us/windows/release-information/status-windows-10-1809-and-windows-server-2019

As per the recomm

[2020-10-13 14:49] RohitMungi-MSFT commented on #64290
@marcominerva Thanks for the feedback. Yes, the web [endpoint ](https://webendpointexample.azurewebsites.net/api/DeviceState)used in this example is hosted by Azure.
You can use the steps from our Azure functions [documentation ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-serverless-api)to create a similar serverless API.

[2020-10-13 14:56] #63675 closed

[2020-10-13 14:58] marcominerva commented on #64290
The problem is not about creating an Azure Function itself, but how the response from the endpoint should be formatted so that it can be consumed by the Custom Commands (in case of success or failure).

[2020-10-13 15:11] SumanthMarigowda-MSFT commented on #64271
@piquet-h Thanks for the question! We are investigating and will update you shortly.

[2020-10-13 15:18] #64119 closed

[2020-10-13 15:26] BzSpi opened #64307 "Azure SQL database copy limitations"
Hello,

Regarding the following section https://docs.microsoft.com/en-us/azure/azure-sql/database/database-copy?tabs=azure-powershell#copy-to-a-different-server

It seems that copying databases in elastic pools with different names and/or SKU is not supported using T-SQL but is not listed as limitation here.
Also, if there's a way to bypass this limitation, it should be documented.

---
#### Docum

[2020-10-13 15:30] craignicol opened #64308 "Azure B2C docs still refrencing login.microsoftonline.com in example"
As indicated by the guidance here https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin the login.microsoftonline.com domain is being deprecated in favour of b2clogin.com. The B2C examples should therefore follow the same guidance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 420a3332-60e0-40f6-ad8e-91

[2020-10-13 15:43] simonzhaoms commented on #55026
Hi @MSEvan
I followed [this guide](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/publish-managed-identity) to make a simple example to get the secret from key vault.  But I got the error:

[code]

This is the `createUiDefinition.json` I used:

[code]

and `mainTemplate.json`:

[code]

Could you tell me what's wrong with it?  BTW, I do not quite understand what

[2020-10-13 15:47] RedWasVenting opened #64309 "Cant sign in"
When I'm setting up my microsoft Authenicator app, I suddenly get locked out and it asks for my passcode, which I dont know what it is, and I check my emails and there is a code so i type it in, and it says incorrect code, and i have tried many things but i just cant sign in on my authenticator account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-10-13 15:53] gbowerman commented on #51940
Apologies for missing being assigned to this earlier. I no longer own this document. I'll work with @jakaruna-MSFT  offline to identify an owner.

[2020-10-13 15:55] dmulder commented on #64149
@SAPDanJoe if you want to join via winbind, you could also join using the yast cli:
`sudo yast samba-client joindomain domain=<domain> user=<admin> password=<admin password> machine=<(optional) machine account>`

[2020-10-13 15:56] MonikaReddy-MSFT commented on #63969
@Kumar3010 -
Since we have not heard back from you we will now proceed to close this thread.
If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-10-13 15:56] #63969 closed

[2020-10-13 15:57] gbowerman commented on #64211
@VikasPullagura-MSFT I no longer own this document. Please contact me to identify the current owner.

[2020-10-13 15:57] MonikaReddy-MSFT commented on #64034
@priyashetty-gh , @normesta  - Thank you for providing your insights.
@alex-rolls - I hope they have answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-13 15:57] #64034 closed

[2020-10-13 15:58] PaulARoy commented on #47611
@rustem08 generating the jwt for client secret worked like a charm!

but short-lived tokens make it a bit hard to use…

[2020-10-13 15:58] JamesTran-MSFT commented on #64304
@krob527
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-13 15:59] JamesTran-MSFT commented on #64308
@craignicol
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-13 16:08] DerekHerman-MSFT commented on #64296
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-13 16:08] AmitavaHazra commented on #64020
@souravmishra-msft ,  It is now clear to me. Thanks for your help and time.

I will try to fetch some more understanding on the default timeout for the persistent cookie in AAD and would update the thread.
- Yes please.

[2020-10-13 16:14] deepakkhetwal opened #64310 "Traffic manager for intranet websites/api"
I am looking for traffic manager or it's alternative for Disaster recovery scenarios, where I can divert the traffic to secondary region for intranet websites. Please suggest.

[2020-10-13 16:15] Karishma-Tiwari-MSFT commented on #52853
@erikadoyle Would appreciate your insights on this issue. Thanks :)

[2020-10-13 16:18] NavtejSaini-MSFT commented on #64307
@BzSpi We are checking this and will get back to you.

[2020-10-13 16:34] KranthiPakala-MSFT commented on #64235
@kasunsjc Thanks for confirming.

@cedarbaum - Could you please have assist on this issue? - Thank you

[2020-10-13 16:36] KranthiPakala-MSFT commented on #64297
@RonnieQuan
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-10-13 16:39] krob527 commented on #64304
I think it may be because this was added as an Enterprise App.

From: James Tran-MSFT <notifications@github.com>
Sent: Tuesday, October 13, 2020 11:59 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kevin Robinson <Kevin@rtriad.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Screen does not match what is seen in Application update screen (#643

[2020-10-13 16:41] ssemyan opened #64313 "New "My Apps" experience does not allow these steps to be followed"
There seems to be a new "My Apps" experience that is being tested. In this new UI, the steps outlined in this document are incorrect (there is no 'gear' you can click on to manage your organizations). You can revert back to the original experience and follow the steps on this page, but you should note to users how to do this once the UI changes.

---
#### Document Details

⚠ *Do not edit this sect

[2020-10-13 16:43] jlichwa commented on #64223
@munkii correct 2 keys means two different credentials available to connect. You can also use connection string with key1 or key2 - which also translates to 2 sets of credentials to connect to Storage. The pattern needs 2 to alternate between during rotation cycle and provide enough time between cycles for application to refresh it locally.

[2020-10-13 16:43] KranthiPakala-MSFT commented on #64297
@RonnieQuan Azure Private link/Private Endpoints is currently not supported for Azure Analysis services.

Below are existing similar feature request threads by other Azure users. I would recommend you to please up-vote and comment on below feedbacks, which would help to increase the priority of feature request.

https://feedback.azure.com/forums/556165-azure-analysis-services/suggestions/41095645-

[2020-10-13 16:43] #64297 closed

[2020-10-13 16:53] MarileeTurscak-MSFT commented on #64294
@SAIMMINHAS
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-13 16:53] #63827 closed

[2020-10-13 16:56] jlichwa commented on #64223
#please-close

[2020-10-13 16:56] #64223 closed

[2020-10-13 17:00] yoelhor commented on #64308
Thanks for your feedback. The login-NonInteractive-PasswordChange technical profile makes a call to the underling **Azure AD** token endpoint, to verify the user credential (using ROPC flow). It's not an Azure AD B2C token endpoint, but rather an Azure AD token endpoint, and should be login.microsoftonline.com.

[2020-10-13 17:00] MarileeTurscak-MSFT commented on #64294
@SAIMMINHAS have you tried setting resource state and resource type to "All"?

[2020-10-13 17:01] #64308 closed

[2020-10-13 17:02] psmanhas commented on #62933
@anavard I am following up to check if you can provide mentioned logs so I can take it to our backend team to get needed help.

Thanks

[2020-10-13 17:03] JamesTran-MSFT commented on #64313
@ssemyan
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-13 17:03] psmanhas commented on #62267
@Astrophe717  Firstly, apologies for the delay in responding on this and any inconvenience this issue may have caused. As this issues need more investigation and live troubleshooting for quicker resolution I would recommend you to contact azure support. If you have a support plan, requesting you to file a support ticket, else please do let us know, we will try and help you get a one-time free tech

[2020-10-13 17:05] #60080 closed

[2020-10-13 17:05] RohitMungi-MSFT commented on #64290
@xiaojul could we add guidance on the expected format? @marcominerva The github [repo ](https://github.com/Azure-Samples/Cognitive-Services-Voice-Assistant/blob/master/custom-commands/quick-start/SmartRoomLiteDemo.json) provides a sample json and quickstart for reference.

[2020-10-13 17:09] jorgecotillo commented on #62449
So sorry for not getting back to you. Deployment is postponed at the moment, we'll release this fix along with another major update that is planned for end of the month. In case we deploy any updates sooner than that, I'll update the issue, but for now, please plan on having a fix deployed to all regions by end of month.

[2020-10-13 17:09] SAIMMINHAS commented on #64294
Hi Marilee,

Yup. Tried both to all but no luck.

[2020-10-13 17:10] PaulARoy opened #64314 "Can't get email & name for OpenId (Apple Auth with Azure App Services)"
Hello,
Despite the definition of name and email on the scope like this:
[code]

There seem to be no possibility to get `name` & `email`, it's absent from the token. How can we access them?

Best regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd28ed3-76d0-f9d0-dbff-f29db6fe8b3d
* Version Independent ID: b0ca2e

[2020-10-13 17:11] thomaschadwick commented on #64073
It appears the code_challenge parameter is required on the requests now? The documentation says it is optional: https://docs.microsoft.com/en-us/azure/active-directory-b2c/authorization-code-flow.

Old request that worked fine until today:
https://########.b2clogin.com/##########.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1A_GCS_SignIn&client_id=######################&nonce=defaultNonce&redirect_

[2020-10-13 17:18] JamesTran-MSFT commented on #64309
@RedWasVenting
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-13 17:23] RichWK commented on #62061
Thanks for investigating! Really appreciate the info, I'll give it a try. (My organisation hasn't sorted out my access, so I haven't been able to attempt it just yet.)

[2020-10-13 17:24] rinisbet opened #64315 "Typo"
Telemetry is more like a stream of events; it's a set of data messages that have short lifespans. If you don't set up listening for the event and actions to take when it happens, there is no trace of the event at a later time. You can't come back !**_ot_**! it and read it later.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-10-13 17:25] WinstonHoward-MSFT commented on #64285
Thanks for the question, I'll take a look.

[2020-10-13 17:26] ChaitanyaNaykodi-MSFT commented on #64282
Hello @jjindrich, Thank you for your feedback! We will review and update as appropriate.

[2020-10-13 17:26] WinstonHoward-MSFT commented on #64289
Thank you for the doc feedback, I've assigned this to the doc author to take a look at your ask.

[2020-10-13 17:28] WinstonHoward-MSFT commented on #64298
Thanks for your doc feedback, I've assigned this to the author to take a look at adding those instructions.

[2020-10-13 17:30] jeffhollan commented on #52706
Just circling back that we discovered there is work remaining in Java library and Python library before this will be fully supported end to end. Once that is completed I can open a doc item to get this out there.  @anirudhgarg as an FYI who is helping track the work on those libraries

[2020-10-13 17:32] ChaitanyaNaykodi-MSFT commented on #64278
Hello @nebhagat,  Thank you for your feedback! We will review and update as appropriate.

[2020-10-13 17:34] WinstonHoward-MSFT commented on #64301
Thanks for the issue, I'll take a look.

[2020-10-13 17:34] kenwith commented on #54391
#please-close

[2020-10-13 17:34] #54391 closed

[2020-10-13 17:40] shortpatti commented on #60211
#please-close

unable to provide editable images at this time.

[2020-10-13 17:40] #60211 closed

[2020-10-13 17:44] rinisbet opened #64316 "Resource heatlh naming"
Hey, "Use Azure Resource Health" sounds generic, it might be more helpful to customers to name it "Understand your resource health"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f806e33f-a5eb-297d-8448-1365c6d33e43
* Version Independent ID: a726ff35-01e3-8051-a05f-1942dc5ef7b3
* Content: [Use Azure Resource Health -

[2020-10-13 17:53] kenwith commented on #50449
@cnadler-MSFT - thank you for taking the time to provide feedback as you went through the content. You brought up a great question that others will have to. I have added a cross link in next steps to the information @japere provided. Thank you again for taking the time so that others reading the content can find the solution right away too.

[2020-10-13 17:53] kenwith commented on #50449
#please-close

[2020-10-13 17:53] #50449 closed

[2020-10-13 18:02] safihamid commented on #64277
Same applies when Private Endpoints are enabled as well. Please update docs accordingly for that as well.

[2020-10-13 18:09] BharathNimmala-MSFT commented on #63982
@D-Moonesinghe Apologies for the delayed response on this. Further reviewing your query below is the information I could gather

Log Analytics workspace does not have to be in the same region of the VM. However the negative side of using another region is additional egress costs. Please refer to [this ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/design-logs-deployment#important-

[2020-10-13 18:09] #63982 closed

[2020-10-13 18:09] BharathNimmala-MSFT commented on #63982
@D-Moonesinghe Apologies for the delayed response on this. Further reviewing your query below is the information I could gather

Log Analytics workspace does not have to be in the same region of the VM. However the negative side of using another region is additional egress costs. Please refer to [this ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/design-logs-deployment#important-

[2020-10-13 18:09] alkohli commented on #64243
@Sadiqh-Ahmed Please assign this to me.

@VenkatGowrishankar  Thanks for your query! Currently GPUs are not supported for VMs but this is a soon-to-be-available preview feature on the roadmap! Hopefully this helps.

I will go ahead and close this issue.

#please-close

[2020-10-13 18:09] #64243 closed

[2020-10-13 18:15] PeterCLu commented on #64113
#assign:@peterclu

[2020-10-13 18:20] himanshusinha-msft commented on #64000
Thanks @tritm78  . It does makes sense  , but this will only make sense when A.Cv1.0 and ACv2.0 are not compatible . Well the scenario which you have mentioned a definitely possible but does not look to be something which is happening at this time ( correct me if I wrong ) .
I am going ahead and closing teh issue . You can always re-open the issue if you think if thats appropiate .

[2020-10-13 18:20] #64000 closed

[2020-10-13 18:22] alkohli commented on #60380
@kiranpradeep Thank you for your query! I am investigating to see what info we can add. Meanwhile regrading just the IoT access key, here is an article that explains how you sync those keys: https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-j-series-manage-compute#sync-up-iot-device-and-iot-edge-device-access-keys
Hopefully this helps somewhat.

[2020-10-13 18:30] Torxsmind opened #64320 "JIT layered on PIM"
There should be some documentation / verbiage / links to information on minimal requirements when JIT is in use along with PIM.  Need to understand what must be activated to be able to perform a JIT activation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Version Independent ID:

[2020-10-13 18:31] twooley commented on #16152
#please-close

[2020-10-13 18:31] #16152 closed

[2020-10-13 18:32] SatishBoddu-MSFT commented on #64316
Hello @rinisbet Thanks for the suggestion.

Document Authors will review your suggestion.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-10-13 18:36] #45187 closed

[2020-10-13 18:36] BryanTrach-MSFT commented on #64302
@dombarnes Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-13 18:37] BryanTrach-MSFT commented on #64314
@PaulARoy Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-13 18:39] mhopkins-msft commented on #52541
Hi @prajeeshprathap

Thanks for your feedback. This article has now been updated to include v12 APIs.

 ~ *Mark*

#please-close

[2020-10-13 18:39] #52541 closed

[2020-10-13 18:39] SimonT-STHS opened #64322 "Microsoft Teams in App Protection Policy."
This section " Note Microsoft Kaizala, Microsoft Skype for Business and Microsoft Visio do not support the Require app protection policy grant. If you require these apps to work, please use the Require approved apps grant exclusively. The use of the or clause between the two grants will not work for these three applications." should add Microsoft Teams also.

---
#### Document Details

⚠ *Do not e

[2020-10-13 18:41] gvashishtha commented on #64078
Hi Josh,

I think I miscommunicated my idea. I wasn't saying to define the variables within init(), but rather to define them outside of any functions at all (in the same scope as your `import` statements).

I think you may have to just accept the suppressions in this case, if the above approach doesn't work.

[2020-10-13 18:42] KeithWalton opened #64323 "ChangePointDetectAsync is expecting ChangePointDetectRequest parameter"
When I try to use the code above as-is, I get this error:

(parameter) Request request
Argument 2: cannot convert from 'Microsoft.Azure.CognitiveServices.AnomalyDetector.Models.Request' to 'Microsoft.Azure.CognitiveServices.AnomalyDetector.Models.ChangePointDetectRequest' [anomaly-detector-quickstart]csharp(CS1503)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-10-13 18:48] baanders commented on #64316
Thanks @rinisbet ! Updating the title to your suggestion in this article draft (staged in PR [#132693](https://github.com/MicrosoftDocs/azure-docs-pr/pull/132693)).

Since this change is now implemented and will go live with the rest of the article, I'm marking this issue as closed. Feel free to comment back with additional questions/concerns if there's a need to reopen!

[2020-10-13 18:48] baanders commented on #64316
#please-close

[2020-10-13 18:48] #64316 closed

[2020-10-13 18:49] SatishBoddu-MSFT commented on #64315
Thank you @rinisbet The changes will be merged soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-10-13 18:52] #64315 closed

[2020-10-13 18:57] mcough2 commented on #49753
It seems like you've added the sentence "The most common reason Azure Event Hubs customers ask for Kafka Streams support is because they are interested in Confluent's "ksqlDB" product." However, I doubt think that addresses this issue and is probably not true.

[2020-10-13 19:00] MashaMSFT commented on #42383
Hi @kitskin, we're going to assume this issue was resolved and close out this Git Issue but please feel free to comment should you need anything further.

Thanks for contacting Microsoft and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close