[2020-08-18 12:57] shashishailaj commented on #61062
@YassineSOUABNI Thank you for your query. We will investigate and update the thread.

[2020-08-18 12:59] alisalih1 commented on #60962
@PramodValavala-MSFT - Thanks for looking into this. The complete project you linked seems to be using Function Runtime 2.0.14192.0, and .NET Core 2.1 framework. Have you tried it with .NET Core 3.1 ?

[2020-08-18 12:59] shashishailaj commented on #61068
@DarkLite1 Thank you for your feedback . We will investigate and update the thread.

[2020-08-18 13:00] dbuskirk commented on #60519
Hi Satish:

Yes, the change in the configuration file has the desired effect.

Is there any way to perform a factory reset on the AZ3166? That is to say, is it possible to return the device to the state it was in when the box was originally opened? Not important, I am just curious.

Dan Buskirk
________________________________
From: SatishBoddu <notifications@github.com>
Sent: Monday, August 17, 2

[2020-08-18 13:01] shashishailaj commented on #61067
@h2floh Thank you for your insights and contributions. We will engage with the content team to have your PR reviewed and merged after review as needed.

[2020-08-18 13:03] shashishailaj commented on #61077
@andrewflierman thank you for your feedback on this. We will engage with the content author on this and update the thread.

[2020-08-18 13:08] AnuragSharma-MSFT commented on #61075
@lokijota Thanks for letting us know the issue, really appreciate your inputs. We have updated the document content accordingly.
The changes should be live once the PR is approved.

[2020-08-18 13:14] PramodValavala-MSFT commented on #60962
@alisalih1 Yes. I created a similar setup from scratch for Functions v3 with .NET Core 3.1

[2020-08-18 13:22] MonikaReddy-MSFT commented on #61078
@jaslloyd -
Thank you for your question. Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-08-18 13:24] mrbullwinkle commented on #59763
I am going to close-out this issue, but if further updates are needed in the docs just let us know.

[2020-08-18 13:24] mrbullwinkle commented on #59763
#please-close

[2020-08-18 13:24] #59763 closed

[2020-08-18 13:24] gaikovoi opened #61080 "Missing tag"
The tags list does not contain information about tag "PowerBI".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Content: [Azure service tags overview](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-

[2020-08-18 13:27] WILLEM-LENS commented on #54201
See also: https://github.com/Azure/azure-cli/issues/10426#issuecomment-528308713.

It seems that this is a typical browser setup issue (possibly enabled by some extensions) where Chrome - BUT ALSO EDGE - is forcing traffic through https://localhost:8400. Azure CLI fails because it only works with HTTP.
I used the same remediation for Edge as the user "Jiashuo Li" recommended for Chrome:

To remove

[2020-08-18 13:32] #60931 closed

[2020-08-18 13:36] srcsakthivel opened #61082 "AppInsight Continuous Export fails for a Storage Account with Firewall Rules"
AppInsight Continuous Export work for a Storage Account with no Firewall Rules, but Continuous export AppInsights is not working for SA with FW rules.AppInsight Continuous Export work for a Storage Account with no Firewall Rules, but Continuous export AppInsights is not working for SA with FW rules.

As per Microsoft’s [documentation](https://docs.microsoft.com/en-us/azure/storage/common/storage-n

[2020-08-18 13:36] mrbullwinkle commented on #60951
@oceansv try this and see if it resolves your issue:

![image](https://user-images.githubusercontent.com/31510320/90519439-049b6d80-e136-11ea-96ba-660477d462f4.png)

Reference:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/get-metric#enable-multi-dimensional-metrics
https://docs.microsoft.com/en-us/azure/azure-monitor/app/pre-aggregated-metrics-log-metrics#custom-metrics-dimensions-and-

[2020-08-18 14:00] bfg100k commented on #60845
Thanks for the reply. I can understand a GA can do administrative task to
the user account but how can the GA control access to the Directory created
by that user account? Can you be more specific please?

On Tue, 18 Aug 2020 at 10:41 pm, VipulSparshMSFT <notifications@github.com>
wrote:

[2020-08-18 14:02] MGoedtel commented on #60722
I will take a look at this as soon as I can and if the doc is incorrect, I'll create a work item and correct it.  #in-progress.

[2020-08-18 14:02] bunkrur opened #61083 "Add process to create Billing Profiles"
Page should include process to create new Billing Profiles for customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ccc6ede-f1df-1c54-5b14-8dcfdd65011a
* Version Independent ID: 0ba01e76-4b60-def0-9dd6-14069e1a7647
* Content: [Get started with your Microsoft Partner Agreement billing account - Azure CSP](https://

[2020-08-18 14:09] ecfan commented on #55840
Hi @divyaswarnkar, this issue is stale. Did you have any more input?

[2020-08-18 14:16] ecfan commented on #57233
Hi @jkovzels, this request has a work item on the backlog as the topic needs an overhaul anyway. We'll set priority in relation to other work. Thanks!

@mike-urnun-msft: #please-close

[2020-08-18 14:16] #57233 closed

[2020-08-18 14:23] eavonius commented on #60754
My client has Microsoft premier support, and I guess we can file a support request if I can't get guidance here. But I guess what I'm surprised about is a) Windows Containers on App Service says its "In Preview" and mounting file storage to a container is also "In Preview".

My experience with Azure up to this point has been excellent for years. I guess I'm surprised to find there's no production

[2020-08-18 14:29] SadiqhAhmed-MSFT commented on #61083
@bunkrur Thanks for the feedback. This issue is being assigned to the content owner to review further and update as required.

@bandersmsft FYI!

[2020-08-18 14:42] SnehaAgrawal-MSFT commented on #60754
@eavonius Apologize for the inconvenience with this issue! Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this thread, we would like to work closer with you on this matter.

[2020-08-18 14:43] NickDrouin opened #61084 "Feature-gaps-with-respect-to-v2-apis: is missing that content-keys cannot be re-used between assets."
As a customer using differential encoding to provide digital forensic watermarking, I need to encrypt two versions of the same movie encoded into two assets, and then dynamically encrypt both assets with the same content key.

This was possible with AMS V2 APIs but fails when following this process:

Create a locator, `locatorNameToUseForContentKeys`, with a streaming policy and content policy on

[2020-08-18 14:44] SnehaAgrawal-MSFT commented on #60777
Just checking if you have chance to see above response. Looking forward for the email, We will now close this issue here.

[2020-08-18 14:44] #60777 closed

[2020-08-18 14:53] blauwepiet opened #61085 "Step out of organisation as guest page not providing the right information"
The page says to go to "View account" and then to "Azure Portal". First "View account" does not exist only "My microsoft account" and that does not have a "Azure Portal". I am reporting this because I can't access Microsoft Teams anymore because I am still a guest in a team and that gives an error but I am unable to leave it.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-08-18 14:53] eddypuck commented on #57753
I have deployed a new OVA template for the appliance and I do not see an option to store multiple credentials for Windows.  Once I add creds for Windows, the option to select Windows again is grayed out.  Are there other steps needed?  The appliance downloaded and installed updates when it was first connected.

[2020-08-18 14:56] HarithaMaddi-MSFT commented on #61072
@SqlRescuedLokesh - Thanks for the feedback. I am moving this to content owner to review the details.

@kromerm - Can you please take a look?

[2020-08-18 14:58] shashishailaj commented on #61077
@hamiltonha As discussed , please do review the ask on this issue .

[2020-08-18 15:00] NavtejSaini-MSFT commented on #60790
@practicalspartaa Please help us in getting clarity for this issue and answer the questions.

[2020-08-18 15:10] GuyPaddock opened #61086 "WVD Classic Log Analytics Example Queries Do Not Work"
Trying to use any of the example queries from this page in Log Analytics yields this message:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3752b03e-d309-e93a-7bbd-3fa68f8e7176
* Version Independent ID: a69301b3-49de-bf20-16a3-91496c85cab0
* Content: [Windows Virtual Desktop (classic) diagnostics log analytics

[2020-08-18 15:11] KranthiPakala-MSFT commented on #61065
@TestUser0811 Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-18 15:13] pmpopovichjr opened #61087 "issue in example code"
Hi, this block doesnt work:
## List the existing Data Lake Storage Gen1 accounts
result_list_response = adlsAcctClient.account.list()
result_list = list(result_list_response)
for items in result_list:
    print(items)

=======
To make it work, my buddy found, and helped me get it working to change it like this:

## List the existing Data Lake Storage Gen1 accounts
result_list_response = adlsAcctCl

[2020-08-18 15:17] DeanGross opened #61088 "Use naming convention recommendation"
[Enter feedback here]
MS has provided a suggested naming convention on https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/plan-conditional-access#set-naming-standards-for-your-policies. I would like to suggest that this policy be used as a demonstration for Step 4 of each of the common ca policies, this would help to socialize the use of a naming convention and would encour

[2020-08-18 15:19] georgedavid29 opened #61089 "Child Runbook Functions"
When you call a child runbook, i can't seem to access the functions from the parent runbook when using inline execution.
is this possible using a different method?

i've loaded my functions into a child runbook since modules can't leverage azure automation source control currently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-08-18 15:20] NavtejSaini-MSFT commented on #61076
@griffinbird We have made the changes and raised request - https://github.com/MicrosoftDocs/azure-docs-pr/pull/126413
Once approved the changes will be available.
@SnehaGunda Can you please review the PR.

[2020-08-18 15:26] SadiqhAhmed-MSFT commented on #61006
@blhoop Thank you for your patience. The mobility agent installation files are present on the replication appliance. Please use this [link](https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-mobility-service-overview#locate-installer-files) to locate the right installation files based on the source OS.

Let me know if you have any additional questions in this matter.

[2020-08-18 15:29] mike-urnun-msft commented on #60914
@vidyasagar-hadoop Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-18 15:29] #60914 closed

[2020-08-18 15:43] MayankBargali-MSFT commented on #60864
@JohnMcAvinue Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-18 15:43] #60864 closed

[2020-08-18 15:45] PingPongSet commented on #60541
Hi @ ShreyaChakraborty-MSFT

Below is the version of tools installed, which follows the [Prerequisites](https://docs.microsoft.com/en-gb/azure/blockchain/service/send-transaction#prerequisites)

[code]

Do you mean the exact verion of each tool must be installed? including node, truffle and ganache. I can see the versions of those three from you are different from those on [Create a smart contract

[2020-08-18 15:48] chrisevans9629 opened #61090 "Unused variable in documentation"
This variable in the .NET console app doesn't seem to ever be used.  Where is this supposed to be used at?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e5b2d7d-fac3-149c-12a9-d0bd80d28838
* Version Independent ID: 526fb7f3-49d6-7e0d-f802-f0d718e2ade1
* Content: [Send localized push notifications to iOS using

[2020-08-18 15:48] #60757 closed

[2020-08-18 15:50] mattchenderson commented on #59768
Unfortunately, I do not have a public ETA I can share at this time.

[2020-08-18 15:56] KranthiPakala-MSFT commented on #61087
Hi @pmpopovichjr Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-08-18 15:58] Pluc15 opened #61091 "Missing example on how to set custom attributes"
Missing example on how to set custom attributes in the graph explorer (or at least a link the the api doc)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c29c26fd-dad6-8435-0694-ba82c784818a
* Version Independent ID: fab7c0ac-b35b-83f5-5a1e-c8a6ce26dc8b
* Content: [Define custom attributes in Azure Active Directory B2C

[2020-08-18 15:59] DerekHerman-MSFT commented on #61082
@srcsakthivel
From the [Export telemetry from Application Insights](https://docs.microsoft.com/en-us/azure/azure-monitor/app/export-telemetry#continuous-export-advanced-storage-configuration) documentation page:
_"Continuous Export does not support the following Azure storage features/configurations:
Use of VNET/Azure Storage firewalls in conjunction with Azure Blob storage.
Azure Data Lake Storag

[2020-08-18 15:59] #61082 closed

[2020-08-18 16:03] hpsin commented on #61067
Thank you @h2floh - @mmacy actually has a PR in progress internally that makes this same change.  We may put this one on hold until his is in, and then we'll see if/where this one fits.

Apologies that you had to spend time figuring this one out, hopefully the updates will make it easier for the next person.

[2020-08-18 16:03] SnehaAgrawal-MSFT commented on #60754
@eavonius Thanks for sending email! Since working with you internally, will close this issue here.

[2020-08-18 16:03] #60754 closed

[2020-08-18 16:05] KranthiPakala-MSFT commented on #60998
@mikkolaakko Thanks for sharing the details.

@Karishma-Tiwari-MSFT Could you please have a look the this query and do the helpful needed. Thanks.

[2020-08-18 16:07] sachinpanwar opened #61092 "Another scenario - "Failed to start" if a runbook with Patch-MicrosoftOMSComputer name is already present"
We can add another scenario if a runbook is already present with "Patch-MicrosoftOMSComputer" name.
Error message:
```Failed to start the runbook. Check the parameters passed. RunbookName Patch-MicrosoftOMSComputer. Exception One or more errors occurred```

As update management uses Runbooks to perform updates, if same names are being used by user with their Runbooks, update deployment jobs will m

[2020-08-18 16:10] alisalih1 commented on #60962
Well, not sure what to say. Your sample **does not** error on my end either. I guess we can close this issue. I'll have to dig deeper into the other project to figure out what's going on.

[2020-08-18 16:10] #60962 closed

[2020-08-18 16:12] JamesTran-MSFT commented on #61088
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-18 16:16] WinstonHoward-MSFT commented on #61030
@NathanPrado, I'm asking the doc author to take a look at this.

[2020-08-18 16:17] MarileeTurscak-MSFT commented on #61085
@blauwepiet
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-18 16:19] #54571 closed

[2020-08-18 16:20] zr-msft commented on #54571
Thank you @StefanIvemo for the feedback!

I've updated the article to address your feedback and the changes should be available soon.

[2020-08-18 16:21] MarileeTurscak-MSFT commented on #61091
@Pluc15
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-18 16:21] jaslloyd commented on #61078
https://docs.microsoft.com/en-us/cli/azure/ad/app?view=azure-cli-latest

This is the page, it mentions replyUrls but doesn't mention how to add them SPA

[2020-08-18 16:29] bibinmathew06store commented on #52462
I ran into same issue today.

$addAzAccountParameters.Keys > $azErrorPath
     |              ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | Read-only file system

it was resolved after I removed that specific RG and created a new RG and SA

[2020-08-18 16:29] NavtejSaini-MSFT commented on #61073
@phatcher Thanks for the feedback We have created the request for the same. Once approved, changes will be visible.

@rohitnayakmsft Please check the PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/126419 for this edit.

[2020-08-18 16:32] Karishma-Tiwari-MSFT commented on #61086
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-18 16:33] YutongTie-MSFT commented on #61074
@chrismoseley
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-18 16:36] axorth opened #61093 "This process is bugged: Issue: Connect Raspberry Pi to Azure IoT Hub using C."
[Enter feedback here]
I installed the latest version on a raspberry Pi and received some errors:

1) wiringPi failed to clone in the setup script

Cloning into 'wiringPi'...
fatal: unable to connect to git.drogon.net:
git.drogon.net[0: 188.246.205.22]: errno=Connection refused
git.drogon.net[1: 2a03:9800:10:7b::2]: errno=Network is unreachable

2) CMake is not installed on clean image - that was e

[2020-08-18 16:37] YutongTie-MSFT commented on #60713
@aahill Please update the document with the latest version API information. Thanks a lot.

@parasharshah
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-18 16:43] WinstonHoward-MSFT commented on #61011
@chris92109, I'm closing this issue for now. If your still having trouble with it just comment below and I'll do my best to help you out.

[2020-08-18 16:43] #61011 closed

[2020-08-18 16:56] sebansal commented on #60880
Addressed https://github.com/MicrosoftDocs/azure-docs-pr/pull/126430

[2020-08-18 17:05] hnst-grl123 opened #61095 "Use auto-failover groups if your application meets any of these criteria:"
"Has a high rate of data change and 1 hour of data loss is not acceptable." But in the document it says it takes at least 1 hour to auto-faiover activates. How it says 1 hour of data loss is not acceptable?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18c9d161-a06b-6b68-8f54-c22fcc7088da
* Versi

[2020-08-18 17:05] sebansal commented on #60880
#please-close

[2020-08-18 17:05] #60880 closed

[2020-08-18 17:07] SaiKishor-MSFT commented on #61002
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-18 17:07] #61002 closed

[2020-08-18 17:35] TravisCragg-MSFT commented on #60730
@mukesh-dua We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-18 17:35] #60730 closed

[2020-08-18 17:39] ShreyaChakraborty-MSFT commented on #60541
@PingPongSet  Ganache CLI v6.10.1 is the default version. In general you can install a specific version like so -
`npm install -g truffle@5.0.28`
`npm install -g ganache-cli@6.10.1`
`npm install truffle-hdwallet-provider`

[2020-08-18 17:39] SaurabhSharma-MSFT commented on #60711
@SB-o-matic We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-18 17:39] #60711 closed

[2020-08-18 17:49] JasonWHowell commented on #60690
#reassign:banders Bill, any other ideas?

[2020-08-18 17:49] PRMerger18 commented on #60690
banders is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-08-18 17:49] JasonWHowell commented on #60690
#reassign:bandersmsft Bill, any other ideas?

[2020-08-18 17:52] gordieharkins opened #61098 "How to determine the appropriate disk from the dmesg command?"
In the example provided after running the dmesg command the document states "Here, sdc is the disk that we want."  How would one come to this conclusion other then running this command before and after the disk is created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fde1939-787d-2aa5-4b29-d303f8ed49cb
* Version Ind

[2020-08-18 17:54] derisen commented on #61068
@DarkLite1 SPA samples are already served with a Node.js backend. Perhaps you've meant a SPA + Node.js Web API combination? In that case, there will be a sample soon after MSAL-Node becomes mature.

[2020-08-18 17:55] BharathNimmala-MSFT commented on #61089
@georgedavid29  Thank you for your query, we will look into it and get back to you at the earliest.

[2020-08-18 17:56] derisen commented on #60939
#assign: @derisen

[2020-08-18 17:57] BharathNimmala-MSFT commented on #61092
@sachinpanwar Thank you for your feedback, our team will review and get back to you at the earliest.

[2020-08-18 18:06] SatishBoddu-MSFT commented on #61093
Hello @axorth
Thanks for the feedback! We are currently investigating the document and will update you shortly.

[2020-08-18 18:07] ningl2 commented on #61058
Phrase list is not a supported feature in live transcription. We do not have near term plans to add that support.

[2020-08-18 18:10] derisen commented on #57462
#assign: @derisen

[2020-08-18 18:11] derisen commented on #61068
#assign: @derisen

[2020-08-18 18:15] so-rob commented on #60917
Sorry I was on field with limited internet access, really appreciate your help and expertise.

Also wondering ,if you have any other tutorial which would detect an object from rtsp camera?
Here is the error I get when I try to upload the valid JSON (with deleted { )

code
"400.020.006.800"
message
"Error validating uploaded manifest"
innerError
code
"500.020.999.999"
message
"An unexpected error o

[2020-08-18 18:15] #60926 closed

[2020-08-18 18:17] StuBeck32 opened #61099 "Should have example of CSV"
Currently unclear if you leave the three top cells with their text, overwrite all cells, or overwrite only a few cells.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d9b26a1-e401-4d6d-f37e-cceed1c04549
* Version Independent ID: 3db7c764-4815-ee19-a229-8bad3da4a381
* Content: [Bulk upload to add

[2020-08-18 18:19] #61099 closed

[2020-08-18 18:20] SatishBoddu-MSFT commented on #60519
Hello @dbuskirk

Please refer to the document [Upgrade the bootloader for IoT DevKit](https://microsoft.github.io/azure-iot-developer-kit/docs/firmware-upgrading/)

You can always reset the WiFi connection (Button B + Reset) or enter the configuration mode (A + Reset)- Please see  [Use configuration mode](https://microsoft.github.io/azure-iot-developer-kit/docs/use-configuration-mode/)

[2020-08-18 18:22] SatishBoddu-MSFT commented on #60519
Hello @dbuskirk Please let us know if you need further help in this matter or can we close this thread if everything looks ok from your side?

[2020-08-18 18:27] pksvino opened #61100 "The default level changes are not reflection"
[Enter feedback here]

- I have using SDK agent approach to plug application insight to my application.
- I am using applicationinsights-agent-3.0.0-PREVIEW.5.jar, using AKS deployment. Deployment is success and warn level logs are capturing  with out any issue.
- My requirement is to change warn level to info, I have created AI-Agent.xml file in the same jar location but no change in the log capt

[2020-08-18 18:33] dbuskirk commented on #60519
Everything is fine. Thank you for your help.

________________________________
From: SatishBoddu <notifications@github.com>
Sent: Tuesday, August 18, 2020 2:22 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Dan Buskirk <dbuskirk@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Has Arduino library changed? (#60519)

Hello @dbuskirk<http

[2020-08-18 18:39] StephaneBischoff opened #61101 "no _master key"
There is no _master key in my functions. Should mention that it can be found under the main Azure Resource App keys section and not under the individual functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7e88-e077-6a6f-6fb14d89dbf6
* Version Independent ID: 84a1693b-2795-c865-35df-3ad3b9b61e2c
* Content:

[2020-08-18 18:44] BryanTrach-MSFT commented on #61084
@NickDrouin Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-18 18:54] adamkadzban opened #61103 "Document approach to reading configuration values inside Startup"
The "Working with options and settings" [section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#working-with-options-and-settings) covers how to read settings into a custom type (e.g. "MyOptions"), and how to consume it once it's injected (e.g. "IOptions<MyOptions> options" constructor argument).

This section should also cover how to use configuratio

[2020-08-18 18:56] tongyuze commented on #60838
@amanmcse
Thanks for your explanation. However, I still hold a different opinion.

You can see the document page which I sent you, there is a section after "Request an authorization code" named "Refresh the access token". In this section, the grant type should be refresh_token. And I think the process from my fiddler trace is exactly a process of this. It's the process after the authorization in t

[2020-08-18 18:57] mike-urnun-msft commented on #60736
@ntimmerman Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-18 18:57] #60736 closed

[2020-08-18 18:58] viktors-telle commented on #60857
@psmanhas No worries, and thanks for the suggestion. I will come back to you next week if the provided solution fits us.

[2020-08-18 18:59] mike-urnun-msft commented on #60941
@reveation-labs Were you happen to be on Linux OS?

[2020-08-18 19:00] MarileeTurscak-MSFT commented on #60052
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/126456

[2020-08-18 19:00] #60052 closed

[2020-08-18 19:04] scyto opened #61104 "Partner Contact Clarifications"
Could you clarify for the partner contacts which of these are optional vs required?
For example do we need to have one of each role type or can we just pick for one contacts?
also could you be clearer on where and who these contacts appear to (which portals, and whether customers OR partners see them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-08-18 19:07] leonhedding commented on #56682
Yes, please! I only found this after fixing it myself and spending a week trying to figure out the problem. Thankfully we did not need to MS Product Support, but this is such a simple fix and it would be great to have it better documented.

[2020-08-18 19:09] ChaitanyaNaykodi-MSFT commented on #52767
Hello @gunzip, I am sorry for the delay in my response.
If an extension bundle is specified in host.json, only the bundle is used and those extensions installed via extensions.csproj are ignored. In case if you need to selectively update or override a version pointed by the bundle, the solution is to remove the bundle from host.json file and [explicitly install the desired extension](https://docs.

[2020-08-18 19:09] #52767 closed

[2020-08-18 19:10] scyto opened #61105 "Clarification on document required vs optional and who the docs are visible to?"
In the documents section we are confused.

Some are marked as optional, none are marked as required, Other documents isn't marked as anything (but one assumes is optional).

Also we are unclear exactly where these documents appear:
1) are they just visible to MS employees who then choose to give them to customers or partners or not
2) are they visible to partners in some portal or not
3) are they

[2020-08-18 19:11] rdiazel commented on #11489
@xom-pschiess  Hi Patrick, were you able to get it working at all?

[2020-08-18 19:11] SaiKishor-MSFT commented on #61003
@jihu
Thank you for your feedback. I understand your concern about having better technical troubleshooting options for the Application Gateway. I am going to forward this request to the document team to look into this further.

With respect to the availability of log files from the Application Gateway, since we do not have this feature currently, please request this feature here in the [Networking

[2020-08-18 19:15] BryanTrach-MSFT commented on #60886
@RonnieQuan Thank you for your question. There is nothing to currently share in terms of plans but private endpoint for additional slots is being explored for GA. Often times features do not become GA until they meet a minimum set of features and will remain in preview until those features are ready for use. This is all we have to share at this time but please keep an eye out.

We will now proceed

[2020-08-18 19:15] #60886 closed

[2020-08-18 19:16] jcpayne commented on #60501
For other users: this snippet deletes ***all*** of the runs in a given experiment.  Afterwards, the experiment name and the 'latest run' are still visible in Studio, but all of the associated storage has been cleared.
[code]

[2020-08-18 19:18] davidsmatlak commented on #60739
The [Tutorial: Add tags in your ARM template](https://docs.microsoft.com/azure/azure-resource-manager/templates/template-tutorial-add-tags?tabs=azure-cli) describes how to add tags using a template rather than from a variable.

To use a variable for the tags:

[code]

- The `tags` variable **key: value** pairs include spaces.
- Uses the template from the [Add tags](https://docs.microsoft.com/azure

[2020-08-18 19:25] treytro opened #61106 "Possible bug when IP address is greater than 100"
Line 85 of the AzureILBUpgrade.ps1 script reads:

[int]$startIp = $ipRange.Split(".")[3] + 1

The issue is that, if the $ipRange is larger than 3 digits, such as 128, the code will concatenate the "1", likely because the Split() function returns a string.  So $startIP will be 1281 instead of 129.

We manually fixed it to work around our issue like this:

[int]$startIp = $ipRange.Split(".")[3] + 1

[2020-08-18 19:29] SaiKishor-MSFT commented on #61080
@gaikovoi

Thank you for your feedback. I was unable to find the Service Tag 'PowerBI' in the Azure Portal under NSG service tags. However, if you see the this tag elsewhere, please let us know and I will forward this request to the appropriate document team.

If you would like to see this tag in the future, please request for the same in the  [Azure Networking feature request page](https://feedba

[2020-08-18 19:30] deetoo opened #61107 "yaml format for tag values"
This is an excellent reference page, however there arent any examples of how to include values for the 'tags' item.
In the existing document we see:
tags: null
But if someone wanted to include tag values, we dont see how to accomplish that. After experimenting a bit, I found that using this syntax  works:
tags: {tagname1:tagvalue1, tagname2:tagvalue2, tagname3:tagvalue3}

---
#### Document Details

[2020-08-18 19:43] SatishBoddu-MSFT commented on #60519
Thank you @dbuskirk for your contribution to this document,
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microso

[2020-08-18 19:46] i678 commented on #61037
Tank's

[2020-08-18 19:50] SeanFeldman opened #61108 "Keep the date up-to-date"
The time stamp on the article does not indicate there were changes.

Currently, it shows
![image](https://user-images.githubusercontent.com/1309622/90558556-805ae180-e159-11ea-8343-42c60f832312.png)

when the article was edited 18 days ago
![image](https://user-images.githubusercontent.com/1309622/90558633-9f597380-e159-11ea-96b3-267e3a7bc512.png)

Keeping the dates accurate helps with identifying

[2020-08-18 19:57] nmadan235 commented on #19569
@Karishma-Tiwari-MSFT Is there any update on this feature? Any ETA you can share?

[2020-08-18 19:58] #59892 closed

[2020-08-18 20:00] jeevansd commented on #60852
@superlzy When you say wrong URL are you referring to casing here? That should not cause any issue here.

[2020-08-18 20:04] JayaChatterjee-MSFT commented on #61101
@StephaneBischoff Thank you for your feedback! We will review and update as appropriate.

[2020-08-18 20:06] vlado101 opened #61109 "Question about partitionUpperBound and partitionLowerBound"
Hello,

Is it possible to include an example of how those values look inside the source tab in the COPY activity?

For example if I have Partition Option set to "PartitionOnCalendarYear" does that mean that I have to have the SAP column to only contain a Year? For example if I have a column that has MMDDYYYY can I use PartitionOnCalendarYear or do I have to use PartitionOnCalendarDate? I was hopin

[2020-08-18 20:11] MikeChristensen commented on #61042
Thanks!  This was super helpful.  I switched to "GetMetric()" instead of "TrackMetric", and I've been able to verify everything is sampling correctly.  Thanks again for your help!

[2020-08-18 20:16] kevbry commented on #52915
Can this be re-opened? The documentation has not been updated, and this ticket appears to be the only source of this information.

[2020-08-18 20:18] DerekHerman-MSFT commented on #61108
@SeanFeldman Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-18 20:18] TimMangan opened #61110 ""MSIX app attach must be applicable outside of VDI or SBC.""
The statement "MSIX app attach must be applicable outside of VDI or SBC." on this page is...   ...well I'm not sure what it is!

- Perhaps it is a statement of potential direction.

- Perhaps it is a placeholder where additional content is to be expanded.

- Perhaps it is simply incorrect.

I _think_ that MSIX App Attach has applicability outside of WVD. But it likely has limited applicability out

[2020-08-18 20:23] ronbruintjes commented on #61024
It looks like the addition of the ` --set controller.service.annotations."service\.beta\.kubernetes\.io/azure-dns-label-name"="DNS_LABEL"` causes the issue.

[2020-08-18 20:28] MarileeTurscak-MSFT commented on #61085
@blauwepiet you need to go to portal.azure.com and select it from there.
![image](https://user-images.githubusercontent.com/13383753/90561654-e5acd380-e155-11ea-87ee-d8ca1a1a6fee.png)

Then you can select "Organizations" from the side bar.

![image](https://user-images.githubusercontent.com/13383753/90562141-974c0480-e156-11ea-82ca-558abe70c603.png)

Hope this helps! If you have further questions

[2020-08-18 20:28] #61085 closed

[2020-08-18 20:38] kenwith commented on #56682
@bwgit and @leonhedding - thank you for the feedback here. This is really good information and I appreciate you taking the time to share your hard won knowledge with others. I have submitted a PR and will get this approved by the product team. I know it takes effort to go back and provide the feedback so that others down the road can benefit and I really appreciate it. Sorry for the delay on my si

[2020-08-18 20:42] patricktownley commented on #54998
Thanks for posting this - ran into this issue working through this tutorial today.

[2020-08-18 20:45] eugen-nw commented on #60502
That disables adaptive sampling.  I want to have the ability to disable _all_ types of sampling.

[2020-08-18 20:47] xom-pschiess commented on #11489
Nope, we ended up extending schema and using a custom extension attribute.

[2020-08-18 20:54] gaikovoi commented on #61080
@SaiKishor-MSFT the "PowerBI" tag is in the JSON file Azure IP address. See https://www.microsoft.com/en-us/download/details.aspx?id=56519

`{
      "name": "PowerBI",
      "id": "PowerBI",
      "properties": {
        "changeNumber": 1,
        "region": "",
        "platform": "Azure",
        "systemService": "PowerBI",
        "addressPrefixes": [
          "13.73.248.4/31",
          "13.73

[2020-08-18 20:58] derisen commented on #57462
@KoenigLear Unfortunately, that's how MSAL.js library constructs the endpoint strings (from a given authority string, it supplants the rest of the relevant endpoint). This is mentioned in several places in the library's documentation, but I agree that it could be better emphasized. You're more than welcome to [make a suggestion to the library itself](https://github.com/AzureAD/microsoft-authentica

[2020-08-18 20:59] derisen commented on #57462
#please-close

[2020-08-18 20:59] #57462 closed

[2020-08-18 21:00] roygara commented on #60621
@yichungyu Thanks for reaching out, I'll try to help: The soft delete cmdlets are only available in the preview modules. Currently only in [2.1.1-preview](https://www.powershellgallery.com/packages/Az.Storage/2.1.1-preview) and [2.3.1.-preview](https://www.powershellgallery.com/packages/Az.Storage/2.3.1-preview). You must install one of the preview modules to make use of the cmdlets. The article b

[2020-08-18 21:00] derisen commented on #60939
#re-assign: @hamiltonha

[2020-08-18 21:05] KranthiPakala-MSFT commented on #61109
@vlado101 Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-18 21:14] derisen commented on #61068
@DarkLite1 I've made a PR for adding links to [Node.js web API sample](active-directory-javascript-nodejs-webapi-v2) using **passport-azure-ad** library.

[2020-08-18 21:20] swanderz opened #61114 "What user permissions are needed to create a workspace?"
Per [this SO question](https://stackoverflow.com/questions/63471973/the-client-with-object-id-does-not-have-authorization-to-perform-action-over-sco/63473840?noredirect=1#comment112245324_63473840), this would be a great addition to the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2caff87f-9f38-988a-12

[2020-08-18 21:36] ziggynemeth opened #61115 "Need to include password not expire details"
This article requires details/links to set break-glass account passwords to not expire:
https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/set-password-to-never-expire?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff5de5d-9a97-73ff-4694-79027720b5c3
* Version Independent ID: 566a8387-b

[2020-08-18 21:42] James-Hamil-MSFT commented on #61115
@ziggynemeth Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-18 21:45] rgamage opened #61118 "Missing explanation of 'dynamic' data type"
This article mentions some values will now be stored a 'dynamic' data type.  How do we access / reference such data?  It would help to provide some instruction, example, or link to information on how to deal with this new TSI data type.  I can't find info anywhere about it, so our data is now inaccessible in this new TSI environment.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-08-18 21:52] WinstonHoward-MSFT commented on #61107
@deetoo Thanks for the feedback. I'll look into updating the doc.

[2020-08-18 21:55] davidsmatlak commented on #60737
Thanks for the feedback. This issue is resolved and will be closed.

[2020-08-18 21:55] davidsmatlak commented on #60737
#please-close

[2020-08-18 21:55] #60737 closed

[2020-08-18 22:01] carlosnunez-10m opened #61122 "resourceId() does not work when deploying a template against management groups"
# Summary

Trying to use `resourceId()` while deploying a template to a management group fails. The deployment cannot locate the resource unless you provide an explicit path to it from the management group scope.

# Affected Documentation

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/templates/deploy-to-management-group.md

# Affected Line

# Example Depl

[2020-08-18 22:07] MarileeTurscak-MSFT commented on #61091
Thanks! I made a pull request to add a link about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/126506

Feel free to make your own pull request if you feel that more should be added.

CC: @msmimart

[2020-08-18 22:07] #61091 closed

[2020-08-18 22:11] KranthiPakala-MSFT commented on #58996
@matayp Thanks for re-escalating this issue. The PR has been merged and changes should reflect soon.

Thank you for helping us to improve the MS Doc content.

[2020-08-18 22:36] jkewley opened #61127 "Javascript SDK link is broken"
The link to the Javascript SDK near the bottom of the page is broken - it points to the page source in github rather than to the live link: https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0aac1b63-5869-0b8b-bf20-af6a6e5caaac
* Version Independent ID: f8

[2020-08-18 22:39] JasonWHowell commented on #60112
Similar to https://github.com/MicrosoftDocs/feedback/issues/3028

[2020-08-18 22:40] rgamage opened #61128 "Type suffix notation does not seem current"
In this article there are several cases of adding a type suffix, like:
```['Foo's Law Value']_double```
```series.value_long```

However in our Gen2 TSI environments that we have created recently, this syntax is not accepted, and gives an error.  Only this notation works:
```['Foo's Law Value'].Double```
```series.value.Long```

Am I missing something about the TSI environment version or other par

[2020-08-18 22:46] lyrana commented on #61118
Hi @rgamage, in order for your complex JSON to be flattened as it was before the change and not stored whole as a dynamic type you'll need to make sure that your time series ID and/or timestamp is configured correctly with the new "." delineator, take a look at the examples here: https://docs.microsoft.com/en-us/azure/time-series-insights/concepts-json-flattening-escaping-rules#understanding-the-d

[2020-08-18 22:46] YutongTie-MSFT commented on #61114
@swanderz
Thanks for the feedback! We are currently investigating and will update you shortly.

@sdgilley
Hi Sheri, could you please add more details about permission level needed for creating a workspace? Thanks.

[2020-08-18 22:49] YutongTie-MSFT commented on #60720
@aahill Hi, could you please check this thread to see if we can add some samples here and update the document if needed? Thanks.

[2020-08-18 22:56] lyrana commented on #61128
@rgamage the _<data type> will be the column name in your Parquet files in your storage account. When querying via the API, to reference a column you'll follow the TSX syntax: https://docs.microsoft.com/en-us/rest/api/time-series-insights/reference-time-series-expression-syntax#filter-expressions
This page will be updated to show the query syntax along with the columns in storage.

[2020-08-18 23:23] JamesTran-MSFT commented on #59332
@9songs
Can you provide some more details on what you're asking.

-Are you asking for more details on the subject and purpose of a certificate?
-Or what does Azure Active Directory require in terms of a certificate?

[2020-08-18 23:27] davidsmatlak commented on #60739
#please-close

[2020-08-18 23:27] #60739 closed

[2020-08-18 23:28] roygara commented on #60751
@ianc911 Thanks for reaching out, we've made some adjustments to the documentation to make things a little more clear. It seems like your questions have already been answered? Please let us know if you've any remaining questions, otherwise we'll close this issue after a couple days.

[2020-08-18 23:29] MBirari-MSFT commented on #60873
Thanks for circling back. Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation, however I understand your query is on usage of  nested reference function but unfortunately not able to entirely understand end to end scenario.

We definitely want to help you so if you could

[2020-08-18 23:30] #60873 closed

[2020-08-18 23:34] SnehaGunda commented on #61075
@lokijota thank you.

Yes, deprecated is right. Attachment is a legacy feature. This feature support is scoped to continued functionality for customers already using this feature. We have a doc under works for the new attachment functionality.

signed off on the above PR. we will close this issue now.

#please-close

[2020-08-18 23:34] #61075 closed

[2020-08-18 23:41] EdwinStraver opened #61130 "Can this example be updated to use the new Azure.Identitiy library, and latest Azure.Storage libraries?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02de0bf-09d7-a7fc-1b4a-213426e96b2d
* Version Independent ID: 36f6c8fe-6bc1-6643-4b66-2c38bcd2e5f0
* Content: [Acquire a token from Azure AD for authorizing requests from a client application - Azure Storage](https://docs.microsoft.com/en-us/azure/st

[2020-08-18 23:41] #61076 closed

[2020-08-18 23:51] asudbring commented on #60959
@TravisCragg-MSFT
Recently updated this doc to use Azure Bastion to be more secure instead of a test VM with public IP.

@gorankuk
When you define the address space for the subnet in the creation of the azure bastion host inside of create VNET per the docs, it will automatically create the subnet for AzureBastion in the network when the bastion host is deployed.

#please-close

[2020-08-18 23:51] #60959 closed

[2020-08-18 23:51] jcpayne commented on #60501
Oddly enough, that worked for the first experiment, but I tried it on 3 more experiments and while the printed message indicates that the files were removed, the Microsoft Azure Storage Explorer shows that they are still there (and not deleted).

[2020-08-18 23:54] MarkusVi commented on #57129
I have staged a fix for this.

#please-close

[2020-08-18 23:54] #57129 closed

[2020-08-18 23:55] ChaitanyaNaykodi-MSFT commented on #61103
@adamkadzban, Thank you for your feedback! We will review and update as appropriate.

[2020-08-19 00:12] rdiazel commented on #11489
@xom-pschiess I am working on getting working as it is supposed to be available on the claims mapping policy but I am not getting anything in return. I will let you know once I get an update

[2020-08-19 00:30] BharathNimmala-MSFT commented on #61127
@R34rvi3w Thank you for bringing this to our notice, we will review it and fix the document accordingly.

[2020-08-19 00:31] Karishma-Tiwari-MSFT commented on #60494
Thanks for sharing the update. I will be tracking the support case and share the resolution here once resolved.

[2020-08-19 00:32] #60494 closed

[2020-08-19 00:33] Karishma-Tiwari-MSFT commented on #60823
@Superset1986 Is there an update? Let us know.

[2020-08-19 00:34] BharathNimmala-MSFT commented on #61100
@pksvino Thank you for your query, we will look into it and get back to you at the earliest.

[2020-08-19 00:35] BharathNimmala-MSFT commented on #61104
@scyto Thank you for your query , our team will look into it and get back to you at the earliest.

[2020-08-19 00:38] backerman opened #61132 "Windows VM premium storage - available sizes inconsistent"
This page contains inconsistent information on premium disks:

- "Premium Storage supports DS-series, DSv2-series, GS-series, and FS-series VMs."
  - This list is outdated and the full list is quite long; it would be easier to say that any VM type containing an "s" supports premium disks.
- "Premium disks come in five types (P10, P20, P30, P40, P50)"
  - The size table below this paragraph has 14

[2020-08-19 00:40] SnehaGunda commented on #60882
FYI - @ThomasWeiss will be updating the image in a week.

[2020-08-19 00:42] BharathNimmala-MSFT commented on #61105
@scyto Thank you for your query , our team will look into it and get back to you at the earliest.

[2020-08-19 00:47] ForrestTrepte opened #61133 "How to install HEVC Video Extensions from Device Manufacturer"
On the [devices section of the system requirements page](https://docs.microsoft.com/en-us/azure/remote-rendering/overview/system-requirements#devices) it says to Select Downloads and Updates and search the list for HEVC Video Extensions from Device Manufacturer.

However, I didn't see HEVC listed in Downloads and Updates on either my PC or on my HoloLens. Perhaps there is a certain section of Down

[2020-08-19 00:48] SnehaGunda commented on #60004
@alexott thank you for your suggestion, would you be interested in updating the doc? We encourage community contributions. you can click on the edit button on the page and submit a PR. Let me know in case you can't I can handle it at my end.

[2020-08-19 00:58] BharathNimmala-MSFT commented on #60679
@R34rvi3w We really appreciate you taking time to share your feedback,  however it would really help if you can confirm if the feedback is related to PowerBI gateway , so that we can take your feedback and have it reviewed with our document author and internal product team and have a backlog item to enhance the document if needed.

On a side note , i did reach out to our Internal product team to c

[2020-08-19 00:58] #60679 closed

[2020-08-19 01:10] h2floh commented on #61067
That is great! No harm on my side, thought I quickly change it myself but perfect that you are already working on it!

[2020-08-19 01:30] #60519 closed

[2020-08-19 01:33] AshokPeddakotla-MSFT commented on #60792
@demadred Does that help resolve your issue? do let us know if further help needed.

[2020-08-19 01:34] Jont-K opened #61134 "Currency conversion to/from USD when publisher is in foreign country selling in foreign country (e.g. Australia)"
[Enter feedback here]
The document is not clear about currency conversion if the publisher is in a non-US country and only selling in that non-US country.

For example, assume the publisher is an Australian publisher, with local/Australian tax and bank account and sells only in Australia.  Will the entire flow be handled in local currency / AUD?  Or will there still be some conversion to USD along

[2020-08-19 01:43] Karishma-Tiwari-MSFT commented on #61098
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-19 01:44] Karishma-Tiwari-MSFT commented on #61110
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-19 01:45] KranthiPakala-MSFT commented on #61090
@chrisevans9629
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-19 01:46] KranthiPakala-MSFT commented on #61095
@hnst-grl123
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-19 01:47] KranthiPakala-MSFT commented on #61106
@treytro
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-08-19 02:03] TravisCragg-MSFT commented on #60961
@RonnieQuan In my testing with V1 vs V2, the portal just grabs the IP Address of the Application Gateway and uses it as the backend custom host.
[code]

I checked this by creating one of each in the portal and checking the resulting JSON in [resources.azure.com](resources.azure.com).

You should be able to use any PowerShell or Template that creates a custom host backend and use it for an Applicat

[2020-08-19 02:23] hannesne commented on #20971
Hi @craigshoemaker This doc doesn't seem to have been updated with the information originally asked for  (and that I'm now lookign for as well) I was wondering whether it's perhaps in a different place?

[2020-08-19 03:00] Anitalex opened #61135 "Followed Instructions In Page"
[Enter feedback here]
Getting error "Could not attach to process with CustomPipeName. 'AzureFunctionPSWorker'.  Open launch.json.

in Powershell window it says "C:\Program Files\dotnet\dotnet.exe process with Id=8112 started
[8/19/2020 2:55:31 AM] It was not possible to find any compatible framework version
[8/19/2020 2:55:31 AM] The framework 'Microsoft.NETCore.App', version '2.1.0' was not found

[2020-08-19 03:03] Anitalex commented on #61135
Also after ending it I get....Enter-PSHostProcess: No named pipe was found with CustomPipeName: AzureFunctionsPSWorker.

$psversiontable
Name                           Value
----                           -----
PSVersion                      7.0.3
PSEdition                      Core
GitCommitId                    7.0.3
OS                             Microsoft Windows 10.0.19041
Platform

[2020-08-19 03:15] Anitalex commented on #61135
dotnet --info

.NET Core SDK (reflecting any global.json):
 Version:   3.1.401
 Commit:    39d17847db

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19041
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.401\

Host (useful for support):
  Version: 3.1.7
  Commit:  fcfdef8d6b

.NET Core SDKs installed:
  3.1.401 [C:\Program Files\dotnet\sdk

[2020-08-19 03:36] Anitalex commented on #61135
npm install -g azure-functions-core-tools

i ran this command and it seemd to work for about 20 seconds

Then it failed with exit code 1 and now back to the origional message

[2020-08-19 03:38] cdtek opened #61136 "Why does Google use a WS-FED logout endpoint ?"
[Enter feedback here]
The documentation here states that Google should redirect users to the Azure AD WS-FED logout endpoint even though they are using SAML. Is this accurate ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdf59c4-653e-956e-d675-f7e17ed7d488
* Version Independent ID: 57b9c048-a938-6e21-633b-e0aabdd59

[2020-08-19 04:04] KrishnaG-MSFT commented on #61122
@carlosnunez-10m Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-19 04:05] dalesayers opened #61138 "How-to display language characters vs. UTF-8 code?"
Any recommendations for getting the language characters or symbols to display?  Here I have Chinese mainland, Spanish, and Vietnamese but only get the UTF-8 code vs the actual characters for the languages (see JSON response for "Hello World" below).

    {
        "detectedLanguage": {
            "language": "en",
            "score": 1.0
        },
        "translations": [
            {

[2020-08-19 04:07] KrishnaG-MSFT commented on #61134
@Jont-K Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-19 04:09] CawaMS commented on #56705
Sorry for getting back late on this. Here is the PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/126543

[2020-08-19 04:09] SwathiDhanwada-MSFT commented on #60782
Assigning to content author @dkamstra for reviewing the content

[2020-08-19 04:11] SwathiDhanwada-MSFT commented on #60788
@ArenHarut As there are no further documentation changes, we will close the issue for now. If there are further questions , kindly do as instructed in my previous comment and we will assist you accordingly.

[2020-08-19 04:11] #60788 closed

[2020-08-19 04:20] kumarallamraju opened #61139 "az aks create -h doesn't show --enable-aad option"
[Enter feedback here]

It appears I need to have the latest az aks preview  installed before using --enable-aad option but the page doesn't mention the same.

e.g. my az version is
bash-3.2$ az version
{
  "azure-cli": "2.10.1",
  "extensions": {
    "aks-preview": "0.4.35",

  }
}

and i don't see --enable-aad option in "az aks create -h"

But when I update my aks-preview to the latest version

[2020-08-19 04:46] travisclagrone opened #61140 "`azure-sqldb-spark` has been deprecated in favor of ` apache-spark-connector-sqlserver-azsql`"
This page has three references to the officially-deprecated [Azure/azure-sqldb-spark] (last released in 2018), which has since been replaced by [microsoft/sql-spark-connector] (last released 22 days ago).

1. The first sentence links to outdated Azure SQL documentation for azure-sqldb-spark. It should link to the [Apache/sql-spark-connector#README](https://github.com/microsoft/sql-spark-connector#

[2020-08-19 05:00] ram-msft commented on #61138
@dalesayers Thanks for the question. We are investigating the issue and will update you shortly.

[2020-08-19 05:02] BhargaviAnnadevara-MSFT commented on #60911
@inclue Thank you for catching that error in the docs! The change is merged and will go-live in the public docs shortly.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-19 05:02] #60911 closed

[2020-08-19 05:14] kobulloc-MSFT commented on #60949
@captain-yossarian That is the correct page, however it should look something like this:

![image](https://user-images.githubusercontent.com/37556655/90594251-d0a86280-e19e-11ea-8870-5bb0b2f26bd4.png)

Are you able to get this consistently?  I've found one other [similar report](https://developercommunityapi.westus.cloudapp.azure.com/content/problem/449368/team-configuration-pane-unreachable.html)

[2020-08-19 05:21] jamesbannan commented on #60272
Thanks @BhargaviAnnadevara-MSFT for the update. The question of permissions doesn't really match up with my experience so far.

For example, for the customer I am working with, I deployed a DevTest Lab instance and a dedicated VNet into a sandbox subscription and successfully linked the VNet to the DTL. My permissions in this subscription are `Contributor` - so while I have permissions to create r

[2020-08-19 05:25] garyleowky opened #61141 "lifecycle policy powershell issues"
Hi,

i'm would like to check i ran the sample powershell script that provided in the following link. So it works to create the lifecycle policy to one of my container part under for my storage account but when i re-apply the script to the same storage account with different container, it will removed the existing lifecycle policy and add-in the new one.

Could you advice how do i apply the powersh

[2020-08-19 05:28] AshokPeddakotla-MSFT commented on #61133
@ForrestTrepte Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-19 05:29] psmanhas commented on #61139
@kumarallamraju Thank you for the feedback. We will work on it and will keep you updated on the thread

[2020-08-19 05:31] psmanhas commented on #61132
@backerman Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-08-19 05:31] psmanhas commented on #61132
@cynthn Can you please check and add your comments on this doc update request as applicable

[2020-08-19 05:58] SeaDude commented on #60130
Thank you for the valuable insights.

[2020-08-19 06:19] captain-yossarian commented on #60949
@kobulloc-MSFT no worries, after I made 5-6 page refreshes it worked.
This erro is not deterministic

[2020-08-19 06:28] DarkLite1 commented on #61068
Awesome! When I click your link I get nowhere but I'm sure the PR will be ok. Thanks for the help, it will help others too :)

[2020-08-19 06:28] #61068 closed

[2020-08-19 06:43] lucidhwee opened #61142 "Error occurs when running Bash sample for "Start an Event""
Does the following bash sample work in Windows without any issue?
"https://docs.microsoft.com/en-us/azure/virtual-machines/windows/scheduled-events#bash-sample"

When I tested in Windows VM, it shows error as follows due to single quotes.
![image](https://user-images.githubusercontent.com/29086352/90600974-69d48900-e232-11ea-943d-ce1f4a6d911a.png)

It works without any issue when I changed the sam

[2020-08-19 06:44] SumanthMarigowda-MSFT commented on #61130
@EdwinStraver Thanks for the question! We are investigating and will update you shortly.

[2020-08-19 06:45] SumanthMarigowda-MSFT commented on #61141
@garyleowky Thanks for the question! We are investigating and will update you shortly.

[2020-08-19 06:50] ggailey777 commented on #30697
@craigshoemaker, let's track this along with the PowerShell bindings samples work.
#assign:craigshoemaker

[2020-08-19 06:53] JohanKlijn opened #61143 "CloudTable example is using an incorrect using statement for Table"
Looks like [CloudTable example](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table?tabs=csharp#cloudtable) is using an incorrect using statement which will cause the following error:

If you replace the using statement "Microsoft.WindowsAzure.Storage.Table;" with "Microsoft.Azure.Cosmos.Table;" it working again.

Found a corresponding [issue](https://github.com

[2020-08-19 07:01] MSSedusch commented on #60261
@abudja I added the reference in the chapter

[2020-08-19 07:01] SeaDude commented on #60130
It would help me immensely if someone could shed light on how to get secrets into PROD code without a developer having Contribute access to an Azure Function.
"SAMI" = System-assigned Managed Identity
![image](https://user-images.githubusercontent.com/8636973/90602688-035a5700-e1af-11ea-8101-807933285b42.png)
Thank you

[2020-08-19 07:09] alexott-db commented on #60004
let me try to write it, maybe over the weekend...

[2020-08-19 07:13] psmanhas commented on #61057
@dzg The issue looks like an error in Sysprep.exe, the Windows app. Can you confirm if it is an Azure issue or a Windows Server issue with Sysprep?

[2020-08-19 07:15] Wuhao1627003 opened #61144 "Error 401 when using msal to access AAD-protected url"
I'm trying to use python to access a website that uses AAD to authenticate. I followed this guide and acquired token for client correctly. But when I went to call WebAPI by requests.get, I got error 401: You do not have permission to view this directory or page.

My code:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-08-19 07:26] davidweterings opened #61145 "Azure AD authentication Issuer URL wrong example URL"
It says ```(e.g., "https://login.microsoft.com" for global Azure), also replacing ``` but according to your support this is the old endpoint and should be `https://login.microsoftonline.com`. The old URL can make the azure authentication fail in some cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f1c454d-73bc-5

[2020-08-19 07:40] ChaitanyaNaykodi-MSFT commented on #61065
Hello @TestUser0811, Thank you for reaching out.
Just to summarize the question and check if I have understood it correctly. The question is whether the static client object (connection) which can be reused within the same instance of the function app can also be reused across multiple instances of the function app.
If my understanding above was correct, since each instance of a function app runs

[2020-08-19 07:46] Superset1986 commented on #60823
Hi,  Yes it was only the ingress pod that wasn't working after the the cert rotate.
 I ended up  fixing the issue by changing the Kubernetes service host to use the public API.  it also had to be done with environmental variable in the deployment otherwise it didn't work.

This setting “fixed” the issues for me and now all 3 ingress are online.

          {
            "name": "KUBERNETES_SERVICE_

[2020-08-19 07:55] jhueppauff opened #61146 "How will soft delete behave if the whole storage account is deleted?"
Missing content which describes what will happen with soft delete containers, when the whole storage account is deleted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6da2e215-16f4-4cfa-9df8-ed2f62f2d690
* Version Independent ID: b3e7a106-a45c-fbc5-1aaa-a1aa580fe718
* Content: [Soft delete for containers (preview) - A

[2020-08-19 07:59] shashishailaj commented on #61136
@cdtek Thank you for your feedback . We will investigate and update the thread.

[2020-08-19 08:01] PramodValavala-MSFT commented on #61143
@JohanKlijn Thanks for catching that! We will work up a PR to address, which once merged should reflect in a couple of hours.

[2020-08-19 08:05] AnuragSharma-MSFT commented on #61028
@hnst-grl123, As correctly mentioned by you, auto-failover happens depending upon the grace period. So if grace period is set to 1 hour, when this period expires only then the Azure triggers failover. During this time, the operation team will check if this failure on primary can be mitigated or not. If not, then post an hour, auto-failover to secondary will happen.

If there are further questions

[2020-08-19 08:08] GenesisCoast opened #61147 "Missing SKU for the public IP address"
The public IP address page is missing the available SKU's from the SKU section. The SKU section should include "Basic" and "Standard".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd95f8e2-963d-3193-ec1f-b0dd9f566ee2
* Version Independent ID: 14376448-43ec-8f0f-65fd-c813256a7520
* Content: [Public IP addresses in Azu

[2020-08-19 08:08] shashishailaj commented on #61144
@Wuhao1627003 Thank you for your query. We use Azure Docs repo for improvements on the documentation however your query seems more like a product issue requiring troubleshooting. Hence we would request you to leverage the Azure community for these kind of issues by opening a thread on [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) . We have assigned this to one of our enginee

[2020-08-19 08:10] HarithaMaddi-MSFT commented on #61140
@travis-c-lagrone - Thanks for sharing the valuable feedback. I am moving it to content owner to review and share their thoughts.

@mssaperla - Can you please take a look?

[2020-08-19 08:12] kobulloc-MSFT commented on #60949
@captain-yossarian Thank you for the update!  I'll follow up with the product group to make sure that they are aware of the issue.

From a documentation standpoint it doesn't look like there's anything that needs to be updated so we'll close this as resolved, but if you have any additional questions about the documentation just tag me in your reply and we'll continue the conversation.

[2020-08-19 08:12] #60949 closed

[2020-08-19 08:16] AnuragSharma-MSFT commented on #61095
@hnst-grl123 Auto-failover will be activated depending upon grace period. Its minimum value is mentioned as 1 hour that means the failover will happen post one hour. However here we need to understand the Recovery time objective (RTO) and Recovery point objective (RPO) concepts to know the data loss.

**RTO**:  The time required for application to fully recover is known as Recovery time objective

[2020-08-19 08:17] Floriszz opened #61148 "secondary location or secondary region"
[Enter feedback here]
I would suggest to be consistent in saying 'secondary region' instead of 'secondary location'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f618f40d-ae53-5c3b-d8bf-0e80614f66d3
* Version Independent ID: 93083407-8f1e-b3e2-6a62-e30be5e1fbcb
* Content: [Data redundancy - Azure Storage](https://doc

[2020-08-19 08:26] AshokPeddakotla-MSFT commented on #60695
@jamesmcroft I followed the doc as is and I'm able to see the messages routed to Storage account.

Please see below screenshots for more details.

![image](https://user-images.githubusercontent.com/44426435/90610165-abf5ce80-e222-11ea-91d2-cb923618ce5d.png)

Storage Account

![image](https://user-images.githubusercontent.com/44426435/90610439-07c05780-e223-11ea-8468-5fe859c3ef6f.png)

Please ensur

[2020-08-19 08:26] #60695 closed

[2020-08-19 08:47] SubhashVasarapu-MSFT commented on #61147
@GenesisCoast , Thanks for reaching out. We will investigate and update this thread.

[2020-08-19 08:54] cveld opened #61149 "Running az webapp create-remote-connection for an Application Service Environment (ASE) hosted app service"
When I run az webapp create-remote-connection for an Application Service Environment (ASE) hosted app service I get the following response:

[code]

Is there support for ASE hosted app services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba71e4a3-6788-f299-779c-0f4bf64bf4c4
* Version Independent ID: f798b0a5-26ed-1

[2020-08-19 09:06] sirjun05 commented on #45634
I also have 2 backend and i want to add 2 resource.
something like this
"additionalLoginParams": [
      "response_type=code id_token",
      "resource=123456789",
       "resource= 1234567658512"
    ],

[2020-08-19 09:15] JayaChatterjee-MSFT commented on #61135
@Anitalex Thank you for your feedback! We will review and update as appropriate.

[2020-08-19 09:56] gordieharkins commented on #61098
This article describes the naming convention used:

https://github.com/MicrosoftDocs/azure-docs/issues/13958

On Tue, Aug 18, 2020 at 9:43 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2020-08-19 09:58] demadred commented on #60792
@AshokPeddakotla-MSFT & @Sandip-Raiyani. Thanks for your support!

With your help I've been able to resolve the issue. The root cause was the user account which I've been using to connect to TSI. As mentioned in the [Prerequisites](https://docs.microsoft.com/en-us/azure/time-series-insights/how-to-connect-power-bi#prerequisites) if you use a Guest account you won't be able to access the connector.

[2020-08-19 09:58] #60792 closed

[2020-08-19 09:59] manjunath10073 opened #61150 "Logic App triggers limit"
#Logic App triggers limit
I created a logic app with trigger run at a frequency of 5 mins. I want to trigger with count say If I mention the count =3, the logic trigger should stop after triggering 3 times.

[2020-08-19 10:00] jhyot opened #61151 "Provide XSD for TrustFrameworkPolicy"
Where can I find the XSD for the TrustFrameworkPolicy XML?
I found one in some Azure Samples github repository (https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack), but it obviously does not fully match the description in the Azure Documentation.
Just one example out of many: The XSD does not have an "Enabled" attribute on the "Localization" element, whereas the docume

[2020-08-19 10:03] msaranga opened #61152 "VNET Injected workspace don't support VNET Peering"
Please add documentation about VNET Peering is not possible on VNET injected workspace ( Deploying Azure Databricks in Custom VNET). It is only supported for NON-VNET Injected workspaces

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 927bcc21-8ea6-15df-36f7-831f5d076b10
* Version Independent ID: 601641f3-a0ed-8206-d705

[2020-08-19 10:15] bhumid123 opened #61153 "Auto pause sql synapse analytics database"
Hi ,

Is Auto pause sql synapse analytics database is possible or how?

Thanks !

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0b3077e-af25-be25-e8c4-8414870fdc00
* Version Independent ID: 37fda171-c093-9913-9464-35479bd062fb
* Content: [Pause and resume compute in Synapse SQL pool via the Azure portal - Azure Synapse Analytics](https://docs.m

[2020-08-19 10:27] VikasPullagura-MSFT commented on #60966
@filipdimkin Hope the issue will be addressed via Azure support.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-19 10:27] #60966 closed

[2020-08-19 10:29] jmprieur commented on #61144
@Wuhao1627003, please raise an issue on the MSAL Python repo:
https://github.com/AzureAD/microsoft-authentication-library-for-python/issues/new/choose

[2020-08-19 10:30] jmprieur commented on #61144
#please-close

[2020-08-19 10:30] #61144 closed

[2020-08-19 10:35] bhumid123 opened #61154 "Auto pause and resume sql synapse analytics database"
Hi,
As i mean want to pause database on Saturday, Sunday and Monday morning want to resume automatically using any script or any option is to do ? or how?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0b3077e-af25-be25-e8c4-8414870fdc00
* Version Independent ID: 37fda171-c093-9913-9464-35479bd062fb
* Content

[2020-08-19 10:39] SnehaAgrawal-MSFT commented on #61145
@davidweterings Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-19 10:39] VikasPullagura-MSFT commented on #61064
@PCNZ The feedback on improving and making more prominent on how to store a customer-managed key for a registry when the KV firewall is enabled as documented [here](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-customer-managed-keys#advanced-scenarios) is shared with the content team.

Doc author is working on updating this document which will address this feedback.

[2020-08-19 10:39] SnehaAgrawal-MSFT commented on #61149
@cveld Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-19 10:41] VikasPullagura-MSFT commented on #61015
@PCNZ The feedback on improving this document to incorporate more information on how to store a customer-managed key for a registry when the KV firewall is enabled as documented [here](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-customer-managed-keys#advanced-scenarios) is shared with the content team.

Doc author is working on updating this document which will add

[2020-08-19 10:41] #61015 closed

[2020-08-19 10:44] #61064 closed

[2020-08-19 10:45] VikasPullagura-MSFT commented on #61142
@lucidhwee
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-08-19 10:49] pyephyoeaung opened #61155 "Destination Storage account need SAS while Copy all containers, directories, and blobs to another storage account"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b646ce05-8744-6bd6-89d2-d830d27955e2
* Version Independent ID: 1c2226e5-be43-2d8e-a791-78570378b988
* Content: [Transfer data to or from Azure Blob storage by using AzCopy v10](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-b

[2020-08-19 10:51] rlevchenko commented on #61015
Any deadlines? Will we be able to switch seamlessly from SMK to CMK after ACR deployment? I just don't have time waiting for any docs updates, honestly :)

[2020-08-19 10:51] JordanSimba opened #61156 "How to secure instances"
If users can get all instance IDs, they can use the API to manage instances that don't belong to them.
Does the framework provide a solution to this?
Or did I miss something obvious? (Most likely this)

Cheers
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29097a2-e7ac-f8ae-c8b9-65dd9707d089
* Version Independent ID: b

[2020-08-19 11:00] VikasPullagura-MSFT commented on #61015
@dlepow Can you please add your comments.

[2020-08-19 11:02] HarithaMaddi-MSFT commented on #61152
@msaranga - Thanks for sharing the valuable feedback. I am moving it to content owner to review the details.

@mssaperla - Can you please take a look?

[2020-08-19 11:03] demersjd opened #61157 "Add Instructions to page instead of saying contact admin"
This page doesn't say how to add the option of an office phone, only says contact your admin in the purple box.. I'd like my users to be able to add authentication phone calls to enable 2FV. Please update this page to make this available to users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49832968-44f0-ead6-995d-c

[2020-08-19 11:14] PramodValavala-MSFT commented on #61156
@JordanSimba I believe you are referring to the [Built-in HTTP APIs](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-api) which are protected by a system key and are not really meant to be used by end consumers directly.

If you building a service where end users can see their orchestrations and should be able to manage them, then you would have to build a lay

[2020-08-19 11:15] #61143 closed

[2020-08-19 11:21] HarithaMaddi-MSFT commented on #61154
@bhumid123 - Thanks for posting the query. This can be achieved using Azure Automation. You can find the sample PowerShell scripts in the automation gallery as shown below and this [documentation ](https://docs.microsoft.com/en-us/azure/automation/shared-resources/schedules#:~:text=In%20the%20Azure%20portal%2C%20from%20your%20automation%20account%2C%20select%20Runbooks,link%20to%20an%20existing%20

[2020-08-19 11:21] #61154 closed

[2020-08-19 11:32] HarithaMaddi-MSFT commented on #61153
Duplicate of #61154

[2020-08-19 11:32] #61153 closed

[2020-08-19 11:58] JordanSimba commented on #61156
Thanks for your response!
I've since found an example of this and will implement some logic to remove the systemKey and present the status in a nice way!

[2020-08-19 11:58] #61156 closed

[2020-08-19 12:16] cveld opened #61159 "Static web app on Linux app service"
Is running a static web app on a Linux app service supported?

I am trying out
`az webapp up --location westeurope -p linuxplan -g linux --name carltesthtml2 --html`

And it returns with the error message:
`The ResourceGroup 'linux' cannot be used with the os 'Windows'. Use a different RG`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-08-19 12:24] GitaraniSharma-MSFT commented on #60997
@bertrandpons , I have replicated this and it failed with below error:
![image](https://user-images.githubusercontent.com/67630903/90634095-d193cf80-e244-11ea-8b85-e497ce771d47.png)

We have engaged the backend team to investigate this issue and I will update the thread as soon as I hear from them.

[2020-08-19 12:34] mrevow opened #61161 "Call to Microsoft.Storage/storageAccounts failed. Error message: The operation is not allowed on account kind Storage"
Please can someone help interpret the error in the  title and suggest a fix. The background is as follows:

I get an error 53 while mounting an azure container on a windows 10. [This guide](https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-windows-file-connection-problems) indicated that port 445 is blocked so I followed [remediation](https://docs.microsoft.com/en-us/azure/

[2020-08-19 12:37] erzads commented on #60878
Bump

[2020-08-19 12:39] dcurwin commented on #60878
@pvrk has informed me that this is being investigated, and will take some time.

We'll update here as soon as we have information.

Thanks.

[2020-08-19 12:43] alainvtr1 commented on #59538
Hello,
So you close, but for all that, we don't know where the problem is.
Either it is the resource explorer which does not return the zoning information of the ASE that exists; either it is indeed the ASE which is not zoned, the explorer shows it well, and there, it is clearly more serious because it means that the ASE is still not multi-AZ !
Therefore, please clarify.
Cordially.

[2020-08-19 12:57] wauters opened #61163 "Session support for auto-forwarding"
Can you please confirm auto-forwarding is not supported for session enable subscriptions/queues? If the case, please make this clear in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35341297-d419-96bf-7ba7-d7916f6a6d13
* Version Independent ID: b47f0495-66b4-ab5b-e927-743d6c99808f
* Content: [Auto-f

[2020-08-19 13:02] AshokPeddakotla-MSFT commented on #60372
@wesmc7777 Is there any update on this issue, can this issue be closed?

[2020-08-19 13:06] HarithaMaddi-MSFT commented on #61150
@manjunath10073 - Thanks for posting the question. As per my understanding, there is no such direct feature available in Logic App as of today. We need to use other Azure services like Azure function to customize triggering Logic App. If PowerShell commands of LogicApp to look at the history of runs can be accessed from Azure Automation Runbook, this is one approach to it and I would recommend you

[2020-08-19 13:06] #61150 closed

[2020-08-19 13:10] zaisadmin opened #61164 "East US 2 region support for Log Analytics"
Hello,  Are there any plans to include the East US 2 region as a supported location for Azure Automation mapping?  All of our resources that we would like to use Update Management with are in East US 2 and are already associated with a log analytics workspace in the same region.  It would be very time consuming to move them to a new workspace,  Thanks.

---
#### Document Details

⚠ *Do not edit th

[2020-08-19 13:29] csvdarius commented on #56395
@djpmsft Apologies for the delayed response to your question.  I found this (my own) issue because we ran into this same problem yet again, but in a completely different environment, in a different Azure subscription and even in a different region.

Yes, renaming a trigger and re-deploying solves the issue.  It feels as though ADF maintains some sort of metadata "flag" _per trigger name_ that does

[2020-08-19 13:31] Floriszz commented on #43750
Same for; https://skillcertpro.com/az-900-microsoft-azure-fundamentals-exam-questions/
They say that the answer should be 'NO' as well. Without any explanation...

[2020-08-19 13:33] daseth opened #61167 "Additional internal load balancer"
This Kubernetes page (https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx) mentions that it would be possible to create an additional internal Load balancer, thus exposing the ingress controller with both public ip and private ip at the same time. Is this possible with AKS ? If so can the documentation be created?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-08-19 13:36] AshleyYang25 opened #61168 "How can I decrypt the encrypted token got from app？"
Since we by chance enabled token encryption for our  1p app, and we also enabled PFT token. Then when user call our api will obtain a encrypted PFT token(actor token is encrypted), and only new SAL lib can support validate PFT token but it doesn't support encrypted token. So we thought a work around that we decrypt the token first then send the pft token to AAD to validate and do authN/authZ.

So

[2020-08-19 13:37] chrisreddington opened #61169 "Bash Script - Empty kubeContext parameter and using existing LAResourceID causes issues"
When using the bash script supplied in the article, there is an issue when setting kube-context as "" (as recommended in the document if you want to use the current context) and specifying an existing Log Analytics workspace.

It appears as though, it's trying to take the -w flag as the input for the kubeContext (whether you're using --workspace-id or -w, as it maps back to the -w in the script).

[2020-08-19 13:47] deltadan opened #61170 "Master/Slave"
Would recommend retiring this type of language in the graphics on this page. Outdated terminology for 2020.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b27b9b3-fe7e-1ac3-d07a-3d55ce820e48
* Version Independent ID: 9607bff7-4b14-f3ef-6a4d-cf494eb84c07
* Content: [Azure ExpressRoute: Designing for high availability](

[2020-08-19 13:49] AshokPeddakotla-MSFT commented on #60575
@tesych Appreciate if we can add this info to the troubleshooting guide. If this is considered to be added in the next update, can we close this issue?

[2020-08-19 13:52] SnehaAgrawal-MSFT commented on #61159
@cveld Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-19 13:58] #61049 closed

[2020-08-19 14:06] SwathiDhanwada-MSFT commented on #61169
@chrisreddington Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-08-19 14:08] rlevchenko commented on #61015
@dlepow @VikasPullagura-MSFT FYI now I'm using ACR and Key Vault with whitelisted CR region specific IP ranges . Looks like it's working..not sure about support state

[2020-08-19 14:11] AdamSharif-MSFT opened #61171 "Missing caveat that AAD cannot be enabled on an existing cluster"
Hi all,

Documentation does not make it clear that you cannot add AAD integration to an existing cluster which was not created with AAD integration.

Is it possible to add this as a caveat/warning, as I am pretty sure that was present on the previous version we did call this out (to prevent any confusion)?

Thanks!
Adam

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-08-19 14:12] andrewwiebe opened #61172 "Azure AD Not returning some claims through OID connect."
Are there any additional security or setup requirement on the AD side of this. We followed this setup and it was working preoperly. But just recently, the OpenID connect AD provider is not returning the email claim or given_name, surname, claims. This just started recently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-08-19 14:14] miked1313 commented on #56275
Hi @JamesTran-MSFT - Did the engineering team provide any guidance on this request?

[2020-08-19 14:21] amanmcse commented on #60838
@tongyuze I've added `invalid_scope` to the document. This issue will be closed during the merger of the change.

[2020-08-19 14:22] #60838 closed

[2020-08-19 14:23] zr-msft commented on #61049
Thank you @zerolagtime for the feedback.

The article has been updated and the changes should be available soon.

[2020-08-19 14:24] BryanTrach-MSFT commented on #61058
@wukun2015 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-19 14:28] KrishnaG-MSFT commented on #61164
@zaisadmin Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-19 14:36] rgamage commented on #61118
Thank you for your response.  I've provided a sample of our data that includes two sections.  One section ('Bag Levels') is working (we can display the data in TSI explorer), and the other ('Valves') is now broken with the new TSI environment, due to the conversion to 'dynamic' data type, which is not allowed as a Type in the TSI explorer.  We need a way to display our Valve data, but it is inside

[2020-08-19 14:42] YutongTie-MSFT commented on #60717
@parasharshah
Hi, I haven't seen any issue when I reproduced.
![image](https://user-images.githubusercontent.com/38084098/90649332-708ddc80-e1ef-11ea-88ec-83813c265186.png)

Please try again and let me more details.

Please make sure you did the following:
Install the client library by right-clicking on the solution in the Solution Explorer and selecting Manage NuGet Packages. In the package manag

[2020-08-19 14:42] #60717 closed

[2020-08-19 14:47] BharathNimmala-MSFT commented on #60743
@Manny53 Apologies for the delay in getting back to this thread. If you are still experiencing the issue , please review the below information.

In common cases ResourceNotTopLevel error meaning that in the list of resource to be moved, contains resources, which cannot be moved apart from depended resources located higher the hierarchy, for example:

{"statusCode":"BadRequest","serviceRequestId":n

[2020-08-19 14:47] #60743 closed

[2020-08-19 14:47] cephalin commented on #42188
@alevincenzi Sorry for the delay and thanks for your contribution. However, it looks like Publish-AzWebapp does deploy to Linux. I've just tried it in the PowerShell Cloud Shell and deployed a Python zip file successfully with it. This might be something that has been updated at some point.

#please-close

[2020-08-19 14:47] TomGeske commented on #61171
thanks for your feedback. Yes, it should be called out in our limitation section. Just made a PR.

You may want to consider our new managed AAD integration experience. It allows you to enable AAD integration on existing RBAC enabled cluster. https://aka.ms/aks/managed-aad

[2020-08-19 14:47] #42188 closed

[2020-08-19 14:49] Nikash opened #61176 "Use compute created by MLOps"
We're trying to setup custom roles as described in the [Users and Roles](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-assign-roles) documentation. and want to distinguish between MLOps and Data Scientists. Only folks with MLOps role should be able to create compute and that can be achieved by using the custom roles.

But there's also a limitation of compute instances being only a

[2020-08-19 14:50] TomGeske commented on #61171
going ahead closing this one. Feel free to keep commenting if you have further feedback. Doc change should go live latest in 24 hours.

#please-close

[2020-08-19 14:50] #61171 closed

[2020-08-19 14:53] SumanthMarigowda-MSFT commented on #61146
@jhueppauff Thanks for the question! We are investigating and will update you shortly.

[2020-08-19 14:54] SumanthMarigowda-MSFT commented on #61148
@Floriszz Thanks for the question! We are investigating and will update you shortly.

[2020-08-19 15:00] SaurabhSharma-MSFT commented on #61151
@jhyot Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-19 15:01] vhorne commented on #61018
PR already exists to fix this.
#please-close

[2020-08-19 15:01] #61018 closed

[2020-08-19 15:01] SaurabhSharma-MSFT commented on #61168
@AshleyYang25 Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-19 15:02] SaurabhSharma-MSFT commented on #61172
@andrewwiebe Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-19 15:02] nishankgu commented on #61176
@Vijeta Johri<mailto:Vijeta.Johri@microsoft.com>  is working on supporting creation on behalf of for CI. We can preview this with you.

Adding @Ahmet Can<mailto:ahcan@microsoft.com>  for visibility since Vijeta is out.

________________________________
From: Nikash Narendra <notifications@github.com>
Sent: Wednesday, August 19, 2020 7:50:15 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.githu

[2020-08-19 15:06] IrisClasson opened #61177 "Incorrect information regarding max number of conditions and actions per rule"
Unless I'm doing something wrong, I seem unable to add more than 4 conditions and 3 actions [as shown in this screenshot](https://inlovewithcode.blob.core.windows.net/images/tmp/2020-08-19_16-59-45.jpg). The documentations says 10 conditions and 5 actions (maximum) per rule.

I'd love to update the docs, but I'm hoping I'm wrong and I can have more conditions and actions per rule :D

---
#### Docu

[2020-08-19 15:15] Mike-Crowley opened #61178 "Incorrect AAD password policy info"
This statement is no longer correct:

"The password policy doesn't apply to user accounts synchronized from an on-premises AD DS environment using Azure AD Connect."

It should read:

"The password policy doesn't apply to user accounts synchronized from an on-premises AD DS environment using Azure AD Connect, unless you enable EnforceCloudPasswordPolicyForPasswordSyncedUsers, as described here: ht

[2020-08-19 15:17] DerekHerman-MSFT commented on #61155
@pyephyoeaung
Can you please provide some description of the issue that needs to be addressed?

[2020-08-19 15:17] MonikaReddy-MSFT commented on #61178
@Mike-Crowley -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-19 15:18] jonwbstr opened #61179 "Trouble authenticating to a web app in a CSP subscription"
I'm currently having trouble authenticating and came across the article below. While the format in this other article has not resolved my issue it's worth noting that one of these two articles is out of date.

According to the article below, the tenantid is also required in the username when using a CSP subscription. I would much prefer this requirement go away rather than be documented as working

[2020-08-19 15:21] MonikaReddy-MSFT commented on #61178
@Mike-Crowley -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-19 15:21] #61178 closed

[2020-08-19 15:21] BryanTrach-MSFT commented on #59204
@Rick-Anderson Do you have an update based on Cephas's latest message? We look forward to your reply.

[2020-08-19 15:22] gorankuk commented on #60959
Thank you Alan. The biggest hint is that the reserved Bastion subnet must
have an assigned name *AzureBastionSubnet. *I was puzzled why there was no
option in the subnet delegation drop down list to select Bastion service (
in VNET/subnet creation)  . This will be a nice improvement and as result
we will not have a need for this hard-coded name.  Thanks

Goran

On Tue, Aug 18, 2020 at 7:51 PM Alle

[2020-08-19 15:34] mrbullwinkle commented on #61127
PR to address this issue + update the JavaScript code block which was out-of-date has been created. PR should merge shortly, and change should go-live later today. Thanks for bringing this to our attention.

[2020-08-19 15:35] cephalin commented on #46044
Sorry for the delay. The fix will be published within a few hours. #please-close

[2020-08-19 15:35] #46044 closed

[2020-08-19 15:42] AlexandraKemperMS commented on #57554
Thank you @ajafry for you feedback, I have updated the docs and incorporated a note for sentinel keys and a link to the page you referenced. Please feel free to reach out with any further questions.

[2020-08-19 15:44] vipulsparsh commented on #60872
@Prasannaraju5590  We will close this for now and reopen once you share the document related with it. Please tag us in your reply.

[2020-08-19 15:44] #60872 closed

[2020-08-19 15:51] KranthiPakala-MSFT commented on #61157
@demersjd  Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2020-08-19 15:52] KranthiPakala-MSFT commented on #61157
Hi @curtand could you please review the above feedback and do the helpful needed. Thanks

[2020-08-19 16:01] DerekHerman-MSFT commented on #61161
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-19 16:07] asubmani commented on #60669
Thank you! There is a new [**preview**](https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#bring-your-own-control-plane-mi-preview) on bringing **pre-created** `UserAssigned Managed Identities` in AKS. Please do clearly call out the different ways & how to get your kublet and cluster identities (regardless of `userAssigned` or `SystemAssigned`)

[2020-08-19 16:09] briancuster opened #61181 "New-AzDataLakeGen2Item Does Not Appear to Be Working Correctly"
The commandlet does not appear to be working.  Whenever I execute it to copy source files from a local source to an ADLS Gen 2 account, nothing happens.  No files are copied to the ADLS Gen 2 account and no errors are thrown.  When I use the Output property of the newitem object I see output but it doesn't appear that a file was copied.  At this point it appears that the cmdlet may be non-function

[2020-08-19 16:14] DerekHerman-MSFT commented on #61161
@mrevow
From the [Planning for an Azure Files deployment documentation page](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-planning#management-concepts).
_"Although GPv1 and classic storage accounts may contain Azure file shares, most new features of Azure Files are available only in GPv2 and FileStorage storage accounts."_
Can you please change to GPv2 or FileStorage and try

[2020-08-19 16:18] vipulsparsh commented on #61062
@YassineSOUABNI  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@rwike77  Can you have a look at this ?

[2020-08-19 16:32] jlichwa commented on #60130
For application management best practices. Separation of duties you should contact Azure Devops team. I can imagine that deployment should be done by system, process which can only be accessed and managed by administrator. Developers can just invoke deployment (call system to deploy), but not manage production deployment process.

[2020-08-19 16:40] JamesTran-MSFT commented on #56275
@miked1313
Thank you for the follow up on this issue.

@iainfoulds
Since you're currently working with our engineering team on this, are there any updates from them?

[2020-08-19 16:41] JamesTran-MSFT commented on #61088
@DeanGross
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-08-19 16:41] #61088 closed

[2020-08-19 16:41] WinstonHoward-MSFT commented on #61098
@gordieharkins Thanks for the feedback and the other git issue thread. After doing some reading it's clear this doc needs to be updated. I've assigned this issue to the doc author. In the meantime, I'd advise you to try some of the techniques discussed in thread ([#13958](https://github.com/MicrosoftDocs/azure-docs/issues/13958)). I will also reach out to the doc authors internally.

[2020-08-19 16:49] vhorne commented on #60860
screen shot updated
#please-close

[2020-08-19 16:49] #60860 closed

[2020-08-19 16:52] jjuarez5 commented on #38914
+1, hit this issue today.

[2020-08-19 16:53] maertendMSFT commented on #43750
Looking at the previously linked page (https://www.itexams.com/exam/AZ-900), it appears the answer has been updated
![image](https://user-images.githubusercontent.com/30933589/90666150-d5eac900-e201-11ea-92cc-6b9890e1c86a.png)

[2020-08-19 16:56] iainfoulds commented on #56275
No, the engineering hasn't provided any updates to create a current list.

[2020-08-19 16:56] vhorne commented on #58658
#please-close

[2020-08-19 16:56] #58658 closed

[2020-08-19 16:58] #61054 closed

[2020-08-19 16:59] SaiKishor-MSFT commented on #61170
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2020-08-19 17:07] pcdiks commented on #61054
I see that the description is still wrong 😢 so why close this?

[2020-08-19 17:16] TimLovellSmith opened #61182 "Docs on supported extension OS do not seem to be in sync"
Compare supported Windows OS listed here:

https://support.microsoft.com/en-us/help/4078134/azure-extension-supported-operating-systems

vs here:

https://docs.microsoft.com/en-us/troubleshoot/azure/virtual-machines/extension-supported-os

[2020-08-19 17:17] TimLovellSmith opened #61183 "What if there's no plugin folder to find logs in?"
What is the next debugging step working backwards if

C:\WindowsAzure\Logs\Plugins\Microsoft.Compute.CustomScriptExtension

folder is not present, as it was not when I tried to investigate a windows custom script extension deployment failure?

Refers to this bit of the doc

"Extension output is logged to files found under the following folder on the target virtual machine.

cmd

Copy
C:\WindowsAzu

[2020-08-19 17:18] DexterPOSH commented on #29087
Is this resolved? As of today, I am still seeing the protectedSettings for VM CustomScript extension displaying secrets in clear text.

[2020-08-19 17:22] AlexandraKemperMS commented on #57554
#please-close

[2020-08-19 17:22] #57554 closed

[2020-08-19 17:28] BryanTrach-MSFT commented on #61179
@jonwbstr Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-19 17:30] mrbullwinkle commented on #61127
The change resolving this issue is now live.

[2020-08-19 17:30] mrbullwinkle commented on #61127
#please-close

[2020-08-19 17:30] #61127 closed

[2020-08-19 17:30] mrbullwinkle commented on #61042
Going to close out the issue, thanks again for helping us to improve our documentation.

[2020-08-19 17:31] mrbullwinkle commented on #61042
#please-close

[2020-08-19 17:31] #61042 closed

[2020-08-19 17:41] Karishma-Tiwari-MSFT commented on #61171
Thanks @TomGeske for the doc update. :)

[2020-08-19 17:46] TravisCragg-MSFT commented on #60805
@Lelivienne I know that is not ideal, but it is the current functionality. If you would like us to change this in the future, please [leave your feedback here](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen th

[2020-08-19 17:46] #60805 closed

[2020-08-19 17:57] alfredorevilla-msft opened #61186 "Screenshots for Navigate to the Log Analytics workspace and View the schema for Azure AD activity logs are outdated"
Screenshots display _Schema_ tab which is not available anymore. It has been replaced by _Tables_. Also _Queries_ tab has been added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b7f4494-1ed0-73a2-e082-f75f47fecc00
* Version Independent ID: 87ac78a7-6c23-36a9-ce75-341ae1f6ecb0
* Content: [Analyze activity logs using

[2020-08-19 18:07] JayaChatterjee-MSFT commented on #61101
@craigshoemaker We need to update the screen shot accordingly for the _master key part and need to verify the content accordingly.

[2020-08-19 18:07] #43754 closed

[2020-08-19 18:08] #60908 closed

[2020-08-19 18:09] BryanTrach-MSFT commented on #60908
@WillBrownsberger Thank you for brining up this doc bug. We have gone ahead and updated the doc. The changes should be publicly visible within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-19 18:11] SadiqhAhmed-MSFT commented on #61006
@blhoop Checking back-in to understand if the previous post helped answer your query. Feel free to reply if you have additional questions in this matter.

[2020-08-19 18:20] blhoop commented on #61006
I found the file I was looking for. It was located in the InMage_VX_9.36.0.0_UBUNTU-16.04-64.tar, so when I extracted those files it was then in the /bin folder. I copied the file and placed it in the /usr/local/ASR/Vx/bin directory. However when running the last command I'm recieving the error below. Any thoughts? What would be the (RUNTIME_INSTALL_PATH) variable? From what I seen in the UnifiedA

[2020-08-19 18:21] stbof opened #61188 "Add Python code examples to 'Accelerate real-time big data analytics using the Spark connector' page"
From andre@databricks.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a43d656-dbdf-ae04-f88d-488aa1dc78c5
* Version Independent ID: 155c9eb2-92df-1619-4284-17c46a419f1f
* Content: [Use the Spark connector with Microsoft Azure SQL and SQL Server - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql

[2020-08-19 18:28] josephka3 opened #61189 "Cant find Event Grouping"
Hi,

I can't find the Event Grouping feature mentioned in point 4. d on this page in Azure Sentinel.
This is very much required in during use case development, please make it available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c0cf119-351e-996d-0763-2bd37cc06123
* Version Independent ID: 9e54d24e-65d1-3173-8121-

[2020-08-19 18:30] GrzegorzHejman commented on #58304
Any news on this/

[2020-08-19 18:32] ggailey777 commented on #61101
Thanks @StephaneBischoff for letting us know about this. We seemed to have tweaked the portal UI a bit since this article was updated. (Frankly, it makes more sense this way.)
I'm making a fix now.

[2020-08-19 18:37] RavennMSFT commented on #56322
#assign @SanDeo-MSFT

[2020-08-19 18:38] RavennMSFT commented on #55187
#assign @SanDeo-MSFT

[2020-08-19 18:38] RavennMSFT commented on #52404
#assign @SanDeo-MSFT

[2020-08-19 18:40] gaikovoi opened #61190 "Cloud Shell in IE"
It seems that Cloud Shell doesn't work in IE 11 anymore. Could you check it with the shell team and reflet in the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2008b2b0-50ef-65b4-95bc-ef50fb4d74e7
* Version Independent ID: 84823d89-c796-e5ec-ea97-2f1dabecc199
* Content: [Azure Cloud Shell limitations](h

[2020-08-19 18:51] Chenyaaang opened #61191 "open kinect viewer in linux"
[Please add one line for opening azure kinect viewer in Linux machine: "k4aviewer"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc8f031a-6896-463c-7dc7-76f94a993528
* Version Independent ID: fcc85029-2874-a193-ba2b-05ca6067d6ff
* Content: [Quickstart- Set up Azure Kinect DK](https://docs.microsoft.com/en-us/azure/ki

[2020-08-19 18:56] DeanGross opened #61192 "Incomplete instuctions"
[Enter feedback here]

The steps don't tell us what option to choose in the "For multiple controls" section, please add this to this page and all of the other Conditional Access tutorials
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9307d7f3-2d9b-b2fc-feba-e66d170af5f9
* Version Independent ID: 9a6ef72b-0d1e-0ad2-6e9a

[2020-08-19 19:00] EdwardP-VEN opened #61193 "Need clearer instructions on creating a Secure Webhook"
Hello,

Based on customer feedback I got, it sounds like we need clearer instructions on how to create a Secure Web Hook. I don't think the article mentions a need for the Application ID URI but it seems that you do need it.
Please give step by step instructions on what to do and why you need the certain steps.
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-08-19 19:12] jonwbstr commented on #61179
See 120081824005637.

Turns out the @tenantid is not required. However, when going to https://resources.azure.com/providers/Microsoft.Web/publishingUsers/web using a local AAD user that is an owner of the subscription, we found the publishing user was blank.

Setting the username and password using an azure subscription owner that is also a user in the associated Azure Active Directory populated t

[2020-08-19 19:17] rdiazel commented on #11489
@xom-pschiess I was able to get it working. the most important thing is that you need to set up alternate ID in order to get the attribute available. the best way to do it is removing AD connect, install again and select custom installation, then select mail or any other alternate ID to get it done. This is the policy I used for testing purposes

New-AzureADPolicy -Definition @('{"ClaimsMappingPol

[2020-08-19 19:22] jonwbstr commented on #61179
It's also worth noting that when viewing the deployment username as a foreign principal user, I see UserA, when viewing the deployment username as user from the associated AAD the username was blank. I tried to set it to UserA and got an error saying the username was already in use and had to use a username of UserB.

When refreshing the page as a foreign principal user, it still said UserA.

[2020-08-19 19:24] KranthiPakala-MSFT commented on #61163
@wauters
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-19 19:25] SaiKishor-MSFT commented on #61080
@gaikovoi Thank you for clarifying that. Upon further investigation, I see that the document-  https://www.microsoft.com/en-us/download/details.aspx?id=56519 only has the IP address ranges for all services in Azure. The table in the [document](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview#available-service-tags) has the service tags available for use in NSGs which do

[2020-08-19 19:26] KranthiPakala-MSFT commented on #61181
Hi @briancuster, Thanks for reaching out. Could you please share the document which you are currently following?

[2020-08-19 19:28] zr-msft commented on #60823
Thank you @Superset1986 for the feedback and @andyzhangx, @palma21, and @Karishma-Tiwari-MSFT for following up.

I've confirmed the article is working as written. Closing for now but please follow up if you continue to see this issue.

#please-close

[2020-08-19 19:28] #60823 closed

[2020-08-19 19:28] mike-urnun-msft commented on #60941
@reveation-labs We're proceeding to assign this issue to the content author for further review on adding a Note that explicitly communicates that the "Download your function app files" step is specific to Windows OS.

[2020-08-19 19:32] KranthiPakala-MSFT commented on #61183
@TimLovellSmith
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-19 19:33] zr-msft commented on #61024
Thank you @ronbruintjes for the feedback.

I have confirmed the article is working as written. One thing i can suggest is providing your own value for *DNS_LABEL* as called out in the article: https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip#create-an-ingress-controller

Closing this issue for now but please follow up if you continue to see this issue.

#please-close

[2020-08-19 19:33] #61024 closed

[2020-08-19 19:34] #61101 closed

[2020-08-19 19:41] mike-urnun-msft commented on #58304
@GrzegorzHejman Sorry for the delay in our response here. I'll prioritize this today and share my findings accordingly.

[2020-08-19 19:51] kenwith commented on #56682
Updated merged and should be live shortly. Thanks again.

[2020-08-19 19:51] kenwith commented on #56682
#please-close

[2020-08-19 19:51] #56682 closed

[2020-08-19 20:10] zr-msft commented on #58180
Thank you @ajfallasf for the feedback.

I have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-08-19 20:10] #58180 closed

[2020-08-19 20:11] zr-msft commented on #60669
Thank you @asubmani for the feedback.

I have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-08-19 20:11] #60669 closed

[2020-08-19 20:13] BryanTrach-MSFT commented on #61179
@jonwbstr Thank you for the updates. I spoke with the support engineer who owns your case and they are currently reaching out to the product group to get further insights.

We will keep this thread open to address any documentation issues that might arise from the support case investigation.

[2020-08-19 20:31] asears opened #61195 "Add Powershell and Terraform Examples and Deployment Documentation"
Powershell is supported, should provide some samples for management with Powershell, integration with Powershell function apps, and perhaps Terraform.

<https://docs.microsoft.com/en-us/powershell/module/az.appconfiguration/?view=azps-4.5.0>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31806d3b-6d26-ba48-3860-559dc09

[2020-08-19 20:37] BryanTrach-MSFT commented on #60889
@AlverezYari It sounds like the encoding is part of the issue with the name.  This can be set in the transform definition as per https://docs.microsoft.com/en-us/rest/api/media/transforms/createorupdate#outputfile. Usually the output filename uses something like: "filenamePattern": "Video-{Basename}-{Label}-{Bitrate}{Extension}"
Of course you can change the original filename prior to uploading and

[2020-08-19 20:37] #60889 closed

[2020-08-19 20:38] NavtejSaini-MSFT commented on #60790
@practicalspartaa At this time we are going ahead and closing this feedback. Please get back to us with more information around this and we can take this further. Let us know if you have any questions.

[2020-08-19 20:38] #60790 closed

[2020-08-19 20:44] anbene commented on #60651
@v-pethur - thanks for reaching out. We can confirm that invoices are supported for Azure Marketplace.

[2020-08-19 20:49] jeevansd commented on #61035
@chetansriv  and @v-hagamp Can you please retest the app and update the instructions?

[2020-08-19 20:54] chrisevans9629 opened #61197 "Identity Provider OpenId Connect Logo"
Could you add how to add a logo to an open id connection?  We'd like to add a logo to the login screen.  In fact, Apple will not accept any app that doesn't have the logo.
![image](https://user-images.githubusercontent.com/33850520/90688548-3b57ad80-e234-11ea-82f7-78ce3d238c25.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-08-19 20:55] anbene commented on #61134
#reassign:anbene

[2020-08-19 20:58] axorth commented on #61093
Thanks for looking into this for me. We are at a huge juncture right now at my company. We might head down a very bad path, or instead choose IoT hub which will save us millions of dollars. I got the node.js version working fine, but I need to get the C version working. The repot wiringPi is no longer at that address. I did find a wiringPi on GitHub and change the setup script as follows:

#git cl

[2020-08-19 21:02] v-pethur commented on #60651
Thank you Andrea, for your response.
I apologize to request a double confirm, but I want to make sure my question went through correctly.

Yes, I do see that in   https://docs.microsoft.com/en-us/azure/marketplace.marketplace-faq-publiser-guide#what-payment-methods-are-supported-with-the-commercial-marketplace

it states:  **Azure Marketplace supports** card payments **OR invoicing.**

Does your r

[2020-08-19 21:04] Paul06 opened #61198 "Template Copy new files only by LastModifiedDate"
[Enter feedback here]
Hi, Is this template only works for blob storage, not for ADLS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62d11774-9770-8c8e-47b9-9d7ce3c0ef0e
* Version Independent ID: 0d547d8e-4a6d-aa74-c9bb-4c5a151038dc
* Content: [Copy new and changed files by LastModifiedDate - Azure Data Factory](https:

[2020-08-19 21:06] KranthiPakala-MSFT commented on #61167
@daseth
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-19 21:12] vandsh opened #61199 "Liquid template deviation from Shopify's and DotLiquid documentation"
Documentation provided here https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-enterprise-integration-liquid-transform implies that the implementation for Liquid template in API Management and Logic Apps (integration account mapping) it follows the Shopify implementation and likewise the documentation. This also goes for the note of it following more closely the `DotLiquid` implementatio

[2020-08-19 21:13] WinstonHoward-MSFT commented on #61107
I've initiated a PR to update the doc. I'm going to close this issue now. Thanks again for the feedback.

[2020-08-19 21:13] #61107 closed

[2020-08-19 21:17] sopelt commented on #59010
Any update on this @shashishailaj ? I would really like to have an idea on if/how/when this should work because we have a project where we will be onboarding more people that would profit from using facebook for AAD/M365/sharepoint.

Thanks.

[2020-08-19 21:17] kamilzzz commented on #40375
@Leejung168 @msrini-MSFT Is this confirmed that Azure Front Door to Backend service would use empty SNI if the Backend pool is configured using IP addresses?
In another words, can you confirm that the `Backend host header` field in the backend configuration isn't taken into consideration when performing SSL handshake between AFD and Backend service?

I've tried to configure it like that today and

[2020-08-19 21:20] zr-msft commented on #30655
Thank you @digeler for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-08-19 21:20] #30655 closed

[2020-08-19 21:20] zr-msft commented on #38863
Thank you @whut for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-08-19 21:20] #38863 closed

[2020-08-19 21:32] ronbruintjes commented on #61024
I've tried supplying a value for _DNS LABEL_ - I've used a FQDN, and a made up bogus name. Neither one seems to work. Maybe I'm misunderstanding, but the _DNS LABEL_ is supposed to make HTTPS certificates work - so shouldn't it be the name of the site accessed on the ingress IP? Could you provide a sample?

[2020-08-19 21:34] zr-msft commented on #48539
Thank you @Alex-str11 for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-08-19 21:34] #48539 closed

[2020-08-19 21:35] MrRitt opened #61201 "Configure an NFS client for Azure NetApp Files"
Page title is misleading.  Should be updated to reflect kerberos related setup instruction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08a2c99a-9745-82bf-9821-840e2cee3fc7
* Version Independent ID: d694e40e-27b7-957e-b990-1ff931abfeed
* Content: [Configure an NFS client for Azure NetApp Files](https://docs.microsof

[2020-08-19 21:37] zr-msft commented on #61024
For testing purposes, try using something like *ronbruintjes-sample-dns-label* to see if it succeeds for you.

[2020-08-19 21:41] zr-msft commented on #56088
Thank you @blessedwithsins for the feedback!

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-08-19 21:41] #56088 closed

[2020-08-19 21:43] KranthiPakala-MSFT commented on #61198
Hi @Paul06 Thanks for reaching out. It works both with storage as well ADLS.

Please refer to below screenshot :

![image](https://user-images.githubusercontent.com/50185738/90692574-3130b180-e22a-11ea-8bd8-5b34500c3365.png)

Hope this info helps.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue

[2020-08-19 21:43] #61198 closed

[2020-08-19 21:45] zr-msft commented on #54673
Thank you @srisaiazure for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-08-19 21:45] #54673 closed

[2020-08-19 21:48] zr-msft commented on #57165
Thank you @petenorth for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-08-19 21:49] #57165 closed

[2020-08-19 21:55] zr-msft commented on #57159
Thank you @tomcooperca for the feedback.

We have added an item to our backlog and will prioritize appropreately.

#please-close

[2020-08-19 21:55] #57159 closed

[2020-08-19 21:56] xom-pschiess commented on #11489
Wow, impressive work! Thanks for sharing!

From: Ricardo Diaz [mailto:notifications@github.com]
Sent: Wednesday, August 19, 2020 2:18 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Schiess, Patrick <patrick@exxonmobil.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Can't find onPremisesUserPrincipalName attribute (#11489)

External Email - Th

[2020-08-19 22:00] tjohnson1010 opened #61202 "Asynchronous Pattern option has changed"
Asynchronous Pattern option for HTTP Trigger was removed.  The option is now on the Response action.  How Logic Apps works now is different.  If no Response action is added, the Logic App will return a 202 immediately to the caller with no location returned in the response header.  If a Response action is added but the option is off (default), it will run synchronously, and can timeout if it takes

[2020-08-19 22:04] #47842 closed

[2020-08-19 22:05] zr-msft commented on #47842
Thank you @blueelvis for the feedback.

We have updated the article to address your feedback and the changes will be available soon.

[2020-08-19 22:10] KranthiPakala-MSFT commented on #61016
@jasonsue53 Is the SSMS session you are attempting to execute the T-SQL connected to master or was it to the user database and now attempting to create database master key in master?

Please refer to this SO thread to check for permissions: https://stackoverflow.com/questions/7048839/sql-server-query-to-find-all-permissions-access-for-all-users-in-a-database.

I have followed the same tutorial and

[2020-08-19 22:10] #61016 closed

[2020-08-19 22:19] b-juche commented on #61201
@ MrRitt  -- Thanks for the comment.
This article ([Configure an NFS client for Azure NetApp Files](https://docs.microsoft.com/en-us/azure/azure-netapp-files/configure-nfs-clients)) is indeed *part* of the kerberos configuration (as referenced in [Configure NFSv4.1 Kerberos encryption for Azure NetApp Files](https://docs.microsoft.com/en-us/azure/azure-netapp-files/configure-kerberos-encryption#co

[2020-08-19 22:19] robvet opened #61203 "EventHub Sample"
# Azure documentation issue guidance
You are missing steps in producer and consumer to configure the connection strings and event hub names.

[2020-08-19 22:19] James-Hamil-MSFT commented on #61197
@chrisevans9629  Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-19 22:31] MarileeTurscak-MSFT commented on #61192
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-19 22:36] jcbendernh opened #61204 "Error encountered executing the python form-recognizer-receipts.py command"
When i ran the following command...  python form-recognizer-receipts.py

I received the following error...

Traceback (most recent call last):
  File "form-recognizer-receipts.py", line 23, in <module>
    with open(source, "rb") as f:
OSError: [Errno 22] Invalid argument: 'https://raw.githubusercontent.com/Azure-Samples/cognitive-services-REST-api-samples/master/curl/form-recognizer/contoso-allin

[2020-08-19 22:37] SatishBoddu-MSFT commented on #61093
Hello @axorth We are working on this tutorial, please stay tuned on this thread.

[2020-08-19 22:39] extrawurst opened #61205 "Lacks equivalent for mongodb api"
I found the this page through the feeedback portal (https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/36142468-make-count-aware-of-indexes#{toggle_previous_statuses}) but I am interested in how to make use of this improvemten via the mongodb api where I still observe `count` to consume a very large number of RUs that increases with document amount even though I count based on an

[2020-08-19 22:40] MarileeTurscak-MSFT commented on #61192
I made a pull request to add this to the instructions. https://github.com/MicrosoftDocs/azure-docs-pr/pull/126640

For multiple controls you would select "Require all the selected controls" so that all of the requirements are enforced. You could theoretically select the other option if you're just enforcing MFA, but since MFA at a minimum will be required it would make most sense to require all of

[2020-08-19 22:40] #61192 closed

[2020-08-19 22:43] YutongTie-MSFT commented on #60929
@al-vincent Thanks a lot for the feedback. Since this is not an error, I will attach this to the author for reference.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@PatrickFarley  Hi Patrick, hope we can add more explanation for the JSON result for new user. Than

[2020-08-19 22:43] #60929 closed

[2020-08-19 22:50] timsander1 commented on #61205
Hi @extrawurst , could you share your query text? Feel free to change any property names if they are sensitive.

[2020-08-19 22:52] darrenjoycenz opened #61206 "App ID does not show in the list"
App ID for Windows Virtual desktop App ID a85cf173-4192-42f8-81fa-777a763e6e2c  does not show in the list when selecting Cloud Apps or actions.
It does exist in Enterprise Apps, but there is no way of associating it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d1666c5-5bed-be10-287e-0ce6b1c1432a
* Version Independe

[2020-08-19 22:55] YutongTie-MSFT commented on #61074
@nerajput1607 Hi Neha, could you please help to update the document to make everything clearer? Thanks!

[2020-08-19 22:55] goodmanmd commented on #56945
@ashpr I just ran into this myself using Pulumi and I found that if you set the AppService Tier to "PremiumV2" and Size to "S2" (for example), then everything will work properly, and the VNet attach will succeed in the template.

Interestingly, I have a 2 region deployment from my templates and VNet attached worked fine in EastUS using "Standard" / "S2" but would fail in WestUS. Implementing the c

[2020-08-19 22:58] tiny-dancer opened #61207 "Expiretime bug azure cli"
`expiretime=$(date -u -d '30 minutes' +%Y-%m-%dT%H:%MZ)`

Throws an error both on zsh macos and latest mcr/azure-cli container

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aca59e66-f6e4-33ec-b831-21b08c188cf7
* Version Independent ID: 208f2ef8-5447-3250-94c2-38c65dce9029
* Content: [Securely deploy template with SAS

[2020-08-19 23:03] v-sijeff opened #61208 "Using a negative instruction is not nearly as useful as a positive instruction."
In [Associate or add an Azure subscription to your Azure Active Directory tenant](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-how-subscriptions-associated-directory), it says:

That's partly helpful.  If you *are* using one of these subscriptions, then what should you do?  So, for example, I am a Microsoft contractor and I currently do not see a subscripti

[2020-08-19 23:06] stantoni-msft opened #61209 "Azure Migrate documentation missing VMWare switch for Physical to Azure migrations commands"
The information IS correctly listed in the Azure Site Recovery documentation:
https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-mobility-service-overview#linux-machine

Step 2 on https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-physical-virtual-machines#install-on-windows
should include the /Platform "VmWare" switch

UnifiedAgent.exe /Role "MS" /Platform "VmWare"

[2020-08-19 23:17] KranthiPakala-MSFT commented on #61036
@saveenr  Could you please review the above feedback on this doc? - Thanks

@feemurk Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-08-19 23:19] KranthiPakala-MSFT commented on #61177
@IrisClasson
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-19 23:20] MartinJaffer-MSFT commented on #60965
Hello @limingr  and thank you for your question.
The reason you see your results split up into multiple files is because of partitioning.
To keep as a single file, you need to use only a single partition.  To set this, go to your Data Flow sink , go to the 'Optimize' tab, and select single partition.  (see below pic)
![image](https://user-images.githubusercontent.com/46612670/90699026-157fd800-e23

[2020-08-19 23:25] SnehaGunda commented on #60156
I see @timsander1 added to a note to the doc to callout the Compound index does not currently support nested documents or arrays.

WRT to when it will be supported, please create a [User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db) item and help us prioritize.

We will now close this issue.

#please-close

[2020-08-19 23:25] #60156 closed

[2020-08-19 23:36] jeevansd commented on #61136
@cdtek Google does not support sending the SAML Logout request using GET method. Google can only do POST binding. But in Azure AD we do not support HTTP Post binding for SAML Logout. So we are suggesting customers to use WS-Fed endpoint here that way Azure AD can logout the user.

[2020-08-19 23:37] jeevansd commented on #61136
#please-close

[2020-08-19 23:37] #61136 closed

[2020-08-19 23:43] martintoreilly opened #61213 "Blocking only Azure Platform DNS while allowing other traffic to 168.63.129.16"
We are trying to block use of the Azure Platform DNS provided by 168.63.129.16 for all VMs in our virtual network except our own Domain Controller VMs providing DNS services. This is to ensure that users on other VMs cannot bypass our DNS Query Resolution Policies by running their DNS queries against 168.63.129.16 directly.

This page says that to block VMs from using the Azure Platform DNS provid

[2020-08-19 23:45] dlepow commented on #51738
@runemoennike - Apologies for delayed response. Here are a couple of considerations for the default cores settings (and note that CPU core settings can usually be increased on request): 1. You can specify fractional cores for your instances in a group - for example, 0.1 CPU per container - if your workload will run on those resources. 2. The cores limit is per region in your subscription. If suita

[2020-08-19 23:49] asudbring commented on #60282
@slave02
Thanks for the feedback.  Made some changes to wording.

#please-close

[2020-08-19 23:49] #60282 closed

[2020-08-19 23:50] asudbring commented on #58798
Reworked article.  Restored basic instructions and put tabs in to show both procedures.

#please-close

[2020-08-19 23:50] #58798 closed

[2020-08-20 00:06] kromerm commented on #61072
@djpmsft Did you remove the graphic being asked about above?

[2020-08-20 00:08] Karishma-Tiwari-MSFT commented on #60891
@tsrob50 I checked here and it shows -ShowInPortal as optional paramter.
https://docs.microsoft.com/en-us/powershell/module/az.desktopvirtualization/new-azwvdapplication?view=azps-4.5.0
Can you please share the link to the latest doc where you found it. Thanks.

[2020-08-20 00:11] kromerm commented on #57124
@djpmsft for an icon update

[2020-08-20 00:13] limingr commented on #60965
That solved my problem, thanks.

[2020-08-20 00:13] #60965 closed

[2020-08-20 00:23] SaurabhSharma-MSFT commented on #61151
@jhyot You are looking at the right GitHub repository.  I have created an issue against the StarterPack GitHub repo over [here](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/issues/71).

[2020-08-20 00:38] tsrob50 commented on #60891
No document to reference.  I was working thorough adding an application and the command gave an error without the -ShowInPortal parameter.

[2020-08-20 00:38] scals44 commented on #43782
@reidca I am in the same boat. The documentation states you just need a wildcard on the root domain, not a wildcard for the AADDS sub-domain. This changes my approach as well.

I'll either have to purchase another wildcard of the sub-domain or issue the certificates internally.

[2020-08-20 00:42] SatishBoddu-MSFT commented on #61093
Hello @axorth, sorry for the inconvenience caused.
I am working with my team on this issue, we will provide you an update soon.

[2020-08-20 00:42] KrishnaG-MSFT commented on #61190
@gaikovoi Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-20 00:45] KrishnaG-MSFT commented on #61207
@tiny-dancer Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-20 00:50] kromerm commented on #55745
Data flow execute on ephemeral compute, so there is no persistent state other than secondary storage.

You can achieve this by setting another Sink in your data flow to write that value to a database table or to a file in storage, and then read that value back from the next subsequent execution using the technique described above.

[2020-08-20 00:53] SatishBoddu-MSFT commented on #61191
Hello @Chenyaaang, Thanks for the feedback.
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-08-20 00:57] ForrestTrepte opened #61214 "F7 is not necessarily the keyboard shortcut for Build Solution"
In [Build the sample project](https://docs.microsoft.com/en-us/azure/remote-rendering/quickstarts/deploy-to-hololens#build-the-sample-project) one of the steps is ```Build the solution (F7)```. For me, F7 doesn't build the solution. I believe that with the [default keyboard shortcuts](https://docs.microsoft.com/en-us/visualstudio/ide/default-keyboard-shortcuts-in-visual-studio?view=vs-2019) Build

[2020-08-20 01:11] sanjaydatasciencedojo commented on #57372
@Mike-Ubezzi-MSFT Does not Sql on-demand follow serverless resource model?

[2020-08-20 01:12] ChaitanyaNaykodi-MSFT commented on #61199
@vandsh, Thank you for your feedback! We will review and update as appropriate.

[2020-08-20 01:13] ChaitanyaNaykodi-MSFT commented on #61202
@tjohnson1010,  Thank you for your feedback! We will review and update as appropriate.

[2020-08-20 01:14] nullpainter opened #61215 "Recognise Text API 2.0 being retired, no stable SDK"
We received an email a few days ago that the v2.0 of the Recognise Text API will be turned off on 16 November 2020. This is remarkably short notice, but what's even more concerning is that the only SDK which supports v3.0 is in prerelease.

When is version 6.0.0 of the SDK expected to be released? Why is v2.0 being turned off at such short notice? Why isn't there a stable SDK already for v3.0 if w

[2020-08-20 01:24] truekonrads opened #61216 "Can SSH keys still be used?"
It isn't clear if SSH keys can still be used? How would we integrate this with something like ansible which configures hosts and generally relies on SSH keys?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Lo

[2020-08-20 01:56] xuegao0112 opened #61218 "Sampling usually dropped necessary telemetry log"
Hi team,
The scenario is I am using app insights monitoring my application. And have millions requests every week.
Recently I found, some of my requests and exceptions might miss, after investigation it should caused by sampling.
When I have 1000 requests with URL api/Transaction and 5 requests like course/1122/submit, sometimes the requests with URL course/1122/submit will be dropped. But actuall

[2020-08-20 02:07] ronbruintjes commented on #61024
OK, now I'm baffled - that works. Why does "ronbruintjes-sample-dns-label" work, but "bogusIdentifier" doesn't...? :-O

I'm experimenting a bit more, and "stupid-label-name-4654" works too, but "bogusIdentifier" does not... nor does "name.with.dots.3623". So does it have to be lowercase only, one word, excluding certain characters?

[2020-08-20 02:13] Mike-Ubezzi-MSFT commented on #60995
@piotrgwiazda In short, please use Bash Shell instead of PowerShell as I think your password is not being passed correctly in the copy/paste step, if you are copy/paste the returned token string. The Bash Shell steps establish the returned token as a variable and there is no need to copy/paste it to the `psql` connect string or to establish the variable.

**Using Bash Shell in two commands:**

`#

[2020-08-20 02:30] Mike-Ubezzi-MSFT commented on #57372
Hi @sanjaydatasciencedojo. The answer is no. The Synapse Workspace with the on-demand endpoints is a Spark interface where the Synapse SQL Pool is the traditional SQL Data Warehouse.

[2020-08-20 02:40] cconrado opened #61219 "Powershell Example"
Shouldn't there be a powershell version of this too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* Version Independent ID: 92b0a972-eabe-8048-36b1-a1cefb3acf43
* Content: [Azure Table storage bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/fun

[2020-08-20 02:41] Paul06 commented on #61198
Hi @KranthiPakala-MSFT
Many thanks for your reply. Reason for confusion was, in the document you
have 'Folderpath_Source' and I am not sure what to put? since I am using
ADLS
and I put a container name there and then the pipeline is throwing errors.
Am I missing something?

 As well as, I don't have a subfolder for Source, should it be empty or
'\'?

[image: image.png]

Thanks for your assistance.

[2020-08-20 02:44] BhargaviAnnadevara-MSFT commented on #61195
@asears Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-20 02:48] MonikaReddy-MSFT commented on #61203
@robvet - Thank you for your question. Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-08-20 02:49] MonikaReddy-MSFT commented on #61201
@b-juche  - Thank you for providing your insights.
@@MrRitt - I hope @@b-juche has answered your question. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-20 03:02] armaansood opened #61220 "Incorrect link on Comsos DB Global Distribution article"
Link to "database engine" isn't helpful on "Each replica hosts an instance of Cosmos DB’s database engine, which manages the resources as well as the associated indexes". The link points to the PVLDB front page, not anything related to Cosmos DB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccf129c8-f33f-3747-45f5-e3

[2020-08-20 03:51] lyrana commented on #61118
@dmdenmsft take a look at the above payload when you have the chance.

Hi @rgamage,
Yes the above payload is problematic if you require that the "Valves" array be flattened. Typically when we see time series batched within objects of an array there is also a unique identifier for the tag that is within the objects--which has been set up as the TS ID (or part a composite TS ID). That is our signal

[2020-08-20 03:58] SwathiDhanwada-MSFT commented on #61193
Thank you @EdwardP-VEN for your feedback. Assigning to content author @dkamstra for content review and to update if required.

[2020-08-20 04:01] tiny-dancer commented on #61207
@KrishnaG-MSFT did a little more digging and it’s due to the azure cli container executing the busy box version of date rather than GNU. Requires different syntax

[2020-08-20 04:10] darrenjoycenz opened #61222 "Incorrect storage account"
It states to create a general-purpose v2 storage account.  However to do Identity-based access for file shares and integrate with ADDS you need a FileShare storage account type, not general purpose v2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69769604-b1c3-a2b8-318d-354ebf0d82a1
* Version Independent ID: 964330fc

[2020-08-20 04:15] PramodValavala-MSFT commented on #59917
@dr-dolittle This has now been fixed. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-20 04:15] #59917 closed

[2020-08-20 04:16] PramodValavala-MSFT commented on #61219
@cconrado Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-08-20 04:18] AnuragSharma-MSFT commented on #61220
@armaansood Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-20 04:18] rrajan82 commented on #60776
Hello Shashi,

Thanks for the update.

Wanted to check with you on any estimated time for the document to be updated so that I can pass this information to the customer.

Regards,
Rahul Rajan

Support Engineer                                                            Office: 0008000402235 || x82412 ( Please dial the entire 13 digit number )
Cloud Identity Team

[2020-08-20 04:46] SadiqhAhmed-MSFT commented on #61134
@Jont-K Offer is priced in AUD, customer pays in AUD, seller is paid out in AUD, there would be no currency conversion before payout.

Note that depending on how the price was originally input in Partner Center, there may have been a one-time currency conversion before publish from USD to AUD.  ISVs can, if they choose, use price import to explicitly set the price in AUD before publishing.

Seller

[2020-08-20 04:47] SadiqhAhmed-MSFT commented on #61134
@anbene FYI, for doc improvment.

[2020-08-20 04:57] pnarsi opened #61223 "GA/Preview Status of this Feature."
From a Microsoft support perspective is this feature considered to be a GA feature with full production support and associated SLAs?

The Databricks [equivalent](https://docs.databricks.com/security/encryption/encrypt-otw.html#encrypt-traffic-between-cluster-worker-nodes) of this page calls it a **public preview** feature. I believe that Databricks [definition](https://docs.databricks.com/release-

[2020-08-20 04:59] SadiqhAhmed-MSFT commented on #61209
@stantoni-msft Thanks for the feedback. This issue is being assigned to the content owner for further review.

@rayne-wiselman FYI!

[2020-08-20 05:00] sjalali123 opened #61224 "Documentation example skips the NETWORK TAB during creation of IOT HUB."
When I install IOT HUB Extension, and create a HUB, i face a Network choice of Public, Private etc..
For an example exercise, will one work better than other, as I read somewhere that there were some scenarios there could be problems with some combinations as this tab is new,

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-08-20 05:14] psmanhas commented on #61206
@darrenjoycenz Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-08-20 05:16] pnarsi commented on #55114
@ChiragMishra-MSFT  @nabhishek  - Is there an update on this?

[2020-08-20 05:22] PramodValavala-MSFT commented on #61199
@vandsh There is a [section for liquid considerations](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-enterprise-integration-liquid-transform#liquid-template-considerations) that is linked incorrectly in the note about the distinction under the [prerequisites section](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-enterprise-integration-liquid-transform#prerequisites).

[2020-08-20 05:45] lesterlitch opened #61226 "Be consistent in which language you show"
If you're going to give python examples, can you please give examples for all the tasks in python  or all in C#, or preferable give both (as AWS and all the other cloud providers do). The examples are a random mixture of C# and python code, which is not helpful for anyone.

If you support the workflow in python, please document it with examples.

---
#### Document Details

⚠ *Do not edit this sect

[2020-08-20 05:55] SwathiDhanwada-MSFT commented on #60837
@abhishekhotti As there are no further documentation changes, we will close the issue for now. If there are further questions or if you are still facing the issue , kindly revert and we will be very glad to assist you.

[2020-08-20 05:55] #60837 closed

[2020-08-20 05:55] ram-msft commented on #61204
@jcbendernh Thanks for the question. We are investigating the issue and will update you shortly.

[2020-08-20 05:56] AshokPeddakotla-MSFT commented on #61224
@sjalali123 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-20 05:58] ram-msft commented on #61215
@nullpainter Thanks for the question. We are investigating the issue and will update you shortly.

[2020-08-20 05:59] AshokPeddakotla-MSFT commented on #61214
@ForrestTrepte Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-20 06:05] SwathiDhanwada-MSFT commented on #61218
@xuegao0112 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-08-20 06:16] ashishmundrajll opened #61227 "RDP capability as No for both offerings?"
Hi All,

I thought that RDP would be possible to do on SQL Managed Instance (as it states ~100% compatible with SQL Server On-Prem). Can you please add a comparison parameter as Ability to install third party dlls and set as No for both offerings.

I believe that RDP is not possible on SQL Managed Instance. Please correct if I am wrong.

We like to migrate a SQL Server On-Prem which uses a third p

[2020-08-20 06:29] extrawurst commented on #61205
sure @timsander1:

yesterday:
<img width="322" alt="Screenshot 2020-08-19 at 19 28 28" src="https://user-images.githubusercontent.com/776816/90724474-ec0a8f00-e2be-11ea-8f65-3b2645fe3853.png">

today after having more users matching the query:
<img width="356" alt="image" src="https://user-images.githubusercontent.com/776816/90724438-d9905580-e2be-11ea-875f-0caf94c928dd.png">

although there is a

[2020-08-20 06:36] SwathiDhanwada-MSFT commented on #60862
Assigning to content author @bwren for review as PR requires human review for successful build.

[2020-08-20 06:36] lurifaxel opened #61228 "Port number missing from server URL in documentation"
The documentation omits the port number which leads the connection to fail!

Trying to connect using the instructions currently in the documentation leads to an error with the following information:

`Information: ODBC: ERROR [HY000] [Microsoft][ThriftExtension] (14) Unexpected response from server during a HTTP connection: connect() failed: errno = 10060.`

Connecting with a server url composed l

[2020-08-20 06:53] Tapasgt commented on #61016
Hi

I have followed the same document.

The error says that user do not have permission. Then I tried to give the CONTROL permission to the master database user using sa user, but the error showing that the Grantor do not have permission

Thanks & Regards,

Tapas Guhathakurta │ Assistant General Manager - Enterprise Technology & Digital Transformation│ Embee Software Pvt. Ltd. │ Mob: +91 983005506

[2020-08-20 07:01] ChaitanyaNaykodi-MSFT commented on #61065
Hello @TestUser0811, just following up here to see if my comment above was helpful or not?

[2020-08-20 07:01] extrawurst commented on #61205
same problem (high RUs that scale with amount of documents matched) applies to using `aggregate` and `find`+`count`:

[code]

[2020-08-20 07:06] pryanga-wk opened #61229 "Image Data passed to automl_classifier in Azure Machine Learning python SDK runs into EmptyDataException Error"
I am trying to run azure automl on my local PC (MacOS Catalina: 10.15.6) in conda environment with the setup mentioned in https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-environment#local

The aim is to find the best model and parameters using azure automl for binary **color** image classification.

**Training Data Sample:**
[code]

**Code to run automl in local PC:**

[co

[2020-08-20 07:10] sayak1711 opened #61230 "Update "Visualize your data" section"
[The data visualization doesn't work in the same way mentioned in the documentation now. We have to right click the module and click on visualize.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43292990-d88d-87b4-9493-bec115a47c87
* Version Independent ID: 6494aea7-5c9d-fd98-7cd0-4b476d6d4e91
* Content: [Tutorial: Pre

[2020-08-20 07:20] AdamSharif-MSFT commented on #61171
Thank you @TomGeske !
Should we add the same caveat here for managed AAD:
https://docs.microsoft.com/en-us/azure/aks/managed-aad

If so, shall I raise a new issue on that page instead?

[2020-08-20 07:23] vipulsparsh commented on #61186
@alfredorevilla-msft  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@MarkusVi  Can you have a look at this ?

[2020-08-20 07:24] TomGeske commented on #61171
@AdamSharif-MSFT
Enabling managed AAD Integration on existing cluster with RBAC enabled is supported. Do you have any issues doing it?

[2020-08-20 07:24] HarithaMaddi-MSFT commented on #61228
@urifaxel - Thanks for sharing valuable feedback. I am moving it to content owner to review and provide their inputs.

@mssaperla - Can you please take a look?

[2020-08-20 07:30] pyephyoeaung commented on #61155
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/common/storage-use-azcopy-blobs.md#copy-all-containers-directories-and-blobs-to-another-storage-account

There you should update in the syntax and examples.

azcopy copy 'https://<source-storage-account-name>.blob.core.windows.net/<SAS-token>' 'https://<destination-storage-account-name>.blob.core.windows.net/**<SAS-token>**'

[2020-08-20 07:31] SadiqhAhmed-MSFT commented on #61006
@blhoop It seems that the installation path provided is incorrect.

Extract the contents of the installer tarball to a local folder (for example /tmp/MobSvcInstaller) on the machine, as follows:

Please follow these links - https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-mobility-service-overview#linux-machine and https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate

[2020-08-20 07:37] nijandhanj commented on #20128
gg

[2020-08-20 07:46] pnarsi opened #61231 "Set CMK of DBFS root via ARM Template"
Rather than setting up a DBFS root to use a CMK via the UI as documented in this article are we able to use the Databricks Workspace ARM template to specify the reference to a key in AKV to use for at rest encryption for DBFS so that my deployed Databricks is already setup with a CMK for the DBFS root at the time of deployment?

The [ARM template](https://docs.microsoft.com/en-us/azure/templates/m

[2020-08-20 07:46] oczane opened #61232 "Azure Pipeline fails when tries to run azure data lake analytics data projects"
Hi there,

I am facing an issue when I am trying to deploy azure data analytics database projects (that deploys all the schema, tables and procedures to data lake analytics) via Azure DevOps pipeline.

I am following the steps mentioned at the URL https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-cicd-overview#deploy-u-sql-database-through-azure-pipelines. It fails wit

[2020-08-20 07:47] AdamSharif-MSFT opened #61233 "Add section regarding enabling managed AAD for existing non-AAD clusters with RBAC?"
Hello @TomGeske ,

From our discussions I gather it is now possible to retrospectively add Managed AAD to an RBAC-enabled cluster which was not created with any AAD integration, i.e. the below:

`az aks update -n testcluster -g aks-testcluster --enable-aad`

As such, would it be possible to have a section added please to call-out this ability and how to configure the existing cluster?

Thanks for

[2020-08-20 07:54] AshokPeddakotla-MSFT commented on #60541
@PingPongSet Did the above suggestions helped? Please let us know installing specific versions resolves the issue?

[2020-08-20 08:13] stacksimplify opened #61235 "AKS nginx-ingress helm repo provided is deprecated. Can you please update the documentation"
[Enter feedback here]
When we use "stable/nginx-ingress" from helm to install as provided in the documentation, it is saying "This chart is deprecated".  Can you please update your documentation to latest "https://github.com/kubernetes/ingress-nginx"
helm install nginx-ingress stable/nginx-ingress

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-08-20 08:17] AshokPeddakotla-MSFT commented on #60917
@so-rob This would require further troubleshooting to investigate and find out the root cause of the issue.
Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

Thread URL: #
Your Subscri

[2020-08-20 08:23] SnehaAgrawal-MSFT commented on #61159
@cveld You may want to know. There is a current limitation mentioned about not mixing Windows and Linux apps in the same resource group.
You may refer to : https://docs.microsoft.com/en-us/azure/app-service/overview#limitations
recommendation here is try creating a new resource group for linux resources

Also, there is already a [feedback on](https://feedback.azure.com/forums/169385-web-apps/sugge

[2020-08-20 08:26] SnehaAgrawal-MSFT commented on #60987
Just checking if you have chance to see above response. let us know to help you better on this.

[2020-08-20 08:27] MayankBargali-MSFT commented on #61202
@tjohnson1010 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-20 08:44] JasperCQC commented on #60987
Hi,
As written above there is no escaping of the comma - I have been trying to escape the comma with the following input:
[code]
This returns the response:
[code]

I have tried `\\,` and this does submit successfully (returning status code 201 created), but as I understand it this only escapes the backslash.

Should I be using a different format of escape characters?

I am using the 2019-05-06 API

[2020-08-20 08:54] wukun2015 commented on #61056
Hello @SnehaAgrawal-MSFT

Sorry i should've make the ask more specific: This ask is about speech recognition accuracy on zh-CN, not phrase list feature. i've re-word the ask.

Would you please re-open it for further discussion ?

Thank you.

[2020-08-20 09:07] wukun2015 opened #61236 "Does Live Transcription support Custom Speech Recognition feature ?"
Hello,

Does Live Transcription support [Custom Speech Recognition](https://speech.microsoft.com/customspeech) feature ?

I think it'll benefit user a lot to get higher accurate transcription.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2a7f8af-b16f-f032-4def-63eb6aed6c3c
* Version Independent ID: c44e2

[2020-08-20 09:15] TomGeske commented on #61233
I just added a update section to our doc. PR is out. Should go live next 24 hours.

#please-close

[2020-08-20 09:15] #61233 closed

[2020-08-20 09:16] c-lamont opened #61237 "Clarification on Sandbox vs Production"
In the Azure Hub you have the ability to select the "Application Mode" as Sandbox or Production.

However it does not mention that any app that uses a distribution certificate whether it is Ad Hoc or Production (of course), needs to use the Production "Application Mode".

The description in the Azure Hub is: "Use Sandbox for initial development and testing. Use Production for the production versio

[2020-08-20 09:17] shashishailaj commented on #61208
@v-sijeff Thank you for your query . We will review the ask and as this ask is related to Microsoft internal systems , we will take this offline.

[2020-08-20 09:18] v-sijeff commented on #61208
When you say, “we will take this offline”, what exactly do you mean by that, please?

Thank you

Jeff

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: ShashiShailaj-MSFT<mailto:notifications@github.com>
Sent: Thursday, August 20, 2020 2:18 AM
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc: Jeffrey Silverman (Populus Group LLC)<mailto:v-si

[2020-08-20 09:26] VikasPullagura-MSFT commented on #61233
@TomGeske Thanks for quickly updating the doc.

[2020-08-20 09:29] psmanhas commented on #61216
@truekonrads Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-08-20 09:30] wecloudheroes commented on #8034
I have a similar query but little addition to this.
We have wildcard certificate *.[companyname].co.in and we have created a new DNS record for  WebApp hosted on Azure PaaS.
 like _[ApplicationName].azurewebsites.net_
We have added DNS CNAME record for above like www.[application].[companyname].co.in  and it's allowed in Custom DNS.
But while configuring SSL it's stated that **Multilevel wildcard

[2020-08-20 09:31] psmanhas commented on #61139
@kumarallamraju Thank you for your patience over the matter. I had discussion internally over the issue and as per the discussion CLI [code](https://github.com/Azure/azure-cli/blob/bdebc5fd4e8c7f33de7240cb46884dfb807a46e9/src/azure-cli/azure/cli/command_modules/acs/_help.py#L225) is fine.

We checked the same on our side and below is the output:

![image](https://user-images.githubusercontent.com/

[2020-08-20 09:32] HarithaMaddi-MSFT commented on #61223
@pnarsi - Thanks for asking the question. Yes, as per MS [documentation](https://docs.microsoft.com/en-us/azure/databricks/release-notes/release-types) from MS, public preview features are adhered to standard SLAs. Please let us know if this helps answering the question. We will be glad to assist further.

[2020-08-20 09:33] assaf-grth opened #61238 "Application insights requests query string"
I'm using the application insights search functionality to view logs of requests to an Azure function
I can't seem to find any details of request query string parameters, are they available somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e8d2de3-73e5-857c-f87e-38ad9ed1358d
* Version Independent ID: 86ad9550-

[2020-08-20 09:35] shashishailaj commented on #61208
@v-sijeff As you have a Microsoft email address ,  i will email you internally . That's what i meant by taking this offline. Let me email you in some time.

[2020-08-20 09:36] HarithaMaddi-MSFT commented on #61232
@oczane - Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2020-08-20 09:36] VikasPullagura-MSFT commented on #61054
@pcdiks
The issue gets auto closed once the doc update PR is approved. The changes go live may take sometime. So when you checked the doc you might have seen the old content.

However, the doc is updated now based on your feedback.

Hope this helps.

![image](https://user-images.githubusercontent.com/48944027/90753861-bf726980-e2f6-11ea-8106-529a0b08a7b6.png)

[2020-08-20 09:38] HarithaMaddi-MSFT commented on #61231
@pnarsi - Thanks for the query. We are currently investigating into it and will update you shortly.

[2020-08-20 09:45] wecloudheroes opened #61239 "Azure WebApp - Multilevel wildcard certificate are not supported"
I have a similar query on Multilevel wildcard certificate are not supported.
We have wildcard certificate *.[companyname].co.in and we have created a new DNS record for WebApp hosted on Azure PaaS.
like [ApplicationName].azurewebsites.net
We have added DNS CNAME record for above like www.[application].[companyname].co.in and it's allowed in Custom DNS.
But while configuring SSL it's stated that Mu

[2020-08-20 09:46] VikasPullagura-MSFT commented on #61182
@TimLovellSmith Thanks for your question.
Both the links are redirecting to the same page.

https://docs.microsoft.com/en-us/troubleshoot/azure/virtual-machines/extension-supported-os

Can you please add more details to address your feedback in improving azure documentation.

[2020-08-20 09:49] dipree opened #61240 "Wrong parameter in Ruby example"
Noticed this small misspelled parameter in the Ruby example line 6. It should be `sslca` instead of `ssl_ca`.

`mysql2` Ruby gem documentation for reference: https://github.com/brianmario/mysql2#ssl-options

👋
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a94e6f-a799-494f-f2f9-171c1804e5f4
* Version Independent ID: 0

[2020-08-20 09:49] VikasPullagura-MSFT commented on #61235
@stacksimplify
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-20 09:50] VikasPullagura-MSFT commented on #61235
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-08-20 09:54] VikasPullagura-MSFT commented on #61226
@lesterlitch
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-20 09:54] VikasPullagura-MSFT commented on #61226
@JnHs
Can you please check and add your comments on this doc update request as applicable.

[2020-08-20 10:01] jakrams commented on #61214
Oh, yes you are right. Though in this case I'd tend to just remove the mentioning of a shortcut entirely, since there are multiple possibilities, and I think I can expect people to know how to build code in general.

[2020-08-20 10:03] truekonrads commented on #60145
Hello. I'm a little disappointed in this response. I'm sure your Kusto gurus can figure out how to avoid limits. My chief complaint is that reference example is incomplete and could expose people who don't undertand classic vs arm.

[2020-08-20 10:10] aggerritsen opened #61241 "CosmosDB Bindings using Powershell"
Hi,

What would be a practical code example for Function App using (CosmosDB) output bindings using Powershell, other than simple picking up the connectiong string and using third party Powershell Cmdlets?

Kind regards,
Arjen Gerritsen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d575e82-637b-32de-e64d-75adf4b6d976

[2020-08-20 10:12] tiagoroxo opened #61242 "Duplicated string in the list of cmdlets"
Duplicated string in the list of cmdlets
Get-AzureADMSGroupLifecyclePolicy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee217532-6b64-61f7-d965-bc95d9198cdb
* Version Independent ID: f6bab9a9-1b8b-01db-6e42-045eb04efe9e
* Content: [Set expiration for Microsoft 365 groups - Azure Active Directory](https://docs.microso

[2020-08-20 10:15] vipulsparsh commented on #60971
@bubbletroubles  This has been recorded in our internal item and should be processed soon. Thanks.

[2020-08-20 10:15] #60971 closed

[2020-08-20 10:18] DreamRivulet opened #61243 "AKS Cluster autoscaler now supports minimum node count as zero"
AKS Cluster autoscaler now supports minimum node count as zero, see the AKS release note: https://github.com/Azure/AKS/releases/tag/2020-08-10 , and the issue: https://github.com/Azure/AKS/issues/1565.

Could we add some documents about this feature? like the requirements, and limitations. Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-08-20 10:20] AnuragSharma-MSFT commented on #61240
@dipree Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-20 10:22] psmanhas commented on #61222
@darrenjoycenz Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-08-20 10:25] Vikassharmas opened #61244 "Outbound connection from Inside VM to outside"
Dear Team,

I was configuring the LB using the documentation.  You have chosen a different public IP (PIP) for outbound. Can't we reuse the sane public IP, we are using for inbound connection? It seems NAT will be done in background on this PIP. Can't we do the NAT on existing PIP used for inbound connection?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-08-20 10:28] #61241 closed

[2020-08-20 10:51] RohitMungi-MSFT commented on #61229
@pryanga-wk Thanks for the question. Based on the data the train data might be incorrect. An example of setting up the train data is used in this [sample](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/classification-bank-marketing-all-features/auto-ml-classification-bank-marketing-all-features.ipynb) for a classification scenario. Could

[2020-08-20 10:52] nerajput1607 commented on #61074
Any user added as editor or reader should be able to see all the KBs present in the service. They need not to be added as contributor role.  Here is the type of access you get with every role: https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/reference-role-based-access-control

[2020-08-20 10:56] RohitMungi-MSFT commented on #61230
@sayak1711 Thanks for spotting this. Yes, this is a recent change that needs user to right click and visualize the data. @PeterCLu Could you please help to update screen shots for this scenario in the documents?

[2020-08-20 11:00] aodugga commented on #58313
Hi all, we had another case today for the same customer where they had not known to check the mid month release notes for fixes 120081825000027

[2020-08-20 11:05] psmanhas commented on #60992
@neljo Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-20 11:05] #60992 closed

[2020-08-20 11:06] psmanhas commented on #60233
@rageanilkumar Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-20 11:07] #60233 closed

[2020-08-20 11:07] kushalbhabra commented on #60567
Thank you for the detailed answer ! This helps a lot!!

[2020-08-20 11:08] psmanhas commented on #60857
@viktors-telle Thank you for your response. Hope the provided information is helpful.

I will now close this issue for time being. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-20 11:08] #60857 closed

[2020-08-20 11:19] VikasPullagura-MSFT commented on #61243
@DreamRivulet
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-08-20 11:19] VikasPullagura-MSFT commented on #61243
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-08-20 11:24] blhoop commented on #61006
Thanks for your feedback. I have been following those doc's and ran the tar command to extract the installer to /tmp/MobSvcInstaller.  We'll just close this github issue.

[2020-08-20 11:24] #61006 closed

[2020-08-20 11:55] SudeshSharma opened #61246 "Got ERR_HTTP2_INADEQUATE_TRANSPORT_SECURITY error after installation of azure ssl certificate?"
Hey Guys,

I have purchased ssl certificate from azure. I have created a website on azure vm IIS webserver. I have installed ssl certificate to my vm and attached website to iis web server. But after installation, I have got below error on browser:

![2020-08-20 (1)_LI](https://user-images.githubusercontent.com/43905979/90767085-306f4c80-e30a-11ea-9081-f8bef6c45369.jpg)

[2020-08-20 12:00] thomasheartman opened #61247 "Mismatch between file names: `recieve.js` vs `receiveMessages.js`"
Hey! I was just reading through the docs when I noticed this. I'm assuming someone just forgot to update both filenames. At least I couldn't find any other references to `receiveMessages.js`

In the guide for how to receive messages with Node.js, there appears to be a mismatch between the file names used in the examples: Step 2 says to create a file called `recieve.js`, but in step 4, the guide sa

[2020-08-20 12:08] SwathiDhanwada-MSFT commented on #61238
@assaf-grth Thanks for your question. You should be able to view the logs as mentioned in the document. I would suggest you to check if Application Insights is properly configured or not. As the required Application Insights instrumentation is built into Azure Functions, all you need is a valid instrumentation key to connect your function app to an Application Insights resource. Refer [this docume

[2020-08-20 12:18] CharlesAtDCube commented on #25357
Same here, while trying to copy data from on prem SQL Server instance with IR correctly installed (I can look up), to Azure SQL Database, I get the same error as @chandainfy. As if the on prem base tried to connect directly to my azure sqldb.

[2020-08-20 12:25] RohitMungi-MSFT commented on #61069
@irishun Could you please let us know if you got a chance to review the json used for import?

[2020-08-20 12:27] Jont-K commented on #61134
Great - thank you very much.  @Brian Levenson
<Brian.Levenson@microsoft.com> FYI
per our Teams chat.

*Jonathan Kingsepp*
e: jont@tackle.io
m: 312.286.6102
https://tackle.io

On Wed, Aug 19, 2020 at 11:46 PM SadiqhAhmed-MSFT <notifications@github.com>
wrote:

[2020-08-20 12:31] lenneths opened #61249 "There is nothing on this page"
I was expecting helpful documentation ... and got absolutely nothing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 298b87f4-b6eb-5642-7ab5-cd6df709390d
* Version Independent ID: 0518cce4-7677-6d63-979d-e0a9e532efc0
* Content: [Quickstart: Create a Node.js web app - Azure App Service](https://docs.microsoft.com/en-us/

[2020-08-20 12:37] plzm opened #61250 "In "Magic Commands" section, it says to tell use cases on github, but no link is provided"
In the "Magic Commands" section, it says to "Tell us your use cases on GitHub" (for additional magic commands). I may have missed it, but the doc doesn't have an obvious link to wherever on github such use cases should be reported. Could that be added very obviously? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-08-20 12:42] msghaleb opened #61251 "what if I want to install one single update and ignore everything else?"
Thanks for the great work, can you please add under important note under point 7:

In case you would like to install just a single update, make sure that everything under "update classifications" is unchecked and add the needed updates in the include section.

Unfortunately the update classifications are checked by defaults and it can be very confusing on what is needed to install just a single up

[2020-08-20 12:43] MayankBargali-MSFT commented on #61247
@thomasheartman Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-08-20 12:44] KrishnaG-MSFT commented on #61251
@msghaleb Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-20 12:52] JoshuaRedmond opened #61252 "Missing content on "Configure a Java app for Azure App Service" page"
Hi.

Looks like something is causing [this page ](https://docs.microsoft.com/en-gb/azure/app-service/configure-language-java) not to render. Its markdown looks complete in https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/app-service/configure-language-java.md, but it doesn't seem to show any content on the page itself (see screenshot below).
![image](https://user-images.githubuserc

[2020-08-20 12:56] #61247 closed

[2020-08-20 12:59] #60452 closed

[2020-08-20 13:03] StephaneBischoff commented on #61101
A pleasure

[2020-08-20 13:20] MGoedtel commented on #61251
@msghaleb - Excellent point, thanks for catching that and bringing it to our attention..  I'll bug the article and get that fixed before the end of the week.  #please-close

[2020-08-20 13:20] #61251 closed

[2020-08-20 13:24] extellior opened #61253 "Disregard this"
EDIT: I didn't look at this close enough and see that you are using a token.  You can delete this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a011bf56-7d5b-584b-4c48-2053578963f7
* Version Independent ID: ba3c3902-b0cd-8011-b1c5-fb6cb5bc97eb
* Content: [Azure Functions Twilio binding](https://docs.microsoft.com/en-

[2020-08-20 13:26] SnehaAgrawal-MSFT commented on #61236
@wukun2015 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-20 13:28] #61253 closed

[2020-08-20 13:28] SnehaAgrawal-MSFT commented on #61249
@lenneths Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-20 13:31] SnehaAgrawal-MSFT commented on #61252
@JoshuaRedmond Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-20 13:32] SnehaAgrawal-MSFT commented on #61237
@c-lamont Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-20 13:33] JayaChatterjee-MSFT commented on #61135
@Anitalex I was able to replicate the issue. I followed the error details in the terminal which says :
![image](https://user-images.githubusercontent.com/51781464/90776024-31f34180-e317-11ea-84b6-9ef98e0fc5bf.png)

I installed the specified framework and the function works fine now. https://dotnet.microsoft.com/download/dotnet-core/2.1/runtime/?utm_source=getdotnetcore&utm_medium=referral

However

[2020-08-20 13:46] SubhashVasarapu-MSFT commented on #61244
@Vikassharmas , Thanks for reaching out. We will investigate and update this thread.

[2020-08-20 13:53] laminsamba opened #61254 "Azure B2C Password Reset Policy not working in apim developer portal"
Hi, I'm trying to configure Azure B2C to authenticate users signing into the developer portal. I created a reset pass word policy i.e. "B2C_1_PasswordReset", and configure it in the apim Identities. it works when I tested it from the Azure portal but doesn’t work when I try it from the apim developer portal. The error I get is “AADB2C90118: The user has forgotten their password”.
Regards
Lamin

[2020-08-20 13:55] BhargaviAnnadevara-MSFT commented on #61188
@denzilribeiro Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-20 13:56] BhargaviAnnadevara-MSFT commented on #61189
@yelevin Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-20 13:56] TheBluLion opened #61255 "Page is blank. Azure quickstart button from azure portal links here."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 298b87f4-b6eb-5642-7ab5-cd6df709390d
* Version Independent ID: 0518cce4-7677-6d63-979d-e0a9e532efc0
* Content: [Quickstart: Create a Node.js web app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/quickstart-nodejs?pivots=platf

[2020-08-20 13:58] BhargaviAnnadevara-MSFT commented on #61213
@martintoreilly Thanks for the question. We're investigating this and will get back to you shortly.

[2020-08-20 13:59] Nikash commented on #61176
Yes, it'd be interesting to learn how we can get CI to work with ML studio. Do let us know if you want us to create a support request to have it enabled.

[2020-08-20 14:11] novigado opened #61256 "One cluster per subnet"
In this document, it is not explicitly stated that you can only have one cluster in a subnet.

In the document that describes how to setup a cluster with kubenet, this is specified in the prerequisites
https://docs.microsoft.com/en-us/azure/aks/configure-kubenet#prerequisites

I think this prerequisite should be included also to this document.

---
#### Document Details

⚠ *Do not edit this sectio

[2020-08-20 14:15] yvesrosius opened #61257 "Add-Content "c:\work\currentblockedwordslist.txt" -Value $words.value.Split(",").Replace("`"","") requires local administrator permissions"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3fb85a8-d842-f101-909e-86751922da43
* Version Independent ID: 0c99b5ef-753e-1085-a682-c55ea4059207
* Content: [Enforce group naming policy in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-na

[2020-08-20 14:15] KatteKwaad opened #61258 "Probable type"
Under step one, BGP settings, you've got 66515 instead of 65515 in the second paragraph

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124ec59c-bf0d-50e1-8972-63ebb8870302
* Version Independent ID: 025b232f-8fc9-0a2a-3220-a646866b4bbc
* Content: [Connect a virtual network gateway to an Azure Virtual WAN](https://docs.m

[2020-08-20 14:33] sdgilley commented on #61114
See https://docs.microsoft.com/en-us/azure/machine-learning/how-to-assign-roles#q-what-are-the-permissions-needed-to-perform-some-common-scenarios-in-the-azure-machine-learning-service

I can add a link to this in the workspace creation docs.  Your specific issue, however, looks like a bug.

[2020-08-20 14:34] SaurabhSharma-MSFT commented on #61257
@yvesrosius Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-20 14:35] SaurabhSharma-MSFT commented on #61242
@tiagoroxo Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-20 14:36] cinglis-msft opened #61259 "How to guarantee field is formatted as a date"
How do you ensure that a property can be ingested as a datetime (eg," _t")? This information is unclear. Can we add the suffix to each of the properties ourselves? Is there a specific format that the date string need be in for Log Analytics to format it as a "_t"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3

[2020-08-20 14:38] wcrivelini commented on #31961
I had exactly the same feeling as @yuharucan and I wonder why no adjustment was made after over 1 year. This is a pretty uncommon concept on what "geo-replication" is expected to be

[2020-08-20 14:43] HarithaMaddi-MSFT commented on #61232
@oczane - I am moving it to content author to review and share the details.

@liudan66 - Can you please take a look and share your thoughts on this?

[2020-08-20 14:43] rgamage commented on #61118
Thanks for your response.  Yes I would like to set up a meeting to better
understand our options.  Regarding the payload format, it is not locked
yet, we can still make some adjustments in the structure of the data.  Yes
we need the PlatformName as one of the elements of the composite key, it is
used to separate instances into different hierarchies depending on
platform.  We need all of our three

[2020-08-20 14:45] HarithaMaddi-MSFT commented on #61223
@pnarsi - I am closing the issue now, please feel free to post a comment for more queries.

[2020-08-20 14:45] #61223 closed

[2020-08-20 14:54] axorth commented on #61093
Thanks, please also let me know if you find a work around. In the mean time I will attempt to fix it myself.

[2020-08-20 14:55] diberry commented on #61069
My app.json for a list entity for schema v7.0.0. is:

[code]

The app.json labeled utterance that uses this utterance is

[code]

[2020-08-20 14:55] mwgrice opened #61260 "Reserved addresses in subnets does not take CIDR into account"
[Enter feedback here]

The documentation assumes everybody is using a /24. Which yeah it is gonna be pretty common, but not universal. I suggest at least acknowledging this in the examples. For instance:

Microsoft reserves 5 addresses in each subnet. These include:

- The network address. In a network with a subnet mask of 255.255.255.0 or a prefix of /24, this is the .0 address.
- The first thre

[2020-08-20 15:02] SadiqhAhmed-MSFT commented on #61134
@BrianLevenson Thank you for assisting @Jont-K in this matter.

@Jont-K Are we good to close this issue?

[2020-08-20 15:11] KranthiPakala-MSFT commented on #61227
@ashishmundrajll Thank you for reaching out. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-08-20 15:14] #61114 closed

[2020-08-20 15:15] HarithaMaddi-MSFT commented on #61231
@pnarsi - I am moving it to content owner to review.

@mssaperla - Can you please take a look?

[2020-08-20 15:18] Jont-K commented on #61134
yes, thank you

*Jonathan Kingsepp*
e: jont@tackle.io
m: 312.286.6102
https://tackle.io

On Thu, Aug 20, 2020 at 10:02 AM SadiqhAhmed-MSFT <notifications@github.com>
wrote:

[2020-08-20 15:18] tiago-alves opened #61261 "AADB2C90068: The provided application with ID is not valid against this service. Please use an application created via the B2C portal and try again"
I have configured a custom policy that just perform signin (I have removed any other custom steps I will use just to make sure the issue is not with policy).

I have followed all instructions for creating IdentityExperienceFramework and ProxyIdentityExperienceFramework. When I run the user flow, it shows the UI screen, posts the request and does not redirect and does not show any errors. Since I e

[2020-08-20 15:25] SatishBoddu-MSFT commented on #60633
**Update:**
Microsoft team is working on the [issue](https://github.com/Azure/azure-sdk-for-net/issues/13940) with Azure.identity 1.2.0 package, please stay tuned for further updates.

[2020-08-20 15:33] alexiq opened #61262 "Please consider update periodically"
[Enter feedback here]

I see the page states:
"Microsoft does not plan to update them for newly added services periodically"
Requesting that Microsoft please consider to update with newly added services periodically.
Thank you for your consideration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c02

[2020-08-20 15:47] MarileeTurscak-MSFT commented on #61262
@alexiq
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-20 16:11] tihomirbg commented on #40210
Hello, I faced to the same response error:
{
    "error": "invalid_request",
    "error_description": "AADSTS50107: The requested federation realm object 'https://sts.windows.net/xxxxxxxx does not exist.\r\nTrace ID: 38fc0835-db2d-4b19-9a15-2a28a6045300\r\nCorrelation ID: 6a2e2b35-ff9a-47bc-bd60-dc466f2ee4bf\r\nTimestamp: 2020-08-20 15:37:27Z",
    "error_codes": [
        50107
    ],
    "timest

[2020-08-20 16:20] KranthiPakala-MSFT commented on #61239
@wecloudheroes Thanks for reaching out. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? If your question is generic and not specific to a document, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we have

[2020-08-20 16:22] KranthiPakala-MSFT commented on #61246
@SudeshSharma Thanks for reaching out. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? If your question is generic and not specific to a document, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we have o

[2020-08-20 16:29] KranthiPakala-MSFT commented on #61261
@tiago-alves Thanks for reaching out. To better assist your query, could you please share the document link which you are currently following so that we can involve the appropriate team? If your question is generic and not specific to a document, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we have ou

[2020-08-20 16:37] cinglis-msft commented on #61259
You have to format it as "YYY-MM-DDTHH:MM:SS.fZ", where f is ms, so eg "2020-08-20T16:31:44.375Z”.

[2020-08-20 16:39] tiago-alves commented on #61261
@KranthiPakala-MSFT , thanks for your response.

I am following this document: https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-get-started

I followed all the steps and now I am facing the issue I reported. Last month I followed the exactly same document and it worked. I am not sure but it looks like an update on Azure AD B2C?

[2020-08-20 16:47] BharathNimmala-MSFT commented on #60825
@bakerm00  Apologies for delayed response on this. If your query is around whether Azure Automation Start/Stop VM's during Off-Hours solution will work cross subscription , with the current limitations of the feature it cannot.

The following are limitations with the current feature, which are [documented in the overview page of the feature](https://docs.microsoft.com/en-us/azure/automation/automa

[2020-08-20 16:47] #60825 closed

[2020-08-20 16:52] kfarlee commented on #59636
There is a WSFC feature in Windows Server 2019 called Distributed Network Names (DNN)  Using this feature enables you to have the same functionality without needing to configure a load balancer at all.
While it is possible to share the same ILB between the CAP and SQL Serve, in general we'd like to not constrain the Cluster Access Point to being hosted on the same node as the SQL Server FCI or Alw

[2020-08-20 16:55] rusan-css opened #61266 "Add more examples of non password based tokens"
I'd like to add one recommendation to the existent "Note" box of the doc in https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#revocation, another example that includes token obtained from an IdP credential where authentication method was other than password. E.g.:
AuthenticationMethod="urn:oasis:names:tc:SAML:2.0:ac:classes:Telephony"

Customer that are in this scenario

[2020-08-20 16:58] BharathNimmala-MSFT commented on #61259
@cinglis-msft Thank you for bringing this to out notice, will review it and update the document accordingly.

[2020-08-20 17:07] shashishailaj commented on #61208
@v-sijeff Thank you for your query. As per our call internally , the action item you had is fixed and I had explained about why you do not see the subscription. We will now close this issue.

[2020-08-20 17:08] #61208 closed

[2020-08-20 17:10] BharathNimmala-MSFT commented on #37458
@danimir Thank you for helping on this thread.

@Blackbaud-CameronBlack Closing this old thread, the document seems to be be updated already. If you have any further feedback please let us know. Thank you

[2020-08-20 17:10] #37458 closed

[2020-08-20 17:12] KranthiPakala-MSFT commented on #61261
@tiago-alves Thanks for the details. I have added appropriate tags and one of our engineer will review the ask and provide an update as appropriate.

[2020-08-20 17:12] IngridAtMicrosoft commented on #61236
Hi @wukun2015,
We do not currently support any customization feature on live transcriptions.  Also, please know that we are paying attention to your input. :-)
Ingrid

#please-close

[2020-08-20 17:12] #61236 closed

[2020-08-20 17:24] MartinJaffer-MSFT commented on #61250
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-08-20 17:25] clouddatabuilders commented on #25357
Please can someone provide more detail around port 8060 and whether that's needed.  As I understand, this port only required when configuring HA mode for the IR engine for an on premise setup?

[2020-08-20 17:28] jstevans commented on #16061
@harelbr Is this available via [the REST API](https://docs.microsoft.com/en-us/rest/api/monitor/metricalerts/createorupdate), or will it be? We'd like to open a PR against the [Terraform provider](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/internal/services/monitor/monitor_metric_alert_resource.go), but need upstream ([REST](https://github.com/Azure/azure

[2020-08-20 17:30] piotrgwiazda commented on #60995
Hi
The scenario where a User Group is set as an AD Admin I have done following the documentation. Thank you.

What I am trying to accomplish is to set a Service Principal as an AD Aministrator instead of a user or User Group.

[2020-08-20 17:32] timsander1 commented on #61205
Thanks for sharing! For MongoDB API accounts, even if a similar query were to utilize an index in Core (SQL API), it does not necessarily mean that it would in MongoDB API. However, in the specific case you shared, an index would significantly reduce the RU charge.

Could you check the version you are using (3.2 or 3.6): https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-feature-support-36#p

[2020-08-20 17:33] rlevchenko commented on #61015
@yugangw-msft thanks!

[2020-08-20 17:36] ecfan commented on #61202
@tjohnson1010 & @MayankBargali-MSFT, thanks! I've asked the engineering team for more information and will create a work item for prioritization on the doc backlog.

[2020-08-20 17:37] TimLovellSmith commented on #61182
OK. I reported it via one other avenue. Maybe someone fixed it already? :)

[2020-08-20 17:37] #61182 closed

[2020-08-20 17:42] KranthiPakala-MSFT commented on #61198
Hi @Paul06 , thanks for your response. Please refer to below image for further clarification

![image](https://user-images.githubusercontent.com/50185738/90806289-a7d4ba00-e2d1-11ea-9d61-0bc1fc7abcb4.png)

`FolderPath_Source` is the `contatiner name` and `Directory_Source` is the the `root folder/subfolder` if you don't have folder leave as empty.

Hope this helps.

[2020-08-20 17:49] v-jasgi opened #61268 "Storage Sense Disable - Add Amplifying Info."
Hi Team,

I was hoping you could add a bit more information to this page:

- Some of my customers are interested in using Storage Sense with Windows 10 multisession in WVD, however the current documentation recommends that it be disabled when building an image for Windows 10 multisession.  We need to provide more details on why we recommend it be disabled and/or what impacts there may be if enable

[2020-08-20 17:51] KranthiPakala-MSFT commented on #61181
Hi @briancuster, If your feedback on a specific document, I would recommend you to please open up a new issue under that document using the below button.

![image](https://user-images.githubusercontent.com/50185738/90806852-74465f80-e2d2-11ea-84b6-441b36cae332.png)

In case if your query is not a feedback on document, I would recommend you to please open a new thread in [Microsoft Q&A](https://doc

[2020-08-20 17:51] #61181 closed

[2020-08-20 18:03] mike-urnun-msft commented on #60824
Hello @NickLocke Behavior shouldn't be any different during local development and `batchSize=1` use-case is working as expected in my test:
![image](https://user-images.githubusercontent.com/36717703/90808038-44985700-e2d4-11ea-8678-f69e612956b7.png)

Since we didn't determine any changes to this documentation upon reviewing this feedback, we'll now proceed to close this issue. If there are furthe

[2020-08-20 18:03] #60824 closed

[2020-08-20 18:03] KranthiPakala-MSFT commented on #61016
Hi @jasonsue53 Thanks for your response. Since it is specific to SQL issue, I would recommend you to please post your issue in Microsoft Q&A forum : https://docs.microsoft.com/en-us/answers/topics/azure-sql-database.html, which is a better suited forum for such queries. We have our engineers who will be happy to assist.

Thank you

[2020-08-20 18:13] adamkadzban commented on #59623
I agree, this can be closed

[2020-08-20 18:14] leifbro commented on #60898
@AV25242 Do you know if Couchbase spark-connector 2.4, which is compiled against Scala 2.12, is compatible with Spark 3.0? It is listed only as compatible with Spark 2.4, but as Spark 3.0 uses Scala 2.12, there is reason to hope that the Couchbase 2.4 connector is compatible.

[2020-08-20 18:28] WinstonHoward-MSFT commented on #61256
Thanks for the inquiry, ill take a look!

[2020-08-20 18:37] BryanTrach-MSFT commented on #8034
@wecloudheroes Since this is a different ask and more troubleshooting rather than document feedback, please post your question on our troubleshooting forums. We have engineers engaged on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-webapps.html) who can assist you further.

[2020-08-20 18:39] RyanHill-MSFT commented on #61255
Thanks for the feedback @TheBluLion! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-20 18:39] asackmann commented on #40699
Here is the Idea, please vote!
https://feedback.azure.com/forums/270578-data-factory/suggestions/41092147-parameterize-the-integrated-runtime-within-the-lin

[2020-08-20 18:40] extrawurst commented on #61205
@timsander1 we are using version `3.6`. according to a support ticket response from someone at azure we are experience a problem that supposedly has a fix rolling out 1st of September - we will see.

[2020-08-20 18:44] timsander1 commented on #61205
Got it. Since there is no update needed in the docs, I'm going to close this issue. For the support case, please feel free to send me an email with the support request number (tisande at microsoft dot com) and I can take a look to provide more details.

[2020-08-20 18:44] timsander1 commented on #61205
#please-close

[2020-08-20 18:44] #61205 closed

[2020-08-20 18:51] roygara commented on #60621
#please-close

[2020-08-20 18:51] #60621 closed

[2020-08-20 18:53] jasonnutter commented on #61077
@andrewflierman Can you please post the configuration you are using for `UserAgentApplication`?

[2020-08-20 18:55] MonikaReddy-MSFT commented on #61203
@robvet -  Can you please share with us the URL of the document that you are having issues with?

[2020-08-20 19:04] msangapu-msft commented on #61255
Thanks @RyanHill-MSFT, we've prioritized the PR to fix this issue https://github.com/MicrosoftDocs/azure-docs-pr/pull/126741

[2020-08-20 19:06] mhopkins-msft commented on #61108
@SeanFeldman Thanks for reporting this. I went ahead and updated the date because several updates have been made since April.

Just so you're aware, we only change this date when significant updates have been made to an article. So, I wouldn't necessarily expect it to match the latest commit.

Thanks again for letting us know,
 ~ *Mark*

[2020-08-20 19:11] SaurabhSharma-MSFT commented on #61172
@andrewwiebe I suggest you to please open a [Azure Support Ticket](https://aka.ms/azsupt) so that Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2020-08-20 19:15] guardrex opened #61271 "404 in the ToC"
<img width="208" alt="Capture" src="https://user-images.githubusercontent.com/1622880/90814977-91d5f200-e2ef-11ea-916e-fdf7a45a7143.PNG">

For ...

https://azure.microsoft.com/resources/samples/active-directory-dotnet-native-aspnetcore-v2

... results in a 404.

[2020-08-20 19:20] mike-urnun-msft commented on #57043
@terminic Apologies for the long delay in our response. I've created PR that updates the screenshot that depicts a matching output of the sample.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-20 19:20] #57043 closed

[2020-08-20 19:22] MonikaReddy-MSFT commented on #61271
@guardrex -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-08-20 19:28] guardrex commented on #61271
It's in the ToC ...

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/TOC.yml#L51

[2020-08-20 19:37] #61161 closed

[2020-08-20 19:44] tfitzmac commented on #60879
@SteveStraleyAstute - thanks for this feedback. Which async operations you were running? I am double-checking the response from async operations.

[2020-08-20 19:56] AnuragSharma-MSFT commented on #61028
@hnst-grl123 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-20 19:56] #61028 closed

[2020-08-20 19:58] AnuragSharma-MSFT commented on #61095
@hnst-grl123 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-20 19:58] #61095 closed

[2020-08-20 20:00] baanders commented on #60633
Adding a documentation note as well:
In the meantime, we have documented this as a [known issue](https://docs.microsoft.com/azure/digital-twins/troubleshoot-known-issues#issue-with-interactive-browser-authentication) with Azure.identity version 1.2.0, citing the workaround to use version 1.1.1 instead.

We will remove the known issue when the issue with the package is resolved.

[2020-08-20 20:02] SaurabhSharma-MSFT commented on #61168
@AshleyYang25 When decrypting at the application side you need to use the private key of the same certificate to decrypt the token.

[2020-08-20 20:04] kort3x commented on #35343
Information in AAD Portal is still not helpfull:

[2020-08-20 20:07] SteveStraleyAstute commented on #60879
The object returned from the call does not match what is documented.

From: Tom FitzMacken <notifications@github.com>
Sent: Thursday, August 20, 2020 12:44 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Steve Straley <steves@astuteinc.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] This page is totally out of date. The json structure of many