[2018-10-15 16:35] lluesing opened #16862 "What's the replacement?"
The article now reads: "This System Center Operations Manager Management Pack is now deprecated. It does not support the latest Application Insights SDKs and is no longer recommended." What's the replacement for this functionality then? How can we send data to Application Insights without having to break our SCOM monitoring? Been trying to get an answer on this from Premier for weeks and weeks.

-

[2018-10-15 16:36] YutongTie-MSFT commented on #16837
@thecpshah Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-15 16:36] YutongTie-MSFT commented on #16841
@ArvidBaa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-15 16:38] Alberto-Vega-MSFT commented on #16453
@shawon017 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 16:38] #16453 closed

[2018-10-15 16:39] bjthomson commented on #14663
Interesting, I created a new empty project (webForms) and added connected service, identifying the same keyvault as before, same result. I found a clue here: https://docs.microsoft.com/en-gb/azure/key-vault/service-to-service-authentication
The extension mentioned was supposedly not required since I'm on VS 15.8.7, but it talks about the AccountSelection under the vs menu tools...options.
![vsauth

[2018-10-15 16:40] MGoedtel commented on #16862
Looping in @mrbullwinkle from the App Insights doc team to help answer this question.

[2018-10-15 16:40] Adam-Smith-MSFT commented on #16839
@WenJason Thanks Jason, you are right the Underscores are not supported. I also found a duplicate comment from you, I will close this thread and will assign the other to the author to fix the issue.

Thanks,
Adam

[2018-10-15 16:40] #16839 closed

[2018-10-15 16:41] Adam-Smith-MSFT commented on #16846
@WenJason Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.
@alkohli I can confirm underscores are not supported for the name of the account.

[2018-10-15 16:42] rezasherafat commented on #16620
These are not exactly the same :) one is for "**Device-to-cloud**" and the other is for "**Cloud-to-device**":

[2018-10-15 16:43] MicahMcKittrick-MSFT commented on #16818
@iFoton thanks for that.

@jason-j-MSFT can you take a look?

[2018-10-15 16:51] SychevIgor opened #16863 "Split an article on API specific and API independent parts"
This article well expressing previous state of cosmosdb, when it was documentDB.
But phrases like "A Cosmos DB collection is a container for your JSON documents." are not true in an age of CosmosDB with multiple available APIs. Table API is not json based, as well as in Table API we don't have collections, only tables.
Simular- Attachments and Media are good markers for SQL API, but not exist in T

[2018-10-15 16:52] MicahMcKittrick-MSFT commented on #16808
@sirredbeard I have assigned the issue to the content author to investigate further and update the document as appropriate.

@jpconnock can you help find the correct assignee for this? I am unable to assign directly to author

[2018-10-15 16:53] MicahMcKittrick-MSFT commented on #16809
@sirredbeard I have assigned the issue to the content author to investigate further and update the document as appropriate.

@jpconnock can you help find the correct assignee for this issue? I am unable to assign directly to author.

[2018-10-15 16:54] MicahMcKittrick-MSFT commented on #16811
@sirredbeard I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-15 16:54] MicahMcKittrick-MSFT commented on #16812
@sirredbeard I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-15 16:55] gervaisfokam opened #16864 "Error Message: Can't find the parameter "-TemplateParametersFile" [Extra 's' in the paramater's name]"
==&gt; Creating the metric alert using the template and parameters file using PowerShell  Command doesn't work :

==&gt; There is a problem with the documentation [https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-create-metric-alerts-with-templates?toc=/azure/azure-monitor/toc.json#resource-manager-template-for-a-simple-metric-alert]

New-AzureRmResourceGroupDeployment

[2018-10-15 16:55] MicahMcKittrick-MSFT commented on #16813
@sirredbeard I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-15 16:56] DCtheGeek commented on #16745
@ronbok Thanks for the question and interest in Blueprints! The existing Quickstart includes using several artifacts. If you wanted just a Resource Group, you could follow the Quickstart and omit other artifact steps.  To help me understand, what is the use-case for having a Blueprint with only a Resource Group and no other artifacts?

@MicrosoftDocs/azure-cxp-triage #in-progress

[2018-10-15 16:56] mike-urnun-msft commented on #16840
Hi @giovannifl Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-15 16:57] MicahMcKittrick-MSFT commented on #14316
@JamiePed @Charles-Gagnon after uninstalling from control panel check your C drive for any left over folders of the SDK installation. If you find some, remove them manually then reattempt the install.

[2018-10-15 16:58] MicahMcKittrick-MSFT commented on #16672
@EhRom I will close this for now. When ready, please provide me with the link to the document you are referring to and we can reopen and investigate.

[2018-10-15 16:58] #16672 closed

[2018-10-15 16:58] mike-urnun-msft commented on #16844
Hi @kudlatiger Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-15 16:59] DCtheGeek commented on #16176
@lesterw1 - As I haven't heard back from you, I'm going to have this issue closed.  If you have other feedback on docs, please post an Issue here.  If you have suggestions for the product, please check out the [UserVoice](https://feedback.azure.com/forums/915958-azure-governance) forum.  Thanks again!

@MicrosoftDocs/azure-cxp-triage #please-close

[2018-10-15 16:59] SychevIgor opened #16865 "Add information about Graph/Cassandra multi-master"
In an article mentioned that it will work for all 3 OSS APIs, but describe only MongoDB API.
Could you please specify the rest 2 as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f172be9c-a27b-4d98-fab8-287b33b988c7
* Version Independent ID: b776f03c-b65a-6580-6178-cfc3fd55c059
* Content: [Using Azure Cosmos DB m

[2018-10-15 16:59] MicahMcKittrick-MSFT commented on #16786
@Yaming-Liu1978 are you following any specific documentation on this? Can you share the link to the doc you are referring to? We use this repo to help find issues with the Azure Documentation. Hence, we need the referenced doc to start investigation.

Otherwise, if you need general troubleshoot assistance we suggest reaching out to MSDN or Stack Overflow.

[2018-10-15 17:00] MicahMcKittrick-MSFT commented on #16820
@cmeyertons thanks for the update! I will assign to the author to review the doc and see if we can make it more clear.

[2018-10-15 17:01] Alberto-Vega-MSFT commented on #16823
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-15 17:01] #16176 closed

[2018-10-15 17:01] Charles-Gagnon commented on #14316
@MicahMcKittrick-MSFT I think you meant to tag @CharlesZHENG 😄

[2018-10-15 17:02] Mike-Ubezzi-MSFT commented on #16861
@SychevIgor Thank you very much for your interest in Azure products and services. I have assigned this to the content owner to review and update as appropriate.

[2018-10-15 17:05] Mike-Ubezzi-MSFT commented on #16863
@SychevIgor Thank you very much for the detailed feedback. I have assigned this to the content owner to review and update as appropriate.

[2018-10-15 17:05] Alberto-Vega-MSFT commented on #16852
@ksreekumar Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-15 17:06] YutongTie-MSFT commented on #16485
@nansravn We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-15 17:06] Mike-Ubezzi-MSFT commented on #16865
@SychevIgor Thank you very much for the detailed feedback. I have assigned this to the content owner to evaluate and update as appropriate.

[2018-10-15 17:08] BryanTrach-MSFT commented on #16829
@zzulueta Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-15 17:08] YutongTie-MSFT commented on #16614
@jpetitte Thanks a lot for your input. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@jpetitte Thanks for your response.

[2018-10-15 17:08] #16614 closed

[2018-10-15 17:09] BryanTrach-MSFT commented on #16830
@zzulueta Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-15 17:13] Grace-MacJones-MSFT commented on #16460
Hi @tommoran91, just checking to see if the above response helped clarify things.

[2018-10-15 17:14] MicahMcKittrick-MSFT commented on #14316
haha oops :)

[2018-10-15 17:14] Mike-Ubezzi-MSFT commented on #16828
@miaoran Thank you very much for your interest in Azure products and services. We are currently investigating this and will get back with you soon.

[2018-10-15 17:20] YutongTie-MSFT commented on #16837
@thecpshah Hi, sorry to hear your have this issue. We'd like to work with you further on this issue. Can you please email us at azcommunity@microsoft.com? Please provide us with your subscription ID and the URL for this thread.

[2018-10-15 17:28] nberdy commented on #11156
#please-close

[2018-10-15 17:28] SaurabhSharma-MSFT commented on #16848
@ktilk Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-15 17:36] TravisCragg-MSFT commented on #16733
@SamirFarhat Thanks!

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-15 17:38] SaurabhSharma-MSFT commented on #16827
@thuansoldier Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-15 17:38] SaurabhSharma-MSFT commented on #16836
@rajeshkhanikar  Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-15 17:46] #11156 closed

[2018-10-15 17:48] MicahMcKittrick-MSFT commented on #16473
@ivana61 I will close this out for now. If you have additional questions just let me know and we can reopen and continue.

Also, if you want to provide feedback for Azure Products and features you think should be added you can add that feedback on
[UserVoice](https://feedback.azure.com/forums/34192--general-feedback)

[2018-10-15 17:48] #16473 closed

[2018-10-15 17:49] MicahMcKittrick-MSFT commented on #16516
@chetanku were you able to read through the doc I provided and determine if it helped?

[2018-10-15 17:50] MicahMcKittrick-MSFT commented on #16774
@bizinbarefeet can you elaborate a bit more? What exactly would you like to see added to make it more relevant?

[2018-10-15 17:52] MicahMcKittrick-MSFT commented on #16819
@ganganarayanan can you take a look at this one?

[2018-10-15 17:56] markl181 opened #16867 "A few things have changed since this was written"
a) Step 10 under Configure Azure AD single sign-on would now be to select 'Manage SSO Settings'
b) Step 12 under Configure Azure AD single sign-on would now be the 'Automatically Redirect' option
c) The url format is different depending on which version of Absorb you use. For UI3 clients it is 'https://&lt;subdomain&gt;.myabsorb.com/Account/SAML'. For NLE clients it's 'https://&lt;subdomain&gt;.my

[2018-10-15 17:58] Mike-Ubezzi-MSFT commented on #15494
@Dilipsam1 We will now proceed to close this thread. If there are further questions regarding this matter, please comment on this and we will gladly continue the discussion.

[2018-10-15 17:58] #15494 closed

[2018-10-15 17:59] anavinahar commented on #16190
Got it, however, the custom role you're trying to create isn't one we support. What are you trying to accomplish exactly with this role: Microsoft.Network/publicIPAddresses/loadBalancerPools/join/action?

[2018-10-15 18:03] ganganarayanan commented on #16819
@MicahMcKittrick-MSFT I had a question for you regarding deleting this article as RBAC for support is now a built in role and this might not make sense anymore.

[2018-10-15 18:04] chetanku commented on #16516
@MicahMcKittrick-MSFT Thanks for checking, I am trying to understand and connect  assigning IP at controller level like mentioned in https://docs.microsoft.com/en-us/azure/aks/ingress-internal-ip , and assigning IP at service level https://docs.microsoft.com/en-us/azure/aks/egress#create-a-service-with-the-static-ip

[2018-10-15 18:10] SaurabhSharma-MSFT commented on #16763
@gpduck Thanks for your feedback.  I believe it will be number of synchronized objects. I have assigned this issue to content author to investigate and update the document as appropriate.
@billmath  Can you please validate this and update the document if require.

[2018-10-15 18:13] shivp950 commented on #15978
@ArvidBaa @YutongTie-MSFT This is great feedback, I will update the document with further details on the additional resources. As for your questions, when you delete a workspace, the resources created with the workspace, such as keyvault, appinsights and container registry, still remain under the resource group and you must delete them separately. Each workspace has it's own set of resources that

[2018-10-15 18:14] SychevIgor opened #16868 "split "Table Design Pattern" section on pieces"
Please, split "Table Design Pattern" section on pieces. It's too hard to navigate in a giant section.
![image](https://user-images.githubusercontent.com/578954/46969670-81cfa480-d0bf-11e8-953d-13579316e24b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba460612-aea2-45da-dacb-ddc8324be954
* Version Independent ID:

[2018-10-15 18:15] nberdy commented on #9489
It heavily depends on the factory setup. Due to the degrees of variability involved, Microsoft cannot provide a recommendation.

#please-close

[2018-10-15 18:26] helloguo opened #16869 "Function App failed on Azure Stack version 1808 and App Services 1.3"
I used Azure Stack Development Kit to install App Services 1.3 on Azure Stack update 1808. The installation was successfully and I was able to create a Function App after the installation was done. However, the next day when I wanted to create a Function App again, I was not able to do it. There was no error message except "Oops! Could not create Function App".  I was wondering how to debug it and

[2018-10-15 18:30] TravisCragg-MSFT commented on #16860
@JohnDelisle This question is also asked [Here](https://social.msdn.microsoft.com/Forums/en-US/b1245f44-13e7-4803-a6e4-0b472afba1c0/traffic-manager-customer-header-and-arm-template?forum=WAVirtualMachinesVirtualNetwork). I will update both locations when I am able to find more info.

[2018-10-15 18:32] jefking commented on #12554
[code]

[2018-10-15 18:34] helloguo commented on #16869
The error message looks like this:
![error](https://user-images.githubusercontent.com/18431130/46970543-46f15080-d06e-11e8-91c9-964049e03831.PNG)

[2018-10-15 18:35] JohnDelisle commented on #16860
Thanks Craig - sounds like the same issue! :)

[2018-10-15 18:36] TravisCragg-MSFT commented on #16859
@aku163 Yes they can, and it is easy to do from the portal. navigate to your Load Balancer in the Azure Portal and select "Backend Pools", and then select "Add" at the top.

[2018-10-15 18:39] YutongTie-MSFT commented on #15978
@shivp950 Thanks a lot for your response and effort for the document.

@ArvidBaa Thanks for bringing this issue to our sight. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-15 18:39] #15978 closed

[2018-10-15 18:42] jeevansd commented on #16867
@chetansriv Can you please update these steps?

[2018-10-15 18:42] jeevansd commented on #16867
@markl181 Thanks for reporting the issue. We will work with Absorb Team to get the tutorial updated.

[2018-10-15 18:46] JonathanPalmerGD commented on #16671
I don't exactly know the details of the subscription. I wasn't the one who set it up or manages it.

It gives a 'Storage Creation failed, Error 403 - code: RequestDisallowedByPolicy, etc'
It's possible it's a MSoft thing due to specific org policies?

I could connect you to an individual who would have more info than myself if desired.

[2018-10-15 18:48] timmyreilly commented on #16686
Thank you @PramodValavala-MSFT, would you like me to submit a PR to the docs with this information? Or is there additional information users should be aware of?

[2018-10-15 18:56] Adam-Smith-MSFT commented on #16847
@mikebarrattvcs Thank you for the valuable feedback,we are investigating the issue.

[2018-10-15 18:57] Adam-Smith-MSFT commented on #16847
@mikebarrattvcs It is only available on Standard Tier, more info can be found [here](https://azure.microsoft.com/en-us/pricing/details/security-center/)
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-15 18:57] #16847 closed

[2018-10-15 19:01] Mike-Ubezzi-MSFT commented on #16868
@SychevIgor Thanks again for your very detailed feedback regarding the documentation. I have assigned this to the content author to evaluate and update as appropriate.

[2018-10-15 19:03] LarrySmith-1437 opened #16872 "Testing the function in Azure fails by default"
Functions deploy with "authLevel": "function", so the sample in the tutorial fails.
Have the user change their authlevel to anonymous instead:
[HttpTrigger(AuthorizationLevel.Anonymous,  .....

Now it will work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID

[2018-10-15 19:05] jeffgilb commented on #16067
Correct. these instructions cover both pre and post-deployment ways to shut off telemetry.

#please-close

[2018-10-15 19:06] dlepow commented on #16748
@nastassiar - Thanks for pointing out this issue. I believe this behavior is specific to the Batch implementation of containers in the task context. This guidance in the article tries to alert customers:

"Because Batch changes the default working directory in your container, the task runs in a location different from the typical container entry point (for example, c:\ by default on a Windows cont

[2018-10-15 19:12] JasonBSteele commented on #14534
Hi, I appreciate that this is being addressed but it hasn't been updated yet and I need to be able to calculate the costs. Can you tell me how the pricing page Actions, Standard, Enterprise Connectors map to this page's Built-Ins and Managed Connectors? Thanks.

[2018-10-15 19:16] danvanderboom opened #16873 "Terminology mismatch"
“Management solutions” or “monitoring solutions”?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: badac660-e06c-a857-2b14-fb666a9c89e2
* Version Independent ID: b5b5e663-646b-e636-4ba5-704fe18a9cf0
* Content: [Management solutions in Azure](https://docs.microsoft.com/en-us/azure/monitoring/monitoring-solutions?toc=/azur

[2018-10-15 19:18] Mike-Ubezzi-MSFT commented on #16255
@v-maroge I am unable to find any details as to what qualifies as an 'Unsafe Action' threat detention activity type. The Threat Detention types are part of Azure Security Center but are specific for a particular service. I am going to forward this on the content owner to update the docs, or provide a link to a description of the events captured.

[2018-10-15 19:29] Mike-Ubezzi-MSFT commented on #16420
@Anmolgan81 You need Site-To-Site VPN to connect on-premise services with Azure Services. If you want to connect a user to Azure Services from an on-premise environment over a VPN connection, you would use Point-to-Site.

[2018-10-15 19:29] Mike-Ubezzi-MSFT commented on #16420
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-15 19:29] #16420 closed

[2018-10-15 19:31] Mike-Ubezzi-MSFT commented on #16450
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-15 19:31] #16450 closed

[2018-10-15 19:31] ecfan commented on #14534
@kevinlam1 Kevin, can you help answer in the meantime so Jason isn't blocked until we can get better mapping on the pricing page? Thanks!

[2018-10-15 19:32] #16822 closed

[2018-10-15 19:36] SaurabhSharma-MSFT commented on #16773
@chrispadgettlivecom Can you please provide details of the CORs configurations you are talking about here.  Are you sayiny "<div class="preloader">"  needs to be updated with the B2Clogin url ?

[2018-10-15 19:37] Karishma-Tiwari-MSFT commented on #16602
1. I reproduced it following the steps in the documentation and checked the netstat and I see port 20000 listening.
2. Can you share which windows version are you using?
3. It could also be related to this note in the doc, saying:
If your cloud service is sitting behind an NSG, you may need to create rules that allow traffic on ports 3389 and 20000. Remote Desktop uses port 3389. The RemoteForward

[2018-10-15 19:38] Mike-Ubezzi-MSFT commented on #16541
@KeiroKamioka0000 If 'Allow access to Azure services' is off and there was no VNet /Site-to-Site VPN configured, then no, your traffic will flow out over the internet. This assumes you have a firewall rule in place to allow inbound traffic. Data sync activity with an on-premise environment should not be interrupted.

[2018-10-15 19:40] Anmolgan81 commented on #16420
But I cannot setup a P2S to be used for DMS?

Is there any documents explaining this?

From: Mike Ubezzi [mailto:notifications@github.com]
Sent: Tuesday, October 16, 2018 1:00 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Do we need S2S or P2S in order to connext t

[2018-10-15 19:40] MicahMcKittrick-MSFT commented on #16481
@seanmck. @iainfoulds would either of you have any thoughts on this?

[2018-10-15 19:44] CarlRabeler commented on #16255
@Mike-Ubezzi-MSFT working on it

[2018-10-15 19:45] SaurabhSharma-MSFT commented on #16827
@thuansoldier Yes, you need to be a "Privileged Role Administrator" role to manage assignments for other administrators in Azure AD PIM.  Please refer to [Enable Privileged Identity Management for your directory
](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-configure#enable-privileged-identity-management-for-your-directory) for more information.

[2018-10-15 19:45] ysripath commented on #16525
Hi @sergaz-msft, it must be included in the 4th section in https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-device-symm-key. It must be "cmake -Duse_prov_client:BOOL=ON   -Dhsm_type_symm_key:BOOL=ON.."

[2018-10-15 19:47] iainfoulds commented on #16804
Adding the CLI command to obtain a list of available versions makes sense, but I'd caution against trying to document each major and minor version available. That becomes unfeasible to maintain given rolling updates to available versions and slight delays in those replicating across all supported regions.

acs-engine is slightly different and versions don't really have relevance on AKS, certainly

[2018-10-15 19:50] Mike-Ubezzi-MSFT commented on #16542
@thomshib Yes, Entity Framework 6.0 supported on to of Read-Out scale. There is a section entitled [Enable connection resiliency](https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/connection-resiliency-and-command-interception-with-the-entity-framework-in-an-asp-net-mvc-application#enable-connection-resiliency) that describes the inherent nature

[2018-10-15 19:51] SaurabhSharma-MSFT commented on #16836
@rajeshkhanikar We do not have much details to provide you here as it is currently planned for end of year 2018.  Please keep an eye on [Azure RoadMap](https://azure.microsoft.com/en-us/updates/?category=security-identity) to get the latest updates.

[2018-10-15 19:52] MikeDembek opened #16875 "AS path prepending to influence Azure route selection"
The article could help bring more clarity by adding information about the ability to use AS path prepending to influence Azure's route selection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c1d3b93-4e51-b2ec-c779-d80313275297
* Version Independent ID: 1811faf4-3a71-f037-6d08-6872ec5120a2
* Content: [Overview of BGP

[2018-10-15 19:55] spelluru commented on #16708
Updated the page with the step.

#please-close

[2018-10-15 19:58] SaurabhSharma-MSFT commented on #16848
@ktilk Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-15 19:59] sauryadas commented on #16804
The cli command sounds good to me

Sent from Outlook
________________________________
From: Iain Foulds <notifications@github.com>
Sent: Monday, October 15, 2018 12:48:33 PM
To: MicrosoftDocs/azure-docs
Cc: Saurya Das; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Add a "Supported Kubernetes versions" section (#16804)

Adding the CLI command to obtain a list of available versions makes sense, bu

[2018-10-15 19:59] Mike-Ubezzi-MSFT commented on #16546
@Appjunkie Access token support is in 2.2[1], due for release in Q4. Please see the [Azure SQL Database User Voice](https://feedback.azure.com/forums/217321-sql-database/suggestions/17836318-add-net-core-support-for-microsoft-active-directo).

[2018-10-15 20:00] SaurabhSharma-MSFT commented on #16704
@mekkimuyeeb We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-15 20:00] #16704 closed

[2018-10-15 20:06] Alberto-Vega-MSFT commented on #16873
@danvanderboom Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-15 20:08] Karishma-Tiwari-MSFT commented on #16592
@Prasad-Pillutla I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-15 20:15] Mike-Ubezzi-MSFT commented on #16575
@Anmolgan81 Did you install the correct cmdlet for Data Migration Service with the following command in you PowerShell environment with Admin Rights?

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

PS C:\WINDOWS\system32> Install-Module -Name AzureRM.DataMigration

Untrusted repository
You are installing the modules from an untrusted repository. If you trust this rep

[2018-10-15 20:16] Mike-Ubezzi-MSFT commented on #16546
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-15 20:16] #16546 closed

[2018-10-15 20:17] Mike-Ubezzi-MSFT commented on #16575
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-15 20:17] #16575 closed

[2018-10-15 20:20] jefking commented on #16748
I find this really confusing. I was able to run the container on several other platforms, while it was failing on Azure Batch. Unless there is some really good logging and rational brought to the users attention; I don't feel this is a good experience.
Lastly, a huge selling point of containers is to have portability; and we took a code change to get it to run on Azure Batch. There will be more an

[2018-10-15 20:22] axisc commented on #16639
Hi @sylvaingirardbe , thanks for reporting this.

@spelluru  - please change the below line
"For an example of setting the environment variables for an Azure Cloud Service, see [Node.js Cloud Service with Storage.](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-nodejs-develop-deploy-app)"

to  point to

[Set environment variables](https://docs.microsoft.com/en-us/azure/contai

[2018-10-15 20:30] CHDAFNI-MSFT opened #16877 "Document out of date - OMS Connector"
Per MS Blog https://blogs.technet.microsoft.com/uktechnet/2017/11/15/connecting-configuration-manager-to-oms/
The 'OMS Connector' is no longer under 'Cloud Services'. Instead you need to configure the connection via 'Azure Services'. If possible, use the blog to see if anything else on the document is out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-10-15 20:32] wesmc7777 commented on #16525
@sergaz-msft can you reopen this for me?  I'll look into this, thanks

[2018-10-15 20:32] Mike-Ubezzi-MSFT commented on #16583
@PeerMohamedMydeen Did you follow this tutorial first? [Create an Azure SQL Database Managed Instance](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-get-started)
Then, with the following three items from this step:

resourceGroup
virtualNetworkName

Along with ` The value for <certificateNamePrefix> can be a string of your choice.`

Complete the PowerShell scrip

[2018-10-15 20:33] dglambert opened #16878 "When are user agents recycled?"
I am trying to understand what the lifetime of a particular bot/synthetic/user agent is. Reason being is i want to know of the duration data can be used for performance. Particularly if it is benefiting from any sort of client/browser caching. If a user agent is refreshed after every request, then I know there is no caching impact by the agent. If it is refreshed every 5 times, then that would be

[2018-10-15 20:34] scheek opened #16879 "Unable to pull image"
HI,

I am unable to pull the image using mcr.microsoft.com/azure-blob-storage:latest. Is it still available in the registry?

Thanks,
Scott

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07a44a28-a19c-f68e-167c-5e8ad91605e0
* Version Independent ID: 33eacdff-4f0a-c543-d8f9-e7b208bab015
* Content: [Azure Blob Storage on

[2018-10-15 20:34] Mike-Ubezzi-MSFT commented on #16608
@desaifly Thank you for making a comment to the User Voice forum. I am going to now close this issue but, if you should have additional questions please make a comment and we can continue the dialogue.

[2018-10-15 20:34] #16608 closed

[2018-10-15 20:36] tfitzmac commented on #16755
@v-kydela - there is a tag taxonomy for your subscription. It may be that your account has permissions to tag a resource but does not have permission to add a tag to the taxonomy. You could try running the [az tag](https://docs.microsoft.com/en-us/cli/azure/tag?view=azure-cli-latest) commands to see if your account is able to read and write tags to the taxonomy for your subscription.

[2018-10-15 20:39] tfitzmac commented on #16807
@Anmolgan81 - to determine the status for a particular resource type, please see [Move operation support for resources](https://docs.microsoft.com/en-us/azure/azure-resource-manager/move-support-resources). You'll notice on that page that Managed Instances is listed as Yes.

[2018-10-15 20:39] tfitzmac commented on #16807
#please-close

[2018-10-15 20:43] SaurabhSharma-MSFT commented on #16854
@joseph-cloudthing Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-15 20:55] chrissie926 commented on #12206
Please refer to this article on how to generate device id keys automatically in c-sharp: https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/iot-hub-get-started-create-device-identity-csharp.md

Let me know if you need other languages. They are all supported.

[2018-10-15 20:55] BacharBader opened #16880 "How to run dsregcmd /status against all client computers in AD Domain"
I've tried to run this command to Retrieve the join status for all Win10 client computers in my AD Domain using SCCM script and PowerShell script but all failed to retrieve the "User State". is there a way to run it to collect "User state" from central location against all client computers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-10-15 20:56] chrissie926 commented on #12206
@klucyszy please let me know if this answers your question. @Mike-Ubezzi-MSFT please help resolve this issue. Thanks!

[2018-10-15 20:57] marksman315 opened #16881 "Question about "Custom warm-up before swap""
This paragraph makes it seem like there is no longer a need for the AppInit module. I'm hoping that is so, but is that true? If it is not true, could you please include more information in this documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49f5ea0e-d951-7e7f-142e-3509b2ec5eda
* Version Independent ID: e

[2018-10-15 21:00] mike-urnun-msft commented on #16817
Hi @sem27 Was there a specific MS Doc that you were following in implementing this?

This channel is for driving improvements towards MS Docs so we may have to request you to open an MSDN thread or Stackoverflow post for your question if there isn't a feedback for a particular documentation.

[2018-10-15 21:02] myszon01 commented on #16613
Hi,

I think I have a similar issue. I can create route and custom endpoint in my IoT hub but this endpoint is in status Uknown, and when I send messages from IoT device they are not getting delivered to the service bus queue. Both resources are located in East region.

Thank you

[2018-10-15 21:02] mike-urnun-msft commented on #16805
Hi @JasonKleban It sounds like you have found the answer you were looking for. As such, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-15 21:02] #16805 closed

[2018-10-15 21:05] aku163 commented on #16859
@TravisCragg-MSFT , Thanks for your response. I tried doing the same but after clicking on Add, the name is the only editable field new-bp), rest all is pre-populated with values, which were configured for (lb-bp) .

![image](https://user-images.githubusercontent.com/10303369/46978219-484e6780-d0c6-11e8-8361-90e4a371ee09.png)
![image](https://user-images.githubusercontent.com/10303369/46978226-4ed

[2018-10-15 21:15] SaurabhSharma-MSFT commented on #16880
@BacharBader

[2018-10-15 21:17] axisc commented on #15705
In Azure Service Bus, topic-subscription is implemented as pump model. In standard messaging by default topic is having multiple pumps that pumps messages in parallel to subscriptions which could bring message out of incoming orders in topic. So while set this value to true, there is only one pump so the order will be same as the incoming orders to subscription. This is slightly different in premi

[2018-10-15 21:20] shamaostwal opened #16882 "https://identitydivision.visualstudio.com/StackOverflow/_queries/query/76481119-c35b-4799-bc86-09ab4a7942fc/"
"As per Lou, the clarification about using  LDAP &lt;-&gt; MIM &lt;-&gt; AD &lt;-&gt; AADConnect &lt;-&gt; AAD
It keeps AADConnect “cleaner”, the less customization the better, even though, there are many situations where rules or exclusions are needed, should be added to the doc."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-10-15 21:25] shamaostwal opened #16883 "https://identitydivision.visualstudio.com/StackOverflow/_queries/query/76481119-c35b-4799-bc86-09ab4a7942fc/"
The customer has solved the issue mentioned in the link above and has requested to include the URL 'secure.aadcdn.microsoftonline-p.com' in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdbd2045-3f96-0c47-00ed-b514a759a6bd
* Version Independent ID: 90e715cd-08c2-09e9-292f-bfc515f0dee3
* Content: [Azure AD Ap

[2018-10-15 21:25] burstingninja opened #16884 "Submit the training job fails"
there is an error thrown when trying to run the first command of "Submit the training job"

az batchai job create --cluster nc6cluster --name cifar_distributed --resource-group batchai.horovod --workspace batchaidev --experiment cifar --config-file job.json --storage-account-name mystorageaccount

Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): M

[2018-10-15 21:32] #16762 closed

[2018-10-15 21:41] mlearned commented on #16724
DevOps Projects are not being deprecated.  "Team Projects" from Azure portal are being deprecated.  See here for the FAQ:  https://docs.microsoft.com/en-us/azure/devops/organizations/billing/billing-faq?view=vsts&tabs=new-nav#why-no-team-projects-in-Azure-portal

[2018-10-15 21:44] mike-urnun-msft commented on #16725
Hi @HemantChandurkar Please find the complete list of `context` object here: [Context variable](https://docs.microsoft.com/en-us/azure/api-management/api-management-policy-expressions#ContextVariables)

For referrer, you might try: `context.Request.OriginalUrl`

[2018-10-15 21:49] axisc commented on #14583
@TecumsehSamp  - thanks for bringing this to our attention.

recommend you to place an actual value and not go with the default 'infinite' value. We will revisit the documentation for this.

[2018-10-15 21:51] tfitzmac commented on #16769
@JimInWA - thanks for the feedback. I added those templates. However, I just want to clarify that this article is meant to be a curated list of templates in the Quickstart template repo. There will always be many more templates in that repo than we want to present here.

About your other question, there is not a way to limit what is generated from a resource group.

[2018-10-15 21:51] tfitzmac commented on #16769
#please-close

[2018-10-15 21:51] axisc commented on #14176
@spelluru - could you make this clearer in the doc.

[2018-10-15 21:53] curtand commented on #15590
@TravisCragg-MSFT THanks! Following up. The PM changed.

[2018-10-15 21:54] ghogen commented on #14663
There are some planned design improvements to make this easier to debug.

FWIW, I just went through the entire tutorial and also the steps to publish to an App Service with ASP.NET 4.7.2 Web Forms, and had success getting the value from the key vault without any problems.  I am going to add the App Service Publish steps to the article.

I've never used the Azure Service Authentication page.  It do

[2018-10-15 21:55] MohitGargMSFT commented on #16642
@HeineLysemose We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-10-15 21:55] #16642 closed

[2018-10-15 21:56] #16596 closed

[2018-10-15 21:56] MohitGargMSFT commented on #16663
@toanyonebutyou We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-10-15 21:56] #16663 closed

[2018-10-15 22:03] sergaz-msft commented on #12635
Hello @vithal-wadje please see [here ](https://docs.microsoft.com/en-us/azure/iot-dps/tutorial-group-enrollments)how to provision group enrollments. If that doesn't answer your question please let us know.

[2018-10-15 22:03] sergaz-msft commented on #12635
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 22:03] #12635 closed

[2018-10-15 22:07] shamaostwal opened #16889 "https://identitydivision.visualstudio.com/StackOverflow/_queries/query/76481119-c35b-4799-bc86-09ab4a7942fc/"
 Luis, answer contains a table that gives Clarification about SAML app and NameID policy, which should be added to the existing doc.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62bb99a4-4092-0202-48bf-4e61ee424faf
* Version Independent ID: a066de9a-42fb-2fcc-683d-2ffdc45fdf3d
* Content: [Azure Single Sign On SAML Pr

[2018-10-15 22:13] v-kydela commented on #16755
I tested with `az tag list` and it showed me 4 tags for my subscription (Bot Framework Support Team), including my DoNotDelete tag. I tested `az tag create` and was able to create a 5th tag named test. Though the list command only returns 5 tags, the tag assignment dropdown contains 19 tags (including the 3 tags returned by the list command that I didn't create).

[code]

When I go to the Resource

[2018-10-15 22:14] mike-urnun-msft commented on #16337
Hi @darewreck54 Hope the above answers your question. We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-15 22:14] #16337 closed

[2018-10-15 22:16] #11445 closed

[2018-10-15 22:17] sergaz-msft commented on #11450
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 22:17] #11450 closed

[2018-10-15 22:18] sergaz-msft commented on #12414
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 22:18] #12414 closed

[2018-10-15 22:19] shamaostwal opened #16890 "https://identitydivision.visualstudio.com/StackOverflow/_queries/query/76481119-c35b-4799-bc86-09ab4a7942fc/"
The info that, There is no limit on number of groups you can use for GBL, is not specified in the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e4fdb9-a3d4-e97b-de30-9904868b87a5
* Version Independent ID: fbade46e-55b3-3c50-9cff-6ec88ee5ee6e
* Content: [Azure Active Directory group-based licensing additional sc

[2018-10-15 22:20] mike-urnun-msft commented on #16064
Hi @kudlatiger Sorry for the delay. It looks like I misunderstood your question. Were you just looking for a specific capability (preferably using Powershell) to turn on/off your function app?

[2018-10-15 22:21] sergaz-msft commented on #14350
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 22:27] shamaostwal opened #16891 "https://identitydivision.visualstudio.com/StackOverflow/_queries/query/76481119-c35b-4799-bc86-09ab4a7942fc/"
Pedro's answer about the scenario to reach out to   guest users Tenant Admin and ask them to enable “AllowEmailVerifiedUsers” is not very clearly specified in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f76cc85-8dc0-9be3-4071-217589ddef56
* Version Independent ID: e7bdba65-bacc-7fef-2c27-b3425f697b12
* Co

[2018-10-15 22:31] shamaostwal opened #16892 "https://identitydivision.visualstudio.com/StackOverflow/_queries/query/76481119-c35b-4799-bc86-09ab4a7942fc/"
Danny Zollner states (see full thread in attachments) - "I think Yuuji and his customer raise a good point – our documentation on configuring Connect Health to use a proxy appears to solely focus on using the PowerShell cmdlets to set it, and not the machine.config file. Their experience seems to indicate that it’s pulling config from machine.config as well. Rather than looking at fixing the immed

[2018-10-15 22:34] CarlRabeler commented on #16622
No. The main target for this feature is to connect to SQL from Azure Databricks. ADB doesn’t support AAD integrated auth yet.

[2018-10-15 22:35] CarlRabeler commented on #16622
#please-close

[2018-10-15 22:36] shamaostwal opened #16893 "https://identitydivision.visualstudio.com/StackOverflow/_queries/query/76481119-c35b-4799-bc86-09ab4a7942fc/"
Lou mentions  the following; "Currently only ADFS is the supported auth method for Alternate ID, PHS/PTA may work in certain scenarios but it was not thoroughly tested. We are working to get that information added to the updated article." Recommend for the follow up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74a78

[2018-10-15 22:40] SnehaGunda commented on #16865
@SychevIgor As you said multi-master works for all API's, however how it appears in MongoDB is little different when compared to other API's. It isn't different for other API's. From the MongoDB driver perspective, the preferred region appears to the client as the replica set primary.

We are in the process of making some changes to the multi-master docs in the next couple of weeks which will remo

[2018-10-15 22:42] Alberto-Vega-MSFT commented on #16768
@rowong Thanks for the feedback! I found this resource https://docs.microsoft.com/en-us/rest/api/application-insights/components and I have assigned the issue to the content author @MGoedtel to evaluate and update as appropriate.

[2018-10-15 22:44] sergaz-msft commented on #5273
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 22:44] #5273 closed

[2018-10-15 22:46] robinsh commented on #16613
@myszon01 I don't really know why, but my status for the endpoint is always Unknown. I'll pass this on to the PM. Are you sending messages from the IoT device to the service bus queue as described in the article? So you have set up an endpoint for the service bus queue and you are routing to it when level="critical" ? You've put that in the routing query? Are you using the sample to send the messa

[2018-10-15 22:46] ghogen commented on #15051
@tamram

[2018-10-15 22:47] martincoetzer commented on #16650
@dougmclelland. I agree recent naming of other features has messed up our wording and made this a bit unclear. We are going to discuss this internally and then update the diagram.

[2018-10-15 22:47] robinsh commented on #16613
@guub Just curious; if you refresh the page, does the endpoint show up?

[2018-10-15 22:48] shamaostwal opened #16894 "https://identitydivision.visualstudio.com/StackOverflow/_queries/query/76481119-c35b-4799-bc86-09ab4a7942fc/"
In his reply, Anton states that the given doc doesnot include any statement regarding HTTPS requirements. For details please look at the link specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b-180567591c72
* Version Independent ID: 8c533d7b-a058-3f1a-c296-9c0305f85f13
* Content: [Understa

[2018-10-15 22:50] martincoetzer commented on #16893
Yes, we are working on the test cases for this. The links shows the configuration required for Alt-ID for PHS and PTA, but it is usually the app that breaks after the authentication succeeds. Stay tuned.

[2018-10-15 22:51] sergaz-msft commented on #8815
@sandeeppujar can you please take a look at the suggestions and update the document accordingly? Thanks!

[2018-10-15 22:53] sergaz-msft commented on #9090
Changes were done to the doc.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-15 22:53] #9090 closed

[2018-10-15 22:57] alkohli commented on #16846
@WenJason Thank you for your feedback! I have fixed both the issues and changes are merged. The fixes should go live tomorrow morning after 10 AM.

@Adam-Smith-MSFT  Please verify and close this. #please-close

[2018-10-15 23:04] TomArcher commented on #15765
@justcallmetrell Did you want to continue working on this Issue, or can it be closed?

[2018-10-15 23:11] GuuB commented on #16613
@sergaz-msft I just tried on a different laptop & browser and the issue persists. I will take a look into the other issues.

@robinshI Sadly no.
I have not tried sending messages to the service bus queue. I can try tomorrow.

Thanks!

[2018-10-15 23:15] BryanTrach-MSFT commented on #16881
@marksman315 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-15 23:19] cfe84 opened #16895 "Upgrading an account cannot be reversed and may result in billing charges."
If only the documentation was telling us what those billing charges are!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bf5c2f8-d961-6460-194e-caa06ecfafa6
* Version Independent ID: 29c0ec30-d312-9e9f-0bff-8c5e6b7eb907
* Content: [Upgrade to a general-purpose v2 storage account - Azure Storage](https://docs.microsoft.

[2018-10-15 23:26] rstorgaard opened #16896 "Missing image under "restricting the audience" and then "Manual entry for restricted audience""
image is missing in the "restricting the audience" section and then under "Manual entry for restricted audience"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 021daed7-396f-aac2-a359-bbde9a5ad381
* Version Independent ID: 669caf25-6b81-61ac-3952-7f25ff66592f
* Content: [Private SKUs](https://docs.microsoft.com/en-us/a

[2018-10-15 23:39] andrewatfornax opened #16897 "Inaccessible Link / Help"
I am assisting a client with their migration of Pay-As-You-Go to an EA account. However, in the text "To learn more, see Associate an Existing Account in the EA portal", the link goes to somewhere in the EA portal that I don't have access to. Putting the support for this behind a system that users cannot log into doesn't help.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-10-15 23:41] robinsh commented on #13604
@tbhagwat3 Do you have an answer for this? What browsers are supported for IoT Central?

[2018-10-15 23:47] SaurabhSharma-MSFT commented on #16894
@shamaostwal !

[2018-10-15 23:57] femsulu commented on #16855
@mosharafMS Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-16 00:00] SaurabhSharma-MSFT commented on #16883
@shamaostwal Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-16 00:02] femsulu commented on #16864
@gervaisfokam Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-16 00:04] SaurabhSharma-MSFT commented on #16892
@shamaostwal Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-16 00:07] SaurabhSharma-MSFT commented on #16891
@shamaostwal Thanks for the feedback ! I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-16 00:08] SaurabhSharma-MSFT commented on #16882
@shamaostwal Thanks for the feedback ! I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-16 00:08] SaurabhSharma-MSFT commented on #16889
@shamaostwal Thanks for the feedback ! I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-16 00:09] SaurabhSharma-MSFT commented on #16890
@shamaostwal Thanks for the feedback ! I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-16 00:09] proctorm commented on #16824
Thanks for your response. I am currently working through the details of what changes I'll need to make to the json files to get this running and will update once I've figured it out, or need extra help. I have been reading the extension source code and think I've figured out where the problem occurs. I'm not at all experienced in Javascript or Node.js, but it seems that Git does not play nicely wi

[2018-10-16 00:09] KeiroKamioka0000 commented on #16819
@ganganarayanan
I send you E-mail, please check.

[2018-10-16 00:11] femsulu commented on #16896
@rstorgaard Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-16 00:12] christiankuhtz commented on #16190
@holgerjay @anavinahar  This originates from a feature currently in development.  It was accidentally published and is being removed from public documentation.  loadBalancerPools actions are not available to customers, please ignore the related actions.

[2018-10-16 00:13] christiankuhtz commented on #16190
@KumudD fyi

[2018-10-16 00:27] TravisCragg-MSFT commented on #16875
@MikeDembek Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-16 00:32] TravisCragg-MSFT commented on #16869
@helloguo you can look for issues with your ASDK Installation by [running the validation cmds](https://docs.microsoft.com/en-us/azure/azure-stack/asdk/asdk-post-deploy#validate-the-asdk-installation).

Next, you can try to restart your stack instance by [following the instructions Here](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-start-and-stop).

For further troubleshooting, th

[2018-10-16 00:34] apwestgarth commented on #16869
Don’t restart the Azure Stack yet.  First if you are having trouble creating applications, check that all App Service roles are Ready by going in to the Admin Portal, then the App Service management UX.  Check role status.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: TravisCragg-MSFT <notifications@github.com>
Sent: Monday, October 15, 2018 5:32 pm
To: Micros

[2018-10-16 00:42] martincoetzer commented on #16893
#please-close

[2018-10-16 00:47] #10102 closed

[2018-10-16 00:50] mike-urnun-msft commented on #16872
Hi @LarrySmith-1437 Thank you for reporting this issue! We have validated this issue, and assigned the author to review further and take the right course of action.

[2018-10-16 00:51] #16708 closed

[2018-10-16 01:20] Alberto-Vega-MSFT commented on #16877
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-16 01:21] mail4mohit opened #16899 "How to update custom images?"
How to update custom images? I created custom image from a VM but they do not have a URI whereas scale sets update seem to need a URI.

The article talks about providing an example of updating a scale set using a custom image but never provides that. There is a link to "REST API Documentation" that is supposed to provide some details but that link does not work (https://docs.microsoft.com/rest/api

[2018-10-16 01:28] mike-urnun-msft commented on #16064
Hi @kudlatiger You can explore Logic Apps for your use case, and control when your Function app is run from Logic Apps. Please see: [Create a function that integrates with Azure Logic Apps](https://docs.microsoft.com/en-us/azure/azure-functions/functions-twitter-email)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will glad

[2018-10-16 01:28] #16064 closed

[2018-10-16 01:30] bdcoder2 opened #16900 "Please offer a definition for "shardmap""
Not once in this article is a definition given for "shardmap".  It is mentioned in a list, i.e,: "Shardmap - databases of a shardmap." -- but what is a "shardmap" and how is it related to elastic DB jobs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe5d5f3a-ed62-4868-962e-2a2561309e80
* Version Independent ID: fbeeb

[2018-10-16 01:41] bdcoder2 opened #16901 "Confusing psuedocode example ..."
The document states "A simple tactic is to test for the existence of an object before creating it.", and then shows the following psuedocode:

IF NOT EXIST (some_object)
    -- Create the object
    -- If it exists, drop the object before recreating it.

Which if the comments under the IF statement are read literally, results in no object existing, i.e.:  -- Create the object (OK, an object is cre

[2018-10-16 01:44] longnlp opened #16902 "Is Resource Owner Password Credentials supported here?"
Just want to know if v1 endpoint still support the resource owner password credentials? Thank you.

Long

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e20004e2-beab-6e67-9b98-eaa12f612442
* Version Independent ID: 2a3db0c8-d0df-cca5-fb52-36d68cd67207
* Content: [Azure AD Service to Service Auth using OAuth2.0](https:/

[2018-10-16 01:56] mike-urnun-msft commented on #16725
Hey @HemantChandurkar We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-16 01:56] #16725 closed

[2018-10-16 02:16] Costo opened #16903 "`context.df.callActivityAsync` function is not defined."
The javascript orchestrator sample calls `context.df.callActivityAsync` but this function is not defined. Instead you have to use `context.df.callActivity`. (I'm using Functions v2 with durable-functions 1.0.0 NPM package)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34bd4f6c-c769-899d-7ec8-f4d8db7b798a
* Version Ind

[2018-10-16 02:44] zhusulai opened #16905 "Clarification Needed - Registry Change Tracking"
In the older version of the document, a column in the table under Change Tracking data collection details section mentioned the agent does not send difference when Registry changes are detected. That column has now been removed. Does that mean the limitation has been lifted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-10-16 02:44] ptallett opened #16906 "Getting the Service Principal Object ID"
You don't mention that you can use Get-AzureADServicePrincipal to list all the Service Principal objects - look for one named Microsoft.Azure.ActiveDirectory. I spent a long time in vain trying to get Graph Explorer to work.

Please update the documentation on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0

[2018-10-16 02:48] ivasilyev-servicetitan-com opened #16907 ""First IP configuration" is obsolete"
Section "Create the virtual network gateway" (https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-connect-different-deployment-models-portal#creategw) mentions outdated setting "First IP configuration". It's "Public IP address now". Please update the text and screenshot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-10-16 03:07] kudlatiger commented on #16064
Thank you

[2018-10-16 03:42] overslacked opened #16910 "Authentication information does not appear to be correct"
Hello, the documentation states:
"Sending a request to the Speech service's REST API requires either a subscription key or an access token. In general, it's easiest to send the subscription key directly. The Speech service then obtains the access token for you. "

I don't believe this is true. I cannot get the https://westus2.tts.speech.microsoft.com/cognitiveservices/v1 endpoint to return a 200 u

[2018-10-16 03:49] Juliako commented on #16502
@infovore, the following two CLI samples might be of help. One shows how to create a transform for Video Analyer preset. The second one shows how to create and submit a job based on a HTTPs URL. If you need other code please let us know.

Thank you,
Julia

[2018-10-16 03:52] cgillum commented on #16903
FYI @kashimiz. I think there are several places where we need to update the JavaScript samples.

[2018-10-16 04:10] Mike-Ubezzi-MSFT commented on #16900
@bdcoder2 Thank you very much for your detail feedback. I am assigning this to the content owner to review and update as appropriate. In the meantime, the following is a great resource pertaining to this topic, including the creation and purpose of the 'shardmap' database. https://blog.pythian.com/sharding-sql-server-database/

[2018-10-16 04:15] Mike-Ubezzi-MSFT commented on #16901
@bdcoder2 Thank you very much for your detailed feedback. I have assigned this to the content owner to review and update as appropriate.

[2018-10-16 04:18] jakaruna-MSFT commented on #16718
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-10-16 04:18] #16718 closed

[2018-10-16 05:10] #9489 closed

[2018-10-16 05:31] darewreck54 commented on #16157
@mike-urnun-msft  https://github.com/Azure/azure-functions-java-worker/issues/200.  Not really a solution but a workaround.

[2018-10-16 05:33] SaurabhSharma-MSFT commented on #16906
@ptallett Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-16 05:35] SaurabhSharma-MSFT commented on #16902
@longnlp Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-16 05:35] SaurabhSharma-MSFT commented on #16902
@longnlp Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-16 05:37] maxbl4 commented on #14254
I just got into the same issue.
I run armbian on orangepi arm64 board and tried
docker pull mcr.microsoft.com/mssql/server
This worked fine, and indicates, that manifest for the image declares support for arm architecture.
But, when I run the image, I see same error about format.
I think the problem is, mssql server image by error has arm support stated in manifest

[2018-10-16 05:40] SaurabhSharma-MSFT commented on #16743
@intrepidsoldier We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-16 05:40] #16743 closed

[2018-10-16 05:41] SaurabhSharma-MSFT commented on #16749
@Chiramisu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-16 05:41] #16749 closed

[2018-10-16 05:47] chrispadgettlivecom commented on #16773
@SaurabhSharma-MSFT [The **Configure UI customization in a custom policy** article](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-ui-customization-custom) contains [suggestions for the CORS settings](Configure UI customization in a custom policy) that are required for the HTTPS endpoint that contains the HTML content.

HIstorically, one of these CORS settings --

[2018-10-16 05:59] vaheyev commented on #16667
I have the same issue!

[2018-10-16 06:05] SychevIgor opened #16919 "Access control endpoint retired isn't it?"
https://.accesscontrol.windows.net/ end point should be retired with access control service during next 3 weeks.
Should we still open it on our firewall?  https://azure.microsoft.com/en-us/blog/one-month-retirement-notice-access-control-service/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f72d018e-76dd-3811-f02d-fca

[2018-10-16 06:13] jakaruna-MSFT commented on #16899
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-16 06:25] dcbrown16 opened #16920 "Clarity on temporary disk"
The section on the temporary disk links to this blog:
https://blogs.msdn.microsoft.com/mast/2013/12/06/understanding-the-temporary-drive-on-windows-azure-virtual-machines/
The info there states that temporary disk data may be lost
"When you resize the VM, When you shutdown or restart your VM, when your VM is moved to a different host server(due to service healing, shutdown and restart), when the h

[2018-10-16 06:26] WayneYangsa opened #16921 "There is a custom ask to update this documentation to give a notice that We cannot use B2C users for SAML SSO."
There is a custom ask to update this documentation to give a notice that We cannot use B2C users for SAML SSO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05f5a433-2e47-e4d6-f21a-922bad2c5078
* Version Independent ID: 285be395-3f7c-54f1-b63b-7afe90dfea0b
* Content: [Configure SaaS apps for B2B collaboration in Azure

[2018-10-16 06:33] #16686 closed

[2018-10-16 06:42] niels9001 commented on #16910
Could you post your current code? I got it working in C# so I might be of help.

[2018-10-16 06:46] PramodValavala-MSFT commented on #16686
@timmyreilly Thanks for the offer! We have updated the docs with a note mentioning the same.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-16 06:53] Klaas- opened #16922 "Dead Link"
https://t.co/2lgIrIaF0J is dead
https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/backup/backup-azure-backup-faq.md#L28

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe1b860-8d24-1742-4f20-c3e75cacbba3
* Version Independent ID: 2ac226c0-df97-f729-fe09-3d51d61b9083
* Content: [Azure Backup FAQ](https:/

[2018-10-16 06:53] raych1 opened #16923 "Unauthorized error(401) returns when target 2.0 runtime and deploy to azure"
[It returns 401 error when I deploy the example to azure]
My function runtime is 2.0. Here is the host settings:
[code]
When I POST to https://{myappname}.azurewebsites.net/api/orchestrators/E1_SayHello, it returns 401. It works when I access https://localhost:7071/api/orchestrators/E1_SayHello locally.  Is there any thing needs to be set for authorization in azure?

When I POST to https://{myappn

[2018-10-16 07:03] alexeldeib commented on #10313
I would love to see this process documented somewhere. I ran into this issue several weeks (months?) back and didn’t find this thread at the time.

The reference docs (which I realize are more or less automatically generated from the cmdlets/help text) don’t make any reference the prerelease status of these cmdlets. I found a comment to that effect [here](https://github.com/Azure/azure-powershell/

[2018-10-16 07:04] jakaruna-MSFT commented on #16832
@simkadic If you had a ACI in that subnet already, you will have an network profile already.
You can list that using "az network profile list -g <resource group name>".
Note that cli version 2.0.47 has the sub command "profile" and 2.0.45 don't have.  So I recommend you to install the latest cli and try out.
Also share the commands with errors to understand the issue better.

[2018-10-16 07:06] Klaas- commented on #16577
I have another question hitting the same area: https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/backup/backup-azure-backup-faq.md#L31
"All servers that are registered to the same vault can recover the data backed up by other servers *that use the same passphrase*. If you have servers whose backup data you want to isolate from other servers in your organization, use a designated pa

[2018-10-16 07:06] EstebanSmits opened #16924 "If you are having issues with ampersands in environment variables"
Try using the format :
az container create   -e 'key:"value"'
A fuller write up is here:  http://daxmax.com/azure-cli-format-for-environment-variables-with-problematic-characters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cd0d0a1-65c0-ec3f-ab56-ef68f9f819a0
* Version Independent ID: 9a0d1414-0cf7-e17d-ca40-5a9cc0e

[2018-10-16 07:10] snehithm commented on #16864
@femsulu Thanks, please go ahead.

[2018-10-16 07:15] sahilpnckr123 commented on #16648
@TravisCragg-MSFT  any further progress??

[2018-10-16 07:16] PramodValavala-MSFT commented on #16394
@PeterWallenius Sorry but we do not make any comment on future plans here.

You can monitor the [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [App Service Announcements](https://github.com/Azure/app-service-announcements) pages for any such news.

You could also create a feature request in [UserVoice](https://feedback.azure.com/forums/355860-azure-functions).

We will now proceed

[2018-10-16 07:16] #16394 closed

[2018-10-16 07:31] #16656 closed

[2018-10-16 07:32] ArvidBaa commented on #15978
@shivp950 Ah, I see now the references in the Workspace to each of the resources. Thank you for your help!

[2018-10-16 08:13] bramvdklinkenberg commented on #16721
Hi @jakaruna-MSFT ,

I understand it is not recommended or preferable, but in case the self healing part of the nodes doesn't work (correctly) and you want or have to  do it yourself then it would be nice to somehow say I want that machine ro be replaced by a new node.

[2018-10-16 08:28] shaunybrown opened #16927 "exception=Keys must be scalars but found"
I'm getting this error when trying to connect Gremlin console to cosmos db

==&gt;Error during 'connect' - Can't construct a java object for tag:yaml.org,2002:org.apache.tinkerpop.gremlin.driver.Settings; exception=Keys must be scalars but found: &lt;org.yaml.snakeyaml.nodes.MappingNode (tag=tag:yaml.org,2002:map, values={ key=&lt;org.yaml.snakeyaml.nodes.ScalarNode (tag=tag:yaml.org,2002:str, val

[2018-10-16 08:36] anton-bot opened #16928 ""Switch to Classic View" button no longer available"
The doc mentions that to return to the classic metrics view, you need to "select the Monitor tab, and choose to keep it in classic view".

However, this button is no longer available in the Azure interface. See my related SO question: https://stackoverflow.com/q/52831154/6269864

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-16 08:45] jakaruna-MSFT commented on #16924
@EstebanSmits Thanks for the information. Lets check if we can add those info to the documentation.

[2018-10-16 08:45] dominicbetts commented on #8786
@sergaz-msft - created PR to update image: https://github.com/MicrosoftDocs/azure-docs-pr/pull/55274

[2018-10-16 08:47] PramodValavala-MSFT commented on #16656
@miller79 Thanks for contributing to MS Docs! We have updated the docs with a note mentioning the version of the function apps runtime required for now, while we work on updating code samples to v2.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-16 08:51] femsulu commented on #16864
PR complete. Fix should be live soon. closing this issue as reoslved.

[2018-10-16 08:51] #16864 closed

[2018-10-16 08:51] dominicbetts commented on #11433
@sergaz-msft - this code has been removed from docs as it duplicated content from the C SDK repo: https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md

This issue is therefore fixed in the docs.

#please-close

[2018-10-16 09:01] simkadic commented on #16832
@jakaruna-MSFT

I've tried removing all containers, the network profile and SID from the subnet and then creating the container in the existing subnet, but the error persists.
However, the error does not show up if the VNet exists and the subnet and ACI don't. Neither if I generated this subnet this way, the added more ACI to the same subnet.

The command I use for creating an ACI in an existing s

[2018-10-16 09:01] #16832 closed

[2018-10-16 09:03] dominicbetts commented on #16671
@JonathanPalmerGD - it sounds as if your subscription was set up in a non-standard way. We would expect someone doing the Quickstart to have set up (or have access to) a standard subscription: https://azure.microsoft.com/free/?WT.mc_id=A261C142F
If you want to follow up on creating a Cloud Shell with your subscription, can you open an issue on https://docs.microsoft.com/en-us/azure/cloud-shell/qui

[2018-10-16 09:04] dominicbetts commented on #16671
I'm going to request that this issue is closed, but feel free to reopen it with any follow up questions. Thanks!

#please-close

[2018-10-16 09:22] Jayesh040 opened #16929 "SparkPost"
Is resource type "SparkPost" movable to CSP subscription ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://docs.microsoft.com/en-us/azure/azu

[2018-10-16 09:31] #16807 closed

[2018-10-16 09:38] femsulu commented on #16815
@AnomisCefu any update please?

[2018-10-16 09:38] CharlesZHENG commented on #14316
@Charles-Gagnon haha. I made it .
![image](https://note.youdao.com/yws/api/personal/file/14F90FA82CB248CAA97411B4B8CA66C3?method=download&shareKey=ba29a3ed0e428fd6f87e2443f70a1191)

![image](https://note.youdao.com/yws/api/personal/file/05E2E972C6CC486480AD386B0306778E?method=download&shareKey=23586d8362eef1d7c2830616a49f415b)

![image](https://note.youdao.com/yws/api/personal/file/241ED7915EB8412

[2018-10-16 09:50] noahfalk opened #16930 "I still don't understand what I need to do"
I thought my task would be simple and this documentation seems like it should be relevant, but after reading this and trying some experiments I am still confused. Here is my goal:

I have an ASP.Net Core web application running in Azure, already integrated with AI. In the code for that app assume I have a function:
static double GetMeasurement()
{
    return Math.Sin(Environment.TickCount); // for

[2018-10-16 09:58] akunzai commented on #12814
Hi, it seems fixed, should i close this issue?

[2018-10-16 10:00] jakaruna-MSFT commented on #16920
Thanks for the question! We are investigating and will update you shortly.

[2018-10-16 10:01] bjthomson commented on #14663
OK, thanks for your time. I know how difficult it is to create docs to cover EVERY detail, and my wife is a technical author, as she says, she's paid to misunderstand the engineer's notes :-)

I think it would be good to expand on the ["what happened to" section](https://docs.microsoft.com/en-gb/azure/key-vault/vs-key-vault-aspnet-what-happened) to explain the differences between Right Button Clic

[2018-10-16 10:01] #16719 closed

[2018-10-16 10:03] dominicbetts commented on #16759
@MicahMcKittrick-MSFT - thanks for pointing this out. The FAQ is being updated in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/55276
The changes should be live later today.

[2018-10-16 10:03] dominicbetts commented on #16759
#please-close

[2018-10-16 10:12] will111222 opened #16931 "Output from Azure functions"
Hi,

I have been working from some of these walkthroughs and making good progress. One difference I am getting is that I always seem to get a json file returned.  IE prompts me to open the file and Chrome show this -

************************
This XML file does not appear to have any style information associated with it. The document tree is shown below.

string xmlns="http://schemas.microsoft.com

[2018-10-16 10:16] PeerMohamedMydeen commented on #16583
@Mike-Ubezzi-MSFT, I have followed the same documentations that you have highlighted.

Below is the powershell that I am trying to run.

$scriptUrlBase = 'https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/attach-jumpbox'

$parameters = @{
    subscriptionId = 'e60e0db5-4905-47a2-9e1d-1030e360a3b4'
    resourceGroupName = 'DQaaSSWE'

[2018-10-16 10:20] daffsmith opened #16932 "Storage Type not correct for North Europe"
The $storageType = 'Premium_LRS' doesn't work for North Europe, you need to remove the underscore:
$storageType = 'PremiumLRS'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b67bcdd-0278-7c7f-89ac-5e4bc53de72c
* Version Independent ID: 57815f78-825d-ec47-2751-128ab5a03d66
* Content: [Convert Azure managed disks storag

[2018-10-16 10:24] jalcockte opened #16933 "Update section 5."
[]

Hi,

Would you please update Step 5 of section Configure automatic user account provisioning to ThousandEyes in Azure AD, please?

The screenshot should be this: https://monosnap.com/file/UAnfAZOM5zP9cypfVpcZiA4zOy7q1G

And step 5 should read: Under the Admin Credentials section, input the OAuth Bearer Token
 generated by your ThousandEyes's account (you can find and or generate a token under

[2018-10-16 10:29] balait01 commented on #14105
Thanks for updating the document

[2018-10-16 10:36] rwatjen commented on #16328
Hi @BillRaymond:
Add them to local.settings.json so the file looks similar to this:
[code]
All properties that are in the "Values" section can be read using `Environment.GetEnvironmentVariable("setting name")` in the function app code.

[2018-10-16 11:09] Ravnsgaard commented on #15020
How is severity extracted from a webhook alert. Ideas?

[2018-10-16 11:29] mcurko opened #16934 "Compilation error"
After adding NuGets and using clauses I receive the error when trying to compile projects:
The name 'FabricTelemetryInitializerExtension' does not exist in the current context

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0402be82-9542-9eb9-7c9f-278e16b59d66
* Version Independent ID: 01446149-6253-1e6e-5dda-a500f9717a

[2018-10-16 11:33] #16934 closed

[2018-10-16 11:37] MNF opened #16935 "Does library support .Net Core?"
According to the article “Encryption support is available only in the storage client library for .NET. Windows Phone and Windows Runtime do not currently support encryption.” Is .net Core still not supported?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86453250-5bb5-c375-d392-4fa366ddbe43
* Version Independent ID: f

[2018-10-16 11:42] jpetitte opened #16937 "Redundancies in the section "Create a custom language model""
I think some paragraphs are repeated in the section titled "Create a custom language model". Am I interpreting that correctly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b7ef4a5-0f71-1b91-0826-4376a89baf4a
* Version Independent ID: d5a866f1-398f-4f8f-009b-89f773a2ed84
* Content: [How to create a language model wit

[2018-10-16 11:45] jpetitte commented on #16614
@YutongTie-MSFT

I went ahead and modified the current browser sdk webpack bundle to use a custom input. I'm sure you guys already know how to do it, but if you're interested in seeing the changes I made, let me know. I don't mind having a hack to make things work for us for now, but having something officially supported will be good long term.

[2018-10-16 12:01] jakaruna-MSFT commented on #16932
@daffsmith I tried to create a storage account with the below command.
`New-AzureRmStorageAccount -ResourceGroupName $resourceGroup -Name "teststorage5003" -Location northeurope -SkuName Premium_LRS  -Kind StorageV2`

I works only when i give "Premium_LRS" for SkuName.  It throws an error for PremiumLRS.

Please check once or post the actual error which you have encountered while creating, So that

[2018-10-16 12:06] amitgc opened #16938 "update needed"
Great tutorial, probably needs some updated to reflect portal and VS changes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfb50b0d-cfec-fa96-7d2d-e462e79dbd9d
* Version Independent ID: c7f85f8b-fca5-fa58-8c96-4e9593f0bbc7
* Content: [Tutorial - Create a CI/CD pipeline in Azure with Azure DevOps Services](https://doc

[2018-10-16 12:19] rbcoach opened #16939 "Supported Linux operating systems"
Are you planning to support Service Map for Debian 9 "Stretch"? Now i'm receiving: Unsupported distribution: Debian GNU/Linux 9.5 (stretch). Thank you in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b462a919-2014-9aa3-5fba-6568cb2c6cfe
* Version Independent ID: 3417842d-423f-7d97-b25f-877e42234dca
* Content:

[2018-10-16 12:23] Klaas- opened #16940 "Transport Encryption iSCSI"
Hi,
are iSCSI connections secured in transport when recovering files?

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142ddb2b-65ef-10f4-0e68-f9af6f0e3d52
* Version Independent ID: 74e33ef9-9a43-8ae6-abbd-a84f1cf91a25
* Content: [Azure Backup: Recover files and folders from an Azure VM backup](https://d

[2018-10-16 12:30] simonua commented on #16506
Hi @TravisCragg-MSFT, do you have any update, please?

[2018-10-16 12:31] Klaas- opened #16941 "Python file uses windows linefeeds"
Hi,
the linux python file that is being created to attach the iscsi volume uses windows linefeeds instead of linux linefeeds.

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142ddb2b-65ef-10f4-0e68-f9af6f0e3d52
* Version Independent ID: 74e33ef9-9a43-8ae6-abbd-a84f1cf91a25
* Content: [Azure Backup: Reco

[2018-10-16 12:32] simonua commented on #16661
Hi @TravisCragg-MSFT, do you have any update, please?

[2018-10-16 12:39] frfriel opened #16942 "typo on page"
This page is to provide information for user risk policy not sign-in risk policy. The page topic "How do I access sign-in risk policy?" should read "How do I access user risk policy?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26558ba4-fafb-1a59-8423-464a1c82c6a7
* Version Independent ID: 0db788e5-5d8a-4d7f-f3e4-4f

[2018-10-16 12:41] bwren commented on #14105
Sorry, think I missed this one.  I did update the FAQ https://docs.microsoft.com/azure/log-analytics/log-analytics-oms-portal-faq#where-do-i-find-settings with a reference to the article that describes Windows Analytics in the Azure portal, so I think that answers the question.  https://docs.microsoft.com/en-us/windows/deployment/update/windows-analytics-azure-portal

[2018-10-16 12:41] bwren commented on #14105
#please-close

[2018-10-16 13:09] SychevIgor opened #16943 "Update "Create Subscriptions UX" is different"
I'm talking about https://docs.microsoft.com/en-us/azure/event-grid/media/blob-event-quickstart-portal/create-subscription.png
Now, filters on Additional Features tab. Please, Update the screenshot.

![image](https://user-images.githubusercontent.com/578954/47018655-dcb7d900-d15d-11e8-89ed-9904ddc79ef5.png)
![image](https://user-images.githubusercontent.com/578954/47018663-e0e3f680-d15d-11e8-871d-

[2018-10-16 13:20] mzbowe opened #16944 "Microsoft Consultant"
For slower networks, maybe a reference to use AZCOPY to move the file into the blob may be useful?  Particularly in retail networks ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76752639-81d6-7872-0637-318618a293ae
* Version Independent ID: aebc20be-849a-a4a6-a766-a21d7e0aae42
* Content: [Apply updates in Azure Sta

[2018-10-16 13:21] AdamPliska opened #16945 "Understand how Stream Analytics sends data to Service Bus"
I noticed that there are three formats that Stream Analytics can use to send data to service bus - but even when selecting JSON there is some sort of serialization wrapper around the data when it's extracted from a Service Bus Queue. The body is NOT pure JSON. I can find no docs on what the specific format is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-10-16 13:23] shivangipatwardhan2018 opened #16946 "Missing instructions of how to connect using CosmosDB protocol support for MongoDb"
The above documentation is missing instructions on how to test an application using CosmosDB protocol support for MongoDb. What is the expected connection string?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617f002c-f40e-28a0-2ab7-e3227e08e37c
* Version Independent ID: a06ba438-55c8-e77c-ec89-095d44fbf4f3
* Content:

[2018-10-16 13:26] EthanChung1 opened #16947 "Virtual Machine Name - New or current"
for the lines:
#Provide the name of the virtual machine
$virtualMachineName = 'yourVMName'

Is this for a new VM machine or the current one which the snapshot was made from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04f5da69-0386-feb0-469a-788ae89d3a3d
* Version Independent ID: 27031537-f436-7252-b73c-7f8edbc176cc

[2018-10-16 13:28] yinghli opened #16948 "Typo"
[Enter feedback here]
Below two sentence may have some typo.

"If your application has two components like an IP address and a VM with managed disk, and they're guaranteed in zone 1 and zone 2,

. Don't cross zones unless you fully understand that you are creating a potentially hazardous failure mode."

If your application has two components like an IP address and a VM with managed disk, and they

[2018-10-16 13:30] AdamPliska commented on #16945
using (var ms = new System.IO.MemoryStream(message.Body))
            {
                using (var reader = XmlDictionaryReader.CreateBinaryReader(ms, new XmlDictionaryReaderQuotas()))
                {
                    var bf = new DataContractSerializer(typeof(string));
                    var obj = bf.ReadObject(reader);
                }
            }

[2018-10-16 13:34] janlange opened #16949 "How to connect a Azure Sphere downstream device"
I'd like to connect a Azure Sphere device as a downstream device, how can I make Sphere trust the owner CA certificate using C ? And is it possible to connect using the GatewayHostName in the connection string with Sphere ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de9562a7-4f9a-c733-6239-1af7f5f91854
* Version In

[2018-10-16 13:46] ben79git commented on #15749
I ran into the same issue when adding the attributes using the screen shot as a reference. As soon as I changed the case it started working.

[2018-10-16 14:02] astengaard opened #16950 "Problem with updating settings for a specific group"
When I try to update settings for a specific group I get an error:

I'm running the following lines:
$groupID = "df09dd06-e890-498c-ba84-ce7bd99c2894"
$template = Get-AzureADDirectorySettingTemplate | Where-Object {$_.displayname -eq "group.unified.guest"}
$settingsCopy = $template.CreateDirectorySetting()
$settingsCopy["AllowToAddGuests"]=$True
New-AzureADObjectSetting -TargetType Groups -TargetO

[2018-10-16 14:14] MarkParsonsOS opened #16951 "Bad Link for SAP Connector"
Hi
The link 'SAP Connector (NCo) 3.0.20.0 for Microsoft .NET Framework 4.0 and Windows 64bit (x64)' is not valid.
Please see https://support.sap.com/en/product/connectors/msnet.html which has the correct link and also guides and Tutorials
Regards
Mark

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 154c0030-0132-12da-b4

[2018-10-16 14:28] gianjianne opened #16953 "keth.mit.jeff"
Your Memories
Your Dreams

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb54089-d47b-3f58-a5e6-fb2e7f2691f1
* Version Independent ID: bfe2dfee-2a02-48ed-4cda-5f87d8be3527
* Content: [About Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/about-microsoft-identity-platform#ne

[2018-10-16 14:29] Anmolgan81 opened #16954 "How to connect to Redhshift Cluster which is using SSH-Tunnel."
I am not able to connect to the Redshift cluster which is using the SSH-Tunnel, I  have the Integration Runtime gateway installed on the virtual machine and I can connect to the Redshift cluster from the virtual machine using Datagrip tool, but cant connect the ADF V2 to the Redshift

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-10-16 14:32] pstapf opened #16955 "Wrong URLs in the sample code snippets"
The following to lines in the samples above are wrong:
&lt;Item Key="METADATA"&gt;https://login.microsoftonline.com/{tenant}.onmicrosoft.com/.well-known/openid-configuration&lt;/Item&gt;

&lt;Item Key="authorization_endpoint"&gt;https://login.microsoftonline.com/{tenant}.onmicrosoft.com/oauth2/token&lt;/Item&gt;

It must be {tenant} instead of {tenant}.onmicrosoft.com

Sample files on GitHub are c

[2018-10-16 14:38] christophkarner opened #16956 ""Applies to: ASDK" misleading for delegated provider scenario"
Hi, is the delegated provider scenario possible for testing with ASDK at all?

_Delegated provider customizes the offer
Sign in to the user portal as the delegated provider and then create a new offer by using the delegated offer as a template.
**Select + Create a resource > Tenant Offers + Plans > Offer.**_

With ASDK 1.1808.0.97 there is no _"Tenant Offers + Plans > Offer"_ visible when trying t

[2018-10-16 14:46] diberry commented on #16274
#please-close

[2018-10-16 14:48] diberry commented on #9571
#please-close

[2018-10-16 14:48] diberry commented on #10450
#please-close

[2018-10-16 14:49] diberry commented on #10644
#please-close

[2018-10-16 14:49] diberry commented on #11670
#please-close

[2018-10-16 14:49] diberry commented on #12831
#please-close

[2018-10-16 14:50] diberry commented on #12949
#please-close

[2018-10-16 14:56] scott1138 commented on #16689
@richrundmsft I opened a premier ticket for this, but it seems no one is familiar with the properties available in the JSON block.  Any chance you can help?

[2018-10-16 14:57] cephalin commented on #16203
#please-close

[2018-10-16 14:58] #16203 closed

[2018-10-16 14:58] cephalin commented on #16055
@mathieu-benoit The doc has been updated with the suggested text. Thanks again for your contribution. #please-close

[2018-10-16 15:09] danimir commented on #16823
The Log Analytics pricing listed on this page applies: https://azure.microsoft.com/en-us/pricing/details/monitor/. At this time 5GB/month is free which should be more than enough to monitor couple of databases for free. Above the free tier, the pricing depends on how much diagnostics telemetry monitored databases ingest into the solution. You should note that more active databases with heavier wor

[2018-10-16 15:14] carlbuchmann opened #16958 "Virtual Networking naming and topology consistency"
- The relevant Azure service or technology: Azure Stack virtual networking concepts
- A link to the published documentation article that you have feedback about.:
  https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-stack/azure-stack-network.md
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-stack/azure-stack-connect-expressroute.md

- [ ] Clear, specific

[2018-10-16 15:16] georglabbe commented on #10644
Sorry for my late response.
I am not receiving "NotStarted" forever. My question was just about "what if that happens?".
Anyway, thanks for the reply. I will just implement a timeout which is big enough (like 30s or something) and see, if I will run into it. :-)

[2018-10-16 15:21] mike-urnun-msft commented on #16157
Thanks @darewreck54! Closing this one since you have an open issue with product team regarding this matter. If there's further feedback for any specific content on this documentation, please reopen it and we will gladly continue the discussion.

[2018-10-16 15:21] #16157 closed

[2018-10-16 15:31] CarlRabeler commented on #12214
An Azure free account entitles the customer to a free database in SQL DB at the Basic performance level for 12 months.
https://azure.microsoft.com/en-us/free/services/sql-database/

[2018-10-16 15:38] erhopf commented on #16580
Hey @mattquinn4, if you use the version toggle to change the Swagger spec to v2.0, you'll see many of the APIs referenced in your list. We are working to have the Swagger spec default to v2.0 instead of v1.0.

Additionally, we are investigating the creation of additional documentation to use these services. I'm attaching a screenshot with the selector. Please let me know if you have any follow-up

[2018-10-16 15:38] TomArcher commented on #16012
@arcotek-ltd Thanks for the heads-up on the potentially ambiguous link/wording. We've fixed the issue, and it will go live this morning (in about 2 hours).

@kobulloc-MSFT #please-close

[2018-10-16 15:45] BillRaymond commented on #16328
Thank you very much. Great to add to the documentation where it refers to environment variables. Even more important because if you do a search for "environment variables", people immediately think you need to create a Windows Environment Variable, which is very different. Thanks again.

[2018-10-16 15:48] larsonmpdx opened #16960 "device twin does not track metadata for json keys within an object if the object replaces a string"
This might be a bug, but if not, it should be documented carefully because it's a little confusing

to reproduce:
* create a device twin with desired property "test": "teststring"
* this will create a metadata last updated/version bit for "test"
* change "test" to an object without deleting it first: "test": {"test2": "teststring"}
* observe that there is no metadata available for the "test2" key

[2018-10-16 15:51] erikverwer commented on #16573
@georgewallace Thanks for testing. I’ve changed the script to a workflow so that we can do the jobs in parallel. I also test it with a new script with the following content which also failed to sync.
workflow test-workflow {
    $Array = @("Value1", "Value2")

    Foreach -parallel ($Item in $Array) {
        $Item
    }
}

![sync-error](https://user-images.githubusercontent.com/24406274/47029538-

[2018-10-16 15:52] overslacked commented on #16910
Sure; here it is ... the value of "key" is the value from the Azure portal, and the value of "ssml" is the XML from the Text-to-Speech sample on this page. I've tried every combination of authorization header and extra header than I can think of - everything returns 401.

It's probably worth mentioning that when I use this key against the /issuetoken endpoint, it works perfectly.

Thanks!

using (

[2018-10-16 15:55] mrmueller opened #16961 "Signed SAML requests"
Hi,

Is it possible for the application to send signed saml requests? Where can i configure the certificate, so that azure ad can validate the signature on the request?

I read in a forum that azure ad ignores signatures on SAML requests. If that is true, it should be mentioned in the docs. (And why this is safe?)

Thanks,
Martin

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-10-16 15:57] Mike-Ubezzi-MSFT commented on #16919
@SychevIgor Thank you for the detailed feedback. I have assigned this to the content author to evaluate and update as appropriate.

[2018-10-16 16:05] tfitzmac commented on #16929
@Jayesh040 - third-party resources currently do not support move. See [Third-party services
](https://docs.microsoft.com/en-us/azure/azure-resource-manager/move-support-resources#third-party-services).

[2018-10-16 16:05] tfitzmac commented on #16929
#please-close

[2018-10-16 16:08] tfitzmac commented on #16755
#please-close

[2018-10-16 16:08] Mike-Ubezzi-MSFT commented on #16879
@scheek Thank you very much for your interest in Azure products and services. We are currently investigating this and will get back with you soon.

[2018-10-16 16:11] jluk commented on #15145
PR was merged fixes #15145

[2018-10-16 16:12] alkohli commented on #16919
@SychevIgor @Mike-Ubezzi-MSFT #in-progress Taking a look at this. Reaching out to Engineering team to confirm if this is still required.

[2018-10-16 16:12] jluk commented on #15145
@SaurabhSharma-MSFT can you please close this it is fixed.

[2018-10-16 16:13] alkohli commented on #16919
#In-progress

[2018-10-16 16:14] jluk commented on #7385
@SeanFeldman can you close this issue, the PR was merged.

[2018-10-16 16:15] Adam-Smith-MSFT commented on #16895
@cfe84 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-16 16:18] MicahMcKittrick-MSFT commented on #16934
@mcurko thanks for reaching out. If you are still having issues just let us know :)

[2018-10-16 16:19] MicahMcKittrick-MSFT commented on #16938
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-16 16:19] MicahMcKittrick-MSFT commented on #16947
Thanks for the question! We are investigating and will update you shortly.

[2018-10-16 16:28] #16759 closed

[2018-10-16 16:29] Adam-Smith-MSFT commented on #16935
@MNF per the following thread: https://github.com/Azure/azure-storage-net/issues/333  it looks like it is only supported for Blobs and Queues, @craigshoemaker  would you be able to confirm ?

[2018-10-16 16:30] Grace-MacJones-MSFT commented on #16460
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-10-16 16:30] #16460 closed

[2018-10-16 16:34] DiegoRamirez-MSFT commented on #16920
hello Dillon

you are correct, basically the content of the temp drive will be lost in the event of the VM moving to a different node, when you reboot the OS that is not considered a de-allocating operation, as opposed to doing it from the portal (reboot or shutdown) which could make the VM land on a different node.
I agree with your feedback, perhaps that note could be updated so its clear from t

[2018-10-16 16:39] mike-urnun-msft commented on #16923
Hi @raych1 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-16 16:41] Adam-Smith-MSFT commented on #16941
@Klaas- Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-16 16:42] jajens commented on #13604
Edge, Chrome and Firefox.  Note I did add public comment to the bottom this page to document it: https://docs.microsoft.com/en-us/azure/iot-central/quick-deploy-iot-central

From: Robin Shahan <notifications@github.com>
Sent: Monday, October 15, 2018 4:42 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jay Jensen <jajens@microsoft.com>; Mention <mention@noreply.github.com>
Subj

[2018-10-16 16:42] Adam-Smith-MSFT commented on #16501
@carmonmills I reached out to the file backup PMs but was unable to get any response on my end.

[2018-10-16 16:43] mike-urnun-msft commented on #16928
Hi @catcher-in-the-try Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-10-16 16:45] mike-urnun-msft commented on #16931
Hi @will111222 Thank you for your feedback! We will review and update you with our findings.

[2018-10-16 16:48] DiegoRamirez-MSFT commented on #16947
hello EthanChung1

the parameter $virtualMachineName = 'yourVMName' on the document refers to the name of the new VM you want to create

please let me know if you have additional questions

[2018-10-16 16:48] #16947 closed

[2018-10-16 16:53] myszon01 commented on #16613
@robinsh When I was deploying new custom endpoint a week or two ago the status was always Healthy and routing is working. Yes, I am using the sample application when level="critical" and it is working but now when I am deploying new custom endpoints it seems like something doesn't work and I am doing exactly same steps as I did on my previous development. I will double check if routing is working

[2018-10-16 16:54] mike-urnun-msft commented on #16943
Hi @SychevIgor Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-10-16 16:55] SeanFeldman commented on #7385
@jluk can't - neither have I raised it nor have permissions.

[2018-10-16 16:58] mike-urnun-msft commented on #16951
Hi @MarkParsonsOS Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-10-16 17:01] Adam-Smith-MSFT commented on #16940
@Klaas- Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-16 17:04] BryanTrach-MSFT commented on #16670
@github33 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-16 17:04] #16670 closed

[2018-10-16 17:11] Karishma-Tiwari-MSFT commented on #16602
@simonlegeek Can you also share how many web and worker roles do you have in your cloud service?

[2018-10-16 17:11] MicahMcKittrick-MSFT commented on #14316
@CharlesZHENG thanks for the update! Glad you got it installed.

@JamiePed any update on your end?

[2018-10-16 17:12] MicahMcKittrick-MSFT commented on #16516
@iainfoulds could you help clarify on this scenario?

[2018-10-16 17:12] YutongTie-MSFT commented on #16910
@overslacked Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@erhopf Hi, I think this is a doc-bug with the document, can you please give more details and update the document as necessary? Thanks a lot!

[2018-10-16 17:13] cgillum commented on #16923
The problem is that the format of host.json has changed in Functions 2.0. See a correct example for host.json in our samples here: https://github.com/Azure/azure-functions-durable-extension/blob/master/samples/precompiled/host.json

[2018-10-16 17:15] erhopf commented on #16910
@YutongTie-MSFT - No problem. Working with the Speech team to identify documentation improvements.

[2018-10-16 17:20] iainfoulds commented on #16516
They're two different things. The internal IP address for an ingress resource means that only an internal IP address is assigned to your ingress controller for use with internal apps. There is no external IP address assigned that would permit external traffic from reaching the services that get deployed behind that internal-only ingress controller.

The doc for egress traffic is for when you want

[2018-10-16 17:21] Alberto-Vega-MSFT commented on #16945
@AdamPliska Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-16 17:26] leeware opened #16964 "Missing Command Statements"
Trying to follow along the example.  Looks like some parts are missing command statements.   The rest of the example fails as a result.   Below is the first example:

Retrieve the primary virtual network (the vnet that the virtual machine is connected to)
 #Retrieve the virtual network that the virtual machine is connected to
***  [Missing Command Statement] *****
 #Get first network interface car

[2018-10-16 17:29] georgewallace commented on #16573
@erikverwer Thanks for this additional information let me try a couple other times to repro.

[2018-10-16 17:30] richrundmsft commented on #16689
Hi @scott1138
I've put the engineer working on your support case, and also @Alberto-Vega-MSFT in contact with the Log Analytics team so they can investigate and get an answer for you. I haven't worked with Log Analytics and custom logs in quite a while, so I don't know the answer to your question off the top of my head.

[2018-10-16 17:31] Karishma-Tiwari-MSFT commented on #16938
@amitgc Would you be able to elaborate a little more on the portal and VS changes you think needs to be updated?

[2018-10-16 17:31] vhorne commented on #16673
@devops-brain
Thanks for your feedback. We've added some additional info to the article to address the issue:
https://docs.microsoft.com/en-us/azure/application-gateway/create-web-app#restrict-access

[2018-10-16 17:31] scott1138 commented on #16689
@richrundmsft thanks Rich!

[2018-10-16 17:37] johncleophas commented on #16479
@MarkDixonTech your solution worked for me. Thanks!

[2018-10-16 17:38] YutongTie-MSFT commented on #16837
@thecpshah This issue is solved offline. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-16 17:38] #16837 closed

[2018-10-16 17:39] Anmolgan81 commented on #16954
Hi alberto I have raised a support ticket to Microsoft, can I share the support request ticket no with you so that you can assign it to correct persons?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Alberto Vega <notifications@github.com>
Sent: Tuesday, October 16, 2018 10:55:47 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [Microso

[2018-10-16 17:39] georgewallace commented on #16573
@erikverwer I tried with VSTS Git source control type as well and it was successful, now I just put the small workflow logic you have above in my workflow and it worked. If you just put the following code in your source control repo and try to sync does it still fail?

[code]

![image](https://user-images.githubusercontent.com/6796566/47035793-b67b4480-d12f-11e8-8461-3708b717099f.png)

[2018-10-16 17:41] TravisCragg-MSFT commented on #13491
@gsouza-modulo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-16 17:41] #13491 closed

[2018-10-16 17:42] YutongTie-MSFT commented on #16937
@jpetitte We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-10-16 17:42] #16937 closed

[2018-10-16 17:42] Mike-Ubezzi-MSFT commented on #16946
@shivangipatwardhan2018 Thank you very much for your interest in Azure products and services. Were you interested in using the MongoDB driver with the Cosmos DB Emulator or did you want to see the instructions on how to set-up a CI/CD pipeline for a solution that leverages the Azure Cosmos DB Mongo API Service?

[2018-10-16 17:43] MarkAtAgilliance opened #16966 "User Properties"
Hi, it looks like this is the only mention of User Properties in the current documentation set for V2,  Is this the sole purpose of user properties (to promote visibility of an activity property) or is there a broader use case that could be described in the concepts chapters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-10-16 17:44] chetanku commented on #16516
@iainfoulds Thanks for the detail. Let me rephrase what I was trying to do
Method which did not work:
1. Create an internal load balancer from azure portal in the MC_ resource group (resource group created during AKS creation)
2.  Assign Loadbalancer's IP to the ingress controller via -- (https://docs.microsoft.com/en-us/azure/aks/ingress-internal-ip )

The above way didn't work and I got the erro

[2018-10-16 17:45] TravisCragg-MSFT commented on #16958
@carlbuchmann Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-16 17:48] kashimiz commented on #16903
Ack. I'll update these.

[2018-10-16 17:49] shivangipatwardhan2018 commented on #16946
I wanted to see the instructions on how to set-up a CI/CD pipeline for a solution that leverages the Azure Cosmos DB Mongo API Service. I am already able to successfully run the tests locally -- the problem comes when attempting to do so in the CI/CD pipeline as per the documentation.

[2018-10-16 17:50] TravisCragg-MSFT commented on #16956
@christophkarner have you [registered your ASDK](https://docs.microsoft.com/en-us/azure/azure-stack/asdk/asdk-register) yet?

[2018-10-16 17:50] Alberto-Vega-MSFT commented on #16960
@larsonmpdx Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-10-16 17:50] hrasheed-msft commented on #16026
Hello @basavaraj64. What specific post-verification steps did you have in mind?

[2018-10-16 17:51] curtand commented on #14088
Hi @KeiroKamioka0000
The article already says "Basic infrastructure services such as DHCP, DNS, and health monitoring are provided through the virtualized host IP addresses 168.63.129.16 and 169.254.169.254. These public IP addresses belong to Microsoft and are the only virtualized IP addresses used in all regions for this purpose...Communication to these IP addresses is not an attack. If you bloc

[2018-10-16 17:53] TravisCragg-MSFT commented on #16907
@ivasilyev-servicetitan-com Thanks for the feedback! we have recently updated the creation process for many services in the portal, Thanks for catching this one!

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-16 17:53] fiftin commented on #16899
@jakaruna-MSFT Is it possible to update custom image for VMSS? I can't find any information about it.

[2018-10-16 17:55] iainfoulds commented on #16516
You'd need to let AKS create the load balancer resources in Azure for your services rather than trying to manually create them ahead of them and then use them in AKS. Just create the service through the Kubernetes API, and let the networking plugin create and configure the appropriate Azure resources.

The Helm chart is a simple way of deploying an ingress controller, but is basically just wrappin

[2018-10-16 17:56] TravisCragg-MSFT commented on #16948
@KumudD Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-16 17:59] fiftin commented on #16899
Oh, I found this post: https://social.msdn.microsoft.com/Forums/en-US/352d03c3-52d9-4fa8-a370-270731889fab/auto-scale-set-change-image-operationnotallowed?forum=AzureStack

Answer MSFT specialist: Unfortunately, Updating the image in a Scale-Set and Auto Scale-Sets are not yet supported in ASDK.

[2018-10-16 18:01] mack0196 commented on #15705
Is there a practical difference to the message ordering for messages with sessionId set when Topic.SupportOdering=true vs when SupportOrdering=false and Topic.Partition=True?

What is the practical side effects of 1pump with SupportOrdering?

Is the 1 pump behavior of premium the reason why partitions are not supported?

Does that mean that message ordering in the subscription is not guarenteed to

[2018-10-16 18:01] SnehaGunda commented on #16865
#please-close

[2018-10-16 18:02] iainfoulds commented on #16721
Thanks for the feedback, @bramvdklinkenberg. For product feedback suggestions like adding in the option to delete nodes within the cluster as part of the CLI tooling or portal, you can submit suggestions here - https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks. That helps prioritize new features within the platform.

@jakaruna-MSFT As there's no actionable updates right now in

[2018-10-16 18:03] amitgc commented on #16938
When I went through it some of the steps and terminology in the Azure Dev Ops pipeline seemed different. E.g. Build & Release and a few steps needed you to understand the platform as it wasnt obvious.

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Tuesday, October 16, 2018 6:31:25 PM
To: MicrosoftDocs/azure-docs
Cc: amitgc; Mention
Subject: Re: [Mic

[2018-10-16 18:05] algattik opened #16968 "Please clarify some text"
1) This sentence is grammatically unclear: "Specify a VM that you want to be the NVA the next hop".
2) The role of "a VM" could be made clearer in this sentence: "Specify a VM and the IP address of the NVA".
3) "Connectivity Check": that pane does not exist. I assume it refers to the "Connection troubleshoot" pane

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-10-16 18:07] Mike-Ubezzi-MSFT commented on #16946
@shivangipatwardhan2018 Thank you for that update. I am going to assign this to the content author to evaluate and update as appropriate.

[2018-10-16 18:08] Mike-Ubezzi-MSFT commented on #16949
@janlange Thank you very much for your interest in Azure products and service. We are investigating and will update you shortly.

[2018-10-16 18:08] shivangipatwardhan2018 commented on #16946
I shall await the update -- its a major stopper for me currently.
Thank you for your help!

[2018-10-16 18:10] chetanku commented on #16516
@iainfoulds  so basically we can't. thanks for the clarification.

[2018-10-16 18:13] #16067 closed

[2018-10-16 18:14] mike-urnun-msft commented on #16817
Hey @sem27 We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-16 18:14] #16817 closed

[2018-10-16 18:14] kobulloc-MSFT commented on #16930
@noahfalk Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-10-16 18:15] bramvdklinkenberg commented on #16721
See https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/35702938-support-selection-of-nodes-to-remove-when-scaling

[2018-10-16 18:15] #16721 closed

[2018-10-16 18:16] erikverwer commented on #16573
yes even with that sample code it will fail. and when i remove -parallel the sync is working.
![image](https://user-images.githubusercontent.com/24406274/47037838-4d6fed00-d180-11e8-98c8-e45788881bc7.png)

[2018-10-16 18:16] saykumar opened #16971 "Anyway to specify mountOptions here?"
I'm strugglying to specify mountOptions to customize the uid, gid, dir_mode when using Azure Files - Static. It seems possible when using storageClasses, but not in this method... am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d634c63a-6194-86a6-b522-3310812c81e8
* Version Independent ID: fa86da

[2018-10-16 18:16] jjgriff93 commented on #16134
hi @shivangipatwardhan2018 the link is here: https://github.com/MicrosoftDocs/azure-docs/issues/16435#issuecomment-429269348 - however it sounds to me like the issue is unrelated to that. I'd post up a separate issue on the cosmos DB GitHub page to see if they can help

[2018-10-16 18:22] Mike-Ubezzi-MSFT commented on #16927
@shaunybrown Thank you very much for your interest in Azure product and services. We are currently looking in to this and will update you shortly.

[2018-10-16 18:24] mckinnm commented on #15792
I need to locally install Microsoft Azure Service Fabric SDK version 3.0.472.9494 with runtime version 6.1.472.9494.  Please advise on how to accomplish this.

[2018-10-16 18:28] Mike-Ubezzi-MSFT commented on #9488
@vxjen We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-16 18:28] #9488 closed

[2018-10-16 18:31] MarileeTurscak-MSFT commented on #16921
@WayneYangsa
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-16 18:32] qibozhu commented on #16879
@scheek Did you try to pull the image from a Windows OS? The azure-blob-storage image for Windows is based on Windows 10 October 2018 update version. You have to pull the image from this Windows OS version.

[2018-10-16 18:34] ImNotSerious opened #16976 "bad link"
the link for "Best practices for conditional access in Azure Active Directory"
should be: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/best-practices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618ca851-56c8-5ba1-35de-a7b8e7af8aa2
* Version Independent ID: 5facc663-2e29-65ad-f208-982150

[2018-10-16 18:35] MarileeTurscak-MSFT commented on #16953
@gianjianne Unfortunately there is not enough information in this post for me to take action on. Please open a new issue and provide a detailed explanation of your error.

[2018-10-16 18:35] #16953 closed

[2018-10-16 18:41] scheek commented on #16879
@qibozhu I am currently running Windows 10 - 1803 (I believe this is the October update)

[2018-10-16 18:45] MarileeTurscak-MSFT commented on #16950
@astengaard
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-16 18:46] MarileeTurscak-MSFT commented on #16961
@mrmueller
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-16 18:46] SaurabhSharma-MSFT commented on #16773
@chrispadgettlivecom Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-10-16 18:47] MarileeTurscak-MSFT commented on #16942
@frfriel
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-16 18:49] MarileeTurscak-MSFT commented on #16933
@jalcockte
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-16 18:50] MarileeTurscak-MSFT commented on #16955
@pstapf
Thanks for your feedback! We will investigate and update as appropriate.

[2018-10-16 18:53] mm-gmbd commented on #6764
Content is still out of date, and it's **very** confusing because some of the content on the developer portal *can* be modified via the templates, but some other content can only be modified via the publisher portal.

After a little digging, it seems like the developer portal was created on top of [Orchard CMS](https://orchardproject.net/) (direct link to [Managing Widgets](http://docs.orchardproj

[2018-10-16 18:55] rwike77 commented on #15792
@mckinnm  You need that specific version?  Here's the [release announcement for the 6.1 refresh](https://blogs.msdn.microsoft.com/azureservicefabric/2018/03/13/service-fabric-6-1-refresh-two-coming-up/) and release notes on the team blog.  The release notes have the download links for installers, you can use the same process as outlined earlier in this issue.  Hope that helps.

The download links

[2018-10-16 18:56] mm-gmbd commented on #7098
It looks like the developer portal was created on top of [Orchard CMS](https://orchardproject.net/), and it looks like this is a straight copy-paste job from [this bit in the docs](http://docs.orchardproject.net/en/latest/Documentation/Getting-Started/#changing-the-layout-of-the-home-page).

[2018-10-16 18:58] msangapu commented on #13373
As discussed today with @ahmedelnably and @panchagnula, they will work to update the default to 8.11.1 and also sync list-runtimes with Kudu runtimes on ANT 78.

[2018-10-16 18:58] mm-gmbd commented on #6764
FYI -- building on my last comment. If you need to add a new page to the developer portal, it can be done so via the "Content" section in the Publisher Portal:

![image](https://user-images.githubusercontent.com/3329824/47040313-f48a5f80-d153-11e8-9c0d-aa8184d19981.png)

[2018-10-16 19:01] DimsumPanda opened #16978 "Setting a Token Lifetime policy to a Converged Application"
I was able to set a token lifetime policy for a native "Azure AD only" application by following the documentation.
However, I was unable to set the token lifetime for a Converged application. I get "Request_ResourceNotFound" when I put in the object ID that I found in the Azure AD "enterprise application" panel. Is there a way to configure the token policy for the converged application.

---
####

[2018-10-16 19:04] TravisCragg-MSFT commented on #16944
@mzbowe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-16 19:05] BryanLa commented on #13434
@ericbl, @ajomathew - Apologies for the delay on this, and thanks for your feedback and patience.

I've made several modifications to articles, including the one you cited, to ensure PowerShell parameters are correct on Get-AzureRMKeyVault  (`-InRemovedStateVault` was changed to `-InRemovedState`), and New-AzureRMKeyVault (`-VaultName` was changed to `-Name`), plus freshness and grammar/formatting

[2018-10-16 19:07] Karishma-Tiwari-MSFT commented on #16971
https://github.com/MicrosoftDocs/azure-docs/issues/16938

[2018-10-16 19:10] Mike-Ubezzi-MSFT commented on #16897
@andrewatfornax Thank you very much for your detailed feedback. We are currently investigating this and will update you shortly.

[2018-10-16 19:10] MattKravetz opened #16980 "PySpark Support"
Hi,

Are there any plans to support PySpark?

-Matt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a43d656-dbdf-ae04-f88d-488aa1dc78c5
* Version Independent ID: 155c9eb2-92df-1619-4284-17c46a419f1f
* Content: [Spark Connector with Azure SQL Database and SQL Server](https://docs.microsoft.com/en-us/azure/sql-database/s

[2018-10-16 19:12] Mike-Ubezzi-MSFT commented on #16905
@zhusulai Thank you very much for your interest in Azure product and services. We are currently investigating this and will update you shortly.

[2018-10-16 19:14] LisandroSu opened #16981 "Mistaken URL example"
@dcbrown16 commented on [Mon Oct 15 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/776)

「この属性は、.your-root-domain-here* と *.scm.your-root-domain-here を両方とも含むように設定する必要があります。」
最初のパスは正しくは *.your-root-domain-here になると思いますが、いかがでしょうか？

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2b1afa49-a5b4-92db-68e8-3feeeff52eb3
* Version Independent I

[2018-10-16 19:18] TravisCragg-MSFT commented on #16791
@charlesb87 The error message you are getting seems to lead that there is an issue with the destination subscription. Please make sure that you are logging out of one subscription & tenant and logging into the correct one when the doc specifies.

If you are still having issues, I would recommend you open a support request. If you do not have a support plan, please Email me at AzCommunity@Microsoft

[2018-10-16 19:19] TravisCragg-MSFT commented on #12310
@GaretAnderson if you do not have a support plan and need to open a support request, please Email me at AzCommunity@Microsoft.com with your subscription ID and a link to this page. I will enable a one-time free support request for your subscription to troubleshoot this issue.

[2018-10-16 19:22] daedam opened #16982 "Broken link - validate move"
The "validate move operation" link under the "Validate move" heading is broken and points to a 404 page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource gro

[2018-10-16 19:25] chancegray opened #16983 "typo"
"To enhance your Azure AD implementation, you can also add paid capabilities bu upgrading to Azure Active Directory Basic"
should be:
"To enhance your Azure AD implementation, you can also add paid capabilities by upgrading to Azure Active Directory Basic"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278fd397-b3b7-51

[2018-10-16 19:28] LisandroSu commented on #16981
Hi team,

The user reported an issue about the example URL having the asterisk in the wrong place, but after further investigation we found out that way the example is written in the source is breaking the sentence in all localized versions. If we fix all localized versions, sooner or later is going to be broken again when the files are re-localized.

Below you can find the sentence in question wi

[2018-10-16 19:30] #16671 closed

[2018-10-16 19:33] KepanoEgg opened #16984 "password in second script"
After the script to create the certificates, you say "Make note of the end date and the password for the .pfx (in this example: May 15, 2019 and MyPassword). You'll need them for the script below."
The second script doesn't seem to have any reference to a password, and the date is pulled from a property.
Am I missing something that is going to make this process break?

---
#### Document Details

⚠

[2018-10-16 19:41] femsulu commented on #16929
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-10-16 19:41] #16929 closed

[2018-10-16 19:42] sandeeppujar commented on #8815
The documentation (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-central/howto-connect-devkit.md) is per the latest binary (AZ3166-IoT-Central-2.0.0.bin). We have made changes to the way we connect devices. The document follows this latest update.

[2018-10-16 19:43] noahfalk commented on #16930
Thanks for taking a look, if you have any follow up questions I'm happy to help.

[2018-10-16 19:46] mckinnm commented on #15792
@rwike77 Thank you. I do not have permission to close.

[2018-10-16 19:51] erikverwer commented on #16573
Hmm, syncing is not consistent. at first i thougt it was because my project contains subfolders with spaces in the name. but when i put the scripts in the root or in folders without spaces it works sometimes.

[2018-10-16 19:52] TravisCragg-MSFT commented on #16859
@aku163 are you using a Basic Load Balancer or a [Standard Load Balancer](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-overview)?

[2018-10-16 19:54] DSakura1987 opened #16986 "Instruction for Firefox is wrong"
For step 4, `Enter https://autologon.microsoftazuread-sso.com in the field.`, the protocol should not be specified. The login FQDN should be directly used.

Tested on Firefox 62.0.3 (64-bit).

Please fix the document, thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d53fedc-b37d-9c37-fd71-32088e1e88d3
* Version

[2018-10-16 19:56] TravisCragg-MSFT commented on #16968
@algattik Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-16 19:57] nitinme commented on #16348
@jason-j-MSFT - This article should provide the details.

[2018-10-16 20:05] Karishma-Tiwari-MSFT commented on #15792
@y4hmez Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-16 20:05] #15792 closed

[2018-10-16 20:24] danabaxter opened #16989 "Need to update the Azure CLI example"
dana@Azure:~$ az graph query -q "where type =~ 'Microsoft.Compute/virtualMachines' | limit 1"
az: 'graph' is not in the 'az' command group. See 'az --help'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6215348-a08e-86bc-a329-295a233b880e
* Version Independent ID: e69d4508-fda7-1f35-fa71-af4eba4098f2
* Content: [Expl

[2018-10-16 20:29] DCtheGeek commented on #16989
@danabaxter Thanks for the question! There are [instructions](https://docs.microsoft.com/azure/governance/resource-graph/first-query-azurecli#add-the-resource-graph-extension) available for installing the extension with Azure CLI if you aren't using [Cloud Shell](https://shell.azure.com).  Have you followed these steps?

@MicrosoftDocs/azure-cxp-triage Please assign to me, label as 'product-questi

[2018-10-16 20:30] DSakura1987 commented on #16986
Sorry, I just noticed that when I copied the site by right clicking the address and select "Copy link address" in Chrome, a forward slash was added, which is causing the seanless SSO failed.
I will close the issue and pull request. Sorry for any inconvenience.

[2018-10-16 20:30] #16986 closed

[2018-10-16 20:38] danielhzrivera opened #16990 "run.csx - error CS0246: The type or namespace name 'Twilio' could not be found"
Hello.

I've trying to compile examples of twilio voice and sms applications, and even just adding the reference of twilio in the code and without using it, sends the error of the topic.

The documentation says that in the web plataform just need to reference i the library and is gonna works, but the problem stills appears.

I've added too the file "project.json" with this content:

--------------

[2018-10-16 21:05] kashimiz commented on #16903
Addressed by [this PR](https://github.com/Azure/azure-functions-durable-extension/pull/478).

[2018-10-16 21:06] LisandroSu opened #16993 "non-supported process"
@KIchiyanagi commented on [Mon Oct 15 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/780)

LINE WORKS サポートチームというメールはすでに使われていません。
LINE WORKS Developers Community で相談となっています。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 32fd0e63-c637-7a7d-9b1c-4ecfe2548553
* Version Independent ID: b5059615-9bb3-2713-1e8e-b2bec08ef62d
* Content: [チュート

[2018-10-16 21:07] nastassiar commented on #12260
Is this still the recommended approach for High Availability for app insights?

[2018-10-16 21:08] LisandroSu commented on #16993
Hi team,

According to the user the e-mail address for LINE WORKS is no longer correct.

Can you check this?

Thanks!

[2018-10-16 21:08] jeevansd commented on #16993
@chetansriv Can you please correct this article?

[2018-10-16 21:12] Dannex opened #16994 "Azure trial subscription"
Can you please tell me how can move my resources from my trial subscription to the new on purchased? Be informed that the trial subscription is expired. I've tried to move them from portal but due the fact that the trial is expired it can't be done.
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685

[2018-10-16 21:15] daveford commented on #13614
Has there been any progress made on this? I am experiencing a very similar issue.

[2018-10-16 21:21] mrent commented on #9925
Any resolution on this? Facing the same issue.  Password reset policy will not work on an account that was created through a script with username-based login.  After sending the user through email verification and MFA verification, you can login with the account through the sign-in part of the sign-in/sign-up policy. But even then, the password reset policy fails after the verification email with

[2018-10-16 21:28] Mike-Ubezzi-MSFT commented on #16846
@WenJason We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-16 21:28] #16846 closed

[2018-10-16 21:29] jwfw opened #16995 "classic portal being deprecated"
some of the screen shots may need updating

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e2f54b4-852d-7cd4-1c18-bdf06fa5ed5b
* Version Independent ID: e39a8842-b282-cd83-ab01-d1ea5c6d9c67
* Content: [Audit and receive notifications about important actions in your Azure subscription](https://docs.microsoft.com/en-us/a

[2018-10-16 21:30] #16843 closed

[2018-10-16 21:31] Mike-Ubezzi-MSFT commented on #16769
@JimInWA We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-16 21:31] #16769 closed

[2018-10-16 21:32] #16755 closed

[2018-10-16 21:33] Mike-Ubezzi-MSFT commented on #16622
@kondareddy1984 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-16 21:33] #16622 closed

[2018-10-16 21:38] kamaljoshi911 opened #16997 "Query exceeded the maximum allowed memory usage of 40 MB. Please consider adding more filters to reduce the query response size"
I am using cosmos db mongo api for doing aggregation. our documents are large(but still within the limit of 2mb may be 200kb) but when i group the data cosmosdb throws up an error "Query exceeded the maximum allowed memory usage of 40 MB. Please consider adding more filters to reduce the query response size".
I have tried the aggregate option of "allowDiskUse": true but it didn't work.

---
#### D

[2018-10-16 21:38] Mike-Ubezzi-MSFT commented on #16516
@chetanku We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-16 21:38] #16516 closed

[2018-10-16 21:41] aku163 commented on #16859
@TravisCragg-MSFT , I am using Basic Load Balancer.

[2018-10-16 21:44] danabaxter commented on #16989
Thanks for the installation instructions!

[2018-10-16 21:44] #16989 closed

[2018-10-16 21:46] msangapu commented on #12941
Hi @BryanTrach-MSFT - Our changes will be published today (https://github.com/MicrosoftDocs/azure-docs-pr/pull/55336). Can you please assign to me and close?

[2018-10-16 21:46] Mike-Ubezzi-MSFT commented on #16274
@sorgina13 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-16 21:46] #16274 closed

[2018-10-16 21:51] #16922 closed

[2018-10-16 21:55] Alberto-Vega-MSFT commented on #16966
@sharonlo101 Any Insights on this?

[2018-10-16 21:57] Alberto-Vega-MSFT commented on #16966
@sharonlo101   I haven't found another use case for User Properties. Any Insights on this?

[2018-10-16 21:58] MohitGargMSFT commented on #16933
@jalcockte Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-10-16 22:03] MarkAtAgilliance opened #16998 ""actions" function is undefined in the Until activity example."
In this segment of example 1, it shows "...coalesce(body('MyUnauthenticatedActivity')?.status, actions('MyUnauthenticatedActivity')?.status" as part of the condition.  I can work out what 'body' means because the activity is a web activity and currently the web activity can return a json result.  It would be great if this function was listed.

On the other hand, actions() does not appear to be def

[2018-10-16 22:11] MarkAtAgilliance commented on #11464
I think a great 3rd example would be one where we have an "Until sub-activity succeeded or Y attempts have been made".  I'm trying to figure out how to use a pipeline variable for this (rather than the pipeline parameter) to hold a count that I can decrement to zero then exit.

[2018-10-16 22:16] BryanTrach-MSFT commented on #12941
@martin77s We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-16 22:16] #12941 closed

[2018-10-16 22:17] TravisCragg-MSFT commented on #16859
@aku163 on Basic Load Balancers, you can only use additional backend pools to add additional NICs of VMs that are already in an existing pool.

You can do this with a Standard Load Balancer though.

[2018-10-16 22:17] iainfoulds commented on #16804
I have created a PR to add the command to list available versions. This update should merge and publish tomorrow morning.

#in-progress

[2018-10-16 22:20] mike-urnun-msft commented on #16328
Hi @BillRaymond Should we link the "these settings are in **environment variables**" to [this page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#local-settings-file)?

[2018-10-16 22:30] Mike-Ubezzi-MSFT commented on #16500
@tomasaschan [This](https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-nodejs) tuotrial is based upon `JavaScript Gremlin Language Variant` version `3.2.9`. Just to separate Node.js Gremlin client versus Gremlin.NET client.

![screenshot 441](https://user-images.githubusercontent.com/37126106/47051097-aa0ae200-d157-11e8-8518-5ca2f790ad15.png)
![screenshot 442](https://user-images.github

[2018-10-16 22:30] MohitGargMSFT commented on #16942
@frfriel Thanks again for pointing this out, the PR for the fix has been created and it will be merged soon.

[2018-10-16 22:32] #16055 closed

[2018-10-16 22:33] Mike-Ubezzi-MSFT commented on #14105
@balait01 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-16 22:33] #14105 closed

[2018-10-16 22:33] #13434 closed

[2018-10-16 22:34] #12949 closed

[2018-10-16 22:34] #12831 closed

[2018-10-16 22:35] #11670 closed

[2018-10-16 22:36] Mike-Ubezzi-MSFT commented on #10644
@georglabbe Thank you for the update. We will close this for now but if you wish to continue the conversation, please comment. Thank you!

[2018-10-16 22:36] #10644 closed

[2018-10-16 22:36] #10450 closed

[2018-10-16 22:36] YutongTie-MSFT commented on #16841
`import json

  print("Hello, World!")`

[2018-10-16 22:37] #9571 closed

[2018-10-16 22:38] mike-urnun-msft commented on #16187
Hey @blueelvis Sorry for delay in response. If you're still curious as to what exactly happens with "Run from Package," please review [this issue](https://github.com/Azure/app-service-announcements/issues/84) which states following:

"_With all the other deployment flows, the App is running off loose files in your wwwroot, and deploying a new version means making changes (additions/deletions/updat

[2018-10-16 22:38] #16187 closed

[2018-10-16 22:39] YutongTie-MSFT commented on #16841
`import json
import ws
print("Hello, world!")`

[2018-10-16 22:40] curtand commented on #16733
Hi @SamirFarhat
I have contacted the PM, and I'm sure I'll be updating it shortly. I'm stepping in for author Jim Dial.

[2018-10-16 22:40] Mike-Ubezzi-MSFT commented on #16990
@danielhzrivera Thank you very much for you interest in Azure products and services. To help you further, may I have a link to the documentation or samples you are attempting to reference. Thank you.

[2018-10-16 22:44] curtand commented on #14601
Hi @jtuliani
I'm picking up some of Jim Dial's work. I contacted the PM and will take appropriate action when the team has weighed in. It seems a likely candidate for inclusion.

[2018-10-16 22:44] msfcolombo opened #17000 "No reference to Powershell sample"
Please add either a Powershell sample (like you did for C#), or a link to it. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a299cd29-143b-c263-7996-3467035b8937
* Version Independent ID: a8a1d0d0-411e-44eb-51da-c1f8ab90befa
* Content: [Enable public read access for containers and blobs in Azure Blob storage](h

[2018-10-16 22:45] Mike-Ubezzi-MSFT commented on #16990
And I think you your run.csx should look something more like, in the case of SMS:

#r "Newtonsoft.Json"
#r "Twilio.Api"

using System;
using Newtonsoft.Json;
using Twilio;

[2018-10-16 22:47] alvipeo commented on #16793
Please mention this in the docs.

[2018-10-16 22:48] #16942 closed

[2018-10-16 22:53] Mike-Ubezzi-MSFT commented on #13718
The documentation has been updated. Closing issue.

[2018-10-16 22:53] #13718 closed

[2018-10-16 22:53] mike-urnun-msft commented on #16336
Hi @mithuns This appears to be known issues - please see Azure/azure-functions-host#2009 for any workarounds that might suit your unique needs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-10-16 22:53] #16336 closed

[2018-10-16 22:54] curtand commented on #16733
Hi @SamirFarhat
This has been updated in
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-peering#requirements-and-constraints
https://docs.microsoft.com/en-us/azure/virtual-network/create-peering-different-subscriptions#cli

This one will be updated shortly. Good catch, and thanks!
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-vnet-plan-design

[2018-10-16 23:05] irab opened #17001 "Subdomain verification in ARM Templates"
You should also note that for ARM templates you can add 'useSubDomainName':
"customDomain": {
  "name": "[parameters('customDomain')]",
  "useSubDomainName": "true"
}

Otherwise you have to do it in the portal, dump the XHR and the investigate the portal API call to find out why it keeps failing :/

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-10-16 23:10] Mike-Ubezzi-MSFT commented on #16980
@MattKravetz Thank you very much for your interest in Azure products and services. In looking at this tutorial, PySpark is used with an HDInsights cluster and an Azure SQL Database instance. In which context were you wanting PySpark support in Azure SQL Database?

[Use HDInsight Spark cluster to read and write data to Azure SQL database](https://docs.microsoft.com/en-us/azure/hdinsight/spark/apach

[2018-10-16 23:12] Mike-Ubezzi-MSFT commented on #16997
@kamaljoshi911 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-16 23:13] Adam-Smith-MSFT commented on #16964
@leeware Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-10-16 23:17] aku163 commented on #16859
We have resources in UKS zone and working with one VNET only.

Standard LB does map with only one vnet per instance, hence this would not be useful in our case.

On the other hand, when we use Basic LB, if we already created backend pool (say bp1 with two VMs vm1 and vm2) , adding additional backend pool (bp2) doesn't give option to configure more vms to it (vm3 and vm4) and populates the configur

[2018-10-16 23:18] overslacked opened #17002 "Suggestion: provide i18n support with filename conventions"
First, I want to let you all know that am I really happy with the static website feature.

I don't know what the vision for static websites is - if it's only intended to be a very simple public-facing file repository, or something more complete. If the vision is for this to be more complete, then, because there's no way of doing rewrites or interrogating the Accept-Language HTTP header, it would b

[2018-10-16 23:19] YutongTie-MSFT commented on #15556
eeee

[2018-10-16 23:20] myszon01 commented on #16613
@robinsh routing is working when I send messages to the BLOB storage also I noticed that when I created the custom endpoint for the Blob the status was Healthy

[2018-10-16 23:28] MattKravetz commented on #16980
Hi Mike,

Thanks for your response! I am interested in using the bulk copy features demonstrated in the "spark connector" article, but it seems to only be available for scala Spark.  I am using a jdbc driver to write pyspark dataframes to SQL Server 2017 in python now, but this appears to do row-by-row inserts instead of a bulk/batched insert, so it is quite slow. Just took a look at the article y

[2018-10-16 23:34] proctorm commented on #16824
Hi,

I've managed to solve the problem. Thanks @shizn for pointing me in the right direction, much appreciated!

I will lay out my solution for future reference in case others have the same issue with a proxy. I had to make changes to three files: `deployment.template.json`, `.env` and `Dockerfile.amd64`. I also needed to deploy via the Azure CLI as the integration with VS Code also didn't work be

[2018-10-16 23:38] jeffpatt24 commented on #16690
I updated the Windows and Linux troubleshooting articles to mention the "secure transfer required" will block unsecured connections

[2018-10-16 23:39] jeffpatt24 commented on #16690
#please-close

[2018-10-16 23:39] YutongTie-MSFT commented on #16841
@raymondlaghaeian Hi, do you have any idea about this? Thanks.

[2018-10-16 23:42] manish-shukla01 opened #17006 "azure resource manager api"
can the scope be azure resource manager api (ARM api) instead of graph?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 390c6d26-c7f8-6821-f3a8-ecb34c3b1a2a
* Version Independent ID: 7b696c88-56c4-1a1c-95eb-30c2dd42a5f1
* Content: [Azure AD v2 JavaScript quickstart](https://docs.microsoft.com/en-us/azure/active-director

[2018-10-16 23:43] dcbrown16 commented on #16920
Thanks @DiegoRamirez-MSFT! I think minimally what we need is:

- add a sentence saying that the portal Restart and Stop operations may lead to loss of the temporary drive data

- replace the confusing "successful standard reboot" phrase with something that clarifies that this refers to a guest OS restart from within the VM

@roygara let me know if you have any questions, thanks!

[2018-10-16 23:45] dcbrown16 commented on #16823
Thanks @danimir, the customer I am working with was unsure because there are often previews for Azure services with no cost or different costs, but I understand that SQL Analytics is billed to Monitor under normal rates. Appreciate the quick response!

[2018-10-16 23:45] #16823 closed

[2018-10-16 23:52] LoganZhao opened #17007 "symbolic links"
there was a typo ( mfsymlinks ) on the command for enable symbolic link feature:

sudo mount -t cifs //&lt;storage-account-name&gt;.file.core.windows.net/&lt;share-name&gt; &lt;mount-point&gt; -o vers=&lt;smb-version&gt;,username=&lt;storage-account-name&gt;,password=&lt;storage-account-key&gt;,dir_mode=0777,file_mode=0777,serverino,mfsynlinks (mfsymlinks)

---
#### Document Details

⚠ *Do not edi

[2018-10-16 23:52] MohitGargMSFT commented on #16950
@astengaard I don't see an issue with your script. Only thing is as you already have a Group ID, you can try replacing
$template = Get-AzureADDirectorySettingTemplate | Where-Object {$_.displayname -eq "group.unified.guest"}
with
$template = Get-AzureADDirectorySettingTemplate -Id $groupID

Please check if that makes any difference.

[2018-10-16 23:54] jeffpatt24 commented on #12979
Added AzFileDiagnostics note at beginning of article. Update should be live tomorrow (PR#55367).

[2018-10-16 23:55] jeffpatt24 commented on #12979
#please-close

[2018-10-17 00:14] BryanTrach-MSFT commented on #16981
@dcbrown16 & @LisandroSu Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-17 00:18] dcbrown16 opened #17008 "RBAC info needs improvement"
"Backup operator, Resource group contributor in which VM is going to get deployed, Read on Vnet and Join on subnet selected"
This statement is pretty unclear and, if true as written, seems like a gap in the RBAC offerings.
Is it saying that we must assign the "Contributor" role at scope of the replication target resource group? That would enable the user to make many other kinds of resources and i

[2018-10-17 00:24] ebrayton opened #17009 "Missing required permission to delete role assignments"
The role assigned to the application in this tutorial appears to be "Reader," which is not one of those which has the ability to delete role assignments. So, the second part of the [Manage connected subscriptions](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-api-authentication#manage-connected-subscriptions) section is not possible to complete with the given infor

[2018-10-17 00:27] MohitGargMSFT commented on #16976
@ImNotSerious Thanks for your feedback! We will investigate and update soon on it.

[2018-10-17 00:31] MohitGargMSFT commented on #16986
@DSakura1987 Thanks for the update.

[2018-10-17 00:35] curtand commented on #16733
Hi @SamirFarhat
PR is merged for the last update
https://github.com/MicrosoftDocs/azure-docs-pr/pull/55366

@TravisCragg-MSFT #please-close

[2018-10-17 00:36] MohitGargMSFT commented on #16978
@DimsumPanda Thanks for your feedback! We will investigate and update soon on it.

[2018-10-17 00:36] MohitGargMSFT commented on #16984
@KepanoEgg Thanks for your feedback! We will investigate and update soon on it.

[2018-10-17 00:37] MohitGargMSFT commented on #16983
@chancegray Thanks for your feedback! We will investigate and update soon on it.

[2018-10-17 00:41] rolyon commented on #16190
Hi @holgerjay
The Microsoft.Network operations have been updated
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftnetwork

[2018-10-17 00:42] rolyon commented on #16190
@MicrosoftDocs/azure-cxp-triage
#please-close

[2018-10-17 00:42] Mike-Ubezzi-MSFT commented on #12979
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-17 00:42] #12979 closed

[2018-10-17 00:43] Mike-Ubezzi-MSFT commented on #16690
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-17 00:43] #16690 closed

[2018-10-17 00:44] Mike-Ubezzi-MSFT commented on #16733
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-10-17 00:44] #16733 closed

[2018-10-17 00:44] rolyon commented on #16135
Hi @dorinmi
Have you enabled notifications in the directory role settings?
thanks

[2018-10-17 00:47] rolyon commented on #16389
Hi @ediazrod
Built-in roles have AssignableScopes set to the root scope ("/"). If you create your own custom role, you can’t set AssignableScopes to root scope. You must specify a subscription or management group.
Can you clarify what changes you think need to be made to the docs?
thanks

[2018-10-17 00:48] MarileeTurscak-MSFT commented on #16955
Thanks for catching this, @pstapf . Closing this issue since @vedipen seem has made a pull request. #16967 @vedipen can you confirm?

[2018-10-17 00:48] #16955 closed

[2018-10-17 00:54] curtand commented on #15590
@grayjeremy
Thanks for your patience. The PM says that the drop-down item is related to the Service Endpoint capability for Azure AD Gateway, which is used for VNet Integration for Azure Data Lake Store Gen 1. The article where it's discussed is
https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-network-security

@TravisCragg-MSFT #please-close

[2018-10-17 01:15] robinsh commented on #16613
@myszon01 Just have to check. Your last comment above says "error synchronizing access keys on service bus topic". Are you using a topic or a queue? I haven't tried this with a topic, so have no idea how that would work. Be sure you're adding it as a queue and not as a topic?
I still have one of these deployed, and I checked it, and the status is healthy, so at least that's working.

[2018-10-17 01:20] #16190 closed

[2018-10-17 01:36] codyborn commented on #16634
Hi @sudheesh001, we've published the full analysis as well as the tools that we've used here:
https://github.com/Azure-Samples/blockchain/tree/master/ledger/template/ethereum-on-azure/performance-benchmarking

This tool was used for relative benchmarking and I highly encourage you to use the tool to test your deployed network topology.

[2018-10-17 01:44] MicahMcKittrick-MSFT commented on #16516
Thanks for confirming @iainfoulds. Appreciate it :)

[2018-10-17 01:47] spelluru commented on #15852
#please-close

[2018-10-17 01:51] romankiss opened #17010 "Problem to update an eventDeliverySchema property in the Subscription"
It looks like this feature has been broken on the Azure portal, CLI and also using a REST API.
Once the eventDeliverySchema property has been populated in the subscription during a creating time, the value is always returned as  **"eventDeliverySchema": "InputEventSchema"**

There is no way to update this property to others schemas such as _cloudeventv01schema, eventgridschema, or inputeventschema

[2018-10-17 02:03] JamiePed commented on #14316
Before this issue got re-opened I reinstalled my operating system and all was fine - it probably wasn't able to properly gut all of the files since it was last removed/updated and that is likely why it kept falling over. I saw other people had success tearing down VMs and this was the closest option I had to that!

It was a bit aggressive to tear down the whole OS but got the job done 👍 Thanks for

[2018-10-17 02:08] MicahMcKittrick-MSFT commented on #14316
Thanks for the update @JamiePed! Agree that rebuilding the OS is not ideal but at least it does get rid any of lingering files :)

We will close this for now but if either of you have additional issues just let us know.

[2018-10-17 02:08] #14316 closed

[2018-10-17 02:20] Alberto-Vega-MSFT commented on #16736
@alpinedelight Are you still experiencing this? I was not able to repro the issue. Although I see some different errors.
![reproforgatewaydevice](https://user-images.githubusercontent.com/10910841/47058127-7c826080-d178-11e8-9019-2a92fb4e5e3d.PNG)

[2018-10-17 02:57] tingyiy opened #17011 "gpu support for 1.11"
the workaround above does not work for 1.11. you want to follow the nvidia plugin page at https://github.com/NVIDIA/k8s-device-plugin instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deaac79e-bd40-2d95-7288-e15371726e91
* Version Independent ID: 9fd80908-20f1-7970-3bda-5a4283e4af21
* Content: [GPUs on Azure Kuber

[2018-10-17 03:26] mehara110 opened #17013 "Missing claims"
Number 11 under "Configure an ADFS relying party trust" does not include claims?
11. Provide a Claim rule name. For the Attribute store, select Select Active Directory, add the following claims, then click Finish and OK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14a5d4c-5125-8ed2-7fda-38aee1296b76
* Version Indep

[2018-10-17 03:34] sark01 commented on #17013
I would like to work on this

[2018-10-17 03:39] dcbrown16 opened #17014 "Point in Time Restore"
Per the FAQ page https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale-faq#does-sql-database-hyperscale-support-point-in-time-restore :
"Does SQL Database Hyperscale support Point in Time Restore
Yes"

Does that info not conflict with the mention of PITR in "Known limitations" on this page? Or is this a difference regarding migrated DBs vs DBs created as hypersca

[2018-10-17 03:51] mike-urnun-msft commented on #16328
Hey @BillRaymond We have hyperlinked the "environment variables" text to go to documentation for `local.settings.json` file where context is communicated better. Thanks again for providing your valuable feedback and helping us drive an improvement towards MS Docs!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly co

[2018-10-17 03:51] #16328 closed

[2018-10-17 03:55] jusso-dev opened #17015 "Swagger or similar documentention for API"
Is there any useful API documentation for the Azure Security Center REST API's? Specifically for Task's, what are all the possible states, what are all the categories etc..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75c7f3f6-1c1e-0654-f2e7-79dbfbcc433b
* Version Independent ID: da1ac295-09fd-f240-3f61-a09f3cb94dac

[2018-10-17 04:33] mike-urnun-msft commented on #16840
Hi @giovannifl Yes, please see [this Stackoverflow](https://stackoverflow.com/questions/42127733/what-does-the-storage-account-setting-of-an-azure-function-app-do) answer and review the importance storage account being in same subscription :)

[2018-10-17 04:35] swinarko commented on #15574
Please be aware that when using Point-to-Site VPN, the assigned client-side IP address might change if VPN gateway gets reconnected.  Site-to-Site with ExpressRoute is preferable if you want to use Azure-SSIS IR to connect to on-prem servers with static IP addresses.

[2018-10-17 04:37] ssorenes opened #17016 "Devices"
Hi. Can a device instance be a child of another device instance in scenario where a larger device is made up of some sub-devices (hierarchy of devices)? I could not see the ability to link a device to another device in the API. Sensors will be connected to both the parent device and device children.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft

[2018-10-17 04:38] swinarko commented on #15480
Thanks for reporting this documentation error, we will fix it accordingly.

[2018-10-17 04:56] jakaruna-MSFT commented on #16831
@JeanQian Checked with the Team.
In preview mode, below ones are officially supported.
This doesn't mean that extension will be supported only on these Distributions. When its moving to GA, we can expect support for other Distributions and versions.

- CentOS 6.9
- CentOS 7.4
- Debian 8.<latest>
- Debian 9.<latest>
- RHEL 6.9
- RHEL 7.<latest>
- SLES 12.<latest>
- Ubuntu 14.04
- Ubuntu 16.04
- Ubu

[2018-10-17 05:05] johndowns commented on #16061
Hi @snehithm, I've emailed you as requested.

[2018-10-17 05:06] femsulu commented on #16982
@daedam Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-17 05:12] femsulu commented on #16995
@jwfw Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-10-17 05:16] femsulu commented on #16994
@Dannex Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-10-17 05:16] zrahui opened #17018 "Missing examples and information for in-place restore"
In-place restore (Replace existing as opposed to Create new) appears to be an option in the portal, this update hasn't yet been reflected in the documentation here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66081bde-1e22-dd9c-8357-a0485b23b0a7
* Version Independent ID: eb2a52a5-d290-84fb-c3fe-2a5d8512669a
* Conten

[2018-10-17 05:38] mail4mohit commented on #16899
@jakaruna-MSFT You mention in response to @fiftin above that updating custom images is not supported but this article mentions multiple times that custom images are supported.

Reference-1
"It's also common for applications to be deployed through a custom image. This scenario is covered in the following section."

Reference-2
"If you use custom images, you can update the image by updating the imag

[2018-10-17 05:41] shizn commented on #16824
Glad to know you made it. And really appreciate the detailed steps!!! Thanks a lot.

[2018-10-17 05:45] GeethalakshmiG commented on #17018
Hi @Shanti Swaroop Swain<mailto:shswain@microsoft.com> ,

Hope portal inplace link from OLR Blade is pointing to restore documentation. Currently we have also included separate H2 header which should be linked sooner. Adding @Bhagya Thalath (MINDTREE LIMITED)<mailto:v-bhthal@microsoft.com> who has uploaded the document yesterday. I am sending you this mail as i have got notifications that the docu

[2018-10-17 05:58] SaurabhSharma-MSFT commented on #16902
@longnlp yes it is supported. why do you feel it as not supported ?

[2018-10-17 06:19] PramodValavala-MSFT commented on #16844
@kudlatiger API Management can indeed be used with Azure Functions. As for scaling, azure functions will scale on their own as usual.

You can refer to this [link](https://docs.microsoft.com/en-us/azure/api-management/import-function-app-as-api) for more step-by-step details.

[2018-10-17 06:27] sergey-netdev opened #17023 "Local IIS support"
How to configure the developer mode for local IIS on WIndows 10? I could get it working for IIS Express and console applications by installing Azure CLI and doing all the steps described but trying to obtain tokens in a normal IIS fails:

AzureServiceTokenProviderException: Tried the following 4 methods to get an access token, but none of them worked.

My expectation was that if I change the App P

[2018-10-17 06:31] jakaruna-MSFT commented on #16932
@daffsmith Please install the latest version of Azure PowerShell and try. My version is 5.1.2.You can check your version like this.
`Get-Module -ListAvailable -Name Azure -Refresh`
You can find all the releases [here](https://github.com/Azure/azure-powershell/releases).
You can also update Azure PowerShell using `Update-Module -Name AzureRM`

[2018-10-17 06:37] JustRonald commented on #13139
@barclayn I'm also trying to find out if encryption at rest is possible for Service Bus and enabled by default. So if you have any updates from the PM, please let us know.

Thanks,
Ronald

[2018-10-17 06:47] SychevIgor opened #17024 "Preview Metrics not longer in a preview"
"Select Metrics (preview)." as of today, this section just named "metrics". Could you please update text to remove "preview" as well as screenshot?
![image](https://user-images.githubusercontent.com/578954/47067348-c22f3f80-d1f1-11e8-875d-e90d084d7915.png)

I'm talking about this image https://docs.microsoft.com/en-us/azure/api-management/media/api-management-capacity/capacity-metric.png
---
####

[2018-10-17 06:59] jecarlsen opened #17026 ""Abnormal rise in the rate of failed request" meaning is not described."
Hello. We just had to contact MS-support to get the real meaning behind "abnormal rise in the rate of failed requests".
Neither in the azure-portal on the Overview nor in the Smart-detection tile-page it's explained when this alert should be triggered.
The conditions is not described, hence nobody really knows if they get what they expect.
Hence, we keep guessing whether the system has a problem,

[2018-10-17 07:05] SychevIgor opened #17027 "Not ARM powershell command"
"Here are some examples of using API Management with Automation:
Azure API Management – Using PowerShell for backup and restore" if we will follow the link (https://blogs.msdn.microsoft.com/katriend/2015/10/02/azure-api-management-using-powershell-for-backup-and-restore/) we will find that post referencing ASM powershell command for storage and APIM.

Could you add a link on something up-to-date (

[2018-10-17 07:06] bingosummer commented on #13499
@TravisCragg-MSFT @steveesp
Hey, how it the issue going? I faced exactly this issue.
I use NTTTCP to [test Bandwidth/Throughput](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-bandwidth-testing#testing-vms-running-linux). But I don't find any docs of testing latency on Linux VM with accelerated networking enabled. Please help!

Additionally, https://medium.com/@easonlai888/

[2018-10-17 07:20] jakaruna-MSFT commented on #17011
@tingyiy The yaml file used in the Azure document and the yaml file in the NVIDIA github page has few differences in labels, tolerations and image.
Out of those changes,  image version is a major factor. Azure Document asks you to change the version in the yaml file to match the kubernetes version.
I hope you have changed the version in azure document yaml file from 1.10 to 1.11 before deploying.

[2018-10-17 07:38] AlexanderTodorovic opened #17028 "Endpoint - Bad Request?"
Dear All, any idea why the code below does not return respectively only returns 400 Bad Request ?  Getting access token works fine, but not the request to Speech to text. Thanks.
[code]

[code]
[code]
[code]
[code]

[code]

_Originally posted by @AlexanderTodorovic in https://github.com/MicrosoftDocs/azure-docs/issues/16910#issuecomment-430518290_

---
#### Document Details

⚠ *Do not edit this se

[2018-10-17 07:41] jpalo commented on #13958
Nos so sure about "cat /sys/block/sda/queue/rotational", as it says 1 for sda/sdb/sdc, although sda is Premium SSD, sdb is Temp SSD, and sdc is Standadd HDD.

[2018-10-17 07:42] vladislav-mitev opened #17029 "what is the requirement for [resource namespace]?"
It seems a bit misleading that in the descriptions it is said that "In the resources array of the resource for which you want to enable Diagnostic Logs, add a resource of type [resource namespace]/providers/diagnosticSettings".
Next, this type format is not used neither in the sample template, nor in the example i.e. the example uses ' "type": "providers/diagnosticSettings" '... I would expect it

[2018-10-17 08:02] CptQuint commented on #11616
@iainfoulds Any idea when we can expect the availability of Windows containers without Virtual Kubelet / ACI on AKS?

[2018-10-17 08:06] karlisf commented on #17026
I agree that meaning of "abnormal" is unclear.
We have never received smart detection regarding failures.
It seems that criteria to trigger notification about anomalies are too high. If notification is sent when 77.8% of users are affected (as shown in the example), then it's too late. It means that the system/application being monitored is not usable or close to that. Help support is already conc

[2018-10-17 08:12] yuzha1 commented on #11501
It looks like a misunderstanding. The doc string says "There is a limit of 64 images and 20 tags". I think the function `trainer.create_images_from_files` is going to tag each image (<=64) with all the tags (<=20) in `tag_ids`, instead of tagging each image with the corresponding items in the `tag_ids`. For intuition, the graphic portal tags uploaded images like this.

[2018-10-17 08:29] Jayesh040 commented on #16929
So @tfitzmac and @femsula, does this resource type "SparkPost"  support deployment in CSP subscription ?

[2018-10-17 08:30] michevnew opened #17031 "Outdated"
Can you please update the article to reflect the new Access Reviews UI and options. Lots has changed in two months :) I don't seem to have permissions to work with images over at GitHub in order to make the changes myself...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1dc21d8-8ebe-44fb-5b22-93d924829e73
* Version I

[2018-10-17 08:31] swinarko commented on #15686
Thanks for reporting these errors, we will fix them accordingly.

[2018-10-17 08:32] shizn commented on #16735
BTW, if you are using AMQP protocol. You don't necessarily need the 8883 port if you don't want to talk to leaf devices (I assume no because you are running everything in a VM). Another way to make the debug work is to remove the 8883 port from your EdgeHub createOption to avoid the conflict.

[2018-10-17 08:36] daffsmith commented on #16932
Got it thanks, I hadn't updated to the latest version. It works now.

[2018-10-17 08:49] mcurko opened #17032 "Note"
I had to open the port 8080 on the load balancer for this example to work on the Azure cluster (my own, not the shared one).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa58af5-02ea-e425-1fc5-9f588d394016
* Version Independent ID: 86440381-783a-6e49-bacb-59b1c1581d81
* Content: [Create a .NET app on Service Fabric

[2018-10-17 08:51] migmartri commented on #7385
My bad, I should have escaped the tags or they got lost during the transfer to GitHub, what I meant was:

Which was fixed here https://github.com/MicrosoftDocs/azure-docs/commit/395137954035c56636cbd176d4e1b2ef47480557#diff-3f104ca014cdcdfb1f1f17b16492f18f

Thanks!

[2018-10-17 08:54] sergaz-msft commented on #8786
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-17 08:54] #8786 closed

[2018-10-17 09:00] sergaz-msft commented on #8815
Thanks @sandeeppujar !
@dumbnose we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-17 09:00] #8815 closed

[2018-10-17 09:11] #16932 closed

[2018-10-17 09:13] jakaruna-MSFT commented on #16924
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-10-17 09:29] JulienFloris commented on #16389
We are having the same issue, and the (new) doc's are also saying it it not possible at this time([Source](https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles#custom-role-properties))

We have our Exchange/office365/Intune team that now need GlobalAdmin from time to time because Exchange/Skype PIM role those not cover everything. So we as the Azure Team would like to crea

[2018-10-17 09:34] jakaruna-MSFT commented on #16971
@saykumar You can use Security context in the pod configuration to change the Uid and Gid's.
Example is [here](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod).
You can apply those settings to the pod or each containers to the pod also.
I didnt test these settings in Azure files.  Try this and let me know.
I think dir_mode can`t be set

[2018-10-17 09:34] rifaterdemsahin opened #17033 "Any relationship with how to do this on terraformed environments"
we are writing Iac and we would like to learn how to implement all these steps with the Terraform. If there a simple template reference that would be fine to create a datadrive

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fde1939-787d-2aa5-4b29-d303f8ed49cb
* Version Independent ID: c2838cb5-c34c-e0ff-b280-b86f29453

[2018-10-17 09:47] MikkelHegn commented on #17032
Hi @mcurko, there's a note about it at the bottom of this section: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-dotnet#deploy-the-application-to-azure - did you not find it?

[2018-10-17 09:53] mcurko commented on #17032
I can only see that for Party Cluster the port 8080 is open, nothing beyond that.

Regards,
Marko Čurko

Marko Čurko
Senior Developer │ Perpetuum Mobile d.o.o.
Damira Tomljanovića Gavrana 13, 10000 Zagreb
m +385 91 2305 123 │ t +385 1 6390 834
marko.curko@perpetuum.eu<mailto:marko.curko@perpetuum.eu> │ www.perpetuum.hr<http://www.perpetuum.hr/>

[cid:image002.png@01D34284.7E49FA10]

From: Mikkel M

[2018-10-17 09:58] jsiegmund opened #17034 "Include instructions on where to run Azure CLI snippets"
This is not the only article with this issue. In many places, we now see Azure CLI snippets but those do not explicitely state on where they are to be executed. The commandline syntax for 'az' commands differs based on whether your using the cloud shell, commandline, PowerShell or any other environment where az is supported. So users that are not known to this will easily get confused by the comma

[2018-10-17 09:59] MikkelHegn commented on #17032
I've submitted a PR to clarify this in the note.

[2018-10-17 10:07] TheFausap commented on #5693
The bug is still here. Please could you fix this ?

[2018-10-17 10:17] sergaz-msft commented on #16824
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-17 10:17] #16824 closed

[2018-10-17 10:19] sergaz-msft commented on #16735
@nkolchakov we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-17 10:19] #16735 closed

[2018-10-17 10:33] #16951 closed

[2018-10-17 10:37] PramodValavala-MSFT commented on #16951
@MarkParsonsOS Thanks for contributing to MS Docs! We have updated the links in the docs accordingly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-10-17 10:59] LeonardoFelippine opened #17037 "Production failover"
Hello.

It is my understanding that the VM-GenerationID will only be reset during a test failover. Is that correct?
If so, during a production failover, no additional steps will be required within AD to have the DC working as expected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 624c7696-d724-3252-f31e-9d90c8bd3fb5

[2018-10-17 11:02] NBelham opened #17038 "Prerequsites"
In this paragraph, "For user provisioning to Active Directory, a domain-joined server running Windows Service 2012 or greater is required" should it not be stated "Windows Server" and not "Windows Service"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799c371a-a17e-08aa-ef56-86eef2395f7e
* Version Independent ID: 133

[2018-10-17 11:10] Enver-Adams opened #17039 "Clarification"
Hello,

Thank you for the article; I have read it several times now and am still unsure how the IPSec Tunnel over ExpressRoute (Microsoft Peering) is able to route traffic destined for Microsoft Peering over the IPSec Tunnel?

I understand that you have enabled Microsoft Peering Route Filters for well defined BGP Communities / Office 365 services for example Exchange Online; this would by definiti

[2018-10-17 11:11] viktorsteinwand commented on #14504
in this documentation the version 1.x seems to be used. For the version 2.x there is a host.json reference in place: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#logging

[2018-10-17 11:28] mrmueller commented on #16961
Thanks for your response. This helps a lot.
Still, it would be great to know if azure just ignores the signature or if something will break and what the security implications of doing without a signature are.

Thanks again

[2018-10-17 11:28] #16961 closed

[2018-10-17 11:31] mayanknayar commented on #17037
@LeonardoFelippine  - VM-GenerationID can be reset on any failover, including production failover. We have called out the considerations to keep in mind when running a test failover, where virtualization safeguards are not necessary. These safeguards are important in the case of production failovers.

Please refer to the [AD documentation](https://docs.microsoft.com/windows-server/identity/ad-ds/i

[2018-10-17 11:54] balait01 commented on #14180
Hi, Not able to find the settings for knowing "subscribe & unsubscribe settings  in Azure Log Analytics - Windows Analytics Mgmt Solution under Update Compliance?

And advice about on Automation Account option under Accounts Tab in OMS is missing in Azure LA Workplace?

[2018-10-17 11:56] balait01 opened #17041 "Azure Log Analytics Workplace - Windows Telemetry & Automation Account"
Whether "Windows Telemetry" of Connected Source in OMS where we subscribe & unsubscribe settings will be added in Azure Log Analytics Workplace? And advice about on Automation Account option under Accounts Tab in OMS is missing in Azure LA Workplace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bb1685a-5439-034b-766

[2018-10-17 11:57] cephalin commented on #16676
@lswright Thank you for your feedback. However, this doc is not meant to work for custom apps, but is designed to be the first simple step of a Python dev's journey in App Service. Please take a look at the Next Steps section.

Note the doc is written for App Service on Linux, which doesn't use web.config at all.

#please-close

[2018-10-17 11:58] ffloimair commented on #7693
That's exactly what I was thinking. This note is somewhere in the middle, but it should be on top. I'm not interested in following all the previous steps, only to find out that I cannot use it afterwards.

[2018-10-17 11:59] swati8826 opened #17042 "Issue with nested array in json format"
I have an json file which has nested array.I am fetching this data from an API and storing it into azure data warehouse using ADF copy activity.
Using json path expression  given above i can get data till *sites* but after that i can't get values of id and name.
Json is given below :

{
    "values": [
        {
            "name": "LP",
            "sites": [
                {

[2018-10-17 12:11] jakaruna-MSFT commented on #17033
@rifaterdemsahin There are two ways to add a data disk to a vm according to terraform.
We need to use ONLY one method out of these two.
While createing a vm, You can look at this [link ](https://www.terraform.io/docs/providers/azurerm/r/virtual_machine.html) to add [storage data disks](https://www.terraform.io/docs/providers/azurerm/r/virtual_machine.html#storage_data_disk).
This step is for unman

[2018-10-17 12:14] cephalin commented on #7693
@wmekal @ffloimair Thank you guys for the feedback. I've added a note at the top to clarify it now. It will be published sometime today. Sorry for the frustrations.

#please-close as the issue is solved by the new note.

[2018-10-17 12:15] bawilless opened #17043 "DPS instructions missing critical steps (Add enrollment group and do the certificate dance)"
The DPS instructions have changed in the last week.  I followed these instructions on Friday 10/12/18 and I was walked through the process of setting up DPS, downloading certificates, proving ownership, and uploading certificates.  Without the certificate dance, you can't setup an enrollment group within DPS and without the enrollment group, DPS does not provision devices.

Has this functionality

[2018-10-17 12:19] jtuliani opened #17044 "Tags and Billing guidance not up to date"
The guidance on using tags to cross-charge your bill aren't accurate, or at least aren't clear enough for me to get it to work.

First, it says we can download the usage CSV from the EA portal. I tried that, and the CSV I got  DOES NOT contain tags info. If there's some trick to it I'm missing, that needs to be called out.

Second, it also says we can download the usage CSV from the Account portal

[2018-10-17 12:20] bjthomson commented on #14663
# Curiouser and curiouser:
On my Surface, same version of windows 10, same Visual Studio.
I created a new, empty WebForms project, then Added connected service, the same keyvault as before.

Looking at web.config, it has not added the ConfigBuilders element, but the vaultName and vaultURI now appear as elements inside appSettings…!
thus:
    <configuration>
      <appSettings>
        <add key="va

[2018-10-17 12:32] LeonardoFelippine commented on #17037
Hello.

Thanks for the reply. One other thing that I would like clarification is that the article says that the reset might happen. What are the conditions/scenarios for it to happen?

Regards.

[2018-10-17 12:34] longnlp commented on #16902
Hello @SaurabhSharma-MSFT

We found the following request works for onmicrosoft.com user, but it doesn't work for ADFS user.

`
POST https://login.microsoftonline.com/Common/oauth2/token
Content-Type: application/x-www-form-urlencoded
Host: login.microsoftonline.com

resource=https%3A%2F%2Fgraph.microsoft.com&client_id={clientId}&grant_type=password&username={username}&password={password}&scope=op

[2018-10-17 12:36] mayanknayar commented on #17037
[This article](https://docs.microsoft.com/windows-server/identity/ad-ds/get-started/virtual-dc/virtualized-domain-controller-architecture) should be useful. Please use that in conjunction with the safeguards describe [here](https://docs.microsoft.com/windows-server/identity/ad-ds/introduction-to-active-directory-domain-services-ad-ds-virtualization-level-100)

[2018-10-17 12:44] LeonardoFelippine commented on #17037
Thank you, I will read them.

The post can be closed.

[2018-10-17 12:45] mayanknayar commented on #17037
Thank you for the confirmation.

#please-close

[2018-10-17 13:14] jtuliani commented on #10628
@femsulu any update?

[2018-10-17 13:17] femsulu commented on #16815
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-10-17 13:17] #16815 closed

[2018-10-17 13:18] wdonne opened #17046 "Broken link"
Hello,

The link "these steps" on this page is broken.

Best regards,

Werner.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6cadc-f93d-75de-7611-b1e3d80917e2
* Version Independent ID: bcf194d8-3442-b284-576f-407af9ca1067
* Content: [Azure Storage Explorer troubleshooting guide](https://docs.microsoft.com/en-us/azu

[2018-10-17 13:29] boylec opened #17047 "SessionHandlerOptions"
In the Microsoft.ServiceBus .NET library there is an object called SessinHandlerOptions with various properties on  it. I can find no description to how these actually operate anywhere.  MessageWaitTImeout, MaxConcurrentSessions, AutoComplete, and AutoRenewTimeout.

In my particular use case, I'm trying to figure out what AutoComplete does. Is that meant to close a session automatically once the l

[2018-10-17 13:35] Dipluz opened #17048 "Creation of Container"
The script fails, because it never creates the blob container to store the backup in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f85dbd0-3db3-f020-1d9b-071820ad2038
* Version Independent ID: 58d27415-b3a0-94c5-671f-f4670f635aa9
* Content: [Azure PowerShell Script Sample - Backup and restore service](https://docs.m

[2018-10-17 13:40] StefH opened #17049 "Please update the screenshots for Request, Response and Logic App Workflow to latest version"
Please update the screenshots to latest version

The screenshots are red, but the current (2018 October) `Request` and `Response` blocks are green.

Also the `Logic App Workflow` is now (2018 October) blue instead of purple.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a18a5a6-0630-17aa-a2d1-686e575d7e22
* Version I

[2018-10-17 13:41] markgar opened #17050 "Missing Fields in Docs"
I noticed that context.user.authId is missing from the list of fields in the doc above.  Is this the only missing field that is currently in the Continuous Export that isn't listed here in this documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db382c01-f666-1dc6-ffc1-6c26780b924c
* Version Independent ID: e

[2018-10-17 13:42] steveesp commented on #13499
I'm working on this. Thanks for your patience.

Here's a sample of what I have for Linux so far:

#From bash command line (assumes git is installed)
git clone https://github.com/mellanox/sockperf
cd sockperf/
./autogen.sh
./configure --prefix=
#make is slower, may take several minutes
make
#make install is fast
sudo make install

#Sample commands after install:
#Server - assumes server's IP is 10.

[2018-10-17 13:45] craigshoemaker commented on #16935
@tamram do you know the latest details regarding support?

[2018-10-17 13:48] seancostigan opened #17051 "Step missing for social/federated providers?"
I believe the docs are missing a step to get this working for social/federated providers. In order for the new claim to appear when signing in from a federated Azure AD tenant, I had to add the following OutputClaim to the "Self Asserted" ClaimsProvider:

&lt;OutputClaim ClaimTypeReferenceId="city" /&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-10-17 14:05] danielhzrivera commented on #16990
Hello Mike.

Thanks for your answer.

These are the references that I've been using.

https://www.twilio.com/docs/usage/tutorials/serverless-webhooks-azure-functions-and-csharp?code-sample=code-receive-sms-with-c-azure-functions&code-language=C%23&code-sdk-version=5.x#write-a-function-to-respond-to-sms-messages

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-twilio

http

[2018-10-17 14:06] lesterw1 opened #17053 "Role-Based File Access?"
Is the role-based access control which was part of Data Lake Generation 1 also available in generation 2?  Can you elaborate on how to configure and use it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b975977b-abaa-8429-c902-30fd470c43ac
* Version Independent ID: 289cf357-a6d6-7c00-d282-fe93f66a5c4e
* Content: [Azur

[2018-10-17 14:08] ccnoecker commented on #16997
I am having the same issue.

[2018-10-17 14:09] ruprizal commented on #17050
There is one more attribute I am seeing in AppInsights blob but not in MS documentation. The attribute is context.device.screenResolution.
Any reason why it is missing from the Documentation?

[2018-10-17 14:21] dtschroe commented on #9257
Having the exact same issue, fails to push every time.  I have a pretty good internet connection (180gb down, 30gb up) and I have tried pushing probably 50 times and every time it times out.  I reduced the max upload threads to 2 and still have the issue.  The timeout is really short.  Seems like it only allows 45 seconds or less per layer.

[2018-10-17 14:29] ccnoecker commented on #16997
Similar situation, but my documents are much smaller in size. I am also grouping the data. "allowDiskUse" did not help.

[2018-10-17 14:29] chiragghag commented on #14757
@anirudhcavale - last link is giving a '404'. I am assuming that correct link is - https://docs.microsoft.com/en-us/rest/api/monitor/metrics/metrics_list
But this doesn't exactly specify what namespace we should be using.
if I use, &metricnamespace=Microsoft.Compute/virtualMachines. The memory metrics is not found in this.
and using '&metricnamespace=Microsoft.Compute/virtualMachines/guest' gives

[2018-10-17 14:50] Banchio opened #17054 "Implicit grant not given by default breaks postman token acquisition"
Following the procedure I had to edit the application manifest (in AAD app registration) to have the OAuth flow working in Postman. Until then, I kept receiving unsupported_response_type from Postman itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10ba3809-058c-63c9-48b3-a5c036754df1
* Version Independent ID: b5

[2018-10-17 14:50] CarlRabeler commented on #17014
PITR is supported in Hyperscale. However, if customer migrate an existing database to Hyperscale, they can’t restore the database to point in time before the migration.

Updated doc – thank you.

Carl

From: Dillon Brown <notifications@github.com>
Sent: Tuesday, October 16, 2018 8:40 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Ment

[2018-10-17 14:53] SychevIgor opened #17055 "Make an article a bit more consistent"
Could you use in git commands {name} as you did in the begging instead of some APIM name like here "git clone https://bugbashdev4.scm.azure-api.net/"
It will make an article a bit more consistent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d0120b7-a5fe-fead-e88b-cf1bab80ba73
* Version Independent ID: 7371e474-727d-

[2018-10-17 15:03] Mike-Ubezzi-MSFT commented on #16946
**Background on this issue:**

In the [Developing with the emulator](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#developing-with-the-emulator) section of the emulator documentation, the syntax for the MongoDB connection string is as follows:

`mongodb://localhost:C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==@localhost:10255/admin?ssl=t

[2018-10-17 15:04] MSUser00087 opened #17056 "Using ARM template unable to configure SQL server lever auditing to send data to OMS work space"
While creating SQL server using ARM template we are trying to enable Server level auditing and send data to OMS workspace instead of Storage account..
Using Azure portal sending auditing data to OMS work space is available now which is in "Preview" state.. can you explain using ARM template while creating SQL server how can we send data to OMS instead of storage account.. so faar we couldn’t find

[2018-10-17 15:04] vjabala commented on #16669
Hi Micah,
Has there been any effort on this issue?

[2018-10-17 15:05] apan64 opened #17057 "Search box not working during demo"
It appears map operations are attempted prior to map load, console output recommends using event listener for map load before adding sources to it
Console:
atlas.min.js?api-version=1:3531 Uncaught Error: The source 'search-pins-source' could not be added to the map because the map is not done loading. Please use a load event listener to guarantee the map is done loading before adding a source to i

[2018-10-17 15:11] darrenfurr opened #17058 "Azure DevSpaces: Private Nuget -- The above steps did not work for me. This did..."
I tried the above steps, however, the Dev Space deployment still did not see my private repo when restoring nuget packages. I finally added the following step to my docker file(s) right after WORKDIR & before dotnet restore:
`COPY ["<project folder>/NuGet.Config", "/root/.nuget/NuGet/"]`

One more note: You can use Personal Access Tokens (PAT) for your user vs just clear text password

---
#### Do

[2018-10-17 15:12] PatAltimore commented on #16634
Thanks @codyborn.

@sudheesh001 I'm requesting this issue to be closed.  #please-close

[2018-10-17 15:19] areddish commented on #11501
@CaronteDemonio

The limit you are hitting is the maximum number of tags. The documentation is for older version of the APIs that have a limit of 20, we have recently raised it to 30.

Looking at the code you referenced, the problem is that the for loop that is iterating over the images is also adding the same up_tag to the list_of_tags array every iteration of the loop. So when you hit image #31

[2018-10-17 15:27] apan64 opened #17059 "Incorrect brackets"
Add Search Capabilities section 4 has mismatched brackets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbc23125-006f-d643-9548-ea6d7bc2de60
* Version Independent ID: 77704958-c3b6-d6aa-4f2b-d3794ae6df9c
* Content: [Search with Azure Maps](https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-search-location)
* C

[2018-10-17 15:27] myszon01 commented on #16613
Yes, I have double check and I am using Service Bus Queue I have no clue why I am getting this error.

[2018-10-17 15:29] abhinav-jain09 opened #17061 "where is output Java example"
I do not see output Java example is it supported or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* Version Independent ID: 92b0a972-eabe-8048-36b1-a1cefb3acf43
* Content: [Azure Table storage bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions

[2018-10-17 15:30] DiegoRamirez-MSFT commented on #17046
hello wdonne

thanks for your feedback, are you referring to the "these steps" under the "General sign-in troubleshooting steps"? I was just testing on my side and looks to be working for me, the link takes me to:
https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting#Mac-Keychain-Errors
I wonder if it maybe was some transient issue, could you please try again and l

[2018-10-17 15:31] Mike-Ubezzi-MSFT commented on #17016
@ssorenes Thank you for your interest in Azure products and services. We are actively investigating and will get back to you soon.

[2018-10-17 15:33] roygara commented on #16920
@dcbrown16 the article actually used to have information which covered this. It looks like it was removed. I'm investigating *why* this was done so before I take any further steps.

Thanks for making us aware that this happened.

[2018-10-17 15:33] jabbera opened #17062 "ARM templates do not work, please provide an example"
I've modified our existing arm template to allocate a standard ip instead of a basic IP. When attempting to deploy a vnet gateway with a  sku\tier of: VpnGw1 I get an error saying a vnirtual network gateway cannot be associated with a standard public ip. This makes no sense as the documentation above says otherwise. Please provide an ARM template example. Thanks!

[code]

---
#### Document Details

[2018-10-17 15:34] scheek commented on #16879
@qibozhu ok, noted about the version of Windows. When I check for updates it says its up to date however I'll keep trying. Unfortunately I'm not responsible for OS updates in the deployment environment. I'll still try in my dev environment though.

@mbialecka I'll try the experimental feature as well

[2018-10-17 15:35] jabbera commented on #17062
I've also tried ErGw1AZ as suggested in other documentation. It also fails.

[2018-10-17 15:39] wdonne commented on #17046
Hello Diego,

From what I see in the HTML the link goes to an element on the same page, in fact the section before it. However, when I click on it this section doesn’t scroll into view, neither on Chrome nor on Safari.

Best regards,

Werner.

--
https://www.pincette.net/
Handling your documents with care, wherever you are.

[2018-10-17 15:44] vhothur opened #17064 "Broken urls"
the urls under REST API are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39662d32-ec4d-7826-37b9-6bc76b70fe2b
* Version Independent ID: c83e4c16-0add-2271-94be-572a360350d2
* Content: [Linux VM sizes in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/sizes?toc=%2fazure%2fvirtual-machines%

[2018-10-17 15:46] DiegoRamirez-MSFT commented on #17046
hi Werner

thanks for your quick response, let me take a closer look at this, will get back to you as soon as possible

best

[2018-10-17 15:47] npacucci commented on #11024
@compulim i'm agree with you.
This newest SDK will be released also on NPM?

[2018-10-17 15:47] #16639 closed

[2018-10-17 15:48] mekkimuyeeb commented on #16704
HI sorry,

This is the type of accent marks we are having trouble with.  éè So far people with this can't login to the application that we setup for sso

@SaurabhSharma-MSFT How did you get the custome values in your claims. I dont see that in my setup

[2018-10-17 15:49] mekkimuyeeb commented on #16704
HI , also what is the link to the azure sso web test? @SaurabhSharma-MSFT

[2018-10-17 15:49] apan64 opened #17065 "Need map load listener"
All of this needs a map load listener for all map operations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73f6104b-2396-52bf-f6f1-44af69fb5b46
* Version Independent ID: 7425e32f-f860-2005-8703-625baab53300
* Content: [Multiple routes with Azure Maps](https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-prioriti

[2018-10-17 15:51] erhopf commented on #11301
@YutongTie-MSFT I just tested this using Python 3.x and everything is working. No errors were thrown. Please close this issue.

[2018-10-17 15:52] #17065 closed

[2018-10-17 15:52] apan64 commented on #17065
misread instructions

[2018-10-17 15:53] Mike-Ubezzi-MSFT commented on #17054
@Banchio Thank you very much for your detailed feedback and your interest in Azure products and services. I have assigned this to the content owner to evaluate and update as appropriate.

[2018-10-17 15:53] injector22 opened #17066 "Link Inception"
Why do I feel like I'm an actor in Inception when all I'm trying to do is find out the schema for the headers/body when POSTing to the Hub D2C REST API?

For example, this page clearly shows the URI, Header and Parameters required. Please follow their example in your documentation, not everyone can use pre-built libraries.

https://docs.microsoft.com/en-us/rest/api/azure/#request-uri

---
#### Doc

[2018-10-17 15:54] RachelYang02 opened #17068 "Typos found in tutorial"
I found a few typos that block the html from loading effectively in the browser.
1) In Step 3 of Create A New Map, there's a missing comma between ("subscription-key": MapsAccountKey) and (center: [-118.2437, 34.0522],)
2) In Step 3 of Render Routes Prioritized By Mode of Travel, (tlas.service.geojson) should be (atlas.service.geojson) and (GeoJsonRouteDiraectionsResponse) should be (GeoJsonRouteD

[2018-10-17 15:54] MGoedtel commented on #16939
@rbcoach - I"ll need to check with engineering and get back to you.  We currently support only what is listed in the article.

[2018-10-17 16:01] tingyiy commented on #17011
@jakaruna-MSFT yes I have followed the workaround mentioned in Azure document with the correct version. And it did not help. The gpu in capacity was still showing 0. The NVIDIA page however, did work for me. I can give you access to my AKS cluster if are interested.

[2018-10-17 16:03] DiegoRamirez-MSFT commented on #17046
hi Werner

seems that the link is incomplete, it works if you do right click on top of it and open it on a new tab or window, I have pushed an edit to the document to fix this and will get completed in a couple of hours, in the mean time could you please confirm the workaround works for you

best

[2018-10-17 16:04] Mike-Ubezzi-MSFT commented on #17056
@MSUser00087 Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2018-10-17 16:07] wesmc7777 commented on #17043
You can provisioning devices to an IoT hub through DPS using certificate or symmetric key attestation with enrollment groups. These are the only two methods supported at this time for enrollment groups. Symmetric key attestation is a bit new. It was introduced in the Sept. Anniversary update. However, certificate attestation has been supported for enrollment groups for quite some time.

I'm not su

[2018-10-17 16:08] dmgeurts commented on #15922
However, not SSL inspecting the content URLs means that DLP can no longer be used on them. Which will force many to block access to all but their own tenant.