[2022-03-29 10:59] chengyu-liu-cs opened #90662 "How to move data from a DataBricksStep step to PythonscriptStep"
[Enter feedback here]
This is really good documentation to demonstrate data movement between steps. But in reality many data processing activities which are part of pipeline are done in DataBricks. I wonder if there are any documents demonstrating regarding that, particularly using python scripts from a local compute, PipelineData, PipelineParameters and OutputFileDatasetConfig. It will be really

[2022-03-29 11:00] ram-msft commented on #90660
@Sarchia Thanks for the question. We are investigating the issue and will update you shortly.

[2022-03-29 11:05] SumanthMarigowda commented on #90201
@cveld **It is on the roadmap but there is no ETA.**   we’re working on supporting “storage account line of site to active directory” which will enable automatic password rotation.

Additional information: Update-AzStorageAccountADObjectPassword This command triggers password rotation. We recommend that it should be run every X days based on the customer’s password expiration policy. The impact of

[2022-03-29 11:05] #90201 closed

[2022-03-29 11:07] Tyranwyn commented on #87617
Not only isn't it written in the docs yet. It only seems to work with an orchestrator function. I created an API with the same functionality (returns 202 AND "Retry-After: 5" header) when running and 200 when completed, but the web activity does not poll the result. Are there other requirements?

[2022-03-29 11:10] Cokeisit commented on #40089
I'm too is having this issue when creating from an ARM template. This is something that needs to be solved.

[2022-03-29 11:10] GitaraniSharma-MSFT commented on #90661
@phatcher , thank you for your query. We'll review this and get back to you shortly!

[2022-03-29 11:15] VikasPullagura-MSFT commented on #90655
@gjoshevski
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-29 11:15] VikasPullagura-MSFT commented on #90655
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2022-03-29 11:16] VikasPullagura-MSFT commented on #90658
@sdblepas
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-29 11:16] VikasPullagura-MSFT commented on #90658
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-03-29 11:17] VikasPullagura-MSFT commented on #90659
@EmiFlo
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-29 11:17] VikasPullagura-MSFT commented on #90659
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-03-29 11:22] AnuragSharma-MSFT commented on #90656
@dgpoulet Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-29 11:27] AnuragSharma-MSFT commented on #90577
@miqm Thank you for your response with more details. Yes you are right about this, basic is nothing but Standard_B1s but looks a little inconsistent with the [Compute ](https://docs.microsoft.com/en-us/azure/mysql/flexible-server/concepts-compute-storage)documentation. I will pass this information internally to the appropriate team and seek their inputs. It might take a while but I will write this

[2022-03-29 11:35] adsk2050 opened #90665 "Does drop table work with dbfs path? Is there an analogous command in python to do that? Will it delete the table from dbfs location or not?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30b503df-69a6-881d-8f78-58a091e328e2
* Version Independent ID: db7b0dcb-826f-60a3-9b5c-02d8f860c13a
* Content: [DROP TABLE - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/spark/latest/spark-sql/language-manual/sql-ref-syntax-ddl-

[2022-03-29 11:52] AjayKumar-MSFT commented on #89672
bdcoder2,  I have checked on this further and to add more clarity:

Yes, it is expected.

No, it won't be. The changes are additive.

Thanks again for your great feedback and detailed analysis.

[2022-03-29 11:59] SwathiDhanwada-MSFT commented on #90224
@azure1123 Can you please try below commands and check if it works?

[code]

[2022-03-29 12:17] henrymbuguakiarie commented on #82732
@jmprieur Who can take a look at this? It's over 150 days old.

[2022-03-29 12:24] dannradkov opened #90668 "What is the ETA for GA for host pools autoscaling ?"
[Enter feedback here]
What is the ETA for GA for host pools autoscaling ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e485eb1b-63d7-6fb4-a84a-367be0b7ae09
* Version Independent ID: 6b38c7f4-b264-853c-ac69-9a7d9abc557e
* Content: [Azure Virtual Desktop session host autoscale preview](https://docs.microsoft.com/en-us/

[2022-03-29 12:26] buzzfrog commented on #90060
To test I use docker pull command:
`docker pull mcr.microsoft.com/hello-world:1.1.2`
Response
`Error response from daemon: manifest for mcr.microsoft.com/hello-world:1.1.2 not found: manifest unknown: manifest tagged by "1.1.2" is not found`

`docker pull mcr.microsoft.com/hello-world:latest`
works

[2022-03-29 12:32] VigilanteWang commented on #90470
@pvrk Thank you. Usually for sql server db backup, after a backup of log, by default it will truncate the log. [In this question](https://docs.microsoft.com/en-us/azure/backup/faq-backup-sql-server#can-i-use-azure-backup-for-iaas-vm-as-well-as-sql-server-on-the-same-machine-), it says it will only do a copy-only backup so not to truncate the log.

So, Does it mean when doing sql backup, it still t

[2022-03-29 12:32] kuzhao opened #90669 "The sample config is not feasible for cluster ver<1.21"
This glitch also applies to https://docs.microsoft.com/en-us/azure/aks/azure-disk-volume.
To the doc maintainers: Please be aware that there are still quite some customers staying on v1.20. The switch from the classic intree driver yaml def to CSI misleads them before they open SRs that may not be worth filing.

Can we at least mark the updated CSI yaml with a CSI-only flag, along with a link to t

[2022-03-29 12:53] MartinWickman commented on #90225
I do think we're talking about different things here. I am referring to the `serviceBus/clientRetryOptions` setting in `host.json` (see below). The resilient retries you are talking about is the one defined on the service bus itself, and not are not defined here for sure.

How is `serviceBus/clientRetryOptions` setting related to the retry policy attributes (such as `[FixedDelayRetry]`). Clearly t

[2022-03-29 12:53] pjfreitas opened #90670 "Version vs release"
Article should say version Windows Server 2019 release 1809.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef853ec-6fcb-22dc-76cf-d12af7c87dee
* Version Independent ID: c36fc153-ef89-842e-9b48-5986b1b49552
* Content: [Azure Automation State Configuration overview](https://docs.microsoft.com/en-us/azure/automation/aut

[2022-03-29 12:55] mmtechconsulting opened #90672 "Dynamic Device Groups with Extension Attributes"
As per Microsoft documentation DEVICE dynamic groups can use only specific attributes listed on the link below :

https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-dynamic-membership#rules-for-devices

I would like to create device groups based on Extension Attributes. It seems the functionality is working fine for users.

Now if i query a device by using graph i get

[2022-03-29 13:01] SGSneha commented on #90585
Thank you for the feedback. A bug has been logged in to correct the error in translation.

[2022-03-29 13:14] ultimal opened #90673 "Page is out of date"
The options/processes mentioned in this page are no longer available in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72e047dc-7d8d-1b5e-aee4-ad908e931c8c
* Version Independent ID: 206d6ac7-ca12-1724-5783-8153ca220217
* Content: [Set up a process server VMware/physical failback in Azure Site Recovery - Azure Si

[2022-03-29 13:28] SreejaBhattacharya-MSFT commented on #90668
Hi @dannradkov , thanks for reaching out. I'll check on this and get back to you. Thanks.

[2022-03-29 13:34] mmtechconsulting commented on #90672
If that is the case can we also check that Custom attributes synced from on-prem can be used as well?

[2022-03-29 13:34] BrainCrumbz opened #90676 "STFP Typo in Logic Apps built-in connectors"
There's a typo in [General built-in triggers and actions](https://docs.microsoft.com/en-us/azure/connectors/built-in#general-built-in-triggers-and-actions) section:

where it says `STFP-SSH` it should be `SFTP-SSH`

![immagine](https://user-images.githubusercontent.com/3185573/160623074-e329aaa8-5440-4d04-b99b-cb0bfa65e897.png)

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-03-29 13:40] Nicholak-MS commented on #90287
#please-close

[2022-03-29 13:40] #90287 closed

[2022-03-29 13:47] KrishnaG-MSFT commented on #90670
@pjfreitas Thanks for your comment! We will review and provide an update as appropriate.

[2022-03-29 13:49] GeethaThatipatri-MSFT commented on #90654
Hi @naokitakeda14 Thanks for reaching out, We will Investigate and update you shortly.

[2022-03-29 14:01] SnehaAgrawal-MSFT commented on #90676
@BrainCrumbz Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-29 14:11] GeethaThatipatri-MSFT commented on #90317
Hi, @KSchlobohm We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-03-29 14:11] #90317 closed

[2022-03-29 14:12] GeethaThatipatri-MSFT commented on #90177
Hi @ladydanes We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-03-29 14:12] #90177 closed

[2022-03-29 14:22] cabneydp commented on #85849
Also looking for clarification on this. I would like to have a VM in 2 separate Log Analytics Workspaces, one with Update Management and one with Sentinel. Is that possible?

[2022-03-29 14:25] SreejaBhattacharya-MSFT commented on #90669
Hi @kuzhao , thanks for the feedback. We will review this and update the document as appropriate.

Hi @zr-msft , could you please review this. Thanks.

[2022-03-29 14:36] sebastianstephan commented on #85849
Hey @cabneydp
It works. But you have to use "Data Collection Rules" which can be defined in Azure Monitor. I think you can connect a VM with 4 Log Analytics Workspaces with this method. I set up a scenario, where each VM is in update Management but also logs to one or two additional LAWs.

[2022-03-29 14:37] gabr1elt-arc commented on #83932
I guess this works in a pinch: https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#functions but it would be way easier to implement with a setting.

[2022-03-29 14:41] einarasm commented on #62578
Client has renewed cert which is issued by GlobalSign and one of the listeners started to fail with same error. How did you verify the cert?

[2022-03-29 14:55] RudyEvers opened #90682 "Not working conditional access examples"
Dear Microsoft,

I am looking into the IAM conditional access for Azure Storage accounts.  In the documentation Example 6: Read access to blobs in named containers with a path does not work. I have tried to replicate the example in my own environment, but as soon as I try to access the container I get an unauthorized error. When I remove the blob:path expression it works fine. I know it's still pr

[2022-03-29 15:12] d18c7db opened #90683 "Unable to download Application Proxy connector version 1.5.2846.0"
[Enter feedback here]

New version Application Proxy connector is released but the download link downloads the previous version. Same in Azure Portal under App proxy, it downloads the old version. Asked MS support and they emailed it as a zip attachment but when trying to save it I'm asked to login with my MS account and after successfully logging in I'm denied access to the resource. There is lit

[2022-03-29 15:15] AlanPintor-git commented on #90631
Thank you for your quick reply, I will check the links.

[2022-03-29 15:27] kengaderdus commented on #84895
@tomatsue

Thank you for your feedback and patience. We're sorry that we didn't reply to you in time. We're gathering all the information required to respond to your question. We'll comment back in a few days with the details.

[2022-03-29 15:34] spelluru commented on #89918
Added a note at the top.

#please-close

[2022-03-29 15:34] #89918 closed

[2022-03-29 15:34] enkrumah commented on #90054
#re-assign: @anboisve

[2022-03-29 15:37] enkrumah commented on #90054
#assign: @anboisve

[2022-03-29 15:39] SumanthMarigowda commented on #90682
@RudyEvers Thanks for the question! We are investigating and will update you shortly.

[2022-03-29 15:41] jmprieur commented on #82732
There is a backlog item in Microsoft.Identity.Web for this: https://github.com/AzureAD/microsoft-identity-web/issues/1641
When that is released, we can update the doc.

[2022-03-29 15:44] ram-msft commented on #90662
@chengyu-liu-cs Thanks for the question. We are investigating the issue and will update you shortly.

[2022-03-29 15:46] ramuvr opened #90684 "Country Code"
Hi,

The Country Code for Australia is AU, this below section may be updated :
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a111eec9-fcfd-8966-ca7b-0177418917fe
* Version Independent ID: b9f65c4d-3735-a5a3-c1f8-1e6770e68036
* Content: [Region availability and data residency - Azure AD B2C](https://docs.microso

[2022-03-29 15:50] timahenning commented on #87538
I found this article very helpful.  https://techcommunity.microsoft.com/t5/apps-on-azure-blog/configure-nginx-for-php-8-linux-azure-app-service/bc-p/3266417#M664

[2022-03-29 16:13] JamesTran-MSFT commented on #90672
@mmtechconsulting
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-29 16:14] JamesTran-MSFT commented on #90683
@d18c7db
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-29 16:19] cabneydp commented on #85849
Awesome, thanks for the clarification @sebastianstephan!

[2022-03-29 16:20] SwathiDhanwada-MSFT commented on #90602
@gadros Thanks for your feedback.

Assigning to content author @tfitzmac  for review.

[2022-03-29 16:21] #90676 closed

[2022-03-29 16:22] #90441 closed

[2022-03-29 16:22] ecfan commented on #90676
@BrainCrumbz: Doc issue has been fixed and will publish later today after 11 AM Pacific Time. Thank you, @SnehaAgrawal-MSFT for making this fix!

[2022-03-29 16:27] YutongTie-MSFT commented on #90499
@eric-urban Hello Eric, could you please help to check if there anything changed about the sample? Thanks.

[2022-03-29 16:37] JamesTran-MSFT commented on #90684
@ramuvr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-29 16:37] mike-urnun-msft commented on #84535
Thanks again for sharing this feedback and helping us drive improvements towards MS Docs. Since the documentation is already updated to reflect that the `maxMessageBatchSize` is the right setting for batch processing, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-29 16:37] #84535 closed

[2022-03-29 16:44] billzCFGH commented on #90636
Thanks @ShaikMaheer-MSFT , the file is in the correct path (see pics)
![image](https://user-images.githubusercontent.com/72827725/160662367-ae16790f-4f54-4bbb-ad8c-eff752b2ef56.png)
![image](https://user-images.githubusercontent.com/72827725/160662692-8c98ead5-c5d1-4063-93fb-1d3a919170cd.png)

RE MSFT Q&A: I can post there as well, I just thought since I followed the docs and received an error aft

[2022-03-29 16:48] YutongTie-MSFT commented on #90548
@bartek-ml Yes, you can do the retrain whch mentioned in the document as well even you don't have any new data. Just keep the data source as your original one. The pipelin help you to avoid a lot of duplicate work.

[2022-03-29 16:55] SreejaBhattacharya-MSFT commented on #90668
Hi @dannradkov , we are planning to have pooled desktop Autoscale GA by the end of calendar year 2022. As far as region rollout, please track the below TechCommunity post to get notifications on updates.
[https://techcommunity.microsoft.com/t5/azure-virtual-desktop/avd-scaling-plans-must-be-in-the-same-region-as-host-pool/m-p/3256930](url).
Thanks.

[2022-03-29 16:55] #90668 closed

[2022-03-29 16:58] guywi-ms commented on #89942
Thanks for your dedication to our documentation. We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2022-03-29 16:58] #89942 closed

[2022-03-29 17:05] shashishailaj commented on #90592
As we have not received any response on this , we will be closing this.

[2022-03-29 17:05] #90592 closed

[2022-03-29 17:08] shashishailaj commented on #90569
@msmimart Could you please review the ask here and see how best this information can be incorporated in the documentation .

[2022-03-29 17:12] KDugandzic opened #90687 "Migration of Storage Accounts"
**Your email about migration stated the following:**

**But these documents say:**

I do not have any VMs attached to my classic storage accounts so I am left wondering if I still need to migrate? The email sounds like a blanket statement but the docs make it sound like it is only if a VM is attached. I would prefer not to migrate since I am only using Blobs and Tables on these accounts. Will they

[2022-03-29 17:13] drdamour opened #90688 "Role Syntax in example doesn't match docs"
In the Nesting syntax in patterns section the example has

[code]

but in the Syntax to add an entity and role to a pattern template section it says

[code]

so is it : or . ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8da71b1-8c66-e5b8-7be1-405d51753011
* Version Independent ID: 5897570f-2376-b52f-4bc3-8696a39ed8

[2022-03-29 17:14] #90046 closed

[2022-03-29 17:17] #90475 closed

[2022-03-29 17:20] MikeWedderburn-Clarke commented on #50536
The best resolution would be to allow Bastion to connect to the fqdn of the VM.
This would allow it to use Kerberos and prevent it falling back to NTLM and the user could still be in the protected users group

[2022-03-29 17:21] #90415 closed

[2022-03-29 17:22] AaronMaxwell commented on #90455
Here's one specific example using ASP.NET Core.

Host ASP.NET Core on Linux with Apache
https://docs.microsoft.com/aspnet/core/host-and-deploy/linux-apache?view=aspnetcore-6.0

Application Monitoring for Azure App Service and ASP.NET Core
https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps-net-core

Choosing a language supported by auto-instrumentation (.NET Core, Java, Node.js

[2022-03-29 17:22] #90455 closed

[2022-03-29 17:28] rocketmonkeys opened #90689 "For app-service authsettingsv2, redirectToProvider is not optional"
For https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites/config-authsettingsv2?tabs=bicep

(There doesn't seem to be a feedback link on that page?)

For GlobalValidation.redirectToProvider, docs say:

However, with only one provider if I leave out the "redirectToProvider" setting then the app service shows an error:

I *must* set redirectToProvider to my selected auth method, even

[2022-03-29 17:28] jasongroce commented on #85020
Hi @ravergarab thank you for filing this issue. We are actively working to resolve this issue and update the documentation, but are closing this public documentation issue so we can track this internally across several teams. #please-close

[2022-03-29 17:28] #85020 closed

[2022-03-29 17:34] sdgilley commented on #88717
I'm not sure I understand the ask.  Is it just the terminology?

There's a whole section about different types of compute resources available for [training](https://docs.microsoft.com/azure/machine-learning/concept-compute-target#train) and another for [inference]( https://docs.microsoft.com/azure/machine-learning/concept-compute-target#deploy).

You can use different types of compute resources fo

[2022-03-29 17:40] #89697 closed

[2022-03-29 17:55] eric-urban commented on #90051
@YueSheng6 - We are tracking a service side update. The value “100” should not be equivalent to “0”. Thanks for reporting this issue!

[2022-03-29 17:56] eric-urban commented on #90051
#please-close

[2022-03-29 17:56] #90051 closed

[2022-03-29 17:56] Nicholak-MS commented on #89934
@nExoRek I have updated the online table and the downloadable CSV for both the O365_BUSINESS_PREMIUM and SPB Products. Thanks for bringing this to our attention.

Thanks,
Nick

#please-close

[2022-03-29 17:56] #89934 closed

[2022-03-29 18:17] arifgani commented on #86401
Webhook seems very specific here, we send following info in the webhook payload

[2022-03-29 18:17] arifgani commented on #86401
"action": "Renew",
    "status": "Succeeded",

[2022-03-29 18:18] arifgani commented on #86401
that tells the webhook is called when renew has succeeded

[2022-03-29 18:19] QiMata opened #90690 "Missing VM Agent"
Either the VM agent is in private preview or I am having eye trouble. This guide does not seem actionable as it stands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ba592e9-492a-0217-3a99-ddd9357e6f1f
* Version Independent ID: 77f3003e-5f61-81ed-0d4a-644c8b7a589a
* Content: [Create an experiment that uses an agent-b

[2022-03-29 18:22] arifgani commented on #86401
Webhook payloads were added recently, so i can see why it was not clear earlier.
#please-close

[2022-03-29 18:22] #86401 closed

[2022-03-29 18:23] msangapu-msft commented on #90458
3/29/2022 - I opened a ticket internally with the localization team.

[2022-03-29 18:25] LitKnd commented on #88035
Hello,

The pull request which will clarify the documentation of this has merged. The name of the extended events trace will now appear in https://docs.microsoft.com/en-us/azure/defender-for-cloud/defender-for-sql-introduction.

I expect this change will publish today and tomorrow, so I am going to go ahead and close this out. You can still add comments even after the issue has closed.

Thank you

[2022-03-29 18:28] #90243 closed

[2022-03-29 18:29] insomniacc opened #90691 "Translator service inside VNET always returns {"error":{"code":"404","message": "Resource not found"}}"
Hey,
I'm having difficulty getting translation service working from within a vnet.
I've followed the doc here: https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-virtual-networks?tabs=portal
Steps I've taken:
- enabled service endpoint on all associated subnets
- translator service has networking configured to allow access from specific networks/subnets
- translator servi

[2022-03-29 18:34] markjbrown commented on #90496
The Intro for SQL API is [here](https://docs.microsoft.com/en-us/azure/cosmos-db/introduction). For details on retries with SQL API see [Design resilient applications](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/conceptual-resilient-sdk-applications)

[2022-03-29 18:52] GeethaThatipatri-MSFT commented on #90496
Thanks, @markjbrown  for your response.
@Robert-Lauriston-at-Striim Please let us know if you have any additional questions.

[2022-03-29 18:52] rnirek opened #90693 "Update doc with RHEL 7.9 support for blobfuse"
A while ago:
It was confirmed sometime back that RHEL 7.9 is supported for installing blobfuse:

*https://github.com/MicrosoftDocs/azure-docs/issues/83119*

Though the public doc has not been updated yet.
 [How to mount Azure Blob storage as a file system on Linux](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-how-to-mount-container-linux#install-blobfuse)

Could you please update t

[2022-03-29 19:06] bandersmsft commented on #89974
@jkewley Hi there. I spoke to the Billing enginnering team about your issue. We've updated the article to provide more context and clarity about alias and added a link to more information about it.
#please-close

[2022-03-29 19:06] #89974 closed

[2022-03-29 19:13] ChaitanyaNaykodi-MSFT opened #90695 "Azure Front Door reference in Azure CDN documentation"
![image](https://user-images.githubusercontent.com/67453298/160688717-07b65b57-29a7-4e73-bc1f-0c11cc73e415.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
* Version Independent ID: d97885ea-b051-5fde-bd14-ec977e34760e
* Content: [Tutorial: Configure HTTPS on an Azure CDN custom

[2022-03-29 19:14] ChaitanyaNaykodi-MSFT commented on #90695
Working on the PR

[2022-03-29 19:27] KranthiPakala-MSFT commented on #90616
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-03-29 19:27] #90616 closed

[2022-03-29 19:35] duongau commented on #47644
@lucidqdreams I apologize this request was not looked at until now. Are you still experiencing any problems with the GEO blocking for AppGW? Geo-filtering should be supported for both Azure Front Door and Application Gateway services now. If you're still experiencing issues with configuration, please open a support request. If no response is received in the next 3 business days, I will proceed wit

[2022-03-29 19:58] KranthiPakala-MSFT commented on #90665
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-03-29 20:07] DerekHerman-MSFT commented on #90693
Thanks for reporting this. I created a PR to update the documentation. The changes will go live once reviewed by the author and approved.

[2022-03-29 20:07] #90693 closed

[2022-03-29 20:12] anzaman commented on #87244
Customers can use whatever IP they want for the external mapping including private IPs

[2022-03-29 20:25] Robert-Lauriston-at-Striim commented on #90496
I don't find any introduction to the SQL API at https://docs.microsoft.com/en-us/azure/cosmos-db/introduction.

[2022-03-29 20:26] #90695 closed

[2022-03-29 20:32] anumalasri commented on #90455
@AaronMaxwell

We are very much aware of how to integrate with AppInsights using those given documents and in fact using them for Java Applications in App Services.

However,  there are no clear instructions to monitor a webserver running in AppService.   We are also aware that it's a very customized way of running a webserver.

We have expected more clear documentation from MSFT.   As it's not av

[2022-03-29 20:38] hhunter-ms commented on #87238
#please-close

[2022-03-29 20:38] #87238 closed

[2022-03-29 20:51] markjbrown commented on #90496
Ok, well not sure then what you're looking for or expecting to see. If you're looking for underlying architecture then maybe this article can help. https://docs.microsoft.com/en-us/azure/cosmos-db/global-dist-under-the-hood

If not, maybe you can be more specific as to what you are looking for.

[2022-03-29 20:53] KSchlobohm opened #90699 "Enable authentication in a web API using AAD B2C should link to doc describing Roles vs Scopes"
Followed this guidance and was able to successfully secure my Web API!

However, in review we found that I had used scopes in a scenario where I needed roles. It would be valuable if the document described how to perform both authorization techniques which have different purposes.

Would appreciate a link from here to read about [scopes vs roles](https://medium.com/azurehelp/roles-and-scopes-in-az

[2022-03-29 20:55] JamesTran-MSFT commented on #90699
@KSchlobohm
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-29 20:58] KSchlobohm commented on #90317
Thanks @GeethaThatipatri-MSFT I couldn't find a doc that says this is supported, or unsupported so I just assumed it was supported. Could we add that this is unsupported on an FAQ page?

[2022-03-29 21:06] GLS-INSIGHT opened #90700 "Just checking"
Hello, Two things:
1) Why is the Azure Activity Log Video present? I thought it was an Azure Monitor -> Platform Log?
2) Spelling mistake -> 'A deatiled feature comparison'
Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2763640f-ae78-a69e-0999-2863240dc2ff
* Version Independent ID: dd39081a-afd8-dda2-5a08-7cf54

[2022-03-29 21:07] baanders commented on #77381
Hi @stewartadam, thanks so much for your patience. We are adding some new relationship guidance for extended ontologies to the article in this PR: [#193244](https://github.com/MicrosoftDocs/azure-docs-pr/pull/193244).

Regarding the exact scenario we discussed in this thread, in which relationships to an extended interface are restricted to **only** the extended interface and can't reach the origi

[2022-03-29 21:19] DeanGross opened #90701 "Inconsistent Display of attributes in CA Insights workbook."
In the Conditional Access Insights and reporting workbook, sometimes the UPN is shown as a GUID, other times it shows the actual user name, it should never show the GUID

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb2155a4-d8b2-a542-1aba-387183c3f2e3
* Version Independent ID: 11565414-4093-d4cf-2665-1343b45a732a
* C

[2022-03-29 21:29] aiopscsa commented on #88403
this worked for me

blob_sas_token = r""

[2022-03-29 21:30] srikns commented on #88403
This worked for me

blob_sas_token = r""

[2022-03-29 21:31] F1AMG opened #90702 "IP Ranges"
[Working with a customer today, they commented that they would like the fact that ranges need to be entered in CIDR format called out more.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a994dabc-b468-b3b3-91a4-c9db4af026bc
* Version Independent ID: e2f04ce5-20c4-d9f8-aaed-fce4f356dbd0
* Content: [Configure IP restric

[2022-03-29 21:35] JamesTran-MSFT commented on #90700
@GLS-INSIGHT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-29 21:36] mike-urnun-msft commented on #90689
Thank you for your feedback! We will review and update as appropriate.

[2022-03-29 21:46] jbwumbo opened #90703 "VNET Direct Connection to Hub"
Within this page's scenario workflow, it is mentioned that "Virtual WAN does not support a scenario where VNets 5,6 connect to virtual hub and communicate via VNet 2 NVA IP; therefore the need to connect VNets 5,6 to VNet2 and similarly VNet 7,8 to VNet 4."

However, on the page "Scenario: Route traffic through NVAs by using custom settings" the architecture diagram illustrates that routing betwee

[2022-03-29 21:52] kenwith commented on #90683
I checked with the product team and the link to the connector is to the latest release now.

#please-close

[2022-03-29 21:52] #90683 closed

[2022-03-29 22:06] duongau commented on #79473
Hi @brucelangston, we have retired the old article and have replaced it with this one: https://docs.microsoft.com/en-us/azure/architecture/guide/technology-choices/load-balancing-overview. The term termination you saw in the previous article refers to the connectivity that happens between the end user and the Azure Front Door PoP locations. I can understand why that term can be confusing and we're

[2022-03-29 22:06] #79473 closed

[2022-03-29 22:17] dbiscontin commented on #62578
@einarasm read thru the responses from @krish-gh, specifically around leveraging OpenSSL toolkit to query the backend pool for the certificate trust chain, example:

%> openssl  s_client -connect 10.0.0.4:443 -servername www.example.com -showcerts

10.0.0.4 = IP of backend server (if using DNS ensure it points to backend server and _not_ the public IP of appgw). The -servername switch is used in s

[2022-03-29 22:17] duongau commented on #82280
Hi @vhhughes, at this time Azure Front Door doesn't have the ability to adjust between the two tiers without having to recreate the Azure Front Door profile. We'll get this information included in the FAQ soon. If you have any further questions, please feel free to reach back out to us. Thank you. #please-close

[2022-03-29 22:17] #82280 closed

[2022-03-29 22:21] cro27 commented on #80782
@RalfKlahrMS - I have added a VLDB discussion in the Backup Strategies doc that incorporates your feedback. Please review.

[2022-03-29 22:22] duongau commented on #82741
Hi @mllipi, apologies on the late response here. The PG team has updated the documentation with the following statement:

Since each Azure Front Door edge POP emits health probes to your origins, the health probe volume for your origins can be quite high. The number of probes depends on your customer's traffic location and your health probe frequency. If the Azure Front Door edge POP doesn’t recei

[2022-03-29 22:22] #82741 closed

[2022-03-29 22:40] cro27 commented on #89186
@tigormanmsft - changes have been incorporated into the doc. Can you please review and if you are happy with the changes please close this issue.

[2022-03-29 22:40] cro27 commented on #88154
@tigormanmsft - changes have been incorporated into the doc. Can you please review and if you are happy with the changes please close this issue.

[2022-03-29 22:40] cro27 commented on #87929
@tigormanmsft - changes have been incorporated into the doc. Can you please review and if you are happy with the changes please close this issue.

[2022-03-29 22:41] cro27 commented on #83102
@tigormanmsft - changes have been incorporated into the doc. Can you please review and if you are happy with the changes please close this issue.

[2022-03-29 22:41] cro27 commented on #80783
@RalfKlahrMS - changes have been incorporated into the doc. Can you please review and if you are happy with the changes please close this issue.

[2022-03-29 22:42] cro27 commented on #80782
@RalfKlahrMS - changes have been incorporated into the doc. Can you please review and if you are happy with the changes please close this issue.

[2022-03-29 22:45] ChaitanyaNaykodi-MSFT commented on #90702
Thank you for your feedback! We will review and update as appropriate.

[2022-03-29 22:45] SDlearner-maker opened #90705 "LUIS import error- Failed to import sublists An error ocurred. Invalid file format and/or canonical value duplications."
[Enter feedback here]
I tried to convert the dataset of [NRC Hashtag Emotion Lexicon](http://saifmohammad.com/WebDocs/NRC-Hashtag-Emotion-Lexicon-v0.2.zip). into the json format as desired. However, it always shows import error. While I tried to reduce the keywords substantially in each canonical form to just 5-6, then the import was successful. May I ask if this is related to file size?

Attached

[2022-03-29 22:46] ChaitanyaNaykodi-MSFT commented on #90703
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-29 23:29] ChaitanyaNaykodi-MSFT commented on #90702
Hello @F1AMG,
The documentation already consists of the statement below.

![image](https://user-images.githubusercontent.com/67453298/160722516-dd757a32-ff9d-40d7-a9c7-fc256b3685af.png)

Is there any other way you have in mind which will be better to call this out?

[2022-03-29 23:35] ChaitanyaNaykodi-MSFT commented on #90529
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-29 23:58] neelamari opened #90707 "Update correct link."
[Enter feedback here]
Link above points to new language studio portal instead of old legacy portal  - https://legacy.portal.customtranslator.azure.ai/
Kindly update correct link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fb29736-56d8-feaf-95e4-1fb1807c6720
* Version Independent ID: ea214cc3-0bf3-a71e-c55c-1678d4f

[2022-03-30 00:12] TLKG opened #90708 ""Run user flow" is dimmed"
Great detailed step-by-step Tutorial.

At [Test the user flow](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows?pivots=b2c-user-flow#test-the-user-flow), step 3 Click Run user flow, and then select Sign up now. **Run user flow** button is dimmed.

![image](https://user-images.githubusercontent.com/22269729/160726068-22cd7623-2055-446c-8738-6893b441f535.png)

-

[2022-03-30 00:13] groupware2 opened #90709 "Enhance Ability to Control MFA Registration and to prevent MFA Bombing"
[Enter feedback here]
It would be helpful to provide a best practices recommendation for how to effect in an AAD Hybrid Joined enterprise w/users in AAD using passwordless:
- I want to restrict the ability for a new hire employee to register for MFA (so that when they later boot their company-provisioned laptop they can immediately use MFA during the laptop's autoenrollment/setup process)
- Restri

[2022-03-30 00:39] ProgrammerAl commented on #69263
Not sure if the documentation was recently updated, by as of today this is mentioned. It's under the section 'Create an Azure AD B2C tenant' as step 3. But it's very, very easy to miss.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant#create-an-azure-ad-b2c-tenant

[2022-03-30 00:39] mike-urnun-msft commented on #90285
As the next step, we are proceeding to assign this issue to the author to review further and take the next course of action.

[2022-03-30 00:59] mswellsi commented on #90657
The guidance provided was to keep sovereign clouds in their own page, but will look at making it more discoverable.

[2022-03-30 01:17] YutongTie-MSFT commented on #90707
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-30 01:18] YutongTie-MSFT commented on #90688
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-30 01:24] Ayanmullick opened #90711 "Cosmosdb Table storage operations with PowerShell"
PowerShell supportability roadmap was [announced in May 2017](https://github.com/MicrosoftDocs/azure-docs/blob/71880418f99781d6ce7df6650bd1ce241fd13272/includes/storage-table-cosmos-db-langsoon-tip-include.md).

https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-how-to-use-powershell

![image](https://user-images.githubusercontent.com/17693249/160731258-ef5d965c-d524-43b0-9d84-4dd

[2022-03-30 01:34] Oury-MSFT commented on #90711
@Ayanmullick Thank you for your question. We are checking internally and will get back shortly.

[2022-03-30 01:36] Robert-Lauriston-at-Striim commented on #90496
https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb/mongodb-introduction explains why you'd want to use the Mongo API.

https://docs.microsoft.com/en-us/azure/cosmos-db/cassandra/cassandra-introduction explains why you'd want to use the Cassandra API.

I'm looking for something similar for the SQL API.

[2022-03-30 01:38] yikeren1022 opened #90712 "Please add metadata list"
hi team,
my cx wants to know the metadata list we can extract via scan
do we have plans to add the below part? thank you in advance!
Extracting technical metadata including:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2058d99-ebe7-6d5d-1337-43de20df8116
* Version Independent ID: 643c4310-00e2-3dac-c0db-7e4f9c588d22

[2022-03-30 01:39] yikeren1022 opened #90713 "please add metadata list if possible"
hi team,
my cx wants to know the metadata list we can extract via scan
do we have plans to add the below part? thank you in advance!
Extracting technical metadata including:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53e923c7-ac5b-dea9-f894-8285fcd2522e
* Version Independent ID: 2ecfb5b0-c667-6b59-30b5-adc20870befe

[2022-03-30 02:00] PCNZ opened #90715 "Properties menu item no longer exists, page out of date"
This page is out of date.
Endpoint names can no longer be found in properties, that item does not exist in the menu now.
There is now an endpoints menu item which holds this information.
![image](https://user-images.githubusercontent.com/68888744/160735545-63772fab-9b3c-428e-adf8-1d4d86c8385a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-03-30 02:30] AnuragSharma-MSFT commented on #90690
@QiMata Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-03-30 02:31] #90577 closed

[2022-03-30 02:31] AnuragSharma-MSFT commented on #90635
@skylaro Awaiting your response on this.

[2022-03-30 02:33] shwetamathur7 commented on #90708
@TLKG Thanks for your feedback. We will check and update as appropriate.

[2022-03-30 02:36] TomoharuMisawa opened #90717 "Even if you upgrade to Azure AD Connect 2.0, SQL Server 2012 is still used"
I upgraded using the in-place upgrade procedure, but the operating DB was SQL Server 2012. SQL Server 2019 is installed but the instance is not started.
This event occurs when using LocalDB.
Please publish the procedure for using LocalDB of SQL Server 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf9169c8-ec81-9

[2022-03-30 03:17] SumanthMarigowda commented on #90715
@PCNZ Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-30 03:19] Adamgneh opened #90719 "Something incorrect abut the version of Azure CLI"
[Enter feedback here]

The documentation mentions that CLI version 2.4 is required, but the latest version of Azure CLI is version 2.34.1
![1](https://user-images.githubusercontent.com/102143373/160744090-b4492cf6-0283-45be-bf49-461a5cdbec9b.png)
[This page](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli) provides the latest version is 2.34.1
![2](https://user-

[2022-03-30 03:33] MayankBargali-MSFT commented on #90719
@Adamgneh Thank you for your feedback! We will review and update as appropriate.

[2022-03-30 04:15] VikasPullagura-MSFT commented on #90687
@KDugandzic
Thanks for your Question! We are currently investigating and will get back on this.

[2022-03-30 04:17] ram-msft commented on #90691
@insomniacc Thanks for the question. We are investigating the issue and will update you shortly.

[2022-03-30 04:18] ram-msft commented on #90705
@SDlearner-maker Thanks for the question. We are investigating the issue and will update you shortly.

[2022-03-30 04:36] AshokPeddakotla-MSFT commented on #90547
@AryanSood3003 Did you get a chance to see my suggestions? Do let us know if that helps to resolve the issue.

[2022-03-30 04:38] amanmcse commented on #90717
@TomoharuMisawa Thank you for your feedback. We will investigate and update the thread further.

[2022-03-30 04:39] AryanSood3003 commented on #90547
I have used Raspberry Pi 4B which has different I2c ports.. where can i change the pins to make it work with the model of pi have??

[2022-03-30 04:39] SwathiDhanwada-MSFT commented on #90408
Assigning to content author @tfitzmac   for review.

[2022-03-30 04:40] amanmcse commented on #90701
@DeanGross Thank you for your feedback. We will investigate and update the thread further.

[2022-03-30 04:41] amanmcse commented on #90709
@groupware2 Thank you for your feedback. We will investigate and update the thread further.

[2022-03-30 04:52] DanniJuhl opened #90721 "Supported versions for DNN on SAP DBMS"
Hi,

This document describes the usage of the DNN listener as being only available in SQL Server 2019 CU8+.
This functionality is now also available for SQL Server 2016 and up as documented here: https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-distributed-network-name-dnn-listener-configure#prerequisites

Is the wording in this document a result of SAP

[2022-03-30 05:00] Sharmistha-Rai commented on #90673
@ultimal - thanks for bringing this to our notice. We will get this page updated.

[2022-03-30 05:11] MayankBargali-MSFT commented on #90719
@Adamgneh As per the version document[ Version 2.4.0](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli#april-21-2020) is the previous version which was released on April 21, 2020 and yes the current latest version is [2.34.1](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli#march-03-2022)

The function document calls out correctly on the minimum version for CLI

[2022-03-30 05:15] chekuchose opened #90723 "Regarding recommended values of "request.timeout.ms" and "session.timeout.ms"."
Could you add recommended values  of "request.timeout.ms" and "session.timeout.ms" to all consumer configuration of this document?

According to the following document, Apache Kafka consumer is mentioned recommended values of "request.timeout.ms" and "session.timeout.ms":

[No records received | Troubleshoot issues with Azure Event Hubs for Apache Kafka - Azure Event Hubs | Microsoft Docs](https:/

[2022-03-30 05:18] shwetamathur7 commented on #90708
@TLKG Did you tried to navigate again to User flows to open its overview page and test the user flow from there. After making recent changes to User attributes or identity providers won't allow you to run the test flow from there and you need to navigate to overview page to test the flow.

[2022-03-30 05:24] SwathiDhanwada-MSFT commented on #90462
@darshak2801  Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-03-30 05:25] #90462 closed

[2022-03-30 05:46] SadiqhAhmed-MSFT commented on #90586
@The-algar Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-03-30 05:49] chengyu-liu-cs commented on #90662
It seems others also are struggling with similar [issue](https://stackoverflow.com/questions/69218943/how-to-pass-pipeline-data-to-azure-ml-pipeline-databricks-step). It has been posted for more than 6 months, still no single answer.

[2022-03-30 06:26] Nustinian opened #90725 ""Firewall requirements" section missing in Japanese"
Hello, the Japanese page is currently missing the "Firewall requirements" section. (I did not check whether it is missing in other languages)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd3dca2f-629d-36e9-f0f0-8c7e64cc04ab
* Version Independent ID: f40ee991-6cb8-1eee-9a35-ebc5833d7c7f
* Content: [Azure Monitor agent

[2022-03-30 06:29] AnuragSingh-MSFT commented on #90587
@jackson-yang-microsoft, API key is only available for demo purpose with demo workspace. Please refer to this link for details - [Authenticating with an API key](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/api/authentication-authorization#authenticating-with-an-api-key).

The suggestion is to use [the REST APIs for Log Analytics](https://docs.microsoft.com/en-us/rest/api/loganalytics

[2022-03-30 06:35] kganesan1 opened #90726 "Need more documentation on concurrency for existing blob"
This document explains how to upload and update blob for concurrency. It does not address how to update blob that is already existing which requires reading with etag. FetchAttributes can be used for reading but it will populate properties and not get blob. One needs another call to get blob with conditional access. e.g. downloadasync with etag matching what we got after fetch attributes (since bl

[2022-03-30 06:49] AnuragSingh-MSFT commented on #90593
@sven5, Adaptive sampling is enabled by default in all the latest versions of the Application Insights ASP.NET and ASP.NET Core Software Development Kits (SDKs). It is documented under Advanced Configuration under [Sampling in Application Insights](https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling).

I can understand the inconvenience this has caused you. I will review this doc and

[2022-03-30 06:53] pvrk commented on #90470
@VigilanteWang : Thanks for the clarity. There is a slight nuance on how do we interpret the word 'truncate'. For us, 'truncate' means there was an unexpected action leading to the log segment losing data and becoming non-recoverable. It has a negative connotation. When log backups are taken, the log segments are cleared so that upcoming logs are filled. So, yes, in that sense, SQL backup solution

[2022-03-30 07:09] AnuragSharma-MSFT commented on #90461
@chaisen2006 Thanks for your patience. As per the [MySQL documentation](https://dev.mysql.com/doc/refman/5.6/en/mysqldump.html), "[mysqldump](https://dev.mysql.com/doc/refman/5.6/en/mysqldump.html) requires at least the [SELECT](https://dev.mysql.com/doc/refman/5.6/en/privileges-provided.html#priv_select) privilege for dumped tables, [SHOW VIEW](https://dev.mysql.com/doc/refman/5.6/en/privileges-p

[2022-03-30 07:18] AnuragSharma-MSFT commented on #90656
@dgpoulet Thank you for reporting this. We have made the changes through a PR which could take few days to go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-30 07:19] euchungmsft opened #90728 "Bug from the Maven plugin"
[Enter feedback here]

The example in this page seems not working properly. There's some issue with Azure authentication by the Maven plugin (`azure-webapp-maven-plugin`) in the step of `mvn package azure-webapp:deploy`

Check this issue for further details
https://github.com/microsoft/azure-maven-plugins/issues/1871

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2022-03-30 07:32] einarasm commented on #62578
Thanks! Failing endpoint is missing root CA as working one has it.

[2022-03-30 07:37] CHEEKATLAPRADEEP-MSFT commented on #90712
@yikeren1022  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details.

[2022-03-30 07:38] CHEEKATLAPRADEEP-MSFT commented on #90713
@yikeren1022  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details.

[2022-03-30 07:40] #90719 closed

[2022-03-30 07:50] sven5 commented on #90593
It would be helpful to have this information right in the [corresponding SDK docs](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core).
It's not easy to find the Advanced Configuration section. Perhaps you could mention the Advanced Configuration from the SDK docs.

[2022-03-30 08:06] shwetamathur7 commented on #90543
@ypae Granting tenant-wide admin consent is a sensitive operation. Those permissions that require admin consent are permissions that either allow access to more or sensitive data in the organization.
For example, by default, a user can consent to allow an app to access their mailbox but can't consent to allow an app unfettered access to read and write to all files in your organization without admi

[2022-03-30 08:18] batamig commented on #90713
Hi @yikeren1022 - thanks for sending your question into docs! I can see that you also contacted me on Teams, so I'm going to close this issue for now and reply to you there. If, after confirming with our stakeholders, we need an update to this article, we'll make that change in a coming publish.

Thanks for contributing to docs!
#please-close

[2022-03-30 08:18] #90713 closed

[2022-03-30 08:24] dominikhron opened #90729 "Clarification for currentDate and currentTimestamp functions"
Documentation for both functions says the 'local time zone' is used. This needs clarification. For example, an **Azure Data Factory located in West Europe (Netherlands) returns UTC instead of UTC+2(Central European Summer Time)**, which is what I'd expect as the 'local time zone'.

Please see screenshots below for comparison between currentTimestamp in ADF debug session against time in the local m

[2022-03-30 08:41] MonikaReddy-MSFT commented on #90604
@SaiChakravarthymorla - Thank you for your question.
Can you please share with more info of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-03-30 08:41] gnnsekhar commented on #65511
I have few B2C tenants in few of our Azure subscriptions, but i see different behavior in both, one B2C tenant i can see Token configuration blade available but i dont see that in another B2C tenant.
![image](https://user-images.githubusercontent.com/30997661/160789383-e71794d6-e746-4bb0-b7e9-e701cacb8a83.png)

![image](https://user-images.githubusercontent.com/30997661/160789640-37bb845f-8100-4b0

[2022-03-30 08:55] SwathiDhanwada-MSFT commented on #90725
@Nustinian Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-30 08:59] AnuragSharma-MSFT commented on #90721
@DanniJuhl Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-03-30 09:38] ramuvr opened #90730 "Unable to delete tenant if there is enterprise application for DevOps"
If the tenant has DevOps app registration then you won't be able to delete the enterprise application and hence tenant can't be deleted.

![image](https://user-images.githubusercontent.com/27629864/160800737-81caefb8-f7f9-42fc-bf98-583d245d622d.png)
![image](https://user-images.githubusercontent.com/27629864/160801004-493df5fe-d97d-40db-9a7f-eb700ffadbce.png)
![image](https://user-images.githubuse

[2022-03-30 09:40] dominic1904 commented on #87731
@JamesTran-MSFT Do you have any feedback from the author? Thank you

[2022-03-30 09:49] PhilippZumdohme opened #90731 "Disambigutation Resolvement UNIFI"
Hi, could you please edit the entry for UNIFI to state, that it is UNIFI Labs and not UBIQUITI UniFi, which saves confusion for people.

As the name is ambigous and "UNIFI" is more associated with UBIQUITI than UNIFI labs.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: affe9162-f46f-688d-7089-831f48ef10fc
* Ve

[2022-03-30 10:01] nicolassnow13 opened #90733 "Problem with MSFT_RoleResource"
Hello,

I have a problem related to MSFT_RoleResource, I have recovered a DSC script that you can find below:

Configuration InstallerSNMP {

      Import-DscResource –ModuleName PSDesiredStateConfiguration

      Node MonServeur {
           WindowsFeature SNMPService
           {
                Name = "SNMP-Service"
                Ensure = "Present"
           }
      }
}
# Générer fichier MOF

[2022-03-30 10:10] PriyankaRudramaina commented on #89870
Hello @mtrmmsoftware,

One way to upload and collect logs is to use the Windows Azure Diagnostics (WAD) extension, which uploads logs to Azure Storage, and also has the option to send logs to Azure Application Insights or Event Hubs. You can also use an external process to read the events from storage and place them in an analysis platform product, such as [Azure Monitor logs](https://docs.microso

[2022-03-30 10:10] #89870 closed

[2022-03-30 10:23] bgawale opened #90734 "Age gating policy link correction"
Documentation has a line i.e.

However the link simply points to the page containing all sample policies for different scenarios and does not point to the correct sample. Even after searching through the list of samples that the link points to, the sample policy for age gating is no where to be found.

**Expected:**
If the sample is missing please add it and update the link to point to it or if sa

[2022-03-30 10:25] rpalves opened #90735 "Missing dollar sign in variables"
Missing dollar sign in variables:

# Resource group name - we are using myImageBuilderRG in this example
imageResourceGroup=myWinImgBuilderRG
# Region location
location=WestUS2
# Run output name
runOutputName=aibWindows
# name of the image to be created
imageName=aibWinImage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-03-30 10:27] GeethaThatipatri-MSFT commented on #90343
Hi, @tsardaryanCamenAI  I have verified the document, and yes I see the firewall rules are missing in the ARM template, I am assigning this to the author for feedback review.

[2022-03-30 10:34] PriyankaRudramaina commented on #90552
Hello @maloo,

There was no need for declaration in the document about the reference image in the examples here as the az acr import to import those images into your ACR sample has information about cert manager registry source and the version used which is pretty much self explanatory.

![image](https://user-images.githubusercontent.com/95755055/160812175-2073eac1-8e1c-4974-b063-3ddfef5dda69.png)

[2022-03-30 10:34] #90552 closed

[2022-03-30 10:36] VikasPullagura-MSFT commented on #90687
@tanmaygore
Can you please check and add your comments on this doc update request as applicable.

[2022-03-30 10:36] lonevvolf commented on #19424
Looks like that last link was migrated to an even more useless place, plus its description was completely truncated:
https://feedback.azure.com/d365community/idea/8a9ec510-8b26-ec11-b6e6-000d3a4f0789

How can this still be an issue, when the Azure platform and the OpenId implementation (which is the one causing most of the issues) are both coming from Microsoft?  This really needs a solution - eit

[2022-03-30 10:36] SnehaAgrawal-MSFT commented on #90728
@euchungmsft Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-30 10:42] batamig commented on #89654
Hi @smedin4, thanks so much for this feedback! We're fixing this typo, and it should be live in a coming publish.

I'm going to close this issue for now, but feel free to continue commenting here as needed.
We appreciate your contribution to docs!

#please-close

[2022-03-30 10:42] #89654 closed

[2022-03-30 10:47] gestj commented on #34167
Pump.
Just stumbled upon this.
Couldn't believe it. Everything said already.
I switch off the AzureAD PW Recovery feature again... with this in production I can't sleep well.
WTF

[2022-03-30 10:55] bmansheim commented on #86527
@swupdiedoowap The change was merged. It should be live in the API tab of the page later today. If the change meets your requirements, you can close this issue.

[2022-03-30 11:03] PedroGuerraPT opened #90736 "faq-app-service-linux.yml is missing"
The documentation page **articles/app-service/faq-app-service-linux.yml** appears to have been removed, which is causing the omission of several important topics regarding Azure App Services, such as the warmup request behavior and many other relevant App Settings.

Example information can be found on PR #83696, please restore the page ASAP.

---
#### Document Details

⚠ *Do not edit this section.

[2022-03-30 11:09] SreejaBhattacharya-MSFT commented on #90735
Hi @rpalves , thanks for the feedback. We will review this and update the document as appropriate.

[2022-03-30 11:16] AnuragSharma-MSFT commented on #90733
@nicolassnow13 Thanks for the feedback. Could you please mention the url/documentation you are referring to? This platform is mainly used for queries/doubts related to Microsoft Documentation.

If this is entirely a technical question, I would request you to post it on [Stack Overflow](https://stackoverflow.com/questions/ask) or [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/as

[2022-03-30 11:21] assaf-grth opened #90737 "SLA change requirement for availability zone support for app service"
Shouldn't there be a change to the app service [SLA](https://azure.microsoft.com/en-us/support/legal/sla/app-service/v1_5/) due to using zone redundancy and having more instances serving the app across zones?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef86ae6-02f7-b8dd-5530-519ba21d153d
* Version Independent ID: 6

[2022-03-30 11:25] #90735 closed

[2022-03-30 11:26] yutaro113 opened #90738 "Is Prebuilt Domains for Ja-Jp culture really supported?"
Hi Team,
it's mentioned that prebuilt domains for ja-jp (Japanese) culture is supported in below section.
https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-prebuilt-domains#prebuilt-domains-per-language

But when I created new app with ja-jp culture, no prebuilt domain is listed.
How can I understand this situation?

Thank you in advance!

Detail:
create app with ja-jp

[2022-03-30 11:40] batamig commented on #85510
Hi @Wiiki0807,

I'm still checking back with the team on this one and will update this page as needed to clarify.

To prevent double-tracking, I'm going to close this item here, but feel free to add more comments if you have additional feedback. Thanks for your contribution to docs!

#please-close

[2022-03-30 11:40] #85510 closed

[2022-03-30 11:44] batamig commented on #84542
Hi @ApolloII,
We're still verifying this issue and I've added into our backlog in docs.
To prevent double-tracking, I'm going to close this here, but feel free to add more comments as needed.

We appreciate your contributions to docs!
#please-close

[2022-03-30 11:44] #84542 closed

[2022-03-30 11:48] batamig commented on #81925
Hi @dc995
We're still looking into how to clarify this issue, but as mentioned above, this page refers only to the legacy agent.
I've added your feedback to our backlog and will update this page as needed in a coming publish.

I'm going to close this issue in the meantime to prevent double-tracking, but feel free to continue commenting if you have more feedback. We appreciate your contributions to

[2022-03-30 11:48] #81925 closed

[2022-03-30 11:56] batamig commented on #80248
Hi @manaccar

We're now in the process of updating our hardware appliance information and we should have an update in a coming publish.
As such, and to prevent double-tracking, I'm going to close this issue for now. Please do feel free to add more comments here as needed.

Thanks for your contributions to docs!
#please-close

[2022-03-30 11:56] #80248 closed

[2022-03-30 11:58] GeethaThatipatri-MSFT commented on #90349
Hi @mayurpuli Sure we will make a note of it, Thanks a lot again for your feedback.

[2022-03-30 11:58] #90349 closed

[2022-03-30 12:01] batamig commented on #77049
Hi @sandervandevelde,

I've looked at these shortlinks and they both point directly to the GitHub directory for the classic, legacy agent.

It looks to me like this issue is fixed, and so I'm going to go ahead and close this issue.
Please feel free to add more comments here if you have additional feedback. Thank you for your contribution to docs!

#please-close

[2022-03-30 12:01] #77049 closed

[2022-03-30 12:04] batamig commented on #74228
Hi @pazniak,
We're still looking into this issue and will update the page if needed in a coming publish.
I've added this item into our backlog, so to prevent double-tracking, I'm going to close this issue here for now.

Please feel free to add more comments if you have additional feedback. We appreciate your contribution to docs!

#please-close

[2022-03-30 12:04] #74228 closed

[2022-03-30 12:06] batamig commented on #66558
Hi @sandervandevelde - thanks!
I'm still checking this out and have added it to our backlog.
To prevent double-tracking, I'm going to close this now here, and we'll update the page to clarify in a coming publish.

Please feel free to add more comments if you have additional feedback, or open other issues if you have feedback on other docs.
#please-close

[2022-03-30 12:06] #66558 closed

[2022-03-30 12:07] warrenandre opened #90739 "availability zones list of available regions needs to be updated to include (Africa) SA North"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c32a2-1f6a-88d1-7df4-80b8f6fbc4a4
* Version Independent ID: 10de5ee1-942d-e30f-5f0c-f163bd45904d
* Content: [Use availability zones in Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/availabilit

[2022-03-30 12:08] JasSuri commented on #84895
In all of the articles mentioned, B2C is responding to a SAML Relying Party. If your SAML RP Application requires a different issuerURI set in the SAML Response to your SAML App, then you can adjust the issuerURI metadata item in the SAML Token Issuer technical profile. This is what the articles are stating.

Here B2C is acting as a SAML IdP to a SAML RP. In all cases, it is about SAML Response fr

[2022-03-30 12:08] batamig commented on #64536
Hi @ryanwinter,
This is an old issue and the page no longer exists in our repo. I'm going to close this issue for now, but please do feel free to add more comments or open other issues if you have more feedback on our docs.

Thanks again for your contribution!
#please-close

[2022-03-30 12:08] #64536 closed

[2022-03-30 12:16] batamig commented on #63593
Hi @andrepodnozov,
Thanks for sending us this typo in docs. Indeed, this module has not been renamed, and this article is about the classic, legacy agent. We'll be reverting this name change in a coming publish.

We appreciate your contribution!
#please-close

[2022-03-30 12:16] #63593 closed

[2022-03-30 12:29] alon1230 opened #90740 "Availability Zones in Data Factory"
Do Data Factory Support [Availability Zones](https://docs.microsoft.com/en-us/azure/availability-zones/az-overview) in enabled regions?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ca2635d-02b8-e4ee-03c9-0abc105eae94
* Version Independent ID: efaf8754-aebe-172a-2af8-aa84db32778e
* Content: [Dat

[2022-03-30 12:35] PriyankaRudramaina commented on #90237
Hello @porrascarlos802018,

AKS resource provider in turn talks to compute resource providers, hence the compute REST APIs has to be used from the following link https://docs.microsoft.com/en-us/rest/api/compute/resource-skus/list
Even in the portal experience, AKS creation blade uses the compute resource APIs microsoft.compute at the backend.

Hope this answers your question. If not please feel f

[2022-03-30 12:38] hkusulja opened #90741 "Update documentation for Collect and SNMP with Azure Monitor"
Please update this page which is now older than a year.
Also please provide example using mentioned CollectD:SNMP plugin, to collect SNMP performance data and sent to Azure Monitor.

This best practice/code example is critical for lot of customer projects.

Thank you
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f36baa

[2022-03-30 12:48] SnehaAgrawal-MSFT commented on #90736
@PedroGuerraPT Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-30 12:57] nicolassnow13 commented on #90733
Thank you for you feedback, i contact Microsoft for information below the documentation

https://docs.microsoft.com/fr-fr/azure/governance/policy/how-to/guest-configuration-create-setup

[2022-03-30 12:58] KierenLWoods commented on #81083
Hi @Nicholak-MS ,

Do you have a rough time line of when API support may be added for this ?

Kind Regards,

Kieren

[2022-03-30 13:07] Nicholak-MS commented on #81083
Hi Kieran,

Sorry no, at this time I don't have rough estimate. But it is a known ask with our engineering team.

Thanks
Nick

[2022-03-30 13:09] SnehaAgrawal-MSFT commented on #90353
@agr Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-03-30 13:17] shwetamathur7 commented on #90734
@bgawale Thanks for your feedback. We will check and update as appropriate.

[2022-03-30 13:20] DOH-WLD0303 commented on #43426
@mamccrea, I recently came across this problem and realized that the provided solution, unfortunately, does not work. It is very close though!

`
#cell 1
%sh apt-get --yes install pandoc

#cell 2
install.packages("R.utils")

library(htmlwidgets)
db_html_print <- function(x, ..., view = interactive()) {
  fileName <- paste(tempfile(), ".html", sep="")
  htmlwidgets::saveWidget(x, file = fileName)

[2022-03-30 13:27] SnehaAgrawal-MSFT commented on #90352
@larrywa Could you see if you are replacing connectionString value with
`server=tcp:<server-name>.database.windows.net;database=<db-name>; `

Replace (server-name) and (db-name) with your server name and database name.

Check this [SO link ](https://stackoverflow.com/questions/15069403/the-connection-string-myconnection-in-the-applications-configuration-file-doe) for error
`System.InvalidOperation

[2022-03-30 13:27] guywi-ms commented on #81698
Thanks for your dedication to our documentation. We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2022-03-30 13:57] zaalion opened #90742 "Can we make the policy to periodically check for compliance and automatically create remediation tasks?"
[Enter feedback here]

Hello,

Can we make the policy to periodically check for compliance and automatically create remediation tasks? As far as I can see, we can use portal, PowerShell, or CLI to **manually** create remediation tasks. Can we configure this once and forget about it? So the policy will automatically check the subscription, and create/run remediation tasks when needed?

Thanks

---

[2022-03-30 14:02] dbona75 opened #90744 "The RPT unspecified : ADFS error MSIS7007 -- The RPT must be added manually not with generic 0365 metadata"
[Enter feedback here]

Hello,

this part is wrong : https://docs.microsoft.com/en-us/azure/active-directory/external-identities/direct-federation-adfs#add-the-relying-party-trust-and-claim-rules

If you create the RPT using the metadata the tenantID of the service provider (AzureAD) will not  be populated resulting in ADFS/IDP error : "MSIS7007: The requested relying party trust 'https://login.mic

[2022-03-30 14:08] seligj95 commented on #90737
Hi @assaf-grth - Enabling zone redundancy does not impact our SLA. App Service SLA is a feature of the underlying VMs we run on and that is not impacted by having more instances across zones as we are not modifying the VMs at all. By enabling zone redundancy, you are however increasing your app's fault tolerance and availability of your individual applications.

[2022-03-30 14:15] SreejaBhattacharya-MSFT commented on #89486
Check below -
[https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/](url)
[https://docs.microsoft.com/en-us/azure/container-instances/container-instances-managed-identity#:~:text=%20Example%201%3A%20Use%20a%20user-assigned%20identity%20to,Now%20you%20can%20use%20the%20managed...%20More%20](url)

[2022-03-30 14:24] #90737 closed

[2022-03-30 14:26] SabRom commented on #7926
Hello @MarkusVi ,

Running into the same problem.

Trying to create a custom role to only be able to see bitlocker recovery key, and assign it to users of custom intune admin role, and it does not work.

Really annoying to be forced to use one of the overprivileged existing roles.

[2022-03-30 14:32] kobulloc-MSFT commented on #90739
@warrenandre Thank you for bringing this to our attention!  We are reviewing the documentation and will get back to you shortly.

[2022-03-30 14:47] dev717 commented on #90627
I saw this option, but I believe this would be a paid service, I am was thinking to customize the Azure B2C email directly.

Thanks
Kurt

________________________________
From: James Tran-MSFT ***@***.***>
Sent: Monday, March 28, 2022 17:19
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Farley Reynolds ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Azure B2C default Emai

[2022-03-30 14:56] msjuergent commented on #90721
Sorry to have missed this new development. Thanks for pointing out that we missed it. I corrected the document. The PR just merged.

[2022-03-30 14:57] GitaraniSharma-MSFT commented on #89910
@GavinJin88 , as informed over Teams, this issue is being investigated by the backend team. The doc will be updated once the investigation is complete. We have assigned this issue to the respective product owner for review.

@rohinkoul & @sfiguemsft , for review & updates.

[2022-03-30 15:04] HeidiSteen commented on #90437
@mfaulkdel Apologies for the delay, I was unexpectedly away yesterday.  I'll follow up on your question about 3000 fields, but from previous experience, I can tell you that the underlying hardware can vary by region and by the service creation date. For example, if a region has a combination of newer and older clusters, it's possible to have two services in the same region with different capabilit

[2022-03-30 15:08] GiftA-MSFT commented on #90738
@yutaro113 we'll review your feedback and get back to you shortly. Thanks.

[2022-03-30 15:22] javiersoriano opened #90748 "IsLocalAdmin is under DeviceInsights not under UserInsights"
in the document, it says that IsLocalAdmin property appears under UserInsights, but it's actually under DeviceInsights. This should be corrected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5457b59-9419-c9bc-53e6-c6ecbbe0a4da
* Version Independent ID: 92abf226-cdc4-54fb-bc96-ddb988f04ab5
* Content: [Microsoft Senti

[2022-03-30 15:26] SreejaBhattacharya-MSFT commented on #90651
Hi @xps233 , i haven't tested this myself, and did not find anyone in my team who has tried this yet.
@srijang do you know if this documentation is applicable for Oracle Linux 8.0 as well?

[2022-03-30 15:26] JamesTran-MSFT commented on #90744
@dbona75
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-30 15:27] vicslive opened #90749 "Transfer Azure CSP into EA"
[Enter feedback here]
I dont see on the transfer table the option when a customer need to move from a CSP into an EA, that happens many times when they do merge and acquisitions, they want to consolidate Azure that is currently on a CSP from the company they adquired into their EA that have bigger discounts. CSP ->EA is missing from the table of instructions for what to do.
---
#### Document Detai

[2022-03-30 15:30] SreejaBhattacharya-MSFT commented on #90448
@harrchen88 , any update?

[2022-03-30 15:32] abhijit-z opened #90750 "Uploading data to specific container in Azure blob storage"
[I would like to upload a file to a specific container in azure blob storage. Can anyone please tell me how to mention the path of the datastore and specific container to upload a file or blob]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e258128c-b871-72b0-34e2-e5157977aa17
* Version Independent ID: 08a2917b-e921-2a

[2022-03-30 15:36] JamesTran-MSFT commented on #90730
@ramuvr
Thank you for your feedback!

Microsoft first party applications shouldn't prevent you from deleting your Azure AD Tenant. Have you tried following the section [Enterprise apps with no way to delete](https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/directory-delete-howto#enterprise-apps-with-no-way-to-delete) section?

We also had another customer run into this same

[2022-03-30 15:39] DerekHerman-MSFT opened #90751 "Storage accounts are being retired as well"
Storage accounts are also going to be retired. This doc needs to be updated to reflect that.
This paragraph is incorrect:

"This retirement does not affect the following Azure services and functionality:

Storage accounts not used by VMs (classic)
Virtual networks not used by VMs (classic)
Other classic resources"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-03-30 15:39] bandersmsft commented on #90749
@vicslive Hi there. You're correct that CSP to EA isn't shown in the table because that transfer scenario isn't officially supported. As the article states, only supported product transfers are documented in this article.

That's not to say that the transfer is impossible. Unsupported transfer scenarios might be possible with an [Azure support request](https://go.microsoft.com/fwlink/?linkid=20834

[2022-03-30 15:39] #90749 closed

[2022-03-30 15:40] DerekHerman-MSFT commented on #90751
![image](https://user-images.githubusercontent.com/65573242/160875121-6e4abeee-d57d-449f-b229-71f1c82f3bc5.png)

[2022-03-30 15:40] DerekHerman-MSFT commented on #90751
assigning to author

[2022-03-30 15:45] DeanGross opened #90752 "Relationship to SPO Sharing Settings"
Please provide some information about how this functionality will be impacted by External sharing Settings in the SharePoint Admin Center, specifically the "People who use a verification code must reauthenticate after this many days" option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83f1378d-b047-11d1-a138-5c52a3f

[2022-03-30 15:48] dlepow commented on #90285
@deMD - Thanks for your feedback about the documentation. Details about OpenAPI restrictions/limitations for API Management are documented [here](https://docs.microsoft.com/en-us/azure/api-management/api-management-api-import-restrictions). Does this information help?

[2022-03-30 15:55] JamesTran-MSFT commented on #90752
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-30 15:56] JamesTran-MSFT commented on #90284
@NelsonJAbbey
Since you're going to be reproducing this issue and I haven't received a response from your end, I'll go ahead and close out this issue.

If you run into any other problems, feel free to tag me and I'll be more than happy to continue working with you.
Thank you for your time and patience throughout this issue.

[2022-03-30 15:56] #90284 closed

[2022-03-30 15:57] SwathiDhanwada-MSFT commented on #90224
@azure1123 Did you get chance to look into my previous comment? Let me know if you have further questions.

[2022-03-30 15:59] kotagirip opened #90753 "Dum example data"
[Enter feedback here]

I tried to run the first set of commands in the example. No data is being retrieved to green_taxi_df.

My count shows empty.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68a3df81-6871-c443-c413-16bb97982bd4
* Version Independent ID: 5030fc51-ec28-d96e-fe85-a06a8fa1ce6f
* Content: [Tutorial: Auto

[2022-03-30 16:10] #90612 closed

[2022-03-30 16:12] #90657 closed

[2022-03-30 16:13] NelsonJAbbey commented on #90284
thanks will let y know

[2022-03-30 16:16] Williams-Nest opened #90754 "Encryption on the inside - not the outside"
When looking at the attached picture - there is an outside load balancer and an inside load balancer.
But - http (80) is the outside - and https (443) is on the inside .............
I cannot think of a solution where this makes any sense at all
---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: dd59e134-be71-0

[2022-03-30 16:24] wukun2015 commented on #90657
why do we closed it w/o doc update ?  @eric-urban

[2022-03-30 16:26] Givary commented on #90594
@lightupdifire "Device state" used to be there earlier now we have come with "Filter for devices" option to have granular settings for devices while creating the conditional access policy.

However you still see "Device State" & "Filter for devices option" in the Whatif tool.

Let me know if still there is a confusion, we can have a short call regarding the same.

[2022-03-30 16:29] MarileeTurscak-MSFT commented on #90748
@javiersoriano
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-30 16:30] JamesTran-MSFT commented on #90627
@dev717
Thank you for following up on this!

When it comes to using [B2C Custom Policies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-overview) this should be included with the B2C service. However, if creating [Dynamic Transactional Templates](https://docs.sendgrid.com/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates) within SendGrid is the paid

[2022-03-30 16:30] #90627 closed

[2022-03-30 16:40] jeevansd commented on #87731
@dominic1904 We are working with SAP team on this. We did some POC around this and we feel that the right way to achieve this is using V2 endpoint of Azure AD. We are working on few engineering items to solve this end to end and some work SAP have to do. Once that is complete then we can provide you the detailed steps here to get that token from SAP. IMO your requirement is Azure -> SAP and get th

[2022-03-30 16:46] JamesTran-MSFT commented on #90672
@mmtechconsulting
Thank you for your time and patience throughout this issue.

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage o

[2022-03-30 16:46] #90672 closed

[2022-03-30 16:52] JamesTran-MSFT commented on #90684
@ramuvr
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-03-30 16:52] #90684 closed

[2022-03-30 16:52] dominic1904 commented on #87731
@jeevansd Thank you very much for your replies. Yes. It is exactly what I want. I am looking forward to seeing the output.

[2022-03-30 16:55] r-milne opened #90759 "Correct Wording"
Can we fix this please:

This preview feature has being deprecated. Customers should use Filter for devices condition in Conditional Access to satisfy scenarios, previously achieved using device state (preview) condition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 625bb1b2-81fd-9804-c0b5-3cd2904decd9
* Version Inde

[2022-03-30 16:59] JamesTran-MSFT commented on #90700
@GLS-INSIGHT
I've created a PR to update the spelling mistake and have assigned this issue to the author to look into why there's an Activity Log video within the documentation.

Thank you for your time and patience throughout this issue.

[2022-03-30 16:59] muflona11 opened #90760 "muflona2009@windowslive.com"

[2022-03-30 17:05] mrochon opened #90762 "Google now requires support email to be provided"
Step 5 of the [Create Google application](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-google?pivots=b2c-custom-policy#create-a-google-application) needs to include a new requirement from Google to provide an email address for support issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-03-30 17:10] KranthiPakala-MSFT commented on #90723
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-30 17:10] asudbring commented on #90754
Hi @Williams-Nest!
Thanks for the feedback! The picture is displaying a two tiered web application.  The first tier is the public facing tier of the application where a consumer would connect and is a public load balancer. The backend tier is an internal load balancer with a private IP address hosting an application that the frontend tier uses as part of the solution.  It's a generic example of ho

[2022-03-30 17:11] #90754 closed

[2022-03-30 17:13] KranthiPakala-MSFT commented on #90729
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

@kromerm - Could you please have a look at this feedback and share your inputs. Thank you

[2022-03-30 17:17] KranthiPakala-MSFT commented on #90740
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-03-30 17:23] JimacoMS4 commented on #78066
Hi @simonfrindberg,

Just checking in again. Are you still having this problem?

Thanks,

Jimaco

[2022-03-30 17:24] kgremban commented on #90068
@jonmikeli Can you point me specifically to where you see distributed tracing implemented in the C# code source? Thanks.

[2022-03-30 17:25] YutongTie-MSFT commented on #90750
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-30 17:26] YutongTie-MSFT commented on #90753
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-30 17:28] Heidilohr commented on #90431
@krazy-glue @kobulloc-MSFT Thanks for bringing this to my attention. We're working on getting the correct links from the team, but for now, I will remove the broken links until we can get working ones.

[2022-03-30 17:32] Heidilohr commented on #90431
I've merged the pull request, so the change will go live with the next publish. #please-close

[2022-03-30 17:32] #90431 closed

[2022-03-30 17:37] JamesTran-MSFT commented on #90762
@mrochon
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-30 17:43] sumeetmittal commented on #75134
Its called in the limitations section. We are looking into this work for availability by end of this year. Thanks

[2022-03-30 17:43] JimacoMS4 commented on #71797
#assign @JimacoMS4

[2022-03-30 17:50] #90760 closed

[2022-03-30 17:50] DerekHerman-MSFT commented on #90726
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-30 17:52] SumanthMarigowda commented on #89850
@PaulHedrich Apologies for the delay response!  30 days is used for Cool early deletion. There is no grace period.
 Blob deleted after 29 days and 12 hours will get billed for remaining 12 hours under Early Delete meter.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will re

[2022-03-30 17:54] joaopmartinezn opened #90764 "Atlassian support non verified domains for user provisioning"
Hi, team!

Atlassian now supports sync of non verified accounts:
When you set up user provisioning, you create a directory for your users. All users and groups in your identity provider from your verified domain(s) or from outside your verified domain(s) sync to your organization's directory, as shown in the diagram.

https://support.atlassian.com/provisioning-users/docs/understand-user-provisioni

[2022-03-30 17:54] #85195 closed

[2022-03-30 18:07] JimacoMS4 commented on #71797
Hi @Suizi11 -- thanks for your feedback and apologies for the delayed response. FYI: Format for non-telemetry events can be found in the following places:

- **createDeviceIdentty/deleteDeviceIdentity** here: [Understand the Azure IoT Hub identity registry | Device and module lifecycle notifications](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-identity-registry#device-and-modul

[2022-03-30 18:07] MonikaReddy-MSFT commented on #90308
@DavidHaltinner - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-30 18:07] #90308 closed

[2022-03-30 18:08] JimacoMS4 commented on #71797
#assign @jlorich

[2022-03-30 18:10] #90606 closed

[2022-03-30 18:11] zr-msft commented on #90606
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

[2022-03-30 18:12] JamesTran-MSFT commented on #90764
@joaopmartinezn
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-30 18:13] MonikaReddy-MSFT commented on #90604
@SaiChakravarthymorla - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the issue you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2022-03-30 18:13] #90604 closed

[2022-03-30 18:22] AaronMaxwell commented on #90593
Thanks for your dedication to our documentation. This issue has been triaged, commented on, and approved for action. #please-close

Please feel free to use our Q&A page to get help with any technical questions you may have.

Microsoft Azure Monitor Q&A question page
https://docs.microsoft.com/en-us/answers/topics/24223/azure-monitor.html

[2022-03-30 18:22] #90593 closed

[2022-03-30 18:24] himanshusinha-msft commented on #90504
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-03-30 18:26] AbeOmor commented on #90567
@JackCaster @adamcorn @louis-li I can confirm the fix we release in `azureml-defaults 1.40`
You will need to make some small changes, e.g. add an empty line at end of conda.yaml, to trigger environment image rebuild for the latest azureml-defaults will be actually picked up by the ACI environment

[2022-03-30 18:36] Oury-MSFT commented on #90711
@markjbrown Could you please shared your inputs about the docs release for cosmos Table storage operations with PowerShell

[2022-03-30 18:38] IsaacRoitman opened #90766 "Link not going to correct page"
Self-linked to the same page: [Azure AD custom security attributes](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-abac) for principals.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd4dfdce-e423-6c58-3147-7cd86c4580ed
* Version Independent ID: 2bfa8741-df63-83ad-3cb9-39416743a79f
* Content: [Autho

[2022-03-30 18:40] himanshusinha-msft commented on #90525
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-03-30 18:42] tamram commented on #90726
@normesta FYI

[2022-03-30 19:18] ssg-randy-knight commented on #54761
I believe the Public IP address solutions is incomplete and/or should not be recommended.  An external load balancer with a Public IP and an outbound NAT rule is how we resolved this and that is much more palatable than putting Public IP Addresses on production SQL Servers.

[2022-03-30 19:19] ffrankozz opened #90770 "Error in the following line"
While deploying this app,  I get an error which I think  is coming from the following line:
  value: listKeys(resourceId('Microsoft.Storage/storageAccounts/', storage_account_name), '2021-09-01').keys[0].value
The error content is:
'The template resource 'ffcontainerapps-env/statestore' at line '31' and column '5' is not valid: The resource identificator '/subscriptions/<mySubscription>/resourceGr

[2022-03-30 19:22] MarileeTurscak-MSFT commented on #90748
Thanks! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/193447

@yelevin

[2022-03-30 19:22] #90748 closed

[2022-03-30 19:22] erik-ha-msft commented on #83885
Thanks for the feedback!

The digests are now empty, to solve this issue.

#please-close

[2022-03-30 19:22] #83885 closed

[2022-03-30 19:31] nickdiscipio opened #90771 "unclear formula to arrive at 2.4 mill RU for data size 60TBs"
Provided cx with this doc (https://docs.microsoft.com/en-us/azure/cosmos-db/migrate-cosmosdb-data#pre-create-containers-with-enough-rus) for estimating needed RUs on their destination collection during migration and they came back with a question on how 2.4 mill RUs was determined which I am not able to understand/answer. If brought this up to my Team and they were also unsure on what formula was

[2022-03-30 19:38] ahelland opened #90772 "Part of sentence missing in a bullet point"
[Enter feedback here]
The last bullet point in the "Prioritize applications for connection" section reads like this:
"Decommission access to apps that are no longer needed, or are not supported (for example, apps added by shadow IT processes). Also have an alarm for"

So, it basically drops off mid-sentence. Please add the missing part :)

---
#### Document Details

⚠ *Do not edit this section. It

[2022-03-30 19:52] #84486 closed

[2022-03-30 19:58] Jabble opened #90774 "Missing term in Azure Purview product glossary"
Hello, I'm learning about Azure Purview and reviewing the documentation. I've found your glossary incredibly helpful for understanding the concepts being described throughout the docs. Perhaps terms used within the documentation can link directly to their glossary definitions?

In the product glossary, I don't see a definition for a Purview "Collection".

Elsewhere in the documentation, I've seen

[2022-03-30 19:59] #86088 closed

[2022-03-30 20:03] MarileeTurscak-MSFT commented on #90772
@ahelland
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-30 20:11] yelevin commented on #83235
The documentation is being updated. Thanks for your feedback.
#please-close

[2022-03-30 20:11] #83235 closed

[2022-03-30 20:12] bmbadr opened #90775 "Image is not valid anymore"
image: mcr.microsoft.com/azuredocs/aks-helloworld:v1 is not valid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Version Independent ID: 7e4faf70-9724-7e7b-832b-1cd99a974920
* Content: [Create an ingress controller - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure

[2022-03-30 20:13] KSchlobohm opened #90776 "Cannot use Managed Identity Locally"
The document has a large warning that explains that Managed Identity Cannot be used for local development.

I didn't understand what the warning was trying to tell me. I see that the code uses `ManagedIdentityCredential` but I think it should use `DefaultAzureCredential` so that the warning is unnecessary.

Also, I think the following is one of the ways to setup a dotnet6 scenario.

[code]

---
##

[2022-03-30 20:16] billzCFGH commented on #90636
Fixed!!! Please revise the docs. A `.p12` key file DOES NOT WORK; It must be a `JSON` file. Also, the key file cannot be read inside of the Users directory. I have moved the JSON file to the C:\ directory and the connection is successful.

This Q&A post was helpful in aiding me: https://docs.microsoft.com/en-us/answers/questions/608589/data-factory-big-query-linked-service-does-not-rea.html

[2022-03-30 20:26] duongau commented on #86912
Hi @mronnlun, I apologize you were not able to find the similar setting in the Azure Front Door Standard/Premium tier. That setting has been moved to where you configure the origin settings. That can be found when add an origin to an origin group or when you configure your routing using the Front Door manager. I'll update the article soon, to include screenshot from the new tier. Please reach back

[2022-03-30 20:36] duongau commented on #86912
PR to add screenshot: https://github.com/MicrosoftDocs/azure-docs-pr/pull/193462

[2022-03-30 20:44] zr-msft commented on #90405
Thank you for your feedback. We’ve merged the related PR you opened for this issue.

#please-close

[2022-03-30 20:44] #90405 closed

[2022-03-30 20:56] darkoa-msft opened #90777 "How to migrate from Azure Storage Emulator to Azurite?"
Looks like Azure Storage Emulator was removed from Azure SDK by the latest Visual Studio update.
This page does provide a link to the standalone installer but that only mitigates the issue caused by this removal.

It seems that the proper solution would be to migrate all of our local testing from Azure Storage Emulator to Azurite.
There is [a brief section on Azurite page](https://docs.microsoft.c

[2022-03-30 21:00] ianzhang366 opened #90779 "sample code failed create EPH at the receive part"
[Enter feedback here]

After following the golang sample, I'm getting the following, it seems there's some missing RBAC config, but can't figure out what the RBAC is.

2022/03/30 16:58:50 failed to create EPH: unhandled error link 209be34a-b06a-406d-820d-c55bb9684799: status code 401 and description: Attempted to perform an unauthorized operation.

---
#### Document Details

⚠ *Do not edit this se

[2022-03-30 21:02] bwren commented on #90741
Thanks for request. I'm creating a work item for this. Most of our content efforts are currently focused on Azure Monitor agent, but we may be able to get an example in there if we have one. I'll pass on the request to our AMA PMs as they're working on reaching parity with the legacy agents.

#please-close

[2022-03-30 21:02] #90741 closed

[2022-03-30 21:02] markjbrown commented on #90711
Yes, there is no ETA for PowerShell to do data operations out of our Table API accounts. PowerShell is only used to do control plane operations (management) for Cosmos DB resources. We don't offer a way to do this for Table API and there is nothing on our roadmap to do this.

Apologies we don't have anything to offer for this. We will connect with the Storage Team to have this article updated.  (C

[2022-03-30 21:11] bwren commented on #90391
Service Health records are stored in the Activity Log. You can then configure the Activity Log to be sent to different locations. I can see how it's not completely clear though. Looks like a mistake with the Logs mentioned in the destination column so I'll fix that. I'll create a work item to get this reviewed.

#please-close

[2022-03-30 21:11] #90391 closed

[2022-03-30 21:12] AlexandraKemperMS commented on #90776
cc: @zhenlan

[2022-03-30 21:20] bwren commented on #90188
Actually, anyone in the community can update any article. Just goes to the author to approve before it's published. Click on pencil icon at the top of any article to edit. This article is actually about to get reviewed, but I just made a note about that module to make sure that we catch it. Thanks!

#please-close

[2022-03-30 21:20] #90188 closed

[2022-03-30 21:20] msmimart commented on #89967
@BevanSin thanks so much for pointing this out. An update will publish soon that expands on the resource group requirement. We'll also reference Azure documentation that gives background on resource group management and recommendations. As a separate update, we'll add content re: the guestUsages tag. Thanks again, your feedback is much appreciated!

[2022-03-30 21:21] bwren commented on #89955
#reassign: @guywi-ms

[2022-03-30 21:23] AlexandraKemperMS commented on #90623
This is very valid, it would be better to rename Message to something more useful. c: @maud-lv

[2022-03-30 21:27] Dilergore commented on #86088
Hi @duongau,

First of all thanks for letting me know, this is great. That said I think it is just half the solution. The option you are referring to turns off validation for the cert subject name but still does not allow to use self-signed certs - the cert still needs to be issued from a known (externally accepted) CA. I just validated this and with a self-signed cert I am still getting SSLHandsh

[2022-03-30 21:28] markjbrown commented on #90496
We don't have articles like this for our SQL API.

We have articles like this for our open source API's because there are very specific differences between these databases running as they often are on VM's versus a multi-tenant service such as Cosmos. These differences are both in compatibility with the underlying databases as well as other things that are less obvious.

For SQL API we assume that

[2022-03-30 21:42] mike-urnun-msft commented on #90770
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-30 21:45] duongau commented on #86088
@Dilergore at this time there isn't any support for self-signed certs unfortunately. I can check with the PG team if there are plans to support it, but I believe due to security concerns this was the reason not to allow it at all.

[2022-03-30 21:48] CliftonHS opened #90782 "MarkDown - synapse-analytics/sql/sql-authentication - Spelling"
Some incorrect grammar at end of section https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/sql-authentication?tabs=serverless#administrative-accounts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9832f753-4b65-b3cb-a2f0-a79eb34f6207
* Version Independent ID: f7772d99-2910-221a-9f65-4894fade156c
* Content: [

[2022-03-30 21:53] erik-ha-msft commented on #85149
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-03-30 21:53] #85149 closed

[2022-03-30 21:55] erik-ha-msft commented on #88787
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-03-30 21:55] #88787 closed

[2022-03-30 22:03] saavilad commented on #88787
Thanks! 💯

[2022-03-30 22:03] vanwinkelseppe opened #90784 "General inconsistency considering Virtual Machine capabilities."
While browsing through a lot of virtual machine series across the whole series list, I've found a lot of inconsistencies across different pages and series.
For example, on this page, there is a mention of the Ultra Disks inside the text. But it is not in the list where all other capabilities are listed.
Example:
![image](https://user-images.githubusercontent.com/9077926/160937239-f5c47ddf-a5a9-433

[2022-03-30 22:04] zhenlan commented on #90776
@KSchlobohm the warning is to address confusions that some users thought the managed identity would work locally. The `DefaultAzureCredential` is a good option so that the same code works both locally and in Azure, but it doesn't change the fact that the managed identity won't work locally. You still want to test managed identity in Azure for your application.

With that being said, I think it wou

[2022-03-30 22:18] #90151 closed

[2022-03-30 22:19] kobulloc-MSFT commented on #90151
@bsaxbergMS The PR has been merged and should go live shortly.

[2022-03-30 22:20] Robert-Lauriston-at-Striim commented on #90496
Got it.

The lack of parallel construction is confusing for someone forced to choose among the APIs in the Azure Marketplace. It would be helpful to have an article explaining why you'd choose the Core (SQL) API over the Cassandra, Gremlin, Mongo, or Table APIs.

[2022-03-30 22:22] theonlycoder opened #90785 "Confusion re Android browser support"
I visited this page to check whether Edge running on Android supports the use of FIDO2 security keys for passwordless auth.

I am finding the page slightly ambiguous. Android is not listed at all in the "support browsers" table, which suggests that no browser on Android is currently supported. However, in the "unsupported browsers" section, only Chrome on Android is listed, with no mention of othe

[2022-03-30 22:36] duongau commented on #87231
Hi @jileary23, thank you for your suggestion. I have changed the color used in the diagram and added a description to better explain the use of color. Please feel free to reach out if you have any further concerns. For now I will be archiving this issue. #please-close.

PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/193481

[2022-03-30 22:36] #87231 closed

[2022-03-30 22:39] Ayanmullick commented on #90711
Thank you for the update @markjbrown. @SteveL-MSFT,  Did the PowerShell team reach out to Cosmosdb to clarify misconceptions?

Community call link: https://www.youtube.com/embed/pxdUwXhyvzo?start=4087&end=4106

[![PS dataplane documentation](https://user-images.githubusercontent.com/17693249/160941907-49ed49ff-a6e0-4395-9643-9bbad018b419.png)](https://www.youtube.com/embed/pxdUwXhyvzo?start=4087&e

[2022-03-30 22:58] James-Hamil-MSFT commented on #90174
For CBA, we should now start with [Azure AD CBA](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-certificate-based-authentication) (Preview) as opposed to the documentation on the legacy pattern with ADFS.

For disabling password complexity, this can be accomplished with [Graph/Powershell](https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/strong-password

[2022-03-30 22:58] #90174 closed

[2022-03-30 23:14] #89186 closed

[2022-03-30 23:14] #88154 closed

[2022-03-30 23:14] cro27 commented on #87929
#please-close - fixed in PR #192893

[2022-03-30 23:14] #87929 closed

[2022-03-30 23:14] cro27 commented on #83102
#please-close - fixed in PR #192893

[2022-03-30 23:14] #83102 closed

[2022-03-30 23:15] cro27 commented on #80783
#please-close - fixed in PR #192893

[2022-03-30 23:15] #80783 closed

[2022-03-30 23:15] #80782 closed

[2022-03-31 00:01] tomatsue commented on #84895
I totally agree with you. Thank you for considering to update the article!

[2022-03-31 00:37] ramuvr commented on #90730
Thank you, that worked.

I got confused as it didn't deleted it yesterday with a message
 "Remove-AzADServicePrincipal: Specified App Principal ID is Microsoft Internal."
Probably related to some other service registration.

All good.

[2022-03-31 00:42] muflona11 opened #90787 "muflona2009@windowslive.com"
https://github.com/muflona11/https-example.com-svn-/issues/1#issue-1187260171

[2022-03-31 01:02] spelluru commented on #90723
Thank you!! Updated the recommended configurations article. The updated article will go live tomorrow morning at 4 AM PST.

#please-close

[2022-03-31 01:02] #90723 closed

[2022-03-31 01:22] HeidiSteen commented on #90437
@mfaulkdel  One more thing. Be careful with the large index.  If you later try to deploy it to a different region/tier that doesn't have the magical hardware, it would be a problem  Also, a 3000-field index is going to be slow and really big depending on how you attribute the fields. I think some of these limits exist for performance reasons, and not just hardware.

This link describes attribution

[2022-03-31 02:07] SumanthMarigowda commented on #90766
@IsaacRoitman Thanks for the question! We are investigating and will update you shortly.

[2022-03-31 02:32] jackson-yang-microsoft commented on #90587
@AnuragSingh-MSFT No further question, thanks for your clarification.

[2022-03-31 02:32] #90587 closed

[2022-03-31 02:40] WenJason commented on #90645
Is there any update? Thanks.

[2022-03-31 03:17] SumanthMarigowda commented on #90777
@darkoa-msft Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-31 03:21] #90224 closed

[2022-03-31 03:26] SwathiDhanwada-MSFT commented on #90224
@azure1123 Set-AzVMExtension commandlet has properties such as SettingString and ProtectedSettingString which accepts string format. For HashTable, you can use properties like Settings and ProtectedSettings.

I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, p

[2022-03-31 03:32] KazuOnuki opened #90791 "fix `Data labeler` role"
we need to add following two actions in [Data labeler](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-assign-roles#data-labeler).
- `Microsoft.MachineLearningServices/workspaces/labeling/projects/summary/read` (To display a check box)
- `Microsoft.MachineLearningServices/workspaces/labeling/labels/read` (To read the label itself)

---
#### Document Details

⚠ *Do not edit this sect

[2022-03-31 03:34] dhoeric opened #90792 "Missing Tables (preview) option on Log Analytics workspaces menu"
I am unable to add transformation to the table.
The `Tables (preview)` options is missing on the Log Analytics workspaces menu in Azure portal.

![Pasted_Image_31_3_22__11_31](https://user-images.githubusercontent.com/4831446/160971066-0ca94a60-5714-4984-aba0-fcc07f2e64dd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-03-31 03:34] AnuragSharma-MSFT commented on #90635
@skylaro Due to lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-31 03:34] #90635 closed

[2022-03-31 03:35] #90656 closed

[2022-03-31 03:39] CHEEKATLAPRADEEP-MSFT commented on #90782
@CliftonHS Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/193505](https://github.com/MicrosoftDocs/azure-docs-pr/pull/193505)

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributi

[2022-03-31 03:53] VikasPullagura-MSFT commented on #90784
@vanwinkelseppe
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-31 03:54] VikasPullagura-MSFT commented on #90784
@joelpelley
Can you please check and add your comments on this doc update request as applicable.

[2022-03-31 03:55] VikasPullagura-MSFT commented on #90751
@DerekHerman-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-31 03:55] VikasPullagura-MSFT commented on #90751
@tanmaygore
Can you please check and add your comments on this doc update request as applicable.

[2022-03-31 04:01] SwathiDhanwada-MSFT commented on #90792
@dhoeric [Ingestion-time transformations](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/ingestion-time-transformations) feature is currently in preview. Submit a request for it to be enabled in your subscriptions. Please sign up at https://aka.ms/CustomLogsOnboard. For more information, check [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/ingestion-time-trans

[2022-03-31 04:11] dhoeric commented on #90792
Thanks for sharing @SwathiDhanwada-MSFT, will do the sign up.

[2022-03-31 04:11] #90792 closed

[2022-03-31 04:12] koder101 commented on #89323
@sharroy  Any updates or ETA?

[2022-03-31 04:13] ram-msft commented on #90791
@KazuOnuki Thanks for the feedback! We will review and update accordingly.

[2022-03-31 04:31] CHEEKATLAPRADEEP-MSFT commented on #90774
@Jabble Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-31 04:34] #90448 closed

[2022-03-31 04:39] SreejaBhattacharya-MSFT commented on #90775
Hi @bmbadr , thanks for the feedback. We will investigate and reach back to you on this.

[2022-03-31 04:40] ssivas commented on #90785
@theonlycoder ,  Thank you for your feedback. We will investigate and update the thread further.

[2022-03-31 05:14] fowl2 commented on #62830
Azure functions (v5) will bind a parameter of type `ServiceBusMessageActions` (or `ServiceBusSessionMessageActions` if you're using sessions) that has methods accept a `ServiceBusReceivedMessage`

I'm sure I read this in the docs but I can only find this now: https://docs.microsoft.com/en-us/dotnet/api/overview/azure/microsoft.azure.webjobs.extensions.servicebus-readme-pre#message-settlement

[2022-03-31 05:23] fowl2 commented on #62110
There have been multiple issues raised around this (eg. https://github.com/MicrosoftDocs/azure-docs/issues/55055, https://github.com/MicrosoftDocs/azure-docs/issues/69633, https://github.com/MicrosoftDocs/azure-docs/issues/78261, https://github.com/MicrosoftDocs/azure-docs/issues/19596, https://github.com/MicrosoftDocs/azure-docs/issues/32245) - it'd be great if we could get some a a clear resolut

[2022-03-31 05:26] fowl2 opened #90793 "Service Bus Extension v5 - host.json - sessionHandlerOptions"
The v5 host.json settings sections says:

But there is no `sessionHandlerOptions` section shown. Either the text is wrong or the example+table - which is it?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0440205f-adcc-0fc5-3adb-db4dbe1d1292
* Version Independent ID: 14ad1300-590c-8102-6887-366078e1882a
* Content: [Azur

[2022-03-31 05:35] VikasPullagura-MSFT commented on #90140
@cybersmithio

Apologies in delayed response on this.

Thanks for sharing the additional details. The issue is resulting from using multiple `--enable-addons` lines in their `az aks create` command.

As documented, `--enable-addons` takes a comma-separated list. In your case, when you pass `monitoring` the initial line passing `azure-keyvault-secrets-provider` is effectively overridden.

If you in

[2022-03-31 05:35] VikasPullagura-MSFT commented on #90140
@cybersmithio
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-03-31 05:35] #90140 closed

[2022-03-31 05:44] shashishailaj commented on #90787
@muflona11 Thank you for opening this issue. We use Azure-docs repository mostly for queries related to improvement of azure documentation . Could you please update the thread and let us know which document you were referring to so that we can help you better ?

[2022-03-31 06:01] MayankBargali-MSFT commented on #90386
@RBVieira The #r directive serves to the framework assemblies. In this case, the reference is to Newtonsoft.Json.dll which is not automatically added by the Azure Functions hosting environment.  For more details, you can refer to [this section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#referencing-external-assemblies).

To use any of the assembly's functiona

[2022-03-31 06:01] #90386 closed

[2022-03-31 06:07] SadiqhAhmed-MSFT commented on #90586
@The-algar We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-03-31 06:07] #90586 closed

[2022-03-31 06:19] SauravB-MS opened #90794 "VN located in different RG, is currently not supported by VS"
[Enter feedback here]
Visual Studio/Tools doesn't support deployment of CS-ES when VNET is located in a different RG currently as confirmed with Devin. Fails with the below error. Portal/Powershell works as expected. Please update this information so that the VS users can skip this scenario.

CSES deploying
12:10:03 - Deployment using Azure Resource Management failed.
code : InvalidTemplate
Messag

[2022-03-31 06:25] ram-msft commented on #90567
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-31 06:25] #90567 closed

[2022-03-31 06:27] shashishailaj commented on #90787
@muflona11 It seems to be a private repository and we do not have access to it . Also is it related to Azure documentation ?  If you can provide the exact azure documentation link with your detailed query , we may be able to help you further.

![image](https://user-images.githubusercontent.com/532022/160990192-f294b56f-20af-474b-9503-32dde5571e68.png)

[2022-03-31 06:31] SnehaAgrawal-MSFT commented on #90728
@euchungmsft Thanks for the feedback! Looking at the error this seems a permission issue, could you please look if you have permission on this tenant,

Check this document: https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles

Also, it seems you are using azure-cli "2.31.0", could you try this in the current version of the Azure CLI is 2.34.1.

For information about the

[2022-03-31 06:42] SadiqhAhmed-MSFT commented on #90470
@VigilanteWang Hope the previous post clarified your question. Feel free to ping with questions if any. If not, we can close this thread.

[2022-03-31 06:50] Klaas- commented on #90202
@rdeltcheva any plans to replace the gluster parts with ceph or something else?

[2022-03-31 07:04] hkusulja commented on #90741
This is regarding the Azure Monitor.
Please leave it open until resolved. Do not automatically close as resolved.

[2022-03-31 07:06] #90594 closed

[2022-03-31 07:12] lightupdifire commented on #90594
@Givary
It is not only I see the "Device state" in the "What If" tool, it is also telling in the "What If" tool that policy will not apply, because "deprecated", so the "Filter for devices" should work right? But it is not working! It is showing the device state deprecated message. Fine for a call, but how? :)

[2022-03-31 07:40] #90708 closed

[2022-03-31 08:04] euchungmsft commented on #90728
From my WSL on my laptop
{
  "azure-cli": "2.34.1",
  "azure-cli-core": "2.34.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "azure-iot": "0.13.0",
    "redisenterprise": "0.1.1",
    "spring-cloud": "3.0.0",
    "ssh": "1.0.1"
  }
}

It doesn't work

However i've found that it works properly on my Cloud Shell with the same pom.xml, same account/subscription
From the Cloud Shell
{
  "

[2022-03-31 08:27] toastjoqo opened #90797 "Synapse - Public Docs - DNS alias not supported in Synapse workspace"
[Enter feedback here]
Regarding the discussion in IcM https://portal.microsofticm.com/imp/v3/incidents/details/292370581/home, DNS alias is only supported in dedicated pools on standalone Azure SQL servers (formerly SQL DW).
![image](https://user-images.githubusercontent.com/16397644/161011537-bc2c16e4-5e4f-4b27-a1d7-f2b9c0188948.png)

Could you help to update below public document and clarify the

[2022-03-31 08:29] euchungmsft commented on #90728
I tried it with my another account and it works for `auth`-`type` as `service_principal` but it doesn't work for `azure_cli` on my WSL while both works on my Cloud Shell. Check this out

![image](https://user-images.githubusercontent.com/20915976/161011925-fcf3e02b-5c78-464f-9c2d-696c93853283.png)

[2022-03-31 08:40] JoelCanteroGCO commented on #89927
Any news about this? @YutongTie-MSFT

Thank you

[2022-03-31 08:45] ram-msft commented on #90596
Thanks, Raised #[PR ](https://github.com/MicrosoftDocs/azure-docs/pull/90799) request and we have created a backlog item to create compute instance and cluster on vnet and add NSG with rules on subnet of vnet.

[2022-03-31 08:47] ram-msft commented on #90596
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-31 08:47] #90596 closed

[2022-03-31 09:02] SreejaBhattacharya-MSFT commented on #90775
This image name is valid. I just spawned an azure container instance with the same image, and the container is running successfully.

[2022-03-31 09:08] CHEEKATLAPRADEEP-MSFT commented on #90779
@ianzhang366  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-03-31 09:33] naokitakeda14 opened #90801 "Verifying the description of Microsoft Defender for Cloud and Microsoft Defender for SQL"
[Enter feedback here]
There are some questions.
First, in the document ([Microsoft Defender for SQL - Azure SQL Database | Microsoft Docs](https://docs.microsoft.com/en-us/azure/azure-sql/database/azure-defender-for-sql)), it uses four words "Microsoft Defender plans, ""Microsoft Defender for Cloud",  "Microsoft Defender for Azure SQL Database" and "Microsoft Defender for SQL". What are the differ

[2022-03-31 10:29] chaisen2006 commented on #90461
@AnuragSharma-MSFT ; thanks for your reply. For target using DMS , we would be only using to load data , do we really need server admin. ? ( or only read/write would not work? )

[2022-03-31 10:40] AjayKumar-MSFT commented on #90437
HeidiSteen, Thanks for the follow-ups and helping mfaulkdel with this issue. I'm just reassigning this thread as you took care of this. Much appreciated!

[2022-03-31 10:45] VagalVinayak1 commented on #72199
Hello Team,

M putting below code to run, m confusing about enviroment url which i have placed for APAC mumbai. could you please confirm on this part. i have mark as star * near by the url.

Code :
const platformClient = require('purecloud-platform-client-v2');

**const client = https://api.aps1.pure.cloud**.

client.loginClientCredentialsGrant("9d8ec617-3630-4c0a-a5ec-60961d9d4f3c","odvJCXNJD_ffx

[2022-03-31 10:50] PriyankaRudramaina commented on #90489
Hello @AdamSharif-MSFT,

Please find answers in-line
1. An example of the content that should be present in the bootstrap-kubeconfig file if TLS bootstrapping is enabled?

_The bootstrap kubeconfig should be in a path available to the kubelet, for example /var/lib/kubelet/bootstrap-kubeconfig._
_Its format is identical to a normal kubeconfig file. A sample file might look as follows:_

apiVersion:

[2022-03-31 10:50] #90489 closed

[2022-03-31 10:51] desplesda opened #90802 "NVv4 overview page may incorrectly imply Linux support"
The document notes that "NVv4 virtual machines currently support only Windows guest operating system", but the top of the page indicates that this page "Applies to: ✔ Linux VMs". A user who only looks at the top of the page and not the end of the last paragraph may come away with the wrong idea.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-03-31 10:58] PriyankaRudramaina commented on #90385
Hello @ilikeyi,

I have reported this to content author. Awaiting for the update here. I will keep you posted.

[2022-03-31 11:09] AnuragSharma-MSFT commented on #90797
@toastjoqo Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-31 11:10] SnehaAgrawal-MSFT commented on #90352
@larrywa Just checking in if you have had a chance to see the previous response.

[2022-03-31 11:10] AnuragSharma-MSFT commented on #90801
@naokitakeda14 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-03-31 11:11] SnehaAgrawal-MSFT commented on #90736
@PedroGuerraPT Just checking in if you have had a chance to see the previous response. Let us know to help you better on this.

[2022-03-31 11:16] Haritha-Nuthi opened #90803 "With the code in the link https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-angular-auth-code"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-03-31 11:17] DanniJuhl commented on #90721
Thank you for the clarification and update @msjuergent.
Closing this issue as well as the documentation has been updated.

[2022-03-31 11:17] #90721 closed

[2022-03-31 11:19] Haritha-Nuthi opened #90804 "Issue with redirect URI"
With code in the link  https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-angular-auth-code , it works well when redirect URI id http://localhost:4200/ but when I change to http://localhost:4200/profile, after successful login, it redirects to http://localhost:4200/ but not http://localhost:4200/profile.

FYI: I have also update the redirectURI in app registered in Azure.

[2022-03-31 11:28] GitaraniSharma-MSFT commented on #90661
@phatcher , apologies for the delay in response.
**No, you don't** need to enable service endpoints on a subnet when communicating to the target services via private links e.g. say a web app talking to it's associated key vault and a SQL Server.
It is either Private link/endpoint or Service endpoints.

Microsoft recommends using Azure Private Link. Private Link offers better capabilities in terms

[2022-03-31 11:28] #90661 closed

[2022-03-31 11:38] GitaraniSharma-MSFT commented on #90377
@slavizh , below is the update from the Product Group team:

These logs were never supported for Standard Load Balancer – could you confirm if you are still seeing these options today?

These two log categories ("LoadBalancerAlertEvent" and "LoadBalancerProbeHealthStatus") were originally supported for Basic SKU Load Balancers but were deprecated a very long time ago.

The bug in Portal that showe

[2022-03-31 11:43] MayankBargali-MSFT commented on #90793
@fowl2 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-31 11:46] AnuragSharma-MSFT commented on #90794
@SauravB-MS Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-03-31 11:48] shwetamathur7 commented on #90543
Closing this thread as this forum is mainly for documentation issues. If you have any other questions related to document, tag me in your reply. I will open the thread to discuss further.

[2022-03-31 11:48] #90543 closed

[2022-03-31 11:49] AnuragSharma-MSFT commented on #90803
@Haritha-Nuthi Thanks for the feedback. Could you please mention the url/documentation you are referring to and provide more details on your exact query? This platform is mainly used for queries/doubts related to Microsoft Documentation.

If this is entirely a technical question, I would request you to post it on [Stack Overflow](https://stackoverflow.com/questions/ask) or [Microsoft Q&A](https://

[2022-03-31 11:51] AnuragSharma-MSFT commented on #90803
@Haritha-Nuthi We noticed that you have already created another issue on the same query. If fine we can close this issue and keep the other one open. Please let us know:

https://github.com/MicrosoftDocs/azure-docs/issues/90804

[2022-03-31 11:53] MayankBargali-MSFT commented on #90793
@fowl2 This [section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus?tabs=in-process) talks about the **host.json setting** and the property table will only show the configuration that is applicable only to host.json setting

As the section mentions that `isSessionsEnabled` can be used as an attribute or property on the **trigger** (not to the host.json setti

[2022-03-31 11:58] vanwinkelseppe commented on #90784
@VikasPullagura-MSFT Thanks!
Maybe one thing to add globally to all virtual-machines/svc. I've taken an export of all VM properties and attributes and a lot of small inconsistencies have shown:

[code]

These are just some inconsistencies I've noticed with one eye.

[2022-03-31 12:02] hribeiro-msft opened #90806 "Image broken?"
The image at the bottom of the page is not loading.
When I Click it downloads it but doesn't display properly to me.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a6e2fa9-99f3-7a01-5629-42ff4a762ea8
* Version Independent ID: d3992cd6-6809-d757-2725-0be592ee6521
* Content: [What is Azure Event H

[2022-03-31 12:05] GeethaThatipatri-MSFT commented on #90468
Hi @anfeldma-ms Can you please confirm if we have any document on the specific ask I could not find any.

[2022-03-31 12:07] BhagyaShree044 opened #90807 "Need document improvement"
Hello Team,

I worked on a case, where customer already had below permissions both on source and target Key vault as a pre- req for enabling replication, however still they were receiving permission error while enabling replication.

Key vault permissions

List, Create and Get
Key vault secret permissions

Secret Management Operations
Get, List and Set
Key vault key permissions (required only if t

[2022-03-31 12:13] mjmhall1 opened #90808 "more detailed information on using Salesforce Service Cloud as a sink type"
[Enter feedback here]

Can we have some more detailed examples of using Salesforce Service Cloud as a sink type that includes details of loading where the are lookup relationships to other tables?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d470d86-9c34-2da0-b471-587f147bf149
* Version Independent ID: cea1b527-ebfb

[2022-03-31 12:13] GeethaThatipatri-MSFT commented on #90496
@Robert-Lauriston-at-Striim sure we will make a note of it. as @markjbrown mentioned currently we have an article for reference Appreciate your feedback on improving our documentation.
We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-03-31 12:13] #90496 closed

[2022-03-31 12:43] sotnikop opened #90811 "Tutorial does not work - You do not have permission to view this directory or page"
Tried this twice with cleaning up my environment fully the 2nd time. Main issue is # 3, # 1 and # 2 have simple workarounds.

1. Minor error in step 6. "az sql server firewall-rule create -resource-group msdocs-core-sql --server <yoursqlserver> --name LocalAccess --start-ip-address <your-ip> --end-ip-address <your-ip>"
 -resource-group should have 2 dashes as in "--resource-group"

2. In visual st

[2022-03-31 12:45] jmschafferer opened #90812 "Azure recommendations for AKS triggering on Kured pods"
[Enter feedback here]
Azure recommendations triggers multiple alerts on the Kured pods installed on the cluster:
 - Running containers as root user should be avoided (high)
 - Kubernetes clusters should disable automounting API credentials (high)
 - Containers sharing sensitive host namespaces should be avoided (medium)

It would be great if the article explains how to either remediate the contain

[2022-03-31 12:57] SwathiDhanwada-MSFT commented on #90649
@maspange It is needed named as Windows Forwarding Events since when you set up a forwarding collector machine - the folder is set as  Windows Forwarded events. The acronym WEF is still there for ease of search.

As there is no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-03-31 12:57] #90649 closed

[2022-03-31 13:01] AnuragSharma-MSFT commented on #90461
@chaisen2006 Thanks for relying back. Before we start importing data through DMS we need to import schema to our Azure MySQL Database and for that users need to have proper privileges for creating routine, view, tables and other object. If we assign these special privileges to users then it would be fine, otherwise using server admin will be easy way out as they already have all privileges.

[Summ

[2022-03-31 13:13] PriyankaRudramaina commented on #90802
Hello @desplesda,

Thank you for your feedback. We will investigate and update the thread further.

[2022-03-31 13:13] o-l-a-v opened #90815 "Can you change Front Door SKU, Standard <-> Premium?"
One crucial piece of information missing in this documentation:

* https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/tier-comparison

And in the Azure portal when creating a Azure Front Door:

![image](https://user-images.githubusercontent.com/6450056/161062840-ef97f6b1-bf8e-490d-b804-423c02f224ea.png)

Is whether the SKU can be changed after creation. Can it?

---
#### Document De

[2022-03-31 13:21] swissto opened #90816 "Wrong step by step"
To configure MFA trusted IPs, login to Azure Portal > Azure Active Directory > Security > Conditional Access > Named Locations > Configure MFA Trusted IPs.

Your guide is wrong...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42fff764-77f2-2878-f27f-867c71d9a8fc
* Version Independent ID: 669c3568-eedc-f959-01d6-fcde93

[2022-03-31 13:30] o-l-a-v commented on #90815
(Might be relevant)

Azure API has a variable in the request body for "sku" for the "Create" operation:

* https://docs.microsoft.com/en-us/rest/api/frontdoor/azurefrontdoorstandardpremium/afd-profiles/create#request-body

Whilst "Update" has not:

* https://docs.microsoft.com/en-us/rest/api/frontdoor/azurefrontdoorstandardpremium/afd-profiles/update#request-body

[2022-03-31 13:31] JamesTran-MSFT commented on #90816
@swissto
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-31 13:37] PriyankaRudramaina commented on #90131
Hi @klaas,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-31 13:41] #90733 closed

[2022-03-31 13:43] Haritha-Nuthi commented on #90804
I could able to resolve the issue by making the following changes to config

{
      auth: {
        clientId: 'xxxxxxxxx', // Application (client) ID from the app registration
        authority: 'https://login.microsoftonline.com/tenantid', // The Azure cloud instance and the app's sign-in audience (tenant ID, common, organizations, or consumers)
        **navigateToLoginRequestUrl: false,**

[2022-03-31 13:43] #90804 closed

[2022-03-31 13:46] jcr010910 commented on #85414
@ivapplyr @asudbring
any update?

[2022-03-31 13:47] bmansheim opened #90818 "Broken image: Event Hubs architecture"
The "Event Hubs architecture" image is missing from the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71adf8e4-a51b-d20d-39e1-fd7551bc94b9
* Version Independent ID: 3d26fbc0-b6ae-e0ca-089f-e4966c19ef22
* Content: [Overview of features - Azure Event Hubs - Azure Event Hubs](https://review.docs.microsoft.com/en-us

[2022-03-31 14:00] SnehaAgrawal-MSFT commented on #90811
@sotnikop Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-31 14:03] tommyleedberg commented on #90315
Any follow up on this?

[2022-03-31 14:20] nicofdgc opened #90819 "Azure Front Door instance is not visible on Azure DNS Resource list"
As others have [mentionned](https://github.com/MicrosoftDocs/azure-docs/issues/47220#issuecomment-1039035707) [recently](https://github.com/MicrosoftDocs/azure-docs/issues/47466#issuecomment-1079763361), I can't select my Front Door instance when trying to create an alias record on Azure DNS.

Inspired by [this command](https://github.com/MicrosoftDocs/azure-docs/issues/47466#issuecomment-58229225

[2022-03-31 14:25] sarvatasltd opened #90820 "How can you iterate the items copied from a SQL table without hitting 4MB limit?"
[Enter feedback here]
The article doesn't provide an example of when each row from a SQL table has to be read and transformed. For example, if each row in a table is an attachment record that has to be stored as an individual file in azure blob storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eeeaf10-1280-fb39-

[2022-03-31 14:25] KSchlobohm commented on #90776
Thanks @zhenlan, I see what you mean. The identities will be different, and you would still need to test both to validate access.

I only included the sample to show how I could use managed identity and support local development with one code snippet.

[2022-03-31 14:28] warnerm06 opened #90822 "Cosmos Gremlin Python3.8 Tornado Conflict"
I had an issue with Windows 10, Tornado and Python 3.8.10.

I was getting a `NotImplementedError`

And the resolution was to add
[code]

to `tornado>platform>asyncio.py`.

The solution was found in this Stack Overflow [link](https://stackoverflow.com/questions/66068224/python-integration-with-azure-gremlin-not-working).

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-03-31 14:52] annapurnaK2 commented on #40454
Hi, did the copy activity work, or did you use any one of the following tools or SDKs listed on the webpage ?

[2022-03-31 14:59] erik-ha-msft commented on #82739
Thank you for the feedback.

As stated in the document:

#please-close

[2022-03-31 14:59] #82739 closed

[2022-03-31 15:12] ShaikMaheer-MSFT commented on #90806
@hribeiro-msft Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-31 15:13] ShaikMaheer-MSFT commented on #90808
@mjmhall1 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-31 15:35] dargilco commented on #90499
Tagging @glharper

[2022-03-31 15:39] #90803 closed

[2022-03-31 15:39] shashishailaj commented on #90803
Closing as the main issue was resolved.

[2022-03-31 15:40] shashishailaj commented on #90804
@Haritha-Nuthi Thank you for sharing your solution with the community .

[2022-03-31 15:49] PriyankaRudramaina commented on #90802
Hello @desplesda,

I have made the necessary changes in the document and it will be refected in the public document shortly. Please check back in a day.

[2022-03-31 15:55] kobulloc-MSFT commented on #90812
@jmschafferer Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-03-31 15:57] JamesTran-MSFT commented on #90730
@ramuvr
Thank you for following up on this and I'm glad that I was able to help resolve your issue!

I'll go ahead and close this out.
Thank you for your time and patience throughout this issue.

[2022-03-31 15:57] #90730 closed

[2022-03-31 16:01] PriyankaRudramaina commented on #90385
Hello @ilikeyi,
I have feedback this to content author. The broken links have been removed from the public document. The links for 02C_2022_LXP_ISO and 03C_2022_LXP_ISO will be added back as/when they are available. Please standby until further notice.

![image](https://user-images.githubusercontent.com/95755055/161098078-bbded3f5-e9be-43ba-9f17-8759b320f6ca.png)

[2022-03-31 16:01] #90385 closed

[2022-03-31 16:12] kobulloc-MSFT commented on #90492
@tcsougan The documentation team has added this to their list of documentation to update.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-03-31 16:12] #90492 closed

[2022-03-31 16:21] glharper commented on #90499
Please see [this issue](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues/1443)

[2022-03-31 16:26] JamesTran-MSFT commented on #90816
@swissto
Thank you for your feedback!

Unfortunately, the article that you created this issue on doesn't contain the instructions that you're referring to. Id' recommend creating a new GitHub within the correct document so we can correctly route and address your issue.

**Linked Content:** [Configure app passwords for Azure AD Multi-Factor Authentication - Azure Active Directory](https://docs.micr

[2022-03-31 16:34] whhender commented on #90774
@Jabble - Thanks for following up!

Looks like we missed adding the definition. Here it is:
An organization-defined grouping of assets, terms, annotations, and sources. Collections allow for easier fine-grained access control and discoverability of assets within a data catalog.

I'll be adding that to the glossary page today.

Thanks also for your feedback and suggestions about the glossary page!

[2022-03-31 16:45] porrascarlos802018 opened #90826 "Please update document to inform customers no downtime is involved when enabled aad managed integration"
Please update document to inform customers no downtime is involved when enabled aad managed integration on existing clusters with legacy AD integration

portal checkbox , should have a message informing customers no impact to nodes or pods level , no downtime expected and reference link to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-03-31 16:56] whhender commented on #90774
The definition for collection and root collection have been added! You should see those later today.

[2022-03-31 16:56] whhender commented on #90774
#please-close

[2022-03-31 17:04] AshokPeddakotla-MSFT commented on #90547
I dont think there will be any difference between the Pi3 and Pi4. Could you please confirm the sensor which you are using?
Are you using **BME280**  ?

[2022-03-31 17:12] GeethaThatipatri-MSFT commented on #90822
Hi, @warnerm06 Thanks for reaching out, We will Investigate and update you shortly.

[2022-03-31 17:14] ziaddiab-globaldws commented on #90164
@AshokPeddakotla-MSFT , @SatishBoddu-MSFT ,
This code you shared is for sending the telemetries to IoT Central. We need the sample code for provisioning the device using .NET 4.7.
Thanks

[2022-03-31 17:21] KranthiPakala-MSFT commented on #90818
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-31 17:29] dgpoulet opened #90827 "Update stored procedure example for latest Java SDK"
The example of invoking a stored procedure in Java here seems to use an outdated SDK?

e.g. the code based around this call...

[code]

is not something that features anymore in the V4 SDK, which has (in my opinion anyway) a much simpler syntax.

See: https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples/blob/main/src/main/java/com/azure/cosmos/examples/storedprocedure/async/SampleSto

[2022-03-31 17:32] KranthiPakala-MSFT commented on #90820
Thanks for leveraging Azure docs feedback channel to raise this question. The above document has a basic information on how to copy data from SQL to Azure blob. This will give an idea on how to do the initial basic setup.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.microsoft.com/answers/index.html) or [Stackoverflow](http

[2022-03-31 17:34] KranthiPakala-MSFT commented on #90820
Copy activity is intended for data movement between source and destination. For data transformation you will have to use [Mapping data flow in ADF](https://docs.microsoft.com/en-us/azure/data-factory/concepts-data-flow-overview)

Hope this helps. If you have further questions related to the product, we encourage you to please post your queries in forums mentioned in my previous comment.

Thank you

[2022-03-31 17:39] jouniheikniemi opened #90828 "Cosmos DB Partial document update intro: Reorganization suggestion"
This page kicks off with a couple of introductory paragraphs, but then gives us a note about RFC compliance and escaping tildes, followed by three code examples. That's very esoteric and confusing. While there are probably a few users who are specifically looking for this info, I'd say that the vast majority would rather see it far lower on the page where the fundamentals have already been describ

[2022-03-31 17:49] nExoRek commented on #89934
please do not change column names. previous file had a column 'String_ Id'
the new one 'String_Id'.
checking names of plans and products is so common that i have it scripted -
and i believe i'm not the only one. it's a great help that you publish CSV,
please keep it standardized
https://github.com/nExoRek/eN-Lib/blob/master/get-ServicePlanInfo.ps1

thank you!

On Tue, 29 Mar 2022 at 19:56, PRMerge

[2022-03-31 18:01] MatthewBrown0 opened #90829 "Wrong version number"
Hello,
The two most recent version numbers of this software are listed incorrectly.  I just downloaded the latest version of the agent and the file details lists the following version number: 10.20.18064.0

It seems this article is missing the Zero in the first digit.  The article states the version is 1.20.18064.0 but the installer lists it with the Zero.
Thanks,
Matt

---
#### Document Details

[2022-03-31 18:02] jeevansd commented on #90764
@twimmers Can you please review this?

[2022-03-31 18:12] sesam85 opened #90831 "EncryptionAlgorithm Documentation shows old code"
The documentation at
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-always-encrypted?tabs=dotnet#create-a-container-with-encryption-policy

the .Net Code shown has the following

EncryptionAlgorithm = DataEncryptionKeyAlgorithm.AeadAes256CbcHmacSha256

this should be replaced by

EncryptionAlgorithm = DataEncryptionAlgorithm.AeadAes256CbcHmacSha256

---
#### Document Details

⚠ *Do not ed

[2022-03-31 18:34] rdeltcheva commented on #90202
No plans to introduce ceph. Our focus is on SAP Reference Architectures with Azure native NFS like NFS Azure Files or ANF NFS volumes. Like:
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-rhel-nfs-azure-files
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-rhel-netapp-files

[2022-03-31 18:34] kgremban commented on #88848
Hi @bschaef14, thank you for sharing your experience with us so that we can clarify these behaviors for other customers. I'm working on some updates to this article based on your two pieces of feedback. I'm just double checking some of the conceptual information, and then should have a new version to share with you soon.

[2022-03-31 18:45] J227668 opened #90833 "CMMC L3 is now CMMC L2"
CMMC is now on version 2.0. I recommend adding reference to this by saying "This policy initiative was built to CMMC version 1.0 and will be updated in the future". CMMC L2 under CMMC 2.0 is similar to L3 CMMC 1.0 but different control mappings.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78bbea60-9afb-66e5-987b-f0f6421

[2022-03-31 18:57] #89967 closed

[2022-03-31 19:08] SatishBoddu-MSFT commented on #90164
Sure, we are looking into this!

[2022-03-31 19:08] msmbaldwin commented on #89958
Hi @JustinGrote, and thanks for your feedback.  I have updated this article, and it now references the Import-AzKeyVaultCertificate cmdlet (see https://docs.microsoft.com/en-us/azure/key-vault/certificates/tutorial-import-certificate?tabs=azure-powershell#import-a-certificate-to-your-key-vault). Good catch! #please-close

[2022-03-31 19:08] #89958 closed

[2022-03-31 19:19] BevanSin commented on #89967
@msmimart Thanks for looking into it - had a couple of customers ask this specific question so would be good to get doco on it plus guidance on management.  thanks!

[2022-03-31 19:24] mimckitt commented on #62147
#assign: @mimckitt

[2022-03-31 19:24] mimckitt commented on #62147
I will be taking a look at this in the next few days and get a PR with a fix.

[2022-03-31 19:31] TLKG opened #90836 "User does not exist. Please sign up before you can sign in."
First of all, thanks for the very detailed step-by-step.

I have a Google developer account for a long time, still strictly followed all steps including all lower cases at GC side. Waited for 12 hours, `Run user flow` with my long-time gmail acct, reply URL got nothing but this in the location
`Location: https://jwt.ms/?error=server_error&error_description=AADB2C99002%3a User does not exist. Pleas

[2022-03-31 19:39] sritodi opened #90837 "ForwarderService commandlets aren't documented"
[Enter feedback here]
Many of the commandlets in the module are not documented

Here is what's **NOT**documented

Add-ForwarderServiceAllowedClientCertificate
Add-ForwarderServiceAllowedHost
Get-ForwarderServiceAllowedClientCertificate
Get-ForwarderServiceAllowedHost
Get-ForwarderServiceConfig
Get-ForwarderServiceRelayProxy
Remove-ForwarderServiceAllowedClientCertificate
Remove-ForwarderServiceAll

[2022-03-31 19:41] DaveRuijter commented on #79628
Ping :)

[2022-03-31 19:46] chaisen2006 commented on #90461
@AnuragSharma-MSFT : This is clear thanks!

[2022-03-31 20:12] golfalot opened #90838 "typo in example variable name $queueMessage != $QueueMessage (upper Q)"
# Create a new message using a constructor of the CloudQueueMessage class
$queueMessage = [Microsoft.Azure.Storage.Queue.CloudQueueMessage]::new("This is message 1")

# Add a new message to the queue
$queue.CloudQueue.AddMessageAsync($**Q**ueueMessage)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dee2eb5-36a3-51a4-d

[2022-03-31 20:15] TLKG opened #90839 "B2C Tenant and AZ AD B2C are in Two Different Directories"
First of all, thanks for the very detailed step-by-step instructions.

I have one confusing part: after creating a B2C tenant it's in a different Directory than Azure AD B2C's.

Here is the details:

- I have a Free-tier Basic subscription, and I'm the only person using it.
- When I first sign up, Directory was not a concept to me until B2C tenant creation.
- I then started noticing I have a direc

[2022-03-31 20:25] TLKG commented on #90708
@shwetamathur7 It's available now. Not sure what makes it available, maybe I waited for a few hours, or in the subscription, click `Manage policies` to allow myself into the directory. Thank you.

[2022-03-31 20:35] sunefred opened #90842 "Incorrect ingress yaml in sample code"
(https://docs.microsoft.com/en-us/azure/aks/ingress-tls?tabs=azure-cli&source=docs#create-an-ingress-route)

In this section there is one path too many in the last ingress. It should be

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-ef

[2022-03-31 20:54] GeethaThatipatri-MSFT commented on #90827
Hi @dgpoulet Thanks for your findings,We will investigate and update as appropriate

[2022-03-31 21:08] AryanSood3003 commented on #90547
nope a diff sensor connected to the same pins

[2022-03-31 21:08] vijayakrishnar opened #90844 "own kubelet Managed identity doesn't work while provision new AKS cluster"
I have created our own kubelet Managed identity and assigned "Managed Identity Operator" role to whole subscription.
i am using that kubelet MI while provision aKS cluster with below command and it's failing and saying that "Could not grant Managed Identity Operator permission to cluster identity at scope"

`az aks create --resource-group rgpz1aks --name z1aks --network-plugin kubenet --network-po

[2022-03-31 21:13] ramon-garcia commented on #86039
Any news? It looks like there is no alternative method to promote a subdomain to root unless one uses Microsoft Graph

[2022-03-31 21:22] spelluru commented on #90818
Fixed. #please-close

[2022-03-31 21:22] #90818 closed

[2022-03-31 21:35] SaiKishor-MSFT commented on #90838
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-03-31 21:40] JamesTran-MSFT commented on #90839
@TLKG
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-31 21:42] JamesTran-MSFT commented on #90836
@TLKG
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-31 21:54] avetta-jack opened #90846 "Update directions for InTune"
The directions here are outdated and show going to devices in Azure but that link takes you to a page stating the devices have moved to InTune so the directions no long apply.

(https://portal.azure.com/#blade/Microsoft_Intune_DeviceSettings/MemRedirectBlade)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823c9751-c496

[2022-03-31 21:57] MarileeTurscak-MSFT commented on #90846
@avetta-jack
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-31 22:06] Oury-MSFT commented on #90828
@Jouniheikniemi Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-03-31 22:13] Heidilohr commented on #67037
This article was updated with additional LXPs recently, so this issue is no longer relevant. #please-close

[2022-03-31 22:14] katie-lunce-db opened #90847 "ANSI_MODE Default Value"
The system default value for ANSI_MODE is listed here as TRUE, but it should be FALSE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b275fca0-3f89-ccd2-52d0-c54940b5bb73
* Version Independent ID: b275fca0-3f89-ccd2-52d0-c54940b5bb73
* Content: [Configuration parameters - Azure Databricks - Databricks SQL](https://docs.

[2022-03-31 22:37] mike-urnun-msft commented on #90844
Hello @vijayakrishnar - Thank you for sharing your feedback! Since this channel is for driving improvements toward MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable? That way, we're able to connect you with the right team that is best suited to address your feedback.

[2022-03-31 22:40] PedroGuerraPT commented on #90736
Hi @SnehaAgrawal-MSFT, I apologize for the delayed response, I was sure that I had left the same already.

The page that you have referred does not contain most of the content from the YAML file `articles/app-service/faq-app-service-linux.yml`, which appears to have been removed. You may find as an example the previous PR #83696, which added comprehensive documentation regarding the container warm

[2022-03-31 22:46] Ulrhol commented on #90819
Have the same problem. Any news on this?

[2022-03-31 23:03] ecfan commented on #90485
@jcocchi, could you please address this feedback from @Neutrino-Sunset?

[2022-03-31 23:04] ecfan commented on #90630
@RyZum, do you have a response for the feedback from @DTronD?

[2022-03-31 23:05] adriantorrie opened #90848 "Broken code block"
[Enter feedback here]
Broken code block:
Section `3. Create an image based on the environment definition and pull the image to the local registry.`

Just doesn't work. Missing imports.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4fd070b-ec93-be29-9361-302d383d6724
* Version Independent ID: b1854f9d-3426-104e-e939-b

[2022-03-31 23:13] steviewake opened #90849 "Windows 11 Support"
Are Windows VMs supported yet with Azure Disk Encryption?

Some have started to build Win 11 VMs but are seeing issues when trying to implement Azure Disk Encryption: "Disk Encryption failed. Troubleshoot Azure Disk Encryption."

This is on Windows 11 21H2 VM. Also the temp disks are not protected, but the main drive is bitlocker encrypted.

Thank you.
---
#### Document Details

⚠ *Do not edit thi

[2022-03-31 23:22] kobulloc-MSFT commented on #90826
@porrascarlos802018 Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-03-31 23:26] kobulloc-MSFT commented on #90842
@sunefred Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-03-31 23:26] #89600 closed

[2022-03-31 23:50] kobulloc-MSFT commented on #90829
@MatthewBrown0 Thank you for bringing this to our attention!  It does appear that this is a typo but I'm going to confirm that there wasn't a format change (as Linux uses a similar format).

[2022-04-01 00:35] TLKG opened #90850 "Proof Key for Code Exchange is required for cross-origin authorization code redemption"
Sorry for the trouble.

I have a SPA would like to use 3rd-party authentication, came across from [MSal samples' README.md](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/samples/msal-angular-v2-samples/angular11-b2c-sample). Long story short, there are two options to set it up:

1. Sample README, [Register a single-page application (SPA) in Azure Active Directory B2C]

[2022-04-01 00:40] ryutaro-kimura commented on #31950
@nikhilr5  Hi, I trid it and I got that error too in React/Next.js.
But, I solved the problem in the following way.
[code]
In other words, it is a React project, but when importing, it is done the nodejs way.

[2022-04-01 01:00] YutongTie-MSFT commented on #90548
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-04-01 01:23] HeidiSteen commented on #90437
@mfaulkdel  The response from engineering is that the field limits for S1-3 were raised to 3000 last year.  Per the program manager:  "We’ve left the documented limits at 1,000 because it’s generally safer from a performance perspective but when customers ask for a higher limit we let them know that they can go above 1,000 fields and give disclaimers that they should run performance tests to under

[2022-04-01 01:23] #90437 closed

[2022-04-01 01:31] #90461 closed

[2022-04-01 01:31] AnuragSharma-MSFT commented on #90461
@chaisen2006 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-04-01 01:36] AnuragSharma-MSFT commented on #90807
@BhagyaShree044 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-01 01:57] HeidiSteen commented on #90590
@ShilpaSharePoint I don't know if a second code sample will help or not, but this link takes you to one that uses React client libraries for autocomplete queries:  https://docs.microsoft.com/en-us/azure/search/tutorial-csharp-search-query-integration

Otherwise, as Gia noted, it's a little hard to see what behaviors you're seeing.  If all of these fields are sg-aware ("metadata_spo_item_name","Des

[2022-04-01 01:57] #90590 closed

[2022-04-01 02:42] SnehaAgrawal-MSFT commented on #90352
@larrywa Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-04-01 02:42] #90352 closed

[2022-04-01 02:45] HMoen opened #90851 "Drop "preview" from "2021-08-01-preview""
[Enter feedback here]
Not Found({"error":{"code":"InvalidResourceType","message":"The resource type 'deletedServices' could not be found in the namespace 'Microsoft.ApiManagement' for api version '2021-08-01-preview'. The supported api-versions are '2020-06-01-preview,2020-12-01,2021-01-01-preview,2021-04-01-preview,2021-08-01'."}})

Based on the above, the word "preview" can be dropped from any r

[2022-04-01 02:53] ram-msft commented on #90848
@adriantorrie Thanks for the question. We are investigating the issue and will update you shortly.

[2022-04-01 03:02] shwetamathur7 commented on #90850
@TLKG Thank you for your feedback. We will investigate and update as appropriate.

[2022-04-01 03:05] GeethaThatipatri-MSFT commented on #90654
Hi, @naokitakeda14  Locking DNS records can cause issues the document mentioned is to put locks on DNS records, not vnet , can you please elaborate on your ask

[2022-04-01 03:45] CHEEKATLAPRADEEP-MSFT commented on #90847
@katie-lunce-db  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-01 04:02] SwathiDhanwada-MSFT commented on #90837
@sritodi Thanks for your feedback.

Assigning to content author @bwren  for review.

[2022-04-01 04:03] SwathiDhanwada-MSFT commented on #90833
@J227668 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-04-01 04:15] PriyankaRudramaina commented on #90849
Hello @steviewake,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-01 04:28] SnehaAgrawal-MSFT commented on #90728
@euchungmsft Could you please send an email with subject line “Attn:Sneha |thread title” to AzCommunity@microsoft.com referencing this thread with your Azure subscription ID, I will follow-up with you.

[2022-04-01 04:51] AjayKumar-MSFT commented on #90458
makokui, Just to provide an update. This is still being investigated and will be rectified soon. Thanks for your patience.

[2022-04-01 04:57] EwenStewartAtTally commented on #21686
This is still unclear
(https://docs.microsoft.com/en-us/connectors/sql/)
It says this
![image](https://user-images.githubusercontent.com/45586744/161197237-f1f2f4a6-dc90-42f4-8c43-a3c4a5ab2146.png)
But I see this
![image](https://user-images.githubusercontent.com/45586744/161197472-811e4c12-a21f-4841-bc3e-f9a469167013.png)
The formal parameters is not creating a new parameter entry as described in

[2022-04-01 05:07] PriyankaRudramaina commented on #90849
@steviewake,

Below set of Windows VMs have always supported Azure Disk Encryption. Support for windows 11 is yet to be added
Supported operating systems
Windows client: Windows 8 and later.
Windows Server: Windows Server 2008 R2 and later.
Windows 10 Enterprise multi-session.
[https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-overview#supported-vms-and-operating-syst

[2022-04-01 05:08] hengv opened #90853 "TTS quota question"
For the TTS quota and limitation:

Quota | Free (F0)3 | Standard (S0)

Max number of transactions per second (TPS) per Speech service resource   
Real-time API. Prebuilt neural voices and custom neural voices. | 20 per 60 seconds | 200

Standard TTS quota is 200 per second or per minute?

If it is 200 per second, it will be 12000 transaction per minute?

Thanks!

Heng Wei

---
#### Document Detail

[2022-04-01 05:19] MayankBargali-MSFT commented on #90851
@HMoen Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-04-01 05:26] #90851 closed

[2022-04-01 05:27] SwathiDhanwada-MSFT commented on #90742
@zaalion  As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-04-01 05:27] #90742 closed

[2022-04-01 05:30] AparnaJid opened #90854 "Access token API issue :https://docs.microsoft.com/en-us/azure/azure-video-analyzer/video-analyzer-for-media-docs/video-indexer-use-apis"
[Enter feedback here]
The code snippet gives the below error while fetching the token
ErrorType:ARM_ACCOUNT_MUST_BE_MANAGED_BY_ARM,Message:You can only use the ARM management API for management calls on accounts created on ARM. <a href=\\https://aka.ms/avam-arm-docs\\>Learn more</a>. Trace id: '31b41e53-7e55-4f1c-9913-245410129d63'.}"

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-04-01 05:53] ylnhari commented on #90567
Instead of Registering the model and straight away using it to deploy , If we try to read already registered model using -> `model = Model(workspace=ws, name=model_name, version=model_version)`  and use this read model while deploying, It is working without fine.

[2022-04-01 06:13] SadiqhAhmed-MSFT commented on #90470
@VigilanteWang We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-04-01 06:15] adityabalaji-msft commented on #90595
Hi, we are investigating this issue and will get back shortly. Apologies for the delay

[2022-04-01 06:16] lgn-lvx3 commented on #77725
@sijucm Did you ever figure this out? I'm learning some durable functions and ran into this exact same issue, the docs need help in this regard.

[2022-04-01 06:39] zeeshaanali commented on #89323
@sharroy Any updates or ETA?

[2022-04-01 06:43] tksh164 opened #90855 "Question: Required minimum permissions for Azure Backup with Private Endpoint"
Which of the following sentences meant, A or B?

A. Contributor role is **recommended** for resource groups to the vault. So, there are other required minimum permissions.
B. Contributor role is **required** for resource groups to the vault.

If the sentence meant A, what are the required minimum permissions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2022-04-01 06:59] sharroy commented on #89323
This is still in debugging phase to understand and replicate the exact user issue.  ETA is 04/08.

From: Zeeshaan Ali ***@***.***>
Sent: Friday, April 1, 2022 12:09 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Sharmistha Roy ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Certification Test Tool doesn't work for Azure Server 2019 gen 2 even after adding port 5986 (Is

[2022-04-01 07:05] AnuragSharma-MSFT commented on #90854
@AparnaJid Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-04-01 07:36] SadiqhAhmed-MSFT commented on #90855
@tksh164 Thank you for your post. We will look into this and get back to you shortly.

[2022-04-01 07:39] swupdiedoowap commented on #86527
Hey @bmansheim, it it not clear from the documentation that you need the "ASC": true in order to get your policy set in security center. I would highlight that part to make it clear that the metadata is a requirement.

[2022-04-01 08:07] yurinaito opened #90856 "There is still a statement that Automatic VM guest patching is a preview."
The below statement of the document still states that the automatic VM guest patch is a preview.
Could you please correct the content?

https://docs.microsoft.com/en-us/azure/automation/update-management/overview
"If you are interested in automatically assessing and updating your Azure virtual machines to maintain security compliance with Critical and Security updates released each month, review [

[2022-04-01 08:23] SumanthMarigowda commented on #90611
@ravkash Firstly, apologies for the delay in responding here! Your feedback has been shared with the content owner for further review.

[2022-04-01 08:27] SumanthMarigowda commented on #90638
@AldoSaucedo
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-01 08:27] #90638 closed

[2022-04-01 08:28] SumanthMarigowda commented on #90682
@RudyEvers Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-01 08:28] SumanthMarigowda commented on #90766
@IsaacRoitman The PR has been initiated We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-01 08:28] #90766 closed

[2022-04-01 08:30] jdoblams opened #90857 "Mount CIFS on Linux Pool with Domain User"
When you are trying to mount a CIFS/SMB volume on Linux node pool:

The value for "Username" should only be for the Username and cannot include the domain name.
If your Username is a domain user, you need to include the domain option under the "MountOptions"

This should be something like:

new PoolAddParameter
{
    Id = poolId,
    MountConfiguration = new[]
    {
        new MountConfiguration

[2022-04-01 08:38] imeya opened #90859 "what does this mean of "Azure App Service is a multi-tenant service"?"
In the [document](https://docs.microsoft.com/en-us/azure/app-service/overview-inbound-outbound-ips), first line:

Azure App Service is a multi-tenant service, except forApp Service Environments.

what does it mean about "Azure App Service is a multi-tenant service"? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-04-01 08:51] ricowang-msft opened #90860 "Petition to add `--writeConcern="{w:0}"` argument to `mongorestore` usage example"
The sample usage of `mongoimport` includes the flag `--writeConcern="{w:0}"`, but not in `mongorestore`.

It would be great to add the same to `mongorestore` for consistency and avoid confusion, since Cosmos DB always effectively uses a write concern of majority anyways.

It would also be worthwhile to address the behavior discrepancies in different mongo tool versions.

## version
[code]
## outpu

[2022-04-01 09:00] SnehaAgrawal-MSFT commented on #90859
@imeya Thanks for the question! We are investigating and will update you shortly.

[2022-04-01 09:09] SwathiDhanwada-MSFT commented on #90856
@yurinaito Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-04-01 09:09] #90856 closed

[2022-04-01 09:12] SwathiDhanwada-MSFT commented on #90807
@BhagyaShree044 Thanks for your feedback.

Assigning to content author @sideeksh for review.

[2022-04-01 10:00] ram-msft commented on #90853
@hengv Thanks for the question. We are investigating the issue and will update you shortly.

[2022-04-01 10:05] AnuragSharma-MSFT commented on #90860
@ricowang-msft Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-01 11:02] lborba opened #90862 "Info on bootstraping for user secrets is wrong?"
This information seems to be wrong, in order to read user secrets we still need to provide the IConfiguration instance (I'm using Microsoft.ApplicationInsights.AspNetCore 2.20 here), it isn't reading automatically from the application.

![image](https://user-images.githubusercontent.com/2977979/161250509-d931c261-1c1c-4c88-bedc-b27accf93129.png)

This code block reads from the user secrets:

[code

[2022-04-01 11:29] slavizh commented on #90377
I work for CSP so If I have to open a support ticket for every customer and Load balancer will be too much for me. Additionally I have bad experience with Azure support. I have diagnostic settings deployed with those log categories for both LBs with Basic and Standard SKU. Not only you have not issued official announcement on this but also if you see those configured in the portal you do not have

[2022-04-01 11:29] epuio opened #90863 "Missing explanation of client_id in scope parameter"
The example request to the /authorize endpoint includes the client_id in the scope. However, the scope row of the table explaining the /authorize request parameters does not mention that the client_id is required in the in order for B2C to return an access token from the /token endpoint. This is essential information and can only be found on a couple of message boards in answer to questions about

[2022-04-01 11:45] anbhar opened #90864 "Missing Example"
How would someone translate HTML using this sample? Serializing html text throws an error.. Why isn't there a complete sample that covers a real-world scenario?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fa12ff-87c9-ecc0-929b-055b1b7e1a86
* Version Independent ID: 1351b31b-04b6-2e8b-8f03-adb7aa74f6ad
*

[2022-04-01 12:15] SwathiDhanwada-MSFT commented on #90862
@lborba Thanks for your feedback.

Assigning to content author @AaronMaxwell  for review.

[2022-04-01 12:26] dvescovi1 opened #90866 "This page needs more info on debugging"
Really need more info on debugging and how to set up for interactive debugging, setting break points etc.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4cdb69f-46f8-26c2-0518-b3816ed287ec
* Version Independent ID: fd679e7b-0da6-0d67-9ed5-ce4b19636f6e
* Content: [Tutorial - Develop module for Lin

[2022-04-01 13:03] RohitMungi-MSFT commented on #90864
@anbhar Thanks for the question. For translating a HTML type document it is recommended to use the [document translator](https://docs.microsoft.com/en-in/azure/cognitive-services/translator/document-translation/overview) which supports HTML.

This [quickstart](https://docs.microsoft.com/en-in/azure/cognitive-services/translator/document-translation/get-started-with-document-translation?tabs=csharp

[2022-04-01 13:14] RudyEvers commented on #90682
Thanks for you response Sumanth. Hoping to hear from the content author soon.

[2022-04-01 13:24] drdamour opened #90867 "Are AzAD accounts requiring MFA supported?"
I would like this doc to make it clear if AzAD accounts that require MFA are supported for the az cli and powershell methods.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c0b8c1d-41ff-f7ab-bc23-72a48fc46e1e
* Version Independent ID: dfb8cad9-6233-f97f-c849-1820ad642c7c
* Content: [Export a database to a BACPAC file

[2022-04-01 13:27] henrymbuguakiarie commented on #88081
Hello, @graviaDaemon, thanks for reaching out.

MSAL.js v1.0 provides a **logout** method. MSAL.js v2.0 improves on MSAL.js 1.0 by supporting the authorization code flow in the browser.

MSAL.js v2.0 provides both the **logoutRedirect** and **logoutPopup** methods.

If you're using MSAL.js v2.0, I recommend using the **logoutRedirect** and **logoutPopup** methods. The rest of the signOut function

[2022-04-01 13:33] twimmers commented on #90764
I've updated the Atlassian Cloud doc to reflect this change
#please-close

[2022-04-01 13:33] #90764 closed

[2022-04-01 13:34] thommck opened #90869 "Inaccurate license info"
This says you only need AAD P1 for all CA features (except risk-based Identity Protection) but to use Session App Controls I believe you would also need Defender for Cloud Apps licences (not covered by AAD P1) as explained on this other page https://docs.microsoft.com/en-us/defender-cloud-apps/proxy-deployment-aad

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-04-01 13:36] fblampe commented on #76519
The linked doc now mentions `"taskSlotsPerNode": 1,` again, which still does not work.
https://github.com/Azure/azure-batch-cli-extensions/issues/132 has not changed since this issue was closed.
Can someone please provide a working sample template that will configure taskSlotsPerNode?

Tested with
azure-cli 2.34.1
azure-batch-cli-extensions 6.0.0

[2022-04-01 13:36] EmiFlo opened #90870 "Alternate email for PIM notifications"
Hello,
Do we have a way to use the alternate email in user profiles for communications sent  by PIM ?
Thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5a932ce-6046-f6a9-9b85-188c8530174c
* Version Independent ID: 196cb921-fbf8-6819-e0e2-8cd03fda4505
* Content: [Email notifications in Privileged Identity Managem

[2022-04-01 13:44] SwathiDhanwada-MSFT commented on #90833
Assigning to content author @timwarner-msft for review.

[2022-04-01 13:44] KyferEz opened #90872 "Doc does not cover config required for Validating Server Cert"
If one checks the option to validate the server cert, they will receive an error "Cannot load trust store".

After much research, it was found that PostgreSQL does not use Windows Trust store, per docs here: https://www.postgresql.org/docs/current/libpq-ssl.html

Thus it was necessary to make these config changes in PostgreSQL and ADF to have Full SSL Verification via the ODBC connection on the Se

[2022-04-01 13:53] drdamour opened #90873 "Article should state these aren't available if enableding AD only authentication"
https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-azure-ad-only-authentication states this feature is not available when ad only auth is enabled, this article should make that clear as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dd9844a-e745-1c83-cd95-2dd5ebd23d2d
* Version Independent

[2022-04-01 14:16] steviewake commented on #90849
Thank you Priyanka.

[2022-04-01 14:17] Trevor-NetApp opened #90874 "Powershell scripts are broken"
The powershell scripts for these commands are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a8470c7-57d1-e2ec-cc70-a43c8dfc42d6
* Version Independent ID: 2da6432e-e642-10ae-199c-9ebb1e19a5d8
* Content: [Create PowerShell runbook using managed identity in Azure Automation](https://docs.microsoft.com/en-us/azur

[2022-04-01 14:30] tigormanmsft commented on #89186
The overall flow of the doc page is different, but the flow is still confusing when explaining restore and recovery.

We want to show customers a clear flow of the most basic use-case:  restore an entire VM, including database recovery.

Is it possible to have a clear flow from start to finish for "restore a VM" including explanations about database recovery, while keeping the ancillary bits about

[2022-04-01 14:39] GeethaThatipatri-MSFT commented on #90873
Hi, @drdamour Thanks for your findings, We will look into it and update you shortly.

[2022-04-01 15:00] KSchlobohm opened #90875 "Connecting to SQL should use new Microsoft.Sql.Client"
The new Microsoft.Sql.Client library handles retrieving the token from the endpoint.

https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authentication?view=sql-server-ver15#using-active-directory-default-authentication

https://github.com/dotnet/SqlClient/pull/730

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-04-01 15:03] KSchlobohm opened #90876 "Connecting to SQL should use new Microsoft.Sql.Client"
The new Microsoft.Sql.Client library handles retrieving the token from the endpoint.

https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authentication?view=sql-server-ver15#using-active-directory-default-authentication

https://github.com/dotnet/SqlClient/pull/730

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-04-01 15:05] KSchlobohm opened #90877 "Connecting to SQL should use new Microsoft.Sql.Client"
The new Microsoft.Sql.Client library handles retrieving the token from the endpoint.

https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authentication?view=sql-server-ver15#using-active-directory-default-authentication

https://github.com/dotnet/SqlClient/pull/730

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-04-01 15:05] FrankGlez opened #90878 "Least privilige"
The deployment guide says that in order to allow start/stop on multiple subscriptions we should assign the contributor role to the FunctionApp.
Contributor seems to be a very broad set of permissions for something that is just turning a VM off/on.
Is there a more targeted level of permissions that we can use?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-04-01 15:23] stowen-msft opened #90879 "Deployments are removed as we approach 800...but not for WhatIfDeployments!"
Hi!  I have noticed that with new WhatIf deployments, these do not seem to trigger the deployment quota history pruning mechanism like ResourceGroup or SubscriptionGroup deployments.

Is this a known issue?  If so...is it on the backlog to be fixed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60ad5f15-1f46-a0a2-604f

[2022-04-01 15:24] JamesTran-MSFT commented on #90875
@KSchlobohm
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-01 15:25] JamesTran-MSFT commented on #90870
@EmiFlo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-01 15:25] JamesTran-MSFT commented on #90869
@thommck
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-01 15:28] dominikhron commented on #90729
I've done some more testing to compare results within the data factory. See below.

Azure Data Factory V2 located in West Europe
![image](https://user-images.githubusercontent.com/85935826/161294602-ecd1e9a6-4421-4261-9ced-c8c801de4f2b.png)

I made a group of derived columns **using currentUTC and the fromUTC function, which should also be using the current timezone** by default according to docum

[2022-04-01 15:39] ezYakaEagle442 opened #90881 "Please provide CLI/Bicep templates for the DNS-Link with Private DNZ-Zone"
The doc only shows how to implement the DNS-Link from the portal, it would help the users to provide a CLI snippet and also a Bicep Template.

Also setting '*' in the record-set name looks far too much, why not just 2 records :

- one for the actual endpoint, say for instance "asc-petcliasc"
- another one for the test endpoints say for instance "asc-petcliasc.test"

Here is my CLI snippet, I will

[2022-04-01 15:39] jeffpatt24 commented on #75338
This error was added to the Tiering errors table: https://docs.microsoft.com/en-us/azure/storage/file-sync/file-sync-troubleshoot?tabs=portal1%2Cazure-portal#tiering-errors-and-remediation

[2022-04-01 15:39] jeffpatt24 commented on #75338
#please-close

[2022-04-01 15:39] #75338 closed

[2022-04-01 15:42] jeffpatt24 commented on #75496
Closing this old PR. Some of the feedback was already addressed in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/171034

[2022-04-01 15:44] jeffpatt24 commented on #75496
Please open a new PR for any outstanding changes.

[2022-04-01 15:45] jeffpatt24 commented on #75496
#please-close

[2022-04-01 15:45] #75496 closed

[2022-04-01 15:46] jeffpatt24 commented on #78612
Closing this old PR. Feedback was already addressed in other PRs. Please open a new PR for any content updates needed.

[2022-04-01 15:47] jeffpatt24 commented on #78612
#please-close

[2022-04-01 15:47] #78612 closed

[2022-04-01 15:47] CedricSteenbeke commented on #87967
@AnuragSharma-MSFT any update on this?

[2022-04-01 15:47] PaulGarnerUk opened #90882 "How to localize the UserHelpText when customising password validation."
This page is great at explaining the basics, but how can the text be localized?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e08541b0-1458-2764-0a1c-d78301c01e93
* Version Independent ID: 421d276b-2f52-5372-5978-124b77b162cc
* Content: [Predicates and PredicateValidations - Azure AD B2C](https://docs.microsoft.com/en

[2022-04-01 15:54] jeffpatt24 commented on #79045
#please-close

[2022-04-01 15:54] #79045 closed

[2022-04-01 15:54] PaulGarnerUk commented on #90882
Oof never mind. Found it on this page. Thanks!
https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization#predicate

[2022-04-01 15:54] #90882 closed

[2022-04-01 15:57] kaheamartin opened #90883 "Include information regarding outbound traffic while the instance is configured with private access"
Correct me if I'm wrong, but I couldn't find any documentation confirming whether or not the Flexible server uses the vnet for outbound traffic or not while configured with vnet integration.

Some context for explanation: I wanted to set up data-in replication from an AWS RDS instance to an Azure MySQL instance over a site-to-site VPN. With the Single server instance, traffic from the instance (ev

[2022-04-01 15:58] erik-ha-msft commented on #90739
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-04-01 15:58] #90739 closed

[2022-04-01 16:07] GeethaThatipatri-MSFT commented on #90883
Hi, @kaheamartin Thanks for reaching out, We will Investigate and update you shortly.

[2022-04-01 16:16] AndreasWolter commented on #90873
@VanMSFT could you clarify with mireks? In short: As we now have AAD Logins in Preview, the server roles are indeed supported - but not if the Login is an AAD Group

[2022-04-01 16:23] PriyankaRudramaina commented on #90857
Hello @jdoblams,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-01 16:25] AshokPeddakotla-MSFT commented on #90547
@AryanSood3003 Not sure if the sample works with different sensor. As the package installation includes Azure IoT device SDK, BME280 Sensor library, and Wiring Pi library.

This would require further troubleshooting to find out the root cause. Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, do let us know.

[2022-04-01 16:31] arnaudhelin opened #90886 "Unable to purge or recover soft-deleted Azure Workspace"
Hi,

Issue:

When we tried to purge a stale workspace in the Azure Log Analytic Workspace recycle bin, we are stuck because Azure shows us this message : "Restore-AzOperationalInsightsWorkspace: 'workspaceName' does not match expected pattern '^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$'."

Context:

The object we have in the recycle bin : _p-frc-itr-log_48497750-C2A1-46AB-A288-EC08A15F525E_
The cmdlet

[2022-04-01 16:34] jdogtech opened #90887 "Unclear about base image for incremental snapshots"
This document was very good and after reading it, I am trying to implement a backup plan to take a baseline snapshot, then daily incremental snapshots thereafter and restart the process every month.

Is the first snapshot taken with the -Incremental parameter (in the config) the full baseline?  Each subsequent incremental snapshot must have a unique name from what I can tell.  So what happens if t

[2022-04-01 16:37] mepand commented on #90595
[SSB.txt](https://github.com/MicrosoftDocs/azure-docs/files/8399494/SSB.txt)
Please find the attached sample to modify an existing policy. Let us know if this works for you.

[2022-04-01 16:40] HitenBhavsarMSFT opened #90888 "Add Note: Existing Private DNS Zone can not use with new PostgreSQL Flex Server"
Add Note: Exiting Private DNS Zone Cannot use for the Flex Server.

Customer wanted to create Flex Server on the Exiting Private DNS Zone using Portal, but drop-down does now show  DNS Zone.

Test in the lab
![image](https://user-images.githubusercontent.com/72768193/161305932-522ee917-9e75-497f-86d7-d4dba9f56c9a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-04-01 16:49] b-hchen commented on #90611
#assign: @b-ahibbard

[2022-04-01 16:52] gomateus opened #90889 "Mapping of TU and Partitions - Where is this mentioned?"
[Enter feedback here]

When testing EH performance (both standard & premium) I have a few queries regarding the maximum throughput per partition. I was under the assumption that the namespace is limited to the number of TUs defined by the customer and that each partition can only achieve the maximum of 1 throughput, however according to our documentation we don't have a throughput limit on the par

[2022-04-01 16:54] GeethaThatipatri-MSFT commented on #90888
Hi @HitenBhavsarMSFT Thanks for reaching out, We will Investigate and update you shortly.

[2022-04-01 17:07] penenkel opened #90890 "Clarification required: Is this about pinning to a zone or spanning multiple zones?"
Is this feature about (A) pinning a container (group) to a specific zone OR (B) about a container spanning multiple zones?

The documentation, the corresponding field in ARM and the option in the Azure Portal are all equally vague and conflicting:

The Azure Portal calls the option `Availability zones` with the values `None, 1, 2, 3` and the explanation text

To me that sounds like (B). One contai

[2022-04-01 17:09] spelluru commented on #90205
@vvamaraju - Thanks for submitting the issue. I have updated the article, which will go live around 3 PM PST. Thanks.

Here are the configurations that are not replicated:

•	VNET configurations
•	Private Endpoint Connections
•	All networks access enabled
•	Trusted service access enabled
•	Public network access
•	Identities and Encryption settings ( BYOK encryption) also known as CMK encryption
•

[2022-04-01 17:09] spelluru commented on #90205
#please-close

[2022-04-01 17:09] #90205 closed

[2022-04-01 17:10] VanMSFT commented on #90873
#assign:VanMSFT

[2022-04-01 17:20] #90873 closed

[2022-04-01 17:24] jayallenmsft opened #90891 "Client credentials on Azure Functions docs?"
Hi,

This is the first doc I get in Bing when I search for "azure functions client credentials authentication". However, neither this nor any other doc give me a clear, precise explanation on how to implement OAuth 2.0 client credentials (service to service) workflow for Azure Functions.

Can we get a doc for this? It's surprisingly finicky and the change in the auth UI on the Azure Portal makes i

[2022-04-01 17:25] fei0x opened #90892 "How to manage all the client certs?"
Is there a recommended way to manage all these client certs that we need to make? From what I can tell, I'm supposed to manage this all in a spreadsheet or something, and that doesn't sound like a very robust solution when we're talking security. I've looked at the Azure Key Vault and that doesn't help me create these kinds of certificates either.

---
#### Document Details

⚠ *Do not edit this se

[2022-04-01 17:34] RyanHill-MSFT commented on #90689
Hi @rocketmonkeys, I confirmed portal initially sets `redirectToProvider` to the selected provider as well. I reach out to see if this is a requirement or not but the safe thing to do is set `redirectToProvider` to the `identityProviders` you elected.

[2022-04-01 17:49] larrywa commented on #90352
It took a few days to get back to this.

My connection string has exactly, and only what you show below.

    <add name="MyDbConnection" connectionString="Server=tcp:<servername>.database.windows.net; Database=DotNetAppSqlDb_db;" />

In the doc, it says this is all I need, but clearly it is not because the error message I get says I need to put in the providerName.

What I did next is put into the

[2022-04-01 17:49] robsanf opened #90893 "Usage Details API supports cost allocation, doc states it does not"
The doc states that data exposed by the Usage Details API is not supported by the Cost Allocation preview under the Current Limitations section. However, this API does support Cost Allocation, as this functionality was added in May 2021. The API returns properties.CostAllocationRuleName as stated in the Usage Details API doc.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-04-01 17:50] PriyankaRudramaina commented on #90890
Hello @penenkel,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-01 17:55] fgheysels commented on #74145
I'm not saying I want to specify th e principal id when using a system assigned identity.  That would beat the whole idea of a system assigned identity, isn't it ?

I want to create a SignalR resource and specify that it should be given a system assigned identity.   Then, once the SignalR resource is created, I'd like to retrieve the principal ID that was generated for that SignalR resource.
I hav

[2022-04-01 18:41] erishiamu opened #90894 "'Windows 10 or newer devices that are either Azure AD joined or hybrid Azure AD joined are active on the network.' is ambiguous"
Which network? Is this reliant on intranet connectivity or will internet access be enough for the timestamp to update? If its intranet, how is it making this determination?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8e93b0-2d8b-68c0-62ee-be44831b1557
* Version Independent ID: b55939f9-e552-9818-80b7-535601d4bc7b

[2022-04-01 18:48] erik-ha-msft commented on #90842
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-04-01 18:48] #90842 closed

[2022-04-01 18:55] srinipradhu commented on #49697
Hi Martin,

Can you help me with syntax for dataset which u using..i am following the same mention in zip however it throwing error.

![image](https://user-images.githubusercontent.com/67188549/161324758-ac4a0c40-9835-46b8-95c6-cfed3d2bc646.png)

[2022-04-01 18:58] KranthiPakala-MSFT commented on #90872
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@jianleishen Could you please review the above feedback and help improve the doc content accordingly.

Thank you

[2022-04-01 18:58] vijayakrishnar commented on #90844
this is document i am referring to configure: https://docs.microsoft.com/en-us/azure/aks/use-managed-identity

[2022-04-01 18:59] willfiddes opened #90896 "Deleted users also appear in inactive report"
Please update FAQ that deleted users are expected to appear in this report. There is confusion on whether or not this is expected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e0a0671-953a-7797-6e0c-6616420f4c3b
* Version Independent ID: a2de95d1-67b2-bcc6-402f-f5d23c53d13a
* Content: [How to manage inactive user ac

[2022-04-01 19:00] KranthiPakala-MSFT commented on #90889
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@spelluru - Could you please review the above feedback and help loop the relevant feature owner to provide the requested info and also enhance the doc content accordingly. - Thank you

[2022-04-01 19:02] MarileeTurscak-MSFT commented on #90896
@willfiddes
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-01 19:25] tomnolan opened #90900 "Pre and post sql script documentation is outdated"
The screenshot for the pre/post sql script in the sink transformation section is outdated and is lacking documentation about the options that are currently available. The latest allows for a list of scripts or a custom expression for each of these options. You can even see these options in the error row handling section just below.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-04-01 19:28] KranthiPakala-MSFT commented on #90609
We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-01 19:29] jbreitman commented on #22380
Please share the solution.
I am having the same issue where Azure is not returning the refresh_token which is required by mod_auth_openidc.

[2022-04-01 19:33] spelluru commented on #90889
@kasun04 - could you please review and respond when you get a chance? Thanks!

[2022-04-01 19:36] MarileeTurscak-MSFT commented on #90896
Thanks @willfiddes ! I made a pull request to update the guide. https://github.com/MicrosoftDocs/azure-docs-pr/pull/193753

@MarkusVi

[2022-04-01 19:36] #90896 closed

[2022-04-01 20:30] mimckitt commented on #62147
Pushing fix shortly. Will be live by EOD.

#please-close

[2022-04-01 20:30] #62147 closed

[2022-04-01 20:31] FMJim opened #90903 "authentication failure in tutorial"
I am working through this tutorial and when I get to the 3rd cell in step 3, I get this error on the line
df = spark.read.parquet(wasbs_path)

shaded.databricks.org.apache.hadoop.fs.azure.AzureException: hadoop_azure_shaded.com.microsoft.azure.storage.StorageException: Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature

[2022-04-01 20:35] FMJim commented on #90903
Note, using the instructions [here](https://docs.microsoft.com/en-us/azure/open-datasets/dataset-seattle-safety?tabs=pyspark), I am able to access the data set.

[2022-04-01 21:51] JamesTran-MSFT commented on #90836
@TLKG
Thank you for your time and patience throughout this issue!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A foru

[2022-04-01 21:51] #90836 closed

[2022-04-01 21:51] JamesTran-MSFT commented on #90839
@TLKG
Thank you for your time and patience throughout this issue!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A foru

[2022-04-01 21:51] #90839 closed

[2022-04-01 21:52] JamesTran-MSFT commented on #90894
@erishiamu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-01 22:08] jbreitman commented on #22380
I found articles that mentioned the offline_access scope being related to the refresh_token attribute.
The process now works as expected after adding the offline_access scope to OIDCScope in Apache and adding offline_access to the Microsoft Graph API in Azure.

[2022-04-01 22:13] drdamour commented on #90873
@VanMSFT change to https://docs.microsoft.com/en-us/azure/azure-sql/database/authentication-azure-ad-only-authentication but seems like the article this issue was opened on still could use some info about the limitation.

[2022-04-01 22:34] TLKG commented on #90836
@JamesTran-MSFT Disagree. Instruction does not produce the expected result.

[2022-04-01 22:42] SatishBoddu-MSFT commented on #90631
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-04-01 22:42] #90631 closed

[2022-04-01 22:58] flang-msft commented on #80981
@TrivialK - Thanks for your feedback on the documents. We removed the reference to _non-strong-named StackExchange.Redis_.
Sorry to take so long to respond. Hope this closes the issue. If not, feel free to respond and I will re-open it.

#please-close