[2019-09-24 22:40] yashesvi commented on #39440
The reservation will automatically apply to the new machine as long as its the same type and same region. OS version doesnt matter.

[2019-09-24 22:42] Alberto-Vega-MSFT commented on #39472
@markrad Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-24 22:43] markjbrown commented on #30853
It's the latter. We're fixing the broken behavior and implementing it such that redeploying the same template with new throughput will update the throughput for the resource.

Thanks.

[2019-09-24 22:45] djpmsft commented on #30153
Closing GH issue due to inactivity. Please reopen if this is still valid!

[2019-09-24 22:46] djpmsft commented on #35380
Closing issue. If you are still facing issues or want a follow-up, feel free to reopen #please-close

[2019-09-24 22:46] #35380 closed

[2019-09-24 22:47] YutongTie-MSFT commented on #35553
@rajatb94 @ekurutepe Hi Rajat and Engin, I am very sorry for the delay. I have reached out to the author again for confirming and it will be updated later. Thanks a lot and sorry for all inconveniences.

[2019-09-24 22:51] jomolesk commented on #39473
Thank you for the feedback. This blueprint sample uses Azure Policy to access specific properties for specific Azure resource types (https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#aliases). We are evaluating coverage for additional properties for additional Azure resource types (e.g., Azure Active Directory) -- if you have feedback on specific resource *prop

[2019-09-24 22:53] mmacy commented on #39202
#in-progress

[2019-09-24 23:01] femsulu commented on #39440
@Sethu2488
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-24 23:01] #39440 closed

[2019-09-24 23:02] femsulu commented on #39279
@Robbiem06  We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-24 23:02] #39279 closed

[2019-09-24 23:08] KranthiPakala-MSFT commented on #39114
Hi @sidk25,  _Error Code -_ _LinkedInvalidPropertyId_ : The resource ID for a resource isn't resolving correctly. Check that you provide all required values for the resource ID, including subscription ID, resource group name, resource type, parent resource name (if needed), and resource name.

Please refer to this doc: [Troubleshoot common Azure deployment errors with Azure Resource Manager](https

[2019-09-24 23:11] nelsonmorais commented on #33735
Hi @udlose,

I had the same question, and unfortunately I guess the answer is 'yes'

[2019-09-24 23:21] Karishma-Tiwari-MSFT commented on #39395
You are right. The role creation part is missing from this doc.
Please refer to this doc for steps to create roles before cluster role binding:
https://docs.microsoft.com/en-us/azure/aks/azure-ad-rbac#create-demo-groups-in-azure-ad

[2019-09-24 23:26] #39202 closed

[2019-09-24 23:27] Mike-Ubezzi-MSFT commented on #39481
@ctoph13 Thank you for bringing this to our attention. The best course of action is to reach out to the Product Group directly at [AskCosmosDB](mailto:askcosmosdb@microsoft.com). In my investigation, [Unique Keys](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-define-unique-keys) are not exposed via the REST API as they augment the defined Partition Key for a given collection and are part

[2019-09-24 23:30] mmacy commented on #39202
Hi @crixo, I have an update to this article on the way, but I suspect it was functional prior to this new update.

Can you confirm that you've updated your Facebook policy key with the App Secret from the application you created on developers.facebook.com? It's referenced in this section of the current article:

In the current version of the article, once you get down to the **Add Facebook as an i

[2019-09-24 23:31] stephbaron commented on #39197
We think we've identified the issue and will be preparing a fix. The proper value is "In Progress". I do not have a firm ETA at this point, but it should be near term.

[2019-09-24 23:36] Adam-Smith-MSFT commented on #39455
@arorasam Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-24 23:39] femsulu commented on #39197
Thanks @stephbaron. would appreciate if you can post an update on here once the fix is released.
@artisticcheese
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-24 23:39] #39197 closed

[2019-09-24 23:42] AtOMiCNebula opened #39483 "TelemetryConfiguration cannot be loaded from DI in certain circumstances"
Per azure/azure-functions-host#4952, the `TelemetryConfiguration` type cannot be loaded via dependency injection in all circumstances due to a bug in the functions host itself (this is not the same as assembly version mismatch).  My specific scenario is that I'm using a function.deps.json with my Functions project, which causes the bug to appear.

Please update the documentation in the "Log custom

[2019-09-24 23:52] MarileeTurscak-MSFT commented on #39376
Hi @jaypatrick ,

I've reached out to someone on the product team to ask about this as I am not certain how it will work.

[2019-09-25 00:05] MarileeTurscak-MSFT commented on #39433
Identity Protection evaluates both interactive and non-interactive sign-ins, which is why you will sometimes see a risk detection without a corresponding sign-in entry in the sign-ins report. So you would need to look in the Identity Protection Risk Events Report.

In addition, to make sure that the users don't have access within their sessions, you would probably want to create a conditional acce

[2019-09-25 00:12] MarileeTurscak-MSFT commented on #39478
@PS-MikeM
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-25 00:28] mike-urnun-msft commented on #39483
Hi @AtOMiCNebula - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-09-25 00:29] MedAnd opened #39485 "Clarification if Managed Service Identity needs to be enabled on the Service Fabric VMSS as a pre-requsite & where PrincipalId values comes from"
Given Azure Service Fabric clusters are hosted on Virtual Machine Scale Sets, which support Managed Service Identity, please clarify if Managed Service Identity needs to be enabled on the Service Fabric VMSS as a pre-requsite for System Assigned Identity?

For example clarify the steps for where the PrincipalId value in below ApplicationManifest.xml section comes from:

![image](https://user-image

[2019-09-25 00:46] leeprtc commented on #39404
I set up a brand new environment from scratch and could not repro. Since I can't repro it, I'm closing this issue.

I already closed the VS Code where I first ran into the issue so lost the error message/log. For what it is worth, I was running on Windows 10 Pro 1903 and Azure IoT Device Workbench 0.10.13.

[2019-09-25 00:46] #39404 closed

[2019-09-25 01:06] jusbeyer opened #39487 "Error code 50053 description update"
Failure Code 50053 in Azure AD sign in logs is showing with the message "Sign-in was blocked because it came from an IP address with malicious activity." not the account lockout message that is displayed above. Which is the correct description?

Also, if it is a block due to IP, does that indicate that a valid username+password combination was submitted?

---
#### Document Details

⚠ *Do not edit

[2019-09-25 01:15] TravisCragg-MSFT commented on #39480
@chriskuech Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-25 02:32] dhhuang commented on #33839
Thank you for your answers.

[2019-09-25 03:12] AhsanSAlam opened #39489 "Getting 403 even after adding Allowed Object ID"
I went through the steps listed here https://docs.microsoft.com/en-us/azure/healthcare-apis/register-service-azure-ad-client-app#feedback. I also added the application object ID in the allowed object ID for the FHIR API. But I keep getting 403. Any help would be helpful.

Thanks
Ahsan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-09-25 03:25] jmprieur commented on #33735
@udlose @nelsonmorais sorry, I need to update the doc. It's on my backlog (but I've even more urgent things)
The issue is that the class was renamed (based on feedback). It's now in https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/master/Microsoft.Identity.Web/Resource/AadIssuerValidator.cs

[2019-09-25 03:26] mpeters615 commented on #37739
Hi, i am still seeing the error above. Was there a fix deployed for this issue?

[2019-09-25 03:29] mpeters615 commented on #37739
@AshokPeddakotla-MSFT see above

[2019-09-25 03:32] snoodleboot opened #39490 "Secret References don't resolve"
Writing function in python:

Environment variables (app settings) are discoverable and resolve appropriately.

Secret references stored as app settings resolve to 'None'. Is the a current bug - has anyone else experience this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* V

[2019-09-25 03:55] KrishnaG-MSFT commented on #39473
@jomolesk Thanks for the response.

[2019-09-25 03:55] ctoph13 commented on #39481
I reached out to [AskCosmosDB](mailto:askcosmosdb@microsoft.com) as suggested and they provided me with a helpful answer:

using [DocumentDB Studio](https://github.com/mingaliu/DocumentDBStudio/releases/tag/0.72) you can click a collection to see the JSON that it's made up from. within this JSON is the `uniqueKeyPolicy` property that i needed to append to my JSON body within my request body on the

[2019-09-25 03:55] #39481 closed

[2019-09-25 03:59] KrishnaG-MSFT commented on #39464
@mmacy Thanks for the quick response.

[2019-09-25 04:09] jmprieur commented on #39441
@AhsanSAlam :
Thanks for your feeback and question, I realize that the article was missing an important reference to a Web API article: when you exposed your API, you need to follow the instructions from [Protected web API: App registration - If your web API is called by a daemon app](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-app-registration#if-you

[2019-09-25 04:10] jmprieur commented on #39441
cc: @rwike77 @TylerMSFT

[2019-09-25 04:10] palma21 commented on #39370
All questions are good, especially while learning :)
We're here to answer and assist

[2019-09-25 04:13] souravmishra-msft commented on #39474
@rhelm , Thank you for sharing the update. I will update the same to the content author and request them to remove the same.

[2019-09-25 04:17] jmprieur commented on #39441
PR Merged:  I've added this info:

![image](https://user-images.githubusercontent.com/13203188/65568963-de884000-df5b-11e9-98eb-54a8fd822d89.png)

Thanks again @AhsanSAlam for your question!

[2019-09-25 04:18] souravmishra-msft commented on #39470
@cap273 , Its correct, that for Azure AD Registered or Hybrid Azure AD joined machines, no SSO has to be rolled out separately, since these machines get a PRT (Primary Refresh Token) from AAD, once it is joined successfully with AAD. Now, based on this PRT, they get the SSO experience.
I will review the documentation as per your request and make the changes.

[2019-09-25 04:21] souravmishra-msft commented on #39487
@jusbeyer, Thank you for sharing the query. We are looking into this and would get back to you soon on this.

[2019-09-25 04:23] eugen-nw commented on #11951
Thanks, this looks like a good resource on how to authenticate https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-authenticating-service-fabric-rest-requests  And that was my original request, to show someone who’d not spent years in REST and has no coworkers who know REST how to go about getting things done.

[2019-09-25 04:26] hansenms commented on #39489
You need to add the object id of whatever entity is obtaining the token, so if you are obtaining the token on behalf of a user it is that users object id that needs to be added. Check your token using a tool like https://jwt.ms look for the `oid` claim in the token; it is that id that needs to be added to the list of allowed object ids.

[2019-09-25 04:32] souravmishra-msft commented on #39189
@MdAbidHussain-91, I believe the previous post helped you in understanding the flow. We are closing this thread as of now. Feel free to reopen this thread in case there are any more queries around this.

[2019-09-25 04:32] #39189 closed

[2019-09-25 04:48] SnehaAgrawal-MSFT commented on #39490
@snoodleboot Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-25 04:50] SwathiDhanwada-MSFT commented on #39182
At this point it appears that there's no edits or updates needed for the documentation. Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-09-25 04:50] #39182 closed

[2019-09-25 04:51] SwathiDhanwada-MSFT commented on #39190
Assigning @qianw211 and @JnHs  for inputs

[2019-09-25 04:58] tedway commented on #39407
If location is not specified, the default would be eastus.  For users who don't have quota and whitelisting in that region, then deployment will fail.  They will need to specify the region that they have quota for.  Please note that there should not be a space between the quotation marks.  It should be:

location = "southeastasia"

Please also specify that the values for location for now can only

[2019-09-25 05:12] zhenlan commented on #39310
@vikramdadwal the CLI import function does not support the feature flag currently. This is something we will be adding in the future. The key-values must follow these [conventions](https://github.com/Azure/AppConfiguration/blob/master/docs/FeatureManagement/readme.md) to be considered as feature flags and showed up in the feature manager blade in Azure portal. The only workaround I can think of no

[2019-09-25 05:18] #39358 closed

[2019-09-25 05:20] msrini-MSFT commented on #39468
@chelhernandez , Yes BGP is mandatory for Active-Active dual redundant connection.

It is mentioned in the documentation as well.

his topology will require two local network gateways and two connections to support the pair of on-premises VPN devices, and **BGP is required to allow the two connections to the same on-premises network.**

[2019-09-25 05:26] souravmishra-msft commented on #39249
@mw8er, Restricted claims cannot be added to Id tokens or access tokens.

We are closing this thread now. In case of any queries, please feel free to re-open this thread.

[2019-09-25 05:26] #39249 closed

[2019-09-25 05:28] linruhui commented on #31879
Can anybody share the latest status on this topic?

[2019-09-25 05:28] cycwll commented on #39343
@KrishnaG-MSFT
I enabled proxy at JVM level when start the Jenkins slave, and used curl command verify validity of proxy, it's OK. But the plugin can't work yet.

my pipeline is as follows:

[code]
error:
[code]

[2019-09-25 05:30] msrini-MSFT commented on #39460
@krisrajz , Do you have any update on this issue?

[2019-09-25 05:30] msrini-MSFT commented on #39413
@cogran , Do you have any update on this issue?

[2019-09-25 05:31] msrini-MSFT commented on #39394
@yushwang , Can you please validate and update the doc if necessary?

[2019-09-25 05:39] BhupalPatil commented on #39266
@KingdomOfEnds, its not letting me create a time series insights Ppreview environment. not able to locate what is the exact difference between Time Series Insights Preview and GA? what is the cost impact if we go with Preview and what is missing/available compare to TSI GA version.

[2019-09-25 05:52] evmoreno opened #39493 "main.py Line 10 'from azure.iot.device import IoTHubModuleClient, Message' Error Unable to import 'azure.iot.device'pylint(import-error)"
cameraCapture module fails to run on IoT-Ege

Line 10 'from azure.iot.device import IoTHubModuleClient, Message'
Error **Unable to import 'azure.iot.device'pylint(import-error)**

[2019-09-25 05:54] shashishailaj commented on #39456
@TiloGit Thank you for your query. We will investigate and update this thread accordingly.

[2019-09-25 06:00] dcbrown16 commented on #38691
@msrini-MSFT sorry, can I also confirm regarding outbound traffic? Will outbound to AzureCloud service tag fulfill the outbound requirements for the AppGW subnet NSG?
If the answer is yes, I strongly think we should update the doc to add that info in the inbound and outbound explanations.

[2019-09-25 06:07] dcbrown16 opened #39494 "Rewrite section"
"In the Key Vault Status page, click Key Vault Repository to create a new vault or choose an existing vault. If you choose to create a new vault, use the following table to help you configure the vault and click Create. see to create new Key Vault inside same subscription and resource group."
Hi @cephalin, I'm not sure what happened with this section but it's missing some links or half a sentence

[2019-09-25 06:10] ram-msft commented on #39443
@bsohi Thanks for the question. Could you please help with the document link.

[2019-09-25 06:13] SnehaGunda commented on #38028
@baumatron Currently Cosmos DB doesn't yet support getting execution metrics for MongoDB requests. This feature is in our backlog. Please open a feature support request on [uservoice](https://feedback.azure.com/forums/263030-azure-cosmos-db) and we will update  the request as soon as the feature is available.

We will close this issue if there aren't any further questions.

#please-close

[2019-09-25 06:13] #38028 closed

[2019-09-25 06:20] SadiqhAhmed-MSFT commented on #39307
@Murthy582 How are you passing the header ?
At present we do not have any issues and our monitors are reporting everything healthy.

[2019-09-25 06:20] ram-msft commented on #39454
@MrJakeReid Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-25 06:28] SnehaAgrawal-MSFT commented on #39466
@Nemeczek Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-25 06:29] SnehaAgrawal-MSFT commented on #39494
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-25 06:36] AshokPeddakotla-MSFT commented on #37739
@mpeters615 PR is not merged. I notified the reviewers.

[2019-09-25 06:37] GitTune commented on #39433
@MarileeTurscak-MSFT Thank you for the explenation, but that does not answer my question. Can you clarify when the learning process takes off?

[2019-09-25 06:40] kobulloc-MSFT commented on #39241
@MedAnd I reached out to the document author and got some clarification on "refresher":

Thank you again for your feedback.  We've added the request for usage samples in our documentation, and will add those as soon as we are able.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to c

[2019-09-25 06:40] #39241 closed

[2019-09-25 06:46] AshokPeddakotla-MSFT commented on #39156
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-25 06:46] #39156 closed

[2019-09-25 06:54] sysadmin-exe opened #39495 "please more explanation on hte solution provided here >>>> Point-to-site VPN incorrectly adds a route for 10.0.0.0/8 to the route table"
the solution provided under this subheading seems vague to me. please can i get a more detailed explanation. I understand the symptom and cause but not the solution.

thanks in advance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9befee3d-2d6b-4f48-dd2f-db1f6a0af383
* Version Independent ID: 8e44b3be-0f8d-c954-bb79-d

[2019-09-25 06:54] BhupalPatil commented on #39263
Thanks @KingdomOfEnds, I cant find the TSI Preview option to create on my subscription. it will be available only if I have PAYG subscription?

[2019-09-25 06:54] Murthy582 commented on #39307
Authorization: Bearer APITOKEN
Content-Type: application/json

[2019-09-25 07:15] MedAnd commented on #39241
Sounds like the content author is commenting on another issue? This was feedback to remove a compiler time warning but personally happy for that code to stay 😉

[2019-09-25 07:21] northtyphoon commented on #39250
@jjindrich  please update base image to `mcr.microsoft.com/dotnet/core/aspnet:2.1-nanoserver-1809`, 1809 build version is "10.0.17763" which is supported by ACI.
https://hub.docker.com/_/microsoft-dotnet-core-aspnet

[2019-09-25 07:26] jjindrich commented on #39250
Yes, this workaround I can use. But Azure App Service requires Window2019. It doesn't make sense to update dockerfile for each Azure service. When ACR will use Windows2019 ?

[2019-09-25 07:37] sajayantony commented on #39250
@dlepow - Can you loop in someone from the ACI team since the deployment is failing since it sounds like missing support in **Container Instances.**

ACR supports both versions but the chosen default isn't compatible with ACI is my understanding.

@jjindrich - For windows containers the general guidance has been to use platform specific tags to avoid host and container runtime mismatch, this is al

[2019-09-25 07:37] northtyphoon commented on #39250
I guess what you mean by "Windows2019" is actually 1809. 1809 is the long-term servicing channel and supported by most Azure services.

https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility

[2019-09-25 07:42] northtyphoon commented on #39250
OK. I can confirm the version supported by App Service is 1809.

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-windows-container#use-a-different-parent-image

[2019-09-25 08:05] ducvu91 opened #39496 "can't finish Create a New SendGrid Account"
- [x] Create a New SendGrid Account
- [x] https://portal.azure.com/#create/Sendgrid.sendgrid
- [x] fill all, but in Review legal terms can't complete

![Screenshot_2](https://user-images.githubusercontent.com/19793530/65581579-ed93e000-dfa5-11e9-885b-5dcf186e9895.png)
![Screenshot_3](https://user-images.githubusercontent.com/19793530/65581580-ed93e000-dfa5-11e9-858a-3b3998bf170d.png)
---
#### Docu

[2019-09-25 08:06] DixitArora-MSFT commented on #39372
@manu4rhyme At present there is no official communication but yes from the documentation we already recommend the cautious use of it.

We recommend against setting runOnStartup to true in production. Using this setting makes code execute at highly unpredictable times. In certain production settings, these extra executions can result in significantly higher costs for apps hosted in Consumption plan

[2019-09-25 08:10] DixitArora-MSFT commented on #39371
@manu4rhyme Could you confirm you are not running on consumption plan. A TimeSpan can be used only for a function app that runs on an App Service Plan.

[2019-09-25 08:34] SnehaAgrawal-MSFT commented on #39490
@snoodleboot Thanks again for the question! Could you try restarting the app. Also try turning off then re-enabling system assigned managed identity. Let me know if issue persists.

[2019-09-25 08:37] slavizh commented on #39442
Yeah. It was not very clear which metric for which SKU is but there is nothing can be done more in this format of the document.

[2019-09-25 08:39] cycwll commented on #39343
Jenkins log

25-Sep-2019 16:37:20.042 INFO [Executor #-1 for master : executing New-Co-Test/test_slave_JVM_httpProxy #34] org.jenkins.plugins.statistics.gatherer.listeners.RunStatsListener.onStarted Started build and its status is : INPROGRESS and start time is : Wed Sep 25 16:37:20 CST 2019
25-Sep-2019 16:37:21.385 INFO [pool-1635-thread-1] com.microsoft.aad.adal4j.AuthenticationAuthority.doInsta

[2019-09-25 08:39] SLdragon commented on #39472
Hi, markrad, I tested the commands and link, all work fine. Maybe you are under proxy or your network has some issue. You can also check your nuget source whether contains official feed url.

[2019-09-25 08:40] MnvOo opened #39497 "Question regarding minimal operating range"
Hi!
thanks for the useful information on this page! I have a small question regarding the operating range:
my working range would be focused on structures in close proximity (i.e. 5-40 cm). The minimal working distance I read on this page is 25 cm right? But there seems to be some room to work outside the standard working range if I interpret the text correctly? What is the limiting factor for wor

[2019-09-25 08:41] jozsefkovacs opened #39498 "Alternate storage providers, missing example for Azure Service bus, host.json"
I'm glad that this feature is added to the Durable Framework, however, I fail to find a good sample code or sample host.json where the Service Bus is used as alternate storage. I'm keen to see how it looks, as it is not clear for me how Service Bus will be used. Perhaps only SB Queues for scheduling and Storage Account to keep the execution logs?

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sek

[2019-09-25 08:50] AshokPeddakotla-MSFT commented on #39493
@evmoreno Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-09-25 08:58] SychevIgor opened #39500 "Specify "Is Functions module on IoT Edge in a preview or GA""
Status of Azure Functions module for IoT Edge is unclear for me.
In this announcement MS didn't specify GA or preview, just available. https://azure.microsoft.com/en-ca/updates/azure-functions-2-0-available-in-iot-edge/

This document in notes stated- it's in preview, but if such - Preview should be not only in notes, but also in an article Title.
I've spend sometime with git blame and find that "

[2019-09-25 08:59] Murthy582 commented on #39307
I was trying GET request to https://consumption.azure.com/v3/enrollments/{myEnrollmentNumber}/billingperiods
which seems to be not available.
Other URLs like /usagedetails are working fine, though.
Is there any API to get list of billingperiods?

[2019-09-25 09:05] ashemedai opened #39501 "Troubleshooting card links to non-existing anchor"
The Azure NSG diagnosis and troubleshooter links to a non-existent anchor on this page.

It is being linked from a recommended steps card with the following text:

And this `NSG rules for load balancer endpoints` text links to https://docs.microsoft.com/en-gb/azure/virtual-network/virtual-network-vnet-plan-design-arm#load-balancers

Azure portal URL is of the form `https://portal.azure.com/<name>/

[2019-09-25 09:13] jeevansd commented on #39474
@rhelm Can you please follow the process stated here? https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-app-gallery-listing#updateremove-existing-listing

[2019-09-25 09:13] jeevansd commented on #39474
#please-close

[2019-09-25 09:13] #39474 closed

[2019-09-25 09:32] austvik opened #39502 "Where is the file placed in a container?"
This is mentioned: my-public-container/my-file.jpg

But the tutorials doesn't mention how they end up there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b32fbbf3-178d-a0ef-7c3a-87df74a8eb16
* Version Independent ID: 2475b34a-88e8-5b45-723d-ee0a62230b8a
* Content: [Tutorial - Add a custom domain to your Azure CDN end

[2019-09-25 09:42] SubhashVasarapu-MSFT commented on #39501
@ashemedai, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-25 09:43] SubhashVasarapu-MSFT commented on #39495
@sysadmin-exe, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-25 09:44] SubhashVasarapu-MSFT commented on #39502
@austvik, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-25 09:47] PramodValavala-MSFT commented on #39301
@IgorPietraszko Just following up here... Hope my previous comment helps.

[2019-09-25 09:48] Leejung168 opened #39503 "One internal and one public load balancer are allowed per availability set"
Hi @Doc Team,

Most of customers are trying to attach more LBs into one Availability Set, however it doesn't work, because "One internal and one public load balancer are allowed per Availability Set".

May I know if you could add this limitation on our official document? Which can avoid any further confusion.

Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-09-25 09:48] SubhashVasarapu-MSFT commented on #39334
@MartinJindrisek, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-25 09:48] #39334 closed

[2019-09-25 09:50] DreamRivulet commented on #16859
@hemapriyamaheswaran , you can try Azure LB annotation “service.beta.kubernetes.io/azure-load-balancer-mode”, see: https://github.com/kubernetes/cloud-provider-azure/tree/master/docs/services

[2019-09-25 09:55] calcobia opened #39504 "-h option is not recognized (at least not on Windows)"
In https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10#run-azcopy we find:
"To see a list of commands, type azcopy -h and then press the ENTER key."

At least on windows, "-h" is incorrect:
C:\Users\username&gt;"C:\Program Files (x86)\Microsoft SDKs\Azure\AzCopy\AzCopy.exe" -h
[2019-09-25 10:52:26][ERROR] The syntax of the command is incorrect. The option "-h" is not recog

[2019-09-25 09:56] AshokPeddakotla-MSFT commented on #39497
@MnvOo Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-25 09:57] AshokPeddakotla-MSFT commented on #39500
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-25 09:57] #39504 closed

[2019-09-25 09:58] calcobia commented on #39504
Was inadvertently using the old version of AzCopy: 8.1.0-netcore.

[2019-09-25 10:08] souravmishra-msft commented on #39456
@TiloGit, Can you be more specific in the ask, so that we can help you better?

[2019-09-25 10:18] SubhashVasarapu-MSFT commented on #39401
@svangeti, I am wondering if you had a chance to look over my previous reply. Please provide us with the document you are referring to for further assistance,

[2019-09-25 10:21] ram-msft commented on #39327
@rajapratapk thumbnail_urls not from PIL, You can define the thumbnail URLS as below.
 thumbnail_urls = [img["thumbnailUrl"] for img in search_results["value"][:16]]
![image](https://user-images.githubusercontent.com/49180516/65592344-0acbad00-dfac-11e9-9d69-43a7fbbd16ba.png)

[2019-09-25 10:30] ManojReddy-MSFT commented on #39354
@lonevvolf I tried with the host's file as per the doc and I was able to join my machine successfully to the domain.

I am assuming something else caused the issue in your scenario. Do you mind testing this again?

[2019-09-25 10:37] KrishnaG-MSFT commented on #39504
@calcobia Glad to know that you have self resolved the issue. Thanks for the update.

[2019-09-25 10:37] AshokPeddakotla-MSFT commented on #38597
Since Steve is working on the updates. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-25 10:45] shashishailaj commented on #39482
@Don-Fuego Thank you for pointing this out. We will have this reviewed and will update this thread accordingly.

[2019-09-25 10:46] LHTech-LHH commented on #7042
Once again, a heavy bias towards .Net and C#. As per usual, scrabbling about trying to find out how to get this to work. It would be nice to have a straightforward example which shows how to do this without having to faf about setting up Twitter accounts. The fact it took months and months even to provide this example shows that MS are prepared to commoditise Python but aren't prepared to fully su

[2019-09-25 11:10] PramodValavala-MSFT commented on #39498
@jozsefkovacs As the docs mention, only .NET Standard 2.0-compatible providers are supported. The Service Bus provider seems to have been updated to be .NET Standard as part of [this PR](https://github.com/Azure/durabletask/pull/203) and its [nuget has recently been published](https://www.nuget.org/packages/Microsoft.Azure.DurableTask.ServiceBus/2.1.3).

But I believe support for it hasn't been ad

[2019-09-25 11:16] PramodValavala-MSFT commented on #39429
@jrm346 Just following up here... Hope my previous comment clears things up.

[2019-09-25 11:26] nagasandeep commented on #39423
No, thats not what I meant. Here in the pre-copy script we are truncating the table.

Say there are two tables A and B, B references to a column in A, then the truncate of A fails due to foreign key constraint.

This approach will fail for the regular task of mirroring data when there are constraints.
Please provide a mechanism to enable/disable constraints in pre-copy script.

[2019-09-25 11:32] ManojReddy-MSFT commented on #39417
@Mark7even You will see the +Add option if you have enabled the "Allow users to request access to this application?"  for at least one application.

Try configuring it for at least one application and then you will see it on the home page.
![image](https://user-images.githubusercontent.com/44399320/65597205-3489d180-dfb6-11e9-9970-21a41b79d3f7.png)

[2019-09-25 11:38] jakaruna-MSFT commented on #39485
@MedAnd
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-25 11:49] nivebiju opened #39506 "Issue in CallActivityAsync"
CallActivityAsync method asks for two parameters But, in the Function chaining example, I could see only one parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b934ad1d-aabb-707d-d296-02cfbb22ec5c
* Version Independent ID: 5d8f8cfb-be79-fac8-62ef-3a396a3be3e8
* Content: [Durable Functions Overview - Azure](https

[2019-09-25 12:00] thecpshah commented on #39258
Hello @PatrickFarley @ram-msft Is there any update on this? We need to provide this to client. Thanks for your help.

[2019-09-25 12:06] montebhoover opened #39507 "The instructions in View Collected Logs section didn't work for me."
I followed the instructions here, but I either misunderstood them or they are out of date: https://docs.microsoft.com/en-us/azure/aks/view-master-logs#view-collected-logs

It says "select the resource group for your Log Analytics workspace" and then shows a screenshot of a resource group that contains an AKS cluster and a Log Analytics resource.  The resource group for my LA workspace does not hav

[2019-09-25 12:13] RehanSaeed opened #39508 "Authenticate with ACR from AKS via ARM Templates"
Is it possible to hook up AKS to an Azure Container Registry using an ARM template? I don't see anything similar to the `--attach-acr` command in the [AKS ARM template schema](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-06-01/managedclusters).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-09-25 12:18] jakaruna-MSFT commented on #39330
Sure @mitchellalm

[2019-09-25 12:20] montebhoover opened #39509 "Add "enable monitoring" to Before You Begin section"
Maybe I missed it, but I think it is necessary to enable monitoring logs for a given cluster before the instructions on this page will work.  Perhaps we could link something like the following page in the Before You Begin section?

https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-enable-existing-clusters#enable-directly-from-aks-cluster-in-the-portal

---
#### Docum

[2019-09-25 12:23] jakaruna-MSFT commented on #39359
Since you have a fixed number of instances which are getting the traffic from HA proxy, VMSS wont help.

VMSS will help if you are using the azure provided loadbalancer.

In terraform, We need to use the foreach or loop feature and try to manipulate the index to select the availablity zone

We would have used availablity sets if cross availablity zone is not a requirement.

[2019-09-25 12:24] marufhasan21 opened #39510 "SSH tunnel"
Very Good Sugition learned how to create and use an SSH tunnel. Larn My IP To Location https://myiptolocation.com/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ec40862-6313-917f-d793-2e4f96faa4d1
* Version Independent ID: 03d546a8-56c7-ec32-37ce-2613b5a60489
* Content: [Use SSH tunneling to access Azure HDInsight](h

[2019-09-25 12:24] jakaruna-MSFT commented on #39261
@Lelivienne  Closing this issue. Doc is updated. Feel free to open a new issue if there are any concerns

[2019-09-25 12:24] #39261 closed

[2019-09-25 12:25] marufhasan21 commented on #39510
very good [My Ip To Location](https://myiptolocation.com/)

[2019-09-25 12:30] jakaruna-MSFT commented on #39014
Thanks @MedAnd
When i went through the doc, In SDK the Cu* versioning is not followed.
So if service fabric runtime version is  6.5.658.9590(CU2),
Then I think the sdk should be greater than 658. (3.4.658)
Are you looking for adding this info to the doc

[2019-09-25 12:31] AhsanSAlam commented on #39489
Thank for your help. It worked. Is this the only way to identify object id of a daemon app or a console during development? What is the best practice?

[2019-09-25 12:34] jakaruna-MSFT commented on #38349
I tried to find more info on this issue.
Looks like the health metrics are visible to the users via insights only.
We need to verify if that metric also provides the vms ids along with the health count

[2019-09-25 12:38] crixo opened #39511 "Is Language customization available also with "custom policy"?"
I wonder if the Language customization described within this documentation page is available/configurable also using the "custom policy" instead of the "user flow"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d0fbbd3-7fa5-7958-ed5a-1d8d34a357b6
* Version Independent ID: dd714722-af58-77ff-53c2-f86d5173e650
* Content

[2019-09-25 12:42] crixo opened #39513 "Language customization integration"
Is the error message "Test name is not valid, please provide a valid name" be handled through the Azure AD B2C "Language customization" described here https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-language-customization? I wonder if there's a way to link the message returned from a custom endpoint with the language configuration managed through the buil

[2019-09-25 12:51] SadiqhAhmed-MSFT commented on #39496
@ducvu91 Thanks for the question! I tried creating a sendgrid account and was able to create one successfully. See the image below.
For you, it could be an intermittent issue. Try clearing browser cache, cookies, temp files and in-private window. If problem  persist, contact [sendgrid support](https://support.sendgrid.com/hc/en-us).
 ![alt text](https://wtv3.blob.core.windows.net/media/sendgrid.pn

[2019-09-25 12:54] Sethu2488 opened #39514 "Docker Logs"
I just want to know if there is way to send docker logs to the outside of the web app to some external logging system? I know that the logs can be downloaded. Can these logs be sent to an external logging system for further analysis?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc316af-0d30-b449-a04f-3019b7a16bc1
*

[2019-09-25 13:03] lonevvolf commented on #39354
I just created a new VM, and tried again:

DNS update failed: NT_STATUS_INVALID_PARAMETER

Using short domain name -- REDACTED
Joined 'ES-TEST-VM1' to dns domain 'redacted.onmicrosoft.com'
No DNS domain configured for es-test-vm1. Unable to perform DNS Update.

[2019-09-25 13:04] SadiqhAhmed-MSFT commented on #39108
@MiroslavVanicky We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-25 13:04] #39108 closed

[2019-09-25 13:05] dcurwin commented on #39070
Thanks, the document has been updated with that information.

#please-close

[2019-09-25 13:05] #39070 closed

[2019-09-25 13:07] SenthuranSivananthan opened #39515 "Sender email address"
What would the sender email address be for these alerts?  This allows for whitelisting and building workflows on email and ticketing tools.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a455a24-920e-f9f8-7a6f-60b5f4019acd
* Version Independent ID: e6a4d8e2-0ada-e535-810f-5eb19e45ee1e
* Content: [Provide security cont

[2019-09-25 13:19] memildin commented on #29924
Thanks for the valuable feedback!
We're building a plan for a complete refresh of all the screenshots in this doc set and will handle this JIT page along with all the others.

[2019-09-25 13:20] mlottner commented on #32101
#please-close

[2019-09-25 13:20] #32101 closed

[2019-09-25 13:26] lonevvolf commented on #39354
BTW:
                    "imageReference": {
                        "publisher": "OpenLogic",
                        "offer": "CentOS",
                        "sku": "7.6",
                        "version": "latest"
                    }

[2019-09-25 13:27] memildin commented on #29923
@cogran thanks for this feedback.
There's a sentence in a note on this page that tells users that their new rule won't take effect: "If other rules had been created for the selected ports, then the existing rules take priority over the new “deny all inbound traffic” rules."
But you're right that the product needs to reflect this reality too.
@rotemlurie will investigate this further with the devel

[2019-09-25 13:32] Henning-Martinussen opened #39517 "Remote Desktio disables background images"
Just deployed a ADDS VM + 2 VMs that are domain joined. In order to easily watch the difference, we use bginfo. BGInfo preview shows correctly, but when bginfo is applied, it does not work. Is it possible to enable background images when RDPing through Bastion, so BGInfo can do its magic :) This will make it a lot easier to recognize the VM you are on.

---
#### Document Details

⚠ *Do not edit th

[2019-09-25 13:33] BhupalPatil commented on #39263
@KingdomOfEnds I managed to get Preview environment setup finally, so Preview also gives us basic chart with modeling stuff however If I need more chart types then JS SDK is the option to build those charts (bar, pi line etc...)?  Any detailed documentation around it? there is on which show one demo app [here](https://docs.microsoft.com/en-us/azure/time-series-insights/tutorial-create-tsi-sample-s

[2019-09-25 13:41] MathieuMarchant opened #39518 "Protect key vault references of being resolved with Kudu advanced tools"
### Consider the following scenario:

- As a developer I **don't** have rights to read the secrets from the key vault
- The App Service does have rights to read secrets from the key vault, since key vault references are used in the configuration.
- As a developer I have ["Website Contributor"](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#website-contributor) righ

[2019-09-25 13:52] samiarahman opened #39519 "This debugging ability does not help at development time during setting up triggers and linked connection services."
I am currently trying to add a blob trigger and it does not start and comes back with internal server error. There is no way to debug if the configuration itself is having issues. Also it's taking me more than 3 days of working to debug and try to resolve any issues without appropriate error messages, without any unit test capability and without any overall pipeline test ability where I mock a blo

[2019-09-25 13:52] ManojReddy-MSFT commented on #39354
@lonevvolf Thanks for the info. You are correct. I am going to update the article.  Thanks again for taking the time to provide the feedback.

[2019-09-25 13:55] ram-msft commented on #39327
@rajapratapk We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-25 13:55] #39327 closed

[2019-09-25 14:04] #39354 closed

[2019-09-25 14:05] ryanspletzer opened #39520 "Page does not document all the available scoping filters"
This page leaves out a number of scoping filters, including "INCLUDES". Is there another page which documents all the scoping filters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a77e752-0785-c3bd-9b33-f37bb7af6acd
* Version Independent ID: d865098d-299a-ddeb-6eed-9a1db3175de3
* Content: [Provision apps with scopin

[2019-09-25 14:06] chelhernandez commented on #39468
Ok, thanks. Should I enable this BGP on the Virtual Network Gateway or in the Azure Connection resource? Because there is a BGP option available for both in the Portal.

[2019-09-25 14:08] RyanHill-MSFT commented on #39514
@Sethu2488 just to make sure I understand, are you asking if you can figure [logging drivers](https://docs.docker.com/config/containers/logging/configure/) for container deployed to azure?

[2019-09-25 14:09] PramodValavala-MSFT commented on #39506
@nivebiju Thanks for catching that! We have created a PR to address it.

[2019-09-25 14:13] eross-msft commented on #39432
@pandawood  I haven't seen these boxes before, it could be the way your organization has configured your system. Would you add screenshots of both of them, so I can dig a bit further into this? Thanks!

[2019-09-25 14:33] BhupalPatil commented on #39362
@MGoedtel Thanks for getting back on this.

I deleted entire flow and recreated and then on send data action I got the prompt to enter the Workspace Id and Workspace Key.

Workspace Id is available on the section overview but Key is not available in any section.. explored all option from left menu bar... Can you help with some pointers here? also it is not clear in which table the blob contents wi

[2019-09-25 14:37] mmacy commented on #39511
Hi @crixo, please see these two articles for information about localization in custom policies:

* [Localization](https://docs.microsoft.com/azure/active-directory-b2c/localization)
* [Localization string IDs](https://docs.microsoft.com/azure/active-directory-b2c/localization-string-ids)

#please-close

[2019-09-25 14:37] #39511 closed

[2019-09-25 14:46] mmacy commented on #39513
Hi @crixo, I'm not sure I fully understand your question. That error message is defined within the sample code in [Step 2.2: Add a controller](https://docs.microsoft.com/azure/active-directory-b2c/active-directory-b2c-custom-rest-api-netfw#step-22-add-a-controller):

[code]

The input validation is handled by you in your code to ensure correct input according to your application or business rules.

[2019-09-25 14:54] arsing commented on #38597
@AshokPeddakotla-MSFT It hasn't been fixed yet, so please keep it open. We can't track closed bugs.

You can let v-stadam's PR close it automatically when they merge it.

[2019-09-25 14:55] yeswps commented on #32319
@aquibqureshi26
In your quoted article, now it does list Canada Central as supported preview region.

However, the Send Diagnostics to Azure Monitor is still grayed out for MSI enabled VM in Canada Central, was the UX still not rolled out?

[2019-09-25 14:58] montereyharris opened #39521 "Non-Existent Region reference"
Availability Table says that Private Link for customer-owned services is Available in North US. I am assuming this is a misprint and that it is actually available in North Central US

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d39-e9cfa09736ce
* Version Independent ID: c0e7f101-5707-63ff-8193-c74

[2019-09-25 15:00] aquibqureshi26 commented on #32319
Hi Yeswps,

Im not sure. Anirudh would be the right person to ask. Also can you check if setting gets enabled when you deploy a new VM?

[2019-09-25 15:01] MicahMcKittrick-MSFT commented on #39509
Thanks for the feedback! We are currently investigating and will update you shortly.

#39507

[2019-09-25 15:02] ralmeidads opened #39522 "Updated script using "Az" module"
There is some script that use new "az" module instead of "AzureRM" module?
I tried to replace all "AzureRM" module cmdlets by "Az" module cmdlets and got two errors:

Import-Module : The specified module 'Az.Profile' was not loaded because no valid module file was found in any module directory.
At #FILEPATH#\New-RunAsAccount.ps1:92 char:1
+ Import-Module Az.Profile
+ ~~~~~~~~~~~~~~~~~~~~~~~~
    +

[2019-09-25 15:02] MicahMcKittrick-MSFT commented on #39507
Thanks for the feedback! We are currently investigating and will update you shortly.

#39509

[2019-09-25 15:02] MicahMcKittrick-MSFT commented on #39508
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-25 15:06] cap273 commented on #39470
@souravmishra-msft thank you very much for your response! For the documentation and for clarity, could you highlight whether the SSO provided by Azure AD Registered devices is in any way affected or depends on Azure AD Seamless SSO?

[2019-09-25 15:07] Sethu2488 commented on #39514
I am interested to know if there is a way to directly send the docker logs to logstash/elasticsearch which would be in my vnet. Not just downloading the logs, but live analysis of the docker logs. Is this feature available?

[2019-09-25 15:08] bsohi commented on #39443
posting question first time on github. Not sure the process and what i need
to do. can you pleas help me what documents are you referring to?

Thx

On Wed, Sep 25, 2019 at 2:10 AM Ram <notifications@github.com> wrote:

--

BW

[2019-09-25 15:12] samiarahman commented on #39519
The specific error I see is "Trigger Activation error" "Failed to get subscription status on storage events for event trigger: trigger_name"

[2019-09-25 15:16] hansenms commented on #39489
We have some information here on how to find the object ids of service principals:

https://docs.microsoft.com/en-us/azure/healthcare-apis/find-identity-object-ids

You can also find them through the portal.

#please-close

[2019-09-25 15:16] #39489 closed

[2019-09-25 15:18] DCtheGeek commented on #39473
#reassign:DCtheGeek

[2019-09-25 15:18] DCtheGeek commented on #39473
Thanks @jomolesk!

@mpetty222 As @jomolesk said, if you have requests related to this blueprint sample, please post it on [Azure Governance UserVoice](https://feedback.azure.com/forums/915958-azure-governance).  Thanks!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-09-25 15:18] #39473 closed

[2019-09-25 15:21] nconder commented on #32104
RuleID's found missing on my side with no documentation.

932100
932110
932150
933140
941120
941160
941170
942120
942210

[2019-09-25 15:27] craigshoemaker commented on #30888
The [doc is now updated](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#packages---functions-2x) with details regarding this breaking change.

#please-close

[2019-09-25 15:27] #30888 closed

[2019-09-25 15:27] diberry commented on #39348
@SychevIgor Please review the first paragraph.

### I accidentally deleted a part of my QnA Maker, what should I do?

Do not delete any of the Azure services created along with the QnA Maker resource such as Search or Web App. These are necessary for QnA Maker to work, if you delete one, QnA Maker will stop working correctly.

All deletes are permanent, including question and answer pairs, files,

[2019-09-25 15:33] bwren commented on #39458
Thanks for this.  We're actually working on a number of updates that you'll see in that article soon, including new screen shots.

[2019-09-25 15:40] brucedkyle opened #39524 "Move between Azure clouds?"
Does this guidance work to move between Azure Clouds? For example, can you use this technique to move between
- Azure Enterprise to Gov
- Gov to enterprise
- Azure enterprise to Germany
for example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-53

[2019-09-25 15:41] JasonWHowell commented on #39050
The publication is live in English. The Italian translation should be picked up shortly. @CeciAc
#please-close

[2019-09-25 15:41] #39050 closed

[2019-09-25 15:42] yeswps commented on #32319
@aquibqureshi26
Yes I've newly deployed a VM in Canada Central, enabled MSI and enabled Diagnostic Settings, however the Send Diagnostics to Azure Monitor is still grayed out.

@anirudhcavale
Do you know if the UX preview is enabled for Canada Central yet?

[2019-09-25 15:52] langstonj opened #39525 "Peer/industry scores available?"
Are there peer/industry scores akin to those associated with Office 365 available?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0554513-d846-079c-6bfc-d27aab78b442
* Version Independent ID: 6c8a971c-fc8b-baca-2ad4-518bf2e75aa5
* Content: [Security recommendations in Azure Security Center](https://docs.micro

[2019-09-25 15:57] aleazofeifam opened #39526 "Self-remove Azure AD roles is it possible/will it be possible in the future?"
Can Azure AD Admins remove themselves from any Azure AD roles that they are members of?
Just want to make clear the following
-By themselves, without asking for another GA to remove the role that was assigned
-Not only for the Company Administrator role but for any other Azure AD Admin Role

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-09-25 15:57] aleazofeifam opened #39527 "Self-remove Azure AD roles is it possible/will it be possible in the future?"
Can Azure AD Admins remove themselves from any Azure AD roles that they are members of?
Just want to make clear the following
-By themselves, without asking for another GA to remove the role that was assigned
-Not only for the Company Administrator role but for any other Azure AD Admin Role

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-09-25 15:58] dlepow commented on #39250
Per **Container Instances** [doc](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-faq), the following Windows 2019 base images can be used there (currently as *preview*):

Nano Server: 1809, 10.0.17763.x
Windows Server Core: ltsc2019, 1809, 10.0.17763.x
Windows: 1809, 10.0.17763.x

I believe the matrix is up to date but looping the ACI team who might have latest info

[2019-09-25 15:58] MicahMcKittrick-MSFT commented on #39508
@MicrosoftDocs/aks-pm @mlearned @dkkapur do we have any examples of how to achieve this via ARM? I took a look but I am also not finding much.

[2019-09-25 16:00] rhelm commented on #39474
I have not been able to sign in to the Application Network Portal as instructed, but I will work with the SSO team on the problem. Thanks much for your help.

[2019-09-25 16:00] MicahMcKittrick-MSFT commented on #39509
Closing this as I merged the two questions on the same doc and we can work off of one issue.

[2019-09-25 16:00] #39509 closed

[2019-09-25 16:02] sauryadas commented on #39508
Cannot be done in an ARM template because this is a CLI client side change only. We enabled this in the CLI for customers who find it hard to understand ARM RBAC. The simple implementation behind the scenes is a specifically a simple role assignment allowing AKS to access ACR.

[2019-09-25 16:02] #39422 closed

[2019-09-25 16:08] dlepow commented on #39222
@MicahMcKittrick-MSFT - Micah, I'll add myself to follow up on doc updates as well. I'll work with Deep to publish the clarification. Thanks for getting the right info!
#assign: @dlepow

[2019-09-25 16:14] mjonespro opened #39528 "Parameters format not clear"
It is not clear what format the list of allowed resources parameters should be.

I have tried creating an array of strings, example:

Features/features
Features/providers
Features/operations

I have even tried an array of resource type objects, example:
(Get-AzResourceProvider -ProviderNamespace 'Microsoft.Features').ResourceTypes

Neither one of these parameter formats results in the successful p

[2019-09-25 16:16] MicahMcKittrick-MSFT commented on #39508
Thanks for confirming @sauryadas that is what I figured but wanted to check :)

@RehanSaeed I will go ahead close this out but if you have further questions just let us know.

[2019-09-25 16:16] #39508 closed

[2019-09-25 16:21] mogadanez opened #39530 "how I can increase execution time?"
&lt;httpRuntime targetFramework="4.5.2" maxRequestLength="600000" executionTimeout="3600" /&gt;
in web.config just fail application to start

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Version Independent ID: 3b2c77ed-d9eb-cf20-0ace-908b88927e54
* Content: [Create Node.js web a

[2019-09-25 16:21] Mike-Ubezzi-MSFT commented on #39481
@ctoph13 Thank you so much for following up and posting the solution, as it will be very helpful to those looking for the same or similar solution.

[2019-09-25 16:24] crixo commented on #39513
That's correct but the message returned by my custom backend will be shown within the UI provided by the Azure AD B2C custom policy.

Is the api/backend responsible to have in place its on "language translation tool" or the translation could be delegated/configured with the existing "Azure AD B2C language translation tool" (same as per ui fields labels or user messages) and have the custom backend

[2019-09-25 16:29] MicahMcKittrick-MSFT commented on #39507
@montebhoover seems the doc is slightly out of date. I was able to find the logs by directly going to the log analytics workspace but it was not showing as displayed in the screenshot.

As per the second half of your feedback, the flow of the documentation does have you enable monitoring first in the other tutorials. So we plan to leave it as is for now.

As per this document, I will assign to aut

[2019-09-25 16:36] TiloGit commented on #39456
just suggest to link or merge these topics as the other How-To has more details.
I didn't manage to configure it with this Tutorial but with the How-To.

[2019-09-25 16:40] SychevIgor commented on #39348
@diberry thank you. with such explanation in a article - I'm fully understand my mistake.

[2019-09-25 16:41] FrankHu-MSFT commented on #39525
@langstonj Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-25 16:41] FrankHu-MSFT commented on #39527
@aleazofeifam Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-25 16:41] FrankHu-MSFT commented on #39526
@aleazofeifam Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-25 16:41] FrankHu-MSFT commented on #39520
@ryanspletzer Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-25 16:41] FrankHu-MSFT commented on #39515
@SenthuranSivananthan Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-25 16:42] MGoedtel commented on #31097
I'm evaluating the suggestion as part of our sprint planning for documentation.  Since there isn't an issue with this article, but questions around supportability by deploying the Windows agent (MMA) with Intune, which I've answered, I'm suggesting we #please-close this article.

[2019-09-25 16:43] bwren commented on #39458
I'm going to go ahead and close this since we are already actively working on it.  Should see updates in a couple of weeks.

[2019-09-25 16:43] bwren commented on #39458
#please-close

[2019-09-25 16:43] #39458 closed

[2019-09-25 16:43] FrankHu-MSFT commented on #39527
Duplicate issue, closing this one out and addressing issue on this git issue : https://github.com/MicrosoftDocs/azure-docs/issues/39526

[2019-09-25 16:43] #39527 closed

[2019-09-25 16:43] PatrickFarley commented on #39258
Hi, we don't currently provide this. See the reference docs - https://docs.microsoft.com/python/api/azure-cognitiveservices-vision-computervision/azure.cognitiveservices.vision.computervision.models.word?view=azure-python

[2019-09-25 16:49] nivebiju commented on #39506
@PramodValavala-MSFT  Thanks 👍

[2019-09-25 17:02] babukotha1975 commented on #21779
Below command working fine:

az vmss extension set `
  --publisher Microsoft.Azure.Extensions `
  --version 2.0 `
  --name CustomScript `
  --resource-group myResourceGroup `
  --vmss-name myScaleSet `
  --settings '{\"fileUris\":[\"https://raw.githubusercontent.com/Microsoft/PartsUnlimitedMRP/master/Labfiles/AZ-400T05-ImplemntgAppInfra/Labfiles/automate_nginx.sh\"],\"commandToExecute\":\"./automa

[2019-09-25 17:02] FrankHu-MSFT commented on #39526
Hello @aleazofeifam currently it is not possible, if you're interested in this feature I suggest putting it in uservoice here : https://feedback.azure.com/forums/169401-azure-active-directory

I apologize for the inconvenience, please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this g

[2019-09-25 17:03] babukotha1975 commented on #21779
replace " with \". Then it works fine.

[2019-09-25 17:03] babukotha1975 commented on #21779
replace " with \\"    Then it works fine.

[2019-09-25 17:13] msrini-MSFT commented on #39468
@chelhernandez , You can do it on the connection.

Let me know if you have any further questions.

[2019-09-25 17:18] KranthiPakala-MSFT commented on #39519
@samiarahman Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-09-25 17:19] cawrites commented on #38178
@DeanGross I hope you were able to review the information given. The build process as described in the documented links provided should give you the information you were requesting. Thank you contacting us regarding this issue.

[2019-09-25 17:19] cawrites commented on #38178
#please-close

[2019-09-25 17:20] #38178 closed

[2019-09-25 17:21] MashaMSFT commented on #36994
Hi @claireemmabrydon , Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!
Masha from SQL Docs team

[2019-09-25 17:23] BryanTrach-MSFT commented on #39530
@mogadanez Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-25 17:24] shahiddev commented on #19456
@SumanthMarigowda-MSFT or @cbrooksmsft  - Is there any way of tracking the feature request relating to this - even if you're not comfortable sharing an ETA it would be useful to be notified when it's been done.
Thanks!

[2019-09-25 17:25] Blackmist commented on #39273
Hi @AkshayTharval There's no reference documentation for this package currently, and it's not published on GitHub yet. I've spoken to the engineer who runs this project and been told that publishing it on GitHub is in progress, but I am not sure when that will be completed. I gather there's legal reviews and other things that have to be completed first.

The parameter types currently supported is

[2019-09-25 17:29] spelluru commented on #39218
Thank you @marc-sensenich

Updated the article. #please-close

[2019-09-25 17:29] #39218 closed

[2019-09-25 17:29] memildin commented on #35518
@manojReddy-MSFT it seems that this link has been removed during one of the many updates since @roblarson left the comment so this issue can now be closed.

[2019-09-25 17:30] memildin commented on #35518
#reassign:memildin

[2019-09-25 17:30] BryanTrach-MSFT commented on #39518
@EagleWizard28 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-25 17:32] diberry commented on #39348
Thank you for your help. This is scheduled for publishing in the next 24 hours. #please-close

[2019-09-25 17:32] #39348 closed

[2019-09-25 17:36] harkiratbehl opened #39532 "mounting file share failed without any error info"
Run failed: AzureMLCompute job failed. AZFMountError: unable to mount Azure File Info: Could not mount Azure File Share //# at #mounts/new_ds1:

How do I debug this error? There is no info about what happened?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd91721f-4a86-30cb-5e37-147c7319f0e6
* Version Independent ID:

[2019-09-25 17:37] cephalin commented on #13405
Closing this issue as doc has already been updated. #please-close

[2019-09-25 17:37] #13405 closed

[2019-09-25 17:40] msrini-MSFT commented on #39521
@montereyharris , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-09-25 17:44] memildin commented on #35518
#please-close

[2019-09-25 17:44] #35518 closed

[2019-09-25 17:45] memildin commented on #29924
#please-close

[2019-09-25 17:45] #29924 closed

[2019-09-25 17:50] #39506 closed

[2019-09-25 17:50] msrini-MSFT commented on #39521
PR has been made: https://github.com/MicrosoftDocs/azure-docs-pr/pull/89708

Changes will be reflected shortly.

[2019-09-25 17:51] #39521 closed

[2019-09-25 17:53] scootafire opened #39533 "Support for Confluence 7.0.1 Microsoft Azure Active Directory single sign-on for Confluence:"
# We had to upgrade to Confluence Server 7.0.1 due to security flaws pointed out by Atlassian.  This has now broken your product.  Please fix a compatible version for 7.01 as we tried the latest one and does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a45acbc6-caae-be6c-939e-55451831d03e
* Version Independe

[2019-09-25 17:56] SaeedAlbarhami opened #39534 "Change Select-AzSubscription to Get-AzureSubscription"
Please change  **Select-AzSubscription** (The term 'Select-AzSubscription' is not recognized as the name of a cmdlet, function, script) to **Get-AzureSubscription **

Or mention that we need to run ` Install-Module -Name Az -AllowClobber -Scope AllUsers` to import the required module in order for **Select-AzSubscription** to work

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-09-25 17:57] MarileeTurscak-MSFT commented on #39520
I do not believe that another document exists for this. I've assigned this to the author to update on this.

[2019-09-25 17:58] scootafire commented on #38043
I have opened up a ticket for 7.01 support as we were forced to upgrade due to the security CVE reports
#39533

[2019-09-25 17:58] diberry commented on #39275
@xtianus79 Updated doc in next 24 hours including:

@ShivaKumarChittamuru Please review this text, does it make sense:

## Ignore spelling mistakes
If you don't want to use the Bing Spell Check API v7 service, you need to add the correct and incorrect spelling.

Two solutions are:

* Label example utterances that have the all the different spellings so that LUIS can learn proper spelling as well a

[2019-09-25 17:59] #39275 closed

[2019-09-25 18:03] Nickomang commented on #8996
#please-close

[2019-09-25 18:03] #8996 closed

[2019-09-25 18:05] crisansou opened #39535 "Feature Importance"
Hi!

Where can I find the feature importance using the workspace landing page? I trained a classification model and could only see the metrics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0211b3a-7229-fde6-cdfc-3fac1f5fb512
* Version Independent ID: 104dee68-825f-ac1c-5bcd-f10853d13355
* Content: [Use Azure's autom

[2019-09-25 18:09] Nickomang commented on #10298
Hi @nisubr, did this answer satisfy your question? If so we will close the issue and look into adding it into our docs.

[2019-09-25 18:11] cogran commented on #39413
@msrini-MSFT — I think the explicit comparison above helps alleviate potential confusion/provides additional clarity. I would consider this resolved.

[2019-09-25 18:13] NavtejSaini-MSFT commented on #39320
@stevestein Can you please sign off on adding this note to the document to avoid confusion.

[2019-09-25 18:20] #39413 closed

[2019-09-25 18:23] KranthiPakala-MSFT commented on #39510
@marufhasan21 Thanks for the feedback! Yes, it is very helpful.

Kudos to content author @hrasheed-msft ! :)

[2019-09-25 18:24] KranthiPakala-MSFT commented on #39510
We will now proceed to close this thread as there no further action required.
Thanks again for the feedback! Your feedback helps a lot.

[2019-09-25 18:24] #39510 closed

[2019-09-25 18:24] Nickomang commented on #12592
Hi @tkumark, the document in question has been updated. Thank you for your feedback.

#please-close

[2019-09-25 18:24] #12592 closed

[2019-09-25 18:25] MicahMcKittrick-MSFT commented on #39373
Added a note that if you are installing this extension on a previously created VM it should be allocated with at least 1GB of memory for the install to succeed.

[2019-09-25 18:26] SnehaGunda commented on #37912
@lukepuplett @jfcomst Apologies for the delay in responding to this issue. Actually my response in the other PR isn't right, though that's what I learned from our team initially (Sorry about the confusion). Upon further discussion here is what I learnt, Thanks to @ginamr for sharing this information:

"Azure Cosmos DB is scoped to the JSON types which does not include a DateTime type. So, in Azure

[2019-09-25 18:26] SaurabhSharma-MSFT commented on #39525
@langstonj Security Center generates overall secure score of your subscriptions and resources which is the accumulation of all of your resources.  For any other subscriptions it would depend on the recommendation scores of the resources under it whereas Office 365 scores are generated based on the O365 services (Exchange, OneDrive, SharePoint, etc.).

[2019-09-25 18:31] SaurabhSharma-MSFT commented on #39515
@SenthuranSivananthan The Sender Email address will be an internal Microsoft account that monitor alerts.  Also, we can change the sender email's without further notice, so it might not be a good idea to harden this.  Please let me know if you have any other questions.

[2019-09-25 18:38] #39055 closed

[2019-09-25 18:39] shashishailaj commented on #39311
@BeyMelamed Could you please provide some details on which step actually cause confusion for you ?

[2019-09-25 18:44] shindigo opened #39536 "To get it working behind a proxy:"
In the simulated device:
            Http1TransportSettings transportSettings = new Http1TransportSettings();
            transportSettings.Proxy = new WebProxy("MyProxy", MyProxyPort);
            ITransportSettings[] transportSettingsArray = new ITransportSettings[] { transportSettings };

            // Connect to the IoT hub using the MQTT protocol
            s_deviceClient = DeviceClient.Cre

[2019-09-25 18:45] MarileeTurscak-MSFT commented on #39478
@PS-MikeM is the concern that you think it should say "default out-of-box" so there's no confusion that the warning is referring to the same thing in both paragraphs?

[2019-09-25 18:47] MarileeTurscak-MSFT commented on #39478
I am fine with adding that for clarity.

I made a pull request to add this in, for approval by @billmath . https://github.com/MicrosoftDocs/azure-docs-pr/pull/89720

[2019-09-25 18:47] #39478 closed

[2019-09-25 18:47] mjung8 commented on #32453
@nelfer Were you able to figure this out?

[2019-09-25 18:47] amoghnatu opened #39537 "--authorizations "$userid:$roleid" doesn't work."
Hello team,

In the managed app create definition cmdlet, for the --authorizations attribute, just putting "$userid:$roleid" is giving me an error. Instead using --authorizations "${userid}:${roleid}" with the { } parenthesis works fine.

Request you to check. I was using PowerShell in the Azure Cloud Shell.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-09-25 18:51] sonnycloudtp opened #39538 "Is Azure Files a product that is available via portal?"
Hello, I was trying to create an Azure Files resource via the portal and searched for it in the global service search but landed on this page. Here the page asks me to click on a Files tab/blade to create Azure files. I don't see this option on the portal anymore. Is this product even available anymore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-09-25 18:54] SquirrelAssassin opened #39539 "14 day grace period"
You got to be kitten me, so we setup an account with MFA and the user can blow it off for 14 days?  What if we set the user to enforce does this make them do it right away.  I cant believe Microsoft would allow a security hole for 14 days where anyone on-boarding can get hacked and the attacker can get right in.
This policy allows users to skip multi-factor authentication registration for up to 14

[2019-09-25 18:58] SnehaGunda commented on #38700
@bartsokol Thanks for pointing out the issue, there were some updates to how we access documents without partition key in V3 SDK. Instead of `CosmosContainerSettings.NonePartitionKeyValue`, you need to use `partitionKey: PartitionKey.None` I submitted a fix to update the doc. The sample linked from the doc is already updated. Hope this helps.

We will close this issue if there aren't any further q

[2019-09-25 18:58] SnehaGunda commented on #38700
#please-close

[2019-09-25 18:58] #38700 closed

[2019-09-25 18:58] GiftA-MSFT commented on #39535
Hello @crisansou, thank you for reaching out. We will get back to you shortly on this issue.

[2019-09-25 18:59] SenthuranSivananthan commented on #39515
@SaurabhSharma-MSFT thanks for letting me know.  worth a try to see if there's a common one that's used today that we can start with.

[2019-09-25 18:59] #39515 closed

[2019-09-25 18:59] Karishma-Tiwari-MSFT commented on #36994
@claireemmabrydon Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-25 18:59] #36994 closed

[2019-09-25 19:01] snitkjaer opened #39541 ".NET core 3"
Does this change with .NET core 3?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7325660c-6ba7-5955-cadb-e98084e7a624
* Version Independent ID: 9ea16a97-de92-6c54-93d5-d18593af5010
* Content: [Performance counters in Application Insights](https://docs.microsoft.com/en-us/azure/azure-monitor/app/performance-counters)
*

[2019-09-25 19:02] shaungl opened #39542 "Logic for the "Convert C-CDA Document" step"
Hello,

Would it be possible to publish the source code to the "Convert C-CDA Document" step in the first logic app?

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: b08e8d09-d89f-a1f3-1de9-7115a2495eca
* Version Independent ID: 0969451a-fdd0-7a81-030b-9f75e431605a
* Content: [Change feed for HL7 FHIR re

[2019-09-25 19:04] vhe1 commented on #38700
Thx - I also stumbled across this problem...

[2019-09-25 19:11] MGoedtel commented on #25518
Upon review to address the issue, I realized that because the CLI reference is auto-generated using an internal process fed by an input file from engineering, I cannot update the articles directly to provide a link to our documentation.  As part of the work we are doing to improve the Azure Monitor content and restructuring/consolidating content, we will evaluate what/if we can do anything to impr

[2019-09-25 19:11] #25518 closed

[2019-09-25 19:18] NavtejSaini-MSFT commented on #39542
@shaungl Thanks for the feedback and We are assigning to the doc author to check if this can be done.

[2019-09-25 19:23] Garyhardy opened #39543 "Custom RBAC Roles & MG"
Hello,

this page says :

Custom RBAC roles aren't supported on management groups at this time. See the management group feedback forum to view the status of this item.

I read here from PM that it is now not true :

https://feedback.azure.com/forums/911473-azure-management-groups

 Custom RBAC Support is now available in Production. You are able to to create role definitions at the MG scope and a

[2019-09-25 19:35] gunterda opened #39544 "Typo ZGRS in the table under replication options"
It should probable be GZRS ;-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06288d35-3c83-c29d-95d8-a56823d910a3
* Version Independent ID: 002fb5f5-5e4a-a95a-4564-2c399bcb5e06
* Content: [Azure storage account overview](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview?toc=%2Fazure%2Fstor

[2019-09-25 19:41] rthorn17 commented on #39543
Hi @Garyhardy - We have enabled custom role assignments to be on management groups.  We have not updated the documents yet as there is an issue on our backend we are working on to resolve.  We felt it didn't need a roll back of the feature, but we didn't want to promote it either.  You are able to use them and list a MG in the Role Definitions Assignable Scopes.  That role will then be available o

[2019-09-25 19:42] tamram commented on #39544
@gunterda - Thanks for pointing this out. I've fixed the typo, and the change should go live later today.

[2019-09-25 19:42] tamram commented on #39544
#please-close

[2019-09-25 19:42] #39544 closed

[2019-09-25 19:45] darosas opened #39545 "k4a_calibration_2d_to_2d() link is broken"
Under Implementation, the link for  k4a_calibration_2d_to_2d() leads to the Microsoft homepage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71b98c3a-cc57-577d-5cd3-3f3fcd9b2056
* Version Independent ID: 77133313-9dc7-2819-9e50-69435c5cf33e
* Content: [Use Azure Kinect Sensor SDK image transformations](https://docs.m

[2019-09-25 19:46] SnehaGunda commented on #34643
@damienestewart  The V2 SDK has AltLink property: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.partitionkeyrange?view=azure-dotnet#properties
However, this property was removed from the V3/latest SDK.

I think it's not available with REST API as well, so it's NUll, we should remove the property if it's not supported. I will pass this feedback to the product group. I don't

[2019-09-25 19:47] ecfan commented on #39165
@fiksen99: Thanks, I sent a PR for you to review with the steps for the expression editor. Please review so we can resolve this GitHub issue? Thanks!

[2019-09-25 19:48] Garyhardy commented on #39543
Hi @rthorn17 many thanks for your quick feedback. I feel now pretty confident to start using this feature and hope to get it solved soon !

[2019-09-25 19:48] ltwlf commented on #37251
Hey, actually you can set the shard key for a shared throughput collection via Mongoose (tested with Azure Mongo 3.4 preview). I usually do it like this in an Azure Function:
`mongoose.connect(process.env.COSMOSDB_CONNSTR, {
    useUnifiedTopology: true,
    useNewUrlParser: true,
    auth: {
        user: process.env.COSMODDB_USER,
        password: process.env.COSMOSDB_PASSWORD,
    },
})
    .t

[2019-09-25 19:48] #39543 closed

[2019-09-25 19:49] fiksen99 commented on #39165
Will take a look today, thanks Esther!

On Wed, Sep 25, 2019, 12:47 PM Esther Fan <notifications@github.com> wrote:

[2019-09-25 19:50] pkothree opened #39546 "Description for Adding a system-assigned identity contains errors"
Documentation states:
"If using a function app, navigate to Platform features. For other app types, scroll down to the Settings group in the left navigation.

Select Managed identity.
"

In an Azure Function App it's currently called "Identity" and not "Managed Identity".
![image](https://user-images.githubusercontent.com/12709650/65634455-86dee880-dfde-11e9-9da5-8642824eb09c.png)

---
#### Docume

[2019-09-25 19:53] vlado101 commented on #38302
Hello, just wanted to follow up on my earlier question.

[2019-09-25 20:04] shashishailaj commented on #39314
@ryanwa Thank you for reporting it . This link has been fixed. We appreciate your inputs. We will close this issue now. Should you have any further queries , please let us know .

[2019-09-25 20:04] #39314 closed

[2019-09-25 20:04] kobulloc-MSFT commented on #39541
@snitkjaer Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-09-25 20:11] gaikovoi opened #39547 "Max number of IP restriction rules is not listed"
The page is missing information about how many rules can be created. It would be great if the limits are posted for both app service and its SCM. Also, if the limit is shared between app service and SCM (e.g. "total number of rules between app service and SCM is XYZ rules") then it should be documented as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-09-25 20:13] jmprieur commented on #39441
@SaurabhSharma-MSFT : do you expect something from me?

[2019-09-25 20:14] Adam-Smith-MSFT commented on #39538
@sonnycloudtp Thank you for the valuable feedback,we are investigating the issue.

[2019-09-25 20:14] clarkmac opened #39548 "Confusing information on Throughput basis for reservation"
The section titled "Determine the required through put before purchase" is not specific enough and actually miss-leading.
"The size of the reservation should be based on the total amount of throughput that the existing or soon-to-be-deployed Azure Cosmos DB resources will use." The reference to TOTAL isn't the idea.  It is the RUs/Second/Hour provisioned which is the basis for correct RI planning.

[2019-09-25 20:22] shashishailaj commented on #39315
@ryanwa The file [requirements.txt file](https://github.com/Azure-Samples/ms-identity-python-webapp/blob/master/requirements.txt) has been added and updated in the [sample ](https://github.com/Azure-Samples/ms-identity-python-webapp).  We will close this issue now. Should you still see any issue , please let us know and we will help you with the same.

[2019-09-25 20:22] #39315 closed

[2019-09-25 20:29] bandersmsft commented on #39548
@clarkmac Thanks for sharing your feedback. I'll review this with the engineering team to see how we'll clarify the guidance we have in this article.
#in-process

[2019-09-25 20:30] MarileeTurscak-MSFT commented on #39539
@SquirrelAssassin
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-25 20:35] mrbullwinkle commented on #39541
In regard to .NET Core 3.0 specific with App Insights I would check out [here](https://docs.microsoft.com/azure/azure-monitor/app/eventcounters) and [here](https://docs.microsoft.com/azure/azure-monitor/app/asp-net-core#does-application-insights-support-aspnet-core-30).

[2019-09-25 20:37] ajlam commented on #35826
@franrebo84 - additional details are available here: https://github.com/Azure/open-service-broker-azure/blob/master/docs/modules/mysql.md

[2019-09-25 20:39] jjindrich commented on #39250
Thanks, @dlepow how can I enable preview ?

[2019-09-25 20:46] spelluru commented on #37737
#please-close

[2019-09-25 20:46] #37737 closed

[2019-09-25 20:49] Alberto-Vega-MSFT commented on #39536
Hi @shindigo sounds like you are requesting us to add this to the doc so it addresses the behind proxy scenario?

[2019-09-25 20:51] Alberto-Vega-MSFT commented on #39404
@leeprtc thanks for the update please feel free to reach out again if you have any more feedback for these docs

[2019-09-25 20:52] MarileeTurscak-MSFT commented on #39392
Hi @MukundaMurthy ,

Since I haven't heard back from you I will proceed to close this out.  Feel free to make your own pull request to the document and include a comment about why you think this should be updated, if you still believe that it is important to change this. If you create the pull request and provide justification, @jeevansd will review it and merge it into the document.

https://docs

[2019-09-25 20:52] #39392 closed

[2019-09-25 20:52] toenie23 opened #39549 "Folder Hierarchy using SSIS for Blob"
If I am copying source data into Blob Storage, how would I dynamically create the folder structure on the fly to be like this

container/datasource/yyyy/MM/dd/ yyyy-MM-dd HH:mm:ss_datasource.csv"

We are thinking of executing this package using ADF and passing datasource, yyyy, MM, dd using parameters and trigger runtime. There is not much documentation on this piece so anything would help!

---
#

[2019-09-25 20:52] bwren commented on #38315
I'm going to go ahead and close this since, as I mentioned above, we have an open work item for this and are actively working on reference content. Confirmed that these tables are on that list.

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-09-25 20:52] #38315 closed

[2019-09-25 20:56] dlepow commented on #39250
@jjindrich - I should have been clearer :). You can deploy images to ACI based on those Win2019 base images without further ACI configuration. Preview only refers to the level of support and to highlight that this list is subject to change. We can continue conversation in corp email if that's easier. Thanks!

[2019-09-25 20:57] MarileeTurscak-MSFT commented on #39539
Hi @SquirrelAssassin ,

Thanks for this feedback!

This is something that an organization would do when they know they are going to roll out MFA in the near future. This allows them to get their users registered with minimal discomfort. If you enable a conditional access policy that requires a user perform MFA or enable the Azure Identity Protection Sign-in risk policy users will immediately be re

[2019-09-25 20:57] YutongTie-MSFT commented on #39407
@tedway Hi Ted, I have created another PR for more details. Please review.

[2019-09-25 20:58] MarileeTurscak-MSFT commented on #39539
We will now proceed to close this thread. If you have additional feedback, please feel free to tag me in the comments or post to [User Voice](https://feedback.azure.com/forums/169401-azure-active-directory/category/160602-multi-factor-authentication).

[2019-09-25 20:58] #39539 closed

[2019-09-25 21:07] shashishailaj commented on #39289
https://azure.microsoft.com/en-gb/resources/samples/active-directory-dotnet-webapp-groupclaims/

  {
    ...
    "_claim_names": {
     "groups": "src1"
      },
      {
    "_claim_sources": {
      "src1": {
          "endpoint":"[Graph Url to get this user's group membership from]"
          }
      }
    ...
  }

[2019-09-25 21:08] EdPrice-MSFT commented on #36614
IBM recommends using Storage Spaces Direct. We'll update the documentation with more information about this topic, as well as with the SSD instructions. Thank you.

[2019-09-25 21:10] PandaWood commented on #39432
Hi,I since discovered these text boxes show if the authentication app does
not have access to the camera (on iPhone) - it doesn’t warn of no access to
the camera, it just shows these text boxes.

Worth a mention in the documentation

On Thu, 26 Sep 2019 at 12:13 am, Elizabeth Ross <notifications@github.com>
wrote:

[2019-09-25 21:15] Alberto-Vega-MSFT commented on #39497
@MnvOo Is it possible for you to provide more detail about what you are tying to do?

[2019-09-25 21:18] FrankHu-MSFT commented on #39526
In addition to the last response, if you're interested in a roadmap please see : https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new

[2019-09-25 21:22] shashishailaj commented on #39289
@benhxy We have initiated a pull request for adding the related content about overage claims which would be available in the next release cycle after review. Please find the details below for your reference.

**Groups overage claim**
 To ensure that the token size doesn’t exceed HTTP header size limits, Azure AD limits the number of object Ids that it includes in the groups claim. If a user is mem

[2019-09-25 21:22] #39289 closed

[2019-09-25 21:26] Canis-Lupis commented on #36066
I think it should be stated as well what license is required.  We have O365 E3 and I can't create a dynamic group--the Membership type is grayed out.  I'm assuming Azure Premium is required for this?

[2019-09-25 21:27] femsulu commented on #39522
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-25 21:28] femsulu commented on #39524
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-25 21:31] femsulu commented on #39528
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-25 21:33] Nickomang commented on #37482
Hi @Eldar1205, unfortunately we don't have the capacity at the moment to make these changes. We'll circle back around with an update sometime in the future.

[2019-09-25 21:34] chrisorisawayi opened #39550 "Keyvault reference returning plain text in app.config"
I have specified keyvault reference in the appsettings section of an app.config file of a .NET webjob as below:
&lt;appSettings&gt;
    &lt;add key="key1" value="@Microsoft.KeyVault(SecretUri=https://keyvaultsecreturi)"/&gt;
&lt;/appSettings&gt;
MSI created for App Service and granted get/set permission to Key Vault.  App service also restarted.  However rather than retrieving the secret value fro

[2019-09-25 21:39] femsulu commented on #39537
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-25 21:39] zr-msft commented on #34363
This was fixed in these commits:

* https://github.com/MicrosoftDocs/azure-docs/commit/7cbc3405f19cee48c1410b1b7369e42c123083b7#diff-dd1bd0f7a20ad3e0e33fde14a13fdfff
* https://github.com/MicrosoftDocs/azure-docs/commit/676b344183d79cb5f8565d37c0ea673858107cbe#diff-dd1bd0f7a20ad3e0e33fde14a13fdfff

#please-close

[2019-09-25 21:39] #34363 closed

[2019-09-25 21:44] shashishailaj commented on #39287
@ianc911 Thank you for requesting the CRP related information to be added to the article. We talk about the default connection request policy however we have added a note in the article pointing towards the original NPS server documentation which discusses how to create a connection request policy in detail. A pull request is initiated and the document will get updated after its reviewed and commi

[2019-09-25 21:44] #39287 closed

[2019-09-25 21:49] aleazofeifam commented on #39526
Don't close it yet, can you please check with the PG if there are plans to do it in the future? And the reason of this behavior

[2019-09-25 21:51] mmacy commented on #39513
Hi @crixo,

Yes, your API should send the correct localized error string back. That can be achieved by sending the UI locales parameter to the API as part of the input claims using claims resolvers. That allows the API to know which language to respond in.

[2019-09-25 21:53] cijothomas commented on #39541
@kobulloc-MSFT can you update this doc?
The section below,
https://docs.microsoft.com/en-us/azure/azure-monitor/app/performance-counters#performance-counters-in-aspnet-core-applications
should be replaced with what is found here:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#performance-counters

[2019-09-25 22:00] TravisCragg-MSFT commented on #39517
@Henning-Martinussen Unfortunately there is not a way to view the desktop during an Azure Bastion RDP session at this time. A good workaround is to create a document on the desktop with the VM's name so that you can easily tell what VM you are on.

I am also following up now to see if there is any additional info that I am able to provide.

If you would like us to change this in the future, please

[2019-09-25 22:02] kaupov opened #39555 "How to get the default logging to work again?"
Somehow introducing the DI brakes the logging for some reason. I don't want any fancy own provider but just getting it back to work like it was without DI.

When ILogger is passed as function parameter I get following error:

When injected into 'PullProducts' constructor I get this error:

I does not help when I inject ILogger&lt;PullProducts&gt; also, then when function is called I get following:

[2019-09-25 22:02] tchristiani commented on #39258
#please-close

[2019-09-25 22:03] #39258 closed

[2019-09-25 22:04] spelluru commented on #39172
@jalyzwa - Thanks for the feedback. I just confirmed with the product team that these are all maximum limits as well. I will mention it in the article.

[2019-09-25 22:04] tchristiani commented on #39163
This issue has been added to the service backlog.
#please-close

[2019-09-25 22:04] #39163 closed

[2019-09-25 22:13] tcz001 commented on #39519
It turns out the missing part is the trigger is trying to create a event subscription on ADLS gen2 Storage account, which failed on the Storage account side, There seems some regions are missing this feature enabled, so you should document this requirements when we use event trigger function.

[2019-09-25 22:13] Karishma-Tiwari-MSFT commented on #39395
@mlearned Can you please suggest the best way to include the role creation information in the doc? Should we add a link to this https://docs.microsoft.com/en-us/azure/aks/azure-ad-rbac#create-demo-groups-in-azure-ad part of the doc?

[2019-09-25 22:14] TravisCragg-MSFT commented on #39503
@Leejung168 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-25 22:15] shashishailaj commented on #39332
@DeanGross We checked and there are no specific single article for best practices for Mobile Device/App Management using Intune . The information is scattered as per the features of Intune in multiple articles. We have a MSDN blog which showcases the best practices that [Microsoft Internal IT follows for Mobile Device Management](https://blogs.technet.microsoft.com/sebastianklenk/2016/04/12/mobile

[2019-09-25 22:16] v-stadam commented on #39379
An updated version of this article has been released: https://docs.microsoft.com/azure/iot-edge/how-to-auto-provision-symmetric-keys

[2019-09-25 22:19] shashishailaj commented on #39400
@rkarlin Could you please have this article reviewed with engineering for having this updated ?

[2019-09-25 22:19] MedAnd commented on #39014
The guide omitted the fact the build/package server must have the correct SF .Net SDK installed. The guide only highlights that the SF runtime on the target cluster must be at CU2.... but one cannot deploy unless they’ve built & packaged their application correctly which can only happen with the correct .Net SDK version. Hope that makes sense?

[2019-09-25 22:20] dougmolineux commented on #18815
I tried the extension bundle my host.json and it seemingly fixed this issue.

[2019-09-25 22:29] SnehaGunda commented on #34643
#please-close

[2019-09-25 22:29] #34643 closed

[2019-09-25 22:29] djpmsft commented on #39519
@tcz001 Events are only available in West Central US and West US 2 at this time. You are right this is not properly documented or clear in the UX. Luckily, the ADLS team is currently rolling out the feature in all regions and this issue should no longer be apparent by the end of the week!

#please-close

[2019-09-25 22:29] #39519 closed

[2019-09-25 22:29] seanobr opened #39556 "Missing step for "Basic SAML Configuration" identifier uri"
In the Configure Azure AD SSO section, step 4, there should be an additional step or note to update the Identifier (Entity ID) to the appropriate uri. The default value "http://netdocuments.com/VAULT" does not work for all regions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 208c8c82-9496-4bc0-3150-8e97a152c643
* Ve

[2019-09-25 22:30] BharathNimmala-MSFT commented on #39361
@ACsharp Thanks again for reaching out, can you please help to elaborate your scenario which is resulting into this issue.

Do you have the SDK installed already with in the project and you are your are not seeing the "Debug session telemetry" , do you have appsettings.json with the application insights instrumentation key in the project , instead of the applicatoninsights.config file.

[2019-09-25 22:42] jhakulin commented on #35466
https://docs.microsoft.com/en-us/azure/cognitive-services/Speech-Service/how-to-use-conversation-transcription-service
Currently, only these kits are supported for 8 channel audio capture:
ROOBO Smart Audio Circular 7-Mic DK
Azure Kinect DK.

@nimai-agarwal, @andrewvr99 if you are manually creating wav files, that approach probably will not be successful. Current support is designed for the above

[2019-09-25 22:45] GiftA-MSFT commented on #39535
@crisansou please refer to this [document](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-configure-auto-train#explain-the-model-interpretability) on how to generate and view feature importance of your model. Please let me know if you have further questions.

[2019-09-25 22:48] TravisCragg-MSFT commented on #39517
@Henning-Martinussen The ability to view backgrounds in Azure Bastion RDP sessions is currently being planned, but leaving your feedback at [Azure Networking's feedback.azure.com](https://feedback.azure.com/forums/217313-networking) page will help us prioritize adding this feature in the future.

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2019-09-25 22:48] #39517 closed

[2019-09-25 22:52] SquirrelAssassin commented on #39539
Incorrect!  We have aip enabled and conditional access and this still happens.  It’s a horrible idea to let users bypass for 14 days regardless.  And even worse to implement such a security hole without a configuration option built in.

[2019-09-25 22:59] Alberto-Vega-MSFT commented on #39536
@shindigo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-25 23:08] amartin1911 opened #39557 "Is it possible (and recommended) to directly edit host.json file to add an app setting?"
On my local.settings.json (minimized for the purpose of this question) I have this attribute::
[code]
So inside code I retrieve the value with the well-know ConfigurationManager class and everything works fine:
[code]
My question is: taking aside Application Settings edition from the Portal, is it possible to add a Values attrib inside host.json? Or is not recommended to manually edit this file?

[2019-09-25 23:14] jackbond commented on #6491
Haven't seen any additional information on this. Is there a solution if I wanted to do 1 million key vault operations per minute (other than creating 200 azure subscriptions)?

[2019-09-25 23:15] MarileeTurscak-MSFT commented on #39376
This version has just gone to "released for download."

From the document:

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history

[2019-09-25 23:15] MarileeTurscak-MSFT commented on #39376
Closing this out. Feel free to ping me in the comments if you have further questions.

[2019-09-25 23:15] #39376 closed

[2019-09-25 23:18] Karishma-Tiwari-MSFT commented on #39430
@pulkitaggarwl Can you please share your inputs on this issue? Thanks :)

[2019-09-25 23:31] Alberto-Vega-MSFT commented on #39379
@ms-vincent Can you confirm that your feedback has been addressed? Thank you!

[2019-09-25 23:37] Karishma-Tiwari-MSFT commented on #39469
These 2 series of VMs are in Preview but the doc does state that

@laurenhughes @cynthn Can either of you please share your insights on the details for Dav3 and dasv3 series in the doc?  Thanks :)

[2019-09-25 23:39] ecfan commented on #39165
#in-progress

[2019-09-25 23:40] Alberto-Vega-MSFT commented on #39497
Hi @MnvOo Azure Kinect DK is designed for an minimum operating range of 0.25m for the WFOV modes. Operating at distances closer than this may result in depth errors and saturation of the camera. If you are interested in a camera which is more optimized for closer ranges (< 25cm) please [file feedback](https://feedback.azure.com/forums/920053-azure-kinect-dk) so we can solicit interest from our cus

[2019-09-25 23:49] kenoby-dev opened #39558 "WAF blocking OpenAPI Specification downloads"
The article states:
To prevent Application Gateway WAF from breaking the download of OpenAPI specification in the developer portal, you need to disable the firewall rule 942200 - "Detects MySQL comment-/space-obfuscated injections and backtick termination"

However, even after disabling this rule the OpenAPI Specification downloads are being blocked by the following rule:
Rule - 942110: Message -

[2019-09-25 23:50] cawrites commented on #39487
@jusbeyer we appreciate your input; we're constantly working on ways to improve our content. We understand the need to have consistent information regarding documented error codes. I recommend using the system generated error message displayed as part of your resolution process. You can also check the community for similar issues: https://social.msdn.microsoft.com/Forums/b5d9bae6-5976-4f09-a8cd-63

[2019-09-25 23:53] bospoort opened #39559 "IoT Hub Free tier is not supported with DPS"
Please make a note that you need S1. If you create a Free IoT Hub, you can't link to it from DPS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a75512f-47db-ecee-70d3-9e2e5f470e1c
* Version Independent ID: 74f13239-66c4-dd09-68d4-a77a6c65fcba
* Content: [Set up Device Provisioning in the Azure portal](https://docs.mic

[2019-09-25 23:59] crisansou commented on #39535
Hello @GiftA-MSFT , thank you for the answer, but I'm using the Portal experiment, I didn't use any code to create the templates. Can you check please?

https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-create-portal-experiments

[2019-09-26 00:00] ecfan commented on #38509
@kevinlam1: Ping for review and feedback on customer suggestion to add network service group rules for ISE because existing table info has these issues:

* Table doesn't have all the necessary info for ISE to pass validation, for example, protocol information. Just TCP protocol isn't enough.
* Table formatting can use improvement.
* Including Resource Manager template snippet showing NSG rules wou

[2019-09-26 00:07] srchi commented on #34157
@shrey-agarwal  -  this could be due to unique key constrain violation in the dataframe, if you are trying to ingest. Could you please reach out to me at srchi@microsoft.com and I will follow up offline with you to get a repro to investigate further.

[2019-09-26 00:08] Alberto-Vega-MSFT commented on #39559
@bospoort Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-26 00:10] SaurabhSharma-MSFT commented on #39534
@SaeedAlbarhami Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-26 00:14] Karishma-Tiwari-MSFT commented on #39073
This is the reference template: https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2019-03-01/virtualmachines/extensions
This one has all the properties in it.

And example is : https://github.com/Azure/azure-quickstart-templates/blob/master/201-vm-custom-script-windows/azuredeploy.json

[2019-09-26 00:22] kobulloc-MSFT commented on #39241
I'll pass that feedback along to the document author.  Thank you for helping to improve our documentation!

[2019-09-26 00:29] kazshi opened #39561 "Impact for the case of 'having any subnets using Microsoft.SQL....'"
I understand the impact is that any subnets using Microsoft.SQL as a Service Endpoint cannot communicate with the Gateway IP addresses after the Gateway IP addresses were changed - is it correct?
But I cannot think specific configurations of "any subnets using Microsoft.SQL as a Service Endpoint cannot communicate with the Gateway IP addresses", could you please provide any examples of that?

---

[2019-09-26 00:36] femsulu commented on #39307
adding @mumami for input

[2019-09-26 00:49] cynthn commented on #39469
@nick-terry1 and @Karishma-Tiwari-MSFT -  Jon added the "Preview" shortly after this issue was filed. I'm not sure if he saw this or made the additions separately.

I suspect the information isn't there because those sizes aren't meant for production workloads and they might want to wait for some feedback on the preview before finalizing some of the specs?

Lauren or I will loop back with Jon for

[2019-09-26 00:56] MarileeTurscak-MSFT commented on #39556
@seanobr
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-26 01:01] tianlai commented on #39519
@djpmsft I think it would be a better practice to close this ticket with specific information when ADLS team rolls out the feature. "Coming soon" doesn't really mean it's resolved. I would be surprised this is how Microsoft tracks things.

[2019-09-26 01:09] KingdomOfEnds commented on #39263
@BhupalPatil - I have directed this question to @Virginia001 who is the content developer maintaining these documents. Thanks!

[2019-09-26 01:09] KingdomOfEnds commented on #39266
@BhupalPatil - I have directed this question to @Virginia001 who is the content developer maintaining these documents. Thanks!

[2019-09-26 01:31] forester123 commented on #38348
@roygara any news from product team?

[2019-09-26 01:37] xtellurian commented on #37661
Hi @KingdomOfEnds , sorry to pull you into this, but there hasn't been any activity on this issue in a month. It seems like a simple documentation issue with a yes/ no answer (unless I'm missing something)

Could you please help?

[2019-09-26 01:54] DanijelMalik opened #39562 "How to make the consentToApp in Azure AD REST API work?"
I've been trying to automate what the `Grant admin consent for ...` button does without any luck.

It feels like the `appId` in the JWT token "signalises" the API whether to accept the version 2.0 or reject. The accepted `appId` does not exist in my AAD hence I can't create a secret for it.

If I grab the token from a browser request and make a POST request with the following body everything works

[2019-09-26 02:01] markrad commented on #39472
I ran it on MSFT corp net. Apparently it was a transient problem because it works now.

[2019-09-26 02:01] #39472 closed

[2019-09-26 02:03] GiftA-MSFT commented on #39535
@crisansou, thank you for clarifying the issue. It seems as though Feature importance can only be enabled through a configured automated ML experiment in Python.
@tsikiksr, please can you confirm if Feature Importance is enabled in the workspace landing page. If so we need to update documentation. Thanks and looking forward to your response.

[2019-09-26 02:20] SnehaAgrawal-MSFT commented on #39550
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-26 02:20] SnehaAgrawal-MSFT commented on #39546
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-26 02:32] mhamblin opened #39563 "Field Importance"
Making the “offer name” high importance is a bad decision. It really hurts non-descriptively named apps and forces people to jump through hoops with their product names to get better positioning. It's even worse for Business Central, where the offer name is the same as the app name, which causes technical issues when the name (which should just be marketing text) is changed.
The short description

[2019-09-26 02:35] bouchaet opened #39564 "unable to get it to work with AADGroup"
hello,

The steps show how to configure an AADGroup with the MSI as a member and then add the group to db roles. However, once launched, the app was apparently unable to connect to its database with this configuration (error 500 or 502, no details with customErrors on).  After many validations, looking at objectIds,  group,  db roles config, ... no obvious typos were found in my setup. Then I trie

[2019-09-26 02:57] KrishnaG-MSFT commented on #39543
@rthorn17 Thanks for the quick response. :+1:

[2019-09-26 02:57] DixitArora-MSFT commented on #39557
Hi @amartin1911 Thanks for reaching out. We will review and update as appropriate.

[2019-09-26 02:58] DixitArora-MSFT commented on #39558
Hi @kenoby-dev Thanks for reaching out. We will review and update as appropriate.

[2019-09-26 02:59] CHDAFNI-MSFT commented on #39352
I think this can be closed now. I now interpret this as being completely client side tooling based which makes use of the Copy enhancement.

[2019-09-26 03:00] KrishnaG-MSFT commented on #39511
@mmacy Thanks for the quick response. :+1:

[2019-09-26 03:00] DixitArora-MSFT commented on #39555
Hi @kaupov Thanks for reaching out. We will review and update as appropriate.

[2019-09-26 03:03] DixitArora-MSFT commented on #39371
@manu4rhyme For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-26 03:03] #39371 closed

[2019-09-26 03:03] DixitArora-MSFT commented on #39372
@manu4rhyme For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-26 03:03] #39372 closed

[2019-09-26 03:09] anilvem1 opened #39565 "Create external tables for replica DB"
Hi, Currently we have DB in P6 tier and it has a Geo replication DB setup. Business access reporting data via Geo replication DB tables via another SQL DB external tables.
If we wanted to migrate to Hyperscale, we will not be having Geo replication DB, but we wanted to know how we can create external Data source/tables for Hyperscale replica (not primary) so that business always connects to replic

[2019-09-26 03:23] anilvem1 commented on #39565
I tried to use below query to create external data source
CREATE EXTERNAL DATA SOURCE CaseEnhancementCenterDev
WITH
(
	TYPE=RDBMS,
	LOCATION='xxxxxxxxx.database.windows.net',
	CONNECTION_OPTIONS = 'ApplicationIntent=ReadOnly'
	DATABASE_NAME='xxxxx',
	CREDENTIAL= CRED
);
GO;

It gave me the below error.
Incorrect syntax near 'CONNECTION_OPTIONS'.

[2019-09-26 03:39] TroyArrandale commented on #12287
I have the same issue as GavinEke - can't migrate as the backup services options are no longer available and it fails validation on "Migrate to ARM".. can we get an update on this?

[2019-09-26 03:51] KingdomOfEnds commented on #37661
Hi @xtellurian - I'm afraid that I am unaware of the absolute max cap. My apologies - I will research this further and try to identify what that is from the Engineering and PM team.

I can, however, provide with some answers to your original question:

1. Using two custom JSON files: https://gist.github.com/KingdomOfEnds/1272e22b29630dc8ec2ce07fc87187f0, I was able to pass in 800 and 900 entries o

[2019-09-26 04:26] SubhashVasarapu-MSFT commented on #39401
@svangeti, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-26 04:26] #39401 closed

[2019-09-26 04:28] SubhashVasarapu-MSFT commented on #39381
@Willem-J-an, We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-26 04:28] #39381 closed

[2019-09-26 04:28] SwathiDhanwada-MSFT commented on #39352
@CHDAFNI-MSFT Thanks for information.

[2019-09-26 04:28] #39352 closed

[2019-09-26 04:36] RohitMungi-MSFT commented on #39549
@toenie23 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-26 04:39] SwathiDhanwada-MSFT commented on #39563
@mhamblin Thanks for your feedback . I  would recommend sharing this feedback directly with the Azure Marketplace team by posting the feedback [here](https://feedback.azure.com/forums/216369-azure-marketplace).

[2019-09-26 04:44] jjindrich commented on #39250
@sajayantony I don't want change docker file because is same for Windows and Linux build. Can I somehow say ACR to use 1809 server for building ? Instead of latest 1903 ?

[2019-09-26 05:00] dcbrown16 commented on #39420
@VikasPullagura-MSFT can we hold off on this request? My customer and I have done some testing and it seems that the document's numbers may be correct, while the Portal is wrong.
I submitted a Portal bug to see if they can address it. Did you confirm the correct size with any team or are we just changing the doc to match the Portal, which may be wrong?
You can contact me internally at v-dibr if yo

[2019-09-26 05:00] #39420 closed

[2019-09-26 05:00] jakaruna-MSFT commented on #37674
@RicksterCDN Please look at the above comments  and provide your views

[2019-09-26 05:04] VikasPullagura-MSFT commented on #39420
@dcbrown16 I have also checked on the portal and submitted a PR. However, as you mentioned that it is a portal bug and it is already raised. I will work on reverting the changes back. I also reached out to document author on this. Thanks.

[2019-09-26 05:04] SnehaAgrawal-MSFT commented on #39547
@gaikovoi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-26 05:05] dcbrown16 commented on #39420
Thank you.

[2019-09-26 05:12] msrini-MSFT commented on #39468
@chelhernandez , Do you have any update on this issue?

[2019-09-26 05:12] msrini-MSFT commented on #39460
@krisrajz , I will go ahead and close this issue. If you have any further questions, please tag me.

[2019-09-26 05:12] #39460 closed

[2019-09-26 05:20] souravmishra-msft commented on #39562
@DanijelMalik , This is intresting. I am working on this, do allow us sometime so that we can share our findings on this.

[2019-09-26 05:25] DanijelMalik commented on #39562
It might be worth sharing some more details.

I have a master application that creates child apps. Those child apps may require some API permissions e.g. Read All Users, hence an Admin consent is required. But I don't want to go back and manually click the button each time this is needed.

The master app has a specific flow and would under what circumstances to grant Admin consent, but I'm struggl

[2019-09-26 05:25] sajayantony commented on #39250
Maybe a buildArg with a default value you can override ? @northtyphoon did we rollout support for build arts?

[2019-09-26 05:31] AjayKumar-MSFT commented on #39322
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-09-26 05:31] #39322 closed

[2019-09-26 05:34] souravmishra-msft commented on #38914
@aspnet4you, There are talks on getting Azure DevOps as a trusted service. Azure DevOps has a distinct scenario where the identity that accesses Key Vault belongs to the customer, not to Microsoft. This violates scalability and security requirements for “trusted service”.

Right now the only workaround appears to be adding the IP addresses of DevOps machines to AKV firewall. This is a smaller subs

[2019-09-26 05:40] Ambuj-K opened #39566 "Unable to get the bulk delete call, to delete anything at all. The comments in the code say that partitionkey isn't a mandate but an optimization, but it doesn't work."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a81858c-cb26-4ef6-d646-764c09967ac6
* Version Independent ID: 43851df9-f601-61c2-757c-64bced2a3a55
* Content: [Azure Cosmos DB: Bulk executor Java API, SDK & resources](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-bulk-executor-java#f

[2019-09-26 05:44] dcbrown16 commented on #19779
@altambaw @rohinkoul what is the status here?
I'm trying to investigate the claim in this document, "If you change the DNS settings for a virtual network or virtual machine that is already deployed, you need to restart each affected VM for the changes to take effect."
vs. the message displayed when updating DNS servers from a NIC in the portal "Updating the DNS servers for this network interface w

[2019-09-26 05:54] souravmishra-msft commented on #39562
@DanijelMalik, Unfortunately we don't have a API or Powershell cmdlet to accomplish it

Only ways are using the UI i,.e **Portal.azure.com** and Grant Permissions

or using the **Authorize URL**

**Sample consent URL:**
**V1 Endpoint:**
[https://login.windows.net/{tenantId}/oauth2/authorize?response_type=code&redirect_uri=http%3A%2F%2Flocalhost&prompt=admin_consent&client_id={applicationId}&resour

[2019-09-26 06:03] forester123 opened #39567 "Can Application Gateway communicate with instances outside of its virtual network or outside of its subscription?"
If plan to use internal IPs as backend pool members, can I use ExpressRoute as well? If yes, better to add ExpressRoute as an option as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independent ID: 08ad49f3-6a57-b925-794a-37215e985aba
* Content: [Frequently asked qu

[2019-09-26 06:07] ChiragMishra-MSFT commented on #39423
@nagasandeep In that corner case, it might fail.

Since it's a product feedback, I would recommend you to provide feedback at the [feedback forum.](https://feedback.azure.com/forums/270578-data-factory/). All the feedback you share, is closely monitored by the Data Factory Product team and implemented in future releases.

I will now proceed to close this issue. Please feel free to still comment an

[2019-09-26 06:07] #39423 closed

[2019-09-26 06:07] ram-msft commented on #39532
@harkiratbehl Thanks for the question. Could you please help with the document link.

[2019-09-26 06:10] sujithq opened #39568 "Broken links in Next Steps section"
Hi,

All links in Next Step section are broken: https://docs.microsoft.com/en-us/azure/cosmos-db/cosmosdb-jupyter-notebooks#next-steps

They all point to https://docs.microsoft.com/en-us/azure/cosmos-db/cosmosdb-jupyter-notebooks

Kind regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec5910fd-89bc-1b75-11aa-2e3b

[2019-09-26 06:17] KalyanChanumolu-MSFT commented on #39561
@kazshi Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-26 06:20] DixitArora-MSFT commented on #39378
@NextTurn There are other links which are broken.

For reference purpose , you can refer to https://github.com/Azure/azure-webjobs-sdk/blob/v2.x/src/Microsoft.Azure.WebJobs.ServiceBus/EventHubs/EventHubAttribute.cs

Also I am assigning this to content author for further review and update as appropriate.

[2019-09-26 06:20] DanijelMalik commented on #39562
Thanks for your answer. It doesn't help, but I appreciate it anyway :)
So roughly speaking, how far away are we from having a proper API for this?

[2019-09-26 06:23] #39451 closed

[2019-09-26 06:24] SubhashVasarapu-MSFT commented on #39567
@forester123, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-26 06:35] DanijelMalik commented on #39562
I already voted. I wish I had a thousand more ;)

[2019-09-26 06:43] ram-msft commented on #39443
@bsohi Please share the azure documentation link that you are referring.

[2019-09-26 06:44] AshokPeddakotla-MSFT commented on #39545
@darosas Thanks for pointing this out. [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/89789/files) has been created to fix this broken link. Once PR is merged, changes will go live.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-26 06:44] #39545 closed

[2019-09-26 06:51] BhupalPatil opened #39569 "Missing links in this article #39362"
@MGoedtel  Thanks for getting back on this, writing further to the discussion on #39362

I deleted entire flow and recreated and then on send data action I got the prompt to enter the Workspace Id and Workspace Key.

Workspace Id is available on the section overview but Key is not available in any section.. explored all option from left menu bar... Can you help with some pointers here? also it is

[2019-09-26 06:55] KrishnaG-MSFT commented on #39569
Assigning @MGoedtel for visibility, help and to provide insights on this.

[2019-09-26 06:55] sw-tt-janvivakotar opened #39570 "Is it possible "simulated TPM device using Python device SDK (azure-iot-sdk-python)" is running in linux OS? and how?"
---

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5627993-0130-f6ad-30a6-b0905a6c9464
* Version Independent ID: cab2f925-52c3-2aa6-72c1-934487680b90
* Content: [Provision a simulated TPM device to Azure IoT Hub using Python](https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-device-tpm-python#prepare-t

[2019-09-26 06:57] VishalHaibatpure commented on #32483
Is advance thread protection option got available for individual resource levels as I can see it available in individual storage accounts --> Advance Security --> Settings --> On & Off
When I make it Off its not reflecting on ASC advance security . How much time it will take to reflect on ASC?

[2019-09-26 06:58] DaveZimmermann opened #39571 "SQL Enterprise Licensing"
Hi everyone
I could not find anything about the SQL Enterprise License which is used by MABS on this or any other Docs-Page. Just on some other websites i found that I don't need to pay for the SQL Enterprise License. Is that true? Could you please add this here? I just found that if I'm using MABS, I don't need any System Center License.
Best Regards
Dave

---
#### Document Details

⚠ *Do not edi

[2019-09-26 06:59] KalyanChanumolu-MSFT commented on #39568
@sujithq Thank you for letting us know.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-26 07:00] souravmishra-msft commented on #39562
@DanijelMalik, I am going ahead and closing this thread for now. But feel free to re-open this whenever you want any further help on this.

I wish I could help you with some more details, but unfortunately its a roadblock for now.

Hopefully, we have this implemented soon, so that it helps a large customer base in automating the consent work.

[2019-09-26 07:00] #39562 closed

[2019-09-26 07:08] SadiqhAhmed-MSFT commented on #39331
@rolyon, @bandersmsft and @tfitzmac Any thoughts on this behavior of assigning owners to group?

[2019-09-26 07:09] SadiqhAhmed-MSFT commented on #39307
@Murthy582 Please try V2 for billing periods.
Unfortunately, the docs is not correct, we do not have a V3 api for billingperiods.

[2019-09-26 07:10] ram-msft commented on #39570
@sw-tt-janvivakotar Thanks for the question. Please provide us with the link to the documentation you are referring to.

[2019-09-26 07:11] kaupov commented on #39555
Hi, I tried this morning with fresh head again. I have a reference to class library and trying to inject a service from there. I also wanted to have some logging in this service so I added nuget Microsoft.Extensions.Logging.Abstractions to this class library. This was enough to cause all mentioned errors.

[2019-09-26 07:17] souravmishra-msft commented on #38914
@aspnet4you , Please find the details about the IPs below:

**For whitelisting AzureDevops services -** [https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops](url)

**For whitelisting Hosted Agents -** [https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#agent-ip-ranges](url)

Hope this helps.

[2019-09-26 07:19] dcbrown16 opened #39572 "How to delete all data and start different backups"
How can we work around this feature if we want to delete all the backup data (to remove old points with long retention, for example) and restart backups?
Can we backup to another vault? Or somehow restart the backups in the same vault while leaving the deleted data alone?

One more separate question - does the "14 days" work similar to retention of recovery points, in that garbage collection runs

[2019-09-26 07:28] crixo commented on #39513
Hi @mmacy Thanks for the confirmation: it makes sense. BTW is there any API available to retrieve the language customization (built-in and extended) stored in Azure AD B2C for a given tenant?

[2019-09-26 07:33] lxy771895408 opened #39573 "two-factor verification problems, I lost my mobile device"
I lost my mobile device and can not receive the identity verify call or text, how can I change my account verify phone number?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version Independent ID: 9ffe59dd-c667-4802-1da0-6917638804c5
* Content: [Troubleshoot

[2019-09-26 07:38] femsulu commented on #39191
Hi @irfan432 , I assmume your scenario relates to HyperV. RPO max for HyperV is 24hrs. RPO max for VMware is 72hrs. Related content can be referenced [here](https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-failover).

Please let me know if my assumption is incorrect and I will gladly continue the conversation.

Based on your original comment, looks like this section of the FAQ ne

[2019-09-26 07:38] #39191 closed

[2019-09-26 07:41] lxy771895408 commented on #39573
My Microsoft account is lixy59@lenovo.com, can you help me clear the settings?

[2019-09-26 07:47] LachlanJB opened #39574 "Conditional Access and Configurable token lifetimes"
Hi

I understand from the documentation provided that Configurable Token Lifetime policy will not be used to configure refresh tokens from the 1st November.
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

Can we get a bit more clarification on what Microsoft's plans are, as from following these discussion threads it seems like there ha

[2019-09-26 08:07] micrajesh opened #39575 "About response.setBody() in post trigger"
[Enter feedback here]

In triggers. the request has getBody() as well as setBody() meaningfully. where the response in post trigger has getBody().. where is the setBody() ?

Great escape.. Do a complete document..
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14913a18-671a-c55f-d082-e750bec7baab
* Version Independent I

[2019-09-26 08:22] dzoech commented on #38357
Since DNS resolution works correctly on my Windows cluster without this NSG rule, I'd like to know in what specific cases it would be required.

[2019-09-26 08:25] jmprieur commented on #39441
@AhsanSAlam: does the doc update answer your question?

[2019-09-26 08:26] jmprieur commented on #37931
@FrankHu-MSFT : this is a duplicate. I belive this should be assigned to @CelesteDG who's acting on this already.

[2019-09-26 08:29] jmprieur commented on #36967
A PR addressing this issue got merged today: https://github.com/MicrosoftDocs/azure-docs-pr/pull/89664. The fix should be live in a few hours

[2019-09-26 08:31] jmprieur commented on #36402
@psignoret : do we have an article already for this kind of troubleshooting? which we should probably link from every scenario landing page?

[2019-09-26 08:38] ram-msft commented on #39533
@scootafire Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-26 08:42] femsulu commented on #38984
@sasanmcp apologies for the delay. Unfortunately, we couldn't come up with a supported workaround for your scenario. I recommend posting your scenario on [Stackoverflow ](https://stackoverflow.com/questions/tagged/azure-resource-manager) forum for community input.

I recommend sharing your valid suggestion to support **utcNow() as a varialbe** directly with the ARM feature team using [this link](h

[2019-09-26 08:42] #38984 closed

[2019-09-26 08:47] rohancragg opened #39577 "Please define "hostile multi-tenant usage""
It would be useful if you could kindly illustrate the term "hostile multi-tenant usage" with an example. I want to understand what kinds of scenarios that constitute a potentially hostile workload?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0e393-0006-ffdc-e2a9-382598c8d760
* Version Independent ID: 6a37cabc-14f

[2019-09-26 08:50] ACsharp commented on #39361
@BharathNimmala-MSFT the project references the latest AppInsights NuGet package and includes instrumentation code to send traces to AppInsights.
In the example I'm using, the instrumentation key is hardcoded but in a real customer scenario, it would be either in a custom configuration file or in an environment variable.
Please note that the code sends telemetry successfully to the live AppInsight

[2019-09-26 08:52] DeanGross commented on #39332
Ok, thanks, that is consistent with my research. I was hoping that I just had not found it. How can we get a best practices document created for MDM/MAM?

[2019-09-26 08:53] ManojReddy-MSFT commented on #39533
@jeevansd Do you have any insights regarding when we will support 7.0.1 version?

[2019-09-26 08:58] jakaruna-MSFT commented on #39330
Created the feature request here https://issues.jenkins-ci.org/browse/JENKINS-59539

@mitchellalm You can consider using the VM's as build agents till the above feature is added.

[2019-09-26 09:01] SwathiDhanwada-MSFT commented on #39572
@dcbrown16 Thanks for comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-26 09:01] SwathiDhanwada-MSFT commented on #39571
@DaveZimmermann Thanks for comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-26 09:02] KalyanChanumolu-MSFT commented on #39575
Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-26 09:07] lukepuplett commented on #37912
Thank you for investigating. Yes, this sounds like super important information, so I'm happy to hear that we've both learned something :) and this story definitely needs telling in the documentation.

Applications developers need to store the offset in another property and then reconstruct a `DateTimeOffset` from the string date-time Cosmos document property, and the numeric offset property.

Thin

[2019-09-26 09:17] AshokPeddakotla-MSFT commented on #38552
@wesmc7777 Could you please check this and provide an update?

[2019-09-26 09:17] kaupov commented on #39555
Found a cause of this with help of this issue https://github.com/Azure/azure-functions-host/issues/4394, if somebody else struggles on this. Need to reference the exact version of Microsoft.Extensions.Logging.Abstractions nuget in class library that the function app itself is using.

[2019-09-26 09:19] PramodValavala-MSFT commented on #39301
@IgorPietraszko Hope my previous comment helps.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-26 09:19] #39301 closed

[2019-09-26 09:29] ranokarno opened #39579 "how to disable az backup protection when Recovery Vault has soft delete"
unable to clean up deployment as documentated above.
please also advise how can az powershell or az cli support recovery vault when soft delete enabled ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b274ddf8-4d07-6a56-d226-2a0751b41493
* Version Independent ID: 893c694c-3156-409c-412a-d51c52b3b195
* Content: [Azure Q

[2019-09-26 09:31] chirurico opened #39580 "Contributor Role Blueprint NotActions change"
The contributor NotActions relevant to blueprints have a wrong description. You can create, edit and delete blueprint artifacts with Contributor role, but you can't assign or delete assignments for blue print artifacts.

Current description (wrong) for NotActions:
Microsoft.Blueprint/blueprintAssignments/write	Create or update any blueprint artifacts
Microsoft.Blueprint/blueprintAssignments/delete

[2019-09-26 09:35] SwathiDhanwada-MSFT commented on #39579
@ranokarno  Thanks for comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-26 09:39] chirurico commented on #39580
To clarify, I'm talking about Contributor role description in https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#contributor

[2019-09-26 09:40] KalyanChanumolu-MSFT commented on #39566
@Ambuj-K Please take a look at the samples [here](https://github.com/Azure/azure-cosmosdb-bulkexecutor-java-getting-started/blob/master/samples/bulkexecutor-sample/src/main/java/com/microsoft/azure/cosmosdb/bulkexecutor/bulkdelete/BulkDeleter.java) if you haven't already.

Posting your code here will help debugging further.

[2019-09-26 09:43] philippschaefer4 opened #39581 "Custom Translator Model fails with "Data processing failed""
Hello,
we are trying to train a Custom Translator Disctionary-Only-Model as described [here](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/what-is-dictionary) to ensure that certain phrases are translated properly.
We therefore uploaded two text files each containing a list of corresponding words as parallel data and created a phrase dictionary. The diction

[2019-09-26 09:49] Tarvinder91 opened #39582 "Creating the encrypted disks while creating a new VM"
Is this functionality available in Azure? As I cannot find any document saying if we can create the encrypted disks while creating a new VM. Also this must be supported in ARM templates too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c63605-95f5-0953-3cf6-1e9c50532c1d
* Version Independent ID: 8731daa8-2c15-78f7-

[2019-09-26 09:49] Kazzan opened #39583 "Letter Size Matters"
Hi, I mean that there should be some mention that lowercase and uppercase letters matters in Salesforce. You can have mixed ones in Exchange, but small in AAD and Salesforce distinct these as different user and SSO will fail for such.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adf2d1dc-ab4d-5e4a-d18d-a9f4fba5aedb
*

[2019-09-26 09:50] SwathiDhanwada-MSFT commented on #39344
@maras2002  Seems we are able to connect Activity Log to two different workspaces.

@bwren @MGoedtel Can you please confirm and update the document accordingly?

[2019-09-26 09:55] SadiqhAhmed-MSFT commented on #39496
@ducvu91 Let me know if you've any questions or we are good to close this issue.

[2019-09-26 09:55] decharkin commented on #11561
Almost a year has passed but I wanted to ask if this services relies on SOCKS protocol to enabled at proxy layer for the listener service?

[2019-09-26 09:56] Tarvinder91 opened #39584 "ARM template to encrypt a running Windows VM supports only KEK"
There are two ways to encrypt the disks, with and without KEK using Azure Key Vault. The ARM template only supports the KEK version. As encryption is supported without using KEK, can you upload the new template as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c63605-95f5-0953-3cf6-1e9c50532c1d
* Version Indepe

[2019-09-26 09:58] cofjee opened #39585 "occupancy-quickstart/src"
while following the article https://docs.microsoft.com/en-us/azure/digital-twins/quickstart-view-occupancy-dotnet try to run occupancy-quickstart/src, i got this error
PS D:\code\sourcecode\digital-twins-samples-csharp-master\occupancy-quickstart\src> dotnet run ProvisionSample
Exception: System.OperationCanceledException: The operation was canceled.
   at System.Net.Http.HttpClient.HandleFinishSe

[2019-09-26 10:02] chelhernandez commented on #39468
No more questions. Thanks for your help.

Regards,

On Thu, Sep 26, 2019, 2:12 AM KARTHIK SRINIVAS <notifications@github.com>
wrote:

[2019-09-26 10:03] shashishailaj commented on #39573
@lxy771895408 Thank you for your query. However , We cannot make modifications on customer's account . You would require to contact internal Azure AD team within your company. As per what is mentioned in the current [article](https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-factor-authentication-end-user-troubleshoot#why-cant-i-turn-two-factor-verification-off) this is somet

[2019-09-26 10:03] Ambuj-K commented on #39566
I began from the samples, actually.

libraryDependencies += "com.microsoft.azure" % "documentdb-bulkexecutor" % "2.6.0"

Problem 1, in version 2.6 the overloaded methods deleteAll(query) and deleteAll(query, partitionKey),  don't exist, which makes the sample a direct fallacy (compile error).
It expects a, deleteAll(List<Pair<String, String>> pkIdPairsToDelete).

Talk about backward compatibility

[2019-09-26 10:04] SwathiDhanwada-MSFT commented on #39580
@chirurico Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-26 10:04] shashishailaj commented on #39574
@LachlanJB Thank you for your feedback . We will research on this and update this thread.

Thank you.

[2019-09-26 10:05] #39468 closed

[2019-09-26 10:08] BryanTrach-MSFT commented on #39124
@DanlFrn Are you using the image: tag in your docker-compose.yml file to define the container name so that Azure does not assign a random value?

[2019-09-26 10:11] shashishailaj commented on #39332
@DeanGross I believe that MDM is a huge product and have surface vector spanning multiple technologies and covering all of them in one document may be an overkill yet it does seem a great idea and I would suggest the content author to check what they can do about the same.

@dougeby Could you please have a look at this request and see if you can engage with the product engineering to create a broa

[2019-09-26 10:13] shashishailaj commented on #39311
@BeyMelamed Hope you are doing good. I am just following up on this thread to check if you can provide some context here so that we can simplify the documentation more for you as needed. We look forward to hearing from you.

Thank you.

[2019-09-26 10:14] MarkJTBell commented on #39572
Similar to @dcbrown16 I would like to change the vault that my Azure VM uses. Currently there is no way to Stop and delete the existing backups from one Vault and them restart them on another Vault.

[2019-09-26 10:14] #39573 closed

[2019-09-26 10:16] BryanTrach-MSFT commented on #38946
@DrReedo Yes, you should be able to use an app service cert for items such as TLS mutual auth. The below items are required when using TLS mutual auth.

1. The time validity
2. The subject name
3. The issuer name
4. The thumbprint

You can export the app service cert by using [these steps.](https://blogs.msdn.microsoft.com/benjaminperkins/2017/04/12/export-an-azure-app-service-certificate-pfx-powe

[2019-09-26 10:16] #38946 closed

[2019-09-26 10:17] DixitArora-MSFT commented on #39555
@kaupov  I am glad that the issue is resolved and thanks for providing the the reference link. So for now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-26 10:17] #39555 closed

[2019-09-26 10:19] HomEAl0nE commented on #39441
Where is the number thread?

[2019-09-26 10:25] mira-mayhem opened #39586 "Vague undefined statement"
"Large, long-running functions can cause unexpected timeout issues"
What, in practice, does this mean? Is it 5 minutes, 5 hours, 5 days or 5 weeks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 591acd0e-bb8b-8baf-1b29-e4130d457972
* Version Independent ID: cf553392-0db4-1b83-3277-e6bea88c4a8b
* Content: [Best Practice

[2019-09-26 10:28] jakaruna-MSFT commented on #39577
@rohancragg
Thanks for the question! We are investigating and will update you shortly.

[2019-09-26 10:29] jakaruna-MSFT commented on #39577
@zr-msft @mlearned @jluk please add your comments

[2019-09-26 10:39] AjayKumar-MSFT commented on #39564
@bouchaet, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-09-26 10:42] ram-msft commented on #39581
@philippschaefer4 Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-26 11:04] prajyot2909 commented on #27955
I am facing an issue Error: Azure Functions Runtime is unreachable. Click here for details on storage configuration. Also the Tab to upload the ILB Certificate is disabled. Is there any other way to upload the ILB Certificate to the Azure App Service Environment ?

[2019-09-26 11:11] prajyot2909 commented on #27955
@mike-urnun-msft any idea on the above issue

[2019-09-26 11:15] KetanChawda-MSFT commented on #39586
@mira-mayhem Thank you for your feedback! We will review and provide an update as appropriate.

[2019-09-26 11:20] timoklimmer opened #39587 "Link to sample dataset"
A link to a sample dataset would be very helpful here so one can try out directly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 120ebdde-5785-5850-c963-803bf3744112
* Version Independent ID: 82bc9a4e-3908-499f-dd2c-31eacc227fff
* Content: [Prepare test data for Custom Speech - Speech Service - Azure Cognitive Service

[2019-09-26 11:35] Phydeauxman commented on #27955
@prajyot2909 where are you trying to access the Functions App from? You have to access it from a machine (VM) that is in the same vNet as the Functions App.

[2019-09-26 11:41] KalyanChanumolu-MSFT commented on #39565
Thank you for reaching out. We are actively investigating and will get back to you soon.

[2019-09-26 11:50] AshokPeddakotla-MSFT commented on #39585
@cofjee  try to [clean up resources](https://docs.microsoft.com/en-us/azure/digital-twins/quickstart-view-occupancy-dotnet#clean-up-resources) and do it again?

[2019-09-26 11:57] DonPetry-EY opened #39589 "Are there billing charges for a Stopped AppGW?"
When we used the Stop command, what effect does this have on billing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independent ID: 08ad49f3-6a57-b925-794a-37215e985aba
* Content: [Frequently asked questions about Azure Application Gateway](https://docs.microsoft.com/en-u

[2019-09-26 12:02] macamhi opened #39590 "Web service signature description!"
It would be VERY useful to specify, either in this page or another related to AutomatedML, that the webservice signature is :
{
  "data": [
    [
      # list of values of fields in alphabetical order (no key)
    ]
  ]
}

I had to connect the container to find out the order of features was not the same than in the scoring script of the model.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-09-26 12:03] KetanChawda-MSFT commented on #39586
@ggailey777 any thoughts here?

[2019-09-26 12:04] philippschaefer4 commented on #39581
Hello again,
it appears a hundred time's the charm. I tried the same steps again today after complaining and after some hours of training everything works as planned. I'm closing the thread although it is still a bit strange that it work now and previously not.

[2019-09-26 12:04] #39581 closed

[2019-09-26 12:12] SnehaAgrawal-MSFT commented on #39466
@Nemeczek Thanks again for asking question! As per my research this feature is not currently available for Linux Host but you can enable ARR Affinity with always on to achieve similar behavior.

[2019-09-26 12:14] SnehaAgrawal-MSFT commented on #39494
@dcbrown16 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-09-26 12:19] ms-vincent commented on #39379
Looks good. The one comment that I would make is under "Install Edge Runtime".

Within the line "Replace the placeholder values for {scope_id}, {registration_id}, and {symmetric_key} with the data you collected earlier."

I would also clarify what the symmetric_key is. For group enrolment, it's the derived key and for individual enrolment, it's the primary or secondary DPS key.

[2019-09-26 12:35] mkpsw opened #39591 "AzureRM/Az"
The Screenshots with regards to "Create and schedule Azure Automation runbook" are a mix of AzureRM and AZ-modules, please address this as the scripts simply does not work. Either go for a script that can be deployed and run with either modules imported or create a version of both.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-09-26 12:36] jmprieur commented on #36967
@Darko-git @GaryTuttle1, Thanks again for your feedback.
The new page is now available.

#please-close

[2019-09-26 12:36] #36967 closed

[2019-09-26 12:47] SubhashVasarapu-MSFT commented on #39589
@DonPetry-EY, We are looking into this query and will update you as soon as possible.

[2019-09-26 12:53] arnabhetc opened #39592 "How to Use third party Lib for the Python module"
I am trying to get the CPU usage details,  so i have imported psutil module in in "main.py"  template code given my azure like this -->

![image](https://user-images.githubusercontent.com/47913360/65689047-c9a9ca80-e089-11e9-8452-36762f3d362f.png)

but when its deployed in the Ubuntu 16.04, in that module i am getting bellow error -->

[code]

I have installed the psutil library in the machine whe

[2019-09-26 13:02] Menziess commented on #38896
I was looking for an example on how to create a certificate, maybe this `Makefile` helps other people.

[code]

[2019-09-26 13:12] crafty78 opened #39594 "User Attributes & Claims missing forAzure Active Directory single sign-on (SSO) integration with Amazon Web Services (AWS)"
the section for adding the extra 'User Attributes & Claims' seems to have removed from the instructions. Without those it was not working. Looking at the git history was removed in the commits 17th September but not sure if on purpose or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a859

[2019-09-26 13:16] LaloCo opened #39595 "What happens when easy tables is removed?"
So easy tables are being removed on November 11th, what happens then? How do we make the node.js backend work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4467b7b-c082-73d2-5626-038fb12d25a3
* Version Independent ID: b9874b73-5524-6238-ea70-a23d8a27aa47
* Content: [Get started with Mobile Apps by using Xamarin.Form

[2019-09-26 13:21] sajal-mukherjee-git opened #39596 "Support for Azure Government"
Hi,

It would be good if there are some details about if this works the same way for Azure Gov and other non-commercial instances.

[2019-09-26 13:38] temitopefunmi commented on #37518
Hi,Apologies for the delayed response. I am still getting the same thing, no changes seen.Thank you.
    On Thursday, September 12, 2019, 07:05:59 AM GMT+1, Archer Zhao <notifications@github.com> wrote:

We made some updates since last release, and now all the listed locales (including en-GB) support audio +trans data training. So the problem should be fixed. Please have a try.

—
You are receivin

[2019-09-26 13:44] shindigo commented on #39536
Hi Alberto - that's right.  I wanted to make sure that anyone trying to do
this from behind a proxy was not getting stuck like I was.

On Wed, Sep 25, 2019 at 6:59 PM Alberto Vega <notifications@github.com>
wrote:

[2019-09-26 13:48] ChrisSommers opened #39597 "Scalability"
It says "Unrestricted cloud scalability - Azure Firewall can scale up as much as you need to accommodate changing network traffic flows, so you don't need to budget for your peak traffic."

However, what is not clear is is this automatic and invisible to the customer? Or does it require that you manually deploy extra firewall instances?

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-09-26 13:51] #36915 closed

[2019-09-26 13:53] AhsanSAlam commented on #39441
Thanks for sharing the doc (https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-daemon-app-registration#api-permissions---app-permissions-and-admin-consent). I already had appRoles defined and it shows correctly when I select "API Permission\Application permissions". But my question was why doesn't the API Scopes show up for my APIs. If I try to use Microsoft Graph API, API sc

[2019-09-26 13:55] szymonslipek commented on #39572
Is there any way to skip 14 days period after deletion in order to allow backup in another vault? We are planning massive reorganisation of vaults and this "soft-deleteion" feature seems like big stop.

[2019-09-26 13:56] Sethu2488 commented on #39514
Any update on the above ask

[2019-09-26 14:00] jmprieur commented on #39441
@AhsanSAlam : I'd think that this would be because you need to defined the "allowedMemberTypes" to both "User" and "Application".
See https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps#examples

[2019-09-26 14:09] spelluru commented on #11561
#assign: axisc

[2019-09-26 14:10] spelluru commented on #11561
#assign:clemensv

[2019-09-26 14:11] spelluru commented on #11561
@clemensv - could you please review and reply as soon as possible? Thanks.

[2019-09-26 14:14] eross-msft commented on #39432
@PandaWood  We have a note that says, "If this is the first time you're setting up the Microsoft Authenticator app, you might receive a prompt asking whether to allow the app to access your camera (iOS) or to allow the app to take pictures and record video (Android). You must select **Allow** so the authenticator app can access your camera to take a picture of the QR code in the next step. If you

[2019-09-26 14:21] chillryan commented on #39025
Hi @nicklooo, the access token will be consumed by the back-end app. By adding the front-end app URI as an allowed setting, this is telling the back-end app that the bearer token from the front-end app is okay to use.

I think if you were to only use the back-end, authenticated users from the front end app would have to sign-in again to use the back-end API.

[2019-09-26 14:24] RyanHill-MSFT commented on #39514
Hi @Sethu2488 I'm currently investigating and will update you on my findings.

[2019-09-26 14:36] SmurfHefty commented on #33500
In my case the **objectId** from retrived in the payload from  az ad sp list --display-name xx
is the same as Id from Get-AzADServicePrincipal -DisplayNameBeginsWith xx

[2019-09-26 14:43] sumitsengupta opened #39599 "This page references itself through another URL in the same page."
[Enter feedback here]
As of 10:30 am EST on 09/26/19, in the documentation page - https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-get-started-restore, there is a note section that says this with two links-->

 Note

For more information on backing up and restoring a SQL Server database using Azure Blob storage and a Shared Access Signature (SAS) key, see SQL Serve

[2019-09-26 14:43] BhupalPatil opened #39600 "Can the app registration be optional?"
Can the app registration with Azure AD mandatory? (from the steps mentioned above) if yes what level of access developer required on AD to be able to register?

Can UI application directly access the TSI data and use JS JDK to build graphs?

Thanks,
Bhupal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53d7aa53-325c-87

[2019-09-26 14:45] tschn opened #39601 "this does not work for AAD B2C"
any idea on when we will be able to reset passwords for users in the AAD B2C interface? Is AAD B2C still in Beta?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9922a978-39e8-80c1-07b0-58d3cef4e127
* Version Independent ID: fcbddc27-fdb0-4c1e-bb0c-168b24152c69
* Content: [Reset a user's password - Azure Active Director

[2019-09-26 14:48] IgorPietraszko commented on #39301
Sorry, I was busy on other tasks.

So yes, I added Resource Owner Password as an option and when I go to the
developer portal, I can select Resource Owner Password and am asked for UID
and PWD but when I enter it, I still get the same error message as I was
getting when trying to connect through my mobile app:

An error has occurred while authorizing access via
UrdaApiOAuth-AuthCodeGrant: invalid_

[2019-09-26 14:49] MGoedtel commented on #39569
@BhupalPatil - The data ingested into the workspace is stored in a custom log called "Population", as specified in the Send Data action properties.  As you can see in the example queries, it is referenced as "Population_CL".  The _CL is automatically appended to the name of the custom log but isn't reflected in the action, this is default behavior with custom logs in AzMon Logs.  See this article

[2019-09-26 14:50] MGoedtel commented on #39569
Reassigning to #cxp to follow-up on this issue.

[2019-09-26 15:09] msajidirfan commented on #32095
@Alberto-Vega-MSFT, sorry for getting back late. I'm referring Microsoft documentation and specifically looking for maximum concurrency for Azure Service bus Topic trigger. The one that you mentioned earlier is for HTTP trigger.

[2019-09-26 15:15] GiftA-MSFT commented on #39590
Hello @macamhi , thank you for reaching out. We will look into this issue and get back to you shortly.

[2019-09-26 15:16] sochan1 opened #39603 "Columnstore indexing for Standard says s3 and above"
Columnstore indexing for Standard says s3 and above - https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers-dtu#compare-the-dtu-based-service-tiers

Please provide link to find into about S3 and above tiers ???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8f9b79-678b-7a3e-0642-8ae7bd8a790b

[2019-09-26 15:17] GiftA-MSFT commented on #39587
Hello @timoklimmer, thank you for reaching out. We will look into this issue and get back to you shortly.

[2019-09-26 15:18] MichelSchols commented on #39216
@PeterTurcan @MHarrison22

TempData not being persisted is a known issue in .NET Core 2.2 MVC apps. It is caused by an incorrect order of method calls in Startup.cs . This is a template issue; the tutorial does not touch Startup.cs .

The fix is to edit the Configure(..., ...) method in Startup.cs : move app.UseCookiePolicy() below app.UseMvc(...) .

More detailed instructions can be found here: h

[2019-09-26 15:19] SubhashVasarapu-MSFT commented on #39597
@ChrisSommers, We are looking into this query and will update you as soon as possible.

[2019-09-26 15:19] MicahMcKittrick-MSFT commented on #38357
@athinanthny @peterpogorski might be able to assist further.

[2019-09-26 15:26] sochan1 commented on #39603
https://azure.microsoft.com/en-in/pricing/details/sql-database/single/

you can close this thread

[2019-09-26 15:44] arunkp89 commented on #35572
Hi Team, Any update on this request.

[2019-09-26 15:49] eross-msft commented on #39432
#please-close

[2019-09-26 15:49] #39432 closed

[2019-09-26 15:59] v-stadam commented on #39379
I'm not sure if you saw the beginning of that section, which seems sufficient to cover the points you raise (and mimics the format used in the other DPS articles):

You'll need the following information when provisioning your device:

-     The DPS **ID Scope** value
-     The device **Registration ID** you created
-     The **Primary Key** you copied from the DPS enrollment

**Tip**
For group enr

[2019-09-26 16:04] buckspencer opened #39605 "Not helpful"
There are no code samples showing how to change styles. Adjusting the background-color CSS doesn't work....  I'm having trouble even finding the source code for this library...

If this page had a code snippet like this, it would be much more helpful.|

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 447dd280-8d3

[2019-09-26 16:12] PaoloCastAway opened #39606 "The "response_type" field in the setup wizard does accept "code" and "id_token" only"
This document says "response_type" supports 3 values ("code", "token" and "id_token") but the configuration page on the B2C portal actually accepts "code" and "id_token" only

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15942a1a-df5c-bbeb-a693-510aadede4b2
* Version Independent ID: dd96db95-d230-9690-ab08-dfc6ceaff7f

[2019-09-26 16:15] NavtejSaini-MSFT commented on #39599
@sumitsengupta Thanks for the feedback and we are checking this.

[2019-09-26 16:21] NavtejSaini-MSFT commented on #39603
@sochan1 Thanks for the question and we are glad you were able to find the necessary information. We will close this thread.

[2019-09-26 16:21] #39603 closed

[2019-09-26 16:28] billyclaymyersmsft commented on #34725
For anyone coming across this after 9/11/19 - A change has been made so that Path based rules are NO LONGER CASE SENSITIVE. This puts it inline with the V1 App Gateway, and the documentation at https://docs.microsoft.com/en-us/azure/application-gateway/url-route-overview#pathpattern has been updated to reflect this change.

[2019-09-26 16:31] josiahlaivins opened #39607 "Container Not Found / Time out"
I'm trying to have 2 modules, where one handles the blob upload and another takes pictures and saves them into a volume. However this documentation is confusing. I would like to see a full deployment.template example. Specifically, I want to see an example where 2 modules coordinate because we have the ImageUploader (azure-blob-storage:latest) and any other module to use it.

I am getting the outp

[2019-09-26 16:39] jkochhar commented on #38623
Thanks! I ll investigate with the config you shared and update.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Micah <notifications@github.com>
Sent: Tuesday, September 24, 2019 9:13:06 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jitendra Kochhar <jitendra.kochhar@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftD

[2019-09-26 16:40] tscholze commented on #22870
Hi folks,
I get the same error using the 7 day trail and the endpoint `https://westcentralus.api.cognitive.microsoft.com/text/analytics`.

Has anybody an idea why this happend? I using the quickstart for a Sentiment analysis.

[2019-09-26 16:41] iainfoulds commented on #36943
The PM and engineering team have looked at this as part of their plans to update the domain-join experience. With the current behavior, Azure AD DS doesn't include the UID/GID attributes as part of the directory schema. This was a change introduced in Windows Server 2016 for native on-prem deployments on running your own domains in Azure VMs. As such, the UID/GID mapping on domain-join RHEL VMs is

[2019-09-26 16:41] #36943 closed

[2019-09-26 16:44] roygara commented on #38348
@forester123 I'm still waiting to hear back, I'll let you know if I hear anything.

[2019-09-26 16:46] NavtejSaini-MSFT commented on #39599
@sumitsengupta You are correct  and we have created a Pull Request to make the change. Once approved by reviewer, the changes will be visible and route to  - https://docs.microsoft.com/en-us/sql/relational-databases/backup-restore/sql-server-backup-to-url?view=sql-server-2017

@srdan-bozovic-msft Please review and approve the PR raised for correcting this issue - https://github.com/MicrosoftDocs/a

[2019-09-26 16:46] AshokPeddakotla-MSFT commented on #39336
@kgremban I am getting the same issue, could you please review this and update.

[2019-09-26 16:49] MarileeTurscak-MSFT commented on #39583
@Kazzan
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-26 16:51] elamalani commented on #39595
@LaloCo We are only removing Easy Tables experience from Azure portal. Your Node.js backend will continue to work even after that.

You can leverage the current functionality supported by Easy Tables by following the instructions in this blog post - https://azure.github.io/AppService/2019/07/25/Removing-Easy-Tables-and-Easy-APIs-from-Azure-App-Services.html. This explains how to add, modify, delet

[2019-09-26 16:52] NeighborGeek commented on #35337
I'd say that as it stands currently, this IS a documentation issue, in that the documentation recommends something that isn't supported by the service.  Ideally, the service will add support for this, but until then, should the documentation really be recommending the impossible?

[2019-09-26 17:08] MarshHawk opened #39611 "No logging in Stream logs using System.Diagnostics.Trace"
Using Asp.Net Core Web API 2.2 and following steps:
1. Enable application logging (Windows) (Set File System to Verbose and Save)
2. Add log messages in code (Simply adding System.Diagnostics.Trace... statements in HTTP get endpoint)
3. Navigate to Application logs via Stream logs In Azure portal

Expected result: Trace statements are output to the stream console
Actual result:  none of the custom

[2019-09-26 17:10] JasonWHowell commented on #39568
Hi @sujithq
We fixed the issue yesterday and it published this morning. Thanks for pointing out the issue!
~Jason

[2019-09-26 17:10] JasonWHowell commented on #39568
#please-close

[2019-09-26 17:11] #39568 closed

[2019-09-26 17:12] SnehaGunda commented on #34157
@shrey-agarwal please followup with Sri using the above contact, we will close this issue here but tract at through email.

#please-close

[2019-09-26 17:12] #34157 closed

[2019-09-26 17:14] PramodValavala-MSFT commented on #39429
@jrm346 Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-26 17:14] #39429 closed

[2019-09-26 17:15] MarshHawk commented on #39611
To clarify, I had to setup a logger object via some of the instructions here: "By default, ASP.NET Core uses the Microsoft.Extensions.Logging.AzureAppServices logging provider. For more information, see ASP.NET Core logging in Azure" Just using System Trace did not work output anything

[2019-09-26 17:21] AhsanSAlam commented on #39441
I believe I've tried that as well; but I'll try again

[2019-09-26 17:23] cijothomas commented on #34816
this is completed. #please-close

[2019-09-26 17:23] #34816 closed

[2019-09-26 17:24] cijothomas commented on #17243
THis is done. #please-close

[2019-09-26 17:24] #17243 closed

[2019-09-26 17:26] PramodValavala-MSFT commented on #39498
@jozsefkovacs Just following up here... Hope my previous comment helps.

I believe its best to continue the discussion for this on the [azure-functions-durable-extension repo](https://github.com/Azure/azure-functions-durable-extension) itself. Also, any doc update required for this would be done once its implemented there.

Since there is no action needed at the moment, we will now proceed to clos

[2019-09-26 17:26] #39498 closed

[2019-09-26 17:26] MarileeTurscak-MSFT commented on #39582
@Tarvinder91
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-26 17:27] MarileeTurscak-MSFT commented on #39584
@Tarvinder91
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-26 17:28] MarileeTurscak-MSFT commented on #39594
@crafty78
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-26 17:29] MarileeTurscak-MSFT commented on #39606
@PaoloCastAway
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-26 17:31] MarileeTurscak-MSFT commented on #39601
@tschn
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-26 17:34] crixo opened #39613 "ProfileEdit User Flow v1 vs v2"
I noticed ProfileEdit User Flow v1 does not allow to customize the sign in page while v2 does.
That's lead to have as sign in page for v1 the page/url of tenant as customized in the "Azure Active Directory" section (left bar navigation on the azure portal).

Even if the host name in the initial user flow url is "YOUR_TENANT.onmicrosoft.com", the host name of the sign in page for the v1 is going to

[2019-09-26 17:36] cgillum commented on #39498
Just to echo what @PramodValavala-MSFT said, we have not yet done the work to support the Service Bus provider in Durable Functions. If we get sufficient demand for this and implement it then we will update the docs accordingly. Please do let us know in the **azure-functions-durable-extension** repo if you would like this feature, and be sure to explain why you think it's necessary - that will hel

[2019-09-26 17:41] MarileeTurscak-MSFT commented on #39594
@crafty78 I am also unsure why this was removed. @jeevansd is there a reason for this?
https://github.com/MicrosoftDocs/azure-docs-pr/commit/e01c0dc5b1d9297923a4309186633b8adf6555ee#diff-30630134f64d94ae0d219d11d18e8656

[2019-09-26 17:42] RyanHill-MSFT commented on #39514
From what I'm understanding, logstash will echo stdout. As far as I know, as long as you've configured your container for using logstash, then I don't see a reason why it wouldn't work.

I did come across https://www.elastic.co/guide/en/logstash/current/azure-module.html#scaling-blob which leads me to believe you can configure blob storage as destination for logstash. Whether or not this feature i

[2019-09-26 17:50] SaurabhSharma-MSFT commented on #39534
@SaeedAlbarhami It works for me.  Can you please check if you have latest Az Module installed.  Reference [Install the Azure PowerShell Az module](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-2.7.0).
You can also refer to [Introducing the new Azure PowerShell Az module](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-2.7.0)

[2019-09-26 17:54] LaloCo commented on #39595
Thanks @elamalani. Ok, so existing services won’t be affected, but what if I want to create a new Web App that supports mobile? That post says something about running `npm install azure-mobile-apps` but that always fails in the App Service Editor.

So far I’ve been able to successfully connect a new SQL database using the connection string, and set the web app to be mobile setting the application

[2019-09-26 17:58] MarileeTurscak-MSFT commented on #39556
You are right! I added a pull request to add this.

Adding @jeevansd for review. https://github.com/MicrosoftDocs/azure-docs-pr/pull/89842

[2019-09-26 17:58] #39556 closed

[2019-09-26 17:58] rolyon commented on #39331
Hi @toddysm
I did the following test. I created a new user, created a new group, added user to group, and then assigned the group the Owner role at subscription scope. When signed in as the new user, the Rename option on the Subscriptions blade was enabled for me.
Is your setup something different? What happens when you try this test?
thanks

[2019-09-26 18:08] krisrajz commented on #39460
Thanks for the follow-ups. I deleted and re-tried with no success. I just leave the exercise incomplete for now without spending much time further!

[2019-09-26 18:16] rajaschava commented on #39122
I have posted script to upload public, private certs to azure web app services. You can find it [here](https://stackoverflow.com/questions/57979337/how-to-upload-private-key-certificates-pfx-public-key-certificates-cer-to/58119274#58119274).

[2019-09-26 18:18] HeidiSteen commented on #39184
@jason-work123 Update -- I changed the service limits doc to explain that replicas/partitions are dedicated but some network infrastructure is shared.  The change is in this pull request on our private repo, https://github.com/MicrosoftDocs/azure-docs-pr/pull/89843, and the refreshed page should be live sometime today.   I'm going to close this issue but feel free to reopen if you think it's not r

[2019-09-26 18:18] #39184 closed

[2019-09-26 18:20] asudbring commented on #38238
Created powershell article for this:
https://docs.microsoft.com/en-us/azure/load-balancer/configure-load-balancer-outbound-powershell
#please-close

[2019-09-26 18:20] KranthiPakala-MSFT commented on #39591
@mkpsw Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-09-26 18:20] #38238 closed

[2019-09-26 18:21] HeidiSteen commented on #39265
@jaiswati  Question:  did you retry the operation?  If it was indeed a temporary issue, then your request should work now.  If it had been a problem with your skillset, or if you had exceeded a specific limit, you would have received a different error.

[2019-09-26 18:22] SaurabhSharma-MSFT commented on #39441
@jmprieur Not exactly, I have assigned this issue to you as you were updating the document.

[2019-09-26 18:23] MarileeTurscak-MSFT commented on #39606
I checked and you're right. It only shows id_token and code.
![image](https://user-images.githubusercontent.com/13383753/65714470-fc36d180-e04f-11e9-9185-ce6a489f0642.png)

I made a pull request to remove this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/89849

+ @mmacy

[2019-09-26 18:23] #39606 closed

[2019-09-26 18:24] SaurabhSharma-MSFT commented on #39582
@Tarvinder91 No, the VM needs to be pre-provisioned for Disk Encryption.  Please post this as a feedback https://feedback.azure.com/forums/347535-azure-security-center. This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2019-09-26 18:25] mmacy commented on #39606
Thanks @PaoloCastAway for the catch and @MarileeTurscak-MSFT for the fix! 🏅

[2019-09-26 18:29] luiscantero opened #39617 "Kusto for "Computers Still Missing Updates" is wrong"
The current sample tests for the following as means of detecting updates that are needed, however, UpdateState could also be "Installed" and would also be detected by the current where clause:
UpdateState != "Not needed" and UpdateState != "NotNeeded"

A correct way would be as follows:
let ComputersMissingUpdates3DaysAgo = Update
| where TimeGenerated between (ago(30d)..ago(1h))
| where Classific

[2019-09-26 18:30] Mike-Ubezzi-MSFT commented on #39565
@anilvem1 This scenario is not supported. If you want to create external tables, these would need to be created in the primary instance and then replicated to the read replicas, where they are then accessible via the `ApplicationIntent=ReadOnly` connection string designation. All functionality that is supported by the Hyperscale service is done through the primary and available in the replicas as

[2019-09-26 18:31] antonsimola commented on #7192
Its closed issue but im wondering this as well. Did you manage to get it working somehow? I tried stack overflow link by jtlz2 - to no avail.

[2019-09-26 18:33] walsehgal commented on #39605
Hi @buckspencer, we do have a document with code samples on (how to set and update a map style)[https://docs.microsoft.com/en-us/azure/azure-maps/choose-map-style]. Please let me know if this helps.

[2019-09-26 18:43] maple10001 opened #39618 "Is there a way to ture off autocollect feature?"
- Can I turn off autocollect feature completely?
- Can I turn off autocollect for `User information` only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Content: [Azure Application Insights for JavaScript web apps](ht

[2019-09-26 18:43] asudbring commented on #39503
Sent email to PM verifying that this statement was the case and will update doc when verification is approved.

[2019-09-26 18:43] StingyJack commented on #39415
I was in the cloud shell.

I have multiple subscription, but it's a checkbox in a drop-down list when searching for resources. I don't need to set it via cli for anything except when I'm iterating through them for some programmatic reason (like finding all the deployed webjobs.

[2019-09-26 18:48] anrothMSFT commented on #7192
Thanks for bumping this. It has generated a hallway discussion this AM about whether to add TF.js export as an export flavor (we added TF lite last week, although release notes are lagging.) Something for us to keep discussing

@harishkrishnav on our team has been playing around with tf.js and might be able to provide some hints in the interim...

[2019-09-26 18:49] buckspencer commented on #39605
Thank you I ended up finding that. It would be so helpful if the documentation contained links to the samples.
Thanks again

[2019-09-26 18:49] #39605 closed

[2019-09-26 18:53] walsehgal commented on #39605
@buckspencer, thanks for your feedback. We will add the links.

[2019-09-26 18:55] MarileeTurscak-MSFT commented on #39583
@Kazzan just to clarify do you think this should be added as a note after the test user section since it talks about User Attributes?

[2019-09-26 18:58] GiftA-MSFT commented on #39587
@timoklimmer, thank you for your feedback. If you're not aware, there are samples available in the [Cognitive-Custom-Speech-Service](https://github.com/microsoft/Cognitive-Custom-Speech-Service) GitHub repository. This should get you started.
@erhopf, perhaps we can add a link to [Cognitive Speech Service samples](https://github.com/microsoft/Cognitive-Custom-Speech-Service) or any other samples y

[2019-09-26 18:58] Japeth commented on #39282
Where can I view the backlog?
@MicahMcKittrick-MSFT

[2019-09-26 19:00] buckspencer commented on #39605
Wow thanks

On Thu, Sep 26, 2019 at 11:54 AM Waleed Sehgal <notifications@github.com>
wrote:

[2019-09-26 19:02] erhopf commented on #39587
#reassign: @ArcherAZ

[2019-09-26 19:02] BadFame commented on #35553
Hi,

First of all, I have been working to get the Webhook setup and got it to work just fine using Speech Services V2.1 as suggested in this thread. If it wasn't for this thread, I wouldn't have known at all on how to fix it since v2.1 speech services is not documented anywhere. Only 2.0 for the batch transcription and 2.1 for the Webhook.

Secondly, the Webhook stopped calling my callback URL thi

[2019-09-26 19:03] erhopf commented on #39587
@GiftA-MSFT - For feature requests that aren't doc issues, please assign to PMs. Thank you!

[2019-09-26 19:09] cawrites commented on #39487
@jusbeyer we have updated this issue with a response. Please don't hesitate to contact us again if you have further questions.

[2019-09-26 19:09] cawrites commented on #39487
#please close

[2019-09-26 19:10] #39487 closed

[2019-09-26 19:13] jonwbstr opened #39619 "Mixed messages"
Last I checked, Microsoft was encouraging the elimination of passwords by enabling Passwordless sign-in. Everyone in this report has passwordless sign-in enabled and is not using a traditional password.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a8ae82f-6d28-7186-da5a-226a7071c1c1
* Version Independent ID: 4681d5a

[2019-09-26 19:13] SubhashVasarapu-MSFT commented on #39589
@DonPetry-EY, We charge for the application gateways based on the amount of time that the gateway is provisioned and available, as well as the amount of data processed by the application gateways. We won't charge the AppGW which was stopped. So, there should be no billing charges for a stopped APPGW.

[2019-09-26 19:16] KumudD commented on #37302
@dmpe Thanks for bringing this to our attention. The link has been updated.

#please-close

[2019-09-26 19:16] #37302 closed

[2019-09-26 19:18] SubhashVasarapu-MSFT commented on #39567
@forester123, Yes you can use Express route too as long as ER doesn't advertise 0.0.0.0/0 which breaks management/control plane path. @vhorne, Could you please edit the document accordingly if necessary.

[2019-09-26 19:18] TerryLanfear commented on #39332
@DeanGross - Thank you for your feedback. We have Azure best practices for securing PaaS web and mobile applications using Azure App Service (https://docs.microsoft.com/azure/security/fundamentals/paas-applications-using-app-services).

Azure security benchmark information is in development and will be published in the future. The benchmark information is a collection of security recommendations f

[2019-09-26 19:19] KumudD commented on #37304
@dmpe Thanks for bringing this to our attention. The doc has been updated.
#please-close

[2019-09-26 19:19] #37304 closed

[2019-09-26 19:19] GiftA-MSFT commented on #39590
Hello @macamhi, thank you for your feedback. Did you use the auto-generated scoring script or did you upload a scoring file?

[2019-09-26 19:22] shashishailaj commented on #39328
@softwarecraft Thank you for pointing it out. We appreciate your attention to detail. We have updated the article appropriately. The changes should be live in the next 24-48 hours as per the build/release  process. We will close this issue now. In case you have any further issue please tag me or the doc author to your reply and we will help you further.

[2019-09-26 19:22] asudbring commented on #34432
#reassign:@asudbring

[2019-09-26 19:23] asudbring commented on #12183
#reassign:@asudbring

[2019-09-26 19:24] #39328 closed

[2019-09-26 19:24] asudbring commented on #12183
#please-close

[2019-09-26 19:24] #12183 closed

[2019-09-26 19:25] vlad-kozlov commented on #32251
any status update on HA for Hyperscale tier?

[2019-09-26 19:26] shashishailaj commented on #39311
@BeyMelamed We will be closing this issue as we do not have enough information to process this request. Please tag me or the document author @eross-msft to your reply and we will be happy to help with your queries.

[2019-09-26 19:26] #39311 closed

[2019-09-26 19:28] jonwbstr commented on #39619
This is regarding the alert "Potential stale accounts in a privileged role"

[2019-09-26 19:32] SaurabhSharma-MSFT commented on #39584
@Tarvinder91 You can check for keyEncryptionKeyURL optional parameter.  If you want the template to use KEK then you must need to provide it else you can leave it for non-kek.  Please refer to the [template section](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-windows#-using-the-resource-manager-template) of the document.

[2019-09-26 19:36] macamhi commented on #39590
I just wanted to call the web service from a web application, in my case a Flow from PowerApps.
By the way, the sample scoring script didn’t have the same order of parameters than the web service.

Envoyé de mon mobile

Le 26 sept. 2019 à 21:20, GiftA-MSFT <notifications@github.com<mailto:notifications@github.com>> a écrit :

Hello @macamhi<https://github.com/macamhi>, thank you for your feedback.

[2019-09-26 19:38] SaurabhSharma-MSFT commented on #37729
@langstonj Unfortunately you cannot run any adhoc update to your scores as Security center has inbuilt algorithms which constantly reviews and calculates your score based on your active recommendations.  Please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/347535-azure-security-center). This will allow the community to upvote and for the product team to include into thei

[2019-09-26 19:38] Targolo opened #39623 "missing header parameter"
I had to add:
        'Ocp-Apim-Subscription-Region': 'westus'
in the headers dictionary for the translator API call to work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c810d231-9b2a-b630-44e8-3d3942e88a65
* Version Independent ID: bbb370fc-da93-9274-d2a1-a31586fd7213
* Content: [Tutorial: Build a Flask app to trans

[2019-09-26 19:39] Mike-Ubezzi-MSFT commented on #32251
@vlad-kozlov Is there something specific you are looking for in the documentation pertaining to High Availability? Much of the Hyperscale service is resilient but the document you have filed this issue under does not include any details. The [Hyperscale FAQ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tier-hyperscale-faq) document does have an entry that touches upon t

[2019-09-26 19:39] Mike-Ubezzi-MSFT commented on #32251
@stevestein For awareness.

[2019-09-26 19:46] MicahMcKittrick-MSFT commented on #39282
@Japeth internal only. This is something the team is considering but no updates besides that.

[2019-09-26 19:59] cijothomas commented on #16930
@adyrotaru You can see custom metric in Azure Metric Explorer.  (https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-getting-started#create-your-first-metric-chart)

Select ApplicationInsights instnace as resource.
Select azure.applicationinsights as Metric NameSpace.
Select "Jobs" as Metric (assuming your example code)

![image](https://user-images.githubusercontent.com/5232798/

[2019-09-26 20:04] msaburnley commented on #39040
Hey @v-alkolc

On the pricing page, company branding is listing under the offerings for Office 365: https://azure.microsoft.com/en-us/pricing/details/active-directory/

When you are running into this issue what happens?

[2019-09-26 20:07] RyanHill-MSFT commented on #39611
@MarshHawk it does appear that only messages written using ILogger are captured in App Service Logs. I will follow up to see if System.Diagnostics.Trace has been removed/deprecated and if so, the reasoning behind it.

[2019-09-26 20:08] ChristianMontoya commented on #39282
@Japeth : We know of other partners who are customizing their own templates with VMSS. However, we do not recommend it as it does not have granular enough controls built-in to be aware of stateful user sessions. If we do support VMSS as a deployment mechanism in the future, we would also target having the scaling mechanisms (and other tools) be aware and support VMSS as well. This is why it is on

[2019-09-26 20:15] normesta commented on #24341
#please-close

[2019-09-26 20:15] #24341 closed

[2019-09-26 20:21] RyanHill-MSFT commented on #39611
@MarshHawk I did find https://github.com/aspnet/Logging/issues/676 which explains that System.Diagnostics.Trace doesn't use configuration that .NET Core is built upon. If you really want to use System.Diagnostics.Trace, you'll have to add as a dependency yourself to your app.

[2019-09-26 20:22] MarileeTurscak-MSFT commented on #39583
Hi @Kazzan ,

I made a pull request to add a note about case sensitivity. https://github.com/MicrosoftDocs/azure-docs-pr/pull/89873

If you believe the note should say something else, feel free to make your own pull request by hitting the "Edit" button on the top right of the article.

Closing this out.

[2019-09-26 20:22] #39583 closed

[2019-09-26 20:25] rajatb94 commented on #35553
Hi @BadFame,
I just tested my system after reading your comment. You are correct, I think even the v2.1 has stopped working. I think we should try v2.2 and wait for even that to stop working #lol

[2019-09-26 20:28] curtand commented on #28264
Hi @JohnMoor
Thanks for your patience. An admin role scoped to an AU allows them to manage the AU only, which means, for example, the can add or remove users (even ones not in the AU due to default user read permissions--to be addressed in the future) to and from groups in the AU, but can't add or remove users which requires the organization-wide scope. I opened to work item to enumerate powers, b

[2019-09-26 20:28] #28264 closed

[2019-09-26 20:31] garrmark opened #39624 "I believe that System.Net.HttpClient should be System.Net.Http.HttpClient"
In this section https://docs.microsoft.com/en-us/azure/azure-monitor/app/correlation#telemetry-correlation-in-net

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aa5722-ec96-40fb-b03a-0c9e73c7a18c
* Version Independent ID: 28259d9c-5174-f138-c0aa-bc2125c3be1a
* Content: [Azure Application Insights telemetry correlatio

[2019-09-26 20:32] srinadhayarram opened #39625 "Unable to see life cycle management with Data lake store Gen2"
Unable to see life cycle management with Data lake store Gen2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage lifecycle](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-

[2019-09-26 20:41] YutongTie-MSFT commented on #39623
@Targolo Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-26 20:41] cijothomas commented on #16025
#please-close addressed

[2019-09-26 20:41] #16025 closed

[2019-09-26 20:42] cijothomas commented on #38856
#please-close

[2019-09-26 20:42] #38856 closed

[2019-09-26 20:42] cijothomas commented on #16025
#please-close

[2019-09-26 20:43] cijothomas commented on #39624
You are right.

[2019-09-26 20:44] cijothomas commented on #39624
Docs team - can one of you correct it?

[2019-09-26 20:44] BadFame commented on #35553
@rajatb94,

I am just glad that am not the only one experiencing an issue...

This is a cool feat from the service... I wouldn't like to go and create a polling routine. like in the old days...

[2019-09-26 20:52] Karishma-Tiwari-MSFT commented on #39469
Thanks @cynthn for looking into this. :)
Will wait for the update.

[2019-09-26 20:53] cijothomas commented on #38607
@morgangrobin If the question to me is where to add telemetry initializer in asp.net core app (where there is no global.asax), then this doc has the answer:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core#adding-telemetryinitializers

And the equivalent telemetryinitiazlier in asp,net core would be something like below:

[code]

I am not very familiar with user tracking/clien

[2019-09-26 20:55] Karishma-Tiwari-MSFT commented on #39073
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-26 20:55] #39073 closed

[2019-09-26 21:00] Karishma-Tiwari-MSFT commented on #39430
@ShannonLeavitt @pulkitaggarwl Can either of you please share your insights on this issue? Thanks :)

[2019-09-26 21:01] markdebruijne opened #39626 "Cache insights not available within Application Insights and APIM Analytics"
I have an APIM and Redis instance, the latter connected as "Default" cache. Added some cache policies, with explicit cache-store-value caching-type="external" configured. I can see the first request was served from backend, the next requests where served from cache: faster response, and via test inspector tracing a confirmation that response was served from cache (no request to backend). So far go

[2019-09-26 21:03] Kazzan commented on #39583
Hi @MarileeTurscak-MSFT, yes the section about the user selection will be fine, or the mention of user name which is in example written in mixed upper/lower case. Thanks.

[2019-09-26 21:05] anujgeek opened #39627 "How to enable this feature using portal or using plugin?"
How do I enable network policy feature when creating a cluster from azure portal?
I also tried enabling network plugin through: https://github.com/Azure/azure-container-networking/blob/master/docs/npm.md by running kubectl apply -f https://raw.githubusercontent.com/Azure/azure-container-networking/master/npm/azure-npm.yaml.
But then adding network policies don't have any effect.

---
#### Document

[2019-09-26 21:07] morgangrobin commented on #38607
@mrbullwinkle or @lgayhardt  can you update the doc with cijo's info?

[2019-09-26 21:17] MicahMcKittrick-MSFT commented on #39627
We have some additional networking items you can do in the portal during creation

https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni#configure-networking---portal

But in order to use network policies you need to use CLI to deploy the cluster.

[2019-09-26 21:27] cijothomas commented on #38607
@morgangrobin The example in the doc is setting userid,sessionsid from RequestTelemetry to other telemetries in its context. Its not clear to me how this is already populated on RequestTelemetry. There are built-in initializers which would populate on RequestTelemetry and all other telemetry as well, but this doc is for those cases where SDK is not doing it automatically. I doubt if the example is

[2019-09-26 21:28] cijothomas commented on #38607
@markwolff is expert in client-side monitoring, and might be able to help as well.

[2019-09-26 21:37] MarileeTurscak-MSFT commented on #39601
Currently, we only support two ways to reset Azure AD B2C user passwords:

1. Self-service reset password(SSPR) with Azure AD B2C Password reset policy/user flow.

2. Admins help users to reset passwords with the Azure AD Graph API: https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/api/users-operations#reset-a-users-password--

B2C users are not the same as regular Azure AD users,

[2019-09-26 21:37] #39601 closed

[2019-09-26 21:41] Lelivienne opened #39628 "preview not required any longer"
current AzureAD module already contain o365 group commandlets - so recommendation should be to install AzureAD i guess?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cd7a703-534a-5fbd-6470-5d29bf512fd2
* Version Independent ID: 4f70ed16-6a1c-c0be-3c5e-d56e1b7c7275
* Content: [Configure group settings using PowerShell

[2019-09-26 21:41] cijothomas commented on #37176
The recommendation has changed:https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#console-application

For console apps, we recommend the new SDK and the doc (https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service) has example usage of getting TelemetryClient.

[2019-09-26 21:41] #37176 closed

[2019-09-26 21:44] KumudD commented on #35668
@jnxxx The doc has been updated with the following note - The subnets for IPv6 must be exactly /64 in size.  This ensures compatibility if you decide to enable routing of the subnet to an on-premises network since some routers can only accept /64 IPv6 routes.

Thanks!

#please-close

[2019-09-26 21:44] #35668 closed

[2019-09-26 21:44] cijothomas commented on #23786
For pure websites without server component, use this doc: https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript

There wont be Visual Studio support for the same. Its only available for Asp.Net and Asp.Net Core projects.

[2019-09-26 21:44] cijothomas commented on #23786
#please-close

[2019-09-26 21:44] #23786 closed

[2019-09-26 21:50] Dmitry-Matveev commented on #38607
The example on the original page is two-step:
- First is to add user ID to Request Telemetry in global.asax;
- Second is to use this ID for other items with Telemetry Initializer;

The issue seems to be with global.asax modification - newer technologies do not leverage that approach anymore, so this recommendation looks obsolete and it was highlighted by @IanKemp.

There are several ways to solve

[2019-09-26 21:52] curtand commented on #28264
Hi @JohnMoor
I found, in the article (https://docs.microsoft.com/en-us/powershell/azure/active-directory/working-with-administrative-units?view=azureadps-2.0) to which your cited article links, the statement by roles PM and author of the article Vince Smith that an AU-scoped User Account Admin can update profile information, reset passwords, and assign licenses for users in their AU. I'll add that

[2019-09-26 21:54] kobulloc-MSFT commented on #39624
@garrmark Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-09-26 21:55] kobulloc-MSFT commented on #39618
@maple10001 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-09-26 22:01] Japeth commented on #39282
Cool thanks.

[2019-09-26 22:09] PandaWood commented on #39432
Still, the documentation should cater for the possibility that this camera
access issues might arise.

For me, it's definitely not the first time I set up the app, and I've never
knowingly denied access to the camera.
I've been using it for at least 1 year and have about 15 accounts.
I have changed phones in the last few months, and probably upgraded iOS
various times, so perhaps there is some bug

[2019-09-26 22:19] hjlarrea commented on #39222
@MicahMcKittrick-MSFT - Do you know if there are intentions of adding the possibility of mounting shares or blobs as proper Docker volumes in ACI? Thanks again!

[2019-09-26 22:27] websitewill commented on #21983
I am running into the same issue. Using the code from here https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting to change Service Fabric to use JSON Serialization.

I too have the "UseWrappedMessage" set to true in my listener and in my client factory.
I also have the "CustomSerializationBinder.cs" mentioned in the Service Fabric thread that

[2019-09-26 22:29] Adam-Smith-MSFT commented on #39239
@sidharthdeshpande Proxy settings can only be set manually, Storage Explorer do not support pac file configuration. you can fine more under : https://azure.microsoft.com/en-us/blog/microsoft-azure-storage-explorer-november-update/ , in the Account Management area.

[2019-09-26 22:29] #39239 closed

[2019-09-26 22:55] xtellurian commented on #37661
Thanks for getting back to me @KingdomOfEnds !

I'll operate under the assumption of a "large enough" cap, and if I run into a limit I'll comment here.

[2019-09-26 23:05] KranthiPakala-MSFT commented on #39409
@Alan-d We have assigned the issue to the content author. They will evaluate and update the document as appropriate. Thank you.

[2019-09-26 23:13] dcbrown16 commented on #12183
Thanks for getting that updated @asudbring!

[2019-09-26 23:27] MarileeTurscak-MSFT commented on #39628
@Lelivienne
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-26 23:30] stuarthallows opened #39632 "Cannot export ARM template for alerts"
Having entered new alerts they cannot be exported in an ARM template, which makes creating alerts in a template much trickier. Is there any plan to fix this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdff578-da95-2c6c-98a8-e78242c0b0b8
* Version Independent ID: d02a8eab-22e9-e746-dcf8-9880473d3693
* Content: [Mig

[2019-09-26 23:31] MicahMcKittrick-MSFT commented on #39222
@hjlarrea I am not personally sure. @dlepow or @dkkapur might be able to tell you though.

[2019-09-26 23:33] MicahMcKittrick-MSFT commented on #39596
@sajal-mukherjee-git please provide us with a link to the documentation you are referring to so we can better assist.

[2019-09-26 23:36] Alberto-Vega-MSFT commented on #39592
@arnabhetc Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-26 23:43] Alberto-Vega-MSFT commented on #39600
@BhupalPatil Thanks for the feedback! We are currently investigating and will update you shortly. Can you share more detail about the scenario you are trying to build. I guess the level access will depend on what you are trying to do in this tutorial  it's for impersonating the user.

[2019-09-26 23:45] KingdomOfEnds commented on #39585
@cofjee - Thank you for your question! Yes, @AshokPeddakotla-MSFT is right that deleting all resources and starting fresh is a good first step. Secondly, please make sure you are correctly configured on AAD so that you are able to retrieve a token. Also, using an access token saved in `.accesstoken` that's very old may require you to simply remove the token from the `src` folder (it will create a

[2019-09-26 23:50] ulyssesp commented on #28839
Having the same issue. Looks like without the slash `$web` is being interpreted as a variable

[2019-09-26 23:54] ulyssesp commented on #28839
Use single quotes around the storage name - `'$web'`

[2019-09-26 23:55] Karishma-Tiwari-MSFT commented on #39445
Thanks for sharing the details.
You can achieve this by by allowing resource group tags to be passed on the the AKS "MC_..." resource group. You should be able to create AKS clusters while keeping your policy in place by adding the “--tags" argument to the cluster at creation time.
Please refer to this thread on the same.
https://github.com/Azure/AKS/issues/970

This is also possible to do via sub

[2019-09-27 00:08] Alberto-Vega-MSFT commented on #39607
@josiahlaivins Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-27 00:17] tonyt73 opened #39634 "Once a private endpoint has been assigned to a subnet; it cannot be removed"
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/private-link/create-private-endpoint-portal.md

When you create a new subnet and assign a private endpoint to it.
If you then remove the private endpoint, private link and the association to the vnet subnet and then try to add service endpoint definitions, you will get the following error.
```Set-AzVirtualNetwork : Private endpoint n