[2019-05-07 15:45] bjthomson opened #30760 "How to add a second (& third) telemetry measurement?"
I'm following the steps above, trying to define the iconic esp8266/DHT22 device (AKA Hello hardware world), to measure temperature, humidity and battery volts.
I've created a custom device, added a measurement for "Temperature", now if I click on "new Measurement", I see the buttons for Telemetry, State & Event, but which ever I click, it simply rolls up the UI. If I click on "Dashboard" I can see

[2019-05-07 15:57] romankiss commented on #30612
Hi Antonio,

There is no implementation issue with the **Start/Stop Monitoring C2D Message**. Everything is working well.
Clicking on the context menu item such as _Start Monitoring C2D Message_, see the following screen snippet:

![cloudexplorer](https://user-images.githubusercontent.com/30365471/57311684-f5a7bd80-70a0-11e9-8315-8428b249996a.PNG)

the Cloud Explorer will create a "simulated devic

[2019-05-07 15:59] mtillman commented on #30596
Thanks. This seems to be an problem introduced with iOS 12.2. @SyntaxC4 have you heard anything about this? There's an apparent bug using iOS 12.2 to download binary files from GitHub. Most platforms and browsers work as expected. But not iOS 12.2 browsers.

[2019-05-07 16:01] Alberto-Vega-MSFT commented on #29987
@maxiptah I got an internal response and posted on StackOverflow reposting here for future reference:

https://stackoverflow.com/questions/55844044/iot-hub-certificate-validation/56025887#56025887

For your scenario, you can use option (b) with an intermediate CA uploaded to IoT Hub: • Use your IntermProduction for your production Hub, and IntermTest for your test Hub. • The leaf devices are valid

[2019-05-07 16:03] omack-seg opened #30761 "XCode 10.2 - Swift 5"
I have downloaded the example and tried to migrated it from Swift 3 to Swift 5.   There is one error message in the Class ToDoTableViewController:

line 251  fatalError()
The message says I have an Editor Placeholder in source file.

Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 312c8a1a-d55e-26da-699b-6ae9

[2019-05-07 16:03] #28930 closed

[2019-05-07 16:06] digeler commented on #30655
Thanks for the feedback so far.
Just to emphasize am looking for spn or user permissions needed to deploy aks cluster with advanced networking.

So if we can have the needed permissions documented this would be greate.

[2019-05-07 16:10] SubhashVasarapu-MSFT commented on #30527
@prajster , Everything looks good and working from the document. Could you please give a try again.

[2019-05-07 16:11] croraf opened #30762 "I don't see the "Keys" section in Settings"
I'm the owner of my CosmosDB resource. Still I don't see the "Keys" section in the left list? Why so?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6278ead7-854a-a291-89f3-299432737ffb
* Version Independent ID: b2b292bb-1beb-aaef-157c-7b70f5c96bdb
* Content: [Learn how to secure access to data in Azure Cosmos DB](http

[2019-05-07 16:14] CeciAc opened #30764 "AKSAzureADClient should not be 'web', but only works with 'native' type"
@TeunRoefs commented on [Tue May 07 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/278)

The AKSAzureADClient should be created using the 'legacy' version of the App Registration, or try using the 'Public' variant in the new App Registration.

Using web will cause the authentication to fail.

https://github.com/Azure/AKS/issues/535

---
#### Documentdetails

⚠ *Dit gedeelte niet be

[2019-05-07 16:18] CeciAc commented on #30764
Hi team,
I'm moving this here since the user's comments refers to the original documentation
best

[2019-05-07 16:20] tutul2010 commented on #30593
Thanks,
Pls #close

[2019-05-07 16:20] #30593 closed

[2019-05-07 16:26] #30394 closed

[2019-05-07 16:28] CeciAc opened #30765 "Compatibility Table Not Coherent with Troubleshooting Page"
@EEtancelin commented on [Tue May 07 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/350)

Hi, it's seems the troubleshooting page and this one are not coherent.
The (Troubleshooting Page)[https://docs.microsoft.com/fr-fr/azure/active-directory/hybrid/how-to-connect-sso] indicate :

``` Seamless SSO doesn't work in Internet Explorer when Enhanced Protected mode is turned on.```

But

[2019-05-07 16:28] anavinahar commented on #28357
Yep, I think the wording is just not intuitive and not clear. it says first, last, and three and is specific of those three (see below).

"Are there any restrictions on using IP addresses within these subnets?
Yes. Azure reserves 5 IP addresses within each subnet. The first and last IP addresses of each subnet are reserved for protocol conformance, along with the x.x.x.1-x.x.x.3 addresses of each

[2019-05-07 16:30] CeciAc commented on #30765
Hi team,
I'm moving this here since the user is reporting inconsistencies
Best

[2019-05-07 16:32] anirudhcavale commented on #30740
Most metrics support metrics at 1min granularity. There are some metrics that support 5 min or 1 hour granularity. For a more deterministic way of knowing per metric you can use the metric definitions API and look at the 'supportedTimeGrains' property.
https://docs.microsoft.com/en-us/rest/api/monitor/metricdefinitions/list

[2019-05-07 16:34] mrbullwinkle commented on #30742
@yotauber

For the main endpoint and Profile query endpoint you could use:

[code]

For LiveMetrics it is a little more involved, but this should work:

[code]

[2019-05-07 16:34] Absoblogginlutely commented on #30510
So basically, ignore the warnings and install as described then.

[2019-05-07 16:34] #30510 closed

[2019-05-07 16:41] ChiragMishra-MSFT commented on #30720
Glad to know that the issue was resolved. I will now proceed to close this issue. Feel free to still comment if you have any queries.

[2019-05-07 16:41] #30720 closed

[2019-05-07 16:43] YutongTie-MSFT commented on #30747
@garybushey Thank you for your feedback. @rkarlin do you have any idea about this question?

[2019-05-07 16:45] YutongTie-MSFT commented on #30733
@DRSPrashant Thank you for your feedback, we will investigate it and get back to you.

[2019-05-07 16:51] anilvem1 opened #30767 "What is the resolution it uses on each image?"
What is the resolution it uses on each image to extract data? Can we change this setting if needed in container deployments to get better OCR results?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 439c70ec-4484-25de-4942-939112188d58
* Version Independent ID: 08f0bb9d-c6a0-d35b-8b3e-e46cca613487
* Content: [How to ins

[2019-05-07 17:00] MartinJaffer-MSFT commented on #30551
Which error do you get, @maamleka ?
Currently I am seeing ```Invalid Sftp credential provided for 'SshPublicKey' authentication type.```

[2019-05-07 17:00] aquibqureshi26 commented on #26106
Closing the issue. Thanks KumudD :)

[2019-05-07 17:00] #26106 closed

[2019-05-07 17:02] RyanHill-MSFT commented on #30761
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-07 17:05] #30576 closed

[2019-05-07 17:06] YutongTie-MSFT commented on #30505
@michaelstiben Thank you, I will use this to reproduce.

[2019-05-07 17:07] yokawasa opened #30768 "Continuous deployment for custom images enabled in linux function app doesn't work"
By following [this tutorial](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image), I've enabled continuous deployment for custom images in linux function app, and added the deployment URL in my DockerHub repo. However updating to the linked image in DockerHub doesn't cause any update in the function app ( ie. downloading and installing the latest ima

[2019-05-07 17:07] YutongTie-MSFT commented on #30767
@anilvem1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-07 17:08] mike-urnun-msft commented on #30731
Hi @steveculshaw Thank you for your feedback! We will review and update as appropriate.

[2019-05-07 17:10] Mike-Ubezzi-MSFT commented on #17985
@DMKmod Please set the compatibility level of the user database to 140 and then attempt to perform the same action. Azure Managed Instance is currently deployed as version 15 and you are attempting to restore a version 15 user database to an SQL Server currently at version 14. So, run the below T-SQL to change to 140 and then attempt the same action again. You do not need to run the T-SQL on the m

[2019-05-07 17:10] Jeremywhiteley commented on #10584
The only thing I have seen is this.   https://pub.dev/packages/simple_auth_flutter.

[2019-05-07 17:11] Karishma-Tiwari-MSFT commented on #30743
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-07 17:11] Karishma-Tiwari-MSFT commented on #30753
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-07 17:11] Karishma-Tiwari-MSFT commented on #30757
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-07 17:14] mike-urnun-msft commented on #30741
Hi @fkalseth Thanks for sharing! Since this channel is for driving improvements towards MS Docs, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. That said, feel free to raise an issue at Functions public repos and drive discussions as needed. We love seeing & hearing from our custom

[2019-05-07 17:14] #30741 closed

[2019-05-07 17:16] mike-urnun-msft commented on #30744
Hi @Heer-Boaz Thank you for your feedback! We will review and update as appropriate.

[2019-05-07 17:17] mike-urnun-msft commented on #30750
Hi @steveculshaw Thank you for your feedback! We will review and update as appropriate.

[2019-05-07 17:18] maamleka commented on #30551
I don't have the error message handy but I guess it was the same error. I can try to reproduce it and pass it on

[2019-05-07 17:18] jpsebasti opened #30769 "Quick question"
One thing that I'm unclear about right now while this is still in Preview mode.

It appears that there are two basic steps to this entire configuration.
Step 1 is to create the Windows Virtual Desktop tenant from Powershell.  It appears that you must use an Azure AD account that does not have Multi Factor Authentication assigned to it.  I have created my WVD tenant with a non MFA account.

Step 2

[2019-05-07 17:20] MicahMcKittrick-MSFT commented on #30764
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-07 17:20] mike-urnun-msft commented on #30728
Hi @OleksandrValetskyy Thank you for your feedback! We will review and update as appropriate.

[2019-05-07 17:29] KingdomOfEnds commented on #30645
@tmhui94 - Oh I see! Thanks for clarifying. You want to be able to list a TSI environment that someone else (a tenant) manages and owns? I will look into that on my end as well (but of the top of my head I don't think that's presently supported).

You can nevertheless interact with another tenant's TSI environment through the right permission and Oauth 2.0 configuration. If that's what your trying

[2019-05-07 17:31] alenzorbbn25 opened #30770 "Mention option as part of command"
Would of been nice to have a mention under "Manage VM State" page  one can put  "--yes" at the end of those commands to bypass the confirmation of  going ahead with the command i.e.   deleting a VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fc7444e-0ad5-785e-3eb4-b41ce862f719
* Version Independent ID: 505db15e-d9

[2019-05-07 17:34] Silverlight42 commented on #30576
I'm getting a 404. Some links are wrong, for example the presto link:

https://azuremarketplace.microsoft.com/marketplace/apps/starburst.starburst-presto

But the url is missing "en-us"

https://azuremarketplace.microsoft.com/**en-us**/marketplace/apps/starburst.starburst-presto

[2019-05-07 17:38] SaurabhSharma-MSFT commented on #30464
@todayppp I am able to repro it and I can see this message.
![image](https://user-images.githubusercontent.com/38112130/57320000-bb471c00-70b2-11e9-9ed8-a88f2b5b8421.png)
However, If I put "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" first in NameSpace and then in the Name it is allowing me to add the claim.
![SAML-UPN Claim](https://user-images.githubusercontent.com/38112130/573205

[2019-05-07 17:39] shashishailaj commented on #27434
Closing as per request.

[2019-05-07 17:39] #27434 closed

[2019-05-07 17:41] SaurabhSharma-MSFT commented on #30758
@Assisting Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-07 17:44] YutongTie-MSFT commented on #30587
@yingqunpku Thank you for confirmation Qun.

@eraoul We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-07 17:44] #30587 closed

[2019-05-07 17:51] shashishailaj commented on #30707
@LasseNisted Thank you for reporting . We have initiated the [pull request](https://github.com/MicrosoftDocs/azure-docs-pr/pull/75969) and updated the document . It will take a day or two to update on the main branch in the next release cycle . We thank you for your valuable contribution.

[2019-05-07 17:51] YutongTie-MSFT commented on #30769
@jpsebasti Hi, thank you for the feedback. May I know which document you are referring to?

[2019-05-07 17:53] JuanParodi opened #30771 "Serverless is bad name for this sku"
# Confusing SKU name (logical server is still required)
This is already causing confusion in my organization, as people assume this sku does not require provisioning an azure SQL Logical Server.
Why not call it "Elastic Compute" or "Smart Compute" if you want to keep the S in the SKU Tier

- [Azure SQL Database ] The relevant Azure service or technology.
- [https://docs.microsoft.com/en-us/azure/s

[2019-05-07 17:54] shashishailaj commented on #30467
@subhankars Please let us know if this is still an issue . We believe that you must not encounter this issue anymore . Should you still encounter the issue please feel free to let us know. We will wait for your reply till EOD tomorrow and close it after.

Thank you.

[2019-05-07 17:54] Mike-Ubezzi-MSFT commented on #30762
@croraf Thank you for the inquiry. There should be a blade specific for managing keys:

 ![alt text](https://wtv3.blob.core.windows.net/media/screenshot-(466).png?sv=2018-03-28&sr=b&sig=TCCsKBI30u4%2BqeTA95uXx7Qn%2FEJ5vfe4U4dQ6%2BsJYPs%3D&st=2019-05-07T17%3A49%3A48Z&se=2022-05-07T17%3A54%3A48Z&sp=rw "Screenshot (466).png")

[2019-05-07 17:55] #30707 closed

[2019-05-07 17:58] subhankars commented on #30467
@CelesteDG  -  Thanks for your update. I believe while generating the client secret those special characters are ignored now?

@shashishailaj - I will let you all know my test results by tomorrow.

[2019-05-07 18:02] munozrickT4S opened #30772 "Need link to instructions on "Grant the db_owner role directly""
Regarding this line:

Please add a link to the instructions/documentation to _how_ to grant that db_owner role directly to the Azure AD User (note: the doc for t-sql ALTER ROLE does not describe how to use this on an Azure AD user.)
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889

[2019-05-07 18:02] Minewiskan commented on #30098
Resolved.
#please-close

[2019-05-07 18:03] shizn commented on #30612
Thanks for reporting this issue. @erich-wang @blackchoey please help verify and have a fix.

[2019-05-07 18:06] hrasheed-msft commented on #30576
@Silverlight42 Thanks for letting us know. All of the links worked correctly for me without the 'en-us'.

The 'en-us' is normally removed on purpose because including them interferes with the sites localization where it refers users to the appropriate language for their area. But perhaps some of the pages arent localized correctly. I'll add it back for all of the links. THanks

[2019-05-07 18:07] munozrickT4S commented on #30772
Ah, found it. Consider linking to this [MS Doc page](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-manage-logins)

[2019-05-07 18:12] TravisCragg-MSFT commented on #29938
@cogran We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-07 18:12] #29938 closed

[2019-05-07 18:24] shashishailaj commented on #30726
@MPenny-nCipher This article have multiple references for Thales and we believe would need to be reviewed thoroughly to update it once and for all . Please give us some time and we will have this internally reviewed and would update this thread.

[2019-05-07 18:26] sergaz-msft commented on #30681
Hello @haohaowasky can you elaborate more on how to repro this behavior? I am not sure what you mean by "the very first connection". Thanks!

[2019-05-07 18:30] TravisCragg-MSFT commented on #30578
@Charmendar are you able to add more than 1 using the portal?

You should be able to use [resources.azure.com](resources.azure.com) to get what the template should look like. I was not able to find the correct page for the Network Watcher Properties, it might not be fully documented yet. Also, check your version! I am only able to find information on Network Watcher using apiversion "2018-12-01"

[2019-05-07 18:37] haohaowasky commented on #30681
So I have an edge server running NodeJS Azure IoT edge, and a phone running IoT device SDK. I have paired them as parent and child device so the IoT device can send messages to the edge thru WiFi.

Every works fine when the WiFi has internet connection.

But when I disconnect internet and go to offline, the very first message sent from device to the edge took about 15 secs.( with internet connecti

[2019-05-07 18:38] shashishailaj commented on #30745
@bjornbos We have reviewed the same and initiated a pull request. It will be updated in the next release cycle once branches are merged. We will close this issue now.

Thank you for your contribution.

[2019-05-07 18:42] #30745 closed

[2019-05-07 18:44] TravisCragg-MSFT commented on #23718
@git4ranjan  I believe they should be already open. What is the error you are getting when you try to run the "az cloud register" command?

[2019-05-07 18:53] jonels-msft commented on #30696
@rioriost thanks for the report. I'll test your suggestion and open a pull request in the next few days to update the docs.

[2019-05-07 18:53] shashishailaj commented on #30053
@RickB-0923845 Just checking on this request if you have any further queries on this ? Please let us know in case you have any queries on this . In case you do not have any queries we will proceed with this thread accordingly and close it by EOD tomorrow.

Thank you.

[2019-05-07 19:04] rboucher commented on #25868
@Oegg88 Thanks for your feedbak.  Sorry it's taken this long for me to get back to you.  There is no Endtime option in PowerShell.  Without getting into too much of the internal implementation, EndTime is something added to UX by that team.

Technically “recurrence” profiles do not have “end times”. They go into effect at their start time, and remain effective until another profile (recurrent or f

[2019-05-07 19:09] jpsebasti commented on #30769
This one first but in the comments is a reference to a second one that is more complete:
First I'm following the tutorials here:
https://docs.microsoft.com/en-us/azure/virtual-desktop/overview

Then I referenced this one as the first comment in the above document points to this document as being more complete:
https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/Getting-started-with-Windows-

[2019-05-07 19:20] TurtleBeach commented on #30521
Any further information on this issue??
What should the extensions.csproj file look like for Powershell functions? My impression is that Powershell uses Net CORE, but in the extensions.csproj file that is created I see references to Net Standard:
<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
	<WarningsAsErrors></WarningsAsErrors>
	<Defaul

[2019-05-07 19:24] shabirjan commented on #30675
@mike-urnun-msft Hi is there any update regarding my issue?

[2019-05-07 19:27] alvipeo opened #30775 "PCI compliance blueprint"
Would it be still PCI compliant if we use V2 instead of V1? Blueprints for Azure PCI DSS mention V1, that's why I'm asking.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Independent ID: 298a134e-fb27-f16d-bff2-d43eb0f766fd
* Content: [Autoscaling and Zone-redundant Applic

[2019-05-07 19:36] rboucher commented on #24394
Hi @eparizzi
Sorry for the long wait.

If you configure WAD to collecting eventsource or tracelogging events, you should see a container that contains the event name in the config if you are using the JSON blob format.

 If you use XML format,
  - the table name should be based off the configured eventName and prefixed with "WAD". If the configured event name is TraceEvents, the storage entity sho

[2019-05-07 19:38] MicahMcKittrick-MSFT commented on #30340
What size of VM are you using? You could attempt to upsize the machine to see if that makes a difference. Other that than, I usually see Custom Script take 2-10 mins to apply so the time you mention appears within the usual time frame. Not sure I can speak as to what is different when running it on GCP vs Azure.

As per the guest agent logs, the guest agent should automatically upgrade when one is

[2019-05-07 19:41] aszalacinski commented on #30601
Looks good. Thank you @navyasric

On that note, claims are not coming back properly as noted on the latest GitHub issues. Is there something we are missing to configure the application for use? Or a bug?

[2019-05-07 19:42] TurtleBeach commented on #30556
@dlepow @MicahMcKittrick-MSFT - Belatedly, thanks for the link. I have been struggling to comprehend other documentation (for Powershell functions) for the last few days :)

[2019-05-07 19:42] #30556 closed

[2019-05-07 19:46] MicahMcKittrick-MSFT commented on #30695
@dcallagh can you share some screenshots of the calculations you are running so I can get a better understanding?

It is cheaper to use your own licenses in some cases. But it is not tens of thousands of dollars cheaper as you are seeing. We state the average savings in the doc as you likely already found
![image](https://user-images.githubusercontent.com/32313503/57328316-f56de900-70c5-11e9-8443-

[2019-05-07 19:47] RickB-0923845 commented on #30053
Thanks, that last email from Manoj cleared up a lot. I'm testing now to confirm my understanding.
 - A valuable enhancement would be the ability to use a header to log all requests to external AAD directories. Policy administrators need to understand current usage patterns before designing and enforcing restriction policies. In the meantime I'm considering whether a proxy could recognize and log a

[2019-05-07 19:49] SoujanyaMangipudi opened #30777 "AADSTS7000216 is not listed"
We keep randomly seeing the following error when generating a token using AAD Web App. There is no documentation related to this.
AADSTS7000216: 'client_assertion', 'client_secret' or 'request' is required for the 'client_credentials' grant type
error_codes: 7000216

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee

[2019-05-07 19:49] cynthn commented on #14033
#please-close I'm going to stick with the current instructions because they are specific to the task at hand and don't completely open permissions on the entire sub.

[2019-05-07 19:50] tmfahim opened #30778 "No Type Properties in Data factory 2.0"
I am using Azure DF 2.0, I am getting the this error while trying to retrieve data from http endpoint "Failed to read data from http source file.. Activity ID:81bdaffb-80ad-4822-a75e-b2f00e849dda". Upon searching, I got this page, but I don't see any type properties for both Linked Service and Data Set configuration. Thanks for correcting this page.

---
#### Document Details

⚠ *Do not edit this

[2019-05-07 19:51] Mike-Ubezzi-MSFT commented on #30424
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-07 19:51] #30424 closed

[2019-05-07 19:52] #14033 closed

[2019-05-07 19:53] stewartadam commented on #14033
I would not consider this closed - the current instructions don't work at all; without any rights assignment packer fails to build any images.

It was a little while ago that I tested but IIRC packer requires rights to the entire sub or it won't work.

[2019-05-07 19:58] Mike-Ubezzi-MSFT commented on #30772
@munozrickT4S Thank you very much for the detailed inquiry and providing the solution to your issue. I will forward this to the content owner to evaluate and update as appropriate. If you should have further questions please do not hesitate to ask and continue the dialogue.

[2019-05-07 19:58] #30772 closed

[2019-05-07 20:07] mike-urnun-msft commented on #30212
@agnimitra Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-07 20:07] #30212 closed

[2019-05-07 20:09] ChrisDevriese commented on #30429
I was able to install  az aks use-dev-spaces ...  this time, on a new system without errors.
Thanks @MicahMcKittrick-MSFT, @zr-msft  for your impressive support, much appreciated!
saved my day.

[2019-05-07 20:10] ecfan commented on #30750
@steveculshaw & @mike-urnun-msft, I have an update in progress. Thanks for providing this feedback!

[2019-05-07 20:11] marvin06 commented on #30603
Thanks yes you can close it

[2019-05-07 20:15] MicahMcKittrick-MSFT commented on #30429
@ChrisDevriese glad to hear it :)

[2019-05-07 20:21] ecfan commented on #30703
@nikolaiblackie & @KetanChawda-MSFT, thank you, I've created a work item on our backlog for addressing this issue.

#please-close

[2019-05-07 20:26] YutongTie-MSFT commented on #30777
@SoujanyaMangipudi Thank you for your feedback. Could you please share which document you are referring to?

[2019-05-07 20:26] shawnwan opened #30780 "7 day free account's endpoint gives 404 errors"
7 day free account's Endpoint: https://westus2.api.cognitive.microsoft.com/anomalyfinder gives 404 errors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e258114c-57c6-d918-c1b5-476014f209bc
* Version Independent ID: 794359b2-15e9-5c9d-1f0d-24b4ceb8ddf7
* Content: [Quickstart: Detect anomalies as a batch using the Anoma

[2019-05-07 20:33] SoujanyaMangipudi commented on #30777
I am referring to below link.
https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes

[2019-05-07 20:33] kaushalp opened #30781 "Missing Outbound Dependencies"
The document doesn't mention the outbound dependencies for the ASE. For example, I have seen the ASE Scale operation fail as the SMB port 445 was not allowed. The screenshot included in the article has it included, but it is not mentioned anywhere in the article whether the SMB port 445 should be allowed or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-05-07 20:33] mike-urnun-msft commented on #30768
Hi @yokawasa Thank you for your feedback! We will review and update as appropriate.

[2019-05-07 20:39] YutongTie-MSFT commented on #30700
@kfprugger We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-07 20:39] #30700 closed

[2019-05-07 20:41] Alberto-Vega-MSFT commented on #30760
Hello I am sorry to hear that you are facing this issue. I went ahead and tried the tutorial but I could not reproduce your issue. Are you still seeing this? If that is the case. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we

[2019-05-07 20:53] KumudD commented on #30651
@maryannlim Thanks for bringing this to our attention! I have updated the **Static** IP address column text  for _VPN Gateway_ to **No** .

#please-close

[2019-05-07 20:58] kaushalp opened #30782 "Include example to obtain the MSI token for a Java function/App"
The document doesn't include documentation on what package/class to use for Java function. More specifically, the following package/class needs to be used in case of a Java function
https://azure.github.io/azure-sdk-for-java/com/microsoft/azure/credentials/AppServiceMSICredentials.html

Also there are some typos in the document. In the examples we are appending a slash in front of the MSI_ENDPOINT

[2019-05-07 20:59] HenryPSF commented on #19568
@dominicbetts , I achieve, how you said, are the dependencies,  but i need use this version de node, so I changed at package.json, forced to take a specific version.

  "dependencies": {
    "azure-iot-device": "1.9.0",
    "azure-iot-device-mqtt": "1.9.0"
  }

It's works.

Thaks.

[2019-05-07 21:06] Karishma-Tiwari-MSFT commented on #30770
@alenzorbbn25 Since this command is for deleting a VM, we do want to provide the option of confirmation before deleting it. For that reason we haven't added --yes option
This information is provided in the following doc: https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-delete

We will now close this issue. If there are further questions regarding this matter, please tag me

[2019-05-07 21:06] #30770 closed

[2019-05-07 21:07] MartinJaffer-MSFT commented on #30737
Hello @Anmolgan81 , and thank you for your inquiry.  Is your solution currently deployed (trying to change a running server) or still in the planning stage?

[2019-05-07 21:12] AmirGeorge commented on #29557
Hi @mansetaashok ,

For the app exported with the Curl command, can you try packaging it from the portal and see if it succeeds or fails? For the ambiguous error in the portal, there might be an error rendering issue there. Can you open your browser's network tab and inspect the response of the "package" call?

[2019-05-07 21:21] git4ranjan commented on #23718
@TravisCragg-MSFT Thank you Travis for quickly responding. I am getting the following error --

Unable to get endpoints from the cloud.
Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='management.<region>.<fqdn>', port=443): Max retries exceeded with url: /metadata/endpoints?api-version=2015-01-01 (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines'

[2019-05-07 21:29] #30098 closed

[2019-05-07 21:33] YutongTie-MSFT commented on #30780
@shawnwan
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-07 21:39] ChristianMontoya commented on #28093
@mmaraa : A little later than your initial post, but after yours (and additional feedback) we re-arranged the order and added more screenshots. Hope it helps!

[2019-05-07 21:39] ChristianMontoya commented on #28093
#please-close

[2019-05-07 21:41] cynthn commented on #14033
@stewartadam I just walked through this again, as written, and it works fine. I am using subscription where I am the owner.

I know that giving subscription level access would work, it just isn't the "least privilege" option.

How are you creating the resource group? Are you trying to use an existing group that you might not have write access to?

[2019-05-07 21:41] ChristianMontoya commented on #27799
@tiktb8 : We now have additional guidance published here: https://docs.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-set-up-overview and https://docs.microsoft.com/en-us/azure/virtual-desktop/troubleshoot-set-up-issues. Hopefully your issues have been resolved.

[2019-05-07 21:41] ChristianMontoya commented on #27799
#please-close

[2019-05-07 21:43] ChristianMontoya commented on #27773
@r-maestas : Glad your issue got resolved. We'll continue to monitor feedback to understand how to have the automated deployment mechanisms (Azure Marketplace and GitHub ARM template) can have more consistency. We also edited the order of these docs, so that should help. https://docs.microsoft.com/en-us/azure/virtual-desktop/tenant-setup-azure-active-directory

[2019-05-07 21:43] ChristianMontoya commented on #27773
#please-close

[2019-05-07 21:45] ChristianMontoya commented on #28926
#please-close

[2019-05-07 21:45] mnblacklock opened #30783 "Grammar Issue"
DHCP service enables should be *enabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cbc6494-188a-e72d-eab0-4f29fda88190
* Version Independent ID: 2d2eef66-4c19-7fe9-5bd1-9efe69597df0
* Content: [Migrate on-premises machines to Azure with Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recovery/migr

[2019-05-07 21:46] ChristianMontoya commented on #29564
@bencorley : Are you recommending adding screenshots, similar to how we added screenshots to this article: https://docs.microsoft.com/en-us/azure/virtual-desktop/tenant-setup-azure-active-directory ?

[2019-05-07 21:47] MartinJaffer-MSFT commented on #29970
@arerlend  Here's a trace from a run today.
[code]

[2019-05-07 21:48] mnblacklock opened #30784 "5-tuple?"
Don't you mean quintuple. May as well teach people better grammar at the same time :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3fc12b4
* Content: [Azure security groups overview](https://docs.microsoft.com/en-us/azure/virt

[2019-05-07 21:48] MarileeTurscak-MSFT commented on #30595
Hi @aszalacinski ,

Thanks for your valuable feedback! Is this related to the other issue you created where you said that you managed to get it to work by using an older version of MSAL, or are you still stuck on the login issue?

[2019-05-07 21:53] MartinJaffer-MSFT commented on #29970
@arerlend Would you be interested in taking ownership of this issue?  I can't seem to assign it to you.

[2019-05-07 21:54] croraf commented on #30762
No. I have completly different view:
![image](https://user-images.githubusercontent.com/19698636/57335591-5bd52480-7123-11e9-8190-d2ab16e5865c.png)

And I have the owner role. Maybe it's different cosmos db version, or?

[2019-05-07 21:54] spelluru commented on #30448
@tony-gutierrez - Does this look right to you?
https://docs.microsoft.com/en-us/javascript/api/@azure/service-bus/?view=azure-node-preview

[2019-05-07 22:01] MarileeTurscak-MSFT commented on #30637
Assigning this to @MicrosoftGuyJFlo to look into your feedback. Maybe the same sentence can be added in the DC Agent instructions?

[2019-05-07 22:02] MicrosoftGuyJFlo commented on #30503
Email sent to product team for additional assistance. #in-progress

[2019-05-07 22:02] MashaMSFT commented on #29274
#please-close

[2019-05-07 22:17] femsulu commented on #30719
@ToMakeSense Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-07 22:21] #27799 closed

[2019-05-07 22:21] femsulu commented on #30729
@ToMakeSense Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-07 22:22] femsulu commented on #30735
@okanaslaner Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-07 22:24] femsulu commented on #30739
@dtPaTh Thanks for the question. We are investigating and will get back to you soon.

[2019-05-07 22:29] annabarh commented on #30503
Some of the Microsoft web apps are working on being complaint with this policy. Office.com, Teams, Azure portal honor Sign in frequency setting. Sharepoint Online and Dynamics are in the process of rolling it out. Outlook Web Access and M365 portal are still working on it.

[2019-05-07 22:31] JimacoMS3 commented on #29484
@rodolfowitsch Thanks very much for your feedback! The updated content is now live: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-jobs . Please let us know if you think further changes are needed. Thanks again for your contribution.

[2019-05-07 22:33] malopMSFT commented on #30784
Sorry for the technicallity, It's a well known term in the network industry, here a few references:
https://www.techopedia.com/definition/28190/5-tuple
https://blogs.cisco.com/security/the-dreaded-5-tuple
RFC page 11:
https://www.ietf.org/rfc/rfc6146.txt

we usually try to use terms that users will understand based on familiarity on other products, this is one of those cases.

[2019-05-07 22:34] femsulu commented on #30740
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-07 22:34] #30740 closed

[2019-05-07 22:37] femsulu commented on #30754
@RichardKForester Thanks for the detailed feedback.
Adding @bwren to comment on the potential bug. in the meantime, I will initiate a PR to resolve the syntax error.

[2019-05-07 22:38] JimacoMS3 commented on #29484
#please-close

[2019-05-07 22:42] v-stepbe commented on #16303
#please-close

[2019-05-07 22:44] anirudhcavale commented on #29835
@cogran it is the actual count of HTTP responses, grouped by response code that are returned to the client.

[2019-05-07 22:45] aszalacinski commented on #30595
It is not. It's based on how the Tutorial section is setup. If you follow the tutorial from "top to bottom" the code sample references an API that you don't setup until the next tutorial, protecting an API. If you leave the code as is, you get the experience I mentioned in the original comment.

I have found solutions to my code obstacles by digging into the msal library and accompanying sample co

[2019-05-07 22:45] Mike-Ubezzi-MSFT commented on #30762
@croraf The Connection String blade and the Quick Start blade can be used to source what is called a password in MongoDB API, for both Read-Write and Read-Only 'keys'. Providing you full screen captures to show you what I see:

![Screenshot (470)](https://user-images.githubusercontent.com/37126106/57337609-fcedbc00-70de-11e9-9952-6728f09a334d.png)

![Screenshot (471)](https://user-images.githubuse

[2019-05-07 22:46] v-stepbe commented on #13521
#please-close

[2019-05-07 23:04] SaurabhSharma-MSFT commented on #30758
@Assisting The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-05-07 23:04] #30758 closed

[2019-05-07 23:08] femsulu commented on #30739
@v-miclar any input on this?

[2019-05-07 23:08] msLinuxNinja opened #30785 "Methodology and actual benchmark settings should be published"
The methodology for the testing nor the actual coremark settings are published, thus making reproduction almost impossible.
Ideally this article should detail how testing was performed and the exact command and settings used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c005a93a-6fce-d270-9bb5-8e7213156b70
* Version

[2019-05-07 23:10] croraf commented on #30762
@Mike-Ubezzi-MSFT So these `Primary Password` and `Secondary Password` are the same as `Primary key `and `Secondary key` from the section "Master key tokens" from this page https://docs.microsoft.com/en-us/rest/api/cosmos-db/access-control-on-cosmosdb-resources?redirectedfrom=MSDN

[2019-05-07 23:12] MartinJaffer-MSFT commented on #30738
Hello @Anmolgan81 and thank you for your inquiry.  We are reviewing the issue and will get back to you when we have more information

[2019-05-07 23:14] cogran commented on #29446
@SubhashVasarapu-MSFT - Reposting for update after out of office.
Sorry for the delayed response -- I guess the conflict exists where Storage Documentation shows that Microsoft.Insights and Microsoft.Network are supported Trusted Microsoft Services. If an NSG is a Microsoft.Network resource and FlowLogs are from Microsoft.Insights, why does Storage say I can use Trusted Microsoft Services but NSG

[2019-05-07 23:27] yugandh commented on #10584
https://pub.dev/packages/aad_oauth

The above add_outh one works fine for me than https://pub.dev/packages/simple_auth_flutter . There is one issue to fix(https://github.com/Earlybyte/aad_oauth/issues/14)

[2019-05-07 23:27] TravisCragg-MSFT commented on #30651
@maryannlim We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-07 23:27] #30651 closed

[2019-05-07 23:32] KeiroKamioka0000 opened #30786 "Does Update Assessments support for Classic VM?"
Does the update assessments will work for Cloud Services? (Classic VM)?

View update assessments
https://docs.microsoft.com/en-us/azure/automation/automation-update-management#viewing-update-assessments

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db47901d-1664-058d-9407-47e932dc9661
* Version Independent ID: e90ec9e

[2019-05-07 23:41] mansetaashok commented on #29557
Hello @AmirGeorge,

I have tried to packaging it from Portal, It's encountered an error in portal. I have inspected it using browser's developer tool. In the network tab it's showing below error.

[code]

I have also unchecked Publish Settings in the portal, However the same error encountered while trying to Export for container

![image](https://user-images.githubusercontent.com/40860482/57339518

[2019-05-07 23:47] mydiemho opened #30787 "Screenshots doesn't match documentation"
`ResourceGroup` for Api Management resource is recommended to use the same resource group as the function app.  However, the screen shot for API Management creation does not reflect that and could cause confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f713e2b2-710e-8036-c4d7-8910927525e3
* Version Independent

[2019-05-07 23:50] TravisCragg-MSFT commented on #18063
A temporary fix has been implemented, you can now enable VNET Service Endpoints with Resource Group level permissions. The portal experience between permission levels will be slightly different.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-07 23:50] #18063 closed

[2019-05-07 23:55] TravisCragg-MSFT commented on #29446
reopening this issue so that the doc can be updated.

[2019-05-08 00:01] Alberto-Vega-MSFT commented on #30733
Hi @DRSPrashant I am sorry to hear that you are having issue with this tutorial. What is going on is that Azure Spatial Anchors needs to capture data from the environment in order to save the anchor. Once you move the device the camera captures enough of the room and you will see a progress in the percentage. Once you reach 100% then the app will let you submit the anchor.
![image](https://user-im

[2019-05-08 00:05] twooley commented on #30535
@phenixita Hello. The broken link in the doc has been fixed. Thanks for reporting this issue.

[2019-05-08 00:07] twooley commented on #30535
#please-close

[2019-05-08 00:07] Mike-Ubezzi-MSFT commented on #30762
This is correct. The Cosmos DB for MongoDB API does not have REST capabilities so the keys simply act as a password. The username is the name of the API instance you created. The SQL API has both the SQL API and the REST API as service endpoints and the key concept is part of Access Control, per the document you referenced.

[2019-05-08 00:17] TravisCragg-MSFT commented on #29446
@KumudD I have created #30788 to address this change with a note. This ask came from support to clarify the storage firewall requirement.

[2019-05-08 00:19] rjosephp opened #30789 "Consistency levels and data durability table"
In the table, row #1 has Region(s) 1 and Replication mode Single or Multi-Master. What is Multi-Master replication mode when there is only one region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ad39979-3f09-e067-a9ab-e65adfe159bb
* Version Independent ID: 046279e1-0f83-19fa-c27d-f10b82df530f
* Content: [Availabili

[2019-05-08 00:21] rioriost commented on #30696
Hi Joe-san,

Thank you so much for rapid updating!

[2019-05-08 00:21] walsehgal commented on #30614
Can you debug by setting the log level to "DEBUG". You can do "MapLog.setLogLevel(Log.DEBUG)".  This way you can trace the error if there is any.

[2019-05-08 00:25] mathieu-benoit opened #30790 "az: error: unrecognized arguments: --fqdn"
With Azure CLI version 2.0.64, we got this error while running `az openshift create`: `az: error: unrecognized arguments: --fqdn`. This tutorial needs to be updated accordingly the `fqdn` parameter doesn't no exist anymore + by mentioning that the minimum version of the Azure CLI should be 2.0.64 too. Thanks!

Furthermore, that `az openshift` documentation should be updated accordingly: https://do

[2019-05-08 00:26] SaurabhSharma-MSFT commented on #30765
@CeciAc Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-08 00:27] SaurabhSharma-MSFT commented on #30756
@eximo84 Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-08 00:28] SaurabhSharma-MSFT commented on #30755
@barcar Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-08 00:37] TravisCragg-MSFT commented on #30775
@alvipeo Application Gateway V2 just went generally available a few days ago, it will take time for everything to update. After looking into the [Azure compliance info](https://gallery.technet.microsoft.com/Overview-of-Azure-c1be3942), it only lists "Application Gateway" but does not distinguish between SKUs.

I will follow up with this to get what info I can, but it will not be 100% until it is o

[2019-05-08 00:43] cogran commented on #29835
@anirudhcavale - thank you for the clarification (it was what was I was thinking) this can be closed.

[2019-05-08 00:44] TravisCragg-MSFT commented on #23718
@git4ranjan I would do this first as the administrator. The only steps you need to take before running the command are to make sure that you have exported the proper certificate.

Are you doing this on an ASDK system or a full Azure Stack Integrated System?

[2019-05-08 00:46] cynthn commented on #14163
@KeiroKamioka0000 Thank you for the feedback. I've passes this on to the owner of scale sets, @mayanknayar. I'm going to go ahead and close this for now. Thanks again!

#please-close

[2019-05-08 00:47] DianeHadley opened #30791 "Confusing sentence"
"Service Fabric is a microservices platform that gives every microservice (or container) a unique name that can be either stateless or stateful."

I'm assuming this sentence was meant to explain 1. that microservices have unique names and 2. that they can be either stateless or stateful, but the wording is very unclear.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-05-08 00:48] #14163 closed

[2019-05-08 00:48] lvjianjunljj opened #30792 "AAD: In Strategy.prototype.jwtVerify: cannot verify token"
When I send request to the api with the token I got before based on the doc:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code

I get the response with the Header:
connection →keep-alive
content-length →12
date →Tue, 07 May 2019 16:41:11 GMT
www-authenticate →In Strategy.prototype.jwtVerify: cannot verify token
x-powered-by →Express

I don't know what I haven'

[2019-05-08 00:49] mike-urnun-msft commented on #30787
Hi @mydiemho Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-05-08 00:51] MicahMcKittrick-MSFT commented on #30785
@msLinuxNinja at the bottom of the document we mention how they are run and calculated

![image](https://user-images.githubusercontent.com/32313503/57341851-c751ce80-70f0-11e9-917a-3f68d9b7a380.png)

Is that not sufficient?

[2019-05-08 00:52] SaurabhSharma-MSFT commented on #30583
@taromielnaz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-08 00:52] #30583 closed

[2019-05-08 00:52] SaurabhSharma-MSFT commented on #30594
@stantretyakov We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-08 00:52] #30594 closed

[2019-05-08 00:53] SaurabhSharma-MSFT commented on #30634
@papaiatis We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-08 00:53] #30634 closed

[2019-05-08 00:57] cynthn commented on #15392
@kazshi Thank you for the feedback, and sorry it has taken so long to respond. I've opened a work item to cover how updates affect Cloud Services. I'm going to have this issue closed for now. Thanks again!

#please-close

[2019-05-08 01:01] #15392 closed

[2019-05-08 01:07] ericcwk commented on #17170
Hi , please provide more information on the required WebhookData generated by the performance alerts.
It seem like the webhook data got updated and the code unable to recognize the alert's status.

[2019-05-08 01:17] cynthn commented on #17581
@Danrawlings-msft and @theheatDK Sorry it has taken me so long to get back around to you on this issue. I'm talking with the PM for extensions about how to handle this. There are extensions that probably don't need to be "removed" because they just add software and drivers (like, probably the custom script extension) but there are others that might need to be removed and then re-added when you cre

[2019-05-08 01:18] burnsalpine opened #30794 "'kubectl run' example broken"
Running kubectl run with -it switch does not work on my machine.
kubectl run -it --rm aks-ssh --image=debian

I updated it to:
kubectl run -i -t --rm aks-ssh --image=debian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a757120

[2019-05-08 01:26] cynthn commented on #18173
@Rick-Kirkham  FYI - you can now use Azure Image Builder (preview) to create an image version from an existing image version: [Windows](https://docs.microsoft.com/azure/virtual-machines/windows/image-builder-gallery-update-image-version) and [Linux](https://docs.microsoft.com/azure/virtual-machines/linux/image-builder-gallery-update-image-version).

Please let me know if that helps :)

[2019-05-08 01:33] MaximRouiller commented on #27453
Isn't it normal to have release notes for software that we release?

If they are not found in our docs? Where can they be found? I'd be fine if it was on GitHub but this project isn't open source and we can't inspect what changed between the different versions.

On my side, I ended up with breaking changes between two versions. What changed? 🤷‍♂

Release notes are necessary.

[2019-05-08 01:43] StephenFerrero commented on #30521
Same problem here, I wasn't asked to select a Resource Group, a Storage Account, or a Region.

[2019-05-08 01:46] tamram commented on #27453
The only release notes we have for the soon-to-be-legacy emulator are here:

https://docs.microsoft.com/azure/storage/common/storage-use-emulator#storage-emulator-release-notes

The engineering team has said that nothing has changed from v5.7 to present except the update to the new service version. If you found up with a breaking change between versions, then please contact support, as there is no

[2019-05-08 02:22] andrewhellyer commented on #30516
Hi - I will try and raise a ticket - this customer has a CSP subscription so i have to raise the ticket with the CSP instead of directly with microsoft which slows things down somewhat. thanks for looking so far!

[2019-05-08 03:02] mganeshphani opened #30795 "230 seconds timeout?"
Well this statement is confusing to me
"Regardless of the function app timeout setting, 230 seconds is the maximum amount of time that an HTTP triggered function can take to respond to a request. This is because of the default idle timeout of Azure Load Balancer. For longer processing times, consider using the Durable Functions async pattern or defer the actual work and return an immediate respons

[2019-05-08 03:10] TylerMSFT commented on #30790
These updates are already in progress.

From: Mathieu Benoit <notifications@github.com>
Sent: Tuesday, May 7, 2019 5:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tyler Whitney <Tyler.Whitney@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] az: error: unrecognized arguments: --fqdn (#30790)

With Azure CLI version 2.0.64, we got this

[2019-05-08 03:12] xiaofengcy opened #30796 "native type of app"
I noticed the app will be changed to native type only when the "Manage-&gt;Authentication-&gt;default client type " change to yes, is that mandotory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c35c1fe-f14d-45f0-f5b6-1588597ab792
* Version Independent ID: 6def80e6-384c-e577-ae7c-100efbe6a69d
* Content: [Publish nat

[2019-05-08 03:34] ElanShudnow opened #30797 "timer trigger reference article 404 Not Found"
The link for timer trigger reference article gives a 404 Not Found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b7b9f5c-4610-8cea-28d4-fea8ea03e7e1
* Version Independent ID: cc09b46d-cd40-45e8-ed45-7a0e3bf4b100
* Content: [Develop and deploy WebJobs using Visual Studio - Azure](https://docs.microsoft.com/en-us/azur

[2019-05-08 03:44] SnehaAgrawal-MSFT commented on #30782
@kaushalp Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-08 03:46] SnehaAgrawal-MSFT commented on #30781
@kaushalp Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-08 03:51] ChiragMishra-MSFT commented on #30742
@yotauber Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-05-08 04:04] KeiroKamioka0000 opened #30798 "Can you clarify what "These classic IaaS resources are supported during migration" means?"
Hello, is the Resources listed in this URL will run during the migration process without disconnection?

The Title does not match slightly.

Does this meant for the IaaS resources that able to migration?

Supported resources for migration
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/migration-classic-resource-manager-overview#supported-resources-for-migration

These classic IaaS

[2019-05-08 04:04] SadiqhAhmed-MSFT commented on #29835
@anirudhcavale Thank you for the information.

@cogran Closing this for now.

[2019-05-08 04:04] #29835 closed

[2019-05-08 04:08] VikasPullagura-MSFT commented on #30794
@burnsalpine Thanks for your feedback. We are checking on this and will respond to you soon

[2019-05-08 04:10] VikasPullagura-MSFT commented on #30791
@DianeHadley Thanks for your feedback. We are checking on this and will respond to you soon.

[2019-05-08 04:15] KetanChawda-MSFT commented on #30656
@cgillum just following up in case you missed .

[2019-05-08 04:25] VikasPullagura-MSFT commented on #30798
@KeiroKamioka0000 Thanks for your feedback. We are checking on this and will respond to you soon.

[2019-05-08 04:25] KetanChawda-MSFT commented on #30697
@TylerLeonhardt / @ggailey777  Any plans to add more samples for other supported bindings ?

[2019-05-08 04:29] PramodValavala-MSFT commented on #30750
@steveculshaw The tags for the connectors have been introduced along with the preview announcement of the Integrated Service Environment.

The impact of using connectors with these tags is mentioned [here](https://docs.microsoft.com/en-us/azure/logic-apps/connect-virtual-network-vnet-isolated-environment#create-logic-app---ise) and I believe similar information is being added to this doc too for b

[2019-05-08 04:30] SadiqhAhmed-MSFT commented on #30783
@mnblacklock Thanks for the feedback! We've raised the PR and made the necessary changes. The changes should reflect in few hours. Closing this issue for now. Feel free to reach out to us if you've any concerns in this matter.

[2019-05-08 04:30] #30783 closed

[2019-05-08 04:35] KeiroKamioka0000 opened #30799 "How long migration will take?"
How many minuetes are expected for migration?
If possible, please consider add to the document.

Step 3: Move the ExpressRoute circuit to the Resource Manager deployment model
https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-move-arm#step-3-move-the-expressroute-circuit-to-the-resource-manager-deployment-model

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-05-08 04:40] SadiqhAhmed-MSFT commented on #30786
@KeiroKamioka0000 Thanks for the comment! We will check on this and get back to you with an update.

@georgewallace Your insights please.

[2019-05-08 04:42] VikasPullagura-MSFT commented on #30798
@singhkays Can you please look into this issue and update the document as required.

[2019-05-08 04:45] SumanthMarigowda-MSFT commented on #30513
@akouris I would recommend you please create a Forum thread for this issue from [Azure community support](https://azure.microsoft.com/en-in/support/community/)as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenario based on their experience. Thanks. Since it's not directly related to the documentation. We'll follo

[2019-05-08 04:45] #30513 closed

[2019-05-08 04:47] SadiqhAhmed-MSFT commented on #30516
@andrewhellyer I second that. Closing this issue for now.

[2019-05-08 04:47] #30516 closed

[2019-05-08 04:47] D-Jeffrey opened #30800 "Where is this now?"
The image shows Authentication Settings and Custom Banned passwords in  AAD but it has since moved... where would this be found now?  And how do we find it in the ever evolving Azure Portal of Portals?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c58c903b-778e-e1d9-31c3-321a6fd0050f
* Version Independent ID: 9ee47301

[2019-05-08 04:48] SumanthMarigowda-MSFT commented on #30525
@brunoborges Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-08 04:48] SumanthMarigowda-MSFT commented on #30535
@phenixita We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-08 04:48] #30535 closed

[2019-05-08 04:53] VikasPullagura-MSFT commented on #30791
@DianeHadley I am assigning the issue to the author.

@athinanthny Can you please look into this issue and update the document as required.

[2019-05-08 04:56] #30486 closed

[2019-05-08 04:56] SadiqhAhmed-MSFT commented on #30486
@jtracey93 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-08 04:57] RohitMungi-MSFT commented on #30629
@spanditha We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-08 04:57] #30629 closed

[2019-05-08 04:59] AjayKumar-MSFT commented on #30797
@eshudnow, Thanks for bringing this to our attention. We are taking a look into this and will get back to you soon.

[2019-05-08 05:03] RohitMungi-MSFT commented on #30642
@catafest We hope you are able to test with above recommendations. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-08 05:03] #30642 closed

[2019-05-08 05:04] mike-urnun-msft commented on #30059
@zirain ok, it looks like there are already couple of solutions posted on your MSDN thread :)

[2019-05-08 05:08] brunoborges commented on #30525
@SumanthMarigowda-MSFT you should talk to @pragnagopa. The way Azure Functions reads JAVA_OPTS is documented in the wiki of the GitHub repository. I don't think the wiki is the right place to document this. It should be somewhere in docs.microsoft.com.

[2019-05-08 05:11] DRSPrashant commented on #30733
![20190508_102940_HoloLens](https://user-images.githubusercontent.com/50360914/57350923-953a7e00-717d-11e9-8f61-cb324dc207a7.jpg)
![20190508_102945_HoloLens](https://user-images.githubusercontent.com/50360914/57350924-953a7e00-717d-11e9-9758-af908f8893fc.jpg)
![20190508_102948_HoloLens](https://user-images.githubusercontent.com/50360914/57350926-95d31480-717d-11e9-809e-55c5c4baa72d.jpg)
![20190508

[2019-05-08 05:12] jakaruna-MSFT commented on #30794
@burnsalpine Thanks for posting here.
Both the commands should work well.
Where you tried to execute that command?

Also post a screenshot of the error you faced. That will help us to troubleshoot the error.

[2019-05-08 05:20] ggailey777 commented on #30525
@brunoborges totally agree. We will add this info to the [Java developer guide article](https://docs.microsoft.com/azure/azure-functions/functions-reference-java). I have opened a work item in our internal DevOps database to track this requirement ([\#1527331](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1527331)).

[2019-05-08 05:27] #30603 closed

[2019-05-08 05:28] helgedv commented on #27429
My question might be the same as this one @SaurabhSharma-MSFT : is it possible to remove Sentinel from a Log Analytics workspace to keep this workspace without Sentinel?

[2019-05-08 05:30] DashleenBhandari-MSFT commented on #29600
Hi Tony,
Apologies for the delay.
Could you please try using the connection pooling that comes along with the Node version itself?
AgentKeepAlive is a node module. Connection pooling in the node module is built by open source community.
The Node runtime comes with the agent that can do connection pooling. In earlier versions of the node it did not function properly.
The newer node version may be b

[2019-05-08 05:40] tony-gutierrez commented on #29600
The problem with normal node keep alive is that azure services
(notification hub, service bus, etc) tend to forcefully close the socket
after 120 seconds of being open (active or not). Then node tries to reuse
the socket for the next request, and find it's closed, and the request
fails.

This is not an issue with most other servers that aren't related to
Microsoft services.

Agent keepalive now ha

[2019-05-08 05:40] shashishailaj commented on #30792
@lvjianjunljj Thank you for your feedback. We will investigate and update this thread.

[2019-05-08 05:40] RohitMungi-MSFT commented on #30336
@uusimaeki Apologies for the delay. To have a detailed analysis of your issue we would need to take a closer look at your resources. Do you have a support plan enabled for your subscription? If Yes, you can submit a support request from the Help + Support blade of Azure portal.

If you do not have a support plan for your subscription we can help you by enabling a one time support option for your s

[2019-05-08 05:41] shashishailaj commented on #30800
@D-Jeffrey Thank you for your feedback. We will investigate and update further.

[2019-05-08 05:44] RohitMungi-MSFT commented on #30723
@hoanglam-novobi You can set the memory in AutoMLConfig() settings by using mem_in_mb parameter. Please take a look at this [documentation](https://docs.microsoft.com/en-us/python/api/azureml-train-automl/azureml.train.automl.automlconfig?view=azure-ml-py) for more details.

[2019-05-08 05:56] akaramanapp commented on #29557
@AmirGeorge, @RohitMungi-MSFT, @diberry Thank you very much for your help. Container is working as expected now.

[2019-05-08 05:57] CHEEKATLAPRADEEP-MSFT commented on #30771
@JuanParodi Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-05-08 06:00] CHEEKATLAPRADEEP-MSFT commented on #30778
Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2019-05-08 06:22] SnehaAgrawal-MSFT commented on #30663
@shadyshrif The .so files should be located inside your php extension directory.
You can use phpinfo() function to find the location of your php extension directory.

[2019-05-08 06:31] rodolfowitsch commented on #29484
Thanks for the updates of the documentation.

[2019-05-08 06:31] #29484 closed

[2019-05-08 06:35] DixitArora-MSFT commented on #30521
@TurtleBeach There is a recent change in Visual studio code mentioned [here](https://github.com/microsoft/vscode-azurefunctions/releases/tag/v0.16.0).Creating a Function App in Azure will only prompt for Function App name. Set azureFunctions.advancedCreation to true to be prompted for all other values.

![image](https://user-images.githubusercontent.com/46984568/57354530-4c88c200-7189-11e9-9c75-f6

[2019-05-08 06:40] #30762 closed

[2019-05-08 06:44] KetanChawda-MSFT commented on #30795
@mganeshphani 230 seconds timeout limit is applicable for Azure App Service platform which includes function app running on both Consumption Plan and App Service Plan.

230 seconds is the maximum amount of time that a request can take without sending any data back to the response. It is not configurable.

We could put the long running job in a non-http trigger e.g. queue trigger function or have a

[2019-05-08 06:52] mmaraa commented on #28093
Great! Just helping the community! :)

[2019-05-08 06:52] #28093 closed

[2019-05-08 07:03] subhankars commented on #30467
@shashishailaj  - it worked.

[2019-05-08 07:07] kasunsjc commented on #30618
Already enabled it

az extension list
[
  {
    "extensionType": "whl",
    "name": "aks-preview",
    "version": "0.2.3"
  },
  {
    "extensionType": "whl",
    "name": "resource-graph",
    "version": "0.1.8"
  },
  {
    "extensionType": "whl",
    "name": "interactive",
    "version": "0.4.2"
  }
]

[2019-05-08 07:09] kasunsjc commented on #30618
Thanks Fixed it !!!

[2019-05-08 07:09] #30618 closed

[2019-05-08 07:14] steveculshaw commented on #30750
Yeap, aware of the introduction of "ISE" tags, but having at least a comment in the "main" page would be useful.

Not seen anything on the "CORE" tag ?

[2019-05-08 07:31] shashishailaj commented on #30796
@xiaofengcy Thank you for your query. We will investigate and update further.

[2019-05-08 07:38] shashishailaj commented on #30467
@subhankars Thank you for confirmation. :)  We will proceed with closure now.

[2019-05-08 07:39] #30467 closed

[2019-05-08 07:40] shashishailaj commented on #27604
Closing as the document has been updated as per the author request

[2019-05-08 07:40] #27604 closed

[2019-05-08 07:42] ManuelMos opened #30802 "AADSTS50126: Invalid username or password"
Keep getting AADSTS50126: Invalid username or password for no valid reason.
Username and password work when i try to login on the desired application in my browser.

I activated the swithch for Default Client type to allow ROPC in my Application Registrations.

POST: https://login.microsoftonline.com/&lt;tenant ID&gt;/oauth2/v2.0/token

client_id:&lt;Client_ID of my App i want to create the id_tok

[2019-05-08 07:43] hoanglam-novobi commented on #30723
@RohitMungi-MSFT
Thanks for the reply.
I have tried this before but it's still got the same error.

[2019-05-08 07:53] ggailey777 commented on #20842
We just went through and fully updated the Python quickstarts for PyCon and //Build. Please let us know if you don't find this issue to be addressed now.
#please-close

[2019-05-08 08:19] MohitDhingra-MSFT commented on #30792
Hi @lvjianjunljj,

Jwt token is not verifying because of the below reasons:
Audience value in jwt token or web api project are not same or configuration in startup file is not proper.

Could you please try the below steps:

1. Copy the jwt token, go to https://jwt.ms and paste the token
2. Check "aud" value, it should match with the audience value that you have put it in config file of api.
3. Che

[2019-05-08 08:22] ScarOF commented on #30800
It is right there where the screenshot says, except that it is not "(preview)" anymore.
login to portal.azure.com, select "Azure Active Directory", then select "authentication methods" (in SECURITY section), then select "password protection".

[2019-05-08 08:24] SumanthMarigowda-MSFT commented on #30677
@TheSaltyKorean May I know what exactly are you looking for? Can you provide more information on the above mentioned query

[2019-05-08 08:33] admin4cloud opened #30803 "Connect your app to the notification hub - needs updating"
Compiling the sample code on this page results in error:
The name 'UNUserNotificationCenter' does not exist in the current context.

Please add the following namespace to the code in point 7:
using UserNotifications;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45afd17d-e909-ccd9-01c3-f746bdf406a2
* Version Independe

[2019-05-08 08:36] DixitArora-MSFT commented on #30521
@TurtleBeach I have created the [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/76087)which will address this . Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen th

[2019-05-08 08:36] #30521 closed

[2019-05-08 08:38] ghost opened #30804 "Wrong namespace"
In the sample script, namespace of few types are wrong. It should be Microsoft.Azure.Storage not Microsoft.WindowsAz.Storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9efbe4da-1b80-3ea0-15c6-542899a2078a
* Version Independent ID: 4b35cd4b-368d-c00e-9345-6b7b929cc5e2
* Content: [Azure PowerShell script sample - Ca

[2019-05-08 08:38] dmeineck opened #30805 "Nuget Package missing"
Hi, I can't find the nuget package mentioned in this page - it's not showing up in nuget package manager even with the prerelease option checked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb09de11-6321-20b6-1632-21d4b4568536
* Version Independent ID: b5a3bdc7-185c-27ad-79d8-ea3b4b4a5dfc
* Content: [Feedback loop -

[2019-05-08 08:39] DixitArora-MSFT commented on #30705
@TylerLeonhardt Any inputs regarding this.

[2019-05-08 08:50] DixitArora-MSFT commented on #30675
@shabirjan Could you explain more about this. What are you expecting and what is the outcome .

[2019-05-08 09:02] TheSaltyKorean commented on #30677
From the time I put the rules into place, how long till it gets executed. Also how often does it get executed?

[2019-05-08 09:06] SubhashVasarapu-MSFT commented on #30799
@KeiroKamioka0000 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-05-08 09:08] SubhashVasarapu-MSFT commented on #30527
@prajster , As everything looks fine with the document we are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-08 09:08] #30527 closed

[2019-05-08 09:13] SubhashVasarapu-MSFT commented on #30261
@JGrusa , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-08 09:13] #30261 closed

[2019-05-08 09:39] mikegoatly commented on #23781
Hi @MGoedtel - I'd be really interested if found out anything about this approach needing re-evaluation. I'm just starting to look at implementing something along these lines and it would be good to know I'm following the right sort of approach.

[2019-05-08 09:44] KbLev opened #30807 "What are deprecated accounts?"
"Remove deprecated accounts with owner permissions from your subscription" - the title and description is the same copy paste and doesn't give an explanation on what is a deprecated account and how to fix this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b59d5bc1-0e5e-4183-58e3-da7b20a450c6
* Version Independent ID:

[2019-05-08 09:51] KetanChawda-MSFT commented on #30728
@OleksandrValetskyy CosmosDb binding for azure function is meant to track the documents and not collection.  You cannot monitor the collection creation event using cosmosDB trigger.

[2019-05-08 09:59] OleksandrValetskyy commented on #30728
@KetanChawda-MSFT Ok, good to know. What are the other options then?

[2019-05-08 10:05] YASWANTHM-MSFT commented on #30804
@juyama, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-08 10:08] YASWANTHM-MSFT commented on #30676
@TheSaltyKorean, Could you elaborate with more information to help better on this?

[2019-05-08 10:09] shabirjan commented on #30675
@DixitArora-MSFT What what i am expecting from cache is that Once i call a request and it takes 1500ms the next time it should take 20ms as data has to be fetched from Cache. Please correct me if i am wrong

[2019-05-08 10:09] youdhbir commented on #28805
Hi @NateB2,
Hi @hansmbakker,
Facing the issue as well when keeping Cosmos DB in Vnet and trying to access it from web app using P2S connection over VPN Gateway. I even tried with App Service Environment but didn't work.
Did you get any solution from Microsoft? Any alternative if this isn't possible?

Regards

[2019-05-08 10:22] KetanChawda-MSFT commented on #30728
@rimman / @markjbrown  any thoughts here ?

[2019-05-08 10:26] FullStackEngN opened #30808 "Do I need license for Office in the DSVM?"
This page states the Data Science VM includes "Microsoft Office Pro-Plus with shared activation - Excel, Word and PowerPoint".

Not sure about this Office activation, does it mean I need active Office in DSVM using eligible O365 subscription?
Or it means I can use the Office directly that DSVM already active it?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-05-08 10:34] git-heath opened #30809 "GA date"
Do you have a GA date for this feature ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content: [Key Vault references - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-refer

[2019-05-08 10:36] vrishni commented on #30517
Hi, Thank You for your feedback. You can scale up your model in increments of 20 concurrent requests.

[2019-05-08 10:48] ram-msft commented on #30805
@dmeineck Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-05-08 10:52] RohitMungi-MSFT commented on #30808
@FullStackEngN Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-08 10:59] angoyal-msft commented on #30789
@rjosephp Thanks for providing the valuable feedback. I am checking internally once. Would get the document updated.

[2019-05-08 11:03] sachindra88 commented on #30503
what about the tenant if does not have P1 license? how about default expiration time of enterprise applications?

[2019-05-08 11:09] robduncan1 commented on #30381
@DixitArora-MSFT  - it is not the case that this issue is solved with 6.2 installed and VS Code configured as per your comment - please see the comments directly above and below yours

[2019-05-08 11:10] Sculpin90 commented on #18048
@MarileeTurscak-MSFT @MicrosoftGuyJFlo I'm also interested in this script you mentioned. There are many customers who earlier has activated "O365-MFA" today, and I would like to be able to migrate them to AAD-CAP's instead without forcing them to re-register their MFA Config.

[2019-05-08 11:14] ChiragMishra-MSFT commented on #30701
@ctxldy Since there has been no reply, I will now proceed to close the thread. Please feel free to still comment and tag me if you have any queries.

[2019-05-08 11:14] #30701 closed

[2019-05-08 11:26] Sethu2488 opened #30810 "Validity on Authorization Key"
I want to know if I can prepare an authorization today and connect a vNet next week.

The authorization is valid for only one connection". If use the authorization key to connect to a vNet gateway. Remove the connection. Can I reconnect another vNet Gateway using that same authorization key or is it considered as used

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-05-08 11:28] AjayKumar-MSFT commented on #30803
@admin4cloud, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-08 11:32] AjayKumar-MSFT commented on #30809
@mattchenderson, We have assigned the issue to the content author from the product team for providing insights on the ETA.

[2019-05-08 11:33] githubavi opened #30811 "Not able to use Analyze API"
Hi, I have got the preview access. When I am trying to use the Analyze Api with proper modelid information, I am getting,

{
    "error": {
        "statusCode": 404,
        "message": "Resource not found"
    }
}
---------------------

can  you help me which part I am missing here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-05-08 11:44] 0acff4be45 opened #30812 "User has no direct license to remove. Skipping."
I have a group where users have direct & inherited licenses.
When running the script "Remove direct licenses for users with group licenses" I get the message:

"User has no direct license to remove. Skipping."

Even though the user definitely has both direct and group-based

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-05-08 11:50] rploeg opened #30813 "Error: failed to download "edgek8s/edge-kubernete""
Hello,

I can't download the edge-kubernetes, I get this error:
Error: failed to download "edgek8s/edge-kubernete"

I have update the helm repo update command also

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1a53f1e-4a0f-e340-b0ab-0e75046afbac
* Version Independent ID: 14170d59-92c9-6639-7def-51e7e28da3cd
* Content

[2019-05-08 12:11] arkiaconsulting opened #30814 "Options support"
Please provide example on how to configure IOptions&lt;&gt;, or if no longer available, how to map custom option types to configuration settings, as IConfiguration is no longer exposed, nor injected in Startup class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independe

[2019-05-08 12:18] arkiaconsulting opened #30815 "Additional configuration providers"
How could we register additional configuration providers(eg. Azure App Configuration). The AddAzureAppConfiguration extension method extends IConfigurationBuilder, which is not exposed in the FunctionsStartup class.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independen

[2019-05-08 12:22] TiLegend opened #30816 "AADSTS650057: Invalid resource"
Hi
I don't get access token from Postman
return log:

[2019-05-08 12:40] paulghodgson opened #30817 "Link to material not applicable to Azure SQL Database"
The "Whenever possible" link refers to https://docs.microsoft.com/en-gb/sql/relational-databases/security/choose-an-authentication-mode?view=sql-server-2017 the contents of this page do not apply to either Azure SQL Databases or Azure  SQL Data Warehouses

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb2d3ad-4751-005

[2019-05-08 12:42] netsrotr opened #30818 "App registrations (legacy)??"
App registrations (legacy) will no longer be available from May 2019. The entire document should be revised.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085ae-dcf6-e930-86a8-0e4a60ab1314
* Content: [Protect an API by using OAuth 2.0 with Azure Active

[2019-05-08 13:34] KevP opened #30823 "You MUST create a cert with the wildcard domain in the SUBJECT not the DnsName"
This instructions on this page (Task 1) are incorrect.

To get LDAPS to Azure AD to work correctly you MUST set the SUBJECT of the new certificate to *.domain.tld and not just the DnsName. Without the *. in the SUBJECT it won't work.

In Task 2 Step 8 there is a screenshot that has the correct *.domain.tld which it took me 2 days to spot!

---
#### Document Details

⚠ *Do not edit this section. It

[2019-05-08 13:34] msinghm opened #30824 "getting error on COPY command"
COPY ${source:-obj/Docker/publish}   command of Dockerfile is throwing error
"Dockerfile parse error line 7: COPY requires at least two arguments, but only one was provided. Destination could not be determined" while publishing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 046582d4-a031-1e6a-fbdd-ff6f59245266
* Versi

[2019-05-08 13:35] msinghm opened #30825 "Good to add manual step to copy/upload the files"
with ref.: #30824

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 046582d4-a031-1e6a-fbdd-ff6f59245266
* Version Independent ID: e73b7c20-3f12-5ab5-1def-460df469d16e
* Content: [Build ASP.NET app with Windows container (Preview) - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tuto

[2019-05-08 14:32] #29318 closed

[2019-05-08 14:36] brandonmmurphy opened #30826 "Azure Groups PATCH remove operation not SCIM v2 compliant"
The request body for Update Group [Remove Members] is not compliant with the SCIM v2 specification.
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/use-scim-to-provision-users-and-groups#update-group-remove-members

Azure is specifying the member value they want deleted in the "value" property.  SCIM specification states that the member value that would be removed in the PATCH

[2019-05-08 14:38] butchmarshall opened #30827 "SharePoint Online Client Extensibility Web Application Principal - where can I find the public signature?"
I opened this issue in the sp-dev-docs github but they considered it an Azure issue.

I would like to verify the JWT generated by the aadTokenProviderFactory but cannot figure out where the signature keys are stored.

None of the signatures at https://login.microsoftonline.com/common/discovery/keys or  https://login.microsoftonline.com/common/discovery/v2.0/keys are valid.

The original issue and

[2019-05-08 14:38] woutervanranst opened #30828 "Deprecated link"
Open the "App registrations blade" points to a deprecated link (in the azure portal it says "deprecated")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a75ea4cd-7173-91e7-dbb6-f526337054b2
* Version Independent ID: f44e7584-d625-9839-c9ec-e96b3d81ee2f
* Content: [Create an Azure AD app registration and user for Azure

[2019-05-08 14:39] aljo-microsoft commented on #30337
@racchen

"
Applies to
Azure SDK for .NET
Latest
"

Ref API Doc:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.services.remoting.serviceremotingproviderattribute?view=azure-dotnet

@jakaruna-MSFT
#please-close

[2019-05-08 14:44] MGoedtel commented on #30475
@toutougabi - I will bug the article and correct that as soon as possible.  I'll need to discuss this with engineering to identify what that URI should be if still required, which I will do today.  #in-progress

[2019-05-08 14:45] aljo-microsoft commented on #9840
@JohanSellberg

https://blogs.msdn.microsoft.com/azureservicefabric/2019/05/06/service-fabric-patch-orchestration-application-open-source-announcement/

https://github.com/Microsoft/Service-Fabric-POA

https://github.com/microsoft/Service-Fabric-POA/blob/master/src/PatchOrchestrationApplication/CoordinatorService/src/PackageRoot/ServiceManifest.xml

https://docs.microsoft.com/azure/service-fabric/

[2019-05-08 14:50] SubhashVasarapu-MSFT commented on #30619
@onkarsinghms , Could you please try with these powershell cmdlets.
For existing cloud service :
[code]

[2019-05-08 14:59] leon-andria opened #30829 "Support window agent pool"
[Enter feedback here]
It's not mentioned in the article but it's nice to know that we can also do this:
`az feature register --name WindowsPreview --namespace Microsoft.ContainerService`

And using version 1.14.0 is really key for us to have hybrid support Linux and Windows in some extend.
Does the Windows agent pool work ?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-05-08 15:00] stefangordon opened #30830 "Explanation of pod-cidr appears incorrect"
The explanation of --pod-cidr and all three bullet points under it explain that is defines the node IP space.  I believe it defines the pod IP space and that the node IP space comes from the existing subnet in this scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719f4010-810f-b3c7-d807-222b39b20e20
* Version I

[2019-05-08 15:01] #30830 closed

[2019-05-08 15:03] femsulu commented on #30195
@anirudhcavale  - any update?

[2019-05-08 15:04] femsulu commented on #30564
@mayurigupta13  - any inputs please?

[2019-05-08 15:06] aljo-microsoft commented on #10813
@Adebeer

"
Recent changes to the Service Fabric Resource Provider will now automatically detect and repair missing seed nodes. Simply make sure there are an adequate number of nodes in your primary nodetype to meet the Reliability requirements, and after 15 minutes the seed node configuration should repair itself.
"

https://github.com/Azure/Service-Fabric-Troubleshooting-Guides/blob/master/Clust

[2019-05-08 15:06] TonyLe-MSFT opened #30832 "Attaching data disk preview status?"
In this section:
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-attached-disks#adding-pre-populated-data-disks-to-an-existing-scale-set

It lists that attaching a data disk is still in preview. Is it GA yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75079c9f-fff6-85f0-

[2019-05-08 15:08] Mike-Ubezzi-MSFT commented on #30817
@paulghodgson Thank you very much for bringing this to our attention. As you have pointed out, the referenced document applies to SQL Server and not Azure SQL Database or Azure SQL Data Warehouse. I have assigned the issue to the content author to evaluate and update as appropriate.

![Screenshot (472)](https://user-images.githubusercontent.com/37126106/57386037-6e258180-7168-11e9-8aab-1086cbda64a

[2019-05-08 15:12] shabirjan commented on #30675
Ok my bad i meant seconds. @DixitArora-MSFT i agree. But as i mentioned if i enable cache i would expect that for next 20 seconds or whatever duration i have defined i ll get cache response instead of new request. And I am unable to achieve that using the steps you mentioned in the tutorial/document.

[2019-05-08 15:15] femsulu commented on #30649
@ananthradhakrishnan can you comment on the doc-enhancement request?

[2019-05-08 15:15] pho30 commented on #23239
Running into the same issue above. Receiving errors when trying pergb2018, but the other options in the documentation work, ultimately have to select a SKU and then switch it manually causing problems with fully automating this piece.

[2019-05-08 15:15] kenguest commented on #23986
Is there an update on this yet? Three months is a long time :-(

[2019-05-08 15:16] anirudhcavale commented on #30195
the doc was updated last week to be as per the most recent set of config from each RP. So the change to Count should be reflected in the doc.

[2019-05-08 15:17] mfalkvidd opened #30833 ""Test route" auto-adds contentEncoding"
Not sure if this is the correct place to report, but the "Test route" feature in the Azure portal seems to auto-set the system property contentType to `utf-8` even if I delete that system property in the Test settings, or if I set that system property to an empty string. See attached images.

![content_encoding2](https://user-images.githubusercontent.com/893502/57386640-12cdb080-71b5-11e9-887a-74b

[2019-05-08 15:24] KevP opened #30834 "Azure AD does support secure LDAP"
The last question/answer is incorrect and contradictory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41754710-a866-faf4-5b12-2029a700e232
* Version Independent ID: f46b759a-3abe-3d26-4671-999d88d38442
* Content: [Frequently asked questions (FAQ) - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active

[2019-05-08 15:26] WhatsMyNameLol opened #30835 "Clarification concerning password protection proxy"
I have looked over the documentation and the FAQ but there is one detail I'm not sure on which may be worth clarifying in the documentation.

For those of us with large on-prem AD forests, it is already quite an undertaking to install an agent on every DC, so how many proxy servers would it be reasonable to maintain? Are they redundant? And if for example, we only have 2 proxies and these are offl

[2019-05-08 15:29] #30195 closed

[2019-05-08 15:35] shashishailaj commented on #30822
@KevP Thank you for pointing this out and we sincerely apologize for the wasted time . I think you have created the issue twice with same details and this seems to be a duplicate for the other one. #30823

[2019-05-08 15:36] shashishailaj commented on #30822
I will be closing this as duplicate and we will continue to get the content updated via another issue #30823 thank you.

[2019-05-08 15:37] #30822 closed

[2019-05-08 15:38] shashishailaj commented on #30823
@KevP Thank you for your feedback . We apologize for the lost time due to the documentation and assure that we will get this reviewed by engineering soon and get it updated by the content team.

[2019-05-08 15:40] pragnagopa commented on #30525
@ggailey777 - Let me know if you need anything else from me.

[2019-05-08 15:40] shashishailaj commented on #30834
@KevP Thank you for your feedback . We will investigate and update further.

[2019-05-08 15:44] shashishailaj commented on #30834
@KevP Azure AD per se does not support secure LDAP and you may not be able to connect to your <tenant>.onmicrosoft.com AAD instance using any LDAP complaint tool like ldp.exe on the secure LDAP port 636 as far as i know. However its possible to enable Azure AD domain services instance on your tenant and configure Azure Networking with proper NSGs to enjoy the benefits of secure LDAP connectivity .

[2019-05-08 15:48] shashishailaj commented on #30826
@brandonmmurphy Thank you for your feedback . We will review this and have this updated as needed.

[2019-05-08 15:49] ggailey777 commented on #30787
Thanks @mydiemho. There were some other things out-of-date with the current API Management flow in Functions, so I updated those as well. Thanks for letting us know!

[2019-05-08 15:50] msLinuxNinja commented on #30785
Hey Micah, what I mean with proper methodology and test settings is explicitly defining the testing scenario, for example it says CoreMark was run on an Ubuntu VM. But it doesn’t state which version or which kernel, things that would affect benchmark results.

Also, it says that CoreMark settings were adjusted but, it doesn’t specify which settings were used for which tests. Ideally the article sh

[2019-05-08 15:50] stevestein commented on #30771
@JuanParodi  - Thanks for the feedback.

The term “serverless” across the industry generally refers to a compute model where the hosting service manages resource scaling (i.e., auto-scaling) and only charges for the amount of compute used (in contrast to compute provisioned).  This definition aligns well with the compute model provided by SQL DB serverless and in part motivated the name in SQL DB.

[2019-05-08 15:51] mdgattuso commented on #23292
It is coming this week, documentation will be up in a few days. I will ping this thread with a link to the documentation when it is live.

[2019-05-08 15:51] Mike-Ubezzi-MSFT commented on #30771
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-08 15:51] #30771 closed

[2019-05-08 15:53] TylerLeonhardt commented on #30705
We should move this over to Azure/azure-functions-powershell-worker

[2019-05-08 15:55] TylerMSFT commented on #30828
It became deprecated very recently. Updates for the new experience are in progress.

From: Wouter Van Ranst <notifications@github.com>
Sent: Wednesday, May 8, 2019 7:39 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tyler Whitney <Tyler.Whitney@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Deprecated link (#30828)

Open the "App regis

[2019-05-08 15:57] iainfoulds commented on #30829
At this time, Windows node pool support is in a rapid state of change. It's not recommended for use beyond initial experimentation, and no support is offered. When more widely available in public preview, the docs will be updated accordingly.

For now, #please-close

[2019-05-08 15:58] cronq opened #30836 "Link to more technical detail"
I understand this is a HowTo page, but it references being successor to 'Configuration token lifetimes'. Please link to similar/deeper documentation referencing how the sign-in frequency control actually interacts with token lifetimes, which token(s) are changed, etc. I think it would also be useful to describe how/if this impacts MFA claims/tokens.

(Thanks for the work, this is a great new featu

[2019-05-08 15:58] shashishailaj commented on #30800
@ScarOF Thank you for your contribution. Much Appreciated . :)

@D-Jeffrey Once you click authentication methods , currently you have one setting to manage which is password protection and you can see the custom banned settings there as well. It has not moved. As pointed out by @ScarOF its just out of preview now. Please check the following screenshots.

![image](https://user-images.githubusercont

[2019-05-08 15:58] #30800 closed

[2019-05-08 16:16] brandonmmurphy commented on #30826
@shashishailaj The documentation correctly describes how Azure is working today.  This is actually an issue with the Azure platform, not the docs.

Is there a different process for reporting issues with the Azure product?

[2019-05-08 16:18] KevP commented on #30834
It's just the last questions asks if you can use 'secure LDAP' and the answer says 'no you can't use LDAP but you can use secure LDAP'. Which was what the original question was, so it kind of contradicts itself.

Another question if I may, can you update passwords over domain Services LDAPS? And what privilege would a user need to bind and update other users passwords over LDAPS? thanks!

[2019-05-08 16:19] ganesr commented on #30799
These operations are async operations and are not time bound.

[2019-05-08 16:20] Karishma-Tiwari-MSFT commented on #30829
Thanks @iainfoulds .
@leon-andria
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-08 16:20] #30829 closed

[2019-05-08 16:21] Karishma-Tiwari-MSFT commented on #30830
@stefangordon Is this resolved? Let us know.

[2019-05-08 16:25] Karishma-Tiwari-MSFT commented on #30643
@hadr10 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-08 16:25] #30643 closed

[2019-05-08 16:28] shashishailaj commented on #30746
@crmhh It might be possible that you may have seen this within consent dialogues for work accounts . I have initiated a pr with a small note and it will be accordingly updated.

[2019-05-08 16:29] bjthomson commented on #30760
Created a support request.

[2019-05-08 16:33] Vask006 commented on #29921
Hi,

It is working with SQL reference data. Thanks for the help

With Regards
Anand

[2019-05-08 16:33] #29921 closed

[2019-05-08 16:38] RohitMungi-MSFT commented on #30723
@hoanglam-novobi I think your issue would need more analysis. Could you please post the exact error message in a new thread at our MSDN [forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureMachineLearningService) so that the extended community can help?

[2019-05-08 16:45] trevorbye commented on #30723
@hoanglam-novobi what is the size of the dataset you are using for training?

[2019-05-08 16:45] YutongTie-MSFT commented on #30832
@TonyLe-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-08 16:46] shashishailaj commented on #30826
@brandonmmurphy Thank you for clarification . Yes for reporting issues with the product you can provide us feedback through the user-voice website https://feedback.azure.com/forums/169401-azure-active-directory . there are threads on [SCIM defects](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/31744375-scim-defects) which you may find . I agree that the Azure AD SCIM

[2019-05-08 16:46] #30826 closed

[2019-05-08 16:46] YutongTie-MSFT commented on #30828
@woutervanranst We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-08 16:46] #30828 closed

[2019-05-08 16:47] guardrex opened #30837 "Possible incorrect file signature for XLS"
Hello - Working your code into our File Upload example updates on https://github.com/aspnet/AspNetCore.Docs/issues/10214. You have the format signature for XLS (`.xls`) as ...

0xD0, 0xCF, 0x11, 0xE0, 0xA1, 0xB1, 0x1A, 0xE1, 0x09, 0x08, 0x10, 0x00, 0x00, 0x06, 0x05, 0x00, 0xFD, 0xFF, 0xFF, 0xFF

... but that doesn't seem to match an XLS file.

@Rutix suggested ...

0xD0, 0xCF, 0x11, 0xE0, 0xA1, 0x

[2019-05-08 16:47] #30746 closed

[2019-05-08 16:51] guardrex commented on #30837
Thus far, determined that that sig is a general "MS Office Document." It also applies to other Office products of that era (97/2003).

[2019-05-08 16:53] YutongTie-MSFT commented on #30820
@croraf Thank you for your feedback, we are investigating it an will get back to you soon.

[2019-05-08 16:56] YutongTie-MSFT commented on #30816
@TiLegend Thank you for your feedback, could you please share which document you are referring to?

[2019-05-08 16:57] YutongTie-MSFT commented on #30790
@mathieu-benoit We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-08 16:57] #30790 closed

[2019-05-08 16:58] veyalla commented on #30813
@rploeg Thanks for trying this! Can you provide the full command the you used to install (you should mask out the personal info in the device connection string)?

FYI: @darobs @avranju

[2019-05-08 16:59] SaurabhSharma-MSFT commented on #30837
@guardrex Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-08 17:00] YutongTie-MSFT commented on #30505
@michaelstiben Could you please send us an email at Azcommunity@microsoft.com with the URL of this thread and your Azure subscription ID? I think we need investigate it deeply.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-08 17:00] #30505 closed

[2019-05-08 17:03] YutongTie-MSFT commented on #30517
@mayurpuli
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-08 17:03] #30517 closed

[2019-05-08 17:04] SaurabhSharma-MSFT commented on #30835
@WhatsMyNameLol Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-08 17:07] SaurabhSharma-MSFT commented on #30827
@butchmarshall Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-08 17:07] HJToland3 commented on #21476
@tudort-iquest, I've added text to the VNet creation prerequisite: "For more information about creating a VNet, see the Virtual Network Documentation, and especially the quickstart articles with step-by-step details." The text Virtual Network Documentation points to https://docs.microsoft.com/azure/virtual-network/.  Thanks!

[2019-05-08 17:08] #10813 closed

[2019-05-08 17:08] #9840 closed

[2019-05-08 17:08] #23322 closed

[2019-05-08 17:08] #23128 closed

[2019-05-08 17:11] mr-fuller commented on #30507
I saw this:
![image](https://user-images.githubusercontent.com/20356962/57394153-bfe30180-7192-11e9-9bf7-56a587a0d0dd.png)

[2019-05-08 17:12] YutongTie-MSFT commented on #30586
@yaoshen2017 You can use Python SDK to do it, please see following document: https://docs.microsoft.com/en-us/azure/machine-learning/service/quickstart-run-cloud-notebook
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-08 17:12] #30586 closed

[2019-05-08 17:13] Mike-Ubezzi-MSFT commented on #30820
@croraf It appears there is a slight navigation change to the Portal UI:

![Screenshot (476)](https://user-images.githubusercontent.com/37126106/57394255-dd57a180-7179-11e9-8320-0247015151d1.png)

![Screenshot (474)](https://user-images.githubusercontent.com/37126106/57394263-e47eaf80-7179-11e9-946c-f1801a10241b.png)

[2019-05-08 17:14] Mike-Ubezzi-MSFT commented on #30820
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-08 17:14] YutongTie-MSFT commented on #30590
@eyast Could you please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and the URL of this thread? We would like look investigate further.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-08 17:14] #30590 closed

[2019-05-08 17:16] Alberto-Vega-MSFT commented on #30833
@mfalkvidd Thanks for reaching out. Do you have a support plan? Please log a bug with Azure support. If you do not have an Azure Support Plan, please send your Subscription ID to AzCommunity @ microsoft.com and instructions will be returned to you to have a Support Request created to look at this.

[2019-05-08 17:16] cobrauf commented on #29722
I haven't had the chance to try out the solution yet but will respond
after, thanks.

On Mon, May 6, 2019 at 3:56 PM Alberto Vega <notifications@github.com>
wrote:

[2019-05-08 17:17] YutongTie-MSFT commented on #30562
@krishorrocks
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-08 17:17] #30562 closed

[2019-05-08 17:17] RyanHill-MSFT commented on #30507
@mr-fuller and the address associated to the 'Free Trial' is the same address that's in the account drop down box from your first screen shot?

[2019-05-08 17:19] stefangordon commented on #30830
Yes I closed it.

I found the first bullet confusing

Because it makes it sound like this is used for Node IP addresses (it isn't), but after re-reading several times I realized the second bullet point does say that this is being used to assign a block to each node.

It could probably be more clear that these are Pod IP addresses and each node gets a block of them, but I think it is fine for now.

[2019-05-08 17:19] AmirGeorge commented on #29557
@mansetaashok you need to republish for the disabling of publish settings to take effect.

[2019-05-08 17:20] pho30 opened #30838 "Custom Log Field for Setting the Path Type to Linux"
Is there a specific field to call out in the JSON for setting the custom log Path Type to Linux?
By default when deploying this it is set to Windows, but would like to avoid manually going in and having to change this after deployment.
It would also benefit to include the "Enable-AzOperationalInsightsLinuxCustomLogCollection -ResourceGroupName $ResourceGroup -WorkspaceName $WorkspaceName" command

[2019-05-08 17:21] SaurabhSharma-MSFT commented on #30836
@cronq Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-05-08 17:23] TravisCragg-MSFT commented on #15007
@sangeethmani1 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-08 17:23] #15007 closed

[2019-05-08 17:23] yaoshen2017 commented on #30586
@YutongTie-MSFT<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FYutongTie-MSFT&data=01%7C01%7Cyshen%40microsoft.com%7Cbc234ffc77404f5234d908d6d3d86933%7C72f988bf86f141af91ab2d7cd011db47%7C1&sdata=vwFFlNnhRs7JaAjeVQ1yntAmTZmXHOQiBwTdpPbA0zY%3D&reserved=0>. Thanks for the quick responds. I still couldn’t find answers of my original questions in the page you shared.

Fr

[2019-05-08 17:24] AjayKumar-MSFT commented on #30797
The hyperlink for ‘timer trigger reference article’ points to the Azure doc “Timer trigger for Azure Functions” > ‘[CRON expressions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer#cron-expressions)’ section and works fine now. Could you please take a look and confirm? Kindly do let us know if you need further assistance with this.

[2019-05-08 17:29] butchmarshall commented on #30827
I'm using the code from this document: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/guidance/connect-to-api-secured-with-aad

I wish to verify the JWT generated by the code here:

![Screenshot from 2019-05-08 13-29-12](https://user-images.githubusercontent.com/339763/57395133-4c8ebf00-7195-11e9-8058-0b178840bbfb.png)

[2019-05-08 17:29] mr-fuller commented on #30507
Yes (thanks for editing that, btw)

[2019-05-08 17:30] RyanHill-MSFT commented on #30824
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-08 17:30] shashishailaj commented on #30807
@KbLev Deprecated accounts are the accounts which have been blocked from Sign-in within the directory. Thank you for pointing this out . We have initiated a pull request and it will be updated in the article. This issue will be closed after the update

Thank you.

[2019-05-08 17:31] JohnDelisle opened #30841 "Availability of resources in DR"
I can't find anything in the ASR documentation regarding the availability of resources in the target datacenter during a disaster.

For example, say I have 300 VMs using ASR from Central Canada to Eastern Canada regions.  I have RI's for the VMs in Central Canada.  I have ASR for each of these VMs replicating them to Eastern Canada.

As an RI and ASR customer with VMs in Central Canada, what assur

[2019-05-08 17:31] Rutix commented on #30837
@SaurabhSharma-MSFT If you want I can provide a XLS file which doesn't satisfy
`0xD0, 0xCF, 0x11, 0xE0, 0xA1, 0xB1, 0x1A, 0xE1, 0x09, 0x08, 0x10, 0x00, 0x00, 0x06, 0x05, 0x00, 0xFD, 0xFF, 0xFF, 0xFF`

This breaks down to:
`0xD0, 0xCF, 0x11, 0xE0, 0xA1, 0xB1, 0x1A, 0xE1` which indicates it's a microsoft office document.
`0x09, 0x08, 0x10, 0x00, 0x00, 0x06, 0x05, 0x00` at offset 512 bytes indicates

[2019-05-08 17:31] dlepow commented on #30225
PowerShell script has been updated. Thanks again @TurtleBeach for the heads-up.
#please-close

[2019-05-08 17:33] #30225 closed

[2019-05-08 17:39] cynthn commented on #30727
@WoutVergauwen Thanks for the feedback! You are correct! I've fixed the doc and it should publish today around 3:00 PM PST. Thanks again!

#please-close

[2019-05-08 17:40] RyanHill-MSFT commented on #30507
Okay, well to answer your initial question, the dialog box is suppose to be populated with information about your subscription thusly allowing you to deploy your project to new or existing app services. Send us the versions of your Visual Studio and Cloud Explorer and I'll get your issue routed to the appropriate team.

[2019-05-08 17:42] porrascarlos802018 opened #30844 "Instructions on this document doesnt work on windows AZ CLI"
this document referes Azure CLI, but for the ones running ubuntu and windows, no option its available to declare variables, correct?
https://docs.microsoft.com/en-us/azure/aks/azure-files-volume
Azure cloud shell has to be used?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d634c63a-6194-86a6-b522-3310812c81e8
* Versio

[2019-05-08 17:43] MicahMcKittrick-MSFT commented on #30785
@msLinuxNinja thanks for the clarification. I am not sure this is something that we want to be included in the article. Regardless, I will assign to the author for further review.

CC @cynthn @daviburg

[2019-05-08 17:43] porrascarlos802018 commented on #30844
this document referes Azure CLI, but for the ones running ubuntu and windows, no option its available to declare variables, correct?
https://docs.microsoft.com/en-us/azure/aks/azure-files-volume

Azure cloud shell has to be used?

[2019-05-08 17:45] Karishma-Tiwari-MSFT commented on #30370
@Shell32-Natsu As per discussion offline with the product team, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-08 17:46] #30807 closed

[2019-05-08 17:47] Shell32-Natsu commented on #30370
@Karishma-Tiwari-MSFT Thanks!

[2019-05-08 17:49] RyanHill-MSFT commented on #30825
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-08 17:49] MicahMcKittrick-MSFT commented on #30832
@TonyLe-MSFT I am not seeing anything about this feature in preview. On only thing we call out that is technically preview is the API calls to do this if you want to go down the route using REST

![image](https://user-images.githubusercontent.com/32313503/57396284-f0b93b80-717e-11e9-9f92-ab838c4274b7.png)

[2019-05-08 17:52] pho30 opened #30845 "Installing Monitoring Solution"
I noticed when running the commands for enabling and installing the monitoring solutions, they do not actually appear in the workspace. When running the above sample script provided, it enables the solutions, the associated saved searches can also be seen in the workspace for the solutions, however, if you look at the resource group it is deployed to, none of these solutions exist. If you look at

[2019-05-08 17:55] sampath2121 opened #30846 "Azure PowerShell cmdlet needs to be corrected with EncrtyptFormatAll and LVM"
The Azure PowerShell cmdlet to encrypt the disks with -EncryptFormatAll and LVM is not complete. It's missing required parameters. If possible, please add the cmdlet for both BEK and KEK options.

Use the EncryptFormatAll parameter with Logical Volume Manager (LVM):
https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-linux#--use-the-encryptformatall-parameter-with-logica

[2019-05-08 17:55] mr-fuller commented on #30507
My visual studio is Community 2019 version 16.0.3. Cloud Explorer is 1.2.1903.151. It kind of looks like I'm using early release candidates of either or both. Is that the case? Sort of related: I have been able to publish what I want using the azure-CLI.

[2019-05-08 17:56] MicahMcKittrick-MSFT commented on #30764
@teunroefs I cannot repro this issue. Can you share some screenshots of the errors you are seeing?

[2019-05-08 18:03] himanshusinha-msft commented on #30778
@tmfahim  : As @CHEEKATLAPRADEEP-MSFT  suggested please post this question on the forum . We are going ahead and closing the issue now , you can always re-open the issue  .

[2019-05-08 18:03] #30778 closed

[2019-05-08 18:05] netapp-bcammett commented on #30437
Sorry for my late reply. No, I haven't tried with the CLI. I'm actually a partner trying to write content so our customers can successfully deploy in Azure.

[2019-05-08 18:06] YutongTie-MSFT commented on #30586
@yaoshen2017 Hi I updated my comment just now, please check it, it should have all the information you want. If you are still looking for other information, please tell us. Thank you.

[2019-05-08 18:06] maryannlim opened #30847 "Typo in security rule settings table"
Under Destination, the Value description states "Select Any, Application security group, IP addresses, or Virtual Network for inbound security rules." Shouldn't this be "... for outbound security rules"? Thank you in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ea14a05-b98d-4cec-5f36-726f3c3d1da2
* Version

[2019-05-08 18:07] YutongTie-MSFT commented on #30586
@yaoshen2017 Also more if you want: https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/training-with-deep-learning

[2019-05-08 18:13] fhryo-msft commented on #30804
@juyama, this sample has been verified. did you have chance to test it? please let me know if you encounter any issues.

[2019-05-08 18:16] Karishma-Tiwari-MSFT commented on #30819
Thanks @rapatchi
@kgalic Please post this as a product feedback [here](https://feedback.azure.com/forums/293901-service-fabric). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

We will now close this issue. If there are further

[2019-05-08 18:16] #30819 closed

[2019-05-08 18:18] SyntaxC4 commented on #30596
I haven't heard about this, and I don't have any special relationships with GitHub. I think this is something that should be submitted by either support@github.com or file it as a bug in [Project Paper Cuts](https://github.blog/2018-08-28-announcing-paper-cuts)

[2019-05-08 18:19] mike-urnun-msft commented on #30818
Hi @netsrotr Thank you for your feedback! We will review and update as appropriate.

[2019-05-08 18:19] mathieu-benoit commented on #30790
Good to know @TylerMSFT, thanks! There is also the associated CLI doc page which should be updated too: https://github.com/Azure/azure-cli/issues/9336. Thanks!

[2019-05-08 18:22] koolin commented on #21169
The reference to "Application Insights Tools" should be removed since it no longer exists.  The troubleshooting steps are incorrect.

[2019-05-08 18:22] mike-urnun-msft commented on #30815
Hi @arkiaconsulting Thank you for your feedback! We will review and update as appropriate.

[2019-05-08 18:23] croraf commented on #30820
Thanks. I found it as per your picture.

[2019-05-08 18:23] #30820 closed

[2019-05-08 18:24] mike-urnun-msft commented on #30814
Hi @arkiaconsulting Thank you for your feedback! We will review and update as appropriate.

[2019-05-08 18:28] stimms opened #30848 "Screenshots and terminology in need of update"
The portal has changed to use a new UI and some terminology has been updated. Reference https://docs.microsoft.com/en-us/azure/active-directory/develop/app-registrations-training-guide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-4

[2019-05-08 18:28] shashishailaj commented on #30796
@xiaofengcy Yes it is mandatory but only for scenarios where the Native Application will use any of the following flows because these auth flows do not use redirect URIs .

- Resource owner password credential (ROPC)
- Device code flow
- Integrated Windows Authentication (IWA)

If your native application is not using any of the above flow then you would always define the redirect URI and you may n

[2019-05-08 18:30] TravisCragg-MSFT commented on #30810
@Sethu2488 a key will work until you use it, or until you revoke it. In your scenario, you will need to make a new key for the new connection. You will need to make a new key for the new connection.

[2019-05-08 18:30] shashishailaj commented on #30736
@stoff75  We are engaging the authors to get more clarity on this.

@billmath could you please have a look into this and provide some clarification?

Thank you

[2019-05-08 18:31] artisticcheese opened #30849 "Is it in GA or still preview"
Per blog entry and this page it's no longer in preview and yet inside portal it's still showing as preview
![image](https://user-images.githubusercontent.com/13176884/57398885-b0b18300-7195-11e9-9712-a8385557ac84.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d150ace-bd6d-8111-79b5-0ce7cb76a378
* Version Independ

[2019-05-08 18:33] TravisCragg-MSFT commented on #30333
@verboompj I will leave feedback with the team that handles the pricing calculator.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-08 18:33] #30333 closed

[2019-05-08 18:33] Karishma-Tiwari-MSFT commented on #30743
@ramankumarlive I tried editing the doc but I do not have access to the script file. I am assigning the issue to you.
@montebhoover
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-08 18:35] CelesteDG commented on #30848
Thank you, @stimms - We'll definitely get this updated. Thank you for bubbling this up. Will update this thread once we've got the PR ready.

[2019-05-08 18:36] eshudnow commented on #30797
It appears to be resolved.  Thank you.

[2019-05-08 18:39] ElanShudnow commented on #30564
Also, just want to provide some feedback.  I've had several Azure folks review this article and everyone agrees that the article needs a big revamp to be a lot more clear on the instructions and provide a lot more detail.

[2019-05-08 18:39] Karishma-Tiwari-MSFT commented on #30849
@artisticcheese You are right. The shared image gallery went into GA recently as per this blog:
https://azure.microsoft.com/en-us/updates/shared-image-gallery-generally-available/
I will share this portal bug with the Product team and ensure it is corrected. Thanks for bringing this to our attention.

[2019-05-08 18:44] mtillman commented on #30596
Thanks @SyntaxC4. @Paxxi I've sent a request to GitHub support for them to investigate this further. Since this is not a problem with the docs article, I'm going to close this issue. However, I'll report back on this comment thread if I get an update from them.
#please-close

[2019-05-08 18:50] sjyang18 opened #30850 "Would you add this question to this page : "Is OSBA(Open Service Broker for Azure) supported and how do I enable it then?""
Not sure how to enable OSBA in this offering.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8cb0c6-b695-e55a-d9ec-9a799b802ea3
* Version Independent ID: 80fd40f6-a7f3-4848-95ea-9681d266f9a7
* Content: [Frequently asked questions for Azure Red Hat OpenShift](https://docs.microsoft.com/en-us/azure/openshift/openshift-

[2019-05-08 18:53] eross-msft commented on #30063
@Suzuko123  I updated the article to include, "It can take several hours for everything to show up properly. If it seems to be taking too long, make sure you check the **Global subscription filter** for the moved subscription, to make sure it's not simply hidden." If you feel like more needs to be said, please open a new issue.

@MarileeTurscak-MSFT  #please-close

[2019-05-08 18:54] AjayKumar-MSFT commented on #30797
@ElanShudnow, We will close this out, but if you feel you need more information on this topic please just let us know. Thanks again for sharing your feedback.

[2019-05-08 18:54] #30797 closed

[2019-05-08 18:57] BBAPercival opened #30851 "Getting this to work locally"
Assuming you use your own B2C tenant and B2C setup, and you can sucessfully log in, what should happen when you click "To-Do List"? It's not very well documented, but if I change this in the web.config: add key="api:ApiIdentifier" value="https://localhost:44332/tasks/", I get this: Error.
We're having trouble signing you in.
Please sign in again. Unauthorized

---
#### Document Details

⚠ *Do not

[2019-05-08 18:58] kpstolk commented on #27453
@tamram Currently debugging a Functions project from Visual Studio automatically starts the Azure Storage Emulator.

Will this be replaced with Azurite since you say the Azure Storage Emulator will be legacy soon?
I see that I can also install [a NuGet package](https://github.com/Azure/Azurite#nuget) which launches automatically instead but the latest version is more than a year old and links to a

[2019-05-08 19:08] TylerMSFT commented on #30850
I will take this under consideration with the product team.
#please-close

[2019-05-08 19:10] MarileeTurscak-MSFT commented on #30595
Thank you, @aszalacinski

I am assigning this to the content author, @davidmu1 .

Which is the API setup tutorial that you are referring to? Do you think it would be enough to include a note in the document that this is a prerequisite?

[2019-05-08 19:27] MGoedtel commented on #30475
@toutougabi - Enginering is investigating this, so I don't have an answer for you yet.  @shashishailaj - Please reopen this issue.

[2019-05-08 19:29] johncrim opened #30852 "Telegraf plugin doesn't work automatically for VM scalesets"
For these directions to work in VM scalesets, the resource ID for the scaleset must be explicitly set in the `telegraf.conf` file. More info here:

https://github.com/influxdata/telegraf/issues/5819

Once this issue is fixed, these directions will also work for VM scalesets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-05-08 19:30] brushwood24 opened #30853 "Setting Throughput At The Collection Level"
I've seen examples of how to set throughput at the container level but I'd like to see how to set it at the collection level.  I have tried setting:

"options": { "throughput": 3000 }

in Microsoft.DocumentDb/databaseAccounts/apis/databases/containers

It works when I run the template for the first time but then fails on subsequent runs with the error:

"Throughput update is not allowed through op

[2019-05-08 19:30] rboucher commented on #27423
#please-close

[2019-05-08 19:38] ash2017 commented on #30833
From the images, contentType is set to application/JSON and contentEncoding has been deleted or emptied. For contentencoding - Allowed values are UTF-8, UTF-16, UTF-32 if the contentType is set to application/JSON.

[2019-05-08 19:46] saulcruz opened #30854 "Documentation on callBackUri error messages"
In the "Additional Notes" it says that "Any error message can be added into the body of the callback and used in a subsequent activity."

Would you provide an example?
How can we send an error back based on any condition and how can we add an error message  to this callBackUri?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-05-08 19:48] MarileeTurscak-MSFT commented on #18048
@Sculpin90 feel free to email me at matursca@microsoft.com or email @MicrosoftGuyJFlo (email is on his page) and either of us can send you the script.

[2019-05-08 19:50] sitedesigner opened #30855 "Using VI or NANO?"
Can you please add documentation on how to get VI or NANO started? Without that help, it's not useful to have VI or NANO as options to create a new file. Thank you! :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
* Con

[2019-05-08 19:51] mfalkvidd commented on #30833
@ash2017 yes I am aware of that. So my test should not match. But the test shows that it matches.

[2019-05-08 19:51] Karishma-Tiwari-MSFT commented on #30850
@sjyang18 Thanks for your feedback. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-08 19:51] #30850 closed

[2019-05-08 19:52] sitedesigner opened #30856 ""View container logs" on the Containers tab needs to be updated"
Not sure if it's just me, but I see the screenshot for Insights &gt; Containers is out of date... also the "View container logs" link is now a blue button that says "View live data(preview)" that should be included in the screenshot as well.

It doesn't appear that I can add a screenshot to my feedback here, but I would love to take a screenshot sometime to include for future reference.

Thanks in

[2019-05-08 19:56] cynthn commented on #30186
@bhalbright Thanks for the feedback. Password length can vary, depending on the tool you use. I've clarified this in the docs and the update should publish around 3:00 PM PST today.

#please-close

[2019-05-08 19:58] TheSaltyKorean commented on #30676
If you follow the instructions starting [here](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/blobs/storage-lifecycle-management-concepts.md#azure-portal), once you complete step 3, the article talks about PowerShell, however you cannot put the PowerShell script into the screen.  Instead you can copy paste the json equivalent noted [here](https://github.com/MicrosoftDocs/

[2019-05-08 20:00] kgalic opened #30819 "The selected Wizard could not be started"
Hello,

I am using the latest Eclipse 2019-03(4.11.0). Creating a new project fails with the following error:

The selected wizard could not be started.
Plug-in Servicefabric.plugin was unable to load class servicefabric.wizards.NewServiceFabricProjectWizard.
An error occurred while automatically activating bundle Servicefabric.plugin (964).

Any idea how to resolve this? Potentially plugin suppor

[2019-05-08 20:07] jlian commented on #30092
The cause of this is essentially a bug on our side. Unfortunately the fix isn't trivial so we've backlogged it for now. Hopefully we will be able to implement the bug fix in the metric itself soon, at which point we will also update the documentation to make it clear.

[2019-05-08 20:07] overslacked opened #30858 "Testing URL no longer works"
At the end of Step 1 is a URL for an Azure Function to use for testing. However, this URL 404s.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 781ff5da-dba7-1be3-b310-e74ddf3bbce0
* Version Independent ID: d904416e-c5ba-89dd-c6d6-b8e6375b9c63
* Content: [REST API claims exchanges as an orchestration step in Azure Activ

[2019-05-08 20:08] andrewchungxam opened #30859 "Clarifying Questions"
Thank you for this important document - would you please clarify the following?

Scenario:
Say that I am building an Android app in Cordova.  I am using GCM in my app.  It works fine now.

Question 1:  Am I correct in my understanding that no change is currently needed from me? ie. An app that works fine currently will continue to work fine after the cutoff date (ie. no changes needed in the backe

[2019-05-08 20:11] croraf opened #30820 ""New Query" options missing in dashboard"
I'm checking the following section in dashboard: https://docs.microsoft.com/en-us/azure/cosmos-db/find-request-unit-charge#use-the-azure-portal-1

But in my dashboard (in CosmosDB account Mongo flavor) when I select a collection I don't see "New Query" option.

--------------------------------------

Visually:
![image](https://user-images.githubusercontent.com/19698636/57377750-81a20e00-71a3-11e9-

[2019-05-08 20:12] dlepow commented on #30630
Adding @sajayantony - Do you have any suggestions for this customer about using a managed identity in scenarios to pull from ACR into ACI, perhaps via REST API? Thanks!

[2019-05-08 20:15] indcoder opened #30860 "Code discrepancies in snippet"
Hi,

While the code snippet pics mentions HttpTrigger the following in the FunctionsTests.cs

            var response = (OkObjectResult)await HttpTrigger.Run(request, logger);

in the github repo, its mentioned as HttpFunction

var response = (OkObjectResult)await HttpFunction.Run(request, logger);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-05-08 20:20] Karishma-Tiwari-MSFT commented on #30618
Glad to know it resolved your issue.

[2019-05-08 20:26] masonwolf opened #30861 "How do I find out the actual throttling limits?"
I'd like to see the actual throttling limits for a data lake. Is there a way to do that, either via REST, power shell, or portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67fb6088-26de-e4c5-3bd9-8cb06c02bb03
* Version Independent ID: 1d914a7b-c36f-60cb-5f27-5975032a4435
* Content: [Azure Data Lake Storage Gen1 Pe

[2019-05-08 20:28] SubhashVasarapu-MSFT commented on #30847
@maryannlim , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-05-08 20:30] KevP opened #30822 "You MUST create a cert with the wildcard domain in the SUBJECT not the DnsName"
This instructions on this page (Task 2) are incorrect. To get LDAPS to Azure AD to work correctly you MUST set the SUBJECT of the new certificate to *.domain.tld and not just the DnsName. Without the *. in the SUBJECT it won't work.

In Task 3 Step 8 there is a screenshot that has the correct *.domain.tld which it took me 2 days to spot!

Please update this page.

---
#### Document Details

⚠ *Do

[2019-05-08 20:32] ctstone opened #30863 "ObjectProjectionSelector schema is not correct"
The example for a KnowledgeStore `object` includes a `key` property that is currently being rejected by `api-version=2019-05-06-preview`:

[code]

When I remove the `key` field, the request succeeds, but I can see that there are 2 new undocumented properties on a subsequent GET: `inputs: []` and `sourceContext: null`. I'm guessing these serve the same function as they do on skill inputs?

Is it po

[2019-05-08 20:35] demongolem opened #30864 "Add Phrase List Save Button is Called Done and it is Always Disabled"
My screen for Add Phrase List looks slightly different.  When I bring up the Add Phrase List dialog, I enter the name and then the value.  There is no way to add Phrase List Value or Related Values and the button called save above (which is called done on my screen) cannot be enabled therefore i am unable to create any new phrase lists.

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-05-08 20:40] SimonClendon opened #30865 "Broken link"
"Using the az functionapp devops-pipeline create command, an Azure pipeline..."

The "command" link results in a 404.
https://docs.microsoft.com/en-us/cli/azure/functionapp/devops-pipeline#az-functionapp-devops-pipeline-create

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab62930-d35d-d6d3-8bb7-2ed6b34636bb
* Version

[2019-05-08 20:42] MarileeTurscak-MSFT commented on #30644
Hi @markarnolditpro ,

Microsoft does not have any samples currently, but you can suggest this as product feedback on User Voice if you would like for this to go to the backlog. https://feedback.azure.com/forums/169401-azure-active-directory/category/160596-b2c

[2019-05-08 20:42] MarileeTurscak-MSFT commented on #30644
Closing this out as the proper place is user voice. Thanks for your suggestion!

CC: @davidmu1

[2019-05-08 20:42] #30644 closed

[2019-05-08 20:43] kobulloc-MSFT commented on #21169
@koolin Thank you for bringing this to our attention.  I've assigned this to the document author so they can update the document accordingly.

[2019-05-08 20:43] MarileeTurscak-MSFT commented on #30858
@overslacked
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-08 20:44] prbans commented on #30588
@PramodValavala-MSFT - would you happen to have any updates regarding this?

[2019-05-08 20:51] MarkusVi commented on #30491
HI @obsoletenewyork, I have staged an update for this.

#please-close

[2019-05-08 20:53] JeffJerousek opened #30867 "Clarification: Is delegation to a sub-domain required?"
To use www.partners.contoso.net would I have to create a partners.contoso.net domain and then create the NS record in the contoso.net domain?

Or, can I just create a CNAME in contoso.net for www.partners.contoso.net?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b15f287d-ebe7-d328-9ad6-f617f34e58e3
* Version Independ

[2019-05-08 20:57] mansetaashok commented on #29557
@AmirGeorge, Thank you very much. I have unchecked Publish settings,  spell checker and republish it. I am able to download the package file and container is also working fine.

@RohitMungi-MSFT @diberry @AmirGeorge , Thank you all for your help :)

[2019-05-08 20:58] msangapu-msft commented on #30375
Hi team, this is as expected. #please-close

[2019-05-08 20:58] msangapu-msft commented on #30330
@yiliaomsft Can you provide some details here?

[2019-05-08 20:58] dmytro-gokun commented on #30092
@jlian Gotcha. Thanks a lot for explanation! And keep us posted about the fix when it's ready :)

[2019-05-08 21:08] ahmedelnably commented on #30865
This is caused by this
https://github.com/Azure/azure-cli/issues/9343

[2019-05-08 21:11] CarlRabeler commented on #30621
@stevestein for awareness

[2019-05-08 21:13] mansetaashok commented on #20746
Hello @diberry, @YutongTie-MSFT, Is there any documentation available "How to run LUIS container in Azure" instead of localhost:5000. Also I would like to deploy Azure bot  framework and LUIS Docker container. Can anyone please help ?

[2019-05-08 21:18] #21762 closed

[2019-05-08 21:23] jlian commented on #30092
No problem. Thanks for asking the question here, it does help us understand the impact of this issue

[2019-05-08 21:24] diberry commented on #20746
@mansetaashok The Cognitive containers can be deployed in several different Azure services: Azure Container Instances, Azure Stack, and Azure Kubernetes Service. Which did you want to use? Azure bots can be deployed as a web service through Azure Web App Bot service. There is middleware in the bot framework that can talk to LUIS as well as the web app bot settings for LUIS configurations. Which, i

[2019-05-08 21:26] diberry commented on #30864
@demongolem Can you please add a screenshot here in the issue? #in-progress

[2019-05-08 21:27] Adam-Smith-MSFT commented on #30598
@handwen196, Thanks for posting, just a friendly reminder, for any issues not related to documentation, please post it in either [MSDN](https://social.msdn.microsoft.com/forums/azure/en-us/home?forum=windowsazuredata) or [Stackoverflow](https://stackoverflow.com) forums. I'd also like to suggest looking at azure Static websites which would render you HTML pages, more information can be found [here

[2019-05-08 21:27] #30598 closed

[2019-05-08 21:31] Adam-Smith-MSFT commented on #30571
@rbavery There was an actual bug last week from the script generated to mount azure files specifically in Linux, I worked with the internal team and currently fixed it. Would you be able to try again using the script generated in Azure Portal ? You also want to ensure that port 445 is open since File Shares are based on SMB.

We will now proceed to close this thread. If there are further questions

[2019-05-08 21:31] #30571 closed

[2019-05-08 21:35] richrundmsft commented on #30838
@bwren and @MeirMen - can you follow up on this issue?

[2019-05-08 21:36] richrundmsft commented on #30845
@MeirMen and @bwren - can you also follow up on this issue?

[2019-05-08 21:37] officechris commented on #30836
Can someone easily answer if the above "session lifetime" policies impacts MFA claims/tokens? I assume YES, anyone tested / confirmed?

[2019-05-08 21:52] johncrim commented on #30572
From everything I've seen, and some trial and error, the typehandlerversion
value is the Major.Minor portion of the actual extension image (as returned
from the Az or powershell command to return extension images). It would be
good to document that.

On Mon, May 6, 2019 at 9:43 AM Micah <notifications@github.com> wrote:

[2019-05-08 21:53] Karishma-Tiwari-MSFT commented on #16021
@briannipper Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-08 21:53] #16021 closed

[2019-05-08 21:54] Karishma-Tiwari-MSFT commented on #30186
Thanks @cynthn! :)

[2019-05-08 21:54] #30186 closed

[2019-05-08 21:55] rolyon commented on #30558
Hi @HannahHsiao
I did a test of this scenario and the best that I can tell the documentation is correct. I changed a subscription to a different directory while signed in with a user that was different than the Service Administrator. After making the change, the Service Administrator was not maintained. The Service Administrator was changed to the user that initiated the change.
thanks

[2019-05-08 22:04] clmccart commented on #23933
Hi @YutongTie-MSFT
Was this runconfig example moved somewhere? I can't seem to find an example of what the contents of a runconfig file should look like. Thanks so much!

[2019-05-08 22:09] Karishma-Tiwari-MSFT commented on #30856
@sitedesigner
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-08 22:11] #30787 closed

[2019-05-08 22:13] CarlRabeler commented on #30628
Please assign to @VanMSFT

[2019-05-08 22:15] rboucher commented on #24394
Reopen this issue if this is still a problem.

[2019-05-08 22:15] rboucher commented on #24394
#please-close

[2019-05-08 22:15] rboucher commented on #25868
Please reopen this issue if this is still a problem.

[2019-05-08 22:16] rboucher commented on #25868
#please-close

[2019-05-08 22:16] KeiroKamioka0000 opened #30869 "Supported Size?"
The [so on] is believed to be very ambiguous way to express.
Is this mean as long as VM have over 7GM Memory(Ram), Azure Disk Encryption will support no matter what the VM Size are?

Thanks.

Standard tier VMs: A, D, DS, G, GS, F, and so on, series IaaS VMs. Linux VMs within these tiers must meet the minimum memory requirement of 7 GB.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-05-08 22:25] Karishma-Tiwari-MSFT commented on #30844
@porrascarlos802018 Can you please elaborate a little more on your question?
If I am understanding the question right,
You can use Windows PowerShell ISE with the Azure CLI version 2.0.59 installed. Run az --version to find the version. If you need to install or upgrade, see Install Azure CLI. You can always use Azure cloud shell.

Let me know if you are looking for something else.

[2019-05-08 22:27] Karishma-Tiwari-MSFT commented on #30855
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-08 22:33] jlmace opened #30870 ""Note" Box has incorrect placement"
The "Note" box on this document says "The following procedure..." but has no procedure below it. I believe it should actually be placed higher on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e814964-701d-7f37-0864-ad5e417e0a49
* Version Independent ID: 757eeb47-bdfe-5d45-2b74-a121c797b8a8
* Content: [Windo

[2019-05-08 22:34] TravisCragg-MSFT commented on #20657
@larryms We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-08 22:34] #20657 closed

[2019-05-08 22:40] Alberto-Vega-MSFT commented on #30760
@bjthomson Closing this issue since we are going the support route.

[2019-05-08 22:40] #30760 closed

[2019-05-08 22:41] mrbullwinkle commented on #21169
The update to the docs are merged internally. The changes will go live tomorrow at 10 AM.

[2019-05-08 22:42] mrbullwinkle commented on #21169
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-05-08 22:43] HeidiSteen commented on #30863
Preview is upper case --- 2019-05-06-Preview.

[2019-05-08 22:43] YutongTie-MSFT commented on #30851
@BBAPercival Hi, thank you for your feedback. Could you please share which document you are referring to?

[2019-05-08 22:43] armanio123 opened #30871 "npm --save is no longer required"
On the first command `npm i --save azure-kusto-ingest azure-kusto-data`, the `--save` option is no longer required and no longer documented on the latest version of npm. I suggest removing it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a25c3cf7-2149-98fa-0b78-f0fe4e1dd254
* Version Independent ID: a0076cb9-5609-394

[2019-05-08 22:44] VanMSFT commented on #30817
Hi @paulghodgson, thanks for bringing this issue up! I can see the confusion, and am removing that line.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/76180

[2019-05-08 22:45] VanMSFT commented on #30817
#please-close

[2019-05-08 22:45] ctstone commented on #30863
Ill try it, but everything else works with this version after I remove “key”, including GET and PUT

[2019-05-08 22:46] Alberto-Vega-MSFT commented on #30733
@DRSPrashant This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get a one time free support ticket opened for this issue.

[2019-05-08 22:46] aszalacinski opened #30872 "Grossly out of date"
None of the instructions align with the portal. Especially the custom domain section. Screens shots would help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92ace583-56d5-c9d5-7ef4-c38bbfaa657b
* Version Independent ID: aececd35-06b1-ec4b-8229-0cf67826052c
* Content: [Tutorial: Enable custom domain with SSL on a stati

[2019-05-08 22:51] HeidiSteen commented on #30863
Yes, but I think its working because skillset in the 2019-05-06 (GA version) supports those properties.  The key, source, sourceField are only available in the Preview version.

[2019-05-08 22:51] VanMSFT commented on #30628
Following up with @anosov1960

[2019-05-08 22:53] rboucher commented on #29025
#please-close.  Update will appear tomorrow.

[2019-05-08 22:53] ctstone commented on #30863
IIRC I got “unknown type” when I tried to create a KnowledgeStore before changing the version. Isn’t the store preview only now? Or is it GA?

[2019-05-08 22:57] #21169 closed

[2019-05-08 23:00] MicahMcKittrick-MSFT commented on #30870
@jlmace good find! You are correct. It is in the wrong place. I will submit a fix for that shortly.

[2019-05-08 23:04] Mike-Ubezzi-MSFT commented on #30559
This is not my area of expertise, as I was serving as triage driver but, if you can track down the v2 schema (I couldn't find anything) you will be able to answer this question. Does v2 exist for Azure Monitor Logs?

[2019-05-08 23:07] HeidiSteen commented on #30863
It is preview-only. It worked last week but maybe something broke.  I will test again myself.

[2019-05-08 23:08] MicahMcKittrick-MSFT commented on #30855
Thanks @sitedesigner for reaching out. To use vi or nano you just type "vi" or "nano" into the cloud shell. Both are already preconfigured for use. However, I can see where this can be confusing. You can also do a simple internet search and that will show you all the commands you can use and what they do.

@iainfoulds I feel like we have had this feedback before on some other docs. What was the of

[2019-05-08 23:09] mansetaashok commented on #20746
Hello @diberry, I have a Azure bot service which is already running with LUIS through Azure DevOps pipeline. The bot application has deployed using Azure deployment center.  Now I would like to create a docker image for my bot application and build it through DevOps azure pipeline. The image should be build and push to the Azure Container Registry . Since my LUIS container is working on my local c

[2019-05-08 23:14] anas2204 commented on #23792
@SnehaGunda,
When would the new guidance be updated on the official docs?

[2019-05-08 23:20] tedgoddard opened #30875 "Show how to capture appId and password"
For instance, instead of just

`az ad sp create-for-rbac --skip-assignment`

show

[code]

Then use APP_PASSWD and APP_ID as variables in the additional commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719f4010-810f-b3c7-d807-222b39b20e20
* Version Independent ID: 82ac8cfa-b0a2-c77a-408a-ab9aa2b6bce4
* Content:

[2019-05-08 23:23] Alberto-Vega-MSFT commented on #30645
@tmhui94 Was @KingdomOfEnds helpful? Also if you created a post on MSDN please share the link here for future reference.

[2019-05-08 23:23] MicahMcKittrick-MSFT commented on #30870
Fixed submitted. Once the PR merges the changes will go live after a few hours. Thanks again!

[2019-05-08 23:23] #30870 closed

[2019-05-08 23:28] #29025 closed

[2019-05-08 23:31] ecfan commented on #30731
@steveculshaw & @mike-urnun-msft, thanks for submitting this issue. We reverted the docs as they're still working on enabling this support.

[2019-05-08 23:33] Mike-Ubezzi-MSFT commented on #30817
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-08 23:33] #30817 closed

[2019-05-08 23:40] aljo-microsoft commented on #25098
@wasabii

[code]

[code]

https://docs.microsoft.com/azure/service-fabric/service-fabric-dnsservice#preview-making-dns-queries-on-a-stateful-service-partition

https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-fabric-settings#dnsservice

Described above is how the supported scenario is implemented:

I can resolve my provisioned SF named application instance with a DNS query.

[2019-05-08 23:42] juyama commented on #30804
@fhryo-msft, does it mean the sample works fine now? I had test the previous version (before Az module) of the sample worked. However, we encountered following error when we try to run current version.

    + [Microsoft.WindowsAz.Storage.Blob.CloudBlobContainer]$Contain ...
    + ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo            : InvalidOperation: (Microsoft.Windo...udBlobContai

[2019-05-08 23:45] rameshjanjyam commented on #30814
@akriaconsulting @mike-urnun-msft

for now I am configuring my options like this

[code]

[2019-05-08 23:47] VanMSFT commented on #30132
@DanniJuhl - Thank you for pointing this out! We really appreciate it. We are updating the image to reflect the correct port. If you have any questions, please let us know.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/76189

#please-close

[2019-05-08 23:49] Mike-Ubezzi-MSFT commented on #30853
@brushwood24 Thank you for the detailed inquiry, we are investigating and will update you when we have additional information to provided. Is it possible to provide a copy of your ARM template minus any sensitive data such as subscription id. Just enough of it to show how you are passing the options. This will help us isolate the issue. Thank you.

[2019-05-08 23:54] Mike-Ubezzi-MSFT commented on #30871
@armanio123 Thank you very much for bringing this to our attention. We are currently evaluating this and will make an appropriate update upon review.

[2019-05-09 00:00] wasabii commented on #25098
That would make the A and TXT records incorrect, no?

On Wed, May 8, 2019, 6:45 PM aljo-microsoft <notifications@github.com>
wrote:

[2019-05-09 00:05] femsulu commented on #30559
FYI, the feature owner has been engaged and will share an update soon.

[2019-05-09 00:17] RyanHill-MSFT commented on #30507
I don't think so as Visual Studio 2019 is currently in GA. I have a hunch it's an issue with your account and tool which reads your subscription data.

If you want to use the CLI though, have a look at this [video](https://www.youtube.com/watch?v=lO5Dvde07Tg). It's brief and gets straight to the point.

[2019-05-09 00:21] KeiroKamioka0000 commented on #30799
@ganesr
Thanks for reply.

So does it applied right away?
Does the process will finish with in 5 seconds?

I understand it is async operation and not time bound, however I still would like to know how many minute should wait for the end of the Operation.

Thanks,

-Keiro

[2019-05-09 00:34] dcbrown16 commented on #24630
Ok so it looks like option 1 is the answer, although it's buried in one step a couple sections down from that link.
"From the list, select Storage.region."

The guidance could be a little more straightforward, and I'd prefer that we not link to blogs that are not translated or updated, but the information is somewhere in the docs for now and sort of linked from the page that I reported this on, so

[2019-05-09 00:34] #24630 closed

[2019-05-09 00:35] femsulu commented on #30852
@johncrim Thanks for the Comment. We are actively investigating and will get back to you soon.

@anirudhcavale Would it be possible to update the content with John's comment?

[2019-05-09 00:35] BryanTrach-MSFT commented on #30375
@karlrissland We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-09 00:35] #30375 closed

[2019-05-09 00:35] swamiviswesh opened #30877 "Valid values"
It will be good to add the valid values for the parameter e.g. what will happen when CpuCores  is set to zero.
For further info please see https://social.msdn.microsoft.com/Forums/en-US/94201b60-0ea6-4606-80e8-39bb386189ce/servicepackageresourcegovernancepolicy-cpucores?forum=AzureServiceFabric&prof=required

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-05-09 00:37] femsulu commented on #30841
@JohnDelisle Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-09 00:40] Mike-Ubezzi-MSFT commented on #30605
Hi @zepedaherbey, want provide a link to a Stack Overflow thread: [Why is cosmos db creating 5 partitions for a same partition key value?](https://stackoverflow.com/questions/50512379/why-is-cosmos-db-creating-5-partitions-for-a-same-partition-key-value) where this is discussed in greater detail.

We will now proceed to close this thread. If there are specific documentation edit that need to be ma

[2019-05-09 00:40] #30605 closed

[2019-05-09 00:45] MicahMcKittrick-MSFT commented on #30877
Thanks for posting this @swamiviswesh

@aljo-microsoft I worked with @swamiviswesh on this inquiry on MSDN

https://social.msdn.microsoft.com/Forums/en-US/94201b60-0ea6-4606-80e8-39bb386189ce/servicepackageresourcegovernancepolicy-cpucores?forum=AzureServiceFabric

I asked to open this issue as I believe the feedback to add to this doc is valid. Take a look and let me know what you think. I am hap

[2019-05-09 00:49] himanshusinha-msft commented on #30854
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-05-09 00:50] himanshusinha-msft commented on #30861
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-05-09 00:58] anosov1960 commented on #30628
In this case, you can run a VM in Azure and the firewall won't block you. But you still have to know the login and password of the dbowner on the source server. In most cases, the firewalls are not configured to allow Azure access. We also offer [Vnet service endpoints](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-overview)  as a more secure alternati

[2019-05-09 01:15] mike-urnun-msft commented on #30865
@SimonClendon Thank you for your feedback! We will review and update as appropriate.

[2019-05-09 01:16] mike-urnun-msft commented on #30860
Hi @indcoder Thank you for your feedback! We will review and update as appropriate.

[2019-05-09 01:26] dcbrown16 opened #30880 "What is the difference in the Input metrics?"
It isn't immediately obvious from the descriptions on this page what the difference would be between Input Events and Input Sources Received. What would cause them to be different?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 329b82e4-391b-f1c1-21f7-03eff5635145
* Version Independent ID: acda621d-0edd-0525-4365-d3ff9

[2019-05-09 01:28] vfylyk opened #30881 "Incorrect device auth request URL"
The URL for the device authorisation request returns a 404. Where https://login.microsoftonline.com/{tenant}/devicecode is shown, I believe it was meant to be https://login.microsoftonline.com/{tenant}/oauth2/v2.0/devicecode, which does return the expected results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58bc32c

[2019-05-09 01:35] KeiroKamioka0000 opened #30882 "For windows?"
Standard tier VMs: A, D, DS, G, GS, F, and so on, series IaaS VMs. Linux VMs within these tiers must meet the minimum memory requirement of 7 GB.

It the 7GB memory requirement is just for Linux VMs?
The LINK directed to the [A, D, DS, G, GS, F, and so on, series IaaS VMs] is toward to Linux VMs.

Cannot tell the memory requirement for Windows VM

---
#### Document Details

⚠ *Do not edit this sec

[2019-05-09 01:49] demongolem commented on #30864
Actually, the reason it turns out is because I did not push the "enter" key after entering in the value.  Pushing "enter" is counter-intuitive, although it does say it before you start typing to push "enter".  The screenshot does look slightly different though then what I see when I on the dashboard and it is curious that the wording on the button is different than what is shown on the page.

[2019-05-09 02:00] dcbrown16 commented on #23757
@ChiragMishra-MSFT doesn't this still need to be updated? There are "deprecated" metrics but nothing is listed as being in "preview", three months after this issue was closed.

[2019-05-09 02:16] kazshi opened #30883 "Windows Storage Spaces/Storage Pool is supported?"
"Storage Spaces" is listed in the 'Replicated machines - storage' as "Supported" - is it "Windows Storage Spaces (Storage Pool)"?
I would like to make sure if Windows Storage Spaces/Storage Pool is supported without any restrictions.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028

[2019-05-09 02:21] MartinJaffer-MSFT commented on #30551
In order to escalate the issue, I need to be able to reproduce the bug.  @maamleka  I would greatly appreciate if you could provide the steps taken to reproduce the bug, and the error you saw.  Once I have those, I will re-open this issue.

[2019-05-09 02:31] DixitArora-MSFT commented on #30731
Thanks @ecfan .

[2019-05-09 02:31] #30731 closed

[2019-05-09 03:06] marknettle opened #30885 "Link to Views, with Filters"
Not sure if this functionality is available in the product, but if so, it needs documentation. Is it possible to link to a view? Even better, link to a view with a filter populated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bddd261-e505-e5f7-aaa3-d6af234a693c
* Version Independent ID: a9591f87-7430-d346-334a-4545

[2019-05-09 03:11] stewartadam opened #30886 "Samples for adding user no longer work"
Not sure if it's a coding bug or intentional and the docs need updating, but in the latest Batch SDK releases a '*' parameter was used in the constructor for ComputeNodeUser requiring the passing of all parameters by name:
[code]

This way works:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a9c3cde-fcaa-c65c-

[2019-05-09 03:21] sumptersmartt opened #30887 "Azure Disks maximum size incorrect"
I believe managed disks larger than 4TB are GA everywhere. This article should be updated to reflect the change. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bf8f358-861a-b3e5-86c3-ad871a12b03e
* Version Independent ID: d13eea11-e440-ce33-2f2f-e6f6b98e3af2
* Content: [Deciding when to use Azure Blobs, Azure

[2019-05-09 03:25] YutongTie-MSFT commented on #30780
@shawnwan Hi, could you please provide more information about your error? Thank you.

[2019-05-09 03:30] lvjianjunljj commented on #30792
I confirmed the audience setting but there is still the same error, and for your step3, my setting is different with yours. I add the AAD auth accroding to the doc: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v1-nodejs-webapi . I think my setting shoud map the token I get from login.microsoftonline.com
![image](https://user-images.githubusercontent.com/29011275/57425

[2019-05-09 03:32] hoanglam-novobi commented on #30723
@trevorbye
The size of the dataset is about 80 MB.
I think the problem is not in the training step. So this setting cannot solve the problem.
Here are some logs when I running the model:
...
Running on local machine
Parent Run ID: AutoML_****
The lag-lead operator was removed due to memory limitation.
The rolling window operator was removed due to memory limitation.
Current status: DatasetCrossVal

[2019-05-09 03:33] hoanglam-novobi commented on #30723
@RohitMungi-MSFT
Thanks,
I will create a new post in MSDN.
If it's not a place to post it, should I close this issue?

[2019-05-09 03:39] snorrk opened #30888 "Breaking change not mentioned"
There is a breaking change between the v1.x and v2.x of the WebJobs ServiceBus NuGet package that I want to suggest be included on this page.

Version 1.x will create the topic or subscription configured in the ServiceBusTrigger (if it does not exist) but version 2.x of the package will not.

ServiceBusSubscriptionListenerFactory in v1:

[code]

ServiceBusSubscriptionListenerFactory in v2:

[code]

[2019-05-09 03:43] YutongTie-MSFT commented on #30608
@ehorodyski Sorry for the late response. Could you please send an email with the URL of this thread and your Azure Subscription ID at Azcommunity@microsoft.com ? Thank you.

[2019-05-09 03:44] HeidiSteen commented on #30863
Circling back on this thread, I confirm there is a problem with the sample Postman collection, which is getting fixed.

[2019-05-09 03:54] rbavery commented on #30571
Many thanks! I tried the updated script and it works now. I think it's worth saying in the docs that in order for the persistent mount to take effect, a restart is required, since before trying this I didn't know that fstab is loaded when the vm starts up and expected the mounting to work right away

[2019-05-09 04:02] rbavery opened #30890 "persistent mount still doesn't work for linux dsvm"
when I restart the vm, the mounting takes effect, which I know because I can see the files in my file share. but when I deallocate the VM, my directory I created in the `mnt` folder is gone and I have nothing mounted. Is there a way to keep the mount persistent after deallocating and starting the vm? My smbcredentials are still there so I'm not sure why the directory I had created in /mnt would di

[2019-05-09 04:02] SadiqhAhmed-MSFT commented on #30883
@kazshi Thanks for the comment! We will check on this ask and shall get back to you soon.

[2019-05-09 04:04] SadiqhAhmed-MSFT commented on #30885
@marknettle Thanks for the comment! We will check on this ask and shall get back to you soon.

[2019-05-09 04:04] KetanChawda-MSFT commented on #30795
@mganeshphani Checking in to see if the above post helped answering your question.

[2019-05-09 04:06] rbavery commented on #30890
also, I found an error in the connection script that is supplied. The mkdir command uses the name of the storage account rather than the name of the fileshare for the mount directory of the vm. the last command that does the mounting uses the file share name.

[2019-05-09 04:11] VikasPullagura-MSFT commented on #30886
@stewartadam Thanks for your feedback. We are checking on this and will respond to you soon.

[2019-05-09 04:16] SadiqhAhmed-MSFT commented on #25868
@rboucher Thanks for updating the thread with the information.

@Oegg88 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-09 04:16] #25868 closed

[2019-05-09 04:19] MohitDhingra-MSFT commented on #30792
Hi @lvjianjunljj,

According to the above screenshot, could you check the "**TenantName**", it should be "{TenantName}.onmicrosoft.com" or "{tenantId}". Please check the below screenshot for Nodejs reference:

![image](https://user-images.githubusercontent.com/47346772/57426976-77355200-723f-11e9-996f-320a1910653d.png)

I hope this helps.
Thank you.

[2019-05-09 04:27] KetanChawda-MSFT commented on #30814
@fabiocav  any thoughts here ?

[2019-05-09 04:29] KetanChawda-MSFT commented on #30815
@fabiocav could you please share your thoughts here ?

[2019-05-09 04:29] richieteh94 opened #30891 "Disk option not available during create Kubernetes Services AKS and limited node pool option"
There is no disk option when creating kubernetes services, it automatic uses the premium SSD with 100GiB and keep charging.

and

There is only limited option for the node pool. Why the node pool have limited option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independe

[2019-05-09 04:35] #30132 closed

[2019-05-09 04:36] YASWANTHM-MSFT commented on #30872
@aszalacinski, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-09 04:38] rbavery commented on #30890
It looks like after deallocating I can remount my fileshare with the following two commands. Good enough! I think it'd be useful to have the docs updated to reflect this quirk. and if there is any adjustment that is made to the persistent mounting script so that these commands don't need to be run I'd be interested to hear about it.

[code]

[2019-05-09 04:40] YASWANTHM-MSFT commented on #30887
@sumptersmartt, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-09 04:53] yashesvi commented on #29861
Yes, reservation is applied on per hour basis. Its use it or lose it per hour and not an aggregate for the day.

[2019-05-09 04:56] VikasPullagura-MSFT commented on #30875
@tedgoddard Thanks for your feedback. We are checking on this and will respond to you soon.

[2019-05-09 04:57] SnehaAgrawal-MSFT commented on #30663
@shadyshrif Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-09 04:57] #30663 closed

[2019-05-09 04:59] RohitMungi-MSFT commented on #30723
@hoanglam-novobi Thanks for the logs. Yes, a post in MSDN will help with the details of errors that occur at the steps that you are running. If there needs to be more detailed analysis we would need to use the support option to help you debug the issue with a support engineer.

[2019-05-09 05:02] SnehaAgrawal-MSFT commented on #30782
@kaushalp Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-09 05:02] RohitMungi-MSFT commented on #30808
@FullStackEngN Yes, you would need to activate shared computer usage of O365 with this DSVM. You can look at the details of shared computer activation for O365 [here](https://docs.microsoft.com/en-us/deployoffice/overview-of-shared-computer-activation-for-office-365-proplus).

[2019-05-09 05:04] SnehaAgrawal-MSFT commented on #30781
@kaushalp Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-09 05:07] mganeshphani commented on #30795
Yes sir. Please close

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: KetanChawda-MSFT <notifications@github.com>
Sent: Wednesday, May 8, 2019 11:05:13 PM
To: MicrosoftDocs/azure-docs
Cc: Ganesh Phani Kumar Majeti; Mention
Subject: Re: [MicrosoftDocs/azure-docs] 230 seconds timeout? (#30795)

@mganeshphani<https://github.com/mganeshphani> Checking in to see

[2019-05-09 05:15] jakaruna-MSFT commented on #30794
@burnsalpine is there any update

[2019-05-09 05:16] VikasPullagura-MSFT commented on #30891
@richieteh94 Thanks for your feedback. We are checking on this and will respond to you soon.

[2019-05-09 05:19] KetanChawda-MSFT commented on #30795
@mganeshphani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-09 05:19] #30795 closed

[2019-05-09 05:19] SumanthMarigowda-MSFT commented on #30890
@rbavery Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-09 05:19] DixitArora-MSFT commented on #30705
@Agazoth As suggested by TylerLeonhardt  open this issue in https://github.com/Azure/azure-functions-powershell-worker/issues and reference this thread. So for now I will proceed with closure of this and If there is anything, please tag me in your reply.

[2019-05-09 05:19] #30705 closed

[2019-05-09 05:21] RohitMungi-MSFT commented on #30811
@PatrickFarley Could you please help with the issue? Do you know who from PG can help us with this?

[2019-05-09 05:29] aquibqureshi26 commented on #29861
Can you confirm this once again i contacted support and got the answer that it will be applicable for both the VMs.

[2019-05-09 05:31] ToMakeSense commented on #26865
@tfitzmac

the fact is reference is within properties under **accessControl** section.
[code]

and the  **input** statement is working but the **count** isn't under the [copy element](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-multiple#property-iteration) section
[code]

[2019-05-09 05:49] jakaruna-MSFT commented on #30891
@richieteh94 I hope you created the cluster through portal. Please confirm.
In portal if you have selected the default size (Standard DS2 v2), you would get 30 GB disk space for the VM's.
Let me know the VM size which you selected.

Option for selecting the Node's disk size is not available in Portal. But you can use [Azure CLI](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#

[2019-05-09 05:51] jakaruna-MSFT commented on #30891
@richieteh94
I think you are using the cluster for learning.
 If you are worried about the cost, you can delete the cluster and create it on demand.
Creating the cluster takes around 10 minutes only.

[2019-05-09 06:03] SubhashVasarapu-MSFT commented on #30867
@JeffJerousek , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-05-09 06:14] SubhashVasarapu-MSFT commented on #30718
@frehnejc , Appreciate our patience. I too have reproduced your scenario and looks like data retrieval failed. I believe that the naming convention alone should not effect the setup ideally.
![image](https://user-images.githubusercontent.com/44890829/57431184-9cca5780-724f-11e9-9f41-ba36887def9f.png)
Let me check with respective PG and will update you on this.

[2019-05-09 06:15] simonech commented on #24006
@tchristiani @YutongTie-MSFT @PatrickFarley I'd had a look at the docs, and I guess someone was faster than I was and now all pages are correctly updated to use the proper faceclient.
I guess this is ticket can be closed.

[2019-05-09 06:22] DRSPrashant commented on #30733
I tried Building same project for android on unity. With little changes in player setting the app is working fine. I am able to create and save the anchor.

[2019-05-09 06:24] elangokp commented on #10180
Team, do we have a solution for using active directory integrated mode authentication from packages running inside Azure SSIS IR?

[2019-05-09 06:26] jakaruna-MSFT commented on #30875
@iainfoulds Please provide your comments

[2019-05-09 06:27] SubhashVasarapu-MSFT commented on #30718
@frehnejc , I just found that it fails on retrieving data only when we name the connection monitor with arrows (<,>,<> or some pattern including these arrows)
![image](https://user-images.githubusercontent.com/44890829/57431607-f7b07e80-7250-11e9-9646-b7d65658ff66.png)
I assume that the back-end program might be having one of the parameter allocated to connection monitor name where it could be get

[2019-05-09 06:31] TeunRoefs commented on #30764
Hi @MicahMcKittrick-MSFT

The problem is that for the AKSAzureADClient, the documentation states that you have to use _Web_ as the type for the App Registration, however, this causes the issues as shown in the initial link I sent with the comments. The authentication will fail.

After some digging I noticed that I could not use the _Native_ solution for the App Registration because that only exist

[2019-05-09 06:31] AjayKumar-MSFT commented on #30859
@andrewchungxam, Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2019-05-09 06:31] watahani opened #30892 ""Support Multiple Domain" tasks should be separated using Azure AD Connect and directory configure AD FS"
## Issues

1. It should be separated how to setup multiple domain using Azure AD Connect or run Powershell commands for directory setting up AD FS.
2. Azure AD Connect has been updated. Screenshot has been already different.

## details

For almost customers especially who have not edit claims, it is not needed to run powershell scripts that `Update-MsolFederatedDomain` and `Convert-MsolDomaintoFe

[2019-05-09 06:33] watahani commented on #29035
Hi @jeevansd
Is there any update?

[2019-05-09 06:40] formulahendry commented on #30612
We have created several issues to track this:
* https://github.com/microsoft/vscode-azure-iot-toolkit/issues/309
* https://github.com/microsoft/vscode-azure-iot-toolkit/issues/310
* https://github.com/microsoft/vscode-azure-iot-toolkit/issues/311

[2019-05-09 06:42] ToMakeSense commented on #26865
@MicahMcKittrick-MSFT @tfitzmac  You can confirm it again, if possible, please consider reopening this issue. thanks!

[2019-05-09 06:43] KetanChawda-MSFT commented on #30888
@snorrk Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-09 06:51] richieteh94 commented on #30891
@jakaruna-MSFT  thanks for the reply.
so if I want to create a custom Cluster with custom node and custom node pool I will need to create a custom ARM Template or use cli to create it

[2019-05-09 06:51] #30891 closed

[2019-05-09 07:18] ericcwk opened #30897 "Can we enable the Azure inventory of two Log analytics workspaces and both of them under same subscription ?"
[Enter feedback here]
Hi all,
Can we enable the Azure inventory of two Log analytics workspaces and both of them under same subscription ?
I find the GUI on Azure portal only allow enabling on one workspaces only.
Or can we do enabling this part in PS script ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17043b3e-4d1

[2019-05-09 07:31] YASWANTHM-MSFT commented on #30676
@TheSaltyKorean, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-09 07:45] kazshi commented on #28305
@SaurabhSharma-MSFT @barclayn Do you have any updates/info on this?  Thanks.

[2019-05-09 07:50] jakaruna-MSFT commented on #30891
@richieteh94 You are right

[2019-05-09 07:51] jakaruna-MSFT commented on #30891
@richieteh94 Multiple nodepools option is in preview now if you select nodrType as VMSS. You can check this out if this fits your scenario

[2019-05-09 07:57] VikasPullagura-MSFT commented on #30886
@laurenhughes Can you please look into this issue. When I tried the code sample for "[create a pool of Ubuntu Server compute nodes](https://docs.microsoft.com/en-us/azure/batch/batch-linux-nodes#create-a-linux-pool-batch-python)", I got few errors while running the script and changed few lines of code checking the latest SDK document. I guess the code samples are for old SDK and they need to be up

[2019-05-09 07:59] VikasPullagura-MSFT commented on #30886
@stewartadam I have assigned the issue to the content author, to investigate further and update the doc as required.

[2019-05-09 08:00] richieteh94 commented on #30891
@jakaruna-MSFT One more thing, what is the minimum requirement for the node? Because just now I tried to create with azure cli with --node-vm-size Standard_B1ms it show this error

Operation failed with status: 'Bad Request'. Details: The VM SKU chosen for this cluster `Standard_B1ms` does not have enough CPU/memory to run as an AKS node.

[2019-05-09 08:13] jakaruna-MSFT commented on #30891
List of available VM Sizes are [here](https://docs.microsoft.com/en-us/azure/templates/Microsoft.ContainerService/2019-02-01/managedClusters#managedclusteragentpoolprofile-object).

One "Standard DS2 v2" is recommended for getting the cluster up and running.  Later you can increase the number of instances based on the load you are going to deploy on the cluster.
Standard_B1ms has only 2 GB of RAM

[2019-05-09 08:17] vrishni commented on #30805
Hi, The nuget package not showing in search, when I try to search in the Microsoft.Azure.CognitiveServices.Personalizer in Manage NuGet Packages for Solution.

[2019-05-09 08:21] tmhui94 commented on #30645
[https://social.msdn.microsoft.com/Forums/azure/en-US/5903573e-e1ca-443e-9f40-760f7cd576a3/authentication-and-authorization-for-azure-time-series-insights-api-using-app-registration-from?forum=WindowsAzureAD](url)

As per I though, they need it to be under the same directory only.
However, based on the explanation given from MSDN, we could actually attach the subscription from different tenant to

[2019-05-09 08:21] #30645 closed

[2019-05-09 08:22] swinarko commented on #10180
We won't support AD Integrated Auth, but we'll support AAD Auth w/ ADF managed identity for packages running on SSIS IR (ETA this month).

[2019-05-09 08:25] brushwood24 commented on #30853
Here's an ARM template that demonstrates what I am describing:

[example.json.txt](https://github.com/MicrosoftDocs/azure-docs/files/3161017/example.json.txt)

You can run it once and it will create a cosmos db account, database and two collections with the throughput specified in the template.  Any subsequent runs will fail with the error:

"Throughput update is not allowed through options. Ensur

[2019-05-09 08:26] richieteh94 commented on #30891
@jakaruna-MSFT  thanks for the support :)

[2019-05-09 08:33] xenalite opened #30898 "IDP Access Token is not a valid JWT"
I configured this flow and my claim "idp_access_token" starts with "AQABAAAAAAD....". This is not a valid base64 encoded JWT. Is it encrypted? If so, how do you decrypt it or exchange it for a JWT? I want to parse it as a JWT and inspect the claims.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfa17891-d5ec-fff3-4f9b

[2019-05-09 08:35] ganesr commented on #30799
No guarantees on how long it will take.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Keiro Kamioka <notifications@github.com>
Sent: Wednesday, May 8, 2019 5:21:28 PM
To: MicrosoftDocs/azure-docs
Cc: Ganesh Srinivasan; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How long migration will take? (#30799)

@ganesr<https://nam06.safelinks.protection.outlook.

[2019-05-09 08:39] twoqubits commented on #30867
If you simply want www.partners.contoso.net then yes a CNAME or A record is all you need.  This is not DNS delegation.

If want the entire sub domain for *.partners.contoso.net then DNS delegation is what you want.  In the parent domain, you add the NS record if the sub domain to Azure DNS. From here you can now create CNAMEs and A records for www.partners or anything in front of partners.contoso.

[2019-05-09 08:39] lvjianjunljj commented on #30792
![image](https://user-images.githubusercontent.com/29011275/57439075-d4e59080-7277-11e9-97ca-4421e1f54eb2.png)

For the tenantId in getting token request path, I use the "Directory ID" in Properties in AAD.
![image](https://user-images.githubusercontent.com/29011275/57439099-de6ef880-7277-11e9-9076-226df1e202e7.png)

And for the clinet_id in getting token request body, I use the "APPLICATION ID" i

[2019-05-09 08:46] rajatvijay opened #30899 "Cant upload audio data .zip file when the file has type "application/zip""
This should accept application/zip files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 120ebdde-5785-5850-c963-803bf3744112
* Version Independent ID: 82bc9a4e-3908-499f-dd2c-31eacc227fff
* Content: [Prepare test data for Custom Speech - Speech Services](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-

[2019-05-09 08:49] TiLegend commented on #30816
Hi I tried this tutorial https://docs.microsoft.com/en-us/azure/healthcare-apis/access-fhir-postman-tutorial

[2019-05-09 08:53] hurtn opened #30900 "Typo"
"Incoming Steam" should be stream?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d465d0f-2f3e-3543-5a25-2a93b31fe6d7
* Version Independent ID: 349773df-a14c-4765-9330-44704be77047
* Content: [Azure Data Factory Data Flow Move Nodes](https://docs.microsoft.com/en-us/azure/data-factory/concepts-data-flow-move-nodes#fee

[2019-05-09 09:08] chi-ltd commented on #30408
Hello

Apologies I have been out of the office.

Is it wise to be sending our subscription ID?

Thanks

From: VikasPullagura-MSFT <notifications@github.com>
Sent: 03 May 2019 17:21
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gary Smith <G.Smith@church-house.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] IIS over the web (#30408)

@chi-ltd<

[2019-05-09 09:09] DixitArora-MSFT commented on #30675
@shabirjan When we enable cache then response will not be served from back-end but rather from APIM cache. This cache is valid for 20 seconds. To verify the response , you can enable [Ocp-Apim-Trace](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-api-inspector) which give us clear picture whether the response is from APIM cache or back-end.

[2019-05-09 09:13] PramodValavala-MSFT commented on #30888
@snorrk It looks like all management abilities had to removed when moving to the .NET Standard SDK as mentioned here - azure-webjobs-sdk#1509

And it also seems that the `accessRights` attribute configuration is not applicable either from its [implementation](https://github.com/Azure/azure-webjobs-sdk/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus/ServiceBusTriggerAttribute.cs).

We ar

[2019-05-09 09:22] shashishailaj commented on #30846
@sampath2121 Thank you for your feedback . We will investigate and update the thread.

[2019-05-09 09:26] shashishailaj commented on #30869
@KeiroKamioka0000 Thank you for your feedback . We will investigate and update further.

[2019-05-09 09:27] PramodValavala-MSFT commented on #30588
@prbans If you run the function, it still works as expected (probably because of [this](https://github.com/Azure/azure-functions-python-worker/issues/219#issuecomment-442636018)).

![image](https://user-images.githubusercontent.com/43602528/57442388-84ffcd00-7269-11e9-9fdd-e3470e07db02.png)

And direct import worked too
[code]

For the relative import case, the `pylint` error went away if I added

[2019-05-09 09:27] DixitArora-MSFT commented on #30860
@indcoder I have created the PR which will address this . Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-09 09:27] CHEEKATLAPRADEEP-MSFT commented on #30900
@hurtn Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/76218](https://github.com/MicrosoftDocs/azure-docs-pr/pull/76218).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take c

[2019-05-09 09:27] #30900 closed

[2019-05-09 09:28] #30860 closed

[2019-05-09 09:30] shashishailaj commented on #30892
@watahani Thank you for your feedback . We will engage the content team to have this suggestion reviewed.

[2019-05-09 09:30] shashishailaj commented on #30892
@billmath Could you please take a look at this issue and have the suggestion reviewed for content update?

[2019-05-09 09:31] shashishailaj commented on #30898
@xenalite Thank you for your feedback . We will investigate and update this thread further.

[2019-05-09 09:38] leon-andria commented on #30829
@iainfoulds @Karishma-Tiwari-MSFT
Thank you for your answers. We add to manage it our-self due to the lack of support (as always) to your customer. We are able to run Linux and Windows anyway and we are aware that is in Preview.
At least, make a note on your doc that you don't support Windows yet, so we know what we expect. We pay money to use your product and expect to get some levels of answer.

[2019-05-09 09:41] PramodValavala-MSFT commented on #30588
@prbans Got tests to work too

![image](https://user-images.githubusercontent.com/43602528/57443880-a44c2980-726c-11e9-82e0-1a6de49af8d0.png)

[2019-05-09 09:43] DixitArora-MSFT commented on #30744
@ecfan Just checking if we need to define this.

[2019-05-09 09:45] VladlenFilimonov opened #30901 "Oracle EXPLAIN SELECT query"
Hello.

Oracle DB cannot process query with standard SQL syntax EXPLAIN SELECT <query...>. That invoked from CoreAgentNotificationHandler.fetchExplainQuery in condition when query time is more than ImplementationsCoordinator.INSTANCE.getQueryPlanThresholdInMS(). Please resolve the issue by changing the query for OracleDB to EXPLAIN **PLAN FOR** SELECT <query...>, or by adding feature to disable se

[2019-05-09 09:51] CHEEKATLAPRADEEP-MSFT commented on #30880
@dcbrown16  I have noticed both the input metrics varies from time to time.

Metric | Definition
-- | --
Input Events | Number of records deserialized from the input events.
Input Sources Received | Number of events received by the job. This can be used to   validate that events are being sent to the input source.

![image](https://user-images.githubusercontent.com/44426401/57444526-f93c6f80-726d-

[2019-05-09 09:51] linruhui opened #30902 "inout parameter for CosmoBD binding"
I have a cosmoDB binding with directory setting to "inout", but I can not see this configuration in Azure portal, integrate tab. This is a little bit confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5bcb79-2af8-3b0e-c78c-0c89a2535e15
* Version Independent ID: 31b87687-7841-f46f-8c97-38898e7b97db
* Content: [

[2019-05-09 09:58] KetanChawda-MSFT commented on #30902
@linruhui Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-09 10:04] johnneycao opened #30903 "Sample value truncated on page"
The content in **Example value** column on [Azure Active Directory app manifest](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest) page is truncated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b-180567591c72
* Version Independent ID: 8c533d7b-a058-3f1a-c29

[2019-05-09 10:05] KetanChawda-MSFT commented on #30865
@ahmedelnably I can see the [referenced issue](https://github.com/Azure/azure-cli/issues/9343) has been closed by marking it as a duplicate of  [#9336](https://github.com/Azure/azure-cli/issues/9336). Just checking if ther eis any ETA for this to be fixed?

[2019-05-09 10:06] Heer-Boaz commented on #30744
I've got it working by trial and error.
Unfortunately, the out-of-the-box support for paging has some limits (e.g. only the rows in `value` are part of the task output).

## Requirements for returning paginated responses (JSON)
JSON-body of the response needs to include the properties:
- `nextLink`: the URI that contains the next paged result. This property should only be present in the body when

[2019-05-09 10:11] Mitchell0069 opened #30904 "Configuration"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece-f67b-28ef-143e-f58ecfa29b1d
* Version Independent ID: fe532684-022f-9006-9179-c534fd923171
* Content: [About VPN devices for cross-premises Azure connections](https://docs.microsoft.com/en-ca/azure/vpn-gateway/vpn-gateway-about-vpn-devices)
*

[2019-05-09 10:11] Mitchell0069 commented on #30904
#30744

[2019-05-09 10:16] petrpucek commented on #27175
Hi @talktovishal,

Yes, you are handling tags correctly, there is no problem with this functionality. We don't get alignment for textType=html, that's the problem.
These alignments have great value for our business - we plan to do some visual representation of how each word was translated and how the position in sentence changed.

Maybe it's not possible to get alignment for textType=html but I ha

[2019-05-09 10:23] Sethu2488 commented on #30810
thank you for the information

[2019-05-09 10:24] DashleenBhandari-MSFT commented on #29600
@tony-gutierrez , I would request you to open a support case with Azure App Services team. We would like to work closer with you.
Please let me know if you have a support plan already to open the support case.

[2019-05-09 10:27] DixitArora-MSFT commented on #30744
@Heer-Boaz I am glad that the issue is resolved. For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-09 10:30] KevP commented on #13717
These instructions are out of date and as adding Azure VMs to a domain is a very common and required thing, can you please update. Thanks!

[2019-05-09 10:34] giwleb commented on #30851
@YutongTie-MSFT It's https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-quickstarts-web-app

[2019-05-09 10:43] RohitMungi-MSFT commented on #30899
@rajatvijay Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-09 10:53] wmpauli opened #30905 "dead link to reference"
the link to "Efficient Contextual Bandits in Non-stationary Worlds" is dead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99720662-e492-89fe-3c1a-0531aabd19e6
* Version Independent ID: 92b17aee-7355-13c4-08cc-c9e937ffc90d
* Content: [Reinforcement Learning - Personalizer - Azure Cognitive Services](https://docs.micros

[2019-05-09 10:53] KetanChawda-MSFT commented on #30902
@linruhui This scenario is not supported via portal from `Standard editor` as [documented](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#binding-direction).

Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the

[2019-05-09 10:53] #30902 closed

[2019-05-09 11:01] tmasternak opened #30906 "Using names like "locks" and "critical section" might be misleading"
The document and api use names like "locks" and "critical section". Those indicate that the behavior of the code is the same as if we talked about in-process locks and critical sections which I doubt is the case.

For in-process case, critical sections mean that no two threads of execution can be inside a critial section ever. Is this the case with this solution?

If I write something like:
[code]

[2019-05-09 11:01] mayurigupta13 commented on #30564
Yes by Vnet-to-Vnet, we mean Vnet peering. We will update the article to call this out clearly.

[2019-05-09 11:10] romankiss commented on #30612
Hi @formulahendry,

My point is to take out the "simulated device" option from the Cloud Explorer.
The Cloud Explorer should be worked only on the service-facing endpoint of the Azure IoT Hub.

Renaming item in the menu context for another one will not solve the problem, that this feature will impact the real connected MQTT device, what it is unacceptable for any explorer.

 My suggestion was to r

[2019-05-09 11:12] tintinsnowy commented on #5208
based on my understanding, the Event Grid take care of 'containers layer', which will detect the changes of blobs inside, namely the creation and deletion.
Blob trigger monitors the blocks of data inside

[2019-05-09 11:22] MohitDhingra-MSFT commented on #30903
@johnneycao Thank you for your feedback . We will investigate and update this thread further.

[2019-05-09 11:24] zepedaherbey commented on #30605
Thank you for the response. This was helpful but did not quite address my concern. The reference you provided deals with an - unlimited collection size -.
In our case, we would like to start with a small volume of data (say 2 GB). We know that per logical partition, you allow up to 10 GB. In this case, all of our data fits into a single partition. As it relates to the demand for this data, it will

[2019-05-09 11:26] MohitDhingra-MSFT commented on #30903
Hi @johnneycao ,

The below document page has a scroll bar at bottom, you can scroll right and check the "Example" value.
https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest

I hope this helps.
Thanks you.

[2019-05-09 11:36] RohitMungi-MSFT commented on #30905
@wmpauli Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-09 11:37] SadiqhAhmed-MSFT commented on #30897
@ericcwk Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-05-09 11:53] #16303 closed

[2019-05-09 11:57] shashishailaj commented on #30491
Closing as per author comments.

[2019-05-09 11:57] #30491 closed

[2019-05-09 12:18] anadobrasinovic commented on #13258
I faced the same issue on big image push. I log in, try to push image, and if push lasts for more than 1h, I get Authorization required message, and image is not updated

[2019-05-09 12:18] rploeg commented on #30813
Hi. I am running kubernetes on Docker (maybe that is the issue). But these are the commands I used:

![image](https://user-images.githubusercontent.com/49752333/57452927-4f58e500-7265-11e9-836e-2db77cfdefbe.png)

[2019-05-09 12:31] clementLetsignit opened #30907 "Operation status"
When we receive a hook, we then call GET method on operations API to retrieve every ongoing operations. What are the status of the operations that require an action on our side ? What is the difference between the status "InProgress" and "NotStarted" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9862992-905d-6343-d

[2019-05-09 12:34] chayanbaner commented on #24769
Hi, check the below gist by me. Might help!!

https://gist.github.com/chayanbaner/f8f8234638bc07d3cfe6327073492575

[2019-05-09 12:47] chayanbaner commented on #16061
Hi,
below gist by me might help. Here I am creating a ping test with alert (near realtime).

https://gist.github.com/chayanbaner/f8f8234638bc07d3cfe6327073492575

[2019-05-09 12:51] mohamed-shehata-m opened #30910 "This article does not contain IP range for azure monitor alerts"
We have a logic app  used to send slack message when a new alert (metric alert rules) is fired. We wanted to restrict IP access to this logic app and allow only azure monitor.
I tried using 23.96.11.4 (alert webhooks), but it didn't work.
I opened a support case, and they provided me with below ranges. Once I added them, I was able to restrict access to this logic app.

13.106.57.181 - 13.106.57.1

[2019-05-09 12:55] Blackmist commented on #23933
@clmccart thanks for catching this! It was updated for //Build and that section was removed. Now, when you use the `az ml folder attach` command, it creates a `.azureml` sub-directory that contains two example .runconfig files.

I'll update the doc this morning to mention this.

[2019-05-09 13:03] sofianemad opened #30911 "Move management group permissions"
Can you please clarify what are the necessary permissions needed to move a management group (similar to what you wrote for "move subscriptions in the hierarchy")? It seems the "add management group" button may be greyed out in some occasions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d78cf71-d050-1d54-6048-7e92ea9

[2019-05-09 13:03] cephalin commented on #13447
We now have an all-up decision tree doc that encompasses all the related technologies so deleting this obsolete one and just pointing to the new one. The update should be merged in the next day. #please-close

[2019-05-09 13:04] SteveColegrove opened #30912 "Exchange hybrid writeback"
Under "Exchange hybrid writeback", the headers "Attribute Name (Connect UI)" and "Attribute Name (On-premises AD)" appear to be reversed

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7abde7c-df25-bd14-574c-92858daed39d
* Version Independent ID: 6652a5bc-4985-d45e-36fb-54da408e5e54
* Content: [Attributes synchronized

[2019-05-09 13:13] likidu commented on #29097
@SWATTeamMember, the problem has been fixed and not it points to SeeedStudio purchase link.

[2019-05-09 13:17] badbob001 opened #30913 "Snapshot retained if vault copy fails?"
In the past, I've had failures during the vault copy phase, which would cause no recovery point to be made. Will the snapshot recovery points remain (for their specified duration), even if the vault copy is not successful?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeafbf18-2bee-17c8-9871-118396f904b7
* Version Ind

[2019-05-09 13:23] rimman commented on #30605
@zepedaherbey

The response above is conflating physical and logical partitions. Il want to make a clear distinction between logical and physical partitions - these are not the same thing.

- Logical partitions are controlled by the user. These are represented as partition keys – and users are instructed to choose a partition key that (1) distributes throughput for a given workload as evenly as po