[2020-03-23 08:44] edfreeman commented on #20348
@joanna1010 @RavulaChetan Your issues seem very similar to mine, which I've described how to fix above.

If you're trying to deploy a "Standard" App Service Plan, you're not guaranteed to end up on a server that supports regional VNet integration (via ARM templates). To get around this, you need to initially deploy as `P1v2`, `P2v2`, or `P3v2`. You can then (programmatically) scale it back down to

[2020-03-23 08:45] supachris28 commented on #24943
@SaurabhSharma-MSFT @prashanthyv They said "in my Portal" - there is an option in the Portal for non-integrated CAs but no instructions on how to use in these docs.

[2020-03-23 08:48] LANSoftwareentwicklung commented on #49245
@AjayKumar-MSFT - I sent you an e-mail with the app name and subscription id.

[2020-03-23 08:57] VikasPullagura-MSFT commented on #50685
@solomson
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-03-23 08:59] VikasPullagura-MSFT commented on #50685
@iainfoulds Can you please check this and add your comments.

[2020-03-23 09:04] souravmishra-msft commented on #50625
@theheatDK, You can list all the directories/tenants and select the preferred one by choosing the **switch directory** option:
![image](https://user-images.githubusercontent.com/54057592/77299948-481eb680-6d13-11ea-98bb-1dd072931f4d.png)

Or you can also use the following PSCmdlet to list the same:
`Get-AzureRmTenant`

[2020-03-23 09:04] #50625 closed

[2020-03-23 09:08] VikasPullagura-MSFT commented on #50674
@vturecek
Can you please check and add your comments on this doc update request as applicable.

[2020-03-23 09:18] jakaruna-MSFT commented on #50656
@braest let us know the image which you used

Also let us know how you gave the plan info

[2020-03-23 09:32] sebader opened #50688 "How to set health probe HTTP method in ARM template?"
How can you set the health probe method to HEAD in an ARM template? (New feature as described here: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-health-probes#supported-http-methods-for-health-probes)

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f35a0b39-ab2f-ba8a-0907-e0f3a6b69135
* Version I

[2020-03-23 09:38] SubhashVasarapu-MSFT commented on #50688
@sebader , We are looking into this query and will update you as soon as possible.

[2020-03-23 09:39] SubhashVasarapu-MSFT commented on #50686
@xtellurian , We are looking into this query and will update you as soon as possible.

[2020-03-23 10:20] Daniel-SW opened #50691 "Download link Provides a different version to Microsoft Download Center"
The MS download center provides what appears to be a much outdated link:
https://www.microsoft.com/en-us/download/details.aspx?id=46436
(From here: https://azure.microsoft.com/en-us/updates/documentdb-data-migration-tool/)

Where as this page links to a link currently point to this address:
https://aka.ms/csdmtool -&gt; https://cosmosdbtools.blob.core.windows.net/datamigrationtool/2019.09.23-1.8.3

[2020-03-23 10:33] upmygit opened #50692 "Azure App Configuration Data Owner does not behave as expected"
Currently I am using the RBAC role **Azure App Configuration Data Reader** on an App Configuration resource, which works just fine for apps accessing the config via managed identity.
But the RBAC role **Azure App Configuration Data Owner** on the App Configuration resource doesn't work. The users (members of an AAD group which has this RBAC owner role on the App Configuration resource) don't have

[2020-03-23 10:42] embik commented on #49986
I'm  not sure if this is in scope for this issue, but it would be really helpful if the section about requesting an increase could be improved on what kind of ticket you're supposed to open with support.

[2020-03-23 10:46] Strandfelt commented on #50358
@yoelhor Sure, below are my TrustFrameworkBase.xml and TrustFameworkExtensions.xml:

**TrustFrameworkBase.xml**
[code]

**TrustFameworkExtensions.xml**
[code]

[2020-03-23 10:55] RohitMungi-MSFT commented on #44719
@Tiger519 We have re-opened the issue to track this incident. It would be great if you can provide us more details of the issue you are facing to check further. Could you please email the details to this id?
`AzCommunity[at]microsoft[dot]com`

Please mention your KB details along with your subscription id so our team can investigate with the required information. Also, does this occur when you use

[2020-03-23 11:00] KalyanChanumolu-MSFT commented on #50691
@Daniel-SW Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-23 11:01] KalyanChanumolu-MSFT commented on #50679
@rtaylor72 Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-03-23 11:14] cannibal-kush opened #50694 "VS Code?"
This page seems to assume that you've used Visual Studio to build your function app, but VS Code is also given as an option when setting it up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4785005-a130-a392-7b4a-c8c6d36bad37
* Version Independent ID: 6beb58e0-167c-c08d-46ff-13f72ddbaf31
* Content: [Use Azure Functio

[2020-03-23 11:21] theheatDK commented on #50625
Thanks @souravmishra-msft

[2020-03-23 11:29] M0ns1gn0r commented on #14325
According to https://docs.microsoft.com/en-us/azure/event-grid/delivery-and-retry it is now possible to enable batched event delivery.

The original question becomes actual again, how to implement the partial failure?

[2020-03-23 11:40] BhargaviAnnadevara-MSFT commented on #50375
Looping in @lisaguthrie for providing more insights on ETA.

[2020-03-23 11:41] SubhashVasarapu-MSFT commented on #50459
@mjpearse , Appreciate your patience. It looks like a bug from the portal side as I can disable the health probe using PowerShell having 2 backends with one in disabled state.
![image](https://user-images.githubusercontent.com/44890829/77312829-bd48b680-6d28-11ea-9662-7b229c6ebdc7.png)
Will be back shortly with the updated status.

[2020-03-23 11:42] R00iBaard commented on #46725
Likewise sigh :/

[2020-03-23 11:52] AjayKumar-MSFT commented on #49245
@jlorek, thanks for sharing the requested details.
@LANSoftwareentwicklung, Ack. We have received your email.

We're investigating and will get back to you soon.

[2020-03-23 11:54] SwathiDhanwada-MSFT commented on #50455
@ScottAzure Thanks for reaching out!!  I believe you will be able to review your quotas in "Usage + Quotes" blade of subscription before opening a ticket as shown in below figure. Can you please elaborate on your request on what part of experience are you referring to?

![image](https://user-images.githubusercontent.com/48976275/77313910-b327b780-6d2a-11ea-959e-5018cf640e67.png)

[2020-03-23 12:00] SwathiDhanwada-MSFT commented on #50652
@Hughku Thanks for reaching out! [Here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/request-limits-and-throttling#request-increase) is a document on how the throttling limits are taken care by Azure. It provides a high level understanding on how the behavior is for major resource providers. I believe, same goes for Azure Data Factory runs.

Hope this helps!

[2020-03-23 12:01] florin103 opened #50695 "Mapping flat csv data into hierarchical json format"
hello,
Whould it be possible to post an example of coping the data to a hierarchical json format?
I have tried using this mappings:
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "No INVOICE",

[2020-03-23 12:05] Samantha-Yu commented on #44110
Thanks for the feedback. This article has been refreshed. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2020-03-23 12:05] #44110 closed

[2020-03-23 12:14] michaelsync commented on #50675
@VikasPullagura-MSFT Yes. I am aware of that. but does it mention anywhere about that in the article? As this article is meant for windows users, I believe that it won't hurt to give some command that works on Windows OS too.

[2020-03-23 12:16] VikasPullagura-MSFT commented on #50675
@michaelsync Thanks for responding back on this. I will have the doc author add comments for this.

[2020-03-23 12:16] VikasPullagura-MSFT commented on #50675
@cynthn Can you please add your comments on this.

[2020-03-23 12:39] v-nagta commented on #36325
@sav169 we have updated the Guidelines in the Doc. Please review

#please-close

[2020-03-23 12:39] #36325 closed

[2020-03-23 12:39] csamleong opened #50696 "What is maximum string length for CommandToExecute ?"
I did not see the limit being mentioned here.
What is the maximum allowed string length when you are passing it into ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6cdfd166-633a-50a3-2b45-cde0e991e540
* Content: [Azure Custom Script Extension

[2020-03-23 12:43] BhargaviAnnadevara-MSFT commented on #50687
@alternaivan Thanks for the question! We're investigating this and will get back to you shortly.

[2020-03-23 12:48] garybushey opened #50697 "Line missing a work"
In the first section, between the two purple boxes, the following line appears to be missing a word. "Therefore, if you want to grant permissions to a only in Azure Sentinel..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a7e388c-e6fd-22df-0070-b051fc09cb0c
* Version Independent ID: c543b5d2-e0db-d137-acd2-43ed1f71

[2020-03-23 12:58] garybushey opened #50698 "Note box incorrect?"
There is a purple note box that states "In order to successfully perform the last two actions, this permission needs to be granted at the resource group or subscription level."

Yet there 3 bullet points after it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c62e3725-b0dc-5ce5-c049-70fd3ae106e3
* Version Independent

[2020-03-23 12:59] svcook-orb opened #50699 "Trying to set up a Secure WebHook integration with Monitoring Alerts but this document and others are sparse on the topic of Secure Webhook"
Hi,

The problem is that from all the docs I noted, they cover the general process, but doesn't go into details on the secure webhook, and the only document section covering the secure webhook seems to be partial, but there is no URI one would call to login, from what I can tell, and the topic of subscription is not covered … so if there is a step wise detailed document this would help a lot.   I

[2020-03-23 13:00] garybushey opened #50700 "No description of the access control types"
You discuss how to change the access control mode but never state what the two entries are and why you would choose one over the other.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c62e3725-b0dc-5ce5-c049-70fd3ae106e3
* Version Independent ID: 9c0c5ef7-bd49-cb39-ca10-d98386004975
* Content: [Manage Log Analytics work

[2020-03-23 13:04] lightupdifire opened #50701 "Security | Notification on this action"
Hello,
Would be great if all Global Admins and maybe subscription owners or generic mailbox receive a notification about this activity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0decae5-1977-1db8-8b69-7e9a46919add
* Version Independent ID: f319b342-2f2f-3d71-1beb-0a394517e4b4
* Content: [Elevate access to manage

[2020-03-23 13:13] ruairidhlc commented on #50216
+1 for outdated documentation.  In a tenant set up recently via CDX, there is no facility to "sign up", however the Privileged Role Administrator has no assignments.

[2020-03-23 13:18] kob-aha opened #50702 "Incorrect "PrivateConfig" Json example"
"PrivateConfig" Json example is incorrect.

Instead of:

 "PrivateConfig" {
    "storageAccountName": "diagstorageaccount",
    "storageAccountKey": "{base64 encoded key}",
    "storageAccountEndPoint": "https://core.windows.net",
    "storageAccountSasToken": "{sas token}",
...
}

It should be:

 "PrivateConfig" {
    "StorageAccount": {
        "name": "diagstorageaccount",
        "key": "{base

[2020-03-23 13:20] SwathiDhanwada-MSFT commented on #50699
@svcook-orb  Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-03-23 13:21] SwathiDhanwada-MSFT commented on #50700
@garybushey Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-03-23 13:22] SwathiDhanwada-MSFT commented on #50702
@kob-aha Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-03-23 13:24] SwathiDhanwada-MSFT commented on #50698
@garybushey  Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-03-23 13:30] mmacy commented on #47225
#reassign:hamiltonha per 2020-03-20 doc sync

[2020-03-23 13:31] ggirard07 commented on #36458
@paulbatum

You do realize this kind of break the purpose of an ARM template, right?

What is the final expected configuration here?
Can we get an announcement on [Azure/app-service-announcements](https://github.com/Azure/app-service-announcements) with proper configuration and official timeline once all this is actually deployed?

[2020-03-23 13:32] mmacy commented on #44472
#reassign:hamiltonha per 2020-03-20 doc sync

[2020-03-23 13:33] mmacy commented on #41911
#reassign:hamiltonha per 2020-03-20 doc sync

[2020-03-23 13:36] mmacy commented on #35288
#reassign:jmprieur per 2020-03-20 doc sync

[2020-03-23 13:42] Niclas1976 opened #50703 "Block?"
Hello. The header "Block sign in (Yes/No) [accountEnabled]" is ambiguous. I find double negative very confusing.

"Yes, I don't want the user not to be blocked from login."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 277a5d8f-7fce-bf5d-1ebd-2061e9ac8a69
* Version Independent ID: 02d2bc44-dc9f-a23a-9c60-facf7e0c1a41

[2020-03-23 13:46] Lycrosa opened #50704 "How to change storage type of classic vm disks"
Is it possible to change the storage type of calssic disks? I've been searching like crazy but have not found anything that confirms nor denies that this is possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b67bcdd-0278-7c7f-89ac-5e4bc53de72c
* Version Independent ID: 57815f78-825d-ec47-2751-128ab5a03d66
* Cont

[2020-03-23 13:49] mmacy commented on #31154
Sample update is inbound in https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/pull/52, and associated doc updates will come through in https://github.com/MicrosoftDocs/azure-docs-pr/pull/105885. I'll add this article to the set of doc updates in the latter PR.

#reassign:mmacy

[2020-03-23 13:50] ram-msft commented on #50350
@mostwired We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-23 13:50] #50350 closed

[2020-03-23 13:54] DixitArora-MSFT commented on #50694
Hi @cannibal-kush Thanks for reaching out. We will review and update as appropriate.

[2020-03-23 14:10] markingmyname commented on #43919
@knaidoo33,

Sel- hosted runtime is required if an Azure ExpressRoute is set up.

Thank you.

[2020-03-23 14:12] markingmyname commented on #43919
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

Thank you.

@linda33wj  for awareness

#please-close

[2020-03-23 14:12] #43919 closed

[2020-03-23 14:21] vlado101 commented on #50397
Hello,

Just wanted to follow up on this issue.

Thank you

[2020-03-23 14:22] vlado101 commented on #50401
Hello,

Just wanted to follow up on this.

Thank you

[2020-03-23 14:28] lelandvelasco commented on #50555
Apologies on misunderstanding, I mean can anyone help as onboard on storage account with ad authentication on West Europe?

[2020-03-23 14:29] PramodValavala-MSFT commented on #50684
@tonisc Thanks for the question! We will review and get back to you!

[2020-03-23 14:33] PramodValavala-MSFT commented on #50692
@upmygit Thanks for the question! We will review and get back to you!

[2020-03-23 14:34] BrianLevenson commented on #41878
Happy to tackle this, although we're going to need help restructuring this page. I can provide content and information, but I believe you created the page and image, @qianw211

Can we add this to the list of work items so it can be prioritized against the other requests?

[2020-03-23 14:34] PramodValavala-MSFT commented on #50696
@csamleong Thanks for the question! We will review and get back to you!

[2020-03-23 14:36] PramodValavala-MSFT commented on #50697
@garybushey Thanks for the feedback! We will review and update accordingly.

[2020-03-23 14:37] PramodValavala-MSFT commented on #50701
@lightupdifire Thanks for the question! We will review and get back to you!

[2020-03-23 14:38] PramodValavala-MSFT commented on #50703
@Niclas1976 Thanks for the question! We will review and get back to you!

[2020-03-23 14:39] DrReedo opened #50707 "Can you amend the ipRange filter after the Azure Cosmos DB has been created?"
This is what I'm interested in.  What is the command to do this?  Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2255db3-ec5b-e42a-a4c4-0c9ce08e69bf
* Version Independent ID: 01eeb393-ca61-d99c-3817-acfb28b2d85b
* Content: [Create an Azure Cosmos account with IP firewall](https://docs.microsoft.com/en-us/azu

[2020-03-23 14:40] PramodValavala-MSFT commented on #50704
@Lycrosa Thanks for the question! We will review and get back to you!

[2020-03-23 14:41] PramodValavala-MSFT commented on #50695
@florin103 Is there a specific doc that you are referring to? If so, could you please share the same?

[2020-03-23 14:43] PramodValavala-MSFT commented on #50707
@DrReedo Thanks for the question! We will review and get back to you!

[2020-03-23 14:45] chadmath commented on #41395
I added this in PR but it is blocked: https://github.com/MicrosoftDocs/azure-docs/pull/50706

@TravisCragg-MSFT
@allegradomel

[2020-03-23 14:52] markjbrown commented on #50707
The answer is yes you can change if after you create it.

Simple call Set-AzResource on databaseAccount object in PS or az cosmosdb update in CLI or redeploy your ARM template with the updated IPFirewall values.

Thanks

#please-close

[2020-03-23 14:52] #50707 closed

[2020-03-23 14:53] lastcoolnameleft commented on #50347
Good eye. Thanks for the suggestion.  I've created this PR to fix:  https://github.com/MicrosoftDocs/azure-docs/pull/50708

[2020-03-23 14:56] lastcoolnameleft commented on #50347
UPDATE:  I pushed to the wrong repo.  Here's the real PR:  https://github.com/MicrosoftDocs/azure-docs-pr/pull/108609

[2020-03-23 15:01] benmiller86 commented on #27485
@MashaMSFT When I go to create a new database and select "Backup" as the data source it says "*No available items.*". It does this when I try it on both a brand new SQL server resource and on the server resource on which the original database exists. I know I have backups as I can see them in the portal under *my-sql-server > Manage Backups > Available Long-Term Retention backups*. Does the fact t

[2020-03-23 15:03] NavtejSaini-MSFT commented on #50302
@bolzmj Please check the question from the user and help answer.
@beelesnik We are assigning this to our author for more insight.

[2020-03-23 15:05] bherrsk commented on #50453
I did put a Premier call in on Friday. If the fix is client side, I will suggest mods to the doc so people don't run into this... worse case scenario - they overwrite a DB with the wrong recovery point.

[2020-03-23 15:07] aa4640 opened #50710 "cannot setup Azure Cloud Shell on my browser"
I get this error when I try to Create Storage on my Mac using either Bash or PowerShell with Cloud Shell to work with Azure services on my browser.

 Storage creation failed
Error: 403
{"error":{"code":"AuthorizationFailed","message":"The client '<***omit***>' with object id 'be61be46-a218-49f2-9cf3-05f06620d6cb' does not have authorization to perform action 'Microsoft.Resources/subscriptions/reso

[2020-03-23 15:08] qianw211 commented on #41878
@BrianLevenson  please submit doc requests through DocEx program.  Thanks!

[2020-03-23 15:14] scootafire commented on #50528
@jeevansd Any feedback to why these settings seem to not take in new identifiers?

[2020-03-23 15:20] ChristianMontoya commented on #50572
@msrini-MSFT , @XzeroR3 : Please follow the link to submit a request in UserVoice to enable this VM size. We require this, as it takes engineering work to test and validate each new SKU that we enable to make sure it works with our deployment templates.

[2020-03-23 15:27] petteremil opened #50711 "This doesn't seem to be enough?"
I believe I've completed the steps above, and in my powershell function app's function I make a call to "Get-AzKeyVault" with the parameters "-ResourceGroupName $ResourceGroupName"

then it crashes and gives me the feedback: "ERROR: Get-AzKeyVault : 'this.Client.SubscriptionId' cannot be null."

This is correct, as when I run "Get-AzContext -ListAvailable" I get an output with no subscription name

[2020-03-23 15:33] viswanadham-k commented on #50422
Hi @townendk & @Jimbos10

Please let me know your availability time today. I will send a meeting invitation then will connect and assist you to resolve the error. Let me know your mailing addresses or drop a test mail to "Viswanadham.kudapu@peopletech.com" for to send meeting inviation.

Thanks

[2020-03-23 15:36] SumanthMarigowda-MSFT commented on #50490
@jmorcar This could be due to the proxy issue, can you refer to the suggestion mentioned in this [article ](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy)

Could you test connectivity to port 445 ?Test-NetConnection -ComputerName <your-storage-account-name>.file.core.windows.net -Port 445

[2020-03-23 15:37] mmacy commented on #29375
Thanks handling this one @hpsin! Reassigning to you. #reassign:hpsin

[2020-03-23 15:43] rsrinivasanhome opened #50712 "How to measure B2C performance using App insights"
Saw the following bullet in the documentation "Measure performance."    How does this documentation show to measure b2c performance ?  So far from the sample I see only user statistics .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b323b269-e228-4e1f-265c-1b47831cc871
* Version Independent ID: 9248541d-dc78-4cd6-01eb

[2020-03-23 15:54] gaspilleur opened #50714 "Seamless SSO in multi domain environment"
We want to use staged rollout for PHS and seamless SSO. Azure AD Connect is in a resource domain, users are in a full trusted account domain. Does the AZUREADSSOACC computer account has to be created in the resource domain or account domain or both? Moreover, what if a terminal server in the resource domain is used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-03-23 15:55] #50524 closed

[2020-03-23 15:58] SaurabhSharma-MSFT commented on #50711
@petteremil Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-23 15:59] jileary23 opened #50715 "Error when deploying"
Using this doc to expand an existing host pool and are seeing this warning and we are not having a successful deployment to expand the host pool – can you help explain what is causing this and why the deployment is not able to expand the host pool ( it creates the additional VMs in Azur but doesn’t join them to the WVD host pool )

These are the steps we are following: https://docs.microsoft.com/e

[2020-03-23 15:59] SaurabhSharma-MSFT commented on #50712
@rsrinivasanhome Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-23 15:59] SumanthMarigowda-MSFT commented on #50555
@lelandvelasco The West Europe region isn’t supposed to be available yet
If you wish you may leave your feedback as mentioned in the above link.All the feedback you share in these forums
will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

[2020-03-23 16:01] joeljanke commented on #44504
Yes...it sure would be nice to have the required permissions to perform and upgrade to Standard from Basic documented here.  Part of the complexity come from the fact there is a Directory Role called Security Administrator...and that role does not seem to help you at all.  There is a separate Azure RBAC resource role called Security Admin...that can live on a Subscription.   It seems that role is

[2020-03-23 16:14] bergmeister commented on #48939
I want to have an option in the ARM deployment for that or some decent PowerShell based automation. All I can do at the moment is to execute an XMLA script against it

[2020-03-23 16:20] MarileeTurscak-MSFT commented on #50442
Thanks @juntakata

I'm assigning this to the author to update as I also could not find other documentation on this property. It seems CDN-related but since CDNs operate on headers I'm not sure how that would work.

[2020-03-23 16:22] Mike-Ubezzi-MSFT commented on #50076
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-23 16:22] #50076 closed

[2020-03-23 16:24] tfitzmac commented on #50652
@djpmsft - do you have guidance on what happens when the maximum queued runs per pipeline is exceeded for Data Factory?

[2020-03-23 16:29] Jimbos10 commented on #50422
I have time now if you like, up until 3PM est.

[2020-03-23 16:31] thefonz3h commented on #50422
I'm a bit tied up with WVD deployments today/tomorrow - I'll send a meeting invite later in the week. If @Jimbos10 fixes it beforehand, feel free to share the joy :)

[2020-03-23 16:36] GiftA-MSFT commented on #50610
@rastala please can you help clarify this discrepancy?

[2020-03-23 16:37] ggailey777 commented on #32244
Just to confirm, the host.json in v1 differs slightly from v2. If this link from @brettsam doesn't address your issue, then please reopen. #please-close

[2020-03-23 16:37] #32244 closed

[2020-03-23 16:39] zulf-fire opened #50716 ""Could not find member 'provisionAfterExtensions' on object of type 'VMScaleSetVMExtensionProperties'"
I am currently stuck executing 2 extensions within an ARM template:
The Extension sequencing method mentioned in Microsoft’s website here doesn’t seem to work

Below is my ExtensionProfile code:
            "extensionProfile": {
              "extensions": [
                {
                  "name": "joindomain",
                  "properties": {
                    "publisher": "Microsoft.Compu

[2020-03-23 16:46] CeciAc opened #50717 "Repo not available"
@locherro commented on [Sun Mar 22 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/635)

"https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app" is not available

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: a57d05c9-562c-02a5-7ccd-b1b1bb7c8f0c
* Version I

[2020-03-23 16:48] tamram commented on #50450
@SAELH - Thanks for your feedback. GZRS combines zone-redundant storage (ZRS) (which is available only in the primary region) with geo-redundant storage (GRS) (which is always locally redundant in the secondary region).

Azure Storage does not have an offering that includes ZRS in secondary region. The secondary region is always LRS.

@artemuwka - FYI

#reassign: @tamram

#please-close

[2020-03-23 16:48] #50450 closed

[2020-03-23 16:52] andreajk91 commented on #27745
Hi all,
i have tried to deploy a Windows Virtual Desktop, with a managed image.
But during the deployment phase go to failure for the following reason:
**VM has reported a failure when processing extension 'joindomain'**

before this deployment I had already created a WVD, with a marketplace image, and the deployment created all the infrastructure.

Can you give me helps or point of attention?
Tha

[2020-03-23 16:54] erhopf commented on #50332
#reassign: @IEvangelist

David, adding you to track, but I'm sending this over to Oliver so that he can pass this to the DRI.

[2020-03-23 16:55] CeciAc opened #50718 ""Upgrade all clusters using Bash in Azure Command Shell" NOT WORKING"
@evmimagina commented on [Mon Mar 23 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/706)

Hi,

When having multiple subscriptions under the same tenant that procedure doesn't work.

The "az login" command shows a message like;
"Cloud Shell is automatically authenticated under the initial account signed-in with. Run 'az login' only if you need to use a different account
To sign in,

[2020-03-23 16:57] MarileeTurscak-MSFT commented on #50433
I've reached out to the product team to confirm about this. From the document it seems that they need to be joined though.

[2020-03-23 17:02] msimecek opened #50719 "Maximum sentence count is less than minimum?"
The table in "Suggested minimum number of sentnces" shows that minimum sentence count for Tuning and Testing is 5000 and maximum is 2500. Is this correct? How is maximum lower than minimum?

It seems like the change happened in this commit: 1360579acd2649bdf26e1ff2535bbbb589e62965

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-03-23 17:07] CeciAc opened #50720 "3rdPT SaaS tenant restriction"
@takeakitake commented on [Sun Mar 22 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4301)

----------
With tenant restrictions, organizations can specify the list of tenants that their users are permitted to access. Azure AD then only grants access to these permitted tenants.

This article focuses on tenant restrictions for Office 365, but the feature should work with any SaaS clo

[2020-03-23 17:12] jfwillia opened #50721 "Reply URL required."
Both Azure and Box.net have issues with the Reply URL being left blank or incorrectly filled out.  Leaving it blank throws an Azure error.  Defining it to the default value given throws a Ping Federate error as well.  This needs to be templated for integrator's use going forward.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-03-23 17:18] mhopkins-msft commented on #48095
Hi @StingyJack,

V12 contains significant changes. The namespace has changed to Azure.Storage.Queues. If you follow the [v12 quickstart](https://docs.microsoft.com/azure/storage/queues/storage-quickstart-queues-dotnet), it will lead you through installing the latest version.

Thank you for letting us know about the issue you discovered. We're working on getting all articles updated to the latest v

[2020-03-23 17:18] #48095 closed

[2020-03-23 17:20] SamaraSoucy-MSFT commented on #50394
Hi @tkumark

Have you had a chance to review the instructions I've mentioned?

If I don't hear back in the next 24 hours I'll close the issue due to non response. If you have follow up later you will still be able to tag me on the issue.

[2020-03-23 17:28] SaurabhSharma-MSFT commented on #49636
@marcelvandendungen SCIM endpoints can only be connected trough non gallery apps. authorization code grant is only supported for SCIM endpoints published as gallery apps (step 5). Also, Steps 2 does not mention authorization code grant. Only long lived beared tokens are supported at this time for non-gallery apps. Client credentials support is in the plans but no current preview or release date ar

[2020-03-23 17:29] MarileeTurscak-MSFT commented on #50282
This was also addressed in another issue and document so I'm closing this out.

[2020-03-23 17:29] #50282 closed

[2020-03-23 17:32] SaurabhSharma-MSFT commented on #50412
@chrsdrhm We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-23 17:32] #50412 closed

[2020-03-23 17:33] Marcus-James-Adams commented on #31188
Still occurring with a Standard_D4s_v3 on latest 2016 image
It's intermittent for me it's worse from mid-morning onwards - could external load factors also be playing into it @danielsollondon

[2020-03-23 17:34] ChrisAtMAF opened #50722 "Need value for 'Reply URL' and value for 'Sign on URL' is incorrect"
Hi,

We worked on getting this working with ICIMS support and to get this working correctly in step 4 your screenshot and instructions are missing one value and another is incorrect.

The correct values are:
Identifier (Entity ID): icims.com
Reply URL (Assertion Consumer Service URL): https://*.icims.com/*
Sign on URL: https://&lt;tenant name&gt;.icims.com

Please update the documentation to refle

[2020-03-23 17:35] KranthiPakala-MSFT commented on #50405
@singhalsunil065
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-03-23 17:35] #50405 closed

[2020-03-23 17:39] IEvangelist commented on #50332
Is this what you're looking for @kamaleshs48?

Here is [the link](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/6f579422da0f6cd69fa051ae4017ceb74596ae89/samples/js/browser/index.html#L438-L452).

[code]

[2020-03-23 17:41] JamesEarle opened #50723 "Template JSON Incomplete"
Hi,

It appears as though the template is incomplete. At the bottom it ends after creating a single networkSecurityGroup but the JSON does not even complete. It is mentioned that multiple groups are created but I'm not sure if those are in the same part of the template and it is incomplete, or if it is an entirely different part of the template. Same for various other resources. This should be ame

[2020-03-23 17:43] SaurabhSharma-MSFT commented on #50574
@antonygibbs I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/216843-virtual-machines/suggestions/). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-03-23 17:44] kalyankrishna1 commented on #37708
Closing this as a link to a code sample and a recorded session has been provided in the bottom of the doc. Also this doc provides the configuration setup for this functionality. For coding issues, stackoverflow is advised.

[2020-03-23 17:46] Lechus commented on #44086
indded. like how to pass _something::Variable as an ENV to linux container when the Double colon is expected by code?

[2020-03-23 17:50] JamesEarle opened #50724 "Green coloring in JSON?"
The first element in the resources JSON is colored green. Not sure if this is intentional.

Using Imgur as docs feedback doesn't allow copy/paste of screenshots like GitHub does.

https://imgur.com/TB6pjZo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da7dc283-dacc-614c-4da1-408493c3d8d9
* Version Independent ID: 019d

[2020-03-23 17:58] Remoraz commented on #45227
The document explicitly says that this does not work: "Fields must be of type Edm.String and Collection(Edm.String). " And should probably be updated with the parameters of how it does work now. Is it just parent prop/child prod, are their further functionalities that aren't explained? Further, 3 nodes down the side navigation is an article entitled "Model complex data types" which suggests that u

[2020-03-23 17:59] mbialecka commented on #50497
@LouanDuToitS3 Try setting env var "LogLevel" in the storage container to "Warning". Let me know if it helps.

[2020-03-23 18:02] SaurabhSharma-MSFT commented on #50581
@kelemvor33 If you are not able to add the image to this issue, then please share the image over email to azcommunity[at]microsoft[dot]com with this issue title and I will take it forward.
Also, did you make sure that you are checking in the correct tenant.  If not, please change your tenant/organization from the page. (see screenshot below)
![image](https://user-images.githubusercontent.com/38112

[2020-03-23 18:03] MarileeTurscak-MSFT commented on #50600
Thanks @softwarecraft !

I created a pull request to include a note about that and think it's worth calling out. https://github.com/MicrosoftDocs/azure-docs-pr/pull/108652

If you'd like to make a formal request to change this feature, please submit feedback in User Voice. If you include the link to the feedback in this thread I can help bubble it up to the product team. https://feedback.azure.com

[2020-03-23 18:03] #50600 closed

[2020-03-23 18:06] AjKundnani opened #50726 "Running above steps on Private AKS Causing Error"
Getting below error when running helm install -f helm-config.yaml application-gateway-kubernetes-ingress/ingress-azure on Private AKS Cluster. Any specific config required for Private AKS Cluster?

Error: validation failed: [configmaps "enervated-grizzly-cm-ingress-azure" not found, serviceaccounts "enervated-grizzly-sa-ingress-azure" not found, deployments.apps "enervated-grizzly-ingress-azure" n

[2020-03-23 18:10] SaurabhSharma-MSFT commented on #50635
@AshV yes, it will be for sessions and refresh tokens.  You can only configure access token after the deprecation.

[2020-03-23 18:13] bsiva commented on #50617
@sayanghosh123 : While the REST APIs are available we aren't encouraging active usage at this point. We are still working on adding adequate documentation to make this self serviceable and as of this point aren't supporting direct usage of the REST API. Exceptions are being made on a case by case basis.  Could you provide a little insight on which steps you are looking to invoke via the API and wh

[2020-03-23 18:15] sergiosolorzano opened #50727 "Azure B2C Custom Policies local account KMSI doesn't keep me signed in"
[Enter feedback here]
I implemented the steps in the [example](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-get-started?tabs=app-reg-preview#create-the-signing-key) - all worked as expect to this point - and then I followed the [instructions](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-keep-me-signed-in) to enable KMSI.

When testing Ident

[2020-03-23 18:16] vishalaj1 opened #50728 "Column Delimeter and Row Delimeter - Empty String"
Hi,

Column Delimeter and Row Delimeter - Empty String is not supported in Copy Activity.

Please update the documentation accordingly if that is expected behavior.

Regards,
Vishal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2309a152-b9bc-7876-e010-b3bde6945d42
* Version Independent ID: 751c7679-b01c-301d-8211-30f4

[2020-03-23 18:18] JasonWHowell commented on #44957
Hi @WilliamVannuffelen are you still working on this project, or have you moved on to others?
I didn't find a great answer but hoping you are unblocked. Let me know if we need to keep pursuing more on this subject.
Thanks, Jason

[2020-03-23 18:21] kelemvor33 commented on #50581
The link you posted above goes to: https://account.activedirectory.windowsazure.com/r#/groups
I think it was different when I clicked it last week.  Anyway, when I click that link, and log in as my Tenant Global Admin account, it eventually takes me to: https://account.activedirectory.windowsazure.com/r and just shows a blank screen in Edge, Firefox, and Chrome.

[2020-03-23 18:23] florin103 commented on #50695
hi,
Yes it was supposed to be an issue related to:
https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-schema-and-type-mapping#feedback
Thanks

[2020-03-23 18:25] iainfoulds commented on #50442
I've reached out the product team to confirm this limitation, and if so, where the policy setting would be enabled.

[2020-03-23 18:28] tamram commented on #50657
@Air-Git - Thanks for your feedback!

The "management plane" refers to all Azure Resource Manager operations for storage. The storage implementation of Azure Resource Manager is also called the storage resource provider. The operations that fall into this category include creating and managing storage accounts and account keys.

The "data plane" refers to any operations on data, including all oper

[2020-03-23 18:30] YutongTie-MSFT commented on #50343
@IEvangelist  Hi David, could you please check on this and share any insight if you have? Thabks.

[2020-03-23 18:32] AjKundnani opened #50729 "Error executing helm install with Private AKS"
While executing helm install from this article step below on Private AKS Cluster
helm install -f helm-config.yaml application-gateway-kubernetes-ingress/ingress-azure

Getting below error:
Error: validation failed: [configmaps "enervated-grizzly-cm-ingress-azure" not found, serviceaccounts "enervated-grizzly-sa-ingress-azure" not found, deployments.apps "enervated-grizzly-ingress-azure" not found,

[2020-03-23 18:35] IEvangelist commented on #50343
Hey @sergioalisys,

You said you are using "basically the same code as above". I need a few things answered before I can help (we cannot debug issues unless we know exactly what is being done):

- Could you please share the **exact code** that you're using?
- Which pricing tier are you using?

[2020-03-23 18:41] MarileeTurscak-MSFT commented on #50616
I create a work item for this and have passed your feedback on to @msmimart .

[2020-03-23 18:41] #50616 closed

[2020-03-23 18:46] ggailey777 commented on #33443
@brandonh-msft this is guidance that the team wants to provide, but it's outside the scope of docs.microsoft.com documentation. Since I'm not able to move it, can you please reopen this request in the https://github.com/Azure/azure-functions-host/issues repo and tag @brettsam? Thanks!

#please-close

[2020-03-23 18:46] #33443 closed

[2020-03-23 18:50] ggailey777 commented on #35316
Ack the request for guidance here. I'll work with @brettsam to figure out how to best get this added to the article.

[2020-03-23 18:53] ggailey777 commented on #39483
It seems like this issue has been fixed and will role out in the next release. If the issue is still occurring, please reopen. #please-close

[2020-03-23 18:53] #39483 closed

[2020-03-23 18:56] wesmc7777 commented on #50717
We are using a new sample repo for this article ([https://github.com/Azure-Samples/azure-iot-samples-node.git](https://github.com/Azure-Samples/azure-iot-samples-node.git)). Please see the [US version of this How-To topic](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-raspberry-pi-kit-node-get-started#set-up-raspberry-pi).  I don't think the other language specific versions have been upda

[2020-03-23 19:03] lokijota opened #50731 "Typo/text missing"
In the first "Note" it says: "The Spark engine used by Data Flows will occasionally possible cartesian products in your join conditions."

Will occasionally what? There's text missing/wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0770d05-e1f3-4b74-ac8e-cc713549ef44
* Version Independent ID: 2e2e8575-4635-ad51-

[2020-03-23 19:03] irishun opened #50732 "Get the labeling information of a custom model built with OCR Form Labeling Tool"
Hi, I could not find the API or code to get the labeling information.
For example, the labels' key-value pairs and their bounding boxes of each page of a trained model.
It would be great to know how to get this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5280e532-d025-0755-8a06-a2dcb0a969cd
* Version In

[2020-03-23 19:07] jwettstrom opened #50733 "AZ AKS CREATE ALWAYS FAILS"
When following this tutorial you can't get passed the AZ AKS Create command. It always fails with either size of aks not available. If you specify another size it fails with Bad Request.  I created a new azure account just to go through the samples.
Here is the error if you don't specify the vm size and following the instructions exactly:
Operation failed with status: 'Bad Request'. Details: The V

[2020-03-23 19:17] fgheysels commented on #49956
Hi @lyrana ,

Both API calls are targetting the same environment (I've created a little program which does this, and the TSI environment is hardcoded).

As explained, this program doesn't work when I retrieve the jwt token via the sample code that you've posted, but it does work when I 'hijack' the token that is used by the TSI explorer.

I've compared the 2 tokens and the `oid` is not the same.
T

[2020-03-23 19:17] wickste opened #50735 "Remove call out about region availability"
IoT Plug & Play is now available in all region, so this call out is no longer needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71773c6a-a8fa-4c14-83ad-9eaad4d37d12
* Version Independent ID: 44de9fce-33b0-915e-06c0-4490acd86a87
* Content: [Connect IoT Plug and Play Preview sample device code to IoT Hub (Windows)](

[2020-03-23 19:19] KenBrady commented on #50537
Thanks for the reply.  I was able to get this working with the following commands:

**dotnet tool install -g dotnet-ef --version 3.1.1
dotnet-ef database update**

1. Note that the first command must provide the version because the latest dotnet-ef version is 3.2, and there is no dotnet version 3.2.
2. The dash in "dotnet-ef" is absent from the tutorial webpage.

I would suggest the following upda

[2020-03-23 19:19] #50537 closed

[2020-03-23 19:26] mamccrea commented on #50614
Thanks for the feedback. I've updated the doc and it should go live soon.

#please-close

[2020-03-23 19:26] #50614 closed

[2020-03-23 19:28] hpsin commented on #29375
Hey @smoms , thanks for the conversation.

Let me lay out some assumptions here, that the MSAL.js library also contains, and see if they match yours.

1. The library is being used in a SPA app, a blob of JS sent to the user's browser and executed there.
1. You have another service (appID irrelevant) that accepts ID tokens requested by the SPA app and sent from the SPA app to the service. You wish

[2020-03-23 19:30] Karishma-Tiwari-MSFT commented on #50715
Thanks for the question. We are currently investigating and will update you shortly.

[2020-03-23 19:31] Karishma-Tiwari-MSFT commented on #50716
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-03-23 19:35] paulbatum commented on #36458
This is what I get for trying to be helpful. Yes I know how ARM templates are supposed to work :/

[2020-03-23 19:38] mike-urnun-msft commented on #50710
@aa4640 Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that's best fit to address your feedback.

[2020-03-23 19:40] Air-Git commented on #50657
I was trying to understand how to read the content of a blob. Or, at one level up, how to navigate my way round the documentation to find out where I would find out how to do it.
I think I finally figured it out. The raw API is here: https://docs.microsoft.com/en-us/rest/api/storageservices/blob-service-rest-api. And then the PowerShell SDK (in my case) is here: https://docs.microsoft.com/en-us/po

[2020-03-23 19:41] mike-urnun-msft commented on #50718
@evmimagina Thank you for your feedback! We will review and update as appropriate.

[2020-03-23 19:51] m-sterspace commented on #37708
@kalyankrishna1

I'm sorry but I have to respectfully disagree that this should be closed.

1) A video is _**never**_ a suitable replacement for actually documenting your product. I cannot search a video, nor refer back to it quickly.

2) I even looked through the video, and neither it nor any of the other links provide the basic answer to the question of "how do I retrieve the token in my applica

[2020-03-23 19:51] softwarecraft commented on #50600
PR URL gives 404 error

[2020-03-23 19:53] NavtejSaini-MSFT commented on #50567
@dArignac A previous question explains your question a bit - https://github.com/MicrosoftDocs/azure-docs/issues/37857

Also the https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-compatibility document calls out v3 is not available and what is available in v2. Please check these and let us know what exactly you are looking for.

[2020-03-23 19:56] NavtejSaini-MSFT commented on #50552
@rhuanbarreto The document does mention that using the options mentioned may give you error and you need to add the sslmode option as well to the code. Have you tried this:
![image](https://user-images.githubusercontent.com/52257742/77357609-d0568900-6d1e-11ea-903f-04fec6c9ab50.png)

[2020-03-23 19:56] tamram commented on #50657
Okay, if you are using PowerShell, then you don't need to worry about whether an operation is in the management plane or the data plane. All of the commands are in the same module.

You would need to worry about whether you were using the management plane or the data plane if you are calling the REST API directly or using one of the client libraries. There are also some behaviors in the portal tha

[2020-03-23 19:56] #50657 closed

[2020-03-23 19:57] softwarecraft opened #50736 "Import fields don't include proxyAddresses which is required for later AAD Connect sync with Windows AD"
Please update this page to clarify that the import file spec does not include the Azure AD User attribute proxyAddresses which is required for later AAD Connect sync with Windows AD therefore a separate PowerShell-based update of all imported users will be required to enable sync between on-prem and Azure AD.

Details on the need for proxyAddresses attribute are included in the following MS doc wh

[2020-03-23 20:03] NavtejSaini-MSFT commented on #50571
@fleed Please check the link https://docs.microsoft.com/en-us/azure/sql-database/sql-database-firewall-configure#troubleshoot-the-database-firewall which also explains the access issue for creating these rules.
Please go through the document mentioned in the TS document for managing logins for various tasks- https://docs.microsoft.com/en-us/azure/sql-database/sql-database-manage-logins

[2020-03-23 20:15] JennyLawrance commented on #49245
@jlorek, can you clarify which URL is seeing the 503? I am able to access the app.

[2020-03-23 20:18] cijothomas commented on #50262
There are no maximum version cap. Only min version limitation. Min supported is .NET Framework 4.5

[2020-03-23 20:23] mike-urnun-msft commented on #50683
@tbtmuse Thank you for your feedback! We will review and update as appropriate.

[2020-03-23 20:29] stefandoh opened #50739 "Computer account is wrongly named in FAQ article"
"Step 3. Manually delete the AZUREADSSOACCT computer account from each AD forest that you see listed."

In fact the computer account is called AZUREADSSO instead. Please updated doc - thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eb97eff-d72e-ffa6-1365-5419e93ed82a
* Version Independent ID: 5c8b677b-f4cd-0bb5

[2020-03-23 20:33] rohitnayakmsft commented on #50463
@brent-robinson we have not added additional Gateway IP address in Australia East. Where are you seeing connections to this IP? i.e. are you seeing it in a Network trace for example? To be certain, please run nslookup  <yourserver>.database.windows.net. the output of this command will show you the Gateway that your connections are being serviced by.

[2020-03-23 20:47] jeevansd commented on #50721
@jfwillia Valid feedback. Customer need to populate the fixed reply URL in Azure AD configuration and after that only the SSO will work. We will get the instructions updated here.
@chetansriv and @v-nagta Can you please fix the article here and provide the instructions to update the correct Reply URL in the configuration?

[2020-03-23 20:51] jeevansd commented on #50528
@scootafire This should not happen. When you update the Federation Metadata XML URL from Azure AD it should not change the Identifier in the plugin configuration. This value is derived from server. If you are still facing issues please send email to SaaSApplicationIntegrations@service.microsoft.com and then we can get on the call to help resolve your issue.

[2020-03-23 20:51] hamiltonha commented on #44472
@mmacy I believe this link has already been fixed

[2020-03-23 20:55] NavtejSaini-MSFT commented on #50560
@Houuse There are different ways as described in below documents - https://social.msdn.microsoft.com/Forums/azure/en-US/ef32ac0a-551a-4b29-b6cb-af63def0fe43/trying-to-delete-data-sync-tables?forum=ssdsgetstarted
https://stackoverflow.com/questions/25479256/how-to-remove-sql-azure-data-sync-objects-manually
https://social.msdn.microsoft.com/Forums/en-US/5c5fd7ec-2378-456e-90b6-206ee4d5f76a/azure-sy

[2020-03-23 20:57] NavtejSaini-MSFT commented on #50470
@alsastre We are assigning this to our doc author for further review.
@GithubMirek Please look into this further and provide your insight.

[2020-03-23 20:58] classifieds-dev commented on #49245
I was running into this same issue on a multi-container app service. When I encountered this error I was using an app service plan with the F1 tier (free). After reading through some of the recommendations I tried to switching to a b1 tier. After redeploying the multi-container app on the b1 tier the web socket is successfully connecting without the handshake error.

[2020-03-23 21:05] #44958 closed

[2020-03-23 21:05] #45048 closed

[2020-03-23 21:05] #44285 closed

[2020-03-23 21:06] jmorcar commented on #50490
But I am creating the file share from az cli, with "az storage account create" and "az storage share create", so they are in internal azure resources. If there is any  proxy or firewall they are out of my acknowledge and my architecture only there is a NSG which is successful with Standard_LRS storage accounts. I Think the ssd premium (Premium_LRS) have not a file share service available supported

[2020-03-23 21:14] ali-elgabri opened #50740 "Is it possible to increase the 100 rule limit on the rules size for a Lifecycle Management Policy?"
According to (the docs here)[https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts?tabs=azure-portal#policy], a `policy` can only have a `rules` of size 100. Is there a possibility to increase that, either by enabling some option or even paying for  a higher tier subscription?

Our org creates several containers and, on creation, we automatically create a rule

[2020-03-23 21:15] felickz opened #50741 "TLS_RSA_WITH_AES_256_CBC_SHA256 must be selected when configuring a custom SSL policy"
This IMPORTANT note is only documented on this "configure" page, not on the other high detailed overview page (that includes the complete cipher suite list): https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-ssl-policy-overview   ... is this truly still a requirement (v1 & v2?)?

Also - CBC mode of operation is marked as WEAK - is this being deprecated?  (see: https://

[2020-03-23 21:16] RaphaelFrancisco opened #50742 "VHD Max Size"
First paragraph: "The maximum size allowed for the VHD is 1,023 GB."
"Convert the virtual disk to a fixed size and to VHD" section, item 3b: "The maximum size allowed for the OS VHD is 2TB."

Does that mean size limitations differ for OS VHDs and non-OS VHDs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5

[2020-03-23 21:17] Air-Git commented on #50657
Not all the API is implemented in the PowerShell Az modules. There is no function to put the content of a blob. Strange, but there it is. So we need to fall back on the REST API if we want to do that.

[2020-03-23 21:18] MarileeTurscak-MSFT commented on #50722
@ChrisAtMAF
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-23 21:27] timrnd commented on #16691
I have client authenticaiton working with Traffic Manager. Can you share more details about the issues you are having?

[2020-03-23 21:28] mmacy commented on #44472
@hamiltonha Excellent, confirmed as functional - current link is to https://azuread.github.io/microsoft-authentication-library-for-js/docs/msal/

#please-close

[2020-03-23 21:28] #44472 closed

[2020-03-23 21:31] tamram commented on #50657
@Air-Git - You can use the [Set-AzStorageBlobContent](https://docs.microsoft.com/powershell/module/az.storage/set-azstorageblobcontent) command to upload content to a blob in PowerShell. You don't need to use the REST API.

[2020-03-23 21:33] Air-Git commented on #50657
No, you can't. This only uploads a file as a blob, if the file exists. If you have just data, you can't "Put" it as a blob.

[2020-03-23 21:34] tamram commented on #50657
Yes, it must be a file.

What format is your data in?

[2020-03-23 21:36] Air-Git commented on #50657
The data is the result of some calculations in PowerShell.

[2020-03-23 21:37] cveld opened #50744 "What does the "classic" attribution mean?"
In Azure portal you see a non-classic Monitoring section and a "classic" Monitoring section.
Can you add some wording about the meaning of the "classic" attribution? Is it because of the eventual deprecation? Shouldn't we use it anymore and just start using the non-classic monitoring section? What are the key benefits of using the classic monitoring section akin to the non-classic monitoring secti

[2020-03-23 21:39] erichrt commented on #47565
As mavilleg is MSFT internal, following up over mail to get clarity

[2020-03-23 21:44] cveld commented on #50744
In particular, are the "classic" diagnostics settings only relevant for the "classic" monitoring functions, or do they also apply to the non-classic monitoring functions?

[2020-03-23 21:45] sayanghosh123 commented on #50617
Hi @bsiva thanks for your reply. My motivation is as follows -

- Extract assessment data from 'Microsoft.Migrate/migrateprojects' type of projects with REST API
- Populate Azure Pricing Calculator with the data using a UI Flow

Note - if Azure Migrate built a direct export to Azure pricing calculator then this won't be required but my understanding is that's not on the cards so I am planning this

[2020-03-23 21:46] MarileeTurscak-MSFT commented on #50739
@stefandoh thanks! Fixing this.

[2020-03-23 21:49] dudu-markovitz opened #50745 "SQL Server | Linked Server"
1. Didn't work for me with user DSN, only with system DSN.
2. The regedit does not seem to have any impact

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96736d22-b3e0-290d-3615-5468859d0c9c
* Version Independent ID: c13dfbf7-0335-586d-2a04-d9d05ddb1f3a
* Content: [Connect to Azure Cosmos DB using BI analytics tools](h

[2020-03-23 21:50] vhorne commented on #50632
#reassign:absha

[2020-03-23 21:50] PRMerger18 commented on #50632
absha is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-03-23 21:50] MarileeTurscak-MSFT commented on #50739
Thanks! I made a PR to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/108713

[2020-03-23 21:50] #50739 closed

[2020-03-23 21:52] jeevansd commented on #50722
@chetansriv  and @v-nagta Can you please get this fixed?

[2020-03-23 21:56] schittli commented on #50331
Good evening @BharathNimmala-MSFT
thank you for your answer!

The background is that in Azure security should be a very important aspect.
This includes having the right cmdlet's available to handle the credentials.

When dealing with Azure, one quickly realizes that one needs the `Get-AutomationPSCredential` command. Unfortunately, this command is not part of the Az module, but of some probably fo

[2020-03-23 21:58] himanshusinha-msft commented on #50401
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-03-23 21:58] RaphaelFrancisco opened #50746 "ReadOnly Lock & List Keys"
"A ReadOnly lock on a storage account prevents all users from listing the keys. The list keys operation is handled through a POST request because the returned keys are available for write operations."

What exactly "list keys operation" means in this context? Because I have a storage account which inherits a read-only lock from its resource group, and I can navigate to the "Access keys" blade and

[2020-03-23 22:03] MarileeTurscak-MSFT commented on #50720
@CeciAc
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-23 22:05] MarileeTurscak-MSFT commented on #50736
@softwarecraft
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-23 22:07] #49816 closed

[2020-03-23 22:08] himanshusinha-msft commented on #50397
@vlado101 : We tried to create a table which is similar with customer, but cannot repro the customer issue.

CREATE SET TABLE EMPLOYEETESTINDEX,FALLBACK (
   EmployeeNo INTEGER,
   FirstName VARCHAR(30),
   LastName VARCHAR(30),
   DOB DATE FORMAT 'YYYY-MM-DD',
   JoinedDate DATE FORMAT 'YYYY-MM-DD',
   DepartmentNo BYTEINT
)
UNIQUE PRIMARY INDEX partitionColumn( EmployeeNo, FirstName, LastName );

[2020-03-23 22:08] zr-msft commented on #49816
Thank you for the feedback @mmathias01 !

I have updated the docs with your feedback and the changes should be available soon.

[2020-03-23 22:22] smartpcr opened #50748 "handle access token expired"
[Enter feedback here]
with the following code to use aad to access blob storage, what's the best practice to handle token expired exception? thanks!

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02de0bf-09d7-a7fc-1b4a-213426e96b2d
* Version Independent ID: 36f6c8fe-6bc1-6643-4b66-2c38bcd2e5f0
* Content: [Acqu

[2020-03-23 22:26] tamram commented on #50657
You can use the .NET client library from PowerShell in order to write a stream or a byte array. Doing so gives you the full power of the client library in the case that the PowerShell cmdlets don't meet your needs.

I don't have a specific example showing how to do this, but see the following link for details about PowerShell support for .NET.

https://docs.microsoft.com/powershell/scripting/sampl

[2020-03-23 22:43] MarileeTurscak-MSFT commented on #50714
@gaspilleur
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-23 22:44] MarileeTurscak-MSFT commented on #50727
@sergiosolorzano
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-23 22:56] MarileeTurscak-MSFT commented on #50589
I assume you mean NPS.

Yes, you can login without MFA and set policies for cloud MFA. If you're using MFA server though there is no way that I know of to bypass MFA, and if you're using Azure MFA with NPS for service accounts. But if you're just using Azure MFA with NPS per-user or per-group you should be able to set this up.

Hope this helps!

CC: @Iainfoulds in case I missed anything

[2020-03-23 22:56] MarileeTurscak-MSFT commented on #50589
If you have further questions feel free to reach out on Q&A. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2020-03-23 22:56] #50589 closed

[2020-03-23 23:02] jgrossrr commented on #30127
@azsec Thank You for your site, I just used it to see why wineventlogs not heading to event hub. Your link provided me the missing link, "DiagnosticInfrastructureLogs"

[2020-03-23 23:02] BharathNimmala-MSFT commented on #50746
@RaphaelFrancisco Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-23 23:20] kobulloc-MSFT commented on #50733
@jwettstrom Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-03-23 23:22] StingyJack commented on #48095
Great, someone had a bright idea of changing the package id and not leaving a redirection package so people can find the later version. If they want people to upgrade they have to make it easier than this. Thanks for the info @mhopkins-msft

[2020-03-23 23:26] Mike-Ubezzi-MSFT commented on #50745
@dudu-markovitz Thank you for bringing this to our attention. We will review this for accuracy and update the documentation accordingly.

[2020-03-23 23:30] mhopkins-msft commented on #48095
I will share this feedback with the product team. Thanks, @StingyJack,

[2020-03-23 23:33] EmmanVazz commented on #49997
I have this same issue, why was this closed with no solution?

[2020-03-23 23:35] LandyLee123 commented on #47074
In the Salesforce job market like a [salesforce consulting rates](https://www.ergonized.com/blog/everything-you-need-to-know-about-hiring-salesforce-experts-in-2020/), the commonly recognized developer- skill hierarchy applies. The career path typically looks like this: a person starts with the Junior level, then the Middle one comes with the experience. And it requires full experience in the area

[2020-03-23 23:44] LandyLee123 commented on #41999
In the Salesforce job market you can [find a salesforce partner](https://www.ergonized.com/salesforce-consulting-partner/), the commonly recognized developer- skill hierarchy applies. The career path typically looks like this: a person starts with the Junior level, then the Middle one comes with the experience. And it requires full experience in the area of specialization and related ones to becom

[2020-03-23 23:44] j03INTHECLOUD commented on #16691
Ya, if you exclude the the health route from client certificate requirement of the web app and make a custom health route for the endpoints on the traffic manager it should work.

[2020-03-24 00:16] jeevansd commented on #47074
@chetansriv and @v-nagta can you please update the article as mentioned here?

[2020-03-24 00:17] MarileeTurscak-MSFT commented on #50591
Make sure that you are signed in as a global administrator, application administrator, cloud application administrator, or the assigned owner of the enterprise app to manage groups.

To assign administrator roles you need to be a global admin or a PIM admin.

To assign other roles you need:

Microsoft.Authorization/roleAssignments/write and Microsoft.Authorization/roleAssignments/delete permission

[2020-03-24 00:18] MarileeTurscak-MSFT commented on #50591
Hope this helps! If you're still having trouble feel free to open a case in [Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html) or email me at AzCommunity@microsoft.com

[2020-03-24 00:18] #50591 closed

[2020-03-24 00:22] neeleshray-msft commented on #50359
@msmimart Could this e checked and rectified ?

[2020-03-24 00:23] AnthonyPuca opened #50749 "Syntax is incorrect"
After logging in, seeing my subscription, and validating the RG is in the portal, the "Create an empty managed disk" step returns a count not find RG error. Also, since this page is a set of instructions, it would be beneficial for the reader to number the steps and include the verbiage about billing and such afterwards.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-03-24 00:24] neeleshray-msft commented on #50379
@jmprieur Could this be confirmed ?

[2020-03-24 00:25] GarrettGeorge opened #50750 "Cannot resolve "log_s""
'project' operator: Failed to resolve scalar expression named 'log_s'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 028ffbf7-3fbc-dd56-59c1-ed6403313671
* Version Independent ID: 94c79eaa-d1c7-59a4-2f45-2ae07ca6b4ec
* Content: [View Azure Kubernetes Service (AKS) controller logs - Azure Kubernetes Service](https://doc

[2020-03-24 00:25] neeleshray-msft commented on #50380
@paulspencerwilliams We would be closing this thread now. Let us know if you need further help on the same.

[2020-03-24 00:25] #50380 closed

[2020-03-24 00:26] jmprieur commented on #50379
@hpsin @kalyankrishna1  : would you have an idea?

[2020-03-24 00:31] AnthonyPuca opened #50752 "Found syntax error on previously commented post"
You're lacking the subscription string in the syntax. If it works, that means it's defaulting to your sub because you only have 1. I have ~10. Most customers will have several.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77b58ea9-fc39-64f0-111c-371c9176ed55
* Version Independent ID: 54408794-9e81-79ed-32ff-1c05979ff

[2020-03-24 00:37] sami1178116 opened #50753 "Fencing operation is not working"
Implemented this documentation several times and I keep on getting below error. I was trying to manually fence the node 2 from node 1 but it's not working.

[root@node1 ~]# pcs stonith fence node2.xxxxx.com
Error: unable to fence 'node2.xxxx.com'

The output of corosync logs:
Mar 24 00:31:30 [1141] node1.xxxx.com stonith-ng:    error: remote_op_done:        Operation reboot of node2.xxxxx.com by &

[2020-03-24 00:40] MarileeTurscak-MSFT commented on #50592
Per my understanding this is just for creating test provisioning and SSO.

More details about setting up automatic provisioning are described in this article. https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/snowflake-provisioning-tutorial

CC @jeevansd

If you have further questions feel free to create an issue in Q&A. https://docs.microsoft.com/en-us/azure/active-directory/saas-

[2020-03-24 00:40] #50592 closed

[2020-03-24 00:40] prashantma commented on #50671
I tried as per the provided link. But I can not find "Azure Functions and Web Jobs Tools".
Searched in "Extensions" under (with sorting order as Name Ascending)
1. Online - Visual Studio Market Place - Tools
2. Updates - Visual Studio Market Place
3. Installed - All

I am using VS 2019  (VS 16.4.5).

![Extensions-Updates](https://user-images.githubusercontent.com/10246282/77375988-7ddc9300-6d45-11

[2020-03-24 00:41] TravisCragg-MSFT commented on #50723
@JamesEarle Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-24 00:48] MarileeTurscak-MSFT commented on #50722
I don't have permission to add an image to the common folder, but here is the screenshot for this:

![image](https://user-images.githubusercontent.com/13383753/77376656-12d39200-6d2e-11ea-93ff-cf32c313bb9a.png)

[2020-03-24 00:49] MarileeTurscak-MSFT commented on #50722
I don't have permissions to upload to the common file, so am assigning this to the author.

[2020-03-24 00:49] TravisCragg-MSFT commented on #50724
@JamesEarle Thanks for the feedback! I believe that this is intentional, as it highlights the Azure Load Balancer portion of the template. @asudbring to confirm.

[2020-03-24 00:49] hpsin commented on #50379
https://docs.servicestack.net/authentication-and-authorization ?

[2020-03-24 00:50] MarileeTurscak-MSFT commented on #50630
Thanks for updating with your resolution, @hubbardw .

Sorry we didn't get to you faster!

But yes, you need to be an Owner or admin.

[2020-03-24 00:50] #50630 closed

[2020-03-24 00:56] minh-dang opened #50754 "Build failure after adding project reference"
After adding the web app project reference to resource group project my build stopped working. Below is the error;

error MSB4057: The target "Package" does not exist in the project.
Done building project "FunctionApp1.csproj" -- FAILED.
Done building project "ResourceGroup1.deployproj" -- FAILED.

It seems like it's not generating the package.zip.

I'm currently using using VS2019 (16.5.0.0). RG

[2020-03-24 00:58] collinstevens opened #50755 "Poison blobs retry count configuration"
The [Poison blob section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=csharp#poison-blobs) states "**When a blob trigger function fails for a given blob, Azure Functions retries that function a total of 5 times by default.**", where is the configured?

On the [host.json documentation for Azure Functions v1](https://docs.microsoft.com/en-us/az

[2020-03-24 01:08] Teodelas opened #50756 "Delete Log files"
Should we include information on how to cleanup log files?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014b28e4-afcd-a151-1819-1eccd31d3715
* Version Independent ID: 032a4694-18d7-67eb-56bb-64078d79d6ae
* Content: [Troubleshoot - Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot)
* Content

[2020-03-24 01:10] TravisCragg-MSFT commented on #50726
@AjKundnani Are you setting this up with a New Application Gateway or an Existing Application Gateway?

[2020-03-24 01:11] TravisCragg-MSFT commented on #50726
Closing this issue as a duplicate of [#50729](https://github.com/MicrosoftDocs/azure-docs/issues/50729)

[2020-03-24 01:11] #50726 closed

[2020-03-24 01:13] TravisCragg-MSFT commented on #50729
@AjKundnani What exactly do you mean by "Private" AKS?

[2020-03-24 01:14] Karishma-Tiwari-MSFT commented on #50515
Thanks @ritazh :)
@kbetts-wwt We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-24 01:14] #50515 closed

[2020-03-24 01:14] dcbrown16 commented on #34437
@DixitArora-MSFT any progress here? We have another support case asking about the Azure Monitor settings under the API menu (the original post was from an earlier case from my team).

[2020-03-24 01:18] Karishma-Tiwari-MSFT commented on #50415
@AnandKatta
1) are the swaggerURL working when testing with kubectl port-forward
2) what annotation are configured on the .net application services ?

My assumption here is that there is a path routing issue or the web app doesn't support well being fronted by a proxy.

[2020-03-24 01:28] Karishma-Tiwari-MSFT commented on #50299
Which build of windows are you using?
You need to have Windows 10 Insider Preview Enterprise (FAST) – Build 19035 or later.
Please check and let me know.

[2020-03-24 01:31] TravisCragg-MSFT commented on #50741
@felickz to my knowledge, this is still a requirement. If you would like us to deprecate this cipher in the future, your best bet is to vote for that feedback item.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-24 01:31] #50741 closed

[2020-03-24 01:39] TravisCragg-MSFT commented on #50598
@ramadarla Yes, you can only advertise the prefixes via BGP.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-24 01:39] #50598 closed

[2020-03-24 01:46] AnthonyPuca opened #50757 "Syntax error on AzCopy"
azcopy command to copy is cp, not copy. It's very disappointing that nobody even tested these prior to publishing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77b58ea9-fc39-64f0-111c-371c9176ed55
* Version Independent ID: 54408794-9e81-79ed-32ff-1c05979ff0e8
* Content: [Upload a VHD using the Azure CLI - Azure Linux

[2020-03-24 01:49] GiftA-MSFT commented on #50719
@msimecek we will review your feedback and get back to you shortly. Thanks.

[2020-03-24 01:51] GiftA-MSFT commented on #50732
@irishun we will review your feedback and get back to you shortly. Thanks.

[2020-03-24 01:53] kariyukisusumu opened #50758 "P2S VPN Article in VWAN Document"
P2S VPN page In VWAN article is shown.

But my understanding is this page is for just Point to Site VPN and NOT VWAN VPN.
For example, VWAN Point-to-Site VPN scale unit doesn't support SSTP.

This is confusing.

![スクリーンショット (114)](https://user-images.githubusercontent.com/28695380/77380078-96888f80-6dbd-11ea-9a90-2c1c1b50b3c5.png)

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-03-24 01:58] jacksiergiej commented on #50325
When will Private Link be available for Web Apps?  I'd love to not have my web app publically accessible, but rather on my own vnet.

[2020-03-24 02:03] jackngok commented on #50299
Yup, I'm using the preview os according to the doc
download and convert to vhd then upload to azure

[2020-03-24 02:38] alexchen2016 opened #50759 "health history days not accurate"
In "History information", there are words "You can access 14 days of history in the Health history section of Resource Health.". But our China customer found that it can display 30days now(4 weeks) after testing. Could you help to confirm the days of history and update this article if it's not 14 days?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-03-24 02:52] SubhashVasarapu-MSFT commented on #50758
@kariyukisusumu , We are looking into this query and will update you as soon as possible.

[2020-03-24 02:55] PramodValavala-MSFT commented on #50695
@florin103 Thanks for the question! We will review and get back to you!

[2020-03-24 03:05] oo2316oo opened #50760 "UDR tunneling,"
we are using compute instance, their is only example to configure UDR with Azure Batch service,
But the VM is not working, would you please provide more example about configure UDR for AML service and key vault also?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8e02dfa-9387-30bc-1099-a4a302f023c3
* Version Independe

[2020-03-24 03:07] jmprieur commented on #35288
#reassign:hamiltonha
@hamiltonha : you might want to work with Dogan on this?

[2020-03-24 03:11] VikasPullagura-MSFT commented on #50752
@AnthonyPuca
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-24 03:12] VikasPullagura-MSFT commented on #50752
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-03-24 03:19] 5m1 commented on #40941
Is there any update on this? As we are encountering the same situation here.

[2020-03-24 03:22] VikasPullagura-MSFT commented on #50742
@RaphaelFrancisco
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-24 03:22] VikasPullagura-MSFT commented on #50742
@genlin
Can you please check and add your comments on this doc update request as applicable.

[2020-03-24 03:23] VikasPullagura-MSFT commented on #50749
@AnthonyPuca
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-24 03:23] ram-msft commented on #50760
@oo2316oo Thanks for the question. We are investigating the issue and will update you shortly.

[2020-03-24 03:23] VikasPullagura-MSFT commented on #50749
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-03-24 03:41] BharathNimmala-MSFT commented on #50754
@minh-dang Thank you for your query, we will further look into it and get back to you at the earliest

[2020-03-24 03:42] BharathNimmala-MSFT commented on #50759
@alexchen2016 Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-24 03:45] Hari1667 opened #50761 "Need webchat.js v4 max version file"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-24 03:50] minh-dang commented on #50754
@BharathNimmala-MSFT - Thanks! Just want to add some extra info which might be useful. I was actually trying to do it with Azure Function V3 (NET Core 3). When testing with a ASP.NET Core Web App, that approach work. What different between the two are the project SDK.

Azure Function use this - Project Sdk="Microsoft.NET.Sdk"
ASP.NET App use this - Project Sdk="Microsoft.NET.Sdk.Web"

Seems like t

[2020-03-24 03:53] zulf-fire commented on #50716
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-extension-sequencing

[2020-03-24 04:03] AjKundnani commented on #50729
@TravisCragg-MSFT - Please find details for Private AKS below:
https://docs.microsoft.com/en-us/azure/aks/private-clusters

[2020-03-24 04:15] jmprieur commented on #36402
@psignoret ping?

[2020-03-24 04:15] jmprieur commented on #38353
#please-close
I've responded

[2020-03-24 04:15] #38353 closed

[2020-03-24 04:17] jmprieur commented on #45157
This is no longer relevant
#please-close

[2020-03-24 04:17] #45157 closed

[2020-03-24 04:45] maliksahil commented on #50748
I'll try to help, but I need some more information.
The article you reference uses _tokenAcquisition.GetAccessTokenOnBehalfOfUser.
You are calling a method called "GetAccessToken", what is the implementation of that method, and which article are you referencing?

[2020-03-24 04:49] SumanthMarigowda-MSFT commented on #50744
@cveld Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-24 04:50] SumanthMarigowda-MSFT commented on #50748
@smartpcr Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-24 04:55] AshokPeddakotla-MSFT commented on #50735
@wickste Thanks for the heads up! The doc will be updated accordingly.

[2020-03-24 04:57] AshokPeddakotla-MSFT commented on #50756
@Teodelas Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-24 05:07] AshokPeddakotla-MSFT commented on #50327
Please upgrade your subscription and let us know if you are still blocked.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-24 05:07] #50327 closed

[2020-03-24 05:17] jakaruna-MSFT commented on #50753
@sami1178116
Thanks for the question! We are investigating and will update you shortly.

[2020-03-24 05:19] jakaruna-MSFT commented on #50750
@GarrettGeorge
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-24 05:22] majguo commented on #50310
Thanks for your quick response @mjudeikis & @VikasPullagura-MSFT . Yes it solves my query, I'm waiting for being white-listed for ARO 4.3 so I can have a try.

[2020-03-24 05:24] SubhashVasarapu-MSFT commented on #50459
@mjpearse , Team is working on fixing this portal bug. We will keep you posted!
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-24 05:24] #50459 closed

[2020-03-24 05:25] hpsin commented on #50379
@PramodValavala-MSFT - wrong SME I'm afraid, I don't know about libraries.  I'll just be looking things up on the internet, which I assume the question asker is as good or better than me at doing.

[2020-03-24 05:29] PramodValavala-MSFT commented on #50379
@hpsin Sure. No problem.

@neeleshray-msft Assigning this back to you. Could you assign appropriately?

[2020-03-24 05:39] VikasPullagura-MSFT commented on #50757
@AnthonyPuca Thanks for your question.

copy, cp and c are the aliases for the copy. Using any of this for azcopy will work, more sample [examples](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-files) for reference.

![image](https://user-images.githubusercontent.com/48944027/77391727-74900c80-6dbf-11ea-948b-49a8bf617b88.png)

We will now close this issue. If there are f

[2020-03-24 05:39] #50757 closed

[2020-03-24 05:46] SubhashVasarapu-MSFT commented on #50542
@Jlouden9 , Appreciate your patience. Azure supports OpenVPN protocol in Azure VPN gateways for P2S connectivity. Here is a [doc](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-openvpn) for your reference in configuring OpenVPN for Azure point-to-site VPN gateway.
Also, We will work on updating this [doc](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-po

[2020-03-24 05:46] #50542 closed

[2020-03-24 05:48] DixitArora-MSFT commented on #50519
@FlavioDiasPs Just following up again in case missed the previous communication.

[2020-03-24 05:48] VikasPullagura-MSFT commented on #50716
@zulf-fire Can you please share with the api version used in the template, that can help us repro and check the issue.

[2020-03-24 05:49] DixitArora-MSFT commented on #50554
@vladvino Just following up again in case missed the previous communication.

[2020-03-24 05:50] dcurwin commented on #50541
#assign:GeethalakshmiG

[2020-03-24 05:52] dcurwin commented on #50453
So should we leave this GitHub issue open? Or should we close it and you'll update us if the doc needs modification?

[2020-03-24 05:54] ChiragMishra-MSFT commented on #50728
@vishalaj1 Thanks for bringing this to our notice. I am assigning the issue to the content owner to review and update as appropriate.

@linda33wj Can you please take a look at this? I can confirm that when using a dataset with no delimiters in a copy activity, the following errors are thrown :
![image](https://user-images.githubusercontent.com/43365826/77392892-f5e89e80-6dc1-11ea-8f93-507a932c362b

[2020-03-24 05:56] ChiragMishra-MSFT commented on #50731
@lokijota Thanks for bringing this to our notice. I am assigning the issue to the content owner to review and update as appropriate.

@kromerm Can you please take a look at this?

[2020-03-24 05:56] zulf-fire commented on #50716
This is the link to the ARM template: https://zulf-fire.github.io/VMSS-Files/InlineTemplate.json

[2020-03-24 05:56] abatishchev opened #50763 "Action Type is always Action"
All values in the first column Action Type is always same, Action. Why it exists?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Independent ID: b4e96391-bcf9-1f30-cb44-ed339469da4f
* Content: [Azure Resource Manager resource provider operations](https://docs.microsoft.com

[2020-03-24 05:57] ChiragMishra-MSFT commented on #50620
@Samy99999 We haven't heard from you. Can you please share the error message?

[2020-03-24 06:06] Samy99999 commented on #50620
Hi Chirag,
Thanks for your email
I am away for a couple of days and will send it when I am back
________________________________
From: ChiragMishra-MSFT <notifications@github.com>
Sent: Tuesday, March 24, 2020 4:58:11 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Samy99999 <beesofox@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] For

[2020-03-24 06:09] ChiragMishra-MSFT commented on #50620
@Samy99999 Thanks for letting us know. I would recommend you to create a forum thread with as much details of the issue as possible . The audience there, is more suited for such issues. Posting on [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory) will enhance the visibility of this

[2020-03-24 06:09] #50620 closed

[2020-03-24 06:11] VikasPullagura-MSFT commented on #50716
@zulf-fire Thanks for the quick response.

The API version you are currently using [2017-03-30](https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2017-03-30/virtualmachinescalesets) does not have   **provisionAfterExtensions** property. Please try to use this api version [2019-07-01](https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2019-07-01/virtualmachinescales

[2020-03-24 06:18] jakaruna-MSFT commented on #50750
@GarrettGeorge Are you querying from the workspace or from the logs in the kubernetes blade?

Can you provide a screenshot

[2020-03-24 06:19] jakaruna-MSFT commented on #50753
@sami1178116 are you using public ips for your instances

[2020-03-24 06:20] jakaruna-MSFT commented on #50469
@MikkelHegn   do you think we can add the samples to the doc?

[2020-03-24 06:21] jakaruna-MSFT commented on #49705
@erotavlas is there any update

[2020-03-24 06:28] sergiosolorzano opened #50764 "Custom Policies Azure AD B2C - No sign in requested - how hook up the Web app a'la User Flows?"
Hi

I followed the steps to setup KSMI custom policies in this [example ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-get-started?tabs=app-reg-preview#create-the-signing-key)and with local account. When I open the web app no sign in is required. I guess I didn't hook up the custom policies for this web app like it's done for User Flows?

How do I hook up or do I have

[2020-03-24 06:41] SumanthMarigowda-MSFT commented on #50663
@eakarat1141 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document

[2020-03-24 06:46] codemaker opened #50765 "DDoS protection plan for Azure AD?"
How do I make sure AAD is not flooded from DDoS attack? Will DDoS protection plan cover it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f38b1bd-2ab0-71f1-a6e9-925b7af3389d
* Version Independent ID: 9528f5cf-16e1-0550-dc3e-edc135c82167
* Content: [Azure DDoS Protection Standard Overview](https://docs.microsoft.com/e

[2020-03-24 06:53] msrini-MSFT commented on #50765
@codemaker , DDOS Standard only protects the Public IP of the resources which are part of the VNET in which Standard plan is enabled.

Azure AD is not covered in DDOS but DDOS basic is enabled for all Azure resources in Azure which is part of the platform itself to protect against DDOS attack.

[2020-03-24 06:57] SubhashVasarapu-MSFT commented on #50618
@dataslicer , Appreciate your patience. AFAIK, there is no public announcement as of yet. Please do check [Azure Updates](https://azure.microsoft.com/en-us/updates/) page for news. There is no doc update required as of now and that it will be updated once available.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the

[2020-03-24 06:57] #50618 closed

[2020-03-24 07:10] sami1178116 commented on #50753
No, I am not using public IP.

[2020-03-24 07:14] dArignac commented on #50567
@NavtejSaini-MSFT

Let me clarify this. When I retrieve vertices from Azure Cosmos DB using GraphSONv2, or more specifically `GraphSONMessageSerializerV2d0`, then the returned JSON looks like the following:

[code]
 If I query the vertices in a Apache Tinkerpop server using the same serializer, the content looks like this:

[code]

Though Azure only support the GraphSONv2 serializer, the returned

[2020-03-24 07:24] sharadrumane opened #50766 "Getting error while checking IOT edge logs on putty"
"We are experiencing transient issues receiving input right now. We will try again soon.", "InputProcessorFailure\AggregateException", "Exception: System.AggregateException
Message: One or more errors occurred. (Cannot access a closed Stream.)

I am trying to pass the output of my module to ASA Job and my ASA job in running on linux edge device. i am trying to check if i am getting input from my i

[2020-03-24 07:24] SudeshSharma opened #50767 "FATAL ERROR: Zone Allocation failed - process out of memory"
Guys, I have Created Pipeline in azure devops that continuous build and deploy my node js project on my azure virtual machine iis web server.

But I got Error "FATAL ERROR: Zone Allocation failed - process out of memory "

during Deployment of nodejs project on vm iis web server . I dont know why?

Please Help?

[2020-03-24 07:25] smoms commented on #50591
@MarileeTurscak-MSFT I am bit surprised you close the ticket without waiting a feedback. Of course I am Global Admin in my tenant. I would say your suggestion is not the solution. Thanks.

[2020-03-24 07:26] BryanTrach-MSFT commented on #47760
@Pancat007 We typically only show the latest version or two in the Azure portal. If a version is nearly EOL, it will likely be replaced in the portal for a newer version to ensure customers are following best security practices.

We do want to ensure we remain compatibility for customers as well. So we do make older frameworks available but you'll need to manually configure them, as you pointed ou

[2020-03-24 07:26] #47760 closed

[2020-03-24 07:27] smoms commented on #50592
@MarileeTurscak-MSFT thanks. But with Automatic Provisioning users should be provisioned automatically in Snowflake. This is the sense, even for a test. Isn't? thanks,

[2020-03-24 07:28] smoms commented on #29375
@hpsin thanks. I will compare with other libraries. You can close it. thanks

[2020-03-24 07:34] Niclas1976 opened #50768 "Quarantined but no errors listed"
Hello. Our zendesk user provisioning is listed as "Quarantined due to a high number of errors. Please view the audit logs below to assess the errors and remediate them. Sync interval reduced to once per 24 hours.​"
But when looking at the audit logs, there are nothing but "success".
Something works because testing works, and the roles from zendesk are provisioned.
I have a test user which is not p

[2020-03-24 07:43] proximagr commented on #33551
Why is this issue closed?

I have the same issue. Automationaccounts/job failed code: conflict
 I am using a Global Admin & Subscription Owner account without MFA.
I have only the two Windows Virtual Desktop enterprise apps.
I tried to run the automation job that failed manually, I have the error:
Cannot bind argument to parameter 'ObjectId' because it is null. (Cannot bind argument to parameter '

[2020-03-24 07:54] Neelkamal10 opened #50769 "VM SIZES ARE NOT available."
![Screenshot (29)](https://user-images.githubusercontent.com/54034262/77401282-a52d7180-6dd2-11ea-82af-395239535494.png)
actually , While creating vm all sizes are greyed out.

[2020-03-24 08:25] DashleenBhandari-MSFT commented on #50658
@Justien22 , Could you please provide a test sample URL that would be helpful.

Here is a test URL
https://eventgridmediaservice-usw22.streaming.media.azure.net/fb050430-31bc-4f2d-9061-e004822be21b/manifest.ism/manifest(format=mpd-time-cmaf).mpd

and it works in this test DASH.js player:
http://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html

[2020-03-24 08:29] BharathNimmala-MSFT commented on #49225
@Biju-Joseph Hope the [documentation ](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website-host#feedback) has been helpful, apologies for the delayed response on this thread.

We will go ahead and close this issue for now, however if you are still experencing the issue of 404 listed earlier please tag us in your reply and will be more than happy to reopen the thread an

[2020-03-24 08:29] #49225 closed

[2020-03-24 08:33] munkii opened #50771 "Missing documentation on AuthorizationLevel and Keys"
This page gets linked to from elsewhere in the MS docs as a place to learn about FunctionApp AuthorizationLevel  and keys used for some of those AuthorizationLevels. Yet there is nothing on here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca056578-526c-603a-a0c7-fad5184134c0
* Version Independent ID: 486bd792-6be0-e

[2020-03-24 08:36] msrini-MSFT commented on #50769
@Neelkamal10 , Can you stop the VM and try resizing the VM ?

When the VM is running, you can only resize to certain VM sizes.

[2020-03-24 09:02] BharathNimmala-MSFT commented on #50399
@amergey We really appreciate you taking time for sharing the feedback to enhance our documentation and help broader community. I have shared this feedback to our document author @mumian to further evaluate the feedback and see if we can enhance the document accordingly.

Once the feedback is evaluated a PR would be raised to update the document. Will keep this thread updated for further informati

[2020-03-24 09:02] #50399 closed

[2020-03-24 09:02] DixitArora-MSFT commented on #50771
Hi @munkii Thanks for your feedback. We will review and update as appropriate.

[2020-03-24 09:07] Air-Git commented on #50657
Thanks for this. I was thinking you could also use Invoke-RestMethod to Put a blob (https://docs.microsoft.com/en-us/rest/api/storageservices/put-blob).

[2020-03-24 09:11] PramodValavala-MSFT commented on #50740
@ali-elgabri Thanks for the question! We will review and get back to you!

[2020-03-24 09:12] PramodValavala-MSFT commented on #50761
@Hari1667 Is there a specific doc that you are referring to here? If so, could you please share the same?

[2020-03-24 09:13] PramodValavala-MSFT commented on #50766
@sharadrumane Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-24 09:14] PramodValavala-MSFT commented on #50767
@SudeshSharma Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-24 09:17] BharathNimmala-MSFT commented on #50443
@lunar87 Thanks for reaching out, sorry if we are missing any specific details on the feedback you have shared. The documentation [links ](https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/reservation-apis#give-access-to-reservations) extends to samples for Azure PowerShell/CLI.

Please see if below links help

- [Add or remove role assignments using Azure RBAC and Azure

[2020-03-24 09:18] Neelkamal10 commented on #50769
@msrini-MSFT  ,I tried ,its not working.

[2020-03-24 09:18] ncarandini commented on #50616
Wouldn't be better to keep it open until done? Anyway, thanks for your kind feedback.

[2020-03-24 09:21] diego-palla commented on #16997
Hi @Mike-Ubezzi-MSFT
I was experiencing this problem and asked Microsoft Support to update to 3.6 version. I have just tried after being updated and it's still happening. Is anyone else having this problem with v3.6?
Regards

[2020-03-24 09:22] msrini-MSFT commented on #50769
@Neelkamal10 , Can you please provide me more information ?

Subscription model: Free Subscription or Pay as you go or Visual Studio
Region that you are currently trying
Screenshot of the VM size when you removed all filters

[2020-03-24 09:23] sergioalisys commented on #50343
Hi @IEvangelist,

Everything is inexplicably running smoothly again (without any change on our side). As expected,  there is a valid URL to get transcription's result when ```'status': 'Succeeded'```:

```transcription.results_urls["channel_0"]: https://spsvcprodweu.blob.core.windows.net/...```

I'll contact if this issue comes back. Many thanks for your time.

Apart from that, I've noticed that t

[2020-03-24 09:24] Neelkamal10 commented on #50769
@msrini-MSFT ,Subscription Model: Visual Studio
Region :East-US
![Screenshot (32)](https://user-images.githubusercontent.com/54034262/77409485-589c6300-6ddf-11ea-97c4-a2e119b77a27.png)

[2020-03-24 09:26] sharadrumane commented on #50766
@PramodValavala-MSFT i am not following specific document. but my scenario is. i am having a python module deploy on  edge device and the output of that module i am passing to IOT hub and output of IOT HUB will be input to my ASA module. my ASA module is also deploy on same edge device  and it is running but when i am checking logs from putty i am getting below error.

############################

[2020-03-24 09:29] magne opened #50772 "AppRoleAssignmentsComplex"
There are several issues here, both with the implementation and documentation:
- **How to configure**: The main reason to use AppRoleAssignmentsComplex is to support multiple roles. When adding the new `roles` attribute, it should mention that it needs to be multi-value to support, well, multiple roles.
- You mention that there is a difference between POST and PATCH; that PATCH does not contain ty

[2020-03-24 09:30] jjindrich opened #50773 "Which antivirus SW is used"
Hello, please could you add more information about which antivirus solution is used for scanning of blobs for malware ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bdd7
* Version Independent ID: 75ad901d-8064-bfbe-67f5-de507bede1bc
* Content: [Configure advanced threat protection - Az

[2020-03-24 09:31] tnlthanzeel commented on #41029
it woked!! thanks

[2020-03-24 09:33] PramodValavala-MSFT commented on #50766
@sharadrumane Thanks for the detailed logs but please do note that this repository is primarily for addressing doc related feedback.

Unless there is a specific doc that you are referring to for your scenario, it would be best to open a thread on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=iotedge) or [StackOverflow](https://stackoverflow.com/questions/tagged/azure-iot-edge) t

[2020-03-24 09:33] #50766 closed

[2020-03-24 09:36] Alexp2019 opened #50774 "Azure-Maps-Control"
Error: Invalid LngLat latitude value: must be between -90 and 90
When using locations in Australia, I receive the above error. Locations in US etc work fine.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea11ca51-2d51-8328-09d7-2ee9944e5751
* Version Independent ID: 2077160d-3c5f-33d1-4d14-43a758071a76
* Content: [Get

[2020-03-24 09:44] dem108 opened #50775 "Screenshot is showing old UI"
Now you have option of `Enable Application Insights diagnostics and data collection`.
The screenshot should be replaced.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ec57fee-a0d0-c9a7-eeb2-90b9223b932c
* Version Independent ID: 0f840fe8-5786-59ba-5b80-87595f370133
* Content: [Collect data on your production models -

[2020-03-24 09:45] tnlthanzeel opened #50776 "CORS issue"
i get the follwing error, some thing to do with cors. i have exaclty follwoed what the article said.

Access to XMLHttpRequest at 'http://localhost:7071/api/negotiate' from origin 'https://azure-samples.github.io' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: The value of the 'Access-Control-Allow-Origin' header in the response must not be the wi

[2020-03-24 09:45] DashleenBhandari-MSFT commented on #50683
@tbtmuse , For the customized preset, MES does not trim layers above the input source for now.

For system presets, both AdaptiveStreaming and ContentAwareEncoding make sure that they do not upscale the input video. Also, ContentAwareEncoding could output few layers and lower bitrates than AdaptiveStreaming.
If you have not tried the ContentAwareEncoding system preset yet, please give it a try to

[2020-03-24 09:46] tnlthanzeel opened #50777 "CORS issue"
i have the following in the console of the browser.

Access to XMLHttpRequest at 'http://localhost:7071/api/negotiate' from origin 'https://azure-samples.github.io' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credentials mode is

[2020-03-24 09:49] SudeshSharma commented on #50767
No @PramodValavala-MSFT

[2020-03-24 09:55] tbtmuse commented on #50683
@DashleenBhandari-MSFT thank you for your response. I thought as much. I will give ContentAwareEncoding a look and see how it goes.

Thanks again.

[2020-03-24 09:56] VikasPullagura-MSFT commented on #50460
@stgeorgi and @viswanadham-k Can you please check and help here.

[2020-03-24 09:58] maxiptah opened #50778 "Applying rule on blob level skipping the container"
We have a storage account with hundred of container, separated by access rules (per end user). The internal structure is everywhere the same, e.g.:
container1/config, container1/images
container2/config, container2/images
Is it possible to expire somehow all data in the "config" blobs? E.g. by specifying the path as "*/config" or using some other syntax?

---
#### Document Details

⚠ *Do not edit

[2020-03-24 10:01] PramodValavala-MSFT commented on #50767
@SudeshSharma Please do note that this repository is primarily for addressing doc related feedback.

Unless there is a specific doc that you are referring to for your scenario, it would be best to open a thread on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home), [StackOverflow](https://stackoverflow.com/questions/tagged/azure) or [Azure DevOps Developer Community](https://developercomm

[2020-03-24 10:01] #50767 closed

[2020-03-24 10:04] DashleenBhandari-MSFT commented on #50107
@robcamer We are working on creating a new sample. Meanwhile we ll go ahead and close this issue. In case you need help please let me know.

[2020-03-24 10:05] #50107 closed

[2020-03-24 10:08] msrini-MSFT commented on #50769
@Neelkamal10 , It seems to be more specific to your subscription. I checked and it is not a global issue. Few subset of subscriptions might be affected. Please raise a support request to get this issue sorted out.

[2020-03-24 10:13] hostmatic opened #50779 "Missing Authentication Administrator Role"
May be missing Authentication Administrator Role - Atleast according to Microsoft own Secure Score best practices "Require MFA for administrative roles"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca2fb784-f7e9-6fad-9889-2dc6639bc0e1
* Version Independent ID: 8b90e35e-6918-1073-85f6-ad47786033c6
* Content: [Conditio

[2020-03-24 10:16] benediktlange opened #50780 "Phone and Username attribute"
Hi, I understand only the email attribute is currently available in preview for the write-back scenario. For us, that wouldn´t be helpful, because we have enabled SSO and need to username sync as well. Phone number would be preferred, too. Are there any plans if and when this is going to be available to we can adjust our roll-out plan accordingly?

---
#### Document Details

⚠ *Do not edit this se

[2020-03-24 10:18] Diwakar243 opened #50781 "How can I update an existing certificate in Azure Key Vault"
I have certificate in Azure Key Vault which is expiring soon.
How can I update the existing certificate with a newer one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b55e4f7-8890-adc7-f6c5-28c224c96fe2
* Version Independent ID: 2d6ddf78-3933-895e-fbd0-9f49aeeed8a2
* Content: [Certificate creation methods](https://d

[2020-03-24 10:25] Neelkamal10 commented on #50769
@msrini-MSFT  I already raised a ticket ,but they didnot respond.

[2020-03-24 10:26] DashleenBhandari-MSFT commented on #50683
@tbtmuse Sure let me know if you need help.

[2020-03-24 10:40] msrini-MSFT commented on #50769
@Neelkamal10 , Can you share the SR#?

[2020-03-24 10:48] Neelkamal10 commented on #50769
@msrini-MSFT ,sorry i am not getting you.
would you please make this more clear

[2020-03-24 10:50] msrini-MSFT commented on #50769
@Neelkamal10 , Can you share me the Service ticket number which you have created, so that I can follow up ?

[2020-03-24 10:53] Neelkamal10 commented on #50769
@msrini-MSFT 120032423001215

[2020-03-24 10:56] RohitMungi-MSFT commented on #50775
@dem108 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-24 10:58] msrini-MSFT commented on #50769
@Neelkamal10 , According to the ticket, your quota for DASv4 series has been increased to 21 from 4, in WestUS2 region. If you still face any issues, please reopen the ticket and engage support.

I am closing this issue as GitHub is for documentation enhancement.

[2020-03-24 10:58] #50769 closed

[2020-03-24 11:15] darivuki opened #50782 "Application Insights Continuous Export reliability"
I have been testing the continuous export feature for a couple of days now. What I have found out is that if I send 20 logs to App Insights (in a short period of time), they are available in the Search after a minute or so. Then, slightly after, the continuous export kicks in and exports only a small part of the sent logs. For example, in the blob storage, I only get one blob with 5 logs written t

[2020-03-24 11:59] smoms opened #50783 "How scale the user onboarding process"
Am I correct that in order to protect an API then BOTH client app and API app must be manually registered by some admin in AAD (if I used AAD)? If so, assuming I publish the API on Internet then do I need to create some sort of self-service (wrapper on AAD) to onboard a client app? Isn't this feature provided out of box by the Dev Portal (where developer can register app by its own)? thanks

---
#

[2020-03-24 12:00] gaozedi commented on #38014
Hey i found this might work!
https://cloud.tencent.com/developer/article/1554212
现在新的不需要extension了，直接在设置里的账户里面添加

[2020-03-24 12:07] mkosieradzki opened #50784 "AuditIfNotExists example lacks name"
The example policy for AuditIfNotExists checks if the ResourceGroup containing the VM you are check has a VM that has a proper extension.

It should check if the specific VM has an extension… This example is extremely misleading and trivial to fix.

Just add:
[code]
Of course assuming this is the IaaSAntimalware is the correct extension name

Alternatively add check that extension belongs to prope

[2020-03-24 12:10] mkosieradzki commented on #50784
Nevermind, found the special rule:
`Doesn't apply if type is a resource that would be underneath the if condition resource.`

[2020-03-24 12:10] #50784 closed

[2020-03-24 12:19] JacobTheisen opened #50786 "The value of type parameter type is invalid"
Hi,
when i try to apply a custom script extension to my scale set i get the error Message: "The value of type parameter type is invalid". Do anyone know this error meesage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf54fb22-6522-87f9-e63f-07ecee909abf
* Version Independent ID: 5ec14ed2-693b-e98b-44d3-792d1a44be30

[2020-03-24 12:21] mmacy commented on #29375
Thanks @hpsin and @smoms, closing now. #please-close

[2020-03-24 12:21] #29375 closed

[2020-03-24 12:26] baboune opened #50787 "Requirements on Azure Firewall?"
The above example requires an Azure Firewall to be present for the DNAT part.

We have tried using SLB and UDR without an Azure Firewall and the resulting behaviour is a complete network failure (pods fail to pull, nodes "NotReady") as soon as a single Kubernetes Service manifest requests a "type": "LoadBalancer".  When the LoadBalancer Service is undeployed, the AKS restores itself and all functi

[2020-03-24 12:42] zulf-fire commented on #50716
Many thanks @VikasPullagura-MSFT that did the trick.. Appreciate your prompt reply.
Before closing the case could you please let me know the number of issues we can raise in Github with a Basic plan??

[2020-03-24 12:53] Neelkamal10 commented on #50769
@msrini-MSFT  Would you please suggest me what type of request i generate to resolve my problem?

[2020-03-24 12:53] MonikaReddy-MSFT commented on #50782
@darivuki , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-03-24 13:04] vs268153 commented on #38595
I am also getting the same error while using the API to get a response from Postman, using service principal for the API.
URL: https://docs.microsoft.com/en-us/rest/api/consumption/aggregatedcost/getbymanagementgroup

GET https://management.azure.com/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Consumption/aggregatedcost?api-version=2019-10-01

[2020-03-24 13:07] Willem-J-an opened #50788 "Timer trigger is not supported on shared infrastructure with limited minutes of compute"
Timer trigger does not work properly on shared infrastructure pricing tiers with limited minutes of CPU per day. The app shuts down and therefore the trigger does not work. I would expect this in the documentation here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Indepe

[2020-03-24 13:08] rithinskaria commented on #38595
May I know if you are using a service principal or a user principal token for fetching the data? You can only use a user principal token when the scope is management group or above.

[2020-03-24 13:12] VikasPullagura-MSFT commented on #50716
@zulf-fire Thanks for confirming that the issue is resolved.

For your query around limits to raise feedback on GitHub, there are no limit that is linked to Basic plan. If there are any limits that are imposed from GitHub side that will be applied across everything (I am not sure if any of this limits exists).

[2020-03-24 13:12] #50716 closed

[2020-03-24 13:16] IEvangelist commented on #50343
Hi @sergioalisys,

No worries, happy to help!

It might be a good idea to add a check and retry, or something of that nature -- better error handling and state management. Remember this is just a quick start, not production read code.

As for the public URLs, have a look at how the resources can be managed in terms of access -- [here](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-ma

[2020-03-24 13:16] #50343 closed

[2020-03-24 13:18] vs268153 commented on #38595
I am using service principal

[2020-03-24 13:19] PramodValavala-MSFT commented on #50783
@smoms Generally, the client apps would be registered on their own tenants (or equivalent identity providers). As for your API, you could make it a [multi-tenant application](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant) which can be used by anyone across tenants.

[2020-03-24 13:20] IEvangelist commented on #49992
Hi @JonathanPalmerGD,

I hope all is well. Please help me address your concerns, I had some questions about your feedback - and I'd love for you to clarify a few things. Looking forward to hearing back from you.

[2020-03-24 13:20] smoms opened #50790 "Unable to fetch AAD groups from Microsoft Graph."
I have followed all steps above but when I try to add AAD Group I keep getting failure:
Unable to fetch AAD groups from Microsoft Graph.

I do have Developer tier.
Please advice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692852cd-11a6-1d6b-9540-caec9d0f14a4
* Version Independent ID: 4c376561-6015-6dab-e23e-feffe74c

[2020-03-24 13:21] PramodValavala-MSFT commented on #50788
@Willem-J-an Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-03-24 13:24] KrishnaG-MSFT commented on #50784
@mkosieradzki Glad to know that you have self resolved and hence closed the issue. Thanks for the update. :+1:

[2020-03-24 13:24] rithinskaria commented on #38595
Please use a user principal token in the Auth header and you will be able to retrieve the information.

[2020-03-24 13:26] vs268153 commented on #38595
I have used Bearer token for auth

[2020-03-24 13:29] smoms commented on #50783
@PramodValavala-MSFT ok thanks I understand your point. But still my obseravtion looks valid i.e. app must be registered in AAD, right?

[2020-03-24 13:29] rithinskaria commented on #38595
Yes, so the bearer token that is being used now is the one generated using the client id and credentials of the service principal, which will not work.

In order for this to work you have to use the token which is created in the user context. I have a added PS script in this thread by which you can use the token from the token context, which can be further used by the API.

[2020-03-24 13:30] vs268153 commented on #38595
I have also used other API, with the same bearer token and they are working fine but while trying to get the Aggregated cost of multiple subscriptions using the management group Id then this API is not working.

[2020-03-24 13:32] shashishailaj commented on #50777
@tnlthanzeel Could you please share the article you are following ?

[2020-03-24 13:33] shashishailaj commented on #50776
@tnlthanzeel Could you please share the article you are following so that we can help you further ?

[2020-03-24 13:33] petteremil commented on #50711
hmm, after having verbalized this, and after sleeping on it I can sort of see that listing all the keyvaults probably would be access on the resource group level? and not on the keyvault scope..
If I'm not mistaken of course, I think what may have confused me is that the app trying to list the keyvaults is in the same resource group as the vaults, so in my rationalization this meant it didn't need

[2020-03-24 13:33] rithinskaria commented on #38595
Prem has already shared the answer for this: We cannot use an AAD App or any non-user context for making these calls. It has to be an user account used to get these API call successful.

Other APIs will work for these APIs you cannot user the SP’s token.

Please let me know if you are able to fetch the data using the token generated using a user principal.

[2020-03-24 13:34] shashishailaj commented on #50764
@sergiosolorzano Thank you for your query . We will investigate and update the thread further.

[2020-03-24 13:35] shashishailaj commented on #50768
@Niclas1976 Thank you for your feedback . We will investigate and update this thread

[2020-03-24 13:37] shashishailaj commented on #50763
@abatishchev Thank you for your feedback . We will review this and update the thread.

[2020-03-24 13:38] anwarmahmood1 opened #50791 "when you use cloud-based Azure Multi-Factor Authentication, there is no alternative to the IIS plugin provided by Azure Multi-Factor Authentication (MFA) Server"
I opened incident 120012924001237 with Microsoft and nothing direct was offered.

Please enrich the documentation with something like...

When you use cloud-based Azure Multi-Factor Authentication, there is no alternative to the IIS plugin provided by Azure Multi-Factor Authentication (MFA) Server, instead, use
 - Web Application Proxy (WAP) with Active Directory Federation Services (AD FS)
 - Azu

[2020-03-24 13:38] gimlichael commented on #41107
I have struggled with Azure Container Instances and Service Principals (both System- and User Assigned Identities).

Turns out, as a last resort, that i followed @LouisDK suggestion with adding a sleep before adding the KeyVault configuration.

Before adding a sleep of for now 30 sec., I kept receiving these messages that indicates that MSI is not running (either by using default implementation, w

[2020-03-24 13:38] MikkelHegn commented on #50469
@peterpogorski

[2020-03-24 13:38] shashishailaj commented on #50780
@benediktlange Thank you for your feedback . We will investigate and update the thread further.

[2020-03-24 13:40] shashishailaj commented on #50779
@hostmatic Thank you for your feedback.  We will have this reviewed and update the thread accordingly.

[2020-03-24 13:47] AshokPeddakotla-MSFT commented on #50473
There are no issues with the sample.
@farah-alyasari Do you have any other suggestions to this issue?

[2020-03-24 13:58] linusjody opened #50794 "Teams Desktop Client"
We have tried this on numerous web app through application proxy and we always see the same problem in the desktop client. The page displays "Trying to sign you in" and fails. Users can then manually login and everything works fine, but it's not a great experience. Using the Teams Web App, everything works fine, but a new tab opens and the client authenticates using the session cookie.

---
#### D

[2020-03-24 13:59] NavtejSaini-MSFT commented on #50389
@deborahc Please review and take a decision on the PR raised.

[2020-03-24 14:00] GuyPaddock opened #50795 "Diagrams only visible in "light mode""
If you enable dark mode, the text in the diagrams on this page can't be read.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a236d52-de87-bd3f-89b4-eb171a0592b9
* Version Independent ID: 8d4b8598-6764-d7f6-11c1-9e0052735797
* Content: [Azure AD Connect sync: Understanding the architecture - Azure](https://docs.microso

[2020-03-24 14:01] PramodValavala-MSFT commented on #50783
@smoms Yes. That is correct. This is similar to how Microsoft services like Microsoft Graph are exposed across tenants.

[2020-03-24 14:03] smoms commented on #50783
thanks - please close it.

[2020-03-24 14:08] #50783 closed

[2020-03-24 14:09] PramodValavala-MSFT commented on #50783
@smoms Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-24 14:13] tnlthanzeel commented on #50776
im sorry, it was my fault. the article has a fix for CORS issues

[2020-03-24 14:13] #50776 closed

[2020-03-24 14:13] tnlthanzeel commented on #50777
the article has a fix for CORS issue, i skipped it. sorry

[2020-03-24 14:13] #50777 closed

[2020-03-24 14:18] paulehr commented on #48128
I ran into the same issue and i have an SR open on it right now. If you delete the extension after the VM is deployed and re-install via azure cli/powershell it works after that. I am hoping support can assist with this as we shouldn't have to do that

[2020-03-24 14:22] tamram commented on #50657
That should work too!

[2020-03-24 14:26] kuulemart opened #50796 "Latency data"
Is it possible to get latency data used to generate the latency image as machine readable format? Even the same tabel as excel file would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network

[2020-03-24 14:34] jakaruna-MSFT commented on #50469
@peterpogorski If thats a big change to the doc, Please have a work item and close the issue

[2020-03-24 14:40] samhabaneh commented on #33674
Getting same error, canada central. Tried multiple times.

[2020-03-24 14:49] mnmr opened #50797 "Missing link"
This page should link to https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cosmos-db/unique-keys.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f928ddcf-4a56-4e7b-4ac4-bc897975dbef
* Version Independent ID: 4854ec57-dd3f-f894-10c2-b1ce5ea21fa1
* Content: [Define unique keys for an Azure Cosmos contain

[2020-03-24 14:54] V-vafune opened #50798 "Unattended Installation"
@marcelkmfst commented on [Tue Mar 24 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/636)

It is possible to perform unattended installation of the client by using ESD solutions like intune by importing the config file over the command line:

azurevpn -i azurevpnconfig.xml

Note:
You will have to ensure that the XML is in the “C:\Users\%username%\AppData\Local\Packages\Microsoft.Az

[2020-03-24 14:57] V-vafune commented on #50798
Hi Team,

The user is requesting to add some information to the documentation. Could you please check?
Kind regards,
Microsoft DOCS International Team

[2020-03-24 15:00] shashishailaj commented on #50772
@magne Thank you for your feedback . We will have this reviewed and update the thread.

[2020-03-24 15:07] YutongTie-MSFT commented on #50348
@Unders0n
Thanks for reaching out to us. Since this repo is for document question only, please open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureCognitiveService) as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenario based on their experience. Thanks.

We will

[2020-03-24 15:07] #50348 closed

[2020-03-24 15:08] EmmanVazz commented on #49997
I couldn't figure this issue out but I just implemented authentication via OpenID Connect for Azure B2C. It is documented here https://docs.microsoft.com/en-us/azure/active-directory-b2c/openid-connect#validate-the-id-token

[2020-03-24 15:09] YutongTie-MSFT commented on #50392
@eseezeni
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-03-24 15:09] #50392 closed

[2020-03-24 15:11] roygara commented on #50663
Hello @eakarat1141 , would you clarify your request? The article already has a diagram in it. What are you looking for a diagram of?

Ex: Workflow diagram- https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable#workflow-overview

[2020-03-24 15:12] shashishailaj commented on #50372
@Pikhulya At this point there is limited documentation available on this tool. The getting started guide talks about [building the threat model](https://docs.microsoft.com/en-us/azure/security/develop/threat-modeling-tool-getting-started#building-a-model) and we have some threat models on the [TMT github template repo](https://github.com/microsoft/threat-modeling-templates) and [Azure Architecture

[2020-03-24 15:12] #50372 closed

[2020-03-24 15:16] yelevin commented on #50336
John, the new version is live, so you can go take a look.  In the meantime I'll close this issue.

[2020-03-24 15:16] #50336 closed

[2020-03-24 15:18] SumanthMarigowda-MSFT commented on #50778
@maxiptah Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-24 15:18] SumanthMarigowda-MSFT commented on #50773
@jjindrich Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-24 15:21] GuyPaddock commented on #17523
This is still not addressed.

[2020-03-24 15:22] GuyPaddock commented on #23942
This has not yet been addressed, and it looks like a dupe of https://github.com/MicrosoftDocs/azure-docs/issues/17523.

[2020-03-24 15:23] shashishailaj commented on #50781
@Diwakar243 Thank you for your feedback . We will investigate and update this thread further.

[2020-03-24 15:38] iampeterdaniels commented on #40696
I would like to see the trim function docs updated with this info.  I would expect trim, that "removes whitespace" to trim CRs and LFs as well as tabs anmd spaces.

[2020-03-24 15:39] stephbaron commented on #50759
Thanks for the feedback, this was a recent feature update to make 30 days of history available. I've submitted a change to the documentation to reflect this and it should be updated by the end of the week.

[2020-03-24 15:42] Dolvaran commented on #50564
Yes – it works now, thanks.

Best regards,

John

John D. Peedle
+44 (0)7973 56 01 67
john@peedle.org.uk<mailto:john@peedle.org.uk>

From: TravisCragg-MSFT <notifications@github.com>
Sent: 20 March 2020 23:27
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: John D. Peedle <john@peedle.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Rewrite HTTP

[2020-03-24 15:44] Nasherx opened #50799 "Microsoft Edge Addon"
The Microsoft Edge Addon link uses legacy edge instead of Chromium Edge (Edgium)

"Microsoft Edge From the Microsoft Store, go to the My Apps Secure Sign-in Extension feature, and then select Get."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40b408ce-fede-ac0a-c72f-40cc02e92889
* Version Independent ID: 11a28662-f37

[2020-03-24 15:45] GarrettGeorge commented on #50750
@jakaruna-MSFT I was running the query is the logs for the resource group instead of the LogAnalytics workspace. The base query runs as expected when I run it under the workspace. Thanks!

[2020-03-24 15:45] #50750 closed

[2020-03-24 15:45] jlorek commented on #49245
@JennyLawrance - Yes, you can access the app. But the underlying WebSocket connection cannot be established, because of a 503 error. To see this error, just open your browsers DevTools. Using Blazor there is a fallback mode implemented, when no WebSocket connection can be established. When not using Blazor and relying on WebSockets, your whole app may be broken due to this error.

@classifieds-dev

[2020-03-24 15:46] SaurabhSharma-MSFT commented on #50791
@anwarmahmood1 Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-24 15:48] townendk commented on #50422
Did you guys manage to talk about this? I'm tied up this week (with WVD deployments funnily enough) but I should hopefully have time for a meeting later in the week

[2020-03-24 15:49] PramodValavala-MSFT commented on #50774
@Alexp2019  Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-24 15:50] roygara commented on #50437
@CeciAc Thanks for bringing this to our attention. There was no problem with the source, it was an issue with the translation. We reached out to the loc team and they made the necessary adjustments.

Accordingly, I'm closing this out. Thanks again!

#please-close

[2020-03-24 15:50] #50437 closed

[2020-03-24 15:52] hpsin commented on #43704
We have an active work item open with the sign in logs to correctly mark the "errors" as interrupts that are expected to be seen within the log in flow.  You can assign this one to me @rwike77 / @neeleshray-msft

[2020-03-24 15:52] rolyon commented on #50264
Hi @HughDevlin
I plan to close this feedback for now, but please re-open if you have additional feedback.
thanks

[2020-03-24 15:52] rolyon commented on #50264
#please-close

[2020-03-24 15:52] #50264 closed

[2020-03-24 15:53] SaurabhSharma-MSFT commented on #50799
@Nasherx Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-24 15:54] smoms opened #50800 "Why is SUbscription a security mechanism?"
I do not get the point what is Subscription. A Subscription neither authenticates nor authorizes an user. So why is part of security? How is it positioned with respect to mechanism of protection of API through OAuth2 wih AAD? thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9b18e22-18d0-f82d-cbd0-e9ca300ee655
* V

[2020-03-24 15:54] SaurabhSharma-MSFT commented on #50794
@linusjody Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-24 15:58] vlado101 commented on #50397
@himanshu-mishra I have sent over the email with the DDLs. Working on getting the additional info requested.

[2020-03-24 15:58] Craigmeister68 opened #50802 "Weird Link in Next Steps"
How to restore data from an Azure Cosmos account in Next Steps points to restore document for /synapse-analytics/sql-data-warehouse.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 887a7740-51a1-80b6-5d0f-704621ad50c7
* Version Independent ID: 642c593f-9563-cd62-e23f-a47bb6e3e421
* Content: [Online backup and on-demand

[2020-03-24 15:59] JohnDelisle commented on #16691
@j03INTHECLOUD  and @timrnd  - Specifically, are you enabling "client certificate authentication" on the Azure App Service?  This is what triggers the incompatibility.  The TM probes do not present a client cert, and as a result fail their health checks.

[2020-03-24 16:00] farah-alyasari commented on #50473
Hi @StephaneD62,

Thank you for the screenshots. Could you please let me know what `Content-Type` are using in the headers?

[2020-03-24 16:00] VikasPullagura-MSFT commented on #50675
@michaelsync Doc author is working on updating the docs for Image Builder and include a few more PowerShell examples.
Till the doc are updated as it may take little more time, requesting you to check this [link](https://github.com/danielsollondon/azvmimagebuilder)  the “quickstarts” section should have more PowerShell examples.

[2020-03-24 16:02] mapoitras opened #50803 "Using APIM and FrontDoor."
Would it be possible to update this documentation using an API Gateway and FrontDoor, including scenarios for both internal (Use LB or App Gateway) and external APIM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-44c2-bd07-4c74-9d4c77c45e6e
* Version Independent ID: 281ce98c-115b-3c39-52b7-3df95dfd8b52
* Cont

[2020-03-24 16:03] farah-alyasari commented on #50473
The header must be specified with the Content-Type key  must set to application/json

could you please try that and let me know?

[2020-03-24 16:04] Mike-Ubezzi-MSFT commented on #50389
@SnehaGunda for awareness.

[2020-03-24 16:04] dlgoodr commented on #27312
But what's the solution? This is the only hit on the Internet for the error "Failed to validate this policy assignment artifact against the policy or policy set definition"

[2020-03-24 16:08] SaurabhSharma-MSFT commented on #50586
@VWFeature The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-03-24 16:08] #50586 closed

[2020-03-24 16:11] SaurabhSharma-MSFT commented on #48190
@splummer Apologies for the delay.. We are currently working internally with the product team on this issue and update you as soon as hear back from the team.

[2020-03-24 16:20] 3vi1 commented on #50575
Fixed by re-installing Az.Resource -AllowClobber -Force.

[2020-03-24 16:20] #50575 closed

[2020-03-24 16:22] SaurabhSharma-MSFT commented on #50311
@ChrisSommers Apologies for delay.  I am looking into this and update you with my findings.

[2020-03-24 16:24] Peter-B- commented on #16997
Yes. I created a new 3.6 CosmosDb, ingested some data and tried an aggregation with group by. The issue is still there.

[2020-03-24 16:25] softchris commented on #50526
Thank you for highlighting that text @lisaguthrie . I do think there is a need to capture the error and print out in the console that there is something wrong with the env variable. I think we should try to avoid a crash screen like the above if we can... So it might need a code change to capture the exception that happens. What do you think?

[2020-03-24 16:32] ThomasWeiss commented on #50797
@mnmr Thanks for your feedback. The link is in the very first paragraph of this page.

[2020-03-24 16:32] ali-elgabri commented on #50740
Thank you @PramodValavala-MSFT! Appreciate the support :)

[2020-03-24 16:33] DixitArora-MSFT commented on #50800
Hi @smoms Thanks for reaching out. We will review and update as appropriate.

[2020-03-24 16:40] asudbring commented on #50724
Yes, this is intentional to highlight the load balancer resource in the template.

#please-close

[2020-03-24 16:40] #50724 closed

[2020-03-24 16:40] SnehaGunda commented on #43088
@markjbrown do you think we should close this issue here and track it via email for any doc updates?

[2020-03-24 16:43] yoelhor commented on #50727
Thanks for the feedback. After you click on the run, make sure to remove the `&prompt=login` query string parameter. For example : https://your-tenant.b2clogin.com/your-tenant.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1A_signup_signin&client_id=0239a9cc-309c-4d41-87f1-31288feb2e82&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fjwt.ms&scope=openid&response_type=id_token&prompt=login

[2020-03-24 16:44] AshokPeddakotla-MSFT commented on #50735
Created the PR and changes will go live once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-24 16:44] #50735 closed

[2020-03-24 16:45] asudbring commented on #50325
Article has been updated with Preview and GA information.

#please-close

[2020-03-24 16:45] #50325 closed

[2020-03-24 16:46] #50550 closed

[2020-03-24 16:47] smoms commented on #50790
I've followed this issue:
https://github.com/MicrosoftDocs/azure-docs/issues/36939
and using "Azure Active Directory Graph" right at the bottom of the Add Permission screen and not the "Microsoft Graph" solves! Can you explain why? Also, you have "big" bug in the doc which makes lot of time wasted. thanks.

[2020-03-24 16:49] ketan-chawda-msft commented on #50803
@mapoitras Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-24 16:51] SaurabhSharma-MSFT commented on #50581
@kelemvor33 can you please share the screenshot over email to azcommunity[at]microsoft[dot]com with link to this issue and subscription id.

[2020-03-24 16:55] AshokPeddakotla-MSFT commented on #50497
@LouanDuToitS3 Does that answers your question? Do let us know if you need further help.

[2020-03-24 17:05] darshats opened #50808 "Evaluate works or not for item recommendations?"
Hello:
On this topic, the Score SVD Recommender page mentions that Evaluate Recommender will not work with Item Recommendations option. On this page it is mentioned that the column order/names should be correct for it to work. So does it work or not work?
In my experiment connecting output of Score Recommender to Evaluate Recommender gave an error.

---
#### Document Details

⚠ *Do not edit this s

[2020-03-24 17:17] mblanco77 opened #50809 "Private DNS zone integration"
Its worth mentioning that if you create the app service and private link integration via the "create private link endpoint" , it gives the option to create a private dns zone (privatelink.azurewebsites.net).
To update the "you need to manually manage the DNS entry" . or make the the dns integration consistent no matter which creation path you take

---
#### Document Details

⚠ *Do not edit this se

[2020-03-24 17:17] stgeorgi commented on #50460
I have see this behavior. After installing the app the user needs to open the link of the management portal in private window and make sure a prompt for consent is displayed if that prompt is not displayed the app will not work.

[2020-03-24 17:30] SamaraSoucy-MSFT commented on #50394
@tkumark
 I am closing this thread due to lack of response. If you have any follow up questions you can tag me in the comment.

This repo is specifically for issues with the documentation. In the future I suggest you post product questions to the forums, like MSDN or Stack Overflow, where both the community and employees are willing to help you.

[2020-03-24 17:30] #50394 closed

[2020-03-24 17:31] Ericgre commented on #50809
Thank you for the feedback.
As I said this limitation is only during the preview 1, with preview 2 we will integrate the private DNS zone. Behaviour will be consistant between Web App private endpoint creation and network Private Endpoint creation.

[2020-03-24 17:32] SnehaGunda commented on #50802
@Craigmeister68 Thanks for pointing out, the above PR fixes the link. Updates will be live later today. We will now close this issue.

#please-close

[2020-03-24 17:33] #50802 closed

[2020-03-24 17:33] SnehaGunda commented on #49488
@anfeldma-ms Thanks for sharing the example, did you had a chance to update the doc?

[2020-03-24 17:35] KranthiPakala-MSFT commented on #50395
@linda33wj Could you please have a look at the request from @Siby22071989? - Thanks.

[2020-03-24 17:38] NavtejSaini-MSFT commented on #50567
@LuisBosquez Please check the feedback from user and help here regarding the same.

[2020-03-24 17:38] rozpalacz commented on #28317
Any progress on
**Adding sub to /me is a great idea - I'll suggest it internally. CC @dkershaw10**

?

[2020-03-24 17:38] rwike77 commented on #43704
Thanks @hpsin.  #reassign:@hpsin

[2020-03-24 17:39] NavtejSaini-MSFT commented on #50552
@rhuanbarreto Please verify if you were able to check the above or not.

[2020-03-24 17:40] bwren commented on #50206
Content has been updated.  No longer listed as GA anymore,.

#please-close

[2020-03-24 17:40] #50206 closed

[2020-03-24 17:40] NavtejSaini-MSFT commented on #50571
@fleed Were you able to check these documents and have any questions.

[2020-03-24 17:41] kutsyk-neocles commented on #30918
Why the issue without fixing documentation?
https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references
Documentation still doesn't contain the explanation about Id variable.
Is it a new style to get the results report, closing issues without fixing real problems?

[2020-03-24 17:41] vladvino commented on #50554
@mikebudzynski please take a look.

[2020-03-24 17:43] NavtejSaini-MSFT commented on #50560
@Houuse PLease convey if you had a chance to look at these documents or need further help.

[2020-03-24 17:44] g-dx opened #50810 "/oidc/userinfo endpoint is not explained in the Graph API docs"
The [OpenID Connect Metadata Document](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#fetch-the-openid-connect-metadata-document) for Azure AD app registrations declare that https://graph.microsoft.com/oidc/userinfo is the user info endpoint. However the Graph API documentation does not explain this endpoint at all or what operations are available upon it.

I wou

[2020-03-24 17:46] hpsin commented on #50810
Hey @g-dx - are you looking to get the `sub` claim for multiple apps? That likely won't be possible - we do not allow app A to see what the sub claim for a user is if they were to sign into app B.

[2020-03-24 17:46] hpsin commented on #28317
Not at this time I'm afraid.

[2020-03-24 17:55] KranthiPakala-MSFT commented on #50583
@valotee We will now proceed to close this thread as we have not heard back from you. In case if you have found a resolution yourself, please feel free to share it here, as it would be helpful for others reading this conversation.

If you still need assistance regarding this matter, please do share few additional information, and  tag me in your reply and reopen the issue. We will gladly continue

[2020-03-24 17:55] #50583 closed

[2020-03-24 17:56] djpmsft commented on #26752
Hi all,

Apologies for the delay in response from the product group and I appreciate you all voicing your concerns. While this article is in the process of being updated, I wanted to touch on some of the points discussed here.

Automating ADF release pipelines: Manual exporting/importing of json ARM templates is not required nor is it recommended when deploying between different ADF environments.

[2020-03-24 17:56] djpmsft commented on #26752
#please-close

[2020-03-24 17:56] #26752 closed

[2020-03-24 17:57] g-dx commented on #50810
@hpsin - Thanks for your quick reply!

I’m an Azure AD administrator & I need to configure an app with OIDC authentication for my users. To do this the app needs to know, up front, the `sub` & email addresses of the users who are going to sign in to it. As an admin I need to provide this information to the app vendor.

[2020-03-24 17:59] g-dx commented on #50810
Does the `sub` claim vary from _app to app_ in Azure AD? That is, only consistently represents the same user for a single app registration?

[2020-03-24 18:00] efeaimnewman opened #50811 "Raspberry pi"
I cant understand if there is a way to use this sdk on a raspberry pi 3 with .net core (I dont care if it is raspian windows IoT or ubuntu)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae7ff6-5557-221f-7539-5d2d1883127d
* Version Independent ID: 4b868e15-0248-635c-aa2f-d591bbc77d65
* Content: [About the Speech SDK

[2020-03-24 18:01] hpsin commented on #50810
Yup - AAD uses a pairwise claim (hash(userID, tenant, appid)), rather than a consistent claim across apps.  We use the "oid" claim for this, which remains the same across apps.

[2020-03-24 18:06] g-dx commented on #50810
@hpsin - again, thanks for your reply. Two other questions:

1. Is what I’ve outlined here actually possible: https://github.com/MicrosoftDocs/azure-docs/issues/50810#issuecomment-603410472
2. Given the “pairwise claim” you outlined in your last comment, does that mean that the requests in issue #28317 to add the `sub` claim to the `/me` endpoint are not possible?

[2020-03-24 18:13] MarileeTurscak-MSFT commented on #50712
Looks like @yoelhor has updated the document with this information, including where to store the performance statistics. The changes should go live in 24 hours https://github.com/MicrosoftDocs/azure-docs-pr/pull/108833

[2020-03-24 18:13] #50712 closed

[2020-03-24 18:13] memildin commented on #49671
The article has now been updated to include info about the ARG export. Thanks for the feedback!
#please-close

[2020-03-24 18:13] #49671 closed

[2020-03-24 18:14] memildin commented on #48753
The article has now been updated to include info about the required permissions.

See https://docs.microsoft.com/en-us/azure/security-center/built-in-vulnerability-assessment#what-permissions-are-required-to-install-the-qualys-extension

Thanks for the feedback!

#please-close

[2020-03-24 18:14] #48753 closed

[2020-03-24 18:15] #44714 closed

[2020-03-24 18:25] JonathanPalmerGD commented on #49992
Howdy, sorry, this is my home account which I don't log into as much.

I view it would be helpful to have a concepts page that digs into what events occur and when.
I only learned a specific detail, that if I maintained a local variable that observed the session start/stop, I could avoid double listening. I only learned that after I re-downloaded a sample confused about the events. I can easily im

[2020-03-24 18:37] KranthiPakala-MSFT commented on #50662
@pacific202 Thanks for the feedback. We have assigned this issue to content author, @djpmsft to further review the feedback and provide an update as appropriate.

@djpmsft Could you please have a look at the above feedback? - Thanks.

[2020-03-24 18:39] JuanKRuiz opened #50814 "Dark mode"
The page is not ready for dark mode, transparency into the pngs is not helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: add3636d-1287-4879-1c87-13a90cd8321b
* Version Independent ID: f9a7290e-9118-af3c-25f6-4b57a8be99e8
* Content: [Azure Cosmos DB bulk executor library overview](https://docs.microsoft.com/en-us/

[2020-03-24 18:40] pacific202 commented on #50662
Jay Gong gave me a workaround on StackOverflow:

https://stackoverflow.com/questions/60795937/how-to-increment-a-parameter-in-an-azure-data-factory-until-activity/60807124#60807124

Note that you can't directly increment a variable, you have to use two separate variables and use one to increment the other then copy the value back over.  That's probably a separate issue, although it should definite

[2020-03-24 18:41] SnehaGunda commented on #50567
@dArignac Gremlin API supports V2 as mentioned in the doc, can you point out where the format didn't match.

The emulator can be used with Gremlin API as well, there is a specific option you would use to enable. Here is more info on it: https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#gremlin-api

[2020-03-24 18:47] SumanthMarigowda-MSFT commented on #50483
@MaxHegel  I was able create a VM using the script as mentioned in the article
![image](https://user-images.githubusercontent.com/44606021/77464891-de46ff80-6e2d-11ea-9518-0ef42c651805.png)

If you still find any difficulties
I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation.

[2020-03-24 18:47] #50483 closed

[2020-03-24 18:48] BharathNimmala-MSFT commented on #50759
@stephbaron Thank you for helping to update the document.

@alexchen2016 Thanks again for bringing this to our notice, based on above update from @stephbaron the changes would go live by end of the week. We will go ahead and close the issue for now however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thank you

[2020-03-24 18:48] #50759 closed

[2020-03-24 18:49] SumanthMarigowda-MSFT commented on #50490
@jmorcar
I'd recommend posting your question in hhttps://azure.microsoft.com/en-in/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-24 18:50] SumanthMarigowda-MSFT commented on #50555
@jflieben We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-24 18:50] #50555 closed

[2020-03-24 18:51] jknightly opened #50815 "Fast Path is available for non ER Direct circuits as well"
Pls strike the line saying ER direct is a requirement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc3df950-cbe6-9514-8768-1614312ab0c3
* Version Independent ID: a40c4a7f-2c61-4fa4-fafe-1eaa67e794fe
* Content: [ExpressRoute: Link a VNet to a circuit: Azure PowerShell](https://docs.microsoft.com/en-us/azure/expressro

[2020-03-24 18:52] SnehaGunda commented on #50389
@RFlintstone Thanks for pointing out the issues in the doc, I submitted the above PR to match the code with GitHub. Changes should be live later today. We will now close this issue.

#please-close

[2020-03-24 18:52] #50389 closed

[2020-03-24 18:52] SumanthMarigowda-MSFT commented on #50596
@xantari ! Firstly, apologies for the delay in responding here!

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-24 18:59] SnehaGunda commented on #50797
Closing this issue as the link already exists.

#please-close

[2020-03-24 18:59] #50797 closed

[2020-03-24 19:02] jflieben commented on #50555
@SumanthMarigowda-MSFT how is this closed? The question wasn't even remotely answered: which exact regions currently support azure files active directory auth?

[2020-03-24 19:04] SnehaGunda commented on #50814
@JuanKRuiz Thanks for pointing out, I submitted a PR to fix the image. Changes will be live later today.  We will now close this issue.

#please-close

[2020-03-24 19:04] #50814 closed

[2020-03-24 19:07] tfitzmac commented on #50746
@RaphaelFrancisco - I ran a test where I applied a read-only lock to a storage account. For a while, I was able to see the access keys through the portal; however, eventually it was blocked. I have attached an image of what I see in the portal. If you are still able to see the access keys despite a read-only lock, I would guess there is some other factor involved that would require help from suppo

[2020-03-24 19:08] tfitzmac commented on #50746
#please-close

[2020-03-24 19:08] #50746 closed

[2020-03-24 19:12] TravisCragg-MSFT commented on #50796
@kuulemart Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-24 19:14] TravisCragg-MSFT commented on #50798
@V-vafune Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-24 19:17] arunsingh2009 opened #50817 "Telegraf agent running on premises linux vm send metrics to azure monitor"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

How my telegraf agent running on premises linux vm will send metrics to azure monitor.

## Creating an issue

We prefer that you create documentation feedback issues using

[2020-03-24 19:17] RaphaelFrancisco commented on #50746
@tfitzmac - Yes, you are right. It looks like it takes some time for the lock to be put in place. Today I could no longer view my keys, as my access was blocked (like in your case). Anyways, thanks for investigating and sharing your findings.

[2020-03-24 19:19] tfitzmac commented on #49986
I have submitted an update to remove that text. It should get published this afternoon. Thanks again for this feedback.

[2020-03-24 19:19] tfitzmac commented on #49986
#please-close

[2020-03-24 19:19] #49986 closed

[2020-03-24 19:24] elhorton opened #50818 "Docker issues using WSL"
Hi Edge docs team, I wanted to bring an issue to your attention when it comes to setting up the dev environment. My coworker and I experienced the same issue independently when completing this tutorial. We both followed the linked instructions to install Docker CE on Ubuntu as we develop in VS code for WSL-Ubuntu. However, in both cases, we corrupted our Docker environments and docker would not ru

[2020-03-24 19:26] dc995 opened #50819 "Dark Theme picture unreadable"
Note dark blue color font doesnt show well on black.

![streamiotpic](https://user-images.githubusercontent.com/2014485/77468160-a024ee00-6de3-11ea-8dff-a5ebf2532e75.jpg)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c49da09-47e7-6df5-4d36-c952bd8bb997
* Version Independent ID: de8550cd-9c3d-6795-4242-b0f3d909796c
*

[2020-03-24 19:26] anilpras commented on #50375
This is what can be used to achieve resiliency and failover.

https://github.com/microsoft/spring-cloud-azure/blob/master/spring-cloud-azure-starters/spring-cloud-starter-azure-appconfiguration-config/README.md#load-from-multiple-configuration-stores

spring.cloud.azure.appconfiguration.cache-expiration = 10000
spring.cloud.azure.appconfiguration.stores[0].connection-string=[first-store-connection

[2020-03-24 19:28] TravisCragg-MSFT commented on #50815
@jknightly Thanks for the feedback! I have removed the incorrect requirement that Fast Path requires ER Direct, and the docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-24 19:28] #50815 closed

[2020-03-24 19:35] santiagxf opened #50820 "Sample condition is wrong"
In the shown example, the expression "@pipeline().parameters.routeSelection == 1" won't validate. The correct expression for this is "@equals(pipeline().parameters.routeSelection,1). "==" is not a valid operator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d678cb66-3b9e-3ade-fe25-15957b6b2537
* Version Independent I

[2020-03-24 19:37] BharathNimmala-MSFT commented on #50502
@fallmake Thank you for bringing this to our notice and you are right that the Set-OMSGatewayRelayProxy command does expects the password parameter to be secure string. If not passed you should see the below error.

![OMSGateway](https://user-images.githubusercontent.com/45180002/77469217-f8e88c80-6dcb-11ea-84d2-37c6308e2957.png)

Will update the document to reflect the required parameters. Thank

[2020-03-24 19:45] Mike-Ubezzi-MSFT commented on #16997
@diego-palla Can you please provide the support request ID that was issued to request this upgrade and @Peter-B-, can you send me your subscription ID. Please send this to [AzCommunity](mailto:azcommunity@microsoft.com) and I will let the product group know this is occurring. Thank you for bringing this to my attention.

[2020-03-24 19:52] rangerlynch7 opened #50822 "Finalize Registration - Documentation incorrect"
Under the "Register the replication appliance" section, the last step is Finalize Registration. As per the documentation, this has to be done on the FQDN/IP Dashboard whereas the setting is to be done in the Azure portal under the Discover section of the Migration tool. Please review and update the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-03-24 19:56] DavidTrigano commented on #48474
@langstonj @Mike-Ubezzi-MSFT I wanted to let you know that we are working on updating this document according to your feedback. Many thanks again for your time.

#please-close

[2020-03-24 19:56] #48474 closed

[2020-03-24 20:00] Ruqia91 commented on #49986
Thanks much Tom.

Regards,
Ruqia Maihveen

Microsoft Azure Technical Support
Customer Service and Support
Office: +1 425 706 0052
v-fnru@microsoft.com<mailto:v-fnru@microsoft.com>
Working hours: Mon – Fri : 7:00 am - 4:00 pm PDT

If you need to assistance outside of my working hours, please send email to azurebu@microsoft.com<mailto:azurebu@microsoft.com> with your case number, and availability.
W

[2020-03-24 20:05] TravisCragg-MSFT commented on #50420
@jarthu3 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-24 20:05] #50420 closed

[2020-03-24 20:21] KranthiPakala-MSFT commented on #50820
@santiagxf Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-03-24 20:21] selvasingh commented on #37494
@JasonFreeberg - request you to help

[2020-03-24 20:23] mhopkins-msft commented on #50596
@xantari I appreciate your feedback. Unfortunately, information on Microsoft.Extensions.Azure and  dependency injection is beyond the scope of this quickstart article.

Thanks,
 ~ *Mark*

#please-close

[2020-03-24 20:23] #50596 closed

[2020-03-24 20:25] tfitzmac commented on #50440
Thanks for this feedback. I have submitted an update to include the management group limits. It should get published this afternoon.

[2020-03-24 20:26] tfitzmac commented on #50440
#please-close

[2020-03-24 20:26] #50440 closed

[2020-03-24 20:29] Karishma-Tiwari-MSFT commented on #50786
You could be seeing this issue because of this open issue on Azure CLI repo: https://github.com/Azure/azure-cli/issues/12594
Please check and let me know.
A PR has been created for CLI issue which should resolve the error you are seeing.

[2020-03-24 20:30] kha-dev opened #50825 "QnA Markdown formating doesn't work in teams when using follow-up prompt"
Markdown formatings with follow-up prompts are displayed correct in QnA Test, Emulator, WebChat.

In Teams **not**.

Please fix this.

I use the sample template "49.qnamaker-all-features".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f6b983-0c19-6439-78df-ea7bdab3f94e
* Version Independent ID: 15dc8197-fed8-a94f-41

[2020-03-24 20:33] mumian commented on #50399
@amergey - can you share the API version?

[2020-03-24 20:33] wesmc7777 commented on #50717
Rough ETA for this localization update from the localization team is early to mid-April

[2020-03-24 20:34] TravisCragg-MSFT commented on #50729
@AjKundnani Thanks for the info! I wanted to be sure before we continued. AGIC is configured using the Kubernetes Ingress resource, so there should be no differences of public vs private.

Your error message leads to the fact that the ingress controller cannot find the listed objects in your Azure Subscription. This typically has 2 causes:

1) the objects do not exist
      - This is unlikely, and

[2020-03-24 20:42] #50820 closed

[2020-03-24 20:43] KranthiPakala-MSFT commented on #50820
@santiagxf  The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you.

[2020-03-24 20:47] ishmeet177 opened #50826 "Missing linebreak character"
Missing "`" character at the end of line "-SKU Standard" under section "To create a zonal Public IP address in zone 1".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30e19c8e-92ab-9a24-bab0-ff9a80be273a
* Version Independent ID: 22648c1a-de26-6cf3-adea-e3dbca9b4c7b
* Content: [Quickstart: Create a Load Balancer - Azur

[2020-03-24 20:50] eakarat1141 commented on #50663
@roygara I mean solution Architecture.  About this .To make it easier to understand how to use the azure service
https://docs.microsoft.com/bs-latn-ba/azure/architecture/reference-architectures/identity/adds-extend-domain.

[2020-03-24 20:53] #50727 closed

[2020-03-24 21:02] tfitzmac commented on #49674
Just to summarize, you can control deployment at the resource level with condition. You can modulate a property with the copy loop or if function. Otherwise, I think your only option would be to use different arrays to reflect the different properties that need to be set.

[2020-03-24 21:08] JennyLawrance commented on #49245
@jlorek , @classifieds-dev , Yes I have identified a code issue on our end which completely blocks web sockets on free SKU. I have opened a work item on our side to fix this.

[2020-03-24 21:14] anzaman commented on #50365
Fixed
#please-close

[2020-03-24 21:14] #50365 closed

[2020-03-24 21:21] daweins opened #50828 "Should probably document Azure Government's altered devicelogin URL"
Have hit a few edge cases where logging into CLI to Gov still shows the Commercial devicelogin url:

https://microsoft.com/deviceloginus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca77e611-bec8-f429-e880-44c1aa433baa
* Version Independent ID: 46432101-58dc-8a29-100e-91cd4ac90b66
* Content: [Connect to Azure Governm

[2020-03-24 21:25] #50666 closed

[2020-03-24 21:29] fgheysels commented on #49956
@lyrana,

I did some more digging.

The oid that is present in the access token that has been retrieved by my test-program (via the code you've posted), matches the id of my profile that I can retrieve via MS Graph.

When I launch this request in MS Graph: https://graph.microsoft.com/v1.0/users/<oid-from-working-token>, I get the following response:

[code]

[2020-03-24 21:32] luisbecerril-ips opened #50829 "Unclear CreateDockerPackage.ps1 + SFBinaryLoader.cs logic"
It is unclear to me how the `CreateDockerPackage.ps1` works and what it is for. As far as I understand, this removes the `Microsoft.ServiceFabric.Data.Interfaces.dll` and any `System.Fabric.*.dll` present in the publish directory. As far as I understand these dependencies should be dynamically loaded once more through the `SFBinaryLoader.cs` class.
However I have the following questions:
1. I am r

[2020-03-24 21:41] alex-frankel commented on #27312
My guess is this is because a custom policy or initiative (policy set) does not exist such that the blueprint definition can access it. Any custom policy needs to exist at or above the scope where the blueprint definition is being saved. (e.g. at the root MG)

[2020-03-24 21:42] FlavioDiasPs commented on #50519
I am doing ETL from eventhub to Az Sql Server hyperscale by using Azure Functions.

The current Function isn't durable, but we found out that singleton functions loses messages on very high load moments and we are trying to change it to Durable Functions and maybe the queues pattern solve that.

[2020-03-24 21:45] #50607 closed

[2020-03-24 21:45] ScoGroMSFT opened #50830 "Nit: Readability - Missing a word"
Last sentence of the intro section is missing the word "have":
"If your function app doesn't already this key, you can set it manually."
Should read
"If your function app doesn't already HAVE this key, you can set it manually."

https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-03-24 21:57] Karishma-Tiwari-MSFT commented on #50631
@phenixita I am looking into it and will share an update soon.

[2020-03-24 21:58] yoelhor commented on #50639
First it worth to mention that the SelfAsserted-LocalAccountSignin-Email technical profile is a unique self-asserted technical profiles (unified sign-up and sign-in). It has a specific implementation that supports only two output claims to be displayed, the username and the password. You can't collect more information on that page. I'm not familiar with the Delta policy and we also can't share suc

[2020-03-24 21:59] normesta commented on #50210
Thanks for the suggestion @eduardolmedeiros! We've opted to keep the install section as simple as possible by providing download location only. The list of different environment-specific install instructions became unwieldy. There are a lot of different OS flavors and install scripts. We intentionally trimmed out all of the environment-specific guidance to keep the content clean and easier to pars

[2020-03-24 21:59] yoelhor commented on #50499
#please-close

[2020-03-24 21:59] normesta commented on #50210
#please-close

[2020-03-24 22:00] #50210 closed

[2020-03-24 22:00] #50499 closed

[2020-03-24 22:03] Karishma-Tiwari-MSFT commented on #50299
@stgeorgi Can you please share your insights on what could  be causing this issue? Thanks. :)

[2020-03-24 22:04] yoelhor commented on #50638
It's just a typo that I need to fix :)

[2020-03-24 22:06] dotnetgator commented on #50639
Thanks - I meant to clarify with the Delta thing - I have no reason to believe they use B2C or any other product. Just a commercially available sign-in page where three pieces of data are collected instead of two.

Nonetheless, I'm thinking it will help policy developers to have the special "rules" for these called out on this doc page. And a big one is determining how specifically the username an

[2020-03-24 22:10] #50638 closed

[2020-03-24 22:16] gbaeke opened #50831 "Extra clarification"
Please clarify when the DHCP lease expires. If it is like virtual machines (&gt;100 years), we can wait for a long time. Also clarify what "platform upgrade" means exactly.

Note there is a typo as well: upgarade instead of upgrade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a243b5-d841-5848-5dd6-92f367a254b3
* V

[2020-03-24 22:34] jmo808 commented on #44719
We just ran into this issue today with a customer. It appears to be unique to the customers AAD Tenant/Subscription as I am able to deploy without issues in my personal subscription/AAD. We are using the QnA Portal to deploy. The customer is putting in a support ticket.

[2020-03-24 22:41] tchristiani commented on #50029
I apologize that your issue has not been addressed to your satisfaction. Unfortunately, this is a feature request and not a problem with the documentation. You need to re-up your posts on StackOverflow and User Voice as this forum is not able to address the issue.
#please-close

[2020-03-24 22:41] #50029 closed

[2020-03-24 22:52] Mike-Ubezzi-MSFT commented on #45324
@jdanyow Working an an escalation process/workflow to address the REST API docs. I see the issue you filed has gone unaddressed, and working to address this.

[2020-03-24 22:52] Forcebyte opened #50832 "add Azure CLI / ARM Template documentation for deployment with multiple Azure Public IPs"
Most people use ARM / Azure CLI deployment to mirror other deployment and infra-as-code methodologies. Ideally this documentation should also cover deployments via. Azure Resource Manager tempaltes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24fe8d3e-425b-81b8-8d04-6899823484d4
* Version Independent ID: fbfc78fe-865

[2020-03-24 22:58] femsulu commented on #50828
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-24 22:59] femsulu commented on #50822
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-24 23:07] normesta commented on #49757
Thanks @imeya! The API member doesn't appear unless that member was used within the timeframe that you specify in the settings. There is some text that mentions this, but perhaps it wasn't very discoverable. I've upgraded that text to a note and I've added another note directly beneath the step that mentions the API. Thanks for helping us head off confusion.

[2020-03-24 23:07] srinayani opened #50833 "Upgrading to Version 3.x for webjobs and cannot find"
Using "Microsoft.Azure.WebJobs" Version="3.0.13" and
"Microsoft.Azure.WebJobs.Extensions.Storage" Version="3.0.6"
 But I still get the following error:

'IWebJobsBuilder' does not contain a definition for 'AddAzureStorageCoreServices' and no accessible extension method 'AddAzureStorageCoreServices' accepting a first argument of type 'IWebJobsBuilder' could be found (are you missing a using directi

[2020-03-24 23:07] normesta commented on #49757
#please-close

[2020-03-24 23:07] #49757 closed

[2020-03-24 23:07] anandchugh commented on #29917
hi
I tried to use opencensus to inject correlationid for correlation and distributed tracing.

[code]

Trying to use inject throws an error:
AttributeError: 'Tracer' object has no attribute 'inject'
How can we use distributed tracing with no inject support? Any examples for this will be helpful.

[2020-03-24 23:08] normesta commented on #49509
Thanks @Chai-NED. This was a typo in the docs. I've fixed this typo and the fix should appear live by tomorrow morning. Egress is data leaving the account either to an application or to other Azure service consumers. Thanks again for point this out.

[2020-03-24 23:08] normesta commented on #49509
#please-close

[2020-03-24 23:09] #49509 closed

[2020-03-24 23:16] ishepherd commented on #35316
Sounds good, thanks @ggailey777 @brettsam !

Another example, IIUC when an HTTPTrigger method returns a 5xx, this is _not_ counted as a failure in App Insights? Only an unhandled exception is a failure.

So if you can give an example of manually updating `success` to false - that would be great

[2020-03-24 23:20] chelseario opened #50837 "Update Circonus logo on Azure Partners page"
We have revised our company logo and would like to update it on the Azure Partners page. An SVG of the new version can be found here: https://www.circonus.com/wp-content/uploads/images/circonus-logo-full-color-for-light-background.svg

Happy to send you a PNG directly if you prefer one. Just let me know.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-03-24 23:25] Alexp2019 commented on #50774
Hi @PramodValavala-MSFT,
https://docs.microsoft.com/en-au/azure/azure-maps/how-to-use-map-control

Thanks!

[2020-03-24 23:27] BharathNimmala-MSFT commented on #50505
@damiandiaz76 You can rename or delete a saved function in the Azure Portal Log Analytics blade.

Please navigate to Azure Portal --> Your Log Analytics workspace --> If you have already saved a query as function

Click on Query explorer --> Saved Queries --> custom --> functionname

![LogAnalytics-Function](https://user-images.githubusercontent.com/45180002/77486127-1d546100-6dec-11ea-9a43-788021

[2020-03-24 23:27] #50505 closed

[2020-03-24 23:44] leela-uppuluri opened #50839 "Nvidia Deepstream SDK module runtime backoff with Exit Code 255"
I was trying to run Nvidia Deepstream SDK example by referencing this [documentation](https://github.com/Azure-Samples/NVIDIA-Deepstream-Azure-IoT-Edge-on-a-NVIDIA-Jetson-Nano). But when I was trying to run Deepstream to output the inferred videos to an RTSP video stream and visualize this RTSP stream with VLC I am running into `Exit Code 255` error and the runtime status shows `backoff`. I was tr

[2020-03-24 23:44] bugsbunnyshah commented on #29169
I ran into this today. I noticed, you have to add the maven url in two places:

`buildscript {

    repositories {
        google()
        jcenter()
        maven {
            url 'https://dl.bintray.com/microsoftazuremobile/SDK/'
        }
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:3.6.1'
        classpath 'com.google.gms:google-services:4.0.1'
        // NOTE: D

[2020-03-24 23:46] chriscoolbus commented on #32082
The comment says "// Note that this must not have HTTPS or the port number", yet the code has the HTTPS and the port number both.  The comment needs to be changed to indicate what actually needs to be there.

[2020-03-24 23:47] tucane opened #50840 "Specifying whom to deny in the deny assignments"
There doesn't seem to be an option to specify whom to deny while going through the assigning blueprint process. After locking my resources, all the service principals have been denied access.

Is there a way to only deny certain service principals? We want to deny resource group level access from certain service principals with permissions inherited from subscription level.

---
#### Document Deta

[2020-03-24 23:52] TravisCragg-MSFT commented on #50832
@Forcebyte Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-24 23:55] TravisCragg-MSFT commented on #50826
@ishmeet177 Thanks for the feedback! I have added the character, and the doc should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-24 23:55] #50826 closed

[2020-03-24 23:56] tfitzmac commented on #50329
@steve19922 - can you give me more information about what you mean by advanced data security?

[2020-03-24 23:57] MicrosoftGuyJFlo commented on #50779
Adding to an existing PR

[2020-03-24 23:58] MicrosoftGuyJFlo commented on #50779
@hostmatic Thanks for the catch! They updated the guidance on me.

[2020-03-24 23:58] MicrosoftGuyJFlo commented on #50779
#please-close

[2020-03-24 23:58] #50779 closed

[2020-03-24 23:58] MicrosoftGuyJFlo commented on #50779
#assign @MicrosoftGuyJFlo

[2020-03-24 23:59] MicrosoftGuyJFlo commented on #50779
#unassign @shashishailaj

[2020-03-25 00:06] mokarian commented on #22648
@dem108 do you recall how did you solve your problem ?

[2020-03-25 00:13] JonathanPalmerGD opened #50841 "Question of 'Where'"
In the early text on this page it states
"If you prefer to jump right in, view or download all Speech SDK C# Samples on GitHub. Otherwise, let's get started."

Nothing indicates which actual sample this is, and the names of the samples don't help either.

The ones that exist in dotnet/uwp: From-blob, from-file, from-microphone, intent-recognition, multi-device-conversation, text-to-speech, transla

[2020-03-25 00:16] oliverjnash commented on #48941
@neeleshray-msft Do you have an update on whether this add-on supports the latest version of Jira Core/Software 8.8.0?

[2020-03-25 00:19] Karishma-Tiwari-MSFT commented on #49274
On creating an AKS cluster with Log Analytics Workspace and two Apps using the AZ CLI following the doc:  https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli

When I go in the Log Analytic Workspace, I can look at live Traffic elements and I'm not seeing anything broken / missing.

Note that I didn't have to add redirect URIS.

Live Metric Updates

![image](https://user-images.gith

[2020-03-25 00:21] JonathanPalmerGD opened #50842 "Custom Voice Assistant"
This might want to be renamed, as it has nothing to do with 'Custom Voice' which could be misleading and frustrating to devs who want to find content related to that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eccff5b5-9038-3871-57ad-913d5739c417
* Version Independent ID: 29139141-b9c1-1bf1-525c-38784cff23ac
* Cont

[2020-03-25 00:25] OlveJA commented on #49117
Would be great if this info is added.
Having difficulties making FSLogix able to connect to an AD joined storage account, even though I can browse to the share after logon..

[2020-03-25 00:28] bigdimboom opened #50843 "request body labels for body tracker"
[Enter feedback here]
So, the tracker outputs frame fro body indexing. Is it possible to generate frame for body labels too? It's easier to do the skinning if I can get the body segmentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfd96838-87c8-c27e-f8ee-a2db651ba463
* Version Independent ID: ab4d754c-e83f-7d20

[2020-03-25 00:32] Karishma-Tiwari-MSFT commented on #30997
This feature for Azure portal is in the roadmap. Custom data option will be available, if you do not have Cloud-Init enabled on the VM.
-	Custom data document: https://docs.microsoft.com/en-us/azure/virtual-machines/custom-data
-	Blog post : https://azure.microsoft.com/en-us/blog/custom-data-and-cloud-init-on-windows-azure/

[2020-03-25 00:36] Karishma-Tiwari-MSFT commented on #50156
@rwelton83 Are you still seeing this issue?

[2020-03-25 00:42] nickstaggs commented on #37532
@axisc @mike-urnun-msft @spelluru Can you please reopen this issue. The original question was not answered...

[2020-03-25 00:43] Karishma-Tiwari-MSFT commented on #50577
I have created a PR with the update, changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-25 00:43] #50577 closed

[2020-03-25 00:51] PatrickFarley commented on #50029
@Clen10 Are you requesting a way to do face detection on a local image? You can do this using the raw binary of the image (application/octet-stream). See the [API reference](https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236)

[2020-03-25 01:09] Karishma-Tiwari-MSFT commented on #50787
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-25 01:10] GiftA-MSFT commented on #50842
@JonathanPalmerGD we will review your feedback and get back to you shortly. Thanks.

[2020-03-25 01:11] GiftA-MSFT commented on #50841
@JonathanPalmerGD we will review your feedback and get back to you shortly. Thanks.

[2020-03-25 01:13] dhruvingajjar opened #50845 "Is windows authentication mode for SQL server (on-premise) supported with the Self Hosted IR"
On the diagram on this page, there is a mention of a credential manager, but it is not clear what that credential manager could be. Is it left to be assumed to be key vault only?

When a source data store is an on premise SQL server with windows authentication only and that the accounts that can connect to it are only present in an AD forest on premise, how can the self hosted IR setup be configur

[2020-03-25 01:15] GiftA-MSFT commented on #50811
@efeaimnewman we will review your feedback and get back to you shortly. Thanks.

[2020-03-25 01:16] GiftA-MSFT commented on #50808
@darshats we will review your feedback and get back to you shortly. Thanks.

[2020-03-25 01:21] KranthiPakala-MSFT commented on #50506
@pygna84 After verifying with internal team, below are the findings.

1. For just one window definition (i.e. SlidingWindow(millisecond,1) ) there is no need to use Windows construct.

1.  The syntax of GROUP BY is incorrect, one can not just say Window(....) it must be inside the Windows(Window('1ms', ...))

3) The Sliding window will produce event every time there is an event, but aggregate all

[2020-03-25 01:29] MarileeTurscak-MSFT commented on #49331
Partial answer, access token policies should keep working without any conflict. About the refresh token lifetime - currently CA won't allow you to configure sign in frequency and token lifetime policies at the same time for a give user or app. I'm waiting for an answer regarding the need to remove old policies or if they will get automatically removed, replaced or upgraded.

[2020-03-25 01:40] BharathNimmala-MSFT commented on #50790
@smoms Thank you for your query , our team will further look into it and get back to you at the earliest

[2020-03-25 01:46] BharathNimmala-MSFT commented on #50830
@ScoGroMSFT Thank you for bringing this to our notice and improve our documentation , will update the document accordingly.

[2020-03-25 01:49] dlgoodr commented on #27312
The custom policy lives at the MG, same as the blueprint definition.  The current work-around looks for a problem and makes *the exact same REST call*, which inevitably succeeds.  There's some sort of race condition in the back end of Azure, somewhere.

[2020-03-25 01:58] Mike-Ubezzi-MSFT commented on #32082
@chriscoolbus  I have made a slight edit to the config.js example in the document. It will be visible in the public facing version of this document in the next 24 hours. Please let me know if you have additional questions.

[2020-03-25 02:01] kyyung opened #50847 "Introspection endpoint?"
Hi,

If I need integration with a 3rd party API gateway, introspection endpoint may be required. Does AD B2C support introspection endpoint? Any roadmap to support it?

Leo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01878b85-bdc5-f8bf-a9f4-8f833c238e5b
* Version Independent ID: a5763a55-2844-5e54-8f3a-1d6034c01692

[2020-03-25 02:10] BharathNimmala-MSFT commented on #50817
@arunsingh2009 Thank you for reaching out, can you please help confirm if below is the documentation link you are referring and what is the exact query or feedback you have regarding the documentation which would further help us to route you accordingly.

[Collect custom metrics for a Linux VM with the InfluxData Telegraf agent](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/collect

[2020-03-25 02:14] Karishma-Tiwari-MSFT commented on #50631
Using this ClusterRoleBinding

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: my-cluster-admins
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: <me@mail.com>

and configuring my AKS cluster with a azure AD integration, I was able to run
`kubectl get nod

[2020-03-25 02:18] BharathNimmala-MSFT commented on #50837
@chelseario Thank you for reaching out to us, our team will further look into it and get back to you at the earliest.

[2020-03-25 02:18] femsulu commented on #50633
Hi @jzhouw , any update please?

[2020-03-25 02:30] BharathNimmala-MSFT commented on #50825
@kha-dev Thank you for reaching out, please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs/issues) repository) is only for driving improvements related to the Azure documentation. It would be great if you could share the documentation link which you are referring which would help us to put you into right d

[2020-03-25 02:34] tkumark opened #50848 "Application insights for Stateful service fabric written in .net core and using Services Remoting based communication"
In the example provided in this page you stateful service uses http for communication. But if we create using Service Remoting then how do we integrate? Is there a sample on how to implement application insights where the stateful services is using service remotin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0402be8

[2020-03-25 02:36] DashleenBhandari-MSFT commented on #50658
@Justien22 , Please let me know if you have further queries.

[2020-03-25 02:36] DCtheGeek commented on #50840
#assign:DCtheGeek

[2020-03-25 02:37] DashleenBhandari-MSFT commented on #50435
@CeciAc Just wanted to understand if you have further queries.

[2020-03-25 02:38] DCtheGeek commented on #50840
@tucane Thanks for the question! You can define the **excludedPrincipals** during blueprint assignment when using REST API. You can see the details and an example here: https://docs.microsoft.com/azure/governance/blueprints/concepts/resource-locking#exclude-a-principal-from-a-deny-assignment

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #please-close

[2020-03-25 02:38] #50840 closed

[2020-03-25 02:51] ElanShudnow opened #50849 "Usage File"
I would suggest adding some information on what the usage file is and how to download it rather than just say look at the usage file.  For example, information on what the usage file is and how to download it is provided here: https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/understand-reserved-instance-usage-ea

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-25 02:55] jackngok commented on #50299
Problem has been solved, thanks for your help

[2020-03-25 02:58] MarileeTurscak-MSFT commented on #50634
Hi @wupaz , I am confirming with the PG about this preview feature in general. I know that for Azure AD with Remote Desktop App in general some configuration is often required.

You may need to disable NLA on target machine.

Also, there is some registry fidgeting that you may need to do:

In Windows 10 Microsoft changed RDP’s defaults. We modified the default for “SecurityLayer” from 0 to 2. Even

[2020-03-25 02:58] PramodValavala-MSFT commented on #50774
@Alexp2019 Thanks for the question! We will review and get back to you!

[2020-03-25 02:59] femsulu commented on #50530
Adding content author, @Heidilohr for insight.

[2020-03-25 03:13] PramodValavala-MSFT commented on #50839
@leela-uppuluri Please do note that this repository is primarily for addressing feedback on Azure Docs. I believe it would be best to raise an issue on the repository that you've linked instead and/or post a query on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=iotedge) or [StackOverflow](https://stackoverflow.com/questions/tagged/azure-iot-edge) for engaging the broader commun

[2020-03-25 03:27] Mike-Ubezzi-MSFT commented on #50831
@gbaeke Thank you for bringing this to our attention. I have corrected the spelling issue, and working to provide feedback with regard to DHCP leases. Platform upgrade could be better worded as it is vague to what exactly it refers.

[2020-03-25 03:33] RaphaelFrancisco opened #50852 "Is it possible to queue images?"
Are Azure Queues able to process images? These would be thumbnail images with a max size of 24KB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2449e264-13a7-ecc0-7400-b6d6bed1b029
* Version Independent ID: bcd3da61-efe6-4ef5-1c79-4fa78cdf473d
* Content: [Get started with Azure Queue storage using .NET - Azure Storage

[2020-03-25 03:36] vs268153 commented on #38595
Hi,

I have used your script and replace the subscription ID and URI with my API URI "https://management.azure.com/providers/Microsoft.Management/managementGroups/{{managementGroupId}}/providers/Microsoft.Consumption/aggregatedcost?api-version=2019-10-01"

I am getting below error
 Invoke-WebRequest : {"message":"No HTTP resource was found that matches the request URI 'https://consumption.azure.co

[2020-03-25 04:01] rithinskaria commented on #38595
Seems like I am hitting the same error. let me check this and get back to you.

[2020-03-25 04:18] BharathNimmala-MSFT commented on #50453
@bherrsk Hope you are working with the support team to further troubleshoot the issue, we will close this github issue for now. However when you have feedback to improve the documentation based on the resolution of the issue please revert back and we will more than happy to reopen the thread to evaluate the feedback and see how we can improve the documentation. Thank you.

[2020-03-25 04:18] #50453 closed

[2020-03-25 04:24] NTDS opened #50854 "Diagnostic settings to capture MFA Authentication activity report"
When viewing activity under the Mulitfactor Authentication node, we are able to see data around radius server authentication (the radius server is using Azure MFA).  However, this data is not viewable in the Azure AD sign in logs.  How can the Multifactor Authentication activity log information be collected to a log analytics workspace so they can be queried/stored?

---
#### Document Details

⚠ *

[2020-03-25 04:45] tnlthanzeel opened #50855 "negotiate problem"
the negotiation url has two negitiate table as in the picture.

![image](https://user-images.githubusercontent.com/18216790/77502591-470b9780-6e81-11ea-9a4a-3294dc2f81cd.png)

the signalr.js javascript is appending another part to the url as POST https://cfszippfunc-staging.azurewebsites.net/api/negotiate/negotiate?code=/qaDVZ16Jeb5W0

please help

---
#### Document Details

⚠ *Do not edit this se

[2020-03-25 04:49] MedAnd opened #50856 "Broken "Download the template files" section links!"
The ARM template links in the "Download the template files" section seem to be broken?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09795848-9eea-f6bf-df7e-d00e1febaba3
* Version Independent ID: 7ae2c0ff-4745-f510-d505-295527f7b35e
* Content: [Deploy a web app with a template - Azure Cosmos DB](https://docs.microsoft

[2020-03-25 04:58] DixitArora-MSFT commented on #50519
@FlavioDiasPs Thanks for the update. So for now we will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-25 04:58] #50519 closed

[2020-03-25 04:58] KranthiPakala-MSFT commented on #50845
@dhruvingajjar Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-03-25 05:00] DixitArora-MSFT commented on #50660
@span Thanks for raising the PR and contributing to the docs. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-25 05:00] #50660 closed

[2020-03-25 05:08] mike-urnun-msft commented on #50710
Hello @aa4640 Just following up, let us know if there were any specific doc you'd like to reference.

[2020-03-25 05:16] DixitArora-MSFT commented on #50694
@cannibal-kush Yes you can do it by VS code also. There is a separate doc which discuss about developing your Azure functions by VS code. https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs-code?tabs=csharp

Do let us know if you have any further questions or any queries.

[2020-03-25 05:24] femsulu commented on #50612
Hi @knuthalvor, just so I'm on the same page with you, can you send me a screenshot of what you currently see in the portal?

[2020-03-25 05:56] femsulu commented on #50617
thanks for the update, @sayanghosh123
@bsiva  - can you please next steps based on @sayanghosh123's response?

[2020-03-25 06:07] BharathNimmala-MSFT commented on #50818
@elhorton Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-25 06:10] BharathNimmala-MSFT commented on #50819
@dc995 Thank you for your valuable feedback, our team will further look into it and get back to you at the earliest.

[2020-03-25 06:12] BharathNimmala-MSFT commented on #50829
@luisbecerril-ips Thank you for your query , our team will further look into it and get back to you at the earliest.

[2020-03-25 06:12] codemaker opened #50857 "I do not see "risky signin" option in Azure AD blade"
Team, I do not see "risky signin" option in Azure AD blade.  Is it removed now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7984bc8-9064-b991-f6b6-2f2ae93490c9
* Version Independent ID: b65cdb54-9cf5-83ae-f921-3ce34965bba2
* Content: [Risky sign-ins report in portal](https://docs.microsoft.com/en-us/azure/active-di

[2020-03-25 06:15] BharathNimmala-MSFT commented on #50833
@srinayani Thank you for your query, our team will further look into it and get back to you at the earliest

[2020-03-25 06:18] BharathNimmala-MSFT commented on #50843
@bigdimboom Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-25 06:25] BharathNimmala-MSFT commented on #50847
@kyyung Thank you for your query , our team will further look into it and get back to you at the earliest.

[2020-03-25 06:26] BharathNimmala-MSFT commented on #50848
@tkumark Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-25 06:28] BharathNimmala-MSFT commented on #50852
@RaphaelFrancisco Thank you for your query , our team will further look into it and get back to you at the earliest.

[2020-03-25 06:29] BharathNimmala-MSFT commented on #50849
@ElanShudnow Thank you for your feedback, our team will further look into it and get back to you at the earliest.

[2020-03-25 06:43] BharathNimmala-MSFT commented on #50854
@NTDS Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-25 06:50] Silthus opened #50858 "Option for email discovery"
Usually with a RDS solution there is the option to create SVC records to enable email discovery. Is there an option in the WVD as well?

What would be the webfeed url?

https://docs.microsoft.com/en-us/windows-server/remote/remote-desktop-services/rds-email-discovery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c71ac

[2020-03-25 06:51] BharathNimmala-MSFT commented on #50830
@ScoGroMSFT Thanks again for bringing this to our notice, i have raised the PR and has been reviewed , it will be merged later in the week and the document will be live accordingly. Will go ahead and close this issue for now however if you have any further feedback please feel free to tag us in your reply and will be more than happy to reopen the thread and continue the conversation. Thank you.

[2020-03-25 06:51] #50830 closed

[2020-03-25 06:55] BharathNimmala-MSFT commented on #50502
@fallmake Thanks again for bringing this to our notice, hope the above information helps. I have raised the PR to reflect the feedback and once reviewed , it will be merged later in the week and the document will be live accordingly. Will go ahead and close this issue for now however if you have any further queries please feel free to tag us in your reply and will be more than happy to reopen the

[2020-03-25 06:55] #50502 closed

[2020-03-25 07:00] BharathNimmala-MSFT commented on #50443
@lunar87 Hope the above information helps, please let us know if you have further queries.

[2020-03-25 07:01] dArignac commented on #50567
@SnehaGunda Yes, the emulator does work. I missed the flag to enable the endpoint, my fault, sorry for that! However, as stated above, it is not of use for us.

Interesting is that the docs then require to set the serializer to `GraphSONMessageSerializerV1d0` in the TinkerPop console to connect to it.

[2020-03-25 07:14] yvesjac opened #50859 "Using wildcards in regex"
I'm trying to use wildcards to match certain patterns.
How do you specify for example 3 consecutive digits?
e.g. I want to group a123bbbb, a548pdks and a487jshdkd
With normal regex would give something like user.displayName -Match "\Aa\d{3}.*" however this does not seem to work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-03-25 07:16] fgheysels commented on #49956
I managed to retrieve an access-token via a console application by creating an AppRegistration as explained [here](https://docs.microsoft.com/bs-cyrl-ba/azure/time-series-insights/time-series-insights-authentication-and-authorization#azure-active-directory-app-registration).

I think it is important to note that:
- in step 4, you need to select the correct platform.  (For a console app, I selected

[2020-03-25 07:24] geNAZt commented on #33674
we also got the same error today in westeurope. tried three times till now

[2020-03-25 07:28] PramodValavala-MSFT commented on #50671
@prashantma For Visual Studio 2019, the extension is updated as part of Visual Studio itself. Could you try creating a fresh function app and check if you see the same issue?

[2020-03-25 07:42] tucane commented on #50840
I am not looking to exclude individuals from my deny assignments. I am looking to only deny the access of a few applications. Is there a way to specify a list of service principals and adding them to deny assignments, instead of the default "all service principals"?

[2020-03-25 07:48] yvesjac commented on #50859
correction. must have made a type somewhere because it just started working

[2020-03-25 07:51] lgmorand opened #50860 "Should this extension work with VMSS ?"
We can add extension to VMSS but running the command, say the "The value of parameter type is invalid.". I'm trying in a AKS VMSS

az vmss extension set --resource-group MC_RG-Test_aks-test-ca_westeurope \
    --publisher Microsoft.Azure.ActiveDirectory.LinuxSSH \
    --name AADLoginForLinux \
    --vmss-name aks-agentpool-11710056-vmss

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-03-25 07:53] LeitchP opened #50861 "What is "Unique ID" and where do I find it?"
Configure Azure AD SSO step 4 a format is indicated that references "Unique ID" without informing:
- What this unique ID is
- Where I can locate this Unique ID.

I searched and found hundreds of people asking this exact question and I'm still trying to work through all the various hints and explanations with a variety of on-premises vs cloud and various interface/menu item changes to find what thi