[2019-04-10 13:57] axelgMS commented on #28567
we had confirmation that the deployment on AKS 1.11.9 works fine

[2019-04-10 14:05] ruijarimba opened #29156 ""The file type of the certificate to be imported must be .pfx or .pem" error when certificate file extension is UPPERCASE"
**Azure Key Vault > Certificates > Generate/Import > Import**

Trying to import a ***.pfx** certificate with an upper case extension (***.PFX**) such as "_CERTIFICATE-TEST.PFX_" is not allowed, error message "_**The file type of the certificate to be imported must be .pfx or .pem**_" is displayed:

![image](https://user-images.githubusercontent.com/761098/55885240-e1f45e80-5ba9-11e9-92fd-cf45419ef

[2019-04-10 14:07] paulrennan commented on #18570
Any updates on this? We had some production issues since Hybrid Connections were swapped unexpectedly.

[2019-04-10 14:11] dashap opened #29157 "Login Directly to Confluence and Skip Azure Login Button"
Please add an option for the add-on to allow users to go directly into Confluence/Jira without clicking a button.  We have applications that have a link to issues and pages that should allow the user to see them without getting a blank Confluence page that then has a small login button at top right that the users have to notice.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-04-10 14:21] CeciAc opened #29158 "The stub domain example returns validation errors"
@Lycrosa commented on [Wed Apr 10 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/278)

first of all you cant apply it with the command you provided, second of all, if I apply it with kubectl apply -f coredns-custom.yaml I get a validation error

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel e

[2019-04-10 14:22] DavidR91 commented on #29135
The documentation states:

Given that the defaults for resource manager are 12,000/hr, this implies resource graph is responsible for returning headers stating 150? (I have never seen the header exceed 150 and this appears to be the starting value)

Is there any official guidance for when RG ceases to be preview? Nothing I've read so far states it in preview

[2019-04-10 14:24] CeciAc commented on #29158
Hi team,
I'm moving this here since the user is reporting errors with the example
Kind regards,

[2019-04-10 14:26] DCtheGeek commented on #29135
@DavidR91 I'll ask the team about the 150 in the header and get back to you. As for a 'preview label', it looks like I removed the labels I had when it moved into Public Preview. I'll look at making that more clear.  Thanks and I'll get back to you shortly.

[2019-04-10 14:29] dashap commented on #29157
Note that this is in reference to the add-on you install in Confluence and Jira.
They seem to be Microsoft created/owned.

e.g., com.microsoft.MSSsoConfluencePlugin

[2019-04-10 14:29] clarkd commented on #29135
Notably the API version was updated a few days ago - new version is 2019-04-01. The previous version had a preview suffix (2018-09-01-preview). Does this mean the API is fixed / not subject to change?

[2019-04-10 14:33] saifuddin123 commented on #28974
yes i did. i am using ubuntu. successfully created the iothub_client.so in samples.

[2019-04-10 14:53] rsrinivasanhome opened #29159 "Logout Api Documentation"
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oidc#send-a-sign-out-request

From the above link it is not clear how parameter will be passed from client.  How does the api know for which user session this api needs to act upon.  Does it require the cookie to be passed ?
This info is not clear

How do we know we have successfully executed the api ?

If c

[2019-04-10 14:58] SeanCLeavitt commented on #28907
The "Clean up deployment" section now fails as it reads:

Remove-AzResourceGroup -Name myResourceGroup -Force

Learners will get an error of "Provided resource group does not exists."

Recommend it is written correctly, for page consistency, as:

Remove-AzResourceGroup -Name $ResourceGroupName -Force

[2019-04-10 15:03] CraigGraw commented on #25015
What is the recommended way to configure a WebJob v3 to log dependencies e.g. CosmosDB, Blob Storage, HttpClient etc...?
The documentation appears to be missing a comprehensive way forward for this explicit requirement.

[2019-04-10 15:09] SeanCLeavitt opened #29160 "The "Clean up deployment" section now fails as it reads:"
The "Clean up deployment" section now fails as it reads:

Remove-AzResourceGroup -Name myResourceGroup -Force

Learners will get an error of "Provided resource group does not exists."

Recommend it is written correctly, for page consistency, as:

Remove-AzResourceGroup -Name $ResourceGroupName -Force

_Originally posted by @SeanCLeavitt in https://github.com/MicrosoftDocs/azure-docs/issues/28907#i

[2019-04-10 15:09] Rob-amrc opened #29161 "Device Sim Error?"
I've been trying to deploy locally for a few days now following this guide but have had very little luck, whilst the services start in visual studio fine I have the following errors on the webservices:

DeviceTelemtry: Diagnostics
IsHealthy	false
Message	"Status code: 0; Response: An error occurred while sending the request. - A connection with the server could not be established"

ASAManager:Conf

[2019-04-10 15:15] mrosett commented on #24799
Thanks for the free ticket. The extended metadata seems to be working now. From my perspective, there were two separate things going on here:

1. There was a bug, apparently now fixed, that was keeping metadata from being returned at all in response to queries.
2. I do think the documentation could be improved to make it clear how to request extended metadata. Specifically, the current API expects

[2019-04-10 15:21] usmanmohammed commented on #28806
Any update on this yet? Currently facing a similar situation and would love to see an example of how to access the environment variables from xUnit.

[2019-04-10 15:25] CeciAc opened #29162 "Maybe it would be great to have a extra section to the license topic..."
@nielsophey commented on [Wed Apr 10 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/279)

It might be better to find and understand if the section "Overview" would be devided in "what is..." and "requierements" including the right licensing...

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel er

[2019-04-10 15:26] CeciAc commented on #29162
Hi team,
I'm moving this here since the user is making a suggestion on the original documentation
best

[2019-04-10 15:26] simonua opened #29163 "Clarify use of same RG for CDN Profile and Endpoints"
It appears CDN profiles and endpoints must reside in the same resource group. If so, could you please clarify in the documentation why that is the case and why they cannot reside in different RGs?

For context, our use-case is X Static Websites that we want to front with one CDN profile with X endpoints. In order to simplify our ARM templates, we would like to have the endpoints in the same respec

[2019-04-10 15:28] RyanHill-MSFT commented on #29151
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-10 15:28] JasonWHowell commented on #28856
@mamccrea I've heard of this before. We may need to remove samples that depend on Twitter due to the shift in the open API.

"We have sunset apps.twitter.com. You can manage any of your existing apps in all of the same ways through this site."

[https://blog.twitter.com/developer/en_us/topics/tools/2018/discontinuing-support-for-twitter-kit-sdk.html](https://blog.twitter.com/developer/en_us/topics

[2019-04-10 15:28] msrini-MSFT commented on #29073
@MangeshDange , I am closing this issue, tag me if you have any further questions.

[2019-04-10 15:28] #29073 closed

[2019-04-10 15:32] madhanan opened #29164 "Read Data - Gibberish Text Output to file"
When i run the below command

curl -i -L GET -H "Authorization: Bearer &lt;REDACTED&gt;" 'https://&lt;yourstorename&gt;.azuredatalakestore.net/webhdfs/v1/myfile.txt?op=OPEN' -o c:\myfile.txt

I getting the file created, but the output is gibberish as below
謟÷岮＂﷬囹죛¶ﾌ홿䎠㓟扰

Is there something i am missing.

The ADLS is encrypted, when i run without the Output redirection, i am able to see my conten

[2019-04-10 15:33] dlstucki opened #29165 "Mention HTTP request-response in the statement on general capabilities?"
Near the very top it states:
&gt; "Hybrid Connections enables bi-directional, binary stream communication and simple datagram flow between two networked applications. Either or both parties can reside behind NATs or firewalls."

With the addition of the HTTP Request mode should this statement be extended to include "request-response" as well?

---
#### Document Details

⚠ *Do not edit this section

[2019-04-10 15:36] dlstucki commented on #20479
What ping are you referring to? WebSocket level ping/pong? Aside from that I don't think there is any other ping at this time.

[2019-04-10 15:45] JeffBley opened #29166 "Incomplete Sentence"
I'm not sure what you are trying to say, but in the section "How should you configure conditional access with Office 365 apps?" in the third paragraph, first sentence it says "It is important for policies that require user interactions, like multi-factor authentication, when access is controlled at the beginning of a session or task." Clearly it is unclear what you are trying to say. :)

---
####

[2019-04-10 15:47] awws commented on #28892
Hi Ajay,

I was referring to Azure recommendations on key rotation. The ideal would
be integration with Managed Service Identity (like in Azure SQL service).
Kind regards.

Alex

On Mon, 8 Apr 2019, 10:07 AjayKumar-MSFT, <notifications@github.com> wrote:

[2019-04-10 15:52] Karishma-Tiwari-MSFT commented on #28596
@KeiroKamioka0000 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-10 15:52] #28596 closed

[2019-04-10 15:53] tomasr commented on #20479
I'm referring to this:

There doesn't seem to be any actual description of what the Ping operation looks like on the wire.

[2019-04-10 15:56] MicahMcKittrick-MSFT commented on #29153
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-10 15:56] MicahMcKittrick-MSFT commented on #29158
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-10 15:57] MicahMcKittrick-MSFT commented on #29162
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-10 16:08] MicahMcKittrick-MSFT commented on #29162
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-10 16:17] KjetilEVRY commented on #24869
This is now GA, according to the release notes from 25th of March 2019: The Unified Groups Writeback feature is now GA. But the actual release of AAD Connect is still pending as of 4th of April 2019. Will this article be updated when it's released?

[2019-04-10 16:21] MangeshDange commented on #29073
@msrini-MSFT : I tried adding the witjout Public IP as well, but NO LUCK.
So is it mandate that, VM's must have the standard PIP which are supposed to be placed under Standard Load Balancer. If yes, then its not mentioned in the documentation.

[2019-04-10 16:24] msrini-MSFT commented on #29073
@MangeshDange , Can you make sure all the VMs which is part of the availability set has no Public IP?

[2019-04-10 16:24] stgeorgi commented on #28308
@ShehzadUIT Hi...I think I already shared this with you but just in case -

Get-RdsDiagnosticActivities -TenantName <yourtenant> -username <user having the error>
(Get-RdsDiagnosticActivities -TenantName <yourtenant> -username <user having the error> -ActivityId <most recent activity id from previos command> -detailed).Errors
(Get-RdsDiagnosticActivities -TenantName <yourtenant> -username <user ha

[2019-04-10 16:25] stgeorgi commented on #28308
@

Ping me on LinkedIn

[2019-04-10 16:26] MangeshDange commented on #29073
@msrini-MSFT : Nope ,i want to add multiple VM's from same Vnet. (Please exclude Availabilty set/Scale set).

[2019-04-10 16:28] msrini-MSFT commented on #29073
@MangeshDange , It is a constraint. If the availability sets of the VM which you are trying to add to LB has basic SKU public IP, you will not be able to add.

[2019-04-10 16:33] scootafire commented on #24858
How soon will the JIRA 8.0 be completed.  Also how about the Confluence support for 6.15 for that pluin?

[2019-04-10 16:34] MangeshDange commented on #29073
@msrini-MSFT : Wanted to repeat again, I'm trying to add the 2 individual VM's to Load balancer.(Without PIP)
"NOT THE VM's UNDER AVAILABILTY SET nor VMSS".

[2019-04-10 16:36] roygara commented on #29070
@artisticcheese Thanks for reaching out, we appreciate it.

This is actually an old article, I'm removing and redirecting it to the new article. See here: https://docs.microsoft.com/en-us/azure/storage/common/storage-analytics-metrics?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#enable-storage-metrics-using-powershell

The new article actually says to use a different cmdlet and I'm not sure if it has

[2019-04-10 16:38] charlierz commented on #20701
@mdgattuso Any updates on this feature?

[2019-04-10 16:38] craigshoemaker commented on #28806
@usmanmohammed, @Bhsha - I have a request out to the Product Team to find out the best approach. I'll let you know what I find out.

[2019-04-10 16:39] ptansey opened #29167 "BadRequest"
Despite all previous steps completing successfully, when I issue the "Add-AzKeyVaultManagedStorageAccount" command, I get an error:
Add-AzKeyVaultManagedStorageAccount : Operation returned an invalid status code 'BadRequest'
At line:1 char:1
+ Add-AzKeyVaultManagedStorageAccount -VaultName $keyVaultName -Account ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + Cate

[2019-04-10 16:46] msrini-MSFT commented on #29073
@MangeshDange , I just tested the same in my lab environment. 2 VMs with no IP address can be added successfully to the backend pool of the Standard LB.

I would suggest you to open a support ticket to get it fixed. It seems to be an issue with your environment

[2019-04-10 16:47] fgariepy-relation1 opened #29168 ""callBackUri" vs "callbackuri""
For case sensitive parsers, the effective property is actually "callBackUri" not "callbackuri"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6f4db3e-4194-0e9e-a4d1-1c456c6f2efe
* Version Independent ID: fbf5b447-3b63-ac21-ddac-903341223938
* Content: [Webhook activity in Azure Data Factory](https://docs.microsoft.com

[2019-04-10 16:48] bandersmsft commented on #29143
#in-process

[2019-04-10 16:50] nkiest commented on #28976
The schema can be slightly different across different categories and sources, but they are all kept for 90 (sorry, not 93), per https://docs.microsoft.com/en-us/azure/azure-monitor/platform/archive-activity-log

[2019-04-10 16:50] artisticcheese commented on #29070
Link you mentioned is having "Classic" in it. Is it a new article?
![image](https://user-images.githubusercontent.com/13176884/55897777-d5124380-5b86-11e9-8179-870a43514c09.png)

[2019-04-10 16:50] MohitDhingra-MSFT commented on #29136
@aquibqureshi26
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 16:53] MashaMSFT commented on #28732
Hi @loopfish , thanks again for contacting Microsoft! After some research, it looks like there are some significant differences between what availability group features are available between a standard and enterprise edition. As such, due to these limitations, enterprise edition is a requirement for deploying an availability group with AZ SQL VM CLI. For more information on these differences, plea

[2019-04-10 16:56] roygara commented on #29070
@artisticcheese Yes, it's referring to the classic metrics. We have new metrics and classic metrics. This article is for the new metrics:

https://docs.microsoft.com/en-us/azure/storage/common/storage-metrics-in-azure-monitor?toc=%2fazure%2fstorage%2fblobs%2ftoc.json

[2019-04-10 16:57] MicahMcKittrick-MSFT commented on #29158
@jnoller can you take a look at this one? When I apply the json I get an error as well

[code]

[2019-04-10 16:57] #28987 closed

[2019-04-10 17:02] MohitDhingra-MSFT commented on #29140
@Bally-Kahlon
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 17:06] MohitDhingra-MSFT commented on #29141
@squasta
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 17:07] artisticcheese commented on #29070
So how do I access new metrics with powershell? I don't see it mentioned in article.

[2019-04-10 17:08] MohitDhingra-MSFT commented on #29144
@squasta
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 17:09] MohitDhingra-MSFT commented on #29145
@squasta
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 17:11] mikebudzynski commented on #29123
Yes, it's deprecated. Policy examples are available in the GitHub repository: http://aka.ms/apimpolicyexamples

[2019-04-10 17:11] MohitDhingra-MSFT commented on #29147
@gate502
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 17:12] himanshusinha-msft commented on #29002
We have assigned the issue to the content author . They will evaluate & update the document as appropriate.

[2019-04-10 17:13] MohitDhingra-MSFT commented on #29148
@nicolgit
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 17:15] MohitDhingra-MSFT commented on #29152
@mrstage
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 17:17] MohitDhingra-MSFT commented on #29157
@dashap
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 17:19] MohitDhingra-MSFT commented on #29166
@JeffBley
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 17:20] Lycrosa commented on #29158
Here the error if you apply it as a yaml file with kubectl apply -f .\corednsms.yaml
(I named the file differently, that shouldn't matter)

`error: error validating ".\\corednsms.yaml": error validating data: ValidationError(ConfigMap.data): invalid type for io.k8s.api.core.v1.ConfigMap.data: got "string", expected "map"; if you choose to ignore these errors, turn validation off with --validate=fa

[2019-04-10 17:21] MohitDhingra-MSFT commented on #29167
@ptansey
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-10 17:24] faruvalcaba opened #29169 "Notification Hubs SDK 0.6 not found"
If we follow this tutorial as is, gradle won't find the dependency "com.microsoft.azure:notification-hubs-android-sdk:0.6@aar" unless we add this to the app's `build.gradle` module:

`
repositories {
    ...
    maven {
        url "http://dl.bintray.com/microsoftazuremobile/SDK"
    }
}
`

I kindly suggest you add this to this tutorial to make it easier for developers to implement in their projec

[2019-04-10 17:29] jwargo commented on #29169
@spelluru can you please take a look?

[2019-04-10 17:34] spelluru commented on #29169
@jwargo @faruvalcaba

We do have this step in the article: https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started#adding-azure-notification-hubs-libraries

Step 2

repositories {
    maven {
        url "https://dl.bintray.com/microsoftazuremobile/SDK"
    }
}

[2019-04-10 17:39] faruvalcaba commented on #29169
Oh, got it!
Thanks, I probably I saw an old document, because I just migrated from 0.4 to 0.6 and I needed to add those lines.

[2019-04-10 17:44] mike-urnun-msft commented on #28670
Hi @jhealy I've gone through the steps but weren't able to reproduce this issue on the said Edge versions. Although i did notice SignalR connection disconnect intermittently, for example, if you refresh the browser frequently etc.. it might be best to address such issues in samples directly at the repo: https://github.com/Azure-Samples/signalr-service-quickstart-serverless-chat/issues

We will now

[2019-04-10 17:44] #28670 closed

[2019-04-10 17:47] himanshusinha-msft commented on #29169
closed

[2019-04-10 17:47] #29169 closed

[2019-04-10 17:52] tfitzmac commented on #28180
The image has been updated.

[2019-04-10 17:52] tfitzmac commented on #28180
#please-close

[2019-04-10 17:59] #26718 closed

[2019-04-10 18:00] #21910 closed

[2019-04-10 18:01] #21890 closed

[2019-04-10 18:01] SaurabhSharma-MSFT commented on #28994
@stewartadam We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-10 18:01] #28994 closed

[2019-04-10 18:02] #21855 closed

[2019-04-10 18:03] #21460 closed

[2019-04-10 18:05] MartinJaffer-MSFT commented on #29168
Thank you @fgariepy-relation1 for bringing this to our attention.  We will review the document and make changes as appropriate.

[2019-04-10 18:09] mike-urnun-msft commented on #29165
Hi @dlstucki Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-04-10 18:13] ghostbust555 commented on #16997
I am having the same issue using the following query

`aggregate([
{
    $unwind : "$Projections.key_discovery.KeysWithProjectedTypes"},
    {
        $group:
        {
            _id:"$Projections.key_discovery.KeysWithProjectedTypes.Key",
            dataTypes : {
                $addToSet : "$Projections.key_discovery.KeysWithProjectedTypes.StoredDataTypes"
            },
            count: {

[2019-04-10 18:14] himanshusinha-msft commented on #29146
@atullalwani :
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario/issue  .

 If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .

If you have a document which you are following and if you think it n

[2019-04-10 18:15] #24347 closed

[2019-04-10 18:15] #28153 closed

[2019-04-10 18:15] #17516 closed

[2019-04-10 18:16] #28549 closed

[2019-04-10 18:16] #28548 closed

[2019-04-10 18:16] himanshusinha-msft commented on #29159
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-10 18:18] Adam-Smith-MSFT commented on #29130
@imeya , The best option to use is **Hot tier**, here are the reasons and advantages for each:
Hot tier is meant for frequently accessed files, for example, you have these files stored for years there, and access them at any time(Frequent access).
Cool tier: is cheaper in storage, but more expensive when accessing files.
Archive tier: is meant for files that are stored in Azure but very rarely acc

[2019-04-10 18:20] vidyanambiar11 commented on #28981
@HJToland3 - Is there any update about the same?

[2019-04-10 18:20] Blackbaud-ChrisBlythe commented on #28679
@axisc Any feedback on this topic/question?

[2019-04-10 18:23] cdelcambre commented on #19163
Links still out of date for  Install the Azure File Sync agent via powershell.

[2019-04-10 18:23] MasterChiefmas commented on #11486
@hannwang1 cmdkey doesn't seem to me like it's functioning with net use mounting anymore?  I've been using it in the very way you are trying to for some time, having SQL Server mount a share as the service account, so that backups can be sent directly to an Azure File Share. It has been working well for a very long time.

Recently, I've been rotating the storage keys in use. I've noticed now that

[2019-04-10 18:25] atullalwani commented on #29146
On MSDN, we already have this question posted by someone else, and they have moved their instance to the VM instead. I am not very sure if moving to VM is the solution to this case.

[2019-04-10 18:26] MicrosoftGuyJFlo commented on #28332
@limjianan can you give me some more clarity around what you are asking us to update?

[2019-04-10 18:29] TravisCragg-MSFT commented on #29107
@KeiroKamioka0000 In most cases, yes you will still have to open the ports. I see that you already closed this issue, if you have further questions, tag me in your reply and I will re-open the issue.

[2019-04-10 18:32] himanshusinha-msft commented on #29156
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-10 18:34] Jnchi opened #29171 "Install the agent using the command line failing: OPINSIGHTS_WORKSPACE_KEY contains unsafe characters"
The OPINSIGHTS_WORKSPACE_KEY contains characters that don't play nicely, e.g., '/', '+', '='; resulting in the installer failing.

I'm using the following command in a script,

[code]

Which results in a popup stating, "Command line option syntax error. Type Command /? for Help."

I can paste the key in during interactive installations, but that defeats the whole purpose.

---
#### Document Detail

[2019-04-10 18:39] Karishma-Tiwari-MSFT commented on #21464
@sonalchhoda Not sure what your question is. If you have feedback on Azure docs, please open a GitHub issue on that specific doc. If you are looking for troubleshooting help, please open a post on [MSDN Azure container services forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureContainerServices) or [Stack overflow](https://stackoverflow.com/questions/tagged/azure-kubernetes) an

[2019-04-10 18:41] bertrandpons opened #29172 "Issue with deploying event trigger to data factory with CICD"
Hello,

I have the following error message when I want to deploy event trigger thanks to ARM template through Azure DevOps pipeline:

[code]

Any idea about how to solve that ?

Thank you !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6

[2019-04-10 18:47] Gamecock opened #29173 "Unable to view logs"
I stopped VM and then came back.  After restarting I was not seeing traffic from the temperature sensor.  Restarting container did not resolve.  Docker logs sees the logs, but iotedge logs has client error.

azureuser@EdgeVM:~$ sudo docker logs 7037ff885ff3
[2019-04-10 18:37:41 : Starting Module
[04/10/2019 06:37:41.184 PM] Main()
Initializing simulated temperature sensor to send 500 messages, at

[2019-04-10 18:50] SaurabhSharma-MSFT commented on #29088
@cap273 I do not think fallback is automatic and you have to perform manual steps once adfs fails.  Please refer to [blog](https://blogs.technet.microsoft.com/undocumentedfeatures/2015/10/09/switching-from-federated-to-cloud-auth-ad-fs-to-dirsyncaadsync-password-hash-sync-or-password-hash-sync-failover/) for the details.

[2019-04-10 18:50] himanshusinha-msft commented on #29164
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-10 18:52] himanshusinha-msft commented on #29160
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-10 18:55] Karishma-Tiwari-MSFT commented on #12973
@BrainSlugs83 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-10 18:55] #12973 closed

[2019-04-10 18:56] himanshusinha-msft commented on #29146
Thank you for taking this issue to our insight, we'd like to work with you further on this issue.
Can you please email us at azcommunity@microsoft.com?
Please provide us with your subscription ID and the URL for this thread.

[2019-04-10 18:57] BhargaviAnnadevara-MSFT commented on #28907
@SeanCLeavitt This is not an effect of the recent fix pushed and is best tracked in a separate issue. I see you did open it [here](https://github.com/MicrosoftDocs/azure-docs/issues/29160) with us. Thanks for letting us know! We shall update it as appropriate.

[2019-04-10 18:57] TravisCragg-MSFT commented on #29096
@j03Martin It looks like they have separated the VNET and Subnet objects so that you can give access permissions to a single subnet. It is likely that access control is done with subnets in the same way it is done with other resources in Azure if you want to test It out!

I am assigning this issue to the author to evaluate and update as appropriate

[2019-04-10 18:57] msmbaldwin commented on #23583
Hi, @nayakshweta & @Rangi-th. We have updated the article to clarify that ADE is only supported on a subset of Azure endorsed distros. See https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-faq#bkmk_LinuxOSSupport. #please-close

[2019-04-10 18:58] Karishma-Tiwari-MSFT commented on #28745
@MikeRayMSFT @cynthn Any suggestions on this? Let me know and I can edit the doc. Thanks.

[2019-04-10 18:59] TravisCragg-MSFT commented on #29110
@cogran I have assigned this issue to the author to evaluate and update as appropriate.

[2019-04-10 19:00] PatrickFarley commented on #24006
@simonech , Any updates with your PR?

[2019-04-10 19:00] sheist commented on #28597
https://passwordreset.microsoftonline.com
You can't reset your own password because password reset isn’t properly set up for your organization.
You must contact your administrator to both reset your password and to check your organization’s setup.

-------

SkuPartNumber
-------------
FLOW_FREE
SPB
O365_BUSINESS_PREMIUM
RMSBASIC

-------

Verified: portal > Billing > Subscriptions
Microsoft 365 Bu

[2019-04-10 19:05] stewartadam commented on #28994
Seems odd we try to exemplify custom branding but leave the example URLs identical to the original branding... As as user it just like it doesn't work.

[2019-04-10 19:10] Gamecock commented on #29173
Docker logs were not lined through in console.
a deployment to delete module and another one to install again resolved.

[2019-04-10 19:16] BhargaviAnnadevara-MSFT commented on #29160
@SeanCLeavitt Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-04-10 19:16] #29160 closed

[2019-04-10 19:17] j03Martin commented on #29096
I will test it out and get back to you.

[2019-04-10 19:19] Gamecock commented on #29173
Error recreated with exception:
        04/10/2019 19:16:33> Sending message: 17, Body: [{"machine":{"temperature":29.629219336146125,"pressure":1.9830756205736093},"ambient":{"temperature":20.856980861330861,"humidity":26},"timeCreated":"2019-04-10T19:16:33.7697309Z"}]

Unhandled Exception: System.AggregateException: One or more errors occurred. (A task was canceled.) ---> System.Threading.Tasks.

[2019-04-10 19:23] vhorne commented on #28977
@ned1313
Updated existing portal article to use www.google.com as the allowed FQDN.
Created a new companion PowerShell article, using the suggested tests.

[2019-04-10 19:26] vhorne commented on #7752
#please-close

[2019-04-10 19:29] himanshusinha-msft commented on #29084
As it appears  we have to engage few other teams to get this resolved .
Can you please email us at azcommunity@microsoft.com?
Please provide us with your subscription ID and the URL for this thread.

[2019-04-10 19:30] Gamecock commented on #29173
After the exception and restart the name changed:
azureuser@EdgeVM:~$ iotedge list
NAME             STATUS           DESCRIPTION      CONFIG
edgeAgent        running          Up 14 minutes    mcr.microsoft.com/azureiotedge-agent:1.0
edgeHub          running          Up 14 minutes    mcr.microsoft.com/azureiotedge-hub:1.0
tempSensor       running          Up 12 minutes    mcr.microsoft.com/azureiot

[2019-04-10 19:30] dlstucki commented on #20479
@clemensv are the details for a "ping" operation missing from the Protocol Reference section?

[2019-04-10 19:33] himanshusinha-msft commented on #29086
@andrealibero . As it appears  we have to engage few other teams to get this resolved .
Can you please email us at azcommunity@microsoft.com?
Please provide us with your subscription ID and the URL for this thread.

[2019-04-10 19:35] marktab commented on #28754
@tomwwagstaff-product

Please look at these documents on retraining:  in short story, Azure ML Studio does not have a "jobs" function, for which one could use Azure Data Factory

https://azure.microsoft.com/en-us/blog/retraining-and-updating-azure-machine-learning-models-with-azure-data-factory/
https://docs.microsoft.com/en-us/azure/data-factory/update-machine-learning-models

Also look at these

[2019-04-10 19:35] HJToland3 commented on #28981
@vidyanambiar11, no response to my query yet, though I asked again just now. I will update this thread as soon as I have detail to share!

[2019-04-10 19:36] SaurabhSharma-MSFT commented on #29152
@mrstage The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-04-10 19:36] #29152 closed

[2019-04-10 19:38] Alberto-Vega-MSFT commented on #29173
@Gamecock I'm sorry to hear that you are facing issues. It looks like you got it resolved?

[2019-04-10 19:38] marktab commented on #29093
@YutongTie-MSFT  my alias is @marktab  (not "marktap", but I've seen this a few times now)

@garyericson  could you look at this document, and edit out dead links?

[2019-04-10 19:44] MartinJaffer-MSFT commented on #29168
I have made the change of "callbackuri" -> "callBackUri"

[2019-04-10 19:44] #29168 closed

[2019-04-10 19:47] TravisCragg-MSFT commented on #7752
@rodrigoffonseca We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-10 19:47] #7752 closed

[2019-04-10 19:50] #28977 closed

[2019-04-10 19:51] Karishma-Tiwari-MSFT commented on #29075
@chaaya Under the [Persistent Volume claims](https://docs.microsoft.com/en-us/azure/aks/concepts-storage#persistent-volume-claims) section, the example is using one of the two initial storage classes.i.e. managed-premium.

![image](https://user-images.githubusercontent.com/20851144/55908808-38a06f00-5b8f-11e9-9c65-db08d9512f0f.png)

The other example with name as managed-premium-retain was for the

[2019-04-10 20:01] katrinsharp commented on #28567
Thanks, I'll check it out!

On Wed, Apr 10, 2019 at 9:57 AM Axel Guerrier <notifications@github.com>
wrote:

--
Best Regards,
Katrin

[2019-04-10 20:06] AjayKumar-MSFT commented on #28892
Alex, Thank you for the clarification and your suggestions. Could you please elaborate the specific requirement for better clarity and focused assistance We have a similar feedback raised on Uservoice -https://feedback.azure.com/forums/263029-azure-search/suggestions/35898856-managed-service-identity-support, you may wish to up-vote the post.
@HeidiSteen, Requesting for further review on this feed

[2019-04-10 20:16] MicrosoftGuyJFlo commented on #28606
Adding update to PR in private repo

[2019-04-10 20:16] PatrickFarley commented on #26261
@gerardEsteve , please confirm you are using the latest API (1.4.4)

[2019-04-10 20:25] SaurabhSharma-MSFT commented on #29167
@ptansey I am not getting any error while executing "Add-AzKeyVaultManagedStorageAccount" cmdlet.  Can you please check the Azure Key Vault access policy and check of your service principal name if it has all the permissions set correctly.  Also, please check if Azure Key vault has "Storage Account Key Operator Service Role" correctly assigned by checking the Access control pane of your storage ac

[2019-04-10 20:27] richbeales commented on #16997
We ended up installing mongo on a tiny VM, a fraction of the cost and more performant (and it works with aggregation). CosmosDB looks great, it just isn't there yet.

[2019-04-10 20:29] Gamecock commented on #29173
Name change is the issue.  `SimulatedTemperatureSensor` became `tempSensor`.  Maybe add a warning in this documentation.

[2019-04-10 20:30] Gamecock commented on #29154
Please close, operator error.

[2019-04-10 20:33] stevestein commented on #27326
@dianascarlett - Thanks for raising this issue. Here are the possible states:

- **Created** - The job execution was just created and is not yet in progress.
- **InProgress** - The job execution is currently in progress.
- **WaitingForRetry** - The job execution wasn’t able to complete its action and is waiting to retry.
- **Succeeded** - The job execution has completed successfully.
- **Succeeded

[2019-04-10 20:41] femsulu commented on #29171
Hi @Jnchi thanks for your comment. Would like to better understand your issue/request. are you asking for an update to the documentation or is this a request for technical support?

[2019-04-10 20:44] MartinJaffer-MSFT commented on #28856
@JasonWHowell  Would you like to take over this issue?  If we are no longer supporting this article, I am unsure what my role here would be.

[2019-04-10 20:44] xyz92 opened #29175 "No message in Microsoft Azure WebJobs dashboard"
I followed this documentation to deploy webjob to Azure and I can see message trace in Application Insights. However, when I check the WebJobs dashboard, I don't see the message. It shows Run command: run.cmd. Could you please let me know the reason?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061

[2019-04-10 20:50] saurabhsuman38 commented on #8416
What was the solution to the problem?

[2019-04-10 20:50] J-E-C commented on #21319
Hi @HJToland3 , we have since completed our migration to Azure SQL and sadly our old environment is not available anymore so I'm afraid I cannot check the permissions on that user.
However, if the "CONTROL_SERVER" role actually provides enough permissions for the specified credentials to complete the live migration I think the error message should not say "The credentials must be a member of the s

[2019-04-10 20:52] ericsampson opened #29176 "Question about partition replication"
The Consistency section of this document is confusing because it makes it sound like if a person chooses to use a partition key/sender, if a given partition is unavailable you will get an error response . But if you enable Geo-replication, isn't each partition replicated and so all replicas of a partition would have to be unavailable in order to not be able to read/write? Thanks

---
#### Document

[2019-04-10 20:54] mzbowe opened #29177 "User Image link bad"
Maybe this is it now?https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-from-user-image

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c12829e-7657-5185-cdaa-cb2146766211
* Version Independent ID: faaf90c8-2670-9de7-f4c8-ce1ec0d292c6
* Content: [Use Azure Resource Manager templates in Azure Stack](

[2019-04-10 21:04] #28606 closed

[2019-04-10 21:06] lenadroid commented on #28856
I have tried to use the new Twitter API and they approve token requests really fast after one applies. I think we don't have to retire the article, and I can update it with relevant information instead. How does this sound?

[2019-04-10 21:16] Karishma-Tiwari-MSFT commented on #28967
@xinzouMicrosoft I found these docs with some info on it:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-connect-to-secure-cluster#set-up-a-client-certificate-on-the-remote-computer
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-security
@aljo-microsoft Can you please share your insights on this one? Thanks :)

[2019-04-10 21:17] gunnarcms opened #29178 "Wrong Autoupdate argument in example"
The example should just say "-AutoUpdate" instead of "-Autopudate $true"

Set-AzVMDscExtension -Version '2.76' -ResourceGroupName $resourceGroup -VMName $vmName -ArchiveStorageAccountName $storageName -ArchiveBlobName 'iisInstall.ps1.zip' -AutoUpdate -ConfigurationName 'IISInstall'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-04-10 21:21] bitsofinfo commented on #29158
ran into the exact same issue yesterday, everything about the command in the doc above is wrong

the file needs to be rename to `corednsms.json` as well.

[2019-04-10 21:29] jnoller commented on #29158
I will dig into the issues filed and work on a docs PR as soon as I free up from current tasks.

[2019-04-10 21:29] Kalyanms1 opened #29179 "Do you have any plan to support running SSIS packages using elastic job agent?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-10 21:37] KeiroKamioka0000 commented on #29113
Since it use update management. The port number 443 should be open.

https://docs.microsoft.com/en-us/azure/automation/automation-update-management#ports

[2019-04-10 21:41] kgremban commented on #29173
@Gamecock Did you deploy the temperature module from the marketplace in the Azure portal, and it got renamed to tempSensor? Or did you use a different template, like one of the Visual Studio Code templates to deploy the module?

[2019-04-10 21:45] JasonWHowell commented on #28856
@lenadroid that's great. I'm optimistic. A little confused what the sunsetting it. apps.twitter.com still says it that way on a banner at the top.

[2019-04-10 21:53] MicahMcKittrick-MSFT commented on #29178
@gunnarcms good find! Seems you do just need to include the parameter now instead of using $true

https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmdscextension?view=azps-1.7.0

I will submit a PR for the fix and once it merges the changes will go live in a few hours

[2019-04-10 21:54] bwren commented on #28894
Good to hear.  Sounds like we can close this one then. #please-close

[2019-04-10 21:55] #29178 closed

[2019-04-10 21:57] edm-ms opened #29182 "Service CIDR Cannot be Changed in Auto-Scale Preview"
It seems you cannot change the service cidr range in the preview. The following command:

az aks create --resource-group AKS --name aks-prod-useast2 --kubernetes-version 1.12.6 --node-vm-size Standard_B1ms --node-count 1 --service-cidr 172.16.100.0/20 --dns-service-ip 172.16.100.10 --enable-vmss --enable-cluster-autoscaler --min-count 1 --max-count 3 --vnet-subnet-id 'myvnetid'

Always throws this

[2019-04-10 21:58] ajinkyaSurve opened #29183 "Created a VMSS, however unable to RDP to the NAT generated IP-Port combinations"
Based on the InboundNAT rules I have, the NAT generated IP and the dynamic port # which in my case are 50001, 50002 and 50004. I am unable to fire a RDP session with the IP-Port combination.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ac55b8-8be8-1f86-e3b1-3fe3f6c340c1
* Version Independent ID: c26d3fc8-b62c-4895-

[2019-04-10 22:01] MicahMcKittrick-MSFT commented on #29183
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-10 22:02] MicahMcKittrick-MSFT commented on #29182
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-10 22:22] tfitzmac commented on #29115
@Charmendar - this is a tricky scenario but there are a couple of approaches you could try.

I tried setting the id under networkSecurityGroup to null, but that produced an error. However, you can set the networkSecurityGroup object to null for items that don't have an nsg. Like:
"networkSecurityGroup": "[json('null')]"

To make that make, you would need to add the if function to test if the varia

[2019-04-10 22:29] YutongTie-MSFT commented on #29093
@marktab Thank you for clarification, sorry for the miss-assignment.

[2019-04-10 22:33] arashaga opened #29185 "Databricks vs AML service."
What is difference between Databricks and Azure Machine Learning service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17f599ac-d343-7fa1-1731-92d5d1fc6dad
* Version Independent ID: a8b2dd21-355e-6e12-f399-63ead7ea76d8
* Content: [What is - Azure Machine Learning service](https://docs.microsoft.com/en-us/azure/machine

[2019-04-10 22:39] gunnarcms opened #29186 "Onboarding VM lists out of date OS"
Section "Onboarding an Azure VM for management with Azure Automation State Configuration", step 6 lists Windows 2008 R2 or later as minimum requirement, this should be updated to include win7 & Linux Debian / Ubuntu as listed here https://docs.microsoft.com/en-us/azure/automation/automation-dsc-overview#prerequisites

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-04-10 22:42] lesley-w opened #29187 "Is there a c# SDK for reading/writing to hierarchical blob storing in Data Lake Gen 2?"
We have existing c# web jobs that currently pull data from external source, process the data and store in Azure blob storage using the WindowsAzure.Storage SDK.
Is it possible to do a similar thing to store data in Data Lake Gen 2? Documentation seems to suggest that you have to manually upload blobs using Storage Explorer or something similar..
---
#### Document Details

⚠ *Do not edit this secti

[2019-04-10 22:46] lesley-w opened #29188 "Is there c# SDK for reading/writing blobs in Data Lake Gen 2?"
We have existing c# web jobs that currently pull data from external source, process the data and store in Azure blob storage using the WindowsAzure.Storage SDK.
 Is it possible to do a similar thing to store data in Data Lake Gen 2? Documentation seems to suggest that you have to manually upload blobs using Storage Explorer or something similar..

---
#### Document Details

⚠ *Do not edit this sec

[2019-04-10 22:50] mattchenderson commented on #28400
Is the idea that you would rely on the name for your app to distinguish them? If that's the case, would using a name on the token acquisition call make more sense? That keeps it to a one-step process.

Just to be clear, with the management endpoint, I was referring to setting the environment variable at config time. Agreed that we don't want the app making these calls itself in normal operation.

[2019-04-10 22:52] Alberto-Vega-MSFT commented on #29154
@Gamecock Thanks for reaching out! No problem.

[2019-04-10 22:52] #29154 closed

[2019-04-10 22:54] JasonWHowell commented on #28856
@MartinJaffer-MSFT please assign to Lena @lenadroid

[2019-04-10 22:56] Mike-Ubezzi-MSFT commented on #27326
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-10 22:56] #27326 closed

[2019-04-10 22:56] Alberto-Vega-MSFT commented on #29161
@Rob-amrc  Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-10 22:58] himanshusinha-msft commented on #29132
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-10 23:13] himanshusinha-msft commented on #29132
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-04-10 23:14] RobBarat opened #29189 "TDE support"
In Cross Feature questions, there is a question :
Do I lose any functionality or capabilities after migration to the Hyperscale service tier
This mentions that TDE is not supported.

On my Hyperscale service, I can see there is a TDE option for a hyperscale database in the options and it is enabled.

Can this be checked? I'm unsure if the documentation may not have been updated after the feature w

[2019-04-10 23:17] Alberto-Vega-MSFT commented on #29077
@AllBecomesGood This issue is related with the sample application. Can you please open an issue on the repository where this is hosted? https://github.com/Azure/azure-spatial-anchors-samples/issues Please add more detail like if you seeing an exception where the anchors are not being saved or any errors? Or what is the response from the service when you request for the anchors?

[2019-04-10 23:26] ShehzadUIT commented on #28308
@stgeorgi . Perfect. I have shared the results of the above command with you on:
https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/Getting-started-with-Windows-Virtual-Desktop/bc-p/433181#M668

[2019-04-10 23:38] himanshusinha-msft commented on #29179
@Kalyanms1  Thanks for reaching out to us , but at this time it does not look like you are referring to a document but future path of a specific product . The repo azure-docs is only for docs which needs updates  . I could suggest you to please post your question at this location https://feedback.azure.com/forums/34192--general-feedback .

Going ahead and closing the issue as of now .

[2019-04-10 23:39] #29179 closed

[2019-04-10 23:41] himanshusinha-msft commented on #29172
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-10 23:45] Adam-Smith-MSFT commented on #29187
Hi @lesley-w,  Blob storage APIs aren't yet available to Data Lake Storage Gen2 accounts. There are currently still no SDKs for Data lake storage Gen2, I'd recommend checking the below link, let me know if this helped:

Source: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues

[2019-04-10 23:45] Alberto-Vega-MSFT commented on #29053
@mysaggar Have you chosen the right option in the section (depending on if your modules are deployed on the same edge device than your Blob Storage or not) ["Connect to your blob storage module"]( https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#connect-to-your-blob-storage-module)

[2019-04-10 23:47] Adam-Smith-MSFT commented on #29188
@lesley-w I replied on issue ##29187. Closing this one since it's duplicate.

[2019-04-10 23:47] #29188 closed

[2019-04-10 23:49] lesley-w commented on #29187
So does that mean we might as well just stick with the traditional blob storage? We were hoping to start a new project using Data Lake Gen 2 but reusing the bulk of our existing blob storage code. Looks like this is not going to be option.

[2019-04-10 23:51] SaltyDH commented on #28400
If names are supported in the AppId component of the call to AzureServiceTokenProvider that could work. The application would get an access denied for the services that do not have their USMI configured and would successfully authenticate for those that do. It would be a little inefficient in that I would have to boot all features of the platform and some would fail to start. They would gracefully

[2019-04-10 23:55] carlfm01 opened #29190 "I can't login over SSH to NC6 instance of a VMSS using unmanaged disks"
It keeps showing that the password is incorrect, already tried resetting it without any luck. Any know issue?
The image that I'm using is called Linux DSVM Ubuntu.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c353c07-72b3-9a2b-2e4b-a79d6b60f07a
* Version Independent ID: 90b738c8-fe64-1657-d834-432c91d93a5b
*

[2019-04-11 00:05] BryanTrach-MSFT commented on #29175
@xyz92 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-11 00:19] Mike-Ubezzi-MSFT commented on #29146
@atullalwani Do you have an [Azure Support Plan](https://azure.microsoft.com/en-us/support/plans/)? If not, we can have one enabled for you to have this specific issue investigated. We need to get this issue to support as this channel is intended to address documentation related content. Azure Support is better served to investigate and address technical issues. Please send your Subscription ID to

[2019-04-11 00:32] TravisCragg-MSFT commented on #29177
@mzbowe Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

@sethmanheim I was able to find https://github.com/Azure/AzureStack-QuickStart-Templates/tree/master/101-vm-create-from-customimage in the Azure Stack Custom Templates which is the closest to this one.

[2019-04-11 00:39] wahyuen commented on #29134
I have attempted this in the portal and had the same issue

`{
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "Conflict",
        "message": "The pricing tier 'ElasticPremium' is not allowed in this resource group. Use this link to lear

[2019-04-11 00:50] Aditya7668 opened #29192 "DSC Configuration Issue while provisioning the Windows virtual Desktop host pool"
My host provisioning will run until Join domain operation and then it's failing at DSC extensions. DSC configuration failed at First session host failed to set target resource is the error..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b1c54-629e-c5e1-d797-081224c2069a
* Version Independent ID: 3a04882e-0625-a1c9-

[2019-04-11 01:05] Charmendar commented on #29115
Thank you very much! I will go with the json('null') option. It would be great if we can use if function throughout the template

[2019-04-11 01:12] WenJason commented on #29052
@AjayKumar-MSFT, that sounds great. Thanks a lot.

[2019-04-11 01:13] DMoonesinghe opened #29195 "Traffic between 2 spokes when Peering is turned on"
A peering is established between two virtual networks. Peerings are not transitive. If you create peerings between:

VirtualNetwork1 & VirtualNetwork2
VirtualNetwork2 & VirtualNetwork3
In this document you say
"There is no peering between VirtualNetwork1 and VirtualNetwork3 through VirtualNetwork2. If you want to create a virtual network peering between VirtualNetwork1 and VirtualNetwork3, you hav

[2019-04-11 01:24] Karishma-Tiwari-MSFT commented on #28975
@rloutlaw I could not find any documentation on this. Can you please share if we are aware of any? Thanks:)

[2019-04-11 01:24] ajayanti1 commented on #17439
@d-mariano - We just updated the table with a new column that contains human readable service plan names (Service plans included (friendly names)).

[2019-04-11 01:26] ajayanti1 commented on #24669
@benpaul4u - We just updated the table with a new column that contains human readable service plan names (Service plans included (friendly names)).

[2019-04-11 01:29] ajayanti1 commented on #24781
@blacktee - We just updated the table with a new column that contains human readable service plan names (Service plans included (friendly names)). ADALLOM is for 'CLOUD APP SECURITY DISCOVERY'; ATA is for 'AZURE ADVANCED THREAT PROTECTION'.

[2019-04-11 02:03] KeiroKamioka0000 commented on #29049
Thanks!!!

[2019-04-11 02:03] #29049 closed

[2019-04-11 02:06] erich-wang commented on #28831
Actually iotedge supports service principal based auth for ACR, which means you could provide service principal that has only limited permission instead of admin when creating deployment for edge device, you may refer to [manage access to your container registry](https://docs.microsoft.com/en-us/azure/iot-edge/production-checklist#manage-access-to-your-container-registry).

[2019-04-11 02:17] rajmusuku opened #29197 "Application needs permission to access resources in your organization that only an admin can grant. Please ask an admin to grant permission to this app before you can use it"
Followed all the steps as mentioned in doc, however I see an issue of admin consent although the storage account was created by me. Here is the error notification.
"_Application needs permission to access resources in your organization that only an admin can grant. Please ask an admin to grant permission to this app before you can use it_"

- Is it required that the registered app would need Admin

[2019-04-11 02:33] euandekock commented on #19578
Is there any update on this? Websockets do work with Linux containers, but if you enable AD Authentication it breaks - this has been an outstanding issue for a while now.

[2019-04-11 02:34] hitesh1907nayyar opened #29199 "Auto scaling not working with VMSS"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue
I have enabled vmss  as per the link: https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#enable-the-cluster-autoscaler-on-an-existing-aks-cl

[2019-04-11 02:47] GitMaggie opened #29201 "Data volume limitaiton when purging log data ?"
Is there a limitaiton for the log volume to be purged ?
Can we purge data for 2 years in one API request ?
Or do we need follow the limitation as below ?
https://dev.loganalytics.io/documentation/Using-the-API/Limits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dd1160d-4337-13eb-bffd-24743ea225ef
* Version Independe

[2019-04-11 03:03] cicorias commented on #27519
code boxes were added so closing. https://github.com/MicrosoftDocs/azure-docs/pull/27752

[2019-04-11 03:03] #27519 closed

[2019-04-11 03:25] antonsw opened #29203 "incomplete registry path"
"Navigate to C:\Packages\Plugins\Microsoft.Azure.RecoveryServices.VMSnapshot\agentVersion and install vcredist2012_x64. Make sure that the registry key value that allows this service installation is set to the correct value. That is, the value of the registry key HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Msiserver is set to 3 and not 4. "

The text above fails to indicate that the "Star

[2019-04-11 03:36] YASWANTHM-MSFT commented on #28933
@EldhoKSuresh, Any update on this?

[2019-04-11 03:41] rupeshprasad commented on #28877
Thanks for the response!

[2019-04-11 03:41] #28877 closed

[2019-04-11 04:17] KetanChawda-MSFT commented on #29163
@simonua Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-11 04:18] RohitMungi-MSFT commented on #29185
@arashaga Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-11 04:19] KetanChawda-MSFT commented on #29176
@ericsampson Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-11 04:26] KetanChawda-MSFT commented on #29192
@Aditya7668 Can you please share the link to the document which you are referring so that we can assign it to the correct team.

[2019-04-11 04:26] SnehaAgrawal-MSFT commented on #29139
@andyjballgit Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-11 04:27] KetanChawda-MSFT commented on #29197
@rajmusuku Can you please share the link to the document which you are referring so that we can assign it to the correct team.

[2019-04-11 04:31] KetanChawda-MSFT commented on #29199
@hitesh1907nayyar Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-11 04:33] d-mariano commented on #17439
Great, thank you!

On Wed, Apr 10, 2019, 21:24 ArunaJayanti-MSFT <notifications@github.com>
wrote:

[2019-04-11 04:34] KetanChawda-MSFT commented on #29186
@gunnarcms Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-04-11 04:36] KetanChawda-MSFT commented on #29189
@RobBarat Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-11 04:39] KetanChawda-MSFT commented on #29195
@DMoonesinghe Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-11 04:40] KetanChawda-MSFT commented on #29201
@GitMaggie Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-11 04:43] KetanChawda-MSFT commented on #29203
@antonsw Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-11 04:43] SnehaAgrawal-MSFT commented on #28957
@kogesaka Thanks again for the update! Apologize for inconvenience! Team is working on it. Meanwhile you can try to authorize using a windows web app in deployment center. Once you authorize with one app you’re authored with all apps.

[2019-04-11 05:14] rajmusuku commented on #29197
https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app

[2019-04-11 05:21] SLdragon commented on #29033
Hi, @jeffbi , our iotedgehubdev 0.8.0 now is support read module twin:
https://github.com/Azure/iotedgehubdev

And this update will be integrated to Azure IoT Edge Extention in the next release.

[2019-04-11 05:39] KetanChawda-MSFT commented on #29197
@rajmusuku Thank you for the details. We will review and provide an update as appropriate.

[2019-04-11 05:44] KetanChawda-MSFT commented on #28923
@keerthig-microsoft Did you get a chance to check above post?

[2019-04-11 05:47] keerthig-microsoft commented on #28923
I added the permissions again and it's working fine now. Thank you

[2019-04-11 05:49] kogesaka commented on #28957
@SnehaAgrawal-MSFT, thank you for contacting immediately.

I hope this problem will be resolved as soon as possible.

There was no problem in the Web App (Windows) environment about the workaround that I contacted, but could not be avoided in the Web App for container (Linux).

[2019-04-11 05:52] KetanChawda-MSFT commented on #28923
@keerthig-microsoft Thank you for the confirmation. I am glad that it worked.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-11 05:52] #28923 closed

[2019-04-11 06:02] StefanSchoof commented on #28831
Thanks. I think this part of the documentation needs a fat red warning, that this is unsecure in a production use case.

[2019-04-11 06:06] andrehe001 commented on #29072
Just checked it and re-installed the latest ml extension. Now, I have the "project" sub-command. Many thanks for help.

[2019-04-11 06:10] blueelvis commented on #28976
@nkiest - Is it possible to add this information (That logs are stored for 90 days in Activity Logs) in that same documentation link which you mentioned?

Also, could you please connect me with someone on the Authorization Team who manages that REST API so that I could get the doubts cleared? Thanks!

[2019-04-11 06:15] mgladi commented on #28909
Hi,
Which facility are you sending the CEF logs on?
Please make sure that the same facility is configured in the syslog forwarding file:
/etc/rsyslog.d/security-config-omsagent.conf

[2019-04-11 06:22] wahyuen opened #29204 "Premium Plan: WEBSITE_CONTENTAZUREFILECONNECTIONSTRING does not seem to support KeyVault integration"
Whilst following the above steps in terms of setting up a Premium plan and setting the `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING ` value to the storage account, I seem to keep running into the following error when I assign it using KeyVault integration (https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-functions-and-app-service/)

I have recreated t

[2019-04-11 06:22] atullalwani commented on #29146
Hi Mike & Himanshu,
We have support Plan and we will bring it up there if it repeats. I need to check internally with the team and will follow up accordingly.
Regarding Azure documentation, it is crystal clear and very helpful.

[2019-04-11 06:23] ravinsp opened #29205 "Device Twin updates/reads throtteling"
In the "Operation throttles" section, it mentions following details for S1 tier:
Twin (device and module) reads: 100/sec
Twin updates (device and module): 50/sec

I need to know whether these numbers are for the entire IoT Hub/unit or per device. For example if I have 1000 devices with each having a twin, will I get throttled if I try to update the 1000 twins at once?

Also how would throttling wo

[2019-04-11 06:26] GitMaggie commented on #29201
Per my tests, there is no query limitation in thie API.

[2019-04-11 06:26] #29201 closed

[2019-04-11 06:29] #29146 closed

[2019-04-11 06:36] bespinfw opened #29206 "Missing Credential Pattern for Azure Data Lake Storage Gen 2"
Hi,
I try to access data from ADLS Gen 2, which should be possible as referenced in blogs and on EXTERNAL DATA SOURCE (https://docs.microsoft.com/ko-kr/sql/t-sql/statements/create-external-data-source-transact-sql?view=sql-server-2017).
I try it with the variant of ADLS Gen 1, creating an AAD service principal.

But I run into authentication errors while creating the EXTERNAL TABLE:

Msg 105019, L

[2019-04-11 06:42] BryanTrach-MSFT commented on #28768
@jfayatkim The process is the same except the JSON snippet will look like the below example.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[code]

[2019-04-11 06:42] #28768 closed

[2019-04-11 06:46] bespinfw commented on #29206
I just checked something and can confirm that it is working with the 'Blob Storage' method below.

But only if the location is set to abfs**s** (secure access) which is not correctly reflected in the code excerpt in the SQL Server documentation: https://docs.microsoft.com/ko-kr/sql/t-sql/statements/create-external-data-source-transact-sql?view=sql-server-2017

I tried it before only with 'abfs://'

[2019-04-11 06:54] KetanChawda-MSFT commented on #29204
@wahyuen Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-11 06:57] RohitMungi-MSFT commented on #29072
@andrehe001 We are glad it worked for you. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-11 06:58] #29072 closed

[2019-04-11 06:58] limjianan commented on #28332
@MicrosoftGuyJFlo depends, my recommendation is to change the title to
changing the subject from
"How To: Set up SharePoint Online and Exchange Online for Azure Active Directory conditional access"
to
"Block legacy authentication to Azure AD when using ADFS with conditional access"

and
from "How to: Block legacy authentication to Azure AD with conditional access"
to
"How to: Block legacy authenti

[2019-04-11 07:02] RohitMungi-MSFT commented on #28960
@passwordWindows We will now proceed to close this thread as @ram-msft was able to run it successfully without such message or warning. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-11 07:02] #28960 closed

[2019-04-11 07:13] csnarain opened #29209 "Wording"
There is a line in the document that says "To initially sign the user into your app, you can send an OpenID Connect authorization request". Should this not be authentication request since OpenID supports only authentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0884d3-263f-9913-7b8c-170d8092baa2
* Version I

[2019-04-11 07:16] TormDK commented on #27331
Hi Saura

I hope you are doing well.

It's been a cool month so far, how are we doing on deciding on the wording/product features?

Kind regards,

[2019-04-11 07:25] ravinsp opened #29210 "Device-to-cloud sends quota with message size"
In the "Operation throttles" section, it mentions 12/sec/unit for S1 tier. Is this with assuming the 4KB message size mentioned at the beginning of the article?
For example if I have 1KB messages, does it mean I can send 48/sec/unit or still 12/sec/unit?
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec6fc6a5

[2019-04-11 07:34] Masahigo commented on #28250
I couldn't agree more with @christianrondeau and @oaas.

Based on this documentation I have no idea whatsoever how to accomplish a simple exclusion for specific request urls. I hope MS provides more thorough examples asap.

[2019-04-11 07:35] Lycrosa commented on #29158
@bitsofinfo I ran it as json and as jaml. The error message stays the same:
 kubectl apply -f .\corednsms.json

`error: error validating ".\\corednsms.json": error validating data: ValidationError(ConfigMap.data): invalid type for io.k8s.api.core.v1.ConfigMap.data: got "string", expected "map"; if you choose to ignore these errors, turn validation off with --validate=false`

I am by the way intere

[2019-04-11 08:01] Kajaaa opened #29211 "When will version 654 be available on portal?"
This is the error I am getting:

Microsoft.ServiceFabric/clusters 'sfc-gofywm54n5jwe' failed with message '{

  "error": {

    "code": "InvalidClusterVersionSelected",

    "message": "Version '6.4.654.9590' is not valid. Available versions are 6.4.617.9590 6.4.622.9590 6.4.637.9590 6.4.644.9590  for current version .",

    "details": []

  }

}'

---
#### Document Details

⚠ *Do not edit this s

[2019-04-11 08:07] navyasric commented on #19646
This should be addressed in the tutorial by this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/72784

[2019-04-11 08:22] femsulu commented on #28656
The confusion appears to be fixed. please let us know if there are any parts of the doc that may not be clear.

[2019-04-11 08:22] #28656 closed

[2019-04-11 08:22] TomasHubelbauer commented on #29063
So can the doc that I linked to be fixed so that the link works? Is the link supposed to lead to the doc you linked?

[2019-04-11 08:23] TomasHubelbauer commented on #29063
Can the page I referenced originally be fixed? Is it stored elsewhere public or can you relay this bug report internally? There is still a broken link on it. The broken link is supposed to lead to the page you provided?

[2019-04-11 08:40] robin-parker opened #29213 "Index policy 'none' not compatible with a default TTL"
When I configure the index policy to 'none', I get an error "Indexing mode value cannot be 'none' when 'defaultTtl' is specified in the collection".
Would it be possible to enhance the documentation to explain how to specify a default TTL for a collection that is being used for key-value storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-04-11 08:57] ronitr commented on #22492
#please-close

[2019-04-11 08:59] ohadbitt opened #29214 "Client tool"
It says here that there is a client tool - but no link to it and i can't find it .. is it not done yet ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage Lifecycle](https://docs.micro

[2019-04-11 09:18] YASWANTHM-MSFT commented on #29214
@ohadbitt, Thanks for the feedback!I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-11 09:26] gerardEsteve commented on #26261
I am using the API that was available a month ago, com.microsoft.projectoxford:face:1.4.3
I will update it now and tell you guys if it works on my project in API 22 with this new version of Face.

[2019-04-11 09:29] femsulu commented on #28678
@MGoedtel  - can you confirm Linux is indeed supported per snippet below?
![image](https://user-images.githubusercontent.com/34327711/55946441-94a3db80-5c01-11e9-8fd0-0770485d77db.png)

[2019-04-11 09:33] femsulu commented on #28909
@smultani any update to the question above? Is this still an issue?

[2019-04-11 09:43] mkumaraz opened #29215 "Script doesn't execute, I had changed $ServicePrincipalConnection to $conn to make it work."
# Ensures you do not inherit an AzureRMContext in your runbook
Disable-AzureRmContextAutosave –Scope Process

$Conn = Get-AutomationConnection -Name AzureRunAsConnection
Connect-AzureRmAccount -ServicePrincipal -Tenant $Conn.TenantID `
-ApplicationId $Conn.ApplicationID -CertificateThumbprint $Conn.CertificateThumbprint

$AzureContext = Select-AzureRmSubscription -SubscriptionId $ServicePrincipalC

[2019-04-11 09:48] femsulu commented on #28976
adding @tfitzmac to see if he has any contact on the Authorization team.

@blueelvis this [content](https://github.com/MicrosoftDocs/azure-docs/issues/28909) already covers log retention and is easily discoverable on the public domain. Any reason why would prefer it to be linked to the originally referenced doc?

[2019-04-11 09:58] tomwwagstaff-product commented on #28754
Hello @marktab,

Thanks this is really helpful - so the bottom line is there is no way to schedule that update in Azure ML Studio itself, but I could schedule it elsewhere e.g. in Data Factory

[2019-04-11 10:07] femsulu commented on #29108
@bwren, any idea who can assist with this?

[2019-04-11 10:09] MangeshDange commented on #22856
Hello Team,

@TravisCragg-MSFT : When we say different vnet instances can be placed under APP G/W. But after global peering the Vnet from different region(e.g Instance in "east us" and app g/w in "west us"). I'm still not able to add the VM's to application g/w.

Do we have to more specific with configuring the Peering?

Please assist.

[2019-04-11 10:14] TheRegan commented on #27831
I've written an updated version of this using the officially supported MongoDB Go Driver here: https://medium.com/@The_Regan/how-to-use-azure-cosmos-db-with-golang-using-mongodbs-official-go-driver-ccbb5db54c46

[2019-04-11 10:18] Rob-amrc commented on #29161
@Alberto-Vega-MSFT I've opened an issue as requested.

Thanks.

[2019-04-11 10:23] shabirjan opened #29216 "Type"
Subnet : myAGSubnet was used for creating Subnet while creating VNet.
But while creating VM1, BackendSubnet name was used. So I think this is type. Instead of BackendSubnet it should be myAGSubnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d304d03-8d1a-9638-bff4-6b2af687a80b
* Version Independent ID: 90892d89-322

[2019-04-11 10:32] blueelvis commented on #28976
@femsulu - I think the link you provided is un-related. This information would be helpful because it tells that the *activity log* itself stores the data only for 90 days. The retention using Storage accounts or Event Hubs is a separate topic. If this information is already out there, please provide me with a link to it.

Otherwise, I would be happy to submit a PR to add a one liner to the doc sta

[2019-04-11 10:36] raluca256 commented on #26494
@TravisCragg-MSFT - Mjuza is right, the $cred variable from Get-AzureStackLog command cannot be built inside of the PEP session, because the commands Get-Credential or the one need to build the password are not available in the locked PEP session.
The script should be:
$CloudAdminCred = Get-Credential -Message "Enter Cloud Admin Credentials"
$session = New-PSSession -ComputerName "<ERCS VM-name/IP

[2019-04-11 10:37] bertrandpons opened #29217 "Powershell script "to stop and restart triggers and clean up""
Hello,

Question based on the following documentation: https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#sample-script-to-stop-and-restart-triggers-and-clean-up

When I run the script to delete old pipelines, etc... , if ever I have one pipeline referencing another one, I get an error :

`The document cannot be deleted since it is referenced by "TestPipelineRefe

[2019-04-11 10:38] raluca256 commented on #26494
Correcting the lines ():
Invoke-Command -Session $session -ScriptBlock {Get-AzureStackLog -FilterByRole SeedRing -OutputSharePath "<path>" -OutputShareCredential $using:RemoteShareCred}
Invoke-Command -Session $session -ScriptBlock {Get-AzureStackLog -FilterByRole SeedRing -OutputSharePath "<path>" -OutputShareCredential $args[0]} -args $RemoteShareCred

[2019-04-11 10:38] raluca256 commented on #26494
Apparently < path > is removed from my comments.

[2019-04-11 10:54] sergaz-msft commented on #29205
@ravinsp Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-11 10:55] MarwanNour opened #29219 "Dequeing from Queue error"
So I'm writing a python script to dequeue some messages from the queue and then print them. It's usually working fine but it's sometimes giving me this error:
TypeError: can only concatenate str (not "NoneType") to str

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59cdec64-6b86-6e2b-db74-5952d825bea4
* Version Indepen

[2019-04-11 10:55] sergaz-msft commented on #29210
@ravinsp Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-11 11:03] iamthecloudguy commented on #20222
i am also facing same issue, it is not installing the antivirus and extension status shows Provisioning succeeded

[2019-04-11 11:11] loopfish commented on #28732
ok, thanks for finding that out for me

closing this issue now

[2019-04-11 11:11] #28732 closed

[2019-04-11 11:12] Aditya7668 commented on #29192
![dsc error](https://user-images.githubusercontent.com/49502220/55953061-21ae5b00-5c29-11e9-8db6-25426117e95e.PNG)
Attached is the error

[2019-04-11 11:21] mvinicius563 commented on #29167
I am having the same issue with "Bad request". I have verified that Azure Key Vault has the right assigned role for the relevant storage account, and that the right access policies are set appropriately (full management permissions for keys, secrets, and certificates).
I suspected that it was because the vault was on a different subscription than the storage account, but I've tried with one storag

[2019-04-11 11:30] iamthecloudguy commented on #15069
here is my working code -->

virtual_machine_name = "DC-01"
publisher = "Microsoft.Azure.Security"
type = "IaaSAntimalware"
type_handler_version = "1.1"
auto_upgrade_minor_version = "true"

settings = <<SETTINGS
{
"AntimalwareEnabled": true,
"RealtimeProtectionEnabled": "true",
"ScheduledScanSettings": {
"isEnabled": "true",
"day": "1",
"time": "120",
"scanType": "Quick"
},
"Exclusions": {
"Extens

[2019-04-11 11:31] pedromartins4 opened #29222 "Unclear proxy settings"
Where it reads "The self-hosted integration runtime uses the proxy server to connect to the cloud service." regarding proxy settings, it should be clear proxy settings affect BOTH inter and intra-net connections: to the cloud AND to in-house servers/services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202

[2019-04-11 11:32] pedromartins4 commented on #29222
In detail note https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fdotnet%2Fapi%2Fsystem.net.webproxy.bypassproxyonlocal%23System_Net_WebProxy_BypassProxyOnLocal&amp;data=02%7C01%7Cv-pedrma%40microsoft.com%7C8ce3698259ed47c2dac008d6be709542%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636905788087358048&amp;sdata=KynvoBiKo%2FFC0qnpPbJ7BbSUcw1VxCIQsUss39Gd

[2019-04-11 11:43] DixitArora-MSFT commented on #28980
@KeldOelykke I have assigned this to content author to review and update as appropriate.

[2019-04-11 11:50] KetanChawda-MSFT commented on #29192
Hello @Aditya7668, The intent of this repository is to provide the feedback related to the document. I am not sure which document you are following and getting this error. Can you please share the link of the document so that I can assign this issue to the correct team to help you.

[2019-04-11 11:53] KetanChawda-MSFT commented on #29211
@Kajaaa Thank you for the feedback. Can you please share the link of the document so that I can assign this issue to the correct team to help you.

[2019-04-11 11:57] KetanChawda-MSFT commented on #29217
@bertrandpons Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-11 12:00] KetanChawda-MSFT commented on #29206
@bespinfw Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-11 12:02] KetanChawda-MSFT commented on #29209
@csnarain Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-11 12:03] KetanChawda-MSFT commented on #29213
@robin-parker Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-11 12:05] KetanChawda-MSFT commented on #29215
@mkumaraz Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-11 12:08] msrini-MSFT commented on #29216
@shabirjan , Application gateway and the VMs are deployed in different subnets.

Application gateway --> myAGSubnet
Vm --> BackendSubnet

Can you explain your ask here?

[2019-04-11 12:10] litvinolek commented on #29087
Hi! Do you have any thoughts on this?

[2019-04-11 12:14] shabirjan commented on #29216
Ok But it was never mentioned in the steps. So that's why the confusion.

[2019-04-11 12:17] msrini-MSFT commented on #29216
@shabirjan , hope that answers your question.

[2019-04-11 12:17] #29216 closed

[2019-04-11 12:23] Jnchi commented on #29171
An issue is just what it sounds like; a problem discovered while following the documentation. In either case it doesn't work as expected.

[2019-04-11 12:43] msrini-MSFT commented on #29190
@carlfm01 , Thank you for your feedback. Will take a look and respond back shortly.

[2019-04-11 13:14] kamilbednarz opened #29223 "Missing support for some languages in Detect"
Hey there,

We use Translator API for detecting language of the message content and I noticed that the API V3 drops support for several languages.

Languages that worked in V2, but they are removed from the list of supported languages:
* Armenian - it was detected by V2 as `hy`.
* Georgian - it was detected by V2 as `ka`,
* Khmer - it was detected by V2 as `km-KH`,
* Lao - it was detected by V2 as

[2019-04-11 13:20] DavidHBaur opened #29224 "MDM and Win10 Servicing"
MDM does not cover even half of the Systems Management Support capabilities provided by SCCM. Touting MDM all the time to those of us that know better, seems like Microsoft does not get it. I think MDM and SCCM are both needed, as Imaging is not an MDM feature, along with the detailed capabilities of SCCM. The Pipe Dream of Windows 10 Servicing (I say pipe dream as, We would love to be able to do

[2019-04-11 13:23] Imroath commented on #8461
The documentation and your comment suggest that SF Azure File Volume Driver will work on Windows 1709 or above. It says nothing about container operating system constraints (it does not say "Only for Linux Containers")

But I followed the documentation precisely and I am not able to use SF volume driver on Windows 10 [Version 10.0.17763.437] with Windows containers. Instead, I get plenty of errors

[2019-04-11 13:32] strohne commented on #28573
@YutongTie-MSFT Thanks to your engineers we have a solution. The correct way for specifying models is:

`"models": [{"Id":"<optional acoustic model ID>"},{"Id":"<optional language model ID>"}]`

Will you change the documentation?

Thank you so much for your support, I really appreciate it.

[2019-04-11 13:38] CeciAc opened #29225 "VNET Integration outdated?"
@Spagoot420 commented on [Thu Apr 11 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/280)

I'm pretty sure this part right here is outdated:
https://docs.microsoft.com/de-de/azure/app-service/web-sites-integrate-with-vnet#configure-vnet-integration-with-your-app

First of all, the text at 1. is now called "Click here to manage"
Also the window that pops up looks nothing like what is

[2019-04-11 13:38] CeciAc commented on #29225
Hi team,
I'm moving this here since the user is reporting que documentation is out of date
kind regards

[2019-04-11 13:44] swathiAMD opened #29226 "I want to read an excel into Spark DF"
Hi,

  I want to read some 100s of excel (.xlsx) files from Azure blob storage. I want to read one file at a time. I m able to read the files into panda DF but i want them in Spark DF. But i m facing a lot issues as spark doesn't have lib for accessing excel. I m using Python to write the notebook in azure databricks. Can anyone let me know which would be the best approach to read the excel files?

[2019-04-11 13:47] smultani commented on #28909
@femsulu - just taking a look.
@mgladi - I think my issue is that Carbon Black's CEF forwarder doesn't output all the fields required for the syslog ingestion my the agent.

Example output:
[code]

We don't output a facility. Is there any workaround to get this data into Sentinel using the CEF input?
I appreciate the prompt response from your team!

Thank you

[2019-04-11 13:49] JozoSlejko opened #29227 "Storage account ARM template"
ARM template for storage account seems to have a bug.
When you try to use the default resource group location for the storage account the assignment fails.
Got if working by changing this line:
"defaultValue": "[resourceGroups('ResourceGroup').location]",
To this:
"defaultValue": "[resourceGroup().location]",

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-04-11 13:58] spelluru commented on #25443
I have updated the article.

#please-close

[2019-04-11 14:08] JozoSlejko opened #29228 "How blueprint locks work"
It would be nice to add this information to the article:
The deny assignment is preventing all operations with the * and Action configuration, but allows read access by excluding */read via NotActions.
Also to note that Storage Account key list action ('Microsoft.Storage/storageAccounts/listKeys/action') and other like that will get blocked when using blueprint locks since they are not /read actio

[2019-04-11 14:11] DCtheGeek commented on #29227
@JozoSlejko You are 100% correct and thanks for pointing this out!  I thought I'd reverted all of these, but looks like I missed on.  I'll get this fixed asap!

@MicrosoftDocs/azure-cxp-triage Please assign to me, label 'doc-bug', and #in-progress

[2019-04-11 14:14] Aditya7668 commented on #29192
this is the link https://github.com/Azure/RDS-Templates/tree/master/wvd-templates/Create%20and%20provision%20WVD%20host%20pool

[2019-04-11 14:15] prudx commented on #29102
sorry, i had an error in my azure app service, when i pressed enter to save the external url redirect, it did not save, causing me to think it had. After refreshing the redirect link was wrong, this was causing the issue.

[2019-04-11 14:15] #29102 closed

[2019-04-11 14:20] mrstage opened #29229 "Hierarchical view not available"
Step number 2: Choose Hierarchical view (preview), and then under Tenant Root Group, click Edit settings

This view is not available anymore, rendering the rest of the page incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ecc186b-cbfd-1c4e-fc2e-165883dc0a02
* Version Independent ID: 207f8456-0e71-c5c6-ddbd-88

[2019-04-11 14:42] KetanChawda-MSFT commented on #29192
@Aditya7668 Thank you for providing the link.

Please refer [this document](https://docs.microsoft.com/en-in/azure/virtual-desktop/create-host-pools-arm-template) to create a host pool with an Azure Resource Manager template

[2019-04-11 14:42] BeMor81 opened #29230 "Labelling multiple words including ones marked as keyPhrase"
Similar issue to https://github.com/MicrosoftDocs/azure-docs/issues/27389#event-2215701472 except I need to include one of the words marked as keyPhrase which doesn't seem possible using the documented technique. Also, it's not mentioned which version should be cloned when continuing with the same app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-04-11 14:47] simonech commented on #24006
Hi, yeah, sorry, working on it during the weekend.

On Wed, Apr 10, 2019 at 9:00 PM Patrick Farley <notifications@github.com>
wrote:

--
Simone Chiaretta
Microsoft MVP ASP.NET - ASPInsider
Blog: http://codeclimber.net.nz
RSS: http://feeds2.feedburner.com/codeclimber
twitter: @simonech

[2019-04-11 14:56] fmms opened #29231 "Change name of adf_publish branch"
Hi,

how can I change the name of the branch where the ARM templates are stored on publish (i.e. the one that is named adf_publish by default)?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [Continuou

[2019-04-11 14:56] j03Martin commented on #29096
I tested adding a new role assignment like any other resource, using the New-AzRoleAssignment command:

Set-AzContext -Subscription <SubscriptionID>
New-AzRoleAssignment -ResourceGroupName <ResourceGroupName> -ResourceName <ResourceName> -ResourceType "Microsoft.Network/virtualNetworks/subnets" -RoleDefinitionName "Reader" -ApplicationId <ApplicationId>

I get the error:
New-AzRoleAssignment : The

[2019-04-11 15:01] bitsofinfo commented on #29158
i'm running kubectl v1.13.4 against AKS 1.12.7 w/ this file and it works

`kubectl apply -f test.json`

[code]

[2019-04-11 15:03] FlorianBB opened #29232 "OpenVPN W10 Error"
Hello, I followed your procedure with a self-signed certificate and i get this error :  "Cipher algorithm 'AES-256-GCM' not found". It works with IKev2. Have you ever had the problem ? Thanks in advanced

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f36e0264-e439-92d2-7862-096c3fffe2a8
* Version Independent ID: 010d36

[2019-04-11 15:15] StefanSchoof commented on #28831
@erich-wang
You say:

In which step would this done? If this replacement is done in the "Build module images" step in the build the secret would be part of the build artifact. I had written a powershell script taking a secret var in Azure DevOps and write it into the json directly before the "Depoly to IoT Edge devices"

[2019-04-11 15:21] justimorris opened #29233 "Terms of use?"
In the screenshot above the terms of use field states that it's only for Cloud Solution Provider sales. However in the Cloud Partner Portal this statement is not shown. Can you confirm whether CSP is required to use your own terms of use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e6aba9e-03e6-9955-8f58-c3e32494d9

[2019-04-11 15:28] diberry commented on #29230
@BeMor81 The word you want to include - is that part of the tutorial? Which word or utterance? When you import an app, you are only importing a single version of the app so the versions list should only have a single item in it to clone.

If you are having issues with a prebuilt entity (any prebuilt entity) overlapping text so that you are not able to select text to mark with a custom entity, you

[2019-04-11 15:38] markarnolditpro commented on #22088
The embedded note

suggests that there are plans to lift this restriction so the question is around timeline for GA.

[2019-04-11 15:44] DashleenBhandari-MSFT commented on #28823
@wahyuen

Depending on the features that we are using from Video Indexer, we may be able to just use the VideoAnalyzerPreset from Media Services directly.  Video Indexer itself is built on top of this.  It doesn’t have as many features as VI provides but if the we don’t need those features this would give us a fully ARM based solution.

If that is an option for you, https://docs.microsoft.com/en-u

[2019-04-11 15:44] DixitArora-MSFT commented on #29142
@ShBansal22 Settings seems to be correct. Follow the Performance and scale in Durable Functions (Azure Functions) [doc](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-perf-and-scale) which discuss about these in detail.

[2019-04-11 15:51] BeMor81 commented on #29230
Thank you for your prompt reply. With regards to which version to clone, the instructions are a little ambiguous as it states "Continue with the app created in the last tutorial, named HumanResources." but then directs to to download and import the file again.

For example when I create an utterance example "Move Dave C. Cooper from Redmond to New York City" Cooper is marked as keyPhrase with no o

[2019-04-11 15:53] qianw211 commented on #29233
@justimorries Here's the answer to your questions.  Thanks!

What the tooltip is intended to articulate is that the Standard Contract terms cannot be used for the CSP channel, so the publisher must upload terms and conditions for that channel even if they select the Standard Contract.

We are working on changing this so that the Standard Contract is supported in CSP, but the timing is not confirme

[2019-04-11 15:59] justimorris commented on #29233
Thanks for clarifying. So to confirm, a non-CSP publisher can include their own procurement T&Cs?

[2019-04-11 16:02] #29227 closed

[2019-04-11 16:26] sethmanheim commented on #29177
@mzbowe @TravisCragg-MSFT Thank you for catching this -- I've just submitted a pull request to update the link. #please-close

[2019-04-11 16:27] garyericson commented on #29185
@arashaga - Hi, thanks for the question. The information in this article may get you started: [What are the machine learning products at Microsoft?](https://docs.microsoft.com/en-us/azure/architecture/data-guide/technology-choices/data-science-and-machine-learning?toc=%2Fen-us%2Fazure%2Fmachine-learning%2Ftoc.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json). Basically, Azure Machine Learning service i

[2019-04-11 16:38] alch-msft commented on #28865
Adding Academic API support.

On Fri, Apr 5, 2019, 10:13 PM BhargaviAnnadevara-MSFT <
notifications@github.com> wrote:

[2019-04-11 16:38] aljo-microsoft commented on #28065
@cveld
From referenced doc:
"DNS service for Service Fabric services (DNS service is supported for containers on Linux)"

In the future if you identity an issue or error in the content; please open an issue against it the appropriate doc. The content referenced is without known error. Supported scenarios are documented, and samples are available to demonstrate success:

https://github.com/Azure-Sa

[2019-04-11 16:44] ckarras opened #29235 "How to communicate with Graph API using an administrator account (for interactive, run-once tasks)"
The article says there are two modes that can be used to call the Graph API:
- "For interactive, run-once tasks, you should act as an administrator account in the B2C tenant when you perform the tasks."
- "For automated, continuous tasks, you should use some type of service account that you provide with the necessary privileges to perform management tasks"

The article shows only the second case.

[2019-04-11 16:44] DarrinEide commented on #28865
Hello Dave,

The W attribute represents individual words from the title of a paper, so it does not include spaces. You can create a query that returns papers that has specific words, e.g. And(W='word1',W='word2,...W='wordN'), however this doesn't allow you to specify the order the words appear in the title.

Unfortunately finding a specific sequence of words inside of a title is not currently poss

[2019-04-11 16:48] Adam-Smith-MSFT commented on #29130
@imeya Does the above help regarding your question ?

Thanks,
Adam

[2019-04-11 16:48] Adam-Smith-MSFT commented on #29130
@imeya Does the above help regarding your question ?

Thanks,
Adam

[2019-04-11 16:48] Adam-Smith-MSFT commented on #29130
@imeya Does the above help regarding your question ?

Thanks,
Adam

[2019-04-11 16:50] MicahMcKittrick-MSFT commented on #28393
@mshahat thanks for the patience while we looked into this. After working with the product team we did confirm, the aksapp.io domain is only for use with HTTP Application Routing Add-on

[2019-04-11 17:02] v-pugoe commented on #28818
@shashishailaj We have fixed the tutorial and submitted the PR. It should get merged once Jeevan signs off.

[2019-04-11 17:02] MicahMcKittrick-MSFT commented on #28567
I will close this as it is being worked on and there are no changes needed from a doc perspective at this time.

[2019-04-11 17:02] #28567 closed

[2019-04-11 17:04] Jayantha0 opened #29237 "This page needs to be peer reveiwed by another tech writer."
First let me say the writers of this document had a tough job to explain some complicated settings in minute detail.  They  got it right 90%.  But it still has some sections that are very hard to make sense of.
 Due to :
1. Long winded sentences.
2. Run-On-Sentences. (Two sentences running together.)
3. Lack of use of formatting and sub paragraphs to separate concepts.
4. This is a huge body of kn

[2019-04-11 17:11] roygara commented on #27901
@kogesaka Thanks for reaching out. It was removed because with the addition of high throughput block blobs and premium block blobs the original statement doesn't make sense/ doesn't really apply. We'll be updating it with new language soon.

[2019-04-11 17:17] ValerieZoski commented on #11303
https://httpstatuses.com/405
405 Method Not Allowed — httpstatuses.com
F

[2019-04-11 17:18] ValerieZoski commented on #11303
https://en.m.wikipedia.org/wiki/Interstate_405_(California)
Interstate 405 (California) - Wikipedia

[2019-04-11 17:20] Adam-Smith-MSFT commented on #29187
@lesley-w correct, for now it's not supported, I'd recommend staying with blobs till the release of SDKs for DLG2, I'd recommend posting feedback [here](https://feedback.azure.com/forums/327234-data-lake)

[2019-04-11 17:20] #29187 closed

[2019-04-11 17:21] MicahMcKittrick-MSFT commented on #29182
@edm-ms I ran through the steps using your commands and I did not get an error

[code]

That being said, it doesn't look like it took the manual address ranges I applied. So likely a limitation of the preview like you said.

@iainfoulds @seanmck either of you know if this is supported in preview?

[2019-04-11 17:23] MicahMcKittrick-MSFT commented on #29192
Thanks @KetanChawda-MSFT for sharing that link.

@Aditya7668 as mentioned above, see the doc for how to accomplish this.

If you are still having issues, please open a forum post here:

https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/bd-p/WindowsVirtualDesktop

Other users have seen similar issues while this feature is in preview and in tech communities the product team are looking

[2019-04-11 17:23] #29192 closed

[2019-04-11 17:23] BryanTrach-MSFT commented on #29225
@Spagoot420 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-11 17:29] Alberto-Vega-MSFT commented on #29161
Thanks, I see your issue on their repo https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/issues/159
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-11 17:29] #29161 closed

[2019-04-11 17:34] edm-ms commented on #29182
Thanks, so it seems like it is ignoring the commands. As a note you didn't receive the error because you didn't deploy into an existing VNET that overlaps with the default 10.0.0.0/16 CIDR as it did in my VNET. It exhibited the same behavior of only creating the service CIDR as the default.

[2019-04-11 17:35] aljo-microsoft commented on #28521
@MikeChristensen
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-best-practices-infrastructure-as-code

E.G. Use a template

@jakaruna-MSFT #please-close

[2019-04-11 17:37] Adam-Smith-MSFT commented on #29219
The error message means that one of your functions/variables is returning a None value while concatenation (somewhere where you are combining two values (+)) , and it could be that you are casting a  None value to a str value which causes that message. I'd suggest to debug your code by printing your values before doing the concatenation to find out which variable is giving the None value.

[2019-04-11 17:38] SaurabhSharma-MSFT commented on #29224
@DavidHBaur Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-11 17:38] msrini-MSFT commented on #29237
@Jayantha0 , thank you for your feedback. I am assigning this issue to the author to get it fixed.

[2019-04-11 17:39] SaurabhSharma-MSFT commented on #29229
@mrstage Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-11 17:40] MicahMcKittrick-MSFT commented on #29182
@edm-ms yeah good point. Regardless you can't have overlapping address spaces in a single Vnet so the error you got does make sense. But overall it does seem to ignore the commands regardless.

[2019-04-11 17:40] SaurabhSharma-MSFT commented on #29235
@ckarras Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-11 17:41] anavinahar commented on #29237
Hi there, thanks for the feedback, as the product owner I gave the same feedback to the writer who is no longer with Microsoft. I already have this on my to-do list, but the validation from someone apart from me is super helpful!

[2019-04-11 17:41] SalesforeUnicorn commented on #22223
This is also an issue for my organization.  Please advise if the syncing of profiles and roles between Azure and Salesforce is currently supported.  Has anyone been able to successfully sync a custom attribute?  When does Microsoft plan on having a resolution for this matter?

[2019-04-11 17:41] edm-ms commented on #29182
Right. It's the service CIDR that overlaps which is why I tried to change it :/

[2019-04-11 17:41] YutongTie-MSFT commented on #28881
@liangcht
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-11 17:41] #28881 closed

[2019-04-11 17:42] shmahanta opened #29239 "Azure Key Vault for elastic jobs?"
I'm wondering if an Azure elastic job can be assigned an App ID, so that the target databases can grant access to it through settings for their Azure keys?

This question refers to the following doc page, which falls short of answering integration between elastic jobs and Azure key vault:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-jobs-powershell
---
#### Document Det

[2019-04-11 17:42] YutongTie-MSFT commented on #28865
@DaveSimmons1234
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-11 17:42] #28865 closed

[2019-04-11 17:43] YutongTie-MSFT commented on #28893
@JohnStraumann66
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-11 17:43] #28893 closed

[2019-04-11 17:43] AjayKumar-MSFT commented on #25735
@snmn, @kirthiroyadu, As John mentioned, the docs were refreshed, samples and associated tutorials were added. Thanks again for sharing your feedback! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply, we will gladly continue the discussion.

[2019-04-11 17:43] #25735 closed

[2019-04-11 17:44] YutongTie-MSFT commented on #29018
@Crumpeteria This issue was taken by support team. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-11 17:44] #29018 closed

[2019-04-11 17:45] starforce opened #29240 "SCP and Azp aren't returned anymore from the portal"
I have old tokens where the scope and azp would be returned back.  Can you run a policy flow like in your example and see if you are getting them back from the portal? see example below of tokens.

Old token where Scp and azp are returned created token in   2018 works

{
  "iss": "https://login.microsoftonline.com/XXXXXXXXXX/v2.0/",
  "exp": 1539900095,
  "nbf": 1539896495,
  "aud": XXXXXXXX077b-X

[2019-04-11 17:47] YutongTie-MSFT commented on #29017
@Crumpeteria #29018 Please tell us if there is any challenge during the supporting processing.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-11 17:47] #29017 closed

[2019-04-11 17:50] jwargo commented on #25735
@snmn  @kirthiroyadu and here's a link to a doc that describes the current state: https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-gcm-to-fcm

[2019-04-11 17:50] bwren commented on #29108
@femsulu, Shani Nitzan <shanitza@microsoft.com> provided that script and is the one who supports it.

[2019-04-11 17:55] AjayKumar-MSFT commented on #28220
@HUBBER12, Just checking to see if you had a chance to see the previous response, kindly let us know if you need further assistance on this issue with the requested details.

[2019-04-11 18:04] AjayKumar-MSFT commented on #29102
@prudx, Thanks for the update and sharing your findings and solution that helped remedy this issue.

[2019-04-11 18:08] YutongTie-MSFT commented on #28573
@strohne Yes, thank you for sharing this, I am going to fix the document bug. Thank you again.

[2019-04-11 18:09] DJackson625 commented on #22223
I hope this helps.  I was able to get up and running using these settings.

Azure Active Directory/ Enterprise Applications/select app – Salesforce or Remedyforce / Provisioning / Mapping

[cid:image001.png@01D4F06E.B1C9D3D0]

Click on Synchronize Azure Active Directory Users to Salesforce.com

The two attributes I’m using are highlighted
[cid:image003.png@01D4F070.270CF130]

[cid:image004.png@01D

[2019-04-11 18:19] YutongTie-MSFT commented on #29223
@kamilbednarz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-11 18:20] himanshusinha-msft commented on #29228
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-04-11 18:25] himanshusinha-msft commented on #29226
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs to an update , pleas

[2019-04-11 18:34] nkiest commented on #28976
Agreed, I was kinda surprised that this doc did not mention 90 day retention anywhere. Feel free to make the change.

From: Pranav <notifications@github.com>
Sent: Thursday, April 11, 2019 3:33 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nick Kiest <Nick.Kiest@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] For how long does Azur

[2019-04-11 18:36] Arash-Sabet commented on #28140
Can you please post a client JavaScript example which would be able to negotiate with the following function? Please elaborate on how a header can be included in the JavaScript call to be able to communicate with this function to negotiate?

[FunctionName("negotiate")]
public static SignalRConnectionInfo Negotiate(
    [HttpTrigger(AuthorizationLevel.Anonymous)]HttpRequest req,
    [SignalRConnect

[2019-04-11 18:39] JasonFreeberg commented on #18570
Hi everyone, last week we made the following items sticky to the slot:

- IP restrictions
- Always On
- Protocol Settings (HTTPS, TLS version, client certificates)
- Diagnostic log settings
- CORS

We are planning to make the following settings sticky to the slot as well:

- Hybrid connections
- VNet integration
- Service Endpoints
- Azure CDN

[2019-04-11 18:50] Peter-B- commented on #16997
Did you take a look at MongoDb Atlas? You can get a managed instance there. This is where we ended up for now.

True words.

[2019-04-11 18:53] aljo-microsoft commented on #28841
@juho-hanhimaki
If it works for your development, use it.

SF isn't dependent on an editor for production, and official tutorials and guidance docs will be updated when testing completes; not ETA is publicly available.

@MicahMcKittrick-MSFT
#please-close

[2019-04-11 18:54] #28841 closed

[2019-04-11 18:57] eriawan opened #29244 "documentation of "Run a custom Windows container in Azure (Preview)" incorrectly says Windows Server 1809 as LTSC"
The current documentation of "Run a custom Windows container in Azure (Preview)" incorrectly says Windows Server Nano 1803 as LTSC, and this is wrong.

Based on this docs: https://docs.microsoft.com/en-us/windows-server/get-started/windows-server-release-info
The 1809 release should be part of Semi Annual Channel, not LTSC at all.

This incorrect information is under the section of "Use a differen

[2019-04-11 18:58] aljo-microsoft commented on #26714
@Taharez
Recommendation is to use AZ Group Deployment with a template. All Wrapper PS commands are intended to ease the provisioning of non production clusters.

https://docs.microsoft.com/azure/service-fabric/service-fabric-best-practices-infrastructure-as-code

@MicahMcKittrick-MSFT
#please-close the command works as intended.

[2019-04-11 18:59] aljo-microsoft commented on #28521
+1

For fabric settings:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-fabric-settings

@MicahMcKittrick-MSFT
#please-close

[2019-04-11 19:01] #26714 closed

[2019-04-11 19:02] #28521 closed

[2019-04-11 19:02] aljo-microsoft commented on #23408
@MicahMcKittrick-MSFT
#please-close

[2019-04-11 19:02] YutongTie-MSFT commented on #11303
@ValerieZoski Hi, if you are suffering from similar issue or other new issue. Please go ahead to open a new ticket. The original post is too old. Thank you.

[2019-04-11 19:03] #23408 closed

[2019-04-11 19:03] zpappa commented on #16997
Unfortunate reality, but outside of smaller application use cases, metadata stores and the like, I can't justify using Cosmos for anything "big". There's definitely a lot of limitations and issues I've discovered, request rate throttling is one of them, there's another pagination issues (which to MS's credit they are actively working on) with aggregation. It's hard not to understand their point of

[2019-04-11 19:07] ggirard07 commented on #26382
@BryanTrach-MSFT I contacted you at azcommunity@microsoft.com on 3/11/2019 but still haven't got any response...

[2019-04-11 19:22] Arash-Sabet opened #29245 "The document is not clear on how or if it's feasible to send UserId in JavaScript client"
The following paragraph is quoted from this document:

The userId property in the signalRConnectionInfo binding is used to create an authenticated SignalR Service connection. Leave the property blank for local development. You will use it when the function app is deployed to Azure.

When the application is deployed to Azure, we can retrieve the UserId from header by the following technique:

[Sign

[2019-04-11 19:30] Peter-B- opened #29246 "Changes between 1.0 and 1.1 are not documented"
Hello

I can't find the differences between 1.0 and 1.1. Could you please link them here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24cb116a-4ede-1dd1-9e78-f13793eb86ff
* Version Independent ID: 5ffe25a4-ca7c-c589-2a57-c4b64efcbfbb
* Content: [Understand compatibility level for Azure Stream Analytics jobs](https:/

[2019-04-11 19:32] ericsampson commented on #29176
@KetanChawda-MSFT thanks, let me know if I need to clarify the original question, it was kind of hard to word :)

[2019-04-11 19:45] AjayKumar-MSFT commented on #28892
@awws, Alex, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-11 19:45] #28892 closed

[2019-04-11 19:45] dapathy commented on #23408
Was this issue resolved?

[2019-04-11 19:46] Mark7even commented on #17426
Says not configurable beyond 14 days, but your screenshot shows "Skip for 30 days".

[2019-04-11 19:55] MartinJaffer-MSFT commented on #29037
I thought we were talking about the command prompt available in the portal
![image](https://user-images.githubusercontent.com/46612670/55988506-e3c92b00-5c58-11e9-9b36-24ec085d88a9.png)
![image](https://user-images.githubusercontent.com/46612670/55988559-0c512500-5c59-11e9-813b-64a016cfc441.png)

[2019-04-11 19:55] Alberto-Vega-MSFT commented on #29077
@AllBecomesGood Are you still facing the issue?

[2019-04-11 19:56] spelluru commented on #28139
Discussed with @banisadr

We document only supported filters in this article. We decided not to document all the filters that aren't supported.

#please-close

[2019-04-11 19:59] 1SalesforceUnicorn commented on #22223
Thank you so much!

Kimberly Cobb | Salesforce Administrator
Office: 949.288.7373 | Mobile: 951.764.1520
1920 Main Street, Suite 850, Irvine, CA 92614
CoreVest Finance<https://www.corevestfinance.com/> | LinkedIn<https://www.linkedin.com/company/corevestfinance> | Facebook<https://www.facebook.com/corevest> | Twitter<https://www.twitter.com/corevestfinance> | Instagram<https://www.instagram.com/co

[2019-04-11 20:21] Adam-Smith-MSFT commented on #28933
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-11 20:21] #28933 closed

[2019-04-11 20:24] rupeshprasad opened #29248 "Conditionally update value of a custom attribute in password reset user journey"
Can you please help me with below issue.
I have posted it on SO as well.
https://stackoverflow.com/questions/55635985/conditionally-update-value-of-a-custom-attribute-in-password-reset-user-journey

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c33bed9-7e41-92cb-e093-80e5fda0e718
* Version Independent ID: 94d903c4-a70

[2019-04-11 20:29] Alberto-Vega-MSFT commented on #29053
Were you able to resolve this issue? if you are still facing this issue. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-04-11 20:31] ninarn commented on #28941
I am no longer a PM owner for SQL VM. I have reached out to the SQL VM team and am waiting for a response with details. Once I have a response I will share the details.

[2019-04-11 20:33] Adam-Smith-MSFT commented on #28966
@DMoonesinghe Yes your comment is true and correct, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-11 20:39] huaraz opened #29249 "proxy header removal"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-11 20:40] Mike-Ubezzi-MSFT commented on #29213
@robin-parker In looking through this, the only very slight reference that an index policy other than `None` might be required is in the form of a `Note:` on the documentation page where `None` should be used with `access patterns that require ID or self-link only.` It's a stretch but it indicates that without an indexing policy, lookups need to be direct ([Indexing modes](https://docs.microsoft.c

[2019-04-11 20:41] huaraz commented on #29249
Would it be possible to allow header removals in the functions proxy.  Right now the override does not remove existing headers, but only adds headers. e.g. remove x-forwarded-for headers.

Thank you
Markus

[2019-04-11 20:42] MicrosoftGuyJFlo commented on #28332
Ok I will have a conversation with the product team about this and update accordingly.

[2019-04-11 20:42] #29249 closed

[2019-04-11 21:12] MartinJaffer-MSFT commented on #29172
@bertrandpons is this in reference to [the document "Continuous Integration and Delivery"](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment)?

[2019-04-11 21:16] DaveSimmons1234 commented on #28865
Yes this can now be closed. I thought as much. Thanks. D

[2019-04-11 21:18] miaojiang commented on #28613
Updated the doc in PR #72839. #please-close

[2019-04-11 21:20] Mike-Ubezzi-MSFT commented on #29239
@shmahanta Thank you for the inquiry. I am curious if you have Azure Active Directory configured for your Azure SQL Server instance where your Elastic DBs are hosted? If you do, then you might possibly be able to use [Azure AD password authentication](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure#active-directory-password-authentication) in the crede

[2019-04-11 21:23] rimman commented on #29213
We will address it in the docs. Thank you.

[2019-04-11 21:41] MicahMcKittrick-MSFT commented on #29249
@huaraz thanks for reaching out and closing the issue. If you are having issues please give us some details and the link to the doc you are following and we can take a look.

[2019-04-11 21:43] SnehaGunda commented on #24553
@roishillo Apologies for the long delay, we aren't able to repro this issue. We need to debug the issue within your environment, if you need such support please drop an email to askcosmosdb@microsoft.com alias and our dev team can assist.

#please-close

[2019-04-11 21:48] #24553 closed

[2019-04-11 21:56] SnehaGunda commented on #29213
@ThomasWeiss is has some significant updates to the indexing docs, he will cover this in his updates. We have reached out to the dev team to understand the behavior, will post the response soon.

[2019-04-11 21:59] #28263 closed

[2019-04-11 22:00] #29215 closed

[2019-04-11 22:01] georgewallace commented on #28834
@tinodo and @tinod Thanks for reaching out.  This is a great question. I will look into this and see what are all the permissions we may need.

[2019-04-11 22:05] aszalacinski opened #29252 "Needs updating? And would be nice to note what needs to be done to get this to work with Storage Emulator"
The example code for UseAccountSAS required me to use Async code only in VS 2019 and it threw an Auth header error on me when attempting to use against the Storage Emulator. It would be nice if a note could be made in reference to anything a developer needs to do to get the Storage Emulator to work with SAS. Even a note of affirmation that it should just work would be good.

The Create A Service S

[2019-04-11 22:08] SnehaGunda commented on #29063
@TomasHubelbauer these docs are hosted in https://github.com/Azure/azure-docs-rest-apis/, its a private repo so you may nit have access to it by default. I submitted a fix to update the link.

We will close the issue if there aren't additional questions.

#please-close

[2019-04-11 22:22] himanshusinha-msft commented on #29164
@madhanan : We tried to repro this issue , but for us -o option is writing the same info which we see in stdout . Even we did checked the API using Postman and  it also works fine . At this we understand the document and API are working as expected . Since you are getting the correct output which no direction , points to be something to do with curl . We suggest you to reach out to the MSDN and ot

[2019-04-11 22:22] #29164 closed

[2019-04-11 22:26] FrankHu-MSFT opened #29253 "This sample utilizes ADALiOS"
Hello,

This documentation utilizes the ADAL iOS library. Per the cocoapod this library has been deprecated, can we please update the documentation accordingly?
https://cocoapods.org/pods/ADALiOS

Thanks
- Frank Hu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad6a5146-0f19-183e-1d5c-5e5d5644ecd8
* Version Independent

[2019-04-11 22:44] mpchen opened #29254 "What is the retention period if I send logs to Azure Monitor/Log Analytics Workspace"
Trying to figure out whether I need to send activity logs to both storage account and Azure Monitor?

What is the default retention for Azure Monitor Logs? Is it configurable?

[2019-04-11 22:54] JasonWHowell commented on #28775
@scheek looks like we'll need a few weeks to resolve this problem since there is some dev/test work that is outside the docs team.

I'm removing the doc until the script is working again.

Meanwhile, Mono should be preinstalled on HDInsight 3.4 and beyond, so relatively few users should need to install it manually:

https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-component-versioning
ht

[2019-04-11 22:59] dcbrown16 commented on #28613
Thanks @miaojiang !

[2019-04-11 23:01] SnehaGunda commented on #29040
@c-d Thanks for pointing out, looks like this informational message was recently added. I submitted an update to the doc to mention the IP address condition.

We will now close the issue if there aren't any further questions.

#please-close

[2019-04-11 23:13] Juliako commented on #29052
@WenJason, @AjayKumar-MSFT, i fixed the formatting in the topic.
 https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-build-smooth-streaming-apps

[2019-04-11 23:13] Juliako commented on #29052
#please-close

[2019-04-11 23:22] naesevol opened #29255 "What are the password complexity rules with ROPC?"
What are the password complexity rules with ROPC? It does not show up as a configurable option, nor even tell me what they are in the B2C ROPC flow properties.

It seems like it's much weaker than I'd hope, as I'm able to create a password with just lowercase letters and numbers.

I know this is in preview, but any insight into this?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-04-11 23:29] TravisCragg-MSFT commented on #29232
@FlorianBB Thanks for the feedback! I am not aware of a known issue with that error, and I did not get that error when connecting from a Windows 10 machine.

@msrini-MSFT can you assist?

[2019-04-11 23:30] MicrosoftGuyJFlo commented on #29224
So @DavidHBaur what are you suggesting from a documentation perspective? I just recently took over writing duties for the devices content. I am open to feedback on the docs themselves and how I tell a better story or is this more product feedback?

[2019-04-11 23:32] marcosgm opened #29256 "NAT and Nested Virt in migration use-case"
[Enter feedback here]
So Nested Virtualization only works with NAT networking. No possibility for Virtual Networking (https://docs.microsoft.com/en-ca/virtualization/hyper-v-on-windows/quick-start/connect-to-network)
If true ,this blocks migration scenarios where a on-prem cluster of Hyper-V servers need to be migrated to the cloud (for many reasons, like hosting old VMs with unsupported OSs). Tho

[2019-04-11 23:42] SnehaGunda commented on #28982
@rawatsudhir1 thanks for pointing out, I submitted a PR to update the link to point to the latest .Net
 core Tutorial, it's still in preview.

We will close this issue if there aren't further questions.

#please-close

[2019-04-11 23:45] SnehaGunda commented on #28850
This issue is addressed, we will close it now.

#please-close

[2019-04-11 23:48] josuvil opened #29257 "Broken link"
Hello, the "Important" box sends you to a broken link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d200ae83-c846-5051-9391-028ec2d3c1f4
* Version Independent ID: 6b32387f-ee24-8fe0-bd39-a338205ab6a0
* Content: [Username lookup during sign-in authentication - Azure Active Directory](https://docs.microsoft.com/en-us/a

[2019-04-11 23:48] Grace-MacJones-MSFT commented on #28649
Hi @JakubHolovsky, any updates on this issue?

[2019-04-11 23:53] Mike-Ubezzi-MSFT commented on #28982
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-11 23:53] #28982 closed

[2019-04-11 23:53] HJToland3 commented on #28981
@vidyanambiar11, you can use the AWS master user account for the PostgreSQL DB instance as the user account for the PostgreSQL source endpoint for Attunity Replicate. The master user account has the required roles that allow it to set up change data capture (CDC). If you use an account other than the master user account, the account must have the rds_superuser role and the rds_replication role. Th

[2019-04-12 00:08] c-d commented on #29040
Thanks @SnehaGunda, sounds good to me.

[2019-04-12 00:08] #29040 closed

[2019-04-12 00:12] MarileeTurscak-MSFT commented on #29156
@ruijarimba thanks for catching this! Since it is not documented anywhere that the PFX files are case-sensitive here I will report this as a bug.

I was able to reproduce the issue by attempting to upload a capitalized PFX extension to my own Keyvault.

![image](https://user-images.githubusercontent.com/13383753/56003767-fead9680-5c7c-11e9-8853-3c06f3a27e0c.png)

@ruijarimba can we get the documen

[2019-04-12 00:17] nelfer opened #29258 "Question: Post processing Authentication"
Hi,
So I have the authentication working, but now I need to do some additional work (set other cookies for example, create some record in a database, etc) that I would normally do in the POST of my login page after proper authentication. But because now authentication is handled by Azure AD, how can I do this?

The authentication always comes back to the / of the application (regardless of callbac

[2019-04-12 00:29] SnehaGunda commented on #28785
@olesjo The sample works fine on my end too. if you continue to see the issue, can you please send an email to askcosmosdb@microsoft.com alias, one of our devs can get in touch with you. we need to look at your environment to understand the issue.

We will close it here but track within the alias.

#please-close

[2019-04-12 00:31] MarileeTurscak-MSFT commented on #29257
@josuvil
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-12 00:37] Alberto-Vega-MSFT commented on #29205
@ravinsp Please check this post if you haven't yet it is very useful. Specially the part where talks about units https://azure.microsoft.com/en-us/blog/iot-hub-throttling-and-you/

[2019-04-12 00:38] Karishma-Tiwari-MSFT commented on #28975
@Anmolgan81 Currently, we do not have any document specific to migrating elastic search from AWS to Azure. You can create a VM in Azure or move the VM from AWS to Azure and then migrate the data.
I would recommend going through these existing docs and check if it helps.
[Move a Windows VM from Amazon Web Services (AWS) to an Azure virtual machine](https://docs.microsoft.com/en-us/azure/site-recove

[2019-04-12 00:39] Karishma-Tiwari-MSFT commented on #29075
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-12 00:39] #29075 closed

[2019-04-12 00:42] Karishma-Tiwari-MSFT commented on #28967
@xinzouMicrosoft Did that help?
@aljo-microsoft Would you be able to provide more insights on this. Thanks.

[2019-04-12 00:42] MarileeTurscak-MSFT commented on #29240
@starforce
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-12 00:45] MarileeTurscak-MSFT commented on #29253
@frankhu1234
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-12 00:45] MarileeTurscak-MSFT commented on #29255
@naesevol
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-12 00:46] MarileeTurscak-MSFT commented on #29248
@rupeshprasad
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-12 00:46] Karishma-Tiwari-MSFT commented on #29199
@hitesh1907nayyar This issue is same as https://github.com/MicrosoftDocs/azure-docs/issues/24942
As noted in the opening section:

Creating an AKS cluster through the portal doesn't meet these requirements. You must install the aks-preview extension and create the cluster through the CLI. You can do this from the Cloud Shell in the portal if you prefer.

As also noted in the article:

What you're

[2019-04-12 00:46] #29199 closed

[2019-04-12 00:50] SnehaGunda commented on #28742
@reddy-sucharit Information related to versioning, supported commands are documented here: https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-feature-support

The Azure Cosmos DB's API for MongoDB is compatible with MongoDB server version 3.2 by default. The supported operators and any limitations or exceptions are listed below. Features or query operators added in MongoDB version 3.4 are cu

[2019-04-12 00:50] rupeshprasad commented on #29248
Hi- this has been solved.

[2019-04-12 00:50] #29248 closed

[2019-04-12 00:51] MarileeTurscak-MSFT commented on #29147
Guest users are not able to use SSPR.

[2019-04-12 00:51] MarileeTurscak-MSFT commented on #29147
We will now proceed to close this thread. If you have further questions feel free to reach out on MSDN https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-04-12 00:51] #29147 closed

[2019-04-12 00:52] Grace-MacJones-MSFT commented on #29245
Hi @Arash-Sabet, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-12 00:57] Karishma-Tiwari-MSFT commented on #29256
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-12 00:57] Grace-MacJones-MSFT commented on #29244
Hi @eriawan, Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2019-04-12 01:00] MarileeTurscak-MSFT commented on #29257
I created a pull request to add the proper link. https://github.com/MicrosoftDocs/azure-docs-pr/pull/72892

Thanks for catching this, @josuvil

[2019-04-12 01:00] #29257 closed

[2019-04-12 01:04] ravinsp commented on #29205
Thank you. It was a good read. That article explains Microsoft’s reasons behind throttling (which makes sense and completely understandable). It also says “do the math”. But to do the math I need to know information. Unfortunately it doesn’t talk anything exact about device twins at all (which I think is outside the scope of the message it conveys).
So can you help me figure out the exact informat

[2019-04-12 01:11] kogesaka commented on #27901
@roygara, thank you for comment. I understand the contents.

There are many questions (especially in Japan) that the listed performance values ​​do not come out, so I think this decision is correct.

There is no problem with closing this issue as I wait for the update to be done in Japanese.

[2019-04-12 01:18] sdk-bonsai commented on #28520
I wish there was an example, as the syntax is unclear. I tried a few ways, but it doesn't work.

import azure.batch.operations.file_operations as FileOperations
Then, below:

FileOperations.get_from_compute_node(pool_id='<name_of_pool_id>', node_id= '<name_of_node_id', file_path='workitems\myfolder\job-1\Task145\wd\logs', file_get_from_compute_node_options=None, custom_headers=None, raw=False, cal

[2019-04-12 01:21] #29052 closed

[2019-04-12 01:25] MartinJaffer-MSFT commented on #28973
To use the Elastic Search on top of Azure, you will need to set up the resources yourself.  Data Factory can help you migrate any data you have from AWS to Azure services.  The links here detail how to set up the resources, and how to snapshot and then restore the index from there.  The third article seems particularly useful.

https://www.elastic.co/guide/en/elastic-stack-deploy/current/azure-mar

[2019-04-12 01:25] #28973 closed

[2019-04-12 01:26] anrothMSFT commented on #27822
Bugfix shipped april 3
Please close

[2019-04-12 01:30] MartinJaffer-MSFT commented on #29222
Hello @pedromartins4  and thank you for bringing this issue to our attenion.  We will review the document and make changes as appropriate.

[2019-04-12 01:30] wahyuen commented on #28823
Thanks for the detailed response.

We originally started with that comparison link to determine which matched our use cases, hence our choice down the VI path.

Would it be possible to also ask, in lieu of an ARM integration, are there any alternative methods for automatically provisioning a VI account? (API/PowerShell/etc?)

[2019-04-12 01:33] MartinJaffer-MSFT commented on #29222
@nabhishek @craigg-msft  How do you think this should be handled?

[2019-04-12 01:34] MartinJaffer-MSFT commented on #29222
@pedromartins4  I have assigned this issue to the doc author, @nabhishek .

[2019-04-12 01:36] MartinJaffer-MSFT commented on #29231
Hello @fmms and thank you for your question.  We will review the document and update as appropriate.

[2019-04-12 01:38] MartinJaffer-MSFT commented on #29246
Hello @Peter-B- and thank you for your question.  We will review the document and get back to you.

[2019-04-12 02:16] TravisCragg-MSFT commented on #29177
@mzbowe We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 02:16] #29177 closed

[2019-04-12 02:20] TravisCragg-MSFT commented on #22856
@MangeshDange You can add the VMs by the NIC if they are in the same VNET. If your VMs are in a different VNET, you can add them by their Public IP or DNS name using the "IP Address or FQDN" option.

[2019-04-12 02:21] TravisCragg-MSFT commented on #26494
@mjuza @raluca256 Thanks for the info! I have assigned this issue to the doc author to evaluate and update as appropriate.

[2019-04-12 02:42] paulbouwer commented on #25852
@MicahMcKittrick-MSFT, @iainfoulds  - would you mind closing this issue? I don't believe there is anything further to add to the comments above.

[2019-04-12 03:00] #28771 closed

[2019-04-12 03:08] davejdyer commented on #20652
PowerShell is still wrong: PS F:\_BuildHere\Git\AzARM-OnboardVMInsights> New-AzResourceGroupDeployment -Name DeployVMInsights -TemplateFile ARM-OnboardVmInsights.json -ResourceGroupName rg-pw-hub-ops-eastUS -WorkspaceName la-pw-hub-ops-eastUS -WorkspaceLocation EastUS
New-AzResourceGroupDeployment : A parameter cannot be found that matches parameter name 'WorkspaceName'.
At line:1 char:135
+ ... s

[2019-04-12 03:17] KetanChawda-MSFT commented on #29211
@Kajaaa Did you get a chance to look into my previous post. Can you please share the link of the document so that I can assign this issue to the correct team to help you.

[2019-04-12 03:23] YASWANTHM-MSFT commented on #27901
@Kogesaka,  we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-04-12 03:23] #27901 closed

[2019-04-12 03:26] YASWANTHM-MSFT commented on #29252
@aszalacinski , Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-12 04:02] jakaruna-MSFT commented on #29129
@mandarsj is there any update

[2019-04-12 04:12] PramodValavala-MSFT commented on #28839
@swinghouse Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 04:12] #28839 closed

[2019-04-12 04:16] PramodValavala-MSFT commented on #29120
@paulpce I believe the reasoning for non-HTTP triggers is because even if they are deployed to a slot, they are still running. Basically, the function in the staging slot should be using a _staging_ queue or event hub as well before swapping it out for production.

@cgillum @kashimiz Could you confirm and share more insights here?

[2019-04-12 04:17] YutongTie-MSFT commented on #27822
@tzhao2017
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-12 04:17] #27822 closed

[2019-04-12 04:22] scheblein opened #29263 "Error in PowerShell Script"
In the powershell script for: "Quick agent installation in multiple servers" (step 4) there's a mismatched variable - $password should be $myCreds.

incorrect:
Register-AzureADConnectHealthADDSAgent -UserPrincipalName $USERNAME -Credential $password

correct:
Register-AzureADConnectHealthADDSAgent -UserPrincipalName $USERNAME -Credential $myCreds

---
#### Document Details

⚠ *Do not edit this sec

[2019-04-12 04:28] #25852 closed

[2019-04-12 04:30] jakaruna-MSFT commented on #29113
@KeiroKamioka0000 Thanks.

[2019-04-12 04:30] #29113 closed

[2019-04-12 04:34] paulpce commented on #29120
thanks @PramodValavala-MSFT.

I understand the reasoning for non-HTTP triggers, but I'm specifically interested in how to get a "trigger definition [to] derive from an app setting".  Please share an example of how this could be used.

[2019-04-12 04:34] KetanChawda-MSFT commented on #29134
@wahyuen I tried to deploy the Premium plan to an existing Resource Group using the portal and it worked for me in the Australia East region.

I tried with the below ARM template in the existing Resource Group and it is working.

Can you try with the below ARM template and see if that works.

[code]

[2019-04-12 04:40] KetanChawda-MSFT commented on #29254
@mpchen Thank you for posting your question. The intent of this repository is to provide the feedback related to the document. I am not sure which document you are following . Can you please share the link of the document so that I can assign this issue to the correct team to help you.

[2019-04-12 04:41] jakaruna-MSFT commented on #28819
@aungoo-msft Please validate and update the documents as required.

[2019-04-12 04:42] jakaruna-MSFT commented on #29046
@vikramdadwal Please submit a feedback there. Also post the link here for the benefit of the community.

[2019-04-12 04:43] PramodValavala-MSFT commented on #29120
@paulpce I believe its covered in the [`Binding expression patterns`](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns#binding-expressions---app-settings).  The connection strings are already loaded from App Settings too.

I guess a link to this doc here would improve discoverability.

[2019-04-12 04:43] mysaggar commented on #29053
Hi @Alberto-Vega-MSFT
I want to explore the module using the Azure Storage Explorer v 1.5.0 . After linking it via the connection string I am unable to access any blobs and/or create any new blob containers via the storage explorer.
The doubt about the connection string is still unclear as I am making a connection via a separate app and not any module on any device.

[2019-04-12 04:44] jakaruna-MSFT commented on #29046
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-04-12 04:44] #29046 closed

[2019-04-12 04:50] paulpce commented on #29120
@PramodValavala-MSFT great, that's definitely a useful link and things are starting to make more sense, thanks!  Linking to that page would definitely help.

[2019-04-12 04:51] SnehaAgrawal-MSFT commented on #29258
@nelfer Thanks for the question! We are investigating and will update you shortly.

[2019-04-12 04:51] #29063 closed

[2019-04-12 04:54] DixitArora-MSFT commented on #29028
@philrowan-mtb I have assigned this to content author to review and update as appropriate.

@spelluru Just checking if you can provide some input here.

[2019-04-12 04:57] msrini-MSFT commented on #29232
@FlorianBB , Are you trying it from a Mac OS?

If yes, Click on the tunnelblick icon on the menu bar of Mac OSx and then go to vpn details it will show all the settings. Now change OpenVPN version to 2.4.4-OpenSSL v1.0.2l It will work.

[2019-04-12 04:58] SnehaAgrawal-MSFT commented on #28957
@kogesaka Team is working on it and it will resolve soon. Thanks again for bringing this to our attention. Since this is not a document related issue. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-12 04:58] #28957 closed

[2019-04-12 04:59] jakaruna-MSFT commented on #29190
@carlfm01 Itried to deploy a VMSS. When i searched for the image "Linux DSVM Ubuntu", I am unable to find an image.
![image](https://user-images.githubusercontent.com/43405697/56013321-cc984500-5d0d-11e9-9eec-cfd667ee3ed1.png)

Can you verify the image name again

[2019-04-12 05:09] carlfm01 commented on #29190
Hi @jakaruna-MSFT Sorry, I meant Data Science VM

![imagen](https://user-images.githubusercontent.com/32177100/56013617-e6ef0600-5cae-11e9-9b59-45c2161860c0.png)

[2019-04-12 05:18] jakaruna-MSFT commented on #29211
@Kajaaa You can track the service fabric versions from this [Document](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-versions).
New releases will be announces in service fabric team [blog](https://blogs.msdn.microsoft.com/azureservicefabric/). Link to the blog is available in the above document also.

As per this [blog](https://blogs.msdn.microsoft.com/azureservicefabric/201

[2019-04-12 05:44] MJZawacki opened #29265 "javascript blob output example is weak"
This page doesn't tell me anything about the javascript binding types for blobs. The sample is so rudimentary, it doesn't reflect any real life example. Instead you should include a sample that shows how to write binary and text data to blobs when using blob output binding for nodejs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-04-12 05:54] KetanChawda-MSFT commented on #29123
@mikebudzynski The page is linked in the [Policy Document](https://docs.microsoft.com/en-us/azure/api-management/policy-samples).

@dcbrown16 Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 05:54] #29123 closed

[2019-04-12 05:58] KetanChawda-MSFT commented on #29265
@MJZawacki Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-12 06:05] Anmolgan81 commented on #28975
We dont have any vms for elastic search in aws, are you saying move the data on aws elastic search to aws ec2 instance and then to azure vm and then how can we migrate from an azure vm to elastic search?

Regards
Anmol Ganju

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Friday, April 12, 2019 6:08:57 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju;

[2019-04-12 06:08] ShBansal22 commented on #29142
I am not saying these settings are not working correctly. These are working correctly as per the link you shared and impacting the system behavior as well.

But my point is these settings when specified in host.json file are giving me the warnings. I am using visual studio 2017 on my local system. Attached is the screenshot of warning which I am getting. Though the warning is coming but it is work

[2019-04-12 06:17] DixitArora-MSFT commented on #28980
@KeldOelykke This is not configurable and it is the hard limit. I even checked this internally. So for now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 06:17] #28980 closed

[2019-04-12 06:21] bertrandpons commented on #29172
@MartinJaffer-MSFT yes indeed. Triggers topic is not specifically mentioned in the document, but I was assuming triggers were taken into account in a Continuous Integration and Delivery mode.

[2019-04-12 06:27] wahyuen commented on #29134
@KetanChawda-MSFT thanks for that, I've done some more testing today based on your ARM template and have some more observations.

Existing Resource Group Location (Australia SouthEast)
 - deploy using your ARM template targetting Australia SouthEast - **Works**
 - deploy using your ARM template targetting Australia East - **Does not work**
 - deploy using the Azure Portal targetting Australia Sout

[2019-04-12 06:28] DixitArora-MSFT commented on #29142
@ShBansal22 You are not doing anything wrong. It is just that Visual Studio Editor is not reflecting this properly. I agree this should not be the case. We have seen this before with other properties of host.json and we already informed this to respective content author and they are already working on this with Product Team.

[2019-04-12 06:37] ShBansal22 commented on #29142
Thanks for your response

[2019-04-12 06:39] kick23 opened #29266 "automate enable and disable of log analytics alerts during scheduled maintenance"
Hi Team,

Is there any way to enable & disable all alerts created via azure log analytics through runbooks during scheduled maintenance, all documents and scripts i found works only for classic alerts and there are few commands which can disable alerts using cli but those alerts created from azure monitor(metric alerts) but i am not able get alerts created via log analytics, please help me on this

[2019-04-12 06:42] kick23 commented on #29266
Hi Team,

Is there any way to enable & disable all alerts created via azure log analytics through runbooks during scheduled maintenance, all documents and scripts i found works only for classic alerts and there are few commands which can disable alerts using cli but those alerts created from azure monitor(metric alerts) but i am not able get alerts created via log analytics, please help me on this

[2019-04-12 06:49] barracud opened #29267 "Add-AzVhd : The pipeline was not run because a pipeline is already running. Pipelines cannot be run concurrently."
`Add-AzVhd` keeps throwing error whenever I upload my 6+ GB VHD.  I have tried multiple times and it's not working!

Here is my PowerShell command.  All variables are defined properly.

`Add-AzVhd -ResourceGroupName $resourceGroupName -Destination $urlOfUploadedVhd -LocalFilePath $localFilePath`

Here is the full error

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-04-12 06:51] DixitArora-MSFT commented on #29142
@ShBansal22 I miss your previuos screen shot. In the schema section select as below screenshot and see if it helps.
![image](https://user-images.githubusercontent.com/46984568/56017599-69aeaa00-5d1d-11e9-9832-939d5fc8d40c.png)

[2019-04-12 06:51] ruijarimba commented on #29156
Hi @MarileeTurscak-MSFT. Yes IMO it's a bug, we should be able to import the certificates no matter what the case of the extension is (lowercase, uppercase, mixed, ....).

Regarding the documentation I'll leave that up to you, I'm not sure what's the best thing to do here - update the documentation or maybe set a better error message ((for the time being, while this issue doesn't get fixed)) in th

[2019-04-12 06:55] zhiweiwangmsft commented on #29263
#sign-off

[2019-04-12 06:55] YutongTie-MSFT commented on #28891
@Godase Hi, have you check your training data and try to use the random seeds? Thank you.

[2019-04-12 06:57] Godase commented on #28891
@YutongTie-MSFT Hi I cheked my training data but i didn't understood how to set random seeds.
Can you please give me one example? Thank You.

[2019-04-12 07:03] KetanChawda-MSFT commented on #29134
@wahyuen We apologize for the inconvenience you have encountered. Due to the unique characteristics of your issue, we feel it would be best if this issue is worked one on one. Please send your Azure Subscription GUID to AzCommunity[at]Microsoft[dot]com along with the link to this thread and instructions will be sent back for next steps.

[2019-04-12 07:04] SaltyDH commented on #28461
For what its worth, I've just stumbled across this issue because I came to the same conclusions as @hansmbakker and tried to implement the new (preview) vnet integration in a proof-of-concept.

My use case was App Service to Azure SQL Server rather than CosmosDB. I was at least able to find this scenario was actually listed in the limitations section here: https://docs.microsoft.com/en-us/azure/sq

[2019-04-12 07:05] barracud opened #29268 "New-AzDisk fails - Only blobs formatted as VHDs can be imported."
Your steps above do not work!

I followed the example above but `New-AzDisk` fails with my VHD.

I repeated the same example again using a Microsoft-provided "Windows Server 2008 R2 Enterprise Edition x64 (Full Install) VHD" from https://www.microsoft.com/en-us/download/details.aspx?id=2227

Same problem resulted!!!

Here is the command

[code]

Here is the error

[code]

How do we fix this???

--

[2019-04-12 07:12] ShBansal22 commented on #29142
I am sorry, this schema is not working for me. This schema is also accepting two properties "hubName" and "azureStorageConnectionStringName ".
![Capture1](https://user-images.githubusercontent.com/49473335/56018663-55b87780-5d20-11e9-8d05-199d7fabb33b.PNG)

Schema: http://json.schemastore.org/host is also defined for only two properties as per the screenshot below
![Capture2](https://user-images.g

[2019-04-12 07:12] wahyuen commented on #29134
Thanks! Email sent :)

[2019-04-12 07:12] barracud commented on #29267
Why is `Add-AzVhd` so error-prone and unstable?

[2019-04-12 07:20] afnw35342 opened #29269 "Configuring Azure Monitor using ARM/Powershell"
How is Azure Monitor enabled/configured when deploying (new) Logic Apps via ARM & Powershell? The combination of Get-AzOperationalInsightsWorkspace & Set-AzDiagnosticSetting doesn't appear to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94d337ae-4a55-2e0b-7002-afef3c78ba57
* Version Independent ID: a56115e8-5f2

[2019-04-12 07:31] ShBansal22 commented on #29142
In addition to that, I would like to mention that in the screenshot which you shared is not using durableTask property in extensions property object.

If we don't use the durableTask property then other properties will not impact the performance or scaling of system as per their use.

As you are not using durableTask property, so might be because of this you are not getting any warnings but we can

[2019-04-12 07:36] linda33wj commented on #28554
#please-close

[2019-04-12 07:37] linda33wj commented on #21114
#please-close
Feel free to open new issue if you have further question.

[2019-04-12 07:38] smoms opened #29270 "signature with public key - clarification"
"while the kid claim indicates the particular public key that was used to sign the token". Isn't a signature done with private key? Why public key?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6352-9398-13863def9354
* Content: [Azure Active

[2019-04-12 07:41] ShirleyWangMSFT commented on #28558
Hi @jn-altius, thanks for your feedback.  You are right - dataIntegrationUnits is not a mandatory property; when it is not specified or set to '0', it means use the default value which is "Between 4 and 32 depending on the number and size of the files" for file copy between file-based stores and 4 for all other copy scenarios.  Hope that clarifies.  For more details see the doc below:
https://docs

[2019-04-12 07:48] ShirleyWangMSFT commented on #28528
Thanks @Mike-EEE for your feedback.  We will update the docs to include the link to the region list for Dynamics 365.  Please stay tuned.

[2019-04-12 07:51] dcbrown16 commented on #11178
@cynthn just want to check in on this - the disparate column arrangements continue to confuse customers (and support staff), so it would be really nice if that could be made cleaner.

[2019-04-12 07:53] olesjo commented on #28785
I have been able to get this to work after uninstalling the nuget packages, cleaning in Visual studio, and then adding the package. After doing this a couple of times, I was able to get it to work. You can Close this issue now

[2019-04-12 07:53] #28785 closed

[2019-04-12 08:07] kick23 commented on #29266
please help on how to enable or disable all (Log Search Query alerts) loganalytics alerts at once by triggering runbooks

[2019-04-12 08:11] JamesBewley opened #29273 "Need a Section Detailing how to Deploy for Production Environment (letsencrypt-prod & custom FQDN)"
The nginx / letsencrypt document describes how to setup a staging environment for test but doesn't explain how to adapt the instructions for a production environment.

I am only seeing the kubernetes self-signed cert when I try to change from letencrypt staging to production API with a FQDN.  I can't see any errors in the logs for the cert-manager it just doesn't appear to be requesting the cert u

[2019-04-12 08:16] NateB2 commented on #28461
I actually don't think the documentation you listed regarding the vnet limitations is referring to the new vnet integration.  Take a look at this video from MS Ignite 2018.  Relevant bits start at around the 10 minute mark.
https://azure.microsoft.com/en-us/resources/videos/ignite-2018-what-is-new-in-azure-app-service-networking/

![image](https://user-images.githubusercontent.com/1522539/56022439

[2019-04-12 08:18] jamesapicken opened #29274 "Changing SQL Edition"
One scenario where a customer might change their license from PAYG to AHUB is when changing the edition of SQL server, i.e. from Enterprise to Developer. However, changing edition of SQL server is not supported and it might be worth referencing that on this page. https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-server-iaas-faq

Another thing worthy o

[2019-04-12 09:02] DixitArora-MSFT commented on #29142
@ShBansal22 As you have correctly said If we browse to http://json.schemastore.org/host and see the properties under durableTask-extension, we only see hubName and azureStorageConnectionStringName. Other proerties are not there.  So untill [schema](http://json.schemastore.org/host ) have other properties, Visual studio will not resolve or any editor will not resolve those properties.
[code]
This i

[2019-04-12 09:11] smoms opened #29275 "access_token vs ID Token"
for id_token you write "..but it should not rely on them for any authorization or security boundaries.". At this link: https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens you write "ID Tokens should be used to validate that a user is who they claim to be and get additional useful information about them - it should not be used for authorization in place of an access token. "
D

[2019-04-12 09:13] rnsc commented on #23647
Hello @Adam-Smith-MSFT, @silvester747 ,

First, @silvester747 thank you for opening this issue.

@Adam-Smith-MSFT,
This is still a problem, azcopy is not available for Ubuntu 18.04 Bionic.
We're encountering the same issue, we do testing on Ubuntu 14.04, 16.04 and 18.04 and our pipeline breaks on 18.04 because the azcopy package is not available.
I'd expect it to be in that repo now that 18.04 has

[2019-04-12 09:15] DixitArora-MSFT commented on #29142
@cgillum  Any thoughts on this ?

[2019-04-12 09:15] rnsc commented on #14182
Hello @EmmaZhu,

Is there anything blocking Microsoft from release azcopy v8 on Ubuntu 18.04?

Thanks,

[2019-04-12 09:17] shashishailaj commented on #29270
@smoms Thank you for your query. We will have this investigated and update further.

[2019-04-12 09:18] hansmbakker commented on #28461
Well found, @NateB2!

It matches what we're trying to do, in my eyes, too. I'm having the same issue for Azure Storage, btw.

Did you get any offline support through e-mail, yet?

[2019-04-12 09:20] shashishailaj commented on #29263
@scheblein Thank you for pointing this out . We have checked this and the pull request has been initiated to update the document and it will go live once the same is approved.

@Potapy4 Thank you for your contribution.

[2019-04-12 09:21] SaltyDH commented on #28461
Thanks for that, at least I'm not crazy... Glad others are trying to do this too. Found this feedback item : https://feedback.azure.com/forums/169385-web-apps/suggestions/34107535-web-app-should-use-private-ip-in-a-vnet-with-servi

[2019-04-12 09:23] jtlz2 commented on #11312
Something happened to the recognizeText endpoint today:

https://westeurope.api.cognitive.microsoft.com/vision/v2.0/recognizeText?mode=Printed

This worked yesterday. What's going on??

[2019-04-12 09:28] danielwgrech commented on #14130
We have 2 solutions: one for Service A, and one for Service B.  These have several related projects in each.  We added Docker Support in each, and then created a separate solution which contains only the Service Fabric Application, in which we created "New Service Fabric Service -> Container" for both containers of Service A and B.  This leaves us with a Service Fabric Application which can't be d

[2019-04-12 09:28] TomasHubelbauer opened #29276 "A lot of examples out of date?"
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-get-started

I installed the `Microsoft.Azure.DocumentDB` NuGet package already thinking something is fishy because I had a feeling it should have Cosmos directly in its name.

https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-get-started#SetupVS

[code]

The above namespaces do not exist in there so no `DocumentClient` for me! But it

[2019-04-12 09:32] Abdul41 opened #29278 "Duplicate "databaseName" parameter in bulkCopyConfig during writing data to Azure SQL database or SQL Server using Bulk Insert"
Are both the same parameter? (or) Is there specific use for both based on the position?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a43d656-dbdf-ae04-f88d-488aa1dc78c5
* Version Independent ID: 155c9eb2-92df-1619-4284-17c46a419f1f
* Content: [Spark Connector with Azure SQL Database and SQL Server](https://docs.micr

[2019-04-12 09:32] Abdul41 commented on #29278
![image](https://user-images.githubusercontent.com/46275076/56027585-f9f7e980-5d33-11e9-9473-b4ec53ee8891.png)

[2019-04-12 09:34] blueelvis commented on #28976
@nkiest - I have created the PR over here - https://github.com/MicrosoftDocs/azure-docs/pull/29277 . It adds a note in the section to query the activity log in Azure Portal.

@femsulu @tfitzmac - Could you please connect me with someone from the Authorization team to get the above questions answered?

[2019-04-12 09:38] shashishailaj commented on #29275
@smoms Thank you for your query. We will investigate and update further.

[2019-04-12 09:42] PramodValavala-MSFT commented on #29120
@paulpce I agree. Will work up a PR for it. 😄

[2019-04-12 09:45] Coldry opened #29280 "Search for "Recovery services" returns no results"
If you search for "Recovery services" as detailed in this document, you get no results. The Backup and Site Recovery (OMS) is found on searching for "Recovery".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8621ec19-98d2-d173-09f6-f8e26f769dd4
* Version Independent ID: e85e619c-4ec7-34cb-9620-2b725712d858
* Content: [

[2019-04-12 09:46] jtlz2 commented on #11312
Is there a workaround?? Urgent!

[2019-04-12 09:48] Coldry opened #29281 "No Pin to dashboard checkbox showing"
I see no pin to dashboard check-box above the create button on my first attempt to create a vault.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8621ec19-98d2-d173-09f6-f8e26f769dd4
* Version Independent ID: e85e619c-4ec7-34cb-9620-2b725712d858
* Content: [Prepare Azure for disaster recovery of on-premises machines wi

[2019-04-12 09:49] Coldry commented on #29280
Although the option to do so does show in the completion notification.

[2019-04-12 09:53] #29263 closed

[2019-04-12 09:55] shashishailaj commented on #29263
@scheblein
This has been merged to the Private branch and it will go live in the next 24 hours or so as per internal merge cycle. Sometimes this may get delayed due to various reasons but the change will be up soon.

We are closing this issue now . In case you still do not see the change after 48 hours max , please tag me to your reply and reopen this issue and I would be happy to help .

Thank yo

[2019-04-12 10:02] vinynigam commented on #29110
Hi @cogran . I checked the supported regions section of this document. It separates the regions where you can have NSGs and regions where your work-spaces can be ? Is there any other section you are referring to ?

[2019-04-12 10:05] blueelvis commented on #25616
@msangapu - My bad on the delayed response. Yes, that should be the case. I am aware of the concepts :)

We later discovered that this was an issue with the platform where the reboot was not happening after raising it with Azure Support. That's why, I got confused (as we didn't know it was a platform issue during that time) and wanted to confirm that I was not doing anything wrong.

Thanks for clo

[2019-04-12 10:05] msrini-MSFT commented on #29268
@barracud , I am able to successfully run the above mentioned command.

The error clearly states that you have specified the $sourceUri without .vhd extension. Can you make the respective change and try again?

[2019-04-12 10:06] hansmbakker commented on #28461
@ccompy, could you please shine some light on this issue we're having?

In [the video that @NateB2 shared](https://azure.microsoft.com/en-us/resources/videos/ignite-2018-what-is-new-in-azure-app-service-networking/) (in which I believe you were presenting) it looks like SQL Server was in a different subnet than the app service:
- SQL looks like it is restricted to a subnet `vnetint-demo-subnet` wi

[2019-04-12 10:10] Coldry opened #29282 "Set an Azure Network (Address Range confusion)"
Step 2. I see no "Resource Manager" deployment Model to leave selected.
In the numbered steps there is no mention of entering an "Address Space" but the image shows 10.1.0.0/24 entered.
Then step 5 mentions for the "Address Range",  "We're using 10.0.0.0/24, and not using a subnet.", but the image shows 10.1.0.0/24 in the dialogue fields. Should I be entering 1 notch up (10.1.x.x) to create a netw

[2019-04-12 10:12] cbtham opened #29283 "Lack of information on container images"
There is no clear description of the base image used and the package one should install to make it work. Without installing flask and other modules for example, the containers will fail to run. There is also an issue thread going mentioning lack of information on container here:-
https://github.com/MicrosoftDocs/azure-docs/issues/25242

Without the container details, it is very difficult and time

[2019-04-12 10:17] AlexFilipin commented on #23520
Now we also have this: https://techcommunity.microsoft.com/t5/Azure-Sentinel/Azure-Sentinel-Performing-Additional-Security-Monitoring-of-High/ba-p/430740

[2019-04-12 10:17] DixitArora-MSFT commented on #29265
@MJZawacki Just checking if you have gone through these samples ([blog](https://blogs.technet.microsoft.com/livedevopsinjapan/2017/10/07/image-uploading-with-azure-functions-node-js-and-angular-4/), [SO](https://stackoverflow.com/questions/45002001/azure-functions-node-js-write-image-to-blob), [GitHub](https://github.com/Azure-Samples/storage-blob-resize-function-node)) and see if that helps.

[2019-04-12 10:18] Abdul41 commented on #29278
Also, What exactly are the parameters for in bulkCopyMetadata.addColumnMetadata? Is there documentation describing the parameters?
![image](https://user-images.githubusercontent.com/46275076/56030372-50682680-5d3a-11e9-9dc1-c7767a2e3777.png)

[2019-04-12 10:23] hitesh1907nayyar opened #29284 "Auto scaling problem with azure CLI enabled"
Hi,

I created kubernetes cluster for azure with azure cli and enabled autoscaler through command:
**az aks create   --resource-group myResourceGroup   --name myAKSCluster   --kubernetes-version 1.12.6   --node-count 1   --generate-ssh-keys --enable-vmss   --enable-cluster-autoscaler   --min-count 1   --max-count 3**

Presently only one node was installed and wanted to check autoscaling functional

[2019-04-12 10:30] Lycrosa commented on #29158
This is working! Thank you very much! I also found out, that Kubernetes uses the DNS settings of the host if it can't resolve the name within its own DNS. So adding the DNS server to the VNET also works.

[2019-04-12 10:31] KetanChawda-MSFT commented on #29134
@wahyuen I tried to deploy the Premium plan to an existing Resource Group using the portal and it worked for me in the Australia East region. As this is repo is meant for the documentation feedback, I would reccomend you to open this issue on [Azure Function GitHub Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity.

Please note that Elastic Premium Plan Functions are curren

[2019-04-12 10:31] #29134 closed

[2019-04-12 10:35] sergaz-msft commented on #28932
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 10:35] #28932 closed

[2019-04-12 10:35] ld0614 commented on #25261
Hi @SaurabhSharma-MSFT is there any update on this that you can share?

[2019-04-12 10:36] TomasHubelbauer commented on #29276
This was because I was using .NET Core but the non Core package. The solution was to use the `.Core` package. I wish this was mentioned somewhere.

[2019-04-12 10:36] #29276 closed

[2019-04-12 10:37] ChrisSommers opened #29285 "Dashboard resources always homed in EastUS?"
It seems all "Microsoft.Portal/dashboards" resources are homed in EastUS, with no option to home them in any other region. Is this correct?

[2019-04-12 10:42] jakaruna-MSFT commented on #29000
@Deepudev13 Looks like we dont have an automated way to remove unhealthy VM's.
I also suspect that Auto scaling uses all the machines CPU usage irrespective or healthy or unhealthy.

[2019-04-12 10:42] sergaz-msft commented on #28974
@saifuddin123 can you share how your edge_downstream_client.py file looks like? Specially interested on the values used for CONNECTION_STRING , TRUSTED_ROOT_CA_CERTIFICATE_PATH and PROTOCOL.

!Important: Do not share the connection string key (please hide part of the values)

Also can you confirm that the following is validated on your environment?:

1) Is the gateway name appended to the connecti

[2019-04-12 10:43] RohitMungi-MSFT commented on #29128
@Janani100 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 10:44] #29128 closed

[2019-04-12 10:44] ravindra-gaikawad commented on #18824
I am using same approach to call SignalR service.
I was getting issue.
Using your suggested approch I am able to pass authorization.
Thank you.

[2019-04-12 10:48] hitesh1907nayyar opened #29287 "Scaling down of autoscaler in azure is not working"
I created kubernetes cluster for azure with azure cli and enabled autoscaler through command:
az aks create --resource-group myResourceGroup --name myAKSCluster --kubernetes-version 1.12.6 --node-count 1 --generate-ssh-keys --enable-vmss --enable-cluster-autoscaler --min-count 1 --max-count 3

Presently only one node was installed and wanted to check autoscaling functionality which is there for az

[2019-04-12 11:00] RohitMungi-MSFT commented on #29283
@cbtham Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-12 11:03] Anmolgan81 opened #29288 "Whenever I try to deploy the cluster with autoscale option I get an error"
I got the below error whenever I try to deploy the cluster with autoscale option enabled:
{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"BadRequest","message":"{\r\n \"code\": \"BadRequest\",\r\n \"message\": \"autoscale both 'recurren

[2019-04-12 11:05] awws commented on #28892
HI Ajay,

You asked for the key rotation reference - it was here
https://blogs.msdn.microsoft.com/azuresecurity/2015/07/13/certificate-management-in-azure-dos-and-donts/

Kind regards

Alex

On Thu, 11 Apr 2019 at 20:45, AjayKumar-MSFT <notifications@github.com>
wrote:

[2019-04-12 11:10] angoyal-msft commented on #29278
@Abdul41 Thanks for your feedback. I have assigned this issue to content author to update the document appropriately.
@allenwux Could you please look at this issue.

[2019-04-12 11:10] PramodValavala-MSFT commented on #29013
@rifuller The links I've shared were actually for the Input binding. It seems that the trigger doesn't support custom classes - [WebJobs.Extensions.CosmosDB.Trigger.CosmosDBTriggerBinding.cs#L51](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/master/src/WebJobs.Extensions.CosmosDB/Trigger/CosmosDBTriggerBinding.cs#L51).

Also, there is an existing [issue](https://github.com/Azure/azure

[2019-04-12 11:10] #29013 closed

[2019-04-12 11:15] jakaruna-MSFT commented on #29190
@carlfm01 I created one now and i am able to login with the given password.
I logged in using the load balancer's NAT configuration.
Did you re imaged all the existing VM's after a password reset?

During the password reset Portal gives that warning.
`Update the admin credentials directly in the scale set model. Once the scale set is updated, all new VMs have the new credentials. Existing VMs only

[2019-04-12 11:19] jakaruna-MSFT commented on #29190
After resetting the password, The instances which has latest model "Yes" will have the new password.
You need to reimage the old VM's to have the new password. Till that time login works with the old password for the old VM's.
![image](https://user-images.githubusercontent.com/43405697/56033758-da1bf200-5d42-11e9-9b29-000b72134e7f.png)

[2019-04-12 11:28] MimecastDocumentation opened #29289 "Incorrect information on configuring the Mimecast Personal Portal SSO"
Point 1 in the "Configure Mimecast Personal Portal Single Sign-On" section is incorrect. It states the user should log into the "Mimecast Personal Portal" as an administrator. It should say to lo into the Mimecast Administration Console. It needn't say "as an administrator, as only administrators would have access to it.

Additionally the Mimecast UI has changed. This affects the method users use

[2019-04-12 11:30] Jeroen-H opened #29290 "Windows Virtual Desktop Get-RdsStartMenuApp "list is empty""
Hi,

Followed guide at [https://docs.microsoft.com/en-us/azure/virtual-desktop/manage-app-groups](https://docs.microsoft.com/en-us/azure/virtual-desktop/manage-app-groups), to publish remote app on Windows Virtual Desktop. But when I come to Get-RdsStartMenuApp I get the error:

I've set everything up 2 times now, but still got this error.
Am I missing something or..?

Thanks

---
#### Document De

[2019-04-12 11:32] squasta opened #29291 "You should update the section about VM Availability with Availability Zones"
"If your VM runs critical applications that need to have high availability, we strongly recommend that you use multiple VMs. For better availability, use an availability set" ==&gt; "If your VM runs critical applications that need to have high availability, we strongly recommend that you use multiple VMs. For better availability, use an availability set or even better availability zones if the Azu

[2019-04-12 11:33] CastleArg opened #29292 "should mention js bug that currently running sub orchestration will exit main orchestration"
as per https://github.com/Azure/azure-functions-durable-js/issues/54

currently with javascript the statement  "behave just like activity functions from the caller's perspective" is not true.  Calling a sub orchestration will exit the whole thing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f10ce06-891c-9a3b-7cb8-2

[2019-04-12 11:43] christerengman opened #29293 "Display name vs name"
Missing description for property "displayName" in the list. Closest match is "name", but in the portal and through AD graph API the property is still called "displayName". Typo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b-180567591c72
* Version Independent ID: 8c533d7b-a058-3f1a-c296-9c0305f8

[2019-04-12 11:43] jespernohr opened #29294 "Windows Virtual Desktop Agent for Windows 7"
Windows Virtual Desktop Agent (Microsoft.RDInfra.RDAgent.Installer-x64-1.0.0.1462) is not compatible with Windows 7.

Nor does the DSC extention work when deploying WVD Personal (sysprepped Windows 7 managed image) from Azure Portal.

error :  {"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://a

[2019-04-12 11:49] markarnolditpro commented on #22088
Sorry, above note may be confusing from the formatting.  Should have read:

In the embedded Note above, it reads

...which suggests that there are plans to lift this restriction, so the real question if this is true, is when  will the service GA without the version requirement

[2019-04-12 12:04] SeanCLeavitt opened #29295 "Couple areas for improvement..."
In the "Trigger the function in Azure" section, on Step 3. "Refresh the Queue page", I recommend indicating that this article assumes the App Service is configured to be "Always On".  At this point in the article, the job will actually need to be manually run via interacting with the Azure Portal in order to simulate processing the message until the reader sets their App Service to be "Always On",

[2019-04-12 12:05] sasachan opened #29296 "Update istioctl -create-voting-app-gateway.yaml"
[Enter feedback here]
Please update command to create gateway for pod. We get warning as following
istioctl create -f istio/step-1-create-voting-app-gateway.yaml --namespace voting
Command "create" is deprecated, Use `kubectl create` instead (see https://kubernetes.io/docs/tasks/tools/install-kubectl)
Created config virtual-service/voting/voting-app at revision 733544
Created config gateway/voting

[2019-04-12 12:06] FlorianBB commented on #29232
Hello and thank you for your quick return, It's not a mac but it's a version problem :). I downloaded the version OpenVPN 2.4.7-I603 and it worked immediately. Thank you again and have a nice day!

[2019-04-12 12:07] KetanChawda-MSFT commented on #29266
@kick23 Can you please share the link of the document that you are following so that I can assign this issue to the correct team to help you.

[2019-04-12 12:09] jtlz2 commented on #11312
It's working again now, with no changes on my side. What changed on the Azure side if anything?

[2019-04-12 12:12] KetanChawda-MSFT commented on #29267
@barracud Thank you for your feedback! We will review and update as appropriate.

[2019-04-12 12:14] KetanChawda-MSFT commented on #29269
@afnw35342 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-12 12:14] Gamecock commented on #29173
I downloaded from the marketplace and it was showing as SimulatedTemperatureSensor, and then it changed name to tempSensor.

[2019-04-12 12:16] KetanChawda-MSFT commented on #29273
@JamesBewley Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-12 12:17] Anmolgan81 opened #29297 "Do LOB Tables do not need primary key for Online Migrations?"
Can someone confirm me if I have some tables that contains LOB columns and there are no primary keys on them, do I need to add the primary keys on those tables for Advanced Migration Scenerios?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c3b39d-7881-8c85-0a66-e5cd6f971427
* Version Independent ID: b5cb6daf-f6da-f6

[2019-04-12 12:17] squasta opened #29298 "ACS Engine is depreciated --> Should be AKS Engine in replacement"
"ACS-Engine: ACS-Engine is a tool that generates an Azure Resource Manager template for the deployment of a Kubernetes cluster in Azure. For detailed instructions, see Deploy the plug-in for ACS-Engine Kubernetes clusters"   ==&gt; AKS-Engine is now the tool to use instead of ACS-Engine. more info : https://github.com/Azure/aks-engine

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-04-12 12:18] markarnolditpro opened #29299 "Possible to limit POPs to those within a particular region?"
I would like to use FD, but due to regulatory requirements I can only host within the US regions.  Is it possible to restrict FD to only deploy my apps to edge nodes within the US regions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7be424c-f540-a753-6ecc-6ff3913368d5
* Version Independent ID: dc80b25f-374d-8775-16

[2019-04-12 12:19] KetanChawda-MSFT commented on #29274
@jamesapicken Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-12 12:20] mchudinov opened #29300 "example repository is no longer available."
These steps are shown in the Azure App Service repository as an example.

Example file is not longer available. Link follows to nowhere.
Please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4f27ae-bfd4-6663-13ce-c3d0b40326e3
* Version Independent ID: 892091ad-f470-d715-ac5b-6b487640a88e
* Content: [SSH support

[2019-04-12 12:20] cephalin commented on #29244
@apwestgarth FYI

[2019-04-12 12:21] KetanChawda-MSFT commented on #29292
@CastleArg Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-12 12:23] KetanChawda-MSFT commented on #29280
@Coldry Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-12 12:24] mchudinov opened #29301 "init_container.sh example not found"
Make sure to start the SSH service using a shell script (see example at init_container.sh).

init_container.sh does not exists in GitHub anymore. Moved? Fix please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4f27ae-bfd4-6663-13ce-c3d0b40326e3
* Version Independent ID: 892091ad-f470-d715-ac5b-6b487640a88e
* Conten

[2019-04-12 12:25] KetanChawda-MSFT commented on #29281
@Coldry Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-12 12:28] KetanChawda-MSFT commented on #29282
@Coldry Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-12 12:30] KetanChawda-MSFT commented on #29284
@hitesh1907nayyar Thank you for reaching out to us. Can you please provide a link to the document which you are following so that I can engage the correct team to help you.

[2019-04-12 12:31] KetanChawda-MSFT commented on #29285
@ChrisSommers Thank you for reaching out to us. Can you please provide a link to the document which you are following so that I can engage the correct team to help you.

[2019-04-12 12:32] kick23 commented on #29266
@KetanChawda-MSFT  Thanks for attending the ticket, below is the link  as provided script onl can disable classic alerts not Log Search Query alerts(log analytics) struggling to get that but on one link i have found still microsoft not provisioned PS commands for that check below link for that

https://techcommunity.microsoft.com/t5/Azure-Log-Analytics/New-V2-alert-from-PowerShell/td-p/297958

htt

[2019-04-12 12:39] DOMZE opened #29302 "State that a subnet can only be associated with 1 app service"
The statement "The new feature requires an unused subnet in your Resource Manager VNet." implies that the subnet can be associated to only 1 app service.

In fact when trying to associate the same vNet/subnet combination in the portal, the following error occurs
Subnet SUBNET_NAME in VNET VNET_NAME is already occupied by service /​s​u​b​s​c​r​i​p​t​i​o​n​s​/...​/​r​e​s​o​u​r​c​e​G​r​o​u​p​s​/​...​

[2019-04-12 12:41] larslynch commented on #21073
This is still not clear in the documentation.  When the Microsoft technicians copy the data from an Azure Data Box to Azure File Storage,  are the creation and modification timestamps preserved?  We just copied 15TB to Azure Data Box using Robocopy with the /copy:DAT attributes for a SharePoint migration and all timestamps were lost, creating serious problems for the SharePoint migration.

[2019-04-12 12:46] KetanChawda-MSFT commented on #29287
@hitesh1907nayyar Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-12 12:48] KetanChawda-MSFT commented on #29288
@Anmolgan81 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-12 12:50] KetanChawda-MSFT commented on #29289
@MimecastDocumentation Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-12 12:51] huzzeytech opened #29305 "https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows#using-multiple-script"
Is the suggestion here to daisy chain the scripts together? The example is not very clear - could you recommend the best approach to run multiple scripts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6cdfd166-633a-50a3-2b45-cde0e991e540
* Content: [Azure

[2019-04-12 12:57] KetanChawda-MSFT commented on #29290
@Jeroen-H Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-12 13:00] CastleArg opened #29306 "javascript examples"
a javascript version of this page would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e55b7998-54f1-77f1-4e1b-4ef01a5daccc
* Version Independent ID: f7469430-00f8-0e03-de7d-e3b382fac427
* Content: [Azure Durable Functions unit testing](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-fu

[2019-04-12 13:15] barracud commented on #29268
Thanks for your reply, @msrini-MSFT.

My $sourceUri definitely has fully qualified path including the .vhd extension.

I even repeated the same steps using official Microsoft-provided Windows Server eval VHDs.

Actually, can you try your steps using the following VHD?  And see if you can successfully migrate it to Azure as is?

Microsoft Windows Server 2003 R2 Enterprise Edition VHD
https://www.mi

[2019-04-12 13:16] GhandiSober-MSFT commented on #28687
@jdcreek, you can use the following command set to perform the requirement:

If you are using the old RM module:

$gw = Get-AzureRmApplicationGateway -Name <APPGW_NAME> -ResourceGroupName <RESOURCE_GROUP>
$trustedrootcert01 = Add-AzureRmApplicationGatewayTrustedRootCertificate -ApplicationGateway $gw -Name <CERT_NAME> -CertificateFile "CERT_PATH"
$trustcert = Get-AzureRmApplicationGatewayTrustedRo

[2019-04-12 13:20] ivanthelad commented on #18710
is there any clarity here? The fact that the docs say service endpoints work with Azure CNI implies that it doesn't with kubenet,
i have any environment where connections to SQL db were not successful with kubenet and service endpoints. it would be great for someone to clarify the exact support here

[2019-04-12 13:22] CKrumel opened #29307 "Type in Basic, Standard, and General Purpose service tier availability section"
In the second bullet of this section, the sentence "Azure blog storage has built-in data availability/redundancy..." should start "Azure blob..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15036ef6-9c0b-044e-d600-b9f90f039720
* Version Independent ID: 6fe5cd14-a1ad-e183-a048-d72686abb969
* Content: [High availabili

[2019-04-12 13:36] j-martens commented on #29185
Thanks for your question. We hope this answer helped. #please-close

[2019-04-12 13:38] j-martens commented on #28692
@pospanet - hi Jan, did you make any PRs? I don't want to miss them if you do.

[2019-04-12 13:50] Danlewis3 commented on #22685
Same issue here

[2019-04-12 13:51] msrini-MSFT commented on #29232
Thank you for your comment.

[2019-04-12 13:51] #29232 closed

[2019-04-12 13:55] msrini-MSFT commented on #29268
@barracud , Do you have this image in Azure storage account?
 I am able to successfully run this command without any issues.

$osDisk = New-AzDisk -DiskName $osDiskName -Disk `
    (New-AzDiskConfig -AccountType Standard_LRS  `
	-Location eastus2 -CreateOption Import `
    -SourceUri $sourceUri) `
    -ResourceGroupName "msrini-CDN"

PS C:\windows\system32> $osDisk

ResourceGroupName  : msrini-CDN

[2019-04-12 13:58] msrini-MSFT commented on #29298
@squasta ,Thank you for your feedback. We will review and get back to you.

[2019-04-12 13:58] Placid7 opened #29310 "fix-sql-sysadmin-permissions"
You have some broken html code in the below paragraph. There is no link to "fix-sql-sysadmin-permissions"

If you didn't create the VM from the marketplace, then the VM doesn't have the SqlIaaSExtension installed, and the discovery operation fails with the error message UserErrorSQLNoSysAdminMembership. Follow the instructions in [#fix-sql-sysadmin-permissions] to fix this issue.

---
#### Documen

[2019-04-12 14:01] msrini-MSFT commented on #29299
@markarnolditpro , Thank you for posting here. Will review and get back to you.

[2019-04-12 14:05] solutionsmonkey commented on #20758
Do we have an ETA on this fix?

[2019-04-12 14:07] DCtheGeek commented on #29228
@JozoSlejko Thanks for the feedback. We are evaluating how to best add this to the doc.

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-04-12 14:07] shashishailaj commented on #28597
Thank you for your comment .  I will respond further on email to you .

[2019-04-12 14:17] xsreality commented on #28687
@GhandiSober-MSFT, does that mean that it is currently not possible to add the TrustedRootCertificate from Portal? If yes, then this should be highlighted in the documentation.

[2019-04-12 14:27] barracud commented on #29268
I'm in the process of doing another test on this.

This Windows Server 2003 R2 EE VHD from (https://www.microsoft.com/en-us/download/details.aspx?id=19727) is dynamic.  So, I'm first converting it to Fixed VHD_Type.

`Convert-VHD -VHDType Fixed -Path .\Win2k3R2EE.vhd -DestinationPath Win2k3fixed.vhd`

The fixed VHD is now around 64 GB.

I'm now uploading it to Azure Page-Blob Storage via the **Por

[2019-04-12 14:28] nicojdejong opened #29311 "When 5 or more similar queries are clustered, every 30 minutes"
Does this mean that 4 similar queries in a 30min period do not lead to a suggestion and 5 in the same period do? Or is there a job running that looks at similar queries, basically all time and then when it hits 5, will produce a suggestion on one QnA pairs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e302f635-c2b9-e

[2019-04-12 14:31] ggailey777 commented on #18187
We have added a note to this article. #please-close

[2019-04-12 14:32] dscpinheiro opened #29312 "Purge Sub-orchestrations history"
It looks like the PurgeInstanceHistoryAsync API only deletes the orchestration details.
Is there an efficient way to purge the sub-orchestrations as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c17b738-aa32-4cbb-3d82-bda2bc032487
* Version Independent ID: a34e246c-7c65-461f-4417-3c47eb4672e2
* Content: [Manage

[2019-04-12 14:34] jtlz2 commented on #11312
Turned out to be an outage on the Azure side

[2019-04-12 14:34] GhandiSober-MSFT commented on #28687
@xsreality, yes it is indeed highlighted but in different document:

Note: Application Gateway v2 SKU requires trusted root certificates for enabling end-to-end configuration. Portal support for adding trusted root certificates is not available yet. Therefore, in case of V2 SKU see configure end-to-end SSL using PowerShell.

https://docs.microsoft.com/en-us/azure/application-gateway/end-to-end-ssl

[2019-04-12 14:34] RyanHill-MSFT commented on #29295
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-12 14:37] spelluru commented on #29028
Thank you @DixitArora-MSFT
I will work with the product team to fix the article as soon as I can.
Thank you @philrowan-mtb for reporting the issue. Appreciate it.

[2019-04-12 14:40] spelluru commented on #29028
@axisc - we need to update the PHP quick start and perhaps publish a sample on GitHub

[2019-04-12 14:52] shashishailaj commented on #29291
@squasta Thank you for your feedback . We will have this reviewed and accordingly action the request.

[2019-04-12 14:53] shashishailaj commented on #29293
@christerengman Thank you for your feedback. We will investigate and update this thread accordingly.

[2019-04-12 14:55] Alberto-Vega-MSFT commented on #29077
@AllBecomesGood Closing this issue for now since we haven't heard back from you. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 14:55] #29077 closed

[2019-04-12 15:01] PramodValavala-MSFT commented on #29306
@CastleArg Thanks for the feedback! We have assigned this issue to the content author for review.

[2019-04-12 15:09] MGoedtel commented on #28678
@femsulu - I'll need to reach out to the System Center OM team to sanity check this.  If I remember correctly, the Linux agent reporting to the management group will receive configuration but will send the collected data directly to the service, but I need to verify that.

[2019-04-12 15:10] DashleenBhandari-MSFT commented on #28823
@wahyuen No, this is not possible. But VI team has taken this as a feature request.

[2019-04-12 15:14] TobiMason opened #29314 "Can not find kubectl executable in PATH"
Describe to install the kubectl cli using "az aks install-cli" first

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
* Version Independent ID: 42736112-f6db-d241-e89b-48fd2c35ceb7
* Content: [Manage an Azure Kubernetes Service cluster with the web dashboard](https://docs.microsoft.co

[2019-04-12 15:21] sergaz-msft commented on #23584
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 15:21] #23584 closed

[2019-04-12 15:23] sergaz-msft commented on #25848
@SQLDataSide if I understood well, you have solved your issue with [this](https://github.com/MicrosoftDocs/azure-docs/issues/25848#issuecomment-474063040)?

@RKislu can you follow the same steps above?

Thanks!

[2019-04-12 15:24] sergaz-msft commented on #29033
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 15:24] #29033 closed

[2019-04-12 15:25] sergaz-msft commented on #25749
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 15:25] #25749 closed

[2019-04-12 15:33] jakaruna-MSFT commented on #29305
Thanks for the question! We are investigating and will update you shortly.

[2019-04-12 15:35] barracud commented on #29268
@msrini-MSFT Did you repeat your steps using this Windows Server 2003 R2 EE VHD from (https://www.microsoft.com/en-us/download/details.aspx?id=19727)?

And were you successful in provisioning this Windows Server 2003 R2 EE as an Azure VM and have it running?

[2019-04-12 15:36] jakaruna-MSFT commented on #29296
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-12 15:41] CHEEKATLAPRADEEP-MSFT commented on #29176
@ericsampson Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-12 15:42] Mike-Ubezzi-MSFT commented on #29307
@CKrumel Thank you for taking the time to point out this minor but important detail. I will get this corrected. ~Mike

[2019-04-12 15:42] qJake opened #29316 "Clarify How Endpoint Monitor Requests are Made"
It's not clear on this page how the endpoint monitor requests are made, exactly - and we're dealing with a number of different possibilities. Does it use the IP address, the Traffic Manager hostname, the CNAME hostname if aliased via Azure DNS, the Azure resource hostname (*.azurewebsites.net / *.cloudapp.azure.com), or something else?

For resources where IIS is set up within the VM, we need to k

[2019-04-12 15:45] SnehaGunda commented on #28742
Per siddhesh's response: Support the 4.0 server version is on our backlog.

We don't yet have any ETA to share. Please file a [uservoice](https://feedback.azure.com/forums/263030-azure-cosmos-db) request and help the team prioritize the feature. We will now close the issue if there aren't any further questions.

#please-close

[2019-04-12 15:56] plylechapman commented on #22027
Just a FYI, nobody responded at that email address.

We are turning off the preview experience because of the unresolved issues above.

- No ability to disable Passwordless for a specific user when it is enabled in Authenticator.
- Some logins send the Authenticator prompt immediately while still prompting the user to "Click Next to send the notification"
- Seamless sign on leads to unnecessary no

[2019-04-12 16:00] jakaruna-MSFT commented on #29314
@TobiMason  In the "[Before you begin](https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard#before-you-begin)", we mentioned that kubectl is needed.

If we add `aks install cli` command we need to add info about adding the executable to the path. That differs for windows and linux.

#29314 related issue. Also we need the kubectl version greater than or equal to 1.13 . Refer to the relat

[2019-04-12 16:02] mosheaclinone commented on #10028
What exactly is a "broadcast" in this context? For example, in step 2 of the diagram, it says "broadcast to app." Does this mean that a server is creating a http get to the LogoutUrl for that application? Or does it mean that the user's client (browser) makes the request to the LogoutUrl? Thanks.

[2019-04-12 16:02] jakaruna-MSFT commented on #29314
I am assigning this issue to the content author to investigate and update the document as appropriate.

[2019-04-12 16:03] plylechapman commented on #22027
@MicrosoftGuyJFlo in case you want to review the above.

[2019-04-12 16:03] plylechapman commented on #22027
@shashishailah

[2019-04-12 16:04] plylechapman commented on #22027
@shashishailaj (oops, typo in tagging)

[2019-04-12 16:06] j-martens commented on #7130
@YutongTie-MSFT - Is this issue reproducible? This is not a documentation issue but a product issue that should be resolved on the forum.

@myusrn - sorry for the long delay. this issue was mis-categorized and slipped through the cracks.

[2019-04-12 16:08] pijemcolu commented on #26602
I have exactly the same issue.

I can't see **Appliance Resource Provider** service principal when attempting to add contributor access to keyvault.

[2019-04-12 16:12] MashaMSFT commented on #29274
Hi @jamesapicken, thanks for bringing this to our attention! The FAQ already contains a question about not being able to change editions:
How do I change to a new version/edition of the SQL Server in an Azure VM?

Customers with Software Assurance are able to do in-place upgrades of their SQL Server running on an Azure VM using the installation media in the Volume Licensing Portal. However, curren

[2019-04-12 16:18] twimmers opened #29318 "Clarify that O365 groups cannot be assigned to Enterprise Applications"
From what I've found internally, we do not support the assignment of O365 apps to Enterprise Apps. However, we do not state this anywhere in the documentation. This limitation should be specifically stated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ada0b95-37b4-22d1-152f-fc29a52f5706
* Version Independent ID: 942

[2019-04-12 16:19] JasonWHowell commented on #29246
@Peter-B-

Look here for the old version of the page to see those details for now:
https://github.com/MicrosoftDocs/azure-docs/blob/43b82b622b3b95008beef15133926138cdadd944/articles/stream-analytics/stream-analytics-compatibility-level.md

I'll discuss with the author to add that info back to the page. Thanks, Jason