[2019-11-25 12:38] kagkarlsson opened #43473 "User managed identities?"
Does this work with pod identity in AKS? Can I use the Bearer-token from the metadata service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f87e092b-c331-8bc9-9061-89f0712adb5a
* Version Independent ID: d0ef3b6e-5973-e159-3c73-9eb8dbf2825f
* Content: [Configure and sign in with Azure AD for Azure Database for Postgre

[2019-11-25 12:44] jakaruna-MSFT commented on #29780
Can you give the output of `kubectl get nodes`

In that you will see some virtual nodes. Name will start with "virtual-node*"

For those virtual nodes, a pod would have been deployed.

i dont know the exact format for the pods name. I will check in my environment tomorrow and let you know.    We need those pods logs to know the exact reason.

[2019-11-25 13:02] bwren commented on #43293
There's a note at the top of the page that links to the article with the new process.  We'll be updating the existing articles within the next couple of weeks.

#please-close

[2019-11-25 13:02] #43293 closed

[2019-11-25 13:02] SnehaAgrawal-MSFT commented on #43248
@mvhbharath & @jmasengesho  Yes, there was an internal issue which is now been mitigated.
@neilmiddleton-klaw request you to try it again it should work.
Thanks again for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-25 13:02] #43248 closed

[2019-11-25 13:06] PramodValavala-MSFT commented on #43465
@arkein Thanks for catching that! I believe its a remnant of an older version of the doc.

We have worked up a PR which removes the mention.

[2019-11-25 13:14] mukulgit123 commented on #29780
**root@fe840cc8b2b2:/terraform# kubectl get nodes**

NAME                     STATUS   ROLES   AGE   VERSION
aks-default-48162370-0   Ready    agent   39m   v1.14.7
virtual-node-aci-linux   Ready    agent   13m   v1.13.1-vk-v0.9.0-1-g7b92d1ee-dev
**Failed microservice pods**
replacethisvalue   sv1-86898d5fd4-8hrp7                             0/1     ProviderFailed   0          11m
replacethisvalue

[2019-11-25 13:15] PramodValavala-MSFT commented on #43467
@kspoojary Could you confirm the exact line that you mention?

Under [this section](https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-internal-vnet#access-on-default-host-names), there is a mention of accessing the endpoints - "create a virtual machine in **a subnet connected to the virtual network** in which API Management is deployed", in case that's the one you are

[2019-11-25 13:16] #43465 closed

[2019-11-25 13:25] ahmadizm commented on #43316
Thank you for your response.
In B2C you **can** edit the app manifest:
![image](https://user-images.githubusercontent.com/43794127/69543677-c29d1c80-0f53-11ea-9d85-06c0ecc1829c.png)
![image](https://user-images.githubusercontent.com/43794127/69543794-fa0bc900-0f53-11ea-92a0-e70f9eb12b0a.png)
And you can have roles defined:
![image](https://user-images.githubusercontent.com/43794127/69543942-478836

[2019-11-25 13:25] flouwers opened #43475 "SSL Certificate warning when using recommended zone names"
When following the recommended DNS configuration, using **_privatelink.{type}.core.windows.net_**, the access to the resource works, but the browser throws an SSL certificate error.

For instance, if I try accessing _https://{resourcename}.privatelink.web.core.windows.net_, I see that the DNS domain is not in the SSL certificate subject alternative name (SAN), which only covers _*.web.core.windows

[2019-11-25 13:37] kspoojary commented on #43467
Yes, that is the one I am referring to.

[2019-11-25 13:43] KalyanChanumolu-MSFT commented on #43450
Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2019-11-25 13:53] tfitzmac commented on #43365
Above that code block is a link to the [REST operation](https://docs.microsoft.com/en-us/rest/api/resources/deployments). It goes to the latest version of the API (which is currently 2019-08-01). I will add a note that clarifies where to find the API version.

[2019-11-25 14:02] p9139010 opened #43476 "domain name in the configuration - TYPO"
[Enter feedback here]
domain name in the /etc/idmapd.conf - should be "defaultv4iddomain.com"

There is a typo to be corrected "**ldefaultv4iddomain.com**"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb818030-1546-a078-c6c7-1fd1e775bbaf
* Version Independent ID: bb0b5d1e-6495-400d-e002-2af53e582037
* Content: [Deploy

[2019-11-25 14:09] bwren commented on #42272
I just tested, and this does work.  The verbose message is normal, you won't get it only if there's already an existing data source with the same name.  The details that are missing are for the -CustomLogRawJson parameter.  You can get that by doing a Get-AzOperationalInsightsDataSource and noting the Properties property.  Obviously not ideal, but I'll check into getting an example of the json for

[2019-11-25 14:16] gregorvilkner opened #43477 "add msal example"
it would be nice to include an example that uses msal instead of adal, esp. how to use the resource and .default scope:
using Microsoft.Identity.Client;
var authority = $"https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token";
IConfidentialClientApplication app = ConfidentialClientApplicationBuilder.Create(clientId)
  .WithAuthority(authority)
  .WithClientSecret(clientSecret)
  .Build();

[2019-11-25 14:37] jtuliani commented on #43286
True, but not everyone runs under default settings, and the error is far from obvious if you don't. Since it's a trivial fix, I'll submit a PR.

[2019-11-25 14:38] FrankHu-MSFT commented on #41355
hey @thikon I'm following up on this issue, can you please respond to the above response?

If the question is, is there a way to provide custom error messages, the answer is yes, but you will not be able to modify the core error messages provided from Azure AD. You will need to make modifications via some middleware such as adding the azure function to check midway through a user journey, see here

[2019-11-25 14:40] bally-singh opened #43480 "Enforce MFA"
Hi Team,

During subscription to the feed, the user will be prompted for MFA details.

However, once the feed has been created and cached, this MFA prompt never returns. I have created a conditional access policy for:

Windows Virtual Desktop
Windows Virtual Desktop Client

Requiring MFA, but this seems to be ineffective after the first launch.

Also, it appears that the client uses the same authe

[2019-11-25 14:43] #43365 closed

[2019-11-25 14:44] maaaaagda commented on #43356
`
[3308+00000001] [11/22/2019 09:07:02.38] [INFO] Starting RunCommand Extension v1
[3308+00000001] [11/22/2019 09:07:02.42] [INFO] HandlerEnvironment = Version: 1, HandlerEnvironment: [LogFolder: "C:\WindowsAzure\Logs\Plugins\Microsoft.CPlat.Core.RunCommandWindows\1.1.2", ConfigFolder: "C:\Packages\Plugins\Microsoft.CPlat.Core.RunCommandWindows\1.1.2\RuntimeSettings", StatusFolder: "C:\Packages\Pl

[2019-11-25 14:44] NavtejSaini-MSFT commented on #43375
@Jessejames106 Thanks for getting back to us. we did create the Cosmos DB with config:
![Regions](https://user-images.githubusercontent.com/52257742/69549801-ef5b2f00-0f67-11ea-8436-0f2617cf3e3d.JPG)
but still get the correct values:
![Scale](https://user-images.githubusercontent.com/52257742/69549822-f8e49700-0f67-11ea-8f8b-c7cc1ce9e013.JPG)
Need further help from you to find out exactly where it

[2019-11-25 14:50] NavtejSaini-MSFT commented on #43464
@blueelvis We are checking this and will get back to you.

[2019-11-25 14:50] spaelling opened #43481 "User quota limit"
It looks like the `x-ms-user-quota-remaining` is set to 15, resetting every 5 seconds. This is ridiculously low and means I need to implement some aggressive backoff logic. I am using api-version *2018-09-01-preview*, using *2019-04-01* as suggested elsewhere returns a *404 not found* for every request.

I am using an MSDN subscription. Could that be to blame?

---
#### Document Details

⚠ *Do not

[2019-11-25 14:51] NavtejSaini-MSFT commented on #43473
@kagkarlsson We are checking this and will get back to you.

[2019-11-25 14:52] GiftA-MSFT commented on #43126
@merlinko637 I received feedback from product team that RankerType will be rolled out soon (next month or two). Thanks.

[2019-11-25 15:06] andreasmarx opened #43482 "Encryption with Customer Managed Key"
Hi.

This site says "Encryption at rest (CMK)" is not supported. But here it says Yes:
https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption-atrest#encryption-model-and-key-management-table

To have the storage of replicated VMs be encrypted with CMK in Azure, I would simply have to choose a storage account with CMK enabled. Isn't that the case?

Best regards
Andreas

---
#### Do

[2019-11-25 15:25] dipesh-wadhwa opened #43483 "Allow any Microsoft Azure AD for authentication"
We have created an app where we are trying to allow authentication for users who exist in any Microsoft AD (Basically multi tenant authentication). So we have setup custom polices as mentioned above. But we are getting below error message-

ServerError: AADB2C90273: An invalid response was received : 'Error: access_denied,Error Description: AADSTS650054: The application '' asked for permissions to

[2019-11-25 15:29] leonheess commented on #41029
I am still having this problem even though I renamed local.settings.json correctly. While it works locally - I get the following error when running in the Azure Cloud:

`The SignalR Service connection string must be set either via an 'AzureSignalRConnectionString' app setting, via an 'AzureSignalRConnectionString' environment variable, or directly in code via SignalROptions.ConnectionString or Sig

[2019-11-25 15:44] mallecespedes opened #43484 "Next Steps"
The link of Next Steps should be the steps for the scopes of the application and not FHIR SMART. If user isn't using FHIR SMART since the beginning why add as Next steps the link to the tutorial of Azure API for FHIR SMART on FHIR proxy? Please provide a better sequence in the tutorials or follow the steps from the flow chart in the tutorial Register the applications for Azure API for FHIR. The fl

[2019-11-25 15:48] mallecespedes opened #43485 "Next steps"
Why the next steps are "Deploy Azure API for FHIR"? If you have reached this tutorial, it is supposed that the Azure API for FHIR is already created, no? I'm confused with a lot of Next Steps sections in the tutorials and how-to-guides.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d6f2e64-ad33-1f0d-5d8a-3462a68fcfad

[2019-11-25 15:55] hansenms commented on #43484
Thank you for the feedback.

The main use for the public client is for Javascript applications and SMART on FHIR apps. Scopes are not currently enforced for the service, so it does not seem like a logical next step. We will consider whether the Javascript tutorial is the right next step, but for now, we will keep the suggestion the way it is.

#please-close

[2019-11-25 15:55] #43484 closed

[2019-11-25 16:15] Sogup commented on #42847
Support for upto 32 disks is in private preview. If interested in signing up for the preview, reach out to us at AskAzureBackupTeam@microsoft.com
Doc update will only be done after we move to public preview.

[2019-11-25 16:15] Sogup commented on #42847
#please-close

[2019-11-25 16:15] #42847 closed

[2019-11-25 16:23] rahuljim opened #43488 "Getting issue after deploying temperature analogy machine learning module in Ubuntu , run multiple instances of rsyslog, you need to specify different pid files for them azure ml"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-11-25 16:24] rahuljim commented on #43488
Status is running but when I log docker container it throws syslog fail to start as pod is already in used need

[2019-11-25 16:27] MGoedtel commented on #33340
@MedAnd - This task got deprioritized and I don't have an update for you. Identifying the stress limit of the agent really depends on a number of factors - how many solutions, Insights, log collection are enabled, frequency of collection, sizing of VM (CPU/Memory), etc.  I would recommend creating a test VM or VMs based on your standard deployment configs and run tests to evaluate the resource uti

[2019-11-25 16:28] #43457 closed

[2019-11-25 16:35] ggailey777 commented on #43465
Thanks @PramodValavala-MSFT!

[2019-11-25 16:36] maya-cnx opened #43489 "Owner role and data actions"
Owner role definition has * in Actions and nothing in DataActions. Does that mean Owner role does not have any data actions permissions? But being owner I can read, delete, add blobs in containers. Wouldn't that be considered data actions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446

[2019-11-25 16:41] drdamour opened #43490 "lot of code changes in this article that is under codeless"
is this article in the correct tree hierarchy?  i see it under Codeless monitoring &gt; Snapshot Debugger but the examples require many code changes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b38619-18a3-4ae1-acc6-ed551536c011
* Version Independent ID: 956c6277-050c-b20f-c3e7-ea7509cc89ee
* Content: [Troubleshoot

[2019-11-25 16:41] cornelcreanga opened #43491 "Please provide details about user creation"
The documentation about the create user API does not provide any information about the user attributes (what can be provisioned and what can't). It seems that Databricks defined their own extension 'urn:ietf:params:scim:schemas:extension:workspace:2.0:User' but I can't find any public information about it.

I've seen that the API is marked as 'public preview' so I understand that the attributes ca

[2019-11-25 16:54] thikon commented on #41355
@FrankHu-MSFT Thank you reply my question.

I tried to migrate the 'password smart lock' function from Azure B2C (https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-smart-lockout).

I received a correct result message when i attempted to input wrong password following lock threshold on the user flow with page layout, but couldn't get any message from ROPC flow.

[2019-11-25 17:01] kobulloc-MSFT commented on #43490
@drdamour Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-11-25 17:13] eparizzi opened #43492 "Can this be used along with Databricks Connect?"
It seems there are two ways to bring the DbUtils class. This one and using Databricks Connect. I'd like to use Databricks Connect when running locally on my IDE, but use this class when deploying the jar to the cluster. I've been trying to get this working with no luck.

Is this scenario supported? If so, could you please share an example on how to achieve it?

Thanks

---
#### Document details

⚠

[2019-11-25 17:18] eparizzi opened #43493 "How to access DbUtils in a way that works when deployed to Databricks?"
This documentation explains how to get an instance of the DbUtils class in Python in a way that works both locally and in the cluster but doesn't mention how to achieve this in Scala.

Simply doing `val dbutils = com.databricks.service.DBUtils` doesn't work when deploying the .jar to Databricks. Job fails with error saying it can't find that class.

---
#### Document details

⚠ *Do not edit this s

[2019-11-25 17:18] jmsidhu opened #43494 "Excel and Project files do not open"
The files appear to be corrupt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ec59acc-b30b-859a-221d-b6d711e560fa
* Version Independent ID: 568767d0-dcce-087f-ac97-3cd0796100f9
* Content: [Team Data Science Process project planning](https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/tea

[2019-11-25 17:23] FrankHu-MSFT commented on #43312
hey @bartvermeersch we're currently looking into this, but the three blogs you provided are all of people who do work at Microsoft, so I'm not sure if ForcePasswordChangeOnLogOn is meant to be used.

I'm currently going to look into this further to see if this parameter is going to be removed in the future or not, but so far it looks like it might just be a duplicate parameter.

[2019-11-25 17:29] KrishnaG-MSFT commented on #43484
@hansenms Thanks for the quick response and clarification provided. 👍

[2019-11-25 17:31] KranthiPakala-MSFT commented on #43395
@saraswatdhruv To better assist on your query, could you please clarify your ask -  Is your feedback to change the error message displayed? Please share few screen shots if possible.

[2019-11-25 17:33] FrankHu-MSFT commented on #42932
hey @TechTrooper I'm following up on this, apologies for the late reply.

You shouldn't need an aad premium license for each device. Please let me know if you have anymore questions in regards to this, in addition to that, I'll go ahead and engage some more members to add a note into the document saying that devices don't require premium AAD licenses,

CC: @curtand

[2019-11-25 17:34] Grace-MacJones-MSFT commented on #42934
@vkurpad can you please provide some insights on this issue? Thanks!

[2019-11-25 17:34] saraswatdhruv commented on #43395
Hi Kranthi,
I have already fixed the issue and do not have a screenshot with me. I will share it if I face that again.
Regards,
Dhruv Saraswat
(437) 684-5454

  On Mon, Nov 25, 2019 at 12:31 PM, KranthiPakala-MSFT<notifications@github.com> wrote:
@saraswatdhruv To better assist on your query, could you please clarify your ask - Is your feedback to change the error message displayed? Please share f

[2019-11-25 17:38] PeterCLu commented on #42948
#please-close

[2019-11-25 17:38] #42948 closed

[2019-11-25 17:39] PatrickFarley commented on #43354
@KerimY
No, that's a limitation of the service.
#please-close

[2019-11-25 17:39] #43354 closed

[2019-11-25 17:41] FrankHu-MSFT commented on #41355
@thikon what error message are you getting when using ROPC flow? You should be getting an error back atleast that says what the issue is.

In addition to that, I'd like to follow up and say that there are other ways to get custom error messages in your b2c setup.
See :
https://stackoverflow.com/questions/51719386/custom-error-messages-in-custom-policy
https://stackoverflow.com/questions/55031091/d

[2019-11-25 17:46] FrankHu-MSFT commented on #43489
Thank you for your feedback, currently we're looking into this issue and will get back to you as soon as possible,
@maya-cnx

[2019-11-25 17:46] FrankHu-MSFT commented on #43462
Thank you for your feedback, currently we're looking into this issue and will get back to you as soon as possible,
@santo2

[2019-11-25 17:50] FrankHu-MSFT commented on #43462
hey @santo2 is this documentation what you're looking for? https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/roles-assign-powershell

you'll need to use the azure ad powershell module, but the process for assigning role assignments will be the same as the process for assigning custom role definitions.

See this cmdlet for more information on how to get role assignment info

[2019-11-25 17:57] Mike-Ubezzi-MSFT commented on #43237
@JasonWHowell @orspod The current assigned content owner (@basaba) is not reachable via this repository. Should there be a new assignee? Thank you!

[2019-11-25 18:01] KranthiPakala-MSFT commented on #43395
@saraswatdhruv Thanks for your quick response. Sure, please share the screen shot if you see the issue again.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-11-25 18:05] himanshusinha-msft commented on #43491
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-11-25 18:07] mikebudzynski commented on #43455
You can edit the sign-in page to not include the sign-in form, but you can't remove the API endpoint. At this moment, API Management doesn't have sign-in restrictions with the basic authentication - you can work around this limitation with authentication delegation.

You may be interested in upvoting this feature request: https://feedback.azure.com/forums/248703-api-management/suggestions/37467277

[2019-11-25 18:07] #43455 closed

[2019-11-25 18:07] himanshusinha-msft commented on #43492
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-11-25 18:08] himanshusinha-msft commented on #43493
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-11-25 18:09] MicahMcKittrick-MSFT commented on #43476
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-25 18:09] MicahMcKittrick-MSFT commented on #43480
Thanks for the question! We are investigating and will update you shortly.

[2019-11-25 18:10] Alberto-Vega-MSFT commented on #43477
@gregorvilkner Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-25 18:12] FrankHu-MSFT commented on #43483
Thank you for your feedback, currently we're looking into this issue and will get back to you as soon as possible, @dipesh-wadhwa

[2019-11-25 18:14] FrankHu-MSFT commented on #43483
We'll take into account this feedback, however for further troubleshooting, please go to the new Q&A forums and post your question here : https://docs.microsoft.com/answers/index.html

There we can debug your issue further, as the azure docs issues are meant for issues with the azure docs. please post a link to the q&a thread that you made here,

that being said i will be closing out this issue by

[2019-11-25 18:18] Jayesh040 commented on #43472
Hello Team, anything on this ?

[2019-11-25 18:22] MarileeTurscak-MSFT commented on #43458
@neodym3k
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-25 18:23] MarileeTurscak-MSFT commented on #43459
@icelava
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-25 18:25] MarileeTurscak-MSFT commented on #43471
@krowlandson
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-25 18:25] DCtheGeek commented on #43387
@allanmoller Thanks for the question.  Since the policy rule has a function in it, but is now inside a Resource Manager template, the function needs to be escaped with an additional `[`. Try changing it to:

`"value": "[[resourceGroup().name]"`

Let us know if that resolves this for you!

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-11-25 18:25] SamaraSoucy-MSFT commented on #43092
This repository is focused on the documentation. Product questions are more suited to MSDN or Stack Overflow. I'd suggest posting on the portal forum for MSDN: https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuremanagement&filter=alltypes&sort=lastpostdesc

[2019-11-25 18:26] mumian commented on #39864
@soccerjoshj07 - thanks for the comment. I have added a note in the Verify the Deployment section.

#please-close

[2019-11-25 18:26] #39864 closed

[2019-11-25 18:27] mumian commented on #42150
@gitjeph - thanks for the comment.  I have added a note in the Verify the Deployment section.

#please-close

[2019-11-25 18:27] #42150 closed

[2019-11-25 18:29] amenarde commented on #42700
@tkumark let me seek guidance from someone who understands Reverse Proxy better to answer your question. Thanks for waiting.

[2019-11-25 18:30] vkurpad commented on #42934
@NeilMeredith Can you direct message me your search service name and subscription id? One possible cause of this could be that we did have a feature flag that needed to be set. This requirement has been removed, but the update itself may not have made it to your search service. Can you also try adding the enableAnnotationCache property to the indexer definition?
**"parameters": {
                "

[2019-11-25 18:34] YutongTie-MSFT commented on #43494
@jmsidhu
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-25 18:35] Iwifia opened #43496 "Cert Details Inaccurate"
Currently when adding the public cert data, you are supposed to copy all information between the "Begin Cert" and "End Cert" brackets. While this is correct, at this time the line breaks give you an error "Invalid Certificate data format".

If you remove all line breaks in the cert this issues is resolved. You can also still use Word Wrap to copy the content and it will work properly. But line bre

[2019-11-25 18:35] FrankHu-MSFT commented on #43489
Hey @maya-cnx thanks for your question I would suggest taking a look into this documentation as it actually explains the owner role scenario you're describing exactly.
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definitions#data-operations-example

Please let us know if you have anymore questions, if not I will be closing this github issue by end of day today. Thanks,
- F

[2019-11-25 18:41] andyjballgit opened #43497 "Move-AzStorageAccount cmdlet doesnt appear to exist in 3.0 of AZ Module"
that is all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b4c16f-e4ec-d093-8435-f1c4252b4612
* Version Independent ID: b56c07db-b3d2-e20f-57f6-fa90546af418
* Content: [Azure Storage migration FAQ](https://docs.microsoft.com/en-us/azure/storage/common/storage-migration-faq#feedback)
* Content Source: [articles/storag

[2019-11-25 18:41] allanmoller commented on #43387
@DCtheGeek THX that worked when doing new-azdeployment :-)

[2019-11-25 18:46] MicahMcKittrick-MSFT commented on #42443
All, we have multiple groups of people out this week for the holidays. So we likely won't see much traction on this until next week. We are working on it though and will continue to share updates.

[2019-11-25 18:46] DCtheGeek commented on #43387
@allanmoller Great, glad to hear it! Please let us know if you have other questions or issues with the docs.

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-11-25 18:46] MicahMcKittrick-MSFT commented on #43187
@robinmanuelthiel I will close this out in favor of the other issue you opened as it does appear to be an openshit cli rather than a doc issue.

[2019-11-25 18:46] #43187 closed

[2019-11-25 18:46] #43387 closed

[2019-11-25 18:47] felickz commented on #30644
UserVoice: https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/39126427-b2c-custom-policy-ief-framework-sample-okta-as-i

[2019-11-25 18:47] JimacoMS3 commented on #33950
Hi @radoye

Glad you were able to get it figured out, and thanks for leaving the comment :)

-Jimaco

[2019-11-25 18:47] MicahMcKittrick-MSFT commented on #43364
I will close this but if you have further questions let me know and we can always reopen and continue the discussion.

[2019-11-25 18:47] #43364 closed

[2019-11-25 18:48] MicahMcKittrick-MSFT commented on #43394
@NWassell  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-25 18:49] NWassell commented on #43394
Awesome, thanks!

Thanks,
Nathaniel Wassell (MSFT)

From: Micah <notifications@github.com>
Sent: Monday, November 25, 2019 10:48 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nathaniel Wassell (AKS) <nwassell@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Add Clarification to seccomp guidance (#43394)

@NWassell<https://nam06.safeli

[2019-11-25 18:51] JimacoMS3 commented on #38552
Hi @unstephenk -- thanks again for your feedback! At this time, I'm going to close this issue. If the comments above don't help you, please feel free to @comment me, and we can take another look.

-Jimaco

[2019-11-25 18:51] JimacoMS3 commented on #38552
#please-close

[2019-11-25 18:51] #38552 closed

[2019-11-25 18:51] MicahMcKittrick-MSFT commented on #43399
@esunder looking at the doc, when you create a service that uses a specific endpoint, NSG rules and route tables rules are automatically update to allow traffic as needed. Thus eliminating the need for you to open ports manually each time you publish a service on a specific endpoint.

As per actually deploying those apps, we list in the next steps section
https://docs.microsoft.com/en-us/azure/aks

[2019-11-25 18:56] LarsKemmann commented on #35171
Bump...

[2019-11-25 18:57] MicahMcKittrick-MSFT commented on #43406
@mikerobyn I corrected the Dv3 series. Thanks for pointing that out :)

As per the v5 series, I assume you meant to type v4 as there is not a v5 in this doc.

The Das_v4 series are in preview so we will continue to update the doc as they move to GA and we have more precise numbers that we can grantee

[2019-11-25 18:57] #43406 closed

[2019-11-25 18:58] MicahMcKittrick-MSFT commented on #35171
#reassign: @athinanthny

CC @peterpogorski

[2019-11-25 18:59] MicahMcKittrick-MSFT commented on #43480
@Heidilohr @ChristianMontoya could either of you comment further on this?

[2019-11-25 19:02] msmbaldwin commented on #40631
Hi @wshamroukh. We have completely rewritten this article to make use of the V4 Azure javascript SDK.  Please give it a try, and let us know if you encounter any problems.  Thanks for your feedback!  #please-close

[2019-11-25 19:02] #40631 closed

[2019-11-25 19:02] msmbaldwin commented on #26456
Hi, @stevencl. We have completely rewritten this article to make use of the V4 Azure javascript SDK.  Please give it a try, and let us know if you encounter any problems.  Thanks for your feedback!  #please-close

[2019-11-25 19:02] #26456 closed

[2019-11-25 19:03] msmbaldwin commented on #17233
Hi, @Lroca88, @hhcakir, @beth-panx: We have completely rewritten this article to make use of the V4 Azure javascript SDK (and to run locally).  Please give it a try, and let us know if you encounter any problems.  Thanks for your feedback!  #please-close

[2019-11-25 19:03] #17233 closed

[2019-11-25 19:05] MicahMcKittrick-MSFT commented on #43396
@denniszielke the token is for utilities to access azure. You can read more here:

https://docs.microsoft.com/en-us/cli/azure/account?view=azure-cli-latest#az-account-get-access-token

@bobbytreed I believe we should add some more info to the arc docs or at least link to some other info around this as the arc docs are a bit sparse around this. Can you take a look?

[2019-11-25 19:05] wcneumann219 opened #43500 "Device prerequisites should be listed..."
It would be better to include all the device prerequisites in this article. Currently they are scattered in other places, i.e., UEFI BIOS, GPT partitioned OS drive, working TPM 2.0, Secure Boot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2

[2019-11-25 19:06] MicahMcKittrick-MSFT commented on #43359
@giovannifl thanks for the extra information.

@MikeRayMSFT would you be able to comment further on this? The question is a bit outside my wheelhouse :)

[2019-11-25 19:10] dzoech opened #43501 "Is there more detailed information available about the SF internals?"
This information doesn't seem to align with the following paper:

Gopal Kakivaya et al. “Service Fabric: A Distributed Platform for Building Microservices in the Cloud”. Proceedings of the 13th EuroSys Conference (Apr. 2018)  [URL: https://dl.acm.org/citation.cfm?doid=3190508.3190546 ]

In this paper the naming service is described as a component of the reliability subsystem. Is this outdated info

[2019-11-25 19:11] NavtejSaini-MSFT commented on #43464
@VanMSFT @rohitnayakmsft Please convey if we should raise the PR adding the information or you will be making these changes your self.

[2019-11-25 19:13] #37732 closed

[2019-11-25 19:13] Nickomang commented on #37732
@AaronLS, thanks for your feedback, the docs has been updated accordingly.

[2019-11-25 19:14] ChristianMontoya commented on #43480
@bally-singh : Thanks for all of the information. A couple things:
- Regarding "Mobile Apps and Desktop Clients", are you saying that the web client **also** reports as "Mobile Apps and Desktop Clients"?
- Regarding "force MFA for each launch? Or say after X amount of hours?", please see the [sign-in frequency](https://docs.microsoft.com/azure/active-directory/conditional-access/howto-conditional-

[2019-11-25 19:15] NavtejSaini-MSFT commented on #43473
@kagkarlsson We are assigning this to our author for further clarification.
@lfittl Can you please look into user issue and respond.

[2019-11-25 19:16] saraswatdhruv commented on #43395
Hi Kranthi, 
I guess I am in Luck.I got the error today as well.
on the notification dashboard it shows the below error, which requests us to rebase the Git repository, but 

on details I get this error, which says the Linked service is not available, due to which the publish is failing. Sorry for the bad Highlighting.I was hoping it this error comes out first so that we can may be fix it before w

[2019-11-25 19:19] MarileeTurscak-MSFT commented on #43463
@rahulthescorpion this is more of a product question and not an issue with the documentation, so please post this to Q&A where we can help troubleshoot. https://docs.microsoft.com/answers/questions/index.html

[2019-11-25 19:19] #43463 closed

[2019-11-25 19:23] siegardj opened #43502 "Label Publish Time"
How long should I expect to wait before I see the new sensitivity labels when I go to provision a Team. I've created the sensitivity labels and published them after confirming that EnableMIPLabels is set to True. It's been two hours and I still only see the classic labels as an option. No sensitivity Labels.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-11-25 19:25] ecfan commented on #43249
@Alberto-Vega-MSFT, thanks for reaching out. I'm checking with the engineering team whether you can only lower the number of days when you select the Custom option.

[2019-11-25 19:26] KranthiPakala-MSFT commented on #43395
@saraswatdhruv Thanks for your response. Could you please share the screen shot of the error message?
I don't see any error details in you previous comment.

But I assume - in your case, your local/publishing branch and master branch are not in sync, that is the reason your are getting the error "repository out of sync".

[2019-11-25 19:26] brianbarnett316 opened #43503 "Unable to launch the latest version of Azure Storage Explorer"
I just installed the latest version of Azure Storage Explorer.  How, when I launch it I'm getting a message stating I must have .NET Framework 4.6.2 or greater installed.  I have 4.7 installed (Release=461814).  This is on Windows 10 Enterprise, Version 1809, OS Build 17763.292.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-11-25 19:27] AjayKumar-MSFT commented on #43368
@sopelt, Following the step-step/process outlined in the document appears to work as expected. Your feedback has been shared with the content owner (@cephalin) for further review on the need to add the 'Note'. Thanks again for your feedback!

[2019-11-25 19:27] v-maudel opened #43504 "How to change cluster.local default name"
@evmimagina commented on [Mon Nov 25 2019](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/691)

Hi,

Is there any way to use the coredns-custom feature to change the cluster.local default name?

Thanks,

---

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f95537e-770a-739c-0175-4447a995f8b2
* Version Independ

[2019-11-25 19:27] mike-urnun-msft commented on #43468
@romankiss Thank you for your feedback! We will review and update as appropriate.

[2019-11-25 19:28] Karishma-Tiwari-MSFT commented on #43154
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-25 19:28] #43154 closed

[2019-11-25 19:29] vitomaz-msft commented on #43388
This has been addressed.
#please-close

[2019-11-25 19:29] #43388 closed

[2019-11-25 19:34] mamccrea commented on #43426
@ckarras - Thank you for bringing this to our attention. This is a known issue that the engineering team is working on. I will respond here when there is a fix.

#please-close

[2019-11-25 19:34] #43426 closed

[2019-11-25 19:38] TravisCragg-MSFT commented on #43136
@llscuba You can add them to the VPN route config file on your computer located at: %AppData%\Microsoft\Network\Connections\Cm\yourGuid\routes.txt.

this uses the "Route Add" command, and you can test the routes by adding / removing them manually first.

Can you tell me what you are trying to accomplish with the route that is not working, and the command you used to add it?

[2019-11-25 19:39] TravisCragg-MSFT commented on #43135
@stracker-phil We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-25 19:39] #43135 closed

[2019-11-25 19:40] saraswatdhruv commented on #43395
Hi Kranthi, 
As per my understanding that is not the case, as there is only one branch on the current data factory which is collaboration/publish/compare branch. Error on the Notification bar;The publish branch is out of sync with the collaboration branch. This is likely due to publishing outside of Git mode. To recover from this state, please refer to our Git troubleshooting guide

error inside t

[2019-11-25 19:40] yoannchaudet opened #43505 "Enabling AllowCrossSubscriptionReferences feature?"
I am getting the following error when using a nested template to deploy resources across subscriptions:

It seems this feature cannot be enabled via API:

[code]

Any idea how one can enable this feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ec87df7-43e5-2d11-3546-9f338534e560
* Version Independent ID: c5319

[2019-11-25 19:40] MicrosoftGuyJFlo commented on #39666
There isnt a setting called number of methods this is stating you should enable more methods for your users than is required for registration. Dont just give them one method so that if they dont have access to the one method they can use something else to reset.

[2019-11-25 19:40] MicrosoftGuyJFlo commented on #39666
#please-close

[2019-11-25 19:40] #39666 closed

[2019-11-25 19:41] MicrosoftGuyJFlo commented on #39023
Working into update to docs.

[2019-11-25 19:41] MicrosoftGuyJFlo commented on #39023
#please-close

[2019-11-25 19:41] #39023 closed

[2019-11-25 19:43] KranthiPakala-MSFT commented on #43395
@saraswatdhruv Thanks for you quick response, I am looping in content author @djpmsft to have a deeper look into your feedback. Thanks for bringing this to our attention.

@djpmsft Could you please have a look at the feedback from @saraswatdhruv ? - Thanks!

[2019-11-25 19:45] v-maudel opened #43506 "Undocumented field "source" #658"
This Issue comes from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/658
-------------------------------------------------
Hello,
There is no mention in  the documentation to the field "source" for policy condition. Especially for sample like:
"if":{
    "allOf":[
      {
        "source":"action",
        "equals":"Microsoft.Storage/storageAccounts/write"
      },
      {

---
###

[2019-11-25 19:49] memildin commented on #38456
By default, Azure Security Center stores data on the workspace (whether automatically provisioned or a user’s central workspace). This data includes various security-related information such as missing updates and missing system configurations (baselines). This data is included in the daily 500MB/day per VM entitlement that Security Center protected machines receive, and does not normally exceed t

[2019-11-25 19:49] #38456 closed

[2019-11-25 19:51] mike-urnun-msft commented on #43470
Hi @skagrawal10 - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-25 19:52] mike-urnun-msft commented on #43472
Hi @Jayesh040 - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-25 19:52] mike-urnun-msft commented on #43475
Hi @flouwers - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-25 19:54] v-maudel opened #43507 "AccessTokenLifetime is not working."
Issue moved from here: https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/1058
----------------------
@sub318 wrote:

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 10b999ad-7029-0ad0-754e-00437e7ae571
* Version Independent ID: a1994e2e-cac8-8467-39b1-2b2d707c032c
* Content: [Azure Active Directory에서 구성 가능한 토큰 수명 - Microsoft identity platform](https:/

[2019-11-25 19:55] mike-urnun-msft commented on #43488
Hi @rahuljim - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-25 19:56] lfittl commented on #43473
@kagkarlsson Thanks for opening the issue - let me check on this with the engineering team and get back to you.

[2019-11-25 19:57] Mike-Ubezzi-MSFT commented on #23045
@jessebenson Not sure what additional messaging we can add to this tutorial to help you be successful. If you have suggestions, please do let us know so that we can improve the overall experience. Thank you!
![Screenshot (494)](https://user-images.githubusercontent.com/37126106/69573251-95b03000-0f7a-11ea-9067-a4ce8977b25e.png)

[2019-11-25 19:58] SubhashVasarapu-MSFT commented on #43496
@Iwifia , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-11-25 20:02] jheizman commented on #39666
@MicrosoftGuyJFlo if you look at the documentation referenced, it lists two settings, “Authentication methods required to register” and “ Authentication methods required to reset” - and suggests that register should be “Always 1 more than required for reset”.  At the top of the table, they are titled as “Setting”.

The table in the documentation clearly references a setting that doesn’t exist.

Fo

[2019-11-25 20:04] DCtheGeek commented on #43506
#assign:DCtheGeek

[2019-11-25 20:05] DCtheGeek commented on #43506
@Comite-Rhone-Judo Thanks for the question. I've reached out to the team to get some information and will get back to you.

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #in-progress.

[2019-11-25 20:14] v-maudel opened #43510 "How can I run a PowerShell function locally?"
This issues was moved from here: https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2917
Below comments were machine translated
-------------------------------
@seike460 commented:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9

[2019-11-25 20:26] NeilMeredith commented on #42934
@vkurpad I tried setting the enableAnnotationCache property but got the following error message:

[code]

I emailed you my search service name and subscription id.  Thanks.

[2019-11-25 20:28] MicahMcKittrick-MSFT commented on #43504
Thanks for the question! We are investigating and will update you shortly.

[2019-11-25 20:29] MicahMcKittrick-MSFT commented on #43501
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-25 20:34] kyschouv opened #43511 "Azure CLI command in "Change the autoscaler settings" is wrong."
I tried running the command in the section "Change the autoscaler settings", and it wouldn't work. You have to use `az aks nodepool update`, not just `az aks update`. Also, I couldn't increase the min count without increasing the current count, but I can't increase the current count through the command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-11-25 20:44] kyschouv commented on #43511
In fact, I don't appear to be able to run this to increase the min count at all. I keep getting this: `current node count '3' is not in the range of min-count and max-count.`.

There doesn't appear to be an argument to change the count. `--node-count`, `--count`, `--current-count` all give me `unrecognized argument`.

[2019-11-25 20:49] SnehaGunda commented on #40337
@JoeWarwick apologies for the long delay, I was able to figure out the missing step. I submitted a PR to update the doc: https://github.com/MicrosoftDocs/azure-docs-pr/pull/97117. The changes should be live later today.

We will now close this issue if there aren't further questions.

#please-close

[2019-11-25 20:49] #40337 closed

[2019-11-25 20:49] atkinchris commented on #39037
@hpsin - this is one of the secrets that did not work (it's been subsequently invalidated):
[code]

[2019-11-25 20:51] vinyar opened #43512 "ssh-keygen commands needs to be updated for recent version of Mac"
The described commands produce Openssh key which is not supported by azure.
Command need to be updated to older format(include option -m) in order to produce keys compatible with azure:

ssh-keygen -m PEM -t rsa -b 4096

Similar issue:
https://serverfault.com/questions/939909/ssh-keygen-does-not-create-rsa-private-key

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-11-25 20:53] vinyar opened #43513 "ssh-key gen command incorrect for modern Mac OS"
Duplicate of: https://github.com/MicrosoftDocs/azure-docs/issues/43512

Short version: ssh-keygen command needs to be updated to include `-m` option. Otherwise generated keys are not compatible with azure. Example: `ssh-keygen -m PEM -t rsa -b 4096`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbd6dbf-a5be-f8cf-4f8d

[2019-11-25 20:54] hpsin commented on #39037
Thanks Chris, I appreciate it.  We've opened up an internal item to change the set of applicable characters to just a-zA-Z0-9 so that there's no concerns around URI encoding any longer. We had an earlier item that shipped about a month ago that stripped inadvertent control characters from the secrets (which broke console apps), and your secrets help confirm that the issue still repros after that f

[2019-11-25 20:54] CeciAc opened #43514 "Mismatch with code"
Hi team,
I moving this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/549
the user reports an issue with the code

@nicowitteman commented 2 days ago — with docs.microsoft.com
Running the code returns a different set of data in the Token Info pane:
Name, Token Expires, Access token, Id Token, Tenant Id, whereby Name and TenantId are empty

---
#### Document Details

⚠ *Do not

[2019-11-25 20:55] danielsollondon commented on #43201
Hi, as the RHEL 7.7 cloud-init support is in preview, the default RHEL images in the portal do not use cloud-init to provision, we expect GA cloud-init support for RHEL\CentOS 7.7 very soon, and the images will be updated early next year. Apologies for the confusion, I will update the page.

[2019-11-25 20:57] danielsollondon commented on #33768
Agreed, we are going to start refreshing these pages, so this is great feedback, I will leave this open until we have updated the pages.

[2019-11-25 20:57] ecfan commented on #43249
@Alberto-Vega-MSFT & @DixitArora-MSFT,

I confirmed with the engineering team that for logic apps that run in multi-tenant public Azure, you can only decrease the default 90-day limit, which is also the maximum. For logic apps that run in an integration service environment, you can increase the default value, which is 90 days, to the maximum limit.

I've created and merged a PR to clarify this inf

[2019-11-25 20:57] #43249 closed

[2019-11-25 20:59] atkinchris commented on #39037
Great, thanks - is there a way to track the progress of this, for future readers?

Once this is complete, and secrets are issued only within a `[A-z0-9]` set, will URI encoding be removed from the docs for the `/token` endpoint?

[2019-11-25 21:02] hpsin commented on #39037
Not at this time.  We'll close this issue and have a release note when the change goes out.

We won't remove URI encoding from the endpoint or the docs, however, for two reasons:
1. It's part of the standard, so we have to support it
2. Service principals can be created on the fly and given custom secrets that we can't control, so we have to support them.

[2019-11-25 21:02] SnehaGunda commented on #43414
@Tyriar Thanks for the feedback, I am validating your suggestion with your dev team, will update the doc when I have the confirmation.

[2019-11-25 21:05] TheAlmIT commented on #41001
Any update on this request? Wanted to see how Connection strings looks like

[2019-11-25 21:07] YutongTie-MSFT commented on #43494
@jmsidhu Hi Jonathan, those links and examples are working fine to me. Could you please check again? Thanks.

[2019-11-25 21:11] dzoech commented on #43501
Also, is the Resource Manager from this documentation equal to the Placement and Load Balancer (PLB) from the paper?

[2019-11-25 21:12] Karishma-Tiwari-MSFT commented on #43512
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-25 21:13] Karishma-Tiwari-MSFT commented on #43513
I will close this one as it is a Duplicate of #43512
I will answer your question on #43512

[2019-11-25 21:13] #43513 closed

[2019-11-25 21:14] StingyJack commented on #41001
@NavtejSaini-MSFT

[2019-11-25 21:15] Karishma-Tiwari-MSFT commented on #43511
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-25 21:16] CeciAc opened #43515 "Could not locate the bindings file. Tried:"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2913

The comment below was machine translated

@masakinoda111 commented 2 days ago
Connect Raspberry Pi to Azure IoT Hub (Node.js)
Running the sample application
When I tried, I got the following error.

pi@raspberrypi:~/iot-hub-node-raspberrypi-client-app $ sudo node index.js 'HostName=test1011musuke.azure-

[2019-11-25 21:16] amitamit281 opened #43516 "Is Enterprise GIT supported?"
when i run this i get below. i changed the original enterprise git url
az acr task create \
    --registry amitest \
    --name utilsbuild \
    --image utils:{{.Run.ID}} \
    --context https://scm.abctest.com/kubernetes/utils.git \
    --file Dockerfile \
    --git-access-token xxxxxxxxx
Operation failed with status: 'Bad Request'. Details: "{\"error\":{\"code\":\"InvalidRepositoryUrl\",\"messag

[2019-11-25 21:16] YutongTie-MSFT commented on #43457
@algattik
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-25 21:21] SnehaGunda commented on #43375
@Jessejames106 I have checked autopilot throughput ranges in both container and Database creation. And in both of them, the message says you can scale between 2,000 RU/s to 20,000 RU/s. I don't see the screen ou have.

![image](https://user-images.githubusercontent.com/14284405/69578933-5b4c9000-0f86-11ea-81ce-f7603a1518c0.png)

In your screenshot looks like the informational message in the portal

[2019-11-25 21:28] NavtejSaini-MSFT commented on #41001
@stevestein Can you please help with this.

[2019-11-25 21:31] SnehaGunda commented on #43348
@Ramji-S I think the connectivity mode details for Java Async and the sync SDKs are pretty much the same. Not sure though I sent a confirmation email to our dev team. For the Sync SDK, you can find the details here: https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips-java#networking

[2019-11-25 21:34] ducatikiller commented on #43427
First off, thank you for taking the time.  I was able to get the subnet to associate with these non-restrictive rules.  Security Center categorizes this rule set as non-restrictive.  Regarding the Any Any rules.  Is there a way to specify and advertised subnet or individual machine rules for access or do the rules need to be 'wide open' like this?  One thing I found interesting about the first inb

[2019-11-25 21:36] atkinchris commented on #39037
OK, understood.

The endpoint didn't appear to URI decode secrets though - passing encoded secrets containing bad characters (even though they were encoded), did not work.

The docs saying that secrets should be URI encoded only added to the confusion - it suggests that the endpoint should be able to accept unsafe characters provided they're encoded, which was not true.

[2019-11-25 21:36] maya-cnx commented on #43489
While storage blob access does not work with AD login. Owner can still do all data actions with Access key authentication.
https://docs.microsoft.com/en-us/azure/storage/common/storage-access-blobs-queues-portal?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#permissions-needed-to-access-blob-or-queue-data
That was the confusing part about data actions permission available to an Owner role.

[2019-11-25 21:43] sfilipi opened #43517 "'Plus, you pay only for what you use based on a consumption pricing model' repeated twice"
'Plus, you pay only for what you use based on a consumption pricing model' is repeated twice in two consecutive paragraphs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12b20c74-3d65-5747-39a0-77b3c2214e0e
* Version Independent ID: 8ea4321d-7500-fd4f-9235-1c0852f3d3fe
* Content: [Automate tasks for enterprise integra

[2019-11-25 21:48] jordanmills commented on #29171
There is no documentation on configuring the agent to send events from a remote computer or to send events from forwarded logs instead of the local security log.  This is critical for high value servers like domain controllers and certification authorities, and "appliance" computers, where random binaries can't be installed locally.

[2019-11-25 21:58] Karishma-Tiwari-MSFT commented on #43164
@pure-zero Any time a new VM is to be deployed, the sum of new and existing vCPUs usage for that VM Series must not exceed the vCPU quota approved for that particular VM Series. Further, the total new and existing vCPU count deployed across all VM Series should not exceed the Total Regional vCPUs quota approved for the subscription. If either of those quotas are exceeded, the VM deployment will no

[2019-11-25 21:59] #43164 closed

[2019-11-25 22:10] jimbobbennett opened #43518 "What is the Azure Maps subscription key?"
Refers to: https://docs.microsoft.com/en-us/rest/api/maps/route/postRouteMatrix?source=docs

There is no feedback option on this page, hence raising an issue directly.

This is related to #38407 - and is the same issue. This doc references the subscription key without explaining what it is, and the portal refers to the primary and secondary key.

This caused problems for students at a hackathon wh

[2019-11-25 22:12] rabryst opened #43519 "The cap-mbps syntax is wrong"
When using the `cap-mbps` flag, you need to use it as a flag, like so:

`azcopy [command] --cap-mbps 10`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 911b355c-91b0-cfba-6960-f33d9391c0d9
* Version Independent ID: e1d4c6d0-f79a-8931-b5fc-279f6185c522
* Content: [Configure, optimize, and troubleshoot AzCopy with Azure

[2019-11-25 22:15] llscuba commented on #43136
@TravisCragg-MSFT
- I'm trying to deploy an Always-On VPN to all the users so they would connect to Azure via VPN. We should be able to deploy this solution as automated as possible via GPO, Intune, Scripts... or a combination of these.
- All users should be able to reach our Datacenter through Azure. Meaning, We are connecting to Azure via VPN and would like to access the servers that are at the

[2019-11-25 22:24] TravisCragg-MSFT commented on #43136
@llscuba Unfortunately I am only familiar with the Azure configuration, your best bet for help with the ProfileXML file is to ask someone on the Intune end.

[2019-11-25 22:25] jmsidhu commented on #43494
Thank you. I was able to find the files on github.

On Mon, Nov 25, 2019 at 4:07 PM YutongTie-MSFT <notifications@github.com>
wrote:

--
Sent from my iPhone.

[2019-11-25 22:39] ralish opened #43521 "Instructions for "Block legacy authentication" policy are incorrect"
Following these instructions results in a policy that cannot be created with the following error:
_Policy configuration not supported. Review the assignments and controls._

I suspect this is due to the combination of **All users** and **All cloud apps** as a safeguard against users accidentally blocking themselves from their tenant. The referenced error refers to [this page](https://docs.microsof

[2019-11-25 22:46] ralish commented on #43521
I suspect the correct fix is to change *Step 6* to include only the *Office 365 Exchange Online* app instead of *All cloud apps*. This does allow the Conditional Access policy to be created, but it'd be worthwhile having someone from the security team confirm if this is effectively equivalent for the intended policy functionality or other applications should also be included in the scope.

[2019-11-25 22:46] Karishma-Tiwari-MSFT commented on #43201
Thanks @danielsollondon for sharing the insights. :)
I will assign the issue to you to update the documentation.

[2019-11-25 22:47] ronitr commented on #43428
looping @michalbar (mibar@microsoft.com) + @DavidTrigano (datrigan@microsoft.com),  current owners of DDM

[2019-11-25 22:49] femsulu commented on #43482
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-25 22:55] femsulu commented on #43505
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-25 22:58] soaway opened #43522 "Sign-In error code: 700051?"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/reference-sign-ins-error-codes)
* Con

[2019-11-25 22:58] femsulu commented on #43506
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-25 23:02] MarkAtAgilliance commented on #30508
This continues to be a problem.  It gets about 10 triggers enabled then it starts to fail.  I have modified the deployment script to space out each trigger with a 10 second delay.  Hard to tell if this helps because the point of failure is always a little different on each run.  Happy to send Diag again.

[2019-11-25 23:03] FrankHu-MSFT commented on #43500
@wcneumann219 Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-25 23:03] FrankHu-MSFT commented on #43502
@siegardj Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-25 23:03] FrankHu-MSFT commented on #43507
@v-maudel Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-25 23:03] FrankHu-MSFT commented on #43514
@CeciAc Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-25 23:03] MarkAtAgilliance commented on #30508
fyi - the triggers I am setting are predominately BlobEventsTrigger which are triggered on the Microsoft.Storage.BlobCreated event.

[2019-11-25 23:04] FrankHu-MSFT commented on #43521
@ralish Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-25 23:07] iancraig45 opened #43523 "CLI Script needs to be updated"
When running provided CLI Script "az iot hub device-identity create --hub-name YourIoTHubName --device-id MyNodeDevice"  to register device, an error is returned of "No IoT Hub found with name in current subscription"
To fix this, you need to add resource group parameter, "az iot hub device-identity create --hub-name YourIoTHubName --resource-group GROUPNAME --device-id MyNodeDevice" Please update

[2019-11-25 23:18] CarlRabeler commented on #42651
PR ( https://github.com/MicrosoftDocs/azure-docs-pr/pull/97143 ) pending with changes noted by @NavtejSaini-MSFT

[2019-11-25 23:23] jeffwmiles opened #43524 "Exclude file uploads from Request Body"
This page describes "The maximum request body size field is specified in kilobytes and controls overall request size limit excluding any file uploads."
Is there any guidance on how to exclude file uploads from the request body to support this statement?

I am running into the problem described [here](https://stackoverflow.com/questions/48326959/data-length-larger-than-configured-limit-with-azure-a

[2019-11-25 23:34] knaidoo33 opened #43525 "Azure Storage General Purpose V2 doesnt work with Data Factory Data Flow"
Hello,

It appears that the Data Flow task in Azure data factory does not work when trying to use a General purpose v2 storage as the source. I am not able to preview data, and when I run the data flow is fails. However there are no validation errors.

When I change the source to a general purpose v1 container with the same data, it works great.

Thank you.

---
#### Document Details

⚠ *Do not ed

[2019-11-25 23:36] hrasheed-msft commented on #42641
@osuleiman Thanks for reaching out. We tested these scripts recently in VNETs and did not encounter the bug that you are describing. This seems to be a product issue that would be better resolved through an email thread. I'll open one now with you and the product team to communicate on this issue and will close this thread pending any doc modifications that might result. Thanks.

[2019-11-25 23:36] hrasheed-msft commented on #42641
#please-close

[2019-11-25 23:36] #42641 closed

[2019-11-25 23:38] szarkos commented on #41866
I think maybe the dracut.conf typo mentioned in issue 42910 is the more accurate conclusion.  You do not need kernel-devel, nor do you need hv_utils, hv_balloon, hyperv-keyboard, hyperv_fb and hid-hyperv built into the initramfs. It's OK to do so, but the minimum requirement is just vmbus and storvsc so that you can locate and mount the root partition.

[2019-11-25 23:38] szarkos commented on #41866
#please-close

[2019-11-25 23:38] #41866 closed

[2019-11-25 23:40] makotog opened #43526 "How to get Volume GUID"
You can get volume GUID by using result object of New-Partiton command, say
 $partition.guid
Instead of mountvol command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521d12-9efc-d132-176b-ca6a4ea83f16
* Version Independent ID: 21322b77-a2e0-41a2-b128-7681d2d62577
* Content: [Windows Virtual Desktop MSIX app attach

[2019-11-25 23:48] #42910 closed

[2019-11-25 23:50] FrankHu-MSFT commented on #43514
Hey @nicowitteman thanks for letting us know about this! Can you confirm if you had changed the tenantid to match your tenantid?
Per the section : https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-tutorials-desktop-app?tabs=applications#configure-the-sample

You have to replace the values in the code with your values otherwise the sample will not run properly.

[2019-11-25 23:54] FrankHu-MSFT commented on #43507
Hey @sub318 note that the configured token lifetime is dependent on the resource not the aad application registration that you're request the access token from.

Are you sure that you set the policy for the resource, and are you sure that you're getting the access token for that specific resource? You will need to do this for every resource that you want to configure the token lifetime for. in add

[2019-11-25 23:59] FrankHu-MSFT commented on #43521
Hey @ralish  I was able to create the conditional access policy successfully, i'm going to engage some more people on this issue to take a look into it further though just in case.

cc : @MicrosoftGuyJFlo

[2019-11-26 00:01] FrankHu-MSFT commented on #43489
hey @maya-cnx  i'm not sure where the confusion is. Can you please take a look at the table below and let me know if that clears up the confusion?
![image](https://user-images.githubusercontent.com/6366013/69588181-c86b2000-0f9c-11ea-9e89-4a1a77919d77.png)

[2019-11-26 00:06] maya-cnx commented on #43489
So I am the user Alice with owner role in subscription. I could login to Azure portal. Go into a storage account created by another user, open the container and download/upload/delete a blob inside it. That was because I had
![image](https://user-images.githubusercontent.com/26389798/69588397-4b8c7600-0f9d-11ea-949d-be06cea75c12.png)
Authentication Method: Access Key.
This means if I have Microsof

[2019-11-26 00:19] dcbrown16 opened #43527 "What routes does ExpressRoute advertise to on-premises?"
Does this item from the VPN FAQ apply to ER? It seems like useful information to explicitly state here what routes ER will advertise to on-prem, at least for private peering.
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq#what-address-prefixes-will-azure-vpn-gateways-advertise-to-me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-11-26 00:20] ariso353 opened #43528 "Azure Powershell Link to AzureRM cmdlet"
In the Create integration account section, it says the integration account can be created with Azure Powershell.  If the link is followed, it is the AzureRM cmdlet New-AzureRmIntegrationAccount rather than the Az cmdlet New-AzIntegrationAccount

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6fe6158-2e70-a179-8c6f-621b

[2019-11-26 00:21] SnehaGunda commented on #43414
@Tyriar Thanks for sharing the example, I added it to the doc. The changes should be live tomorrow. If you have any further suggestions, please feel free to submit a PR by clicking on the edit button on that page. We will review your changes and merge them as appropriate.

We will now close this issue if there aren't further questions.

please-close

[2019-11-26 00:22] #43414 closed

[2019-11-26 00:26] FrankHu-MSFT commented on #43489
Yes, but that is a different method of access. I understand that this workaround may make it a moot point as you will still be able to get access to the blobs. I'll look into this further to see if this feature is intended or not.

Thanks!

[2019-11-26 00:30] SnehaGunda commented on #43348
@kushagraThapar is our dev SME on the Async Java SDK. He mentioned Sync Direct mode is much different from async Direct mode. He will be updating the doc soon to call out the differences.

Thanks Kushagra.

[2019-11-26 00:53] SnehaGunda commented on #42801
@LanderVe Currently you can just use "console.log()". his command will concentrate a string for debugging when EnableScriptLogging is set to true as shown in the following example:

var response = await client.ExecuteStoredProcedureAsync(
    document.SelfLink,
    new RequestOptions { EnableScriptLogging = true } );
Console.WriteLine(response.ScriptLog);

I will add this info to the doc.

[2019-11-26 01:05] csmurthy opened #43530 "Job limits"
The number of jobs is limited to 1000.- please mention this limitation is at subscription level or workspace level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e3a7fd6-a11f-0e9f-9747-7574d1096810
* Version Independent ID: 7fdd2591-162b-a0a7-8ff7-b94c93829804
* Content: [Jobs - Azure Databricks](https://docs.microso

[2019-11-26 01:09] Alberto-Vega-MSFT commented on #43523
@iancraig45 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-26 01:19] Alberto-Vega-MSFT commented on #43515
@masakinoda111 I'm sorry to hear that you are facing this issue. There is a Pull Request that has a fix for this you could grab the code from there or just make the changes on your local https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app/pull/26

You can see the changes here https://github.com/Azure-Samples/iot-hub-node-raspberrypi-client-app/pull/26/files I will test and merge t

[2019-11-26 01:21] nandantumu opened #43532 "Looking for more information on models"
I'm looking for more of an explanation on how the database functions as a key-value store, a column-family, ..., and graph database at the same time. Can you include more information on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42c7bf55-9a9e-9e54-15db-15c59a80d471
* Version Independent ID: b32d0d9a-99fd-9721

[2019-11-26 01:21] MikeKaneDXC opened #43533 "Updates needed?"
For step 5 "Select Role settings" the menu option is shown currently in portal as "Settings" not "Role Settings" and there are not separate tabs for assignment and activation. Notifications cannot be configured at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caec76df-16e4-f418-14c3-6c83528134c7
* Version Indepen

[2019-11-26 01:23] SnehaGunda commented on #42801
Updated the doc in the above PR. We will now close this issue if there aren't further questions.

#please-close

[2019-11-26 01:23] #42801 closed

[2019-11-26 01:24] Karishma-Tiwari-MSFT commented on #43349
@NAshwini Can you please share specifically which VM are you using. For example, I tried with **Windows Server 2019 Datacenter** with 'Azure' as username, it worked for me.

[2019-11-26 01:27] rolyon commented on #40720
Hi @sujitks
It's my understanding that you cannot add a deny assignment in your template even though you are using a Blueprints deployment. If you want to provide feedback to the Blueprints team, you can submit here:
https://feedback.azure.com/forums/915958-azure-governance

[2019-11-26 01:29] zrahui commented on #43453
@SadiqhAhmed-MSFT sure, there's a check in the **AzureMigrateInstaller.ps1** script that does pre-check for OS version:
[code]

[2019-11-26 01:31] rolyon commented on #40831
Hi @iricigor
Do you use Azure AD Privileged Identity Management? If so, note that classic subscription administrator roles cannot be managed in PIM.
https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-roles

[2019-11-26 01:32] rolyon commented on #40831
Let us know if you have any additional feedback.
thanks

[2019-11-26 01:33] rolyon commented on #40831
#please-close

[2019-11-26 01:33] #40831 closed

[2019-11-26 01:38] SnehaGunda commented on #43532
@nandantumu Please take a look at the following docs for more information about each type of data model/APIs in Cosmos DB:

**Key-value**
MongoDB: https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-introduction
https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-feature-support-36

**Column family:**
https://docs.microsoft.com/en-us/azure/cosmos-db/cassandra-support
https://docs.microso

[2019-11-26 01:49] mathieu-benoit commented on #34806
Hi @jakaruna-MSFT @AndyWu7623 @KrishnaG-MSFT, any update on this? Thanks!

[2019-11-26 01:51] mike-urnun-msft commented on #43481
@spaelling Thank you for your feedback! We will review and update as appropriate.

[2019-11-26 01:52] PramodValavala-MSFT commented on #43517
@sfilipi Thanks for catching that! We have worked up a PR to address this.

[2019-11-26 01:54] PramodValavala-MSFT commented on #43528
@ariso353 Thanks for the feedback! We will review and update accordingly.

[2019-11-26 01:56] MicahMcKittrick-MSFT commented on #43504
@evmimagina no, that is not what this feature is designed to do.

And are you referring to the name of your managed cluster? Such as when you create a new cluster?

https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough?view=azure-cli-latest#create-aks-cluster

`az aks create --resource-group myResourceGroup --name myAKSCluster --node-count 1 --enable-addons monitoring --generate-ssh-ke

[2019-11-26 02:00] ChJenk commented on #43121
That URL isn't meant to be a link but is listed as an example for how partners can list their offers to customers and they can include a link to a free trial. As the description reads:

"List your offer to customers with a link to a free trial by providing a valid URL (beginning with http or https), where they can get a trial through one-click authentication by using Azure Active Directory (Azure

[2019-11-26 02:00] mike-urnun-msft commented on #43485
@mallecespedes Thank you for your feedback! We will review and update as appropriate.

[2019-11-26 02:00] MicahMcKittrick-MSFT commented on #43501
@dzoech I looked at the link you provided but it is not an official MSFT source. So I would advise to generally use official documentation instead. That being said, it seems this specific document you open the issue on has not been refreshed in a while.

I am going to assign this to the Service Fabric Documentation team to review and ensure the doc is up to date prior to comparing to the article y

[2019-11-26 02:01] Karishma-Tiwari-MSFT commented on #43361
@nikhilpulluri-gep Is there any update?
Please refer to the comment above and let us know if you have any questions.

[2019-11-26 02:04] PramodValavala-MSFT commented on #43528
@ariso353 Thanks for catching that! The same goes for the Delete integration account section.

We have worked up a PR to address these changes.

[2019-11-26 02:04] mike-urnun-msft commented on #43518
@jimbobbennett Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-26 02:05] mike-urnun-msft commented on #43522
Hi @soaway - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-26 02:07] mike-urnun-msft commented on #43525
Hi @knaidoo33 - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-26 02:09] VOVELEE commented on #43270
Thanks for the answer. I was able to configure AKS to send logs to LAws in different subscription in same tenant using AzCLI. However this was not possible using the portal.

You can close the issue :)

[2019-11-26 02:09] #43270 closed

[2019-11-26 02:10] ChJenk commented on #43121
#sign-off
Please see comment above. If there are any suggestions in making the example look less like a link, I'd appreciate it. Thanks!

[2019-11-26 02:12] #43528 closed

[2019-11-26 02:13] pf-dr opened #43534 "-ProximityPlacementGroupType needs explanation of Ultra vs Std."
What is the difference between 'Standard' and 'Ultra'?
Is there a cost difference with Ultra?
---------------------------------------------------------------
    -ProximityPlacementGroupType &lt;System.String&gt;
        Specifies the type of the proximity placement group.  Possible values are: Standard or Ultra

        Required?                    false
        Position?                    named

[2019-11-26 02:15] mike-urnun-msft commented on #43510
@seike460 Thank you for your feedback! We will review and update as appropriate.

cc: @v-maudel

[2019-11-26 02:16] PramodValavala-MSFT commented on #43467
@kspoojary A single VNET can have multiple subnets. You would have to deploy your resources in other subnets within the same VNET.

You can read more about [VNETs in their official docs](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-overview#vnet-concepts).

[2019-11-26 02:20] PrometheusRising1 opened #43535 "Possible Notes on Saving Template, Deleting, and Restoring from Template?"
Hi All, for those who are learning how this works or using it only part time, it's a bit expensive.  We are more likely to use it if we can control the cost, especially relative to a quota subscription (e.g. Visual Studio $100 or $150 limit).  It would be neat to understand how to cycle this when our development farm is on and we are working/learning, while not billing when we are not.

---
#### D

[2019-11-26 02:24] mike-urnun-msft commented on #43524
@jeffwmiles Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-26 02:34] xieofxie opened #43536 "when create QnA Maker in Azure portal, returns "ServerFarmNotFound""
Screenshot as below

![image](https://user-images.githubusercontent.com/2876650/69594955-f00fc600-1038-11ea-8c1b-d2be61b8427a.png)

above error:
![image](https://user-images.githubusercontent.com/2876650/69594885-aa52fd80-1038-11ea-879f-e6d32c9024f1.png)

Thanks~

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2431b5a7-

[2019-11-26 02:34] Pilchie opened #43537 "`az aks show ` missing --output table"
The example command to show the kubernetes version doesn't include a `--output table` so it doesn't actually show any output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab10c96-1f2f-e48f-a084-b1715156e33f
* Version Independent ID: a113b8e9-259a-2a65-2e54-a2661c78ddb5
* Content: [Kubernetes on Azure tutorial  - Sca

[2019-11-26 02:37] soaway commented on #43522
The following page references error codes but that one is missing.

https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/reference-sign-ins-error-codes

The error description returned was:
"error_description":"AADSTS700051:+response_type+'token'+is+not+enabled+for+the+application"

I was able to resolve it by enabling tokens ID
AD App registration -> <selected App>-> Authenti

[2019-11-26 02:42] Pilchie opened #43538 "az aks scale command shows no output."
perhaps it's missing a `--output json`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab10c96-1f2f-e48f-a084-b1715156e33f
* Version Independent ID: a113b8e9-259a-2a65-2e54-a2661c78ddb5
* Content: [Kubernetes on Azure tutorial  - Scale Application](https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-scale#f

[2019-11-26 02:49] YutongTie-MSFT commented on #43536
@xieofxie
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-26 02:51] xieofxie opened #43539 "Language is not changeable"
Screenshot:
![image](https://user-images.githubusercontent.com/2876650/69595539-cf487000-103a-11ea-9cf4-62643b209c66.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f8a5292-8ba9-c9ab-1afc-978a418eddf6
* Version Independent ID: 2ac8bca8-c650-d4e1-0e75-a054f09dae9d
* Content: [Quickstart: Create, train, and publish

[2019-11-26 03:05] dcbrown16 opened #43540 "PowerShell Reference"
This doc section should have a link to the IoT Hub Az PowerShell commands (probably the following page).
https://docs.microsoft.com/en-us/powershell/module/az.iothub/?view=azps-3.0.0#iot
I'm not talking about this Overview page exactly, the "Reference" section for all IoT Hub docs should contain a link. It only has CLI, REST, and various SDKs.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-11-26 03:55] thikon commented on #41355
@FrankHu-MSFT  i already config a lockout threshold on Password protection before.

![b2c-1](https://user-images.githubusercontent.com/347717/69597537-e38b6d80-1038-11ea-8f94-b85ea3dfa6c4.png)

and then tried to sign-in on layout page following this picture and i got to correct message.

![b2c-2](https://user-images.githubusercontent.com/347717/69597545-e7b78b00-1038-11ea-8edd-0e13eb9c235c.png)

F

[2019-11-26 03:56] femsulu commented on #43505
@yoannchaudet This requires deeper investigation and understanding of your scenario to get to the resolve. Kindly raise this issue with our techinical Support channel using [these step](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request)s. If you do not have a support plan, send mail to AzCommunity@microsoft.com, include your subscription ID and a link

[2019-11-26 03:57] Cescante opened #43543 "Trouble Obtaining Access Token via MSI with Seemingly Correct User Assigned Identity"
I am working with an azure PS function app.

The User Assigned Identity appears to be setup correctly, and I can see it in the function app’s identity page. ARM template generated from the the function app has the principal and client ids.

But I am unable to acquire an access token per this documentation:
$resourceURI = "https://management.core.windows.net/"
$tokenAuthURI = $env:MSI_ENDPOINT + "?

[2019-11-26 03:59] SnehaAgrawal-MSFT commented on #43543
@Cescante Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-26 04:03] CHEEKATLAPRADEEP-MSFT commented on #43530
@csmurthy  This is limitation is at workspace level and same has mentioned in the second line of important note.

**Note:** The number of jobs a **workspace** can create in an hour is limited to **1000**.

Hope this helps.

[2019-11-26 04:05] femsulu commented on #43018
adding @qianw211 to help review this doc enhancement request.

[2019-11-26 04:09] femsulu commented on #43225
@ofirmanor  - can you please review this doc enhancement request?

[2019-11-26 04:14] msrini-MSFT commented on #43427
@cherylmc , Can you update the doc to provide more clarity ?

[2019-11-26 04:15] msrini-MSFT commented on #43460
@cowking06 , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-11-26 04:15] #43460 closed

[2019-11-26 04:16] femsulu commented on #43389
pinged @bmoore-msft offline for an update.

[2019-11-26 04:20] AshokPeddakotla-MSFT commented on #43540
@dcbrown16  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-26 04:26] VikasPullagura-MSFT commented on #43538
@Pilchie Thanks for the feedback! We are currently investigating and will get back on this.

[2019-11-26 04:26] VikasPullagura-MSFT commented on #43537
@Pilchie Thanks for the feedback! We are currently investigating and will get back on this.

[2019-11-26 04:30] jakaruna-MSFT commented on #43063
@lucidqdreams Got the info from the product team that they are going to do a code fix.

I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-11-26 04:30] #43063 closed

[2019-11-26 04:33] SumanthMarigowda-MSFT commented on #43497
@andyjballgit Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-26 04:34] SumanthMarigowda-MSFT commented on #43503
@brianbarnett316 Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-26 04:34] SumanthMarigowda-MSFT commented on #43519
@rabryst Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-26 04:37] #43517 closed

[2019-11-26 04:39] femsulu commented on #43115
@Olileger  A PR has been successfully deployed to resolve the typo. The fix will be live shortly.
Thanks again for catching this.

we will now close this issue but don't hesitate to reply if you have any follow up questions.

Cheers

[2019-11-26 04:39] #43115 closed

[2019-11-26 04:40] souravmishra-msft commented on #43178
@gregdegruy, Just wanted to check with you if the above response helped or if there are any more queries around this. Please do update us to that we can help accordingly.

[2019-11-26 04:40] femsulu commented on #43264
@SidS11  A PR has been successfully deployed to resolve the typo. The fix will be live shortly.
Thanks again for catching this.

we will now close this issue but don't hesitate to reply if you have any follow up questions.

Cheers

[2019-11-26 04:41] #43264 closed

[2019-11-26 04:45] HeidiSteen commented on #41827
@ankitvijay  You were right! It took me awhile to get a second subscription to test, but I had no issues in using same-region services in other subscriptions.  I updated the docs accordingly, and those changes will be live tomorrow around noon Pacific Standard Time.   Thank you so much for filing this issue.

[2019-11-26 04:45] HeidiSteen commented on #41827
#please-close

[2019-11-26 04:45] #41827 closed

[2019-11-26 04:50] ram-msft commented on #43539
@xieofxie Thanks for the question. We are investigating the issue and will update you shortly.

[2019-11-26 04:52] souravmishra-msft commented on #43533
@MikeKaneDXC, Thank you for sharing the details with us. We are looking into this and will get back to you soon on this thread.

[2019-11-26 05:01] HeidiSteen commented on #41936
@ankitvijay  I've followed up with the article owner to ask about doc update.  Either the author or myself will circle back on this thread.

[2019-11-26 05:11] HeidiSteen commented on #41929
@ankitvijay Can you confirm whether these errors are still occurring?  For the first error, your assessment is likely correct. The portal has detection logic that tries to infer schema shape, but it's not bullet proof.  You might have better luck either partitioning your data into smaller portions to see if you can isolate which documents are failing, or you could try REST and Postman to define th

[2019-11-26 05:17] RohitMungi-MSFT commented on #43539
@xieofxie Could you please confirm if hitting the refresh button loading any options

[2019-11-26 05:24] v-krghan commented on #32322
![e1](https://user-images.githubusercontent.com/46382348/69601669-cec3c100-0fc9-11ea-90f6-1e5b33f5ce72.PNG)
![e2](https://user-images.githubusercontent.com/46382348/69601673-d2efde80-0fc9-11ea-9e8e-bcc090851afc.PNG)
@sushilraje I have the latest code and I tried running it through VS Code, I am still seeing these issues, Can you please look into it, thanks

[2019-11-26 05:32] kspoojary commented on #43467
Yea my bad, I just got confused with the statement, and thought VM should be in the same subnet as APIM

[2019-11-26 05:32] #43467 closed

[2019-11-26 05:35] xieofxie commented on #43539
@RohitMungi-MSFT It seems that language is bound to the service. We also have one with Chinese:
![image](https://user-images.githubusercontent.com/2876650/69602119-66202700-1051-11ea-823a-b0bc5ab936f4.png)

And one more question, how to know the language setting of an existing QnA knowledge base? Thanks

[2019-11-26 05:38] HeidiSteen commented on #41936
@ankitvijay  A doc update is required.  Per the engineer, "automatic indexing is required. Azure Cognitive sSearch cannot see unindexed paths because we use sql queries to get data. At least _ts and some unique key need to be configured to be automatically indexed. If the goal is to save money by reducing RUs and they want to do this by not using cosmos indexing and only Azure Cognitive Search, th

[2019-11-26 05:38] #41936 closed

[2019-11-26 05:45] stuartin commented on #39347
Microsoft support have advised that they know about this bug and a fix is planned for deployment on the 12th December.
The workaround is to update the service hook in Azure DevOps to use a specific API version:
1. Go to Project Settings
2. Click on Service hooks.
3. Double click on Webhook for this repository.
4. Click Next and scroll down to Resource version.
5. Select 1.0 as the value from the d

[2019-11-26 05:47] tkumark commented on #42700
@amenarde  Thank you it would be of great help

[2019-11-26 05:53] andrewatfornax opened #43546 "Typo"
"Default: This is the connection policy in effect on all servers after creation unless you explicitly alter the connection policy to either Proxy or Redirect. The default policy is Redirect for all client connections originating inside of Azure (e.g. from an Azure Virtual Machine) and Proxy for all client connections originating inside ( e.g. connections from your local workstation)"

I think, in

[2019-11-26 05:54] anujsharrma commented on #15670
![image](https://user-images.githubusercontent.com/23416939/69602959-38ca7d80-103f-11ea-95ff-e4cf7b35c60d.png)

Highly disappointed with this solution, twice i tried and every time i got he same error.
✓ Provisioning State: Succeeded Resource Type: Microsoft.StreamAnalytics/streamingjobs
✓ Provisioning State: Succeeded Resource Type: Microsoft.StreamAnalytics/streamingjobs
✓ Provisioning State: Su

[2019-11-26 05:55] ajonno commented on #40209
hi @SnehaGunda no problem - however i tested the example code and it did not work.
```https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-provision-container-throughput#javascript-sdk```

The deconstructed ```resource``` object does not carry a property called ```_rid``` ?

was testing with: ```"@azure/cosmos": "^3.5.1"```

was I perhaps looking at the wrong documentation ?

[code]

[2019-11-26 06:06] shashishailaj commented on #43153
@blouwagie We are closing this issue now . In case you have any further queries on this , please tag me to your reply and we will surely help you with the same.

Thank you.

[2019-11-26 06:06] #43153 closed

[2019-11-26 06:09] ajonno commented on #40209
no problem thanks. tested and works fine.

[2019-11-26 06:11] sub318 commented on #43507
I set policy for the resource.
![정책캡처](https://user-images.githubusercontent.com/13095836/69603553-6115a480-105e-11ea-88ff-555295e6e7b0.PNG)

But the policy did not apply by 10 min or over 2 hours, etc.
I called access token from web. however always access time expired only 1 hour.

[2019-11-26 06:32] RohitMungi-MSFT commented on #43539
@xieofxie You can use the API [Get Knowledgebase Details](https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136866eb37/operations/knowledgebases_getknowledgebasedetails) to get the language details. For example here is a sample response.

![image](https://user-images.githubusercontent.com/46958063/69604817-81d10080-1044-11ea-972d-a3f774e77881.png)

[2019-11-26 06:47] xieofxie commented on #43539
@RohitMungi-MSFT ok, if I manually enable the Language selection via DevTools from browser, it will create one with selected language (verified by api). However, it seems to be "more stupid".. I will try later..

[2019-11-26 06:49] nicowitteman commented on #43514
Hello Frank,

Thanks for your reply. Yes I have replace the TenantId, and following the instruction I looked for AzureAdB2CHostname to replace that as well, but that is not in the code.

The set of fields returned in the actual code is differing from the set as shown in the screen print, too (with Job Title among other fields).

Kind regards,

Nico

Van: Frank Hu [mailto:notifications@github.com]

[2019-11-26 06:50] dipesh-wadhwa commented on #43483
@FrankHu-MSFT Even in the documentation I have question.
Earlier in technical profile section **ValidTokenIssuerPrefixes** was pointing to "https://sts.windows.net/". Now it is been replaced by https://login.microsoftonline.com/.
Not sure which one is correct... Documentation is too complex and confusing...

`
        `

[2019-11-26 06:51] Jayesh040 commented on #43472
Hi @mike-urnun-msft , Thank You.
No worries I have raised the same query on PowerApps Ask Community forum.
You can see below.

https://powerusers.microsoft.com/t5/Common-Data-Service-for-Apps/Can-I-merge-multiple-tables-of-Azure-SQL-DB-in-CDS-to-create/m-p/412688#M3105

[2019-11-26 06:59] jakaruna-MSFT commented on #43516
@amitamit281
Thanks for the question! We are investigating and will update you shortly.

[2019-11-26 06:59] jakaruna-MSFT commented on #43516
@dlepow  will acr task support enterprise git?

[2019-11-26 07:06] anujsharrma opened #43548 "NPM Install Error"
I am following the same staeps as mentioned in the
https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-deploy-local
**But when i run the install NPM command I got 31 errors, all are related to build, can someone please help me here:**

C:\>cd Users\anuj.sharma\source\repos\azure-iot-pcs-remote-monitoring-dotnet\webui

C:\Users\anuj.sharma\source\repos\azure-i

[2019-11-26 07:29] anthonychu commented on #29292
Fixed with https://github.com/Azure/azure-functions-durable-js/issues/54

#please-close

[2019-11-26 07:29] #29292 closed

[2019-11-26 07:38] SadiqhAhmed-MSFT commented on #43453
@rayne-wiselman Is this something you can check with the concerned team and confirm?

[2019-11-26 07:42] evmimagina commented on #43504
Hi @MicahMcKittrick-MSFT,

I'm refering to the internal DNS cluster name. By default it has the cluster.local root name and we need to change it.
That's something that could be achieve changing the corefile section within the coredns' configmap, BUT, AKS rewrite any change that we do on that file. Ive found some references that specifing that name is something that could be done when creating the

[2019-11-26 07:46] frayosh77 opened #43549 "Issues while integrating QnA Service with LUIS"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3041fcf6-3b37-8d88-4d16-73ad0f841b78
* Version

[2019-11-26 07:58] icelava commented on #43459
Just to be clear, we have AAD P1 subscription. Which I believe is apparent since we have that extra UI option in Azure portal to configure in the first place.

[2019-11-26 08:06] shashishailaj commented on #43500
@wcneumann219 Thank you for your feedback . We will be engaging the content authors on this request so that they can review and provide appropriate assistance .

[2019-11-26 08:07] shashishailaj commented on #43500
@MicrosoftGuyJFlo Could you please review this request and provide your comments on the same ?

[2019-11-26 08:10] frayosh77 commented on #43549
Dear Bot enthusiasts,

The BOT that I am developing requires elements of both QnA Maker as well as LUIS. I was successful in implementing both elements separately to a Bot. However, when I try to combine both components the problem arises.

The description of my issue is as follows:

1. I have been following the given Link (https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/tutoria

[2019-11-26 08:11] anthonychu commented on #21023
Another way to do this is to put the try/catch in the activity function itself and never throw an exception from an activity.

[code]

Then unwrap the results in your orchestrator:

[code]

Let us know if there are any further questions. For now, #please-close .

[2019-11-26 08:11] #21023 closed

[2019-11-26 08:15] ChiragMishra-MSFT commented on #43431
@algattik I understand. I am assigning this to the content owner to review and update as appropriate. Thanks for bringing this to our notice.

[2019-11-26 08:15] ChiragMishra-MSFT commented on #43431
@ShubhaVijayasarathy Can you please have a look at this?

[2019-11-26 08:15] wbplomp opened #43550 "What about Cost Analyses with an Azure Plan (new commerce experience) within CSP?"
What about Cost Analyses with an Azure Plan (new commerce experience) within CSP? When you migrate Azure Subscriptions (CSP) to an Azure Plan; the cost analyses is unavailable, even when you are a contributor on the subscription. Can you add some info to this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de9

[2019-11-26 08:16] mukulgit123 commented on #29780
**I was able to fix the ProviderFailed error when I gave same requests and limits for my services which ideally shouldn't be the case.**

After this, all pods are getting assigned to the virtual node as shown below and are showing the status as running.
However, the containers inside the pod are restarting again and again even after increasing the initialDelaySeconds for the readiness and liveness

[2019-11-26 08:20] SubhashVasarapu-MSFT commented on #43535
@PrometheusRising1 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-11-26 08:25] wbplomp commented on #43550
After some search I found the Azure documentation regarding this topic.

https://docs.microsoft.com/en-us/azure/cost-management/get-started-partners

[2019-11-26 08:25] #43550 closed

[2019-11-26 08:26] dzoech commented on #43501
Thank you for looking into this.

After checking the authors of the paper and the institutions they belong to, I'd assume they have fundamental knowledge about the SF platform:

Yeah, comparing the publication dates, the linked paper seems more up to date.

[2019-11-26 08:26] KrishnaG-MSFT commented on #43550
@wbplomp Thanks for the update. 👍

[2019-11-26 08:27] AshokPeddakotla-MSFT commented on #43548
@anujsharrma Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-26 08:33] flouwers commented on #43475
Hello,
Indeed, sorry, I forgot to put that reference.
The issue relates to https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#dns-configuration

[2019-11-26 08:34] tonesandtones opened #43551 "HTTP to HTTPS redirect section should refer to Standard CDN from Microsoft"
The Azure Standard CDN from Microsoft also provides a rules engine that can perform the HTTP to HTTPS redirect. It's also a lot easier to configure than the Verizon premium CDN rules engine, has first class support in the Azure Portal, is automatable with ARM templates, and is half the price.

The HTTP to HTTPS redirect section should at a minimum point users to the the Microsoft standard cdn sku

[2019-11-26 08:37] xieofxie commented on #43536
Somehow it works for east us now and the problem may disappear magically later..

[2019-11-26 08:43] jakaruna-MSFT commented on #43526
@makotog
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-26 08:45] Jessejames106 commented on #43375
@NavtejSaini-MSFT @SnehaGunda Hi, You were correct as this informational message has fixed itself!, thanks for your help in any case

[2019-11-26 08:45] #43375 closed

[2019-11-26 08:45] jakaruna-MSFT commented on #43526
@ChristianMontoya @Heidilohr please consider the users request and update the doc as needed

[2019-11-26 08:51] dcurwin commented on #43382
#reassign:sogup

[2019-11-26 09:00] amanmcse commented on #43316
@ahmadizm Thanks for sharing the screenshots. I didn't notice that Application (Preview) is already added to the B2C blade.

I did the testing by making a token request at both oauth2 v1 and v2 endpoints after adding the app roles in the Manifest and confirmed that the Roles claim is not returned in case of B2C. I have shared the calls below with required parameters that I made to request for a to

[2019-11-26 09:02] SubhashVasarapu-MSFT commented on #43527
@dcbrown16 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-11-26 09:03] chi-ltd commented on #33551
Same for us

[2019-11-26 09:05] jakaruna-MSFT commented on #43534
@pf-dr
Thanks for the question!

'Ultra' is for the future use.  Currently only standard is used.

Got that info from the API [documentation](https://docs.microsoft.com/en-us/rest/api/compute/proximityplacementgroups/createorupdate#request-body).

@cynthn please add your comments

[2019-11-26 09:06] DixitArora-MSFT commented on #43290
@mladedav I have assigned this to content author for further review and update as appropriate.

[2019-11-26 09:11] kilasuit commented on #43302
Having come across this today i have to second this

[2019-11-26 09:12] DixitArora-MSFT commented on #43277
@brucemcmillan I have assigned this to content author for further review and update as appropriate.

[2019-11-26 09:13] spaelling commented on #43481
does that mean that the user quota is 15 every 5 seconds? If that is the case, you are welcome to update the documentation, but it is highly impractical to work with.

[2019-11-26 09:17] 1993Saurabh opened #43552 "Not able to test it using Run flow from Azure Portal"
Hi,

I am not able to test this functionality by using the Run Flow button from Azure portal. Whenever I click Run User Flow button, it redirects me to the Sign In page. After ticking the *Keep me signed in* checkbox it redirects me to the url configured. But when again I click on the Run Flow button it again redirects me to the Sign-in page which shouldn't happened if I tick the *KMSI* checkbox.

[2019-11-26 09:17] marrobi commented on #42219
I agree with this - caught me out - the instructions should probably use `az extension add` as it says *To install the aks-preview 0.4.14 extension or later, *

[2019-11-26 09:22] VikasPullagura-MSFT commented on #43538
@Pilchie I tried this in my lab cluster and I am getting the expected output once the scaling is completed..
Can you please let us know if your cluster is a multi node pool enabled or a single node, I tried running this on a single node pool cluster and it worked.

[2019-11-26 09:24] DavidTrigano commented on #43428
@kumarallamraju many thanks for your feedback. As @KalyanChanumolu-MSFT said, the Azure portal has evolved after the content was published. We will work on updating the content accordingly.

[2019-11-26 09:25] jakaruna-MSFT commented on #29780
Hi,
Apart from the pods which you have deployed, There will be pods deployed by the virtual node.

Which way you used to add the virtual node to the cluster
- az aks install-connector
- az aks enable-addon

Did you deployed your AKS in a custom VNET?

Let me know the type.  I will reproduce the issue in my environment and let you know

[2019-11-26 09:28] santo2 commented on #43462
Hi FrankHu, thanks for your reply, does this also work with Powershell Core? It's getting very hard to find the correct way of working with powershell these days. I can't use the AZ modules with powershell 5, I can't use AzureADPreview with Powershell Core 6? :)

On import, I'm getting this error

Import-Module AzureADPreview
Could not load file or assembly 'System.Windows.Forms, Version=4.0.0.0,

[2019-11-26 09:29] RohitMungi-MSFT commented on #43549
@frayosh77 Could you please check if the package Microsoft.Bot.Builder.AI.Luis with the right version installed in your project? You can also try to download the bot source code and run in locally instead of online to debug locally.

Also, the link you are referencing uses SDK 3.0, Could you please try to use 4.0 with settings of your LUIS app in appsettings.json as mentioned in this [documentatio

[2019-11-26 09:32] p0onage opened #43553 "Unit testing Post requests to your Azure Function"
I extended the CreateHttpRequest to allow testing post requests to the function that this documentation didn't cover

    public static DefaultHttpRequest CreateHttpRequest(string queryStringKey = null, string queryStringValue = null, string body = null)
        {
            var request = new DefaultHttpRequest(new DefaultHttpContext())
            {
                Query = new QueryCollection(Cr

[2019-11-26 09:39] Sculpin90 commented on #43447
Good input, also what if we enable Security Defaults on a tenant and still want to exclude one or two accounts? Will that even possible to do without Conditional Access-Policies?

[2019-11-26 09:53] rungsoso opened #43554 "Can't leave organization because account sign-in was blocked"
I can't leave organization because account sign-in was blocked
This error message

Help me please.

[2019-11-26 09:56] roofiq opened #43555 "Unknown status"
Hello,

I have PBI report that is being fed with data coming from Azure resource health rest API. I'm listing there all resources and their status.
Status 'unknown' is fairly often seen there although the resource has status running and is online.
From where those unknown statuses come from, should we configure the report to ignore this? Why it is so inaccurate?

Regards,
R

---
#### Document Deta

[2019-11-26 09:58] MarkDordoy commented on #42907
Thank you this information. I'll now be able to complete my DSC module to manage the installation of this. :-)

Thanks

[2019-11-26 09:58] #42907 closed

[2019-11-26 10:03] chi-ltd commented on #33551
Ah! We have 2x WVDs and 1x WVD client.  The WVDs are Default Access and the other is Tenant Creator.  Which should i delete?

[2019-11-26 10:03] liuguijunhao opened #43556 "create linux standalone"
How to Create a Standalone Cluster on linux(ubuntu)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c443738-ea8f-18cf-5a2b-d3afb1a0d672
* Version Independent ID: e28d20f9-c34c-05b4-722e-ed74ae4371f9
* Content: [Create a standalone Azure Service Fabric cluster](https://docs.microsoft.com/en-us/azure/service-fabric/serv

[2019-11-26 10:09] liuguijunhao commented on #43556
Linux is not yet supported?

[2019-11-26 10:10] baddevotions opened #43557 "incorrect information on managed identities"
Azure Storage Explorer doesn't recognise the Data factory Managed Identity Application ID. You need to use the Data Factory Managed Identity Object ID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16b565fd-5303-cfcb-73f7-e2fd54a9c3a1
* Version Independent ID: bcbd827a-09e5-3990-2a42-1a0d35cc9415
* Content: [Copy and

[2019-11-26 10:15] SnehaAgrawal-MSFT commented on #43355
@olavt Thanks again for bringing this to our attention! We will now proceed to close this thread. Will keep posted update here. In case you feel you need more information please just let us know.

[2019-11-26 10:15] #43355 closed

[2019-11-26 10:17] 0x1D-1983 opened #43558 "SSL certificate for a production scenario"
I set up the container group to host an application container and an SSL provider nginx container(currently with self-signed cert).  Now, I'd like to request an SSL certificate from a certificate authority, but I'm not sure what domain name should I provide? Is it going to be the container group's FQDN? I wonder if that's even allowed since it is an "azurecontainer.io" top-domain.

---
#### Docume

[2019-11-26 10:22] SubhashVasarapu-MSFT commented on #43554
@rungsoso , Could you please link the document you are referring to for further analysis?

[2019-11-26 10:35] karthick3d opened #43559 "How to Test the scripts with Reservation API"
I would like to know If there is a way to call the reservation API while writing the script without buying the reservations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 901b8caf-6a63-d728-ce50-511197316e91
* Version Independent ID: 49fcf728-bc45-7dcb-07a7-8d0c3a21b40a
* Content: [APIs for Azure reservation automatio

[2019-11-26 10:36] evmimagina commented on #43504
Hi Micah,

I've figured out the way to do it. The official docs leads to error.

I've been checking the following oficial documents, none of them helped me;

https://docs.microsoft.com/en-us/azure/aks/coredns-custom
https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/
https://coredns.io/2017/05/08/custom-dns-entries-for-kubernetes/

Only this thread helped me to find a solut

[2019-11-26 10:50] SnehaAgrawal-MSFT commented on #43543
@Cescante Thanks for asking question! Could you please double check on have you included the clientid property?
As its mentioned [here:](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=powershell#adding-a-user-assigned-identity) “If you are attempting to obtain tokens for user-assigned identities, you must include the clientid property. Otherwise the token service

[2019-11-26 10:51] damendo commented on #30097
Updated doc to reflect information from VPN Gateway documentation.

[2019-11-26 10:52] damendo commented on #30097
#please-close

[2019-11-26 10:52] #30097 closed

[2019-11-26 11:15] amgravem commented on #41465
I have the same issue. It seems like it doesn't compress the model at all. I have created an object detection model using the General (compact) domain and trained it. I extracted it as a Tensorflow-model, giving me a model.pb of size 43 081 KB. I then extracted it as a TensorflowLite model, which gives me a mode.tflite of size 43 081 KB. The other tflite-models I found online is ~4MB. Shouldn't th

[2019-11-26 11:29] damendo commented on #25319
This has been updated to reflect the new name. Screenshot outdated, will change that soon too.

[2019-11-26 11:29] damendo commented on #25319
#please-close

[2019-11-26 11:29] #25319 closed

[2019-11-26 11:32] Duffney opened #43561 "States Windows vm but uses Linux later on"
Create VM step two  In this tutorial, Windows Server 2016 Datacenter is used. However, the rest of the tutorial uses Linux configuration. Example the connection monitor is set to look at port 22 not 5985 or PowerShell remoting or an RDP port.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf662d1-53fb-f651-ee67-6e1748

[2019-11-26 11:39] ChiragMishra-MSFT commented on #43557
@baddevotions Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-11-26 11:40] BiljanaJaneva commented on #7926
Hi, does "owner" need to be administrator on the device or not?

[2019-11-26 11:44] TAdityaAnirudh commented on #42973
@master135 please use the DateTime format "yyyy-MM-dd hh:mm:ss tt" to pass in filter values. Service is not parsing the filter values correctly because of which you are getting jobs for the last 24 hours. We will add validation and error message for the same soon, but using this format your script should work.

Example: https://docs.microsoft.com/en-us/rest/api/backup/backupjobs/list#examples chec

[2019-11-26 11:47] damendo commented on #32725
#reassign:malopMSFT

[2019-11-26 11:58] jakaruna-MSFT commented on #43556
@liuguijunhao Linux is supported.
You can follow this [document ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux) to install from the package manager.
Supported ubuntu version is 16.04 and RHEL 7.

Current veriosn of service fabric (7)   can run on ubuntu 18.04 as well. But without any tooling support.

Release reference is [here ](https://techcommunity.micr

[2019-11-26 11:59] damendo commented on #34707
Great point. This has been added to the docs.

[2019-11-26 12:02] damendo commented on #34708
@blueelvis "In all cases, the storage account must be in the same region as the NSG."

[2019-11-26 12:02] damendo commented on #34708
#please-close

[2019-11-26 12:02] #34708 closed

[2019-11-26 12:05] brianbarnett316 commented on #43503
Thanks.  Let me clarify the installation which resulted in the error message.  I opened Storage Explorer and it displayed a notification that a new version was available.  I selected to install the new version.  After that, I got the .NET Framework error message when launching.

I've since downloaded the version from here - https://azure.microsoft.com/en-us/features/storage-explorer/ - by clicking

[2019-11-26 12:06] damendo commented on #34707
#please-close

[2019-11-26 12:06] #34707 closed

[2019-11-26 12:07] galaxyware241 opened #43563 "offline release"
Hi , will there be any offline installer version? we have been trying to use this in a relatively locked-down environment and the online installer just doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fee169d-01e0-4320-2ca9-3a50c0630950
* Version Independent ID: bcf502ec-7acc-4737-f81f-52d3e972f295
* Conte

[2019-11-26 12:22] damendo commented on #39345
Updated function as suggested

[2019-11-26 12:23] damendo commented on #39345
#please-close

[2019-11-26 12:23] #39345 closed

[2019-11-26 12:24] bally-singh commented on #43480
Thanks for coming back to me so quickly Christian.

So yep, to confirm that the RDS Client and web browser will appear in AAD as 'Mobile Apps and Desktop Clients'

And you are right about the expiry time - I was being impatient! So I have managed to set the CA policy to 1 hour and I can set session limits on the host to enforce the security restrictions. Next time the user goes to launch the app t

[2019-11-26 12:24] DixitArora-MSFT commented on #43553
@p0onage Thanks for contributing the PR and help us in improving the documentation. Should we proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply.

[2019-11-26 12:28] #43537 closed

[2019-11-26 12:30] likebupt commented on #41738
Hi @EricKyaw .
Sorry that "PUT" REST API is not working currently, which should be a bug and we are tracking it. We suggest you using Patch instead.
Patch payload is same as PUT, which can update the trained model (ilearner asset) directly.
Please refer to https://docs.microsoft.com/en-us/rest/api/machinelearning/webservices/patch#code-try-0

[2019-11-26 12:37] jakaruna-MSFT commented on #43558
@0x1D-1983  Getting a certificate from CA with top level domain azurecontainer.io is not possible.
You need to get a domain like container.yourcompany.com or any other custom domain.  Then add the public ip of the container as A record in your DNS provider.

If you delete and recreate the container group, you will loose the ip. Then you need to update the DNS.

@dlepow Please add if we have other

[2019-11-26 12:38] sidhartha-patra opened #43564 "Doubt regarding non-availability of native Java client for Storage Resource Provider"
I wanted to configure a management policy for setting retention time of Containers.
This is part of the Storage LifeCycle Management.
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts?tabs=azure-portal

Wanted to check if there is any native client available as part of the Java SDK, to use the LifeCycle management.
I can use the portal, the CLI and powershe

[2019-11-26 12:38] damendo commented on #40044
Updated the considerations

[2019-11-26 12:38] damendo commented on #40044
#please-close

[2019-11-26 12:38] #40044 closed

[2019-11-26 12:39] damendo commented on #40414
#reassign @vinynigam

[2019-11-26 12:40] AshokPeddakotla-MSFT commented on #43454
@liudr Please check the above suggestions and let us know if that solves your issue.
Adding author @robinsh to check this further and update the doc as appropriate.

[2019-11-26 12:41] SadiqhAhmed-MSFT commented on #43326
@jeffesc85 Am assuming, you're confused between replication and failover. In replication, we take the snapshot and send the data to Azure. The time taken to replicate this data to Azure storage account depends on your network bandwidth.

When you perform a failover to Azure, the recovery points are already available for you. Meaning the data already exist in Azure and you select the latest recover

[2019-11-26 12:45] jakaruna-MSFT commented on #43558
i think we can get a cert from letsencrypt for <dnslabel>.<region>.azurecontainer.io.

I didnt test it yet though.

[2019-11-26 12:46] tiagodenoronha commented on #39835
We used if (Database.IsSqlServer()) on the constructor, seems like a cleaner solution.

[2019-11-26 12:49] jakaruna-MSFT commented on #43558
If you have time, Checkout this third party article https://www.axians-infoma.de/techblog/nav-bc-azure-container-instances-with-lets-encrypt-certificates/
Which internally uses this https://github.com/Azure/azure-quickstart-templates/tree/master/101-aci-dynamicsnav template.

If this image is able to get the letsencrypt cert on the fly, We can embed some scripts in our image as well to get the cer

[2019-11-26 12:51] KalyanChanumolu-MSFT commented on #43546
@andrewatfornax Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-11-26 12:53] M0ns1gn0r opened #43565 "Not everything is included to exported ARM"
The documentation doesn't mention the fact that this export seems to be quite limited.

For example, for the "Microsoft.Cdn/profiles/endpoints" resource no custom rules are exported (the "deliveryPolicy" section is missing). This is probably because the exported ARM uses the apiVersion "2016-04-02", although [the actual version](https://docs.microsoft.com/en-gb/azure/templates/microsoft.cdn/2019-0

[2019-11-26 12:55] damendo commented on #40553
Fixed

[2019-11-26 12:55] damendo commented on #40553
#please-close

[2019-11-26 12:55] #40553 closed

[2019-11-26 12:55] 0x1D-1983 commented on #43558
Will check out, thank you.

[2019-11-26 12:56] p0onage commented on #43553
@DixitArora-MSFT I have created a PR for you to look at https://github.com/p0onage/azure-functions-tests/tree/%2343553-TestingFactory-Improvements

[2019-11-26 12:56] ToMakeSense opened #43566 "Adding trackedProperties leads to logic app still to running status in Logic Apps Management solution"
My use case is just like the seond step in the blog [2.Edit the code view of the logic app, added a tracked properties tag and saved it](https://www.connected-pawns.com/2018/06/19/cant-see-tracked-properties-logic-app/), adding trackedProperties --`triggerBody()?['propertyName']` leads to logic app still to running status in **Logic Apps Management solution**, however the logic app is actually fin

[2019-11-26 12:59] damendo commented on #40417
@andersonpatricio did you mean for "In order to use the Effective Security Rules" ?

[2019-11-26 13:00] ahmadizm commented on #43316
@amanmcse, this is great information, thank you. I kind of came to the same conclusion that B2C may not be the right place to assign and retrieve application roles. Now that I have your confirmation, I will resort to regular AD for special app roles that employees should have. Thanks again.

[2019-11-26 13:00] #43316 closed

[2019-11-26 13:03] mariobede opened #43568 "Security Audit and SQLSecurityAuditEvents"
Is the below statement going to change in the near future?
- Security Audit and SQLSecurityAuditEvents logs can't be enabled from the database diagnostics settings (although showing on the screen). To enable audit log streaming, see Set up auditing for your database, and auditing logs in Azure Monitor logs and Azure Event Hubs.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-11-26 13:04] weyCC81 opened #43569 "Teams in Important considerations"
Does this list also work independently of the list in Microsoft Teams or will this be synced to Microsoft Teams & Skype for Business Online?

(1) Teams &gt; Org-wide settings &gt; External access &gt; Domain list
(2) Teams &gt; Legacy portal &gt; Organizaion &gt; External communications &gt; blocked or allowed domains

The "Collaboration restrictions" is set to "Allow invitations only to the speci

[2019-11-26 13:04] shashishailaj commented on #43563
@galaxyware241 Thank you for your feedback. We will investigate and update this thread .

[2019-11-26 13:16] shashishailaj commented on #7926
@BiljanaJaneva Yes the owner needs to be administrator on their own device or they need be part of any of the above groups as listed to be able to access the bitlocker key in the cloud.

[2019-11-26 13:17] NeilMeredith commented on #42934
Thank you for your help with this @vkurpad.  After you reviewed my search index state this time when I reset the indexer the cache was created, and updating a skillset definition and then re-running the indexer now recognizes the change and reprocesses the document.

Can you let me know what the reset skills post request would look like for the incremental indexing (to just reset specific skills a

[2019-11-26 13:20] grayjeremy opened #43570 "Remote SSH non-interactive service principal"
it would be great to have docs here on how to utilize a service principal in a non-interactive way to use remote SSH.  We don't currently support cron and this would be a good work around.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4f27ae-bfd4-6663-13ce-c3d0b40326e3
* Version Independent ID: 892091ad-f470-d715-ac

[2019-11-26 13:20] NavtejSaini-MSFT commented on #43568
@mariobede We are checking this and we will get back to you.

[2019-11-26 13:24] abhall724 opened #43571 "How to cleanup resources without tearing the entire controller down?"
Can you update the documents to include instructions on how to tear-down a dev space without deleting the entire cluster? I assume we can just delete the namespace, but there are additional ingress routes that are created in the parent namespace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef8dd4f6-1bfb-9818-87c7-98

[2019-11-26 13:28] ToMakeSense commented on #43566
Meanwhile, I think the documentation for trackedProperties is too much general, what about the restrict of the authoring the trackedProperties. for eaample, I found **triggerBody()** and **action()** could be used, but **variables()** can't. I think tech details of it should be put into documentation.

**Error details found in the Azure Resource Explorer**
[code]

[2019-11-26 13:42] I90Runner opened #43573 "How does frontdoor set X-Forwarded-Proto?."
X-Forwarded-Proto: http The X-Forwarded-Proto HTTP header field is often used to identify the originating protocol of an HTTP request because Front Door, based on configuration, might communicate with the backend by using HTTPS. This is true even if the request to the reverse proxy is HTTP.

Based on the above documentation  X-Forwarded-Proto should be set from the originating client.
But we are n

[2019-11-26 13:47] heymega opened #43574 "Specify Zero Pre-warmed Instances"
"In the Premium plan, you can have your app pre-warmed"

This implies that you can also not have it pre-warmed yet the minimum instances slider in the portal starts from 1. Is it possible to not have pre-warmed instances and take the lower costs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3847e16b-92ae-0202-c7e1-ca

[2019-11-26 14:06] danimir commented on #43568
This was only a bug that is now resolved. Audit is now removed from Diagnostics settings, and the docs will be updated. Diagnostic settings was never the intended place to enable Audit, To enable Audit, you will need to do this from the Audit functionality itself as disclosed..

[2019-11-26 14:22] PramodValavala-MSFT commented on #43574
@heymega The line actually ends with "on a specified number of instances, up to your minimum plan size" which is true.

Also, at the end of the same paragraph, there is indeed a mention about the at-least one instance requirement - "and you need to keep at least one instance running and available at all times the plan is active".

[2019-11-26 14:25] umeshmsachdev opened #43575 "Broken Link for Feature Sets"
The documentation on the Microsoft website under the below link has a broken link.
https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/lifecycle-modeling#feedback

The Github link for 'Feature Sets' is broken.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 703809ca-6d

[2019-11-26 14:31] Molx32 opened #43577 "[NOT UP TO DATE]"
The user rights described in the "Roles and allowed actions" are not up to date. For example, the Workbook contributor permission is not mentionned. In addition the term "dashboard" is used, instead of the newly "workbook".
I was thinking that maybe other permissions have been forgotten.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-11-26 14:33] CeciAc opened #43578 "cluster-issuer.yaml new apiVersion"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/593

@glubb92 commented 4 days ago — with docs.microsoft.com

The provided apiVersion in the cluster-issuer.yaml example is not working anymore. Upgrade it to following version: cert-manager.io/v1alpha2 (tested with cert-manager version v0.11.0)

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-11-26 14:35] murdockcrc opened #43579 "Correct index of key versions"
You might want to change the query to the following:
`--query [-1].kid \`

This makes sure that the command will return the latest version of the key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2deae96-4c5e-8396-519c-9ab7e09baacd
* Version Independent ID: a90b199e-623a-86ba-26e2-4ee71fae6e25
* Content: [Configure

[2019-11-26 14:37] KonTheCat opened #43580 "RandGuid vs InvocationId?"
Could someone please clarify the difference between the two and expected usage? It seems to me that InvocationId, also used in the previous version of Azure Function, is really what is intended to be used to match the execution of an Azure function to its logs. Its what is available in Application Insights logs (unless I am missing something) and its returned into the log at the end of function ex

[2019-11-26 14:41] blueelvis opened #43581 "This page needs to be updated with the latest experience"
Hi,

The steps have changed and now instead of "Export Activity Log", it says "Diagnostic Logs" and has new fields and doesn't have the ability to select the region. Could you please clarify and update this document with the relevant categories as well?

![image](https://user-images.githubusercontent.com/6985763/69643166-edd55800-1088-11ea-82e0-0f9f2a3366c6.png)

Thanks,
Pranav

---
#### Document

[2019-11-26 14:45] DCtheGeek commented on #43481
@spaelling That is correct, 15 queries every 5 seconds.  It's fully documented in [Guidance for throttled requests in Azure Resource Graph](https://docs.microsoft.com/azure/governance/resource-graph/concepts/guidance-for-throttled-requests). Also in that article are a number of ways to manage queries, such as batching, staggering, or pagination, in the event you are getting throttled.

If you are

[2019-11-26 14:45] #43481 closed

[2019-11-26 14:51] stumbaumr opened #43582 "Trying to add an IPv6 address to a named location"
It is unclear how to add IPv6 addresses in the web interface.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85e48aef-a7bc-38e2-f762-0162e154a6c4
* Version Independent ID: 6f37ac44-d5b8-5cce-ee0e-e31d1d6c863a
* Content: [Configure named locations in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-

[2019-11-26 15:02] HeidiSteen commented on #42821
@rajat28negi This workshop isn't in our documentation set.  Can you please file your issue here:  https://github.com/Azure-Samples/azure-search-knowledge-mining (it is the azure-samples account, and azure-search-knowledge-mining repository).   I also recommend stepping through the workshop one more time through the beginning. The key-related error could be related to a missing step during index de

[2019-11-26 15:02] #42821 closed

[2019-11-26 15:04] pvrk commented on #42973
Thanks @TAdityaAnirudh . @master135 : Can you please check and verify this? Once you verify, I will close the bug.

[2019-11-26 15:06] MonikaReddy-MSFT commented on #43336
@dedickinson - Assigning it to doc author to further investigate and update the doc accordingly.

[2019-11-26 15:09] msrini-MSFT commented on #43573
@I90Runner , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-11-26 15:11] harry12345678910 opened #43584 "How to set the scopes to be validated?"
Thanks a lot for the tutorial.  I know that the scopes that are needed by an api can be defined in AAD under expose an API and add scope. In the tutorial you check for a user having a certain scope.  But where and how can the scopes been set on user level?

[code]

[2019-11-26 15:14] damienbod commented on #43056
@lukepuplett

maybe this will help you

https://damienbod.com/2019/05/17/updating-microsoft-account-logins-in-asp-net-core-with-openid-connect-and-azure-active-directory/

I had some problems and moved to OIDC

[2019-11-26 15:19] djcat80 opened #43585 "No app registration is created"
When I deploy the template, it does succesfully, but I can't see any new app registration.
I  deploy the template with a service principal, because the account has MFA activated.
Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a143e190-2e63-e3b9-725b-d433075e6e80
* Version Independent ID: b693e675-3258-473d-d

[2019-11-26 15:23] rfontijn commented on #43377
Hi Mike,

Did you receive my email from rfontijn@hso.com?
Is my problem clear and can you help me with it?

Kind regards,
Ruben Fontijn

Op vr 22 nov. 2019 om 21:15 schreef Mike Urnun <notifications@github.com>:

[2019-11-26 15:27] heymega commented on #43574
Thank you for the quick response.

Makes sense. I was expecting it to have a minimum instance size of 1 but there's been a lot of discussion around the pricing model of the examples online and they seem unachievable given an instance size of one 🤔

[2019-11-26 15:28] GiftA-MSFT commented on #43575
@umeshmsachdev thanks for bringing this to our attention, we will review it and get back to you shortly.

[2019-11-26 15:37] cap273 commented on #41964
Commenting again to bring this issue back to the top. Any updates?

[2019-11-26 15:40] #43584 closed

[2019-11-26 15:41] SumanthMarigowda-MSFT commented on #43551
@tonesandtones Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-26 15:42] SumanthMarigowda-MSFT commented on #43579
@murdockcrc Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-26 15:44] master135 commented on #42973
`https://management.azure.com/Subscriptions/SubscriptionID/resourceGroups/RGname/providers/Microsoft.RecoveryServices/vaults/VaultName/backupJobs?api-version=2019-05-13&$filter=startTime gt '2019-10-27 05:38:03 PM' and endTime lt '2019-11-26 05:38:03 PM'`

Above is URL I get
Below is piece of code I use
[code]
Actually I tried the format from your example. It still returns me values for last week

[2019-11-26 15:44] mmafe commented on #23292
I was looking for the same documentation. I think this might be what folks are looking for: https://docs.microsoft.com/en-us/azure/cdn/cdn-standard-rules-engine

[2019-11-26 15:44] tinyweasel commented on #42379
Having the same issue here, not using VS Code. Any workaround?

[2019-11-26 15:44] SumanthMarigowda-MSFT commented on #43417
@alkohli Requesting you to please add your comment here

[2019-11-26 15:50] ciprianbarbieru commented on #43491
+1 Also interested in this issue

[2019-11-26 15:51] kobulloc-MSFT commented on #43571
@abhall724 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-11-26 15:54] CCostaT commented on #42878
I'm probably missing something but retrieving the latest version is not working after updating the secret.

I have a secret called "mySecret" in a key vault and I'm using the following reference format (I tried both and none work):
@Microsoft.KeyVault(VaultName=<kv_name>;SecretName=mySecretKey;SecretVersion=)

It works the first time I add the reference to the app settings but if I change the secr

[2019-11-26 15:54] ignaciofls opened #43588 "Remote compute, Databricks needs to be in the same RG as Workspace"
I miss a clarification in this section https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-configure-environment#azure-databricks , stating that both AzureML and AzureDatabricks have to be within the same Resource Group to be integrated. thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 955b2d92-

[2019-11-26 15:58] skalpin commented on #30508
So this might work.. to spin on failures
[code]

[2019-11-26 16:01] alkohli commented on #43417
@nnamedieh Please take a look at this comparison: https://docs.microsoft.com/en-us/azure/storsimple/storsimple-8000-choose-storage-solution
This should help. But this is comparison of Data Box Edge vs AFS. Data Box Edge has all the capabilities of Data Box Gateway and has the additional Edge computing capability as well. Thanks!

[2019-11-26 16:05] Rodrigossz opened #43589 "Create and activate a virtual environment - I don't think that this step is necessary"
I tried here without it and it is working. Tks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6bfb5
* Version Independent ID: 3174a893-394c-c622-6c96-0b89955edfb5
* Content: [Create an HTTP triggered Python function in Azure](https://docs.microsoft.com/en-us/azure/azure-functions/function

[2019-11-26 16:05] gorgi commented on #42878
@CCostaT I noticed the same thing. There is some hard caching in place. Restarting the service doesn't clear the cache, but you would have to stop the service (Azure App Service or Function) and start it again in order for the new value to be retrieved.

[2019-11-26 16:07] himanshusinha-msft commented on #43372
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-11-26 16:08] himanshusinha-msft commented on #43381
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-11-26 16:11] himanshusinha-msft commented on #43390
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-11-26 16:11] mamccrea commented on #42938
@soham-bigdata - I've updated the breadcrumbs to match the rest of the Azure documentation. The breadcrumbs do not extend to the lower levels (How to Guide / Delta Lake / Introduction), as there are no landing pages for sections like How-to guides - they are just nodes in the TOC. One of our configurations mistakenly added those lower level nodes to the breadcrumbs. The changes should be live soon

[2019-11-26 16:14] mmacy commented on #43514
Hi @nicowitteman, thanks for reporting this. I suspect that what has happened is that you downloaded a ZIP archive of the sample using the link we provide in the article, which is now incorrect. The link is to the *master* branch archive, which is now an incorrect because it appears that the default branch was changed to **msalv3**.

Please use this download link instead, and try the running throu

[2019-11-26 16:15] himanshusinha-msft commented on #43491
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-11-26 16:17] himanshusinha-msft commented on #43492
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-11-26 16:18] nnamedieh commented on #43417
Hi @alkohli,
that's what I'm looking for. Thank you!

[2019-11-26 16:18] #43417 closed

[2019-11-26 16:18] pelon34 opened #43590 "Please add information and examples for Adding Plan information to this document for managed images from Marketplace"
Hello Team,
There are customers that create managed images and are unable to use it to deploy VMs from it due to errors like provisioning failed. Creating a virtual machine from Marketplace image requires Plan information in the request. Our public documentation can be improved if we add this scenario.  The solution to include plan information is very simple but after hours of research i could not

[2019-11-26 16:20] himanshusinha-msft commented on #43493
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-11-26 16:24] #43574 closed

[2019-11-26 16:25] ChristianMontoya commented on #43480
@bally-singh : Happy to hear.

[2019-11-26 16:25] ChristianMontoya commented on #43480
#please-close

[2019-11-26 16:25] #43480 closed

[2019-11-26 16:32] vinynigam commented on #40414
Hi @KumudD. Can you check with Ketan if nay other info is needed ?

[2019-11-26 16:33] KrishnaG-MSFT commented on #43584
@harry12345678910 Hope you have self resolved and hence closed this issue. In future, if you share any feedback under this azure-docs repo then please mention Azure documentation link / URL to which feedback is related to. This helps us to provide you better assistance. Cheers!

[2019-11-26 16:34] masitsa opened #43591 "Step 6 Error"
Should append 'main' at the end

deb-src http://debian-archive.trafficmanager.net/debian-security jessie/updates

to

deb-src http://debian-archive.trafficmanager.net/debian-security jessie/updates main

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5be23fa1-7083-e231-3bcc-6b86c57412a7
* Version Independent ID: 14f6de0

[2019-11-26 16:38] Alberto-Vega-MSFT commented on #43515
Hi @masakinoda111  did you have a chance to try the changes on the PR I linked to? did that resolve your issue?

[2019-11-26 16:40] #43514 closed

[2019-11-26 16:51] reginbald opened #43592 "Is there a C# nuget package for the device capability model?"
Is there a C# nuget package for the device capability model with the interfaces and/or POCO classes?
Is this the one we should use: https://www.nuget.org/packages/Microsoft.Azure.IoT.DigitalTwin.Model/1.1.0-preview ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b823a4ee-1a38-c575-6fc7-4bedf64e1edc
* Version Independe

[2019-11-26 16:55] ChristianMontoya commented on #43526
Forwarding to a member of my team. Will get back soon.

[2019-11-26 16:57] #43575 closed

[2019-11-26 17:00] GiftA-MSFT commented on #43575
@umeshmsachdev changes should be visible soon (next day or two). Thanks.

[2019-11-26 17:09] FrankHu-MSFT commented on #43462
If that is the case in regards to powershell core then you may need to upgrade your powershell version as the azuredpreview version is the only one that supports this.

If you want to try to utilize the microosft graph api with rest you can do that. That will be much more involved, but that is the only path if you need to use powershell core. Note that this method is unsupported and not the recomm

[2019-11-26 17:10] FrankHu-MSFT commented on #43483
@dipesh-wadhwa you should use login.microsoftonline.com where do you see the sts.windows.net part?

[2019-11-26 17:12] FrankHu-MSFT commented on #43507
@sub318 that's for your Microsoft Graph API service principal? If you're having anymore issues with this, please submit the question against the Q&A forums as these issues are meant for issues with the docs.

Link Here:
https://docs.microsoft.com/answers/index.html

As this is not an issue with the docs, I will be closing out this github issue by end of day. In addition to that if you could please

[2019-11-26 17:13] #43362 closed

[2019-11-26 17:15] masakinoda111 commented on #43515
変更を試してみましたが状況は変わらず、以下のようなエラーが発生します。

/home/pi/iot-hub-node-raspberrypi-client-app/node_modules/node-wiring-pi/node_modules/bindings/bindings.js:91
  throw err
  ^

Error: Could not locate the bindings file. Tried:
 → /home/pi/iot-hub-node-raspberrypi-client-app/node_modules/node-wiring-pi/build/nodeWiringPi.node
 → /home/pi/iot-hub-node-raspberrypi-client-app/node_modules/node-wiring-pi/build/Debu

[2019-11-26 17:18] FrankHu-MSFT commented on #43555
@roofiq Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-26 17:18] FrankHu-MSFT commented on #43569
@weyCC81 Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-26 17:18] FrankHu-MSFT commented on #43582
@stumbaumr Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-26 17:22] nicowitteman commented on #43514
Works like a charm now. Thanks.

[2019-11-26 17:22] FrankHu-MSFT commented on #41355
Hey @thikon I will need to take a longer look into this, thanks for letting us know about this

[2019-11-26 17:23] pvrk commented on #42973
Just a hunch, can you please try with 'eq' instead of gt? startTime eq '$Yesterday' and endTime eq '$Today'?

[2019-11-26 17:25] brandonh-msft opened #43593 "func host start errors out on v1 functions"
Despite the docs saying v2 functions use `func start` and v1 functions use `func host start`, I'm met with numerous errors when I attempt the latter on a v1.x Azure Function:
[code]

Yet this same project works fine with a Ctrl+F5 from VS2019, so there must be some form of the cmd line that does the trick...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-11-26 17:35] knaidoo33 commented on #43525
I would say this is the most relevant documentation I have found.
https://docs.microsoft.com/en-us/azure/data-factory/concepts-data-flow-overview

[2019-11-26 17:36] FrankHu-MSFT commented on #43569
hey @weyCC81 there should be two layers of security, there's the aad security and then the teams security, so you can assume they are two separate pieces of software. Please let us know if you have anymore questions otherwise I will be closing this out by end of day today.

[2019-11-26 17:48] RobSiklos commented on #43384
@FrankHu-MSFT Sorry for the delay. I can confirm that I am doing this for a desktop/native application.

[2019-11-26 17:50] trotman23 opened #43594 "List the object id in the Azure Front Door custom domain https guide"
As well as listing the AFD application id in this guide, it would be helpful to list the AFD object id.
When trying to configure AFD with a custom certificate with terraform, I am required to use the AFD object id when creating an azure key vault access policy.

I had to look at the XHR request in my browser when searching for the AFD application ID to find out its object id, and could not find it

[2019-11-26 17:56] MicahMcKittrick-MSFT commented on #43561
@Duffney can you please provide the link to the documentation you are referring to so I can better assist?

[2019-11-26 17:58] Duffney commented on #43561
my bad, sorry about that. Though that transferred over. https://docs.microsoft.com/en-us/azure/network-watcher/connection-monitor

[2019-11-26 17:59] maletor commented on #35318
@jcbrooks92, what is the correct path forward for this? Will this likely be resolved by Key Vault's "allow trusted Azure services"? Or will this require further change on our side?

[2019-11-26 18:00] MicahMcKittrick-MSFT commented on #43590
@pelon34 thanks for the feedback. I believe we have an internal work item to add this information.

I will assign to the content author to review and merge as needed.

@cynthn this is an issue we have discussed previously so let me know how we want to move forward with it.

[2019-11-26 18:00] fabianflanhardt opened #43595 "IdentityExperienceFramework API permissions"
The Description on how to grant API permissions for ProxyIdentityExperienceFramework states to choose "My APIs" to find IdentityExperienceFramework, but I had to use "APIs my organization uses" to find the app registration. Could you check the step and update the description?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-11-26 18:03] MicahMcKittrick-MSFT commented on #43561
@Duffney all good :) I updated the issue and will assign to the correct engineer to take a look.

[2019-11-26 18:03] #19516 closed

[2019-11-26 18:03] #28910 closed

[2019-11-26 18:05] anthonychu commented on #19516
Thanks @mikhailshilkov. The update should be live in the next 24 hours.

[2019-11-26 18:06] anthonychu commented on #28910
Thanks @aderesh. The update should be live in 24 hours.

[2019-11-26 18:06] MicahMcKittrick-MSFT commented on #43504
@v-maudel got it. Thanks for the extra information. Makes much more sense now. I am glad you were able to figure out a way to do it. I will assign this to the content author to see if we can get some documentation around this and the best way to achieve it to avoid further issues.

[2019-11-26 18:06] KumudD commented on #40414
@ketaanhshah Please let us know if you need any other info. Thanks!

[2019-11-26 18:17] gregdegruy commented on #43178
Thanks for the help. Yes and I also used this [sample that creates an app in AAD using the Java](https://github.com/Azure-Samples/ms-identity-java-webapp/tree/master) as well as a web interface to test Microsoft graph API calls.

[2019-11-26 18:20] serlapoi commented on #43066
I have a resource group with one SQL Server VM and on VMSS.
My resource group is set into the External_Start_ResourceGroupNames, External_Stop_ResourceGroupNames variables.
I ran a WhatIf set to True on ScheduledStartStop_Parent runbook. I notice in the log hat only my SQL Server VM was taken into account. The VMSS was apparently not consider. No errors regarding the VMSS.
It would be interesting

[2019-11-26 18:20] SychevIgor opened #43598 "Add "preview" disclaimer to a page"
Feature is not GA and on some other pages marked as preview.
Please, add a disclaimer/highlights both in text in in title- that this feature is not GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9b94ef0-370e-058f-dbdf-b59a9e1177eb
* Version Independent ID: 87d85e7e-4246-6c7d-3347-74b202284822
* Content: [Managed d

[2019-11-26 18:22] YutongTie-MSFT commented on #43494
@jmsidhu
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-26 18:22] #43494 closed

[2019-11-26 18:30] CeciAc opened #43599 "Code: 404, Message: Resource not found activityId:"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/550

@wilcoblom commented 3 hours ago — with docs.microsoft.com
We have a durable Azure Function, which sends back http 202 accepted, location and retry-after headers, which works correctly when we execute this using an Azure Function Logic App Action. When we try to create a new custom Logic App action for t

[2019-11-26 18:33] jnoller commented on #43504
You can not.

[2019-11-26 18:33] AbhaPatankar commented on #29197
I am getting the same error. I wanted to understand how can I find out the admin name for my org to login to azure active directory admin portal. This is bit urgent and help here will be highly appreciated.

[2019-11-26 18:38] GiftA-MSFT commented on #43588
@ignaciofls thanks for reaching out, we will review your inquiry and get back to you shortly.

[2019-11-26 18:43] Pilchie commented on #43538
I did a 2-node cluster based on https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-deploy-cluster

[2019-11-26 18:47] HeidiSteen commented on #43101
@buildbod  Power BI accesses the knowledge store in Azure Table storage, and not the index in the search service.  You could delete the index, and Power BI would still work.

The Azure Table structures that are consumed in Power BI are specified through projections.  This article can tell you more about how those are created: https://docs.microsoft.com/en-us/azure/search/knowledge-store-projection

[2019-11-26 18:47] #43101 closed

[2019-11-26 18:51] Cescante commented on #43543
@SnehaAgrawal-MSFT That was it! thanks!

[2019-11-26 18:51] #43543 closed

[2019-11-26 18:52] HeidiSteen commented on #43029
@buildbod   The Power BI template is only useful for Azure tables created by the wizard because the wizard feeds in projection information that describes the shape of the data.  I'll make sure that the docs do a better job of saying that.

The REST walkthrough needs to use the manually created Power BI report. I'll make that point is clear also.

I'll leave this issue open for now while I work thr

[2019-11-26 18:53] isaaccarrington commented on #43302
I have carried on the thread in
https://stackoverflow.com/questions/54534924/arm-template-for-to-configure-app-services-with-new-vnet-integration-feature/59057622#59057622

[2019-11-26 18:53] mike-urnun-msft commented on #43472
@Jayesh040 Thanks for the update! I'll proceed to close this issue for now then.

[2019-11-26 18:53] #43472 closed

[2019-11-26 18:54] mike-urnun-msft commented on #43470
@skagrawal10 Just following up on my previous comment above, please let us know if you were following a specific MS Doc so we can correlate your feedback to the right team.

[2019-11-26 18:55] Karishma-Tiwari-MSFT commented on #43598
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-26 18:56] Karishma-Tiwari-MSFT commented on #43591
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-26 18:57] MarileeTurscak-MSFT commented on #43595
@fabianflanhardt
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-26 18:57] mike-urnun-msft commented on #43475
Thanks @flouwers! As the next step, we have proceeded to assign this issue to the author to review further and take the right course of action.

[2019-11-26 18:57] MicahMcKittrick-MSFT commented on #43591
@masitsa thanks for the find! Fixed :)

Once the PR merges the changes will go live after after a few hours.

[2019-11-26 18:57] #43591 closed

[2019-11-26 18:58] mike-urnun-msft commented on #43488
@rahuljim Just following up on my previous comment above, please let us know if you were following a specific MS Doc so we can correlate your feedback to the right team.

[2019-11-26 18:58] mrmueller opened #43600 "500011 not documented"
We see a few failures with 500011 and Failure Reason 'Other' for application "Microsoft Office" with client app "Mobile Apps and Desktop clients". Can someone please complete the documentation

Thanks
Martin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a

[2019-11-26 19:00] mike-urnun-msft commented on #43522
Thanks @soaway! As the next step, we have proceeded to assign this issue to the author to review further and take the right course of action.

[2019-11-26 19:03] mike-urnun-msft commented on #43525
Thanks @knaidoo33! We'll review this further and update as appropriate.

[2019-11-26 19:05] ElectricHavoc commented on #43503
I also just ran into this exact problem, same notice to upgrade, same problem. W10Pro1909

Same resolution, using above link to install seems to have corrected the issue.

Note: No uninstall etc, just install from link.

[2019-11-26 19:06] mike-urnun-msft commented on #43552
Hi @1993Saurabh - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-11-26 19:08] mike-urnun-msft commented on #43564
@sidhartha-patra Thank you for your feedback! We will review and update as appropriate.

[2019-11-26 19:16] libbro2006 opened #43602 "Does MSAL library also now support CBA, or ADAL only?"
Just wondering if this should be updated:

"To configure certificate-based authentication, the following statements must be true:
"Certificate-based authentication (CBA) is only supported for Federated environments for browser applications or native clients using modern authentication (ADAL). The one exception is Exchange Active Sync (EAS) for Exchange Online (EXO), which can be used for federated

[2019-11-26 19:17] mike-urnun-msft commented on #43566
@ToMakeSense Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-26 19:18] mike-urnun-msft commented on #43580
@KonTheCat Thank you for your feedback! We will review and update as appropriate.

[2019-11-26 19:24] mike-urnun-msft commented on #43589
@Rodrigossz Thank you for your feedback! We will review and update as appropriate.

[2019-11-26 19:26] mike-urnun-msft commented on #43593
@brandonh-msft Thank you for your feedback! We will review and update this thread with our findings.

[2019-11-26 19:28] mike-urnun-msft commented on #43599
@wilcoblom Thank you for your feedback! We will review and update as appropriate.

cc: @CeciAc

[2019-11-26 19:37] mike-urnun-msft commented on #43559
@karthick3d Thank you for your feedback! We will review and update as appropriate.

[2019-11-26 19:46] lumayara commented on #25798
It still is not working here for me...

[2019-11-26 19:47] RavennMSFT commented on #42993
WorkplaceJoined is part of the User state, and not the device state as it only applies to the current logged on user. Since WorkplaceJoined is an Azure AD device state, we provided both "Device State" and "user state" to explain the different states below

Thanks for the feedback on enterprise joined, we'll get that added

[2019-11-26 19:48] JoshuaPartlow opened #43603 "Keras support on Windows?"
The table here shows an X for Keras support on the Windows DSVM, but this page (https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-deep-learning-ai-frameworks) seems to show it as included. Am I misreading what that page means by "Supported DSVM editions".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-11-26 19:49] tchristiani commented on #25798
@lumayara are you talking about the demo on the azure.microsoft.com page or are you talking about the API? If you are talking about the API, I need you to open a separate issue. This issue is discussing a problem with a demo posted on a marketing page.

[2019-11-26 19:51] RavennMSFT commented on #42327
Azure AD guest (B2B) accounts are not supported for Windows 10 logon. So you cannot elevate them to admins or logon to Windows 10 with a guest account.

[2019-11-26 19:57] mamccrea commented on #43493
Hi @eparizzi! The libraries utilities in DBUtils only work on Python. Here is some additional information: https://docs.microsoft.com/en-us/azure/databricks/dev-tools/databricks-utils#--library-utilities

[2019-11-26 19:59] mamccrea commented on #43492
Hi @eparizzi - Most of DButils aren't supported for Databricks Connect. The only parts that do work are **fs** and **secrets**. Please see https://docs.microsoft.com/en-us/azure/databricks/dev-tools/databricks-connect#limitations

[2019-11-26 20:00] mamccrea commented on #43276
Thanks for your recommendation, @rohancragg. I've submitted your recommendation to the Databricks team.

[2019-11-26 20:02] mamccrea commented on #43491
Hi @cornelcreanga & @ciprianbarbieru! I've submitted a ticket to have additional information added.

[2019-11-26 20:04] mamccrea commented on #43381
Thanks for bringing this to our attention @crkuchlenz. We are updating the doc.

[2019-11-26 20:08] RyanHill-MSFT commented on #43570
Hi @grayjeremy, I don't believe this is an available workflow but I'll investigate and let you know.

[2019-11-26 20:08] jtracey93 opened #43605 "MFA NPS Extension License Requirements"
Hey,

With the announcement of MFA now being free for all Azure AD Tenants if using the Microsoft Authenticator Mobile App, will this mean that this NPS extension can be used without having an MFA premium license assigned to users or on the tenant?

e.g. We don't need Azure AD Premium P1/P2 or EM+S E3 or E5 etc... to use the extension, as long as we use the Microsoft Authenticator Mobile App to ha

[2019-11-26 20:12] RavennMSFT commented on #42225
Conditional access policies apply to hybrid AAD joined devices or compliant devices. We have an option for hybrid AAD joined devices because they're configured within the org domain and already managed by gpo/sccm, so there's some inherent trust factor. AAD joined and AAD registered are not part of it, as devices can get into that state from anywhere and by anyone, so there's no trust on them unle

[2019-11-26 20:17] ryandanthony opened #43606 "Create a CA cluster issuer section has invalid yml"
Needed a properly configured Solvers section under the acme node:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independent ID: 6052d3d4-d295-9340-b16d-4c200e34cd73
* Content: [Create an HTTP ingress controller with a static IP address in Azure Kubernetes Service

[2019-11-26 20:26] amthomas46 opened #43607 "Function fails after first run"
When I run this the first time, it works, but then it fails every time after that. I don't really understand the error. I would think it could still connect, but it would say '0 rows were updated'. Can you help explain this further?

![image](https://user-images.githubusercontent.com/28786161/69669985-cdd17480-1047-11ea-9225-0e0b6ba1faf3.png)

---
#### Document Details

⚠ *Do not edit this section

[2019-11-26 20:28] eparizzi commented on #43493
@mamccrea What you have linked seems to have nothing to do with what I'm asking. I'm asking about [Databricks Connect](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/databricks-connect).

But then, there's also a [Databricks Utilities API](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/databricks-utils#--databricks-utilities-api-library), which seems to be a whole differe

[2019-11-26 20:30] nonodename opened #43608 "Link to video is broken"
Link to video shows as CMS format not a hyperlink in Chrome. E.g: [!VIDEO hhttps://channel9.msdn.com/Shows/Data-Exposed/Its-just-SQL-Restoring-a-database-to-Azure-SQL-DB-from-backup/player?WT.mc_id=dataexposed-c9-niner]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171-f5e629661cb4
* Version Indepe

[2019-11-26 20:38] eparizzi commented on #43492
@mamccrea  I'm aware of the limitations. Databricks Connect works just fine locally. I only need basic dbutils.fs usage. The problem is that the same code that works locally doesn't work when deploying a jar to a Databricks cluster.
The snippet shown [here](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/databricks-connect#access-dbutils) `val dbutils = com.databricks.service.DBUtils`

[2019-11-26 20:39] Karishma-Tiwari-MSFT commented on #43578
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-26 20:42] grayjeremy commented on #43570
I was able to authenticate to the cli with a the `--service-principal` switch, `az webapp create-remote-connection`.  As long as you set an app uri on the service principal and set up the permissions from the SP to the webapp, it seemed to work fine.  I was planning on installing cron and the az cli into ACI and remoting into my linux app service to run scheduled jobs.  I can work with you on docs

[2019-11-26 20:43] julieMSFT commented on #43408
@sumitsengupta Hi, thank you for your question. embedded in the script in the article is the command to scale the SQL DB.
# Scale the database performance to Standard S1
$database = Set-AzSqlDatabase -ResourceGroupName $resourceGroupName `
    -ServerName $servername `
    -DatabaseName $databasename `
    -Edition "Standard" `
    -RequestedServiceObjectiveName "S1"
Please let me know if this ans

[2019-11-26 20:47] JimacoMS3 commented on #40189
Hi @NextTurn,

Thanks for your feedback! As we move toward GA of V2 of the Azure IoT Hub Python SDK, we are working to bring our documentation up to date.

Right now, in our documentation, we recommend that customers use the v2 IoT Hub device client in non-production environments. This client can be installed on all platforms (Linux, macOS, and Windows) using the command `pip install azure-iot-dev

[2019-11-26 20:52] Karishma-Tiwari-MSFT commented on #43349
@NAshwini Can you please share if there is any update? Did you try again and still seeing issues? Let me know. I can try with the specific VMs you are trying with.

[2019-11-26 20:56] imartinez2 opened #43610 "Error on Api"
The Parameter in step 3 on section "Render pushpins with labels and a custom image"  point to a break url http://azuremapscodesamples.azurewebsites.net/Common/images/pushpins/ylw-pushpin.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9aeb145b-1372-1e2a-c10a-2d430d72b4f5
* Version Independent ID: c59a5271-fd5d-1950-

[2019-11-26 20:56] Karishma-Tiwari-MSFT commented on #43361
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-26 20:56] #43361 closed

[2019-11-26 20:58] MarileeTurscak-MSFT commented on #43602
@libbro2006 based on this announcement I think you are right.  https://developer.microsoft.com/en-us/identity/blogs/microsoft-authentication-libraries-for-android-ios-and-macos-are-now-generally-available/

[2019-11-26 21:03] brandonh-msft opened #43611 "Outdated screenshots/docs"
The screenshots here out out-of-date from the current Azure portal and should be updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 959916bd-1d86-83b9-55c0-f2e97c5f90fd
* Version Independent ID: be424eb8-8bd5-12d3-a2bb-e1d8c3ea64c5
* Content: [Connect to Office 365 Outlook - Azure Logic Apps](https://docs.microsoft

[2019-11-26 21:03] GiftA-MSFT commented on #43603
@JoshuaPartlow thanks for reaching out, we will review your inquiry and get back to you shortly.

[2019-11-26 21:07] TravisCragg-MSFT commented on #43594
@trotman23 Thanks for the feedbcak! You can find the Resource ID of any object in Azure by navigating to the object in the portal and selecting "propeties" and looking for "Resource ID".

It looks like the Key Vault process has changed slightly. I am assigning this issue to the author to update the Key Vault proccess.

[2019-11-26 21:10] ecfan commented on #43599
@wilcoblom, can you please clarify what you meant that the help email address doesn't work? Did you get an error message? Thanks!

[2019-11-26 21:12] mrbullwinkle commented on #43490
@drdamour nice catch, thank you! A previous bulk change to the table of contents broke a few things and this was missed. I will get this taken care of today. Thank you for bringing this to our attention.

[2019-11-26 21:13] rolyon commented on #40720
Hi @sujitks
I've updated the doc and added a note to hopefully make this more clear.
https://docs.microsoft.com/en-us/azure/role-based-access-control/deny-assignments
Let us know if you have any additional feedback.

[2019-11-26 21:13] rolyon commented on #40720
#please-close

[2019-11-26 21:13] #40720 closed

[2019-11-26 21:16] PeterAnaniaHC opened #43612 "Azure Management API operation Web Apps - Create Or Update Slot is broken"
**1.) The relevant Azure service or technology**

Azure Management API operation "Web Apps - Create Or Update Slot"

PUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}?api-version=2019-08-01

**2.) A link to the published documentation article that you have feedback about.**

https://docs.microsoft.co

[2019-11-26 21:17] ecfan commented on #41851
Hi @ranokarno,

Since we haven't heard back from you, we'll close this thread for now. If you have more questions, please tag me in your reply. Thanks for reaching out!

@mike-urnun-msft: #please-close

[2019-11-26 21:17] #41851 closed

[2019-11-26 21:22] TravisCragg-MSFT commented on #43561
@Duffney As this is a tutorial for monitoring traffic between 2 VMs, both a Windows VM and a Linux VM are made in step 2.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-26 21:22] #43561 closed

[2019-11-26 21:23] wilcoblom commented on #43599
This is my issue:

We have a durable Azure Function, which sends back http 202 accepted, location and retry-after headers, which works correctly when we execute this using an Azure Function Logic App Action. When we try to create a new custom Logic App action for this Durable Azure Function (using the polling pattern: https://docs.microsoft.com/nl-nl/azure/logic-apps/logic-apps-create-api-app#perf

[2019-11-26 21:24] master135 commented on #42973
Yeah, it worked. Looks I'm an idiot :)
I also saw that you added error string when calling API with wrong parameters. Thanks for this. Guess you can close this case now!

[2019-11-26 21:24] MarileeTurscak-MSFT commented on #43600
@mrmueller
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-26 21:28] ecfan commented on #43599
@mike-urnun-msft: I suggest asking the engineering team about the 404.

@wilcoblom, thank you, but I'd like to know what happened when you tried contacting the email address that's at the bottom of the page. You said the email address doesn't work. Did you get an error, and if so, can you please provide a copy of that error? I'm trying to investigate with the team that owns the email address, whic

[2019-11-26 21:28] abhall724 opened #43613 "Required install for the build agents on Jenkins"
What are the required installs for the build agents connected to Jenkins? Is it only helm and kubectl or does it also need AZCLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7236a3d-5603-ecb9-a9ce-3dd12937a46d
* Version Independent ID: 781d158d-0819-6d98-5455-ebfff5da0d20
* Content: [Using the Azure Dev Spaces Plug

[2019-11-26 21:32] MarileeTurscak-MSFT commented on #43600
I made a pull request to add this error.  https://github.com/MicrosoftDocs/azure-docs-pr/pull/97250

@MarkusVi

[2019-11-26 21:32] #43600 closed

[2019-11-26 21:40] Alberto-Vega-MSFT commented on #43592
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. @dominicbetts Should we include this link in this document?

[2019-11-26 21:43] KranthiPakala-MSFT commented on #42167
@angellmethod We have assigned this issue to content author to further evaluate your feedback. They will evaluate and will provide an update as appropriate.

[2019-11-26 21:50] mrbullwinkle commented on #43300
@eazykiel the doc has the current up-to-date list of Live Metrics endpoints for Application Insights. As the engineering teams adds more we will update the doc accordingly. We definitely have had times where we have lagged in updating the doc in the past, so thank you for reaching out to confirm.

At the moment, there is no dedicated Live Metrics endpoint for Canada. We don't currently have a 1:1

[2019-11-26 21:54] mrbullwinkle commented on #42239
I am going to close this one out. I have created an internal work item and added it to our backlog to run through this doc to see if we can make the examples more clear as well as to provide fully functional code samples rather than code snippets that need to be implemented within existing apps. I do find that having standalone code samples are often easier to step-through and parse than code samp

[2019-11-26 21:55] mrbullwinkle commented on #42239
#please-close

[2019-11-26 21:55] #42239 closed

[2019-11-26 21:56] Pilchie opened #43614 "az aks get-upgrades --resource-group myResourceGroup --name myAKSCluster --output table doesn't support tables"
When I ran `az aks get-upgrades --resource-group myResourceGroup --name myAKSCluster --output table`  I got `Table output unavailable. Use the --query option to specify an appropriate query. Use --debug for more info.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a14a3f84-28b4-0a2a-4da7-47cb4d66689f
* Version Indepen

[2019-11-26 21:57] eazykiel commented on #43300
Yes it does. Thank you! 

---- On Tue, 26 Nov 2019 16:50:00 -0500 notifications@github.com wrote ----

@eazykiel the doc has the current up-to-date list of Live Metrics endpoints for Application Insights. As the engineering teams adds more we will update the doc accordingly. We definitely have had times where we have lagged in updating the doc in the past, so thank you for reaching out to confirm.

[2019-11-26 21:58] MicahMcKittrick-MSFT commented on #43614
We had the same issue opened here: #41421

I was able to verify it worked for me both on Prem and in the Azure Cloud Shell.

Could be related to some setting that is different when running locally for some users. I suggest using the Cloud shell to avoid issues that might occur when running on prem. Besides that I can't seem to repro the issue on my local system.

[2019-11-26 22:00] pvemula2 opened #43615 "getting false positives with advanced threat protection"
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-threat-detection-overview
We are running some code generated by a third party tool on our ADW (azure data warehouse) and are getting alerted for potential sql injection. The code is benign so please let us know a way to turn off the white noise. We do not want to turn off the alerts.

---
#### Document Details

⚠ *Do not edit this se

[2019-11-26 22:00] mrbullwinkle commented on #43300
I am going to close this out, but if you have any follow-up questions just let us know. Thanks again!

[2019-11-26 22:00] MicahMcKittrick-MSFT commented on #43585
@djcat80 what permissions do you have over the subscription and the AD Tenant? Are you the owner/ administrator? It is possible you don't have the required permissions to view the app registrations. Else, are you able to see other registrations and just not this one?

[2019-11-26 22:01] mrbullwinkle commented on #43300
#please-close

[2019-11-26 22:01] #43300 closed

[2019-11-26 22:07] djcat80 commented on #43585
Hi Micah.
I'm owner of the subscription, and global admin on the Azure AD.
I can see all the app registrations, but there's no new app :(

[2019-11-26 22:10] brettandrew commented on #43503
Getting the same issue here, I downloaded .net runtime v4.6.2 and when I run it is says that it is already installed. Tried rebooting and Storage explorer has the same fault, it says that .net runtime v4.6.2 is not installed properly. This is a big problem for us accessing production files.

[2019-11-26 22:11] TravisCragg-MSFT commented on #43221
@wcneumann We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-26 22:11] #43221 closed

[2019-11-26 22:11] hbensalem commented on #43219
using az network public-ip create --resource-group MC_hbs_test_3_prodcluster_westeurope --name myPublicIP --sku Standard --allocation-method static --query publicIp.ipAddress -o tsv
then : helm install stable/nginx-ingress \
    --namespace default \
    --set controller.replicaCount=2 \
    --set controller.nodeSelector."beta\.kubernetes\.io/os"=linux \
    --set defaultBackend.nodeSelector."beta

[2019-11-26 22:13] brettandrew commented on #43503
Is seems the upgrade is the issue, uninstalling and re-installing the latest version 1.11.1 works fine.

[2019-11-26 22:13] MarileeTurscak-MSFT commented on #43605
@jtracey93
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-26 22:27] femsulu commented on #43565
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-26 22:29] femsulu commented on #43581
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-26 22:31] trotman23 commented on #43594
@TravisCragg-MSFT Thanks for the tip!

I'm referencing the Azure Front Door "Object ID" for use in key vault access policies, not the "Resource ID" of my Azure Front Door Instance.

The documentation lists only the "Application ID" (ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037) of the `Microsoft.Azure.Frontdoor` principal, not the "Object ID", which I thought would be helpful to add.

If the "Object ID" i

[2019-11-26 22:32] ralish commented on #43521
@FrankHu-MSFT Thanks Frank. I just tried again precisely following the instructions on the referenced page and still see the same issue. I've attached a screenshot.

![CA Policy](https://user-images.githubusercontent.com/3214803/69678131-bacaad00-10f8-11ea-86f3-ff0aa5acb4cf.jpg)

[2019-11-26 22:33] MarileeTurscak-MSFT commented on #43605
It's not Azure MFA that you get with the free plan. You get security defaults which are a stripped down Authenticator app-only version using what used to be baselines. It is either on or off and there are no customization options. You would not be able to use NPS with this.

[2019-11-26 22:33] femsulu commented on #43613
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-26 22:34] MarileeTurscak-MSFT commented on #43605
I am closing this out but if you have further questions feel free to tag us in the comments and we will gladly continue the discussion.

[2019-11-26 22:34] #43605 closed

[2019-11-26 22:36] Alberto-Vega-MSFT commented on #43610
@imartinez2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-26 22:41] mike-urnun-msft commented on #43612
@PeterAnaniaHC Thank you for your feedback! We will review and update as appropriate.

[2019-11-26 22:52] tonyStann opened #43618 "Documentation for files from ADLS"
This documentation explains for a zip file hosted in public. Can I know how to retrieve multiple Zip files from the Data Lake and use it in Spark?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc49d5c-0543-d656-cf7b-1f35e57f4d61
* Version Independent ID: eb577abd-1def-c1e2-950b-56059fe4cffd
* Content: [Zip Fi

[2019-11-26 22:53] esabban opened #43619 "package-file-uri leads to nowhere"
--package-file-uri leads to a 404 not found under the the managed storage example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b077e661-78d7-3a20-06b8-80b0faf3182b
* Version Independent ID: a3c105c1-5bb0-50da-4300-32909bb3a537
* Content: [Create Managed Application definition - Azure CLI](https://docs.microsoft.com/

[2019-11-26 22:56] GiftA-MSFT commented on #43588
@ignaciofls You can create an Azure Databricks workspace with a different resource group and specify your Azure ML configuration details in your ML notebook. To do so, [create a config file](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-configure-environment#workspace) and [import your workspace](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azur

[2019-11-26 23:03] GFoley83 opened #43620 "When is failover going GA?"
This feature has been in preview for nearly a year now. There must surely be an ETA for when it's going GA by now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8314bbb-3e1b-7a68-dcd1-f7dfe34221a2
* Version Independent ID: 5c26cb3f-ec5c-b028-f456-53998a67749e
* Content: [Disaster recovery and storage account failover

[2019-11-26 23:04] dcbrown16 commented on #43540
Just to clarify again, looking for a simple link to be added to the Table of Contents.
![image](https://user-images.githubusercontent.com/34466884/69679832-fcf2e080-105d-11ea-8c46-d3ecd6cffdb0.png)

[2019-11-26 23:13] MarileeTurscak-MSFT commented on #43555
If the resource is running as expected, there are no problems and you can expect the status of the resource to update to healthy in a short period of time. https://docs.microsoft.com/en-us/azure/service-health/resource-health-overview

It is not a definitive indication of the state of the resource, though.

I agree that this is a good point to address. Since this issue is a product issue and not a

[2019-11-26 23:13] #43555 closed

[2019-11-26 23:17] MarileeTurscak-MSFT commented on #43458
Hi @MrAzureAD , were you able to test this after 30 days?

[2019-11-26 23:22] btardif commented on #40651
I have updated the fwlink as requested. #please-close

[2019-11-26 23:22] #40651 closed

[2019-11-26 23:25] #43603 closed

[2019-11-26 23:26] Karishma-Tiwari-MSFT commented on #43476
Thanks @Marusyk
@p9139010  Thanks for bringing it to our attention. We have created a PR, changes will go live in few hours.

[2019-11-26 23:26] #43476 closed

[2019-11-26 23:28] Karishma-Tiwari-MSFT commented on #43512
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-26 23:29] artemuwka commented on #43620
Hi, Gavin! Thanks for checking in! The account failover capability is planned to go into GA by end of CY19. With the holidays coming up I don't have a firm date just yet and will know more in the next ~2 weeks. Would you mind sharing your scenario(s)/requirement(s)? An important call out is the current version of failover was designed for scenarios where a disaster is in progress or is coming and

[2019-11-26 23:35] GiftA-MSFT commented on #43603
@JoshuaPartlow Keras is supported on the Windows DSVM. I have made necessary updates, it may take a day or two for these changes to be reflected in the document. Thanks.

[2019-11-26 23:44] GFoley83 commented on #43620
Hi Art. Thanks for the quick reply!
The scenario is nothing more complicated that having the ability for a customer-initiated storage account failover, so that "writes" can happen ASAP, without needing to update a connection string in the application/Key Vault/Azure App Configuration. Or in other words, the ability to initiate a storage account failover and none of my applications are even aware t

[2019-11-26 23:47] jmrita opened #43622 "Setup step 1 clarification"
Azure Sentinel UI different from docs. Setup step 1 should state 'Security Events' (current) instead of 'Windows Security Events'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e0c8df1-852c-a3b2-96e1-4af8981e3cf9
* Version Independent ID: 2d4a7e2c-dcb2-dcdd-0ae2-374b6443e224
* Content: [Connect Windows security event

[2019-11-27 00:09] knaidoo33 opened #43623 "Supported Sink Datasets"
It would be nice if there was documentation on the supported sink dataset options (similar to what there is for source)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b52f7d74-8aac-9e9a-e13e-112eaf2e434b
* Version Independent ID: 2e16d8b4-2081-f6d4-9879-5774e9fb1dd1
* Content: [Set up a sink transformation in the mappi

[2019-11-27 00:13] JimacoMS3 commented on #42894
@ebseavey and @vijayapotturu -- thanks for reporting this issue. As we move toward GA of V2 of the Azure IoT Hub Python SDK, we are working to bring our documentation up to date.

As a little background:

* Right now, in our documentation, we recommend that customers use the v2 IoT Hub device client in non-production environments. This client can be installed on all platforms (Linux, macOS, and Wi

[2019-11-27 00:14] ChristianBeier opened #43624 "Documentation needs update"
Please update the device twin size section at
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#device-twin-size

with the new values mentioned at
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-quotas-throttling#other-limits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff6

[2019-11-27 00:16] Mike-Ubezzi-MSFT commented on #43608
@nonodename Thank you for bringing this to our attention. I will correct this and have a fix published shortly.

[2019-11-27 00:18] Karishma-Tiwari-MSFT commented on #43401
@yyanev Can you please share your insights on this? Thanks :)

[2019-11-27 00:22] Alberto-Vega-MSFT commented on #43624
@ChristianBeier Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-27 00:24] dcbrown16 opened #43625 "Document site tier restriction"
Trying to enable this setting from TLS/SSL Settings blade on a Web App fails with this message in the Free tier.
"Failed to update client certificate setting Error Details: Cannot enable client certificate for a site 'XXX because current site mode does not allow it."
It works fine with Standard so I assume this is a restriction against enabling this in Free (and Shared?) apps. Please document if s

[2019-11-27 00:30] Alberto-Vega-MSFT commented on #43434
@kierenj Thanks for the feedback! I have assigned the issue to the content author to help answer and and update the doc as appropriate.

[2019-11-27 00:48] PatAltimore commented on #43434
Hi @kierenj, Can you explain your question in more detail. Type describes the supported data type. Is your question about this section: https://docs.microsoft.com/en-us/azure/blockchain/workbench/configuration#type. Or somewhere else in the article?

Thanks,
Pat
#in-process

[2019-11-27 01:03] dcbrown16 opened #43626 "Fix Pricing Link"
This is about the table of contents to the left for Private Link docs, not the Overview page itself.
The "Pricing" link under Resources currently goes here (Vnet pricing).
https://azure.microsoft.com/en-us/pricing/details/virtual-network/
It should go here (Private Link pricing).
https://azure.microsoft.com/en-us/pricing/details/private-link/

The page I'm posting this on does have the correct lin

[2019-11-27 01:22] JuneZhao opened #43627 "Resources limits confusing"
Resource usage by instances
Each container instance is allocated the resources specified in its resource request. However, the resource usage by a container instance in a group depends on how you configure its optional resource limit property.

If you don't specify a resource limit, the instance's maximum resource usage is the same as its resource request.

If you specify a resource limit for an i

[2019-11-27 01:36] Karishma-Tiwari-MSFT commented on #43578
It has been fixed in the doc.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-27 01:36] #43578 closed

[2019-11-27 01:45] zaidmohd commented on #43503
Uninstall and reinstall fixed the issue for me as well

[2019-11-27 01:52] joepaulk opened #43628 "using bastion to login to a windows10 (1809) VM"
Does accessing a windows VM with Azure AD via Azure Bastion works in the same way. I have registered my windows vm to the azure ad. Our Azure Subscriptions are linked via a separte Azure AD. Our corporate Azure Ad is different.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Versio

[2019-11-27 01:53] mijp opened #43629 "How to SplitMerge by DateTime"
I'm trying this : articles/sql-database/sql-database-elastic-scale-configure-deploy-split-and-merge.md

Can I use also DateTime ?
What should I enter to the [Split at Key] form ?

Trying "2010-07-01", then an ArgumentException is shown.

"40358" is same result.
  (40358 is calculated by SELECT Convert(float, CONVERT(datetime, '2010/07/01')))

![image](https://user-images.githubusercontent.com/3998

[2019-11-27 01:58] pvrk commented on #42973
@master135 : Thanks for verifying the solution. Can you please paste the error message/string along with the location where you got this? This might help other users going through this bug to understand where to look for more description/error message.

[2019-11-27 01:58] SnehaAgrawal-MSFT commented on #43625
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-27 01:58] pvrk commented on #42973
#please-close

[2019-11-27 01:58] #42973 closed

[2019-11-27 02:08] mrohler opened #43631 "Incorrect command syntax for set-azvmextension"
-Settingstring $PublicConf -ProtectedSettingString $PrivateConf

Should be

-settings $PublicConf -ProtectedSettings $PrivateConf

Otherwise you receive the following error.

Set-AzVMExtension : Unexpected character encountered while parsing value: S. Path '', line 0, position 0.
At line:1 char:1
+ Set-AzVMExtension -ResourceGroupName $vm.ResourceGroupName -VMName $v ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~

[2019-11-27 02:23] mike-urnun-msft commented on #43577
@Molx32 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-27 02:25] mike-urnun-msft commented on #43611
@brandonh-msft Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-27 02:33] mike-urnun-msft commented on #43607
@amthomas46 Thank you for your feedback! We will review and update as appropriate.

[2019-11-27 02:44] Xaeco commented on #22099
I'm having the same issue using ARM deployments using an account with MFA.
We need it to work via ARM using a service principal.
BTW it works via PowerShell but we need it working via ARM.
Any help would be appreciated.

[2019-11-27 02:47] syedhassaanahmed commented on #16473
+1
@MicahMcKittrick-MSFT Why is this issue closed? Customers should be able to use ADF to orchestrate Container Tasks in Azure Batch

[2019-11-27 02:49] #43507 closed

[2019-11-27 02:50] FrankHu-MSFT commented on #43569
If you have any issues implementing this, please post your concerns with details in the Q&A forums and further troubleshooting can be handled there https://docs.microsoft.com/answers/index.html

[2019-11-27 02:50] #43569 closed

[2019-11-27 02:50] #43358 closed

[2019-11-27 02:53] FrankHu-MSFT commented on #42932
We've made an update to the docs accordingly, if there are any issues with this merge please let us know by opening a new issue with a reference to this issue. As we've made the change to the docs, I'll be closing out this github issue now @techtrooper

[2019-11-27 02:53] #42932 closed

[2019-11-27 02:56] FrankHu-MSFT commented on #43384
@RobSiklos can you please provide some screenshots of this occurring? Can you try remaking the AAD Application registration? I don't have any issues on my side doing this

[2019-11-27 03:09] ecfan commented on #43611
@brandonh-msft, thanks for flagging this topic, which needs updating. We have a work item on the doc backlog and will bump up priority for this update.

@mike-urnun-msft: #please-close

[2019-11-27 03:09] #43611 closed

[2019-11-27 03:19] mike-urnun-msft commented on #43626
Thanks for reporting this, @dcbrown16! I've created a PR that updates the link in the ToC and this change should reflect after the next scheduled merge.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-27 03:19] #43626 closed

[2019-11-27 03:43] mike-urnun-msft commented on #43622
Thanks for reporting this, @jmrita! I've created a PR that updates the step and the change will reflect soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-27 03:43] #43622 closed

[2019-11-27 03:44] AndrewJCo opened #43632 "Deallocated VMs still contribute to hitting the vCPU quota limit"
Could you update the page to show that even though deallocated VMs shouldn't have any vCPUs assigned to them, their existence still counts towards your vCPU quota limit for a region. This is unexpected and hard to work out as there's no clever way to match the Get-AzVMUsage to the actual VMs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-11-27 04:18] Murgates opened #43633 "Unable to auto-detect the runtime stack of your app"
I have followed the steps in this page to create the static HTML web app. When I issued the command to "az  iwebapp up --location westeurope --name " it is throwing an error "Unable to auto-detect the runtime stack of your app"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Versio

[2019-11-27 04:20] frayosh77 commented on #43549
@RohitMungi-MSFT . Thanks a ton for your response.  I am using Microsoft.Bot.Builder.LUIS.AI Version 4.6.3. Running locally gives the same error.

I'll try out referencing SDK 4.0. I'm reading through example BOT will try to implement something similar.

[2019-11-27 04:26] neeleshray-msft commented on #43631
@mrohler  Thank you for the feedback. We will check and update on the same.

[2019-11-27 04:27] shashishailaj commented on #43328
@jebalert We are engaging the content authors for clarifications.

[2019-11-27 05:18] MarkAtAgilliance commented on #30508
@skalpin, thanks, good idea.  I'd probably expand it also to use an exponential back-off with a hard limit so in worst case it would still fail.

[2019-11-27 05:40] v-akhana opened #43634 "About "Currently, you cannot directly assign a B2B guest user license to a guest user""
This page contains the following:
"Currently, it’s not possible to assign B2B guest user licenses directly to guest users"

But in fact, I can assign Azure AD P1 or P2 licenses to guest users from the Azure portal.
Could you correct it to a more understandable description?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-27 05:41] neeleshray-msft commented on #43628
@joepaulk  Thank you for the query. We will check and update on the same.

[2019-11-27 05:42] neeleshray-msft commented on #43634
@v-akhana   Thank you for the feedback. We will check and update on the same.

[2019-11-27 05:46] NAshwini commented on #43349
@Karishma-Tiwari-MSFT Sorry for late response was busy... I tried the same process now with `azure` as a username and was able to RDP it. Hence closing this issue.
Just for info is there any recent changes made to fix it ?

[2019-11-27 05:46] #43349 closed

[2019-11-27 05:47] gjayalal opened #43635 "Usage of { Start-Sleep -s 5 } in foreach along with Start-AzureRmDataFactoryV2Trigger"
We have 28 triggers which we are trying to enable through 'Azure Powershell task' in Azure Devops release pipeline
 On using the following script we are getting error "Resource cannot be updated during provisioning"

$EnabletriggersADF = Get-AzureRmDataFactoryV2Trigger -DataFactoryName <data factory name> -ResourceGroupName <resource group name>
$EnabletriggersADF | ForEach-Object { Start-AzureRmD

[2019-11-27 05:47] shashishailaj commented on #43328
@msmimart Could you please look into this and get more clarifications on the mentioned line as requested by the customer ?

[2019-11-27 05:59] 1993Saurabh commented on #43552
Hi Mike,
Thanks for reaching me out.
The above query is related to this [documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-kmsi-custom).

In the documentation, it is mentioned that you can test the functionality from Azure portal by using Run Flow button but I am not able to test it as it keeps asking me sign in credentials which shouldn't be

[2019-11-27 06:00] souravmishra-msft commented on #43178
@gregdegruy, Thank you for sharing the response. We will close this thread for now.

[2019-11-27 06:00] #43178 closed

[2019-11-27 06:01] VikasPullagura-MSFT commented on #43606
@ryandanthony Thanks for pointing this out. We are currently investigating and will work on fixing this through a PR for updating the document.

[2019-11-27 06:01] dcbrown16 commented on #42351
@msangapu-msft can you confirm? Will "Application logging" turn on the Docker container logs?

[2019-11-27 06:03] PramodValavala-MSFT commented on #43448
@russellds2w I believe the line refers to the second "preview" script but I guess its best under that section itself.

We will work up a PR to address this.

[2019-11-27 06:03] VikasPullagura-MSFT commented on #43632
@AndrewJCo Thanks for the feedback! We are currently investigating and will get back on this.

[2019-11-27 06:14] ChiragMishra-MSFT commented on #43618
@tonyStann Thanks for the question. We are investigating into it and will update you shortly.

[2019-11-27 06:16] ChiragMishra-MSFT commented on #43618
@tonyStann This channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc,  I would recommend you to create a thread on the forums- [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks&filter=alltypes&sort=lastpostdesc)/ [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-databricks). Once you post your issue

[2019-11-27 06:16] #43618 closed

[2019-11-27 06:17] ChiragMishra-MSFT commented on #43623
@knaidoo33 Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-11-27 06:19] ChiragMishra-MSFT commented on #43635
@gjayalal Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-11-27 06:25] CHEEKATLAPRADEEP-MSFT commented on #43530
@csmurthy  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-11-27 06:25] #43530 closed

[2019-11-27 06:38] SnehaAgrawal-MSFT commented on #43633
@Murgates Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-27 06:39] KalyanChanumolu-MSFT commented on #43629
Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2019-11-27 07:07] mukulgit123 commented on #29780
I am enabling the aci connector for virtual nodes in Terraform using below block in addon_profile

        aci_connector_linux {
          enabled = true
          subnet_name = "${azurerm_subnet.subnet_virtual.name}"
        }

[2019-11-27 07:37] kierenj commented on #43434
Workflows heading says,

"Properties: Collection of identifiers. Represents data that can be read off-chain or visualized in a user experience tool."

Identifiers links to: https://docs.microsoft.com/en-us/azure/blockchain/workbench/configuration#identifiers

Table there doesn't have a `Type` property, but example immediately following does.

I see that https://docs.microsoft.com/en-us/azure/block

[2019-11-27 07:50] Tanguerjho opened #43638 "Typo"
In the table for the graph objects, there is a typo in the first row:
Uniquely enforced per partition. If a value isn't supplied upon insertion, an*d* auto-generated GUID will be stored.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34338360-13c3-e81e-9f64-86cbf4ab27ff
* Version Independent ID: 6e84ff45-a77e-7b32-218c

[2019-11-27 08:25] anujsharrma commented on #32325
Hi,
I tried every solution
1. Deploy using CLI
2. Deploy locally using VS Code
3. Deploy locally using Visual Studio
4. Deploy locally with docker
None of your solution is working everytime they fail drastically. I invest my 3 days but nothing worked. Is anyone working on this issue because this thread is open since May 2019.
I am requesting MS Team to provides a speedy solution. Lots of things ar

[2019-11-27 08:55] OneConsutlantsDemo opened #43639 "TwitterWPF Client no longer works."
TwitterWPF Client no longer works. The code needs to be changed to add tls 1.2.
Can you please update the code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9636d03-2832-6aaf-9b92-dc67e7ba16fb
* Version Independent ID: eb372908-c7f1-313b-198e-8f960cadda6c
* Content: [Real-time Twitter sentiment analysis with Azure S

[2019-11-27 08:56] wilcoblom commented on #43599
Yes, the highest priority is the 404 the we get when we try to use a Durable Azure Function as a custom connector, we always get the following error (see message below).

![Custom connector issue](https://user-images.githubusercontent.com/27280052/69708517-0b8fd500-10fc-11ea-8752-5abbbd1cf48e.png)

Regarding the not working email address... Apparently, the email address is forwarded to "keithkdr@m