[2020-05-07 02:23] cevanno commented on #52193
No thank you.  However I do have a quick question at this time to have the info I need to report about. With the 50K model working I was seeing a stream from Azure of 150KB/s.  I am wondering what the network rate would be when remote rendering the 45M poly model?   is there is some back end optimization going on, for instance automatic quad tree or octree pyramiding,  in the ARR conversion so you

[2020-05-07 02:25] tksh164 opened #54285 "What is "Network Watch"?"
What is "Network Watch"? Network Watcher?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ea89d4-bb48-1ca1-49f9-ad742ee8c4ba
* Version Independent ID: e34c8bb8-553a-84cb-bd39-43a1ef7cd1a9
* Content: [CAF Foundation blueprint sample overview - Azure Blueprints](https://docs.microsoft.com/en-us/azure/governance/blueprin

[2020-05-07 02:34] Mike-Ubezzi-MSFT commented on #53761
I think the best place to start is to sign-in to the [Azure Cosmos Capacity Calculator](https://cosmos.azure.com/capacitycalculator/) and have document examples to upload. It will provide an estimation based upon your data and can be further explained: [Request Units in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/request-units). A READ operation requires the least RU/s and IN

[2020-05-07 02:36] BharathNimmala-MSFT commented on #54272
@yves-chan Thank you for bringing this to our notice, we will look into it and update the document accordingly.

[2020-05-07 02:37] ecfan commented on #52384
Hi @philipstreet-hiscox,

The [ports table](https://docs.microsoft.com/azure/logic-apps/connect-virtual-network-vnet-isolated-environment#network-ports-used-by-your-ise) is now split up into inbound and outbound security rules sections. Also, the rows that have the same service tags and port information have been combined. The columns now also follow the order that they appear in the UX.

We hope

[2020-05-07 02:39] DCtheGeek commented on #54285
#assign:absheik

[2020-05-07 02:39] mrbullwinkle commented on #54278
#assign:mrbullwinkle

[2020-05-07 02:41] DCtheGeek commented on #54285
@tksh164 I believe you are correct.  @absheik owns this article, so tagging him to confirm.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2020-05-07 02:44] gary918 commented on #53459
@ram-msft Thanks. ACI webservice is different from Azure App Service. Do you have a solution for using azure sdk to implement https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-app-service ?

[2020-05-07 02:48] Johnnytechn opened #54286 "problem: Subscribe to the Blob storage"
can not select  Events button on blob storage page in the "https://portal.azure.cn/" portal, without this feature in "https://portal.azure.cn/" portal? But I could see it on "Resource groups" page, please help confirm the phenomenon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b250ca39-0ba3-20dc-179b-c5a0d80fba9f
*

[2020-05-07 02:48] NavtejSaini-MSFT commented on #54210
@NaveYosef There is no current timeline but associated with the feature going GA. Here are more details:
https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/39181006-allow-to-turn-on-autoscale-throughput-feature-for
https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/16598674-autoscale-throughput-ru-s

The process of going GA is dependent on feature feedback and t

[2020-05-07 02:48] knightmeister commented on #34239
I completely agree with this raised issue, why is it so hard to find information about Table storage on its own? The docs used to be very straight forward.

[2020-05-07 02:50] CHEEKATLAPRADEEP-MSFT commented on #53963
@fbarresi That's correct.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-07 02:50] #53963 closed

[2020-05-07 03:04] CHEEKATLAPRADEEP-MSFT commented on #54243
@CharmanderJieniJieni Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

This is old UI and the UI has been changed.

![image](https://user-images.githubusercontent.com/44426401/81249926-721b0680-903d-11ea-97a9-ec945c973e45.png)

@mamccrea Could you please update the screenshot with the new changes?

[2020-05-07 03:30] thenewblacknz opened #54287 "Update properties that are synced to SharePoint Online"
In my experience, mobile number does not sync from AAD to SPO. Nor do any extension attributes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7abde7c-df25-bd14-574c-92858daed39d
* Version Independent ID: 6652a5bc-4985-d45e-36fb-54da408e5e54
* Content: [Attributes synchronized by Azure AD Connect](https://docs.microso

[2020-05-07 03:45] robbinscp opened #54288 "PAM issues after deployment"
Not sure if this is the right mechanism for this or not; I'm noticing that logins suddenly stop after a period of time and it appears that PAM reports that the user account has expired.  Is there a workaround for this?  Sanitized log snippets below.

May  7 03:37:04 server sshd[3944]: pam_aad(sshd:auth): Login granted for user as an admin.
May  7 03:37:04 server sshd[3942]: error: PAM: User accoun

[2020-05-07 03:48] jennyf19 commented on #53783
@RhomGit so this is coming from MSAL and the cache. B2C does not return a preferred_username, so we have no value to display there for B2C. And the webview is outside of the control of MSAL, it's presented by AAD B2C.
The way around this is to not send the account w/the request, as that's prepopulating the user name that you don't want, because that's the replacement username MSAL is using.

But,

[2020-05-07 03:54] RyanHill-MSFT commented on #53436
@ttilberg, the team is aware of the issue but no ETA on when a fix will be rolled out. If you can containerize your app as a workaround, I would advise going down that route.

[2020-05-07 03:57] ram-msft commented on #54185
@GidStuff Thanks for the question. We  will update you shortly.

[2020-05-07 04:08] KrishnaG-MSFT commented on #54249
@CeciAc Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-07 04:16] KrishnaG-MSFT commented on #54277
@UnsnappedKhan8 [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL else I sugg

[2020-05-07 04:19] KrishnaG-MSFT commented on #53920
@ThairAbdalla Verified and updated the document as required. Thanks.

[2020-05-07 04:19] #53920 closed

[2020-05-07 04:22] shashishailaj commented on #54264
@shashishailaj Thank you for your feedback . We will investigate and update the thread further.

[2020-05-07 04:24] shashishailaj commented on #54258
@markarnolditpro Thank you for your query. We will investigate and update the thread .

[2020-05-07 04:25] MashaMSFT commented on #54216
Hi @ardacetinkaya , thanks for contacting Microsoft! It sounds like you're running into an issue with the product, rather than the documentation. Unfortunately, this forum is intended for issues with the documentation, and as such, we are unable to provide any technical support for the product.

To get assistance with your issue, please either reach out to Microsoft directly, or engage the communi

[2020-05-07 04:25] #54216 closed

[2020-05-07 04:25] shashishailaj commented on #54262
@maya-cnx Thank you for your query. We will investigate and update the thread further.

[2020-05-07 04:27] shashishailaj commented on #54231
@raghu2505 Thank you for your query. We will investigate and update the thread further.

[2020-05-07 04:28] shashishailaj commented on #54287
@thenewblacknz Thank you for your feedback . We will have this looked into and update accordingly.

[2020-05-07 04:36] jschadow opened #54289 "Great. Except where the guest email addresses are outlook.com or hotmail.com"
Many functions described in different docs about features guest can use is problematic where Personal Microsoft accounts are added. Still in 2020, after the mighty effort to unite that 'lets make two sign-in systems' blunder from ages ago. At the moment, an Office 365 Azure AD tenancy that invites users with @outlook.com or @hotmail.com addresses may still have guests that can't always sign-in - w

[2020-05-07 04:41] DixitArora-MSFT commented on #53967
@mcalnd70 It is already mentioned in the doc under note section :

https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#configure-a-jwt-validation-policy-to-pre-authorize-requests

![image](https://user-images.githubusercontent.com/46984568/81255282-ef00ad00-904a-11ea-8f86-4f4545cd6018.png)

At this moment, I don't think document change is required. F

[2020-05-07 04:41] #53967 closed

[2020-05-07 04:48] DixitArora-MSFT commented on #53979
@qfyra PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-07 04:49] shashishailaj commented on #54289
@jschadow Thank you for your feedback . We will investigate and update the thread further.

[2020-05-07 04:50] #53979 closed

[2020-05-07 04:54] DixitArora-MSFT commented on #53984
@cfframe I have assigned this to content author for further review and update as appropriate.

[2020-05-07 04:55] MSNev commented on #54254
Hi Michael,

I’m in the process of updating the docs to include the new snippet along with additional documentation about an except report that the new snippet can send

https://github.com/MicrosoftDocs/azure-docs-pr/pull/114205

Cheers

Nev

From: Michael Bullwinkle <notifications@github.com>
Sent: Wednesday, May 6, 2020 5:47 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nev

[2020-05-07 04:57] DixitArora-MSFT commented on #54286
@Johnnytechn Can you try in the incognito window and see if that helps. Also can you share the screenshot of the issue to have better clarity.

[2020-05-07 04:59] srudin commented on #54178
What I'd like to is to configure the long term retention period for a database by using Azure CLI. It seems I put the question to the wrong documentation page as this one would have been more adequate: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-long-term-backup-retention-configure

However I can find someone else asking for this already and it seems not to be available: https

[2020-05-07 05:01] srudin opened #54290 "Please support this through Azure CLI"
I'd like to be able to do this by using Azure CLI. Seems like I'm not the only one: https://github.com/Azure/azure-cli/issues/10723

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a40f786f-e6c9-15f5-d80a-b4d4eb7a39f5
* Version Independent ID: 12620513-5d3c-b7a2-32c9-294117ff3d57
* Content: [Single database: Manage long-

[2020-05-07 05:14] DixitArora-MSFT commented on #53985
@dewitweb I am glad that the issue is resolved. For updating doc, will create the internal work item.  For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-07 05:14] #53985 closed

[2020-05-07 05:39] srudin commented on #54290
Btw I know there is an interface for this for managed instaces (https://docs.microsoft.com/en-us/cli/azure/sql/midb/ltr-policy) but I want to do it for a "normal" Azure SQL server.

[2020-05-07 05:41] viju2008 commented on #53892
I have raised an issue in the SDK github page also but have not got any response. So i raised it here too.

The Sample provided is of Speech Synthesis, I am looking for Speech Recognition

Issue 615.

Are you telling that i consider cutting the Audio Stream when 15 seconds * 32000 bytes are filled.  But is 1 second =32000 bytes or how many bytes. How do i know how many seconds are over. Or are you

[2020-05-07 05:44] stefan-rapp commented on #54170
Hi, I tried it for Windows Server 2019 DC. Unfortunately, there is the same problem like the "AD Health Check" (https://github.com/MicrosoftDocs/azure-docs/issues/53701) as the following screenshot illustrated ("`No data found`"). Thx

![NoData](https://user-images.githubusercontent.com/45358082/81258507-20bb4900-9036-11ea-8bb9-63cf68b61889.png)

[2020-05-07 05:48] viju2008 opened #54291 "Vnet and Custom Domains for Speech Recognition Endpoints in India"
Hello,

I went through the documentation, are VNETs and custom domains implemented for speech recognition and other congitive services endpoints in India Region
I tried creating it but it did not work out. Any ETA for rollout of VNET and Custom Domains for Congitive Endpoints in India

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview

Regards,

---

[2020-05-07 05:54] SnehaAgrawal-MSFT commented on #53672
@RonnieQuan To clarify this the above is applicable for ASE.

[2020-05-07 05:55] KranthiPakala-MSFT commented on #54041
@lenadroid Currently, self hosted IR only support be installed on Windows, and in case of any file share in other OS, they must have SMB server setup, then SHIR can access their file share by pattern : \\host\fileshare

![image](https://user-images.githubusercontent.com/50185738/81259273-78cd5d80-8fec-11ea-81c0-255006f28c47.png)

Hope this helps.

[2020-05-07 05:55] #54041 closed

[2020-05-07 05:57] V-Guru opened #54292 "Deployed modules are not showing in IOT edge"
Hi,
After &lt;&lt;Deploy modules to device&gt;&gt;  step i can't see sample module and simulated temparatureSensor in IOT edge modules. I can only see $edgeagent and $edgehub.
In Azure cloud I Can see only samplemodule. When I run monitor built-in event endpoint i don't see any data, But if run send D2C messages to hub I Can see data in monitor.
So
1. How to see devices in modules?
2. I can't foll

[2020-05-07 05:59] wngithup commented on #40703
We have two ADFs ( for two different teams ) in each of our dev/test/prod environment sharing the IR(Integration Runtime) in each environment respectively, Example: Dev base IR in ADF Team1 is being shared with another Dev ADF Team2.  We are testing the Azure DevOps CI/CD release pipepile to deploy code to the test ADF (Test subscription), test environment has similar base IR and shared IR set-up.

[2020-05-07 05:59] kazshi opened #54293 "Is it possible to create a snapshot from a data disk?"
I verified the PowerShell of creating a snapshot of OS disk works, but is it possible to create a snapshot from data disk (which is in the instance), and how if it's possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b94c5948-acb1-e3aa-7148-6aa2278bcdef
* Version Independent ID: 9ada224f-5a76-bcde-2dc0-928a29c432

[2020-05-07 06:05] VikasPullagura-MSFT commented on #54267
@sp4rc Thanks for your question.

Can you please share the OS flavour and version details, I will try to reproduce and check the issue from my side.

[2020-05-07 06:08] VikasPullagura-MSFT commented on #54227
@ajsing Thanks for your question.

For your use case you can try the [Azure VM backup](https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-introduction), also please check this [document](https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-first-look-arm#before-you-start) which mentions "Azure Backup supports backing up all the disks (Operating System and data) in a VM togeth

[2020-05-07 06:18] ROSMITHJ-MSFT opened #54294 "Two Issues (One Major, One Minor)"
More important issue; attempted to follow the tutorial, but the "body" Dynamic content does not show up when clicking in the body box.

Less important issue; "Click anywhere in the Body box to open a Dynamic content window opens with values from the previous actions in the logic app."

This sentence should read, "Click anywhere in the Body box to open a Dynamic content window. This window opens wi

[2020-05-07 06:20] #53101 closed

[2020-05-07 06:23] erikadoyle commented on #53101
Thanks for catching this @johncrim -- support for Ubuntu 18.04 is indeed supported on Azure Service Fabric. I've updated the table.

[2020-05-07 06:31] matticala commented on #51251
Hello, I can't access the dashboard after upgrading to kubernetes 1.16.7. 2 clusters land on the login page, 1 fails with "no endpoints available for service kubernetes-dashboard", error 503

[2020-05-07 06:33] matticala commented on #51251
How much customization is there in the Azure Kube Dashboard? Kubernetes Dashboard 2.0.0 has been officially released 2 weeks ago but installs to a dedicated namespace: kubernetes-dashboard

[2020-05-07 06:38] mcalnd70 commented on #53967
@DixitArora I was referring to the Note section. The v2 endpoint /common/ in it, should it not be {aad-tenant} ?

[2020-05-07 06:38] mcalnd70 commented on #53967
@DixitArora-MSFT I was referring to the Note section. The v2 endpoint /common/ in it, should it not be {aad-tenant} ?

[2020-05-07 06:39] desmondgc commented on #54192
I opened a support request for live migration from LRS to ZRS and was contacted on Teams:

![image](https://user-images.githubusercontent.com/128952/81262374-0a18f000-903e-11ea-8847-3bd0f18df932.png)

[2020-05-07 06:52] KosukeHosoda opened #54295 "Planned Maintenance on AppGW"
I think there are planned maintenance on AppGW irregulaly. And if AppGW has more than 1 instance, customers won't experience any downtime by the planned maintenance.
I would appreciate if you cold add the description regarding that.

FYI, I would say the statement like the "How does Azure Firewall handle planned maintenance and unplanned failures?" on the below doc would be good.
https://docs.micr

[2020-05-07 07:01] ram-msft commented on #54281
@dashesy Thanks for the question. We will update you shortly.

[2020-05-07 07:02] ruairidhlc commented on #54104
Would be interested in hearing what's regarded as best practice here.  Usually get around this by changing the legacy address of the app to be a CNAME to the AAD App Proxy address, or in-app controls to restrict access by the new address.

[2020-05-07 07:03] RohitMungi-MSFT commented on #53794
@gallogiulia Could you please try to [register ](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.datastore.datastore?view=azure-ml-py#register-azure-sql-database-workspace--datastore-name--server-name--database-name--tenant-id-none--client-id-none--client-secret-none--resource-url-none--authority-url-none--endpoint-none--overwrite-false--username-none--password-none----kwargs

[2020-05-07 07:13] mdaslamansari commented on #35558
Please clarify how the customer will be notified? Also, please update the document.

[2020-05-07 07:16] ram-msft commented on #54250
@frvigano Thanks for the question. We will update you shortly.

[2020-05-07 07:18] ram-msft commented on #54252
@vtontodonato-c Thanks for the question. We will update you shortly.

[2020-05-07 07:18] cherici-simone commented on #53717
This is also affect me...I think that Ericgre answer is not applicable for the question because mocleiri never write about onprem agent...or you mean that if we use private endpoint then we must implement an onprem agent?

[2020-05-07 07:19] ram-msft commented on #54253
duplicate of the following issue. https://github.com/MicrosoftDocs/azure-docs/issues/54252.

[2020-05-07 07:19] #54253 closed

[2020-05-07 07:24] BASFmthibodeaux commented on #54093
@SaurabhSharma-MSFT I understand this but it is not clear what features are tested for inside of each of these resource types. Finding these means looking into several pages without knowing exactly what is enabled. This causes intransparency but I guess that is what my job is....to take the intransparency and turn it into something usable.

Thanks for your support

[2020-05-07 07:28] ram-msft commented on #54256
@venky76v please follow the below authentication document for translator text.
https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference#authentication

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-07 07:28] #54256 closed

[2020-05-07 07:37] DixitArora-MSFT commented on #53991
@mganeshphani I have assigned this to content author for further review and update as appropriate.

[2020-05-07 07:39] DixitArora-MSFT commented on #53992
@mganeshphani I have assigned this to content author for further review and update as appropriate.

[2020-05-07 07:41] desreela opened #54296 "Include isolated tier in the supported tiers for backup"
Please update the "Requirements and restrictions" section to include isolated tier (ASE) also. Isolated tier supports backup as per the other documentation:  https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#app-service-limits

Regards,
Deepu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-05-07 07:44] AshokPeddakotla-MSFT commented on #54292
@V-Guru Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-07 07:49] jishansiddique opened #54297 "Azure Search Autocomplete API not working for Fuzzy search"
# Azure Search Autocomplete API not working for Fuzzy search

I have configured azure autocomplete API with all parameters. It gives results for normal keywords but when I tried with misspell keyword then it doesn't provide me expected results. Also, I have added `UseFuzzyMatching=true` while configuration.` eg. machine -> gives the expected results. If we try with magine then it provides 0 result

[2020-05-07 07:49] AshokPeddakotla-MSFT commented on #54268
@johnnzy1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-07 07:51] haymansfield commented on #52647
@SubhashVasarapu-MSFT
Thankyou for looking at this. Is there any update at this time?

[2020-05-07 07:58] dcurwin commented on #54229
#assign:mepand

[2020-05-07 07:59] srudin opened #54298 "This is not Azure CLI"
...this is based on ARM templates! Please update this page to do what the title says.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa28dc85-7097-6005-1a5b-6cfe8a7e9528
* Version Independent ID: 842a431e-cdd8-c695-70eb-78294acd80f3
* Content: [Create a Log Analytics workspace using Azure CLI - Azure Monitor](https://d

[2020-05-07 08:02] hochas opened #54299 "Event hub trigger, get multiple docs, using SqlQuery"
The document talks about a queue trigger and shows how it is possible to extract data from the messages body.

Is it possible to do the same with the event hub trigger?

We have a need to extract multiple variables from an event hub message from our IoT hub to get a document from the correct container in our Cosmos account.

Something like:
[code]
I think _cosmosDB_ as type is incorrect here, but

[2020-05-07 08:02] dcurwin commented on #54239
The date has been updated. Thank you for your feedback.

#please-close

[2020-05-07 08:02] #54239 closed

[2020-05-07 08:03] srudin commented on #54298
Hint: https://docs.microsoft.com/en-us/cli/azure/monitor/log-analytics/workspace

[2020-05-07 08:04] fabienso commented on #35843
**Hello everyone!**
I had the same challenge in protecting the Azure API Management (APIM) with the Azure AD B2C (AAD B2C). The AAD B2C still seems to be quite in the preview.

In Azure AD B2C the [permission types](https://docs.microsoft.com/en-US/azure/active-directory/develop/v2-permissions-and-consent#permission-types) are not yet selectable with the GUI. (Image A)

However, I was able to adap

[2020-05-07 08:04] souravmishra-msft commented on #54189
@iainlennox, Thank you for pointing that out. it should be either "**Cloud_Instance_Id**" or "**Tenant_Name**" or "**Tenant_Id**"

I will try to get that part corrected in the doc.

[2020-05-07 08:06] Ericgre commented on #53717
hello, when I said on prem, is not exact, I had to say self-hosted agent. in devops you have 2 agents, the microsoft hosted and the self hosted. when you deploy a private endpoint to your web app, the public url for scm is not available, you need to point to the private ip. devops is able to fetch the webapp name withoutusing the scm url but calling ARM. but after for the deployement if you use th

[2020-05-07 08:07] amanmcse commented on #52549
@Feday and @henriquebelotto Have you had a chance to test this out?

[2020-05-07 08:10] FlorianBorn71 commented on #52193
After the model has been loaded on the server, it will transfer the scene hierarchy (all movable parts of the object) to the client. This data is tightly packed so it does not consume too much network bandwidth unless it consists of say a million parts. And even then you would only notice a one-time hit on the network. Note I'm referring to movable parts, not actual triangle geometry, because the

[2020-05-07 08:11] AjayKumar-MSFT commented on #54226
@StingyJack, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-05-07 08:16] igomat commented on #54229
In the calculator there is no option in drop down to chose the subject Azure Files type. Even when chosen region that is GA. Please correct that.

[2020-05-07 08:27] AjayKumar-MSFT commented on #54296
@desreela, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-05-07 08:39] solomson commented on #49166
Not sure if I want to achieve the same thing as OP, but I created a suggestion for this.

https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/40365946-support-pim-for-service-principals

[2020-05-07 08:39] JonesMikael opened #54301 "Clarify and check the "Require app protection policy" vs "Require approved client app""
I think you still have to revisit and clarify the discussion regarding **Require app protection policy** vs **Require approved client app** as mentioned in issue [37915](https://github.com/MicrosoftDocs/azure-docs/issues/37915).

For example, why in Scenario 1 do you have:
**Require all the selected controls**

When Scenario 2 have:
**Require one of the selected controls**

Is this a typo? I under

[2020-05-07 08:43] rawatsudhir1 commented on #54038
Thanks @ronortloff

[2020-05-07 08:55] 84618315 commented on #52549
Translation of the buttons looks good but the translation on errors not always.
for example this one get auto translated:

![image](https://user-images.githubusercontent.com/62284604/81274662-e27f5300-9050-11ea-9791-444fba28d69c.png)

but these ones does not get translated:
one time password error 1:

![image](https://user-images.githubusercontent.com/62284604/81274751-02af1200-9051-11ea-99bd-88d8

[2020-05-07 08:58] PramodValavala-MSFT commented on #53849
@milope We have assigned this issue to the content author to review and update accordingly.

[2020-05-07 09:01] Deepfat opened #54302 "Helm Charts"
I am guessing each of these containers have minimum specs for CPU & RAM so it might be good to document those and provide example helm charts with those in

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba89dc7-173d-3c5b-f40b-04a52031135c
* Version Independent ID: ce8d3080-858f-ce3d-4ba0-3e2fd5e02674
* Content: [Cogni

[2020-05-07 09:04] DixitArora-MSFT commented on #54299
Hi @hochas This channel is for driving improvements towards MS Docs, If you have any other question specific to product , it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) / [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-function-app) for better clarity. Once you post your issue on forums,

[2020-05-07 09:04] hubbardw opened #54303 "Copying Default Office Apps from All Apps to Customer-created Collections"
Is it not possible to add Office apps to custom collections we've created? For example: If you go to the All Apps default collection, it shows apps such as Outlook, SharePoint, Excel, etc. In our case, we would like to be able to create a custom app collection called Office Apps and add these office apps in there. If it is possible let me know, otherwise it should definitely be a feature as the Al

[2020-05-07 09:13] Joris29 opened #54304 "Azure DevOps integration private clusters"
In this article it shows that one of the limitations is:
'No support for Azure DevOps integration out of the box with private clusters'

Can you add some documentation about how to integrate azure devops with a private cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Versio

[2020-05-07 09:19] hochas commented on #54299
Sorry, I will post my question where it is better suited.

[2020-05-07 09:22] PramodValavala-MSFT commented on #53763
@kevinhartman The docs do mention the downsides of the `Do Nothing` method and also the cases where it would make sense - active development and in-flight orchestrations can fail. These failed orchestrations behave no differently than normal failures and new instances run the new code as described.

As for the non-determinism that you observed, I believe it would be best to open an issue against t

[2020-05-07 09:22] #53763 closed

[2020-05-07 09:26] tjanez commented on #54179
@VikasPullagura-MSFT, thanks for the clarification!

[2020-05-07 09:27] PramodValavala-MSFT commented on #53998
@cedmallet Sorry about that. I updated my comment accordingly. We have also worked up a PR to address the sample, which once merged should reflect in a couple of hours.

[2020-05-07 09:30] MatthewSteeples opened #54305 ""No Configuration Needed""
Under [Enable W3C Distributed Tracing Support For Classic ASPNET Apps](https://docs.microsoft.com/en-us/azure/azure-monitor/app/correlation#enable-w3c-distributed-tracing-support-for-classic-aspnet-apps) it stats that

&gt; Starting with Microsoft.ApplicationInsights.Web and Microsoft.ApplicationInsights.DependencyCollector, no configuration is needed.

We're not seeing this active, but we've been

[2020-05-07 09:31] #53998 closed

[2020-05-07 09:44] #54189 closed

[2020-05-07 09:46] PramodValavala-MSFT commented on #54244
@SirRacha Could you confirm if you are referring to the `API URL Suffix` in the 2<sup>nd</sup> screenshot which walks-though creating a blank API? If so, this tutorial expects a clean APIM instance is created as mentioned in the prerequisites.

It is possible that the instance in which you are trying these steps, there is already an API that has a blank API URl suffix, hence the error while creati

[2020-05-07 09:47] PramodValavala-MSFT commented on #53856
@chetan3434 Just following up here... Hope my previous comment clears things up.

As for the docker hub page, we are working with the concerning team to get that updates. I will keep this thread posted once that is updated.

[2020-05-07 09:58] midhun-mohan commented on #12753
@mimckitt  @JackQuincy
Is there a way we can enable the diagnostics logs programatically ?
By diagnostics logs, what i mean is the  master process logs ?
https://docs.microsoft.com/en-us/azure/aks/view-master-logs
The following document shows how we can do that from portal .

[2020-05-07 09:59] lokesh051 commented on #47319
@amitkumarshukla My organisation actually needed to transcribe sales conversations which would recognise different speakers and throw a transcript

[2020-05-07 10:04] dikokob commented on #53947
Unfortunately, I am still having this issue. I am unable to run the image from ACR on a virtual node. I have resorted to not using virtual nodes completely.

[2020-05-07 10:08] nambir commented on #48862
Guys any update, no sample code exist for 3.0. Even in portal azure, quickstart display core2.2 code.
it is so ridiculous,

[2020-05-07 10:08] dikokob commented on #22924
Hi everyone, is there a solution to the issue as yet?

[2020-05-07 10:10] gary918 opened #54306 "How to deploy image as app service by using azure sdk?"
Instead of using Azure CLI, PowerShell, can we use Azure sdk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f970943e-c7b4-919c-65ea-6ba20831e74d
* Version Independent ID: 90c5dd06-ea6d-7af8-f88c-9d189e9ceef2
* Content: [Tutorial: Build and run a custom image - Azure App Service](https://docs.microsoft.com/en-us/azure/

[2020-05-07 10:13] mepand commented on #54229
@igomat-We are not charging customers for Protected instances till July, even though we are GA. We are in the process of updating pricing calculator and  it should be updated soon, definitely by the time we start charging customers.

[2020-05-07 10:19] StefanSchoof commented on #53480
Thanks for the quick reply. I found all info I need for my work.

I think the link https://azure.microsoft.com/resources/templates/201-vm-domain-join/ is not clear enough link with more details. The link title is `quickstart template`. This is nothing where I was expected details for the options.

[2020-05-07 10:20] BhargaviAnnadevara-MSFT commented on #54305
@MatthewSteeples Thanks for the question! We're investigating this and will get back to you shortly.

[2020-05-07 10:36] igomat commented on #54229
What's the price for UK West then?

[2020-05-07 10:41] VikasPullagura-MSFT commented on #54304
@Joris29
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-07 10:41] VikasPullagura-MSFT commented on #54304
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-05-07 10:43] PramodValavala-MSFT commented on #54238
@DonThompson The provider is available only if you have resources from that provider in your subscription. Could you confirm whether the subscription you are looking under has a function app created already?

[2020-05-07 10:52] spaelling commented on #42215
Bump. Front Door has been GA for more than a year. It is absolutely bonkers that this is still not fixed. This service is missing support for multiple features through ARM templates.

[2020-05-07 10:59] ajsing commented on #54227
Hi Vikas,

Thanks for the response, I was aware about Azure Backup solution. I wanted to know if there is something without using Azure Backup service.

Anyways, I appreciate your help.

[2020-05-07 10:59] #54227 closed

[2020-05-07 11:04] VikasPullagura-MSFT commented on #53947
@dikokob I have found similar issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/22924).

Can you try the secrets method as mentioned [here](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-by-providing-credentials-on-the-command-line).

[2020-05-07 11:04] VikasPullagura-MSFT commented on #53947
@MicrosoftDocs/aks-pm Requesting to please check this and add your comments.

[2020-05-07 11:09] PramodValavala-MSFT commented on #53969
@codemaker A bit of research suggests that the error that you are seeing arises from your client not having access to the private key on the certificate when fetching it from the store. Could you confirm?

While the OP in this [SO thread](https://stackoverflow.com/a/7990364/10417839) is not related to APIM, they should hold true for checking the private key.

[2020-05-07 11:12] dikokob commented on #53947
@VikasPullagura-MSFT thanks, I have tried that and the error above is what I got.

[2020-05-07 11:25] EsaFazal72 commented on #54162
@VikasPullagura-MSFT I have one more question. How do I mount Azure files storage to a virtual node in AKS. Does virtual node not support PV and PVC?

[2020-05-07 11:28] VikasPullagura-MSFT commented on #53831
@mpryandds Sorry to hear on frustrated experience you had with figuring our the RAM customization.

Azure offers different VM sizes which are optimized for different types of workloads. Depending on your workload specific series type and VM size. You can check all the details in this [document](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes).

The RAM & CPU are allocated to

[2020-05-07 11:29] neeleshray-msft commented on #54017
@SHAGGAR Yes, you can have the P1 License assigned to your tenant and the users would be able to use the the features. You are however, required to have the same or more number of licenses than the number of users you intend on having to use the feature.

We would also check on including the same on the document,

[2020-05-07 11:35] neeleshray-msft commented on #54067
@Larryngolog  As per the **[Azure AD Connect Version History](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history)** the last changes made in regards to Service Bus was on ver 1.4.38.0
We do not have a fixed version documented where dependency to Azure Service Bus port 5671 was discontinued. We would check on getting more information on the same.

[2020-05-07 11:37] jinzejian opened #54307 "Login / logout"
[Enter feedback here]
Login / logout between 2 subscriptions are confusing and not practical. Most browsers support private mode, it's more easy and practical to login with 2 accounts with private mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52fe18fe-efc5-3e63-8200-8e20e885b55e
* Version Independent ID: 86a4f46

[2020-05-07 11:37] KalyanChanumolu-MSFT commented on #53449
@RainWuGuy
It is not possible to query data across multiple containers.
If you have separate containers for Role and Permissions, you will need to query them separately from the client side.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-07 11:37] #53449 closed

[2020-05-07 11:38] softveda opened #54308 "Please put the labels on the flow in Hub & Spoke diagram"
Please label the DNS Resolution flow (1-5) in the Hub & Spoke diagram, to make it clear. This should be just like the diagram above it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Content: [Azure Private Endpoint DN

[2020-05-07 11:39] softveda opened #54309 "Explain the "Virtual Network Link""
Please explain what the "Virtual Network Link" means?
It is not clear in the document. There is no flow labelled over this link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Content: [Azure Private Endpoint DNS Confi

[2020-05-07 11:41] jmprieur commented on #48862
It's on the backlog, @nambir:
https://github.com/AzureAD/microsoft-identity-web/issues/126.

Meanwhile you could try this: https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-template

[2020-05-07 11:44] VikasPullagura-MSFT commented on #54293
@kazshi
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-07 11:48] cat-mucius opened #54310 "Single tunnel to Active-Active Azure VPN Gateway?"
Is it possible to set up a single tunnel just to one instance of the VPN Gateway working in Active-Active mode? Is BGP still required for this case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff33c99b-1aa1-b1a3-4c51-00e68de1005d
* Version Independent ID: cc777df4-3df5-c9ed-df4e-3d9d7ab344ef
* Content: [Azure VPN Ga

[2020-05-07 11:49] stefan923456 opened #54311 "Cannot select my VNET"
Hello,

I try to create a new hostpool with the spingupdate WVD portal as described on this page. I have selected West Europe as "virtual machine location".

Heading: https://docs.microsoft.com/en-US/azure/virtual-desktop/create-host-pools-azure-marketplace#virtual-machine-details

Under this heading step 8 I cannot find my VNET, not any. My VNET is located in West Europe and is already connect to

[2020-05-07 11:49] neeleshray-msft commented on #54116
@RescueWhale
We did try testing this. When you **[create a Administrative Unit](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/roles-admin-units-add-manage-groups)**, you would be able to add the Security Groups and the Dynamic Groups from your tenant to the AU.
![AU Units](https://user-images.githubusercontent.com/52521788/81290826-5b4cd200-9086-11ea-8af1-b859b37a184b.

[2020-05-07 11:50] souravmishra-msft commented on #53341
Closing this thread for now.

[2020-05-07 11:50] #53341 closed

[2020-05-07 11:51] DeanGross opened #54312 "Using AAD Connect to assign Location"
Could you please elaborate on how to use AAD Connect to set a user's location attribute, or provide a link to those instructions.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d1a3b25-8cbd-29f9-d205-31d320f6d315
* Version Independent ID: 6711b6ba-154a-d078-d119-603d2c169453
* Content: [Assign licenses to a gro

[2020-05-07 12:00] jamesloker opened #54313 "Missing steps"
You have " On the Additional security verification page, select Mobile app from the Step 1: How should we contact you area." as the first step....question.....where is the Additional Security Verification page.  Some people cannot find it.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc7dec3-d354-6e40-8662-0e8175e3c

[2020-05-07 12:07] KalyanChanumolu-MSFT commented on #53329
This is being assigned to the content author to evaluate and update the documentation as appropriate.

@sakash279 Mark has confirmed that this will be addressed in a future update.
It would be worth mentioning the limitation on the documentation.

[2020-05-07 12:18] NileshGule opened #54315 "Deploy sample app azure.com/aci taint is no longer applied to virtual node"
I have created an AKS cluster based on the instructions specified in this page. When I look at the virtual node description using kubectl describe  command, I find only one taint is applied to the virtual node. The taint is virtual-kubelet.io:provider. In the section related to deploying the application onto virtual node it shows 2 tolerations one for the virtual-kubelet:provider and the other one

[2020-05-07 12:19] SubhashVasarapu-MSFT commented on #54307
@jinzejian , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-07 12:20] SubhashVasarapu-MSFT commented on #54310
@cat-mucius , We are looking into this query and will update you as soon as possible.

[2020-05-07 12:21] SubhashVasarapu-MSFT commented on #54295
@KosukeHosoda , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-07 12:27] VikasPullagura-MSFT commented on #54279
@nykekana Sorry to hear that you are facing the login problem.

Can you please share more details on this issue, that can help in assisting you better.
- Were you able to login to the VM before without facing issue, when did the issue start?
- Did you perform any changes on the VM config?
- What is the OS version?
- Are you taking backup of the VM?

[2020-05-07 12:27] Nimleth commented on #53009
I'm very well acquainted with the concept of defense in depth. But if I understand correctly your answer still doesn't address my concern because these visibility settings are on the service provider side. In the scenario that concerns me the service provider side is under control of a malicious insider.

What I need is a way to prevent a malicious insider from creating a Private Endpoint in our E

[2020-05-07 12:29] msmbaldwin commented on #29755
@mcqueene GuilhermeMorais GeekDotNet: Based on your feedback, we have completely rewritten this article. The revised tutorial uses the new Azure Key Vault v4 client library for .NET. See  https://docs.microsoft.com/en-us/azure/key-vault/general/tutorial-net-create-vault-azure-web-app.

Please let us know if you find any issues with the new tutorial, and thank you again for your feedback. #please-c

[2020-05-07 12:29] #29755 closed

[2020-05-07 12:29] msmbaldwin commented on #36470
@mdonkervoort: Based on your feedback, we have completely rewritten this article. The revised tutorial uses the new Azure Key Vault v4 client library for .NET. See  https://docs.microsoft.com/en-us/azure/key-vault/general/tutorial-net-create-vault-azure-web-app.

Please let us know if you find any issues with the new tutorial, and thank you again for your feedback. #please-close

[2020-05-07 12:29] #36470 closed

[2020-05-07 12:31] BhargaviAnnadevara-MSFT commented on #54269
@metazog-dw Thanks for the feedback! I do see **AV36 Node** as one option, but will let the doc author confirm all values.

Assigning the issue to the content author to evaluate and update as appropriate.

[2020-05-07 12:33] ram-msft commented on #54274
@fadyanwar Thanks for the question. We  will update you shortly.

[2020-05-07 12:35] ram-msft commented on #54302
@Deepfat Thanks for the question. We will update you shortly.

[2020-05-07 12:38] msmbaldwin commented on #48022
@LanderVe : Based on your feedback, we have completely rewritten this article. The revised tutorial uses the new Azure Key Vault v4 client library for .NET. See https://docs.microsoft.com/en-us/azure/key-vault/general/tutorial-net-create-vault-azure-web-app.

Please let us know if you find any issues with the new tutorial, and thank you again for your feedback. #please-close

[2020-05-07 12:38] #48022 closed

[2020-05-07 12:38] msmbaldwin commented on #52589
@samjones00: Based on your feedback, we have completely rewritten this article. The revised tutorial uses the new Azure Key Vault v4 client library for .NET. See https://docs.microsoft.com/en-us/azure/key-vault/general/tutorial-net-create-vault-azure-web-app.

Please let us know if you find any issues with the new tutorial, and thank you again for your feedback. #please-close

[2020-05-07 12:38] #52589 closed

[2020-05-07 12:39] BhargaviAnnadevara-MSFT commented on #54270
@metazog-dw Thank you very much for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-07 12:41] msmbaldwin commented on #32906
@hansmbakker Based on your feedback, we have completely rewritten this article. The revised tutorial uses the new Azure Key Vault v4 client library for .NET. See https://docs.microsoft.com/en-us/azure/key-vault/general/tutorial-net-create-vault-azure-web-app.

Please let us know if you find any issues with the new tutorial, and thank you again for your feedback. #please-close

[2020-05-07 12:41] leandrohmvieira commented on #38914
+1, same problem here

[2020-05-07 12:41] #32906 closed

[2020-05-07 12:42] SubhashVasarapu-MSFT commented on #54309
@softveda , We are looking into this query and will update you as soon as possible.

[2020-05-07 12:44] neeleshray-msft commented on #54136
@pravinady While we do not have an ETA on when the Home Realm Discovery would be available to Federated Domains, as of now both authentication types to the O365 Tenant and the HRD is not possible.
While we understand that this has an impact on federated domains relying on the old domain-level Home Realm Discovery to force federation, we suggest for now to have your users either on the Cloud (Offic

[2020-05-07 12:45] KalyanChanumolu-MSFT commented on #54275
@sfoxover Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2020-05-07 12:46] SubhashVasarapu-MSFT commented on #54308
@softveda , Thanks for your feedback. We have assigned this issue to the respective content author for updating the document accordingly.

[2020-05-07 12:46] msmbaldwin commented on #25805
@dcleblanc: Based on your feedback, we have completely rewritten this article. The revised tutorial uses the new Azure Key Vault v4 client library for .NET. See https://docs.microsoft.com/en-us/azure/key-vault/general/tutorial-net-create-vault-azure-web-app.

Please let us know if you find any issues with the new tutorial, and thank you again for your feedback. #please-close

[2020-05-07 12:46] #25805 closed

[2020-05-07 12:47] harouny opened #54316 "Scope of maximum role assignments isn't clear."
In documentation the following sentence is mentioned: "You can have up to 2000 role assignments in each subscription and 500 role assignments in each management group."

However, it's not clear if role assignments at resource group level or resource level counts towards the maximum "2000 role assignments in each subscription" or is the 2000 is only for subscription level role assignments.

---
###

[2020-05-07 12:48] SubhashVasarapu-MSFT commented on #53894
@LifeRyuto , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-07 12:48] #53894 closed

[2020-05-07 12:51] DavidTrigano commented on #54263
Hi @markarnolditpro,
Auditing impact of performance depends on specific workload (although usually should be minor). We always recommend customers to try and observe the impact on their system in real-life conditions.

[2020-05-07 12:52] SubhashVasarapu-MSFT commented on #53893
@FreddyMcRay , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-07 12:52] #53893 closed

[2020-05-07 12:55] NickMSW commented on #54096
Yeah it did. It would have been nice to have it in the documentation, however.

[2020-05-07 12:57] geoffreygeslin commented on #54021
@Karishma-Tiwari-MSFT Thanks for your answer. This is much clearer now.

However, I'm perplex about this point :

Can we expect sureness on this in the future ?

Anyway, if I manage to test the behavior, I'll comment here about the result.

[2020-05-07 12:59] SubhashVasarapu-MSFT commented on #54039
@scott-wi , Appreciate your patience. We have assigned this issue to the respective content author for updating the document accordingly.

[2020-05-07 13:08] absheik commented on #54285
@tksh164, thanks for pointing out.  @DCtheGeek, thanks for fixing the typo.

[2020-05-07 13:10] DCtheGeek commented on #54285
@absheik Thanks for confirming!

@tksh164 Once the change is merged, this issue will automatically close. It may be a few hours between then and when the change is published and visible.  Thanks again for pointing this out!

[2020-05-07 13:10] DCtheGeek commented on #54285
#reassign:DCtheGeek

[2020-05-07 13:11] kharemohit786 commented on #17210
@GMartinez-Sisti We have been facing the same issue in our org we have many users connected the old app which is with the older tenant account, now we want to move the apps to new tenant without them reapproving it.
Was above link somehow helpful or were you able to solve this issue with any other way.

Thanks.

[2020-05-07 13:13] SubhashVasarapu-MSFT commented on #54065
@ranabanerjee15 , Appreciate your patience. You should be able to get details of pricing on products using [Azure Pricing Calculator.](https://azure.microsoft.com/en-in/pricing/calculator/?cdn=disable)
![image](https://user-images.githubusercontent.com/44890829/81298615-9f45d400-9092-11ea-9f10-453f4c3b6cea.png)

[2020-05-07 13:16] neeleshray-msft commented on #54139
@Azhar001
A gMSA Account, is a service account and does not have fixed credentials. Like this **[document](https://docs.microsoft.com/en-us/windows-server/security/group-managed-service-accounts/group-managed-service-accounts-overview)** says - "_The Key Distribution Service shares a secret which is used to create keys for the account. For a gMSA the domain controller computes the password on the

[2020-05-07 13:16] CharmanderJieniJieni opened #54317 "Condition to allow only whitelisted network"
If we would like to enable sign in from only corporate network. Should we just create named location which has the public CIDR range of our on-prem network and put a deny condition except the on-prem named location?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e3e8ab5-0425-bc2a-7cb1-8db350cbbdbb
* Version Independen

[2020-05-07 13:18] NavtejSaini-MSFT commented on #54283
@nirnaymsft We are checking this and will get back to you.

[2020-05-07 13:27] neeleshray-msft commented on #54168
@sp4rc
We tried this out and worked fine for us. Once you select the License you want to Assign, pane on the right shows up. Search for the Group's Name you want to assign the License to and you wuld be able to get the same.
![License](https://user-images.githubusercontent.com/52521788/81299857-850cf580-9094-11ea-8b4b-8063cb92978c.JPG)

Let us know if you need further help.

[2020-05-07 13:30] DonThompson commented on #54238
Thank you, I found what I needed.  I had mistaken the previous section's "Sign in to the Azure Portal" with this section's "Sign in to the Azure Resource Portal" link - I did not know that was even a thing.

Sorry about that!

[2020-05-07 13:30] #54238 closed

[2020-05-07 13:37] NavtejSaini-MSFT commented on #54290
@srudin As the functionality is not present currently, the correct way to provide feedback and get Product Group response would be to post your feedback here.
https://feedback.azure.com/forums/217321-sql-database
The feedback will be checked by Product Team and updates will be provided. This channel is for providing feedback on docs and their quality.
Hope this helps. We are closing this thread fo

[2020-05-07 13:37] NavtejSaini-MSFT commented on #54178
@srudin As the functionality is not present currently, the correct way to provide feedback and get Product Group response would be to post your feedback here.
https://feedback.azure.com/forums/217321-sql-database
The feedback will be checked by Product Team and updates will be provided. This channel is for providing feedback on docs and their quality.
Hope this helps. We are closing this thread fo

[2020-05-07 13:38] darayavah opened #54319 "Use the custom trained model with the labeling tool for automatic analyzing"
Hello, first and foremost, thank you for the extensive documentation and the Form Recognizer which ich very good.

I trained a custom model with the labeling tool.
Within the Labeling Tool it works like a charm.
Got the Model ID and everything.

However, I cant seem to find a way how to use my model outside of the labeling tool, as I dont need the user interface, just need the custom trained model

[2020-05-07 13:40] mathieulongtin commented on #52970
It looks like this was fixed for Django but not Pymysql. Pymysql should be:
`ssl={'ca': '/var/www/html/BaltimoreCyberTrustRoot.crt.pem'})`

[2020-05-07 13:40] jtuliani opened #54320 "MGs?"
Top of page has list of supported resources - does not include mgmt groups
But later on there's a Mgmt Group example.
Contradiction?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 849c85a8-1301-9040-d13d-f2e1d4244547
* Version Independent ID: 3cf9bdd8-0eb0-a953-c339-266994869fb8
* Content: [Deploy resources to tenant -

[2020-05-07 13:40] NavtejSaini-MSFT commented on #53572
@desmondgc If there are no questions at this time. We will go ahead and close this thread for now.Please get back to us if you need any further help.

[2020-05-07 13:40] #53572 closed

[2020-05-07 13:43] Jaryd1212 commented on #51925
When I select the Data Science tab, I have no further options for Step 3.
It goes directly to Step 4.  There, I can choose 'Standard_f2s_v2' per the
instructions.  However, I cannot proceed with the creation of the Pool.
The Save options are grayed out.

[image: image.png]

I originally attempt with the many options below,

On Wed, May 6, 2020 at 6:07 PM Scott Schwalm <notifications@github.com>
wr

[2020-05-07 13:44] isahunterintact commented on #54233
Hi trying to do both but mainly be able to identify which rules were being triggered. As this is not available with network rule log.
________________________________________
From: TravisCragg-MSFT [notifications@github.com]
Sent: Wednesday, May 6, 2020 9:09 PM
To: MicrosoftDocs/azure-docs
Cc: Hunter, Isa; Mention
Subject: [E!] - Re: [MicrosoftDocs/azure-docs] rulename_s not used for AzureFirewall

[2020-05-07 13:45] NavtejSaini-MSFT commented on #53853
@rohitnayakmsft Can you please check this further.

[2020-05-07 13:45] vhorne commented on #53824
Sample has been updated.
#please-close

[2020-05-07 13:45] #53824 closed

[2020-05-07 13:50] jtuliani opened #54322 "Security Center?"
List of supported resources for deployment at subscription scope should also include Security Center? See https://github.com/Azure/Azure-Security-Center/tree/master/Pricing%20%26%20Settings/ARM%20Templates/Custom%20ASC%20workspace

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbb47179-04d1-7d43-23e0-6203a2bf9d6e
* Ver

[2020-05-07 13:57] BhargaviAnnadevara-MSFT commented on #54305
@mrbullwinkle I believe the note intends to indicate this rather:

Is that the intent indeed?

[2020-05-07 14:20] VikasPullagura-MSFT commented on #54315
@NileshGule Thanks for reporting and updating the document. I will followup with the doc author on the PR approval.

[2020-05-07 14:20] #54315 closed

[2020-05-07 14:24] kcd333 opened #54324 "Route table config"
Where is Set-AzRouteTable in the Sample script?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b750921-0f6a-6de9-23d7-c40aa6a29ced
* Version Independent ID: 71a46ea4-9d97-a05f-e8c9-a79b7dac1567
* Content: [PowerShell example - create a managed instance in Azure SQL Database - Azure SQL Database](https://docs.microsoft

[2020-05-07 14:29] DeanGross opened #54325 "Incorrect text"
the Multiple groups and multiple licenses section describes 2 licensing groups: e3 base services and e3 extended services which are not visible on the screen shot. please correct the text or the screenshot as appropriate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e4fdb9-a3d4-e97b-de30-9904868b87a5
* Version Indep

[2020-05-07 14:31] codenclick opened #54326 "Incorrect Argument name in language detection Api"
I think, argument name in Language detection API is wrong. It should be inputs instead of documents.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4e6390818
* Version Independent ID: dbb3821b-5793-b41b-9601-559b00e4096a
* Content: [Quickstart: Text Analytics client library v3 - Azure Cogniti

[2020-05-07 14:31] MGoedtel commented on #53723
@Mexicoder - I'll need to discuss this with the product team to determine why the solution no longer includes sample queries.  I was able to repro this in a new workspace after enabling the solution.  #in-progress

[2020-05-07 14:32] SamaraSoucy-MSFT commented on #54297
Thanks for the question! We will review and get back to you shortly.

[2020-05-07 14:36] rohancragg opened #54327 "Portal can no longer be used to configure network access for ACR"
#configure-network-access-for-registry

Azure Portal can no longer be used to configure network access for ACR

Allow public network access: 'selected networks' can no longer be configured as described in this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bb583eb-86b2-5383-350c-985f66de2dd6
* Version Independent

[2020-05-07 14:37] SamaraSoucy-MSFT commented on #54291
Thanks for the question! We will review and get back to you shortly.

[2020-05-07 14:39] ranabanerjee15 commented on #54065
It does not show the pricing for Generation2 vs Generation1

Kind Regards
Rana Banerjee

On Thu, 7 May, 2020, 11:13 pm suvasara, <notifications@github.com> wrote:

[2020-05-07 14:40] SamaraSoucy-MSFT commented on #54241
I hope you were able to solve your issue. If you have any followup questions, please tag me in the response.

[2020-05-07 14:46] #53916 closed

[2020-05-07 14:48] RamlingaReddy opened #54328 "Access Product name/String ID/GUID/Service plans included via PowerShell and GraphAPI"
Having a PowerShell Cmdlet /GraphAPI that exposes the information will be useful while generating reports. Can you confirm if this is being considered ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product

[2020-05-07 14:49] mumian commented on #54322
@jtuliani - thank you for the feedback.  I will update the article today.

#please-close

[2020-05-07 14:49] #54322 closed

[2020-05-07 14:49] RamlingaReddy commented on #54328
Get-AzureADSubscribedSku cmdlet could return the friendly product name as one of the property. That should help as well.

[2020-05-07 14:52] #54285 closed

[2020-05-07 14:54] VikasPullagura-MSFT commented on #54123
@meitalna
Hope the provided information answers your query.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-05-07 14:54] #54123 closed

[2020-05-07 14:56] VikasPullagura-MSFT commented on #53831
@mpryandds
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. we will gladly continue the discussion.

[2020-05-07 14:56] #53831 closed

[2020-05-07 14:59] RyanHill-MSFT commented on #54306
Thanks for the feedback @gary918! We are currently investigating and will update you shortly.

[2020-05-07 15:01] VikasPullagura-MSFT commented on #53301
@payiAzure Analyzing the error by internal team, it appears that there are duplicated entries under: VMSS/osProfile/secrets/vaultCertificates.

Requesting you to check the template deployed and eliminate duplicates.

To double check the VMSS resource definition passed, check the failed deployment under ResourceGroups/Deployments.

[2020-05-07 15:02] RainWuGuy commented on #53449
Thanks a lot.

[2020-05-07 15:03] Jaryd1212 commented on #51925
![batch](https://user-images.githubusercontent.com/57646885/81310672-67b73780-9052-11ea-894e-d202b6661afd.png)

[2020-05-07 15:06] tksh164 opened #54329 "What are the meaning "all Windows and Linux operating systems"?"
It means "All Windows and Linux operating systems supported by Azure"? Or really ALL Windows and Linux operating systems?

https://support.microsoft.com/en-us/help/2721672/
https://docs.microsoft.com/en-gb/azure/virtual-machines/linux/endorsed-distros

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8b3793-2277-68d5-e6

[2020-05-07 15:07] SamaraSoucy-MSFT commented on #53966
No

[2020-05-07 15:10] vipulsparsh commented on #54289
Thanks for the feedback @jschadow, we have tried with many different accounts with @outlook.com, @hotmail.com and have seen successful logins.

While there is no reason for Oauth to just block any of this request while sign in, we would be interested to have a look if you have any specific account which is getting blocked always/intermittently, may be something is going on there.

We can have a lo

[2020-05-07 15:14] cdeil commented on #45639
@msangapu-msft - what can I put to start up Python?

Is the recommendation to name the file `startup.txt`? I think it's supposed to be a bash command to run, so can I name it `startup.sh`?

Is it possible to put this as a command?
[code]
Or this?
[code]
Or this?
[code]

I.e. what are the restrictions for the contents of the startup file for the Python runtime?

[2020-05-07 15:16] mrbullwinkle commented on #54305
I don't believe that is correct in 2.8.0-beta1 the functionality was available but it was disabled by default and you had to manually configure the ApplicationInsights.config file with the following:

[code]
[Reference](https://github.com/MicrosoftDocs/azure-docs/commit/d0015f37425fcd232cc44326fc5e37868c735ea6#diff-682c48e38bbeb2db432e5f9555edf6e1)

With the latest stable releases of Microsoft.App

[2020-05-07 15:16] lingfengdk opened #54330 "Is it possible to change the deployment setting?"
After deploying a real-time inference pipeline and stress tested the endpoint, I received HTTP status code 503.  https://docs.microsoft.com/en-us/azure/machine-learning/how-to-troubleshoot-deployment suggests the possible solutions, where the default parameters for deployment should be changed. E.g. autoscale_target_utilization, autoscale_max_replicas  and autoscale_min_replicas. I unfortunately c

[2020-05-07 15:18] v-radelg opened #54331 "Failed to run locally."
roanbaga commented 10 hours ago — with docs.microsoft.com

When I ran it manually it always asked me to install the Azure Functions Core (even though I had done it several times already), and when I got the command "func: hosts start" it said that it didn't recognize the command "func". After a thousand laps I found that it only worked (on my Windows 10) when the path where the "func" was installe

[2020-05-07 15:18] amanmcse commented on #53447
@glomaga I have shared the files via email.

[2020-05-07 15:21] CeciAc opened #54332 "Error when run locally"
The comments below were machine-translated

@roanbaga commented on [Thu May 07 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/717)

When I ran it manually, it always asked me to install the Azure Functions Core (even though I had done so several times), and when I arrived at the command "func: hosts start" it says that it doesn't recognize the command "func". After I went a thousan

[2020-05-07 15:29] LifeRyuto commented on #53894
Hi @rohinkoul,

Thank you for your reply, dig command worked.
I understand nslookup has several bugs. Your information is really helpful.

It's okay to close this issue.

[2020-05-07 15:32] amanmcse commented on #53886
@Jhamox19 This specifies if CA policy is causing a failure/success during the sign-in activity. For instance:

- If you grant UserX to access Exchange Online from LocationX, when this condition is met user will be successfully able to access exchange online and the CA Policy status will be success.
- If you block UserY to access Exchange Online from LocationY, when this condition is met user will

[2020-05-07 15:32] #53886 closed

[2020-05-07 15:33] dikamath commented on #54269
Yes AV36 is the option. Thanks for pointing this out ..we will fix the doc..

Best regards,
Divya

From: BhargaviAnnadevara-MSFT <notifications@github.com>
Sent: Thursday, May 7, 2020 5:32 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Divya Kamath <dikamath@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] SKU Types Missing (#54269)

[2020-05-07 15:41] CeciAc commented on #54332
duplicate of #54331

[2020-05-07 15:41] #54332 closed

[2020-05-07 15:41] cijothomas commented on #54305
Correct.
"no configuration is needed." here means "no special additional config is required".

[2020-05-07 15:41] #53212 closed

[2020-05-07 15:42] cijothomas commented on #54305
@mrbullwinkle This page requires a full rewrite. Can you schedule an item for this. We can discuss structure and specifics in our weekly sync.

[2020-05-07 15:59] mrbullwinkle commented on #54305
@cijothomas I will create a separate internal workitem to track so this issue and can be closed out by CXP and will touch base with you next week. Right now we are booked out getting content for Build ready. Thanks!

[2020-05-07 16:02] nwipfli commented on #53375
Hi @Karishma-Tiwari-MSFT,

I was finally able to get it working. It seems that there was a weird state with the registered apps. I've cleared most of the registered apps and ran again the commands which successfully created the cluster.

How did I determine that I had a weird state with the registered apps ? I compared more in detail the error code and the object ID with the one I had across the r

[2020-05-07 16:03] georgewallace commented on #54269
#reassign @Paul2658 . Paul, please correct this in the doc

[2020-05-07 16:04] manish-jain-1 opened #54334 "SDLC"
Any guidance how should we manage/organize DEV&gt;QA&gt;UAT&gt;PROD environments and promotion process for apims? in terms of same/different urls/apim/vnet/RGs/subscriptions/ etc? Is there a white paper that we can reference to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-44c2-bd07-4c74-9d4c77c45e6e
* Versi

[2020-05-07 16:05] TaylorBogle opened #54335 "Rights to Add and Remove Users?"
Can you add to the documentation the rights required to add or remove users from an administrative unit? In the Administrative Units Overview, you define that only Global Administrators or Privileged Role Administrators can create an administrative unit, but I'm wondering who can add and remove members from an administrative unit.  I would assume it is the same, but would appreciate clarification.

[2020-05-07 16:14] SadiqhAhmed-MSFT commented on #53731
@mqunbar We currently do not support the Common Alert schema and so are unable to integrate budgets properly with push notifications. We are updating our documentation to inform customers of this lack of integration with Common Alerts and are evaluating next steps on potentially supporting this in the future.

Closing this issue for now. Feel free to reach out to us if you have further questions i

[2020-05-07 16:14] #53731 closed

[2020-05-07 16:15] aaronsgutierrez opened #54336 "How many days left on 30 day trial?"
Is there a way to see in the portal how many days left remain on the trial period?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e2ed68-8901-d002-a00a-e1d702cc1638
* Version Independent ID: 32c32bf8-8492-e8c6-c05f-3b0845b06913
* Content: [Pricing of Azure Security Center tiers](https://docs.microsoft.com/en-us/azure

[2020-05-07 16:17] rohitnayakmsft commented on #53853
@jdmaree If you set Deny Public Network Access to Yes, only logins via private endpoint are allowed. If you set it to No ( default) then you have both public access ( via firewalls) and private endpoints. You would use the latter in situation where you want both modes of access and want to ensure that private endpoint works fine before you switch off all access via public endpoint.

[2020-05-07 16:18] rohitnayakmsft commented on #52076
@ryoma-nagata Confirmed that IP address is no longer a SQL Gateway. I am updating our docs to remove it. Thanks for bringing this to our attention.

[2020-05-07 16:23] jdemaree commented on #53853
Thanks

On Thu, May 7, 2020, 11:17 AM Rohit Nayak <notifications@github.com> wrote:

[2020-05-07 16:26] VitalyMCT opened #54337 "Data transformation description seems outdated"
The introduction includes the following sentence: "For a tutorial on how to transform data by using Azure Data Factory, see Tutorial: Transform data by using Spark."

This should probably be updated to direct users to built-in transformations, i.e. Mapping Data Flows (GA) and possibly also Wrangling Data Flows (preview).

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-05-07 16:27] thingsconnected opened #54338 "TTL for DNS records that are static"
The linked page specifically states that the < YourNamespaceName >.servicebus.windows.net IP address is static. Despite that fact, the TTL of the associated CNAME record we see (for a particular client using Azure) is only 30 seconds, and the TTL of the associated A record is only 10 seconds.

This means that quite often, several DNS lookups are needed to find the same static IP address over and o

[2020-05-07 16:27] VitalyMCT opened #54339 "Old link to ADF intro"
Link in the following sentence points to ADF v1:

"If you are new to Azure Data Factory, see Introduction to Azure Data Factory before doing this quickstart."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1f2edef-d233-6125-1499-7f55d86ecb0c
* Version Independent ID: e994602f-882a-327e-9333-4d1cf2c89006
* Content: [Cr

[2020-05-07 16:30] payiAzure commented on #53301
I didn't use the template to do the deployment. I use Azure portal to create a service fabric cluster.
The problem repro at the following:
1. When configure the cluster at step 2 in Azure portal, select `enable reverse proxy`
![image](https://user-images.githubusercontent.com/36676045/81318679-79451300-9043-11ea-9ae7-67d11cc9568a.png)
2. Then in the "Security" step, I use **Custom** configuration

[2020-05-07 16:31] gavinmcmenemy commented on #54126
I have this issue as well. It's the 7th of May, is there an update on when this is likely to be resolved or even what the issue is and whether we can mitigate it in some way?

[2020-05-07 16:32] SaurabhSharma-MSFT commented on #54336
@aaronsgutierrez Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-07 16:42] joecarlyle opened #54340 "Lets Encrypt CA"
Hi, this list doesn't include the above CA, but it does work. Can this be verified and the list updated please? Thanks all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e787652-0c22-e376-ab55-2b3aa8055431
* Version Independent ID: 961cf93b-5312-c470-7784-1da8fe5e4351
* Content: [Allowed CA for enabling custom HTTPS

[2020-05-07 16:46] SaurabhSharma-MSFT commented on #54335
@TaylorBogle Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-07 16:47] SaurabhSharma-MSFT commented on #54328
@RamlingaReddy Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-07 16:47] aaronsgutierrez commented on #54336
Thank you!

[2020-05-07 16:49] SaurabhSharma-MSFT commented on #54325
@DeanGross Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-07 16:49] tplas opened #54341 "Incorrect link for workplace-join client"
Hyperlink for workplace-join client on this page takes us to "Surface Laptop 3" page, NOT the expected download page for workplace-join client.  Same result happens when I search web for "workplace-join client" and select link for download.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2010f5ac-1080-addd-1fb3-5b05db26

[2020-05-07 16:50] SwathiDhanwada-MSFT commented on #53647
@atbagga  Whenever you want [deploy resources across resourceGroups or subscriptions](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/cross-resource-group-deployment?tabs=azure-powershell), you should use [nested or linked template](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/linked-templates).

Attaching template which worked for me and you can

[2020-05-07 16:50] #53647 closed

[2020-05-07 16:50] SaurabhSharma-MSFT commented on #54316
@harouny Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-07 16:52] SaurabhSharma-MSFT commented on #54313
@jamesloker  Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-07 16:52] msangapu-msft commented on #45639
@dcbrown16 @cdeil Will get this added soon to the FAQ. See these docs for more information:
PHP - https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-php#customize-start-up
Python - https://docs.microsoft.com/en-us/azure/app-service/containers/how-to-configure-python#customize-startup-command

[2020-05-07 16:55] CharmanderJieniJieni opened #54342 "Clarification needed"
We are trying to implement the "Option: Route Azure Databricks traffic using a virtual appliance or firewall" option and want to clarify below questions
1. Step 3 asks for next hop of some public IP of Azure services to be directly to internet. Shouldnt we route these traffic directly to Azure Firewall in Hub subscription?
2. 0.0.0.0/0 route would not overwrite Service Endpoint route, does that me

[2020-05-07 16:55] ajlam commented on #52970
Working on fixing this! Should be live in the next 24 hours or so :)

[2020-05-07 16:57] jlorich opened #54343 "az iot central app create/update/delete are not available"
This documentation references features on the `azure-iot` cli extension that are not yet available.

As you can see from below I have the IoT extensions installed and updated and CRUD functionality is not available.  These are not yet referenced in the [current CLI documentation](https://docs.microsoft.com/en-us/cli/azure/ext/azure-iot/iot/central/app?view=azure-cli-latest) either.

[code]

---
##

[2020-05-07 16:59] SaurabhSharma-MSFT commented on #54301
@JonesMikael Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-07 16:59] SaurabhSharma-MSFT commented on #54312
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-07 17:00] SaurabhSharma-MSFT commented on #54303
@hubbardw Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-07 17:00] KatieProchilo commented on #52381
Thanks @IEvangelist

Hey @oscholz and @YutongTie-MSFT - this feedback came from looking at the doc itself. Under the heading "Speech-to-text" it says "Pronunciation customization is currently only available for en-US and de-DE."

But if you look at the table below, it says pronunciation is available for 6 locales. I'm not sure if either of these are correct, just that they're inconsistent.

[2020-05-07 17:01] KrishnaG-MSFT commented on #54138
Hello @Mexicoder, The metrics shown in [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftapimanagementservice) azure document are exactly matching with the metrics that are available in 'metrics' tile of an API management resource as shown in below two screenshots.

<img width="623" alt="APIM1" src="https://user-images.githubusercontent.com/45988031/81

[2020-05-07 17:01] SaurabhSharma-MSFT commented on #54341
@tplas Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-07 17:15] Karishma-Tiwari-MSFT commented on #54288
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-07 17:17] SaurabhSharma-MSFT commented on #53981
@elneilios We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-07 17:17] #53981 closed

[2020-05-07 17:22] lobrien commented on #54056
Created a docs workitem: https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1718280

[2020-05-07 17:27] erikdfuqueneb opened #54344 "Issue kerberos ticket retrieval"
I´m experiencing an issue when running Debug-AzStorageAccountAuth in powershell, shows an issue regarding kerberos retrieval, when I check with the following cdmlet:

klist get cifs/stfileserverpruebas.file.core.windows.net

It shows the next error text:

Current LogonId is 0:0x18cf60
Error calling API LsaCallAuthenticationPackage (GetTicket substatus): 0x35

klist failed with 0x80090303/-21468930

[2020-05-07 17:27] GiftA-MSFT commented on #54319
@darayavah we will review your feedback and get back to you shortly. Thanks.

[2020-05-07 17:28] tonytaowang opened #54345 "Create connection string and Run database migrations to the production database"
The command that provided in the "Create connection string" section is not accurate. Follow the instruction to run the command -'az sql db show-connection-string --client ado.net --server cephalin-core --name coreDB', it generates the connection string pointing to cephalin-core. --&gt;'Server=tcp:cephalin-core.database.windows.net,1433;Database=coreDB;User ID=&lt;username&gt;;Password=&lt;password

[2020-05-07 17:28] GiftA-MSFT commented on #54326
@codenclick we will review your feedback and get back to you shortly. Thanks.

[2020-05-07 17:29] nykekana commented on #54279
Hello!
Thanks for getting back to me!

I am able to login to the VM now! I didn't realize it was mandatory to have a username and a password as well as an ssh key.

[2020-05-07 17:29] GiftA-MSFT commented on #54330
@lingfengdk we will review your feedback and get back to you shortly. Thanks.

[2020-05-07 17:29] mumian commented on #54320
@jtuliani - thank you for the comment.  I will update the article.

#please-close

[2020-05-07 17:29] #54320 closed

[2020-05-07 17:30] himanshusinha-msft commented on #54317
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-07 17:31] brbel opened #54346 "Free trials per account or per deployment?"
If I deploy the VM 3 times, do I effectively have 3 free trials?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f6ee16-5202-f3b3-bf68-d2aca21f2ea8
* Version Independent ID: 08853ce1-8448-f09c-4236-5dfc3e2ff3bb
* Content: [Microsoft commercial marketplace publisher FAQ](https://docs.microsoft.com/en-us/azure/marketpla

[2020-05-07 17:32] himanshusinha-msft commented on #54337
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-05-07 17:32] emilylagoand opened #54347 "Request to include note 'apt' usage"
Customers are experiencing issues due to not being aware that the OMS Extension makes use of 'apt' and hence users should make sure that they set it to run before or after their other extensions. Please make note of this in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d5b8e22-49e6-bba4-d42b-8dd42d469e3

[2020-05-07 17:34] AjayKumar-MSFT commented on #53869
@andresbarcenas, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-05-07 17:34] #53869 closed

[2020-05-07 17:36] himanshusinha-msft commented on #54339
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-07 17:37] BryanTrach-MSFT commented on #54345
@tonytaowang Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-07 17:37] SteveLasker commented on #54327
Hi @rohancragg, we are transistioning from Service Endpoints to Private link as the VNet feature for Azure Container Registry.
[Azure Blog: Azure Container Registry Private Link support preview for virtual networks](https://azure.microsoft.com/en-au/blog/azure-container-registry-private-link-support-preview-for-virtual-networks/)

You happened to catch us in the midst of this rollout, synching the

[2020-05-07 17:45] VitalyMCT opened #54349 "Page requires review & update"
There are a few areas that are out of date. Example: Azure SQL Data Warehouse is now called Azure Synapse. There are some other elements that require attention because Azure and ADF v2 evolved over the 1/2 year+ since the last update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e218b24-88cc-2c51-1ccc-7718cf0ffb33
*

[2020-05-07 17:47] mamccrea commented on #52233
The notebook has been updated and should work. If you continue to have issues, please reopen this issue.

#please-close

[2020-05-07 17:47] #52233 closed

[2020-05-07 17:53] cynthn commented on #54279
@nykekana A password isn't required if you use a username + SSH key. Are you trying to log on to a Windows machine or a Linux machine?

[2020-05-07 17:59] solankisamir commented on #54334
https://github.com/Azure/azure-api-management-devops-resource-kit

[2020-05-07 18:00] RonnieQuan opened #54350 "Clairfy the Prerequisite"
I failed to create private link for postgres SQL 10, but it worked in version 11.
Can you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77e23acd-1ca5-ee48-5706-273f1d4327b9
* Version Independent ID: 31d5e234-c8eb-3bf2-1492-b7c48ccba0dc
* Content: [Private Link - Azure Database for PostgreSQL - Single s

[2020-05-07 18:01] mamccrea commented on #51889
I have updated the doc with the correct links. Please allow a few days for the changes to go live. In the meantime, here are the links:

This custom UDR allows outbound connections and does not interfere with cluster creation. For detailed UDR instructions, see [Step 3: Create user-defined routes and associate them with your Azure Databricks virtual network subnets](https://docs.microsoft.com/azur

[2020-05-07 18:01] #51889 closed

[2020-05-07 18:02] Bloodyairtimer commented on #53855
Any update on this issue?

[2020-05-07 18:02] jainshikha opened #54351 "blob triggered azure functions are supported in KEDA according to documents it should by tried it out its not working"
Created the blob azure function and tried to deploy it on minikube KEDA, am unable to see the HPA for blob trigger.
tried to use the YMl provided in :
https://keda.sh/scalers/azure-storage-blob/

[2020-05-07 18:03] mamccrea commented on #52085
The images in the article include Kafka. It there is one that is inaccurate, please reopen this issue.

#please-close

[2020-05-07 18:03] #52085 closed

[2020-05-07 18:04] jainshikha opened #54352 "blob triggered azure functions are supported in KEDA according to documents it should by tried it out its not working"
Created the blob azure function and tried to deploy it on minikube KEDA, am unable to see the HPA for blob trigger.
tried to use the YMl provided in :
https://keda.sh/scalers/azure-storage-blob/

[2020-05-07 18:04] KranthiPakala-MSFT commented on #54349
@VitalyMCT Thanks for the feedback and bringing this to our notice. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2020-05-07 18:05] manish-jain-1 opened #54353 "Document versioning?"
I am little bit lost here. Is this document versioning? How do enable/view on the portal? Please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdcc897a-d6df-3305-e9cb-01889a3c5d4f
* Version Independent ID: 739a9fc7-3782-a860-ac6d-4194fd1ce2e8
* Content: [Working with the change feed support in Azure Cosmos DB

[2020-05-07 18:13] mamccrea commented on #53666
Thanks for the feedback. I've updated the doc with the changes. Please allow a few days for the changes to go live.

#please-close

[2020-05-07 18:13] #53666 closed

[2020-05-07 18:14] rcholic opened #54354 "How to create a Service Principal?"
having re-read the article doc multiple times, I still don't find how to create a service principal object.

[2020-05-07 18:21] mamccrea commented on #54054
Thank you for bringing this to our attention. I have made the changes. Please allow a few days for the changes to go live.

#please-close

[2020-05-07 18:21] #54054 closed

[2020-05-07 18:21] dapathy commented on #53269
Thank you @mike-urnun-msft

[2020-05-07 18:25] SamaraSoucy-MSFT commented on #54167
Since there is no action to be taken on this thread within the docs I'm going to close this thread. If you have any followup questions, please tag me in your response.

[2020-05-07 18:25] #54167 closed

[2020-05-07 18:26] mamccrea commented on #54234
Yes, the [Token API](https://docs.microsoft.com/azure/databricks/dev-tools/api/latest/tokens) is GA. [Azure Active Directory access token](https://docs.microsoft.com/azure/databricks/dev-tools/api/latest/aad/service-prin-aad-token) is in preview.

[2020-05-07 18:28] mamccrea commented on #52839
Hi @rdefreitas. This configuration is not supported for ADLS Gen1. It is only supported for Gen 2.

[2020-05-07 18:30] PeterCLu commented on #53815
@ngyongkad, you should see the a directory called "notebooks". There, you can find sample notebooks for Azure Machine Learning. This is not clearly communicated in the instructions, and I will update them so that this is more clear. I hope this helps!

![image](https://user-images.githubusercontent.com/10505176/81331130-f8dbdd80-9055-11ea-8bb0-b49bdf7ef1c8.png)

[2020-05-07 18:32] UnsnappedKhan8 commented on #54167
alright

[2020-05-07 18:33] vladvino commented on #53849
@solankisamir please review and comment.

[2020-05-07 18:34] mamccrea commented on #54124
Hi @aravish! Can you please provide some additional information about your scenario and when you are receiving this error?

[2020-05-07 18:38] Phyktion opened #54355 "First Step"
First step should not be to turn on MFA for Global Admins, it should be to set up an emergency account, then set up a service account for on site AD syncing. Just my opinion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bad1a372-3d89-f509-6bd2-1e6d12b1d6c7
* Version Independent ID: 92fb5a9a-24b8-6f17-2749-99e3b0e999f

[2020-05-07 18:41] TravisCragg-MSFT commented on #54340
@sharad4u Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-07 18:45] aronchick commented on #9235
@TravisCragg-MSFT using gremlinpython fails -

[code]

[2020-05-07 18:45] kraigb commented on #51639
@msangapu-msft have you been able to test this process again?

[2020-05-07 18:49] PeterCLu commented on #53902
You can find the available SDK commands for Azure Compute Instance in our reference docs. Here is a link to the Azure Compute Instance stop command https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.compute.computeinstance.computeinstance?view=azure-ml-py#stop-wait-for-completion-false--show-output-false-

[2020-05-07 19:00] cpwood opened #54357 "Is this still accurate for Microsoft.Azure.Cosmos v3.8.0?"
The *Querying DateTimes in LINQ* section indicates that a `DateTime` variable will be encoded as `"2014-09-30T23:14:25.7251173Z"` in the resultant SQL, however, we're seeing it encoded differently.

For a `DateTime` constructed as `new DateTime(2020, 5, 7, 13, 0, 0, DateTimeKind.Utc)`, we're seeing that encoded as `2020-05-07T13:00:00Z` instead of `2020-05-07T13:00:00.0000000Z`.

The record in Cos

[2020-05-07 19:01] uvw opened #54358 "Reservations do not apply to serverless SQL"
The page should state explicitly that SQL reservations do not apply to the serverless compute tier.

Unfortunately, we found that this is mentioned in a different documentation section (https://docs.microsoft.com/en-us/azure/sql-database/sql-database-serverless) only after creating reservations for our serverless SQL databases.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-05-07 19:08] CharmanderJieniJieni opened #54359 "Traffic between Control plane and Cluster VM"
Looks like when creating cluster, a VM with public IP address is created in the public subnet, how does Control plane communicate with these cluster VMs? Is that through public internet? If so is it possible to make the traffic private?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93bd5c16-e0ec-5064-9bc0-1c527c328a7e

[2020-05-07 19:20] DaveSlinn opened #54361 "Outdated?"
I don't see the Connection String.  I believe it has been updated to say Keys, but doesn't show all the same information in the screen grabs.

![image](https://user-images.githubusercontent.com/18301427/81335867-85da6300-9065-11ea-8e64-cd8aa75a0829.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05af42e7-9d86-b794-

[2020-05-07 19:22] PeterCLu commented on #54214
#assign:@sdgilley

[2020-05-07 19:26] mhopkins-msft commented on #53465
Hi @Ankzz

We are currently in the process of updating all the Storage documentation to include support for the new v12 libraries. This topic is already included in our plans and should be updated soon.

For more information on using Maven with the Java v12 libraries, please see [Quickstart: Azure Queue storage client library v12 for Java](https://docs.microsoft.com/en-us/azure/storage/queues/stor

[2020-05-07 19:26] #53465 closed

[2020-05-07 19:30] RoyRK07 commented on #54120
Is there a way to control Azure AD session tokens automatically which ask the user to authentication again ??????

[2020-05-07 19:32] mhopkins-msft commented on #53956
Hi @htoomik,

We are currently in the process of updating all the Azure Storage content to include instructions for using the new v12 libraries. In fact, I'm currently working on this very topic. You should see this updated soon.

Thank you for your feedback!
 ~ *Mark*

#please-close

[2020-05-07 19:32] #53956 closed

[2020-05-07 19:33] CeciAc opened #54362 "add nodepool have error"
@yellow456434 commented on [Thu May 07 2020](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/617)

when I type this command
az aks nodepool add \
    --resource-group test \
    --cluster-name testAKS \
    --os-type Windows \
    --name npwin \
    --node-count 1 \
    --kubernetes-version 1.15.10

will show to error
Operation failed with status: 'Bad Request'. Details: Windows profile d

[2020-05-07 19:34] franklinpierre opened #54363 "missing --volume-type for cli command to use EncryptFormatAll feature"
missing --volume-type for cli command to use EncryptFormatAll feature

az vm encryption enable --resource-group "MyVirtualMachineResourceGroup" --name "MySecureVM" --disk-encryption-keyvault "MySecureVault" --encrypt-format-all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a50798-1881-bccb-ef3e-3e9522d23d84
* Versio

[2020-05-07 19:34] srisaiazure opened #54364 "Unable to connect to Azure SQL Server with Privatelink Endpoint"
Hello All,
I have created a Private Link for one of the azure sql server and selected a vNET which has S2S connectivity.  I set Deny puclic access  as YES . When i try to access the DB from SSMS i am getting follwing error.  Could you please check and get me a resolution for this.

A connection was successfully established with the server, but then an error occurred during the login process. (prov

[2020-05-07 19:35] mamccrea commented on #54243
I am updating the screenshot. Please allow a few days for the changes to take place.

#please-close

[2020-05-07 19:35] #54243 closed

[2020-05-07 19:41] iainfoulds commented on #53655
Just the default Ubuntu 18.04 LTS image from the Azure Marketplace.

If there's additional troubleshooting from @neeleshray-msft that indicates the need for doc updates, we can incorporate those. For now, #please-close

[2020-05-07 19:41] #53655 closed

[2020-05-07 19:41] SaurabhSharma-MSFT commented on #54199
@artisticcheese I have created custom initiatives with two different recommendations and I can see those two recommendations in workflow automation blade(see screenshot below):
![image](https://user-images.githubusercontent.com/38112130/81337333-b0c1b880-905f-11ea-9dfd-cc882b5c4a8b.png)
Also, I can see those recommendations coming up on "Regulatory Compliance" blade.
![image](https://user-images.g

[2020-05-07 19:43] AjayKumar-MSFT commented on #53726
@Tovli, Apologies for the delay on this.
As mentioned in these documents [userAssignedIdentities template reference](https://docs.microsoft.com/azure/templates/microsoft.managedidentity/2018-11-30/userassignedidentities) and [Managed Identity REST API reference](https://docs.microsoft.com/rest/api/managedidentity/), the latest API version is ‘2018-11-30’. You could try with this and let us know th

[2020-05-07 19:45] bigdatamoore commented on #47465
I was able to resolve this by installing the latest version of the AZ CLI
[code]

[2020-05-07 19:48] AjayKumar-MSFT commented on #53726
@mattchenderson, Requesting your comments on the API version support.

[2020-05-07 19:49] doc-rj-celltrak opened #54365 "B2C as SAML IdP and Logout flow"
For SAML single logout, we configured a logoutUrl in the app manifest per step 4.2 of the [instructions](https://docs.microsoft.com/en-us/azure/active-directory-b2c/connect-with-saml-service-providers#4-setup-application-in-the-azure-ad-b2c-directory).

We need to know how to configure the public key (signing certificate) provided by Amazon Cognito (the SP) specifically for B2C to verify the signe

[2020-05-07 19:49] mhopkins-msft commented on #53648
Hi @nivrutti-shinde,

There are currently no plans to include Angular-specific examples in the Microsoft documentation. However, I did find these examples showing how to use a SAS connection string for authentication in JavaScript.

https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/storage/storage-blob/samples/javascript/withConnString.js

https://github.com/Azure/azure-sdk-for-js/blob/mas

[2020-05-07 19:49] #53648 closed

[2020-05-07 19:49] AjayKumar-MSFT commented on #53934
@RonnieQuan, Your feedback has been shared with the content owner for further review.

[2020-05-07 19:54] SaurabhSharma-MSFT commented on #54093
@BASFmthibodeaux ok, so are you expecting detailed information to be available on Azure Security center blade ? If so, I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/347535-azure-security-center). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the docum

[2020-05-07 19:54] rriley99 opened #54366 "API cannot be found"
I am unable to move past step 6, it fails to deploy because it cannot find the connections that I am making in step 7?
{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"NotFound","message":"{\r\n \"error\": {\r\n \"code\": \"ApiNot

[2020-05-07 19:57] keithdv commented on #45378
@dominic1904 see https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-on-behalf-of-flow#saml-assertions-obtained-with-an-oauth20-obo-flow

Reminder: this is AAD v1 so the endpoint is 'oauth2/token' NOT 'oauth2/v2.0/token'. That tripped me up.

[2020-05-07 19:58] mhopkins-msft commented on #54060
Hi @SeanFeldman,

I see the link that you're talking about. It says that it is a link to the library, not a sample. Perhaps this article would be more helpful to you. It contains examples of the JSON code you need to use to set up lifecycle rules.

[Manage the Azure Blob storage lifecycle](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts?tabs=azure-portal)

[2020-05-07 19:58] #54060 closed

[2020-05-07 19:59] sethmanheim commented on #53934
@AjayKumar-MSFT These are technical product questions, not specific feedback about the documentation.

[2020-05-07 20:04] CristianBerlingo commented on #47270
@DaveBrickley you just should use the files in the LocalAccounts directory from the starter pack instead of SocialAndLocalAccounts. These files don't reference to Facebook or other Social IDP.

[2020-05-07 20:07] #54199 closed

[2020-05-07 20:08] moshezvi commented on #14182
Any update on this?

[2020-05-07 20:13] SeanFeldman commented on #54060
Hi @mhopkins-msft,

The Portal tab shows how to combine blob index with lifecycle management policy. The .NET tab says "For .NET, install the Microsoft Azure Management Storage Library version 16.0.0 or higher to take advantage of the Blob Index match filter within a lifecycle management rule.". That leads to an assumption you can set up a lifecycle management policy/rule to leverage blob index vi

[2020-05-07 20:14] EmilDamian commented on #45366
Documentation is very cryptic for function.json settings for a function with service bus trigger, direction "in", with topic...

[2020-05-07 20:17] Mike-Ubezzi-MSFT commented on #54216
@ardacetinkaya The ability to create a single instance database and move it to an Elastic Pool via the Portal is no longer available. This is not an option via PowerShell ([Use PowerShell to create elastic pools and move databases between elastic pools](https://docs.microsoft.com/en-us/azure/sql-database/scripts/sql-database-move-database-between-pools-powershell)). You can move databases between

[2020-05-07 20:20] aahill commented on #54252
Thanks for reaching out on this issue. I've updated the list of tags with the missing new version of the speech-to-text (2.2.0). These updates should be visible soon.

Generally, you can download the container for a language by replacing the version number in the image tag. For example, to get the v2.2.0 container for Italian, you can use `2.2.0-amd64-it-it-preview`

#please-close

[2020-05-07 20:20] #54252 closed

[2020-05-07 20:21] cdeil commented on #45639
Finally, I did manage to get my app to run.
I think one can put any startup command in the file actually.
I didn't try to put multiple commands, not sure if one can use it like a bash script.

[2020-05-07 20:23] MarileeTurscak-MSFT commented on #54355
@Phyktion
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-07 20:27] dashesy commented on #54281
Thanks! I hope `plt` would accept a `Figure`. Then we could do this to plot anything we want on it using Agg backend.

[code]

But a custom backend may be also useful here, it could be even done live!

[2020-05-07 20:32] Hasil-Sharma opened #54369 "Getting index of a value in array"
I am looking for a mechanism to figure out index of an element in an array. Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe-dee0-2d2e-f3cb-8eefd5d40d17
* Content: [Expression and functions in Azure Data Factory - Azure Data Factory](htt

[2020-05-07 20:34] martincoetzer commented on #54355
Setting up the emergency accounts is part of our privileged identity management setup in step 2. We still feel MFA is so important that we want to have it at the top.

[2020-05-07 20:38] martincoetzer commented on #54355
#please-close

[2020-05-07 20:38] #54355 closed

[2020-05-07 20:39] femsulu commented on #54294
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-05-07 20:42] qianw211 commented on #54346
@brbel Hi, the free trial is per subscription basis.  Thanks!

#please-close

[2020-05-07 20:42] #54346 closed

[2020-05-07 20:42] femsulu commented on #54298
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-05-07 20:51] marcelfranke opened #54370 "Sample not working"
The sample is using a trainings script "pytorch_train.py" that is located here: https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/ml-frameworks/pytorch/deployment/train-hyperparameter-tune-deploy-with-pytorch

Within the trainings script a dataset should be downloaded, that does not exists anymore (https://msdocsdatasets.blob.core.windows.net/pytorchfowl/fowl_data.zi

[2020-05-07 20:52] BharathNimmala-MSFT commented on #54329
@tksh164 Thank you for your feedback, assigning this issue to our document author @rayne-wiselman to further evaluate the feedback and update the document accordingly.

[2020-05-07 20:53] MarileeTurscak-MSFT commented on #54316
They are included in the total. I made a pull request to make this more explicit in the text, but still think it's pretty clear. https://github.com/MicrosoftDocs/azure-docs-pr/pull/114379

If you go to Subscriptions > Access Control (IAM) > Role Assignments you can see how much of your quota you have used and see which resources the assignments have been applied to.

![image](https://user-images.g

[2020-05-07 20:56] jenalimor commented on #48128
Hello - Has this issue been fixed? I am running into it as well. I understand that we can enable in other ways but we would like to deploy via ARM template

[2020-05-07 20:57] MarileeTurscak-MSFT commented on #53785
Hi Ken, yes you need to contact that number.

Doug, thanks for the feedback about the long wait. I'll pass that info along to the Data Protection team. I'm sorry that you were put on hold!

[2020-05-07 20:59] Paul2658 commented on #54269
Task complete.

[2020-05-07 20:59] MarileeTurscak-MSFT commented on #53785
I'm closing this out since this needs to go to Data Protection (866-807-5850), but if you have any problems feel free to reach out to me at AzCommunity@microsoft.com or comment on this thread and I'll be available to help.

[2020-05-07 20:59] #53785 closed

[2020-05-07 21:01] MarileeTurscak-MSFT commented on #54248
Hi @Sunnie25,

If you had to switch phones and can't use your old authenticator, you may need to contact your administrator to get your MFA reset. If you are the only global admin on the account, you can contact the Data Protection team to get the information reset. Here is their number: 866-807-5850

Hope this helps! If you have further questions feel free to reach out to me on [Q&A](https://docs

[2020-05-07 21:01] #54248 closed

[2020-05-07 21:16] ardacetinkaya commented on #54216
@Mike-Ubezzi-MSFT @MashaMSFT Thanks to you for quick and detailed replies.

My scenario is two different DBs in one Elastic Pool with Failover Group. Somehow I can create a failover group but can not add any DBs within a elastic pool.

@MashaMSFT I tried also letting failover group to create a secondary server. But if I follow that way, it is not possible to create a new resource group. Secondary

[2020-05-07 21:16] jamesbak commented on #53215
Hi @isamll,

During preview we are limiting the combination of regional availability and redundancy options, purely so that we can respond to feedback as quickly as possible.

Currently, only France Central & Canada Central with ZRS accounts are supported, but we will shortly be opening up to other regions and redundancy options.

Cheers,
James

[2020-05-07 21:17] Mike-Ubezzi-MSFT commented on #54216
@ardacetinkaya The doc indicates that during the Elastic Pool creation steps in section two, that you should also have the ability to add databases to the pool that you are in the process of creating. You need to have the pool created before you can add databases to it. To add databases, do the following:

1.	Go to elastic pool overview page for an **existing** elastic pool.
2.	Click on the link n

[2020-05-07 21:18] #52384 closed

[2020-05-07 21:20] ecfan commented on #50990
@divyaswarnkar, could you please respond?

[2020-05-07 21:21] ecfan commented on #51253
@divyaswarnkar, could you please respond?

[2020-05-07 21:21] ecfan commented on #52103
@divyaswarnkar, could you please respond?

[2020-05-07 21:22] ecfan commented on #53395
@divyaswarnkar, could you please respond?

[2020-05-07 21:27] v-radelg opened #54371 "Unable to access this website az416426.vo.msecnd.net response time is too long"
@li10217 commented 13 hours ago •

https://user-images.githubusercontent.com/23067397/81272917-be3b6a80-9080-11ea-97f9-f8cc2487a6b1.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Content: [Azure Application Insight

[2020-05-07 21:29] GMartinez-Sisti commented on #17210
@kharemohit786 I got in touch with support and they were able to move the subscription with all the resources, except the apps :( those are tied to the azure directory in the account so they aren't able to migrate.

[2020-05-07 21:30] NavtejSaini-MSFT commented on #54283
@stevestein Can you please check this and provide your input.
@nirnaymsft We are assigning this to our author for further guidance.

[2020-05-07 21:36] kgremban commented on #53324
@dbartz As long as you've run the web request once in your current session, you should be able to run the IoT Edge commands without needing to repeat the web request each time.

[2020-05-07 21:38] MarileeTurscak-MSFT commented on #54316
@rolyon is confirming with the RBAC team so reassigning this.

[2020-05-07 21:42] ecfan commented on #54053
I've updated the topic to clarify the value for the address prefix. If you have other comments related to this thread, please feel free to add to this post. I'll now close the issue.

@DixitArora-MSFT: #please-close

[2020-05-07 21:42] #54053 closed

[2020-05-07 21:45] Khyzdul commented on #45071
We tested our theory that we needed to register our tenant as a trusted federation realm with itself (did this in a non-production tenant). The resulting error message indicated we had to set the tenant authorization mode to federation.

Our conclusion at this point is we  will have set the tenant to a mode where it is expecting it's authentication to be handled by an external IdP. Not knowing wha

[2020-05-07 21:50] the-blesss commented on #33533
This has been happening for a while now. I don't think this should be desired behavior. It is causing working local PS code to fail in Cloud Shell, since you cannot automate changing context for multi subscription environments. Using the Clear-AzContext then Connect-AzAccount is a really clunky work-around.

$env:ACC_VERSION
master_20200424.2

[2020-05-07 21:55] MonikaReddy-MSFT commented on #54371
@v-radelg , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-07 21:59] ecfan commented on #54053
#assign @ecfan

[2020-05-07 22:00] SamaraSoucy-MSFT commented on #54352
@jainshikha
 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A ](https://docs.microsoft.c

[2020-05-07 22:01] NavtejSaini-MSFT commented on #54324
@kcd333  We have modified the verbiage for the section and it will be live once approved. For more information please do visit https://docs.microsoft.com/en-us/powershell/module/az.network/set-azroutetable?view=azps-3.8.0

Hope this helps.

[2020-05-07 22:01] SamaraSoucy-MSFT commented on #54351
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-07 22:02] SamaraSoucy-MSFT commented on #54354
@rcholic  Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-07 22:03] rolyon commented on #54316
Hi @harouny
Role assignments at resource group level or resource level do count towards your 2000 maximum per subscription.
thanks

[2020-05-07 22:04] Marusyk opened #54373 "CONNECT failed: RefusedNotAuthorized"
Followed step by step and at the end got  **CONNECT failed: RefusedNotAuthorized**

The DPS assigns my device to IoTHub
[code]

and I can see this device in IotHub Devices. But at the line

[code]
got

---

Should I add the root certificate to IoT Hub -> Certificates?
Could anyone please help?

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-05-07 22:08] ecfan commented on #54053
@DixitArora-MSFT: Please update the labels on this issue to doc-enhancement? Thanks!

[2020-05-07 22:08] AElharouny commented on #54316
Thanks @rolyon  for clarification. With more use cases for Managed Identity and Azure AD Authentication i.e. on storage entities, Service bus entities etc,  the 2000 limit seems pretty restricting, is there a way to increase the limit.

Sorry if that's not the right channel for the question.

[2020-05-07 22:08] ecfan commented on #53995
#reassign @ecfan

[2020-05-07 22:09] ecfan commented on #53733
#reassign @ecfan

[2020-05-07 22:09] SamaraSoucy-MSFT commented on #54364
@srisaiazure  Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A ](https://docs.microsoft.

[2020-05-07 22:09] NavtejSaini-MSFT commented on #54353
@manish-jain-1 Please go through below links to get information regarding the Change feed. if you still have a question, please get back to us:
https://youtu.be/sYkKXSTws4E
https://azure.microsoft.com/en-us/resources/videos/azure-cosmosdb-change-feed/

Hope this helps

[2020-05-07 22:09] ecfan commented on #53733
#reassign @DixitArora-MSFT

[2020-05-07 22:10] SamaraSoucy-MSFT commented on #54311
Thanks for the question! We will review and get back to you shortly.

[2020-05-07 22:13] ecfan commented on #52956
#pri2

[2020-05-07 22:13] TravisCragg-MSFT commented on #53870
@deltadan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-07 22:13] #53870 closed

[2020-05-07 22:13] rolyon commented on #54316
@harouny
Unfortunately the limit can't be increased. If you are getting close to the limit, here are some options for reducing the number of role assignments:
https://docs.microsoft.com/en-us/azure/role-based-access-control/troubleshooting#azure-role-assignments-limit

[2020-05-07 22:13] ecfan commented on #52956
@mike-urnun-msft or @DixitArora-MSFT: Please change label to doc-enhancement, please? Thanks!

[2020-05-07 22:13] normesta commented on #53215
Thanks for asking @Isamlr! Closing issue.

[2020-05-07 22:14] normesta commented on #53215
#please-close

[2020-05-07 22:14] #53215 closed

[2020-05-07 22:17] #52956 closed

[2020-05-07 22:17] mike-urnun-msft commented on #54331
@roanbaga Thank you for your feedback! We will review and update as appropriate.

[2020-05-07 22:18] MarileeTurscak-MSFT commented on #54313
Hi @jamesloker,

The way to get there is also covered in the previous article:

Access the Additional security verification page

After your organization turns on and sets up two-factor verification, you’ll get a prompt telling you to provide more information to help keep your account secure.

![image](https://user-images.githubusercontent.com/13383753/81349319-a362f900-9074-11ea-9a1e-a64b6d3a2126

[2020-05-07 22:18] #54313 closed

[2020-05-07 22:19] kgremban commented on #53576
@FMauroy Thanks for pointing this out. There aren't many script commands in this article that refer to full paths, only a couple at the beginning when you copy the script files into your working directory. I can go through and put quotes around the paths in those samples, and that way it works for anyone whether they have spaces in their directories or not. What do you think about that?

[2020-05-07 22:20] mike-urnun-msft commented on #54334
@manish-jain-1 You can use the APIM dev kit that @solankisamir referenced above to maintain environment-specific APIM configurations & resources across their respective DevOps pipelines.

[2020-05-07 22:21] MarileeTurscak-MSFT commented on #50634
PG response: UWP app does not support PKU2U so you cannot use that to RDP to a AADJ device. You have to use Windows 10 native RDP client to connect to an AADJ target VM.

Hope this helps! If you have further questions feel free to make a new issue.

[2020-05-07 22:21] #50634 closed

[2020-05-07 22:22] mike-urnun-msft commented on #54338
@thingsconnected Thank you for your feedback! We will review and update as appropriate.

[2020-05-07 22:22] NavtejSaini-MSFT commented on #54361
@DaveSlinn From looks of it the screen shot that you have added is for Cosmos DB SQL API and the document is for Mongo DB API.
If after selecting Keys you see  DB name ending in "documents.azure.com:", it is a SQL API DB.

For Mongo DB you will see Connection String link and also HOST ending in "mongo.cosmos.azure.com"

Hope this helps.

[2020-05-07 22:23] mike-urnun-msft commented on #54366
@rriley99 Thank you for your feedback! We will review and update as appropriate.

[2020-05-07 22:25] NavtejSaini-MSFT commented on #54350
@RonnieQuan We are checking this and will get back to you.

[2020-05-07 22:27] mike-urnun-msft commented on #54201
@vvolodin Just following up on my previous comment about the clarification on the specific doc you're referring to in your feedback as I'm not seeing such details (localhost being over HTTPS and the `/Load` endpoint) being included in this documentation.

[2020-05-07 22:31] SaurabhSharma-MSFT commented on #54328
@RamlingaReddy I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-05-07 22:32] rigdern opened #54375 "How do I trigger my function on-demand so I can test it?"
When testing, it's inconvenient to wait for the timer to trigger. How can I trigger the function on-demand? It would be nice for the documentation to cover this for both local deployments and Azure deployments.

For functions deployed in Azure, from a lot of searching, I learned that this can be done on the "Code + Test" page for the Azure Function.

Perhaps this can be solved by including a link

[2020-05-07 22:35] mike-urnun-msft commented on #52956
@ecfan done!

[2020-05-07 22:37] balivo opened #54376 "Good docs for Azure AAD B2C integration"
There's a way to a GOOD sample for integrate Azure AAD B2C to Azure Functions for local development and production? It's so complicated and frustrating access information about it...

Simple things like, recover user data, etc...

Tks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b55

[2020-05-07 22:40] rigdern opened #54377 "Include a section about how to run an Azure Function on-demand via the Azure Portal"
The Azure Portal has a "Code + Test" page that enables you to run Azure Functions on-demand. It would be helpful to include a section about that on this doc page.

Adam Comella
Microsoft Corp.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7e88-e077-6a6f-6fb14d89dbf6
* Version Independent ID: 84a1693b-2795-c86

[2020-05-07 22:40] SaurabhSharma-MSFT commented on #54336
@aaronsgutierrez Please use `Get-AzSecurityPricing` Powershell cmdlet to get the trial remaining period information. Once successfully executed you can get the information under "FreeTrialRemainingTime" attribute.
![image](https://user-images.githubusercontent.com/38112130/81351355-fc349080-9078-11ea-9ac0-137665a0c751.png)

[2020-05-07 22:40] NavtejSaini-MSFT commented on #54350
@RonnieQuan The PG team has tested this across version and it should be working.
Please convey what error or issue you are getting while doing this for version 10 so that we can check this further.

[2020-05-07 22:43] DaveSlinn commented on #54361
Yes, you are right. This was due to confusion on my part. I'm new to Cosmos and never anticipated that the selecting the SQL API instead of the Mongo API at Cosmos resource creation would have affected the options in the cosmos management blade.  I created a Mongo API one and sure enough, it looks as described.

I ended up on the mongo tutorial page after internet searching for "cosmos database co

[2020-05-07 22:43] #54361 closed

[2020-05-07 22:47] SaurabhSharma-MSFT commented on #54341
@tplas I am redirecting to correct download website when I click on "workplace-join client" link.

![image](https://user-images.githubusercontent.com/38112130/81351613-9eed0f00-9079-11ea-875f-26a959e859b3.png)
Download link : https://www.microsoft.com/download/details.aspx?id=53554

[2020-05-07 23:00] BharathNimmala-MSFT commented on #53942
Assigning this to @mgblythe for further help on this thread. Thank you

[2020-05-07 23:05] rigdern opened #54378 "Where is the reference documentation for `TimerInfo`?"
I'm interested in seeing the reference documentation so I can learn more about the semantics of `TimerInfo's` properties. However, this documentation currently doesn't appear to exist. Here are the dead ends developers run into due to the current state of things:
  - Poor results when using search engines to search for `TimerInfo`
  - Using "Go to Definition" on `TimerInfo` in Visual Studio reveal

[2020-05-07 23:07] BharathNimmala-MSFT commented on #53798
@DevendarReddyK Apologies for delayed response on this. We are checking with our Internal Product Team on this, will keep the thread updated accordingly.

[2020-05-07 23:09] rigdern opened #54379 "What is a valid use case for `runOnStartup`?"
What is `runOnStartup` designed for? What's a valid scenario for using it? This page currently only lists reasons you wouldn't want to use `runOnStartup`.

If I'm considering using `runOnStartup` for some scenario, the current docs make it difficult to know whether it's a good idea and matches the intent behind `runOnStartup`.

Adam Comella
Microsoft Corp.

---
#### Document Details

⚠ *Do not edi

[2020-05-07 23:14] balivo commented on #51194
Any news?

[2020-05-07 23:17] KranthiPakala-MSFT commented on #54369
@Hasil-Sharma Thanks for reaching out. This repo is to address issues or feedback related to document content. Since your query is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory)or [stackoverflow](https://stackoverflow.com/questions/tagged/azure-data-factory-2). We h

[2020-05-07 23:21] MarileeTurscak-MSFT commented on #54236
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/114421

[2020-05-07 23:21] #54236 closed

[2020-05-07 23:21] rigdern opened #54380 "Time zone for Azure Functions deployed locally"
From experimentation, it seems that the time zone behavior is different based on whether a Function is deployed locally or to Azure. The time zone behavior described on this doc page is only accurate for Functions deployed to Azure.

This doc page should be updated to cover the time zone behavior for Azure Functions deployed locally. My understanding is that the time zone is always the local time

[2020-05-07 23:25] balivo commented on #52777
OK, tks...

[2020-05-07 23:26] EdwardP-VEN opened #54381 "Please update log location"
/opt/microsoft/dependcency-agent/log/install.log has incorrect spelling
Correct spelling:
/opt/microsoft/dependency-agent/log/install.log
and I found the log in this folder on my RHEL 7.8 VM:
/var/opt/microsoft/dependency-agent/log
the original location may exist on other versions of Linux but I am not sure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-05-07 23:27] Karishma-Tiwari-MSFT commented on #54196
@smartpcr Is there an update?

[2020-05-07 23:29] Karishma-Tiwari-MSFT commented on #53375
Thanks for sharing the update. Glad that you were able to resolve the issue.

[2020-05-07 23:29] #53375 closed

[2020-05-07 23:32] Karishma-Tiwari-MSFT commented on #51251
@zr-msft Can you please help with updating this document or suggest who would be the right person. Thanks :)

[2020-05-07 23:33] slsu0424 commented on #53793
Answer:
1) Yes I have tried with both api-version set to 2019-11-01 and 2019-10-01, and the response is empty.

2) I am able to execute the other query provided with the following response:

{
    "value": [
        {
            "id": "/subscriptions/9edd9e25-815c-4cdb-9bc8-d2ba127ec752/resourceGroups/aml_rg/providers/Microsoft.MachineLearningServices/workspaces/20200420_SSu",
            "name":

[2020-05-07 23:38] Karishma-Tiwari-MSFT commented on #54347
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-07 23:39] Karishma-Tiwari-MSFT commented on #54363
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-07 23:39] Karishma-Tiwari-MSFT commented on #54381
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-07 23:41] jgtellez1 opened #54382 "YAML file template"
The YAML file template as is will result in an error. We need to move the "imageRegistryCredentials" underneath the "properties" section, above where it says "containers". Making this change will make the yaml deployment work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf34a496-acbc-7eb4-6192-c99979a700ac
* Version

[2020-05-07 23:42] slsu0424 commented on #53793
I replicated this query as:
https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/{{resourceGroupName}}/providers/Microsoft.MachineLearningServices/workspaces/my-new-space-1100?api-version=2019-11-01

With the result as:
{
    "error": {
        "code": "AuthorizationFailed",
        "message": "The client '1b004be5-1e90-4bba-9cb1-74d772272776' with object id '1b004be5-1e90-

[2020-05-07 23:49] PeterCLu commented on #54370
Hi @marcelfranke , you might be using an out of date version of the notebook. The download location has been updated to the following address: https://azureopendatastorage.blob.core.windows.net/testpublic/temp/fowl_data.zip

You can see the up to date file here: https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/ml-frameworks/pytorch/deployment/train-hyperparameter-tu

[2020-05-07 23:52] MarileeTurscak-MSFT commented on #53898
Hi @Hema1605 ,

You're getting an Identity Protection and Access Management error, which makes me think this is related to permissions.

I tested in several of my tenants and was able to access both the preview experience and the production experience. I would first make sure that account has access to the applications and I would try logging out and signing into an incognito window on a new brows

[2020-05-07 23:52] #53898 closed

[2020-05-08 00:04] #54370 closed

[2020-05-08 00:05] MashaMSFT commented on #54216
Hi @ardacetinkaya , thanks again for reaching out! I've been doing some additional research and it looks like adding a cross-resource group server using the Azure portal is not currently supported.

Can you please try adding your elastic pool to the failover group using PowerShell instead, making sure to specify the partner resource group parameter?

If this doesn't work, then please either engage

[2020-05-08 00:07] #54337 closed

[2020-05-08 00:09] KranthiPakala-MSFT commented on #54337
@VitalyMCT The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-05-08 00:12] ash2017 commented on #54181
Please request that they open a support ticket for this. Thanks.

[2020-05-08 00:19] boreys opened #54384 "Automating OpenAPI definition"
This tutorial is good for student learning how to program. In the real world use case, we are automating documentation, API Specification, it's error-prone to write OpenAPI doc manually, and it's not ideal to come to Azure Portal to generate API Doc either; and it's more efficient to automate everything. I am looking for a better way to auto generate OpenAPI spec from the Function App (javascript)

[2020-05-08 00:23] MGoedtel commented on #54381
#assign @bwren to respond to this issue.

[2020-05-08 00:24] RonnieQuan commented on #54350
@NavtejSaini-MSFT the error message is "Resource is not supported".

[2020-05-08 00:29] KranthiPakala-MSFT commented on #54234
Thanks you for your inputs @mamccrea

@viboga We do not have a doc which has info about preview/GA status of the features, but you will see a `(Preview)` note if a feature is in Preview. If there is no such explicit note that means the feature is GA.

For example:
![image](https://user-images.githubusercontent.com/50185738/81357256-fe521b80-9087-11ea-89bd-74950a4a70ab.png)

Hope this clarifies.

W

[2020-05-08 00:29] #54234 closed

[2020-05-08 00:35] nykekana commented on #54279
I was logging onto Linux machine

[2020-05-08 00:53] RonnieQuan opened #54386 "Require NSG Outbound to Internet"
Is this rule required for internal facing app gateway?
NSG outbound to Internet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 166e6517-9190-c9fc-5ad5-757ad64bb3fc
* Version Independent ID: 0e67beb9-827a-cafb-b0aa-6d38d32475f4
* Content: [Azure Application Gateway configuration overview](https://docs.microsoft.com/en-

[2020-05-08 00:59] ziadhassan7 opened #54387 "Can't get pronounciation Score"
I'm using Postman to test the azure SpeechRecognition REST-API but I couldn't use the pronunciationScoreParams correctly!

**What I did is that I passed pronunciationScoreParams as the parameter and a JSON Base64 encoded text as the value of the parameter.. Or should I convert the json first to UTF8 then to Base64?**

However, I tried both and nothing worked for me!
I used those websites: [to Base

[2020-05-08 01:04] frehnejc opened #54388 "There needs to be an explanation for dual Hubs located in different paired regions"
I understand the concepts relating to a HA solution but our customers are implementing Hub/Spoke Vnets with VPN initially. I would like to see an explanation where there are two Regions with a full mesh HA solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff33c99b-1aa1-b1a3-4c51-00e68de1005d
* Version Independen

[2020-05-08 01:04] kiwiant opened #54389 "Breaking change for 2.14 - SQL command collection off by default"
More details here https://github.com/microsoft/ApplicationInsights-Announcements/issues/28 but the gist of it is to add this to the ApplicationInsights.config for ASP.NET.

&lt;Add Type="Microsoft.ApplicationInsights.DependencyCollector.DependencyTrackingTelemetryModule, Microsoft.AI.DependencyCollector"&gt;,
&lt;EnableSqlCommandTextInstrumentation&gt;true&lt;/EnableSqlCommandTextInstrumentation&g

[2020-05-08 01:06] D-Jeffrey opened #54390 "Intranet Zone - Allow updates to status bar via script."
This template settings are not available in the Intranet Zone for Endpoint Manager.
Did the requirement for this change?   It was there originally and now my EndPoint configurations generate an error 131328

Additionally, Site to Zone Assignment List generates the same 131328 error.  Is it required or did something change since Dec 2019

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-05-08 01:06] steveesp commented on #54257
Thanks for your input @TravisCragg-MSFT
I checked with @mattreatMSFT who authored that portion of the document. He confirmed your comment and will make the necessary adjustment.

[2020-05-08 01:18] ngyongkad commented on #53815
@PeterCLu, thanks for the help. I will proceed to close this ticket.

[2020-05-08 01:18] #53815 closed

[2020-05-08 01:21] milope commented on #53849
Wanted to add, we also just found this one:

**prod3-black.prod.microsoftmetrics.com** for port 1886.

[2020-05-08 01:21] GiftA-MSFT commented on #54326
@codenclick how so?

[2020-05-08 01:21] RayMaAU opened #54391 "Redirect URL"
At step 4 under "Then make sure your redirect URL is set to your external URL:", you also need to add "https://&lt;external URL you assigned&gt;/pa/oidc/cb" to the list, otherwise after user login they will get "AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application" error.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-05-08 01:28] Karishma-Tiwari-MSFT commented on #54091
Is there an update? Are you still seeing issue?

[2020-05-08 01:31] Karishma-Tiwari-MSFT commented on #53950
@anandchugh

The proper way to enable CI/CD pipeline to interact with Kubernetes is with Service Account, Cluster Role binding and Token.

You can create a service principal and assign it Kubernetes cluster admin access using IAM. This way, the logged in service principal will be able to do az aks get-credentials

1) create a dedicated CI/CD service principal:

https://docs.microsoft.com/en-us/cli

[2020-05-08 01:40] akbarrasool opened #54392 "Delegate sign-in & sign-up issue"
Can someone please confirm if this document is equally applicable to new developer portal for delegating sign-in/sign-up functionality? We have followed the documentation and used sample app to test and while it works perfectly fine for legacy portal, not so with the new developer portal.

With the new portal, the sign-in does work as expected, but then the portal effectively becomes unusable beca

[2020-05-08 01:50] nihar-dev commented on #50473
I have the same issue. But when I try to upload it got uploaded with **202 Accepted**, After that, I copied and opened **header location** URL it showed below error. Please help me.
[code]

Note: I gave permission to my Map by following below link.
[](https://docs.microsoft.com/en-us/azure/azure-maps/how-to-manage-authentication#view-authentication-details)

[2020-05-08 01:51] hisasima opened #54393 "AppGW dose not support AES256."
When I exported ssl certificate with AES256 not TripleDES using Windows cert manager, I encountered an error. But I confirmed that that password was correct. When I exported ssl certificate with TripleDES, the operation was successful. So I think AppGW dose not support AES256 like WebApps. Because I found bellow link. I hope you add the limitation into this document.

"Failed to save configuration

[2020-05-08 01:57] ApplesVOranges commented on #52616
Hi @KranthiPakala-MSFT

Just wanted to follow this up and advise that I found the issue.  It may be worth noting in the documentation that only one form of authentication to DataLake can exist for the entire cluster.  I found that once a key was set in any sort of config; MSI failed.  After restarting the cluster and not setting any config values for datalake; it seemed to work without issue.

[2020-05-08 01:58] Johnnytechn commented on #54286
Try in the incognito window?No,i still can not see it. My doubt is, is the Events feature not supported for Storage Account in China? The following image is from portal.azure.com's web page. However, Evnets button not exists in portal.azure.cn on Storage Account page, but exists on the Resource Group page.Do you understand my problem now?
![image](https://user-images.githubusercontent.com/62375294

[2020-05-08 02:01] ApplesVOranges opened #54394 "Unable to read from Synapse DW if table has REPLICATE or HASH distribution."
Hi Team,

When running the code from the Uasage (Batch) section on a table with a distribution of HASH or REPLICATE; I am getting an error; even though the same code works when reading from a round robin table.
I've created a community post below containing full code and error message.
https://forums.databricks.com/questions/39009/azure-synapse-dw-dms-error-when-reading-from-table.html

---
#### D

[2020-05-08 02:12] alexchen2016 commented on #54163
Any more update from your side?  I got the same error in /azure-functions/functions-create-first-java-gradle and /azure-functions/functions-create-first-kotlin-maven.

[2020-05-08 02:17] mrbullwinkle commented on #54371
I can't repro this issue:

![Screenshot of url + javascript](https://raw.githubusercontent.com/mrbullwinkle/GitHub_Issues/master/ai-js.png)

Often if you can't connect to that address it means it may be blocked by your firewall and can require a firewall exception: https://docs.microsoft.com/azure/azure-monitor/app/ip-addresses#application-insights-sdks for the CDN address.

[2020-05-08 02:21] jainshikha commented on #54351
Added the details followed the steps for deploying in keda
Un able to see the hpa pod or event it's not triggered also

[2020-05-08 02:24] dcbrown16 opened #54395 "Pricing link"
Service documentation typically links to the Pricing page under "Resources" in the ToC. Can that link be added to the Sentinel doc ToC as well?
https://azure.microsoft.com/en-us/pricing/details/azure-sentinel/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f4fe06e-d692-c330-a651-d51fec279a6a
* Version Independent ID:

[2020-05-08 02:27] jainshikha commented on #54352
Hi,
In the same page https://keda.sh/scalers/azure-storage-blob/  if you'll Srocll you will see attaching the screen shot
![Screenshot_2020-05-08-07-54-01-562_com android chrome](https://user-images.githubusercontent.com/20218527/81363646-7ad51080-9101-11ea-95f4-4cd6c8b8532d.jpg)

[2020-05-08 02:50] Mike-Ubezzi-MSFT commented on #54194
@efd7887 Thank you for bringing this to our attention. I found an issue with the [StartupUp.cs](https://github.com/Azure-Samples/cosmos-dotnet-core-todo-app/blob/master/src/Startup.cs) where some `using` directives were not included and need to be added, as the tutorial does not discuss this:

    using todo.Models;
    using todo.Services;
    using Microsoft.AspNetCore.Builder;
    using Microso

[2020-05-08 02:51] Mike-Ubezzi-MSFT commented on #54194
Assigning to the content team to evaluate and update as needed. @SnehaGunda for awareness.

[2020-05-08 02:59] smartpcr commented on #54196
It’s back to normal, believe it’s transient and have observed other related
issues with ACI

On Thu, May 7, 2020 at 4:28 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2020-05-08 02:59] Mike-Ubezzi-MSFT commented on #53921
@bharathsreenivas Can you work through this tutorial and correct the steps so that when you walk through this you have a working example. Thank you.

[2020-05-08 03:04] Mike-Ubezzi-MSFT commented on #54357
@cpwood Thank you for bringing this to our attention. This is being investigated and we will update you when we confirm the expected behavior.

[2020-05-08 03:05] aluong opened #54396 "Heartbeat configuration does not work"
The documentation implies we can configure a heartbeat with the ApplicationInsightsServiceOptions: https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service#using-applicationinsightsserviceoptions

However, this does not work, but a workaround is found here: https://github.com/microsoft/ApplicationInsights-dotnet/issues/1689

---
#### Document Details

⚠ *Do not edit this section. It

[2020-05-08 03:12] DixitArora-MSFT commented on #54053
@ecfan Done

[2020-05-08 03:26] DixitArora-MSFT commented on #54392
Hi @akbarrasool  Thanks for reaching out. We will review and update as appropriate.

[2020-05-08 03:28] DixitArora-MSFT commented on #54375
Hi @rigdern Thanks for reaching out. We will review and update as appropriate.

[2020-05-08 03:29] DixitArora-MSFT commented on #54377
Hi @rigdern Thanks for reaching out. We will review and update as appropriate.

[2020-05-08 03:32] DixitArora-MSFT commented on #54378
Hi @rigdern Thanks for reaching out. We will review and update as appropriate.

[2020-05-08 03:32] DixitArora-MSFT commented on #54379
Hi @rigdern Thanks for reaching out. We will review and update as appropriate.

[2020-05-08 03:33] DixitArora-MSFT commented on #54380
Hi @rigdern Thanks for reaching out. We will review and update as appropriate.

[2020-05-08 03:49] RamlingaReddy commented on #54328
Thanks...have opened a uservoice request

https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/40374067-return-product-name-via-azure-powershell-get-az

[2020-05-08 03:49] #54328 closed

[2020-05-08 03:57] himanshusinha-msft commented on #54342
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-08 04:02] SnehaAgrawal-MSFT commented on #54376
@balivo  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-08 04:05] vaibhavramdasi opened #54397 "VM hosted Sql Server as Hub?"
[Enter feedback here]

Is it possible to use Sql server hosted on a VM to act as hub? Member servers are Azure Sql Servers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791801be-835a-7b8d-106a-53f5e9f8eb66
* Version Independent ID: 740ebf2f-8f09-1869-6d78-2b7242aab4ec
* Content: [Data Sync - Azure SQL Database](https

[2020-05-08 04:11] AshokPeddakotla-MSFT commented on #54343
@jlorich Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-08 04:19] roopasd commented on #50030
Error Code 3208 is still undocumented

[2020-05-08 04:26] CHEEKATLAPRADEEP-MSFT commented on #54394
@ApplesVOranges  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks) or [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-databricks)
Once you post your issue on forums, it will have visibility across the community which is a better suited audie

[2020-05-08 04:26] #54394 closed

[2020-05-08 04:32] ram-msft commented on #54382
@jgtellez1 Thanks for the question. We will update you shortly.

[2020-05-08 04:34] ram-msft commented on #54387
@ziadhassan7 Thanks for the question. We are investigating the issue and will update you shortly.Could you please share the azure document that you are referring.

[2020-05-08 04:36] AshokPeddakotla-MSFT commented on #54373
@Marusyk Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-08 04:44] levi106 commented on #51800
@mbialecka
Thanks for the reply.

I have uploaded a sample program to [GitHub](https://github.com/levi106/edge-blob-csharp). And also, I have attached the full container logs:
[succeeded.log](https://github.com/MicrosoftDocs/azure-docs/files/4597000/succeeded.log)
[error.log](https://github.com/MicrosoftDocs/azure-docs/files/4597001/error.log)

The SDK version is [Azure.Storage.Blobs 12.4.2](https

[2020-05-08 04:56] kudlatiger commented on #53969
Yes, You are right.

I ran my client code in administrator mode, now it's working!

[2020-05-08 04:56] stiankrey commented on #50030
Received Error Code 3208 with a slightly different message.
This needs to be documented, we cannot have our production loads fail without the ability to understand why

{
    "errorCode": "3208",
    "message": "An error occurred while sending the request.",
    "failureType": "UserError",
    "target": "_<redacted>_",
    "details": []
}

[2020-05-08 04:59] v-nagta commented on #51774
@Amethi we have updated the doc, please review

#please-close

[2020-05-08 04:59] #51774 closed

[2020-05-08 05:00] neeleshray-msft commented on #54391
@melvillo Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-08 05:03] v-nagta commented on #33099
No action item is required

#please-close

[2020-05-08 05:03] #33099 closed

[2020-05-08 05:03] SumanthMarigowda-MSFT commented on #54344
@erikdfuqueneb Thanks for the question! We are investigating and will update you shortly.

[2020-05-08 05:03] krackjack29 opened #54398 "AKS private loadbalancers"
In the documentation of AKS Private IP, the rest api mentioned doesn't work.

[code]
its mentioned `aks-resource-id`, shouldn't it be aks-resource-name. And by the Azure REST API reference there is no property called "loadBalancerType" in the body as mentioned.

I verified for the api definitions at [https://github.com/Azure/azure-rest-api-specs/tree/master/specification/containerservice/resource-

[2020-05-08 05:10] CHEEKATLAPRADEEP-MSFT commented on #53787
@xyz92  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-08 05:10] #53787 closed

[2020-05-08 05:16] SwathiDhanwada-MSFT commented on #53952
@bradpicone If you want to choose the single destination, you can remove the other parameters that are not required. I have tested the ARM template by specifying single destination as log analytics workspace and I am able to deploy it successfully. Attaching the template for your reference.

[azure-deploy.txt](https://github.com/MicrosoftDocs/azure-docs/files/4597088/azure-deploy.txt)

As there ar

[2020-05-08 05:16] #53952 closed

[2020-05-08 05:17] ChiragMishra-MSFT commented on #53959
@atomaras

[2020-05-08 05:18] #53959 closed

[2020-05-08 05:18] kenzoohba opened #54399 "modify Authentication methods"
Currently, Security Defaults can use  "Verification code from mobile app", so please change the table in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e0cc9-a54f-a5c8-192d-d60a6a4db3ff
* Content: [Azure Active Directory security defaults](

[2020-05-08 05:20] ChiragMishra-MSFT commented on #53993
@normesta Can you please take a look at this?

[2020-05-08 05:21] atomaras commented on #53959
@ChiragMishra-MSFT  the link you provided still does not mention **BlockBlobClient**. That is why i am confused. What you mean is here https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.specialized.blockblobclient?view=azure-dotnet but not everyone uses this SDK. Thats why the doc should be more specific

[2020-05-08 05:27] ChiragMishra-MSFT commented on #53959
@atomaras Thanks for the link. I have updated my previous comment. It's mentioned in the doc that as a prerequisite, you need to install .NET SDK and install the packages :

https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-query-acceleration-how-to?tabs=dotnet#install-packages

[2020-05-08 05:28] BhargaviAnnadevara-MSFT commented on #51897
@aahill Thanks for the updates!

@AravindIT Hope this addresses your query.

[2020-05-08 05:28] abhishek0818 opened #54400 "What will be internal URL when target application URL is like this https://hostname:port/path"
hi Team,

I need to know what will be the internal URL in this (when integration application proxy with pingaccess) when target URL is like this https://hostname:port/path. And we will use external URL to access this application.

[2020-05-08 06:06] #54299 closed

[2020-05-08 06:11] shashishailaj commented on #54365
@amanmcse Thank you for your query. We will investigate and update the thread further. We use github for documentation improvement however the question by you is more like a troubleshooting question and we will try to answer it however if we do not get proper insights in our labs we will help you engage on alternate support channels. Please allow us some time to research on this and we will update

[2020-05-08 06:12] shashishailaj commented on #54390
@D-Jeffrey Thank you for your feedback . We will investigate and update the thread further.

[2020-05-08 06:13] PhineasJiang opened #54401 "Can not change signInAudience back to AzureADandPersonalMicrosoftAccount"
I have an application used for b2c login which created on 2018-09, Today I change the **signInAudience** property in manifest file from "AzureADandPersonalMicrosoftAccount" to "AzureADMyOrg", then I want to change back, but it always fail. I checked this document, it says there's some effects when change it to "AzureADandPersonalMicrosoftAccount", but I think I already have other properties correc

[2020-05-08 06:14] shashishailaj commented on #54395
@dcbrown16 Thank you for your feedback. We will have this reviewed and actioned accordingly.

[2020-05-08 06:15] shashishailaj commented on #54399
@abcastner Thank you for your feedback . We will investigate and update the thread further.

[2020-05-08 06:16] PramodValavala-MSFT commented on #53969
@kudlatiger Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Also, please do note that this repository is primarily for addressing document feedback. Its best to post generic queries on [MSDN](https://social.msdn.microsoft.com/Forums

[2020-05-08 06:16] #53969 closed

[2020-05-08 06:17] SnehaAgrawal-MSFT commented on #53935
@RonnieQuan Thanks for again for the feedback. The APIs are public endpoints, but no client can send notifications without a SAS token and corresponding access policies. Any communication with our endpoints occurs with a TLS handshake, so essentially all traffic on our networks is TLS encrypted.

Could you please elaborate on your ask about Isolation on what exactly you are looking for to help you

[2020-05-08 06:19] souravmishra-msft commented on #54062
@PaulAbrahamson,  There is no such requirements but preferred is to use atleast 2048 as the size of the public key. There is no clear documentation on this, but someone tested this and claimed that he used 4096 and it worked.

Hope this helps.

Do let us know if any more queries on this so that we can help you further.

[2020-05-08 06:21] dashesy opened #54402 "Not clear if run.log_image logs to Images or to logs"
When I use `run.log_image` the image is loged in "Outpus+Logs" section instead of Metrics, or even Images.
I am logging a ROC curve image, it should appear besides other metrics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9190938a-63d6-5b03-ff00-9bc3bf31e27f
* Version Independent ID: 6e9f9c7d-69c3-0a20-f94f-7107712

[2020-05-08 06:27] ChiragMishra-MSFT commented on #54400
@abhishek0818 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-08 06:43] SnehaAgrawal-MSFT commented on #54172
@idbates Thanks for the question! We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond to this, we kindly invite you to share your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-webapps.html)  or [Stack Overflow](https://stackoverflow.com/questions) forum.
 Thank you for your understanding

[2020-05-08 06:43] #54172 closed

[2020-05-08 06:47] leon8154 opened #54403 "UI Error Messages"
Can anyone explain to me when does this "ver_fail_server" message is displayed (found it in [Localization)?](https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization-string-ids) We can't seem to display it on our end. Thanks!

And if you don't mind, can you also explain how the other messages do mean (this is for reference)?

[2020-05-08 06:48] DixitArora-MSFT commented on #53994
@ghstahl Detail about it has already there in public doc. I don't there is a doc change required. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-08 06:48] #53994 closed

[2020-05-08 06:52] DixitArora-MSFT commented on #54051
@attrib75 Details about format and timestamp has already there in public doc. I don't think there is a doc change required. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-08 06:52] #54051 closed

[2020-05-08 06:53] dwSun commented on #32029
try this:
[code]

[2020-05-08 06:53] DixitArora-MSFT commented on #54083
@akbarrasool Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-08 06:53] #54083 closed

[2020-05-08 06:54] Tovli commented on #53726
Thanks @AjayKumar-MSFT
Does that mean that the api-version is for the resource and not for the msi/Token api?
That is a bit confusing as it worked with old api-version of the msi/token which isn't part of the user-assigned-identity api you've posted

[2020-05-08 06:59] olavt opened #54404 "Article should clearly document which VM sizes support Ultra Disks"
The article states "Not every VM size is available in every supported region with ultra disks", but there are no specific references to any documentation on exactly what VM-sizes in what regions supports Ultra disks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46ddbb6b-a5dd-fdea-6276-4a7f9b1aeff2
* Version Independe

[2020-05-08 07:00] DixitArora-MSFT commented on #54076
@blueelvis A function app is comprised of one or more individual functions that are managed, deployed, and scaled together. All of the functions in a function app share the same pricing plan, continuous deployment and runtime version.

Let’s consider a scenario where you have three functions: A, B, and C. The workload across all of them is evenly distributed and the memory consumption across all o

[2020-05-08 07:00] #54076 closed

[2020-05-08 07:01] 84618315 commented on #51488
found a solution.

you can use 'initial_intro' like this

`<LocalizedString ElementType="UxElement" StringId="initial_intro">{insert text you want}</LocalizedString>`

then if you use the template go to selfasserted.css and look for
[code]

[2020-05-08 07:08] KarstenKleinschmidt opened #54406 "Device compliance for 3rd party MDM systems on non-Win10 devices"
The article states:
"... to be marked as compliant by:
[...]
Third-party MDM systems for device OS types other than Windows 10 are not supported."

This seems to be outdated, there are other vendors on the market available, which state to provide this capability for iOS and Android now. Can you please elaborate on the supportability ?
Tnx!

---
#### Document Details

⚠ *Do not edit this section. I

[2020-05-08 07:09] DixitArora-MSFT commented on #54101
@jzoran05 When multiple triggering events occur faster than a single-threaded function runtime can process them, the runtime may invoke the function multiple times in parallel. If a function app is using the [Consumption hosting plan](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#how-the-consumption-and-premium-plans-work), the function app could scale out automatically. E

[2020-05-08 07:10] stefan923456 commented on #54311
Hello Samara, found it. I did not pay attention enough to the subscription part of the wizard. By default it selected the wrong subscription. When I change to the correct subscription it works. My bad... regards Stefan

[2020-05-08 07:16] nicovell3 commented on #17159
@femsulu Yes, it is a Pay-As-You-Go. Should I open a support case?

[2020-05-08 07:17] VikasPullagura-MSFT commented on #54404
@olavt
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-08 07:17] VikasPullagura-MSFT commented on #54404
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-05-08 07:24] damochiz opened #54408 "Can't verify the existence of some of the listed in "Tools and environments""
I can't verify that some of the listed in "Tools and environments" whether they are preinstalled. List them below.

- Intel MPI library
- Visual Studio Code
- Azure Machine Learning EDAT engine
- jupyterlab-git

In addition, I want you to include the version of each tool and the pre-installation Y/N in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-05-08 07:26] atbagga commented on #53647
Thanks for sharing the template.. I will try it out.

[2020-05-08 07:30] BhargaviAnnadevara-MSFT commented on #54389
@kiwiant Thanks for the question! We're investigating this and will get back to you shortly.

[2020-05-08 07:31] BhargaviAnnadevara-MSFT commented on #54396
@aluong Thanks for the question! We're investigating this and will get back to you shortly.

[2020-05-08 07:31] seephez opened #54409 "Lost phone can't login"
Hi I lost my phone and have no phone number configured on my account. The only remaining two 2FA options (approve from Authenticator or provide code from Authenticator) both rely on Authenticator which was on the phone. I have been trying to get this looked at for two weeks and just spent 45 mins on hold and was suddenly hung up on! I managed to log case #19777410 but I can't get any progression,

[2020-05-08 07:33] dkmbw commented on #14182
yeah, it would be cool if azcopy either will be discarded or put into the repository where az-cli is. it feels like azure does not really want that cloudusers use that tool

[2020-05-08 07:34] SubhashVasarapu-MSFT commented on #54393
@hisasima , We are looking into this query and will update you as soon as possible.

[2020-05-08 07:37] SubhashVasarapu-MSFT commented on #54388
@frehnejc , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-05-08 07:39] minascasiou opened #54410 "Can't get Lab to work - references and bits of code outdated - Is there an updated version?"
Hi, I'm not sure what I'm doing wrong, but I'm struggling to get the basics of the lab to build.
First, Function App complained about no PartitionKey being set.
When I went to change the code, I found libraries needed updating. From thereon, I couldn't get it to compile.
ChangeFeedProcessor.cs(47,68,47,76): error CS0433: The type 'Document' exists in both 'Microsoft.Azure.DocumentDB.Core, Version=

[2020-05-08 07:39] fabienso commented on #53250
@stijnbrouwers maybe i can help u with my article here.
https://github.com/MicrosoftDocs/azure-docs/issues/35843#issuecomment-625097963

[2020-05-08 07:44] michael-vh commented on #50030
Same errorCode here. An ADF pipeline trying to execute a databricks notebook gives the 3208 error. This pipeline used to run fine.

failures
{
    "errorCode": "3208",
    "message": "An error occurred while sending the request.",
    "failureType": "UserError",
    "target": "Notebook",
    "details": []
}

[2020-05-08 07:45] maartenhbe commented on #50030
Recieved the same error code the previous night around 4am CET.
Taken the recent above comments in mind, is an Azure issue to blame?

[2020-05-08 07:45] KrishnaG-MSFT commented on #54152
Assigning @mrbullwinkle for visibility, review and document enhancement consideration.

[2020-05-08 07:46] dominic1904 commented on #45378
@keithdv Thanks for the article. In the article, there is an input parameter, assertion, to exchange for a SAML token. I would like to know how to obtain this assertion?
In my understanding, in order to call SAP, you need to use a correctly formatted SAML token, e.g. Recipient="https://host.example.com:44345/sap/bc/sec/oauth2/token". I don't know how Azure AD can return this nicely formatted SAML

[2020-05-08 07:46] fabienso commented on #53967
@mcalnd70 I inserted the tenant into my openid-config (endpoint) and it works for me.

[code]

[2020-05-08 07:52] tomkuijsten opened #54411 "AppService websocket vs ip limits"
How does the websocket limits in AppServices relate to the IP limits? Eg, on a S1 there are unlimited websockets possible, but only 1920 (outbound) IP's. Is the actual websocket limit for a S1 1920?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3e

[2020-05-08 07:54] SnehaAgrawal-MSFT commented on #54157
@billti Thanks again for the feedback! Yes, you are correct. Also, its recommended to copy directly from the portal to avoid this kind of error. You may view all details in the overview blade.
Below sharing screen shot:

![image](https://user-images.githubusercontent.com/46553948/81384053-c05c0280-912e-11ea-8e77-4b410db9f22f.png)

[2020-05-08 07:57] SubhashVasarapu-MSFT commented on #54065
@ranabanerjee15 , Agree with your point. I will check with the respective author/team in updating the doc accordingly.

[2020-05-08 07:58] robabh opened #54412 "OCI SSO or IDCS SSO"
There is some confusion on the doc regarding the SSO. the metadata exchane (SSO setup) should happen between OCI and azure ( mentioned here) or IDCS and Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd22ad1-c4f8-fa9e-f43f-f5200fde8070
* Version Independent ID: 80c91745-f550-bca7-6674-d42584ac9dbe
* Content: [T

[2020-05-08 08:00] Stephvan opened #54413 "Enable Azure Active Directory OAuth on this page invalid"
The Enable Azure Active Directory OAuth on this page should be removed or updated as the Authorization has been changed to identity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95b48753-cabe-fe92-42de-21775f4f99c3
* Version Independent ID: 45a1fa90-c4f8-6d0b-e1a8-ed996de671eb
* Content: [Secure access and data - Azu

[2020-05-08 08:02] dqvoleto11 commented on #51918
i have the same issue but in my bootstrap.properties my connection endPoint is = spring.cloud.azure.appconfiguration.stores[0].connection-string=Endpoint=https:------------'

and my pom is this:

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://maven.apache.org/POM/4.0.0"
    xsi:schemaLocation="http://maven.apache.org/POM/4.0.

[2020-05-08 08:07] KrishnaG-MSFT commented on #53850
@GinoLock Updated the referred document with the required changes. The changes will go live within 24 hours. Thanks #please-close

[2020-05-08 08:07] #53850 closed

[2020-05-08 08:09] SubhashVasarapu-MSFT commented on #53704
@ErgoPr0xy ,  I could see that your ask has high recommendations from other partners as well and it is under reviewing state from our team. Please upvote it and other features that are of interest. We would announce and/or update the referred document once it is addressed. Meanwhile, I will request the respective PG to provide a status update on that page.

[This ](https://github.com/MicrosoftDocs

[2020-05-08 08:09] #53704 closed

[2020-05-08 08:10] ranabanerjee15 commented on #54065
That will be great, thanks

Kind Regards
Rana Banerjee

On Fri, 8 May, 2020, 5:57 pm suvasara, <notifications@github.com> wrote:

[2020-05-08 08:13] dqvoleto11 opened #54414 "spring-boot error with connection in appConfigurator AzUre"
i have this  issue:

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'initConnectionString' defined in class path resource [com/microsoft/azure/spring/cloud/config/A
ppConfigurationBootstrapConfiguration.class]: Unsatisfied dependency expressed through method 'initConnectionString' parameter 0; nested exception is org.springframework.beans.factory.Be

[2020-05-08 08:16] fma-wizata commented on #51230
Hi, adding my 2 cents... We also have similar issues when downloading the images from the official repo at a particular customer, and using a private repo doesn't help as the target address that gets resolved is the exact same in both cases, and it times out :-(

Could not pull image XXXXX.azurecr.io/azureiotedge-agent:1.0
--     caused by: dial tcp 204.79.197.219:443: connectex: A connection atte

[2020-05-08 08:19] VikasPullagura-MSFT commented on #54011
@mwchilde
We will now proceed to close this thread.

However, you comments will remain on this page and the product team is also looped in the issue for adding their insights if any.

If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-05-08 08:19] #54011 closed

[2020-05-08 08:23] AshokPeddakotla-MSFT commented on #54181
@bulathacl As suggested, Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity at microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2020-05-08 08:55] akshit-srivastava commented on #53335
Hi @likebupt, thanks for the reponse.
Please find below the details required.

1. what is your dataset resource?  -- It will be fetched from third party application
2. Do you mean that you use this changing dataset by invoking a web service? -- Yes, we have a REST API using which we can extract the dataset from third party app.
3. Do you only need to retrain model with the updated dataset but not

[2020-05-08 08:55] Marusyk commented on #19061
It would be great to have some links to Common Data Service description from the current page.

[2020-05-08 08:57] valkyriei opened #54415 "Example: cmdlet swapped with summary"
Hello team, Kindly correct the Examples of cmdlet "Get-ADSyncObjectsWithInheritanceDisabled" as summary swapped with cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82a4128e-9afe-01b8-1b90-9a5fa101a361
* Version Independent ID: 097caa74-01be-edbf-cdfd-40541387d2d4
* Content: [Azure AD Connect: ADSyncConfig Power

[2020-05-08 08:59] lokesh051 opened #54416 "Training the Baseline Model for Marathi Language Fails"
I am trying to train the Marathi Language Basline Model 20191009 but it fails with the error **"Failed to train model
Failed to train model Marathi Data 4. Error: The selected model isn't valid for online interpolation.."**
![Screenshot 2020-05-08 at 2 26 07 PM](https://user-images.githubusercontent.com/54314507/81389969-50eb1080-9138-11ea-952e-96f3a7559bfd.png)

[2020-05-08 09:07] VikasPullagura-MSFT commented on #54362
@yellow456434
Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-08 09:11] NewGyu opened #54417 "Link for ASP.NET Core SDK is old"
Current link is pointing https://github.com/Microsoft/ApplicationInsights-aspnetcore, but it seems to be moved to https://github.com/Microsoft/ApplicationInsights-dotnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3ee3318-4c69-8ded-a8d5-5059d699351b
*

[2020-05-08 09:14] akbarrasool commented on #54083
Thanks @DixitArora-MSFT. Agree, my query wasn't related to any specific MS Docs. I will log it to StackOverflow then and possibly as a feature request. However, it's worth mentioning that right now, other than styling and static page creation, very limited guidance or examples, if any, are available to override even simple default behavior like page navigation in the new developer portal which is

[2020-05-08 09:20] naveenambitious opened #54418 "Java code to access web services of azureml"
please suggest the java code to access the web services. I want to embed web service API into my java console program.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9a91d22-bd16-a250-5e81-26aca73e970b
* Version Independent ID: badfb9d5-8762-830c-7601-96473d941a84
* Content: [Consume web service - ML Studio (classic)

[2020-05-08 09:21] moudgilatul9 opened #54419 "Support Timeliness for Azure ML Studio Classic"
Hi Experts,

Can you please help us understand "till when Microsoft is planning to support Azure ML Studio Classic".
Is there any way to migrate the models from classic to new Azure ML service.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a7d4d05-a614-4dec-edee-ee4e25b6da67
* Version Independent ID: e108381

[2020-05-08 09:22] aroje opened #54420 "MS Teams Desktop client Guest user access getting error "You don't have access to this org in Teams.""
- [ ] The relevant Azure service or technology: MS Teams Desktop Client, version 1.3.00.12058 (64-bit). It was last updated on 5/7/20.
- [ ] documentation article: https://docs.microsoft.com/en-us/azure/active-directory/b2b/one-time-passcode

Hello, I  am running into the following issue:

Repro steps:
1. Enabled guest user access as described in:https://docs.microsoft.com/en-us/microsoftteams/gue

[2020-05-08 09:35] ram-msft commented on #54398
@krackjack29 Thanks for the question. We will update you shortly.

[2020-05-08 09:37] anujrana commented on #53341
You can use same Phone no for multiple users to perform SSPR or MFA, however, one Phone no cannot be used by more than one user for SMS based login. Ex : If we have already verified *** Phone no with User1 and User2 for SSPR, then both users will see the same in their properties for authentication methods and security info, however, only one of them can use it when login with SMS based authenticat

[2020-05-08 09:50] raghu2505 commented on #54231
Hi, any updates on this? Also what is the URL that is sent to the SCIM interface when clicking on "Test Connection"? It is not clearly mentioned in the documentation

[2020-05-08 09:51] emshimon commented on #53683
Thank you for your message.
I just wanted to mention that the document is wrong.
USE was on the list as T-SQL language elements supported in Synapse SQL pool, and this may confuse customers.

Thank you,
Emiko

From: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Sent: Monday, May 4, 2020 12:10 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Emiko Shimono <Emiko.Shimono@micros

[2020-05-08 10:05] langebo opened #54421 "Bind mounting WEBAPP_STORAGE_HOME to postgres image results in ownership error"
I am running a docker-compose preview web app with an aspnetcore webapp and a postgresql db.

When trying to follow your documentation of how to bind mount to the WEBAPP_STORAGE_HOME variable with following volumes configuration inside the postgres service section of my docker-compose:

[code]

i see the following error pop up in my logs and the application can't start, since the app is unable to

[2020-05-08 10:14] CHEEKATLAPRADEEP-MSFT commented on #54359
@CharmanderJieniJieni  Thanks for the question! We are investigating and will update you shortly.

[2020-05-08 10:23] bcraigie opened #54422 "How does an admin create an app password?"
This document focuses on a user generating their own app password, but surely an Admin should be able to create an app password for, say, a mailbox that is used to authenticate a printer for smtp?  Is the only way really to log in as that user and create the app password?  If so, it should be stated, else, info should be added to say how the admin can do it. :-)

---
#### Document Details

⚠ *Do n

[2020-05-08 10:25] dudu-markovitz opened #54423 "Azure Function App: pre-installed {ODBC Driver 17 for SQL Server}."
It seems that the Function App (Python|Linux|Consumption) comes with pre-installed {ODBC Driver 17 for SQL Server}.
I could not find it documented anywhere.

The file /etc/odbcinst.ini (from the function host) contains the following information:
[ODBC Driver 17 for SQL Server]
Description=Microsoft ODBC Driver 17 for SQL Server
Driver=/opt/microsoft/msodbcsql17/lib64/libmsodbcsql-17.5.so.1.1
Usage

[2020-05-08 10:32] VikasPullagura-MSFT commented on #54279
@nykekana Glad to hear that the issue is resolved.

For logging into the Linux VM, you either need SSH Key or the Password. You don't need both as you mentioned.

While you deploy the VM, you can give the username and ssh key as show below, this will allow you to ssh into the Linux machine with they ssh key you generated.
![image](https://user-images.githubusercontent.com/48944027/81393341-d58c5d8

[2020-05-08 10:33] VikasPullagura-MSFT commented on #54279
@nykekana
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-05-08 10:33] #54279 closed

[2020-05-08 10:34] VikasPullagura-MSFT commented on #54267
@sp4rc Any update on the issue, can you share the requested detail to reproduce and check the issue at our end.
Thanks.

[2020-05-08 10:34] BhargaviAnnadevara-MSFT commented on #54417
@NewGyu Thanks for the question! We're investigating this and will get back to you shortly.

[2020-05-08 10:36] CHEEKATLAPRADEEP-MSFT commented on #54180
@madhana  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-05-08 10:48] femsulu commented on #17159
Hi @nicovell3 - Yes, please open a support case. PayGo subscriptions require Azure Support engagement to enable this feature for co-admins.

[2020-05-08 10:49] KrishnaG-MSFT commented on #54237
@v-radelg I was able to reproduce the issue by following the referred Azure document. The "**Start-AzAutomationRunbook : Object reference not set to an instance of an object**" exception occurs in this case if you give wrong resource group name while starting the runbook i.e., while you run below commands make sure you give correct '**ResourceGroupName**' of storage account in **runbookParams** an

[2020-05-08 10:50] michalczerwinski commented on #49245
@AjayKumar-MSFT: I am running into this issue using S1 App Service Plan, not the Free App Service Plan.

So it looks like the Web Sockets are not currently supported at all for Linux? Can you please clarify here? Thanks for help!

[2020-05-08 10:53] CHEEKATLAPRADEEP-MSFT commented on #53897
@zbachore When you say " I am able to assign a role assignment to a container to a data lake storage gen2", which role assignment are you able to assign. Could you please share the screenshot for reference?

[2020-05-08 10:53] PatrickTuerkAvanade commented on #45282
Hello @souravmishra-msft!
Does this also effect AzureAD joined devices? We tried to use the incognito mode on one of our AzureAD joined devices (also complaint) and we can see the exact same behavior. Is there a difference in this case between AzureAD Domain (Hybrid) joined and Azure AD joined?

[2020-05-08 10:56] BhargaviAnnadevara-MSFT commented on #54305
@mrbullwinkle @cijothomas Thanks for clarifying!

@MatthewSteeples Thank you very much for bringing this to our attention! We're tracking this issue internally and will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-08 10:56] #54305 closed

[2020-05-08 10:56] PramodValavala-MSFT commented on #53856
@chetan3434 Hope my previous comment clears things up. We are working with the concerning team to get the docker hub page updated and will keep this thread posted.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issu

[2020-05-08 10:56] #53856 closed

[2020-05-08 10:56] PramodValavala-MSFT commented on #54244
@SirRacha Just following up here... Hope my previous comment clears things up.

[2020-05-08 11:06] ram-msft commented on #53863
@divlja-guska Can you please add more details about the error that you are getting.

[2020-05-08 11:10] PramodValavala-MSFT commented on #54338
@thingsconnected Thanks for the feedback! Unfortunately, there is no way to configure this today. Please feel free to raise a [feature request on UserVoice](https://feedback.azure.com/forums/216926-service-bus) for the same.

Since there is no doc update required here at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in you

[2020-05-08 11:10] #54338 closed

[2020-05-08 11:14] femsulu commented on #53801
Hello @jhua18, curious if you are seeing the above error across multiple browsers i.e. Chrome, Edge, Safari? I am unable to reproduce this issue on my end so wanted to check if this is still an open issue for you. If yes, then the next step is to [raise a support case](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request)via the Azure Management Po

[2020-05-08 11:14] shashishailaj commented on #54415
@valkyriei Thank you for pointing this out . We will have this reviewed and updated.

[2020-05-08 11:16] #53801 closed

[2020-05-08 11:19] nicolonsky commented on #52401
Cleary does not work (yet) with the latest Whiteboard app for iOS. Seems like the authentication is handled via safari instead of the app itself. Exempt from the AAD Sign-In log:

![image](https://user-images.githubusercontent.com/32899754/81400695-04023c80-912e-11ea-809d-c375ef747dc8.png)
Device info:
![image](https://user-images.githubusercontent.com/32899754/81400729-154b4900-912e-11ea-93c4-4bf

[2020-05-08 11:19] nicolonsky commented on #54082
https://github.com/MicrosoftDocs/azure-docs/issues/52401#issuecomment-625768334

[2020-05-08 11:19] SadiqhAhmed-MSFT commented on #53962
@mimergel We will now proceed to close this issue. Please re-open and tag me in your reply if you've additional questions in this matter.

[2020-05-08 11:19] #53962 closed

[2020-05-08 11:33] femsulu commented on #54025
Not sure I understand the requirement here but there is no functionality in Cost management to "disable resources that cost cash". You can set budget constraints + alerts on resources/resource-groups to effectively manage how much is spent on resource consumption. Details [here](https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/cost-mgt-alerts-monitor-usage-spending#budget-alert

[2020-05-08 11:33] #54025 closed

[2020-05-08 11:36] femsulu commented on #54205
@santhoshsomayajula  - any idea if this is supported in Azure Gov or is this a question for the AD feature owner?

[2020-05-08 11:41] femsulu commented on #54229
Hi @igomat  - sorry if I misunderstood your question but from @mepand' update above, it apprears the are still working on pricing but until then there's no additional costs till July timeframe.

@mepand  - please correct if mis-stated.

[2020-05-08 11:43] AshokPeddakotla-MSFT commented on #53960
@sharadrumane What is the result when you run **/opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P 'Strong!Passw0rd**'  command?

Are you able to successfully login?

[2020-05-08 11:47] mepand commented on #54229
That's correct @femsulu

[2020-05-08 11:49] KrishnaG-MSFT commented on #54158
@js-securecom There are different troubleshooter for different OS. Suggested usage one for Linux is as documented here: https://docs.microsoft.com/azure/automation/troubleshoot/update-agent-issues-linux

[2020-05-08 11:59] DixitArora-MSFT commented on #54384
Hi @boreys Thanks for reaching out. We will review and update as appropriate.

[2020-05-08 12:02] femsulu commented on #54229
Thanks for confirming @mepand

@igomat  - Hope this answers your question. We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-05-08 12:02] #54229 closed

[2020-05-08 12:15] AshokPeddakotla-MSFT commented on #54343
I have assigned the issue to the content author @dominicbetts  to evaluate and update as appropriate.

[2020-05-08 12:19] eduardohl commented on #53940
@neeleshray-msft  and @ChiragMishra-MSFT , any updates on this subject? Could you let me know if there's and ETA for resolution?

[2020-05-08 12:29] vipulsparsh commented on #54395
@yelevin Can you please look into this ?

[2020-05-08 12:34] techjazz-MS commented on #54231
@raghu2505, Thank you for reaching out and I apologize for the delay, as its taking me sometime to validate this. Ideally the tenant detail needs to have https, but I am working on this to confirm, as you mentioned that in Postman it works.

Do allow me sometime to check and validate this and will get back to you.

[2020-05-08 12:45] shashishailaj commented on #54403
@leon8154 Thank you for your query. We will investigate and update the thread .

[2020-05-08 12:49] shashishailaj commented on #54406
@KarstenKleinschmidt Thank you for your query. We will investigate and update the thread.

[2020-05-08 12:50] shashishailaj commented on #54401
@PhineasJiang Thank you for pointing that out . We will investigate and update the thread further.

[2020-05-08 12:51] Coopem16 commented on #52401
Looks like you are getting an 530001 error. Here is a description of that error:
[cid:image003.jpg@01D62515.D82F5590]

Looks like you are using MDM and “Require a complaint device” I would try on an CA policy that just uses MFA and Required App. It should work on a Require compliance, however I would be curious to see if it enforces Required APP.

​​​​​

From: Nicola Suter <notifications@github.co

[2020-05-08 12:54] AshokPeddakotla-MSFT commented on #54268
@johnnzy1 If you encounter this issue in future try to clear the browser cookies and cache. Also try in-cognito mode and see if that resolves your issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-08 12:54] #54268 closed

[2020-05-08 12:54] shashishailaj commented on #54412
@robabh Thank you for your feedback . We will have this reviewed and update the thread.

[2020-05-08 12:58] nivrutti-shinde commented on #53648
Thanks Mark. I posted the question into forum.

[2020-05-08 12:58] AshokPeddakotla-MSFT commented on #53980
@perkops  PR has been created to address this issue. changes will go live once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-08 12:58] #53980 closed

[2020-05-08 13:10] sbollap1 commented on #43686
Any update on this ? I am seeing the following error, when trying to install AGIC version

`Error: unable to build kubernetes objects from release manifest: unable to recognize "":
no matches for kind "AzureIngressProhibitedTarget" in version "appgw.ingress.k8s.io/v1"

helm.go:84: [debug]
unable to recognize "": no matches for kind "AzureIngressProhibitedTarget" in version "appgw.ingress.k8s.io/v1

[2020-05-08 13:12] richmhouse commented on #24857
It would be very helpful to people in the future if you could sort this out. Just saying it's ok cos it wroks in the cloud shell is just very annoying to those whove wasted an hour or two using Bash before finding this. issue.

[2020-05-08 13:13] neeleshray-msft commented on #54116
@RescueWhale We will be closing this thread now. Let us know if you need further help.

[2020-05-08 13:13] #54116 closed

[2020-05-08 13:17] jaffadog commented on #44915
In my experience: If the guest's IDP is another Azure AD tenant, then no direct federation setup is required.

[2020-05-08 13:18] arizzi12 commented on #52176
circling back...i reran the tut and the same issue as above it present...i have not gone out of scope of the tut...please advise...this tut is part of another so I'd like to keep moving forward...thank you!

[2020-05-08 13:18] neeleshray-msft commented on #54287
@billmath Could this be verified ?

[2020-05-08 13:20] OneConsutlantsDemo commented on #53868
Also if I am admin in Workspace level, can I be denied access to the secret/table scope or it would naturally inherit my parent access levels?

[2020-05-08 13:26] neeleshray-msft commented on #54391
@melvillo
Reply URL is the External URL generated when registering an app for your on-prem from Enterprise Applications; it should be something like: https://<app-name>-<tenant-name>.msappproxy.net/

Alternatively, if you have a custom domain setup, the External URL can optionally be: https://<app-name>-<tenant-name>.<custom-domain>/ (this can be selected from the dropdown on the same screen)

Aft

[2020-05-08 13:35] jonwbstr opened #54426 "Requested new troubleshooting section"
Hello, we recently ran into issues assigning licenses to a user synchronized by ADConnect. The Set-MsolUser command was failing saying 'uniqueness constraint violated: Property ProxyAddress'

After searching for what object had the same email address and finding no msolusers, and no mail contacts with any matching addressess a colleague pointed out these users were created by ADConnect. and there

[2020-05-08 13:36] VitalyMCT opened #54427 "Data factory loading performance"
Regarding "An average factory with git integration loads 10 times faster than one authoring against the data factory service. This performance improvement is because resources are downloaded via Git."

Can the article please elaborate on this a little bit more? What performance is referenced here? Loading into the UX editor? Loading during pipeline runs? Both? Something else?

---
#### Document De

[2020-05-08 13:36] pcdiks opened #54428 "Cannot add session hosts after the creation of the host pool"
I created the host pool with the powershell command's listed on this page. The next step would be to add session hosts to the pool and there I have two problems:
1. There is no powershell cmdlet to do that, as far as I can see
2. If I use the portal to add session hosts I get an error message

The error is: The template stored for VMs creation is invalid.

If I check the host pool settings for the

[2020-05-08 13:37] neeleshray-msft commented on #54399
@abcastner We have verified and made the required changes.

@MicrosoftGuyJFlo Could you approve the changes to the PR#54425 ?

[2020-05-08 13:42] neeleshray-msft commented on #53940
@eduardohl We are checking with the Product Team on this and would get back to you on the same.

[2020-05-08 13:44] pinakighatak commented on #18279
I'd very much like to know if there is any comparison tables between using CETAS, CTAS VS ADF in Data Ingestion. This topic comes up often with my customers.

[2020-05-08 13:46] neeleshray-msft commented on #54017
@SHAGGAR Let us know if you need further help on the same.

[2020-05-08 13:49] RyanHill-MSFT commented on #54421
Thanks for the feedback @langebo! We are currently investigating and will update you shortly.

[2020-05-08 13:56] SumanthMarigowda-MSFT commented on #54024
@CeciAc Apologies for delay in responding here!

I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the d

[2020-05-08 13:56] #54024 closed

[2020-05-08 13:57] SumanthMarigowda-MSFT commented on #54155
@seanFeldman May I know what exactly are you try to accomplish?

[2020-05-08 14:07] werkilla opened #54429 "Virtual directories for container apps"
Since the virtual directories option is not available for containerized apps, does that mean it is not possible to have a setup of individual container apps accessed via: mydomain.com/app1, mydomain.com/app2 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-73bb010a87f0
* Version Independent ID:

[2020-05-08 14:08] melvillo commented on #54391
Hi @neeleshray-msft,

I've deployed the Azure AD + Header-based On-prem App + PingAccess successfully but the Redirect URL I mentioned "https://<external URL you assigned>/pa/oidc/cb"  is a must have.

[2020-05-08 14:11] bartvrooijen commented on #35242
Are there any updates on this issue? I have multiple subscriptions with Azure Activity logs connected to one Log Analytics workspace. It says in this article "When you connect an Activity Log to a Log Analytics workspace, entries will be written to the workspace into a table called AzureActivity that you can retrieve with a log query. "

None of the logs I'm trying to find actually apear, like the

[2020-05-08 14:13] bartvrooijen opened #54430 "Can't see any valuable logs from activity logs"
Are there any updates on this issue? I have multiple subscriptions with Azure Activity logs connected to one Log Analytics workspace. It says in this article "When you connect an Activity Log to a Log Analytics workspace, entries will be written to the workspace into a table called AzureActivity that you can retrieve with a log query. "

None of the logs I'm trying to find actually apear, like the

[2020-05-08 14:16] neeleshray-msft commented on #54412
@robabh
The SSO is configured between Oracle Cloud Infrastructure and Azure. The IDCS is setup as a IDP as explained in this document. For more information on the SSO setup between OCI and Azure, please refer to this **[document](https://docs.microsoft.com/en-in/azure/active-directory/saas-apps/oracle-cloud-tutorial)**.

Let us know if you need further help.

[2020-05-08 14:16] jtuliani opened #54431 "Explain 'At scale'"
Table at top says some scenarios are available 'at scale', but never explains what this means.
For example, does it mean lots of VMs in a subscription?
Lots of VMs in lots of subscriptions in a tenant?
Lots of VMs across 100s of tenants (MSP scenario)?
Does it depend on the number of Log Analytics workspaces? What if I'm an MSP with 200 customers, each using one or more workspaces?

---
#### Docum

[2020-05-08 14:18] yoshioterada commented on #13291
I also had the same issue.
Could you explain how to solve it ?

[2020-05-08 14:21] RohitMungi-MSFT commented on #53892
@viju2008 Yes, using the audio stream to control your audio capture from the client.

[2020-05-08 14:26] pascal-hauser opened #54432 "Behavior for Domain-Regsitered devices unclear"
If AAD DS is enabled on the Storage Account, can a domain-registered device access Azure Files through SMB (with the users identity)? This article explains all about domain-joined devices, but Azure AD registered devices are not mentioned at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100a0bd2-817c-8c9e-68d6-cb

[2020-05-08 14:29] jtuliani opened #54433 "Limits?"
What are the limits on how many tenants (via Lighthouse) / subscriptions / Recovery Services Vaults that Backup Explorer can support?
For example, if I'm an MSP with 600 customers, each with their own tenant and potentially multiple subscriptions/vaults, can I still use Backup Explorer to get a single view across this entire estate?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-05-08 14:32] jtuliani opened #54434 "Limits?"
What are the limits on how many tenants (via Lighthouse) / subscriptions / Recovery Services Vaults that Backup Reports can support?

For example, if I'm an MSP with 600 customers, each with their own tenant and potentially multiple subscriptions/vaults, can I still use Backup Reports to get a single view across this entire estate?

I note that Backup Reports are based on Log Analytics. According

[2020-05-08 14:36] shraboin opened #54435 "List blobs not accounting for continuation token"
For getting size for a container I don't see the code sample accounting for a continuation token when the results hit the partition boundary

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3fd84ff-dd23-58f0-13de-a4f4c7379d3a
* Version Independent ID: 51c6db3d-191f-6f9e-6576-58ee3dcb6977
* Content: [Azure CLI Script Sam

[2020-05-08 14:37] jelmerS2 opened #54436 "No definition for GetPlatformPointer"
Hi

From the code example:  this.cloudSession.Session = aRSession.subsystem.nativePtr.GetPlatformPointer();
I get the error that GetPlatformPointer(); doesn't exist. Unity2019.2
What should it be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47ed5367-ee97-31a2-78ff-dd98e5c23d24
* Version Independent ID: 2e975197-ca07

[2020-05-08 14:38] EsaFazal72 opened #54437 "I have an AKS cluster with virtual node enabled and I've been trying to run a pod in the virtual node (ACI) with Azure files storage mounted. But I keep getting an error:)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab165b0d-5cb2-45dd-8e67-3462210e2815
* Version Independent ID: 7f2bf4ef-5354-ed9d-cd19-4bcb6b462d0f
* Content: [Troubleshoot common issues - Azure Container Instances](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-trou

[2020-05-08 14:38] EsaFazal72 opened #54438 "I have an AKS cluster with virtual node enabled and I've been trying to run a pod in the virtual node (ACI) with Azure files storage mounted. But I keep getting an error:"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab165b0d-5cb2-45dd-8e67-3462210e2815
* Version Independent ID: 7f2bf4ef-5354-ed9d-cd19-4bcb6b462d0f
* Content: [Troubleshoot common issues - Azure Container Instances](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-trou

[2020-05-08 14:47] shashishailaj commented on #54415
@valkyriei Thank you for pointing that out. We have updated the document . It will be live with the next release cycle in the next 24-48 hours.

Thank you.

[2020-05-08 14:47] #54415 closed

[2020-05-08 14:50] jtuliani opened #54439 "Multi-subscription limits?"
I looked through the resource graph docs and couldn't find any info on the limits regarding the number of subscriptions to include in a query scope.
For example, I'd like to understand:
 - Is a query scope limited to subscriptions in the same tenant?
 - If yes, does that include subscriptions delegated to the tenant via Azure Lighthouse?
 - Is there a limit on the number of subscriptions I can use

[2020-05-08 14:50] jelmerS2 opened #54440 "session? -> cloudSession!"
In the code example in this section: https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/create-locate-anchors-unity#provide-frames-to-the-session
it mentions "session". It's very unclear what you mean with session, but it seems you mean what is called this.cloudSession in the other code snippets?

It would be super helpful if the information on this page was put into one clear code exa

[2020-05-08 14:52] DCtheGeek commented on #54439
#assign:DCtheGeek

[2020-05-08 14:57] davidsmatlak commented on #54411
#assign:davidsmatlak

[2020-05-08 15:01] saikrishna-v commented on #53936
Curious about that any updates on this?

[2020-05-08 15:06] jelmerS2 opened #54441 "GetNativeAnchorPointer() doesn't exist"
https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/create-locate-anchors-unity#create-a-cloud-spatial-anchor
In the code example here, GetNativeAnchorPointer() is mentioned and it seems like this is supposed to be an extension of Unity's GameObject. However, it is nowhere to be found in the AZA project. How to get this to work?

---
#### Document Details

⚠ *Do not edit this section. I

[2020-05-08 15:07] RobinHSanner commented on #54194
Why not have a download link for the complete project?  Also note that the CosmosDB emulator page has a download link for the ToDoList project but it's CosmosDB v2.  It should be the v3 project (this one apparently)

[2020-05-08 15:10] DCtheGeek commented on #54439
@jtuliani Thanks for the question.

No. By default, a query scope uses the subscriptions available to a principal during login. The list is determined by RBAC and is the same list as calling [Resource Groups - List](https://docs.microsoft.com/rest/api/resources/resourcegroups/list) REST API. Details here: https://docs.microsoft.com/azure/governance/resource-graph/overview#permissions-in-azure-reso

[2020-05-08 15:11] davidsmatlak commented on #54411
@tomkuijsten thank you for the feedback. I'll research the issue and post an update when more information is available.

[2020-05-08 15:17] SamaraSoucy-MSFT commented on #54386
Thanks for the question! We will review and get back to you shortly.

[2020-05-08 15:18] SamaraSoucy-MSFT commented on #54414
@dqvoleto11 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.