[2022-03-11 15:52] mumian commented on #89403
@matudose -  I suspect something wrong with your installation of the Azure PowerShell? Which version of Azure PowerShell do you have?  Can you upgrade to the latest version?

[2022-03-11 15:53] PingPongSet commented on #88960
@mike-urnun-msft

But how to change it? On the Azure Portal, I cannot change it. Please see the link below, which is from the doc quoted at OP.

https://docs.microsoft.com/en-us/azure/api-management/media/api-management-configuration-repository-git/api-management-enable-git.png

[2022-03-11 15:54] briggsb9 opened #89666 "Restore and blocked operations clarity"
The call out box states on [this](https://docs.microsoft.com/en-us/azure/storage/blobs/point-in-time-restore-overview) page states;

Suggesting in the first line that any blobs outside of the range will not be affected.

[This](https://docs.microsoft.com/en-us/azure/backup/blob-restore#before-you-start) doc states;

Suggesting the whole storage account is blocked.

As Operational Backup uses point

[2022-03-11 16:02] roalexan opened #89667 "iotedge command not found on deployed iot edge vm"
Hello. I pretty much followed the instructions as written. After deploying the vm and logging in, I got this error when checking the status:

azureUser@vm-cu7vurlcj45xu:~$ sudo iotedge system status
sudo: iotedge: command not found

shouldn't this have been installed? I'll double-check that I didn't miss a step or mess something else up, otherwise I'll have to manually install iotedge, which seems

[2022-03-11 16:04] matudose commented on #89403
Hi Jonathan,

Thanks for reaching out.
I had updated on the status of this, Powershell was picking up an older version of the module, not the newest one, I had forcefully removed that module and now it’s working fine.

With kind regards,

Matei Tudose​
Technical Advisor EMEA
Azure Bare Metal​
+40 311 331 574​
Working Hours: M-F 8:00am – 5:00pm CET
Team Manager | Dragos Oltean ***@***.******@***.**

[2022-03-11 16:14] mumian commented on #89403
@matudose - I am glad you have got the issue resolved.  Let us know if you need any additional assistance.

#please-close

[2022-03-11 16:14] #89403 closed

[2022-03-11 16:15] matudose commented on #89403
Thank you, Jonathan, for your assistance. All good now.

With kind regards,

Matei Tudose​
Technical Advisor EMEA
Azure Bare Metal​
+40 311 331 574​
Working Hours: M-F 8:00am – 5:00pm CET
Team Manager | Dragos Oltean ***@***.******@***.***>)

If you need to work with another Azure Technical Support Engineer outside of my working hours, please send email to ***@***.******@***.***> with your case nu

[2022-03-11 16:15] PRMerger20 commented on #89403
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-03-11 16:26] mbiver commented on #89185
Thanks, @mimckitt  and @kobulloc-MSFT   !

[2022-03-11 16:27] #26247 closed

[2022-03-11 16:27] ckittel commented on #26247
Within the next 24 hours or so, the doc referenced above will include these instructions.  Thanks again for raising this concern.

[2022-03-11 16:30] joecarlyle opened #89668 "ExpressRoute Scenario"
Why is there no ExpressRoute scenario listed on this page?

Would be very useful to have this documented here in line with the rest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6860efb1-ddab-04a1-bf34-4e0a41844102
* Version Independent ID: 2321ec49-4cb8-d477-3430-44af3790bcdd
* Content: [Azure VPN Gateway: About P2S

[2022-03-11 16:30] SumanthMarigowda commented on #89666
@briggsb9 Thanks for the question! We are investigating and will update you shortly.

[2022-03-11 16:34] zioalex commented on #89237
Hi all,
@sumeetmittal  may be I miss some knowledge but I do not follow you.
Can you please explain how multiple NAP IP helps to scale out the private link service.

Can you please explain how this scale out would work in a simple example as a simple Private endpoint for an ACR.

[2022-03-11 16:37] #37610 closed

[2022-03-11 16:38] #44303 closed

[2022-03-11 16:40] ckittel commented on #37610
Thanks all.  In the next 24 hours this docs page will be updated with a link to the new content that @kelleymh helped put together recently.

[2022-03-11 16:43] ckittel commented on #44303
Within the next 24 hours, the doc in question will be updated to call out the importance of them being loaded, and cross linked into the new content that @kelleymh has recently published.  Thanks all!

[2022-03-11 16:46] ckittel commented on #46391
We've updated the docs (live in the next 24 hours) that currently point to the older sh instructions to include the required version parameters.  Once the upstream script is updated, we should probably then re-evaluate the changes made.  Will keep this open until that happens, but for now at least folks will have some hint that additional parameters must be passed in.

[2022-03-11 16:47] JamesTran-MSFT commented on #89665
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 16:52] captainmike commented on #89379
Thanks for this. This is helpful. Using the above, I'm able to get extract the operation id from the string. Less than ideal, I guess that's the best that can be done at the moment. Thanks.

<img width="675" alt="Screenshot 2022-03-11 at 18 34 43" src="https://user-images.githubusercontent.com/1487793/157909292-01b5ef77-46a9-4e19-9737-960ac05a26f2.png">

[2022-03-11 17:01] helderpinto opened #89669 "Links to built-in tables supported by Custom Logs are broken"
Some of the links pointing to the [built-in tables supported by Custom Logs](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/custom-logs-overview#tables) are broken, namely the links to `CommonSecurityLog` and `SecurityEvents`. The links to `Syslog` and `WindowsEvents` are fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-03-11 17:09] GitaraniSharma-MSFT commented on #89668
@joecarlyle , thank you for your feedback. P2S VPN is configured in a Virtual network gateway type "**VPN**" which is also used for Site-to-Site and VNet-to-VNet connections.

A Virtual network gateway of type "**ExpressRoute**" is used only when configuring ExpressRoute.

Even though you have an ExpressRoute setup along with a site-to-site VPN (which is called a co-existence scenario), the P2S VP

[2022-03-11 17:09] whhender commented on #89590
Thanks for your question!

I'll update the docs to make sure this is easily scannable on the page.

[2022-03-11 17:09] whhender commented on #89590
#please-close

[2022-03-11 17:09] #89590 closed

[2022-03-11 17:11] tamram commented on #89666
@briggsb9 - The first statement is correct. We're updating the second one. The change should go live later today.

@v-amallick - Please verify that my change is acceptable.

#reassign: @tamram

#please-close

[2022-03-11 17:12] AshokPeddakotla-MSFT commented on #89334
@GameModes Did you get a chance to see my response? Please check the troubleshooting guide and update if that solves your issue

[2022-03-11 17:13] joecarlyle commented on #89668
Apologies, context was P2S to branch using VPN gateway and ExpressRoute gateway coexistence. Similar to the existing section on P2S to branch using S2S VPN.

Thanks

Joe

Sent via mobile
________________________________
From: Gitarani Sharma ***@***.***>
Sent: Friday, March 11, 2022 5:09:13 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Joe Carlyle ***@***.***>; Mention ***@***.***>
Subject: Re:

[2022-03-11 17:16] AshokPeddakotla-MSFT commented on #89170
@AlanPintor-git  As suggested please double check the environment variables and save it accordingly.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-11 17:16] #89170 closed

[2022-03-11 17:20] GitaraniSharma-MSFT commented on #89645
@cpdohert , it looks like a doc bug. The V1 SKU App gateway does not support Static Public IP addresses - IP addresses must be basic SKU dynamic IPs.
Refer : https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-components#static-versus-dynamic-public-ip-address

<img width="454" alt="image" src="https://user-images.githubusercontent.com/67630903/157915584-aea5d767-7ee7-44

[2022-03-11 17:28] whhender commented on #89498
Thank you for your feedback! I'm adding that information today! You should see an update to the docs within the next couple of days.

[2022-03-11 17:28] whhender commented on #89498
#please-close

[2022-03-11 17:28] #89498 closed

[2022-03-11 17:36] whhender commented on #89437
Thank you for your feedback!
I'll add an update to the documentation today that makes this a little clearer.

[2022-03-11 17:36] whhender commented on #89437
#please-close

[2022-03-11 17:36] #89437 closed

[2022-03-11 17:38] SatishBoddu-MSFT commented on #89365
Hello @omar-nav I think we need more discussion & Help on this topic and Shall we take this conversation to [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/index.html)? as the documentation and the upcoming changes are 2 different places to address issues!!!
Please let me know...!

[2022-03-11 17:45] GitaraniSharma-MSFT commented on #89668
@joecarlyle , thank you for the update. Transit routing between ExpressRoute and Azure VPN was not supported earlier. It is now possible using [Azure Route Server](https://docs.microsoft.com/en-us/azure/route-server/expressroute-vpn-support).

Refer : https://docs.microsoft.com/en-us/azure/expressroute/how-to-configure-coexisting-gateway-portal#to-enable-transit-routing-between-expressroute-and-az

[2022-03-11 17:46] SatishBoddu-MSFT commented on #89179
Hello @fmerinop
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-03-11 17:46] #89179 closed

[2022-03-11 17:53] bdcoder2 opened #89672 "Question regarding environment variables defined in Azure App Service ..."
**Environment:**

Microsoft Visual Studio Community 2022
Version 17.1.1
VisualStudio.17.Release/17.1.1+32228.430
Microsoft .NET Framework
Version 4.8.04084

**Description:**

When developing a web app locally, I have the following defined in "launchSettings.json" to define an environment variable for an Azure keyvault URI:

[code]

Within my web application code, I add environment variables via:

[2022-03-11 17:53] baanders commented on #89339
Thank you for this suggestion! I've logged your request, and have started the next step of gathering data on the OS distribution of our users to help determine the priority of this work.

Although I know this isn't the main ask here, you can also download [Visual Studio for Mac](https://visualstudio.microsoft.com/vs/mac/) in the meantime to take advantage of the existing instructions.

I'll contin

[2022-03-11 17:53] SadiqhAhmed-MSFT commented on #89323
@zeeshaanali Here is another thing you could try... you can create a 2nd VM on the same subnet with the cert tool and see if from the 2nd VM you can scan the 1st VM using the same port.

[2022-03-11 17:58] joecarlyle commented on #89668
That’s great and thanks for the insight on roadmap for docs updates. Love this process, please close this issue.

Joe

Sent via mobile
________________________________
From: Gitarani Sharma ***@***.***>
Sent: Friday, March 11, 2022 5:45:24 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Joe Carlyle ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] ExpressRoute Scenario (I

[2022-03-11 18:07] ggailey777 commented on #89491
@ramedey would this be better?

[2022-03-11 18:18] Aqueum commented on #89339
Thanks Bailey

I did actually download Visual Studio for Mac 2022, purely in order to follow this tutorial, but got stuck at the point where you need to install the “Azure Development Workload” which as far as I can see is not available for Mac (I would be delighted if you would prove me wrong here).

Kind regards

Martin

[2022-03-11 18:20] MashaMSFT commented on #89611
Hi @tony-box , thanks for bringing this to our attention! We've removed SQL MI from the table to improve the clarity, and this change should be live later today. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close
#reas

[2022-03-11 18:21] #89611 closed

[2022-03-11 18:27] hallihan commented on #14539
Answered above, #please-close

[2022-03-11 18:27] #14539 closed

[2022-03-11 18:28] sumeetmittal commented on #89237
ACR doesn't consume Private Link Service. Please note that there are several different Privately linkable resources that Private endpoint can connect to e.g., Storage, SQL, ACR, Private Link Service and so on.. Private Link Service is customer/partner owned service that can be mapped to Private Endpoint. Now each Private Link Service can connect to ~1000 private endpoints in different VNETs and ma

[2022-03-11 18:33] tnagarajan001 opened #89673 "Issue with source file in sqlpackage publish action"
When I tried 'sqlpackage /a:publish' command and specified URL of dacpac file like '/sf:https://{BlobStorageEndpoint}/{Containername}/{Blob}.dacpac' I got an error "The given path's format is not supported". Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c457408b-20fb-a617-0bb0-0e73d4f703c5
* Version Independen

[2022-03-11 18:36] erjosito commented on #89661
Let me qualify the feedback a bit better: the "scope" concept is new for somebody already familiar with Private Link, but instead of comparing with familiar structures that the reader might know from other Azure services, and build from there, the article introduces everything from scratch, leaving the reader the task of finding out what is different in AzMonitor

[2022-03-11 18:36] PRMerger13 commented on #89593
Only Microsoft employees can manage issues via commenting in this repo.

[2022-03-11 18:52] hekaplex opened #89674 "Add CREATE EXTERNAL DATA SOURCE code for SqlOnDemandDemo"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 983ce27f-dea7-a634-5508-049c679b224f
* Version Independent ID: 94db066f-3509-0e0d-3f77-53474653fa06
* Content: [Query Parquet nested types using serverless SQL pool - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/sq

[2022-03-11 19:00] zeeshaanali commented on #89323
@SadiqhAhmed-MSFT
Here you go... As expected it didn't work. The greatest mystery is no service running with port 5986 listening which I had already mentioned in my previous replies.

Anything else that I can try beyond the scope of doc?

![image](https://user-images.githubusercontent.com/70892849/157934087-5f8f45e5-2c69-4d6b-b48d-08a944b2f688.png)

[2022-03-11 19:00] KranthiPakala-MSFT commented on #89431
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-11 19:01] KranthiPakala-MSFT commented on #89444
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-11 19:13] AlanPintor-git commented on #89170
The C# sample is working now!

My environment variables look a bit different though:

![enviroment varialbles](https://user-images.githubusercontent.com/81703131/157935833-02a05041-d597-44fd-a70f-370c761d58b2.PNG)

Thank you for your support,
Alan

[2022-03-11 19:14] #20387 closed

[2022-03-11 19:28] nromyn opened #89675 "Typo in Link"
The first link in the first paragraph has an extra '-v2'

[Azure Security Benchmark version 2.0](https://docs.microsoft.com/en-us/security/benchmark/azure/overview-v2-v2)

https://docs.microsoft.com/en-us/security/benchmark/azure/overview-v2-v2

should be

https://docs.microsoft.com/en-us/security/benchmark/azure/overview-v2

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-03-11 19:33] hallihan commented on #17697
Confirming, there are many possible options depending on the operating system so it doesn't make sense to cover them in the Docs at this time.  #please-close

[2022-03-11 19:33] #17697 closed

[2022-03-11 19:34] MarileeTurscak-MSFT commented on #89675
@nromyn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 19:35] hallihan commented on #18833
Answered above with link to support list, #please-close

[2022-03-11 19:35] #18833 closed

[2022-03-11 19:35] hallihan commented on #18290
Content no longer exists #please-close

[2022-03-11 19:35] #18290 closed

[2022-03-11 19:38] MarileeTurscak-MSFT commented on #89675
Thanks! I made a pull request to fix the typo. https://github.com/MicrosoftDocs/security-benchmark-docs-pr/pull/236

[2022-03-11 19:38] #89675 closed

[2022-03-11 19:39] MarileeTurscak-MSFT commented on #84726
Thanks! I made a pull request to fix this. https://github.com/MicrosoftDocs/security-benchmark-docs-pr/pull/236

[2022-03-11 19:39] #84726 closed

[2022-03-11 19:39] MarileeTurscak-MSFT commented on #87228
https://github.com/MicrosoftDocs/security-benchmark-docs-pr/pull/236

[2022-03-11 19:43] GameModes commented on #89334
I did used multiple regions, I originally live in West-Europe but the VM that is required is restricted in some zones. In my example I used Australia, but I have tried most of them, with the same result.

[2022-03-11 19:47] Grace-MacJones-MSFT commented on #89422
Thanks again for the feedback! I have submitted a PR to update the doc will go-live in the public docs shortly.

[2022-03-11 20:01] brucelangston opened #89676 "Date confusion"
The article states, in a note, that "[t]he A8, A9, A10 A11 VMs are planned for retirement on 3/2021." It seems that by the date of the article, 01/02/2022, the planned retirements could have been confirmed and the note changed to say that the models *were* retired. Or one might argue that the pending (at the time of the original article) retirement is now, after the fact, a moot point.

---
#### D

[2022-03-11 20:03] laujan commented on #89555
Hi @sdebruyn , Thank you for your feedback. I have updated the managed identities documentation.

cc @RohitMungi-MSFT

[2022-03-11 20:04] laujan commented on #89555
#please-close

[2022-03-11 20:04] #89555 closed

[2022-03-11 20:05] sijoxavier89 opened #89677 "Need clarification - How to connect to Blob or Table Storage"
I could see the documentation under the Tab for - Azure Table Data but the details looks like how to connect to Azure blob instead of Azure Table Storage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b351f53-87df-8252-b471-c81255b431ac
* Version Independent ID: 9309dd5b-9831-3aca-9e49-f14ce1fe58b6
* Content: [Use the

[2022-03-11 20:08] kobulloc-MSFT commented on #89676
@brucelangston Thank you for bringing this to our attention!  Now that's it's been a year, I'll confirm that we are ready to remove this note.

[2022-03-11 20:10] wesmc7777 commented on #89606
@ryanwinter should we add a note specific to MQTT stating when using this protocol, deviceId is limited to alpha numeric characters as mentioned in [MQTT specification for ClientID](https://docs.oasis-open.org/mqtt/mqtt/v5.0/os/mqtt-v5.0-os.html#_Toc3901059) ?

Is this consistent with what you are seeing in your testing?  (alpha numeric is required with MQTT)

[2022-03-11 20:14] KranthiPakala-MSFT commented on #89674
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-11 20:20] mmacy commented on #89593
@umeshbarapatre Ah, OK - it looks from the [commit history of the doc](https://github.com/MicrosoftDocs/azure-docs/commits/main/articles/active-directory/develop/v2-saml-bearer-assertion.md) that you worked with @rwike77 to get your original draft published. Because Ryan was original PR owner and you haven't submitted any other updates to the doc, _and_ you're no longer set as `author` in the meta

[2022-03-11 20:24] brenak opened #89678 "504 bintray.com"
The following is no longer a valid locaiton.  Can the documentation be updated to reference the correct?  This returns a 504 when attempting.

https://dl.bintray.com/microsoftazuremobile/SDK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fd4915d-64a9-b703-f139-91338412825a
* Version Independent ID: e731d0e6-e063-d209-

[2022-03-11 20:45] ElanShudnow opened #89679 "NVME"
Reading Cormac's Blog Post, he talks about 8 NVME Disks.  Why isn't this mentioned at all on this page?
https://techcommunity.microsoft.com/t5/azure-global/performance-considerations-for-large-scale-deep-learning/ba-p/2693834

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abf13994-0a3b-dccf-71e3-a7f5e232f642
* Version

[2022-03-11 20:50] bandersmsft commented on #89571
https://github.com/MicrosoftDocs/azure-docs-pr/pull/191466

[2022-03-11 20:54] bandersmsft commented on #89571
@v-sanjay I looked into this issue with the Billing engineering team. We've updated the article with:

## Pay now might be unavailable

If you have an Microsoft Online Services Program account (pay-as-you-go account), the **Pay now** option might be unavailable. Instead, you might see a **Settle balance** banner. If so, see [Resolve past due balance](https://docs.microsoft.com/azure/cost-managemen

[2022-03-11 20:54] bandersmsft commented on #89571
#please-close

[2022-03-11 20:54] #89571 closed

[2022-03-11 21:08] shpathak-msft commented on #80608
The IP address 172.16.0.4 is actually the internal IP address for one of the nodes on which the cache is hosted. Each cache has a public IP address and the nodes internally also have their IP addresses. These internal IP addresses are usually in the range of 172.16.0.4. You might see this internal IP address show up in the output of CLIENT LIST command as the nodes are internally communicating wit

[2022-03-11 21:12] JV-conseil commented on #89424
@Oury-MSFT I realise my [issue's introduction](https://github.com/MicrosoftDocs/azure-docs/issues/89424#issue-1163000457) is misleading and should be rephrased as such:

Here is an example of a `psql` connection attempt failing with `SSL
error: tlsv13 alert certificate required`

[code]

According to PostgreSQL [documentation](https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-PARAMK

[2022-03-11 21:17] jgibbycsc opened #89683 "Is this the only documentation available for POST /refreshes and GET /refreshes?"
Are there any related documentation links that can be added to this or other pages that refer to POST /refreshes and GET /refreshes?

Looking specifically for the official documentation for the above two methods.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f706b7d-0a82-4535-f7ec-3851bd204bf2
* Version Independent ID

[2022-03-11 21:19] jgibbycsc commented on #89683
Searched all through https://docs.microsoft.com/en-us/rest/api/analysisservices/

Could not find any documentation on /refreshes

[2022-03-11 21:47] MarileeTurscak-MSFT commented on #89653
@sijday
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 21:48] MarileeTurscak-MSFT commented on #89653
Thanks! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/191473

[2022-03-11 21:48] #89653 closed

[2022-03-11 21:49] MarileeTurscak-MSFT commented on #89656
@AdeZwart
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 21:49] MarileeTurscak-MSFT commented on #89657
@Farhad-Heybati
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 21:51] MarileeTurscak-MSFT commented on #89659
@e-saiz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 21:52] MarileeTurscak-MSFT commented on #89660
@agowdamsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 21:53] MarileeTurscak-MSFT commented on #89661
@erjosito
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 22:01] kgremban commented on #86784
#please-close

[2022-03-11 22:01] #86784 closed

[2022-03-11 22:05] kgremban commented on #82173
#please-close

[2022-03-11 22:05] #82173 closed

[2022-03-11 22:05] ryanwinter commented on #89606
Hi @wesmc7777,

Actually I think the client id is different from the deviceid (confusing..). I have just been added to an thread which is discussing this problem because it appears to be much broader than originally thought. I will close this for now as it is just adding noise.

[2022-03-11 22:05] #89606 closed

[2022-03-11 22:06] kgremban commented on #86837
#please-close

[2022-03-11 22:06] #86837 closed

[2022-03-11 22:24] JamesTran-MSFT commented on #89577
@Digiroka
Thank you for your feedback!

After testing this out within my Azure AD tenant, I wasn't able to reproduce your issue. However, if you were having issues with a user that was recently assigned the Intune Admin role, I'd recommend refreshing the page, or logging out/in, to ensure the permissions have populated for the user.
![image](https://user-images.githubusercontent.com/36619112/15798

[2022-03-11 22:24] #89577 closed

[2022-03-11 22:31] AlexandraKemperMS commented on #89473
@avanigupta could you help here?

[2022-03-11 22:36] JamesTran-MSFT commented on #89604
@RayGHeld
Thank you for your post!

The best way to keep up to date with key changes within Azure would be through the [Azure Updates](https://azure.microsoft.com/en-us/updates/) page. You can also join our [Q&A community](https://docs.microsoft.com/en-us/answers/products/) where we posted a [sticky thread](https://docs.microsoft.com/en-us/answers/questions/117444/reminder-azure-tls-certificate-ch

[2022-03-11 22:36] #89604 closed

[2022-03-11 22:36] JamesTran-MSFT commented on #89665
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-11 22:36] jpbulloch5 opened #89694 "Error in Documentation for Bulk Editing of App Services Connection Strings via Azure CLI"
[This section is incorrect](https://docs.microsoft.com/en-us/azure/app-service/configure-common?tabs=cli#edit-app-settings-in-bulk-1), should be for bulk editing of App Service connection-strings via `az webapp config connection-string set`, but partially duplicates the command for app settings instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-03-11 22:39] SatishBoddu-MSFT commented on #89365
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-03-11 22:42] rajeshsetlem commented on #89500
For VMs within same region they are only required to be in separate subnets within a virtual network and need not be in separate virtual networks.

[2022-03-11 22:51] SatishBoddu-MSFT commented on #89667
@roalexan
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-11 22:58] Karishma-Tiwari-MSFT commented on #89548
Thanks for sharing the update.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-03-11 23:02] nibaccam commented on #88788
@JuanD5 we haven't heard from you. Were you able to resolve the issue?

[2022-03-11 23:02] DerekHerman-MSFT commented on #89677
@[sijoxavier89](https://github.com/sijoxavier89) Thanks for the feedback. I am assuming you are referring to the example in the Get an access token for authorization section? This is a common doc and not specific to table, it looks like there is not currently a table example, likely as this is a new preview feature.
I have assigned the issue to the content author to investigate further and update

[2022-03-11 23:03] #88788 closed

[2022-03-11 23:09] selectstarfromsql commented on #89500
I am using windows 2019, I have configured the DNN listener with out
seperate subnet, it is working as expected.

On Fri, Mar 11, 2022 at 4:42 PM, rajeshsetlem ***@***.***>
wrote:

--
Regards
Yogi

[2022-03-11 23:15] rajeshsetlem commented on #89500
Great. DNN is an alternative solution when VMs are in single subnet, and you don't want to deal with Azure load balancer.

[2022-03-11 23:19] elfcounsel opened #89695 "Volume Tier Change across subscriptions"
Can we get a consideration added that explains if volume tier change requires being in the same account and subscription or can it be in a different account or a different account in a different subscription?

thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0269a82-164f-c86b-05f5-831381455059
* Version Indep

[2022-03-11 23:24] MarileeTurscak-MSFT commented on #89664
Hi @Nikhil0928, since this is more of a product question than documentation feedback, please post your question to Microsoft Q&A for support on this. https://docs.microsoft.com/en-us/answers

[2022-03-11 23:24] #89664 closed

[2022-03-11 23:25] MarileeTurscak-MSFT commented on #89669
@helderpinto
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 23:27] MarileeTurscak-MSFT commented on #89672
@bdcoder2
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 23:32] MarileeTurscak-MSFT commented on #89673
@tnagarajan001
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 23:34] MarileeTurscak-MSFT commented on #89678
@brenak
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 23:35] MarileeTurscak-MSFT commented on #89679
@ElanShudnow
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 23:36] MarileeTurscak-MSFT commented on #89683
@jgibbycsc
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 23:37] MarileeTurscak-MSFT commented on #89694
@jpbulloch5
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-11 23:38] MarileeTurscak-MSFT commented on #89695
@elfcounsel
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-12 00:05] sijoxavier89 commented on #89677
@DerekHerman-MSFT  yes, I was referring to the example in the Get an access token. Thanks.

[2022-03-12 00:18] cynthn commented on #89679
#reassign @sherrywangms

[2022-03-12 00:28] pauldotyu opened #89697 "Invalid pvc-azuredisk manifest"
The sample code for pvc-azuredisk.yaml is invalid. It is missing `kind: PersistentVolumeClaim` on line 2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74be7378-92bc-0e59-0b70-c6b10e80d9b6
* Version Independent ID: f7f1eeb3-efe7-86e2-1fd7-04341b2c77cc
* Content: [Create a static volume for pods in Azure Kubernetes Ser

[2022-03-12 00:31] rolyon commented on #72292
Hi @Alex-str11
I've submitted a request to add minimum Azure AD role prerequisites for the SaasS application tutorials.
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/saml-toolkit-tutorial

Let us know if you have any additional feedback.
thanks

[2022-03-12 00:31] rolyon commented on #72292
#please-close

[2022-03-12 00:31] #72292 closed

[2022-03-12 01:11] avanigupta commented on #89473
Hello @pvanroos, if I understood correctly, you want to connect to both App Config and Key Vault using your AppService managed identity. Here's a sample code snippet to achieve this:

[code]

Using `DefaultAzureCredential` provides the benefit of not having to change the credential based on the hosting environment, i.e., you can run this code locally as well as in AppService environment without ch

[2022-03-12 01:41] #88246 closed

[2022-03-12 01:47] selectstarfromsql commented on #89500
Now my VM’s are not in single subnet, they are in multi-subnet and DNN is
working fine.

Can I have any documentation how DNN works with out ip address and i see no
need to create any spn’s for listener if we go with DNN.

Thanks,
Yogi

On Fri, Mar 11, 2022 at 5:15 PM, rajeshsetlem ***@***.***>
wrote:

--
Regards
Yogi

[2022-03-12 03:37] liubiaoyong opened #89699 "$filter=Rooms/any(room: room/Tags/any(tag: search.in(tag, 'wifi, tub')) ==> A closing bracket is missing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ded61d3-337a-11e3-ebdf-8e7034ff3637
* Version Independent ID: cb524775-4489-937a-3d3e-4fc7c49b70d4
* Content: [OData filter reference - Azure Cognitive Search](https://docs.microsoft.com/en-us/azure/search/search-query-odata-filter)
* Content Source:

[2022-03-12 04:21] kobulloc-MSFT commented on #89338
@cveld We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-03-12 04:21] #89338 closed

[2022-03-12 04:23] #89576 closed

[2022-03-12 04:46] kobulloc-MSFT commented on #89676
@brucelangston Thank you again for bringing this to our attention!  We're still waiting for official word from the doc author on removing the note, but a PR has been created to address that these sizes have been retired until that call is made.  Thank you for helping to improve the docs!

[2022-03-12 04:46] roalexan commented on #89667
it was azure cli - guess I'll start one more time from scratch and report back.

[2022-03-12 05:00] RohitMungi-MSFT commented on #89697
@pauldotyu Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-03-12 05:09] RohitMungi-MSFT commented on #89699
@liubiaoyong Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-03-12 05:48] tomkuijsten opened #89701 "Docs about WEBSITE_CONTENTSHARE are conflicting"
This is really a confusing setting. From the docs referenced in this issue (function-app-settings) I understand that I should NOT set the WEBSITE_CONTENTSHARE when using an ARM deploy, quote:

But when I follow the link to the functions-infrastructure-as-code docs, it tells me something different:

So what will it be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-03-12 09:03] SadiqhAhmed-MSFT commented on #89323
@zeeshaanali Port 5986 is WinRM, that's probably how the cert tool connects to Windows (for Linux is via SSH). So if "Windows Remote Management" service is not running on your VM it wouldn't be able to connect.

[2022-03-12 09:51] zeeshaanali commented on #89323
@SadiqhAhmed-MSFT  Then shouldn't it be part of doc that `"Windows Remote Management" service` is a **MUST HAVE** pre-requisite to be installed/configured before the Cert Tool can be used for Windows and to configure it follow a certain link?

Due to improper documentation ( _missing secret pre-requisites_ ), it has resulted in loss of several hours and days to run the CertTool or Self test API fo

[2022-03-12 14:36] palantir76 opened #89705 "Typo in Enable Protection and apply the Policy Section"
https://docs.microsoft.com/en-us/azure/backup/backup-azure-afs-automation?tabs=daily-backup-policy#enable-protection-and-apply-the-policy

The following example enables protection for the Azure file share testAzureFileShare in storage account testStorageAcct, with the policy dailyafs:

Should be:
The following example enables protection for the Azure file share **testAzureFS** in storage account t

[2022-03-12 15:27] MarileeTurscak-MSFT commented on #89705
@palantir76
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-12 15:30] MarileeTurscak-MSFT commented on #89705
Thanks! I made a pull request to fix the typo. https://github.com/MicrosoftDocs/azure-docs-pr/pull/191526

CC @v-amallick

[2022-03-12 15:30] #89705 closed

[2022-03-12 16:08] jasonhendrix commented on #35138
We need this as well.

Due to security and compliance reasons, we have to be able to use the "Deny public network access" setting on all Azure SQL Database server firewalls, and we have to set "Allow Azure services and resources to access this server" to "No".

Will this ability come soon, or should organizations with typical security requirements not make use of elastic jobs?

[2022-03-12 17:04] drewwilliams1982 opened #89707 "Incorrect screensot under Restore Disks"
Under the sub heading of Restore Disks, its the same screenshot as under Create new Virtual Machine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66081bde-1e22-dd9c-8357-a0485b23b0a7
* Version Independent ID: eb2a52a5-d290-84fb-c3fe-2a5d8512669a
* Content: [Restore VMs by using the Azure portal - Azure Backup](https:/

[2022-03-12 17:51] AjayKumar-MSFT commented on #89292
Rakeshgodumala, Since it's not documentation specific issue, we're closing this thread. Thanks for your feedback!

[2022-03-12 17:51] #89292 closed

[2022-03-12 18:35] correnta2 opened #89708 "RBAC Custom Role via the Azure Portal"
Hi,
   (tonycor@microsoft.com) I followed the process around creating custom roles for table level RBAC.  I think the ARM template is great, but it is also just as easy to create the custom role using the Azure Portal.

Any thoughts on providing an illustration on creating the custom role via the Azure Portal.

1) In the Azure Portal, navigate to the resource that you'd like to create the custom R

[2022-03-12 18:40] AjayKumar-MSFT commented on #89487
Vampiredk, To isolate the issue, please see if your project works fine locally and suggest you to test the sample linked in the doc and have similar config set. On a similar discussion [thread](https://stackoverflow.com/a/68203188/8194837), users were able to fix the issue by - running npm audit fix, and/or appropriate nodmod version - see if it helps.
Also, as mentioned in this [thread ](https://

[2022-03-12 18:43] umeshbarapatre commented on #89593
Thanks @mmacy . I have submitted the pull request #89709

[2022-03-12 19:08] rafatecoy commented on #81820
Hello @bwren, I only want to add an additional thing here. Because, I got another case with similar issue with weird behaviors at portal while configure this extension and, on this one, the storage account was not on same region of VM. They were both at same subscription. Based on our findings here on this new case and additional things shared, I would conclude the following:

- To proper manage t

[2022-03-12 19:10] RBVieira opened #89710 "The text is correct?"
The text says:
you "can't" currently use an Event Grid trigger when the event is delivered in the [CloudEvents schema]

and on other page of azure function, it says:
Configure Event Grid for CloudEvents
You can use Event Grid for both input and output of events in the CloudEvents schema. (https://docs.microsoft.com/en-us/azure/event-grid/cloudevents-schema#azure-functions)

If I am not making a co

[2022-03-12 19:36] Mike-E-angelo commented on #32922
This seems like such a Bad Decision™... I am having to put my staging, testing, and production applications on the same subnet due to this issue, resulting in what seems like a dubious security issue to me.

[2022-03-12 20:47] Eric-ITaaS opened #89711 "New Proxy step wrong."
[Enter feedback here]

instructions are inaccurate., there is no "New Proxy" in this step.
 In the left pane, select New proxy.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c59024a4-9208-9b00-43ee-f6ba936c95a6
* Version Independent ID: 5ac7705c-35e3-b211-ebba-3798dd949409
* Content: [Work with proxies in Azure Functio

[2022-03-12 21:05] roalexan commented on #89667
I tried again twice, once in eastus and a second time in westus2, with the same results. I have no idea why this would work for you and not for me. I'll keep looking around the deployment a bit to see if there's any mention of some underlying failure or something. Exact steps below (obfuscated sensitive info):

## PARAMETERS

SUBSCRIPTION="XXX" # subscription used for the deployment
RESOURCE_GROUP

[2022-03-12 21:32] roalexan commented on #89667
don't know if it's relevant, but yours says:

"17 updates can be applied immediately
3 of these updates are standard security updates"

whereas mine says:

"1 update can be applied immediately."

[2022-03-12 22:29] roalexan commented on #89667
ok, it works if I install from cloud shell, so clearly it's some issue with running from my Linux environment. It's Ubuntu on Windows - WSL - BTW. So, I'll keep debugging this a bit more, but I guess you can close this particular bug if you want. My guess is some parameter is not surviving the trip to the ARM template.

[2022-03-12 23:01] MonikaReddy-MSFT commented on #89707
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-03-12 23:43] roalexan commented on #89667
well, I have a fix, but it's pretty esoteric - don't know if you want to include it in the documentation or not. In my WSL environment, there was a carriage return being passed at the end of the deviceConnectionString - e.g.:

HostName=rbaiothub1.azure-devices.net;DeviceId=rbaiotedgedevice1;SharedAccessKey=XXX**\r**

so, I tweaked things as follows:

...
device_connection_string=$(az iot hub devic

[2022-03-13 01:10] MarileeTurscak-MSFT commented on #89708
@correnta2
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-13 01:14] MarileeTurscak-MSFT commented on #89710
@RBVieira
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-13 01:16] MarileeTurscak-MSFT commented on #89710
Hi @RBVieira You need to use an HTTP trigger to receive events in the CloudEvents schema. This is documented on the same page you referenced.

For further questions, feel free to reach out on Microsoft Q&A. https://docs.microsoft.com/en-us/answers/

[2022-03-13 01:16] #89710 closed

[2022-03-13 01:23] MarileeTurscak-MSFT commented on #89711
@Eric-ITaaS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-13 01:24] MarileeTurscak-MSFT commented on #89711
Thanks for calling this out. I made a pull request to make the text match the new UI. https://github.com/MicrosoftDocs/azure-docs-pr/pull/191528

<img width="926" alt="image" src="https://user-images.githubusercontent.com/13383753/158040852-35076a12-a7b8-493a-a023-907ac432ab9d.png">

@ggailey777

[2022-03-13 01:24] #89711 closed

[2022-03-13 03:08] eldridgeb opened #89732 "Cosmos DB missing from list of services that support AAD auth"
I understand Cosmos DB now supports AAD auth and RBAC for both data plane and management plane:
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac

Can this page be updated in reflect this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9985bd9b-aa9a-44dc-41b5-b02f3708eb80
* Version Independent ID: 45ef

[2022-03-13 03:16] eldridgeb commented on #89732
PR for this: https://github.com/MicrosoftDocs/azure-docs/pull/89733

[2022-03-13 04:15] ghost opened #89734 "Error when running npm run build"
I got an error message when attempting to run the command `npm run build`:

`'react-scripts' is not recognized as an internal or external command, operable program or batch file.`

I first had to run the command `npm install`, then I could successfully run the command `npm run build`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-03-13 05:05] fionaaws2018 opened #89735 "Invalid --pull-secret"
$ az aro create   --resource-group $RESOURCEGROUP   --name $CLUSTER   --vnet aro-vnet   --master-subnet master-subnet   --worker-subnet worker-subnet --worker-count 3 --pull-secret @pullsecret.txt
**Invalid --pull-secret.**

always return "Invalid --pull-secret."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-

[2022-03-13 06:34] ThiruthamSivaram opened #89736 "Missing PowerShell Scripts described in the document"
Few PowerShell scripts were referred in this page and there are no links for download.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c9cb342-fc08-2630-9a2a-3467e9651189
* Version Independent ID: 05766c8a-c353-d151-18a4-2f3048a75456
* Content: [Migrate failover cluster instance - SQL Server on Azure VMs](https://docs.

[2022-03-13 06:39] Nj-kol opened #89737 "Code Issues"
There are issues in the code displayed for the sections :

[Retrieve a range of entities in a partition](https://docs.microsoft.com/en-us/azure/cosmos-db/table/how-to-use-java#retrieve-a-range-of-entities-in-a-partition)

**Corrected code**

[code]

[Retrieve a single entity](https://docs.microsoft.com/en-us/azure/cosmos-db/table/how-to-use-java#retrieve-a-single-entity)

**Corrected code**

[code

[2022-03-13 07:31] RohitMungi-MSFT commented on #89732
@eldridgeb Thanks for creating the PR and referencing it. I have assigned the issue to content author to review the issue and the PR. Thanks!!

[2022-03-13 07:33] RohitMungi-MSFT commented on #89734
@mcclda Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-03-13 07:35] RohitMungi-MSFT commented on #89735
@fionaaws2018 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2022-03-13 07:38] RohitMungi-MSFT commented on #89736
@ThiruthamSivaram Thanks for the feedback. It would be great if you could add more details about the missing scripts other than the ones mentioned under [pre-reqs](https://docs.microsoft.com/en-us/azure/azure-sql/migration-guides/virtual-machines/sql-server-failover-cluster-instance-to-sql-on-azure-vm?source=docs#prerequisites) which are downloaded from this [repo](https://github.com/Azure/azure-d

[2022-03-13 07:40] RohitMungi-MSFT commented on #89737
@Nj-kol Thanks for the feedback. We are investigating the issue and will update you shortly.
@sakash279 FYI..

[2022-03-13 10:07] sujithre opened #89739 "Code seemes to have some Micltake its not generating the SAS Signature"
[Enter feedback here]

HI,
i tired doing it but i am getting the below Error
 Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature

Code has the below

 <set-variable name="StringToSign" value="@{                // https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/authentication-for-the-azure-storage

[2022-03-13 13:00] blackbaud-brandonstirnaman opened #89742 "Incorrect/misleading table for scale settings"
The table shown for scale settings with default/min/max values provides a misleading and possibly incorrect expectation of the user.

You cannot set maxReplicas above 10. The table indicates you can go as high as 25.

```The scale options provided for Container App 'testscaler' is incorrect. The values must be positive, maxReplicas must not be less than minReplicas. The maxReplicas must not be big

[2022-03-13 13:38] batamig commented on #89655
Hi @smedin4, thanks for bringing this to our attention. We're in the process of updating this screenshot, and you should see the update in a coming publish.
I'm going to close this issue for now, but feel free to continue commenting as needed.
We appreciate your contributions to docs!
#please-close

[2022-03-13 13:38] #89655 closed

[2022-03-13 14:39] ccoffman5984 opened #89744 "Suggested Revision to Process Custom Data for Windows"
Building a custom image for Windows is not the only means to process CustomData.bin.  It is possible to execute PowerShell contained within this file using the Azure Custom Script Extension.  Simply encode the following  'cp CustomData.bin CustomData.ps1; CustomData.ps1' as the command to execute then submit as described in the product documentation.

https://docs.microsoft.com/en-us/azure/virtual

[2022-03-13 15:04] bnordberg opened #89747 "Syntax error"
[Enter feedback here]
Unable to get any of these example to work in Azure Synapse. I am using SSMS 18.5.
No matter what I do with Openrowset, I get a syntax error.
Msg 103010, Level 16, State 1, Line 1
Parse error at line: 4, column: 5: Incorrect syntax near 'OPENROWSET'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-03-13 15:05] SumanthMarigowda commented on #89441
@pinyuko Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-03-13 15:05] #89441 closed

[2022-03-13 15:31] jkshan opened #89748 "ETA for v12 SDK code snippets"
[Enter feedback here]

Any ETA for v12 SDK code snippets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17df16ab-b2b9-0abc-8de0-6842baad2971
* Version Independent ID: a7466f42-1433-49be-19c9-1ad6d3c90403
* Content: [Tutorial - Encrypt and decrypt blobs using Azure Key Vault - Azure Storage](https://docs.microsoft.com/e

[2022-03-13 15:46] MarileeTurscak-MSFT commented on #89739
@sujithre
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-13 15:47] MarileeTurscak-MSFT commented on #89742
@blackbaud-brandonstirnaman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-13 15:53] MarileeTurscak-MSFT commented on #89744
@ccoffman5984
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-13 15:55] MarileeTurscak-MSFT commented on #89747
@bnordberg
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-13 15:57] MarileeTurscak-MSFT commented on #89748
@jkshan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-13 16:13] sarah026 opened #89749 "Diagnostic logs"
Please update this page, there are more diagnostic logs
OperationalLogs
VNetAndIPFilteringLogs
RuntimeAuditLogs
ApplicationMetricsLogs

And these appear even in the basic tier, can you please include what each means.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9dc38fd-a706-d840-f933-18df696ad18d
* Version In

[2022-03-13 17:27] BillmanH opened #89750 "Document"
The document to return the service connection string:
[code]

Returns an error:
[code]

per the [docs here](https://docs.microsoft.com/en-us/cli/azure/iot/hub/connection-string) its actually `--hub-name` not `--name`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014fa2f5-e835-6ee6-896a-2e5eb5b201db
* Version Independ

[2022-03-13 17:55] sarah026 commented on #55372
it is nearly the end of the first quarter of 2022, and we still can't resolve the mystery of "VMProtectionAlerts"

[2022-03-13 18:50] AnuragSharma-MSFT commented on #89616
@LifeRyuto Thanks for your patience. We can check this with the help of Azure PostgreSQL metrics as mentioned in the below doc. Check the 'backup_storage_used' metrics for the same.

[List of metrics](https://docs.microsoft.com/en-us/azure/postgresql/concepts-monitoring#list-of-metrics)

<img width="600" alt="image" src="https://user-images.githubusercontent.com/66360845/158074611-5d4dbcb5-c642-42

[2022-03-13 20:01] dlepow commented on #87629
#reassign: @MayankBargali-MSFT

[2022-03-13 20:09] dlepow commented on #88803
Thanks @milope for pointing out the issues. I've opened doc work item https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1929382 to track this update, which we'll address in an upcoming doc sprint. According to our usual process, I'll now close this issue.
#please-close

[2022-03-13 20:09] #88803 closed

[2022-03-13 20:20] rustedwizard opened #89752 "Mistake/Typo in the page"
<img width="524" alt="Screenshot 2022-03-13 120906" src="https://user-images.githubusercontent.com/6314177/158077222-d5233390-9c7c-4c81-b0b9-3a9ca4eeb9ee.png">

Looking at above screenshot, I think there's a mistake in above code snippet. According to [Documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.services.remoting.v2.fabrictransport.runtime.fabrictransportserv

[2022-03-13 20:21] dlepow commented on #88751
Thank you @djflocko for the documentation suggestion.  While we done't currently document this scenario, I see this question/answer related to passing the certificate from App Gateway to APIM - is it of any help?
https://docs.microsoft.com/en-us/answers/questions/442679/client-certificate-validation-on-apim.html

[2022-03-13 20:27] dlepow commented on #55319
@tomkerkhove, can you please review the local logging example in https://docs.microsoft.com/en-us/azure/api-management/how-to-configure-local-metrics-logs and advise if additional configuration is needed? Thanks a lot!

[2022-03-13 20:49] dlepow commented on #70584
@MrCochese - Thanks for pointing out the issue. I've created a documentation work item to review and update this content - it has been some time since we've done that work. We'll consider your feedback and clarify the alternatives at that time. According to our usual policy, I'll proceed to close this issue.
#please-close

[2022-03-13 20:49] #70584 closed

[2022-03-13 21:16] dlepow commented on #87267
@abelal83 - I was able to reproduce the steps in this article, using the portal. Do you have more information about your scenario? Thanks!

[2022-03-13 22:19] MarileeTurscak-MSFT commented on #89749
@spelluru
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-13 22:20] MarileeTurscak-MSFT commented on #89750
@BillmanH
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-13 22:23] MarileeTurscak-MSFT commented on #89752
@sukanyamsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-14 00:10] GeethaThatipatri-MSFT commented on #89510
Hi @hanefiThanks I am also seeing the same behavior in dark mode,I'm assigning this to the author for the feedback review

[2022-03-14 01:16] #87614 closed

[2022-03-14 01:32] ram-msft commented on #87936
@yowl Thanks, Here is the document to specify the Tag Value type for Date and time.

https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/label-tool#specify-tag-value-types

[2022-03-14 01:32] ram-msft commented on #87936
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-14 01:32] #87936 closed

[2022-03-14 01:34] ram-msft commented on #88062
Thanks for the details. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-14 01:34] #88062 closed

[2022-03-14 01:38] ram-msft commented on #89513
@andscho Could you please confirm and update  on the Metric rows per metric name.

[2022-03-14 01:39] dlepow commented on #86918
@solankisamir - Is this a network rule that we should document for APIM? Thank you!

[2022-03-14 01:40] racchen commented on #89640
Thanks for checking! Look forward for the update. Thanks!

[2022-03-14 01:41] dlepow commented on #86677
I have created a documentation work item to address this issue that we will assign to an upcoming doc sprint. According to our usual process, I will proceed to close this issue. Thank you again for pointing out this issue.
#please-close

[2022-03-14 01:41] #86677 closed

[2022-03-14 01:42] crshovrd41 opened #89763 "Unclear about synchronized group requirement for RBAC perms"
Hi, this document talks around it but never directly mentions that the RBAC group assigned must be synchronized from local AD or else the share-level perms won't work. Please make this clearer. I had used a cloud based dynamic group and it didn't work.

My ask is that this be clearly defined in the document like:

- Must sync AD Users AND Groups
- Must add AD Synced group to RBAC of Storage Accoun

[2022-03-14 02:01] LifeRyuto opened #89764 "Wrong information of SSL root certificate"
I think this part should be removed or modified. This suggests customers to use DigiCertGlobalRootG2.crt.pem certificate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bde8b19a-4ac9-a713-8511-889ba2005ae6
* Version Independent ID: 9592c67c-797d-d8f4-6e7f-7ffc89a593fb
* Content: [SSL/TLS connectivity - Azure Database f

[2022-03-14 02:36] Gonkers opened #89765 "How do I access custom service bus message properties?"
What parameters can I add to my method for the service bus topic trigger?
Your 🤬 documentation doesn't have any of that info. I would like to get access to the custom properties on the bus message.

[code]

I have tried using the names in the "metadata" section...

... but the process just crashes with
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-03-14 03:21] SumanthMarigowda commented on #89763
@crshovrd41 Thanks for the question! We are investigating and will update you shortly.

[2022-03-14 03:39] AnuragSharma-MSFT commented on #89764
@LifeRyuto Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-03-14 03:46] agowdamsft commented on #89660
@ZeroDeltaE , @MarileeTurscak-MSFT AKS only supports Ubuntu 18.04 today and the same is supported by confidential nodes as listed in the "features" section. "Generation 2 virtual machine (VM) with Ubuntu 18.04 VM nodes.".

Is this issue specific to AKS or IaaS VM DCSv2/DcSv3 ?

[2022-03-14 04:04] MayankBargali-MSFT commented on #87629
@jberry777 Can you share the document from the logic app/function app end if you are following any so we can assign the issue to the right content team. Please also share the screenshot in which portal blade you observe the popup and what operation you were trying to perform.

[2022-03-14 04:04] AnuragSingh-MSFT commented on #89379
@captainmike, thank you for the reply. Yes, this is the current way to use context invocationId.
I will be closing this thread for now. Please feel free to tag me/reopen this thread if you have any further questions.

[2022-03-14 04:04] #89379 closed

[2022-03-14 04:16] jiasli opened #89766 "[Feature Request] REST API documents should include old API versions"
(I searched existing issues but couldn't find an existing one for this topic. If there is, please feel free to link to that issue and close this one.)

Sometimes, breaking changes are introduced in new API versions. Without documents for old API versions, finding how to use an old API becomes difficult due to the lack of documentation.

[2022-03-14 04:17] SwathiDhanwada-MSFT commented on #89174
@TheTechOddBug Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc once its approved by content author .We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-03-14 04:17] #89174 closed

[2022-03-14 04:18] SatishBoddu-MSFT commented on #89667
Hello @roalexan Thanks for the feedback!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-03-14 04:18] #89667 closed

[2022-03-14 04:30] #89365 closed

[2022-03-14 04:36] CHEEKATLAPRADEEP-MSFT commented on #89484
@luukschagen  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-14 04:36] #89484 closed

[2022-03-14 04:40] ninallam commented on #88989
@speyburner the task works in classic release pipeline as well. We have recently added error messages and logging. Could you try running again and share the screenshot of the failure?

[2022-03-14 04:41] TonySh127-ms opened #89767 "Element StringId is incorrect in document | Get error logonIdentifier_email has an invalid StringId, etc"
[Enter feedback here]

The document element value is incorrect.
![image](https://user-images.githubusercontent.com/68043042/158105846-3663536d-6447-4274-92bf-acadb0046775.png)

If we followed the document https://docs.microsoft.com/en-us/azure/active-directory-b2c/language-customization?pivots=b2c-custom-policy#provide-language-specific-labels and update the policy to cloud. We will receive below

[2022-03-14 04:47] SreejaBhattacharya-MSFT commented on #89744
Hi @ccoffman5984 , thanks for the feedback. I'll check with the product team on this.
Hello @mimckitt, can you please review this and add your comments. Thanks.

[2022-03-14 04:57] SumanthMarigowda commented on #79927
@Firstly apologies for the delay response!

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-14 05:19] CHEEKATLAPRADEEP-MSFT commented on #89386
@yang-jiayi Looks like a known limitation with the spark pool 3.1 and Managed VNet+DEP-Enabled environment.

The document indented to work with different kind of spark version, I would request the product team to leave an important note to include while working with Spark 3.1 versions.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in

[2022-03-14 05:19] #89386 closed

[2022-03-14 05:41] NandanJha1511-Nj opened #89768 "How to migrate existing Logicapp consumption model to standard model"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12b20c74-3d65-5747-39a0-77b3c2214e0e
* Version Independent ID: 8ea4321d-7500-fd4f-9235-1c0852f3d3fe
* Content: [Overview for Azure Logic Apps - Azure Logic Apps](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-overview)
* Content Source:

[2022-03-14 06:03] Aminadad27 opened #89769 "González Blanco. Josué @minadad27#/.=-^https://accounts.google.com/signin/v2/identifier?service=youtube&uilel=3&passive=true&continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Dm%26hl%3Des-US%26next%3D%252Fwatch%253Fv%253DlORu3ZXBfIg&hl=es-US&flowName=GlifWebSignIn&flowEntry=ServiceLoginĎđz"

[2022-03-14 06:21] SreejaBhattacharya-MSFT commented on #89735
Hi @fionaaws2018, thanks for reaching out. Usually the secret is stored under **pull-secret.txt** under the **openshift-config** namespace. Are you sure it will be pullsecret.txt and not pull-secret.txt with a '-' in between?

[2022-03-14 06:24] CHEEKATLAPRADEEP-MSFT commented on #89769
@Aminadad27 The above feedback is hard to understand. Could you please share more details on the feedback and also help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow

[2022-03-14 06:40] amoghnatu commented on #19444
@hydrojumbo Did you hear back anything regarding your question? I have a similar requirement where I need a custom property being added to the event data for events generated by an Azure Storage account, being published to a System Topic on the event grid.

Also, the UserVoice link seems broken.

[2022-03-14 06:44] AshokPeddakotla-MSFT commented on #89334
@GameModes I'm not seeing any issues while creating the VM as per doc.

<img width="537" alt="image" src="https://user-images.githubusercontent.com/44426435/158104759-b948d4d3-239b-4952-afd9-e9e09275ce8f.png">

Could you please check the usage + quotas section of the subscription and make sure you have availability to deploy VMs in other regions?

[2022-03-14 06:53] ggailey777 commented on #89765
Sorry for the confusion. I think that the article is currently a bit unclear about support for message-specific objects when running out-of-process. Based on [this issue](https://github.com/Azure/azure-functions-dotnet-worker/issues/384), it seems that the same message support you get in-process isn't yet available when running out-of-process. I'll create a PR to update the article to make this mo

[2022-03-14 06:53] madsd commented on #73079
@AllanMatias The limits mentioned in documentation are the official supported limits. These are what you should be planning/aiming for, but it was designed in a way that you would not get immediate failures if you should bounce slightly above the supported limits. Can you let me know where you got confirmation that it was 500GB?

[2022-03-14 07:19] kengaderdus commented on #83681
We're closing this due to inactivity.

#please-close

[2022-03-14 07:19] #83681 closed

[2022-03-14 07:28] olsgaard opened #89770 "dataset variable doesn't evaluate to a string in Tutorial: Upload data and train a model - Azure Machine Learning"
When following the tutorial for [creating a machine learning pipeline using your own data](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-1st-experiment-bring-data#control-script) in the final `# run-pytorch-data.py`, the location of the data used for training is defined inside a `dataset` object. To get the path of the data into the `train.py` script, the user is asked to use th

[2022-03-14 07:35] vishalaj1 commented on #88244
@ecfan it would be good to mentorn that segmentet Messages ar emot supporten as of now in documentation

[2022-03-14 07:38] #89298 closed

[2022-03-14 07:43] AnuragSingh-MSFT commented on #89669
@helderpinto, thank you for pointing it out. I have submitted a PR after rectifying the broken links, which is pending review. Please let me know if you have any questions.

[2022-03-14 07:55] sagarkul commented on #88062
Why you are closing ? this is not solved yet

[2022-03-14 08:10] AnuragSharma-MSFT commented on #89639
@samko635 Thanks for reporting this. We are assigning it to content author for further action.

[2022-03-14 08:25] AjayKumar-MSFT commented on #89699
Liubiaoyong, We have raised a PR and sent for author's review. Thanks again for taking time to share your feedback.

[2022-03-14 08:31] CHEEKATLAPRADEEP-MSFT commented on #89766
@jiasli The above feedback is hard to understand. Could you please share more details on the feedback and also help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com

[2022-03-14 08:39] AnuragSharma-MSFT commented on #89737
@Nj-kol Thanks for finding the issues on the doc. Really appreciate your efforts. However I could not find any difference in 'Retrieve a Single Entity' in the code you mentioned. Could you please highlight the difference exactly and we will update the docs as well for it as well?

[2022-03-14 08:49] sdh26 commented on #87523
Can anyone please update ? we are also seeing the issue.
And its happening same with "az aks nodepool upgrade" command too, runtime doesn't change to containerd on windows server nodepool.

[2022-03-14 08:51] tomkerkhove commented on #55319
I think it looks OK given all fields are available in the list but @VitaliyKurokhtin should be able to confirm

[2022-03-14 09:24] MasterAslan opened #89773 "clarify data lake name should be in the spark config."
[Enter feedback here]
It would be good to clarify in the spark configs that you have to include the data lake name.  For instance

[code]
would be clearer if it were
[code]
---

It would also be better if this clarified there will need to be entries for each data lake name and that these settings will be used for anyone using that cluster.  So even if areas are mounted using pass-through on the cl

[2022-03-14 09:27] MasterAslan commented on #88342
It also should be noted that if you have multiple storage accounts you need to access you'll need configurations for each.  And that this setting means anyone using the cluster will be using the SPN credentials rather than their own.

[2022-03-14 09:39] #89645 closed

[2022-03-14 09:40] GitaraniSharma-MSFT commented on #89645
@cpdohert , I've updated the document with the below statement:

"The V1 SKU of Application Gateway supports basic dynamic public IPs."

It will reflect shortly!

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-03-14 09:54] briggsb9 commented on #89666
Can you confirm if this is the case as the portal it also suggests the whole storage account will be blocked for blobs read/write

![image](https://user-images.githubusercontent.com/30274540/158148375-4ae6abc4-b1ee-4d0d-a69b-d5edcd9e7d9f.png)

[2022-03-14 10:00] GitaraniSharma-MSFT commented on #89316
@akki-s , as mentioned in [the FAQ](https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-faq#how-are-availability-zones-and-resiliency-handled-in-virtual-wan), Currently, Azure Firewall can be deployed to support Availability Zones **using Azure Firewall Manager Portal, PowerShell or CLI.**

So, in order to deploy a secured virtual hub Firewall or normal Firewall with availability zones,

[2022-03-14 10:00] #89316 closed

[2022-03-14 10:09] dldldlepl opened #89774 "Set- prefix is missing in xml policy documentation"
The documentation of the xml parameters seems to be wrong: I need for example to use `set-url` instead of `url` tag. The example below this snipped has the correct values.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5310021d-de39-9418-2a55-ccdd9c2f4db0
* Version Independent ID: ad38bf02-de35-7d67-def7-b1a064d

[2022-03-14 10:12] SauravB-MS opened #89775 "az disk update command missing --resource-group and fails"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/virtual-machines/disks-shared-enable?tabs=azure-portal#cli
**az disk update --name mySharedDisk --max-shares 5** command fails with the below error, please update --resource-group

az : ERROR: (--resource-group | --ids) are required
At line:1 char:1
+ az disk update --name shareddisk1 --max-shares 0
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2022-03-14 10:17] GitaraniSharma-MSFT commented on #89317
@akki-s , please find the answers to your queries below:

1. VWAN Hub supports Availability Zones?

Yes, Azure Virtual WAN supports Availability Zones.
You can see the [Azure services that support availability zones](https://docs.microsoft.com/en-us/azure/availability-zones/az-region) doc as well.

![image](https://user-images.githubusercontent.com/67630903/158151336-214cd43c-e5d9-44d1-bf02-117950

[2022-03-14 10:17] #89317 closed

[2022-03-14 10:21] GitaraniSharma-MSFT commented on #89139
@georgalthaus , you are correct. The validation requirements of Reverse DNS have changed.

One of the following conditions need to be met to establish ownership for ReverseFQDN configuration:
1.	ReverseFqdn matches fqdn of any public IP resource under the subscription.
2.	ReverseFqdn resolves to the fqdn (through CName records chain) of any public IP resource under the subscription.
3.	It resolves

[2022-03-14 10:36] shwetamathur7 commented on #89481
@michaelwechner You can obtain public key by calling the public Azure AD OpenID configuration endpoint:
https://login.microsoftonline.com/{tenant_id}/discovery/keys?appid={client_id} and verify against the private key generated by Azure AD token.

[2022-03-14 10:48] MarkWilsonDLG commented on #53844
Why was this closed? It's seriously hampering the use of DevOps to make environmental changes

[2022-03-14 11:13] michaelwechner commented on #89481
Thanks for your feedback!

When I am requesting

https://login.microsoftonline.com/botframework.com/discovery/keys?appid=aaa8c4a1-d204-468f-ac6e-540b26b3a122

then the problem is none of the return values is matching my "kid" or "x5t" value "ZyGh1GbBL8xd1kOxRYchc1VPSQQ", which is part of the Azure AD token.

So, which returned public key should I use?

Here the content from the Azure AD token

{

[2022-03-14 11:14] quanster opened #89777 "Exercise for Mask URL would benefit in showing the url expression"
In this exercise, https://docs.microsoft.com/en-us/azure/api-management/transform-api#replace-original-urls-in-the-body-of-the-api-response-with-api-management-gateway-urls the objective is to mask the URL.

However, when executing the snippet in the exercise, it does not set the correct form of the expression per https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-

[2022-03-14 11:25] shashishailaj commented on #89154
@dougscc The same section describes the nested groups supported and unsupported scenarios. this is currently by design. As explained the article within the same section the limitations related to nested groups as as below. If you are testing a custom scenario that works without being listed here means that the scenario works but is not supported yet . For example , assigning licenses to nested gro

[2022-03-14 11:25] #89154 closed

[2022-03-14 12:05] kaganmersin opened #89780 "crictl binary path and necessary arguments information were not clarified in documentations"
After Docker CRI replacement with containerd in AKS crictl seem like best option to debug something on AKS nodes according to the [documentation ](https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#containerd-limitationsdifferences) but documentations never explains that crictl binary existence in AKS nodes to debug nodes. We see that there is a crictl in the AKS nodes as following;

[2022-03-14 12:08] AndreasMWalter commented on #86106
@thisisanniefang so I tried setting this via Terraform, which would result in this error returned by the Azure API:
So no dice in regards to setting this value to `1` via the API
[code]

Terraform uses the most recent azure-sdk-for-go
"github.com/Azure/azure-sdk-for-go/services/network/mgmt/2021-05-01/network"

[2022-03-14 12:20] byronverz opened #89781 "Multiple DNS Zones"
Why does one need multiple seperate DNS zones (one for each resource and 2 for storage) when setting up the Workspace in a VNet? Could you not manually add each resource private endpoint to a dns zone after the fact?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12327d27-73c1-c446-ec7b-b9af3a6f68f7
* Version Independe

[2022-03-14 12:41] lucasgcbkhomp opened #89782 "Azure ACR Managed Identity Login - No information on expiration"
I've been following the guide for setting up an automated pipeline with azure ACR for my use case like specified [here](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication?tabs=azure-cli), using managed identities.

However, this guide provides no information on what to do once the token expires, nor how to set up the expiration length.
This is giving me pro

[2022-03-14 12:42] jsquire opened #89783 "Text hidden due to overflowing on the X axis instead of being wrapped"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#27532](https://github.com/Azure/azure-sdk-for-net/issues/27532).

### Please be aware that @LiadMazor is the author of the original issue and include them for any questions or replies.

## Details

The page doesn't render properly

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-03-14 12:45] shwetamathur7 commented on #89481
@[michaelwechner] Did you try passing GUID in tenant Id? You might get multiple keys and you need to search in it. I tried the same in my environment and able to get public key for my Azure AD token.

**Azure AD token**

{
  "typ": "JWT",
  "alg": "RS256",
  "x5t": "jS1Xo1OWDj_52vbwGNgvQO2VzMc",
  "kid": "jS1Xo1OWDj_52vbwGNgvQO2VzMc"
}

**Public key**
![image](https://user-images.githubusercontent

[2022-03-14 12:52] Klaas- commented on #80205
So, I logged IPs this time @pvrk

71975aa github-actions  Sat Mar 12 02:36:09 2022 +0000  Version 2.0.9.3 204.79.197.219:443
2400600 github-actions  Sat Mar 12 01:59:08 2022 +0000  Version 2.0.9.4 204.79.197.219:443
204.79.197.219:443 -> 0:40 Version 2.0.9.3
947cb1a github-actions  Fri Mar 11 23:11:44 2022 +0000  Version 2.0.9.3 204.79.197.219:443
bfb54cb github-actions  Fri Mar 11 22:12:23 2022 +

[2022-03-14 13:19] Jawvig opened #89784 "Link to In-process NuGet package is for RabbitMQ, not Azure Service Bus"
In the section of this page entitled "Install extension", and in the "In-process" tab, the "NuGet package" link points to the `Microsoft.Azure.WebJobs.Extensions.RabbitMQ` package. It's not clear to which package it is supposed to be referring. Perhaps `Microsoft.Azure.WebJobs.Extensions.ServiceBus`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-03-14 13:24] Jawvig opened #89785 "Mention of "Event Grid" in the Azure Service Bus trigger page"
In the "Usage" part of the page it contains the following text:
_The specific types supported by the Event Grid trigger depend on the Functions runtime version, the extension package version, and the C# modality used._

I think this should read:
_The specific types supported by the Azure Service Bus trigger depend on the Functions runtime version, the extension package version, and the C# modality

[2022-03-14 13:25] cveld commented on #89338
@kobulloc-MSFT It doesn't make sense that all users are getting read/write access to the full fileshare. Now it seems that any user can read and write any profile on it. Can you comment on that?

[2022-03-14 13:28] KyferEz opened #89786 "Specific Admin Permissions required for using different Azure AD tenant"
This article at the heading "Use a different Azure Active Directory tenant" states the following:

The Azure Repos Git repo can be in a different Azure Active Directory tenant. To specify a different Azure AD tenant, you have to have administrator permissions for the Azure subscription that you're using.

What specific Administrator role permissions which an Azure AD Admin has, such as shown below

[2022-03-14 13:45] Herman5006 opened #89787 "supported regions for standard network features"
Currently, Supported regions for Azure NetApp Files standard network features are:

Australia Central
France Central
North Central US
South Central US
West Europe
West US 3

We want to know is there any road map for standard network features supported in other regions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315

[2022-03-14 13:57] michaelwechner commented on #89481
when I use the App ID in tenant-id, then I receive the error "invalid_tenant".

Or which GUID do you mean?

https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens

[2022-03-14 14:15] cephalin commented on #73079
#reassign:madsd

[2022-03-14 14:16] cephalin commented on #46127
#reassign:madsd

[2022-03-14 14:16] cephalin commented on #44551
#reassign:madsd

[2022-03-14 14:16] cephalin commented on #41769
#reassign:madsd

[2022-03-14 14:18] ciufudean opened #89788 "The availability of Azure Monitor logs is not clear"
One paragraph says

another one

Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20dccd8b-f67a-8728-3bb3-f46a0ffdfd40
* Version Independent ID: 3e79e57d-a348-b0d3-cd89-86c76ca70104
* Content: [Self-hosted gateway overview](https://docs.microsoft.com/en-us/azure/api-management/self-hosted-gateway-overview

[2022-03-14 14:28] GameModes commented on #89334
Unfortunate my company boss has decided, that we need to use a different approach. Thanks for you time and effort, but I'm not allowed anymore to continue following the guide. I'm gonna close this issue for now and I hope in the near future I can re open it.

[2022-03-14 14:38] MsGabsta commented on #84867
#reassign @BWren

Engaging Azure Monitoring Team.

[2022-03-14 14:38] KyferEz opened #89790 "Additional documentation required for VM firewall in this guide"
Post configuration using this guide, there was no traffic seen traversing the Private Link.

This was due to the VM's firewall blocking HealthProbe done by LB so the path was marked as down. This should be addressed in the guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ad13676-0e4b-6e1d-bd9c-e7b6e6698da9
* Vers

[2022-03-14 14:39] MsGabsta commented on #82871
#reassign @bwren

Engaging Azure Monitoring Team.

[2022-03-14 14:41] SadiqhAhmed-MSFT commented on #89323
@emuench & @dannyevers For assistance

[2022-03-14 14:42] MsGabsta commented on #80736
#reassign @bwren

Engaging Azure Monitoring Team.

[2022-03-14 14:43] MsGabsta commented on #84119
#reassign @bwren

Engaging Azure Monitoring Team.

[2022-03-14 14:43] MsGabsta commented on #81235
#reassign @bwren

Engaging Azure Monitoring Team.

[2022-03-14 14:44] MsGabsta commented on #87897
#reassign @bwren

Engaging Azure Monitoring Team.

[2022-03-14 14:45] MsGabsta commented on #61583
#reassign @bwren

Engaging Azure Monitoring Team.

[2022-03-14 14:46] ArielCampos89 opened #89791 "Public doc "Update the OS image for your scale set""
Hello Team, Please assist on this matter.

Customer's main request is to change the image of an Existing VMSS for a custom image from a VM.

I was following [Modify an Azure virtual machine scale set - Azure Virtual Machine Scale Sets | Microsoft Docs](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set#update-the-os-image-for-your-scale-s

[2022-03-14 14:48] v-amallick commented on #89707
@drewwilliams1982 - Thanks again for raising this. We have updated the doc (https://github.com/MicrosoftDocs/azure-docs-pr/pull/191581) and the change will be live soon.

[2022-03-14 14:51] v-amallick commented on #89707
https://github.com/MicrosoftDocs/azure-docs-pr/pull/191581

[2022-03-14 14:56] MonikaReddy-MSFT commented on #89707
@v-amallick - Thanks for raising the PR.
@drewwilliams1982 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-14 14:56] #89707 closed

[2022-03-14 15:01] MonikaReddy-MSFT commented on #89222
@HarisSpahija  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update the document accordingly.

[2022-03-14 15:03] spelluru commented on #88506
@XiaoYue2-22 - we have a duplicate issue: https://github.com/MicrosoftDocs/azure-docs/issues/89749. I will work with the product to document #2 and #4 from the list below.

#1 and #3 are documented. #2 and #4 are missing.

1. OperationalLogs
**2. VNetAndIPFilteringLogs**
3. RuntimeAuditLogs
**4. ApplicationMetricsLogs**

Closing this one. Will track it via https://github.com/MicrosoftDocs/azure-do

[2022-03-14 15:03] #88506 closed

[2022-03-14 15:06] TheovanKraay commented on #89065
@DavideDelVecchio there is already documentation here: https://docs.microsoft.com/en-us/azure/managed-instance-apache-cassandra/management-operations#backup-and-restore. Is this sufficient? At minimum, we will update the FAQ To refer here.

[2022-03-14 15:11] DavideDelVecchio commented on #89066
I will do and close this one . Thanks @TheovanKraay

[2022-03-14 15:15] phil-dando opened #89793 "Broken link in "recovery time" section"
Broken link in "recovery time" section
https://docs.microsoft.com/en-gb/azure/azure-sql/database/recovery-using-backups#recovery-time

This area of the page  "There isn't a built-in method to restore the entire server. For an example of how to accomplish this task, see [Azure SQL Database: Full server recovery](https://gallery.technet.microsoft.com/Azure-SQL-Database-Full-82941666)

takes you to a

[2022-03-14 15:26] pamistel opened #89794 "Outdated Azure Portal Screenshots + missing steps for linking storage accounts"
1. Screenshots on https://docs.microsoft.com/en-us/azure/remote-rendering/how-tos/create-an-account#link-storage-accounts do not reflect the current portal
2. Missing step to enable identity on ARR Resource
<img width="625" alt="image" src="https://user-images.githubusercontent.com/75835644/158204917-8bfeea55-d5c9-49cc-a14d-3d6811a30278.png">

---
#### Document Details

⚠ *Do not edit this section

[2022-03-14 15:34] ezYakaEagle442 opened #89796 "Azure DevOps self-hosted-agents required with Azure Spring Cloud VNet injection"
When a customer using a Private-Endpoint in Azure Spring Cloud through VNet injection, then a self-hosted-runner must be deployed into the same VNet.
Could you please as such mention and link to [Azure DevOps self-hosted-runners](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops#check-prerequisites) ?

---
#### Document Details

⚠ *Do not edit this section.

[2022-03-14 15:36] ezYakaEagle442 opened #89797 "GitHub Action self-hosted-runners required with Azure Spring Cloud VNet injection"
When a customer using a Private-Endpoint in Azure Spring Cloud through VNet injection, then a self-hosted-runner must be deployed into the same VNet.
Could you please as such mention and link to [GitHub Action self-hosted-runners](https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners#linux) ?

See also [https://github.com/MicrosoftDocs/azure-docs/issues/89796](https

[2022-03-14 15:36] dannyevers commented on #89323
#reassign:@ebolton-cyber
Do we need to mention that "Windows Remote Management" service is a MUST HAVE pre-requisite to be installed/configured before the Cert Tool can be used for Windows and to configure it follow a certain link?
This applies to the [Test a virtual machine image](https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-image-test#on-windows-os) doc.

[2022-03-14 15:38] GrahamYoung05 opened #89799 "Confirmation - Azure AD SSPR on Windows lock screen - Routable UPN in Managed Domain"
![image](https://user-images.githubusercontent.com/60398502/158206026-5f2b5685-c6d1-4ae6-a152-28569d33b853.png)
I want to confirm this only applies to environments where the on-premises UPN is different from Azure AD UPN for Azure AD SSPR on Windows lock screen to not be supported on hybrid Azure AD joined Windows 10 devices. If on-premises UPN and Azure AD UPN match, Azure AD SSPR is still suppor

[2022-03-14 15:51] zincob commented on #88342
You can also set the SPN in a more global way and rely on the SPN permission on the different ADLS:
`fs.azure.account.auth.type OAuth
fs.azure.account.oauth.provider.type org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider
fs.azure.account.oauth2.client.id <application_id>
fs.azure.account.oauth2.client.secret {{secrets/<secret-scope-name>/<secret-name>}}
fs.azure.account.oauth2.client.e

[2022-03-14 15:53] mike-urnun-msft commented on #89768
Thank you for your feedback! We will review and update as appropriate.

[2022-03-14 15:54] mike-urnun-msft commented on #89774
Thank you for your feedback! We will review and update as appropriate.

[2022-03-14 15:55] mike-urnun-msft commented on #89777
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-14 15:56] AshokPeddakotla-MSFT commented on #89539
@shijiong @Farhad-Heybati I see the referenced issue some has updates and mentioned that issue has been resolved. Could you please confirm if you are still blocked?

[2022-03-14 15:56] mike-urnun-msft commented on #89784
Thank you for your feedback! We will review and update as appropriate.

[2022-03-14 15:56] AshokPeddakotla-MSFT commented on #89539
@shijiong @Farhad-Heybati I see the referenced issue  has some updates and mentioned that issue has been resolved. Could you please confirm if you are still blocked?

[2022-03-14 16:01] mike-urnun-msft commented on #89788
Thank you for your feedback! We will review and update as appropriate.

[2022-03-14 16:04] mike-urnun-msft commented on #89797
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-14 16:06] dougscc commented on #89154
"It won't work, unless it does, so don't rely on it to work when it doesn't, unless it does, in that case refer to the list of situations where it absolutely won't work for a list of things that may work".

From which Charlie Stross novel was this answer lifted?

[2022-03-14 16:07] MashaMSFT commented on #78357
Hi @WyattBest , thanks so much for contacting Microsoft and we apologize for the delay. We've added a note to the article to clarify that the Automation runbook may run from a range of IP addresses at any datacenter in an Azure region. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for helping improve our docs, and I hope

[2022-03-14 16:10] gvanteylingen opened #89800 "rsize and wsize mount options for ANF not according to best practices"
Please update all rsize and wsize mount options for ANF from
rsize=1048576,wsize=1048576
to
rsize=262144,wsize=262144

throughout the document.
This is in line with all other SAP deployment guides and ANF best practices:
https://docs.microsoft.com/en-us/azure/azure-netapp-files/performance-linux-mount-options#rsize-and-wsize

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-03-14 16:16] AshokPeddakotla-MSFT commented on #89657
Related issue: https://github.com/MicrosoftDocs/azure-docs/issues/89539

[2022-03-14 16:21] ram-msft commented on #89770
@olsgaard Thanks for the question. We are investigating the issue and will update you shortly.

[2022-03-14 16:22] ram-msft commented on #89781
@byronverz Thanks for the question. We are investigating the issue and will update you shortly.

[2022-03-14 16:23] #23574 closed

[2022-03-14 16:39] nicolacm77 opened #89801 "QnA Maker - Default Answer"
instructions are not correct for the default answer option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b012f1d7-50ea-1f6d-75fc-9961fb7b11b2
* Version Independent ID: d51d2728-85d5-dc51-9c2e-2793de03c559
* Content: [Get default answer - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cogn

[2022-03-14 16:43] GeethaThatipatri-MSFT commented on #89793
Hi @phil-dando Thanks for your findings,We will investigate and update as appropriate

[2022-03-14 16:48] ggailey777 commented on #89785
#reassign:ggailey777

[2022-03-14 16:48] ezYakaEagle442 opened #89803 "autoscaling rule should refer Azure Spring Cloud Metrics refrence doc"
the autoscaling rule should refer to the Azure Spring Cloud Metrics refrence doc, could you please add a link to [https://docs.microsoft.com/en-us/azure/spring-cloud/concept-metrics#user-metrics-options](https://docs.microsoft.com/en-us/azure/spring-cloud/concept-metrics#user-metrics-options) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-03-14 16:48] ggailey777 commented on #89785
Thanks @Jawvig for reporting this bug. I'll get it fixed ASAP.

[2022-03-14 16:51] seyal84 commented on #65507
did anyone resolved this issue?

com.microsoft.sqlserver.jdbc.SQLServerException: Incorrect syntax near '-'.

[2022-03-14 16:52] shwetamathur7 commented on #89481
@michaelwechner Tenant Id is different from Client Id. I am not sure about bot registration.

If you register your bot using https://docs.microsoft.com/en-us/azure/bot-service/bot-service-quickstart-registration?view=azure-bot-service-4.0&tabs=userassigned then
To get your bot's app or tenant ID:

Go to the Azure Bot resource page for your bot.
Go to the bot's Configuration pane. From here you can

[2022-03-14 16:54] nickludwig commented on #84039
#please-close

[2022-03-14 16:57] GeethaThatipatri-MSFT commented on #89793
Hi @phil-dando Can you please point out or share the screenshot for which link is broken.

[2022-03-14 16:57] #26210 closed

[2022-03-14 16:58] #25435 closed

[2022-03-14 17:00] YutongTie-MSFT commented on #89801
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-14 17:16] ebolton-cyber commented on #89323
reassign: @sharroy @mathapli

[2022-03-14 17:18] PRMerger3 commented on #89323
The following users don't have valid GitHub IDs, or are not collaborators on this repo: sharroy

[2022-03-14 17:19] SumanthMarigowda commented on #89787
@Herman5006 Thanks for the question! We are investigating and will update you shortly.

[2022-03-14 17:19] KranthiPakala-MSFT commented on #89786
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-14 17:19] ebolton-cyber commented on #89323
Assigning this to @mathapli who is in Certification team and can help with this

[2022-03-14 17:21] Karishma-Tiwari-MSFT commented on #89800
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-14 17:22] ecfan commented on #88244
@vishalaj1: Thanks, a doc update should be live later today.

@ChaitanyaNaykodi-MSFT: #please-close

[2022-03-14 17:23] kayodeprinceMS commented on #88728
@SenorRagequit Here are a couple of alternatives to running Grafana. You can use Grafana Cloud, the managed service where upgrades and maintenance are handled for you. https://grafana.com/products/cloud/ Or you can download and run the latest version of Grafana on the platform you choose, https://grafana.com/grafana/download. For example, the Windows version which you can run on an Azure VM.

[2022-03-14 17:24] nickludwig commented on #86801
Closing this issue without docs changes since I haven't heard back from the individual who opened this issue. Please refer to the comments above for reasoning as to why no docs changes have been made.

@vault79 - if you feel that me closing this issue is a mistake, please open another issue and tag me in it.

[2022-03-14 17:24] nickludwig commented on #86801
#please-close

[2022-03-14 17:26] Karishma-Tiwari-MSFT commented on #89791
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-14 17:30] shivamnamdeo43 commented on #66270
I am also facing a similar problem. If I try to give a static IP in a different subnet (but the same VNET), I get the error:

[code]

Is there any requirement that the LB IP should belong to the same subnet as the node pool?

[2022-03-14 17:33] #21853 closed

[2022-03-14 17:39] nagasandeepMSFT opened #89805 "License requirements for Azure AD join Devices"
[Enter feedback here]

On this document (or other related documents) does not contain or describe information related to License requirement for Azure AD join devices.
Since this page is the main related article, it would be great to have License requirements for Azure AD device join type.
_Impact: If updated on the document this would help us deflect small amount of customer cases created for Azu

[2022-03-14 17:41] michaelwechner commented on #89481
I created a new Azure Bot and for this I received a tenant Id and I receive 4 keys, but the kid value of the Bearer token still is not contained. What else I might be doing wrong, that the "kid" values do not match?

[2022-03-14 17:45] larryclaman opened #89807 "Should call out that WestUS3 pair is one direction only"
WestUS3 is paired with EastUS, but the reverse is not true.  We call out this exception for West India and Brazil South, so we should probably call it out for WestUS3 as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c51

[2022-03-14 17:46] SwathiDhanwada-MSFT commented on #89550
@huatingwei Thanks for pointing this out. Seems the HIPAA HITRUST blueprint sample is unavailable. I will check with product team and revert to you.

[2022-03-14 17:46] ggailey777 commented on #89784
#reassign:ggailey777

[2022-03-14 17:47] ggailey777 commented on #89784
Thanks for reporting @Jawvig! Looks like another copy/paste bug 😦

[2022-03-14 17:52] flang-msft commented on #80608
@AdelaManea - hopefully this clarifies the ip address question you asked. If you have any further questions don't hesitate to re-open this issue or use support for any further questions.
#please-close

[2022-03-14 17:52] #80608 closed

[2022-03-14 18:00] madsd commented on #44551
@GrzegorzHejman So, both are correct. The service tag json contains the actual used IPs and blocks reserved for future use. The docs as well as the ASE api will give you the currently used IPs.
#please-close

[2022-03-14 18:00] #44551 closed

[2022-03-14 18:02] yowl commented on #87936
@ram-msft that doc explains what date is, but not time.  It does not say for example, if 45:00 is a valid Time, i.e. are _elapsed_ times valid, or just times on a clock?

[2022-03-14 18:05] dannyevers commented on #89323
#reassign:@mathapli
Edewe recommended reassigning this doc to Mayank Thapliyal.

[2022-03-14 18:08] AjayKumar-MSFT commented on #89487
Vampiredk,  We will close this thread for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2022-03-14 18:08] #89487 closed

[2022-03-14 18:08] darrenCampos opened #89808 "Error under the sample of OLD Endpoints"
[Enter feedback here]

Under the sections

"What endpoints does this apply to" and "Overview of required changes"

The doc mentioned the old endpoint

"These endpoints may look like:

https://login.microsoft.com/<tenant-name>.onmicrosoft.com/<policy-name>/oauth2/v2.0/authorize

https://login.microsoft.com/<tenant-name>.onmicrosoft.com/<policy-name>/oauth2/v2.0/token

Alternatively, the <policy-nam

[2022-03-14 18:14] CJJ69 commented on #87523
nodepool upgrade didn't work for me either on kubernetes v1.22.6

Windows node pool using docker, didn't change after upgrade.
`az aks nodepool upgrade  ...  --aks-custom-headers WindowsContainerRuntime=containerd`
[code]

I successfully added a new Windows node pool and it **is** using containerd runtime

`az aks nodepool add  ...  --os-type Windows --aks-custom-headers WindowsContainerRuntime=co

[2022-03-14 18:16] AjayKumar-MSFT commented on #89543
stambunan, Managed Identity is still not supported on multi-container. However, it works on custom container (the one you indicated). [This doc](https://docs.microsoft.com/azure/app-service/tutorial-custom-container?pivots=container-linux) outlined the steps to the Pull image into App Service using a managed identity. Since there is no doc update on this, we will close this thread. Thanks again fo

[2022-03-14 18:16] #89543 closed

[2022-03-14 18:18] #56857 closed

[2022-03-14 19:01] #89785 closed

[2022-03-14 19:01] #89784 closed

[2022-03-14 19:39] shashishailaj commented on #89154
@[dougscc](https://github.com/dougscc) Apologies for the comment . I have updated the comment to provide a better clarification . "For example , assigning licenses to nested groups works if you try however if there is an issue , Microsoft does not provide a guarantee to solve this issue as this is not supported configuration and we do not recommend it . The following are supported and unsupported

[2022-03-14 19:43] JimacoMS4 commented on #89750
#reassign @JimacoMS4

[2022-03-14 19:47] madsd commented on #41769
Hi Jeff, in addition to updating documentation, we do add the changes to our management APIs, that you can query and use for tracking deltas. We do not have any alerting mechanism for these changes.

[2022-03-14 19:56] ju-shim commented on #81882
Doc has been updated.
#please-close

[2022-03-14 19:56] #81882 closed

[2022-03-14 20:07] rmrosen opened #89815 "Australia Central, 2 are listed as Government but I am being told these regions are available to all customers"
The chart only has AUS Central and 2 as AUS Gov, but they should also be listed under Oceania. This is confusing our partner into thinking these regions are ONLY gov.

Filtering to Australia here says Australia Central is available to 'All customers and partners':
https://azure.microsoft.com/en-us/global-infrastructure/geographies/#geographies

Please make appropriate updates. Niv Swamy is telling

[2022-03-14 20:12] JimacoMS4 commented on #89750
Hi @BillmanH Thanks very much for your feedback. I just updated the docs to fix this instance and one other. It should go live sometime around 3 PM PDT.

Thanks again for your feedback!

Jimaco

[2022-03-14 20:22] timwarner-msft commented on #89550
Hi. @georgewallace removed the sentence mentioning the deprecated Blueprint definition today. Thanks, Tim

[2022-03-14 20:23] poornimaputtaswamy opened #89816 "Credential Passthrough Limitation on GPU clusters"
Hello Team,

We see limitations on credential passthrough clusters to have only mlFlow. But there are customers who are trying to use GPU enabled High Concurrency clusters for Deep learning, and they are not able to use Credential passthrough on them.
We have got confirmation from Databricks engineering team that DBRs for GPU enabled High concurrency clusters, do not support Credential passthrough

[2022-03-14 20:25] MarileeTurscak-MSFT commented on #89799
@GrahamYoung05
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-14 20:26] MarileeTurscak-MSFT commented on #89808
@darrenCampos
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-14 20:27] MarileeTurscak-MSFT commented on #89805
Thanks @nagasandeepMSFT ! I have assigned your feedback to the content author.

[2022-03-14 20:29] MarileeTurscak-MSFT commented on #89767
@TonySh127-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-14 20:32] ckittel commented on #42222
I checked with the product team today, and they still have plans on rolling out the identified change (adding `172.16.0.0/12` to the default route).  I don't have any timing to share right now, but once that is updated, we'll update the docs accordingly.

[2022-03-14 20:43] #83883 closed

[2022-03-14 20:45] ecfan commented on #83883
@sarabsandhu: A doc update will go live later today to provide more description about what inbound and outbound mean.

[2022-03-14 20:46] jwgarrett opened #89817 "Coming Out of Preview?"
Howdy,

Do you know when this is coming out of preview? We would love to know for some of our clients who are hesitant to use preview features.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a2d44d9-f737-c619-a0b9-cf48755cd2ca
* Version Independent ID: 2b6d043e-52fd-d066-d599-3eff99c47756
* Content: [Sign-in to Azure

[2022-03-14 20:54] ChaitanyaNaykodi-MSFT commented on #89815
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-03-14 20:55] duongau commented on #89815
@rmrosen Thank you for pointing that out. I have made the change to update that table to include the missing region. PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/191663. You should see the change reflect later today after 3pm PDT.

[2022-03-14 20:55] duongau commented on #89815
#please-close

[2022-03-14 20:55] #89815 closed

[2022-03-14 21:00] JamesTran-MSFT commented on #89817
@jwgarrett
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-14 21:13] smoms opened #89818 "In the Power Shell scripts is missing the part where the NICs are assigned to the VMs."
In the Power Shell scripts is missing the part where the NICs are assigned to the VMs.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-load-balancer#create-virtual-machines

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70a77368-ac5d-0699-b327-f5509e18e93e
* Version Independent ID: 04549f86-46

[2022-03-14 21:26] larryclaman opened #89820 "Link to Azure AD Workload Identity should be updated"
The "note" section calls out:
[code]
Seems like the link to the Github issue should be replaced with a link to Workload Identity documentation, eg https://azure.github.io/azure-workload-identity/docs/introduction.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independ

[2022-03-14 21:33] MarileeTurscak-MSFT commented on #89808
Thanks for calling this out! I made a pull request to update the example. https://github.com/MicrosoftDocs/azure-docs-pr/pull/191670

[2022-03-14 21:33] #89808 closed

[2022-03-14 21:40] mmacy commented on #88844
@arambazamba Good call, thanks! We'll get this updated.

#label:"usability-accuracy"

[2022-03-14 21:44] mberry1212 opened #89821 "is it possible to push the configuration for Remote Desktop Mobile to connect to our Azure Virtual Desktop feed?"
is it possible to push the configuration for Remote Desktop Mobile to connect to our Azure Virtual Desktop feed?
Documentation to use an App Configuration Policy or other method to get the Workspace URL to be autopopulated on a Supervised iOS device enrolled in Intune MDM and deployed via Automated Device Enrollment is nowhere to be found. Is this possible or do users have to manually enter their

[2022-03-14 21:49] betocastillo86 commented on #88580
Is there any news on this? I'm having the same issues with a service fabric cluster. Only Windows containers are failing

[2022-03-14 21:49] b-hchen commented on #89314
It appears that this translation issue has been fixed -- now the translation version matches the source (English version).  Thanks @SunnyDeng.

![image](https://user-images.githubusercontent.com/37817957/158266880-dbf21832-5b1f-4f71-a68f-94613eeae967.png)

We can close this issue now.

cc: @b-ahibbard

#please-close

[2022-03-14 21:49] #89314 closed

[2022-03-14 21:51] b-hchen commented on #89695
@elfcounsel - Thank you, Win!  Great to hear from you.  I'll take this comment/suggestion to the technical team.

[2022-03-14 21:56] quanster commented on #89777
Thanks @dlepow.  It does correctly insert the correct statement as stated.  It was not clear in the documentation the form of the urls to enter into the statement to exclude the ones in the example exercise as the image provided is cutoff.
![apiurls](https://user-images.githubusercontent.com/55866596/158267369-277b205a-39e8-4732-842c-0e3b8ea029da.jpg)
![url2](https://user-images.githubusercontent.

[2022-03-14 21:57] JamesTran-MSFT commented on #89817
@jwgarrett
Unfortunately, we don't provide product release dates, roadmap projections, predictions, or guesses in technical documentation. For future updates, I'd recommend following public resources for release information:

[https://azure.microsoft.com/updates](https://azure.microsoft.com/en-us/updates/)
[https://www.microsoft.com/microsoft-365/roadmap?filters=Azure%20Active%20Directory](https:/

[2022-03-14 21:57] #89817 closed

[2022-03-14 21:59] quanster commented on #89777
@dlepow the example in docs https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#MaskURLSContent did not provide better example.

When I left the statement as is with <redirect-content-urls /> the urls were still returned in the test message.

[2022-03-14 22:17] bnordberg opened #89822 "Examples do not work"
Provided examples do not work in Azure Synapse. They return "Incorrect syntax near 'OPENROWSET'."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba14424d-3d48-0d79-9d2d-af8cb48f9116
* Version Independent ID: e2ba5161-d4ca-da4a-b1b9-aa6a87c0b623
* Content: [How to use OPENROWSET in serverless SQL pool - Azure Synapse An

[2022-03-14 22:22] iakujobi opened #89823 "Error in the Python Code Snippet for HMAC authentication - REST API reference"
Hi,
In the Python code snippet, the variable `utc_now` for Setting the Date header to our Date as a UTC String should be:

`utc_now = str(datetime.utcnow().strftime("%a, %d %b %Y %H:%M:%S ")) + "GMT"
`

The day `%a` is needed for the code to match the HMAC header format. This matches up with the documentation for `Tutorial: Sign and make requests with Postman` - https://docs.microsoft.com/en-us/az

[2022-03-14 22:23] sch56 opened #89824 "Server vs database in step 2"
In the documentation at step 2 it instructs to connect to the database and create a user.
This doesn't work as written (creating the user in the target database).  It appears that the AD user needs to connect to the server and at the **master** database, create the user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2022-03-14 22:25] WilliamDAssafMSFT commented on #66681
Thank you @BillGatesIII, this article will be soon retired.
#please-close

[2022-03-14 22:25] #66681 closed

[2022-03-14 22:25] randomat123 commented on #88639
Hello @shashishailaj! As I understand it, auto-provisioning is required i.e. a prerequisite for MDC-MDE integration. But, you submitted another document, not necessarily related to the integration (vulnerability assessment deployment) to justify that auto-provisioning is required.

If auto-provisioning is a prerequisite, shouldn't it be present in this document?
This is very important to know.

@a

[2022-03-14 22:29] JimacoMS4 commented on #89750
Hi @BillmanH,

The change is now live. Please have a look. I'm going to close this issue, but, if you think there is something that needs to be addressed further, please @-comment me here, or open a new issue.

Thanks, again, for taking the time to help us improve our documentation!

-Jimaco

[2022-03-14 22:30] JimacoMS4 commented on #89750
#please-close

[2022-03-14 22:30] #89750 closed

[2022-03-14 22:30] randomat123 commented on #87421
Hi @ElazarK and @ssivas.
Do you have the answer? Please help, lots of customers are confused if this configuration costs the double as we already have Defender enabled in the subscription, but in order to change the Windows Security Events tier collection we need to enable Defender in the workspace level also.

[2022-03-14 22:33] apwestgarth commented on #88580
@betocastillo86 Managed Identities are supported for **Windows Containers on Azure App Service**.  We are working with our conterparts in CSS to progress @krispenner's issue.

As you are experiencing an issue with Managed Identities on Service Fabric, we would recommend you open a support ticket for the Service Fabric resource you are experiencing your issue with.

[2022-03-14 22:36] mike-urnun-msft commented on #89081
Hello @charles-lambert-kc - Sorry for the delay in our responses (and thank you, @ecfan, for the updates).

You should have either **Subscription Owner** or **Contributor** permission in order to install the solution described in this doc. If you observe an issue that indicates otherwise, please let us know and we'll drive clarity for it.

[2022-03-14 22:45] DerekHerman-MSFT commented on #89775
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-14 22:47] ChaitanyaNaykodi-MSFT commented on #89823
Thank you for your feedback! We will review and update as appropriate.

[2022-03-14 22:55] femsulu commented on #89780
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-14 22:56] GeethaThatipatri-MSFT commented on #89824
Hi @sch56 Thanks for your findings, We will investigate and update as appropriate

[2022-03-14 22:58] femsulu commented on #89783
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-14 23:01] femsulu commented on #89794
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-14 23:05] femsulu commented on #89807
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-14 23:09] DerekHerman-MSFT commented on #89775
Thanks for reporting this. I have made a PR to update the documentation and the changes should go live once reviewed.

[2022-03-14 23:09] #89775 closed

[2022-03-14 23:12] kenwith commented on #83421
I updated with a note, when I ran through this I had to have the Read/Write permission for the ServicePrincipalEndpoint. Once I set it in Graph Explorer on the Modify Permissions tab the PUT worked. I added a note to call this out. Thank you for catch and sorry for the delay here.

#please-close

[2022-03-14 23:12] #83421 closed

[2022-03-14 23:14] ecfan commented on #89081
@charles-lambert-kc: I'll add an update to the doc with the permissions. Should go live in the morning after 11 AM Pacific Time. Thanks!

[2022-03-14 23:15] #89081 closed

[2022-03-14 23:15] SaiKishor-MSFT commented on #89426
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-03-14 23:15] #89426 closed

[2022-03-14 23:15] kenwith commented on #83421
![image](https://user-images.githubusercontent.com/27743960/158275979-b9ea11a0-c6da-424d-a6b6-c6925986840f.png)

[2022-03-14 23:29] JoakimBG opened #89826 "Getting errors in client when try to connect to service"
The guide here is very interesting, but is out of sync with the sample code found here: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C

When following the sample the code in client fail to access the service API throwing HTTPExeption in GetAsync method.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-03-14 23:35] rwike77 commented on #89215
Updating the screenshots now.

[2022-03-14 23:37] MarileeTurscak-MSFT commented on #89826
@JoakimBG
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-14 23:41] craftyhouse opened #89827 "Pricing information link"
There should be additional clarity added to overview or deeper in that there is a cost to using this capability.
https://azure.microsoft.com/en-us/pricing/details/virtual-network/#pricing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dce7dff-6689-f91b-64b7-2817b9d52e5e
* Version Independent ID: 70276322-e104-0cc1-bc5

[2022-03-14 23:45] nagasandeepMSFT commented on #89805
Hi @MarileeTurscak-MSFT Thank you so much for quick actions. Please let me know if any additional information is needed.

[2022-03-14 23:52] WilliamDAssafMSFT commented on #89260
@jhasner What error message did you get when executing `CREATE DATABASE SCOPED CREDENTIAL`?

[2022-03-14 23:57] WilliamDAssafMSFT commented on #89260
#assign:WilliamDAssafMSFT

[2022-03-14 23:58] WilliamDAssafMSFT commented on #89260
#please-open

[2022-03-15 00:03] WilliamDAssafMSFT commented on #89260
Also @jhasner please confirm what platform - Azure SQL DB or SQL Server? Because `CREATE CREDENTIAL` (at the server level) is not allowed in Azure SQL DB, and this is an Azure SQL DB-specific solution.

[2022-03-15 00:04] mmacy commented on #86129
@ameltzerMSFT Added this to internal ADO backlog here for future sprint planning. Closing issue here and we'll track it internally.

ID | Title
-- | --
[1809631](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1809631) | [ISSUE][86129] documentation around token caching is not clear

@Dickson-Mwendia this work will fall under GTD workstream **Consolidation**, subcateg

[2022-03-15 00:05] #86129 closed

[2022-03-15 00:07] mmacy commented on #86634
@mack0196 I've added this issue to the following ADO work item (Microsoft-internal) future sprint planning. Closing the issue here and we'll track it internally here:

ID | Title
-- | --
[1809631](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1809631) | [ISSUE][86129] documentation around token caching is not clear

@Dickson-Mwendia, this is related to #https://gith

[2022-03-15 00:07] #86634 closed

[2022-03-15 00:10] mike-urnun-msft commented on #89569
Hello @RBVieira - Thank you for sharing this feedback and helping us drive improvements towards MS Docs! I have created a PR that updates the statement with the correct number of attempts, which is 10. Once the PR is merged, the changes should reflect on the doc within 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we wi

[2022-03-15 00:10] #89569 closed

[2022-03-15 00:13] mmacy commented on #88844
#label:"doc-bug"

[2022-03-15 00:17] pinyuko commented on #85742
Hi @DerekHerman-MSFT , are there updates on this ?
 I'm Penny Ko in MSFT, I have a similar issue as this.
I've tried to use https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/check-zone-peers api, but it shows error "{"error":{"code":"InvalidResourceType","message":"The resource type could not be found in the namespace 'Microsoft.Resources' for api version '2020-01-01'."}}"

<img wi

[2022-03-15 00:23] mmacy commented on #89593
@umeshbarapatre Great! I've made a suggestion for a formatting change in the PR, but looks like we're on our way to closing this issue in https://github.com/MicrosoftDocs/azure-docs/pull/89709.

Thanks! #please-close

[2022-03-15 00:23] #89593 closed

[2022-03-15 00:28] ms-ishiyam opened #89829 "Pricing page is wrong."
Pricing page is not correct. This service is GA now.

https://azure.microsoft.com/en-us/pricing/details/azure-peering/

![image](https://user-images.githubusercontent.com/37136042/158282607-dc44c1d0-fb5d-4011-ab67-b1b1316a4caf.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bec6c62d-d2bf-71b5-ae3c-5e237ef69dc6
* Ve

[2022-03-15 00:33] pinyuko commented on #89441
Hi @SumanthMarigowda ,
Apologize for late reply. Thanks for providing the CAF doc, I'm aware of that. I think it's still different for having introduction in Azure Storage doc https://docs.microsoft.com/en-us/azure/storage/common/storage-introduction and in CAF doc.

Also, for the CAF document https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/considerations/storage-options , I

[2022-03-15 00:43] mmacy commented on #86413
@kahopkin Thanks for this request, you are 100% correct those images are difficult to parse. Leaving this open for now to see if I can knock it out quick(ish), otherwise we'll get it scheduled for a sprint.

ID | Title
-- | --
[1811850](https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/1811850) | [ISSUE][86413] screenshots are great, but would be nice to have the conten

[2022-03-15 00:44] mike-urnun-msft commented on #89585
Hello @Djangoum - Thank you for sharing this feedback and helping us drive improvements towards MS Docs! The correct name for the setting is **maxMessageBatchSize**, as referenced in: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs#L137

I've created a PR that updates the table for the 5.x version to

[2022-03-15 00:44] #89585 closed

[2022-03-15 00:45] mike-urnun-msft commented on #89609
Hello @aaronzhongg - Thank you for sharing this feedback and helping us drive improvements towards MS Docs! The correct name for the setting is **maxMessageBatchSize**, as referenced in: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs#L137

I've created a PR that updates the table for the 5.x version

[2022-03-15 00:45] #89609 closed

[2022-03-15 00:46] mike-urnun-msft commented on #89658
Hello @v-bbalaiagar - Thank you for sharing this feedback and helping us drive improvements towards MS Docs! The correct name for the setting is **maxMessageBatchSize**, as referenced in: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Microsoft.Azure.WebJobs.Extensions.ServiceBus/src/Config/ServiceBusOptions.cs#L137

I've created a PR that updates the table for the 5.x version

[2022-03-15 00:46] #89658 closed

[2022-03-15 00:53] LifeRyuto commented on #89616
Hi @AnuragSharma-MSFT, thank you for your information.
If the customer has a geo redundant Azure Database for PostgreSQL Flexible Server and their storage size is 32 GB and if the server's backup_storage_used is 64 GB, will be the billing computed as below?

((2 x **64 GB**) - 32 GB) x price

Or, will be the billing computed as below, if backup_storage_used means the total size of geo-redundant ba

[2022-03-15 00:59] Karishma-Tiwari-MSFT commented on #89820
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-15 01:14] femsulu commented on #89829
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-15 01:19] mmacy commented on #87899
#label:"usability-clarity"

[2022-03-15 01:19] mmacy commented on #87899
#assign:mmacy

[2022-03-15 01:21] mmacy commented on #87899
#unassign:amanmcse

[2022-03-15 01:26] zhenlan commented on #89823
@iakujobi thanks for the feedback.

@shenmuxiaosen can you see if we missed this somehow?

[2022-03-15 01:28] VitaliyKurokhtin commented on #55319
1.0.1 container image is quite old. This bug should be fixed in 1.1.1+.

localsyslog and rfc5424 are different protocols. While RFC5424 is a documented standard (https://datatracker.ietf.org/doc/html/rfc5424), localsyslog is analogous to calling syslog function from an app running. It's somewhat documented as RFC3164 (https://datatracker.ietf.org/doc/html/rfc3164), but it's not an actual standard

[2022-03-15 01:31] ccoffman5984 commented on #89744
sample code provide for Ansible collection
https://github.com/ansible-collections/azure/issues/781

[2022-03-15 01:39] venkatesh-bhupathi opened #89831 "Data Residency Map link does not exist"
I was going through this Resiliency article on Azure and found that this link does not exist. Can you either update the link with the right one or take out link if it does not exist. This is the link I am referring to, https://azuredatacentermap.azurewebsites.net/

As a proactive measure, why can't the doc management team, write a crawler that will scan through the Microsoft Docs and verify if the

[2022-03-15 01:43] mike-urnun-msft commented on #86181
@PiotrPerak @flareair This doc updated and the issues shared in this feedback were addressed as part of: https://github.com/MicrosoftDocs/azure-docs/commit/75d6c9a162aaec93634a4955243e79f8c0d0e2ca

Thank you for your feedback and help in driving improvements towards MS Docs!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we wil

[2022-03-15 01:43] #86181 closed

[2022-03-15 02:04] iakujobi commented on #89823
Glad to help! @ChaitanyaNaykodi-MSFT @zhenlan
I created a PR for this issue. The title is below:
Error in the Python Code Snippet #89830

[2022-03-15 02:31] CHEEKATLAPRADEEP-MSFT commented on #89816
@poornimaputtaswamy  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details in the document.

[2022-03-15 02:37] CHEEKATLAPRADEEP-MSFT commented on #89822
@bnordberg As per the repro, the mentioned command in the document works as expected.

![image](https://user-images.githubusercontent.com/79183421/158294622-d9d99151-f88b-4032-a7f7-855a7fe05512.png)

In order to investigate further, I would request you to open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)

[2022-03-15 02:57] mathapli commented on #89323
#reassign: @sharroy

[2022-03-15 02:57] PRMerger13 commented on #89323
The following users don't have valid GitHub IDs, or are not collaborators on this repo: sharroy

[2022-03-15 02:57] PRMerger18 commented on #89323
The following users don't have valid GitHub IDs, or are not collaborators on this repo: sharroy

[2022-03-15 03:08] ChaitanyaNaykodi-MSFT commented on #89827
Thank you for your feedback! We will review and update as appropriate.

[2022-03-15 03:23] yut0adachi opened #89832 "Unsupported scenarios - AADJ PRT acquisition (user’s on-premises UPN is not routable)"
[Enter feedback here]
I'm guessing the falling back to the WS-Trust endpoint while in staged rollout mode doesn't happen when Azure AD join and get primary refresh token. (In case user’s on-premises UPN is not routable)

Thinking from the point of view of PRT issuance, it identifies whether it is a managed ID or a federation ID based on the UPN gived from the client, but while the staged rollout i

[2022-03-15 03:45] racchen commented on #89640
@sukanyamsft i did some test in my environment and seems SFMC doesnt support Custom image from the image gallery, but i m not sure it's because i miss anything. Any suggestions?

[2022-03-15 04:09] VikasPullagura-MSFT commented on #89821
@mberry1212
Thanks for your Question! We are currently checking you ask and will get back on this.

[2022-03-15 04:10] VikasPullagura-MSFT commented on #89818
@smoms
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-15 04:10] VikasPullagura-MSFT commented on #89818
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2022-03-15 04:30] jiasli commented on #89766
For example, the [Subscriptions - List](https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/list) API document only describes API Version `2020-01-01`:

![image](https://user-images.githubusercontent.com/4003950/158306686-9e76613a-5666-4596-917b-46eb68d7bdf8.png)

When I need to develop in/for Azure Stack which only has `2016-06-01`, I cannot find the corresponding document.

[2022-03-15 04:31] SreejaBhattacharya-MSFT commented on #89735
Hi @fionaaws2018 , thanks for the update. Glad it got resolved.

[2022-03-15 04:31] #89735 closed

[2022-03-15 04:34] shwetamathur7 commented on #89767
@TonySh127-ms Thanks for your feedback. I am working with author to update the document with latest elements.

[2022-03-15 04:55] CHEEKATLAPRADEEP-MSFT commented on #89766
@jiasli I would request you to open an issue here:https://github.com/Azure/azure-rest-api-specs/issues

[2022-03-15 05:00] amanmcse commented on #89832
@yut0adachi Thank you for your feedback. We will investigate and update the thread further.

[2022-03-15 05:08] Givary commented on #89089
@jeevanearform Apologies for the delay, i have already raised this issue with my team.

[2022-03-15 05:10] TonySh127-ms commented on #89767
Understand, thanks @shwetamathur7 and @MarileeTurscak-MSFT ! :)

[2022-03-15 05:13] MayankBargali-MSFT commented on #89803
@ezYakaEagle442 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-03-15 05:15] Givary commented on #89141
@nth-block Apologies for the delay, will check with my team if there is ARM template available to deploy the solution mentioned above and update here.

[2022-03-15 05:15] #89141 closed

[2022-03-15 05:38] AnuragSharma-MSFT commented on #89440
@dmorrison-msft Thanks for the detailed information provided with respect to start ip address. I am tagging the content author to look into it and provide more insights on this.

[2022-03-15 05:40] AnuragSharma-MSFT commented on #89737
@Nj-kol Awaiting your response on this.

[2022-03-15 05:55] #89062 closed

[2022-03-15 05:58] Nj-kol commented on #89737
@AnuragSharma-MSFT

![issue](https://user-images.githubusercontent.com/6629996/158316259-6501cb9f-6add-401f-ade3-d13a6a53825e.png)

[2022-03-15 06:09] MughundhanRaveendran-MSFT commented on #89412
@logcorner , I would suggest you to verify the steps mentioned in the article and make sure you havent missed any step. If everything is configred properly as per the documentation and you still face the issue, I would suggest you to open a support request with MS support. Please reach out to me if you need any help in creating service request, you can send an email with subject line “Attn:Mughund

[2022-03-15 06:09] #89412 closed

[2022-03-15 06:11] CHEEKATLAPRADEEP-MSFT commented on #89831
@venkatesh-bhupathi Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/191713](https://github.com/MicrosoftDocs/azure-docs-pr/pull/191713 )
The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contribution

[2022-03-15 06:17] KrishnaG-MSFT commented on #89599
@iwafula025 I have verified and updated the link as required. The update should go live soon i.e., in less than 24 hours. Thanks again!

[2022-03-15 06:17] #89599 closed

[2022-03-15 06:18] AnuragSharma-MSFT commented on #89737
@Nj-kol Thanks for your valuable feedback. We have made the changes through a PR which could take few days to go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-15 06:24] VanMSFT commented on #89439
Let's go ahead and close this. The work is needed on the engineering end, and the refresh on that is not on the documentation cycle. @rohitnayakmsft can track this on the back end. Thanks again @dmorrison-msft for reporting this.

#please-close

[2022-03-15 06:24] #89439 closed

[2022-03-15 06:37] VanMSFT commented on #89440
Addressed in https://github.com/MicrosoftDocs/azure-docs/issues/89439

@rohitnayakmsft - FYI

#please-close

[2022-03-15 06:37] #89440 closed

[2022-03-15 06:44] zmsoft commented on #14150
![image](https://user-images.githubusercontent.com/8024438/158321693-343b1db0-fcaa-4287-94ed-04b60fa2bd65.png)

I encountered this error while using social signin in b2c custom policy.

[2022-03-15 06:54] shijiong commented on #89539
Hello, @AshokPeddakotla-MSFT , I rebuild the module in VS Code and deploy it to the IoT Edge device (AzEFLOWM) again. However, the problem still exists.

[2022-03-15 06:58] #89429 closed

[2022-03-15 07:07] shijiong commented on #89539
@AshokPeddakotla-MSFT , dear friend, would you please tell us that how to change the dockfile or some other ways to fix this problem?

[2022-03-15 07:16] #87899 closed

[2022-03-15 07:21] tejado opened #89845 "Add forwardProxy solution"
Hello,

it seems that rewrite does not anymore work together with EasyAuth (at least in regard to some internal mails -> please get in contact with me to provide a reference).
There is a very good alternative, which is not documented in Microsoft Docs: https://azure.github.io/AppService/2021/03/26/Secure-resilient-site-with-custom-domain.html
Basically, it is to set following as part of the authse

[2022-03-15 07:33] bannychim21 opened #89846 "CISCO FTD RAVPN deploy using FDM certificate error"
[Enter feedback here]
I download the SAML certification from Azure AD. I got this error when I deploy using FDM in Firepower 1010.

![Selection_1543](https://user-images.githubusercontent.com/92528452/158328331-61a1d232-4b14-437e-8346-68ca32087bf1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d242e95c-09e5-91ae-6

[2022-03-15 07:40] huatingwei commented on #89550
Thanks for checking. Looking forward to your response.

[2022-03-15 07:41] SadiqhAhmed-MSFT commented on #89323
@mathapli Couldn't locate "sharroy". Hence, re-assigned it to you.

[2022-03-15 07:43] boris-tarasov-maersk opened #89847 "Will managed identity work with container web app?"
In the given documentation there is not mention of a Docker Container option. I wonder if this option is selected can we still use managed identity within dockerized app hosted in Azure web app?

<img width="392" alt="image" src="https://user-images.githubusercontent.com/75432520/158329769-e39a7f7d-4370-4fd2-83ef-b47e30247848.png">

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-03-15 07:47] sharroy commented on #89323
@SadiqhAhmed-MSFT ACK. I will update.

[2022-03-15 07:53] jiasli commented on #89766
Hi @CHEEKATLAPRADEEP-MSFT, I believe the swagger repo does include different versions:

https://github.com/Azure/azure-rest-api-specs/tree/main/specification/resources/resource-manager/Microsoft.Resources/stable

![image](https://user-images.githubusercontent.com/4003950/158331022-3b57524c-7a8e-4ec7-8b4a-9dd51762d528.png)

It is just those versions are not documented in https://docs.microsoft.com/

[2022-03-15 07:54] MSNina123456 opened #89848 "Get-AzAutomationAccount and Set-AzAutomationAccount don't have parameters or property with DisableLocalAuth"
this doesn't work:
use the PowerShell cmdlet [Get-AzAutomationAccount](https://docs.microsoft.com/en-us/powershell/module/az.automation/get-azautomationaccount) and check property DisableLocalAuth. A value of true means local authentication is disabled.

Even if I tried to get it via Rest API with newer version 2021-06-22, the response body doesn't contain property of disablelocalAuth

this doesn'

[2022-03-15 08:17] SwathiDhanwada-MSFT commented on #89550
@huatingwei HIPAA HITRUST 9.2 blueprint sample was deprecated because it was no longer in sync with the included policy initiative artifact. As a workaround, you  can either use the corresponding Azure Policy regulatory compliance initiative directly or include it as an artifact in a custom blueprint, which would provide a roughly equivalent experience to the deprecated blueprint sample. The doc h

[2022-03-15 08:52] arntdg commented on #89441
Hi @SumanthMarigowda @pinyuko Your observation is correct, Azure NetApp Files should be mentioned in CAF and WAF and additional choices for SAP and HANA should point to Azure NetApp Files as well. This is work in progress and may take some time to publish.

[2022-03-15 09:00] olavt opened #89849 "Multiple API support is unclear?"
The section on "Can I use multiple APIs to access my data?" is a bit unclear.

"Where multi-model means Azure Cosmos DB supports multiple APIs and multiple data models, different APIs use different data formats for storage and wire protocol. For example, SQL uses JSON, MongoDB uses BSON, Table uses EDM, Cassandra uses CQL, Gremlin uses JSON format. As a result, we recommend using the same API for

[2022-03-15 09:06] PaulHedrich opened #89850 "Requesting Policy Clarification on 30 day requirement for Cool BLOB Archive Access"
According to this document, data in the Azure Blob Storage Cool tier should be stored for a minimum of 30 days. We have a commercial object storage/ Blob storage app with a 30 day retention policy on TBs of archive storage. Since 30 days is a common retention policy for backups, I want to know how much grace time exists so that the Cool Tier early deletion penalty is not applied?
For example. Is a

[2022-03-15 09:09] hiLemontree commented on #88595
Hi @kobulloc-MSFT,
Thanks for your kindly response.
I had open an issue in Microsoft Q&A  as below link:
https://docs.microsoft.com/en-us/answers/questions/772597/sub-owner-can39t-receive-the-mail-notification-of.html

Kindly help!

Thank you!

[2022-03-15 09:12] ds-evo opened #89851 "AllowPrivateEndpointCustomNicName"
Hello,

i activated Microsoft.Network/AllowPrivateEndpointCustomNicName with following command.

But it stay's pending since yesterday.

What else can i do?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74c1d2a4-68a1-4afa-9363-27ffe5513e1b
* Version Independent ID: 69285ac6-3150-5cc0-4a12-efba59187696
* Conten

[2022-03-15 09:27] YutongTie-MSFT commented on #89801
@nicolacm77 Thanks for reaching out again, could you please more information about what's error you are mentioning so that we can make the change quicker?

[2022-03-15 09:43] SnehaAgrawal-MSFT commented on #89847
@boris-tarasov-maersk Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-15 09:52] CHEEKATLAPRADEEP-MSFT commented on #89851
@ds-evo  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members coul

[2022-03-15 09:56] JonSilver opened #89852 "SpeechRecognition.js uses the undefined CancellationDetails"
SpeechRecognition.js uses the undefined CancellationDetails, which will fail with an unhandled error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b55e56-55a1-d635-6bea-271dc361d676
* Version Independent ID: 8e9cb28f-c133-f310-3c7d-3a3b7e85f69d
* Content: [Speech-to-text quickstart - Speech service - Azure Cognitiv

[2022-03-15 10:06] ruffy91 opened #89853 "Unquoted service path for GCArcService and ExtensionService"
After installing Defender for Cloud and the associated Defender for Endpoint on Servers using Azure Arc there are findings and alerts in both the integrated Qualys Vulnerability scanner and in Defender for Endpoint, that the Connected Machine agent is using an unquoted path in its services:

![image](https://user-images.githubusercontent.com/344634/158353820-7875870f-6dae-4b41-a876-c43b44aea7e0.pn

[2022-03-15 10:19] vikasreddy-bh opened #89854 "Where to find the new link for the Azure TSI data explorer in private endpoint"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c95c6bf8-2e43-20a1-fc9a-cf8a7c76983d
* Version Independent ID: f65c3965-5c36-9fad-68f6-7c9c26471b23
* Content: [Private Links - Azure Time Series Insights Gen2](https://docs.microsoft.com/en-us/azure/time-series-insights/concepts-private-links)
* Cont

[2022-03-15 10:37] MrMeterPing opened #89855 "FunctionAttribute instead of FunctionNameAttribute"
Under "Usage" in the Isolated process tab,  mustn't it be FunctionAttribute instead of FunctionNameAttribute (which is used with in Proc functions)?

![2022-03-15 11_35_56-Azure Functions warmup trigger _ Microsoft Docs](https://user-images.githubusercontent.com/101572840/158359647-ca7dcd63-910f-4957-a7f1-2d371e467d5b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-03-15 10:49] SwathiDhanwada-MSFT commented on #89848
@MSNina123456 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-03-15 10:55] AshokPeddakotla-MSFT commented on #89854
@vikasreddy-bh Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-03-15 11:06] jhornych opened #89856 "Unclear action description"
From the action description, I would like to be able to understand what the given action is controlling. For instance this action `microsoft.web/sites/functions/action` has a very vague description. Could this be improved?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33219707-3b9f-cc6b-541e-a806dc82622a
* Version Ind

[2022-03-15 11:12] GeethaThatipatri-MSFT commented on #89849
Hi @olavt Thanks for your feedback! We will investigate and update as appropriate.

Regards
Geetha

[2022-03-15 11:16] ds-evo commented on #89851
Didn't find an offical documentation for this feature.

It's missing here:

https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-cli

I already asked that on StackOverflow.

This Issue is related - but it's already closed

https://github.com/MicrosoftDocs/azure-docs/issues/78623

[2022-03-15 11:34] shwetamathur7 commented on #89481
@michaelwechner Are you validating the new bearer token issued by new Azure Bot?

[2022-03-15 11:56] kev1010 commented on #89429
Was this accidentally closed? If not, what was the result of the
investigation?

On Tue, Mar 15, 2022 at 2:59 AM PRMerger20 ***@***.***> wrote:

[2022-03-15 12:10] softwizinfotech commented on #49614
Does this issue still exists ? I have Windows version 19044 and still unable to install IoT Edge. I am getting error that The container host is on unsupported build version 19044. Please use a container host running one of the following build versions for running Windows containers 17763.

[2022-03-15 12:14] MichaelZp0 commented on #89794
Hi,

thanks also from the remote rendering team for your feedback. The issue should be fixed now.

Greetings

[2022-03-15 12:14] pradovich opened #89857 "Intacct SSO Reply URLS"
Based on the documentation link below from Intacct, the secondary Reply URLS  under Configure Azure AD SSO should be formatted https://www-p##.intacct.com/ia/acct/sso_response.phtml vs https://www.p##.intacct.com/ia/acct/sso_response.phtml. The character after www should be a dash versus a period. Was getting the AADSTS50011 error when using what was provided in the Microsoft article.

https://www

[2022-03-15 12:42] JamesTran-MSFT commented on #89846
@bannychim21
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-15 12:44] JamesTran-MSFT commented on #89856
@jhornych
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-15 12:45] JamesTran-MSFT commented on #89857
@pradovich
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-15 12:45] GitaraniSharma-MSFT commented on #89845
@tejado , thank you for your feedback. We have assigned this to the content owner/author for review.

@jaesoni , for your review.

[2022-03-15 12:48] joelwaymack opened #89858 "Web PubSub Bindings"
The tables are missing information/links for the Web PubSub bindings but the Web PubSub documentation talks about these bindings. https://docs.microsoft.com/en-us/azure/azure-web-pubsub/tutorial-serverless-notification
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d575e82-637b-32de-e64d-75adf4b6d976
* Version Independ

[2022-03-15 12:52] #89737 closed

[2022-03-15 13:15] ShaikMaheer-MSFT commented on #89557
@jovanpop-msft Could you please validate customer feedback and enhance document as appropriate to include below

- Definitions or details related to _Storage filter pushdown, Folder partition elimination_ Etc.
- COPY INTO details as alternative.
- More details about Partitioned columns to clear idea.

[2022-03-15 13:21] geoffop opened #89859 "Azure Policy Exceptions"
Is this still in preview? I don't see any mention of preview in other blogs, portal, or docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9a6e587-b217-21c8-a0b5-b76c81e23736
* Version Independent ID: bab4cdb2-0933-c2c1-fe2b-559dbc4353d4
* Content: [Details of the policy exemption structure - Azure Policy](https://d

[2022-03-15 13:49] AnuragSingh-MSFT commented on #89858
@joelwaymack, thank you for bringing it to our attention. Web Pubsub binding was added to v3.4.0 of extension bundle for Azure Function, which is not yet released.  The latest 3.X released version for extension bundle is 3.3.0 as of now. To use web pubsub as binding in Azure function, the current way is to "remove" extension bundle section from `host.json` and add extensions explicitly, as [mentio

[2022-03-15 13:57] timwarner-msft commented on #89859
Hi @geoffop! Thanks for your sharp eyes. Pull request created. -Tim

[2022-03-15 14:04] JohanKlijn opened #89860 "Two different formats of faces element in insights json response"
The insights JSON result contains two places where faces are defined:

- summarizedInsights -> faces
- video -> insights -> faces

Both have a different structure:
**Example of summarizedInsights -> faces**
[code]

**Example of video -> insights -> faces**
[code]
The documentation only describes the second one, so that’s missing in de documentation.

To me it’s also not clear why they differ that

[2022-03-15 14:09] PriyankaRudramaina commented on #87630
Hello @jyama4ta,

I have assigned this to content author to review and update his comments on this.

[2022-03-15 14:13] hhunter-ms commented on #82195
@damienpontifex Thank you for your feedback! We have added work to our backlog to [clarify](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1929804) and [expand](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1929803) our Profiler documentation. I'll close this issue. If you have any further questions, feel free to respond here or open a new issue. Thank you! #please-clo

[2022-03-15 14:13] #82195 closed

[2022-03-15 14:14] PriyankaRudramaina commented on #89736
Hi @ThiruthamSivaram,

As advised by @RohitMungi-MSFT, please check for the scripts under pre-reqs section of the document. The direct link to scripts is [https://github.com/Azure/azure-docs-powershell-samples/tree/master/azure-migrate/SQL%20Migration](url)
![image](https://user-images.githubusercontent.com/95755055/158397124-1fd3800a-22a8-4ff6-b8ce-2bb24b790fce.png)
Let me know if you are looking

[2022-03-15 14:19] ShaikMaheer-MSFT commented on #89559
@filippopovic Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-03-15 14:21] PriyankaRudramaina commented on #87760
HI @ElanShudnow,

Just wanted to keep you posted on this. This is being reviewed internally by the PM team and we shall update you once we clarify this with the team.

[2022-03-15 14:33] ShaikMaheer-MSFT commented on #89560
@filippopovic Could you please validate customer feedback related to including examples and note sections to help reader? And enhance document as appropriate?

@sdebruyn - Between, If any product questions then please leverage [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/25423/azure-synapse-analytics.html) Platform.

[2022-03-15 14:34] ShaikMaheer-MSFT commented on #89562
@XiaoyuMSFT Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-03-15 14:37] maweeras-msft opened #89862 "How to rotate certificate in KeyVault if expired or superseded"
This document needs to provide guidance on how to update the configuration if the certificate used in KeyVault has expired or is superseded by a new certificate. The current script at https://www.powershellgallery.com/packages/ConfigureWVDSSO only facilitates configuring a new environment. If the certificate is expired or the customer wants to replace the certificate, their is no guidance on updat

[2022-03-15 14:47] m-gora commented on #63571
For future reference, I stumbled upon the same Issue and after some digging I came up with this working solution in Postman:
`
let date = new Date().toUTCString();
let message = CryptoJS.enc.Utf8.parse("POST\n" + pm.request.body.raw.length + "\napplication/json\nx-ms-date:" + date + "\n/api/logs");
let key = pm.variables.get("sharedKey");

let signedKey = CryptoJS.HmacSHA256(message, CryptoJS.enc.

[2022-03-15 15:23] omar-nav opened #89865 "linking DPS with IoT Central"
Option to link IoT Central with Enrollment group is not available at Portal. Where are the steps outlined for linking an Enrollment Group to IoT Central?
![add-enrollment-group](https://user-images.githubusercontent.com/13755487/158411983-901c99d9-22f5-4f1f-8293-9a4fb8ce18a6.PNG)

Screenshot attached.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-03-15 15:36] GeethaThatipatri-MSFT commented on #89793
Hi @phil-dando We haven't heard back from you. Did you had the chance to check the above reply

[2022-03-15 15:37] bruceharrison1984 commented on #89499
My issue results from not launching the tutorial app correctly. Launching it via `https://launch.smarthealthit.org/` and using localhost as the Target URLs performs correctly. This should be pointed out in the documentation.

[2022-03-15 15:38] dominicbetts commented on #89865
Hi @omar-nav - the enrollment groups that IoT Central uses are created automatically for you. You don't need to use the Azure portal - you can access IoT Central's enrollment groups from within the Azure Central UI - for example, see https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-connect-device?pivots=programming-language-python#get-connection-information

[2022-03-15 15:39] #89794 closed

[2022-03-15 15:42] LijuV-MSFT opened #89867 "Clarification of statement"
**Per region, there are tens of instances available to accept the request.**

Is that tens of instances per application proxy, shared within the tenant, or shared by all traffic in the region (i.e. not dedicated to any one tenant?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2b0891e-1805-5d91-bc69-3ec1b7ffd69f
* Ve

[2022-03-15 15:44] kcaswick opened #89868 "No documentation on how to use system managed identities for Azure storage volumes"
The page does not explain whether or not it is possible to use a system managed identity for the image registry, or azureFile volume, nor have I found another page that does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4bb823e-1c72-5777-bdd6-e89942c4f470
* Version Independent ID: eb046e79-f39c-dcca-fbd4-519c0a32020

[2022-03-15 15:50] cephalin commented on #87921
@Hamster-Huey can you let us know what the updated information is?

[2022-03-15 15:54] Hamster-Huey commented on #87921
Linux consumption supports the "latest" 2019-08-01 api version as described in the rest api spec here: https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=portal%2Chttp#connect-to-azure-services-in-app-code

[2022-03-15 16:06] #89865 closed

[2022-03-15 16:06] mtrmmsoftware opened #89870 "Logging for the Service Fabric Service"
I tried to use your your code snippet in [this chapter](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-how-to-diagnostics-log#microsoftextensionslogging), but I cannot see the logs in the Diagnostic events window while debugging.
Questions:

1.  Is this snippet correct?
2. Where does it log to? Where can I see these logs?

Thank you in advance.

---
#### Document Details

⚠ *

[2022-03-15 16:10] GiftA-MSFT commented on #89852
@JonSilver we'll review your feedback and get back to you shortly. Thanks.

[2022-03-15 16:14] RoyKM opened #89871 "Can't connect"
[Enter feedback here]
I followed the Windows Defender Firewall instructions for my Windows 10 laptop but still can't login to Query Editor.  Adding the row into Outbound also caused my WebEx to disconnect.  I had to delete the row to get it to work again.  Meanwhile my Sandbox clock is ticking down.  Suggestions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-03-15 16:18] markjbrown commented on #89849
The last sentence is the operative one.

[2022-03-15 16:18] JamesTran-MSFT commented on #89846
@bannychim21
Thank you for your post!

From the error message `Config Error -- saml identity-provider...` , please make sure that the SAML IDP is correct per the [Configure Azure AD SSO](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/cisco-anyconnect#configure-azure-ad-sso) and [Configure Cisco AnyConnect SSO](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/cis

[2022-03-15 16:27] mimckitt commented on #89744
Thanks for the feedback @ccoffman5984. I will add this to the backlog to look into. I don't have any ETA at the moment but will make sure we take a look as soon as we can.

[2022-03-15 16:28] mmacy commented on #88081
@shwetamathur7 Is there a corresponding PR for the changes?

[2022-03-15 16:29] mmacy commented on #88081
#assign-reviewer:@mmacy

[2022-03-15 16:29] PRMerger5 commented on #88081
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: mmacy

[2022-03-15 16:29] mmacy commented on #88081
#assign-reviewer:mmacy

[2022-03-15 16:29] PRMerger15 commented on #88081
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: mmacy

[2022-03-15 16:30] mmacy commented on #88081
#assign:mmacy

[2022-03-15 16:38] BradBiggers opened #89873 "Exception in thread "main" javax.xml.stream.FactoryConfigurationError: Provider for javax.xml.stream.XMLInputFactory cannot be found"
I am trying to run the example code and I am getting the above error.
here is my command to execute

C:\SoftwareAG107\jvm\jvm\bin\java -cp .;c:\temp\eventhub\azure-core-1.26.0.jar;c:\temp\eventhub\azure-messagin-eventhubs-1.26.0.wso2v1.jar;c:\temp\eventhub\azure-messaging-eventhubs-5.11.0.jar;c:\temp\eventhub\azure-messaging-eventhubs-checkpointstore-blob-1.11.0.jar;c:\temp\eventhub\azure-storage-

[2022-03-15 16:42] selectstarfromsql commented on #89500
We have configured AG listener using below 2 methods.

1) with DNN listener: it is working fine. Is it recommended to configure
between multiple submets?
2) with MS recommended way, using 3 subnets, 3 secondary ip’s, but seeing
delay in listerner ip routing after failover between the regions and taking
around 10 minutes to resolve to  the new subnet ip address. Is there any
way to minimise this de

[2022-03-15 16:43] JamesTran-MSFT commented on #89857
@pradovich
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

For more info - [Sage Intacct - SSO with Azure AD
](https://www.intacct.com/ia/docs/en_US/help_action/Administration/Sign-in/Single_sign_on/sso-with-azure.htm?cshid=SSO_with_Azure_AD)
![image](https://user-images.githubusercontent.com/36619112

[2022-03-15 16:43] #89857 closed

[2022-03-15 16:44] AshokPeddakotla-MSFT commented on #89539
@shijiong I am unable to reproduce the issue. This requires further investigation to find out the root cause. I would suggest you kindly file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2022-03-15 16:44] michaelwechner commented on #89481
you mean whether I try to use one of the 4 keys to validate the Bearer token?

Please find below a recent Bearer token

eyJhbGciOiJSUzI1NiIsImtpZCI6Ilp5R2gxR2JCTDh4ZDFrT3hSWWNoYzFWUFNRUSIsInR5cCI6IkpXVCIsIng1dCI6Ilp5R2gxR2JCTDh4ZDFrT3hSWWNoYzFWUFNRUSJ9.eyJzZXJ2aWNldXJsIjoiaHR0cHM6Ly9zbWJhLnRyYWZmaWNtYW5hZ2VyLm5ldC9jaC8iLCJuYmYiOjE2NDczNjE4NzEsImV4cCI6MTY0NzM2NTQ3MSwiaXNzIjoiaHR0cHM6Ly9hcGkuYm90ZnJ

[2022-03-15 16:45] JamesTran-MSFT commented on #89867
@LijuV-MSFT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-15 16:47] AshokPeddakotla-MSFT commented on #89657
@Farhad-Heybati Are you still blocked? Could you please confirm if you are able to complete the tutorial?

[2022-03-15 16:47] flang-msft commented on #85168
#please-close

[2022-03-15 16:47] #85168 closed

[2022-03-15 16:54] arifgani commented on #88180
#please-close

[2022-03-15 16:54] #88180 closed

[2022-03-15 16:55] bannychim21 commented on #89846
Hi James,

Thanks for your feedback

SAML IDP configuration is correct. If I use self signed certificate, it does not have this error during deploy. That's why I think it is the certificate issue. I find the CN information of the Azure AD certification cannot displace during I import using FDM. Unlucky that self signed certificate cannot go through AnyConnect client during untrusted. So that I pre

[2022-03-15 16:55] #87439 closed

[2022-03-15 16:55] PriyankaRudramaina commented on #89868
Hi @Kcaswick,

Thank you for your feedback. We will investigate and update the thread further.

[2022-03-15 16:57] PriyankaRudramaina commented on #89862
Hello @maweeras-msft,

Thank you for your feedback. We will investigate and update the thread further.

[2022-03-15 17:22] hydrojumbo commented on #19444
I had a chance to interact with some of Microsoft's paid support on this issue. We left it at (paraphrasing; this was several months ago) "Event Grid uses HTTPS to communicate with Event Hub. HTTPS requires a new connection for each Event Grid -> Event Hub message, introducing non-determinism in the end-to-end (from perspective of Event Hub receiver) order of messages sent from Event Grid."

So ba

[2022-03-15 17:23] RBVieira opened #89875 "Text Missing"
Hey guys I belive that is missing some word here, right? (work "with XXX" or Cosmos DB or Table Storage bindings)

The dot notation does not work or Cosmos DB or Table storage bindings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fbaa31-cfcc-4b8c-abe0-4efeaee3e4f0
* Version Independent ID: db65fc3d-d8b3-1f19-91a0-

[2022-03-15 17:29] kanshiG commented on #88673
This is finished....and in the pr. https://github.com/MicrosoftDocs/azure-docs/issues/89035

[2022-03-15 17:31] ggailey777 commented on #89875
Yes, it should be:

Thanks for letting us know about this!

[2022-03-15 17:31] rwike77 commented on #89215
Changes have merged, should be live soon.  #please-close

[2022-03-15 17:31] #89215 closed

[2022-03-15 17:32] MicrosoftGuyJFlo commented on #89665
Authentication context is just a part of Conditional Access so only needs Azure AD P1

[2022-03-15 17:32] MicrosoftGuyJFlo commented on #89665
#please-close

[2022-03-15 17:32] #89665 closed

[2022-03-15 17:39] #89867 closed

[2022-03-15 17:44] SaiKishor-MSFT commented on #89427
@vhorne Can you please look into this?

[2022-03-15 17:55] dsburns opened #89877 "Provide Information On ADU Apt Handler Dependencies"
Page provides no details regarding _designated repository_.  Does using the apt update require users to setup their own debian package repository and configure the ADU agent host to point to this package archive?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2542ef5b-55d0-d138-dc94-3034a9cc1f4b
* Version Independent I

[2022-03-15 17:56] aamorale opened #89878 "SMB security settings configuration from Azure Portal"
SMB security settings section mentions that security configurations can't be modified from the portal. However, it is already possible. Please consider to include Portal steps as well

![image](https://user-images.githubusercontent.com/65926888/158441286-1896432d-f4ff-4288-a4b9-077dc5c3ae18.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-03-15 18:04] #88033 closed

[2022-03-15 18:12] jeevansd commented on #85846
@jamesryanmoat WE do support latest version of JIRA and the document is also updated for it. Please see the details on the page here https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial#supported-versions-of-jira

About the group feature you mentioned here, yes we have that in our backlog. I heard this from other customers as well, so we will prioritize this fea

[2022-03-15 18:14] larryclaman commented on #86455
Any update on this?
also see similar ticket #86842

[2022-03-15 18:15] larryclaman commented on #86842
Any update on this?

[2022-03-15 18:18] jeevansd commented on #85846
#please-close

[2022-03-15 18:18] #85846 closed

[2022-03-15 18:21] James-Hamil-MSFT commented on #88633
So sorry for the delay in reponse. We've been looking for an answer but it's been taking longer than anticipated! We should have one soon.

Best,
James

[2022-03-15 18:21] dlepow commented on #89777
@quanster - Thanks for providing more info. We will improve the screenshot to show the form of the added statement.

The rewrite-urls policy doesn't allow any configuration. `<redirect-content-urls />` is the only form of the policy statement. It should replace the backend URLs in the response with the APIM gateway URLs. It doesn't completely remove URLs in the response.

[2022-03-15 18:22] James-Hamil-MSFT commented on #88722
Hi @kevklam , sorry for the delay in response. We've been working on how to update the documents so we should have an update soon.

Best
James

[2022-03-15 18:22] thisisanniefang commented on #86106
Hi @AndreasMWalter thanks for reaching out, we're working to resolve this issue and remove the validation that is blocking the ability to set the value to 1.

For the time being, setting it to 2 will result in the same behavior as if it were set to 1 due to the known issue. Apologies for the confusion!

[2022-03-15 18:23] #89875 closed

[2022-03-15 18:33] #89339 closed

[2022-03-15 18:39] olavt commented on #89849
"Each API operates independently, except the Gremlin and SQL API, which are interoperable."

I still think this sentence is unclear. What does it mean that an API operates "independently" or "interoperable"?

[2022-03-15 18:42] mokabiru commented on #89512
@billletson Thanks for the feedback, we will refine the document to make sure it is consistent with the expected behaviour.

[2022-03-15 18:44] Aminadad27 opened #89879 "​#​ [Choice] Go version: 1, 1.15, 1.14"

[2022-03-15 18:47] selectstarfromsql opened #89881 "can we configure a DNN listener between multi-subnet nodes?"
[Enter feedback here]
can we configure a DNN listener between multi-subnet nodes?

I see a limitation for DNN that it has to be configured between the nodes within the same subnet, but I have configured between multi-subnet nodes and failover is working as expected. do I see any issues in the future?

can I also get how the DNN works in the background?

---
#### Document Details

⚠ *Do not edit th

[2022-03-15 18:47] chadcarlton commented on #88633
Actually please close this.

I tried running this again today and it worked as expected.

[2022-03-15 18:49] jgold6 opened #89882 "Is this possible on Visual Studio for Mac?"
Is there a Visual Studio for Mac version of this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e8df1d5-dc7d-52fd-a7ef-130fae8dc67f
* Version Independent ID: 331b4c43-96fb-3799-2646-82d2a681d18b
* Content: [Connect to Azure Government with Visual Studio - Azure Government](https://docs.microsoft.com/en-us/azure/

[2022-03-15 18:49] GitaraniSharma-MSFT commented on #89139
@georgalthaus , We have assigned this to the content owner/author for updating the doc accordingly.

@asudbring , as discussed in our internal email, please update this doc to reflect the requirement of Static Public IP while creating a reverse DNS.

[2022-03-15 18:52] James-Hamil-MSFT commented on #88633
Thanks for letting me know! We were leaning towards a possible migration issue with MS Graph, if we find a concrete answer I'll post back.

Best,
James

[2022-03-15 18:52] #88633 closed

[2022-03-15 18:55] srikeyrun commented on #19569
Today Talked to Product Owner in Microsoft and they would probably open this and update soon

[2022-03-15 19:06] MarileeTurscak-MSFT commented on #89879
Hi @Aminadad27 ,

Every six months a new Go version is released, and each version is retro compatible. This means that you should always download the latest version.

If you have further questions, feel free to reach out on the [Golang forums ](https://forum.golangbridge.org/)or Stack Overflow.

If you have specific documentation feedback, feel free to create an issue on the related document and s

[2022-03-15 19:06] #89879 closed

[2022-03-15 19:07] jpbulloch5 commented on #89694
To clarify, should there be a bulk edit for the Azure App Service Connection Strings JSON file like there is for the App Settings JSON file?  If so, please update to clearly define it.  If not, please clarify that this cannot be done and provide any potential alternatives.  For example, if bulk upload of a JSON file is not possible, explain that individual modification of each connection string is

[2022-03-15 19:21] MicrosoftGuyJFlo commented on #89495
Looks like it has been moved to sign-in diagnostics from the basic info tab.

[2022-03-15 19:26] gvanteylingen commented on #89800
Please ask for updating at earliest possibility, The incorrect settings lead to sub-optimal performance and increasing number of support cases.

[2022-03-15 19:31] wedoazure opened #89883 "MCA to Azure Plan"
Hi, is there still no progress/update on being able to transfer MCA subscriptions to CSP Azure Plan? Same tooling as EA transfer requests. Thank you.

[2022-03-15 19:47] bmitchell287 commented on #89796
@Bowen5- Hello Bowen, per Asir, would you please address this issue? Thanks.

[2022-03-15 19:47] bmitchell287 commented on #89797
@Bowen5- Hello Bowen, per Asir, would you please address this issue? Thanks.

[2022-03-15 19:52] femsulu commented on #89853
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-15 19:56] #89805 closed

[2022-03-15 20:01] rpsqrd commented on #89853
Hey @ruffy91, thanks for reaching out! This has been fixed in the latest version of our agent, version 1.15. See our instructions on [how to upgrade](https://docs.microsoft.com/en-us/azure/azure-arc/servers/manage-agent#upgrading-agent) if you haven't already.

[2022-03-15 20:14] pmpopovichjr opened #89884 "add sql managed instance"
Hi,
Recently we had to setup managed ident auth into SQL MI from Cog search, would love to see this page updated to reflect that product being a viable offering. We found out through trial and error that it does work. So would like to see the docs reflect that.

Thanks,
Paul

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-03-15 20:23] femsulu commented on #89877
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-15 20:28] femsulu commented on #89860
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-03-15 20:39] GarethFZA commented on #28649
This is still an issue in VS2019, even after having granted the owner account Co-admin role.

[2022-03-15 20:40] geoffop commented on #89859
@timwarner-msft can you link the PR?

[2022-03-15 20:41] #89495 closed

[2022-03-15 20:58] tamram commented on #89666
@briggsb9 - Just wanted to let you know that I've raised this issue with the Azure Backup team, and they will be updating the message in future iterations of the portal.

[2022-03-15 21:02] femsulu commented on #89883
thanks for sharing @wedoazure.
@JulCsc Any Idea on who can authoritatively answer the above questions?

[2022-03-15 21:05] aullom1 opened #89887 "Clarify statement: FQDN doesn't work for on-premises SQL Server unless you add a record in Azure DNS zone."
Can you clarify this statement?  Either by providing  a description of what you mean, or by linking to more documentation.  Can this be a private DNS zone?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ad13676-0e4b-6e1d-bd9c-e7b6e6698da9
* Version Independent ID: 37f5f9b3-c78e-78ff-7d94-ea70c2958ed7
* Content: [Acces

[2022-03-15 21:07] femsulu commented on #89855
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-15 21:28] shenmuxiaosen commented on #89823
The existing datetime format is still working so I assume the server side has some tolerance on this.  But anyway, this is a bug and thanks @iakujobi for fixing this.

[2022-03-15 21:28] ababinchak opened #89888 "four year old preview reference"
[Enter feedback here]
IN this document, this bog post is references as the authority for deploying session controls for exchange onine but it is very incomplete and dated. A new reference document is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 609a0eda-f113-8b77-67ee-c5e8bd94cbac
* Version Independent ID:

[2022-03-15 21:30] #89803 closed

[2022-03-15 21:33] jhasner commented on #89260
Hi @WilliamDAssafMSFT, I should have specified, sorry. This was was on an Azure managed instance, but not an Azure SQL DB. Specifically,
`select @@version`
returns
`Microsoft SQL Azure (RTM) - 12.0.2000.8   Jan 26 2022 22:23:07   Copyright (C) 2019 Microsoft Corporation `

The error I got was
[code]

A more simple repo of the issue is this:
[code]
The database scoped credential doesn't see the fil

[2022-03-15 21:36] prathamMantri opened #89889 "Feedback related to spacings of different sections"
"In this article" section can use less space. It's very hard to read main section by scrolling up and down the page content and code comparison. You could add a feature of resizing different sections.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1899cdf5-3dfd-5f6b-bf3b-8d12bdba4138
* Version Independent ID: 7f7f2176-

[2022-03-15 21:43] MarileeTurscak-MSFT commented on #89888
Hi @ababinchak , are you referring to the blog post linked under [Enabling limited access with Exchange Online](https://aka.ms/owalimitedaccess)?

[2022-03-15 21:43] MarileeTurscak-MSFT commented on #89889
@prathamMantri
Thanks for your feedback! We will investigate and update as appropriate.

[2022-03-15 22:05] rajeshsetlem commented on #89500
Hi Yogi, For DNN documentation refer to
https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-distributed-network-name-dnn-listener-configure

DNN automatically binds to the existing IPs of the VMs, and you don’t need to specify IP addresses while creating DNN based AG listener.

In general, our recommendation is to use DNN only when all the VMs are in single

[2022-03-15 22:19] phduf opened #89891 "This page contradicts previous page on notes around CMK and keyvault subscription"
This page contradicts the previous page stating that the key vault for the CMK encryption must be in the same subscription.

Please correct both pages to show the same information

I believe that the requirement is that the Key vault must be in the same subscription

Previous Page note
https://docs.microsoft.com/en-us/azure/virtual-machines/disk-encryption#customer-managed-keys

This page
https://

[2022-03-15 22:22] GrzegorzHejman opened #89892 "How to use PowerShell to register a VM with SQL Availability Groups for backup?"
I'm trying to set up backup for an  SQL database that is a member of the Availability Group. When I register the VM I can see DBs which are not part of the Availability Group, but cannot see the ones which are. Is there any way to configure backup for Availabiliy Group DBs using PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-03-15 22:28] flang-msft commented on #79010
@dcbrown16 - Thank you for the feedback. We clarified the table on this page to indicate that data encryption is in transit. It should be published tomorrow with the update. After I verify that the new content published, I will close the issue.

[2022-03-15 22:34] iakujobi commented on #89823
Great! Happy the issue was resolved @shenmuxiaosen

[2022-03-15 22:44] josgonz231 opened #89894 "Add condition for FQDN network rule"
If a customer tries to migrate a network rule containing fqdn they will get a 400 Bad Request. Add a condition to both SourceAddresses and SourceIpGroups for - network rule containing fqdn
ex
elseif($rule.DestinationFqdns)
{
	$firewallPolicyNetRule = New-AzFirewallPolicyNetworkRule -Name $rule.Name -SourceAddress $rule.SourceAddresses -DestinationFqdn $rule.DestinationFqdns -DestinationPort $rule.

[2022-03-15 22:54] yowl opened #89895 "Daylight saving information is useful, but does not seem to be allowed in the portal"
Having read the information on daylight savings for recurrence times.  I tried to use "2022-03-16T08:30-04:00" for New York time, however it is apparently invalid:

![image](https://user-images.githubusercontent.com/2720041/158485461-e8073e99-ef71-4bf0-b4c1-9a473a0b0c1c.png)

Please update the documentation with the format that should be used for a local time that respects daylight savings, e.g. 8

[2022-03-15 23:17] msjuergent commented on #89800
PR with the correction in the document just got merged.

[2022-03-15 23:28] stevevi commented on #89882
Discussed offline.  Customer request routed to VS for Mac product team.

[2022-03-15 23:29] stevevi commented on #89882
#please-close

[2022-03-15 23:29] #89882 closed

[2022-03-15 23:29] mark-vw opened #89896 "Example 2 snippets are inconsistent (json example is incorrect)"
In example 2, the json is incorrect and does not align with the corresponding (correct) azure powershell snippet. The NegationCondition should be false to deny all non-US traffic.

Please fix.

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f37e9d2-9044-93ba-8ce5-cd9cc3dc64fc
* Version Independent ID: 4c03470f-

[2022-03-15 23:45] WilliamDAssafMSFT commented on #89260
As this is an Azure SQL DB doc, I'm not going to make the update here, as `CREATE CREDENTIAL` (at the server level) is not allowed in SQL DB, but I don't believe we have a specific SQL MI doc for this task. I'm going to close this issue and get that doc underway. Thanks very much @jhasner for bringing this up.

[2022-03-15 23:47] devathrajharish opened #89897 "UDR metastore, Eventhub, Artifact blob IP addresses are missing from the document. After March 15th 2022 Update."
UDR metastore, Eventhub, Artifact blob IP addresses are missing from the document. After March 15th 2022 Update.
The entire Section is missing on UDR page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44cbeaf-af2c-ef7e-b411-24556279d898
* Version Independent ID: aaced3ee-7d7c-a9d6-a81b-b132674fa055
* Content: [User-

[2022-03-15 23:47] WilliamDAssafMSFT commented on #89260
#label:"doc-enhancement"

[2022-03-16 00:01] WilliamDAssafMSFT commented on #89260
#please-close

[2022-03-16 00:01] #89260 closed

[2022-03-16 00:02] ChaitanyaNaykodi-MSFT commented on #89823
Thank you @iakujobi for feedback and the PR to fix this issue. The PR was merged. We will now proceed to close this issue out. Thank you!

[2022-03-16 00:02] #89823 closed

[2022-03-16 00:39] kobulloc-MSFT commented on #89676
@brucelangston I spoke with the doc author and we are going to remove the note entirely.  I'll get a PR out for that shortly.  Thank you again for helping to improve the Microsoft Docs!

[2022-03-16 00:40] ChaitanyaNaykodi-MSFT commented on #89896
Thank you for your feedback! We will review and update as appropriate.

[2022-03-16 00:48] kobulloc-MSFT commented on #89361
@CJRicard The PG is working on finalizing wording for the update and a PR will follow shortly.

[2022-03-16 00:48] TonySh127-ms commented on #89767
Hi Team, I just would like to point out the root cause of this issue. The page layout version is updated to 2.0+ in start package.  But our document is still using the old element. It could get confusion. For example, the "local_intro_email" is only support < 2.0.0
![image](https://user-images.githubusercontent.com/68043042/158495067-c9b1c710-fd23-4907-8872-c930616b36d5.png)
Reference: https://doc

[2022-03-16 01:03] femsulu commented on #89883
Hi @wedoazure from discussions internally, the subscription mgmt. support team will be able to answer your question. Kindly use this link to [raise a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) for free.

hope this helps.

[2022-03-16 01:04] NAWABDERA1 commented on #86487
Thank you indeed
http://nawabdera.Wordpress.com
http://nawabdera.onmicrosoft.com
Regards

[2022-03-16 01:11] femsulu commented on #89892
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-16 01:12] fumikouehara opened #89909 "This page needs to include prerequisites"
Hi MS Docs,

I followed everything of this page, however, ended up only Audit Logs is connected with my Log Analytics Workspace. Sign-in Logs is not connected to my Log Analytics Workspace. I waited over 24 hours, but the situation did not change.

I searched other docs for information, and one thing which is considered as the reason of my situation is that I am using Azure AD Free license. I gues

[2022-03-16 01:12] GeethaThatipatri-MSFT commented on #89871
Hi @RoyKM Thanks for your findings,We will investigate and update as appropriate

[2022-03-16 01:26] JamesTran-MSFT commented on #89909
@fumikouehara
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-03-16 01:39] geoffop commented on #89859
@timwarner-msft fixed

[2022-03-16 01:53] ChaitanyaNaykodi-MSFT commented on #89494
Hello @phwecker, I could not reproduce this error and I was successfully able to run the command as mentioned in the documentation.
![image](https://user-images.githubusercontent.com/67453298/158499289-3edac15e-fdd8-4d74-ada7-276c753ea195.png)

The error received might be due to some other PowerShell issue. You can go through [this documentation ](https://github.com/Azure/azure-powershell/blob/mai

[2022-03-16 01:53] #89494 closed

[2022-03-16 01:55] spelluru commented on #88917
Hi @jalexander-bb - Wagner left the company some time ago. I am in contact with one of his colleagues, who reviewed the case.
As per the case notes, it was an issue related to dead-lettering. Does that sound right to you? Thanks.

[2022-03-16 02:11] GavinJin88 opened #89910 "classless reverse DNS lookup issue"
[Enter feedback here]
one of my customers run into the PTR resolution failure when they create private dns zone for /27 whereas it's working when it's /24 or /16.

"When you're creating classless reverse DNS lookup zones in Azure DNS, you must use a hyphen (-) instead of a forward slash (/) in the zone name.
For example, for the IP range of 192.0.2.128/26, you'll use 128-26.2.0.192.in-addr.arpa as

[2022-03-16 02:13] ChaitanyaNaykodi-MSFT commented on #88581
Hello @CedricZhu , as per our internal conversations, the product team is currently validating this behavior and they will communicate with us if it has changed.
As we are monitoring this channel for any documentation updates and enhancement and this issue is related to product behavior. We will now proceed to close this issue out.
As per PG's response if this requires a documentation update. I wi

[2022-03-16 02:13] #88581 closed

[2022-03-16 02:16] gary918 commented on #89044
Got it. Thanks @spelluru !

[2022-03-16 02:16] paulbaber opened #89911 "Not for current servers?"
This page says, "You can back up System State on Windows Server 2008 R2 through Windows Server 2016. "
Is there no support for Server 2019 or Server 2022?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1a92cd5-31bf-5806-eed3-06d18ec7f618
* Version Independent ID: f5ceaf38-55d8-ed39-1bdf-820c255e34fe
* Content: [Back up

[2022-03-16 02:32] CHEEKATLAPRADEEP-MSFT commented on #89897
@devathrajharish  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details.

[2022-03-16 03:20] AjayKumar-MSFT commented on #89884
@pmpopovichjr, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-03-16 03:29] AjayKumar-MSFT commented on #89699
Liubiaoyong, The PR has been merged and the doc will reflect the published changes shortly. We will close this now. Thanks for your feedback.

[2022-03-16 03:29] #89699 closed

[2022-03-16 03:32] desarkar opened #89912 "Punctuation Errors"
These two sentences have punctuation errors: "When the request is approved, a policy is auto-generated and applied against the respective, data source. self-service data access Policy gets auto-generated only if the data source is registered for data use governance."

1. There should be no comma (,) after respective
2. Incorrect casing after sentence ends with full stop (.) after the word "data so

[2022-03-16 04:13] shwetamathur7 commented on #89481
@michaelwechner I am not aware how to generate the access token using Bot. I am opening another support ticket for you to help you  further.

Please send us an email on azcommunity [at] microsoft [dot] com referencing this issue along with Azure subscription Id with a subject line "ATTN:shweta" and we will help you with alternative support options on this.

[2022-03-16 04:18] shwetamathur7 commented on #89649
@weirdyang Your query is not related to the reference document. I am helping you to open support ticket for this to help you further.

Please send us an email on azcommunity [at] microsoft [dot] com referencing this issue along with your Azure subscription Id with a subject line "ATTN:shweta" and we will help you with alternative support options on this.

[2022-03-16 04:22] CHEEKATLAPRADEEP-MSFT commented on #89912
@desarkar  Thanks for the feedback! We are investigating and will update you shortly.

[2022-03-16 04:24] yut0adachi commented on #89832
Thank you for your cooperation.
I appreciate if you also investigate to write clieary that it is supported that AD FS fall back doesn't happen when Azure AD join devices  get primary refresh token in staged rollout mode. (In case user’s on-premises UPN is not routable) .

[2022-03-16 04:34] mckennagene opened #89913 "she doesn't answer his question"
if an application alaready has select a,b,c,d,e from table and the user running that query doesn't have permission to one of those columns, it appears the whole query will fail, vs returning results without the one column, or with those data masked. He asks her very explicitly, but her answer is very unclear and the demo she gave is very clear that it did not do exactly what he asked.

---
#### Do

[2022-03-16 04:51] GitaraniSharma-MSFT commented on #89894
@josgonz231 , thank you for your feedback. We'll review this and get back to you shortly!

[2022-03-16 04:53] GitaraniSharma-MSFT commented on #89910
@GavinJin88 , thank you for your feedback. We'll investigate this issue and get back to you shortly!

[2022-03-16 05:23] #89649 closed

[2022-03-16 05:24] #89744 closed

[2022-03-16 05:25] shwetamathur7 commented on #89767
@TonySh127-ms Thanks. I will check how we can update this in documentation to avoid confusion.

[2022-03-16 05:28] MayankBargali-MSFT commented on #89895
@yowl Thank you for your feedback! We will review and update as appropriate.

[2022-03-16 05:40] SumanthMarigowda commented on #89891
@phduf Thank you for the question! We are investigating and will update you shortly.

[2022-03-16 05:44] michaelwechner commented on #89481
Thanks! I just sent the email as you described

[2022-03-16 06:06] #89481 closed

[2022-03-16 06:11] henrypi73 opened #89915 "IBM Qradar link"
If you click on the IBM Qradar link-under Access data from your event hub-> it gives you this: 'Product version no longer published', can this be updated please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2064767f-5304-275a-df9b-e74199b53408
* Version Independent ID: 57dcf6b8-7125-1e0b-c446-34a0a1366a92
* Content:

[2022-03-16 06:26] CHEEKATLAPRADEEP-MSFT commented on #89912
@desarkar  Thanks for pointing out the issue. We've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/191863](https://github.com/MicrosoftDocs/azure-docs-pr/pull/191863)
The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2022-03-16 06:30] SreejaBhattacharya-MSFT commented on #89881
Hello @selectstarfromsql , thank you for reaching out. We will investigate and get back to you.

[2022-03-16 06:30] ShaikMaheer-MSFT commented on #89887
@aullom1 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-16 06:35] ShaikMaheer-MSFT commented on #89913
@mckennagene Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-16 06:58] feroz-ahmmed opened #89916 "More detailed documentation on email notifications triggered by certificate lifetime events"
I can set certificate contracts from portal or powershell script. Can you include in the documentation for which events the certificate contracts get email notification and when? For example when should I expect the certificate expiration email?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adde7541-5e77-17e0-5f7d-969

[2022-03-16 07:04] pvrk commented on #89892
@GrzegorzHejman :
https://docs.microsoft.com/en-us/azure/backup/backup-azure-sql-automation#managing-sql-always-on-availability-groups

Hope this helps.

[2022-03-16 07:32] jmp75 opened #89917 "fatal: Authentication failed on git push azure in tutorial 'Deploy your application code to Azure'"
After failing to go through the Python Web App from VSCode tutorial (see [this issue](https://github.com/MicrosoftDocs/azure-dev-docs/issues/736) ) I am trying to continue using the CLI option, with instructions from [3 - Deploy your application code to Azure](https://docs.microsoft.com/en-us/azure/app-service/quickstart-python?tabs=flask%2Cwindows%2Cazure-portal%2Cterminal-bash%2Cvscode-deploy%2C

[2022-03-16 07:40] jmp75 commented on #89917
Nevermind, got confused by the VSCode behavior of a GUI prompt at the top instead of directly in the terminal windows...

[2022-03-16 07:45] jmp75 commented on #89917
Reopening. Still fails  when using the password obtained from `az webapp deployment list-publishing-credentials`, with the same autheitication failure message.

[2022-03-16 07:46] VikasPullagura-MSFT commented on #89500
@selectstarfromsql
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-03-16 07:46] #89500 closed

[2022-03-16 07:59] SreejaBhattacharya-MSFT commented on #89881
Hi @selectstarfromsql , I see you had opened another issue [https://github.com/MicrosoftDocs/azure-docs/issues/89500#issuecomment-1068514295](url). Here the Product Team has responded. Please refer to it and let me know if that helps.

[2022-03-16 08:11] aleksandervalle opened #89918 "Does sys.label LIKE '%bus%' still work if using the new Azure.Messaging.ServiceBus client library?"
In the "Filter on system properties" section, the example `sys.label LIKE '%bus%'` is shown. Does this still hold for the new `Azure.Messaging.ServiceBus` client library?

Asking because the `Message` in the old `Microsoft.Azure.ServiceBus` client library has a `Label` property, while the `ServiceBusMessage` in `Azure.Messaging.ServiceBus` does _not_ have a `Label` property, but a `Subject` proper

[2022-03-16 08:32] epime opened #89919 "YAML not properly formatted"
The YAML examples doesn't even validate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f53838fc-1654-fc18-7e45-7d556193f77e
* Version Independent ID: 4f92bd5b-4b91-b03d-4f1d-8c31d45af0ef
* Content: [Use LetsEncrypt.org certificates with Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/in

[2022-03-16 08:34] epime commented on #89919
Should be like this:
![image](https://user-images.githubusercontent.com/13868533/158548975-b9d4c614-1a9a-4582-a2fb-02e2c03eb6fd.png)

[2022-03-16 08:41] AnuragSharma-MSFT commented on #89616
@LifeRyuto Thank you for your response.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-03-16 08:41] #89616 closed

[2022-03-16 08:44] GrzegorzHejman commented on #89892
Strange thing. The cmdlet: Get-AzRecoveryServicesBackupProtectableItem -WorkloadType MSSQL -VaultId $testVault.ID   returns an error "Get-AzRecoveryServicesBackupProtectableItem: The specified resource does not exist". We checked it with the latest Az.RecoveryServices version (5.2.0), but works OK with the Az.RecoveryServices module version 4.3.0.

So it seems there's some issue with the new modul

[2022-03-16 08:51] speyburner commented on #88989
With the error message I got it working.
I had problems with role assignment and previously it didn't show any error. Now it did.
Thanks!

[2022-03-16 08:51] #88989 closed

[2022-03-16 08:52] GitaraniSharma-MSFT commented on #89919
@epime , thank you for your feedback. We have assigned this to the content owner/author for review.

@mscatyao , for your review.

[2022-03-16 08:55] omgitsjocke opened #89920 "Private Link zone privatelink.adf.azure.com breaks communication with ADF from Portal"
# Azure Data Factory Private Endpoint - Portal
We are currently onboarding private link domains to our central DNS according to this list:
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns

We have encountered issues with one of the domains used for ADF.
When we created privatelink.adf.azure.com and mapped it to our hub vNet suddenly our corporate users could not access ADF

[2022-03-16 09:02] pvrk commented on #89892
@adityabalaji-msft : Can you please check this out and reply?

[2022-03-16 09:09] VikasPullagura-MSFT commented on #89862
@maweeras-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-03-16 09:09] VikasPullagura-MSFT commented on #89862
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-03-16 09:14] despallier opened #89921 "PublicIPCountLimitReached not mentioned on page"
Hi,
I was looking for some info about the reasons why my databricks cluster remained in the pending state.
I found an error code 'PublicIPCountLimitReached'...but [this](https://docs.microsoft.com/en-us/azure/azure-resource-manager/troubleshooting/common-deployment-errors) did not mention it...
I'll probably have to look elsewhere for an explanation.
Rgrds,
-Jan

---
#### Document Details

⚠ *Do n

[2022-03-16 09:31] VikasPullagura-MSFT commented on #89545
@Bogdan-Stancescu-RBC Doc is updated, changes will go live once it is approved.

[2022-03-16 09:31] #89545 closed

[2022-03-16 09:31] VikasPullagura-MSFT commented on #89549
@squasta Document is updated and changes will go live once approved.

[2022-03-16 09:31] #89549 closed

[2022-03-16 09:43] SadiqhAhmed-MSFT commented on #89911
@paulbaber Thank you for your post. We will look into and get back to you with details shortly.

[2022-03-16 09:57] saiKrish13 opened #89922 "Packet capture support on legacy SKU"
As per the document, packet captures aren't supported on policy-based gateways.
https://docs.microsoft.com/en-us/azure/vpn-gateway/packet-capture#key-considerations

However, packet captures feature is not present for legacy SKUs i.e Basic, Standard, High Performance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8509

[2022-03-16 10:02] hammar opened #89923 "Instructions create incorrect /etc/apt/sources.list.d/microsoft-prod.list on ARM64"
I am installing IoT Edge under Ubuntu 20.04 on a Raspberry Pi 4 (ARM64), which according to https://docs.microsoft.com/en-us/azure/iot-edge/support?view=iotedge-2020-11#operating-systems is a Tier 1 supported platform.

The installation instruction on page I'm presently reporting, under the heading `#install-iot-edge` includes the following commands:

[code]

Installing the package `packages-micro

[2022-03-16 10:03] ezYakaEagle442 opened #89924 "Build service applies also to standard Tier, not Enterprise Tier only"
The [pricing page](https://azure.microsoft.com/en-us/pricing/details/spring-cloud/) states that Build service applies also to standard Tier, not Enterprise Tier only, the docuementation should be updated accordingly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 049843d6-b368-d28a-b39b-bf96362b3007
* Version Independen

[2022-03-16 10:09] hammar commented on #89923
Resolution: manually editing the file `microsoft-prod.list` to read as follows seems to allow installation:

`deb [arch=amd64,arm64,armhf] https://packages.microsoft.com/ubuntu/20.04/prod focal main`

This is not a documentation issue, but rather an issue with the package `https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb`

[2022-03-16 10:13] ezYakaEagle442 opened #89925 "service registry support in Basic Tier"
The doc shows service registry requires Enterprise Tier but the [pricing page](https://azure.microsoft.com/en-us/pricing/details/spring-cloud/) shows that Basic Tier supports service registry , the 2 sites should be updated accordingly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f37fbae9-7fc5-20e0-64de-95761b9ea7f8

[2022-03-16 10:36] GitaraniSharma-MSFT commented on #89922
@saiKrish13 , thank you for your feedback. We'll review this and get back to you shortly!

[2022-03-16 10:48] frasmarco commented on #35923
Why it has been closed?

[2022-03-16 10:58] BlackPhlox opened #89926 "Update links for NuGet package reference for BlobStorage Trigger for Azure Functions Isolated process"
Current references for both tabs (`Extension 5.x and higher` &  `Functions 2.x and higher` ) are :
`https://www.nuget.org/packages//dotnet/api/microsoft.azure.webjobs.blobattribute`
when it should be `https://www.nuget.org/packages/Microsoft.Azure.Functions.Worker.Extensions.Storage.Blobs`

See image for further visual reference:

![image](https://user-images.githubusercontent.com/25123512/1585736

[2022-03-16 11:36] #89550 closed

[2022-03-16 11:38] JoelCanteroGCO opened #89927 "Error moving Azure Machine Learning workspaces between Resources Groups following a documentation article"
## Creating an issue

We are following the [next guide](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/machine-learning/how-to-move-workspace.md) for moving some Machine Learning workspaces between Resources Groups and we have noticed some errors:

1. In the ["Move the workpsace"](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/machine-learning/how-to-move-workspace.

[2022-03-16 12:16] ShaikMaheer-MSFT commented on #89747
@bnordberg OPENROWSET() function will work with serverless SQL Pool in Synapse Studio. Could you please check if are doing same?

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-03-16 12:22] kirilvalev opened #89929 "Cannot use same Redirect URI in Web and Public Client"
https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad#native-client-application

Step 3: In Redirect URI, select Public client (mobile & desktop) and type the URL <app-url>/.auth/login/aad/callback. For example, https://contoso.azurewebsites.net/.auth/login/aad/callback.

This does not work as the Redirect URI is already used in the Web Platform configuration. An

[2022-03-16 12:28] SumanthMarigowda commented on #89615
@MrDean0 Firstly, apologies for the delay in responding here
Information is already been updated, please to this article for more information https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-windows

![image](https://user-images.githubusercontent.com/80444138/158589957-f2f64f5d-f7ab-494c-8666-1a74befbc5dc.png)

We will now proceed to close this thread. If there are fur

[2022-03-16 12:28] #89615 closed