[2020-02-10 09:43] #46943 closed

[2020-02-10 09:46] jakaruna-MSFT commented on #47002
That  should be fine.  I will check and let you know.

If we are unable to solve, Lets engage the Azure support.

If you are unable to create a support request, Send your subscription id to this email id azcommunity@microsoft.com   .   Send the email with this github id in the subject .
I will enable a one time free support for you.

Once your issue is resolved, Please post the resolution here.

[2020-02-10 09:52] VikasPullagura-MSFT commented on #47482
@ChristianMontoya Please add comments.

[2020-02-10 09:53] VikasPullagura-MSFT commented on #47758
We will now close this issue. If there are further questions on this, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-10 09:53] #47758 closed

[2020-02-10 09:55] deepbass opened #47764 "Misleading Language "VM's" rather than "Hosts" or "Instances""
This article uses the language "VM's" rather than the more accurate and Hosts/Instances. This is pretty confusing to new developers who aren't familiar with Serverless as it seems to indicate that Durable Functions runs on Virtual Machines as a scaling pattern rather than Azure Functions. Whilst under the hood that may be true, it isn't accurate in the context of this article.

---
#### Document D

[2020-02-10 09:56] pvrk commented on #46683
Thanks for the feedback @SaurabhSM . I have updated the example in the document.
#please-close

[2020-02-10 09:56] #46683 closed

[2020-02-10 10:03] jakaruna-MSFT commented on #47558
@AlexanderViken Raised a PR to change the `--id`

@mlearned please add a note or add additional command to support guest user login.

[2020-02-10 10:03] jakaruna-MSFT commented on #47558
@AlexanderViken
 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-10 10:13] RohitMungi-MSFT commented on #47721
@michaelnemtsev The code for authenticateClient() is available [here ](https://github.com/Azure-Samples/cognitive-services-python-sdk-samples/blob/master/samples/language/text_analytics_samples.py#L22)for reference. @aahill Is it possible to add this to the documentation?

[2020-02-10 10:15] ferronsw opened #47765 "GA date"
I can't find any roadmap item for the expected GA date.
Is there such item on (https://azure.microsoft.com/en-us/updates/).
If not is there a target date available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cae64682-9fd6-28e0-4c60-a003cc06f92c
* Version Independent ID: fa1d2de6-c27d-f750-8f35-94c379708000
* Conten

[2020-02-10 10:16] rameshkr1994 opened #47766 "How to pass Dynamic param for On-Premise Sql data link services using ADF Pipeline"
Dear All.
I have use case for copy the data from On-Premise Sql server to Azure  Data Lake.

case 01:-
i have a controller table with azure sql db that contains all the Dynamic parameter value .
case 02:-
i want to pass there all parameter value automatically to the On-Premise sql Linked services creation and also for azure data lake storage.
case 03:-
these all value will come from my azure sql d

[2020-02-10 10:25] techsaau commented on #47738
while installing Azure Kubernetes Service, metrics-server is installed by Azure. Please check below link:

https://docs.microsoft.com/en-gb/azure/aks/tutorial-kubernetes-scale#autoscale-pods

I tried to install fresh AKS 1.14.8 and metrics server is not able to fetch any info of any pod. I can't make any changes to pod as well.

One more point, metrics-server is using below setting which is no lon

[2020-02-10 10:27] JasSuri commented on #47719
Content definitions provide the ability to modify the page content. Thus if a technical profile references a content definition, you are telling IEF that it will be customized based off of one. In that case, you must supply the content definition. That is why the starter pack does include the use of all of these, because none of the technical profiles reference it.

"Or if you're trying to accompl

[2020-02-10 10:39] #47051 closed

[2020-02-10 10:40] jakaruna-MSFT commented on #47756
@Ayanmullick
Thanks for the question! We are investigating and will update you shortly.

[2020-02-10 10:42] jakaruna-MSFT commented on #47759
@Jaans  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-10 10:43] jakaruna-MSFT commented on #47756
@Ayanmullick Is your container in running state

[2020-02-10 10:44] JasSuri commented on #47703
In Azure AD, you can set the Application Registration to issue the addressable "email" claim as an optional claim:
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims#configuring-optional-claims

We are updating this doc to add this reference.

[2020-02-10 10:58] AjayKumar-MSFT commented on #34979
Apologies for the delay! I understand the frustration with this.
@ccompy, Requesting you to review this feedback and help make appropriate changes.

[2020-02-10 11:10] hilvarenbeek commented on #43159
I read it as service1 is trying to contact service3 which happens to be in the same Service Fabric cluster, but still goes through the reverse proxy. Note that the services are in multiple nodes and service1 doesn't need to know which node is used by service3.

[2020-02-10 11:20] AjayKumar-MSFT commented on #45823
It's my pleasure. Thanks for your feedback. Greatly appreciated.

[2020-02-10 11:25] ben-oxley opened #47768 "Manual Azure AD configuration page"
I think the manual Azure AD on this page requires updating. I found that adding users to a replied application also required the Microsoft graph User.ReadBasic.All permission in addition to User.Read.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb2e7c5-e153-4067-ae8c-45eb64add7da
* Version Independent ID: 3c87633d-

[2020-02-10 11:27] SadiqhAhmed-MSFT commented on #47725
@chekalinsg I have raised a PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/10375 with the corrections you suggested. Waiting for the approval/merger by the content owner. Once the PR is merged the changes would go live in next few hours. Let me know if you've any questions in this matter.

Thanks once again for bringing this to our attention.

[2020-02-10 11:32] ChiragMishra-MSFT commented on #47762
@torbenboeck Thanks for reaching out. We are investigating into the issue and will update you shortly.

[2020-02-10 11:34] AjayKumar-MSFT commented on #47765
@ferronsw, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-02-10 11:38] torbenboeck commented on #47762
Hi,

I found out what the problem is. It is because the way blank limits under debug settings are handled have been changed. This is a bit frustrating, because, I ended up spending quite a bit consumption time (i.e. money), finding this out. I’ve created an issue related to it on this page:

 <https://docs.microsoft.com/en-us/azure/data-factory/concepts-data-flow-debug-mode> https://docs.microsoft

[2020-02-10 11:39] jakaruna-MSFT commented on #47756
@Ayanmullick After clicking on connect, below dialog box appears
![image](https://user-images.githubusercontent.com/43405697/74146803-e81ef580-4c27-11ea-96c3-de4aad4b71aa.png)
Click on the radio button before the text box which has "custom" in it

Then enter "cmd.exe" or "powershell.exe" in that text box and click on connect.

It will work

[2020-02-10 11:40] ChiragMishra-MSFT commented on #47762
@torbenboeck Sorry for the inconvenience. Glad to hear that the issue was resolved. I will now proceed to close this issue now. Feel free to still comment and tag me if you have any queries regarding the same.

[2020-02-10 11:42] torbenboeck commented on #47762
Perfect. But what about the lost consumption? It’s a bit of a problem for us, that we end up spending quite a lot of money, debugging the ever changing world of data factory. Especially, when the error messages are as non-descriptive as it the case.

Best, Torben

Fra: ChiragMishra-MSFT <notifications@github.com>
Sendt: 10. februar 2020 12:40
Til: MicrosoftDocs/azure-docs <azure-docs@noreply.githu

[2020-02-10 11:44] alex-mason-jdas commented on #47703
To be specific, my question is on the page around B2C federating to Azure AD and how to get the email claim exposed. I am not sure optional claim is the answer on my question, is it?

[2020-02-10 11:45] JasSuri commented on #47703
Yes it is the solution. AAD will then return the email claim in its token to B2C if the user has an Exchange online mailbox, and then B2C can then issue it in its token.

[2020-02-10 11:53] SteveColegrove commented on #47132
Yes, my company has never before used ITSMC at all, so the ITSM connection have definitely been created from scratch.  Even so, when working with my original Service Manager instance, I've deleted and re-created the ITSM connection three times but there's been no change in what SM templates can be used.

With the second SM instance, I've create the ITSM connection once and the behavior is the same

[2020-02-10 11:58] VaibhavVilasPandit opened #47769 "API Management service backup and restore"
Allow access from control plane to Azure Storage Account, if it has firewall enabled.
Q. How can we identify which IP address to be configured to open the set of Azure API Management Control Plane IP Addresses on their Storage Account for Backup to or Restore from ? Or we need to whitelist all ?
I have resources in uks but when checked with support team they gave me blocking IP which was belonging

[2020-02-10 12:04] RohitMungi-MSFT commented on #47730
@PatrickFarley @NHaiby Could you please review and update if customers need to submit a request form for getting access to Form recognizer and labeling tool?

[2020-02-10 12:06] dinesh71 commented on #47021
Hi, It directly sending the request to https://login.microsoftonline.com?

[2020-02-10 12:14] balintbako commented on #47658
Hi @DixitArora-MSFT,

Thank you for your reply!

I did almost exactly as described in "Access storage accounts through a trusted virtual network", but I added the service endpoint into all 4 subnets used by the ISE vnet injection (and that didn't work).

Could you please give a bit more details how to perform "add that virtual network to the trusted virtual networks list"?

Regards,
 Balint

[2020-02-10 12:20] AshokPeddakotla-MSFT commented on #47732
@tmhui94  Azure IoT Edge devices does support module configuration through a proxy server. This documentation has detailed steps to [Configure an IoT Edge device to communicate through a proxy server](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-configure-proxy-support). In case if you haven't checked earlier, please go through the documentation and let us know if you have further querie

[2020-02-10 12:27] AshokPeddakotla-MSFT commented on #47768
@ben-oxley Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-10 12:29] baardhermansen opened #47771 "Wrong picture under numbered heading "In the Manage section, click Devices.""
The picture is showing the result *after* clicking **Devices** in the **Manage** section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8119688-e88d-2916-3dcf-bf777a5fc80c
* Version Independent ID: e767d695-1c9f-64e4-e6c4-fef07b0f3d2e
* Content: [How to manage devices using the Azure portal](https://docs.microsoft.co

[2020-02-10 12:49] AshokPeddakotla-MSFT commented on #47437
@leela-uppuluri This would require further troubleshooting to find out the root cause. Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2020-02-10 12:58] RohitMungi-MSFT commented on #47698
@vcuomo74 The issue could be due to the endpoint used. Could you please try to use the endpoint details as mentioned in your resource page on Azure portal? Ex: `https://<resource-name>.cognitiveservices.azure.com/`

I have run the tutorial following the steps and it successfully provided an output for a local image.
![image](https://user-images.githubusercontent.com/46958063/74151846-0b9b6d80-4c33

[2020-02-10 13:19] #47555 closed

[2020-02-10 13:19] SubhashVasarapu-MSFT commented on #47104
@dcbrown16 , Appreciate your patience. As discussed offline, I will be assigning this issue to the respective content author for updating the document accordingly.

[2020-02-10 13:20] Fra-nk commented on #47703
Is there a recommendation/ranked order which you suggest to follow (at least **when federating to Azure AD**), e.g.

1. `email`
2. `AlternativeMails`/`otherMails`
3. `upn`
4. ...

Initially getting the claim to show up is one thing, having it make sense is another...
This gets more problematic with generic federations, but for AAD federation I would expect there to be more or less standards which

[2020-02-10 13:26] nolavime commented on #47132
@olalavi - do you know if there is any limitation on the number of templates or kind of templates in the ITSM definition?

[2020-02-10 13:30] Jaans commented on #47759
Thanks, I've updated the original with some screenshots showing the issues

[2020-02-10 13:32] ilayn commented on #16481
Exactly. It uses a limited permission user called `grafana` (if not changed deliberately).

This issue is basically preventing any persistent storage binding in production because we can't rely on the health of the docker container which is exactly the reason we use Docker containers in the first place. Is there any non-elevated user enabled storage that we can attach to?

[2020-02-10 13:34] JasSuri commented on #47703
Azure AD has its own rules as we see with other IdPs. The Azure AD docs explain what claims are issued and for what reason in the link I sent in my last comment. In B2C you are free to map those to anything you like.

We don’t provide exact guidance on what you might map because it can change on the requirement. Rather we show the mapping process.
In your case you want the **addressable email**, i

[2020-02-10 13:36] ilayn commented on #44802
Any news on this issue?

[2020-02-10 13:44] Stangg187 opened #47773 "Page is unclear"
Option 3 talks about deploying into the same vnet as the cluster but it is not clear if this would also work by deploying the APIM into a vnet that is peered with the cluster.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64c50ed1-29bd-6ec8-7c57-60a6a76d36be
* Version Independent ID: ed403a70-b955-347d-72e6-c875e88cce

[2020-02-10 13:50] dominicbetts commented on #42909
@qusp66 - I believe this has been fixed in the code - see [Azure/Industrial-IoT#153](https://github.com/Azure/Industrial-IoT/issues/153). I'm closing this issue now but please reopen if you have any follow-up questions. Thanks

#please-close

[2020-02-10 13:50] #42909 closed

[2020-02-10 13:51] dominicbetts commented on #39257
Hi @qusp66 - I didn't hear back from you, so I'm closing this issue. Please reopen if you have any further questions or information. Thanks!

#please-close

[2020-02-10 13:51] #39257 closed

[2020-02-10 13:52] KalyanChanumolu-MSFT commented on #47447
Its been a while we heard from you.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-10 13:52] #47447 closed

[2020-02-10 13:59] KalyanChanumolu-MSFT commented on #47559
@AnjaniChallamcherla I followed the instructions on the tutorial to cross check and was able to get it working without any issues.

Support on GitHub is limited to Documentation only.
We’d be happy to answer this on the forums and walk you through whatever might be giving you trouble. Doing this on the forums allows us to help out other people who may have the same questions as you.

Please post t

[2020-02-10 14:01] KalyanChanumolu-MSFT commented on #47624
@wy193777 Its been a while we heard from you. We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-10 14:01] #47624 closed

[2020-02-10 14:02] twomm commented on #46879
@BryanTrach-MSFT My question was more about excluding by wildcard, as _backup.filter is about excluding - not including.
So is excluding by wildcard supported?

[2020-02-10 14:02] watahani commented on #45285
Hi @rwike77 , @SaurabhSharma-MSFT
Is there any update?

[2020-02-10 14:07] iTzanetos opened #47774 "Language support"
Hello,

On the landing page it is mentioned that currently English language is supported, while on this documentation page that "input must use Latin characters", from which I understand that more languages than English can be used. Why is that? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 400d903c-36d4-e20b-

[2020-02-10 14:10] RyanHill-MSFT commented on #47630
Hi @jonwbstr, I followed up with the team. They are working to get that integration in, see Azure/azure-powershell#10518. I realize this is for a powershell command but the issue does contain information on the ARM template which will provide insight into how API will work.

Hope this helps.

[2020-02-10 14:10] m1nkeh commented on #47640
cool, as requested: https://stackoverflow.com/questions/60151916/azure-data-factory-github-integration-private-repo

regards!

[2020-02-10 14:10] JeremyTBradshaw opened #47775 "What is "Office Premium"??"
I don't believe you have a product in existence named "Office Premium" yet I've noticed the term is used on this page multiple times.  I don't know if you mean Office 365 Business Premium or something else, but it should be clarified.  If it is slang for Business Premium, it should still be clarified.  If it is something else, that should be clarified too.  If there is some product actually called

[2020-02-10 14:12] JeremyTBradshaw commented on #47775
Meant to say, it would be weird if you are referring to Office 365 Business Premium, considering this statement:

"Azure AD comes in four editions — Free, Office 365 apps edition (for Office 365 Premium E3, or E5 customers), Premium P1, and Premium P2."

That is, because there is no such thing as "Office 365 Business Premium E3".  So the confusion is compounded even more with that statement.

[2020-02-10 14:20] sbjeletich commented on #19698
Thank you! I had not seen this.

Sharon Bjeletich
Principal Data Architect
—
410 N Michigan Ave N650, Chicago, IL 60611
O: +1.973.630.9326  |  C: +1.212.203.6504

[cid:image001.png@01D54BAE.48802CD0]<http://www.capaxglobal.com/>

From: Ed Elliott <notifications@github.com>
Sent: Sunday, February 9, 2020 5:08 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: sbjeletich <sbjeletich

[2020-02-10 14:23] jeremytbrun opened #47776 "Failed to discover OS information for onboarding"
When running the onboarding script provided by the Azure Portal for azcmagent.exe I get the following error after signing in via device login.

level=error msg="Failed to discover OS information for onboarding" Error="fork/exec C:\\Python37\\Lib\\cmd.py: %1 is not a valid Win32 application."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-02-10 14:23] NavtejSaini-MSFT commented on #47676
@theGrower Yes Microsoft.Data.SQLClient is the way forward and System.Data.SqlClient is in maintenance. Here is the document for the same.
https://devblogs.microsoft.com/dotnet/introducing-the-new-microsoftdatasqlclient/

@GithubMirek Please convey if we can go ahead and swap/edit these namespaces for this document.

[2020-02-10 14:27] dominicbetts commented on #43592
#please-close

[2020-02-10 14:27] #43592 closed

[2020-02-10 14:33] andyischaos commented on #47704
@jakaruna-MSFT oh, I didn't notice that. So is there any solution to increase the storage of OS disk?

[2020-02-10 14:48] HaimBendanan opened #47777 "Giving key vault access to all data factories in subscription"
Is it possible to give key vault access to all data factories in subscription instead of adding each managed identity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4a11102-d44f-c7d2-c6b1-ec2b2a8b6055
* Version Independent ID: 7eb0fce9-55db-6851-4ada-2316fe8049cf
* Content: [Store credentials in Azure Key Vault - Azu

[2020-02-10 14:49] Ayanmullick commented on #47756
@jakaruna-MSFT , Thanks for pointing out. Is there a way to connect to this container instance thru Visual Studio Code which is the default PowerShell scripting tool now?

[2020-02-10 14:49] torbenboeck commented on #47762
@ChiragMishra-MSFT: I can see you closed the issue. I don't think the issue is actually closed. I just found a work-around, but I still think the underlying issue should be resolved, which is that you no longer can add blank limits and you get a cryptic error message if you do so.

Best, Torben

[2020-02-10 14:51] theGrower commented on #47676
Thanks for the update. There are still two more problems. Line 121 `new AD.PlatformParameters(AD.PromptBehavior.Auto),`, the constructor for PlatformParameters takes in two arguements ( PromptBehavior promptBehavior, ICustomWebUi customWebUi ) which is not accounted for.

Line 142 `new AD.UserPasswordCredential(` there is no longer a UserPasswordCredential method. Looks like another replacement? I

[2020-02-10 14:55] sean8544 commented on #29343
I also got the same issue on "Windows" web app services.

[2020-02-10 14:57] RyanHill-MSFT commented on #47130
@PHATGZA, @TynThordin, @andecreation I've heard back from the team and they are aware of this feature gap. While there are plans to be bring BYOS to single container scenarios, there currently aren't plans for multi-container compose scenarios. However, once single container BYOS goes GA, they will have a look at how to bring that over to multi-container.

Unfortunately, file locks can't be guaran

[2020-02-10 14:58] #47662 closed

[2020-02-10 14:59] bigdatamoore commented on #47465
@CHEEKATLAPRADEEP-MSFT , @ShawnMcGough I feel this should not be closed as the current instructions will not work on Windows as the install of extensions is failing with the latest az cli.  Correct me if I am wrong.

[2020-02-10 15:01] DixitArora-MSFT commented on #47769
@mikebudzynski Any inputs in this ?

[2020-02-10 15:02] DixitArora-MSFT commented on #47764
Hi @deepbass Thanks for reaching out. We will review and update as appropriate.

[2020-02-10 15:04] DixitArora-MSFT commented on #47693
@ticianaciminari I have assigned this to content author for further review and update as appropriate.

[2020-02-10 15:09] DixitArora-MSFT commented on #47679
@janpalas Just following up to check if you have gone through this.

From inside the Startup.Configure method, you can extract values from the IConfiguration instance into your custom type using the following code:

[code]

[2020-02-10 15:10] BhargaviAnnadevara-MSFT commented on #47763
@triforcely Thanks for the bringing this to our attention! We'll evaluate and update as appropriate.

[2020-02-10 15:17] christianarg opened #47778 "Sign-in from unfamiliar locations: Clarify if the event it's triggered only by SUCCESSFUL sign ins or also FAILED signIns"
Docs state that "...The risk detection is triggered when the sign-in occurs from a location that's not already in the list of familiar locations..."
But it does NOT clarify if it refers to a SUCCESSFUL sign in (sign-in status success) or a FAILED sign-in( sign-in status failure). We're investigating alerts and having argument with MS support because although 99% of the events are triggered by succ

[2020-02-10 15:19] dominicbetts commented on #47094
Hi @mikemorrison111 - thanks for pointing this out. I'm updating the article to use netcoreapp3.0 explicitly - the updated version should publish shortly. Thanks, Dominic

[2020-02-10 15:19] dominicbetts commented on #47094
#please-close

[2020-02-10 15:19] #47094 closed

[2020-02-10 15:20] DixitArora-MSFT commented on #47672
@spelluru Any thoughts on this ?

[2020-02-10 15:29] icyfire0573 opened #47779 "Sort Assignments"
Can you please sort  the list of assignments alphabetically. Scrolling up and down to select everything you listed is not effective.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca2fb784-f7e9-6fad-9889-2dc6639bc0e1
* Version Independent ID: 8b90e35e-6918-1073-85f6-ad47786033c6
* Content: [Conditional Access - Require

[2020-02-10 15:33] GiftA-MSFT commented on #47774
@iTzanetos we will review your feedback and get back to you shortly. Thanks.

[2020-02-10 15:37] CharmanderJieniJieni commented on #47675
Thanks for the quick response. From what I understand both Service endpoint and Private Link enables private connection between traffic initialized from the VNet and the destination Azure PaaS service. Is this correct?

If so the traffic from on-prem does not fall into the scope because on-prem network does not have a Azure VNet. Would you please kindly clarify that?

Saying that, what if our on-p

[2020-02-10 15:46] nfgallimore commented on #47585
The document that is missing the link to the sample project is  https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-android-get-started#overview

[2020-02-10 15:53] #47493 closed

[2020-02-10 15:59] oscholz commented on #47553
#reassign: @IEvangelist Please update our documentation to reflect support for Swift.
The document above also references a quickstart table that points to our hub page. Please fix that, too. :)

[2020-02-10 16:06] michaelschmit commented on #47591
We are working on getting MMA up and running for security center reporting.  It seems there is some conflicting information on what needs to be opened up to get MMA reporting and installed.  What seems like the most accurate account shows that we need outbound rules (NSG and FW) for the service tags: Storage, AzureMonitor, and GuestAndHybridManagement.  If that is the case, I would expect Azure FW

[2020-02-10 16:06] OffColour opened #47780 "BGP IP address and Google Cloud"
This page says "but please note that it cannot be an APIPA (169.254.x.x) address."
Google documentation says "To set up BGP, an additional IP address has to be assigned to each end of the Cloud VPN tunnel. These two IP addresses must be link-local IP addresses that belong to the IP address range 169.254.0.0/16".

How do I make these conflicting settings work?

---
#### Document Details

⚠ *Do not

[2020-02-10 16:12] brandonh-msft commented on #40253
Agreed with this as well as:
1. C# Script Functions are now de-emphasized; we should move toward a write-and-deploy guidance.
1. [KeyVault now supports Event Grid events when keys are rolled](https://docs.microsoft.com/en-us/azure/event-grid/event-schema-key-vault); this documentation could (should?) be built around those; not the log-parsing shenanigans

[2020-02-10 16:13] w0ut0 opened #47781 "Can we know the outbound IP"
In Azure App Service, we have (possible)OutboundIP's.
It seems the outbound IP is not the same as the inbound IP for the Azure container instances.
Is there somewhere I can find this Outbound IP for the container instance?
Alternatively, is there a list of ranges that are documented for all the container instances in a region?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-02-10 16:13] brandonh-msft commented on #44064
Agreed, this should be in the docs @Zimmergren

[2020-02-10 16:17] alexkarcher-msft commented on #47543
Hello @dcbrown16 . Right now adding a firewall to your storage account is completely unsupported on all SKUs. We're hard at work getting this supported now that Premium plan is GA and virtual network integration is close to GA, but it's a particularly hard nut for us to crack.

I've never heard of the regional storage restriction before. Why do you need to deploy the storage account to a different

[2020-02-10 16:20] AshokPeddakotla-MSFT commented on #47732
Adding @arduppal for further details regarding specific question to answer.

[2020-02-10 16:22] grizzljt commented on #47526
When I trace the API via Fiddler, I see the following:
POST: https://main.iothub.ext.azure.com/api/dataPlane/put
[code]

But I have not found a way to replicate that via az cli.  Is this possible?

[2020-02-10 16:35] LauraBrenner commented on #47753
This should go to @Peter Schulz

[2020-02-10 16:39] neeleshray-msft commented on #47755
@kennethvs Thank you for the feedback. We will review and update accordingly.

[2020-02-10 16:41] neeleshray-msft commented on #47757
@yoichinak Thank you for the feedback. We will review and update accordingly.

[2020-02-10 16:43] GiftA-MSFT commented on #47516
@Koxzi95 It seems to be working for me now. Can you upload this [sample document](https://github.com/Azure-Samples/cognitive-services-sample-data-files/blob/master/qna-maker/data-source-formats/QnA%20Maker%20Sample%20FAQ.xlsx) to your SharePoint document library and try using the file's url to create a new KB or import to existing KB? Please try to import your file and let me know if you have any

[2020-02-10 16:43] neeleshray-msft commented on #47760
@Pancat007 Thank you for the feedback. We will review and update accordingly.

[2020-02-10 16:43] ermacia91 opened #47782 "ARM Template Deployment Using service principal"
Please, call out that if using ARM Templates for Connection deployments, service principals cannot be used. I have confirmed this by Azure CLI and customer deployment. Further details available if contacted (MS Internal).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7892e678-a98f-73fa-7c54-1a8a921f35c7
* Version Inde

[2020-02-10 16:44] neeleshray-msft commented on #47761
@Firewaters Thank you for the feedback. We will review and update accordingly.

[2020-02-10 16:45] silverl commented on #40132
Hello. Following up again.

[2020-02-10 16:45] jwargo commented on #34922
@BryanTrach-MSFT please close.

[2020-02-10 16:46] neeleshray-msft commented on #47766
@rameshkr1994 Thank you for the feedback. We will review and update accordingly.

[2020-02-10 16:47] ChristianMontoya commented on #47482
@thiagofborn : Thank you for the doc request. This doc item is currently in our backlog to create a new article. In the meantime, we have an ARM template exactly for this case here to update the VMs of a host pool with an updated image: https://github.com/Azure/RDS-Templates/tree/master/wvd-templates/Update%20existing%20WVD%20host%20pool .

@VikasPullagura-MSFT : As mentioned, we are tracking this

[2020-02-10 16:49] silverl commented on #43133
@NavtejSaini-MSFT, @stevestein - still no one has responded.

[2020-02-10 17:06] DCtheGeek commented on #47026
@whaakman Thanks again for the feedback.  The engineering team has been able to repro and is working to resolve this.  Since this isn't a docs issue, I'm going to close this, but did want to let you know they are working to fix it now that it's been identified.  I'll try to remember to follow-up here if I hear when it's fully mitigated.  Thanks again!

@MicrosoftDocs/azure-cxp-triage Please relabe

[2020-02-10 17:06] #47026 closed

[2020-02-10 17:08] lyrana commented on #47514
Replying here for public visibility, yes the 0.5 MBps limit will be raised when TSI is in GA

[2020-02-10 17:11] duk3ofed commented on #34828
+1

[2020-02-10 17:17] sthomas40 commented on #38311
Was it ever figured out what this error code was? There has been nothing documented by Microsoft for it

[2020-02-10 17:17] mike-urnun-msft commented on #47782
@ermacia91 Thank you for your feedback! We will review and update as appropriate.

[2020-02-10 17:19] BharathNimmala-MSFT commented on #47579
@szymonslipek Creating a Azure Dashboard which has links to either workbooks or additional dashboards as part of [custom markdown tile](https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-markdown-tile) with in Azure Dashboard. Please see if that helps solve your buisness needs, please be aware that any links with in the custom markdown tile will open has new browser window. Other opt

[2020-02-10 17:20] asasine commented on #47510
The bit about adding hostname support for xxx.trafficmanager.net to my backend was what I needed to get started on making this work, thank you.

[2020-02-10 17:22] nibaccam commented on #47743
@revodavid this option refers to creating a data profile (summary statistics, distribution of the data etc.) after dataset creation. Documentation has been updated with this detail. The update will be live in a few hours. If you feel your question has not been resolved please reopen this issue and tag @MayMSFT for further detail.

[2020-02-10 17:26] SaurabhSharma-MSFT commented on #47779
@icyfire0573 Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-10 17:27] dotnetgator opened #47784 "Does the Technical Profile Flow illustration need to be updated?"
The diagram and ensuing discussion related to the operational flow of Technical Policies https://docs.microsoft.com/en-us/azure/active-directory-b2c/technical-profiles-overview#technical-profile-flow has the Session Management strictly as a conclusion step. The way it is drawn, it implies that session values are saved, but from the discussion at https://docs.microsoft.com/en-us/azure/active-direct

[2020-02-10 17:28] Adam-Smith-MSFT commented on #47776
@jeremytbrun Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-10 17:30] KranthiPakala-MSFT commented on #47777
@HaimBendanan
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-02-10 17:32] yoelhor commented on #46535
Thanks @fume we are about to document this metadata (specially for REST API calls). We'll keep you posted soon.

[2020-02-10 17:37] MarileeTurscak-MSFT commented on #47771
@baardhermansen
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-10 17:38] Adam-Smith-MSFT commented on #47681
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-10 17:38] #47681 closed

[2020-02-10 17:38] taodevelopment commented on #37582
Hi @RohitMungi-MSFT. I tried with having scanned PDF invoices kept in our blob storage and got the error "No valid blobs found in the specified Azure blob container".  I'm using custom model training without labels.
What could be wrong? What further details would you require?

[2020-02-10 17:38] yoelhor commented on #47784
Dear @dotnetgator your feedback is highly appreciated and will help us to improve B2C documentation. Agree, the session should be added to the top of the diagram. I'll fix it soon.

Yoel

[2020-02-10 17:39] MarileeTurscak-MSFT commented on #47775
@JeremyTBradshaw
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-10 17:40] yoelhor commented on #47398
I'm doing some work on the UI customization this week. So, I'm going to include this section as well.

[2020-02-10 17:41] steele6599 opened #47786 "Function SelectUniqueValue not working"
I'm trying to use the function of SelectUniqueValue to create unique Display Names and Conical Names during the provisioning from Workday to Active Directory. We use the users Employee ID for their Universal Principal Name (UPN). E.g. 555555@domain.com

This is not working though. Does this function only work for UPN creation?

Here is the Expression I'm using:
SelectUniqueValue(NormalizeDiacritic

[2020-02-10 17:46] yoelhor commented on #47702
Thanks @shashishailaj the [multi-tenant Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant-custom?tabs=applications) is based on V2.  While [single tenant](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant-custom?tabs=applications) still uses the v1. I'll run some tests and u

[2020-02-10 17:49] msdpalam opened #47787 "New Method and code for the new method reference is vague and is not following the same method and pattern in the tutorials"
In the quickstart for .NET SDK, the flow provides the code snippets, in the context of methods. However, for the following section
"In a new method, add the following code. This code associates the names of persons with their example images.", I do not see any method name, to put the snippet in. Granted we can go back GitHub, the page written as is, it is hard to follow, not knowing we are suppose

[2020-02-10 17:54] #46886 closed

[2020-02-10 17:57] lucidqdreams commented on #47644
it actually looks like it is possible through Powershell.  Might be good to include a cross-link https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/configure-waf-custom-rules

[2020-02-10 18:00] wjia7 commented on #47348
To @TravisCragg-MSFT ,
Sorry for the late reply. I have been testing with the python SDK for azure. Is there an example you could provide on how the nic's IP config should be formatted when it's to be removed?

 I was looking into
https://docs.microsoft.com/en-us/python/api/azure-mgmt-network/azure.mgmt.network.v2019_11_01.operations.networkinterfacesoperations?view=azure-python#create-or-update-r

[2020-02-10 18:00] BharathNimmala-MSFT commented on #47580
Thanks again @PKingRoch for bringing this to our attention. I have raised a PR to update the link to the latest documentation, once reviewed the doc will be updated accoridngly.

[2020-02-10 18:01] femsulu commented on #47063
@nolavime , the English version of the abovementioned [content ](https://docs.microsoft.com/en-us/azure/service-health/resource-health-alert-arm-template-guide?source=docs#feedback)shows you as one of the authors.can you assist with this or point us in the right direction?

[2020-02-10 18:04] bakerm00 opened #47789 "clear statement on ML enterprise security and Azure AD b2b authentication is required"
as we have found there are unique challenges and limits of running Azure b2b with ML access;  MS needs to test this further.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5c3bce1-2494-6caf-728c-53127ae85329
* Version Independent ID: acdd8494-76aa-d47b-9735-7aea72613a95
* Content: [Enterprise security - Azure Machine

[2020-02-10 18:06] tfitzmac commented on #47063
@femsulu - can you remove azure-resource-manager from the label and add service-health?

[2020-02-10 18:07] FrankHu-MSFT commented on #47778
@christianarg Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-10 18:08] FrankHu-MSFT commented on #47786
@steele6599 Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-10 18:15] yushwang commented on #47780
@OffColour - APIPA addresses as BGP peer IP addresses are currently not supported. We are working on relaxing this constraint. I will not be able to provide a target date on the public forum, but this is something we are looking to address.

[2020-02-10 18:15] yushwang commented on #47780
#please-close

[2020-02-10 18:15] #47780 closed

[2020-02-10 18:15] lisaguthrie commented on #47671
@benmillaneasos - I ran through the tutorial again and validated that the sample code does work as written. The latest config provider (version 3.0.0-preview-011100001-1152) replaces the `UseAzureKeyVault` method with the `ConfigureKeyVault` method. See release notes [here](https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/MicrosoftExtensionsConfigurationAzureAppConfiguration.md)

[2020-02-10 18:17] tfitzmac commented on #47618
@glittle - thanks for this suggestion. Do you have more information about why the deletion was failing?

[2020-02-10 18:21] lisaguthrie commented on #47683
I spoke with @alohaninja offline. Part of the confusion was that the documentation for the referenced libraries doesn't make it clear that they are .NET Standard libraries that are available on both Core and Framework. I ran through the quickstart referenced myself, and confirmed that it does indeed work on .NET Framework.

[2020-02-10 18:22] tchristiani commented on #41465
#please-close

[2020-02-10 18:22] #41465 closed

[2020-02-10 18:24] tchristiani commented on #44542
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-02-10 18:24] #44542 closed

[2020-02-10 18:25] BharathNimmala-MSFT commented on #47612
Thanks again @andyjballgit for bringing this to our notice. I believe the capacity reservation property was getting assigned to the work space when you were creating , not sure if the capacityreservationlevel was increased and that's the reason you are seeing the cost going up.

Please reference [this ](https://azure.microsoft.com/en-us/pricing/details/monitor/) link for additional details on Azur

[2020-02-10 18:28] tchristiani commented on #47628
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-02-10 18:28] #47628 closed

[2020-02-10 18:30] tchristiani commented on #47575
Resolved #please-close

[2020-02-10 18:30] #47575 closed

[2020-02-10 18:32] tchristiani commented on #47229
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-02-10 18:32] #47229 closed

[2020-02-10 18:34] YutongTie-MSFT commented on #47787
@msdpalam
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-10 18:34] lobrien commented on #47415
Fixed in 0b36318

#please-close

[2020-02-10 18:34] #47415 closed

[2020-02-10 18:35] roygara commented on #47680
#assign: roygara

[2020-02-10 18:35] tchristiani commented on #47645
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-02-10 18:35] #47645 closed

[2020-02-10 18:35] marawanshalaby commented on #47575
not sure if this is actually resolved, the documentation hasn't been updated yet in either the english https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-language-support#migrating-between-tokenizer-versions or german version: https://docs.microsoft.com/de-de/azure/cognitive-services/luis/luis-language-support

[2020-02-10 18:36] vermagit commented on #23557
@chezhang Adding the above to the docs makes sense. I assume you've verified the correctness of the cmd line. Only comment I have is that you use the InfiniBandDriver<Windows|Linux> instead of the now deprecated HpcVmDrivers in the docs. Thanks for putting this in!

[2020-02-10 18:36] YutongTie-MSFT commented on #47789
@bakerm00
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-10 18:39] Karishma-Tiwari-MSFT commented on #47781
Thanks for the question. We are currently investigating and will update you shortly.

[2020-02-10 18:40] roygara commented on #47680
@DeanCefola Thanks for bringing this to our attention, we appreciate it! A public PR has already been submitted with this change and I've approved it. Accordingly that PR should merge later today and this should be fixed later today.

Because of that, I'll go ahead and close this out now. Thanks again!

#please-close

[2020-02-10 18:40] #47680 closed

[2020-02-10 18:45] nicksc423 opened #47793 "Add section for enabling CA on existing clusters"
I do not know why there is no section on adding the CA to existing clusters.  The command exists, you just have to know to visit your guys github page instead of the official documentation.

https://github.com/Azure/azure-cli-extensions/tree/master/src/aks-preview#enable-cluster-autoscaler-for-existing-cluster

Please add this, I don't want to have to search around the internet for information bec

[2020-02-10 18:46] KrishnaG-MSFT commented on #47780
@yushwang Thanks for sharing an update. 👍

[2020-02-10 18:48] FrankHu-MSFT commented on #47786
@steele6599  can you make sure that you've followed the rules for implementing this function?

[2020-02-10 18:52] upsilondynamics opened #47794 "Setting ContentType on Legacy SDK Windows.AzureStorage CloudFile (Core 3.1)"
It is no longer working as stated in the title, further reading:

https://github.com/Azure/azure-storage-net/issues/966

I'd like a resolution ASAP if this is a bug from going to .NET Core 3.1

[2020-02-10 18:53] viananth opened #47795 "Sample link under "Object Model" points to DotNet app instead of Java"
https://docs.microsoft.com/en-us/azure/key-vault/quick-create-java#object-model

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Fee

[2020-02-10 18:56] PavelPZ commented on #34239
Any news from Microsoft?

[2020-02-10 18:59] MarileeTurscak-MSFT commented on #47402
It's not possible. If you enable security defaults you can’t add additional Conditional Access policies and vice versa.

If you would like to make a feature request to change this, the best place to ask that is in User Voice where the PG will respond directly. https://feedback.azure.com/forums/169401-azure-active-directory

[2020-02-10 18:59] #47402 closed

[2020-02-10 19:00] CeciAc opened #47796 "Data location Switzerland & Germany missing"
@Allaen commented on [Mon Feb 10 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/621)

First table has missing entries for Switzerland and Germany.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: b285f539-0487-0de5-24ef-89f773a1081d
* Version Independent ID: b4f26f73-6b46-

[2020-02-10 19:00] oscholz commented on #47754
@PanosPeriorellis could you pleae have a look at this?

[2020-02-10 19:00] FrankHu-MSFT commented on #47778
@christianargRisk please see here :
https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-risk-events#sign-ins-from-ip-addresses-with-suspicious-activity

[2020-02-10 19:01] BharathNimmala-MSFT commented on #15134
@montoshdey Thank you for reaching out. As @GeethalakshmiG called out earlier on this thread that its not a documentation update and a suppor ticket needs to be raised, so would request you to please [raise a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) so that concerned team can further help you.

If you are not able to open the support ticket because of the support p

[2020-02-10 19:03] steele6599 commented on #37535
Any update on this?

[2020-02-10 19:03] tedway commented on #31354
Ahh, I see, thanks for the clarification! We'll need to update the docs.

[2020-02-10 19:09] IEvangelist commented on #47754
#reassign: @PanosPeriorellis

[2020-02-10 19:10] ChristianMontoya commented on #27800
@eelajah : We're working on the documentation and validating with customers. Apologies for the delay.

[2020-02-10 19:18] vDonGlover opened #47797 "Bad Link?"
The REST API link in this sentence: DNS records are managed via the Azure DNS management portal, REST API, SDK, PowerShell cmdlets, or the CLI tool.
Links to PowerShell content. Is that intentional?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd0a3a26-4d9a-9dde-734d-1ed812852bed
* Version Independent ID: 0402dbe1-91

[2020-02-10 19:25] CeciAc opened #47799 "managedIdentity"
@frankzo commented on [Sun Feb 09 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/566)

When using a managedIdentity in ARM deployments "clientId" doest not work; objectID does work but cannot be abstracted from the deployment.

clientID should be "ApplicationId": since this is working and can be abstracted by using reference('vmresourceid', '2017-12-01', 'Full').identity.principalI

[2020-02-10 19:26] IEvangelist commented on #47553
We are tracking this issue internally, and plan to update the docs accordingly in the near future. Thank you, #please-close

[2020-02-10 19:26] #47553 closed

[2020-02-10 19:28] RyanHill-MSFT commented on #47507
Thanks for the feedback @bowlerma! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-10 19:31] aahill commented on #47490
This should be fixed in the article now. #please-close

[2020-02-10 19:31] #47490 closed

[2020-02-10 19:37] steele6599 commented on #47786
1. not nested
2. match objects using this attribute is set to "NO"
3. Set to Only during object creation
4. this is for Workday to Active Directory User Provisioning

[2020-02-10 19:40] mgblythe commented on #47614
Thanks @jtracey93 and @BharathNimmala-MSFT - I'm looking into this, and I'll reply back here.

[2020-02-10 19:41] nolavime commented on #47063
resource health not GA yet.
adding @stephbaron

[2020-02-10 19:43] adityaramgopal commented on #47229
Is the product bug created internally or is there a github issue for the product bug to track?

[2020-02-10 19:46] nhwilly opened #47800 "Terminate orchestrations with sub-orchestrations"
I have a parent orchestration which calls multiple sub-orchestrations (it's a user interaction flow with multiple steps).

In my case, I wanted a want to simply terminate the sub-orchestrations that were in mid step waiting for user responses.  I tried and it threw exceptions.

The solution was to terminate the `parent` orchestration first, then terminate any running or pending sub-orchestrations.

[2020-02-10 19:53] aelmanaa commented on #47422
ok @tfitzmac . thanks, I'll create an issue on REST API project

[2020-02-10 19:53] #47422 closed

[2020-02-10 20:07] RyanHill-MSFT commented on #47130
@TynThordin, can you elaborate more on the errors you're encountering when trying to use Azure File Share with your App Service?

[2020-02-10 20:10] AjayKumar-MSFT commented on #47463
While it is recommended to Az modules, as noted in the document you can still use the AzureRM module, which will continue to receive bug fixes until at least December 2020

Yes! The Service Bus ASM PowerShell model (Get-AzureSBNamespace & Get-AzureSBAuthorizationRule ) are deprecated.  However, you could still use the commands which support the Azure Resource Management model in AzureRM.ServiceBus

[2020-02-10 20:11] leela-uppuluri commented on #47437
@AshokPeddakotla-MSFT  Sure, I will do that but I tried some workaround regarding this and I could able to pass through that issue and now I was having different error,
`Failed to load or parse file /root/.azure/azureProfile.json. It will be overridden by default settings`
`To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code FFZMDMFJV to authenticate

[2020-02-10 20:14] TomArcherMsft commented on #46954
@onkarthg

Could you try the following and let me know the results:

`
plugin: azure_rm

auth_source: auto

include_vm_resource_groups:
- ansible-inventory-test-rg

keyed_groups:
- prefix: tag
  key: tags
`

[2020-02-10 20:16] ecfan commented on #40331
@srcard, I'm not sure as this page needs a review pass for the latest information. Thanks!

[2020-02-10 20:20] jlian commented on #39536
@rezasherafat knows better than I do here - can you take a look?

[2020-02-10 20:21] erhopf commented on #42874
PR merged and fixing version issue here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/103831

#please-close

[2020-02-10 20:21] #42874 closed

[2020-02-10 20:30] RyanHill-MSFT commented on #47765
Hi @ferronsw, there isn't a target or definitive date in mind as things can change. But I can tell you the team is trying to go GA the first half of the year.

[2020-02-10 20:31] Karishma-Tiwari-MSFT commented on #47692
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

https://georgik.rocks/helm-3-x-fails-with-error-must-either-provide-a-name-or-specify-generate-name/

[2020-02-10 20:33] m-andersen commented on #47611
Thank you. Looking strongly forward to a solution for this as we can't put our app in Apple app store until Sign-in with apple is implemented. If this takes too long we have to change our whole authentication scheme and use another auth-provider as we need to go live now.

[2020-02-10 20:33] taromielnaz opened #47801 "How to install"
Hello,
what is the difference between installing with instruction here with creating terraform from the Azure "Create Resource"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78bafe84-4e50-785c-b4f6-e629127a80a9
* Version Independent ID: 34e5924e-2d7e-3bf2-0992-78eb59463a6a
* Content: [Install and configure Terraform

[2020-02-10 20:33] TomArcherMsft commented on #46954
This is effectively the same code as in the article, but when I copy the code from the article using the "Copy" button to my editor (Code). the code is malformed. I'm wondering if that isn't the issue.

[2020-02-10 20:34] Karishma-Tiwari-MSFT commented on #47699
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-10 20:42] Karishma-Tiwari-MSFT commented on #47687
I could not find API for VM sizes spec for Python. Please take a look at this document and let me know if this helps.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes

[2020-02-10 20:44] Karishma-Tiwari-MSFT commented on #47395
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
CC: @mlearned

[2020-02-10 20:46] Karishma-Tiwari-MSFT commented on #47793
Sorry for the inconvenience caused. It makes sense to have this information in this document.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-10 20:48] Karishma-Tiwari-MSFT commented on #47799
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-10 20:48] CeciAc opened #47802 "Regarding disabling of virtual nodes"
@philippn commented on [Mon Feb 10 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/622)

In your code example for removing the virtual network resources, the last command to execute is:

[code]

However, this doesn't work and results in the following error:

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitH

[2020-02-10 20:52] rits-development opened #47803 "Sample code"
Can you provide some sample code for the 'Specify different HTML for the iframe' workaround as well? I can't seem to get this approach working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8559ad3-5bb7-dc0a-8148-8b0c669bae1b
* Version Independent ID: a9d9d349-ba37-263c-5584-a779b34e3c6c
* Content: [Avoid page reload

[2020-02-10 20:53] Karishma-Tiwari-MSFT commented on #47801
@taromielnaz By 'creating terraform from the Azure "Create Resource"', do you mean creating it from **Azure Portal**?
This document describes steps to install Terraform on Azure Linux VM using **Azure CLI and Bash**.

[2020-02-10 20:55] nospoon4u commented on #42215
Are there any updates on this issue? It really is blocking our adoption of Front Door in my organization.

[2020-02-10 20:55] SaurabhSharma-MSFT commented on #47669
@AlexanderSaad Yes, you need to invite the user again as the old accounts will not work for the new tenant C.

[2020-02-10 20:57] LBMKRISHNA opened #47804 "modern authentication hyper link: Page not found"
https://aka.ms/modernauthga seems like not correct one.

Is this the right one? https://docs.microsoft.com/en-us/office365/enterprise/hybrid-modern-auth-overview

Thank you
BMK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f291181-8b5c-4a94-44e0-67e26d49d196
* Version Independent ID: 6025021b-236e-a68a-245c-2a5049f47

[2020-02-10 21:01] jejsloan commented on #47708
Any update?

[2020-02-10 21:06] AlphaCreative-Mike commented on #42215
@nospoon4u  - We are trying to implement everything through ARM templates but are routinely running into issues where either the ARM templates don't support what we need or there is no documentation for anything other than the most basic example.  Right now we are using a combination of ARM templates, AZ CLI and Azure Powershell to fully deploy our application.  Good luck!

[2020-02-10 21:14] normesta commented on #35270
Hi @kazshi. Thank you for your feedback. I've updated the page and the change should appear live this afternoon. In short, Premium is supported for logging only if you use a blockblobstorage account template. In other words premium block blobs support diagnostic logging but not metrics. That said, there is no way to enable this in the Azure Portal (at least in the short term). For now, you have to

[2020-02-10 21:15] normesta commented on #35270
#please-close

[2020-02-10 21:15] #35270 closed

[2020-02-10 21:21] ecfan commented on #46826
@radumg, could you please answer Kevin's question so that we can make progress on this thread? Thanks!

_"I'm trying to get clarity on why that information is needed. This will help us make sure we are communicate the right information in the right and in the correct place."_

[2020-02-10 21:23] ecfan commented on #47062
@philipstreet-hiscox, I have a PR that clarifies this information, but I'm also waiting on other updates that are in this topic. They'll go out at the same time, hopefully this week. Thanks!

[2020-02-10 21:26] ecfan commented on #43566
@divyaswarnkar, could you comment? I'd like collect the necessary info, so that I can get this work on the backlog. Thanks!

[2020-02-10 21:27] dougmolineux opened #47805 "Would be wonderful to add some information about what connection string is required"
For example does the primary connection string, used to connect to a subscription, work for connecting to that subscription's DLQ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9c35042-f064-0f34-8d16-ad40e829ca39
* Version Independent ID: 19d4a83e-55c8-8b9c-38a0-0e9a26ba2cdb
* Content: [Service Bus dead-letter queues

[2020-02-10 21:41] divyaswarnkar commented on #43566
Yes we should update the docs on the other feedback

[2020-02-10 21:43] Karishma-Tiwari-MSFT commented on #47000
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-10 21:43] #47000 closed

[2020-02-10 21:43] MarileeTurscak-MSFT commented on #47804
@LBMKRISHNA
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-10 21:50] divyaswarnkar commented on #47279
@mganeshphani  could you please confirm if this was SFTP-SSH connector ?

[2020-02-10 21:58] kgremban commented on #47526
@grizzljt Looking at the CLI reference for `az iot dps enrollment-group create`, I don't think it's possible right now. The same seems to be true of `az iot dps enrollment create`.

I see that you opened a duplicate issue on the CLI docs (https://github.com/Azure/azure-cli-extensions/issues/1248) and there's a matching issue on the individual enrollment doc (https://github.com/Azure/azure-cli-exte

[2020-02-10 21:59] CharmanderJieniJieni commented on #47752
To add on that, can Service Endpoint be enabled for these communications as well?

[2020-02-10 21:59] TravisCragg-MSFT commented on #47797
@vDonGlover Thanks for the feedback! I have updated the Rest API link to the proper page, which displays the [Documentation for Azure DNS Rest API](https://docs.microsoft.com/en-us/rest/api/dns/)

[2020-02-10 22:03] Phil-Jensen opened #47807 "Links to "Microsoft snapshot tools for SAP HANA on Azure""
This page has at least 3 links to a Github repo which are 404.  The links should point to https://github.com/Azure/hana-large-instances-self-service-scripts/blob/master/latest/Microsoft%20Snapshot%20Tools%20for%20SAP%20HANA%20on%20Azure%20Guide.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29783ec4-2f12-6b8b-2e1d-d

[2020-02-10 22:06] Karishma-Tiwari-MSFT commented on #47617
Changing the CIDR range is not supported. The cluster would have to be recreated.

Please post this as a product feedback here. This will allow the community to up-vote and for the product team to include into their plans.
https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/35325100-allow-ip-range-changes

[2020-02-10 22:10] blueelvis opened #47808 "Is there any per node SKU type pod limit?"
Hi,

For the AKS, is there any limitation on the number of pods which can be provisioned at max for a given VM SKU? For example, AWS has a list of these limits like these - https://github.com/awslabs/amazon-eks-ami/blob/master/files/eni-max-pods.txt

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18e73ba6-a06d-

[2020-02-10 22:19] mqunbar commented on #44015
+1

[2020-02-10 22:27] wesley-smith commented on #35172
From the [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings-legacy) for upgrading Activity Log export:

Which specific categories are missing from the old method? In determining whether to upgrade from the legacy experience, it seems important to know what categories are not included.

[2020-02-10 22:27] ecfan commented on #46429
I integrated Kevin's clarifications about NSG rules in an upcoming doc PR that has other updates. Should be published sometime soon.

[2020-02-10 22:28] wesmc7777 commented on #46923
We decided for quickstarts to start new users out by introducing the portal experience because they will need to learn to use the portal and it should be easier provided easy access to hub information.  As you mentioned we do have CLI instructions. They are introduced later in the How-To guides - [Create an IoT hub using the Azure CLI](https://docs.microsoft.com/azure/iot-hub/iot-hub-create-using-

[2020-02-10 22:44] santhoshbomma9 commented on #41979
Guys any update on this please? @femsulu

[2020-02-10 22:50] Jscholtes128 opened #47810 "Upgrade Run the upgrade script is using wrong file in step 3"
Step 1 downloads update-farmbeats.ps1 (update), but Step 3 calls upgrade-farmbeats.ps1 (upgrade)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfbd854d-e97b-7243-67d2-ecc20a0c0669
* Version Independent ID: c3cf4fff-b64f-7e2f-6ada-a4c10323a135
* Content: [Install Azure FarmBeats - Azure for Industry: Agriculture](https

[2020-02-10 22:54] eliot-trustm commented on #41926
I've just got stuck on the same problem and followed the steps here to create the service principal.

[2020-02-10 22:59] santhoshbomma9 commented on #42772
Any update on this please. It has been 3 months

[2020-02-10 23:00] santhoshbomma9 commented on #42442
any update on this please? It has been 3 months

[2020-02-10 23:01] santhoshbomma9 commented on #41979
It has been 3 months

[2020-02-10 23:01] santhoshbomma9 commented on #41922
any update on this please? It has been 3 months

[2020-02-10 23:02] santhoshbomma9 commented on #42779
any update on this please? It has been 3 months

[2020-02-10 23:03] bandersmsft commented on #47725
@chekalinsg Thanks for your suggested change and catching this error. Fixed with merged PR https://github.com/changeworld/azure-docs/pull/1364.
#please-close

[2020-02-10 23:03] #47725 closed

[2020-02-10 23:03] santhoshbomma9 commented on #43143
any update on this please? It has been 3 months

[2020-02-10 23:04] aahill commented on #47721
Thanks for opening this issue,
v3 of the Python library uses a different authentication scheme than the above code file, which is for v2. You can find the v3 client creation reference [here](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-ai-textanalytics/1.0.0b1/azure.ai.textanalytics.html). (Just as a note, this URL may change in the future).

The library includes methods (which are

[2020-02-10 23:10] santhoshbomma9 commented on #43973
@femsulu I still think my question is not answered
how much gap can I have between a SaaS subscription state from PendingFulfillmentStart to Subscribed.? Could we reopen for further discussion please?

[2020-02-10 23:12] mgblythe commented on #47614
@jtracey93 - it's the Global Administrator - I'll update the docs. Thanks for checking! #please-close

[2020-02-10 23:12] #47614 closed

[2020-02-10 23:19] michaelschmit commented on #47455
I agree ... I'm wrestling this right now and some more detail would be helpful.

[2020-02-10 23:42] Adam-Smith-MSFT commented on #47656
@dcrystalj Please submit feedback to: https://feedback.azure.com/forums/217298-storage since this more of a feature request and not related to the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-10 23:42] #47656 closed

[2020-02-10 23:43] radumg commented on #46826
Sure, the info is needed because
- the current & up-to-date version of `ServiceBus` NuGet does not work out of the box with the current LogicApps ServiceBus connector
- there is not enough publicly-available information that helps developers troubleshoot or indeed fix the incompatibility issue
- since LogicApps ServiceBus connector version cannot be changed when authoring a workflow afaik, as devs

[2020-02-10 23:44] KumudD commented on #47528
@dlydston The doc has been updated to address this issue.  Thanks!
#please-close

[2020-02-10 23:44] #47528 closed

[2020-02-10 23:48] Adam-Smith-MSFT commented on #47794
@upsilondynamics Could you please provide the documentation link you were referring to ? this medium is mainly for documentation bugs, not specific to product issues.

[2020-02-10 23:50] Adam-Smith-MSFT commented on #47795
@viananth Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-10 23:58] DarrinEide commented on #47205
@DavidRayner: Unfortunately the free API is not going to preform well for this use case because of how it is limited (both by call rate and response size). Additionally, the larger the offset the longer it will take to resolve a query making some queries simply not work using the free API due to the built in timeout. This is unfortunately a limit of the underlying indexing technology used by the s

[2020-02-11 00:00] YutongTie-MSFT commented on #47404
@ctstone
I have created a PR for this and waiting for the confirmation of the author. I will close this for now. Thanks for the feedback.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-02-11 00:00] #47404 closed

[2020-02-11 00:00] sandeepraichura commented on #47371
@Karishma-Tiwari-MSFT - There isn't a page for VMSS to comment on, so I guess we need a FAQ's section in one of the VMSS Pages

[2020-02-11 00:01] MarileeTurscak-MSFT commented on #47804
The link works for me and does not give a "page not found", but it does appear to be a bit old and outdated. I took your feedback and made a PR to update the page. I'll leave it open for @billmath to review. https://github.com/MicrosoftDocs/azure-docs-pr/pull/103886

[2020-02-11 00:01] #47804 closed

[2020-02-11 00:02] sandeepraichura commented on #41402
@genlin - Do you have an ETA on when this would be updated ?

[2020-02-11 00:04] YutongTie-MSFT commented on #47408
@PatrickFarley Could you please help with this issue? Thanks.

[2020-02-11 00:09] kgremban commented on #18297
@bramthedev Have you seen this conversation, which might answer some of your questions? https://github.com/Azure/iotedge/issues/631

[2020-02-11 00:09] GiftA-MSFT commented on #47774
@iTzanetos the document specifies that "Text must use the Latin alphabet (i.e English characters)" which is the alphabet used to write the English language. It doesn't mean that more languages than English can be used. Hope this helps. Thanks.

[2020-02-11 00:11] MarileeTurscak-MSFT commented on #47755
@kennethvs your feedback has been passed along CC: @msmimart

Please also post this to [User Voice,](https://feedback.azure.com/forums/169401-azure-active-directory) which is the best channel for sharing product feedback. https://feedback.azure.com/forums/169401-azure-active-directory

[2020-02-11 00:11] #47755 closed

[2020-02-11 00:12] YutongTie-MSFT commented on #47476
@diberry Thanks Dina.

@ionut-matei
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-02-11 00:12] #47476 closed

[2020-02-11 00:13] YutongTie-MSFT commented on #47495
@vishakha-cell
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-02-11 00:13] #47495 closed

[2020-02-11 00:13] YutongTie-MSFT commented on #47496
@kread2002
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-02-11 00:13] #47496 closed

[2020-02-11 00:14] normesta commented on #45633
#please-close

[2020-02-11 00:14] #45633 closed

[2020-02-11 00:19] YutongTie-MSFT commented on #47503
@sujayvsarma Could you please help me with the document you are referring to so that I can know who is the right person?

[2020-02-11 00:20] BigMorty commented on #14130
Sorry for the delay @MattHartz, I did not get a notification about this for some reason. You need to have the Service Fabric tools installed to see the SF orchestration option.

[2020-02-11 00:23] normesta commented on #43257
#assign:mdgattuso

[2020-02-11 00:24] normesta commented on #43257
Assigning author of CDN rules engine articles.

[2020-02-11 00:24] michaelsync opened #47814 "Regional Cores quota limitation - Failed to create the aks private in Free Trail subscription"
It would be worth to mention that it's required a minimum of 6 Cores to create the AKS private cluster. The Free trial subscription comes with only 4 Cores and not eligible to increase the cores as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498b

[2020-02-11 00:28] michaelsync commented on #47814
Error message:

[2020-02-11 00:31] Karishma-Tiwari-MSFT commented on #47738
@techsaau Can you please upgrade your cluster to the latest version 1.15.7 and let me know the results.

[2020-02-11 00:35] TravisCragg-MSFT commented on #36828
@inuvano-labs I was incorrect in my first statement, Web Apps with regional integration will not be able to use Azure Private DNS Zones. Custom DNS servers on the Virtual Network will work.

If you would like us to add this functionality in the future, please [leave your feedback at Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).

[2020-02-11 00:42] jeffwmiles opened #47815 "Conflicting guidance on Conditional Access policy"
This page describes a requirement for the emergency account as distinct authentication, with the sentence: "consider a different approach for these, such as using Conditional Access with a third-party MFA provider".

In a later section, the guidance states, "At least one emergency access account should be excluded from all Conditional Access policies".

These two statements are conflicting and are

[2020-02-11 00:44] JimacoMS3 commented on #7851
The topic has been updated to add the additional r script module to clean the temp and humidity columns. It's live now. Since I haven't heard back on this thread, I'm going to close it. Please @-comment me here or open another issue if you still have problems. Thanks!

Jimaco

[2020-02-11 00:45] JimacoMS3 commented on #7851
#please-close

[2020-02-11 00:45] #7851 closed

[2020-02-11 00:51] mike-urnun-msft commented on #47805
@dougmolineux Thank you for your feedback! We will review and update as appropriate.

[2020-02-11 00:52] KranthiPakala-MSFT commented on #37039
I was having issue in merging the PR so I have reopened this issue and assigned this to Content author to make necessary changes to the document.

[2020-02-11 00:53] mike-urnun-msft commented on #47800
@nhwilly Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-02-11 00:55] Karishma-Tiwari-MSFT commented on #47814
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-11 00:59] gvashishtha commented on #47733
@paulshealy1 can  you take a look at this?

[2020-02-11 01:04] asinn826 commented on #47480
Hey @marinnedea - thanks for calling this out! I will put this into the public docs for now, and we will hopefully also publish the config file into the rhelimage blob just like for RHEL 6 and 7. At that point I'll update the doc to be consistent with the procedure for RHEL 6 and 7.

@gbowerman, @paulmey - fyi

[2020-02-11 01:11] BhargaviAnnadevara-MSFT commented on #47671
@lisaguthrie Thanks a lot for updating the doc!

@benmillaneasos I see that the change reflects on the public doc now. Thank you for bringing this to our attention!

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-02-11 01:11] #47671 closed

[2020-02-11 01:11] JimacoMS3 commented on #47539
#reassign @JimacoMS3

[2020-02-11 01:11] JimacoMS3 commented on #44858
#reassign @JimacoMS3

[2020-02-11 01:12] JimacoMS3 commented on #38963
#reassign @JimacoMS3

[2020-02-11 01:15] dotnetgator opened #47818 "Is the CorrelationId event property missing a Default Value assignment via a Claim Resolver?"
It seems like the Correlation ID event property from https://docs.microsoft.com/en-us/azure/active-directory-b2c/analytics-with-application-insights#add-new-technical-profiles might be missing the Claim Resolver default value assignment as follows:
`<InputClaim ClaimTypeReferenceId="CorrelationId" PartnerClaimType="{property:JourneyId}" DefaultValue="{Context:CorrelationId}">`

---
#### Document D

[2020-02-11 01:30] MarileeTurscak-MSFT commented on #47717
Good catch! I made a PR to update this before I saw @yoelhor's comment but I'll leave it open for him to approve/reject.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/103903

[2020-02-11 01:30] #47717 closed

[2020-02-11 01:30] TravisCragg-MSFT commented on #47675
@CharmanderJieniJieni Service endpoint traffic must originate from the Virtual Network, but [Private Link can come over ExpressRoute or VPN](https://docs.microsoft.com/en-us/azure/private-link/private-link-overview#key-benefits) to the Virtual Network.

Using an Azure Firewall for a NAT as you described above will work for Service Endpoints, but it sounds like a Private Link is the best fit for yo

[2020-02-11 01:33] neeleshray-msft commented on #47796
@CeciAc Thank you for the feedback. We will review and update accordingly.

[2020-02-11 01:34] neeleshray-msft commented on #47802
@CeciAc Thank you for the feedback. We will review and update accordingly.

[2020-02-11 01:35] neeleshray-msft commented on #47803
@rits-development Thank you for the feedback. We will review and update accordingly.

[2020-02-11 01:36] TravisCragg-MSFT commented on #47348
@wjia7  You will most likely have to get the existing interface, remove the Public IP object  or reference, and then call the update function with the updated configuration.

[2020-02-11 01:47] MSNina123456 opened #47819 "Script Install-VMInsights.ps1 is still using AzureRm module"
Hi Team,
We already moved to Az module, so please help modify the script to Az module. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d385c06a-f7e4-8875-835e-8983b2fd5f9c
* Version Independent ID: 89f1c9ce-4f52-0a10-b464-e544a859b25d
* Content: [Enable Azure Monitor for VMs (classic) with PowerShell or template

[2020-02-11 02:00] NavtejSaini-MSFT commented on #47560
@wudong This is an upcoming feature and you will soon hear an announcement regarding this. This document has been created in preparation of the same. Please wait for few days for more updates.

[2020-02-11 02:09] randomITperson opened #47820 "GMSA support ?"
Does Azure Managed SQL support GMSA authentication ?

My app is setup on-premise with integrated authentication using a Group Managed Service account (GMSA) . When migrated to Managed SQL instance, would integrated auth via GMSA work ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3086bdb-4a75-e8ce-15aa-ad7713ee1803

[2020-02-11 02:16] kaseyshah opened #47821 "Next Steps lists service end points twice"
Next Steps lists service end points twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccae6ebe-53f3-8645-d5a8-7f918fee2861
* Version Independent ID: cf255b80-ee0b-7ec9-613a-ebbe9380dec4
* Content: [Azure Key Vault security](https://docs.microsoft.com/en-us/azure/key-vault/overview-security#feedback)
* Content Sourc

[2020-02-11 02:19] KalyanChanumolu-MSFT commented on #47724
@baatch We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-11 02:19] #47724 closed

[2020-02-11 02:27] femsulu commented on #42442
adding @ellacroi for assistance

[2020-02-11 02:28] femsulu commented on #41979
adding @ellacroi  for input.

[2020-02-11 02:30] femsulu commented on #41922
adding @ellacroi for input.

[2020-02-11 02:31] femsulu commented on #43143
adding @ellacroi for input.

[2020-02-11 02:32] KrishnaG-MSFT commented on #47819
@MSNina123456 Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-11 02:34] femsulu commented on #43973
Hi @santhoshbomma9, happy to continue the conversation. May I request that you send mail to AzCommunity@microsoft.com to discuss further? Please include your subscription ID and a link to this thread for context and I can work with you offline.

[2020-02-11 02:36] KrishnaG-MSFT commented on #47810
@Jscholtes128 Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-11 02:44] BryanTrach-MSFT commented on #46879
@twomm Apologies for the confusion. My response above was poorly written. The guidance is to exclude at the parent level open rather than use a wild card.

The use of a wildcard is not necessary in the _backup.filter to exclude items.

So let's say you have a path with the below images in the Images folder. You want to exclude all three images from the backup.

`\site\wwwroot\Images\brand.png`
`\s

[2020-02-11 02:47] BryanTrach-MSFT commented on #34922
@kaushik-hemant We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-11 02:47] #34922 closed

[2020-02-11 02:52] xiaoharper commented on #47478
@likebupt can you take a look?

@YutongTie-MSFT  please assign bug issues to @likebupt  going forward. She will be driving the doc work.

[2020-02-11 02:59] KalyanChanumolu-MSFT commented on #47559
@AnjaniChallamcherla We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-11 02:59] #47559 closed

[2020-02-11 03:01] KalyanChanumolu-MSFT commented on #47560
@wudong We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-11 03:01] #47560 closed

[2020-02-11 03:08] limjianan opened #47823 "compliant device?"
While i love this option, but this page do not have warning to exclude break-glass and service account.
Further, there is a high chance of lock out if someone implement this exactly.

I will exclude administrator; OR include device type for ios, android (exclude windows devices)

Hopefully no one has lock them selves by now.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-02-11 03:28] koratshail commented on #46601
@@AshokPeddakotla-MSFT,@PtwHub,@justinatomatic,@kgremban
Does anyone know how do I have started with these above links to form Edge Gateway?

[2020-02-11 03:43] likebupt commented on #47478
@pbartos @YutongTie-MSFT
Hi, Thanks for you feedback.
Sorry that currently designer does not support cached result of import data module. We are refreshing the docs, and will delete that part.
The "Using cached result" is in our backlog list. It would be better if you could share your scenario of using such feature, to help us set priority.

[2020-02-11 03:59] FrankHu-MSFT commented on #47786
@steele6599 when you say it's not working, what do you mean by that? Are you getting an error or are you getting some sort of a result that's not expected?

[2020-02-11 04:00] tmhui94 commented on #47732
@AshokPeddakotla-MSFT I already gone through the whole documentation.
My current IoT Edge device are currently running on a proxy environment which I able to download the module and configured the egentHub as well to send out the message under proxy environment.

However when I try to add this module > mcr.microsoft.com/azure-blob-storage into my iot edge device, this module doesn't sync this data

[2020-02-11 04:00] FrankHu-MSFT commented on #47718
Closing this issue as there is already a duplicate issue : https://github.com/MicrosoftDocs/azure-docs/issues/47786

[2020-02-11 04:00] #47718 closed

[2020-02-11 04:08] sujayvsarma commented on #47503
#azure-cxp #fail

[2020-02-11 04:08] #47503 closed

[2020-02-11 04:29] steele6599 commented on #47786
Oh i guess that would be useful.  So instead of creating a unique entry for display name provisioning from workday creates two Smith, Johns.  If you tried to create this manually in Active Directory
of course you would be notified and prevented.

Example of what I'm getting attached.

[Example1.docx](https://github.com/MicrosoftDocs/azure-docs/files/4184094/Example1.docx)

[2020-02-11 04:30] michaelsync commented on #47804
@MarileeTurscak-MSFT This link https://aka.ms/modernauthga doesn't work for me as well. It's linking to this https://www.microsoft.com/en-au/microsoft-365/blog/2015/11/19/updated-office-365-modern-authentication-public-preview/

[2020-02-11 04:36] Cl0udAwl opened #47824 "Change the primary and secondary DNS address for the Srv-Work network interface"
Hello,

When I try change the primary and secondary DNS, by to  Srv-Work virtual machine, I do not see "DNS Server" under Setting. Am I doing something wrong?

[2020-02-11 04:36] KalyanChanumolu-MSFT commented on #47820
@randomITperson Thank you for reaching out.

@danimir @GithubMirek Could you please help here.

[2020-02-11 04:38] VikasPullagura-MSFT commented on #47808
@blueelvis Thanks for posting your Query.
We don't have any limitation for given VM SKU sizes.

However, I will have the product team also add comment and confirm on this.

[2020-02-11 04:39] VikasPullagura-MSFT commented on #47808
@jluk Can you please add your comments on this.

[2020-02-11 04:45] iTzanetos commented on #47774
Hi thanks for the quick response, to be sure I understood correct - does that mean that I can use only English forms? thanks.

[2020-02-11 04:54] spelluru commented on #44420
#please-close

[2020-02-11 04:54] #44420 closed

[2020-02-11 05:02] MohitVerma-MSFT commented on #47713
Hello @mslot ,

I just wanted to check if you got a chance to check my previous response.

[2020-02-11 05:03] MohitVerma-MSFT commented on #47712
Hello @mslot ,

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue. Thanks for bringing this to our attention. We will now close
 this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. W

[2020-02-11 05:03] #47712 closed

[2020-02-11 05:04] woraperth commented on #47753
Cheers. Let me know if you need extra information. We were running it on the Azure Batch account and can confirm that it does not working correctly. It is trying to shut down the pool even though the task is running.

[2020-02-11 05:24] souravmishra-msft commented on #47634
Closing the thread for now.

[2020-02-11 05:24] #47634 closed

[2020-02-11 05:26] fowl2 commented on #34266
please add this information

[2020-02-11 05:34] souravmishra-msft commented on #47823
@limjianan, Thank you for reaching out and pointing this out. We are looking into this and will update the doc accordingly.

[2020-02-11 05:36] souravmishra-msft commented on #47815
@jeffwmiles, Thanks you for pointing this out. We are working on this and will update the document accordingly.

[2020-02-11 05:37] souravmishra-msft commented on #47821
@kaseyshah, Thank you for pointing this out. We are looking into this and will update the doc accordingly.

[2020-02-11 05:40] souravmishra-msft commented on #47818
@dotnetgator, Thank you for pointing this out. We are looking into this and will update the doc accordingly.

[2020-02-11 05:48] SumanthMarigowda-MSFT commented on #44632
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-11 05:48] #44632 closed

[2020-02-11 05:50] souravmishra-msft commented on #45318
@anis020, Thank you for sharing the update. Are you just deploying the app across multiple regions but under the same tenant? If yes, then for that app only one App Registration would be needed in AAD. For eg: We have registered a Web API in AAD's App Registration. Now that Web API can be used by other apps too. To do this just this API has to be added under the permission section of the other App

[2020-02-11 05:58] imshreya opened #47827 "Getting 400- bad request while using ogg format in rest API"
I am using the microsoft azure Speech to text REST API.
According to the docs, ogg and wav formats are supported in REST API. But, after uploading audio file of OGG format always getting 400- Bad request.

I am using following code to prepare request:
String url= "https://westus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1?language=en-US&format=simple";

      priv

[2020-02-11 06:00] zhouchong90 commented on #32504
Any updates guys? It's nice to know Service Bus provides server-side filtering feature, but I have no idea how to configure, or where to configure it... Please help.

[2020-02-11 06:02] MohitVerma-MSFT commented on #47683
Hello @alohaninja ,

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-11 06:02] #47683 closed

[2020-02-11 06:02] jakaruna-MSFT commented on #47704
You can stop Then  vm and extend the OS disk.
Then you need to start the Vm and login to the VM.  give df -h to see the new size for the os dick.

I just tried with ubuntu and it worked well

But its NOT recommended to store data in OS disk.  You can easily attach additional data disks to store additional data.

[2020-02-11 06:03] Karishma-Tiwari-MSFT commented on #47807
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-11 06:05] DixitArora-MSFT commented on #47689
@CeciAc I do agree with this and also it will be a bigger change as we need to be consistent across all the public docs. I will create the internal item for this with the content team. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-11 06:05] #47689 closed

[2020-02-11 06:12] ChiragMishra-MSFT commented on #47762
@torbenboeck Makes sense. I am reopening the issue and assigning the issue to the content owner. Thanks again for your valuable feedback.

@kromerm Can you please take a look at this?

[2020-02-11 06:16] DixitArora-MSFT commented on #47764
@deepbass  I have assigned this to content author to further review and update as appropriate.

[2020-02-11 06:23] umberbeard commented on #47747
Thanks for the response!

[2020-02-11 06:24] Haritha-Nuthi commented on #47142
Hi @ChristopherHouser ,

After installing SSL ceretificate to Trusted Root Certificate Authorities store on the Windows system, still Logic app fails with error server requires SSL Connection. Do we need to provide some where in Logic app or in Gateway to pickup a particular cetification for this particular connection?

Thanks,
Haritha Nuthi

[2020-02-11 06:26] mslot commented on #47713
@MohitVerma-MSFT I sure did. Just what I was looking for. I think the WorkerService vs AspNetCore is very well hidden. It comes from the same repository. It makes so much sense when reading about it.

[2020-02-11 06:27] Haritha-Nuthi commented on #47142
This the exact error: MQ: Could not Connect the Queue Manager 'EBNGWT': The Server was expecting an SSL connection.

[2020-02-11 06:35] RohitMungi-MSFT commented on #47721
@aahill Thanks for the update. It would be great if you can provide guidance on using v3 since it is still in preview. @michaelnemtsev We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-11 06:47] Srinivas-Potnuru commented on #47335
@DixitArora-MSFT  Not sure why you have closed this thread but we are facing the above issue if we try to use the azure function authorization filter mechanism for .net core 3.1 and i mentioned in the above reply with the link which we have followed to achieve that functionality in .net core 2.2

[2020-02-11 06:54] pbartos commented on #47493
Thanks for your answer. The temporary solution is to use the "Enter data manually" module and pass it to the Execute python script as dataset.

[2020-02-11 07:08] ferronsw commented on #47765
Okay, thanks!

[2020-02-11 07:08] #47765 closed

[2020-02-11 07:30] ShineSmile opened #47828 "please create relation between several id and secret with no identical naming pattern"
Application (client) Id in image: f8cd1fd9-...
in script: --aad-client-app-id 8aaf8bd5-1bdd-4822-99ad-02bfaa63eea7

Are these relation correct that:
--aad-server-app-id = App registrations Object ID
--aad-server-app-secret =  client secret
--aad-client-app-id = Application (client ID)
--aad-tenant-id = Directory (tenant) ID

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-02-11 07:40] teseus opened #47829 "Are there any cases which cannot move from a subscription to other subscriptions?"
Hello guys,

As I wrote in the title, are there any cases impossible to move?

I am in Korea, and Korean MS said, a movement would be impossible in special cases?
I am wondering if it is real..

please let me know.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b69d95cf-9933-cc22-7167-45d5fcb7be86
* Version Independent

[2020-02-11 07:41] CatchSandeepVaid opened #47830 "Send Events Above Code Not Working"
Above code to send events to event hub is not working:.
1. Instead of buildProducer(), i think its buildProducerClient().
2. Its giving error as "Exception in thread "main" java.lang.IllegalStateException: Timeout on blocking read for 60000 MILLISECONDS"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16baa4ee-ed4b-5fae

[2020-02-11 07:53] SLdragon commented on #46942
A routing example maybe you can refer:

[code]

if you start IotEdgeModule1, then Visual Studio would call ` iotedgehubdev start -i "input3"`

[2020-02-11 07:54] TynThordin commented on #47130
@RyanHill-MSFT I get the same errors as @PHATGZA "database locked". I'm using the Azure UI, so whatever mount options that defaults to. (I suppose it's READ/WRITE).

It's also the same issue when running SQLite on ACI as it uses Azure Files for storage (described in this issue: https://github.com/grafana/grafana/issues/20549#issuecomment-580743349)

It would work if we could specify mountOptions o

[2020-02-11 08:08] likebupt commented on #47493
@pbartos
Thanks for your feedback. Sorry for the delayed response.
Could you please explain more about your scenario which needs to pass pipeline parameter to execute python module?

[2020-02-11 08:08] abhirockzz opened #47831 "Improve "Availability" section"
The "Availability" section refers to the dotnet Event Hubs client "If you create a new EventHubClient object and use the Send method". This concept should be explained in a generic manner, highlighting the actual concept rather than alluding to a specific client SDK. For e.g. in this case, a producer has the option to delegate partitioning to Event Hubs in order to ensure load balancing and fault

[2020-02-11 08:24] DixitArora-MSFT commented on #47335
@Srinivas-Potnuru This channel is for driving improvements towards official MS Docs, for any product related question/issue,  it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity.

[2020-02-11 08:24] souravmishra-msft commented on #47635
@hukun01, Yes, the scenario you shared above should ideally work. Since to fetch the certs stored in an Azure Key Vault, it has to call the REST APIs **https://myVaultName.vault.azure.net/secrets/myCertName**. Since this uri is available on public DNS, so the VM extension can easily reach out to that uri provided the VMs is connected to internet.

Do let us know if any queries around this so that

[2020-02-11 08:32] abhirockzz opened #47832 "Add Event Hubs Go SDK reference"
The feedback actually does not belong to this page, but posted it here since I could not find a way to submit inputs specific to the "How-to guides &gt; Develop &gt; Programming guides" section.

It refers to .NET, Java, Python and JavaScript SDKs and points to their respective GitHub repos. It might be worth adding Golang SDK to the list which can point to https://github.com/Azure/azure-event-hub

[2020-02-11 08:36] PanosPeriorellis commented on #47754
We will soon start supporting more locales. For the time being these locales are not supported.

[2020-02-11 08:44] PramodValavala-MSFT commented on #47782
@ermacia91 Could you confirm if you have tried a template similar to the one described in the [docs for connections using service principals](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-azure-resource-manager-templates-overview#authenticate-connections)?

Also, is on-premises data gateway involved here? (since the issue is opened on its doc)

[2020-02-11 08:53] vcuomo74 commented on #47698
Hi RohitMungi,
issue solved.
BR

________________________________
Da: RohitMungi-MSFT <notifications@github.com>
Inviato: lunedì 10 febbraio 2020 13:58
A: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: vcuomo74 <v_cuomo@hotmail.com>; Mention <mention@noreply.github.com>
Oggetto: Re: [MicrosoftDocs/azure-docs] Status code 404, {"error":{"code":"404","message": "Resource not found"}} (

[2020-02-11 09:03] KrishnaG-MSFT commented on #47819
@MSNina123456 This issue is duplicate of #35575. Hope the update in #35575 helps!

[2020-02-11 09:04] KrishnaG-MSFT commented on #47819
@MSNina123456 Closing this issue for now. If there are further questions regarding this matter or further feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2020-02-11 09:06] 9songs opened #47833 "Is there a list which shows which Microsoft services are available in which usage location?"
As some Microsoft services are not available in all locations, I would like to know if there is a list which describes, which features are available in which usage location. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7e4fdb9-a3d4-e97b-de30-9904868b87a5
* Version Independent ID: fbade46e-55b3-3c50-9cff-6ec8

[2020-02-11 09:09] MSNina123456 commented on #47819
checked #35575: I've modified the statement and the change should be reflected later this morning. #please-close.
But I just checked the latest version of this script, it's still using AzureRm cmdlets for all!
and more #35575 is for special cmdlet issue, but this issue is for Az module update!

[2020-02-11 09:20] pbartos commented on #47493
I use Execute Python Script to train model with AutoML (because there is no direct module for AutoML train now) and I need to pass some parameters to it. E.g.: Max_horizon for the forecast. This parameter is needed also in other modules (evaluation, etc.). So would be useful to have it as a pipeline parameter for my training pipeline.

[2020-02-11 09:20] RohitMungi-MSFT commented on #47698
@vcuomo74 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-11 09:20] #47698 closed

[2020-02-11 09:21] RohitMungi-MSFT commented on #47682
@Alexx221x We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-11 09:21] #47682 closed

[2020-02-11 09:24] BurkusCat opened #47834 "Saving a transcription *and* the audio captured"
The SpeechRecognizer appears to take the live microphone audio and return the text transcription. Is it possible to also save an audio file from the SpeechRecognizer (what the user spoke into the mic)?

Or should I save the audio using something like https://github.com/NateRickard/Plugin.AudioRecorder for Xamarin at the same time as transcribing using SpeechRecognizer? Is it possible to use both t

[2020-02-11 09:29] KrishnaG-MSFT commented on #47819
@MSNina123456 The comment was more about "_While the script is using the old AzureRM module cmdlets, our guidance is to encourage customers to upgrade from that module to the new Az module and enable compatibility mode for these circumstances while leveraging the improvements of the new module with your custom scripts or scripts that the different product groups have updated using cmdlets from the

[2020-02-11 09:34] SujayJDesai commented on #47445
After the reactivation if the backups are working fine that should mean you are now connected to Azure. Could you please check the protection group configuration and make sure you have online backup is enabled? If yes and they are failing, please provide more details on the error that you see in the monitoring tab for this protection group.

[2020-02-11 09:41] dem108 opened #47835 "The last link in Next stpes, dataset with labels notebook is broken"
It refers to https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/labeled-datasets/labeled-datasets.ipynb which does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c02d3f15-dbc8-a1d7-6f95-2f3527d002f0
* Version Independent ID: 6c17f89c-c984-c4f5-d9

[2020-02-11 09:42] souravmishra-msft commented on #47731
@alexbakker, Thank you for reaching out. The MFA engine (PhoneFactor Service) is the only MFA service which is used by Azure AD as well as O365. I would suggest you to test the same app with Azure AD once and check if that gets you the MFA done. As far as I think it should work, but you can test and confirm the same. From my end I will also try to test this out once and share my findings.

I will

[2020-02-11 09:49] alexfingercce opened #47836 "Accurate description - shutting down the VM during the config helps"
The description is very accurate - we ran into difficulties because we mistakenly added a second IP-Adress-"set" to the Interface. Thus, if you see two private IP addresses, the routing of the virtual machine will not work anymore (observed behavior). Once get to exactly the situation described in this document, the vm can reach the internet and the routing inbound works, too.

We chose to switch

[2020-02-11 09:58] BhargaviAnnadevara-MSFT commented on #47763
@triforcely I have assigned the issue to the content author to check and update as needed.

[2020-02-11 10:07] dem108 opened #47840 "Add SDK/API link for creating and managing Labeling Projects"
Labeling itself is done by human, but preparing the project as part of the MLOps pipeline needs to be automated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e5558ba-c622-2fb4-318b-85dffa50980e
* Version Independent ID: 11408da5-766c-81d0-0225-3dfe7566e382
* Content: [Create a data labeling project - Azure Machine L

[2020-02-11 10:11] woutervanranst commented on #44872
I agree - screenshots need to be updated to reflect the new Peering experience

[2020-02-11 10:16] souravmishra-msft commented on #47731
@alexbakker, I just tried using the **Ageis Authenticator app** with Azure for doing the 2FA and it works fine. To set that up, you need to follow the following steps:

1. Login to [https://aka.ms/mfasetup](https://aka.ms/mfasetup)
2. From the Dropdown, select "**Use verification code from app or token**"
3. Check the Authenticator app or Token checkbox and select "**Set up the Authenticator App**

[2020-02-11 10:32] blueelvis opened #47842 "There is no example on using Azure Site Recovery with AKS Managed Disks"
Hi,

For the following section -
[code]

I couldn't find any sample or documentation which uses Azure Site Recovery to backup the managed disks which are utilized in AKS. The blog post which is linked also talks about Virtual Machines specifically and not about AKS or managed disks as a single resource but rather VMs with Managed Disks only.

Could you please clarify?

Thanks!

---
#### Document D

[2020-02-11 10:34] shashishailaj commented on #46834
Tagging @mrkarMSFT for any inputs.

@scale-tone When you say client-side customer managed Keys.  Are you talking about using a custom certificates vs generating a new certificate as mentioned in the article or anything else. I mean if you want to just use a PFX certificate that you have then you can [import it to your existing key vault from portal](https://docs.microsoft.com/en-us/azure/key-vault

[2020-02-11 10:39] oo2316oo opened #47843 "Please provide dependency to reload the model trained by the designer"
Hi, we can use the designer to train the model and the model can be registered or stored in blob storage . but there is no document mentions about what kid of packages we need to load the trained_model file.  Do we need JSON or PICKL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d019e5f-d971-b4f4-5fcf-2072ad30dec7
*

[2020-02-11 10:42] danimir commented on #47820
No. Supported authentication protocols are clearly listed on this page: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-aad-security-tutorial. You will need to transfer your accounts to AAD, or sync AD with AAD.

[2020-02-11 10:50] christoph-zenger-hcsg commented on #47344
I attach the two audios and an audacity screenshot of the audios from December 17th vs. January 10th. They clearly show the difference of 50ms. If you did not change anything on your silence configuration that means that the change of phonemes caused that change in end silence.

What is a range for silence time at the end of the audio that I can rely on? Can you guarantee it will stay above 650 ms

[2020-02-11 10:55] christoph-zenger-hcsg opened #47845 "text to speech REST API: silence at the end of generated audio - part 2"
@szhaomsft thanks for updates. Will now proceed to close this thread.

_Originally posted by @GiftA-MSFT in https://github.com/MicrosoftDocs/azure-docs/issues/47344#issuecomment-583507480_

[2020-02-11 11:03] s-bauer opened #47846 "Access multiple Backends"
I'm referring to https://github.com/MicrosoftDocs/azure-docs/issues/16325 and https://github.com/MicrosoftDocs/azure-docs/issues/43265

I have the same situation pretty much. I enabled the Authentication for my AppService and want to use the token provided by the "/.auth/me" endpoint to access my backend api as well as the microsoft graph endpoint. How do I do this? With the "additionalLoginParams

[2020-02-11 11:05] blueelvis opened #47847 "Could you please add information on the operating systems & their versions in a node?"
Hi,

Could you please specify the operating system and the version used when creating a Linux node pool and a Windows Node pool?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID: e3fc3851-ddc4-d26c-251d-6ae53d714081
* Content: [Frequently asked questi

[2020-02-11 11:07] christoph-zenger-hcsg commented on #47845
I wasn't able to reopen #47344 so I open a new ticket.

I attach the two audios and an audacity screenshot of the audios from December 17th vs. January 10th. They clearly show the difference of 50ms. If you did not change anything on your silence configuration that means that the change of phonemes caused that change in end silence.

What is a range for silence time at the end of the audio that I

[2020-02-11 11:08] RakeshkumarTaninki opened #47848 "Output binding is not working"
{
	"resource": "/d:/projects/eway-bill/python-azure/b2b/__init__.py",
	"owner": "python",
	"code": "unsubscriptable-object",
	"severity": 8,
	"message": "Value 'func.Out' is unsubscriptable",
	"source": "pylint",
	"startLineNumber": 6,
	"startColumn": 45,
	"endLineNumber": 6,
	"endColumn": 45
}

This is my code:
def main(inblob: func.InputStream, blobout: func.Out[func.InputStream]):
    logging.i

[2020-02-11 11:23] CHEEKATLAPRADEEP-MSFT commented on #47830
@CatchSandeepVaid  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-02-11 11:24] CHEEKATLAPRADEEP-MSFT commented on #47831
@abhirockzz  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-02-11 11:26] CHEEKATLAPRADEEP-MSFT commented on #47832
@abhirockzz  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-02-11 11:35] govardhan47 opened #47850 "Processing a file (upload to the function)"
I've sent a paylod with two pdf files through postman using POST method with content-type
: multipart/form-data.
I can read only one of the files if use func.HttpRequest.get_body(), which gets bytes.

How to receive the files as objects and process them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511

[2020-02-11 11:36] juhap opened #47851 "Add entry for "validation failed due to size limitation""
When I'm trying to import a relatively wide dataset with size of about 700MB from workspacefilestore I'm getting "Validation failed due to size limitation. " in the Pipeline designer

I can't find any documentation for the dataset size limits. Would be nice to have some information for example on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-02-11 11:42] PHATGZA commented on #47130
Hi Ryan,
thanks for the reply. The issue is not about BYOS specifically, but that there are no options available currently to run SQLite databases on any persistent storage option, regardless of single docker container or docker-compose deployment. Also without BYOS, if you choose the internal persistent storage option, it is not working anymore.

As TynThordin wrote I also assume that this can on

[2020-02-11 11:45] PHATGZA commented on #47130
With Grafana you have the option to deploy the database into Azure MySQL PaaS, so there is a good working alternative available. We are currently running exactly this scenario, Grafana in App Service Docker with MySQL database and Azure AD authentication.

[2020-02-11 12:10] jazelenk commented on #30997
Any update on when this might be available in the portal?

[2020-02-11 12:14] RohitMungi-MSFT commented on #47834
@BurkusCat Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-11 12:15] RohitMungi-MSFT commented on #47835
@dem108 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-11 12:16] RohitMungi-MSFT commented on #47840
@dem108 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-11 12:17] RohitMungi-MSFT commented on #47843
@oo2316oo Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-11 12:18] RohitMungi-MSFT commented on #47851
@juhap Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-11 12:26] jakaruna-MSFT commented on #47847
@blueelvis  Thanks for the feedback.
For linux node pool ubuntu 16 is used.
we cant change the OS option while creating a cluster and that's selected  by azure platform
May be we can add that as an FAQ.

@mlearned please add your inputs

[2020-02-11 12:28] VikasPullagura-MSFT commented on #47829
@teseus Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-11 12:29] VikasPullagura-MSFT commented on #47829
@cynthn Can you please check and add your comments on this.

[2020-02-11 12:29] VikasPullagura-MSFT commented on #47461
@MicrosoftDocs/aks-pm Please add your comments.

[2020-02-11 12:32] yoelhor commented on #47818
Thanks for your feedback. Your proposed change is staged. Should be published later today.

[2020-02-11 12:33] VikasPullagura-MSFT commented on #47828
@ShineSmile Thanks for the feedback!
Are you seeing any issue in the document?
Can you please elaborate more on the issue.

[2020-02-11 12:37] NavtejSaini-MSFT commented on #47676
@GithubMirek Please check if the whole document can be checked and corrected/enhanced.
@theGrower We are assigning this to our doc author for further review.

[2020-02-11 12:38] VikasPullagura-MSFT commented on #47802
@CeciAc I am able to reproduce the issue, I have reached out to internal team to check on this.

[2020-02-11 12:38] jakaruna-MSFT commented on #47842
@blueelvis
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-11 12:41] yoelhor commented on #47818
#please-close

[2020-02-11 12:41] #47818 closed

[2020-02-11 12:43] jakaruna-MSFT commented on #47842
@lastcoolnameleft please add your comments

[2020-02-11 13:09] Lilk commented on #23301
We are interested to what applies to a downscale? Will it incur a service disruption in going from P3V2 to P2V2 instances? Can we avoid it by provisioning more than 1 instance during downscale etc?
The documentation needs to be clear on this!

[2020-02-11 13:17] philipstreet-hiscox commented on #47062
We've found that a manual deployment via the Portal requires the following additional rules to be added;

Direction: Outbound
Source prefix: VirtualNetwork
Destination prefix: *
Destination ports: 80

Direction: Outbound
Source prefix: VirtualNetwork
Destination prefix: *
Destination ports: 443

Direction: Outbound
Source prefix: VirtualNetwork
Destination prefix: *
Destination ports: 53

The foll

[2020-02-11 13:18] MGoedtel commented on #47500
I'm including @vishiy from the product team to help answer this question.

[2020-02-11 13:26] michaelshire opened #47853 "Now GA? IE, reference to Private Preview needs to be removed?"
I had heard this is now GA.  Document should be updated to remove Private Preview references.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18ca6c6c-1247-26ee-227a-ea3270b6b1fc
* Version Independent ID: 3d56784d-6959-e9e2-c675-49263bc2adc8
* Content: [Configure Azure Private Link for an Azure Cosmos account](https://d

[2020-02-11 13:33] SubhashVasarapu-MSFT commented on #47836
@alexfingercce , We are looking into this query and will update you as soon as possible.

[2020-02-11 13:39] DixitArora-MSFT commented on #47850
Hi @govardhan47 This channel is driving improvements for official repo. If you have specific question to product , it would be best if you can create the product issue to the official [Azure Functions Repo ](https://github.com/Azure/Azure-Functions/issues)for better clarity.

[2020-02-11 13:41] DixitArora-MSFT commented on #47848
Hi @RakeshkumarTaninki Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-02-11 13:42] vishalsinghdev opened #47855 "How I can setup web UI for Azure Data box disk"
I want to access the web UI for Azure Data box disk.

Things I did  till now.
1. I recieved the data box disk to my place.
2. I connected the databox disk to the windows 2008 R2 machine.
3. I also downloaded the prerequisites : .Net framework 5.0, powershell module 5.1.
4. I unlocked the disk using powershell and able to get the drive.
5. Now I will start copying data from server to Azure databox

[2020-02-11 13:42] sladeedmonds opened #47856 "More detail regarding Premium SSD Single Instance Availability Sets"
I have seen numerous references within Azure documentation that VMs in a Single Instance Availability Set with Premium SSD receive a 99.9% SLA, even though there is only a single VM deployed (https://azure.microsoft.com/en-us/support/legal/sla/virtual-machines/v1_9/).

I am unable to find documentation that explains how and why this is possible.  What happens to a VM in a Single Instance Availabil

[2020-02-11 13:42] #47702 closed

[2020-02-11 13:50] dem108 opened #47857 "Add guidance to automate updating LastModified when a directory name is changed"
I can think of using Azure Functions to retrieve the event of directory name change, then browse all blobs under that directory and update the `LastModified`. I'd rather like Data Lake Storage Gen 2 indexer to support checking the directory renaming, but if not, it'd be great if we can provide more details/samples for the workaround.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-02-11 13:55] shashishailaj commented on #47691
@NeighborGeek The chrome version should work because I have tried a different chrome extension in the new Edge and it worked without any issues. I would suggest to try the same . In case it does not work , please do let us know here.

Thank you

[2020-02-11 13:56] shashishailaj commented on #46469
@jpietruszewski My apologies for the delayed reply , I am still awaiting some information from the back-end team and will update this thread accordingly once I have it.

Thank you.

[2020-02-11 14:01] yoelhor commented on #47654
Supported languages' default language is the language to be used as the default for **localized resources**, not custom UI (HTML template). Localized resource are the [string localization](https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization) in your policy. 

[2020-02-11 14:06] MGoedtel commented on #46559
@asears  - The HealthService is the name of the service on Windows when you install the Log Analytics agent for Windows.  On Linux, the service is omsagent. If you didn't install the Log Analytics agent on Windows, which is a dependency for the HRW role, this may explain why you don't see that service.  You can confirm by running the POSH cmdlet - get-service healthservice, or run this cmdlet to v

[2020-02-11 14:06] #46559 closed

[2020-02-11 14:16] spelluru commented on #47830
Hi @CatchSandeepVaid - Yes. It should be **buildProducerClient**. I will fix the article now. Sorry for the inconvenience.

I will try the code and see if I can reproduce the issue.

Meanwhile, please see samples on GitHub at:
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs

Thanks!

[2020-02-11 14:25] johnkors commented on #36505
Same issue. Subscribing.

[2020-02-11 14:25] bertrandpons commented on #47562
Hi @msrini-MSFT, just to be sure, this header you saw me is available with Akamai CDN, right?

[2020-02-11 14:29] BukeMan opened #47858 "Alternate host header"
It is not clear how to properly configure alternate host header.
In section 'Defining ports for role instances' it says '... applications are configured to receive requests from an alternate host header that is called “mail.mysite.cloudapp.net”.' However, it's not clear what else should be set up in order to be able to navigate to sub-sub domain url “mail.mysite.cloudapp.net”.

---
#### Document D

[2020-02-11 14:29] RoyKimYYZ commented on #38746
The error "Table output unavailable." still exists. Please reopen this documentation/cmdlet issue.

[2020-02-11 14:37] jbinard commented on #46351
@RyanHill-MSFT it's been 20 days since my answer saying that it's still not working. This is a major issue preventing our application to move to production.

[2020-02-11 14:43] MrCNeale opened #47859 "Missing resource type Microsoft.Portal/Dashboards"
Does not list length limits and valid characters for Microsoft.Portal/Dashboards

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9-6854-651a-483c-a1673eea9f9f
* Content: [Resource naming restrictions - Azure Resource Manager](https://docs.microsoft.co

[2020-02-11 14:49] msrini-MSFT commented on #47562
I tested with Microsoft standard CDN. I can test with Akamai and post the results.

[2020-02-11 14:50] wjia7 commented on #47348
@TravisCragg-MSFT, That is what I have been trying. In my example, I have a valid resource_group_name, network_interface_name, ipconfig_name, ip_address_object. I was able to update the IP address for the nic perfectly fine. However, I just don't know the syntax to dissociate the IP from NIC. There is no official documentation on this using SDK.

As I said, I have tried to set 'public_ip_address'

[2020-02-11 14:52] bertrandpons commented on #47562
@msrini-MSFT oh ok with Microsoft standard CDN ? that's fine to me? but how did you succeed in getting it ? I can see it when I check the list of headers.

[2020-02-11 14:55] mafais commented on #42443
Same issue any solution yet. Tried from several subscriptions. :(

[2020-02-11 14:55] msrini-MSFT commented on #47562
Simple way to check is to add origin as a VM to CDN and take a packet capture. Then look into the HTTP headers.

[2020-02-11 15:06] spelluru commented on #32504
Here is the sample code I got from the product team. I will update the article now and after getting more samples. Thanks.

[code]

[2020-02-11 15:11] acas11 opened #47860 "Needs Update"
[Enter feedback here]
The documentation refers to the older portal experience. This has to be updated with the new portal experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6cf3
* Content: [Create an Azure AD app & se

[2020-02-11 15:11] sairam-github opened #47861 "Out of the box support for tracking telemetry for I/O operations using Java SDK"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-02-11 15:14] doeweb opened #47862 "Azure Tenant to Tenant migration for Enterprise applications"
We have 2 companies that have merged together, both use Azure AD for syncing their domain accounts and both have SSO applications published in each of their own Azure tenant.
Does anyone know of a decent software product and/or strategy to setup a new Azure Tenant with new company name and migrate our existing enterprise applications off of our old tenants to the new one while still maintaining co

[2020-02-11 15:15] alapinsk opened #47863 "JSONDecodeError exception: Step 2 point 2"
Unfortunately this tutorial does not work with my configuration.
Azure Databricks, Windows 10, Anaconda 4.7.12 (Python 3.7).

When I run command Step 2 point 2 I receive an JSONDecodeError exception,
this is the response it is trying to parse (it looks like it is failing to log in to Azure Databricks service):
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-02-11 15:17] alapinsk commented on #47863
Full trace:
`
Traceback (most recent call last):
  File "c:\users\lapinska\appdata\local\continuum\anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\users\lapinska\appdata\local\continuum\anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\lapinska\AppData\Local\Continuum\anaconda3\Scripts\mlflow.exe\__main__.py",

[2020-02-11 15:25] steele6599 commented on #47786
just checking to see if there is any update.

[2020-02-11 15:27] sowsan opened #47864 "Required Nuget Packages"
Need to mention that, we have to add Microsoft.Azure.Services.AppAuthentication nuget package as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0b5a566-084c-d77f-9d78-3bfd72b01080
* Version Independent ID: b22f2729-2f31-a0cd-fc61-0ead183b0aab
* Content: [Integrate with Azure managed identities](https://docs.micro

[2020-02-11 15:28] estensen commented on #29762
Can someone link the PR that fixed this? I've gone through most of the Cosmos DB docs and cannot find a code example.

[2020-02-11 15:31] #47850 closed

[2020-02-11 15:40] janpalas commented on #47679
@DixitArora-MSFT Thank you, your code snippet helped me a lot!

[2020-02-11 15:40] #47679 closed

[2020-02-11 15:41] lucidqdreams opened #47865 "the final section is misleading or what I think is a bug"
![image](https://user-images.githubusercontent.com/6086602/74252072-f873b680-4ca1-11ea-98b1-fe4d788cfc13.png)

This code shows using the path /other/* to map to <other-service> .  To actually make this work the container that is mounted here has to has to respond to the path /other/

This is because of the port probe ( this is created by the ingress controller not a person in the portal)  is mappe

[2020-02-11 15:48] LXBdev commented on #47654
@yoelhor
I know, I just tried to use that so see if it affects the behavior. As per the [linked docs site](https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-overview#localize-content), I can use the locale as part of my UI customization. However, if a specific URL is passed via URL, e.g. `lang=es`, there is no way for me to force it to fall back to the english locale if I do

[2020-02-11 15:49] sowsan opened #47866 "Document update with the latest release packages"
The document should be updated with the samples for the latest packages

https://github.com/Azure/AppConfiguration/blob/master/releaseNotes/MicrosoftExtensionsConfigurationAzureAppConfiguration.md#300-preview-010550001-251---november-22-2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0b5a566-084c-d77f-9d78-3bfd72b

[2020-02-11 15:50] #47784 closed

[2020-02-11 15:53] michaelschmit commented on #38512
I'm in this same situation.  It is not clear to me what DNAT rules (as eluded to in this article) I would need or if I just need a direct route from my azure firewall external ip to the internet (as is mentioned in the other linked article).

[2020-02-11 15:54] krhynerson opened #47867 "-customroute not valid?"
I'm trying to follow the guidance on this page to set a custom route for a p2s VPN connection, but PowerShell is failing with the error below.

PS C:\WINDOWS\system32&gt; Set-AzVirtualNetworkGateway -VirtualNetworkGateway $gw -CustomRoute 192.168.111.0/24

Set-AzVirtualNetworkGateway : A parameter cannot be found that matches parameter name 'CustomRoute'.

When I look at Set-AzVirtualNetworkGatewa

[2020-02-11 15:55] sdgilley commented on #47584
Waiting for the last few regions to be available.

[2020-02-11 16:06] neeleshray-msft commented on #47833
@9songs You can check the Microsoft Azure Services availability in this **[document](https://azure.microsoft.com/en-in/global-infrastructure/services/?products=all)**. You can select the region you wish to check on the drop down.

[2020-02-11 16:07] neeleshray-msft commented on #47833
@9songs Let us know if this helps out.

[2020-02-11 16:07] Solaflex opened #47868 "Missing explanation of source for Microsoft Graph call related to App Provisioning quarantine"
The documentation related to the Microsoft Graph request is ambiguous.
You don't explain from there the `{id}` (Application ID) and `{jobId}` (Synchronization Job ID) are coming from. I would expect from a Microsoft Docs to be clear on that.
Can you add this so my next colleague doesn't have to spend 10min on discovering the source of these values?

---
#### Document Details

⚠ *Do not edit this s

[2020-02-11 16:08] porrascarlos802018 opened #47869 "How to monitor NPM to confirm if policies are being inforced and solution working"
can the documentation be added with instructions or reference to how to monitor NPM to confirm if policies are being enforced and solution working?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ac2648-7dce-c83c-0b14-79d5b091b1af
* Version Independent ID: 6aa0b306-6926-87cc-9b59-496ac91dfba6
* Content: [Secure pods w

[2020-02-11 16:08] Solaflex commented on #47868
I speak about below sentence:

---
- Use the Microsoft Graph request [Get synchronizationJob](https://docs.microsoft.com/graph/api/synchronization-synchronizationjob-get?view=graph-rest-beta&tabs=http) to programmatically get the status of the provisioning job:

        `GET https://graph.microsoft.com/beta/servicePrincipals/{id}/synchronization/jobs/{jobId}/`
---

[2020-02-11 16:09] neeleshray-msft commented on #47845
@christoph-zenger-hcsg Thank you for the feedback. We will review and update accordingly.

[2020-02-11 16:09] MGoedtel commented on #46741
I will open a bug for this and address after I confirm this is incorrect, which appears to be the case upon initial investigation.  #please-close

[2020-02-11 16:10] #46741 closed

[2020-02-11 16:10] mjrousos opened #47870 "Docs should mention newer resource manager schema"
The docs say:

This is confusing, though, because when a Resource Manager template using the 2015-01-01 schema is opened with Visual Studio Code using the ARM Tools extension, it prompts the user to upgrade to the 2019-04-01 schema:

![image](https://user-images.githubusercontent.com/10077254/74254614-b016c180-4cbe-11ea-956c-34f926666a39.png)

What's more, [documentation](https://github.com/micros

[2020-02-11 16:11] neeleshray-msft commented on #47853
@michaelshire Thank you for the feedback. We will review and update accordingly.

[2020-02-11 16:12] neeleshray-msft commented on #47860
@acas11 Thank you for the feedback. We will review and update accordingly.

[2020-02-11 16:14] neeleshray-msft commented on #47824
@Cl0udAwl Thank you for the feedback. We will review and update accordingly.

[2020-02-11 16:18] neeleshray-msft commented on #47827
@imshreya Thank you for the feedback. We will review and update accordingly.

[2020-02-11 16:19] bertrandpons commented on #47562
ok. that's weird that I cannot see it when the origin is an App Service. It should not change anything ?

[2020-02-11 16:20] neeleshray-msft commented on #47846
@s-bauer Thank you for the feedback. We will review and update accordingly.

[2020-02-11 16:21] scale-tone commented on #46834
@shashishailaj , I can see the doc page was recently updated, with the typo fixed. No questions left from my side, you can close this one.

[2020-02-11 16:21] neeleshray-msft commented on #47862
@doeweb Thank you for the feedback. We will review and update accordingly.

[2020-02-11 16:24] GiftA-MSFT commented on #47774
@iTzanetos yes it means you must use forms containing only English characters. Thanks.

[2020-02-11 16:26] GiftA-MSFT commented on #47516
@Koxzi95 please let us know if you are still experiencing errors when importing your document otherwise we'll proceed to close this thread. Thanks.

[2020-02-11 16:28] iainfoulds commented on #47621
Thanks for the feedback, @rbrayb. I'm a little unsure which article this feedback is meant to be addressing at this point though, as the top of the linked article is noting the deprecation status for MFA Server:

![image](https://user-images.githubusercontent.com/17856069/74256521-53101100-4ca8-11ea-8c1a-abfe80bbab39.png)

As @MarileeTurscak-MSFT then notes though, as there are still customers usi

[2020-02-11 16:30] DixitArora-MSFT commented on #47672
@spelluru Just following up again in case missed the previous communication.

[2020-02-11 16:33] kschairer opened #47871 "Grammar error"
Under the header: "Copy the instrumentation key", the sentence: "You will need copy to add the instrumentation key to your application's code" needs to be revised to make more sense

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62abe2ea-d97b-66dd-27ff-3c2bda5b6ceb
* Version Independent ID: 07e29ff9-c7a0-07bf-df25-7669

[2020-02-11 16:36] SjoerdV opened #47872 "Where is the Powershell equivalent to the 'clicking' instructions"
Please add the powershell 'Opt-in/out' equivalent to this article, similar to the steps in this article: https://docs.microsoft.com/en-us/azure/active-directory/b2b/one-time-passcode#to-opt-in-using-powershell
https://docs.microsoft.com/en-us/azure/active-directory/b2b/one-time-passcode#opting-out-of-the-preview-after-opting-in

BTW, some of us really love Powershell for changing settings and havi

[2020-02-11 16:39] SjoerdV opened #47873 "Where is the Powershell equivalent to the 'clicking' instructions"
Please add the powershell 'Opt-in/out' equivalent to this article, similar to the steps in this article: https://docs.microsoft.com/en-us/azure/active-directory/b2b/one-time-passcode#to-opt-in-using-powershell
https://docs.microsoft.com/en-us/azure/active-directory/b2b/one-time-passcode#opting-out-of-the-preview-after-opting-in

BTW, some of us really love Powershell for changing settings and havi

[2020-02-11 16:44] felickz commented on #36124
@ronitr-zz - what is the state of this feature?  SQL MI still does not allow VNET service endpoints due to Network Intent Policy.  Interested in early access if available!  Would [IP whitelisting SQL MI in different region from storage account ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-find-management-endpoint-ip-address)also work?

[2020-02-11 16:46] ChristopherHouser commented on #47142
Did you check that the cipher suites match?  (See earlier post)  The Connector does not use a cert.  We only support server auth.  If you have validated that the cipher suites match, then I suggest you open a support case to determine why the SSL handshake is failing.

[2020-02-11 16:46] uowdaniel opened #47874 "Has the Actor for group-based licence changes been changed?"
Under https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-group-advanced#find-out-when-group-changes-started-and-finished-processing, "Note that the actor for the operation is Microsoft Azure AD Group-Based Licensing - a system account that is used to execute all group license changes." - doesn't entirely seem to be the case any longer.
(Also, as an aside, the filt

[2020-02-11 16:47] SubhashVasarapu-MSFT commented on #47285
@andyjballgit , Currently, WAF with Front Door default ruleset are from CRS 3.1. We plan to add more signatures that are not from CRS.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-11 16:47] #47285 closed

[2020-02-11 16:48] SubhashVasarapu-MSFT commented on #47867
@krhynerson , We are looking into this query and will update you as soon as possible.

[2020-02-11 16:49] shashishailaj commented on #47587
@ermacia91 In case of Azure AD domain services the DS instance is not seen to the end-customers and so you can not host a Domain controller on a VM attached to the old Azure AD DS instance. [Adding domain controllers is not permitted](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/faqs#can-i-add-domain-controllers-to-an-azure-ad-domain-services-managed-domain) to Azure AD

[2020-02-11 16:49] #47587 closed

[2020-02-11 16:52] uowdaniel opened #47875 "Has the presentation of Audit logs been updated since this was published?"
https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-audit-logs#audit-logs says "To access the audit report, select Audit logs in the Activity section of Azure Active Directory." - they seem to now be under the "Monitoring" section (there's no Activity section unless Users or Groups have been selected in the Manage section) and look a little different from the what's

[2020-02-11 16:53] jtuliani opened #47876 "Best practice for multiple IPs?"
It seems multiple IPs can be implemented in two ways:
- Single NIC with multiple IPs
- One per NIC (multiple NICs)

It would be good if the doc could be clearer about what the recommended best approach is, and why. For example, does using multiple NICs with only a single IP per NIC remove the need to configure IP settings within the VM OS? (Those settings sound like an operational nightmare...)

A

[2020-02-11 16:54] jtuliani commented on #27608
Any update?

[2020-02-11 16:55] RyanHill-MSFT commented on #46351
Apologies for not seeing your mentions from before @jbinard. I will investigate and get back to you.

[2020-02-11 16:58] theheatDK opened #47877 "Use FQDN instead of IP?"
Hi,
This is stated:
"Use the Fully Qualified Domain Name(FQDN) of the server in connection strings for your clients. Any login attempts made directly to the IP address shall fail by design."

I do not understand this. You have a private endpoint and thereby an IP from your Azure subnet. For example 10.10.10.10. If your on-premise server routes this IP through the ExpressRoute why would you need to

[2020-02-11 17:06] QAutoBotOP commented on #43750
This is the practice exam, these guys have bad answers don't use their website. The correct answer is yes. They're just trying to sell their product.

[2020-02-11 17:14] helderpinto opened #47878 "Need for ExpressRoute Premium SKU should be highlighted"
There is no explicit reference to the requirement of having a Premium ExpressRoute SKU for connecting to Virtual WAN. There is a hint in one of the pictures in step 2 of "To connect by redeeming an authorization key", but this is not clear enough. I would recommend a better highlighting of this requirement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-02-11 17:16] maf1024 opened #47879 "I think there's a typo in the appcmd example"
I don't think DO is a valid keyword to follow an IF

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 074e43dd-1c91-5d6d-fd5e-3c3583c14930
* Version Independent ID: 52ae7f0c-cd2d-90c5-edac-5c9e281c0df3
* Content: [Common startup tasks for Cloud Services](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services

[2020-02-11 17:20] ThomasWeiss commented on #47853
@michaelshire This feature is still in public preview and is planned to go GA by the end of March.

[2020-02-11 17:24] spelluru commented on #47672
@banisadr - Could you give us a link to the CLI command that allows configuration of the batched delivery? Thanks!!

I am going to through commands here but can't find it:
https://docs.microsoft.com/en-us/cli/azure/eventgrid?view=azure-cli-latest

[2020-02-11 17:54] msrini-MSFT commented on #47562
Are you checking on the Web Server logs? Can you post any sample logs here ?

[2020-02-11 17:58] banisadr commented on #47672
You'll need to have the CLI extension installed until the next Event Grid CLI is released. You can install it with `az extension add -n eventgrid`. The CLI commands then are used during event subscription creation and are:
 `--max-events-per-batch`  - Maximum number of events in a batch. Must be a number between 1 and 5000.
`--preferred-batch-size-in-kilobytes` - Preferred batch size in kilobytes.

[2020-02-11 18:00] 9songs commented on #47833
Thanks, but this is for Azure services only. Do you have a similar link for
Office services, which are limited due to the usage location?

Thanks!

neeleshray-msft <notifications@github.com> schrieb am Di., 11. Feb. 2020,
17:07:

[2020-02-11 18:13] BharathNimmala-MSFT commented on #47870
@mjrousos Thank you for reaching out to us and sharing your feedback. We will further look into this and get back to you at the earliest.

[2020-02-11 18:15] BharathNimmala-MSFT commented on #47859
@MrCNeale Thank you for your query, we will further review it and get back to you at the earliest.

[2020-02-11 18:15] Adam-Smith-MSFT commented on #47855
Please post this question in StackOverflow, since this medium is only for documentation. You can get started with the intro documentation found here: https://docs.microsoft.com/en-us/azure/databox/data-box-overview

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-11 18:15] #47855 closed

[2020-02-11 18:35] tfitzmac commented on #47529
I have revised the article to use the right navigation headers. It should get published this afternoon.

[2020-02-11 18:36] tfitzmac commented on #47529
#please-close

[2020-02-11 18:36] #47529 closed

[2020-02-11 18:37] lucidqdreams opened #47882 "az cli command incorrect"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0b87eaa-9ea2-c914-00b1-d64c6880c537
* Version Independent ID: 4b659cfb-dc08-ae4a-8f38-f1c5211ec6d8
* Content: [Create a Log Analytics workspace using Azure CLI - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/learn/quick-create-workspace-cli)
* Content

[2020-02-11 18:38] MarileeTurscak-MSFT commented on #47868
@Solaflex
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-11 18:38] MarileeTurscak-MSFT commented on #47872
@SjoerdV
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-11 18:39] MarileeTurscak-MSFT commented on #47873
@SjoerdV
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-11 18:39] #47882 closed

[2020-02-11 18:40] MarileeTurscak-MSFT commented on #47874
@uowdaniel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-11 18:40] MarileeTurscak-MSFT commented on #47875
@uowdaniel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-11 18:41] Grace-MacJones-MSFT commented on #47518
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-11 18:41] #47518 closed

[2020-02-11 18:41] #46502 closed

[2020-02-11 18:43] shashishailaj commented on #46834
@scale-tone Thank you for confirmation. We will proceed with closure on this now.

[2020-02-11 18:43] #46834 closed

[2020-02-11 18:45] normesta commented on #38246
Thank you for the feedback @mcheale-tonik! We've updated the page to be a bit clearer about that. In short, one drawback is that (in the current release) you can't revert an account back to a flat namespace after you've enabled a hierarchical namespace. As far as transaction pricing etc - we have a pricing page that you can use to select "Flat Namespace" or "Hierarchical Namespace" to view pricing

[2020-02-11 18:45] normesta commented on #38246
#please-close

[2020-02-11 18:45] #38246 closed

[2020-02-11 18:46] BillmanH opened #47883 "It looks like this is discontinued in the new experience, is that right?"
New web view doesn't have anything for charts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9190938a-63d6-5b03-ff00-9bc3bf31e27f
* Version Independent ID: 6e9f9c7d-69c3-0a20-f94f-710771255ec6
* Content: [Log ML experiments & metrics - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/how

[2020-02-11 18:46] shibinchandra opened #47884 "The rewrite location header rule-set won't work"
The rewrite location header example mentioned in the below article will not work if the Azure AD authentication is enabled for the web app.
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/application-gateway/rewrite-http-headers-portal.md

[2020-02-11 18:54] rezasherafat commented on #39536
The quickstart doc is already way too long. I think the best place to add the proxy configuration is either in the csharp SDK docs itself, or as commented code in the quickstart .cs files, [e.g., here for service](https://github.com/Azure-Samples/azure-iot-samples-csharp/blob/21c4d70a87700fb344d7836a698d0461daf3583b/iot-hub/Quickstarts/read-d2c-messages/ReadDeviceToCloudMessages.cs#L75) and [here

[2020-02-11 18:56] MonikaReddy-MSFT commented on #47866
@sowsan, Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-02-11 18:57] MonikaReddy-MSFT commented on #47871
@kschairer ,
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-02-11 18:58] MonikaReddy-MSFT commented on #47864
@sowsan , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-02-11 19:04] yoelhor commented on #46850
Dear @dotnetgator the `{service:te}` looks like a claim resolver, but it's not actually a claim resolver. You can try to use it in a REST API input claims. In this case, B2C will send the {service:te} to the REST API and not the tenant name. As Jas mentioned we want to clean up the starter pack. Probably we'll remove this unnecessary metadata.

Please let me know if I can close this issue.

Thanks

[2020-02-11 19:05] jayeshcode opened #47886 "We did MSAL integration in our current iOS APP After Sign out & logging back in MSALwebview still keeps previous user credentials in cookies how to flush it ?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-02-11 19:11] RyanHill-MSFT commented on #46351
@jbinard, what [project type](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-get-started?tabs=maven#add-the-application-insights-sdk-for-java-to-your-project) are you using?

[2020-02-11 19:19] yoelhor commented on #46843
#please-close

[2020-02-11 19:19] #46843 closed

[2020-02-11 19:20] Karishma-Tiwari-MSFT commented on #30997
It is not rolled out in Azure portal yet. The product team has this feature as part of their discussions. I will share more as I get a clarity from the product team.

[2020-02-11 19:24] dikson88512-ai commented on #25273
dp80, could you solve the problem?

[2020-02-11 19:29] Karishma-Tiwari-MSFT commented on #47879
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-11 19:31] Karishma-Tiwari-MSFT commented on #47617
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-11 19:31] #47617 closed

[2020-02-11 19:32] Karishma-Tiwari-MSFT commented on #47801
Let me know if you have any follow up question.

[2020-02-11 19:36] tfitzmac commented on #47859
@MrCNeale - thanks for this feedback. I am adding dashboard to the list.

[2020-02-11 19:39] spelluru commented on #47830
Hi @CatchSandeepVaid - I have updated the code in this article and tested it before publishing. Thanks.

[2020-02-11 19:41] rolyon commented on #47202
Hi @Vikasjx
We appreciate your interest in this article. You are welcome to create a video. Unfortunately, I'm not able to publish the link in the article.
If you do plan to create a video, you might want to hold off for a little while. We plan to make few updates to this article.
thanks

[2020-02-11 19:41] BharathNimmala-MSFT commented on #47859
Thank you @tfitzmac for taking care of this issue.

[2020-02-11 19:41] MonikaReddy-MSFT commented on #47871
Raised a PR to update the document accordingly. https://github.com/MicrosoftDocs/azure-docs-pr/pull/103990

So the doc should be updated once it is approved.

Thanks again for bringing this to our attention. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2020-02-11 19:41] #47871 closed

[2020-02-11 19:41] mbinggeli opened #47888 "Redundancy"
Is the redundancy applicable for Azure Function apps as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4787f63-3603-6fdb-e405-4651b502e2ca
* Version Independent ID: 902cbc3b-314e-8d3d-7c76-88972dc5b548
* Content: [Resiliency and disaster recovery in Azure SignalR Service](https://docs.microsoft.com/en-us/azure/a

[2020-02-11 19:43] yikei commented on #47835
@dem108 Thank you for bringing up this issue. We are working on getting the missing files back.

In the meantime, please refer to an older version (tag 1.0.85.1): https://github.com/Azure/MachineLearningNotebooks/tree/azureml-sdk-1.0.85.1/how-to-use-azureml/work-with-data/datasets-tutorial/labeled-datasets

[2020-02-11 19:44] tfitzmac commented on #47859
The Microsoft.Portal/dashboards resource type allows a name length of 3 - 160 characters. It accepts alphanumerics and hyphens. However, you can add a tag named "hidden-title" to use other characters. That value is shown with the dashboard in the portal.

[2020-02-11 19:45] tfitzmac commented on #47859
The update should be published this afternoon.
#please-close

[2020-02-11 19:45] #47859 closed

[2020-02-11 19:46] taromielnaz commented on #47801
Karishma,
Yes, I mean from the portal. So you mean both ways are the same, don't you?

[2020-02-11 19:47] Grace-MacJones-MSFT commented on #47122
Thanks for bringing this to our attention @Naboo2604 ! I have submitted a PR to update the doc with a note, the change is merged internally and will go-live in the public docs shortly.

[2020-02-11 19:47] #47122 closed

[2020-02-11 19:50] mmacy commented on #46987
@katie199 Sorry, we do not have an ETA for resolution at this time. As @yoelhor mentioned, please see the following claims transformations:

* [StringJoin](https://docs.microsoft.com/azure/active-directory-b2c/string-transformations#stringjoin)
* [StringSplit](https://docs.microsoft.com/azure/active-directory-b2c/string-transformations#stringsplit)

[2020-02-11 19:51] SaurabhSharma-MSFT commented on #47779
@icyfire0573 I have submitted a [pull request](https://github.com/MicrosoftDocs/azure-docs-pr/pull/103858) to author for review and it will be merged once it is approved. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-02-11 19:51] #47779 closed

[2020-02-11 19:53] Grace-MacJones-MSFT commented on #47888
Hi Michael, thanks for the question.  We are currently investigating and will update you shortly.

[2020-02-11 19:55] cody-at-coretek commented on #15273
we need this!!!

[2020-02-11 19:56] Cornpuffs commented on #46220
Content has still not been updated.  Still incorrectly states to go to the blob page.

[2020-02-11 20:00] marcurdy commented on #15273
It's now in the CLI.
az monitor log-analytics workspace create -g ${workspaceRG} -n ${workspaceName} -l ${workspaceLoc}

[2020-02-11 20:16] Norrch2 opened #47890 "Claims Resolvers needs a lot more clarification"
Currently, Claims Resolvers does not provide enough detail on its restrictions.

Per the documentation, it provides a few examples. However, when we look through all the documentation and even support articles we are getting a lot of different responses.

For example, if you review the [FormatStringClaim ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/string-transformations#formatstr

[2020-02-11 20:27] techsaau commented on #47738
I have upgraded my AKS Cluster but issue still persist.

NAME                             STATUS   ROLES   AGE   VERSION
aks-xxxx-xxxxxxxx-vmss000000   Ready    agent   13h   v1.15.7
aks-xxxx-xxxxxxxx-vmss000001   Ready    agent   13h   v1.15.7

E0211 20:25:30.860140       1 reststorage.go:160] unable to fetch pod metrics for pod namespace/pod: no metrics known for pod
E0211 20:25:30.860357

[2020-02-11 20:27] richardweaver commented on #45225
Agreed, I'm completely stuck and can't find any examples of how source pattern works to figure out where I'm going wrong. What I'd like to do is rewrite a CDN URL to remove the first part of the path if it begins with a particular prefix, for example

CDN URL: https://my.cdn-domain.com/etag123456789/path/to/file.html
Origin URL: https://my.origin-domain.com/path/to/file.html

I've set this up as f

[2020-02-11 20:28] itsnotmike opened #47891 "Do applied password policies apply back to Azure AD"
It's not clear from documentation whether applied password policies in Azure AD DS apply to Azure AD users. I understand the password sync is oneway from Azure AD, so this may imply this is not the case? Please confirm. Would also be useful documentation in the article I would expect.
Thanks, Mike

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-02-11 20:31] yikei commented on #47835
The missing notebooks have been re-added. Thanks!

[2020-02-11 20:33] MarileeTurscak-MSFT commented on #47862
@doeweb thanks for your question. There is no software product for this, but you can move resources between subscriptions, or give users access to resources that reside in other tenants.

Check out the [documentation ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-resource-group-and-subscription)for this or contact Azure Billing Support if you need additional help.

[2020-02-11 20:33] #47862 closed

[2020-02-11 20:37] dotnetgator commented on #46850
Hi @yoelhor  - That makes sense (well, it's a bit of a mystery still, but one we have to live with :) ) Yes, OK to close.

[2020-02-11 20:43] ARambazamba opened #47892 "Node Sample"
I am wondering how to connect this a Node App, precisely to Angular, but Node would be ok. Is there something on NPM? Answered question myself ... Maybe you should add this to the samples. There are a lot of ng & react guys out there 😉

https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/appconfiguration/app-configuration

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-02-11 20:49] Adam-Smith-MSFT commented on #47861
@sairam-github Please post your question in Stackoverflow, MSDN or MS Q&A since this section of Github is only for Documentation related issues.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-11 20:49] #47861 closed

[2020-02-11 20:49] MarileeTurscak-MSFT commented on #47868
I think this is valid feedback. I made a pull request to add instructions and explanations of those values. Feel free to review and request changes if you think any further clarification is needed.

@Solaflex @msmimart

[2020-02-11 20:49] #47868 closed

[2020-02-11 20:49] Karishma-Tiwari-MSFT commented on #47807
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/104012
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-11 20:49] #47807 closed

[2020-02-11 20:50] nibaccam commented on #47835
@dem108 we will now proceed to close this issue. If you have further questions regarding datasets or these notebooks, please re-open the issue and tag @MayMSFT or @yikei
#please-close

[2020-02-11 20:50] #47835 closed

[2020-02-11 20:53] Adam-Smith-MSFT commented on #47858
@BukeMan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-11 20:53] popebob commented on #15273
Hooray!!! @marcurdy

[2020-02-11 20:54] andyjballgit commented on #47285
thx, it would be good to have this documented on the page , along with removing reference to "at Public Preview"

[2020-02-11 20:55] hpsin commented on #47224
Thanks @slavizh , that context helps quite a bit.  I can understand why the basic directions did not help very much.

Yes, that's correct.

Unfortunately no.  Graph (Azure AD) would be the AAD Graph, while another app called Microsoft or MS Graph would be the Microsoft Graph (graph.windows.net vs graph.microsoft.com).

It's the client ID for the app you're using when you run "connect-azuread" and

[2020-02-11 20:59] drdamour opened #47893 "missing information about port support"
are ports in reply urls supported or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc4c5921-4070-a714-44e6-c4309fe5fd53
* Version Independent ID: c52c5c94-bb2e-10cb-9673-98aae4aa37d4
* Content: [Redirect URI & reply URL restrictions - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-dire

[2020-02-11 21:02] Karishma-Tiwari-MSFT commented on #47801
Yes, When you do it from Portal, if you select Terraform template. This solution template will install Terraform on a Linux (Ubuntu 16.04 LTS) VM along with tools configured to work with Azure. This includes –

Terraform (latest)
Azure CLI 2.0
Managed Service Identity (MSI) VM Extension
Unzip
JQ
apt-transport-https

Useful Links
Terraform Marketplace Configuration Instructions
Terraform Hub in Mic

[2020-02-11 21:03] PatAltimore commented on #47768
Hi @ben-oxley,

That sounds correct. I'll put it on my backlog to take a look at it and fix it. Thanks for the feedback.

Thanks,
Pat

#in-progress

[2020-02-11 21:04] samrueby opened #47894 "Missing word in sentence"
"You can keep development settings (for example, local MySQL password) in Web.config or appsettings.json, but production secrets (for example, Azure MySQL database password) safe in App Service." I think this means "ARE safe in App Service". I.e. "but production secrets are safe in App Service."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-02-11 21:07] JimacoMS3 commented on #47539
Hi @danewalton -- thanks for your feedback!

I think I agree with on GETing the twin doc. It does seem like the status code should be 200 since the twin doc is returned.

I'm not sure about the Update reported properties call. It looks like the Etag is returned in the response body. I'm guessing that the status code should be 200 for this request too.

I'm not super knowledgeable here. @rezasheraf

[2020-02-11 21:07] Mike-Ubezzi-MSFT commented on #47525
@CharmanderJieniJieni Please see: [Virtual Network service endpoints](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview). This is a fairly large topic to discuss but, if you set-up your Azure SQL Database with a private service endpoint, you can then build a direct route from on-premise to Azure. If you have a VPN appliance on-premise, you can build

[2020-02-11 21:11] JonShelley opened #47895 "Add instructions how to push and pull a singularity image"
This page is useful for how to do this with docker. I think it would be nice to show how to do it with singularity since ACR supports storing singularity images as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22dc1f78-5ef2-391c-732f-740c0ca12880
* Version Independent ID: ffad8c17-c1e6-fb99-3a39-98be4d6ed091
* C

[2020-02-11 21:15] doeweb commented on #47862
Thank you again.

[2020-02-11 21:24] sanguedemonstro commented on #38625
Hi all, just in case, here is what I used to recover groups display name..

Thanks

[code]

[2020-02-11 21:28] KranthiPakala-MSFT commented on #47863
@alapinsk
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-02-11 21:40] kaerm opened #47896 "Links on the page point to the old libraries"
All of the links on this page use the old library instead of the new v12

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49364b8c-01b5-5180-7537-c221c79d5b3d
* Version Independent ID: 95ec5f30-8c53-b349-3b3c-71109ae84741
* Content: [List blobs with .NET - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blo

[2020-02-11 21:49] dkonyayev opened #47897 "Content Staging"
We need to be able to test the content in "staging" or test area via our bot. Our chatbot is using Bot Dispatch that aggregates many QnA KBs, so we want to make sure the change in KB is properly surfaced by dispatch app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74c19fae-e301-f723-6e7f-651be6263e50
* Version Indep

[2020-02-11 21:51] Mike-Ubezzi-MSFT commented on #47525
Adding an additional document that details the process: [Connect an on-premises network to a Microsoft Azure virtual network](https://docs.microsoft.com/en-us/office365/enterprise/connect-an-on-premises-network-to-a-microsoft-azure-virtual-network)
This example uses VPN but another option is to use ExpressRoute. Please see [ExpressRoute Overview](https://docs.microsoft.com/en-us/azure/expressroute

[2020-02-11 21:53] RichWK opened #47898 "Update for v2.0 tokens"
Hello — I notice that the sample code here for appsettings.json still references the v1.0 endpoint. Should this be updated to use the v2.0 endpoint? Which I believe looks like this:

"Instance": "https://login.microsoftonline.com/{0}/oauth2/v2.0/token"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08bcd9e7-d45f-1867-1

[2020-02-11 21:54] markwaksman commented on #38891
@alvipeo - I realize this is old and you may not remember, but on the chance you do, would you mind sharing any examples of your solution? I would appreciate it - I have a similar situation with multiple apps in an ILB ASE.

Thank you,
Mark

[2020-02-11 21:54] Mike-Ubezzi-MSFT commented on #47525
@CharmanderJieniJieni  Since there are no specific document issues to address here, I am now going to proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-11 21:54] #47525 closed

[2020-02-11 22:04] fadymach opened #47899 "Opening a site using commands"
"commands": [
                    {
                        "displayName": "Test Action",
                        "path": "testAction"
                    }
                ]

If my managed application deploys a App Service - web app, what should the value of path be to open that site?
Is it possible to put the value of the output from mainTemplate.json into the "path" value so that it may open th

[2020-02-11 22:06] sean-nixon opened #47900 "ladCfg > metrics > resourceId is required"
Under metrics, the documentation says the following about the "resourceId" property:

This seems to indicate that the attribute is not required if a JsonBlob sink is not used in the configuration. However, trying to install the extension without a JsonBlob sink and without resourceId configured results in the following error message:

[code]

On a working configuration with "resourceId" specified,

[2020-02-11 22:11] DaveRuijter commented on #46460
Awesome news, we'll check out the update!

[2020-02-11 22:13] aluisioaferreira commented on #37712
Microsoft you need to be more careful with product documentation. We are tired of finding errors! This is an example, identified error in the documentation in August 2019 and so far without update!

[2020-02-11 22:14] cherylmc commented on #34266
@charwen

[2020-02-11 22:16] Suzanneshuford opened #47901 "this code is deprecated"
Please remove this training or get code that works.  The bulk of this working is using this zip file  TwitterWPFClient.zip, that has been depricated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9636d03-2832-6aaf-9b92-dc67e7ba16fb
* Version Independent ID: eb372908-c7f1-313b-198e-8f960cadda6c
* Content: [Real-time T

[2020-02-11 22:29] Grace-MacJones-MSFT commented on #47894
Hi Sam, thanks for bringing this to our attention! We will fix this issue and update the doc shortly @samrueby .

[2020-02-11 22:34] femsulu commented on #47899
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-02-11 22:34] grahambunce opened #47902 "Is this appropriate for Azure Functions"
Working documentation for Azure Functions 2.x appears to be sadly lacking. Is any of this appropriate to Azure Functions?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d4fa84d-4cd3-216e-ca60-885f1565ee29
* Version Independent ID: 5c08427b-21d3-b22a-924a-d07d1461ba79
* Content: [Application Insights for Worker Service

[2020-02-11 22:38] vnvaditya opened #47903 "How does the VM handle multiple certificates with the same subject name ?"
How does the VM handle multiple certificates with the same subject name ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e302570c-50f7-af0d-ab7c-62845ecd35cb
* Version Independent ID: 679e51cc-2123-adb8-abe2-1c8bbacf46c3
* Content: [Create a cluster using certificate common name - Azure Service Fabric](https://docs.mic

[2020-02-11 22:50] immiao commented on #46581
@mabeyer Did you see "Master pages and page layouts" under "Web Designer Galleries"? You should be able to check in/out pages there to edit pages.

![image](https://user-images.githubusercontent.com/9515045/74286949-b7999300-4cdd-11ea-9587-4d0681cbda99.png)

[2020-02-11 22:53] Karishma-Tiwari-MSFT commented on #45225
@mdgattuso Would you be able to share an update on this. Thanks :)
CC: @TravisCragg-MSFT

[2020-02-11 22:58] mamccrea commented on #47901
Thanks for the feedback @Suzanneshuford! I've updated this article and it should go live tomorrow.

[2020-02-11 22:59] Karishma-Tiwari-MSFT commented on #47900
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-11 23:04] msaburnley commented on #44671
I have some questions before updating this article. @prontohostau what is your email?

[2020-02-11 23:08] andreasmarx opened #47907 "Update documentation about DNS server config"
Please update the documentation to reflect the current situation:

For SSTP, up to two DNS servers are pushed from the gateway (only VNG supports SSTP, VWAN not).
For IKEv2 and OpenVPN only 1 DNS server is pushed by the gateways in both case VNG and VWAN. A 2nd DNS Server has always to come from the client config. The Azure VPN Client is not capable to configure DNS servers. So with the Azure VPN

[2020-02-11 23:10] SaurabhSharma-MSFT commented on #47761
@Firewaters You can refer to the [Choose the right authentication method for your Azure Active Directory hybrid identity solution](https://docs.microsoft.com/en-us/azure/security/fundamentals/choose-ad-authn) to understand the factors you need to consider while moving into the cloud.

[2020-02-11 23:12] dcbrown16 commented on #47543
@alexkarcher-msft thanks for the comment, understood about storage firewall support. We are simply trying to create a Function through the Portal and there is no option to select out-of-region accounts. Is it possible to choose an account in another region when creating through commands?
Also, if it IS possible to select a storage account in another region for your Function, shouldn't it work if y

[2020-02-11 23:13] ztasre opened #47908 "AKS dashboard permissions"
I am getting permission errors when I access my cluster dashboard. I created a managed cluster through aks.

Kubernetes version: 1.17.0
kubectl version: 1.17.2

Relevant documentation:
https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard

I can access the dashboard with a token obtained from the script below:
[code]

When I login into the dashboard in the top right corner I get error no

[2020-02-11 23:14] Adam-Smith-MSFT commented on #47857
@dem108 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-11 23:15] andreasmarx opened #47909 "Update documentation about DNS server config"
Please update the documentation to reflect the current situation:
For SSTP, up to two DNS servers are pushed from the gateway (only VNG supports SSTP, VWAN not).
For IKEv2 and OpenVPN only 1 DNS server is pushed by the gateways in both case VNG and VWAN. A 2nd DNS Server has always to come from the client config. The Azure VPN Client is not capable to configure DNS servers. So with the Azure VPN c

[2020-02-11 23:15] Adam-Smith-MSFT commented on #47856
@sladeedmonds Thank you for the valuable feedback,we are investigating the issue.

[2020-02-11 23:16] Adam-Smith-MSFT commented on #47896
@kaerm Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-11 23:18] Karishma-Tiwari-MSFT commented on #47856
A single instance virtual machine in an availability set by itself should use Premium SSD or Ultra Disk for all operating system disks and data disks in order to qualify for the SLA for Virtual Machine connectivity of at least 99.9%.

Premium Storage offers a much higher level of availability and performance as compared to Standard Storage. The way Premium storage offers this is by utilizing SSD s

[2020-02-11 23:19] Adam-Smith-MSFT commented on #47865
@lucidqdreams Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-11 23:20] Adam-Smith-MSFT commented on #47869
@porrascarlos802018 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-11 23:25] Adam-Smith-MSFT commented on #47884
@shibinchandra Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-11 23:27] Adam-Smith-MSFT commented on #47886
@jayeshcode Please post your question into either StackOverflow or MSDN since this medium is only reserved for documentation.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-11 23:27] #47886 closed

[2020-02-11 23:27] Grace-MacJones-MSFT commented on #47608
Hi @HeidiSteen, do you have any insight on this issue?

[2020-02-11 23:30] Adam-Smith-MSFT commented on #47890
@Norrch2 Thank you for the valuable feedback,we are investigating the issue.

[2020-02-11 23:31] Adam-Smith-MSFT commented on #47908
@ztasre Thank you for the valuable feedback,we are investigating the issue.

[2020-02-11 23:32] Adam-Smith-MSFT commented on #47909
@andreasmarx Thank you for the valuable feedback,we are investigating the issue.

[2020-02-11 23:36] KranthiPakala-MSFT commented on #47777
@HaimBendanan This is not possible currently but sounds interesting. If you have any suggestion/idea regarding this, I would suggest you to please share your feedback in Azure Data Factory Uservoice Forum.

ADF Feedback forum: https://feedback.azure.com/forums/270578-azure-data-factory

Once the feedback thread is created, please do share the link here, as it would give an opportunity for other us

[2020-02-11 23:36] #47777 closed

[2020-02-11 23:39] Karishma-Tiwari-MSFT commented on #47895
Please refer to this document on Push and pull an OCI artifact using an Azure container registry and let me know if that helps:
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-oci-artifacts

You may find this information helpful:
https://azure.microsoft.com/en-us/blog/azure-container-registry-now-supports-singularity-image-format-containers/
https://azure.microsoft.com

[2020-02-11 23:41] Karishma-Tiwari-MSFT commented on #47687
Did that help?

[2020-02-11 23:43] vishiy commented on #47500
@anirudhcavale

[2020-02-11 23:45] alvipeo commented on #38891
@markwaksman hi!

Basically, you have to use [WAF custom rules](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/create-custom-waf-rules). And in my case I used the following:

[code]

[2020-02-11 23:46] MarileeTurscak-MSFT commented on #47893
@drdamour
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-11 23:52] TravisCragg-MSFT commented on #47876
@jtuliani Thanks for the feedback. The Private IPs will need to be added in the OS no matter how you add the Public IPs, but the doc does not do a good job at explaining this.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-11 23:52] KranthiPakala-MSFT commented on #47716
@jackt-moran We have assigned the issue to content author to further evaluate and provide an update as appropriate.

[2020-02-11 23:52] anirudhcavale commented on #47500
@dhavalshah02 can you post the metric definitions API call you are making? For custom metrics you need to provide the metric namespace as a property in the metric definitions call. If you don't, only the platform metrics are returned by default.

[2020-02-11 23:56] TravisCragg-MSFT commented on #47907
@andreasmarx Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-11 23:56] KranthiPakala-MSFT commented on #47901
@Suzanneshuford Thanks for the feedback and bringing this to our notice.

@mamccrea Thanks much for the quick fix. :)

[2020-02-12 00:00] MarileeTurscak-MSFT commented on #47893
Yes it's supported. Generally this would be relevant if you're testing in localhost.

There are examples of this given in the documentation and Azure Samples. https://github.com/onelogin/openid-connect-dotnet-core-sample

For instance, you could have a reply URL like:
https://localhost:44320/

[2020-02-12 00:01] MarileeTurscak-MSFT commented on #47893
Hope this helps! I'm closing this out but if you have further questions feel free to post to[ Microsoft Q&A](https://docs.microsoft.com/answers/index.html) and I will gladly continue the discussion.

If you think anything should be added to this document then you are also more than welcome to make a pull request.

[2020-02-12 00:01] #47893 closed

[2020-02-12 00:03] TravisCragg-MSFT commented on #47348
@wjia7 Try updating the "public_ip_address" to be equal to  "", this is how it is expressed in the JSON.

[2020-02-12 00:04] #47774 closed

[2020-02-12 00:04] #47516 closed

[2020-02-12 00:04] drdamour commented on #47893
@MarileeTurscak-MSFT what about restrictions.  Is each port a distinct authorized url?

[2020-02-12 00:08] GiftA-MSFT commented on #47897
@dkonyayev we will review your feedback and get back to you shortly. Thanks.

[2020-02-12 00:09] GiftA-MSFT commented on #47883
@BillmanH we will review your feedback and get back to you shortly. Thanks.

[2020-02-12 00:12] FrankHu-MSFT commented on #47875
@uowdaniel thanks for letting us know about this. I'm currently looking into this and updating the documentation accordingly. Please let us know if you have any other concerns otherwise I will be closing this out by end of day tomorrow.

[2020-02-12 00:21] FrankHu-MSFT commented on #47778
@christianargRisk are there any more questions within the scope of this issue? If not  I will be closing out this github issue by end of day tomorrow.

[2020-02-12 00:23] absheik opened #47910 "ASE support for Availability Zone GAed in December 2019, needs to be updated here"
[Enter feedback here]
Per this Blog post,
https://azure.github.io/AppService/2019/12/12/App-Service-Environment-Support-for-Availability-Zones.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [What are Azur

[2020-02-12 00:25] FrankHu-MSFT commented on #47786
@steele6599 I see, If you're still having an issue here, please email AzCommunity[at]microsoft[dot]com and I can enable a one time free support ticket. Please provide your Azure Subscription GUID and a reference to this thread. And hopefully we can get you on the right path again soon. Please see : https://blogs.msdn.microsoft.com/mschray/2016/03/18/getting-your-azure-subscription-guid-new-porta

[2020-02-12 00:29] Ziggista opened #47911 "API Endpoint has now been depreciated"
As per https://developer.microsoft.com/en-us/office/blogs/deprecatation-of-the-identityriskevents-api/ the new API Endpoint in Graph is riskDetection instead of the beta page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a1b0992-84f5-43f1-6b18-b690dde9753b
* Version Independent ID: db4234aa-2047-33db-6c8a-19a7b73207

[2020-02-12 00:31] TravisCragg-MSFT commented on #47878
@helderpinto This doc explicitly calls out the need for a Standard SKU ExpressRoute. Let me follow up and get some clarity on this requirement.

[2020-02-12 00:33] TravisCragg-MSFT commented on #47508
@shpradha Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-12 00:33] #47508 closed

[2020-02-12 00:54] Firewaters commented on #47761
Hey @SaurabhSharma-MSFT thanks for checking, the article linked didn't seem to clearly explain the two differences between Hybrid device identity for managed and federated. Neither https://docs.microsoft.com/en-us/azure/active-directory/devices/concept-azure-ad-join-hybrid nor https://docs.microsoft.com/en-us/azure/active-directory/devices/concept-azure-ad-join-hybrid provide that information.

[2020-02-12 00:58] JimacoMS3 commented on #38963
@Alberto-Vega -- what I understand from your response is that MQTT only supports a single device identity (device id/credential) on each TLS connection, so that devices like, gateways, which multiplex several devices through a single connection should not use MQTT. Is that correct?

[2020-02-12 01:03] TravisCragg-MSFT commented on #47878
@helderpinto the doc also states that a Basic SKU will not work, Did you have an error when you tried a Standard SKU?

[2020-02-12 01:08] TravisCragg-MSFT commented on #47909
@andreasmarx Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-12 01:10] RamanAditazz commented on #44790
Randomly getting same WinRM timeout issue for **2019-Datacenter** as well.

[2020-02-12 01:13] sanchetanparmar commented on #44790
Randomly getting same WinRM timeout issue for **2019-Datacenter** as well.

[2020-02-12 01:16] szhaomsft commented on #47344
yes, you can reply on it

[2020-02-12 01:34] davidsmatlak commented on #46663
I submitted the fix for this issue and when it merges, this issue will automatically close.

[2020-02-12 01:35] markwaksman commented on #38891
Thanks so much for sharing and responding, @alvipeo!

Apologies if I missed something, but is this complete? I don't see where variable $hostCondition is used after you've defined it. Also, not sure where you've defined the the variable $ipWhitelisting that you reference in the following statement:

`$allowApiAllExceptIPsRule = New-AzApplicationGatewayFirewallCustomRule -Name AllowSomeIPs `
    -P

[2020-02-12 01:43] davidsmatlak commented on #46663
Thanks for your question. Replication uses public endpoints and isn't supported over VPN or Azure ExpressRoute private peering. I updated the document so that information is more visible. The change will be live tomorrow.

[2020-02-12 01:43] kazshi commented on #35270
@normesta Thank you for the update and the explanation.

[2020-02-12 01:45] neeleshray-msft commented on #47891
@itsnotmike Thank you for reaching out. We will investigate and update the thread further.

[2020-02-12 01:46] neeleshray-msft commented on #47911
@Ziggista Thank you for reaching out. We will investigate and update the thread further.

[2020-02-12 01:54] lastcoolnameleft commented on #47842
I don't have a walkthrough at this time; however, you can follow the replication steps here:  https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-enable-replication-added-disk

[2020-02-12 02:16] BrianJackson opened #47914 "Consider using Spark (scala) instead of Twitter as a source"
Twitter has a signup process for a developer account that can take some time to setup.  For a one time tutorial it is not the best use of their resources or a person's time when this is about structured streaming.  Please consider linking an html notebook in scala that sends messages to the Event Hub instead.   Twitter for sentiment analysis is a separate tutorial that could start with a different

[2020-02-12 02:24] yoelhor commented on #47719
#please-close

[2020-02-12 02:24] #47719 closed

[2020-02-12 02:30] yoelhor commented on #46850
#please-close

[2020-02-12 02:30] #46850 closed

[2020-02-12 02:30] #47914 closed

[2020-02-12 02:53] jmprieur commented on #47898
Thanks for your feedback @RichWK
Actually the MSAL libraries add the v2.0 automatically
also what you proposed is the token endpoint, not the instance (which is only the STS)

#please-close

[2020-02-12 02:53] #47898 closed

[2020-02-12 02:57] googol13 commented on #33795
so how about that server 2019 support? going on 16 months now...

[2020-02-12 03:02] AshokPeddakotla-MSFT commented on #47437
@leela-uppuluri Glad to hear that you have found a work around for the initial issue. As I mentioned, this is not a documentation issue and this will require some deeper analysis. This issues are meant for doc bugs or document enhancements so we would love to hear if you have any feedback for this document/tutorial. As suggested, please contact support for further help.

We will now proceed to clo

[2020-02-12 03:02] #47437 closed

[2020-02-12 03:11] KrishnaG-MSFT commented on #47882
@lucidqdreams Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-02-12 03:13] VikasPullagura-MSFT commented on #47828
@ShineSmile Any update on this?

[2020-02-12 03:14] lastcoolnameleft opened #47915 "Library module error"
I have tried running the SendCloudToDeviceMessage.py example; however, I get this error when I run it on a Linux (Raspberry Pi) or a Mac.  It appears to be looking for a Python 3.5 library; however, the version of Python I'm running is 3.7

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617cf9c4-6f85-d240-d8e5-6

[2020-02-12 03:15] alvipeo commented on #38891
No, this is just a small part of the script. Basically, you have to apply the rules to WAF, for example:

[code]
Here I have multiple rules applied.

[2020-02-12 03:16] VikasPullagura-MSFT commented on #47635
@hukun01 Hope the above provided information helped with your query.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-02-12 03:16] #47635 closed

[2020-02-12 03:25] VikasPullagura-MSFT commented on #47802
@CeciAc This is a know issue from ACI.
Team has rolled out a fix for VNet deletion and expect behavior to be back to back to normal.
However, internal team has advised to open a support case for investigating this incase issue is still existing.

[2020-02-12 03:30] VikasPullagura-MSFT commented on #47910
@absheik Thanks for the Feedback. I have assigned the issue to content author for checking and updating the document as appropriate.

[2020-02-12 03:30] VikasPullagura-MSFT commented on #47910
@cynthn Can you please check this and add your comments.

[2020-02-12 03:31] #47647 closed

[2020-02-12 03:39] DixitArora-MSFT commented on #47672
@pbazydlo So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-12 03:39] #47672 closed

[2020-02-12 04:00] #46663 closed

[2020-02-12 04:02] RohitMungi-MSFT commented on #47697
@dagarkatyal We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-12 04:02] #47697 closed

[2020-02-12 04:02] #47721 closed

[2020-02-12 04:03] dagarkatyal commented on #47697
Thank you Rohit. I am still trying to deploy the custom docker image and solve this. I will reply if I need any more information.

[2020-02-12 04:05] KrishnaG-MSFT commented on #47810
@Jscholtes128 Verfied and updated the document as required. Thanks.

[2020-02-12 04:05] #47810 closed

[2020-02-12 04:07] RohitMungi-MSFT commented on #47730
@jernejk Submitting access request to form recognizer is no longer needed. The documentation is now updated to not include these links. Users can now create the resource directly from the portal.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-12 04:07] #47730 closed

[2020-02-12 04:20] KalyanChanumolu-MSFT commented on #47853
@michaelshire We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-12 04:20] #47853 closed

[2020-02-12 04:24] jernejk commented on #47730
Can we also update this page?
https://azure.microsoft.com/en-au/services/cognitive-services/form-recognizer/

[2020-02-12 04:27] v-tawe commented on #42861
Having same issue when deploying in windows web apps.

[2020-02-12 04:34] SnehaGunda commented on #43348
The above PR has doc updates with connection mode details. We will now close this issue.

#please-close

[2020-02-12 04:34] #43348 closed

[2020-02-12 04:35] SnehaGunda commented on #47747
#please-close

[2020-02-12 04:35] #47747 closed

[2020-02-12 04:35] hrasheed-msft commented on #47218
As this doesnt seem to be directly related to the doc itself and @Mike-Ubezzi-MSFT has already provided some recommendations for getting this feedback to the product team, I'll go ahead and close this issue. Thanks @prashanthmadi.

#please-close

[2020-02-12 04:35] #47218 closed

[2020-02-12 04:39] ram-msft commented on #47754
@mansi-aggarwal-2504 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-12 04:39] #47754 closed

[2020-02-12 04:44] AshokPeddakotla-MSFT commented on #47446
@lyrana Please check this and update as appropriate.

[2020-02-12 04:46] mike-urnun-msft commented on #47499
@fabiocav @brettsam Could you share your guidance on this matter and advise if we should hold off for now? Looking at Azure/Azure-Functions#1370, it seems that there are still some scenarios that are breaking and need consistent repro steps.

[2020-02-12 04:51] lyrana commented on #47446
Hi @sanjaydatasciencedojo thank you for this feedback, please let me know if you have a particular question re pricing, and also please do feel free to continue this thread with your estimate ingestion throughput and query/usage patterns and we can do the pricing estimation with you. We certainly are missing a pricing calculator, if we had that on our page would your needs be met? A calculator wou

[2020-02-12 05:02] RohitMungi-MSFT commented on #47827
@imshreya Could you try to use 'codecs=audio/opus' and check if it works? Also ensure the sample rate of your audio file is 16kHz.

[2020-02-12 05:06] RohitMungi-MSFT commented on #47730
@jernejk Thanks for pointing this out. Our ACOM team is working to update the Contact Us button and remove the link. This should be updated in our next ACOM update.

[2020-02-12 05:08] mdudis opened #47918 "Getting Authorization timeout"
We have a azure python function getting triggered from service bus messages but it fails with below error. Sometimes function is getting successfully executed but mostly it goes into error. Please suggest any workaround or fixes for this issue.

Result: Failure
Exception: ServiceBusError: Handler failed: Authorization timeout.
Stack:   File "/azure-functions-host/workers/python/3.6/LINUX/X64/azure

[2020-02-12 05:14] christianarg commented on #47778
yes the initial question remains as you answered me information about "Sign-ins from IP addresses with suspicious activity" yet I specifically asked about the event "Sign-in from unfamiliar locations". So I ask once again:

Title: **Sign-in from unfamiliar locations**: Clarify if the event it's triggered only by SUCCESSFUL sign ins or also FAILED signIns
Description: Docs state that "...The risk d

[2020-02-12 05:16] SwathiDhanwada-MSFT commented on #47757
@souravmishra-msft Can you please review the request and update the document if necessary?

[2020-02-12 05:17] KalyanChanumolu-MSFT commented on #47877
@theheatDK Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2020-02-12 05:24] jakaruna-MSFT commented on #47742
@rrg92
I will close this out for now. If you need additional help please open a new issue

[2020-02-12 05:24] #47742 closed

[2020-02-12 05:25] jakaruna-MSFT commented on #47704
@andyischaos is there any update

[2020-02-12 05:26] DixitArora-MSFT commented on #47918
Hi @mdudis This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-02-12 05:28] SwathiDhanwada-MSFT commented on #47670
@MGoedtel  Can you please review the request and update the document accordingly?

[2020-02-12 05:29] CHEEKATLAPRADEEP-MSFT commented on #47914
@BrianJackson  Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-02-12 05:29] andyischaos commented on #47704
@jakaruna-MSFT thank you for following up. I contacted the Microsoft team to ask for support and solve this problem. The key problem after extending a new disk to my VM is that it's not visible with "df -h" or usable. So I followed their instructions to mount this disk and then change the access permission of this disk. Finally, I can successfully store my data in the new disk. Again, thank you ve

[2020-02-12 05:30] msrini-MSFT commented on #47824
@Cl0udAwl , Can you share me the documentation which you are referring to ?

[2020-02-12 05:36] RohitMungi-MSFT commented on #47845
It looks like @szhaomsft replied to this question on original thread. Tagging here for reference.

[2020-02-12 05:46] CHEEKATLAPRADEEP-MSFT commented on #47625
@MikeWilcoxMicrosoft  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-12 05:46] #47625 closed

[2020-02-12 05:47] VikasPullagura-MSFT commented on #47829
@teseus Please check this [document](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-support-resources) that has details on Move operation support for resources. This has the details if the resource is supported or not for move operation across subscriptions and resource group.

[2020-02-12 05:48] AshokPeddakotla-MSFT commented on #47744
@fadyanwar As mentioned in the doc, Cascade 500 IoT gateway is a hardware offering from Rigado that is included as part of their Cascade Edge-as-a-Service solution. Cascade 500 is pre-certified for Azure IoT Plug and Play (preview) allowing our solution builders to easily onboard the device into their end to end solutions. Cascade subscriptions and pricing is controlled by them. At this particular

[2020-02-12 05:48] VikasPullagura-MSFT commented on #47802
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-02-12 05:48] #47802 closed

[2020-02-12 05:51] AshokPeddakotla-MSFT commented on #47915
@lastcoolnameleft Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-12 05:53] neeleshray-msft commented on #47892
@ARambazamba Thanks for your feedback! We are investigating and will update you shortly.

[2020-02-12 05:57] neeleshray-msft commented on #47310
@sscchh2001 We do not have an update on the same for the Azure China Region. It would be announced when we have an ETA.

[2020-02-12 05:57] #47310 closed

[2020-02-12 06:06] BharathNimmala-MSFT commented on #47612
@andyjballgit The document has been updated to reflect the name attribute. Will go ahead and close this issue for now, however if you have any further queries please feel free to tag us in your reply will be happy to reopen this thread and continue the conversation. Thank you

[2020-02-12 06:06] #47612 closed

[2020-02-12 06:09] andyjballgit commented on #47612
thx for fixing. It was defintately the duplication of name field that caused issue with high projected pricing as i checked it straight after deploying as new.

cheers
Andy

[2020-02-12 06:11] BharathNimmala-MSFT commented on #47580
@PKingRoch The document has been updated to reference the latest documentation for Azure Metric Explorer. Will go ahead and close this issue for now, however if you have any further queries please feel free to tag us in your reply will be happy to reopen this thread and continue the conversation. Thank you

[2020-02-12 06:11] #47580 closed

[2020-02-12 06:12] BharathNimmala-MSFT commented on #47612
Thank you @andyjballgit for the confirmation.

[2020-02-12 06:12] imshreya commented on #47827
I tried with 'codecs=audio/opus' and used following file in request:
[file.zip](https://github.com/MicrosoftDocs/azure-docs/files/4190104/file.zip)
Still getting Bad request error.
How can i verify that the sample rate is 16KHz?

[2020-02-12 06:20] BharathNimmala-MSFT commented on #47579
@szymonslipek Thank you for reaching out and hoping the above information helps. At this point it appears that there's no further edits or updates needed for the documentation. Will go ahead and close this issue for now, however if you have any further queries or have additional information on the scenario please feel free to tag us in your reply and will be happy to reopen this thread and continu

[2020-02-12 06:20] #47579 closed

[2020-02-12 06:27] souravmishra-msft commented on #47622
@MicrosoftGuyJFlo, It would be great if you can check this once and update the doc.

[2020-02-12 06:29] RohitMungi-MSFT commented on #47843
@oo2316oo You can use JSON to load the data to your model. Here is an [example ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-existing-model)for the SDK to load data for a model in scoring file.

[2020-02-12 06:43] annguyen281 opened #47919 "Unknown issue"
Please help with the below. issue. I just installed by "npm install -g azure-functions-core-tools@3" and initialized project
![image](https://user-images.githubusercontent.com/3479104/74309481-6ea91380-4d9d-11ea-8b88-bab7c5999e4e.png)

Thank you very much

[2020-02-12 06:44] slavizh commented on #47224
Thanks @hpsin for the help! I think the overall issue should be resolved at Az PowerShell module so we can use for our automated scenarios. Having MFA enabled on our AAD for all accounts makes us more secure and of course provide higher security for our customers. In case you can provide some help of convince the Az PS team to either provide login with refresh token or at least the commands to alw

[2020-02-12 06:50] nishiths opened #47920 "I am in process of making a facial recognition system using face cognitive service using python. walking through the quick starts it is continuously giving me a key error. i have installed the builds and still giving me same. Traceback (most recent call last): File "C:\Users\nsharma9412\Documents\face\facerecogclient.py", line 18, in <module> KEY = os.environ['9c1a0517e0e34b0aa70c7782c86999c0'] File "C:\Users\nsharma9412\AppData\Local\Programs\Python\Python38-32\lib\os.py", line 673, in __getitem__ raise KeyError(key) from None KeyError: '9c1a0517e0e34b0aa70c7782c86999c0' Press any key to continue . . ."
I am in process of making a facial recognition system using face cognitive service using python. walking through the quick starts it is continuously giving me a key error. i have installed the builds and still giving me same. Traceback (most recent call last): File "C:\Users\nsharma9412\Documents\face\facerecogclient.py", line 18, in <module> KEY = os.environ['9c1a0517e0e34b0aa70c7782c86999c0'] Fi

[2020-02-12 06:56] rajb865 commented on #36838
Hi @kgremban ,

I am trying the same documentation to setup IoT Device communication with IoT Edge Device. but I am also getting the same issue. would you please look in to it.

I have opened a question on stackoverflow [iot-device-with-symmetric-key-connection-to-iot-edge-device](https://stackoverflow.com/questions/60182029/iot-device-with-symmetric-key-connection-to-iot-edge-device) . Please let

[2020-02-12 06:56] RohitMungi-MSFT commented on #47827
You can check the properties of your file. In this case it looks like it is 48kHz.
![image](https://user-images.githubusercontent.com/46958063/74310288-dad24a00-4d92-11ea-8076-030d8af3d8cf.png)

[2020-02-12 07:06] ManojBableshwar commented on #47851
Have filed a bug on the respective product team: Bug 606480: Dataset limits not documented

[2020-02-12 07:07] ManojBableshwar commented on #47840
Have filed a customer impediment on the product team: Impediment 606558: Add SDK/API link for creating and managing Labeling Projects  (https://msdata.visualstudio.com/Vienna/_workitems/edit/606558)

[2020-02-12 07:26] imshreya commented on #47827
It would be great if you provide a audio file having 16KHz or a link from where i can download. Because all the ogg files I found have either 44KHz or 48KHz sample rate.