[2019-02-09 05:38] atullalwani commented on #24556
Hello Mike - Thanks!

1)As per the example you mentioned above, let's say my storage reached 248G of 250G total allocated db storage. So, my understanding in this case is that we will have to increase the storage manually once it nears the total storage value. It is not going to increase automatically based on more data inserted.
I will utilize metrics to counter this situation.

2)Although I saw

[2019-02-09 05:49] gxgrammatikos commented on #24561
Yes, of course I read it. But, it doesn’t says that you must be a service administrator if you want to deploy  a “user subscription”  pool allocation mode.

Regards,
George Grammatikos

From: Micah <notifications@github.com>
Sent: Friday, February 8, 2019 10:27 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: gxgrammatikos <g.grammatikos@outlook.com.gr>; Mention <mention@noreply

[2019-02-09 05:54] KasamShaikh commented on #24195
Perfect, Thank you!

[2019-02-09 06:30] Petermarcu opened #24613 "Azure Functions table of contents doesn't mention .NET or C# in the list of quickstarts"
The first couple about Visual Studio or VS Code have instructions on how to do it with C# but the TOC on the left doesn't have any mention while it has mention for most other languages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7b4-906a-d1f5-5201-

[2019-02-09 06:49] stanley70 commented on #24387
Hi, before 3 months i made hardware reset to my phone so i lost the ability to enter by the phone application.
For two months i have no problem because i choose to enter by SMS but last month i do have a problem because the SMS take too long to arrive (two to three hours).

[2019-02-09 07:24] hoksource opened #24614 "azure sql database connection strings created in app service"
azure sql database connection strings created in app service "Data connection tab" does not add
Encrypt = On
TrustServerCertificate = Off
by default.
do I have to add them? according to documentation above, adding them is unnecessary. but the next paragraph says I have to specify them. which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-02-09 07:43] gangothriurs commented on #24569
But what I still dont understand is, why $in works for few Id's but not for others. We are seeing this issue since recently. Earlier we were able to fetch all the documents using $in.

[2019-02-09 07:48] jontreynes opened #24615 "code using incorrect schema"
The code errors on the latest version of xNetworking. https://github.com/PowerShell/NetworkingDsc/wiki/Firewall shows that 'access', 'state', and 'DisplayGroup' do not exist
The configuration can be as below:

Configuration ISVBoxConfig
{
    Import-DscResource -ModuleName cChoco
    Import-DscResource -ModuleName xNetworking

    Node 'isvbox' {

        cChocoInstaller installChoco
        {

[2019-02-09 07:49] jontreynes commented on #24615
in reference to this: https://docs.microsoft.com/en-us/azure/automation/automation-dsc-cd-chocolatey

[2019-02-09 08:16] YutongTie-MSFT commented on #24195
@KasamShaikh No problem!

[2019-02-09 08:18] Minnaminor opened #24616 "i couldn't use the sandbox"
I couldn't use the sandbox, and I don;t think I've managed to create a virtual machine...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a7fc4-328a-e90d-29db-92a91aa1b2bd
* Content: [Quickstart - Create a Windows VM in the Azure portal](https://docs.micr

[2019-02-09 08:21] YutongTie-MSFT commented on #24283
@erhopf Hi, could you please share the direction about who I should reach out for product issue/feedback of Speech Services? Thank you.

[2019-02-09 08:22] YutongTie-MSFT commented on #24351
@mx-iao Hi, could you please help to check the code sample and update the document as necessary? Thank you.

[2019-02-09 08:27] gangothriurs commented on #24569
According to this https://docs.mongodb.com/manual/reference/operator/query/in/   $in will match anything in the given array of items.

[2019-02-09 08:28] paulio commented on #23980
"I wouldn't know, I don't know BASH". Yes you to remove line continuations but I'm getting a lot of messages from people who want to use these services but find the instructions a real barrier. Hence why I'm writing this. You may expect Docker to be new, but so will LUIS, BASH, Containers, etc. It's putting people off, the hurdles should be as low as possible. I don't mind, keeps it a dark art and

[2019-02-09 09:19] AlexanderTodorovic opened #24617 "VPN Gateway no configuratino details"
Hi all, after deployment for the VNP Gateway via the ARM template
the Point-to-site configuration is empty. The button Download VPN client is
disabled? Thx, Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4530cab5-ae29-e402-7a58-67ce623088c5
* Version Independent ID: fe183a1c-d715-3ac9-61f9-d35a7d9d0879
* Content:

[2019-02-09 09:51] vikaskumawat80 opened #24618 "Price of DC series"
Found DC series on this page but don't know the cost even in the Azure Calculator these two sizes are not available. Why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes - General purpos

[2019-02-09 09:53] vikaskumawat80 commented on #24618
Okay. Its related to Confidential Compute.

[2019-02-09 10:25] #24181 closed

[2019-02-09 10:45] mike-urnun-msft commented on #24613
Hi @Petermarcu Thank you for your feedback! We will review and update as appropriate.

[2019-02-09 11:55] kevin2l commented on #9187
@kubolloc-MSFT, this document is still outdated.  Some of the options are not available in the Azure Portal.  In the portal, it is either an Enterprise Application or an App Registration.  An app registration doesn't have the ability to "Generate Key".  It seems, though, that if I follow https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad it actually gives me the info I

[2019-02-09 12:36] kevin2l commented on #9187
step 4 should also be clarified.  Access the B2C where?  which tenant, B2C or main?  It wasn't until I followed the tutorial https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows that it was clear what I needed to do.

[2019-02-09 13:55] #18837 closed

[2019-02-09 13:55] MichalWierzbinski commented on #16396
@arkiaconsulting Yes. Gremlin endpoint is now available on the Emulator. You can use this quick start to see how to connect to it: https://github.com/MichalWierzbinski/cosmosdb-emulator-gremlin

[2019-02-09 14:21] AjayKumar-MSFT commented on #24121
@StingyJack, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-09 14:21] #24121 closed

[2019-02-09 14:51] StingyJack commented on #24121
After a bit of searching (too many things installed with "Azure command line" in the name), I'm actually trying to work through it now but I'm getting an error. It's really hard to read what it says (who picked these colors???).

![image](https://user-images.githubusercontent.com/15381181/52522219-33d34380-2c50-11e9-8f01-21cee14ebf50.png)

[2019-02-09 14:58] justingden opened #24619 "App Service IP Restrictions Block by Default"
The documentation is missing a very important point. The moment you turn on one rule, all other traffic will be BLOCKED. We were trying to restrict certain IP addresses with bots attacking our site and instead it blocked all traffic. It would also be good to know how you add an ALLOW rule for all network traffic, so you can just restrict certain IPs or ranges.

---
#### Document Details

⚠ *Do not

[2019-02-09 15:05] femsulu commented on #24588
Thanks for confirming @georgewallace
@AlexImray Here are the [steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) to raise a support tickets with Azure technical support. If you already have a support plan. If you don't, please send mail to AzCommunity@microsoft.com with your subscription ID and a link to this Github thread (for context) and we w

[2019-02-09 15:05] #24588 closed

[2019-02-09 15:21] rwwinn1 commented on #24600
The AzCopy link in the doc takes you to information about the local
installable version which has different syntax than the bash version which,
now I understand, is the one that works on cloud shell. I was trying to run
it in cloud shell with the syntax for the installable version.

On Fri, Feb 8, 2019, 4:42 PM Adam-Smith-MSFT <notifications@github.com
wrote:

[2019-02-09 15:29] AjayKumar-MSFT commented on #24121
@StingyJack, Thank you for posting back! Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this GitHub issue and we would like to work closer with you on this matter.

[2019-02-09 16:14] Norrch2 opened #24620 "500 - Internal server Error"
Hello,

I am really enjoying this IEF feature. However, one thing that makes it hard to work with is that I get error "500 - Internal Server Error" often when I am testing my custom policies and no easy way to troubleshoot it. I have tried integrating Application Insights however that does not provide any evidence or troubleshooting insight that may help me.

Is there another way to troubleshoot t

[2019-02-09 16:25] GirtheGameDesigner opened #24621 "Deprecated Visual Studio Images"
The online Visual C# project library no longer has these options

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1055184-0535-4318-2ae9-79e37bea0f28
* Version Independent ID: b5dfedf8-c884-138b-0b3d-eea41e64c62b
* Content: [Create C# ASP.NET Framework web app - Azure App Service](https://docs.microsoft.com/en-us/azure/

[2019-02-09 17:03] MarileeTurscak-MSFT commented on #24606
@Infinitism thanks for the question! We will investigate and update as appropriate.

[2019-02-09 17:05] ravikiran-srini opened #24622 "Article mentions System Variables not supported"
This article mentions system variables are not supported for Scheduled Triggers in Data Factory

But this article mentions system variables are supported
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-system-variables

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d564675-f719-57fc-a406-6aec51d26b29

[2019-02-09 17:16] ggailey777 commented on #24489
@Infoseeker I assume you are running in a venv.
+ @asavaritayal who wrote this article.

[2019-02-09 17:33] MicahMcKittrick-MSFT commented on #24612
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-09 17:34] MicahMcKittrick-MSFT commented on #24616
@Minnaminor not sure what you are referring to... what is the issue you had with this doc?

[2019-02-09 17:35] MicahMcKittrick-MSFT commented on #24618
@vikaskumawat80 as you mentioned this are related to Confidential Computing. This service is still in preview so once it moves to GA the calculator will be updated as well.

[2019-02-09 17:37] MicahMcKittrick-MSFT commented on #24566
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-09 17:38] #24418 closed

[2019-02-09 18:05] kazshi commented on #24555
@femsulu OK, I understand. But it would be great if more queries based on practical cases would be provided in the sample log search.  Thanks.

[2019-02-09 18:12] dloarie opened #24623 "Free trial failure"
I went through all of the steps on:  https://docs.microsoft.com/en-us/azure/cognitive-services/Computer-vision/quickstarts/python-disk
using my free trial key and my Azure region and I get the error "HTTPError: 404 Client Error: Resource Not Found for url: https://westcentralus.api.cognitive.microsoft.com/face/v1.0/analyze?visualFeatures=Categories%2CDescription%"

---
#### Document Details

⚠ *Do

[2019-02-09 18:27] Adam-Smith-MSFT commented on #24614
@hoksource Thank you for the valuable feedback,we are investigating the issue.

[2019-02-09 18:28] Contadmin commented on #24470
Thanks Mike.

By ASP I was referring to an App Service Plan.
I went through that section, and everything is set up as the documentation guides.
Also, as previously stated - tcpping from the function app to the Managed Instance is working.
Any ideas what should I check to further investigate?

Get Outlook for Android<https://aka.ms/ghei36>

[Banner]<https://www.contguard.com/>
Powered by U-BTech XT

[2019-02-09 18:29] Adam-Smith-MSFT commented on #24615
@jontreynes Thank you for the valuable feedback,we are investigating the issue.

[2019-02-09 18:30] Adam-Smith-MSFT commented on #24617
@AlexanderTodorovic Thank you for the valuable feedback,we are investigating the issue.

[2019-02-09 18:32] Adam-Smith-MSFT commented on #24619
@justingden Thank you for the valuable feedback,we are investigating the issue.

[2019-02-09 18:33] Adam-Smith-MSFT commented on #24620
@Norrch2 Thank you for the valuable feedback,we are investigating the issue.

[2019-02-09 18:34] Adam-Smith-MSFT commented on #24621
@GirtheGameDesigner Thank you for the valuable feedback,we are investigating the issue.

[2019-02-09 18:47] VincentGuigui commented on #24180
Thanks.
Let's hope one-day an more offline scenario will be handled

[2019-02-09 18:47] #24180 closed

[2019-02-09 19:16] AjayKumar-MSFT commented on #24322
@kogesaka, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-09 19:16] #24322 closed

[2019-02-09 19:21] toreskogoy opened #24625 "Azure Active Directory authentication for Azure Files SMB"
It should mention that AAD authentication now is in preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 312ba22f-685c-d17f-438f-9656f019012a
* Version Independent ID: a93993be-f687-16e1-ff5b-b526699c009f
* Content: [Introduction to Azure Storage - Cloud storage on Azure](https://docs.microsoft.com/en-us/azure/stora

[2019-02-09 19:31] gregory-fonkatz commented on #24010
I see this problem with the type `Microsoft.ContainerService/managedClusters`
Also look at the `properties` attribute, it comes empty in `az resource list` call

[2019-02-09 20:23] vikaskumawat80 commented on #24546
I am not talking about resizing. I am saying you cannot move VNET which is being used by MI to a another Resource Group.

[2019-02-09 20:33] StingyJack opened #24627 "Title should be "Copy A transactionally..." not "Copy An transactionally""
That is all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc3f1726-f5b5-e504-33c4-8ceefa5b02f7
* Version Independent ID: baf2eb27-05bf-8d85-2a34-2f6c0ef739b1
* Content: [Copy an Azure SQL database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-copy)
* Content Source: [articles/sql-database/sql-data

[2019-02-09 21:29] dcbrown16 opened #24629 "Train API"
There is a link on this page to "QnA Maker's Train API", but I'm not finding a Train API in the current API reference.
Can you clarify how we are supposed to work with Active Learning via API in v4.0?

v4.0
https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136866eb37/operations/5ac266295b4ccd1554da75ff
v3.0
https://westus.dev.cognitive.microsoft.com/docs/services/597029932bcd5

[2019-02-09 21:34] ggailey777 commented on #24613
Thanks @Petermarcu. We are in the process of improving our quickstarts, and the left nav will be by language, with C# mapping to the Visual Studio QuickStart. @mike-urnun-msft  please assign this to me.

\+ @asavaritayal

[2019-02-09 21:45] Petermarcu commented on #24613
Awesome! Thanks for the quick response! I'm looking forward to the doc improvements I've been hearing about.

[2019-02-09 21:52] dcbrown16 opened #24630 "Clarify networking whitelist"
The blog linked in the networking section is very old and only refers to the blob storage URI.
Is that the only one required to be whitelisted for Backups to work?
Where is the required outbound connectivity from the VM on the following list from most to least restricted?
1. Azure Storage service tag for region of the Recovery Services container
2. Azure full region of Recovery Services container

[2019-02-09 22:02] jithinjosepkl commented on #24406
https://www.nvidia.com/content/dam/en-zz/Solutions/Data-Center/tesla-product-literature/Tesla-K80-BoardSpec-07317-001-v05.pdf

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Friday, February 8, 2019 1:17 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jithin Jose <jijos@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] G

[2019-02-09 22:56] charlbury opened #24633 "Deploy to Azure App Service Error: ENOENT .Python file not found"
Hi, I ran into a problem while following the Deploy to Azure App Service on Linux at https://code.visualstudio.com/docs/python/tutorial-deploy-app-service-on-linux

A very similar problem was reported as Python Web App - Failure to Copy python link #17648 at https://github.com/MicrosoftDocs/azure-docs/issues/17648.

The user solved the problem themselves but did not explain what they did to solve

[2019-02-10 00:27] StingyJack commented on #24121
Sure.

[2019-02-10 00:47] jdanyow opened #24634 "JavaScript/ECMAScript support?"
What's the best resource for finding out which language features are supported in Cosmos DB server-side programming? For example, are Promises supported? Async/await? try/catch? Destructuring? Rest and spread?

Nice work on the docs- very helpful stuff :+1:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5603f3c9-bd73-8

[2019-02-10 01:00] diberry commented on #24629
@pchoudhari @tulasim88 @dcbrown16

Hi Dillion, Thank you for posting this issue. The Train API is not connected to the REST API reference material. The call to the API is detailed at the bottom of the page. I'm including an image of that here. Please let me know if the API doesn't make sense.

![qnamaker-train-api](https://user-images.githubusercontent.com/41597107/52528173-263baf00-2c8c-11e9-836a

[2019-02-10 01:13] gerfen opened #24635 "E: Unable to locate package moby-engine"
I'm attempting to set up an AMD-64 device following these instructions, when I get to 'sudo apt-get install moby-engine' I receive the error 'E: Unable to locate package moby-engine'.  I followed the same instructions on January 25th for another device without any issue.  Is there something wrong with the repository feed for 16.04 devices?

---
#### Document Details

⚠ *Do not edit this section. I

[2019-02-10 01:24] rolyon commented on #23222
Hi @CeciAc
I've sent a message to the storage team to see if they can update this description to be more clear.
If you have additional feedback, let me know.
thanks

[2019-02-10 01:24] rolyon commented on #23222
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-02-10 01:39] rolyon commented on #24570
Hi @igorvt77
Thanks for the great feedback. I'll work on a update to the article that hopefully will help other customers.

[2019-02-10 01:44] Adam-Smith-MSFT commented on #24635
@gerfen Thank you for the valuable feedback,we are investigating the issue.

[2019-02-10 01:45] Adam-Smith-MSFT commented on #24634
@jdanyow Thank you for the valuable feedback,we are investigating the issue.

[2019-02-10 01:46] gerfen commented on #24635
@Adam-Smith-MSFT FWIW, I discovered that the instructions here do work:  https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux

[2019-02-10 01:49] Adam-Smith-MSFT commented on #24633
@charlbury Thank you for the valuable feedback,we are investigating the issue.

[2019-02-10 01:50] Adam-Smith-MSFT commented on #24630
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-10 01:51] Adam-Smith-MSFT commented on #24629
@dcbrown16 Thank you for the valuable feedback,we are investigating the issue.

[2019-02-10 01:52] Adam-Smith-MSFT commented on #24627
@StingyJack Thank you for the valuable feedback,we are investigating the issue.

[2019-02-10 01:53] Adam-Smith-MSFT commented on #24625
@toreskogoy Thank you for the valuable feedback,we are investigating the issue.

[2019-02-10 01:54] Adam-Smith-MSFT commented on #24623
@dloarie Thank you for the valuable feedback,we are investigating the issue.

[2019-02-10 02:01] Adam-Smith-MSFT commented on #24622
@ravikiran-srini Thank you for the valuable feedback,we are investigating the issue.

[2019-02-10 02:02] davidsandbrand opened #24636 ""Credits Banked / Hour" is misleading"
"Credits Banked / Hour" is really a measure of "Credits Earned / Hour", and any credits that are earned but not used then become banked. This article should be updated to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f435b3d1-2e0b-378c-ce89-97defa822eff
* Version Independent ID: 32c3ea31-ae89-5a61-f99e-3

[2019-02-10 02:40] #23222 closed

[2019-02-10 02:40] rolyon commented on #23900
Hi @zhusulai
Thanks for the feedback. I'll send to the team to review this example.

[2019-02-10 03:03] Karishma-Tiwari-MSFT commented on #24636
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-10 03:50] dloarie commented on #24623
It seems the "7 day trial" is a completely nonfunctional API.  After signing up for the next level, everything worked perfectly.

[2019-02-10 06:21] SogoGolf commented on #24522
ok great thanks

[2019-02-10 06:21] #24522 closed

[2019-02-10 06:57] ggailey777 commented on #21212
We should probably leave these open.

[2019-02-10 07:44] skmkzyk commented on #24587
@susanthasilva This URL makes you confirmed that you can configure different URL and same port with Application Gateway. [Create and configure an application gateway to host multiple web sites using the Azure portal
](https://docs.microsoft.com/en-us/azure/application-gateway/create-multiple-sites-portal)

[2019-02-10 07:53] swinarko commented on #23764
Thank you for your feedback, we will update the doc soon.

[2019-02-10 07:56] swinarko commented on #11385
Thank you for your feedback, we will update the doc soon.

[2019-02-10 08:06] swinarko commented on #23358
Azure-SSIS IR supports SQL Auth/AAD Auth to create/manage SSISDB and Win Auth/SQL Auth/AAD Auth for package executions. Let us know if you still have questions/issues.

[2019-02-10 08:35] skmkzyk opened #24637 "How about to add this image after the creation of backend listener?"
<img width="859" alt="screen shot 2019-02-10 at 17 23 31" src="https://user-images.githubusercontent.com/34650736/52531485-73d21d80-2d59-11e9-8e87-a37cc4a589e0.png">

Adding this image at the 4th step of "Create backend listeners" makes it easier to understand what will happen with this article.
As I don't know how to raise a pull request with an image, raised an issue for this, sorry.

---
#### D

[2019-02-10 08:51] jimmybarber opened #24638 "freezing when choosing new template"
Using latest release of threat modeling tool 7.1.60126.1
When I select a template the program freezes, I am on the required .net version for this release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c70801b1-cba2-49d0-e6c0-8262f8204dc8
* Version Independent ID: 54c92ab1-3266-f4ea-6317-b45201f9cf50
* Content: [Threat

[2019-02-10 10:10] vatsparth commented on #23225
@AjayKumar-MSFT Yeah, I can see all the files present there via Kudu console. But I'm still not able to see anything up on the web page. Do we have any further steps post this.

[2019-02-10 10:22] swinarko commented on #23769
Sorry about that, you can use "\Package.MaxConcurrentExecutables" instead and we will fix the doc soon. In general, the new "Property Overrides" tab on Execute SSIS Package activity has the same function as the "Advanced" tab on "Execute Package" window that is opened when you execute a package from SSMS.

[2019-02-10 11:28] Minnaminor commented on #24616
Hi Mitch I'm using an antiquated desk stop PC I'm afraid. I'm operating a
corrupt version of windows 7. Not on purpose lol.
It doesn't let me update. I was supposed to get a phonecall from Microsoft
to rectify this problem today at 5pm. I never received the call.
Thank you for contacting Mitch, I'm a huge fan of Microsoft...thank you for
your time.
Basically I couldn't deploy the sandbox. If that

[2019-02-10 11:34] Minnaminor commented on #24616
I'm so sorry Micah, I obviously got your name wrong, I have a friend
Mitch...whoops!

On Sun, 10 Feb. 2019, 10:28 pm Miriam Woodhouse <minnaminor@gmail.com wrote:

[2019-02-10 12:44] mkalicharan commented on #12690
Can you please help i am having the same problem and there seems to be no hope in solving this one

[2019-02-10 13:07] SumanthMarigowda-MSFT commented on #24462
@colinrippeyfinarne Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-10 13:09] PierreVanvolsem commented on #19172
Hi, could you add more explanation for the solution?
I downloaded the zip file. What should I do now?

Thank you for your help !

[2019-02-10 13:20] SumanthMarigowda-MSFT commented on #7237
@163satish Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-10 13:28] SumanthMarigowda-MSFT commented on #24637
@skmkzyk Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-10 15:17] yanivlavi commented on #17857
@mrbullwinkle It's good the know it exists, but Google first page doesn't find it:
https://www.google.com/search?rlz=1C1CHBF_en__821__821&ei=EUBgXITVCMSZ1fAPlZWg2Ak&q=Server+response+time+azure+monitor&oq=Server+response+time+azure+monitor&gs_l=psy-ab.3..33i22i29i30.2374.5812..6013...0.0..0.164.1746.0j14......0....1..gws-wiz.......0i71j0i67j0j0i22i30.CxZkqt6AZN0

I also think paging the tables wou

[2019-02-10 15:31] secbug opened #24640 "Recommendations for face group/list sizes & resources"
There is no recommendations for disk size or other resource usage vs the number of stored faces or stored people. Has this been tried and tested enough to get those sorts of recommendations?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 889b34f3-060f-4507-32db-63d5a33cfd4c
* Version Independent ID: 74032f30-05bd-ea1f-

[2019-02-10 15:33] codeputer opened #24641 "Out of date directions?"
In this paragraph (https://docs.microsoft.com/en-us/azure/sql-database/sql-database-metrics-diag-logging) it states that the " Azure SQL Analytics tile is added to your workspace, and it appears in Overview".  It does not, or it doesn't any longer.   You must select the "Solutions" blade, and then select the "Solution" from a list of "Solutions" (a named instance of a "Solution"), before seeing th

[2019-02-10 16:16] bakztfuture commented on #23227
hey guys,

I was able to resolve the error by following this guide:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image

Basically, I had to create my project from scratch using the azure command line tool with a docker image from the beginning.  I'm using a servicebus trigger with Python on linux and a service plan instead of the consumption plan.

[2019-02-10 16:19] AjayKumar-MSFT commented on #24439
@bubbletroubles, For IP address dependencies endpoints *.123 and *.12000 both TCP and UDP traffic is allowed. Thanks again for raising this query. I have requested the content author (@ccompy) to review further and update the document as appropriate.

[2019-02-10 16:23] RonStack commented on #24081
This looks great, thanks!

[2019-02-10 16:36] AjayKumar-MSFT commented on #23225
@vatsparth, Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this GitHub issue and your Azure subscription ID, we would like to work closer with you on this matter.

[2019-02-10 16:36] e24n1h2 opened #24642 "Creating vnet and Subsets via Bash ( Azure CLI )"
Section "Create a DNS private zone" where Vnets and Subnets are defined has been incorrectly stating 'Prefix' in commands where in it should be 'prefixes'

Example of correct command
az network vnet create --name bashvnet --resource-group Mybashrg --location "East US" --address-prefixes 10.2.0.0/16 --subnet-name bashsubnet --subnet-prefixes 10.2.0.0/24

---
#### Document Details

⚠ *Do not edit th

[2019-02-10 17:03] mifurm opened #24643 "Update regarding latest changes in Azure"
Hi, the article in here is a great insight into how Azure is built at the low level. Can you please update this one to provide the update towards the latest changes? The last update happend in 2017 for this content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c9d1ff4-9e32-39fc-2d8d-46d3c07bca4d
* Version Independen

[2019-02-10 17:15] ahmeddhouib commented on #19172
@PierreVanvolsem you should to run it with Visual Studio , and then it will appear a web application, and then follow the page of configuration .

[2019-02-10 17:22] infotect1 opened #24644 "Great article"
Very helpful article.  I like that you follow-through with how to connect with RDP.  If you could add a section on how to setup custom ports and PING to work, that would be a bonus.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e72010-dab4-54d9-1409-c95b0ce60824
* Version Independent ID: 0da5450c-6181-1c27-93c0-b0c6

[2019-02-10 17:23] ravikiran-srini opened #24645 "Why Scheduled Trigger less reliable than Tumbling Windows Trigger?"
Why Scheduled Trigger less reliable than Tumbling Windows Trigger?

Is it only because of the retry capability in Tumbling windows trigger? Or any other feature Tumbling Window Trigger has?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d564675-f719-57fc-a406-6aec51d26b29
* Version Independent ID: 84124e8f-efad-274f-c

[2019-02-10 18:00] Adam-Smith-MSFT commented on #24638
@jimmybarber Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-10 18:00] veyalla commented on #24635
@gerfen Did you notice this step in the [instructions](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux#register-microsoft-key-and-software-repository-feed)

"Prepare your device for the IoT Edge runtime installation, **replacing <release> with 16.04 or 18.04 as appropriate** for your release of Ubuntu."

[2019-02-10 18:01] Adam-Smith-MSFT commented on #24640
@secbug Thank you for the valuable feedback,we are investigating the issue.

[2019-02-10 18:03] Adam-Smith-MSFT commented on #24641
@codeputer Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-10 18:09] jdnickell opened #24646 "Purchase certificate without changing App Service Plan"
I'm already using an app service plan that supports Custom Domains / SSL and I purchased my domain from another provider. Is there no way to purchase the certificate through Azure without unnecessarily changing my app service plan?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468-b140422b9fae
* Ve

[2019-02-10 18:15] jdklein33 opened #24647 "basic setup"
my 1st time setting up dev environment...article should have noted prerequisites: needed to upgrade to win 10 Pro (for Hyper V), needed to enable Hyper V. Once I did those, there was no explanation of solution configuration (debug or ?) or solution platform (ARM, x64, etc). Figured out through trial and error but these are simple instructions that should be included in a basic skills article. Othe

[2019-02-10 18:29] MicahMcKittrick-MSFT commented on #24616
@Minnaminor no worries :)

I am still not understanding the issue. The doc describes deploying Virtual Machines to your Azure Subscription. Nothing to do with your on premise machine. So I am not sure you are contacting the correct source. If you are in contact with support I suggest you continue that route.

The document itself works as expected so there is no current action needed from that perc

[2019-02-10 18:29] #24616 closed

[2019-02-10 18:52] RonStack opened #24648 "Switch -match to -eq to avoid errors on returning multiple certs"
This command can return multiple cert's.

$Thumbprint = (Get-ChildItem cert:\CurrentUser\My\ | Where-Object {$_.Subject -match "CN=exampleappScriptCert" }

Switching '-match' to '-eq' will help reduce chance or error when returning thumbprint.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6329b3a8-32d6-c327-d3bc-2f680

[2019-02-10 19:00] gerfen commented on #24635
Yes of course.  As I stated I managed to get it to work with another device *and* by following the instructions in the latter link.  Either the  current instructions are incorrect or there was a temporary glitch with the repository.  I'll leave that to your team to figure out.  :). Thanks!

[2019-02-10 19:14] danchemistruck opened #24649 "Azure Disk Encryption availability missing newer standard tier VM Sizes"
The article is missing support for new standard tiers, such as B and E series. ADE is not turning on for data disks on B series VMs in my environment, despite being in the standard tier. Azure support has flagged this article as a potential known issue, however I believe the documentation is out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-02-10 19:46] roberthstrand opened #24650 "Unclear sentence under unsupported scenarios"
This sentence was really hard to understand. Couldn't find a better way to phrase it myself but it should be a little more clearer:

"Azure AD Domain Services needs Password Hash Synchronization to be enabled on the tenant. Therefore tenants that use Pass-through Authentication only don't work for scenarios that need Azure AD Domain Services."

---
#### Document Details

⚠ *Do not edit this sectio

[2019-02-10 19:52] Anand-Moghe opened #24651 "Question about the Note for moving across account subscription"
There is a note that says -

There is a Tenant > Account > Root Management Groups > Child Management Group > Multiple subscription in Azure (in hierarchy tree). So there could be multiple subscription - some free and some paid under one Tenant/account/Management Group.

Are you trying to imply that one can not move resources within resource group from your current free subscription within your ten

[2019-02-10 20:27] mortenf opened #24652 "Update via SQL?"
From the section "Develop applications..." above:
"By default, you can use SQL to update and query your data in your Cosmos database."

I have yet to see an example of updates (or inserts) using SQL? Could you at least provide examples somewhere, and/or a complete language reference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-02-10 20:49] LuisCabrer commented on #19008
@amthomas46,

This was resolved a while back, see the section that says:
...
When textExtractionAlgorithm is set to "handwritten", the "RecognizeText" functionality is used.
When textExtractionAlgorithm is set to "printed", the "OCR" functionality is used for languages other than English. For English, the new "Recognize Text" functionality for printed text is used. ...

Please mark this as resolve

[2019-02-10 21:31] Anand-Moghe opened #24653 "There is no clear statement related to downtime for changing the size of VM"
If my VM size is available in the hardware cluster, and if I update the size of the vm to new size without deallocating the VM, will that VM restart? And what is the impact to end users while the VM is being upgraded (changing the size) ? Would they experience any downtime?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-02-10 21:37] Anand-Moghe opened #24654 "Can you please include developer guidelines for setting up on-premise data gateway with MAG"
Setting up on-premise data gateway for hybrid connectivity with Microsoft Azure Gov Cloud (MAG) can be complex. Can we add more guidance for setup in MAG?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d0ab80e-bbb7-8eb9-f0b3-814f74e3a117
* Version Independent ID: e9952267-ab66-50a3-d3b0-7d2d621d5a9b
* Content: [Azure

[2019-02-10 21:53] veyalla commented on #24635
Thanks for confirming. The instructions are in fact the same for both pages, so we'll chalk it down to a repository glitch. Glad you are unblocked now.

Feel free to reach out via github.com/azure/iotedge/issues if you have any questions.

[2019-02-10 22:08] snpdev opened #24655 "Breaks the SLO?"
The section "Can I modify tags and other properties of the AKS resources in the MC_* resource group?" ends with the line:

"Modifying the resources under the MC_* in the AKS cluster breaks the SLO."

What is the "SLO"? Did you mean "SLA" (even though there is no formal SLA)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-02-10 22:08] rfsonders opened #24656 "SQL RP availability for AzS build 1901"
Will the SQL RP product team release a new SQL RP to align with the with new AzS build 1901? If so, when? In the future, can the product team coordinate releases?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8cf1476-6988-7379-4307-bb083498a970
* Version Independent ID: 5cc8b30c-6ae6-06f2-2984-18cbd60ccfc4
* Content:

[2019-02-10 22:29] davidroberts63 opened #24658 "Target regions number"
Is the `target location` of `what's in an assessment` correct in saying 33 regions are available as targets? The [products by region](https://azure.microsoft.com/en-us/global-infrastructure/services/?products=azure-migrate&regions=all) page shows that Azure Migrate is available in all regions (non-regional).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-02-10 22:43] dtkuo opened #24659 "Referenced Microsoft Virtual Academy videos no longer active"
When I click on referenced Microsoft Virtual Academy videos above, link says videos have been retired. Please update link with current video.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d1a57d1-5bc2-a87f-8506-08efacb9e2a8
* Version Independent ID: 0033d5ce-78cc-e023-ebea-891326860d25
* Content: [Learn Azure Service

[2019-02-10 23:36] nss12 opened #24660 "How to Control the Frequency Interval of Until Activity"
I want Until Activity to Run every 30 seconds or whatever the amount i decide for it could be 1 minute 5 minute and so on. How can i configure that Interval. Currently i have to use Wait and Until activity together

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73ff4df3-ae31-335a-bf60-b97dbe98fa58
* Version Independent

[2019-02-10 23:48] avooca opened #24661 "Azure File Sync performance metrics System Config"
Is a 64 core / 128GB / RAID10 machine the best representation of a typical filer being onboarded to AFS?  If not it could be helpful to provide real-world performance metrics to help customers plan properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 991338c0-1a61-99e1-41ea-45fd5d5fd63d
* Version Independent ID: f2

[2019-02-11 00:15] ShaneOsborne-MS opened #24662 "Samples in Navigation should be moved up before Tutorials"
Think it would make more sense for the Samples Menu item to be moved before Tutorials, the tutorials are referred to as next steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14cc0408-bafc-daf6-22ee-5b0619ce3cd3
* Version Independent ID: fff4523a-d9c5-7387-3212-5b7016839677
* Content: [Example Jupyter notebooks - Az

[2019-02-11 00:44] mschuman commented on #24524
@AshokPeddakotla-MSFT this happens when trying to run the SimulatedDevice js It is not clear what it is expecting to see but I get the runtime error at this point.

[2019-02-11 00:49] lakasa commented on #24418
Yes absolutely! You have complete control on when you would like to trigger failover.

[2019-02-11 00:55] sergaz-msft commented on #24635
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-11 00:55] #24635 closed

[2019-02-11 00:59] jdklein33 commented on #5434
The whole add button section is poorly documented, numerous errors to debug

[2019-02-11 01:02] kobulloc-MSFT commented on #9187
@miaojiang Just making sure this is still in your queue.

[2019-02-11 02:12] Adam-Smith-MSFT commented on #24644
@infotect1 Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:13] Adam-Smith-MSFT commented on #24645
@ravikiran-srini Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:14] Adam-Smith-MSFT commented on #24646
@jdnickell Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:15] Adam-Smith-MSFT commented on #24647
@jdklein33 Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:17] Adam-Smith-MSFT commented on #24648
@RonStack Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:18] Adam-Smith-MSFT commented on #24643
@mifurm Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:18] Adam-Smith-MSFT commented on #24642
@e24n1h2 Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:19] Adam-Smith-MSFT commented on #24662
@ShaneOsborne-MS Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:20] walima0103 commented on #23875
Any update about that?

[2019-02-11 02:21] Adam-Smith-MSFT commented on #24649
@danchemistruck Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:22] Adam-Smith-MSFT commented on #24650
@roberthstrand Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:24] Adam-Smith-MSFT commented on #24651
@Anand-Moghe Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:26] Adam-Smith-MSFT commented on #24652
@mortenf Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:27] Adam-Smith-MSFT commented on #24653
@Anand-Moghe Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:28] Adam-Smith-MSFT commented on #24654
@Anand-Moghe Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:29] Adam-Smith-MSFT commented on #24656
@rfsonders Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:31] Adam-Smith-MSFT commented on #24655
@snpdev Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:32] Adam-Smith-MSFT commented on #24658
@davidroberts63 Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:33] Adam-Smith-MSFT commented on #24659
@dtkuo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-11 02:35] Adam-Smith-MSFT commented on #24660
@nss12 Thank you for the valuable feedback,we are investigating the issue.

[2019-02-11 02:36] Adam-Smith-MSFT commented on #24661
@avooca Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-11 02:44] sabdiel opened #24663 "Azure Cloud Shell (Powershell) can't find path 'path'"
I had no issues following the QuickStart using bash as my CLI but for some reason Powershell can't find my template file or any other file even when clearly the file exists. Even creating a directory and cd to it trigger the issue.

Cannot retrieve the dynamic parameters for the cmdlet. Cannot find path 'Azure:/azuredeploy.json' because it does not exist.

---
#### Document Details

⚠ *Do not edit

[2019-02-11 03:36] sffamily commented on #24565
@avantida, Thank you for raising up the question: for client, for each hub the client wants to connect to, there will be a client connection, but how many of application servers don't matter. In your example, 2 app server, 5 hubs, if each client needs to establish connection with all 5 hubs, all client connections are :   1 connection/hub/client * 5 hubs = 5 connections/client. We'll update the do

[2019-02-11 03:41] liupeirong opened #24664 "Incorrect code snippet to get request charge in CosmosDB Cassandra API"
The code snippet to get RequestCharges is incorrect in a couple places:

- The value of the RequestCharge is not a string, it's a double.
- `customPayload` should be `insertResult.Info.IncomingPayload`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6c47387-6172-e49b-5144-c843c91815a8
* Version Independent ID: 93cad71b

[2019-02-11 04:08] AshokPeddakotla-MSFT commented on #24267
@ddobric We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 04:08] #24267 closed

[2019-02-11 04:22] BhargaviAnnadevara-MSFT commented on #23901
@YutongTie-MSFT Assigning this to @DavidPrio as discussed with @Sara-Nicolini offline.

@DavidPrio Please take a look and migrate as appropriate.

[2019-02-11 04:26] githubavi opened #24666 "Clarification on "Zonal Option" for VMs"
1. If user pinpoints specific zone (1 or 2 or 3) during VM creation Vs user does not pinpoint zone, how that would impact the availability behavior for VM?
In the first case, will the VM and associated managed disks and resources be copied to other zones (in addition to the selected zone) for redundancy? Or only available in selected zone.
In the second case, will the VM and associated managed dis

[2019-02-11 04:31] YutongTie-MSFT commented on #24339
@RohitMungi-MSFT Hi Rohit, I close this issue since there is no response from our customer.

@philippschaefer4 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-11 04:31] #24339 closed

[2019-02-11 04:31] shashishailaj commented on #24560
@ijazm123 Hope you are doing good and the above information helped . Please let us know in case you have any further queries . In case the above information helped you , we will proceed with closure of this issue by the end of day .

[2019-02-11 04:43] CHEEKATLAPRADEEP-MSFT commented on #24547
@philipverlinden From the same document:
The default value of the sink "writeBatchSize" and the copy activity "parallelCopies" for the Dynamics sink are both 10. Therefore, 100 records are submitted to Dynamics concurrently.

The optimal combination of "writeBatchSize" and "parallelCopies" depends on the schema of your entity e.g. number of columns, row size, number of plugins/workflows/workflow a

[2019-02-11 04:58] msrini-MSIT commented on #24666
@githubavi Thank you for posting. I will review and get back to you at the earliest.

[2019-02-11 05:01] SubhashVasarapu-MSFT commented on #24154
@dcbrown16 Appreciate your patience. When ever your try to reach Azure portal from Azure VM's, routing happens through Azure backbone. We will now close this issue and if you have any further questions please feel free to reopen the issue. Thanks in advance.

[2019-02-11 05:01] #24154 closed

[2019-02-11 05:26] benpaul4u opened #24669 "Please update with missing IDs and their friendly names"
Please update with missing IDs and their friendly names:
Office 365 Education E1 for Faculty:
AADPremiumService - Azure Active Directory Premium
Deskless - ????
Exchange -
Homeroom - ????
MicrosoftCommunicationsOnline - Skype i guess
MicrosoftOffice - ????
Microsoftstream - Stream
OfficeForms - Forms
PowerAppsService - PowerApps
ProcessSimple - Flow i guess
ProjectWorkManagement - Planner I guess

[2019-02-11 05:28] imeya commented on #23503
@jakaruna-MSFT, thank you anyway 👍

[2019-02-11 05:29] Jothi3125 commented on #23885
@angoyal-msft Thank you

[2019-02-11 05:31] Pramoddeokar09 commented on #23408
I am also followed the same steps mentioned above and also getting same 'Site can't be reached error'

[2019-02-11 05:32] Jask2002 opened #24670 "Does this ASR feature works with Encryption on a Linux VM ?"
Documentation does not mention that Windows or Linux ? or Both

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2b1249-5247-938e-cc2a-bb5ba92a910d
* Version Independent ID: fc999d69-7ce6-dacc-5add-7c591680bf7c
* Content: [Configure replication for Azure disk encryption (ADE) enabled VMs in Azure Site Recovery](https://

[2019-02-11 05:36] ManojReddy-MSFT commented on #23691
@liutiger27 If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-02-11 05:36] #23691 closed

[2019-02-11 05:40] CHEEKATLAPRADEEP-MSFT commented on #24664
@liupeirong Thanks for reporting this issue. This is being assigned to the content author to evaluate and update as appropriate.

[2019-02-11 05:42] msrini-MSIT commented on #24666
@githubavi ,To clarify your question, there are two categories in Availability Zones:

Zonal services – you pin the resource to a specific zone (for example, virtual machines, managed disks, IP addresses), or
Zone-redundant services – platform replicates automatically across zones (for example, zone-redundant storage, SQL Database).

It is similar to Availability sets but provides you data center

[2019-02-11 05:47] ManojReddy-MSFT commented on #24643
@mifurm I have assigned this to the author to update the doc with any relevant changes.

[2019-02-11 05:48] YASWANTHM-MSFT commented on #24330
@imeya, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-02-11 05:48] #24330 closed

[2019-02-11 05:56] Mahesh-MSFT opened #24671 "Is the core ratio in table correct?"
Core ratio column in the table above displays the virtual to physical core ratio. It displays ratio as 4.3 for 1st row, 4:1 for 2nd row and 3:1 for 3rd row.

When I calculate the ratio between virtual to physical ratio, it comes about 27:28 for 1st row and 18:7 for 2nd and 3rd row.

My calculation is based on following table.

Can you please take a look and correct it accordingly?

---
#### Docume

[2019-02-11 05:58] chetansriv commented on #15749
Tutorial is updated as suggested. Please review

[2019-02-11 05:58] chetansriv commented on #15749
#please-close

[2019-02-11 06:17] neeleshray commented on #24513
@barbkess
Could you have a check on this ?

[2019-02-11 06:19] neeleshray commented on #24457
@Mcclellange
We will proceed to close this thread. If you need further help, you can re-open this thread.

[2019-02-11 06:19] #24457 closed

[2019-02-11 06:21] neeleshray commented on #24434
@itguysocal
Do you have a Support Case number that you might have raised for us to check the same ?

[2019-02-11 06:21] neeleshray commented on #24420
@Josh-Ramirez @ath3rs
We will proceed to close this thread. If you need further help, you can re-open this thread.

[2019-02-11 06:21] #24420 closed

[2019-02-11 06:22] shashishailaj commented on #24669
@benpaul4u Thank you for your feedback . We will have this reviewed and updated as required.

[2019-02-11 06:29] YutongTie-MSFT commented on #24494
@erhopf Any update? If you verify moving "numberOfLanguagesToDetect=1" will fix the code, I can help to do it. Thanks.

[2019-02-11 06:31] YutongTie-MSFT commented on #24408
@areddish Hi Andrew, do you have any idea about this issue?

[2019-02-11 06:32] YutongTie-MSFT commented on #24623
@dloarie Hi, if you use Trail tier, you need to make sure you use "Westus" region. Sorry for all inconveniences. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-11 06:32] #24623 closed

[2019-02-11 06:33] poloHex opened #24672 "Doc about the sap cloud platform- cloud foundry environment"
HI Expert,

any doc about the trust setup with sap cloud platform - cloud foundry environment?

especially how to setup the "Groups"  claim mapping .

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d33e9a4e-b5e2-cdfb-b3e0-0565e91fb78d
* Version Independent ID: 22602ede-b2c2-a9c1-4929-8cd7cfa8cef9
* Content: [Tut

[2019-02-11 06:40] KrishnaG-MSFT commented on #24350
@NisreenJ Did you get chance to double check and correct the JSON format ? Closing this issue for now. If you are still facing the same error then feel free to share a sample copy of your JSON file here (or else ask a programattic or general question in either MSDN forum or StackOverflow) so that we can try to quickly validate your sample JSON file and will gladly continue the discussion. Thanks.

[2019-02-11 06:40] #24350 closed

[2019-02-11 06:49] SumanthMarigowda-MSFT commented on #23157
@MouthOfMadness  --name and -n both are same. -n is the shortcut for --name.
Example: -g is the shortcut for --resource-group
![capture1](https://user-images.githubusercontent.com/44606021/52549064-476cde80-2df7-11e9-8fe9-16978213c591.PNG)

Hope this helps.

[2019-02-11 06:50] femsulu commented on #24555
valid feedback @kazshi - will pass this on to the doc author

@MGoedtel  - FYI

[2019-02-11 07:10] SamirFarhat commented on #24475
Hi Travis,
Got my answer from  the source:
Now you can use the {var_client_ip} server variable for getting only the client IP without the port. Please try configuring the same and let me know in case you face any issues.

Sample configuration:
{
"ruleSequence": 100,
"name": "Newrewrite",
"actionSet": {
"requestHeaderConfigurations": [{
"headerName": "X-Forwarded-For",
"headerValue": "{var_client_i

[2019-02-11 07:13] angoyal-msft commented on #23409
@pcchauhan120 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 07:13] #23409 closed

[2019-02-11 07:13] angoyal-msft commented on #23590
@Jothi3125 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 07:13] #23590 closed

[2019-02-11 07:15] axelgMS commented on #24406
are the GPU memory values for NC_v2 and NC_v3 correct?

[2019-02-11 07:15] CHEEKATLAPRADEEP-MSFT commented on #23676
@justinSelf We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 07:15] #23676 closed

[2019-02-11 07:16] angoyal-msft commented on #24035
@rylewell-msft We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 07:16] #24035 closed

[2019-02-11 07:18] jakaruna-MSFT commented on #24653
@Anand-Moghe The VM restarts even if the VM size is available in the hardware cluster.
I just checked that by connecting to the VM via RDP and then updating the VM Size. Then the VM shuts down and comes up again with the new size. But the time taken for that is less than 2 minutes.

@cynthn Please add your comments and check if we can add this to the document.

[2019-02-11 07:24] SadiqhAhmed-MSFT commented on #24663
@sabdiel Thanks for the question! Did you upload the file to CLI/PowerShell? If yes, logout from Cloud Shell and re-login. If this doesn't work, logout from the Azure portal and re-login.

[2019-02-11 07:25] pazkooda commented on #21098
While using other services - let's say GMail, Inoreader - you have _G_ as abbreviate of "Go To". So _G+D_ is natural to read "Go To Dashboard".
Other thing is why you need to cross your finger when the way you execute it is: Press _G_, then press _D_ (you don't need to have _G_ being pressed while hitting _D_).

[2019-02-11 07:31] SadiqhAhmed-MSFT commented on #23934
@RogerBestMsft Closing this issue for now. If need further assistance, please provide more details.

[2019-02-11 07:31] #23934 closed

[2019-02-11 07:36] kasinh commented on #24482
@AdiGanMsft Can you pls comment on the timeline?

[2019-02-11 07:43] KrishnaG-MSFT commented on #24594
@asuresh4 Yes, there is an API to get the same information. Please check [this](https://docs.microsoft.com/en-us/rest/api/monitor/metricdefinitions/list) API. Just FYI, for this (i.e., Microsoft.ContainerService/managedClusters) namespace, both [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftcontainerservicemanagedclusters) and API call shows same 5

[2019-02-11 07:43] Siddhukanap opened #24673 "AADSTS700016 Error while loging azure based web app"
I am getting error while login in azure based web application. Please see bellow error description for more details.

AADSTS700016: Application with identifier '4ab79763-17de-4d91-a797-69ea667c6cb7' was not found in the directory 'aaaaaaaaa'. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You may have sent you

[2019-02-11 07:52] mcurko opened #24674 "Clarification needed"
"When you use any of the three Azure services listed below, the Azure infrastructure automatically handles this validation..."

=&gt; How is that done? By checking users access rights (RBAC) on the function app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ea53478-b3df-71dd-5ec8-27746a650775
* Version Independent ID

[2019-02-11 08:19] Juliako commented on #23417
#please-close

[2019-02-11 08:19] Juliako commented on #23417
removed the classic Azure portal

[2019-02-11 08:23] YASWANTHM-MSFT commented on #24359
@xencon, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-02-11 08:23] #24359 closed

[2019-02-11 08:26] YASWANTHM-MSFT commented on #24526
@KeiroKamioka0000,  We need more information on this to help better on this. Please provide more information and elaborate your scenario

[2019-02-11 08:31] YASWANTHM-MSFT commented on #24376
@tfmorris, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-02-11 08:31] #24376 closed

[2019-02-11 08:35] githubavi commented on #24666
Hi Karthik,
So, do you mean that in Zonal mode (Azure VM) platform does not get replicated automatically multiple zones in a region?
If Yes, then in that case if the zone includes only 1 data center, then how it differs or resilient for a datacenter level failure? (as per documentation single zone can have 1 or more data centers)

-Avijit

________________________________
From: KARTHIK SRINIVAS <n

[2019-02-11 08:38] tbertenshaw commented on #10298
Was/is this being done? Would be particularly interested in the detail

[2019-02-11 08:42] dirkslab commented on #13201
@CHDAFNI-MSFT Please advise on location for document on using Log Analytics to retrieve logs for Basic Load Balancer. Thanks

[2019-02-11 08:55] sergaz-msft commented on #24033
@KingdomOfEnds please reach out to @rezasherafat directly by email and post back the solution for this issue. Thanks!

[2019-02-11 09:04] jakaruna-MSFT commented on #24275
@nageshajab Is there any update?

[2019-02-11 09:07] jakaruna-MSFT commented on #23503
@imeya I am closing this issue for now.
If you need additional help, please reopen.

[2019-02-11 09:07] #23503 closed

[2019-02-11 09:09] jakaruna-MSFT commented on #24273
@dlepow Please add your comments

[2019-02-11 09:11] gutjahr opened #24677 "AD Connect"
It would be really useful if the article can provide additional details on which exact user attributes need to be synced to AAD using AD Connect. Also, how can I verify for a given user that all the required information has been synced and is available in AAD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d912434-069

[2019-02-11 09:12] MSSedusch commented on #21888
There is currently no RHEL image in the Azure Marketplace that has access to the HA package. You need to register the VM and attach the VM to a pool that contains the repositories for the HA packages. See https://access.redhat.com/articles/3252491

[2019-02-11 09:13] gutjahr commented on #24477
@saurabhsensharma I have opened a new forum post with my question.
[https://social.msdn.microsoft.com/Forums/azure/en-US/d19fbf80-4835-44ac-beff-23feab66811c/sso-to-onpremises-resources-on-azure-ad-joined-devices?forum=WindowsAzureAD](url)

[2019-02-11 09:14] jakaruna-MSFT commented on #24272
@johnkemnetz Please take a look at this issue

[2019-02-11 09:15] shashishailaj commented on #22027
@philliplyle We will be closing this issue now. Please tag me and email us at azcommunity [at] microsoft [dot] com to continue the conversation on this issue.
Thank you.

[2019-02-11 09:15] #22027 closed

[2019-02-11 09:16] vatsparth commented on #23225
@AjayKumar-MSFT,
Thanks, Sure will do that. But before that I just wanted to make sure. Does it work the same way for docker based Web Apps?

[2019-02-11 09:17] SadiqhAhmed-MSFT commented on #23417
@forester123, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-11 09:17] #23417 closed

[2019-02-11 09:30] KalyanChanumolu-MSFT commented on #24379
@bertrandpons

MI creates an Identity tied to the web app and persists until MI is disabled or the resource is deleted.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 09:30] #24379 closed

[2019-02-11 09:51] martinkearn opened #24680 "'Try parsing the connection string' if statement uses sub-optimal syntax for out variable"
The following line:

`if (CloudStorageAccount.TryParse(storageConnectionString, out storageAccount))`

Should be as follows for cleaner, ready-to-go code

`if (CloudStorageAccount.TryParse(storageConnectionString, out CloudStorageAccount storageAccount))`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-205

[2019-02-11 09:59] YASWANTHM-MSFT commented on #24680
@martinkearn , Thanks for the feedback!I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-11 09:59] dominicbetts commented on #24430
The sample repo has now been updated: https://github.com/Azure-Samples/azure-iot-samples-node/pull/25

[2019-02-11 10:04] CHDAFNI-MSFT commented on #13201
@KumudD can you comment further on the VSTS work item status for @artisticcheese  and @dirkslab

[2019-02-11 10:16] nageshajab commented on #24275
I was running create cluster command from powershell before. You can mark this ticket as closed. Now I have created cluster using azure CLI successfully.
But I am not able to access explorer. The password provided during cluster creation does not work. Both password cluster password and cert password. Hence I am not able to import certificate of key vault.
Then What i have done is I have deleted e

[2019-02-11 10:29] shashishailaj commented on #23421
@kogesaka The issue has been moved internally and the team is looking into it . I will update the thread again once i have any new update.

[2019-02-11 10:36] ChiragMishra-MSFT commented on #24660
@nss12 Unfortunately the until activity doesn't provide scheduling on its own. You have to use it in conjunction with Wait activity to achieve scheduling.

[2019-02-11 10:36] Turil commented on #21106
As far as I know this is only possible by altering the values.yaml in the install folder and then doing a `helm install istio-1.0.5/install/kubernetes/helm/istio --name istio --namespace istio-ystem --values=values.yaml`

[2019-02-11 10:41] cwe1ss opened #24681 "Error converting value "EventStoreService" to type 'System.Fabric.Wrp.BackendService.Model.Public.AddOnFeatureFebruary2018'"
I've been trying to enable the EventStoreService via an ARM template and I added the value "EventStoreService" to the section "properties"-&gt;"addonFeatures" of the resource "Microsoft.ServiceFabric/clusters" (api version 2018-02-01) and I received the following error: "Error converting value \"EventStoreService\" to type 'System.Fabric.Wrp.BackendService.Model.Public.AddOnFeatureFebruary2018'. P

[2019-02-11 10:42] ChiragMishra-MSFT commented on #24622
@ravikiran-srini Thanks for bringing this to our notice. I am assigning the issue to the content author to review and make changes to the doc if needed.

@sharonlo101 Can you please have a look at this ?

[2019-02-11 10:58] cwe1ss commented on #24681
Sorry, I misread the document. I didn't see that "addonFeatures" is only for local clusters. I removed that and only applied the changes from the "Azure Cluster" section and it worked.

[2019-02-11 10:58] #24681 closed

[2019-02-11 11:11] shashishailaj commented on #24421
@thx1200 . The session logs are present in the event viewer as mentioned in the article. Please fidn the screenshots for the same. Please open Event Viewer >> Application and Services Logs >> Microsoft > AAdApplicationProxy >> Connector . Under this you would find the admin and session logs. By default these will be disabled and you will have to right-click and enable it .

![image](https://user-i

[2019-02-11 11:12] Anmolgan81 opened #24682 "Does This Creates all the containers into the Azure Storage account?"
Do this activity creates all the seprate containers into the azure storage account, if we talk about S3 to Azure Storage account data movement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218316eb-5f14-3904-e596-c9d1679ad80c
* Version Independent ID: f3191220-8c7b-3b6a-7c9c-2b0cc2f4211f
* Content: [Copy files from m

[2019-02-11 11:22] KetanChawda-MSFT commented on #24674
@mcurko Thank you for posting your question. We will review this provide an update as appropriate.

[2019-02-11 11:23] angoyal-msft commented on #24227
@MCrank we are checking with Product group internally and will get back to you.

[2019-02-11 11:29] Agazoth opened #24683 "Property value is not allowed"
When trying to update a duplicate of allowed locations in the portal by adding "value" and an array of allowed locations as described in the documentation, I get:
![image](https://user-images.githubusercontent.com/15127301/52560397-88b1be00-2df8-11e9-97d8-8383d65cc940.png)

Clicking Save removes the value array.

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet ti

[2019-02-11 11:31] shashishailaj commented on #24509
@barbkess As per @javierruizjimenez it seems that the content description for the SingleApproleAssignment function listed [here](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/functions-for-customizing-application-data#singleapproleassignment) is copied from description of [NormalizeDiacritics function](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/functi

[2019-02-11 11:37] ChiragMishra-MSFT commented on #24645
@ravikiran-srini  As mentioned in the doc, using Tumbling window triggers, pipeline runs can be scheduled for all windows from a specified start date without gaps.

Tumbling window triggers are more reliable because of retry capability as well as because they can **retain state**.

If the value for the frequency element (or window size) of the trigger changes, the state of the windows that are alr

[2019-02-11 11:39] ChiragMishra-MSFT commented on #24566
@RalfWenzel Thanks for bringing this to our notice. I am assigning the issue to the doc owner to review and make changes as appropriate.

@ShubhaVijayasarathy Can you please have a look at this and make changes to the doc if needed.

[2019-02-11 11:43] mattpollard opened #24684 "Clarify required GitHub product in single sign-on documentation"
Hi 👋 I'm part of GitHub's Enterprise Support team, and I'd like to make a suggestion regarding the [_Tutorial: Azure Active Directory integration with GitHub_ guide](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/github-tutorial). It starts with a useful [_Prerequisites_ section](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/github-tutorial#prerequisites) tha

[2019-02-11 11:44] SadiqhAhmed-MSFT commented on #24670
@Jask2002 Thanks for the comment! The document states that "Only Azure VMs running Windows OS and enabled for encryption with Azure AD app are currently supported by Azure Site Recovery."

![image](https://user-images.githubusercontent.com/44458118/52561133-7e0b1f00-2e20-11e9-8397-c31c4cd6964b.png)

[2019-02-11 12:01] Infoseeker commented on #24489
Yes, it works only on a linux environment. I am trying to install the tools using choclatey for windows.

[2019-02-11 12:09] mattpollard opened #24685 "Clarify required GitHub product in provisioning documentation"
Howdy 👋 I'm on GitHub's Enterprise Support team, and I have a suggestion regarding the [_Tutorial: Configure GitHub for automatic user provisioning_ guide](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/github-provisioning-tutorial) that's pretty similar to https://github.com/MicrosoftDocs/azure-docs/issues/24684.

The tutorial begins with a [_Prerequisites_ section](https://doc

[2019-02-11 12:25] DineshPriyankara opened #24686 "403 - ErrorCode=AuthorizationPermissionMismatch"
Hi All,

I am continuously getting the following error from line;
dbutils.fs.ls("abfss://test@dinesqlgen2storage.dfs.core.windows.net/")

Appreciate if you someone can help me on this.

Here is the entire error;

tatusCode=403
StatusDescription=This request is not authorized to perform this operation using this permission.
ErrorCode=AuthorizationPermissionMismatch
ErrorMessage=This request is not

[2019-02-11 12:29] cwe1ss opened #24687 "How to add multiple user assigned identities with a copy function to an VMSS via an ARM template?"
I've been trying to create an ARM template where I can pass the user assigned identities for a VMSS as a parameter. I've been trying to setup a "copy" variable like this:

Parameter definition:
[code]
Copy variable:
[code]
Scale set:
[code]

However, when I execute this I receive the following error:

[code]

I think the problem is that the current `userAssignedIdentities`-schema uses an object in

[2019-02-11 12:43] laguiz commented on #5049
Any news of how we should handle MFA in custom apps? In our case we want to use the API to check the second factor on special actions. This page https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing shows that with premium it's possible to do "MFA for on-premises applications". Any documentation?

[2019-02-11 12:46] msrini-MSIT commented on #24666
@githubavi , yes it will not replicate automatically. You will need to create new Virtual Machines in by specifying the Zone.

It is similar to Availability Sets, where VMs placed in Availability sets will be in different Fault Domains and Update Domains and in Availability Zones, when you create VMs in all Zones or more than one Zones, you get Data Center level resilience.

[2019-02-11 13:00] CHEEKATLAPRADEEP-MSFT commented on #24682
@Anmolgan81 Thank you for your interest in Azure products and services. We are investigating and will get back to you soon.

[2019-02-11 13:12] skmkzyk commented on #24646
@jdnickell I didn't confirm but it seems you may be able to purchase a certificate from here: https://portal.azure.com/#create/Microsoft.SSL

[2019-02-11 13:12] SumanthMarigowda-MSFT commented on #24686
@DineshPriyankara Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-11 13:32] jzuchora87 opened #24688 "Service Connection instead of PAT?"
It's awesome to see there are cmlets out there to automate this. Is it possible to use a service connection instead of a PAT token for automating the process using PowerShell cmdlet? If so would we just pass the service principal password/key as the token? We really don't want to have all of our sync jobs tied to a personal account.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-02-11 13:48] jjgriff93 commented on #24384
Ah that clarifies things, thanks for finding this out @erhopf - I think there's been a lot of confusion between the Bing Speech docs and the newer Unified Speech API docs - searches on google and ping still seem to emphasise Bing Speech documentation and blogs which probably compounds the problem

[2019-02-11 13:48] #24384 closed

[2019-02-11 13:50] shashishailaj commented on #24677
@gutjahr Thank you for your feedback . We will investigate and update this thread .

[2019-02-11 13:56] ananthradhakrishnan commented on #22954
@jamesbannan - I think that's a good idea, I'll make the update. Thanks!

[2019-02-11 13:56] shashishailaj commented on #24684
@mattpollard Thank you for your feedback !! As far as I understand it seems a valid clarification . I have requested the article author to review the suggestion and update as needed.

Thank you.

[2019-02-11 14:01] shashishailaj commented on #24685
@mattpollard Thank you for your feedback on this. Indeed , the changes you suggest make sense to be included. We will have it reviewed by the authors and update the thread.

[2019-02-11 14:04] shashishailaj commented on #24687
@cwe1ss Thank you for your Feedback . We will investigate this and update the thread soon.

[2019-02-11 14:10] shashishailaj commented on #24672
@poloHex Thank you for your query . WE will check if we have an available public documentation which is available or not and respond back to you on this thread.

[2019-02-11 14:17] shashishailaj commented on #24673
@Siddhukanap Thank you for your query. We will investigate and further update this thread.

[2019-02-11 14:22] CHEEKATLAPRADEEP-MSFT commented on #24682
@Anmolgan81 Yes, this activity creates all the separate containers into the Azure storage account or Azure Data Lake Store.

As mentioned in the document: The solution template described in this article helps you to copy files from multiple files, containers, or buckets between file stores. For example, maybe you want to migrate your data lake from AWS S3 to Azure Data Lake Store. Or maybe you wan

[2019-02-11 14:23] angoyal-msft commented on #24239
@stephenjust Sorry for the delay. I have created a new read-only replica for my db and when I am running any query in read only replica. I was able to see the metrics for the same in read-only db.
Below is the screenshot for the same.

![image](https://user-images.githubusercontent.com/43370663/52569147-82423700-2e36-11e9-81c1-6ec2b10bfbd5.png)

Please confirm if this is what your concern is. or p

[2019-02-11 14:31] swt2c commented on #24409
The post did not help me as I was trying to implement *log filtering*.  However, I did find a solution to my problem:

[code]
where <MODULE_NAME> is the name (__name__) of the module that I want to silence the logs from.

[2019-02-11 14:39] jdnickell commented on #24646
@skmkzyk Looks like you're correct, thanks.

[2019-02-11 14:39] #24646 closed

[2019-02-11 14:41] SaurabhSharma-MSFT commented on #24377
@AlekseySokol We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-11 14:41] #24377 closed

[2019-02-11 14:41] SaurabhSharma-MSFT commented on #24380
@KehindeOwens We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-11 14:41] #24380 closed

[2019-02-11 14:41] marty2bell commented on #10754
Is there a resolution to this issue......it seems a bit pointless going to the trouble of integrating AKS with Active Directory if we can't block users from issuing

    az aks get-credentials --admin

[2019-02-11 14:42] SaurabhSharma-MSFT commented on #24477
@gutjahr Thank you.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-11 14:42] #24477 closed

[2019-02-11 14:46] joseph-cloudthing commented on #24078
Create a powershell script with `Get-ChildItem Env:` and upload that as a webjob. Check the logs to see what's there. I guess there are no promises they will stick around...

[2019-02-11 14:46] markjbrown commented on #23875
It is supported but we are de-emphasizing it to move customers away from Lazy indexing as it causes a great deal of confusion for customers. Our recommendation is to use Consistent Indexing. If you need to relax indexing to support bulk loading, turn off indexing, then turn back on.

Thanks.

[2019-02-11 14:50] markjbrown commented on #24634
We support JavaScript ES6 (ECMA 2015) for server-side js.

Glad you find these docs useful. Thanks!

[2019-02-11 14:57] vikaskumawat80 opened #24689 "Storage Blob Data Reader (Preview) not working"
Given Storage Blob Data Reader (Preview) and Reader access to an Azure AD user but when the user is trying to access blobs from the Azure Portal. We are getting below error:

The client 'user@domain.onmicrosoft.com' with object id 'xxxxxxxx' does not have authorization to perform action 'Microsoft.Storage/storageAccounts/listKeys/action' over scope '/subscriptions/subscriptionid/resourceGroups/rba

[2019-02-11 14:59] githubavi commented on #24666
Thanks Karthik, for the explanation. You can close it now.

-Avijit

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: KARTHIK SRINIVAS <notifications@github.com>
Sent: Monday, February 11, 2019 6:17:01 PM
To: MicrosoftDocs/azure-docs
Cc: Avijit Samanta; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Clarification on "Zonal Option" for VMs (#24666)

@githubavi

[2019-02-11 14:59] DCtheGeek commented on #24683
@Agazoth Looks like this is a typo.  I'll get it fixed ASAP!  It should be **allowedValues**.  Also, I see this property isn't mentioned at all in the [definition structure](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure), so I'll address it there, as well.  Thank you for catching this and pointing it out!

@MicrosoftDocs/azure-cxp-triage Please assign to me, labe

[2019-02-11 15:07] ivanfioravanti commented on #10926
This has to be reopened. How can we manage MFA when MSOlUser will be removed?

[2019-02-11 15:09] KrKandula commented on #24591
@MarileeTurscak-MSFT I am referring to my SPA link/route  which requires authentication.
The routerequireADLogin: true applies for this route.

[2019-02-11 15:10] vikaskumawat80 commented on #24689
I am able to access Blobs from the Azure Storage Explorer not sure why it's working on Azure Portal.

[2019-02-11 15:11] DCtheGeek commented on #24683
@Agazoth Minor correction.  I took a second look as I prepared to update this.  The sample is correct.  This is the JSON block you are seeing in the sample:

[code]

This block is for passing to an existing policy definition during assignment and setting the value of the parameter for that assignment. In this use, the sample is correct.

The screenshot you showed above is trying to edit the policy

[2019-02-11 15:15] msrini-MSIT commented on #24666
@githubavi Thank you for your confirmation.

[2019-02-11 15:15] #24666 closed

[2019-02-11 15:16] mumian commented on #24663
@sabdiel - Thank you for reporting the issue.  It seems an issue with the Cloud shell.  The issue is under investigation.  Until the problem is resolved, you can deploy the template from your local computer.  For the instructions, see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-deploy#deploy-a-template-from-your-local-machine.

[2019-02-11 15:25] aandrew129 opened #24691 "IdP Initiated SSO not supported"
The documentation provided in this article does states that Adobe Creative Cloud supports IdP initiated SSO, however, Adobe's documentation specifically states that it does NOT support this method currently.  See the following:  https://helpx.adobe.com/enterprise/using/set-up-identity.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-02-11 15:34] 5hred commented on #10926
Please consider managing/queries of MFA status using AzureAD

[2019-02-11 15:45] cpunella commented on #10926
Please vote here https://feedback.azure.com/forums/34192--general-feedback/suggestions/36816202-set-mfa-using-azure-active-directory-powershell-mo

[2019-02-11 15:48] sowsan opened #24692 "clarify role name vs roleinstance"
Hello -

Could you please clarify the difference on role vs roleinstance. In .NET e.g, using only role name where as rest all has second property called roleinstance. Please clarify when to use it and scenarios. Also, it will be good to share why its not provided for .NET.

Regards,
Sowmyan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-02-11 15:51] MCrank commented on #24227
@angoyal-msft Thank you for following up on this. Very much appreciate it.

[2019-02-11 15:52] ckay1988 commented on #16007
Hi vlad,

is there any timeline when this near-realtime ingestion will be released? We are currently building up a scalable IoT solution and I'd be really happy to see the realtim eingestion in ADX.

KR
Christian

[2019-02-11 15:52] skybear2014 opened #24693 "Support of Nvidia grid driver 7.1"
Nvidia has released grid driver 7.1. I am wondering if grid 7.1 is also supported in Azure NV instance.
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c5bc749-3f68-e230-37ff-f74ce72efb59
* Version Independent ID: 2a382803-e085-82e2-4139-be5c8b9e1a0d
* Content: [Azure N-series GPU driver setup for Windows](h

[2019-02-11 15:54] JustinGalbraith opened #24694 "Installation on Running VM"
Can you install the agent on a running VM and if so, does it require a reboot?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2d20271-77ef-4c29-26ed-e6ea015a7c63
* Version Independent ID: ea4abb54-6c4b-7049-f440-853b5a874ec5
* Content: [Azure Network Watcher Agent virtual machine extension for Windows](https://

[2019-02-11 16:03] bertrandpons opened #24695 "Deploy SSIS Project with PowerShell - Azure DevOps + ADF IR + Azure SQL Database - Issue"
Hello,

I get an error when I want to deploy an ispac from Azure DevOps with a PowerShell script (as this [one](https://docs.microsoft.com/en-us/sql/integration-services/lift-shift/ssis-azure-deploy-run-monitor-tutorial?view=sql-server-2017#deploy-a-project-with-powershell)) to an Azure SQL Database:

Connecting to SSIS Instance server ...
Enumerating all folder in the project code
ISPAC File ==>

[2019-02-11 16:08] Alberto-Vega-MSFT commented on #24673
@Siddhukanap I'm sorry to hear that you are facing this issue. Could you link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-02-11 16:18] cherylmc commented on #24585
Hi! We did have it that way originally, but people wanted it separate so that they could see exactly what was going on. And often, they don't do both things at the same time. So that's why we offer separate options.

[2019-02-11 16:20] erhopf commented on #24283
@YutongTie-MSFT - I've reached out to the engineering team and will let you know as soon as I have an answer.

[2019-02-11 16:21] erhopf commented on #24494
@YutongTie-MSFT - @Jann-Skotdal is looking into this issue now. We are locating resources for testing.

[2019-02-11 16:22] erhopf commented on #24384
@jjgriff93 - I hear you. We are working towards addressing this issue. Sorry for any confusion that this caused, but glad you're unblocked ;).

[2019-02-11 16:33] MouthOfMadness commented on #23157
Lol, I get it, it just doesn’t seem to work in VSTS.

This is what my code looks like right now now, where -n works and --name doesn’t.

Write-Host("install storage-preview")
#az extension add --name storage-preview
az extension add -n storage-preview
Write-Host("Finish storage-preview")

From: SumanthMarigowda-MSFT <notifications@github.com>
Sent: Monday, February 11, 2019 12:50 AM
To: MicrosoftD

[2019-02-11 16:38] Mike-Ubezzi-MSFT commented on #24634
@jdanyow We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 16:38] #24634 closed

[2019-02-11 16:46] RudyCo opened #24696 "Is MFA a.k.a AD Interactive Mode available?"
In C#, this is possible from .NET 4.7.2 (SqlAuthenticationMethod.ActiveDirectoryInteractive).
What about Python? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7027370-2cda-fc7c-68f4-9f6aeeb4ee80
* Version Independent ID: 025794c1-a35e-2c6e-15ae-c0985a2ee082
* Content: [Use Python to query Azure SQL Database](

[2019-02-11 16:46] Mike-Ubezzi-MSFT commented on #24652
@mortenf You were so close to finding the examples. In the text of the statement you reference, there is a link: "By default, [you can use SQL](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-query) to update and query your data in your Cosmos database." which takes you to: S[QL query examples for Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-query)

Does

[2019-02-11 16:54] brlewi commented on #24494
Test

[2019-02-11 16:59] jeffgilb commented on #24656
Hi @rfsonders, a new SQL resource provider might be released when Azure Stack is updated to a new build, but it's not necessary for a new resource provider version to be released every time Azure Stack releases a new build. You can see the _minimum_ supported version of Azure Stack for each resource provider release in [the prerequisites section](https://docs.microsoft.com/azure/azure-stack/azure-

[2019-02-11 16:59] jeffgilb commented on #24656
#please-close

[2019-02-11 17:03] Mike-Ubezzi-MSFT commented on #24696
@RudyCo Thank you for the detailed inquiry. As part of Data Lake Analytics Python SDK, there is interactive login functionality that can be implemented: [Authenticating your Python application against Azure Active Directory](https://azure.microsoft.com/en-us/resources/samples/data-lake-analytics-python-auth-options/).
It does not appear that there is a standalone Python client for Azure SQL Databa

[2019-02-11 17:03] cherylmc commented on #24582
@blouwagie - the change has published, so I think we're all set. Thanks for letting me know that it was confusing!

[2019-02-11 17:03] cherylmc commented on #24582
#please-close

[2019-02-11 17:04] cherylmc commented on #24585
But I do agree, it's a complicated procedure!

[2019-02-11 17:05] cherylmc commented on #24585
#please-close

[2019-02-11 17:10] CeciAc commented on #23901
Hi all,
This is not a localization issue, please confirm we should move this issue to https://github.com/MicrosoftDocs/visualstudio-docs/

best

@YutongTie-MSFT @DavidPrio @Sara-Nicolini

[2019-02-11 17:10] Karishma-Tiwari-MSFT commented on #24694
Thanks for the question! We are currently investigating and will update you shortly.

[2019-02-11 17:11] Karishma-Tiwari-MSFT commented on #24693
Thanks for the question. We are currently investigating and will update you shortly.

[2019-02-11 17:14] CarlRabeler commented on #24437
Rewrote - if more feedback, please resubmit issue @Eikistein

@Mike-Ubezzi-MSFT please close

[2019-02-11 17:16] erhopf commented on #24384
@jjgriff93 - Do you mind sending me a link to the doc you landed on with recognition mode information?

[2019-02-11 17:16] Mike-Ubezzi-MSFT commented on #24437
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 17:16] #24437 closed

[2019-02-11 17:17] Ei-Thandar-Aung commented on #12690
In adding image stage, do you add photo in the tags?
The code create the tags but doesn't add any in the tags. If your adding image stage is ok, i want to know.

[2019-02-11 17:22] RudyCo commented on #24696
Thanks a lot!

[2019-02-11 17:26] CarlRabeler commented on #22660
@psaleh please file new issue if this is not fixed as I am told that the pricing calculator has been updated
@Mike-Ubezzi-MSFT @angoyal-msft  please close

[2019-02-11 17:27] mortenf commented on #24652
@Mike-Ubezzi-MSFT No - that page only contains details on SELECT statements, nothing on e.g. UPDATE or INSERT.

[2019-02-11 17:28] erhopf commented on #24494
@YutongTie-MSFT - I was able to validate the fix this morning. We will look to patch the docs later today. Thanks @paramrsingh.

[2019-02-11 17:33] kobulloc-MSFT commented on #24692
@sowsan Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-02-11 17:33] iainfoulds commented on #24655
SLO is a service level objective. As you note, there's no formal SLA for AKS, so the _objective_ is to provide at least 99.5% for the Kubernetes API server.

[2019-02-11 17:35] CarlRabeler commented on #21986
Added this link: https://docs.microsoft.com/en-us/sql/t-sql/statements/create-database-transact-sql?view=azuresqldb-current

@MikeInSwitzerland thanks for reporting - great catch - sorry for your troubles
PR pending

@Mike-Ubezzi-MSFT please close

[2019-02-11 17:37] jluk commented on #24600
Thanks @rwwinn1 for raising this - opening a PR now to update the link to proper syntax examples.

[2019-02-11 17:39] Adam-Smith-MSFT commented on #24689
@vikaskumawat80 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-11 17:39] CarlRabeler commented on #24546
@srdan-bozovic-msft please review

[2019-02-11 17:39] CarlRabeler commented on #24614
@VanMSFT please follow up

[2019-02-11 17:41] Mike-Ubezzi-MSFT commented on #24652
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-11 17:41] snpdev commented on #24655
I recommend that you state "service level objective" in the document, just as you spell out "service level agreement" later in the FAQ. Or, if there is a corresponding document that describes the SLO, link to it. Thanks for filling me in.

[2019-02-11 17:43] jn-altius opened #24697 "Parameter direction"
Do the storedProcedureParameters have a direction property?  Is there a way to pick up the value of output parameters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45e0996a-5a15-b03a-f204-b8725579109d
* Version Independent ID: 6c8ed85a-8e40-a7b2-c13a-81123aa499d4
* Content: [Transform data by using the Stored Procedu

[2019-02-11 17:43] #22660 closed

[2019-02-11 17:50] AmanGarg-MSFT commented on #24557
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-02-11 17:50] #24557 closed

[2019-02-11 17:50] AmanGarg-MSFT commented on #24558
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-02-11 17:50] #24558 closed

[2019-02-11 17:54] Mike-Ubezzi-MSFT commented on #24138
@Ayanmullick In looking at this document: [Database-Level Roles](https://docs.microsoft.com/en-us/sql/relational-databases/security/authentication-access/database-level-roles?view=sql-server-2017):

Would be the same as [Reader](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader) in the following documentation: [Role assignments](https://docs.microsoft.com/en-us

[2019-02-11 17:57] jluk commented on #24600
Update merged - #please-close

[2019-02-11 17:59] Anand-Moghe commented on #24653
@jakaruna-MSFT  Thanks a lot.

[2019-02-11 17:59] sabdiel commented on #24663
Thanks @SadiqhAhmed-MSFT @mumian

I did as instructed by @SadiqhAhmed-MSFT but the issue still persists and as I am able to complete the QuickStart using Bash I also believe is a Cloud Shell (Powershell) issue as indicated by @mumian.

Thanks again.

[2019-02-11 17:59] #24663 closed

[2019-02-11 18:02] Mike-Ubezzi-MSFT commented on #21986
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 18:02] #21986 closed

[2019-02-11 18:07] MarileeTurscak-MSFT commented on #24691
@aandrew129
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-11 18:13] #14768 closed

[2019-02-11 18:18] Mike-Ubezzi-MSFT commented on #24695
@bertrandpons Are you following any tutorial or sourcing any documentation for guidance. I am providing this document: [Deploy an SSIS project with PowerShell](https://docs.microsoft.com/en-us/sql/integration-services/ssis-quickstart-deploy-powershell?view=sql-server-2017) as a reference that will help with the PowerShell + SSIS part of the equation. It appears you might be attempting to execute t

[2019-02-11 18:18] hpsin commented on #21783
Hey Steven,
We've documented the /.default scope in both the consent page and the OBO flow page for v2.

Regarding:

No - that should work, because at this point the consent has been written.  That's a permanent thing that carries over across token issuances.  Once it's been written, between the middle tier and the back-end API, any token made out to the middle tier (for that user) can be used for

[2019-02-11 18:18] hpsin commented on #21783
#please-close

[2019-02-11 18:19] #24618 closed

[2019-02-11 18:22] Karishma-Tiwari-MSFT commented on #24655
Thanks @iainfoulds for the update.

[2019-02-11 18:23] glloyd2010f opened #24699 "Automation Account Source Control Blade Picture"
The pictures for the Automation Account Source Control Blade still show this feature as "Preview". Even though it is now GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2ecd
* Version Independent ID: 2d164036-6886-4440-50f7-369f99f41cea
* Content: [Source Control integration in Azure

[2019-02-11 18:24] Karishma-Tiwari-MSFT commented on #24185
@matheus-santoro Did the shared doc help at all? Let me know.

[2019-02-11 18:26] jeevansd commented on #24691
@chetansriv  and @v-pugoe Can you please rested this and verify that they support IDP initiated SSO?

[2019-02-11 18:27] georgewallace commented on #24699
Thanks for pointing this out. I have a pull request to update this that is in review and should be out soon.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: glloyd2010f <notifications@github.com>
Sent: Monday, February 11, 2019 10:23:27 AM
To: MicrosoftDocs/azure-docs
Cc: George Wallace; Mention
Subject: [MicrosoftDocs/azure-docs] Automation Account Source Contro

[2019-02-11 18:27] javierruizjimenez opened #24700 "Duplicated content"
The section "How to set an application’s single sign-on mode" and the section "How to set an application’s provisioning mode
" show identical instructions (steps 1 to 5) and outdated (step 6 - filter control is named "Application Type" not "Show").

The same instructions are presented in the Quick start page "View your Azure Active Directory tenant applications" https://docs.microsoft.com/en-us/az

[2019-02-11 18:28] Alberto-Vega-MSFT commented on #24197
@raghavan20 Are you still facing this issue?

[2019-02-11 18:29] YutongTie-MSFT commented on #24662
@sdgilley Hi Sheri, could you please help to check if moving sample part before tutorials makes more sense? Thank you.

[2019-02-11 18:29] gurudennis commented on #24694
Hi, Justin,

Yes, you can install Network Watcher Agent on a running VM. No reboot will be required.

Regards,
Dennis

[2019-02-11 18:33] msLinuxNinja opened #24701 "Should include steps for MBR and other filesystems like XFS"
The article should also include steps for MBR disks (fdisk) and other filesystems such as XFS (xfs_growfs).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06c61c5a-d9e4-742b-36e5-b9effa33d903
* Version Independent ID: cb9dbd59-460d-a1a0-9863-5213d6a1093e
* Content: [Expand virtual hard disks on a Linux VM in Azure](htt

[2019-02-11 18:37] mhoeger opened #24702 "Better documentation around content type of HTTP bindings"
This documentation does not include good information on how to change the content-type of different HTTP bodies: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook

This is especially true for JavaScript.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca056578-526c-603a-a0c7-fad51841

[2019-02-11 18:37] msLinuxNinja commented on #24701
Also, some distros don't have the latest version of parted which doesn't have the resize command.

[2019-02-11 18:39] Ayanmullick commented on #24138
The Azure resource level RBAC is entirely different from the RBAC within the database.

`Get-AzureRmRoleAssignment -Scope /subscriptions/<SubID>/resourceGroups/<RGName>/providers/Microsoft.Sql/servers/<SQLServerName>/databases/<SQLDatabaseName>|ft`
This outputs the Azure level RBAC

`SELECT DP1.name AS DatabaseRoleName,  `
`   isnull (DP2.name, 'No members') AS DatabaseUserName  `
` FROM sys.datab

[2019-02-11 18:39] praveendhac commented on #10754
Azure added below roles. You can login to portal and browse to `Subscriptions->Accesscontrol(IAM)->Roles`
[code]

[2019-02-11 18:39] AsdfrGasd opened #24703 "Gdddhuff"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-02-11 18:39] JustinGalbraith commented on #24694
Perfect,

thanks for the quick response

[2019-02-11 18:40] AsdfrGasd commented on #24703
Vfbchsgvc

[2019-02-11 18:40] AsdfrGasd commented on #24703
Xgggx

[2019-02-11 18:41] adhishthite opened #24704 "Local Cache Clearing?"
Wanted to create a workspace in a different account, but not able to do so. Getting the following error consistently -

AuthenticationException: You don't have access to 70792708-ac13-4752-875b-53a3a09fe1f6 subscription. All the subscriptions that you have access to = [SubscriptionInfo(subscription_name='Free Trial', subscription_id='&lt;my-subscription-id&gt;')].

How to resolve?

---
#### Docume

[2019-02-11 18:41] MicahMcKittrick-MSFT commented on #24518
@jstallm I will close this for now. However, I have informed the author of your feedback and this issue will remain on the doc. If others are seeing confusion we can revisit and consider revising the doc.

[2019-02-11 18:41] #24518 closed

[2019-02-11 18:42] MicahMcKittrick-MSFT commented on #24561
Thanks @gxgrammatikos

I will assign to the author to review to see if we can make this more clear.

@laurenhughes can you take a look?

[2019-02-11 18:43] #24655 closed

[2019-02-11 18:43] Karishma-Tiwari-MSFT commented on #24694
@gurudennis Thank you for the answer. :)
@JustinGalbraith We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-11 18:43] #24694 closed

[2019-02-11 18:43] BryanTrach-MSFT commented on #24647
@jdklein33 We have assigned your feedback to the doc author to have them review it and determine if there is any action necessary.

[2019-02-11 18:45] MicahMcKittrick-MSFT commented on #24612
@tastyeggs in my experience 64 should be enough.... But then again this doc has not been updated in a while so things may have changed. I will assign to the authors to review and see if this needs modifying.

[2019-02-11 18:46] Karishma-Tiwari-MSFT commented on #24655
@snpdev Thanks for bringing this to our attention. The pull request for the doc update has been merged and changes will be live shortly.

[2019-02-11 18:50] rolyon commented on #23900
Hi @zhusulai
I've made some updates to this article that hopefully makes this more complete.
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definitions#data-operations-example
Let me know if you have any additional feedback.
thanks

[2019-02-11 18:50] rolyon commented on #23900
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-02-11 18:51] BryanTrach-MSFT commented on #24621
@GirtheGameDesigner I am able to see the same images as required by this doc when using the latest version of Visual Studio 2017 (15.9.6). You likely will need to use Visual Studio installer to install the web packages in order to obtain this image.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2019-02-11 18:51] #24621 closed

[2019-02-11 18:53] BryanTrach-MSFT commented on #24619
@justingden We have reviewed your feedback and assigned it to the author to have them determine if an enhancement is necessary to the doc.

[2019-02-11 18:56] bertrandpons commented on #24695
@Mike-Ubezzi-MSFT Thank you for your reply.

I use the script attached that I run through the task Azure PowerShell in my Release Pipeline on Azure DevOps.
The Script Arguments are: '$(ETL_USER)' '$(ETL_SERVER_ENDPOINT)' '$(ETL_ISPAC_FILEPATH)' '$(ETL_FOLDER_NAME)' '$(ETL_FOLDER_DESCRIPTION)' -etl_password_param '$(ETL_PASSWORD)', variables that I set in the dedicated tab in the Release Definition

[2019-02-11 18:57] kenlefeb opened #24705 "Misspelling"
The second heading on this pages says "WebHobs host". I believe this should say "WebJobs host".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4500b14-64b4-4d1b-aae3-f0fd4dde85f2
* Version Independent ID: 8fb75741-37b9-b45f-c0ca-9948ddaf1c06
* Content: [How to use the WebJobs SDK - Azure](https://docs.microsoft.com/en

[2019-02-11 18:58] Mike-Ubezzi-MSFT commented on #24138
@Ayanmullick Yes, this is correct. So, with what has been clarified and based upon your initial question, you asking for database RBAC role assignments via PowerShell. I will forward this on to the content author to evaluate. Thank you!

[2019-02-11 19:00] conceptdev commented on #24647
Thanks for your feedback @jdklein33 - this article is really targeted at creating a new app with Azure, we did not have in mind that customers would be setting up their environment from scratch from this page.

I would recommend visiting the [UWP docs](https://docs.microsoft.com/windows/uwp/) and specifically the [set up information](https://docs.microsoft.com/windows/uwp/get-started/get-set-up) t

[2019-02-11 19:01] MicahMcKittrick-MSFT commented on #23789
@iainfoulds aplogies but I have not been able to get my environment setup to accurately test this. For some reason my RBAC enabled cluster is not provisioning correctly even on my personal subscription. I have been trying this for days without any luck. Could you try to repro this as well? I am just not having any luck.

CC @Karishma-Tiwari-MSFT @jakaruna-MSFT if they can try a repro as well

[2019-02-11 19:04] MicahMcKittrick-MSFT commented on #24701
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-11 19:05] MicahMcKittrick-MSFT commented on #24703
@AsdfrGasd thanks for reaching out. If you have any issue with any docs please open a new issue on that specific doc with any details to help us debug and assist better.

[2019-02-11 19:05] #24703 closed

[2019-02-11 19:06] CelesteDG commented on #24700
Thank you for the feedback, @javierruizjimenez - This content set just transitioned over to my new team and I'll be doing an audit of the entire doc set. Please feel free to continue sending us your feedback and suggestions (like this one). It's very much appreciated. :)

Please do note that because this doc enhancement request/suggestion may require more time (transition on my part and some other

[2019-02-11 19:06] robinsh commented on #24548
The consumer group can be used by the Azure Stream Analytics when retrieving the data. It has nothing to do with the routing itself, and is optional.

[2019-02-11 19:07] MicahMcKittrick-MSFT commented on #24702
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-11 19:07] CelesteDG commented on #24700
#please-close

I have opened a separate work item in DevOps to track this doc enhancement and will address that once I've fully transitioned this doc set and will prioritize along with other work items in our backlog.

[2019-02-11 19:09] #24700 closed

[2019-02-11 19:15] blouwagie commented on #24582
Thank you!
Bart

On Mon, Feb 11, 2019 at 12:03 PM Cheryl McGuire <notifications@github.com>
wrote:

[2019-02-11 19:18] CeciAc opened #24707 "what does the reference with sql server have to do with this article?"
@baleng commented on [Mon Feb 11 2019](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/198)

https://docs.microsoft.com/it-it/azure/virtual-machines/workloads/oracle/oracle-design#disk-cache-settings

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟ GitHub.*

* ID: 9d2baad7-03e3-a26c-f831-900ab

[2019-02-11 19:19] CeciAc commented on #24707
Hi team
I'm moving this here since the user's comment is about the original content

Kind regards

[2019-02-11 19:19] justingden commented on #24619
Ok, cool. Might also be helpful to mention that you should have a highest
numbered priority item to Allow all internet traffic (using 0.0.0.0/0), if
your intent is to just restrict some IPs or ranges.

Thank you,

Justin

On Mon, Feb 11, 2019 at 11:53 AM Bryan Trach <notifications@github.com>
wrote:

[2019-02-11 19:20] barbkess commented on #20979
#please-close

[2019-02-11 19:23] barbkess commented on #21762
@MicrosoftDocs/azure-cxp-triage : Please reassign to @CelesteDG who is managing the application management content now.

[2019-02-11 19:23] #15749 closed

[2019-02-11 19:23] barbkess commented on #21927
@MicrosoftDocs/azure-cxp-triage : Please reassign to @CelesteDG who is managing the application management content now.

[2019-02-11 19:23] barbkess commented on #23203
@MicrosoftDocs/azure-cxp-triage : Please reassign to @CelesteDG who is managing the application management content now.

[2019-02-11 19:24] barbkess commented on #24509
@MicrosoftDocs/azure-cxp-triage : Please reassign to @CelesteDG who is managing the application management content now.

[2019-02-11 19:24] barbkess commented on #24513
@MicrosoftDocs/azure-cxp-triage : Please reassign to @CelesteDG who is managing the application management content now.

[2019-02-11 19:24] barbkess commented on #24559
@MicrosoftDocs/azure-cxp-triage : Please reassign to @CelesteDG who is managing the application management content now.

[2019-02-11 19:25] #24582 closed

[2019-02-11 19:25] #24585 closed

[2019-02-11 19:25] #24656 closed

[2019-02-11 19:26] reicher001 commented on #17750
Any updates on this?

[2019-02-11 19:26] saf-itpro opened #24708 "Command "Get-Module -ListAvailable Az" mentioned in the article does not display any output."
Contrary to the claim towards the end of the "Prerequisites" section of this article, the command "Get-Module -ListAvailable Az: does not display the latest version of the PowerShell installed on the machine. In fact, it does not display any output. Could it be a typo in the document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-02-11 19:27] YutongTie-MSFT commented on #17750
@tamram Hi Tamra, is there any update? Thanks.

[2019-02-11 19:29] SaurabhSharma-MSFT commented on #24387
@stanley70 can you please send your subscription id details to Azure CXP Community Connect - [AzCommunity@microsoft.com](mailto:AzCommunity@microsoft.com) with the GitHub issue link.  we will create a one time support if that will help to resolve your issue.

[2019-02-11 19:30] #24647 closed

[2019-02-11 19:38] roygara commented on #24577
@saf-itpro Thanks for pointing this out! You weren't missing something, they weren't in the article. They are there now, though!

#please-close

[2019-02-11 19:41] CeciAc opened #24709 "QnA Maker Train API behavior is undocumented"
@hansmbakker commented on [Mon Feb 11 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/225)

QnA Maker apparently has a Train API, but it is not documented at https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136866eb37/operations/5ac266295b4ccd1554da75ff.

It is not documented what the expected response should be.

The link to the Train API on https://docs.micro

[2019-02-11 19:42] CeciAc commented on #24709
Hi team,
I'm moving this here since the user is reporting missing information in the documentation

best regards

[2019-02-11 19:46] ColeShepherdAG commented on #24239
@angoyal-msft I believe @stephenjust is talking about the "Read scale-out" feature of premium/business tier Azure SQL databases, which is found under "Settings" > "Configure" in the Azure portal when a SQL database is selected. I'm not aware of any way to view metrics for the read slaves when using that feature.

[2019-02-11 19:48] #23900 closed

[2019-02-11 19:50] CeciAc opened #24711 "401 error of text analytics"
@hemokwang commented on [Wed Jan 30 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/357)

I wrote an app in the light of this tutorial, copied the source code and change the API key to the correct one.
But somehow it came with an error 401. I tried to change the endpoint, but it did not work.
The sentence with the problem is as below:
            HttpWebResponse response = (HttpWebR

[2019-02-11 19:51] CeciAc commented on #24711
Hi team,
I moved this one here since the issue refers to the code example

best regards

[2019-02-11 19:58] StevenLiekens commented on #21783
Thanks for clarifying

[2019-02-11 19:58] #21783 closed

[2019-02-11 20:12] 1trevor opened #24712 "Link Automation Account to Log Analytics workspace"
This article says "note the Log Analytics workspace that your Automation account is linked to"
When I go to my automation account and select Linked Workspace (I assume this is where you would check it), it says "This Automation account is not linked to a Log Analytics workspace."
How do I link the automation account to a workspace? I have tried creating a logs analytic workspace, but it doesn't gi

[2019-02-11 20:14] 1trevor opened #24713 "How to create a link between a Log Analytics workspace and Automation account"
This article says "When you install a solution through the Azure Marketplace, you are prompted for a workspace and Automation account. The link between them is created if they aren't already linked."
This is not true. When I create a solution from the marketplace it prompts for a workspace, but not an automation account. I cannot find any way to link an automation account to a workspace.

---
####

[2019-02-11 20:15] awickham10 commented on #21602
I was able to fix this by going into my CDN endpoint and updating the origin type from "Storage" to "Custom Origin" and setting my origin hostname and origin host header to my x.z.web.core.windows.net URL instead of the x.blob.core.windows.net URL.

[2019-02-11 20:15] Karishma-Tiwari-MSFT commented on #24707
@CeciAc I see that you closed the issue. Is it by mistake? Let me know I will reopen it. Thanks.

[2019-02-11 20:17] VanMSFT commented on #24138
Hi @Ayanmullick, thank you for your question! There's no official documentation to my knowledge that provides details on what you are asking. However, the syntax of adding a role member would be the same through PowerShell as it would be if you are running a SQL command. You would need to build a connection object, and then run the T-SQL query through the SqlCommand class. You can also try [Invoke

[2019-02-11 20:17] #24683 closed

[2019-02-11 20:17] CeciAc commented on #24707
@Karishma-Tiwari-MSFT oops! Sorry, I wanted to close the issue in the other repo
I'm reopening, thanks for letting me know!

[2019-02-11 20:18] TylerMSFT commented on #23410
I removed the goto. Also reformatted the braces. I inherited this topic.
The fix will be live 2/12/2019
#please-close

[2019-02-11 20:21] kgremban commented on #24583
@inesk-vt Thank you for the feedback. Can you clarify which section you meant by "Also may want to highlight the section below more prominently (i.e.: with the color call out)."?

Also, we were running an A/B test on this article that ended last week. Depending on which version you were seeing, the article may look different now. One version had the installation steps, and one version pointed to a

[2019-02-11 20:24] jn-altius opened #24714 "Stored Procedure example"
"It also returns the result of executing a query or stored procedure."

Is there an example of how to get a Lookup Activity to call a stored procedure, and pick up a value from the results?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ede89f3f-055a-b123-c081-8622a9035171
* Version Independent ID: c4fe312f-71a6-fe9b-e

[2019-02-11 20:24] femsulu commented on #24688
@jzuchora87 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-11 20:24] tomekwier commented on #22648
I am having exactly same problem with Model.get_model_path() failing for [batch prediction](https://docs.microsoft.com/mt-mt/azure/machine-learning/service/how-to-run-batch-predictions) use case. Is there an easy way to set the logging level to DEBUG as documentation suggests ?

The stack trace is similar to @dem108's:

`Traceback (most recent call last):
  File "azureml-setup/context_manager_inje

[2019-02-11 20:27] Karishma-Tiwari-MSFT commented on #24191
@richyla Thanks for sharing the details. Can you confirm that you are seeing the same issue as https://github.com/MicrosoftDocs/azure-docs/issues/23789

[2019-02-11 20:27] femsulu commented on #24699
thanks @georgewallace.
@glloyd2010f We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-11 20:27] #24699 closed

[2019-02-11 20:28] asuresh4 commented on #24594
Thanks @KrishnaG-MSFT for your response. I see that the 5 metrics are cluster level metrics. Is it possible to get Node, Controller, Containers stats from the Azure Monitor API?

[2019-02-11 20:29] MarileeTurscak-MSFT commented on #24572
@SoccerCore11 thanks. I've passed this information along to the content author, @curtand

In the meantime if you'd like to make a pull request to the document to add this information, feel free to do so.

[2019-02-11 20:30] YutongTie-MSFT commented on #24704
@adhishthite
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-11 20:32] gate502 opened #24715 "AAD MFA without AAD P1"
Does this mean that the only way to have MFA for our AAD Accounts is to have the AAD P1 license?  We would like to add the MFA a la Carte and not all the features of the AAD P1.  thanks for your help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb03e63-f543-d85b-9daf-16b4d1e13a60
* Version Independent ID: da9dcdd2-

[2019-02-11 20:34] VanMSFT commented on #24614
Hi @hoksource! Thank you for your question! Azure SQL Database connections are currently encrypted by default. However, to ensure that the connection is always encrypted regardless of any changes that may happen, we recommend that you have those properties in your connection string.

I hope that helps!
Van

[2019-02-11 20:38] Karishma-Tiwari-MSFT commented on #24707
@baleng
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-11 20:47] shraboin opened #24716 "Clarity on Reader role"
Reader role has the following action: */read
Read resources of all types, except secrets. What isn't clear is this is on the management plane and not on data plane. Reader only allows on the management level. I cannot assign the Reader role to a user and expect them to be able to read containers/blobs for storage. Instead they should use the preview Blob Data reader role. I believe this should be

[2019-02-11 20:54] mike-urnun-msft commented on #24697
Hi @jn-altius Thank you for your feedback! We will review and update as appropriate.

[2019-02-11 20:55] addycluri commented on #5210
Hi Mahesh,
While the guidance in the above link helps with joining existing VM (already in Azure) to the managed domain. Is there any guidance on how to entirely migrate your infrastructure into Azure and be cloud native?

For example: I would like to migrate all servers  (currently on-prem) to Azure. The traditional Domain controller must be migrated to --> Managed Domain (using ADConnect) and th

[2019-02-11 20:56] rezasherafat commented on #24033
@KingdomOfEnds, I think the easiest way to setup SSH server is to deploy an Ubuntu VM in Azure.

If you want to use this Windows extension however, do first check that you can ssh to the machine *directly* (without device streams) just as a sanity check.

[2019-02-11 20:57] Karishma-Tiwari-MSFT commented on #24571
@SychevIgor The PR has been merged and changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-11 20:57] #24571 closed

[2019-02-11 21:01] NonSecwitter commented on #24550
We have an issue that may be related to this. Our conditional access policy specifies two controls that are connected by a logical "OR" with the policy setting: "Require one of the selected controls". The two controls we have selected are "Require device to be marked as compliant" and "Require Hybrid Azure AD joined devices". The devices in question are confirmed as "Hybrid Azure AD Joined" throug

[2019-02-11 21:02] Grace-MacJones-MSFT commented on #24386
Hi @teedeuk, any updates for us?

[2019-02-11 21:02] Mike-Ubezzi-MSFT commented on #23665
@Anmolgan81 This document provides details on all the full replication capabilities between Managed Instance and Single Instance: [Configure replication in an Azure SQL Database managed instance database](https://docs.microsoft.com/en-us/azure/sql-database/replication-with-sql-database-managed-instance). No workaround required.
We will now proceed to close this thread. If there are further questio

[2019-02-11 21:02] #23665 closed

[2019-02-11 21:05] Mike-Ubezzi-MSFT commented on #23809
@CarlRabeler Please let me know when the PR is completed.

[2019-02-11 21:06] #21003 closed

[2019-02-11 21:07] adhishthite opened #24718 "TypeError during Model Download"
Whenever I try to download the model, I am facing the following error -

TypeError: 'odict_values' object does not support indexing

Trace-
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
&lt;ipython-input-4-e96c2c642dc5&gt; in &lt;module&gt;()
      5 model=Model(ws, 'sklearn_mnist')
      6
--

[2019-02-11 21:10] stephenjust commented on #24239
@ColeShepherdAG is correct, I was talking about getting metrics from the read replicas when read scale-out is enabled.

What we observe is that in the portal, statistics are only visible from the write master. If we set ApplicationIntent=ReadOnly, we do not observe any resource consumption from those queries in the Azure portal.

[2019-02-11 21:10] Mike-Ubezzi-MSFT commented on #24204
@papa-pep
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 21:10] #24204 closed

[2019-02-11 21:24] belovedinmn16 opened #24719 "None"
None

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Independent ID: 02a43ebb-7471-d7ff-4f7e-84c9f7a66326
* Content: [Backup and recover with Microsoft Authenticator app - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/user-help/user-help-au

[2019-02-11 21:33] Mike-Ubezzi-MSFT commented on #24229
@gbargsley Did you get this resolved or is this still an issue? In this section, you create a DomainAdmin account: [Create virtual machines for the domain controllers](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-availability-group-prereq#create-virtual-machines-for-the-domain-controllers).

You then [Create and configure the SQL Server VM

[2019-02-11 21:38] Mike-Ubezzi-MSFT commented on #24292
@LisandroSu We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 21:39] Mike-Ubezzi-MSFT commented on #24357
@odeddror We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 21:39] #24357 closed

[2019-02-11 21:40] Mike-Ubezzi-MSFT commented on #24438
@lukeb1961 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 21:40] #24438 closed

[2019-02-11 21:42] juhaluoto opened #24720 "Serial monitor in vs code giving an error"
Hi, This is my second IoT project and first on Arduino. Your intro is great and I was able to get AZ3166 to connect to VS Code and also Azure provisioning seemed to be ok. But then I got really stuck at testing and there the output of the serial monitor gives me this error and I am not able to proceed:
[Starting] Opening the serial port - COM3
[Info] Opened the serial port - COM3
2019-02-11 20:53:

[2019-02-11 21:51] inesk-vt commented on #24583
Sorry, I meant the section that calls out that you need to follow different steps depending on your architecture:

If you're running IoT Edge on your local machine or an ARM32 device, you need to install the IoT Edge runtime and its prerequisites on your device. Follow the instructions in Install the Azure IoT Edge runtime on Linux (x64)<https://docs.microsoft.com/en-us/azure/iot-edge/how-to-insta

[2019-02-11 21:52] Mike-Ubezzi-MSFT commented on #24470
@Contadmin This is best served through support, and you should open a service request through support. If you do not have an [Azure Service Plan](https://azure.microsoft.com/en-us/support/plans/), please send your Subscription this deployment is attached, to AzCommunity at Microsoft.com and I will return instructions to have a service request filed. With this we can take a look at what you have se

[2019-02-11 21:54] CarlRabeler commented on #23809
done, please close @Mike-Ubezzi-MSFT

[2019-02-11 21:54] Mike-Ubezzi-MSFT commented on #24546
@vikaskumawat80 Thanks for the additional feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-11 21:54] cynthn commented on #20344
@MicahMcKittrick-MSFT can you reassign this to me? Thanks!

[2019-02-11 21:54] ScottyMac52 commented on #24268
This is really DUMB! How come before the VS 2017 cloud wizard generated the localsettings.json file? Now I have to jump through hoops and figure out how to manually generate a localsettings.json file that has the right entries for the storage locations? I feel like we have gone backwards here folks!

[2019-02-11 21:55] ScottyMac52 commented on #24268
Another note, the documentation SUCKS and is written with a ton of assumptions for a brand new construct that is pretty poor design.

[2019-02-11 21:57] Karishma-Tiwari-MSFT commented on #24410
@aydeisen Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@bobbytreed Can you please take a look at the customer's request and update the doc as appropriate. Thanks :)

[2019-02-11 21:59] mimig1 commented on #22408
@mike-urun-msft - Are you investigating this?

[2019-02-11 21:59] cynthn commented on #20855
@MicahMcKittrick-MSFT or @Karishma-Tiwari-MSFT can you reassign this to me? I have a backlog work item to create a Linux version of this topic, I just haven't had time to create it yet. Thanks!

[2019-02-11 22:00] StingyJack commented on #24627
PR submitted and merged

[2019-02-11 22:00] #24627 closed

[2019-02-11 22:05] tamram commented on #17750
@lakasa - Can you take a look at this one?

[2019-02-11 22:06] vladvino commented on #22408
There is nothing to investigate as far as I see. Thanks for the suggestion!

[2019-02-11 22:08] Mike-Ubezzi-MSFT commented on #23809
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-11 22:08] #23809 closed

[2019-02-11 22:08] mas-dse-juremigi opened #24721 "relative python imports do not work for sibling directories"
the suggested directory structure does not work as relative imports do not work across sibling directories
there are many posts about this on stack overflow

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd928826db2
* Content: [Pyth

[2019-02-11 22:13] ColeShepherdAG commented on #24239
@stephenjust One (limited) workaround in the meantime is periodically SELECTing from [sys.dm_db_resource_stats](https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-db-resource-stats-azure-sql-database) while connected to your database with `ApplicationIntent=ReadOnly`.

[2019-02-11 22:13] MarileeTurscak-MSFT commented on #24606
There is no specific guide for this currently, so you may want to refer to this related Stackoverflow post. https://stackoverflow.com/questions/26930018/azure-active-directory-and-wcf-authentication

This is more of a product question so if have more specific questions about this please post to MSDN and we will gladly continue the discussion there. https://social.msdn.microsoft.com/Forums/en-US/ho

[2019-02-11 22:14] TravisCragg-MSFT commented on #24637
@skmkzyk Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-11 22:15] TravisCragg-MSFT commented on #24644
@infotect1 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-11 22:15] sdecker commented on #21565
@Mike-Ubezzi-MSFT I'm the customer Anmol has been asking for. We currently run our SaaS offering on Azure Government using SQL in VMs. We have various findings related to the CIS and STIG SQL 2016 DB compliance baselines. We are looking to move to a mix of Azure SQL and Managed Instances to resolve the compliance findings. We understand that MI is not in Azure Government yet, but we need to ensure

[2019-02-11 22:15] MarileeTurscak-MSFT commented on #24606
We will now proceed to close this thread. If you have further questions please reach out on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD If you would like to request this as a document please post the request to user voice. https://feedback.azure.com/forums/169401-azure-active-directory

[2019-02-11 22:15] #24606 closed

[2019-02-11 22:22] TravisCragg-MSFT commented on #24475
@SamirFarhat We are still interested in speaking with you further. If you are interested please Email me at AzCommunity@microsoft.com

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-11 22:25] Infinitism opened #24722 "Web API verifying access token"
For server side and daemons, how does the web api verify the access token presented to it by the client on its side?

There are documentations for clients requesting an access token but can't find one for web apis verifying the access tokens given to them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1333d705-7d3a-2d

[2019-02-11 22:30] Adam-Smith-MSFT commented on #24708
@saf-itpro Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-11 22:32] TravisCragg-MSFT commented on #24642
@e24n1h2 Thanks for letting us know! The doc has been updated, and the changes should reflect within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-11 22:32] #24642 closed

[2019-02-11 22:34] taromielnaz opened #24723 "No sample"
I didn't find any documentations on how to connect the function to our resources , or how to upload our own scripts .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 42154c7b-b0e0-26db-79bc-3f1673c48e40
* Content: [Timer trigger for Azure Functions](https://

[2019-02-11 22:36] iainfoulds commented on #23666
This should be resolved from https://github.com/MicrosoftDocs/azure-docs/pull/24678, doc update should go out later on this afternoon. Can revisit if there are still issues.

@MicahMcKittrick-MSFT For now, #please-close

[2019-02-11 22:38] TravisCragg-MSFT commented on #24590
@blouwagie Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-11 22:39] #23666 closed

[2019-02-11 22:51] vladvino commented on #22408
We will not be including cost estimates at this time, but we understand the need to keep costs low, which is why we provide links to set up free accounts, and a reminder to clean up resources at the end of the article.

[2019-02-11 22:51] Alberto-Vega-MSFT commented on #23975
@kgremban Thanks for the help! @hubez We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-11 22:51] #23975 closed

[2019-02-11 22:51] vladvino commented on #22408
#please-close

[2019-02-11 22:57] TravisCragg-MSFT commented on #24228
@jgallucci32 I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-11 22:59] TravisCragg-MSFT commented on #24671
@Mahesh-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-11 23:06] SaurabhSharma-MSFT commented on #24550
@AlekseySokol If you are implementing a conditional access for Hybrid AD joined device and if the access policy excludes the hybrid ad joined device ( i.e. Device Hybrid AD joined is selected in Excludes tab under Conditional Access policy) then the policy only applies to unmanaged devices to provide additional security verification while connecting your cloud app services.

[2019-02-11 23:08] codebeaulieu opened #24725 "A time traveler may have written this document..."
Not sure how this happend, but the document says it was written in April of 2019...

<img width="938" alt="screen_shot_2019-02-11_at_4_52_59_pm" src="https://user-images.githubusercontent.com/9411281/52599933-a6464e00-2e1f-11e9-955e-68ffb4869281.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33

[2019-02-11 23:11] yourekillingmesmalls opened #24726 "AzureRM"
How about providing a link to the azureRM documentation?
I don't need coercion to move to AZ, I need the azureRM documentation, please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca47ab5-b553-c0e1-5736-cf4d9081d139
* Version Independent ID: bb85e0c9-3e55-749d-769e-7953479dccda
* Content: [Create a Windows VM from

[2019-02-11 23:12] sfiguemsft opened #24727 "DMZ VNet"
Where we read "DMZ VNet" in the diagram it shows "NVA VNet" - are these the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d9e67fa-4f75-f6e1-4090-a08e026200f1
* Version Independent ID: 54dba75e-6136-9cf7-4fe1-9a3179130de6
* Content: [Create an Azure Virtual WAN virtual hub route table to steer to NVA](https://do

[2019-02-11 23:18] wesmc7777 commented on #13078
#please-close duplicate of [https://github.com/MicrosoftDocs/azure-docs/issues/13077](https://github.com/MicrosoftDocs/azure-docs/issues/13077)

[2019-02-11 23:23] wesmc7777 commented on #11232
Please reassign to @sffamily. He will determine any necessary follow-up action.

[2019-02-11 23:24] wesmc7777 commented on #13077
Please reassign to @sffamily. He will determine any necessary follow-up action.

[2019-02-11 23:24] wesmc7777 commented on #13430
Please reassign to @sffamily. He will determine any necessary follow-up action.

[2019-02-11 23:24] wesmc7777 commented on #13833
Please reassign to @sffamily. He will determine any necessary follow-up action.

[2019-02-11 23:24] wesmc7777 commented on #14068
Please reassign to @sffamily. He will determine any necessary follow-up action.

[2019-02-11 23:28] Wicaeed opened #24728 "Configure attribute mappings match regex is incorrect"
In your docs it states that the regex string to match id's 100000 through 200000 is
[code]

This is incorrect, as this regex will only match up to 199999

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799c371a-a17e-08aa-ef56-86eef2395f7e
* Version Independent ID: 1339cc93-712c-3a32-8321-dfd016a50ed4
* Content: [Tutoria

[2019-02-11 23:28] Karishma-Tiwari-MSFT commented on #24726
This article has been updated to use Az instead of AzureRm and the remaining docs are in the process of getting updated.
We do not have any other doc to create a Windows VM from a specialized VHD in Azure using AzureRm.
You can refer to this commit where the changes were made to replace [AzureRm with Az commands](https://github.com/MicrosoftDocs/azure-docs/commit/ca61e85c5c170ca2a99847dfe85eb40a0d

[2019-02-11 23:35] MarkusVi commented on #24550
Hi @AlekseySokol, much simpler.
For hybrid Azure AD joined devices, it means that being an on-premises AD joined device is good enough to be considered a managed device. So, the proof is just the domain membership and the information about it comes from the device. Azure doesn't know whether you are really using SSCM or GP to manage the device.
Azure has more information about compliant devices be

[2019-02-11 23:37] jeevansd commented on #24684
@mattpollard can you please make these changes directly by clicking on the Edit button in the top right corner and then we can review the article once you submit the PR?

[2019-02-11 23:39] cynthn commented on #24726
@yourekillingmesmalls you can still use the AzureRM commands locally and in Cloud Shell. The only real change was the prefix of the cmdlet. So, New-AzVM is New-AzureRmVM if you prefer using AzureRM. The Cloud Shell has the aliasing turned on, so you can type New-AzureRmVM, but it will be using -Az in the background.

[2019-02-11 23:40] #20979 closed

[2019-02-11 23:40] #22408 closed

[2019-02-11 23:40] #23410 closed

[2019-02-11 23:41] #24577 closed

[2019-02-11 23:41] #24600 closed

[2019-02-11 23:53] rolyon commented on #24570
Hi @igorvt77
I added a note. Hopefully this is more clear.
https://docs.microsoft.com/en-us/azure/active-directory/governance/active-directory-tou#microsoft-intune-enrollment

[2019-02-11 23:53] rolyon commented on #24570
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-02-11 23:55] #24570 closed

[2019-02-11 23:58] Mike-Ubezzi-MSFT commented on #24553
Per previous GitHub issues for connect.py, there was a recommendation to change between `GraphSONSerializersV2d0` and `GraphSONSerializersV3d0` but still having issues getting this tutorial to work.

![screenshot 251](https://user-images.githubusercontent.com/37126106/52602036-dbe63980-2e15-11e9-8ed0-453fdfef772e.png)

[2019-02-12 00:02] codebeaulieu opened #24732 "Title says Xamarin.Android step 5 is for Android Studio"
Make the following configuration changes to your project in Android Studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06-f09f-00f0-d978b3d16777
* Content: [Push notifications to Xamarin.Android apps using Azure Notification Hubs](https://doc

[2019-02-12 00:14] mikebudzynski commented on #15463
#please-close This has nothing to do with Azure API Management.

[2019-02-12 00:15] tfitzmac commented on #24651
@Anand-Moghe - thanks for the feedback. The intention of the note was to redirect users who are actually trying to upgrade their subscriptions, rather than move resources. I am changing the text to clarify that intention.

[2019-02-12 00:16] MarileeTurscak-MSFT commented on #24591
Hi KrKandula, can you please email your subscription ID to me at AzCommunity@microsoft.com? I would like to open a support case for you so that someone can look into your environment.

[2019-02-12 00:16] yourekillingmesmalls commented on #24726
@Cynthn, thanks for the reply.
What's been overlooked here, is that many people have only begun their journey with Azure & PowerShell, & are just beginning to understand how to effectively perform tasks with them.  For advanced users & those well versed in PS, sure, this is likely not too much of an interruption. For the rest of us, this has taken what would have been a productive day hostage, & f

[2019-02-12 00:18] mikebudzynski commented on #17024
@SychevIgor Thanks for catching this. Since it is a low priority task, we have created a backlog item for it and will track it offline. Also, any contributions to the docs are welcome - feel free to fix the article as needed.

#please-close

[2019-02-12 00:18] codebeaulieu opened #24734 "Step 2 shows wrong image"
For step 2 under : https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm#create-visual-studio-project-and-add-nuget-packages

"In the Solution Explorer window, expand Properties, and click AndroidManifest.xml. Update the package name to match the package name you entered when adding Firebase Cloud Messaging to your project in the Google F

[2019-02-12 00:22] yorgzero opened #24735 "Issues getting the SDK to work"
Hello,

I ran the tutorial, but I am stuck at the point where I enter :&gt;jupyter notebook.

That does not work, so instead I have to type "jupyter-notebook"

That works and gives me an url () to connect to in order to start the workbook but when I put it in my browser I get:

This site can’t be reached 40.112.199.124 refused to connect.
Search Google for 112 199 124 8888
ERR_CONNECTION_REFUSED

[2019-02-12 00:27] codebeaulieu commented on #24734
I belive I'm incorrect on this one after further review. However, I did expect to see XML from the AndroidManifest.xml document here rather than a firebase image.

[2019-02-12 00:27] #24734 closed

[2019-02-12 00:32] #15463 closed

[2019-02-12 00:39] mike-urnun-msft commented on #24721
Hi @mas-dse-juremigi Thank you for your feedback! We will review and update as appropriate.

[2019-02-12 00:40] cynthn commented on #24726
@yourekillingmesmalls Feedback is always welcome :)

I'm not sure whether the Az module supports Azure Stack, maybe @MicahMcKittrick-MSFT knows or knows someone who can answer that part of the question.

If you are working locally and install the Az module locally, you can enable the AzureRM compatibility by running "Enable-AzureRmAlias".

Or, you could use Cloud Shell, because it already has this

[2019-02-12 00:44] mike-urnun-msft commented on #24723
Hi @taromielnaz Thank you for your feedback! Could you elaborate more on your scenario? More specifically, what kind of resources that you're attempting to connect your function app to and what script that your app would be calling in which way?

[2019-02-12 00:49] tfitzmac commented on #24498
@manjnath - thanks for this feedback. I am clarifying the text to indicate that you can only use parameters declared in the function.

[2019-02-12 00:52] MicahMcKittrick-MSFT commented on #24726
As far as I know, Stack is not yet integrated with the new modules. Not sure when it would be though. @TravisCragg-MSFT works in Stack and might have an idea

[2019-02-12 00:53] Mike-Ubezzi-MSFT commented on #24725
@codebeaulieu Thank you for the detailed feedback. I have added the doc metadata to this issue and it will be investigated.

[2019-02-12 01:03] artilbur commented on #19093
After failing over from primary to secondary site, committing, reprotecting then failing back, I committed and then reprotected, which should put me back to the beginning state. The difference is that now I can see duplicate VMs in the portal. Is there a best practice way to hide the "stub" VMs at the target (secondary site)?

[2019-02-12 01:03] baqwas opened #24737 ""No Repro!""
I am unable to reproduce the key steps to connect to the MXChip AZ3166 just to start the exercise under Ubuntu 18.10. (The IoT device is working fine under Windows 10 for the same set of exercises).

I have installed all the necessary Azure IoT extensions through the VS Code interface. (No current need to test Azure CLI). I am able to persist the Arduino IDE Path but the step immediately after tha

[2019-02-12 01:08] kazshi commented on #18389
@alex-frankel @DCtheGeek I have a quick question (actually the question is from my customer) about integration with DevOps.
Is it possible to deploy Web App using DevOps into App Service in a resource group defined/deployed using Blueprints?  I'd appreciate if you could provide any information if it's available.  Thanks.

[2019-02-12 01:08] MarileeTurscak-MSFT commented on #24715
@gate502
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-12 01:11] MarileeTurscak-MSFT commented on #24716
@shraboin
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-12 01:12] MarileeTurscak-MSFT commented on #24719
@belovedinmn16
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-12 01:12] MarileeTurscak-MSFT commented on #24722
@Infinitism
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-12 01:13] MarileeTurscak-MSFT commented on #24728
@Wicaeed
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-12 01:27] artisticcheese opened #24738 "Need enhancement to Get-AzureRmVMSize to show what VM sizes are enabled for Accelerated Networking"
There is no clear/clean way to find out which VM sizes are supporting AN. Several questions below already showing lack of such resource. There shall be a way to find which VM sizes are supporting AN via API call.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4be8e45-460a-fab4-519b-32d83382005c
* Version Independent I

[2019-02-12 01:33] cynthn commented on #13194
@dcbrown16 and @v-maroge sorry it has taken so long for me to loop back around on this. My understanding is that the VMs need to be in the same resource group as the availability set. I don't see a way to specify where the AV set is when you create the VM and testing using the Azure CLI fails when I try to create a VM and put it in an AV set that isn't in the same resource group.

I also can't fin

[2019-02-12 01:38] wilsonchua20 commented on #18674
How do you run the code in Continuous Speech Recognition from a file, for instance, is SpeechConfig declared a class?

[2019-02-12 01:49] cephalin commented on #24103
@StingyJack If I understand you correctly you already have an app in App Service and already deployed your code to it, but you just want to update it using FTP. This depends on the FTP tooling you use. I used the PowerShell+WebClient type just as an example, but the main point of the sample is to show you how to get the connection information to connect your FTP tool of choice to App Service. Any

[2019-02-12 02:11] rijethma commented on #18149
Documentation is fixed. please re-open if you have more questions, thanks!

[2019-02-12 02:20] Alberto-Vega-MSFT commented on #24725
@codebeaulieu Great catch :)  Thanks again, we will fix the date.

[2019-02-12 02:21] sffamily commented on #24565
#please-close

[2019-02-12 02:28] sffamily commented on #15939
The good practice on store the key/connection locally and on the cloud has been added to the original tutorial. Additional tutorial on this topic [ https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-authenticate-oauth ] is also added and referenced by this doc.

[2019-02-12 02:28] sffamily commented on #15939
#please-close

[2019-02-12 02:28] andrewatfornax commented on #23263
Hi @PramodValavala-MSFT - I've had a call with MS Support about this, and I think the issue is that there's a statement in the documentation which is misleading.

The statement is: "You will also see how to expose only a subset of your APIs (in the example they are highlighted in green) for External Consumption using routing functionality available in Application Gateway."

I took this statement t

[2019-02-12 02:29] sffamily commented on #18512
#in-progress

[2019-02-12 02:30] sffamily commented on #21320
#in-progress

[2019-02-12 02:35] sffamily commented on #13430
Now all service instances support only the HTTPS on standard 443 port. For securing the key/connection please refer to doc https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-authenticate-oauth

[2019-02-12 02:35] sffamily commented on #13430
#please-close

[2019-02-12 02:38] Alienroid commented on #13430
um... I just checked, free version (of signalR service) does NOT include SSL. only standard includes SSL

[2019-02-12 02:45] #13078 closed

[2019-02-12 02:45] #17024 closed

[2019-02-12 02:46] bureado opened #24741 "Can users query available versions before creating an AKS cluster?"
As of acs (2.0.24) and azure-cli (2.0.25), seems like `az aks get-versions` no longer takes `--location` but instead needs `-g` and `-n`. Does this mean users can no longer query available versions ahead of deploying an AKS cluster? Either way, the command shown here should change appropriately.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-02-12 02:47] MicahMcKittrick-MSFT commented on #24713
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 02:48] MicahMcKittrick-MSFT commented on #24714
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 02:49] MicahMcKittrick-MSFT commented on #24727
Thanks for the question! We are investigating and will update you shortly.

[2019-02-12 02:50] kazshi opened #24742 "Runbook resource(s) without Automation account can be moved to a different resource group?"
Automation service is listed in the "Services that can be moved" and "automationaccounts/runbooks" (does it mean 'runbook' resource?) is listed in the following link. Looks like only Runbook resource(s) cannot be moved (it can be moved with Automation account as far as I verified), but I cannot find any information about it. I would like to make sure if it's true and would like to know where it's

[2019-02-12 02:58] dcbrown16 opened #24744 "Image on dark"
The replication process image is unreadable on dark background. Please adjust if possible, thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e67fd07a-aa6b-e58b-e574-eaee0f1f61f0
* Version Independent ID: a5851169-3217-1c06-0c72-cff500758e0d
* Content: [Hyper-V to Azure disaster recovery architecture in Azure Site

[2019-02-12 02:59] Grace-MacJones-MSFT commented on #24565
We will now proceed to close this thread.

[2019-02-12 02:59] #24565 closed

[2019-02-12 03:00] Grace-MacJones-MSFT commented on #15939
We will now proceed to close this thread.

[2019-02-12 03:00] #15939 closed

[2019-02-12 03:00] imeya opened #24745 ""go to search page" function is missing or not supported in the new Metrics Explorer for application insights."
This question is specially for application insights.

For the classic metrics explorer in application insights, if click the bar on the chart we add, then it will redirect us to the search page. Screenshots as blow:

![old-metrics](https://user-images.githubusercontent.com/25738099/52608576-7a75a780-2eb5-11e9-8fbb-11dc83df4060.JPG)

![old-2](https://user-images.githubusercontent.com/25738099/52608

[2019-02-12 03:01] Alberto-Vega-MSFT commented on #24720
@juhaluoto Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 03:03] Alberto-Vega-MSFT commented on #24737
@baqwas Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 03:12] Alberto-Vega-MSFT commented on #24197
@raghavan20 This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-02-12 03:31] dcbrown16 opened #24746 "Red Hat Cloud Access"
Are VMs configured with a RHEL license through Red Hat Cloud Access eligible to use RHUI? (RHEL 7.1 in this case)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c796f6e1-4c21-87a7-3555-48dffdb3c7ce
* Version Independent ID: 2878848f-33ed-fbfe-9b3c-93b86f339c6f
* Content: [Red Hat Update Infrastructure](https://docs.mic

[2019-02-12 03:48] Grace-MacJones-MSFT commented on #24386
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-12 03:48] #24386 closed

[2019-02-12 04:07] Grace-MacJones-MSFT commented on #24463
@o365devx,  The UK South region only supports Gen 5 hardware. Please update your SKU to “B_**Gen5**_1". See this [doc](https://docs.microsoft.com/en-us/azure/postgresql/concepts-pricing-tiers#compute-generations-and-vcores) for a list of regions by hardware generation. We will update this doc to mention this change.

We will now proceed to close this thread. If there are further questions regardin

[2019-02-12 04:07] #24463 closed

[2019-02-12 04:39] raghavan20 commented on #24197
thanks @Alberto-Vega-MSFT. I have raised a support ticket.

[2019-02-12 04:44] orspod commented on #24499
@donwalling Thank you for your feedback. We updated the quickstart as requested.

[2019-02-12 04:53] orspod commented on #24499
#please-close

[2019-02-12 04:54] mattreatMSFT commented on #24178
I made the fix and re-uploaded the template. Please try it now.

[2019-02-12 04:57] YutongTie-MSFT commented on #24735
@yorgzero Sorry for your trouble.

Solution "ERR_CONNECTION_REFUSED" error:

1. Wrong Date & Time: If computer or device's date & time is incorrect,it will make your browser can't verify the SSL certificate. To resolve, check your date & time again and make sure they are correct.If it is not correct please correct your date and time and try to check.
2. Antivirus Blocked SSL Connection: Besides wr

[2019-02-12 04:57] raghavan20 commented on #23265
thanks @kgremban. i have checked the logs and both edgeAgent and edgeHub are running in 1.6.

can you clarify on TTL configuration, custom module publishing message with TTL vs edgeHub TTL configuration?

[2019-02-12 04:59] YutongTie-MSFT commented on #24709
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@diberry Hi Dina, could you please help with this document issue? Thank you.

[2019-02-12 05:01] YutongTie-MSFT commented on #24711
@CeciAc Hi, we are fixing this document bug. Please just remove "?numberOfLanguagesToDetect=1" in the code sample. It should work. Thank you.

[2019-02-12 05:02] YutongTie-MSFT commented on #24718
@adhishthite
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 05:13] jdklein33 commented on #24647
Ok thanks for the pointer to the setup info. Missed that somehow in my research.

Btw, had a difficult time using the sample code to add the login button. Has anyone gone through that page to verify the instructions?

[cid:image011.jpg@01D45B39.C7CB4D00]

JD Klein
Chief Printing Officer
*Winner Best Printer (<20 employees) in PNW 2017 #printrocks
*2x Winner Best Digital Printing PNW 2018 #printroc

[2019-02-12 05:14] samuela opened #24750 "Powershell instructions use outdated AzureRm module"
IIUC Az (https://docs.microsoft.com/en-us/powershell/azure/overview?view=azps-1.2.0) is the current Azure CLI module. It looks like these instructions are obsolete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728cc3f4-d5da-a270-a3c0-53f179147cc0
* Version Independent ID: 32d276c0-0980-ff36-933b-5012a39f75c5
* Conten

[2019-02-12 05:18] samuela opened #24751 "Delete vault by force instructions are not cross-platform"
The "Delete the Recovery Services vault by force" section only works on Windows as far as I can tell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728cc3f4-d5da-a270-a3c0-53f179147cc0
* Version Independent ID: 32d276c0-0980-ff36-933b-5012a39f75c5
* Content: [Delete a Recovery Services vault in Azure '](https://docs.m

[2019-02-12 05:20] #24197 closed

[2019-02-12 05:20] markbeij commented on #24292
Did anyone read niet comment? Cause the documentation is still not clear to me

[2019-02-12 05:39] mike-urnun-msft commented on #23991
Hi @Anand-Moghe I don't believe you'd need to add the service process that's running on your on-prem to your AAD via Portal. Contributor During the installation of OPDG, as described in [step 4 and 5](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-gateway-install#install-data-gateway), you provide an email address (work/school account) that's associated with your Azure Subscription (

[2019-02-12 05:54] stanley70 commented on #24387
Hi, i can't undestand what you want me to do.

[2019-02-12 06:03] kuriancjohn commented on #24308
I am facing this issue too. I am using Raspbian Stretch with RPi 3

[2019-02-12 06:07] mike-urnun-msft commented on #24286
Hi @psined1 Since the question is outside of the scope of this documentation, we invite you to open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelogicapps) with this question. Please be sure to tag me here with the URL of the thread so i can be notifier and make sure your question gets an answer.

We will now proceed to close this thread. If there are fu

[2019-02-12 06:07] #24286 closed

[2019-02-12 06:23] MedAnd opened #24758 "Typo in "Fields are that not searchable" and related index size question"
I think there is a type in this line:

"Fields are that not searchable can be used in filters or expressions, but do not have inverted indexes and are not full-text searchable" - think it should read "Fields that are not searchable can..."

Also a follow-up related question; if fields are not marked as searchable and do not have inverted indexes and are not full-text searchable, do they take less

[2019-02-12 06:24] suhuruli commented on #24612
@tastyeggs, how long have you been running the container? We are looking at pushing out some fixes to address the container taking up a lot of space after it has been running for a while but in the meantime, a restart of the container should fix the issue.

[2019-02-12 06:27] Karishma-Tiwari-MSFT commented on #24465
@apollak Sorry for the delay on this. I tried to reproduce and followed the tutorial step by step and it got deployed successfully. I would recommend trying the tutorial exactly again and make sure you have installed the the [Azure CLI](https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-howto-setup-cli) version 2.0.43 or later. Run az --version to find the version.
Let

[2019-02-12 06:53] dhmorrison opened #24759 "Publish to Azure Details Are Way Too Vague."
I have no idea how to get to my function after deploying it.  A user name, $some-variation-of-my-app-name, is created, with a password "***************" and this information is totally useless to me.  Where is my endpoint?  How do I hit it?  I have no clue what user name I should be using.  And the password, well, hmmm.  Needless to say, I have no clue.  So the end result is I have published somet

[2019-02-12 07:20] BryanTrach-MSFT commented on #24734
@codebeaulieu Thank you for the update. We will keep the issue closed as requested.

[2019-02-12 07:28] BryanTrach-MSFT commented on #24732
@codebeaulieu Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-12 07:30] BryanTrach-MSFT commented on #24705
@kenlefeb Good catch! We went ahead and made an update. The update should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-12 07:30] #24705 closed

[2019-02-12 07:47] omer-iqbal opened #24761 "Can you please specify the unit for time spans"
For retention period and cache period, can you please specify the unit? (days, hours, etc.?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb0eae58-9545-b31d-19c3-8c5ad4ebc5bf
* Version Independent ID: 1a0bd4f2-1701-56b2-482e-5d594e841e5e
* Content: [Quickstart: Create an Azure Data Explorer cluster and database](http

[2019-02-12 07:54] Karishma-Tiwari-MSFT commented on #24636
@davidsandbrand This [article](https://www.singhkays.com/blog/understanding-azure-b-series/) also explain the cpu credits in detail.
@jonbeck7 Can you please take a look if we should incorporate this information requested by customer in the doc? Thanks :)

[2019-02-12 07:58] Sat0rN opened #24762 "Question about throttling and jobs"
Hi, I have some question about this service.

1.  What happens to the SQL data stored in the recovery vault after a backup job has been deleted?
2. How is throttling exactly working? What does the configured number corresponding to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef7b40d1-bbe9-c938-b06c-8380ec17f262
* V

[2019-02-12 09:01] briansboyd opened #24763 "Secure Azure Cosmos keys using Azure Key Vault"
A disappointing and somewhat frustrating page, clearly rushed through a subject that depends on the details.
For example, which Keys are being secured?  Is it the Primary or Secondary, or both?  You're introducing a subject but are assuming the user already knows the details.  You had a chance to clarify what is being returned, but instead you chose to only show 'Secret: xxxxx', hiding a possible

[2019-02-12 09:01] lukdlu opened #24764 "Script doesn't work when run as a part of TFS build vol 2."
As you prefer to close the issue instead of wait for update - I'm opening another one.

I can run this script without any problem from powershell, but when I use it as a part of a TFS build (build on the same machine with the same user) script fails.
Script is able to check if all the resources exist (so there is no issue with credentials), but when Invoke-AzureRmResourceAction is called, it retur

[2019-02-12 09:10] nageshajab opened #24765 "Issue while connecting cluster using sfctl"
Now I am able to create cluster and able to view cluster explorer in mozilla.
But now different issue,  while selecting cluster using sfctl. Getting Error.
Max retries exceeded with url: / (Caused by SSLError(SSLError(336265225, '[SSL] PEM lib (_ssl.c:3837)')))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218506d1-ca

[2019-02-12 09:10] mumoryan opened #24766 "No "Pin to dashboard" checkbox?"
Couldn't find the pin to dashboard checkbox in create key vault step anymore. We should modify the contents of this page correspondingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23617aaa-af93-2f09-5a7a-2a9a977dc5f2
* Version Independent ID: 0d68d344-4b56-6f3b-ac02-08d43e2ac559
* Content: [Azure Quickstart - Set

[2019-02-12 09:13] briansboyd opened #24767 "Secure Azure Cosmos keys using Azure Key Vault"
p.s. I'm working with Azure Functions, so would especially appreciate a sample where an Azure Function uses MSI to access a Key Vault to grab a list of secrets.  I'm hoping that this list returned would be similar to a Dictionary, so that I could access the secret values by some key.  For example, since we're talking Cosmos DB instances here, I would like to use the name of the Cosmos DB instance

[2019-02-12 09:15] lukdlu opened #24768 "Script doesn't work with "Invalid storage account for lab" error vol 2."
As you prefer to close the issue instead of wait for update - I'm opening another one.

As apparently you are ignoring the closed issues (which are not fixed or workarounded)...
I'm trying to create a custom image from a machine in the same DevTest Lab, and I'm getting following error:
New-AzureRmResourceGroupDeployment : 2:35:52 PM - Resource Microsoft.DevTestLab/labs/customimages 'dtlab1/testIma

[2019-02-12 09:42] mklettner commented on #21106
anand5555 command worked for me
My specs:
macOS Mojave
helm v2.12.1
istio 1.0.5

[2019-02-12 09:44] AlekseySokol commented on #24550
Hell @MarkusVi, hello @SaurabhSharma-MSFT
When I setup a conditional access to grant an access to all O365 apps for Hybrid Azure Ad join devices or complaint and try to sign-in to O365 on test laptop(Windows 10 1803) and this device is already Hybrid Azure AD Join and marked as complaint, got and error message below

"You can't get there from here
This application contains sensitive information an

[2019-02-12 09:44] bertrandpons commented on #24695
@Mike-Ubezzi-MSFT I have been able to deploy SSIS package with [this script](https://docs.microsoft.com/en-us/sql/integration-services/lift-shift/ssis-azure-deploy-run-monitor-tutorial?view=sql-server-2017#deploy-a-project-with-powershell)

[2019-02-12 09:46] AlekseySokol commented on #24550
Also I want to add that we use ADFS on Windows Server 2016, do I need to configure something else on ADFS as well, if so,could you please provide me a guideline how ADFS should detect if device compliant or not.
Thank you very much in advance!

[2019-02-12 09:48] imeya opened #24769 "arm template for the new alert type(Neal-Realtime) and status enabled."
For url ping test, there is a new alert type(neal-realtime) and status can be enabled / disabled, how to set it in the arm template?

![alerts](https://user-images.githubusercontent.com/25738099/52626562-6a2dee80-2eee-11e9-8cd1-70659e26d1ae.JPG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c1

[2019-02-12 09:51] jitendra-25 commented on #12246
The Monitoring (classic) will retire in near future, so how can we enable Storage Analytics logs in such cases ?

[2019-02-12 09:55] jflieben opened #24770 "Licensing requirement"
The sentence "Using conditional access requires an Azure AD Premium license." does not specify if each targetted user should have an Azure AD Premium license. Could this be clarified in the context of using Conditional Access to protect content shared with guest users / consultants etc, as these are usually not licensed in the same tenant.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-02-12 10:10] AlekseySokol commented on #24550
Hello @NonSecwitter,
Thank you very much for your input, I'll test and let you know.

[2019-02-12 10:15] marcelloformica opened #24771 "Disk exclusion support"
Hi,
in the section above, https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#replicated-machines---storage, we state that "Exclude disk" is not supported; but in https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-common-questions#can-i-exclude-disks, we say that this can be done using powershell.
Can you please clarify the supportability of this con

[2019-02-12 10:19] femsulu commented on #24712
@1trevor Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-12 10:21] femsulu commented on #24742
@kazshi Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-12 10:22] femsulu commented on #24744
@dcbrown16 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-12 10:22] femsulu commented on #24745
@imeya Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-12 10:24] femsulu commented on #24750
@samuela Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-12 10:27] femsulu commented on #24762
@Sat0rN Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-12 10:27] Hiteshgkapoor commented on #20585
@davidmu1 Is JavaScript blocked again for customization? I don't see option to enable Javascript for my custom policy/user flow.

[2019-02-12 11:11] Agazoth commented on #24683
AllowedValues works:
{
  "mode": "indexed",
  "policyRule": {
    "if": {
      "allOf": [
        {
          "field": "location",
          "notIn": "[parameters('listOfAllowedLocations')]"
        },
        {
          "field": "location",
          "notEquals": "global"
        },
        {
          "field": "type",
          "notEquals": "Microsoft.AzureActiveDirectory/b2cDirectories"

[2019-02-12 11:12] navilwayne opened #24772 "AZURE AD B2C - OPENId CONNECT ISSUE"
HI Team

We are trying to use AD B2C Openid connect in our web application to authenticate user from Azure AD, but we are getting error -

AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application: 'XXXXXXXXX'.

The reply url we set in AAD  & AD B2C both are same. -
https://XXXX.azurewebsites.net/signin-oidc

HOME PAGE URL we set manually - ht

[2019-02-12 11:29] apollak commented on #24465
@Karishma-Tiwari-MSFT Thanks. My resource group was somehow broken. I did create another resource group "myResourceGroup" as named in the steps and it worked. Then I deleted my "meshdemo" group, recreated it and ran the deployment there. And it worked. I close this for now. Thanks for your help!

[2019-02-12 11:29] #24465 closed

[2019-02-12 11:42] wolfma61 commented on #18674
as mentioned before, there are samples in the sample repository
https://github.com/Azure-Samples/cognitive-services-speech-sdk

[2019-02-12 11:49] jjgriff93 opened #24773 "Not clear that adding a suggester to an existing index requires you to recreate fields/index"
When going to the portal and navigating to the Fields tab in an existing index, you can add a name for a new index, and tick boxes appear next to the fields where you can tick to apply it, however they are greyed out. It took a lot of searching in Stack Overflow to find out this is because you need to recreate the fields/index before you can apply a suggester to the fields. I've left some product

[2019-02-12 11:49] kswider opened #24774 "User with dbmanager role cannot create new database."
I am following steps in "Database creators" paragraph. Step 2 is marked as optional, but without creating LOGIN i am unable to create new database.

[2019-02-12 11:53] #24774 closed

[2019-02-12 11:54] kswider opened #24775 "User with dbmanager role cannot create new database."
I am following steps in "Database creators" paragraph. Step 2 is marked as optional, but without creating LOGIN i am unable to create new database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 429955f9-093b-70bd-9461-4269ad2eb8e9
* Version Independent ID: 9aad7a41-bca9-9159-0cc7-c79516648857
* Content: [Azure SQL log

[2019-02-12 11:57] kacperryniec commented on #22700
Turns out I'm being hit by the same. Any updates @SaurabhSharma-MSFT ? :)

[2019-02-12 12:00] pabbap commented on #23875
@markjbrown I am using the lazy indexing in my solution and it greatly reduced the collection throughput to our expected levels without any other issues as we bulk load the data and search later. Is there any specific confusion that you are implying using this mode?
Thinking about your recommendation here, do you mean i need to set the indexing to None? this might create additional overhead of re

[2019-02-12 12:12] goenning opened #24776 "Limits of CPU/Memory are confusing. Are they per container or per group?"
East US (Linux), for example, has a limit of 4 CPU and 14 GB Memory.

Should I be able to deploy 5 containers of 1 CPU and 1 GB inside a single container Group? Because it doesn't seem possible as I'm getting this error: `The requested resource is not available in the location 'eastus' at this moment. Please retry with a different resource request or in another location. Resource requested: '5' CP

[2019-02-12 12:30] StingyJack commented on #24103
@cephalin - Yes

this specific means is optional. There are many examples of first time deployments already available. but none that cover updation of only a webjob.  S/FTP/S  seemed obvious since the webjobs need updating but not the web app on the same app service.

This example script spends far too much time describing first time setup of other resources and does not focus on managing (create,

[2019-02-12 12:34] kogesaka opened #24777 "Is endpoint feature already provided in the New VNet Integration?"
Hi,

I think that the new VNet integration feature will be better for Web App and network configuration.

But following sentence is confusing me. Is endpoint feature already provided in the preview? It seems that endpointed resources  (e.g. Azure Storage,SQL Database) are accessible on the same VNet using the new VNet integration feature.

"The new VNet Integration feature enables you to use servi

[2019-02-12 13:04] serkanyazicioglu opened #24779 "JS Script Async"
Is it better to put script before end of body tag? Because some mobile devices seem to have some problems with this script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381-d2824ec3d1e2
* Version Independent ID: ff056ac8-ae76-be10-6895-757333a28e05
* Content: [Azure Application Insights for JavaSc

[2019-02-12 13:18] oleksandr-bilyk opened #24780 "Default setting Single-Zone or Zone-redundant?"
I have two questions:
1. By default when I use ARM template I don't specify zones property on VMSS. What will be default behavior? Will it automatically create All-Zones-Zone-Redundant or will create single implicit zone?
2. Is it true that all regions with multiple zones have exactly 3 zones?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-02-12 13:19] blacktee opened #24781 "Friendly Names for Services please"
Please also add the friendly names for the individual services as well. Whats ADALLOM or ATA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing - Azure AD

[2019-02-12 13:21] oleksandr-bilyk opened #24782 "Default setting Single-Zone or Zone-redundant?"
By default when I use ARM template I don't specify zones on Public IPAddress and Load Balancer frontendIPConfigurations. What will be default behavior? Will it automatically create All-Zones-Zone-Redundant or will create single implicit zone?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9461e901-80bd-8dbb-b866-76dd7f

[2019-02-12 13:33] BekaDee opened #24783 "Too Difficult!"
Every time I have changed phones, I have to call my IT department to reset my account so the I can get the QR code again. I use this to access my work OneDrive at home to access schoolwork that I do at work.
  Now I have had to call so many time because this stupid system doesn't leave any room for changing devices, that my work IT won't reset it anymore!!
  This is a stupid platform that requires

[2019-02-12 13:35] serkanyazicioglu commented on #24779
I had to remove AI script completely because page doesn't end loading if AI script is present on some iOS devices.

[2019-02-12 13:35] emilkontract opened #24784 "No Node Configuration when deploying VM."
Using the info in the section "Example using referenced Azure Automation registration values"
"settings": {
    "RegistrationUrl" : ""
    "NodeConfigurationName":""

From the above, the DSC-extension was installed on the VM but it wasn't registered to Node Configuration, but when I'm add the below, it works:
          "settings": {
            "configurationArguments": {
            "Registration

[2019-02-12 13:44] jzuchora87 opened #24785 "Multiple Log Analytics Workspaces"
Is it possible to send diagnostic data to more than one log analytics work space? If so, can you provide an example in the doc. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e239e2a7-944f-4ca9-31bb-42141db9920b
* Version Independent ID: 4d7c59bc-8a3a-506e-3f7f-3b287f18a1c3
* Content: [Overview of Azure Diag

[2019-02-12 13:45] RudyCo opened #24786 "ActiveDirectoryAuthProvider"
Why the ActiveDirectoryAuthProvider class is not inside the framework?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692d8637-4033-767b-aa29-3859f301b7b8
* Version Independent ID: de143a26-3dd6-a513-6854-604e4f68c52f
* Content: [ActiveDirectoryInteractive connects to SQL](https://docs.microsoft.com/en-us/azure/sql-dat

[2019-02-12 13:55] sivrais commented on #23779
I'm upgrading from SQL 2008 R2 to SQL 2014 to support Azure Managed Instance Transactional Replication. Does anyone know if databases have to be updated from compatibility level 100 to 140?

[2019-02-12 14:06] KasJensen opened #24788 "Regarding "Q: Why don't some of my users get Azure Multi-Factor Authentication prompts on Azure AD joined devices?""
Clarify; is this only relevant for Azure AD Joined devices, or also Azure AD Registered and Hybrid Azure AD Joined devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa632bd8-9300-c9fa-11fc-0c4be6862c6e
* Version Independent ID: d0d3cf71-5945-c202-d466-12c3da3fb473
* Content: [Azure Active Directory device managem

[2019-02-12 14:07] diberry commented on #24709
#in-progress

[2019-02-12 14:07] 1biz opened #24789 "great thanks"
would like to build a web app using the API but don't know how to start.
freelancer from https://www.mjobmarket.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02dbe9bc-4838-d669-dea1-0ee35ad4b028
* Version Independent ID: 797b14ec-cddb-59d5-9032-081406c681f1
* Content: [Translate speech by using the Speech SDK for

[2019-02-12 14:14] wolfma61 commented on #24789
don't know what advice is expected. The documentation is here:
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/

the samples are here ...
https://github.com/Azure-Samples/cognitive-services-speech-sdk

thx
Wolfgang

[2019-02-12 14:22] orspod commented on #24761
@omer-iqbal - thanks for your feedback. The article has been updated as per your request. As depicted in the screenshot, the retention and cache period is defined in days.

[2019-02-12 14:24] ChandraSM opened #24791 "Advanced Threat Protection (preview) feature triggering warning alerts for internal operation"
Advanced Threat Protection (preview) feature triggering warning alerts for internal operations.

Network Watcher monitoring and logs saving to the Storage account is showing as Medium Severity alert by Advanced Threat Protection feature.

Below is the alert details shown to the customer. If this is a Internal operation alert should not be generated.

"Someone has accessed an unusual amount of data

[2019-02-12 14:31] mattpollard commented on #24684
Sure thing, @jeevansd! I overlooked the _Edit_ button 😅 Opened https://github.com/MicrosoftDocs/azure-docs/pull/24792 🙇

[2019-02-12 14:37] marty2bell commented on #10754
Thanks @praveendhac, that makes sense now!

[2019-02-12 14:42] erikhoenderdos commented on #10120
What did the trick for me was
Deleting the Application in Azure.
Recreate a new one.

then first setup provisioning
after that setup SSO

This worked for me in two different azure / gsuite tenants.

Hope this will help someone. It was driving me crazy...

[2019-02-12 14:46] mattpollard commented on #24685
Just as a heads up, @asmalser-msft: similar to https://github.com/MicrosoftDocs/azure-docs/issues/24684, I overlooked the _Edit_ button before I opened this issue. I went ahead and opened a pull request with some suggested changes in #24793.

[2019-02-12 15:10] jwargo commented on #24732
@codebeaulieu I'm sorry, I don't understand what change you're asking for. It's a Xamarin app, so you'll code it in Visual Studio.

[2019-02-12 15:13] asc-adean opened #24794 "TypeHandlerVersion"
This is not a required setting in the CLI or the RM Templates, but it is a required setting for Terraform.  Could this be disclosed somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 6346b54d-cc8d-0b79-a6b8-f9144cfa2459
* Content: [Log in to a Linux

[2019-02-12 15:18] andrewnbond opened #24795 "cant connect EM Express"
Really great article. Everything worked until I tried to connect to the DB with EM Express but the site cannot be reached.  The as network nsg rule create command completed successfully.  Any pointers on how to debug would be great

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279359a4-139a-ee4b-027b-4f43c538b90f
* Ve

[2019-02-12 15:20] codebeaulieu commented on #24732
@jwargo Its a Xamarin app yet step five is giving instructions for gradle and Android Studio.

<img width="993" alt="screen shot 2019-02-12 at 9 19 09 am" src="https://user-images.githubusercontent.com/9411281/52645925-6034cd00-2ea7-11e9-8e74-902adae5c3f7.png">

[2019-02-12 15:21] jwargo commented on #24732
@codebeaulieu aaah, I see it - the content link pointed to a different doc.

[2019-02-12 15:22] Anmolgan81 opened #24796 "How to Restore On-Premise Encrypted Backups to Azure Managed Instance?"
Is there any way we can restore a key encrypted backups from On-Premise to Azure managed Instance without decrypting any of the databases?? Is this even possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7600c6cf-0b4d-1ffa-c1bb-ebf23adafc1f
* Version Independent ID: 1ae4f15b-b978-882e-c5f4-d23522a53bb4
* Content:

[2019-02-12 15:22] SaurabhSharma-MSFT commented on #24387
@stanley70 I am trying to enable a one time support for you to open a ticket which I believe will not require you to login to Azure and if this works, then Identity support engineer will look into your issue in details. So, I am asking you to send an email to [AzCommunity@microsoft.com](mailto:AzCommunity@microsoft.com) with subscription details as subscription id is required to create a one time

[2019-02-12 15:25] AlexShkunov opened #24797 "No documentation of using /uploading private pictures"
Both python SDK and NodeJS sample seem to accept as input a public URL to an image. What about images in the file system? In many cases be it a quick testing or production system - publishing an image to the public internet is not an option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06ea8157-ae16-1905-1638-185ae47e

[2019-02-12 15:27] codebeaulieu commented on #24732
Makes perfect sense to me. I'm sure its not hard for docs to accidentally merge from time to time when supporting so many platforms. Keep up the good work. Microsofts Docs are outstanding.

[2019-02-12 15:35] grahambird80 commented on #20286
Hello,

Do you have instructions for installing on Windows Server 2016 Core OS - I have having issues as servers don't have direct access to the internet and looking a the Firewall logs I can see the server trying to connect direct rather than use proxy settings from netsh WinHttp setting or the Proxy setting I have configured using the Set-AzureAdConnectHealthProxySettings -HttpsProxyAddress

[2019-02-12 15:45] gbargsley commented on #24229
My Azure credits ran out for the month.  I will pick this back up.  You can close and I will try these steps when possible.

[2019-02-12 15:46] stanley70 commented on #24387
Before 10 minutes i try to enter and the SMS came immediately so problem is solved.
Thank you.

[2019-02-12 15:56] msmimart commented on #15692
This work is ongoing; for now I'll request that we close this issue, but we are continuing to track this issue internally and are working toward clarifying the guidance. Thanks again for your feedback. #please-close

[2019-02-12 16:00] bertrandpons commented on #24695
@Mike-Ubezzi-MSFT Well actually it doesn't work that well... Either it deploys without error but when I go to Integration Services with SSMS, I see that it did not deployed all the parts, or it raises a timeout error or an "Exception calling "DeployProject" with "2" argument(s): "Failed to deploy the project. Try again later.""

[2019-02-12 16:02] grahambird80 commented on #20286
Have got the install to work on Server Core, had to configure proxy under netsh winhttp and then restart the server. To configure Agent needed to run the commands
$cred = Get-Credential
Register-AzureADConnectHealthADFSAgent -Credential $cred

[2019-02-12 16:08] bgoldman69 commented on #20866
im having exactly this same problem.  Lovely.  Following the breadcrumb.

[2019-02-12 16:09] wesleyniels commented on #20866
I got it fixed @bgoldman69 , where do you get stuck?

[2019-02-12 16:10] jjgriff93 commented on #24384
Sure @erhopf , it was this sample that I landed on when searching for JS/web examples of implementing the Azure Cognitive Speech API: https://github.com/Azure-Samples/SpeechToText-WebSockets-Javascript/blob/preview/samples/browser/Sample.html - didn't notice until halfway through that it was for Bing Speech!

[2019-02-12 16:23] SumanthMarigowda-MSFT commented on #24334
@imeya Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-12 16:23] #24334 closed

[2019-02-12 16:23] #19008 closed

[2019-02-12 16:24] SumanthMarigowda-MSFT commented on #24343
@imeya Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-12 16:24] #24343 closed

[2019-02-12 16:25] SumanthMarigowda-MSFT commented on #24488
@smushtaq1 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-12 16:25] #24488 closed

[2019-02-12 16:27] smushtaq1 commented on #24488
Hi Sumanth,
I apologize for not replying, for some reason I never got notification of you reply.  I will look into the articles you provided, thank you for the help.

Thank You,
Shahab Mushtaq | ECS Senior Specialist Applications
Information Technology | Regional Hub AMS – Saint Louis
Office Phone: +1 (314) 982-2964 | Team Site<http://thenest-eur-hq.nestle.com/GL/GL_GLTS/ECSHomepage/Pages/Enterpri

[2019-02-12 16:30] orspod commented on #24761
#please-close

[2019-02-12 16:32] grahambird80 commented on #20286
Also had to add proxy settings to .Net - https://docs.microsoft.com/en-gb/azure/active-directory/hybrid/how-to-connect-install-prerequisites#connectivity

[2019-02-12 16:34] dhmorrison commented on #24268
It's all good.  I know it can be challenging to document as you create cool new components.  I'm no angel when it comes to that either.  I suspect you are targeting your documentation toward the developer community whose interest is more than academic.  IMHO, it makes sense to put a premium on solid code examples that go a bit deeper than writing a function that returns... Yo!  My name is Lil Deep

[2019-02-12 16:41] Karishma-Tiwari-MSFT commented on #24776
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 16:42] Karishma-Tiwari-MSFT commented on #24465
@apollak Thanks for sharing the update.

[2019-02-12 16:43] Karishma-Tiwari-MSFT commented on #24746
Thanks for reaching out. We are currently investigating and will update you shortly.

[2019-02-12 16:44] Alberto-Vega-MSFT commented on #24791
@ChandraSM This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-02-12 16:49] Karishma-Tiwari-MSFT commented on #24741
Thanks for reaching out. We are currently investigating and will update you shortly.

[2019-02-12 16:51] mrosett opened #24799 "Unclear how to include extended metadata in response to evaluate query"
I can filter for attributes standard attributes using the attributes parameter: `attributes='Id,Ti,L,Y,D,CC,ECC,AA.AuN'` gives the corresponding fields.

But extended metadata attributes aren't included: `attributes='Id,E.DN'` gives nothing as does `attributes='Id,DN'`

What am I doing wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-02-12 16:59] jberezanski-mdg opened #24800 "Changing the default 60 second scoring timeout"
ML web services (at least those deployed to ACI or AKS) apparently have a time limit of 60 seconds for the processing of a scoring request. Is this configurable?

(although [AksWebservice.deploy_configuration()](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.webservice.aks.akswebservice?view=azure-ml-py#deploy-configuration-autoscale-enabled-none--autoscale-min-replicas-none

[2019-02-12 17:01] tomconte commented on #14323
I could not find a newer API version either. My customer is looking for a way to set the "daily cap" using ARM.

[2019-02-12 17:03] tomconte commented on #17653
My customer is also looking for a way to set the "daily cap" on Log Analytics. However this does not seem present in the latest API version (2015-11-01-preview).  The other API version referenced above (2018-05-01-preview) is for Microsoft.Insights, which I believe is for Application Insights (a different service).

[2019-02-12 17:03] 5mdd opened #24801 "[python SDK] Stored procedure not written/available at 'dbs/myDatabase/colls/myContainer/sprocs/spCreateToDoItem'"
When using the python SDK to register a stored procedure on a partitioned database, I cannot access it from  `'dbs/myDatabase/colls/myContainer/sprocs/spCreateToDoItem'` (HTTPFailure: Status code: 404 / {"code":"NotFound","message":"Server could not parse the Url."}).

I see the stored procedure with MS Azure Storage Explorer that lies in an address that looks like:
'dbs/myDatabase/colls/myContain

[2019-02-12 17:05] GeekTrainer opened #24802 "Best Practices points to 5 year old blog post"
The link [Best Practices: Azure App Service Web Apps](https://azure.microsoft.com/en-us/blog/best-practices-windows-azure-websites-waws/) points to a five year old blog post. There is a fair amount of outdated information in the post, and it also doesn't include info on features such as Application Insights.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-02-12 17:09] jeetgarg commented on #14329
I was going through the quotas and limits for vCPU for Standard MS Family and it is zero.
May I know the reason for that?

[2019-02-12 17:10] ggailey777 commented on #24705
Thanks to @kenlefeb for reporting this typo and @BryanTrach-MSFT for fixing it!

[2019-02-12 17:10] jeetgarg opened #24803 "Limit for MS Family"
I was going through the quotas and limits for vCPU for Standard MS Family and it is zero.
May I know the reason for that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ebe6d3a-2307-1e9a-69f1-f8aeb2397266
* Version Independent ID: dac51441-6f31-0ef2-55e1-70377b7a59f0
* Content: [vCPU quotas for Azure](https://docs.mic

[2019-02-12 17:14] psined1 commented on #24286
Thanks, I had followed your advise and posted new topic here -

https://social.msdn.microsoft.com/Forums/en-US/b90d8ed0-e992-40b3-aa20-e8cfbf019652/common-schema-on-integration-account?forum=azurelogicapps

[2019-02-12 17:15] julieMSFT commented on #24028
@sergeart @agilmore30 Hi, Thank you for raising this issue. The issue is the PRINT statement before the ROLLBACK statement. If the order is changed it works.
      IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRAN;
            PRINT 'ROLLBACK';
        END
The document has been updated. I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact u

[2019-02-12 17:15] julieMSFT commented on #24028
@kevinvngo @mlee3gsd

#please-close

[2019-02-12 17:21] Mike-Ubezzi-MSFT commented on #24763
@briansboyd Thank you for taking the time to raise this issue. I am in the process of getting this to the content owner to be evaluated and updated as appropriate.

[2019-02-12 17:26] aliceku commented on #24796
Yes, this is possible.  The important step is to migrate the certificate first as outlined here: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-migrate-tde-certificate.

[2019-02-12 17:26] MicahMcKittrick-MSFT commented on #24765
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 17:26] davidsandbrand commented on #24636
Thanks @Karishma-Tiwari-MSFT .
I do understand the credit system, but in the past, I had gotten confused by the terminology of "Credits Banked per Hour", which I had (incorrectly) read as credits that would be banked, regardless of current usage, and that current usage above the stated limit would use credits from that bank.
This, of course, is wrong.  Current usage comes **_from_** those "Credits

[2019-02-12 17:27] MicahMcKittrick-MSFT commented on #24780
Thanks for the question! We are investigating and will update you shortly.

[2019-02-12 17:27] MicahMcKittrick-MSFT commented on #24784
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 17:28] MicahMcKittrick-MSFT commented on #24794
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 17:28] MicahMcKittrick-MSFT commented on #24795
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 17:29] MicahMcKittrick-MSFT commented on #24803
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 17:32] slaFFik opened #24804 "Error "AADSTS90023 Request is malformed or invalid." is missing"
And it doesn't provide information about what exactly is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
* Content: [Azure Active Directory authentication and authorization error codes](https://docs.microsoft.com/e

[2019-02-12 17:34] MicahMcKittrick-MSFT commented on #24774
@kswider thanks for reaching out and closing out the issue. If you have any further problems please open a new issue on the doc you are having problems with so we can better assist.

[2019-02-12 17:36] MarileeTurscak-MSFT commented on #24738
@artisticcheese
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-12 17:41] YutongTie-MSFT commented on #24789
@wolfma61 Thanks Wolfgang!

@1biz Does above solve your question?

[2019-02-12 17:45] karlkuhnhausen opened #24805 "action_id Data Type in Documentation Should be string, NOT int"
The data type defined as int for action_id in the [documentation at this link ](https://go.microsoft.com/fwlink/?linkid=829599) is incorrect (at least when reading from Event Hubs). It has string codes like 'BCM' (BATCH COMPLETED or 'DBAS' (DATABASE AUTHENTICATION SUCCEEDED) when reading from Event Hubs.

It should be varchar(4) as [defined here:](https://docs.microsoft.com/en-us/sql/relational-da

[2019-02-12 17:46] YutongTie-MSFT commented on #24797
@AlexShkunov Hi, sorry, for now I don't think we support using private input. I will forward this as product feedback to product team. Also https://cognitive.uservoice.com/forums/430315-face User Voice channel is a good way to suggest new feature/functions.

@PatrickFarley Hi Patrick, I have seen a couple customers are asking for importing image from files. Is there any feature planed for that? Th

[2019-02-12 17:48] YutongTie-MSFT commented on #24799
@mrosett
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-12 17:51] ondrejspilka commented on #24335
Hi Ashok,
please look at #833, similar but not the same issues for C#.
Rgrds, Ondřej

[2019-02-12 17:54] v-kydela opened #24806 "Inconsistent utterances in batch testing tutorial?"
I saw in [this closed issue](https://github.com/MicrosoftDocs/azure-docs/issues/19787) that the tutorial would get a revamp by January 7 but that hasn't happened. Even if the revamp is still coming I'd like to report these issues in case some portions of the tutorial remain. As the closed issue states, inconsistencies start to appear in the [GetJobInformation test results](https://docs.microsoft.c

[2019-02-12 18:00] VanMSFT commented on #24775
Hi @kswider! Thanks for providing feedback on this article! The optional text is confusing, and I will go ahead and remove it. Thanks again for your contribution!

[2019-02-12 18:01] jeffgilb commented on #21966
#sign-off