[2020-03-31 16:52] #51216 closed

[2020-03-31 17:00] brandonh-msft opened #51376 "What RBAC role is needed to roll keys?"
The docs don't indicate what RBAC roll is necessary on a Storage Account in order to have permission to roll keys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3463d1c7-f458-738a-2317-b756a1be7de0
* Version Independent ID: 40f9e40a-0f2f-f510-7ee4-39e55158c99e
* Content: [Manage account access keys - Azure Storage](ht

[2020-03-31 17:00] brandonh-msft opened #51377 "What RBAC role is needed to roll keys?"
The docs don't indicate what RBAC roll is necessary on a Storage Account in order to have permission to roll keys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca94e03-5f05-6703-1672-8062f31c0780
* Version Independent ID: a6a8d9e9-9aac-c0ed-c474-34cbd0609584
* Content: [Use the Azure portal to assign an RBAC role fo

[2020-03-31 17:02] BhargaviAnnadevara-MSFT commented on #51366
@AravindIT Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-03-31 17:04] BhargaviAnnadevara-MSFT commented on #51374
@JoseMSoares-MSFT Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-03-31 17:04] travis-c-lagrone opened #51378 "Is dbutils supported in non-notebook jobs?"
This page states, "All `dbutils` utilities are available in Python, R, and Scala notebooks." However, it is not clear whether `dbutils` is supported in non-notebook jobs (e.g. submitting a *.py file as a job).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c1af686-fd41-47e8-a6cb-70197f33bc67
* Version Independent ID:

[2020-03-31 17:15] giorgia995 commented on #51359
yes im sorry
https://docs.microsoft.com/en-us/azure/machine-learning/concept-designer
thanks

[2020-03-31 17:18] jmorey4158 opened #51379 "Note about ignoring error "'Microsoft.PowerShell.Management' module was not imported" is totally wrong!"
On this page there is a note:

"When compilation is complete, you might receive the error message "The 'Microsoft.PowerShell.Management' module was not imported because the 'Microsoft.PowerShell.Management' snap-in was already imported." You can safely ignore this message."

This not is completely WRONG! We cannot "safely ignore this message".

The problem is that the Azure Automation service will

[2020-03-31 17:23] jmorey4158 commented on #51379
**P.S. This issue is BLOCKING my work on an important deliverable for the Microsoft Cyber Security Team. Please respond ASAP.**

If there is a work-around for this please add it to the article (at least).

It seems the fix is to NOT have compile suspend for a known issue like this.

[2020-03-31 17:26] tamram commented on #51348
@akshaymatmicrosoft - I've made this update, and it will publish this afternoon.

#please-close

[2020-03-31 17:26] #51348 closed

[2020-03-31 17:31] PeterCLu commented on #50775
@dem108 , thanks for your report. I've removed the screenshots (since they're really not necessary in the first place), and updated the instructions so the text matches with the UI. You should see the changes live in a few hours #sign-off

[2020-03-31 17:31] SaurabhSharma-MSFT commented on #50703
@Niclas1976 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-31 17:31] #50703 closed

[2020-03-31 17:31] #50775 closed

[2020-03-31 17:31] dargilco opened #51380 "Missing quick-start Java Android code for Voice Assistant in GitHub Speech SDK repo"
Usually there is a link in these quick-start docs to get the code from the Speech SDK Git Hub repo. However this repo https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/java/android is missing the above quick start Voice Assistant code for Java Android
Thanks,
Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-03-31 17:36] PeterCLu commented on #51074
@Derek1101, thanks for your report! I've taken a look and it was a typo left by the author. I've removed the sentence. You should see the changes live in a few hours #please-close

[2020-03-31 17:36] #51074 closed

[2020-03-31 17:36] YutongTie-MSFT commented on #51380
@dargilco
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-31 17:37] YutongTie-MSFT commented on #51375
@natasal
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-31 17:38] asudbring commented on #50723
@JamesEarle
Ran through the article and was able to deploy the template with the whole script and doing it line by line:
![image](https://user-images.githubusercontent.com/26909696/78057430-91868b80-733b-11ea-81a3-5c048f463a62.png)
![image](https://user-images.githubusercontent.com/26909696/78057490-aa8f3c80-733b-11ea-8bc2-5d06867fccc8.png)
Please try to deploy again, as not seeing issues with tem

[2020-03-31 17:38] #50723 closed

[2020-03-31 17:39] akshaymatmicrosoft commented on #51348
Thanks Tamra.

Regards,
Akshay Mittal

[Sent using handheld device, ignore typos (if any)]

________________________________
From: Tamra Myers <notifications@github.com>
Sent: Tuesday, March 31, 2020 10:56:44 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Akshay Mittal <akshaym@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] RSA-HSM

[2020-03-31 17:39] YutongTie-MSFT commented on #51371
@gdprtcl
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-31 17:41] BharathNimmala-MSFT commented on #51372
@simonech Thank you for your query, we will look into it further and get back to you at the earliest.

[2020-03-31 17:43] staal-it commented on #48953
@girishgouda @TravisCragg-MSFT  any update on this? I am having the exact same issue. Tried SQL, no luck

[2020-03-31 17:44] PeterCLu commented on #51055
@galinagpolyakova , thank you for the report. Good catch, this is missing documentation and has been added to our documentation backlog. It should be addressed in the next few weeks. I'll proceed to #please-close this issue.

@likebupt for visibility

[2020-03-31 17:44] #51055 closed

[2020-03-31 17:48] JamesEarle commented on #50723
@asudbring That's surprising to me because I can't even copy the "whole" template online, it shows on my end that it just ends. Like below. Is this the same template code you used?

![image](https://user-images.githubusercontent.com/5976499/78057831-31441980-733c-11ea-8684-6e0d76974ba1.png)

[2020-03-31 17:51] roygara commented on #51279
@Vincentm29 Thanks for pointing this out to us, we appreciate it!

The correct unit is indeed MiB, I've contacted the product team and requested they update the pricing page accordingly.

As for the article, it was written in 2017, I'll check with the product team and make sure changing the units doesn't change any calculations present in the article.

[2020-03-31 17:51] KranthiPakala-MSFT commented on #51365
@Briwalkr Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-03-31 17:55] PeterCLu commented on #51375
Hi @natasal, thanks for the report. I've updated the links, you should see them live in the next few hours. If you feel that your documentation issue hasn't been resolved please open a new issue with additional details.

#please-close

[2020-03-31 17:55] #51375 closed

[2020-03-31 17:55] asudbring commented on #50723
I followed the article step by step and deployed it by using the PowerShell code in the article, no copy and paste is necessary to deploy, you jut pull the whole template in from github and then deploy it to a Resource group.  The template in the article window is only showing part of the template due to it's size.  If you go to the raw output you get the whole template.  Please deploy using the U

[2020-03-31 17:56] girishgouda commented on #48953
This can be done if you create a DNS server in a VM and records to point to private dns zone of private link.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Erwin Staal <notifications@github.com>
Sent: Tuesday, March 31, 2020 11:13:52 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Girish <girishgouda@hotmail.com>; Mention <mention@norep

[2020-03-31 17:56] samuelkilada opened #51382 "Azure Cache Issues"
I'm having issues making this change. Changing the TLS minimum version in the console seems to completely stop of the Azure Cache from working. So, I tried creating a new one but it is not defaulting to TLS 1.2 like it's supposed to now. And it's not working (executing commands in the Azure Cache for Redis console fails):

"Connection Failure: If this issue persists, ensure your computer's firewal

[2020-03-31 17:58] JamesEarle commented on #50723
@asudbring Understood, it may be worth mentioning that the ARM template shown in the documentation is not shown in its entirety due to length then, and that users should use the linked template. Just want it to be clear. Thanks.

[2020-03-31 17:59] BharathNimmala-MSFT commented on #51186
@amergey Thanks again for reaching out , please review below documentation for Account migration from Cloud Partner Portal to Partner Center and see if that would fit into the scenario you are looking for.

[Account migration from Cloud Partner Portal to Partner Center](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/account-migration-from-cpp-to-pc#account-migration-proce

[2020-03-31 18:00] rolyon commented on #51026
Hi @D-Moonesinghe
Let us know if you have additional feedback. You can re-open this issue.
thanks

[2020-03-31 18:00] rolyon commented on #51026
#please-close

[2020-03-31 18:00] #51026 closed

[2020-03-31 18:01] PeterCLu commented on #51314
@vahidtz

Thanks for your report, the import statement has been added to the document. You should see changes live in a few minutes. If you feel that your documentation issue has not been resolved, please open a new issue with additional details.

#please-close

[2020-03-31 18:01] #51314 closed

[2020-03-31 18:02] KranthiPakala-MSFT commented on #51378
@travis-c-lagrone Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-03-31 18:02] cgillum commented on #51340
Thanks @markleavesley for raising this. It looks like `[ManualTrigger]` has been removed from more recent versions of Azure Functions. I've created a PR in the private docs repo which replaces all usage of `[ManualTrigger]` in this doc with `[QueueTrigger]`.

[2020-03-31 18:05] #51340 closed

[2020-03-31 18:06] asudbring commented on #50723
@JamesEarle
Looked at the markdown code in the article and it definitely is not showing the whole template.  I'm going to edit it and see what it looks like with the whole template in there.

[2020-03-31 18:08] #51193 closed

[2020-03-31 18:11] tamram commented on #51377
@brandonh-msft - Thanks for your feedback!

This article is targeted toward configuring RBAC roles for access to blob and queue data only. Permissions to roll keys are a function of the management service (Azure Resource Manager/Storage Resource Provider) and are not available through the data services.

The **Microsoft.Storage/storageAccounts/regeneratekey/action** is required to roll keys. And t

[2020-03-31 18:11] tamram commented on #51377
#reassign: @tamram

#please-close

[2020-03-31 18:11] #51377 closed

[2020-03-31 18:18] cgillum commented on #51341
@amdeel would you mind taking a look at updating this documentation?

[2020-03-31 18:18] mumian commented on #51372
@simonech - which az version do you use?  You can find out by running "az --version".  With version 2.3.0, I can see the output.

[2020-03-31 18:23] tinhpv commented on #51344
I used wayfinding feature of ASA combining with ARCore AugmentedImage

Firstly, I create an anchor by using AugmentedImage of ARCore (Reference Image is a QRCode). Then, I place and save other two anchors by tapping on a surface (in the same session and they are connected)

But when I locate the first anchor and try to locate nearby anchors, but it's not working fine.

https://docs.microsoft.com/e

[2020-03-31 18:23] Karishma-Tiwari-MSFT commented on #51216
Nested virtualization is not supported on any N-series VMs(NVC/NC/ND/) and thus the answer for your question is NCv3 does not support Nested Virtualization.

On NVv4 series, we have introduced secure hardware GPU partitioning. So nested virtualization is not needed on NVv4.

The doc has been updated to correct the statement 'all v3 virtual machines support nested virtualization'.

Thanks for bring

[2020-03-31 18:24] tinhpv commented on #51344
Thanks for replying mail. Here is the problem:

I used wayfinding feature of ASA combining with ARCore AugmentedImage

Firstly, I create an anchor by using AugmentedImage of ARCore (Reference
Image is a QRCode). Then, I place and save other two anchors by tapping on
a surface (in the same session and they are connected)

But when I locate the first anchor and try to locate nearby anchors, but
it's

[2020-03-31 18:25] richardeakin opened #51386 "ARM Support"
The Azure Kinect SDK recently released (v1.4) with ARM / ARM64 support, will this also be coming to the body tracking SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afef83cf-fabc-7ac5-49e0-0b3293483b8e
* Version Independent ID: 9b4f5587-a003-e184-d80d-c1abc5dbc33e
* Content: [Azure Kinect Body Tracking SDK downloa

[2020-03-31 18:30] Karishma-Tiwari-MSFT commented on #51335
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-31 18:32] RobertDBourne opened #51387 "PoSh error ?"
I think this block has an error in the last line
$app = Get-AzureADApplication -Filter "IdentifierUris eq 'https://sync.aaddc.activedirectory.windowsazure.com'"
Remove-AzureADApplication -ObjectId $app.ObjectId
$spObject = Get-AzureADServicePrincipal -Filter "DisplayName eq 'Azure AD Domain Services Sync'"
Remove-AzureADServicePrincipal -ObjectId $app.ObjectId
The last line should read
Remove-Azur

[2020-03-31 18:32] xxflop commented on #19179
What about the MAINTAIN_INDEX autotuning option? I don't see it documented anywhere. Will it take care of index fragmentation (I know it is not so important in most scenarios) running some kind of reorganize/rebuild on the fragmented indexes?

[2020-03-31 18:34] simonech commented on #51372
It’s 2.2
2.3 was released today, and it now yet available on brew

On 31 March 2020 at 20:19:15, Jonathan Gao (notifications@github.com) wrote:

@simonech <https://github.com/simonech> - which az version do you use? You
can find out by running "az --version". With version 2.3.0, I can see the
output.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2020-03-31 18:35] amergey commented on #51186
This documentation is about account settings,  our account settings had already been migrated.
My concern is about virtual machine offers which is still in Cloud Partner Portal. The message with Learn more is displayed for virtual machine offer but it seems there is no documentation about this virtual machine offer migration.
Our main concern is about Cloud Partner Portal that was providing API al

[2020-03-31 18:41] Karishma-Tiwari-MSFT commented on #51334
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-31 18:42] cmcapellan opened #51388 "No instructions for "Reply URL (Assertion Consumer Service URL)""
On the Azure AD side, Reply URL is a required field, but is not mentioned on this doc. Please update step 10L. On the DocuSign side, one endpoint is clearly labeled as the Assertion Consumer Service URL, so should be a simple fix!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40756c7c-63eb-10f8-c8c4-17b57877bb7f
* Ver

[2020-03-31 18:45] DavidCBerry13 commented on #45597
Thanks for pointing this out for us.  We have updated the document and it is live now.  #please-close

[2020-03-31 18:45] #45597 closed

[2020-03-31 18:46] RyanHill-MSFT commented on #51069
Hi @amitbhatia18, I want confirm that you what pasted into the appsettings.json file was the output from `az ams account sp create --account-name amsaccount --resource-group amsResourceGroup`. Choosing the json from the API Access blade in the portal didn't provide the AadClientId which the application needs. Run the above command and paste in the appsettings.json under UploadEncodeAndStreamFiles

[2020-03-31 18:46] vlyakh opened #51389 "Webhook endpoint does not autogenerate"
Hi!

So when I create an EventGrid subscription, select Endpoint Type as WebHook, it doesn't generate the endpoint, but instead asks me to enter it

http://i.piccy.info/i9/0ba1d8ea00d6376d01347b7b33b5e7b1/1585680518/33970/1370418/Capture.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1

[2020-03-31 18:48] Vincentm29 commented on #51279
@roygara thanks for looking into it and for the clarification.
You will need to update the text below the table.

[2020-03-31 18:48] JoseMSoares-MSFT commented on #51374
of course sorry, here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources

[2020-03-31 18:53] tfitzmac commented on #48830
Thanks for this feedback. I have submitted an update to this article based on the feedback. The update will get published this afternoon.

[2020-03-31 18:53] tfitzmac commented on #48830
#please-close

[2020-03-31 18:53] #48830 closed

[2020-03-31 18:56] SnehaGunda commented on #51304
@sum3680 which screenshot are you referring to, your image In the above message didn't render. Can you paste again?

[2020-03-31 18:56] PeterCLu commented on #51135
Thanks @swinner95, I'll let team know that these are best practices and should be added. #please-close

[2020-03-31 18:56] #51135 closed

[2020-03-31 19:02] rboucher commented on #37901
Given this is not a doc bug, we'd like to close this. #please-close

[2020-03-31 19:02] #37901 closed

[2020-03-31 19:02] jagilber commented on #38677
these are the default values when changing to custom upgrade policy in portal. the 'upgradeDescription' configuration is inserted into the parent 'properties' section of the json configuration.
created pr #51390
adding documentation here as well https://github.com/Azure/Service-Fabric-Troubleshooting-Guides/blob/master/Cluster/Fabric%20Upgrade%20Policy%20-%20Define%20a%20Custom%20Fabric%20Upgrade%

[2020-03-31 19:03] rboucher commented on #44927
Is this fixed at this point?  Can we close this issue?

[2020-03-31 19:06] dannyh22 commented on #48484
@KranthiPakala-MSFT i am having issues as well trying to authenticate my service principal account to copy data to CRM using data factoring/ copy data tool.

  When using a non json file i get this error:
     **_Unable to Login to Dynamics CRM: Invalid Login Information : The HTTP request was
     forbidden with client authentication scheme 'Anonymous'. The HTTP request was forbidden with
     cl

[2020-03-31 19:07] SaurabhSharma-MSFT commented on #51388
@cmcapellan Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-31 19:08] rboucher commented on #45763
@fujitani-hiromu-fixer I've discovered that this are duplicates because some of them are only created once you create an alert.  I'm putting information into the document that may clear this up while also having the descriptions changed upstream.

[2020-03-31 19:08] mike-urnun-msft commented on #51355
@eparizzi Thank you for your feedback! We will review and update as appropriate.

[2020-03-31 19:10] sum3680 commented on #51304
1. Search for "Comos DB". Then open the official documentation page at
https://docs.microsoft.com/en-us/azure/cosmos-db/
2. On the left navigation, expand "Quickstarts" -> "Create Cosmos DB
resources" -> "Azure portal"
3. Scroll down and it's on one of the pictures.   This image has the
caption "3. Select *Go to resource* to go to the Azure Cosmos DB account
page."

This is the URL of the image
ht

[2020-03-31 19:10] erik5starg opened #51391 "UNC"
Maybe I am not understanding properly but will this allow a user to browse a share using a unc path without entering credentials if they are logged into a domain  joined machine with credentials that have permissions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fba964be-3f77-d80c-f1a5-35bb1430bb8f
* Version Independ

[2020-03-31 19:15] MattHartz commented on #51296
@DixitArora-MSFT Let me know what i can do to help

[2020-03-31 19:23] SubhashVasarapu-MSFT commented on #51353
@haymansfield ,  We are looking into this query and will update you as soon as possible.

[2020-03-31 19:31] GiftA-MSFT commented on #50928
@v-kydela thanks for your feedback. I am in close communication with the doc author and was informed that a backlog item has been created to help clarify the ambiguity you specified. Thanks.

[2020-03-31 19:34] wbratz commented on #40048
This worked for me as well, however I was I also had to configure my Package source, Package manager was looking at my companies package repo, and ignoring nuget.org. I had to go in and uncheck the other package sources, leaving only nuget.org.

[2020-03-31 19:36] hpsin commented on #51023
@emratha can you clarify what "global admin access" means? Do you mean CSP? Or just that the people in your tenant with global admin role see this? The error message remediation will be to use the code against the correct tenant.

[2020-03-31 19:37] hpsin commented on #48669
@threesixfour do you need help fixing this error? Or is the ask to just put it on this page? The remediation will be "add new keys that aren't expired"

[2020-03-31 19:37] PatAltimore commented on #50959
@xtianus79,

For dev kit questions and issues, the dev kit repo is the right place (where you opened your issue). https://github.com/Microsoft/vscode-azure-blockchain-ethereum/issues. I added a comment with a link to an AD article in your open issue.

For general questions, feedback, and support, here's a list of resources: https://docs.microsoft.com/en-us/azure/blockchain/service/overview#support

[2020-03-31 19:40] threesixfour commented on #48669
@hpsin the ask is to just put it on the page.

[2020-03-31 19:40] ishasahni1 commented on #44927
@rboucher yes we can close this as issue is resolved.

[2020-03-31 19:41] Karishma-Tiwari-MSFT commented on #51318
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-31 19:41] #51318 closed

[2020-03-31 19:43] Karishma-Tiwari-MSFT commented on #51265
Is there any update?

[2020-03-31 19:44] Karishma-Tiwari-MSFT commented on #51274
Is there any update?

[2020-03-31 19:45] rboucher commented on #44927
Thanks!  #please-close

[2020-03-31 19:45] #44927 closed

[2020-03-31 19:50] rboucher commented on #45647
@fujitani-hiromu-fixer See comment above.

[2020-03-31 19:52] #48669 closed

[2020-03-31 19:52] #51023 closed

[2020-03-31 19:56] Karishma-Tiwari-MSFT commented on #51351
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@TimShererWithAquent I am not able to assign issue to @romitgirdhar and thus have assigned it to you. Let me know if I should assign it to someone else. Thanks :)

[2020-03-31 19:57] ravick4u commented on #51137
So we work with SharePoint and interacting with SharePoint via Azure function. If you have worked with SharePoint then we have seen an issue where it takes time to get a response from Server. So what we would like to do is to capture the timeout event in function and would like to do some cleanup activity.

[2020-03-31 19:59] thoo1 opened #51392 "MSAL handling exception InteractionRequiredAuthError"
In this sample: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-handling-exceptions?tabs=javascript#javascript-1

What is this method `extractClaims`. I don't see it being exported in the @azure/msal library

How are we supposed to extract the claims from the errorMessage?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-03-31 20:00] TimShererWithAquent commented on #51351
@Karishma-Tiwari-MSFT - I only touched this one to fix a label on some syntax blocks in a recent work item. I don't think I'm the right person.

[2020-03-31 20:11] wamak9 opened #51394 "Can we add a diagram on this will work ?"
Hi, It would be great to add a network diagram on how autoscaling works like control plana and metric server and how does metric server read metrics from.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab10c96-1f2f-e48f-a084-b1715156e33f
* Version Independent ID: a113b8e9-259a-2a65-2e54-a2661c78ddb5
* Content: [Kubern

[2020-03-31 20:19] romitgirdhar commented on #51351
@Karishma-Tiwari-MSFT - please work with @mmccrory. She can point you in the right direction on the right owner of these docs. Thanks!

[2020-03-31 20:24] DanielLarsenNZ opened #51395 "Clarity on RSA-HSM keys"
While this page implies that RSA-HSM is supported it is not specific. Please update this page with wording to make clear that RSA-HSM (2048) is a fully supported key type on Storage for Customer Managed Keys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f527b03-ace9-5b5c-0def-d4c6fe3451f3
* Version Independent ID: a

[2020-03-31 20:25] gldsomeshwarduggirala opened #51396 "AzSync between two ADLS Gen2 container does not work even when using the blob end point"
azcopy sync 'https://&lt;source-storage-account-name&gt;.blob.core.windows.net/&lt;container-name&gt;' 'https://&lt;destination-storage-account-name&gt;.blob.core.windows.net/&lt;container-name&gt;' --recursive

The command fails and the log error message is as follows:

2020/03/31 20:03:46 ERR: [P#0-T#9] COPYFAILED: https://&lt;source-storage-account-name&gt;.blob.core.windows.net/&lt;container-n

[2020-03-31 20:25] arvindr9 commented on #51177
@jakaruna-MSFT I'm having trouble migrating the traffic from nginx to jupyter. I was able to successfully get nginx and generate certs for it, so when I type my domain name, it redirects to https://domainname.cloudapp.azure.com (as desired).

I tried following the guide here (https://jupyter-notebook.readthedocs.io/en/stable/public_server.html#running-a-public-notebook-server) by creating a hashed

[2020-03-31 20:31] ctcoggi commented on #51094
There is also an issue with 1.2.0 in IE to where the page does not load.  We recently deployed our app to prod and had tested everything in IE with no issue.  Sometime over the past few days there became an issue.  In the console log we see: SCRIPT1014: Invalid Character authorize (17,95719).  IT appears to be a backtick (`) in the code somewhere the IE does not like.  I tried to test with the MS

[2020-03-31 20:35] stevenxzhou commented on #51094
Hi, Thanks for your feedback. I am a dev from B2C and the fix is done. We have replaced the template literal with string concatenation. The change should be available in about a week across all DCs.

[2020-03-31 20:39] TUSAB-web opened #51397 "Errors in Service Principal Creation script"
There are some errors in the script linked to in the article.  Some were due to the new version of PowerShell Az module instead of RM.  I read the docs here to fix compatibility (for example, line 62 switched to Az.Accounts), but I cannot resolve the following error related to the creation of a password for the new resource:

Cannot convert the "password" value of type "System.String" to type "Sys

[2020-03-31 20:41] eluchsinger commented on #50934
It is basically the same code, except for the start where you set up the connection, tokens, etc.

[2020-03-31 20:44] femsulu commented on #51379
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-03-31 20:44] shashishailaj commented on #50854
@NTDS Every file that is present within the MFA server logs has a specific format but in most of the logs the delimiter is character | . You can open the logs in an excel file using the following steps. For example below are the most files that you will see in the Logs folder on the MFA server installation folder. %Programfiles%\Multi-Factor Authentication Server\Logs

![image](https://user-images

[2020-03-31 20:44] #50854 closed

[2020-03-31 20:45] DinnyMN opened #51398 "Can the IP Address Change when moving?"
Can the App Service's inbound IP address change when moving App Service resources across Subscriptions?

This MS article notes deleting and recreating an App Service will, I do not know if that applys here.
https://docs.microsoft.com/en-us/azure/app-service/overview-inbound-outbound-ips#when-inbound-ip-changes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-03-31 20:46] MarileeTurscak-MSFT commented on #51387
@RobertDBourne
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-31 20:51] ctcoggi commented on #51094
Thanks for the quick update on this!  Stinks we will have user issues in IE for a week, hopefully not many of them using IE.

[2020-03-31 20:54] dargilco commented on #50934
I see that the Android version uses different playback code than the Java JRE one.

[2020-03-31 21:00] MarileeTurscak-MSFT commented on #51387
Thanks! I made a pull request to update this but will leave it open for confirmation by @iainfoulds as I'm not fully certain.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/109754

[2020-03-31 21:00] #51387 closed

[2020-03-31 21:00] Karishma-Tiwari-MSFT commented on #50918
The document has been updated. Thanks for bringing this to our attention.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-31 21:00] #50918 closed

[2020-03-31 21:02] thowilli commented on #51357
What steps did you take to solve the problem?

[2020-03-31 21:08] #51319 closed

[2020-03-31 21:17] thowilli commented on #51357
Never mind.  Just made the change.  Job completes now.  Thanks!

[2020-03-31 21:19] BharathNimmala-MSFT commented on #51186
@amergey Thank you for sharing additional context . Our document author @dsindona  is  already working with our internal PG teams to get more clarity on this, we will circle back on this thread as we have updates.

[2020-03-31 21:19] MarileeTurscak-MSFT commented on #51281
Thanks for this! I've reported it and the team is looking into this. They pointed out as well that the developer link is rendering content https://developer.microsoft.com/en-us/graph/blogs/microsoft-graph-or-azure-ad-graph/

[2020-03-31 21:19] #51281 closed

[2020-03-31 21:23] sethhahner commented on #49843
Any update on this?  I have the same issue.  Same code except constructing BlobServiceClient like  new BlobServiceClient(connectionString, options)

[2020-03-31 21:29] tfitzmac commented on #51398
@DinnyMN - moving a resource to a new resource group or subscription is a metadata change that shouldn't affect anything about how the resource functions.

[2020-03-31 21:36] jeevansd commented on #51322
Thanks for the details here. It seems that the Provisioning service is failing to load the role in this case. Can you please confirm it by looking at the Provisioning logs for the app in your tenant?

[2020-03-31 21:43] Karishma-Tiwari-MSFT commented on #51345
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-31 22:00] brandonh-msft commented on #51377
that would be perfect; i already opened https://github.com/MicrosoftDocs/azure-docs/issues/51376 to add the same information to that section so 👍🏻

[2020-03-31 22:05] stefrostik opened #51400 "LogicApp: Certificate Authentication for HTTP GET Action not working"
Hi, I'm trying to add HTTP GET action with Client Certificate authentication to my logic app, but receiving an error: **BadRequest. Could not load the certificate private key. Please check the authentication certificate password is correct and try again.**.

I'm converting *.pfx file to the base64string as described in https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-a

[2020-03-31 22:10] balasbm commented on #39431
Hi There,

Just want to let you know that the fixes for this issue (AutoStop scenario using CPU % utilization) has been deployed in the marketplace (both GA and Fairfax). Documentation is getting updated and will be release by 4/1. Please get the latest package of start/stop from the marketplace. Thanks!

[2020-03-31 22:13] rurounijones commented on #49742
@YutongTie-MSFT

I do not consider this issue closed. I have raised issues regarding insufficiently detailed documentation and given examples on _how_ the documentation is inadequate.

Therefore my expectation is that this documentation's inadequacies are fixed (Or MSFT explain why they will not be fixed) before any ticket is closed.

As it is right now most of my questions are still unanswered. I

[2020-03-31 22:24] simonsigre opened #51401 "Confirmation of "External security challenge was not satisfied""
The documentation ("https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes") states that;
[code]
Is the "not satisfied" here valid? The logs seem to infer the opposite; ResultStatusDetail=Success

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
*

[2020-03-31 22:25] mike-urnun-msft commented on #50790
@smoms We'll prioritize and address the doc bug through the issue #36939 since it's currently assigned to the listed author for this doc. Please track any future updates from that issue.

As for the difference between AAD Graph vs MS Graph, here's a good blog post from the AAD team on the matter: [Microsoft Graph or the Azure AD Graph](https://developer.microsoft.com/en-us/office/blogs/microsoft-g

[2020-03-31 22:25] #50790 closed

[2020-03-31 22:28] #22998 closed

[2020-03-31 22:32] stefrostik opened #51402 "LogicApp: Certificate Authentication for HTTP GET Action not working (Clone of #51400)"
Hi, I'm trying to add HTTP GET action with Client Certificate authentication to my logic app, but receiving an error: BadRequest. Could not load the certificate private key. Please check the authentication certificate password is correct and try again..

I'm converting *.pfx file to the base64string as described in https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-app#c

[2020-03-31 22:33] erikadoyle commented on #22998
Thanks for reporting this @lydemann, and sorry you ran into this issue. Since nearly the entire guide was based on the now obsolete sfpacktool, I went ahead and incorporated the still relevant parts on packaging multiple guest executables into [another doc](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-deploy-existing-app) that more comprehensively covers currently supported

[2020-03-31 22:39] tamram commented on #51154
@Cloudmersive - The links worked for me, but I noticed the casing was inconsistent. I've fixed that, so I think they should work now for you. If not, please just post here again and let us know.

#please-close

[2020-03-31 22:39] #51154 closed

[2020-03-31 22:42] bandersmsft commented on #44957
@@WilliamVannuffelen I updated the article to address this issue with https://github.com/MicrosoftDocs/azure-docs-pr/pull/109773.
#please-close

[2020-03-31 22:42] #44957 closed

[2020-03-31 22:54] koo9 opened #51403 "Idp not included in the token claims"
[Enter feedback here]
using local login, idp claim is missing from the token as the Identity Provider is checked by default. bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e64957b2-62c1-a751-5a18-3f30e2926104
* Version Independent ID: dae827dc-ff96-a1dd-7320-8f493953a33e
* Content: [Tutorial - Create user flows -

[2020-03-31 22:58] TravisCragg-MSFT commented on #51284
@jasenf You can use [az network front-door frontend-endpoint ](https://docs.microsoft.com/en-us/cli/azure/ext/front-door/network/front-door/frontend-endpoint) to add the DNS entry. If this is blocking you from moving forward, your best bet is to create a support request. If you do not have a support plan, please let me know.

For additional documentation on the proper CLI commands, I am assigning

[2020-03-31 23:05] jasenf commented on #51284
Thanks Travis -- I hacked around the CLI for a few hours today and feel like I got close, but simply could not get it to work.

The problems in documentation are:

1) it is not documented on how to bind an alias resource that is wildcard domain to a front door instance

2) how to set up a front door front endpoint as a wildcard endpoint

3) how to tie a certificate within the key vault to that fro

[2020-03-31 23:10] omnipresentminded commented on #44050
@abij did you find a way to work around this successful ? We are in the same situation currently.

[2020-03-31 23:21] Karishma-Tiwari-MSFT commented on #51356
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-31 23:30] KranthiPakala-MSFT commented on #51247
Hi @w0ut0, Please refer to step1 & Step 8 where we generate a Secrete token which is associated with the  Databricks workspace and we use it while creating an enterprise application and connect to the Azure Databricks SCIM API. This establishes the relation.

Hope this helps.

[2020-03-31 23:30] abhinayabhi opened #51406 "Link is Broken"
Link for Guide to migrate from Microsoft.Azure.EventHubs to Azure.Messaging.EventHubs is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8719fae6-003f-f9a8-aba4-639db206780b
* Version Independent ID: d3426eb2-66eb-99d4-ce9f-7daf1adf7c25
* Content: [Authenticate an application to access Azure Event Hubs resources

[2020-03-31 23:32] femsulu commented on #51007
Hello @Ryan165 , yes this limitation also applies to Linux images that include support plans. If the Linux Distro doesnt a support plan then cross-resource/subscription migration is possible. For details on which published Linux images do/dont have support, check out this [content](https://support.microsoft.com/en-us/help/2941892/support-for-linux-and-open-source-technology-in-azure).

![image](ht

[2020-03-31 23:34] femsulu commented on #51007
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-31 23:34] #51007 closed

[2020-03-31 23:35] Mike-Ubezzi-MSFT commented on #51382
@samuelkilada Thank you for bringing this to our attention. Can you share the instance name that is demonstrating this behavior? It would help to have someone take a look at this. You can share that information here, or send me an email ([AzCommunity](mailto:azcommunity@microsoft.com)).

[2020-03-31 23:43] shadewlkr commented on #51322
@jeevansd
Thanks for the reply.  I checked the provisioning logs, and there are no errors that I can see.   There are successful entries for when a role was read and imported, but there are no log entries with a failed status of any kind.

I tested this by creating a role and leaving the default IAM role trust policy in place, then running the AzureAD provisioning cycle.  The role imported, and th

[2020-03-31 23:44] KranthiPakala-MSFT commented on #51406
@abhinayabhi Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate

[2020-03-31 23:47] jeevansd commented on #51322
Thanks for providing the detailed analysis here. I will file this as a bug internally.

[2020-03-31 23:49] erichrt commented on #47565
Fixed - @mavilleg docs have been updated in the linked PRs

[2020-03-31 23:52] SnehaGunda commented on #51018
We will close this issue if there aren't further questions.

#please-close

[2020-03-31 23:52] #51018 closed

[2020-03-31 23:53] Karishma-Tiwari-MSFT commented on #50297
This has been updated.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-31 23:53] #50297 closed

[2020-03-31 23:53] SlyW commented on #51094
Indeed - thank you VERY much for the quick turnaround.

[2020-03-31 23:57] Karishma-Tiwari-MSFT commented on #51357
Can you please elaborate which section of the doc are you referencing to and recommending the change?

[2020-03-31 23:59] #51406 closed

[2020-04-01 00:00] KranthiPakala-MSFT commented on #51406
@abhinayabhi The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thanks.

[2020-04-01 00:02] Karishma-Tiwari-MSFT commented on #51368
@ChristianMontoya This looks like a bug. Can you please take a look? Thanks :)

[2020-04-01 00:06] Karishma-Tiwari-MSFT commented on #51095
We will now close this issue. Please share the details and tag me in a comment. I will reopen it and we will gladly continue the discussion. Thanks :)

[2020-04-01 00:06] #51095 closed

[2020-04-01 00:13] daniv-msft commented on #51000
Thank you for your reply and providing these logs!
I had a look at them and the issue seems to be related to one of our components called DevHostAgent, that is used to synchronize files while you're debugging. A problem with this component would explain the issue you encounter.

Could you please retrieve the DevHostAgent logs, so that I can investigate further?
* Open the Kubernetes Dashboard for

[2020-04-01 00:18] golfalot opened #51407 "How to proceed when Azure DNS and AFD in different subscriptions with different Azure AD"
I can't see the AFD in the subscription where DNS lives for the reasons stated above. How might I proceed ? Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02772612-08a7-06a1-f0ca-d6d8c5de3ed7
* Version Independent ID: 97b248ee-d8e4-901c-c399-e5b75b9f8236
* Content: [Onboard a root or apex domain to an existing

[2020-04-01 00:24] TheChozzy commented on #36402
I am running into the same issue.
Request Id: 8e184de0-1d86-4468-b6a6-4e9917880e00
Correlation Id: 7fc4282a-cb60-4ccf-93bd-34c91e303899
Timestamp: 2020-04-01T00:19:49Z

[2020-04-01 00:36] Grace-MacJones-MSFT commented on #51124
@alohaninja  we would recommend for high availability to have duplicate assets in two datacenters.  You basically copy an existing asset to the secondary datacenter and publish the content.  The API allows you to specify the streamingLocatorId (see https://docs.microsoft.com/en-us/rest/api/media/assets/liststreaminglocators#definitions) so that it can match the same published locator ID from the p

[2020-04-01 00:36] #51124 closed

[2020-04-01 00:36] mike-urnun-msft commented on #50873
@alexdrenea Confirming that that's the correct behavior, and would also highlight that the same note also goes on to state the following:

"_If you specify both:_
- _if they are different loggers, then both of them will be used (multiplexing logs),_
- _if they are the same loggers but have different settings, then the one for single API (more granular level) will override the one for all APIs._"

[2020-04-01 00:36] #50873 closed

[2020-04-01 00:44] alexdrenea commented on #50873
Sorry, maybe I'm not reading this correctly but in my mind:

suggests that you are writing the logs to both application insights instances.

I just checked and the logs are only written in the instance defined at the API level even if it's different than the one defined at the All APIs level.

Thoughts?

[2020-04-01 00:45] SnehaGunda commented on #51304
@sum3680 Thanks for the details, I have fixed the screenshot in the above PR. The changes will be live tomorrow.

We will now close this PR.

#please-close

[2020-04-01 00:45] #51304 closed

[2020-04-01 00:50] CmdrBeavis opened #51410 "Enable CORS"
It sure would be nice if there was a bit more explanation around the `--namespace Microsoft.Web` and `--resource-type config` parameters given that I tried what's there and got an error. I have NO IDEA how I'm supposed to know what this magic "provider" namespace is supposed to be. Also, "provider"?! Okay, provider of WHAT exactly?!  :facepalm: :(

---
#### Document Details

⚠ *Do not edit this se

[2020-04-01 01:01] CmdrBeavis commented on #51410
Actually, I _think_ I found the answer on this page: `https://docs.microsoft.com/en-us/cli/azure/webapp/cors?view=azure-cli-latest`

Will test it first thing in the morning.

[2020-04-01 01:09] gaelicWizard opened #51411 "Must publish *root* URL"
No mention is made on this page that the *root* URL must be published, not the /RDWeb/ path. E.g., https://my.rdweb.example.com/ but not https://my.rdweb.example.com/rdweb/. (An older version of the documentation does include this caveat: https://docs.microsoft.com/en-us/windows-server/remote/remote-access/web-application-proxy/publishing-applications-with-sharepoint%2c-exchange-and-rdg ). I presu

[2020-04-01 01:20] SnehaGunda commented on #51221
@slavizh Above PR adds the Cassandra requests entry. The changes will be live tomorrow.

We will now close this issue.

#please-close

[2020-04-01 01:20] #51221 closed

[2020-04-01 01:21] BharathNimmala-MSFT commented on #51397
@TUSAB-web Thank you for bringing this to our notice, will look further into this and get back to you at the earliest.

[2020-04-01 01:22] Spongman commented on #49245
I'm seeing a 503 with a single-container F1 free tier app service. is this the same issue that's going to be fixed, or should i file a separate bug?

[2020-04-01 01:24] guangying94 opened #51412 "Information not updated"
I'm referring to the table above on Windows Server Operating System, and it says that Windows Server 2019 is not supported by Microsoft Defender ATP. On the other hand, Microsoft Defender ATP site listed Windows Server 2019 is a supported version: https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/minimum-requirements

Not sure which is the most accurate inf

[2020-04-01 01:28] SnehaGunda commented on #50691
The 1.8.3 version is the latest and it matches with the version in the source https://github.com/Azure/azure-documentdb-datamigrationtool/blob/master/Solution%20Items/CommonAssemblyInfo.cs

I passed the details on updating the download page to our product team.

[2020-04-01 01:33] BharathNimmala-MSFT commented on #51398
@tfitzmac - Thank you for helping on the thread.

@DinnyMN - Thank you for your question. Hope the above information  shared by @tfitzmac helps answer your query. Please let us know if you have further queries.

[2020-04-01 01:35] BharathNimmala-MSFT commented on #51364
@bamajeed Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-04-01 01:49] SnehaAgrawal-MSFT commented on #51410
@CmdrBeavis Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-01 01:55] Alexp2019 commented on #50774
Ah that would explain it, woops! :)

Thanks for the assistance all @AshokPeddakotla-MSFT  @rbrundritt

[2020-04-01 01:55] MarileeTurscak-MSFT commented on #51412
@guangying94
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-01 01:58] rhendrie opened #51413 "Missing OWASP_3.1 Rules"
The list of rules appears to be out of date or incomplete, for example rule 942120 is not listed here but is part of the OWASP_3.1 CRS ruleset on App Gateway WAF

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 079888f6-188c-1bb9-0516-bd52ad0f287e
* Version Independent ID: 1971c541-4019-f620-b57b-8cfd5acf87a1
* Content:

[2020-04-01 01:59] BharathNimmala-MSFT commented on #50973
@rockboyfor Apologies for delayed response on this, post checking with few of our SME's regarding Mooncake it was informed that primarily https/raw.githubusercontent.com might have been blocked and that might be one of the possible reasons you are seeing the error.

One of the [external sites](https://en.greatfire.org/https/raw.githubusercontent.com) helps us validate it, please have a look.

[Add

[2020-04-01 01:59] #50973 closed

[2020-04-01 02:21] BharathNimmala-MSFT commented on #51109
@frilkieg Thank you for reaching out to us. Could you please help confirm which sign in option you are using ?

1. When you click on "Edit credentials"

 ![image](https://user-images.githubusercontent.com/45180002/78092014-64f66200-7383-11ea-852b-245995e82923.png)

2. Sign in options you are using

![PBI-1](https://user-images.githubusercontent.com/45180002/78092104-9ec76880-7383-11ea-96e8-0be8141

[2020-04-01 02:41] dcbrown16 commented on #6267
In case anyone runs across this, Tim has a more recent blog with an improved method.
https://tjaddison.com/blog/2019/02/auto-scale-down-all-event-hub-namespaces-with-azure-functions/

[2020-04-01 02:43] BharathNimmala-MSFT commented on #25584
@Cherif-Git  Thank you for reaching out , can you please help confirm if you are seeing any errors in the event viewer while installing the agent or when you repair/reinstall the bits. Please review and circle back , so that we can further review the error you are seeing and see what can be done as next steps. Thanks

[2020-04-01 02:53] maxal1917 opened #51415 "not clear where fromFinishedLaunching is set to true"
It is not clear where value of fromFinishedLaunching is set to true for ProcessNotification. In my app I always end up in ReceivedRemoteNotification, even when I press notification and app is activated, so I get notification shown to the user twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45afd17d-e909-ccd9-01c3

[2020-04-01 03:00] VikasPullagura-MSFT commented on #51394
@akramwaseem
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-01 03:00] VikasPullagura-MSFT commented on #51394
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-04-01 03:09] BharathNimmala-MSFT commented on #51376
@brandonh-msft Thank you for your query. Our team will further look into it and get back to you at the earliest.

[2020-04-01 03:26] neeleshray-msft commented on #51401
@simonsigre Thank you for the feedback. We will review and update accordingly.

[2020-04-01 03:27] neeleshray-msft commented on #51411
@gaelicWizard Thank you for the feedback. We will review and update accordingly.

[2020-04-01 03:28] neeleshray-msft commented on #51403
@koo9 Thank you for the feedback. We will review and update accordingly.

[2020-04-01 03:51] AshokPeddakotla-MSFT commented on #50774
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-01 03:51] #50774 closed

[2020-04-01 03:51] MarileeTurscak-MSFT commented on #51412
It is supported, so I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/109804

Thanks @guangying94 !

[2020-04-01 03:51] #51412 closed

[2020-04-01 03:54] gholliday commented on #43898
Give this a try:

[code]

[2020-04-01 03:58] DixitArora-MSFT commented on #51119
@andrewkittredge For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-01 03:58] #51119 closed

[2020-04-01 03:58] maxal1917 commented on #51415
I could make it work by adding this code to FinishedLaunching:

            NSDictionary remoteNotificationValues = null;

            if (options != null)
            {
                foreach (var kv in options)
                {
                    var key = kv.Key;
                    if ((NSString)key == UIApplication.LaunchOptionsRemoteNotificationKey)
                        remoteNotificat

[2020-04-01 04:00] maxal1917 commented on #51415
However, still question how to handle when app is in background vs. when app is in foreground.

[2020-04-01 04:05] AshokPeddakotla-MSFT commented on #51275
I have assigned the issue to the author @chrissie926 to evaluate and update as appropriate.

[2020-04-01 04:07] Grace-MacJones-MSFT commented on #51415
Thanks for the update @maxal1917. We are currently investigating and will update you shortly.

[2020-04-01 04:09] AmitSuri commented on #44099
The minimum bound should never be 400 or 2000 or X.
It should simply be 1 to Max. Why should anyone have to pay for something they are not using?

[2020-04-01 04:11] DixitArora-MSFT commented on #51137
@ravick4u A function can accept a CancellationToken parameter, which enables the operating system to notify your code when the function is about to be terminated. You can use this notification to make sure the function doesn't terminate unexpectedly in a way that leaves data in an inconsistent state.

The following example shows how to check for impending function termination.
C#
[code]
For more i

[2020-04-01 04:11] #51137 closed

[2020-04-01 04:11] DixitArora-MSFT commented on #51163
@mperdeck Just following up again in case missed the previous communication.

[2020-04-01 04:12] DixitArora-MSFT commented on #51164
@bradoyler As this is something specifically to a Product question , recommendation at this point is to create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity. Azure Function Repo will be monitored by Product team of Azure function

[2020-04-01 04:15] DixitArora-MSFT commented on #51400
Hi @stefrostik Thanks for reaching out. We will review and update as appropriate.

[2020-04-01 04:16] DixitArora-MSFT commented on #51402
Hi @stefrostik Thanks for reaching out. We will review and update as appropriate.

[2020-04-01 04:16] MarileeTurscak-MSFT commented on #50692
Can you please explain what you are trying to accomplish with it? I want to get clarity from the product team about what's allowed.

You say that the reader role works fine for apps accessing the config via managed identity. Are you saying that the owner role doesn't even provide that access, or that they can't contribute/read/write in the way you would expect?

[2020-04-01 04:36] usreekanthreddy opened #51416 "<validate-jwt>"statusCode": 401, "message": "Unauthorized. Access token is missing or invalid.""
while using &lt;validate-jwt&gt;, if using v2 version endpoint, go to -&gt; azure ad -&gt; app registration -&gt; select backend-app -&gt; manifest -&gt; update property "accessTokenAcceptedVersion": 2,"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Independent ID: 330085

[2020-04-01 04:41] SnehaAgrawal-MSFT commented on #51219
@XavUnsg Just checking in if you have had a chance to see the previous response. Let me know if you have any other question on this.

[2020-04-01 04:42] SnehaAgrawal-MSFT commented on #51210
@RonnieQuan Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-01 04:42] #51210 closed

[2020-04-01 04:50] SumanthMarigowda-MSFT commented on #51391
@erik5starg Thanks for your question. We are checking on this and will respond to you soon.

[2020-04-01 04:51] SumanthMarigowda-MSFT commented on #51395
@DanielLarsenNZ Thanks for your question. We are checking on this and will respond to you soon.

[2020-04-01 04:52] SumanthMarigowda-MSFT commented on #51396
@Thanks for your question. We are checking on this and will respond to you soon.

[2020-04-01 04:53] arjbholu commented on #51250
@SaurabhSharma-MSFT any update?

Let me know, we can connect on teams too. I am MS FTE.

[2020-04-01 04:58] AshokPeddakotla-MSFT commented on #51386
@richardeakin Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-01 04:59] AmitSuri commented on #40268
20 Containers = 2000 RUs == 4$ a day == 120$ (bare minimum spend)
So regardless of usage, you are going to spend 120$ no matter what.
Big business, no problem..small businesses / dev and test should avoid this database.
Unless you guys fix your thought process and think about development and testing situations where there could be many environments you are asking a developer to pay through the nos

[2020-04-01 05:04] ketan-chawda-msft commented on #51389
@vlyakh Thank you for your feedback! We will review and provide an update as appropriate.

[2020-04-01 05:10] PramodValavala-MSFT commented on #51416
@usreekanthreddy Thanks for the feedback! We will review and update accordingly.

[2020-04-01 05:20] PramodValavala-MSFT commented on #51158
@prashantma Just following up here... Hope my previous comment clears things up.

[2020-04-01 05:22] PramodValavala-MSFT commented on #51175
@rizwannadeem2018 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

If there wasn't a doc that you are referring to here, please feel free to open a post on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home)

[2020-04-01 05:22] #51175 closed

[2020-04-01 05:23] samuelkilada commented on #51382
Thank you for the response. I was finally able to get it working, but there is something you should be aware of. I had not selected the smallest instance size, but still a relatively small one (1GB cache). I don't know whether this happens with larger sized caches, but basically when you make a change to the TLS and then click reboot, it takes far longer than the 2 minutes it says it might take. I

[2020-04-01 05:35] KalyanChanumolu-MSFT commented on #51156
@mailtogurvindersingh Yes, this functionality is not available from the Portal today.
This is a feature request in our UserVoice and the product team will prioritize it accordingly and make it available.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-01 05:35] #51156 closed

[2020-04-01 05:47] msrini-MSFT commented on #51349
@jpdussourd-msft , During the creation you might not be able to create both the IP but you should be able to create post creation.

[2020-04-01 05:52] SnehaAgrawal-MSFT commented on #51342
@Grepsy Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-04-01 05:54] gowthamsans commented on #51218
<OrchestrationStep Order="1" Type="ClaimsExchange">
  <ClaimsExchanges>
    <ClaimsExchange Id="TrackSignInRequest" TechnicalProfileReferenceId="AppInsights-SignInRequest" />
  </ClaimsExchanges>
</OrchestrationStep>

I am using the above code as my first step and i am getting a signin request time with the help of event stamp claim.

<OrchestrationStep Order="10" Type="ClaimsExchange">
  <ClaimsE

[2020-04-01 05:56] SubhashVasarapu-MSFT commented on #51407
@golfalot ,  We are looking into this query and will update you as soon as possible.

[2020-04-01 06:02] magandrez opened #51418 "Registry security related information"
Hi,

The whole article does not talk about how container registry security works, nor gives pointers to what to do next for securing the store. This information would be quite important to include, IMO.

Cheers,

-Manuel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a23fc33-0447-06f6-c6f0-dd0b4696cc6d
* Version Indep

[2020-04-01 06:15] DashleenBhandari-MSFT commented on #51148
@ncunning , We have updated the UWP sample and have verified that the latest version of the https://www.nuget.org/packages/Microsoft.Azure.NotificationHubs package works and compiles under Release configuration.

As far as usage you would need to update the code to something like:

            var hub = new NotificationHubClient(Secrets.HubName, Secrets.HubConnectionString);
            await hub.

[2020-04-01 06:15] #51148 closed

[2020-04-01 06:16] msrini-MSFT commented on #51413
@rhendrie , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-04-01 06:17] VikasPullagura-MSFT commented on #51418
@magandrez
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-01 06:17] VikasPullagura-MSFT commented on #51418
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-04-01 06:17] rumesh-smec commented on #51141
@PramodValavala-MSFT @jakaruna-MSFT

What if the storage account is in the different tenant / directory?

[2020-04-01 06:19] DashleenBhandari-MSFT commented on #50970
@v-tawe , Just wanted to understand if we can go ahead and close the issue for now?

[2020-04-01 06:20] DashleenBhandari-MSFT commented on #50400
@kyle-thomas-TT , Just wanted to understand if we can go ahead and close the issue for now?

[2020-04-01 06:21] VikasPullagura-MSFT commented on #51197
@3vi1 Hope the provided information helps answer your query.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-01 06:21] #51197 closed

[2020-04-01 06:29] staal-it commented on #48953
@girishgouda Do you know of any blog on how to do that?

[2020-04-01 06:32] Cherif-Git commented on #25584
The issue was solved by executing the command: `Set-AzOperationalInsightsIntelligencePack -ResourceGroupName <logAnalyticsResourceGroup> -WorkspaceName <LogAnalyticsWorkspaceName> -IntelligencePackName "AzureAutomation" -Enabled $true -DefaultProfile <IAzureContextContainer>`
It was the Step 2 of the documentation at the time of the first execution, the command was rejected.
Thanks for your help.

[2020-04-01 06:35] w0ut0 commented on #51247
Thank you for the reply!

[2020-04-01 06:35] #51247 closed

[2020-04-01 06:40] BharathNimmala-MSFT commented on #25584
@Cherif-Git  Glad to hear that the issue was resolved and appreciate you sharing the resolution for rest of the community members.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue the conversati

[2020-04-01 06:40] #25584 closed

[2020-04-01 06:40] kdziembaj opened #51419 "Invalid property names: PerPerson/email"
Hi! Can you help us with one issue pelase ?

We have a business case where we need to update SFSF with information from Active Directory and are trying to setup the email update using SuccessFactors writeback, we recieve the following error when we use the mapping for email.

**With standard connector we are getting this error message:**

Failed to update User 'xxx@xxx.com' in SuccessFactors; Erro

[2020-04-01 06:43] #50906 closed

[2020-04-01 06:44] BhargaviAnnadevara-MSFT commented on #51374
@JoseMSoares-MSFT Thank you for the response!

I just tried the **New-AzTag** cmdlet and was able to successfully execute it.

Can you please check the version of **Az.Resources** module on your machine?

This is what I tried:

PS C:\> Install-Module Az.Resources

PS C:\> Get-Module -ListAvailable Az.Resources
[code]
And then:
[code]
worked fine, resulting in:
[code]
Also, I'd recommend using the

[2020-04-01 06:47] BryanTrach-MSFT commented on #50906
@markhobson Thank you for your feedback. These items are valid.

We made a pr request to the doc and the changes should be public within 24 hours.

In it, we:

1. Addressed the current user limitation of .net core.
2. Added the two suggested external resources to help other with .net core implementation
3. Added a note about Easy Auth

Please do note that Easy Auth is the old name for this feature

[2020-04-01 06:48] v-tawe opened #51420 "Configure with advanced settings seems not working with multi-tentant apps"
https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad#-configure-with-advanced-settings

when created multi-tenant apps, the step 9th “paste the URL of app service into the Application ID URI” will give below error:
![image](https://user-images.githubusercontent.com/22313449/78105911-d9351200-7424-11ea-8c26-0f00e41c6eef.png)

---
#### Document Details

⚠ *Do not

[2020-04-01 06:59] wladimirspar commented on #46547
Why not just state that on the Firewalls (external or Windows) windows-remote-management ports should be opened from proxyserver to domain controllers.  Get-AzureADPasswordProtectionSummaryReport cmdlet is otherwise not working. In our case this was even more difficult to troubleshoot while tcp port 5985 was openened (telnet worked) but the application windows-remote-management was not allowed on

[2020-04-01 07:00] v-tawe commented on #51420
As the document hasn’t a rubric about single-tenant and multi-tenant, so could we change the step 9th to :
Select Expose an API > Set :
- For single-tenant app, paste in the URL of your App Service app and select Save.
- For multi-tenant app, paste in the URL which is based on one of tenant verified domains and select Save.

[2020-04-01 07:08] jmartens opened #51421 "Image for HTTPS probe is not showing"
Image for HTTPS probe is not showing on https://docs.microsoft.com/en-us/azure/application-gateway/self-signed-certificates is not showing, instead it shows the raw image code.

```![HTTPS probe](media/self-signed-certificates/https-probe.png)```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b0e716d-54fc-0b48-e2aa-9f

[2020-04-01 07:15] SnehaAgrawal-MSFT commented on #51298
@twsouthwick Thanks again for the feedback on this. Could you please take look on below thread might be helpful to you.
https://github.com/Azure/azure-notificationhubs-dotnet/issues/10

[2020-04-01 07:17] subiswas2018 opened #51423 "Doc Bug"
Note

Currently, Robo 3T v1.2 and lower versions are supported with Cosmos DB's API for MongoDB
I think this is supposed to be "Studio 3T"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21d6cd84-d0c4-eea9-c2c6-e6f3be91dad8
* Version Independent ID: 6fa411bf-934b-fc27-8fef-09f07c3f0299
* Content: [Use Studio 3T to conne

[2020-04-01 07:27] asergaz commented on #51096
Thank you for your feedback @thnk2wn . We are aware that you opened a support ticket through Azure Portal and are syncing internally on this. I have assigned this issue to the author of the doc to enhance it when we clarify if this is going to be implemented or is currently a limitation from the service.

[2020-04-01 07:30] juanand opened #51424 "NTP"
Is it possible to specify the target FQDNs for NTP, or would be a problem to block it as having internal NTP anyway?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29246f12-744e-08a1-c222-b0eae866b401
* Version Independent ID: 6e925f96-dc31-d400-2681-2e387b40ed74
* Content: [Lock down outbound traffic - Azure App Servi

[2020-04-01 07:36] msrini-MSFT commented on #51421
@jmartens  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-04-01 07:39] kennethckh opened #51425 "Error Encrypting Data"
When i tried to save a project in the sample labeling tool, i gets an error "Error encrypting data - Cannot read property 'importKey' of undefined. May i know what am i missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f00138-7492-ba6e-6665-de0a6e0803f8
* Version Independent ID: 3835780b-1ace-77e3-553e-a537b608

[2020-04-01 07:42] msrini-MSFT commented on #51421
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/109811

[2020-04-01 07:44] BMichaelJ opened #51426 "Include private link in the documentation"
Currently missing the private link option under networking, would be great to have that also documented for a more complete overview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0017c1a-b2d8-9fc2-1fcc-411282772be1
* Version Independent ID: b1fba8cf-6ce6-4148-fb06-47a072c06e60
* Content: [Security recommendations -

[2020-04-01 07:45] #51421 closed

[2020-04-01 07:47] SadiqhAhmed-MSFT commented on #51143
@SamGforce Correct, you don't need to create a WINRM certificate for a Linux based VM.
Closing this issue for now. Feel free to reply if you've any concern in this matter.

[2020-04-01 07:47] #51143 closed

[2020-04-01 07:49] chrispadgettlivecom opened #51427 "Example for NotClaims contains invalid XML"
It is missing the `</InputClaims>` element.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b22a0db8-0391-0479-a20e-5a9c82765571
* Version Independent ID: c9a7f125-6963-be5c-30b7-303e5e52ef04
* Content: [Boolean claims transformation examples for custom policies - Azure AD B2C](https://docs.microsoft.com/en-us/azure/act

[2020-04-01 08:01] mavilleg commented on #47565
Thanks a lot !

[2020-04-01 08:01] #47565 closed

[2020-04-01 08:23] mailtogurvindersingh commented on #51169
@PramodValavala-MSFT  Is it a bug in doc content? I also had some observation on the MS Learn content for Securing Azure SQL DB- Attached the screenshot , the highlited explanation seems misleading, to prevent traffic over internet we need a Private Link Instead. I did raise a issue , but not seeing it here.
![test](https://user-images.githubusercontent.com/13295664/78115159-fddabb00-741f-11ea-81d

[2020-04-01 08:24] SnehaAgrawal-MSFT commented on #51420
@v-tawe Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-01 08:31] jakaruna-MSFT commented on #51232
@shandilvarun please check is we can add this info to the document.  If yes please have a work item for this.

[2020-04-01 08:32] jakaruna-MSFT commented on #51232
@haymansfield
I will close this out for now. If you need additional help please open a new issue

[2020-04-01 08:32] #51232 closed

[2020-04-01 08:34] alexchen2016 opened #51428 "facebook not available in China"
This files uses facebook as an identity provider. But facebook is not available in China and many files can't be used in China because they are referencing this file as one of their prerequisites. Can you help to provide another get-started file which uses webo, wechat or qq as an identity provider so that the files that reference it can be available in in China?

---
#### Document Details

⚠ *Do

[2020-04-01 08:37] jakaruna-MSFT commented on #51177
@RohitMungi-MSFT can you add your inputs

[2020-04-01 08:38] kdziembaj opened #51429 "onPremisesSamAccountName to be used - roadmap question"
Hello !

onPremisesSamAccountName parameter contains username e.g. XX95EUPL in the AzureAD. If we need writeback function for SFSF from AzureAD for username, we need to cover onPremisesSamAccountName for mapping to SFSF

is there any possibility to include onPremisesSamAccountName attribute to be used to populate username in SFSF ?

Thank you
---
#### Document Details

⚠ *Do not edit this section.

[2020-04-01 09:01] kktyau commented on #51046
@SubhashVasarapu-MSFT

can you update the case?

[2020-04-01 09:01] asergaz commented on #50985
Hello @Sdelausnay let me start by sharing the following documentation that is part of iot edge docs:

- [Create and provision an IoT Edge device using X.509 certificates](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-x509-certs)
- [Understand how Azure IoT Edge uses certificates](https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-certs)
- [Manage certificates on an Io

[2020-04-01 09:12] aximobile opened #51430 "Windows Store publish"
Hello,

We would like to use this tutorial for our Windows UWP application but have a question regarding Windows Store publishing.

Is it a requirement to submit the app to Windows Store or does simply registering the app in the Windows develop center suffice ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3beacf30-84

[2020-04-01 09:23] allanmoller opened #51431 "Constantly getting "Number of read requests for subscription '**' exceeded the limit""
Hey iam constantly getting this error, is there anyway i can see where these requests are coming from, maybe through azure activity log? reason for asking is that we do have a bounch of logic apps/azure functions and are concerned that these may be causing the error? as we dont have many people with access to this subscription.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-04-01 09:23] BryanTrach-MSFT commented on #32165
@aaronwjha I would suggest opening a new issue under this doc to bring fresh eyes to your request. Thank you for your understanding.

[2020-04-01 09:27] SnehaAgrawal-MSFT commented on #51430
@aximobile Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-01 09:29] santaur opened #51432 "Microsoft Custom translator - DATA PROCESSING FAILED"
I've been trying to train "Microsoft custom translator" on my dictionary several times, but all are failed. When I'm choosing only "Phrase dictionary" - model creation finishes successfully. But when I'm trying to create a training model - every time I've got the error "DATA PROCESSING FAILED"

My dictionary data is a set of 40.000 russian words and their english translation. Words are already map

[2020-04-01 09:31] rsoakford opened #51433 "Verify that the agent is disabled - screenshot shows active"
Under https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/tutorial-pilot-aadc-aadccp#verify-agent-installation step 4 says "Verify that the agent in question is there and is marked Disabled. The agent is disabled by default" but the screenshot shows "active" - is this correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-04-01 09:32] danimir commented on #19179
Create index does not perform any index maintenance options. The option MAINTAIN_INDEX is not available to the general public. We are testing this internally only. Thanks.

[2020-04-01 09:37] BryanTrach-MSFT commented on #48843
@blmiles Apple integration with the Authentication/Authorization blade is in the works. Please let me know if gaining early access to this would cause you to consider adopting the built-in auth capability.

In regards to Linked-In, I am unaware of this capability coming.

This discussion goes outside the scope of the doc. With that being said, you'll likely need to develop a custom authentication.

[2020-04-01 09:37] #48843 closed

[2020-04-01 09:38] konopkap opened #51434 "Role permissions for vCenter 6.7"
Please add permissions for vCenter 6.7. They are different from vCenter 6.5 and therefore it's hard to assign proper permissions to MABS user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56ab6c2f-0846-e344-2613-808078b627cb
* Version Independent ID: 4afbc90f-4e26-e4e1-b1ec-b4cddb402447
* Content: [Back up VMware VMs

[2020-04-01 09:40] konopkap opened #51435 "Permission assignment for specific resource in vCenter"
Please add section where you describe how to assign permissions for only specific resource (DC, Cluster or Host) in vCenter. It would be really helpful in cases where we want to backup only part of vCenter with MABS (and therefore it does not have to have required privileges on unprotected resources)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-04-01 09:47] igorpag opened #51436 "Ambiguous RSA Key Size: Is it 2048 or 2080?"
In the article text is specified two times to use 2080 as RSA Key Size, but in Step[11], the values shown in the Azure Portal print screen do not include 2080, instead 2048.
Can you fix it? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 143bdfce-bcca-f901-c996-e22642a37561
* Version Independent ID: 384e5861-97d

[2020-04-01 09:50] RohitMungi-MSFT commented on #51425
@kennethckh Could you please confirm if you have used the [security token](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/label-tool#create-a-new-project) in your project settings? If yes, Is it possible to create a new token and check if the save action is successfull? It would be great if you can also try to create a new dummy project and check if the same

[2020-04-01 09:53] JoseMSoares-MSFT commented on #51374
Awesome thanks Bhargavi, this fixes my issue :)

[2020-04-01 09:53] #51374 closed

[2020-04-01 09:58] BryanTrach-MSFT commented on #48896
@aadje @dennis-yemelyanov Local cache is meant to provide a way to reduce downtime caused by storage failover events. These events shouldn't impact your staging slot since production traffic isn't using it. Following the below steps calls out the process by using slow swap preview to avoid restarts on your production slot and to avoid having to enable local cache on the staging slot, which we do n

[2020-04-01 09:58] #48896 closed

[2020-04-01 10:02] finsharp opened #51437 "Managed Identity for App Service Slots"
There is an Identity Menu item and page to enable System Assigned, however if the slot is named something generic such as dev, staging etc...Tracing it in Azure AD or configure its roles is not possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3177-ce9e-ebfa-03a7-45beb8ca3212
* Version Independent ID: a59df2

[2020-04-01 10:06] BryanTrach-MSFT commented on #48823
@nilsomega We practice security through obscurity. As a result, we do not publicly list all security measures we have in place to protect Azure App Services. With that being said, we do have capabilities that we publicly share that you can read about [here](https://docs.microsoft.com/en-us/azure/app-service/overview-security).

Other features such as implementing [Tinfoil ](https://azure.microsoft

[2020-04-01 10:06] #48823 closed

[2020-04-01 10:08] faroukfriha opened #51438 "Apply Network Configuration Operation link is broken"
Getting a 404 error when browsing this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d854b3c-f9f9-7f6a-f889-e19acac2961c
* Version Independent ID: ed544e54-d24b-2f37-05b6-8b60eacd2026
* Content: [How to use Azure API Management with virtual networks](https://docs.microsoft.com/en-us/azure/api-management/api-man

[2020-04-01 10:10] RohitMungi-MSFT commented on #51432
@santaur Could you please confirm if you are using a paid Microsoft Translator Text API subscription key which is required to deploy a model or train a model with over 2 million characters. A paid subscription is a S1 tier or higher or a C2 tier or higher.

Also is it possible to use a document which is smaller or lesser words to check if training in your workspace completes successfully? The erro

[2020-04-01 10:11] raunakjhawar opened #51439 "delete-activity.md requires an update on delete behaviour"
## Line number 23 on [delete-activity.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/data-factory/delete-activity.md)

In this section, we say that the blob if deleted cannot be recovered. This is only true data lake scenarios where there is no concept of delete markers or versioning. For Azure blob store with soft delete enabled, the deleted blob can be undeleted and recover

[2020-04-01 10:12] jakaruna-MSFT commented on #51436
@igorpag
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-01 10:13] BryanTrach-MSFT commented on #48743
@kduenke As highlighted a month or two ago by John Wargo, a principal engineer with notification hubs, 60 tags is still the limit.

Source: https://stackoverflow.com/questions/59449874/how-could-we-deal-with-more-than-60-tags-for-azure-notification-hubs

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly conti

[2020-04-01 10:13] #48743 closed

[2020-04-01 10:16] yoelhor commented on #51094
#sign-off

[2020-04-01 10:16] #51094 closed

[2020-04-01 10:21] danielecazzari opened #51440 "Authentication type X.509 CA Signed missing"
I successfully create and verify a certificate via certGen linux script, but when I'm trying to add a new device I don't see the X.509 CA Signed from authentication options. I'm unsure about what I did wrong.
Regards,
Daniele

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90f2e322-a9a1-8887-58ce-324eab7661d2
* Version

[2020-04-01 10:21] santaur commented on #51432
Now I'm using a free subscription and I do know about 2 million characters limit. The Translator system checks it: first I was trying to upload a 57.000-lines dictionary and I've got a message about limit exceeding. So I've shrunk my files to 40.000 lines to fit limitations.

And I've also tried with 11.000-lines files - same error.

[2020-04-01 10:21] xxflop commented on #19179
Thanks for the fast answer.

It will be a great addition to the available autotuning options. This is one of the tasks that typically people/DBAs insist on have it automated due to their previous experiences on-premise and in older SQL Server versions/environments. And sometimes due to bad table/index design (random GUIDs or other random token) it is still common to find 99.9% fragmented indexes a

[2020-04-01 10:27] Sdelausnay commented on #50985
Hi @asergaz,

Thanks for the very clear and extensive response.

In the mean time, I have also been looking a bit further into it and you are confirming some of my findings. Just wanted to summarize here to see if I got every:

1. Certificate to perform the TLS communication with IoT Hub: This is part of the Device SDK used by the IoT Edge. If this one expires (I have checks, this would be in 2025

[2020-04-01 10:37] danimir commented on #19179
Thank you on your product improvement suggestions. Feedback on this page is meant for documentation only, as such this the appropriate place for product improvements is [Azure feedback](https://feedback.azure.com/forums/34192--general-feedback). Please provide your product improvement feedback there. To my knowledge, index maintenance is not planned to be released to public at this time. The only

[2020-04-01 10:38] AjayKumar-MSFT commented on #51437
@finsharp, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-04-01 10:39] AjayKumar-MSFT commented on #51424
@juanand, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-04-01 10:41] AjayKumar-MSFT commented on #51426
@BMichaelJ, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-04-01 10:42] #51436 closed

[2020-04-01 10:43] jakaruna-MSFT commented on #51436
i updated the doc. Changes should reflect in hours

[2020-04-01 10:44] kingwil opened #51442 "Publish-GuestConfigurationPolicy to Management Group errors"
I am encountering the below error message when publishing Guest Configuration policy to a management group using Publish-GuestConfigurationPolicy -Path .\policyDefinitions -ManagementGroupName &lt;myManagementGroup&gt;

It seems the Initiative is being deployed to the subscription as opposed to the target management group.

New-AzPolicySetDefinition: C:\Microsoft\PERSONAL\PowerShell\Modules\GuestC

[2020-04-01 10:46] kennethckh commented on #51425
yes, in fact i tried both ways, creating new tokens, and also new project. both ways gave me the same error. the container image i pulled from "mcr.microsoft.com/azure-cognitive-services/custom-form/labeltool"

[2020-04-01 10:47] ketan-chawda-msft commented on #51438
@faroukfriha Thank you for your feedback! We will review and provide an update as appropriate.

[2020-04-01 10:50] msrini-MSFT commented on #51413
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/109824

[2020-04-01 10:53] gdprtcl opened #51443 ""az ml deploy" examples for setting customer preferred key"
Can you please provide "az ml deploy .. " examples for setting customer-preferred Primary and Secondary Key? I tried like this but it does not set the keys:

az ml model deploy --ct &lt;value&gt; --model &lt;value&gt; --ic &lt;value&gt; --dc &lt;value&gt; -g &lt;value&gt; -w &lt;value&gt; --kp &lt;value&gt; --ks &lt;value&gt; --overwrite

We also intended to do this using the Azure ML deploy task

[2020-04-01 10:55] kalyankrishna1 commented on #37708
There is a link to the sample in the bottom of the doc. Please try the sample

Add authorization using app roles & roles claims to an ASP.NET Core web app

#please-close

[2020-04-01 10:55] #37708 closed

[2020-04-01 10:55] #51413 closed

[2020-04-01 10:59] kalyankrishna1 commented on #31918
@locktar
1. Yes you can assign users, but the check box is there to ensure that AAD won't sign-in or issue tokens unless a user (or a group) is expressly assigned to this app.
2. There is no need for roles if all the developer/admin wants is to assign users an groups who are only allowed to sign-into that app. This is a very common scenario and thus we cover it separately in our docs targeted for

[2020-04-01 11:00] kureiziboi opened #51444 "Cannot connect to Active Directory Administrative Center from VM or on-premise machine with VPN in-place."
I have a AD DS service on Azure.
Is that really possible to connect "Active Directory Administrative Center" from an VM on Azure or a server on-premise with VPN site to site already setup.
1) I already tried with VM on AzureAD (Windows Server 2019), Windows Server 2016 (a VM on premise) and a Windows 10 but it cannot open the Active Directory Administrative Center with the unknow reason (something

[2020-04-01 11:07] MarkDNL opened #51445 "Link to "Active Directory (AD)" is incorrect"
The "Active Directory (AD)" link in the first paragraph redirects to the Azure Active Domain Services (Azure AD DS) link: https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/get-started/virtual-dc/active-directory-domain-services-overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100a0bd2-817c-8c9e-68d6

[2020-04-01 11:27] BhargaviAnnadevara-MSFT commented on #51374
@JoseMSoares-MSFT Sure, thanks. Glad I could help! :)

[2020-04-01 11:33] alexandreweiss opened #51446 "Update Local Network Gateway : doc seems to be outdated"
Hi Cheryl,
it seems the doc is not up to date as it is no more required to remove a connection between a VPN gateway and a Local Network Gateway (LNG) before updating LNG.
Is that correct for a supportability perspective ? From the portal, it is working great.
Could you please update the doc if i'm correct to reflect this behavior ?

Thanks
Alex W. (ms alias alweiss)

---
#### Document Details

⚠

[2020-04-01 11:42] kyle-thomas-TT commented on #50400
Yes, thanks for the response.

[2020-04-01 11:45] asergaz commented on #50985
You are welcome, thank you!

1) I believe you mean "Baltimore Cybertrust Root" certificate will expire in 2025? That certificate is on your device's Trusted Root Certification Authority or if using the c-sdk is placed [here ](https://github.com/Azure/azure-iot-sdk-c/blob/master/certs/certs.c)and yes you need to update it in order to trust the IoTHub. IoTEdge new releases will take care of that hop

[2020-04-01 11:45] #50985 closed

[2020-04-01 11:58] abij commented on #44050
Well we decided to not use the avro-encoded records, just validate them and use Json.
As a Proof-of-Concept I have developed a working solution.

Note there are some rough edges...

[code]

[2020-04-01 12:05] danielecazzari commented on #51440
I was searching under Edge IoT instead of IOT Device.

[2020-04-01 12:05] #51440 closed

[2020-04-01 12:11] AleynovSergey commented on #51352
@ram-msft , the document is  https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/dotnet-sdk.
When can we expect support for formrecognizer/v2.0 version in Azure .Net SDK?

[2020-04-01 12:18] tebeco opened #51447 "Documentation seems outdated / 404 link to samples"
Hello,

As I was trying to update an application to use SDK 12 for `Azure.Storage.Blob` using locks I found this page in order ot understand breaking changes.
Though i was not lucky as this page use deprecated / deleted Types and API.
Also links to Managing Concurrency using Azure Storage - Sample Application points to:
https://code.msdn.microsoft.com/Managing-Concurrency-using-56018114
It does no

[2020-04-01 12:34] alansingfield commented on #44738
Yes - still not working on SQL 2019. To be fair the documentation doesn't mention SQL 2019 as a supported platform though.

[2020-04-01 12:37] drewdz opened #51448 "Error Executing Setup Script"
I've tried several angles but keep getting the same error when trying to execute the setup script against my MSDN Subscription:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad31c07e-0877-2f16-6623-5701afd6ba82
* Version Independent ID: a7a4af7d-1715-915d-bdbf-6cb3ad2319f9
* Content: [Tutorial: Set up environm

[2020-04-01 12:37] rds97 commented on #37734
This document still presents errors in all 4 rules.
Instead of http://contoso.com/... should be http://schemas.microsoft.com/...
and instead of ..."urn:anandmsft:tmp/idflag" the correct is "urn:federation:tmp/idflag"

[2020-04-01 12:39] rds97 opened #51449 "This document presents errors in all 4 rules"
Instead of http://contoso.com/... should be http://schemas.microsoft.com/...
and instead of ..."urn:anandmsft:tmp/idflag" the correct is "urn:federation:tmp/idflag"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a4a5a4d-f097-a0f8-f81e-75a5837f202b
* Version Independent ID: 58c43f72-9f93-b30f-2645-8b259aa3b516
* Conten

[2020-04-01 12:45] erik5starg commented on #51391
Also, what happens if we are using the email as the login attribute to Azure AD because our on-prem upn is not routable? Which account would they use when prompted for credentials?

[2020-04-01 12:48] RohitMungi-MSFT commented on #51443
@gdprtcl Examples for az ml deploy are available [here](https://docs.microsoft.com/en-us/azure/machine-learning/reference-azure-machine-learning-cli#model-registration-profiling-deployment). The complete reference to the the cli is also [here](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-ml/ml/model?view=azure-cli-latest#ext-azure-cli-ml-az-ml-model-deploy). The JSON file should  map t

[2020-04-01 12:50] AshokPeddakotla-MSFT commented on #51209
@MikeWilcoxMicrosoft PR has been created to address and fix this. After peer review and merge changes will go live by EOD.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-01 12:50] #51209 closed

[2020-04-01 12:52] MohamedSahbi commented on #43633
I had the same issue. I resolved it with adding the flag --html to explicitly indicate the runtime.

[2020-04-01 12:53] ram-msft commented on #51352
@AleynovSergey Thanks for the details. @NHaiby Can you please comment on this.

[2020-04-01 12:57] alexvolchetsky opened #51451 "404"
all links to samples in Batching section return 404 error https://docs.microsoft.com/en-us/azure/storage/common/storage-samples-dotnet?toc=%2Fazure%2Fstorage%2Fqueues%2Ftoc.json#batching

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78f784ff-2a15-ab1d-4fba-88d4cd49759d
* Version Independent ID: 6df17b4f-2d9c-3d1e-96a3

[2020-04-01 12:58] gnnsekhar commented on #23701
How to extract only text with out dimensions like lines, boundingbox, words?

[2020-04-01 13:10] #50993 closed

[2020-04-01 13:11] AshokPeddakotla-MSFT commented on #51230
@manueljesusrd This looks like network connectivity problem. To investigate this issue further,
Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2020-04-01 13:12] Flodu31 opened #51452 "Multiple AGIC on same AKS cluster"
Hello,
Is it possible to have at least 2 AGIC (one for prod and one for dev) and use them in the same AKS cluster?
Thanks.
Florent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df590818-cbf1-3473-b408-70b1224977fa
* Version Independent ID: 6b52d0c4-03e3-358c-0828-e1afcc676708
* Content: [Expose an AKS service over HTT

[2020-04-01 13:13] sheeeng opened #51453 "Error from server (NotFound): clusterrolebindings.rbac.authorization.k8s.io "default:privileged" not found"
[code]

returns

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7dc4598-18d3-bdcc-e21a-f838fb752268
* Version Independent ID: edf2d399-9bbb-1c1e-e4cc-d69bf2ce0f05
* Content: [Use pod security policies in Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/use-po

[2020-04-01 13:13] netw0rks opened #51454 "Error in PowerShell Command"
The parameter for -Id is incorrect in this string: $Setting = Get-AzureADDirectorySetting -Id.....

It should be -ObjectId

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef84a3e0-879e-4312-a89d-7a3bb0cd9a51
* Version Independent ID: 43851f8a-b71f-0a0a-8b1f-629e3528972f
* Content: [Assign sensitivity labels to groups -

[2020-04-01 13:21] sheeeng commented on #40300
Could someone provide the complete workaround steps on this issue while waiting for the documentation to be updated?

[2020-04-01 13:23] NavtejSaini-MSFT commented on #51339
@screig Please let us know if you have any further questions about this issue.

[2020-04-01 13:23] sheeeng opened #51455 "Error from server (Forbidden): error when creating "nginx-unprivileged.yaml": pods "nginx-unprivileged" is forbidden: unable to validate against any pod security policy: []"
[code]

returns

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7dc4598-18d3-bdcc-e21a-f838fb752268
* Version Independent ID: edf2d399-9bbb-1c1e-e4cc-d69bf2ce0f05
* Content: [Use pod security policies in Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/use-po

[2020-04-01 13:24] RohitMungi-MSFT commented on #51178
@amitgoswamiril  The doc update is now live. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-01 13:24] #51178 closed

[2020-04-01 13:25] RohitMungi-MSFT commented on #51329
We will now proceed to close this thread since we do not more information about the issue. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-01 13:25] #51329 closed

[2020-04-01 13:30] chidiewenike opened #51456 "Custom Speech Model Deployment Failure"
I have trained a custom speech model and cannot deploy the finished model. I was able to deploy the other pretrained baseline models without a hitch. What are some suggestions here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b473440c-97f8-fcf5-2cd0-6baf5e090f7e
* Version Independent ID: 2598d3d2-8c07-25b6-e187-6a6c

[2020-04-01 13:40] dohughes-msft opened #51457 "Support for mounting multiple volumes"
Mounting more than one Azure File share is not possible with the New-AzContainerGroup command (nor Azure CLI). ARM template deployments do however support this. Can you suggest a programmatic way to deploy a container with multiple Azure File volumes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab030f18-c377-42e4-02

[2020-04-01 13:42] vivere-dally opened #51458 "Granting consent to an application"
Hello there,

I'm currently undergoing an automation integration of aad into our product. I need to create an application and give it certain permissions (i.e. Directory.ReadWrite.All). From what I've researched, this isn't yet possible with some cmdlet in powershell. So we have to use Rest-Api. What you've presented here isn't at all helpful. Basically having my account (which is an admin) creden

[2020-04-01 13:44] amanmcse commented on #51403
@koo9 IDP claim is intended for social identity providers only and is returned only if the user logs in via Social IDP and not local account. This is mentioned in the description of the claim under the application claims blade in the portal.

Please let me know if you have any further question or shall we close this thread.

[2020-04-01 13:46] blmiles commented on #48843
Hi @BryanTrach-MSFT , thanks very much for the response.

I could hold until the Apple blade is made available, however, it'd be great if MS would put out some sort of guide to extending the Node.js service to build in custom authorization/authentication similar to the link you posted and this: https://adrianhall.github.io/develop-mobile-apps-with-csharp-and-azure/chapter2/custom/

To build custom

[2020-04-01 13:46] joekhoo80 opened #51459 "Using up all Credits Available"
What happens if I use up all the Credits Available and there is Low traffic or Heavy traffic ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cd2e24b-0fd3-d698-2840-3f8206933026
* Version Independent ID: 832dc371-480a-c74a-e956-e1904473af31
* Content: [B-series burstable - Azure Virtual Machines - Azure Virtual Machin

[2020-04-01 13:48] manueljesusrd commented on #51230
That's right, it was a network connectivity problem. In fact it's already solved by our client, we've open a new rule in firewall to allow connection to https://mcrweu0.cdn.mscr.io -> **but**, let's say it wasn't our problem or a "network problem" per se. The problem here seems to be that that URL (https://mcrweu0.cdn.mscr.io) is not listed on the list you provide in the docs (as far as I can read

[2020-04-01 13:52] icelandgrecian opened #51460 "Mistake in SQL under Cross-subscription geo-replication"
I think this command 'alter role geodrsetup dbmanager add member geodrsetup' should read 'alter role dbmanager add member geodrsetup'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16170e73-99ca-1a2f-b5ba-b4f0396e3e39
* Version Independent ID: d83478e0-f123-5fe6-6f17-3d118eb280da
* Content: [Active geo-replication - Az

[2020-04-01 13:56] DCtheGeek commented on #51442
#assign:mgreenegit

[2020-04-01 13:58] DCtheGeek commented on #51442
@kingwil Thanks for the question. We'll look into this and get back to you.

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' for now, and #in-progress.

[2020-04-01 13:58] mgreenegit commented on #51442
@kingwil adding you to cmdlet repo

[2020-04-01 14:11] athempel opened #51462 "Incorrect reference to "Create an Identity" step"
The note under step 3 of "Install Ingress Controller Helm Chart" directs readers to the "Create an Identity" step for the values of identityResourceID and identityClientId, but they're actually outputs of the "Deploy Components" step.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95812617-2cee-fb2c-2c6d-573f222033be
*

[2020-04-01 14:13] screig commented on #51339
Well, it makes it unusable, this is just a case of enabling the VPN to be
used with this type of DB. The only reason not to have the option to use a
VPN is to force the customer to pay for a much larger DB than they need.

On Wed, 1 Apr 2020 at 14:23, NavtejSaini-MSFT <notifications@github.com>
wrote:

[2020-04-01 14:15] sheeeng commented on #40300
@truealex81, could you share with us the rest of [pod-security-policy.yaml](https://github.com/MicrosoftDocs/azure-docs/issues/40300#issuecomment-559882399)?

[code]

[code]

[2020-04-01 14:16] Chai-NED opened #51463 "Is it enabled for my sub?"
Hi - Do I have to be on a whitelist to try this feature? Is it available in all regions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75687a2c-c9e0-262f-197b-4b88b8e6d27d
* Version Independent ID: 58bd1e87-6399-d276-7258-b5022d1019a8
* Content: [Monitor Azure Storage services with Azure Monitor for Storage (preview)

[2020-04-01 14:23] isamllr commented on #34286
Just tested - it seems events like changing the access rights on a folder are not logged yet since they are specific to ADLS Gen2.
@normesta, is there anything I am missing here / is this documented somewhere?
Looking for something like this: https://docs.microsoft.com/en-us/rest/api/storageservices/storage-analytics-log-format#log-entry-format-20,  but for ADLS Gen2.

[2020-04-01 14:27] yoelhor commented on #51428
Dear Alex,

Thank you for bringing this to our attention. Enclosed please find a copy of a draft document I prepared for you. [Set up sign-up and sign-in with a WeChat account using custom policies.pdf](https://github.com/MicrosoftDocs/azure-docs/files/4415749/Set.up.sign-up.and.sign-in.with.a.WeChat.account.using.custom.policies.pdf). Please try to configure the WeChat and keep me posted. I would

[2020-04-01 14:30] KalyanChanumolu-MSFT commented on #51460
@icelandgrecian Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-04-01 14:30] KalyanChanumolu-MSFT commented on #51423
@subiswas2018 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-04-01 14:34] RohitMungi-MSFT commented on #51425
@kennethckh Could you try restarting your docker service on your machine and then run the container again and follow the steps? I have tried to replicate the issue but the steps in the document worked fine for me.

[2020-04-01 14:34] ravick4u commented on #51137
Thanks for the response. But this doesn't help. The question still remains open on how a function will be notified if it stops due to timeout. With this example it stucks on checking for cancellation token but this example doesn't good very good use of Cancellation Token.

[2020-04-01 14:34] MGoedtel commented on #51379
@jmorey4158 & @femsulu - I am including @mgreenegit (Automation PM for DSC) who created this note to review and respond. Once we get clarity, I'll make sure this article is updated accordingly. Thanks.

[2020-04-01 14:36] yoelhor commented on #51427
Dear Chris,

Thank you for bringing this issue to our attention. I fixed the doc, should be published later today.

Yoel

[2020-04-01 14:37] #51427 closed

[2020-04-01 14:39] sgdesmet opened #51464 "ContinueOnError=false does not appear to be working"
`ContinueOnError="false"` combined with a validation profile that is a ClaimsTransformation Technical Profile using a AssertStringClaimsAreEqual claims transformation does not appear to stop the next validation profiles from being executed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cdf618a-59b9-1924-4672-87e702d4

[2020-04-01 14:49] GiftA-MSFT commented on #51456
@chidiewenike we will review your feedback and get back to your shortly. Thanks.

[2020-04-01 14:53] PramodValavala-MSFT commented on #51176
@ram-suresh I believe it would be best to open a support request if you cannot share more details on your scenario publicly. If you are able to share them publicly, it would be best to create a post on MSDN or StackOverflow with details on your scenario and the exact issue.

Also, make sure to include tags for the specific services that you are using.

This repository is primarily to address [azur

[2020-04-01 14:53] #51176 closed

[2020-04-01 15:02] dagiro commented on #50998
#please-close

[2020-04-01 15:02] #50998 closed

[2020-04-01 15:04] gdprtcl commented on #51443
Thanks. I have taken a look at the examples you shared.

I'm interested in setting my own primary and secondary key during my Model deployment. Setting it in deploymentconfig.json/yml for AKS works fine.
But it's a bad practice when it comes to security as the json/yml file will be accessible to Developers.

[2020-04-01 15:06] SnehaAgrawal-MSFT commented on #51139
@coelho5br Since we have not heard back from you, We will close this out but if you feel you need more information please just let us know.

[2020-04-01 15:06] #51139 closed

[2020-04-01 15:07] koo9 commented on #51403
ok thx

[2020-04-01 15:07] #51403 closed

[2020-04-01 15:07] stonstad commented on #49835
@jcbrooks92 Was this behavior resolved?  I'm seeing the same thing with a ASP.NET Core 3.1 Linux AppService configured with AlwaysOn enabled.  Each morning I come into the office and upon first access the app service times out for an initial load.

[2020-04-01 15:11] PramodValavala-MSFT commented on #51355
@eparizzi While I believe the Portal UI doesn't have a way to do this, you can update the endpoint via the [REST API](Endpoint=sb://integration-common.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=1CsNHk38lbM/3lNBd68zuHHpF4CAa/vgWKk48t85YW0=). The same should be possible with [Azure CLI](https://docs.microsoft.com/en-us/cli/azure/eventgrid/event-subscription

[2020-04-01 15:15] coelho5br commented on #51139
If you create a VM and attache to a subnet where Microsoft.Web Service Endpoint is enabled, you will see the effective routes to have 837 IPs/range. None of those are the ones used by Web App using IP Based SSL.
Information was confirmed with Cristhina Compy - PG who owns those integrations.

Thanks

[2020-04-01 15:16] tfitzmac commented on #51431
@allanmoller - yes, the activity log would be a good place to start, especially if you can filter by a property that will help you identify the source of the issue. For example, if the apps are running under different identities, you could filter by who had initiated the event.

The other thing you probably want to do is add some code to the apps that evaluates the header values that are returned.

[2020-04-01 15:22] tfitzmac commented on #51431
@allanmoller - And, you might want to check out this [article about throttling patterns](https://docs.microsoft.com/en-us/azure/architecture/patterns/throttling). Let me know if it is helpful for your scenario.

[2020-04-01 15:25] PramodValavala-MSFT commented on #51416
@usreekanthreddy Thanks! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2020-04-01 15:26] CeciAc opened #51466 "At Run examples from your IDE, the python example has 'python' written in the first line before the imports."
@diogobaltazar commented on [Tue Mar 31 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/699)

[Tapez vos commentaires ici]

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 3642022f-a58f-6290-ecf1-3c551a9bfc96
* Version Independent ID: cf117e4e-c261-858c-517e-04d67e44c35e
* Content: [Dat

[2020-04-01 15:27] amanmcse commented on #51411
@gaelicWizard Since the only scenario discussed in this document is RD Web and RD Gateway hosted on same server, there is no need to publish /rdweb and /rpc separately. If these roles are hosted separately we need to publish these separately as /rdweb should redirect to one server and /rpc to the other.

However in the scenario discussed here, both of these roles are hosted on same server, we just

[2020-04-01 15:27] xywust2014 opened #51467 "NC series Greyed out"
[Enter feedback here]
Hi,

I am trying to setup NC series (GPU) virtual machines. I followed the instruction, however, the NC series are grayed out. Could you help me on that?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89ca26168
* Version Independent ID: f20a7fc4-328a-e90d-29db-9

[2020-04-01 15:27] shreyasharmamsft commented on #49956
The change has been made [here](https://github.com/Azure-Samples/Azure-Time-Series-Insights/blob/master/csharp-tsi-ga-sample/Program.cs#L192). 👍

#please-close

[2020-04-01 15:28] #49956 closed

[2020-04-01 15:30] DebFro opened #51468 "Test"
Test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17f599ac-d343-7fa1-1731-92d5d1fc6dad
* Version Independent ID: a8b2dd21-355e-6e12-f399-63ead7ea76d8
* Content: [What is Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/overview-what-is-azure-ml#feedback)
* Content Source: [articles/mach

[2020-04-01 15:31] sethmanheim commented on #43753
@CeciAc Thank you for the feedback, we are in the process of updating this article. Thanks again... #please-close

[2020-04-01 15:31] #43753 closed

[2020-04-01 15:32] PramodValavala-MSFT commented on #51162
@mperdeck I wasn't able to reproduce the problem. Considering the problem is with the storage account location, could you try selecting `New...` for the storage account as shown below

![image](https://user-images.githubusercontent.com/43602528/78156144-fc2ee880-745b-11ea-8a9b-4ea433e14713.png)

Also, perhaps you could upgrade Visual Studio to the latest version if not already.

[2020-04-01 15:34] tamram commented on #51395
@DanielLarsenNZ - Thanks for your feedback. This was updated yesterday:

https://docs.microsoft.com/azure/storage/common/encryption-customer-managed-keys#store-customer-managed-keys-in-azure-key-vault

[2020-04-01 15:35] tamram commented on #51395
#reassign: @tamram

#please-close

[2020-04-01 15:35] #51395 closed

[2020-04-01 15:38] tamram commented on #51376
@brandonh-msft - This page has been updated to note what permissions are required to view and rotate keys.

#reassign: @tamram

#please-close

[2020-04-01 15:38] #51376 closed

[2020-04-01 15:43] robinhalabicki commented on #30744
Any progress on this?   Pagination only works if the Payload results have "value".

[2020-04-01 15:47] celery6131 opened #51469 "Training custom system with phrase dictionary only"
I recently trained a English > Japanese model using only a phrase dictionary with about 9500 entries. When I compared translations from the trained model with translations from the generic E>J system there were differences with UI segments that do not contain terminology from the phrase dictionary.

Ex.:
Source: To JP
Generic system target: JPへ (correct translation)
Trained system target: からJP  (i

[2020-04-01 15:52] jnxxx opened #51470 "How to control NameID format and to override which claim to use as NameID"
Two questions:

1. How do I control NameID format. Many applications require a specific format. Or it specifically be set to unspecified.
A while ago I saw an example specifying it in a format attribute on the SubjectNamingInfo tag.
Like: &lt;SubjectNamingInfo ClaimType="userid" Format="urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified" ExcludeAsClaim="true"/&gt;
But currently it does not seem

[2020-04-01 15:54] DCtheGeek commented on #51442
@kingwil Since this appears to be an issue with the module and @mgreenegit has added you there to work through this problem, I'm going to close this issue since it's not specifically a docs problem.  Thanks again for bringing this up!

@MicrosoftDocs/azure-cxp-triage Please change label to 'product-issue' and #please-close.

[2020-04-01 15:54] #51442 closed

[2020-04-01 16:04] BhargaviAnnadevara-MSFT commented on #51366
@AravindIT Any update here?

[2020-04-01 16:08] KrishnaG-MSFT commented on #51236
@ManmohitSingh10 Did you provide the 'type' of parameter named 'subnets' as 'string' instead of 'array' in the deploy json template file ? I believe [this](https://github.com/Azure/azure-docs-json-samples/blob/master/azure-resource-manager/multipleinstance/multiplesecurityrules.json) is one classic example template that we can compare with your requirement.

Tagging @tfitzmac for visibility, to pr

[2020-04-01 16:08] jdiekhoff commented on #48125
@DixitArora-MSFT Where is the PR on this? The values have not been updated and are still incorrect.

[2020-04-01 16:12] slyons opened #51471 "Link to C# example is broken"
Project structure has changed and the new file is located here: https://github.com/Azure/azure-functions-durable-extension/blob/dev/samples/precompiled/RestartVMs.cs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29097a2-e7ac-f8ae-c8b9-65dd9707d089
* Version Independent ID: b4d2634f-9551-5851-a3f3-a134ac1cf722
* Conte

[2020-04-01 16:17] cherylmc commented on #51446
#reassign:yushwang

[2020-04-01 16:18] dsindona commented on #45877
@AndreiPanko thanks for the suggestion. The field is not optional, so instead I am adding some clarifying text as you suggested. It will publish later today.
#please-close

[2020-04-01 16:18] #45877 closed

[2020-04-01 16:19] MattHartz commented on #51296
@banisadr ?

[2020-04-01 16:36] SaurabhSharma-MSFT commented on #51419
@kdziembaj Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-01 16:38] SaurabhSharma-MSFT commented on #51429
@kdziembaj Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-01 16:39] shashishailaj commented on #51433
@rsoakford Thank you for your feedback . We will investigate this and update this thread.

[2020-04-01 16:40] shashishailaj commented on #51445
@MarkDNL Thank you for pointing this out . We will have this checked and updated.

[2020-04-01 16:41] SaurabhSharma-MSFT commented on #51449
@rds97 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-01 16:41] shashishailaj commented on #51444
@kureiziboi Thank you for your query. We will investigate and update this thread.

[2020-04-01 16:42] SaurabhSharma-MSFT commented on #51454
@netw0rks Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-01 16:43] shashishailaj commented on #51470
@jnxxx Thank you for your feedback . We will investigate and update the thread further.

[2020-04-01 16:43] SaurabhSharma-MSFT commented on #51458
@vivere-dally Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-01 16:44] SaurabhSharma-MSFT commented on #51464
@sgdesmet Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-01 16:45] RohitMungi-MSFT commented on #51432
@swmachan Could you please provide more inputs about the error DATA PROCESSING FAILED while training and how the error can be corrected without more details about the data processing failure?

[2020-04-01 16:45] YutongTie-MSFT commented on #51111
@wukun2015 Hi Wuk, it should be. Please let me know if there is anything missing. Thanks.

[2020-04-01 16:47] swmachan commented on #51432
@melghazali can you please look into this issue related to Custom Translator?

[2020-04-01 16:48] AshokPeddakotla-MSFT commented on #51301
@kcovert Thanks for the feedback. Do let us know if you have any  other specific queries/issues regarding the doc.

[2020-04-01 16:48] anilkris opened #51472 "typo in az deployment group create"
"az deployment group create...." --&gt; please correct the command , I think, it is "az group deployment create... "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf283cd-65c2-09ad-0af2-37bf95fe4d90
* Version Independent ID: 46451ccf-174a-e4da-433f-aa8c5570557d
* Content: [Tutorial - Create & deploy template - Azure

[2020-04-01 16:49] YutongTie-MSFT commented on #51153
@chrismeeky Hi, could you please share the error details you have for more investigation? Thanks.

[2020-04-01 16:50] robmacf opened #51473 "Security Operator"
The Security Operator role isn't mentioned anywhere on this page. It seems like it should be mentioned in the Additional Roles column in most cases where Security Reader is the least privileged role. This seems to be the best link for understanding the privs of Security Operator, at least in the M365 security center and M365 compliance center: https://docs.microsoft.com/en-us/microsoft-365/securit

[2020-04-01 16:52] kcovert commented on #51301
Figured out the JAVA app, getting comfortable with Android Studio too. Is this code freely reusable?

Now it’s a question of whether to convert the JAVA to C# UWP in my Xamarin Android companion app to my main UWP app, or to move the companion app to JAVA.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: AshokPeddakotla-MSFT<mailto:notifications@github.com>
Sen

[2020-04-01 16:57] Vladimir-Pereskokov opened #51474 "Admin consent required"
Service Fabric Explorer web app presents admin consent popup titleled &lt;Need admin approval&gt;. and stating &lt;%app name%&gt; needs permission to access resources in your organization that only an admin can grant. Please ask an admin to grant permission to this app before you can use it. Is my web app missing oauth2PermissionGrants? What my AAD admin should do?
Note that connecting to service

[2020-04-01 16:57] dvkalashnikov opened #51475 "Typo "Secondary managed instance" instead of primary"
There seems to be a typo here: Step 4 - "Create primary gateway", point 4 "Fill out the required fields to configure the gateway your primary managed instance.", Region	"The region where your secondary managed instance is." - there should be a "primary managed instance is", thinking logically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-04-01 16:57] YutongTie-MSFT commented on #51380
@dargilco
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-01 16:57] mike-urnun-msft commented on #51471
@slyons Thank you for your feedback! We will review and update as appropriate.

[2020-04-01 16:58] melghazali commented on #51432
@RohitMungi-MSFT I have already responded to this on StackOverflow.

[2020-04-01 16:59] RohitMungi-MSFT commented on #51443
@gdprtcl Could you try to use the token enabled authentication for your service during deployment by setting `tokenAuthEnabled` to `True` and get the tokens using [az ml service get-access-token](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-ml/ml/service?view=azure-cli-latest#ext-azure-cli-ml-az-ml-service-get-access-token)

Here is an [example ](https://docs.microsoft.com/en-us/azure/

[2020-04-01 17:00] YutongTie-MSFT commented on #51468
@DebFro Hi Deborah, do you want to keep this opening or I can close it?

[2020-04-01 17:00] KranthiPakala-MSFT commented on #51439
@raunakjhawar Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-04-01 17:00] kcovert commented on #51301
Looks lie I found what I needed…

https://github.com/Azure/azure-spatial-anchors-samples/tree/master/Xamarin

From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Wednesday, April 1, 2020 12:49 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: kcovert <kcovert1@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Android app example (#

[2020-04-01 17:03] SumanthMarigowda-MSFT commented on #51451
@alexvolchetsky Thanks for your question. We are checking on this and will respond to you soon.

[2020-04-01 17:03] SumanthMarigowda-MSFT commented on #51447
@tebeco Thanks for your question. We are checking on this and will respond to you soon.

[2020-04-01 17:04] KranthiPakala-MSFT commented on #51466
Hi @diogobaltazar , Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-04-01 17:06] diberry commented on #50825
@RohitMungi-MSFT This looks like possibly a bot framework channel bug. Do you know who on the BF team can look at it? #in-progress

[2020-04-01 17:08] RohitMungi-MSFT commented on #51432
@melghazali @swmachan Thanks for your quick response.
@santaur Could you please check if the the number of parallel sentences is atleast 10,000 as mentioned in this [limits](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/sentence-alignment) section as pointed out by @melghazali in the stack overflow [thread](https://stackoverflow.com/questions/60965300/micro

[2020-04-01 17:10] KalyanChanumolu-MSFT commented on #51460
@icelandgrecian Thank you for pointing out the issue and helping us make our documentation better.
I have updated the doc accordingly. The changes should be live by EOD or tomorrow.

We will proceed to close this issue now.

[2020-04-01 17:10] #51460 closed

[2020-04-01 17:13] markjbrown commented on #44099
Agree on all points. Keep an eye on us towards Summer. Might have something in the works for you.

Thanks.

[2020-04-01 17:14] provtimofei opened #51476 "How to force my App Service to pull new image from repository?"
Initially, I misconfigured the container repository (using my Amazon ECR) and app service was not able to pull the image and stopped. Then I created an Azure container repository, pushed there, corrected configuration of App Service but I found no way to force it to pull an image again. How to do that? Delete the App Service and recreate it again?

The last log message in Logs:
2020-03-31 22:01:55

[2020-04-01 17:16] omartin2010 commented on #48793
let's fix that, team... It's still not fixed.

[2020-04-01 17:18] batanun opened #51477 "Example with CLI would be greatly appreciated"
Would it be possible for you to give some examples using the CLI instead of the GUI? Especially the part when creating an app in an App Service Environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e754567e-9482-5693-5ef8-6cc811ea7f57
* Version Independent ID: 7c87e9ce-cf7f-120d-e6a3-9b605e231ef3
* Content: [Use

[2020-04-01 17:19] bradcstevens opened #51478 "Force leaving an organization without tenant admin assistance?"
Is there any way to force the removal of the user object that is disabled in one of those tenants?

I am currently dealing with a login loop when attempting to login to Az Powershell.

My user object is disabled in one of my customer tenants. It's completely blocking my ability to login with my credentials via Az PowerShell even for purposes unrelated to the tenant my object is disabled in.

I'm e

[2020-04-01 17:20] bradcstevens commented on #51478
Context pertaining to the login loop: https://github.com/Azure/azure-powershell/issues/8701

[2020-04-01 17:20] tfitzmac commented on #51374
@JoseMSoares-MSFT and @BhargaviAnnadevara-MSFT - thanks for this information. I am going to add a note to the article about required module version that is needed.

[2020-04-01 17:20] Grace-MacJones-MSFT commented on #51415
@sethmanheim do you have any insight on this?

[2020-04-01 17:20] KalyanChanumolu-MSFT commented on #51169
@mailtogurvindersingh From the Azure Portal, you cannot save the bacpac to an on-premises location.
However the document also talks about exporting it from SSMS and SQLPackage utility from an on-prem computer. Hence the statement on the document.

[2020-04-01 17:20] RohitMungi-MSFT commented on #50825
@kha-dev I believe you are referring to [this ](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/49.qnamaker-all-features)bot builder sample code for qnamaker-all-features that you are facing an issue for teams multi-turn prompt?
If Yes, it would be great if you could raise an issue in the bot builder samples repo in the [issues ](https://github.com/microsoft/B

[2020-04-01 17:21] ketan-chawda-msft commented on #51389
@spelluru any thoughts here?

[2020-04-01 17:22] ketan-chawda-msft commented on #51438
@vladvino Can you help here with the correct link?

[2020-04-01 17:22] santaur commented on #51432
let's continue this topic here. Your answer on StackOverflow:

As I wrote above my files are 40.000 lines (each line is one sentence). Is it not enough?
Here are files I'm trying to use: [Translation.zip](https://github.com/MicrosoftDocs/azure-docs/files/4416642/Translation.zip)

[2020-04-01 17:27] Karishma-Tiwari-MSFT commented on #51469
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2020-04-01 17:29] rohitchouhan08 opened #51479 "Avoid verification code emails when the user is not registered in Azure AD B2C"
Azure B2C is gives a false impression that the user is in the directory when they try to reset their password.

Following is steps in reset password: 1) User clicks the Reset Password link

2) B2C presents a page with “Email Address” field and says “Verification is necessary. Please click Send button.”

3) User enters his email address and clicks “Send Verification Code”

4) B2C sends the verifica

[2020-04-01 17:29] AshokPeddakotla-MSFT commented on #51266
Adding @lyrana for further review and update the doc as appropriate.

[2020-04-01 17:33] SumanthMarigowda-MSFT commented on #51138
@MaduraDias Apologies for delay in responding here!

I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2020-04-01 17:34] yaniaoulmi opened #51480 "« into » is repeated"
Data comes into into the designer ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fd665ec-39f3-6f03-bfa6-37481ed5f5d0
* Version Independent ID: 7ef82685-2aca-15db-cdd3-c8bfd5ef01ed
* Content: [Import data - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-designer-import-data#f

[2020-04-01 17:34] AshokPeddakotla-MSFT commented on #51192
@njbuch Try to set a variable that tracks if the separate process succeeds and if not, exit from the main c# code. Edge Agent will restart it.

Do let us know if that helps.

[2020-04-01 17:36] santaur commented on #51432
Could this processing be the reason of my issue?

Because my lines usually consist of several words concatenated by camel case and they could be treated by the system as a single word

[2020-04-01 17:38] BharathNimmala-MSFT commented on #51463
@Chai-NED Thank you for your query, we will look into this and get back to you at the earliest.

[2020-04-01 17:39] vhorne commented on #48824
v1 support statement add to faq
#please-close

[2020-04-01 17:39] #48824 closed

[2020-04-01 17:40] BharathNimmala-MSFT commented on #51472
@anilkris Thank you for bringing this to our notice, we will fix the document accordingly.

[2020-04-01 17:40] vladvino commented on #51438
@ketan-chawda-msft please clarify what link is not working.

[2020-04-01 17:43] jihu commented on #48824
Could you link to that statement? I can't find it.

[2020-04-01 17:43] spelluru commented on #51389
@ketan-chawda-msft - have you tried the steps? thanks.

[2020-04-01 17:43] ketan-chawda-msft commented on #51438
Please find the below link which is not working: https://docs.microsoft.com/rest/api/apimanagement/2019-01-01/ApiManagementService/ApplyNetworkConfigurationUpdates

Screenshot from the doc for your reference:

![image](https://user-images.githubusercontent.com/59500871/78169020-6b153d00-746e-11ea-9001-857a87830204.png)

[2020-04-01 17:44] Grace-MacJones-MSFT commented on #51476
Hi @provtimofei, thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-01 17:48] spmanjunath opened #51481 "Error using the code similar to sample"
When i try to use [this ](https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#example-6)query example in the form shown below an exception is thrown while saving the file:
[code]
Error thrown while saving the file:
`Error: Error: "ValidationError" - "Error in element 'set-query-parameter' on line 92, column 4: The required attribute 'name' is missing." `

I

[2020-04-01 17:51] PeterCLu commented on #51480
@yaniaoulmi , thanks for your eagle-eyed catch. That should definitely not read "into into". The error has been fixed, and you should see the changes live in a few hours.
#please-close

[2020-04-01 17:51] #51480 closed

[2020-04-01 17:51] ketan-chawda-msft commented on #51438
@vladvino Please find the below link which is not working: https://docs.microsoft.com/rest/api/apimanagement/2019-01-01/ApiManagementService/ApplyNetworkConfigurationUpdates

Screenshot from the doc for your reference:

![image](https://user-images.githubusercontent.com/59500871/78169020-6b153d00-746e-11ea-9001-857a87830204.png)

[2020-04-01 17:53] RyanHill-MSFT commented on #50260
Sincerest apologies for the delay in getting back to you @SlavaRoikhman. _Ignore Conflicting Host Name on Restore_ essentially means any CNAME entries that are associated with the app that's been backed up won't be added back. This would be helpful if you're restoring your app to a different app where the app service name would be different.

With regards to _Configuration_, the settings are writt

[2020-04-01 17:54] BharathNimmala-MSFT commented on #51435
@konopkap Thank you for your feedback. Assigned this issue to our document author @dcurwin to further evaluate the feedback and enhance the document accordingly.

[2020-04-01 17:56] batanun opened #51482 "What is the naming restrictions for an ASE? I get BadRequest, "Name {0} is not valid.", even the portal allow it"
I tried to create an ASE with a 37 character long name (following our internal naming conventions), which includes dashes (-). And the portal doesn't complain about this. But when it tries to create it, it results in a BadRequest, with the message "Name some-test-name-that-is-loooong-enough is not valid."

The naming restrictions should be documented on the website, and the portal should enforce i

[2020-04-01 17:56] sberkovitz commented on #5988
Hi @ecfan,

An example of where I hit this limitation: I have a table with 1mil rows with URL's to an image that I am moving to an Azure Storage account.  I don't want to create a new SPROC (assume I have read-only).  Easy enough to do with Get Rows, except that even with pagination, it will never complete automatically and I need to manually run it ~10 times.

[2020-04-01 17:57] dlepow commented on #51418
@magandrez - Thanks for the feedback. Agreed, this introductory content does not touch on security considerations, but is intended to get a customer running quickly with the service. The documentation for Azure Container Registry does include a number of security-focused articles. Examples:
* [Security baseline](https://docs.microsoft.com/azure/container-registry/security-baseline)
* [Authenticati

[2020-04-01 18:02] ketan-chawda-msft commented on #51389
@spelluru Yes , I have tried the steps. By Default it select Azure Function as Endpoint type as shown below :

![image](https://user-images.githubusercontent.com/59500871/78170280-5afe5d00-7470-11ea-801d-9e69661efba3.png)

but in document it shown Endpoint Type as web hook (screenshot from the doc)

![image](https://user-images.githubusercontent.com/59500871/78170371-79645880-7470-11ea-9838-2aad16

[2020-04-01 18:04] CmdrBeavis commented on #51410
Okay, so yeah, this `az resource update --name web --resource-group myResourceGroup --namespace Microsoft.Web --resource-type config --parent sites/<app_name> --set properties.cors.allowedOrigins="['http://localhost:5000']" --api-version 2015-06-01` command was way too problematic and didn't have enough explanation about all the moving parts, so I went with `az webapp cors add -g MyResourceGroup -

[2020-04-01 18:05] qqnarwhal opened #51484 "Outdated screenshot"
The portal experience for creating autoscale rule has changed. The screenshots on this page is outdated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5335ea26-ee3e-2c59-00c7-9052077c43f3
* Version Independent ID: ed911593-4aee-fa94-7f08-1d80a57dcd60
* Content: [Autoscale virtual machine scale sets in the Azure portal

[2020-04-01 18:05] mumian commented on #51472
@anilkris - This is not a typo. It requires cli version 2.2.0 or later.  In the Get tools section, it says "... you must have the latest version.".  Please use the link provided to install the latest CLI. I will consider adding another note to the article.

#please-close

[2020-04-01 18:05] #51472 closed

[2020-04-01 18:10] MarileeTurscak-MSFT commented on #51473
@robmacf
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-01 18:13] vladvino commented on #51438
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/109893

[2020-04-01 18:14] SubhashVasarapu-MSFT commented on #50958
@rtaylor72 , Appreciate your patience. It should be addressed in the variable $rewriteRule as,
$rewriteRule = New-AzApplicationGatewayRewriteRule -Name LocationHeader -ActionSet $action  -Condition $condition
We will be updating the doc accordingly.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-01 18:14] #50958 closed

[2020-04-01 18:17] aashishb commented on #50760
Can you provide some more details on what is the user scenario and why UDRs for key vault and AML service are needed?

[2020-04-01 18:17] brandonh-msft commented on #51376
Sweet! thanks!

[2020-04-01 18:17] SlavaRoikhman commented on #50260
Thank you for clarification. Restoring to a slot and swapping does the job.

Thanks,

﻿ --
Slava Roikhman
Consultant
MCS | Secure Infrastructure
Slava.Roikhman@microsoft.com<mailto:Slava.Roikhman@microsoft.com>
[Microsoft]
﻿

From: Ryan Hill <notifications@github.com>
Sent: April 1, 2020 1:53 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Slava Roikhman <Slava.Roikhman@microso

[2020-04-01 18:17] NavtejSaini-MSFT commented on #51475
@dvkalashnikov We are checking this and will get back to you.

[2020-04-01 18:18] jcbrooks92 commented on #49835
@stonstad I'm not sure of the status. If you file a support case please let us know the case number.

[2020-04-01 18:18] PeterCLu commented on #50760
@oo2316oo ^^

[2020-04-01 18:20] spmanjunath opened #51485 "Is it possible to use named values within C# policy expressions?"
I am trying retrieve a value from a NamedValue table within C# policy expression using the syntax `var someValue = {{json-string-from-named-value-table}}`, this fails with cryptic error `Error: Error: "ValidationError" - "Error in element 'set-query-parameter' on line 92, column 4: ; expected" `.  I couldn't find any reference on this particular usage, can this be accomplished?

Note:  It appears

[2020-04-01 18:21] qqnarwhal opened #51486 "Incomplete info"
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-attached-disks#adding-pre-populated-data-disks-to-an-existing-scale-set
&gt;&gt; What exactly does "pre-populated data disk" mean? Is it existing disks that contains data? Or is it the empty auto-generated disks?
&gt;&gt; To me it seems like Pre-populated (or autogenerated) data disks are data disks specif

[2020-04-01 18:24] Jimbos10 commented on #50422
Just a quick followup Viswanadham found another issue with a variable that was reporting different values in different datacenter zones.  The updated code should now be available according to Viswanadham.  Thanks again for your help Viswanadham!

[2020-04-01 18:32] shashishailaj commented on #51445
@MarkDNL I checked the article but I am not sure which link you are referring to in the first paragraph. The first paragaph of [this article](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-configure-custom-domain) is as below and does not contain any links pointing to Active Directory.

_"When you publish an application through Azure Active Directory Applicat

[2020-04-01 18:37] MashaMSFT commented on #51475
Hi @dvkalashnikov , you are correct, it should be primary managed instance :) thanks for catching this!

Would you be interested in updating the doc yourself? Doing so improves our documentation, and also adds you as a contributor to the article.

To do so, please do the following:

1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil"

[2020-04-01 18:39] LH-MSFT opened #51487 "Need a reference for potential VM limit incurred by enabling Write Accelerator"
When Write Accelerator is enabled for M-series VMs, limits per VM (for WA disks) will be incurred on top of those documented here. Need a reference for the same https://docs.microsoft.com/en-us/azure/virtual-machines/windows/how-to-enable-write-accelerator for awareness.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2

[2020-04-01 18:41] melghazali commented on #51432
@santaur You have many issues with your 40K lines of .align data:

1. every line has only ONE word, example: IssueQueryTextAccountsDataInCellInInventory
2. for data to qualify as training, you need to have valid full sentences
3. in general, your data seems to be concatenation of many words to form ONE WORD that would not qualify for using a dictionary only customization.

So, let's start with the

[2020-04-01 18:45] upmygit commented on #50692
I want developers to have access to the **App Configuration** without granting them the "Contributor" role on the resource group. I expect that granting the "App Configuration Data Owner" role (on the App Configuration resource itself) to the developer group, would allow them to view and edit the configuration settings and feature manager toggles. Alas, this doesn't work, it shows an "access not a

[2020-04-01 18:48] MarileeTurscak-MSFT commented on #51478
@bradcstevens
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-01 18:48] MarileeTurscak-MSFT commented on #51479
@rohitchouhan08
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-01 18:51] DebFro commented on #51468
You can close Thanks

Sent from my iPhone

On Apr 1, 2020, at 10:00 AM, YutongTie-MSFT <notifications@github.com> wrote:

﻿

@DebFro<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FDebFro&data=02%7C01%7CDeborah.Frost%40microsoft.com%7C23eae02eac3144f2a41b08d7d65e3008%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637213572328829937&sdata=LnHgNaN4EZpdew0IVx6sobTGvBvNVwD

[2020-04-01 18:51] jnxxx commented on #51470
Actually it seems the example in Q1 does have an effect. 'Unspecified'  just causes it not to be specified in the response. That may be ok.
If I change it, it can be seen in the response as expected.

Q2 is still interesting to see if it can be overridden from application manifest.

[2020-04-01 18:54] RyanHill-MSFT commented on #51069
Hi @amitbhatia18, wanted to follow up with you to see if you using the CLI command helped resolve your issue?

[2020-04-01 18:54] Karishma-Tiwari-MSFT commented on #51440
Thanks for the update.

[2020-04-01 18:56] Karishma-Tiwari-MSFT commented on #51274
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-01 18:56] #51274 closed

[2020-04-01 18:57] Karishma-Tiwari-MSFT commented on #51265
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-01 18:57] #51265 closed

[2020-04-01 18:57] Karishma-Tiwari-MSFT commented on #51431
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-01 18:57] #51431 closed

[2020-04-01 19:00] SnehaGunda commented on #51423
@subiswas2018 I think the note should actually be in this doc instead: https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-robomongo. I submitted a PR above to move the note to the right doc.

[2020-04-01 19:00] spelluru commented on #51389
@KetanChawda-MSFT - I ran through the tutorial and it worked fine. I have to update the screenshot with the endpoint. Now, it's just set to the name of the function, which is **Thumbnail** in case.

![Thumbnail](https://user-images.githubusercontent.com/6722422/78175836-8578f780-7429-11ea-92d3-c7ce1d4989ed.png)

[2020-04-01 19:01] v-sonan commented on #51243
@jeevansd Work items have been created for this and the work is in progress.

[2020-04-01 19:02] Grace-MacJones-MSFT commented on #51477
Hi @batanun, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-01 19:02] RyanHill-MSFT commented on #50260
#please-close

[2020-04-01 19:02] #50260 closed

[2020-04-01 19:09] MarkDNL commented on #51445
I'm sorry, something probably went wrong (mixes 2 pages up when posting the link. The page with the wrong link is: https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-domain-service-enable

Outlook voor Android downloaden<https://aka.ms/ghei36>

​Met vriendelijke groet,
​
Mark Dommisse
+31 6 4664 6950
mark.dommisse@cloudnation.nl
www.cloudnation.nl
___

[2020-04-01 19:19] #51398 closed

[2020-04-01 19:20] ksavery opened #51488 "Hid Prior Messages"
We no longer see: "Verification is necessary. Please click the Send button." (ver_intro_message)

...as well as...

"E-mail address verified. You can now continue." (ver_success_msg)

We have attempted to override the localization text, but it seems like it is no longer rendering the content at all. Is there a way to pass a claim or something to render this again?

---
#### Document Details

⚠ *Do

[2020-04-01 19:23] jross1012 opened #51489 "Hyperlink directing to AIP instead of Azure AD Identity Protection"
In the first paragraph "You can stream logs from Azure AD Identity Protection into Azure Sentinel to stream alerts into Azure Sentinel to view dashboards, create custom alerts, and improve investigation. " is linking to AIP documentation "https://docs.microsoft.com/en-us/azure/information-protection/reports-aip"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-04-01 19:25] m-sterspace commented on #37708
Well if this page isn't going to explain how to get a role in your token, then it's title should probably be changed to just :

Also, I believe that [this page](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-acquire-token?tabs=javascript) should be linked to as well, as this is closer to an actual guide on how to retrieve the token than the sample application, and pro

[2020-04-01 19:25] sajaynambiar opened #51490 "Change stream for Java"
Is change stream SDK available in Java, if yes, could you please add link and it would be great if could specify the supported platforms, and any links to the JavaScript SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32ee62ff-7042-a2d2-94d6-69189878aff3
* Version Independent ID: 4dc6fce6-b47a-cc95-ea16-b9e3e3f00c6

[2020-04-01 19:27] BharathNimmala-MSFT commented on #51434
@konopkap Thank you for your feedback, we will further look into it and get back to you at the earliest.

[2020-04-01 19:32] rwike77 commented on #49864
@RicardoNiepel  Thanks, just posted a fix which should go live in a few hours.  #please-close

[2020-04-01 19:32] #49864 closed

[2020-04-01 19:37] santaur commented on #51432
@melghazali thank you for your help!
Now I see the problem, and I will try this approach:
1. split camelcase to regular sentences
2. upload result to the custom translator and train model

About the use-case: I have a program code which is in Russian, so all my sentences actually are identifiers - names of procedures, variables, objects, etc. That's why they are in camelcase. And I want to transla

[2020-04-01 19:37] jhueppauff opened #51492 "Please add content on how to modify the cache duration on the standard Microsoft tier."
The Article just explains it for Akamai and Verizon.
Missing instructions on how to do it on Microsoft Tier

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 454efdf2-6764-efd3-0c96-b372bd7fc436
* Version Independent ID: 73f53a96-7cfc-897f-c7d7-bc07740db699
* Content: [Manage expiration of web content in Azure CDN](https:

[2020-04-01 19:45] vladik-hbinov opened #51493 "You need to update the connection string types"
You write:
At runtime, connection strings are available as environment variables, prefixed with the following connection types:

SQL Server: SQLCONNSTR_
MySQL: MYSQLCONNSTR_
SQL Database: SQLAZURECONNSTR_
Custom: CUSTOMCONNSTR_

1. PostgreSQL is missing in the documentation.
2. SQL Server: SQLCONNSTR_ needs to be SQLServer: SQLCONNSTR_
3. SQL Database: SQLAZURECONNSTR_ needs to be changed to SQLAz

[2020-04-01 19:46] bhushan7337 commented on #17764
is auto remediation possible?

[2020-04-01 19:54] timsander1 commented on #51490
Hi @sajaynambiar, yes you can use the same SDK's that you use with MongoDB. This includes both Java and JavaScript SDK's. There are some important differences in use that are specified here: https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-change-streams#current-limitations

I've posted some samples in this doc as examples.

[2020-04-01 19:56] SnehaGunda commented on #51423
The changes will be live later today, we will now close this issue.

#please-close

[2020-04-01 19:56] #51423 closed

[2020-04-01 20:00] vlkuznet commented on #51397
@BharathNimmala-MSFT

I recreated the following exception:
Creating a new Application in AAD (App URI - http://VSTS.vlkuznet.ab57b7ae-5c29-4444-97d3-af1ab794b401)
C:\Users\vlkuznet\Downloads\spncreation.ps1 : Cannot bind parameter 'Password'. Cannot convert the "P@ssw0rdForDemonstration" value of type "System.String" to type
"System.Security.SecureString".
    + CategoryInfo          : InvalidArgu

[2020-04-01 20:01] HughDevlin opened #51494 "available privileges list"
Please list the MySQL privileges that are NOT available in Azure Database for MySQL server, which would be much much shorter than the given list of available privileges. Also it would be more honest. The given list reads like a clever long-winded back-handed documentation of a fundamental, perfectly reasonable limitation of the product Azure Database for MySQL server. Thank you.

---
#### Document

[2020-04-01 20:02] qm13 commented on #51386
@richardeakin We are actively working on an ARM implementation of body tracking. The target (tested) platform is the NVIDIA Jetson TX2.

[2020-04-01 20:06] ajlam commented on #51494
@hughdevlin - thank you for the feedback. The unsupported privileges are listed in the [limits ](https://docs.microsoft.com/en-us/azure/mysql/concepts-limits#privilege-support) document. Please let me know if this clarifies things.

I'll also update this how-to doc with a link to the limitations.

[2020-04-01 20:07] jmorey4158 commented on #51379
I found a work-around, so it can at least be added to the docs. The work-around is to locally compile the MOF and load it up to Azure Automation using the Import-AzAutomationDscNodeConfiguration cmdlet. I am testing this right now. Let you know how the DSC run works on the VMs.

[2020-04-01 20:12] coelho5br opened #51495 "Service Endpoint does not work when Web App is using IP Based SSL"
Is it possible to update the document to clarify that once Web App has IP Based SSL and not the regular SNI based, the Service Endpoint will not take effect?

If you create a VM and attache to a subnet where Microsoft.Web Service Endpoint is enabled, you will see the effective routes to have 837 IPs/range.

As it has others 836 address, I dumped the routes with command:

Get-AzureRmEffectiveRouteT

[2020-04-01 20:14] HughDevlin opened #51496 "time zones"
Please document the fact that in the fully managed Azure Database for MySQL product, the system tables for time zone information are created, but not populated. This issue is particularly important to document since the privileges needed to populate the time zone info are not directly available, so the time zone data must be loaded indirectly from a Azure provided stored procedure.
See also
https:

[2020-04-01 20:17] Mike-Ubezzi-MSFT commented on #51382
@samuelkilada This is great feedback. I will redirect this to the product group. Thank you!
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-01 20:17] #51382 closed

[2020-04-01 20:17] DanielLarsenNZ commented on #51395
Brilliant thanks team!

[2020-04-01 20:18] mmacy commented on #48780
Per @derisen, this issue has been resolved, thus closing the issue. If you feel closure of the issue has been done prematurely, please let us know. #please-close

[2020-04-01 20:18] #48780 closed

[2020-04-01 20:22] Mike-Ubezzi-MSFT commented on #51127
@chineseneolight Did you have any additional questions? We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-01 20:22] #51127 closed

[2020-04-01 20:33] GuyPaddock opened #51498 "Please add a note to indicate `azureuser` expires"
Per https://github.com/Azure/AKS/issues/1170 and https://github.com/MicrosoftDocs/azure-docs/issues/47302, the `azureuser` account on VMs expires after 30 days. So, we tried following the steps here and were scratching our heads as to why our SSH key wasn't being accepted; turned out to be that the public and private keys were deployed correctly but the account was locked.

Was able to get in by f

[2020-04-01 20:33] arvindr9 commented on #51177
@jakaruna-MSFT @RohitMungi-MSFT
One thing that I tried:

I created a configuration file as per https://jupyter-notebook.readthedocs.io/en/stable/public_server.html#running-a-public-notebook-server
and set the configurations such that there would be a https server at port 9999.

Then, I started the server by typing `jupyter notebook`

Then, I got the following:
`[I 20:23:02.007 NotebookApp] Jupyter

[2020-04-01 20:36] melghazali commented on #51432
@santaur "split camelcase to regular sentences" in your case, would not give you proper sentence. Example, what do you understand from changing this IssueQueryTextAccountsDataInCellInInventory to this

Issue Query Text Accounts Data In Cell In Inventory

For your use-case, use phrase dictionary only training with the 40K as-is, it should work.

[2020-04-01 20:43] truealex81 commented on #40300
@sheeeng, you could find examples in [Kubernetes docs](https://kubernetes.io/docs/concepts/policy/pod-security-policy/)

[2020-04-01 20:46] DRAirey1 commented on #44441
I have an M128 Sized machine that I spun up in Azure to test the scalability of a highly parallel AI application.  The Environment tells me that I only have 64 processors and the CPU meter tops out at 50%.  What is the status of this documentation as I've got tech support guys telling me that Windows Server 2019 isn't designed to run more than 64 vCPUs?

[2020-04-01 20:47] jayeshshingote92 opened #51499 "Not working for iOS version 13"
UnregisterAllAsync and RegisterNativeAsync these methods are not working  on devices with iOS version 13.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45afd17d-e909-ccd9-01c3-f746bdf406a2
* Version Independent ID: d2c8cc69-5a37-4c73-d48b-9c058cf4595e
* Content: [Send push notifications to Xamarin using Azure Notifica

[2020-04-01 20:50] jnxxx commented on #49997
On the form where you specify Tenant Name, B2C Policy and Issuer:
Issuer should the Entity ID of the application (according to the metadata: https://samltestapp2.azurewebsites.net)
Same value must be specified in manifest - identifierUris.

[2020-04-01 20:51] alexkarcher-msft commented on #43260
The doc has been updated to say the executions are unbounded, but guaranteed to run for 60 minutes #please-close

[2020-04-01 20:51] #43260 closed

[2020-04-01 20:53] alexkarcher-msft commented on #30410
#reassign:jeffhollan

This error should not fire much with the API changes in the new portal UX.
We should probably strip most of these troubleshooting steps out once that UX is generally available.

[2020-04-01 20:53] alexkarcher-msft commented on #27955
#reassign:jeffhollan

This error should not fire much with the API changes in the new portal UX.
We should probably strip most of these troubleshooting steps out once that UX is generally available.

[2020-04-01 21:02] brandonh-msft opened #51500 "Consider alphabetizing and/or indexing the list"
It's cumbersome to scroll through to find the service you're hoping supports MSI. Consider alphabetizing the list and/or showing the services in the left/right index bars

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
*

[2020-04-01 21:02] #51496 closed

[2020-04-01 21:03] brandonh-msft commented on #48350
Agreed - I'm specifically trying to find out if Azure Media Services supports it and didn't see it on this page. Then I saw this feedback item and now I'm no better off than before 😟

[2020-04-01 21:03] ajlam commented on #51496
@HughDevlin - I've made some doc changes to include the `time_zone` parameter in the limits. These changes should be live in the next 24 hours.

[2020-04-01 21:05] benjamin-goldman opened #51502 "issues adding to SQL failover groups"
Hi - we have been seeing issues adding new databases in our pool to an existing failover group.  strangely - it seems as if only DBs that are a whole value multiple of 10 in size are able to be added.

hopefully you guys are aware of this and are fixing it?  its sort of crippling the feature for us and messing up a road map.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-04-01 21:11] vhorne commented on #49622
#reassign:winthrop28

[2020-04-01 21:26] Karishma-Tiwari-MSFT commented on #50685
@SanDeo-MSFT Can you please help confirm on this? Thanks :)

[2020-04-01 21:28] BharathNimmala-MSFT commented on #51397
@TUSAB-web , @vlkuznet  - Thank you both for reaching out to us and sharing additional context on the error you see.

New-AzureRmADApplication password parameter needs the secured string and since we are not passing that and it shows that error - Cannot convert the "password" value of type "System.String" to type "System.Security.SecureString".

Requesting you to please check if you can convert th

[2020-04-01 21:29] JimacoMS3 commented on #47915
#assign JimacoMS3

[2020-04-01 21:29] toolboc opened #51503 "Direct user to retrieve relevant connection strings at time of use"
This sample asks the user to successfully configure two sample applications, each requiring it's own unique connection string.

The process currently flows like this:
Register a device (these steps also reveal the device connection string)
Retrieve the service connection string (Note that there is not an accompanying Retrieve the device connection string section)
Listen for direct method calls (Us

[2020-04-01 21:29] JimacoMS3 commented on #50819
#assign JimacoMS3

[2020-04-01 21:31] DavidPrio commented on #5790
Hi @SunnyDeng can you please reopen this issue and add "loc" label so we can continue with testing of [Loc Request 184282](https://ceapex.visualstudio.com/CEINTL/_workitems/edit/184282)?
@tysonn @mike-urnun-msft maybe you can help as well :)
@v-gosali @v-radelg cc

[2020-04-01 21:34] TUSAB-web commented on #51397
Thanks - simplifying the GetPassword function was the key:

function Get-Password
{
        return $password
}

[2020-04-01 21:38] BharathNimmala-MSFT commented on #51397
@TUSAB-web Thanks for sharing it , does Get-password returning the secure string when you passing it to New-AzureRmADApplication ?

[2020-04-01 21:42] TUSAB-web commented on #51397
Bharath - thanks, I will try that.  If you are updating the spncreationn repo, please look at line 62 as well.  I had to change "Import-Module -Name AzureRM.Profile" to "Import-Module -Name Az.Accounts" for it to run.  All other commands translated fine with the "Enable-AzureRmAlias" turned on... but that one had to be changed manually in the script for some reason.  I'm using the newer version of

[2020-04-01 21:43] TUSAB-web commented on #51397
Bharath - I didn't debug the code as it ran, but with the function simplified to just "return $password", it ran without a hitch.

[2020-04-01 21:48] SaurabhSharma-MSFT commented on #50311
@ChrisSommers We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-01 21:48] #50311 closed

[2020-04-01 21:50] SaurabhSharma-MSFT commented on #50528
@scootafire We will now proceed to close this thread.  As suggested please connect with Jeevan over live meeting so that he can help you on your issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-01 21:50] #50528 closed

[2020-04-01 22:00] TravisCragg-MSFT commented on #51446
@alexandreweiss Thanks for the feedback! The issue has been assigned to the content author to evaluate and update as appropriate.

[2020-04-01 22:01] Vladimir-Pereskokov commented on #51474
Solved this by tracking down a person with AAD global administrator role and asking to grant admin consent at Azure Portal/App Registrations/API permissions

[2020-04-01 22:14] ishepherd commented on #28931
PR #44033 has been merged, the question can be closed. Thanks!

[2020-04-01 22:20] celery6131 commented on #51469
Are you referring to documentation about the dictionary feature in Custom Translator?
[((https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/what-is-dictionary))]

[2020-04-01 22:28] SnehaGunda commented on #50691
@Daniel-SW Because there isn't anything to fix specifically in the doc we will close this issue. I have an email thread internally to get the downloads page updated. However, it's out of the scope of the docs and I will track it there.

#please-close

[2020-04-01 22:28] #50691 closed

[2020-04-01 22:29] HeidiSteen commented on #50609
#please-close  Both the quickstart and the sample ipynb are now fixed, but the quickstart fix won't be on the live site until tomorrow morning.  Thanks for pointing out the problems with the workflow -- I'm much obliged!

[2020-04-01 22:29] #50609 closed

[2020-04-01 22:31] Grace-MacJones-MSFT commented on #51482
Hi @batanun thanks for the feedback! We will look into this and update the doc as appropriate

[2020-04-01 22:32] SaurabhSharma-MSFT commented on #51449
@rds97 The PR for the fix has been created and will be merged upon the author approval. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-01 22:32] #51449 closed

[2020-04-01 22:36] Mike-Ubezzi-MSFT commented on #51147
I stepped through this tutorial, both by attempting to create the `app.js` and `config.js` files as per the examples and cloning the Git project. I receive the following error when running the Git project:

ResponseTime: 2020-04-01T21:06:16.4069227Z, StoreResult: StorePhysicalAddress: rntbd://cdb-ms-prod-westus2-fd6.documents.azure.com:14364/apps/a5556683-236a-4be0-87da-4e9f2d118f97/services/86a31

[2020-04-01 22:42] Grace-MacJones-MSFT commented on #51499
Hi @jayeshshingote92, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-01 22:45] KranthiPakala-MSFT commented on #51365
@Briwalkr I have provided the feedback to the content author to update the doc with a note as mentioned in your feedback.  Thanks again for pointing this to us.

[2020-04-01 22:47] Mike-Ubezzi-MSFT commented on #51490
@sajaynambiar Please let us know if you have any additional questions. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-01 22:47] #51490 closed

[2020-04-01 22:48] SaurabhSharma-MSFT commented on #51454
@netw0rks No, it is correct as the cmdlet works as expected. (see screenshot below)
![image](https://user-images.githubusercontent.com/38112130/78193794-31254600-7430-11ea-936d-8f0018b061c2.png)

[2020-04-01 22:51] Grace-MacJones-MSFT commented on #51090
Hi @sopelt, thanks for your patience. Yes, setting users’ default-schema to dbo is a good practice, and should work for groups too.  Alternatively, configure the schema explicitly in the EF Core table mapping.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the is

[2020-04-01 22:51] #51090 closed

[2020-04-01 22:53] ishepherd opened #51504 "Front Door config updates"
We have a deployment process that updates routing and then verifies the change. It verifies by sitting in a loop, sending requests, until they start hitting the new backend.

At this moment, is the update complete?
Or could it still be rolling out to other global regions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-04-01 22:54] nikkiconley opened #51505 "Missing Event Grid create"
You are missing the instructions to create the event grid.  Those new to azure will have trouble with this tutorial.  Also, the event subscription screenshot is out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b250ca39-0ba3-20dc-179b-c5a0d80fba9f
* Version Independent ID: 5f1d000e-c731-4b98-8eb7-55836829ca47

[2020-04-01 22:54] #28931 closed

[2020-04-01 22:57] KranthiPakala-MSFT commented on #51466
@mamccrea Could you please update the doc as per the feedback from @diogobaltazar. Thanks!

[2020-04-01 22:58] RyanHill-MSFT commented on #51424
Hi @juanand, you can't use FQDNs for NTP. FQDNs only work for HTTP/HTTPS. For your NTP, you'll have to follow the doc and use Any * * against port 123. There is no internal NTP as far as your ASE goes so if you block it, there could be adverse effects.

[2020-04-01 23:06] navyasric commented on #45068
@binhnguyen1984 Please take a look at this sample of asp.net core Web API:
 https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph

cc: @hamiltonha In case you have any other sample of SPA calling asp.net core API.

[2020-04-01 23:08] Karishma-Tiwari-MSFT commented on #51448
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-01 23:09] navyasric commented on #42720
@jmprieur My understanding is that this is a backend API with the same client ID as the SPA app. Is the recommendation to always register backend API as a separate client ID and add scopes?

@hamiltonha do you have any updated guidance on this?

[2020-04-01 23:10] BharathNimmala-MSFT commented on #51397
@TUSAB-web  Thanks for the confirmation and sharing the feedback , after further validation noticed that the parameters in the [repo ](https://github.com/yujhongmicrosoft/spncreationn/blob/master/spncreation.ps1) particularly the password parameter is being collected as secured string only and no further conversion is needed, that is the reason New-AzureRmADApplication command also ran successfull

[2020-04-01 23:11] Mike-Ubezzi-MSFT commented on #51502
@benjamin-goldman Thank you for bringing this to our attention. Is it possible for you to create a support request to have this investigated as a product issue? This channel is suited to handle documentation updates. If you create an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) and provide me the SR #, I can escalat

[2020-04-01 23:12] Karishma-Tiwari-MSFT commented on #51459
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-01 23:13] Karishma-Tiwari-MSFT commented on #51484
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-01 23:14] Karishma-Tiwari-MSFT commented on #51474
Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-01 23:14] #51474 closed

[2020-04-01 23:16] Karishma-Tiwari-MSFT commented on #51467
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-01 23:19] BharathNimmala-MSFT commented on #51109
@frilkieg Request you to please review the above information and let us know if you have any further queries. Thanks

[2020-04-01 23:26] vlkuznet commented on #51397
I had a second individual come to me with issues about this very script for the second time in 24 hours - slightly different issue, but may be worth reviewing with updating the repo.

This script as it is won't run in the Azure Cloud Shell. A lot of AZGov customers don't have the option to install Azure modules locally, so it would be great if it were modified to support this use-case as well.

[2020-04-01 23:32] SaurabhSharma-MSFT commented on #51458
@vivere-dally There is no specific Powershell cmdlet available to grant admin consent.  You can upvote an existing feature request over [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/31562305-ability-to-grant-permissions-via-api-or-powershell).
However, you can check for [this](https://www.lieben.nu/liebensraum/2018/04/how-to-grant-oauth2-permissions-to-an-azure

[2020-04-01 23:39] Camios opened #51507 "Item examples Create and Read have the same documentation link"
In the Item Examples table the Create an item API reference incorrectly links to the ReadItemAsync method
Create an item	Container.CreateItemAsync
Read an item by ID	container.ReadItemAsync
Are both href="/en-us/dotnet/api/microsoft.azure.cosmos.container.readitemasync?view=azure-dotnet"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-04-01 23:40] Cephei opened #51508 "Indexing Policy"
How does the indexing policy with Cassandra work? I'm assuming it only takes into account Partition and Cluster keys? Does that mean it knows to exclude other meta fields?

I'm trying to optimize my RUs - each INSERT statement is costing ~12 RUs for a ~.76KB object (including index storage); a single Partition Key and two Cluster keys.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-04-01 23:44] brandonbrownchenega opened #51509 "Example missing double quotes"
The example for requiring three tags under the 'Policy rule' section has a syntax error:

"value": "[less(length(field('tags')), 3)]",
"equals": true

true needs to be contained within double quotes: "true"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-fd99-a27ad948907b
* Version Independent ID: 89e

[2020-04-01 23:45] TravisCragg-MSFT commented on #51452
@Flodu31 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-01 23:49] BharathNimmala-MSFT commented on #51509
@brandonbrownchenega Thank you for bringing this to our notice, we will review and fix the document accordingly.

[2020-04-01 23:49] GiftA-MSFT commented on #51456
@chidiewenike can you share more details about your scenario? What error message did you receive when deploying your custom speech model? If possible, kindly provide steps to reproduce the issue. Thanks.

[2020-04-01 23:59] Cephei commented on #51508
[code]
Please provide more clarity in this answer.

[2020-04-02 00:01] Chai-NED opened #51510 "NAT with Multiple public IPs"
Hi - If NAT has more than one public outbound IP, how does it choose which IP to use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb766d9-18ab-2998-d769-99e95ffd8ef8
* Version Independent ID: 467c1ece-0d09-14de-4bda-e3b56d99d546
* Content: [What is Azure Virtual Network NAT?](https://docs.microsoft.com/en-us/azure/

[2020-04-02 00:11] TravisCragg-MSFT commented on #51452
@Flodu31 It is possible to use [multiple ingress controllers for the same cluster](https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/#using-multiple-ingress-controllers), so this should be possible with 2 different Application Gateways.

I am unsure if this is possible for the same Application Gateway.

[2020-04-02 00:12] BharathNimmala-MSFT commented on #51397
@vlkuznet Appreciate you providing additional use case references. I will take this feedback back to our document author and see what can be done to enhance the documentation and the script accordingly.

[2020-04-02 00:17] Karishma-Tiwari-MSFT commented on #51453
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-02 00:18] Karishma-Tiwari-MSFT commented on #51455
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-02 00:18] Karishma-Tiwari-MSFT commented on #51457
Thanks for the question. We are currently investigating and will update you shortly.

[2020-04-02 00:20] lisanhu opened #51512 "URL error in example scripts"
The URLs used in this page are not working.

The URLs used are using host "api.cognitive.microsoft.com"; however, when I sent requests to this host, it returned 400 error. After hours of searching, I finally realized the hostname is wrong, and it should be "api.cognitive.microsofttranslator.com" The other parts of the document seem to be very clear; just all the URLs are incorrect. I hope it could

[2020-04-02 00:20] Karishma-Tiwari-MSFT commented on #51486
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-02 00:23] Karishma-Tiwari-MSFT commented on #51498
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-02 00:25] Karishma-Tiwari-MSFT commented on #51487
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-02 00:27] RyanHill-MSFT commented on #51437
Can you elaborate further on what you're attempting to trace @finsharp? I successfully added a managed identity to a web and slot apps and can see those identities in Enterprise Applications.

![image](https://user-images.githubusercontent.com/47189704/78198631-2631dc00-7457-11ea-8270-d6da8b0a56cd.png)

[2020-04-02 00:27] swmachan commented on #51512
@lisanhu, that was a mistake on our end. You are right about the host. We will fix this soon.

[2020-04-02 00:30] Karishma-Tiwari-MSFT commented on #51457
This document contains information on the supported ways to deploy a container using ACI with multiple volumes:  https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-azure-files#mount-multiple-volumes

 Here are the options:

- Azure Resource Manager template, https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-azure-files#deploy-c

[2020-04-02 00:31] TravisCragg-MSFT commented on #51462
@athempel Thanks for the feedback. We are actively investigating and will get back to you soon.

[2020-04-02 00:32] ajlam commented on #51496
Changes are live [here](https://docs.microsoft.com/en-us/azure/mysql/concepts-limits#time_zone) 😄

[2020-04-02 00:45] swmachan commented on #51469
Adding @melghazali to look into this issue.

[2020-04-02 00:51] Karishma-Tiwari-MSFT commented on #51453
Can you please confirm you followed all the pre-requisite steps described in the document?
1. Install aks-preview CLI extension: https://docs.microsoft.com/en-us/azure/aks/use-pod-security-policies#install-aks-preview-cli-extension
2. Register pod security policy feature provider: https://docs.microsoft.com/en-us/azure/aks/use-pod-security-policies#register-pod-security-policy-feature-
3. Enable p

[2020-04-02 00:54] v-naagga commented on #28161
What is RBAC roles for Table Storage available for existing Azure Table storage ? Do we have any RBAC roles for similar to Cosmos DB roles. We are specifically looking for securing out BLOB tables using RBAC. Thanks Naveen

[2020-04-02 00:57] Karishma-Tiwari-MSFT commented on #51244
For common service principal(SP) access requirements, the following shows what are the typical and required access that the SP should be granted: https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#delegate-access-to-other-azure-resources

Scaling an AKS cluster is considered a basic operation which is covered by the common permission delegations.

Note that while Service Princ

[2020-04-02 01:11] jackvdbuk opened #51514 "Does this Support Server 2016 server (Terminal Server enviroment)?"
We have Windows 10 machines azure ad hybrid joined and SSO works perfect, the second we try as the user on Server 2016 with the same settings applied (trusted sites/allow scripts) , it doesn't allow SSO at all and just prompts.

There is not mention of this type of setup in the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-04-02 01:28] Mike-Ubezzi-MSFT commented on #28161
@v-naagga Table Storage by itself does not have RBAC role functionality. If you deploy the Cosmos DB Table API you will be able to leverage RBAC roles.

[2020-04-02 01:32] chidiewenike commented on #51456
"deployment_error" is the name of my deployment to trigger the deployment error and the text above is what appears in my endpoint list.

This is the message that appears in my email.

I trained the model with the "20181201 (v3.3 Unified)" baseline with about 5k samples at about 3 hours of audio. I already could not use any of the later models because they triggered this error

"Failed to train mod

[2020-04-02 01:36] MarileeTurscak-MSFT commented on #51183
I'm assigning this to the author as we had some earlier feedback on that point this week.

[2020-04-02 01:49] TravisCragg-MSFT commented on #51462
@athempel I have updated the note to the proper section. The docs should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-02 01:49] #51462 closed

[2020-04-02 01:57] MarileeTurscak-MSFT commented on #51500
@brandonh-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-02 02:00] MarileeTurscak-MSFT commented on #50894
Thank you. Is the operation done in the CSP tenant or the customer's?

[2020-04-02 02:02] MarileeTurscak-MSFT commented on #50714
Could you please clarify your doubt regarding the terminal server?

[2020-04-02 02:02] jonwbstr commented on #50894
Customers, the engineer assigned to the ticket I shared determined this is
a known issue and will be resolved after things return to normal post
covod19

On Wed, Apr 1, 2020, 10:00 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2020-04-02 02:08] markingmyname commented on #21216
#plase-close

[2020-04-02 02:09] #21216 closed

[2020-04-02 02:24] Mike-Ubezzi-MSFT commented on #51507
@Camios Thank you for pointing this out. This is being fixed and an update will be published shortly.

[2020-04-02 02:28] Mike-Ubezzi-MSFT commented on #51507
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-02 02:28] #51507 closed

[2020-04-02 02:30] Mike-Ubezzi-MSFT commented on #51508
@Cephei Thank you for the inquiry. We are investigating and will update you when we have additional information to share.

[2020-04-02 02:30] lisanhu commented on #51512
Thank you! Really appreciate it!

[2020-04-02 02:38] saketmicrosoft commented on #27555
I have the same issue. The  @Microsoft.KeyVault(SecretUri=<> is returned and not the secret value

[2020-04-02 02:43] saketmicrosoft commented on #27555
After appending the version of the Key, it works

[2020-04-02 02:43] arunkp89 commented on #49404
Public IP is not needed for authorization, Azure will perform the SNAT with port masquerading (PAT) for VMs without public IP. Fencing also works.

[2020-04-02 02:52] arunkp89 commented on #50753
@sami1178116, Are you using a different hostname at the OS level?

[2020-04-02 02:54] kureiziboi commented on #51444
Appriciate if MS could confirm whether or not it can connect to dsac to Azure AD to configure such kind of "fine-grained password policy".
And seem that we also don't have PowerShell command to do that. (with AzureAD only NOT AD On-premise)
Thank you.

[2020-04-02 03:08] rockboyfor opened #51516 "The repository description rule on Azure China Cloud."
When I run the following az cmdlet in the PowerShell console on Azure China Cloud.
Example: Build Node.js image with Cloud Foundry builder (https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-pack-build#example-build-nodejs-image-with-cloud-foundry-builder)

the output show： Successfully built image chenyencr.azurecr.cn/chenyencr.azurecr.cn/node-app:1.0，(BTW: azurecr

[2020-04-02 03:20] BhargaviAnnadevara-MSFT commented on #51366
@AravindIT We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-04-02 03:20] #51366 closed

[2020-04-02 03:23] SnehaAgrawal-MSFT commented on #51493
@vladik-hbinov Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-02 03:36] mike-urnun-msft commented on #51481
@spmanjunath Thank you for your feedback! We will review and update as appropriate.

[2020-04-02 03:37] mike-urnun-msft commented on #51485
@spmanjunath Thank you for your feedback! We will review and update as appropriate.

[2020-04-02 03:42] kennethckh commented on #51425
I have tried to remove everything from my azure and setup again from the start.
1. Create a resource group
2. Create a storage container (added CORS setting as describe in the document and generated a SAS)
3. Create a cognitive service (form recognizer preview and noted down the URL and Key)
4. Create a container service and pull the image from "mcr.microsoft.com/azure-cognitive-services/custom-fo

[2020-04-02 03:43] ishepherd opened #51517 ""Regardless of the number of scaled-out instances, each app has a single inbound IP address""
This statement is not correct.
Or perhaps it is correct for web apps, but not for Functions Consumption/Elastic Premium plans?
I can supply an example of a function app that has 3 different inbound IP addresses (3 DNS 'A' records)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c32dd6f-050f-e3f7-569f-42b5efdf3918
* Ver

[2020-04-02 04:04] mwwhited opened #51518 "Instructions are outdated"
do you guys not maintain these examples?  Several of these options do not exist and the closest matches throw exceptions such as when trying to create the proxy identity experience you can not use and http or https for the redirection URL for a native application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035

[2020-04-02 04:08] jakaruna-MSFT commented on #51516
@rockboyfor
Thanks for the question! We are investigating and will update you shortly.

[2020-04-02 04:12] SubhashVasarapu-MSFT commented on #51510
@Chai-NED ,  We are looking into this query and will update you as soon as possible.

[2020-04-02 04:13] lyrana commented on #51335
Hi @Karishma-Tiwari-MSFT how do I link a PR to the issue?

[2020-04-02 04:13] SubhashVasarapu-MSFT commented on #51492
@jhueppauff , We are looking into this query and will update you as soon as possible.

[2020-04-02 04:14] jakaruna-MSFT commented on #51516
the `--image` parameter in the `az acr pack build` holds the image name.

As per the command it should have only one repo name.  But your image name has repository name twice.

Can you share the build command which you used

[2020-04-02 04:15] neeleshray-msft commented on #51488
@ksavery Thank you for your query . We will investigate and update the thread further.

[2020-04-02 04:16] neeleshray-msft commented on #51514
@jackvdbuk Thank you for your query . We will investigate and update the thread further.

[2020-04-02 04:18] neeleshray-msft commented on #51518
@mwwhited Thank you for your query . We will investigate and update the thread further.

[2020-04-02 04:30] magandrez commented on #51418
@dlepow - Thanks for the prompt response. Those articles shall cover my needs for now.

[2020-04-02 04:30] #51418 closed

[2020-04-02 04:35] y10e opened #51519 "Limit Concurrency Policy is effective within only API Scope"
I set "Limit Concurrency Policy" on Global or Product Scope. And the lower scopes (API and Operations) are inherited from the higher scope by &lt;base /&gt;.

Then, I expected that concurrency control effects all APIs. Because the enclosed policies are the same over all APIs. But actually concurrency control was effective on only 1 API Scope.

Actual Result:
I call the operation-1 of API-1 and ope

[2020-04-02 04:36] SnehaAgrawal-MSFT commented on #51517
@ishepherd Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-02 04:46] AravindIT commented on #51366
Hi Bhargavi,

Sorry for the late response.

Below is the document which I referred.  https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/how-tos/text-analytics-how-to-sentiment-analysis?tabs=version-3

In the above document it has been mentioned that document scores won’t be available for sentiment mixed.But still I can see the document scores object for mixed sentiment.

Plea

[2020-04-02 04:47] SnehaAgrawal-MSFT commented on #51206
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-02 04:47] #51206 closed

[2020-04-02 04:54] SnehaAgrawal-MSFT commented on #51298
@twsouthwick Just checking in if you have had a chance to see the previous response.

[2020-04-02 04:55] PramodValavala-MSFT commented on #51519
@y10e I believe the policy is primarily dependent on the `key` attribute. Could you confirm if the result of the expression used in your case would be the same for both the APIs?

[2020-04-02 04:55] PramodValavala-MSFT commented on #51158
@prashantma Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-02 04:56] balukantu opened #51520 "On-demand Backup and Restore"
I am working on WebApi and planning to use the cosmos Db as datastore.  I have gone through the Cosmos DB documentation and understand a few points listed below.

Please check and correct me if my understanding is wrong.

1. Microsoft automatically backups all your CosmosDB databases every 4 hours
2. Also, only the two latest backups are stored
3. These backups are managed by Microsoft and it give

[2020-04-02 04:57] CHEEKATLAPRADEEP-MSFT commented on #51378
@travis-c-lagrone  Yes, All dbutils utilities are available in Python, R, and Scala notebooks.
This is by design and not supported to run by pointing to executors via jobs.
If you run "dbuitls" in jobs, you will receive this error: "You cannot use dbutils within a spark job or otherwise pickle it".

Hope this helps.

[2020-04-02 05:01] DixitArora-MSFT commented on #51163
@mperdeck Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-02 05:01] #51163 closed

[2020-04-02 05:01] DixitArora-MSFT commented on #51164
@bradoyler For now we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-02 05:01] #51164 closed

[2020-04-02 05:02] nnamedieh commented on #17764
Hi @bhushan7337 ,
auto remediation for "deployIfNotexist" as well as "modify" policies ist enabled by default, however just for resources created after policy enablement. All resources that you have created before, you can remediate through the Azure Policy Option "Remediate" (within the Azure Portal -> Policy). Hope that helps.

[2020-04-02 05:03] DixitArora-MSFT commented on #51296
@MattHartz I have assigned this to content author for further review and update as appropriate.

[2020-04-02 05:22] AjayKumar-MSFT commented on #51495
@coelho5br, Thanks for bringing this to our attention. While we check on this topic further internally, just for the context, could you please share the thread that you're referring to on which these points were discussed or confirmed by Christina Compy. I see that we have another GitHub issue on this topic #51139, we can continue our discussion here to avoid duplication.

Thanks again for taking

[2020-04-02 05:23] lyrana commented on #51266
Hi @stmax82, we see this issue as well as your other 4 submissions. I first want to underscore that we are listening, even though it might feel like GitHub feedback is a "black-hole," the TSI product team is receiving your feedback.

This sentence is worded incorrectly and has caused confusion. There are many things I want to mention, so I'll leverage this thread to communicate with you while we w

[2020-04-02 05:34] ketan-chawda-msft commented on #51505
@nikkiconley Thank you for your feedback! We will review and provide an update as appropriate.

[2020-04-02 05:34] rdbraber commented on #50997
That example forwards queries for a particular domain to a DNS server you specify. I would like to forward all DNS queries, except some, to a DNS server I specify.

[2020-04-02 05:46] ketan-chawda-msft commented on #51389
@spelluru That's the point of confusion from the doc. Thanks for clarification. Please update the screenshot and details mentioned in point 3 of [Create an event subscription](https://docs.microsoft.com/en-us/azure/event-grid/resize-images-on-storage-blob-upload-event?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=dotnet#create-an-event-subscription).

@vlyakh I hope it is clear from the above pos

[2020-04-02 05:59] dziedrius commented on #49835
@jcbrooks92 @stonstad - I'm sorry, was really busy lately. I've wrote email just today to @jcbrooks92 with case number and explanation, also expectations.

I'm not sure that there's issue with Always On, as we use external pinging for health check, but I think it should be better documented and tooled for troubleshooting.

[2020-04-02 06:02] AshokPeddakotla-MSFT commented on #51503
@toolboc Thanks for the feedback! I have assigned the issue to the content author @robinsh to evaluate and update as appropriate.

[2020-04-02 06:09] msrini-MSFT commented on #51332
@hisasima , Thank you for your feedback. The documentation will be updated shortly.

[2020-04-02 06:09] #51332 closed

[2020-04-02 06:10] ketan-chawda-msft commented on #51438
Thanks @vladvino for quick fix.

@faroukfriha Thank for reporting this issue. The Doc has been updated with the correct link. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-02 06:10] #51438 closed

[2020-04-02 06:11] msrini-MSFT commented on #51349
@jpdussourd-msft , Do you have any further question ?

[2020-04-02 06:15] SumanthMarigowda-MSFT commented on #51129
@ameenmohamed Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata if the issue isn't related to document

[2020-04-02 06:15] #51129 closed

[2020-04-02 06:16] ram-msft commented on #51520
@balukantu Thanks for your question. Please provide us with the link to the documentation you are referring.

[2020-04-02 06:16] SubhashVasarapu-MSFT commented on #51504
@ishepherd ,  We are looking into this query and will update you as soon as possible.

[2020-04-02 06:17] #51138 closed

[2020-04-02 06:18] kishan19 opened #51521 "Is there an API to upload data for custom speech from Blob Storage directly?"
The current Custom Speech REST API supports uploading data from local filesystem, in the form of .zip files for acoustic customisation, and .txt for language models. We are seeing if there are ways to automatically upload a batch of data from Azure Blob Storage to the custom speech portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-04-02 06:30] SnehaAgrawal-MSFT commented on #51410
@CmdrBeavis Glad to hear that you got it working. Appreciate for sharing the steps which helped you, this would certainly benefit other community members.
To add to this the details of az resource update command is [here](https://docs.microsoft.com/en-us/cli/azure/resource?view=azure-cli-latest#az-resource-update) in which --namespace is Provider namespace (Ex: 'Microsoft.Provider') and here provi

[2020-04-02 06:33] ManmohitSingh10 commented on #51236
I have fixed the issue. There was an issue with the value of the parameter - 'subnets' that I was passing. Thanks for the assistance.

[2020-04-02 06:33] #51236 closed

[2020-04-02 06:40] rdelliker87 commented on #15695
thanks

[2020-04-02 06:42] dohughes-msft commented on #51457
@Karishma-Tiwari-MSFT thank you for the information!

[2020-04-02 06:42] #51457 closed

[2020-04-02 06:45] juyamagu opened #51522 "Specify port of ICMP rule acts as ICMP Type rather than transport address in documenation"
I did some investigation about ICMP security rules and I found that the port number of ICMP rule actually represent ICMP Type, instead of neither UDP port nor TCP port.
By specifying this behavior in the documentation, users will be able to correctly configure NSG.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e90580

[2020-04-02 06:46] rbhanot4739 commented on #51336
Can i please get some tracktion on this ?

[2020-04-02 06:47] Flodu31 commented on #51452
Hello,
Thanks.
But I don't found in the helm charts where is located this ingress class.
A workaround that I found is to associate an App Gateway to one or more namespaces and another one to one or more namespaces.
Florent

[2020-04-02 06:50] VikasPullagura-MSFT commented on #51467
@xywust2014 Can you please share details on which region you are trying to deploy the NC series. We are running into capacity issues in few regions, please see below for more details.

As a result of the surge in use over the last week, we have experienced significant demand in some regions (Europe North, Europe West, UK South, France Central, Asia East, India South, Brazil South) and are observin

[2020-04-02 06:56] VikasPullagura-MSFT commented on #51459
@joekhoo80 If all the credits are used, then only baseline performance can be used which will be around 20% of the original size.

[2020-04-02 06:57] VikasPullagura-MSFT commented on #51459
@ayshakeen Can you please add your comments.

[2020-04-02 07:05] VikasPullagura-MSFT commented on #51049
@3vi1 Internal team suggested to open a support case as this issue needs live troubleshooting and with support case the support engineer can work with you on this.

If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN Vikas" at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this thread. I can then enable your subscr

[2020-04-02 07:05] VikasPullagura-MSFT commented on #51049
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-02 07:18] amanmcse commented on #51518
@mwwhited The document includes steps for both legacy and new app registration experience. For new experience, you need to click on the **App registration (preview)** tab, as highlighted below:

![image](https://user-images.githubusercontent.com/33834131/78220511-4f964a80-74df-11ea-899b-d093c619d29c.png)

Also, http or https redirect urls can be used for proxy identity experience native app.

Plea

[2020-04-02 07:22] sheeeng commented on #51453
Yes. I have completed all the required prerequisite steps as described in the documentation.

[2020-04-02 07:23] tcetco commented on #38706
Most appropriate article about how to configure application gateway with AAD authentication for the backend  web app - https://blogs.msdn.microsoft.com/waws/2017/11/21/setting-up-application-gateway-with-an-app-service-that-uses-azure-active-directory-authentication/

[2020-04-02 07:25] ram-msft commented on #51489
@jross1012 Thanks for the feedback. We will update you shortly.

[2020-04-02 07:27] mike-urnun-msft commented on #51036
@rcg-dev Thanks for providing the URL of the specific doc, and sharing this feedback to help us drive improvements towards MS Docs. I've created a PR that updates the doc with the necessary details and the changes should be live within the next 24 hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the d

[2020-04-02 07:27] #51036 closed

[2020-04-02 07:32] dcurwin commented on #51434
#reassign:SujayJDesai

[2020-04-02 07:33] dcurwin commented on #51435
#reassign:SujayJDesai

[2020-04-02 07:35] MaduraDias commented on #51138
@SumanthMarigowda-MSFT Thanks for the reply. Which versions of the Azure.Storage.Blobs and Azure.Identity nuget packages are used in your sample ?

[2020-04-02 07:37] BharathNimmala-MSFT commented on #51109
@frilkieg Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be more than happy to reopen the thread and continue the conversation. Thank you

[2020-04-02 07:37] #51109 closed

[2020-04-02 07:39] lee-anne opened #51523 "VPN Routes"
Please point in a direction where I can add VPN Routes
I tried to do in the xml file but that is not working - also I would prefer to do this centrally so it is pushed to clients.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d-6f14f62e1119
* Version Independent ID: b62b5b8f-bc88-0868-a2f6-1020a5