[2018-04-04 12:10] Blackmist commented on #6678
Thanks for the kind words @rlauriston and @MicahMcKittrick-MSFT !

[2018-04-04 12:27] willmorgan opened #6698 "Please detail a tested, valid, real world example of a log search alert webhook body"
Both documentation examples are invalid JSON and are of different data shapes. Notably, the format of the webhook appears to be different to that of standard Azure Alerts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1390bec-bae0-2fe7-a29c-a242584fd7b3
* Version Independent ID: 27892ee4-2ec3-ea70-f747-80a9bc914fd7
*

[2018-04-04 12:29] nikolayyordanov commented on #5345
This code is not relevant anymore. The latest stable version is 4.1.xxx

[2018-04-04 12:34] mvark opened #6699 "limit on the amount of data you can back up to a vault"
I find these 2 statements in the article contradictory & confusing -
- There is no limit on the amount of data you can back up to a vault.
- Azure Backup restricts the maximum size for the data source, however, these limits are large.

If there is in fact a large maximum limit on how much data can be backed up based on data source, how can it be said that "there is no limit on the amount of data y

[2018-04-04 12:42] georgewallace commented on #6598
@femsulu This doc was updated the other day for other reasons. There was an incorrect section with reference to activities that was removed.

[2018-04-04 12:47] JamesTStanley opened #6700 "Left nav heading wrong for this article"
This article is about expanding memory capacity, but in the left nav tree it refers to expanding storage capacity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cd6c7c6-2d29-e3d7-bd8d-142cd7726f06
* Version Independent ID: dfceffce-0831-507f-c8d1-e99f2e7691e6
* Content: [Manage physical memory capacity for Azure Stack

[2018-04-04 12:58] jrochet opened #6701 ""Host Caching" setting on Standard storage disks"
I would like to know if Standard storage disks simply ignore the "Host Caching" setting found on a VM (in the Portal under VM's -> [VM Name] -> Disks.  Does this setting only have effect if the disk is using Premium storage?

If that is the case, then I believe the recommendation for domain controllers running on Azure VM, to move the AD database/logs and SYSVOL to a data disk with caching turned

[2018-04-04 13:17] jrochet opened #6702 "Option D - Get MFA from Azure Identity Protection?"
It seems like the Azure Identity Protection product is aware of and doing things with MFA, but it is not mentioned in any of the MFA documentation.  I think it would be beneficial to include Azure Identity Protection's MFA-related offerings in this documentation, or remove those features from that product if it won't be documented.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-04-04 13:24] MicrosoftGuyJFlo commented on #6702
@jrochet thanks for the feedback! I am working on the MFA docs and this is one of the first things that will get added. The process will take a little while but I hope you will pardon the dust as I work on getting all of the docs updated.

Going forward we will be recommending that MFA is triggered via Conditional Access policies and/or risk as evaluated by Azure Identity Protection if enabled.

[2018-04-04 13:26] MicrosoftGuyJFlo commented on #6702
#in-process

[2018-04-04 13:27] jrochet commented on #6702
That was fast!  Thanks very much.

[2018-04-04 13:28] MicrosoftGuyJFlo commented on #6702
Welcome to the new Microsoft Docs. We try to stay on top of comments.

[2018-04-04 13:34] reinoutD opened #6703 "Fair Share"
Does an Hybrid runbook also has the restriction of running for 3 hours and then resume (3 times) or can it run for more hours? We have 50.000+ objects to query (mailboxes) but it takes to long to query them all in the given 3 hours..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a21ca143-2f33-5cea-94a8-ace7e9de5f9c
*

[2018-04-04 13:52] snehaamicrosoft commented on #6642
@kikofarad You can find details regarding the URLs that need whitelisting here: https://docs.microsoft.com/en-us/azure/migrate/concepts-collector#collector-pre-requisites . Hope this helps

[2018-04-04 13:53] snehaamicrosoft commented on #6643
@kikofarad You can find details regarding the URLs that need whitelisting here: https://docs.microsoft.com/en-us/azure/migrate/concepts-collector#collector-pre-requisites . Hope this helps

[2018-04-04 14:08] valentijnscholten opened #6705 "Group type missing from screenshots"
Hi,

In my Azure AD the first field (before group name) is "Group Type". I need to choose between "Security" and "Office 365".
Could you clarify which one should be selected?
I think both work fine to create a group and to apply conditional access policies.
However when the group type is set to Office 365, it will send a welcome mail to new guests and all guests can (more or less?) see the other m

[2018-04-04 14:31] Brenduns commented on #6694
#in-progress

[2018-04-04 14:32] Brenduns commented on #6694
@RedBa Thanks for the heads up on that link.  The underlying markdown had not changed from previous doc builds, but something went wrong in the last build it seems.

I have submitted a minor edit to change the link style to a more explicit link, which will force an update and resolve this. That should be live later this morning.

Thanks!

[2018-04-04 14:33] Brenduns commented on #6694
#please-close
Issue is fixed in build recently submitted to publishing queue.

[2018-04-04 14:44] aydeisen opened #6706 "PowerShell/WMI Example for configuring BCD settings"
To make it easier to configure multiple images for upload, is it possible to have an example on how to configure the BCD settings using PowerShell via WMI?
https://msdn.microsoft.com/en-us/library/windows/desktop/aa362675(v=vs.85).aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a825bf42c82f

[2018-04-04 14:44] markl11 opened #6707 "Disabling BGP route propagation - unidirectonal or bidirectional??"
Hi, the 'The Disable BGP route propagation option prevents on-premises routes from being propagated via BGP to the network interfaces in any subnet that the route table is associated to.' statement seems to indicate that BGP propagation is disabled undirectionally by this feature  - ie. that propagation of BGP routes from on-prem to network interfaces belonging to VMs in a subnet (in a VNet), but

[2018-04-04 14:58] AksanaKuzmitskaya commented on #6654
az cli doesn't have ml module and the same cloud shell.

[code]

[2018-04-04 14:58] larryms opened #6708 "Last edited date of this page is 08/22/2018, which is wrong"
Last edited date of this page is 08/22/2018, which is in the future!  Screenshot:  https://1drv.ms/u/s!AqBd315TFwnOjpp99duRFN_BpNytPg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 086e6da1-b8fb-cb5a-e06a-8cccb5a74d56
* Version Independent ID: fd19967a-26a8-3469-f87f-a8a618c1ff2d
* Content: [Capture an image of a Linux

[2018-04-04 15:02] CaffGeek opened #6709 "Bug in scripts"
You assign $app_role_name in step 4 of the example, but then make use of $appRole in step 5, which was not defined

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163a1f88-c268-18aa-a1e6-89b4a11bfb01
* Version Independent ID: 1136a613-48f8-fb67-39d3-d9abdd351a0f
* Content: [Assign a user or group to an enterprise app in

[2018-04-04 15:07] giemch opened #6710 "Join link"
The join link goes to a page with no content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41dcdb9d-ab1f-5703-8d0f-20e14615a564
* Version Independent ID: 119e189e-b035-e0d0-d093-c576af68917a
* Content: [Analytics - the powerful search and query tool of Azure Application Insights](https://docs.microsoft.com/en-us/azur

[2018-04-04 15:12] AksanaKuzmitskaya commented on #6654
I found [What's New in Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/preview/azure-machine-learning-release-notes) article and will try to reinstall Azure ML Workbench.

Use the --docker-file myDockerStepsFilename flag and file name with the manifest, image, or service creation commands.

[2018-04-04 15:33] mrbullwinkle commented on #6710
@giemch I just tested and the join link goes to this page: [https://docs.loganalytics.io/docs/Language-Reference/Tabular-operators/join-operator](https://docs.loganalytics.io/docs/Language-Reference/Tabular-operators/join-operator). I tested both internal and external to Microsoft and I am able to resolve that link.

Could you try it again and let me know if you are still having problems? (Are you

[2018-04-04 15:48] mmacy commented on #6577
Hi @willam-gregoire, have the above details helped with your connection issue? If so, we'd love to know so that we can **close out the issue**, if so. If not, please feel free to provide more details about your environment so we can further debug the problem.

[2018-04-04 15:54] giemch commented on #6710
oh, interesting. it comes up with a menu bar and everything else is blank. then after about 5-10 seconds the content pops onto the screen. maybe an issue with the client-side rendering. when i submitted the issue i didn't wait for the content and i assumed it would never show. i'll close, but hopefully the user experience can be improved.

[2018-04-04 15:54] #6710 closed

[2018-04-04 15:59] mrbullwinkle commented on #6710
@giemch no worries at all. Thanks for checking! It was slow loading for me as well. I will ping some folks internally to see if they are aware of the load-time around those pages.

[2018-04-04 16:20] terminal3 opened #6711 "Additional solutions required for removal"
Some earlier versions of the Azure SQL monitoring solution also created automation assets and will need to be removed prior to unlinking the workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cec0eebe-6e3f-fa58-a7c1-d10c7290d8e1
* Version Independent ID: 17fc48b2-795c-43e3-e658-daf24cee824d
* Content: [Unlink Az

[2018-04-04 16:25] netlander1 commented on #6040
Can a Self-hosted Integration Runtime be installed on an Azure VM? Our only need for a self-hosted IR would be cloud based data, and it makes more sense to install that on a Azure VM than an on-prem server.

[2018-04-04 16:28] twooley commented on #6670
#in-progress

[2018-04-04 16:29] twooley commented on #6671
#in-progress

[2018-04-04 16:36] SamGuckenheimer commented on #6666
Perfect. This is exactly the information I needed. I had not understood from the doc that I needed to update the binding separately.

[2018-04-04 16:51] dlepow commented on #6674
@MicahMcKittrick-MSFT - Can you please assign to @neilpeterson? His team owns the ACS tutorial content. Thx, and thank you @davelee212 for pointing this out.

[2018-04-04 16:59] suchiagicha commented on #6078
@nitinkale
Could you the provide the exception you are getting while serializing?
Also share your remoting interface using this type  **TestDto**

[2018-04-04 17:03] DevDavidW opened #6713 "Typo found"
In section https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect#learn-more-about-install-azure-ad-connect, it mentions "You might want to have a stand-by server so you easily can fall over if there is a disaster" (which is funny to read) but the word fall should be fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-04-04 17:05] MicahMcKittrick-MSFT commented on #6679
@smrtRock Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-04 17:05] derekbekoe commented on #6606
@ambakshi Change `/etc/apt/sources.list.d/azure-cli.list` to match your distro (so xenial) then run `apt-get update`. This will pull down the xenial version of the CLI. Then, the extension add should work.
See my comment at https://github.com/Azure/azure-cli-extensions/issues/65#issuecomment-366270381

[2018-04-04 17:06] MicahMcKittrick-MSFT commented on #6695
@hisasima Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-04 17:07] JohnMiner3 opened #6714 "Shared Drive Example Has 3 Bugs"
1 - First, the "wb" option will not work with a text string since it is looking for a binary object.
2 - I would use f1 and f2 a file handles.  Do not want to cross the handles.
3 - In example 2, you define file handle named f but read with "file.read".  This does not work.  Change to "f.read"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-04-04 17:08] Adam-Smith-MSFT commented on #6699
@mvark Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-04 17:08] MicahMcKittrick-MSFT commented on #6701
@jrochet Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-04 17:09] MicahMcKittrick-MSFT commented on #6706
@aydeisen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-04 17:10] MicahMcKittrick-MSFT commented on #6708
@larryms Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-04 17:12] MicahMcKittrick-MSFT commented on #6599
@anshuman-nath any update? Can you provide some additional details as requested by @jimdial

[2018-04-04 17:12] koreyb-MSFT commented on #6680
@KirkMunro Thank you for the suggestion!  We have assigned this to the content manager for review.

[2018-04-04 17:13] MicahMcKittrick-MSFT commented on #6654
@AksanaKuzmitskaya thanks for clarifying.

@tedway can you take a look and advise on this one?

[2018-04-04 17:15] vasivara-MSFT commented on #6690
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-04 17:16] jimdial commented on #6599
I updated the screenshot so it's correct, but also added a little text to steps 6-8 adding some clarity as to which computer each of the commands should be run from. As long as the commands are run on the computers, as, now more clearly listed in the article, they should complete without error, but please let us know if you're still having issues.  Thanks.

[2018-04-04 17:16] vasivara-MSFT commented on #6689
Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-04 17:17] MicahMcKittrick-MSFT commented on #6599
@jimdial thank you!

@anshuman-nath I will close this out for now but if you are still having issues please come back and let us know and we can continue.

[2018-04-04 17:17] #6599 closed

[2018-04-04 17:24] koreyb-MSFT commented on #6700
@JamesTStanley Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-04 17:27] vasivara-MSFT commented on #6690
@lzandman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-04 17:27] koreyb-MSFT commented on #6707
@markl11 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-04 17:29] jimdial commented on #6707
#in-process

[2018-04-04 17:31] MohitGargMSFT commented on #6705
@valentijnscholten Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-04 17:33] BryanTrach-MSFT commented on #6130
@sreelekhaWoonna Since we haven't heard from you recently, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-04 17:33] #6130 closed

[2018-04-04 17:34] MohitGargMSFT commented on #6709
@CaffGeek Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-04 17:34] jasonwz opened #6716 "Considering to use Augmented Security Rule to handle all the Microsoft public IP ranges"
For "Outbound connectivity for IP address ranges", instead of creating individual NSG rules for each IP range, maybe we can change the script to create much fewer augmented security rule to include multiple/all the IP segments (one per region, maybe)
Thanks,

Jason Wang

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa

[2018-04-04 17:39] cynthn commented on #6708
#in-progress @larryms thanks for catching that!

[2018-04-04 17:43] MikeBarker-MS opened #6717 "Incorrect container name"
The previous step (1 - Upload and retrieve image data in the cloud) creates the blob container "thumbnails" but this documentation refers to "thumbs".  (See section Configure the function app)

The configuration should be updated to "thumbnails"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f28

[2018-04-04 17:51] andrew-dinunzio opened #6718 "TLS doesn't work"
I tried following these instructions, and I think I followed them exactly, but when I visit the https:// version, my browser says it's insecure, and the certificate being used is "Kubernetes Ingress Controller Fake Certificate".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Versi

[2018-04-04 17:53] MikeBarker-MS opened #6719 "thumbs -> thumbnails"
Section "Set container public access" refers to "thumbs" this should be "thumbnails".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be6225e2-f996-0240-ec57-bb601e0e490d
* Version Independent ID: 02e61a77-e74d-a9ef-cccc-d59e8e26f8b9
* Content: [Secure access to an application's data in the cloud with Azure Storage](htt

[2018-04-04 17:55] cephalin commented on #6666
@SamGuckenheimer Thanks for that feedback. I'm tracking it internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1227254

[2018-04-04 17:55] KumudD commented on #6391
Fixed the broken link. Thanks!
#please-close

[2018-04-04 18:08] MisinformedDNA opened #6720 "`Ocp-Apim-Subscription-Key` is missing"
The documentation says:

That header is not being automatically added for me. I deleted the API and recreated it, but got no further. I tried both Azure and Developer portals and neither works without the subscription key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76ca8cff-348b-5595-1c3a-f319d606f82e
* Version Ind

[2018-04-04 18:13] spottedmahn commented on #5806
I agree with @S1r-Lanzelot, can we please get an update?

According to [aadgraphteam/2016/07/08/microsoft-graph-or-azure-ad-graph/](https://blogs.msdn.microsoft.com/aadgraphteam/2016/07/08/microsoft-graph-or-azure-ad-graph/)

That was almost 2 years ago 😜!

[2018-04-04 18:14] spottedmahn opened #6721 "Move Sample to Azure-Samples Account"
All of the other B2C samples are in https://github.com/Azure-Samples, it would seem the [B2C-GraphAPI-DotNet](https://github.com/AzureADQuickStarts/B2C-GraphAPI-DotNet) project should be moved there to be consistent, no?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Version Indep

[2018-04-04 18:15] eliassal commented on #6639
OK, Ian, I created the machine without specifying the username or password. I did (on Centos VM)

recived the following message

which I did and then was able to issue commands successfuly,one of them is creating the test linix Ubuntu machine. I opened putty, I get a black screen indicating
Log as (snapshot hereunder) I tried using my email with wuich I log to the portal but it did not work.
![ssh

[2018-04-04 18:17] Mike-Ubezzi-MSFT commented on #6376
@rfigueroa We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-04 18:17] #6376 closed

[2018-04-04 18:20] femsulu commented on #6687
@dcbrown16 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-04 18:24] dustinadam opened #6722 "Guidance for MS-Organization-Access certificates, transitioning from Azure AD Registered to Hybrid Joined"
We have completed a transition from Azure AD Registered Workstations to Hybrid Joined (all Windows 1709). Historically with Azure AD Registered workstations (Synced using AD Connect), Azure would issue an "MS-Organization-Access" certificate to the MY (Personal-User) certificate store, this certificate was then accessible by all our standard browsers: Edge, IE and Chrome. We could then pass Device

[2018-04-04 18:25] MicahMcKittrick-MSFT commented on #6639
@eliassal you can refer to this doc on how to connect using keys

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ssh-from-windows

[2018-04-04 18:26] georgewallace commented on #6691
@timrxtx Thank you so much for finding this issue. I have ran the example and was able to repro your issue.  I am updating the config sample and screenshots to a successful config that compiles. I will let you know when the changes are live so you can test and confirm it works for you as well.

[2018-04-04 18:31] Juliako commented on #6720
@MicrosoftDocs/azure-cxp-triage Can you please reassign this issue to @vladvino.

[2018-04-04 18:32] femsulu commented on #6698
@willmorgan Thanks for the comment. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-04-04 18:32] Mike-Ubezzi-MSFT commented on #6596
[1.21.0.6 Released on March 27, 2018](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#12106-released-on-march-27-2018)

"In addition to updating Emulator services for parity with Cosmos DB cloud services, we've included one new feature and two bug fixes in this release."

Upgrading to this latest emulator revision should provide you the functionality you are seeking. In terms of pr

[2018-04-04 18:34] MicahMcKittrick-MSFT commented on #6646
Thanks for the update @fhe-fr. I have reached out to @aashishb offline to see if they can help on this or if we need to have you contact support. Will update shortly.

[2018-04-04 18:35] MicahMcKittrick-MSFT commented on #6590
@carct thanks for the update. I have reached to @danielsollondon offline to see if he can assist on this or if it is something we need to have you contact support for. Will update shortly.

[2018-04-04 18:37] dlepow commented on #6656
@PoisonousJohn - Thanks for the helpful feedback to broaden the code samples in this article to include Python and possibly other languages. We've captured a doc work item to add this in the near future. In the meantime, you might find the Python code snip in this [StackOverflow post](https://stackoverflow.com/questions/46756780/azure-batch-pool-how-do-i-use-a-custom-vm-image-via-python) relevant

[2018-04-04 18:38] femsulu commented on #6703
@reinoutD  Thanks for the response. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-04-04 18:39] Mike-Ubezzi-MSFT commented on #6663
@LuisBosquez The section: [Clone the sample application](https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-dotnet#clone-the-sample-application), needs to be corrected to use 3.3.1 (Step 5).

[2018-04-04 18:43] #6656 closed

[2018-04-04 18:46] femsulu commented on #6711
@terminal3 Thanks for the response. Your feedback has been shared with the content owner. We will get back to you shortly.

[2018-04-04 18:48] MicahMcKittrick-MSFT commented on #6706
@aydeisen I have assigned this to the content author to review and consider adding that to the doc.

@timlt I have assigned you as it will not allow me to assign @Glimoli

[2018-04-04 18:50] MicahMcKittrick-MSFT commented on #6679
@smrtRock Agree that if running these commands on a local PowerShell instance than the user is required to login. However if running from [Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/overview) this is not necessary.

I have assigned this to the content author to consider adding that information into this doc.

@davidmu1 can you please take a look?

[2018-04-04 18:54] MicahMcKittrick-MSFT commented on #6701
@jrochet standard storage will not ignore the host cache settings. These apply the same way as they would for Premium disks. You likely do not see that information in this doc as this doc is specific to Premium Storage Performance.

I will close this out but if you need further clarification or question please reopen and we can continue :)

[2018-04-04 18:56] KumoJosh commented on #5806
Agreed :)
On the https://aka.ms/aadb2cfeedback site, I couldn't find any update related to this issue.  We are developing functionality as we speak to programmatically integrate with Azure B2C so it would be great to get some guidance on when this would be available so we can plan appropriately.

[2018-04-04 18:57] MicahMcKittrick-MSFT commented on #6696
@JoNevi Thanks for the question! We are investigating and will update you shortly.

[2018-04-04 18:57] curtand commented on #6467
@NCSTman
My PM is out right now. I have the backlog item for Teams, and I'll contact you again using this Github issue as soon as I get your answer.
#please-close

[2018-04-04 18:58] MicahMcKittrick-MSFT commented on #6718
@andrew-dinunzio Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-04 19:01] whytoe opened #6724 "Doesnt describe how to use the details block with tags"
Microsoft_Azure_Policy resource
In the Field Resource tags is a valid object, I previously had "test" in there to figure out how to use the details block but I got an error and change the value to the suggestion Microsoft.WindowsAzure.ResourceStack.Frontdoor.Data.Entities.Tags.TagsDictionary.

 "details": [
        {
          "field": "tags",
          "value": "Microsoft.WindowsAzure.ResourceSta

[2018-04-04 19:04] jeevansd commented on #6325
@sspage Let me reach out to FreshDesk contacts and then we will update the instructions on the article again.

[2018-04-04 19:05] spottedmahn commented on #5806
Hi @KumoJosh - see this item: [Programmatically register B2C applications](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19975480-programmatically-register-b2c-applications).  Or this item: [Programmatically manage B2C policies](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/20342455-programmatically-manage-b2c-policies).

Neither one of t

[2018-04-04 19:10] KumudD commented on #5729
As per the service team, you can use either HTTP and HTTPS and the doc is accurate. Thanks!

#please-close

[2018-04-04 19:16] another1s opened #6727 "meeting numerous compiling error when following the instruction"
as i said on the title, i just followed the instruction but i met a chain of compiling error (20 in total)
like :
Severity	Code	Description	Project	File	Line	Suppression State
Error (active)	E0020	identifier "connect" is undefined
Severity	Code	Description	Project	File	Line	Suppression State
Error (active)	E0020	identifier "execute" is undefined
.................
i thought it might be the problem

[2018-04-04 19:25] NCSTman commented on #6467
@curtand
Got it, thanks. I really hope my ask is possible somehow.

[2018-04-04 19:25] #6467 closed

[2018-04-04 19:29] Ayanmullick opened #6728 "Patch schedule start and completion notification"
Given that there is no way to suppress post-patch restarts for now, is there a way to trigger an email notification upon the start and completion of a patch schedule?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db47901d-1664-058d-9407-47e932dc9661
* Version Independent ID: e90ec9ee-e7da-4f19-248f-4c825aaa8b9f
* Cont

[2018-04-04 19:29] roygara commented on #6594
#in-progress

[2018-04-04 19:32] another1s commented on #6727
i find where might be the mistakes
 pstmt>setString(1, "orange");
for example , all the > should be replaced by ->
and at the end of the program, there should be a "}" to make it completed

[2018-04-04 19:38] kringen commented on #6565
This is exactly what I needed.  Thank you so much for responding.

[2018-04-04 19:38] curtand commented on #6467
@NCSTman

I'm sorry, it's not possible. Apparently that's the real meaning behind Note #3 "This rule cannot be combined with any other advanced rules." in other words, you only get to do it once.

[2018-04-04 19:40] MohitGargMSFT commented on #6553
@rrvenki Thanks. I am assigning this issue to author to check on your feedback to add screenshots to this document to provide further clarity on steps.

Regarding the issue you mentioned, please open a new Stackoverflow or MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
[https://social.msdn.microsoft.com/Forums/azure/en-US/

[2018-04-04 19:46] femsulu commented on #6724
@whytoe  Thanks for the response. Your feedback has been shared with the content owner to review and take necessary corrective action.

[2018-04-04 19:47] ajlam commented on #6727
Hi @another1s, thanks for filing the issue. Did adding the missing "}" and updating ">" to "->" in all cases seem to fix the problem?

#in-progress

[2018-04-04 19:49] femsulu commented on #6728
@Ayanmullick Thanks for the Feedback. This has been shared with the content owner to further review.

[2018-04-04 19:49] another1s commented on #6727
the code is still confusing , cause when i use the odbc authentication string , the program said that it "cannot connect to an unknown host"
i hope someone could tell me what the proper form of the host name is

[2018-04-04 19:50] KumoJosh commented on #5806
Specifically those ones are what we are looking for.  We want to create users in the Azure B2C directory from another app that gives users access to a separate portal where B2C is the authentication layer for that portal.  That guidance is helpful.  Thanks, we need to do it now so we will write against the Azure AD Graph API for now.

[2018-04-04 19:54] NCSTman commented on #6467
I was afraid of that, missed opportunity. Is it possible to add it to a feature request for the team that works on this feature?

Furthermore do you know what the 'inputs' of the dynamic memberships are modeled after? To me it looks like it takes a lot of properties from Get-AzureADUser (hence why I'm sad I can't just pull manager property that exists in the EAC's get-user) but I believe not every

[2018-04-04 19:57] MicahMcKittrick-MSFT commented on #6646
@mwinkle can you assist on this? @aashishb is out of office through next week.

[2018-04-04 20:03] aejmelaeus opened #6730 "Event handlers and arrays of messages"
I have been trying out the Event Grid and webhooks. The webhooks are notified with an array of messages. From what I have been seeing there always is one message per call. Are there situations when a webhook delivery could contain several messages?

Cheers

Weikko

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 260729d3

[2018-04-04 20:08] mattbriggs commented on #6700
![image](https://user-images.githubusercontent.com/1634646/38331823-3b1adeb4-3809-11e8-81a3-169b082b232f.png) Thanks! updated. #please-close

[2018-04-04 20:16] ajlam commented on #6727
@another1s, let me work on refactoring the code and get back to you.

[2018-04-04 20:27] georgewallace commented on #6703
@reinoutD The 3 hour restriction is only on Azure sandboxes, not for hybrid runbook workers.  After 3 restarts of the job in case of failure the job will still suspend on hybrid runbook workers.  So time is not a limit on hybrid runbook workers but careful consideration is needed when writing your runbooks to ensure that they handle transient failures, etc to ensure they can run for that time. I a

[2018-04-04 20:28] bandersmsft commented on #6724
#in-process
I'm looking in to this with the engineering team.

[2018-04-04 20:30] MisinformedDNA opened #6731 "Navigate to your APIM instance"
The section "Navigate to your APIM instance" is in every single tutorial. This seems very unnecessary. We shouldn't need a reminder of how to use basic Azure features. Maybe just tutorials 1 and 2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c291712-a66b-49d6-103d-7aacdf952940
* Version Independent ID: 93fdefc8-18a

[2018-04-04 20:45] mattchenderson commented on #6553
@cephalin is currently working on an overhaul of the auth content. CC @SyntaxC4

For this particular issue, I'm not sure what would cause a 401 in VS. To me, that sounds like you are using a framework library, and that probably does things a little differently than the platform feature described by this documentation. In general, this feature does not work locally.

[2018-04-04 20:46] BryanTrach-MSFT commented on #6563
@tysonn We received feedback for SQL docs on Twitter. Can you look at how we should record this feedback and who should see it?

[2018-04-04 20:57] #6565 closed

[2018-04-04 21:01] davidmu1 commented on #6477
@spottedmahn Michael, can you be more specific about information that you think should be added to this article to more fully describe the DSL?

[2018-04-04 21:06] davidmu1 commented on #6487
@spottedmahn Michael, I am working on rewriting  the overview and doing some restructuring of the table of contents for B2C, which includes a new collection page for samples. I propose that I add this sample to the samples page and close this issue on the overview page. Sound reasonable?

[2018-04-04 21:25] vasivara-MSFT commented on #6689
@RoopAnymous As you state backfill scenarios are not supported for schedule trigger. In the [document](https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-schedule-trigger), if you navigate to _startTime property_ section. It explains what happens when you configure a backfill scenario. it will actually calculate the first future execution time after the start time and runs at that t

[2018-04-04 21:26] tfitzmac commented on #6137
#please-close

[2018-04-04 21:26] pilor commented on #6724
We'll improve the "effect" documentation to make this more clear.  In the meantime there is a sample policy that appends tags available here:  https://docs.microsoft.com/en-us/azure/azure-policy/scripts/apply-tag-def-val

Its parameterized which may make it look more complex than it is.  The syntax you are looking for is either:
{
   "field": "tags.tagName",
   "value": "tagValue"
}
or
{
   "field

[2018-04-04 21:27] BryanTrach-MSFT commented on #6450
@TechnicallyWilliams Since we haven't heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. Please tag me in any proceeding comments.

[2018-04-04 21:27] #6450 closed

[2018-04-04 21:33] bandersmsft commented on #6724
@whytoe Does that help for now? If so, are we good to close this issue?

[2018-04-04 21:35] spottedmahn commented on #6487
Hi @davidmu1 - sounds great!

cc: @gimly

[2018-04-04 21:35] #6487 closed

[2018-04-04 21:36] spottedmahn commented on #6539
great, thanks @davidmu1

[2018-04-04 21:45] MohitGargMSFT commented on #6693
@yuuki247 csanalyzer.ps1 is taking all the properties from the export xml generated as part of verify step. If the property in not present in xml it may not be part of script output. If you want to check upn please use Get-ADUser command, as part of the properties you will find UserPrincipalName. Refer to this document for details regarding [Get-ADUser](https://docs.microsoft.com/en-us/powershell/

[2018-04-04 21:54] MohitGargMSFT commented on #6705
@valentijnscholten Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-04 21:58] SteveMSFT commented on #6595
Our samples are written in C# and we do not have this sample code in Java.

[2018-04-04 22:01] MohitGargMSFT commented on #6709
@CaffGeek If you refer to script in step 3 of this section of document - [How do I assign a user to an enterprise app using PowerShell?](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-coreapps-assign-user-azure-portal#how-do-i-assign-a-user-to-an-enterprise-app-using-powershell) , the value to $approle variables is getting assigned using value passed in $app_role_name.

[2018-04-04 22:01] zhiweiwangmsft commented on #6314
@yadcam
Thanks, Health Service data is not up to date is not self resolved for 72 hours. There are only a few of our alerts are timed. You can follow steps in: https://docs.microsoft.com/azure/active-directory/connect-health/active-directory-aadconnect-health-data-freshness

[2018-04-04 22:05] SteveMSFT commented on #5393
Hi @ezio2907,

Here is a comprehensive list of samples for our face scenarios -

https://github.com/Microsoft/Cognitive-Samples-IntelligentKiosk

Thanks!

[2018-04-04 22:13] MohitGargMSFT commented on #6713
@DevDavidW Thanks for reporting! I have made necessary edit in the document. The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-04-04 22:13] #6713 closed

[2018-04-04 22:25] MicahMcKittrick-MSFT commented on #6696
@JoNevi The Cloud Shell is only designed to handle ARM resources. Cloud Services are considered a classic resource and hence will not work because they use a different set of command-lets .

You will need to use a local PowerShell instance to get this data. From there you would run the following:

`Add-AzureAccount`
`Get-AzureRoleSize`

I will close this out but if you have further questions feel

[2018-04-04 22:25] #6696 closed

[2018-04-04 22:36] MohitGargMSFT commented on #6721
@spottedmahn Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-04 22:45] garthk commented on #6682
Thanks, @MohitGargMSFT. More detail:

* Clicking “Azure Active Directory” under “Favourites” in the left hand nav bar gets you to the not-useful “Overview” tab

* Clicking “All resources” under “Favourites” in the left hand nav bar gives you a different view with a much more useful “Overview” tab containing both the “Required configuration steps” panel with the DNS information and also, if you cli

[2018-04-04 22:54] dkkapur commented on #6005
@srrengar good feedback for you!

[2018-04-04 22:59] CaffGeek commented on #6709
I see where in the script, but at the bottom, you have example steps, 5 of them, starting with "This example assigns the user Britta Simon to the Microsoft Workplace Analytics application using PowerShell."

you set $app_role_name in step 4...then in step 5, it uses $appRole, which hasn't been set in the example steps 1-5

[2018-04-04 23:08] BryanTrach-MSFT commented on #6717
@MikeBarker-MS Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-04 23:10] MicahMcKittrick-MSFT commented on #6718
@andrew-dinunzio I followed the document and at the end I was able to see that I was provided a certificate from Let's Encrypt Authority:
![image](https://user-images.githubusercontent.com/32313503/38339308-6b92a072-3822-11e8-909b-1e493040a62f.png)

So I am thinking you might have missed a step. Previously to trying this doc I followed **[this](https://docs.microsoft.com/en-us/azure/aks/kubernetes

[2018-04-04 23:27] BryanTrach-MSFT commented on #6717
@MikeBarker-MS We agree with your feedback. The document has been updated and the changes should be viewable shortly. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-04 23:27] #6717 closed

[2018-04-04 23:30] kobulloc-MSFT commented on #6731
@MisinformedDNA Thank you for pointing this out.  I'm going to assign this to the author for review.

[2018-04-04 23:35] SyntaxC4 commented on #6688
related to #6584

[2018-04-04 23:43] kobulloc-MSFT commented on #6722
@dustinadam Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-04 23:47] kobulloc-MSFT commented on #6714
@JohnMiner3 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-04 23:48] Montesdodgers13 opened #6738 "Owner"
Self Employed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48bab424-986d-9922-ec2d-942508081367
* Version Independent ID: 6e9b3ebd-0571-357e-0fde-ef434a728a24
* Content: [Create and upload a Red Hat Enterprise Linux VHD for use in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/redhat-create-uplo

[2018-04-04 23:49] kobulloc-MSFT commented on #6730
@aejmelaeus Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-04 23:52] #5729 closed

[2018-04-04 23:52] #5932 closed

[2018-04-04 23:53] #6137 closed

[2018-04-04 23:53] #6391 closed

[2018-04-04 23:53] #6700 closed

[2018-04-04 23:54] mathieuisabel opened #6739 "Typo"
Just noticed a typo in the article: AlwasyON should probably read Always On. See:  https://docs.microsoft.com/en-us/sql/database-engine/availability-groups/windows/overview-of-always-on-availability-groups-sql-server

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-4448-11b7-2dc2-3b738bd70939
* Version Independe

[2018-04-04 23:54] georgewallace commented on #6691
@timrxtx The changes to the config and screenshots have been made and are live here https://docs.microsoft.com/en-us/azure/automation/automation-dsc-getting-started . If you are good with this please close the issue.  We have reached out to confirm if WebServer is a reserved term in Azure Automation DSC, as the old config compiled correctly on a local machine.  We will track that separately. Now t

[2018-04-05 00:07] neilpeterson commented on #6718
@andrew-dinunzio you may be able to pinpoint the issue by by pulling logs from the kube-lego pod. To do so, get a list of pods:

[code]

and pull the logs from the pod running kube-lego:

[code]

Let us know the result and we can assist.

[2018-04-05 00:07] BryanTrach-MSFT commented on #6666
@SamGuckenheimer Thank you for the feedback. The doc author has added a task to their backlog to review the document and update information on renewing/rotating certs as necessary. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-05 00:07] #6666 closed

[2018-04-05 00:11] zhang-hua commented on #5976
When I try to create a new "Azure Stream Analytics Application" project in VS 2017, it always reports an error "The imported project "c:\Users\xxx\AppData\Roaming\Microsoft\DataLake\Msbuild\1.0\StreamAnalytics.targets was not found. Confirm that the path in the <import> declaration is correct, and that the file exists on disk. c:\users\xxx\AppData\Local\Temp\i321202m.zjd\Temp\ASAAppliction1.asapro

[2018-04-05 00:13] neilpeterson commented on #6674
@davelee212 - thanks a bunch for catching this. The doc will be updated shortly. At that time, this issue will auto close.

[2018-04-05 00:25] neilpeterson commented on #6635
@MicahMcKittrick-MSFT - sorry for the delay, just returning from vacation. I may be able to help, but am going to pull in @iainfoulds as well.

Iain, any thoughts on how to expedite a fix here? I can work through it but will take some ramp time.

Thanks.

[2018-04-05 00:27] neilpeterson commented on #6525
@jianhuatian - I am going to have this issue closed. If you have addiditonal questions feel free to re-open, create a new request, or contact me directly on Twitter @ + nepeters.

#please-close

[2018-04-05 00:33] MohitGargMSFT commented on #6709
@CaffGeek Got you, the problem is in example at Step 4, run of this command is missing as Step5 will fail without this -
$appRole = $sp.AppRoles | Where-Object { $_.DisplayName -eq $app_role_name }

I will work to add that in document. Thanks.

[2018-04-05 00:37] beneuto opened #6740 "Throughput skew"
I write all documents to Cosmos with a GUID generated on the fly.   The Storage metric shows a near perfect distribution but Throughput metric is always skewed with most of the load usually on Partition 0 (not sure if there is some sort of administrative load on that partition).   Queries never use partition key and mostly use generic properties such as date ranges as a filter so something is not

[2018-04-05 00:38] MohitGargMSFT commented on #6709
@CaffGeek The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-04-05 00:38] #6709 closed

[2018-04-05 00:41] MohitGargMSFT commented on #6722
@dustinadam Request you to please provide the link of the document on which above feedback is provided.

[2018-04-05 00:45] kobulloc-MSFT commented on #6719
@MikeBarker-MS Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-05 00:48] kobulloc-MSFT commented on #6716
@jasonwz Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-05 00:55] another1s commented on #6727
@ajlam  cool!
what i have already find is that, the c++ mysql connector code offered by Oracle said the host name should be written as
yourhost_name:port_number
like the following one
 con = driver->connect("tcp://127.0.0.1:3306", "root", "root");
#####################
i thought that is the problem......from the azure website, the authentication string is quite different from what Oracle offer

[2018-04-05 01:13] whozDougie opened #6741 "DDoS Protection Basic"
Hi there, great article on DDoS Protection Standard; so question is what attacks does the Basic tier provide compared to the Standard tier?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f38b1bd-2ab0-71f1-a6e9-925b7af3389d
* Version Independent ID: 9528f5cf-16e1-0550-dc3e-edc135c82167
* Content: [Azure DDoS Protection

[2018-04-05 01:26] JasonWHowell commented on #6549
@rajivmedikonda Thanks for pointing out the issue. Reviewing the history of the github repo for that TollApp, I think the setup script was converted to an ARM template.  I will find out how it works now to update the documentation.

For now, please review the text in this page on the sample repo here:
https://github.com/Azure/azure-stream-analytics/tree/master/Samples/TollApp

The ARM template to

[2018-04-05 01:32] ajlam commented on #6186
I'm assuming the telnet comment is related to #6475. My apologies in the delay in getting back to you. I'm following up with my team.

[2018-04-05 01:34] MicahMcKittrick-MSFT commented on #6635
@neilpeterson no worries :) the addition of the $storageType actually does not break anything. But it also does not add anything. So it's not blocking anyone per say.

I am happy to make the fix if we can find the actual doc :)

[2018-04-05 01:41] shahrulazwan commented on #6594
@roygara

To confirm, this is regarding "add a message to a queue" right? I believe the answer is yes but I wanted to be sure.
**Yes, it's regarding add a message to a queue**

To reconfirm (I want to be sure you're getting the latest version), your composer.json is contains the following:

{
"require": {
"microsoft/azure-storage-queue": "*"
}
}
**Yes. That is the exact lines on my composer.json**

[2018-04-05 01:44] neilpeterson commented on #6635
@MicahMcKittrick-MSFT - sorry, blowing through several things post vacation and missed the actual ask here. I can fix this. I am also happy to show you and your team how these samples are configured. Feel free to set up some time and I will walk through the configuration.

To confirm the change would look like this"

From this:

[code]

To this:

[code]

Thanks

[2018-04-05 01:48] hisasima opened #6742 "Customer ASN use 0"
Customer ASN is optional but if we don't use Customer ASN, we must use 0.

But that information is none in this document.

Could you revise this document ?
Ex) Customer ASN is optional, if you don't use Customer ASN, you must input 0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39ff12ef-1abb-2760-2783-522f5e792d25
*

[2018-04-05 01:52] neilpeterson commented on #6635
https://github.com/Azure/azure-docs-powershell-samples/pull/118

[2018-04-05 01:57] ajlam commented on #6475
Answered in #6186:

The reason you're able to telnet and access port 3306 is because you're connecting to our gateway, which sits in front of the Azure DB for MySQL service and is listening to port 3306. The gateway then routes your connection to your MySQL server in the backend. If you try to connect to your server using a client such as MySQL Workbench (without changing firewalls, etc), you shou

[2018-04-05 02:50] georgewallace commented on #6711
@terminal3 Thank you for contributing to our docs, I am adding a note in the appropriate article to call out the solution you mentioned as well as others to ensure people know that the list is not only inclusive of the items we list in the article. These changes should be live by tomorrow morning and I will provide the url.

[2018-04-05 03:27] myusrn commented on #6163
fyi, received a pointer from other channel that deleting adfV2 triggers can be accomplished in UI using azure portal <adfV2 instance> | author & monitor | author | triggers [ bottom left just below connections ] | <your trigger > | actions | delete

[2018-04-05 03:36] myusrn commented on #6117
fyi, received a pointer from other channel that deleting adfV2 triggers can be accomplished in UI using azure portal | author & monitor | author | triggers [ bottom left just below connections ] | actions | delete

[2018-04-05 05:51] hastarin opened #6744 "Or in code, set it on the QuickPulseTelemetryModule:"
And how do I obtain a reference to that module?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3307edb-b27c-a0b9-ff1e-610630c98c15
* Version Independent ID: 20262b8a-31ff-4df9-dd05-859001f24eba
* Content: [Live Metrics Stream with custom metrics and diagnostics in Azure Application Insights](https://docs.microsoft.com

[2018-04-05 05:59] sramareddi opened #6745 "azure cli java function app failing to deploy to azure"
I am deploying the Azure CLI Java function to azure cloud but getting the below error message:
I am using "mvn azure-functions:deploy" . I was able to do man clean package and run locally fine. but when deploying to azure as function app, getting the below error.

Cannot read files /Users/sramared/.azure/azureProfile.json and /Users/sramared/.azure/accessTokens.json. Are you logged in Azure CLI?
[

[2018-04-05 06:05] AntonioSpalluto opened #6746 "How to debug connection timeouts?"
Hi all,

We are experiencing a lot of connection timeouts posting to the HTTP data collector, and it’s not clear if the issue is related to the data usage or some temporary connection issue.

Here the exception
System.Net.WebException: Unable to connect to the remote server ---> System.Net.Sockets.SocketException: A connection attempt failed because the connected party did not properly respond aft

[2018-04-05 06:07] malopMSFT commented on #6707
Hi Mark

It's only on the VNet/Subnet side, BGP routes coming from on prem are disabled.
For bi-directional, VPN gateway has an option to disable route propagation of VNet routes.

This feature is basically for those customers who wants manual routing and avoid misconfiguration with dynamic routes coming from on premises.

[2018-04-05 06:56] camillagaardsted opened #6749 "VM size recomendations - DS3 and DS2 does not exist any more"
I recall the specs for the DS3 VM was 4 CPUs  and 14 GB RAM, but the machine is not available any more in Azure.  So what's the recommendations now for an enterprise edition - is it the Standard_DS12 with 4 CPUs and 28 GiB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 139dc620-240c-779f-1eed-c12accfe2ef6
* Version In

[2018-04-05 07:09] jtuliani opened #6750 "What about "strongType": "namePattern" ?"
The document states there are 4 supported values for "strongType", namely "location", "resourceTypes", "vmSKUs" and "storageSKUs". However, the sample at https://docs.microsoft.com/en-us/azure/azure-policy/scripts/enforce-match-pattern uses a fifth value, "namePattern".

Is "namePattern" a supported value for "strongType"? If so, it should be documented. Are there any other supported values for "s

[2018-04-05 07:43] timrxtx commented on #6691
No problem, thanks George.

[2018-04-05 07:43] #6691 closed

[2018-04-05 07:47] msvijayn commented on #6698
@willmorgan Kindly elaborate what the issue seen with the webhook from Log Alerts. Since these are query based alerts, their format can not be same as metric alerts. Both log alerts and metric alerts are part of Azure Alerts and usable from Azure Monitor - Alerts section.

[2018-04-05 07:52] vmaruhpe opened #6752 "Please add CLI commands as well"
In addition to PS, please add CLI commands as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f66aa627-50af-2e6f-2151-b24105e4032b
* Version Independent ID: e7318342-f307-28c7-39cd-759a9d8e7368
* Content: [Create an Azure Network Watcher instance](https://docs.microsoft.com/en-us/azure/network-watcher/network-watc

[2018-04-05 07:54] arkoc commented on #6541
Hey, any updates ?

[2018-04-05 08:25] olavt opened #6753 "Should test if msg.body is None before msg.delete"
The example code provided will crash if there is no messages in queue and the receive_subscription_message call times out (after 1 minute by default):
msg = bus_service.receive_subscription_message('mytopic', 'LowMessages', peek_lock=True)
print(msg.body)
msg.delete()

A bette example would be something like this:
msg = bus_service.receive_subscription_message('mytopic', 'LowMessages', peek_lock=T

[2018-04-05 08:30] lvovan opened #6754 "The 2nd bullet point of "When to use phrase lists instead of list entities" is not clear"
The paragraph related to the second bullet point is not clear "another type of entity", and more information about how to articulate ("and then use" - how?) the different concepts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c3e434a-13f9-07b8-294a-34971a205011
* Version Independent ID: 7b525559-5bb4-c82e-84c8-31945

[2018-04-05 09:10] MikeBarker-MS opened #6756 "Incorrect project references in GIT"
The GIT repo branch "sasTokens" references the preview versions of .net core 2.0. This should rather be the released versions.

See also: https://github.com/Azure-Samples/storage-blob-upload-from-webapp/issues/23

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be6225e2-f996-0240-ec57-bb601e0e490d
* Version Independent I

[2018-04-05 09:18] rajashekar2012 opened #6757 "Issue after hosting locally"
I have created a custom demo based on documentation. When I host my files locally it is giving the following error "CancellationToken. Timeout!" and I'm not getting any search suggestions from web service. What could be the issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b2e1157-134d-cf7c-61f9-e70482eba311
* Ver

[2018-04-05 09:42] tarunaroraonline opened #6758 "Doesn't work with shell.azure.com"
Azure:\
PS Azure:\> Get-AzureRmSqlDnsAlias
Get-AzureRmSqlDnsAlias : The term 'Get-AzureRmSqlDnsAlias' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was
included, verify that the path is correct and try again.
At line:1 char:1
+ Get-AzureRmSqlDnsAlias
+ ~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ObjectNo

[2018-04-05 10:02] azkamil opened #6760 "Exporting LTR backups"
Is there any possibility to export LTR backups?
Or is there any possibility to prevent backups from being explicitly deleted?
I am thinking about the case when an administrator account has been compromised.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a40f786f-e6c9-15f5-d80a-b4d4eb7a39f5
* Version Independent ID: 126

[2018-04-05 10:16] Ramji-S opened #6761 "Can't create "Unique Key" constraint in Emulator"
When creating an unlimited collection in Azure portal, we can specify the unique key using "Add Unique Key" option apart from the partition key. This feature is not available when using emulator (V1.21.0.0). Can this be updated ? For documents requiring a custom unique key constraint, this will  be a limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-04-05 10:24] Ramji-S commented on #6596
@Mike-Ubezzi-MSFT Thanks for the update. I just downloaded and I seem be getting the V 1.21.0.0. I still do not see the option to "Execute".

Also I was referring to documentation mentioning that when using emulator, the option to execute will be via SDK. This doesn't block me currently but without the ability to view console logs in SP, its not easy to debug.

[2018-04-05 10:32] CharlPels opened #6762 "Powershell commands to make this work are missing"
Enable the flow log can be done with commands like Set-AzureRmNetworkWatcherConfigFlowLog however there seem to be no parameter for the traffic analysis part aka OMS settings etc.
Do i miss something here or will this be added later? Here is a code sample I use for NSG Flow settings.

$resourceLocation = 'westeurope'
$FlowLogStorageAccountNamePrefix = "flowlogsstorage"

Login-AzureRmAccount
$Subsc

[2018-04-05 10:51] medavamshi opened #6763 "Commands seems to have changed. please find what worked for me below."
Commands seems to have changed. please find what worked for me below.
Register-AzureRmResourceProvider -ProviderNamespace Microsoft.PolicyInsights
$rg = Get-AzureRmResourceGroup -Name ResourcegroupName
$definition = Get-AzureRmPolicyDefinition | where {$_.properties.displayName -eq "Audit VMs that do not use managed disks"}
New-AzureRMPolicyAssignment -Name "Audit Virtual Machines without Managed

[2018-04-05 11:02] kumlien opened #6764 "Docs out of date?"
Hi, seems this pages is slightly ouf of date: after step 2 (click the two paint brushes) there is no list to scroll, there are only 'Styles' and 'Templates' available.
br svante (looking for a way to edit colors for the main div with classes "container layout" btwn 'zone-content' and 'zone-navigation')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-04-05 11:52] NiklasJern opened #6766 "The documenation is contradictory"
On client requirements > Windows it is stated "...Also the Windows agent cannot be managed concurrently by System Center Configuration Manager... "

Since there is an entire session on how to Integrate SCCM with update management this feels a bit contradictory

Maybe its I who is misunderstanding, or a clarification is needed

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-04-05 12:45] dominicbetts commented on #6502
@pankajisgarg - the majority of our IoT Hub sample code on docs currently uses classic desktop applications, to enable people to experiment conveniently from a desktop environment. There are some articles that focus on specific hardware platforms, but typically you should visit the SDK repo for information about support for other platforms: https://github.com/Azure/azure-iot-sdk-csharp

Thanks, Do

[2018-04-05 12:45] dominicbetts commented on #6502
#please-close

[2018-04-05 13:05] jimdial commented on #6752
Thanks. I've added CLI. It will publish later today.

[2018-04-05 13:07] MikeBarker-MS opened #6767 "Diagnostics screen is old"
The diagnostics screen is not the same as what I now see in my portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 999d41b7-1266-26a0-3800-b093deb828c7
* Version Independent ID: 6a4a9447-716a-ec76-043c-3f437c8b2560
* Content: [Monitor and troubleshoot a cloud storage application in Azure](https://docs.microsoft.com/

[2018-04-05 13:08] MikeBarker-MS opened #6768 "Alerting has changed"
Update the documentation to use the newer Azure alerting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 999d41b7-1266-26a0-3800-b093deb828c7
* Version Independent ID: 6a4a9447-716a-ec76-043c-3f437c8b2560
* Content: [Monitor and troubleshoot a cloud storage application in Azure](https://docs.microsoft.com/en-us/azure/st

[2018-04-05 13:16] jrochet commented on #6701
I guess it just comes down to that Host Caching isn't documented at all, whatsoever.  I'll just forget about it now that I've brought it up and will take your word for it.

[2018-04-05 13:16] prashantvc opened #6769 "Update screenshots"
The Azure UI is changed quite a bit since images added last time. It would be nice if we have updated screenshots

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05d8bada-af9f-f016-16d1-a0fd7f60c89d
* Version Independent ID: 2f6ef7d9-5bef-c53f-92fa-380e1afeedc3
* Content: [Get Started with Azure Mobile Apps for Xamarin.

[2018-04-05 13:25] androidand commented on #6401
So, If we have several webapps "microservices" and want to use the same auth JWT token and just log in once, it it possible to put this layer for a group of webapps or do we have to activate it for each?

[2018-04-05 13:36] netlander1 opened #6770 "Self hosted integration runtime installed on Azure VM"
We are looking into Data Factory, but we have no need to pull on-premise data into the Data Factory, all of our data exists in either third-party AWS databases or other cloud services. Can the self hosted integrated runtime be installed on a Azure VM? We are hoping to lift and shift most of our servers to Azure and having the IR installed there would be the best solution for us.

---
#### Document

[2018-04-05 13:43] tysonmock commented on #5496
We are also looking to utilize the Azure AD Samanage app for both authentication and provisioning.  From what I understand, Microsoft needs to fix the provisioning side of the [published Samanage app](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/aad.samanage?tab=Overview). I'm told it didn't work due to a bug and was pulled but no fix was ever posted.

Can anyone at Microsoft plea

[2018-04-05 14:06] pug205 commented on #5525
I get an System.NullReferebceException at async Microsoft.Azure.WebJobs.Extensions.EventGrid.EventGridExtensionConfig.ProcessAsync(HttpRequestMessage req) when posting with Postman as described above...

Using Microsoft.Azure.WebJobs.Extensions.EventGrid is 1.0.0-beta3 and Microsoft.NET.Sdk.Functions is 1.0.8

[2018-04-05 14:18] amanarneja commented on #5647
@tfitzmac Just a quick update, the portal team has been contacted and i will update the thread with what i find out.

[2018-04-05 14:18] georgewallace commented on #6728
@Ayanmullick Yes this can be done by doing an alert based off the log analytics workspace. You can navigate to your workspace and create a new alert.. the query for the alert would be something like the following. You can add additional columns to your query, but this will fire an alert when the Update run succeeds.  Hope this answers your question.  I will add this item as a backlog to get added

[2018-04-05 14:22] ChrisParrBIE opened #6771 "PowerShell?"
Are there any PowerShell commands to modify these settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7643fe82-32c0-619a-7a2e-97ef63db60cb
* Version Independent ID: e9e16a23-77e5-0df4-2020-96e54fc00d2e
* Content: [Customize the sign-in page for your Azure Active Directory tenant](https://docs.microsoft.com/en-us/a

[2018-04-05 14:27] amanarneja commented on #6563
@craigg-msft Can you take a look and see how we can address the concerns around making pricing information more clear ?

[2018-04-05 14:33] amanarneja commented on #6567
Based on the following link, this is currently not supported and is something in the roadmap.

@mwinkle / @cjgronlund - The document doesn't clearly call out that Worekbench is necessary for deploying models from CLI. Can this be clarified a little more clearly in the prerequisites?

 https://social.msdn.microsoft.com/Forums/azure/en-US/c191418f-51e9-4b0b-913c-65de90a16d3c/az-ml-extension-using-wi

[2018-04-05 14:34] amanarneja commented on #6571
@desslocktx Just checking in to see if the above steps helped at all ?

[2018-04-05 14:38] amanarneja commented on #6721
@jmprieur - Just checking if there any any plans to move the  B2C-GraphAPI-DotNet samples to https://github.com/Azure-Samples ?

[2018-04-05 14:48] davidmu1 commented on #6602
Changed the text to:

1 . Use SSH, the account name, and the public IP address of the VM to connect to it and deprovision it. You can find the public IP address with az network public-ip show. The +user parameter also removes the last provisioned user account. If you are baking account credentials in to the VM, leave out this +user parameter. The following example removes the last provisioned user

[2018-04-05 14:56] evertonmc opened #6772 "Add ReservedInstances API for enterprise customers to the documentation"
Please add ReservedInstances API to the documentation since it is already available in the v2 API
GET /v2/enrollments/{enrollmentNumber}/reservationcharges
GET /v2/enrollments/{enrollmentNumber}/reservationsummaries
GET /v2/enrollments/{enrollmentNumber}/reservationdetails

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-04-05 15:05] DeveloperUniversity opened #6774 "_oa Suffix?"
Could you explain the purpose / thought process / rationale behind the _oa suffix used when creating the database and collection?  That is not addressed in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 557827fd-e323-7b37-2fb8-a2b6d5c10811
* Version Independent ID: 9b04167b-a8f8-d252-971e-e39b181ce589
*

[2018-04-05 15:10] YajvendraGupta commented on #6762
Enabling Traffic Analytics via Powershell using NW cmdlets is coming soon. In the mean time you could enable Traffic Analytics by following below documentation:
https://docs.microsoft.com/en-us/azure/network-watcher/traffic-analytics

[2018-04-05 15:17] alexandair opened #6775 "The storage access key management needs a further explanation"
"The storage access key is exposed in this file and needs to be carefully checked into source control."

What does this mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83bb7059-c6aa-522c-474a-f516e453fe4f
* Version Independent ID: 3efbdbd2-2076-5302-cc3f-0ce765bf9e71
* Content: [Use an Azure Marketplace image to c

[2018-04-05 15:24] HowardDay opened #6776 "Adding users quirk"
When adding a new user we found that the name alone is not enough.  For instance in a database we created entitled "canton", if we add johnsmith as the user that will not allow joohnsmith to access the database.  What we needed to do was enter the user as johnsmith@canton - the database name is required after adding the @.  Once we did that we had no further issues with the user id

---
#### Docum

[2018-04-05 15:35] #6674 closed

[2018-04-05 15:37] amanarneja commented on #5496
@tysonmock / @Mabunga / @bernardw1 I am checking internally on what's the progress on this and will share what i can find.

[2018-04-05 15:41] kidengineer opened #6777 "Slight Typo"
The Set-AzureRmApplicationGatewaySSLPolicy command in the section “Limit SSL protocol versions on an existing application gateway” is missing a "TLSv1_2" after "-MinProtocolVersion" - that is all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d404ca02-47ed-d3c9-bf4e-52cd0b0d61ba
* Version Independent ID: 5fadfbea-ddcb

[2018-04-05 15:43] davidmu1 commented on #6679
@smrtRock Changed the section to use our standard include and paragraph for using cloud shell and logging in. Thanks for your feedback.

#please-close

[2018-04-05 15:43] bchris999 opened #6778 "Azure Pay as you go subscription"
I created a Pay as you go subscription which is showing as active. In the portal, the subscription shows under My Subscriptions however whenever I click on the subscription it says I'm not authorized. I created it but it looks like I'm not set as an owner. I can see the subscription if I go to manage it in the other portal (where you cancel it and transfer it etc). I can't log a support call eithe

[2018-04-05 15:48] ToMakeSense opened #6779 "typo in article on"
[Workflow Definition Language](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/logic-apps/logic-apps-workflow-definition-language.md)
![image](https://user-images.githubusercontent.com/6244148/38376948-55f851d4-392c-11e8-8bfe-a89531717af0.png)
`Declaration: "parameters": {"parameter1": {"type": "string"}` should be `Declaration:"parameters": {"parameter1": {"type": "string"}}` the

[2018-04-05 15:48] cheeco commented on #6778
Same problem here

[2018-04-05 15:51] FredMurphy opened #6780 "Breached password blacklist"
Are there any plans to make it possible to call a custom Azure function to validate passwords?
The NIST guidelines also mention disallowing passwords exposed in previous breaches. Being able to check against the HIBP list would be very useful.
https://www.troyhunt.com/ive-just-launched-pwned-passwords-version-2/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-04-05 15:56] cynthn commented on #6708
#please-close PR: 37014

[2018-04-05 15:56] Gimly commented on #6487
@davidmu1 Are you going to link to the repository? If so, I'll check it quickly and update what needs to be updated. I'd also be happy contribute to an official sample based on this initial work.
@spottedmahn Thanks 😄

[2018-04-05 16:08] davidmu1 commented on #6487
@Gimly @spottedmahn I want to make sure that I understand the sample first before linking to it. I also want to learn more about what our policies are on linking to repositories. That will take me a little time. I am still very new to the B2C space and ramping up quickly. I have created a workitem in my queue to address this issue. Going to close the issue for now and circle back around when ready

[2018-04-05 16:10] spottedmahn commented on #6487
cool 😎, thanks, @davidmu1.  Keep us posted 😊

Already closed 😜

[2018-04-05 16:11] andrew-dinunzio commented on #6718
Yes, I tried it again and it worked this time! Thanks. I think when I ran it the first time, I forgot to change the hosts in the Ingress. Then when I went back to fix it and redeploy the hello-world-ingress.yaml file, it still didn't work. Deleting everything and starting over seemed to do the trick.

[2018-04-05 16:19] JunyuanZheng commented on #6002
@SnehaGunda any updates on this one?

[2018-04-05 16:25] Adam-Smith-MSFT commented on #6264
@pvrk  thanks for the insight. @KeiroKamioka0000  looks like the correct answer was by @pvrk
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-05 16:25] #6264 closed

[2018-04-05 16:26] Adam-Smith-MSFT commented on #5959
@digitus0
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-05 16:26] #5959 closed

[2018-04-05 16:41] Mike-Ubezzi-MSFT commented on #6596
@Ramji-S Can you point out the specific documentation pain points, as I can have the content clarified by the documentation author. Thank you.

[2018-04-05 16:54] kobulloc-MSFT commented on #6764
@kumlien Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-05 16:55] jason-j-MSFT commented on #6621
@nithinsukumar ADFv2 will not accept dashes for linked services names as stated in the documentation.  Sorry if you were inconvenienced by a change that affected your existing naming convention.  We appreciate your help with finding issues in ADFv2, which is still in preview status.   If you have further ideas on how we can improve ADF, we would like to hear from you here:
https://feedback.azure.c

[2018-04-05 16:55] #6621 closed

[2018-04-05 16:57] kobulloc-MSFT commented on #6744
@hastarin Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-04-05 16:57] Adam-Smith-MSFT commented on #6756
@MikeBarker-MS  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-05 16:58] Adam-Smith-MSFT commented on #6767
@MikeBarker-MS Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-05 16:59] cjgronlund commented on #6567
#in-progress

[2018-04-05 16:59] Adam-Smith-MSFT commented on #6768
@MikeBarker-MS Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-05 17:04] tfitzmac commented on #6561
@schummbo - thanks for the good question. I agree we need to clarify how to make this decision. I think from your scenario creating a User topic and Recipe topic would make the most sense. The topic should be used to publish similar events. It is easy to imagine how some handlers would be interested in user events but not recipe events, and vice versa. Creating one topic for the application is als

[2018-04-05 17:05] #6549 closed

[2018-04-05 17:05] MicahMcKittrick-MSFT commented on #6738
@Montesdodgers13 Thanks for reaching out. I will close this issue as there is no action. If you have a question please open a new issue.

[2018-04-05 17:05] #6738 closed

[2018-04-05 17:07] MicahMcKittrick-MSFT commented on #6749
@camillagaardsted Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-05 17:07] BryanTrach-MSFT commented on #6769
@prashantvc Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-05 17:08] jgdolph commented on #5953
Hi all, hope you had a great Easter break!
@jeevansd, is there any update on the multi-account AWS solution?

[2018-04-05 17:08] MohitGargMSFT commented on #6745
@sramareddi Thanks for the feedback. Please help us with the link of the document on which above feedback is provided.

[2018-04-05 17:10] Mike-Ubezzi-MSFT commented on #6760
@azkamil Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-05 17:10] Blackmist commented on #6597
@seanshankus Thanks again for reporting this problem.

Closing this issue as the screenshot has been updated and the steps in the document verified against the latest HDInsight version (3.6)

#please-close

[2018-04-05 17:11] amanarneja commented on #6567
@cjgronlund In the following document users can get confused that if they follow the steps they will be able to use Azure CLI without workbench to run the "az ml" commands. This doesn't seem to be supported at this point.

"https://docs.microsoft.com/en-us/azure/machine-learning/preview/cli-for-azure-machine-learning"

[2018-04-05 17:11] MohitGargMSFT commented on #6775
@alexandair Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-05 17:11] Mike-Ubezzi-MSFT commented on #6758
@tarunaroraonline Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-05 17:12] larryms opened #6783 "terraform command in cloudshell generates error"
This is not documentation feedback per se, but I do not see where I can file a bug about the terraform implementation on cloudshell.
When you run the terraform command on cloudshell, it's currently running a shell script in /usr/local/bin/terraform.  This script makes configuration assumptions that can cause errors.  Specifically, the first few lines of this script are:
[code]
This incorrectly ass

[2018-04-05 17:12] femsulu commented on #6750
@jtuliani We appreciate you bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-05 17:12] jtuliani opened #6784 "What is the default value for 'Mode' ?"
If I don't specify 'Mode', what default value is used...All or Indexed? This doc should define the default. In particular, many built-in policies don't specify mode, so we really need to know.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d956852a-d98e-c022-d6f2-c2910afe6e93
* Version Independent ID: 8107b348-d2b4-214

[2018-04-05 17:13] MohitGargMSFT commented on #6779
@ToMakeSense Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-05 17:14] MicahMcKittrick-MSFT commented on #6701
@jrochet this is likely because there is not anything special about disk caching in Azure. It is the same premise as on premise. What kind of explanation were you looking to have?

[2018-04-05 17:14] MohitGargMSFT commented on #6754
@lvovan Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-05 17:14] Mike-Ubezzi-MSFT commented on #6740
@beneuto Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-05 17:15] #6679 closed

[2018-04-05 17:15] #6708 closed

[2018-04-05 17:16] femsulu commented on #6763
@medavamshi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-05 17:16] MicahMcKittrick-MSFT commented on #6718
@andrew-dinunzio thanks for the update! Glad to hear you were able to get it to work :)

[2018-04-05 17:16] #6718 closed

[2018-04-05 17:16] MohitGargMSFT commented on #6757
@rajashekar2012 Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-05 17:16] Mike-Ubezzi-MSFT commented on #6739
@mathieuisabel Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-05 17:17] vasivara-MSFT commented on #6770
@netlander1 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-05 17:18] MohitGargMSFT commented on #6753
@olavt Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-05 17:18] femsulu commented on #6766
@NiklasJern We appreciate you bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-05 17:25] femsulu commented on #6772
@evertonmc We appreciate you bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-05 17:25] #6502 closed

[2018-04-05 17:25] #6525 closed

[2018-04-05 17:26] #6602 closed

[2018-04-05 17:31] spottedmahn commented on #6560
MVC Guidelines?

[2018-04-05 17:31] #6560 closed

[2018-04-05 17:34] Mike-Ubezzi-MSFT commented on #6761
@Ramji-S Thanks for the feedback. You can post your emulator 'asks' to the [Cosmos DB User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db?query=Emulator), which goes directly to the product group. This is the best avenue to provide feedback.

[2018-04-05 17:34] davidmu1 commented on #6560
@spottedmahn Sorry, internal information architecture guidelines. We are trying to change our content to be minimally viable content (MVC), which just means that we are trying to be cleaner and more concise in how we present content.

[2018-04-05 17:34] Mike-Ubezzi-MSFT commented on #6774
@DeveloperUniversity Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-05 17:35] Mike-Ubezzi-MSFT commented on #6776
@HowardDay Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-05 17:36] bandersmsft commented on #6750
We're looking into this. We'll reply shortly.
#in-process

[2018-04-05 17:43] femsulu commented on #6778
@bchris999, @cheeco, Sorry for the inconvenience. To help investigate this further, We need some additional info. Please send mail to **AzCommunity@microsoft.com** include:

1. your impacted subscription ID,
2. url to this GitHub issue: (https://github.com/MicrosoftDocs/azure-docs/issues/6778)

We will use the info you send to create a one-time free support request on your behalf to investigate an

[2018-04-05 17:43] jrochet commented on #6701
Mainly, just that there is supposedly only caching available for Premium storage.  Then there is "Host caching" which applies to both Standard and Premium storage.  Whatever "Host caching" does, may or may not be exactly what is entailed in the various disk caching features that are explained only in Premium storage's documentation.  Since these topics are both in the exams (70-533/535), and in re

[2018-04-05 17:45] pilor commented on #6750
The up to date list is:
- location
- resourceTypes
- vmSKUs
- storageSKUs
- existingResourceGroups
- omsWorkspace

I'll update the list in the documentation and make a scrub through our samples repo to remove any unsupported strongTypes.  I believe they were added with the thought that the UX would support many more of them in the future.  However, they should not show up in samples until they are

[2018-04-05 17:50] MicahMcKittrick-MSFT commented on #6742
@hisasima Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-05 17:51] MicahMcKittrick-MSFT commented on #6777
@kidengineer Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-05 17:54] MicahMcKittrick-MSFT commented on #6701
@jrochet got it. I will assign this to the content author to review and consider updating the doc with more details regarding caching.

@aungoo-msft can you please take a look?

[2018-04-05 18:03] jatal opened #6786 "Please update Screenshots to ADFv2"
https://docs.microsoft.com/en-us/azure/data-factory/v1/data-factory-copy-activity-performance#performance-tuning-steps

section (and possibly the rest of the document) screenshot shows ADFv2 performance monitor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa58924b-7cb1-da5f-98d7-94d2e9591c5d
* Version Independent ID

[2018-04-05 18:04] spacecat opened #6787 "Can I do the same in AKS?"
https://cloud.google.com/kubernetes-engine/docs/tutorials/http-balancer

In particular the Step 6: (Optional) Serving multiple applications on a Load Balancer part.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content

[2018-04-05 18:06] conceptdev commented on #6769
@prashantvc can you provide further info about which screenshots you believe need to be updated. I've just checked the document versus the Azure portal, and they remain identical:

![screenshot1](https://user-images.githubusercontent.com/199373/38383422-59336ad4-38c1-11e8-8b08-b3a6e3e408c5.png)
![screenshot2](https://user-images.githubusercontent.com/199373/38383423-5954f3fc-38c1-11e8-9a0e-f04a611

[2018-04-05 18:07] Frankwayne opened #6788 "Cosmos DB Emulator wont start"
I cant seem to start the Cosmos DB Emulator.   I have windows 10  and it appears to install fine, but when I click to start it up  I see the tray icon appear and then it disappears  before  I can click on it.   The localhost landing page "https://localhost:8081/_explorer/index.html" does not appear and I cannot navigate to it either

I have tried to restart my machine.  Uninstall the application.

[2018-04-05 18:08] jatal opened #6789 "Why is CosmosDB -> ADLS so slow (2Mbps???)"
Hello,  Why is writing from CosmosDB to ADLS and Blob Storage so slow?  Can you elaborate?

Being able to leverage CosmosDB performance for insert-only / hash-map'ish deduplication operations, then being able to flush uber-fast back to ADLS and/or ADW seems like a common use-case.

If that is the wrong technology, plmk.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-04-05 18:10] cheeco commented on #6778
Email sent

[2018-04-05 18:14] neilpeterson commented on #6787
@spacecat - From the GKE doc.

- a. Yes the Kubernetes LoadBalancer service type will configure an Azure load balancer and route http traffic to the specified app / pod. This is demonstrated in [this doc](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough).

- b. For https termination, you currently need to configure an ingress controller. We have documented an [example using the NG

[2018-04-05 18:22] trelane opened #6790 "guide doesn't work with free account"
due to resource constraints and other issues, this guide does not work with a new account/$200 credit.  Since this guide, and all other guides will commonly be used with the free account, this is a problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 074568ee-1fc9-3d9a-1c10-96ada221c0aa
* Version Independent ID: 9e5

[2018-04-05 18:40] nithinsukumar commented on #6621
That does not seem true for integration runtime linked services. Get below error & not sure when that's going to change?

Integration Runtime Name can contain only letters, numbers and the dash (-) character. The first and last characters must be a letter or number. Every dash (-) character must be immediately preceded and followed by a letter or a number. Consecutive dashes are not permitted in i

[2018-04-05 18:44] Ayanmullick opened #6792 "Query by Azure SQLdb log categories"
How do I specify these log categories while searching logs in Log Analytics?

1.	QueryStoreRuntimeStatistics
2.	QueryStoreWaitStatistics
3.	Errors
4.	DatabaseWaitStatistics
5.	Timeouts
6.	Blocks
7.	SQLInsights
8.	Audit
9.	SQLSecurityAuditEvents

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77f273ec-aed5-1f65-0b6d-8724

[2018-04-05 18:48] bernardw1 commented on #5496
Thanks for the update! hopefully it happens soon, many of us will be glad for the automated system.

[2018-04-05 18:52] femsulu commented on #6784
@jtuliani We appreciate you bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-05 18:57] iainfoulds commented on #5788
Thanks for all the feedback, @jtuliani. I chatted about this with @gatneil and we have a backlog work item created to address this and provide better guidance across the docs on the relationship between Availability Sets and Availability Zones. These doc updates are targeted for release in May.

I'll add a comment on this issue when the docs are published, but for now #please-close

[2018-04-05 19:02] MicrosoftGuyJFlo commented on #6702
#please-close

[2018-04-05 19:03] #6779 closed

[2018-04-05 19:05] mike-urnun-msft commented on #6779
@ToMakeSense Thanks for reporting this issue! We have corrected the typo and the changes will reflect after our next merge.

[2018-04-05 19:05] mike-urnun-msft commented on #6633
@DeepPuddles have you tried changing the `BASE_URL` as per @dannynguyen27 above?

[2018-04-05 19:13] Mike-Ubezzi-MSFT commented on #6739
(ForumsTeam) 'AlwaysOn' should be 'Always On' #5418

[2018-04-05 19:15] MohitGargMSFT commented on #6693
@yuuki247 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-05 19:15] #6693 closed

[2018-04-05 19:15] Mike-Ubezzi-MSFT commented on #6739
@mathieuisabel Document typo has been corrected. It should be live in the next 24 hours. Than you!

[2018-04-05 19:16] markgar opened #6794 "Tree View"
It would be really great if you could view these permissions as a searchable tree view.  That would enable you to visualize any wildcard matches and the permissions that would be granted.  This would enable you to ignore more areas and browse more of the information more quickly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-04-05 19:23] iofluxdev1 opened #6795 "Risky for production"
I would not recommend SendGrid services at all as they have proved to be risky to use in production, because they randomly seem to put accounts in suspension without any warning or reason which results in notification services going down for hours and days!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d91616-a93f-8

[2018-04-05 19:24] MicahMcKittrick-MSFT commented on #6664
@LukeBayler I will close this out for now. If you decide to continue this further please reopen and we can continue :)

[2018-04-05 19:24] #6664 closed

[2018-04-05 19:24] MGoedtel commented on #6537
@Ayanmullick - There isn't a way presently to enable through PowerShell Update Management or Inventory solutions and they can only be enabled from an ARM template or the portal.  This is currently in the works but I do not have an ETA at this time.  Closing this issue as I believe it has been appropriately resolved #close.

[2018-04-05 19:27] MicahMcKittrick-MSFT commented on #6741
@Anupamvi thanks for supplying that information!

@whozDougie I have assigned this to the content author to review and consider adding additional information to the doc.

[2018-04-05 19:27] LukeBayler commented on #6664
If I go to: https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/, there is no link for me to search the documents. I can only filter by title.

[2018-04-05 19:32] Adam-Smith-MSFT commented on #6610
Confirmed that issue was resolved due to the presence of locks:

"I enabled Resource Group lock on my backed-up managed disk VMs. Will my backups continue to work?
If the user locks the Resource Group, Backup service is not able to delete the older restore points. Due to this new backups start failing as there is a limit of maximum 18 restore points imposed from the backend. If your backups are fa

[2018-04-05 19:32] #6610 closed

[2018-04-05 19:34] bandersmsft commented on #6784
@jtuliani we're looking this for you.
#in-process

[2018-04-05 19:35] MicahMcKittrick-MSFT commented on #6775
@alexandair from my understanding it is referring to this file:
`cp ~/tfTemplate/remoteState.tf .`

If you were to load up that file inside the VM you would see that the access key to the storage account used by the VM is visible. This can be considered a security issue and hence access to this file should be restricted to the admin.

I will close this out but if you feel there is more to discuss

[2018-04-05 19:35] MohitGargMSFT commented on #6753
@olavt I agree with your observation. If we check same implementation in [Java](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-topics-subscriptions#how-to-receive-messages-from-a-subscription) document its been taken care and in Python document its not.

Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-05 19:36] bandersmsft commented on #6724
#please-close

[2018-04-05 19:40] MicahMcKittrick-MSFT commented on #6664
@LukeBayler got it. That is how all of the documents are configured. There is not a way to search all the pages related

<img width="150" alt="image" src="https://user-images.githubusercontent.com/32313503/38387923-6f2aa430-38ce-11e8-9a6f-a0fa6414653f.png">

Rather you would need to do a Control + F to open the find window and search that way per link.

[2018-04-05 19:43] LukeBayler commented on #6664
@MicahMcKittrick-MSFT thanks. Is a Search function on the radar? I remember the old days when I had a stand-alone chm file and I had a search and an index function. :)

[2018-04-05 19:43] bandersmsft commented on #6763
@medavamshi We're looking into this for you.
#in-process

[2018-04-05 19:43] alexandair commented on #6775
It's already clear from the current version of the article that a storage key is exposed, but the point that's missing is how to deal with that from the security point of view. It's not enough to say "your secret is exposed". Tell the user how to deal/mitigate that.

[2018-04-05 19:44] MicahMcKittrick-MSFT commented on #6777
@kidengineer thanks for the find! I have submitted the change and it should go live in about an hour.

This issue will automatically close once the merge is complete.

[2018-04-05 19:46] MicahMcKittrick-MSFT commented on #6742
@hisasima I have assigned this to the content author to review and update as appropriate.

@cherylmc can you please take a look?

[2018-04-05 19:51] MicahMcKittrick-MSFT commented on #6749
@camillagaardsted we still have the DS3 and DS4 series.

You can find them here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-general#ds-series

I will update the link :)

[2018-04-05 19:52] univhack opened #6796 "Container workload no such image"
I have tried several configurations of running container workloads from Azure Batch.

I am using the Microsoft Windows Server: 2016-Datacenter-with-Containers as my image reference, nodeAgentSkuId: "batch.node.windows amd64." I have tried using container configurations specified in the example https://docs.microsoft.com/en-us/azure/batch/batch-docker-container-workloads using tensorflow docker con

[2018-04-05 19:59] georgewallace commented on #6766
@NiklasJern Thanks for point this out, I put in a fix to clarify this. We should state that we require the Microsoft Monitoring Agent on the machine, but for Configuration Manager we can either manage the updates through Azure Automation or just report on them and you can use Configuration Manager.  I will respond back to this thread once the doc updates are live later today so we can review and c

[2018-04-05 20:00] Mike-Ubezzi-MSFT commented on #6740
@beneuto Can you take a look at the Provisioned throughput and the Partitioning and Partition Keys sections in the content: [Best practices for query performance](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sql-query-metrics#best-practices-for-query-performance).

`With Azure Cosmos DB, typically queries perform in the following order from fastest/most efficient to slower/less efficie

[2018-04-05 20:00] georgewallace commented on #6711
@terminal3 The update is now live that addresses this concern and also points out there may be additional solutions that must be cleaned up first as well. https://docs.microsoft.com/en-us/azure/automation/automation-unlink-from-log-analytics Can you take a look and then close the issue if this answers your concern.. Thanks again for reaching out about this.

[2018-04-05 20:01] MikeWasson opened #6797 "Error in "Zone-redundant scale set" example for CLI?"
For the --zones parameter, I had to use `--zones 1 2 3` not `--zones {1, 2, 3}`. The [sample CLI script ](https://github.com/Azure/azure-docs-cli-python-samples/blob/master/virtual-machine-scale-sets/create-zone-redundant-scale-set/create-zone-redundant-scale-set.sh) linked in the doc shows the right syntax. I am using CLI v 2.0.30.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-04-05 20:03] MicahMcKittrick-MSFT commented on #6783
@dcaro is this something that you can look into?

[2018-04-05 20:04] Mike-Ubezzi-MSFT commented on #6740
There is also the [Prerequisites for partitioning](https://docs.microsoft.com/en-us/azure/cosmos-db/partition-data#prerequisites-for-partitioning) content that explains some of the nuances of Cosmos DB throughput.

[2018-04-05 20:08] MicahMcKittrick-MSFT commented on #6646
@fhe-fr can you open a support ticket on this issue? That way the can look into the error you are getting:

An unknown error occurred.
Request ID: f148c4379b854942a2973fcbad56b345Session ID: 97215857-103c-0df7-d1d4-e7b576fa9cd7

From there we might have better luck finding a fix.

[2018-04-05 20:11] #6749 closed

[2018-04-05 20:17] MohitGargMSFT commented on #6771
@ChrisParrBIE No, currently the only way to do it is through Azure Portal as described in the document.

Please post this as a feedback @ [https://feedback.azure.com/forums/169401-azure-active-directory](https://feedback.azure.com/forums/169401-azure-active-directory) This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedba

[2018-04-05 20:28] MohitGargMSFT commented on #6780
@FredMurphy Thanks for the feedback! Please post this as a feedback @ [https://feedback.azure.com/forums/169401-azure-active-directory](https://feedback.azure.com/forums/169401-azure-active-directory) This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropri

[2018-04-05 20:31] MohitGargMSFT commented on #6788
@Frankwayne Thanks for the feedback. Please help us with the link of the document on which above feedback is provided.

[2018-04-05 20:32] spacecat commented on #6787
The route and path part look similar.
Will check it out.
Thanks.

[2018-04-05 20:33] mattchenderson commented on #6401
@androidand The feature operates at the site level. You would need to have one site acting as a reverse proxy and fronting all requests to other apps. I'd recommend looking at Azure API Management or Azure Functions Proxies for this. Note that requests still could be made to the other sites unless you have them operating in a VNET (as in App Service Environments).

[2018-04-05 20:35] neilpeterson commented on #6787
@spacecat - thanks. I am going to have this issue closed. If you need further assistance feel free to re-open, open a new issue, or contact me directly on Twitter (@nepeters).

[2018-04-05 20:39] #6702 closed

[2018-04-05 20:43] #6597 closed

[2018-04-05 20:44] #5788 closed

[2018-04-05 20:48] markgalioto commented on #6476
@Ayanmullick , @Marc-013 is correct, the cmdlet, [Restore-AzureRmRecoveryServicesBackupItem](https://docs.microsoft.com/en-us/powershell/module/azurerm.recoveryservices.backup/restore-azurermrecoveryservicesbackupitem?view=azurermps-5.6.0) does not restore the VM, it restores the disk data and configuration information. After restoring this information, you must create the virtual machine and star

[2018-04-05 20:50] markgalioto commented on #6476
I'll take an action item to add a link from the tutorial-restore-disk.md article to the PowerShell information.

[2018-04-05 20:50] markgalioto commented on #6476
#please-close

[2018-04-05 20:52] VaijanathB commented on #6775
The comment is to specify that you should not accidentally check in this Storage account key. The storage account key exposed locally to the user unless it gets checked in with other terraform configuration files and exposed publically.  Since MSI is enabled on the VM, user can always access the storage accounts.

[2018-04-05 20:56] MicahMcKittrick-MSFT commented on #6775
@VaijanathB thanks for clarifying! Can you consider adding more information to this doc to avoid further confusion?

[2018-04-05 20:57] pilor commented on #6784
If "mode" is null it is treated the same as if it was "mode"="indexed".  I will update the docs to reflect this.

[2018-04-05 21:01] #6711 closed

[2018-04-05 21:04] #6561 closed

[2018-04-05 21:08] JasonWHowell commented on #6549
@rajivmedikonda I updated the article, and it should be published later this afternoon. Thanks for catching the discrepancies! ~Jason

[2018-04-05 21:17] jennyhunter-msft commented on #6544
Code for that would look like the below.

[code]

[2018-04-05 21:26] Ayanmullick commented on #6476
Ok. Because the '-ContainerType' for 'Get-AzureRmRecoveryServicesBackupContainer' is  'AzureVM', the '-WorkloadType' for 'Get-AzureRmRecoveryServicesBackupItem'  is also 'AzureVM' and the GUI creates the VM directly, I assumed that the 'Restore-AzureRmRecoveryServicesBackupItem' will create an Azure Virtual Machine directly.

Thanks

[2018-04-05 21:29] Ayanmullick commented on #6537
Is there an ETA timescale? Weeks, months, quaters?

[2018-04-05 21:33] kgremban commented on #5849
@Adam-Smith-MSFT can you #please-close this issue, and bospoort can reopen if he thinks there's additional work to be done?

[2018-04-05 21:34] kgremban commented on #6133
@MicahMcKittrick-MSFT can you #please-close this issue, and soltarz can reopen it if there's additional work to be done?

[2018-04-05 21:37] jlent01 opened #6799 "Listener Setup"
I had some trouble with the listener set up.  How come we didn't use the "Add Listener" wizard in SSMS?  First problem was that AD and DNS objects did not get created.  Then, permissions on AD and DNS objects were lacking of permission for cluster object.  Also, I was unsure what to do with the references to "the PowerShell script" starting in step 1 until I got to the end - I thought I had missed

[2018-04-05 21:41] tamram commented on #6719
@MikeBarker-MS - Thanks so much for your feedback. I've fixed this, and the change should be live later today.

#please-close

[2018-04-05 21:41] lestaat opened #6800 "Do we have this available on azure cli?"
Documentation lack of details to perform same operation with AZ CLI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163a1f88-c268-18aa-a1e6-89b4a11bfb01
* Version Independent ID: 1136a613-48f8-fb67-39d3-d9abdd351a0f
* Content: [Assign a user or group to an enterprise app in Azure Active Directory](https://docs.microsoft

[2018-04-05 21:43] SamirFarhat opened #6801 "The "effective security rules" link lands on a wrong page"
The effective security rules link does not land on a page explaining the Effective Security Rules.
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-nsg-arm-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c

[2018-04-05 21:45] tfitzmac commented on #6612
@curtand - do you know which AAD admin roles are required for registering an AD app, if the directory does not allow users to register apps? The portal has a flag that indicates whether users can register an app. The help text only says "If this option is set to no, then only users with an administrator role may register these types of applications." But, it doesn't differentiate between the many

[2018-04-05 21:48] Ayanmullick commented on #6544
The Solution is enabled successfully. The VM onboards the Log Analytics workspace successfully as well. But the 'Change Tracking' tile on the Log analytics dashboard says "No Data Found". Probably because I haven't connected an automation account to the Log Analytics and apparently there isn't a way to do that simply thru Powershell ISE per   #6537 .

[2018-04-05 21:50] cherylmc commented on #6695
Hi @hisasima, good catch! I'll make that clearer in the docs. Thanks!

[2018-04-05 21:52] tfitzmac commented on #6612
Or, maybe my question should have gone to @PatAltimore . Can you take a look at the previous comment about the AAD admin role needed to create an AD app?

[2018-04-05 22:02] Ayanmullick commented on #6728
Give me a few days. Will test and revert.

[2018-04-05 22:06] chetansriv commented on #6214
@smusick-teamwork  @jeevansd Tutorial updated

[2018-04-05 22:14] #6719 closed

[2018-04-05 22:16] MicahMcKittrick-MSFT commented on #6796
@univhack Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-05 22:16] MicahMcKittrick-MSFT commented on #6797
@MikeWasson Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-05 22:17] Mike-Ubezzi-MSFT commented on #6788
@Frankwayne Can you try the following as detailed in this Stack Overflow thread: [documentdb emulator gatewayservice crashing on startup](https://stackoverflow.com/questions/41992585/documentdb-emulator-gatewayservice-crashing-on-startup)

C:\WINDOWS\system32>LODCTR /R

You may need to run this twice.
Regards,
Mike

[2018-04-05 22:18] #6133 closed

[2018-04-05 22:28] jtuliani commented on #6750
Thanks! One sample to look at is https://docs.microsoft.com/en-us/azure/azure-policy/scripts/enforce-tag-rg, which uses 'tagName' and 'tagValue' as strongTypes.

[2018-04-05 22:31] iainfoulds commented on #6706
@MicahMcKittrick-MSFT Please reassign to @jpconnock . There are already PRs to update metadata on incorrect manager fields where docs have not been updated accordingly. Or, @genlin, could you help review this, please, since I believe you worked with Gabriela on it?

[2018-04-05 22:32] MicahMcKittrick-MSFT commented on #6797
@MikeWasson I tested this out and did not run into an issue. However, when looking at the doc the command is like so:

[code]

Looking at what you mentioned there are spaces in the --zones

`--zones {1, 2, 3}`

When I ran it using this I got the following error:

`az vmss create: error: argument --zones/-z: invalid choice: {1,`

So it looks like the issue is with the spaces. Can you please test ag

[2018-04-05 22:35] MicahMcKittrick-MSFT commented on #6706
Thanks @iainfoulds. The issue is already currently assigned to @jpconnock. I can add @genlin as well :)

[2018-04-05 22:37] MikeWasson commented on #6797
Here's my exact CLI command that's failing:

[code]

If I use spaces, I get the same error that you list above. Without spaces, I get the "invalid choice" error.

[2018-04-05 22:40] iainfoulds commented on #6797
What shell is this in? The doc as-published works in the Azure Cloud Shell, though some shells may have differences in how they handle the escaping of the characters. There should likely be consistency between the doc and the script, but again, both should work in the Azure Cloud Shell, so curious what environment it fails in so that we can it work successfully.

[2018-04-05 22:40] MikeWasson commented on #6797
Windows command prompt (local)

[2018-04-05 22:52] iainfoulds commented on #6797
Okay, thanks @MikeWasson . In general, all CLI docs are tested for use on a *nix shell, so even things like the backslash for line breaks likely breaks on a Windows shell. This was an intentional decision. I'll look at how this doc could be updated for use across both *nix and Windows shells. It looks like `--zones 1 2 3` does work in the Cloud Shell, I just want to verify it's fine outside Cloud

[2018-04-05 22:52] richrundmsft commented on #6690
@MGoedtel can you investigate this issue?

[2018-04-05 22:53] MicahMcKittrick-MSFT commented on #6797
@MikeWasson thanks for the extra information.

@iainfoulds I just did another test this time in Command Prompt on my local machine it errors out unless you remove the commas. I am also running the latest version of Azure CLI. But yes, it does work in cloud shell :)

[2018-04-05 22:53] ravuchary opened #6804 "How to debug the CaptureFileCreated event creation?"
I have an eventhub where in its getting capture file created in storage account. Will Event hub trigger by itself when capture file is created? Our requirement is to trigger an azure function based on capture file creation in Event Hub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83290134-39b8-461f-e877-9ab5fdb9c6dd

[2018-04-05 22:58] BryanTrach-MSFT commented on #6331
@rizwaans It appears after my testing and internal discussion that if unspecified, the timeout is 30 seconds. We don't allow anything higher than 300 seconds at this time.

If you would like to request the ability to remove the timeout period or allow for more than 300 seconds, please leave the feedback at the below forum. The product group frequently reviews this forum for product feedback.

http

[2018-04-05 22:59] iainfoulds commented on #6797
Thanks, @MicahMcKittrick-MSFT . As noted, the CLI docs aren't typically against Windows shell, as even things like the line breaks usually cause problems. I'll review and update the `--zones` parameter if I can confirm cross-platform and shell format.

[2018-04-05 23:01] ravjay opened #6805 "Azure Baidu notification as Raw type"
Hi,

Azure notification hub is not displaying the Baidu notification type list in the azure portal. Is it supported in azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fff427e-92da-d0fe-e0a1-2cdefee16bb9
* Version Independent ID: 9790df2c-c30d-8cf6-fa8f-4f02ec3c79aa
* Content: [Get started with Azure Notification

[2018-04-05 23:01] Mike-Ubezzi-MSFT commented on #6760
@azkamil There is no way that I can see, nor find documented, that allows you to export an LTR backup file. You can delete an existing LTR backup file. You may, however, export a specific database instance. There is an export functionality when viewing an Azure SQL Database instance in the Azure Portal. The export functionality creates a backup file in a designated storage account (with accessibil

[2018-04-05 23:05] VaijanathB commented on #6775
Have updated the documentation to reflect that this only a checkin warning so that users do not check this file into source control. https://github.com/MicrosoftDocs/azure-docs-pr/pull/37197

[2018-04-05 23:06] jason-j-MSFT commented on #6786
@jatal Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-05 23:06] jason-j-MSFT commented on #6789
@jatal Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-05 23:07] MicahMcKittrick-MSFT commented on #6801
@SamirFarhat Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-05 23:07] MohitGargMSFT commented on #6794
@markgar Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-05 23:07] MicahMcKittrick-MSFT commented on #6799
@jlent01 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-05 23:08] jason-j-MSFT commented on #6792
@Ayanmullick Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-05 23:08] BryanTrach-MSFT commented on #6757
@rajashekar2012 Since running a custom demo locally falls outside the scope of this document, please share your question on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home) or [Stack Overflow](https://stackoverflow.com/).

Can you please share the URL to your forum post so that we can track it?

[2018-04-05 23:09] MohitGargMSFT commented on #6800
@lestaat Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-05 23:10] #6787 closed

[2018-04-05 23:11] #6724 closed

[2018-04-05 23:11] #6476 closed

[2018-04-05 23:11] #5849 closed

[2018-04-05 23:13] Mike-Ubezzi-MSFT commented on #6762
@CharlPels Please communicate any questions or issues you encounter. If you do not have anything additional, I will move forward with closing this issue. If you need to continue the dialog, you may reopen this.
Regards,
Mike

[2018-04-05 23:14] BryanTrach-MSFT commented on #6754
@lvovan I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-geberr " it's better to use another type of entity" It appears the first part of the feedback is around this statement. Can you please review the feedback and update the document as necessary? Thank you

[2018-04-05 23:19] dcaro commented on #6783
@larryms this is actually an issue that we have fixed, using the first approach, at the end of last week and is being rolled out this week.

[2018-04-05 23:19] cherylmc commented on #6695
#please-close

[2018-04-05 23:25] fowl2 opened #6806 "OMS SKU info/Purchasing"
It'd be great if the info from these links could linked/integrated into the docs:
* https://blogs.technet.microsoft.com/hybridcloudbp/2017/02/17/oms-in-csp/
* http://download.microsoft.com/download/5/C/4/5C41780B-5821-4EB8-AA23-60404A224568/OMS_Pricing_and_Licensing_Datasheet.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-04-05 23:27] arcotek-ltd opened #6807 "RateCard API for EA customers"
It would still be helpful to allow your EA customers the ability to use RateCard, even if it is based on retail prices - which will be lower.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a56e729-7981-9a51-9c5c-00ea13a8d888
* Version Independent ID: 01fb14e5-e8a4-49e0-5908-b6069566a8de
* Content: [Azure Billing APIs]

[2018-04-05 23:32] Mike-Ubezzi-MSFT commented on #6776
@HowardDay I took a look at all the SQL and Azure CLI examples in the referenced document and found that all the SQL (e.g. 'db_user'@'%') and Azure CLI (e.g. db_user@mydemoserver) are correctly formatted. Please let me know if there is anything else that needs to be addressed.
Regards,
Mike

[2018-04-05 23:33] tfitzmac commented on #6660
@cgillum - thanks for this feedback. Are you asking about the post to the topic endpoint? Those should be standard HTTP response codes. A successful post returns 200 OK. Or passing event data in the incorrect format returns 400 Bad Request. You would retry responses like 503 Service Unavailable.

The message body contains details in the following format:

{
    "error": {
        "code": "<HTTP st

[2018-04-05 23:37] davidjkenner opened #6808 "Getting error"
When I run your script above, I get the following error:

Parameter 'vault_name' must conform to the following pattern: '^[a-zA-Z0-9-]{3,24}$'.

Please advise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec582452-610c-c703-13e1-310e2899ead5
* Version Independent ID: b5dd1491-837d-1e72-766c-5d6e20589a65
* Content: [Az

[2018-04-05 23:38] cgillum commented on #6660
Yes, this is what I'm referring to and the example you posted would be great to have. Also I assume there is a 401 Unauthorized and/or 403 Forbidden response for authentication/authorization problems?

[2018-04-05 23:40] tfitzmac commented on #6660
Yes, 401 Unauthorized when the access key is invalid.

Okay, I will add this information. Thanks again for the suggestion.

[2018-04-05 23:44] vasivara-MSFT commented on #6770
@netlander1 I would like to understand your question better to give you the right solution. Can you please explain your question in detail? Are you trying to move all your data from Amazon and other cloud databases to Azure data services through data factory?

[2018-04-05 23:48] MohitGargMSFT commented on #6804
@ravuchary Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-05 23:50] #6695 closed

[2018-04-05 23:53] BryanTrach-MSFT commented on #6805
@ravjay Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-05 23:53] jason-j-MSFT commented on #6641
@richrundmsft The block starting on line 88:
"properties": {
            "Category": "VMSS",
            "ETag": "*",
            "DisplayName": "VMSS Instance Count",
            "Query": "Event | where Source == "ServiceFabricNodeBootstrapAgent" | summarize AggregatedValue = count() by Computer",
            "Version": 1
          }

The "Query" key has a value which contains nested double quote

[2018-04-05 23:54] richrundmsft commented on #6641
@MGoedtel can you look at this?

[2018-04-05 23:58] BryanTrach-MSFT commented on #6805
![notificationhub](https://user-images.githubusercontent.com/20250350/38397448-8284ec9c-38f2-11e8-9918-2a29279a8cc4.PNG)
@ravjay I am able to see Baidu as an option. Can you please try a different browser? Let us know if you are talking about a different area within Azure.

[2018-04-06 00:00] beneuto commented on #6740
Thanks Mike,

There is nothing much new in there for me, however the section "Partitioning and logging/time-series data" has got me thinking that a time based partition key may help optimise performance for operational needs (e.g. latest record per device/last 24 hours history) albeit possibly at the expense of more general analytics.

Regardless, this still does not explain the behaviour of the m

[2018-04-06 00:18] femsulu commented on #6806
@fowl2 We appreciate you bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-06 00:25] ravjay commented on #6805
@BryanTrach-MSFT I am able to see the Baidu option. My question was to have a notification type.

In Test Send menu.. Select Windows. I can see a field `Notification Type` but for Baidu there is no `Notification Type`

![windows](https://user-images.githubusercontent.com/36420639/38398108-59dd573a-38f6-11e8-821f-f6ba5c3ae580.png)

Baidu

![baidu](https://user-images.githubusercontent.com/36420639/

[2018-04-06 00:27] ravjay commented on #6805
And the azure documentation is also does not specify about type related information for Baidu.

[2018-04-06 00:28] kobulloc-MSFT commented on #6744
@hastarin It looks like the .NET Standard example is missing a using statement similar to the .NET Core example below it (something like using Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.QuickPulse;).  Assigning to the author (@SoubhagyaDash) to confirm and update the document accordingly.

[2018-04-06 00:34] Mike-Ubezzi-MSFT commented on #6740
@beneuto Thank you for the detail. I am working to get some feedback.

[2018-04-06 01:09] bospoort opened #6809 "CreateOptions for Windows is incorrect"
It misses a closing curly bracket.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a587f44-2e8d-5ad3-1d22-764724579c20
* Version Independent ID: b6e91fa0-a5ae-c949-192d-4713d6bb54b3
* Content: [Azure IoT Edge SQL module](https://docs.microsoft.com/en-us/azure/iot-edge/sql-storage)
* Content Source: [articles/iot-edge/s

[2018-04-06 01:35] bitcoinbrisbane opened #6810 "Commands are wrong"
azure should just be az

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e56b7281-9ab8-982c-aaef-700d6dcd6477
* Version Independent ID: 326cf08d-96e1-e8d1-8ae2-a1f57e111e7d
* Content: [Manage Azure Key Vault using CLI](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-manage-with-cli)
* Content Source: [articles

[2018-04-06 01:36] MicahMcKittrick-MSFT commented on #6801
@jimdial can you take a look at this? The link does seem to be incorrect. However I am not sure of which link is supposed to be there. If you can point me to the right link I am happy to fix it. Else I will let you make the change :)

@SamirFarhat thanks for the find!

[2018-04-06 01:39] MicahMcKittrick-MSFT commented on #6799
@jlent01 can you confirm that you first followed all the [prerequisites ](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-availability-group-prereq) steps first?

<img width="180" alt="image" src="https://user-images.githubusercontent.com/32313503/38399684-a4faa48e-3900-11e8-9c73-2acd34be6a4c.png">

[2018-04-06 01:42] MicahMcKittrick-MSFT commented on #6796
@univhack Seeing as this document has some key building points outside of just this doc we might need to have you move the issue to a forum post to get the correct help. Before we do that, @jimdial do you have anything you could add here to help out?

[2018-04-06 01:47] rolyon commented on #6794
Hi @markgar,
That is a cool idea. I've struggled with the best way to present the information on this page. We currently don't have a doc feature that can do dynamic searching and filtering. I've added a work item to our backlog to see if can improve the presentation of information on this page. If you have any additional ideas, please let us know.
thanks
#please-close

[2018-04-06 03:47] Mike-Ubezzi-MSFT commented on #6740
@beneuto If you allow us to take a deeper dive into your Azure Cosmos DB instance, we can provide you specific feedback. Please send the requested information (from below) to askcosmosdb@microsoft.com and direct it to Kirill.
- - -
"The workload likely moves from one partition key range to the other over time. He can actually move over time in the portal throughput heatmap chart and see that.
It’s

[2018-04-06 04:14] Pradhyo opened #6811 "Cannot reach jupyter notebooks on the deep learning VM"
I first created a VM on 4/1/2018 and then again now but still not able to connect. More details here -
https://stackoverflow.com/questions/49603966/cant-reach-jupyter-notebooks-on-azure-deep-learning-virtual-machine

When I tried to run `jupyter notebook` -

[C 04:00:12.963 NotebookApp] Bad config encountered during initialization:
[C 04:00:12.963 NotebookApp] No such notebook dir: ''/dsvm/Noteboo

[2018-04-06 04:17] jessejiang0214 opened #6812 "Missing important step 'declare the receiver in the android manifest'"
This document missing an important step. please check this.
https://docs.microsoft.com/en-us/xamarin/android/data-cloud/google-messaging/remote-notifications-with-fcm?tabs=vswin#declare-the-receiver-in-the-android-manifest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Ind

[2018-04-06 04:56] jeevansd commented on #5953
@dragan979 @carvakas and @jgdolph Yes, I had a great Easter. I am reviewing the draft version tomorrow. If everything looks good we will push it to public immediately. I will keep you posted.

[2018-04-06 05:09] jeevansd commented on #6214
@smusick-teamwork Can you please verify the change? Then we will close  this request.

[2018-04-06 05:25] rajashekar2012 commented on #6757
I have opened the same issue in StackOverflow...  link below
[stackoverflow link](https://stackoverflow.com/questions/49685886/getting-error-while-quering-custom-created-knowledge-exploration-service)

[2018-04-06 05:29] udooz commented on #6811
@pradhyo, it is a configuration.  Instead run Jupyter Lab.  The problem what I am facing is user credential is invalid.

[2018-04-06 05:49] Ramji-S commented on #6761
Thanks @Mike-Ubezzi-MSFT . I have posted my ask in the user voice forum.

[2018-04-06 05:49] #6761 closed

[2018-04-06 06:02] prashantvc commented on #6769
Hey @conceptdev sorry for the false alarm.
I did not hit `return` after searching Mobile Apps, directly went from search suggestion to create
Mobile Apps quick start

<img width="843" alt="screenshot 2018-04-06 11 28 11" src="https://user-images.githubusercontent.com/328076/38405544-10e9abda-398e-11e8-9cf0-5f6b8d18470e.png">

[2018-04-06 06:02] #6769 closed

[2018-04-06 07:31] lordstyx opened #6815 "SSL certificate auto renewal does not automatically change the binding!"
Maybe this documentation should make the reader aware that even though the certificate can be automatically renewed, the binding between the web app and the SSL certificate *isn't*.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468-b140422b9fae
* Version Independent ID: 5475c8e6-1186-8ed1-2ad6-6eaa

[2018-04-06 08:34] HowardDay commented on #6776
Mike – Using My Sql Toolbench V 6.3.4.0 my experience was that if used this example:

(The example is from https://docs.microsoft.com/en-us/azure/mysql/howto-create-users)

CREATE USER 'new_master_user'@'%' IDENTIFIED BY 'StrongPassword!';

GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, PROCESS, REFERENCES, INDEX, ALTER, SHOW DATABASES, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, R

[2018-04-06 09:05] femsulu commented on #6497
@aaronsteers Confirming the fix is now live. Closing this issue. Please do not hesitate to ping if you have any questions.

[2018-04-06 09:05] #6497 closed

[2018-04-06 09:07] femsulu commented on #6598
@georgewallace thanks for clarifying.

@Nboothe Closing this issue as resolved. Please don't hesitate to ping if you have any questions.

[2018-04-06 09:07] #6598 closed

[2018-04-06 09:12] femsulu commented on #6612
Assigning to **@PatAltimore** per update above.

[2018-04-06 09:17] GSchroder opened #6819 "Architecture diagram connection incorrect"
Should the arrow from iot-hub not be to telemetry-agent, which is the microservice which connects to the streamed events (telemetry)? Currently it points to the telemetry microservice, which as far as I can see is more maintaining the rules and alarms, as well as reading the messages from storage (written there by the telemetry-agent)

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-04-06 09:27] femsulu commented on #6642
@kikofarad We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-06 09:27] #6642 closed

[2018-04-06 09:28] ravianand1988 opened #6820 "Document Missing"
I am looking to implement this in Xamarin.Android. is there any documentation for same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e71a428-6213-e0e1-cfba-76964353e0a2
* Version Independent ID: ef27b609-4c88-3a11-35ad-709df9c51861
* Content: [Notification Hubs Breaking News Tutorial - Android](https://docs.microsof

[2018-04-06 09:36] erikmompean opened #6821 "Code Error"
On Data Operations

There is an error in the code:

    @com.google.gson.annotations.SerializedName("createdAt")
    private DateTimeOffset mCreatedAt;
    public DateTimeOffset getUpdatedAt() { return mCreatedAt; }
    protected DateTimeOffset setUpdatedAt(DateTimeOffset createdAt) { mCreatedAt = createdAt; }

    @com.google.gson.annotations.SerializedName("updatedAt")
    private DateTimeOffset

[2018-04-06 09:38] femsulu commented on #6643
closing as Duplicate of #6642

[2018-04-06 09:38] #6643 closed

[2018-04-06 09:42] femsulu commented on #6687
@manishsm-msft can help answer this?

[2018-04-06 10:07] femsulu commented on #6778
@bchris999, @cheeco, I received both your escalation emails and enabled free support for the impacted subscriptions to investigate this further.
Closing this Github issue and we can continue correspondence via the escalation email & support tickets.

[2018-04-06 10:07] #6778 closed

[2018-04-06 10:10] smusick-teamwork commented on #6214
Hi @jeevansd
Perfect! Thank you so much.

[2018-04-06 10:33] LRMPratiksha opened #6822 "I have a question"
The RedirectUri when we are  giving here is the local one. If we are hosting the application in IIS then what RedirectUri should we give?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b77531f5-3bd4-600e-1bca-7f40f9ee479e
* Version Independent ID: 4c98db9b-4a2e-4ba4-ba7d-a1e2de9a8745
* Content: [Support and help option

[2018-04-06 10:40] vikaskumawat80 commented on #6762
Failed to update flow logs settings for 'ACVWBSVR'.{
 "error": {
 "code": "FlowAnalyticsNotSupportedInThisRegion",
 "message": "Flow analytics is not supported in this region.",
 "details": []
 }
 }.

Resources are in West US 2 and Log Analytics is in East US. Am I missing something?

Because both the things are in supported regions.

[2018-04-06 10:51] hjohn76 opened #6823 "Incorrect supported platform for the Dynamics app"
I'd like to point out that the Microsoft Dynamics app is never supported on Windows 7. Please remove Win7 off that list for the app. The other platforms listed for the app are correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0073f5a8-daf6-7f14-127f-e0c9d80af78d
* Version Independent ID: d6d0afdf-3619-ca03-718b-a

[2018-04-06 11:02] smoms opened #6824 "Device Key provisioning"
How can a device be registered in IoT Hub providing its own shared access key? i understand that in this process it is IoTHub that creates the device shared access key. What if the key is installed on device at production site and needs to be communicated to IoT Hub during this provisioning process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-04-06 11:15] shtratos opened #6825 "Waiting for 2.3 minutes for article to load."
I've just waited for a long time for this article to load in Chrome:
https://docs.microsoft.com/en-us/azure/active-directory/application-access-self-service-how-to

Network console shows that it's the CSS causing the issue:
https://azure.microsoft.com/en-us/asset/menucss/

see screenshot
![screen shot 2018-04-06 at 12 06 44](https://user-images.githubusercontent.com/1232175/38418431-46bb70ee-3994-

[2018-04-06 11:15] pfoolen opened #6826 "Tools to make a liquid map"
Is there a (sophisticated) tool available to create a liquid map and test the result of the map?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e02fc497-8e32-b0e1-6ae3-cf1039cc1c7b
* Version Independent ID: 2ce45d89-18b7-8465-8ab7-bef9b544a474
* Content: [Convert JSON data with Liquid transforms - Azure Logic Apps](htt

[2018-04-06 11:45] pvmraghunandan opened #6828 "No clear description on how to partition input data from iot hub"
No clear description on how to partition input data from iot hub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7834085-949e-a97e-5e04-3943752f9f50
* Version Independent ID: 30b39956-d7d0-9a0b-2e4d-dcf43f38944f
* Content: [Use query parallelization and scale in Azure Stream Analytics](https://docs.microsoft.com/en-us/

[2018-04-06 11:47] pvmraghunandan opened #6829 "Links are not working"
Few Links are not working.

1. Link in ouput section for "this section"
2. "Outputs" link in section "Embarrasingly parallel jobs" point #3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7834085-949e-a97e-5e04-3943752f9f50
* Version Independent ID: 30b39956-d7d0-9a0b-2e4d-dcf43f38944f
* Content: [Use query paralleliza

[2018-04-06 12:07] ericbrunner opened #6831 "Where is the human being part in the Human Interaction pattern?"
I read that article multiple times but can't find the human beeing part in the interaction on the serverless side. The user/client side is clear.

My Use Case:

I want to build a durable function that does a live manual (human beeing operator) approval of an uploaded image
in blob store and returns true if the human beeing operator marks the image as OK or false if its marked as Not OK.

The durab

[2018-04-06 12:28] jimdial commented on #6801
@SamirFarhat Thanks for catching.  I've fixed the link. It will publish later today.

[2018-04-06 12:40] jimdial commented on #6796
@MicahMcKittrick-MSFT  Unfortunately, I can't help here. My experience with containers is limited.

[2018-04-06 13:02] ericbrunner commented on #6831
Now I understand that the mobile phone actor is the human interaction. A diagram would help a lot

[2018-04-06 13:08] cgillum commented on #6660
@GitHubber17 I think this issue was closed erroneously. The referenced commit is for something else.

[2018-04-06 13:09] bladeski commented on #6760
Can you confirm that this page is correct? Not only do some of the commands not work (currently using AzureRM module v5.6) - e.g. Get-AzureRmSqlDatabaseLongTermRetentionBackup is not a valid cmdlet and Get-AzureRmSqlDatabaseBackupLongTermRetentionPolicy ... -Current parameter cannot be found - but it also appears to be published approx 4 days in the future (4/10/2018).

[2018-04-06 13:10] bladeski opened #6832 "Docs from the future/Commands not working"
Can you confirm that this page is correct? Not only do some of the commands not work (currently using AzureRM module v5.6) - e.g. Get-AzureRmSqlDatabaseLongTermRetentionBackup is not a valid cmdlet and Get-AzureRmSqlDatabaseBackupLongTermRetentionPolicy ... -Current parameter cannot be found - but it also appears to be published approx 4 days in the future (4/10/2018).

---
#### Document Details

[2018-04-06 13:15] candidson opened #6833 "Azure Iot Hub <--> Azure Databricks"
Thanks for the great tutorial.
Do you guys also have a tutorial for connecting Azure IoT Hub to Azure Databricks?
Thanks :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4137b0cc-898b-b25c-6321-fe98f22f803d
* Version Independent ID: 4ec1e187-7e69-e5da-b6dd-cb03b6db9366
* Content: [Tutorial: Stream data into Azure Dat

[2018-04-06 13:42] MGoedtel commented on #6641
@richrundmsft, @jason-j-MSFT - Yes, I will bug this and get it fixed.

[2018-04-06 13:54] CharlPels commented on #6762
Hello Mike,

The answer of YajvendraGupta is clear, there is now Powershell support for this, the site he is referring to is only for manual gui steps, not usefull is you have many NSGs.
For now the question can be closed i guess although the issue is still there :-)
Lets wait for Powershell support.

Regards,
Charl Pels

[2018-04-06 13:54] #6762 closed

[2018-04-06 13:58] MGoedtel commented on #6690
@Richardrun, @vasivara-MSFT and @lzandman - I will bug this and get it fixed.  Thanks for bringing this to my attention.  #in-progress

[2018-04-06 13:58] smoms commented on #6824
Is the ActivateIdentityKey(byte[]); API that is the one to register a device key? i cannot find any example. thanks

[2018-04-06 14:07] MGoedtel commented on #6358
@davemct - Because this isn't a documentation issue, I am going to close this issue as it appears to be a technical issue in your environment.  #close

[2018-04-06 14:07] amanarneja commented on #6795
@iofluxdev1 Thanks for the taking the time to give feedback on your experience. If you haven't done so, I recommend reaching out to SendGrid support @ https://support.sendgrid.com/hc/en-us with the issues you have been having.

[2018-04-06 14:07] #6795 closed

[2018-04-06 14:25] jlent01 commented on #6799
Hi Micah,

I did follow the prerequisites.  However, I did the deployment over a
couple of days.  I think I may have logged in and deployed the listener
without using the Install account which is probably the source of my
problem.  Is there a reason why the 'Add Listener' wizard was not used?

On Thu, Apr 5, 2018 at 6:39 PM, Micah <notifications@github.com> wrote:

[2018-04-06 14:27] wfernandes-hsi opened #6835 "Azure SQL Database gateway IP addresses - Version History?"
Does Microsoft notify Azure PaaS tenants if there is any primary or secondary IP change in Azure SQL gateway? How do we track version history of this change?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Azu

[2018-04-06 14:30] jgdolph commented on #5953
@jeevansd Thanks so much!  Have a great weekend!

[2018-04-06 14:32] MGoedtel commented on #6537
@Ayanmullick - As I mentioned in my earlier reply, I don't have an ETA to share at this time.  Here is a link to a sample ARM template from Kristian Nese - https://azure.microsoft.com/en-us/resources/templates/oms-all-deploy/.  It is designed to deploy all OMS services to a resource group, and here is the json that integrates the two -
{
                    "name": "Automation",

[2018-04-06 14:46] SHAGGAR opened #6836 "Image transparency"
Minor issue, but some of the diagrams have black text on transparent backgrounds so when docs is set to the Dark theme the text for those diagrams is black on dark grey.  Consider removing the transparency and using a fixed background color or adjust the text so it works on a dark background.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-04-06 14:55] MSIH opened #6837 "Highlight single node at top of page."
The note in the middle of the page highlights a very important limation for using Azure Disk with Kubernetes. As many users will want multiple nodes! I think this should be moved up into the intro paraph.

An Azure disk can only be mounted with Access mode type ReadWriteOnce, which makes it available to only a single AKS node. If needing to share a persistent volume across multiple nodes, consider

[2018-04-06 15:17] rwoods42 opened #6840 "What data is stored on the azure server?"
When using this methodology, is there any data actually stored on the Azure server, or does the gateway data actually just flow to the final product - i.e. PowerBI.
We have requirements that no data reside on the servers outside our office.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b6e437d-7325-8f97-7d23-27f82cb1

[2018-04-06 15:18] towerbe opened #6841 "Monitor utilization of the secondary"
This capability is something that's been needed for a long time, and is an implementation of the CQRS concept.  One thing I don't see addressed here is how, if it is even possible, we can monitor the utilization of the secondary.  Since the DTU graphs and monitors only provide insight to the primary, if we direct all of our read-only work loads to a secondary potentially we could run into response

[2018-04-06 15:26] mtillman commented on #6825
@shtratos could you try again? This page loads fine for me. You might have been experiencing a refresh issue with CDN.

[2018-04-06 15:30] shtratos commented on #6825
Yeah, now it's taking half a second. The problem is that it's not the first time I encounter this issue.

[2018-04-06 15:44] SteveMinar opened #6842 "It would be helpful to include the B series in the list above."
We are standing up a sandbox SQL Server in Azure for development and testing purposes.
We are likely to use a burst / B series VM as it better fits the budget for this need.
The B series is not currently included in the ACU performance list.
It would be helpful to bring this up to date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-04-06 15:45] mtillman commented on #6825
On this page, or just docs.microsoft.com pages in general?

[2018-04-06 15:58] tdykstra commented on #5831
@tsahi Since PR #6071 added the file location info to the doc, can we close this issue now?

[2018-04-06 16:10] MicahMcKittrick-MSFT commented on #6831
@ericbrunner thanks for reaching out. If you find yourself having issue or want to continue this conversation please feel free to reopen and we can continue :)

[2018-04-06 16:10] Mike-Ubezzi-MSFT commented on #6776
I see, the documentation does something slightly different:

`CREATE DATABASE testdb;
CREATE USER 'db_user'@'%' IDENTIFIED BY 'StrongPassword!';
GRANT ALL PRIVILEGES ON testdb . * TO 'db_user'@'%';
FLUSH PRIVILEGES;`

Where as you include ` @<database_name>@<hostname>`

The command: `CREATE USER 'new_master_user'@'%' IDENTIFIED BY 'StrongPassword!';`

Is to create a master or primary user. Includi

[2018-04-06 16:11] neilpeterson commented on #6577
@willam-gregoire I am going to close out this issue. If you need further assistance feel free to re-open, create a new issue, or contact me directly on twitter (@nepeters).

#please-close

[2018-04-06 16:12] MicahMcKittrick-MSFT commented on #6837
@MSIH Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-06 16:12] neilpeterson commented on #6227
I've just checked out the doc, and it looks like the image is now showing.

#please-close

[2018-04-06 16:14] neilpeterson commented on #6837
@MSIH - thanks for the suggestion. I will work something up.

[2018-04-06 16:15] ericbrunner commented on #6831
Yeah I would like to continue. Please add a figure/diagram that shows that use case. A picture says more than 1000 words :)

[2018-04-06 16:17] MicahMcKittrick-MSFT commented on #6831
@ericbrunner I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cgillum can you please look into this?

[2018-04-06 16:34] shtratos commented on #6825
docs.microsoft.com pages in general

[2018-04-06 16:40] georgewallace commented on #6766
@NiklasJern These updates are live at the following url.  https://docs.microsoft.com/en-us/azure/automation/automation-update-management. After you review the changes if everything looks better can you please close the issue?  Thanks again for providing this valuable feedback, truly appreciate it!

[2018-04-06 16:42] georgewallace commented on #6703
@reinoutD This information was added to the docs as well https://docs.microsoft.com/en-us/azure/automation/automation-hrw-run-runbooks.  This covers the information in regards to runtime on a hybrid worker as well as steps to take to ensure that runbooks are resilient and can handle transient error.  Once you review can you please close the issue?  Thank you very much for your commitment to our do

[2018-04-06 16:43] georgewallace commented on #6630
@michael-freidgeim-webjet Any runbook or asset that is created can be deleted you just wouldn't be able to use it.  The Run As Accounts are used to authenticate to your account within a runbook so should be left there.  You can delete the classic one if you do not manage classic resources anymore.

[2018-04-06 16:44] MicahMcKittrick-MSFT commented on #6796
@jimdial no worries thank you for getting back.

@univhack can you open a [support ticket](http://aka.ms/azsupt) to the batch team for assistance on this?

If you don't have the ability to open a support ticket I can enable your subscription for one.

[2018-04-06 16:45] MicahMcKittrick-MSFT commented on #6799
@jlent01 thanks for getting back. I have assigned the issue to the content author to better answer your question.

@jlent01 can you please help here?

[2018-04-06 16:50] MikeRayMSFT commented on #6799
@jlent01 - First, thanks for taking the time to walk through our demo. Also, thanks for the feedback. I'm looking into your suggestion and will get back to you soon.

[2018-04-06 16:51] derekschauland opened #6844 "PowerShell equivalent"
There are no call outs to any PowerShell equivalents for this document - since much of this (if not all of it) has moved from the publisher portal to the Azure Portal proper, I would think there has to be a PowerShell method for adding AAD groups to APIM resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692852c

[2018-04-06 16:51] ericbrunner commented on #6831
![approval](https://user-images.githubusercontent.com/6480047/38433466-45b11500-39cb-11e8-987d-524f5e9a1896.png)
Something like that from the [overview](https://docs.microsoft.com/en-us/azure/azure-functions/durable-functions-overview) would help with that sample

[2018-04-06 16:52] Mike-Ubezzi-MSFT commented on #6776
Hi Jeff, That is the ultimate goal here, to update and correct the Azure documentation for accuracy. It is likely that the content was updated with your initiative reflected here, as the content owner(s) are notified when these tickets are opened against a specific document. Here are the SQL cod snippets from the document:

**How to create additional admin users in Azure Database for MySQL** (init

[2018-04-06 16:55] MohitGargMSFT commented on #6823
@hjohn76 Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-06 16:56] MohitGargMSFT commented on #6822
@LRMPratiksha Thanks for your feedback! We will investigate and update as appropriate.

[2018-04-06 16:57] MohitGargMSFT commented on #6810
@bitcoinbrisbane Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-06 17:01] vasivara-MSFT commented on #6689
@RoopAnymous  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-06 17:01] #6689 closed

[2018-04-06 17:03] HowardDay commented on #6776
Mike – Thank you for your feedback.  With regards to my earlier replies I see that they have been posted in their totality, including my signature line.  Is there a way to edit this so that my signature line – with my complete contact information – does not appear in the public areas?

Thank you

Jeff

[2018-04-06 17:07] BryanTrach-MSFT commented on #6826
@pfoolen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-06 17:09] Mike-Ubezzi-MSFT commented on #6841
@towerbe Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-06 17:10] timlaverty commented on #6819
There are a few errors in the diagram:
1. TA should point to IoT Hub
2. webui should point to Telemetry (not TA)
3. Telemetry should point to Storage (not the IoT Hub).
4. webui shouldn't point to device-simulation.

[2018-04-06 17:10] jlian commented on #6807
Hi @arcotek-ltd you should be able to use the RateCard API to get retail pricing when having an EA subscription. Just put MS-AZR-0003P (pay as you you go offer) in the query to get retail pricing.

But I think you should check out the EA price sheet API https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-pricesheet

[2018-04-06 17:10] BryanTrach-MSFT commented on #6812
@jessejiang0214 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-06 17:11] mike-urnun-msft commented on #6821
@erikmompean Thank you for your feedback! We will investigate and take necessary course of action.

[2018-04-06 17:12] Mike-Ubezzi-MSFT commented on #6836
@SHAGGAR Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-06 17:14] BryanTrach-MSFT commented on #6820
@ravianand1988 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-06 17:15] Mike-Ubezzi-MSFT commented on #6835
@wfernandes-hsi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-06 17:28] PatAltimore commented on #6612
@femsulu  I'm no longer in identity. Please follow up with @mtillman

[2018-04-06 17:29] kobulloc-MSFT commented on #6844
@derekschauland Thank you for the suggestion!  I will assign this to the author to verify if there is a PowerShell equivalent and update the document accordingly.

[2018-04-06 17:39] YutongTie-MSFT commented on #6811
@Pradhyo Thank you for your feedback, we have assigned the issue to the author of the document. He will update as necessary.

@udooz Thank you for your response and feedback. Can you please open a separate doc comment for your question if necessary?

@bradsev Jupyter notebook is mentioned in the post. Can you look into this feedback to determine if further guidance should be applied to the documen

[2018-04-06 17:39] femsulu commented on #6612
@PatAltimore Thanks for the redirect.

@mtillman any insights on this please?

[2018-04-06 17:51] bandersmsft commented on #6784
@jtuliani The update that Chris made to the article is live. Hope that helps.
#please-close

[2018-04-06 17:55] mtillman commented on #6612
@rolyon Do you have any info on the actual role that has perms to register apps? I'm assuming this is an RBAC issue.
@femsulu This issue is still against an article that @tfitzmac owns, so he should remain assigned to it.

[2018-04-06 17:56] andretms commented on #6822
@LRMPratiksha - This page does not have content for redirect URL. You probably came from another page prior to visit this one, however to answer you, in general:

1. The Redirect URL should point to the page that Azure AD redirects the user after it has been authenticated (also, this is the page that will receive the token)

2. In general, our tutorials and guided walkthroughs uses http://localhos

[2018-04-06 17:58] vasivara-MSFT commented on #6829
@pvmraghunandan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-06 18:00] Mike-Ubezzi-MSFT commented on #6776
@HowardDay I have removed your email signature form the relevant posts. I am going to move forward with closing this thread. If you should want to continue this dialog, you are able to reopen this issue tracker. If you find other documents with issues, please be motivated to raise it as an issue as you have done here.
Thank you,
Mike

[2018-04-06 18:01] MohitGargMSFT commented on #6722
@dustinadam We will now proceed to close this thread. Please open a new GitHub on the document you are providing feedback on and we will surely help you with it.

Also if there are further questions regarding to an issue with implementation, please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
[https://social.m

[2018-04-06 18:01] #6722 closed

[2018-04-06 18:01] HowardDay commented on #6776
Thank you

Jeff

[2018-04-06 18:03] andretms commented on #6822
#please-close

[2018-04-06 18:06] #6771 closed

[2018-04-06 18:06] #6780 closed

[2018-04-06 18:06] jeevansd commented on #6214
#please-close

[2018-04-06 18:07] jeevansd commented on #6214
@smusick-teamwork Thanks for the confirmation.

[2018-04-06 18:08] Mike-Ubezzi-MSFT commented on #6371
@terchris We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-06 18:08] #6371 closed

[2018-04-06 18:13] #6776 closed

[2018-04-06 18:15] rolyon commented on #6612
@mtillman I'll do some checking to see what I can find out.

[2018-04-06 18:17] MohitGargMSFT commented on #6804
@ravuchary This document is talking about an event grid event from event hub when capture file is created. Once, that is setup you can use Event Grip Triggered Function App for your implementation. Refer to this document related to it - [Event Grip Triggered Function App](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid)

[2018-04-06 18:35] GitHubber17 commented on #6660
Apologies, re-opening the PR.

[2018-04-06 18:36] Mike-Ubezzi-MSFT commented on #6832
@anosov1960 Confirming that the PowerShell cmdlets are not all correct. I verified Get-AzureRmSqlDatabaseLongTermRetentionBackup as not being recognized in the Azure Portal PowerShell session. Remove-AzureRmSqlDatabaseLongTermRetentionBackup is also not recognized.

![screenshot 89](https://user-images.githubusercontent.com/37126106/38438141-7bdcc206-398e-11e8-82e4-da585d410533.png)

I am also not

[2018-04-06 18:45] markgalioto commented on #6637
@MartinNr5 , Thank you for pointing out that this article contains outdated art. I have taken an action item to update the art and will complete the task soon.

[2018-04-06 18:47] CarteriTrellis opened #6847 "The link to 'basic policies' in this article's Note recursively links to this page"
If there is a 'basic policies' page, the Note should link to it, and not this page. If there isn't, then the link should probably be removed for better UX.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33489541-1210-69d0-4a45-5ba306d254fc
* Version Independent ID: 4dd79b67-4004-f7d0-d59d-d3c94677b36e
* Content: [Azure

[2018-04-06 18:48] markgalioto commented on #6637
#please-close

[2018-04-06 18:49] Mike-Ubezzi-MSFT commented on #6809
@kgremban This document has a code snippet that needs a minor edit.

![screenshot 90](https://user-images.githubusercontent.com/37126106/38438715-222f01f4-3990-11e8-8776-1399a48150f6.png)

**Step 4 for Windows:**

`"image": "microsoft/mssql-server-windows-developer",
"createOptions": "{\"Env\": [\"ACCEPT_EULA=Y\",\"MSSQL_SA_PASSWORD=Strong!Passw0rd\"],\"HostConfig\": {\"Mounts\": [{\"Target\": \"C

[2018-04-06 18:49] CarlRabeler commented on #6832
@bladeski rollout is lagging - ETA is next tuesday

[2018-04-06 18:53] mikehall000 opened #6848 "Identifier URL"
You HAVE to add the Identifier URL.  It is not in the instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a9af381-56ca-f43d-ca50-d0d113a94a4b
* Version Independent ID: c90a7a78-4e14-59bf-e546-2907a64272ba
* Content: [Tutorial: Azure Active Directory integration with DigiCert](https://docs.microsoft.com/en-us/

[2018-04-06 19:01] #6568 closed

[2018-04-06 19:04] jimmykurian opened #6849 "Documentation needs to by updated"
Documentation needs to be updated, Microsoft.Configuration.ConfigurationBuilders.Azure.1.0.0-alpha1.nupkg no longer exists as a nuget package. It seems the nuget packages for configuration builder have been divided into Base, Azure, Enivronment, Json, and UserSecrets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba5d

[2018-04-06 19:12] amanarneja commented on #6568
@dcremonini - Just submitted a fix. The links Should have been :
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.sqlfilter
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.sqlfilter.sqlexpression

[2018-04-06 19:24] javgarces opened #6850 "How can I know which Backup Job corresponds to which IaaS VM when they have the same name?"
Context: Azure VMs with the same name (different Resource Groups), associated to the same Recovery Services vault.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fb64073-8e41-ee31-c8eb-e2d8a64947fd
* Version Independent ID: 58d370cc-6951-6096-5e4b-a08bfd86a7c3
* Content: [Manage Azure Recovery Services vaults and serv

[2018-04-06 19:32] vchelaru opened #6851 ""Use Notification Hubs to push notifications to users" 404's"
Clicking on the "Use Notification Humbs to push notifications to users" link takes the user to:

https://docs.microsoft.com/en-us/manage/services/notification-hubs/notify-users-aspnet

Which is a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8

[2018-04-06 20:08] sramareddi commented on #6745
I was following steps at the below link and encountered error as mentioned above.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven

[2018-04-06 20:16] BryanTrach-MSFT commented on #6805
@ravjay I apologize for the confusion on my end. Thank you for the clarification. I am going to assume that we don't support selecting the notification type for Baidu at this time as I do not have the ability to select the notification type either.

Let me reach out to the product group and see if they have any feedback regarding this. I will update you once I have a reply.

[2018-04-06 20:25] Brenduns commented on #6510
@niceysj   Its been about 7 days, and I remain unclear as to the focus of your question. So, before closing this,  I'll try to cover both options I can imagine.

For the portal, we inherit the portal functionality from Azure - so Azure must implement that type of option before Azure Stack and include that.  If this is for content, that is not something our publishing platform supports at this time

[2018-04-06 20:35] smoms opened #6852 "Encryption key questions"
when mentioned "encrypted key back to the device" which key is encrypted? what is the encryption key? how does the device use it to connect to IoT Hub (maybe generates a SAS Token)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57d1d61a-9a93-7979-d562-21c6b712c22e
* Version Independent ID: e485312b-15fd-b681-fd6c-8556

[2018-04-06 20:42] christiankuhtz commented on #6436
Sorry, can you please explain what you are referring to here? There has never been a host setting for the probe.

[2018-04-06 20:49] KumudD commented on #6436
@Adam-Smith-MSFT Can you please remove the "application-gateway" tag and add the "load-balancer" tag instead.

[2018-04-06 20:54] christiankuhtz commented on #6436
@molinamelendezj did you perhaps mean to create an Azure Application Gateway and accidentally go to create Azure Load Balancer instead?

[2018-04-06 21:06] mohandatla opened #6854 "seems dps client sample link is broken"
It is under the section "Verify the device is registered", clicking on it is giving 404 error.
https://github.com/Azure/azure-iot-device-auth/blob/master/dps_client/samples/dps_client_sample/dps_client_sample.c

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee12ff08-add3-63c5-b5ca-2e15e4d6f8d4
* Version Independent ID:

[2018-04-06 21:06] yorek opened #6855 "Missing "Restore a data warehouse using T-SQL" page"
When clicking on "Restore a data warehouse using T-SQL." you are actually directed to the " Restore a data warehouse using REST" page. If then I try to look for the T-SQL page from the top-left combo box under the title, there is no page related to T-SQL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7c1ff9c-547c-e90

[2018-04-06 21:13] amitghosh2013 opened #6856 "Getting error during loading the solution in VS2017"
Hello, I am getting the following error during solution loading in VS2017. Any clue?

The project system has encountered an error.

Value cannot be null.
Parameter name: path1

The diagnostic log contains:
=====================
4/6/2018 2:01:57 PM
Recoverable
System.ArgumentNullException: Value cannot be null.
Parameter name: path1
   at System.IO.Path.Combine(String path1, String path2)
   at Mic

[2018-04-06 21:25] msebolt commented on #6854
It looks like the sample is no longer supported.  I think an alternative is to use, https://github.com/Azure/azure-iot-sdk-c/blob/master/provisioning_client/samples/prov_dev_client_sample/prov_dev_client_sample.c

This should still be tested and replaced in the article.

[2018-04-06 21:42] Mike-Ubezzi-MSFT commented on #6824
@smoms I think you will find these steps more in-line with what you are interested in figuring out: [Enroll the device to an IoT hub using the Azure IoT Hub Provisioning Service Client (.NET)
](https://docs.microsoft.com/en-us/azure/iot-dps/tutorial-net-provision-device-to-hub)
In the previous tutorial, you learned how to set up a device to connect to your Device Provisioning service. In this tuto

[2018-04-06 21:49] twooley commented on #6705
@valentijnscholten Thank you for bringing this to our attention. We have opened an item in our documentation backlog to have this investigated. We'll respond back to you on this issue when we've done the work. For now, we'll close this GitHub issue.

[2018-04-06 21:50] twooley commented on #6705
#please-close

[2018-04-06 21:50] MNF commented on #6630
Thanks,@georgewallace.
Can you add the note to the main doc, that “Any automatically created runbook can be deleted,if not used”?
It also would be nice to have an option during creation of the account to exclude automatically created runbooks.

[2018-04-06 22:15] cgillum opened #6857 "Incorrect URL for logging in with Microsoft Account"
The correct login URL for Microsoft Account is:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b55
* Version Independent ID: 034d1ba0-a737-21ab-3717-ed8798ac5fe1
* Content: [Customize authentication and authorization in Azure App Service](https://docs.microsoft.com/en-us/azure/ap

[2018-04-06 22:25] vasivara-MSFT commented on #6829
@pvmraghunandan Thank you for letting us know about the broken links. I have fixed the links. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-06 22:25] #6829 closed

[2018-04-06 22:38] Mike-Ubezzi-MSFT commented on #6855
@yorek Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-06 22:40] Mike-Ubezzi-MSFT commented on #6855
@ronortloff The issue is found in the [Restoring from restore points](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/backup-and-restore#restoring-from-restore-points) section.

[Restore a data warehouse using T-SQL](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-restore-database-rest-api)

[2018-04-06 22:45] twooley commented on #6671
@valentijnscholten Hello. Thanks for reporting this issue and helping to improve the docs. I have updated the article with a new screenshot (and made some other minor updates).

[2018-04-06 22:46] Mike-Ubezzi-MSFT commented on #6849
@jimmykurian Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-06 22:46] twooley commented on #6671
#please-close

[2018-04-06 22:48] Mike-Ubezzi-MSFT commented on #6854
@mohandatla Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-06 22:51] msebolt commented on #6854
Adding @domincbetts

[2018-04-06 22:53] Mike-Ubezzi-MSFT commented on #6852
@smoms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-04-06 23:05] shraboin opened #6860 "AzCopy parameter question"
Any reason why it is not taking advantage of SyncCopy? Would this still work if you changed this:
$azCopyCmd = [string]::Format("""{0}"" /source:{1} /dest:{2} /sourcekey:""{3}"" /destkey:""{4}"" /snapshot /y /s",$AzCopyPath, $container.CloudBlobContainer.Uri.AbsoluteUri, $destContainer.Uri.AbsoluteUri, $srcStorageAccountKey, $DestStorageAccountKey)

To this:
$azCopyCmd = [string]::Format("""{0}""

[2018-04-06 23:06] MohitGargMSFT commented on #6848
@mikehall000 Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-04-06 23:07] mtillman commented on #5465
@tsrob50 Content has been updated to address you the issue you raised. Check the [FAQ](https://docs.microsoft.com/en-us/azure/active-directory/connect-health/active-directory-aadconnect-health-faq#operations-questions) for a question regarding audit logs.
#please-close

[2018-04-06 23:09] #6637 closed

[2018-04-06 23:11] MicahMcKittrick-MSFT commented on #6783
@dcaro thanks for that update!

@larryms I will close this out but if you are still having issues after next week when the doc is fixed please come back and we can reopen

[2018-04-06 23:11] #6783 closed

[2018-04-06 23:11] ajlam commented on #6614
Didn't realize there was an issue filed when I created my PR to fix the typo.
#please-close

[2018-04-06 23:12] MohitGargMSFT commented on #6847
@CarteriTrellis Please help me understand which section of the document you are referring here. I do not find 'basic policies' mentioned in the document.

[2018-04-06 23:17] #6614 closed

[2018-04-06 23:27] Mike-Ubezzi-MSFT commented on #6835
@wfernandes-hsi While I try to get feedback from the product group, please take a moment to vote and provide feedback to the existing User Voice thread: [Azure SQL DB Gateway IP address change notifications](https://feedback.azure.com/forums/217321-sql-database/suggestions/32658010-azure-sql-db-gateway-ip-address-change-notificatio)

It lets the product group know how many are interested in this p

[2018-04-06 23:27] twooley commented on #6670
@valentijnscholten Hello. Thanks for pointing out the need for clarification here. We have filed a documentation backlog item to get this updated, and will reply on this thread when the update goes live (hopefully next week). For now, we're closing this GitHub issue.

[2018-04-06 23:28] twooley commented on #6670
#please-close

[2018-04-06 23:28] CarteriTrellis commented on #6847
@MohitGargMSFT Ah, I see what's going on - it's the content in [!INCLUDE active-directory-b2c-advanced-audience-warning], which isn't apparent when you leave a comment from the live article.

[2018-04-06 23:29] #6670 closed

[2018-04-06 23:30] BryanTrach-MSFT commented on #6851
@jwhiteDev or @dimazaid Can you confirm that the link which causes a 404 (https://docs.microsoft.com/en-us/manage/services/notification-hubs/notify-users-aspnet) should be replaced with https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-aspnet-backend-windows-dotnet-wns-notification?

If so, please let me know and I can file the update.

[2018-04-06 23:30] MohitGargMSFT commented on #6847
@CarteriTrellis Yes please. Go ahead to open issue in page you see the issue. That will help.

[2018-04-06 23:30] #6847 closed

[2018-04-06 23:31] MicahMcKittrick-MSFT commented on #6842
@SteveMinar Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-06 23:32] MicahMcKittrick-MSFT commented on #6856
@amitghosh2013 can you point me to the direct location in the doc you are having issues with?

[2018-04-06 23:33] Mike-Ubezzi-MSFT commented on #6850
@javgarces Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-06 23:35] MicahMcKittrick-MSFT commented on #6796
@univhack I see you have moved this to the forums and are in the process of working through it. I am following that thread and will chime in where I can.

I will close this out for now and we can continue on the thread.

https://social.msdn.microsoft.com/Forums/azure/en-US/54899e9f-2163-4468-8d6b-60fef5de4d2b/container-workload-no-such-image?forum=azurebatch

[2018-04-06 23:35] #6796 closed

[2018-04-06 23:37] jason-j-MSFT commented on #6644
@HemantChandurkar I could replicate your issue where the 'trigger().scheduledTime' system variable was not working as expected.  Here is the error message I received when attempting to use 'trigger().scheduledTime' to create a file named from the scheduled trigger time:

Activity U-SQL1 failed:  'The template language expression 'concat('/adf-data/output/test-',trigger().scheduledTime)' cannot be

[2018-04-06 23:49] Mike-Ubezzi-MSFT commented on #6860
@shraboin Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-06 23:50] BryanTrach-MSFT commented on #6857
@cgillum Thank you for the heads up. We have updated the doc and the changes should be public shortly. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-06 23:51] #6857 closed

[2018-04-06 23:51] jason-j-MSFT commented on #6644
@nabhishek The 'trigger().scheduledTime' variable found on this page does not seem to work:
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-system-variables#trigger-scope

[2018-04-07 00:00] alonf opened #6861 "missing docker login"
There is a need to call "docker login" before the "iotedgectl start"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64575e7c-664c-4d6b-a440-24c91e93def5
* Version Independent ID: 17d9481c-a75b-bbfd-1f9a-76fc3d6b2930
* Content: [Quickstart Azure IoT Edge + Windows](https://docs.microsoft.com/en-us/azure/iot-edge/quickst

[2018-04-07 00:01] amitghosh2013 commented on #6856
MicahMcKittrick-MSFT, here is the link:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-dotnet#run-the-application-locally

[2018-04-07 00:08] jeevansd commented on #6848
@mikehall000 Thanks for reporting this we will make the Identifier mandatory here. Also note that you have to enter this value for Identifier https://www.digicert.com/sso

[2018-04-07 00:42] jeevansd commented on #6848
@mikehall000 We have made the identifier mandatory. Now we will make the updates in the doc.

[2018-04-07 00:44] femsulu commented on #6861
@alonf We appreciate you bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-07 00:51] BryanTrach-MSFT commented on #6019
@ddst0111 We have been investigating your request but we have been unable to locate a proper answer. We would kindly request you to post your question on [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-api-management) to see if you are able to receive a response over there. Please share the URL so we can track it.

[2018-04-07 01:06] BryanTrach-MSFT commented on #6757
@rajashekar2012 Thank you. We are now tracking the issue. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-07 01:13] molinamelendezj commented on #6436
@christiankuhtz I have an azure load balancer with a health probe configured, with app insights monitoring enabled. app insights throws Argument Exception because the http request host is not specified for the azure load balancer health probe calls.

After your previous comment the question now becomes **are there any plans to add host setting to the azure load balancer?** or Should I open somethi

[2018-04-07 01:15] #6757 closed

[2018-04-07 01:46] Ayanmullick opened #6863 "Monitor Automated Backup status"
How do I Monitor Automated Backup status thru Log Analytics and create an email alert on failure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14384c8d-73a4-f0e9-e749-e6b02c0fceab
* Version Independent ID: 0a657108-aa72-d843-e640-c94bafa1fdb7
* Content: [Automated Backup for SQL Server 2014 Azure Virtual Machines](ht

[2018-04-07 01:48] rolyon commented on #6612
@tfitzmac Based on my research, I think you have to be a Global Administrator to register applications. I've also sent a message to the team to confirm.

[2018-04-07 01:56] BryanTrach-MSFT commented on #6820
@ravianand1988 Would this document answer your questions? https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm

If not, please let us know and we can review this further.

[2018-04-07 05:32] harshtimes opened #6865 "Well defined documentation step"
Very Well defined documentation steps. Very easy to understand and configure. I configured one virtual network and two VMs. Never thought this will be so easy.
Thanks
Harsh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f0990fc-9834-bde3-5e06-071c75fa89a5
* Version Independent ID: 96f5df37-aa95-443d-2500-37665179ce89

[2018-04-07 06:52] githubavi commented on #6591
ok. so it means that I need to run this on my own data set, observe and see the values I get. Then tune my threshold accordingly. Correct?

[2018-04-07 06:53] dubansal commented on #6591
Yes, that would work.

[2018-04-07 06:54] githubavi commented on #6591
Thanks.

[2018-04-07 07:16] afroz0429 opened #6866 "Error: User journey must be preceded by a claims provider selection"
I started from scratch
* Created Azure B2C directory
* Setup FacebookSecret placeholder
* Created Application Insights resource
* Uploaded custom policy TrustFrameworkBase.xml from starter pack after changing tenant ids
* When uploading "yourtenant.onmicrosoft.com-B2C_1A_TrustFrameworkExtensionsAppIns SAMPLE no valid keys TESTED.XML",
I get the following error
User journey "SignUpOrSignIn" in poli

[2018-04-07 08:00] smoms commented on #6824
@Mike-Ubezzi-MSFT  thanks. Unfortunately this is not what i am looking for. It is not clear to me how the key exchange between IoTHub and device work! I see the device can after registration get a SASToken (assuming i use TPM). The SASToken it is generated by the IoT, right? How the IoTHub's device symmetric key is forwarded to the device? What happen when the SASToken expires? Other question: is

[2018-04-07 08:32] willmorgan commented on #6698
@msvijayn If you copy a few of those examples into an IDE or JSON validator you'll see that the JSON isn't valid. To me this suggests that these aren't the real output of what the webhook sends.

[2018-04-07 08:41] ToMakeSense opened #6867 "Can't find listSecrets function in azure docs"
I wanted to get a secret from Key Vault by using an ARM template, then I found this link [listsecrets-on-azure-vault-using-an-arm-template](https://stackoverflow.com/questions/48006560/listsecrets-on-azure-vault-using-an-arm-template) on stack over flow, it really worked in the ARM template. However I couldn't find **listsecrets** function in the list of this page [Azure Resource Manager template

[2018-04-07 09:05] DandelionWenjing opened #6868 "Create Issue for Creating new articles on Azure Internet of Things"
# Azure documentation issue guidance

## Creating an issue

We want to contribute to Microsoft Docs to create new articles and this issue is to describe what we want to contribute.
- The relevant Azure technology we want to contribute is Azure IoT.
- There are many services related to Azure iot hub which our customers need to learn how to combine them together for complete solution. We have found

[2018-04-07 09:44] DandelionWenjing commented on #6868
We'd like to work on the solution template by industry and want to focus on IoT technology area. The template scenario will come from a real customer. This article will introduce the following points:
1 Scenario background
2 Which industry they belong to
3 What problem they want to solve
4 Architecture
5 Technology introduction in detail
6 Code github address

[2018-04-07 10:12] gkottur opened #6869 "Read Device Twin from Device"
On subscribe, I get notifications when an update is performed on device twin. In such cases, the update is partial and only sends the changed parameters of desired.
The iothub services client of azure-iot-sdk-c has provision to read,but the iothub_client can only subscribe and not read
Is there a way for a device to read the entire device twin?

---
#### Document Details

⚠ *Do not edit this secti

[2018-04-07 11:57] eaglelim opened #6870 "Latest Storage Explorer requires more inputs"
Storage Explorer also requires the "sign in resource ID" and the "ARM resource ID" to connect to Azure Stack ... can you clarify where can we find these IDs in the documentation? thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5aa954f6-471e-fb07-ad81-d3c389b8d1ea
* Version Independent ID: d3639022-7f5a-1e2e-4

[2018-04-07 12:16] shantanurajebhosale commented on #5705
Hi, I tried to execute CREATE EXTERNAL DATA SOURCE NYTPublic
WITH
(
    TYPE = Hadoop,
    LOCATION = 'wasbs://2013@nytaxiblob.blob.core.windows.net/'
);
but I get the following error
Msg 102, Level 15, State 1, Line 4
Incorrect syntax near 'HADOOP'.

[2018-04-07 12:53] shantanurajebhosale opened #6871 "CREATE EXTERNAL DATA SOURCE NYTPublic NOT WORKING"
Below script throws an error:
CREATE EXTERNAL DATA SOURCE NYTPublic
WITH
(
    TYPE = Hadoop,
    LOCATION = 'wasbs://2013@nytaxiblob.blob.core.windows.net/'
);
ERROR:
Msg 102, Level 15, State 1, Line 4
Incorrect syntax near 'HADOOP'.

Kindly suggest any solution

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e253528-

[2018-04-07 14:29] reinoutD commented on #6703
Thank you for the information!

[2018-04-07 14:45] elmt1 opened #6872 "Include Latency to Comparisons"
I have discovered that some applications will not run well in the non-premium configurations due to latency issues. I only found that after building out and deploying a SaaS application to an Elastic SQL database. I believe that moving to a premium tier would address the issues I am seeing I don't know if I can justify the cost. Ideally, I would have had a better description of what to expect for

[2018-04-07 16:28] MicahMcKittrick-MSFT commented on #6863
@Ayanmullick thanks for reaching out. Seeing as the information you are looking for is along the lines of guidance and implementation rather than on this specific document I suggest you ask your inquiry in the forums.

Please post your question **[here](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazureonlinebackup)** so our engineers and properly assist.

[2018-04-07 17:57] femsulu commented on #6867
@ToMakeSense We appreciate you bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-07 18:00] femsulu commented on #6867
@tfitzmac can you please take a look at this: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions (missing **listsecrets** Function)

[2018-04-07 18:05] femsulu commented on #6868
@DandelionWenjing Thanks for your comment and request to contribute to Microsoft docs. I have engaged the content team to review and determine next best step. Please stay tuned.

[2018-04-07 18:26] femsulu commented on #6869
@gkottur Thanks for the question. We are actively investigating and will get back to you soon.

[2018-04-07 18:28] femsulu commented on #6870
@eaglelim We appreciate you bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-07 18:32] femsulu commented on #6865
@harshtimes Thanks for the Kudos. Happy the document met your expectations. Cheers.

[2018-04-07 18:35] #6865 closed

[2018-04-07 18:41] femsulu commented on #6866
@afroz0429 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-04-07 18:51] femsulu commented on #5465
@tsrob50 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-07 18:51] #5465 closed

[2018-04-07 18:52] femsulu commented on #6142
@petersatsuse
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-07 18:52] #6142 closed

[2018-04-07 18:52] femsulu commented on #6214
@smusick-teamwork We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-07 18:53] #6214 closed

[2018-04-07 18:54] femsulu commented on #6227
@lrxtom2 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-07 18:55] #6227 closed

[2018-04-07 18:56] femsulu commented on #6510
@niceysj  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-07 18:56] #6510 closed

[2018-04-07 18:56] #6577 closed

[2018-04-07 18:57] femsulu commented on #6671
@valentijnscholten We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-07 18:57] #6671 closed

[2018-04-07 18:59] femsulu commented on #6705
@valentijnscholten  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-07 18:59] #6705 closed

[2018-04-07 19:01] amanarneja commented on #6868
@DandelionWenjing Thanks for following the steps @ https://docs.microsoft.com/en-us/contribute/ and creating an issue to start the conversation!

@tysonn / @timlt Can you take a look and proceed with this as appropriate.

[2018-04-07 19:02] femsulu commented on #6784
@jtuliani Closing this thread as resolved. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-07 19:02] #6784 closed

[2018-04-07 19:03] femsulu commented on #6794
@markgar  Now closing this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-07 19:03] #6794 closed

[2018-04-07 19:03] femsulu commented on #6801
@SamirFarhat  Closing this thread as resolved. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-07 19:03] #6801 closed

[2018-04-07 19:04] femsulu commented on #6822
@LRMPratiksha Closing this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-04-07 19:04] #6822 closed

[2018-04-07 20:30] Ayanmullick commented on #6863
Monitoring is a basic functionality and a link to it's documentation should be mentioned in the '**Next steps**' section of this document.

[2018-04-07 20:34] Ayanmullick opened #6876 "Reserved instance specification"
How do I specify the Reserved  instance ID while provisioning a VM thru Powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43730e28-6408-6201-4d64-39051d5d1319
* Version Independent ID: b0420753-5d4a-66af-85b9-c7f150d5256f
* Content: [Common PowerShell commands for Azure Virtual Machines](https://docs.microsoft

[2018-04-07 20:38] smithyhammer commented on #5227
Maven dependencies would be nice too.

[2018-04-07 23:26] atrosity opened #6877 "step five incorrect"
Step five should read Start-AzureRMAutomationRunbook $RBParams

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59ffe00e-9aea-339d-7315-96860634651e
* Version Independent ID: 0ead4272-d44e-3ba7-17dd-1a436682d6de
* Content: [Pass a JSON object to an Azure Automation runbook](https://docs.microsoft.com/en-us/azure/automati

[2018-04-08 00:07] femsulu commented on #6877
@atrosity Thanks for bringing this to our attention. We are investigating and will get back to you shortly.

[2018-04-08 00:36] michaeldaw opened #6878 "Re: "Events are sent to Azure Event Grid in an array, which can contain multiple event objects.""
With respect to pricing, if several event objects are sent in an array, do they count as a single event, or as the number of event objects in the array?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c612f098-ae63-bc16-d594-14e8550ff688
* Version Independent ID: 2dd289e9-53ad-0d16-7dc6-47a687880031
* Content: [Azure Ev

[2018-04-08 01:41] MicahMcKittrick-MSFT commented on #6863
I can assign this to the author to review and consider adding those steps.

@rothja can you please take a look?

[2018-04-08 01:48] femsulu commented on #6878
@michaeldaw good question. I have passed this on to the content owner to review and provide an answer. Please stay tuned.

[2018-04-08 01:53] LyalinDotCom opened #6880 "Next steps"
Next steps are really poorly documented. They are basically GitHub repos of code and not step-by-step docs that i would expect. On top of that the Xamarin one has very little detail at all for context on what to do here.

We're basically missing all the actual details of how this offline solution is architected, what components are part of it, what platforms we support, etc. this is such an exciti

[2018-04-08 01:55] LyalinDotCom opened #6881 ""This example has been developed for the .NET Framework using Visual Studio 2015, Community Edition.""
This is really putting an out-of-date version of Visual Studio on some of our most interesting and forward looking services. It's fine and great even if VS compatibility for these examples goes back to previous VS versions but this sample should be created and available for people using VS 2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-04-08 02:59] LyalinDotCom opened #6882 ""Video API Preview will end on October 30th, 2017. Try the new Video Indexer API Preview""
This statement in the docs via link on text "Video Indexer..." takes me to this page:

https://azure.microsoft.com/en-us/services/cognitive-services/video-indexer/

Which then says:

"The Video API Preview ended on October 30, 2017. For previous Video API customers, we recommend you try the new Video Indexer API Preview where you can easily extracting insights from videos and enhance content disco

[2018-04-08 04:06] mark-beaupre opened #6883 "Enhanced Networking for Ubuntu Linux VMs only Available via Azure CLI and PowerShell"
The article implies that you can create Ubuntu Linux VMs with Enhanced Networking via the Azure Portal in addition to the Azure CLI and Azure PowerShell.

From the behavior I have seen with the Azure Portal, the portal does not allow you to create Ubuntu Linux VMs with Enhanced Networking.

Thanks,
Mark

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-04-08 06:49] tsahi commented on #5831
fixed by PR #6071

[2018-04-08 06:49] #5831 closed

[2018-04-08 07:08] genlin opened #6884 "Translation problem in zh-cn"
The Chinese version (zh-cn) of " call Support immediately and open a ticket to restore the storage account. " is wrong. It should be "请立即致电支持人员，并创建工单以还原该存储帐户。"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2886c04b-f7ec-2d03-8a02-ccf6968c1a78
* Version Independent ID: 09566558-0c75-1246-83d8-5e78502c35a1
* Content: [U

[2018-04-08 07:16] lordstyx commented on #6815
@BryanTrach-MSFT thanks for the swift follow-up. The github integration of your docs is really cool.

One thing I'd like to add: next to pointing out this caveat in the documentation, it would be a huge plus if the rotation of the certificates could happen automatically as well. The documentation gave me the impression that this would happen, and is the main reason I chose to use web-apps for my n

[2018-04-08 08:14] genlin commented on #6076
@ssugar A pull request is submitted to update the article. The following information will be added into the articles:

For Linux VM, If the VMSnapshot extension does not show in the Azure portal, [update the Azure Linux Agent](../virtual-machines/linux/update-agent.md), and then run the backup.

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2018-04-08 09:31] femsulu commented on #6880
@LyalinDotCom Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-08 09:36] femsulu commented on #6881
@LyalinDotCom Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-08 09:39] femsulu commented on #6882
@LyalinDotCom Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-08 09:46] danyongliu opened #6885 "publish to azure via "mvn azure-functions:deploy" doesn't support service principal"
Repeat the problem:
1. login to azure through service principal (https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli?view=azure-cli-latest#logging-in-with-a-service-principal)
2. Run "mvn azure-functions:deploy" to deploy the function
3. Error like this "Failed to execute goal com.microsoft.azure:azure-functions-maven-plugin:0.2.0:deploy (default-cli) on project rsmgr-liquibase-func:

[2018-04-08 09:47] femsulu commented on #6883
@mark-beaupre  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-04-08 10:08] xelossan opened #6886 "The certificate is not a valid base64 string value"
I'm trying to follow the example, but after generating .pem file and adding new individual enrolment in Device Provisioning Service, I get following error:
{"message":"BadRequest:{\r\n \"errorCode\": 400004,\r\n \"trackingId\": \"1e17966c-e4df-4bdc-8138-a80c85c48efb\",\r\n \"message\": \"The certificate is not a valid base64 string value\",\r\n \"timestampUtc\": \"2018-04-08T10:05:47.8911422Z\"\r\

[2018-04-08 10:10] assafmendelson commented on #6649
@rloutlaw After doing some more testing, it appears that it works when logging in using user login (by opening https://microsoft.com/devicelogin in the browser and entering the code) but not when doing az login with a principle, even though the principle has contributor role

[2018-04-08 10:13] xelossan commented on #6886
Looks like I've found the workaround. Generated .pem file looks like this:
[code]
and it doesn't work in Azure Portal, but after deleting `-----BEGIN CERTIFICATE-----` and `-----END CERTIFICATE-----` lines from the file and leaving only Base64 value, it works ok.

[2018-04-08 11:04] vhusker opened #6887 "Include information about using an Azure administrator account with MFA enabled"
In step 1 under "install and register a connector" there should be information about not using an account with MFA enabled, because it won't work.  The installation process completes successfully, but the connector never registers properly and there are no errors logged (at least not that I could find) that this is what is causing the problem.  I wrote a short blog about this issue here:  https://

[2018-04-08 11:34] MSIH opened #6888 "Include Azure File Share Specification and Limits"
This page should include the current Azure file share specifications and limits. This info is co-mingled in the "choose blob, files or disk" page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b46c09cf-2ce5-b822-7b07-40b809256e72
* Version Independent ID: 124a9438-9a25-e118-591e-4415373402c9
* Content: [Introduction t

[2018-04-08 12:25] skerkmann commented on #5838
My MFA authentication method, detail and result are all blank. Is there a reason ? What do I need to configure to have that information show up in the sign Ins report ?

[2018-04-08 12:25] tsahi commented on #6348
Perhaps [this example](https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Microsoft.Azure.ServiceBus/Sessions) would be better.

[2018-04-08 13:02] Seddryck commented on #6663
If you update the section [Clone the sample application](https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-dotnet#clone-the-sample-application) then don't forget to also update the next section "review code". In that section, the creation of the gremlinClient should be updated to

[code]

[2018-04-08 13:02] Rutikhal commented on #6428
how I could reopen this issue? I still dont have answer

[2018-04-08 14:27] NiklasJern commented on #6766
@georgewallace Looks great, feel free to close the issue

[2018-04-08 14:27] #6766 closed

[2018-04-08 15:25] SharmainePopov opened #6889 "Putty Public Keys"
Pre-Azure-Loves-Linux, Putty established itself as the default way to access Linux and Unix VMs via ssh. The putty tool used to generate keys on a windows desktop is puttygen, and the default key format is .ppk. I would like to upload both the public  key to Azure Key vault for use with ad-hoc creation of VMs. However I have failed to succeed - the keyvault doesn't preserver the format of the keys

[2018-04-08 15:28] bdcoder2 opened #6890 "Dead link"
Clicking on See customize the http endpoint. does nothing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca056578-526c-603a-a0c7-fad5184134c0
* Version Independent ID: 486bd792-6be0-e4e4-8e81-c383591b4a87
* Content: [Azure Functions HTTP and webhook bindings](https://docs.microsoft.com/en-us/azure/azure-functions/func

[2018-04-08 15:45] #6076 closed

[2018-04-08 15:49] MicahMcKittrick-MSFT commented on #6885
@danyongliu can you please provide me with the functions documentation you are also following? The only link I see is for options to login via Azure CLI.

[2018-04-08 15:52] MicahMcKittrick-MSFT commented on #6889
@SharmainePopov Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-08 15:52] MicahMcKittrick-MSFT commented on #6890
@bdcoder2 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-08 15:54] MicahMcKittrick-MSFT commented on #6886
@xelossan thanks for reaching out! Glad to hear you found a work around.

I am assigning this to the content author to review and determine if the doc needs updating.

[2018-04-08 15:55] MicahMcKittrick-MSFT commented on #6887
@vhusker Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-08 15:56] MicahMcKittrick-MSFT commented on #6884
@genlin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-04-08 15:57] MicahMcKittrick-MSFT commented on #6888
@MSIH Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-04-08 17:42] omis76 opened #6892 "Update for gradle version 3.0.1"
After Gradle 3.0.0 android deprecated android.enableAapt2. So android studio cant build the project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 751ccff2-59c4-e2e4-8a64-d90b195c89ac
* Version Independent ID: 6c696aa8-9226-737e-94fe-1f0697e88038
* Content: [Face API Java for Android tutorial - Microsoft Cognitive Ser

[2018-04-08 18:54] Robamalama opened #6893 "IP_WHITELIST - for site exclusion"
We have the NPS extension configured for our RDS deployment and want to exclude HQ office from MFA. Is this possible? I tried to enter our public facing IP-address in the IP_WHITELIST registry value but it doesn't appear to work. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 696b1a53-3247-df36-7423-247365c65c4

[2018-04-08 19:08] jboarman commented on #6546
For the record, the few times we've checked, it's taken more than 24 hours.  And, frankly speaking, anything more than 10 minutes is ridiculous.

How are we supposed to use this as a factor in monitoring for unusual activity or being under attack with such latent response times?   :confused:

[2018-04-08 19:33] ankushbindlish2 opened #6894 "Update and redeploy the app | My Git Repository"
Update and redeploy the app

How do i update the website with latest on git repository ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Version Independent ID: 626d7451-0b8e-051e-e512-0bf90be319a0
* Content: [Create a static HTML web app in Azure](https://docs.microsoft.com/en-us/

[2018-04-08 20:12] m1m6 opened #6896 "Getting started with microservices [From zero to production]"
On Sale | Hurry to save 94% off this course (pay only 9$)

Getting started with microservices [From zero to production]

https://goo.gl/XnrnuS
Original price 159$﻿

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9da8bfc3-34f4-4b28-58bc-44db1d5990b9
* Version Independent ID: 8fb2214a-ade9-7cef-4fc8-e6888e5c1fd0
* Content

[2018-04-08 21:52] MNF opened #6899 "Link “Suppress alerts” refers to the page that doesn’t have word “Suppress“"
Link “Suppress alerts” https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-tutorial-response#create-alerts refers to the page that doesn’t have word  “Suppress“

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bca53932-1dc4-9faa-6a04-ccbd26307086
* Version Independent ID: fcea05cc-52d9-7655-5683-5b576082af

[2018-04-08 22:57] azkamil commented on #6760
@Mike We cannot use Export as a service(powershell), since it needs lax firewall settings.
We export with DAC library in dedicated VM, which needs to be maintained by us.
So some protection against compromised accounts in LTR is desirable.

[2018-04-08 23:05] kareemalsaman opened #6900 "CEO"
Entrepreneur | Solution-Focused | Strategic Thinker| Influential and Motivational | Result Driven and Open-Minded

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78899009-3148-e888-cc84-8955e19fe48c
* Version Independent ID: 3ff29dd0-e8a4-63e6-a100-097c350b2e25
* Content: [Microsoft Authenticator app for mobile phones](

[2018-04-09 00:35] Juliako commented on #6844
@kobulloc-MSFT, please assign @vladvino

[2018-04-09 00:51] JasonLTran opened #6901 "Pricing tier doesn't match the subscription billing model"
Hi,

Getting the below error when trying to deploy OMS (**Step 5 of Deploy the solution** for https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management)
Pricing Tier : free
location: Australia Southeast
resource group: selected existing RG with 1 virtual machine in it

After attempting to deploy with these parameters I get the below error.

Could anyone assist?

![capture