[2020-02-17 16:55] hansenms commented on #48037
I think you are trying to add the reply url as a web reply url (confidential client, which requires a secret), you need to add a public client (mobile, single page app):

![image](https://user-images.githubusercontent.com/1149740/74672939-1e4a0100-5163-11ea-826d-02e11df6f4d2.png)

https://docs.microsoft.com/en-us/azure/healthcare-apis/register-public-azure-ad-client-app

[2020-02-17 16:58] torfulle opened #48270 "Update Doc to Include Tag support at Subscription Scope"
Hi all,

I realize we have updated the following doc to include Tag Support at the subscription but it might be nice to add applicable scopes within this doc as well regarding the new update for tagging at the subscription scope: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#subscription-limits

---
#### Document Details

⚠ *Do not edit

[2020-02-17 16:58] hansenms commented on #33504
Looks like you are trying to create a multi-tenant application. This can only be done with domain registered in the tenant. However, you don't need to create that app, we have a first-party app that covers that identifier URI, so no need to create one.

[2020-02-17 16:59] beniluul commented on #47074
@v-nagta @chetansriv @jeevansd

Fantastic work guys. I really appreciate this. Although I did notice Azure recently is requiring a third SAML Configuration field called "**Reply URL (Assertion Consumer Service URL)**".

So for section labeled: "**Configure Azure AD single sign-on**" can you please update it like so:

Step 4.
On the Basic SAML Configuration section, perform the following steps:

a.

[2020-02-17 16:59] SumanthMarigowda-MSFT commented on #47479
@cananac  Firstly, apologies for the delay in responding here!
/32 is just a single address, so there’s no point in applying that as a bit-mask. However on the /31 has some constraint we are following up on this
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the i

[2020-02-17 16:59] #47479 closed

[2020-02-17 17:03] vishakha-cell commented on #47495
@YutongTie-MSFT : could not find any leads for this query, Please extend your support on this.

[2020-02-17 17:04] beniluul opened #48271 ""Saba TalentSpace" quick easy update for public documentation"
In regards to the public KB article:
"**Azure Active Directory integration with Halogen Software**"
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/halogen-software-tutorial

We did notice Azure recently is now requiring a third field in **Basic SAML Configuration** called "**Reply URL (Assertion Consumer Service URL)**".

So for section labeled: "**Configure Azure AD single sign

[2020-02-17 17:09] jmichaud-ips opened #48272 "Example is wrong for workflow definition parameter"
The example for using a template parameter within a workflow is wrong. It is listed as:
            // Workflow definition parameter value
            "parameters": {
               "&lt;workflow-definition-parameter-name&gt;": "[parameters('&lt;template-parameter-name&gt;')]"
            },

It should be             // Workflow definition parameter value
            "parameters": {

[2020-02-17 17:13] SaurabhSharma-MSFT commented on #48271
@beniluul Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-17 17:14] beniluul commented on #48271
@v-nagta @chetansriv @jeevansd
It's basically one more URL to add if you could make step 4 to look like that I would really appreciate it.

Also, let me know how I can reach the team that can update the Azure Enterprise Application still labelled as "Halogen Software" with the old logo:
https://ia601506.us.archive.org/34/items/enterpriseapp/enterprise%20app.png

[2020-02-17 17:15] beniluul commented on #47074
It's just one more URL to add if you could make step 4 to look like that I would really appreciate it.

Also, let me know how I can reach the team that can update the Azure Enterprise Application still labelled as "Halogen Software" and still has the old logo:
https://ia601506.us.archive.org/34/items/enterpriseapp/enterprise%20app.png

[2020-02-17 17:39] BharathNimmala-MSFT commented on #48195
@dcurwin Thank you for taking care of this thread.

[2020-02-17 17:41] NavtejSaini-MSFT commented on #48249
@HenrikStaunPoulsen We are checking this and we will get back to you.

[2020-02-17 17:43] NavtejSaini-MSFT commented on #48267
@SlavaRoikhman We are looking into this and we will get back to you.

[2020-02-17 17:47] BharathNimmala-MSFT commented on #48270
@torfulle  Thank you for your feedback, assigning this issue to our document author @tfitzmac to further evaluate the ask and see how the document can be enhanced to reflect it.

[2020-02-17 18:23] BryanTrach-MSFT commented on #48240
@imshreya Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:25] BryanTrach-MSFT commented on #48243
@anoopasokan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:27] BryanTrach-MSFT commented on #48246
@aralvar Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:28] BryanTrach-MSFT commented on #48247
@jtuliani Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:29] taromielnaz opened #48274 "which terraform file"
If we have multiple file.tf in cloudshell repository, when we run terraform apply, which one will be run?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78bafe84-4e50-785c-b4f6-e629127a80a9
* Version Independent ID: 34e5924e-2d7e-3bf2-0992-78eb59463a6a
* Content: [Install and configure Terraform to provision Azure reso

[2020-02-17 18:29] BryanTrach-MSFT commented on #48254
@jtuliani Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:31] BryanTrach-MSFT commented on #48256
@jtuliani Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:32] BryanTrach-MSFT commented on #48257
@ffloimair Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:34] BryanTrach-MSFT commented on #48258
@porrascarlos802018 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-17 18:36] BryanTrach-MSFT commented on #48261
@adrianagdi Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:39] BryanTrach-MSFT commented on #48264
@jbarrancos Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:40] BryanTrach-MSFT commented on #48265
@TiloGit Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:41] BryanTrach-MSFT commented on #48268
@jbayesqualtrax Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:44] BryanTrach-MSFT commented on #48269
@yashwanth-yenugu Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:45] taromielnaz opened #48275 "warning"
when running the mynic code, a warning:
Terraform 0.11 and earlier required all non-constant expressions to be
provided via interpolation syntax, but this pattern is now deprecated. To
silence this warning, remove the "${ sequence from the start and the }"
sequence from the end of this expression, leaving just the inner expression.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-02-17 18:46] BryanTrach-MSFT commented on #48272
@jmichaud-ips Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:48] BryanTrach-MSFT commented on #48274
@taromielnaz Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 18:50] BryanTrach-MSFT commented on #48275
@taromielnaz Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-17 19:09] bigtfromaz opened #48277 "Left out a constraint."
"Make sure to create a general-purpose v2 storage account. Static websites aren't available in any other type of storage account."

It's not clear from this comment but general-purpose v2 storage accounts with premium performance don't work either.

BTW That's great, less for more!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-02-17 19:25] justcallmetrell commented on #45793
@SirAlvarex, thank you for raising that concern. I am also looking for the ability to modify the NearExpiry default value if possible.

[2020-02-17 19:40] bleeb296 opened #48278 "Location of Focal Point of Depth Camera"
This page https://docs.microsoft.com/en-us/azure/kinect-dk/coordinate-systems mentions that for the depth and color camera the origin [0,0,0] is located at the focal point of the camera. Do you have any CAD drawings to indicate the exact location of this focal point relative to the internal and external hardware? Is it on the glass surface of the depth camera?

---
#### Document Details

⚠ *Do not

[2020-02-17 19:53] adam-pursley opened #48279 "VolumeType: "All" is not possible?"
I'm using version 1.1 of the AzureDiskEncryptionForLinux extension. When I set VolumeType to "All" it fails with this error: Unknown Volume Type: All, has to be one of ['Data']
I'm trying this with a marketplace image of Ubuntu 16.04-LTS and Standard_D4s_v3 VM size.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 666d4e

[2020-02-17 20:00] adam-pursley opened #48280 "Accessing files from storage account with firewall rules?"
My attempts to use this CustomScript extension, version 2.0, lead me to believe that the storage account must not have firewall rules enabled. I've tried with firewall rules enabled but with a rule to allow access from the virtual network and subnet to which the VM is attached. I've also tried with a private endpoint connection for the storage account attached to the subnet, but that didn't work f

[2020-02-17 20:02] memildin commented on #47042
Azure Security Center’s vulnerability scanning is powered by Qualys. Currently, Qualys’ scanner doesn’t scan Windows Docker images. Microsoft is working with Qualys to add this capability. When Qualys has a solution for scanning Windows Docker images, we’ll evaluate the situation and assess the timeline for incorporating it into Security Center.

#please-close

[2020-02-17 20:02] #47042 closed

[2020-02-17 20:08] HoCGeek opened #48281 ""Other Clients" is not a protocol"
The article states that "The Client App field under the Basic Info tab will indicate which legacy authentication protocol was used.", but in every case I've seen when following the directions in this article the "Client App" filed says "Other Clients".  As far as I know, "Other Clients" is not a protocol.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-02-17 20:21] campbe13 commented on #46056
I tried it again & it worked would be nice to have a list of exit status codes.

[2020-02-17 20:26] m-andersen commented on #47611
@RyanHill-MSFT any updates?

[2020-02-17 20:29] jagustin19 opened #48282 "Enabling Password Hash Sync per group"
Does the stage rollout feature override the statement in this page that you cannot explicitly define a subset of user passwords that you want to synchronize?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900f942-4456-5238-9f4c-a7a5bd685c04
* Version Independent ID: a5d7d971-765f-0977-f531-232ea5924121
* Content: [Imp

[2020-02-17 20:32] 8 commented on #47731
Thanks a lot, without your explanation I would not have been able to get it working! It worked with Aegis! :)

Later in the progress, azure still asks for a phone number as a second method, but it's possible to cancel that and the login still works.

Take care,
Martin

[2020-02-17 20:35] drdamour commented on #47893
asked at https://docs.microsoft.com/answers/questions/9111/are-redirect-urls-ignoring-port.html

[2020-02-17 20:40] skouti2 commented on #9903
Do you plan to flow these commandlets to the regular AzureAD module some day?

[2020-02-17 20:48] malopMSFT commented on #48181
@sumeetmittal for the udpate

[2020-02-17 20:55] ticianaciminari opened #48283 "In the last line of the "Exchange and Refund" section, "Confirmed Payment Balance" is not applicable to "Apply" (accrue towardsers in English version) for refund amount"
@v-pethur commented on [Sat Feb 15 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/3527)

The last sentence of the 3rd Paragraph of the "Exchange and refunds" section reads,
"The remaining committed payments accrue towards the $50,000 USD refund limit.

The Japanese version of this sentence,
確定済み支払い残金の上限は、払戻の上限である 50,000 米国ドルとなります。
reads, "The upper limit of the remaining committed

[2020-02-17 20:56] ticianaciminari commented on #48283
Hi Team,

Could you please check the issue from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-17 20:57] MarkRoddick commented on #44790
Since I have switched to using an easier version of the base image I have seen no winrm timeout issues:

      "image_publisher": "MicrosoftWindowsServer",
      "image_offer": "WindowsServer",
      "image_sku": "2019-Datacenter-Core",
      "image_version": "17763.737.1909062324"

[2020-02-17 20:59] plzm commented on #45486
It would also be very helpful to document, specifically for Azure Container Instance, how to pass the required eula=accept command. I have tried this with az container create using:
--command-line eula=accept
or
--environment-variables eula=accept
Neither works; I get an error message from the Container Instance saying the required command line eula-accept was not passed. Is it possible to run the

[2020-02-17 21:08] RyanHill-MSFT commented on #47611
Hi @m-andersen my apologies for it being such a long delay. Closest workaround I've come across is possibly using a [custom policies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant-custom?tabs=applications) to allow your AD users to sign in to your B2C tenant. You'll still have to maintain that B2C tenant but may be the only option as I'm heari

[2020-02-17 21:12] ctm8788 commented on #47951
Hi @YutongTie-MSFT , Have you been able to find anything?

[2020-02-17 21:29] ticianaciminari opened #48284 "[Addition request] I want content that guides you on how to select the type of load balancer (standard / basic, external / internal)"
@shimodatkh commented on [Sun Feb 16 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/3536)

I would be grateful that the points when choosing the type of load balancer are summarized in the table as an official document. For example, the following article.
https://www.syuheiuda.com/?p=5150

In addition, it is even more helpful to be guided along with points that tend to get caught,

[2020-02-17 21:30] ticianaciminari commented on #48284
Hi Team,

Could you please check request from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-17 21:36] rjhowe commented on #43135
@TravisCragg-MSFT  The doc says `The Azure networking stack maintains state for each direction of a TCP/UDP connection in data structures called ‘flows’. `  how long is this state maintained for UDP traffic?

[2020-02-17 21:38] ticianaciminari opened #48285 "some cmd not work"
@yellow456434 commented on [Mon Feb 17 2020](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/612)

In [configure virtual machine scale set-based AKS clusters for SSH access] part.
Have a set SCALE_SET_NAME step.
when I run this command, the terminal show zsh not found "[0].name "

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991

[2020-02-17 21:39] ticianaciminari commented on #48285
Hi Team,

Could you please check issue from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-17 21:41] ticianaciminari opened #48286 "helm install lost generate-name"
@yellow456434 commented on [Mon Feb 17 2020](https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/613)

I use helm to insall, in zsh will show miss generate-name error

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 597ba957-9501-5919-73a0-6d47b1ca2c6d
* Version Independent ID: 6345fa19-b3f2-ffd6-f526-908f845b51f6
* Content: [使用自有的 TLS 憑證來輸入 Azure Kubernetes Serv

[2020-02-17 21:41] ticianaciminari commented on #48286
Hi Team,

Could you please check issue from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-17 21:41] suzannechang commented on #21382
HI, when will this work again?

[2020-02-17 21:44] sluu-pdr opened #48287 "builder.ConnectionString doesn't seem to be creating the string correctly."
SC.SqlConnectionStringBuilder doesn't add the builder.Authentication method to the string.
I've wrote the console in multiple areas and it has every other part of the connection string except the authentication section.

This is  sample output of the string:
Data Source=test.database.windows.net;Initial Catalog=test_apps;User ID=sluu@test.com;Pooling=False;Connect Timeout=15;TrustServerCertificate

[2020-02-17 21:45] sluu-pdr opened #48288 "builder.ConnectionString doesn't seem to be creating the string correctly."
SC.SqlConnectionStringBuilder doesn't add the builder.Authentication method to the string.
I've wrote the console in multiple areas and it has every other part of the connection string except the authentication section.

This is sample output of the string:
Data Source=test.database.windows.net;Initial Catalog=test_apps;User ID=sluu@test.com;Pooling=False;Connect Timeout=15;TrustServerCertificate=

[2020-02-17 21:45] #48287 closed

[2020-02-17 21:46] sluu-pdr commented on #48287
meant to add this directly to the azure sql database page.

[2020-02-17 21:48] Ken-Br opened #48289 "Regarding "Microsoft Azure AD Connect Agent Updater""
I'm about to implement in our dev environment (with a dev tenant).  It is much smaller than prod; Azure AADConnect can auto-update in dev since it is so small - however we have that disabled.  Our production environment is too large (and we have custom sync rules) so the automatic update of AADConnect won't work.  How (or will) that affect how the automatic updates of the Azure Password Protection

[2020-02-17 21:48] davidobrien1985 commented on #48177
@msrini-MSFT in the same doc it also mentions

[code]

We received a managed certificate.

[2020-02-17 21:50] jlarbelaez commented on #40265
I am having a similar issue.  I am trying to test this in my dev instance before considering for production.  Does it take time for it to be enabled once the naming policy is saved?

[2020-02-17 22:22] hawkbox commented on #39870
I'm aware of that, it intermittently doesn't work and then just starts working again. I'm not the only one experiencing this.

[2020-02-17 23:17] xperiandri commented on #14444
In v3 `api` prefix used of `routePrefix` is `""`
Why?

[2020-02-17 23:19] gbollardgit opened #48293 "Restoring Group Members isn't mentioned here"
This is great for groups which are outright deletions but what about when the members of a group are removed either by a person or programmatically. How do we see what group X looked like, last week?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15f3d6f9-06fa-f9f8-233d-97b239153e45
* Version Independent ID: bdac0301-2

[2020-02-17 23:24] kennysaelen commented on #44612
I actually registered via the link above and got a reply back "Welcome to SQL DataWarehouse" which is not the same of the Synapse workspaces in the Portal. So after registering I still can't create a workspace with a SQL on-demand

[2020-02-17 23:25] rolyon commented on #47202
Hi @Vikasjx
Sure, thank you. I'm going to close this issue for now, but please reopen if you have additional feedback.
thanks

[2020-02-17 23:25] rolyon commented on #47202
#please-close

[2020-02-17 23:25] #47202 closed

[2020-02-17 23:38] ishepherd opened #48294 "Please improve the "Cause" section"
I guess these errors typically come from the App Service front end?
That is not clear from looking at this page.
It's not clear what the difference is between a 502 and a 503, or what exact conditions cause each to be triggered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffb9c992-34ed-abfa-86cf-aea6807d9bb2
* Versi

[2020-02-17 23:52] Adebeer opened #48295 "EnableMongoDBEndpoint option only works if NOT using version"
There seems to be a bug in emulator

I can connect fine to emulator when using
`.\CosmosDB.Emulator /EnableMongoDBEndpoint`

However if I use
`.\CosmosDB.Emulator /EnableMongoDBEndpoint=3.6`
or
`.\CosmosDB.Emulator /EnableMongoDBEndpoint=3.2`

it doesn't work as I get a timeout exception unable to reach the endpoint.

The emulator UI shows exactly the same connection string in all cases and with p

[2020-02-17 23:55] afield1235 commented on #47383
![image](https://user-images.githubusercontent.com/18271134/74692851-f88e1d80-519d-11ea-956c-d89c3b35314a.png)

[2020-02-18 00:21] arcotek-ltd opened #48296 "Steps missing"
What about all the other steps after clicking "Change user sign-in"?
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-quick-start#step-2-enable-the-feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5b27433-167f-6e8e-75a9-2a30e08c94e5
* Version Independent ID: 11a6383e-344c-07dd-30

[2020-02-18 00:52] vikranthm opened #48297 "Listed Regions for Availability are incorrect"
The listing provided below is incorrect. Needs an update.

"Limitations and region availability"
"AKS clusters can currently be created using availability zones in the following regions:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c32a2-1f6a-88d1-7df4-80b8f6fbc4a4
* Version Independent ID: 10de5ee1-942d-e30f-5f0

[2020-02-18 00:55] CharmanderJieniJieni opened #48298 "Error when enabling ADE through policy"
I am using below policy to append disk encryption settings to enforce disk encryption and got error on creating VM

Policy:
[code]
Does this mean we cannot use policy to enforce ADE?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e97c60e-0e31-ee4d-445e-392a46e1e617
* Version Independent ID: 540ef37d-b439-47fc-9100-715

[2020-02-18 01:32] ericchansen commented on #48142
It's also not available in "eastus".

[2020-02-18 01:59] KalyanChanumolu-MSFT commented on #48288
Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2020-02-18 02:13] B4st13n opened #48299 "open Basic SAML configuration missing"
I have the Error AADSTS50011 with Azure DevOps after linking my Aactive directory with DevOps in DevOps setting. I follow now the 7 steps for error Error AADSTS50011. Point 7 is not existing in Azure Portal. At step "Once the application loads, open Basic SAML configuration." There is no such option in the menu. This is not the first time I get this issue with DevOps.

---
#### Document Details

⚠

[2020-02-18 03:02] KrishnaG-MSFT commented on #48252
@sc-dmytrovlasenko Closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-02-18 03:02] #48252 closed

[2020-02-18 03:08] KrishnaG-MSFT commented on #48287
@sluu-pdr Thanks for the update.

In future, if you share any feedback under [this](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository then please share referred Azure documentation link / URL as this repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any,

[2020-02-18 03:13] KrishnaG-MSFT commented on #48295
Hello @Adebeer, Can you share the Azure document link / URL that you are referring to ?

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any, etc.) so that's the reason for asking related Azure document link

[2020-02-18 03:18] Grace-MacJones-MSFT commented on #48294
Hi @ishepherd, thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 03:31] ZeanQin commented on #45183
@rogerfar lol, yeah. Same thing happened to me; it took me a while to figure out why I couldn't get models trained using v2 of the api - turns out the SDK connects to v1.

[2020-02-18 03:53] SwathiDhanwada-MSFT commented on #48006
@neetima09 Just following up, whether you have got chance to look into my previous comment.

[2020-02-18 04:00] ram-msft commented on #48078
@hshahbaz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-18 04:00] #48078 closed

[2020-02-18 04:24] jakaruna-MSFT commented on #48277
@bigtfromaz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 04:46] AshokPeddakotla-MSFT commented on #48278
@bleeb296 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 04:50] VikasPullagura-MSFT commented on #48142
@dlepow Can you please check this and add your comments.

[2020-02-18 04:56] KalyanChanumolu-MSFT commented on #48003
@sjyang18 This feature went live recently and is available for configuration from the portal.

@kummanish @rachel-msft Could you please help here.
The [PostgreSQL Rest API](https://docs.microsoft.com/en-us/rest/api/postgresql/servers) Version: 2017-12-01 doesn't expose a way to configure encryption.

[2020-02-18 05:00] ChiragMishra-MSFT commented on #48019
@OneConsutlantsDemo I will now proceed to close this issue. However, if you still have queries around the same, feel free to comment and tag me.

[2020-02-18 05:00] #48019 closed

[2020-02-18 05:09] shashishailaj commented on #48281
@HoCGeek Thank you for your feedback . We will have this looked into and update this thread.

[2020-02-18 05:11] shashishailaj commented on #48282
@jagustin19 Thank you for your query . We will investigate and update this thread further.

[2020-02-18 05:12] shashishailaj commented on #48299
@B4st13n Thank you for your query. We will have this checked and update this thread.

[2020-02-18 05:14] shashishailaj commented on #48289
@Ken-Br Thank you for your query. We will have this investigated and update the thread.

[2020-02-18 05:14] saumyasuhagiya opened #48300 "Not able to connect to SQL DW by using com.databricks.spark.sqldw"
I am getting below error while trying to connect from databricks notebook to SQL DW

[code]

[2020-02-18 05:16] shashishailaj commented on #48293
@gbollardgit Thank you for your query. We will investigate and update this thread.

[2020-02-18 05:17] shashishailaj commented on #48296
@arcotek-ltd Thank you for your query. We will have this request reviewed and update this thread accordingly.

[2020-02-18 05:23] SadiqhAhmed-MSFT commented on #48183
@ranokarno Thanks for the update! Glad to hear it is resolved :)

[2020-02-18 05:23] #48183 closed

[2020-02-18 05:29] neeleshray-msft commented on #48087
@TerryLanfear Could this article be updated as per required? Refer - **[Windows To Go (WTG) – Feature Deprecation](https://support.microsoft.com/en-us/help/4508932/windows-to-go-wtg-feature-deprecation-windows-marketing-field-advisory)**

[2020-02-18 05:33] saumyasuhagiya commented on #48300
spark.conf.set("fs.azure.account.auth.type.blobstorage.dfs.core.windows.net", "OAuth")
spark.conf.set("fs.azure.account.oauth.provider.type.b2fa99d45spstg.dfs.core.windows.net", "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider")
spark.conf.set("fs.azure.account.oauth2.client.id.b2fa99d45spstg.dfs.core.windows.net", "client-id")
spark.conf.set("fs.azure.account.oauth2.client.secret.b2

[2020-02-18 05:38] VikasPullagura-MSFT commented on #48280
@adam-pursley Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-18 05:40] CHEEKATLAPRADEEP-MSFT commented on #48300
@saumyasuhagiya  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDatabricks)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for suc

[2020-02-18 05:40] #48300 closed

[2020-02-18 05:42] jakaruna-MSFT commented on #47002
Yes. I had app gateway on the different subnet. I also added a role assignment to the service principal of AKS cluster to access the app gateway subnet

[2020-02-18 05:44] VikasPullagura-MSFT commented on #48285
@ticianaciminari Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-18 05:45] amanmcse commented on #48296
@arcotek-ltd During the initial configuration you can choose the sign on method for user sign-in as displayed here: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/media/how-to-connect-pta-quick-start/sso3.png. If you want to change any configuration on this page at later point in time, you can click on "Change user sign-in" and you will get the same page as shown below after authen

[2020-02-18 05:49] SadiqhAhmed-MSFT commented on #48283
@ticianaciminari Thanks for the comment. We are checking this and will get back to you shortly.

@bandersmsft and @yashesvi For help.

[2020-02-18 05:58] VikasPullagura-MSFT commented on #48297
@vikranthm Thanks for the feedback! I have assigned the issue to content author for checking and updating the doc as appropriate.

[2020-02-18 05:58] VikasPullagura-MSFT commented on #48297
@mlearned Can you please check this and add your comments on Regions Availability.

[2020-02-18 06:08] NishantThakkar commented on #48037
Thank you, now I am successfully able to get the Token and Patient resource as well.
Now the issue is occurring with PatientId.
I have done HttpPost towards https://smartfhir.azurehealthcareapis.com/Patient end point.
It stored successfully, but it changed Id.  I have passed: "id": "9287bc3a-9d7a-47b1-a9a3-0c71f40e593c". But with the HttpGet it get changed to: "id": "65b737f1-1c42-4bcd-b15c-cf2f65

[2020-02-18 06:12] greendx opened #48303 "Activity log alerts 100 active alert rules per subscription"
Activity log alerts	100 active alert rules per subscription.

Is there a way to increase this limit? Unlike other limits that say call support, this one says "Same as default.

Also curious what's the reason for this limit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version In

[2020-02-18 06:12] PavaraTharkana opened #48304 "There should amend the SAS Token of the destination also at the end of the destination path."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b646ce05-8744-6bd6-89d2-d830d27955e2
* Version Independent ID: 1c2226e5-be43-2d8e-a791-78570378b988
* Content: [Transfer data to or from Azure Blob storage by using AzCopy v10](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-b

[2020-02-18 06:13] PavaraTharkana commented on #48304
https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-files

[2020-02-18 06:17] hansenms commented on #48037
If you want to preserve the id, you have to do a PUT (upsert), so you would do:

[code]

With the payload:

[code]

That will preserve the id. POST is *always* a create and will create a new id.

[2020-02-18 06:26] jakaruna-MSFT commented on #47737
@bobbytreed  Please consider adding a note to the document which helps the customers to reference the id in ARM template instead of directly giving there.
Like @frankzo  suggested,  Its a good idea to pull the principal id like this
`reference('vmresourceid', '2017-12-01', 'Full').identity.principalId]`

The id shown as object id(system assigned identity) in portal for that VM is shown as principa

[2020-02-18 06:37] SadiqhAhmed-MSFT commented on #48066
@santhoshbomma9 There is a typo in https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2#change-the-plan-on-the-subscription
It’s a response header, not request. We are going to fix this soon.

Let me know if need any further assistance.

[2020-02-18 06:45] johanburati opened #48306 "Is the DependencyAgentLinux extension open-source ?"
Please let me know where I can find the source code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4eee05d6-c3fc-12f4-2e1e-792d2b880de5
* Version Independent ID: 7736898b-fc4a-ec24-3485-819450964c67
* Content: [Azure Monitor Dependency virtual machine extension for Linux](https://docs.microsoft.com/en-us/azure/virtual

[2020-02-18 06:45] jakaruna-MSFT commented on #48279
@adam-pursley
Thanks for the question! We are investigating and will update you shortly.

[2020-02-18 06:52] pbartos commented on #47478
@likebupt
Hi,
I am not able to see this option. Is this released also for WE region?
Thanks,
Pavel

[2020-02-18 06:52] amanmcse commented on #47654
@LXBdev please let us know if you have any further question or shall we proceed with closure of this thread?

[2020-02-18 06:55] tinodo opened #48307 "The Azure Active Directory V1 endpoint behaves differently."
When using the Azure AD V1 endpoint, this flow behaves slightly differently;

In the response of the device authentication request, Azure AD will give you a verification_url instead of a verification_uri.
Second, when polling for authorization, you need to send a code and not a device_code.

Perhaps this can be clarified in this document.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-02-18 07:01] juanand opened #48308 "Page needs update"
This feature is apparently in GA now and Azure Portal shows new "Aliases" feature not described anywhere. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46dac123-f7ac-a8c2-f4e3-96152b904b27
* Version Independent ID: ac845895-61d8-3d8e-d5b4-ea80a403458e
* Content: [Azure virtual network service endpoint policies

[2020-02-18 07:04] BharathNimmala-MSFT commented on #47983
@nayar34  Thanks again for reaching out to us and sharing your feedback.

Regarding your first query on seeing Recurrence , we can see it when you search for trigger named "Recurrence" as part of blank template or existing template.

![Triggers](https://user-images.githubusercontent.com/45180002/74711310-8b4bae00-51d8-11ea-932e-89643df996cd.png)

![Recurrence](https://user-images.githubusercontent

[2020-02-18 07:12] dcbrown16 opened #48309 "Document downtime expectations"
My understanding is that there is no expected data plane downtime with this upgrade. We get frequent questions about this in support, can you add some info about how long it takes, if there is downtime, and risk of data loss?
See also #23176 which is from my team as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-02-18 07:16] LXBdev commented on #47654
@yoelhor thank you for taking the time to write up such an extensive answer. I will consider my issue a feature request and post it at the appropriate place. In our case, we don't have control over the applications that get developed, which is why we tried to limit the possible issues. We already saw some applications which explicitly passed the locale.

@amanmcse thank you for following up. I am

[2020-02-18 07:16] #47654 closed

[2020-02-18 07:18] anthonychu commented on #43132
We currently talk about making changes to entity classes in the [.NET Durable Entities article](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-dotnet-entities#making-changes-to-class-definitions). Both class-based entities and getting the state via `GetState<T>()` work the same way.

We're looking at updating the versioning page to include other languages. Deseria

[2020-02-18 07:18] #43132 closed

[2020-02-18 07:24] emilangelov commented on #34591
Heya! I have the same issue AAD is not working, neither directly joined or with the extension.

[2020-02-18 07:42] fowl2 commented on #41744
@ram-msft so the process would be for each owner to:
1.  Migrate all their owned apps to a single resource in Azure
    * I guess each owner could create a separate one?
    * does the azure resource have to be in the same directory as the owner?
2. Once migrated each app can be switched to a different resource?
   * Can those resource be in a different directory?
   * If not, can those resources

[2020-02-18 07:44] neeleshray-msft commented on #47291
@swieder We would be closing this thread now. Let us know if you need further help.

[2020-02-18 07:44] #47291 closed

[2020-02-18 07:45] neeleshray-msft commented on #48307
@tinodo Thank you for reaching out. We will investigate and update the thread further.

[2020-02-18 07:47] neeleshray-msft commented on #48079
@JasSuri Thank you for the help.

@majkelllo We would be closing this thread now. Let us know if you need further help.

[2020-02-18 07:47] #48079 closed

[2020-02-18 08:03] BabjiMedicharla commented on #43099
HI @msmbaldwin : Do you have any Update on this ? We were blocked at this point as Key Vault extension is not working if multiple MSI assigned to VM

client_id/object_id required In the Key Vault extension functionality If VM has multiple user-assigned managed identities.

[2020-02-18 08:09] msrini-MSFT commented on #48177
@sharad4u, Can you please take a look?

[2020-02-18 08:11] msrini-MSFT commented on #48230
@jitendra1981 , Do you have any update on this issue?

[2020-02-18 08:13] msrini-MSFT commented on #48262
@vhorne, can you please update the doc to clarify ?

[2020-02-18 08:14] msrini-MSFT commented on #48264
@jbarrancos , these limitations are removed as this product became GA. Are you still facing this issue?

[2020-02-18 08:15] jbarrancos commented on #48264
Yes this is still needed. Validated it with SQL.

[2020-02-18 08:16] RohitMungi-MSFT commented on #48119
@Shaktikantpadhi We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-18 08:16] #48119 closed

[2020-02-18 08:16] thbkthf commented on #39562
For me it works, if I call the _New-AzureADServiceAppRoleAssignment_ from the AzureAD PS module.

[code]

[2020-02-18 08:19] SubhashVasarapu-MSFT commented on #48284
@ticianaciminari , We have assigned this issue to the respective content author for updating the document accordingly. @asudbring , Could you please provide your insights here?

[2020-02-18 08:20] SubhashVasarapu-MSFT commented on #48308
@juanand ,  We are looking into this query and will update you as soon as possible.

[2020-02-18 08:20] msrini-MSFT commented on #48264
@malopMSFT , FYI

[2020-02-18 08:28] MithunChopda opened #48310 "Session.Mode shows InProc"
After configuring the Redis provider for Session storage, the Mode property on Session object shows "InProc". Is this correct behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0396b8e-0a20-6cca-68ea-f01d9021c5ef
* Version Independent ID: eb138ff5-0a81-1c3e-1f61-19dc35b8c91d
* Content: [Cache ASP.NET Session Sta

[2020-02-18 08:39] jikuja opened #48311 "Data retention with loops"
This documentation states that amount of data retention can be checked from *Logic app run details*. For actions running inside loop all the input and output sizes are empty. How those can be checked?

Also how to check exact amount of saved data per invocation level?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6381

[2020-02-18 08:43] amanmcse commented on #47803
We have not heard back from you. I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any question.

[2020-02-18 08:43] #47803 closed

[2020-02-18 08:43] likebupt commented on #47478
@pbartos
Hi,
Sorry for the inconvenience. This feature will be released soon. Once it released, we will let you know.

[2020-02-18 08:46] servisan opened #48312 "where you pay only for the compute and not don't worry about licensing"
Choose between not and dont't in the sentence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dfc72b7-fd7c-bd67-48ac-685a5559e5d7
* Version Independent ID: 61c5bfa5-05a1-1f77-4db8-5b6b86714db3
* Content: [Governance of Azure DevTest Labs infrastructure - Resource](https://docs.microsoft.com/en-us/azure/lab-services/de

[2020-02-18 08:50] ncarandini opened #48313 "Wrong "3 of 4" description"
[...]ensures the password contains at least TWO character types. For example, a number, a lowercase character and an uppercase character.[...]

It should state "THREE".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e480dc0-3da0-0a1b-6f0a-fd492275058a
* Version Independent ID: 660a25b3-c345-badd-0637-960f09abd6b1
* Co

[2020-02-18 08:58] VikasPullagura-MSFT commented on #48306
@johanburati Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-18 09:03] NishantThakkar commented on #48037
Thanks a lot, it worked as you said. The issue is resolved now.

[2020-02-18 09:17] DixitArora-MSFT commented on #48311
Hi @jikuja Thanks for reaching out. We will review and update as appropriate.

[2020-02-18 09:17] neetima09 commented on #48006
Hi Swathi,

Thanks for the clarifications on mentioned points.

The Runtime stack option not available: this option we get while creating a
webapp. So in the document this option was not mentioned while creating a
webapp.

Regards,
Neetima

On Tue, 18 Feb, 2020, 9:23 AM SwathiDhanwada-MSFT, <notifications@github.com>
wrote:

[2020-02-18 09:20] pjrcdf opened #48314 "Exclusions - Precedence"
I assume if you apply exclusions to a group that contains a user that would otherwise be included in the policy, then the exclusion has to take precedence? If this is correct, it would be helpful to see this mentioned in the exclusion section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75919910-c2c4-b678-44c0-62ed6

[2020-02-18 09:22] MohitVerma-MSFT commented on #48312
Hello @servisan ,

I have assigned content-author for the further review.

[2020-02-18 09:46] AnjaniChallamcherla opened #48315 "Export modes (Express/Manual) missing"
Hi Team,

Many times I have exported Azure Function Apps successfully. But this time it is failing, when I try to export I couldn't see the modes Express/Manual as in below image.
![image](https://user-images.githubusercontent.com/42473451/74723546-ae0ab080-5232-11ea-8d26-b38c4690f299.png)

I tried to export, but in the "Select Security scheme", I couldn't see anything (like apiKey) as in below im

[2020-02-18 09:52] scleynen commented on #45210
![image](https://user-images.githubusercontent.com/7026342/74724573-b9fb7000-523c-11ea-97c7-cd71d607eacc.png)
I'm seeing those actions. Any idea how to use them? Or how to get the same as for the File System Conector (Non ISE)

[2020-02-18 09:58] neeleshray-msft commented on #48170
@Allaen Yes, Group.Unified.Guest template is used to change the "AllowToAddGuests" setting only. You can find more information on the same in this **[document](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-settings-cmdlets)**.

[2020-02-18 10:00] migel0 opened #48316 "Guest Metrics"
Hi.
Why Guest Metrics created by  LinuxDiagnostic Agent dont appear on Azure Monitor plugin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05ed9bd2-21ae-6355-615a-1bcd3a4db313
* Version Independent ID: 8c764ad2-714a-9e88-a1d2-c8290455bcb6
* Content: [Monitor Azure services and applications using Grafana - Azure Monito

[2020-02-18 10:01] davebfox commented on #48275
Since terraform 0.12.x references using "${...}" have been depreciated.
so instead of
...
subnet_id = "${azurerm_subnet.myterraformsubnet.id}"
private_ip_address_allocation = "Dynamic"
public_ip_address_id  = "${azurerm_public_ip.myterraformpublicip.id}"
...
it should read
...
subnet_id = azurerm_subnet.myterraformsubnet.id
private_ip_address_allocation = "Dynamic"
public_ip_address_id  = azurerm_

[2020-02-18 10:01] msfe opened #48317 "Limitation on Subscription Creation Enrollment Account or EnrollmentId?"
Hi,

In this section: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/programmatically-create-subscription?tabs=rest#limitations-of-azure-enterprise-subscription-creation-api

You have the following bullet.

"There's a limit of 200 subscriptions per enrollment account. After that, more subscriptions for the account can only be created in the Azure portal. If you want to cr

[2020-02-18 10:15] jakaruna-MSFT commented on #48286
@yellow456434
Thanks for the question! We are investigating and will update you shortly.

[2020-02-18 10:16] michaeljcameron opened #48318 "Move-AzDataLakeGen2Item"
Move-AzDataLakeGen2Item is described as Renaming or Moving directories but as far as I can see it works on files too.  Is this by design and supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 562aa838-243f-bed8-c3cb-9164af5efe71
* Version Independent ID: 369544f3-5260-3773-68f2-3479c6e9587e
* Content: [Azure Dat

[2020-02-18 10:18] jakaruna-MSFT commented on #48298
@CharmanderJieniJieni
Thanks for the question! We are investigating and will update you shortly.

[2020-02-18 10:20] ValerianHeints opened #48319 "EnableMSStandardBlockedWords"
"Do not use" is quite short and not comprehensible Description. Why not using it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cd7a703-534a-5fbd-6470-5d29bf512fd2
* Version Independent ID: 4f70ed16-6a1c-c0be-3c5e-d56e1b7c7275
* Content: [Configure group settings using PowerShell - Azure AD](https://docs.microsoft.co

[2020-02-18 10:25] neeleshray-msft commented on #48176
@alexey-zhel From my testing, I have found that either mentioning the UPN or the ObjectID, and even mentioning both of them works fine. The screenshot is just an example of how the values need to be mentioned in the CSV File for the operation to work successfully. Let us know if you need further help.

[2020-02-18 10:27] neeleshray-msft commented on #48313
@ncarandini Thank you for reaching out. We will investigate and update the thread further.

[2020-02-18 10:35] neeleshray-msft commented on #48319
@ValerianHeints Thank you for reaching out. We will check and update the thread further.

[2020-02-18 10:36] neeleshray-msft commented on #48313
@ncarandini Thank you for pointing it out. We have made the changes in the document which should be published soon.

[2020-02-18 10:40] neeleshray-msft commented on #48314
@pjrcdf Thank you for reaching out. We will investigate and update the thread further.

[2020-02-18 10:40] sebhe opened #48320 "Azure AD Domain Services (DS) integration (preview) for files - still in preview?"
This website says that "Azure AD Domain Services (DS) integration (preview) for files" is preview. However, the link to "Overview of Azure Files Azure Active Directory Domain Service (AAD DS) Authentication Support for SMB Access (preview)" (https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-overview) does not say anything about preview.
is it still in preview?

--

[2020-02-18 10:44] rvlasyuk commented on #48261
@BryanTrach-MSFT have the same issue, in the East US region

[2020-02-18 10:45] #48313 closed

[2020-02-18 10:49] sebhe opened #48321 "outdated screenshot"
The screenshot in section https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-enable#enable-azure-ad-ds-authentication-for-your-account is outdated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 100a0bd2-817c-8c9e-68d6-cb00a5f405eb
* Version Independent ID: ee7081d3-a43f-47ea-db7f-ff6ba2

[2020-02-18 11:02] danimir commented on #47978
@langstonj While I cannot comment on retrieving something in the past and if that action you mention happened or not, I can suggest a way for long term retention of automatic tuning recommendations. Go to a database in Azure portal, then Monitoring and Diagnostic settings blade. Using Diagnostic settings you can stream AutomaticTuning logs to a storage account (blob storage). This would stream all

[2020-02-18 11:25] v-nagta commented on #48271
@beniluul We updated the Reply URL in the article you can see the changes once the PR is signoff.

To update the logos, please mail to [SaaSApplicationIntegrations@service.microsoft.com](mailto:SaaSApplicationIntegrations@service.microsoft.com)

[2020-02-18 11:32] s3rgant opened #48322 "Application performance requirements checklist"
The Table appears to be blank ?
The headers and 1st column appear but the rest of the fields are blank, unless this is meant as an example on formatting ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 978b668c-13f9-a75a-b7ca-17bb59e398a6
* Version Independent ID: 8ab14f42-c192-3cde-7f94-7b481276f3d4
* Content: [Azure

[2020-02-18 11:34] juanjojulian commented on #43427
These rules are not acceptable in a corporate environment, too many "from ANY" or "to ANY" statements, security rules should be granular.

[2020-02-18 11:40] narayankumargupta opened #48323 "Update Required"
Seems this page needs update urgently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d782b721-ff9d-ba03-a8ab-e9a6762a9e91
* Version Independent ID: 5da36c99-0ae5-252d-cbf5-e6d4af95084b
* Content: [Azure AD Connect: User sign-in](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-user-signin#fe

[2020-02-18 11:51] andyjballgit commented on #48181
is it GA in all regions ? If not please document

[2020-02-18 11:55] jakaruna-MSFT commented on #48164
@neualex Best practices may be there. But i think not all the CIS benchmarks are applied.

CIS published images to marketplace.  You can use that https://azuremarketplace.microsoft.com/en-us/marketplace/apps?search=center%20for%20internet%20security&page=1&filters=partners%3Bpay-as-you-go

[2020-02-18 11:55] jakaruna-MSFT commented on #48164
@raiye please add your comments

[2020-02-18 11:58] neeleshray-msft commented on #48323
@narayankumargupta Thank you for reaching out. We will investigate and update the thread further.

[2020-02-18 12:04] jakaruna-MSFT commented on #47756
I think if you give "powershell.exe" as the exec command, you will be able to get the interactive session.   Try that out and let me know.

Regarding winrm, Its based on the image.   That may be disabled in containers since that's not very much needed for a container.

[2020-02-18 12:05] jakaruna-MSFT commented on #47756
There will be no specific "WinRM connectivity to ACI containers".

if the image supports it, It will work

[2020-02-18 12:06] SychevIgor opened #48325 "Please, describe permissions required from user"
Let's assume that user have permissions only to one application insights instance from N. Will application map show to this user other "components"?

Do "components discovery" support "discovery" across different resources groups/subscriptions? (Let's imagine that each microservice deployed in a separate resource group or even subscription. if application insights can discover dependencies in such

[2020-02-18 12:09] SwathiDhanwada-MSFT commented on #48317
@msfe Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-02-18 12:09] jakaruna-MSFT commented on #48128
We should be able to do.

Regular extension template can be used.   Reference is here.   https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2018-10-01/virtualmachines/extensions

But you need to give lot of parameters in public and protected settings.

[2020-02-18 12:10] SwathiDhanwada-MSFT commented on #48316
@migel0Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-02-18 12:10] jakaruna-MSFT commented on #48169
@dkubi i will update the doc as needed

[2020-02-18 12:11] SychevIgor opened #48326 "How to specify Cloud Role name for "codeless" app insights integration"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map#set-cloud-role-name
It's clear how to specify  cloud role in .net code, but it's unclear how to do it in a case of "codeless" integration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc7b703-b823-5719-36de-0eeaf096b3ca
* Version Independent ID: d85431

[2020-02-18 12:14] AshokPeddakotla-MSFT commented on #47915
@lastcoolnameleft  Could you please retry now and let us know if you are still blocked?
Since you are running this on Linux/Mac, as per this [python doc](https://pypi.org/project/azure-iothub-service-client/1.4.6/), can you please try with **apt-get install libboost-python-dev** command and let us know if that solves your issue?
@robinsh Appreciate if you can check this and update the doc as neces

[2020-02-18 12:14] estensen opened #48327 "Link to Cosmos DB bindings should link to Azure Functions 2.x, not Azure Functions 1.x"
Link to Cosmos DB bindings should link to Azure Functions 2.x, not Azure Functions 1.x

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da525782-702a-0c0b-0ced-32b124c527a3
* Version Independent ID: 97757a1f-9919-d6c8-868e-776018bb8f9a
* Content: [Serverless database computing with Azure Cosmos DB and Azure Functions](ht

[2020-02-18 12:19] SychevIgor opened #48329 "Can we with a single query - query across different application insights instances?"
On application map we can see telemetry from other app insights instances and id we will "investigate" something from this map - it will show us all requests.
But can we query without application map across multiple app insight instances? It's unclear for me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc7b703-b823

[2020-02-18 12:22] SwathiDhanwada-MSFT commented on #48006
@neetima09  Yes, the image needs to be updated.
@anirudhcavale Can you please review the document and update it appropriately?

[2020-02-18 12:32] J0nKn1ght commented on #40374
It would be nice if there was a warning on the Azure Portal to indicate that saving the App Service Log settings will restart the web server, as this isn't obvious until you do it.  As indicated above, this isn't desirable on a live site.  Is there any way of updating the logging settings without an app cold restart, for example using deployment slots?

[2020-02-18 12:44] hbensalem commented on #38603
I have the same issue. How did you solve this please ?

[2020-02-18 12:59] DashleenBhandari-MSFT commented on #47551
@Ayanmullick , This is taking a bit of time to. i will keep you posted with updates.

[2020-02-18 13:05] pauloster opened #48330 "Just some small mistakes"
I believe you are missing some words in this statement "Data warehouse is also a powerful mechanism to create copies of your data warehouse for test or development purposes." ... perhaps Data Warehouse Recovery Points... also 'SQL Data Warehouse' might be replaced with 'Azure Synapse Analytics'...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-02-18 13:15] beniluul commented on #48271
Sure I will check to see the changes once it's signed off. Thank you kindly.

Do you see under Step 4 it says this note highlighted in purple:

_Note_:
These values are not real. Update these values with the actual Sign on URL and Identifier. **Contact Saba TalentSpace Client support team** to get these values. You can also refer to the patterns shown in the Basic SAML Configuration section in the

[2020-02-18 13:17] mamccrea commented on #48113
#please-close

[2020-02-18 13:17] #48113 closed

[2020-02-18 13:21] MGoedtel commented on #48306
@johanburati - Thanks for your question, sorry to say the Dependency agent for Linux is not open source.  #please-close since this is not related to a doc issue.

[2020-02-18 13:21] #48306 closed

[2020-02-18 13:22] anishjaindev opened #48331 "Different KB with same data giving different results of the same query"
I have two different knowledge bases created in two seperate QnA. One for staging and one for development environment. Both the kb's are trained with the same data.

But the user query to both the kb's yield different results.

The notable difference is the location of app service & app service plan associated with each qnamaker.

What can be the issue?

[2020-02-18 13:32] eymichel opened #48332 "Export Dependencies to Excel or PDF"
Is it possible to export the dependencies mapping details to an Excel or PDF file?

[2020-02-18 13:32] dana23746 commented on #33999
I am also experimenting this issue, what was the workaround made by Azure support  ?

[2020-02-18 13:33] pauloster commented on #44693
Please clarify Mark's request. This is very important. It is saying one thing earlier and then indicating that statement is only a possibility. The conflicting statement is .... "SQL Data Warehouse deletes a restore point when it hits the 7-day retention period and when there are at least 42 total restore points". Also it is well believed that it will retain 42, but according to this, it will reta

[2020-02-18 13:39] neeleshray-msft commented on #48319
@ValerianHeints **MSStandardBlockedWords** constitutes list of phrases which are generally unprofessional words and other inappropriate words naturally in the English language that most likely should never be part of an Office 365 Group name. Hence, we recommend that this should not be **Enabled** and that would be the reason it is mentioned as "**Do Not Use**".
Let us know if you need further hel

[2020-02-18 13:40] VikasPullagura-MSFT commented on #48322
@s3rgant Thanks for pointing this out. I have assigned the issue to content author to check and update the doc accordingly.

[2020-02-18 13:40] VikasPullagura-MSFT commented on #48322
@roygara Can you please check this and add your comments on the doc update.

[2020-02-18 13:43] danimir commented on #33999
@dana23746 It depends on what the technical problem is with the system or perhaps your configuration. In case you are experiencing this issue for more than 12 hours, you need to proceed with an Azure support tickets. Engineers on call will look into the issue and depending on what the issue is in your case provide resolution.

[2020-02-18 13:46] NishantThakkar commented on #48037
Now, new issue arise. I have created angular client app. It's running on http://localhost:4200. I have setup redirectUri for http://localhost:4200/Profile. Generated replyUrl for the same and added it in Mobile & Desktop application section.
Now it's saying: AADSTS700016: Application with identifier {{application id}} was not found in the directory {{tenant id}}.But both the things are already the

[2020-02-18 13:46] djkagle commented on #48067
Yes. He helped clarify things for me 😊

From: ShashiShailaj-MSFT <notifications@github.com>
Sent: Sunday, February 16, 2020 8:46 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Dave Kagle <dkagle@thirtyonegifts.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Hybrid Azure AD-joined devices clarfication (#48067)

<https://protect-us.mimecast.com

[2020-02-18 13:48] neeleshray-msft commented on #48314
@pjrcdf  The User Risk and Sign-In policies by default apply to all the Users in the Tenant. We do also recommend that there should be "**[Emergency/Break-Glass](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-emergency-access)**" accounts, which should be excluded from the Risk Policies/Conditional Access, so that you do not get locked out of the tenant by acc

[2020-02-18 13:51] mamccrea commented on #46084
Hi @craigjar - this is only supported for admin accounts and users with ANY FILE permission. The documentation has been updated to reflect this (https://docs.microsoft.com/en-us/azure/databricks/administration-guide/access-control/table-acls/table-acl#--python-and-sql-table-access-control-beta)

[2020-02-18 13:58] VikasPullagura-MSFT commented on #48220
@aquibqureshi26 Hope the above provided information is helpful.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-02-18 13:58] #48220 closed

[2020-02-18 13:59] IEvangelist commented on #48072
Hi @ticianaciminari,
I am curious if you saw my reply above? I do not believe that the syntax is incorrect. Please let me know what you think.

[2020-02-18 14:00] VikasPullagura-MSFT commented on #48157
@benchristel Hope the above provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-02-18 14:00] #48157 closed

[2020-02-18 14:06] oleh-zheleznyak commented on #30814
@featuresnap, were you able to resolve your issue? Please share your results!
I am using azure functions v3 with options validation with data annotations as described here
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-3.1#options-validation
However, validation never gets invoked.

[2020-02-18 14:07] pjrcdf commented on #48314
@neeleshray-msft Thanks for the confirmation. I am revising for AZ-500 and came across a test question that had reference to CA policies and exclusions - hence why I was seeking clarification in documentation. Thanks for providing the confirmation.

[2020-02-18 14:07] #48314 closed

[2020-02-18 14:14] spelluru commented on #25050
@reassign:sethmanheim

[2020-02-18 14:21] NavtejSaini-MSFT commented on #48267
@SlavaRoikhman Setting this parameter is present under the REPLICATION tab rather than the Server Parameter tab. This document explains it better - https://docs.microsoft.com/en-us/azure/postgresql/howto-read-replicas-portal
![image](https://user-images.githubusercontent.com/52257742/74744321-08eed880-5230-11ea-900d-0221bfdc4c7a.png)
Hope this helps.

[2020-02-18 14:23] mamccrea commented on #47405
Hi @algattik - can you please tell me which section of this article you are referring to?

[2020-02-18 14:34] estensen opened #48335 "`Property leaseOptions is not allowed.`"
Using the host.json settings (as specified](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2?tabs=csharp#hostjson-settings) gives the warning `Property leaseOptions is not allowed.` in VSCode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5bcb79-2af8-3b0e-c78c-0c89a2535e15
* Versi

[2020-02-18 14:37] pizzabits opened #48336 "Change an existing app to use system assigned identity"
If the application was already deployed, now I want to enable it with a system-assigned managed identity, per this document, I need to add the identity property to the application resource, with type systemAssigned as shown in the template.

But what happens if the application was deployed using the Az Service Fabric CMDLETs?
It doesn’t even have an ARM description when checking the resources port

[2020-02-18 14:49] ztasre commented on #47908
az version:
[code]

kubectl version (I deleted the cluster already since it was costing money, I plan to make another one this week):
[code]

Kubectl was connected to the cluster already. I used the following command to connect, as per the guide (https://docs.microsoft.com/en-ca/azure/aks/tutorial-kubernetes-deploy-cluster):
[code]

[2020-02-18 14:53] NavtejSaini-MSFT commented on #48310
@MithunChopda We are checking this and we will get back to you.

[2020-02-18 14:54] NavtejSaini-MSFT commented on #48327
@estensen We are checking this and will get back to you.

[2020-02-18 14:54] beanmachine-20 commented on #46995
My ADDS agents are now on 3.1.74.0 - this page needs several updates

[2020-02-18 14:55] NavtejSaini-MSFT commented on #48330
@pauloster We are checking this and will get back to you.

[2020-02-18 14:59] aewilliams1705 opened #48337 "Support for EastUS2 Region"
Can you confirm when you will support creating ITSM connections in EastUS2 region?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82e5fdf6-4687-0a17-9a80-07703684b78f
* Version Independent ID: 42ed8d94-6250-54ba-5e8b-de62c0181e82
* Content: [Supported connections with IT Service Management Connector in Azure Log Analyt

[2020-02-18 14:59] Ap0lli0n commented on #36581
Hi, I have the same issue (403 Forbidden - Authorization failed.) using the Azure API for FHIR with Postman.
I can successfully query the FHIR endpoints only using the Access Token obtained using the administration login.
Using Access Token for other accounts, assigned to particular roles (https://docs.microsoft.com/en-gb/azure/active-directory/manage-apps/methods-for-assigning-users-and-groups) i

[2020-02-18 15:02] ericchansen commented on #48142
"westeurope" works.

[2020-02-18 15:08] algattik commented on #47405
https://docs.microsoft.com/en-us/azure/databricks/security/secrets/secrets#requirements-and-limitations, where the text "Cluster owners" appears.

[2020-02-18 15:09] KalyanChanumolu-MSFT commented on #48007
@waynerobinson Apologies for the delay in answering this.

If you have to do a like search on the partitionKey it is probably not a good candidate for a partitionKey.
To limit the partitions included in a query you should rather be including the partition key range within the where clause using [IN](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-keywords#in) keyword rather than using a

[2020-02-18 15:09] j-martens commented on #48093
#assign:@trevorbye

[2020-02-18 15:10] j-martens commented on #47733
@lobrien - a warning to call out perhaps???

[2020-02-18 15:11] eflamm opened #48338 "Copy and paste error in Clean up resources"
The argument to name says "storage-resource-group". This should be "cognitive-services-resource-group".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43697779-f7ae-0a78-f8bd-ad9a67f7c345
* Version Independent ID: b3a7d060-a67e-83a8-26ad-cef8b3e211be
* Content: [Create a Cognitive Services resource using the Azure CLI

[2020-02-18 15:11] santhoshbomma9 commented on #48066
Sure, thought so. Thanks for the confirmation !

[2020-02-18 15:11] #48066 closed

[2020-02-18 15:13] aws-scripting-guy opened #48339 "Set-AzSecurityPricing - Invalid command example for setting up Pricing Tier"
Value for pricing scope "default" in parameter -Name in PowerShell command ``` Set-AzSecurityPricing -Name "default" -PricingTier "Standard" ``` is no longer valid (seems like it was included previously). Pricing scopes needs to be specified individually.

Error:
[code]

Steps to reproduce:
[code]

Running latest version of module
[code]

---
#### Document Details

⚠ *Do not edit this section. It

[2020-02-18 15:13] craigjar commented on #46084
Thank you so much, this is great.  Excellent experience providing feedback to documentation and getting improvements implemented.  Very much appreciated.

[2020-02-18 15:14] Ap0lli0n commented on #33504
Thanks @hansenms
I just followed the instructions to deploy Azure API for FHIR ( https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir-paas-portal-quickstart ) and "Register a resource application in AAD".
Step 3 in "Set identifier URI and define scopes" session suggests to set the identifier URI to FHIR server URI.

[2020-02-18 15:15] KrishnaG-MSFT commented on #48332
@eymichel [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL else I suggest yo

[2020-02-18 15:22] eymichel commented on #48332
Understood, thank you for quickly response. I'll delete this from the doc questions. Thanks.

[2020-02-18 15:23] #48332 closed

[2020-02-18 15:26] KrishnaG-MSFT commented on #48331
Hello @anishjaindev, Can you share the Azure document link / URL that you are referring to ?

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any, etc.) so that's the reason for asking related Azure document

[2020-02-18 15:27] mushon4 commented on #30997
also will be happy to have this.. thanks.

[2020-02-18 15:27] KrishnaG-MSFT commented on #48315
Hello @AnjaniChallamcherla, Can you share the Azure document link / URL that you are referring to ?

[This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions if any, etc.) so that's the reason for asking related Azure d

[2020-02-18 15:28] mamccrea commented on #47863
Hi @alapinsk - what version of MLflow are you using?

[2020-02-18 15:30] KrishnaG-MSFT commented on #48303
@greendx Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-18 15:31] maciek-polakowski opened #48340 "Inconsistencies for this page"
When running this sample (in the Postgresql part) I spent some time fixing things to make app work. I leave my experiences for others that can run info the same problems:

1. Specify hibernate.dialect in persistence.xml file (to PostgreSQLDialect)
2. Remove @Past annotation from the Customer model bean (field birthdate) - error java.Date....
3. Remove Cascade section from Country field from annota

[2020-02-18 15:34] palma21 commented on #47461
The public load balancer created when AKS is created is not related to the API .
It's there to provide an IP for Outbound traffic to snat the traffic that goes to the internet.

Creating an ILB for inbound private traffic can be done by following that article and using the annotation you already found.

To not need that PIP you'll have to provide your own means of egress to ensure the cluster can

[2020-02-18 15:38] palma21 commented on #46397
Changing/editing system pods is not allowed by design.

To get the required permissions to the service account you can just follow the article suggestion, doing something like
`kubectl create clusterrolebinding kubernetes-dashboard --clusterrole=cluster-admin --serviceaccount=kube-system:kubernetes-dashboard`

[2020-02-18 15:43] NavtejSaini-MSFT commented on #48138
@XiaoyuMSFT Please look into feedback from user and please clarify the same.
@amvieira We are checking this with our author for more clarity.

[2020-02-18 15:44] daledev-uk opened #48341 "Authentication errors when topic notifies Azure function"
I have created a custom topic and have subscribed to many Azure Functions with EventGridTrigger endpoints in different resource groups to receive these topic events.

However, when a new event sent to this topic, all the notified functions I can see in the metrics &gt; errors in the Azure portal show that they have "Unauthorized" errors.

It could be that I'm reading the documentation wrong, but g

[2020-02-18 15:48] ToBeKedge commented on #46351
Hi @RyanHill-MSFT

I have the same problem and I whould like to know if you have any news or suggestions to solve this problem?

Best regards

[2020-02-18 15:50] JoshFlory opened #48342 "How to specify service account to run gateway under?"
It says the gateway runs under the "NT SERVICE\PBIEgwService name for its "Log On As" account credentials and has "Log on as a service" permissions".
Can the documentation please add a section describing options for specifying an account for the gateway to run under?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0deaa

[2020-02-18 15:51] hansenms commented on #33504
It was a mandatory step until recently, but we are rolling out some changes so you will not have to register a resource app. You can thought, but if it is a multi-tenant one (as you were trying to do), there are some URI restrictions. Sounds like I can close this now.

#please-close

[2020-02-18 15:52] SumanthMarigowda-MSFT commented on #48304
@PavaraTharkana Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-18 15:53] SumanthMarigowda-MSFT commented on #48320
@sebhe Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-18 15:53] hansenms commented on #36581
A 403 is usually an indication that the user/principal on who's behalf the token was issues is not in the list of allowed object IDs. Please inspect the token (e.g. with https://jwt.ms) and check the `oid` claim of the token. The object id had to be in the list of allowed object ids.

https://docs.microsoft.com/en-us/azure/healthcare-apis/find-identity-object-ids

[2020-02-18 15:53] SumanthMarigowda-MSFT commented on #48321
@sebhe Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-18 15:54] SumanthMarigowda-MSFT commented on #48309
@dcbrowm16  Thanks for your question. We are checking on this and will respond to you soon.

[2020-02-18 15:56] asudbring commented on #48181
Removed preview from document.  Submitted PR, will be on live site during next publishing.

#please-close

[2020-02-18 15:56] #48181 closed

[2020-02-18 15:56] hansenms commented on #48037
The error you are getting is an indication that the application is not know in the AAD tenant. I am assuming that in your case `{{application id}}` is an action guid?

[2020-02-18 15:58] BillHiebert commented on #48144
@PhilipSkinner. Thanks you make a good p;oint. I will reactivate the deveoper community issue.

[2020-02-18 15:59] quillypowers opened #48343 "D:\ Temp storage for Tempdb - Formatting drive"
The article mentions using the D:\ VM SSD temp storage for TEMPDB but also references setting the NTFS block to 64K.  How do you go about doing this with the D drive?  I edited my startup powershell script to format the D:\ drive prior to creating a folder for storing data/log of tempdb.  It doesn't seem to work since the formatting stays at 4k.  I set it manually in powershell and get "cannot per

[2020-02-18 16:00] dcurwin commented on #47445
@knyhus We haven't heard back from you so, we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2020-02-18 16:00] dcurwin commented on #47445
#please-close

[2020-02-18 16:00] #47445 closed

[2020-02-18 16:01] #47931 closed

[2020-02-18 16:04] alapinsk commented on #47863
Hi @mamccrea,
mlflow version: 1.0.0
It comes with [Databricks Runtime 5.5 LTS ML](https://docs.databricks.com/release-notes/runtime/5.5ml.html)

[2020-02-18 16:07] MaximRouiller opened #48344 "AppService Get Started with C# needs to be updated"
List of issues below:

Screenshot shows ASP.NET Core 2.1
"Configure for HTTPs" is on by default now. Not changing it brings 2 popups about trusting self-signed certificate. We need to include those are make sure "HTTPS" is off (red square around it)
Screenshot shows Internet Explorer GUI, should not matter
Screenshot of the default website template shows the 2.1 while the 3.1 version is very diffe

[2020-02-18 16:08] serverhack74 commented on #45598
This error is still ocurring, even with the slash "/" behind the Issuer URI.

Any solution?

[2020-02-18 16:10] NavtejSaini-MSFT commented on #48310
@yegu-ms Please check the feedback from user and provide your insight.
@MithunChopda We are checking this with our author.

[2020-02-18 16:23] DixitArora-MSFT commented on #48342
Hi @JoshFlory Thanks for your feedback. We will review and update as appropriate.

[2020-02-18 16:24] DixitArora-MSFT commented on #48341
Hi @daledev-uk Thanks for reaching out. We will review and update as appropriate.

[2020-02-18 16:25] DixitArora-MSFT commented on #48335
Hi @estensen Thanks for reaching out. We will review and update as appropriate.

[2020-02-18 16:26] mganeshphani opened #48345 "the subnet range is confusing"
the document statement says "Name your public and private subnets and provide CIDR ranges in a block up to /26"
while the image above that statement shows the subnet ranges of /20.. which is contradicting the immediate statement in the doc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93bd5c16-e0ec-5064-9bc0-1c527c328

[2020-02-18 16:28] NorthHighlandNicole opened #48346 "Documentation out of Date"
TelemetryClient.TelemetryClient() is obsolete.

This warnings come up for C# `TelemetryClient c = new TelemetryClient();`
This documentation needs to be updated on how to initialize the client correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3ee33

[2020-02-18 16:31] c4l3b opened #48347 "No option for "Add Feed""
I think in some of the newer versions of the client, you should be looking to add a Workspace instead of a Feed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c71ac503-a786-9a10-4560-1679cad31cfe
* Version Independent ID: 2a58cc25-4f7d-ca17-d6d0-1b6e9c6cd90a
* Content: [Connect to Windows Virtual Desktop from macOS -

[2020-02-18 16:32] jakaruna-MSFT commented on #48318
@michaeljcameron
Thanks for the question! We are investigating and will update you shortly.

[2020-02-18 16:35] mlearned commented on #48297
@vikranthm what info is incorrect?

[2020-02-18 16:39] bartvermeersch opened #48348 "Other codes I'm missing ..."
While you are at it, other codes I'm missing but are appearing in our logs are
- 50014
- 50197
- 50199
- 65002
- 65006
- 90024
- 90090
- 90135
- 500111
- 500277
- 500341
- 500581
- 501314
- 650051
- 650052
- 650053
- 650056
- 700054
- 900144

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e

[2020-02-18 16:48] GiftA-MSFT commented on #48338
@eflamm we will review your feedback and get back to you shortly. Thanks.

[2020-02-18 16:48] RaymondILei commented on #48145
Btw, this happend for two separate instances of the logic app.

[2020-02-18 16:49] artisticcheese opened #48349 "Please add information about SSTP routing"
Note at the start of this page states that whatever is discussed is only pertains to Ikev2 connections. Additional information is needed about SSTP connections and how they work in more complex environments as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6860efb1-ddab-04a1-bf34-4e0a41844102
* Version Independent

[2020-02-18 16:51] YutongTie-MSFT commented on #47951
@ctm8788 Hi, sorry for the delay. @diberry Hi Dina, could you please help to check in this topic? Thanks a lot.

[2020-02-18 16:53] BharathNimmala-MSFT commented on #48337
@aewilliams1705 Thank you for your query, we will look into it and get back to you shortly. Thanks

[2020-02-18 16:55] gilherau opened #48350 "Many missing services"
I also want to point out a missing service from this page. Azure Stream Analytics also supports system managed Identities as per the article here: https://docs.microsoft.com/en-us/azure/stream-analytics/powerbi-output-managed-identity

While the article is saying this is preview, no mention of it is made in the portal so I am assuming the documentation there is out of date there as well.

Bottom l

[2020-02-18 16:57] YutongTie-MSFT commented on #47940
@bszewczyk Hi Beata, thanks for the information. Could you please send me an email at Azcommunity@microsoft.com with the screenshot of the dependencies? Please also send your Azure subscription ID and url of this thread. Thanks.
Since this is not a document issue, I am closing it for now.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond

[2020-02-18 16:57] #47940 closed

[2020-02-18 16:58] jluk commented on #47966
@kazshi you are correct, AZ cannot be set in the Azure portal as of today and must be done in CLI. This is on the backlog for portal support this year, we will have better timelines in the coming 2 months.

[2020-02-18 17:05] pvorb opened #48352 "Potential mistake in example 1"
Is there a mistake in the message in example 1?

The example reads as follows:

[code]

I am wondering about the "series" array of the device "FXXX". It contains two objects with keys "Flow Rate ft3/s" and "Engine Oil Pressure psi " each, having different values. But the timestamp for the device is the same, so to me it's unclear, which value is stored in Time Series Insights. Does the latter obje

[2020-02-18 17:05] quillypowers opened #48353 "Doing this with Powershell?"
I basically want to do this exact same thing in an Azure VM on startup with powershell (hoping to not have to load an additional ps script).  I'm using the D (temp SSD) storage for SQL's tempdb (best practice, yadda yadda).  In my startup powershell script I create a SQLTemp folder if it doesn't exist for data/log.  I tried adding a precursor step to format the drive to 64k and it failed due to th

[2020-02-18 17:10] bingofingers opened #48354 "Automation?"
Is there any way to automate custom logs?
I see that the CLI does not support it.
I'm guessing powershell won't either.
Can a template be exported for reuse? If so I don' t see where / which resource that would happen from.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf637b70-eb07-3fd7-4594-c52af96f5ad8
* Version In

[2020-02-18 17:12] joshsten commented on #43248
@SnehaAgrawal-MSFT I believe I am also hitting this issue. Changing SKUs alone sometimes seems to work, and sometimes not.

[2020-02-18 17:14] joshsten commented on #43248
![image](https://user-images.githubusercontent.com/218617/74760322-d8169f80-523f-11ea-8218-9d27e336a379.png)

[2020-02-18 17:16] infoberg opened #48355 "connection blocked"
"The query editor uses ports 443 and 1443 to communicate. Please ensure you have enabled outbound HTTPS traffic on these ports. You will also need to add your outbound IP address to the server's allowed firewall rules to access your databases and data warehouses."

Where should this ports be opened?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-02-18 17:17] Grace-MacJones-MSFT commented on #48344
Hi @MaximRouiller, thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update the doc as appropriate.

[2020-02-18 17:17] MatthewMcD opened #48356 "Should the page be updated now that there is Chromium Edge and Legacy Edge?"
With the release of Chromium Edge, should this page be updated to identify a distinction between the support for the two "Edge" browsers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3dbcad-9d0d-c32d-7b02-2a3ffe291b2e
* Version Independent ID: 4f716e15-73a2-71a0-53ba-801b6097c479
* Content: [Azure Active Directory

[2020-02-18 17:20] roygara commented on #48322
@s3rgant That's correct, this is an example of how you would format a checklist for your application requirements. It's meant to be blank.

Accordingly, I'll close this out. Thanks for reaching out! :)

#please-close

@VikasPullagura-MSFT FYI

[2020-02-18 17:20] #48322 closed

[2020-02-18 17:22] mike-urnun-msft commented on #47946
@sean-nixon Since this channel is more for driving improvements towards MS Docs and we haven't determined any changes to this doc based on our discussions, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-18 17:22] #47946 closed

[2020-02-18 17:23] Grace-MacJones-MSFT commented on #48084
Thanks for the additional details Steve. We believe the command on doc is correct.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-18 17:23] #48084 closed

[2020-02-18 17:26] GiftA-MSFT commented on #47922
Hello @arvind-dhariwal. The following document specifies how to [create an Azure AD application and service principal that can access resources](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal). Thanks.

[2020-02-18 17:27] #47829 closed

[2020-02-18 17:29] PhilipSkinner commented on #48144
Thanks @BillHiebert! Looking forward to a fix so I can debug my function apps again.

[2020-02-18 17:29] julieMSFT commented on #26737
@Mike-Ubezzi-MSFT Please assign @mlee3gsd

[2020-02-18 17:33] Grace-MacJones-MSFT commented on #48340
Hi @maciek-polakowski, thanks for sharing what worked for you. We are sure it will be helpful to others.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-18 17:33] #48340 closed

[2020-02-18 17:34] Grace-MacJones-MSFT commented on #47970
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-18 17:34] #47970 closed

[2020-02-18 17:43] dotnetgator opened #48357 "Missing text in NullClaim description?"
The Notes column for the NullClaim description currently reads "The claim its value to be NULL." Should it instead say "The claim's value is set to NULL."?

Also, the description paragraph after the table needs correction. The second sentence is a fragment, and appears to be missing something: "So, the session cookie will be smaller."

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-02-18 17:44] tesych commented on #47327
@AshokPeddakotla-MSFT, please close this issue.

[2020-02-18 17:44] Mike-Ubezzi-MSFT commented on #47235
@fgheysels We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-18 17:45] #47235 closed

[2020-02-18 17:46] AshokPeddakotla-MSFT commented on #47327
@tesych thanks for looking into this issue.
@iAnyKey We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-18 17:46] #47327 closed

[2020-02-18 17:48] dotnetgator opened #48358 "Incorrect wording in CreateStringClaim description?"
Currently reads "Creates a string claim from the provided input parameter in the policy." Should the word "policy" instead be "transformation"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 536ec32c-e27a-594d-9539-0d7d1cb8a48e
* Version Independent ID: 9f46353d-7dcd-0d5a-5d65-aeeda3922e39
* Content: [String claims tra

[2020-02-18 17:49] mhopkins-msft commented on #48027
@Mattacks thank you for the feedback. I have passed this on to the feature team for future consideration.

#please-close

[2020-02-18 17:49] #48027 closed

[2020-02-18 17:49] benchristel commented on #48157
@VikasPullagura-MSFT Thanks for the reply. One clarifying question: would you recommend using `Standard_DS12_v2` or `Standard_F4s` if we're trying to make VM creation as reliable as possible? Cost is not as much of a concern for us; we're okay overpaying for storage if it makes VM creation more reliable. Tagging for awareness: @medoror

[2020-02-18 17:51] MarileeTurscak-MSFT commented on #48339
@aws-scripting-guy
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-18 17:52] MarileeTurscak-MSFT commented on #48348
@bartvermeersch
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-18 17:52] RyanMannix opened #48360 "DurableTask no longer needed?"
I have been going through the azure developer associate certification training path and during that process they have us create a number of functions.  When I get to the durable functions section I have been getting an error (details below).  The error appears to be related to the DurableTask dependency and I have noticed both this page and the training module expect an "Extension not installed" w

[2020-02-18 17:53] MarileeTurscak-MSFT commented on #48350
@gilherau
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-18 17:53] lyrana commented on #47600
Salut @MaxThom,
Thanks for your patience on this and apologies for the delayed response. This is a great question. Essentially Azure IoT Time Series Insights is a solution for time series data where the primary search and query scenarios are time-based, whereas querying logs is often text-based.
If you do desire to have one unified solution for telemetry and logs I would recommend looking at our s

[2020-02-18 18:01] MarileeTurscak-MSFT commented on #48358
Hi @dotnetgator, thanks for this feedback. Checking now.

[2020-02-18 18:01] MarileeTurscak-MSFT commented on #48357
@dotnetgator thanks! Fixing this.

[2020-02-18 18:02] MarileeTurscak-MSFT commented on #48356
@MatthewMcD
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-18 18:03] rdeltcheva commented on #47011
The issue can be closed now(screen shot in the documentation was updated)..

[2020-02-18 18:03] SubhashVasarapu-MSFT commented on #47988
@sirklarc , Appreciate your patience.
1.Is it equal to TOTAL throughput served over 60 seconds via the Application Gateway as it is suggested here? ---> No it not equal to total. The aggregation type here is Average.

2.Is it logged as bytes or bits?
Generally the metric for throughput here is displayed in bytes.

3.I am running an Application Gateway WAF v1, and doing a query for 30 days via Log

[2020-02-18 18:03] #47988 closed

[2020-02-18 18:04] mprentice22153 opened #48361 ""Allow updates to status bar via script" for both options?"
In the "Group policy" option - Detailed steps section the policy is created and the Site to Zone Assignment List is updated.  Then a second setting is added for the Allow updates to status bar via script option.

In the "Group policy preference" option - Detailed steps section the registry key is added to the policy.  There is no mention of the second setting for the Allow updates to status bar vi

[2020-02-18 18:04] Grace-MacJones-MSFT commented on #47888
yes it is. but depends on the hosting plan you're running your function app on. Having a [Azure Functions Premium ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan)plan (sometimes referred to as Elastic Premium plan) would make redundancy applicable.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your

[2020-02-18 18:04] #47888 closed

[2020-02-18 18:07] m-andersen commented on #47611
@RyanHill-MSFT  this question was in relation to  Azure App service and auth providers as Facebook, Google is supported today but not Sign-in with apple. That is a requirements for all new apps sent to Apple app store. We have build our app using Azure app service (now called Web app) and the auth providers it supports.
We need to add Sign-in with apple, but Azure App service does not support this

[2020-02-18 18:08] himanshusinha-msft commented on #48345
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-02-18 18:10] ElanShudnow opened #48362 "Provide the Visio"
Many other pages include a copy of the Visio for download.  Can you please do the same here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca405611-4475-1d65-26c7-a0ea79380f62
* Version Independent ID: b13e3e22-93b2-e140-9117-a8d4e62d7928
* Content: [Azure Front Door Service - Load Balancing with Azure's application d

[2020-02-18 18:14] BharathNimmala-MSFT commented on #48354
@bingofingers Thank you for reaching out to us with your query, we will further look into this and get back to you at the earliest.

[2020-02-18 18:18] SubhashVasarapu-MSFT commented on #48349
@artisticcheese , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-02-18 18:21] quillypowers commented on #48353
While I'd like a newer way, using this prior to the format statement seems to work fine
(Get-WmiObject -Class Win32_PageFileSetting).Delete()
Set-WMIInstance -Class Win32_PageFileSetting -Arguments @{ Name = 'D:\pagefile.sys';}

[2020-02-18 18:21] #48353 closed

[2020-02-18 18:24] slopezv2 opened #48363 "Secret Scope backed by Azure Key Vault: AAD permission required to create"
I understand that It is required to have permissions in  Key Vault as owner, but I do not see the note in the documentation
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 810a218a-80a5-2da0-b540-26347f9ef908
* Version Independent ID: 41c2a12f-99b6-0faa-500b-3e4308cd00de
* Content: [Secret Scopes -

[2020-02-18 18:28] p33t opened #48365 "Misleading Restrictions"
Hi,
This is not the first time this has happened to me and I'm sure lots of others experience this...

The Restricted VM Sizes section needs to be more clear about the list of VMs.  It gives the impression that the list contains those that are available but actually the list contains those that are to be avoided.

Perhaps you could change the bullets to X and bold/underline "don't use the followin

[2020-02-18 18:32] dotnetgator opened #48366 "LookupValue is missing information about the Metadata to use to display a custom error message"
You can use the errorOnFailedLookup parameter in a LookupValue transformation to generate an error if the lookup value is not found. However, the default error message that is shown when a LookupValue transformation is used as a Validation Profile for a Self Asserted profile is not really user-friendly.

Like the AssertStringClaimsAreEqual transformation, the LookupValue supports overriding the de

[2020-02-18 18:35] brahmi89 opened #48367 "Error: invalid argument "900s" for "--timeout" flag: strconv.ParseInt: parsing "900s": invalid syntax"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-02-18 18:36] Adam-Smith-MSFT commented on #48178
A fix was submitted to the documentation,
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-18 18:36] #48178 closed

[2020-02-18 18:37] brahmi89 opened #48368 "Release failed"
Release failed I am getting below error after create the azure devops
Error: invalid argument "900s" for "--timeout" flag: strconv.ParseInt: parsing "900s": invalid syntax

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5573bc6e-0482-2240-2d07-2d0f54ccf5eb
* Version Independent ID: dc3d8867-9cf2-80b0-9b96-f8f71de0fb60
*

[2020-02-18 18:41] corygehr opened #48369 "Missing Script Output via Invoke-AzVMRunCommand"
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/run-command

There is no information listed about capturing the script output on a Linux host. When running a shell script, the result simply throws SUCCESS if the script ran (even if the return code != 0).

This should either be resolved in the tooling (return the script output in the result object) OR clearly documented that this is i

[2020-02-18 18:43] corygehr opened #48370 "Missing Script Output via Invoke-AzVMRunCommand"
There is no information listed about capturing the script output on a Linux host. When running a shell script, the result simply throws SUCCESS if the script ran (even if the return code != 0).

This should either be resolved in the tooling (return the script output in the result object, from stdinfo and stderr) OR clearly documented that this is intended behavior.

---
#### Document Details

⚠ *D

[2020-02-18 18:43] #48369 closed

[2020-02-18 18:43] corygehr commented on #48369
Opened new issue using the docs site.

[2020-02-18 18:46] zyfaulkingham commented on #45598
Receiving same error even after adding "/ " to Issuer and Tenant.

[2020-02-18 18:54] corygehr commented on #48370
This seems to work when not running the script as a job. If using the -AsJob flag, it's not clear how to retrieve the command output.

[2020-02-18 18:54] JoshFlory commented on #46874
where is that script referenced in the actual documentation of this article on the page?  Other than seeing it in these closed comments?

[2020-02-18 18:55] rhfmne34 commented on #46156
We are using powerapps with the link apps.powerapps.com and our CA rule for Microsoft Azure Management is still applying.

[2020-02-18 18:56] mumian commented on #47296
@billyjim - Take a look of the step 5 in https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/create-visual-studio-deployment-project#customize-resource-manager-template. The storage account name has some restrictions.   The actual error message is Storage account name must be between 3 and 24 characters in length and use numbers and
lower-case letters only.  There is a note in

[2020-02-18 18:57] BryanTrach-MSFT commented on #48325
@SychevIgor Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 18:58] BryanTrach-MSFT commented on #48326
@SychevIgor Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 18:59] BryanTrach-MSFT commented on #48329
@SychevIgor Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 19:01] Grace-MacJones-MSFT commented on #48294
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2020-02-18 19:01] MarileeTurscak-MSFT commented on #48357
Thanks! I made a pull request to fix both of those sentences. https://github.com/MicrosoftDocs/azure-docs-pr/pull/104715

[2020-02-18 19:01] #48357 closed

[2020-02-18 19:04] ghurlman opened #48371 "Step description is wrong & inaccessible"
In the section labeled Cable first node for network, step 1 states:

    Use a CAT 6 RJ-45 network cable (blue cable in the picture)

Two things: the cable indicated is not blue, it is green. Secondly, referring to a cable by color does not help colorblind people. Referring to the cable by location on the device would be a much better descriptor.

---
#### Document Details

⚠ *Do not edit this sec

[2020-02-18 19:14] rbrayb commented on #47621
Apologies for delay.

Yes, rereading the documentation, there is a disclaimer at the top that clarifies things.

Please close.

From: Iain Foulds <notifications@github.com>
Sent: Wednesday, 12 February 2020 5:29 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rory Braybrook <RoryB@datacom.co.nz>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Azure

[2020-02-18 19:15] davidsmatlak commented on #31863
Submitted a work item for the document owner to review this issue.

[2020-02-18 19:16] davidsmatlak commented on #31921
Submitted a work item for the document owner to review this issue.

[2020-02-18 19:16] davidsmatlak commented on #35358
Submitted a work item for the document owner to review this issue.

[2020-02-18 19:16] davidsmatlak commented on #38464
Submitted a work item for the document owner to review this issue.

[2020-02-18 19:17] GiftA-MSFT commented on #48338
@eflamm thanks for providing this feedback. I have created a PR to resolve this issue and should be updated soon. Thanks.

[2020-02-18 19:17] davidsmatlak commented on #42148
Submitted a work item for the document owner to review this issue.

[2020-02-18 19:17] davidsmatlak commented on #44217
Submitted a work item for the document owner to review this issue.

[2020-02-18 19:18] andyjballgit opened #48372 "Any Domain that is registered with a tenant can be used ... - can this include the custom domain"
Hi there ,
from below - it quotes the onmicrosoft.com version of domains registered. Can we use the custom domain , say contoso.com that has been registered in the tenant ? Or will only the onmicrosoft.com format work ?

-
any domain that is registered with a tenant can be used to identify the tenant in this list. For example, to permit access to both Contoso and Fabrikam tenants, the name/value p

[2020-02-18 19:18] davidsmatlak commented on #46389
Submitted a work item for the document owner to review this issue.

[2020-02-18 19:18] davidsmatlak commented on #46515
Submitted a work item for the document owner to review this issue.

[2020-02-18 19:20] blueelvis commented on #47961
@Karishma-Tiwari-MSFT - Umm, I am not clear with your answer. Could you please rephrase? In other words, is it possible to have 1 Windows node and 1 Linux node under the same AKS cluster?

[2020-02-18 19:20] twooley commented on #36933
#please-close

[2020-02-18 19:20] #36933 closed

[2020-02-18 19:24] Mike-Ubezzi-MSFT commented on #48099
@sonalinoolkar Do you have a private or public service endpoint provisioned? Based upon what you have indicated, that P2S VPN is working but the public service endpoint is not, you may have a private service endpoint provisioned, as it has been configured for your P2S VPN route. It will not support both. Can you please send me your Azure Subscription GUID to [AzCommunity](mailto:azcommunity@micros

[2020-02-18 19:25] CharmanderJieniJieni commented on #48128
Thanks, if you take a look at the reference, what to put in "settings" section is what I am looking for, we can't randomly guess what should be put inside, instead there should be some sort of documentation on it

[2020-02-18 19:32] mimckitt commented on #48280
@adam-pursley what was the error you were getting when you had firewalls turned on? You should be able to select the custom script in the portal and it should provide details on the error.

[2020-02-18 19:34] ejarvi commented on #48279
@adam-pursley  Was the target a VMSS instance?  Currently, on VMSS, only the 'Data' volume type is supported.

[2020-02-18 19:36] KrishnaG-MSFT commented on #48353
@quillypowers Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-02-18 19:37] annashres commented on #48232
It is not currently on the roadmap to support other Identity Providers. It is possible to sync third-party IDPs with AAD using Azure Directory Federation Services. Which IDP are you using?

[2020-02-18 19:37] MarileeTurscak-MSFT commented on #48159
Yes, this can be done several ways.

In the **new Azure portal**, under "Enterprise applications" > (your app) > "Users and groups" you can see the list of users assigned to your app, along with their app role assignments.
![image](https://user-images.githubusercontent.com/13383753/74771020-48bebb80-5242-11ea-8d0b-c8ed8f6b49bc.png)

In the **Classic Portal**, under the application's "Users and gro

[2020-02-18 19:37] #48159 closed

[2020-02-18 19:40] KrishnaG-MSFT commented on #48369
@corygehr Thanks for the update.

[2020-02-18 19:41] KrishnaG-MSFT commented on #48370
@corygehr Thanks for your comment! We will review and provide an update as appropriate.

[2020-02-18 19:42] KingdomOfEnds commented on #48263
Hi @mohibakhan - Thanks for you great question and for confirming that the correct time span and data is being returned! Your question about why more data are returned after the bucket size is adjusted has been referred to the engineering team.

Of course, we will update our documentation to explain that behavior as needed. I'll notify you of any changes or updates as well. Let me know if there's

[2020-02-18 19:42] kgremban commented on #46601
@koratshail The iotedge-lorawan-startkit in particular has a good amount of documentation to help you understand the sample, both in the readme file and in the docs folder of the repo. Is there information that you think is missing from that sample that you need to try it out yourself?

[2020-02-18 19:44] KrishnaG-MSFT commented on #48367
Hello @brahmi89, [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL else I sug

[2020-02-18 19:48] rajneegit opened #48373 "A correction is need in this article: https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-service-levels"
Hi, The throughput calculation is incorrectly described in this link which I noticed when I was going through this article. Please refer the highlighted text in the screenshot and update accordingly.

https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-service-levels

Thanks,
Raj

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-02-18 19:55] adam-pursley commented on #48279
It was for a VMSS instance. Thanks very much for clarifying that. I appreciate the answer. Can I reference that in any documentation?

[2020-02-18 19:57] kgremban commented on #34375
@krishjan05 Can you provide more information about what error you got or what worked for you instead of the suggested command?

[2020-02-18 19:59] gord888 commented on #14133
The TransportType documentation here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.transporttype?view=azure-dotnet... does not list off the AmqpWebSockets as a valid enum.  But it does work.

[2020-02-18 20:00] b-juche commented on #48373
Thanks for the feedback.  However, I'm not seeing the screenshot that you described.  Could you attach it or describe what the calculation error is about?  I'll then loop in the content provider to address the issue.  Thanks.

[2020-02-18 20:01] MarileeTurscak-MSFT commented on #48358
I agree that this would be more accurate and made a PR to update the text. https://github.com/MicrosoftDocs/azure-docs-pr/pull/104734

[2020-02-18 20:01] #48358 closed

[2020-02-18 20:02] p2vyou commented on #44482
Any new updates about this? I am running into the same issue trying to integrate several Gsuite domains in our Azure AD and I am running into this same issue.

[2020-02-18 20:03] p2vyou commented on #44482
any updates about this? I am running into this same issue with several Gsuite domains in the same tenant. they all share the same IdP so this looks to be a limitation.

[2020-02-18 20:05] himanshusinha-msft commented on #48047
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-02-18 20:06] Chai-NED opened #48376 "--enable-managed-identity unrecognized"
Hi - Not sure what I missed, but the instructions did not work for me.

chai@Azure:~$ az feature list -o table --query "[?contains(name, 'Microsoft.ContainerService/MSIPreview')].{Name:name,State:properties.state}"
The 'resource-graph' extension is not compatible with this version of the CLI.
You have CLI core version 2.0.81 and this extension requires a min of 2.0.45 and max of 2.0.66.
Name

[2020-02-18 20:08] Chai-NED commented on #48376
I added the extension with az extension add --name aks-preview. It's running now. Pls close it

[2020-02-18 20:08] CharmanderJieniJieni opened #48377 "Clarification on charge for private IP"
If we enable DDoS Standard on VNet with no Public IP address, is there still a cost associated with it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f38b1bd-2ab0-71f1-a6e9-925b7af3389d
* Version Independent ID: 9528f5cf-16e1-0550-dc3e-edc135c82167
* Content: [Azure DDoS Protection Standard Overview](https://docs.mic

[2020-02-18 20:11] mumian commented on #48059
@sandeepraichura - thanks for the comments.  I have created a PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/104723.

#please-close

[2020-02-18 20:11] mmacy commented on #48212
Hi @ncarandini, that section appears here, within the Web section that you should have after following the previous steps in the tutorial:

![image](https://user-images.githubusercontent.com/13394541/74773913-a6093b80-5247-11ea-8638-fd7191fc4704.png)

#reassign:mmacy

[2020-02-18 20:11] #48059 closed

[2020-02-18 20:11] tiny-dancer opened #48378 "Data Location"
I would expect this page to document the locations where the data is stored, locations being Azure's term for Region.  Where would this be found?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae0bcdbb-1579-0125-aac0-366f5d2108b3
* Version Independent ID: 1aa19c15-3925-4e80-6081-ab515e3af10f
* Content: [Monito

[2020-02-18 20:13] eugenpodaru commented on #48232
Thank you for your reply!

Currently we use a custom OIDC identity provider for our platform, and wanted to integrate Databricks and have SSO for both the platform and Databricks.

[2020-02-18 20:13] mslot opened #48379 "Default log levels"
Azure functions v2 has a default log level of "Information" pr. this: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.1#default-minimum-level

asp.net core has a default level of information pr https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#default-minimum-level

And this doc say the if nothing is defined, Warning is sent

[2020-02-18 20:21] MarileeTurscak-MSFT commented on #48109
Hi @nischl , this happens after MFA has been set up for the tenant. After your organization turns on and sets up two-factor verification, you'll get a prompt telling you to provide more information to help keep your account secure.

![image](https://user-images.githubusercontent.com/13383753/74774657-fd5bdb80-5248-11ea-8152-52878bac81f7.png)

To access the "Additional security verification" page,

[2020-02-18 20:21] MarileeTurscak-MSFT commented on #48109
Hope this helps! If you have further questions please post to Microsoft Q&A and I will gladly continue the discussion. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2020-02-18 20:21] #48109 closed

[2020-02-18 20:21] rainabba commented on #29301
It's very frustration to see this closed when there is clearly still something lacking in the docs. I'm in the same boat but I get as far as the OpenSSH server in my container refusing connections (no additional info logged and I haven't started debugging OpenSSH yet). I'm trying to find examples of others who have successfully accomplished with the docs claim is required. Not long after I found t

[2020-02-18 20:22] MicrosoftGuyJFlo commented on #48281
@HoCGeek if you look at your sign-in logs you can filter by client app to get more detail about protocols in use. Other clients is a catch all for legacy protocols. More information can be found in the article, [Sign-in activity reports in the Azure Active Directory portal](https://docs.microsoft.com/azure/active-directory/reports-monitoring/concept-sign-ins#filter-sign-in-activities).

[2020-02-18 20:23] KingdomOfEnds commented on #48352
Hi @pvorb - Thank you for you question! First, we are presently busy updating some of the documentation surrounding how to shape events, best practices, etc. These improvements incorporate a couple points of clarification and address your and others' suggestions as well!

I've gone ahead and tested this scenario a bit more using the following two test cases (both in JS, both in Preview):

[code]

[2020-02-18 20:24] MarileeTurscak-MSFT commented on #48372
@andyjballgit yes, contoso.com is fine. You can use that format as well as long as it has been added and verified in the tenant.

[2020-02-18 20:25] MarileeTurscak-MSFT commented on #48372
Hope this helps! If you have further questions please post to Microsoft Q&A and we will gladly continue the discussion. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2020-02-18 20:25] #48372 closed

[2020-02-18 20:32] jjindrich opened #48380 "NSG on delegated subnet"
Please could you describe how to configure NSG on delegated subnet ? I need to know inbound rules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Content: [Integrate app with Azure Virtual Network - Azure App Service](

[2020-02-18 20:35] KingdomOfEnds commented on #47235
Hi @fgheysels - I wanted to supply a more complete answer. Your question is much appreciated!

FYI, we are presently busy updating some of the documentation surrounding how to shape events, best practices, etc. These improvements incorporate a couple points of clarification and address your and others' suggestions as well!

I've gone ahead and tested this scenario a bit more using four test cases.

[2020-02-18 20:35] Mike-Ubezzi-MSFT commented on #48355
@infoberg Thank you for your inquiry. The ports need to be opened in the firewall that is providing your internet connection. If you are on your workplace LAN, you will need to work with your IT Dept. to allow traffic on port 1433, as port 443 is usually already open. You can test this by attempting to connect outside your workplace LAN where 1433 is not blocked.

[2020-02-18 20:36] tiny-dancer commented on #48378
For example, in crafting data privacy compliant location restriction policy we noticed Action Groups are deployed in `global` location

Error: Error creating or updating action group "Action-Group" (resource group "logging"):
insights.ActionGroupsClient#CreateOrUpdate: Failure responding to request: StatusCode=403 --
Original Error: autorest/azure: Service returned an error. Status=403 Code="Reque

[2020-02-18 20:42] SaurabhSharma-MSFT commented on #48361
@mprentice22153 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-18 20:42] mike-urnun-msft commented on #47963
@SgtSpamCan In my review, I haven't come across or found any remark or a statement saying that the "[Elastic Database Jobs](https://docs.microsoft.com/en-us/azure/sql-database/elastic-jobs-overview)" is being deprecated or abandoned. Could you reference any links? If it is, indeed, being deprecated, there should certainly be a recommendation on the alternative and it'd be best to create a new issu

[2020-02-18 20:42] #47963 closed

[2020-02-18 20:46] ticianaciminari opened #48381 "other param support？"
@linkcoder commented on [Mon Feb 17 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/686)

rest api return InitialSilenceTimeout，how can i change this args

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 11673bc9-9062-278d-c5b8-84b05f2b81be
* Version Independent ID: 29347a63-de63-4ff0-5a62-149ab31d1b7e
* Content: [语音到文本 API 参考（REST）-语音服务 - Azure Cogniti

[2020-02-18 20:47] ticianaciminari commented on #48381
Hi Team,

Could you please check the issue from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-18 20:52] kprpg opened #48382 "Screen shot update needed"
The very first screen shot in this page shows two radio buttons - which dont show up in the current portal.
(A) Enable for this VM
(B) Enable for VMs in thi subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bce7b9c-91a9-1fea-9b0c-8a068d609b0d
* Version Independent ID: 150e07f2-f1b1-0544-af2d-75172a3f9dda
*

[2020-02-18 20:59] ejarvi commented on #48279
Yes, this is also called out on the following page which includes a bullet point for this Linux case: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/disk-encryption-overview

[2020-02-18 20:59] BharathNimmala-MSFT commented on #48382
@kprpg Thank you for bringing this to our notice , we will look into and get the doc fixed accordingly.

[2020-02-18 21:01] BharathNimmala-MSFT commented on #48378
@tiny-dancer Thank you for reaching out to us with your query, we will further look into it and get back to you at the earliest.

[2020-02-18 21:02] JoshFlory opened #48383 "Possible to use connection Get-AutomationConnection instead of Get-AutomationPSCredential?"
Is it possible to perform a refresh by referencing the automation connection instead of the Get-AutomationPSCredential -Name "ServicePrincipal"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c04a51-5c8e-73b3-cb07-0c72691a5cdb
* Version Independent ID: baf30ca3-524a-455a-2dbe-c229e74faa94
* Content: [Refresh Azure An

[2020-02-18 21:02] SaurabhSharma-MSFT commented on #46777
@ChrisSommers @kutluomeroglu can you share your subscription Id by using email - AzCommunity[at]microsoft[dot]com including this issue link so that I can investigate it.

[2020-02-18 21:08] tgskiman opened #48384 "Second example needs update"
In the second example, [use a hierarchical listing](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blobs-list#use-a-hierarchical-listing) the instantiation of the BlobContinuationToken needs to assigned for the example to compile.

I.E.
`BlobContinuationToken continuationToken = null;`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-02-18 21:12] andyjballgit commented on #48372
thx Marilee - it would be good to get this added to the documentation in that section if possible. I know its a pretty minor thing , but good to know / have clarity that we can use our proper registered domain name , as opposed to (say) firstnamesurnameCompany@onmicrosoft.com

thx again
Andy.

[2020-02-18 21:12] SnehaGunda commented on #48327
The above PR fixes the link. We will now close this issue.

#please-close

[2020-02-18 21:12] #48327 closed

[2020-02-18 21:13] #48279 closed

[2020-02-18 21:14] MarileeTurscak-MSFT commented on #48139
If you go to +Create a resource and choose Windows Server 2019 Datacenter, you should be able to see this under the "Management" tab. I can see it following the steps and using my account. Just make sure you have the right account permissions to create resources.

![image](https://user-images.githubusercontent.com/13383753/74778281-174cec80-5250-11ea-87c5-4df64a493f22.png)

Note that you can only

[2020-02-18 21:14] #48139 closed

[2020-02-18 21:14] nolavime commented on #48337
Currently there is no ETA for that.

[2020-02-18 21:17] #45810 closed

[2020-02-18 21:17] KingdomOfEnds commented on #47235
Hi @fgheysels - One point of clarification you may find helpful occurs within single event "series" (the example primarily discussed in the documentation).

The following message sent via JavaScript results in overwritten/overridden values:

[code]

In GA the (last) `data.volume` overrides the `data['volume']` value but `data_volume` doesn't:

![5](https://user-images.githubusercontent.com/4304442

[2020-02-18 21:19] mimckitt commented on #47879
I am not seeing an issue with the documentation. @maf1024 if you are getting a specific error please let me know and I can take a further look.

[2020-02-18 21:27] mimckitt commented on #48164
@neualex the images are not hardened. You can find information about each release as mentioned here:

https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-update-matrix#guest-os-family-version-explanation

You can consider them base images with any of the latest security patches applied based on the release date.

[2020-02-18 21:27] #48164 closed

[2020-02-18 21:29] gbrock-intraprisehealth opened #48385 "B2C logout ending external AAD session too. Not following Social Identity rules on session"
I have an Azure AD B2C SignUp SignIn policy that includes our corporate Azure AD as an external OpenIDConnect identity provider, allowing our employees to sign into the application. However, contrary to the B2C documentation regarding social identity providers and session management, the B2c end session endpoint is forwarding the logout request to our AAD logout end point (https://login.microsoft.

[2020-02-18 21:32] waynerobinson commented on #48007
Hi Kalyan

Thanks for the clarification. I have a lot of experience with design for DynamoDB, but pretty new to Cosmos.

In this case we have a complicated, mainly-write implementation which may require a lot of partitions to scale this evenly. My question is one more on capabilities, rather than design.

To clarify, would the BETWEEN or range queries on the partition key end up limiting the query

[2020-02-18 21:32] BryanTrach-MSFT commented on #48336
@rycle Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 21:33] justinopperman opened #48386 "Possibly Missing Government Plans"
I'm looking for the guids for both:
- STANDARDPACK_GOV (Microsoft Office 365 (Plan G1) for Government)
- DESKLESSPACK_GOV (Microsoft Office 365 (Plan F1) for Government)

I cannot find either of them on here, and I believe I need these guids so that I can use MS Graph to license users with these licenses programmatically. Can the guids for these plans be added?

---
#### Document Details

⚠ *Do no

[2020-02-18 21:34] #48338 closed

[2020-02-18 21:37] sanjaydatasciencedojo commented on #47446
@lyrana Let me know if my question is not clear.

[2020-02-18 21:39] mhopkins-msft commented on #47274
@samjones00 Thanks for the feedback! I've fixed the path. The update will be published later today.

#please-close

[2020-02-18 21:39] #47274 closed

[2020-02-18 21:43] BryanTrach-MSFT commented on #48343
@quillypowers Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 21:43] maf1024 commented on #47879
Try entering this in a cmd:
`IF 1 EQU 1 DO DIR`

It fails with "'DO' is not recognized as an internal or external command, operable program or batch file."

That same effective syntax is used in the page's script:
`IF %ERRORLEVEL% EQU 183 DO VERIFY > NUL'

[2020-02-18 21:43] jeanchavez commented on #46156
I still have the same issue. I created a MS support ticket and the answer was it is by default because there is a dependency between PowerApps and Microsoft Azure Management https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/service-dependencies#policy-enforcement  Is this accurate?

[2020-02-18 21:46] MashaMSFT commented on #46970
Hi @giovannifl,

Thanks for the clarification! Let me do some research and get back to you.

Thanks!
Masha from the SQL Docs team

[2020-02-18 21:48] BryanTrach-MSFT commented on #48347
@c4l3b Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 21:51] MarileeTurscak-MSFT commented on #47893
@drdamour I replied over Q&A.

[2020-02-18 21:51] BryanTrach-MSFT commented on #48352
@pvorb We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-18 21:51] #48352 closed

[2020-02-18 21:52] Grace-MacJones-MSFT commented on #48380
Hi @jjindrich, thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 21:53] BryanTrach-MSFT commented on #48360
@RyanMannix Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 21:54] BryanTrach-MSFT commented on #48362
@ElanShudnow Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 21:59] SaurabhSharma-MSFT commented on #47874
@curtand I am also not seeing information against "Initiated by (Actor)" column.
![image](https://user-images.githubusercontent.com/38112130/74781577-8f1e1580-5256-11ea-9fbd-00e285a8ca74.png)
Also, the images in the document seems old.   Can you please help here by updates those as well.

[2020-02-18 22:03] KennethMLdk opened #48388 "Number of NICs for B-series VM"
Could you please share the max number of NICs per VM for the B-series VMs as well??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe301d91-d416-fd08-af13-f84b12cee7cd
* Version Independent ID: b668960b-4524-6d97-9ddf-af8beb5ef8ad
* Content: [Azure Linux VM sizes - General purpose - Azure Linux Virtual Machines](https:

[2020-02-18 22:05] clawrenceks commented on #40944
@Adam-Smith-MSFT It looks like this content is still missing. Given the importance of the sequencer property in understanding event order, I would have expected this to be critical to the documentation.

Is there a timescale for this to be addressed? Or a location that the information can be found?

[2020-02-18 22:05] Karishma-Tiwari-MSFT commented on #47908
Thanks for the details. Did you run the command get-credentials before creating the binding?
az aks get-credentials --resource-group --name

Did you get a chance to take a look at this issue #46893?

[2020-02-18 22:09] hileyj opened #48389 "Blob storage support for application logs using Linux App Services"
The table at the top suggests that application logs for Linux App Services can be directed to the filesystem or Azure Storage. Is this confirmed to be working? There are no UI elements in Azure Portal on the App Service -&gt; App Service logs blade to configure blob storage application logging for a Linux app service like there are for Windows.
I've tried configuring a Linux App Service for blob s

[2020-02-18 22:11] rainabba commented on #29301
I think I've found the bits (though not updated since Node 9.x).

From: [https://github.com/Azure/app-service-builtin-images/blob/master/node/9.4.0](https://github.com/Azure/app-service-builtin-images/blob/master/node/9.4.0)

[sshd_config.sh](https://github.com/Azure/app-service-builtin-images/blob/master/node/9.4.0/sshd_config)
[Dockerfile](https://github.com/Azure/app-service-builtin-images/blob

[2020-02-18 22:13] BryanTrach-MSFT commented on #48346
@NorthHighlandNicole Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 22:13] mimckitt commented on #47879
Looks like the "DO" was added by mistake.

Should have been "IF %ERRORLEVEL% EQU 183 VERIFY > NUL"

Submitted a fix and once the PR merges the changes will go live after a few hours.

[2020-02-18 22:13] #47879 closed

[2020-02-18 22:13] Karishma-Tiwari-MSFT commented on #47966
Thanks @jluk :)
@kazshi Hope that helped answer your question.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-18 22:13] #47966 closed

[2020-02-18 22:15] YutongTie-MSFT commented on #48381
@ticianaciminari
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-18 22:35] fxredeyes opened #48390 "Forwarding traffic on peering disabled and forwarded traffic still working."
Hello,

I have a hub and spoke topology with spoke1 and spoke2 vnets peered with a hub vnet. In that hub vnet, I have a Palo Alto vm series which is acting as a firewall and router. UDR are configured on different subnets to route the traffic to the Palo Alto.

My problem that I cannot explain is that the vm in the different spokes can communicate between them, even if the peering between spokes-t

[2020-02-18 22:35] Adam-Smith-MSFT commented on #48384
@tgskiman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-18 22:36] SnehaGunda commented on #46862
@mkyrath  I just tested the sample and it works fine. Here is the output. The doc is also in sync with the sample. Can you share the specific section where you see it didn't match?

![image](https://user-images.githubusercontent.com/14284405/74783875-867c0e00-525b-11ea-9c38-4c61a2bb780c.png)

The branches in the sample repo are for testing purposes. The docs are linked to the master branch which h

[2020-02-18 22:37] BharathNimmala-MSFT commented on #48337
@nolavime Thank you for helping on this thread.

@aewilliams1705 Thanks for reaching out and hope the above information shared by @nolavime answers your query.  Please let us know if you have any further queries. Thanks

[2020-02-18 22:38] TravisCragg-MSFT commented on #48246
@aralvar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-18 22:45] Karishma-Tiwari-MSFT commented on #48365
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/104779

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-02-18 22:45] #48365 closed

[2020-02-18 22:46] FrankHu-MSFT commented on #48187
@DonFrazier thanks for letting us know about this, we're making the changes and adding a reference to the RFC Percent Encoding doc accordingly.

Please let us know if you have anymore concerns in regards to this otherwise I will be closing out this github issue by end of day tomorrow.

[2020-02-18 22:47] NavtejSaini-MSFT commented on #48249
@HenrikStaunPoulsen Thanks for conveying an alternate method for the formula.
@stevestein Please convey if we need to add the same to the document

[2020-02-18 22:47] BharathNimmala-MSFT commented on #47948
@wesley-smith Thanks again for reaching out to us with your query , we have already reached out to our internal product to get more clarity on this ask and will update the thread accordingly once we have an update.

[2020-02-18 22:47] bandersmsft commented on #47381
@Pariyat Budget action groups are only supported for subscriptions and resource groups. So, budgets for EA enrollments and management groups won’t show **Manage action group**. Were you creating an alert for a management group?

[2020-02-18 22:48] iainfoulds commented on #47621
Thanks for the clarification, @rbrayb

#please-close

[2020-02-18 22:48] #47621 closed

[2020-02-18 22:49] iainfoulds commented on #47492
@hugo-paredes That's the same version (7.7) that I used without issues, so @SaurabhSharma-MSFT can help with a support ticket to investigate further.

[2020-02-18 22:53] krhynerson commented on #47867
@suvasara

That worded!

Thank you,

Kyle

[cid:image001.png@01D5E67B.DF84DCD0]

Kyle Rhynerson
Cloud & Automation Team
Cloud Solutions Manager
Austin, TX
(512) 659-4016
kyle.rhynerson@techdata.com<mailto:kyle.rhynerson@techdata.com>

[cid:image002.png@01D5E67B.DF84DCD0]

From: suvasara <notifications@github.com>
Sent: Monday, February 17, 2020 4:09 AM
To: MicrosoftDocs/azure-docs <azure-docs@nore

[2020-02-18 23:02] TravisCragg-MSFT commented on #48247
@jtuliani I have updated the 2nd route name to "ToFirewall". The docs should reflect this change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-18 23:02] #48247 closed

[2020-02-18 23:03] pvorb commented on #48352
Thank you for the clarification, @KingdomOfEnds.

What I didn't understand was that TSI intentionally allows to store different values for the same device, the same timestamp and the same tag.

[2020-02-18 23:05] TravisCragg-MSFT commented on #48254
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-18 23:05] MauricioP92 opened #48391 "Discrepancy on the description of the Privileged Authentication Administrator"
There is a discrepancy about this role found between the Azure portal and on this document.

On the Azure Portal, this role has the following description: "Users with this role can view the current authentication method information and set or reset non-password credentials for all users, including global administrators."

But in this doc, aside from that same description above, it says it can also

[2020-02-18 23:08] KingdomOfEnds commented on #48352
@pvorb - No problem! We'll make sure our documentation better reflects the answers above. Thanks again!

[2020-02-18 23:08] kapilrajyaguru opened #48392 "Unable to run step 7 to create external table"
i am getting the following error when execute query against step 7

Msg 105019, Level 16, State 1, Line 29
External file access failed due to internal error: 'Parameters provided to connect to the Azure storage account are not valid.'

Completion time: 2020-02-18T14:59:05.2074721-08:00

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-02-18 23:09] TravisCragg-MSFT commented on #48256
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-18 23:12] normesta commented on #21901
Thank you @nigelainscoe! Yes. This indeed appeared confusing. I've removed the references to connection approaches. In fact, quickstart articles in general shouldn't have too many of these interruptive notes. At the bottom, I've added a link to the article which better explains connection options - https://docs.microsoft.com/en-us/azure/databricks/data/data-sources/azure/azure-datalake-gen2. This

[2020-02-18 23:12] normesta commented on #21901
#please-close

[2020-02-18 23:12] #21901 closed

[2020-02-18 23:18] TravisCragg-MSFT commented on #48257
@ffloimair Thanks for the feedback! I moved this Issue to the [Peering Overview Doc](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-peering-overview). I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-18 23:18] kgremban commented on #48035
@Jan-Olof You're correct, and thank you for pointing this out. Referencing certificate files with the URI format is supported in the next release, version 1.0.9. I'll revert this example back to using absolute paths, and when it does come time to document the URI option I'll make sure to be more clear about version support.

[2020-02-18 23:22] diberry commented on #47951
#in-progress

[2020-02-18 23:27] sjyang18 opened #48394 "How do I enable CMK with Azure CLI or ARM template?"
I exported the template after went thru portal. Then, I exported template, and recreate the environment, and the feature is not enabled. Do you support CMK thru ARM and Azure CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 385c636f-257b-8a71-c665-fa5fd6601aab
* Version Independent ID: ac4fe581-7cba-1348-f874-3956b1

[2020-02-18 23:31] normesta commented on #46709
Thank you for raising this @alexshipp-er ! Yes. the text is indeed incorrect. We've corrected this and the change should appear live shortly. Thanks again!

[2020-02-18 23:31] normesta commented on #46709
#please-close

[2020-02-18 23:31] #46709 closed

[2020-02-18 23:34] Minewiskan commented on #48206
#in-progress

[2020-02-18 23:38] TravisCragg-MSFT commented on #48261
@adrianagdi @rvlasyuk Application Gateway should consistently monitor the backend and update the status, even if the status is "unknown". You can view [Troubleshooting steps for an unhealthy backend Here](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-backend-health-troubleshooting#backend-health-status-unknown).

This seems to point to an issue with the App Gateway

[2020-02-18 23:39] nospoon4u commented on #42215
By using az cli, I was able to get the correct ARM structure to implement Redirect Rules. This is still missing from the current 2019-05-01 Azure Front Door ARM definition:
`
{
                        "name": "HTTPS-Redirect",
                        "properties": {
                            "frontendEndpoints": [
                                {
                                    "id": "[vari

[2020-02-18 23:39] TravisCragg-MSFT commented on #48362
@ElanShudnow Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-18 23:43] koo9 opened #48396 "email claim?"
with this instruction, how to get the user object id and email in the token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035-00ee-f7fd-97a1-69dae5f808ef
* Version Independent ID: a3447928-73cc-0290-6d46-b89234757e3b
* Content: [Get started with custom policies - Azure Active Directory B2C](https://docs.microsof

[2020-02-18 23:43] normesta commented on #47464
Thank you @bigdatamoore ! We've fixed the mistake. The change should appear live shortly. Thanks again!

[2020-02-18 23:43] normesta commented on #47464
#please-close

[2020-02-18 23:43] #47464 closed

[2020-02-18 23:50] TravisCragg-MSFT commented on #48377
@CharmanderJieniJieni DDoS Protection Standard is [enabled at the Virtual Network level](https://azure.microsoft.com/en-us/pricing/details/ddos-protection/) and [has a fixed cos](https://azure.microsoft.com/en-us/pricing/details/ddos-protection/)t, and will charge even if you do not have a Public IP attached to the VNET.

There is no reason to use DDoS Protection Standard if there are no Public IP

[2020-02-18 23:50] #48035 closed

[2020-02-18 23:51] rajneegit commented on #48373
Hi, please find attached.

Thanks,
Raj

On Tue, Feb 18, 2020 at 2:00 PM Julie Chen <notifications@github.com> wrote:

[2020-02-18 23:52] docthomas opened #48397 "Not available for GOV Clouds?"
MFA for the Management Portal does not seem to be supported on the US GOV clouds.  Can someone update the article to state which clouds this is currently supported on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22df42c6-831d-ba42-8224-27176e8fd7d9
* Version Independent ID: 15299b18-e361-9e9f-f836-f37a466dcae0
* Con

[2020-02-18 23:53] bobrundle opened #48398 ".env.production file not ignored"
The .gitnore does not ignore the .env.production file and so it is pushed to the repository.  This is unlikely to be the desired behavoir.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7d301ba-4ace-99a8-deba-4ed7f3413de0
* Version Independent ID: 62100f8c-36be-3817-74da-ba72e75685f7
* Content: [Tutorial: Linux PHP ap

[2020-02-18 23:57] normesta commented on #48077
Thank you @langstonj ! Yes the trailing slash was missing from the example. We've fixed this in the example. That change should appear live shortly. As for the destination URL, SAS is not required if you are using Azure Active Directory (AAD) auth. All examples in this article assume AAD.  Thx!

[2020-02-18 23:57] normesta commented on #48077
#please-close

[2020-02-18 23:57] #48077 closed

[2020-02-19 00:00] 1TheMuffinMan opened #48399 "DefaultHttpRequest in "Testing Azure Functions" is no longer visible in dotnet 3"
DefaultHttpRequest is no longer visible when migrating to .net core 3. Please advise on how to modify it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independent ID: 6c676eb8-581c-c5c5-0047-c7a7531fa423
* Content: [Testing Azure Functions](https://docs.microsoft.com/en-

[2020-02-19 00:11] Mike-Ubezzi-MSFT commented on #11807
@ekaitzht Can you please ensure the Docker runtime is enabled: [Get Docker Engine - Community for CentOS](https://docs.docker.com/install/linux/docker-ce/centos/)  and try again.

[2020-02-19 00:12] b-juche commented on #48373
@rajneegit -- Sorry, Raj, your attachment isn't coming through for me.  I don't see any screenshot or attachment from my end...

[2020-02-19 00:12] sven73a opened #48401 "User Assigned Identities with App Service and Azure SQL does that work?"
I am trying to get App Service to connect with Azure Sql database. I can git is nicely work with System Assigned Identities with the same code, but I prefer to use User Assigned Identities (UAI), but I cannot get it work.

Steps which I do:

1. Created a UAI via the portal, name of the UAI "uai-dev-appname-001"
2. At the Identity tab of the Azure App Service I selected 'User Assigned Identity' and

[2020-02-19 00:17] kazshi commented on #47966
@jluk Thanks for your clarification!

[2020-02-19 00:20] normesta commented on #47182
@bigdatamoore It looks like you've resolved the installation issue based on comments in the related thread. We will now proceed to close this thread. If you feel the content is inaccurate as written, please open another issue on this doc and help us understand the specific areas in the doc that you believe are not correct and we can make sure the content is updated. Thank you!

[2020-02-19 00:20] normesta commented on #47182
#please-close

[2020-02-19 00:20] #47182 closed

[2020-02-19 00:26] itguysocal opened #48402 ""Third-party MDM systems for device OS types other than Windows 10 are not supported.""
This statement is confusing:
"Third-party MDM systems for device OS types other than Windows 10 are not supported."
Because this other page says you can use JAMF to check compliance on Mac OS
https://docs.microsoft.com/en-us/intune/protect/conditional-access-integrate-jamf

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-02-19 00:34] Adebeer commented on #48295
@KrishnaG-MSFT
Apologies - I posted this on wrong repo. Not sure where the repo lives for the emulator though - all I can find is https://github.com/Azure/azure-cosmos-db-emulator-docker which doesn't seem to be the right place. In any case, I emailed support via the emulator feedback link

[2020-02-19 00:40] Mike-Ubezzi-MSFT commented on #47600
@MaxThom Want to provide an additional resource with regard to using ADX for both Log and Telemetry data:
[Ingest data using the Azure Data Explorer Python library](https://docs.microsoft.com/en-us/azure/data-explorer/python-ingest-data)

[2020-02-19 00:41] Mike-Ubezzi-MSFT commented on #47600
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-19 00:41] #47600 closed

[2020-02-19 00:50] gyne opened #48403 "Unable to execute the commands successfully"
Hi, I have been trying to follow the steps to enable me to upload a Microsoft VHD Image to azure and use it to create a VM however, I have not been able to.

So
1. $vhdSizeBytes = (Get-Item "&lt;fullFilePathHere&gt;").length - (this worked)

2. $diskconfig = New-AzDiskConfig -SkuName 'Standard_LRS' -OsType 'Windows' -UploadSizeInBytes $vhdSizeBytes -Location 'West US' -CreateOption 'Upload' (This

[2020-02-19 00:51] SaurabhSharma-MSFT commented on #48397
@docthomas Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-19 00:52] SaurabhSharma-MSFT commented on #48396
@koo9 Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-19 00:52] KranthiPakala-MSFT commented on #48363
@slopezv2 Thanks for the feedback! We have assigned the issue to content author to investigate this and update the document as appropriate.

[2020-02-19 00:52] michaelsync commented on #47461
@palma21

Thanks. I will check out how to provide my own means of egress.

I want to re-confirm it first. **Will I be able to delete the default public load balancer once I provide my own means of egress?**

I thought this load balancer is being used by the k8s api server for kubectl.

[2020-02-19 00:53] SaurabhSharma-MSFT commented on #48391
@MauricioP92 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-19 00:54] SaurabhSharma-MSFT commented on #48386
@justinopperman Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-19 00:55] SaurabhSharma-MSFT commented on #48366
@dotnetgator Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-19 01:01] kiazhi commented on #42309
@Leejung168, is there any plan to include GatewayManager regional Service Tags?

Eg. GatewayManager.AustraliaCentral, GatewayManager.SouthEastAsia and etc...

This way allows granular regional boundaries of AppGateway inbound traffic within a confined region where packets are routed within regional ISP exchanges. Just a thought.

[2020-02-19 01:10] TimothyMothra commented on #44956
I confirmed that V3 has feature parity with V2.
I've updated the doc and the update should be published tomorrow.

[2020-02-19 01:13] SaurabhSharma-MSFT commented on #47492
@hugo-paredes If you are having any trouble creating a support ticket then can you please send me an email at azcommunity[at]microsoft[dot]com with your subscription id and this issue link so that I can enable a one time free support ticket for you.

[2020-02-19 01:18] trailstrider opened #48405 "ssh_import_id details missing"
Putting the public keys in the cloud-init scripts is not exactly a good practice.  Where is the explanation of where keys are coming from when using ssh_import_id?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af1d0674-8c91-cb39-5fde-218136e1323d
* Version Independent ID: 0a185186-4f92-869c-4f7c-5d5e01aa2740
* Content

[2020-02-19 01:23] DeanCefola opened #48406 "Prerequisites missing for RunAs Account"
Add the Azure Automation Run As Permissions Doc link to the prerequisites section of this page:
https://docs.microsoft.com/en-us/azure/automation/manage-runas-account#permissions

or add the text:
you need to have Application administrator role in Azure Active Directory and Owner permissions in a subscription to create an Azure Automation Run As Account

---
#### Document Details

⚠ *Do not edit t

[2020-02-19 01:24] SaurabhSharma-MSFT commented on #48269
@yashwanth-yenugu Unfortunately, we do not have any timelines to share with.  Also, it is not recommended for any production use until and unless it goes to production.

[2020-02-19 01:25] joeljanke opened #48407 "Edit Button Not There"
Under this section (https://docs.microsoft.com/en-us/azure/data-factory/manage-azure-ssis-integration-runtime#to-reconfigure-an-azure-ssis-ir) it says there is an Edit button.   My ADF implementation does not have an Edit button.   I only have the Code button.  It seems I can edit the config by changing the JSON and saving it, but this leaves me hoping that I am putting in the right values for a g

[2020-02-19 01:46] femsulu commented on #47948
adding content owners: @bwren & @bandersmsft to see if they have an authoritative list of categories that cannot be collected via legacy method.

[2020-02-19 01:50] Ayanmullick commented on #47756
Thank you so much for your patience. I had missed the part that said that the `--exec` parameter is for an **interactive shell**. I wish there was a cmdlet for  `--exec` in the [Az.ContainerInstance module](https://docs.microsoft.com/en-in/powershell/module/az.containerinstance/?view=azps-3.5.0&viewFallbackFrom=azps-3.4.0#container_instances). I'm fine with the AzCli workaround for now.

[2020-02-19 01:50] #47756 closed

[2020-02-19 02:05] tmmueller opened #48409 "Guam"
Which country code can we use for Guam? US does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d67cfb74-f875-3645-e2fc-35f7c2abf3e3
* Version Independent ID: 45db88b1-3a24-fea8-bbaa-596b2590b320
* Content: [Geo-filtering on a domain for Azure Front Door Service](https://docs.microsoft.com/en-us/azure/frontdoo

[2020-02-19 02:27] lgayhardt commented on #48223
#please-close

[2020-02-19 02:27] #48223 closed

[2020-02-19 02:31] MarkusVi commented on #44410
I staged an update of this article.

#please-close

[2020-02-19 02:31] #44410 closed

[2020-02-19 02:35] MartinJaffer-MSFT commented on #47923
@rebremer I have reproduced  your issue.
We will reach out internally for more information.

[2020-02-19 02:45] MarkusVi commented on #48074
I have staged an updated version of this article.

#please-close

[2020-02-19 02:45] #48074 closed

[2020-02-19 02:58] MarkusVi commented on #46169
I have staged an updated version of this article.

#please-close

[2020-02-19 02:58] #46169 closed

[2020-02-19 03:14] MarkusVi commented on #45832
I have staged an updated version of this article.

#please-close

[2020-02-19 03:14] #45832 closed

[2020-02-19 03:18] BryanTrach-MSFT commented on #48368
@brahmi89 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-19 03:26] MarkusVi commented on #45079
I have staged an updated version of this article.

#please-close

[2020-02-19 03:26] #45079 closed

[2020-02-19 03:26] sultandxb opened #48410 "Sultan alwasl"
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Independent ID: 02a43ebb-7471-d7ff-4f7e-84c9f7a66326
* Content: [Backup and recover accounts with the Microsoft Authenticator app - Azure AD](https://docs.microsoft.com/ar-sa/azure/active-directory/user-help/user-help-auth-app

[2020-02-19 03:27] DixitArora-MSFT commented on #48399
Hi @1TheMuffinMan Thanks for reaching out. We will review and update as appropriate.

[2020-02-19 03:39] MarkusVi commented on #44146
I have staged an updated version of this article.

#please-close

[2020-02-19 03:39] #44146 closed

[2020-02-19 03:41] BryanTrach-MSFT commented on #48371
@ghurlman Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-19 03:44] BryanTrach-MSFT commented on #48390
@fxredeyes Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-19 03:54] #47011 closed

[2020-02-19 03:56] kobulloc-MSFT commented on #48312
@servisan Thank you for bringing this to our attention!  This has been corrected, and should be live shortly.  Thank you again for improving Microsoft Docs!

[2020-02-19 03:56] #48312 closed

[2020-02-19 04:28] RohitMungi-MSFT commented on #47991
@plzm We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-19 04:28] #47991 closed

[2020-02-19 04:32] BrianLevenson commented on #48060
Hi Ryan,

In the context of Microsoft's commercial marketplace, a SaaS offer is a web app and a Dynamics 365 solution is deployed directly into D365.

In the case of a listing, where the call to action for a customer is "contact me" and nothing is actually deployed or purchased, the difference between these offer types is relatively minor. The differences become much more relevant when there is so

[2020-02-19 04:36] nssidhu opened #48411 "Load File. What file to select .zip or which other file in case of unzipped file"
https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#create-a-resource-manager-template-for-each-environment

In Step #3 (Load file) it is not clear whether one selects Zip file or unzipped files.
I tried with .zip file it does not recognize it as json file, now if we unzip there are multiple .json file, so it is not clear on which .json file to use or how to load

[2020-02-19 04:40] SumanthMarigowda-MSFT commented on #48219
@JavedEqbal Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-19 04:49] AshokPeddakotla-MSFT opened #48412 "CXP - Test for Mixed Reality"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-02-19 04:50] FrankHu-MSFT commented on #48149
@rits-development I think there is some confusion. The access token's audience is to the resource you're requesting.

[2020-02-19 04:50] VikasPullagura-MSFT commented on #46397
@palma21 Thanks for providing the details.

[2020-02-19 04:51] FrankHu-MSFT commented on #48149
For more information see here : https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/v1-oauth2-client-creds-grant-flow

This shows an example of getting an access token for a custom resource.

The resource_uri needs to be the audience uri of an application registration you've registered to represent your custom api.

Please see here for more info. https://docs.microsoft.com/en-us/gr

[2020-02-19 04:51] #48149 closed

[2020-02-19 04:52] FrankHu-MSFT commented on #48121
@pjrcdf  The active should take precedence, @curtand can you confirm this?

[2020-02-19 04:53] FrankHu-MSFT commented on #48396
@koo9  can you clarify what you're trying to do? It's not clear what you're requesting here.

[2020-02-19 04:59] AshokPeddakotla-MSFT opened #48413 "CXP - Test for Mixed Reality"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-02-19 05:00] SwathiDhanwada-MSFT commented on #36395
@andrewatfornax @josh83 The issue has been fixed. Kindly verify and confirm form your end.

[2020-02-19 05:00] MonikaReddy-MSFT commented on #48057
@reddyrajanala - I'm going to assign this to the document author so they can clarify the questions accordingly.

[2020-02-19 05:02] SumanthMarigowda-MSFT commented on #48304
@PavaraTharkana For better understanding  Can you please elaborate more on your query?

[2020-02-19 05:03] koo9 commented on #48396
@FrankAtHexagon I'm trying to get the user object I'd and email claim into the token in a custom policy that use local account sign in.

[2020-02-19 05:04] jakaruna-MSFT commented on #47961
@blueelvis You can have.

AKS supports upto 8 nodepools.   You need to have one default linux node pool while creating the AKS cluster.  Later you can add  additional 7 nodepools.

Those additional nodepools can be windows or linux.   But you cant have both windows and linux on the same nodepool.  You can have x windows nodepools and y linux nodepools

at the end x+y should be less than or equal t

[2020-02-19 05:06] SumanthMarigowda-MSFT commented on #48321
@sebhe Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-19 05:09] jakaruna-MSFT commented on #48376
@Chai-NED good to know that its resolved.

[2020-02-19 05:09] #48376 closed

[2020-02-19 05:19] oo2316oo opened #48414 "what is the different between domains" general (compact) " and "general (compact) s1""
we see there are two different domain with similar name.  would we know the difference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916de6f5-ef41-c82b-5918-0c6149326aab
* Version Independent ID: c7a4bb67-957d-f0a3-4a9f-e71035923f58
* Content: [Export your model to mobile - Custom Vision Service - Azure Cognitive Ser

[2020-02-19 05:20] SnehaAgrawal-MSFT commented on #48401
@sven73a Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-19 05:21] VikasPullagura-MSFT commented on #46397
@michael-wirth Hope the above provided information is helpful.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-02-19 05:21] #46397 closed

[2020-02-19 05:22] neeleshray-msft commented on #48385
@gbrock-intraprisehealth Thank you for reaching out. We will investigate and update the thread further.

[2020-02-19 05:23] neeleshray-msft commented on #48402
@itguysocal Thank you for reaching out. We will investigate and update the thread further.

[2020-02-19 05:29] neeleshray-msft commented on #48410
@sultandxb Request to post your query in English so we can assist you better.

[2020-02-19 05:29] #48410 closed

[2020-02-19 05:30] mike-urnun-msft commented on #47976
@dan80386 Thanks for reporting this and helping us drive improvements towards MS Docs! I've created a PR that updates step #2 and #3 to consistent with the full sample and the changes should be live shortly after my PR merges.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-19 05:30] #47976 closed

[2020-02-19 05:32] VikasPullagura-MSFT commented on #48406
@DeanCefola Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-02-19 05:34] CHEEKATLAPRADEEP-MSFT commented on #48407
@joeljanke  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@swinarko Could you please update the screenshot with the latest UI?

![image](https://user-images.githubusercontent.com/44426401/74804899-93563b80-5307-11ea-80f7-7dc1c7ef32ca.png)

[2020-02-19 05:36] VikasPullagura-MSFT commented on #48406
@Heidilohr Can you please check and add your comments on this doc update request as applicable.

[2020-02-19 05:39] djpmsft commented on #48411
Load the arm_template.json file, not the parameters file. When you load the template, you will be prompted for parameters.

We have planned work to update this article and can make it clearer then. If you have any other questions, feel free to reopen

#please-close

[2020-02-19 05:39] #48411 closed

[2020-02-19 05:48] RohitMungi-MSFT commented on #48242
@DanyEle The model path in the register_model() should be `outputs/model.joblib` I have submitted a PR to update this.
@maxluk Could you please check and approve the PR?

[2020-02-19 05:48] #48269 closed

[2020-02-19 05:48] juniwang commented on #43099
@BabjiMedicharla , we got it figured out. I believe it's only a document issue. You can specify the MSI using either `msiClientId` or `msiObjectId` for the extension:

[code]

[2020-02-19 05:51] RohitMungi-MSFT commented on #48414
@oo2316oo Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-19 05:52] sjwaight opened #48415 "Binding has no effect due to sample app config when using mongoDB"
If you use the Piggymetrics sample app it appears that the embedded MongoDB overrides any settings in the binding and you cannot read or write data from Cosmos DB. There probably needs to be steps to update the pom.xml and then rebuild / deploy the app to get it to work. I had to manually update the pom.xml files and then deploy to a new Azure Spring Cloud cluster in order for Cosmos + MongoDB to

[2020-02-19 05:54] dcbrown16 opened #48416 "Update private network item"
"Can I make the Kubernetes API server accessible only within my virtual network?
Not at this time, but this is planned. You can track progress on the AKS GitHub repo."

This should now point to the preview docs below. Not sure exactly what you want to say about it so opening an issue instead of submitting a PR.
https://docs.microsoft.com/en-us/azure/aks/private-clusters

---
#### Document Details

[2020-02-19 05:54] msrini-MSFT commented on #48230
@jitendra1981 , Please tag me if you have any further questions.

[2020-02-19 05:54] #48230 closed

[2020-02-19 05:55] SychevIgor commented on #48223
I hope it's done, not just close.

[2020-02-19 06:02] VikasPullagura-MSFT commented on #48157
@benchristel General Purpose VM Sizes are good choice as they suit most of the workloads.
However, applications supports/recommends few VM sizes that also should be a consideration.
Leveraging Availability Zones is good for application resiliency and HA.

[2020-02-19 06:08] SubhashVasarapu-MSFT commented on #48409
@tmmueller , We are looking into this query and will update you as soon as possible.

[2020-02-19 06:16] Mike-Ubezzi-MSFT opened #48417 "Testing"
This is a test.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0af698-4a74-9098-691f-ecbbb0419398
* Version Independent ID: d5fe9b9e-c802-423d-ac8e-dba87fa8766e
* Content: [Tutorial: Share anchors across sessions and devices - Azure Spatial Anchors](https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tut

[2020-02-19 06:20] SnehaAgrawal-MSFT commented on #48398
@bobrundle Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-19 06:22] Tovli opened #48418 "user-assigned-identity service principal"
In this doc it state that managed identity is a service principal that will be deleted when the attached resource is removed.
What about user-assigned-identity? is it also a service principal? should we expect it to be deleted when an attached resource is removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72861cc1

[2020-02-19 06:30] nssidhu commented on #48411
just loading the loading arm_template.json does not include linked service and IR, the deployment fails because of those missing objects. Are we expecting other objects like Lined Service and IR to be created manually before deployment ?

[2020-02-19 06:38] #47330 closed

[2020-02-19 06:39] KalyanChanumolu-MSFT commented on #48007
@SnehaGunda Could you please help here?

[2020-02-19 06:39] SwathiDhanwada-MSFT commented on #48244
Assigning to @bwren for doc enhancement.

[2020-02-19 06:41] Mike-Ubezzi-MSFT opened #48419 "This is a test"
Testing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc8f031a-6896-463c-7dc7-76f94a993528
* Version Independent ID: fcc85029-2874-a193-ba2b-05ca6067d6ff
* Content: [Quickstart- Set up Azure Kinect DK](https://docs.microsoft.com/en-us/azure/kinect-dk/set-up-azure-kinect-dk)
* Content Source: [articles/kinect-dk/set-u

[2020-02-19 06:43] dr-ivan opened #48420 "Calculations and wording does not highlight enough the need for larger Subnet size"
"A subnet size with 16 IP addresses is the bare minimum with limited potential where a scaling operation like vCore size change is not supported. Choosing subnet with the prefix /27 or longest prefix is highly recommended."
- Its not limited - its simply not possible. This should be a note, it should be a warning.

"A network mask bit of /28 (14 hosts per network) is a good size for a single gener

[2020-02-19 06:46] pikkuhanuristi opened #48421 "Error in element 'set-backend-service' Backend with id 'backendId' could not be found."
I have published a function app for production environment. Now I would want to puplish new version (v1) for the same app (separated function app). When I try to edit the &lt;set-backend-service id="apim-generated-policy" backend-id="new-backend-app-id" /&gt; directive I receive error 'Error in element 'set-backend-service' Backend with id 'backendId'  could not be found.'

Why can't I rewrite V1

[2020-02-19 06:51] NishantThakkar commented on #48037
It is the Application (client) ID as guid. As mentioned in below image.

![ApplicationId](https://user-images.githubusercontent.com/5793534/74809028-44fa6a00-5312-11ea-995e-080a9732f06b.png)

[2020-02-19 06:52] cuntoulishifu opened #48422 "azcopy only sync data time"
I can get azcopy "Elapsed time" from '\.azcopy\xxxxxxxxxxxx.log'.
but I'd like to know azcopy only sync data time.

Where should I get?

Thanks so much!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or

[2020-02-19 06:52] hansenms commented on #48037
Yes

[2020-02-19 06:55] KalyanChanumolu-MSFT commented on #48192
@baatch This issue is being assigned to the content author to provide more info and update the documentation as appropriate.

[2020-02-19 06:56] KalyanChanumolu-MSFT commented on #48003
@kummanish This is being assigned to the content author to provide more information and update the documentation as appropriate.

[2020-02-19 07:12] lgayhardt commented on #48223
@SychevIgor

Yes, This issue has been linked to the pull request that recently merged and will go live tomorrow with an updated link for the documentation.

https://github.com/microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/SDK-VERSIONS.md

[2020-02-19 07:12] msrini-MSFT commented on #48191
@a-hackw , Yes, you need both WebApplicationFirewallConfig and FirewallPolicy. I will update the doc.

[2020-02-19 07:15] paaland opened #48423 "Commands to check certificate does not work on Windows"
On Windows you'll have to swap the double and single quotes in the command to get it to work:

This is what the guide states:
`kubectl config view --raw -o jsonpath='{.clusters[?(@.name == "myAKSCluster")].cluster.certificate-authority-data}' | base64 -d > my-cert.crt
`
This is what works:
`kubectl config view --raw -o jsonpath="{.clusters[?(@.name == 'myAKSCluster')].cluster.certificate-authority

[2020-02-19 07:17] NishantThakkar commented on #48037
I am passing the Tenant (directory) ID and Application (client) ID as per the above screenshot only. So the application is known to the tenant and is inside the tenant only. Why still it's giving the error message?

[2020-02-19 07:17] dcurwin commented on #47934
Thanks for your feedback. We've updated [this document](https://docs.microsoft.com/azure/backup/backup-azure-troubleshoot-vm-backup-fails-snapshot-timeout#usererrorrpcollectionlimitreached---the-restore-point-collection-max-limit-has-reached).

[2020-02-19 07:17] dcurwin commented on #47934
#please-close

[2020-02-19 07:17] #47934 closed

[2020-02-19 07:18] serverhack74 commented on #45598
Yes, I have added the "/" to the Issuer and Tenant:

![image](https://user-images.githubusercontent.com/37586425/74810728-4e72da80-52f0-11ea-980c-b635a2ceacd6.png)

This is the results:

![image](https://user-images.githubusercontent.com/37586425/74810771-62b6d780-52f0-11ea-9521-20194ab0d203.png)

[2020-02-19 07:45] shashishailaj commented on #48418
@Tovli Thank you for your query. We will investigate and update this further.

[2020-02-19 07:49] estensen commented on #48327
@SnehaGunda there's no PR linked

[2020-02-19 08:01] SychevIgor opened #48424 "Actualize screenshots (some screenshots were done for old UX, and on some screenshots feature marked as "preview" for a long time in GA"
For example- here all features are no longer in preview https://docs.microsoft.com/en-us/azure/azure-monitor/app/media/web-monitor-performance/performance30dayoveralllnsights.png
while this was done long time ago and current UX - is different https://docs.microsoft.com/en-us/azure/azure-monitor/app/media/web-monitor-performance/appinsights-48metrics.png

---
#### Document Details

⚠ *Do not edit t

[2020-02-19 08:21] SeppeDev commented on #44201
Boy am I glad I opened this feedback-item..., would have been struggling with this issue for another day or more if I hadn't. Didn't find anything in the docs about this, so the content author probably hasn't come around to adding it.

[2020-02-19 08:29] ekaitzht commented on #11807
We don't have Docker in our system as I mentioned in the comment we use LXC (Linux Containers) is possible to install there IoT Edge? @Mike-Ubezzi-MSFT

[2020-02-19 08:37] Expecho commented on #45119
Any update on this?

[2020-02-19 08:39] shashishailaj commented on #48179
@kumardeepakxyz We checked this and I would like to answer your queries one by one.

Since you are using [Office 365 hosted mails from godaddy](https://in.godaddy.com/business/office-365#features) , it is not same as the Complete features that you get while you sign up for [Office365 plans directly with Microsoft](https://products.office.com/en-in/compare-all-microsoft-office-products-b?activetab=

[2020-02-19 08:39] #48179 closed

[2020-02-19 08:40] rits-development commented on #48149
@FrankHu-MSFT Thanks for your response. However, after reading the docs, it's still not clear to me why the `roles` claim is only added to the [`id_token`](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens) but not to the [`access_token`](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens). I would like to use [Role-based authorization in ASP.NET

[2020-02-19 08:42] VikasPullagura-MSFT commented on #48416
@dcbrown16
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-02-19 08:42] VikasPullagura-MSFT commented on #48416
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-02-19 08:44] DashleenBhandari-MSFT commented on #47551
@Ayanmullick , Docker is independent of PowerShell. This doc is specific to Linux. We currently don't have a windows version

[2020-02-19 08:44] SnehaAgrawal-MSFT commented on #48238
@gpj1
Thanks for asking question! Client ID is a unique identifier generated by Azure AD that is tied to an application and service principal during its initial provisioning.
There are couple of ways you can get Client ID Value.
1.	Sign in to the Azure portal, search for Azure Active Directory > click on App registrations  here you select your app and Client ID is there.
![image](https://user-imag

[2020-02-19 08:49] neeleshray-msft commented on #48170
@Allaen We would be closing this thread now. Let us know if you need further assistance on this.

[2020-02-19 08:49] #48170 closed

[2020-02-19 08:49] neeleshray-msft commented on #48176
@alexey-zhel We would be closing this thread now. Let us know if you need further assistance on this.

[2020-02-19 08:49] #48176 closed

[2020-02-19 09:06] neeleshray-msft commented on #48307
@rwike77  Is there a documentation for the V1 Endpoint ?

[2020-02-19 09:06] jakaruna-MSFT commented on #48388
@KennethMLdk
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-19 09:11] MohitVerma-MSFT commented on #48379
Hello @mslot ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-02-19 09:12] jakaruna-MSFT commented on #48389
@hileyj
Thanks for the question! We are investigating and will update you shortly.

[2020-02-19 09:14] haoxin opened #48425 "Don't need to create destination VM"
use the following command to get Source VM's outbound IP.  I don't think we need destination VM.
curl ifconfig.me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2bbaaa6-eae8-49b3-bb2b-4efcf2da30e4
* Version Independent ID: 047b57e3-47c4-99be-abd4-c82574860604
* Content: [Tutorial: Create and test a NAT gateway - Azure

[2020-02-19 09:16] CHEEKATLAPRADEEP-MSFT commented on #48383
@JoshFlory You cannot "Get-AutomationConnection" instead of "Get-AutomationPSCredentials".

**Reason:** An Automation credential asset holds an object, which contains security credentials such as a username and password. Runbooks and DSC configurations may use cmdlets that accept a PSCredential object for authentication, or they may extract the username and password of the PSCredential object to p

[2020-02-19 09:16] haoxin opened #48426 "There's no step to associate NAT gateway with subnet"
I didn't find the command in this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2bbaaa6-eae8-49b3-bb2b-4efcf2da30e4
* Version Independent ID: 047b57e3-47c4-99be-abd4-c82574860604
* Content: [Tutorial: Create and test a NAT gateway - Azure CLI](https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-creat

[2020-02-19 09:17] CHEEKATLAPRADEEP-MSFT commented on #48394
@sjyang18  Thanks for the question! We are investigating and will update you shortly.

[2020-02-19 09:23] VikasPullagura-MSFT commented on #48423
@paaland Thanks for the Feedback. The doc is updated and changes will go live soon.

[2020-02-19 09:24] MohitVerma-MSFT commented on #48379
Adding the content-author for the visibility and review.

[2020-02-19 09:25] kumardeepakxyz commented on #48179
@shashishailaj thank you for your reply but it is working fine now. I don't understand the limitation & hack thing you are talking about?

[2020-02-19 09:29] Ap0lli0n commented on #36581
Thank you @hansenms. The oid value in the token is equal to the logged user oid, adding it to the list of allowed object ids (in the Authentication panel of Azure API for FHIR) Postman works properly.
But, should I really add all the user's oids in that list? What better way to do it?  Would it be possible to add groups of users?
Thanks

[2020-02-19 09:30] #48423 closed

[2020-02-19 09:30] jakaruna-MSFT commented on #48392
@kapilrajyaguru
Thanks for the question! We are investigating and will update you shortly.

[2020-02-19 09:35] VikasPullagura-MSFT commented on #48405
@trailstrider Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-02-19 09:35] VikasPullagura-MSFT commented on #48405
@RicksterCDN  Can you please check and add your comments on this doc enhancement request as applicable.

[2020-02-19 09:37] VikasPullagura-MSFT commented on #48403
@gyne Thanks for the feedback! We are currently investigating and will get back on this.

[2020-02-19 09:47] MikeCodesDotNET opened #48427 "BatchReadFileLocal is never declared."
I completed copying the code as per the instructions but found the project wouldn't build because the BatchReadFileLocal method doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afd2df6e-4c2e-eaf8-1fe2-9bae807f5680
* Version Independent ID: d1fb5a5b-a555-4cd0-0330-855681654a38
* Content: [Quickstart: Comput

[2020-02-19 09:50] jakaruna-MSFT commented on #48422
@cuntoulishifu
Thanks for the question! We are investigating and will update you shortly.

[2020-02-19 09:51] ramadhiantoagung opened #48428 "Ask Azure VM stack for accessing onedrive for business/sharepoint online file"
Hi, im trying to move my current on premise to Azure. My company store all file in onedrive for business and sharepoint online, right now, the on premise setup is :

1. small computer running 24/7 using onedrive client app
2. Network share the folder within sync folder of onedrive client app
3. Other high performance workstation will access from network this folder, and works on it. im mostly usin

[2020-02-19 09:53] MikeCodesDotNET opened #48429 "Missing closing bracket for AnalyzeImageUrl method."
If blindly copying and pasting the snippets, the code wont build due to missing the closing bracket in the _AnalyzeImageUrl_ method.

My thought is that both _AnalyzeImageUrl_ and _BatchReadFileUrl_ initial snippets should close the brackets as it helps ensure the code remains properly indented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-02-19 10:00] martijn1279 opened #48430 "Link to 'with Python code' doesnt work"
The link to the 'with Python code' page doesnt work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e6d62cb-c3fc-40b9-ba2e-edab34bb319f
* Version Independent ID: 8ff5349a-0f46-10e9-a9b0-d0e75bdffacc
* Content: [Create Azure Machine Learning workspaces in the portal - Azure Machine Learning](https://docs.microsoft.com/e

[2020-02-19 10:11] josefblaha opened #48431 "More information about fileLoggingMode"
I didn't find any useful documentation for the fileLoggingMode setting. What it is for? Does the "file logging" write to the function host machine disk or storage account? Is it some way related to log streaming? Should I keep it enabled, when I'm using AppInsights for Function logging?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-02-19 10:16] dana23746 commented on #33999
@danimir Thanks for your reply. IT magically disappear this morning, I don't know yet if it's due to an action of the support or not. For information, I was trying to delete it since at least one week !

[2020-02-19 10:25] VikasPullagura-MSFT commented on #48285
@ticianaciminari
@yellow456434 I have tried reproducing the issue, but I did not encounter any error while running the command
 `SCALE_SET_NAME=$(az vmss list --resource-group $CLUSTER_RESOURCE_GROUP --query [0].name -o tsv)`

Another suggestion is add single quotations in the command like below and see if you are running into issues while running in the shell you are trying the tutorial.

`SCALE_

[2020-02-19 10:46] krishjan05 commented on #34375
**I am getting following error:**
az vm image: 'terms' is not in the 'az vm image' command group. See 'az vm image --help'.

**Following command worked for me:**
az vm image accept-terms --urn microsoft_iot_edge:iot_edge_vm_ubuntu:ubuntu_1604_edgeruntimeonly:latest

[2020-02-19 11:03] p1johnson opened #48432 "ILB ASE Changed sinc May 2019"
According to this page https://docs.microsoft.com/en-gb/azure/app-service/environment/create-ilb-ase#dns-configuration the way that DNS is configured for an ILB ASE changed in May 2019. This page needs to be updated to reflect this change.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3d6fa55-7210-3119-f6f0-f7f3936cc

[2020-02-19 11:04] DixitArora-MSFT commented on #48431
Hi @josefblaha Thanks for reaching out. We will review and update as appropriate.

[2020-02-19 11:05] MikeCodesDotNET opened #48433 "Program snippet is missing opening bracket"
The following snippet is missing the opening bracket of the class declaration. (should be on line 11)

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f14ecb69-f8a0-f4e6-a968-916809dce880
* Version Independent ID: e61b508a-b745-9ba7-fc93-75d5b6bc65e8
* Content: [Quickstart: Create a search index in C# using .NET

[2020-02-19 11:12] MikeCodesDotNET opened #48434 "Index is ambiguous in the CreateIndex Method"
Index is ambiguous between _System.Index_ and _Microsoft.Azure.Search.Models.Index_.

[code]

Easy fix:
`using Index = Microsoft.Azure.Search.Models.Index;`

or

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f14ecb69-f8a0-f4e6-a968-916809dce880
* Version Independent ID: e61b508a-b745-9ba7-fc93-75d5b6bc65e8
* Co

[2020-02-19 11:13] djpmsft commented on #48411
Can you give a little context on what you are trying to do? Are you trying to replicate a factory? Linked Service credentials should be specified via the parameters in the ARM template when deploying via the portal. I recommend saving your credentials in a Azure Key Vault secret

[2020-02-19 11:17] cstainie opened #48435 "Supported list of Azure Storage Account Types"
Dear,

Can you clarify the support for Azure Blob Storage as this is not clear and confusing?

I think what you mean is only the blob services are supported on Azure Storage Accounts, but multiple Azure Storage Account Types (Gen Purpose V2, BlockBlobStorage, BlobStorage) are supported.

Can you clarify this please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-02-19 11:19] MikeCodesDotNET opened #48436 "The use of partial classes is unnecessary"
It's normal for C# to interact with partial classes regularly but these are usually created by tools like WinForms UI designer, where the partial class is there to help hide the complexity of the auto-generated code.

Using a partial classes for separating properties and methods is unusual and not something I'd consider good practice.

I'd suggest that the ToString override is appended to the Hote

[2020-02-19 11:20] weslyin commented on #19593
Yes changing the way to give the authority instead of endpoint fixed the issue for me. the ADAL document needs to be improved specially for authentication improvements, or else i see lots of code breakage.

[2020-02-19 11:27] jakaruna-MSFT commented on #48169
@dkubi For `-CloudServiceConfiguration` we need to create an object with the parameters mentioned in this link  https://docs.microsoft.com/en-us/rest/api/batchservice/pool/add#cloudserviceconfiguration

That's missing in the document.

I think we need to add one more configuration object of type "Microsoft.Azure.Commands.Batch.Models.PSCloudServiceConfiguration"

I will assign this issue to the au

[2020-02-19 11:29] OvervCW opened #48437 "API Management with certificate from Key Vault results in request error"
I've followed the instructions here to set up my API Management to use a client certificate from my key vault:

https://github.com/Azure/api-management-policy-snippets/blob/master/examples/Look%20up%20Key%20Vault%20certificate%20using%20Managed%20Service%20Identity%20and%20call%20backend.policy.xml

When observing the trace it looks like the certificate is retrieved successfully:

[code]

However,

[2020-02-19 11:29] KalyanChanumolu-MSFT commented on #33317
@stevestein I cannot find the updated port information yet.
Could you please update the document.

[2020-02-19 11:30] flvndh opened #48438 "Rerun from failed activity in ForEach activity"
Could you provide guidance on how to rerun a failed activity within a `ForEach` loop ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1667bd5c-cfec-f8d8-f455-285fe51b97c4
* Version Independent ID: e1426374-a7b8-25a1-dd8a-0fd60ff2738b
* Content: [Visually monitor Azure Data Factory - Azure Data Factory](https://docs.mic

[2020-02-19 11:34] MonikaReddy-MSFT commented on #48424
@SychevIgor , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-02-19 11:38] jakaruna-MSFT commented on #48415
@sjwaight
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-19 11:38] KalyanChanumolu-MSFT commented on #48420
@dr-ivan Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-02-19 11:44] djpmsft commented on #48438
Are you only trying to re-run a singular activity in the pipeline or do you wish for the pipeline to continue afterward? If you expect to rerun activities often, I would recommend putting the nest activity inside of an execute pipeline activity

[2020-02-19 11:53] vdbosschekoen opened #48439 "Copy pipeline schema mapping error"
We use Azure Data Factory copy pipeline to transfer data from REST api's to a Azure SQL Database and it is doing some strange things. Because we loop over a set of API's that need to be transferred the mapping is empty from the copy activity.

But for one API the automatic mapping is going wrong, the destination table is created with all the needed columns and correct datatypes based on the receiv

[2020-02-19 11:53] jakaruna-MSFT commented on #48428
@ramadhiantoagung Based on your requirement,   [Azure file share](https://docs.microsoft.com/en-us/azure/storage/files/) may help you.

Azure file shares store files centrally and can be mounted on other servers.

You can use [azure file sync](https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-deployment-guide?tabs=azure-portal)  in on prem which can sync the azure file share

[2020-02-19 11:57] hjfitz opened #48440 "Guide broken for Static Sites"
When using the static site URL, per the guide, I get the following error:

<img width="408" alt="image" src="https://user-images.githubusercontent.com/6014476/74832304-e8498000-530e-11ea-926f-15ce1f3102bc.png">

I'm assuming that the guide is incorrect or missing some information?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-02-19 11:57] Thorium commented on #40343
Also F-Sharp examples would also be nice.

[2020-02-19 11:59] flvndh commented on #48438
Let's say we have a `ForEach` activity that contains a Databricks `Notebook` activity.

The `ForEach` activity gets a list of notebooks that need to be executed concurrently.

If for some reason a notebook fails (or even multiple), how can we **only** restart the failed `Notebook` activity without re-executing the entire loop?

To answer your question: I would like the pipeline to resume from wher

[2020-02-19 12:00] RohitMungi-MSFT commented on #48427
@MikeCodesDotNET Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-19 12:02] RohitMungi-MSFT commented on #48429
@MikeCodesDotNET Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-19 12:02] jakaruna-MSFT commented on #48286
@yellow456434  whats the version of helm which you used.

Name parameter is required in helm 3.  But optional in helm 2

Reference: https://helm.sh/docs/faq/#name-or-generate-name-is-now-required-on-install

[2020-02-19 12:02] RohitMungi-MSFT commented on #48430
@martijn1279 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-02-19 12:13] Thorium opened #48441 "C# only?"
This tutorial was linked and named as ".NET Core" but I can see only C# examples, and the tutorial explicitly states "Select C# for the programming language". So, the Azure Event Hubs is not supporting other .NET languages. I'm not using C#, but also I don't want to use bleeding edge hacks, so I guess it's better to not use Event Hubs? What are the recommended options for other languages, e.g. MSM

[2020-02-19 12:23] MikeCodesDotNET commented on #45044
If following the quick start doesn't result in a project that can be built and run then this is a problem. Many users will want to follow along to learn rather than looking at the full source.

[2020-02-19 12:28] MikeCodesDotNET opened #48442 "Following the guide doesn't produce a build-able project"
Working through the quick start copying and pasting snippets (in order) wont produce a build-able project.

As another user has pointed out already, the **New Method** isn't guiding the user to success.

If the user blindly copies and pastes then they'll also end up with duplicate declarations for:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-02-19 12:28] hjfitz commented on #48440
Misread the docs - set up the wrong origin when creating the endpoint; this should also be the url for the site and not for the overall blob!

[2020-02-19 12:28] #48440 closed

[2020-02-19 12:30] fedela opened #48443 "No working in multi tenant environments"
I have tried this moving an snapshot between two subscriptions associated to the same Az AD tenant and it works smoothly.

However, if I do exactly the same but using subscriptions associated to different Az AD tenants it fails with the following error.

The client has permission to perform action 'Microsoft.Compute/disks/beginGetAccess/action' on scope '/subscriptions/xxxxxxxxxxx/resourceGroups/R

[2020-02-19 12:33] jakaruna-MSFT commented on #48298
@CharmanderJieniJieni We can create a policy which denies installation of extensions.

I am not sure if we can add a extensions via azure policy.
I will check and let you know.

[2020-02-19 12:42] Surry44 opened #48444 "SPFX sample"
Rather than Native app it would be great to see a sample on how this can be used with SharePoint Online and SPFX calling an on premises API published using Azure Application proxy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1951bcd-ef2d-2f76-a7aa-d3a53991e881
* Version Independent ID: b8758151-424f-5a99-b8ab-c7cd3

[2020-02-19 12:46] PooSham commented on #42109
Although selecting .NET Framework 4.7.2 works, it's annoying that the .sfproj targets a different framework than all the services. The package.config in the generated application project includes a reference to `Microsoft.VisualStudio.Azure.Fabric.MSBuild`, which seems to be dependent upon .NET Framework. What's the difference between this MSBuild and the one installed with VS? Is it that it can c

[2020-02-19 12:57] MikeCodesDotNET opened #48445 "Use Environment Variables"
Going through our a few of our .NET docs, it looks like most guides use [Environment Variables](https://docs.microsoft.com/en-us/dotnet/api/system.environment.getenvironmentvariable?view=netframework-4.8) rather than hard-coding the values. This document should probably do the same for consistency.

- [Example](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/d

[2020-02-19 13:02] tkumark opened #48447 "Powershell command to add performance counters"
Is there any azure cli or powershell command to add Windows performance counters in Log Analytics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 018e59bd-1f1c-738d-069c-04e983125e02
* Version Independent ID: c79069b7-8376-9086-13cf-cf914fae7a91
* Content: [Collect and analyze performance counters in Azure Monitor - Azu

[2020-02-19 13:04] NavtejSaini-MSFT commented on #48327
@estensen The PR is linked - https://github.com/MicrosoftDocs/azure-docs-pr/pull/104756

[2020-02-19 13:11] BabjiMedicharla commented on #43099
Thank you @juniwang
Its working fine with this new Property "authenticationSettings"

[2020-02-19 13:19] NavtejSaini-MSFT commented on #48267
@SlavaRoikhman Please get back to us if you have any further question. If you don't have any question, we will close this thread by EOD.

[2020-02-19 13:20] NavtejSaini-MSFT commented on #47978
@langstonj Please get back to us if you have any further question. If you don't have any question, we will close this thread by EOD.

[2020-02-19 13:22] aledeniz commented on #41944
@MGoedtel out of curiosity, if you don't publish IP addresses for those resources, how are we supposed to configure our firewalls?

My Cisco ASAs access lists don't really support you asterisks.

[2020-02-19 13:24] aledeniz commented on #41944
@goosej5797 have you found those IPs? Any work around?

[2020-02-19 13:30] HQJaTu opened #48448 "Using CBC-ciphers is deprecated"
What! Why do both of the two supported ciphers have CBC? Why aren't any sensible, actually secure, TLS 1.2 options available?

Quotes:
"CBC mode in context of TLS protocol has had security issues, and would have had to be reworked."

"CBC has proven difficult to use safely, and how recent trends in the adoption of secure ciphers by web clients have helped reduce the web’s reliance on this technolo

[2020-02-19 13:33] SlavaRoikhman commented on #48267
Thanks. That worked.

Slava Roikhman
CONSULTANT
Office: +1 (613) 2123882
Slava.Roikhman@microsoft.com
9 AM - 6 PM

________________________________
From: NavtejSaini-MSFT <notifications@github.com>
Sent: Wednesday, February 19, 2020 7:19:09 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Slava Roikhman <Slava.Roikhman@microsoft.com>; Mention <mention@noreply.github.com>
Subject

[2020-02-19 13:34] samueljamkhandi07 commented on #26749
Any updates?

[2020-02-19 13:39] marktab commented on #48234
@FlorianPydde Thanks for the ideas

We are removing code samples from TDSP, as we focus on where we believe the framework adds value.  Instead, we will be replacing samples with links to other examples.  Take care.

[2020-02-19 13:43] NavtejSaini-MSFT commented on #48448
@HQJaTu Thanks for the feedback and we are forwarding your feedback to doc author for evaluation.
@yegu-ms Please check the feedback from user and share your thoughts.

[2020-02-19 13:44] Hbaele commented on #46620
We also need info on this, since Microsoft Partners are now obligated to enforce MFA for all users, guests included, with baseline policies that will be replaced with security defaults.

[2020-02-19 13:46] vermegi opened #48449 "isHnsEnabled missing in ARM template file"
The docs for template deployment deploy a regular storage account and not an ADLS one with a hierarchical namespace. The ARM template should have isHnsEnabled true in its properties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee9ec76-a91f-095a-5ba3-b9c413366751
* Version Independent ID: 29c17263-ed56-d42e-bc3f-091

[2020-02-19 13:46] pvrk commented on #47601
@EmanuelYuCorella : Were you able to try with the suggestions? Please let us know the results.

[2020-02-19 13:51] CharmanderJieniJieni opened #48450 "Is VM reboot required when enabling or disabling encryption"
I see in a document in other language saying that VM reboot may happen when enabling or disabling encryption. Just want to confirm this. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c7e44e-899c-56d9-b35d-420df677527c
* Version Independent ID: 7a6fd590-99a6-9fb8-3bfb-76d27752def5
* Content: [Enable Azure Disk

[2020-02-19 13:54] bnagajagadeesh commented on #48368
changed the command to modify "900s" to "900" to resolve the issue with type conversion to int. Now, I'm getting below error.
"Error: could not find tiller"

[2020-02-19 13:54] CharmanderJieniJieni commented on #48298
Thanks, what we need is not denying extension installation, instead we want all VMs created automatically have ADE enabled, the policy I pasted is an append policy for that purpose

[2020-02-19 13:55] NavtejSaini-MSFT commented on #48445
@MikeCodesDotNET Thanks for the feedback. We are forwarding the feedback to doc author for the evaluation.
@LuisBosquez Please check the feedback and see if it can be modified to include the env variables.

[2020-02-19 14:07] shashishailaj commented on #48444
@Surry44 Thank you for your suggestion . We will engage the content team to see what can be done for this request ..

[2020-02-19 14:08] oatsoda opened #48451 "ApplicationInsights warning - clarification"
Can this be clarified further? I added a dependency to my code on `TelemetryClient` but without adding `AddApplicationInsightsTelemetry()` the injected instance of `TelemetryClient` was `null`.

If I add `AddApplicationInsightsTelemetry()` to my `FunctionsStartup` class - what exactly is it breaking that the Warning is talking about?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-02-19 14:12] IEvangelist commented on #48072
Closing this issue due to inactivity. I haven't heard back from anyone in six days... #please-close

[2020-02-19 14:12] #48072 closed

[2020-02-19 14:20] shashishailaj commented on #48444
@jeevanbisht @msmimart Could you please review this request if there is any such sample internally available and if we can provide a new document page as an example detailing the same ?

Thank you.