[2018-07-30 17:04] Mike-Ubezzi-MSFT commented on #12544
@kazshi I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 17:07] Karishma-Tiwari-MSFT commented on #12572
@MikkelHegn It looks like customers need more clarity on the steps.
Step 1: The directory structure, as shown below, can be added here to show the location of Config\Settings.xml file
[code]

Step 5,6,7: This line can be added - "parameter's name should be prefixed by a service name when referenced in ApplicationManifest.xml" file.

[2018-07-30 17:07] Mike-Ubezzi-MSFT commented on #12557
@yamatoya Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 17:11] Mike-Ubezzi-MSFT commented on #12561
@PhilStollery Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 17:17] Adam-Smith-MSFT commented on #12585
@elangelo Is it possible to provide us with the link you were referring to ?

[2018-07-30 17:18] Adam-Smith-MSFT commented on #12563
@prayshe  Is it possible to provide us with the link to the documentation you were referring to?

[2018-07-30 17:20] Mike-Ubezzi-MSFT commented on #12548
@yunzhangMS Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 17:21] BryanTrach-MSFT commented on #12536
@ncacace You referenced mkdir and quickstart in your screenshot. Searches [of the doc](https://docs.microsoft.com/en-gb/azure/app-service/app-service-deploy-local-git#) for these cmdlets come up empty. From your screenshot it appears these cmdlets are coming from another doc.

![image](https://user-images.githubusercontent.com/20250350/43412463-2c589a9e-93e2-11e8-8341-6897d9761d96.png)

and

![ima

[2018-07-30 17:22] Mike-Ubezzi-MSFT commented on #12580
@sonorati Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 17:23] elangelo commented on #12585
@Adam-Smith-MSFT you want to know the container and the storage account i'm using?

[2018-07-30 17:24] BryanTrach-MSFT commented on #12541
@ncacace Can you please let us know what sections of the doc you had problems with? That way the doc author can take specific action to improve those sections. We look forward to your reply.

[2018-07-30 17:25] SaurabhSharma-MSFT commented on #12452
@1maja We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-30 17:25] #12452 closed

[2018-07-30 17:26] kobulloc-MSFT commented on #12559
@Tkeyy Thank you for pointing this out!  We are working on this and will get back to you shortly.

[2018-07-30 17:33] Mike-Ubezzi-MSFT commented on #12573
@RDSimmons01 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-30 17:35] Mike-Ubezzi-MSFT commented on #12584
@selvasingh Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 17:37] vasivara-MSFT commented on #12524
@paulmac57 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-30 17:37] #12524 closed

[2018-07-30 17:39] vasivara-MSFT commented on #12497
@ChandraMadhumanchi Since we haven't received any response. We will now proceed to close this thread. When you reply back, please reopen it and we will gladly continue the discussion.

[2018-07-30 17:39] #12497 closed

[2018-07-30 17:39] Mike-Ubezzi-MSFT commented on #12586
@vip32 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 17:42] MarileeTurscak-MSFT commented on #12547
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-30 17:45] jkallenbach commented on #12579
https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management

[2018-07-30 17:48] MarileeTurscak-MSFT commented on #12575
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-30 17:49] MarileeTurscak-MSFT commented on #12576
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-30 17:51] MarileeTurscak-MSFT commented on #12581
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-30 17:52] MarileeTurscak-MSFT commented on #12588
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-30 17:52] MicahMcKittrick-MSFT commented on #11753
@EmilyNamugaanyi thanks for the update. I have been trying to get this to work without any luck.

I am expecting to hear back on how to achieve this today or if it is even possible. Will update shortly.

[2018-07-30 17:54] femsulu commented on #12567
@antongeorgiev thanks for the valuable feedback.  The Azure monitor team is always eager to receive direct feedback from it's customer base. Please share your feedback directly using [this link](https://feedback.azure.com/forums/913690-azure-monitor-action-groups).
@msvijayn  - FYI

[2018-07-30 17:54] mike-urnun-msft commented on #12553
Hi @lukaszkuczynski - We're glad to hear that you had a great experience! Thanks!

cc: @cephalin

[2018-07-30 17:54] ayeltsov opened #12590 "Clarify "mountpoints within the server endpoint are skipped""
Can you please clarify second part of "You can create a server endpoint via a mountpoint. Note, mountpoints within the server endpoint are skipped.", either inline, or with forward reference to more detailed documentation. Example would be good.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa8c1f7-dc55-7129-95be-687

[2018-07-30 17:54] #12553 closed

[2018-07-30 17:54] Adam-Smith-MSFT commented on #12531
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-30 17:54] #12531 closed

[2018-07-30 17:56] Adam-Smith-MSFT commented on #8369
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-30 17:56] #8369 closed

[2018-07-30 17:56] MicahMcKittrick-MSFT commented on #12426
@randhirkc I will close this out for now as I have ran through the docs and everything is working as expected.

Let me know if the updating of your Azure PowerShell module does not solve you issue.

[2018-07-30 17:56] #12426 closed

[2018-07-30 17:57] TravisCragg-MSFT commented on #12574
@rabryst can you please link the document where it specifies port 1443?

[2018-07-30 17:59] mike-urnun-msft commented on #12571
Hi @philippschaefer4 - Thank you for your feedback! We are actively investigating and will share our findings.

[2018-07-30 17:59] MicahMcKittrick-MSFT commented on #12462
Thanks @mrbobfrog for the update. It seems that it is something with the custom settings you are adding that is causing the issue. Please do let us know once you have a solution. That way we can consider adding even more to the docs.

As per your second comment, I will assign this to the content author to review this doc and see if we can add any additional information or commands to the doc to ma

[2018-07-30 18:02] TomArcher commented on #12362
@MicahMcKittrick-MSFT I'm still on TF :) I've emailed the engineering team and have asked that they reply to this issue.

[2018-07-30 18:04] rabryst commented on #12574
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/load-balancer/media/load-balancer-overview/IC744147.png

Sorry about that. I was using my phone and it was tricky to get the URL.

[2018-07-30 18:06] jason-j-MSFT commented on #12565
@sarathlalsaseendran is this a transient or permanent issue?  I've seen that error before on newly created clusters, is this the case in your scenario?

[2018-07-30 18:06] MicahMcKittrick-MSFT commented on #12512
@singhkays can you take a look at this?

@jpconnock I assigned to you as I am unable to assign directly to @singhkays

[2018-07-30 18:15] MicahMcKittrick-MSFT commented on #12518
@abizake looks like this doc was out of date!

I removed the mention that it is not supported. Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-07-30 18:27] TravisCragg-MSFT commented on #11913
@zaxer0229 if you would like us to reduce the minimum subnet size for Azure Firewalls, please [leave your feedback Here](https://feedback.azure.com/forums/217313-networking)!

[2018-07-30 18:29] Anmolgan81 commented on #12484
Are there any updates on this??

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Bryan Trach <notifications@github.com>
Sent: Friday, July 27, 2018 11:38:05 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] What about Team Services Organisation Accounts? (#12484)

@Anmolgan81<https://github.com/Anmolgan81> Thanks

[2018-07-30 18:31] yairt1974 commented on #12413
Thanks for reporting. Regarding the ping test - any existing session is not terminated by a new rule. This is by design. We got a feedback from several customers and are looking to change it.
Regarding the network rule collection update issue - this is a bug. We will fix.

[2018-07-30 18:32] #12518 closed

[2018-07-30 18:33] MicahMcKittrick-MSFT commented on #12525
@brcaswell thanks for the feedback on this. As you mentioned the commands do not work when in interactive mode. In most cases this is not a mode enabled by default in CMD so I am not sure it would be worth mentioning.

I will close this but if we see more feedback on this we can always consider adding a note to the docs.

CC @rwike77 for awareness.

[2018-07-30 18:33] #12525 closed

[2018-07-30 18:47] Karishma-Tiwari-MSFT commented on #12572
@andrewtyped I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 18:47] Karishma-Tiwari-MSFT commented on #12560
@mamukundan I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 18:54] paulmac57 commented on #12524
thankyou found it and set it up, however it creates 2 expensive servers as well.. I only need it for test ourposes at the moment. Are there any templates that will simply set up  some cheaper workstations or serrers

[2018-07-30 18:57] tkumark opened #12592 "can you please updated the document on pricing tier required for API Management to working with SF"
Hi
Can you please updated the document that the pricing tier required for API Managment to work with SF is Dev or Premium pricing tier. It would help a lot in making decisions sooner than later.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dd6ed51-33aa-e8af-d483-4df816dd2c7f
* Version Independent ID: f889b18f-8a9a-9

[2018-07-30 18:57] jogold9 opened #12593 "Possible incorrect port number listed in this document"
"If unable to connect, allow inbound port 9443 on the Process Server and check if the problem still exits."

I think you mean port number 443 for HTTPS, not 9443.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d72ac543-7402-d3c3-150f-b85f009abe2c
* Version Independent ID: f613426a-e18f-81ef-ddca-d2646e157cb1
* Content:

[2018-07-30 18:58] MarileeTurscak-MSFT commented on #12562
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-30 19:06] LeoStack commented on #12578
I agree. The only things I can find is that is only supported in the portal, the client storage sdk, and the REST API. It would be nice to do this within ARM Template, or Powershell/azcli

[2018-07-30 19:12] erhuan-msft opened #12594 "ContainerImageDownloadTimeout example has extra spaces before and after"
Hi,

You might want to fix this typo in case anyone just copy and paste without realizing what's wrong with their arm deployment.

"name": " ContainerImageDownloadTimeout ",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7df6f76-be53-ff44-5d81-aa1c2c2a1c51
* Version Independent ID: 9e3b3112-bcd1-cee5-48ed-69e3debbd5a3

[2018-07-30 19:18] ericnewton76 commented on #12032
Cool. Thanks.

In the meantime, can the author reply with a simple rough draft of the filter specs?  I have a web service with 6.5GB and 32000 blob cache files that I dont want included because of time (mostly) and space (wasted in storage/download).

[2018-07-30 19:26] Zerg00s opened #12595 "Missing information on limitations"
What are the limitations for the "Do Until" action? Can we run it for 20 years and 10 million times? We need to know the boundaries, please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0c62935-f980-a27c-883b-bd826c5b327f
* Version Independent ID: 5fc1bf17-8cd9-8cdb-72df-1c6a544a677a
* Content: [Add loops that repea

[2018-07-30 19:27] #12595 closed

[2018-07-30 19:28] lachie83 commented on #11753
I don't believe you want trigger this behavior through an annotation on the ingress resource. You should simply associate the nginx-ingress controller to the service you created with a static IP. Is that what you're saying doesn't work?

[2018-07-30 19:41] SaurabhSharma-MSFT commented on #12562
@Walk4Muscle You are getting this error because you do not have permissions to register application to azure active directory. Please ask your administrator to modify the setting in Azure,  “user can register applications “ to "Yes".
On Azure portal Go to Active Directory > User Settings and set the option from "No" to "Yes"
![image](https://user-images.githubusercontent.com/38112130/43419337-7c07

[2018-07-30 19:54] tldrafael opened #12596 "Is it possible assign container_configuration by the az-cli ?"
Is it possible create a pool with the container images using the the az cli ? i am not being able to find this option in  `az batch pool create` and neither `az batch pool set`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 206a4592-16ac-8ef7-7a33-508535c3ea50
* Version Independent ID: 24785e7d-1caf-dd48-dc26-e5d258d89

[2018-07-30 19:54] jason-j-MSFT commented on #12582
@bigdatamoore
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-30 19:55] rwike77 commented on #12560
@mamukundan Thanks, I'm making updates now.

[2018-07-30 19:56] Karishma-Tiwari-MSFT commented on #12596
@tldrafael Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-30 20:00] Karishma-Tiwari-MSFT commented on #12592
@tkumark Thanks for your feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 20:01] jason-j-MSFT commented on #12587
@bigdatamoore
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-30 20:04] Karishma-Tiwari-MSFT commented on #12594
@erhuan-msft Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-30 20:11] MarileeTurscak-MSFT commented on #12552
1. Is the version parameter included in your second URL?

2. One value is coming from the discovery document - one value is coming from the token.

Both are "calculated" from the current HTTP request. So my guess is your are somehow using HTTP vs HTPPS in certain situations (or a reverse proxy is terminating the TLS channel in certain cases).

Do you have a reverse proxy/load balancer that is term

[2018-07-30 20:15] SaurabhSharma-MSFT commented on #12581
@wouterwyns Please contact Azure AD SSO Integration Team - SaaSApplicationIntegrations@service.microsoft.com for your access issues.

[2018-07-30 20:29] jason-j-MSFT commented on #12453
@douglaslMS we have a request here to further document permissions needed to list Storage Accounts in the trigger UI.

@vthokie93
As far as predefined roles, which would easiest to configure, take a look at these 2:
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage-account-c

[2018-07-30 20:32] #12594 closed

[2018-07-30 20:34] lleonard-msft commented on #10616
@MichelZ - Since we've updated the docs to fix the issue, is it OK to close the issue now?

[2018-07-30 20:35] lleonard-msft commented on #10699
@Phydeauxman - Since we've updated the docs to fix the issue, is it OK to close the issue now?

[2018-07-30 20:36] douglaslMS commented on #12453
@jason-j-MSFT @vthokie93 I've asked the Data Factory team to investigate whether this might be a UI issue, before we investigate it as a permissions issue. If I don't hear from them by Tuesday, I'll send a reminder.

[2018-07-30 20:37] jason-j-MSFT commented on #12477
@sharonlo101 we have a possible bug reported in the scheduledTime trigger:
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-system-variables#schedule-trigger-scope

@marshall245 is reporting there is no 'Z' as stated in the documentation.

[2018-07-30 20:37] ejarvi commented on #12152
https://github.com/MicrosoftDocs/azure-docs/pull/12597

[2018-07-30 20:41] jason-j-MSFT commented on #12487
@tshaiman I don't see any references to 'SimpleReceiver' on this page, did you mean 'SimpleEventProcessor'?

[2018-07-30 20:44] jason-j-MSFT commented on #12453
@douglaslMS Thanks!

[2018-07-30 20:59] tshaiman commented on #12487
Yes , of course

[2018-07-30 21:02] tshaiman commented on #12487
My comment explained : well, there is more to this subject rather than just using the API as-is.
Please elaborate on how the threads / tasks are being used . E.g : if I have 32 partitions does it mean 32 threads ? How can one make his consumers run faster ? Maybe by opening a new process with another eventProcesor ? How will re-balance between the two will work ? What about the lease timeouts ?
Th

[2018-07-30 21:07] Mike-Ubezzi-MSFT commented on #8128
@ChrisCarrAu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-30 21:07] #8128 closed

[2018-07-30 21:08] tshaiman commented on #12487
E.g : I was thinking I had dead-lock but it turns out that there was relatively long lease time on each partition (> 15 sec)
So one needs to know all the aspects and impacts when thinking about parallel consuming form eventHubs

[2018-07-30 21:36] Karishma-Tiwari-MSFT commented on #12540
@dcbrown16 A VM Image contains an OS disk, which has been generalized and needs to be provisioned during deployment time.  OS Images today are generalized.  This is meant to be used as a “model” to quickly stamp out similar virtual machines, such as scaling out a front-end to your application in production or spinning up and tearing down similar development and test environments quickly.

A Snapsh

[2018-07-30 21:37] Mike-Ubezzi-MSFT commented on #11904
@MateuszMMakowski Apologies for the delay, I was out of the office for a few days but I want to follow up with this issue with an update:

"Please check with customer whether he is setting isVirtualNetworkFilterEnabled" : "True". By default its false, so it wont set Acls. I am attaching my example template which sets both IPrange filter and Vnet Acl."

![screenshot 124](https://user-images.githubu

[2018-07-30 21:38] MohitGargMSFT commented on #12539
@KeiroKamioka0000 Please note that all data is encrypted at rest. But Azure Disk Encryption is only applicable to OS and data drives.

[2018-07-30 21:43] femsulu commented on #12022
@NicoThiemer We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-30 21:43] #12022 closed

[2018-07-30 21:44] vhorne commented on #12233
#please-close

[2018-07-30 21:49] vhorne commented on #11620
#please-close

[2018-07-30 21:57] femsulu commented on #12564
@balu04vn Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-30 22:08] bwren commented on #11827
Custom logs is enabled for all workspaces now.  The article will be updated soon.

[2018-07-30 22:14] gpartridge2004 opened #12598 "Script issue"
To run the script in section 3. run ./RegisterConnector.ps1 -modulePath "C:\Program Files\Microsoft Azure AD Connect Authentication Agent\Modules\" -moduleName "AppProxyPSModule" -Authenticationmode Credentials -Usercredentials $cred -Feature PassthroughAuthentication
Otherwise it will report  -
egisterConnector.ps1 : The term 'RegisterConnector.ps1' is not recognized as the name of a cmdlet, func

[2018-07-30 22:14] ejarvi commented on #12338
@SaurabhSharma-MSFT

I would agree with @tumluliu the main document is outdated and needs to be updated to reflect new syntax (CLI 1.0 syntax is considered deprecated). If you want to re-open the issue and assign to me I can follow it through to resolution.

In the meantime, CLI 2.0 documentation is available here:  https://docs.microsoft.com/en-us/cli/azure/vm/encryption?view=azure-cli-latest#az-

[2018-07-30 22:15] bwren commented on #11827
#please-close

[2018-07-30 22:15] KeiroKamioka0000 opened #12599 "Best practice regarding volume of cache folder?"
Hello, according from the document it says 'The volume of your cache folder should be at least 5-10% '
If at least of 5-10% is required what are the preferred amounts of volume should be spend for cache folder??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ad5c91-acc2-a50b-0b4a-8298c608df41
* Version Independent ID

[2018-07-30 22:32] ghost opened #12600 "Incorrect argument passing to function CreateRunWithHttpMessagesAsync"
In the code for 'Create a pipeline run', the fourth argument is expected to be a string instead of a dictionary object. It gives the following compilation error:
Argument 4: cannot convert from 'System.Collections.Generic.Dictionary&lt;string, object&gt;' to 'string'

Adding null as the fourth argument does the trick.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-07-30 22:34] shehackspurple commented on #11716
Hello,

Sorry for the delay.  I think a disclaimer would be great.  I just don’t want people to follow it and not realize that they are not secure/it’s not suitable for prod.  Also, a link t the custom VNET article would likely be a good addition.

Tanya

Tanya Janca
@SheHacksPurple
http://devslop.co/
https://medium.com/@shehackspurple
https://www.slideshare.net/TanyaJanca

[2018-07-30 22:37] bwren commented on #12184
This feature will most likely be updated soon, and we'll be looking at a potential rewrite at that time.

[2018-07-30 22:37] bwren commented on #12184
#please-close

[2018-07-30 22:40] carterm opened #12601 "Complete garbage"
Nuget says Microsoft.WindowsAzure.MobileServices is deprecated, but your template still uses it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 312c8a1a-d55e-26da-699b-6ae9bb4f6ca7
* Version Independent ID: 760ffd60-3f4b-77eb-cb66-4c13738d51b4
* Content: [Create an iOS app on Azure App Service Mobile Apps](https://docs

[2018-07-30 22:40] MicahMcKittrick-MSFT commented on #12596
@tldrafael you would need to set this information in the JSON file rather than pass it directly from the CLI environment

https://docs.microsoft.com/en-us/azure/batch/batch-cli-get-started

[2018-07-30 22:40] femsulu commented on #12345
@andybeak You are correct. In Azure Resource Manager (ARM) model, clients register their subscription with the resource provider to use the features provided by the resource provider. Microsoft.Insights is the resource provider namespace for Azure Monitor which provides features such as metrics, diagnostic logs, activity logs, autoscale, and metric alerts.

Are you requesting we update the doc to

[2018-07-30 22:41] MohitGargMSFT commented on #12576
@martinagrom You are right in your observation. Alternatively, you check on [Azure Active Directory Pass-through Authentication](https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-pass-through-authentication).

[2018-07-30 22:42] douglaslMS commented on #12587
#in-progress

[2018-07-30 22:44] douglaslMS commented on #12582
#in-progress

[2018-07-30 22:51] mike-urnun-msft commented on #12527
Hey @rahulbagal - just checking in for updates. Please let us know if the above was helpful and if you have further questions regarding this matter.

[2018-07-30 22:54] Dc9894 opened #12602 "Error when tryin to add a certificate to an existing VM"
Hi, I'm trying to use this tutorial to add a certificate to my existing Windows Server 2016  where I had also installed IIS (From the wizard) using powershell. I've already created the Azure Key Vault, generated the certificate (self-signed), and added the secret using `Add-AzureRmVMSecret`
Everything works fine until I try to add the certificate using the `Update-AzureRmVM`  command, when the fol

[2018-07-30 22:55] grayzu commented on #11681
There is an active issue for this in the providers repo:
https://github.com/terraform-providers/terraform-provider-azurerm/issues/1429

[2018-07-30 22:57] ChandraMadhumanchi commented on #12497
Dear Sir/Madam,

Sorry for late reply.

Here you go.

Because of this line of code.

git code is not able build.

 Option<Object> graphSchemaVersion = null; //readConfig.properties().get(Constants.GRAPH_SCHEMA_VERSION);

This line in CosmosDBInputRDD.java.

public final class CosmosDBInputRDD implements InputRDD {

Time being i am commenting this and working my using case.

Please let me know if a

[2018-07-30 23:04] ChandraMadhumanchi commented on #12497
Dear Sir/Madam,

Sorry for late reply.

Here you go.

Because of this line of code.

git code is not able build.

 Option<Object> graphSchemaVersion = null;
//readConfig.properties().get(Constants.GRAPH_SCHEMA_VERSION);

This line in CosmosDBInputRDD.java.

public final class CosmosDBInputRDD implements InputRDD {

Time being i am commenting this and working my using case.

Please let me know if a

[2018-07-30 23:07] mike-urnun-msft commented on #12505
Hi @doppelganger9 - Sounds like you were able to find the answers you had from various sources you mentioned. Are you completely unblocked now? If you're still having issues and have further questions that aren't related to the content of this documentation, could you open a post on MSDN forum where a larger audience, including myself, can recommend solutions that fit your unique implementation?

[2018-07-30 23:10] dcbrown16 commented on #12540
Thanks @Karishma-Tiwari-MSFT , that will be very helpful in communicating to our customer for this case!

[2018-07-30 23:13] femsulu commented on #12382
assigning to @rolyon to help address this doc-enhancement request to elaborate on the scope of network contributor role.

[2018-07-30 23:24] MohitGargMSFT commented on #12588
@clydetaylor Please note that if you go to Market Place in Portal it has been updated with Security and Identify is listed separately. However, the screenshot in the document need to be updated.

![saveme](https://user-images.githubusercontent.com/32749549/43428803-fb7334a6-9414-11e8-8db6-3d480770c46b.PNG)

I am going to assign this issue to content author to update the screenshot in Step 2.

[2018-07-30 23:25] femsulu commented on #12578
@bg2132332, @LeoStack : Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-30 23:26] jason-j-MSFT commented on #12526
@hiteshtulsani I do not believe what you are describing regarding python version is possible at this time.  I do not see a way to pass the 'spark_env_vars' key to the Databricks API through ADF.  Take a look at the "spark_env_vars" here:
https://docs.azuredatabricks.net/api/latest/examples.html#create-a-python-3-cluster

@nabhishek this might be a documentation opportunity as there is no mention o

[2018-07-30 23:27] BryanTrach-MSFT commented on #12601
@carterm Thank you for the feedback. We have assigned your feedback to the doc author for them to update the doc.

Please use [Microsoft.Azure.Mobile.Client](https://www.nuget.org/packages/Microsoft.Azure.Mobile.Client/) in the meantime.

[2018-07-30 23:27] femsulu commented on #12590
@ayeltsov Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-30 23:29] BryanTrach-MSFT commented on #12595
@Zerg00s We are happy to see that you resolved the question. Please contact us in the future with any questions.

[2018-07-30 23:29] femsulu commented on #12599
@KeiroKamioka0000 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-30 23:32] guygodin opened #12605 "Why is this so complicated"
.NET Framework 4.7.1 has been released almost a year ago, yet Azure still doesn't support it out of the box. Installing it through the steps above doesn't work for me. My VM instance get's stuck at "starting" and never completes. I connected through Remote Desktop and the NDP executable was running but using 0% CPU and was just stuck; no logs, nothing.

Error message I see after waiting 1 hour in

[2018-07-30 23:32] pbrinkleyrogers opened #12606 "Adding App Insights to APIM Doesn't Work"
Followed the documentation steps exactly, but the App Insights instance I created doesn't show up in APIM. Created another App Insights instance, it doesn't show up either. Is there something I need to configure in App Insights first (other than selecting "General" for the Application Type) to make it available in APIM?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-07-30 23:32] femsulu commented on #12593
@jogold9 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-30 23:38] femsulu commented on #12423
assigning to @tfitzmac per internal thread.

[2018-07-30 23:39] Karishma-Tiwari-MSFT commented on #12602
@Dc9894 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-30 23:41] vasivara-MSFT commented on #12600
@niharikaduttams Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-30 23:49] tdobw commented on #7641
@MohitGargMSFT - do you happen to know if this issue has been resolved? I just tried this as well with our Cornerstone portal but received the same error message. Thanks.

[2018-07-30 23:50] kobulloc-MSFT commented on #12260
@ishepherd I haven't found good answers to your questions in our existing documentation, and am reaching out to see if we can better answer this.

[2018-07-30 23:50] kobulloc-MSFT commented on #12262
@ishepherd I haven't found good answers to your questions in our existing documentation, and am reaching out to see if we can better answer this.

[2018-07-30 23:59] SaurabhSharma-MSFT commented on #12533
@student-forever Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-31 00:02] EmilyNamugaanyi commented on #11753
Both actions were done, association and the annotation and later the annotation removed but the ingress did not seem identify the static IP.

However I would like to ask a slightly different question. The cluster does have an IP address already assigned to it however, we lose this IP every time the cluster is torn down. I am wondering is there away of reserving an IP for your cluster?

[2018-07-31 00:03] RDSimmons01 commented on #12573
Actually Mike....I found the solution.  You can close this one.  Thanks.

Sent from my iPhone

[2018-07-31 00:10] Karishma-Tiwari-MSFT commented on #12605
@guygodin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-31 00:11] madhuperera opened #12607 "Landlines with Extension"
Hi,

We used to be able to authenticate via a landline with an extension. This was picked up from Azure AD contact info. We can no longer add a landline with an extension and we really need this.

Thanks

Madhu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfee729c-add5-c91a-cc21-fc708f94bff5
* Version Independent ID:

[2018-07-31 00:13] BryanTrach-MSFT commented on #12541
@ncacace We appreciate your feedback but unfortunately there is no clear action for us to take from your comment. As a result, we are closing this as a code of conduct.

[2018-07-31 00:13] #12541 closed

[2018-07-31 00:15] niharikaduttams commented on #12600
Thank you! I am facing another issue in the code under the second point of 'Monitor a pipeline run'. The error I am getting is:

'IActivityRunsOperations' does not contain a definition for 'ListByPipelineRun' and no extension method 'ListByPipelineRun' accepting a first argument of type 'IActivityRunsOperations' could be found (are you missing a using directive or an assembly reference?)

Thanks.

[2018-07-31 00:25] JasonWHowell commented on #12565
Which connector are you using in Power BI Desktop?

The Spark one only supports direct query when I try it:
![image](https://user-images.githubusercontent.com/5067358/43430359-59154ca4-941d-11e8-8aad-fd2e9626e5fa.png)

Thanks, Jason

[2018-07-31 00:29] tldrafael commented on #12596
It was what i needed @MicahMcKittrick-MSFT , thanks.

[2018-07-31 00:29] #12596 closed

[2018-07-31 00:30] MarileeTurscak-MSFT commented on #12607
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-31 00:38] ncacace commented on #12536
From my image there is nothing stopping anyone from trying the commands in powershell
The point here is that
I create a folder/directory
It can be clearly listed
Yet when I try to access it it acts as though it doesn't exist
When I try to delete it it acts as though it doesn't exist

Whether it is your documentation or someone else's is completely immaterial

[2018-07-31 00:40] Karishma-Tiwari-MSFT commented on #12543
I think it would be easier for the customers if we maintain consistency on the sample code. We can follow what has been provided in the Http Trigger template (when user creates a Azure Function project in Visual Studio):

[code]

[2018-07-31 00:44] zchia commented on #7641
Hi @tdobw: This issue has been fixed a few months ago. Could you check and see if:

1.	In the Admin Username field, try entering the username in the “domain\user” format instead of “user”. The domain should be your Cornerstone tenant domain. The user account should have permissions to access the Cornerstone user management API.
2.	In a web browser, try browsing to the Cornerstone User management A

[2018-07-31 01:07] conceptdev commented on #12601
@carterm we are in the process of updating the templates - the last [two pull requests](https://github.com/Azure/azure-mobile-apps-quickstarts/pulls?q=is%3Apr+is%3Aclosed) on the template repository have updated Xamarin.Forms and Android, iOS will be next. There is a testing process before these get these inserted into the portal.

The finished samples [available here](https://github.com/xamarin/m

[2018-07-31 01:11] conceptdev commented on #12601
#please-close this document does not require an update in this case, the problem is with the Azure portal Quickstart templates being out-of-date, and we are working to rectify this.

[2018-07-31 01:14] femsulu commented on #12233
@nerath We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 01:15] #12233 closed

[2018-07-31 01:15] femsulu commented on #12184
@thuansoldier We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 01:15] #12184 closed

[2018-07-31 01:16] femsulu commented on #11827
@FoldZero We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 01:16] #11827 closed

[2018-07-31 01:16] femsulu commented on #11620
@andyjballgit We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 01:16] #11620 closed

[2018-07-31 01:22] yamatoya opened #12609 "Max storage size information for Business Critical service tier which has 32core is not written"
support cor is `8, 16, 24, 32, 40, 64, 80 (Gen 5)`
max storage size is
[code]

It is not written for 32 vCores.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-911d-9fa0-8dfab1653b6e
* Content: [Azure SQL Database Managed Instance Overview](htt

[2018-07-31 01:36] Walk4Muscle commented on #12562
@SaurabhSharma-MSFT , acutally, I have already registered an AAD v2 application and used in my application, and then I want to modify it, and I found all the AAD v2 application disappeared in `appList` blade. And I'm not registering AAD v1 applications.

[2018-07-31 02:25] gervaisfokam opened #12610 "Dead Link"
Great Article!
Just one thing: In the following section:
#Interpret command output : https://docs.microsoft.com/en-us/azure/virtual-network/diagnose-network-traffic-filter-problem#interpret-command-output

In the sentence : Regardless of whether you used the PowerShell, or the...  The link "PowerShell" link is dead.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-07-31 02:27] drhilding opened #12611 "That's annoying..."
You need to leave the connection string set to the default name for the "Create a table API" step to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7041142f-6df3-4e70-b1b9-22b2f13f4966
* Version Independent ID: 4a9dc512-f04b-fd66-5c25-b2095522b497
* Content: [Create an Android app on Azure App Service Mobile Apps

[2018-07-31 02:58] rolyon commented on #12382
Hi @thuansoldier
The Network Contributor role includes the Microsoft.Network/* action. Since the action has a wildcard (*), it allows all operations for the Microsoft.Network resource provider. You can get a detailed list of all the operations that are allowed by looking at the Microsoft.Network resource provider:
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-o

[2018-07-31 03:01] saimanojkumarnandam opened #12612 "HUE script action failing multiple times"
I tried running the HUE script action for installing HUE on Head nodes following instruction on this link https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-hue-linux. But it has been multiple times from last couple of days. It used to be working perfectly a week back. I tried searching logs and found the following error in the log.

Verification successful
Verification successful
T

[2018-07-31 03:13] esquilaxgt opened #12613 ""The credentials you used to connect did not work...""
I am unable to remote the the VM. On attempt to connect to the ip listed I receive the error "The credentials you used to connect did not work...". I have created several credentials and typed multiple times. Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55e23176-40c4-39bd-4f6f-cc48e518cf96
* Version In

[2018-07-31 03:15] maheshinvent opened #12614 "IoTHub Direct Methods $rid datatype"
Dear Team,

Kindly let us know the datatype of $rid which is used to identify "direct method" calls to device over MQTT protocol in IoT Hub.

[2018-07-31 03:38] ecfan commented on #8147
Hi @amckeachie,

Thanks again for your feedback! We've now refreshed the article, ["Handle content types"](https://docs.microsoft.com/azure/logic-apps/logic-apps-content-type#other-content-types), with the missing native functions for form data.

[2018-07-31 03:57] lachie83 commented on #11753
Unfortunately not. The resource group created by AKS that contains the VMS and other associated infrastructure will be deleted when the cluster is deleted. It's this same resource group that container the static IP which will also be removed.

[2018-07-31 04:00] GagandeepS commented on #7042
Again I am in need of executing my python code through ADFv2. Any help?
if I convert it into .exe, will it work?

[2018-07-31 04:04] MichelZ commented on #10616
@lleonard-msft Absolutely, thank you

[2018-07-31 04:04] #10616 closed

[2018-07-31 05:16] prayshe commented on #12563
I refer to https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-integrate-ci-cd-vsts, which said we can create an VM using VSTS task.

[2018-07-31 05:30] Karishma-Tiwari-MSFT commented on #12613
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-31 05:37] msvijayn commented on #12349
#please-close

[2018-07-31 05:45] Karishma-Tiwari-MSFT commented on #12605
@guygodin To help me understand the problem better, please share - did you follow the following steps specific to .NET Framework 4.7.1?

1. REM ***** To install .NET 4.7.1 set the variable netfx to "NDP471" ***** http://go.microsoft.com/fwlink/?LinkId=852095

2. REM ***** Needed to correctly install .NET 4.6.1, otherwise you may see an out of disk space error *****
set TMP=%PathToNETFXInstall%
set

[2018-07-31 05:56] kaush76 commented on #8610
Well, the second line in the article suggests that data is encrypted.

[2018-07-31 05:57] RoopAnymous opened #12616 "How can we run R script using R server on HDInsight from Azure data factory v2?"
Is there any other option to run  R script on on demand HDInsight cluster through ADF v2?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b1f56f1-dfe7-8b1b-1dd7-d497dd0b75d3
* Version Independent ID: a8492158-8867-791a-e291-e9dc2d706206
* Content: [Compute context options for ML Services on HDInsight - Azure](https://d

[2018-07-31 06:00] aliuy commented on #12385
Both SQL and JS language integrated query return paginated results, which are resumed by passing the continuation token in the request/response options.

[2018-07-31 06:01] guygodin commented on #12605
Yes, I used the .NET 4.7.2 template that already exists on the linked docs page.

[2018-07-31 06:42] Karishma-Tiwari-MSFT commented on #12468
@grik001 Let's divide the problem into 2 parts:
1. Sending data to Event Hub through logic apps
2. Triggering Azure function by Event Hub.

Can you try the given example in this doc (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs#trigger---c-script-example) and verify:

a. if you are able to see the **Event: Test Message** in the portal and
b. Get the length o

[2018-07-31 08:11] rocifier opened #12617 "Confused about advantages and disadvantages of reentrancy"
Why might someone want to disable reentrancy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fd49353-b90d-5f19-49f1-237a50939f93
* Version Independent ID: 08bd445e-a057-126c-2685-398d0d05008f
* Content: [Reentrancy in actor-based Azure microservices](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric

[2018-07-31 08:15] petertiedemann opened #12618 "Unclear whether re-queue counts as a retry"
Reading the documentation it is very unclear to me whether a task being re-queued due to a node being pre-empted will count towards the retry count. It would be nice to clarify this.

Additionally, the linked API docs, does not really cover pre-emption as far as I can see.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-07-31 09:01] Sirish6484 opened #12620 "Dont you have the same function chaining using Python in Microsoft Azure??"
Hi Team,

I am trying to call one Function 1 output into another Function(For ex., Lets name it as Function 2) is there any live example how to do that , i think this chaining function document needs to be updated with Python code so that it can help others.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b6ce511-60d0-

[2018-07-31 09:08] nyenggyang commented on #11947
Sorry for getting back to you this late.

So, I performed the following steps 1 through 4 before running the script
(step 5):

(1.) I abortively attempted to log into my Microsoft Azure account via the
Windows PowerShell CLI (I attempted to log in at the CLI using the
*Login-AzureRMAccount* command). This login attempt was abortive because I
got the error message depicted in the attached JPEG file

[2018-07-31 09:13] SamirFarhat opened #12621 "Primary and Secondary Connections bandwidth"
Hi,
This is not mentioned here, but can you confirm if my understanding is correct:
For an Express Route of 1 Gbps, de we need :
- Primary connection 1 Gbps and Secondary connection of 1 Gbps
or
- - Primary connection 500 mbps and Secondary connection of 500 mbps

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6

[2018-07-31 09:29] Liamdelee opened #12622 "Use the Ambari REST API to synchronize users. malformed input"
At point 4 it states to use "curl -u admin:&lt;YOUR PASSWORD&gt; http://hn0-hadoop.&lt;YOUR DOMAIN&gt;.com:8080/api/v1/ldap_sync_events/1"
This however gives for me an error that it just cannot reach it. i tried to fix it so i could see if it succeeded or not and found the solution to be: "curl -u admin:&lt;YOUR PASSWORD&gt; http://&lt;YOUR CLUSTER NAME&gt;.azurehdinsight.net/api/v1/ldap_sync_even

[2018-07-31 09:38] MNaveedKhalid opened #12623 "Bulk Executor BulkUpdateAsync stopped working with error 'Variable undefined in strict mode'"
I'm using bulk executor library (BulkUpdateAsync) for some time and it worked fine. Suddenly today it started throwing an error without any changes in the code. Looks some thing changed on server side system stored procedures.
Here is error:
Operation will NOT be retried. Current attempt 0, Exception: Microsoft.Azure.Documents.BadRequestException: Message: {"Errors":["Encountered exception while e

[2018-07-31 09:40] Emcc opened #12624 "ssh connect to cluster nodes failed"
I follow the documentation with
ssh admin-name@ip -p 3389
but there is no reaction until time out.
My cluster's node is Linux, so the port 3389 will be bouneded into port 22 of instance 0
Where maybe wrong?
Thank you

[2018-07-31 10:14] rahulbagal commented on #12527
Hi @mike-urnun-msft ,

Thank you for the reply.
I am trying to make a call equivalent to
[code]

I tried setting ContentType to `application/x-www-form-urlencoded`
but now the question is how to create a body that needs Url Encoding.  Also, the body expects a JSON.
I tried following two payload formation but did not work.
1. Try 1 - Set parameters in JSON  - Did not work
<img width="654" alt="scre

[2018-07-31 11:00] agnimitra opened #12625 "How to hide/restrict actual azure URL *.portal.azure-api.net"
Hi, I use APIM and have configured custom domain also. However I am still able to see/access the default URL. Please explain us the way to hide/restrict the developer portal URL *.portal.azure-api.net.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02a5991-da24-06a2-0c24-d012d2e07399
* Version Independent ID: 64acd893

[2018-07-31 11:10] prafullkotecha commented on #10887
I was able to deploy the https://github.com/Azure/azure-iot-pcs-remote-monitoring-java locally. The dashboard comes up okay. But, I don't see any data from Document DB in the dashboard. What might I be missing?

[2018-07-31 11:35] skalinets opened #12627 "How to do it via ARM?"
Would be great to have instructions / link regarding how to manage these settings via ARM template. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ef45327-7cdf-fc60-2a04-b785bc12f4cf
* Version Independent ID: b4f8c915-9651-14df-92d7-fa1387780a41
* Content: [Enable automatic tuning for Azure SQL Database](https:

[2018-07-31 11:36] ulv1 commented on #10914
@femsulu

Any update?

[2018-07-31 11:37] Phydeauxman commented on #10699
@lleonard-msft yes

[2018-07-31 11:37] #10699 closed

[2018-07-31 11:40] lmotto commented on #8610
We know the data is encrypted. The question here is "does it mean the previous written data are encrypted by the old key and the new written data are encrypted by the new key?" The excerpt from my previous comment reads as if old and new key are both used to encrypt the Account Encryption Key and the Account Encryption Key is used to encrypt the data, which is why no re-encryption of the data take

[2018-07-31 11:42] AzureStackNerd opened #12628 "DNS Forwarding"
&lt;quote&gt;For deployment, DNS servers that Azure Stack forwards requests to are required in the Deployment Worksheet (in the DNS Forwarder field). Provide at least two servers in this field for fault tolerance. Without these values, Azure Stack deployment fails.&lt;/quote&gt;

Does this mean that forwarding / recursion is no longer needed AFTER deployment? If it's still needed I have used some

[2018-07-31 11:47] badalk opened #12629 "Support for custom VM Image as agent node"
Is there a way to deploy your own image in AKS as agents as we have some hardening requirements. If so, what all additional aspects (DSC) needs to be added on the VM for it to work as an agent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID: e3fc3851-ddc4-d2

[2018-07-31 11:50] AzureStackNerd commented on #12628
error in my sentence: "....powershell cmds to configure/harden your external DNS servers...." -->  Your = our

[2018-07-31 11:53] stevep4 opened #12631 "How can I update the terms of use?"
Hi,

The FAQs say "an administrator can change the Terms of use terms"... however when I click the "Edit terms" button on an existing policy there's no option to upload a new PDF.

How can I replace the terms of use please?

Thanks,

Steve

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618ca851-56c8-5ba1-35de-a7b8e7af8

[2018-07-31 12:08] danimir commented on #12627
Thank you on your question. At this time support for ARM template implementation is in the development backlog. Once this is available this page will be updated to provide guidance.

[2018-07-31 12:13] jimdial commented on #12441
@jeffpatton1971 Since we haven't heard back, we'll close this issue. If you saw any incorrect information though, please let us know. Thanks. #please-close

[2018-07-31 12:15] andrzejmartyna opened #12633 "non-admin access to DB"
The example shows how to set app user as an administrator of DB which imho is not so secure.
How to access DB as a non-admin?
I've tried script: CREATE USER [&lt;web-application-name&gt;] FROM EXTERNAL PROVIDER
but it says that such principal does not exist or is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-07-31 12:17] jimdial commented on #12610
@gervaisfokam Thanks for the feedback. I've fixed the link. It will publish later today.

[2018-07-31 12:37] AbhishekTripathi opened #12634 "Missing OrchestrationClientAttribute in code"
In Functions V1 it is mandatory to have the DurableOrchestrationClient input parameter to be decorated with [OrchestrationClient] else the runtime would complain that it can't inject the parameter. Code sample should be updated to reflect it correctly. Below is the error log.

[31/07/2018 11:39:53] A ScriptHost error has occurred
[31/07/2018 11:39:53] Microsoft.Azure.WebJobs.Host: Error indexing m

[2018-07-31 12:48] vithal-wadje opened #12635 "Steps to add devices in group"
This is very less details, This should extend the document beyond it, Suppose in the case of Group enrollment . document explains how to create group but it also need to be explain how to add devices into the created group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67bbed40-83cd-0728-8e5d-59ab1ac1db5a
* Version Ind

[2018-07-31 12:56] femsulu commented on #12610
@gervaisfokam  will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 12:56] #12610 closed

[2018-07-31 12:58] hughobrienjet commented on #12220
Thanks for your time here guys.

[2018-07-31 12:58] #12220 closed

[2018-07-31 13:01] femsulu commented on #12609
@yamatoya Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-31 13:03] femsulu commented on #12611
@drhilding Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-31 13:10] femsulu commented on #12601
@carterm We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 13:10] #12601 closed

[2018-07-31 13:11] femsulu commented on #12349
@manishkp We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 13:11] #12349 closed

[2018-07-31 13:11] femsulu commented on #12441
@jeffpatton1971 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 13:11] #12441 closed

[2018-07-31 13:28] vthokie93 commented on #12453
@douglasMS @jason-j-MSFT.  Thank you for the update.  I gave the ADF account read and storage account contributor.  I also tried setting the container access policy.  No luck.  A different browser didn't work either.

[2018-07-31 13:43] DaanHumble commented on #12532
@Aksiyom as PowerBI uses a local Analysis Services instance, you can connect to it from SSMS. You on which local address it is running. There are several methods you can try, I find using DAX Studio ([https://www.sqlbi.com/tools/dax-studio/](url)) the easiest. After you found the instance, you can use SSMS to connect to this instance (which is something like 'localhost:xxxxx').

There are several

[2018-07-31 14:02] Aksiyom commented on #12532
@DaanHumble Thanks a lot, much appreciated.

[2018-07-31 14:07] Edgar-NL commented on #12269
Thanks Mohit,

We have used the following URLs
https://wd#-impl-services1.workday.com/ccx/service/tenantName
https://wd#-impl-services1.workday.com/ccx/service/tenantName/Human_Resources
https://wd#-impl-services1.workday.com/ccx/service/tenantName/Human_Resources/V##.#

All resulted in a successful authentication on Workday end, but unfortunately testing the connection could not be completed as p

[2018-07-31 14:20] stevejmorgan opened #12638 "Data Warehouse Migration Utility deprecated?"
Hi
I keep finding references to a Data Warehouse Migration Utility thats a stand alone exe run from the desktop but every time I follow a download link I end up on this page.
Has the Data Warehouse Migration Utility been deprecated?
Thanks
Steve

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8713b46e-6d09-f2a6-cef7-fdf

[2018-07-31 14:31] Wheeldo74 opened #12639 "Incorrect name for Phrase List"
The article says to name the phrase list, "Jobs", which didn't work for me.

I was curious how it would work, as there are no steps to link the "Job" Entity with the "Jobs" phrase list. I assumed linking wasn't required and that it therefore the phrase list and Entity must share the same name.

Fix was to rename the "Jobs" phrase list to "Job".

---
#### Document Details

⚠ *Do not edit this secti

[2018-07-31 14:52] ProgBCSA opened #12640 "Problem Integration Unity"
Hello, thanks for this really simple using tutoriel.

But i have a problem, i want to add your mechanism to my Unity project, but i have an error with your Microsoft.CognitiveServices.Speech.csharp.bindings.dll   .
My Unity (2018.2, .Net at least 4.6.1) retrieve normaly your Microsoft.CognitiveServices.Speech.csharp.dll, and every functiun used in your code is well reconised in my editor (VS 2017)

[2018-07-31 14:57] diberry commented on #12639
@Wheeldo74 Thank you for taking the time to let us know about this. Did you start the tutorial from the import file or did you continue the tutorial from a previous tutorial's app? If you did continue, which tutorial did you start with? #in-progress

[2018-07-31 15:28] Karishma-Tiwari-MSFT commented on #12618
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-31 15:28] mimig1 commented on #12353
Just an update that we set up the sample and are letting it run for a few days to mimic your experience and test the cost and resource consumption. Will follow up again soon.

[2018-07-31 15:33] Karishma-Tiwari-MSFT commented on #12620
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-31 15:36] Karishma-Tiwari-MSFT commented on #12624
@emcc Thanks for the feedback! Can you please add the details/link of the document you are referring to.

[2018-07-31 15:37] Karishma-Tiwari-MSFT commented on #12634
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-31 15:38] Karishma-Tiwari-MSFT commented on #12629
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-31 15:39] Adam-Smith-MSFT commented on #12612
@saimanojkumarnandam Thank you for the valuable feedback,we are investigating the issue.

[2018-07-31 15:39] vhorne commented on #11729
@thuansoldier
So far, it looks like 10k application rules, and 10k network rules.
Still working on the max number of collections.

[2018-07-31 15:51] darshankumarys commented on #11987
When VM is deleted, we can still see the entry in JIT and because of that, we can't remove JIT rule in NSG rules.
we can delete VM entry in JIT only via portal. As part of automation, we are in need of PS script to delete the entry from Security Center - Just in time VM access window. can you help us with script to remove VM entry.

[2018-07-31 15:51] tommy-mor opened #12641 "Furthur explanation for repository adress"
On step 5.e in this section:
https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-python-module#create-a-new-solution

It tells you to "Replace localhost:5000 with the login server value that you copied."
The login server value that I copied,(from access keys page of azure portal) does not have the /pythonmodule part. I think it should be much clearer what that part of the url is. This messed

[2018-07-31 15:54] kobulloc-MSFT commented on #12625
@agnimitra Thank you for the question about our documentation!  We are reviewing the document in question and will get back to you shortly.

[2018-07-31 15:55] vhorne commented on #11913
@tvdvoorde
The minimum subnet size of /25 is now documented in https://docs.microsoft.com/en-us/azure/firewall/tutorial-firewall-deploy-portal

[2018-07-31 15:55] Alberto-Vega-MSFT commented on #12609
@yamatoya Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-31 16:04] Sloanstar opened #12642 "3rd Party Integration w/ Advanced Use Cases"
Not everyone uses NPS for RADIUS. Have you looked into integrating with other solution providers? Notably Cisco ISE. If I've invested in Cisco ISE (or any other solution) as my RADIUS provider, the idea of standing up special purpose NPS boxes to perform advanced Cloud MFA functions is not appealing to me. I would rather choose a different MFA vendor that supported integrating with my existing inf

[2018-07-31 16:10] Alberto-Vega-MSFT commented on #12623
@MNaveedKhalid Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-31 16:10] timwieman opened #12643 "EdgeHubConnectionString is no longer used, but doc still references it"
Under section https://docs.microsoft.com/en-us/azure/iot-edge/module-development#connecting-to-iot-edge-hub-from-a-module, it references and discusses using the EdgeHubConnectionString, but since Edge GA, this is no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c7aa1ca-7807-7b0e-6ddb-887106288aa8
*

[2018-07-31 16:10] SnehaGunda commented on #12314
@nansravn You can define unique key can be as follows:

collection_definition = { 'id': 'collectionWithUniqueKey', 'partitionKey': {'paths': ['/pk'],'kind': 'Hash'}, 'uniqueKeyPolicy': {'uniqueKeys': [{'paths': ['/user', '/agent']}]}}

We will plan to update the Python sample (https://github.com/Azure/azure-documentdb-python/) with unique key creation steps.

[2018-07-31 16:14] Alberto-Vega-MSFT commented on #12627
@skalinets We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-31 16:14] #12627 closed

[2018-07-31 16:15] femsulu commented on #12567
@antongeorgiev We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 16:15] #12567 closed

[2018-07-31 16:17] quevedin commented on #11826
It works, but when I want to create an image and automatize I get this warning:
ExportTemplateCompletedWithErrors)
La extensión de máquina virtual 'Microsoft:2EManagedIdentity-ManagedIdentityExtensionForLinux' no es compatible con la exportación de plantillas. (código: ExportVirtualMachineExtensionNotSupported; destino: Microsoft:2EManagedIdentity-ManagedIdentityExtensionForLinux)
La extensión de

[2018-07-31 16:24] scottzilla opened #12644 "Dummy Configuration Unnecessary?"
It does not appear that the configuration in Step 10 is necessary.  Configuring the dummy settings on the gateway caused the backend health for the dummy backend to come through as unhealthy, resulting in a 502 Bad Gateway for external service requests through the App Gateway.

Once we removed the dummy settings and set the default backend address pool and http settings to the *proxy backend pool*

[2018-07-31 16:25] SaurabhSharma-MSFT commented on #12581
@wouterwyns We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 16:25] #12581 closed

[2018-07-31 16:28] Mike-Ubezzi-MSFT commented on #12614
@maheshinvent Have you had a chance to review the following documentation: [Handle a direct method on a device](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-direct-methods#handle-a-direct-method-on-a-device).
Please let me know if you have any additional questions. Thank you!

[2018-07-31 16:31] lenisha opened #12645 "Missing API Management service from MSI supported services"
[Enter feedback here]
API Management is missing from the list of supported services.

CosmosDB is also possible to use with MSI - worth listing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services th

[2018-07-31 16:31] Mike-Ubezzi-MSFT commented on #12573
@RDSimmons01 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 16:31] #12573 closed

[2018-07-31 16:33] Alberto-Vega-MSFT commented on #12385
@burma-shave We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-31 16:33] #12385 closed

[2018-07-31 16:34] Mike-Ubezzi-MSFT commented on #12635
@vithal-wadje Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-31 16:36] Mike-Ubezzi-MSFT commented on #12641
@tommy-mor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-31 16:39] Mike-Ubezzi-MSFT commented on #12643
@timwieman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-31 16:41] zaxer0229 commented on #11913
Hi

Thanks for the Update,
I would like to suggest if we can reduce the subnet size, /25 is too big
and it hard to deploy to existing production VNet if it already full

Oscar.

2018-07-31 23:55 GMT+08:00 Vic <notifications@github.com>:

--
Best Regards
Oscar Chen
陳柏鍠

[2018-07-31 16:54] cjhseq commented on #10555
Any updates on this? It seems like the support/documentation for storage onboarding is fairly thin right now.

[2018-07-31 16:55] NArnott commented on #7995
I'm getting the same issue trying to deploy the Patch Orechestration app:

PS C:\Temp\PatchOrchestrationApplication_v1.2.1> ./Deploy
Upload to Image Store succeeded
Register-ServiceFabricApplicationType : One or more errors occurred. --> AggregateException: One or more errors occurred. --> FileLoadException: The process cannot access the file because it is being used by another process. (Exception

[2018-07-31 17:03] douglaslMS commented on #12582
@bigdatamoore I have fixed this in a [new PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/47842) and will let you know when the update is published. Thanks for bringing this oversight to our attention.

[2018-07-31 17:07] hegate commented on #10887
@prafullkotecha  have you checked that the ASA jobs are running correctly? Try restarting them. Thanks!

[2018-07-31 17:08] douglaslMS commented on #12587
@bigdatamoore Thank you for bringing this to our attention. You're right, the Naming Rules section should live in a single place, and in fact we have the article [Azure Data Factory - naming rules](https://docs.microsoft.com/en-us/azure/data-factory/naming-rules).

1. Before I do anything, I am investigating why the Naming Rules article is not included in the Table of Contents, and making sure it'

[2018-07-31 17:12] MarileeTurscak-MSFT commented on #12607
I believe you should be able to add the extension from the Additional Security Verification page. Can you check this thread to see if it helps? https://social.msdn.microsoft.com/Forums/en-US/62244a71-d72f-4802-aab1-5b56be4ca37a/azure-mfa-office-phone-method?forum=windowsazureactiveauthentication

[2018-07-31 17:19] Karishma-Tiwari-MSFT commented on #12617
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-31 17:25] ai2admin opened #12647 "Deploying .NET Framework containers"
Both the Tutorial and ASF Mesh project wizard cover only .NET Core. At the same time, it is said that any containers are supported.

How can I get a tutorial on deploying either a new or an existing .NET Framework container with ASF Mesh?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1772867c-92c7-f8ae-e19a-929478763d

[2018-07-31 17:29] douglaslMS commented on #12453
@vthokie93 I've sent a reminder to the colleague who was going to investigate whether this is a UX issue. Thanks for your patience.

[2018-07-31 17:29] douglaslMS commented on #12453
#in-progress

[2018-07-31 17:33] pebarrer opened #12648 "Broken headings in page around "Directory Reader" role."
I am seeing the following code displayed in the page around the description of the Directory Reader role in MS Edge :

&lt;&lt;&lt;&lt;&lt;&lt;&lt; HEAD
Can read basic directory information. For granting access to applications.
Can read basic directory information. For granting access to applications
ae91bfc09771777f3e74c0dd0f8db6bc14e1e710

---
#### Document Details

⚠ *Do not edit this section.

[2018-07-31 17:37] eross-msft commented on #12607
When using the new security info experience, it's not possible to use an extension. You can find more info here: https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-methods#office-phone.

To help others in the future, I'll be adding a link to this article in the security info sections.

[2018-07-31 17:38] Adam-Smith-MSFT commented on #12647
@ai2admin Thank you for the valuable feedback,we are investigating the issue.

[2018-07-31 17:38] douglaslMS commented on #12582
@bigdatamoore My PR has been merged, and the updated page will be live around 4:00 pm PDT today. Thanks again.

[2018-07-31 17:39] douglaslMS commented on #12582
#please-close

[2018-07-31 17:41] TravisCragg-MSFT commented on #12621
@SamirFarhat Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-31 17:41] Adam-Smith-MSFT commented on #12162
@martinffoster , This could be a possible bug in the product, I'll Assign @markgalioto to double check with the team on this matter.

[2018-07-31 17:41] BryanTrach-MSFT commented on #12633
@andrzejmartyna Thank you for the feedback. We are reviewing it and will provide you with an update shortly.

[2018-07-31 17:42] Mike-Ubezzi-MSFT commented on #11904
@MateuszMMakowski We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 17:42] #11904 closed

[2018-07-31 17:42] SaurabhSharma-MSFT commented on #12648
Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-31 17:42] MarileeTurscak-MSFT commented on #12645
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-31 17:43] jocastel-MSFT commented on #12631
We currently only support editing certain details of the TOU, like name, display name, and “requires user to expand.” Admins can also add additional languages to an existing TOU, but we currently do not support modifying an existing TOU document.

Thanks,
Joe

[2018-07-31 17:44] MicahMcKittrick-MSFT commented on #12647
@ai2admin we are working on adding additional examples however as the product is still in preview the number of examples is limited.

I would look at the Service Fabric GitHub page directly to find additional examples and request the Mesh team add more

https://github.com/MicrosoftDocs/azure-docs/tree/master/articles/service-fabric-mesh

cc @rwike77 @dkkapur @masnider

[2018-07-31 17:44] #12647 closed

[2018-07-31 17:44] Karishma-Tiwari-MSFT commented on #12046
@dtissen Any update?

[2018-07-31 17:45] Adam-Smith-MSFT commented on #12551
@toxarisswe the most recent backup that is made would be retained depending on your policy, then deleted depending on your retention period. if a backup is not made, it won't be considered to be kept. my recommendation is adding an additional time in which you are sure that your lab is up and running for the backup to happen.
We will now proceed to close this thread. If there are further questions

[2018-07-31 17:45] #12551 closed

[2018-07-31 17:45] Mike-Ubezzi-MSFT commented on #12215
@sethmanheim Can you assist with this question?

[2018-07-31 17:45] Alberto-Vega-MSFT commented on #12638
@stevejmorgan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-31 17:47] Adam-Smith-MSFT commented on #12563
@prayshe thanks for the info, I just assigned one of the engineers to investigate further

[2018-07-31 17:52] Adam-Smith-MSFT commented on #12585
@elangelo no I was referring to the documentation you were referring to when reporting this issue. If you opened the issue that is not related to Azure Documentation, I'd recommend posting the issue in either MSDN forums: https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata or in StackOverflow: http://stackoverflow.com

[2018-07-31 17:53] Adam-Smith-MSFT commented on #12593
@jogold9 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-31 17:54] Adam-Smith-MSFT commented on #12599
@KeiroKamioka0000 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-31 17:56] kobulloc-MSFT commented on #12644
@scottzilla Thank you for the feedback!  We are investigating the document in question and will get back to your shortly.

[2018-07-31 17:57] badalk opened #12650 "Append effect example in the documentation would be useful"
Can you elaborate on this with an example?
If the append effect would override a value in the original request with a different value, then it acts as a deny effect and reject the request.
Does this mean that if any field is overridden then the resource request will fail and will be rejected (i.e. the resource will not be provisioned)?

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-07-31 18:02] trinadhkotturu commented on #12599
@Adam-Smith-MSFT Can this be assigned to @saurabhsensharma ?

[2018-07-31 18:03] thuansoldier commented on #12382
@rolyon Thank you, but what does the "but not access to them" mean?

[2018-07-31 18:04] MarileeTurscak-MSFT commented on #12642
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2018-07-31 18:08] #12582 closed

[2018-07-31 18:10] Mike-Ubezzi-MSFT commented on #12256
If you navigate to Shared Access Policies, you can get the full connection string with the `SharedAccessKeyName` value.

![screenshot 127](https://user-images.githubusercontent.com/37126106/43478171-05d4aab8-94b2-11e8-9e17-b49acd29a338.png)

![screenshot 128](https://user-images.githubusercontent.com/37126106/43478184-0eb75e28-94b2-11e8-88cb-4e9ed6d0022a.png)

**Click to copy**
![screenshot 129](h

[2018-07-31 18:11] vasivara-MSFT commented on #12616
@RoopAnymous Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-31 18:12] vasivara-MSFT commented on #12622
@Liamdelee Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-31 18:15] CarlRabeler commented on #12609
@yamatoya change pending https://github.com/MicrosoftDocs/azure-docs-pr/pull/47864
Thank you

[2018-07-31 18:17] SwilliamsIOT opened #12651 "SharePoint/OneDrive for Business Invitation Roadmap"
In the first paragraph, you mention that all external sharing is basically the same thing, and that all services use the B2B invitation process - except SharePoint/OneDrive for Business.

What is the current plan regarding the SharePoint/OneDrive for Business invitation process?  Are there plans to merge the invitation process for these services with the Azure B2B process, or will there continue t

[2018-07-31 18:18] douglaslMS commented on #12587
@bigdatamoore If you lean towards the conclusion that this is not a "lack of documentation" issue, then consider returning to the page and selecting the **Product Feedback** button instead. This will get the right set of eyes on it, in a trackable way. Meanwhile I'll wait for more info.

[2018-07-31 18:19] mike-urnun-msft commented on #12384
Hi @michelleryan - We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 18:19] #12384 closed

[2018-07-31 18:25] Alberto-Vega-MSFT commented on #12609
@yamatoya We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-31 18:25] #12609 closed

[2018-07-31 18:28] djpmsft commented on #12453
@vthokie93 What is the exact behavior you are seeing? In the Storage Account Name dropdown, does the drop down stay empty or does it say 'No accounts found'?

[2018-07-31 18:28] Alberto-Vega-MSFT commented on #12557
@yamatoya We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-31 18:28] #12557 closed

[2018-07-31 18:30] MarkusVi commented on #9969
The articles have been released.
[Here](https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan) is the entry point.

#please-close

[2018-07-31 18:33] mferris2421 commented on #8050
@Mike-Ubezzi-MSFT

Seems this is still an issue. Any ETA on updated documentation?

[2018-07-31 18:36] madhuperera commented on #12607
Thank you. We got a DDI yesterday to address this. So all good now.

[2018-07-31 18:37] #12607 closed

[2018-07-31 18:38] MouthOfMadness commented on #9797
Was the beta API recently disabled?

I started receiving this error:  The remote server returned an error: (405) Method Not Allowed.

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Friday, June 8, 2018 12:54 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: James Mattern <James.Mattern@aiworldwide.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/a

[2018-07-31 18:40] SwilliamsIOT opened #12652 "Support for Viral Tenant"
When inviting external users through B2B, and inviting users who have a corporate email address, but do not currently use Azure AD or Office 365 - when they accept their invitation, a Viral Tenant is created for that domain.  This initialization process seems to work for the most part without issue.

However, problems arise for the external user eventually.  We see problems when someone within the

[2018-07-31 18:43] wmgries commented on #11743
@ramankumarlive Did this get fixed?

[2018-07-31 18:46] wmgries commented on #11389
@luywang Where are we on this?

[2018-07-31 18:46] stevep4 commented on #12631
Thanks for the quick reply Joe, much appreciated!

If it’s not too cheeky, could I ask a second question?

“currently there isn't a way to unaccept [Terms of use]” ... is it possible as an admin via PowerShell to remove the acceptance flag to force a user to accept again on next logon? That would be really useful!

Thanks,

Steve

[2018-07-31 18:47] Karishma-Tiwari-MSFT commented on #12540
@v-maroge An image of a virtual machine is a copy of the VM which encompasses the full definition of virtual machine’s storage, containing the OS disk, all data disks, data files and applications.  It captures the disk properties (such as host caching) you need in order to deploy a VM in a reusable unit.

[2018-07-31 18:52] vbadri commented on #12256
Thanks, Mike. The AMQP vs MQTT problem is still there, but I've gotten past the rest with MQTT. I'll close this.

[2018-07-31 18:53] #12256 closed

[2018-07-31 18:53] #12343 closed

[2018-07-31 18:54] atiq-cs opened #12653 "Authorization token missing"
How come you did not have to provide authorization token and your sample being demonstrated as worked?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f4d65b3-a2dc-77f4-0546-f69598241f0a
* Version Independent ID: 3d2b4c2d-4314-959b-b18d-67af8286b158
* Content: [Quickstart: Recognize speech in C# under .NET Core on Wind

[2018-07-31 18:55] jkodroff opened #12654 "object_id is no longer used"
`object_id` is no longer used by the current version of Packer:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb18731-b0b4-f92b-7ece-031a84c76d7b
* Version Independent ID: 27047a2a-a07b-cadb-fab5-ecc928b46717
* Content: [How to create Windows Azure VM Images with Packer](https://docs.microsoft.com/en-us/azure

[2018-07-31 18:59] wmgries commented on #10104
This has been addressed with the [GA of Azure File Sync](https://azure.microsoft.com/blog/score-one-for-the-it-pro-azure-file-sync-is-now-generally-available/) on 7/19 - apologies for the slow clean up of this issue. You can learn more information [here](https://support.microsoft.com/help/4341442/general-availability-release-for-azure-file-sync-agent-july-2018).

#please-close

Thanks,

Will

[2018-07-31 19:00] wmgries commented on #12216
@Adam-Smith-MSFT Could you please assign @SibonayK.

[2018-07-31 19:01] mrbobfrog commented on #12462
The issue was a mismatched `client_id` which I found in https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/kubernetes-service-principal.md under "Additional considerations":

On our Azure account I could not get the external ID to assign without the AD integration.

[2018-07-31 19:01] #12462 closed

[2018-07-31 19:04] jocastel-MSFT commented on #12631
This is not currently possible, but something we are looking to add in the near future.

Thanks,
Joe

[2018-07-31 19:06] wmgries commented on #9875
#please-close @Adam-Smith-MSFT

[2018-07-31 19:07] wmgries commented on #8746
#please-close @Adam-Smith-MSFT

[2018-07-31 19:08] MattAllison commented on #11161
Hey @georgewallace - Any update?  I don't want to push your volunteer time but it would mean a TON to me to have something that I could use.  I haven't been to successful reverse engineering it in the (extremely limited) time I've had.

[2018-07-31 19:09] wmgries commented on #11389
@Adam-Smith-MSFT I don't know what their handle is, but please assign this to Anurag Mehrotra from the Azure Backup team.

[2018-07-31 19:11] MarkusVi commented on #7928
We have created a backlog item to investigate into collecting more troubleshooting items.

#please-close

[2018-07-31 19:13] wolfma61 commented on #12653
there are 2 ways to authenticate against the service, either with subscription key or with authentication token. they are fundamental different. The sample uses subscription key.

thx
Wolfgang

[2018-07-31 19:18] PrasadJayakumar opened #12656 "Well written blog. Steps detailed are accurate and easy to follow."
I have created simple project using AngularJS (frontend) and Azure Functions (backend) because of my JavaScript background.  Hope the sample project helps.
https://github.com/PrasadJayakumar/AzureSamples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff46628-b5dc-8b02-02b6-8f510d8059b0
* Version Independent ID: 24d09b

[2018-07-31 19:19] bradziolko opened #12657 "Programatically enable customer managed keys on a storage account"
This article gives powershell examples on how to set the storage account identity and enabling soft-delete/do-not-purge, but then immediately abandons the programmatic method in favor of doing it via the portal.  The article also mentions a few times that you _can_ do it via powershell, but fails to point to any resources that detail _how_ you're able to.

This points to documentation about each o

[2018-07-31 19:28] nyenggyang commented on #11947
I forgot to attach the JPEG files I mentioned in my previous e-mail.

The JPEG files are now attached to this e-mail.

Thanks.

Nyeng.

On Tue, Jul 31, 2018 at 11:02 AM, Micah <notifications@github.com> wrote:

--
*Doctor of Computer Science (DCS),*
*Affiliate/Adjunct Faculty,*
*The Metropolitan State University of Denver,*
*Colorado,*
*USA.*

[2018-07-31 19:31] ramankumarlive commented on #11743
@wmgries Yes

[2018-07-31 19:32] atiq-cs commented on #12653
Oh right. Also, it's good to note that trying call to which API also matter. for example, there is speech identification API and there's the speech API for speech text and vice versa. Trying the one can also give us,

    $ dotnet run
    Say something...
    Recognition status: Canceled
    There was an error, reason: WebSocket Upgrade failed with an authentication error (401). Please check the s

[2018-07-31 19:33] wmgries commented on #11743
#please-close @Adam-Smith-MSFT

[2018-07-31 19:47] TravisCragg-MSFT commented on #12628
@AzureStackNerd Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-31 19:55] davidsk opened #12659 "Authenticate users with Azure App Service links to this document"
The note within the [Authentication Flow](https://docs.microsoft.com/en-gb/azure/app-service/app-service-authentication-overview#authentication-flow) section suggests reading "[Authenticate users with Azure App Service](https://docs.microsoft.com/en-gb/azure/app-service/app-service-authentication-overview)" but the link simply opens the same document

---
#### Document details

⚠ *Do not edit this

[2018-07-31 19:58] MicahMcKittrick-MSFT commented on #11947
@nyenggyang I was taking another look at the script and doc and it seems this is trying to create a cluster using the classic model. So the login prompts I provided before are not valid.

Can you actually try logging into PowerShell first using the following:

`Add-AzureAccount`

Then you will login with your Azure username and password.

Alternativly, I would also suggest you look into creating a

[2018-07-31 19:59] MarileeTurscak-MSFT commented on #12631
If this resolves your question, I will go ahead and close this thread :)

[2018-07-31 19:59] #12631 closed

[2018-07-31 20:00] MohitGargMSFT commented on #12539
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-31 20:00] #12539 closed

[2018-07-31 20:00] MohitGargMSFT commented on #12575
@Scrapper939 We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-31 20:00] #12575 closed

[2018-07-31 20:00] MohitGargMSFT commented on #12576
@martinagrom We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-31 20:00] #12576 closed

[2018-07-31 20:03] barbkess commented on #10957
@davegreen : I created a work item to work on providing the examples you are asking for.   I added the work item to our backlog.

[2018-07-31 20:06] Karishma-Tiwari-MSFT commented on #12654
@jkodroff Thanks for your feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-31 20:06] MohitGargMSFT commented on #12642
@Sloanstar Please check on this document - [Advanced scenarios with Azure Multi-Factor Authentication and third-party VPN solutions](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-nps-vpn) and let me know if this is what you are looking for.

[2018-07-31 20:06] MicahMcKittrick-MSFT commented on #12624
@Emcc if you are setting up a Linux VM the default port for SSH will be 22. So you wont be able to connect over 3389 unless you already connected to the VM and changed the port.

3389 is generally for RDP sessions on Windows machines.

Try the command using port 22 and let me know if it works. If not, please go to the network security group associated with the VM and make sure you have a rule to a

[2018-07-31 20:06] Karishma-Tiwari-MSFT commented on #12654
All the instances of object _id needs to be removed as object_id is no longer needed.

[2018-07-31 20:28] Adam-Smith-MSFT commented on #11743
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 20:28] #11743 closed

[2018-07-31 20:29] Adam-Smith-MSFT commented on #9875
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 20:29] #9875 closed

[2018-07-31 20:33] TravisCragg-MSFT commented on #12628
@AzureStackNerd If you are using ADFS to deploy stack, you might not need any forwarding / recursion, but in most cases it will be necessary.

Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-31 20:33] Adam-Smith-MSFT commented on #10104
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 20:33] #10104 closed

[2018-07-31 20:36] zchia commented on #7641
@tdobw: Could you share with me the webservice URL of your Cornerstone OnDemand tenant? What is the value of the portal name that you are using? If you can send them to aaduserprovisioning@microsoft.com, that would be great.

[2018-07-31 20:39] mike-urnun-msft commented on #11744
Hi @nils-a - Apologies for closing to soon - I misunderstood your question. I'm still a little unclear as to what you're exactly looking for with respect to scopes. Were you more interested in how scopes are utilized in EasyAuth and how it works internally?

[2018-07-31 20:40] Scrapper939 commented on #12575
What!?!  You're closing this without answering the question?

Your answer is that this is a recommendation - does that mean that the recommendation doesn't have to be clear?

Once again, is the recommendation that accounts with enhanced privileges on premises don't get sync'd to the cloud, that accounts that need admin roles in AAD should be cloud based as opposed to sync'd accounts, or both?

[2018-07-31 20:50] YutongTie-MSFT commented on #12640
@ProgBCSA
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-31 20:51] Karishma-Tiwari-MSFT commented on #12620
@Sirish6484 Currently C# (Functions v1 and v2), F# and JavaScript (Functions v2 only) are the only supported languages for Durable Functions. This includes orchestrator functions and activity functions. In the future, we will add support for all languages that Azure Functions supports. See the [Azure Functions GitHub repository issues](https://github.com/Azure/azure-functions-durable-extension/iss

[2018-07-31 20:52] vhorne commented on #11894
@frehnejc

OK, thanks, I created a new work item for our backlog.

[2018-07-31 20:52] XEASACJ1 commented on #12613
I had the same issue and had to reset the password via azure portal to successfully RDP

[2018-07-31 20:54] YutongTie-MSFT commented on #12546
@thisiszw  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@aashishb Hi, there is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-07-31 20:54] georgewallace commented on #11161
I have been on vacation. Just getting back tomorrow and hope to make progress. Apologize I have many things on my plate,  this is a high priority for me though.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: MattAllison <notifications@github.com>
Sent: Tuesday, July 31, 2018 1:11 PM
To: MicrosoftDocs/azure-docs
Cc: George Wallace; Mention
Subject: Re: [Microsof

[2018-07-31 20:56] revoice1 commented on #10873
Same issue here, trying to assign an E3 license to a group.
![image](https://user-images.githubusercontent.com/41972431/43486750-760c1c6e-94c9-11e8-9089-c749694c8f9b.png)

[2018-07-31 21:00] Camelonian opened #12660 "Disclaimer needed for 2008 R2 Server"
I'm unable to locate the path to create the GPO for 2008 R2 server and believe it may be a feature only supported in 2012 R2 or newer.  If true, could the documentation be updated to reflect that?  If it is in fact supported, could a note be added?  There are many that skipped 2012 R2 and are transitioning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-07-31 21:06] mhvis commented on #10873
What kind of subscription do you have for Azure? Below it is stated that it is available for _paid_ Azure AD licenses, while in my case we have a non-profit sponsored Azure subscription with 5000$ free credit, so we don't pay for our usage. Maybe that is the problem in my case?

Source: https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-licensing-whatis-azure-por

[2018-07-31 21:17] Adam-Smith-MSFT commented on #12657
@bradziolko Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-31 21:24] Adam-Smith-MSFT commented on #7928
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 21:24] #7928 closed

[2018-07-31 21:28] TylerMSFT commented on #12074
Ensure that you have the version of the VS tools that shipped with the public preview: https://marketplace.visualstudio.com/items?itemName=ms-azuretools.ServiceFabricMesh.
There was an issue with a prior version of the VS tools where the service wasn't always deployed which could cause the error you are seeing.

[2018-07-31 21:32] ShaneCourtrille opened #12662 "Alternative Cause/Solution for ParentResourceNotFound - Parent not in sample template"
Another time this can happen is if you have a parent resource which already exists and which you cannot include in your template (Adding an Elastic Pool to an existing SQL Server in my case -- we have a separate template we do not want to reference for the sql server).  It would be great if there could be an explanation for what to do in that situation.

---
#### Document Details

⚠ *Do not edit t

[2018-07-31 21:33] revoice1 commented on #10873
While we aren't directly paying for Azure, indirectly as bundled with the Office 365 suite offering.

[2018-07-31 21:47] Mike-Ubezzi-MSFT commented on #12292
@SnehaGunda Is there an update to be made here or did you reach out to the customer through the discussion alias? Thank you!

[2018-07-31 21:51] vthokie93 commented on #12453
@djpmsft It shows my subscriptions, but the Storage Account Name just shows Loading... and never populates.  I watched the activity with Fiddler, and I see it make the calls to get the subscriptions, but no calls to get the storage account information.

[2018-07-31 21:55] markgalioto commented on #9829
@CHDAFNI-MSFT , I have updated this article based on your excellent feedback. Thank you for pointing out these issues.

[2018-07-31 21:55] markgalioto commented on #9829
#please-close

[2018-07-31 21:56] davidmu1 commented on #11763
Unfortunately, this article leans heavily on a sample that is no longer supported, so the article is being taken down. If the contents in this article is highly requested, we can create a work item to prioritize the work of creating a new article. For now, please close the issue against this article.

#please-close

[2018-07-31 22:02] SaurabhSharma-MSFT commented on #12651
@SwilliamsIOT Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-31 22:03] alexkarcher-msft commented on #12085
All done!  Work item [is here](https://mseng.visualstudio.com/TechnicalContent/JP%20Connock%20Team/_workitems/edit/1314436)

[2018-07-31 22:03] Krueladin commented on #12509
Thanks @Powerhelmsman !

[2018-07-31 22:04] daveba commented on #12645
@lenisha Thanks for your feedback.  I have created a backlog item to update the table with support for API Management.  You can obtain a token through Azure Resource Manager to access Cosmos DB, but as of now, you can't obtain a token directly from Cosmos DB so it's not supported at this time.

[2018-07-31 22:09] djpmsft commented on #12453
Do you see any network calls along the lines of 'https://management.azure.com/subscriptions/{{your subscription Id}}/providers/Microsoft.Storage/storageAccounts'? And if so, do they have a response?

[2018-07-31 22:12] seanksullivan opened #12664 "TLS 1.2"
The last time I checked (May 2018), Application Insights Status Monitor requires TLS 1.0 to sign-in to Azure - won't work with TLS 1.2. This sign-in functionality should work with TLS 1.2 communications.  Has this been updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c8adb27-7386-3e7a-7c8f-324a5206db0d
* Versio

[2018-07-31 22:18] Karishma-Tiwari-MSFT commented on #12613
@esquilaxgt Did you try resetting the credentials from Azure Portal or using PowerShell?
You can refer to this document for achieving that through portal : https://docs.microsoft.com/en-us/azure/virtual-machines/windows/reset-rdp
Can you try resetting the password using Portal and share if that works?

[2018-07-31 22:25] SaurabhSharma-MSFT commented on #12562
@Walk4Muscle We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 22:25] #12562 closed

[2018-07-31 22:28] MicahMcKittrick-MSFT commented on #12085
Thanks @alexkarcher-msft !

I will close this out now that we have an internal work item.

[2018-07-31 22:28] #12085 closed

[2018-07-31 22:33] mikebudzynski commented on #12606
I am not sure if I got your problem right - you are not able to add a logger for Application Insights from API Management, https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-app-insights#create-a-connection-between-azure-application-insights-and-azure-api-management-service-instance ?

1. Make sure the App Insights is created in the same subscription as API Management insta

[2018-07-31 22:34] aljo-microsoft opened #12665 "fabricClusterAutoupgradeEnabled is not listed here."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-07-31 22:34] aljo-microsoft commented on #12665
Update document to include all cluster properties.

[2018-07-31 22:45] platinumhimani commented on #11186
The following snippet should be replaced: -
// Create a client.
            ITextAnalyticsClient client = new TextAnalyticsClient(new ApiKeyServiceClientCredentials())
            {
                Endpoint = "https://westus.api.cognitive.microsoft.com"
            };

<<REPLACE WITH>>

 TextAnalyticsAPI client = new TextAnalyticsAPI(new ApiKeyServiceClientCredentials())
            {

[2018-07-31 22:48] SaurabhSharma-MSFT commented on #12651
@SwilliamsIOT Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-31 22:50] platinumhimani commented on #8507
This API is no longer valid. Please replace with
` TextAnalyticsAPI client = new TextAnalyticsAPI(new ApiKeyServiceClientCredentials())
            {
                AzureRegion = AzureRegions.Westcentralus
            };`

[2018-07-31 22:51] rcooley77 opened #12666 "Please update"
The Powershell commands are no longer supported, either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd0775e7-299f-5980-f788-f94b95c54183
* Version Independent ID: 361225e7-8900-cf9e-558b-535c671ece1a
* Content: [Cloud Services and management certificates](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-

[2018-07-31 22:52] platinumhimani opened #12667 "ITextAnalyticsClient is not valid anymore"
`ITextAnalyticsClient client = new TextAnalyticsClient(new ApiKeyServiceClientCredentials())
            {
                Endpoint = "https://westus.api.cognitive.microsoft.com"
            };`

**needs to be replaced with**

` TextAnalyticsAPI client = new TextAnalyticsAPI(new ApiKeyServiceClientCredentials())
            {
                AzureRegion = AzureRegions.Westcentralus // example

[2018-07-31 22:53] ccompy commented on #8648
The set of addresses can change over time.  There are two mechanisms to check if they have.  One is to check this doc now and then.  The second is to hit the API I noted to pull down the addresses.

[2018-07-31 22:57] YutongTie-MSFT commented on #8507
@bernardjclark
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-31 22:57] #8507 closed

[2018-07-31 22:59] Adam-Smith-MSFT commented on #12665
@aljo-microsoft Is it possible to provide us with a link to the documentation you are referring to ?

[2018-07-31 23:04] Adam-Smith-MSFT commented on #12667
@platinumhimani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-31 23:07] rolyon commented on #12382
Hi @thuansoldier
I have never used this particular role, but my understanding is that the Network Contributor role allows you to manage network resources, but not actually use the network it creates. For example, the Virtual Machine Contributor role allows you to manage virtual machines, but you can't log in to the virtual machines.

[2018-07-31 23:10] aashishb commented on #12546
Adding @marthalc, who is the PM DRI this week, to help

[2018-07-31 23:13] SaurabhSharma-MSFT commented on #12660
@Camelonian  Please refer to [Tutorial: Configure hybrid Azure Active Directory joined devices manually](https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-manual-steps#remarks-1) which talks about using Group Policy for down-level windows devices.

[2018-07-31 23:14] nicholasdbrady opened #12668 "status code 'Forbidden' when trying to run the quickstart fork/scissors example"
When, I go to create the object detection project, execution hangs at line 15 / 1542:

Traceback (most recent call last):
  File "objectdetection.py", line 15, in &lt;module&gt;
    project = trainer.create_project("My Detection Project", domain_id=obj_detection_domain.id)
  File "c:\mytestenv\lib\site-packages\azure\cognitiveservices\vision\customvision\training\training_api.py", line 1542, in cr

[2018-07-31 23:16] kgremban commented on #12494
@dsajanice to verify, the image.tag.version in the module.json file should be incremented, and then does that update the deployment manifest when the solution is rebuilt?

[2018-07-31 23:22] brutelxr opened #12669 "Optimizely requirements are out of date"
Just tried enabling SSO as per this article. Raised a support request with Optimizely and they responded that they require the following:
• SSO URL
• Logout URL(optional)
• Signing certificate in a PEM format

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0f19b35-e397-d952-bb45-5dd1d037c658
* Version Independent ID: 4

[2018-07-31 23:26] Karishma-Tiwari-MSFT commented on #12666
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-31 23:28] brutelxr commented on #12669
Also....
"We expect an attribute named “email” in the SAML response. The value of this parameter should be an Optimizely recognized email that can get authenticated by your Identity Provider. If the “email” attribute is not present, this connection will not work."

[2018-07-31 23:29] mganeshphani opened #12671 "No Clarity on what are the exceptions and how are Microsoft.Resources.Resource* is categorized"
For example.. I am intending to receive an event when I attempt to shutdown a vm in my subscription... but I am not able to receive such event to my azure function.. isn't shutting down a machine write action on virtual machine resource? if not can we be more clear on the logic behind the filter of what activity log events are received and what are not received?

---
#### Document Details

⚠ *Do n

[2018-07-31 23:31] Christina-Kang commented on #12370
Thank you for the feedback, @NateRickard ! sfctl 6.0.0 will be released soon, which will be compatible with Python 3.7.

[2018-07-31 23:34] femsulu commented on #12345
@andybeak please let me know if you have any followup questions. If not, we will close this issue in 24hrs.

[2018-07-31 23:44] marthalc commented on #12546
@thisiszw this documentation doesn't have the end to end tutorial details. I would recommend looking into [Iris tutorial](https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/tutorial-classifying-iris-part-3#optional-alternative-create-a-real-time-web-service-by-using-separate-commands ).
To answer your question:
**Path to model file**: depends on where your file is stored, if

[2018-08-01 00:06] pekaynz opened #12672 "Where can i see the error codes"
Hi,
the error codes you are referring to where are they shown?
eventviewer?
thanks,
Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bb8312c-c6d2-d435-15e0-f759234e5a30
* Version Independent ID: 4df70af1-b4d6-735d-215a-011a18712529
* Content: [Troubleshoot error codes for the Azure MFA NPS extension](https://docs.

[2018-08-01 00:06] MarileeTurscak-MSFT commented on #12552
Let me know if the helped!

[2018-08-01 00:28] frankfajardo opened #12673 "Log scope is not showing on App Insights"
Using log scopes (i.e., `logger.BeginScope()`) does not appear to have any effect on the logs the go to App Insights. The logs are not including the details indicated in the scope. Instead, it only includes the string message and the arguments.

Is there guidance on using scopes with App Insights to log from an Azure Function that receives the (MEL) `ILogger`?

---
#### Document Details

⚠ *Do not

[2018-08-01 00:46] Mike-Ubezzi-MSFT commented on #12671
@mganeshphani Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-01 00:46] Karishma-Tiwari-MSFT commented on #12617
@rocifier Reentrancy allows an actor to process more than one request at a time when the requests are part of the same chain of actor calls. Actors are single-threaded meaning an actor can only process one request at a time. Without reentrancy, A -> B -> C -> A would deadlock. Actor to actor calls are perfectly fine as long as you play by the single-threaded rules.

While in the scenario, where re

[2018-08-01 00:48] mganeshphani commented on #12671
Thankyou

On Tue, Jul 31, 2018, 7:46 PM Mike Ubezzi <notifications@github.com> wrote:

[2018-08-01 00:50] Karishma-Tiwari-MSFT commented on #12673
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-01 00:51] BryanTrach-MSFT commented on #12536
@ncacace Thank you for clarifying your response. We ask because the scope of the GitHub feedback system is meant to handle issues that arise in the documentation at this time.

We would love to work further with you on this matter but we request you post your question in [MSDN Forums](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazurewebsitespreview).

Thank you for your

[2018-08-01 00:51] #12536 closed

[2018-08-01 01:00] rocifier commented on #12617
@Karishma-Tiwari-MSFT thanks for your reply. When you say they would deadlock, do you mean they would block until A finishes? If so, that would make some sense for why you might want to disable reentrancy. I believe a code example would be very helpful for this situation in the docs. As someone studying them for the first time without having written any code yet, I am not sure I understand the cod

[2018-08-01 01:35] diberry commented on #12209
@LacikIgor The [document](https://docs.microsoft.com/azure/cognitive-services/LUIS/luis-concept-prediction-score#top-scoring-intent) for prediction score now reflects this:

"Two intents, that are too closely scored, may invert due to nondeterministic training. The top score could become the second top and the second top score could become the first top score. In order to prevent this, add example

[2018-08-01 01:46] Rajeswari-Mamilla commented on #12593
@jogold9 In a process server, the inbound port is 9443 and the outbound port is 443. VMs send replication data to the process server on port HTTPS 9443 inbound. So, 9443 is the right port. You can refer to https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-architecture#replication-process for more info

[2018-08-01 01:48] BryanTrach-MSFT commented on #12656
@PrasadJayakumar Thank you for the feedback.

[2018-08-01 01:48] #12656 closed

[2018-08-01 01:55] BryanTrach-MSFT commented on #12659
@davidsk Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@mattchenderson @cephalin Can you decode this? The doc has a hyperlink that links to the same document. I tried finding a doc that might be more apporiate to link to but could not locate anything. Should the hyperlink removed?

[2018-08-01 02:00] prafullkotecha commented on #10887
@hegate - I don't even see the devices dropdown on the dashboard. How may I send a log file or a screenshot?

[2018-08-01 02:02] vthokie93 commented on #12453
@djpmsft Yes, it makes 4 calls to https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Storage/storageAccounts?api-version=2017-06-0.  The first 2 calls return 0 length, the 3rd call contains all my storage account information, the 4th call returns a 400 result with the error code=DisallowedOperation; message=The current subscription type is not permitted to perform oper

[2018-08-01 02:29] BryanTrach-MSFT commented on #12488
@JunnuW This is more a limitation of Git Bash on Windows. As a result, I would suggest reading through the below link on workarounds for this.

[https://stackoverflow.com/questions/38782928/how-to-add-man-and-zip-to-git-bash-installation-on-windows](url)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly cont

[2018-08-01 02:29] #12488 closed

[2018-08-01 02:56] OzBob opened #12675 "Hybrid Benefit Calculator - number of Eligible Machines"
There isn't a Content feedback item for https://azure.microsoft.com/en-us/pricing/hybrid-benefit/
If I choose 'F4:4' why doesn't the calculator say 2 in Eligible Machines?
Reading the first 'important' note above I assumed it should say 2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ef4a337-5ded-458c-9131-fee7a8fa9

[2018-08-01 03:25] ConradSeelye opened #12676 "mention Site Recovery"
In the list of migration methods, you should replace Virtual Machine Converter with Site Recovery.
ref:  https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/dn874008(v=ws.11)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e621254b-d284-23f4-7981-8ad3c28c8ab9
* Version Indep

[2018-08-01 03:48] SnehaGunda commented on #12292
@Mike-Ubezzi-MSFT We don't have an update yet, but this work item is in the backlog for one of our PM's. We will update the docs soon.

[2018-08-01 03:49] MarileeTurscak-MSFT commented on #12552
If this resolves your issue please let me know. Otherwise I will close this issue out. Please open a new issue or leave a comment if you need further assistance.

[2018-08-01 03:49] #12552 closed

[2018-08-01 03:53] kobulloc-MSFT commented on #12664
@seanksullivan Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-08-01 04:06] Sirish6484 commented on #12620
@Karishma-Tiwari-MSFT Thank you for your feedback i was actually looking for Function Chaining Using Python... i did lot of research how to do that before blogging it on this web page. Hope you will come up quickly with this answer

[2018-08-01 04:13] Zir01 commented on #12074
I am sure I had done that as soon as the preview became available. Anyway, I download it again and attempted to install the extension and I get this:
![image](https://user-images.githubusercontent.com/6413777/43500625-db3ea1da-9594-11e8-8043-d33767811b36.png)

As I assumed, it's already installed

[2018-08-01 04:43] sugQ commented on #11481
Exception in thread "main" java.lang.IllegalArgumentException: EventHub names must conform to the following rules to be able to use it with EventProcessorHost: Must start with a letter or number, and can contain only letters, numbers, and the dash (-) character. Every dash (-) character must be immediately preceded and followed by a letter or number; consecutive dashes are not permitted in contain

[2018-08-01 04:44] sugQ commented on #11481
String consumerGroupName = "$Default";
    	String namespaceName = "eventhubnamespace-vy2bj";
    	String eventHubName ="demoevent";
    	String sasKeyName = "all";
    	String sasKey = "";
    	String storageConnectionString = "";
    	String storageContainerName = "wasonstore";
    	String hostNamePrefix = "";

[2018-08-01 04:45] omerzubair opened #12677 "Unable to see the link "Click Transfer subscription.""
Hi Team unabel to see the step #4 Click Transfer subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65b8cd29-3c9b-6afc-d4fb-256463776002
* Version Independent ID: d905e8f9-49c6-19de-1c43-796efc04003f
* Content: [Transfer Azure subscription ownership to another account](https://docs.microsoft.com/en-us/azure/b

[2018-08-01 05:30] dcbrown16 opened #12678 "Number of elastic pools per logical server/region/subscription"
I am told through internal communication that there are limits on the number of elastic pools that can be created per logical server, per region, and per subscription. I don't see those documented anywhere - is that something that can be added to this document? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ece

[2018-08-01 05:31] SaurabhSharma-MSFT commented on #12669
@brutelxr Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-08-01 05:32] SaurabhSharma-MSFT commented on #12672
@pekaynz Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-01 05:42] wolfma61 commented on #12653
I am assuming you are talking about the Cognitive Services Speech SDK (preview), that you installed using the nuget packages as described on these web pages: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/

This API supports speech to text, speech translation and language understanding (intent) functionality.
To authenticate it supports (as mentioned above) subscription k

[2018-08-01 05:50] vsnboda opened #12679 "Issue following option 2"
Getting below error while deployment using Option 2. Kindly help me.
2018-08-01T05:47:08.0288945Z ##[error]Deployment template validation failed: 'The template parameters '_artifactsLocation, _artifactsLocationSasToken' in the parameters file are not valid; they are not present in the original template and can therefore not be provided at deployment time. The only supported parameters for this tem

[2018-08-01 05:52] randhirkc commented on #12426
Thanks @Micah , updating the PowerShell module enabled this command. Now it works fine.

________________________________
From: Micah <notifications@github.com>
Sent: Monday, July 30, 2018 10:56 AM
To: MicrosoftDocs/azure-docs
Cc: randhirkc; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Pls correct the PS command for listing Resource Providers (#12426)

@randhirkc<https://github.com/randhirkc> I

[2018-08-01 05:54] atiq-cs commented on #12653
Thanks for updating the documentation.

[2018-08-01 05:54] #12653 closed

[2018-08-01 05:54] kspoojary commented on #12552
Hi @MarileeTurscak-MSFT  Thanks for the response. I resolved this issue by setting the v2 url in function app easy auth  settings and also in the APIM  JWT validation policy. so now jwt validation is succeeded, but still i am not able to access the back end resource. getting 401 error "you do not have permission to view this directory"

[2018-08-01 06:01] guygodin commented on #12605
After a bit of fiddling, I managed to get it working. Exit code 3010 means it needs to reboot and it isn't doing so by itself so after a manual reboot of the VM, it now appears running. Unfortunately I now get the following error in the Activity Log when trying to publish an update of my project through Visual Studio:

Warning: The remote server returned an error: (409) Conflict.

And the message

[2018-08-01 06:14] MNaveedKhalid commented on #12623
Error is reproducible with azure bulk executor sample located at github here https://github.com/Azure/azure-cosmosdb-bulkexecutor-dotnet-getting-started

[2018-08-01 06:30] prayshe commented on #12563
thanks for your help. I can provide more information about the demand. For example, 20 people want to start their tests. Each test needs 10 VMs. Their requests may coming with a not long interval. Maybe 10 mins.

[2018-08-01 06:32] v-jaswel commented on #11033
@anarchitect I humbly apologize for the delayed reply. I have sent e-mail to the PMs on the Conversation Learner team to request access for you, and (I believe) included you on the mail thread.
Thank you,
Jason

[2018-08-01 06:45] v-jaswel commented on #11131
Hello @1Click1Life and @niida23,
First, I humbly apologize for the delayed reply. I sent an e-mail to the PMs on the Conversation Learner team to ask if there are any C# examples. I'll let you know as soon as I hear from them - usually they're pretty prompt.

There's a GitHub sample (https://github.com/Microsoft/ConversationLearner-Samples) but that seems to be written in TypeScript. I'll see if I

[2018-08-01 06:53] titan550 opened #12680 "AWS CLI Access When Authenticating with Azure AD"
What is the best practice to get access to AWS CLI using the Azure AD login?

[2018-08-01 06:57] omerzubair commented on #12033
Thanks, @femsulu I have raised the voice and it has been acknowledged :). Looking forward for some updates soon.

https://feedback.azure.com/forums/911473-azure-management-groups/suggestions/34919902-allow-more-rich-symbols-while-using-match-in-polic

[2018-08-01 07:01] msLinuxNinja opened #12681 "az network nic update does not require VM name"
On the command az network nic update --name and -n indicate the name of the NIC. The command does not require the VM name as it only uses the nic name and the resource group name to find the right resource to enable AN.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Indepe

[2018-08-01 07:48] lawrencegripper commented on #8354
Thanks for the clarification, probably be good to update the doc to include some information on this.

[2018-08-01 07:48] #8354 closed

[2018-08-01 07:57] lawrencegripper commented on #8354
Another quick thing to note that isn't covered by @mkosieradzki s explanation is that this also causes the removal of the unique URL suffix appended by the middleware. While a side effect is likely useful when the url suffix behavior is not wanted.  see: https://github.com/Microsoft/service-fabric-aspnetcore/blob/master/src/Microsoft.ServiceFabric.AspNetCore/WebHostBuilderServiceFabricExtension.cs

[2018-08-01 08:20] srivathsanvlb opened #12684 "Built in policies KMSI"
Hi,

Is it possible to achieve KMSI with Builtin policies. Should I definitely enable custom policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bee63035-00ee-f7fd-97a1-69dae5f808ef
* Version Independent ID: a3447928-73cc-0290-6d46-b89234757e3b
* Content: [Get started with custom policies in Azure Active Directory

[2018-08-01 08:22] srivathsanvlb opened #12685 "Built in policies KMSI"
Is it possible to achieve KMSI with Builtin policies. Should I definitely enable custom policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01bf8148-82f7-9fe6-c194-282b023540b3
* Version Independent ID: 40f430c1-06de-697e-96f3-fd3fb6291181
* Content: [Keep Me Signed In in Azure Active Directory B2C](https://docs.m

[2018-08-01 08:33] darshankumarys commented on #11987
@SaurabhSharma-MSFT can you have look at my query and confirm ?

[2018-08-01 08:45] psjrules commented on #12034
I am having similar problem. As soon as an Allow IP rules was added, nothing is able to access the API. This rules have to be removed to allow testing to continue. Any time frame when this will be fixed?

[2018-08-01 09:12] SamirFarhat opened #12686 "ILS Session Persistence and App gateway Sticky sessions"
Hi,
The ILB provides only none or session persistence : Client IP and CLientIP+port
When working with App gateway, we can enable it as a SSL endpoint. So sessions will terminate at the App Gateway level, and new sessions will be opened by App Gateway to the ILB. In this case, the LB will see the same source IP. In case of persistence (IP ), all traffic will be send to the same back-end host. If we

[2018-08-01 09:18] PatrickPan2012 opened #12687 "Security Concern for Face - Detect"
Hi, according to api document, "url" is required when I call Face - Detect so that cognitive service can get the image and detect faces. However, others can also get them. Personally, it is quite insecure. Can you provide some request headers for us to verify whether requests come from cognitive service? Or can we store the image data in request body just like speaker recognition api?

---
#### Do

[2018-08-01 09:24] spacecat opened #12688 "Http Application Routing"
"You must be sure to enable Http Application Routing when you create your AKS cluster. It is not possible to change this setting later."

This is false. You can enable it with the CLI afterwards. (az aks enable-addons ...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9ebb0f-0c9a-8887-0b86-85994f2154cb
* Version Ind

[2018-08-01 09:32] spacecat opened #12689 "A bit mysterious to me"
Hi,

I've played around with Azure  Dev Spaces, so far I'm liking it but it is still somewhat mysterious to me what's happening behind the scenes in Azure / Kubernetes (what is being provisioned) and how VSCode/VS communicate with it. It would be nice to see a more elaborate description (maybe with some illustrations as well) in the future.

---
#### Document Details

⚠ *Do not edit this section.

[2018-08-01 09:40] fhe-fr opened #12690 "Error during training step"
I get an error during the training step:
Training...

---------------------------------------------------------------------------
HttpOperationError                        Traceback (most recent call last)
&lt;ipython-input-10-7fbb621e52f5&gt; in &lt;module&gt;()
      2
      3 print ("Training...")
----&gt; 4 iteration = trainer.train_project(project.id)
      5 while (iteration.status != "Compl

[2018-08-01 09:51] femsulu commented on #12679
@vsnboda We are actively investigating and will get back to you soon.

[2018-08-01 09:52] femsulu commented on #12677
@omerzubair Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-08-01 09:54] kazshi opened #12691 "Question: (Sql)Connection object is cached and reused for future connections?"
From the description of 'Application cache' ('Shard map manager' section), I understand that ConnectionString (SqlConnection object?) is retrieved from ShardMapManager and reused for future connections - is my understanding correct? And I'd like to know if the the SqlConnection object is included in 'routing information' (in "It stores routing information that has recently been retrieved.") or not

[2018-08-01 09:56] femsulu commented on #12662
@ShaneCourtrille Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-01 09:58] femsulu commented on #12650
@badalk Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-01 09:59] mrdfuse commented on #11541
It's not clear to me if you can use the http application routing addon if you need TLS, cause for that there is another chapter in this documentation that installs the nginx controller manually. What's the difference actually between installing it manually or using this addon?

[2018-08-01 10:03] femsulu commented on #12678
@dcbrown16 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-01 10:04] nyenggyang commented on #11947
After running the *Add-AzureAccount* command at the Windows PowerShell
CLI, I got the error message depicted in the attached JPEG file. This error
informs and advises that my Azure credentials have not been set up or have
expired and that I should please run *Add-AzureAccount* to set up my Azure
credentials.

I do understand that Microsoft advises that the Resource Manager deployment
model, rather

[2018-08-01 10:05] femsulu commented on #12676
@ConradSeelye Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-08-01 10:08] femsulu commented on #12675
@OzBob Thanks for the question. We are actively investigating and will get back to you soon.

[2018-08-01 10:15] femsulu commented on #12668
@nicholasdbrady Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-08-01 10:26] guidotournois-icemobile commented on #6646
I am working from an off the shelf DSVM with ML workbench and docker pre-installed. Also I have the same errors as described above.

@deansavovic How did you switch to linux containers?

[2018-08-01 10:30] Evit15 opened #12692 "Script to list artifacts available in VM of Lab doesn't work on PowerShell"
Hi,

The sample to list list artifacts available in VM of Lab doesn't work on PowerShell
"az lab vm show --lab-name sampleLabName --name sampleVMName --resource-group sampleResourceGroup --expand "properties(\$expand=artifacts)" --query 'artifacts[].{artifactId: artifactId, status: status}'"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-08-01 10:39] mwwski opened #12693 "Azure Functions not working for WIndows Containers"
Hi I've set up the Edge using Windows Containers and then followed this guide. Everything works up to the deployment step. After that no messages are sent to hub and when I checked the logs for the CSharpFunction container on the device this is what I got:
info: Host.Startup[0]
      Reading host configuration file '/app\host.json'
info: Host.Startup[0]
      Host configuration file read:
      {

[2018-08-01 11:09] Noambi opened #12694 "Doc update - M32 VM size not support Accelerated Networking"
There are 3 M-Series VM sizes with 32 cores :
Standard_M32ts
Standard_M32ls
Standard_M32ms

none of these VM sizes are not allowing accelerated networking  setting.
Can we update the article to mention that VM size limitation?

Thanks,
Noam

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870eb

[2018-08-01 11:25] RobBarat commented on #7735
Any updates to this?
Would be nice to be able to deploy via ARM and import into an existing VSTS repository. Only workaround I have at the moment is to rename the repository, go into the data factory and then set it back up again after renaming it to the original name.

[2018-08-01 11:44] spacecat opened #12695 "Iteratively develop code in containers using VS Code and the command line."
Should say using Visual Studio 2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef8dd4f6-1bfb-9818-87c7-98a68aa48763
* Version Independent ID: 3a7b9c00-590d-8e25-5a7e-db3f3d8559e6
* Content: [Team development for Azure Dev Spaces using .NET Core and Visual Studio - Azure Dev Spaces](https://docs.microsoft.com/en-us

[2018-08-01 11:46] spacecat opened #12696 "Can I use Azure Dev Spaces with Minikube?"
Can I use Azure Dev Spaces with Minikube?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66314f08-30df-c003-d37e-d5d7f78c3779
* Version Independent ID: 0e2819dd-52d9-e095-fb13-4820e58755ba
* Content: [Azure Dev Spaces](https://docs.microsoft.com/en-us/azure/dev-spaces/azure-dev-spaces)
* Content Source: [articles/dev-s

[2018-08-01 12:07] digeler opened #12697 "fabric ca server cannot start"
default install i have some issues ,ca server is not starting :
hyperledger/fabric-ca-server-config/25eb11c1f8ad248d7194be6a7863dcb4ab693c2248d722b8a1e227f58e37d956_sk': Public key and private key do not match
2018/08/01 10:19:44 [INFO] Configuration file location: /etc/hyperledger/fabric-ca-server/fabric-ca-server-config.yaml
2018/08/01 10:19:44 [INFO] Starting server in home directory: /etc/hype

[2018-08-01 12:36] vthokie93 commented on #12453
@djpmsft Sorry, I meant does it need to be in the same resource group?

[2018-08-01 12:39] anarchitect commented on #11033
Thanks heaps Jason, looking forward to hearing from the team. I am going to
do an internal presentation about MS Conversation AI Platform on Friday.
If I can be added by tomorrow, then I can still give a quick try or just
show the audience something.

On Wed, Aug 1, 2018 at 4:32 PM, Jason Wells <notifications@github.com>
wrote:

[2018-08-01 12:51] jackting73 opened #12700 "Get consumption data API - The consumed quantity didn't match with the v1 usage report"
Following with the document: https://msdn.microsoft.com/en-us/library/azure/mt219001
SubscriptionType: PAYG
Billingcycle: 12th to 11th every month

=Issue Description=
From the v1 usage report, there are two parts: the up-side is the total consumed quantity by sub-category this month, and the down-side is the daily consumed quantity. That means by sum of the daily consumed quantity will be equals

[2018-08-01 14:20] dcs3spp commented on #11839
Hi @MicahMcKittrick-MSFT Thanks for closing. Will let you know if still have issues. Seems ok at the moment.

[2018-08-01 14:30] BasvanH opened #12701 "CSP subscriptions coming to Azure Consumption API ?"
Hello, when will CSP subscriptions be available thru the usage/consumption API's?

https://docs.microsoft.com/en-us/rest/api/consumption/

[2018-08-01 14:40] saimanojkumarnandam commented on #12612
Thanks, Looking forward for the response.

[2018-08-01 14:44] Adam-Smith-MSFT commented on #12680
@titan550 Thank you for the valuable feedback,we are investigating the issue.

[2018-08-01 14:47] Adam-Smith-MSFT commented on #12688
@spacecat Thank you for the valuable feedback,we are investigating the issue.

[2018-08-01 14:47] nathanjsweet opened #12702 "Is it possible to mount a subdirectory of a fileshare?"
Is it possible to mount a subdirectory of a fileshare?
I supposed the command would look like this:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b730fc95-951e-1acd-770d-88b3e6f2f6ef
* Version Independent ID: b6445fd2-46ea-aedd-2f2c-294faa660660
* Content: [Mount an Azure Files volume in Azure Container Instanc

[2018-08-01 14:47] Adam-Smith-MSFT commented on #12689
@spacecat Thank you for the valuable feedback,we are investigating the issue.

[2018-08-01 14:49] Adam-Smith-MSFT commented on #12692
@Evit15 Thank you for the valuable feedback,we are investigating the issue.

[2018-08-01 15:02] shizn commented on #12414
@mortslhawmit
You can use env file to store your environment variables in deployment.template.json or modules.json. In this tutorial, if you are using ACR to host your module image, the env file stores the credentials for you. Actually it's optional when you doing everything locally. But when you start to pull your code to Github or other public source control system, you will need it for preventi

[2018-08-01 15:06] shizn commented on #11450
@adashen Can we close this issue?

[2018-08-01 15:08] mestew commented on #11835
The Azure disk encryption documentation had a very large update to it last night. I highly suspect that this issue is resolved with that update. #Please-close this issue. If the new documentation does not address the concern, feel free to reopen this issue and clarify what tooling updates are needed so we can update appropriately.

[2018-08-01 15:09] shizn commented on #11445
To push an image, we need to do docker login first on the development machine.
The credentials in the env file are for the edge runtime. So that the edge runtime can pull down the image from the ACR.

[2018-08-01 15:12] jtuliani opened #12704 "CSP subscriptions?"
Please can you confirm if Management Groups are supported for CSP subscriptions? I don't see them listed in the CSP supported services list at https://docs.microsoft.com/en-us/azure/cloud-solution-provider/overview/azure-csp-available-services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5f0-9034-747c6

[2018-08-01 15:12] Mike-Ubezzi-MSFT commented on #12292
@Maggern3 The documentation update(s) are currently being planned. In the meantime, I have assigned the issue to the content author to evaluate and update as appropriate. Thanks, Mike

[2018-08-01 15:13] johtull opened #12705 "Custom policies cannot be edited with custom UI"
I attempted to implement this guide on our custom policies but continuously ran into the policy 'Edit' button being disabled. After contacting Microsoft support, they provided me with the following information:

"Custom policies cannot be edited. Only standard policies can be edited via portal
In short policies with B2C_1A_ prefix cannot be edited."

Hopefully others can find this information usef

[2018-08-01 15:15] xocolatl-aficionado opened #12706 "MSFT Graph API or AD Graph API?"
Many articles say you're transitioning to MSFT Graph and therefore users should use it whenever a scenario is supported. Is this correct? As of August 2018, what is the recommended API to be used with B2C user identification in web apps? Also,is there one place where the info regarding this is up to date? Or are users expected to browse through articles and compare dates?

---
#### Document Detail

[2018-08-01 15:24] rifaterdemsahin opened #12707 "How to SSH and run a command in Logic Apps"
How to SSH and run a command in Logic Apps
Trying to run commands on linux boxes using logic apps how can that be possible.

This connector just creates the file

https://docs.microsoft.com/en-us/azure/connectors/connectors-create-api-sftp

https://www.reddit.com/r/LogicApps/comments/93pwq2/how_to_ssh_and_run_a_command_in_logic_apps/

---
#### Document Details

⚠ *Do not edit this section. It is r

[2018-08-01 15:26] jeevansd commented on #12669
@chetansriv and @v-nagta Can you please review this doc and make the changes?

[2018-08-01 15:29] hegate commented on #10887
Hi @prafullkotecha  I would try restarting the simulation and the ASA manager microservice and see if that fixes it. If you need to send us the logs, the easiest way is to open a CSS incident through the Azure Portal. click on Help+Support, New Support Request and choose Internet of Things  Solution Accelerators. Hope this helps!

[2018-08-01 15:29] shizn commented on #11297
In order to attach process in the container running on the remote device, we need to setup docker-machine for the Edge device and make sure the docker engine on the development machine can connect to the docker-machine. We are working on updating the tutorial, makes it more clear for both local debugging and remote debugging.

[2018-08-01 15:34] Mike-Ubezzi-MSFT commented on #12691
@kazshi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-01 15:35] barclayn commented on #12152
@perktime this was addressed as part of an update to the ADE documentation. Please let us know if anything else comes up that you would like to have updated.

[2018-08-01 15:35] barclayn commented on #12152
#please-close

[2018-08-01 15:36] tumluliu commented on #12338
many thanks for you guys' work @ejarvi @SaurabhSharma-MSFT ! Please don't forget the original scenario is:
*How to mount a data disk that is created from an encrypted snapshot.*
And the current (CLI 2.0) command `az vm encryption enable` doesn't help a lot. It probably related to the sequence of commands I was using. So far, I haven't successfully attached a data disk (from an encrypted snapshot)

[2018-08-01 15:40] maltalex commented on #11955
Here's a working example in Java:

https://gist.github.com/maltalex/dcc93cd663c92c98167a6cec24865797

It uses the AsyncHttpClient: https://github.com/AsyncHttpClient/async-http-client/

[2018-08-01 15:44] mariojacobo opened #12708 "Extension not working as of last update"
It looks like some changes have been done to the SSH daemon config in the latest and we cannot connect using the AAD SSH extension as per https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad

We had to enable the following in the daemon configuration file and restart in order to login:
- ChallengeResponseAuthentication in /etc/ssh/sshd_config is set to 'yes'.

---
#### Doc

[2018-08-01 15:53] titoniubo opened #12709 "Problems to run "Execute Python Script" on Azure Machine Learning"
Hello,

I am unable to run the module '**Execute Python Script' on Azure Machine Learning Studio.** System shows an error and does not continue running the experiment.

Is there any  "**must write**" piece of code to be placed above and below my python code to make sure it is executed accordingly? Can I execute several pieces of code at a time or just one?

I tried adding a CSV mode and then execu

[2018-08-01 15:54] Mike-Ubezzi-MSFT commented on #12693
@mwwski Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-01 15:58] mariojacobo commented on #12708
For reference, this is the actual error message:

Aug  1 12:35:42 st-d-bas-vm01 sshd[45653]: pam_aad(sshd:auth): Failed to call back client. Make sure ChallengeResponseAuthentication in /etc/ssh/sshd_config is set to 'yes'.

[2018-08-01 15:59] jrichview opened #12710 "Needed: Application Insights"
Anyone who develops an Azure Function will almost always want Application Insights. This is not set up by default in the generated template, nor is it an option in the wizard to create the project.  NUGET is not always straightforward with an Azure function, so it merits adding this section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-08-01 16:04] nils-a commented on #11744
Sorry for being unclear. I was asking specifically "when" the in azure given scopes are being  used.

Let me make an example.
1. I define a function/app-service/whatever
2. I enable authentication as described by the article - here I select some scope.
3. I create an app/website/whatever to consume the function from point 1. For this (as described in https://docs.microsoft.com/en-us/azure/app-serv

[2018-08-01 16:11] jrichview commented on #11338
In my original post I think I misunderstood what I was getting when I used Visual Studio 2017 to generate an Azure function. Since v2 is still in preview, I'll have to retract my statement.  However, one thing that seems like a glaring omission is a lack of discussion of integration with Application Insights, which will almost always be needed.  Moreover, that really does warrant documentation bec

[2018-08-01 16:14] awgraf opened #12711 "Typo"
Looks like there is a typo in step 3 under Configuring Azure AD single sign-on. Cotoso.logicmonitor.com instead of Contoso.logicmonitor.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccfaa610-6133-8bc0-54b9-bc8b9a756963
* Version Independent ID: 3ed4027b-ce9a-e1c1-ae74-0bda37a1f9bc
* Content: [Tutorial: Azure Acti

[2018-08-01 16:27] methetton opened #12712 "One small quibble with io time"
The calculations used to show that performance increased by 26x by provisioning a larger storage is incorrect.

sys.user_summary_by_file_io shows the total latency and total ios. Therefore, the calculations should have divided the total latency by the total number of ios.
In this case:
15.20 sec / 23801 ios = .638 ms per io
571 ms / 1793 ios =.318 ms per io

So overall, io speed was increase by ab

[2018-08-01 16:41] MicahMcKittrick-MSFT commented on #11753
Thanks @lachie83 for helping with the additional information.

When I was testing this in my own enviornment I was seeing the same behavior as @EmilyNamugaanyi. The Association was done but it did not seem to identify the Static IP. Maybe we are missing a step or not doing it correctly. Regardless, I think this information would be good for us to document so others can follow without having to pie

[2018-08-01 16:45] shizn commented on #12494
@dsajanice I will try to reproduce this issue and get back to you. The container engine takes care about the local cache. Even it's the same version, the container engine will try compare the local and remote one. I will double check.

[2018-08-01 16:47] shizn commented on #11884
@adashen please take a look.

[2018-08-01 16:50] shizn commented on #12495
@dsajanice I assume that people want to see docker logs of the edgeAgent, right? What other data or logs people want to see on the portal?

[2018-08-01 16:51] shizn commented on #12496
We will create some example repos showing the entire filter code for each language.

[2018-08-01 16:52] MicahMcKittrick-MSFT commented on #11947
@nyenggyang Thanks for trying that. I also forgot to answer a previous question of yours. Azure PowerShell is just a module installed on your computer. So to run Azure Commands you would still just open your Windows PowerShell window. There is no difference between Azure PowerShell and Windows PowerShell per say. Just a module that is installed.

I can understand the templates you shared might be

[2018-08-01 16:53] luisnaranjo733 opened #12714 "How to deploy zip file"
Can you clarify on the "Deploy ZIP file" step? The link we are told to navigate to doesn't have a very clear UX. I still haven't figured out how to upload my zip file to https://&lt;web app name&gt;.scm.azurewebsites.net/ZipDeploy#

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b0165d7-6462-842c-76ec-1a1f344fa51a
* Ve

[2018-08-01 16:53] MicahMcKittrick-MSFT commented on #12624
@Emcc Any update on this?

[2018-08-01 16:56] MicahMcKittrick-MSFT commented on #12675
@OzBob can you share a screenshot of the other parameters you are using?

For example:

![image](https://user-images.githubusercontent.com/32313503/43536292-18094990-9571-11e8-9b62-067750af56ad.png)

[2018-08-01 16:59] Karishma-Tiwari-MSFT commented on #12710
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-01 17:01] MicahMcKittrick-MSFT commented on #12688
@spacecat thanks for this. I have assigned this to the content author to review and update the doc as needed.

[2018-08-01 17:02] MicahMcKittrick-MSFT commented on #12689
Thanks @spacecat. I have assigned this to the content author to review and see if we can add more details to the doc.

[2018-08-01 17:04] luisnaranjo733 commented on #12714
Figured it out. The target where you are supposed to drag the zip file is not obvious until you are already trying to drag. This seems like more of a problem with Kudu than the documentation.

[2018-08-01 17:04] tfitzmac commented on #12454
@mganeshphani - thanks for this feedback. Given that there is not a lot of written text in this article, and the sentence is towards the beginning of the article, we are not going to make any change to it. We have found that adding text to a block that is highlighted as a Note or Important often makes people skip that text because it is seen as an optional aside.

[2018-08-01 17:04] tfitzmac commented on #12454
#please-close

[2018-08-01 17:08] MicahMcKittrick-MSFT commented on #12702
@nathanjsweet thanks for following up. If you have any other questions just let us know.

[2018-08-01 17:09] MicahMcKittrick-MSFT commented on #12708
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-01 17:09] luisnaranjo733 opened #12715 ""You do not have permission to view this directory or page." after following MS Teams bot tutorial"
Hi,

I am following the MS Teams get started with nodejs tutorial for creating bots (https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/get-started-nodejs#build-and-run-the-sample).

Their documentation has a sample nodejs app which you can easily download and run locally. As part of their documentation, they link to this page so you can host your app on Azure for free instead of

[2018-08-01 17:11] tfitzmac commented on #12586
@vip32 - thanks for the feedback. This is a Bash script example so the $ is not used when assigning the variable.

[2018-08-01 17:11] tfitzmac commented on #12586
#please-close

[2018-08-01 17:11] spacecat opened #12716 "localhost"
"The reason for the localhost address is because Azure Dev Spaces creates a temporary SSH tunnel to the container running in AKS"

I'm actually seeing the following address: http://myapp.7575c15bfbba4159bea3.westeurope.aksapp.io/Home/About

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9ebb0f-0c9a-8887-0b86-85994f215

[2018-08-01 17:11] Mike-Ubezzi-MSFT commented on #12712
@methetton Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-01 17:14] BryanTrach-MSFT commented on #12707
@rifaterdemsahin Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-01 17:27] MicahMcKittrick-MSFT commented on #12708
@mariojacobo have you recently reset the password of this VM from the Azure Portal? There is a know problem that when resetting the password via the portal it changes the ChallengeResponseAuthentication to No. In that case you have to reinstall the AAD Login Extension to restore access or as you mentioned change the setting to yes from no. Both action will accomplish this.

[2018-08-01 17:27] BryanTrach-MSFT commented on #12714
@luisnaranjo733 We are happy to hear you were able to resolve the issue. If you wish to provide product feedback regarding KUDU, we suggest you use the [User Voice Site](https://feedback.azure.com/forums/169385-web-apps).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will r

[2018-08-01 17:27] #12714 closed

[2018-08-01 17:33] mrbullwinkle commented on #12399
@johndowns Would Azure PowerShell be sufficient for what you need? [new-azurermapplicationinsightscontinuousexport](https://docs.microsoft.com/en-us/powershell/module/azurerm.applicationinsights/new-azurermapplicationinsightscontinuousexport?view=azurermps-6.6.0)

[2018-08-01 17:37] drinkbird opened #12717 "AAD: Revoke / Invalidate access tokens"
- Product: Azure Active Directory
- Documentation link: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code
- Feedback: The document does not describe how an access token can be explicitly revoked / invalidated.

Example: A client application uses the OAuth 2.0 code grant flow to obtain an access token. Once the user is done with their work, the "l

[2018-08-01 17:41] #12586 closed

[2018-08-01 17:50] douglaslMS commented on #12587
@bigdatamoore I have added the page [Azure Data Factory - naming rules](https://docs.microsoft.com/en-us/azure/data-factory/naming-rules) back to the Data Factory table of contents, from which it was somehow missing. I have also removed the redundant Naming Rules section from the article [Compute environments supported by Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/comp

[2018-08-01 17:50] douglaslMS commented on #12587
#please-close

[2018-08-01 17:58] patrickCode opened #12718 "Caching Document URIs"
What exactly is meant by caching the Document URIs? If I am using th e following code await _client.ReadDocumentAsync(UriFactory.CreateDocumentUri(dbId, collId, key), new RequestOptions { PartitionKey = new PartitionKey(key) });
Do I need to internally cache the result from UriFactory.CreateDocumentUri(dbId, collId, key)? It would be great if someone can clarify this point.

---
#### Document Deta

[2018-08-01 18:05] #12587 closed

[2018-08-01 18:08] MohitGargMSFT commented on #12684
@srivathsanvlb Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-01 18:09] MohitGargMSFT commented on #12685
@srivathsanvlb Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-01 18:11] MohitGargMSFT commented on #12705
@johtull Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-01 18:12] MohitGargMSFT commented on #12706
@xocolatl-aficionado Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-01 18:15] MohitGargMSFT commented on #12711
@jeevansd @chetansriv I will work on fixing it and submit the PR request soon. Thanks.

[2018-08-01 18:16] tfitzmac commented on #12166
@SeanFeldman - the resource Uri you referenced is actually for a new entry in the deployment history. You'll see the operationName is "Microsoft.Resources/deployments/write"

[2018-08-01 18:16] srivathsanvlb commented on #12685
Sir, please close this issue it's a duplicate of 12684

[2018-08-01 18:16] #12685 closed

[2018-08-01 18:27] luisnaranjo733 commented on #12715
I think I forgot to share the link to what I was seeing. Here it is: https://i.imgur.com/Lpuqglz.png

[2018-08-01 18:30] aunger opened #12720 "GoLang InsecureSkipVerify"
In the Go sample code, after making the effort to load the root CA, you turn off certificate verification with the InsecureSkipVerify flag.  This defeats much of the benefit of SSL!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a94e6f-a799-494f-f2f9-171c1804e5f4
* Version Independent ID: 0ca5e2ae-5889-61ef-3ce7-5c44

[2018-08-01 18:33] tfitzmac commented on #12164
@banisadr - are you able to provide some details here about the httpRequest object in the schema for Resource events? It shows up in some ResourceWriteSuccess events but not others. For example, when I create a storage account, httpRequest is not present. But, when I add a tag to that storage account, httpRequest is present.

[2018-08-01 18:38] ejarvi commented on #12338
@tumluliu Thanks, sorry I missed that in the earlier comment.   In your scenario could you please describe a bit more about the new VM (is it Windows or Linux), is it in the same region as the old VM, old key vault, etc.   Are you following any existing documentation that is provided on how to do this outside of CLI?

[2018-08-01 18:40] ajlam commented on #12720
@aunger, thanks for the feedback. Unfortunately, I'm not as familiar with GoLang. Is the recommendation to remove `InsecureSkipVerify: true`?

[2018-08-01 18:42] guygodin commented on #12605
Switching to VS 2017 Preview Enterprise fixed the 409 error above and I'm now able to publish through Visual Studio. There's definitely a bug with the current professional version (15.7.5).

[2018-08-01 18:45] lawrence-jeff opened #12721 "GA handling is different"
This article fails to mention that GA accounts do not honor these settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18640c6c-b52c-84e3-59d8-90f2a663cc6b
* Version Independent ID: 77b249dc-4440-0334-31d7-b05d30f52657
* Content: [Azure Active Directory self-service password deep dive](https://docs.microsoft.com/en-

[2018-08-01 18:49] MicrosoftGuyJFlo commented on #12721
I cover it in the policies article in depth. https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy#administrator-reset-policy-differences

Do you think it would be helpful to cover it in this article as well maybe in a shortened note format? If so where do you think it would make most sense?

[2018-08-01 18:49] aunger commented on #12720
I'm no Go expert either, but yes, I think it's clear you shouldn't set that flag.  From the [docs](https://golang.org/pkg/crypto/tls/):

[code]

[2018-08-01 18:56] SeanFeldman commented on #12166
@tfitzmac not quite following.
My issue was seeing two distinct events with different resource URI and no way to consolidate that.
Could you please elaborate on your response?

[2018-08-01 18:58] tfitzmac commented on #12379
#please-close

[2018-08-01 19:12] Karishma-Tiwari-MSFT commented on #12468
@grik001 Any updates?

[2018-08-01 19:14] Karishma-Tiwari-MSFT commented on #12540
@v-maroge Does that answer your question?

[2018-08-01 19:16] MohitGargMSFT commented on #12711
@jeevansd @chetansriv Well as change is required in image and I do not have right to modify image file in the repository, I will move ahead and assign this issue to you for the fix.

[2018-08-01 19:17] Karishma-Tiwari-MSFT commented on #12605
@guygodin Thanks for bringing this to our attention. I will share this with the team. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-01 19:17] #12605 closed

[2018-08-01 19:18] TravisCragg-MSFT commented on #12694
@Noambi According to the document, only Ms / Mms VMs are supported for accelerated networking:

the M32ts & the M32ls are not supported sizes. Are you unable to enable accelerated networking on the M32ms size?

[2018-08-01 19:20] henriquebrisola opened #12722 "Unregister command missing simple info"
Even after running command 3 for unregistering a process server you will need to select the desired process server you want to unregister

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 070337fd-808a-0efe-3e4d-fff10e8ae5f6
* Version Independent ID: 29ed0feb-584f-65bd-6ece-eaf023e5f31e
* Content: [Manage a process server

[2018-08-01 19:26] Karishma-Tiwari-MSFT commented on #12676
@ConradSeelye Thanks for your feedback. I have assigned the issue to the content author to evaluate and update as appropriate.
@rothja Availability and support for the converter ended on June 3, 2017. Azure Site Recovery is recommended as the long-term solution.

[2018-08-01 19:29] daveba commented on #12645
The pull request for this fix has been submitted.  The update will publish later this afternoon.  #please-close

[2018-08-01 19:32] MohitGargMSFT commented on #12642
@Sloanstar We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-08-01 19:32] #12642 closed

[2018-08-01 19:33] MohitGargMSFT commented on #12680
@titan550 Request you to please provide the link of the document on which above feedback is provide so that we can assist you accordingly.

[2018-08-01 19:38] MohitGargMSFT commented on #12684
@srivathsanvlb Well that is correct. As of today Keep Me Signed In is only possible with the Custom Policies in Azure B2C.

Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you dire

[2018-08-01 19:39] christiankuhtz commented on #10682
Only Standard LB supports AZs. This is documented on https://aka.ms/lbaz as part of the Availability Zones and Load Balancer.

[2018-08-01 19:40] djpmsft commented on #12453
@vthokie93 The issue does not seem to lie with your storage account. Your 4th subscription seems to be causing an error because that specific subscripiton does not have certain permissions (which is not an issue with the subscription, but with how we are handling it). I am unable to reproduce this issue (a failed api still populates the dropdown if other calls succeeded). Let me continue to invest

[2018-08-01 19:45] MohitGargMSFT commented on #12705
@johtull Thanks for helping with that information.

Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-08-01 19:45] thuansoldier opened #12724 "Missing Role Definitions and Asignment"
I'd like to know if the following actions are missing

- Microsoft.Authorization/roleAssignments/*
- Microsoft.Authorization/roleDefinitions/*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69c4b0e0-a13e-12be-dcf8-263d81c90ab5
* Version Independent ID: f164301d-63ec-cca1-e0c9-2aae5849b97c
* Content: [Built-in roles in

[2018-08-01 19:50] jmarberg opened #12725 "Secret token"
When you retrieve the secret token with the method, it is only valid as long as the user is logged into the webex developer site.  Once you log out, the admin credentials are no longer valid.  Is there another way to make this connection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1faa450-fbbd-a75b-6be9-45c1c32386

[2018-08-01 19:51] MohitGargMSFT commented on #12706
@xocolatl-aficionado We understand your concern. Please note that below blog was posted to clarify on it by AAD Graph team. I hope this help you with needed information.

[Microsoft Graph or Azure AD Graph](https://blogs.msdn.microsoft.com/aadgraphteam/2016/07/08/microsoft-graph-or-azure-ad-graph/)

[2018-08-01 19:59] Mike-Ubezzi-MSFT commented on #12718
@patrickCode Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-01 20:03] tfitzmac commented on #12423
@romanliv - do you have the Deploy-AzureResourceGroup.ps1 file in your project? Do you have Azure PowerShell installed or are you being prompted to install it? What version of VS are you using and what version of PowerShell?

[2018-08-01 20:04] MohitGargMSFT commented on #12725
@jmarberg Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-01 20:04] LisandroSu opened #12726 "Please fix or remove outdated code"
@hf-kklein commented on [Wed Aug 01 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/120)

In May 2018 [you announced](https://github.com/Azure/app-service-announcements/issues/112) breaking changes in Azure Functions Runtime 2.0. This introduction still uses `import com.microsoft.azure.serverless.functions.annotation.*;` although this doesn't work anymore after the breaking changes.

[2018-08-01 20:04] Anmolgan81 commented on #12484
Ok i thought that team services organization is another resource in itself.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Thursday, August 2, 2018 12:52:56 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] What about Team Services Organisation Accounts? (#12484)

[2018-08-01 20:04] LisandroSu commented on #12726
Hi team,

Can you help with this issue?

Thanks!

[2018-08-01 20:09] kobulloc-MSFT commented on #12392
@frostygoth The document now points to http://editor.swagger.io/.  Thank you for the feedback!

![image](https://user-images.githubusercontent.com/37556655/43545898-fe9996ac-958b-11e8-854a-8edf73d9dadd.png)

We are going to close this thread as resolved but if there are any further questions regarding this matter, please tag me in your reply and we will be happy to continue the conversation

[2018-08-01 20:09] #12392 closed

[2018-08-01 20:15] deansavovic commented on #6646
Easy. In tray right click the docker icon and switch.

Dean Savović
gsm: +385 91 6688044
web: https://www.linkedin.com/in/dsavovic

On Wed, 1 Aug 2018 at 12:26, guidotournois-icemobile <
notifications@github.com> wrote:

[2018-08-01 20:18] xocolatl-aficionado commented on #12706
But if I may confirm, is AD Graph API is the present recommended way to deal with B2C? The blog does not give me a recommendation.

[2018-08-01 20:26] Mike-Ubezzi-MSFT commented on #12614
@maheshinvent We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-01 20:26] #12614 closed

[2018-08-01 20:28] TravisCragg-MSFT commented on #12681
@msLinuxNinja I have updated the command, and it should reflect in the document within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-01 20:28] #12681 closed

[2018-08-01 20:29] mike-urnun-msft commented on #12707
Hi @rifaterdemsahin - As of this writing, there isn't any connector for SSH operation. However, you may  use Azure Functions together with Logic Apps in order to achieve the results you're looking for. For example, you can create Azure Functions app in Nodejs and utilize [this package](https://www.npmjs.com/package/ssh2) for your SSH needs, and then, you can run your Functions app in your Logic Ap

[2018-08-01 20:29] #12707 closed

[2018-08-01 20:35] jeevansd commented on #12711
@chetansriv Can you please take it in your queue?

[2018-08-01 20:36] msLinuxNinja commented on #12681
Sounds good! Thanks! 🤘 😄

[2018-08-01 20:37] TravisCragg-MSFT commented on #12413
@phillbl We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-01 20:37] #12413 closed

[2018-08-01 20:37] TravisCragg-MSFT commented on #12324
@ddenton12 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-01 20:37] #12324 closed

[2018-08-01 20:37] TravisCragg-MSFT commented on #12437
@porrascarlos802018 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-01 20:37] #12437 closed

[2018-08-01 20:41] chetansriv commented on #12711
@jeevansd Sure Jeevan, I'll get this fixed

[2018-08-01 20:49] Mike-Ubezzi-MSFT commented on #12691
@kazshi Yes, your understanding is correct.

This documentation explains a bit about how to shard a database: [Sharding pattern](https://docs.microsoft.com/en-us/azure/architecture/patterns/sharding)

It contains an [Example](https://docs.microsoft.com/en-us/azure/architecture/patterns/sharding#example) of how to query the shard map for the existing connection object.

This tutorial walks you thro

[2018-08-01 20:56] chensquared opened #12727 "setting network to "nat" does not work"
The instructions for configuring config.yaml does not work for me (Windows 10 running Linux docker containers).

Instead this needs to be set to "azure-iot-edge", as per instructions in the How-To guide https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows-with-linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-08-01 20:59] mike-urnun-msft commented on #12571
Hi @philippschaefer4 - Please see answers below:

1. It's really up to you and whichever method makes more sense to your unique setup and workflow. The key factor (IMHO) to be mindful of is whether or not if your application is on microservices architecture where the use of containers make a lot more sense. If you'd rather keep things simple and don't really need the features of containers spun up

[2018-08-01 21:04] MicrosoftGuyJFlo commented on #12721
![image](https://user-images.githubusercontent.com/25777989/43548847-d815d628-9593-11e8-85ca-5e5485415ecc.png)
How does that look?

[2018-08-01 21:08] tumluliu commented on #12338
Thanks for following,  @ejarvi . My scenario is not complicated, roughly contains such steps:

1. create VM1 (ubuntu server 16.04LTS) and enable encryption only for it's datadisk (datadisk1) --> this can be done successfully with no issue although the procedure is really slow (around 3 hours for an empty 256GB ext4 SSD). The key for encryption and keyvault is in the same resource group as VM1.
2.

[2018-08-01 21:13] tfitzmac commented on #12166
Depending on what you are trying to do, I think you could ignore the events that are related to writing to the deployment history.

[2018-08-01 21:17] KumudD commented on #12574
#in-progress

[2018-08-01 21:18] kgremban commented on #12727
@chensquared You're correct. I'll update that step in the quickstart.

[2018-08-01 21:29] MohitGargMSFT commented on #12725
@jmarberg I have assigned the issue to the content author to investigate and update as appropriate.

[2018-08-01 21:31] Adam-Smith-MSFT commented on #12696
@spacecat Thank you for the valuable feedback,we are investigating the issue.

[2018-08-01 21:32] Adam-Smith-MSFT commented on #12697
@digeler Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-01 21:34] Adam-Smith-MSFT commented on #12700
@jackting73 could you provide us with the  documentation link you were referring to ?

[2018-08-01 21:37] #12721 closed

[2018-08-01 21:39] Adam-Smith-MSFT commented on #12701
@BasvanH Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-01 21:40] Mike-Ubezzi-MSFT commented on #12727
@chensquared Thanks for the feedback. We are actively making an update.

[2018-08-01 21:41] Adam-Smith-MSFT commented on #12717
@drinkbird Thank you for the valuable feedback,we are investigating the issue.

[2018-08-01 21:42] Adam-Smith-MSFT commented on #12709
@titoniubo Thank you for the valuable feedback,we are investigating the issue.

[2018-08-01 21:44] cander opened #12728 "Content type header is inaccurate"
The sample request to create a user includes:
[code]

However, the content type header that comes in with the request is actually:
[code]
The difference between "json" and "scim+json" was causing my Ruby on Rails app to not see any of the parameters being passed into the create/POST request.  I assume update/PATCH request content type is also "scim+json" instead of "json", as shown in the document

[2018-08-01 21:47] MicahMcKittrick-MSFT commented on #12695
@ghogen can you take a look? It appears we use the same file on the Well Done sections throughout the doc. So if I change one it will change multiple areas. Thus, I will let you take a look to see how we want to fix it.

[2018-08-01 21:53] Mike-Ubezzi-MSFT commented on #12718
@patrickCode I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-01 21:57] MicahMcKittrick-MSFT commented on #12716
@spacecat not sure I fully understand what you are looking to see changed in the doc. Can you elaborate?

[2018-08-01 22:00] MicahMcKittrick-MSFT commented on #12726
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-08-01 22:03] #6412 closed

[2018-08-01 22:05] MicahMcKittrick-MSFT commented on #8742
CC @daveirwin1

[2018-08-01 22:05] Mike-Ubezzi-MSFT commented on #12690
@fhe-fr Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-01 22:06] Adam-Smith-MSFT commented on #12722
@henriquebrisola Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-01 22:06] Mike-Ubezzi-MSFT commented on #12687
@PatrickPan2012 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-01 22:08] Adam-Smith-MSFT commented on #12724
@thuansoldier Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-01 22:09] kylebarker715 opened #12729 "Remote Debugging WebJob Section"
I've followed the 'Get Started with Azure WebJobs SDK'  article and I don't see anywhere the first segment of code that is shown in the section following the directions below:

1. Open the web project that you created in Get Started with the Azure WebJobs SDK.
2. In the ContosoAdsWebJob project, open Functions.cs.
3. Set a breakpoint on the first statement in the GnerateThumbnail method.

[Photo o

[2018-08-01 22:10] Adam-Smith-MSFT commented on #12704
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-01 22:12] PatAltimore commented on #12697
@digeler For support questions, please use the forum at https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureblockchain.  I see you posted a question there.  That's the best place to ask your question.

#please-close

[2018-08-01 22:16] #12720 closed

[2018-08-01 22:25] esquilaxgt commented on #12613
Thanks for your response. I'll check tonight.

On Aug 1, 2018 5:20 PM, Karishma Tiwari - MSFT <notifications@github.com> wrote:

@esquilaxgt<https://github.com/esquilaxgt> Is there any update on this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/azure-docs/issues/12613#issuecomment-409743905>, or mute the thr

[2018-08-01 22:26] Karishma-Tiwari-MSFT commented on #12617
@rocifier Thanks for your feedback about adding code sample for other scenario.
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-08-01 22:29] Karishma-Tiwari-MSFT commented on #12620
@Sirish6484 Currently, durable functions do not have support for Python language. As stated above, C# (Functions v1 and v2), F# and JavaScript (Functions v2 only) are the only supported languages for Durable Functions.

[2018-08-01 22:32] BarnyardTech opened #12730 "Configure Database"
Step 2 in the Configure the Azure Functions Runtime has me at a full stop.  On the form it asks for a 'Master key password' but in the narrative it says 'specifying a Database master key' with a hyperlink to a document that hasn't helped me much either.  I have installed SQL Server Express 2017 on my own box and now I want to configure the Azure Functions Runtime to use it.  I don't know what to p

[2018-08-01 22:33] tfitzmac commented on #12662
@ShaneCourtrille - thanks for this question. If you deploy the child resource to the same resource group as the parent resource, and include the parent name as a segment in the child name, it deploys successfully. I have updated this article with more information about that scenario. It should go live tomorrow morning.

[2018-08-01 22:38] MohitGargMSFT commented on #12728
@cander Thanks for your feedback! We will investigate and update as appropriate.

[2018-08-01 22:43] MarkusVi commented on #12588
Hi @clydetaylor, thanks for bringing this up.
I have staged an update.

#please-close

[2018-08-01 22:45] MohitGargMSFT commented on #12728
@cander Thanks for reporting. I will work to fix it in document.

[2018-08-01 22:49] #12588 closed

[2018-08-01 22:50] SaurabhSharma-MSFT commented on #12672
@pekaynz You need to examine the NPS and AzureMfa Event logs -
For NPS logs look into Event Viewer under Custom Views \ Server Roles \ Network Policy and Access Services on the server where the NPS Extension is installed.
![image](https://user-images.githubusercontent.com/38112130/43553135-61916530-95a2-11e8-8fb6-da15c9175588.png)

AzureMFA event logs are located under Applications and Services Lo

[2018-08-01 22:52] DaveB93 commented on #12379
oops. that's for me to do. sorry, I'm new at this.

[2018-08-01 22:52] #12379 closed

[2018-08-01 22:54] SaurabhSharma-MSFT commented on #12652
@SwilliamsIOT If I understand your problem correctly it seems related to an ongoing MSDN thread https://social.msdn.microsoft.com/Forums/azure/en-US/c54844ce-1415-4895-af15-6a5b768131d2/azure-b2b-guest-users-not-getting-password-reset-email-and-way-to-figure-viral-vs-managed-azure-ad?forum=WindowsAzureAD.  Please refer to the same to get latest updates.

[2018-08-01 22:57] Karishma-Tiwari-MSFT commented on #12602
@Dc9894 Can you share the OS profile for your VM. It looks something like this:
OSProfile                : {
                         "AdminPassword": null,
                         "AdminUsername": "***********",
                         "ComputerName": "************",
                         "CustomData": null,
                         "LinuxConfiguration": null,
                         "Secre

[2018-08-01 23:00] #12662 closed

[2018-08-01 23:02] #12728 closed

[2018-08-01 23:09] spacecat commented on #12716
I  was expecting to see http://localhost in the address bar in chrome as per the docs but when I run the app and the browser is fired up, the url / address is http://myapp.7575c15bfbba4159bea3.westeurope.aksapp.io/Home/About (not http://localhost)

[2018-08-01 23:10] BryanTrach-MSFT commented on #12715
@luisnaranjo733 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-01 23:10] kgremban commented on #12727
@chensquared the article has been fixed. Please review and close this issue if you agree that it's resolved.

[2018-08-01 23:17] RobBarat opened #12732 "Whitespace after parameter prevents publish"
Hi.
I have experienced an issue when a whitespace is accidentally placed in a concat function.
The Pipeline json attached can be used to reproduce the issue.
[TriggerAndParameter.txt](https://github.com/MicrosoftDocs/azure-docs/files/2251421/TriggerAndParameter.txt)

When running through debug, the output of the If activity is as expected (true for August 2018) and there are no errors.
When I try

[2018-08-01 23:26] v-maroge commented on #12540
@Karishma-Tiwari-MSFT The applications that are also contained in the image, will the they also be generalized (I'm imagining something like initialization), or will the data(or settings) in the application also be saved at the point the image was created?

[2018-08-01 23:27] SeanFeldman commented on #12166
So I'd need to know how to differentiate normal events from deployment history events. In that case, documentation should help with understaning how it works. This very issue with my question shows that it's not clear from reading the article 🙂

[2018-08-01 23:32] SnehaGunda commented on #12718
@patrickCode "Cache document URIs whenever possible for the best read performance" means you have to define logic to cache the resourceid when you create the resource. Resourceid based lookups are faster than name based lookups, but they aren't too different in terms of latency.

[2018-08-01 23:35] antogh commented on #12074
Same problem mentioned by @Zir01

WinHttpException: The server name or address could not be resolved
checking with debugger the URL seems correct as from values defined in the yaml
 file ,

backendUrl = {http://todoservice:20001/api/todo}
the problem is that the service name "todoservice" in the URL cannot be resolved
can someone help?
Thanks

[2018-08-01 23:35] BryanTrach-MSFT commented on #12729
@kylebarker715 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-08-01 23:36] MicahMcKittrick-MSFT commented on #12716
@spacecat got it!

@Karishma-Tiwari-MSFT can you look into this one more?

[2018-08-01 23:40] antogh commented on #12074
adding further info to the previous message (no way to edit?)

I am using a 5 nodes local dev cluster and the frontend / backend are on different nodes . Could be this the reason?

[2018-08-01 23:46] SnehaGunda commented on #12561
@PhilStollery all the supported features are documented under: https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-support#gremlin-features so any other datatypes or keywords which are not documented in the table are not supported yet.

[2018-08-02 00:05] nfadili opened #12740 "AKS documentation claims to be HIPAA compliant"
The documentation on AKS claims that it is ISO/HIPAA/HITRUST compliant, but this contradicts the official compliance document found [here](https://gallery.technet.microsoft.com/Overview-of-Azure-c1be3942)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed330edc-c3ab-d053-faad-4dc5da373b48
* Version Independent ID: 625ab

[2018-08-02 00:11] MarkusVi commented on #8598
I have included links to the troubleshooting articles to the article.

#please-close

[2018-08-02 00:15] kgremban commented on #12643
@chipalost Can you take a look and advise on what this article should say about connecting modules to Edge hub?

[2018-08-02 00:15] Karishma-Tiwari-MSFT commented on #12618
@petertiedemann
Retrying a task means that the task is re-queued to be run again.
If tasks are interrupted when the node on which it is running is preempted, then the tasks are automatically re-queued to be re-run. Batch can detect and then retry failed tasks. You can specify the maximum number of task retries as a constraint, including whether a task is always or never retried.

Job preparation a

[2018-08-02 00:25] #12712 closed

[2018-08-02 00:26] jason-j-MSFT commented on #12532
@Aksiyom to confirm, you created your project at the 1400 level and now you are getting the provided error?

[2018-08-02 00:27] jason-j-MSFT commented on #12565
@sarathlalsaseendran we are closing this issue for now, please feel free to add additional comments as needed.

[2018-08-02 00:27] #12565 closed

[2018-08-02 00:37] porrascarlos802018 opened #12741 "how to stop a running command."
documentation doesnt state how to stop a running command, or how to reset its status.

rebooting the os didnt work
stop, start the vm in azure doesnt work.
how to reset? i have a customer with run command failing on him because vm is not recognizing the commands sent like ipconfig, environment variables might be missing how to recover

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-08-02 01:07] femsulu commented on #12732
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 01:07] #12732 closed

[2018-08-02 01:10] femsulu commented on #12730
@BarnyardTech Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-08-02 01:16] DMoonesinghe opened #12742 "What is ROBO?"
https://docs.microsoft.com/en-us/azure/storsimple/storsimple-ova-overview
This article uses the word ROBO without explaining what it means. You might want to expand that. That is not a very common acronym. I had to look it up.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41071bd2-1ff5-ec3b-c497-

[2018-08-02 01:29] SwilliamsIOT commented on #12652
Thank you very much for looking into this, however the problem that Dhaval is describing is actually a different problem.  I know this specifically because Dhaval is one of my customers and I have already discussed the problem in the linked thread with him.  He could speak to the issue I am describing as well because he has had many users with the experience I am describing recently.

In the scena

[2018-08-02 01:35] Karishma-Tiwari-MSFT commented on #12629
@neilpeterson Can you please share your insights on whether this is achievable.

[2018-08-02 01:35] Mike-Ubezzi-MSFT commented on #12671
@mganeshphani I apologize for the delay. I am going to assign this to the content author to evaluate and update as appropriate. Thank you, Mike

[2018-08-02 01:40] paulkel opened #12743 "Please clarify ExpressRoute charging for traffic between two connected VNets"
The ExpressRoute FAQ at https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/expressroute/expressroute-faqs.md and the ExpressRoute pricing page at https://azure.microsoft.com/en-us/pricing/details/expressroute/ do not address the following scenario.

If a customer has connected a single ExpressRoute circuit to multiple VNets within the same geo (eg. Australia), and a Metered Data plan

[2018-08-02 01:42] hellosnow commented on #12701
@Adam-Smith-MSFT hey I'm the feature PM to drive for the REST API features, this issue is expected to assign to consumption service owner?

[2018-08-02 01:56] curtand commented on #12648
Hi @SaurabhSharma-MSFT @pebarrer
The PM has been updating the file near the same as I did, and looks like one of us had a merge conflict. I will fix.

[2018-08-02 02:11] ggailey777 commented on #12543
@MisinformedDNA and @Karishma-Tiwari-MSFT unfortunately, this is not a simple issue to address. The code in that example is actually correct and from the [C# HTTP template for the Azure Functions v1 runtime](https://github.com/Azure/azure-functions-templates/blob/v1.x/Functions.Templates/Templates/HttpTrigger-CSharp/HttpTriggerCSharp.cs). Unfortunately, there have been changes to [the template](ht

[2018-08-02 02:20] VexedSyd opened #12744 "Azure AD Connect v1.1.880.0 download page is still download the previous version"
The Microsoft download page (download ID: 47594) is showing the latest version (1.1.880.0) but the downloaded MSI file version is still 1.1.819.0 and it was created on 03/05/2018.
I have went through the whole installation process and configuration,  to get the 100% CPU usage problem again.
The installed files are also referring to the older version as well.
Please make sure the latest version is

[2018-08-02 02:27] ggailey777 commented on #12153
@jrudley I'm checking with the product team to see if we need to update this. Thanks!

[2018-08-02 02:31] ggailey777 commented on #11338
@jrichview you are correct that we don't mention App Insights in the VS topics, although it is now enabled by default when you create a function app in the portal. I will investigate this gap. Thanks for pointing it out!

[2018-08-02 02:37] georgewallace commented on #12741
@porrascarlos802018 As described in the documentation under the **Restrictions** section, at this time you can not cancel a running script, but it will time out after 90 minutes, resetting the state of a VM will not change that. After that time, or a successful run, you can run an additional command.

[2018-08-02 02:37] JasonWHowell commented on #12616
@RoopAnymous I don't see a simple way, since there isn't a HDInsight "R" activity in ADF v2 yet.

1. There's a code sample of how to invoke the R script from a custom app through a Map Reduce job here:
https://github.com/Azure-Samples/data-factory-r-server-apache-spark-pipeline

2. ADF's custom activity could be used to run the R script within Azure Batch compute resources:
[https://docs.microsoft

[2018-08-02 02:38] srivathsanvlb commented on #12684
https://feedback.azure.com/forums/34192--general-feedback/suggestions/35001619-azure-ad-b2c-kmsi-as-built-in-policy

Done. Thanks for the quick turn around, appreciate it.

[2018-08-02 02:49] femsulu commented on #12740
@nfadili Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-02 02:59] zxsaunderszcs opened #12745 "Phone Xbox360"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-08-02 03:00] In-FinIT opened #12746 "Register proxy failing with certificate error"
Running the Register-AzureADPasswordProtectionProxy cmdlet returned no errors, but my Agents were reporting no registered proxy service found.

Enabling the Trace log and re-running Register-AzureADPasswordProtectionProxy returns the following error:

ProxyCertificatesPopulator: Microsoft.DeviceRegistration.JOSE.JoseException: The certificate validator indicated that the signingCertificate is not

[2018-08-02 03:00] PeteKenny commented on #8879
Same

[2018-08-02 03:07] georgewallace commented on #12092
@tsrob50 These changes are already live. #please-close

[2018-08-02 03:24] kazshi commented on #12691
Thank you very much for the conformation and the information.

[2018-08-02 03:24] #12691 closed

[2018-08-02 03:45] johndowns opened #12748 "ARM template support"
Is it possible to set the retry policy or dead-letter location through ARM templates?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ad5c953-fa75-9944-5539-111bfc52e892
* Version Independent ID: 00d37a17-4f7d-779e-8243-786c1d4dba7d
* Content: [Manage delivery settings for Azure Event Grid subscriptions](https://docs.m

[2018-08-02 03:46] johndowns commented on #12399
Not really. I'm aware of the PowerShell cmdlet already, but this isn't the same thing as ARM template support.

I use ARM templates to declare the desired state of my resource group. Every time I have to augment ARM templates with PowerShell commands, it gets much harder to deploy and test my deployment pipeline.

[2018-08-02 04:05] RobBarat commented on #12732
Thank you. I closed this as I thought it was linked to the Azure Data Factory document, but I believe it to be a functionality issue and not a documentation issue.
Cheers.

[2018-08-02 04:14] Rajeswari-Mamilla commented on #12593
#please-close

[2018-08-02 04:26] femsulu commented on #12743
@paulkel Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-02 04:32] petertiedemann commented on #12618
@Karishma-Tiwari-MSFT Thank you for the reply, but i am not sure it really answers my question. I am aware of the concept of retry count and constraints, what i am asking is to clarify how they apply in case of pre-emption.

Consider these 3 failure scenarios:
A. The node running the task is pre-empted
B. The node running the task goes down (for example hardware failure)
C. The task executable ret

[2018-08-02 04:39] femsulu commented on #12742
@DMoonesinghe Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-08-02 04:41] #12645 closed

[2018-08-02 04:44] femsulu commented on #12744
@VexedSyd Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-08-02 04:48] femsulu commented on #12741
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 04:48] #12741 closed

[2018-08-02 04:49] markgalioto commented on #9931
@nigelainscoe , Thank you for catching that mistake. I've updated the article, and it will refresh soon.

[2018-08-02 04:50] markgalioto commented on #9931
#please-close

[2018-08-02 05:15] olljanat commented on #7223
@Jon007 Application Insights is SaaS service which is running on Azure but you can forward logs to it from on-prem environment too (like we do).

On user voice someone asked about running Application Insights on Azure Stack but that one was closed: https://feedback.azure.com/forums/357324-application-insights/suggestions/11683746-bring-application-insights-to-azure-stack

Then what comes to Docker

[2018-08-02 05:15] kazshi opened #12749 "Memory: Gen5: 5.5 GB per core, or 5.1 GB?"
On the portal, 'up to 80 vCores' and 'up to 408 GB memory' for Gen5- so it should be 5.1 GB per core?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b154f4ad-6372-ac17-3084-1ff016073568
* Version Independent ID: 8c4a54f3-8db5-7839-3008-724beecc3888
* Content: [Azure SQL Database service - vCore](https://docs.microsoft.

[2018-08-02 05:15] femsulu commented on #12345
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-08-02 05:15] #12345 closed

[2018-08-02 05:34] titoniubo commented on #12709
Hello,

Thanks for your answer.

Allow me to send you a screenshot, showing a code that runs well on Jupyter but returns an error when running 'Execute Python Script' module on Azure Machine Learning Studio.

![capture](https://user-images.githubusercontent.com/40325322/43564288-62df68cc-9626-11e8-8fde-37f996e8d63c.JPG)

I would appreciate if you could have a look and let me know what your thought

[2018-08-02 05:41] lohithgn commented on #12274
absolutely. i should have done it before. will close. thanks.

[2018-08-02 05:42] #12274 closed

[2018-08-02 05:52] romanliv commented on #12423
Yes, Deploy-AzureResourceGroup.ps1 is in the project and has "Content" Build Action.
Azure PowerShell is installed.
I use Visual Studio Professional 2017 version 15.7.5.

I do not have this issue in 100% of cases, but sometimes (not always) this occurs when I add Azure Resource Group project to existing solution where other project(s) exist. Other project(s) are of WPF App (.NET Framework) type.

[2018-08-02 06:10] JasonWHowell commented on #12612
Hi @saimanojkumarnandam

I tried creating an HDInsight cluster from the Azure portal, picking Hadoop on Linux (HDI 3.6) and it works for me today in East US 2.

The portal interface has a drop down - **Install Hue**, so I didn't have to provide the script file details, but I see the script is `https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh`

![image]

[2018-08-02 06:11] Aksiyom commented on #12532
@jason-j-MSFT I did not create a project, I have used latest (july) Power BI Desktop and tried to import that pbix file in Azure AS, then got that error message regardig compatibility.

[2018-08-02 06:30] jackting73 commented on #12700
Hi @Adam-Smith-MSFT

Following with the [Get consumption data](https://msdn.microsoft.com/en-us/library/azure/mt219001)

[2018-08-02 06:34] SamirFarhat commented on #12621
Hi,
I'm not talking about the Express Route circuit, but about the Connections bandwith. We need to ask our network provider for them, so their question was : do you want 2*500 or 2*1Gbps?

[2018-08-02 06:45] dcbrown16 commented on #7269
@barbkess I'm not particularly inconvenienced at the moment, but I did say I'd keep an eye on it, and I don't see updated screenshots for this site yet so just thought I'd check in. Still in progress I assume?

[2018-08-02 06:49] TravisCragg-MSFT commented on #10682
@Lagrik We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-08-02 06:49] #10682 closed

[2018-08-02 06:51] nabhishek commented on #12526
@hiteshtulsani We currently do not support 'spark_env_vars' using which you would be able to specify '/databricks/python3/bin/python3' while using a job cluster (create new cluster option in ADF). This should be made available around Sep 2018.

For now, please use an Interactive cluster (existing cluster in ADF) with Python3 environment enabled. Even if the interactive cluster is turned off, the n

[2018-08-02 06:57] digeler commented on #12697
i did got no answer :
https://social.msdn.microsoft.com/Forums/en-US/3264aac1-31e5-44ce-89ba-507f1718b831/issues-with-hyperledger-fabric-consortium-ca-is-not-coming-up?forum=azureblockchain#3264aac1-31e5-44ce-89ba-507f1718b831

am from ms to ping me on skype when you have some time digeler

[2018-08-02 07:14] mariojacobo commented on #12708
That is correct, I reset the password from the portal right before we saw this issue. Is this going to be fixed, or should we just avoid changing the password from the portal ?

[2018-08-02 07:28] Karishma-Tiwari-MSFT commented on #12529
@kaa4ever Were you able to successfully create an ssh connection with master by following these steps [here](https://docs.microsoft.com/en-us/azure/container-service/dcos-swarm/container-service-dcos-fileshare#mount-the-share-in-your-cluster):

1. scp ~/.ssh/id_rsa azureuser@$FQDN:~/.ssh
2. ssh azureuser@$FQDN

[2018-08-02 07:29] kaa4ever commented on #12529
Yep no problem.

[2018-08-02 07:30] fhe-fr commented on #12690
The problem was resolved. We should have at least 5 images in each category.

[2018-08-02 07:30] #12690 closed

[2018-08-02 07:38] rawi-saas commented on #12704
From my quick test, I see that Management Groups are supported in CSP subscriptions.

I do, however, think that they're not as useful when it comes to the CSP model. If you, like me, have a number of CSP subscriptions from different customers to manage, you'll find that the AzureAD tenant is the Management Group boundary (makes sense come to think of it ;) ).
In the CSP model, each of the customer

[2018-08-02 07:47] kspoojary opened #12750 "Access token is missing"
When I run this sample application.  Web app works fine but when I tried to call the web api access token is null

 // GET: Makes a call to the API and retrieves the list of tasks
        public async Task&lt;ActionResult&gt; Index()
        {
            try
            {
                // Retrieve the token with the specified scopes
                var scope = new string[] { Startup.ReadTasksSc

[2018-08-02 07:55] mortslhawmit commented on #12414
Yes I did understand the use of the .env file, what I was confused about was where I needed to put it and what I needed to put in it for it to work. Because now I had to create a new module (that I'm not gonna use) with the vs code tool for the tool to automatically created a .env for me so I could see how the file looked.

So basically what I wanted was a short explanation under "Create a new sol

[2018-08-02 08:04] PatrickPan2012 commented on #12687
Thx so much.

[2018-08-02 08:04] #12687 closed

[2018-08-02 08:15] Sirish6484 commented on #12620
Thanks for the response. But i have succeeded in chaining functions using python in Azure Portal. i will post the code once i am free from my current engagement.

[2018-08-02 08:15] #12620 closed

[2018-08-02 08:22] Aleksanderis opened #12751 "Migrate Virtual Machine Scale Set OS disk"
Is it possible to migrate unmanaged OS disk to managed for existing VM Scale Sets?

I see by default new Service Fabric clusters are created with VM Scale Sets which are using managed disks. There is also a warning for existing clusters "This scale set uses unmanaged disks. We recommend that all new scale sets be deployed with managed disks". However it doesn't say how to do it for existing VM Set

[2018-08-02 08:42] elangelo commented on #12585
I was under the impression that i could log failing stuff here as well.

[2018-08-02 08:57] nebur634 opened #12752 "Public preview"
Article states that 'This Workday user provisioning solution is presently in public preview'. Is that still the case, since it has been available for quite some time now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 799c371a-a17e-08aa-ef56-86eef2395f7e
* Version Independent ID: 1339cc93-712c-3a32-8321-dfd016a50ed4
*

[2018-08-02 08:58] mrdfuse opened #12753 "Is it possible to enable diagnostic logging using az cli?"
As the title says?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 028ffbf7-3fbc-dd56-59c1-ed6403313671
* Version Independent ID: 94c79eaa-d1c7-59a4-2f45-2ae07ca6b4ec
* Content: [View Azure Kubernetes Service (AKS) controller logs](https://docs.microsoft.com/en-us/azure/aks/view-master-logs)
* Content Source: [articles/

[2018-08-02 09:05] IDovgalyuk opened #12754 "Copy a SQL database from a different server issues"
1. I am trying to create a database as a copy of existing one at different server. Server address is "server-prod.database.windows.net". Command "CREATE DATABASE myDB AS COPY OF server-prod.myDB" gives error "Incorrect syntax near '-'".
2. Is there a way to use  command CREATE DATABASE ... AS COPY OF... across different domains: "database.windows.net" and "database.chinacloudapi.cn"?

---
#### Doc

[2018-08-02 09:25] AbhishekTripathi commented on #12634
Closed by accident. Please close it once the PR is merged.

[2018-08-02 09:44] VexedSyd commented on #12744
The issue is resolved now. The latest MSI package is on Microsoft Downloads websites

![image](https://user-images.githubusercontent.com/15827925/43576345-7b700a7a-968c-11e8-8d7f-ff218ac0b86b.png)

[2018-08-02 09:44] #12744 closed

[2018-08-02 09:45] hiteshtulsani commented on #12526
Thanks for the reassurance! The workaround to have a cluster created upfront is what we went with eventually. Would keep a tab on Sep 2018 release. Cheers!

[2018-08-02 09:47] asgasos opened #12757 "Stateful Service Not Starting - Fixed"
If your Stateful service isn't starting and you are running later versions of Service Fabric e.g. 6.3.162.9494 (more info https://github.com/Azure/service-fabric-issues/issues/848), add the following `<RuntimeFrameworkVersion>2.0.9</RuntimeFrameworkVersion>` into your csproj

Check which versions you have in C:\Program Files\dotnet\shared\Microsoft.NETCore.App

---
#### Document Details

⚠ *Do not