[2019-02-01 19:04] #15084 closed

[2019-02-01 19:06] #22131 closed

[2019-02-01 19:06] kazshi commented on #23962
@SadiqhAhmed-MSFT Thanks for the link. I was aware of the page but missed the line about Linux.

[2019-02-01 19:08] diberry commented on #23912
@erikamenezes @navzam @cahann

Thank you for letting us know the documentation for non-interchangeable phrase lists needs to be improved. A non-interchangeable phrase list is a signal/boost to LUIS that the words are more significant that other words. This helps with both determining intent and entity detection For example, say you have a subject domain like travel that is global (meaning across c

[2019-02-01 19:12] diberry commented on #23912
#in-progress

[2019-02-01 19:12] Adam-Smith-MSFT commented on #23998
@javieracrich Thank you for the valuable feedback,we are investigating the issue. I submitted a fix for the issue: #64979
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-01 19:12] #23998 closed

[2019-02-01 19:13] aliceku commented on #23948
@jackrichins can you help with AKV certificate questions?

[2019-02-01 19:18] simonech opened #24006 "Why all samples use a FaceServiceClient instead of official SDK?"
Why are all samples using the `FaceServiceClient`, which is a service created as part of the github sample, instead of using the `FaceClient` that comes with the official Face SDK?

I also saw the `FaceServiceClient` is part of an "experimental" SDK done for the "oxford project", and its nuget package has been unlisted.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-02-01 19:19] femsulu commented on #21082
@SHANE0MAC closing this thread per @bwren's update. If this remains an issue, please send mail to azcommunity@microsoft.com and we will be able to connect you with a support engineer or product group contact for further engagement

[2019-02-01 19:19] #21082 closed

[2019-02-01 19:22] Anmolgan81 commented on #23779
We have a support ticket open for azure managed instance but they don't have answer yo this as well

Regards
Anmol Ganju

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Friday, February 1, 2019 11:01:35 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Can Azure Managed Instance be a Publisher/Distributor for trans

[2019-02-01 19:25] pradeepbogati opened #24007 "How to specify a query to run to a particular partition only?"
I do not see how we can specify a query for a specific partition. Can you help with that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84e535d-3c81-b746-3021-767a0e849ce6
* Version Independent ID: e831f5c9-a95c-5edf-8cb5-45970f5da8e9
* Content: [Build a console app using Azure Cosmos DB's API for MongoDB and Java SD

[2019-02-01 19:30] xsqian opened #24009 "fatal error: azure_c_shared_utility/xlogging.h: No such file or directory (same issue as #18981)"
Using simulated data
-- Configuring done
-- Generating done
-- Build files have been written to: /home/pi/src/iot-hub-c-raspberrypi-client-app
Scanning dependencies of target app
[ 20%] Building C object CMakeFiles/app.dir/main.c.o
/home/pi/src/iot-hub-c-raspberrypi-client-app/main.c:9:45: fatal error: azure_c_shared_utility/xlogging.h: No such file or directory
 #include <azure_c_shared_utility/x

[2019-02-01 19:31] femsulu commented on #23984
@jtuliani Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-01 19:33] ameb1981 commented on #23816
the logs won't show anything. But it seems to be that the function or the resizer package is having trouble working with (not so) large pictures. I uploaded a small one and it worked perfectly.

[2019-02-01 19:34] gregory-fonkatz opened #24010 "Inconsistent data in different calls"
I'm using CLI to manage resource tags. I'm observing a weird behavior.
`az resource list` returns the json containing a `tags` attribute, but the tags are null. even if the resource does have them. In order to get the actual tags I need to run `az resource show` individually. This is unintuitive, either give me this attribute populated with data, either don't give it me at all. You just confusing

[2019-02-01 19:37] MarileeTurscak-MSFT commented on #23972
Hi @jesspent,

You can refer to[ this Powershell script](https://gallery.technet.microsoft.com/List-all-Office-365-MFA-ae97c474) to list all Office 365 MFA-enabled users. The PowerShell script checks for all users that have StrongAuthenticationMethods populated, which means that they have registered for MFA. This is the case for all those enabled/enforced for per-user MFA or who have registered du

[2019-02-01 19:40] MarileeTurscak-MSFT commented on #23972
Let me know if this helps! We will proceed to close this thread but if you have further questions feel free to tag me in the comments or post to MSDN. https://social.msdn.microsoft.com/forums/azure/en-us/home?forum=windowsazureactiveauthentication

[2019-02-01 19:40] #23972 closed

[2019-02-01 19:41] TravisCragg-MSFT commented on #23992
@OffColour Yes, you can absolutely do this with an NSG. for the App Gateway 1, make a rule only allowing inbound connections from the external IP Address to the public IP of the App Gateway. For App Gateway 2, make an allow all for the public IP for app gateway 2.

[2019-02-01 19:42] SaurabhSharma-MSFT commented on #23999
@michevnew Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-01 19:43] SaurabhSharma-MSFT commented on #23996
@philliplyle Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-01 19:43] SaurabhSharma-MSFT commented on #23989
@balktl Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-02-01 19:49] SaurabhSharma-MSFT commented on #23926
@artisticcheese  Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-01 19:49] TravisCragg-MSFT commented on #23931
@olegsych Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-02-01 19:52] mike-urnun-msft commented on #23991
Hi @Anand-Moghe Thank you for your feedback! We will review and update as appropriate.

[2019-02-01 19:52] sanjayntms commented on #23954
I am  running the script within a DSC(For Linux VMs)) section in Azure Automation.
I am following link given below

When I try to compile script as per instruction given in doc, it suspends compilation in DSC.
yours sincerely,Sanjay Dubey

    On Saturday, 2 February, 2019, 12:49:58 AM IST, femsulu-MSFT <notifications@github.com> wrote:

 This message is eligible for Automatic Cleanup! (notificati

[2019-02-01 19:52] mike-urnun-msft commented on #24005
Hi @ambivalentdev Thank you for your feedback! We will review and update as appropriate.

[2019-02-01 20:05] SaurabhSharma-MSFT commented on #23926
@artisticcheese Azure Security Center monitors security configurations by applying a set of over 150 recommended rules for hardening the OS. If a machine is found to have a vulnerable configuration, Security Center generates a security recommendation.  Please refer to [What are OS security configurations?](https://docs.microsoft.com/en-us/azure/security-center/security-center-customize-os-security

[2019-02-01 20:06] SaurabhSharma-MSFT commented on #23758
@isamllr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-01 20:06] #23758 closed

[2019-02-01 20:07] MicahMcKittrick-MSFT commented on #24004
duplicate of #24003

[2019-02-01 20:07] #24004 closed

[2019-02-01 20:09] MicahMcKittrick-MSFT commented on #24003
@roiyz-msft can you take a look?

[2019-02-01 20:21] #21553 closed

[2019-02-01 20:22] #22215 closed

[2019-02-01 20:22] #23287 closed

[2019-02-01 20:22] #23781 closed

[2019-02-01 20:22] #23979 closed

[2019-02-01 20:23] jholl016 opened #24012 "Hyperlink circular reference"
The "how to manually configure device registration" link in the "Select your scenario" section links back to this same page (i.e. a circular reference).  There is no information on this page about manually configuring device registration.  The link target should be updated, or the link should be removed if that content does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-02-01 20:26] KingdomOfEnds opened #24013 "Script path"
Hi! Fantastic walkthrough! Noticed that the path listed above might be off? The `.js` files live here: https://github.com/Azure-Samples/azure-iot-samples-node/tree/master/iot-hub/Tutorials/ConnectivityTests rather than the `iot-hub\Tutorials\ConnectivityTests\simulated-device` folder. Got confused for a moment then realize I had all the scripts already. Thanks!

---
#### Document Details

⚠ *Do no

[2019-02-01 20:32] rwike77 commented on #23408
@tshinkle @MicahMcKittrick-MSFT @aljo-microsoft   I recently refreshed this article.  At one point, I remember seeing the "There was an error during CodePackage activation.The service host terminated with exit code:1" error in SFX as well.  In the https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-dotnet-app-enable-https-endpoint#configure-kestrel-to-use-https step, did

[2019-02-01 20:37] JulianaCamposP opened #24015 "Speech Devices SDK service and Speaker Recognition Service from Azure"
Im using intent recognizer from the speech SDK of Microsoft in order to get speech to text. And is working fine. Also, I want to integrate the service speaker recognition from azure in order to identify the owner of the voice (How is the one that activate the service using an awake word).

This one require an audio file (.wav with some characteristics) and thats fine. The service is working fine.

[2019-02-01 20:37] MicahMcKittrick-MSFT commented on #23408
Thanks @rwike77 I did replace the value both times I ran through it. I even kept the naming convention the same using "mytestcert"

Although, looking back at it, I am wondering if I just put "mytestcert" instead of "CN=mytestcert"

Is it expected to keep the CN= part? If so that might be the issue and I can rerun through the doc.

[2019-02-01 20:39] TravisCragg-MSFT commented on #23931
@olegsych this behavior is documented [Here](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#tcp-snat-port-release).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-01 20:39] #23931 closed

[2019-02-01 20:42] PineshPatel opened #24016 "VNET Integration Preview More then two app Integration - I am have 5 different Web Apps each app does get Integrated with VNET Integration Preview just fine. PROBLEM out of 5 apps only first 2 integration successfully connect to the resources on the VNET, Other 3 App does not, When i use KUDU console of the app to run tcp ping i get "Connection attempt failed: A socket operation encountered a dead network" Error"
# Azure documentation issue guidance

There seems to be limitations for Azure VNET integration Preview?

## Pull requests and article contributions
https://blogs.msdn.microsoft.com/appserviceteam/2018/10/17/new-app-service-vnet-integration-feature/

[2019-02-01 20:43] milope commented on #17084
I have to agree with everyone else on the X-Forwarded-Host header. It really is the de-facto header many middleware services expect from reverse proxies.

[2019-02-01 20:46] artisticcheese commented on #23926
There is no option to see Security Configuration in my Security Center. Also if I look for computers which report compliant vs which are reported non compliant. Both of those report as missing something. How exactly decision is being made which one is compliant and which is not
![image](https://user-images.githubusercontent.com/13176884/52148642-f65b2e80-262f-11e9-9330-3b9350ff17ba.png)
![chrome_2

[2019-02-01 20:47] rwike77 commented on #23408
@MicahMcKittrick-MSFT  You should keep the "CN=" part.  So if you're following the doc, the full value should be "CN=mytestcert".

[2019-02-01 20:50] Anand-Moghe opened #24017 "Is Express mode Authentication and Authorization feature available in Web App in Azure Gov cloud?"
I am unable to register my Web App in Azure Gov Cloud using[ Express mode AD integration](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad?toc=%2Fazure%2Fapp-service-mobile%2Ftoc.json)  using Authentication and Authorization blade inside Web App.

Is this feature available in MAG?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-02-01 20:53] TravisCragg-MSFT commented on #23663
@JosieW We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-01 20:53] #23663 closed

[2019-02-01 20:54] animetauren commented on #17084
The solution should not be that the customer has to manually rewrite the headers to add the X-Forwarded-Host header. The AppGW should include this header natively especially in V2, as a way to avoid save customers many hours/days of troubleshooting.

[2019-02-01 21:01] MicahMcKittrick-MSFT commented on #23408
@rwike77 got it. I don't remember if I did or not so I will try it again and get back to you on it.

[2019-02-01 21:04] Anand-Moghe commented on #24017
Updated Title

[2019-02-01 21:14] SaurabhSharma-MSFT commented on #23784
@PingPongSet You need to modify the application to validate the scopes present in the token as the reply URL an endpoint where Azure AD B2C should return any tokens that your application requests.  Please refer to [Build a .NET web API that integrates with Azure AD for authentication and authorization](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v1-dotnet-webapi) for

[2019-02-01 21:14] gtageek commented on #23243
@ManojReddy-MSFT - Thanks for the update, but one minor correction is required. You spelt Fabrikam as "Fabricam", so just correct the spelling and the article would be perfect! Thanks a lot :)

[2019-02-01 21:15] clayroach commented on #22384
@Mike-Ubezzi-MSFT We were deploying to `US East`

[2019-02-01 21:15] vikaskumawat80 opened #24018 "Why do we need WAF in the front of Web App"
Azure Web App is PaaS service and security is already taken care by MS. Wondering why do we need or what is a good reason to use Application Gateway with WAF or without WAF in the front of Azure Web App?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f88e59f9-19be-ed1e-64bb-70a504a778a2
* Version Independent ID: db80f0

[2019-02-01 21:18] vikaskumawat80 opened #24019 "Not getting output when trying to get current Policies on the Connections"
$RG1          = "TestPolicyRG1"
$Connection16 = "VNet1toSite6"
$connection6  = Get-AzureRmVirtualNetworkGatewayConnection -Name $Connection16 -ResourceGroupName $RG1
$connection6.IpsecPolicies

is not working for me. Tried on the local machine and tried in the Az Cloud Shell Powershell as welll.  But I am not getting any output. Why?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-02-01 21:32] pradeepbogati commented on #22953
Hi there, my use case was with using mongo api.

How can I use mongo api and focus a query to specific partition.

Thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Friday, February 1, 2019 4:08:52 PM
To: MicrosoftDocs/azure-docs
Cc: Pradeep Bogati; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Not able to

[2019-02-01 21:35] BryanLa commented on #22732
@jasonfare - the changes I mentioned above are complete now, along with some others that I believe will help with the clarity (in both the PS and CLI articles). This should all publish live around 3:30 pm Pacific time today, so please have a look at let us know if you feel it meets your needs.

CXP: #please-close

[2019-02-01 21:35] Mike-Ubezzi-MSFT commented on #22953
`new FeedOptions() { PartitionKey = new PartitionKey(xyz) }`

[2019-02-01 21:44] weyCC81 opened #24020 "IKEv1 can't be used in AzS"
https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-vpn-gateway-about-vpn-gateways#site-to-site
"A site-to-site (S2S) VPN gateway connection is a connection over IPsec/IKE (IKEv1 or IKEv2) VPN tunnel." --&gt; Remove IKEv1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f780e2ad-c126-43e9-2596-848115d09fa

[2019-02-01 21:44] Karishma-Tiwari-MSFT commented on #23577
@rmcmurray Did you get a chance to take a look at this customer's question.
@iainfoulds Is this something you can share your insights on? Thanks :)

[2019-02-01 21:44] Karishma-Tiwari-MSFT commented on #23760
@AlbertoSpain We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-01 21:44] #23760 closed

[2019-02-01 21:45] Mike-Ubezzi-MSFT commented on #24007
@pradeepbogati Thank you for opening a Git issue for your inquiry against a specific document. Per the comment made in #22953, which wasn't filed under a  specific document; the property value you pass in the request is the following regardless of API:

`new FeedOptions() { PartitionKey = new PartitionKey(xyz) }`

I hope this information is helpful, and please let us know if you require addtional

[2019-02-01 21:46] motowilliams commented on #14066
I realize that AzureRM isn't getting anymore development but isn't this moving the goals posts a bit since the issue was with the PowerShell AzureRM module?

[2019-02-01 21:46] pradeepbogati commented on #24007
Let me try it out. Thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Friday, February 1, 2019 4:45:23 PM
To: MicrosoftDocs/azure-docs
Cc: Pradeep Bogati; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to specify a query to run to a particular partition only? (#24007)

@pradeepbogati<https://github.com/pr

[2019-02-01 21:47] DivideBySara opened #24021 "NuGet package for Microsoft.ServiceFabric.Services.Remoting version 3.3.624 is no longer available."
Any official answer as to why the NuGet package for Microsoft.ServiceFabric.Services.Remoting version 3.3.624 is no longer available? 3.3.622 is now the latest.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8902374b-b631-9d50-16ef-1899ea2dd29d
* Version Independent ID: 55351e69-aa2a-901c-a563-106b62e3d6ac
* Content: [

[2019-02-01 21:54] Mike-Ubezzi-MSFT commented on #23965
@bertrandpons This is unsupported, as the SQL instance needs to be deployed to an Azure VM: [Tutorial: Use a Windows VM system-assigned managed identity to access Azure SQL](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-windows-vm-access-sql)

Please see this document that provides an overview of Managed Identity and the services that are curre

[2019-02-01 21:57] Mike-Ubezzi-MSFT commented on #23965
This document details the supported authentication methods that are supported: [Access management](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-security-overview#authentication)

[2019-02-01 21:57] Karishma-Tiwari-MSFT commented on #23988
The document says :

To confirm, are you talking about PA or WinGA? Please let me know so that we can have the document updated accordingly.

[2019-02-01 22:01] Grace-MacJones-MSFT commented on #24001
Hi @munozrickT4S, Thanks for bringing this to our attention! We will review and update this doc to spell out what SCM (Source Control Management).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-01 22:01] #24001 closed

[2019-02-01 22:13] MicahMcKittrick-MSFT commented on #24021
Thanks for the question! We are investigating and will update you shortly.

[2019-02-01 22:31] MarileeTurscak-MSFT commented on #23646
@StickNitro I have escalated this issue to the product team. In the meantime if you can, would you be willing to post this same question to MSDN for visibility? https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-01 22:33] SaurabhSharma-MSFT commented on #23926
@artisticcheese Complaint/Non-Complaint statuses are based on the security policies you have applied to your management group or subscriptions.  Please refer to [Create a policy assignment to identify non-compliant resources](https://docs.microsoft.com/en-us/azure/governance/policy/assign-policy-portal)
Also, you can refer to below screenshot to to check the OS configurations which are assessed by

[2019-02-01 22:37] tfitzmac commented on #24010
@gregory-fonkatz - I just tested az resource list and saw tag values returned in the results. This could be discrepancy based on the resource type. What type of resource was not returning tags?

[2019-02-01 22:38] mattbriggs commented on #22760
#please-close

[2019-02-01 22:39] Mike-Ubezzi-MSFT commented on #23970
@andyjballgit Thank you for your interest in Azure cloud services. When you reach the maximum quota, filing the support ticket under the topic of Quota, there is a discussion that takes place to understand your requirements. There is no predefined set of configurations that are sourced that are above and beyond the stated max quota. It is more about understanding your needs and finding the best wa

[2019-02-01 22:42] nageshsubramanian opened #24025 "TTL behavior"
I have set the TTL at contained level to purge records from a collection. It works. However, after a while, when I reset it null or -1 the data comes back. I want to purge for good! is there a way to do with TTL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fb9ccc0-c5d5-79aa-420d-1add5370b580
* Version Independent ID

[2019-02-01 22:44] szolla opened #24026 "Multiple Directories"
Is it possible to use Vnet peering to extend access to Azure AD Domain Services to another Azure AD Directory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2dd1067-861a-2355-0dda-ce99a5494334
* Version Independent ID: beeda77b-221c-1540-f26c-b2700d5ce000
* Content: [FAQs - Azure Active Directory Domain Services](htt

[2019-02-01 22:48] MarileeTurscak-MSFT commented on #23651
Hi @jurajgh ,

From what I can the ability to choose is not currently supported. As the document says, it will default to OTP for users who do not have Azure AD, Microsoft, or federated accounts. If you would like to leave what  you have mentioned as product feedback, please post to feedback.azure.com. It is monitored by the product team and the best place to get updates on new product feature req

[2019-02-01 22:49] MarileeTurscak-MSFT commented on #23651
We will proceed to close this thread. If you have further questions feel free to make a new issue or continue the conversation on the feedback forum.

[2019-02-01 22:49] #23651 closed

[2019-02-01 22:51] MicahMcKittrick-MSFT commented on #24021
@DivideBySara looks like it was removed by the owner...

![image](https://user-images.githubusercontent.com/32313503/52153937-c1031080-2630-11e9-8484-0614923a727c.png)

@vturecek @aljo-microsoft @dkkapur @masnider any idea why/ the details on this?

[2019-02-01 22:54] julieMSFT commented on #18891
@mcurko @geostation360 @top-wang @wwoomobile Hello all, Thank you for our feedback on the error with this data loading How To. The data has been reloaded and the issues should be resolved. I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-02-01 22:55] rezasherafat commented on #23805
We are working to add modules support.

Also, @romankiss, if you have usage scenario for device/module streams that you can share pls email me at rezas @ microsoft . com. Thanks.

[2019-02-01 22:57] julieMSFT commented on #18891
#please-close

[2019-02-01 22:57] TravisCragg-MSFT commented on #17492
@sujithq We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-01 22:57] #17492 closed

[2019-02-01 23:01] MarileeTurscak-MSFT commented on #22519
Hi @PzKfWg ,

1. A retention container is used to retain group conversations after a group has expired or has been deleted.

2. It should keep the Sharepoint content.

3. That's interesting that your experiment showed more data availability - I would like to know more about your case because it's hard to diagnose without greater details. Users shouldn't be able to see the data but group owners may

[2019-02-01 23:01] MarileeTurscak-MSFT commented on #22519
For more detailed product questions like these the best channel is MSDN, which we monitor daily. Please post here and I will ensure that we continue the conversation and get this question resolved.

Please post to MSDN so we can continue the conversation and get the product group involved as needed. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-02-01 23:02] #22519 closed

[2019-02-01 23:04] djaus2 commented on #21559
I have a range of relevant scripts including this one on GitHub at
https://github.com/djaus2/AzureIoT-CoreUtils

[2019-02-01 23:11] sergeart opened #24028 "Transaction state sample is not working as expected"
Running the provided sample code in SQL Data Warehouse gives the same error message
Msg 111233, Level 16, State 1, Line 1 111233; The current transaction has aborted, and any pending changes have been rolled back.
And ERROR_* functions do not provide values as expected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac

[2019-02-01 23:13] MarileeTurscak-MSFT commented on #23985
Hi @softwarecraft ,

Azure RBAC experienced a small outage in certain regions earlier today, which may have been related to this issue. Can you ask them to try again?

If you they are still facing this issue, please email me at AzCommunity@microsoft.com with the subscription ID and I will set up a one-time free technical support ticket to better diagnose this issue.

[2019-02-01 23:17] Mike-Ubezzi-MSFT commented on #23891
@RaithHandac @scolapicchioni Thank you for reproducing this issue and finding a temporary fix. I am assigning this to the content author (@wmengmsft) to evaluate and update as appropriate.

[2019-02-01 23:17] MarileeTurscak-MSFT commented on #24012
Hi @jholl016 , I tested the link and it properly links to the section in the article. The scenario in this case refers to Managed Domains vs. Federated Domains. https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan#select-your-scenario

[2019-02-01 23:18] Mike-Ubezzi-MSFT commented on #23924
@ycedillos Please let us know if you have any additional questions. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-01 23:18] #23924 closed

[2019-02-01 23:19] Grace-MacJones-MSFT commented on #23967
Hi @sasikiran, I have created a PR to fix the doc.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-01 23:19] #23967 closed

[2019-02-01 23:29] karlbunnell opened #24029 "Configuration for collection of security solution logs"
I've followed the following instructions to configure the agent to forward syslog CEF events but it doesn't appear to be working with Log Analytics.
https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/Security-Events-Preview-Configuration.md

After making these changes and restarting the oms agent no errors are reported in the omsagent.log and I can see the new plugin for CEF is runn

[2019-02-01 23:37] TravisCragg-MSFT commented on #24020
@weyCC81 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-01 23:41] wasabii opened #24030 "Bad SFPKG distribution for Patch Orchestration Application"
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-patch-orchestration-application

The `sfpkg` file distributed from this link is wrong. It is malformed. It has `.ps1` files in it. It's like somebody zipped and renamed something other than a real package.

[2019-02-01 23:41] MarileeTurscak-MSFT commented on #24012
@jholl016 good catch - looks like the link got moved to here: https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-manual

I made a pull request for review by @MarkusVi
https://github.com/MicrosoftDocs/azure-docs-pr/pull/65045

[2019-02-01 23:42] Mike-Ubezzi-MSFT commented on #24028
@sergeart Thank you for bringing this to our attention. The Data Warehouse T-SQL example gives me the following error when I run it in an Azure SQL Data Warehouse instance:

111213;The current transaction has aborted, and any pending changes have been rolled back. Cause: 111208;An internal error occurred that prevents further processing of this command: 'Distributed transaction completed. Either e

[2019-02-01 23:42] MarileeTurscak-MSFT commented on #24012
We will now proceed to close this thread. Changes generally go live in ~24 hours.

[2019-02-01 23:42] #24012 closed

[2019-02-01 23:45] TravisCragg-MSFT commented on #24019
@vikaskumawat80 If you are not getting any information, it typically will have 2 causes -
1) You are not getting the correct object in PowerShell. You can check this by typing in "$connection6" in PowerShell and it should not be blank, but output some of the properties in the object.

2) The IpsecPolicies property has nothing inside of it. You can go to [Resources.Azure.Com](Resources.Azure.Com) a

[2019-02-01 23:46] SogoGolf opened #24031 "Error: Network Error"
all fine up until "run the web app". after entering a random username, it threw "Error: Network Error". there was no issue with my internet connection.

https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-javascript#run-the-web-application

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-02-01 23:49] TravisCragg-MSFT commented on #24018
@vikaskumawat80 Adding App Gateways in front of Azure Web Apps allow for some different controls on what traffic can come in, and how it is given to the web app. Web Apps do not need an app gateway in front of them, and will function fine without.

It can also terminate SSL connections, reducing the load on the web app. You can [find more info about what an app gateway can do here](https://docs.mi

[2019-02-01 23:54] jeevansd commented on #23989
@chetansriv and @v-nagta Can you please retest the app and verify?

[2019-02-01 23:55] TylerMSFT commented on #23966
I don't think we need to push them to Cloud Shell for this.

[2019-02-01 23:56] femsulu commented on #23531
@ThierryBT We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-01 23:56] #23531 closed

[2019-02-02 00:00] kgremban commented on #21403
@sandervandevelde Thanks for confirming that you were able to successfully get messages to store offline with Venkat's example. I've updated the docs to include the Windows binds example. Take a look and let me know if this issue is resolved or if you think there's more to be done.

[2019-02-02 00:02] apraovjr opened #24032 "Get error in vscode saying Azure ML requires that the experiment script be contained in the base directory"
I have the train.py in one of the project structure /Users/aprao/modSpiMl/modules/SpiML and still it complains.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78a7c721-ed6e-d2d2-6f04-90c1d977bcc2
* Version Independent ID: ced92b08-175e-748c-ee8b-d7419d5211e6
* Content: [Train & deploy models from VS Code - Azure Machin

[2019-02-02 00:05] femsulu commented on #23564
Hi Geetha - any update on this?

[2019-02-02 00:11] Alberto-Vega-MSFT commented on #24013
@KingdomOfEnds Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 00:13] Alberto-Vega-MSFT commented on #24002
@LisandroSu Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 00:14] KingdomOfEnds opened #24033 "Issue using Linux Subsystem"
Hi! Great article - was able to make it through most but ran into an issue today.

I went through and set up a Linux Subsystem to have an SSH server to connect to using the following commands:

[code]

![issue](https://user-images.githubusercontent.com/43044425/52158173-8e661180-264a-11e9-89f5-e7ac91433b18.PNG)

Can you please let me know what I did wrong? The Device Simulator crashed. Thanks!

PS

[2019-02-02 00:17] Alberto-Vega-MSFT commented on #23993
@DaveEM Thanks for the feedback! It looks like part of your feedback is missing?

[2019-02-02 00:19] MedAnd opened #24034 "Update API documentation to clarify which APIs cache data, memory implications & relevant ReplicatorConfig settings"
Update API documentation to clarify which APIs cache data, memory implications & relevant ReplicatorConfig settings as per this request: https://github.com/Azure/service-fabric-issues/issues/1427

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81cce417-df6e-bbac-5083-9e48f5efd6b2
* Version Independent ID: e713be8d-2f15-

[2019-02-02 00:36] Alberto-Vega-MSFT commented on #24013
@KingdomOfEnds  I am not sure if I am understanding the report. I downloaded the code, navigated to the path `iot-hub\Tutorials\ConnectivityTests\simulated-device`  and I found the simulatedDevice files

![image](https://user-images.githubusercontent.com/10910841/52156817-64f3b880-263f-11e9-83c4-60661e3bfcdf.png)

[2019-02-02 00:38] MicahMcKittrick-MSFT commented on #24034
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @aljo-microsoft @masnider

[2019-02-02 00:39] #18891 closed

[2019-02-02 00:39] #22732 closed

[2019-02-02 00:42] Mike-Ubezzi-MSFT commented on #23779
@Anmolgan81 I found some information in helping another customer. SQL Server 2008 will not work in this situation:

[Versions](https://docs.microsoft.com/en-us/azure/sql-database/replication-to-sql-database#versions)

SQL Server 2017 (14.x)
SQL Server 2016 (13.x)
SQL Server 2014 (12.x) SP1 CU3
SQL Server 2014 (12.x) RTM CU10
SQL Server 2012 (11.x) SP2 CU8 or SP3
Attempting to configure replication

[2019-02-02 00:44] rylewell-msft opened #24035 "Lifetime of the container?"
Assuming I've got a non-ephemeral build agent (non hosted pool) - when does the container die? Will it stay running after the pipeline completes? Will subsequent tests re-use the same container with the same state?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617f002c-f40e-28a0-2ab7-e3227e08e37c
* Version Independent

[2019-02-02 00:46] KingdomOfEnds commented on #24013
@Alberto-Vega-MSFT - Great thanks for the quick turn around. Shouldn't the path be `iot-hub\Tutorials\ConnectivityTests\`? I didn't see a folder named `simulated-device`. I had to switch from my terminal and hunt through my downloaded files to see why my command wasn't working. I also used `ls` in the `\ConnectivityTests\` folder.

Each file should have the path?

1.  iot-hub\Tutorials\Connectivit

[2019-02-02 00:46] TerryLanfear commented on #22270
@jlee-vi - Thank you for your feedback. The article has been updated with your suggestion and should publish on 2/4/19.

Updated via PR #65050

#please-close

[2019-02-02 01:05] jeevansd commented on #19936
@dougcain @Clebam We have fixed this issue. I am pushing the Confluence plugin updates to our Microsoft Download Center. So that you can download the new version of the plugin from there. It should be up by next week. If you to try this out early then please reach out to us on this alias SaaSApplicationIntegrations@service.microsoft.com

[2019-02-02 01:11] femsulu commented on #23599
@genlin can you share insight on this pls?

[2019-02-02 01:19] Mike-Ubezzi-MSFT commented on #24035
@rylewell-msft Thank you for this detailed question. By container are you referring to Database + Collection specified in the RunSettings? In this example test project, there is a bit of code that does a cleanup task so the database + collection are removed:

       ` [TestCleanup()]
        public void Cleanup()
        {
            DocumentDBRepository<Item>.Teardown();`

Does this answer your

[2019-02-02 01:25] JetstreamRoySprowl opened #24036 "Overriding auto-scale"
I'm trying to figure out how to override the auto-scale and provide fixed minimum and maximum for the Y axes. How is this done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691ee7f7-6ffa-1f2e-bc90-abaae2d6faec
* Version Independent ID: f8a60b14-3a2c-9e16-77a9-365c50e0ca03
* Content: [Tutorial: Explore the Azure Time

[2019-02-02 01:31] femsulu commented on #23790
@GeethalakshmiG & @trinadhkotturu : any input on SLA for RTO in this context?

[2019-02-02 01:33] femsulu commented on #23803
@vinynigam need your update on this query, pls.

[2019-02-02 01:35] femsulu commented on #23888
@snehithm any ideas as to what's causing the error above?

[2019-02-02 01:37] KingdomOfEnds commented on #24033
Think I found a work-around using the Node.js alternative. Thanks!

[2019-02-02 01:46] DaveEM commented on #23993
@Alberto-Vega-MSFT Yeah, the submission from docs.microsoft.com seems to have cut off my comments since they had a "$" in them.  My PR #23995 illustrates the things I think need to be changed.

[2019-02-02 01:47] KingdomOfEnds opened #24037 "Nodejs Connection"
Hi! Great documentation! I appreciate it very much! I have a question - I've been struggling to configure my local SSH both in this example and the C# example. Any pointers would help. I've manually passed in my variables following the example.

I used the following to set up my Linux Subsystem:
[code]

When I connect through the Windows subsystem using just SSH it gives me:

![issue_node](https:/

[2019-02-02 02:52] digitalpbk commented on #21553
I am using azure to only serve licenses and not packaging the media.
How would I figure out the license URL in this case?
There is no documentation regarding this in the new media services v3 api.

[2019-02-02 02:53] KingdomOfEnds commented on #24013
@Alberto-Vega-MSFT - Went ahead and created a small PR to correct that thanks!

[2019-02-02 02:56] KingdomOfEnds commented on #23807
@Alberto-Vega-MSFT - Went ahead and created a small PR thanks!

[2019-02-02 03:33] KingdomOfEnds commented on #24037
PS - I tried again and got the following - this time no text - any help would be much appreciated:

![issue_node_2](https://user-images.githubusercontent.com/43044425/52159358-143c8980-2658-11e9-9f33-b930c0f0b9b9.PNG)

[2019-02-02 03:52] sergeart commented on #24028
Hi Mike,
thanks for the quick feedback!

SQL Server 12.0.2000.8. Location Australia East Gen1: DW400

[2019-02-02 03:53] blouwagie commented on #22411
@tfitzmac - Thank you for asking. I'm confused by your question. We use standard Azure with Microsoft 365 E3.  My cynical side says "If the error message would have indicated what this error was related to then I would have been able to tell you more about the deployed solution, but I do not know what/who locked this". My guess is that I created a test VM and then tried to remove it and could not.

[2019-02-02 04:11] ftiernan opened #24039 "Confusing Instructions."
About 1/3 of the way down the text reads:
'To enable local Git deployment for your app with the Kudu build server, run "

a couple of lines later it says:
"To create a Git-enabled app instead, run az webapp create in the Cloud Shell with the "

The key word being "instead". But why one would choose one over the other is left to the reader to ponder with no hint as to the distinction from the autho

[2019-02-02 04:18] Chenguoqing2008 opened #24040 "The docs of Timer trigger output seems wrong."
I have read the document  of how to use Azure functions.  These time i am focused on Time trigger functions.  Reference to the document [function reference](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#fileupdate) i read that "Input" and "Output" bindings seem to be not supported in Timer functions.

Bindings
Type | 1.x | 2.x1 | Trigger | Input | Output|
Timer | ✔ | ✔

[2019-02-02 04:45] ajayanti1 commented on #10466
@skille - Thank you for your feedback. We are working on getting this data to you programmatically and are interested in knowing what else you are looking for other than Microsoft 365 licenses. Please let us know if you have any other specific requirements so that we can include that in our planning.

[2019-02-02 04:52] ajayanti1 commented on #12547
@DdMad - Thank you for your feedback. We are working on getting this data to you programmatically and are interested in knowing what else you are looking for other than getting the complete list of product names with service plans. Please let us know if you have any other specific requirements so that we can include that in our planning.

[2019-02-02 04:57] ajayanti1 commented on #17439
@d-mariano - Thank you for your feedback. We are working on getting this data to you programmatically and are interested in knowing what else you are looking for other than getting the human readable service plans. Please let us know if you have any other specific requirements so that we can include that in our planning.

[2019-02-02 04:59] ajayanti1 commented on #18553
@Ashley-Walton - Thank you for your feedback. We are working on getting this data to you programmatically and are interested in knowing what else you are looking for other than getting the full list. Please let us know if you have any other specific requirements so that we can include that in our planning.

[2019-02-02 05:03] ajayanti1 commented on #23999
@michevnew - Thank you for your feedback. We are working on getting this data to you programmatically and are interested in knowing what else you are looking for other than getting the plan dependencies. Please let us know if you have any other specific requirements so that we can include that in our planning.

[2019-02-02 05:12] andrewatfornax commented on #15386
Thanks @rkarlin! Great news.

[2019-02-02 06:08] #24040 closed

[2019-02-02 06:08] Anmolgan81 commented on #23779
This post is specified for publisher compatibility in the case of azure sql database and on premise vms but nit for azure sql managed instance.

Regards
Anmol Ganju

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Saturday, February 2, 2019 6:12:59 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Can Azure Managed

[2019-02-02 06:36] navzam commented on #23912
@diberry Sure, happy to help how we can!

[2019-02-02 06:55] sanjayntms commented on #23954
Error is resolved.
Thank you.
yours sincerely,Sanjay Dubey

    On Saturday, 2 February, 2019, 2:07:45 AM IST, George Wallace <notifications@github.com> wrote:

 This message is eligible for Automatic Cleanup! (notifications@github.com) Add cleanup rule | More info

@sanjayntms do you have the nx module in your automation account?

—
You are receiving this because you were mentioned.
Reply to this

[2019-02-02 08:19] rolanddb commented on #22384
@Mike-Ubezzi-MSFT westeurope

[2019-02-02 08:31] deepeshpradhan opened #24059 "Does it work for Regular VMs. I would like to upgrade from Windows 2012 R2 to Windows 2016"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c75ce7-2144-d81a-693c-fb51cc00f3e5
* Version Independent ID: cba654ea-ee84-fca4-a76d-717bfb9d9bf5
* Content: [Automatic OS image upgrades with Azure virtual machine scale sets](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-au

[2019-02-02 08:32] naughton commented on #17123
why is this closed?  there's still no way to chose a y-axis title other than the property name of the first series.

[2019-02-02 08:41] sanjayntms commented on #23954
yes,
But getting following error

{"JobId":"DC8C6DCC-1FB6-4CCF-B750-40438823CB46","OperationType":"Consistency","NodeName":"lin1","IpAddress":"127.0.0.1;::1;10.0.0.4;fe80::20d:3aff:fe13:7f25;","ReportFormatVersion":"2.0","LCMVersion":"2.0","StartTime":"2019-02-02T08:30:01.959657592+00:00","Errors":[],"StatusData":["{\"Locale\":\"en-US\"}"]}{"JobId":"DC8C6DCC-1FB6-4CCF-B750-40438823CB46","Configura

[2019-02-02 08:52] vikaskumawat80 commented on #24018
I know Web App will function fine with the App Gw. Also, the traffic can be controlled by using IP Filtering on the Web App itself.
SSL Offloading might be a point but again it is not very big reason to spend extra $ just for this.

I am trying to find some good use cases for App Gw with Web App.

[2019-02-02 09:39] AsdfrGasd opened #24060 "kristinabend47@gmail.com"
Yfhchcgxgfdg

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-4ab9-bb34-957d-e86d3732d688
* Version Independent ID: 863b80ff-f60a-e727-dc12-0d6aba937df6
* Content: [Azure Monitor overview](https://docs.microsoft.com/en-gb/azure/azure-monitor/overview#next-steps)
* Content Source: [articles/azure-monitor/overview

[2019-02-02 09:55] YutongTie-MSFT commented on #24016
@PineshPatel Hi, can you please share the document you are referring to for this issue? Thank you.

[2019-02-02 09:56] YutongTie-MSFT commented on #24015
@JulianaCamposP
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 09:58] YutongTie-MSFT commented on #24006
@simonech Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-02 10:02] YutongTie-MSFT commented on #24009
@xsqian Hello, we are willing to help. Could you please share the document you are referring to for this issue? Thank you.

[2019-02-02 10:04] YutongTie-MSFT commented on #24000
@Juliako Hi Julia, could you please take a look of this issue to see if possible to create a single page make all clearer? Thank you.

[2019-02-02 10:07] YutongTie-MSFT commented on #24030
@prashantkhandelwal Hi, could you please help to check the file? Thank you.

[2019-02-02 10:08] YutongTie-MSFT commented on #24029
@karlbunnell
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 10:10] YutongTie-MSFT commented on #24031
@SogoGolf Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 10:11] YutongTie-MSFT commented on #24026
@szolla Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 10:13] YutongTie-MSFT commented on #24017
@Anand-Moghe Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 10:13] YutongTie-MSFT commented on #24032
@apraovjr
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 10:16] YutongTie-MSFT commented on #24033
@KingdomOfEnds Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 10:17] YutongTie-MSFT commented on #24060
@AsdfrGasd Hi, please provide more information about your issue. Thank you.

[2019-02-02 10:18] YutongTie-MSFT commented on #24036
@JetstreamRoySprowl Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 10:19] YutongTie-MSFT commented on #24037
@KingdomOfEnds
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 10:19] YutongTie-MSFT commented on #24039
@ftiernan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 10:51] simonech commented on #24006
When following that tutorial I didn't want to use the `FaceServiceClient` so I rewrote basically everything with the official SDK. I could send a PR if you want.

[2019-02-02 12:31] JakubW88 opened #24062 "Multisite on single backendpool with SSL"
But what if i have single backendpool with VM (IIS) and on them are 2 certs SSL for two diffrent domain ? If i set two bindings https with each cert on IIS. Should I put the same 2x cert (pfx) in AG http settings ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d23a57b-1327-786e-f27d-1a52b0e4712d
* Version Independent

[2019-02-02 12:46] JakubW88 opened #24063 "Multiple site with SSL on backend"
Can I do the same but with two backendpool (first SSL- VM with IIS and once instance + 2x SSL to home.pl / flat.com ) and (second Http80 - VM with IIS and one website + few subdomain eg. Abc.home.com / cba.flat.com ) ?
How much certs i need assigned in AG ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a08761f5-08a2-3

[2019-02-02 13:04] PineshPatel commented on #24016
YutongTie, here is the doc
[Azure VNET Integration preview1.docx](https://github.com/MicrosoftDocs/azure-docs/files/2824428/Azure.VNET.Integration.preview1.docx)

[2019-02-02 13:17] JakubW88 commented on #22871
@TravisCragg-MSFT @vhorne  thank's for link.
But what If i have one backendpool with one VM (IIS) on which is one instance used  2x SSL cert set in Bindings.
Which cert I should assig for AG in Listeners for SSL 443 ? Should I assign these 2x certs what are in IIS, in AG in listeneres with port 443 ?

[2019-02-02 14:00] sylvaingirardbe opened #24064 "Get token issue"
The `curl` command for getting a token won't work. Azure AD responds with `AADSTS50059: No tenant-identifying information found in either the request or implied by any provided credentials.`. Next to that is it inconsistent with the request statement right above it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e02a

[2019-02-02 14:09] ritul51 opened #24065 "HDFS is on linux OS then how we can connect HDFS using windows integration service."
HDFS is on linux OS then how we can connect HDFS using windows integration service... Please give feedback

I have VM(Cloudera) on my windows system from that HDFS i want to copy data to azure Blob or ADLS.. how we can do that.. ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af6a0376-6d10-558e-494b-3471abf607af
* Ver

[2019-02-02 14:34] nageshsubramanian commented on #24025
Thanks for quick turnaround. I tried to delete the property and it didn't work
Here is the sequence of things I did:
a) Set the property at container level to say 2 hrs to purge a few records
b) It worked well and it removed those records from the collection
c) since, I want to delete only those few records and keep rest of them from expiring, I immediately disabled the property at container level

[2019-02-02 15:41] FlaveC commented on #23994
Adam -- I did a bit of sleuthing and discovered that AzCopy has a "--force" flag which does exactly what I wanted. You may want to update your docs. Thanks!

[2019-02-02 17:02] codescream commented on #23397
@fm4dd , thank you for your feedback. I have tried to implement this API and here's my c# below, but it gives me a bad request response back; what could I have put in wrong?

using System;
using System.Net.Http.Headers;
using System.Text;
using System.Net.Http;
using System.Web;

namespace SpeechRecEnroll
{
    static class Program
    {
        static void Main(string[] args)
        {

[2019-02-02 17:15] PingPongSet commented on #12706
What is the progress of MS Graph now as Feb 2019? particularly on Manage users in a B2C tenant (set local accounts, sign in names)?

[2019-02-02 17:16] PingPongSet opened #24066 "Progress of MS Graph now as Feb 2019? particularly on Manage users in a B2C tenant (set local accounts, sign in names)?"
What is the progress of MS Graph now as Feb 2019? particularly on Manage users in a B2C tenant (set local accounts, sign in names)?

_Originally posted by @PingPongSet in https://github.com/MicrosoftDocs/azure-docs/issues/12706#issuecomment-459981958_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb

[2019-02-02 17:44] #22270 closed

[2019-02-02 18:20] ericnewton76 opened #24078 "WebJob Environment Variables"
It would be very helpful to support at least Environment Variables that can be utilized within the scripts.

Is there a way to do this now, or is this a feature request?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24523dbf-010f-b844-5ff0-88192eac8849
* Version Independent ID: d7ef5962-d94c-96d0-bf08-1efffc6d402b
* C

[2019-02-02 18:44] anand5555 commented on #21106
@k8s-class , The above is not working for me (Its still creating public load balancer.) its getting created as below in the yaml

service: map[beta:map[kubernetes:map[io/azure-load-balancer-internal:true]]]

[2019-02-02 18:44] PingPongSet opened #24079 "404 Not Found error from section Test the user flow after following the steps"
I got the error below:

[code]

I use a outlook account, e.g. myname@outlook.com, with global admin role to follow the example, but got the error above.

Below is the code from the example:
This link below return result form web browser:

`https://mytenant.b2clogin.com/mytenant.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=B2C_1_ROPC_Auth`

Test the user flow via Fiddler
[code]

Any idea

[2019-02-02 18:48] PingPongSet commented on #23780
@MarileeTurscak-MSFT

Thanks for your comment.

I retested the example, but still got the same error:

I am already in Global Administrator role by following your step to check it.

I am using Fiddler to send the request, so it is not related to WebApp/WebAPI as mentioned on your reply.

The user name (e.g. myname@myfirm.com) and password are correct, which is used to login azure portal to setup t

[2019-02-02 19:47] YutongTie-MSFT commented on #24079
@PingPongSet Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 19:48] YutongTie-MSFT commented on #24078
@ericnewton76 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 19:50] YutongTie-MSFT commented on #24066
@PingPongSet Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 19:53] YutongTie-MSFT commented on #24065
@ritul51 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 19:54] YutongTie-MSFT commented on #24064
@sylvaingirardbe Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 19:55] YutongTie-MSFT commented on #24063
@JakubW88 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 19:58] seguler commented on #23973
Thank you - I've addressed this. Page update will be live on 2/4/2018.

#please-close

[2019-02-02 19:59] YutongTie-MSFT commented on #24062
@JakubW88 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-02 20:06] YutongTie-MSFT commented on #24016
@BryanTrach-MSFT Hi Bryan, I think this is a product feature question, can you please share some insight about that or assign it to proper person? Thank you.

[2019-02-02 21:26] jfbosch opened #24080 "Add that .ConfigureAwait(false) should not be used."
Please add the following to the "Orchestrator code constraints" section:

Never use .ConfigureAwait(false) when awaiting on activity functions.
Eg. instead of doing this:
string capture = await context.CallActivityAsync&lt;string&gt;("GetCapture", captureId).ConfigureAwait(false);
do this
string capture = await context.CallActivityAsync&lt;string&gt;("GetCapture", captureId);

If you do .Configure

[2019-02-02 22:21] RonStack opened #24081 "Add step for clarity on updating Secret URI"
There should be a step right before the code example to change the following line:
WebRequest kvRequest = WebRequest.Create("https://{YourKeyVault}.vault.azure.net/secrets/{YourSecret}?api-version=2016-10-01");

Great article otherwise!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffad04ad-5d9e-56de-c688-f0c6dd9de5

[2019-02-02 22:53] mike-urnun-msft commented on #24040
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aff040c-9c09-c184-d0e7-fb3bbb80ceec
* Version Independent ID: 68d924e7-7b32-fb1b-44eb-efc116da63ab
* Content: [Guidance for developing Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#fileupdate)
* Content Source: [articles/azure-

[2019-02-02 23:03] mike-urnun-msft commented on #24040
Resolved as part of https://github.com/MicrosoftDocs/azure-docs/pull/24041

[2019-02-03 00:36] mike-urnun-msft commented on #24080
Hi @jfbosch Thank you for your feedback! We will review and update as appropriate.

[2019-02-03 01:51] blouwagie commented on #23416
Hi.
My comments were about the documentation in the hope that Microsoft would
make the document easier to read for others. I have indeed found how to
create named locations. But your document should directly link to or
explain how to create those rather than expecting us to hunt that down.
Thank you
Bart

On Wed, Jan 30, 2019 at 6:53 AM NeeleshRay-MSFT <notifications@github.com>
wrote:

[2019-02-03 02:37] fm4dd commented on #23397
Hi Mark,
I an not familiar with C#, but based on your description "Bad Request" may result from a malformed URL.

In your code, I would experiment with leaving out the "shortAudio" parameter and see if the error changes.

If it still persists, its best to run your app request through a local proxy (e.g. Burp) in order to examine the final generated request content. Comparing the app-generated requ

[2019-02-03 02:45] d-c-d commented on #13526
I also had a lot of similar issues - I could not download the code to the mxchip - but after many attempts and variations - the windows firewall popped up with a message that I "allowed" and the the code was able to be downloaded

I was able to view the data from the cloud using the sample app
node ReadDeviceToCloudMessages.js
but the terminal program reports errors when I try to use it
[Starting]

[2019-02-03 04:00] YutongTie-MSFT commented on #24081
@RonStack Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@prashanthyv Hi, could you please check this feedback? Thank you.

[2019-02-03 06:46] KetanChawda-MSFT commented on #23936
@sandeep-ma Thank you for providing the document details. I have assigned this to content author to review and provide and update as appropriate.

[2019-02-03 07:00] imeya opened #24096 "what about the other data when deallocate a vm?"
In the [Resize a VM](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-manage-vm#resize-a-vm) section, it mentions that : If the size you want is not available on the current cluster, the VM needs to be deallocated before the resize operation can occur. Deallocating a VM will remove any data on the temp disk xxxx.

So what about the other data or applications? for example if

[2019-02-03 07:17] imeya opened #24097 "what's the purpose of prepare data disks?"
after a data disk is added to an azure vm, we need prepare the data disk. I want to know the purpose of prepare data disk. and if I do not prepare it, is there any affect for use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b304db6-375e-863e-2260-64cde160404c
* Version Independent ID: b5571acc-5870-cf3f-e9bf-47363a

[2019-02-03 08:09] imeya opened #24098 "can you explain more about update domain and fault domain?"
can you explain more about update domain and fault domain? not very clear about them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57ffc39-d1a4-77f7-d78a-415db2deeae7
* Version Independent ID: 7ec4a1b0-6545-97e5-449c-f5e72df0242e
* Content: [Tutorial - High availability for Windows VMs in Azure](https://docs.microso

[2019-02-03 08:56] imtiaza1977 opened #24099 "Swapping Multiple HDD in Linux"
Dear Gurus,

I have Linux VM with following HDDs.

OS DISK:-
Name = Linux001-MD-02Feb19-Adeel-OSDisk1
Size = 32 GiB
STORAGE ACCOUNT = Standard HDD
ENCRYPTION = Not enabled
HOST CACHING = Read/write

Data disks:-
LUN : 0
Name = Linux001_DataDisk_0
Size = 1023 GiB
STORAGE ACCOUNT = Standard HDD
ENCRYPTION = Not enabled
HOST CACHING = Read/write

Data disks:-
LUN : 1
Name = Linux001_DataDisk_1
Size =

[2019-02-03 09:16] imtiaza1977 commented on #24099
Can someone please reply urgently. I am stuck in PRODUCTION.

[2019-02-03 09:19] imtiaza1977 opened #24100 "Swapping Multiple HDD in Linux"
Dear Cynthia Nottingham,

I have Linux VM with following HDDs.

OS DISK:-
Name = Linux001-MD-02Feb19-Adeel-OSDisk1
Size = 32 GiB
STORAGE ACCOUNT = Standard HDD
ENCRYPTION = Not enabled
HOST CACHING = Read/write

Data disks:-
LUN : 0
Name = Linux001_DataDisk_0
Size = 1023 GiB
STORAGE ACCOUNT = Standard HDD
ENCRYPTION = Not enabled
HOST CACHING = Read/write

Data disks:-
LUN : 1
Name = Linux001_Data

[2019-02-03 09:20] yanivlavi commented on #17857
@kobulloc-MSFT In general Application insights platform metrics don't have a description that I could find.
I think this item should track adding a table with those details.

[2019-02-03 09:28] imeya opened #24102 "How does the vm or application works in scale set?"
If in a scale set, it has 3 vms with a web application deployed. what's the relationship between each vms /web applications? just for load balance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1954e40-761b-9aaa-47e4-66a4f906f60b
* Version Independent ID: b7456079-ba57-a969-42b4-0234c214cc07
* Content: [Tutorial - Cr

[2019-02-03 10:33] paulio commented on #23980
Hi, I've got an update. The documentation on the site is fine providing a) I read it property :S - I don't export my models from the same place as the instructions - hence the naming problem b) I stop reading the first page and move on the subsequent page - that has much clearer instructions about what a Billing *endpoint* (not key as I stated) is. c) I don't have BASH, that didn't help, would be

[2019-02-03 11:04] paulio commented on #23980
FYI, there is a known bug in Docker that means you get errors after restarting Windows 10 with Docker. https://github.com/docker/for-win/issues/1038 This stops the LUIS container working. Restarting Docker is the fix.

[2019-02-03 11:56] MarkusVi commented on #23416
Hi @blouwagie, the location  condition has a **for more information** link that points to [What is the location condition in Azure Active Directory conditional access?](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/location-condition).
What is missing in this article?

[2019-02-03 13:40] skmkzyk commented on #24018
Application Gateway offers many kind of functions other than SSL offloading.

https://docs.microsoft.com/en-us/azure/application-gateway/overview

As you say, the Microsoft manage Web Apps infrastructure, but not protect from Layer-7 attack, such as SQL injection.
For such case, Application Gateway offers WAF functionality.
Additionally, if you gather several web sites to one domain, Application G

[2019-02-03 13:44] StingyJack opened #24103 "The creation of the resource group etc should be removed from this example"
This is just supposed to be for deploying via SFTP. The example should cover both new instance deployment and updating of an existing instance. The latter is missing..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7d73b21-aa15-4aa8-7a89-f22bc2a172b0
* Version Independent ID: 5d7b19c2-8170-a0b1-7c46-e1dff7b27d9b
* Con

[2019-02-03 14:29] PingPongSet opened #24104 "Conflicting advice on using Graph API over MS Graph"
Hi,
On this article, below is mentioned
"
Consider using the Graph API for user migration ..."

However, when I clicked the link provided below
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet

"You must use the Azure AD Graph API to manage users in an Azure AD B2C directory"

"we recommend the use of Microsoft Graph over Azure AD Graph,

[2019-02-03 14:42] aquibqureshi26 opened #24105 "Is there any SLA if i deploy 2 VMs in paired region"
I have 2 VMs one in West India and 2nd is in South India. both the individual VM would be 99.90% SLA as they are premium storage. My question is Does Microsoft provide composite SLA if i deploy the VMs in paired region?
 And if yes then what would be the SLA of service in my scenario?

There is an article which mentions about the composite SLA.
https://docs.microsoft.com/en-us/azure/architecture/r

[2019-02-03 14:44] aquibqureshi26 commented on #23894
Please highlight this internally.

[2019-02-03 15:13] dba4mssql opened #24106 "Missing example: ASP.NET 4.7.1 - 'Access your secrets in code'"
In the comments the article says 'Now, you can access your secrets in code. The next steps are different depending on whether you are using ASP.NET 4.7.1 or ASP.NET Core.'

There is no example for ASP.NET 4.7.1 for the section 'Access your secrets in code'

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 776dc3e0-fe6e-fd

[2019-02-03 15:17] Norrch2 opened #24107 "Jquery version"
Currently, it appears that Azure B2C is using JQuery version 1.10. Are there any plans on updating the JQuery version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 818e437f-75d7-30f1-d6fe-e57288abbc54
* Version Independent ID: 876c370e-e6f1-0e30-4ab7-e502643196bd
* Content: [JavaScript samples for use in Azure Active

[2019-02-03 15:40] zpappa commented on #16997
This is still an issue. I can't begin to understand how hard it is to make all these PAAS services work and play nicely with multiple tenants, but if aggregation does not work this is not really a Mongo compliant API and a lot of the use cases for Cosmos start to fall apart, is there any update on when this functionality will be available again? Selecting less than 100K rows in an aggregation quer

[2019-02-03 16:06] rimman commented on #16997
@zpappa, as mentioned above - we are working on it. In the meantime, please connect with us at AskCosmosDB@microsoft.com and we try to help and unblock you. Thanks!

[2019-02-03 16:09] peter-foreman opened #24108 "Step 9 Issue"
On step 9 -resource-group should be --resource-group in the command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7beda32-f5fd-67b9-4845-015c92c771b4
* Version Independent ID: ef40c319-99cf-2933-7eaa-d04c381d4053
* Content: [Connect your on-premises network to an Azure virtual network: Site-to-Site VPN: CLI](https://

[2019-02-03 17:00] MicahMcKittrick-MSFT commented on #24099
@imtiaza1977 this script only replaces the OS disk. It is not designed to swap the Data Disks. What exactly are you trying to achieve?

[2019-02-03 17:03] MicahMcKittrick-MSFT commented on #24096
@imeya only the temp disk (Drive D) will be removed when you dealloate or resize the VM. The OS disk and all data disks will stay in tack and all your applications will remain.

[2019-02-03 17:05] MicahMcKittrick-MSFT commented on #24097
@imeya if you do not prepare the disks the OS will not recognize the attached disks and you will not be able to use them. This is standard in the Windows space. The disk will be attached but there will not be a usable partition for you to store data on. Hence, you need to prepare the disk in order to actually have the OS recognize it and use it.

[2019-02-03 17:07] MicahMcKittrick-MSFT commented on #24102
@imeya all VMs in a Scale Set are identical. They hold the same data and the same applications. So in your example, you would have 3 VMs that each host your Web Application. The load balancer that is attached to the scale set will take incoming web traffic and route it to whatever VM is most available. This way you balance resources and it ensures your web application is highly available. In addit

[2019-02-03 17:09] MicahMcKittrick-MSFT commented on #24098
@imeya this doc should help you better understand

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/manage-availability

[2019-02-03 17:11] MicahMcKittrick-MSFT commented on #24105
@aquibqureshi26 the SLA would still be 99.90% unless you also paired them with a load balancer to manage the traffic between the two. Without that there is nothing actually binding the two VMs together to ensure high availability.

[2019-02-03 17:11] #23973 closed

[2019-02-03 17:16] ericnewton76 opened #24109 "WebJobs screen should note that scheduled triggers are in GMT."
This should be written right down below the cron expression:
"Scheduled tasks time zone is GMT +0.00" or similar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24523dbf-010f-b844-5ff0-88192eac8849
* Version Independent ID: d7ef5962-d94c-96d0-bf08-1efffc6d402b
* Content: [Run Background tasks with WebJobs - Azure App S

[2019-02-03 17:17] ericnewton76 opened #24110 "WebJobs should allow for editing schedule/CRON expression after created."
Since I didnt realize (but should've known) that WebJobs run the schedule on GMT time, I needed to just change the CRON expression, but there's apparently no way to do this...!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24523dbf-010f-b844-5ff0-88192eac8849
* Version Independent ID: d7ef5962-d94c-96d0-bf08-1efffc6d4

[2019-02-03 17:18] aquibqureshi26 commented on #24105
thanks. Yes i was assuming that traffic is being load balanced. if I bind it with load balancer then SLA for my service would increase than 99.90%? then what would be the SLA if load balancer is being used.

[2019-02-03 17:19] ericnewton76 commented on #24110
Note this is a WebJobs feature request... somehow the documentation feedback should include direct links for Feature feedback (in this case, direct feedback for Azure AppService WebJobs feature)

[2019-02-03 17:21] AjayKumar-MSFT commented on #23661
@buttons019, Glad to know that the solution worked! Thanks for your comment!  Your feedback has been shared with the content owner (@cephalin) for further review.

[2019-02-03 17:21] vikaskumawat80 commented on #24018
SQL Injection could be a point.
Anything else do we have to add in terms use cases?

[2019-02-03 17:21] ericnewton76 opened #24111 "Webjobs console doesn't support colorization"
Webjobs console apparently doesnt support colorization, ie, running a Powershell ps1,

[code]
fails.

Powershell host environment should either A) support colorization, B) just output without colors

Expected output:
Starting job

Actual output:
"Error, something about feature not available" and no output...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-02-03 17:46] imtiaza1977 commented on #24099
Dear Micha,
Please see that I have one Linux server.
Which has three disks.
A) OS DISKS
B) 2 DATA DISKS

Now I have taken the Snapshot of VM disk and from that SS I have created MD.
After that i start the VM and done some work on it. Do some changes and etc etc.
Now i want to restore the SS from MDs, so, to attach the MD to the same VM.
I successfully attached the OS DISK but cannot attach the DAT

[2019-02-03 17:57] MattHoney89 opened #24113 "How to comunicate with Azure"
Hi,
How azure recognize the application during the call?
i mean, i am expecting that after the app id registration i can use the Sign on url to comunicate with azure.
where i should insert the app id code to authorize the access to my application into azure?
Should be some kind of concatenate between App Sign In Url posted and APP ID code?

thanks
regards

---
#### Document Details

⚠ *Do not edit

[2019-02-03 18:09] aquibqureshi26 opened #24114 "Issue with docs being incorrectly referenced?"
Issue #1

https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-retain-ip-azure-vm-failover#after-failover-2

In the section : Hybrid Resources: Full Failover, After failover i can see below line

"With target IP addresses already in place before the failover, Company B can orchestrate failover and automatically establish connections after failover between Recovery VNet and Azure VNet

[2019-02-03 18:19] veyalla commented on #23265
Hi @raghavan20

1. All components of the Edge runtime (edge daemon, agent and hub) participate in enabling offline functionality.

2. When using Azure IoT SDKS all user module to module communication flows through the Edge hub module. Edge hub module uses a RocksDB store internally to store and forward messages between local modules or to IoT Hub.

3. Which API are you using to set message TTL in

[2019-02-03 18:20] aquibqureshi26 opened #24115 "Two circuits with single peering location : Need clarification"
Team,
Thanks in advance, you mentioned that two circuits with single peering location. so here you are referencing "peering location" as the physical location where I'm peering with Microsoft this is same as the peering location selected while creating the express route circuit? or the "Location" of the Express Route resource object on Azure region, this is the "Location" while creating Express Ro

[2019-02-03 19:00] YutongTie-MSFT commented on #24103
@StingyJack Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-03 19:01] YutongTie-MSFT commented on #24104
@PingPongSet
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-03 19:17] YutongTie-MSFT commented on #24107
@Norrch2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-03 19:19] YutongTie-MSFT commented on #24115
@aquibqureshi26 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-03 20:28] codescream opened #24116 "Always getting 'bad request' response"
[Try to implement the speech enrollment API but always getting a bad request response. Here's my code: using System;
using System.Net.Http.Headers;
using System.Text;
using System.Net.Http;
using System.Web;

namespace SpeechRecEnroll
{
    class Program
    {
        static void Main(string[] args)
        {
            MakeRequest();
            Console.WriteLine("Hit ENTER to exit...");

[2019-02-03 20:39] cihanduruer opened #24117 "UI code generation issue with Client Certificate authentication option"
Documentation in this page suggest pfx property as following line,
    "pfx": "aGVsbG8g...d29ybGQ=",

Which is correct. But when user is pasting their base64 encoded pfx into the pfx field then Connector UI generates pfx property as below.
    "pfx": "@{base64('aGVsbG8g...d29ybGQ=')}",

After execution connector throw an error as "Bad Request. Could not load the certificate private key. Please che

[2019-02-03 21:16] pacuna opened #24118 "Error sending http request and maximum retry encountered.."
I just launched a new cluster using the defaults (6 vm's in total) and every time I try to run a command in a Jupyter Notebook I get:

[code]

I deleted the cluster, launched a new one and the issue persists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5d1e18c-9a28-c454-0db9-ae52eeb467e0
* Version Independent ID: 0

[2019-02-03 21:28] jtuliani opened #24119 "Gen 2 support?"
Is it still the case that there is zero support for Gen 2 VMs? See for example http://www.aidanfinn.com/?p=21416

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a825bf42c82f
* Version Independent ID: 58aa93af-4030-1541-a14c-c66c683ccf7c
* Content: [Prepare a Windows VHD to upload to Azure](https:

[2019-02-03 21:42] StingyJack opened #24121 "how can a single webjob be deployed from a CLI?"
i dont want to deploy the whole web app or app service from a build/release pipeline. SFTP isnt a great option as there isnt a native powershell client.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b7b9f5c-4610-8cea-28d4-fea8ea03e7e1
* Version Independent ID: cc09b46d-cd40-45e8-ed45-7a0e3bf4b100
* Content: [Develop

[2019-02-03 23:14] mike-urnun-msft commented on #24117
Hi @cihanduruer Thank you for your feedback! We will review and update as appropriate.

[2019-02-04 00:21] v-maroge commented on #23257
Sorry to ping, any update on this?

[2019-02-04 00:51] KeiroKamioka0000 opened #24123 "Expected behavior when scale down to free plan"
Is there are expected behavior when Service Plan scale down from over the basic?

Is existing deployment slot will be deleted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e26e5a4-7b72-ba7e-cfed-e31a4a8aaef9
* Version Independent ID: dc783fe3-bd1a-c25e-2b92-903595c0822e
* Content: [Application performance FAQs - Azu

[2019-02-04 00:52] PingPongSet commented on #24079
the p= query parameter is missing in the token request:

https://mytenant.b2clogin.com/mytenant.onmicrosoft.com/oauth2/v2.0/token?p=B2C_1_ROPC_Auth

[2019-02-04 00:52] #24079 closed

[2019-02-04 00:59] sergaz-msft commented on #18981
@xsqian please check if this helps solving the issue: https://github.com/MicrosoftDocs/azure-docs/issues/23151

Thanks!

[2019-02-04 01:55] skmkzyk commented on #24018
Considering a combination of Application Gateway and Web Apps, below items might be assumed.

- improve security level. (WAF is not supported by Web Apps itself)
- create custom error pages. (it also not support by Web Apps as now)
- aggregate of your several sites to one domain. (when having multiple Web Apps)
  - 1) foo.contoso.com and 2) bar.contoso.com -> 1) www.contoso.com/foo and 2)www.conto

[2019-02-04 02:04] nzaetta commented on #10122
Same issue. Have verified with Zoom support as to the SAML being passed and it does not include user.assignedroles
Also, when editing the user role via Enterprise application > zoom > users the role is aways 'none selected'

[2019-02-04 02:06] KeiroKamioka0000 opened #24131 "Does it run on same sand box?"
Is there are the possibility of that both parent and child runbook run on same sandbox?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23c183d0-5012-e2e1-5562-69135b3f6509
* Version Independent ID: 7f36ff87-e24a-7442-8d42-f621f5391814
* Content: [Child runbooks in Azure Automation](https://docs.microsoft.com/en-us/azur

[2019-02-04 02:10] sergaz-msft commented on #23265
Assigning this issue to @kgremban since we may want to reuse some of the topics discussed on this thread to enhance the doc. Thanks!

[2019-02-04 02:20] kazshi opened #24132 "description about 'Analytics (Preview)'"
I'm looking for content about Analytics (Preview) covering details of the feature (retention period, if it's possible to export analytics (need to use Monitor?, etc.)) since I received a few questions from my customer.  Where can I find content about 'Analytics (Preview)'?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-02-04 02:46] LaurentLesle opened #24133 "Data factory is not mentioned in the supported Managed Identity services"
Would be good to add a reference of Data Factory in the other Azure services:
https://docs.microsoft.com/en-us/azure/data-factory/data-factory-service-identity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd6bdc9-b545-f273-dc80-eeb69107d919
* Version Independent ID: dbbbadd6-f533-33e3-1c1f-7cbc889b20b7
* Content: [M

[2019-02-04 03:10] willzhan commented on #21553
In this case, in v 3, a content key is tied to a streaming locator which is tied to an asset, so you need to create a "dummy/ghost" (small) asset "as if" you are using Azure Media Services for streaming. From its URL you can get its MPD hence license delivery URL. Of course in your case you do not actually stream from the "dummy" asset. You can choose a tiny video to save storage space. Notice tha

[2019-02-04 03:13] imeya opened #24135 "How to order items in makeset?"
Is there a way to order items in makeset()?

There are some confusion in docs.

In this [doc](https://docs.microsoft.com/en-us/azure/kusto/query/makeset-aggfunction) -&gt; Returns section, it says that
: Returns a dynamic (JSON) array of the set of distinct values that Expr takes in the group. The array's sort order is undefined.

But in another [doc](https://docs.microsoft.com/en-us/azure/azure-m

[2019-02-04 03:30] derekschartung opened #24136 "metadata import"
No response received. Please ensure Metadata URL is correct or contact your Azure AD admin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38cad90-6574-38c2-3262-059a9f975064
* Version Independent ID: dd08d5c5-65a4-c2cc-8b51-7a35268dde68
* Content: [Tutorial: Azure Active Directory integration with JIRA SAML SSO by Mi

[2019-02-04 03:35] Ayanmullick opened #24138 "Azure SQL RBAC thru PowerShell"
Is there documentation on how to do Azure SQL database RBAC thru PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 429955f9-093b-70bd-9461-4269ad2eb8e9
* Version Independent ID: 9aad7a41-bca9-9159-0cc7-c79516648857
* Content: [Azure SQL logins and users](https://docs.microsoft.com/en-us/azure/sql-database/sql-

[2019-02-04 03:53] baimars commented on #23622
@AjayKumar-MSFT

Sorry, as I'm away this weekend.
I was able run the project under aspnet-samples/ChatRoom.

Unfortunately, when I tried running my project I experienced another issue "Two Hubs must not share the same name". I only have one Hub class and it's MVC.

Hope you can help me on this matter too. Thanks

[2019-02-04 03:54] grlima opened #24140 "The code displayed on this page does not retry as indicated"
The code showed in item "4" on the "Open and edit the solution" section does not work as indicated. In case a 429 is returned by keyVault, the code won't actually retry as suggested. That's because the try/catch block is outside of the loop. In addition, the variable "waitTime" is not used anywhere in the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-02-04 04:04] harrchen88 opened #24141 "Table and content are not consistent - in text, it says only dynamic public IP can be associated with VPN and Appliation Gateways. However, in the table, it marked as "YES" for both dynamic and static allocations."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-02-04 04:29] zakramer opened #24144 "PowerShell Commands Fail"
When running the powershell commands they failed until I added -SkipVmBackup and -Volume All.

Seems like they will fail if you did not configure backup and need to specify volume

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fced1c4-261e-91b2-6756-766304dd0739
* Version Independent ID: 7a561a07-b166-e2de-bba6-8ce582

[2019-02-04 04:44] CHEEKATLAPRADEEP-MSFT commented on #23815
@Michael-McD We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-04 04:44] #23815 closed

[2019-02-04 04:49] KetanChawda-MSFT commented on #24132
@kazshi Thank you for your feedback. We will review and provide an update as appropriate.

[2019-02-04 04:53] jakaruna-MSFT commented on #23457
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-02-04 04:53] #23457 closed

[2019-02-04 04:54] theplaz opened #24145 "Exchange Online Legacy Authentication - Caching"
Hi, this is an update to #6293 and https://blogs.technet.microsoft.com/exchangeteamjp/2017/10/27/authentication-cache-for-exchange-online-and-outlook-2/

Can you please provide additional information about how Basic Auth is cached between Exchange, Azure AD and the STS (ID provider)?

How does Exchange know when to use the cache?  Does Exchange hash the password (eg same hash = allow)?  Does Excha

[2019-02-04 04:54] PramodValavala-MSFT commented on #23622
@baimars I hope you got the sample in this doc working as expected now.

This repo is for addressing doc bugs / enhancements. For the issue with the other sample, it would be best if you could open a thread on [ASP.NET Forum](https://forums.asp.net/1254.aspx) / [Stackoverflow](https://stackoverflow.com/search?q=signalr+service) or the [samples' github repo](https://github.com/aspnet/AzureSignalR-s

[2019-02-04 04:57] SumanthMarigowda-MSFT commented on #24144
@zakramer Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-04 04:59] baimars commented on #23622
@PramodValavala-MSFT  Following the sample document, still fails. But the sample project already works, so I think, it's ok for now. Thanks

[2019-02-04 05:03] PramodValavala-MSFT commented on #23662
@Blackbaud-PeteLukich Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-04 05:03] #23662 closed

[2019-02-04 05:03] PramodValavala-MSFT commented on #23797
@andrewkittredge Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-04 05:03] #23797 closed

[2019-02-04 05:05] SumanthMarigowda-MSFT commented on #23157
@MouthOfMadness
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-04 05:06] PramodValavala-MSFT commented on #23971
@chris31389 Based on your reaction to my previous comment, I hope it answers your query.

Since the issue #20971 is already open for tracking the doc update for this, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-04 05:06] #23971 closed

[2019-02-04 05:08] KetanChawda-MSFT commented on #24123
@KeiroKamioka0000 Deployment slots are available from standard and above. You cannot create Deployment slot when your app is running under Basic App Service plan.

See [this](https://azure.microsoft.com/en-in/pricing/details/app-service/plans/) document for details:

Downgrade an App service Plan from `Standard` to `Basic` with deployment slots are not allowed. It will fail with an error.

[2019-02-04 05:19] AshokPeddakotla-MSFT commented on #23705
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-04 05:19] #23705 closed

[2019-02-04 05:43] SumanthMarigowda-MSFT commented on #23707
@john-louden Thank's your feedback!
We are looking to add experiences to the page soon that help reflect which regions zones enabled !
You can keep a track of Azure updates : https://azure.microsoft.com/en-in/updates/

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly c
ontinue the discussion and we will reop

[2019-02-04 05:43] #23707 closed

[2019-02-04 05:46] AlexanderTodorovic opened #24149 "Blob Storage Contributor Role"
Dear All,
Blob Storage Contributor Role means Storage Blob Data Contributor (Preview) Role?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a994ea-f6f8-f141-50a4-e7813eecc668
* Version Independent ID: 4e111632-85b9-d6cc-1a7c-e36f84bd83d7
* Content: [Tutorial: Learn to perform extract, load, and transfer operati

[2019-02-04 05:49] SumanthMarigowda-MSFT commented on #22309
@clouditspace We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-04 05:49] #22309 closed

[2019-02-04 05:52] SumanthMarigowda-MSFT commented on #24149
@AlexanderTodorovic Thanks for your question. We are checking on this and will respond to you soon.

[2019-02-04 05:52] CHEEKATLAPRADEEP-MSFT commented on #24118
@pacuna Thanks for reporting this issue. We are actively investigating and will get back to you soon.

[2019-02-04 05:56] SumanthMarigowda-MSFT commented on #20989
@isamllr  Thanks for your feedback! Your feedback has been shared with the content owner for further review.

[2019-02-04 05:57] Karishma-Tiwari-MSFT commented on #23981
@larryms  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-02-04 05:57] #23981 closed

[2019-02-04 06:04] SubhashVasarapu-MSFT commented on #23575
@solidcloudio Appreciate your patience. We are assigning this issue to content author for a quick response.

[2019-02-04 06:12] AshokPeddakotla-MSFT commented on #23706
@adriantorrie We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-04 06:12] #23706 closed

[2019-02-04 06:14] MohitVerma-MSFT commented on #24135
Hi @imeya ,
Thank you for reaching out. Could you please try below syntax:-

`requests
| summarize makeset(client_City) by client_City
| distinct client_City
| order by client_City asc

`

[2019-02-04 06:17] dcbrown16 opened #24154 "Portal vs "Azure services""
" If the destination address is for one of Azure's services, Azure routes the traffic directly to the service over Azure's backbone network, rather than routing the traffic to the Internet. Traffic between Azure services does not traverse the Internet, regardless of which Azure region the virtual network exists in, or which Azure region an instance of the Azure service is deployed in."

Can you sa

[2019-02-04 06:31] AshokPeddakotla-MSFT commented on #23548
@djburnham As mentioned in the steps 4.c, You need to browse the note book path. It will select the complete path as you mentioned.
![image](https://user-images.githubusercontent.com/44426435/52193232-30b50d80-2874-11e9-866f-002a6c9350f4.png)

![image](https://user-images.githubusercontent.com/44426435/52193299-92757780-2874-11e9-971e-57a3c86da861.png)

Regarding the examples, we will look into th

[2019-02-04 06:31] #23548 closed

[2019-02-04 06:38] imeya commented on #24135
thank you. But what I want is that the result is a set(in 1 row like ["a","b","c"]), not in many rows like in row1: a, in row 2, b.

[2019-02-04 06:43] GeethalakshmiG commented on #23564
Can you provide detail of whether the OS disk is encrypted? We do not consider VM as encrypted unless and until OS disk is encrypted. Depending on Yes or No we can take the case further( if it needs ICM or not)

[2019-02-04 06:45] dominicbetts commented on #23804
Hi @KingdomOfEnds - I'm going to request that this issue is closed - if you have any follow-up questions, please reopen it. Thanks!

#please-close

[2019-02-04 06:47] GeethalakshmiG commented on #23790
Hi if it is instant RP recovery then it will be in order of minutes and if the recovery is from vault it will be in the order of hours. We have recently introduced Restore progress bar which will help you to estimate the time of restore operation,

[2019-02-04 06:49] SumanthMarigowda-MSFT commented on #23155
@paisleypark  Thanks for bringing this to our attention. Your feedback has been shared with the content author and they are working on it, It will be updated soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-04 06:49] #23155 closed

[2019-02-04 06:50] dominicbetts commented on #20467
Hi @manchejs0 - We've made a number of changes to this article, and to the scripts in the repo to address issues with environment variables. Have you retried the steps recently?

[2019-02-04 07:07] sylvianya opened #24170 "Error while creating storage account and other azure resources using powershell"
When running new powershell commads to create a storage account getting the errors "the term new-azstorageaccount" is not recognized as the name of a cmdlet".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee9ec76-a91f-095a-5ba3-b9c413366751
* Version Independent ID: 29c17263-ed56-d42e-bc3f-091ef2b4b9ff
* Content: [Qu

[2019-02-04 07:12] neeleshray commented on #23942
@billmath
Bill, could the steps to enable the On-Premise AD Recycle Bin be included in this document ?
Example: [https://blogs.technet.microsoft.com/canitpro/2014/04/30/step-by-step-enabling-active-directory-recycle-bin-in-windows-server-2012-r2/](https://blogs.technet.microsoft.com/canitpro/2014/04/30/step-by-step-enabling-active-directory-recycle-bin-in-windows-server-2012-r2/)

[2019-02-04 07:14] YASWANTHM-MSFT commented on #24170
@sylvianya, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-02-04 07:16] AjayKumar-MSFT commented on #24121
@StingyJack, Thanks for the question! We are investigating and will update you shortly.

[2019-02-04 07:16] SumanthMarigowda-MSFT commented on #24144
@zakramer When exactly are you facing this issue?
Can you share the PS cmdlets and screenshot of the error message?

[2019-02-04 07:18] TsunehisaYamasaki opened #24171 "Regarding exceptions for SQL DW, we need to add comments"
https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#exceptions

we need to add the comment. Internal ICM num is 101571809. Product Team has already confirmed this necessity.

------------
Important
Regarding Azure SQL Data Warehouse, Be sure to check "Impact of using VNET Service Endpoints with Azure storage" (**) for the connection to Azure storage with firewall or VNET

[2019-02-04 07:18] AshokPeddakotla-MSFT commented on #23455
@Venug1234 Since we didn’t hear back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.
Also, I suggest you, create a forum thread by choosing the service on which you are trying this for better visibility.

[2019-02-04 07:18] #23455 closed

[2019-02-04 07:20] angoyal-msft commented on #23885
@Jothi3125 Although there is no single document that provides the answer, you can refer below tutorial for reference:

https://docs.microsoft.com/en-us/azure/key-vault/quick-create-powershell

Example:
(Get-AzureKeyVaultSecret -vaultName "Contosokeyvault" -name "ExamplePassword").SecretValueText

Combined with this:
https://blogs.msdn.microsoft.com/datamigration/2018/02/08/automating-the-end-to-en

[2019-02-04 07:20] cliffkoh opened #24172 "JS example for `delay` is wrong"
In the example, there is
[code]

However this is wrong because in version 1.7.1 of durable functions extension, currentUtcDateTime is a string and does not have the getDate() method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1a5a8a-2bff-1994-59bf-708900728297
* Version Independent ID: 9e1a5c40-686d-78b5-37f6-b16

[2019-02-04 07:26] kazshi opened #24173 "adding user to db_securityadmin in master database"
Can we add user in the master database to db_securityadmin (role in the master database)?
I tried to add user ('Mary' in the 'Database creator' for example) to db_securityadmin in the master database, but I got "Cannot alter the role 'db_securityadmin', because it does not exist or you do not have permission.".
My understanding is the user 'Mary' is a database user from the Note (under step.4), so

[2019-02-04 07:41] SubhashVasarapu-MSFT commented on #23694
@solidcloudio  Appreciate your patience. AFAIK This feature is not yet available in WAF. @vhorne Can you please provide your insights on this.

[2019-02-04 07:44] SumanthMarigowda-MSFT commented on #24171
@TsunehisaYamasaki Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-04 07:47] SadiqhAhmed-MSFT commented on #24131
@KeiroKamioka0000 Thanks for the comment! We are investigating on this and will get back to you soon.

[2019-02-04 07:47] YutongTie-MSFT commented on #24141
@harrchen88 Hi, thanks for your feedback. Could you please share the document you are referring to?

[2019-02-04 07:48] YutongTie-MSFT commented on #24145
@theplaz Thanks for the follow-up. We will investigate it and get back to you soon.

[2019-02-04 07:49] YutongTie-MSFT commented on #24172
@cliffkoh
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-04 07:49] YutongTie-MSFT commented on #24133
@LaurentLesle Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-04 07:50] YutongTie-MSFT commented on #24138
@Ayanmullick
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-04 07:50] imeya opened #24175 "When start continuous export to azure storage, then no trace messages are find in azure portal."
After I create a continuous export to azure blob storage, then send some traces messages by using code client.TrackTrace(trace message);
But the weird thing is that after some minutes(20 minutes or more), I nav to azure portal -&gt; application insights -&gt; search, I can not find any trace messages(as well as some exceptions message I tracked use client.TrackException(xxx)).

I don't know what's

[2019-02-04 07:51] YutongTie-MSFT commented on #24136
@derekschartung
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-04 07:52] YutongTie-MSFT commented on #24140
@grlima Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-04 08:31] raghavan20 commented on #23265
1. Thanks for confirming Edge runtime (edge daemon, agent and hub) participate in Edge offline functionality. can you confirm/document what are minimum versions required of all these components to full offline functionality?

2. so with RocksDB, do the messages overflow from RAM to disk? Is there an easy way to check messages are overflowing to disk in a given setup?

3. regarding TTL, a custom mo

[2019-02-04 08:32] bertrandpons commented on #23965
@Mike-Ubezzi-MSFT Thank you for your replies. Do you mean that connection string formatted by Entity Framework is no supported for Managed Identity ? (as an example: metadata=res:///Models.FooBarContext.csdl|res:///Models.FooBarContext.ssdl|res://*/Models.FooBarContext.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:fooserver.database.windows.net,1433;Database=foobar;User

[2019-02-04 08:42] bakasura11 commented on #20057
+1 I'm also looking for similar stuff, monitor the RUs of cosmos DB and change the value of throughput dynamically so that subsequent call don't impact.

dynamically means scale up when needed and scale down when not used

[2019-02-04 08:45] ChiragMishra-MSFT commented on #23690
@ulitosCoder I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureStreamAnalytics) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-stream-analytics).

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

Pleas

[2019-02-04 08:45] #23690 closed

[2019-02-04 08:54] #23962 closed

[2019-02-04 08:57] clemensv commented on #23716
Answers to the questions are covered in the article:

q1: Replication is metadata only
q2: Clear distinction between outage and disaster
q3: Statement about replication rate

This issue should be closed with no action.

[2019-02-04 09:00] AshokPeddakotla-MSFT commented on #23716
@clemensv Thanks for looking into this one.
@msprateek We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-04 09:02] Jothi3125 commented on #23590
For the elastic pool, we should be able to define how many databases should be added to it.
So, the script should be a generalized one, so that user can add accodringly to the respective elastic pools.
Is there any powershell script for the same?

[2019-02-04 09:05] BhargaviAnnadevara-MSFT commented on #24175
@imeya Thanks for the question! We're investigating this and will get back to you shortly.

[2019-02-04 09:08] crshovrd41 commented on #13460
Reopening this case. You may want to update this section of this document. This is very misleading.

https://docs.microsoft.com/en-us/azure/network-watcher/diagnose-vm-network-routing-problem#test-network-communication

[2019-02-04 09:40] jakaruna-MSFT commented on #23945
@blakemartin We can configure this with ARM template as well.
Please go through [this ](https://docs.microsoft.com/en-us/azure/templates/Microsoft.ContainerInstance/2018-10-01/containerGroups) document which has all options.
In that document, [Log analytics](https://docs.microsoft.com/en-us/azure/templates/Microsoft.ContainerInstance/2018-10-01/containerGroups#containergroupdiagnostics-object) obj

[2019-02-04 09:41] SumanthMarigowda-MSFT commented on #24149
@AlexanderTodorovic
Blob Storage Contributor Role means Storage Blob Data Contributor (Preview) Role? Yes, If you are referring to this:

![capture](https://user-images.githubusercontent.com/44606021/52200554-1ccad500-288f-11e9-9d3f-3edf8bd4ec5f.PNG)

Azure Storage supports both built-in and custom RBAC roles. Azure Storage offers these built-in RBAC roles for use with Azure AD:
 Storage Blob Data

[2019-02-04 09:45] MohitVerma-MSFT commented on #24135
Hi @imeya ,

I tried to reproduce the issue with the steps you mentioned.  here are my findings;
Correct statement with regards to makeset would be , it would  returns a dynamic (JSON) array of the set of distinct values that Expr takes in the group. The array's sort order is undefined.
Meanwhile we are working on to correct this [document](https://docs.microsoft.com/en-us/azure/azure-monitor/log-

[2019-02-04 09:48] digitalpbk commented on #21553
Thank you for the clarification @willzhan

[2019-02-04 09:49] isshukla opened #24178 "Incorrect source name in “Network Watcher PowerBI flow logs template”"
“Network Watcher PowerBI flow logs template” have the an incorrect entry "neh", which is stopping the template to work.

Incorrect section:
=======================
    Source = AzureStorage.Blobs(StorageAccountName),
    #"insights-logsneh-networksecuritygroupflowevent1" = Source{[Name="insights-logsneh-networksecuritygroupflowevent"]}[Data],
    #"Sorted Rows" = Table.Sort(#"insights-logsneh-netw

[2019-02-04 09:54] JonesMikael commented on #8367
I agree that this is not clear. I just stumbled across this and tried to read up on what this choice actually meant and was still confused and ended up on this Issue thread. I see the issue closed but I agree with @SoccerCore11

[2019-02-04 10:00] miqm opened #24179 "Using EventGridEvent for Runtime v1 is broken"
The note on this page suggests, that you can use EventGridEvent on Runtime v1 if you reference additional nuget package.
But you cannot do this, because the eventgrid subcription cannot be created for that function - validation message responds with 404 and "cannot find function: 'FunctionName'". For more info see stackoverflow question: https://stackoverflow.com/questions/54462432/azure-functions

[2019-02-04 10:03] VincentGuigui opened #24180 "What is the call frequency at which the Billing endpoint is called by the container ?"
In order to plan entreprise deployment, call frequency of external endpoint should be explained

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc19d2e0-5960-c165-083c-a9dcf9976c91
* Version Independent ID: 58d32965-6909-2461-5158-aa66d904bf3c
* Content: [Docker containers - Language Understanding - Azure Cognitive Serv

[2019-02-04 10:05] VincentGuigui opened #24181 "More explaination regarding Unsupported dependencies"
Why are there some unsupported dependencies (like Keyphrases, german language, prebuilt domains...) and will they be removed at some point ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc19d2e0-5960-c165-083c-a9dcf9976c91
* Version Independent ID: 58d32965-6909-2461-5158-aa66d904bf3c
* Content: [Docker containers -

[2019-02-04 10:10] angoyal-msft commented on #24173
@kazshi could you please try `alter server role` instead of `alter role` is for database roles, but sysadmin is server role:

`ALTER SERVER ROLE server_role_name ADD MEMBER p_sys`

[2019-02-04 10:40] darshankumarys commented on #23901
Hi @YutongTie-MSFT @Sara-Nicolini  have you got to look into issue please ?

[2019-02-04 10:58] sergaz-msft commented on #23402
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-04 10:58] #23402 closed

[2019-02-04 11:01] SubhashVasarapu-MSFT commented on #23773
@hisasima Thanks for your feedback. I have assigned this issue to content author for adding your valuable inputs and to update the document as appropriate.

[2019-02-04 11:01] sergaz-msft commented on #23584
@kgremban I couldn't find anywhere documented these pertinent questions from @raghavan20 . Do we have it somewhere else than docs.microsoft.com and if not can we enhance the doc with these details? Thank you!

[2019-02-04 11:09] AshokPeddakotla-MSFT commented on #23769
@ravikiran-srini The path should be "\\PackageName.dtsx\\MaxConcurrentExecutables" format. Here PackageName.dstx is given as an example name. If you have specified different name then please specify accordingly and check. What is the error message you are getting?

[2019-02-04 11:11] baimars commented on #23622
See fiddler and request below

![image](https://user-images.githubusercontent.com/47135815/52204972-9fb05780-28b0-11e9-9cb5-7df91af20954.png)

[2019-02-04 11:11] sergaz-msft commented on #24033
@rezasherafat is this known issue? Would you need me to go through the tutorial and check if I can repro it? Thanks.

[2019-02-04 11:18] sergaz-msft commented on #24036
Hi @JetstreamRoySprowl i see that you asked the same question on the right place :): https://github.com/Microsoft/tsiclient/issues/62 . I will close the issue here and request that someone else follow-up with you there.

Thanks!

[2019-02-04 11:19] AshokPeddakotla-MSFT commented on #23750
@axisc Please provide your insights on the above query.

[2019-02-04 11:19] sergaz-msft commented on #24036
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-04 11:19] #24036 closed

[2019-02-04 11:21] SadiqhAhmed-MSFT commented on #23468
@gseletko The request to update the IP's has been taken into consideration and the changes on the document would go live shortly. Thanks once again for sharing this feedback.

[2019-02-04 11:23] radhagpt opened #24182 "Need help regarding ARM Template error"
I am trying to create a container into an existing storage account
{
	"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"storageAccountName": {
			"type": "string",
			"defaultValue": "teststrdep"
		},
		"containerName": {
			"type": "string",
			"defaultValue": "logsred",
			"metadata": {
				"description

[2019-02-04 11:27] johnknoop opened #24183 "Let Azure Webapp access internal network of mesh"
I think this isn't really an alternative to creating an Azure Webapp, because of all the other things you get for free, like HTTPS termination, deployment slots etc etc. It would be great if you could let Azure Webapps be able to talk to services running in a Sevice Fabrich Mesh.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-proble

[2019-02-04 11:35] maganvill commented on #22676
@jluk and @sauryadas,

If this ([scale.go](https://github.com/Azure/aks-engine/blob/master/cmd/scale.go) and [cordondrainvm.go](https://github.com/Azure/aks-engine/blob/master/pkg/operations/cordondrainvm.go)) is this the code executing when scaling, it does only seems to do cordon and evict, right? But I don't have the whole picture either.

[2019-02-04 11:43] OffColour opened #24184 "Health Probes don't work in V2"
I've seen multiple reports of Backend health not working with v2, even with the correct NSG ports opened and experienced it myself.  All probes report "Unable to retrieve health status data. Check presence of NSG blocking ports".
Please add to known issues as until these work v2 is useless.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-02-04 11:45] sergaz-msft commented on #24037
@rezasherafat is this known issue? Would you need me to go through the tutorial and check if I can repro it? Thanks.

[2019-02-04 11:45] matheus-santoro opened #24185 "Azure Files instead of SIOS?"
Is there any way of configuring the ASCS shared drive by using the Azure Files solution? Is this supported by SAP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d21dc8b-7056-a6f4-da2d-cf29a30c90de
* Version Independent ID: 0d1c2146-4c6b-8fce-0487-9e91843f9733
* Content: [Prepare the Azure infrastructure for SAP HA us

[2019-02-04 11:46] OffColour commented on #23992
@TravisCragg-MSFT Thanks. This should tide me over until ACLs appear on the App Gateway as I really need to limit per listener as well.

[2019-02-04 11:46] #23992 closed

[2019-02-04 11:51] KetanChawda-MSFT commented on #24179
@miqm Thank you for posting your question. We will review this and provide an update as appropriate.

[2019-02-04 12:04] jakaruna-MSFT commented on #23190
I am closing this issue in favour of the MSDN thread(https://social.msdn.microsoft.com/Forums/en-US/dd7c2156-076e-4f76-a81a-f1a57f557134/how-to-use-psexec-for-remoting-executing-on-azure-vm?forum=WAVirtualMachinesforWindows).
Feel free to reopen if You are unable to get the answer from that thread.

[2019-02-04 12:04] #23190 closed

[2019-02-04 12:04] KalyanChanumolu-MSFT commented on #23359
@EmanMH Did you upgrade the @azure/cosmos packages ?
I was unable to reproduce this issue on package version 2.1.2
Could you please provide a sample document and package version for us to debug this.

[2019-02-04 12:12] santo2 opened #24186 "custom payload"
Can I find any documentation on how to use the custom payload for a metric alert? This one only seems to pop up when I'm creating a log alert, I can not check "custom payload" on a metric alert.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1390bec-bae0-2fe7-a29c-a242584fd7b3
* Version Independent ID: 27892ee4-2ec3-e

[2019-02-04 12:14] Ayanmullick commented on #24138
No, I'm looking for how to do the SQL database RBAC. Add an Azure AD user as 'db_datareader' to a specific Azure SQL database.

[2019-02-04 12:35] zakramer commented on #24144
I ran the following:

select-AzureRmSubscription -Subscription 'zakramer - internal Offer'

$rgName = 'azzakramerrg';
$vmName = 'zakramerrh2';
$KeyVaultName = 'zakramertestaz';
$KeyVault = Get-AzureRmKeyVault -VaultName $KeyVaultName -ResourceGroupName $rgname;
$diskEncryptionKeyVaultUrl = $KeyVault.VaultUri;
$KeyVaultResourceId = $KeyVault.ResourceId;

Set-AzureRmVMDiskEncryptionExtension -Resour

[2019-02-04 12:42] neeleshray commented on #24136
@derekschartung Thank you for your feedback . We will have it checked and update the threads accordingly.

[2019-02-04 12:52] SumanthMarigowda-MSFT commented on #24170
@sylvianya You need to install the Azure Modules,
 Install Azure PowerShell, run the following command in an elevated session ("Run as Administrator" on Windows, or with superuser privileges on macOS or Linux):

Install-Module -Name Az -AllowClobber

If you don't have access to administrator privileges, you can install for the current user by adding the -Scope argument.
Install-Module -Name Az -Al

[2019-02-04 13:05] guy1699 opened #24189 "404 File or directory not found."
On the command
databricks clusters list

I receive the following output

&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/&gt;
&lt;title&gt;404 - File or directory not found.&lt;/title&gt;
&lt;style type="text/css"&gt;
&lt;!--
body{margin:0;font-size:.7em;font-family:Verdana, Arial, Helvetica, sans-serif;backg

[2019-02-04 13:09] LisandroSu opened #24190 "Sample for set-backend-service / servicefabric is incorrect"
@KaiWalter commented on [Sat Feb 02 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/256)

This is not correct
    &lt;set-backend-service
        backend-id="servicefabric"
        sf-service-instance-name="service-name"
        sf-resolve-condition="@(context.LastError?.Reason == 'BackendConnectionFailure')" /&gt;

the string value inside the policy expression needs to be enclosed

[2019-02-04 13:09] LisandroSu commented on #24190
Hi team,

Please check this issue

Thanks!

[2019-02-04 13:32] richyla opened #24191 "RBAC issues since upgrade"
Just upgraded cluster to 1.11.5 and now having RBAC issues with dashboard.  Had previously configured a separate service account for dashboard and granted that permissions in cluster and used bearer token for login rather than grant kubernetes-dashboard service account permissions which was working.  Now on login with token receive the familiar error:

configmaps is forbidden: User "system:service

[2019-02-04 13:34] murdockcrc opened #24192 "Incompatible prerequisite versions"
The prerequisites section states the following:

* Install Azure Core Tools version 2.x.
* Install the Azure CLI. This article requires the Azure CLI version 2.0 or later. Run az --version to find the version you have. You can also use the Azure Cloud Shell.

This is not entirely correct. I tried running the following command `az functionapp create --resource-group xxx --consumption-plan-location

[2019-02-04 13:37] LudoBoggioTotal commented on #14812
Hello.
Any news about this subject ? I can see too that those rules are applied in the WAF logs, but impossible to deactivate them.
Thank you in advance.
Regards

[2019-02-04 13:43] LisandroSu opened #24193 "Jenkins 구성관련"
@zer0big commented on [Sun Feb 03 2019](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/311)

Jenkins 구성섹션에서 ssh로 VM 접속 후 다음 명령을 내리는 과정에서 추가 진행이 안됩니다.
sudo cat /var/lib/jenkins/secrets/initialAdminPassword

zerobig@zero-VM:~$ sudo cat /var/lib/jenkins/secrets/initialAdminPassword
cat: /var/lib/jenkins/secrets/initialAdminPassword: No such file or directory

반복적으로 시도해봤고 기다렸다가 해당 명령을 수행해봐도

[2019-02-04 13:43] LisandroSu commented on #24193
Hi team,

Please check this issue. Rough translation:

Thanks!

[2019-02-04 13:47] neeleshray commented on #24107
@davidmu1
David, Could you check on this ?

[2019-02-04 14:01] stmccartney opened #24194 "Restricted to gmail.com domain addresses only?"
The article implies, but doesn't explicitly state that this only works with users who have an @gmail.com address - custom G Suite domain don't currently work I don't think, is that correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed01893-a5cd-28bd-b865-e7ebe5870567
* Version Independent ID: b3d96be0-1470-eb2c-e

[2019-02-04 14:02] KasamShaikh opened #24195 "Link to Custom Decision Service Portal not working."
Link to Custom Decision Service Portal not working. Its redirecting to GitHub repository. Kindly update with appropriate link. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 398a427a-5bd5-ac41-284f-26892f310100
* Version Independent ID: e23fd2e6-f6c4-78e2-09ed-08c6fef13262
* Content: [Tutorial: Article perso

[2019-02-04 14:03] skmkzyk opened #24196 "Update screenshot of IP restriction page to follow recent update"
After recent Web Apps update, IP restriction for Kudu page (https://your-web-apps-name.scm.azurewebsites.net/) is able to configure from Azure Portal.
Please update the screenshot, and add some lines to tell we can limit application development access without putting XML file to accomplish it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-02-04 14:04] raghavan20 opened #24197 "IOTHub: Get device API reports connected devices as disconnected"
I have an Edge device (say DeviceA) managed by IOTHub and it has active Internet connection. If I login to IOTHub portal, the device would show as `OK` under `Runtime Response`.

On using the API https://docs.microsoft.com/en-us/rest/api/iothub/service/getdevice, it returns all devices (including DeviceA) as `Disconnected` for field `connectionState`. Does `connectionState` mean different from a d

[2019-02-04 14:05] Robert-Kostecki opened #24198 "Misleading statement "the replicated table is cached on the first distribution on each compute node.""
Replicated Table Section reads: "For SQL Data Warehouse, the replicated table is cached on the first distribution on each compute node."
How does only the FIRST distribution on each node CACHE data?
1.	Distributions are the way of storing data (across 60 databases). Consequently, a distributed table should be replicated across all 60 distributions and not just the first one.
2.	When it comes to ca

[2019-02-04 14:06] rv93 opened #24199 "Unable to get 'instanceView' of VM using azure graph"
## Unable to get 'instanceView' of VM using azure graph

Hi Team,
I skimmed through all the aliases mentioned on https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure but I couldn't find the one to get the instance view of the VM.

I'm trying to get the instance view (the running instance) details of the VM similar to how we get using:
[code]
or , in python sdk
[co

[2019-02-04 14:20] imeya commented on #24135
thanks again. then how to concat the result in one row, with comma seperated?

[2019-02-04 14:23] bseymour2 opened #24200 "API Managment"
I noticed that API Management has private VNET options (Premium & Developer).  Would that make the list for this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6dc2e62e8e
* Content: [Azure virtual network service endpoints

[2019-02-04 14:32] its-saurabhjain commented on #23408
Revisited the code again, but this part doesn't work. Getting the same error again.  "The target process exited without raising a CoreCLR started event. Ensure that the target process is configured to use .Net Core. This may be expected if the target process did not run on .net core." and https://localhost shows same above blank screen "This Site Cannot be reached".

[2019-02-04 14:39] klchung opened #24201 "'user.othermail' not available for selection in "nameidentifier" claim"
When configuring SSO via SAML to a HANA DB, the "Manage User Claims" setting does not have a value for "user.othermail" in the drop down list for claim name "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"

However, when adding a new claim name, the "user.othermail" is available for selection.  And when attempting to delete "nameidentifier" from the list of claim names, it is

[2019-02-04 14:47] SubhashVasarapu-MSFT commented on #23699
@shivakumarg06 To override the above error, Please add this line,
**-OsDiskCreateOption "FromImage" -OsDiskCaching "None" `**
Under Set-AzureRmVmssStorageProfile $vmssConfig `
So the final block should look like this,
Set-AzureRmVmssStorageProfile $vmssConfig `
  **-OsDiskCreateOption "FromImage" -OsDiskCaching "None" `**
  -ImageReferencePublisher MicrosoftWindowsServer `
  -ImageReferenceOffer W

[2019-02-04 14:51] hho opened #24202 "connectionDeviceId *can* be queried"
In the section titled "System properties", in the table, it says that `connectionDeviceId` cannot be queried.

However, the paragraph below the table states the opposite.

AFAICT the table is not correct, and the paragraph below the table is.

![image](https://user-images.githubusercontent.com/478228/52215704-edb76200-2894-11e9-8f18-c369c7930648.png)

---
#### Document Details

⚠ *Do not edit this

[2019-02-04 14:58] SubhashVasarapu-MSFT commented on #24184
@OffColour Thanks for your feedback. We are currently looking in to it and will update you soon.

[2019-02-04 15:00] SubhashVasarapu-MSFT commented on #24154
@dcbrown16 Thanks for your feedback. We are currently looking in to it and will update you soon.

[2019-02-04 15:02] SubhashVasarapu-MSFT commented on #24178
@isshukla Thanks for your feedback. We are currently looking in to this issue and will update the document appropriately.

[2019-02-04 15:03] dozunu opened #24203 "KeyVault and Virtual Network plus IP exceptions"
Hi, I secured the KeyVault by allowing connections only from the selected VNet and added IP exceptions and also allowing other Microsoft services passing through the firewall. But this impacts my Azure DevOps release pipeline which now cannot access the KeyVault. Any ideas on how to proceed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-02-04 15:13] papa-pep opened #24204 "CosmosDb graph partitioning"
I'm following the best practices according to the cosmosdb graph partitioning documentation. This works differently than it did previously where you had to opt in to cross partition queries. Is there still a way to opt in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e28f8ad6-5bbf-14a0-3231-476349a7bcb4
* Version Ind

[2019-02-04 15:13] ph-jo opened #24205 "Dead link to dps_cstr tool"
In the section "Prepare the client code" pt. 5., the link to download the dps_cstr tool is dead:

https://github.com/Azure/dps-keygen/tree/master/bin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f765cd3a-0b7c-a968-db21-258f59b6be6d
* Version Independent ID: 443e6cac-f25b-8f0c-628e-3b72f3df0239
* Content: [Add a real

[2019-02-04 15:14] SaurabhSharma-MSFT commented on #23784
@PingPongSet We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-04 15:14] #23784 closed

[2019-02-04 15:14] SaurabhSharma-MSFT commented on #23926
@artisticcheese We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-04 15:14] #23926 closed

[2019-02-04 15:15] SaurabhSharma-MSFT commented on #23996
@philliplyle We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-02-04 15:15] #23996 closed

[2019-02-04 15:22] femsulu commented on #23599
reassigning to @genlin as a doc-enhancement request to clarify documentaiton.

[2019-02-04 15:24] femsulu commented on #23766
Closing this for now since the initial question has been answered but reaching out to @vinynigam offline to share additional details on preview status.

[2019-02-04 15:24] #23766 closed

[2019-02-04 15:24] papa-pep commented on #24204
Hello,

I have been going through the documentation on partitioning a cosmos db graph here:
[](https://docs.microsoft.com/en-us/azure/cosmos-db/graph-partitioning#best-practices-when-using-a-partitioned-graph)

I am using the recommended Gremlin.Net 3.4.0rc2 client, but the behavior I'm seeing does not match the documentation.  From my testing, there doesn't appear to be a way to prevent a travers

[2019-02-04 15:25] kanshiG commented on #22384
Team apologies I am out PTO.

We have seen this issue when client os has earlier version of OpenSSL. This needs to be upgraded to latest-1.0.2 which has support for tls v 1.2.

Depending on os - you need way to upgrade the SW.

.
________________________________
From: Clay Roach <notifications@github.com>
Sent: Friday, February 1, 2019 8:39:35 PM
To: MicrosoftDocs/azure-docs
Cc: Govind Kanshi; Men

[2019-02-04 15:25] jvkessel commented on #10120
+1
@adagioajanes , I have the same issue with a number of clients.

Who is the owner of this issue and what is the current plan to resolution?

[2019-02-04 15:31] femsulu commented on #23790
Thanks for the answer, @GeethalakshmiG
@RyanLWilliams We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-02-04 15:32] #23790 closed

[2019-02-04 15:34] PingPongSet commented on #23784
@saurabhsensharma
The url you provided on your prevous is for Azure AD, but this example is about AD B2C. Can it be used for B2C?
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v1-dotnet-webapi

[2019-02-04 15:34] pmgriffin opened #24208 "Clarify use of Static Public IP with Azure App Gateway"
Under Application Gateways it is stated, "You can only assign a dynamic basic public IP address to an application gateway frontend configuration."  The "At A Glance" table directly afterwards contradicts that statement and indicates that Static Public IPs can be used with an App Gateway.   Which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-02-04 15:36] femsulu commented on #23984
@ponatara any update please?

[2019-02-04 15:36] RyanLWilliams commented on #23790
Is there any guaranteed throughput we can expect to get? e.g. 50MiB/s? This would greatly help business define their RPOs with Azure Backup?

[2019-02-04 15:55] sunilprabha opened #24210 "Unable to connect to Mysql as service db once SSL is enabled form Drupal 7"
I have downloaded the cert and updated the config in drupal.
DO::MYSQL_ATTR_SSL_CERT =&gt; 'D:\SSLCert Mysql\BaltimoreCyberTrustRoot.crt.pem',
    // PDO::MYSQL_ATTR_SSL_KEY =&gt; 'D:\SSLCert Mysql\BaltimoreCyberTrustRoot1.crt.pem',
    // PDO::MYSQL_ATTR_SSL_CA =&gt; 'D:\SSLCert Mysql\BaltimoreCyberTrustRoot1.crt.pem',

How ever i get the following errors
Warning: PDO::__construct(): Unable to se

[2019-02-04 15:56] GArrigotti opened #24211 "User Assignment Required"
We have selected "no" as the documentation suggest, but any user who attempts to use SSO does not access the application unless we manually add them to the application under users and groups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7a6c58c-f887-03a4-8f69-eb91a19e4fb3
* Version Independent ID: 4e53d964-7edf-5668

[2019-02-04 16:03] Ei-Thandar-Aung commented on #12690
Hi fhe-fr

 I also found this error
msrest.exceptions.HttpOperationError: Operation returned an invalid status code 'Bad Request' in training step. How do you solve it?Let me know.

[2019-02-04 16:06] MouthOfMadness commented on #23157
I’m running Powershell from VSTS (cloud versin) and I always select use the latest version.

More likely, documentation needs to be updated to reflect this change in --name to -n

From: SumanthMarigowda-MSFT <notifications@github.com>
Sent: Friday, February 1, 2019 3:10 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: James Mattern <James.Mattern@aiworldwide.com>; Mention <menti

[2019-02-04 16:07] gtrevi opened #24212 "NotificationsManager crashes since it still uses GCM"
NotificationsManager needs to be updated since internally it still uses GoogleCloudMessaging!!!

new AsyncTask<Void, Void, Void>() {
            @Override
            protected Void doInBackground(Void... params) {
                try {
                    setHandler(notificationsHandlerClass, context);

                    **GoogleCloudMessaging gcm = GoogleCloudMessaging.getInstance(context);**

[2019-02-04 16:08] gtrevi opened #24213 "NotificationsManager crashes since it still uses GCM"
NotificationsManager needs to be updated since internally it still uses the GoogleCloudMessaging class!!!

Opened issue https://github.com/MicrosoftDocs/azure-docs/issues/24212

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: affa806e-ed31-20b7-9aee-2b56572225ab
* Version Independent ID: 5dea14a7-065e-c21b-712c-0cee7d3ff

[2019-02-04 16:08] Alcasser opened #24214 "DataBricks cluster free tier"
I get the following error:

Cloud Provider Launch Failure: A cloud provider error was encountered while setting up the cluster. See the Databricks guide for more information.
Azure error code: OperationNotAllowed
Azure error message: Operation results in exceeding quota limits of Core. Maximum allowed: 4, Current in use: 1, Additional requested: 4. Please read more about quota increase at https://

[2019-02-04 16:13] AjayKumar-MSFT commented on #24116
@codescream, Thanks for the question! We are investigating and will update you shortly.

[2019-02-04 16:21] KetanChawda-MSFT commented on #24179
@miqm looking at the [SO](https://stackoverflow.com/questions/54462432/azure-functions-runtime-v1-eventgrid-subscription-create-fails/54480773) post that shared in your OP, It seems that your issue is resolved after using `JObject` instead of `Microsoft.Azure.EventGrid.Models.EventGridEvent`.

Also the example [C# (Version 1.x)](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bind

[2019-02-04 16:26] sunilprabha commented on #24210
Got it working with third setting not the cert .
Thanks for the pointer.  The correct setting is PDO::MYSQL_ATTR_SSL_CA => 'D:\SSLCert Mysql\BaltimoreCyberTrustRoot1.crt.pem',

[2019-02-04 16:40] Adam-Smith-MSFT commented on #24197
@raghavan20 Thank you for the valuable feedback,we are investigating the issue.

[2019-02-04 16:42] Adam-Smith-MSFT commented on #24199
@rv93 Thank you for the valuable feedback,we are investigating the issue.

[2019-02-04 16:53] RikardStrand opened #24215 "License requirements?"
Is there any license requirements for using a scope filter or is it possible to use with Azure AD Free version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a77e752-0785-c3bd-9b33-f37bb7af6acd
* Version Independent ID: d865098d-299a-ddeb-6eed-9a1db3175de3
* Content: [Provision apps with scoping filters](https://docs

[2019-02-04 17:08] pgbconfirmit commented on #23564
Yes, the OS disk is always encrypted.
We are using the AzureDiskEncryption Extension on all VMs, which encrypts both the OS disk and any Data disk(s).

From: GeethalakshmiG <notifications@github.com>
Sent: Sunday, February 3, 2019 10:44 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Peter Bollwerk <Peter.Bollwerk@confirmit.com>; Mention <mention@noreply.github.com>
Subject: Re

[2019-02-04 17:11] PramodValavala-MSFT commented on #23816
@ameb1981 I'm not aware if that is a limitation of the library that you are hitting. If it is working for smaller images, I believe the intention of the tutorial is met.

The function is available in both C# and NodeJS. Could you try the other language function as well?

[2019-02-04 17:14] msangapu commented on #21227
#please-close

[2019-02-04 17:14] Alberto-Vega-MSFT commented on #18981
This is still an ongoing issue

[2019-02-04 17:18] KingdomOfEnds commented on #23804
@dominicbetts - Thanks - I appreciate the response! Issues resolved :)

[2019-02-04 17:18] #23804 closed

[2019-02-04 17:19] KetanChawda-MSFT commented on #24117
@cihanduruer Can you try removing `@{base64('')}` from the code view and mention only pfx string as shown below and check if it is working?

[code]

[2019-02-04 17:23] msangapu commented on #21393
@User1m  Thank you for your feedback. I will update the article.

[2019-02-04 17:30] Adam-Smith-MSFT commented on #24212
@gtrevi thanks for the feedback, could you please provide us with the documentation link you were referring to for this issue ?

Thanks,

[2019-02-04 17:31] veyalla commented on #23265
Re 2: The default behavior is to always queue/dequeue from the RocksDB store regardless of memory pressure. The store is on the Edge Hub's container filesystem by default, or can optionally be configured to live in [a mounted volume](https://docs.microsoft.com/en-us/azure/iot-edge/offline-capabilities#additional-offline-storage).

For your other questions - please open an issue at github.com/azure

[2019-02-04 17:32] Adam-Smith-MSFT commented on #24204
@papa-pep Thank you for the valuable feedback,we are investigating the issue.

[2019-02-04 17:34] MicahMcKittrick-MSFT commented on #24183
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-04 17:34] MicahMcKittrick-MSFT commented on #24185
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-04 17:36] MicahMcKittrick-MSFT commented on #24190
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-04 17:37] MicahMcKittrick-MSFT commented on #24193
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-04 17:37] BharathNimmala-MSFT commented on #23786
@planax  - Assinging this to author to see if this can be included as part of this documentation or have links to external documentation.

@mrbullwinkle - Can you please help look into this.

[2019-02-04 17:38] Adam-Smith-MSFT commented on #24214
@Alcasser Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-04 17:40] MicahMcKittrick-MSFT commented on #24191
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-04 17:42] miqm commented on #24179
@KetanChawda-MSFT - yes, my issue was resolved, but the reason why it become an issue in first place was the documentation page.

In the [Usage](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid#usage) section of documentation page there's a Note saying:

Basing on this I assumed, that `JObject` is the "default" way but if developer wants to use strong typed refe

[2019-02-04 17:42] aljo-microsoft commented on #23408
@tshinkle @MicahMcKittrick-MSFT @its-saurabhjain

The idea of a local secured clusters doesn't make sense; what is your use case for this?

@dragav
To provide additional context.

[2019-02-04 17:42] AskYous opened #24218 "error: 'deployment' is not an azure command. See 'azure help'."
I tried [these](https://docs.microsoft.com/en-us/azure/app-service/deploy-local-git#deploy-from-local-git-with-kudu-builds) instructions and received the following error:

&gt; error:   'webapp' is not an azure command. See 'azure help'.
The current mode is: asm (Azure Service Management).
This *may be* a valid command in 'arm' (Azure Resource Manager) mode.
Use 'azure config mode arm' to switch m

[2019-02-04 17:44] KetanChawda-MSFT commented on #24179
@craigshoemaker any thoughts on this?

[2019-02-04 17:45] KaiWalter commented on #24190
It is already resolved:
https://github.com/MicrosoftDocs/azure-docs.de-de/issues/256

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
Von: Micah <notifications@github.com>
Gesendet: Monday, February 4, 2019 6:36:30 PM
An: MicrosoftDocs/azure-docs
Cc: Kai Walter; Mention
Betreff: Re: [MicrosoftDocs/azure-docs] Sample for set-backend-se

[2019-02-04 17:47] smflorentino opened #24219 "Paired region info missing for many regions"
There are many Azure regions that do not have their availability pair listed on this page.

Here is the page with all Azure regions. Can someone go through this and publish availability pair info for the missing regions?
https://azure.microsoft.com/en-us/global-infrastructure/locations/

For example, Switerland, UAE, Norway, and South Africa are not listed on this page. It would be helpful to add

[2019-02-04 17:47] MicahMcKittrick-MSFT commented on #23966
Thanks @TylerMSFT

@nageshajab I will close this for now as I have verified the doc has worked. If you are still seeing issues let me know and we can always reopen and continue the discussion.

[2019-02-04 17:47] #23966 closed

[2019-02-04 17:48] MicahMcKittrick-MSFT commented on #23969
@nageshajab any update on this?

[2019-02-04 17:49] MicahMcKittrick-MSFT commented on #24096
@imeya I will close this for now. If you have additional questions just let me know and we can always reopen and continue.

[2019-02-04 17:49] #24096 closed

[2019-02-04 17:49] MicahMcKittrick-MSFT commented on #24097
@imeya I will close this for now. If you have additional questions just let me know and we can always reopen and continue.

[2019-02-04 17:49] #24097 closed

[2019-02-04 17:50] MicahMcKittrick-MSFT commented on #24098
@imeya I will close this for now. If you have additional questions just let me know and we can always reopen and continue.

[2019-02-04 17:50] #24098 closed

[2019-02-04 17:51] MicahMcKittrick-MSFT commented on #24099
@imtiaza1977 please follow these docs to detach and attach disks to other VMs.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/detach-disk

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/attach-managed-disk-portal?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json

You can do this both in the Portal or PowerShell.

[2019-02-04 17:51] PramodValavala-MSFT commented on #24080
@jfbosch You are right. As mentioned, the orchestrator code must never initiate async operations since it is run on single thread by the framework and cannot interact with other threads.

But the tasks returned by methods of the DurableOrchestrationContext are managed differently by the framework which is explained in the [Durable Tasks](https://docs.microsoft.com/en-us/azure/azure-functions/durab

[2019-02-04 17:52] MicahMcKittrick-MSFT commented on #24102
@imeya I will close this for now. If you have additional questions let me know and we can always reopen and continue the discussion.

[2019-02-04 17:52] #24102 closed

[2019-02-04 17:52] wisc75 commented on #10122
Here is the document from Zoom.
https://drive.google.com/file/d/1KlzrpjBB5qfDxV3C5wIjtUweOs-4iVsW/view?usp=sharing

[2019-02-04 17:53] mestew commented on #24144
@zakramer
Hey Zach, I suspect the VM probably has managed disks. I've run into the same thing. We have -SkipVMBackup noted  in the doc - : https://docs.microsoft.com/azure/security/azure-security-disk-encryption-linux#a-namebkmkrunninglinux-a-enable-encryption-on-an-existing-or-running-iaas-linux-vm

Try checking the storage profile of the  OS disk and see if you have anything listed under "manage

[2019-02-04 17:55] MicahMcKittrick-MSFT commented on #24105
For all Internet facing Virtual Machines that have two or more instances deployed in the same Availability Set, we guarantee you will have external connectivity at least 99.95% of the time.

So deploying to two paired regions does not actually matter. You just need to have the VMs in the same AV set which then means they are in separate fault domains and you get the 99.95% SLA instead of the 99.90

[2019-02-04 17:56] philliplyle commented on #22027
@shashishailaj I am still seeing the issue sometimes (but not always) when I log in and it presents me with "We'll send a notification", but the notification is already sent.  Specifically, this is happening when attempting to modify my MFA settings.

http://www.image-share.com/upload/3929/71.jpg

[2019-02-04 17:57] Mike-Ubezzi-MSFT commented on #24210
@sunilprabha Thank you for your interest in Azure cloud services and for following-up with the resolution to this specific issue, as it helps others who are experiencing the same issue.

To reiterate, the correct property value is:

`// PDO::MYSQLATTRSSL_CA => 'D:\SSLCert Mysql\BaltimoreCyberTrustRoot1.crt.pem',`

Regards,
Mike

[2019-02-04 17:57] MicahMcKittrick-MSFT commented on #24119
@jtuliani as the article mentions, we do support Gen2 but only in Azure Confidential Computing

https://azure.microsoft.com/en-us/solutions/confidential-compute/

For general Azure deployments we still do not support Gen2

Also, in order to create a Confidential Compute VM you cannot upload your own VHD. So this doc is still correctly.

[2019-02-04 17:57] #24119 closed

[2019-02-04 18:00] MicahMcKittrick-MSFT commented on #24183
@johnknoop Deploying a web app via SF Mesh is just another way customers can deploy services. For some users Mesh is a better option and for others Web Apps are a way to go. It just depends on how you are using your infrastructure.

For any feature suggestions you can leave that feedback here

https://feedback.azure.com/forums/293901-service-fabric

I will close this for now as there is not action

[2019-02-04 18:00] #24183 closed

[2019-02-04 18:01] MicahMcKittrick-MSFT commented on #24190
Thanks @KaiWalter

I will assign to the author to verify.

[2019-02-04 18:02] Mike-Ubezzi-MSFT commented on #24198
@Robert-Kostecki Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-02-04 18:04] parakhj commented on #23646
Your error code begins with AADSTS, meaning you're hitting the Azure AD service, and not Azure AD B2C. Please ensure that your request URL has the Azure AD B2C policy specified. I would also suggest using [b2clogin.com](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin) instead of login.microsoftonline.com

[2019-02-04 18:11] Alberto-Vega-MSFT commented on #24202
@hho Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-04 18:14] rezasherafat commented on #22798
@romankiss, for the time being I have updated [the docs](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#using-the-mqtt-protocol-directly-as-a-module) with the workings of modules via an MQTT client. I will keep you posted on the issue of module vs. device concurrent connection. Thanks.

[2019-02-04 18:14] georgewallace commented on #24131
@KeiroKamioka0000 Actually that's not quite right.. If you read [Where to run your runbooks](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-execution#where-to-run-your-runbooks) we discuss this.  Runbooks do not spawn sandboxes, sandboxes are spawned when jobs for a runbook are created. These sandboxes can and may be used by other runbooks ran in your environment.  You have n

[2019-02-04 18:24] SaurabhSharma-MSFT commented on #24203
@dozunu Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-04 18:30] msangapu commented on #21393
#please-close

[2019-02-04 18:38] MarileeTurscak-MSFT commented on #24215
@RikardStrand
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-04 18:39] MarileeTurscak-MSFT commented on #24211
@GArrigotti
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-04 18:40] MarileeTurscak-MSFT commented on #24211
@GArrigotti
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-04 18:42] MarileeTurscak-MSFT commented on #24194
@stmccartney
Thanks for your feedback! We will investigate and update as appropriate.

[2019-02-04 18:55] SaurabhSharma-MSFT commented on #24203
@dozunu Are you getting any error ? Please refer to this [SO thread](https://stackoverflow.com/questions/50968613/cannot-acces-keyvault-secrets-through-service-endpoint-in-a-vsts-release/50981398) if this helps.

[2019-02-04 18:57] #24210 closed

[2019-02-04 18:57] Grace-MacJones-MSFT commented on #24196
Hi @skmkzyk, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-04 18:57] Mike-Ubezzi-MSFT commented on #24210
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-04 19:08] BryanTrach-MSFT commented on #24218
@AskYous Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-04 19:14] jjindrich opened #24221 "UbuntuLTS (18) is not accepting DNS private zone nameserver"
When I create new UbuntuLTS VM in vnet with registered private DNS zone, this VM gets wrong nameserver.
I'm creating vnet with private DNS zone following my repo https://github.com/jjindrich/jjazure-templates/tree/master/dns-private-vm and creating UbuntuLTS (az vm create --image UbuntuLTS).
I checked resolv.conf
nameserver 127.0.0.53
search mqtet1oosblelcv1le41jkmwre.ax.internal.cloudapp.net

The

[2019-02-04 19:16] hugoro commented on #21504
Found the issue.. I was having a network rule allowing ports 80 and 443.

According to Azure Firewall rule processing logic:
- Network rules are applied first, only then the application rules.
- If a match is found in a network rule, the application rules are not processed.
- If there is no network rule match, and if the packet protocol is HTTP/HTTPS, the packet is then evaluated by the applicabla

[2019-02-04 19:18] jjindrich commented on #24221
@rohinkoul I found this issue with latest Ubuntu image in Azure (Ubuntu 18.04.1 LTS (GNU/Linux 4.15.0-1036-azure x86_64)

[2019-02-04 19:22] ronortloff commented on #24198
Hi @Robert-Kostecki,
Multiple distribution databases are mounted to compute nodes in most DWU configurations.  For example, DW2000c has 4 compute nodes and 15 distribution databases per node.  Because replicated tables help with reducing data movement between compute nodes, only 1 distribution database needs a full copy of the table per compute node.
You are correct that there is NVME Gen2 cache o

[2019-02-04 19:24] ameb1981 commented on #23816
My first attempt was using Node but it didn't work. So I changed to C# and worked for small-medium images. But I agree, the intention is met. Great work !!

[2019-02-04 19:37] blakemartin commented on #23945
Awesome, thank you @jakaruna-MSFT!

[2019-02-04 19:37] #23945 closed

[2019-02-04 19:37] nastassiar commented on #23945
It would be great if there was reference to ARM or this page on the docs page. As a newbie to ACI and Log Analytics it wasn't clear to me that this was an option.

[2019-02-04 19:46] switj opened #24222 "Two Iothub Categories are missing"
The log categories for IoT Hub isn't complete.

These two categories aren't documented:
"DistributedTracing"
"DeviceStreams"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2815c53c-9b3f-bf3c-2e8c-f29e29a441bd
* Version Independent ID: 81ee9fdf-73d6-bd68-a508-11ab7a2dc51f
* Content: [Azure Diagnostic Logs supported serv

[2019-02-04 19:46] Alberto-Vega-MSFT commented on #24205
@ph-jo PR with fix has been merged. Thanks again for helping us make this docs better

[2019-02-04 19:46] #24205 closed

[2019-02-04 19:47] SaurabhSharma-MSFT commented on #24017
@Anand-Moghe Express mode settings to setup AAD authentication for a Web App is available for Azure Commercial only.

[2019-02-04 20:03] Alberto-Vega-MSFT commented on #23805
@romankiss We are closing this issue since the conversation will or can continue via email. @rezasherafat Thanks for the help.

[2019-02-04 20:03] #23805 closed

[2019-02-04 20:08] femsulu commented on #24017
@SaurabhSharma-MSFT thanks for the update. Any idea if it is this on the MAG release rodmap?

[2019-02-04 20:09] otravers opened #24223 "Please spell out how to assign proper role to Windows service account"
"For you to create and maintain the gateway in the Azure portal, this Windows service account must have at least Contributor permissions." Please spell out directly in this page what should be done, preferably with screenshots. I'm looking at the IAM settings of the Azure VM where the gateway is installed, what values should I input where, presumably under "Add role assignment"? Assign access to w

[2019-02-04 20:15] georgewallace commented on #23954
@sanjayntms Are you receiving this error when compiling the config?  I just confirmed that compiling the config works as expected.

[2019-02-04 20:19] SaurabhSharma-MSFT commented on #24064
@sylvaingirardbe I am able to get the token using curl.
![image](https://user-images.githubusercontent.com/38112130/52234623-f5680e00-2876-11e9-97c1-7150d5fd813a.png)
Have you tried passing the actual tenant Id instead of using "Common" endpoint to the request.

[2019-02-04 20:21] tshinkle commented on #23408
Following the tutorial (
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-dotnet-app).
The tutorial creates a local service, then walks through moving it to a
cluster. Then walks through using https and certificates in part 3, first
locally and then in a cluster. None of the part 3 htts steps appear to
work, locally or in a cluster. (
https://docs.microsoft.com/

[2019-02-04 20:25] SaurabhSharma-MSFT commented on #24104
@PingPongSet It is recommended from Microsoft to use the latest Microsoft Graph as which will support all functionality that currently Azure AD Graph offers to access directory data.

[2019-02-04 20:31] solidcloudio commented on #23694
Some other 3rd party service?  Maybe Barracuda Firewall or Checkpoint?

[2019-02-04 20:34] TravisCragg-MSFT commented on #24063
@JakubW88 you should be able to do that with a single Application Gateway. For SSL on the backend, you can use the same cert for both websites, or you can use a different cert for each website.

[2019-02-04 20:45] rezasherafat commented on #24037
Hi @KingdomOfEnds , can you check if your IoT Hub is in either Central US or Central US EUAP region? Currently we support devices streams in these 2 regions -- we will expand to more regions soon.

Also, since you run SSH in Windows, can you make sure that SSH server is configured correctly. To validate that, just ssh with your username and credentials directly to the server without over default S

[2019-02-04 20:47] SaurabhSharma-MSFT commented on #24113
@MattHoney89 The Application Id/Client Id is an unique identifier Azure AD issues to an application registration that identifies a specific application and the associated configurations. This application id (client id) is used when performing authentication requests and is provided to the authentication libraries in development time.  Sign-URL is used by users would to sign in to a web client appl

[2019-02-04 20:52] Adam-Smith-MSFT commented on #24219
@smflorentino Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-04 20:52] shawnismail opened #24225 "Clarity required/grammar on Azure AD Join - SSO"
The following statement does not make any sense; please fix the grammar and provide clarity:

"The SSO functionality is even when they are not connected to the domain network available."

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8877b198-deb1-6ae9-ea0d-3830370b0b4a
* Version Independent ID: f1a4495c-7da8-0c3f-5d97

[2019-02-04 20:54] TravisCragg-MSFT commented on #24108
@peter-foreman Thanks for letting us know! I have updated the doc, and the changes should reflect within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-04 20:54] #24108 closed

[2019-02-04 20:54] Robert-Kostecki commented on #24198
Hi Ron, interesting debate and I still believe that I may be correct.
Firstly, let's observe that the movement pertains rather to Distributions then Nodes. Consequently, even with ONE Node configuration you may see the "internal" movement (between the distributions).
Secondly if in fact the table was only replicated to the first distribution database on the node then each time you scale up, and as

[2019-02-04 20:55] TravisCragg-MSFT commented on #13460
@crshovrd41 can you open a new issue on that page?

[2019-02-04 20:56] mamccrea commented on #24189
Hi @guy1699 - I just tried this with no issues. Can you verify that your host and token are correct, and that your token is not expired?

[2019-02-04 21:00] jeevansd commented on #10122
@chetansriv and @v-nagta Can you please fix this issue in our documentation?

[2019-02-04 21:01] TravisCragg-MSFT commented on #24208
@pmgriffin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-04 21:04] markarnolditpro commented on #14209
Thanks @parakhj I've posted a question here:
[](https://stackoverflow.com/questions/54524296/how-to-capture-user-identityid-from-original-idp-using-openid-connect-preview)

[2019-02-04 21:05] TravisCragg-MSFT commented on #24200
@bseymour2 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-04 21:20] MCrank opened #24227 "New Az CMDLET availability"
Any idea if/when these commands will be available in the new Az modules?  Very cumbersome to have to run the old and new since the dependencies seem to want to overwrite each other.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1093baf6-b6b6-52f7-5268-697fe6412bdf
* Version Independent ID: 65b4f939-ad12-b9e1-afd6-2f73

[2019-02-04 21:21] PingPongSet commented on #24104
@SaurabhSharma-MSFT

If MS recommends MS graph, shouldn't this document and other doc under B2C be updated based on what you said?

Where is the equivalent document for MS Graph for B2C? At the moment I can only see Azure AD Grap doc under B2C, especially for user migration etc.

[2019-02-04 21:22] SaurabhSharma-MSFT commented on #24201
@klchung I do think that User.otherMail is available for nameidentifier claim.  You may need to add a new claim to get the user.otherMail or edit other existing attribute to get this claim.

[2019-02-04 21:23] ash2017 commented on #24202
Thank you for this comment. We have fixed the document and it will be published by tomorrow.

[2019-02-04 21:32] mike-urnun-msft commented on #24223
Hi @otravers Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-02-04 21:33] jamesbannan commented on #22954
So to confirm, if you're not a ServiceNow customer, there's nothing you can do if you want to test or demo either the ITSM Connector solution or the ServiceNow integration with Azure DevOps. Is that correct?

[2019-02-04 21:33] eHealthManny commented on #23558
Hello, just wanted to see if there was any update on this issue?

[2019-02-04 21:36] Adam-Smith-MSFT commented on #24221
@jjindrich Thank you for the valuable feedback,we are investigating the issue.

[2019-02-04 21:49] kgremban commented on #23584
@raghavan20

1. Can you clarify what you mean by 'the container is recycled along with logs"? A module is a container so I guess yes, if a module is stopped then that means its container is stopped. Unless you are referring to one of the other artifacts on your machine, like the container image?

2. That depends on what kind of information you want to report, and how often. Module twins are built

[2019-02-04 21:52] jgallucci32 opened #24228 "FQDN support for Time Server not working in AzS.Deployment.Worksheet PowerShell module"
Using the latest AzS.Deployment.Worksheet PowerShell module, the field description says the following for the **Time Server:* entry:
&gt; Enter a single IPv4 address or a single FQDN to be used as a reliable time source.
&gt; NOTE: If a FQDN is specified, all of the network devices must support the use of a FQDN, otherwise validation will fail.

I attemped to use an FQDN for all 8 Vendor switches

[2019-02-04 21:54] gbargsley commented on #7157
I am following the steps.  I am to the point to create a new login in SQL server for CORP\install.

Did I miss a big step somewhere.  How am I supposed to get in to SQL to add the login?  No sa account and my corp\DomainAdmin does not have a login.

[2019-02-04 21:55] gbargsley opened #24229 "How to gain access to SQL servers created."
I am following the steps. I am to the point to create a new login in SQL server for CORP\install.

Did I miss a big step somewhere. How am I supposed to get in to SQL to add the login? No sa account and my corp\DomainAdmin does not have a login.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7e54667-9299-de94-5b2c-4d5

[2019-02-04 21:58] Ayanmullick commented on #7157
`Add-SqlLogin -ServerInstance localhost -LoginName  CORP\install -LoginType WindowsUser -DefaultDatabase master -Enable -GrantConnectSql -Verbose   `
This would create a new login on the SQL server

`((New-Object ('Microsoft.SqlServer.Management.Smo.Server') "localhost").Roles | where {$_.Name -eq 'sysadmin'}).AddMember("CORP\install")`
This will add the new login as a sysadmin.

[2019-02-04 22:07] JeremyGHutchins opened #24230 "Incorrect version requirement for publicKeys"
The publicKeys section of the instance metadata service currently says "2017-04-02" for its minimum required version ("Version Introduced"), but I couldn't get it to work in anything other than "2018-04-02".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a241549-82c0-6895-b410-b107a57c7540
* Version Independent ID: 5b

[2019-02-04 22:11] jamelia1303 opened #24231 "NTFS permissions do not work for Azure Shared Files"
I am configuring AD integration for Azure Share Files.
I use cloud A AD.
AD integration works correctly,  also Shared permission work correctly.
Next, I assigned NTFS permissions and it does not work  ( I did everything using this article https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-enable)
Example: Shared permission: Full Access, NTFS Permission for Folder:

[2019-02-04 22:14] JasonFreeberg commented on #22414
@msangapu
I updated the POM in the Azure-Samples repo. Please see this PR for the corresponding doc updates:
https://github.com/MicrosoftDocs/azure-docs/pull/24232

Thanks for catching that, @yevster

[2019-02-04 22:15] dragav commented on #23408
@MicahMcKittrick-MSFT if you have a local repro, can you send me the logs please? dragosav @ msft.

On the surface, this does appear to be caused by missing permissions to the cert's private key. Please check in the cert mgmt UX that the private key is available and acl'd accordingly. (For context, self-signed certs generated with PowerShell are by default CNG certs, unless a 'legacy' crypto provi

[2019-02-04 22:21] mpoult25 commented on #23227
Why was this thread closed with no solution posted? I can't find a solution anywhere online. The two links you posted did not contain any answers. If I missed them, could you please post the solution here or provide a specific link? Thanks.

[2019-02-04 22:33] MicahMcKittrick-MSFT commented on #23408
@tshinkle I just spun this up on my local work PC. So I dont have the app deployed at the moment. I am happy to deploy it again and send you any logs needed. That being said, I did just follow the steps in the doc exactly as written so you should be able to run through them and get the same results as we are all seeing.

I also checked to ensure the cert has the right permissions and all appears w

[2019-02-04 22:33] JasonFreeberg commented on #22414
@msangapu
I updated the POM in the Azure-Samples repo. Please see this PR for the corresponding doc updates:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/65197

Thanks for catching that, @yevster

[2019-02-04 22:38] AlissonRS opened #24233 "Azure Logic Apps - Schedule weekday only"
I'm trying Azure Logic Apps, but I can't figure how I can schedule it to run only on weekdays. The docs have a "Show advanced options" that displays a lot of configurations (including what I'm looking for), however this is not available to me, as you may see here:

![image](https://user-images.githubusercontent.com/4753901/52241442-d8552e80-28ba-11e9-89a0-c1d6576bbdda.png)

...and this "Add new pa

[2019-02-04 22:39] msangapu commented on #22414
I will review it once it builds.

From: Jason Freeberg <notifications@github.com>
Sent: Monday, February 4, 2019 4:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mangesh Sangapu <msangapu@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Update the Maven POM section has ambiguous language (#22414)

@msangapu<https://nam06.safelinks

[2019-02-04 22:39] SeanFeldman opened #24234 "SignalR Service binding is not mentioned"
The [following document](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-overview-azure-functions#signalr-service-bindings-for-azure-functions) is talking about using Functions with SignalR service using an [output binding](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-csharp). The binding is not GA-ed yet, so not sure if it would be qualified

[2019-02-04 22:41] MarileeTurscak-MSFT commented on #24215
It depends on what you are doing with it and how many users you need to provision. One Azure AD Basic license will allow for up to five named guest users to be set up for Group Based Access Management and Provisioning. For the 6th named guest user, you will need another Azure AD Basic license.

The scope filters in themselves shouldn't require a specific license.

See the pricing page for details.

[2019-02-04 22:41] xcactusx opened #24235 "Explanation of Azure Only VS Synced?"
So, I am looking at this and have groups that sync from our AD to Azure.  I'm unable to add owners.  My assumption is: This is because they are on-prem.  Is there something I can enable in ADSync/Connect that allows writeback of group info?

The main benefit of an Azure group is multiple owners, which is NOT allowed in AD.  We actually have purchased an application to allow this, but are looking f

[2019-02-04 22:41] MarileeTurscak-MSFT commented on #24215
Hope this helps!

We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-02-04 22:41] #24215 closed

[2019-02-04 22:44] MicahMcKittrick-MSFT commented on #24230
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-04 22:45] ecfan commented on #24233
Hi @AlissonRS, thanks for your question! You can select specific days when you set **Frequency** to **Week** as described in the **Trigger details** section:

![image](https://user-images.githubusercontent.com/13206671/52242281-189cb880-288b-11e9-8b13-1f8095db7131.png)

And then to set the specific times of day, use **At these hours** and **At these minutes**, which appear only after you select **

[2019-02-04 22:46] sb2059 opened #24236 "Please provide incremental documentation."
I have been unable to follow your docs because they introduce so many external complexities and assumptions.  What I want is an MVP walkthrough.

1) Get a barebones webjob working locally that outputs some log message every minute.
2) Host this in an App Service.  Introduce the monitoring dashboard.
3) Incrementally introduce complexity and features step by step.  I don't want to introduce Azure S

[2019-02-04 22:51] #21393 closed

[2019-02-04 22:51] #21227 closed

[2019-02-04 23:01] AlissonRS commented on #24233
@ecfan thanks for your answer, that was exactly what I was looking for. I really appreciate it.

[2019-02-04 23:08] ecfan commented on #24233
@AlissonRS You're welcome! I'll now ask the team to close this issue. If you have other questions, please feel free to open another issue. Thanks!

#please-close

[2019-02-04 23:33] ronortloff commented on #24198
Hi @Robert-Kostecki,
Apologies for the confusion coming from the video you referenced.  In a 4-node configuration, the table is not copied to all 60 distributions.  I will look into getting the video corrected.  Please take a look at the documentation on replicated tables for further details on how they are implemented:  https://docs.microsoft.com/en-us/azure/sql-data-warehouse/design-guidance-for

[2019-02-04 23:34] Mike-Ubezzi-MSFT commented on #23965
@bertrandpons It is supported. The challenge is getting communication to the Managed Instance through all the virtual networking infrastructure that Managed Instance is deployed with. Here is a great blog/tutorial to show you how Entity Framework with a Managed Identity is configured: [Azure AD Authentication with Azure SQL, Entity Framework and Dependency Injection](https://www.cloudockit.com/azu

[2019-02-04 23:37] MarileeTurscak-MSFT commented on #24211
Where have you selected "no"?

You can set Required Permissions at the application level. https://docs.microsoft.com/en-us/azure/active-directory/develop/consent-framework

If you follow the Azure Sample you can get SSO set up this way quickly and easily. https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect

[2019-02-04 23:42] Alberto-Vega-MSFT commented on #23817
@jsbsky I was able to reproduce the issue. Any insights?

[2019-02-04 23:44] PatrickFarley commented on #19008
@kamathn  for visibility

@LuisCabrer , do "v1" and "v2" correspond to the "OCR" and "RecognizeText" APIs, respectively?

There is also an OCR API in v2; is that used in any case?

[2019-02-04 23:46] SaurabhSharma-MSFT commented on #24017
@femsulu No I am not aware if the express settings are in release roadmap.

[2019-02-04 23:46] #24149 closed

[2019-02-04 23:50] Adam-Smith-MSFT commented on #24231
@jamelia1303 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-04 23:56] Mike-Ubezzi-MSFT commented on #22384
Make sure you have the following environment variable set:

`SSL_CERTFILE=/usr/lib/ssl/certs/ca-certificates.crt`

This `ca-certificates.crt` file is part of the OpenSSL installation, so simply find the path to it based upon your OS and set it as a system or user environment variable.

[2019-02-04 23:58] kgremban commented on #22783
@djaus2 The 1.0.6 version of IoT Edge was released last week, which should have resolved this issue. I've restarted all my devices and haven't been able to recreate this issue with the latest version. Please update your devices if you haven't already, and let me know if you're still experiencing this issue.

Thanks.

[2019-02-04 23:59] stephenjust opened #24239 "Metrics for read-only replicas"
It does not appear that queries to read-only replicas show up in a SQL database's metrics (CPU, I/O, query analysis, etc). For a read-heavy workload this means that we cannot see if we are close to hitting resource constraints. Is there a way to view these metrics in the portal for read-only replicas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-02-05 00:00] Mike-Ubezzi-MSFT commented on #23970
@andyjballgit We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-05 00:00] #23970 closed

[2019-02-05 00:01] Mike-Ubezzi-MSFT commented on #24007
@pradeepbogati We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-02-05 00:01] #24007 closed

[2019-02-05 00:02] Mike-Ubezzi-MSFT commented on #24025
@nageshsubramanian Thanks for the additional feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-02-05 00:03] TomArcher commented on #23920
@dneelyep We're looking into this now. At a minimum, we'll update the article in the short-term.

[2019-02-05 00:05] Mike-Ubezzi-MSFT commented on #24025
@markjbrown The docs describing TTL, specifically the forced expiration of documents is not well detailed and customers are struggling with it.

[2019-02-05 00:06] femsulu commented on #22954
@ananthradhakrishnan can you comment please?

[2019-02-05 00:09] Mike-Ubezzi-MSFT commented on #24028
@Ckarst The details for the SQL Data Warehouse expected error message does not seem to be the same between regions, is that possible?

[2019-02-05 00:09] Alberto-Vega-MSFT commented on #23817
@jsbsky This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-02-05 00:11] femsulu commented on #22954
Also adding @TimSBenjamin to see if we have any customer-facing demo sites for this scenario.

[2019-02-05 00:11] kazshi commented on #24173
@angoyal-msft I tried to run the command but got the following error.
"Keyword or statement option 'role' is not supported in this version of SQL Server."

ALTER SERVER ROLE is not supported in Azure SQL according to the following page.

ALTER SERVER ROLE (Transact-SQL) - SQL Server | Microsoft Docs
https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-server-role-transact-sql?view=sql-serve

[2019-02-05 00:12] Mike-Ubezzi-MSFT commented on #24204
@papa-pep Are you following an exisitng tutorial, or making a general product statement based upon your project?

[2019-02-05 00:17] Mike-Ubezzi-MSFT commented on #24204
@papa-pep I am going to provide this document as a reference: [Using a partitioned graph in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/graph-partitioning)

[2019-02-05 00:17] papa-pep commented on #24204
I'm following the best practices according to the cosmosdb graph
partitioning documentation.  This works differently than it did previously
where you had to opt in to cross partition queries.  Is there still a way
to opt in?

On Mon, Feb 4, 2019, 6:12 PM Mike Ubezzi <notifications@github.com wrote:

[2019-02-05 00:20] papa-pep commented on #24204
That is the document I'm commenting on. Is there a way to disable cross
partition traversals? If not, that would be a good thing to document
because it affects how the traversals need to be written and it also has
performance implications.

On Mon, Feb 4, 2019, 6:17 PM Mike Ubezzi <notifications@github.com wrote:

[2019-02-05 00:31] femsulu commented on #24017
@Anand-Moghe as pointed out above, this is currently not supported. Adding @gsacavdm to chime in on release roadmap for MAG

[2019-02-05 00:32] papa-pep commented on #24204
I understand that. I have more than 10gb of data AND I never want to query
across partitions. Is there a solution to this that does not involve
rewriting all of the traversals to specify partition keys at every step?

On Mon, Feb 4, 2019, 6:28 PM Mike Ubezzi <notifications@github.com wrote:

[2019-02-05 00:36] Mike-Ubezzi-MSFT commented on #24229
@gbargsley The sa account was created when you deployed the Azure SQL Database instance. You then can use SQL Server Management Studio client to access the database to add additional users. The sa account can be modified (password reset) via the Azure Portal. To access the database with SSMS, please use this tutorial: [Quickstart: Use SQL Server Management Studio to connect and query an Azure SQL

[2019-02-05 00:37] Mike-Ubezzi-MSFT commented on #24229
@gbargsley Is this an on-premise SQL Server installation, by chance?

[2019-02-05 00:38] mckenzm opened #24241 "No Australia in the countries list ? 05 Feb 2019."
Creating a tenant ...Aruba, Austria....  No Australia ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588fc4d6-0c4d-297d-cfe1-8562728fdc4d
* Version Independent ID: cf117c91-90fa-036b-9763-a3c16b398a33
* Content: [Tutorial - Create an Azure Active Directory B2C tenant](https://docs.microsoft.com/en-us/azure/active-dir

[2019-02-05 00:42] Mike-Ubezzi-MSFT commented on #24204
@papa-pep Please reach out to askcosmosdb at Microsoft.com. This is a means to ask the product group directly for product feedback and guidance. This is not for support issues but, they are happy to help you be successful in utilizing the service as best as possible. Thanks!

[2019-02-05 00:44] femsulu commented on #24222
@switj Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-02-05 00:52] YutongTie-MSFT commented on #23918
@MikeDodaro Hi Mike, do we have any document for this?

[2019-02-05 00:56] scottmcm opened #24242 "Non-existent property RequestTelemetry.Type used in "Long-running background tasks" section"
The code snippit in <https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-operations-tracking#long-running-background-tasks> says
[code]

But that property does not exist: https://docs.microsoft.com/en-us/dotnet/api/microsoft.applicationinsights.datacontracts.requesttelemetry#properties

What is the currently-correct way to mark a "request" as being a background task?

---
#### Document

[2019-02-05 00:57] MikeDodaro commented on #23918
There's this: https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity#queries-per-second-qps

[2019-02-05 00:57] wmgries commented on #24231
@Adam-Smith-MSFT can you please assign @yuemlu to this?

Thanks,

Will

[2019-02-05 00:58] YutongTie-MSFT commented on #23918
@MikeDodaro Thank you!

@Bmeist We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-02-05 00:58] #23918 closed

[2019-02-05 01:07] millerna26 commented on #7222
We don't have documentation regarding an "immediate deprovisioning request". We should call out alternatives to contact support or another channel for handling immediate deletion of data. As an example, a customer can request directly the deprovision of the subscription, which will engage an internal PTA (technical advisors) who will be in charge of the deprovision of the subscription. By deprovis

[2019-02-05 01:10] rezasherafat commented on #23914
@switj, I have updated the docs with [the steps](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-ip-filtering#retrieve-and-update-ip-filters-using-azure-cli) for Azure CLI, PowerShell and REST.

[2019-02-05 01:11] rezasherafat commented on #23914
@Alberto-Vega-MSFT, please close the issue.

[2019-02-05 01:11] #24233 closed

[2019-02-05 01:13] mike-urnun-msft commented on #24234
Hi @SeanFeldman Thank you for your feedback! We will review and update as appropriate.

[2019-02-05 01:15] Alberto-Vega-MSFT commented on #24013
@KingdomOfEnds PR Merged. Thanks again for your contribution

[2019-02-05 01:15] #24013 closed

[2019-02-05 01:16] adewaleo opened #24243 "Add Ubuntu 18.04"
Ubuntu 18.04 should be added to the list of supported OSes

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Independent ID: 6daae1cc-f758-1d37-9de3-80a2832c08ef
* Content: [Create an Azure virtual machine with Accelerated Networking](https://docs.microsoft.com/en-us/

[2019-02-05 01:18] #23914 closed

[2019-02-05 01:36] Adam-Smith-MSFT commented on #24181
@VincentGuigui Thank you for the valuable feedback,we are investigating the issue.

[2019-02-05 01:40] MarileeTurscak-MSFT commented on #24026
AAD DS is billed against the subscription that the vNet belongs to. It is possible for users to login to a subscription that they are co-admins of, and create their own AAD tenants and enable AAD Ds on a vNet that belongs in that subscription for an AAD instance that no-one else has access to.

So I believe what you are asking should be possible.

[2019-02-05 01:40] Alberto-Vega-MSFT commented on #24002
@Eichi87 What is the error you are getting? Also I agree that this document needs to show or link to how the header looks like.

[2019-02-05 01:40] YutongTie-MSFT commented on #24195
@KasamShaikh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-02-05 01:48] YutongTie-MSFT commented on #23977
@gopitk Hi Gopi, do you have any idea about this error? Thanks.

[2019-02-05 01:52] anand5555 commented on #21106
This worked for me

helm install /opt/istio/istio-1.0.4/install/kubernetes/helm/istio --name istio --namespace istio-system --set servicegraph.enabled=true --set servicegraph.enable=true --set tracing.enabled=true --set grafana.enabled=true --set kiali.enabled=true --set prometheus.enabled=true --set gateways.istio-ingressgateway.serviceAnnotations."service\.beta\.kubernetes\.io/azure-load-balance

[2019-02-05 01:53] msfcolombo commented on #23558
@eHealthManny, this is being fixed but there is no estimate. For now you can use the workaround of converting the PEM file to a PFX before importing, with a command like the one below:

    openssl pkcs12 -export -in mycertificate.pem -out mycertificate.pfx

If the certificate is still not valid for other reasons, you should get a better error message during import. If you need to download the cer

[2019-02-05 01:57] nzaetta commented on #10122
Thanks for workaround @wisc75
The Zoom enterprise application in AAD has built in groups for basic, pro, corp when you assign the user. These are the ones people will be using by default, but they appear to be meaningless...

[2019-02-05 02:03] KingdomOfEnds commented on #24037
Hi @rezasherafat - Thanks, I appreciate the suggestion. I've realized that my requirements necessitate using the C# sample since it include both devices and services. Cheers!

[2019-02-05 02:03] #24037 closed

[2019-02-05 02:10] rylewell-msft commented on #24035
Sorry, I forgot container means something specific to CosmosDB :) By container, I'm referring to the docker container that the emulator is running within. I'm hoping that the docker container is guaranteed to die at the end of the pipeline, such that any subsequent use of the same build agent does not get an emulator with data potentially already in it.

[2019-02-05 02:18] aquibqureshi26 commented on #24105
there should be some SLA as per the composite SLA. but I think it is not available for VMs

https://docs.microsoft.com/en-us/azure/architecture/resiliency/#composite-slas

[2019-02-05 02:28] MaximBalaganskiy opened #24252 "Rolling session type"
What is counted as "user is continually active in the application"? I have got a SPA with a timer which renews an access token from time to time. Will this count as an activity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e3ce49f-746e-9326-9846-32d569558b65
* Version Independent ID: 4978d164-555d-b3cc-2989-5246b0f4

[2019-02-05 03:37] rohinkoul commented on #24221
@jjindrich have you enabled dnsmasq on the server? if you try disabling it.

[2019-02-05 03:39] pacuna commented on #24118
@CHEEKATLAPRADEEP-MSFT that's probably the issue. [This doc](https://docs.microsoft.com/en-us/azure/hdinsight/spark/apache-spark-jupyter-spark-sql-use-portal) doesn't mentioned anything about starting the livy service, that's why I wasn't aware.
Thanks!

[2019-02-05 03:39] #24118 closed

[2019-02-05 04:09] #6593 closed

[2019-02-05 04:12] BhargaviAnnadevara-MSFT commented on #24242
@scottmcm Thanks for the question! We're investigating this and will get back to you shortly.

[2019-02-05 04:14] KetanChawda-MSFT commented on #24123
@KeiroKamioka0000 Checking in to see if the above post helped answering your question.

[2019-02-05 04:34] neeleshray commented on #24225
@shawnismail
Thank you for the feedback and we would be correcting the same.
The statement would be to specify that even if the device is not connected to the domain network, the SSO functionality would still work.

[2019-02-05 04:35] neeleshray commented on #24225
@MarkusVi
Markus, could the sentence be corrected in the document under the [Azure AD joined devices section](https://docs.microsoft.com/en-ca/azure/active-directory/devices/overview#azure-ad-joined-devices) ?

[2019-02-05 04:39] msrini-MSIT commented on #24243
@adewaleo Thank you for your input. I have assigned this issue to the author, to investigate and update the documentation.

[2019-02-05 04:42] mckenzm commented on #24241
I gathered there might not be many data centres in some of these Countries. I am in fact, from Australia. Odd that there would be ~200 countries but not mine.  I can of course arbitrarily choose any of them, and Chose St Kitts and Nevis.

[2019-02-05 04:56] PramodValavala-MSFT commented on #23816
@ggailey777 Could this be verified and documented from our end as part of the planned doc update as well?

@ameb1981 Thanks for the feedback! This will be considered as part of the planned update.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-05 04:56] #23816 closed

[2019-02-05 05:03] Karishma-Tiwari-MSFT commented on #23577
@DarrenCzen I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-02-05 05:13] AjayKumar-MSFT commented on #24236
@sb2059, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-02-05 05:36] inzi25 commented on #10395
HI,
Is there any way to replicate two Azure MySQL (PaaS/DaaS) service ?

[2019-02-05 05:40] raghavan20 commented on #23584
1. say there is a module `publisher` of version `1.0` running as Docker container, when a new version `2.0` of `publisher` is deployed, the container for `publisher:1.0` is removed hence logs of that container is lost. I understand the intent is not to leave dead containers around but the side-effect being recent logs are lost which may be needed if not using a log exporter solution.

2. i have be

[2019-02-05 05:40] SubhashVasarapu-MSFT commented on #23699
@vhorne Can you please update the document with above mentioned changes. Thanks in advance.

[2019-02-05 05:41] MohitVerma-MSFT commented on #24135
Hi @imeya ,

Try this code , it should give you what you are looking for.

`requests | summarize makeset(client_City) by client_City | distinct client_City | order by client_City asc
| summarize makelist(client_City) `

[2019-02-05 05:42] SumanthMarigowda-MSFT commented on #24170
@sylvianya We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-05 05:42] #24170 closed

[2019-02-05 05:45] SumanthMarigowda-MSFT commented on #23206
@brianpdk Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-05 05:45] #23206 closed

[2019-02-05 05:49] SumanthMarigowda-MSFT commented on #23006
@Paulooma Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-05 05:49] #23006 closed

[2019-02-05 05:49] brlewi commented on #24181
@YutongTie-MSFT Test

[2019-02-05 05:50] YASWANTHM-MSFT commented on #23890
@isamllr, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-02-05 05:50] #23890 closed

[2019-02-05 05:55] brlewi commented on #24195
Test

[2019-02-05 05:56] jakaruna-MSFT commented on #23941
@KeiroKamioka0000 Thanks for the question. I have assigned the issue to the content author to answer this question.

[2019-02-05 05:57] SumanthMarigowda-MSFT commented on #23762
@voronkovsergey  Thanks for the feedback! we are working on it , we will update you soon.
Keep a track on Azure status for updates: https://azure.microsoft.com/en-in/updates/

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-05 05:57] #23762 closed

[2019-02-05 06:03] cliffkoh opened #24256 "functions v2 host.json configuration"
[code]

Every one of the examples for v2 use `HubName` (PascalCase) but according to the schema, it should be `hubName` (camelCase).

https://github.com/SchemaStore/schemastore/blob/52254c5b3ee7ad9845cc51fca37aed860f8452f3/src/schemas/json/host.json#L224

Either the documentation or the Json Schema is wrong but camelCase seems to work for me. If both works, the documentation should reflect the sch

[2019-02-05 06:05] raghavan20 commented on #23265
thanks for your answer to question 2. i will ask question 4 in `iotedge` project as you suggested.

I believe questions 1 (versions that would give full offline behaviour) and 3 (TTL overrides for message lifetime) are still related to offline behaviour .

[2019-02-05 06:06] SubhashVasarapu-MSFT commented on #23581
@recklessop We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-05 06:06] #23581 closed

[2019-02-05 06:06] imeya commented on #24135
@MohitVerma-MSFT, thank you very much. Please correct the document. And actually, we can directly use makelist() which supports ordering.

[2019-02-05 06:07] cliffkoh commented on #24172
See related issue at https://github.com/Azure/azure-functions-durable-js/issues/45 which includes screenshot where this property is a string and not a Date object.

[2019-02-05 06:13] AshokPeddakotla-MSFT commented on #23145
You can report the issue here: https://github.com/Azure/Azure-DataFactory/issues

@nabhishek Please check this once and validate.

[2019-02-05 06:15] MohitVerma-MSFT commented on #24135
Yes, Makelist preserve the ordering of the input items. I have corrected the document and it will be published soon.
I am closing the issue.

[2019-02-05 06:15] #24135 closed

[2019-02-05 06:36] wasabii commented on #24030
Check what about it?

[2019-02-05 06:41] imeya opened #24264 "can we set up an alert for smart detection using custom log query?"
I followed this [doc](https://sway.office.com/oxuf7sCHqKD3BubJ) and tried to setup an alert for smart detection, but seams that the doc is too old, even the table "systemEvents" does not exist now for app insights.

could you please give an example for creating alert for smart detection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-02-05 06:45] russellhurren opened #24265 "Minor errors"
Step 10 in the serial control instructions has a superfluous space before MaxIdleTime:
REG ADD "HKLM\SYSTEM\CurrentControlSet\control\Terminal Server\Winstations\RDP-Tcp" /v ' MaxIdleTime' /t REG_DWORD /d 0 /f
It should be:
REG ADD "HKLM\SYSTEM\CurrentControlSet\control\Terminal Server\Winstations\RDP-Tcp" /v 'MaxIdleTime' /t REG_DWORD /d 0 /f
At step 11, MaxInstanceCount doesn't accept a HEX valu

[2019-02-05 06:50] kbulte commented on #18469
@wuffers
Thanks for the sample template but how do you pass application parameters like WUFrequency?
I see you specify them in the parameters.json but they are not passed to the actual resource.

[2019-02-05 06:51] AmanGarg-MSFT commented on #24264
@imeya Thank you for the question! We are investigating this and will get back to you shortly.

[2019-02-05 07:03] nicwillemse opened #24266 "Database functions with non-scalar parameters aren't supported."
The documentation does not stipulate that non-scalar values are not supported...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7f70535-1e83-54f0-4bc8-b80f5919f118
* Version Independent ID: 57f5c3a0-7a24-ce56-d84c-542d85ffe6a9
* Content: [Connect to Oracle Database - Azure Logic Apps](https://docs.microsoft.com/en-us/

[2019-02-05 07:10] #23594 closed

[2019-02-05 07:17] ChiragMishra-MSFT commented on #23801
@craigg-msft Can you please have a look  at this? I could not assign the issue to @douglaslMS .

[2019-02-05 07:19] angoyal-msft commented on #24227
@MCrank
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-02-05 07:30] RikardStrand commented on #24215
Thanks. So as long as I provision members with scoping feature (and using a gallery app) I don't need a Azure license (i.e. can use the free version)?

//Rikard Strand

On 4 Feb 2019, at 23:42, Marilee Turscak - MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

Hope this helps!

We will now proceed to close this thread. If you have further questions feel free to tag me in th

[2019-02-05 07:31] harelbr commented on #24264
@imeya Thanks for reaching out.
The method described in the doc is still valid and should work.

Please note that the "systemEvents" table doesn't appear under the "Schema" pane in Log Analytics, but it's still there and you can query it.

[2019-02-05 07:36] klchung commented on #24201
Thanks for the response.

And, yes I have added a new claim to retrieve "user.othermail" value but I am not able to pass this value to HANA DB to consume as a logon ID for automatic user creation in HANA DB.  For automatic user creation in database, it uses the value provided by "user.nameidentifier" in which I was not able to modify to ExtractMailPrefix(user.othermail), unfortunately.

[2019-02-05 07:43] imeya commented on #24264
@harelbr, thank you. and the doc mentions that: **this query will retrieve only Smart Detection records of type “Abnormal rise in exception volume”**:

[code]

But in the official doc, it says that for "Abnormal rise in exception volume ", it's internal name is "extension_exceptionchangeextension", which is different than that in the above query(in the above query, it's "ExceptionChangeExtension")

[2019-02-05 07:47] SadiqhAhmed-MSFT commented on #23468
@gseletko The updates have gone live and the changes can be seen on the doc. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-02-05 07:47] #23468 closed

[2019-02-05 07:48] AmanGarg-MSFT commented on #24264
@harelbr Thanks for the confirmation.

@imeya Smart detection rules are a set of pre-defined rules and you cannot add another rule to it. You can only enable or disable existing rules. In order to set up an alert using custom log query, please use the Log Alerts feature of Application Insights - [https://azure.microsoft.com/en-us/blog/log-alerts-for-application-insights-preview/](url)

[2019-02-05 07:53] AmanGarg-MSFT commented on #24264
I apologize. The correct link is this https://azure.microsoft.com/en-us/blog/log-alerts-for-application-insights-preview/

[2019-02-05 07:55] imeya commented on #24264
@AmanGarg-MSFT, I don't want to add rule to it(does set alert for it means adding a rule?)

[2019-02-05 07:56] ddobric opened #24267 "URL issue"
Provided URL to quick start samples (i.e. echo ) cannot be found behind this: https://docs.microsoft.com/en-us/azure/iot-hub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31cd2f69-1c17-95fe-49b7-f1ad2705e8ba
* Version Independent ID: 3fa1a754-75a7-5dcd-1892-b76fea68cd19
* Content: [Azure IoT Hub device streams (previe

[2019-02-05 07:56] jjindrich commented on #24221
I made no configuration, I just created new VM with az vm create

[2019-02-05 08:07] ananthradhakrishnan commented on #22954
@jamesbannan, yes that is correct.

[2019-02-05 08:08] angoyal-msft commented on #24239
@stephenjust
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-02-05 08:11] AmanGarg-MSFT commented on #24264
According to the document you are following:
<img width="706" alt="capture" src="https://user-images.githubusercontent.com/44466503/52260290-96c09400-294b-11e9-896c-99f70d41535d.PNG">

The **Internal name** provided in the official [doc](https://docs.microsoft.com/en-us/azure/azure-monitor/app/proactive-arm-config#smart-detection-rule-names) are only to be used within the ARM templates for enablin

[2019-02-05 08:21] rolanddb commented on #22384
@kanshiG I've tried with these versions:

Container:
`OpenSSL 1.1.0j  20 Nov 2018`

Mac:
`OpenSSL 1.1.1a  20 Nov 2018`

AFAIK support for TLS1.2 was added in OpenSSL 1.0.1, so this should be OK.

[2019-02-05 08:28] dhmorrison opened #24268 "Wow, Seriosly? I'm Sitting Here Creating my Function.json file. Yep. Never did one before, but now I'll just go ahead and do that. LOL. Wooo. Hilarious."
This is a late night joke, right?  I have no clue how to create my very own json function file.  LOL.

The instructions state: "In version 2.x of the Azure Functions runtime, you have to explicitly register the binding extensions (binding types) that you use in your function app."   **...Hmmmm, help me out here.  _What does this mean?  How do I do it?_**

"When you develop functions locally, you c

[2019-02-05 08:33] rolanddb commented on #22384
@Mike-Ubezzi-MSFT Thanks, that did the trick!

So what is the deal with `bc2025.crt`? It seems like this file on its own cannot be used to establish a connection. And when using `/usr/lib/ssl/certs/ca-certificates.crt` it is not needed at all.

[2019-02-05 08:33] JulianHayward opened #24269 "second security contact"
trying to create a second security contact:

PS C:\Users\xxx&gt; Set-AzSecurityContact -Name "default2" -Email "name@domain.com" -Phone "004999999999999" -AlertAdmin -NotifyOnAlert
Set-AzSecurityContact : Invalid JSON was provided - Only first contact is allowed to have a 'Phone' field.
At line:1 char:1
+ Set-AzSecurityContact -Name "default2" -Email "name@domain.com" -Phone  ...
+ ~~~~~~~~~~~~~~~

[2019-02-05 08:37] ddobric opened #24270 "Missing code explanation"
It would be great to provide a code (or important part of it) behind device and service side applications.
This page is good to describe how to run sample. However reader's expectation might be rather to understand how to implement such applications and to understand how they work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-02-05 09:05] idohalevi opened #24272 "sasUrl"
Not sure, and it's not clear, how should I generate an EventHub sasURL? you just mention an example of how it looks but where can I get it from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a-8d9b-228a-6919-16127f315d40
* Content: [Azure Compute -