[2020-10-05 13:49] DCtheGeek commented on #63814
@akingscote Sorry that I misunderstood your comment.  What you are asking for can't be in documentation as it's not currently a capability / feature.  This GitHub Issues feedback forum is intended for issues with the docs themselves (incorrect information, typos, gaps for existing features, etc.). Since what you are asking for is a new capability / feature, the appropriate place to raise that is t

[2020-10-05 13:52] iiminov opened #63819 "Error code 9002313 when attempting to refresh access token"
How to determine what part of my request to refresh an expired access token is MS not happy with?

This functionality has worked for years. But recently users started reporting that they keep getting an error message saying could not refresh an expired access token (internal message). So I tried to send the data to /token endpoint as per [documentation](https://docs.microsoft.com/en-us/graph/auth-

[2020-10-05 13:53] akingscote commented on #63814
@DCtheGeek ok thanks David, ill raise an issue there

[2020-10-05 13:57] mmacy commented on #62807
@stefandascalu64 I'd like to help alleviate some of your frustration, but need a bit more information from you.

Are you referring to the post logout redirect URI, which appears in all three of the example code snippets:

[code]

...or are you referring to this, which appears only in the Angular code snippet:

[code]

If we can get a bit more info from you on the issue you're having, I'm hoping we

[2020-10-05 13:57] iiminov commented on #63819
Forgot to mention that previously the above request worked just fine without having to provide **redirect_uri** and **scope** parameters. But now it doesn't work even with them specified.

[2020-10-05 13:59] RohitMungi-MSFT commented on #63809
@Paulien23 I have tried to use the code from the quickstart and it worked without issues. I think the error you are facing is because the correct version of the library is not installed. Please try to install version azure-ai-textanalytics-5.0.0 by running

`pip install --upgrade azure-ai-textanalytics`
`pip install --upgrade azure-core`

The quickstart code should run as is by using the complete

[2020-10-05 14:01] BhargaviAnnadevara-MSFT commented on #63791
@thelovekesh Yes, I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-10-05 14:06] mmacy commented on #62504
This issue has not seen activity in 24 days, requesting closure due to inactivity: #please-close

If you think this issue has been closed prematurely, please let us know.

[2020-10-05 14:06] #62504 closed

[2020-10-05 14:07] mmacy commented on #62965
@hpsin, is there doc work needed here to get this one closed?

[2020-10-05 14:07] Paulien23 commented on #63809
Ah thank you so much, I upgraded azure-ai-textanalytics but didn't try to upgrade azure-core. That solved the issue.

[2020-10-05 14:07] #63809 closed

[2020-10-05 14:08] HaydnDias commented on #62877
I didn't, it just vanished by itself, without any changes made to our azure setup, a few days later it just started working bizzarely.

[2020-10-05 14:28] maniv2013 commented on #63571
@SwathiDhanwada-MSFT ... kindly can i get update

[2020-10-05 14:29] OneConsutlantsDemo commented on #63813
@RohitMungi-MSFT : Thanks for your prompt reply. I basically intend to understand what difference it would make if we have the ML code sitting inside a Azure Data bricks Notebook and one sitting inside the Azure ML Notebook. Both these options gives us the code environment. If I do not want to use ML flow of Azure Data bricks should I limit my task only to Azure ML in that case? Any suggestions..

[2020-10-05 14:35] SQLDataSide opened #63820 "Git link in the example doesn't work"
[the link for the mentioned does not work
https://raw.githubusercontent.com/Azure/azure-docs-json-samples/master/event-grid/
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec5477a-c4b4-a37c-f853-3d517a095e93
* Version Independent ID: 51b5ddf3-109d-4f9e-5d2d-afe7d46dab42
* Content: [Tutorial: Send Event Hubs data to

[2020-10-05 14:38] AnuragSharma-MSFT commented on #63804
@DirkEcker Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 14:40] AnuragSharma-MSFT commented on #63807
@rbgigo Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 14:42] AnuragSharma-MSFT commented on #63810
@spku1991 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 14:43] AshokPeddakotla-MSFT commented on #62827
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-05 14:43] #62827 closed

[2020-10-05 14:44] ctimon opened #63821 "Page needs updating..."
It has been a while since this was published\updated.  Need to review and update networking section to include Global Peering functionality.

Just my $0.02.

Thanks.

- Chuck

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88e51bc6-b077-a976-c890-a02e7d71b88e
* Version Independent ID: f3af0a93-edc2-fddf-8690-d70ac22f8a2

[2020-10-05 14:45] AnuragSharma-MSFT commented on #63812
@boazeg Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 14:45] RohitMungi-MSFT commented on #63813
@OneConsutlantsDemo With respect to notebook environments in both the services they are offered separately and they are independent of each other. The notebook from Azure ML can be used to run or setup any experiment from Azure ML and even connect to Azure databricks workspace. Depending on your use case you can use either setup based on which service you would like to use primarily i.e if creatin

[2020-10-05 14:46] damochiz opened #63822 "how can I make 'animal_labels' dataset?"
[Enter feedback here]
When you run the code samples that are listed on this site, you get the error that animal_labels is not defined. Also, the code example that defines this is not found.

[code]

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c02d3f15-dbc8-a1d7-6f95-2f3527d002f0
* Version Independent ID: 6c17

[2020-10-05 14:48] #63680 closed

[2020-10-05 14:59] AshokPeddakotla-MSFT commented on #63447
@Gavinlenton Sorry for the delay in response.

As mentioned in the [FAQ](https://azure.microsoft.com/en-in/services/kinect-dk/#faq)'s, The Azure Kinect DK is available for purchase in the United States, China, Germany, Japan and the United Kingdom.

![image](https://user-images.githubusercontent.com/44426435/95094714-d3a7e400-0747-11eb-9e14-fb42eaa2d9ad.png)

For purchase, availability and other q

[2020-10-05 14:59] #63447 closed

[2020-10-05 14:59] SubhashVasarapu-MSFT commented on #63500
@suabukha, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-05 14:59] #63500 closed

[2020-10-05 15:03] slimbentami commented on #63413
@KrishnaG-MSFT @femsulu I would like to confirm also that there are not way to log "read" activities (even outside of the activity logs). Thank you for your help.

[2020-10-05 15:12] VladimirKhvostov commented on #24243
Gentle ping. Can someone confirm that accelerated networking is supported on Ubuntu 18.04?

[2020-10-05 15:14] JAI2436 commented on #63671
Some one please answer this.

[2020-10-05 15:16] YutongTie-MSFT commented on #63822
@damochiz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-05 15:27] ncoder commented on #62804
I should be running on the premium plan.

On Mon, Oct 5, 2020, 02:54 MayankBargali-MSFT <notifications@github.com>
wrote:

[2020-10-05 15:29] softwarecraft opened #63823 "Is Azure CLI included in / are all Graph APIs excluded from "Microsoft Azure Management" app?"
[Enter feedback here]
Does the [Microsoft Azure Management](https://docs.microsoft.com/en-ca/azure/active-directory/conditional-access/concept-conditional-access-cloud-apps#microsoft-azure-management) app include Azure CLI? The doc page explicitly lists Azure PowerShell but does not mention Azure CLI.

The note states that the Microsoft Azure Management app "does not apply to Azure AD PowerShell,

[2020-10-05 15:33] sfc-gh-sborella opened #63825 "Define Tenant URL for Snowflake"
The Tenant URL (Step 5.5 in [SCIM](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/snowflake-provisioning-tutorial#step-5-configure-automatic-user-provisioning-to-snowflake)) needs to be defined and it needs to be clear that `/scim/v2/` must be appended to the Snowflake account URL.

For example: if your Snowflake account name is `acme` and your Snowflake account is in the `east-

[2020-10-05 15:33] PaulTzl opened #63826 "Number of copies of data"
Hi

Could you clarify how many physical copes of the data are actually held?

i.e. for GRS you say "Copies your data synchronously three times within a single physical location in the primary region using LRS. It then copies your data asynchronously to a single physical location in the secondary region" and then you go on to say - "A write operation is first committed to the primary location and r

[2020-10-05 15:44] luisgizirian opened #63827 "No need to manually install moby-cli."
After `sudo apt-get install moby-engine`, the instruction indicates to `sudo apt-get install moby-cli`. There's no need for the second, as it gets installed by the first one as an "additional package".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-dcad-35ef2b908a2a
* Version Independent ID: 5f85fd7b

[2020-10-05 15:53] mattchenderson commented on #63523
No, the note still holds. The behavior is undefined without a version, and there are some rough edge cases that can come up. We are working on full versionless support, but until then we are keeping the note.

#please-close

[2020-10-05 15:53] #63523 closed

[2020-10-05 15:55] tamram commented on #63479
@SamirFarhat - Have you verified that you have the permissions described in my comment above? You did not respond to that comment, which is why @DerekHerman-MSFT closed the issue.

[2020-10-05 16:07] JamesTran-MSFT commented on #63823
@softwarecraft
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-05 16:09] JamesTran-MSFT commented on #63825
@sfc-gh-sborella
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-05 16:10] NavtejSaini-MSFT commented on #63645
@jdolearydl Please let us know if you need any further info or we will close this by EOD.

[2020-10-05 16:10] NavtejSaini-MSFT commented on #63643
@rohitnayakmsft Please let us know how to take this forward.

[2020-10-05 16:15] lyceus opened #63828 "SQL HB/BYOL clarity"
This article is very informative on the technical elements and some licensing considerations. However, no mention is made of the different licensing options for SQL Server (per-core & Server+CAL). The licensing guide and PUR indicate that HB can only be used with per-core licensing - it would be good to clarify this in the documentation (assuming that interpretation is correct).

Additionally, thi

[2020-10-05 16:18] kenwith commented on #46501
Thank you for the idea on improving the doc. It is much appreciated! I have added this to our internal backlog so we can get this work prioritized into a sprint.

#please-close

[2020-10-05 16:18] #46501 closed

[2020-10-05 16:20] albecker1 commented on #63755
Hi @pisees

Thank you for the feedback. Metrics that apply to locally attached SSDs:

Premium Data Disk Cache Read Hit (Preview) - Percent of read requests are served from the cache
Premium Data Disk Cache Read Miss (Preview) - Percent of read requests that tried to get read from the cache but it's not there so it has to be read from remote storage
Premium OS Disk Cache Read Hit (Preview) -  Same

[2020-10-05 16:22] erhopf commented on #62540
@damochiz - Thanks for reporting this. This is actually a bug in the service that our engineering team is now investigating.

Only text within the `<span translate="no"></span>` should be ignored by the service.

[2020-10-05 16:23] erhopf commented on #62540
#reassign:@krishna-doss-mohan - Can update this ticket once a patch is applied.

[2020-10-05 16:29] JoeDavies-MSFT commented on #62900
@robert-bunch Confirmed that this is not currently supported and I have updated the https://docs.microsoft.com/en-us/microsoft-365/enterprise/teams-access-policies?view=o365-worldwide article and its figure. Thanks for letting us know.

[2020-10-05 16:30] JoeDavies-MSFT commented on #62900
@MicrosoftGuyJFlo John, can you close this issue? Thanks

[2020-10-05 16:30] ld0614 commented on #37309
@AdamS-MSFT I don't suppose there has been any movement on this has there?

[2020-10-05 16:39] JamesTran-MSFT commented on #62877
@liambolling
Thanks for bringing this up.

I'll let our engineering teams know that this might be a potential product bug so they can take a look at this.

[2020-10-05 16:44] tfitzmac commented on #63763
As noted in #63762, DNS and Application Gateway are listed under Microsoft.Network

[2020-10-05 16:50] msaravindh opened #63829 "Modify Peering Settings"
Modify peering setting in the page to reflect new UI in Peering page as below. Specifically in **HubtoSpoke** peering we need to enable **Use this virtual network's gateway**

![image](https://user-images.githubusercontent.com/22739642/95108092-6badc980-0758-11eb-8488-bdca41056068.png)

In **SpoketoHub** peering we need to enable **Use the remote virtual network's gateway**

![image](https://user-

[2020-10-05 16:58] DerekHerman-MSFT commented on #63826
@PaulTzl We state this in the documentation: "The primary difference between GRS and GZRS is how data is replicated in the primary region. Within the secondary region, data is always replicated synchronously three times using LRS. LRS in the secondary region protects your data against hardware failures."

[2020-10-05 16:59] duongau commented on #63806
@GitaraniSharma-MSFT  Thank you for bringing this to my attention. This should be fixed in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/132552. This should reflect by the end of day.

[2020-10-05 17:04] erikadoyle commented on #61439
In case its useful for future reference, [Microsoft Q&A](https://docs.microsoft.com/answers/products/) is a great place to get answers and insights not just from Microsoft engineers but the greater [Service Fabric](https://docs.microsoft.com/answers/topics/azure-service-fabric.html) community. #please-close

[2020-10-05 17:04] #61439 closed

[2020-10-05 17:06] Karishma-Tiwari-MSFT commented on #63821
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-05 17:07] Karishma-Tiwari-MSFT commented on #63828
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-05 17:11] RyanHill-MSFT commented on #63761
Hi @diberry, changing the default port for the app service can't be done. However, for [Linux hosted apps](https://docs.microsoft.com/en-us/azure/app-service/faq-app-service-linux#custom-containers) and [custom images](https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container?pivots=container-windows#configure-port-number), do document the binding port can be changed by using W

[2020-10-05 17:11] #63761 closed

[2020-10-05 17:20] RyanHill-MSFT commented on #63691
Hi @PaulARoy, change your property to `allowedExternalRedirectUri`. We to make this [change](https://github.com/MicrosoftDocs/azure-docs/commit/bde888a09381b13af29892526250ec4019d70670#diff-3b8a95c4fb0119bca02669207be2ed01) a couple of weeks ago.

Let me know if this doesn't work correct your issue.

[2020-10-05 17:22] JamesTran-MSFT commented on #63688
@lozanov95
Thanks for your feedback!

The variable **$SubnetName = "DomainServices"**, is in "[Create network resources](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/powershell-create-instance#create-network-resources)" and "[Complete PowerShell script](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/powershell-create-instance#complete-powershell-

[2020-10-05 17:22] #63688 closed

[2020-10-05 17:27] b-juche commented on #63804
Thank you, @DirkEcker!  I'm reaching out to the content/diagram provider to obtain an update.

[2020-10-05 17:27] WinstonHoward-MSFT commented on #63649
@dk7869p You will need to create the new ARM resources, register your existing session hosts to them, and then slowly bring your users over. The classic resources are incompatible and cannot be used with the portal so you need to create new ones and migrate your users.

[2020-10-05 17:30] BhargaviAnnadevara-MSFT commented on #63583
@alex-frankel I see that the API version used in the quoted [quickstart template](https://github.com/Azure/azure-quickstart-templates/blob/master/101-app-configuration-store-kv/azuredeploy.json#L61) is `2020-07-01-preview`, which is not listed on the [ARM reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.appconfiguration/allversions) for `Microsoft.AppConfiguration/configuratio

[2020-10-05 17:32] BhargaviAnnadevara-MSFT commented on #63583
@alex-frankel I see that the API version used in the quoted [quickstart template](https://github.com/Azure/azure-quickstart-templates/blob/master/101-app-configuration-store-kv/azuredeploy.json#L61) is `2020-07-01-preview`, which is not listed on the [ARM reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.appconfiguration/allversions) for `Microsoft.AppConfiguration/configuratio

[2020-10-05 17:32] kelvinatph opened #63830 "not clear how to actually access diagnostic logs after turning them on"
https://docs.microsoft.com/bs-cyrl-ba/azure/mysql/howto-configure-server-logs-in-portal

- doesn't tell you how look up the logs you just turned on, so it's hard to know if you actually did it correctly, especially when outputting to log analytics, since in that interface it's hard to distinguish between whether there's no data present vs. user queried for the data wrong / not looking in the corre

[2020-10-05 17:33] ChaitanyaNaykodi-MSFT commented on #63820
Hello @SQLDataSide, Thank you for reaching out. Are you referring to the link (https://raw.githubusercontent.com/Azure/azure-docs-json-samples/master/event-grid/EventHubsDataMigration.json) provided in the [2. a](https://docs.microsoft.com/en-us/azure/event-grid/event-grid-event-hubs-integration#use-azure-cli) and [3. a](https://docs.microsoft.com/en-us/azure/event-grid/event-grid-event-hubs-integ

[2020-10-05 17:39] b-juche commented on #63692
Thank you, @samueljamkhandi-MSFT!!  I'm confirming with our subject matter experts and will get back to you about making this doc update.

[2020-10-05 17:44] MarileeTurscak-MSFT commented on #63819
@iiminov
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-05 17:44] #63791 closed

[2020-10-05 17:45] iainfoulds commented on #63688
This script was updated from a separate issue, but at least it's also resolved here as well. Sorry for the confusion.

[2020-10-05 17:49] himanshusinha-msft commented on #63686
Hello @raunakjhawar  ,
SQL does not support VARCHAR(32676)  and hence you are getting the error , i think you will have to go with the varchar(max) .
Just tgo give you more perspective as to what will work and what now .

-- The below code works fine for any value which is less then 8000 . You can read more [here ](https://docs.microsoft.com/en-us/sql/t-sql/data-types/char-and-varchar-transact-sql

[2020-10-05 17:49] #63686 closed

[2020-10-05 17:52] ecfan commented on #63746
This question is about BizTalk Server, correct?

@ValRobb, do you work on BizTalk or know who can help with this question?

Here's the doc page for the [BizTalk Mapper tool](https://docs.microsoft.com/biztalk/core/using-biztalk-mapper), and the BizTalk GitHub issues repo is here: https://github.com/MicrosoftDocs/biztalk-docs/issues

[2020-10-05 18:03] msmimart commented on #56501
Thanks so much for this feedback, apologies for the delay. We've included this request in our documentation backlog for tracking. We'll add a comment to this issue when the article is updated. #please-close

[2020-10-05 18:03] #56501 closed

[2020-10-05 18:04] MonikaReddy-MSFT commented on #63639
@yakanada -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-05 18:04] #63639 closed

[2020-10-05 18:04] psmanhas commented on #63660
@ScottMetzel Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-05 18:04] psmanhas commented on #63660
@mimckitt Can you please check and add your comments on this doc update request as applicable

[2020-10-05 18:05] msmimart commented on #62971
Thanks so much for this feedback! We've added this request to our documentation backlog; when the article is revised, I'll update this issue. #please-close

[2020-10-05 18:05] #62971 closed

[2020-10-05 18:07] BharathNimmala-MSFT commented on #63817
@bdschaap Thank you for your query, we will look into it and get back to you at the earliest.

[2020-10-05 18:07] psmanhas commented on #63664
@SteveBurkettNZ Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-05 18:07] psmanhas commented on #63664
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2020-10-05 18:08] mfilippo commented on #58878
Many thanks for your suggestions. I will try to follow these guidelines. I will let you know if I will be able to share some implementation examples on github.

[2020-10-05 18:10] psmanhas commented on #63674
@gerhardcit Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-05 18:11] psmanhas commented on #63674
@mlearned Can you please check and add your comments on this doc update request as applicable

[2020-10-05 18:14] psmanhas commented on #63768
@alexjoybc Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-05 18:14] psmanhas commented on #63768
@Dbakevlar Can you please check and add your comments on this doc update request as applicable

[2020-10-05 18:15] #63757 closed

[2020-10-05 18:16] psmanhas commented on #63173
@rolyon Can you please check and add your comments on this request as applicable.

[2020-10-05 18:29] tigerdeccan commented on #42693
Im not sure why this task is closed when escaping lines or line break wont work in Azure CLI is not a good option . MSFT should look into it

[2020-10-05 18:29] anil8623 commented on #63777
I've not got any useful document or article for this, because on APIM new developer portal there is no much documentation available.

So if you can see from APIM instance > portal overview > Developer portal > there will be a option to enable Azure AD

So once I enable this I know the users available on Azure AD can be able to login APIM developer portal.

Here if my users login to Legacy Develope

[2020-10-05 18:30] SubhashVasarapu-MSFT commented on #63818
@dannradkov, Sorry for the inconvenience caused. We will do investigate the possibilities of adding it on the FAQ list.

[2020-10-05 18:37] Ronsss commented on #63766
Great, but the POINT IS the error message dialog shown to the user links to
this page, so you have to cross link it from here to the location you
pointed to so users can find the help that is promised them in the error
message without playing hide and seek!

On Mon, Oct 5, 2020 at 2:33 AM AmanpreetSingh-MSFT <notifications@github.com>
wrote:

[2020-10-05 18:40] #51818 closed

[2020-10-05 18:46] msmimart commented on #52291
Hi @danijam, thanks for your feedback. Hopefully these replies along with the progressive profile sample the Azure AD B2C samples repo have been helpful. I'll go ahead and close this issue now, but feel free to reopen if you have further questions. #please-close

[2020-10-05 18:46] #52291 closed

[2020-10-05 18:47] roygara commented on #57414
Thanks for reaching out, the article now includes the v12 SDK, accordingly, I'll close this out.

#please-close

[2020-10-05 18:47] #57414 closed

[2020-10-05 18:48] Chireven opened #63834 "Upgrade/Downgrade process is very misleading"
This page is confusing.  I came here seeking the process of moving from Standard to Premium.  The documentation seems to imply I can upgrade/downgrade pricing tiers, but the process seems to describe deleting and recreating the workspace.  That really isn't an upgrade, as all the work in the workspace would be deleted when the workspace is removed.

---
#### Document Details

⚠ *Do not edit this s

[2020-10-05 18:49] philmea opened #63835 "Delay in provisioning resources after subscription upgrade"
Is there a delay in the ability to create new Azure resources when upgrading your subscription from Free to Pay-Go?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3e2b8c0-6652-53b8-ff40-37473c359b7e
* Version Independent ID: 5be7927d-cf08-7438-ecfd-554a6928d122
* Content: [Upgrade your Azure account](https://docs.micr

[2020-10-05 18:52] jeffw-wherethebitsroam commented on #63446
Hi,

I believe you have misunderstood the question.

I understand how you would use the `StorageSharedKeyCredential` to create a Sas query.

What isn't clear is where the `StorageSharedKeyCredential` can be obtained from. In the example it is just passed in as a parameter to the function.

My code (and I suspect many others) looks similar to this:

[code]

[2020-10-05 18:52] SubhashVasarapu-MSFT commented on #63818
@dannradkov, also I would like to reconfirm with you about AFW deallocation. Did you use this [script](https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#how-can-i-stop-and-start-azure-firewall) to stop the firewall? Are being charged even after stopping AFW? That should not be the Ideal case.

[2020-10-05 18:54] Mike-Ubezzi-MSFT commented on #63524
@Bouke I apologize for the delay in responding to this specific topic and thank you for taking the time to document your results. Would it be possible to detail the method by which the results have been generated? Thank you!

[2020-10-05 18:59] martintoreilly opened #63836 "Add instructions for configuring VM to use only VMICTimeSync host-time"
This page says that Azure Linux VMs can be configured with "host only" time synchronisation, which will use only the VMICTimeSync host-time and not use external NTP time sources. The page about time sync on Windows VMs has an [Opt-in for host-only time sync](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/time-sync#opt-in-for-host-only-time-sync) section with instructions about how

[2020-10-05 19:01] ValRobb commented on #63746
Support for Saxon XSLT 3.0 was added in BizTalk 2020.
https://docs.microsoft.com/en-us/biztalk/install-and-config-guides/whats-new-in-biztalk-server-2020  << Search on XSLT (or scroll down and see it is an added feature - there are links there to further information.
Technet post:  https://social.technet.microsoft.com/wiki/contents/articles/53591.biztalk-server-2020-a-review-of-the-new-xslt-3-0-cu

[2020-10-05 19:02] WinstonHoward-MSFT commented on #63807
Hi @rbgigo changing the timestamp attribute should allow the custom script to trigger again. See this [issue](https://github.com/MicrosoftDocs/azure-docs/issues/18345).

If your still unable to trigger the script with the timestamp attribute with that example, would you be able to post the script you are trying to use here so I can try and replicate what your seeing? If not let me know and we can

[2020-10-05 19:04] WinstonHoward-MSFT commented on #63836
Thanks for the issue, allow me a moment to take a look.

[2020-10-05 19:26] hpsin commented on #62965
Did that in #MicrosoftDocs/azure-docs-pr#130635

[2020-10-05 19:38] Nickomang commented on #63437
Hi @writex, thanks for your feedback. A Shared Project Reference is useful for reusing pieces of code in additional projects, but that functionality is outside of the scope of this tutorial, so selecting "Add Project Reference..." is correct. We've changed the document to accurately reflect the proper option.

#please-close

[2020-10-05 19:38] #63437 closed

[2020-10-05 19:48] fsantoropettibbe opened #63837 "Out of date document"
We are unable to follow this exact document as it appears to be out of date since NetSuite update 2019.2, where 2FA became mandatory for Administrators. Therefore, we cannot use the NetSuite Administrator role since we keep getting an error to not use a role with 2FA.

However, when setting up a role without 2FA, and assigning the user that role, when attempting to test the connectivity with that

[2020-10-05 19:49] mike-urnun-msft commented on #63409
Hi @cwickham33 - Thanks again for your feedback. Could you point out the specific part that's calling out so?

[2020-10-05 19:55] TravisCragg-MSFT commented on #63796
@manu4rhyme Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-10-05 19:58] JamesTran-MSFT commented on #63837
@fsantoropettibbe
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-05 19:58] larryclaman commented on #52299
this documentation page should make it explicitly clear that using Publish Profile as Deployment Credential is recommended, and the service principal method is deprecated, per the github actions documentation.

[2020-10-05 20:02] Grace-MacJones-MSFT commented on #63478
Hi @jonathan-martin-endava,

Thank you so much for your patience. Yes, we moved away from awverify and moved towards asuid.  As the world continues to change, asuid is the best way to prevent dangling DNS entries and help to avoid subdomain takeovers (Please view this doc for more info: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain). We do understand you

[2020-10-05 20:02] #63478 closed

[2020-10-05 20:06] MicrosoftGuyJFlo commented on #63591
It currently only works in the documented scenario.

Windows Hello for Business and FIDO2 tokens stamp your token with having performed MFA as they are considered Strong Authentication methods.

Custom controls for Conditional Access does not stamp the token with MFA.

[2020-10-05 20:16] msmimart commented on #54956
#please-close

[2020-10-05 20:16] #54956 closed

[2020-10-05 20:16] ecfan commented on #63397
@erschef, thanks for the feedback! We have a work item on the doc backlog to address.

@MayankBargali-MSFT: #please-close

[2020-10-05 20:16] #63397 closed

[2020-10-05 20:17] ecfan commented on #63398
@ekalyvio, thanks for raising this issue! We have a work item on the doc back to address.

@ChaitanyaNaykodi-MSFT: #please-close

[2020-10-05 20:17] #63398 closed

[2020-10-05 20:20] msmimart commented on #58645
Hi @nkumars, hopefully this helped clarify the scenario. I'll go ahead and close this now but feel free to reopen if you have further questions. #please-close

[2020-10-05 20:20] #58645 closed

[2020-10-05 20:23] ecfan commented on #61202
Closing this issue for now as we have a work item on the doc backlog to address.

@ChaitanyaNaykodi-MSFT: #please-close

[2020-10-05 20:23] #61202 closed

[2020-10-05 20:24] ecfan commented on #59136
@ChaitanyaNaykodi-MSFT: #please-close as the work item is on the doc backlog.

[2020-10-05 20:24] #59136 closed

[2020-10-05 20:25] ecfan commented on #57190
@mike-urnun-msft: #please-close as the work item is on the doc backlog.

[2020-10-05 20:25] #57190 closed

[2020-10-05 20:30] kgremban commented on #63827
@luisgizirian Thanks for flagging this. Since the moby-cli installation command is unnecessary but not breaking anything, I'm going to bundle this update with some other work being done on the Linux installation doc that will go out in the next week or so.

[2020-10-05 20:30] b-juche commented on #63804
@DirkEcker  the product manager confirmed that the text above the diagram needed an update.

Instead of:

* SAP HANA backup volume: Size 4.5 TB with up to 256 MiB/s

It should be

* SAP HANA backup volume: Size **6.5** TB with up to 256 MiB/s

The diagram itself doesn't need an update.

We've made the text modification and the change should post within the next day.

Thanks again for bringing this

[2020-10-05 20:30] #63804 closed

[2020-10-05 20:47] msmimart commented on #53772
#please-close

[2020-10-05 20:47] #53772 closed

[2020-10-05 20:51] kenwith commented on #54969
I have a PR updating header-based auth and it will publish soon and deprecate this article. I will confirm links in the updated article. Thank you for the feedback, it is much appreciated.

#please-close

[2020-10-05 20:51] #54969 closed

[2020-10-05 20:55] kenwith commented on #41964
This article will be deprecated with a new article soon. I will capture this information. Thank you submitting and sorry for my delay.

#please-close

[2020-10-05 20:57] kenwith commented on #41964
#please-close

[2020-10-05 20:59] RicardoNiepel opened #63839 "Add book Building Secure and Reliable Systems"
The book [Building Secure and Reliable Systems](https://www.oreilly.com/library/view/building-secure-and/9781492083115/) should be added to the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fd4c69b-8d4e-1132-14d6-0dd38882bded
* Version Independent ID: a359e0ba-55fe-6123-7dc0-ff79edb3c873
* Content: [SRE book li

[2020-10-05 21:00] #41964 closed

[2020-10-05 21:01] dnblankedelman commented on #63839
Thanks for the suggestion. I will definitely add this and the new SLI/SLO book.

[2020-10-05 21:01] Mike-Ubezzi-MSFT commented on #63481
@karinagrdz I apologize for the delay in responding to your issue but, I am curious if you are perhaps attempting to run this against an SQL Engine version other than SQL Edge, as per the documentation `JSON` is a supported file format (for SQL Edge only) for [CREATE EXTERNAL FILE FORMAT](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-file-format-transact-sql?).

 - Delimite

[2020-10-05 21:04] v-demjoh commented on #56038
I confirmed with this page's primary author and through a full test that activity around appsettings.json is correctly localized to the task where it's needed.

[2020-10-05 21:07] kgremban commented on #59553
@jackt-moran Have you had a chance to retry your scenario with mbialecka's recommended SAS permissions?

[2020-10-05 21:11] tanmayeekamath commented on #63641
Hey @tobyfiserv
Thanks for the feedback. Adding the response from another issue you reported for clarity.
The commandlets were deprecated in the latest versions of Azure PowerShell. For other customers we have been recommending using an older version of PowerShell, but more recently we have newer native Azure services that supercede the Image Factory solution.

I know you mentioned you were explor

[2020-10-05 21:20] JamesTran-MSFT commented on #63825
@sfc-gh-sborella
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-05 21:25] BharathNimmala-MSFT commented on #63835
@philmea  Thank you for your query, we will look into it and get back to you at the earliest.

[2020-10-05 21:28] MayMSFT commented on #63516
sorry for the confusion. storage with SE and PE are both supported but the pre-req is that the **workspace** itself must have private link enabled.

we are in the process to clean up our ARM and CLI. Sorry for the inconsistency. You encountered some old parameter, which isn't sufficient to achieve your desired outcome.

"Use workspace managed identity for data preview and profiling in Azure Machin

[2020-10-05 21:34] silvermoong opened #63840 "Need to add an instruction of targeting Azure Functions runtime versions on Linux Function App"
To target Azure Functions runtime versions on Linux Function App, configuring "FUNCTIONS_EXTENSION_VERSION" doesn't work.

In stead, I have to configure the linux_fx_version to get an image with earlier runtime version installed. This method is not documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07d8c45a-8f0

[2020-10-05 21:40] rbgigo commented on #63807
Thanks for the immediate answer. Contrary to the sample I configure the custom script extension using AZ cli like this

az vmss extension set ^
  --publisher Microsoft.Compute ^
  --name CustomScriptExtension ^
  --subscription "Test DEV" ^
  --resource-group test-dev-anti-malware-scanner-rg ^
  --vmss-name test-dev-anti-malware-scanner-vmss ^
  --settings @customConfig.json ^
  --protected-settin

[2020-10-05 21:43] JamesTran-MSFT commented on #63706
@serxansherif
Thank you for your post!

The documentation you linked states, "Use continuous export to stream your alerts and recommendations in real time to Azure Event Hubs, Log Analytics workspaces, or Azure Monitor". Which sounds like you're able to choose one of the three features to stream your alerts to.
![image](https://user-images.githubusercontent.com/36619112/95134421-b529f480-0717-11eb

[2020-10-05 21:46] msmimart commented on #58406
#reassign:JasSuri

[2020-10-05 21:46] msmimart commented on #57846
#reassign:JasSuri

[2020-10-05 21:46] msmimart commented on #53654
#reassign:JasSuri

[2020-10-05 21:46] msmimart commented on #53601
#reassign:JasSuri

[2020-10-05 21:46] msmimart commented on #53589
#reassign:JasSuri

[2020-10-05 21:46] msmimart commented on #54403
#reassign:JasSuri

[2020-10-05 21:46] msmimart commented on #53226
#reassign:JasSuri

[2020-10-05 21:46] msmimart commented on #53606
#reassign:JasSuri

[2020-10-05 21:46] msmimart commented on #57551
#reassign:JasSuri

[2020-10-05 21:47] msmimart commented on #57368
#reassign:JasSuri

[2020-10-05 21:51] mmacy commented on #62965
Excellent, thanks @hpsin! I'll close this one out then as the issue has been addressed. #please-close

[2020-10-05 21:51] #62965 closed

[2020-10-05 22:12] rbgigo commented on #63807
I would like to add the following findings. On the VM itself in directory C:\Packages\Plugins\Microsoft.Compute.CustomScriptExtension\1.10.9 when executing the resetState.cmd followed by enable.cmd the custom extension script gets executed again. Obviously I want to trigger the process from outside of the VM

[2020-10-05 22:13] ChaitanyaNaykodi-MSFT commented on #63564
Hello @masterofimages, I was able to perform the example mentioned above. To trigger my Logic App using the HTTP trigger I used postman to do the "POST" request with sample XML as "Body". I was successfully able to validate my schema present in the integration account. Please let me if you are still facing any issues.

[2020-10-05 22:21] naiteeks commented on #63729
Thank you @borisneal . I have submitted a PR with some changes to add more clarity on this note. The fix should be live by tomorrow.

[2020-10-05 22:22] Bouke commented on #63524
@Mike-Ubezzi-MSFT I've spun up new databases inside West Europe and than ran the following command on those databases:

[code]

[2020-10-05 22:25] sanchitmehta commented on #53360
This has been fixed in the latest platform release. @jfals82 could you please open a support ticket so we can take a look

[2020-10-05 22:29] WinstonHoward-MSFT commented on #63807
Hi @rbgigo ,

The timestamp you provided in commandToExecute is 45 minutes from now. Can you try with a smaller value so we can validate if it triggers?

[2020-10-05 22:32] #56038 closed

[2020-10-05 22:37] KranthiPakala-MSFT commented on #63673
Hi @andreas-marccain : Thanks for using Azure docs feedback forum for raising this concern. Please refer to this doc to explore more about Oracle External Data Types: https://docs.oracle.com/cd/E11882_01/appdev.112/e10646/oci03typ.htm#LNOCI16291

Hope this helps.

We will now proceed to close this thread. If there are further questions regarding this matter, please continue to comment. We will gla

[2020-10-05 22:37] #63673 closed

[2020-10-05 22:48] sameer-kumar opened #63844 "Best practices guidance on single vs multiple instance of Azure Cache Redis"
Do you think it make sense to add a section to the docs recommending whether one **Azure Cache for Redis** instance is enough for multiple Azure apps vs creating separate instance per app per environment?
Our organization has almost 50-200 asp.net apps with each having separate environments for Prod and non-Prod. I'm looking for guidelines on setting up & configuring Redis service on those lines.

[2020-10-05 23:12] wobblewobble opened #63848 "Missing obvious question and answer!"
Can we turn this feature off, or is it locked to the app version on the phone?
Yes we saw a popup indicating a change....but most people are more concerned at the time in getting access to whatever resource is MFA'd than reading an change in the app.
We have many VIPs that don't like un-notified change and what they perceive as additional friction. This could fall into that category 110%.

---
###

[2020-10-05 23:15] mike-urnun-msft commented on #63380
@phatcher Thank you for sharing your feedback! We agree that this guidance can now be updated to reflect the use of HttpClientFactory.  As the next step, we'll now proceed to assign this issue to the author to review further and take the next course of action.

[2020-10-05 23:15] nibaccam commented on #63822
Hi @damochiz, thank you for the feedback. You are correct `animal_labels` is not defined in the code example. I've updated the documentation to clarify where this variable came from, the update will be live tomorrow morning.

For a complete example, please see this notebook: https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/labeled-da

[2020-10-05 23:15] #63822 closed

[2020-10-05 23:25] NavtejSaini-MSFT commented on #63830
@kelvinatph We are checking this and will get back to you.

[2020-10-05 23:26] NavtejSaini-MSFT commented on #63844
@sameer-kumar We are checking this and will get back to you.

[2020-10-05 23:33] jamesbannan commented on #63516
Thanks @MayMSFT - so to confirm, if you need to protect storage accounts with service endpoints or private endpoints, then in order to support MSI-based authentication the Workspace MUST have private endpoints enabled. Is that correct? Are there any other prerequisites for any of the other dependent resources, like Azure Container Registry or Key Vault?

Also, with the creation of datastores, in a

[2020-10-05 23:37] MarileeTurscak-MSFT commented on #63848
@wobblewobble
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-05 23:42] mike-urnun-msft commented on #63409
@cwickham33 Since we didn't determine any updates for this documentation upon reviewing your feedback, we will proceed to close this thread for now. Please feel free to reopen with additional details and we will gladly continue the discussion.

[2020-10-05 23:42] #63409 closed

[2020-10-06 00:02] jamesbannan opened #63850 "NSG rules prevent ML pipelines from failing gracefully"
When configuring [NSG rules](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-secure-training-vnet#mlcports) on the subnet in which the AML compute targets are provisioned, if an Azure ML experiment has an error, the run cannot fail gracefully.

The run completes up to the error, and then gets stuck on the following command:

[code]

There are 10 attempts and then the count restarts

[2020-10-06 00:04] mike-urnun-msft commented on #63306
Hello @mganeshphani - Sorry for the late reply. I believe the Routing section in [Using Azure API Management service with an internal virtual network](https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-internal-vnet#--routing) doc covers this question:

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and

[2020-10-06 00:04] #63306 closed

[2020-10-06 00:15] Karishma-Tiwari-MSFT commented on #63504
We will now close this issue. Please share the details as requested above when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion. Thanks :)

[2020-10-06 00:15] #63504 closed

[2020-10-06 00:49] Karishma-Tiwari-MSFT commented on #63671
@JAI2436 Thanks for your patience. I am looking into it and will share an update soon.

[2020-10-06 00:52] tamram commented on #63446
@jeffw-wherethebitsroam - The StorageSharedKeyCredential class is part of the Azure.Storage.Common package in the v12 storage client library. The constructor is used in the example, and it takes the account name and key as parameters. Here's the reference for the constructor:

https://docs.microsoft.com/en-us/dotnet/api/azure.storage.storagesharedkeycredential.-ctor

I've updated the article to ma

[2020-10-06 00:55] liamgsmith opened #63853 "Configure Azure AD B2C section is confusing"
The Azure AD B2C section is confusing - the doc is written as trying to do the 3 registrations at once when the app now asks for the flow to be completed on each before progressing.

It would be much clearer to work through each registration, one at a time.

Clarification around the 3rd registration for API management would also be good; it appears to be optional but good to firm this up.

---
###

[2020-10-06 01:20] Karishma-Tiwari-MSFT commented on #63671
You would need azure ad account. This is how wvd authenticate on the wvd client and how you control assignments of desktops and appgroups.
For your scenario, you can setup azure ad connect inside your dc to sync to azure ad . When the accounts are populated in aad then assign to app groups either by groups or individually.

Hope that helps answer your question.

[2020-10-06 01:21] ChaitanyaNaykodi-MSFT commented on #63840
Hello @silvermoong, Thank you for your feedback! We will review and update as appropriate.

[2020-10-06 01:32] Karishma-Tiwari-MSFT commented on #63612
I am reaching out to the internal team to get the confirmation on this.

[2020-10-06 01:43] djpmsft commented on #63556
Hey @brianbarnett316 ,

Are you using a GitHub enterprise account? If so, the issue may be that you are trying to connect using the standard Git authentication instead connecting the enterprise url. There is some credential that you are entering incorrectly.

In general, this forum is not the best to troubleshoot issues such as these, but aimed at doc improvements.  I would recommend going to a pl

[2020-10-06 01:45] Karishma-Tiwari-MSFT commented on #63723
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-06 01:51] Karishma-Tiwari-MSFT commented on #63042
Thanks for bringing this to our attention. The report menu is not utilized/needed for this tutorial. This .NET app is a sample app used to share the steps on how to Deploy a .NET application in a Windows container to Azure Service Fabric.
 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the

[2020-10-06 01:51] #63042 closed

[2020-10-06 02:20] sandeep-ma commented on #63746
Hi All
Appreciate your prompt responses. This question is not about BizTalk Server. It is about the 'BizTalk' Mapper Tool that is used for the graphical development of transforms (maps) for Azure Logic Apps. And the question is if and when it will support JSON Liquid Transforms and the latest versions of XSLT. For example, it currently implements propriety C# .NET language functiod but not standar

[2020-10-06 02:32] AnuragSharma-MSFT commented on #63829
@msaravindh Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-06 02:34] AnuragSharma-MSFT commented on #63834
@Chireven Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-06 02:36] irsubasi opened #63854 "Failover section need to be updated"
Under the "Failover" section of the document need to be updated;

This section does mention that the depending on the workload the replication lag can be from seconds to minutes. Which is wrong. It can be hours if the primary is getting very high workload and the replica cannot keep up with the changes. Need to set the right expectations to the users.

Also, the document should discuss about the

[2020-10-06 02:37] AnuragSharma-MSFT commented on #63839
@RicardoNiepel Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-10-06 03:13] DonQsec opened #63855 "Sandbox api https://www.silvergate.com/Api"
I can't seem to access my personal account due to missing api

[2020-10-06 03:25] iappy1 commented on #63731
Hi @BhargaviAnnadevara-MSFT ,

Thank you for the update. It is working fine now, this needs to be updated in the doc as well.

[2020-10-06 03:32] AnuragSharma-MSFT commented on #63850
@jamesbannan Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-10-06 03:34] AnuragSharma-MSFT commented on #63853
@liamgsmith Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-06 03:36] AnuragSharma-MSFT commented on #63855
@DonQsec Could you please provide more information on the issue?

[2020-10-06 03:38] BhargaviAnnadevara-MSFT commented on #63731
@iappy1 Sure, thank you for confirming. Could you provide the URL of the MS Doc that you were following?

[2020-10-06 03:46] DonQsec commented on #63855
Can't seem to generate an api or access my account

[2020-10-06 04:03] CHEEKATLAPRADEEP-MSFT commented on #63808
@kalyani-swain  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-10-06 04:03] #63808 closed

[2020-10-06 04:03] ArvindHarinder1 commented on #56588
The service now only requires IP ranges under Azure Active Directory https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#ip-ranges

[2020-10-06 04:03] ArvindHarinder1 commented on #56588
#Please-close

[2020-10-06 04:03] #56588 closed

[2020-10-06 04:04] #63731 closed

[2020-10-06 04:05] ArvindHarinder1 commented on #56586
The service relies on IP ranges under Azure Active Directory https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#ip-ranges

#please-close

[2020-10-06 04:05] #56586 closed

[2020-10-06 04:05] BhargaviAnnadevara-MSFT commented on #63731
@iappy1 I found a reference to this query in [this](https://docs.microsoft.com/en-us/azure/role-based-access-control/transfer-subscription#list-other-known-resources) document. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly. Thank you for catching that error in the docs!

[2020-10-06 04:07] WinstonHoward-MSFT commented on #63649
Hi @dk7869p , just following up did my response above help clarify? You do need to create new resources and then migrate your users to them, the classic resources are not compatible. Can I close this issue? Thanks!

[2020-10-06 04:09] NavtejSaini-MSFT commented on #63854
@irsubasi We are checking this and will get back to you.

[2020-10-06 04:33] CHEEKATLAPRADEEP-MSFT commented on #63834
@Chireven To upgrade or downgrade the Azure Databricks workspace pricing option (standard to premium) or (premium to standard) in the Azure portal, we will use the same procedure that you use to create new Databricks workspaces.

**Example:**

- **To upgrade:** If a Standard workspace already exists, re-create it as a Premium workspace with the same parameters that were used for the Standard works

[2020-10-06 04:46] KalyanChanumolu-MSFT commented on #63721
@langstonj Could you please elaborate your issue?
VA2130 check is to tracks all users with access to a database. What baseline did you apply?

[2020-10-06 05:24] SnehaAgrawal-MSFT commented on #63475
@donquijotedelamancha  We will close this out but if you feel you have more to share on this issue please let us know.

[2020-10-06 05:24] #63475 closed

[2020-10-06 05:34] akingscote commented on #63591
ok in that case can you please state "MFA only currently works with ...."
I spent a long time trying to figure something out and it would have been great it the documentation mentioned that. Cheers

[2020-10-06 05:50] jdelforno commented on #41834
Hey guys,

Another 6 months on and this is still an unknown?

We really need traction on debugging tools around SQL Performance as the inbuilt tools in Azure really aren't up to it.

[2020-10-06 05:52] RohitMungi-MSFT commented on #63850
@PeterCLu Could we document this rule to be added to the NSG?

[2020-10-06 05:55] BhargaviAnnadevara-MSFT commented on #63583
@alex-frankel The changes to update the sample in the doc in question have been made and are being reviewed. They should reflect soon post the merge. Please note that this API version (`2020-07-01-preview`) will also be added to the [ARM reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.appconfiguration/allversions) docs.

We will now proceed to close this thread as resolved, b

[2020-10-06 05:55] #63583 closed

[2020-10-06 06:15] lightupdifire commented on #63522
@lujiangfeng666
Thanks for the explanation! I would request to have a few good examples of SIF and Persistent browser policies, would be very helpful. Especially explanation how to replace user-MFA trust device and how to apply policy in combination with other policies if company (i assume most of) use Company devices, Personal devices, Require managed apps with App Protection.

[2020-10-06 06:29] ChaitanyaNaykodi-MSFT commented on #63550
Hello @csmcallister, yes the message is deleted by incrementing the "DequeueCount" to 1 for any new message consumed.  I am now proceeding to close this issue out, please tag me in your reply if there are any additional concerns.

[2020-10-06 06:29] #63550 closed

[2020-10-06 06:40] souravmishra-msft commented on #63602
Hello @LukeCarrier, I apologize for the delayed response on this. I did review your query and had some queries around this. As you mentioned that you were already able to add the managed identity to an AAD group. It would be great if you can share the details as which type of managed identity you are using in this case as for every managed identity a service principal object gets created in the ba

[2020-10-06 06:44] AnuragSharma-MSFT commented on #63537
@mloskot We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-06 06:44] #63537 closed

[2020-10-06 06:45] mloskot commented on #63537
@AnuragSharma-MSFT Fine. I'd just note there is no PR linked to this issue.

[2020-10-06 06:45] AnuragSharma-MSFT commented on #63600
@zqyAmy Requesting you to provide the above information if possible?

[2020-10-06 06:45] garyapps commented on #44064
@brandonh-msft  Does this information apply to web apps too? I am not too familiar with Azure functions, so I wasn't sure if it is safe to assume this.

For my web app I currently have the connection string as well as some other passwords and api keys stored in Application Settings page of the web app on the Azure portal. These can be accessed as environment variables in my code. I would like to i

[2020-10-06 06:47] AnuragSharma-MSFT commented on #63537
@mloskot You can find the PR here: MicrosoftDocs/azure-docs-pr#132511

[2020-10-06 07:08] SnehaAgrawal-MSFT commented on #63628
@jcbrooks92 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-10-06 07:09] SnehaAgrawal-MSFT commented on #63627
@jcbrooks92 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-10-06 07:11] DirkEcker commented on #63804
@b-juche Well, then you need to update more than just the line

SAP HANA backup volume: Size 6.5 TB with up to 256 MiB/s

If you look at the end of the paragraph, it says: For instance, a 10-TiB capacity pool with the Ultra service level have a total throughput capacity of 1280 MiB/s (10 TiB x 128 MiB/s/TiB) available for the volumes.

When you add up the numbers listed: SAP HANA data volume: 4 Ti

[2020-10-06 07:12] plamber opened #63857 "Not able to browse the organization and repository using the Create Static Web App (Preview)"
Hello,
I followed the article but I am stuck with the dropdown showing the available organizations and linked repositories.

I am able to sign-in to GitHub. The Azure page reports back the correct login but I am only able to see my repositories and the repositories of one of the organizations I am assigned to.
![image](https://user-images.githubusercontent.com/18241305/95169635-7ba6c700-07b3-11eb-

[2020-10-06 07:13] M0ns1gn0r commented on #54340
This one can be closed, Let's Encrypt is on the list.

[2020-10-06 07:15] YordanYordanov opened #63858 "What if both are enabled"
It is unclear what the effect will be if both policies are enabled with different settings. For example, a Conditional Access Policy for a subset of users specifying MFA for Medium and Above and a Sign-In Risk Policy for all users with MFA for Low and Above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 199e51c2-d6f6-

[2020-10-06 07:15] GavinJin8 opened #63859 "Wait up to 10 minutes to process when you add new on-prem address space into the "Site""
[Enter feedback here]

New added address prefixe is not refeleting instantly on "effective route" of VM, GW and route services.
for exmaple, customer added a new address prefix in the site and which is supposed to be instantly reflects on actual effective route of VM, route service and etc. but it's not.
we have to wait like more than 8-10 minutes before we see that particular route on the azure p

[2020-10-06 07:29] rbgigo commented on #63807
Hi Winston

I tried with the following values for the timestamp property: 1111111111 and 1. It did not make a change. Naming the property timestamp is a bit misleading. The description says it can have any integer value, it has to be just different from the previous value to trigger the action.

I noticed when clicking the **Upgrade** button for the VMSS instance that this triggers the custom scri

[2020-10-06 07:37] rbgigo commented on #63807
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows

Link to the description of the timestamp property

[2020-10-06 07:40] mslot commented on #44064
@garyapps. There is two ways of doing this.

**Through environment variables referencing**
Here you have to:

1. update the environment variable, which in turn will restart the resource

You now have the updated secret.

**Through code**
You can add this to your startup:

[code]

You can now reference your secret this way:
[code]

If you reload the Configuration you will get the latest secret.

**

[2020-10-06 07:50] DirkEcker opened #63860 "Please update the Throughput limit examples of volumes in a manual QoS capacity pool section"
Since I cannot re-open https://github.com/MicrosoftDocs/azure-docs/issues/63804, here is a new request.

@DirkEcker the product manager confirmed that the text above the diagram needed an update.

Instead of:

SAP HANA backup volume: Size 4.5 TB with up to 256 MiB/s
It should be

SAP HANA backup volume: Size 6.5 TB with up to 256 MiB/s
The diagram itself doesn't need an update.

We've made the tex

[2020-10-06 07:55] isaac99 commented on #63384
![githubmsft](https://user-images.githubusercontent.com/3581008/95174109-e3f8a700-07b9-11eb-98eb-72fe395c9444.png)
Also attaching this here as well. This if from the quickstart in the Azure Portal. In this example "PROTOCOL_TLSv2" is suggested and I do not think this option actually exists so it is definitely incorrect.

[2020-10-06 08:00] iiminov commented on #63819
@MarileeTurscak-MSFT

Looks like we found the issue causing the 9002313 in this case. Our refresh tokens were stored as 1000 character string in the database. But it looks like tokens have grown to over 1100 characters which would naturally result in malformed request.

Panic is over, issue resolved for now.

[2020-10-06 08:00] #63819 closed

[2020-10-06 08:04] garyapps commented on #44064
@mslot I understand this part, and I am planning to use the first method (environment variable key vault referencing).

My question was this - Are those secrets read from the key vault and loaded into the web app's environment only one time, when the application starts, and then they are permanently available to the app (without additional trips to the key vault)? Or, is the key vault accessed mul

[2020-10-06 08:08] MayankBargali-MSFT commented on #63657
@Kapkan-Lesion Thanks for your feedback. I am working with @ggailey777 to see how best we can highlight this information in the document.

Regarding your other feedback, I have tested with random regions selecting the docker container option from the azure portal and I do see the validation and the selection of "Consumption Plan" is disabled as below.

![image](https://user-images.githubuserconten

[2020-10-06 08:09] bertrandpons opened #63861 "Missing referenced script"
Hello,

In the documentation, you talk about "Maintain a service catalog of your Azure fully qualified domain name (FQDN) endpoints and the application owners. To build your service catalog, **run the following Azure Resource Graph query script**". Where is this script?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-10-06 08:09] mslot commented on #44064
@garyapps the runtime will cache it until next start. Notice that:

1. webapps with always on will in theory never restart
2. azure functions on consumption plan will cold start after 20 minutes of idle

Read this: https://github.com/MicrosoftDocs/azure-docs/issues/44064#issuecomment-567791890 and the Twitter comment.

[2020-10-06 08:23] zqyAmy commented on #63600
Hi Anurag,
Here is my screenshot:

For this issue, we can see the Vulnerability Assessment under Database side and I know how to find the Vulnerability Assessment scan button. But for this article, our customer unable to find the scan button based on the doc:

I just would like to check if we can edit the documention more clearlly, then our customer can find the scan button quickly.
On Azure SQL o

[2020-10-06 08:25] HarithaMaddi-MSFT commented on #63789
@lilixu9 - Thanks for posting the query. Yes, Synapse uses AAD credentials to authenticate to ADLS and retrieve the file data when AAD is used for login and with no credential. ACL permissions alone does not work for COPY statement and RBAC roles specified are mandatory to authenticate. As ACLs can be used to limit access to individual files, RBAC is preferred which is at the storage account level

[2020-10-06 08:27] garyapps commented on #44064
@mslot Thanks, sounds like this will work great.

[2020-10-06 08:28] CHEEKATLAPRADEEP-MSFT commented on #63676
@UnderTheCraft   Thanks for the feedback!. Your feedback  has been shared with the content owner for further review.

**Note:** Databricks MLflow Model Serving ties directly into the MLflow Model Registry to automatically deploy new versions of a model and route requests to them, making it easy for ML developers to directly manage which models they are serving.

[2020-10-06 08:41] jorgecotillo commented on #62449
I have a fix in place, we need to schedule the deployment, will let you know an ETA by end of day tomorrow.

[2020-10-06 08:52] AnuragSharma-MSFT commented on #63857
@plamber  Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-10-06 08:55] p0shkar opened #63862 "Update overview page to match with subpages"
Is passwordless still in preview using the Authenticator app? From https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-passwordless it seems only that FIDO2 is still in preview.

If not, then images and tables etc need to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-10-06 08:57] adobedoe commented on #63283
Thanks @mike-urnun-msft - I would be good to have the option to specify the redundancy when creating the function app in the portal too instead of defaulting to LRS.

[2020-10-06 08:57] AnuragSharma-MSFT commented on #63600
@zqyAmy Really sorry but we are still not able to see the screenshot. Can you please send the screenshot again?

[2020-10-06 09:09] SwathiDhanwada-MSFT commented on #63491
@leofmoura  Application Insights logging provider does not inherit from the top-level logging level/category. . This is intentional and by design as Application Insights is a paid service, and we wanted to only sent Warning or above by default. Only way to change is by explicit override by user.

For more information, kindly check this issue #52657.

[2020-10-06 09:10] MayankBargali-MSFT commented on #63780
@cocowalla Just following up here. Hope my previous comment clears things up.

[2020-10-06 09:15] wUEZRs opened #63863 "How to remove from Azure spot"
Please provide info on how to remove a machine from Azure spot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb6d504c-6e94-a353-3465-832330efab44
* Version Independent ID: 79c70736-63a0-b023-5336-e16cb4f9d217
* Content: [Use Azure Spot VMs - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machi

[2020-10-06 09:18] MayankBargali-MSFT commented on #63657
@Kapkan-Lesion  We have updated the document and it will be reflected in a few hours. I will be waiting for your response for the other issue.

[2020-10-06 09:20] cocowalla commented on #63780
@MayankBargali-MSFT sorry for the late reply. I'm clear on the "Send" side - 1 message sent == 1 credit consumed (well, unless SQL filters are involved, in which case it's 2 credits for some reason). It's the "Receive" side with AMQP that's less clear for me. In typical AMQP usage, you would use `RegisterMessageHandler` to subscribe to a queue. It sounds like a credit is only consumed when the han

[2020-10-06 09:33] HarithaMaddi-MSFT commented on #63773
@migueesc123 - Thanks for posting the query. Unfortunately, there is no functionality to display query estimated time for ad-hoc queries. To estimate this, today it is manual either through a code to predict the same based on memory, transaction log file and other stats from the database when the query is running. This could be a product feature request and I would recommend you to post an idea in

[2020-10-06 09:33] #63773 closed

[2020-10-06 09:34] AnuragSharma-MSFT commented on #63855
@DonQsec Apologies for inconvenience as this is not supported here. You might need to raise the issue on appropriate forums.

[2020-10-06 09:34] #63855 closed

[2020-10-06 09:41] GitaraniSharma-MSFT commented on #63859
@GavinJin8 , thank you for your feedback. We'll review this and get back to you shortly.

[2020-10-06 09:52] PehrGit opened #63864 "Missing 'nolock' option on shares"
I have a container running based on https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-azure-files. The container mounts share volume. The share is correctly mounted but I'm having problems with different threads trying to access the same SQLite database. They are unable to get a lock on the file.

According to this page: https://support.shotgunsoftware.com/hc/en

[2020-10-06 10:26] Lddeiva opened #63865 "Incorrect IP address range in SQL MI DR documentation"
In the section **Use Private Link** (https://docs.microsoft.com/en-us/azure/azure-sql/database/auto-failover-group-configure?tabs=azure-portal#use-private-link), please update the IP address range **10.0.0.1/16** as **10.1.0.0/16**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d36567a2-90d8-8764-0b7d-dee312844c2d
* V

[2020-10-06 10:29] SwathiDhanwada-MSFT commented on #63526
@mrbullwinkle  Can we update the sample applications hyperlinks with new repo links? I gather from [this issue](https://github.com/microsoft/ApplicationInsights-dotnet/issues/1214) that work is in progress.

Kindly provide your inputs on the issue.

[2020-10-06 10:34] #63865 closed

[2020-10-06 10:34] drewlr opened #63866 "Missing dependency on environment file"
The environment 'pytorch-env' requires a dependency on 'azureml', since it's using azureml.core.Run

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23f9d033-9007-7b0a-d651-88d5d3846b2a
* Version Independent ID: c6efa8cc-8594-698b-21eb-5e4d9ad24bbd
* Content: [Tutorial: Train your first machine learning model - Python -

[2020-10-06 10:35] Lddeiva commented on #63865
Please ignore this issue as the documentation is correct.

[2020-10-06 10:36] #63866 closed

[2020-10-06 10:37] drewlr commented on #63866
I misspoke, just noticed you define two env files

[2020-10-06 10:54] JasSuri commented on #58406
It should say Overview, then click **Logs**.

![image](https://user-images.githubusercontent.com/38688240/95192816-a51f1d00-07ca-11eb-93ff-0692f1e4b1ff.png)

[2020-10-06 10:56] JasSuri commented on #57846
@jarekkoziol did you try putting the instrumentation key into the Custom Policy as "InstrumentationKey=xxxxxxx-xxxx-xxx-xxx-xxxxxxxxxx;IngestionEndpoint=https://germanywestcentral-0.in.applicationinsights.azure.com/" - Did it work?

[2020-10-06 10:57] clement911 commented on #56597
Are there still no updates on this?
We are very keen to try Hyperscale and migrate if all is green but we can't due to this issue.

[2020-10-06 10:58] clement911 commented on #56597
@dimitri-furman  could you please reopen this issue? I don't think I can.

[2020-10-06 11:12] JasSuri commented on #53654
Its because with application scoped SSO, you must pass the client_id of the app you want to sign out of, otherwise the logout isnt really complete as you described.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/openid-connect#send-a-sign-out-request

client_id | No* | The application ID that the Azure portal assigned to your application.*This is required when using Application isola

[2020-10-06 11:13] JasSuri commented on #53601
This is not something we have decided to make more public as of yet, hence no further information to share at this moment.

[2020-10-06 11:14] JasSuri commented on #53589
Can you provide the line of XML that you used to produce this error?

[2020-10-06 11:17] JasSuri commented on #54403
This error is issued when our mail server (Self Service Password Reset Service), deems the email to be invalid/unreachable/or itself fails for any reason to send the SMTP request to the inbox.

[2020-10-06 11:19] JasSuri commented on #53606
An end to end scenario is detailed here:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-rest-api-claims-validation

We do not provide a REST API sample, but we do provide the REST API signature for its Request/Response.

[2020-10-06 11:23] JasSuri commented on #53226
This is because the technical profile Ids are not the same in User Flow vs Custom Policy. So the Custom Policy will ask you to reselect the IdP, even though you already selected it during the User Flow.

You will need to use Custom Policy for both scenarios with the same technical profile Ids.

[2020-10-06 11:30] UnderTheCraft commented on #63676
@CHEEKATLAPRADEEP-MSFT Thank you for your reply and your support!

Yes, I read somewhere, that new versions are deployed automatically which is also really helpful!.
But in my case I want to know if it is possible to enable/start serving of a complete new model from a notebook instance.
Manually this can be done by clicking a button in the Models-UI, which looks like this:

![image](https://user-i

[2020-10-06 11:37] JasSuri commented on #57551
Two issues here.
1. Invalid Username/Password, where the same combo works with User Flows indicated incorrectly setup Proxy/IEF App registrations. These Apps are only used in the scope of Local Account auth.

2. Facebook incorrect Scopes is not related to Proxy/IEF apps at all. This is related to the Scope parameter in the Custom Policy in the Facebook technical profile, vs what is consented to on

[2020-10-06 11:48] vipulsparsh commented on #63861
@bertrandpons  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@memildin Can you have a look at this ?

[2020-10-06 11:49] trichards7 opened #63867 "Azure Active Directory"
Hi,
Most of your azure active directory tutorial pages are slightly outdated - especially the screenshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a408106-8927-9677-fb51-23b45e3edf9a
* Version Independent ID: 414fdd44-2293-0301-d784-c15f34d11829
* Content: [Assign Azure AD roles to users - Azure Active Director

[2020-10-06 11:52] vipulsparsh commented on #63858
@YordanYordanov  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-06 11:52] vipulsparsh commented on #63862
@p0shkar Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-06 12:10] kerray opened #63868 "Code to create new certificate doesn't work"
Hi,
I've been trying to create a new PFX certificate to export its value in Base64, but the code fails with
New-Object : Exception calling ".ctor" with "3" argument(s): "The system cannot find the file specified."
At line:10 char:12
 $PfxCert = New-Object System.Security.Cryptography.X509Certificates.

Moreover
- $certificateName seems to be unused, I suppose it was meant to be appended to $PfxCer

[2020-10-06 12:21] langstonj commented on #63721
Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline -ResourceGroupName "dscrsgsql03" -ServerName "dscsqlsrv03" -DatabaseName "sqldb127" -RuleId "VA2130" -BaselineResult
@(           "dbo",
                                                0x33cc2f61b006854185f181c5aadddfc2),
@(           "Dev Database Service Principals",
              0x48B4AEE32EA1DF4D9F2A963117F17CBA),
@(           "Developers",

[2020-10-06 12:29] vipulsparsh commented on #63867
@trichards7 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-10-06 12:35] saikumarch7548 opened #63869 "vcpu details are mentioned wrongly"
[Enter feedback here]

VCPU details after I installed the server is Intel(R) Xeon(R) CPU E5-2673 v4 @ 2.30GHz, but azure page says that it is CPU E5-2690
please check and correct it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5f6948d-d626-9ba5-342b-258985ca8472
* Version Independent ID: b93a8d69-9fe3-bfa6-9b77-6155

[2020-10-06 12:42] SwathiDhanwada-MSFT commented on #63571
@maniv2013 The document has examples related to posting of DATA API  in several languages (PowerShell , C# etc.). Is there any specific reason that you are trying to post the data using Postman ?

[2020-10-06 12:52] vipulsparsh commented on #63533
@mtwelve This will be coming back next year. No Timeline as of now.

[2020-10-06 13:05] vipulsparsh commented on #63658
@shannonfritz We do have an option to get into the Account from Myapps portal which has all the organization lists.
![image](https://user-images.githubusercontent.com/63580915/95204936-5b522900-0802-11eb-8b31-ae81dd56918b.png)

You can then select the View Account option :
![image](https://user-images.githubusercontent.com/63580915/95205039-77ee6100-0802-11eb-882e-452acbb9c536.png)

You will then

[2020-10-06 13:09] dimitri-furman commented on #56597
@clement911 We continue working to allow migration from Hyperscale to other service tiers. While we have made good progress in recent months, I unfortunately cannot provide an exact time when this will become available.

It also doesn't appear that I can reopen this issue, but please feel free to leave additional comments.

[2020-10-06 13:11] brianbarnett316 commented on #63556
I'm not using a GitHub enterprise account.  I agree, this is not the right forum and will try Microsoft Q&A.

Thanks for your help.

[2020-10-06 13:11] #63556 closed

[2020-10-06 13:12] vipulsparsh commented on #63759
@liambolling Confirm if you have followed all the pre-req mentioned here : https://docs.microsoft.com/en-us/azure/active-directory/develop/publisher-verification-overview  if everything matches up, and you still face the issue. This would need a deeper investigation for which you have to open a support ticket with us.

[2020-10-06 13:14] vipulsparsh commented on #63769
@StevenTCramer  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.
@jmprieur  Can you have a look at this ?

[2020-10-06 13:16] MatthewPMatherne7 opened #63871 "services.ConfigureTelemetryModule<QuickPulseTelemetryModule> ((module, o) => module.AuthenticationApiKey = "YOUR-API-KEY-HERE");"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3307edb-b27c-a0b9-ff1e-610630c98c15
* Version Independent ID: 20262b8a-31ff-4df9-dd05-859001f24eba
* Content: [Diagnose with Live Metrics Stream - Azure Application Insights - Azure Monitor](https://docs.microsoft.com/en-gb/azure/azure-monitor/app/li

[2020-10-06 13:16] vipulsparsh commented on #63862
@p0shkar  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@iainfoulds Can you have a look at this ?

[2020-10-06 13:17] MatthewPMatherne7 commented on #63871
Best in the business and you don't know.

[2020-10-06 13:18] MatthewPMatherne7 opened #63872 "Best in the business and you don't know."
Best in the business and you don't know.

_Originally posted by @MatthewPMatherne7 in https://github.com/MicrosoftDocs/azure-docs/issues/63871#issuecomment-704262289_

[2020-10-06 13:25] snartiff commented on #57242
Thank you @tuandong-bbv, changing the method from GET to POST fixed it for me. In the documentation it states that both GET and POST method are supported for ClaimsExchanges. This wasn't the case for me - only POST method worked for the claims exchange once I added a DisplayControl.

[2020-10-06 13:38] akingscote opened #63873 "Add information on Max peerings?"
Hello,

can you please advise what the maximum amount of peerings are allowed on a vnet?
i am planning a hub-spoke architecture with the potential of hundreds of vnets peered to a single hub and i want to know if it is possible.

Thanks,
Ashley

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc20a64a-096f-7e72-1fb5-436e

[2020-10-06 13:48] rajkumar-munusamy opened #63876 "AzureBackupReport legacy event"
[Can you please let us know when is the AzureBackupReport legacy event being deprecated? Even an eta month would be helpful for us to plan rather than nothing.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 451e3982-75f3-aa8c-9aab-6704c77fecb0
* Version Independent ID: 8c03b201-2d67-cbb6-92ca-1362c7d3f58f
* Content: [

[2020-10-06 13:57] PaulARoy commented on #63691
Thanks for your feedback.

I already tried `allowedExternalRedirectUri` and it didn't work at the time. I did the test again right now and it still doesn't work.

I'm not sure I understand you last sentence, but I posted my full auth.json file and `login` member is at the same level as `facebook` for instance if that's your question. I did not have any `openIdConnectProviders` at that time, now I

[2020-10-06 14:06] GitaraniSharma-MSFT commented on #63873
@akingscote , thank you for your question.
The number of Virtual network peerings per virtual network is 500.

![image](https://user-images.githubusercontent.com/67630903/95212038-e800e500-080a-11eb-9d0c-33fb61e0f810.png)

Please refer the following article for all Microsoft Azure limits:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azu

[2020-10-06 14:06] #63873 closed

[2020-10-06 14:07] igomat opened #63878 "The newest version of the extension"
Please update the page of the newest version:
<REDACTED>
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b2cf75b-7d46-2565-cec2-8436bfbd6bdf
* Version Independent ID: e8b54243-bfb9-5457-7c3d-fe5cf026a4e2
* Content: [Azure Disk Encryption for Windows - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtua

[2020-10-06 14:14] langstonj commented on #63721
John Langston would like to recall the message, "[MicrosoftDocs/azure-docs] Set-AzSqlInstanceDatabaseVulnerabilityAssessmentRuleBaseline for VA2130 doesn't appear to work as advertised (#63721)".

[2020-10-06 14:15] RonnieQuan opened #63880 "Authentication for NFS File Share"
Hi,

The document says it does not support identity based authentication.
Can you please call out what exact authentication it support? Storage Access key or SAS?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a888b024-cae0-d9d7-d593-580b080f1b46
* Version Independent ID: fa3bfa5c-b539-d2ea-48ce-

[2020-10-06 14:16] jeffw-wherethebitsroam commented on #63446
Hi @tamram ,

I had found that constructor as well. But does this then mean I need to manually parse the connection string to extract the account name and key? That seems a bit unnecessary since the connection string containing these is already being parsed by BlobServiceClient.

It would seem that authenticating to blob storage via a connection string is a fairly common scenario. It would be good

[2020-10-06 14:21] #63762 closed

[2020-10-06 14:21] tfitzmac commented on #63762
Added clarification about resource provider namespace which should get published today.

[2020-10-06 14:27] rferrucci opened #63881 "BlobNotFound error"
Whenever I try to download files I get this error with the message "The specified blob does not exist." I know it does because I can see it on azure. Also, when I try to upload to a container the file I try to upload does not upload.

[2020-10-06 14:28] rferrucci commented on #63881
Should mention that when I run code to list blobs in a container the blobs do show up (ones that I upload directly in Azure

[2020-10-06 14:43] tfitzmac commented on #63763
Added note about always using what-if with complete mode. This is the best general guidance for not accidentally deleting resources.

[2020-10-06 14:43] tfitzmac commented on #63763
#please-close

[2020-10-06 14:43] #63763 closed

[2020-10-06 14:54] shortpatti commented on #63797
Duplicate of #63434 and #63417

[2020-10-06 15:11] MonikaReddy-MSFT commented on #63788
@vihangatheturtle -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-10-06 15:11] #63788 closed

[2020-10-06 15:11] AnuragSharma-MSFT commented on #63881
@rferrucci Could you please help us with the article/document you are referring to while performing these steps?

[2020-10-06 15:12] iannovic commented on #57689
I'm having the same issue with the Python SDK

[2020-10-06 15:12] AnuragSharma-MSFT commented on #63863
@wUEZRs Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-06 15:13] AnuragSharma-MSFT commented on #63864
@PehrGit Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-06 15:15] tobyfiserv commented on #63641
Yes, thank you!

[2020-10-06 15:51] tamram commented on #63720
#reassign: @tamram

[2020-10-06 15:52] gopasupa opened #63883 "Databricks Diagnostic Log tables does not appear in Log Analytics workspace"
Hi,

After enabling the Diagnostic settings to a Log analytic workspace, the Databricks tables like DatabricksAccounts, DatabricksJobs, DatabricksCluster, Databricks<tablesuffix> does not appear even if we wait for 24 to 72 hours as per the documentation. We came to know that the workspace needs some activity by creating clusters, or creating jobs in it which then makes the Databricks tables to ap

[2020-10-06 15:53] tamram commented on #63720
@kstario - There is no limit to the number of versions you can create with Azure Storage, except for the capacity limitations for the storage account. Control over how many versions are created needs to happen at the level of your application. So, for example, your application can track the number of versions created and delete ones that are older than a given date, or when there are more than a g

[2020-10-06 15:53] memildin commented on #40812
An update for anyone still referencing this page: take a look at the JIT documentation that was written since this Github issue was created: [What permissions are needed to configure and use JIT?](https://docs.microsoft.com/en-us/azure/security-center/just-in-time-explained#what-permissions-are-needed-to-configure-and-use-jit).

Especially relevant is the Set-JitLeastPrivilegedRole script from the

[2020-10-06 15:54] ohault commented on #26535
App services should both support Multipath TCP and IPv6

[2020-10-06 16:00] souravmishra-msft commented on #63701
Hello @GuyPartridge, I apologize for the delay in my response. Hybrid Azure AD join is supported from Windows 10 version 1603. But then there was an issue that popped up that was termed as dual state. You can read more about it here: https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-plan#handling-devices-with-azure-ad-registered-state

Now the dual state issue got

[2020-10-06 16:12] mrbullwinkle commented on #59710
Closing this issue out. The update to the docs is now merged internally and will go-live later today.

[2020-10-06 16:12] mrbullwinkle commented on #59710
#please-close

[2020-10-06 16:12] #59710 closed

[2020-10-06 16:16] NorthHighlandNicole commented on #61439
@erikadoyle Thank you for the clear response.

[2020-10-06 16:30] writex opened #63885 "Change to plural"
Not: The client can use this certificate when mutual authentication is required.
But: The client can use these certificates when mutual authentication is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5258d97-54db-f748-46bc-50d3162a9bfa
* Version Independent ID: bd553e49-d868-c5e5-4b8a-0e1ed6e3ff5c
* Content

[2020-10-06 16:33] rothja commented on #33716
@SyntaxC4 Cory, this article is not tied to any table of contents and seems to be out of date as well. I recommend that we retire the article unless we can update it. This git issue is 1.5 years old without a response, so I think we should close the issue as well while we look to retire the article. @kwang1 I'm sorry no one got back to you. @thinkingserious @cloudmelon Please comment if you feel t

[2020-10-06 16:35] KalyanChanumolu-MSFT commented on #63721
Technical support on GitHub is limited to documentation issues only.
You may want to post this issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) for visibility to a broader community.

[2020-10-06 16:37] JnHs commented on #63264
Forgot to close this out but the document has been updated with the current region support.
#please-close

[2020-10-06 16:37] #63264 closed

[2020-10-06 16:40] JnHs commented on #63357
Hi @RonnieQuan, sorry for the delayed response. There are two options for logging on to a pool node:
1. Select the pool in the Azure portal and go to the Nodes tab. Select a node you’d like to connect to, click the “…” on the right-hand side, and select “Connect”. You can then generate a user to connect to the node.
![connect-to-node](https://user-images.githubusercontent.com/16583997/95231281-ccb

[2020-10-06 16:43] ImperatorRuscal commented on #24900
@MRITIF in the Central Policy Server (the NPS or RADIUS server) you have to send the vendor-specific RADIUS attribute of **_TSG-Device-Redirection_** in your Network Policy response.  The value should be a 32-bit unsigned integer, selected by using this bitfield.

Bit | Meaning
-- | --
0 | Drives redirection (0: enabled, 1: disabled)
1 | Printers redirection (0: enabled, 1: disabled)
2 | Serial po

[2020-10-06 16:43] chirangaalwis commented on #63589
@psmanhas @akshaysngupta any update on this? Appreciate if we could have some feedback on the proposed design.

[2020-10-06 16:54] hafideladdouti opened #63887 "14 days grace period reset in Identity Protection"
Hi,

Is it possible to reset the 14 days grace period in Identity Protection MFA registration policy? We have an organization who had the policy enabled but now the grace period is ended for much users. Is there a way to reset the days to 14 for all users?

Thanks for your reply.

Hafid el Addouti

[2020-10-06 16:55] scottgorlick opened #63888 "Key Encryption Key cannot be created by az cli command for standard sku KeyVault."
[Enter feedback here]
[code]

please update documentation to include proper KeyVault creation (i.e which sku has this capability)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26bcd765-e7de-c91e-2193-a6b7c166ed05
* Version Independent ID: 6432a759-9995-e08a-ee31-6077fefca464
* Content: [Creating and configuring a key v

[2020-10-06 17:05] MashaMSFT commented on #56871
#please-close

[2020-10-06 17:05] #56871 closed

[2020-10-06 17:06] MashaMSFT commented on #63723
Hi @dbrownems , thanks for pointing this out! We're currently in the process of documenting this so I'll close out this Git Issue.

Thanks again!
Masha from the SQL Docs team
#please-close

[2020-10-06 17:06] #63723 closed

[2020-10-06 17:07] BharathNimmala-MSFT commented on #63868
@kerray Thank you for bringing this to our notice, we will review the query and get back to you at the earliest.

[2020-10-06 17:07] brianobr opened #63890 "Incorrect PowerShell example"
PowerShell only uses one - for a switch, but your example has two, which seems to have been copied from the Az CLI example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ff59c65-dffd-a9d3-e02c-25c688322d91
* Version Independent ID: 001249ab-2a55-e8ee-7d3c-e3cb7f4afd24
* Content: [Export Azure Policy resources - Azure

[2020-10-06 17:08] BharathNimmala-MSFT commented on #63876
@rajkumar-munusamy Thank you for our query, we will review and get back to you at the earliest.

[2020-10-06 17:09] langstonj commented on #63721
An editorial comment on the documentation is that it would be more effective if a more useful example/examples for the Powershell Set-AzSqlInstanceDatabaseVulnerabilityAssessmentRuleBaseline were given.

The clear implication is the given example suffices for all baselines one wishes to set and this is not the case as demonstrated by the example I have given.

John C Langston  |   SQL Database Adm

[2020-10-06 17:09] MauricioZa opened #63891 "Error when creating a replica of My SQL database"
### **Problem description**

- I have an issue when configuring an Azure MySQL server replica.
- I am creating the MySQL server with GeoBackup enabled.
- Just after the server is created, I create the replica in a secondary region, which fails.
- I suspect the creation of the replica fails because there are some tasks running in the background creating the geoBackup.

### **Error that is shown**

[2020-10-06 17:09] MonikaReddy-MSFT commented on #63871
@MatthewPMatherne7 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-10-06 17:10] DCtheGeek commented on #63890
#assign:DCtheGeek

[2020-10-06 17:11] DCtheGeek commented on #63890
@brianobr Right you are and thanks for catching that!  I'll get it fixed right now, but it won't get published until this afternoon.  As soon as the PR merges to correct this, this issue will automatically close.  Thanks for reporting it!

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2020-10-06 17:13] MashaMSFT commented on #63821
Hi @ctimon , thanks for reaching out! I agree, this page could use a refresher, and we can look into adding global peering.

Thank you so much for your feedback! I've created an internal work item ([1779886](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1779886)) and added it to our backlog.

Thanks again for helping improve our docs! I'm going to close out this Git Issue, but pl

[2020-10-06 17:13] #63821 closed

[2020-10-06 17:18] b-juche commented on #63804
#DirkEcker -- Thanks.  Our content provided subsequently sent another update.  Yes, the diagram should be updated to show *4.5 TB*, and the original text was correct ("SAP HANA backup volume: Size 4.5 TB with up to 256 MiB/s")
We are making another update to the article to reflect the changes. It's in the pipeline for publishing.  Thanks again for bringing this to our attention.

[2020-10-06 17:22] #63890 closed

[2020-10-06 17:24] kfarlee commented on #53057
Azure SQL DB does not have a CAL licensing model.  You are billed by the capacity of the database that you provision (cores, etc).  there is no additional per-connection charge or license required.

[2020-10-06 17:26] himanshusinha-msft commented on #63883
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-10-06 17:30] MicrosoftGuyJFlo commented on #62900
#please-close

[2020-10-06 17:30] #62900 closed

[2020-10-06 17:32] MonikaReddy-MSFT commented on #63887
@hafideladdouti -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-06 17:33] MonikaReddy-MSFT commented on #63872
@MatthewPMatherne7 -
Thanks for brining this to our attention. We will track the issue here - https://github.com/MicrosoftDocs/azure-docs/issues/63871.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2020-10-06 17:33] #63872 closed

[2020-10-06 17:34] hafideladdouti commented on #63887
https://docs.microsoft.com/nl-nl/azure/active-directory/identity-protection/howto-identity-protection-configure-mfa-policy

[2020-10-06 17:38] hafideladdouti commented on #63887
It's about the user experience part in Identity protection. We have enabled the mfa registration policy but unfortunately the grace period is expired. I forgot to disable the policy and instead of disabling it.. I have assigned the policy to another group. Now we can not deploy the 14 days grace period for a lot of users, except new accounts after to enroll for MFA.

[2020-10-06 17:38] erzads commented on #60878
@pvrk thank you for the updates. I have been able to trigger and follow the restore job.
For some reason, when a restore job is triggered from azure portal, the logs show "transfer data from vault" and "update the virtual machine" but using the api, only the first step is executed and when I log into my virtual machine the restoration job seems to not have worked because nothing changes.
Is there

[2020-10-06 17:44] tamram commented on #63720
@kstario - This change is now live.

#please-close

[2020-10-06 17:44] #63720 closed

[2020-10-06 17:47] SergueiKomarov commented on #33157
@Microsoft Can we get an update on this issue, please? It is still not resolved and forces your enterprise Azure customers to have Key Vault exposed to All Networks. It has been over a year since this was reported, plenty of time to put it on the roadmap.

[2020-10-06 17:52] pvrk commented on #60878
@erzads : When you trigger from API, can you please go to portal and see the relevant job? What restore job type it is and what happened to it? You can also track from API but looking into portal is easier to understand what's going on.

[2020-10-06 17:54] WinstonHoward-MSFT commented on #63807
Thanks for the detailed response. I did some deeper digging and recognized that by changing the integer value and redeploying, the ``commandToExecute`` will be executed again only on redeploy/upgrade. So you can keep changing timestamp value and redeploy as many times and the command will be executed again. This doesn't mean you don't have to redeploy, you still do. But what the timestamp value is

[2020-10-06 17:55] iainfoulds commented on #63862
Pure passwordless with the Authenticator app is in preview, however other actions of using the Authenticator app such as secondary authentication factor are not. That's just a reflection of the state of the different authentication methods. It looks like there's one instance in the docs where there's no preview statement on the pure passwordless option, otherwise the docs are correct on preview an

[2020-10-06 17:57] ecfan commented on #63746
@sandeep-ma, thanks for clarifying! @divyaswarnkar, can you please answer? Thanks!

[2020-10-06 17:58] erzads commented on #60878
The type is azure virtual machine.
The details show config blob name, config blob container name, config blob uri, template blob uri and activity ID.

The job progress is 100% and the sub tasks table show a single task named transfer data from vault which is completed.

[2020-10-06 18:00] #63649 closed

[2020-10-06 18:01] hexfusion commented on #59103
@albecker1 is there an RFE or issue that can be tracked with regards to the timeline/status of this feature?

cc @vikancha-MSFT

[2020-10-06 18:02] hexfusion commented on #59103
cc @VikasPullagura-MSFT

[2020-10-06 18:04] erzads commented on #60878
![IMG_20201006_150407](https://user-images.githubusercontent.com/699344/95242197-3a2f0f80-07e5-11eb-9da6-68f33b24142a.jpg)

[2020-10-06 18:04] tjohnson1010 opened #63894 "Step 4 of Decode is missing step"
Before you can set the Message header property, you need to "Switch Message headers to text mode" before you select OutboundHeaders properties.

The image is wrong too.  It shows placing the OutboundHeaders inside Message header without switching.  This would cause an error at run-time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-10-06 18:08] souravmishra-msft commented on #63679
Hi @mwucbs, The points you mentioned are covered under this doc: https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-identity-protection-remediate-unblock#unblocking-users
It is based on how the policy is configured not specifically High. I could create a policy at a low risk that blocks a user.
An Admin must intervene if they choose to block users and not allow a sel

[2020-10-06 18:08] souravmishra-msft commented on #63679
Closing this thread for now.

[2020-10-06 18:08] #63679 closed

[2020-10-06 18:10] Karishma-Tiwari-MSFT commented on #63885
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-10-06 18:12] Karishma-Tiwari-MSFT commented on #63869
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-06 18:13] ChaitanyaNaykodi-MSFT commented on #63564
Hello @masterofimages, I am now proceeding to close this issue out, please tag me in your reply if there are any additional concerns.

[2020-10-06 18:13] #63564 closed

[2020-10-06 18:14] bandersmsft commented on #63835
@philmea The engineering team isn't aware of any delay for the update situation. If a subscription was disabled and is re-enabled, then there might be a delay up to 10 min. Are you having a problem creating new resources, or are you just looking for confirmation of a delay?

[2020-10-06 18:17] philmea commented on #63835
Just a confirmation. This information is sufficient, thanks!

[2020-10-06 18:17] #63835 closed

[2020-10-06 18:18] sfilipi opened #63895 "Can the CancellationToken be used to detect the functions runtime being shutdown?"
Can the CancellationToken be used to detect the functions runtime being shutdown?

If so, does the Run/RunAsync methods support having a CancellationToken parameter?

Might be good to mention this in the docs, whether it is supported or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d9600

[2020-10-06 18:22] #63862 closed

[2020-10-06 18:26] iainfoulds commented on #63696
Thanks for the feedback. The certs are test certs and not actually in use. I'm not sure why that image was skipped, though it doesn't contain any sensitive information. I'll look to remove / blur it in a future update.

For now, #please-close

[2020-10-06 18:26] #63696 closed

[2020-10-06 18:29] smits23 commented on #20577
I had a similar issue, what I did was first delete the network profile association and then try to delete the subnet
Here is the ps script:
#Remove Network Profile association if any
$ResourceName = "xxxx-np"
Remove-AzNetworkProfile  -ResourceGroupName  $networkingRg  -ResourceName $ResourceName  -Force

#get Vnet
$virtualNetwork =  Get-AzVirtualNetwork  -Name $vnet -ResourceGroupName  $networking

[2020-10-06 18:29] #63732 closed

[2020-10-06 18:30] JayaChatterjee-MSFT commented on #63732
@JackyChiou Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-10-06 18:36] oaljoundi commented on #56070
Hi Alfred, @asinn826, just wondering if you were able to make any progress on closing this issue out?

[2020-10-06 18:40] pvrk commented on #60878
Looks like you are triggering restore disks and not 'replace disks'. Can you please verify once more with the content present in the same article?

[2020-10-06 18:43] oaljoundi commented on #58359
Hi @asinn826, have you had a chance to make progress on closing out this issue?

[2020-10-06 18:52] RyanHill-MSFT commented on #63691
My mistake @PaulARoy, I meant to say sibling to `identityProviders`.

[code]

[2020-10-06 18:53] sunkararp commented on #50030
We have the same issue. Very little technical details here, can someone from Microsoft add more technical details here? Microsoft's t-shooting doc [is](https://docs.microsoft.com/en-us/azure/data-factory/data-factory-troubleshoot-guide) very amusing. This issued showed up in our newly resourceGroup that has vNet (resourceGrough that doesn't have vNet or SelfHostedRuntime works fine).

Where is the

[2020-10-06 18:55] AjayKumar-MSFT commented on #63729
Boris, thanks again for taking time to share your feedback on this. As Naiteek mentioned the requested changes would be merged shortly. We will close this for now, if you have any questions please just let us know.

[2020-10-06 18:55] #63729 closed

[2020-10-06 19:01] DerekHerman-MSFT commented on #63880
@RonnieQuan Please the Security section [here](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-compare-protocols#security) which answers your question:
_"Unlike Azure Files using the SMB protocol, file shares using the NFS protocol do not offer user-based authentication. Authentication for NFS shares is based on the configured network security rules. Due to this, to ensure only

[2020-10-06 19:01] #63880 closed

[2020-10-06 19:03] julieMSFT commented on #34212
@LindaLF Hello and thank you for contacting Microsoft. I am sorry for the delay in responding to your question. I am looking into this.

[2020-10-06 19:03] julieMSFT commented on #34212
#assign:julieMSFT

[2020-10-06 19:14] hexfusion commented on #59103
Or maybe you can confirm they are now live[1].

[1] https://azure.microsoft.com/en-us/updates/new-disk-io-and-bandwidth-metrics-to-identify-bottlenecks/

[2020-10-06 19:18] carlo-quinonez opened #63899 "Can the Message class be used to send an event?"
The JS examples shown on this page illustrate sending simple string data to an IoT Hub. Normally, sending events via the IoT Hub SDK uses the [Message class](https://docs.microsoft.com/en-us/javascript/api/azure-iot-common/message?view=azure-node-latest) to send the data.

Can we use the Message class with the IoT Hub output binding? We'd like to add Properties to the events to enable routing to t

[2020-10-06 19:23] albecker1 commented on #59103
@hexfusion which metrics are you refering to? Yes, those storage IO Utilization metrics are live. No, the bursting metrics are not yet live and we do not have a tracker for this feature.

[2020-10-06 19:23] ChaitanyaNaykodi-MSFT commented on #63894
Hello @tjohnson1010,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-06 19:28] ChaitanyaNaykodi-MSFT commented on #63315
Hello @kaylakirzinger, I am sorry for the delay, I somehow missed the notification. I am currently looking at the information provided above and will post my observation here soon.

[2020-10-06 19:31] yuhual opened #63900 "How many secret one can create under single application ID?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6cf3
* Content: [Create an Azure AD app & service principal in the portal - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-direc

[2020-10-06 19:33] Norrch2 commented on #63654
Hi @amanmcse my question was more about the automatic logos. For example, Facebook has an automatic login that follows styling guidelines. I was curious as to what determines this.

[2020-10-06 19:37] spelluru commented on #62867
@jfggdl

[2020-10-06 19:41] bluefooted commented on #53057
Hi @Maarnu ! If you've deployed SQL Server from a marketplace image in Azure, the license type should be Pay-as-you-go which is a core-based license. You do not need CAL licenses to connect to this VM. If you have changed the license type to Azure Hybrid Benefit, you would need to confirm with your account team that you have the proper licenses in place to apply your on-prem licenses to Azure. You

[2020-10-06 19:42] JamesTran-MSFT commented on #63900
@yuhual
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-06 19:42] julieMSFT commented on #41834
#assign:julieMSFT

[2020-10-06 19:42] AjayKumar-MSFT commented on #63282
crystalgeek, The statement in the doc is correct '"The integration subnet can be used by only one App Service plan" - You can only have one app service plan using the integration subnet. If you have any questions, please let us know. Thanks again for your feedback.

[2020-10-06 19:46] Kapkan-Lesion commented on #63657
@MayankBargali-MSFT Thanks for the swift action, I am on leave at the moment, will get back to you by the end of this week with more details on the Linux Custom Container function portal creation issue. I appreciate your help during this challenging time!

[2020-10-06 19:54] RedTail72 commented on #63352
This will likely require a code update to Azure Powershell as well to fully implement.  In [SharedImageStorageAccountType.cs](https://github.com/Azure/azure-powershell/blob/master/src/ImageBuilder/generated/api/Support/SharedImageStorageAccountType.cs) the struct only has Standard_LRS and Standard_ZRS defined currently.  I can open an issue on that repo if that is the preferred way to get this fix

[2020-10-06 19:58] julieMSFT commented on #41834
@kazshi @jdelforno Hi and thank you for contacting Microsoft. SQL Server Profiler is supported on Managed Instances. It is not supported in Azure SQL database. The documents were updated a while back. Please let me know if they are still confusing.

[2020-10-06 20:00] braest commented on #62037
I've exactly the same issue. What information do you need? Is it safe to delete the webhook?
kubectl delete -A ValidatingWebhookConfiguration nginx-ingress-ingress-nginx-admission and then deleting the admission pod created with
kubectl delete pod nginx-ingress-ingress-nginx-admission-create-xxxxx solved the problem.

[2020-10-06 20:01] MarileeTurscak-MSFT commented on #63848
@wobblewobble which feature are you referring to? App updates, change notifications, or something else?

[2020-10-06 20:11] rothja commented on #59809
@jasonhorner Thanks for the suggestion. @nabhishek Can you take a look at this suggestion for a future content improvement to this article? If you want to make it now, please do so. Or if you want to track it for later, reply back before closing the git issue so we can close the loop on the feedback. Thank you!

[2020-10-06 20:13] luisgizirian commented on #63827
Thanks @kgremban  for taking care of this. I agree it's not breaking a thing and can wait for the right sprint. Every step counts when you're in a hurry, that's the whole reason I pointed it out.

[2020-10-06 20:14] rothja commented on #57454
@tarunesh-saurav Thanks for the feedback, and apologies that the tutorial is not user-friendly. @nabhishek Could you take a look at this feedback and let us know that you are tracking this for future improvements? If you can make them now, great. If not, please comment here that you have the feedback for the future before closing the git issue. Thank you!

[2020-10-06 20:15] rothja commented on #57256
@DanniJuhl Thanks for the feedback on this article. @linda33wj Can you look at this comment and see if a change needs to be made to the prereqs section? Thank you!

[2020-10-06 20:17] rothja commented on #56064
@wouter-in2facts Thanks, again, for pointing out the discrepency between the documentation and the download page. @nabhishek , could you please look at both and decide which one needs to change? Thank you!

[2020-10-06 20:33] SnyquistBG opened #63902 "Whitelisting"
[Enter feedback here]
Please review the term "whitelisting" and it's appropriateness based on Microsoft's commitment to bias free communication (https://docs.microsoft.com/en-us/style-guide/bias-free-communication)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5b27433-167f-6e8e-75a9-2a30e08c94e5
* Version Independent

[2020-10-06 20:33] rothja commented on #48879
@Jaykul I am so sorry for the poor experience with the script URL as well as the delay in getting back to you on this git issue. We really appreciate your feedback, and the product team (@srdan-bozovic-msft) can definitely take a look at the ResourceDeploymentFailure errors to see where this URL is and fix it to the URL you mentioned. But, of course, a link to a document with more context would be

[2020-10-06 20:34] rothja commented on #48879
#please-close

[2020-10-06 20:34] #48879 closed

[2020-10-06 20:40] rothja commented on #46018
@andrewatfornax Andrew, sorry for the long delay in responding. Thanks for pointing this out. I'm adding @ramakoni1 to the issue to try to work with @v-miegge on tracing these errors for a future doc update. @ramakoni1 Ramu, can you help out with tracking this request before we close out the issue. If you have the documentation off-hand to add, that is great. Otherwise, maybe we can capture this f

[2020-10-06 20:41] rothja commented on #41781
@nabhishek Could you please help with @ssteinbauer 's question about [Integration runtime in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/concepts-integration-runtime)? Shane, so sorry for the long delay!

[2020-10-06 20:43] writex opened #63903 "How do I make client certificates?"
This article says, "Client certificates typically are not issued by a third-party CA. Instead, the Personal store of the current user location typically contains client certificates placed there by a root authority. The certificate should have an Intended Purposes value of Client Authentication."

How then do I make client certificates?

Here's an answer to verify that you can add to this article:

[2020-10-06 20:48] brandonh-msft opened #63904 "Scale controller logging needs sample query"
The new Scale Controller logging capability is great, but it'd be better to have a sample query showing to pull out some of the information logged by it. Either on this page or the `Analyze Logs` page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb

[2020-10-06 20:53] MarileeTurscak-MSFT commented on #63902
@billmath
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-06 20:55] julieMSFT commented on #37606
@lukos Thank you for contacting Microsoft. I am sorry for the delayed response. Please see [SqlConnection.ConnectionString Property](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection.connectionstring?view=dotnet-plat-ext-3.1). I believe this is the link you are looking for. I will update the document with this link.

[2020-10-06 20:58] rothja commented on #60901
@nabhishek Could you take a look at this request to provide more information on an undocumented error? Thank you!

[2020-10-06 20:59] rothja commented on #61781
@nabhishek Could you please take a look at this documentation suggestion? Thank you!

[2020-10-06 21:03] julieMSFT commented on #37606
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/132778

[2020-10-06 21:16] MonikaReddy-MSFT commented on #63887
@hafideladdouti - I have reached out to the product team and confirmed that its not possible to reset right now. You have to disable the policy.

I hope this helps.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reo

[2020-10-06 21:16] #63887 closed

[2020-10-06 21:18] stevestein commented on #63461
@LeonidasKapassakalis - thanks for the feedback.

2020/09/24 was a couple weeks ago, and this article has been around for a few years. It also doesn't specifically call out any version numbers so we're going to leave the article as is.

#please-close

[2020-10-06 21:18] #63461 closed

[2020-10-06 21:21] wedaly opened #63907 "immediatePurgeDataOn30Days is not in the workspace schema"
This page says "Workspaces with 30 days retention may actually retain data for 31 days. If it is imperative that data be kept for only 30 days, use the Azure Resource Manager to set the retention to 30 days and with the immediatePurgeDataOn30Days parameter."

I looked for the parameter immediatePurgeDataOn30Days in the ARM template schema for "Microsoft.OperationalInsights/workspaces", but the par

[2020-10-06 21:24] duongau commented on #63796
@manu4rhyme Thanks for the feedback. As of today Front Door's Rules Engine doesn't preserve the backslash, this is currently on our road map to get fixed.

[2020-10-06 21:29] julieMSFT commented on #37606
#reassign:julieMSFT

[2020-10-06 21:29] PRMerger13 commented on #37606
GitHub user dalechen has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-10-06 21:31] duongau commented on #63642
@manu4rhyme Can you provide me with some more details on what exactly it is you're trying to do? Screenshots are welcome to provide better guidance.

[2020-10-06 21:39] PeterCLu commented on #63784
@chengyu-liu-cs , thanks for the feedback!

That is the intended functionality. However, you bring up a great point about how child runs can be a confusing subject. I've created a document work item to track improvement to clarify guidance around child runs and run organization, and assigned it to one of our writers. https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1780225

Our doc

[2020-10-06 21:39] #63784 closed

[2020-10-06 21:41] Karishma-Tiwari-MSFT commented on #63352
Yes please, can you open an issue there and share the link on this thread. Thanks :)

[2020-10-06 21:42] eric-camplin opened #63908 "Deprecation warning in script"
WARNING: Upcoming breaking changes in the cmdlet **'Get-AzOperationalInsightsWorkspaceSharedKey'** :
Get-AzOperationalInsightsWorkspaceSharedKeys alias will be removed in an upcoming breaking change release
- The change is expected to take effect from the version : '2.0.0'
Note : Go to https://aka.ms/azps-changewarnings for steps to suppress this breaking change warning, and other information on b

[2020-10-06 21:43] JamesTran-MSFT commented on #63900
@yuhual
Thanks for your question!

When it comes to creating secrets within your AzureAD Application, how many secrets are you trying to create?

Based off my testing, you should be able to deploy more than 10 secrets:
![image](https://user-images.githubusercontent.com/36619112/95263175-3f3e8f80-07e2-11eb-9185-6812e8a3ee42.png)

If you have any other questions, please let me know.
Thank you for yo

[2020-10-06 21:47] JamesTran-MSFT commented on #63823
@softwarecraft
Thank you for your time and patience throughout this issue. I have reached out to our engineering team regarding this question and will update you as soon as possible.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-10-06 21:47] #53057 closed

[2020-10-06 21:50] JamesTran-MSFT commented on #63706
@serxansherif
I just wanted to check in and see if you required additional assistance or if you were able to resolve this issue? Since I haven't heard from you in a while, I'll go ahead and close out this issue at the end of the day pending a response from your end.

If you require additional assistance, please feel free to tag me or send me an email using the information above and I'd be more tha

[2020-10-06 21:50] iiu-dk opened #63909 "List of Dynamics CRM attributes being synced seem way off reality"
the list of Dynamics CRM attributes being synced seem way off what is actually synced in Dynamics Customer Engagement (online).. can u update or verify that fx. User Manager is synced!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7abde7c-df25-bd14-574c-92858daed39d
* Version Independent ID: 6652a5bc-4985-d45e-36fb-5

[2020-10-06 21:57] Chireven commented on #63834
Let's say I have an instance of standard named MyIntance.  If I want to
migrate this to premium, I don't delete the instance and create a new one
with the same name, but with the Premium sku?

I interpreted the documentation to indicate that I should delete the
existing workspace and create a new one with the same name.  But it sounds
like I just create the same exact instances without deleting it

[2020-10-06 21:58] erzads commented on #60878
@pvrk that was it. For some reason I was using the wrong payload. After adjusting it it worked.
Thank you very much!

[2020-10-06 22:01] bradygaster commented on #63667
this has been resolved already.

[2020-10-06 22:01] #63667 closed

[2020-10-06 22:03] andrewatfornax commented on #46018
Thanks @rothja - using the list of exceptions in the code example above seems to be doing the job for us, but having them all documented would be better 👍

[2020-10-06 22:04] julieMSFT commented on #51004
@SychevIgor Thank you for contacting Microsoft. I am sorry for the delayed response. This article has been rewritten and updated. The screenshot you mention has been updated. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-10-06 22:04] julieMSFT commented on #51004
#reassign:julieMSFT

[2020-10-06 22:07] julieMSFT commented on #51004
#please-close

[2020-10-06 22:07] #51004 closed

[2020-10-06 22:10] julieMSFT commented on #51910
#reassign:julieMSFT

[2020-10-06 22:13] MartinJaffer-MSFT commented on #63878
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-06 22:14] MartinJaffer-MSFT commented on #63878
Thank you for your feedback, @igomat . This has been assigned to the content owner, @ejarvi , and will be updated as appropriate.

[2020-10-06 22:17] #63826 closed

[2020-10-06 22:17] MartinJaffer-MSFT commented on #63891
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-06 22:26] JamesTran-MSFT commented on #63909
@iiu-dk
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-06 22:26] ejarvi commented on #63878
@MartinJaffer-MSFT please assign to @emmajdong

[2020-10-06 22:27] ejarvi commented on #63878
@msmbaldwin FYI

[2020-10-06 22:29] Karishma-Tiwari-MSFT commented on #63797
@lanicolas Thanks for bringing this to our attention. Since this is the same question as the other issues mentioned in the comment above and the doc author shortpatti is looking into it, I will close this issue.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-06 22:29] #63797 closed

[2020-10-06 22:34] MartinJaffer-MSFT commented on #63871
Excuse me @MatthewPMatherne7 , but what is the question you are trying to ask?

[2020-10-06 22:48] julieMSFT commented on #51910
@empiricaldataman Thank you for contacting Microsoft. I am sorry for the delayed response to your comments on this doc. I have made the updates you suggested and you will see them in the article in the next day or so. Thank you for your contribution to Microsoft Docs. I will go ahead with closing this issue. The @notification mechanism continues to work even after an item is closed, in case furthe

[2020-10-06 22:49] julieMSFT commented on #51910
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/132801

[2020-10-06 22:49] NavtejSaini-MSFT commented on #63830
@kelvinatph You can use Azure Storage explorer for accessing the logs. To download the tool, see [Azure Storage Explorer](https://storageexplorer.com/). After downloading and installing the software, configure it to use the same Azure storage account that was configured as a destination to the Diagnostics Logs.
Additionally you can search for the containers, table or share/queues that you used thr

[2020-10-06 22:49] julieMSFT commented on #51910
#please-close

[2020-10-06 22:49] #51910 closed

[2020-10-06 22:58] NavtejSaini-MSFT commented on #63844
@sameer-kumar Please go through this document for Cache Architecture - https://docs.microsoft.com/en-us/azure/architecture/best-practices/caching and we can look into if you have any further question

[2020-10-06 22:59] MartinJaffer-MSFT commented on #63878
@ejarvi  Thank you.

[2020-10-06 23:00] JamesTran-MSFT commented on #63823
@softwarecraft
I received a response from our engineering team and will put it below. Additionally, I have created a PR to update the documentation to add Azure CLI.

**PG response:**
The note refers to two powershell modules 1) Azure Powershell module and 2) AzureAD powershell module.

- Azure powershell module commandlets call both Graph APIs and Azure Resource Manager (ARM) APIs. Those powershe

[2020-10-06 23:00] #63823 closed

[2020-10-06 23:01] NavtejSaini-MSFT commented on #63854
@sr-msft Please look into the feedback from Cx and provide guidance. Depending on your guidance we will move ahead with this.

[2020-10-06 23:08] kazshi commented on #41834
@julieMSFT Thanks for your clarification. I checked the update in the doc.

[2020-10-06 23:08] #41834 closed

[2020-10-06 23:09] sr-msft commented on #63854
I partially updated it (regarding metrics), but will update the rest of the details soon.

[2020-10-06 23:21] Niglb opened #63913 "Update to date?"
Is this documentation still up to date? The current Monitor | Alert process looks much different than what is described here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445f65f4-cb9c-2060-e5d9-653a21c02d24
* Version Independent ID: 7c16b613-07fc-a189-8e0c-15bd40a4c389
* Content: [Respond to events with Azure Log An

[2020-10-06 23:29] JamesTran-MSFT commented on #63748
@anishi1222
Thank you for your feedback! I'll post my findings and next steps below.

**Findings:**
When it comes to assigning the VM contributor role, I found that the Node RG is different than that of the actual Kubernetes Service within Azure. However, as you stated, the actual nodeRG is what has a VMSS used in AKS Cluster.
![aksRG](https://user-images.githubusercontent.com/36619112/95270643-c9

[2020-10-06 23:30] #63706 closed

[2020-10-06 23:37] lakebrat opened #63915 "Why is the same property required twice."
I cannot get this extension to work using terraform. As I am researching I noticed that many have this value twice:
"KekVaultResourceId"

Is it required to be? Should not be IMHO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b2cf75b-7d46-2565-cec2-8436bfbd6bdf
* Version Independent ID: e8b54243-bfb9-5457-7c3d-fe5cf0

[2020-10-06 23:40] Karishma-Tiwari-MSFT commented on #63888
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-06 23:41] femsulu commented on #63532
Hi @OffColour  - Just to confirm, [Multi-homing](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-manage#adding-or-removing-a-workspace) in this context means reconfiguration of MM Agent to report to multiple LAWs. If yes, then take a peek at the steps below:
1. On each VM, follow multi-homing steps for [Windows](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agen

[2020-10-06 23:45] shelwig commented on #54345
@cephalin this change hasn't resolved the issue. Despite running 'export ConnectionStrings__MyDbConnection=<connection-string>' (with the <connection-string> placeholder replaced with the actual connection string from the db), it never updates the connection string in App Settings. As a result, when I run 'dotnet ef database update' it tries to update the local database and not the database in Azu

[2020-10-06 23:45] femsulu commented on #63532
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-06 23:45] #63532 closed

[2020-10-06 23:47] femsulu commented on #63736
@twright-msft  - can you please confirm the new location so we can update the doc?

[2020-10-06 23:47] ejarvi commented on #63915
If using a key encryption key, that key must be stored in a key vault.  This can be the same key vault storing the disk encryption secret, or it can be in a different key vault as long as it is in the same subscription and region.   For this reason there are two fields that can be specified in the configuration settings.  They look the same but do differ by one letter (KeyVault vs. KekVault)

[2020-10-06 23:48] D-Moonesinghe opened #63917 "Why is the bottom of you page in a strange languate?"
Why is this section of the page in a forign language.  Did somebody hack?
![image](https://user-images.githubusercontent.com/60631350/95271757-b0933800-080c-11eb-961f-e437fa7791ec.png)

[Ovdje unesite povratne informacije]

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: 3a831056-b759-8539-ca86-9fbb84f33

[2020-10-06 23:50] MarileeTurscak-MSFT commented on #63917
@D-Moonesinghe this is because you're reading the Bosnian version of the article. In the URL parameter you can see it says bs-latn-ba

If you change the URL to say "en-us" it won't show that. https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-resource-roles-activate-your-roles

[2020-10-06 23:50] MarileeTurscak-MSFT commented on #63917
Hope this helps! If you have further questions feel free to tag me in the comments.

[2020-10-06 23:50] #63917 closed

[2020-10-06 23:58] BharathNimmala-MSFT commented on #63623
@byte-master Apologies for delay on this, I am circling back with our internal product team to get further details on your request. Will keep you updated as I get more information. Thank you

[2020-10-07 00:13] NavtejSaini-MSFT commented on #63854
@sr-msft Please share the PR for the same so we can look into linking the issue and the PR.

[2020-10-07 00:21] #54340 closed

[2020-10-07 00:44] chitturs opened #63918 "Invalid statement in HTTPS server fabric example"
-->listenOptions.NoDelay = true;

The above doesn't compile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f217-446f1ad263c5
* Version Independent ID: a47523e2-0c30-dee4-0037-5f58836fa37f
* Content: [Add an HTTPS endpoint using Kestrel - Azure Service Fabric](https://docs.microsoft.com/en-us/azure/s

[2020-10-07 00:49] sauravbhattacharya001 opened #63919 "Can analysis server support multi tenant apps?"
I check this page (below) and it says aad apps give access to analysis server must have @tenant info. My question is: whether this attribute can differ from the current tenant of the analysis server. Can access be given to multi tenant apps?

https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-addservprinc-admins

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-10-07 00:55] ChaitanyaNaykodi-MSFT commented on #63904
Hello @brandonh-msft,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-07 00:57] ChaitanyaNaykodi-MSFT commented on #63899
Hello @carlo-quinonez, Thank you for your feedback! We will review and update as appropriate.

[2020-10-07 01:00] ChaitanyaNaykodi-MSFT commented on #63895
Hello @sfilipi, Thank you for your feedback! We will review and update as appropriate.

[2020-10-07 01:14] MartinJaffer-MSFT commented on #63903
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-07 01:18] MartinJaffer-MSFT commented on #63907
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-07 01:20] BharathNimmala-MSFT commented on #63868
@kerray Thanks a lot for reaching out. You were right on $AutomationAccountName has been initiated twice in the script. I have raised a PR to correct that, it will be merged with live document later in the week.

Regarding the $certificateName is used in creation of the json , which is later used as template file to perform the deployment to Azure.

`'name': '$AutomationAccountName/$certificateNam

[2020-10-07 01:20] #63868 closed

[2020-10-07 01:30] taschemann opened #63922 "Need an example that utilizies post_login_redirect_uri"
I'm trying to utilize post_login_redirect_uri in my routes.json file for a static web app and I'm having trouble getting it to work. Search has not come up with any good examples that involve the routes.json file. Could I request that an example be added to this page outlining how to use post_login_redirect_uri?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-10-07 01:56] Ari6 opened #63923 "Legal in Japanese will be garbled in AppSource link."
[Enter feedback here]
Legal section.
Terms and condition with Japanese will be garbled in AppSource like this below link. This may be the same as Azure Marketplace.
https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE4xIne

If in Japanese or not ascii character sets do not work here, you might want to add a caution.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-10-07 02:19] tiny-dancer opened #63924 "Location Recommendations"
This content covers good business/logic focus for one or more application insights however it does not cover recommendations for 1 application insight per location vs consolidating in a single location.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7247c58-0a2c-a9a2-efa3-caf805fe0e18
* Version Independent ID: cdd6fbf

[2020-10-07 02:37] NickEales opened #63925 "Please add FAQ question + answer - saying ASR doesn't track any changes outside the source OS"
Hi,

Can we please get a Q & A added to the FAQ stating that ASR doesn't track source VM changes outside the Source OS.

For example if a customer is using Azure to Azure replication and changes the size of the source VM - this size change isn't replicated to the target VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-10-07 02:52] Kapkan-Lesion commented on #63657
@MayankBargali-MSFT

Here are the steps that may bypass the checker for some reason..

![image](https://user-images.githubusercontent.com/41883175/95281990-03abd000-088b-11eb-8d86-535261c05774.png)
Press next

![image](https://user-images.githubusercontent.com/41883175/95282016-10302880-088b-11eb-916f-cd25e3bd6eef.png)
Consumption is selected, change from Windows to Linux, press back.

![image](ht

[2020-10-07 02:55] KalyanChanumolu-MSFT commented on #63721
@mibar FYI
Customer feedback on documentation

[2020-10-07 03:23] sunkararp commented on #50030
After little more t-shooting &investigation, the failure was related to Databricks in our vNet (vNet injection, which is essentially letting Microsoft to manage two subnets within our vNet). The vNet injection is a very well documented [feature](https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-inject#vnet-inject-reqs) not sure why its failing!

[2020-10-07 03:25] akshaysngupta commented on #63589
@chirangaalwis thanks for reaching out!

Using traffic manager to load balance traffic across multiple regions is a recommended practice.
* Is this the Azure recommended, complete architecture for exposing Kubernetes services to outside?
[Yes, this is the recommended architecture and this specific example looks conceptually complete.]

* Can we use the Azure Application Gateway as the Ingress Cont

[2020-10-07 03:28] dikaarta opened #63927 "Obsolete Interface in embedded video in this tutorial"
it seems video in this tutorial using old interface of Azure, it makes audiences confused. please simply removed or provide latest video about Azure API management.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecc5e84d-603c-6f88-a941-df33aad0e1d8
* Version Independent ID: ae6976bb-aadd-4d40-bb62-57589265f4ff
* Conten

[2020-10-07 03:46] CHEEKATLAPRADEEP-MSFT commented on #63834
@Chireven Yes, you are correct, you will not delete the existing workspace. You need to create a new one with the same name , Resource Group & Location.

Name => chepra
Subscription => Azure subscription
Resource Group (If a new resource group was created when the workspace was originally deployed, choose that as the existing resource group during upgrade) => chpradee-Analytics
Location => Central

[2020-10-07 03:53] jessejiang0214 opened #63929 "RegisterNativeAsync should be RegisterNative"
Hi Team,

The sample code in `RegisteredForRemoteNotifications ()` function,
[code]
Hub.RegisterNativeAsync should be Hub.RegisterNative

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45afd17d-e909-ccd9-01c3-f746bdf406a2
* Version Independent ID: d2c8cc69-5a37-4c73-d48b-9c058cf4595e
* Content: [Send push notifications

[2020-10-07 04:00] BharathNimmala-MSFT commented on #63913
@Niglb Thank you for bringing this to our notice. Assigning the issue to our document author @bwren to further review the feedback and enhance the document or retire if its already covered in other documentation.

[2020-10-07 04:03] hawkj99 opened #63930 "Wrong link"
The link displayed in the Next Steps paragraph links back to the same page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f96a6e9-8b01-fe0b-c6ec-2afd2c69a5e8
* Version Independent ID: cfda931c-cac9-8d25-d20c-7b3308e9eeed
* Content: [Send push notifications to iOS using Azure Notification Hubs and the iOS SDK](https:/

[2020-10-07 04:29] AjayKumar-MSFT commented on #63922
@taschemann, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-07 04:33] SatishBoddu-MSFT commented on #63812
Hello @boazeg , Thanks for reaching out to us.

Yes, If you plan to run **Linux Containers** on **Windows-based** IoT Edge Device

- If you want to use Windows computers, please make sure to have [system requirements](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/reference/hyper-v-requirements) for Hyper-V **enabled**.

- If you want to use a virtual machine, then enable neste

[2020-10-07 04:40] himanshukgit opened #63931 "Microsoft Authentication have prob for voice call"
Microsoft Authentication have prob for voice call, it does not save 60 days or 14 days password and everytime even I checked the box to remember 60 days still it calls and the function to remember password for 60 days is not at all functioning this is bug in the software
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27

[2020-10-07 04:41] bubbletroubles opened #63932 "Stable task clarification."
The page says

**'Stable' AIB Task,** this allows us to put in the latest updates and features, allow customers to test them, before we promote it to **the 'stable' task**, approximately 1 week later.

However this doesn't make sense, this is the stable task.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 021a6939-d8c6

[2020-10-07 04:42] MayankBargali-MSFT commented on #63927
@dikaarta Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-07 04:45] SnehaAgrawal-MSFT commented on #63930
@hawkj99 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-07 04:47] SnehaAgrawal-MSFT commented on #63929
@jessejiang0214 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-07 05:01] HarithaMaddi-MSFT commented on #63789
@lilixu9 - I will proceed with closing the issue now. Please feel free to comment for any further queries.

[2020-10-07 05:01] #63789 closed

[2020-10-07 05:03] HarithaMaddi-MSFT commented on #63919
@sauravbhattacharya001 - Thanks for your question. I am looking into it and will get back to you with updates soon.

[2020-10-07 05:08] psmanhas commented on #63932
@bubbletroubles Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-07 05:08] psmanhas commented on #63932
@danielsollondon Can you please check and add your comments on this doc update request as applicable

[2020-10-07 05:09] KrishnaG-MSFT commented on #63924
@tiny-dancer Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-07 05:13] chirangaalwis commented on #63589
@akshaysngupta thanks a lot for the recommendation.

[2020-10-07 05:24] SwathiDhanwada-MSFT commented on #63491
Assigning to content author @mrbullwinkle for review

[2020-10-07 05:26] FrederickVdH commented on #20701
@awentzel Is it possible to explain how you managed to add a wildcard domain to a Azure CDN service?

[2020-10-07 05:31] KrishnaG-MSFT commented on #63923
@Ari6 Thanks for the feedback!
Unable to resolve content author @AarathiN's name so assigning to @BZamoraMicrosoft for visibility, review and document enhancement consideration as appropriate.

[2020-10-07 05:35] #63698 closed

[2020-10-07 05:36] RohitMungi-MSFT commented on #63587
@Veroni4ka PR [132468](https://github.com/MicrosoftDocs/azure-docs-pr/pull/132468) is created to update this. The document would be updated as soon as the PR is approved and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-10-07 05:36] #63587 closed

[2020-10-07 05:41] SwathiDhanwada-MSFT commented on #63698
@slavizh Thanks for your feedback. We have made changes to the document and the change will be live in 24 hours.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-10-07 05:41] SwathiDhanwada-MSFT commented on #63526
Assigning to content author @mrbullwinkle for review

[2020-10-07 05:46] AnuragSharma-MSFT commented on #63908
@eric-camplin Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-07 05:52] SadiqhAhmed-MSFT commented on #63925
@NickEales Thanks for the feedback. We will review this with the content owner and update as appropriate.

@rayne-wiselman FYI

[2020-10-07 05:55] manu4rhyme commented on #63796
@duongau Thanks, I hope when this is done, migration of existing values without any leading backslash is also taken care of

[2020-10-07 05:56] psmanhas commented on #63908
@eric-camplin Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-10-07 05:56] psmanhas commented on #63908
@sameeksha91 Can you please check and add your comments on this doc update request as applicable

[2020-10-07 05:59] psmanhas commented on #63918
@chitturs Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-07 05:59] psmanhas commented on #63918
@erikadoyle Can you please check and add your comments on this doc update request as applicable

[2020-10-07 06:01] manu4rhyme commented on #63642
@duongau

I was trying to configure the rules engine such that : -
Requests made to: <AFD-Root>/storage/*
are routed to: <backend-2>/*

Note here, <backend-2> is **different** from the one that is configured in the routing rule, and the routed URL is re-written such that it doesn't have any "/storage/"

So, I'm using the "Begins With" operator on Request Path and providing a value of "/" to custom

[2020-10-07 06:06] BobLivesHere opened #63933 "Alternate server Step 5. needs improvement."
Where it states in step 5.

Provide the vault credential file that corresponds to the sample vault, and select Next.

If the vault credential file is invalid (or expired), **download a new vault credential file from the sample vault in the Azure portal.** After you provide a valid vault credential, the name of the corresponding backup vault appears.

_It is not clear how to download a new vault cr

[2020-10-07 06:09] RohitMungi-MSFT commented on #63813
@OneConsutlantsDemo We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-10-07 06:09] #63813 closed

[2020-10-07 06:16] HarithaMaddi-MSFT commented on #63919
@sauravbhattacharya001 - I verified and it cannot detect the service principal from a different tenant than the one which is used to connect to Azure Portal where analysis services is created. Service Principal from same tenant can only be added as Admin.

I will proceed closing this issue, please feel free to comment for further queries.

[2020-10-07 06:16] #63919 closed

[2020-10-07 06:18] BharathNimmala-MSFT commented on #63708
@pisees Post discussion with our internal team it has been called out that Microsoft Azure Add on for Splunk: https://splunkbase.splunk.com/app/3757 works well as of update late last year and has more features.

I will further work with our document authoring team and update the document accordingly. Thanks again for bringing this to our attention.

[2020-10-07 06:33] RohitMungi-MSFT commented on #62453
@nkma1989 We will proceed to close this issue as our team was not able to replicate the issue with the current version or files used in the tutorial. If there are further questions regarding this matter, please tag @RohitMungi-MSFT @luisquintanilla in your reply.

[2020-10-07 06:33] #62453 closed

[2020-10-07 06:50] JanaAbhijit opened #63934 "Event Subscription does not work with Azure Communication Services"
It always turns out to be the following error when trying to register an event subscription.   The error says, "event grid notifications are currently not supported by microsoft.communication in Global" Wondering how the given samples work as it's a global resource only we have a global location. Also,  Register / Re-Register does not help as well.
[Enter feedback here]
![image](https://user-image

[2020-10-07 07:07] tshaiman opened #63935 "Missing Rest API samples"
[Enter feedback here]

missing Rest API get started and samples
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31806d3b-6d26-ba48-3860-559dc0938b9d
* Version Independent ID: 3eccfc69-2ea4-d8ab-3299-df054a0f6a47
* Content: [What is Azure App Configuration?](https://docs.microsoft.com/en-us/azure/azure-app-configuration/o

[2020-10-07 07:22] andrewtsw opened #63937 "Quickstart: Azure Key Vault client library for .NET (SDK v4) sample does not work with `DefaultAzureCredential`"
I used this sample to connect from the client app (command line or WPF desktop app) to Azure Key Vault,
https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-net

And this sample does not work with `DefaultAzureCredential`
But It works fine when I replaced `DefaultAzureCredential` with `AzureCliCredential`
Is it an issue?

According to this documentation
https://docs.microsoft.com/

[2020-10-07 07:25] psmanhas commented on #62933
@anavard  Apologies for all delay in response!!!

I reached out to our internal team on issue which took sometime.

Can you please provide below information so we can help you out further:

Can you share the entire configpackage section of the manifest?
Can you share SF resource ID, region, and the correlation ID of the failed deployment?
"
I am basically getting that MountPoint C:\secrets should

[2020-10-07 07:27] psmanhas commented on #63903
@writex Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-07 07:28] psmanhas commented on #63903
@erikadoyle Can you please check and add your comments on this doc update request as applicable

[2020-10-07 07:30] rbgigo commented on #63807
Now everything is clear, many thanks for the detailed answer. Please go ahead and close the issue

[2020-10-07 07:32] amanmcse commented on #63858
@YordanYordanov Both policies will evaluated for the users who comes under scope of these policies and the most restrictive one takes effect.

[2020-10-07 07:32] #63858 closed

[2020-10-07 07:58] SwathiDhanwada-MSFT commented on #63933
@BobLivesHere Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-07 08:05] SwathiDhanwada-MSFT commented on #63672
@mumian Can you please provide your inputs on this issue?

[2020-10-07 08:09] PaulARoy commented on #63691
Thanks for your feedback, it worked!

I think you should put up login before any `identityProviders` to avoid mistakes like you and I did.

Is it normal that the providers tokens are back to version 3 ? I have « ver = 4 » in production and the properties are pretty different, I'm back with the old `stable_sid` properties that we stopped supporting years ago.

Thanks again!

[2020-10-07 08:14] vient0 opened #63938 "Effect details and Using tags link to the same URL"
Effect details and Using tags link to the same URL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e98df4c-f566-04f1-1e23-24d14fdca18f
* Version Independent ID: c6d0c98d-7257-1e6a-9ffd-fd5d2d0b4fa4
* Content: [Index of policy samples - Azure Policy](https://docs.microsoft.com/en-us/azure/governance/policy/samples/)
* C

[2020-10-07 08:19] BharathNimmala-MSFT commented on #63702
@stec00 Thanks again for bringing this to our notice, we will further work with our document author @rayne-wiselman to review your feedback and update the document to reflect the current steps from the Azure Portal stand point.

I have also reached out to our internal product team to help fix the "Learn more" links in the Azure portal.

[2020-10-07 08:26] Console32 opened #63939 "GetAccessTokenAsync list of resource identifiers"
The Page mentions that `The GetAccessTokenAsync method requires a resource identifier. `.
What are resource identifiers, I could not find a list of valid values. Can you add a link to a list of resource identifiers.

I only found examples: "https://database.windows.net", but what do I need to insert if I want to use this for an Azure Function.

---
#### Document details

⚠ *Do not edit this sectio

[2020-10-07 08:30] KrishnaG-MSFT commented on #63938
@vient0 Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-07 08:53] SnehaAgrawal-MSFT commented on #63929
@jessejiang0214 Could you please share more details on this to help you better on this. If you are facing any error?

[2020-10-07 08:54] KrishnaG-MSFT commented on #63799
@DK-Dennis I see `| where TimeGenerated > ago(some time)` in 5 queries in the referred Azure document that are related to 'Heartbeat' and 'Event' tables. But both '**Heartbeat**' and '**Event**' tables have the column or property named **TimeGenerated** and don't have column or property named '**timestamp**'. So, based on this, I believe we don't anything to update as part of this feedback. Howeve

[2020-10-07 08:56] harald-quist-stratsys opened #63942 "Group de-provisioning"
So, at what point is a group de-provisioned (deleted)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 271dc426-fb47-7441-d627-ec11f8c7a6ea
* Version Independent ID: 4cb8bfc8-4748-e501-425a-e4c2da0f5f5a
* Content: [Develop a SCIM endpoint for user provisioning to apps from Azure AD](https://docs.microsoft.com/en-us/azur

[2020-10-07 09:00] mracfa opened #63943 "network-plugin is mandatory when using userDefinedRouting"
Hi,

When creating an aks cluster with UDR, it is mandatory to use the --network-plugin, even if we are using the default one (kubenet).

We get this error when not using that flag:

_"ValidationError: --vnet-subnet-id must be specified for userDefinedRouting and it must         be pre-configured with a route table with egress rules"_

![image](https://user-images.githubusercontent.com/52406590/95

[2020-10-07 09:03] DK-Dennis commented on #63799
Hi Krishna
Yes, I must have confused Events with customEvents (which we use), Also 'traces' and 'exceptions' use 'timestamp'

But I am perfectly happy with being wrong, once in a while, so 'sorry for the interruption' from me :)

[2020-10-07 09:03] #63799 closed

[2020-10-07 09:13] KrishnaG-MSFT commented on #63799
@DK-Dennis No problem and thanks for the super quick response. 👍

[2020-10-07 09:24] #63533 closed

[2020-10-07 09:25] #63658 closed

[2020-10-07 09:26] amanmcse commented on #63734
@Sheshgiriv The example `user.displayName -match ".*vid"` is not for ends with scenario. For ends with condition, you need to use regex like `user.displayName -match ".*vid\z"`

[2020-10-07 09:26] #63734 closed

[2020-10-07 09:37] JayaChatterjee-MSFT commented on #63790
@digaomatias Please check this https://docs.microsoft.com/en-us/azure/api-management/api-management-advanced-policies#mock-response
If you feel we can add more examples in this document, please create an issue/ a request against this document. We will update accordingly.

[2020-10-07 09:44] amanmcse commented on #63654
@Norrch2 If you check the source code of default signup/signin page e.g. "https://your_tenant.b2clogin.com/static/tenant/templates/AzureBlue/unified.cshtml" you can find the image urls for common social IDPs under < style id="common" > tag. E.g.
[code]

[2020-10-07 09:46] Mahesh-MSFT opened #63945 "node image upgrade to running pods"
This guidance explains process to upgrade the node images.

Will the node image upgrade also trigger the changes in pods that may be using old images?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8092825b-b867-d947-9842-f44eba91db00
* Version Independent ID: 5b9b865c-0d51-9955-564c-1c898d3150a7
* Content: [Upgrade Azu

[2020-10-07 10:06] shaima-MS commented on #12948
i have resolved this by adding <OutputClaim ClaimTypeReferenceId="alternativeSecurityId" /> to the AAD-UserReadUsingObjectId  technical profile in the base policy. ;) Good luck

[2020-10-07 10:10] anavard commented on #62933
@psmanhas I have deleted the cluster itself. I was trying to do POC to see if keyvault refernce works or not in azure service fabric.
I have the ARM template handy which I was using to create cluster and deploy applications in it.
If that would help? I can share.

[2020-10-07 10:15] shashishailaj commented on #63931
@himanshukgit Thank you for your feedback . We will have this reviewed and help you with the same.

[2020-10-07 10:18] patrick-stephens opened #63949 "Incorrect reference to "Viewer" role rather than "Reader""
The "Azure Kubernetes Service RBAC Viewer" role mentioned on the page does not exist, it should be "Azure Kubernetes Service RBAC Reader" as per the documentation here: https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-kubernetes-service-rbac-reader
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-10-07 10:20] shashishailaj commented on #63931
@himanshukgit Are you in the same location where you had checked the box "Don't ask again for 60 days" when you try to logon the second time and get called by the Azure MFA system ? I mean MFA voice call can be initiated due to some conditional access applied by your organization as well . And if you move from one location to another it may ask you for 2nd factor if the conditional access policies

[2020-10-07 10:21] shashishailaj commented on #63937
@andrewtsw Thank you for your query. We will have this reviewed and update the thread.

[2020-10-07 10:29] taimila commented on #47611
I have added Sign in with Apple support to _Xamarin.Forms_ app that has an _Azure AppService_ (mobile backend) as a backend service. So far, I have been successful to get login part working, but I’m struggling with session refreshing. I am using client flow.

What works now:

1. App gets **IdToken** from Apple using Apple’s SDK on iOS 13
2. I send that **IdToken** to AppService’s `/.auth/login/app

[2020-10-07 10:31] OffColour commented on #63532
Thanks, but that doesn't really solve it as it requires going to each individual machine. The policy needs to be able to configure multiple workspaces as part of MMA installation.

[2020-10-07 10:33] laboshinl opened #63950 "Sample disk clone script. Extra spaces in varible assignments."
Extra spaces in varible assignments make the example script on the bottom of the page failing.
Should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77b58ea9-fc39-64f0-111c-371c9176ed55
* Version Independent ID: 54408794-9e81-79ed-32ff-1c05979ff0e8
* Content: [Upload a VHD to Azure or copy a disk across reg

[2020-10-07 10:43] Console32 opened #63951 "Managed Identity Azure Function"
How can I use A Managed Identity from an Azure AppService to call a Azure Function (should be one of the most fundamental things)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3177-ce9e-ebfa-03a7-45beb8ca3212
* Version Independent ID: a59df23d-f3ac-9809-61d3-5741e31f020a
* Content: [Managed identities - Azure App

[2020-10-07 10:56] andrePKI opened #63954 "SSPR on lockscreen and Hello for Business"
How does this relate to the HfB login? Can it be used together (even though then you could reset the domain password, one cannot login to their device without a HfB PIN?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2015c6c-60c7-bb74-469c-e9320301d08a
* Version Independent ID: 0ff19de6-c892-10ff-5fe8-f6a70abfa3f5
*

[2020-10-07 11:02] tbugfinder opened #63955 "Azure Netapp Files NFSv41 configuration"
Hi,
I didn't really understand why `localdomain` is used here by reading it once.
Do you want to explain that the Linux default configuration is using localdomain if `Domain = ` is not adopted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec934199-53e7-1b55-1925-57cfc9a59757
* Version Independent ID: 1dcd506b-39b1-31

[2020-10-07 11:04] sav169 commented on #62461
Thanks for the response. We are not using .net Core. We are using .net framework. Is the document still relevant ?

[2020-10-07 11:07] MayankBargali-MSFT commented on #63780
@cocowalla "Long polling" implies that there is a request and the response is being waited for an extended period of time, and that's never the case in AMQP. See [Flow Control](http://docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-transport-v1.0-os.html#doc-flow-control) in the AMQP spec.

[2020-10-07 11:08] brebant opened #63956 "document out of date"
This document is out of date!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25f0758b-8274-d2b5-4702-2c7ca6b0b14a
* Version Independent ID: d1215107-abf9-fefd-a63b-b20ec3f7f744
* Content: [Just-in-time virtual machine access in Azure Security Center](https://docs.microsoft.com/en-us/azure/security-center/security-cente

[2020-10-07 11:11] MayankBargali-MSFT commented on #63657
@Kapkan-Lesion Thanks for sharing the steps to repro the issue. I have verified and have reached out to my team and will be updating this thread with their feedback.

[2020-10-07 11:20] CriggerMarg commented on #55061
Guys, issue still there and confusing new users of azure. Please consider to fix that.

[2020-10-07 11:24] Ken-Cowley-Fujitsu opened #63957 "New Email Trigger Data Factory"
At this time the only trigger that is available on Data Factory is connected to blob storage. Will it be possible to have a trigger that will fire when there is a new email in a connected mailbox.

Apologies if this is not the correct place for this

[2020-10-07 11:25] konradsikorski opened #63958 "wrong metadata url"
In chapter 'Add the Azure Active Directory identity provider' point 5 'For Metadata url,' has wrong url schema.

Now is: https://login.microsoftonline.com/your-AD-tenant-domain/.well-known/openid-configuration
should be: https://login.microsoftonline.com/your-AD-tenant-domain.onmicrosoft.com/.well-known/openid-configuration

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-10-07 11:27] AjayKumar-MSFT commented on #63934
@JanaAbhijit,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-07 11:33] AjayKumar-MSFT commented on #63866
Andrea, no worries, thanks for taking time to post this question and follow-up with an update. Much appreciated.

[2020-10-07 11:52] cocowalla commented on #63780
Yep, that's why I said "since there is no polling with AMQP" :smile:

I think I'm all clear now, thanks for the quick responses!

[2020-10-07 11:52] #63780 closed

[2020-10-07 11:53] AjayKumar-MSFT commented on #63865
Deivasigamani, No worries! Thanks for taking time to post this question and the follow-up. Much appreciated.

[2020-10-07 11:58] msfe opened #63961 "Would it be possible to get an example of Product Based Throttling?"
Hi,

Would it be possible to get an example of Product Based Throttling?

Is this correct?

`<rate-limit-by-key calls="1" renewal-period="1" counter-key="@(context.Subscription?.Key ?? "anonymous")" />`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c64c31f4-ee3f-1482-14a8-3585ff5ef2de
* Version Independent ID: 8e50e22

[2020-10-07 12:03] SwathiDhanwada-MSFT commented on #63933
@BobLivesHere  You can download the vault credential file by following steps mentioned in [this document](https://docs.microsoft.com/en-us/azure/backup/backup-azure-file-folder-backup-faq#where-can-i-download-the-vault-credentials-file).

[2020-10-07 12:03] v-lyivan opened #63962 "How many premium licenses are required?"
As per the article the licenses required for this feature are either Azure AD Premium P1 or P2.

But how many should be assigned in order for the feature to be used?
Is it enough only one user to have the licenses?
Or should the whole tenant have available premium licenses for the feature to be used?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-10-07 12:16] qhaitoNNV commented on #63249
@TravisCragg-MSFT My Gateway SKU is VpnGw1.

I tried 2 sets of ike/ipsec combos:

1. -IpsecEncryption **GCMAES256** -IpsecIntegrity **GCMAES256** -SALifeTime 28800 -SADataSize 102400000 -IkeEncryption **AES256** -IkeIntegrity **SHA25**6 -DhGroup **DHGroup2** -PfsGroup **None**

2. -IpsecEncryption **AES256** -IpsecIntegrity **SHA256** -SALifeTime 28800 -SADataSize 102400000 -IkeEncryption **AES256

[2020-10-07 12:17] #63933 closed

[2020-10-07 12:18] krob527 commented on #12948
@Calvin-Yuhui-Liu when you download the samples there are different folders, one is name "Local Accounts" with sample files that can be used.

[2020-10-07 12:18] bharangit opened #63963 "Data factory errors out when trying to publish : Publish failed due to invalid references. View details for more information"
Data factory errors out when trying to publish : Publish failed due to invalid references. View details for more information

[2020-10-07 12:21] masterofimages commented on #63564
@ChaitanyaNaykodi-MSFT thanks for looking into this. However, I am still unable to get this working with the XML as the request body. I have a live test case on reqbin I can share with you. Can I send this privately please?

[2020-10-07 12:23] SwathiDhanwada-MSFT commented on #62461
@sav169 For .NET Framework, I would suggest you to check [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net).

[2020-10-07 12:37] masterofimages commented on #63564
@ChaitanyaNaykodi-MSFT I get the same behaviour running Invoke-WebRequest, e.g.

$uri = 'https://prod-28.uksouth.logic.azure.com/workflows/...'
Invoke-WebRequest -uri $uri -Body (Get-Content "test.xml") -ContentType "application/xml" -Method Post

StatusCode        : 200
StatusDescription : OK
Content           : {"ErrorCode":"InvalidTemplate","ErrorMessage":"Unable to process template language ex

[2020-10-07 12:39] langstonj commented on #63721
The example in the online document is the same (as expected) using Get-Help (here it is):
--- Example 1 - Set a vulnerability assessment rule baseline ---

 PS C:\> Set-AzSqlInstanceDatabaseVulnerabilityAssessmentRuleBaseline  `
             -ResourceGroupName "ResourceGroup01" `
             -InstanceName "ManagedInstance01" `
             -DatabaseName "Database01" `
                     -RuleId

[2020-10-07 12:53] psmanhas commented on #62933
@anavard Yes if you can I can take it to backend team and see if it helps :).

[2020-10-07 12:56] HarithaMaddi-MSFT commented on #63957
@Ken-Cowley-Fujitsu - This forum is primarily associated with the documentation issues and questions. I understand you are looking for a new feature in azure data factory. I would recommend you to post an idea in [feedback forum](https://feedback.azure.com/forums/270578-data-factory). This forum is closely monitored by the data factory product team and ideas will be implemented in future releases.

[2020-10-07 12:56] #63957 closed

[2020-10-07 13:00] MonikaReddy-MSFT commented on #63935
@tshaiman -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-10-07 13:01] MonikaReddy-MSFT commented on #63943
@mracfa -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-07 13:04] HarithaMaddi-MSFT commented on #63963
@bharangit - Thanks for posting the issue. Publish generally fails if it finds any missing references in the pipelines. Please re-check all the linked services and datasets used in pipeline and if there are few, I would suggest delete and create them. Please retry with these approaches and if issue persists, kindly post a question in [Q&A Forum](https://docs.microsoft.com/en-us/answers/topics/azur

[2020-10-07 13:04] #63963 closed

[2020-10-07 13:08] mracfa commented on #63943
Please add to this document that there is a need of using the flag network-plugin when creating an AKS cluster with UDR

https://docs.microsoft.com/en-us/azure/aks/egress-outboundtype

[2020-10-07 13:09] DCtheGeek commented on #63938
@MicrosoftDocs/azure-cxp-triage Please update with #in-progress since @KrishnaG-MSFT has submitted the fix in a PR, which I just approved and signed off on. :)

[2020-10-07 13:35] AjayKumar-MSFT commented on #63951
@Console32, Thanks for posting this question!

Managed identities for Azure resources is a feature of Azure Active Directory and both Azure App Service and Azure Functions are [supported service](https://docs.microsoft.com/azure/active-directory/managed-identities-azure-resources/overview#how-can-i-use-managed-identities-for-azure-resources). The Azure doc you're referring to outlines steps for bo

[2020-10-07 13:42] skiddder commented on #38415
does "It is not supported for Azure AD-joined-only virtual machines" in the mentioned docs page mean, that it is not working for VMs which are joined via AADDS? Or what exactly is AD-joined-only supposed to be?

[2020-10-07 13:49] mmacy commented on #63717
@ksurendra Hi Suren, thanks for the offer! Is your code sample using MSAL4J? If so, I recommend reaching out the MSAL4J team by opening an issue in their repository:

https://github.com/AzureAD/microsoft-authentication-library-for-java

Alternatively, perhaps this is something that could be added to this existing sample repo, which has an ROPC example in it (though not B2C):

https://github.com/Az

[2020-10-07 14:06] #63938 closed

[2020-10-07 14:09] DCtheGeek commented on #63938
@vient0 The PR @KrishnaG-MSFT submitted has merged, which caused this issue to automatically close.  Publish will happen later on in the day during our regular cycle. Thank you again for pointing this out, it's really appreciated!

[2020-10-07 14:17] AjayKumar-MSFT commented on #63644
Robert, Apologies for the delay!

Yes, as mentioned in the documentation since it is still in preview, I would not suggest to be used for production scenarios.

We have a Uservoice [post](https://feedback.azure.com/forums/169385-web-apps/suggestions/41098906-serve-content-from-azure-storage-in-app-service-on) on this, if you wish kindly upvote this request.

As mentioned in this discussion [thread

[2020-10-07 14:20] stevencl opened #63965 "Link to node libraries takes you to the legacy page"
In the About Blob Storage section on this page there is a list of client libraries. The library for node.js is outdated. It takes you to https://azure.github.io/azure-storage-node/ which is a legacy version of the SDK.

I believe that the link should take you to to https://www.npmjs.com/package/@azure/storage-blob instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-10-07 14:25] ksurendra commented on #63717
Thanks for the update @mmacy

The example i developed does not add (as dependency) or use msal4j.
### Some details:
- Either user enters the below details in a form (or can also be hard coded for demo purposes)
   - username, password, clientid, tenantid
- We call this url (using POST) with the above 4 inputs.
[code]
- Look for response from Azure. A sample response if successfully authenticated.

[2020-10-07 14:30] gfaraj commented on #47611
I had the same issue with short-lasting tokens for Apple and from what I heard from the devs, they don't support token refresh for Open ID Connect providers yet. That's why you get a 404 response.

They were going to look into allowing more longer-lasting auth tokens but I haven't heard back, this was back in August. Hopefully they'll add some support for this soon.

[2020-10-07 14:42] piyusharora1989 opened #63966 "No proper example for downloading a specific mime/type file eg: JPEG/PDF etc"
Could you add example to download a pdf/jpeg file from blob? Downloading the file doesn't make it valid pdf/jpeg file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d4935f4-d5c1-f7c3-eeb0-f8b5e5fd406f
* Version Independent ID: 766ee1b8-4c5d-054b-d7ec-1825d8f5d50b
* Content: [Quickstart: Azure Blob storage library v12

[2020-10-07 14:45] kristofer84 commented on #50976
I had a similar problem but with redirection URIs for SPA. I managed to solve it by posting with Azure CLI to the Graph API:
`az rest --method PATCH --uri 'https://graph.microsoft.com/v1.0/applications/{id}' --headers 'Content-Type=application/json' --body "{spa:{redirectUris:['http://localhost:3000']}}"`

[2020-10-07 14:48] rwatjen opened #63967 "Mocking DurableOrchestrationContextBaseis deprecated"
The sample for "Unit testing orchestrator functions" mocks `DurableOrchestrationContextBase`.
That is deprecated. It should instead mock `IDurableOrchestrationContext`

    var durableOrchestrationContextMock = new Mock<DurableOrchestrationContextBase>();

should be changed to

    var durableOrchestrationContextMock = new Mock<IDurableOrchestrationContext>();

The full sample code following the l

[2020-10-07 14:52] Console32 commented on #63951
I am not sure how this relates to my Problem.

I want to call an azure function (launch it) from inside a azure AppService (using a (non SystemAssigned) Managed Identity on the AppService side). How can this be done?

[2020-10-07 14:57] MonikaReddy-MSFT commented on #63958
@konradsikorski - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-10-07 14:59] MonikaReddy-MSFT commented on #63958
@konradsikorski -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-07 14:59] #63958 closed

[2020-10-07 15:07] evlo opened #63968 "Use comma in bulk invite"
It would be really useful to allow use comma in the invitation message.

IE: when comma is in part that is between two quotes, don't take it as separator
allow escaping of commas - ie: \
allow using semicolon as separator instead of comma (even when format is called comma separated values)

Usually comma goes right after salutation, so not allowing it in welcome message is causing trouble.

---

#

[2020-10-07 15:12] evlo commented on #63968
I found out that comma, when used in text between two double quotes works.

Please update documentation.

[2020-10-07 15:13] Kumar3010 opened #63969 "Job and message queuing in Redis"
I have not see any link to the documentation of Job and message queuing  in Redis if we use Azure Redis cache as message broker.
Link to the documentation is highly appreciable

[2020-10-07 15:15] theBlueclouds opened #63970 ""continuously replicate from to a different target region" is "from to" grammatically correct?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77b55957-eb46-c35a-5f31-66ca20ad4390
* Version Independent ID: 10500bf3-d343-0bc9-cc16-642c5116a131
* Content: [Azure to Azure disaster recovery architecture in Azure Site Recovery - Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-rec

[2020-10-07 15:17] RonnieQuan opened #63971 "Does Deployment Slot Have Private Endpoint Feature?"
Does Deployment Slot Have Private Endpoint Feature?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2174e399-063b-129a-eef6-2c49a67fd4e2
* Version Independent ID: 6cb95aa6-fb50-b966-4c9a-01e0718d0bcb
* Content: [Connect privately to an Azure Web App using  Private Endpoint](https://docs.microsoft.c

[2020-10-07 15:26] shashishailaj commented on #63956
@brebant Thank you for your feedback . We will have this reviewed with the content team and will update the thread .

[2020-10-07 15:27] shashishailaj commented on #63956
@memildin Could you please review this document once ?

[2020-10-07 15:27] shashishailaj commented on #63954
@andrePKI Thank you for your query. We will investigate and update the thread.

[2020-10-07 15:28] shashishailaj commented on #63962
@v-lyivan Thank you for your feedback . We will investigate and update the thread.

[2020-10-07 15:30] memildin commented on #63956
@brebant please can you provide more detail about specifically which part you think is out-of-date.

[2020-10-07 15:30] shashishailaj commented on #63942
@harald-quist-stratsys Thank you for your query . We will investigate and update the thread.

[2020-10-07 15:34] memildin commented on #63861
Hi @bertrandpons, thanks for the feedback and for taking the time to help us improve the docs.

The script is referenced in the "Run the script" section of the page. That section talks about Azure Resource Graph and "running the query". In a future version we'll try to make it even clearer.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional

[2020-10-07 15:34] #63861 closed

[2020-10-07 15:35] memildin commented on #63463
Hi @BASFmthibodeaux, thanks for the feedback and for taking the time to help us improve the docs.

I'll be adding the missing alerts during the next week.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2020-10-07 15:35] #63463 closed

[2020-10-07 15:38] DerekHerman-MSFT commented on #63730
@javester I have assigned the issue to the doc author to confirm if we need to remove the reference.

[2020-10-07 15:42] jaggersystems opened #63972 "More infomation would be helpful"
It would be nice if examples were included of the whole process including Step 3 and Step 5, not just the export of devices.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8e93b0-2d8b-68c0-62ee-be44831b1557
* Version Independent ID: b55939f9-e552-9818-80b7-535601d4bc7b
* Content: [How to manage stale devices in Azure

[2020-10-07 15:45] MarileeTurscak-MSFT commented on #63968
@evlo
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-07 15:48] mimckitt commented on #63594
We have updated the page with the following note:

![image](https://user-images.githubusercontent.com/32313503/95354938-dacf0f00-0879-11eb-9c6c-ee9fac5ff01a.png)

Changes will be live later this afternoon.

#please-close

[2020-10-07 15:48] #63594 closed

[2020-10-07 15:49] mbiver opened #63973 "Set-AzureStaticVNetIP doesn't work in cloud shell"
Hello.  when I run the command Set-AzureStaticVNetIP in Azure cloud shell, I get the error below.

Set-AzureStaticVNetIP: The term 'Set-AzureStaticVNetIP' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

---
#### Document Details

⚠ *Do not edit this sect

[2020-10-07 15:53] MattMattics opened #63974 "Azure Migrate Hash file check incorrect"
Please correct the hash on the Azure Migrate public version of the appliance. My hash check on multiple systems confirms it is currently e9c9a1fe4f3ebae81008328e8f3a7933d78ff835ecd871d1b17f367621ce3c74 when the doc states it should be bd5c19eec93a62d52cc507a6b7b408d07f33f92b7d39b8a1e3dfec4ec62830d7.

Please advise and resolve.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-10-07 16:02] RyanHill-MSFT commented on #47611
@gfaraj I've reached out to the product team for any updates.

[2020-10-07 16:07] #63965 closed

[2020-10-07 16:12] #63807 closed

[2020-10-07 16:18] MonikaReddy-MSFT commented on #63969
@Kumar3010 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-07 16:20] tamram commented on #63446
@jeffw-wherethebitsroam - I understand your question now. It seems that the StorageSharedKeyCredential class could have a constructor that takes a connection string, instead of just the account name/account key. I'll ask the storage team about that.

[2020-10-07 16:27] wobblewobble commented on #63848
Marilee

Looks like my MFA auth app was corrupt as it was not showing push
notifications and I had to go into the app to see a push notification.
I've reinstalled the MFA app and it is showing push notifications as well
as an option to turn off biometric.

Is there an organisation option in Intune to disable the biometrics on the
App as we have biometrics on the phone already with a quick lock tim

[2020-10-07 16:28] WinstonHoward-MSFT commented on #63863
Hi @wUEZRs ,

Converting a Spot VMs to traditional Azure VMs (taking a VM out of Spot) is currently unsupported officially. That being said you could write your own powershell script to copy all the attributes of a Spot VM and then redeploy them onto a Azure VM (or vise versa). Here is an [example ](https://gist.github.com/larryclaman/5a3bb2a7b0bb7b559b1af192469c718a)of someone doing exactly that

[2020-10-07 16:29] JamesTran-MSFT commented on #63972
@jaggersystems
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-07 16:53] SumanthMarigowda-MSFT commented on #63656
@PatrickMessierGoC  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag m

[2020-10-07 16:53] #63656 closed

[2020-10-07 16:58] JamesTran-MSFT commented on #63972
@jaggersystems
Thank you for your post!

When you say "It would be nice if examples were included of the whole process", I'm assuming you mean of the whole article. However, when you mention " including Step 3 and Step 5" are you referring to the [Clean up stale devices in the Azure portal](https://docs.microsoft.com/en-gb/azure/active-directory/devices/manage-stale-devices#clean-up-stale-devices-

[2020-10-07 17:00] JamesTran-MSFT commented on #63900
@yuhual
I just wanted to check in and see if you had a chance to review my previous post?

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-10-07 17:00] stevestein commented on #62833
@anweshs-ms - thanks for the feedback.

We have an internal work item (1780561) to add minimum RBAC perms for SQL DB tasks.

Without a thorough test my guess would be [SQL Server Contributor](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#sql-server-contributor) for importing a database. For details, see the [RBAC documentation](https://docs.microsoft.com/en-us/azu

[2020-10-07 17:00] #62833 closed

[2020-10-07 17:02] jaggersystems commented on #63972
Yes please. How to script the disable of devices and how to script the removal of devices. Hopefully by using the csv which we exported in the earlier step.
________________________________
From: James Tran-MSFT <notifications@github.com>
Sent: Wednesday, October 7, 2020 5:58:52 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Stefan Jagger <stefan@jaggersystems.com>; Mention <m

[2020-10-07 17:03] WinstonHoward-MSFT commented on #63945
Thanks for the question, we will take a look.

[2020-10-07 17:04] JamesTran-MSFT commented on #63972
@jaggersystems
Thank you for the quick reply!

I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-07 17:05] MartinJaffer-MSFT commented on #39777
@Paul06 if you are still experiencing the issue, could you please open a new question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) for better visibility?

[2020-10-07 17:07] WinstonHoward-MSFT commented on #63949
Thanks for the feedback, I've assigned to author to take a look.

[2020-10-07 17:16] Ericgre commented on #63971
Hello,
yes, but not available yet in the portal, we will update it soon

[2020-10-07 17:19] NavtejSaini-MSFT commented on #63830
@kelvinatph Were you able to check the above information. Please let us know if you have any other question.

[2020-10-07 17:20] sjosyula3 opened #63976 "Is it possible to specify a particular executable file within the provided zip file ?"
I have a use case, where there are two executable files (.py) files within the zip file that I am providing while creating a web-job.

Example -
webjobdata.zip
-- main_script.py
-- dependency-file.py
-- <dependency-1-folder>

When the WebJob is triggered, it seems to be "executing" depdency-file.py and not main_script.py.

Is there a way to get around this issue without moving the dependency-file.

[2020-10-07 17:20] NavtejSaini-MSFT commented on #63844
@sameer-kumar Please let us know if you have any further question regarding this issue.

[2020-10-07 17:21] mimckitt commented on #51103
I added this to our content teams backlog and we are working to get some people specialized in Linux distros to look into all our linux docs. I am closing this out since we are tracking internally.

#please-close

[2020-10-07 17:21] #51103 closed

[2020-10-07 17:23] Mike-Ubezzi-MSFT commented on #63481
@karinagrdz - Please let me know the result of the query for environment where you are attempting this tutorial but, in the meantime, I am going to close this issue. We can very easily pick-up the conversation in the future. Thank you for any additional detail you can provide if in fact, this is an issue. Regards, Mike.

[2020-10-07 17:23] #63481 closed

[2020-10-07 17:23] DerekHerman-MSFT commented on #63966
@piyusharora1989
Thanks for your feedback. I have assigned the issue to the content author to review and see if that is something we could add to the document.

[2020-10-07 17:24] JanaAbhijit commented on #63934
Thanks @AjayKumar-MSFT  , looking forward to a quick update on this, currently not able to move forward with basic communication testing.  Also, if I hit the endpoint, it always says services are not running
![image](https://user-images.githubusercontent.com/12181773/95365603-fbd24700-08ef-11eb-9059-230852df0304.png)

[2020-10-07 17:29] leofmoura commented on #63491
Thanks for the explanation.

[2020-10-07 17:29] RonnieQuan commented on #63971
Thank you!
So I guess I could use powershell or CLI or rest api for deployment slot private endpoint creation.
Can you please point the document link?

Thank you!

[2020-10-07 17:32] WinstonHoward-MSFT commented on #63950
Thanks for the feedback, I've assigned this to the author to take a look.

[2020-10-07 17:37] WinstonHoward-MSFT commented on #63973
Thanks for the issue, I'll take a look.

[2020-10-07 17:43] BharathNimmala-MSFT commented on #63974
@MattMattics Thank you for your query, we have assigned this issue to our document author @rayne-wiselman to further review and update the document if needed.

[2020-10-07 17:44] gregdegruy opened #63977 "Enabling Https with CDN Managed Certificate for the apex domain https://contoso.com/"
The error we are facing is _Failed to update custom domain properties. Enabling Https with CDN Managed Certificate is not supported anymore for apex (root) domains_.

For our use case we want to enable https://contoso.com/ as a URL our visitors can use to navigate to our site. In the same way they would with a www subdomain in the form of https://www.contoso.com/. It appears this is no longer supp

[2020-10-07 17:48] ChaitanyaNaykodi-MSFT commented on #63724
Hello @ca-thompson, I was able to perform the tutorial as shown in the example below. I did not encounter any 403 forbidden error.
![rssfeed](https://user-images.githubusercontent.com/67453298/95367789-0b1ea980-088a-11eb-8abf-6a923241843c.png)

Please let me know if you are still facing any issue.

[2020-10-07 17:49] BharathNimmala-MSFT commented on #63970
@theBlueclouds Thanks a lot for bringing this to our notice and helping us to improve our Azure documentation, I have raised a PR to correct it in the document and it would go live later in the week.

At this point it appears that there's no further edits or updates needed to the documentation other than what is listed above. We will go ahead and close this issue, however if you have any further q

[2020-10-07 17:49] #63970 closed

[2020-10-07 17:50] ChaitanyaNaykodi-MSFT commented on #63820
Hello @SQLDataSide,
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-10-07 17:51] #63820 closed

[2020-10-07 17:53] RichWK commented on #62061
Hi @normesta, just wondering if there are any updates on this?

I notice there's a mention on the page new of the new Azure Static Web Apps service, but I'd prefer not to commit to that without knowing what the pricing will look like once it's out of preview.

[2020-10-07 17:54] mimckitt commented on #59312
I updated the sample. Changes should go live sometime this afternoon.

[2020-10-07 17:54] #59312 closed

[2020-10-07 17:54] spelluru commented on #63169
#reassign:spelluru

[2020-10-07 17:56] pereiralex opened #63979 "Replace "plans" concept with "features""
I've gotten feedback to refrain from using the term "Plans" in the UI as it may imply an associated cost and/or fixed limits as it does with traditional consumer phone plans. Instead I updated the UI to refer to capabilities as features. I'd suggest we use this same terminology in our docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-10-07 18:01] JayaChatterjee-MSFT commented on #63895
@sfilipi yes, to ensure a graceful shut down, you can leverage the cancellation token approach. This is already documented : https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#cancellation-tokens
Please let me if this answers your question and helps in this case.

[2020-10-07 18:10] normesta commented on #62061
Hi @RichWK. Thank you for the nudge. @klaaslanghout at some point we introduced guidance stating that CORS was not supported in static websites. That said, that very article mentions the use of Azure functions that do have a different domain.  Which of those two statements are correct or are they both correct and why are services in Azure such as Azure Functions an exception? Thx!

[2020-10-07 18:13] jkatebin opened #63981 "ReadAsync is not part of ComputerVisionClient"
In the code example for the function
`public static async Task ReadFileUrl(ComputerVisionClient client, string urlFile)`
you call `ReadAsync`, which doesn't seem to exist as per your [ComputerVisionClient documentation ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cognitiveservices.vision.computervision.computervisionclient?view=azure-dotnet)(or the compiler)

---
#### Document Det

[2020-10-07 18:19] D-Moonesinghe opened #63982 "VMs in different regions connecting to Log Analytics Workspace"
I was looking at this document, because I remember before when I configured LAWs, each VM could only connect to a Log Analytics workspace in that same region as the VM.  I was looking for that statment, here in this article.  But didn't find such a requirement anymore.  Has this requirement been taken off?  I can't find it anywhere after an hour of digging.

[Enter feedback here]

---
#### Documen

[2020-10-07 18:20] D-Moonesinghe opened #63983 "LAWs and Resources being in different regions not addressed"
I was looking at this document, because I remember before when I configured LAWs, each VM could only connect to a Log Analytics workspace in that same region as the VM.  I was looking for that statment, here in this article.  But didn't find such a requirement anymore.  Has this requirement been taken off?  I can't find it anywhere after an hour of digging.

[Enter feedback here]

---
#### Documen

[2020-10-07 18:23] D-Moonesinghe commented on #63917
Thanks. Yes it helps.

On Tue, Oct 6, 2020 at 7:50 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

--
Deepal Moonesinghe
(408) 568 1669
deepal.moonesinghe@gmail.com

[2020-10-07 18:34] RyanHill-MSFT commented on #63691
@PaulARoy _whew_ 😁. Good suggestion on moving `identityProviders` above to alleviate mistakes.

[2020-10-07 18:43] kenwith commented on #54969
Since we will be keeping the PingAccess article I updated the link. It will go live when the header-based auth article PR merges.

[2020-10-07 18:45] kenwith commented on #41964
Correction, we will be keeping the article in addition to the new article so I updated to add a note about this scenario. The update will go live when the new PR merges.

[2020-10-07 18:49] #63691 closed

[2020-10-07 19:03] karinagrdz commented on #63481
Thank you for your great support! sorry for my delay to reply =) have a nice day!

[2020-10-07 19:07] BharathNimmala-MSFT commented on #63983
@D-Moonesinghe Thank you for reaching out and seems that below question has been created as duplicate. We will try to address your query on other thread and closing this thread for now. Please feel free to revert if you have any queries. Thanks

https://github.com/MicrosoftDocs/azure-docs/issues/63982

[2020-10-07 19:07] #63983 closed

[2020-10-07 19:07] BharathNimmala-MSFT commented on #63982
@D-Moonesinghe Thank you for your query, we will review and get back to you at the earliest.

[2020-10-07 19:17] sameer-kumar commented on #63844
Thanks for sharing the link. However, my question in original post is still not addressed in this article.
I want to understand how to setup Azure Redis Cache for my use case?

[2020-10-07 19:19] Blackbaud-ChrisBlythe opened #63988 "Gaps in Prometheus scrape data???"
We've configured Prometheus metric scraping in our AKS cluster(s) to capture metrics from our pods/containers, but have noticed that metrics are often missing for large chunks of time (even though the scrape interval is set t 60s). Just for reference, we have ~1000 pods running across 20 nodes, and several of the underlying services are generating a large number of dimensional metrics. I noticed t

[2020-10-07 19:20] skalingclouds opened #63989 "Cert Revocation"
[Enter feedback here]

While it is documented here:  https://docs.microsoft.com/en-us/azure/security/fundamentals/tls-certificate-changes we will be revocating the Baltimore root certificate Feb 15 2021 , and it is documented on the Azyre Redis cache page Azure Redis Cache will remain on Baltimore root, the intermediary are changing and it should be documented those will be revocated on Feb 15th a

[2020-10-07 19:33] BharathNimmala-MSFT commented on #63623
@byte-master Post validation with our team internally , currently the agent is in Public Preview. Unfortunately we don't have a ETA for GA at this time. Would request you to subscribe to the announcements [here](https://azure.microsoft.com/en-us/blog/topics/announcements/), when we have further information on the GA date our team will share it accordingly.

Apologies we are not able to share the E

[2020-10-07 19:33] #63623 closed

[2020-10-07 19:55] notoriousedd opened #63990 "Specific Application Requirements Should Be Listed"
Can you enable self-service sign-up for any single tenant app that is integrated with the AAD tenant under app registrations?  Or are there other requirements not documented?  Does the app require the use of MSAL libraries and the v2 endpoint for this to work?  Do the application configuration files need to be updated to go to the B2B self-service endpoint?  I tested this with some old sample apps

[2020-10-07 20:09] jlichwa commented on #63937
@andrewtsw it is possible that your application is using other identity and that one is picked up by DefaultAzureCredential first. As you can see in this link https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet, there is several other identities checked first (from what i see in log SharedTokenCacheCredential)
That quickstart is used with console app

[2020-10-07 20:09] #63937 closed

[2020-10-07 20:20] kapntech opened #63993 "Linux Hyper-V Gen 2 VMs not support"
There seem to be several limitations that are not listed here. Can you incorporate the requirements from the https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-azure-support-matrix#azure-vm-requirements doc? For instance, Linux Gen 2 VM's cannot test failover. Azure Migrate does not mention this in assessments, nor is that mentioned in this document.

---
#### Document Details

⚠ *Do not

[2020-10-07 20:20] mykola-ivadolabs opened #63994 "Container Instances Logging Changed"
We noticed that starting from October 6th, Container Instances Logs are being sent to new custom log ContainerInstanceLogs_CL (extra 's' in Logs) and log format is now Kubernetes CRI. Logs are being sent into original ContainerInstanceLog_CL and new one - we didn't figure out what is the criteria.

We had to modify Query to get the logs to use kusto UNION' and substract extra log messages from CRI

[2020-10-07 20:28] #59501 closed

[2020-10-07 20:32] spelluru commented on #63169
Thank you @plzm

The page is updated now.

#please-close

[2020-10-07 20:32] #63169 closed

[2020-10-07 20:34] MarileeTurscak-MSFT commented on #63939
@Console32
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-07 20:34] mmacy commented on #59501
@surensaluka @jmprieur Updated doc with test cert creation steps has been merged in https://github.com/MicrosoftDocs/azure-docs-pr/pull/132936 (private repo, may 404 for you).

Unfortunately, this adds 7 steps to the quickstart, so not ideal, but it should build and run now if you follow the steps:

I also updated the app registration **redirect URI** config steps to be current with the new platfo

[2020-10-07 20:34] MartinJaffer-MSFT commented on #63955
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-07 20:37] MartinJaffer-MSFT commented on #63961
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-10-07 20:51] MartinJaffer-MSFT commented on #63979
Thank you for your feedback, @pereiralex . This has been assigned to the content owner, @Prakulka , and will be updated as appropriate.