[2021-12-10 06:20] SnehaGunda commented on #83514
@ryocown the doc is out of date, the most up-to-date release notes are in the source GitHub repo: https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/cosmosdb/cosmos/CHANGELOG.md. I will update the doc to point to this page.

[2021-12-10 06:20] SnehaGunda commented on #83514
#reassign:@SnehaGunda

[2021-12-10 06:38] xboxeer opened #85089 "JS example not working if azure func toolkit version used is V4"
![image](https://user-images.githubusercontent.com/5089150/145528827-23d977b1-b1b7-4283-84b3-732bc600d5fc.png)
showing the above exception in azure
switching to v3 solved the issue

nodejs component in v4 not found maybe?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b36e374f-acd3-dd00-be33-e5ef8ab21aa7
* Version Inde

[2021-12-10 06:39] SnehaGunda commented on #83514
The above PR fixes this issue. Doc updates will be live tomorrow. We will close this issue now.

#please-close

[2021-12-10 06:39] #83514 closed

[2021-12-10 07:44] arambazamba opened #85091 "Update docs"
Can you please update this docs. With the new Logic App Designer Event Grid is no more found as an option

![image](https://user-images.githubusercontent.com/16348023/145536327-b316a789-4c7b-417b-bdb8-e73b04a82400.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e996c57-14b5-75a3-29de-40e6a44c50d3
* Version Indepen

[2021-12-10 08:04] minnieshi commented on #85067
Thank you. I also did not read `A secret scope is collection of secrets identified by a name`, just found under https://docs.microsoft.com/en-us/azure/databricks/security/secrets/secret-scopes

Because in the beginning I thought everything was purely related to or controlled by azure keyvault; did not know it was databricks concept.

[2021-12-10 08:21] SnehaAgrawal-MSFT commented on #85089
@xboxeer Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-10 08:31] sampreeth-inkulu opened #85093 "Broken link enable-auto start-for-a-vm-in-the-lab"
[Enable auto start for a VM in the lab](#enable-auto start-for-a-vm-in-the-lab) - This seems to be a link which is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38c755df-be98-87bc-3af8-a2cdd4857e0e
* Version Independent ID: da378e66-9a8e-b201-cfbb-6e383be05b23
* Content: [Configure auto start settings for

[2021-12-10 08:38] kollimouni30 commented on #85064
Apologies Ajay! Could you please move this to Issues bin so that someone can work on it?

[2021-12-10 08:54] wealthz01 commented on #85021
🥺

On Thu, Dec 9, 2021 at 8:12 PM anaypurohit ***@***.***> wrote:

[2021-12-10 08:58] almudenaftourne opened #85095 "Cost Management - Filter by service name Azure Machine Learning is actually not an option"
In the "Monitor costs" section it is recommended to filter by Service name -> Azure Machine Learning to monitor specific costs for the service:

"To narrow costs for a single service, like Azure Machine Learning, select Add filter and then select Service name. Then, select Azure Machine Learning"

However, when you filter by Service Name in Cost Management this option is not available. You can als

[2021-12-10 09:00] odee30 commented on #85047
Thanks for the update @sagarlankala.  I was specifically after the ability to Azure AD join, as you can with Virtual Desktop.  The documentation does need to be updated to reflect that only Domain Join in supported.

Is the ability to Azure AD join something that is on the roadmap?  it would be great if we were able to deploy and register dev machines with Azure AD and Intune.

[2021-12-10 09:02] bml1g12 commented on #82701
I see, so to build a simple command interface (with voice) for my scenario (i.e. more complex LUIS created entities that go beyond simple string examples)  is it correct the way to go would be to use the Microsoft Bot Framework, and integrate it with LUIS and speech?

I appreciate that means the learning curve goes from a 5 minute job in a GUI to a lot more complex and low level.

[2021-12-10 09:04] bml1g12 commented on #82701
If so, I think it would be helpful to document that Custom Voice Commands cannot be used with custom LUIS entities, and the recommended solution for this is X. The fact that Custom Voice Commands has a "LUIS resources" section confused me a bit here.

[2021-12-10 09:34] rahulksingh1994 opened #85096 "Floating IP settings on VM"
The document for the load balancer is very good.
However, when talking about floating IP, it would be better to have the VM configuration in the document as well.
For example, how to create a virtual IP in VM and how to enable DSR there.
Without that, the whole thing falls apart

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-12-10 09:55] anderl80 opened #85098 "Add documentation for updating pipelines and PipelineEndpoints"
Hi Team!

I had a few customers asking me how to update pipeline endpoints in a best practice way (setting new as default, using get_default method etc.). Also I needed to clarify more than once whether a pipeline need to be runned to be publishes (wait_for_completion vs. wait_for_creation).

I suggest to add following pages to our documentation:
- comparison of Pipeline, PublishedPipeline, Pipeli

[2021-12-10 10:05] anderl80 commented on #85098
https://stackoverflow.com/questions/65955909/azure-ml-workspace-how-to-publish-pipeline-to-existing-endpoint-instead-of-crea

[2021-12-10 10:09] FrankVanEgmond commented on #84249
https://[custom domain]/translate?api-version=3.0
was not working for us, that's why we moved to '/translator/text/v3.0/translate'

From: GiftA-MSFT ***@***.***>
Sent: woensdag 24 november 2021 16:07
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Frank van Egmond ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Path value seems different when Vnet bound URLs are used (Issu

[2021-12-10 11:01] infraweavers commented on #83709
We are also experiencing this issue, some of our machines have this KB on, however we can't find a KB article anywhere with the number on. However as it's installed on a Server 2019 box, it literally must be the right number.

[code]

[2021-12-10 11:34] sbgillett opened #85100 "Public IP LoS for AVD RDP Shortpath only supports Basic SKU Public IPs"
This article fails to mention that, when assigning Public IP Addresses to AVD Session Hosts to provide the line of sight necessary for Shortpath to work, only Basic SKU Public IP Addresses are compatible.

The Session Host needs to sends the list of its private and public IPv4 and IPv6 addresses to the client. To achieve this, it uses the [Instance Metadata Service (IMDS) API](https://docs.microso

[2021-12-10 11:35] ram-msft commented on #85098
@anderl80 Thanks for the feedback! We will review and update accordingly.

[2021-12-10 11:36] RohitMungi-MSFT commented on #85095
@almudenaftourne Thanks for spotting this. Yes, Azure machine learning is not listed as a service. This is because Azure Machine Learning workspace does not get billed directly. All services used by machine learning i.e storage account, key vault, virtual machines, etc are billed.

@sdgilley The guidance in this section needs to be updated since machine learning billing practice changed after it w

[2021-12-10 11:57] Master-Oliveira commented on #81864
Thanks, the docs and samples are much more clear now :) I'll close this issue.

[2021-12-10 11:57] #81864 closed

[2021-12-10 12:00] shashishailaj commented on #85085
@rockboyfor Thank you for your query . We will surely help you with this issue .

[2021-12-10 12:26] AjayKumar-MSFT commented on #85088
@nitinkhandelwal26, Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-12-10 12:31] AjayKumar-MSFT commented on #85091
@arambazamba, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-10 12:33] AjayKumar-MSFT commented on #85096
@rahulksingh1994, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-10 12:35] BhargaviAnnadevara-MSFT commented on #85093
@sampreeth-inkulu Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2021-12-10 12:35] #85093 closed

[2021-12-10 12:35] AjayKumar-MSFT commented on #85100
@sbgillett,  Thanks for taking time to share your valuable feedback and detailed info! We are taking a look into this and will get back to you soon.

[2021-12-10 12:38] AjayKumar-MSFT commented on #85084
@psierak,  Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us (@shashishailaj) know.

-As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-12-10 12:40] v-hagamp commented on #83750
@alisonOCT,

 Have you raised the update request for it?

[2021-12-10 12:46] 2ATCaroline commented on #84910
Thank you! Recreating the automation account indeed solved the issue!

[2021-12-10 13:21] ram-msft commented on #84972
Thanks, Please follow the document for languages supported for QnA Maker.
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/overview/language-support

Language support is documented at https://docs.microsoft.com/en-us/azure/cognitive-services/language-support.

[2021-12-10 13:21] #84972 closed

[2021-12-10 13:29] anbhar opened #85102 "Spellcheck Please"
please review, spellcheck and remediate.. - "lobby charged aat regular rate of meettings"............. ......... .......

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee82481-bb51-5071-b10d-03b5cc380290
* Version Independent ID: b6821da7-323a-3e1c-64ec-962cce97dc4d
* Content: [Pricing scenarios for Calling (Voice/Vid

[2021-12-10 13:31] anbhar opened #85103 "Scenario missing"
Inbound scenario missing - PSTN caller calling toll-free ACS phone number, that terminates in a JS SDK softphone in Dynamics 365, without touching Teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee82481-bb51-5071-b10d-03b5cc380290
* Version Independent ID: b6821da7-323a-3e1c-64ec-962cce97dc4d
* Content: [Pricing

[2021-12-10 13:32] anbhar opened #85104 "Simpler examples needed"
Why are numbers like 29 minutes used to help explain complex calculations? Wouldn't it be easier for readers to understand with simpler round numbers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee82481-bb51-5071-b10d-03b5cc380290
* Version Independent ID: b6821da7-323a-3e1c-64ec-962cce97dc4d
* Content: [Pricing sc

[2021-12-10 14:11] danwdavey opened #85105 "Wording"
Can some clarity be provided on the 'settings that can be Microsoft Managed' section?

The following table lists settings that can be set to Microsoft managed and whether it is enabled or disabled - does this mean the table below are the defaults, the setting that Microsoft managed applies or something else?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-12-10 14:12] sandervandevelde opened #85106 "Confusing text regarding private cert for Linux"
Hello,

in https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-openvpn-clients#linux at point 4 it says:

    Export the P2S client certificate you created and uploaded to your P2S configuration on the gateway.

But, I have uploaded the public root cert as seen here: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-point-to-site-resource-manager-portal#uploadfi

[2021-12-10 14:19] blessedwithsins opened #85107 "AKS Cluster Start/Stop"
[Enter feedback here]

During one of the issue, we found that due to resource lock on the Node Resource Group, Private AKS Cluster stop took a lot of time and couldn't be accessed by customer due to broken Private Link.

SR #2110270060003466

Can we add this in the documentation?

Please connect with me at pigaur@microsoft.com.
---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-12-10 14:38] RyanHill-MSFT commented on #85102
Thanks [@anbhar](https://github.com/anbhar) for your feedback! We'll get that corrected.

[2021-12-10 14:43] SrijitBose-MSFT commented on #85107
@blessedwithsins , thank you for your feedback.

We have documentation on cluster deletes that might take forever due to node resource group locks [here](https://docs.microsoft.com/en-us/azure/aks/faq#why-is-my-cluster-delete-taking-so-long).

However, broken private links due to RG locks looks LGTM.

@zr-msft , @palma21 can we add this to the AKS FAQ or the document in the issue metadata?

[2021-12-10 14:45] bandersmsft commented on #85077
@MonikaReddy-MSFT ty!

[2021-12-10 14:53] RyanHill-MSFT commented on #85103
Thanks for the feedback [@anbhar](https://github.com/anbhar)! We are currently investigating and will update you shortly.

[2021-12-10 14:55] RyanHill-MSFT commented on #85104
Thanks for the feedback [@anbhar](https://github.com/anbhar)! We are currently investigating and will update you shortly.

[2021-12-10 15:00] cchapin-ms opened #85109 "only 1 host size listed"
[Enter feedback here]
In the Identify the size hosts section of this page, there is only the AV36 host listed. On the pricing calculator there is also the CS28, CS36 and CS36m instance size. I would edit this, but I don't know all of the tech specs of the instances.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b10b3

[2021-12-10 15:05] mrobst opened #85110 "Tutorial command is wrong for configuring function app settings"
Thanks for the great tutorial. There is a small mistake in the 3rd command in the section Configure the function app in the Azure CLI commands with Node.js v10 SDK. The --settings parameter is shown with multiple settings encased in double quotes (") which makes all the settings a single string. The quotes should be removed to have the settings correctly parsed as multiple space separated values.

[2021-12-10 15:21] JamesTran-MSFT commented on #85105
@danwdavey
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-10 15:22] Glaubscher opened #85111 "Missing Reg Key"
The Reg Key to add more threads does not exist on the new virtual appliance please could you advice where i can find it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab2b1604-0115-62c1-efe8-ff8afa1aff7d
* Version Independent ID: 7b1d6d4c-8aee-8a73-6129-432261ba58b4
* Content: [How does Hyper-V migration work in Azure

[2021-12-10 15:49] SrijitBose-MSFT commented on #85109
@cchapin-ms , thank you for your feedback. We have shared the same with the content author(s). This will now be visible in their backlog.

[2021-12-10 15:56] jgudmundson-RETSD commented on #84946
I think I figured it out.  I added a custom logo to the google cloud oauth project.  Adding that logo was forcing google app verification to happen.  There is no way of easily removing the logo and I had to redo the project on the google side.  After that the app bypassed verification, and was allowed to be published.
From my end this can be closed, but it might be worth adding a "don't add a logo

[2021-12-10 16:10] jcetina commented on #85087
@shashishailaj - can you tell me if using a list for output is in fact supported, and if so how?

[2021-12-10 16:17] fgheysels opened #85114 "ASP.NET Core Entity Framework Core tutorial with Managed Service Identity still up-to-date ?"
Is the tutorial for ASP.NET Core on this page still correct ?
More specifically regarding the connectionstring that must be used and the custom `SqlAuthenticationProvider` ?
I've read some blogposts and documentation in where other authentication methods are used in the connectionstring, and no custom authentication provider is required.

For instance [this blogpost](https://blog.johnnyreilly.com/

[2021-12-10 16:25] CharlesGroleau opened #85115 "PowerShell Script Example Error"
Good Day,

The script contain a small error the portion " .substring(0, 84) " is not required. Actually it will make the script fail with a invalid scope error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9845f989-fdb0-d55f-df73-969b0ca2d06c
* Version Independent ID: 8562a607-1d01-c368-7000-b956f82af400
* Content: [

[2021-12-10 16:27] Zocatvous opened #85117 "Why is there no example in this documentation for how to store data under a key?"
Is there a reason that this page doesn't provide any examples for the way to _store_ data under a key? Seems like a pretty big oversight.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15a4bd95-16b0-3c90-c90b-53d098d7beb1
* Version Independent ID: 9eee94e5-fbc8-3242-4440-91bdb456f251
* Content: [Widgets - Azure

[2021-12-10 16:31] devsheoran opened #85118 ""az acr build" doesn't work without "--resource-group" parameter"
I had to pass "--resource-group" parameter to make below command working

[code]
If I don't pass "--resource-group" parameter it throws error _"The resource with name 'myhelmacr' and type 'Microsoft.ContainerRegistry/registries' could not be found in subscription 'xxxxx-xxxxx-xxxxx-xxxxx-xxxx'."_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-12-10 16:32] rytranwork opened #85119 "feedback"
[Enter feedback here]
XBOX is an reserved word as well and is missing in the document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f956cd8-7704-2618-ff70-f4e133aa9ae3
* Version Independent ID: 8acc7802-9005-3ea9-0549-11066418385a
* Content: [Reserved resource name errors - Azure Resource Manager](https://docs.micros

[2021-12-10 16:38] LitKnd commented on #83807
Hi @IrangaSubasingheMSFT ,

Thanks for raising this issue. We have incorporated a change into the 'Export an Azure SQL Database to a BACPAC file' article to clarify the limitations for Hyperscale per your suggestion. The pull request for this has been signed off on and I expect this to publish today, or within the next couple of business days at the latest.

Thanks again for helping make our docs

[2021-12-10 16:38] #83807 closed

[2021-12-10 16:48] samadara-msft opened #85120 "Add a step to validate marketplace offer still exists before deleting VM and add a sample scripts to recreate VM using snapshot/disk"
Steps mentioned to recreate VM are missing important steps in following article: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-limitations/virtual-machines-move-limitations#virtual-machines-with-marketplace-plans

1. Add a step to validate marketplace offer still exists before deleting VM. current step-2 suggests to delete the VM in the source subscription. One shou

[2021-12-10 16:55] Diogo-Feliciano opened #85122 "storage blob upload --tier"
In the section about uploading blobs with Azure Cli mentions the use of --tier Hot/Cool which seems to not be working outside of preview. This causes issues for people following the guide.

![image](https://user-images.githubusercontent.com/95931673/145611505-4de62486-f85d-49e4-aed5-fde123f58f70.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-12-10 17:08] johnsirmon opened #85123 "Azure SQL VM table is missing or need clarification"
[Enter feedback here]
Table is missing for Azure SQL VM or clarification is needed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124d1b14-660e-d0df-71e5-4eb3bc943288
* Version Independent ID: 3eb3b7fb-644a-bbf1-186d-96bc43d279dc
* Content: [Monitor your SQL deployments with SQL insights (preview) - Azure Monitor](http

[2021-12-10 17:12] jasongroce commented on #76600
@kine Thank you for the feedback and your patience. We are still looking at the best way to incorporate this feedback into the docs, and we are now tracking this feedback internally for a future docs release and closing this issue. #please-close

[2021-12-10 17:12] #76600 closed

[2021-12-10 17:29] DerekHerman-MSFT commented on #85122
According to CLI docs --tier will not work to set the access tier upon upload. Including the batch example given.
https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az_storage_blob_upload

[2021-12-10 17:30] bandersmsft commented on #85115
@CharlesGroleau Thanks for raising this issue. I'm investigating it with the Reservations engineering team. I'll reply here after I determine a course of action.

[2021-12-10 17:46] rido-min opened #85124 "Clarify if DeviceSDK implements the suggested Device Reconnect Flow"
AFAIK the device SDKs do not retrieve the twin when connecting, neither trigger the desired update callback if the device is offline when the property was set.

This must be done from user code, and should be covered in the official samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff6fbb2-5679-a9e7-b9f3-40d638c

[2021-12-10 17:49] andrew-twigg opened #85125 "Errors when running guide"
Hi We're evaluating functions with .NET 6.0 and having problems with the quickstart. The commands we're running are below and the errors we get are in bold, and no function is deployed. The guide states:

but that's not working.

[code]

We also tried specifying --functions-version 4

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-12-10 18:04] MonikaReddy-MSFT commented on #85119
@rytranwork -  Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-10 18:19] SrijitBose-MSFT commented on #85118
Can you please check the version of Azure CLI that you are using? Use the following command:
[code]
Please upgrade to the latest version of Azure CLI. [[How-to guide](https://docs.microsoft.com/en-us/cli/azure/update-azure-cli)]

----
Hope this helps!

[2021-12-10 18:19] JamesTran-MSFT commented on #85027
@Garhag
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-10 18:20] JamesTran-MSFT commented on #85105
@danwdavey
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-10 18:20] SatishBoddu-MSFT commented on #85124
Hello @nehsin Could you please help with this feedback.

[2021-12-10 18:36] himanshusinha-msft commented on #85117
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-12-10 18:40] rosscouldrey opened #85126 "Update dates for backup/restore example"
On the Point-in-time restore for flexible server (https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-backup-restore#point-in-time-restore) there is an example about using the Aug 15th and Aug 14th restore points.... the following sentence accidentally refers to Aug 24th and 25th instead....

Current Paragraph:
For example, let us assume the backups are performed at 11pm eve

[2021-12-10 18:43] v-josse opened #85127 "States only Global Admins can manage domains in Azure AD"
Per this doc:  https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#domain-name-administrator

Domain Name Administrator can also manage domains in Azure AD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67566e6a-ffb4-4adf-73b5-3d6c0c58cd05
* Version Independent ID: 9c9a6f63-ec87-0e45-9d0

[2021-12-10 18:52] SeryioGonzalez opened #85128 "Unclear where to configure operations"
After some researching, I was able to understand that Spatial Analysis operations are configured in the deployment manifest of the container, but this is not clearly explained. I would suggest a phrase or 2 explaining this
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a8cc3d0-b223-a511-a3ce-cc5aa9e8428f
* Version Inde

[2021-12-10 18:56] CharlesGroleau commented on #85115
I modified the script like below and worked great.

Import-Module Az.Accounts
Import-Module Az.Resources
Connect-AzAccount

$response = Invoke-AzRestMethod -Path /providers/Microsoft.Capacity/reservations?api-version=2020-06-01 -Method GET
$responseJSON = $response.Content | ConvertFrom-JSON
$reservationObjects = $responseJSON.value
foreach ($reservation in $reservationObjects)
{
                N

[2021-12-10 18:56] v-gpettibone commented on #77185
Hi @algattik, I added a link to Apache Kafka. Please see https://github.com/MicrosoftDocs/azure-docs-pr/pull/182472 to check it out.

[2021-12-10 18:58] Christian-e-S opened #85129 "Is there"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e0faeec-4d01-8971-e784-bde6356d5501
* Version Independent ID: 0e6ef221-089c-eb86-12c0-12b3c96c1bae
* Content: [Introduction to Device Update for Azure IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub-device-update/understand-device-update)
* C

[2021-12-10 19:01] v-gpettibone commented on #42615
#please-close

[2021-12-10 19:01] #42615 closed

[2021-12-10 19:03] Christian-e-S opened #85130 "Expected GA data for Device Update"
Is there any rough estimate when the Preview state transitions into GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e0faeec-4d01-8971-e784-bde6356d5501
* Version Independent ID: 0e6ef221-089c-eb86-12c0-12b3c96c1bae
* Content: [Introduction to Device Update for Azure IoT Hub](https://docs.microsoft.com/en-us/azure/i

[2021-12-10 19:08] ggailey777 commented on #77667
We now have this documented properly: https://docs.microsoft.com/azure/azure-functions/functions-core-tools-reference?tabs=v2#func-durable-delete-task-hub

#please-close

[2021-12-10 19:08] #77667 closed

[2021-12-10 19:08] isdataninja opened #85131 "Section DP-5: Encrypt sensitive data at rest"
Section DP-5: Encrypt sensitive data at rest is out of date. Please update. Purview is now GA.

_Currently, Azure Purview doesn't support encryption at rest of its metadata with a customer-managed key. This feature is planned for when the service becomes generally available (GA)._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-12-10 19:24] rido-min commented on #85124
@danhellem can you take a look?

[2021-12-10 19:32] MonikaReddy-MSFT commented on #85120
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-10 19:48] ggailey777 commented on #84986
@damianfijorek sorry we are still catching up with the isolated process documentation in the binding references. In the meantime, the reference samples are available here: https://github.com/Azure/azure-functions-dotnet-worker/tree/main/samples/Extensions
Specifically, the Timer trigger sample is here: https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/Extensions/Timer/TimerF

[2021-12-10 20:03] SamaraSoucy-MSFT commented on #85091
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-12-10 20:03] Rashair opened #85132 ""identity" Content-Encoding"
The document states that for the file to be compressed by MS CDN, it must:

The `identity` is acceptable value in the `Accept-Encoding` header, not `Content-Encoding`.
I am not sure what this sentence was supposed to mean.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bd5a405-841f-3e49-b64a-a7f8def2f15c
* Version Ind

[2021-12-10 20:11] rmc515 opened #85133 "Clarification needed"
Hi, can this line be re-worded to make sense? I am not sure what it is requiring:

"To confirm that Enable RDP to DC backend configure netlogon logs."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 089074e7-2e51-7306-de44-da9b5da2d8df
* Version Independent ID: 2e793e48-ed94-315f-7447-06882f8108a7
* Content: [Troublesho

[2021-12-10 20:19] DrTeit opened #85135 "Setting CONTROLLER_TAG to v1.0.4 fails the nginxSemverCheck"
As you import the necessary images to ACR, the example sets CONTROLLER:TAG=V1.0.4. Including "V" in the tag creates an issue, as the nginx helm chart has a semantic version check that does not expect this. This becomes apparent in the next section when you create the ingress controller, as the CONTROLLER_TAG var is carried over.

This can be resolved by changing the first script to omit the V.

Se

[2021-12-10 20:22] SamaraSoucy-MSFT commented on #84889
I'm going to assign this to the doc author for review- looking at the git history for this doc, this section may need to be reviewed for clarity as this has been suggested more than once.

[2021-12-10 20:22] farukc commented on #82536
@JasonWHowell : Sorry for missing your ping. @csunilkumar : Can you please help as it's in HDInsight Spark troubleshooting doc ?
CC: @nicjohn79

[2021-12-10 20:32] SnehaGunda commented on #84261
@mattKorwel you would use the has filter like this: g.V().has('firstName', 'Thomas').outE()

![image](https://user-images.githubusercontent.com/14284405/145637591-238ebda1-93c7-4692-8ba5-66f6188ed089.png)

[2021-12-10 20:38] sdgilley commented on #85095
I just approved a PR to update the document earlier today.  That closes this issue.

However, @almudenaftourne  points out that the calculator won't be able to distinguish between VMs inside ML workspaces and those that are not.  That part is a functionality issue, not a doc one.  You may want to raise that issue with the Azure portal team.

[2021-12-10 20:51] lunar87 opened #85137 "contradictory information on date format"
In this page it states:
"The ${startDate} and ${endDate} parameters are required for this example, but optional for the endpoint. They specify the date range as strings in the form of YYYY-MM-DD (examples: '20180501' and '20180615')."

Can we clarify is the format 'YYYY-MM-DD' or do you follow the examples provided which are 'YYYYMMDD'?

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-12-10 20:54] JamesTran-MSFT commented on #85127
@v-josse
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-10 20:54] JamesTran-MSFT commented on #85133
@rmc515
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-10 21:20] edgardott opened #85138 "Example does not fit"
The following example was used multiple times.

_{
  "name": "examplevm",
  "type": "Microsoft.Compute/virtualMachines",
  "apiVersion": "2020-06-01",
  "properties": {
    "storageProfile": {
      "dataDisks": [
        {
          "lun": 0,
          "createOption": "Empty",
          "diskSizeGB": 1023
        },
        {
          "lun": 1,
          "createOption": "Empty",
          "diskS

[2021-12-10 21:20] MarileeTurscak-MSFT commented on #84410
Hi @GannonMa,

To add your own custom attribute, you can follow the steps to [configure the solution to work with custom attributes](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial#i-have-custom-attributes-in-workday-and-active-directory-how-do-i-configure-the-solution-to-work-with-my-custom-attributes).

You can go to "Edit attribute list for Workday" to

[2021-12-10 21:20] #84410 closed

[2021-12-10 21:26] bandersmsft commented on #85137
@lunar87 Thanks for the question. I'm investigating this with the Cost Management + Billing team. I'll reply here when I have details to share.

[2021-12-10 21:36] skeltonsc commented on #81985
Hi, sorry this reply took so long as we had to wait for the Developers to test this, and I can confirm that doing a manual build of the uAMQP solves this issue.

Thank you so much for your assistance with this. Really appreciate it

[2021-12-10 21:36] #81985 closed

[2021-12-10 21:41] danhellem commented on #85124
Will take a look on Monday

[2021-12-10 21:58] CalciumSigma opened #85141 "Incorrect case for vote.key/vote.value in Views/Home/Index.cshtml"
In the following section of the file Views/Home/Index.cshtml given:
[code]
Right where the text for the vote subject and count is displayed,
`vote.Value` should be `vote.value`
&
`vote.Key` should be `vote.key`
Otherwise the application will display with no text for either the voting subject, or the number of votes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-12-10 21:59] shahinpashayev86 commented on #39711
up

[2021-12-10 22:11] SamaraSoucy-MSFT commented on #84665
I did some checking- the dead letter delivery won't attach while the firewall is on, or if "trusted Azure services" is not selected. However, once the dead letter was setup, I could successfully receive dead letter messages in the storage account with only the resource-specific exception, not the generic "trusted services" exception. The downside of this is updating the subscription gets a bit har

[2021-12-10 22:11] #84665 closed

[2021-12-10 22:14] dkao-walvis opened #85142 "Powershell cannot create mail-enabled security group."
"$group = New-AzureADMSGroup -DisplayName "Contoso_Helpdesk_Administrators" -Description "This group is assigned to Helpdesk Administrator built-in role in Azure AD." -MailEnabled $true -SecurityEnabled $true -MailNickName "contosohelpdeskadministrators" -IsAssignableToRole $true"
This command doesn't work because cannot create mail-enabled security groups in AzureAD.
[Enter feedback here]

---
##

[2021-12-10 22:21] JohnD76 opened #85143 "Global Service Endpoints with Private Endpoint secured Storage accounts?"
Does the Global vNet Service endpoint on Storage accounts support also using Private Link?

Service endpoints normally need to access the regional dns for the storage account to egress onto the Azure Backbone, but this is thwarted by the Private DNS override for Private link on Storage accounts in the same region, which forces line of sight routing.

If vNet A in North Europe has a storage account

[2021-12-10 22:26] sdgilley commented on #85095
#please-close

[2021-12-10 22:27] #85095 closed

[2021-12-10 22:29] JamesTran-MSFT commented on #85142
@dkao-walvis
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-10 22:35] JamesTran-MSFT commented on #85142
@dkao-walvis
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/145649890-b943f2bd-7288-4a8b-9949-178311338860.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your t

[2021-12-10 22:35] #85142 closed

[2021-12-10 22:38] kobulloc-MSFT commented on #85135
@DrTeit Thank you for your feedback!  This is being reviewed and we will get back to you shortly.

[2021-12-10 22:40] kobulloc-MSFT commented on #85141
@CalciumSigma Thank you for your feedback!  We are reviewing this and will get back to you shortly.

[2021-12-10 23:05] tcc-sejohnson opened #85145 "Inaccurate Statement on Non-UI-Supported Linked Services"
[Enter feedback here]

This is not the case for Azure Functions linked services. You can add parameters to the linked service itself through the JSON editor, but it is **impossible to pass parameters from Azure Functions Activities into the linked service, even through the JSON.** I believe there's a bug internally to fix this. Essentially the Data Factory UI will automatically strip any parameter

[2021-12-10 23:20] rwike77 commented on #78055
@hanslai  We recently added an article on [integration testing](https://docs.microsoft.com/azure/active-directory/develop/test-automate-integration-testing).  Hope that helps.

[2021-12-11 00:37] stevemunk commented on #80136
@sopelt You are correct, thank you for responding with this information.

@jonasaebersold Please let me know if your issue is not resolved for any reason, I want to make sure that you have what you need.

If you prefer using Azure CLI, you can try this:

[code]

I will update the docs soon with this information. Thank you both.

[2021-12-11 03:43] AjayKumar-MSFT commented on #85106
@sandervandevelde,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-11 03:48] AjayKumar-MSFT commented on #85110
@mrobst, Thanks for taking time to bringing this to our attention! We are taking a look into this and will get back to you soon.

[2021-12-11 03:51] AjayKumar-MSFT commented on #85111
@Glaubscher, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-11 03:54] AjayKumar-MSFT commented on #85114
@fgheysels, Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-11 03:56] AjayKumar-MSFT commented on #85123
@johnsirmon, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-12-11 03:58] AjayKumar-MSFT commented on #85125
@andrew-twigg, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-12-11 04:03] AjayKumar-MSFT commented on #85126
@rosscouldrey, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you shortly.

[2021-12-11 04:04] AjayKumar-MSFT commented on #85128
@SeryioGonzalez, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-12-11 04:09] AjayKumar-MSFT commented on #85129
https://github.com/MicrosoftDocs/azure-docs/issues/85130 - duplicate. So, closing this.

[2021-12-11 04:09] #85129 closed

[2021-12-11 04:09] AjayKumar-MSFT commented on #85130
@Christian-e-S,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-12-11 04:12] AjayKumar-MSFT commented on #85131
@isdataninja, Thanks for bringing this to our attention! We are taking a look into this and will get back to you soon.

[2021-12-11 04:14] AjayKumar-MSFT commented on #85132
@Rashair, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-11 04:17] AjayKumar-MSFT commented on #85138
@edgardott,  Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-11 04:19] lissff opened #85149 "document outdated"
[Enter feedback here]
 several places that might need to updated with our new feature release, e.g.
Tunnel port: 1194 and 9000 is no longer required for AKS with konnectivity-agent enabled

*.hcp.*location*.azmk8s.io is not required for private AKS

*:123 or ntp.ubuntu.com:123 is not required for node provisioned after March, 2021

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-12-11 04:21] AjayKumar-MSFT commented on #85145
@tcc-sejohnson, Thanks for the feedback! We are currently investigating and will update you shortly. Apologies for any inconvenience.

[2021-12-11 04:22] AjayKumar-MSFT commented on #85143
@JohnD76, Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-12-11 04:24] AjayKumar-MSFT commented on #85149
@lissff, Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-11 04:53] blessedwithsins commented on #85107
@SrijitBose-MSFT Can we add this in main doc rather than FAQ?

[2021-12-11 05:01] Damag3d commented on #84428
But documentation about Key vault linked server applied to any connector, not just about SQL Connector, right? And in case of ODATA it does not work as documented.

[2021-12-11 05:28] mattKorwel commented on #84261
hi @SnehaGunda, yes i can use the oute step, but that's not what the docs say the behavior is. if that is not the behavior, the outV being stored on the document, the docs should change.

as an end user, being able to get the vertex is cheaper and quicker than the vertex and out steps.

[2021-12-11 06:35] lakshmikanthKGit commented on #84840
@amanmcse : what is the meaning of third setting ( only with specific admin)

[2021-12-11 09:25] jesperkristensen opened #85150 "MOZILLA_PKIX_ERROR_OCSP_RESPONSE_FOR_CERT_MISSING"
I cannot access https://docs.microsoft.com/. I get the error message MOZILLA_PKIX_ERROR_OCSP_RESPONSE_FOR_CERT_MISSING. I use Firefox 95 on Windows 11.

[2021-12-11 09:37] AjayKumar-MSFT commented on #85150
@jesperkristensen,   Thanks for leveraging Azure docs feedback channel to raise this question.
-This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

I'm able to access the docs website on both Firefox and Chrome fine. It's appears to be your system/local browser issues.
![image](https://user-images.githubusercontent.com/44606227/1456717

[2021-12-11 09:56] jesperkristensen commented on #85150
works again now

[2021-12-11 09:56] #85150 closed

[2021-12-11 10:57] BhargaviAnnadevara-MSFT commented on #85114
@fgheysels Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-11 11:27] BhargaviAnnadevara-MSFT commented on #84514
@Catastrophe1 Thanks for the feedback. This tutorial currently works for the latest 3.x version of [Microsoft.Azure.WebJobs.Extensions.Storage](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage) NuGet package, which is version `3.0.11`.

The request to update the sample to work with version 5+ is being tracked here: https://github.com/MicrosoftDocs/azure-docs/issues/84751.

[2021-12-11 14:54] swaram92 commented on #13515
Hello, I have also come up on a dead end .  Need to fail on a bad return code from Databricks notebook, however invoked from Airflow. Any help is greatly appreciated

[2021-12-11 15:26] xrousseau opened #85152 "Clarifying Application Manifest identifierUris example"
Hello,

The overall doc was overall really helpful.

However, the example for the app configuration ```"identifierUris":"https://tenant-name.onmicrosoft.com"``` is misleading. I lost a lot of time figuring it out. After carefully reading the description, I finally figured it out but I believe it would be cleared to adjust it to ```"identifierUris":"https://tenant-name.onmicrosoft.com/SAMLApp1"```

[2021-12-11 16:03] hyecheol123 commented on #10286
Is there any update regarding this issue?

[2021-12-11 16:03] pettermoe95 commented on #84400
It would be interesting to hear your point of view on the best way to handle these two situations with the built in Authentication in App Service. Is it even possible, or do I have to write the authentication myself in the backend to do this?

[2021-12-11 18:40] laujan commented on #84935
Hi @tjprescott,

We've updated the article and refactored the code samples. Please try the C# SDK quickstart again: <a href="https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/quickstarts/try-v3-csharp-sdk">Quickstart: Form Recognizer C# SDK v3.0 - Azure Applied AI Services | Microsoft Docs</a>. Your feedback is welcome.

Thank you!

cc: @RohitMungi-MSFT

[2021-12-11 18:50] RyanHill-MSFT commented on #85152
Thanks for the feedback [@xrousseau](https://github.com/xrousseau)! We are currently investigating and will update you shortly.

[2021-12-11 21:06] DrTeit commented on #85135
Thanks! Also, @kobulloc-MSFT if you could also clarify why it's necessary to import these images into ACR instead of helm-deploying them directly from their sources, that would also be helpful.

[2021-12-12 04:33] justinmchase opened #85153 "Please show how to do these steps via cli not just clicking around in the portal"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
* Version Independent ID: d97885ea-b051-5fde-bd14-ec977e34760e
* Content: [Tutorial: Configure HTTPS on an Azure CDN custom domain](https://docs.microsoft.com/en-us/azure/cdn/cdn-custom-ssl?tabs=option-2-enable-https-with-your-own-certif

[2021-12-12 07:47] #84341 closed

[2021-12-12 08:21] SubhashVasarapu-MSFT commented on #85153
@justinmchase, Thanks for reaching out. We will investigate and update this thread.

[2021-12-12 09:39] batamig commented on #85008
Hi @CalvinRodo - thanks for writing into docs! Indeed, we have something for this in our coming backlog. I'm tagging our program manager @nayef-yassin on this issue to share awareness and visibility.
We'll look forward to adding more details and samples like this in a coming publish.

I'm going to close this issue for now as we're tracking the request internally, but feel free to add more comments

[2021-12-12 09:39] #85008 closed

[2021-12-12 11:56] thomasgud opened #85155 "Possible small error with a sentence in the article"
[Enter feedback here]
Is there something funky with the second sentence in this article? (When you link a virtual network with a private DNS zone with this setting enabled). It starts with WHEN, so I expect a [X happens] ....
Perhaps it just about removing the period, or changing it to a comma???

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-12-12 13:08] AjayKumar-MSFT commented on #85155
@thomasgud, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-12-12 14:34] abdisa opened #85157 "Afaan Oromo"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1648784c-c385-4120-a2a6-3414a0d752e1
* Version Independent ID: 1f90c698-a146-3345-40dd-eb5dabe56cf3
* Content: [Translator Translate Method - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0

[2021-12-12 14:47] RyanHill-MSFT commented on #85157
Hi [@abdisa](https://github.com/abdisa), your issue doesn't contain any feedback. Can you please update with what your issue is?

[2021-12-12 14:55] abdisa commented on #85157
Our Language is empty on Microsoft products and i'm trying out to
translate.

Please if you can help me how i can contribute..

On Sun, Dec 12, 2021 at 5:47 PM Ryan Hill ***@***.***> wrote:

--

*Dhimma keenyaaf teennee nama biraa eeguun salphina!*

--

Nagaa Wajjiin | *Kind Regards*

*Abdisa Bencha Jara*

*IT Specialist[ICT Trainer/Consultant, Web&App Design, Software
development, Digital marketi

[2021-12-12 18:17] DavidTrigano commented on #84354
@GeethaThatipatri-MSFT you can go ahead and close this ticket

[2021-12-12 21:46] bczudek opened #85158 "CI/CD scanning tool - Aqua Trivy - license question"
Hi,
The website: "Identify vulnerable container images in your CI/CD workflows" points out that Aqua Trivy is used for CI/CD scannig

_"The findings of the CI/CD scans are an enrichment to the existing registry scan findings by Qualys. Defender for Cloud's CI/CD scanning is powered by Aqua Trivy."_

Problem statement: As far as I know there is an unclear licensing issue with Auqa Trivy - although

[2021-12-12 21:56] jmeijrink opened #85159 "Header x-ms-client-session-id mentioned in this document in UPPER-CASE is actually lower-case"
The mentioned header x-ms-client-session-id is added in lower case, while in the documentation it is mentioned in uppercase. This probably is true for the other headers as well. Would be good to change it, I lost a few hours on it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c7d2cdb-23c1-0b1a-ff5d-cc0e5687c98d
* Ve

[2021-12-12 22:01] jmeijrink commented on #85159
Mixed up PRINCIPEL-ID and other MS id's that were present in the run/test mode.

[2021-12-12 22:01] #85159 closed

[2021-12-12 23:15] webpwnized opened #85160 "Cannot login to a server to fix a broken login"
To fix a broken login, the page suggests logging into the broken VM. Think about it for a second.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69db0238-ad2d-43b9-52db-2f2fad0ea380
* Version Independent ID: 6f355823-2d16-5085-0fbc-294d20597223
* Content: [Detailed steps to create an SSH key pair - Azure Virtual Machin

[2021-12-12 23:40] vafzamora opened #85161 "Stopping a cluster do not change the ProvisionState property"
When using AzurePowershell to stop a cluster, there is no way to check if the cluster is already stopped since the ProvisionState do not change its value to Stopped as stated in the sample. Also the power state isn't exposed by any property of the cluster object.

Trying to stop an already stopped cluster will cause the following error:

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-12-13 00:28] nickkounz opened #85162 "tunnelblick configuration for Mac OS step 4 is wrong"
Documentation: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-openvpn-clients#mac
In step 4, if you are following the documentation to take the content of the certificate and base64 encode it. it doesn't work.

Solution:
Just simply copy the file with the certificate header and replace the variable between <cert></cert> and <key></key>

[2021-12-13 00:36] #85162 closed

[2021-12-13 00:37] nickkounz opened #85163 "Azure VPN tunnelblick Mac configuration is incorrect"
Documentation: https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-howto-openvpn-clients#mac

In step 4, if you are following the documentation to take the content of the certificate and base64 encode it. it doesn't work.

Solution:
Just simply copy the file with the certificate header and replace the variable between <cert></cert> and <key></key>

---
#### Document Details

⚠ *Do not e

[2021-12-13 00:42] kobulloc-MSFT commented on #84341
@jasonzio Thank you for submitting feedback!  The grammar pass has been merged and should go live shortly.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-12-13 00:44] kobulloc-MSFT commented on #85135
Adding @Karishma-Tiwari-MSFT.

[2021-12-13 01:09] stephentsumner opened #85164 "Figure: Azure Private Link Service."
In the Figure: Azure Private Link Service should the IP address for the private end point be 10.0.1.5 since it’s in subnet 10.0.1.0/24?

Thank you for the great page!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb4b8145-27ae-8817-6d85-969aa85e601d
* Version Independent ID: 00f897cd-5c20-cb3b-9c17-5f75eddd1715
* Cont

[2021-12-13 01:50] damochiz opened #85166 "a misprint in "Deploy the model" section"
[Enter feedback here]
In the Deploy the model section, the model must be deployed to **Azure Container Instance**, but **Azure Compute Instance** is listed. Azure Compute Instance is not actually available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3a75743-c81f-f011-beac-b7388cb271d4
* Version Independent ID: 72b

[2021-12-13 03:29] RyanHill-MSFT commented on #85158
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-13 03:44] SrijitBose-MSFT commented on #85118
@devsheoran is there any update on this?

[2021-12-13 03:50] SumanthMarigowda commented on #84997
@soelchma,Cloud Shell storage with the tag ms-resource-usage = 'azure-cloud-shell' is excluded. Azure storage firewall is not supported for Cloud Shell storage accounts.

Already it's mentioned here: https://azure.github.io/PSRule.Rules.Azure/en/rules/Azure.Storage.Firewall/

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply

[2021-12-13 03:50] #84997 closed

[2021-12-13 03:51] festivus opened #85167 "Service Fabric ports for the Portal"
The "Allowing the Service Fabric resource provider to query your cluster" section does not seem to be accurate. It does not appear that allowing 19080 for INBOUND matters at all. It seems all that is needed for the Portal to display information about the cluster is to have an Outbound rule on the public load balancer (or have an inbound rule to any port and set the outbound SNAT to implicit). And

[2021-12-13 03:56] AnuragSharma-MSFT commented on #84938
@MladjoA @scoriani Thanks for providing the details.

@bengavin Thank you for the details mentioned in the reply. Please let us know if any other details needed on the same.

[2021-12-13 04:05] RyanHill-MSFT commented on #85160
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-13 04:12] wilson-mar opened #85168 "Alternative to hard-coding password in code"
Can you please not suggest hard-coding passwords in the code?
At the least use an external variable.

[code]
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53362ade-89a6-97fb-4fdf-2ee723954ac4
* Version Independent ID: 6a0cf549-8ec7-722f-218b-b4267f2d7a8d
* Content: [Quickstart: Use Azure Cache fo

[2021-12-13 04:18] AshokPeddakotla-MSFT commented on #85034
@kate66666 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-12-13 04:18] #85034 closed

[2021-12-13 04:22] CHEEKATLAPRADEEP-MSFT commented on #84868
@domingo-gomes-northern  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-13 04:22] #84868 closed

[2021-12-13 04:23] CHEEKATLAPRADEEP-MSFT commented on #85067
@minnieshi  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-13 04:23] #85067 closed

[2021-12-13 04:25] ram-msft commented on #84994
Thanks, Raised Pull request #https://github.com/MicrosoftDocs/azure-docs-pr/pull/182632 to remove the space after the $ in order for the snippet to run.

[2021-12-13 04:39] AnuragSharma-MSFT commented on #85168
@wilson-mar Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-12-13 04:51] AshokPeddakotla-MSFT commented on #85130
@Christian-e-S We are targeting GA for 1st half of CY2022. Please follow [Azure updates](https://azure.microsoft.com/en-in/updates/?category=iot) for more information.

Let us know if you have any further queries.

[2021-12-13 04:52] AshokPeddakotla-MSFT commented on #85130
.

[2021-12-13 04:56] RohitMungi-MSFT commented on #85157
@abdisa The supported languages for translation are listed [here](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/language-support). If the language you are using is not part of this list is not listed, then please let us know the language name that you would like to be added and we will pass this feedback to our product team. Thanks!!

[2021-12-13 05:03] #85035 closed

[2021-12-13 05:03] ingridxinzhuo163 opened #85170 "Statement about the sandbox limitation for port"
As explained here: https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#network-endpoint-listening
The only way an application can be accessed via the internet is through the already-exposed HTTP (80) and HTTPS (443) TCP ports. It will be better if we could have this limitation stated in official document as well.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-12-13 05:12] AjayKumar-MSFT commented on #85064
kollimouni30, absolutely, no worries. If the issue is not related to Azure docs/ for technical questions, you may just re-post your question on the relevant technical forums, our SMEs/expert community would be able to help.

[Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/index.html) | [Stackoverflow ](https://stackoverflow.com/questions/tagged/azure)

Since it's not doc specific feedbac

[2021-12-13 05:12] #85064 closed

[2021-12-13 05:27] #84842 closed

[2021-12-13 05:27] VikasPullagura-MSFT commented on #85052
@verboompj The document is updated, and the changes will go live soon.

[2021-12-13 05:27] #85052 closed

[2021-12-13 05:33] StaceyWA opened #85171 "[VPN&ER] Document Information Confirmation] Configure ExpressRoute and Site-to-Site coexisting connections using PowerShell"
We have deployed several ExpressRoute and VPN Gateway coexistence production environment. We have already set up VPN GW ASN with non-65515 in the coexistence environment. And everything works well. VPN GW instances can set up BGP connections with ER instances successfully. It runs long time and no issue reported. But from this document, "The ASN of Azure VPN Gateway must be set to 65515". May I kn

[2021-12-13 05:34] ram-msft commented on #85166
@damochiz Thanks for the feedback! We will review and update accordingly.

[2021-12-13 05:43] VikasPullagura-MSFT commented on #85043
@cpinotossi
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-13 05:43] VikasPullagura-MSFT commented on #85043
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2021-12-13 06:06] VikasPullagura-MSFT commented on #85167
@festivus
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-13 06:06] VikasPullagura-MSFT commented on #85167
@sukanyamsft
Can you please check and add your comments on this doc update request as applicable.

[2021-12-13 06:12] SrijitBose-MSFT commented on #85161
@vafzamora , thank you for your feedback. This issue is already open at #83563. We shall request you to add your comments to the same.

[2021-12-13 06:12] SrijitBose-MSFT commented on #85161
#please-close

[2021-12-13 06:13] #85161 closed

[2021-12-13 06:23] maulik-modi commented on #83675
@SrijitBose-MSFT , 1 month has gone by, can we have an update before X'mas.

[2021-12-13 06:23] Jagath4u opened #85173 "Migrating for Multiple databases to Managed Instance using Azure data studio with DMS"
Hi Team, if we want to migrate more than one database in an attempt, in what format the backups of databases must be placed in the storage account\container?
I tried to place backups(FULL and Tlog for 2 databases) inside the container, but i could see the database migration unsuccessful. The database shows in restoring mode that's all and nothing progressing from that state. I have tried to keep t

[2021-12-13 06:28] mokabiru commented on #85173
Hi @Jagath4u , migrations using Azure Data Studio supports multiple database migrations with each blob container containing only a single database migration. If you are migrating multiple databases simultaneously, please place the backups for each database in a separate container and provide the container name separately for each database in Azure Data Studio.

Hope that helps.

Thanks,
Mohamed Ka

[2021-12-13 06:28] AjayKumar-MSFT commented on #85078
quanster, we have 3 sections which outlines the comparison for Linux/Windows OS.
 'Enable application logging (Linux/Container)', 'Supported log types' and '**Overview**' - 'Platform' - unless otherwise mentioned some of the config are not supported on Linux. see this [doc](https://docs.microsoft.com/azure/app-service/configure-common) and [FAQ](https://docs.microsoft.com/azure/app-service/faq-app

[2021-12-13 06:46] SaiKishor-MSFT commented on #85164
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-13 06:47] SaiKishor-MSFT commented on #85163
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2021-12-13 06:48] mmacy commented on #83045
@RayGHeld Thanks for calling this out! Update with fixes is here:

https://github.com/MicrosoftDocs/azure-docs-pr/pull/182636

Should be live shortly after the AM publish tomorrow (at the _latest_).

#please-close

[2021-12-13 06:50] joshivinod commented on #84858
@GiftA-MSFT - any inputs for us?

[2021-12-13 06:53] mmacy commented on #83045
#please-close

[2021-12-13 07:03] SaiKishor-MSFT commented on #85164
@sumeetmittal Can you please look into correcting this Diagram?

[2021-12-13 07:09] AjayKumar-MSFT commented on #84993
Oddleif,  As I understand, you’re looking to use Easy Auth to test the authorization locally without deploying to App Service and [customization](https://docs.microsoft.com/azure/app-service/configure-authentication-customize-sign-in-out) (sign-in and sign-out/ multiple sign-in providers/Client-directed sign-in]

[This blog](https://weblogs.asp.net/pglavich/easy-auth-app-service-authentication-usi

[2021-12-13 07:18] SaiKishor-MSFT commented on #85171
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-13 07:22] Jagath4u commented on #85173
Hi Mohamed,
I have restarted the migration as per your advise but i see the migration started for first database and this is in 50% all time and doesnt show any much progress, I also dont find any progress from Azure data studio even. Can you advise where can we see the progress of migration like logs etc?
![SQLMI-Migration](https://user-images.githubusercontent.com/39786681/145769107-bd1ab602-6a5

[2021-12-13 07:23] koder101 opened #85174 "API call timeout after fresh Ubuntu VM start"
In the [VM certification test tool](https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-image-test), the very 1st time ( _after deployment or shutdown-start cycle_ ) with Azure Ubuntu VM, the API call to `https://isvapp.azurewebsites.net/selftest-vm` always gets timed out with 500 error.
The result is the same for PostMan or PowerShell's Invoke-RestMethod. It times out after 3 min 52 secon

[2021-12-13 07:45] SrijitBose-MSFT commented on #84769
@yuriwoof , is there any update on this?

[2021-12-13 07:52] Bartolomeus-649 opened #85175 "Azure Technical Level 0"
There is n documentation for "Azure Technical Level 0" which is used here: https://devicecatalog.azure.com/
That page also links for explanation of "Azure Technical Level" to this page.

Decide on the which term to use, and then stick to it everywhere. How someone can call/name something "Azure Technical Level" and then at the same time (at the exact same text and place in the page) link to a page

[2021-12-13 07:55] jakobmladekaer opened #85176 "Example of pulling from ACR"
Hi
I am in need of an example on how to deploy a containerApp with permission to pull the image from ACR.
I can only find documentation on pulling from a public image repo.
Thanks
Jakob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0258327-664a-28db-b9fc-03a6a115b80e
* Version Independent ID: d471e1b1-27c1-4aad-6eed-

[2021-12-13 07:56] tommysella opened #85177 "Get-AzPublicIpAddress is missing -Name parameter"
Hi Microsoft!

Just noticed that the info regards on how to get the Public Ip is missing the -Name parameter for the Get-AzPublicIpAddress command.

Best regards,
Tommy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3757d33c-7b1e-c2ac-fdd7-d549832f1122
* Version Independent ID: 095e05e5-5d12-9914-0fe8-8e801779a666
* Co

[2021-12-13 08:01] AnuragSingh-MSFT commented on #85123
Hi @johnsirmon, the [supported versions](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/sql-insights-overview#supported-versions) for **SQL Insights** include both of the following scenarios:

1. SQL Server on Azure Virtual Machines (SQL Server running on virtual machines registered with the SQL virtual machine provider)
2. Azure VMs (SQL Server running on virtual machines not regis

[2021-12-13 08:03] AnuragSingh-MSFT commented on #85123
.

[2021-12-13 08:06] kottoz commented on #84643
I'm facing the same problem, i'm doing a little investigation and i will post results.
i have followed these [instructions](https://dev.to/azure/azure-iot-edge-on-raspberry-pi-buster-plus-tips-for-raspberry-pi-4-22nn) and Moby installed properly, but with IOT edge 1.1. What i'm trying to do is installing the recent official bullseye from Raspberry Pi and set up IOT edge on it.

[2021-12-13 08:06] RohitMungi-MSFT commented on #85128
@PatrickFarley Could you please review the above feedback and update as required. I believe this guidance can be added in the [Configure operations](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/spatial-analysis-container?tabs=azure-stack-edge#configure-the-operations-performed-by-spatial-analysis) section of setting up the container page.

@SeryioGonzalez Thanks for th

[2021-12-13 08:28] VikasPullagura-MSFT commented on #85149
@lissff
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-13 08:28] VikasPullagura-MSFT commented on #85149
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2021-12-13 08:32] noakup commented on #79089
Hi, you're right it's confusing and also a bit old so I'm removing that note.
The meaning was this - prior to that date, workspaces that were set (in their Network Isolation page) to block queries from public networks, were in fact only blocking them if there was an AMPLS linked to that workspace. In other words, if there was a private link connection in place, we indeed blocked public traffic. Ot

[2021-12-13 08:37] noakup commented on #81999
Hi @jun110-ms , sorry for the late response. Can you explain what you mean by "elemetry transfers from Workspace-based Application Insights resources to Log Analytics workspaces"? What telemetry exactly? and did you mean transferring it to another workspace, or to the workspace that App Insights resource is linked to?

[2021-12-13 09:09] y10e commented on #84107
I faced the same issue. I think that this is crical document bugs. I hope that this fix will be applied soon.

[2021-12-13 09:15] thepaulmacca opened #85178 "ARM/Bicep Documentation"
Is there going to be documentation on how to configure this using ARM/Bicep?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d674084-1d8f-b845-9781-d3a144ecfe9b
* Version Independent ID: b4b5514f-1b86-5851-5e2f-ef3b592b9600
* Content: [Tutorial: Use GitOps with Flux v2 in Azure Arc-enabled Kubernetes or Azure Kubernete

[2021-12-13 09:17] SrijitBose-MSFT commented on #85083
@deangarcia , is there any further query on this?

[2021-12-13 09:21] y10e opened #85179 "Chaos Mesh version 2.1.x is not working correctly on Azure Chaos Studio"
[Issue]
Chaos Mesh released version 2.1.0 on 2021/11/30.
https://github.com/chaos-mesh/chaos-mesh/releases

I installed Chaos Mesh 2.1.0 and 2.1.1 on AKS and try to run my experience. But the both version was not working correctly.

[code]

I got the following error. But Chaos Mesh's chaos-controller-manager pod  seems run correcly from kubelet result.

[code]

[code]

[Workarround]
I uninstalled

[2021-12-13 09:23] SubhashVasarapu-MSFT commented on #85177
@tommysella, Appreciate your feedback. The doc has been updated accordingly. It would take some time for the changes to be reflected in the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-12-13 09:23] #85177 closed

[2021-12-13 09:25] AnuragSingh-MSFT commented on #85138
@edgardott, thank you pointing this out. I have edited the doc and submitted a PR regarding it. It is under review and will be published once approved.

[2021-12-13 09:25] #85138 closed

[2021-12-13 09:54] sopelt commented on #81945
@ChaitanyaNaykodi-MSFT ... could you please comment/gather feedback on using Azure Firewall as the DNS forwarder as that would avoid maintaining VMs for that purpose (SaaS all (most of) the things! :-) ).
The approach seems to have been documented by someone at Microsoft at https://github.com/adstuart/azure-privatelink-dns-azurefirewall but we have not evaluated the feasibility yet.

Thanks.

[2021-12-13 09:54] #83045 closed

[2021-12-13 10:15] BakkerJan commented on #40808
@MicrosoftGuyJFlo I've got similar questions about licensing. Is it possible to add some clear license statements around FIDO2 and TAP?

Let's assume you have Security Defaults enabled, and no P1 license, can you still use passwordless like FIDO2, and use TAP for onboarding?

[2021-12-13 10:15] PramodValavala-MSFT commented on #85110
@mrobst Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2021-12-13 10:39] Karishma-Tiwari-MSFT commented on #84951
Apologies, in that case, it is recommended to use Pay as you go Subscription type.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-12-13 10:39] #84951 closed

[2021-12-13 10:50] celinelesner opened #85180 "HOW TO GET YOUR EX LOVER BACK"
BEST WAYS TO GET YOUR EX LOVER BACK AND RESTORED YOUR BROKEN MARRIAGE OR RELATIONSHIP FROM SORROW TO HAPPINESS.

Help me thank Dr Omokpo for helping me get my ex husband back to me and my family. This great powerful spiritual man restored my sorrow to happiness. My husband left me some years ago for another woman and they both planned to get married. I am so surprised he just came back to me one c

[2021-12-13 10:59] bppn opened #85181 "Azure Managed Application - resources in the managed resource group cannot get write access to blob storage due to deny assignments"
Regarding this documentation:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/overview

We designed a managed application containing some azure app services.  The managed application also contains some custom resource providers.

It is the intention that using a resource provider, the customer can upload files to the blob storage.  The app service should return a

[2021-12-13 11:00] Karishma-Tiwari-MSFT commented on #85100
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-13 11:08] koder101 opened #85182 "Many VM certification tests aren't automated."
In the [VM certification test tool](https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-image-test), there are many tests that come under the Assessment tab which are still manual to be answered. And selecting even a single as 'False', it says that the whole certification will fail.
What's the point to having a VM certification tool where nearly 70% of tests aren't automated.

**General As

[2021-12-13 11:11] Karishma-Tiwari-MSFT commented on #84863
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-13 11:12] Karishma-Tiwari-MSFT commented on #84881
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-13 11:40] spaelling commented on #34672
ping

[2021-12-13 11:43] marcelkmfst opened #85183 "Number of Source Control integrations supported"
Hi,

I didn´t find any information about the number of source controls which can be integrated for a a single automation account. Can this be added please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83c90e64-b615-711f-a53d-fc76606e2ecd
* Version Independent ID: 2d164036-6886-4440-50f7-369f99f41cea
* Content: [Use s

[2021-12-13 11:46] shashishailaj commented on #85180
Closing the thread as spam .

[2021-12-13 11:46] #85180 closed

[2021-12-13 11:50] #85110 closed

[2021-12-13 12:22] jenspettersson commented on #32472
But it's really annoying to see "Failed requests" on your dashboard that we're monitoring to find potential issues:
![image](https://user-images.githubusercontent.com/125493/145811461-abdd54bb-7446-4cbe-8e05-dc86070076b5.png)

[2021-12-13 12:22] briancovingtonhsv commented on #84881
@Karishma-Tiwari-MSFT Is there some way I can get the correct template (or URL to a template) that I should be calling?  We have a product release in 2022 Q2 which would need to be certified on Windows 11 and this is a huge hurdle in accomplishing that.  Thanks, Brian

[2021-12-13 12:26] IanKemp opened #85184 "Clarification of need to explicitly specify task hub name when hosting multiple durable functions in Azure"
Document states:

Later however there is a note:

If you have **multiple 2.x function apps deployed in Azure and using the same storage account**, is it or is it not necessary to explicitly specify a task hub name in each function's `host.json`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bda2389-aeb2-b28f-a646-082

[2021-12-13 12:26] SnehaAgrawal-MSFT commented on #85170
@ingridxinzhuo163 Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-13 12:43] Scherlac commented on #84692
Hi @macolso, is there any update on the `Missing information on scope while using templates.` topic?

[2021-12-13 12:46] barco-ramsi commented on #42615
Thanks @v-gpettibone, it's good now.

[2021-12-13 12:55] Christian-e-S commented on #85130
Thank you very much for letting us know!

Best Regards,
C

[2021-12-13 13:02] neallee2012 opened #85185 "Got OCSP error when opening https://docs.microsoft.com by using Firefox 95.0"
# Issue statement

As title, when visiting any page at https://docs.microsoft.com by using Firefox, it will show
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c075d54-1d74-18f5-4fe1-efb8d4a2e114
* Version Independent ID: e5c52c87-5f62-63ca-1331-ab3128806d97
* Content: [What is application management? - Azure A

[2021-12-13 14:09] tfitzmac commented on #85119
@rytranwork  - thanks for this feedback. I have submitted an update to indicate that XBOX can't be used at the start of a resource name. The update should get published later today.
#please-close

[2021-12-13 14:11] Karishma-Tiwari-MSFT commented on #85141
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2021-12-13 14:11] #85141 closed

[2021-12-13 14:37] deangarcia commented on #85083
Yea just not really sure what to ask I have all my containers in a registry
and independently they all run but I can’t get them to work together in a
swarm

On Mon, Dec 13, 2021 at 1:17 AM Srijit Bose ***@***.***>
wrote:

--
*Very Respectfully *
*Dean Garcia*
Phone: *951 768 2194*

[2021-12-13 14:45] HaiyeWang0717 opened #85186 "The powershell can not create new group."
the powershell can not create new group.
command:
$group = New-AzureADMSGroup -DisplayName "Contoso_Helpdesk_Administrators" -Description "This group is assigned to Helpdesk Administrator built-in role in Azure AD." -MailEnabled $true -SecurityEnabled $true -MailNickName "contosohelpdeskadministrators" -IsAssignableToRole $true

error message:
New-AzureADGroup : Error occurred while executing NewG

[2021-12-13 14:55] alejandrovilchesbabbel commented on #38625
Dear @shelly-goel same situation over here: we have an SSO app that is expecting to see "/group = my_app_group_name"_ in the SAML token but Azure (with no on-premise AD) only allows me to send the cryptic unfriendly **Group object Id** which is not comfortable to work with. Have you managed to find a solution that doesn't imply querying the Microsoft Graph API or having to "map" the group id with

[2021-12-13 15:12] Heloiseboanerges opened #85187 "Survey unavailable!"
Hi, the survey link works but the survey is unavailable.... :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc94224c-a581-0739-7178-91aeb4a414a3
* Version Independent ID: 2a3145ec-bdde-c739-a454-49c238a76965
* Content: [Azure Firewall Standard features](https://docs.microsoft.com/en-us/azure/firewall/features)
* Cont

[2021-12-13 15:23] KrishnaG-MSFT commented on #85174
@koder101 Thanks for your comment! We will review and provide an update as appropriate.

[2021-12-13 15:26] kay07949 commented on #49166
is this supported yet? I want to elevate privileges for a service principal I am using in Azure DevOps.

[2021-12-13 15:26] KrishnaG-MSFT commented on #85178
@thepaulmacca Thanks for your comment! We will review and provide an update as appropriate.
@csand-msft Please review this issue and provide your insights on this document request or idea.

[2021-12-13 15:29] alisonOCT commented on #83750
@v-hagamp

Yes, I submitted on Thursday, 12/9.

[2021-12-13 15:42] Oddleif commented on #84993
Thanks. Looks like that blog post you referred to is what I was looking for. Would be great if that information was also available or linked to from the authentication and authorization article.

[2021-12-13 15:42] #84993 closed

[2021-12-13 15:45] JamesTran-MSFT commented on #85186
@HaiyeWang0717
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-13 15:53] saachigopal commented on #84858
We now support docker build context through the v2 CLI https://docs.microsoft.com/azure/machine-learning/how-to-manage-environments-v2

[2021-12-13 15:55] shashishailaj commented on #85185
@neallee2012 Thank you for sharing this information with us . We have created an internal ticket on this and are working on the same. We will update the thread once we have more information .

[2021-12-13 15:56] RyanHill-MSFT commented on #85176
Hi [@jakobmladekaer](https://github.com/jakobmladekaer), just to clarify; are you asking how to use `az containerapp create` with a ACR that's integrated with a VNET?

[2021-12-13 16:12] shashishailaj commented on #85185
@neallee2012 There is an option within Firefox which makes OCSP check mandatory and unchecking the same and restarting firefox helped. I am now able to access the same and I do not get an error.

Please go to **Settings** > **Privacy & Security** > **Certificates** > Uncheck the option **Query OCSP responder servers to confirm the current validity of certificates**

<img width="686" alt="image" sr

[2021-12-13 16:15] MonikaReddy-MSFT commented on #85181
@bppn - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-13 16:17] MonikaReddy-MSFT commented on #84923
@halabap - I have reached out to Product team and I will get back to you as soon as I hear back from them.

[2021-12-13 16:20] MonikaReddy-MSFT commented on #84793
@glennlafollette - As mentioned earlier, I have reached out to PG on this, and they have confirmed that they are working on fixing these issues and getting the docs updated and should be live by end of January 2022.

we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen

[2021-12-13 16:20] #84793 closed

[2021-12-13 16:25] halabap commented on #84923
@MonikaReddy-MSFT Thanks a lot, let me know if there are any troubles reproducing the issue.

[2021-12-13 16:26] GitaraniSharma-MSFT commented on #84291
@AIGARSJ , I'm following up on my above comment. Could you please update if you were able to try the recommended solution and what is the outcome?

[2021-12-13 16:26] Roblarson opened #85190 "Resource provider Microsoft.Insights should be lower case as microsoft.insights"
Microsoft.Insights provider does not follow capitalization norms and is available as lower case microsoft.insights. Programmatically if you attempt to use the non-lowercase form you will get an error in registration. Please update all of the documentation to indicate that it needs to be lowercase or fix the issue with requiring lowercase.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-12-13 16:26] MonikaReddy-MSFT commented on #84954
@msjees - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-13 16:26] #84954 closed

[2021-12-13 16:29] MonikaReddy-MSFT commented on #85006
@v-reroed - As mentioned earlier, I have reached out to PG on this, and they have confirmed that they are working on fixing these issues and getting the docs updated and should be live by end of January 2022.

we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the iss

[2021-12-13 16:29] #85006 closed

[2021-12-13 16:39] SatishBoddu-MSFT commented on #85175
Hello @Bartolomeus-649
I have assigned the issue to the content author for further review.

[2021-12-13 16:40] rouke-broersma opened #85192 "Bicep scenario private endpoint approval documentation not correct for aks"
In my experience you **can** approve a private endpoint connection using Bicep in the case of AKS. We have recently used this to approve a private endpoint connection for aks private cluster with the following template:

[code]

I have not tested if this works for other private endpoint resources. There actually doesn't even seem to be any other way to approve a private endpoint connection to AKS

[2021-12-13 16:44] whhender commented on #85131
@isdataninja - Thank you! We are updating this now.

[2021-12-13 16:48] MonikaReddy-MSFT commented on #85119
@tfitzmac  - Thank you for providing your insights and raising the PR.
@rytranwork - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-13 16:48] #85119 closed

[2021-12-13 17:07] MonikaReddy-MSFT commented on #85190
@Roblarson - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-13 17:07] #85190 closed

[2021-12-13 17:16] JamesTran-MSFT commented on #85186
@HaiyeWang0717
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.
![image](https://user-images.githubusercontent.com/36619112/145855403-5518c113-4313-40ee-b2a0-ec5e50db74db.png)
Similar Issue - https://github.com/MicrosoftDocs/azure-docs/issues/85142

I will now close out this issue. Please allow some tim

[2021-12-13 17:16] #85186 closed

[2021-12-13 17:17] joselitz123 opened #85193 "Resource expression/function is unknown in KQL via Log Analytics"
The resource expression/function is not detected in log analytics and unable to use it in my KQL query. Not sure if this was already decommissioned or I forgot to read any documentation on how to properly use this function but at least the workspace() and app() are working.

![image](https://user-images.githubusercontent.com/22771115/145857991-c4627d92-0908-4028-962c-744d610db736.png)

---
#### Do

[2021-12-13 17:19] SatishBoddu-MSFT commented on #85179
Hello @y10e
I have assigned the issue to the content author for further review.

[2021-12-13 17:21] rangler2 opened #85194 "Possibly incorrect availability SLA information for SQL Managed Instance - Business Critical tier"
Hi,

On this page - https://docs.microsoft.com/en-us/azure/azure-sql/database/service-tiers-general-purpose-business-critical

I believe this part of the page is incorrect - in the row about SQL Managed Instance, the column "Business Critical" says :

"99.99%
99.995% with zone redundant single database"

![image](https://user-images.githubusercontent.com/392524/145857863-6fe2a6a9-ebfe-4688-a1db-1b

[2021-12-13 17:24] SatishBoddu-MSFT commented on #85182
Hello [@koder101](https://github.com/koder101) 
I have assigned the issue to the content author for further review.

[2021-12-13 17:30] bernaljo opened #85195 "Excel Size Limitations"
Hello,
Please add information regarding size limitations for Excel. I understand some of the workarounds cannot be published but a warning regarding size would be helpful. I have also seen this issue occur at files >39MB, related to Azure Blob Storage file size editing limits. See internal recap of issue below:

**Root Cause**

Today ADF excel in copy does not support streaming read which is limit

[2021-12-13 17:32] SatishBoddu-MSFT commented on #85187
Hello [@Heloiseboanerges](https://github.com/Heloiseboanerges) 

I have assigned the issue to the content author for further review.

Could you please let me know the Survey link? so that we better understand the issue? Is that link belongs to this doc? https://docs.microsoft.com/en-us/azure/firewall/features

[2021-12-13 17:37] SatishBoddu-MSFT commented on #85192
Hello [@rouke-broersma](https://github.com/rouke-broersma) 
I have assigned the issue to the content author for further review.

[2021-12-13 17:40] SatishBoddu-MSFT commented on #85193
Hello [@joselitz123](https://github.com/joselitz123)
I have assigned the issue to the content author for further review.

[2021-12-13 17:41] bwren commented on #78994
Sorry, looks like this one is a bit old so hopefully it got worked out. There's a sample template at https://docs.microsoft.com/azure/virtual-machines/extensions/diagnostics-template that should be a good reference here. The diagnostic extension has been completely replaced with the Azure Monitor agent, so we aren't adding any doc enhancements for it anymore.

#please-close

[2021-12-13 17:42] SatishBoddu-MSFT commented on #85194
Hello [@rangler2](https://github.com/rangler2)
I have assigned the issue to the content author for further review.

[2021-12-13 17:43] ebolton-cyber commented on #85182
@mathapli please can you look into this?

[2021-12-13 17:43] SatishBoddu-MSFT commented on #85195
Hello [@bernaljo](https://github.com/bernaljo)
I have assigned the issue to the content author for further review.

[2021-12-13 17:44] tfitzmac commented on #85181
@bppn - does [this article](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/publish-managed-identity) provide the info you need to use a managed identity?

[2021-12-13 17:47] jakobmladekaer commented on #85176
Hi Ryan
No, not within a vnet,  but a simple example on deploying a container app with access to pull the mage from ACR. I guess the container app needs  permissions to pull from the ACR , e.g. provided by  username, password and login server. Do you have examples doing this using both az cli and ARM?
Jakob

[2021-12-13 17:47] bppn commented on #85181
No, the samples included are too basic.

It gets very hard to understand the moment several things come together.

Like app service and blob storage in the managed resource group together, using system assigned identities trying to read/write on another.

If all is read-only that all is OK. But the moment an identity needs to have write permissions, then the concept starts to fail, deny permission

[2021-12-13 17:49] felickz commented on #47307
New feature request - no redirects left behind from uservoice -> d365community

https://feedback.azure.com/d365community/idea/3d0a8ded-0c25-ec11-b6e6-000d3a4f0858

[2021-12-13 17:56] nibaccam commented on #82612
Thank you for the feedback. The product engineering team has been notified and I'll work with them to get this onto their internal backlog for review.

We will now proceed to close this thread.

[2021-12-13 17:56] nibaccam commented on #82612
#please-close

[2021-12-13 17:59] josegallardo commented on #84881
Hi @briancovingtonhsv,

I'm part of the DevTest Labs product team, I'm bringing the issue to our team and will get back to you soon.

Thanks for reaching out.

[2021-12-13 18:07] JamesTran-MSFT commented on #85133
@rmc515
Thank you for your time and patience throughout this issue! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-13 18:11] sarangan12 opened #85196 "Link is broken and Endpoint is not clear"
1. The Link 'Bing Search v7 resource' in this page is not working. It will lead to a page with message:
[code]
It is very difficult for the new users to create a resource with this broken link.  An issue has been created in JS Repository because of this - https://github.com/Azure/azure-sdk-for-js/issues/18837

Please fix the issue.

2. While using the SDK we need to set the endpoint. The endpoint

[2021-12-13 18:14] laujan commented on #84935
#please-close

[2021-12-13 18:16] SatishBoddu-MSFT commented on #84832
Hello @anthonychu Sorry for the delay, we are working internally with the team on this issue, we will keep u posted.

[2021-12-13 18:27] cherylmc commented on #84924
Looking into this to verify that this (and other articles) reflect this change. Taking a doc bug. Thanks!

[2021-12-13 18:29] jp1482 opened #85197 "Required some more clarification about wording"
My scenario is some what mention in the specific link.

Now problem is the section Add Service Principal and following section.

1. In Add Service Principal , it mention word like this tenant. This tenant means which tenant ? Secondary tenant or Primary tenant.
2. Also in following it talks about object id needs to add in that section.
So which object id. : ObjectId present in Add Service Principa

[2021-12-13 18:41] AbbyMSFT commented on #63988
It seems that we have provided feedback to the customer, and we have not had similar feedback. If the issue persists, we advise open a support ticket.
#sign-off

[2021-12-13 18:42] eric-urban commented on #84434
We are removing preview documentation for the time being.

#please-close

[2021-12-13 18:55] josegallardo commented on #84881
The ARM template doesn't seem to be the problem as it just creates a custom image in DTL through ARM. It seems like the issue is something in the VHD. In the VM.
We would like to know how you prepared the VM, what parameters you are passing,  and what is different between the Win10 image and the Win11 image in that process.  Did you sysprep the VM? How? Was it successfully sysprepped?

Thanks

[2021-12-13 19:49] 3DSX commented on #41755
Any updates on this? I would like to set a custom domain/subdomain for my Azure SignalR service.

[2021-12-13 20:02] briancovingtonhsv commented on #84881
Jose,

We would like to know how you prepared the VM, what parameters you are passing, and what is different between the Win10 image and the Win11 image in that process.  For the Windows 11 which has failed for us several times, it is a pristine Marketplace Windows 11 Enterprise image which has been domain joined to our domain and had our domain user added.  We disabled UAC and then started our Po

[2021-12-13 20:03] #85131 closed

[2021-12-13 20:04] whhender commented on #84281
#please-close

[2021-12-13 20:04] #84281 closed

[2021-12-13 20:04] ababdul opened #85200 "In correct command provided here "Modify protection for already backed up VMs with Azure CLI""
In correct command provided here "Modify protection for already backed up VMs with Azure CLI" When we execute  "az backup protection update-for-vm --resource-group {resourcegroup} --vault-name {vaultname} -c {vmname} -i {vmname} --backup-management-type AzureIaasVM --disk-list-setting exclude --diskslist {LUN number(s) separated by space}"

we get an error " --backup-management-type AzureIaasVM is

[2021-12-13 20:05] whhender commented on #82879
@yuharucan - Yes, we are still working on these PowerShell revisions. Once we have them I will update you here and the documentation will also be updated.

[2021-12-13 20:06] whhender commented on #81227
We are still working on this issue, thank you for your patience. We are updating the PowerShell modules, and have been working on this since the issue was reported. As soon as it is complete I will update you here and we will update the documentation.

[2021-12-13 20:08] whhender commented on #78713
@asears - Apologies for the late reply, but we were able to add this tutorial in November.
You can now find PowerShell instructions on the same page.

https://docs.microsoft.com/azure/data-share/share-your-data?tabs=powershell#create-a-data-share-account

[2021-12-13 20:10] whhender commented on #78713
#please-close

[2021-12-13 20:10] #78713 closed

[2021-12-13 20:24] #84968 closed

[2021-12-13 20:32] v-gpettibone commented on #72866
#reassign JimacoMS4

[2021-12-13 20:40] rajeshsetlem commented on #85088
@nitinkhandelwal26 Yes, you can use Global VNET Peering. We will update the doc as well to include Global VNET Peering.

[2021-12-13 21:04] MonikaReddy-MSFT commented on #85200
@ababdul - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-13 21:14] HeidiSteen commented on #84507
Hi @Richard-Painworth, sorry for the delayed response. HTML and other markup is stripped from files if you run the skill with parsingMode = default. If you use parsingMode=text, then html tags are not stripped out and you’ll get all of the document content back as if it were raw text. I'll make sure the docs are clear about this.

#please-close

[2021-12-13 21:14] #84507 closed

[2021-12-13 21:21] j-martens commented on #83184
@bobbyangers - we agree with your proposal and have added it to our backlog of docs to enhance next quarter. Thank you!!

We'll close the issue for now and track the enhancement internally. Thank you.

#please-close

[2021-12-13 21:21] #83184 closed

[2021-12-13 21:25] #85050 closed

[2021-12-13 21:33] roygara commented on #83019
This has been merged so I'm closing this out.

Thanks, again!

#please-close

[2021-12-13 21:33] bandersmsft commented on #85137
https://github.com/MicrosoftDocs/azure-docs-pr/pull/182718

@lunar87 Thanks for much for raising this Github issue. You're right, we should be been clearer with our example information. I've added the following updates for clarity. The updated article will get refreshed live later today.

- The billingPeriod parameter must be formatted without dashes. For example, `202112`. If a day of the month i

[2021-12-13 21:33] #83019 closed

[2021-12-13 21:33] #85137 closed

[2021-12-13 21:34] JackStromberg commented on #65845
Thanks for the feedback @hisasima!  Apologies for the late response, but we have addressed this in our troubleshooting articles.  Please see this doc here: https://docs.microsoft.com/azure/application-gateway/application-gateway-backend-health-troubleshooting#updates-to-the-dns-entries-of-the-backend-pool

Thank you!
#please-close

[2021-12-13 21:34] #65845 closed

[2021-12-13 21:43] JackStromberg commented on #64137
Hello @ronniequan, thanks for the feedback and apologies for the delay for getting back.

We have plans on removing the UDR constraint to enable NVA scenarios as you described.  Unfortunately, I don't have a specific ETA I can share quite yet, but it is a high priority item in our roadmap to unblock.

#please-close

[2021-12-13 21:43] #64137 closed

[2021-12-13 21:49] JackStromberg commented on #59108
Hello @whitWaldo and @torivara,

Apologies for the late response to this github issue.  We've recently rewritten a large majority of the keyvault + application gateway document to clarify support and steps needed to enable KeyVault + RBAC Permissions + Application Gateway.  Please check out the updated document here: https://docs.microsoft.com/azure/application-gateway/key-vault-certs

If you have

[2021-12-13 21:49] #59108 closed

[2021-12-13 21:52] JackStromberg commented on #58914
Hi @damart23,

We have clarified supportability for Route Tables depending on Application Gateway v1 and v2 here: https://docs.microsoft.com/azure/application-gateway/configuration-infrastructure#supported-user-defined-routes

Hope this helps!
Jack

#please-close

[2021-12-13 21:52] #58914 closed

[2021-12-13 22:01] porkamizeria opened #85202 "command instead of cmdlet"
Hi Guys!

Noticed a small mistake on this page.
Within the _Set up a key encryption key (KEK)_ section, under **Azure PowerShell**, below the first cmdlet there is the following statement:

Since this referring to PowerShell I think the line should read:

Hope this helps!
Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-12-13 22:10] kabharati commented on #82459
@AwdotiaRomanowna, I made the correction and submitted the change which should reflect by tomorrow. I will close this PR once the changes are available in the official documentation.

[2021-12-13 22:19] SatishBoddu-MSFT commented on #85196
Hello [@sarangan12](https://github.com/sarangan12)
I have assigned the issue to the content author for further review.

[2021-12-13 22:20] SatishBoddu-MSFT commented on #85197
Hello [@jp1482](https://github.com/jp1482)
I have assigned the issue to the content author for further review.

[2021-12-13 22:21] kabharati commented on #79686
@ alexeyshishkin01 - Added the clarification and submitted it. New changes should reflect shortly and i will close this PR once the official documentation is updated.

[2021-12-13 22:21] SatishBoddu-MSFT commented on #85202
Hello [@porkamizeria](https://github.com/porkamizeria)
I have assigned the issue to the content author for further review.

[2021-12-13 22:49] dimitri-furman commented on #85194
@MashaMSFT I believe this will be addressed by your rewrite.

[2021-12-13 22:56] James-Hamil-MSFT commented on #84786
Hi @marcgoff , since I have not heard back I'm going to close out this thread. If you're able to find the document that this is for, please create a new issue and link it here so I can look into it.

Thank you,
James

[2021-12-13 22:56] #84786 closed

[2021-12-13 22:57] lobrien commented on #82612
#please-close

[2021-12-13 22:57] #82612 closed

[2021-12-13 23:03] James-Hamil-MSFT commented on #84798
Thanks for the update @bmansf . I'll see how we can improve the documentation, thanks for the suggestion. Do you need any more help currently or is everything good to go?

[2021-12-13 23:04] crashXJ opened #85203 "When adding a new listener in AGW (WAF v2) there is no "add new certificate"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c416d5e-5bfd-c641-e9bb-324dcb921acc
* Version Independent ID: 8739a044-d471-c432-3ed1-503539408ae8
* Content: [TLS termination with Azure Key Vault certificates](https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs)
* Content So

[2021-12-13 23:10] lobrien commented on #85098
I've created a documentation workitem to track this https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1902638. I think it's a good suggestion and will advocate for prioritizing it.

#please-close

[2021-12-13 23:10] #85098 closed

[2021-12-13 23:12] mokabiru commented on #85173
@Jagath4u - we have already identified the issue where the migration goes to succeeded in less than few seconds. This happens in cases when the same database is being migrated to the same target multiple times. The fix for this will be out shortly. Please retry with a new database migration if your are testing.

For the multiple database migrations in Azure Data Studio, there is an issue where it

[2021-12-13 23:23] kabharati commented on #84066
@alexeyshishkin01, I added the clarification which should reflect. I will close this PR once the official document is updated.

[2021-12-13 23:41] davidmrdavid commented on #80099
@PandasBots the docs here should have been updated already. Could you please verify and close this issue? Thanks!

@mike-urnun-msft: could you close this issue if this doesn't get any activity in a few days? Thanks!

[2021-12-13 23:44] NickEales opened #85205 "Does --retention without --trim still delete old snapshots?"
Please can you check and clarify that  using the "--retention" parameter without the "--trim" still deletes the snapshots once the specified retention period has expired?

We have customers that don't want to use "--trim" due to the log deletion, but need the snapshot space to recovered using the "--retention", and it isn't working as expected.

Thanks

---
#### Document Details

⚠ *Do not edit th

[2021-12-13 23:44] #85041 closed

[2021-12-13 23:44] davidmrdavid commented on #80975
Seems that the linked issue here has been closed. @Vidarls, could you please close this issue if the documentation fix has been merged/applies? Thanks!

@mike-urnun-msft: could you please close this issue in a few days if this doesn't receive any activity? Seems that the root issue was addressed. Thanks!

[2021-12-13 23:44] #84906 closed

[2021-12-14 00:01] normesta commented on #84558
Ok. I've updated the content. Thanks all!

#please-close

[2021-12-14 00:01] #84558 closed

[2021-12-14 00:10] WhitWaldo opened #85207 "Step inconsistency"
Under the header "Verify Firewall Permissions to Key Vault", we have a list of steps numbered 1 to 4 indicating how to configure App Gateway to use firewalls and virtual networks. These steps are followed by a picture illustrating steps a through d. I would urge you to redo the step numbering in the picture to use the same 1, 2, 3, and 4 for clear consistency between the instructions and the image

[2021-12-14 00:13] kgremban commented on #84240
@m-drozd Thank you for bringing this to our attention. We've made a pull request to implement this fix, and will close this issue once the changes are merged.

[2021-12-14 00:16] lingluo0531 commented on #84529
fixed

[2021-12-14 00:25] lingluo0531 commented on #84529
Merged #182634 into master.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/182634

[2021-12-14 00:26] lingluo0531 commented on #84529
@jaluecht , could you kindly advise how to close the issue? thanks!

[2021-12-14 00:39] Fleid commented on #78166
#please-close

[2021-12-14 00:39] #78166 closed

[2021-12-14 00:40] Fleid commented on #72927
Hi there,
Sorry it took us so long, but we refreshed the tutorial and everything should work as expected now.
We switched to a C# function (runtime v4), developed in VS Code on .NET 6.
Please let us know if you hit any issue.

[2021-12-14 00:40] Fleid commented on #72927
#please-close

[2021-12-14 00:40] #72927 closed

[2021-12-14 00:40] jleung-bupa commented on #66065
Hi all, any updates on this, by any chance? Unfortunately I am still struggling to run my script through the terminal when the script containers the following line:

``from azureml_user.parallel_run import EntryScript

I get the following error => ModuleNotFoundError: No module named 'azureml_user'

![image](https://user-images.githubusercontent.com/64579594/145911707-c1abb41e-2a77-43d5-ad6a-edaa7

[2021-12-14 00:46] Fleid commented on #82960
Hi there,
Regardless of the specific issue, please note that even though we support blob/adls as a streaming input, the main use case is for history loading (point in time re-processing). If the blob/adls input can be used outside of that use case, it was not designed for that and may not behave optimally.

[2021-12-14 00:49] larryclaman opened #85208 "Page should include RBAC roles required to run vmaccess extension / vm user update commands"
Given the powerful nature of the vmaccess extension / vm user update command, it would be useful to have this page document what are the RBAC roles required to be able to run the command.
Eg, if I as an azure administrator wanted to lock this down, how would I do so?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dce2

[2021-12-14 01:27] larryclaman opened #85209 "Page should be refactored to point to official csi-secrets-store-driver"
This page currently points to the open source upstream csi-secrets-store-driver at https://github.com/Azure/secrets-store-csi-driver-provider-azure .
Now that this driver has been GA'd and is available as an official AKS add-on, the page should be refactored to point to the official microsoft docs at https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver

---
#### Document Details

⚠

[2021-12-14 01:28] VikasPullagura-MSFT commented on #85208
@larryclaman
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-14 01:28] VikasPullagura-MSFT commented on #85208
@amjads1
Can you please check and add your comments on this doc update request as applicable.

[2021-12-14 01:34] GitaraniSharma-MSFT commented on #85203
@crashXJ , thank you for your feedback. We'll investigate this and get back to you shortly!

[2021-12-14 01:37] GitaraniSharma-MSFT commented on #85207
@WhitWaldo , thank you for your feedback. We have assigned this to the content owner/author for updating the doc accordingly.

@vhorne , could you please update the step numbering in the picture to use the same 1, 2, 3, and 4 as in the doc?

[2021-12-14 01:48] MaheshSQL opened #85211 "Add link to Power BI Text Analytics + Opinion Mining demo"
Hi @aahill,

Please could you reach out regarding request to add a small update to document to include _Power BI Text Analytics + Opinion Mining demo_ that I have built. What's the best way to connect?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e6c6d2d-b1f8-86ed-4383-b3b4606d8046
* Version Independent ID:

[2021-12-14 01:50] MaheshSQL commented on #85211
Found the contact info, will reach out offline. Closing the issue.

[2021-12-14 01:50] #85211 closed

[2021-12-14 01:59] aakash-shah commented on #66938
Hello James! The page https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates#change-state-using-powershell contains a [script](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates#convert-users-from-per-user-mfa-to-conditional-access-based-mfa) that uses the v1 module cmdlets `Set-MsolUser` and `Get-MsolUser`.

This page a

[2021-12-14 02:33] #84938 closed

[2021-12-14 02:35] petersgiles opened #85212 "Problem with tutorial Deprecated api"
This script gives an error

[code]

[code]

Please correct the tutorial to reflect the current API

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2767a9e-eac1-8460-761f-a86154bd9685
* Version Independent ID: 4a40093e-1cdb-d9a8-2ca4-aff77a862845
* Content: [Tutorial: Upload data and train a model - Azure Machine Learni

[2021-12-14 02:48] YutongTie-MSFT commented on #85212
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-12-14 02:57] mathapli commented on #85182
This is toolkit which will get deprecated with Self Test API. The VM tests when image is submitted to Partner Center is autoamted. Since the tool is thick client and we are planning to replace it, it is correct that it is not automated.

[2021-12-14 03:09] skyline75489 commented on #84765
Hi @kobulloc-MSFT , the `curl` command is good. The problem is the JSON file itself won't work with the rest of the guide. Please reopen this so that we can continue the discussion. Thanks!

[2021-12-14 03:31] AnuragSharma-MSFT commented on #85126
@rosscouldrey Thanks for reporting this, we have made the changes through a PR which could take few days to go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-12-14 03:45] SumanthMarigowda commented on #85205
@NickEales Thanks for the question! We are investigating and will update you shortly.

[2021-12-14 03:57] VikasPullagura-MSFT commented on #85209
@larryclaman Thanks for the Feedback.
The document is updated and changes will go live once the PR is approved.

[2021-12-14 03:58] SumanthMarigowda commented on #85205
@NickEales The PR has be initiated https://github.com/MicrosoftDocs/azure-docs-pr/pull/182631 The necessary changes will take place We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-14 03:59] SumanthMarigowda commented on #84956
@stinkyfriend  The PR has be initiated MicrosoftDocs/azure-docs-pr#182631 The necessary changes will take place We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-14 03:59] #84956 closed

[2021-12-14 04:00] shuped opened #85216 "Typo under See Also links section on Use Form Recognizer SDKs or REST API page"
There seems to be a git merge conflict string at the bottom of the page, under See Also: `<<<<<<< HEAD:articles/applied-ai-services/form-recognizer/includes/how-to-guides/javascript-sdk.md`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c39ca68-ddb6-c531-5bcd-19e8a4806882
* Version Independent ID: 7ecf49f0-d343-a5e3-7

[2021-12-14 04:29] fswane opened #85217 "Edge Blob Storage: deviceToCloudUpload not robust"
Good morning

We are using Edge Blob Storage extensively in production but are running into robustness/reliability issues with regards to uploading of the blobs from the edge to the cloud.

Our use case is as follows:

 1) At the edge, we have applications that generate CSV files and JPEG files.  (The products are machine vision based smart sensors.)

 2) These files are uploaded to the Edge Blob

[2021-12-14 04:44] huwgeric opened #85218 ""What happens if you use both configurations" - rule and example are not consistent"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e3082ce-6408-d199-7fdc-361966b4c6a8
* Version Independent ID: ed68d7f1-ade8-2988-309f-033480441252
* Content: [Control access to Azure file shares - on-premises AD DS authentication](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-

[2021-12-14 04:46] huwgeric commented on #85218
At the beginning of this paragraph, it says "You could also assign permissions to all authenticated Azure AD users and specific Azure AD users/groups. With this configuration, a specific user or group would have the superset of permissions allowed from the default share-level permission and RBAC assignment"
But when it tries to explain by an example, the conclusion is opposite and the default shar

[2021-12-14 04:47] segeva commented on #10495
For the benefit of others it is worth providing an update to this issue.
Using the SP from Azure DevOps pipeline is possible and documented at https://github.com/Azure/kubelogin
The following is rolebinding as an example:
[code]

[2021-12-14 05:20] JYOTHIRMAISURI commented on #85072
@V-SSenthilna

[2021-12-14 05:48] AJRus opened #85219 "90 day"
The feedback here suggests that the automation can take effect if a user has not signed in, in 90 days.

https://docs.microsoft.com/en-us/azure/active-directory/governance/deploy-access-reviews#who-will-create-and-manage-access-reviews
https://docs.microsoft.com/en-us/azure/active-directory/governance/deploy-access-reviews#take-recommendations

But the access review shows 30 days and appears to be

[2021-12-14 06:23] Jagath4u commented on #85173
Hi Mohamed, I have installed the insider.exe and  tried to restore 4 new databases and this time, i see the restoration on target SQL MI has started at same time but i dont see the progress or status of migration in Azure Data Studio. However i waited for almost 1-2 hrs and doesnt see any updates in Azure Data studio, once i see the last log restored then only i can proceed to do the cutover.
![im

[2021-12-14 06:23] #85209 closed

[2021-12-14 06:27] cheahengteong commented on #45129
how you fixed it?

[2021-12-14 07:04] comicrr opened #85220 "Problem with JIRA SAML SSO by Microsoft "InResponseTo of the response does not match the ID""
There's a sort of problem with this add-on.
1. Sometimes our users are having trouble using SSO, and the error in the page shows "InResponseTo of the response does not match the ID of the authentication request. Please try again"
2. At the same time when I got the error, i had immediately test on enterprise app portal and SSO works just fine.
3. I'm planning on the add-on/plugin upgrade, however c

[2021-12-14 07:08] GitaraniSharma-MSFT commented on #85203
@crashXJ , I tried to add a new listener in Application gateway (WAF v2) with HTTPS protocol and I can see the "Create new certificate" option as below:

![image](https://user-images.githubusercontent.com/67630903/145949546-3eba9bc8-32a8-4431-be00-f4c1ac64b44a.png)

Could you please share a screenshot of the issue that you are facing?

[2021-12-14 07:15] GitaraniSharma-MSFT commented on #85096
@rahulksingh1994 , there is a doc for Floating IP Guest OS configuration as below:
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-floating-ip#floating-ip-guest-os-configuration

Could you please elaborate what other information should be added for better understanding, so that we can review this further?

[2021-12-14 07:36] shashishailaj commented on #85219
@AJRus Thank you for your query . We will investigate and update the thread.

[2021-12-14 07:41] shashishailaj commented on #85220
@comicrr Thank you for your query. We will investigate and update the thread.

[2021-12-14 07:48] ChaitanyaNaykodi-MSFT commented on #81945
Hello @svdHero, apologies for the delayed response here. I think the proposed solution should work, please let me know if you are facing any issues.
@sopelt, thank you for pointing this Azure Firewall as a DNS forwarder solution to us. I am reopening and assigning this issue to @ivapplyr to review further and update the document.

[2021-12-14 08:13] koder101 commented on #85182
I don't think that even Self Test API as of today covers all tests. below is the exact output of Self Test API call -

`
{
	"SchemaVersion": 1,
	"AppCertificationCategory": "Microsoft Single VM Certification",
	"ProviderID": "050DE427-2A99-46D4-817C-5354D3BF2AE8",
	"OSName": "Ubuntu 20.04",
	"OSDistro": "Ubuntu 20.04.3 LTS",
	"KernelVersion": "5.11.0-1022-azure",
	"KernelFullVersion": "Linux versi

[2021-12-14 08:17] helderpinto opened #85222 "Please document how to schedule a deployment for a specific Linux package version"
This document describes how to schedule a specific package deployment:

It does not tell us, however, what to do if we want a specific **package version**. After some tests, I've identified that using the `package=version` format works for both Ubuntu and RHEL, but I am not sure if this is the right way to do it and even less sure if it works for all Linux supported distros. Documenting it would c

[2021-12-14 08:21] fseldow opened #85223 "Feature 'Azure Spot Virtual Machines for virtual machine scale sets' not supported in Azure China 21Vianet due to dependency"
Feature does not support in Azure China 21Vianet.

Azure Spot Virtual Machine is not supported in China Cloud. It will reports internal error when add spot agent pool in china cloud. Can we add one description on this limitation?
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/use-spot#limitations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-12-14 09:04] M-Hoogie commented on #83768
Any updates?

[2021-12-14 09:10] SwathiDhanwada-MSFT commented on #85222
@helderpinto Thanks for your comment. We will review the issue and get back to you shortly.

[2021-12-14 09:24] VikasPullagura-MSFT commented on #85223
@fseldow Thanks for the Feedback.
This is documented as requested, hence closing this.
![image](https://user-images.githubusercontent.com/48944027/145970480-7b476c50-fb1d-4f24-ad34-67b8e7184c2b.png)

[2021-12-14 09:24] #85223 closed

[2021-12-14 11:11] Givary commented on #85220
Reviewed the error message posted above, plugin needs to be updated to the latest version, as per this article https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial, update the plugin to the latest version and access the application.

[2021-12-14 11:14] SnehaAgrawal-MSFT commented on #84933
@simonkurtz-MSFT Thanks! As its mentioned:
"By default, the App Service resource provider doesn’t have access to the Key Vault. In order to use a Key Vault for a certificate deployment, you need to authorize the resource provider read access to the KeyVault."

As "authorize the resource provider read access to the KeyVault" is hyperlinked to this document link: https://review.docs.microsoft.com/en

[2021-12-14 11:14] comicrr commented on #85220
Hi @Givary, currently the version says 6.0 on my Jira, while the latest installer are MicrosoftJIRASSO6x7x8x.obr is that means version 6.7.8, is it correct ? or i was just facing the same version ?

[2021-12-14 11:28] SnehaAgrawal-MSFT commented on #84939
@Ayanmullick Could you please share if you are receiving any error while following this document to help you better on this. https://docs.microsoft.com/en-us/azure/static-web-apps/add-api?tabs=vanilla-javascript#update-the-frontend-app-to-call-the-api

[2021-12-14 11:32] Marchelune commented on #56453
I have to report another scenario where we hit the `The Common Name (CN) of the backend server certificate does not match the host header entered in the health probe configuration` error. Except in this case the backend is an IP address to which application gateway connects via HTTP (port 80), so there is - to my knowledge - no sense in this message.
How can we know if this is a false positive or

[2021-12-14 11:32] simonpucher opened #85225 "Link not working for page "connect an iot edge device""
Please navigate to this page [https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-connect-device?pivots=programming-language-csharp](https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-connect-device?pivots=programming-language-csharp)

If you click on the third link "connect an iot edge device" you will be forwarded to the "browse all page":
![image](https://user-images.

[2021-12-14 12:00] fseldow commented on #85223
Hi @VikasPullagura-MSFT thx for reply,
My requested document is https://docs.microsoft.com/en-us/azure/aks/spot-node-pool, which is AKS document that does not mention China Cloud is not supported.
By following the document in AKS side, it will finally report Internal error instead of not supported, Thus, I think it worse AKS document add China Cloud not supported in Limitation until spot vm suppor

[2021-12-14 12:06] AshokPeddakotla-MSFT commented on #85225
[@simonpucher](https://github.com/simonpucher) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-12-14 12:38] bppn opened #85228 "Azure managed application with custom providers, how to call from outside the managed application"
Article: https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/tutorial-create-managed-app-with-custom-provider?tabs=azurecli-interactive#custom-actions-and-resources

Due to deny assignments, it is not possible to call actions of customer providers, for example using the azure cli or rest interface.

This is returned when calling using az resource invoke-action:

[cod

[2021-12-14 12:51] shashishailaj commented on #82937
We have initiated a pull request and suggested the team to make changes accordingly . Once that is approved by engineering it will be merged to the docs.

[2021-12-14 12:51] #82937 closed

[2021-12-14 12:52] #85185 closed

[2021-12-14 12:55] naebliss opened #85230 "Subresource for Microsoft.Search/searchServices incorrect"
Hi,

The subresource for Microsoft.Search/searchServices is listed as `search service`, however when trying to create the resource through tools like terraform it is required to use the name `searchService`.

Kind regards,
Robbie

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Vers

[2021-12-14 13:00] yertaylan67 opened #85231 "Definition of DEPLOYMENT_REPO_PATH missing"
[Enter feedback here]

Please add the definition of DEPLOYMENT_REPO_PATH variable to the documentation in chapter "Deploy the control plane" before we call the prepare_region.sh script, e.g., export DEPLOYMENT_REPO_PATH=~/Azure_SAP_Automated_Deployment/sap-automation.

Thanks a lot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-12-14 13:12] RohitMungi-MSFT commented on #85216
@shuped Thanks for spotting this. We will update the page to correctly link the section.
@laujan FYI..

[2021-12-14 13:21] ezYakaEagle442 opened #85232 "in ARO FAQ, add links to ARO ARM & Bicep Tempates"
see also [https://github.com/Azure/OpenShift/issues/259](https://github.com/Azure/OpenShift/issues/259)

@jimzim

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8cb0c6-b695-e55a-d9ec-9a799b802ea3
* Version Independent ID: 80fd40f6-a7f3-4848-95ea-9681d266f9a7
* Content: [Frequently asked questions for Azure Red Hat Ope

[2021-12-14 13:35] Digiroka opened #85233 "Clarification request"
Regarding the specific paragraph below - could you please clarify if this also includes access from devices joined to another AAD tenant?
If so, could you please change to "**from Windows devices not joined to Azure AD, or which are joined to another Azure AD tenant**"

--
"To enable access **from Windows devices not joined to Azure AD**, add targetisaadjoined:i:1 as a custom RDP property to the h

[2021-12-14 13:35] simonkurtz-MSFT commented on #84933
Hi @SnehaAgrawal-MSFT, I did follow the link, but that provides generic information as to how to assign access policies. What I am looking for in this document here very specifically is the exact rights that should be configured. Since we are talking about securing something as important as a Key Vault, I think it would be of great value to be very specific and explicitly list the permissions.

Fo

[2021-12-14 13:40] yaronpri opened #85234 "wrong SAS token example"
[Enter feedback here]
the blob SAS token should be updated - as the example is not working. it should be updated according to this URL -
https://docs.microsoft.com/en-us/azure/open-datasets/dataset-seattle-safety?tabs=pyspark

# Azure storage access info
blob_account_name = "azureopendatastorage"
blob_container_name = "citydatacontainer"
blob_relative_path = "Safety/Release/city=Seattle"
blob_sas_

[2021-12-14 13:51] rudolphjacksonm commented on #80482
Hi all, sorry to resurrect this but has there been any movement on when user-assigned identities will be supported for consumption-based Logic Apps?

[2021-12-14 14:00] SnoWolfT opened #85235 "Azure CLI actually is able to create the AKS cluster with bring-your-own subnet with SYSTEM assigned identity. And the document lacks the steps for the User assigned identity."
Azure CLI actually is able to create the AKS cluster with bring-your-own subnet with SYSTEM assigned identity.  And the document lacks the steps for the User assigned identity.

Here is one example in my side.
--
tom@Azure:~$ az   aks create -g 2111290060002686 -n 2111290060002686b --vnet-subnet-id   /subscriptions/458c98b9-57ff-4c12-9505-68b3ab917db6/resourceGroups/2111290060002686/providers/Micr

[2021-12-14 14:09] elnurrr opened #85236 "Wrong info in the page"
The page says that locking a storage account will not protect from deleting containers.
When you try to delete a container via portal there is a message saying 'the delete will fail if there is a lock on the parent resource', and the delete actually fails

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d562e293-e3ef-ee5

[2021-12-14 14:09] giorgiococci commented on #11450
I'm replying to this thread because I was in the same situation with the same error and I managed to solve it using the following configuration to launch the debug from VsCode:

File launch.json:
[code]
In my scenario the framework was "netcoreapp3.1"
I hope it can be of help to someone.

[2021-12-14 14:21] rmascaro commented on #84430
I forced rpm installation before running the extension installation script (manually) and the procedure make the extension available and (seems) working fine for me.
- Extension status: "Provisioning succeeded"
- Tested with az ssh worked fine

I am usign a RHEL 8.4 from Azure Marketplace with policycoreutils-2.9-14.el8.x86_64
Extension installation requires policycoreutils >= 2.9-16

Those are my

[2021-12-14 14:27] vanessabruwer opened #85238 "Improve guidance"
It is not clear from this guidance that the resource provider needs to be registered before using, and this rp is not automatically registered. Could you improve the messaging, both here, and on the overview view of the partner solutions, that the RPs need to be registered before use.

Of course, it would be great if you could auto-register the RP on use, but making it clear in the documentation w

[2021-12-14 14:30] kabharati commented on #84066
This is addressed now. Closing the PR

[2021-12-14 14:32] kabharati commented on #82459
This is addressed now. Closing the PR

[2021-12-14 14:32] kabharati commented on #82459
#please-close

[2021-12-14 14:32] #82459 closed

[2021-12-14 14:33] kabharati commented on #79543
This is address now and below information is accurate.
Currently, the service is not failed over to the standby and hence while the scale operation is carried out on the primary server, applications will encounter a short downtime.

[2021-12-14 14:34] kabharati commented on #79543
#please-close

[2021-12-14 14:34] #79543 closed

[2021-12-14 14:37] kabharati commented on #74265
@yob8- I see your point and will add this additional clarification. Availability Zones outages for single server will have almost similar user actions as region outages. I am updating the docs and will close this PR once the information is available in official documentation.

[2021-12-14 14:42] brk3 opened #85239 "ACR access issues can also be caused when public access is disabled"
I was having trouble logging into an ACR that had public access disabled (I wasn't aware of this fact at the time). After following all guides and troubleshooting I continually got the following type error:

[code]

Nothing in this error or the documentation hinted that the public access setting could be the problem. Mentioning this from the login troubleshooting page could save a lot of future he

[2021-12-14 14:47] shashishailaj commented on #85217
@fswane We are sorry that you have to face this . We generally use this repo for issues related to existing documentation . In this case the issue will require considerable troubleshooting . I have assigned it to the team and they will try to help however if it requires deeper investigation they will help you with alternate support options. In future you can always open a thread on [Microsoft QnA]

[2021-12-14 15:00] yuharucan opened #85241 "More network requirement"
[Enter feedback here]
I couldn’t get lists of ADF when I create connections to ADF.
If management.azure.com was allowed on NSG, I could get lists of ADF.
So not only AAD but also management.azure.com are required, I think.
But I couldn’t find the above information from Docs.
This requirement should be described in Docs too, I think.
---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-12-14 15:04] SubhashVasarapu-MSFT commented on #85230
@naebliss, Thanks for reaching out. We will investigate and update this thread.

[2021-12-14 15:10] gzmrst-sr opened #85242 "Supported Versions text is slightly ambiguous"
Quote:
    <html><body>
<p>Azure Spring Cloud will support the latest Spring Boot or Spring
Cloud release within one month after it’s been released. You can get
supported Spring Boot versions from <a href="https://github.com/spring-projects/spring-boot/wiki/Supported-Versions#releases" data-linktype="external">Spring Boot Releases</a> and Spring Cloud versions from <a href="https://github.com/spri

[2021-12-14 15:12] pkalvik opened #85243 "Localization"
I think the localization documentation is really bad.
I mean you need to provide at least all the id:s for all resources in a structured manner. I think that you should provide all the translation in all 32 languages as well. (or at least one language file in one language)

I need to translate my solution to 36 languages , then it had been helpful to at least get the default id:s. (I have download

[2021-12-14 15:20] bomagusi opened #85244 "Add Information About Securing These VMs"
[Adding Information on How to Secure These VMs]

Hi Team,

it would be of real value to add information, as to how organizations can secure VMs which are being moved from AWS to Azure (i.e. either by adding a dedicated section for it or by referencing our 1st-party solution, such as Microsoft Defender for Cloud in an existing section).

Happy to discuss this further.

---
#### Document Details

⚠

[2021-12-14 15:23] kabharati commented on #81303
@Oury-MSFT - I am taking care of this and added new screenshots which should reflect shortly in the official documentation. I will close this PR once latest information is available.

[2021-12-14 15:24] JamesTran-MSFT commented on #85243
@pkalvik
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-14 15:26] shashishailaj commented on #85218
@huwgeric Thank you for your feedback . We will investigate and update the thread.

[2021-12-14 15:29] kabharati commented on #79765
@shane-kearns - Could you please clarify which IP address you're pointing to. I see that there are 3 ip addresses for UK South
 51.140.184.11, 51.140.144.32, 51.105.64.0 in the aforementioned link.

[2021-12-14 15:34] orionchristopher commented on #84924
Thank you all for your work!

Christopher Melendez
***@***.***
CSA
347-688-2465

On Mon, Dec 13, 2021 at 1:28 PM Cheryl McGuire ***@***.***>
wrote:

[2021-12-14 15:47] tifischer opened #85246 "CLI command is not standard nomenclature and needs clarity"
[
Below is the standard nomenclature for cli commands:
az purview account add-root-collection-admin --account-name [Purview Account Name] --resource-group [Resource Group Name] --object-id [User Object Id]
Customers and SEs are not able to follow the cli command as provided due to lack of clarity.
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-12-14 15:48] bmansf commented on #84798
Everything is good to go at this point.  If there were a process like described in the referenced document that uses TXT records to verify the domain and forcefully take it over, the process would have been reduced to minutes instead of weeks.

Bryan G. Mansfield
Technician / System Administrator
PC Colorado, Inc.
1725 North Weber Street
Colorado Springs, Colorado 80907
Phone - 719-475-0255
Fax -

[2021-12-14 15:53] elsalvos commented on #67538
Can someone link me to the upgrade tool and guidance? V3 has been GA since July but I can't seem to find any official statements about the upgrade path or tool.  @ccompy

[2021-12-14 16:03] thommck opened #85247 "More details on the difference"
I had a look through all the docs here and can't find any guidance anywhere explaining the pros/cons of picking what version of included vulnerability mgmt?

1. Microsoft's threat and vulnerability management module of Microsoft Defender for Endpoint (included with Microsoft Defender for servers)
2. An integrated Qualys agent (included with Microsoft Defender for servers)

This should be described

[2021-12-14 16:05] ksaye opened #85248 "Need to add Topic for Module"
[Enter feedback here]

We state the MQTT support and how to send messages as a module, but not how to receive messages.  I think we need to add the topic needed by a module, such as

[code]

It took a partner and I a few hours to find this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf2a86a-1de0-2786-db87-58279cef

[2021-12-14 16:08] yertaylan67 opened #85249 "Missing ARM_SUBSCRIPTION_ID variable"
[Enter feedback here]

prepare_region.sh expects the ARM_SUBSCRIPTION_ID variable also. Please put the following into the documentation before calling the shell script:

export ARM_SUBSCRIPTION_ID=<subscriptionID>

thanks a lot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c00bf88e-38bf-eaa8-923a-aaa94c635447
* Versio

[2021-12-14 16:17] spelluru commented on #84844
@tkent - I will forward the feedback to the product team so that they can evaluate restricting access to the access key in the Azure portal. Thanks.

"anyone with read access to the namespace can view this key. "

[2021-12-14 16:26] tifischer opened #85251 "CLI command adds Collection Admin but does not provide Purview access to the user"
[
Below is the standard nomenclature for cli commands:
az purview account add-root-collection-admin --account-name [Purview Account Name] --resource-group [Resource Group Name] --object-id [User Object Id]
Customers and SEs are not able to follow the cli command as provided due to lack of clarity.
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-12-14 16:31] AlexMasson opened #85253 "AzureFunctionsWebHost__hostid is missing from function app settings reference page"
I think it could be interresting to add a reference to the variable "AzureFunctionsWebHost__hostid" described here : https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp#function-apps-sharing-storage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b10

[2021-12-14 16:35] shashishailaj commented on #84928
@willfiddes We checked this and found that the current recommendation is to move to the newer Microsoft Graph Extensions to add custom data. We still have [support for schema extensions for backward compatibility](https://docs.microsoft.com/en-us/graph/api/resources/extensionproperty?view=graph-rest-1.0).

![image](https://user-images.githubusercontent.com/532022/146036872-70cb5e10-9af2-4dc4-942e-

[2021-12-14 16:35] #84928 closed

[2021-12-14 16:37] JeffBley opened #85254 "Need more information"
Some questions that remain unanswered:

- Do I need to run the cmdlets on all my servers with agents? Just one? Also, it doesn't currently say where to run the cmdlet (ie on the servers where the agents reside). We shouldn't assume people know this.
- How do I check my current agent version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-12-14 16:38] MartinJaffer-MSFT commented on #85053
My apologies but I am not authorized to share release dates without a Non-Disclosure Agreement.

[2021-12-14 16:38] #85053 closed

[2021-12-14 16:41] JeffBley opened #85255 "Need more information"
First of all, the title of this page is "automatic upgrade" and the content speaks nothing on that topic. Do Cloud Sync Agents automatically upgrade? How frequently? Is it automatic as soon as a new the version is released? Is there a delay? The article should be called "How to check your cloud sync agent version" because that's all it covers. It doesn't even mention automatic upgrade once.

That

[2021-12-14 16:41] positroncs opened #85256 "Sign on URL is incorrect"
The Sign on URL is incorrect as listed as https://<FQDN>/remote/saml/login
It should be https://<FQDN>/remote/login

the incorrect setting will return "Invalid HTTP Request" during testing and logins will fail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 675b6583-259f-1135-6443-b9aa40258163
* Version Independent ID:

[2021-12-14 16:43] ShaikMaheer-MSFT commented on #85234
@yaronpri Thank you for sharing your valuable feedback. We are actively validating it. We will share updates soon.

[2021-12-14 16:45] ShaikMaheer-MSFT commented on #85241
@yuharucan Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2021-12-14 16:49] shashishailaj commented on #84825
@MACEL94 Please use this example for your requirements https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-blazor-webassembly . We have created an internal request for the content team to review this and link blazor examples.

[2021-12-14 16:49] #84825 closed

[2021-12-14 16:50] JamesTran-MSFT commented on #85256
@positroncs
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-14 16:50] ShaikMaheer-MSFT commented on #85246
@tifischer Thank you for sharing valuable feedback. We are actively validating it. We will share updates soon.

[2021-12-14 16:50] JamesTran-MSFT commented on #85255
@JeffBley
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-14 16:50] JamesTran-MSFT commented on #85254
@JeffBley
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-14 16:55] kgremban commented on #84240
#please-close

[2021-12-14 16:55] #84240 closed

[2021-12-14 16:59] ShaikMaheer-MSFT commented on #85251
@tifischer Thank you for sharing your valuable feedback. We are actively validating it. we will share updates soon.

[2021-12-14 17:18] JamesTran-MSFT commented on #85256
@positroncs
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-12-14 17:18] #85256 closed

[2021-12-14 17:21] LitKnd commented on #84479
#assign: LitKnd

[2021-12-14 17:26] ravergarab commented on #85020
Just as an FYI, I'm able to manually use the query (in the example) to create a queryId -> report, but I'd much rather use the System Provided query ID for `ISVOrderV2` and `ISVRevenue`

[2021-12-14 17:32] crashXJ commented on #85203
[image: image.png]

On Tue, Dec 14, 2021 at 12:09 AM Gitarani Sharma ***@***.***>
wrote:

[2021-12-14 17:33] SrijitBose-MSFT commented on #85239
@brk3 . thank you for sharing your concern.

[This](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-troubleshoot-access#symptoms) section contains the following:

Under [Causes](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-troubleshoot-access#causes) it is pointed out:

----
Hope this helps!

[2021-12-14 17:42] LitKnd commented on #84479
Hi @VitalyMCT ,

Thank you for letting us know about this issue. I looked into this before I saw your second note with the suggested replacement link and came to the exact same conclusion about which link was likely intended :)

I found the problem at line 62 in the file, which was:

` * [Geo-restore](../../key-vault/general/disaster-recovery-guidance.md), to recover the catalog and tenant databas

[2021-12-14 17:44] ankit-db opened #85257 "REST API Description for Azure ACR Tasks Logs"
I would like to know whether there is a REST API that actually retrieves the logs for Azure ACR Tasks. This page only contains CLI instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10e6eb4c-dc4f-2e5a-0e97-7b19b3d857a9
* Version Independent ID: b527c997-7134-333c-5558-e9c1a268bbdd
* Content: [View task run lo

[2021-12-14 17:44] mvisosky opened #85258 "Azure AD B2C client credentials flow and MAU pricing impact"
In the documentation at [https://docs.microsoft.com/en-us/azure/active-directory-b2c/application-types#current-limitations](https://docs.microsoft.com/en-us/azure/active-directory-b2c/application-types#current-limitations) it mentions that we can leverage Azure AD features in Azure AD B2C for implementing the client credentials flow (i.e. the client credentials flow is not available through B2C us

[2021-12-14 17:46] Ayanmullick commented on #84939
@SnehaAgrawal-MSFT,  I was unable to contact you thru Teams. It shows up as `Uncaught (in promise)` in the `Console` tab.

![image](https://user-images.githubusercontent.com/17693249/146051198-200b2196-8644-4383-8ae2-71e2375f62f6.png)

However, it shows up correctly in the `Network` tab.

![image](https://user-images.githubusercontent.com/17693249/146051393-71ada93c-f3af-4a58-a1b5-20fae3649592.png

[2021-12-14 17:49] mvisosky commented on #85258
Closing because I did not use the correct link from the documentation for creating the issue.

[2021-12-14 17:49] #85258 closed

[2021-12-14 17:49] LitKnd commented on #84293
#assign: LitKnd

[2021-12-14 17:50] mvisosky opened #85259 "Azure AD B2C client credentials flow and MAU pricing impact"
In the documentation at [https://docs.microsoft.com/en-us/azure/active-directory-b2c/application-types#current-limitations](https://docs.microsoft.com/en-us/azure/active-directory-b2c/application-types#current-limitations) it mentions that we can leverage Azure AD features in Azure AD B2C for implementing the client credentials flow (i.e. the client credentials flow is not available through B2C us

[2021-12-14 18:02] cynthn commented on #85244
@bomagusi I'd be happy to include a link to anything you would recommend. We could also work together to rewrite the article, it should really reference more detailed CAF migration content. My alias is the same as my GitHub ID.

I'm going to close this for now. Thank you!

#please-close

[2021-12-14 18:02] #84935 closed

[2021-12-14 18:04] LitKnd commented on #84293
Hi @nicemilio  and @sommarskog ,

Thanks for opening this issue and bringing this to our attention.

We have some limitations for External Tables in Azure SQL Database listed here in the [CREATE EXTERNAL TABLE documentation](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-table-transact-sql?view=azuresqldb-current&preserve-view=true&tabs=dedicated#limitations-and-restrictions

[2021-12-14 18:06] brk3 commented on #85239
Hi @SrijitBose-MSFT thanks for the reply. In my case I'm not behind a proxy, so none of the symptoms listed in the section above would have alerted me to this cause.

[2021-12-14 18:13] jesperkristensen commented on #85150
Actually, it starts and stops working on and off. It is tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1745600

[2021-12-14 18:29] shashishailaj commented on #84638
@bigkangji We have requested the content team to review and update any screenshots as needed .

[2021-12-14 18:30] shashishailaj commented on #84248
@v-hagamp @jeevansd any update on this ?

[2021-12-14 18:34] dj-teck opened #85261 "bug: import of a registry - nginx - for private AKS clusters in this case - was failing using the commands provided in the docs"
---
#### Document Details
These docs need to be updated - Happy to make the changes and submit a PR if it helps.

When testing this on OSX in VScode using the az-cli I ran into an error where it was saying resource and type no found in the subscription where the subscription was wrong. In looking at the examples below I changed my command from "--name/--source/--image" to "--image/--name/--source"

[2021-12-14 18:39] Heloiseboanerges commented on #85187
Hi! sorry, the link is for the azure stack documentation:

https://docs.microsoft.com/en-gb/azure-stack/operator/azure-stack-redhat-create-upload-vhd?view=azs-2108

regards!

[2021-12-14 18:45] JamesTran-MSFT commented on #85259
@mvisosky
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-14 18:48] jeevansd commented on #85220
@comicrr Note that the plugin does support all the version of 6.x, 7.x and 8.x Please dont go with the assumption by name.
We have resolve this bug in the latest plugin. So please use the updated version of the plugin and you should not face this issue again.

[2021-12-14 18:50] gamullen opened #85262 "Better Way to Access Private GitHub Repo"
I wrote a blog with a more secure way to access a private GitHub repo. Might want to reference it.

https://techcommunity.microsoft.com/t5/azure-architecture-blog/creating-a-custom-and-secure-azure-portal-offering/ba-p/3038344

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43bf1e44-5555-8794-3ec0-84b5cc22e83d
* Version

[2021-12-14 18:57] SatishBoddu-MSFT commented on #85231
Hello [@yertaylan67](https://github.com/yertaylan67)
I have assigned the issue to the content author for further review.

[2021-12-14 19:00] jasongroce commented on #80835
Thank you for filing this issue! We are still working on the best way to incorporate the feedback into the docs and have moved the content of this issue into our internal tracking database for further research. #please-close

[2021-12-14 19:00] #80835 closed

[2021-12-14 19:00] jasongroce commented on #80373
Thank you for filing this issue! We are still working on the best way to incorporate the feedback into the docs and have moved the content of this issue into our internal tracking database for further research. #please-close

[2021-12-14 19:00] #80373 closed

[2021-12-14 19:02] j82w opened #85263 "~ must be escaped"
Patch operation is based on the [RFC spec](https://www.rfc-editor.org/rfc/rfc6902#appendix-A.14). To escape a ~ character you need to add 0 or a 1 to the end. This isn't documented anywhere. The error thrown by the backend is a generic 400 with no information.

Please add documentation and update the error from the service to explain it's a bad request because the path ended in a ~ that needs to b

[2021-12-14 19:10] jeevansd commented on #84248
@v-hagamp Please update the documentation and also update the gallery app for this Reply URL pattern.

[2021-12-14 19:13] VitalyMCT commented on #84479
Thanks @LitKnd

[2021-12-14 19:13] SatishBoddu-MSFT commented on #85232
Hello [@ezYakaEagle442](https://github.com/ezYakaEagle442)
I have assigned the issue to the content author for further review.

[2021-12-14 19:15] SatishBoddu-MSFT commented on #85233
Hello [@Digiroka](https://github.com/Digiroka)
I have assigned the issue to the content author for further review.

[2021-12-14 19:16] SatishBoddu-MSFT commented on #85236
Hello [@elnurrr](https://github.com/elnurrr)
I have assigned the issue to the content author for further review.

[2021-12-14 19:21] SrijitBose-MSFT commented on #85239
@dlepow can you please check if we can modify our documentation to address this concern?

[2021-12-14 19:25] DerekHerman-MSFT commented on #85236
@elnurrr Selecting the checkbox in the portal overrides this lock. The lock does not prevent containers from being deleted via other methods such as CLI, PowerShell, SDK.

[2021-12-14 19:26] SatishBoddu-MSFT commented on #85238
Hello [@vanessabruwer](https://github.com/vanessabruwer)
I have assigned the issue to the content author for further review.

[2021-12-14 19:26] #85236 closed

[2021-12-14 19:27] TLKG opened #85264 "Missing "Create HTTP Function" from F1"
I have all Extensions installed.

Followed step 1 created the static web app with Angular, and browse the website got "Hello World". Still inside this Angular app/folder in VSC I'm now following "Create the API", after F1, this is all I got missing "Create HTTP Function".

![image](https://user-images.githubusercontent.com/22269729/146065243-e88421a4-f1fd-41a2-bb16-b22df8255ee9.png)

![image](http

[2021-12-14 19:28] SatishBoddu-MSFT commented on #85228
Hello [@bppn](https://github.com/bppn)

Our SME will review your feedback soon.

[2021-12-14 19:30] amichel opened #85265 "Private link resource types table is not complete"
Private link resource types table is not complete. E.g. Data Lake File System Gen2/dfs/dfs_secondary is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is an Azure Private Endpoint?](https://docs

[2021-12-14 19:33] SatishBoddu-MSFT commented on #84832
Hello @stevemunk Thanks for helping in this matter.

[2021-12-14 19:40] SatishBoddu-MSFT commented on #85242
Hello [@gzmrst-sr](https://github.com/gzmrst-sr)
I have assigned the issue to the content author for further review.

[2021-12-14 19:47] SrijitBose-MSFT commented on #85235
@SnoWolfT , thank you for sharing your concern.

The command you have shared makes use of `Azure CNI` network plugin with the AKS cluster:
[code]
However, the document link in the metadata refers to "Bring your own subnet and route table with `kubenet`"

Can you please share the specific network plugin and the corresponding document that pertains to your query?

[2021-12-14 19:47] TLKG commented on #85264
Solved it by typing in "Azure Static Web Apps" will filter and have all options with the prefix listed out.

[2021-12-14 19:47] #85264 closed

[2021-12-14 19:47] alhieng opened #85266 "REST API example"
Hello Text-2-Speech Team,

I have been trying to follow the directions using this article and having difficulty.  I would like to use Logic Apps to make REST API calls to coordinate the described Long Audio workflow.  Unfortunately, the documentation does not show any REST API examples.  Is it possible to update this documentation to include this type of example and/or just the minimal REST API pa

[2021-12-14 19:48] SatishBoddu-MSFT commented on #85247
Hello [@thommck](https://github.com/thommck)
I have assigned the issue to the content author for further review.

[2021-12-14 19:48] HitenBhavsarMSFT opened #85267 "RAC Oracle is not supported with Auto IR."
Please add in the notes section that Oracle RAC does not support Auto-IR

For RAC oracle need to have SH-IR with a generic ODBC driver.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aabe9a80-b786-fa4e-40ee-7b0dd6bfa81c
* Version Independent ID: fd7d478c-c2d0-f0f1-3cad-ce5233417ac6
* Content: [Copy data to and from Ora

[2021-12-14 19:49] SatishBoddu-MSFT commented on #85248
Hello [@ksaye](https://github.com/ksaye) Thanks for the feedback! 
I have assigned the issue to the content author for further review.

[2021-12-14 19:53] SatishBoddu-MSFT commented on #85249
Hello [@yertaylan67](https://github.com/yertaylan67)
I have assigned the issue to the content author for further review.

[2021-12-14 19:55] SatishBoddu-MSFT commented on #85253
Hello [@AlexMasson](https://github.com/AlexMasson)
I have assigned the issue to the content author for further review.

[2021-12-14 19:56] SatishBoddu-MSFT commented on #85257
Hello [@ankit-db](https://github.com/ankit-db) Thanks for the query!

Our SME will review and get back soon.

[2021-12-14 19:59] SatishBoddu-MSFT commented on #85261
Hello [@dj-teck](https://github.com/dj-teck)

Our SME will review your feedback soon.

[2021-12-14 20:04] JoshLove-msft opened #85268 "IoTHub trigger should mention that Identity is not supported"
In https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-iot-trigger?tabs=csharp#identity-based-connections, Identity based connections are described in the same way for the IoT trigger article as they are for the Event Hub trigger. It looks like we just pull in the entire Event Hubs content - https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-function

[2021-12-14 20:04] JoshLove-msft commented on #85268
/cc @scottaddie

[2021-12-14 20:13] MSEvanhi commented on #85228
https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/tutorial-create-managed-app-with-custom-provider

The above documentation covers creating a custom provider and managed app to perform actions without touching an inner resource. Calls that at prefixed with 'custom', like 'customping' in the example will be sent to the custom provider named 'public' to invoke the 'p

[2021-12-14 20:21] MonikaReddy-MSFT commented on #85228
@MSEvanhi  - Thank you for providing your insights.
@bppn - I hope @MSEvanhihas answered your question.
We have added this in our backlog and will be picked up based on the priority. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-14 20:21] #85228 closed

[2021-12-14 20:24] MonikaReddy-MSFT commented on #85200
@ababdul - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-14 20:24] #85200 closed

[2021-12-14 20:25] tspearconquest commented on #84844
We also have an interest in securing this key so that we can restrict or outright prevent its use.

[2021-12-14 20:26] AntonioVT commented on #85257
Hi @ankit-db , I believe what you're looking for is [Runs - Get Log Sas Url](https://docs.microsoft.com/en-us/rest/api/containerregistry/runs/get-log-sas-url) REST API operation.
This will get `logLink` or `logArtifactLink` property in the response, which will contain a URL where you can access the logs.

Hope this helps, please let us know if the issue is resolved. Thanks!

[2021-12-14 20:27] SrijitBose-MSFT commented on #85083
@deangarcia , thank you for your reply. According to the [Azure Container Instances documentation](https://docs.microsoft.com/en-us/azure/container-instances/):

So if you are trying a Docker swarm architecture, then I would recommend checking out [this solution](https://azure.microsoft.com/en-in/blog/docker-swarm-clusters-on-azure/).

----
Hope this helps!

[2021-12-14 20:34] himanshusinha-msft commented on #85267
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-12-14 20:44] yahorsi opened #85270 "Extend the page to cover Azure Static Web Apps"
The page describes how to enable CDN for the Azure Static Site that is based on the storage account, please extend it to cover newer option - Azure Static Web Apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8772b2a5-6b28-9d91-5fd4-e125d85126c6
* Version Independent ID: 0a58807a-e274-7833-7845-bed7ebaaf1bc
* Content

[2021-12-14 20:45] #83872 closed

[2021-12-14 20:56] spelluru commented on #84844
You restrict access to the namespace using the following methods right now:

Restrict access to specific IP addresses:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-ip-filtering

Restrict access to specific virtual networks:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-service-endpoints

and also allow access via private endpoints
https://docs

[2021-12-14 21:03] simonkurtz-MSFT opened #85273 "Restructure "Create a root CA certificate""
Specifically, in the [_Create a Root Certificate and self-sign it_](https://review.docs.microsoft.com/en-us/azure/application-gateway/self-signed-certificates?branch=master#create-a-root-certificate-and-self-sign-it) section, the screenshot should be moved up as it pertains to the generation of the CSR, not the creation of the root certificate.

---
#### Document Details

⚠ *Do not edit this secti

[2021-12-14 21:16] ShaXam-King opened #85275 "Missing a word in the highlighted section"
It looks like the word "feature" is supposed to be inserted between "its" and "are". (Not throwing shade - I do it all the time :-) )

In the highlighted note it reads:
Even though Microsoft Defender for servers is designed to protect servers, most of its are supported for Windows 10 machines. One feature that isn't currently supported is Defender for Cloud's integrated EDR solution: Microsoft Def

[2021-12-14 21:17] scout208 opened #85276 "Instructions For Individual Enrollment for Connecting a Device to IoT Central x509 Certificates Seem Out-of-Date"
The steps under [Run a sample individual enrollment device](https://docs.microsoft.com/en-us/azure/iot-central/core/how-to-connect-devices-x509?pivots=programming-language-csharp#run-a-sample-individual-enrollment-device) cannot be run because it seems like the `azure-iot-sdk-node` samples folder has changed and doesn't include the `pnp` folder anymore. It would be helpful to have these instructio

[2021-12-14 21:21] laujan commented on #85157
Hi @abdisa.
Thank you for your feedback.
Please let us know the language you would like added to the Translator service.
Thanks again!

[2021-12-14 21:33] LitKnd commented on #82815
Hi @itskritibhardwaj ,

Just checking in if you have any more info on this issue, per @MladjoA 's questions?

Thanks very much,
Kendra from the SQL Docs team

[2021-12-14 21:36] abdisa commented on #85157
You're welcome!

*Afaan Oromo (Oromo language)*

On Wed, Dec 15, 2021 at 12:22 AM la ***@***.***> wrote:

--

*Dhimma keenyaaf teennee nama biraa eeguun salphina!*

--

Nagaa Wajjiin | *Kind Regards*

*Abdisa Bencha Jara*

*IT Specialist[ICT Trainer/Consultant, Web&App Design, Software
development, Digital marketing Consultant]*

*Founder/Managing Director at oroict.com <http://oroict.com/>, ADM
<

[2021-12-14 21:40] WilliamDAssafMSFT commented on #84376
#please-close

[2021-12-14 21:41] WilliamDAssafMSFT commented on #84376
#assign:williamdassafMSFT

[2021-12-14 21:41] MashaMSFT commented on #73668
Hi @thommck , thanks for contacting Microsoft! The documentation has been updated so we'll close out this Git Issue for the time being. Please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close
#reassign:emlisa

[2021-12-14 21:43] JohnDelisle opened #85277 "Cosmos with CMK in KeyVault, where KV uses Private Endpoint"
I'm wondering how you would go about configuring Cosmos to use a CMK pulled from a KeyVault, where the KeyVault uses a Private Endpoint.

Can Cosmos somehow access a KeyVault using Private Endpoint?  Or is this an incompatible scenario?

Can you please add this to your documentation - PE's are becoming increasingly popular.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-12-14 21:49] MashaMSFT commented on #84354
Hi @Yuki-Nishio , thanks for bringing this to our attention! The issue is resolved so we'll close out this Git Issue. Please feel free to comment should you need anything further.

Thanks again for reaching out and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-12-14 21:49] #84354 closed

[2021-12-14 21:57] ClaudioMerola opened #85278 "The word "provide" is duplicated"
In the last box on the bottom of the page:

"You must provide provide a Standard SKU public IPv4 address resource"

The word "provide" is duplicated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 205e28b5-42c0-0966-d960-a88d5d84d271
* Version Independent ID: 2f167b82-a78d-7c4c-7f99-b44c96ef008c
* Content: [Azure API Ma

[2021-12-14 22:02] porkamizeria opened #85280 "DM-Crypt or BitLocker?"
Hey Guys!

There seems to be a small typo on this page.
Under _Upload encrypted VHD to an Azure storage account_ section the sentence states:

Since this article is for Windows shouldn't this read

Cheers,
Hope this helps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6624ac60-ac29-5bec-a6af-cb5a6f482c21
* Version Inde

[2021-12-14 22:06] WilliamDAssafMSFT commented on #84205
Thanks @Drkjr92, nice catch! We'll have this image updated right away.
#reassign:williamdassafMSFT
#please-close

[2021-12-14 22:06] #84205 closed

[2021-12-14 22:12] SatishBoddu-MSFT commented on #85262
Hello [@gamullen](https://github.com/gamullen)
I have assigned the issue to the content author for further review.

[2021-12-14 22:16] SatishBoddu-MSFT commented on #85263
Hello [@j82w](https://github.com/j82w)
I have assigned the issue to the content author for further review.

[2021-12-14 22:22] SatishBoddu-MSFT commented on #85265
Hello [@amichel](https://github.com/amichel)
I have assigned the issue to the content author for further review.

[2021-12-14 22:22] himanshusinha-msft commented on #84904
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-12-14 22:24] SatishBoddu-MSFT commented on #85266
[@alhieng](https://github.com/alhieng) Thanks for sharing this Doc-Idea.

Our SME will review the feedback.

[2021-12-14 22:27] WilliamDAssafMSFT commented on #82746
#reassign:williamdassafmsft

[2021-12-14 22:32] LitKnd commented on #83668
Hi,

I believe that this issue is resolved, so I am going to close it out. Please let us know if you have any questions as per the thread above.

Thanks,
Kendra from the SQL Docs Team

#please-close

[2021-12-14 22:32] #83668 closed

[2021-12-14 22:44] SatishBoddu-MSFT commented on #85268
Hello
[@JoshLove-msft](https://github.com/JoshLove-msft)

I have assigned the issue to the content author for further actions.

[2021-12-14 22:46] SatishBoddu-MSFT commented on #85270
Hello [@yahorsi](https://github.com/yahorsi)

I have assigned the issue to the content author for further review.

[2021-12-14 22:50] SatishBoddu-MSFT commented on #85273
Hello [@simonkurtz-MSFT](https://github.com/simonkurtz-MSFT)
I have assigned the issue to the content author for further actions.

[2021-12-14 22:51] SatishBoddu-MSFT commented on #85275
Hello [@ShaXam-King](https://github.com/ShaXam-King)
I have assigned the issue to the content author for further review.

[2021-12-14 22:57] James-Hamil-MSFT commented on #84902
Hi @JBines , Cloud sync supports 150,000 objects per AD domain per the following table:  https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/what-is-cloud-sync#comparison-between-azure-ad-connect-and-cloud-sync

Hope this helps,
James

[2021-12-14 22:57] #84902 closed

[2021-12-14 22:58] krallice opened #85282 "Documented Property Name "BlobTier" incorrect"
Hi,

The documented property name of "BlobTier" is incorrect, according to sniffing my browser's request, the value is actually "Tier"

/subscriptions/97f3768f-9c10-476a-973b-fcadf178d70a/resourceGroups/sjr-wayward-rg/providers/Microsoft.Storage/storageAccounts/sjrgebrg2v52bv6s/blobServices/default/providers/microsoft.Insights/metrics?timespan=2021-12-13T22:00:00.000Z/2021-12-14T23:00:00.000Z&inte

[2021-12-14 22:59] SatishBoddu-MSFT commented on #85276
Hello [@scout208](https://github.com/scout208) Thanks for the feedback!
I have assigned the issue to the content author for further action.
The folder '**pnp**' is missing as per the documentation, and also the **pnpTemperatureController.js file name is changed.**

![](data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA24AAACTCAIAAAB5191qAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdv

[2021-12-14 23:00] SatishBoddu-MSFT commented on #85276
The downloaded SDK folder looks like below.
![image](https://user-images.githubusercontent.com/62923178/146092906-8674ea02-737b-49d4-bdc9-8bec5ea02302.png)

![image](https://user-images.githubusercontent.com/62923178/146092918-c9faaf23-9f50-4d6e-b2b3-ccc22d224017.png)

[2021-12-14 23:09] SatishBoddu-MSFT commented on #85277
Hello [@JohnDelisle](https://github.com/JohnDelisle)
I have assigned the issue to the content author for further review.

[2021-12-14 23:13] TLKG opened #85283 "http://localhost:4280/ does not return a thing"
For [Start the CLI](https://docs.microsoft.com/en-us/azure/static-web-apps/add-api?tabs=angular#start-the-cli), `http://localhost:4280/` page is blank, even hardcoded url in app.component.ts won't return a thing, seems not calling API
[code]
![image](https://user-images.githubusercontent.com/22269729/146093448-f1ee02e9-963f-4418-8984-55d1bb6a983a.png)

but `http://localhost:7071/api/message` retur

[2021-12-14 23:15] SatishBoddu-MSFT commented on #85278
[@ClaudioMerola](https://github.com/ClaudioMerola) Thanks for finding this typo.

[2021-12-14 23:17] SatishBoddu-MSFT commented on #85280
Hello [@porkamizeria](https://github.com/porkamizeria)
I have assigned the issue to the content author for further review.

[2021-12-14 23:32] SatishBoddu-MSFT commented on #85282
Hello [@krallice](https://github.com/krallice)
I have assigned the issue to the content author for further review.

[2021-12-14 23:33] SatishBoddu-MSFT commented on #85283
Hello [@TLKG](https://github.com/TLKG)

Our SME will review your query.

[2021-12-14 23:46] freeone3000 opened #85284 "Go and Rust samples are not the same"
The Go sample contains a call to logging, and serves as an example for logging as well as launching a function. The Rust call is missing this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c524efc8-3aef-53b3-732b-6837d8f1c7a7
* Version Independent ID: a5d8005d-4431-a2b6-34bf-c463b76618c2
* Content: [Create a function

[2021-12-14 23:51] MladjoA commented on #84293
@scoriani , Silvano, can you help with this combination of cursor and external table? Thanks.

[2021-12-15 00:01] dvasdekis opened #85285 "Should show Powershell or AzureCLI code necessary to display the role definition properties"
There is example output from Powershell and Azure CLI at the top of the page that looks like
[code]
But what isn't provided is the Powershell or AzureCLI code necessary to display this output! This would be extremely helpful!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0091902-7cb0-8dc3-2a7a-dc644f39a961
* Version

[2021-12-15 00:12] JamesTran-MSFT commented on #85285
@dvasdekis
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-15 00:17] MashaMSFT commented on #83650
Hi @gaikovoi , thanks for contacting Microsoft! It looks like this was already submitted to the PG :) https://feedback.azure.com/d365community/idea/c284cc9f-3425-ec11-b6e6-000d3a4f0f84

Since it's already on their radar, I'll proceed with closing out this Git Issue. Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close
#reassign:

[2021-12-15 00:17] #83650 closed

[2021-12-15 00:22] normesta commented on #85282
Thank you @krallice. You are correct. I've updated the content. The change should appear live by tomorrow 10 AM. Thanks again!

#please-close

[2021-12-15 00:22] #85282 closed

[2021-12-15 00:31] #84798 closed

[2021-12-15 00:33] James-Hamil-MSFT commented on #85152
Hi @xrousseau , thank you for bringing this to our attention. I will work with the author and update the document.

Best,
James

[2021-12-15 00:44] normesta commented on #85270
Thank you for the suggestion @yahorsi. The focus of this specific article is adding CDN for a static site and is specific to Azure Storage so it won't likely fit with this focus. I'd recommend posting this suggestion to an article in the Azure Web Apps content collection here - https://docs.microsoft.com/en-us/azure/static-web-apps/overview or with the CDN collection of content. That collection of

[2021-12-15 00:45] dmorrison-msft opened #85288 "Accessing RHUI endpoints in Forced Tunneling scenario - MSFT Internal Employee Submission"
**Intro/Context**

Hello! My name is Dakota Morrison (MSFT alias dmorrison). First time submitting doc feedback, so apologies if there's a better/dedicated process for internal MSFT employee feedback that I've missed.

My role is a CXP ACE, and feedback for this item was originally submitted as a Unified Voice of the Customer request to drive development of a ServiceTag (or similar) feature for al

[2021-12-15 00:56] GitaraniSharma-MSFT commented on #85203
@crashXJ , I do not see any image attached. Could you try to upload the screenshot again?

[2021-12-15 01:25] alhieng commented on #85266
Is there any Long Audio API documentation I can use immediately?  I am hitting a road block and not sure how to proceed.  I am simply trying to use a PostMan to make an API call and uncertain of the required parameters.  The examples show programmatic methods, but don't provide API documentation and required fields/values.

From: SatishBoddu ***@***.***>
Sent: Tuesday, December 14, 2021 2:24 PM
To

[2021-12-15 01:44] StaceyWA commented on #85171
@SaiKishor-MSFT Thank you. May I know if there is any update on this? Thank you. Looking forward to hearing from you.

[2021-12-15 02:42] shawnz commented on #85185
Unchecking that box and restarting firefox didn't fix the issue for me. It still persists even with that box unchecked and having restarted firefox.

[2021-12-15 03:21] #85126 closed

[2021-12-15 03:53] AnyGong commented on #82151
@YutongTie-MSFT @bingjie2680  I also encountered the same problem

[2021-12-15 04:09] VikasPullagura-MSFT commented on #85288
@dmorrison-msft
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-15 04:10] VikasPullagura-MSFT commented on #85288
@mamccrea
Can you please check and add your comments on this doc update request as applicable.

[2021-12-15 04:14] mamccrea commented on #85288
Thanks for bringing this to our attention, @dmorrison-msft
@cynthn can you please take a look?

[2021-12-15 04:15] alexmarshall132 opened #85290 "Quick start cannot be run as Eclipse plug in is no longer available"
The Eclipse plugin page for Microsoft has been turned off:

Error 403: This webapp is stopped.

Since the Eclipse plugin cannot be obtained, this quick start can no longer be run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867a5a41-6a54-7c92-6bb3-65eec3159076
* Version Independent ID: f83a57ba-66fc-96a4-9f69-6bb299

[2021-12-15 04:48] KrishnaG-MSFT commented on #85046
Yes in this scenario it can be clarified as devices instead of servers to avoid confusion if any. We have verified and updated the document as required. The change should reflect soon i.e., in less than 24 hours. Thanks again!

[2021-12-15 04:48] #85046 closed

[2021-12-15 04:54] #85278 closed

[2021-12-15 04:55] spxl opened #85291 "Unexplained SaaS appearing in Service comparison diagram"
Under Service comparison:

The diagram has both "PaaS" and "SaaS" boxes atop the "Azure SQL Databases" block, but SaaS is not mentioned anywhere in the text.

Also, regarding the following section:

It isn't clear why it is PaaS and why it is not SaaS. Some further explanation would be helpful, given some contrary views in the wild, and the apparent existence of DBSaaS and DBPaaS.

---
#### Docume

[2021-12-15 05:31] RohitMungi-MSFT commented on #85216
@shuped The document is now fixed. Thanks for the feedback. We will now proceed to close this thread.

[2021-12-15 05:31] #85216 closed

[2021-12-15 05:36] fswane commented on #85217
Thanks @shashishailaj for the response.  I am more than happy to take this query to a more appropriate channel (I have tried various emails to absiotfeedback@microsoft.com which I thought was the correct place without any response).

Should I now post it here

[https://docs.microsoft.com/en-us/answers/topics/25493/azure-iot-edge.html
](https://docs.microsoft.com/en-us/answers/topics/25493/azure-io

[2021-12-15 05:40] Bosch-Eli-Black commented on #70172
I'm a bit confused – The current script for Step 3 does have `$jsonEncoded` defined:

[code]

Does that mean that this has been fixed?

[2021-12-15 05:41] AnyGong commented on #82151
![20211215133818](https://user-images.githubusercontent.com/9441196/146129914-7ce68e0d-256f-4b7d-9109-355195feb854.jpg)
@YutongTie-MSFT @bingjie2680
I have found the cause of the problem. After reading the source code, I found that `null` should be passed. If `undefined` is passed, it will be re-defaulted and the test is valid.

[2021-12-15 05:43] Bosch-Eli-Black commented on #78642
We're running into the same issue. Is this issue (https://github.com/MicrosoftDocs/azure-docs/issues/78642) actually a different issue than https://github.com/MicrosoftDocs/azure-docs/issues/70172, since https://github.com/MicrosoftDocs/azure-docs/issues/70172 is about a missing `$jsonEncoded` variable and this issue is about the line `[System.String]$jsonObject = $TableForJSON | ConvertTo-Json` f

[2021-12-15 05:53] MughundhanRaveendran-MSFT commented on #85061
@mikeblakeuk , It should be under the properties as mentioned in the article. Are you facing any issues ?

[2021-12-15 06:00] Bosch-Eli-Black commented on #78642
Ah, nvm! Sorry for the noise.

[2021-12-15 06:09] VikasPullagura-MSFT opened #85293 "Feature 'Azure Spot Virtual Machines for virtual machine scale sets' not supported in Azure China 21Vianet due to dependency"
Feature does not support in Azure China 21Vianet.

Azure Spot Virtual Machine is not supported in China Cloud. It will reports internal error when add spot agent pool in china cloud. Can we add one description on this limitation?
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/use-spot#limitations

https://github.com/MicrosoftDocs/azure-docs/issues/85223#issuecomment-993469409
--

[2021-12-15 06:10] VikasPullagura-MSFT commented on #85223
@fseldow Apologies for the confusion. I have notified document author to get this updated [here](https://github.com/MicrosoftDocs/azure-docs/issues/85293).

[2021-12-15 06:10] VikasPullagura-MSFT commented on #85293
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2021-12-15 06:12] VikasPullagura-MSFT commented on #85290
@alexmarshall132
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-12-15 06:12] VikasPullagura-MSFT commented on #85290
@sukanyamsft
Can you please check and add your comments on this doc update request as applicable.

[2021-12-15 06:20] JackStromberg commented on #83727
Thank you for reporting this @jasonpanggit!  We have updated the document with the correct calculation; should be available within the next 24 hours.

-Jack
#please-close

[2021-12-15 06:20] #83727 closed

[2021-12-15 06:21] MughundhanRaveendran-MSFT commented on #85033
@georgeOsdDev , Azure functions was built on top of [Azure webjobs](https://github.com/Azure/azure-webjobs-sdk) SDK so there are some appsettings that will have webjobs name in it eventhough we cant run webjobs in Functions.

Settings that are swapped are Non slot-specific settings and settings that arent swapped are slot specific settings.

I hope this helps. Please let me know if you have any fu

[2021-12-15 06:23] comicrr commented on #85220
Thanks for the explanation @jeevansd , i think the issue now has been clarified

[2021-12-15 06:23] #85220 closed

[2021-12-15 06:27] Karma-AK opened #85294 "Extending MSDOS partitions on Azure"
Do you have instructions on extending or adding disk for MSDOS type partitions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cea4948f-a937-0543-ced0-e8db91ead17c
* Version Independent ID: 62ac2429-6d59-8bfb-2731-127eb2aba615
* Content: [Resize an OS disk that has a GPT partition - Azure Virtual Machines](https://docs

[2021-12-15 06:28] JackStromberg commented on #83944
HTTP2 enablement can be useful in some scenarios and not in others.  Generally speaking, it's useful in most cases where you have high latency connectivity (internet -> AppGW).  If you have Application Gateway deployed and are mostly using listeners internally, you likely may not see much performance gain on low latency connections.  As we introduce new features and functionality, these defaults w

[2021-12-15 06:28] #83944 closed

[2021-12-15 06:37] PramodValavala-MSFT commented on #83838
@randyramig Apologies for the delay on this one! Looks like this is the current way the VS Code extension handles empty values for non-required settings for bindings. The JSON snippet mentioned in the doc is the one to use, removing any extra settings that may have been added.

We have worked up a PR to clearly state the removal of any extra settings in the statement above the snippet, which once

[2021-12-15 06:55] Bosch-Eli-Black commented on #70172
I wonder if a workaround might be to manually create a Key Vault secret and set its value to the result of this script?

[code]

[2021-12-15 07:04] georgeOsdDev commented on #85033
@MughundhanRaveendran-MSFT
Thank you reply.
I know Azure functions was built on top of Azure webjobs SDK.
But I think when it says "Webjobs content", it can be misunderstand as pointing to `\site\wwwroot\app_data\Jobs` for example `run.bat`
There are also `App settings (can be configured to stick to a slot)` in same list.
<img width="333" alt="image" src="https://user-images.githubusercontent.com/

[2021-12-15 07:07] Vikram1988 commented on #85111
@Glaubscher you can find the unused Azure Migrate key for an appliance by using the steps provided here: https://docs.microsoft.com/en-us/azure/migrate/common-questions-appliance#how-do-i-find-the-azure-migrate-appliances-registered-to-the-project

[2021-12-15 07:37] JackStromberg commented on #64856
Apologies for the slow response on this.  Just tested this scenario via Az CLI version 2.28.0 and was successfully able to a new gateway via the following command: `az network application-gateway create -n JacksGatweay -l eastus -g TestRG --sku Standard_v2 --public-ip-address myPublicIp --vnet-name MyVnet --subnet AppGWSubnet`   For future issue reports specific to Azure CLI, you can open an issue

[2021-12-15 07:37] #64856 closed

[2021-12-15 07:46] JBines commented on #84902
Great 👍 thanks for the information I think I won't be the only one to find that useful ☺️
B
J

[2021-12-15 08:04] hisasima opened #85297 "IDPS of inbound does not work well."
I read following sentence but I confirmed that IDPS of inbound did not work well. Could you add the limitation into this document ?

https://docs.microsoft.com/en-us/azure/firewall/premium-features#idps
IDPS can be applied to inbound, spoke-to-spoke (East-West), and outbound traffic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-12-15 08:08] GitaraniSharma-MSFT commented on #85297
@hisasima , thank you for your feedback. We'll investigate this and get back to you shortly!

[2021-12-15 08:12] AnuragSingh-MSFT commented on #85123
Hi @johnsirmon, we will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-12-15 08:12] #85123 closed

[2021-12-15 08:24] AIGARSJ commented on #84291
Thank you! It's works!

[2021-12-15 08:26] jjindrich opened #85298 "Amortized costs for PAYG subscription"
Hi, please can you make it clear in documentation if Amortized costs view is supported for PAYG subscription ?
From my experience we are getting same data int Amortized cost view as Actual costs.
Docs link https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/cost-analysis-common-uses#view-your-reservation-charges

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-12-15 08:32] guru-elearnings opened #85299 "Microsoft.AnalysisServices.AdomdClient.retail.amd64 NuGet support for .NET Core. Unable to make connection"
Hi

We are trying to connect and execute MDX query in .NET CORE.
We have referenced this Microsoft.AnalysisServices.AdomdClient.retail.amd64 Nuget package for connecting and executing MDX query

=========================

var environmentConnectionString = @"Provider=MSOLAP;Data Source=XYZ-SQL-ABC;Initial Catalog=XYZ_OLAP;User ID=xxxxx;Password=xxxxxx;Persist Security Info=True;Update Isolation Lev

[2021-12-15 08:41] ezYakaEagle442 opened #85300 "Add Authentication section in the Dapr FAQ"
Please add a Link to the Dapr Authentication FAQ on Azure at [https://docs.dapr.io/developing-applications/integrations/azure/authenticating-azure/#using-managed-service-identities](https://docs.dapr.io/developing-applications/integrations/azure/authenticating-azure/#using-managed-service-identities)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-12-15 08:43] molotch opened #85301 "Unclear instructions"
In the first paragraph it says:

But then the section **ADLS Gen2 storage with linked services** says:

Is this the default behaviour instead of the passthrough when the resource is a linked service? Or just when the spark session is configured with the example settings? If so can anyone break out of their user permissions by configuring the spark session and use the linked service account key/man

[2021-12-15 09:10] v-hagamp commented on #78510
Issue resolved.
#please-close

[2021-12-15 09:10] #78510 closed

[2021-12-15 09:27] rnd2822 commented on #85185
Disabling this option had no effect for me. I had to disable OSCP Stapling completely as described here:
https://www.askvg.com/mozilla-pkix-error-ocsp-response-for-cert-missing-error-code-on-microsoft-websites-in-firefox/

[2021-12-15 09:36] ShaikMaheer-MSFT commented on #85042
@mssaperla / @leifbro Could you please validate URLs for UK South. It seems they are referring to UK West. Kindly review and update doc as appropriate. Thank you.
![image](https://user-images.githubusercontent.com/84302758/146161360-bf31aee6-3ad6-4261-bf3e-3a52e07ea7d6.png)

[2021-12-15 09:51] Ahalwagy opened #85304 "Source Attribute"
[how can I get the source attribute or Identity issuer attribute using powershell or graph API, as there are a demand to filter guest users based on source type.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6eb6697-4ace-adb6-c922-df8a9a485283
* Version Independent ID: fd4ce34d-d55e-92af-d71a-625210ad3a63
* Content:

[2021-12-15 09:55] SadiqhAhmed-MSFT commented on #85298
@jjindrich Thank you for your post. We will look into it and get back to you soon.

[2021-12-15 09:58] goenning commented on #40375
@duongau was the new new article published? I'm having a similar issue.

[2021-12-15 09:58] goenning commented on #40375
@kamilzzz did you find an answer to your query?

[2021-12-15 10:16] dominicbetts commented on #85225
Hi @simonpucher - thanks for reporting this - I'm looking into this to understand why the content the link points to is unavailable. I'll update you as soon as I have any more information.

[2021-12-15 10:19] lindacmsheard opened #85305 "Read OCR Container GA Status"
The GA status of the Computer Vision Read OCR container needs to be updated - still says gated preview.

Confirmed via [wwazr thread](https://wwcarchive.microsoft.com/viewthread/AAQkAGQwZWY5MDczLWEwYTEtNDk5NS1hYjZhLThhNDU3ZDhkYTAxMQAQAPC_nMxyiddCls_jeauoJvw=) - page update may already be picked up as a result but putting here for completeness!

---
#### Document Details

⚠ *Do not edit this sectio

[2021-12-15 10:27] SonXuanNguyen2k opened #85306 "The description of an availability zone should be more lucid"
[Enter feedback here]
In the doc, there is this description

After reading this description, I have two questions:

- Is each availability zone or each data center equipped with its own independent power, cooling, and networking infrastructure?
- How close are the data centers within an availability zone to each other?

Please add the answers to the two questions to the doc, thanks

---
#### Docum

[2021-12-15 10:32] manishmsfte commented on #84261
OutE is a separate step which needs to be performed to get the list of edges. If the intent is just to get the Vertex, you can use g.V() but if it is needed to get to the edges then it is needed to be explicitly used the step g.V().OutE()

"outE | This property contains a list of out edges from a vertex."
- This statement is in the context of step outE, if you specify then you get.....

"Storing t

[2021-12-15 10:38] dominicbetts commented on #85276
Hi @scout28 - thanks for reporting this. I've updated the article to match the new structure of the GitHub repo - the changes should be live later today. I'll close this issue now, but feel free to reopen it if you have any follow questions.

#please-close

[2021-12-15 10:38] #85276 closed

[2021-12-15 10:43] huboo opened #85309 "Example Code: Help on Integrate Azure AD SSO with SAP Spartacus Storefront"
SAP introduced their Angular based storefront(SAP Spartacus) to embrace Cloud but the document of how to integrate SSO is lacking.

Although we have the example code of how to integrate with angular app it is still necessary for us(frontend developer whom do not familiar with angular deep layer logic but work on Spartacus second development) to have an example code of how to integrate with Spartac

[2021-12-15 10:58] bingjie2680 commented on #82151
True, this is apparently misaligned with the documenation, which is misleading. Please update the doc, @YutongTie-MSFT.
Thanks @AnyGong for finding the solution.

[2021-12-15 11:14] rifaterdemsahin commented on #57189
any updates mates?

[2021-12-15 11:17] #85306 closed

[2021-12-15 11:21] ram-msft commented on #85305
@lindacmsheard Thanks for the feedback! We will review and update accordingly.

[2021-12-15 11:29] william-li-nintex commented on #33417
Just found this thread and it's very helpful.

I am also using linux image with app service plan for Azure function, seems setting WEBSITE_TIME_ZONE to 'US/Pacific' works for me.

[2021-12-15 11:35] MayankBargali-MSFT commented on #85284
@freeone3000 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-15 11:52] GitaraniSharma-MSFT commented on #84291
@AIGARSJ , thank you for the update and glad to hear that it works now. I will assign the doc to the author for update.

@KumudD , could you please update this doc to include the step to get the additional tenant token for successful authentication between 2 different subscriptions belonging to 2 different tenants before creating the Vnet peering via ARM template?

[2021-12-15 12:04] GitaraniSharma-MSFT commented on #85096
@rahulksingh1994 , I'm following up on my previous comment. Could you please share your thoughts?

[2021-12-15 12:07] GitaraniSharma-MSFT commented on #85297
@hisasima , could you please provide some more details on what you referred as "IDPS of inbound does not work well"? Does it not work at all or is there some restriction? And how did you confirm this?

[2021-12-15 12:09] theheatDK opened #85310 "RoleAssignmentUpdateNotPermitted"
Hi,
Super article! One thing though :-)
The second time you run a role assignment it fails because it already exists.
It would be nice if this was addressed in the article.
If you use Azure DevOps to deploy Bicep this breaks the pipeline...
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ed13f8-74c2-d93f

[2021-12-15 12:11] AnuragSharma-MSFT commented on #85291
@spxl Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-12-15 12:31] MayankBargali-MSFT commented on #85125
@andrew-twigg Can you please retry to create your function app and confirm if you still observe the issue. I couldn't reproduce the issue at my end.

[2021-12-15 12:35] Karishma-Tiwari-MSFT commented on #85300
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-12-15 12:40] hajekj opened #85311 "How does "Request for specific period?" work?"
I am unable to find details about the "Request for specific period?" functionality when requesting access via a package.

Say the following scenario:

I have a [lifecycle](https://docs.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-access-package-create#lifecycle) configured for my policy to: _Expiration_ > _Number of days_ > _Assignments expire after (number of days)

[2021-12-15 12:56] peted70 opened #85312 "Bulk update CosmosDB Gremlin API"
I'm trying to work out if 'Bulk update CosmosDB Gremlin API' is a supported scenario using Java and if so which SDK/library to use. I have read these docs and linked ones a few times and it still seems ambiguous to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f942c792-655b-4174-a427-644108abd6d5
* Version Indepen

[2021-12-15 13:09] andrew-twigg commented on #85125
@MayankBargali-MSFT i do still get errors if i retry. If i run these commands...

[code]

Then this is the part of the trace i get which shows the errors...

[code]

[2021-12-15 13:10] ChrisSommers opened #85313 "No option to add secondary IPs"
I have a VM with 49 (yes!) secondary IP configurations/addresses that is being replicated with ASR.

Step 3 in the article shows "0 out of 3..." and a couple of buttons. However, for my VM, I do not see either of those things. It just says "No Secondary IP is configured".

Why is it not picking up the secondary IP addresses on this VM?

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-12-15 13:17] rahulksingh1994 commented on #85096
Hello Gitarani,
Apologies for the delay in getting back to you.
What I meant in my ask was simple-
To work with Floating IP in load balancer, we need virtual interfaces configured on the VMS in Backend, right?
But most of the time, user's are not aware on how to do that. Take me for example, I come from Network background and do not know how to create a virtual interface in VM.
So on the load bala

[2021-12-15 13:17] peted70 commented on #85312
To elaborate a little:
This page https://docs.microsoft.com/en-us/azure/cosmos-db/sql/bulk-executor-java which is focused on Java states that "Currently, the bulk executor library is supported only by Azure Cosmos DB SQL API and Gremlin API accounts.".  Anything to do with the Gremlin API then links to docs for .NET. When I look at docs for the Java SDK I don't see a Graph namespace there. So, I a

[2021-12-15 13:22] andreea7c3 opened #85315 "Encountering this very behavior after following the tutorial on microsoft docs"
@stubble2018  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

_Originally posted by @TravisCragg-MSFT in https://github.com/MicrosoftDocs/azure-docs/issues/75562#issuecomment-847394248_

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-12-15 13:28] andrePKI opened #85316 "Where is "Monitoring state"?"
I can't find the monitoring state values as listed [here]( https://docs.microsoft.com/en-us/azure/defender-for-cloud/troubleshooting-guide#monitoring-agent-health-issues). Where is Defender for Cloud is this shown? I see a `Monitoring agent` column on the **Inventory** blade, but nowhere is `Monitoring state`  to be found. Could this be added to this document, please?

---
#### Document Details

⚠

[2021-12-15 13:32] gomateus opened #85317 "Can you please clarify on this documentation if is it possible to have a system topic in one azure subscription and the datasource of that topic in another azure subscription"
[Enter feedback here]

Can you confirm if is it possible to have a system topic in one azure subscription and the datasource of that topic in another azure subscription
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4b070b6-e317-b0f4-0241-7a67b8a32b8c
* Version Independent ID: 37f9c491-0765-478c-ca68-7c7efe1bb3bd
* Con

[2021-12-15 13:34] shashishailaj commented on #84962
@mundayn  In your scenario you will need two licenses . The E5 license for the daily account of bob.smith@contoso.com  will not cover the PIM requirements for his Administrative Account

Since role is assigned via PIM to the account  'bob.smith@contoso.com' it will require to be licensed with a P2 . As per the article , any

- Users assigned as eligible to Azure AD or Azure roles managed using PIM

[2021-12-15 13:34] #84962 closed

[2021-12-15 13:36] shashishailaj commented on #84639
@memildin Could you please help in updating the screenshots ?

[2021-12-15 13:42] shashishailaj commented on #85309
@huboo Thank you for your feedback . We will investigate and update the thread.

[2021-12-15 13:52] shashishailaj commented on #85316
@andrePKI Thank you for your query . We will investigate and update the thread.

[2021-12-15 13:53] shashishailaj commented on #85311
@hajekj Thank you for your query . We will investigate and update the thread.

[2021-12-15 13:56] shane-kearns commented on #79765
Looks like this was updated in https://github.com/MicrosoftDocs/azure-docs/commit/86d06a84bbc0e573be4f81dad7fd8f2431177667

[2021-12-15 14:01] kabharati commented on #79765
Thanks for the confirmation @shane-kearns. I am going ahead and closing this issue. Please feel free to reach me if you need any further assistance.

[2021-12-15 14:01] kabharati commented on #79765
#Please-close

[2021-12-15 14:01] #79765 closed

[2021-12-15 14:03] SadiqhAhmed-MSFT commented on #85313
@ChrisSommers Thank you for your post. Could you please share the screenshot of the UI where it shows "No Secondary IP is configured"?

[2021-12-15 14:05] vacuvi opened #85320 "Refresh Token Max Inactive Time - 90 days"
# Refresh Token Max Inactive Time - 90 days

As per the document https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#refresh-and-session-token-lifetime-policy-properties:

"As of January 30, 2021 customers can not configure refresh and session token lifetimes. Azure Active Directory no longer honors refresh and session token configuration i

[2021-12-15 14:10] shashishailaj commented on #85309
@huboo Thank you for suggesting this. There are many JavaScript frameworks and it will be tricky to provide such code examples for each and every one hence we have provided a common which applies to SSO scenarios . However , we will take this request and submit an internal request for new sample on this . We can not provide a timeline on this at this point but once it is done the same will be adde

[2021-12-15 14:12] shashishailaj commented on #85304
@Ahalwagy Thank you for your query . We will investigate and update the thread.

[2021-12-15 14:15] shashishailaj commented on #85320
@vacuvi Thank you for your feedback . We will investigate and update the thread.

[2021-12-15 14:16] gaikovoi commented on #83650
Thank you @MashaMSFT !

[2021-12-15 14:20] hemanthmatam opened #85321 "HI,"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a6c4e2-702f-2b17-3e2d-c86f33b13beb
* Version Independent ID: 1e7811d8-668a-db98-34ca-eaf4d7ee8c1f
* Content: [Scale session hosts Azure Automation - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-scaling-script)
* Content Sourc

[2021-12-15 14:20] hemanthmatam opened #85322 "HI,When I try to create Automation account"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a6c4e2-702f-2b17-3e2d-c86f33b13beb
* Version Independent ID: 1e7811d8-668a-db98-34ca-eaf4d7ee8c1f
* Content: [Scale session hosts Azure Automation - Azure](https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-scaling-script)
* Content Sourc

[2021-12-15 14:22] roflemin opened #85323 "Issue with documentation"
This document is setting the wrong expectation, these are the old baseline with OMSagent, and not with Guest configuration. If the omsagent is not installed these command will not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccbe3c35-2c82-c7f5-7cce-94bdbb229ea6
* Version Independent ID: f0b228bb-9d07-dc6a-ff71-

[2021-12-15 14:22] shashishailaj commented on #85309
and

[2021-12-15 14:22] hemanthmatam opened #85324 "Error while creating Azure automation account"
Hi Team..When I try to create Azure Automation account I am getting below errors ,I tried adjusting Diff variable names also default names same error coming ..\CreateOrUpdateAzAutoAccount.ps1 @Params CreateOrUpdateAzAutoAccount.ps1: A parameter cannot be found that matches parameter name 'automationAccountName'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro