[2018-11-15 07:04] ml810326 commented on #18549
Thank you for @sergaz-msft and @sudhirap suggestions.
I have tried the blob endpoint  `http://imx6artigoa820:11002/testblob`
It shows the messages as below
`Containers:
{ Error: getaddrinfo ENOTFOUND imx6artigoa820 imx6artigoa820:11002
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:67:26)
  errno: 'ENOTFOUND',
  code: 'ENOTFOUND',
  syscall: 'getaddrinfo',
  hostname: 'imx6artigoa820',

[2018-11-15 07:14] LMtx commented on #18946
Hello @vhorne,

I created a pull request with this change: https://github.com/Azure/azure-docs-powershell-samples/pull/154

Greetings

[2018-11-15 07:24] AndyHerb opened #18973 "Troubleshooting code error"
Step 2, point 3 has an iex command which incorrectly spans two lines and is missing the closing quotes.  This means that the verification command users are being asked to run does not work.  It should be:

iex "$env:windir\system32\cscript.exe $env:windir\system32\slmgr.vbs /skms kms.core.windows.net:1688"

I've tried to modify and generate a pull request in GitHub however the action fails repeate

[2018-11-15 07:30] SnehaGunda commented on #16524
@prashanthmadi apologies for the delay in getting back on this issue, thanks for the feedback. As you said, the HTML version of the notebooks doesn't display the code directly. I uploaded the ipynb ans scala versions of the notebooks and updated the doc links to point to them. Above PR should have the fix.

[2018-11-15 07:32] genlin commented on #18973
@AndyHerb. Thanks for pointing out the problem. I have submitted a pull request for updating the command.  The issue will be closed when the pull request is merged.

[2018-11-15 07:45] oaks-view commented on #18277
Turns out the issue for me had to do with the account i was using to sign the transaction. Im not really sure what was wrong with the account though. But i created a new one and tried it out following the same steps, and transaction went successfully.

[2018-11-15 07:58] SnehaGunda commented on #16524
@tysonn thanks for sharing the Out-of-repo snippet references instructions. The links that corresponds to this Git issue require updating the format of the nodebooks, which I updated and added links. In each section we have included hardcoded code blocks, I will update them to the format you shared soon. will this issue as it's addressed. will handle the other markdown updates offline.

[2018-11-15 07:58] SnehaGunda commented on #16524
#please-close

[2018-11-15 08:11] wbpluto opened #18974 "Where is the REST API for translation service?"
Where is the REST API for translation service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6021ebc-4b2a-fbb3-84a4-1753b80442c3
* Version Independent ID: 4af2b683-7cc6-3aa4-eeb5-cf5a087094d1
* Content: [Speech Service REST APIs](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-apis)
* Co

[2018-11-15 08:15] dcbrown16 opened #18975 "Kernel updates"
We have a lot of cases recently asking about kernel updates. Is there any official guidance as to whether it is ok to update an existing VM to a new kernel version, as long as that kernel corresponds to a supported distribution?
I'm not sure if this would cause the VM to lose Azure-specific customizations to the kernel and if there is a good way to retain those.

---
#### Document Details

⚠ *Do n

[2018-11-15 08:38] aepsicom opened #18977 ""Take a tour of IoT Central "button is dead"
https://docs.microsoft.com/en-us/azure/iot-central/quick-deploy-iot-central#overview-iot-central-tour
"Take a tour of IoT Central "button is dead https://docs.microsoft.com/en-us/azure/iot-central/quick-deploy-iot-central#overview-iot-central-tour

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac080129-df96-f794-3397-9

[2018-11-15 08:39] Flodu31 opened #18978 "Password reset - On-premises integration"
Hi,
I can reset the password with password writeback, from the office portal, when I do a forgot password. I applied all right permissions.
But, in the Password reset menu in the Azure portal, I've the following message:
On-premises integration has not been enabled. Learn how to enable password writeback.
Any idea?
Thanks.
Florent

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-11-15 08:58] SnehaGunda commented on #17505
@HansWieserMS sorry about the long delay in getting back to you. Thanks for the feedback, that's a great suggestion. I have updated this doc with your suggestion. Azure DMS service will have support for migrating from MongoDB to Azure Cosmos DB MongoDB API accounts in future, not ETA yet. What that feature is available, you can migrate data using the Azure portal and the UI will have some messagin

[2018-11-15 08:59] SnehaGunda commented on #17505
@HansWieserMS we will now proceed to close this issue. Feel free to reopen if you have additional questions.

#please-close

[2018-11-15 09:03] chkindia opened #18979 "ASR: Outbound checks"
if the replication is between Azure (Source) to Azure (target) regions under what circumstances does the question of "Outbound connectivity for URLs" and "Outbound IP ranges" checks arise? all these tasks are performed within the Azure portal/boundaries itself right (based on the above wizard explanation)? so i'm assuming that inter-site replication within Azure is Open/seamless? Correct me if my

[2018-11-15 09:06] mcurko opened #18980 "How do you support a non-ASCII character set?"
When I run the example, non-ASCII characters are converted to ASCII ones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f23bdf-28be-1c14-f786-82ce78c60cfa
* Version Independent ID: 522daede-91b2-9b09-17eb-791bd0dd9bce
* Content: [Use the Azure portal to create a data factory pipeline](https://docs.microsoft.com/en-u

[2018-11-15 09:06] SnehaGunda commented on #18265
@IdiotLeon Hope Wenbin's response helps, we will now proceed to close this issue. Feel free to reopen if you have additional questions.

#please-close

[2018-11-15 09:10] top-wang commented on #18891
Same error msg met. Thanks for updating this doc in advance.

[2018-11-15 09:51] aepsicom opened #18981 "/home/pi/iot-hub-c-raspberrypi-client-app/main.c:9:45: fatal error: azure_c_shared_utility/xlogging.h: No such file or directory #include <azure_c_shared_utility/xlogging.h>"
hi
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-raspberry-pi-kit-c-get-started

cd ./iot-hub-c-raspberrypi-client-app
sudo chmod u+x setup.sh
sudo ./setup.sh

after this step I got this error .
Can you help me solving this ?
thanks

pipi@raspberrypi:~/iot-hub-c-raspberrypi-client-app $ sudo ./setup.sh
Hit:1 https://deb.nodesource.com/node_11.x stretch InRelease
Hit:2 http://archive.raspb

[2018-11-15 09:55] #18277 closed

[2018-11-15 10:14] santoshmallena opened #18982 "I need to understand clearly about app service slot"
Dear, Suppose if i have one wordpress application with azure mysql server along with one db, so now I wanted to create staging slot for existing web app(which is also wordpress) , my question is if i create staging slot which database it will going to use the same db or will it create any separate db in mysql server for staging server, can any one help me on same.

Thanks....Guys

---
#### Documen

[2018-11-15 10:15] janus-christensen opened #18983 "Storage Account Settings figure out of date"
Hello,
It seems to me that the Storage Account Settings figure is out of data with the user interface in the Azure Portal. When I select Azure Data Lake Storage Gen2 (Preview) in the Primary storage type drop-down, the Data Lake Store access (currently named Data Lake Storage Gen1 access) configuration option disappears.

This would also make the notice just below the figure irrelevant I would thi

[2018-11-15 10:44] jakaruna-MSFT commented on #18497
@jpetitte Sorry for the late reply.
I went through the doc. I configured my environment with staging certs. After the I created a new clusterissuer and certificate for prod and then created an ingress with the prod cluster issuer.
It still showed me the staging cert, because I didn't change the secret name (tls-secret) in this [example](https://docs.microsoft.com/en-us/azure/aks/ingress-tls#create

[2018-11-15 10:44] grzegorzwierzbicki opened #18985 "onPremisesDistinguishedName"
Hi
How can I make use of onPremisesDistinguishedName attribute in dynamic groups ?
Ability to sync on-premises DN was added in ADConnect 1.1.553.0
Data is visible with PowerShell Get-AzureADUserExtension

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd3431

[2018-11-15 11:06] Muleguy commented on #16763
I assume that this table represents a single server Azure AD connect topology. In your other documentation there is an option to install on a separate SQL server versus having sync and the database co-resident on the same server. If the two components are split I would assume that SQL would still require 32 GB. Would the Sync Server still require 32 GB and 500 GB HD or could it get by with less?

[2018-11-15 11:20] mjuza opened #18986 "Certificate Export"
This page does not address the additional "Enable Certificate Privacy" checkbox required when exporting the certificate.  This is needed to avoid the warning on the Parse Pfx check in the latest Azure Stack Readiness Checker tool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 714a8dfc-9945-9fc1-0a37-171f08ab017a
* Ver

[2018-11-15 11:45] jakaruna-MSFT commented on #18975
Thanks for the question! We are investigating and will update you shortly.

[2018-11-15 11:59] ChiragMishra-MSFT commented on #18960
@ShahRukhK There's a similar issue reported on Stack Overflow, please check if [this ](https://stackoverflow.com/questions/17115632/microsoftodbc-driver-manager-data-source-name-not-found-and-no-default-drive) helps you.

The issue doesn't look like a documentation issue. If the above link doesn't solve your problem, please post your question on [MSDN](https://social.msdn.microsoft.com/Forums/en-U

[2018-11-15 12:14] whaakman opened #18987 "func new template name incorrect"
func new --name MyHttpTrigger --template "HttpTrigger"  as documented is incorrect. The template name is "Http Trigger" (no spaces).

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40b416d5-6ea5-39a5-9a2c-ab188d00a686
* Version Independent ID: 855c85f7-53b3-59a2-3f42-fbccbba07d32
* Content: [Creat

[2018-11-15 12:28] BartoszPorebski opened #18988 "Installation update"
Doc reads:
"The Azure portal cannot be used to enable or configure LAD 3.0. Instead, it installs and configures version 2.3."

While I can confirm that version 3.0.117 was installed using Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a

[2018-11-15 12:34] CHDAFNI-MSFT opened #18989 "Clarify which "Azure AD Connect Health" service is unsupported"
Documentation does not state which service of "Azure AD Connect Health" is not supported with pass-through authentication. Connect health works with ADFS, Domain Services, AD Connect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12cbaf93-735d-e257-9203-0437bdf9d1ea
* Version Independent ID: f12c0f8c-86e3-72f6-1a3c-c20

[2018-11-15 12:53] sandervandevelde commented on #15440
I still get the error:

PS C:\WINDOWS\system32> Install-Module AzureRM.Storage –Repository PSGallery -RequiredVersion 5.0.4-preview –AllowPrerelease –AllowClobber –Force
Install-Module : Cannot process argument transformation on parameter 'RequiredVersion'. Cannot convert value "5.0.4-preview" to type "System.Version". Error: "Input string was not in a correct format."
At line:1 char:71
+ ... .Sto

[2018-11-15 13:06] taxx commented on #18221
@rwatjen : we are stuck on the same problem as you.
Could you elaborate on how you solved this?
And have you managed to implement this in a release-pipeline?
Best regards, Tobias

[2018-11-15 13:16] Arash-Sabet opened #18990 "Publish the application using Visual Studio is not working"
The application is published to the local cluster node successfully and running in there perfectly. Publishing it to our Azure's service fabric node keeps failing due to the following error message. Please advise a solution / workaround ASAP:

-------- Package: Project: MyServiceFabricApplication succeeded, Time elapsed: 00:00:21.2207380 --------
2&gt;Started executing script 'Deploy-FabricApplica

[2018-11-15 13:29] pauska opened #18991 "Country or CountryOrRegion"
The documentation first states that CountryOrRegion is a supported attribute, while all the examples use [Country]. What is the correct attribute variable?

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: e3fb85a8-d842-f101-909e-86751922da43
* Version Independent ID: 0c99b5ef-753e-1085-a682-c55ea4059207
* Content: [Gr

[2018-11-15 13:53] angoyal-msft commented on #18322
@alexsab1 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-15 13:58] #18322 closed

[2018-11-15 13:59] #18265 closed

[2018-11-15 14:05] rwatjen commented on #18221
@taxx : As I wrote, it doesn't seem possible to do inside the ARM template. But post-deployment of the ARM template, you can call this URL:
``POST https://management.azure.com/subscriptions/<subscriptionid>/resourceGroups/<resourcegroupname>/providers/Microsoft.Cdn/profiles/<CDNprofilename>/endpoints/<endpointname>/customDomains/<custom-domain-identifier>/enableCustomHttps?api-version=2016-10-02``

[2018-11-15 14:10] mgblythe commented on #18957
Thanks @yilanz -- that's an example. The sentence starts: "When this code runs, it returns a message like the following:"

FYI @orspod

[2018-11-15 14:18] mohibakhan commented on #17696
@sergaz-msft I tried both solutions.  I removed containers, runtime, images and installed them again.  IoT edge stream analytics is in preview 013 now.  But I get the same error.

Then I removed all the containers, runtime, images again.  Reinstalled them.  And used proxy for all.  I first set my proxy for my docker and selected manual configuration with the format: http://username:password@proxyh

[2018-11-15 14:28] DaithiG opened #18992 "Microsoft To-Do"
Hi,

Does Microsoft To-Do fully support conditional access or Intune app policies? I've my policy set to allow any app but To-Do is always blocked with "Application used is not an approved application for conditional access. User needs to use one of the apps from the list of approved applications to use in order to get access."

---
#### Document details

⚠ *Do not edit this section. It is require

[2018-11-15 14:28] aepsicom opened #18993 "listening for message is not working ?"
Hi , sending is working but listening not , is not displaying like in example ?

thanks .

D:\azure-iot-samples-csharp-master\iot-hub\Quickstarts\simulated-device&gt;dotnet run
IoT Hub Quickstarts #1 - Simulated device. Ctrl-C to exit.

11/15/2018 4:11:54 PM &gt; Sending message: {"temperature":32.340783508187528,"humidity":60.049266768642362}
11/15/2018 4:11:55 PM &gt; Sending message: {"temperat

[2018-11-15 14:29] Ojisah commented on #18497
I had the same issue and the cause was that the tls-secret was not deleted by running the steps described in the "Clean up resources" section. After running ```kubectl delete secret tls-secret``` the problem was solved.

[2018-11-15 14:42] tfitzmac commented on #17878
@martinoss - sorry, I should have updated this thread. Yes, the product team is investigating this issue. I have not heard an update about a potential fix.

[2018-11-15 14:44] sandervandevelde commented on #15440
@stansw I managed to work around this issue.

First, run:

Install-Module PowerShellGet –Repository PSGallery –Force

After a succesful install of this module, Close the PowerShell windows and start a new PowerShell instance.

Afther that, the installation of the AzureRM.Storage succeeded.

[2018-11-15 14:52] PramodValavala-MSFT commented on #18987
@whaakman Thanks for reporting this! We will review and update this doc accordingly.

[2018-11-15 14:57] o-l-a-v opened #18994 "Does the App Registration need the default AAD permissions?"
Does the App Registration need the default AAD permissions? You say nothing about keeping or removing the "Windows Azure Active Directory" default permissions when creating a App Registration.

https://docs.microsoft.com/en-gb/azure/monitoring/monitoring-solution-office-365#configure-application-for-office-365
Step 7

---
#### Document details

⚠ *Do not edit this section. It is required for docs.

[2018-11-15 15:03] omeraslam305 opened #18995 "Unable to connect Azure MySql via terminal or mysql client"
I have followed the official tutorial to create azure mysql database
https://docs.microsoft.com/en-us/azure/mysql/quickstart-create-mysql-server-database-using-azure-cli
, the server has created but i am unable to connect it from my pc via terminal or workbench. Following is the error that i am receiving.
ERROR 2003 (HY000): Can't connect to MySQL server on 'xxxxxxxx.mysql.database.azure.com' (60)

[2018-11-15 15:11] PramodValavala-MSFT commented on #18987
@whaakman `HttpTrigger` is the correct name of the template. Do you see any error when running this command?

In case you are using an older version, could you try updating to the latest and try again?
The latest version of `azure-functions-core-tools` is `2.2.32`

[2018-11-15 15:20] vhorne commented on #18927
@gunnarcms
Removed.

[2018-11-15 15:20] vhorne commented on #18927
#please-close

[2018-11-15 15:21] #18927 closed

[2018-11-15 15:24] Mike-Ubezzi-MSFT commented on #18891
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-15 15:30] PramodValavala-MSFT commented on #18330
@itsknob While we investigate this issue further, here is a workaround you can try out

1. Create a User Defined Function in Cosmos DB with this code

[code]
![image](https://user-images.githubusercontent.com/43602528/48562359-09efd680-e918-11e8-9f41-a308c4a5d9d1.png)

2. And use it in your `function.json` like this

[code]

This workaround was shared initially on [StackOverflow](https://stackover

[2018-11-15 15:30] PramodValavala-MSFT commented on #18326
@williamdlupo While we investigate this issue further, here is a workaround you can try out.

1. Create a User Defined Function in Cosmos DB with this code

[code]
![image](https://user-images.githubusercontent.com/43602528/48562740-d82b3f80-e918-11e8-8344-724fdb9fc2b9.png)

2. And use it in your `function.json` like this

[code]

This workaround was shared initially on [StackOverflow](https://sta

[2018-11-15 15:30] M-Oberg opened #18997 "Cost Management Contributor, Cost Management Reader"
Maybe time to write a line our two about these roles? :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09acb09f-6171-fdd8-a5d4-0d036b467c5a
* Version Independent ID: 1bffb9cc-b99e-c000-eb9e-47981e27eedc
* Content: [Tutorial - Create and manage Azure budgets](https://docs.microsoft.com/en-us/azure/cost-management/tutor

[2018-11-15 15:37] prashanthmadi commented on #16524
thanks @SnehaGunda

[2018-11-15 15:37] #16524 closed

[2018-11-15 15:38] o-l-a-v commented on #14580
The script is not working with Az module, which you say are replacing AzureRM and will reach feature parity by november 2018.

In fact, the script is not working at all. Tried with Enable-AzureRMAlias, script failed even then.

[2018-11-15 15:44] Mike-Ubezzi-MSFT commented on #18957
@yilanz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-15 15:48] petehall73 opened #18998 "Alias records for Traffic Manager when using Azure web app"
The solution listed here will only work for VMs when the endpoints of the Traffic Manager can be set using the public IP address of the VM.  If you are using Traffic Manager to front Azure web apps they cannot be used as the endpoints are set using the domain name.  Is a solution for this on the roadmap?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-11-15 15:53] vhorne commented on #18998
@petehall73
How about this? https://docs.microsoft.com/en-us/azure/dns/dns-alias-appservice

[2018-11-15 15:54] erhopf commented on #18974
##please-close

@wbpluto - Translation isn't available via REST, it's only available using the SDK. This table highlights what's available: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/overview#use-the-speech-service.

[2018-11-15 16:08] moebius87 opened #18999 "dns challenge type"
there is no reference to the use of acme dns challenge type as described in the cert-manager documentation
See: https://github.com/jetstack/cert-manager/blob/master/docs/reference/issuers/acme/dns01/azuredns.rst

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID

[2018-11-15 16:09] sergaz-msft commented on #18967
Hello @maria-mcdorman and thank you for your feedback! I am sorry that you are struggling with this sample. I am trying to go through it again to check if there are some steps missing. Thank you so much for reporting it!

[2018-11-15 16:11] petehall73 commented on #18998
Thanks for the response.  That would work perfectly but the option to add an external endpoint seems to have disappeared!  I am left with Cloud Service, App Service, App Service Slot or Public IP Address.  Public IP Address is only for public IP objects attached to VMs in my subscription.

Regards
Pete

[2018-11-15 16:18] Kilafer commented on #12247
@jeevansd, any Updates? Thanks!

[2018-11-15 16:25] Minewiskan commented on #6226
@amanarneja
#please-close
This is outside the scope of GitIssues for docs. If there is still an issue here, please open support case,

[2018-11-15 16:26] CarlRabeler commented on #18595
@mcurko I agree that this tutorial should always run on the newest versions of PowerShell. I am investigating whether this is a regression to be fixed or by design.
@anosov1960 your input is requested

[2018-11-15 16:26] Mike-Ubezzi-MSFT commented on #18939
@vmunagala0117 It appears that you are missing brackets `[   ]` around the FQDN host value.

![screenshot 1](https://user-images.githubusercontent.com/37126106/48566619-1c362a00-e8b0-11e8-8cfd-9c8d374f6b87.png)

Can you you please confirm that the brackets are in place and try again.

[2018-11-15 16:27] arnabganguly commented on #18523
Upgrading the Spark Package to 2.3.0 resolves the error message but still does not show any output to the console.

spark.jars.packages":"com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.0

[2018-11-15 16:30] kchekuru opened #19000 "Good one"
Good one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36d9507c-e7f6-d199-46d6-089867236e38
* Version Independent ID: d212ce27-997e-c16e-ad0a-78288db55ba1
* Content: [Cognitive search for data extraction, natural language AI processing in Azure Search](https://docs.microsoft.com/en-us/azure/search/cognitive-search-con

[2018-11-15 16:30] kchekuru opened #19001 "Good one"
Good one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36d9507c-e7f6-d199-46d6-089867236e38
* Version Independent ID: d212ce27-997e-c16e-ad0a-78288db55ba1
* Content: [Cognitive search for data extraction, natural language AI processing in Azure Search](https://docs.microsoft.com/en-us/azure/search/cognitive-search-con

[2018-11-15 16:36] mcurko opened #19002 "Notes"
21. a. Select SourceDataset for the Source Dataset field. =&gt; you mean AzureSqlDatabaseLinkedService ? (you have to make a selection!)

32. b. Values must not have trailing spaces/new lines when entered in the fields =&gt; not obvious

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1d97ae7-50da-d422-1332-1493c8515b78

[2018-11-15 16:37] vmunagala0117 commented on #18939
Awesome it worked for me now.

[2018-11-15 16:37] #18939 closed

[2018-11-15 16:39] mtnygard opened #19003 "Solution 3 - Azure portal images are not current"
The menu shown in the image is not what the portal displays. In particular, the "Resource providers" we are supposed to select does not appear in the portal.

Is there a step prior to step 1? Perhaps to navigate to a subscription page in the portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 107576e7-75ca-e4f7-34df

[2018-11-15 16:41] badalk commented on #18288
I dont think I am expecting a role allowing only to delete, but rather a role which can only pull and push (just like ACRImagePusher) but cannot delete. If ACRImagePusher role works that should work at least for my requirements. I checked the feature request and not sure why is it called as tag locking ! I have the same expectation though and would vote for that

[2018-11-15 16:42] sergaz-msft commented on #18967
Hello @maria-mcdorman can you confirm that you don't receive the message like below in the bottom right of Visual Studio Code?

![image](https://user-images.githubusercontent.com/22173500/48567337-b28c3f00-e8f4-11e8-81ef-2a82011dc394.png)

That messages shows when you aren't on an IoT Workbench project.
To workaround that, you should open Visual Studio Code on the root Folder of the project:

![im

[2018-11-15 16:48] itsknob commented on #18330
Thank you for investigating this issue and the workaround.

[2018-11-15 16:52] Alberto-Vega-MSFT commented on #18974
@wbpluto We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 16:52] #18974 closed

[2018-11-15 16:53] james-world commented on #5595
Is there a way to specify the resource group name? We have a naming convention for these we need to follow.

[2018-11-15 16:54] james-world commented on #5595
Oops sorry, should have been a new topic...

[2018-11-15 17:01] vhorne commented on #18998
@petehall73 Did you remember to change the **Type** to **External endpoint**?

![image](https://user-images.githubusercontent.com/15256338/48568687-c44df200-e8b4-11e8-8190-0dc95255d5bc.png)

[2018-11-15 17:03] srinath9394 opened #19004 "Web app showing blank chart"
Web app showing blank chart after following everything as per the tutorial.
- Connection string set correctly.
- deployment successful.
- sample monitoring is showing messages sent to Azure IoT Hub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681e10a1-05d3-5761-2afd-42602a7efecf
* Version Independent ID: f72e21b1-35

[2018-11-15 17:05] Karishma-Tiwari-MSFT commented on #18999
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 17:06] Karishma-Tiwari-MSFT commented on #18988
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 17:07] Karishma-Tiwari-MSFT commented on #18990
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 17:16] Arash-Sabet commented on #18990
Thanks. It's an urgent issue which's stopping us from deploying to our cloud cluster. Our CI/CD pipeline is failing most likely due to the same issue too. The release pipeline's console does not display the details of the error message though but a brief message is shown after "Copying application to image store..." which reads as below:

An error occurred during this operation.  Please check the

[2018-11-15 17:29] qoricode opened #19006 "Gradle build settings"
I found I had to use the "Delete workspace before build starts" option to build successfully, and also had to check "Force GRADLE_USER_HOME to use workspace" in advanced options

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c50161e-7d27-2c8d-8be9-7e48aec40a06
* Version Independent ID: b6443dd4-1018-e9d1-8c9c-e3d32615

[2018-11-15 17:29] Karishma-Tiwari-MSFT commented on #18442
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-15 17:29] #18442 closed

[2018-11-15 17:31] eross-msft commented on #18969
@elenanakhmanson  @ManojReddy-MSFT  Thank you for the feedback. I'm looking into this and will update you as soon as I have any information.

[2018-11-15 17:32] bandersmsft commented on #18997
@m-oberg. Good point. I'll update for clarity.
#in-process

[2018-11-15 17:33] Karishma-Tiwari-MSFT commented on #18761
@dcbrown16 Thank you for the research and sharing your findings. I have assigned the issue to the content owner to investigate and make changes in the doc as appropriate.
@cynthn Can you please take a look and make updates as needed. Thanks :)

[2018-11-15 17:36] MicahMcKittrick-MSFT commented on #18713
@wasabii any update on this?

[2018-11-15 17:36] Karishma-Tiwari-MSFT commented on #18988
@abhijeetgaiha Can you please confirm if this behavior is expected? Thanks.

[2018-11-15 17:37] MicahMcKittrick-MSFT commented on #18859
@timmmay I will close this for now but if you have additional questions just let me know and we can always reopen and continue the conversation

[2018-11-15 17:37] #18859 closed

[2018-11-15 17:39] Lroca88 opened #19007 "Upgrade fails when the maximum allowed number of cores is 4"
Some people may use a student subscription or have some sort of restrictions about the number of cores per subscription. In my case the maximum number is 4. I'm trying to upgrade from v-1.9.11 to v-1.10.8 which fails giving me the next error:
`Operation results in exceeding quota limits of Core. Maximum allowed: 4, Current in use: 4, Additional requested: 2`

So, I ended up with my aks cluster in

[2018-11-15 17:42] MicahMcKittrick-MSFT commented on #18968
@nibblesnbits that is fair feedback. We design this guides either to work in the Azure Cloud Shell CLI environment or in PowerShell (Both Cloud and Local). You are correct that they commands do not always translate well to Git Bash. One long term issue with developing them for on Git Bash is if the environment changes then the scripts would have to be updated often. Since we have control over the

[2018-11-15 17:42] #18968 closed

[2018-11-15 17:44] dlepow commented on #18893
@cloudmelon - Thanks for raising this issue, and I will investigate. May I ask what shell environment you used to run the command? For example, Command Prompt on Windows, bash on Linux/Mac, Azure Cloud Shell? The example in the article was tested in Azure Cloud Shell.

[2018-11-15 17:45] MicahMcKittrick-MSFT commented on #18990
@Arash-Sabet what version of Visual Studio are you running?

Make sure you have the latest version of the SF SDK installed

https://azure.microsoft.com/en-us/downloads/

Also make sure you are running visual studio as an administrator

As a work around you could also try creating the cluster via the portal. Then once the cluster is created, use Visual Studio to publish to an existing cluster

[2018-11-15 17:45] BartoszPorebski commented on #18988
It was installed though VM / Monitoring / Diagnostic settings menu

[2018-11-15 17:48] MicahMcKittrick-MSFT commented on #18999
@moebius87 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-15 17:49] amthomas46 opened #19008 "What version of Computer Vision is used"
The OCR skill is based on the Computer Vision api, but is it V1.0 or V2.0 of Computer Vision api?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57ec6b9-5539-262e-b0b6-ceef87336d92
* Version Independent ID: e6e23cc4-2790-3202-95c2-54ee6ed62711
* Content: [OCR cognitive search skill (Azure Search)](https://doc

[2018-11-15 17:49] MicahMcKittrick-MSFT commented on #18835
Thanks @Christina-Kang for the update on this! Appreciate the help!

@LisandroSu I will close this issue out and continue to work off https://github.com/Microsoft/service-fabric-cli/issues/156 and track that issue.

[2018-11-15 17:49] #18835 closed

[2018-11-15 17:55] hrasheed-msft commented on #18879
@SychevIgor thanks for catching this and for your help with the screenshot. Updated in linked PR.

[2018-11-15 17:57] iainfoulds commented on #18999
Valid feedback, @moebius87, but beyond the scope for what we're trying to show in this article. `cert-manager` is one way to use TLS with ingress, but you could also generate your own certs or use a third-party CA and provide those. This article was to quickly show how to use Let's Encrypt with cert-manager, but not be an exhaustive guide. cert-manager does a great job of providing all the additio

[2018-11-15 17:58] JamesLee-MSFT commented on #18544
@darshankumarys Please provide the document you are referencing.

[2018-11-15 17:59] hrasheed-msft commented on #18772
Thanks @SychevIgor. We have some scheduled work to re-evaluate all of our command line customer scenarios and will be sure that we include az cli 2.0 where appropriate. Given the scope of the update it may take some time, but we are aware of the issue. Thanks!

[2018-11-15 17:59] hrasheed-msft commented on #18772
#please-close

[2018-11-15 18:01] #18999 closed

[2018-11-15 18:01] cloudmelon commented on #18893
Hi, sorry, I should provide this information previously, I tested it in Windows 10 bash ( installed Azure CLI ).

Melony QIN

[2018-11-15 18:01] Karishma-Tiwari-MSFT commented on #18587
@bruckGT Is it windows VM or linux VM?
If you are not specifically looking to achieve this using application/x-pkcs12, can you please check this [document](https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-ubuntu-web-ssl) and see if it helps.
You can also use [Add-AzureRmVmssSecret ](https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/add-azurermvmsssecret?vie

[2018-11-15 18:04] sozercan commented on #18886
@florianrusch I believe this is the relevant issue: https://github.com/Azure/open-service-broker-azure/issues/585

[2018-11-15 18:05] JamesLee-MSFT commented on #18982
@santoshmallena Can you share the document you are referencing?

Thanks.
James

[2018-11-15 18:10] JamesLee-MSFT commented on #18995
@omeraslam305 Thank you for your question.  We are investigating the issue.

[2018-11-15 18:10] jason-j-MSFT commented on #18980
@mcurko
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 18:11] JamesLee-MSFT commented on #19008
@amthomas46 Can you share the documentation you are referring to?

Thanks.
James

[2018-11-15 18:13] amthomas46 commented on #19008
https://docs.microsoft.com/en-us/azure/search/cognitive-search-skill-ocr

I think it should be mentioned on this page somewhere here, but it is not.

I’ve gotten several questions about it. Thanks!

[2018-11-15 18:15] Karishma-Tiwari-MSFT commented on #18076
@jakaruna-MSFT Can you please help answer customer's question. Thanks. :)

[2018-11-15 18:16] Grace-MacJones-MSFT commented on #18963
Hi @atrauzzi, thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-15 18:17] ganlbarone opened #19009 "No examples for wild card -match startswith"
Every example in here shows equality searches which is not very real world.
What if you want to find all ios 12+ devices? How would you accomplish that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Dynamic

[2018-11-15 18:18] Grace-MacJones-MSFT commented on #18965
Hi @atrauzzi , thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-15 18:18] badalk commented on #18288
Thanks @SteveLasker

[2018-11-15 18:19] sergaz-msft commented on #18967
I will close the issue as soon as you confirm that you are now unblocked @maria-mcdorman .

Thanks!

[2018-11-15 18:19] tylerfox commented on #18772
Hi, we don't currently support enabling/disabling HTTP in Azure CLI for HDInsight clusters. HDI support for CLI in general is still very much a work in progress.

[2018-11-15 18:22] JamesLee-MSFT commented on #18997
@bandersmsft I have assigned this item to you.

[2018-11-15 18:27] rootik opened #19010 "Typo"
"Diagose reverse proxy events" should be "Diagnose reverse proxy events"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31e0a1d2-789d-240f-be0b-892d43f80b66
* Version Independent ID: aac58453-4adc-5c04-8067-d7107dc2df45
* Content: [Azure Service Fabric reverse proxy](https://docs.microsoft.com/en-us/azure/service-fabri

[2018-11-15 18:29] sandervandevelde commented on #17351
Success!

@mbialecka Hello, the module keeps on running finally:

[2018-11-15 18:26:00.005] [backend] [info] [Tid:1] [MetaStore.cc:95] [Initialize] Initialize MetaStore. Status:OK
[2018-11-15 18:26:00.114] [backend] [info] [Tid:1] Info: Hook TriggerReportLoad event.

Glad we got it working at last.

[2018-11-15 18:31] MarileeTurscak-MSFT commented on #18989
@CHDAFNI-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-15 18:32] MarileeTurscak-MSFT commented on #18985
@grzegorzwierzbicki
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-15 18:32] srinath9394 commented on #19004
My bad, I made a mistake in connection string. Working fine now.

[2018-11-15 18:32] MarileeTurscak-MSFT commented on #18978
@Flodu31
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-15 18:33] sergaz-msft commented on #17351
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 18:33] #17351 closed

[2018-11-15 18:33] sergaz-msft commented on #19004
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 18:33] #19004 closed

[2018-11-15 18:33] MarileeTurscak-MSFT commented on #18971
@boomalator
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-15 18:34] MarileeTurscak-MSFT commented on #18992
@DaithiG
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-15 18:35] MarileeTurscak-MSFT commented on #18991
@pauska
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-15 18:40] simonaco commented on #7192
@anrothMSFT any updates on this?

[2018-11-15 18:50] BellaLi opened #19011 "step of "az aks create" failed in Azure Cloud Shell"
Versions
azure-cli (2.0.50)
ACC_VERSION=master_20181107.3

az aks create --resource-group myAKSCluster --name bfAKSCluster --node-count 1 --enable-addons monitoring --generate-ssh-keys
400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 197, in invoke
    cmd_result = self.invo

[2018-11-15 18:52] curtand commented on #19009
HI @ganlbarone
My understanding it that these are not industry standard string values for, for example, deviceOSVersion and deviceOSType, and they're not read directly from devices, but rather depend on the Azure AD admins to apply their own strings. You would have to have a specific string consistently applied to iOS 12 devices or AND together all of the inconsistent string values that have been

[2018-11-15 18:55] Grace-MacJones-MSFT commented on #18721
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 18:55] #18721 closed

[2018-11-15 19:03] klabbe-laval commented on #18705
I had the same problem mentionned by hgrandy94. I apply his solution and it works

[2018-11-15 19:04] Adam-Smith-MSFT commented on #18983
@janus-christensen Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-15 19:05] Adam-Smith-MSFT commented on #18979
@chkindia Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-15 19:09] atrauzzi commented on #18965
Just to correlate: https://twitter.com/Omega_/status/1062920980753010688

[2018-11-15 19:31] MicahMcKittrick-MSFT commented on #19011
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 19:31] MicahMcKittrick-MSFT commented on #19010
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 19:32] MicahMcKittrick-MSFT commented on #19007
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 19:32] jcbrooks92 opened #19014 "FTP now requires TLS 1.2 instead of TLS 1.1"
Confirmed internally that FTPS now requires TLS 1.2 instead of TLS 1.1 after some steps to harden management endpoints.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1506c34e-352d-15f6-73ea-3dbf8ce31b3c
* Version Independent ID: cb469cf8-43e5-09fe-6b8e-ee714cf2f7cc
* Content: [Deploy your app to Azure App Service usin

[2018-11-15 19:32] qibozhu commented on #18549
@ml810326 Currently we don't support "set container ACL" operation. Could you update the following code at line 24 in index.js and try again?
From:
blobService.createContainerIfNotExists(containerName, { publicAccessLevel: 'blob' }, err => {
To:
blobService.createContainerIfNotExists(containerName, err => {

[2018-11-15 19:41] igomat opened #19015 "France?"
When France regions will be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa8c1f7-dc55-7129-95be-687a0b11a636
* Version Independent ID: 4a09b58a-9fd2-69fc-0348-e6d4d0956a20
* Content: [Planning for an Azure File Sync deployment](https://docs.microsoft.com/en-us/azure/storage/files/storage-sync-files-planni

[2018-11-15 19:42] mattbriggs commented on #18986
@mjuza Thanks for your feedback. I have a question out about this page and will update as soon as I get an answer. #in-progress

[2018-11-15 19:46] MicahMcKittrick-MSFT commented on #19010
@rootik thanks for the find! I have corrected the doc.

Once the PR merges the changes will go live in a few hours :)

[2018-11-15 19:46] #19010 closed

[2018-11-15 20:02] MGoedtel commented on #18880
@johnneycao - This article isn't intended on covering how to configure the agent with a System Center Operations Manager management group.  That's covered in here in the doc library for Operations Manager - https://docs.microsoft.com/en-us/system-center/scom/manage-deploy-windows-agent-manually?view=sc-om-1807.

Hope that helps.  #please-close.

[2018-11-15 20:05] cephalin commented on #5595
@james-world Yes you can. We use a hardcoded name for simplicity of the quickstart but you can use whatever you like.

[2018-11-15 20:08] Mike-Ubezzi-MSFT commented on #18995
@omeraslam305 Do you have a firewall rule in place to allow traffic from the PublicIP address your PC has currently been issues? You can use a service such as: https://www.whatismyip.com/ to identify what your PublicIP address is, and add that to your firewall rules.

If you navigate to the `Connection security` blade for your MySQL instance, you can then add the PublicIP address where you are att

[2018-11-15 20:19] MicahMcKittrick-MSFT commented on #19007
@Lroca88 were you just running the following command?

az aks upgrade --resource-group myResourceGroup --name myAKSCluster --kubernetes-version 1.10.8

If you are just upgrading your cluster there should not be a need for additional cores since you are not changing the size

@iainfoulds do you know if we are updating the version if on the backend we provision a new VM and swap it out? I tested on

[2018-11-15 20:32] iainfoulds commented on #19007
@MicahMcKittrick-MSFT During an upgrade, a new VM node is deployed, pods are scheduled on it, then the old node is removed. Free / student accounts typically only provide 4 cores, so in a two-node cluster where each node has 2 cores, yes, that operation would fail as an additional 2 cores are needed for that interim new VM. That's what the error message is indicating.

The tutorial and quickstarts

[2018-11-15 20:33] brucedkyle commented on #19011
Me too

[2018-11-15 20:35] MicahMcKittrick-MSFT commented on #19007
@iainfoulds ah okay. That makes sense then. We just do a good job of masking it :)

@Lroca88 so as Iain mentioned, it does make sense you ran into the issue. I understand it can be frustrating when on a student account as you can run into issues such as this.

To fix the state of your cluster, try the scale down option to scale to a single CPU, perform the upgrade, then you should be able to scale

[2018-11-15 20:42] tchristiani commented on #5934
@BryanTrach-MSFT would you please reassign this issue to @PatrickFarley? Thank you.

[2018-11-15 20:43] tchristiani commented on #7523
@femsulu please reassign this to @PatrickFarley

[2018-11-15 20:45] tchristiani commented on #12886
@YutongTie-MSFT please reassign this to @gopitk

[2018-11-15 20:46] tchristiani commented on #18548
@YutongTie-MSFT please reassign this to @PatrickFarley

[2018-11-15 20:49] tchristiani commented on #18866
@JamesLee-MSFT & @Alberto-Vega-MSFT please reassign to @diberry

[2018-11-15 20:49] femsulu commented on #18994
@o-l-a-v Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-15 20:50] Void-Barrie opened #19017 "Folder permissions on shares are unuseable"
I have a container running based on https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-azure-files. The container mounts a number of share volumes. The shares used to be mounted with 777 permissions. Recently (11/15) the mount options changed to 700. Attempts to change permissions or owners of the files do not change anything.

Mount shows the shares being mounte

[2018-11-15 20:52] tchristiani commented on #18684
This is an issue with a service that has been retired. We encourage you to please migrate to the new Speech Service. https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech
#please-close

[2018-11-15 20:54] femsulu commented on #19003
@mtnygard ,Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-15 20:55] femsulu commented on #19006
@qoricode Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-11-15 20:57] MicahMcKittrick-MSFT commented on #19011
@BellaLi @brucedkyle I just ran through the doc and was able to create a cluster first try.

[code]
Try deleting the Storage account used for your Cloud shell. Then when you go to start cloud shell again it will have you create a new container with all the correct and updated versions. This might resolve the issue.

[2018-11-15 21:00] LuisCabrer commented on #19008
Good question, the OCR skill uses v2 for English, and v1 for other languages.

[2018-11-15 21:05] Lroca88 commented on #19007
@MicahMcKittrick-MSFT, @iainfoulds thank you guys. That was my first attempt, I tried to scale down, but since my aks cluster is in a failed state it can't.
![Scaling-down](https://user-images.githubusercontent.com/5395468/48581421-c41f1800-e8ef-11e8-9348-f0f45535ace1.png)
It's good to know about the additional VM node during the upgrade, I would add that info to the article.
At this point what el

[2018-11-15 21:09] MicahMcKittrick-MSFT commented on #18694
@inkey I am still working offline to get this sorted out.

As a side note, I was curious if there was a simpler way to do this.

In the doc we mention that if you are running at least the Silver Durability tier you can simply upgrade the VMSS SKU directly as it will process update domain by update domain.

I originally had a cluster with 5 nodes and running in the Bronze Reliability tier. Updating

[2018-11-15 21:10] rolyon commented on #17715
Hi @pivotalguru
It appears that you want to deploy to a resource group, but set permissions at the subscription scope. I'm not sure how to do that using a template. Unfortunately I dont have a lot of experience creating templates. To get technical assistance, I recommend creating a support request in the portal. They are better equipped to handle technical questions.

[2018-11-15 21:16] curtand commented on #18933
Hi @gcormier
It appears that our portal UI has changed. I'll get updates for the article as soon as I can.

[2018-11-15 21:16] MicahMcKittrick-MSFT commented on #19007
@Lroca88 fair point. We can have @iainfoulds take a look to see if we should add that info to the doc.

As per the failed state, can you go to the resource group where the AKS resources are held? This will be a different recourse group than the actual AKS is hosted. So for example, in my case my AKS resource group is called MicahAKSCluster. If I go to the portal and go to Reosurce Groups, I also f

[2018-11-15 21:29] rdiazel opened #19018 "No information for basic subscription"
Hi, why there is no information at all about retention policies for a basic AD subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5975a65a-630f-a2ab-7cc8-268e278a057b
* Version Independent ID: ed2cdee0-9a1e-c435-a172-054896ec35f8
* Content: [Azure Active Directory report retention policies](https://docs.micro

[2018-11-15 21:34] hrasheed-msft commented on #18879
#please-close

[2018-11-15 21:41] pivotalguru commented on #17715
Thank you.  This did help me understand what the problem is better.  I really appreciate it.

[2018-11-15 21:46] douglaslMS commented on #18481
@rangeranger We don’t currently allow this in ADF itself unfortunately. However, there is a workaround. Data Factory pumps all of its activity run events to Azure Monitor: [Schema of Logs & Events | Alert and Monitor data factories using Azure Monitor](https://docs.microsoft.com/en-us/azure/data-factory/monitor-using-azure-monitor#schema-of-logs--events). In the events that Data Factory pumps to A

[2018-11-15 21:50] davidjhole commented on #8704
Make sure you select the right permission.
I got this error when i had selected
Read all identity risky *user* information
by mistake, it needs to be
Read all identity risk *event* information

[2018-11-15 21:53] Grewall commented on #14035
@femsulu  Hi, was there a resolution to this issue?

[2018-11-15 21:55] MikeWasson opened #19019 "AKS support?"
Does this doc apply to AKS or only ACS/ACS-Engine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52f172d9-2ca9-da01-1fcb-9f6bbdf383ef
* Version Independent ID: 64485d09-0058-a20f-e2be-387e1fa10121
* Content: [Azure Kubernetes network policies](https://docs.microsoft.com/en-us/azure/virtual-network/kubernetes-network-p

[2018-11-15 21:56] xXxOlivierxXx opened #19020 "FIPS compliance"
Does the Azure AD Connect Health agent finally works on FIPS enabled servers? I noticed that the latest version of Azure AD Connect does support FIPS now, but don't see if the same support was added for the Health agent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a5efdb8-5e17-6502-8e51-c77f8a6aa59c
* Version Indepe

[2018-11-15 21:57] SnehaGunda commented on #18146
@nhwilly thanks for the update, do you have any other questions? if not we will proceed with closing this issue.

[2018-11-15 22:04] spacexii opened #19022 "Getting errors when using the runbook"
Exception calling ".ctor" with "1" argument(s): "'authority' should be in Uri format Parameter name: authority" ('authority' should be in Uri format Parameter name: authority)

When running the runbook with my parameters.

[2018-11-15 22:06] aanandr commented on #19019
It applies to acs-engine and for clusters that customers build themselves.

From: Mike Wasson <notifications@github.com>
Sent: Thursday, November 15, 2018 1:55 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Aanand Ramachandran <aanandr@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] AKS support? (#19019)

Does this doc apply to AKS or o

[2018-11-15 22:08] Grewall commented on #14035
@pallavijadhav1429  were you able to get your scenario to work?

[2018-11-15 22:09] spacexii opened #19023 "Updating Azure Gov Module Runbook errors out"
Apparently I can't update the modules without using a runbook now. But I can't even use the runbook so now I'm at a roadblock.

https://docs.microsoft.com/en-us/azure/automation/automation-update-azure-modules

Used the code in this document  "Update-AzureModule.ps1"

Exception calling ".ctor" with "1" argument(s): "'authority' should be in Uri format Parameter name: authority" ('authority' should

[2018-11-15 22:10] MikeWasson commented on #19019
Thanks! It would be useful to clarify this in the doc, because the title is "Azure Kubernetes" and there's a link at the bottom to AKS.

[2018-11-15 22:11] hambudi opened #19024 "Add some details to explain how fallbacks work in content definitions."
We should include some information at the end indicating how we process the localized resources references and how the ordering for them indicates the fallback order for languages. Described below.

Say that we are trying to get a localized string for language en-US which falls back to en (as defined in c#).
When searching for the string, we try to pick the string from the first referenced resourc

[2018-11-15 22:18] hambudi opened #19025 "Reference using DataUri rather than content definition Ids."
Hi, the strings in this page are referenced by the contentDefinitionId. However the string ids are actually dependant on the DataUri of the content definition. The content definition id, is actually selected by the policy autor and is arbritrary.

I have provided the correct mappings for the scenarios below. The strings in question rely on the DataUri of the content definition. (sample content def

[2018-11-15 22:20] Houndsong opened #19026 "How would I configure to use Microsoft's UserVoice suggestion boxes using my Azure AD identity to sign into UserVoice?"
How would I configure to use Microsoft's UserVoice suggestion boxes using my Azure AD identity to sign into UserVoice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a4483be-356d-5d3c-d7ae-30e8c95e51a9
* Version Independent ID: 8b324d39-857f-7e7f-0b71-1ebaff0e9e19
* Content: [Tutorial: Azure Active Directory integrati

[2018-11-15 22:34] anblanco opened #19027 "How to get System.Net.HttpClient 4.1.0?"
I followed the steps for ASP.NET Classic telemetry correlation in .NET, and noticed that my correlation headers were not flowing through. When I review this doc, it says

"System.Net.HttpClient starting version 4.1.0 supports automatic injection of the correlation Http Headers and tracking the http call as an Activity."

How do we actually get this version of System.Net.HttpClient? I'm not clear i

[2018-11-15 22:36] MarileeTurscak-MSFT commented on #19018
@rdiazel
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-15 22:37] MarileeTurscak-MSFT commented on #19020
@xXxOlivierxXx
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-15 22:58] msalvadores commented on #18411
@jakaruna-MSFT @tilnl within the same settings as the template provided by @tilnl I have tried to deployed a container in the same `aci-vnet` that accesses the same storage account `aciteststorage` and I am trying to mount a volume in the container with origin in share file in `aciteststorage`.

This is what I tried and did not work:

[code]
It runs for quite a bit of time and then I get always an

[2018-11-15 22:58] MarileeTurscak-MSFT commented on #19025
@hambudi
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-15 23:01] MarileeTurscak-MSFT commented on #19024
@hambudi
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-15 23:04] #18967 closed

[2018-11-15 23:11] Grace-MacJones-MSFT commented on #19001
Thanks for your feedback!

[2018-11-15 23:11] #19001 closed

[2018-11-15 23:11] Grace-MacJones-MSFT commented on #19000
Thanks for your feedback!

[2018-11-15 23:11] #19000 closed

[2018-11-15 23:17] Adam-Smith-MSFT commented on #19015
@igomat we don't have an actual ETA , I'd recommend posting in https://feedback.azure.com/forums/217298-storage We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 23:17] #19015 closed

[2018-11-15 23:29] ahmedmakhlouk commented on #16481
Hi there, i have the same problem to, with prometheus this time.

same case scenario, i am using a prometheus image to create an ACI mounted with a file-share.
# what i did : Script begin
`echo" parameters"`
`ACI_PERS_RESOURCE_GROUP=ftp-group-container`
`ACI_PERS_LOCATION=some_location`
`ACI_PERS_SHARE_NAME=some_share`

`echo" Create the storage account with the parameters "`
`az storage account c

[2018-11-15 23:33] kobulloc-MSFT commented on #19027
@anblanco Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-11-15 23:41] BryanTrach-MSFT commented on #18981
@aepsicom Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 23:41] BryanTrach-MSFT commented on #18977
@aepsicom Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 23:42] hukun01 opened #19029 "When would Azure Disk Encryption be supported?"
All in title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c75ce7-2144-d81a-693c-fb51cc00f3e5
* Version Independent ID: cba654ea-ee84-fca4-a76d-717bfb9d9bf5
* Content: [Automatic OS image upgrades with Azure virtual machine scale sets](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machin

[2018-11-15 23:44] sjlouder opened #19030 "Password Hashes are lost when Domain Service is deleted"
This may seem obvious, however I was unable to rejoin VMs for multiple days until I realized this. It may be worth explicitly stating on this page or the page for deleting a Domain Service.

Our organization uses cloud-only AD, and our Domain Service encountered error AADDS113, which meant we had to delete and recreate it. After this was done, I tried to join a VM to the domain and it came back wi

[2018-11-15 23:47] Mike-Ubezzi-MSFT commented on #18643
@mcurko Appologies for the delay on this issue but can you reference the section of the documentation that you are referring. Thank you.

[2018-11-15 23:49] billnbell commented on #18950
Yep!

[2018-11-15 23:50] BryanTrach-MSFT commented on #19014
@jcbrooks92 Thank you for sharing this update with us. We went ahead and merged a PR. This should be public tomorrow.

Always appreciate the collaboration :)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-15 23:50] #19014 closed

[2018-11-15 23:57] MarileeTurscak-MSFT commented on #19020
@xXxOlivierxXx Currently the AD Connect Health Agent does not support FIPs enabled servers. You can upvote the feature request on User Voice to stay posted on updates, though. https://feedback.azure.com/forums/558487-azure-government/suggestions/34781935-support-fips-compliant-algorithms-for-azure-ad-con

CC: @billmath

[2018-11-15 23:57] #19020 closed

[2018-11-15 23:57] MicahMcKittrick-MSFT commented on #19017
@andyzhangx would you be able to comment on this and if it is the same problem as in #54610? Else, would you prefer @Void-Barrie to open a new issue on https://github.com/kubernetes/kubernetes/issues?

[2018-11-15 23:58] MicahMcKittrick-MSFT commented on #19017
@Void-Barrie Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-15 23:58] RavSalgado opened #19033 "Configure NTFS permissions with icacls - Command Instructions"
The command is as follows:
icacls (mounted-drive-letter) /grant (user-email):(f)
I believe it needs to be
icacls (mounted-drive-letter): /grant (user-email):(f)

Some might get this, as a drive letter but its not consistent with the net use command format.
net use (desired-drive-letter): \\(storage-account-name).file.core.windows.net\(share-name)

Just a possible hurdle for someone following the i

[2018-11-15 23:59] Void-Barrie commented on #19017
I am not using Kubernetes. The container is an Azure Container Instance.

Thanks
Barrie

[thevoid]<http://www.thevoid.com/>

Barrie Campbell

Sr. DevOps Engineer

[Facebook]<https://www.facebook.com/voidvr>

[Twitter]<https://www.twitter.com/voidvr>

[Instagram]<https://www.instagram.com/voidvr>

________________________________
From: Micah <notifications@github.com>
Sent: Thursday, November 15, 2

[2018-11-16 00:00] MicahMcKittrick-MSFT commented on #19017
@dlepow do you have any PG contacts we could add to this to comment?

[2018-11-16 00:09] msalvadores commented on #18411
Share files in an ACI deployed in VNET with storage account firewalled to that VNET works ... I used the template provided by @tilnl  and test it with ...

[code]

**NOTICE:** It is very important to use the network profile setup in the template otherwise it will create a new one with a default name that does not work. That sent me down a rabbit whole but finally realized about the error.

[2018-11-16 00:15] baharw commented on #18195
@danielcrisp what hostname are you referring to when you say the below...
"Changing that for the actual hostname has resolved error messages shown above, but I'm yet to receive any D2C messages."

Thank you!

[2018-11-16 00:16] JamesLee-MSFT commented on #19022
@spacexii Can you send the URL of the document you are referencing to?

Thanks.

James

[2018-11-16 00:18] tilnl commented on #18411
@msalvadores Great to know it works. We will update the related documentation to clarify it too.

[2018-11-16 00:20] JamesLee-MSFT commented on #19023
@spacexii Thank you we are investigating the issue.

[2018-11-16 00:32] Mike-Ubezzi-MSFT commented on #18643
Date is being declared as MM/DD/YYYY and would be declared as such when the table/column was created.

From `program.cs`

`DateTime.Parse("06/20/1977")`

[2018-11-16 00:32] DMoonesinghe opened #19034 "Is Automatic Failover or Manual Failover"
Wait you say here "The failover must be initiated manually by the application or the user. After failover, the new primary has a different connection end point."

I just read the opposite of that here:
https://azure.microsoft.com/en-us/blog/azure-sql-database-now-supports-transparent-geographic-failover-of-multiple-databases-featuring-automatic-activation/

It says: The read-write endpoint is a DN

[2018-11-16 00:39] TravisCragg-MSFT commented on #16635
@kariyukisusumu I apologize for the delay on this issue. Do you still need assistance with running Start-AzSReadinessChecker?

[2018-11-16 00:42] StephenWThomas opened #19035 "Build Error - Error: Program type already present: com.microsoft.windowsazure.messaging.ConnectionString"
When I pull the code from GitHub and try it as-is I can't get it to run.  I get errors related to Error: Program type already present: com.microsoft.windowsazure.messaging.ConnectionString.

Any ideas on how to get this working would be great.

Here is the full stack track:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForD

[2018-11-16 00:47] mamccrea commented on #18036
Hi @nkolchakov - did you build the UDFTest project?

[2018-11-16 00:49] kariyukisusumu commented on #16635
We resolved this issue.
We re-run in other WS2016 machine(NOT Azure VM) and we succeed the Start-AzsRedinessChecker.
I guess that this issue happened because of  the Powershell Module version mismatch.

Thanks

[2018-11-16 00:49] #16635 closed

[2018-11-16 00:53] msalvadores commented on #18411
Connectivity to secured postgres Azure service with vnet firewall rule to the same vnet/subnet as the one with ACIs worked. I used the template provided and modified the subnet to allow `Microsoft.Sql` service endpoint. I run psql within an ACI terminal from the portal to test connectivity.

[2018-11-16 00:59] TravisCragg-MSFT commented on #15716
@mcurko Do you still have any questions regarding subnet routing?

[2018-11-16 01:01] msalvadores commented on #18411
@tilnl @jakaruna-MSFT with these final tests I can move on with our deployments. I will leave this issue open and feel free to close it when the docs are fixed. Thanks for your help on this.

[2018-11-16 01:11] rolyon commented on #17715
Sure, hopefully they can help you.
Let us know if you have any suggestions for the docs.

[2018-11-16 01:12] rolyon commented on #17715
@MicrosoftDocs/azure-cxp-triage
#please-close

[2018-11-16 01:19] dcbrown16 commented on #7827
@Mike-Ubezzi-MSFT @oslake so this issue has been open forever, but I think the current fix is that we need to update the part about SQL DB not being available on VNets with a mention of Managed Instances (which are on a VNet).
Maybe just point here: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance

[2018-11-16 01:43] robinsh commented on #16613
@RogerFraserZa I've talked to the engineer and the PM that own that feature. We're going to meet on Monday to finalize the action we'll take. I think we'll end up adding a note to the tutorial warning people not to use a free hub, and they will make it so you can't add more than 1 endpoint, and it gives you an error message. I'll report back early next week.

@Guub Are you also using a free IoT hu

[2018-11-16 01:50] srdan-bozovic-msft commented on #7827
@codeputer @Mike-Ubezzi-MSFT
It's not just about _Point C_, the whole article is not relevant in SQL MI context as service endpoints couldn't be used to access SQL MI.

I would propose to add sentence to the existing _Note_ at the begining of the text stating this.

This article doesn't apply to Azure SQL Database Managed Instance, Azure SQL Database deployment model, that runs inside Virtual Netw

[2018-11-16 02:09] ml810326 commented on #18549
Thank for @qibozhu suggestion
I have updated the code in index.js
From:
`blobService.createContainerIfNotExists(containerName, { publicAccessLevel: 'blob' }, err => {`
To:
`blobService.createContainerIfNotExists(containerName, err => {`
It still has socket hang up error on both our device and raspberry pi

Thank you.

[2018-11-16 02:13] FrankPan1990 opened #19037 "Premium Azure Redis Cache unbind virtual network"
Once premium redis bind to a virtual network, it is not possible to unbind the VNET. The only solution we found currently is creating a new premium redis outside, export and import the information to new redis.  Please let us know if there is other way to do so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bcad5d6-2

[2018-11-16 02:13] #17715 closed

[2018-11-16 02:16] brlewi commented on #18887
![alt text]( "canada.jpg")

[2018-11-16 02:18] brlewi commented on #18887
![alt text]( 500 error.JPG)

[2018-11-16 02:18] MicahMcKittrick-MSFT commented on #19029
Thanks for the question! We are investigating and will update you shortly.

[2018-11-16 02:19] brlewi commented on #18887
![image]("canada.jpg")

[2018-11-16 02:20] brlewi commented on #18887
![image](canada.jpg)

[2018-11-16 02:31] spelluru commented on #18727
#sign-off

[2018-11-16 02:31] MohitGargMSFT commented on #18752
@ctxldy We will now proceed to close this thread. Thanks.

[2018-11-16 02:31] #18752 closed

[2018-11-16 02:31] spelluru commented on #18727
I meant, #please-close

[2018-11-16 02:31] #18762 closed

[2018-11-16 02:32] #18920 closed

[2018-11-16 02:41] andyzhangx commented on #19017
I am not from ACI team, while I think the underlying mountOptions for azure file storage class should be set in aci instance:
[code]

In latest v1.10, v1.11, v1.12 k8s version, I have already set default permission as `0777`.

[2018-11-16 02:48] curtand commented on #17609
Hi @jtuliani
I updated the article based on your suggestions. Thanks for the feedback!
https://github.com/MicrosoftDocs/azure-docs-pr/pull/57813
It will be live 11/16 around 11 am.

[2018-11-16 02:49] curtand commented on #17608
Hi @jtuliani
I updated the article based on your suggestions. Thanks for the feedback!
https://github.com/MicrosoftDocs/azure-docs-pr/pull/57813
It will be live 11/16 around 11 am.

[2018-11-16 02:49] curtand commented on #17608
#please-close

[2018-11-16 02:49] curtand commented on #17609
#please-close

[2018-11-16 02:57] MohitGargMSFT commented on #18985
@grzegorzwierzbicki Please check this section [Extension properties and custom extension properties](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-dynamic-membership#extension-properties-and-custom-extension-properties) which states that Extension attributes and custom extenson properties are supported as string properties in dynamic membership rules. So you can

[2018-11-16 03:14] rolyon commented on #18510
Hi @dcnoren
Sorry, I misread your comment. I've sent a message to see if I can find out more about this.

[2018-11-16 03:19] stansw commented on #15440
Thank you @sandervandevelde!
Great! Please add it to the documentation for others to find.

[2018-11-16 04:08] MohitGargMSFT commented on #18991
@pauska Please note you can use [Country] for example as below -
$Setting["PrefixSuffixNamingRequirement"] = "Grp_[Department]_[GroupName]_[Country]"

Naming policy decorated name when the user types a name based on defined naming policy. [Country] user attribute is used to set country/region.

[2018-11-16 04:14] BryanTrach-MSFT commented on #19035
@StephenWThomas Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-16 04:52] summer-ice2000 commented on #18990
I got 2 issues with the deployment of the .net sample
1) when deploying with visual studio, I did deployed successfully and can see the application status Ok with Service Fabric Explorer. But I failed to access the voting app like I access it locally with debug mode. My cluster is: https://votingnick.southcentralus.cloudapp.azure.com, and I tried access with url: http://votingnick.southcentralus.c

[2018-11-16 04:54] summer-ice2000 opened #19041 "Deployment issue with either visual studio or party cluster"
I got 2 issues with the deployment of the .net sample
when deploying with visual studio, I did deployed successfully and can see the application status Ok with Service Fabric Explorer. But I failed to access the voting app like I access it locally with debug mode. My cluster is: https://votingnick.southcentralus.cloudapp.azure.com, and I tried access with url: http://votingnick.southcentralus.clou

[2018-11-16 05:00] pallavijadhav1429 commented on #14035
Hello,

No. Not yet.

Regards,

Pallavi Jadhav
Engineer | PES
eInfochips, Ahmedabad

________________________________
From: Grewall <notifications@github.com>
Sent: Friday, November 16, 2018 3:38:43 AM
To: MicrosoftDocs/azure-docs
Cc: Pallavi Jadhav; Mention
Subject: [External] Re: [MicrosoftDocs/azure-docs] How to create IoT edge device on IoT central? (#14035)

CAUTION: This email originated fro

[2018-11-16 05:06] genlin commented on #18973
@AndyHerb The change is merged and it will be live on docs.microosft.com on 11/16. I will process to close this issue. Feel free to reopen it if you have any addition comments or feedbacks.

[2018-11-16 05:06] genlin commented on #18973
#please-close

[2018-11-16 05:37] solidcloudio opened #19042 "LocalBusiness query not working.."
Using your sample code and querying: https://api.cognitive.microsoft.com/bing/v7.0/localbusinesses/search
I added my APIkey, etc.. returns Bad Request.  If I change the Uri Base to  https://api.cognitive.microsoft.com/bing/v7.0/search
with the same api key, it works fine..

This doesnt appear to work:
   // Construct the URI of the search request
            var uriQuery = uriBase + "?q=" + Uri.Es

[2018-11-16 05:43] Adam-Smith-MSFT commented on #18544
@darshankumarys Could you  please post this issue to the below MSDN forum, since it's specifically related to the github documentation: https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata

[2018-11-16 05:52] summer-ice2000 commented on #19041
issue 2 resolved: it's due to browser security setting.  With deployment to service fabric party cluster, it works well. However, issue 1: deploying with visual studio subscription doesn't work. Please help!

[2018-11-16 05:57] ManojReddy-MSFT commented on #19030
@sjlouder Thanks for the feedback. Password hashes are indeed stored in the Azure AD. When you enable domain services the password hash variant compatible for NTLM/Kerberos authentication (supplemental credentials ) is generated and synchronized to the domain controllers. They are encrypted and only domain services had access to the keys and can access these credentials.

In your scenario, a passw

[2018-11-16 06:01] pravyn commented on #12752
Hi, when is GA for 'This Workday user provisioning solution" ?

[2018-11-16 06:03] vetrivelmp opened #19043 "In APIM - External Azure AD group will work for B2C Users?"
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#add-an-external-azure-ad-group

From the above link, I am able to add Azure AD group and associate to APIM Products. when i logged in using Azure ad credentials to APIM, the products are filtered in APIM developer portal.

I am creating Azure AD group in AAD and assigning B2C user to that group in AAD (b2c user and AD u

[2018-11-16 06:09] clement911 commented on #18033
Thank you for that.

What situation?

[2018-11-16 06:13] luna1230 commented on #14809
Hi @kobulloc-MSFT  could you please guide us how to add Docker tile ? thanks very much .

[2018-11-16 06:33] mcurko commented on #18643
Code just below the text "Run the app to see Always Encrypted in action." Where you have a different localization, the code will fail to execute.

[2018-11-16 06:35] mishra1113 commented on #18224
const request =require("request");

function getText(file){
  //  console.log(file)
    return new Promise((resolve,reject)=>{
        let apiurl =process.env.OCR_API;
        var options = {
          method: 'POST',
          url: apiurl,
          body:file,
          headers: {
            "Ocp-Apim-Subscription-Key": process.env.OCR_KEY,
          },
          json: true
        };
        re

[2018-11-16 06:51] MohitGargMSFT commented on #18992
@DaithiG Yes, as per the list of client applications mentioned in [Approved client app requirement](https://docs.microsoft.com/en-gb/azure/active-directory/conditional-access/technical-reference#approved-client-app-requirement), Microsoft To-Do is mentioned. In case you are facing issue, please open a [Azure Support Case](https://aka.ms/azsupt) in this regard so that Identity Support Engineer can

[2018-11-16 07:35] cmmdesai commented on #18715
@ermacia91 Thank you for your feedback. Here is a quick explanation of why "Workday to Azure AD" connector is not supported with AADConnect. When Azure AD is used in hybrid mode (where it contains a mix of cloud + on-premises users), it's very important to have a clear definition of "source of authority". Typically hybrid scenarios require deployment of AAD Connect. When AADConnect is deployed, on

[2018-11-16 07:42] jsiegmund opened #19045 "Information when using primary / secondary certificate set-up"
We have found that for clusters using a two certificate set-up (primary / secondary), these steps do not work. An attempt to upgrade the cluster will result in an error message stating that a two certificate cluster cannot be changed to a one certificate cluster. The easiest solution for us was to delete the cluster and recreate it, but that might not be a viable option for others.

What's also co

[2018-11-16 07:50] moonplanter opened #19046 "No issues with the above it all worked exactly as documented."
Love the pop out powershell script, it made the whole process much easier than before.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb2e7c5-e153-4067-ae8c-45eb64add7da
* Version Independent ID: 3c87633d-44b7-525d-0e29-75f2d4bcbf2b
* Content: [Deploy Azure Blockchain Workbench](https://docs.microsoft.com/en-us/azure/

[2018-11-16 07:51] ManojReddy-MSFT commented on #18870
@spetrukhin I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-11-16 07:51] ManojReddy-MSFT commented on #18871
@spetrukhin I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-11-16 08:00] ewok1986 opened #19047 "Azure File Share mapping on a non domain joined computer leveraging office 365 authentication"
We have a scenario where we have a number of employees needing to work from home, we want to be able to let them map a Azure file share on there home PC but before they do that make them authenticate using their O365 credentials. We have a hybrid on prem/Azure AD set up currently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-11-16 08:04] Joogle opened #19048 "Azure IoT Edge daemon doesn't start on Raspberry Pi 3"
Hello,
After working through this How-to and configuring the Pi for automatic provisioning I get an error when checking the status of iotedge.
The output is the following:

$ sudo systemctl restart iotedge
$ systemctl status iotedge
● iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iotedge.service; enabled; vendor preset: enabled)
   Active: inactive (dead) (Result:

[2018-11-16 08:40] ManojReddy-MSFT commented on #18869
@RaghuramP There are no limitations for Office 365 Group functionality when you use Azure AD cmdlets.
Azure AD commands can also be used when you don't have licenses assigned to user accounts. EXO commands cannot be used when you do not have mailboxes linked to the accounts. So you can either of the cmdlets based on the scenario you are working on or on the order of actions you are performing in y

[2018-11-16 08:44] JeeWeetje commented on #17351
I can also confirm it works on another linux (XUbuntu 18.04, Azure IoT Edge 1.0.4) set-up on an Advantech UNO 2271G-AE.

[2018-11-16 08:58] SamirFarhat opened #19049 "Transfer a Subscription from Azure in Open to EA"
Hi,
Why other scenarios like transferring a Subscription from Azure In Open to an EA is not included in this document.
Thanks very much

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16fe42f0-e9d3-bcb2-fba9-e16015a76543
* Version Independent ID: cfb7d8f0-e710-3ea1-e2c3-c3e0c1a18b75
* Content: [Change Azure subscription

[2018-11-16 09:03] KetanChawda-MSFT commented on #18777
@imeya When using the telemetry client as shown in the documentation, all the telemetry goes to Application Insights directly. You can check that in the Monitor tab of your function.

Answer to your question is unfortunately a **no**.

You will have to use the `ILogger` instance to log to the console.

If you want to keep your code simple, then you can implement your own custom logger class that w

[2018-11-16 09:16] Ponant commented on #18179
@DiegoRamirez-MSFT , does this mean it done or abandoned?

[2018-11-16 09:18] BartoszPorebski opened #19050 "PrivateConfig.json has wrong EventHub sink sasURL"
Document:
"sasURL": "https://youreventhubnamespace.servicebus.windows.net/youreventhubpublisher?sr=https%3a%2f%2fyoureventhubnamespace.servicebus.windows.net%2fyoureventhubpublisher%2f&sig=yourehpolicy&se=1808096361&skn=yourehpolicy"

works:
"sasURL": "https://youreventhubnamespace.servicebus.windows.net/entity?sr=youreventhubnamespace.servicebus.windows.net%2fentity&sig=generated_signature&se=154

[2018-11-16 09:21] smoms commented on #17737
@michaeljqzq thanks, i will follow that, looks quite complex though. I am just wondering, since CD/CI on Edge will presume most of the time a device like a RPi why isn't that agent already hosted?

[2018-11-16 09:32] goroyal opened #19051 "Link is invalid in key vault document"
In document https://docs.microsoft.com/en-us/azure/key-vault/certificate-scenarios, the step 3 of "Creating your first Key Vault certificate":
[setting a certificate issuer](https://docs.microsoft.com/en-us/rest/api/keyvault/setcertificateissuer) is invalid, 404 is got when accessing the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-11-16 09:34] danielcrisp commented on #18195
@baharw the hostname of the Raspberry Pi itself. It is set here `/etc/hostname` and `/etc/hosts`

For example my R-Pi's hostname was set to `rpi-f0ff7252`  (using the Pi's serial number) but the `/etc/iotedge/config.yaml` file was using `raspberrypi` (the default) so the script wasn't working. Changing the config so it matched the real hostname (`rpi-f0ff7252`) resolved the issue for me.

[2018-11-16 09:40] Larryngolog opened #19052 "Not storing data in EU vs storing copy in US"
In the paragraph "Data stored outside of European datacenters for European customers" there is a statement "Azure AD data that's not stored in European datacenters" after which there is a list of various attributes. Should this sentence be taken literally that GivenName, Surname, UPN, etc is not stored in EU DCs at all? In other words, Azure AD stores data from listed attributes ONLY in US DCs and

[2018-11-16 09:52] lucasgros opened #19053 "Insufficient instructions for visual search API test"
I had difficulties connecting to the API. While my lack of experience with Azure is probably to blame, I struggled at finding how to make it work.
The tutorial misses information regarding:
- how and where to subscribe to the correct API. I wanted to test visualsearch but there is no API with such name. Instead visual search requires Bing Search v7.
- and a specific pricing tier must be setup (not

[2018-11-16 09:56] SychevIgor opened #19054 "Could you add CLI version of this article?"
Interesting article, but could you also add a CLI 2.0 version of this article?
Based on a documentation - all commands accessible
https://docs.microsoft.com/en-us/cli/azure/sql/dw?view=azure-cli-latest
https://docs.microsoft.com/en-us/cli/azure/sql/db?view=azure-cli-latest#az-sql-db-list-deleted
https://docs.microsoft.com/en-us/cli/azure/sql/db?view=azure-cli-latest#az-sql-db-restore

---
#### Doc

[2018-11-16 10:09] bdzeeuw opened #19055 "The Key Vault needs to be created in the same subscription and location as the Virtual Machine."
The notes states the following:
2. The Key Vault needs to be created in the same subscription and location as the Virtual Machine.

However, afaik, you can reference to key vault objects in subscriptions, other than the subscription the Virtual Machine resides in. For example:
                    "reference": {
                        "keyVault": {
                            "id": "[concat(if(emp

[2018-11-16 10:16] DMoonesinghe opened #19056 "Is this right about password based sign-on?"
"With password-based sign-on, the application authenticates to the application with a username and password"

I am curious what do you mean by application authenticating to the application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edfc165-8727-4f35-1be0-b570ee716673
* Version Independent ID: b41dd96e-4a97-6f83-0

[2018-11-16 10:21] krasnovandr opened #19057 "Misspelled Belerus country name"
Could you please correct Belerus  to Belarus  in the available country list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fd8f5a8-7ecb-9ee8-0bc9-53b1c5949e41
* Version Independent ID: 32eb1cc8-893b-eb61-df92-717bf9f8d4a7
* Content: [Geocoding Coverage in Azure Maps](https://docs.microsoft.com/en-us/azure/azure-maps/

[2018-11-16 10:34] sergaz-msft commented on #18981
Hello @aepsicom . Can you try `sudo ./setup-sh --simulated-data` instead?

![image](https://user-images.githubusercontent.com/22173500/48616324-2a0cad80-e98b-11e8-8c5b-21a1612563e6.png)

Thanks!

[2018-11-16 10:57] stofte commented on #18545
By step 6, I'm referring to "build-your-first-project". The extension experience is different then the one in the guide. I was able to complete the steps by improving a bit.

[2018-11-16 11:00] pbourgin-cap opened #19060 "Mobility Service for Linux can't be installed from read-only storage"
because at least `install` script creates a lock file into its directory.
Workaround: any lock file should be created into `/tmp` or into installation folder.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a76fc326-1f03-f650-efcd-808721f572de
* Version Independent ID: ddf0b76a-4bb5-2ebe-101f-76dde45ff80e
* Content: [In

[2018-11-16 11:14] robberezowski commented on #19017
Hi,

I am having a similar issue using ACI and docker.  My mount options have also changed to `file_mode=0700,dir_mode=0700`.  I have raised an issue over at [MicrosoftFeedback/aci-issues/issues/27](https://github.com/MicrosoftFeedback/aci-issues/issues/27).

I've been deploying via ARM templates and visual studio.  I've also tried setting: `"readOnly": false` for both the `volume` and `volumeMoun

[2018-11-16 11:19] colinrippeyfinarne opened #19061 "In express settings what does Grant Common Data Services Permissions do?"
I am securing an Azure Function, if I choose the Express Settings I see an option to toggle Grant Common Data Services Permissions - can you explain what this setting actually does please?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34a42775-fe33-ccab-3b5b-22c5db4f60c1
* Version Independent ID: 5e892b9d-3620-9d45-1f

[2018-11-16 11:34] grzegorzwierzbicki commented on #18985
Hi
I saw that one.
But to make use of it I need to use this syntax user.extension_[GUID]__[Attribute]
How do I find the GUID of ADConnect ?

[2018-11-16 11:38] grzegorzwierzbicki commented on #18985
This is sadly the response I expected.
Why do I need to synchronize it as a custom attribute if it is already synchronized as a built-in ADConnect attribute, why do the same work twice?
Please work on this.

[2018-11-16 11:47] AshokPeddakotla-MSFT commented on #18977
@viv-liu Yes, the link is not working and please have a look at this and update it accordingly.

[2018-11-16 12:03] eholman opened #19062 "CosmosDB Dataset Query does select document properties"
I have a CosmosDB collection that contains a test document like this

    {
       	"_id" : ObjectId("5bee9420b4dfa712989d50fe"),
       	"id" : "1",
       	"remarks" : "this is a test",
       	"address" : {
       		"zipcode" : "1111"
       	}
    }

There is also a Dataset defined and the Connection is pointing to that collection and there is no schema defined.

The pipeline contains one acti

[2018-11-16 12:22] gruckion commented on #8557
I am running into this issue with a .Net Framework project. It does not have the "ApplicationInsights.config" file.

[2018-11-16 12:52] pablhoney opened #19063 "Sugget to use a soon-to-be-removed functionality"
Hello,
I'm looking for an alert system to use with Azure SQL databases and I found this article (https://docs.microsoft.com/en-gb/azure/sql-database/sql-database-insights-alerts-portal), but the functionality you suggest is going to be dismissed soon (June 2019, as also stated in the Azure Portal).
So I consider this document not only wrong, but also misleading users.
Please can you remove the art

[2018-11-16 12:54] pablhoney opened #19064 "Sugget to use a soon-to-be-removed functionality"
Hello,
I'm looking for an alert system to use with Azure SQL databases and I found this article (https://docs.microsoft.com/en-gb/azure/sql-database/sql-database-insights-alerts-portal), but the functionality you suggest is going to be dismissed soon (June 2019, as also stated in the Azure Portal).
So I consider this document not only wrong, but also misleading users.
Please can you remove the art

[2018-11-16 12:54] paulhasell opened #19065 "Not prompted for API Key"
When published to a Dynamics 365 CRM Environment for use with 'embedded' flow, it does not prompt for the API Key but instead seems intent on trying to use OAuth 😟

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb743ac5-5429-b45d-9623-3140b304669b
* Version Independent ID: 2b8fc604-63b0-7ea5-0c75-450f21056e9b
* Content

[2018-11-16 12:55] ArtemRim commented on #8243
Hi
The Azure SQL Database Managed Instance has limitation at 100 database. Is't actual information?
Was this limit change or not?
Because I have about 150 databases and for me the best solution is using he Azure SQL Database Managed, but this limit at 100 databases not allow me to use it.

[2018-11-16 12:57] stefanfritsch opened #19066 "Faulty Howto"
Step 7 of section **Assign users**,

     Once the application loads, click Users and Groups from the application’s left hand navigation menu.

is not possible. The entry **Users and Groups** does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ada0b95-37b4-22d1-152f-fc29a52f5706
* Version Independent ID: 94

[2018-11-16 13:29] Lroca88 commented on #19007
It is running.
![image](https://user-images.githubusercontent.com/5395468/48624133-adbd9e80-e979-11e8-9e7c-64d43e2c52f8.png)

[2018-11-16 13:41] markexperience commented on #18398
This is essential functionality, as there are a multitude of scenarios where downstream child devices should be remain isolated from the hub. Identity translation is an essential component in such cases.

[2018-11-16 13:49] jay98014 commented on #18077
Hello - currently you must be a member of the Company Administrator role in order to administer Azure AD Password Protection in the cloud.  This same requirement is present when registered the onpremises agents and forests.

[2018-11-16 13:55] petehall73 commented on #18998
Thanks Vic,

I am an idiot 😊

From: Vic <notifications@github.com>
Sent: 15 November 2018 17:02
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Peter Hall <peter.hall@horizon-globex.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Alias records for Traffic Manager when using Azure web app (#18998)

@petehall73<https://github.com/petehall73> Did yo

[2018-11-16 14:14] jpreese commented on #18570
@cephalin should I make another ticket for this? I'm just not sure if CORS is intended to be swapped and should be documented as such, or if it is to be fixed similar to IP restrictions in this ticket.

[2018-11-16 14:37] sergaz-msft commented on #19048
Thanks for your feedback @Joogle . [(Create and provision an Edge device with a virtual TPM on a Linux virtual machine)](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-simulated-device-linux) tutorial uses a Windows development machine with Hyper-V enabled running an Ubuntu Server VM.

If I understood correctly, you successfully completed : [Install Azure IoT Edge runtime on

[2018-11-16 14:37] TWolverson opened #19067 "How can this be achieved with the client credentials grant type?"
I am trying to get API Management to access blob storage using AD authentication. I can't use any libraries because API Management doesn't support this. The example given uses a redirect URI, which my solution doesn't have. I'm trying to use grant_type=client_credentials, and I can get an access token simulating this method with PostMan, but the token returned is rejected with 403 when I supply it

[2018-11-16 14:54] cocowalla opened #19068 "Certificate chain clarification"
From the docs: *"The X.509 certificate-based security in the IoT Hub requires you to start with an X.509 certificate chain, which includes the root certificate as well as any intermediate certificates up until the leaf certificate"*

I *think* this is saying that devices must have a certificate that's directly signed by a certificate that's registered in IoT Hub?

Let's say I have a PKI like:

[co

[2018-11-16 15:00] Joogle commented on #19048
I only completed [Install Azure IoT Edge runtime on Linux (ARM32v7/armhf)](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm) up to the verification part. The result for `$systemctl status iotedge ` was the one mentioned above.

The output of  `$journalctl -u iotedge --no-pager --no-full` is:
[code]
I only included part of the output as the remainder is just the sam

[2018-11-16 15:01] TWolverson commented on #19067
Found it. I was missing the `x-ms-version` header which [this documentation](https://docs.microsoft.com/en-gb/rest/api/storageservices/authenticate-with-azure-active-directory) does specify, but it's annoying that there is no way of knowing from the response received that this is the problem, not any logic that I am aware of as to why this makes a difference to token validation.

[2018-11-16 15:04] DaveVoyles opened #19069 ""Same as SQL Database.""
This appears several times, but I am not sure what "SQL Database" is referring to here.

Is it "Azure SQL Database" (to the left) or "Azure Virtual Machine
SQL Server" (to the right).

I'm assuming Azure SQL Database, but I wanted to be sure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd929b95-a669-6c8f-d55e-8b93c1

[2018-11-16 15:08] cconrado opened #19070 "Where's the api info to send a resolve"
Hi There,
I'm looking for the how to send an acknowledge or resolved for an alert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8ca0e65-acf5-32c8-bfa1-8a614881e053
* Version Independent ID: b19eea83-4834-6824-1363-2542888b4b1c
* Content: [Using Log Analytics Alert REST API](https://docs.microsoft.com/en-us/azure/log-

[2018-11-16 15:08] ermacia91 commented on #18715
Your explanation is very clear. I didn't expect it to be so simple to understand. Now that I think of it on a SOA context, it makes a lot of sense. Awesome!

Do you think this can be added to the current content in the article, for future reference for other customers?

[2018-11-16 15:16] gcormier opened #19071 "Msol"
This needs to be updated to include AzureAD cmdlets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06c24fd7-43ce-1445-b734-ffd28410911f
* Version Independent ID: b835d64a-a78a-95d9-11a7-8b93a23944c8
* Content: [Self-service or trial signup in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-direct

[2018-11-16 15:27] jlrevilla opened #19072 "Link to template is broken"
The link to the first step (Deploy Vehicle Telemetry Analytics Solution) is broken in the Azure AI Gallery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca4ab12-4cb5-5aa3-42fd-d0d867d1bdc8
* Version Independent ID: 5d22ea58-1c95-7aff-7607-f962f6d8bdff
* Content: [Power BI dashboard for vehicle health and driving habi

[2018-11-16 15:34] SolidKnight opened #19073 "Further information required for systemLabels and organizationalUnit"
Under Rules for Devices:
For systemLabels, it should noted where that value is set or link to corresponding documentation.
<Saw the note for organizationalUnit>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [

[2018-11-16 15:35] AshokPeddakotla-MSFT commented on #19046
Thanks for the feedback! We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-11-16 15:35] #19046 closed

[2018-11-16 15:40] cephalin commented on #18570
I checked with the product team. Sounds like CORS is not included in the current fix. I'll update the doc accordingly.

[2018-11-16 15:41] cephalin commented on #18255
This link has been removed from that note. Thank you. #please-close

[2018-11-16 15:46] ahmedmakhlouk commented on #16481
Hi Guys,
i fixed my problem.

# what was missing
`az storage share policy create --help`

# what i did
i added a share policy with the all the permisions (read-write-list) needed and it worked.
i have no longer the permission problem on the ACI

hope this will help

[2018-11-16 15:57] Mike-Ubezzi-MSFT commented on #19069
@DaveVoyles Thank you for requesting clarification. With Azure SQL Database (PaaS) there are three deployments a customer can choose from: Single Database, Managed Instance, and Elastic Pool. With Azure SQL Server on Azure Virtual Machine, the deployment is just that, SQL Server running in an Azure VM. Azure SQL Database always refers to the PaaS offering with the 3 deployment options. SQL Server

[2018-11-16 15:59] Mike-Ubezzi-MSFT commented on #19054
@SychevIgor Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2018-11-16 16:02] Mike-Ubezzi-MSFT commented on #19037
@FrankPan1990 Thank you very much for the detailed feedback regarding this issue. We are investigating and will update you shortly.

[2018-11-16 16:04] Mike-Ubezzi-MSFT commented on #19034
@DMoonesinghe Thank you very much for the detailed analysis and feedback. I am assigning this to a content author to evaluate and update as appropriate.

[2018-11-16 16:09] Mike-Ubezzi-MSFT commented on #19064
@pablhoney Thank you very much for your interest in Azure products and services. I am assigning this to a content owner to evaluate and update as appropriate.

[2018-11-16 16:10] wwoomobile opened #19074 "Object reference not set to an instance of an object."
Think there may be a bug accessing public WASB.
You have to use the storage key to access the public container by creating and passing in a credential object.
CREATE MASTER KEY;
 
CREATE DATABASE SCOPED CREDENTIAL AzureStorageCredential WITH IDENTITY = 'user', SECRET = '&lt;storage account key&gt;';
 
-- Pass CREDENTIAL object even if container is public
CREATE EXTERNAL DATA SOURCE publicds WITH (

[2018-11-16 16:27] johnwildes opened #19075 "Requirement for Generating Deployment Planner needing Microsoft Excel"
I could not find where in the documentation that it states the ASR Deployment Planner needs to have Microsoft Excel installed on the machine where the reports are generated.  Running this in a server environment will cause it to fail.  It does mention that the output is Microsoft XLSM format.   In the Generate Report intro paragraph you should add a note that states Microsoft Excel should be on th

[2018-11-16 16:29] johnwildes commented on #19075
I do see that it is listed in the pre-req document that a server with Excel 2013 or higher should be used.  I still feel it bears mentioning again, as a reminder.  It's easy to overlook, especially since the bulk of the work for this tool is located in this document.

[2018-11-16 16:34] gavdgavd opened #19076 "Information needs update urgently"
Please update the information in this article:
- The NuGet is not more "Microsoft.Azure.CognitiveServices.SpellCheck" but "Microsoft.Azure.CognitiveServices.Language.SpellCheck"
- The Client class is not anymore "SpellCheckAPI" but "SpellCheckClient"
- The method "SpellCheckerAsync" requires a parameter "Text"
- The given example doesn't work

---
#### Document Details

⚠ *Do not edit this section

[2018-11-16 16:38] Alberto-Vega-MSFT commented on #19072
@jlrevilla Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 16:38] PatAltimore commented on #19046
@moonplanter  Thanks for the feedback. I'm glad it helped. I'll pass it along to the product team. 😃

[2018-11-16 16:44] MicahMcKittrick-MSFT commented on #19050
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-16 16:44] MicahMcKittrick-MSFT commented on #19045
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-16 16:45] MicahMcKittrick-MSFT commented on #19041
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-16 16:45] HeidiSteen commented on #18224
You need to sign up for the API, get your access key, and structure a Post request with all that information in the headers. If the request is missing any endpoint information, you will get a 404.
1 - https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/how-tos/text-analytics-how-to-signup
2 - https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/how-tos/text

[2018-11-16 16:46] Alberto-Vega-MSFT commented on #19053
@lucasgros Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 16:48] Alberto-Vega-MSFT commented on #19042
@solidcloudio Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 16:48] MicahMcKittrick-MSFT commented on #19055
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-16 16:49] j-martens commented on #18488
You are right and we've added this to our backlog. It will be added to the documentation soon.

[2018-11-16 16:49] brlewi commented on #18887
![alt text]( "canada.jpg")

[2018-11-16 16:49] gunnarcms opened #19077 "Next Steps wording"
On the Next Steps section, https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-how-to-reprotect#next-steps ,  the sentence "We recommend you choose a time accordingly, and that you run a test failover but initiating a full failover to the primary site" is not very clear, should it not say "before" instead of "but"?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-11-16 16:50] j-martens commented on #18029
I believe we've clarified the issue. #please-close.  Reopen if you need more.

[2018-11-16 16:53] j-martens commented on #17880
Thanks for your input @pugillum. I have added this to our backlog to investigate.   #please-close.  Please share your workaround for others if you so desire.

[2018-11-16 16:55] sergaz-msft commented on #18820
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-16 16:55] #18820 closed

[2018-11-16 16:55] j-martens commented on #17821
This is not a doc bug, but something for the user forum.

[2018-11-16 16:56] Alberto-Vega-MSFT commented on #19008
@amthomas46 Thanks for the feedback! and @LuisCabrer Thanks for helping so quickly. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 16:57] j-martens commented on #17763
Thank you so much for feedback. We are investigating.

[2018-11-16 16:57] j-martens commented on #17763
@YutongTie-MSFT - Please assign to @sdgilley.

[2018-11-16 17:00] johnxy84 opened #19078 "502 Bad Gateway Error when hitting the INgress IP"
I've installed and configured the Ingress Controller on my cluster and I get the service as well as the endpoints...I used helm to install both the demo services , they are all green and ready. I've created the ingress from the yaml file but when I hit the Ingress IP get an Ingress 502 Error

[code]

This is what I get when I run kubectl get ingress.

---
#### Document Details

⚠ *Do not edit this

[2018-11-16 17:04] Alberto-Vega-MSFT commented on #19057
@krasnovandr Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-16 17:04] j-martens commented on #17760
@scovetta - good finds. We'll review the doc to see what is out of date. Thanks.

@YutongTie-MSFT - please assign to @garyericson

Thanks, @j-martens

[2018-11-16 17:06] j-martens commented on #17563
@YutongTie-MSFT  please assign to @ericlicoding thank you!

[2018-11-16 17:08] j-martens commented on #17503
@Mike-Ubezzi-MSFT - please assign to @sdgilley

[2018-11-16 17:09] j-martens commented on #17249
@Blackmist - can you help here by any chance?

[2018-11-16 17:10] Karishma-Tiwari-MSFT commented on #18587
@bruckGT Any update? Did you get a chance to take a look at the suggestions above. Thanks,

[2018-11-16 17:12] j-martens commented on #16841
@ArvidBaa - good to know. Thanks for sharing. We'll see what we can add to the documentation around this. @Blackmist

[2018-11-16 17:13] IotDevelope opened #19079 "Configure Client for proxy"
Hi, I followed the example and it work done on a network without proxy.
The my problem is that i need to run the example on a network with proxy! Can you help me out?
The error that give me is:
[IoT hub Client] Connect error: mqtt.js returned getaddrinfo EAI_AGAIN hub3f.azure-devices.net:8883 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-11-16 17:15] jason-j-MSFT commented on #18887
@bwren could you take a look?

[2018-11-16 17:15] j-martens commented on #16485
@YutongTie-MSFT - please assign to @Blackmist thank you.

[2018-11-16 17:15] j-martens commented on #16679
@YutongTie-MSFT - please assign to @Blackmist thank you.

[2018-11-16 17:16] j-martens commented on #16646
@YutongTie-MSFT - please assign to @ericlicoding . thank you.

[2018-11-16 17:18] pricoppd commented on #11379
@rthorn17 @femsulu @all

I'm losing my mind with Azure Policies, every time i'm trying to apply the newly created policy on a management group is failing with

##[error]AuthorizationFailed : The client '' with object id '' does not have authorization to perform action 'Microsoft.Authorization/policydefinitions/write' over scope '/subscriptions/'.

or

Failure responding to request: StatusCode=403

[2018-11-16 17:19] j-martens commented on #16054
@garyericson has this been updated?

[2018-11-16 17:20] akerber00 opened #19080 "Password File"
On oracle 11.2.0.1 and above, you cannot create a new password file on the data guard instance.  You will need to copy it from the source database instance in order for it to work properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 514bcbf1-9ebb-b9f0-a12e-bfdaf7c9b06f
* Version Independent ID: b13e5e51-04c9-cf3f-1

[2018-11-16 17:29] j-martens commented on #15632
@JasonWHowell @kfile @Blackmist FYI.

[2018-11-16 17:35] jason-j-MSFT commented on #19070
@cconrado Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-16 17:36] Alberto-Vega-MSFT commented on #19076
@gavdgavd Thanks for your valuable feedback. I assigned this issue to the content author to evaluate and update as appropriate.

[2018-11-16 17:37] jakaruna-MSFT commented on #18497
@iainfoulds I think we can change the secret name to "tls-secret-staging" so that the users will change that to prod when they are trying out stage and prod on same cluster.
Also consider adding a step in "clean up resources" to delete the secret.
Please investigate further and make appropriate changes.

[2018-11-16 17:37] bwren commented on #18887
We have various screenshots that need to be updated.  This is on the list and will be addressed shortly.

[2018-11-16 17:37] bwren commented on #18887
#please-close

[2018-11-16 17:40] Adam-Smith-MSFT commented on #19077
@gunnarcms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 17:54] Mike-Ubezzi-MSFT commented on #19074
@wwoomobile Thank you very much for the detailed feedback. There is another tutorial that is experiencing the same issue:

[2018-11-16 17:56] #18375 closed

[2018-11-16 17:57] Mike-Ubezzi-MSFT commented on #18643
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 18:00] MicahMcKittrick-MSFT commented on #18713
@wasabii I will close for now. When ready let me know and we can reopen and continue.

[2018-11-16 18:01] MicahMcKittrick-MSFT commented on #19007
@Lroca88 you could attempt to restart the VM to get it out of that state.

[2018-11-16 18:05] j-martens commented on #15546
#please-close

[2018-11-16 18:06] j-martens commented on #14952
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-16 18:07] j-martens commented on #14879
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-16 18:12] Blackmist commented on #17249
@j-martens @YutongTie-MSFT This is probably best assigned to the support team or opened as a bug/issue against the CLI code. This type of error about "python setup.py egg_info" happens in a variety of different software packages, for multiple reasons. It really needs to be debugged by someone with access to the source for our CLI.

That being said, it might be that this could be resolved by:
* Mak

[2018-11-16 18:16] JamesLee-MSFT commented on #18982
@santoshmallena Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-11-16 18:19] smirnovice opened #19081 "Azure Storage and SQL Server Managed Instance issue"
Azure storage is not accessible from SQL Server Managed Instance with SAS key and firewall ON - SQL MI has a private IP that cannot be added to firewall rules and enabling Trusted Microsoft services makes no difference.
The only way to allow them to talk with each other is to disable a firewall which is highly insecure.

This issue makes impossible to restore any on-site databases to Managed Insta

[2018-11-16 18:21] j-martens commented on #14349
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-16 18:22] j-martens commented on #14128
@metang to respond please. @YutongTie-MSFT please assign to @metang , new PM for product.

[2018-11-16 18:23] j-martens commented on #13788
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-16 18:29] j-martens commented on #10052
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-16 18:29] j-martens commented on #10056
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-16 18:29] j-martens commented on #10086
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-16 18:30] j-martens commented on #10535
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-16 18:30] j-martens commented on #10613
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-16 18:31] MicahMcKittrick-MSFT commented on #18886
Good find @sozercan!

@florianrusch I would suggest chiming in on the issue @sozercan mentioned. The team in that GitHub repo would best be able to assist you with your question. I am tracking that issue as well.

[2018-11-16 18:31] #18886 closed

[2018-11-16 18:31] j-martens commented on #10970
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-16 18:31] j-martens commented on #11773
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-16 18:32] Arash-Sabet commented on #18990
The issue that I reported is resolved.

[2018-11-16 18:33] j-martens commented on #12786
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-16 18:36] MicahMcKittrick-MSFT commented on #18902
@EM1L I have been doing some digging but I am not finding any instances of when you would have a space in the URL. Could you elaborate on when you are seeing this? Generally instead of spaces you should always be using _ or -

[2018-11-16 18:38] MarileeTurscak-MSFT commented on #19056
@DMoonesinghe
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-16 18:38] MarileeTurscak-MSFT commented on #19073
@SolidKnight
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-16 18:39] MarileeTurscak-MSFT commented on #19066
@stefanfritsch
Thanks for your feedback! We will investigate and update as appropriate.

[2018-11-16 18:39] MicahMcKittrick-MSFT commented on #18990
Thanks for the update @Arash-Sabet

@summer-ice2000 I followed this doc and did not see any issues. Try republishing the application to you existing cluster and once you confirm it is running in Service Fabric Explorer try the connection again.

If you are still seeing issues please open a new issue and we can dig in deeper.

[2018-11-16 18:40] Adam-Smith-MSFT commented on #19047
@ewok1986 I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-16 18:40] #19047 closed

[2018-11-16 18:41] BellaLi commented on #19011
Sure. Thanks for the investigation!

[2018-11-16 18:41] Blackmist commented on #16485
@nansravn Support for binary data is coming soon-ish. I'm waiting on an example that demonstrates handling binary data, which I'll use to update this doc. The example is held up currently as it relies on some back-end bits that aren't ready yet. I'll respond here once the example is ready and documentation updated.

[2018-11-16 18:42] mike-urnun-msft commented on #19043
Hi @vetrivelmp Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-11-16 18:42] Adam-Smith-MSFT commented on #19060
@pbourgin-cap Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 18:42] Blackmist commented on #16679
@nansravn Support for this is coming. I'll let you know once this is enabled and we have an example.

[2018-11-16 18:43] Adam-Smith-MSFT commented on #19067
@TWolverson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 18:44] Adam-Smith-MSFT commented on #19075
@johnwildes Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 18:48] TravisCragg-MSFT commented on #18998
@petehall73 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-16 18:48] #18998 closed

[2018-11-16 18:48] Adam-Smith-MSFT commented on #19081
@smirnovice Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 18:51] MarileeTurscak-MSFT commented on #19056
@DMoonesinghe I think it should say "user authenticates to the application."

I made a pull request (#58195) for review by @barbkess

https://github.com/MicrosoftDocs/azure-docs-pr/pull/58195

[2018-11-16 18:51] #19056 closed

[2018-11-16 18:52] MicahMcKittrick-MSFT commented on #19007
@Lroca88 and looking into further documentation, if restarting the VM itself does not clear the failed state then the next step would be to delete the cluster and re provision it. I do not find any other ways to clear the failed state other than that. Not ideal, but it should take care of the issue.

Then would suggest you create a cluster using the new version or just ensure you are using a small

[2018-11-16 18:52] #19007 closed

[2018-11-16 18:55] MicahMcKittrick-MSFT commented on #19017
@robberezowski thanks for reaching out and raising the issue directly to the ACI team on their repo.

This is actually the best place to address this issue. From a doc perspective the document on mounting does work as intended. It seems a product change itself is what is causing issues with actually making the mount useful.

I am tracking that issue and will chime in on it. We can all collaborate

[2018-11-16 18:55] #19017 closed

[2018-11-16 18:55] JamesLee-MSFT commented on #19051
@goroyal Thank you for your response.  We are investigating the issue.

[2018-11-16 18:59] alinamstanciu commented on #18089
@thuru, I cannot repro your issue, I was able to delete DT in North Europe. Please cut a ticket in the portal to have your instance deleted if that's your goal.

[2018-11-16 19:03] VanMSFT commented on #18643
Hi @jaszymas, can you please help evaluate the code app in [https://docs.microsoft.com/en-us/azure/sql-database/sql-database-always-encrypted](url) for localization issues. Thanks!

[2018-11-16 19:05] jason-j-MSFT commented on #18705
@sharonlo101 could you take a look at this?

[2018-11-16 19:06] MicahMcKittrick-MSFT commented on #19029
@hukun01 as mentioned, Azure Disk Encryption with Scale Sets is currently in preview

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-encrypt-disks-ps

Once encryption for VMSS is moved to GA then the next step would be to integrate it into the Automatic OS upgrades. We do not have any dates on when it will move out of Preview at this time. Once it is,

[2018-11-16 19:06] #19029 closed

[2018-11-16 19:06] jason-j-MSFT commented on #18709
@ShubhaVijayasarathy could you take a look at this request?

[2018-11-16 19:09] rwike77 commented on #18876
@jakaruna-MSFT I've updated the images.  The changes were just merged and should publish live this afternoon.  #please-close

[2018-11-16 19:10] jason-j-MSFT commented on #18720
@linda33wj I am seeing the same thing, could you take a look?

[2018-11-16 19:11] #18876 closed

[2018-11-16 19:11] #18727 closed

[2018-11-16 19:15] jason-j-MSFT commented on #18728
@ShubhaVijayasarathy I notice the same thing in the example code, could you take a look?

[2018-11-16 19:19] jason-j-MSFT commented on #18740
@nabhishek the first question in the FAQ section may need to be updated:
https://docs.microsoft.com/en-us/azure/data-factory/data-movement-security-considerations#frequently-asked-questions

[2018-11-16 19:20] MicrosoftGuyJFlo commented on #18077
Today you need Global Administrator privileges to configure this option. This is something that the product group is aware of and is being looked at but no timeline to share on a less privileged role.

[2018-11-16 19:20] MicrosoftGuyJFlo commented on #18077
#please-close

[2018-11-16 19:20] jason-j-MSFT commented on #19062
@eholman
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-16 19:29] jason-j-MSFT commented on #18359
@nitinme could you take a look at this request?

[2018-11-16 19:30] BellaLi commented on #19011
BTW, I had to add a role to yaml file, otherwise browsing Kubernetes Dashboard will complain "user "system:serviceaccount:kube-system:kubernetes-dashboard" cannot list nodes at the cluster scope".

apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: kube-dashboard
rules:
- apiGroups: ["*"]
  resources: ["*"]
  verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1b

[2018-11-16 19:34] ctstone commented on #18815
The following worked for me:

1. Add something like `type="queue"` or `type="queueTrigger"` to function.json
1. Use `func extensions install` locally to create `extensions.csproj` (I think this utility parses your function.json files)
2. Add a build step to build the project: `dotnet build -o bin`
3. Make sure the `bin` directory gets added to your container in your Dockerfile. I use `COPY . .` so

[2018-11-16 19:35] AlexFilipin opened #19082 "Password never expire poilcy for new account"
It looks like the command "Get-AzureADUser -All $true | Set-AzureADUser -PasswordPolicies DisablePasswordExpiration" only applies to existing account, what's the default if a new account is created and whats the difference to this O365 setting?
https://docs.microsoft.com/en-us/office365/admin/manage/set-password-expiration-policy?view=o365-worldwide

Could you use Set-MsolPasswordPolicy -ValidityP

[2018-11-16 19:37] alinamstanciu commented on #18089
Looking into your issue @testerting. Please cut a ticket in the portal describing as above the issue. Thank you for your feedback.

[2018-11-16 19:37] MicrosoftGuyJFlo commented on #18971
@boomalator The link you provided above is to the users page. You have to click service settings to get to the page with Trusted IPs.

[2018-11-16 19:37] rdow-fhi360 opened #19083 "Documentation issues"
We've discovered some issues in step 11b/c.

Login Redirect URL & Mobile Redirect URL values for Workday
Sign-on URL in Workday (per current instructions):
https://impl.workday.com/&lt;tenant&gt;/login-saml2.html
Login URL (what actually works):
https://login.microsoftonline.com/&lt;tenant&gt;/saml2

Logout Redirect URL value for Workday
Currently listed: Sign-Out URL (not shown in Azure)
Correct:

[2018-11-16 19:39] jason-j-MSFT commented on #19070
@cconrado I believe this is it:
https://docs.microsoft.com/en-us/rest/api/monitor/alertsmanagement/alerts/changestate

[2018-11-16 19:40] simonua opened #19085 "Powershell Support"
Could you explain whether Powershell support exists (yet) for Static Websites or point out when it may be added, please? It would be very helpful to have a Roadmap section in this document that details roughly when to expect feature improvements.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-

[2018-11-16 19:42] krishnasankarv opened #19086 "Create virtual machine scale set screen shot is changed. please update"
The screen is changed. it now supports load balancing options of application gateway, Load balancer and None.  The screen shot "Instance and Load balancer" section is now split in to 3 separate sections.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0ac55b8-8be8-1f86-e3b1-3fe3f6c340c1
* Version Independent ID: c26d3f

[2018-11-16 19:49] MicahMcKittrick-MSFT commented on #19011
@BellaLi thanks for the extra information.

Since you were able to deploy the cluster and I have confirmed the doc works I will close this for now.

If anyone is still having issues just let me know.

[2018-11-16 19:49] #19011 closed

[2018-11-16 19:51] Andrew-Alexander commented on #19074
I am having the same issue with this and the other New York cab data that I believe your referencing.

[2018-11-16 19:53] MicahMcKittrick-MSFT commented on #19041
@summer-ice2000 did you go through [tutorial 1](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-dotnet-app) building the app or did you simply download the app
using git clone https://github.com/Azure-Samples/service-fabric-dotnet-quickstart
and deploy via Visual Studio?

[2018-11-16 19:54] MicahMcKittrick-MSFT commented on #19045
@jsiegmund all valid feedback. I will assign to the author to review and see how we might be able to update/ add more information around your ask.

[2018-11-16 19:57] jl101 opened #19087 "But what protocol underlies SQL Authentication?"
Some of us need detail beyond "This authentication method uses a username and password".  Is it available and if so where can it be found.  A "for instance" in the on-premises world be that one using SQL Authentication might see the MTLM protocol come into play if that helps convey the idea of what I am seeking.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-11-16 19:57] baharw opened #19088 "What Docker CE should I installing?"
This is a newbie to Dockers question.

I am developing on Ubuntu 18.05 LTS, for RPi as my target Edge device. What Docker CE should I be installing on my Ubuntu 18.05 LTS development system?

Thank you in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b251621c-bcb0-b9ce-bd87-90499766137b
* Version Independent

[2018-11-16 20:00] shudson302 opened #19089 "Missing Method Exception UWP project targetting Windows 10 v 1809"
IDocumentQuery&lt;Vertex&gt; query = client.CreateGremlinQuery&lt;Vertex&gt;(graph, queryString);

This line of code gives me the following error:
{System.TypeInitializationException: The type initializer for 'Microsoft.Azure.Graphs.GraphExtensions' threw an exception. ---&gt; System.MissingMethodException: Method not found: 'System.Collections.Generic.Dictionary`2&lt;System.String,System.Object&g

[2018-11-16 20:01] sagimanoj commented on #15735
For an S3 bucket having versioning enabled, is it possible to pull only the records that have changed since last pull?

[2018-11-16 20:03] sagimanoj opened #19090 "For an S3 bucket having versioning enabled, is it possible to pull only the records that have changed since last pull?"
It'll help if we have more clarity on the behavior of Azure data factory with regards to different features of AWS S3 buckets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 710d4797-888a-ee10-f3e8-67b990e2f893
* Version Independent ID: ecc41588-d311-36e0-7257-914dac216c17
* Content: [Copy data from Amazon Simple Stora

[2018-11-16 20:10] zhusulai opened #19091 "Does HCM validate the request before handling it?"
If my HCM is configured to accept request for http://service1:80 and somehow receives a request for http://service2:80 from Azure. Will the HCM handle the request or reject it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 645d01fc-eae4-67c0-ef63-77d34d854d5e
* Version Independent ID: 516bc8a7-d927-d080-36a6-69ca95686

[2018-11-16 20:11] Void-Barrie commented on #19017
MS Azure support responded to my Azure ticket with:
'Due to a regression issue has occurred. Apologies for inconvenience.'

My permissions are back to 0777.

[2018-11-16 20:14] baharw opened #19092 "Tutorial: Develop and deploy a Python IoT Edge module to your real RPi device"
The title says it all. Is there a tutorial for deploying a custom Python module on a real Raspberry Pi device (arm32)?

I cannot be the first person doing this. If someone else has done this before, I would very much appreciate your help.

Thank you in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b251621c-bc

[2018-11-16 20:17] MarileeTurscak-MSFT commented on #19066
It is there. Just go to your tenant > Azure Active Directory > Enterprise Applications > Any Applications > Click into your application > Users and Groups.

![image](https://user-images.githubusercontent.com/13383753/48645065-5d563900-e999-11e8-9088-1e6f91078c6a.png)

[2018-11-16 20:17] Karishma-Tiwari-MSFT commented on #19080
@akerber00 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-11-16 20:18] MarileeTurscak-MSFT commented on #19066
We will now proceed to close this thread. If you are still having an issue or this did not resolve your problem, please leave a comment and tag me in it and I will gladly continue the conversation.

[2018-11-16 20:18] #19066 closed

[2018-11-16 20:20] MarileeTurscak-MSFT commented on #18978
Do you have an Azure AD Premium P1 or P2 license?

Azure AD Premium is required to be able to use Self-Service Password Reset for synced users. Otherwise, Cloud-only users can reset their passwords if you have Azure AD Basic.

https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-howitworks

[2018-11-16 20:23] Karishma-Tiwari-MSFT commented on #19055
@bdzeeuw I have assigned the issue to the content author to investigate further and update the document as appropriate.
@singhkays Can you please take a look and make updates in the doc as needed. Thanks.

[2018-11-16 20:30] gunnarcms opened #19093 "Warning on VM reprotection"
There is a warning "If you've migrated machines from the primary to the secondary region, moved the VM to another resource group, or deleted the Azure VM, you can't reprotect the VM, or fail it back." might need some rewording as it is not clear, it is indeed possible to re-protect a VM when the target VM has been deleted.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-11-16 20:33] ernani commented on #13929
There is also a mismatch of domain and SSL cert when using an ILB ASE, it looks for azurewebsites domain instead of the given domain, and fails. How to address that issue?

[2018-11-16 20:41] w00dbury opened #19094 "All modules for Azure"
When clicking All modules for Azure under Reference&gt;All Modules for Azure in the left navigation the url is: http://docs.ansible.com/ansible/latest/list_of_cloud_modules.html#azure#azure but the double azure tag at the end fails to bring up the azure specific section, using this url works https://docs.ansible.com/ansible/latest/modules/list_of_cloud_modules.html#azure

---
#### Document Details

[2018-11-16 20:47] kgremban commented on #18716
@CeciAc Thanks for the feedback. I don't know how to look at localized versions of the portal (and even if I did, I wouldn't know what I was looking at) but we have gotten some feedback from English-speaking users about this section, as well. I'm making updates to try and clarify the experience of the set modules wizard in the portal. It will take a few days extra for the changes to be picked up i

[2018-11-16 20:48] wwoomobile commented on #19074
yes, this would be true for all public datasources, including the NYC data set.
Copy the data to your own blob using azcopy

[2018-11-16 20:49] jason-j-MSFT commented on #19070
@cconrado closing this issue for now but feel free to add comments as needed.

[2018-11-16 20:49] wwoomobile commented on #18891
Think there may be a bug accessing public WASB.
 You have to use the storage key to access the public container by creating and passing in a credential object.
 CREATE MASTER KEY;
  
 CREATE DATABASE SCOPED CREDENTIAL AzureStorageCredential WITH IDENTITY = 'user', SECRET = '<storage account key>';
  
 -- Pass CREDENTIAL object even if container is public
 CREATE EXTERNAL DATA SOURCE publicds WITH

[2018-11-16 20:53] MicrosoftGuyJFlo commented on #18971
@boomalator I did not mean any tone or disrespect in my response. If you would like to email me directly my email is in my profile. I'd be happy to try to help you resolve this.

[2018-11-16 21:00] Couchiman opened #19095 "Solution Template is Missing"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd03a2f4-f296-4bb3-3b32-a418b5d17ab9
* Version Independent ID: 797f4873-2c39-a3a5-d784-b5461acfacfa
* Content: [Azure AI Gallery](https://docs.microsoft.com/en-us/azure/machine-learning/studio/gallery-how-to-use-contribute-publish)
* Content Source: [articles/machine-learni

[2018-11-16 21:01] boomalator commented on #18971
Where do I find the profile?

Mobile: big fingers, little buttons, and don't get me started about autocorrect.

On Nov 16, 2018, at 1:53 PM, John Flores <notifications@github.com<mailto:notifications@github.com>> wrote:

@boomalator<https://github.com/boomalator> I did not mean any tone or disrespect in my response. If you would like to email me directly my email is in my profile. I'd be happy to

[2018-11-16 21:02] Couchiman commented on #19095
Hi,
The solution template is missing at:
https://gallery.azure.ai/Solution/5bdb23f3abb448268b7402ab8907cc90

Thanks

[2018-11-16 21:02] MicrosoftGuyJFlo commented on #18971
@boomalator Click on my photo on GitHub it will take you to my profile.

[2018-11-16 21:04] newportl opened #19096 "pricing tier"
Suggest linking to the Pricing Tier page for the Database Migration Service noting that Standard Tier is free, and Business Critical tier is also free while in preview.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2469f918-a128-5375-89be-632e86af4eab
* Version Independent ID: 137d87f2-a1bf-e6fb-d9c4-be438b7a234f
* Co

[2018-11-16 21:05] cherylmc commented on #18958
Currently reviewing with the product team. Thanks!

[2018-11-16 21:05] DaveVoyles commented on #19069
Thank you @Mike-Ubezzi-MSFT . I understand that, but in the able where it specifically states _"Same as SQL Database."_ I am not sure if it is referring to _Azure_ SQL Database.

If so, could I suggest that we change the text to read _"Same as Azure SQL Database."_

[2018-11-16 21:06] Couchiman commented on #19072
Thanks!

[2018-11-16 21:09] MGoedtel commented on #18300
@jdickson289 @jason-j-MSFT - Thanks for suggesting this important point and I agree with your recommendation.  While making other edits last week I incorporated this one and the article was updated earlier this week and included the change.  Sorry for not getting back to you sooner.  #please-close

[2018-11-16 21:10] cherylmc commented on #18958
@pareshmu - can you please take a look?

[2018-11-16 21:13] singhkays commented on #19055
Will check with the VM PM who should be aware of this

[2018-11-16 21:14] MikeDodaro commented on #19042
Verified by Xiaomin Deng
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/58220 .  Should publish this afternoon.

[2018-11-16 21:19] mgblythe commented on #18957
@Mike-Ubezzi-MSFT -- can you close? This is by design.

[2018-11-16 21:34] tchristiani commented on #6880
@femsulu  please reassign to @PatrickFarley

[2018-11-16 21:35] lbrillhart opened #19097 ""Errors in activity functions" - JavaScript example doesn't work"
Trying to catch an error from a failed activity function and then run another error handling activity function in the catch block isn't working as documented.  The error handling activity never runs.  The orchestration simply completes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea12e4-9fad-88f3-7aa5-c1f323b62071

[2018-11-16 21:36] tchristiani commented on #11923
@YutongTie-MSFT please reassign to @PatrickFarley

[2018-11-16 21:36] kashimiz commented on #19097
Thanks for reporting this, @lbrillhart . What version of the `durable-functions` npm package are you using?

[2018-11-16 21:38] ganlbarone commented on #19009
What we did for now was use the startswith operator. We used the below. The only time this will cause a problem is if there is ever any other Apple device (like a mac book since intune now has JAMF integration) where OS may start with a 12. Right now we are still on osx (version 10), so an issue like this probably wouldn't surface for a long time from now. And even if it did you could add another

[2018-11-16 21:47] andrepodnozov commented on #13978
Yes I was following the instructions for gateway configuration and I was getting this error during the openssl verification step. I realize that a lot of things have changed since then, so I would have to try the repro afresh. If I run into issues I'll come back with more details.

[2018-11-16 21:49] Mike-Ubezzi-MSFT commented on #19063
@pablhoney Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 21:49] lbrillhart commented on #19097
Hi Katy,
We're pulling 1.0.0.

from the package.json file:

"_from": "durable-functions",
"_id": "durable-functions@1.0.0",
"_inBundle": false,
"_integrity":
"sha512-nlECj0km6VrGSV9oWj5SqV3c0h1+2vbPDr+EUb3UNRRLlVYaVljahnT+MQ7hIsD6+YOFSY6Mml4HeaCUClFE2w=="
,
Thanks,
Locke

On Fri, Nov 16, 2018 at 2:37 PM Katy Shimizu <notifications@github.com>
wrote:

[2018-11-16 21:49] jdickson289 commented on #18300
Thanks for the update!

[2018-11-16 21:51] ReneHezser commented on #17327
dps_str can be found here: https://github.com/Azure/dps-keygen
I found the documentation not helpful finding the tool.

[2018-11-16 21:52] Mike-Ubezzi-MSFT commented on #19096
@newportl Thank you very much for the detailed feedback. I have assigned this to a content author to evaluate and update as appropriate.

[2018-11-16 21:52] click3rs opened #19098 "Error during install"
Cannot connect on port 389.
Version: 1.2.65.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266bbd16-2117-f680-6493-e183eb09fdbc
* Content: [Azure AD Connect: Version release history](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference

[2018-11-16 21:55] BryanLa commented on #19051
Thanks for reporting this, @goroyal.

@JamesLee-MSFT - feel free to assign this to me. We are actually working through the issue that is causing this. I can report back once it is resolved..

[2018-11-16 21:56] Adam-Smith-MSFT commented on #19093
@gunnarcms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 21:57] Mike-Ubezzi-MSFT commented on #19096
@douglaslMS I am unable to assign this to @pochiraju.  Does he have an updated/active GitHub alias for this repository>

[2018-11-16 21:57] Adam-Smith-MSFT commented on #19085
@simonua Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 22:00] Mike-Ubezzi-MSFT commented on #19089
@shudson302 Thank you very much for the detailed feedback. We are investigating and will update you shortly.

[2018-11-16 22:05] Mike-Ubezzi-MSFT commented on #19087
@jl101 Thank you very much for filing this issue against the documentation. I am assigning this to a content author to evaluate and update as appropriate.

[2018-11-16 22:07] #18300 closed

[2018-11-16 22:08] hellosri commented on #16881
We use webapp for containers with a multi-container docker-compose. When swapping slots the service is running but the underlying containers are not.  Is there an easy way to warm up the containers?

[2018-11-16 22:12] MohitGargMSFT commented on #18985
@grzegorzwierzbicki Sure. Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory This will allow the other professionals to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-11-16 22:14] chetansriv commented on #8409
@tmaeller Tutorial updated

#please-close

[2018-11-16 22:15] MohitGargMSFT commented on #18991
@pauska Ok, let me check with service team around it.

@curtand Please confirm on above as it seems it is not working as documented.

[2018-11-16 22:18] douglaslMS commented on #19096
@Mike-Ubezzi-MSFT Looks like Raj is still a valid contributor: [https://github.com/pochiraju](https://github.com/pochiraju)

[2018-11-16 22:20] tfitzmac commented on #18823
@hukun01 - yes, it supports dead-lettering. I am adding it to the article.

[2018-11-16 22:21] jason-j-MSFT commented on #18415
@nabhishek this issue is in this section:
https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#install-and-register-self-hosted-ir-from-the-download-center

Step 2:
"Select Download, select the appropriate version (32-bit or 64-bit), and select Next."

The download section only has a 64-bit option.

[2018-11-16 22:21] alathrop opened #19099 "Detecting photo quality"
Can computer vision detect photo quality characteristics such as when an entire image is out of focus, or badly under/over exposed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18e9018d-935a-0900-fd3b-bdfe9a02ef58
* Version Independent ID: 05a95b4f-8d7c-63c6-f2d8-9cfaa169fafa
* Content: [The 86 categories of taxonomy

[2018-11-16 22:30] MohitGargMSFT commented on #19026
@Houndsong Request you to please clarify your issue. If you are following the document, can you point on which section and step you are facing issue?

In case your scenario is not related to the document, please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/n

[2018-11-16 22:40] VanMSFT commented on #19087
Hi @jl101, thank you for your question! SQL Authentication is the term used for the built-in security authentication for SQL Server. It is specifically a SQL login that is stored in SQL Servers/Databases, and does not rely on any Windows Authentication protocols like NTLM. SQL Authentication uses a username and password system that is validated against the stored values on the SQL Server/Database.

[2018-11-16 22:40] MohitGargMSFT commented on #19051
@BryanLa I am assigning this issue to you as multiple links in this document are broken. Please help fix them.

[2018-11-16 22:42] #18823 closed

[2018-11-16 22:46] MohitGargMSFT commented on #19052
@Larryngolog Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-11-16 22:49] chetansriv commented on #16993
This is fixed.

#please-close

[2018-11-16 22:51] Mike-Ubezzi-MSFT commented on #19096
No dice!

![screenshot 6](https://user-images.githubusercontent.com/37126106/48651279-0bb8a900-e9af-11e8-9b32-fb657e3ee5f7.png)

[2018-11-16 22:52] Mike-Ubezzi-MSFT commented on #18957
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-11-16 22:52] #18957 closed

[2018-11-16 22:52] Mike-Ubezzi-MSFT commented on #19069
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-11-16 22:53] jason-j-MSFT commented on #18461
@nabhishek the bug is in section 4d:
https://docs.microsoft.com/en-us/azure/data-factory/transform-data-using-databricks-notebook#create-a-pipeline

[2018-11-16 22:57] jl101 commented on #19087
Built-in security authentication brings back memories of builtin\administrators.

So this is essentially the same builtin security model that has been in the product since SQL 2000/2005?   I ask these questions because I have inquiring minds above me that want to know 😊.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Van To <n

[2018-11-16 23:01] jason-j-MSFT commented on #18745
@MGoedtel I see 31 days here as well:
https://docs.microsoft.com/en-us/services-hub/health/azure_pricing

[2018-11-16 23:02] kashimiz commented on #19097
Thanks for confirming, Locke. I've been able to reproduce the issue you described; this looks like a bug on our end. I'll investigate this - much appreciation to you for finding it. I've opened an issue in the Durable JS repo to track this: Azure/azure-functions-durable-js#23

[2018-11-16 23:04] suhuruli commented on #18179
Let's re-open this when the PR for such a table (which is a great suggestion) ends up in the document.

Thanks,
Sudhanva

[2018-11-16 23:04] ChackDan commented on #18179
I think @DiegoRamirez-MSFT  closed it by accident. Copying @rwike77  to follow up on this.

[2018-11-16 23:04] jason-j-MSFT commented on #18801
@hrasheed-msft you may want to make note of this one for tracking

[2018-11-16 23:05] VanMSFT commented on #19087
Hi @jl101, yes, it is the same SQL Authentication used on SQL Server.

[2018-11-16 23:05] theheatDK opened #19100 "What is a network socket in this context?"
Hi,
It is a bit difficult to know what leads to the "The job was tried three times but it failed" error.
One of the possibilities is that the job uses 1000 concurrent network sockets. But what does this mean?
I have not been able to find any explanation. Can a job only make 1000 calls to AzrueRM cmdlets?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-11-16 23:06] jason-j-MSFT commented on #19002
@dearandyxu could you take a look at this request?

[2018-11-16 23:08] BryanLa commented on #19051
@goroyal, @MohitGargMSFT - the PR to resolve this is queued up and building. Once the merge and republish is done, the links will work again. I'll report back as soon as I have more..

[2018-11-16 23:10] douglaslMS commented on #19096
@Mike-Ubezzi-MSFT OK, I guess what I saw only proves that he has a GitHub account, not that he has permissions in MicrosoftDocs. That's interesting, someone else must have submitted the articles that list him as author. Oh, well. Leave this issue assigned to me for now and I'll ask Raj to make sure he signs up for the MicrosoftDocs org.

[2018-11-16 23:22] cbrit opened #19101 "Uri format"
When I run the program I get the following exception:

`Unhandled Exception: System.UriFormatException: Invalid URI: The format of the URI could not be determined.`

Here is my code for reference

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d79b7648-690c-bb70-0711-cbd31b38283b
* Version Independent ID: f8f3d2

[2018-11-16 23:30] MikeDodaro commented on #19042
#sign-off

[2018-11-16 23:33] MicrosoftGuyJFlo commented on #18899
@dcnoren Make sure you have enabled the experience for your users as shown in the doc. If you haven't enabled the experience you will see this error. I was just able to confirm the experience is working as expected.

[2018-11-16 23:35] Grace-MacJones-MSFT commented on #19061
Hi @colinrippeyfinarne, thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-16 23:37] eross-msft commented on #19052
@Larryngolog The data is actually stored in both the US and Europe.

I'll be changing the text to read, "Azure AD data that's stored in European datacenters, but also replicated to United States datacenters, includes:”

You should see this change buy Monday afternoon due to our publication schedule.

[2018-11-16 23:38] eross-msft commented on #19052
#please-close

[2018-11-16 23:47] TravisCragg-MSFT commented on #15812
@joselcaguilar @sahilpnckr123 are you still having this issue? I am currently able to deploy Azure WAN in West US 2 without an issue.

[2018-11-16 23:49] ShaunInIdaho commented on #9312
FYI: I'm using AzureRM.SQL version 4.11.5 and I still do not have this command.  Is the command STILL in preview?

[2018-11-16 23:50] lbrillhart commented on #19097
Ok very good.  Glad it's not my dumb coding error ;)

FWIW, my work email is lbrillhart@kleinfelder.com.  Kleinfelder is a MS EA
customer.  We're fully in Azure with all infrastructure including my team's
ASE and a bunch of web apps & functions.  These durable functions are very
cool and we're trying to leverage them heavily.  Looking forward to the
progress.

Thanks,
Locke

On Fri, Nov 16, 2018 a

[2018-11-16 23:53] femsulu commented on #19049
@SamirFarhat Thanks for your comment. This feedback has been shared with the content owner for further review.

[2018-11-16 23:54] allan-xiazhan commented on #18225
Hi kkho,

This is Allan from container instance developer team.  Is this issue still there?
If so, would you please share your resource group name and container group name?  I am going to investigate it.

[2018-11-16 23:54] femsulu commented on #19094
@w00dbury Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-11-16 23:58] jeevansd commented on #19026
@Houndsong If you are referring to the common user scenario where they want to come and like or submit new idea on Uservoice and use Azure AD authentication for it, then this is coming soon. we have worked with UserVoice team and soon they will launch this.

[2018-11-16 23:58] jeevansd commented on #19026
#please-close

[2018-11-17 00:04] MohitGargMSFT commented on #19098
@click3rs Thanks for your feedback! We will investigate and update soon on it.

[2018-11-17 00:05] femsulu commented on #19094
@TomArcher , tried to make this change but I don't have access to the url references on the left pane:
![image](https://user-images.githubusercontent.com/34327711/48653336-5f2ff480-e9b9-11e8-86d5-041c78a53447.png)

[2018-11-17 00:06] MohitGargMSFT commented on #19083
@rdow-fhi360 Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-11-17 00:07] MohitGargMSFT commented on #19082
@AlexFilipin Thanks for your feedback! We will investigate and update soon on it.

[2018-11-17 00:16] MohitGargMSFT commented on #19071
@gcormier Please note that [How can I control these capabilities?](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-self-service-signup#how-can-i-control-these-capabilities) section already provide Azure AD cmdlet. Can you please help with an example of what update you are reffering here?

[2018-11-17 00:20] cherylmc commented on #8414
This one was fixed some time ago. It should have been closed earlier. Sorry! #please-close

[2018-11-17 00:31] cherylmc commented on #14403
investigating

[2018-11-17 00:35] qibozhu commented on #18549
@ml810326 Hi, Tom, looks like createContainerIfNotExists API will call "set container ACL" operation anyway. Is it possible for you to try the .NET sample just to make sure the blob storage module is running properly?

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-dotnet?tabs=linux

You need to comment out the following lines in storage-blobs-dotnet-quickstart/Progr

[2018-11-17 00:48] MarileeTurscak-MSFT commented on #18978
Please ensure also that you have followed the guide below. https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-writeback

[2018-11-17 01:00] KC-TB opened #19102 "Microsoft Authenticator doesn't work on new phone"
I used Authenticator app successfully on iPhone. Bought a new iPhone. I followed the Recover procedure listed above. Authenticator app on new phone doesn't show up on my new iPhone. They still show up on my old one. How do I get them to show up on my new iPhone?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 888a6b76-3

[2018-11-17 01:01] gcormier commented on #19071
All I see is Set-MsolCompanySettings, which is an Msol cmdlet, not AzureAD.

[2018-11-17 01:02] MarileeTurscak-MSFT commented on #18978
@Flodu31 We will now proceed to close this thread. If you have further questions or still were not able to resolve the problem, please tag me in the comments and I will gladly continue the conversation.

[2018-11-17 01:02] #18978 closed

[2018-11-17 01:32] dlepow commented on #18893
@cloudmelon - Thanks for the additional information. I reproduce your issue using the Command shell in Windowl and  I will add a note about this in the article.  In other shells, we currently recommend the single quotes for environment variable names and values passed through the CLI. This allows for values that include special characters such as '=' and '&'.

[2018-11-17 01:34] Alberto-Vega-MSFT commented on #18849
Hi @DaveVoyles Were you able to resolve the issue? I'm unable to reproduce. I went over the document, tested and it worked well.

[2018-11-17 01:50] hrasheed-msft commented on #18801
@SychevIgor thanks for letting us know. I have notified the product group team to provide more updated samples for this example. There is another large scale effort ongoing to update our code samples to be in compliance with the latest HDInsight SDKs. Hopefully we will be able to provide these in the coming months, but at present this code sample and document does not seem to have a specific bug.

[2018-11-17 01:50] hrasheed-msft commented on #18801
#please-close

[2018-11-17 01:52] Alberto-Vega-MSFT commented on #19101
@cbrit Sorry to hear that you are facing issues. How is that invalid URI looking? can you please  print to the console and share it?

[2018-11-17 01:53] Alberto-Vega-MSFT commented on #19099
@alathrop Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 01:55] BryanLa commented on #19051
All - the publishing is going on now, and will gradually restore all links (the ones in this article have been restored). Thanks for your patience, and again, for reporting this.

CXP: #please-close

[2018-11-17 02:21] ravikiran-srini opened #19103 "Please clarify the diagram under the heading 'Routing Example'"
As the Virtual network gateway is deployed within a Gateway Subnet (which is contained within the Virtual Network), shouldn't the Virtual Network Gateway be shown as part of the Virtual Network in the diagram?

Showing the Gateway outside the Virtual Network confuses readers alike. Or please let me know if there is any misunderstanding in my understanding

---
#### Document Details

⚠ *Do not edit

[2018-11-17 02:29] BryanTrach-MSFT commented on #19095
@Couchiman Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 02:32] BryanTrach-MSFT commented on #19090
@sagimanoj Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 02:34] BryanTrach-MSFT commented on #19068
@cocowalla Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 02:36] BryanTrach-MSFT commented on #19079
@IotDevelope Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 02:37] BryanTrach-MSFT commented on #19088
@baharw Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 02:37] MicahMcKittrick-MSFT commented on #18882
@amandadebler I worked offline to get an answer for you on this one.

At this time, it is not possible to constrain a vnet access, though, we are working to give customers the ability to be able to specify authorized IP ranges for it.

Another issue with locking down accesses is AKS builds new and upgraded nodes by pulling components from various Microsoft and 3rd party locations. Hence, it is not

[2018-11-17 02:37] #18882 closed

[2018-11-17 02:37] BryanTrach-MSFT commented on #19092
@baharw Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 02:40] BryanTrach-MSFT commented on #19102
@KC-TB Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 02:43] BryanTrach-MSFT commented on #19091
@zhusulai Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 02:45] BryanTrach-MSFT commented on #19100
@theheatDK Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 02:45] BryanTrach-MSFT commented on #8409
@tmaeller We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:45] #8409 closed

[2018-11-17 02:46] BryanTrach-MSFT commented on #9526
@ryano144 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:46] #9526 closed

[2018-11-17 02:46] BryanTrach-MSFT commented on #9970
@ksivasenthil We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:46] #9970 closed

[2018-11-17 02:46] MicahMcKittrick-MSFT commented on #19078
@johnxy84 do you get the same error on the hello-world-two screen? Or just on the first?

[2018-11-17 02:46] BryanTrach-MSFT commented on #10052
@ryannk We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:46] #10052 closed

[2018-11-17 02:46] BryanTrach-MSFT commented on #10056
@danielithiessen We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:46] #10056 closed

[2018-11-17 02:47] BryanTrach-MSFT commented on #10086
@sauercrowd We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:47] #10086 closed

[2018-11-17 02:47] BryanTrach-MSFT commented on #10535
@davidyan0429 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:47] #10535 closed

[2018-11-17 02:47] BryanTrach-MSFT commented on #10613
@dem108 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:47] #10613 closed

[2018-11-17 02:47] BryanTrach-MSFT commented on #10970
@ArvidBaa We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:47] #10970 closed

[2018-11-17 02:48] BryanTrach-MSFT commented on #11773
@shivamgargsya We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:48] #11773 closed

[2018-11-17 02:48] BryanTrach-MSFT commented on #12786
@ilyas-it83 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:48] #12786 closed

[2018-11-17 02:49] BryanTrach-MSFT commented on #13788
@nelsonavanade We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:49] #13788 closed

[2018-11-17 02:49] BryanTrach-MSFT commented on #14349
@gitathrun We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:49] #14349 closed

[2018-11-17 02:49] BryanTrach-MSFT commented on #14879
@dragonkoko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:49] #14879 closed

[2018-11-17 02:49] BryanTrach-MSFT commented on #14952
@swails We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:49] #14952 closed

[2018-11-17 02:50] BryanTrach-MSFT commented on #15546
@dem108 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:50] #15546 closed

[2018-11-17 02:51] j-martens commented on #19095
@Couchiman - can you please tell where the broken link is in that article? I can't find it. Thank you!

[2018-11-17 02:52] BryanTrach-MSFT commented on #15730
@serkanozkul This issue is out of the scope of Azure docs. We kindly invite you to continue the discussion on MSDN forums or Stack Overflow where we also have a precense.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:52] #15730 closed

[2018-11-17 02:52] j-martens commented on #5506
This was resolved and the article was later deprecated. #please-close.

[2018-11-17 02:52] BryanTrach-MSFT commented on #15914
@ArvidBaa We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:52] #15914 closed

[2018-11-17 02:52] BryanTrach-MSFT commented on #16993
@LisandroSu We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:52] #16993 closed

[2018-11-17 02:52] BryanTrach-MSFT commented on #17503
@jmservera We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:52] #17503 closed

[2018-11-17 02:53] BryanTrach-MSFT commented on #17520
@porrascarlos802018 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:53] #17520 closed

[2018-11-17 02:53] BryanTrach-MSFT commented on #17608
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:53] #17608 closed

[2018-11-17 02:53] BryanTrach-MSFT commented on #17609
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:53] #17609 closed

[2018-11-17 02:53] BryanTrach-MSFT commented on #17880
@pugillum We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:53] #17880 closed

[2018-11-17 02:54] j-martens commented on #6084
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-17 02:54] j-martens commented on #6714
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-17 02:54] BryanTrach-MSFT commented on #18029
@luigiw We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:54] #18029 closed

[2018-11-17 02:54] BryanTrach-MSFT commented on #18077
@ProfKaz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:54] #18077 closed

[2018-11-17 02:54] j-martens commented on #7591
@YutongTie-MSFT - this article was fixed in july and is now no longer maintained. #please-close.

[2018-11-17 02:55] BryanTrach-MSFT commented on #18255
@CHDAFNI-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:55] #18255 closed

[2018-11-17 02:55] BryanTrach-MSFT commented on #18801
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:55] #18801 closed

[2018-11-17 02:56] BryanTrach-MSFT commented on #18887
@jakubkirylo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:56] #18887 closed

[2018-11-17 02:56] j-martens commented on #7614
@YutongTie-MSFT - this comparison now exists between the services. #please-close.
https://docs.microsoft.com/en-us/azure/machine-learning/service/overview-what-is-azure-ml#how-is-azure-machine-learning-service-different-from-studio

[2018-11-17 02:56] BryanTrach-MSFT commented on #18973
@AndyHerb We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:56] #18973 closed

[2018-11-17 02:56] BryanTrach-MSFT commented on #19026
@Houndsong We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:56] #19026 closed

[2018-11-17 02:56] BryanTrach-MSFT commented on #19051
@goroyal Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 02:56] #19051 closed

[2018-11-17 02:56] j-martens commented on #8129
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-17 02:57] BryanTrach-MSFT commented on #19052
@Larryngolog We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 02:57] #19052 closed

[2018-11-17 02:57] j-martens commented on #8280
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-17 02:57] j-martens commented on #8290
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-17 02:58] j-martens commented on #8534
@YutongTie-MSFT - this is a product issue, not a documentation one.

[2018-11-17 02:59] j-martens commented on #8688
@YutongTie-MSFT - this article was deprecated in September and is no longer maintained. #please-close.

[2018-11-17 03:01] j-martens commented on #13085
@YutongTie-MSFT - this article article exists for the new service.   https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-enable-app-insights

[2018-11-17 03:02] j-martens commented on #13167
@YutongTie-MSFT - #please-close

[2018-11-17 03:09] tx5westmt opened #19104 "Links to 'What Happened...' not working"
Both links in intro to verify 'what happened' are redirecting to this page instead of the details on what changes when adding this as a connected services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 776dc3e0-fe6e-fdf5-15c0-5d32feeec553
* Version Independent ID: 8378b453-8238-91e5-4dff-eb5f6c6be83a
* Content: [Add K

[2018-11-17 03:20] SnehaGunda commented on #18146
#please-close

[2018-11-17 03:55] boomalator commented on #18971
So, I had to go to a totally different site, and log in, and do another MFA, just to get the email address? Because Microsoft hides reply addresses and can’t handle attachments. Sigh.

So, attached are two screenshots. Please notice:

  1.  The URL does not change in the browser window when you click on “service settings”.
  2.  There is no “trusted ips” section that I can see on either “tab”

I *

[2018-11-17 04:00] #6714 closed

[2018-11-17 05:05] johnxy84 commented on #19078
Just the first. The hello-world-two loads for ages then finally loads with broken assets. On the console, it logs 502 errors when trying to get the assets it needs.

[2018-11-17 05:41] jakaruna-MSFT commented on #18345
@rizwaans This PowerShell script runs the custom extension for every invocation.
Like @csand-msft suggested, I added the timestamp as an argument. So for every execution, Timestamp will have a different value, which changes the configuration of custom script extension.
Because of the configuration change, Extension executes again.
[code]
Also note that Custom script extension is designed to execut

[2018-11-17 06:12] MohitGargMSFT commented on #19082
@AlexFilipin Yes, you can use [Set-MsolPasswordPolicy](https://docs.microsoft.com/en-us/powershell/module/msonline/set-msolpasswordpolicy?view=azureadps-1.0).

[2018-11-17 07:08] MohitGargMSFT commented on #19102
@KC-TB To discuss the issue you are facing, please open a new forum post and community will help address your query. Please refer to below link to forum to ask new question -
https://social.technet.microsoft.com/Forums/en-US/newthread?category=identitymanagement&forum=MicrosoftAuthenticatorApp&prof=required

[2018-11-17 07:55] cloudmelon commented on #18893
Thank you Dan :)

Melony

[2018-11-17 07:56] JamesDLD commented on #16191
FYI, I have just published an ARM template that **creates a Standard Public Load Balancer with outbound rules** here : https://github.com/JamesDLD/AzureRm-Template/tree/master/Create-AzureRmLoadBalancerOutboundRules

[2018-11-17 08:10] gsamant opened #19109 "Deployment failing due to less number of cores on Free Trial Subscription"
Azure Blockchain Workbench deployment is failing showing error "not enough number of core" on Free Trial subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eb2e7c5-e153-4067-ae8c-45eb64add7da
* Version Independent ID: 3c87633d-44b7-525d-0e29-75f2d4bcbf2b
* Content: [Deploy Azure Blockchain Workbench](https:/

[2018-11-17 08:34] azureadministrator opened #19110 "MFA Version 8.0+ Mobile App URL"
If MFA server is running on 7.1.X version now we have to upgrade it 8.0+ version. In new Version, we have found that Microsoft has deprecated that Mobile App feature.  Therefore, we are concerned that post upgrade to version 8.0+ what will happened with existing users who all are already registered using on-perm mobile app URL & using Mobile Authenticator app. Will they have to re-register Microso

[2018-11-17 09:01] kkho commented on #18225
sure @allan-xiazhan . Can I PM you the instance and resource group? give me an email address then I can send you there.

[2018-11-17 09:35] DaithiG commented on #18992
Thanks. Had raised a call with Azure support but they keep saying it's an issue with the app itself which I don't get. It's fine. Thanks for your help.

[2018-11-17 09:51] yusufkhatri opened #19111 "VM is still able to access secrets after Managed Identity (User assigned) was removed"
I created an Azure VM and gave it a user assigned managed identity. I was able to write a small console application and was able to retrieve the secret successfully.

I removed the identity from that Azure VM and when I ran the same console app, to my surprise I was still able to retrieve the secret.

How do I ensure that once the managed identity is removed from the VM, requests to the vault will

[2018-11-17 10:47] jmservera commented on #17503
Great! Thank you.

[2018-11-17 12:57] nhwilly commented on #18146
Thanks for following up!

But actually, I still have the problem.  What I'm trying to accomplish is to give a client device permission to execute a stored procedure, but I don't want them to have anything but read permissions on the data.

This seems really basic to me and I can't believe it's not possible, just that I don't understand the technique or workaround for it.

- Do people put the store

[2018-11-17 14:57] hassanbabaie opened #19112 "Any news on when Gen 2 will be GA?"
It’s been about 6 six months now so I’m just wondering if we have a possible date lined up for when this may become GA so we can use it for production data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b975977b-abaa-8429-c902-30fd470c43ac
* Version Independent ID: 289cf357-a6d6-7c00-d282-fe93f66a5c4e
* Content: [Azur

[2018-11-17 16:56] danvanderboom opened #19113 "wrong abstractions referenced"
“The number of services in an application can be scaled up and down.”

It’s the number of service replicas, not the number of services, that scales up and down. And that is really scaling in and out. VMs can be scaled up and down by changing their size, and on a blade in the Azure portal there are buttons distinguishing between scaling settings “in and out” vs “up and down”.

---
#### Document Det

[2018-11-17 17:50] cppcraze opened #19114 "Is LocalNetworkGateway one type of Virtual Network Gateway?"
It is a little bit confusing. This article is talking about Virtual network gateway configuration. It mentions ps New-AzureRmVirtualNetworkGateway to create virtual network gateway, but the last section pops up for Local Network Gateway which uses different ps cmdlet "New-AzureRmLocalNetworkGateway". I think Virtual network gateway is different from local network gateway, then why they are put in

[2018-11-17 17:55] cppcraze opened #19115 "Do VPN and VNet mean same thing?"
as title. These two terms keep showing up.
VPN = Virtual Private Network
VNent = Virtual Network
Do they mean same thing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6194908-a982-62c9-8c72-46f30510ff35
* Version Independent ID: 24282276-925e-7f89-de85-350effb14a47
* Content: [Connect your on-premises network to an

[2018-11-17 18:07] MicahMcKittrick-MSFT commented on #19113
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 18:07] BryanTrach-MSFT commented on #19111
@yusufkhatri Can you please provide us with the URL of the doc that you are having trouble with?

[2018-11-17 18:10] BryanTrach-MSFT commented on #19104
@tx5westmt Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 18:13] billnbell commented on #18950
Yep

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Wednesday, November 14, 2018 3:37 PM
To: MicrosoftDocs/azure-docs
Cc: billnbell; Mention
Subject: Re: [MicrosoftDocs/azure-docs] For @ use %40 is using URL (#18950)

@billnbell<https://github.com/billnbell> Thank you very much for the detailed feedback. Just to clari

[2018-11-17 18:14] BryanTrach-MSFT commented on #19110
@nirmalmcse02 Can you please provide us with the doc URL that you are having problems with?

[2018-11-17 18:18] BryanTrach-MSFT commented on #19103
@ravikiran-srini Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 18:31] BryanTrach-MSFT commented on #19114
@cppcraze Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-17 18:32] BryanTrach-MSFT commented on #19115
@cppcraze We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-11-17 18:36] rhawley26 opened #19116 "WARNING ****"
This tutorial doesn't work at all with the current version of Azure.  Too much has changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681e10a1-05d3-5761-2afd-42602a7efecf
* Version Independent ID: f72e21b1-3530-8554-f1f1-fc66b222a485
* Content: [Real-time data visualization of sensor data from your Azure IoT hub –

[2018-11-17 18:54] nirmalmcse02 commented on #19110
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-deploy-upgrade this is doc URL which we are referring for upgrading MFA server from 7.X to 8.0.X.

[2018-11-17 21:03] reicher001 commented on #17750
Any updates on this issue?

[2018-11-17 22:23] jl101 commented on #19087
It must have been tweaked between then and now (SQL 2012) as the login can be in the database alone (no required entry in master) and one can authenticate and connect to the database.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Van To <notifications@github.com>
Sent: Friday, November 16, 2018 5:05:43 PM
To: MicrosoftDocs/az

[2018-11-17 22:43] 7100SW opened #19122 "GetQueryNameValuePairs does not exists in .Net Core"
For .Net Core, the
What is the equivalent of GetQueryNameValuePairs when using .Net Core 2.x?

    // parse query parameter
    string name = req.GetQueryNameValuePairs()
        .FirstOrDefault(q =&gt; string.Compare(q.Key, "name", true) == 0)
        .Value;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca056578-526

[2018-11-17 22:48] pareshmu commented on #18958
We are working on the backend to make it such that we would be able to do 5min granularity and thus, be able to display longer time range.
You make a fair point in the meanwhile to add this in the documentation, until this is resolved. We are currenly able to go until 6 days

[2018-11-17 22:59] unsafecode commented on #17639
Any updates on this?

[2018-11-18 00:19] BryanTrach-MSFT commented on #19122
@7100SW Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-18 00:20] BryanTrach-MSFT commented on #19116
@rhawley26 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-11-18 05:10] Busch commented on #10205
Same here. Streaming dataset not showing in PowerBI

[2018-11-18 06:14] satishanumolu opened #19133 "Get metric details inside monitor alert"
I was trying to monitor azure data factory v2 pipelines. I want to create a alert which will send email notification if any of the pipeline run fails using failedpipelineruns metrics.

https://docs.microsoft.com/en-us/azure/data-factory/monitor-using-azure-monitor#alerts

Is there a way to get the metric information inside alert like name pipeline that failed, error message for the failure etc?

I

[2018-11-18 07:06] baharw commented on #18195
I am not behind a proxy server.

[2018-11-18 07:15] baharw commented on #18195
Humm... I checked, and my hostname is raspberrypi. Not sure what is going on,...

[2018-11-18 08:46] PramodValavala-MSFT commented on #19122
@7100SW Sorry about the outdated samples. We are in the process of updating the docs for Functions v2.

In the meantime, you can change `req` to type `Microsoft.AspNetCore.Http.HttpRequest` instead of `System.Net.Http.HttpRequestMessage` and get query params like this

[code]

We will keep this issue open for tracking the update of this specific doc.

[2018-11-18 11:45] joselcaguilar commented on #15812
It is working from my side.

Thx.

Best regards,
j

[2018-11-18 12:06] Couchiman commented on #19095
*Vehicle Telemtry Analytics Solution* :
https://gallery.azure.ai/Solution/5bdb23f3abb448268b7402ab8907cc90

The link is this two places:

https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/cortana-analytics-playbook-vehicle-telemetry-powerbi

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/machine-learning/team-data-science-process/cortana-analytics-

[2018-11-18 13:02] JohnStraumann66 opened #19134 "Snippets"
Hi: I did this tutorial first: https://docs.microsoft.com/en-us/azure/cognitive-services/Face/Tutorials/FaceAPIinCSharpTutorial which was great, clearly detailed every step, every "using" statement, etc. Then I moved to this "Next Step" article, and I only see snippets. Is there a full working example of this on GitHub and/or complete documentation? For example, the line: faceServiceClient = new F

[2018-11-18 14:48] TalabH opened #19136 "Templates provided are broken"
the templates provided on the top of the document are broken and throws deployment error
Template URL https://azuremarketplace.microsoft.com/en-us/marketplace/apps/Microsoft.AzureMLASPNETTemplateforRRS?tab=Overview
Error Message
STATUSMESSAGE{
'Code': 'NotFound',
'Message': 'Cannot find SourceControlToken with name GitHub.',
'Target': null,
'Details': [
{
'Message': 'Cannot find SourceControlToken

[2018-11-18 15:57] maneeshbhat21 opened #19138 "Statement under Premium Managed Disks"
The statement regards to Premium Managed Disks shows that it has only 3 disk type -p10/p20/p30which dont think is correct or i am misunderstanding something.

There are three types of Premium Managed disks that can be used with your VM and each has specific IOPs and throughput limits. Consider these limits when choosing the Premium disk type for your VM based on the needs of your application in te

[2018-11-18 16:43] JamesLee-MSFT commented on #19133
@satishanumolu We are investigating your question.

Thanks.

James

[2018-11-18 16:44] JamesLee-MSFT commented on #19022
@spacexii Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-11-18 16:44] #19022 closed

[2018-11-18 16:46] JamesLee-MSFT commented on #19136
@TalabH Could you provide the link to the doc.microsoft.com link you are referring to?

[2018-11-18 16:46] HaoHoo opened #19139 "Get 404 error when customize domain use root domain name even verified by portal"
When I add new custom domain record to App service and browse it then get 404 error. Even I've add A and TXT record and verified the root domain name in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167c9-9589-45d0-ee6a-7a47a4aec41e
* Conten

[2018-11-18 16:49] JamesLee-MSFT commented on #19110
@nirmalmcse02 Thanks.  We are investigating the issue.

[2018-11-18 19:35] rizwaans commented on #18345
Excellent, Thanks very much @jakaruna-MSFT

[2018-11-18 19:38] pauska commented on #18991
@MohitGargMSFT I can confirm that [CountryOrRegion] works, while [Country] does not. Atleast not for us.

[2018-11-18 20:08] olavt opened #19141 "Pricing confusion?"
How can the prices for storing data in Azure Data Lake Storage Gen 2 be 50% of the Block Blobs storage prices, if they actually use the same underlying storage mechanism?

Azure Data Lake Gen 2 (Hot): $0.0092 per GB
Block Blob (Hot): $0.0184 per GB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b975977b-abaa-8429-c902-

[2018-11-18 21:17] StingyJack opened #19142 "This quickstart appears to be missing the "validate id token" step..."
... that is referenced [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-openid-connect-code#validate-the-idtoken) for openid connect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 768d0a46-3c55-33e2-630e-075e9b624e3b
* Version Independent ID: 715cd56e-54cb-478c-a3b1-2416e1e18643
* Co

[2018-11-18 21:53] cconrado commented on #19070
@jason-j-MSFT this is it just its not easy to find

[2018-11-18 22:02] jason-j-MSFT commented on #19070
@bwren could you take a look at this?  This function may be good to add to the document, and as @cconrado stated, its hard to find,

[2018-11-18 22:59] dem108 commented on #13085
I recognize this article has been added on Oct 3 and address the issue very well. Thanks a lot!

[2018-11-18 22:59] #13085 closed

[2018-11-18 23:22] anwather opened #19144 "Source field"
I can't find any documentation  - according to https://blogs.msdn.microsoft.com/cloud_solution_architect/2015/10/25/using-azure-policy-to-deny-or-audit-management-operations/ there should be an allowed field called "Source"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-fd99-a27ad948907b
* Version In

[2018-11-19 00:40] JamesLee-MSFT commented on #19134
@JohnStraumann66 I followed the links and it took me to this repo in GitHub.

[](https://github.com/Michttps://github.com/Microsoft/Cognitive-Face-Windows/tree/master/ClientLibraryrosoft/Cognitive-Face-Windows/tree/master/ClientLibrary)

Have you tried to clone the repo and compile the library?

Thanks.

James

[2018-11-19 00:44] JamesLee-MSFT commented on #19139
@HaoHoo Thanks we are investigating the issue.

[2018-11-19 00:48] JamesLee-MSFT commented on #19141
@olavt We are investigating the question for you.

[2018-11-19 00:52] JamesLee-MSFT commented on #19142
@StingyJack Thank you we are investigating the issue.

[2018-11-19 00:59] JamesLee-MSFT commented on #19144
@anwather Can you provide more specifics in Azure?  Is this with Azure ARM or something else?

[2018-11-19 01:05] anwather commented on #19144
In the link provided - an Azure Policy can be created which allows you to specify a field called **source**. I can't find any documentation to support this although it works as the link suggests. It could be done via ARM, PowerShell or edited in the Portal.

[code]
I'm looking for clarification that this is a supported field.

[2018-11-19 01:26] SQLGuyChuck opened #19146 "Readable replicas"
It would be really nice to have the number of readable replicas as a row in the tables. Even if 0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5676aae7-73bc-c084-174b-50ba4fd7be77
* Version Independent ID: 0998f821-0f03-a833-b4b3-0d6ebd9468e5
* Content: [Azure SQL Database vCore-based resource limits - single databa

[2018-11-19 03:49] cbrit commented on #19101
Thanks @Alberto-Vega-MSFT I found my issue..
[code]
Should be
[code]

I should have read my code more closely! Sorry!

[2018-11-19 04:11] antgonmir opened #19148 "The policy should contain the trustFrameworkPolicy claim type"
Perhaps the document should also mention that the policy needs to contain the claim type:

`	  <ClaimType Id="trustFrameworkPolicy">
	    <DisplayName>trustFrameworkPolicy</DisplayName>
		<DataType>string</DataType>
	  </ClaimType> `

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41bd32ec-e292-6b66-881a-55813b2f5885
*

[2018-11-19 04:43] summer-ice2000 commented on #19041
I finally found the root cause with intensive testing and trying. I have to configure load balancer in azure for the cluster created by visual studio deployment, unfortunately these steps are not mentioned in current doc. In Publish the application by using Visual Studio clause, we need add some instructions like below:
1) Create a health probe for port 8080
Health probels --> Add ---> Name: AppVo

[2018-11-19 04:45] summer-ice2000 commented on #19041
Let me know how if I can help improve current document.

[2018-11-19 04:51] ManojReddy-MSFT commented on #18870
We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-11-19 04:51] ManojReddy-MSFT commented on #18871
We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-11-19 04:51] #18871 closed

[2018-11-19 05:08] veyalla commented on #19048
@Joogle could you please open an issue at https://github.com/azure/iotedge/issues? Someone from the IoT Edge team will follow up with you.

[2018-11-19 05:18] michaeljqzq commented on #17737
@smoms , you're right. I guess ARM agent support were added not long ago and maybe the hosted ARM is  in progress. If you have strong need for it you can have feature request on their [repo](https://github.com/Microsoft/azure-pipelines-agent)

[2018-11-19 05:49] dcbrown16 opened #19149 "Solution link for App Insights"
I understand from my last issue here that this doc is due for updates, but I specifically just noticed that the link under Web Sites is pretty much obsolete.
One of these two links might be more appropriate now?
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-overview
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-azure-web-apps

---
#### Document

[2018-11-19 05:56] santoshmallena commented on #18982
Hello JamesLee, Thanks for your response, Please find below reference link provided by microsoft azure.

https://docs.microsoft.com/en-us/azure/app-service/web-sites-staged-publishing

[2018-11-19 06:14] ml810326 commented on #18549
@qibozhu Thank you for your suggestion.
I have used the .NET sample code and commented out line 86 -90.
It can be worked for uploading messages into blob storage on EDGE device and downloading from it.
Thank you.

[2018-11-19 06:19] Dawny33 opened #19151 "400 Client Error: Bad Request for url"
I keep getting this error: `requests.exceptions.HTTPError: 400 Client Error: Bad Request for url: https://southeastasia.api.cognitive.microsoft.com/vision/v2.0/RecognizeText?mode=Handwritten`

Headers:
`headers = {'Ocp-Apim-Subscription-Key': sub_key, 'Content-Type': 'application/octet-stream'}`

Data:
[code]

Params:
`params = {'mode':'Handwritten'}`

Request url:
`response = requests.post(vision

[2018-11-19 06:33] gauravagarwal28 commented on #14719
@kgremban Thank you for the update. I completely agree that having too much code can be very overwhelming and agree that adding links is helpful.

Tho documentation seems very legible to me since I have been working with this technology since a while now. However, I doubt how concise it will be for someone who is going through this for the first time.

Not having examples in a first time user's la

[2018-11-19 06:59] PramodValavala-MSFT commented on #18987
@whaakman Just following up... Did my comment help you?

[2018-11-19 07:09] AceLiu21 opened #19152 "'Could not find member 'certificate' on object of type 'TemplateResource' when deploy Dps using template"
when i Deploy Devices provisioningServices  using ARM Template have Error

The request content was invalid and could not be
deserialized: 'Could not find member 'certificate' on object of type 'TemplateResource'. Path
'properties.template.resources[0].certificate', line 12, position 24.'.

is the document wrong  ?  https://docs.microsoft.com/en-us/azure/templates/Microsoft.Devices/2017-11-15/provi

[2018-11-19 07:11] KetanChawda-MSFT commented on #18777
@imeya  Checking in to see if the above answer helped Answer your question.

[2018-11-19 07:12] CHEEKATLAPRADEEP-MSFT commented on #18033
One of the benefits of replicas is that the replicas are always in the transactionally consistent state, but at different points in time there may be some small latency between different replicas. Read Scale-Out supports session-level consistency. It means, if the read-only session reconnects after a connection error caused by replica unavailability, it can be redirected to a replica that is not 1

[2018-11-19 07:36] smoms commented on #17737
@michaeljqzq thanks. My point was more to say that it would be good to leverage the ARM agent as **hosted** in Azure DevOps, rather than deploy it on the device which is laborious and resource intensive process. what do you think?

[2018-11-19 07:37] abovethelimit commented on #14195
I have been testing Encrypted Azure Backup and restores for sometime and its frustrating the lack of information on this subject whilst this is being pushed across enterprises as the way forward.

First off, after the restore, the json file with vmconfig uri of the restored disks are empty. So the script fails stating the argument is null or empty (obviously). Secondly, I somehow managed to get pa

[2018-11-19 07:39] ajaichemmanam opened #19153 "Change Azure Search name"
There is no option to change the azure search name while creating a new qna service. By default it uses the qna resource name and adds some Random letters appended at the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2431b5a7-e419-a331-b766-594294849502
* Version Independent ID: 92b9bdc0-348b-14c7-0f31-b5f06b2520

[2018-11-19 07:39] abovethelimit commented on #14124
What does it mean "Use the following command to manually enable encryption for the data disks" in the instructions above? Does the disks need to be re-encrypted after the restore? I was under the impression that the encryption information is carried forwards to the recovered VM. Thanks.

[2018-11-19 07:48] goroyal commented on #19051
The link is valid now. Thank you!

[2018-11-19 07:55] AceLiu21 commented on #12827
@sergaz-msft  @angelbachev
I also meet the issue,so kindly if u tell how do u solve this problem ?detail more. Much appreciated!

[2018-11-19 08:04] Rajani-Janaki-Ram commented on #19093
@sujayt to confirm.

[2018-11-19 08:05] Rajani-Janaki-Ram commented on #19077
@rayne-wiselman , can you please update this to "before"

[2018-11-19 08:09] Joogle commented on #19048
Thanks, I opened [a new Issue](https://github.com/Azure/iotedge/issues/553).

[2018-11-19 08:09] #19048 closed

[2018-11-19 08:11] saifuddin123 commented on #18195
I am not behind proxy.

[2018-11-19 08:17] ArvidBaa commented on #16841
I can add that I have been in contact with the support department about this and learned that it is by design that the service doesn't update automatically. If the image is used by multiple external services and not, as in my case, only one or few internal services, then it might be a bad idea to force everyone to update their image reference.

However, I could perhaps wish for a parameter for the

[2018-11-19 08:30] zakirahman opened #19154 "identity verification"
not able to open my mails

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version Independent ID: 9ffe59dd-c667-4802-1da0-6917638804c5
* Content: [Troubleshoot two-step verification - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/user-help/multi-fa

[2018-11-19 08:31] cap273 commented on #13911
@TravisCragg-MSFT Honestly, I am still confused regarding @dcbrown16 's original issue. I understand that the LoadBalancer tag allows traffic from 168.63.129.16.

However, do we *ever* have to explicitly take the link-local IP address 169.254.169.254 in the NSG rules? Is it even possible to block inbound and/or outbound link-local IP addresses through NSG rules?

[2018-11-19 08:35] dcbrown16 commented on #13911
Yes, this was never satisfactorily resolved. Either the document is wrong that 169.254.169.254 needs to be allowed, the LoadBalancer tag allows it, or it is allowed by some means that isn't exposed in the NSG.

[2018-11-19 08:49] eisber commented on #19154
Apparently there's an outage: monitor this page for updates: https://azure.microsoft.com/en-us/status/

[2018-11-19 09:42] TalabH commented on #19136
https://docs.microsoft.com/en-us/azure/machine-learning/studio/consume-web-service-with-web-app-template
===================
https://azuremarketplace.microsoft.com/en-us/marketplace/apps/Microsoft.AzureMLASPNETTemplateforRRS

[2018-11-19 09:46] ondrejgr commented on #19154
One of my domains is affected, too. Not only e-mails, I'm unable to access Office365/Azure AD Admin Center. Nothing using Two Step verification is working.

[2018-11-19 09:58] forester123 opened #19155 "Xpath Example 3, expression 2 doesn't work in Mooncake environment"
As titled, that expression doesn't work in Mooncake environment, The correct expression , according to local test ,is : /*[local-name()=\"file\" and namespace-uri()=\"http://contoso.com\"]/*[name()=\"location\"], could you help double confirm. Thanks a lot!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03aa9e88-7fa0-5

[2018-11-19 10:01] MartinRinas opened #19156 "MS Teams is missing"
Can we please add a section on the required attribute for Teams? There might not be a new list of attributes required, which is fine. Might be enough to call out that Teams relies on Exchange, SharePoint and Skype technology and requires all of these attributes to be synchronized to work properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH