[2019-03-27 15:03] shashishailaj commented on #28117
@alwaysautomateit Thank you for your query . We will investigate and update the thread.

[2019-03-27 15:05] shashishailaj commented on #28123
@mossywell Thank you for your query . We will investigate and update the thread.

[2019-03-27 15:08] shashishailaj commented on #28127
@hmg1 Thank you for your query . We will investigate and update this thread.

[2019-03-27 15:10] IanGleeson opened #28133 "InsertSilenceIfNoAudio condition for v3?"
How would I go about adding a InsertSilenceIfNoAudio condition for the v3 REST API? There doesn't seem to be an option for it I can add to my custom .json transform. Looking through https://docs.microsoft.com/en-gb/rest/api/media/transforms/createorupdate#definitions wasn't helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-03-27 15:11] almalos commented on #27791
You're getting the "User is not authorized to query the management service." because you did not run again the below cmdlet, in order to sign in to the Windows Virtual Desktop environment:
Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com"

If I understand correctly, you need to run this cmdlet each time you launch PowerShell, before running Get-RdsTenant.

[2019-03-27 15:12] SergeyKanzhelev opened #28134 "page view not specified"
I recieved the feedback on my [blog](http://apmtips.com/blog/2015/03/18/javascript-snippet-explained/#comment-4397878164):

In the referred [code](https://archive.codeplex.com/?p=dynamicsandappinsights) I see the following line:

[code]

This article doesn't say anything about it. But I believe this should fix the `not_specified` problem.

I'd advice to include this modification of Application Ins

[2019-03-27 15:14] mganeshphani opened #28135 "How to form a connection string that holds AAD token"
I have a Linux vm with MSI enabled.. gave the MSI access to a Azure SQL DB.. I have python application running in Linux vm.. how do I use the token I obtained from MSI endpoint in my python code to connect to Azure SQL..

is this supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55747c48-5caa-3234-f978-a667aed1

[2019-03-27 15:17] MPBetts commented on #27791
Executed just now:

Get-RdsTenant.

S C:\Windows\system32> Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com"

DeploymentUrl                      TenantGroupName      UserName
-------------                      ---------------      --------
https://rdbroker.wvd.microsoft.com Default Tenant Group xxxxx@xxx.confidential.xxx

PS C:\Windows\system32> Get-RdsTenant -TenantName xxxxxxxxx

[2019-03-27 15:19] AlexBagnolini opened #28136 "Unsubscribe / logout from feed?"
Is it possible to unsubscribe from the feed, or logout the user completely?
The only way I found was by uninstalling / reinstalling the app.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6daaa1358
* Version Independent ID: 1cb3a5d8-4f16-583c-ad85-325f7638a873
* Content: [Connect t

[2019-03-27 15:21] MPBetts commented on #27791
I had been running that, same result.  here's the output currently:

PS C:\Windows\system32> Add-RdsAccount -DeploymentUrl "https://rdbroker.wvd.microsoft.com"

DeploymentUrl                      TenantGroupName      UserName
-------------                      ---------------      --------
https://rdbroker.wvd.microsoft.com Default Tenant Group xxxx@xxx.com

PS C:\Windows\system32> Get-RdsTenant -

[2019-03-27 15:22] spelluru commented on #27709
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-metrics-azure-monitor
I don't see one.

@axisc to confirm

[2019-03-27 15:22] shashishailaj commented on #28127
@hmg1 This would be one of the numbers from which MFA related calls get initiated from our side. I have faced this same problem once but later I found that while testing some MFA i had created multiple  test users not just in my Office365 lab but within other tenants with my colleagues and that caused the call to get generated whenever someone else was using those test accounts. Because my phone n

[2019-03-27 15:23] spelluru commented on #27649
The redirection is in place now.

#please-close

[2019-03-27 15:23] maksimize opened #28137 "Is there is anyway to sync Azure key Vault certificate and k8s tls secrets?"
https://docs.microsoft.com/en-us/azure/aks/ingress-own-tls

Is there is anyway to sync/integrate Azure key Vault certificate and k8s tls secrets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597ba957-9501-5919-73a0-6d47b1ca2c6d
* Version Independent ID: 6345fa19-b3f2-ffd6-f526-908f845b51f6
* Content: [Use your own TL

[2019-03-27 15:25] shashishailaj commented on #28125
@mossywell Thank you for your query . We will investigate and update this further.

[2019-03-27 15:27] colinrubbert commented on #27791
@almalos That does not resolve the issue. Scenario is same as @MPBetts and output is the same.

[code]

My user has global admin, tenant creator, and rds owner as permissions so there's something askew.

[2019-03-27 15:27] mrbullwinkle commented on #28134
Thanks @SergeyKanzhelev! If I have some time in the next 2 weeks I will spin up a Dynamics environment and re-test the codeplex snippit and update the appropriate client-side js instructions.

[2019-03-27 15:28] orgads commented on #28036
Hi.

Thank you. I just tried it and it doesn't seem to work. `recognizeOnceAsync` works, but if I replace it to `startContinuousRecognitionAsync` I only receive `sessionStarted`, but no recognitions at all.

This is not a documentation issue though. I'll file a bug for the sdk.

[2019-03-27 15:30] shashishailaj commented on #28084
@yobyot Thank you for your query . We will investigate and update  the thread .

[2019-03-27 15:32] Expecho commented on #26860
@VanMSFT No I did not, I only gave the user the Contributor role, so that was the issue.

[2019-03-27 15:35] mganeshphani opened #28138 "Doesnt work with BOT Services webapp written in nodeJS"
this doesn't look like works for all the languages? fails miserably with Webapp bot services written in nodejs

when are you supporting this irrespective of the platform or language?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-134

[2019-03-27 15:35] fmegen commented on #28036
please file a bug for the sdk for this discussion.

thanks!

[2019-03-27 15:36] orgads commented on #28036
Hi,

There is no bug. I just stopped the session on the initial response.

Thank you for the fast reply!

[2019-03-27 15:38] mganeshphani commented on #28138
I always thought the runtime(probably .net) of webapp owns pulling in the values and any language on webapp could work seamlessly through this.. looks like I am wrong

atleast provide a statement in documentation that this will not work for x , y , z languages
hope this support is coming soon for others

[2019-03-27 15:39] colinrubbert commented on #27791
So when I specify the tenant name then it present results so I'm not entirely sure what it's trying to pull when you just run `Get-RdsDiagnosticActivities`.

Run this command and it should kick out results for you (it worked for me);

[code]

I'm not sure that this solves all the issues though but I got the same error when I tried to run `Export-RdsRegistrationInfo` yesterday and now it's not givi

[2019-03-27 15:40] almalos commented on #27791
Indeed, I face the same issue as well, with all permissions granted:

PS H:\> Get-RdsTenant xxxxxxxx.onmicrosoft.com
TenantGroupName         : Default Tenant Group
AadTenantId             : xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx
TenantName              : xxxxxxxx.onmicrosoft.com
Description             :
FriendlyName            :
SsoAdfsAuthority        :
SsoClientId             :
SsoClientSecret

[2019-03-27 15:49] shashishailaj commented on #27840
@bayesfactor You can have a variable data retention if you are trying to retain in azure storage . Please check the following articles :-

1. Archive the logs in Storage account: https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-archive-activity-log
2. Stream to event hubs: https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-stream-activity-logs-

[2019-03-27 15:49] #27840 closed

[2019-03-27 15:50] kobulloc-MSFT commented on #28132
@ToddTaylor Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-03-27 15:51] almalos commented on #27791
@colinrubbert, yes, with mentioning the domain name works for me as well:
Get-RdsDiagnosticActivities -Tenant xxxxxxxx.onmicrosoft.com

[2019-03-27 15:51] kobulloc-MSFT commented on #28118
@SndrSchnklshk Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-03-27 15:53] mlee3gsd commented on #12479
The article "Polybase with Azure DataBricks" demonstrates a sample on how to load data into SQL DW from Azure Databricks.  When you do the ".save" in the sample code, Databricks uses Polybase in the background for high speed data ingestion into SQL DW.

[2019-03-27 15:54] wolfma61 commented on #21892
Hard to debug this remotely 😉 but here are a few comments:

@roryap: what OS are you running? What version of the SDK are you using?

I tested on Windows with SDK version 1.3
I tried the .net code console app as you asked, and with a valid subscription key and valid region I had no trouble running the sample

If I entered a wrong region I got the following error output:

This is similar to your er

[2019-03-27 15:57] mattyweb commented on #26454
Hi all,

So have a bit of progress here. I have the image building and deploying
to/from DockerHub and WebSSH is working.

I ended up configuring my Docker Hub credentials in the Azure web interface
and that seemed to have done the trick. I still have the Docker DevOps task
running in my deploy, but it didn't seem to do anything. Maybe there is a
bug there?
[image: image.png]

SSH is also now work

[2019-03-27 15:57] shashishailaj commented on #28084
@yobyot The object Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext you mentioned refers to Azure AD v1.0 client side authentication library aka ADAL library . Could you please check the ADAL library version you are using ? [ADAL library](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet) is updated frequently and sometimes you may be running a version which

[2019-03-27 15:58] petrce opened #28139 "EventGrid AdvancedFilters how to check for null"
Hello, how do I check if something is null using advanced filters?

Like Data.Whatever is null?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b572f63-312f-4567-5f06-d09bcccf303e
* Version Independent ID: df817c5f-24e4-bdc7-511c-141d07a53d15
* Content: [Event filtering for Azure Event Grid](https://docs.microsoft.com/

[2019-03-27 15:59] MicahMcKittrick-MSFT commented on #28128
Thanks for the question! We are investigating and will update you shortly.

[2019-03-27 15:59] mrbullwinkle commented on #6144
@mikevanoo thanks for the added detail. This is still on the docs backlog to research/work on, but our backlog is huge and unfortunately any sprint I try to block out time to look into this it has gotten bumped by more high priority requests.  You may get more traction if you open an issue against the SDK repo itself: [https://github.com/Microsoft/ApplicationInsights-dotnet](https://github.com/Mic

[2019-03-27 15:59] Arash-Sabet opened #28140 "The function code example and its description does not point anything about SignalRConnectionInfo.ConnectionStringSetting"
When putting a basic example code in place, the following error message is shown on screen:

Microsoft.Azure.WebJobs.Host: Error indexing method 'negotiate'.
Microsoft.Azure.WebJobs.Extensions.SignalRService:
The SignalR Service connection string must be set either via an 'AzureSignalRConnectionString' app setting,
via an 'AzureSignalRConnectionString' environment variable,
or directly in code via

[2019-03-27 16:03] HeidiSteen commented on #27609
@keithl8041 Doc updates are published:  https://docs.microsoft.com/en-us/azure/search/search-autocomplete-tutorial

The supplemental content to the sample code now includes suggestions and autocomplete code blocks for both C# and Java.  I retitled the doc to convey that the example code covers both features.  I'm recommending that we close this issue, but feel free to reopen if you have further fe

[2019-03-27 16:05] #28075 closed

[2019-03-27 16:05] #27973 closed

[2019-03-27 16:06] AjayKumar-MSFT commented on #27873
@Yegmorcar, No issues. Glad to know that the issue is fixed now! Thanks for the update.
We will close this out, kindly let us know if you need any assistance with the Azure docs, we would be very happy to assist you.

[2019-03-27 16:06] #27873 closed

[2019-03-27 16:07] HeidiSteen commented on #18516
@bunceg I added the additional example in the bullet list (https://docs.microsoft.com/en-us/azure/search/search-query-lucene-examples#example-2-intra-field-filtering).  Thanks for sticking with me on this!

[2019-03-27 16:08] msLinuxNinja commented on #28086
Yep, it is mentioned in other docs, but if we can put it everywhere the Emphemeral disk topic is touched upon we can help avoid people using this disk for storing data. By having a clear note saying that /dev/sdb is always the ephemeral disk might help reduce the instance of people storing data there and then realizing it is gone.

[2019-03-27 16:09] #27609 closed

[2019-03-27 16:11] #27707 closed

[2019-03-27 16:14] SubhashVasarapu-MSFT commented on #27608
@daspo , We have assigned this issue to content author for updating the document accordingly.

[2019-03-27 16:16] bunceg commented on #18516
@HeidiSteen That's great, thanks

[2019-03-27 16:16] #18516 closed

[2019-03-27 16:16] BhargaviAnnadevara-MSFT commented on #28136
@AlexBagnolini Thanks for the question! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-27 16:18] colinrubbert commented on #28114
I have ran into the same issue as @Digiroka,  I was trying to have a user be able to have access to use both Desktop and RemoteApp.

The scenario would be:
- User would log into the RemoteApp to do their work.
- User saves their work to a synced SharePoint group folder.
- User goes to SharePoint file save location on local machine and saved file is not there but is time critical.
- User logs into

[2019-03-27 16:24] QuickNS opened #28143 "Run-based creation doesn't seem to allow to specify max_nodes"
Even though this article mentions max_nodes as a value you can set on run-based creation:

"The cluster scales up to the number of max_nodes that you specify in your run config."

However, the code example doesn't show this and I can't seem to find it either while writing code.
There is a "run_config.node_count" and a "run_config.amlcompute._cluster_max_node_count" which seems it might be related

[2019-03-27 16:27] MicahMcKittrick-MSFT commented on #28137
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 16:31] SnehaAgrawal-MSFT commented on #28082
@angelieri If I have understood right, you want to manage two or more queues
In this case, you can try to bind different storage accounts so your function can look like that:

public static void JobQueue1(
    [QueueTrigger("queueName1"),
    StorageAccount("storageAccount1ConnectionString")] string message)
{

}

public static void JobQueue2(
    [QueueTrigger("queueName2"),
    StorageAccount("s

[2019-03-27 16:31] tplas opened #28144 "Doc update needed for Avail Zones with Managed Disk"
Othere docs state that Managed Disks are now supported with Availability Zones. This article discusses Managed Disk with Availability Sets, but does not yet mention Availability Zones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfaec879-f3e0-afba-fbe8-85e6e28937df
* Version Independent ID: b21d00cd-0323-26d0-34b4-f

[2019-03-27 16:34] ajlam commented on #27734
@yevster, thanks for the feedback. I am looking into refactoring the Java sample to use the MariaDB Connector for Java since it is LGPL licensed. Looking to get a new sample out in the next week or two.

[2019-03-27 16:39] angelieri commented on #28082
I think this is for 2.x version.
I'm trying to use the new 3.x

[2019-03-27 16:42] tinojr commented on #28078
I created a new account, enrolled in MFA first, and getting prompted for MFA setup, but the app-passwords are still not available.  I've tried from aka.ms/mfasetup, myapps.microsoft.com, and my account in portal. :-/

[2019-03-27 16:43] YASWANTHM-MSFT commented on #28131
@gacurtin , Thanks for your question. We are actively investigating and will get back to you soon.

[2019-03-27 16:44] #19795 closed

[2019-03-27 16:46] #27649 closed

[2019-03-27 16:47] mike-urnun-msft commented on #28140
Hi @Arash-Sabet Thank you for your feedback! We will review and update as appropriate.

[2019-03-27 16:48] mike-urnun-msft commented on #28139
Hi @petrce Thank you for your feedback! We will review and update as appropriate.

[2019-03-27 16:48] HeidiSteen commented on #25915
#please-close

[2019-03-27 16:51] mike-urnun-msft commented on #28124
Hi @tomconte Thank you for your feedback! We will review and update as appropriate.

[2019-03-27 16:56] mike-urnun-msft commented on #28113
Hi @kristerkarto Thank you for your feedback! We will review and update as appropriate.

[2019-03-27 17:01] SnehaGunda commented on #24460
@ijabit I pinged Karthik to look into this issue, please send a followup email from your end too :-) . We will track with the alias and close the issue here.

#please-close

[2019-03-27 17:05] AshokPeddakotla-MSFT commented on #27984
@saikovvuri To get more context on how pricing works on the IoT Hub, please go through the [pricing FAQ](https://azure.microsoft.com/en-us/pricing/details/iot-hub/) and let us know if you have further queries.

[2019-03-27 17:07] v-miclar commented on #27779
#please-close
Agreed, has been removed.

[2019-03-27 17:07] MarileeTurscak-MSFT commented on #27909
We will now proceed to close this thread. If you have further questions feel free to reach out to me on MSDN and I will gladly continue the discussion. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-27 17:07] #27909 closed

[2019-03-27 17:08] YutongTie-MSFT commented on #28036
@fmegen Thank you for the quick reply.

@orgads We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-27 17:08] #28036 closed

[2019-03-27 17:13] romankiss commented on #27980
@DixitArora-MSFT  Thanks for your details. I have agreed, that the topic indicated a "publisher place", where the event is posted. That's working well for posting a grid schema event and the AEG populates the full topic resource path.
Based on that, it should be the topic updated by AEG to the full resource path also for posting a cloud schema event.
Note, that the topic path in the posted event i

[2019-03-27 17:15] Mike-Ubezzi-MSFT commented on #24460
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion but, the specific issue will be addressed via the email communication that is in-progress.

[2019-03-27 17:15] #24460 closed

[2019-03-27 17:18] YutongTie-MSFT commented on #28143
@QuickNS
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 17:21] Mike-Crowley opened #28146 "suggest you mention the MFA roll out materials provided by microsoft"
in the "get users to enroll" section (https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-getstarted#get-users-to-enroll) you should link to the not-well-known Microsoft "Multi-factor authentication rollout materials": https://www.microsoft.com/en-us/download/details.aspx?id=57600

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-03-27 17:21] matdarMsft commented on #27715
ahh yes, so its designed very generically so that you can trigger any function from the context menu.  in the TSI Explorer, the zoom functionality actually triggers an AJAX request to the API (and a bunch of other side effects), it is not strictly client side.

this means you have the flexibility to do literally anything you want with the brush context menu, but you have to put in a little work to

[2019-03-27 17:22] saikovvuri commented on #27984
Thanks Ashok ,  All i am reporting is the example presented on the docs site above for File Upload is not correct in my opinion ,  File Upload of 10 MB should not be counted as 2 messages .

[2019-03-27 17:25] iainfoulds commented on #27941
@stephen-cairns In general, the recommendation would be for each resource to go in it's associated namespace. This helps with management operations and governance. This approach can also prevent possible naming or configuration collisions when using a single controller for multiple services.

For additional information, see https://docs.microsoft.com/en-us/azure/architecture/reference-architecture

[2019-03-27 17:26] iainfoulds commented on #28104
Adding @seanmck @sauryadas @jluk and @palma21 for this product question.

[2019-03-27 17:27] brandonh-msft commented on #25915
Thanks @HeidiSteen yes I think both of those adds are **great**! Should help our partners & users quite a bit!

[2019-03-27 17:27] #25915 closed

[2019-03-27 17:33] averkinderen commented on #27973
Thanks @DCtheGeek !

[2019-03-27 17:34] MicahMcKittrick-MSFT commented on #28128
@jfalameda the sample is for an exsisting cluster.

You would take whatever template you used to deploy your cluster, add the backup and restore configurations then update the cluster.

Are you running in Azure or on prem?

[2019-03-27 17:34] aashishb commented on #25451
There is no size limitation on each of the model files. Please let us know if you run into any issues with the size limitation.

[2019-03-27 17:34] NathanielRose commented on #26347
Hello @DixitArora-MSFT ,

Excuse the delay due to travels.
We have provided a script that better explains how to generate Git credential for APIM scm repo [here](https://github.com/Microsoft/bedrock/blob/api-mgmt/cluster/environments/azure-api-mgmt/push_api_mgmt.sh).
Can this be included in the docs for others to follow ho to obtain credentials?

Thanks!

[2019-03-27 17:36] gitathrun commented on #25451
@aashishb Great news! thank you very much, I will close this issue.

[2019-03-27 17:36] #25451 closed

[2019-03-27 17:37] MicahMcKittrick-MSFT commented on #28137
Currently there is no integration between AKS and Keyvault

https://docs.microsoft.com/en-us/azure/aks/faq#is-azure-key-vault-integrated-with-aks

However, using the above link, you will see that the Azure Key Vault FlexVolume for Kubernetes project enables direct integration from Kubernetes pods to KeyVault secrets.

https://github.com/Azure/kubernetes-keyvault-flexvol

[2019-03-27 17:41] HeidiSteen commented on #27961
@furmangg  Turns out its easier to update the docs than the site ;)  I changed the link to use http.

My PR for this item (private repo) is here:  https://github.com/MicrosoftDocs/azure-docs-pr/pull/71070
This PR is merged and the change will be effective in today's doc refresh.

I'm recommending that we close this issue.  Thanks for filing.

#please-close

[2019-03-27 17:42] rachel-msft commented on #27906
@padmick If you have timescale tables in a database in your master server, they will be replicated to the read replica. If that was your question, yes they are compatible.

[2019-03-27 17:43] stgeorgi commented on #27781
@Digiroka are the user part of the DC

[2019-03-27 17:45] stgeorgi commented on #28023
Does your account have permissions to the sub in Azure? Have you followed this document to the letter https://docs.microsoft.com/en-us/azure/virtual-desktop/tenant-setup-azure-active-directory

[2019-03-27 17:46] #27941 closed

[2019-03-27 17:47] yanrez opened #28147 "BaseImage link is outdated"
Might make sense to update to latest image:
   baseImage: mcr.microsoft.com/azureml/base:0.2.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31f6989f-eb38-b376-d01f-9c462c2d1761
* Version Independent ID: dbcf97e5-2f30-e98d-7959-69d39a74305a
* Content: [Machine learning CLI extension - Azure Machine Learning service](h

[2019-03-27 17:48] ryanhartje opened #28148 "What az command can I run to get this information"
Operators can't use the browser for automation. How can I find this either with the azcli, or on my local machine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14ab965b-dc45-f450-1302-5ffe491ca129
* Version Independent ID: 0d96d50d-a349-3408-3b93-d8b084e1cbd1
* Content: [Create an Azure Active Directory tenant](https

[2019-03-27 17:49] AjayKumar-MSFT commented on #27892
@Leon99, You could try the suggestions outlined in these documents to run a trace and see if that helps in isolating the issue.
https://docs.microsoft.com/en-us/rest/api/appservice/webapps/startwebsitenetworktrace#code-try-0

https://blogs.msdn.microsoft.com/jpsanders/2016/11/10/how-to-use-fiddler-to-debug-azure-app-service-issues-with-authentication/

If the issue still persist, could you please

[2019-03-27 17:50] georgewallace commented on #25882
@MicrosoftDocs/azure-cxp-triage I have confirmed with others they are able to see the updated script in the portal that @markdebruijne suggested edits on.  #please-close

[2019-03-27 17:51] georgewallace commented on #27588
@christophkarner Wanted to follow up again to see if you were able to correct the issue with verifying the account.

[2019-03-27 17:51] ryanhartje commented on #28148
Closing this, as the doc I've created this issue on probably isn't intended for the audience I've mentioned.

[2019-03-27 17:51] #28148 closed

[2019-03-27 17:52] ryanhartje commented on #28148
`az account list` will list tenantIDs if anyone else lands on this page and is looking for the cli command.

[2019-03-27 17:52] fpoe commented on #28034
This is good news.

The horrific news is you only offer MI in Canada Central and not Canada East, effectively invalidating MI as a production solution. The roadmap even flag it with future availability - it's just not offered.

[2019-03-27 17:54] Mike-Ubezzi-MSFT commented on #28135
@mganeshphani Thank you very much for the detailed inquiry. The following [ADAL for Python](https://github.com/AzureAD/azure-activedirectory-library-for-python/wiki/Connect-to-Azure-SQL-Database) git repo will allow for this functionality. Please let us know if you have additional questions.

[2019-03-27 17:55] mattfortech opened #28149 "Custom Vision - Iteration Default button missing (404 error resulting)"
Hello,
I was requested (via @YutongTie-MSFT  and @jimbobbennett)  to start a new ticket for the Custom Vision/Default iteration issue. The documentation shows how to elect a model iteration as "default" - furthermore, the API will give a 404 error unless a model/iteration is marked as "default."
Now for the bad news: The "make Default" option has been removed from the UI. I have interacted with Az

[2019-03-27 17:58] Mike-Ubezzi-MSFT commented on #28110
@FernandoHidalgoSWBI Thank you very much for the detailed feedback. I have assigned this to the content owner to evaluate and update as appropriate.

[2019-03-27 17:58] Grace-MacJones-MSFT commented on #28126
Hi @mgollubske, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 17:58] AjayKumar-MSFT commented on #28058
@hpl002, You could find an example on how to create a SAS locator and download a file [Using the Media Services .NET SDK Extensions,](https://docs.microsoft.com/azure/media-services/previous/media-services-dotnet-get-started) kindly see if this helps.

[2019-03-27 17:59] robertdj commented on #27796
It turns out that my problem is actually fixed by using a suitable [multi-step task](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-multi-step#multi-step-task-definition) where I define the dependency between the images.

[2019-03-27 17:59] #27796 closed

[2019-03-27 17:59] Grace-MacJones-MSFT commented on #28133
Hi @IanGleeson, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 18:02] Grace-MacJones-MSFT commented on #28138
Hi @mganeshphani, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 18:05] Karishma-Tiwari-MSFT commented on #28115
Thanks for the question. We are currently investigating and will update you shortly.

[2019-03-27 18:06] YutongTie-MSFT commented on #28149
@mattfortech Thank you for your quick action.

@PatrickFarley @anrothMSFT Hi team, please tell me if I am not reaching out the right person. This issue is effecting the customer experience, could you please help? Thanks a lot.

[2019-03-27 18:06] Karishma-Tiwari-MSFT commented on #28144
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 18:11] bgxie commented on #24494
We just discovered that our API calls Implement in desktop clients are no longer working, but they used to when first implemented with "languages?numberOfLanguagesToDetect=1" as documented.

It seems that the API got changed and when this broke implementations you just removed the relevant reference from the documentation, instead of restoring the original functionality. I find that pretty bad. Yo

[2019-03-27 18:12] mganeshphani opened #28150 "Does the PublicIP assigned to a container group stay constant?"
Is the PublicIP assigned to container group constant for the lifetime of container group? so that we can associate a DNS alias to it in Azure DNS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff247151-29f6-4a55-61b2-e5eae2d48927
* Version Independent ID: 159517fe-202c-967d-f572-49c4f6988c46
* Content: [Azure Containe

[2019-03-27 18:13] YutongTie-MSFT commented on #28052
@slivkins Hi Alex, I can confirm the Portal Link is broken, could you please check and update the document? Thanks a lot.

[2019-03-27 18:16] mrbullwinkle commented on #27964
@alexkarcher-msft thanks for pointing this out, I will get it added this week.

[2019-03-27 18:20] YutongTie-MSFT commented on #28143
@heatherbshapiro Hi Heather, could you please check this document suggestion and update the document if necessary? The code sample seems not enough, can we add more details? Please tell me if anything we can help. Thanks.

[2019-03-27 18:26] erhopf commented on #24494
@bgxie - Thanks for your response. Since the Translator Text service now provides the same functionality that was previously provided by Text Analytics, we decided to update the sample app to use Translator Text.

@YutongTie-MSFT - Can you help to identify a technical POC on the Text Analytics team that can speak specifically to @bgxie concern that the API was changed without notice and provide su

[2019-03-27 18:26] bichuga opened #28152 "Please show where to find the Reset Admin Password button"
The text currently reads
"To reset the password for the server admin, go to the Azure portal, click SQL Servers, select the server from the list, and then click Reset Password."

I see no such button

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 429955f9-093b-70bd-9461-4269ad2eb8e9
* Version Independent ID: 9aad7a41-b

[2019-03-27 18:26] MartinJaffer-MSFT commented on #28031
If your filter will ever only return 1 filename:
@activity('FilterActivityName').output.value[0].name

If your filter can return multiple files, then you would want to change your variable to an array type, change Set Variable activity to Append Variable activity, and use a ForEach activity.
![image](https://user-images.githubusercontent.com/46612670/55102133-f7826800-5082-11e9-86de-14236fdb2f29.p

[2019-03-27 18:26] #28031 closed

[2019-03-27 18:31] YutongTie-MSFT commented on #24494
@erhopf No problem, I will try to figure out that.

@paramrsingh We'd like to work with you further on this issue. Can you please email us at azcommunity@microsoft.com? Please provide us with your subscription ID and the URL for this thread.

[2019-03-27 18:37] Karishma-Tiwari-MSFT commented on #28150
Thanks for the question. We are currently investigating and will update you shortly.

[2019-03-27 18:38] chrisbachmann opened #28153 "clarity in the variable declarations."
Leading up to Step 1, The situation is listed as an Azure site using 10.1.0.0/16 and 3 sites with 10.2 10.3 and 10.4. Great. It sets up the situation. Then it does into a test vNet and a new site, site6. and this new vNet and site use different ip sets than what were being talked about in the beginning. Is the test vNet have 2 address spaces? What's this front end and back end spaces? This site6 l

[2019-03-27 18:39] v-kydela opened #28154 "GenerateAnswers is missing from the API reference"
When navigating to [this link](https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136866eb37/operations/5ac266295b4ccd1554da75ff), we can see plenty of operations regarding the QnAMaker authoring API, but we can't see the endpoint API so we can't test generateAnswers in the testing console.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-03-27 18:43] harshithkashyap opened #28155 "KMSI KeepAliveInDays attribute for OIDC/OAuth providers"
We have Sign in with Microsoft enabled using [Azure AD Multi-Tenant](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-commonaad-custom) for our B2C. Setting `KeepAliveInDays="7"` enables the SSO cookie expiration to be set to 7 days for local accounts but the SSO cookie for Sign in with Microsoft/Azure AD expires at the session even after selecting __Stay Sign

[2019-03-27 18:44] MarileeTurscak-MSFT commented on #28125
@mossywell Is there a reason that you got the implication from this that AD registration is required to access the resources?

I think the concept is explained clearly throughout the article. The introduction talks about how you can use conditional access to ensure that resources can only be accessed with manage devices and also ensure that only users with compliant devices can access the resource

[2019-03-27 18:44] mikebudzynski commented on #10146
The mentioned substring is not present in the documentation - so I assume the issue no longer exists.

#please-close

[2019-03-27 18:45] MarileeTurscak-MSFT commented on #28125
I am closing this out for now but if you disagree feel free to provide suggestions and tag me or @MarkusVi in the comments. You can also make a pull request to the article if you would prefer to suggest a change that way.

[2019-03-27 18:45] #28125 closed

[2019-03-27 18:49] shashishailaj commented on #27854
@dcaddick Please use the link https://feedback.azure.com/forums/920458-azure-sentinel for providing feedback related to Azure sentinel . The product is still in preview hence some thing may not work as expected and things would change without notice during this period hence we suggest to test it on non-critical workloads. Product feedback can be provided using uservoice link provided above. and an

[2019-03-27 18:51] TravisCragg-MSFT commented on #28119
@NeilBird Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

@mattbriggs I am unable to assign to Jeff, I will let him know via Email.

[2019-03-27 18:52] colinrubbert commented on #28072
@rodrigoffonseca @rickijen Check a few things:
- Make sure your VM joined the domain and there was no failures on the deployment
- Check to make sure you can see that your VM is deployed via Powershell
- Traditional RDP will not work by default with WVD, it operates with reverse connections versus direct connections via RDP. Try the web client or the downloadable client.
- Double check that you di

[2019-03-27 18:52] MarileeTurscak-MSFT commented on #28012
Thanks for the feedback, @billgatesfan .

I have made a pull request for review by @CelesteD https://github.com/MicrosoftDocs/azure-docs-pr/pull/71095G

[2019-03-27 18:52] #28012 closed

[2019-03-27 18:55] colinrubbert commented on #28023
Couple things you should check out:
- Did you create a TenantCreator role in your enterprise applications Windows Virtual Desktop like the documentation instructs.
- With `Get-RdsDiagnosticActivities` you need to specify the TenantName otherwise it will kick back the unauthrorized user thing. Your command will look something like this: `Get-RdsDiagnosticActivities -TenantName <your tenant name>`
-

[2019-03-27 18:57] colinrubbert commented on #27837
To fix this issue you need to specify the TenantName along with the command. If you don't specify the TenantName it will kick back with the `User is not authorized ...`

This is the proper way to write the command:
[code]

[2019-03-27 19:03] SP47471 opened #28156 "Title us"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-03-27 19:06] SP47471 commented on #28156
Github.com

[2019-03-27 19:07] VanMSFT commented on #26860
@Expecho Thanks for the update, Peter! We'll go ahead and close this issue, but let us know if you have any documentation issues.

#please-close

[2019-03-27 19:08] colinrubbert opened #28157 "Add clarification to documentation for pure Azure Active Directory Domain Services and Azure Active Directory configuration"
Currently the documentation does not support a pure Azure configuration via Azure Active Directory Domain Services and Azure Active Directory.

Steps to create host pool deployment with a pure Azure solution (this is assuming that AADDS is already deployed):
1. Identify the resource group that is hosting the AADDS and it's location
2. Create empty resource group for WVD in the SAME region as the r

[2019-03-27 19:11] Mike-Ubezzi-MSFT commented on #12900
@griff182uk I am unable to reproduce this issue if I follow the documentation exactly as detailed.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. Please make sure you are running all loading T-SQL as LoaderRC60.

[2019-03-27 19:11] #12900 closed

[2019-03-27 19:22] BryanTrach-MSFT commented on #27763
@ericgrover Thank you for the feedback. If approved, this will likely require a more extension rewrite so we have assigned your feedback to the author to see if any action is required.

[2019-03-27 19:27] MicahMcKittrick-MSFT commented on #28072
Could you try connecting via the WebClient to see if you get the same error?

https://docs.microsoft.com/en-us/azure/virtual-desktop/connect-web

[2019-03-27 19:28] shashishailaj commented on #27782
@joeakim **Office365 Groups** are different types of groups and have linking to Office365 backend (exchange onlijne, Skype online. ) apps tightly . Office 365 group has many attributes for which different related service are authoritative and hence the group type is restricted for any change. This is by design . Azure AD is not allowed to modify those attributes as its outside the purview of Azure

[2019-03-27 19:28] #27782 closed

[2019-03-27 19:30] jdobrzen commented on #28070
I've been working through this issue a little and noticed that I **can** in fact use dbutils commands in a notebook being executed by the ADF activity.

This is actually a Databricks specific issue that I can recreate by executing notebooks interactively from the Databricks portal.  Where the issue occurs is when I have the dbutils commands inside a function definition that I then register as a UD

[2019-03-27 19:30] BjornBorjesson commented on #27773
@Diwiton ! Thx had the same scenario and issue.  And agree the documentation was not in a logic order.

Did create a service principal when realizing an MFA enabled account would not work as the "WVD RDS Tenant Owner" BUT did that without setting it with the AvailableToOtherTenants=True
Changed that flag to true and all was good for me.

The information about creating service principals and role a

[2019-03-27 19:30] shashishailaj commented on #27784
@crmhh We are assigning this thread to the author for review of the flow chart presented in the article. .

[2019-03-27 19:32] ChristianMontoya commented on #27753
@bespinfw @colinrubbert @Niglb : You are all correct, and thanks for the collaboration. I'd definitely like to take any tips or recommendations, based on the requirements and limitations of the solution:

Windows Virtual Desktop **does** require an existing virtual network that is connected to your domain, so you **must** select the region and virtual network with that configuration.

With that be

[2019-03-27 19:32] shashishailaj commented on #27784
@CelesteDG Could you please review the remarks given by the customer on the flow chart described in the article ? It may need an update after the review of suggestions provided.

[2019-03-27 19:34] #26860 closed

[2019-03-27 19:39] vferris commented on #24239
How do you get around the lack of a sql agent?

[2019-03-27 19:40] KingdomOfEnds commented on #28063
Thanks again @walsehgal - I think everything that can be done Docs side has been submitted through the PR's listed above. Much appreciated!

[2019-03-27 19:40] #28063 closed

[2019-03-27 19:42] PsyhoLord opened #28158 "Maybe missing information"
I was implementing a solution, step by step, at clean Xamarin.Android project.
Notifications are simply not showing.
Used manual for Xamarin Android and FCM only - worked fine.
I have mentioned that at FCM solution there is registration to channel at MainActivity.cs in method OnCreate.
Maybe I need something same here?

Also, I have tried to implement a solution in a project where FCM solution is,

[2019-03-27 19:53] dmarlow commented on #24239
I'm still investigating, but it's my understanding that you just need to invoke a few stored procs periodically. If that's the case, that can be automated in many number of different ways. From a script on some machine to Azure Automation and many things in between.

[2019-03-27 19:57] xzhu1900 opened #28159 "error in code snippet"
In 'Upload & download data' section, the code snippet for uploading data calls 'from azureml.data import AzureFileDatastore, AzureBlobDatastore'.

AzureFileDatastore and AzureBlobDatastore are not in module azureml.data. So executing this line will run into error. Also, it seems this line is not used for uploading data.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-03-27 19:58] ToddTaylor commented on #7086
Azure B2C change password functionality doesn't actually make you change your password... How is this not a bug?

[2019-03-27 19:58] MashaMSFT commented on #26858
Hi @alo360 , thanks for bringing this to our attention! I've added some t-sql commands you can use to perform these actions. These changes should be live later today. Please let me know if you anything further is needed? Thanks!

[2019-03-27 19:58] shashishailaj commented on #27854
@rkarlin Could you please help the customer with this issue ?

[2019-03-27 20:00] Grace-MacJones-MSFT commented on #28158
Hi @PsyhoLord, thanks for the feedback. Can you please clarify exactly what your question(s) is? Are you saying there is missing information in the documentation?  Are you seeing any errors?

[2019-03-27 20:03] MashaMSFT commented on #27479
Hi @sqlazure , thanks for bringing this to our attention! We've added a note to the article and it should be live later today. Please let us know if anything further is needed? Thanks!

[2019-03-27 20:03] SnehaGunda commented on #21823
#please-close

[2019-03-27 20:03] MarileeTurscak-MSFT commented on #28056
The sign-in risk policy detects suspicious actions that come along with the sign-in. It is focused on the sign-in activity itself and analyzes the probability that the sign-in may not have been performed by the user. The sign-in risk checks for things like whether a user has signed in from an unfamiliar location or unfamiliar IP address. You can then choose to require MFA for users based on the ri

[2019-03-27 20:04] MarileeTurscak-MSFT commented on #28056
Hope this helps! If you have further questions feel free to tag me or @MarkusVi in the comments or reach out to me on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-27 20:04] #28056 closed

[2019-03-27 20:04] admintgal opened #28160 "Management Type Field"
Can you elaborate on what is meant by direct and inherit in the Management Type field when discovering Azure resources?  I don't understand what it means and can't find any rhyme or reason as to why some of my subscriptions are direct and some are inherited.  Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be

[2019-03-27 20:05] #27961 closed

[2019-03-27 20:07] kazshi commented on #24460
@SnehaGunda Was "x-ms-cosmos-min-throughput" implemented?  Thanks.

[2019-03-27 20:07] #24750 closed

[2019-03-27 20:07] sladeedmonds commented on #25956
@Mike-Ubezzi-MSFT I just upgraded to 2.0.61 and tested successfully.  Thanks much.

[2019-03-27 20:12] #6176 closed

[2019-03-27 20:12] #10146 closed

[2019-03-27 20:12] #6812 closed

[2019-03-27 20:12] #6820 closed

[2019-03-27 20:12] #8536 closed

[2019-03-27 20:13] #13534 closed

[2019-03-27 20:14] #17865 closed

[2019-03-27 20:15] #21823 closed

[2019-03-27 20:16] #25882 closed

[2019-03-27 20:16] #10096 closed

[2019-03-27 20:16] #11094 closed

[2019-03-27 20:25] craigb opened #28161 "What about Table Storage?"
It looks like there are no RBAC roles for Table Storage. What is the reasoning here? Is there a workaround like giving the AD principal management access to pull a key and use that to auth against the table endpoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca94e03-5f05-6703-1672-8062f31c0780
* Version Independe

[2019-03-27 20:28] MashaMSFT commented on #27477
Hi @sqlazure , thanks for this suggestion! I've added a link to the t-sql doc from the azure doc, and then added an example for forcing failover with data loss. These changes should be live later today. Please let me know if anything else is needed? Thanks!

[2019-03-27 20:30] YutongTie-MSFT commented on #28159
@xzhu1900
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@mx-iao Hi, could you please take a look of this issue and update the document as necessary? Thanks a lot! ^^

[2019-03-27 20:32] starlinalmonte opened #28162 "Logic App Contributor role description"
The description of the role says"This role can't delete the logic app or run administrator operations." But I have tested this, and I can create and delete Logic Apps by having only this role assigned to an user and applied to a resource group. Usually every contributor role has these possibilities (Besides the Site Recovery Contributor, which cannot create vaults).

---
#### Document Details

⚠ *

[2019-03-27 20:34] BarbaraSelden opened #28163 "What are "Non-gallery apps""
this is a term that is very internally focused- we should describe what that means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93f9cab8-9d40-19b8-8bfb-631b116819a1
* Version Independent ID: 8edc0870-25f3-1151-f21c-b92d3c0c1867
* Content: [Problems signing in to a non-gallery application configured for federated sin

[2019-03-27 20:35] YutongTie-MSFT commented on #28147
@yanrez Hi Yan, thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@jpe316 Hi Jordan, could you please take a look of this issue and update the document as necessary? Thank you!

[2019-03-27 20:45] cephalin commented on #28083
@stefsch Hi Stefan. Actually it's purposefully that way. This is intended to be a general guide for CRUD apps using PHP, and Laravel just happens to be the framework of choice. It's not intended to actually be the place of guidance for Laravel.

[2019-03-27 20:46] MarileeTurscak-MSFT commented on #27942
Make sure you have all of the modules installed from the previous page and have copied the command and URL exactly. I tested in my own environment and got it working.

![image](https://user-images.githubusercontent.com/13383753/55110961-82209280-5096-11e9-9d09-cd93b81d3bf7.png)

If you are still having issues, can you please post this to MSDN?https://social.msdn.microsoft.com/Forums/azure/en-US/ho

[2019-03-27 20:46] #27942 closed

[2019-03-27 20:48] MicahMcKittrick-MSFT commented on #28081
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 20:52] GaretAnderson opened #28165 "This property dialog is inaccurate for Azure Analysis"
"In SSMS, right-click the server name&gt; Properties &gt; Supported Compatibility Level." on my AS instance shows max supported to be 1200 but plenty of other things even your screenshot above says 1400 (while actually I think 1465 is working? or maybe only 1455.. idk)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 517

[2019-03-27 20:55] tamram commented on #28161
@craigb - Azure Storage does not currently support Azure AD integration for Table storage, and there are no supported workarounds. Only Shared Key and SAS are supported for Table storage.

[2019-03-27 20:55] tamram commented on #28161
#please-close

[2019-03-27 20:59] iyerusad commented on #18814
**Task 1:** Purge $web container (may have to escape `$` character, eg `'$web'`)
[code]
**Task 2:** Deploy bits to storage

**Task 3:** Purge CDN
[code]
**Pain point:** Default CDN option (Standard Akamai) [doesn't support wildcards](https://docs.microsoft.com/en-us/azure/cdn/cdn-purge-endpoint) and so above probably won't work. Also unclear if `/*` is purge all or just root dir.

Issue filed: htt

[2019-03-27 21:01] puduville commented on #27852
I have resolved this. It was a typo in my Cmd, not leaving space before --

[2019-03-27 21:03] artemuwka commented on #20288
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. If there is anything we can help with please don't hesitate to reach out. Thank you!

[2019-03-27 21:03] SaurabhSharma-MSFT commented on #27795
@echanfin Are you using Azure Cloud Shell from Azure portal to run the command ?  As mentioned in the document you need to use the PowerShell session from your system to run the command.  Supported PowerShell versions are - Windows PowerShell 5.0 and 5.1.

[2019-03-27 21:03] artemuwka commented on #20288
#please-close

[2019-03-27 21:03] YutongTie-MSFT commented on #28154
@v-kydela Hi, does https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136866eb37/operations/knowledgebases_getknowledgebasedetails help you? You can get the details from the API as well.

[2019-03-27 21:04] MicahMcKittrick-MSFT commented on #28161
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 21:07] jaypatrick opened #28166 "Still Has Showstopping "Can't Update Certificate" Error"
Installed the newest release, and it STILL has the error where nothing can be done if the existing certificate is a wildcard cert. Cannot deploy new WAP's or ADFS instances if the existing cert is a wildcard, once you get to the SSL Certificate screen, it says 'SSL Certificate Already Provided' and cannot browse to a new one, browse button is greyed out. Clicking the 'Enter Password' screen and en

[2019-03-27 21:07] artisticcheese commented on #19456
Here is how to find out which IP ranges are. https://visualstudio.microsoft.com/team-services/support/ip-addresses-used-hosted-build/

[2019-03-27 21:07] n0ttsweet commented on #27960
Alright... so the command you shared did not work.  I went to the doc and saw it was updated with a different command to allow PreRelease, and that let me use the commands.
Now, I'm stuck at step "Add Rules to a Policy".
I have included 8 images of the steps I took to get here, showing the issues I ran into, and then got past.
I showed that the resource group in question, to prove it exists. I als

[2019-03-27 21:09] ckarras commented on #20288
Please reopen, the issue may have been open for 90 days but it got a reply only after 84 days. I did not have a chance yet to retry downloading a 200gb file with the latest version and see if I had the same issue. Also, the documentation still doesn't explain what's the correct way to resume failed downloads.

[2019-03-27 21:10] ckarras commented on #20288
@artemuwka Please reopen, the issue may have been open for 90 days but it got a reply only after 84 days. I did not have a chance yet to retry downloading a 200gb file with the latest version and see if I had the same issue. Also, the documentation still doesn't explain what's the correct way to resume failed downloads

[2019-03-27 21:10] MarileeTurscak-MSFT commented on #28146
@Mike-Crowley
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-27 21:17] SaurabhSharma-MSFT commented on #27917
@MikeForster100 I do not think that this feature is dependent on Windows OS versions but I will let content author comment on the same.
@monhaber Can you please confirm.

[2019-03-27 21:17] v-kydela commented on #28154
@YutongTie-MSFT - That's a good guess, but "Get Knowledgebase Details" is a different operation entirely. You can see from the example response that it just returns details about the knowledgebase rather than an answer to a question:

[code]

That's from performing a GET to this endpoint: `/knowledgebases/{kbId}`

The generateAnswer API is a POST to this endpoint: `/knowledgebases/{kbId}/generateA

[2019-03-27 21:19] SaurabhSharma-MSFT commented on #27028
@SamBlakeC Apologies for the delay but I am still working with the product group to get any updates on this.  I will update you at the earliest.

[2019-03-27 21:22] mikebudzynski commented on #27393
Thanks @dcbrown16 - that's a good idea. I have created a work item on our side and we will triage and track it offline.

#please-close

[2019-03-27 21:23] MarileeTurscak-MSFT commented on #28146
I agree that this is valuable. I created a pull request to add this but will let @MicrosoftGuyJFlo make the final call. https://github.com/MicrosoftDocs/azure-docs-pr/pull/71117

[2019-03-27 21:23] #28146 closed

[2019-03-27 21:24] TravisCragg-MSFT commented on #28153
@chrisbachmann Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-27 21:24] jluk commented on #27224
@kendallroden / @MicahMcKittrick-MSFT We pushed a fix for this so updating to v2.0.61 should include a fix.

[2019-03-27 21:25] himanshusinha-msft commented on #28074
@desarkar : We have reviewed the document and we think at this time it is serving the intended purpose . As we are trying to bring consistency to the document , we are assigning this to the content author , they will update the document as appropriate .

[2019-03-27 21:26] armstrong-charles commented on #8899
How to use 'Send to Tag Expression" in Azure Notification Hub for Android. When i send without this, i get the notification, but Notification object is null. Default payload data is : {"data":{"message":"Notification Hub test notifiaton"}}.
Any help!

[2019-03-27 21:29] YutongTie-MSFT commented on #28154
@v-kydela Hi Kyle, thank you for the clarification. You are right, [this doc](https://westus.dev.cognitive.microsoft.com/docs/services/5a93fcf85b4ccd136866eb37/operations/5ac266295b4ccd1554da75ff/console ) just provide console testing for KB related. Document for how to get answer of a question is [here](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/quickstarts/python#GetAnswe

[2019-03-27 21:32] axisc commented on #27709
That is correct - we don't track that yet.

[2019-03-27 21:37] diberry commented on #28154
@YutongTie-MSFT @v-kydela I believe this is an issue that can only be resolved by moving GenerateAnswer into the swagger file. Once that is accomplished, lots of goodness will trickle down, probably including the try it now/test feature Kyle mentioned. @tulasim88 probably has a tracking item for this.

[2019-03-27 21:40] YutongTie-MSFT commented on #28154
@diberry Thank you Dina, should I assign this issue to @tulasim88 or to you directly? IF you have a item for this issue, I can close it.

@v-kydela Thank you Kyle for bringing this to our sight.

[2019-03-27 21:41] Grace-MacJones-MSFT commented on #28138
@mganeshphani,  I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-27 21:44] aidell opened #28168 "Typo"
This:
"The connector server and the web applications servers should belong to the same Active Directory domain. Having the servers in the same domain is a requirement for using single sign-on (SSO) with Integrated Windows Authentication (IWA) and Kerberos Constrained Delegation (KCD)."

should say:

"The connector server and the web applications servers should belong to the same Active Directory d

[2019-03-27 21:45] VitaliyKurokhtin commented on #27914
Proper attribute name is "caching-type", documentation will be updated

[2019-03-27 21:47] kobulloc-MSFT commented on #28132
@ToddTaylor The documentation shows the following snapshot, with the highlighted hyperlink ("Don't see Snapshot? Troubleshoot"):

![image](https://user-images.githubusercontent.com/37556655/55114351-efd0bc80-509e-11e9-8be5-0395e92a116e.png)

Not getting things to work correctly can be difficult to repro, but I haven't been able to get the screenshot to appear in either of my attempts to reproduce

[2019-03-27 21:47] YoDaMa commented on #19796
@pmossel the Azure C Client team is working on this fix. I recommend logging your github issue on the azure-iot-sdk-c page for visibility: https://github.com/Azure/azure-iot-sdk-c .

As to the error you're seeing, it's an issue with the ESP8266 Arduino library. There's a thread on it here:

https://github.com/esp8266/Arduino/issues/5787

Try rolling back the board library for the ESP8266 to Versio

[2019-03-27 21:50] mike-urnun-msft commented on #28162
Hi @starlinalmonte Thank you for your feedback! We will review and update as appropriate.

[2019-03-27 21:51] SnehaGunda commented on #27665
@wmengmsft is looking into this issue.

[2019-03-27 21:52] YutongTie-MSFT commented on #28050
@trevorbye Thank you.

@QuickNS @MayMSFT Hi team, do you have any update on this issue? Thanks a lot.

[2019-03-27 21:53] femsulu commented on #28091
@VladimirKhvostov a PR has been successfully raised to fix the typo. The fix will be live in 24-48 hrs.
Thanks again for catching this.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-27 21:53] #28091 closed

[2019-03-27 21:56] MarileeTurscak-MSFT commented on #28117
Hi @alwaysautomateit , you are likely having this issue because of the way your MFA enforcement is turned on. If you have MFA enforcement turned on through a conditional access policy, app passwords won't work and won't show up. This is intended behavior.

If you are using conditional access to deploy MFA then you should be using modern authentication and thereby app passwords are unnecessary.
htt

[2019-03-27 21:56] MarileeTurscak-MSFT commented on #28117
We will now proceed to close this thread. If you have further questions feel free to tag me or @eross-msft in the comments, or reach out to me on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-27 21:56] #28117 closed

[2019-03-27 22:00] SnehaGunda commented on #26502
@olofh-msft RU charge isn't fixed for different operations, its variable and dependent on the document size. I think the image captures the message.

[2019-03-27 22:05] MicahMcKittrick-MSFT commented on #28157
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-27 22:10] YutongTie-MSFT commented on #24799
@mrosett Hi Max, before the response from Alvin, we'd like to work with you further on this issue. Can you please email us at azcommunity@microsoft.com? Please provide us with your subscription ID and the URL for this thread. I can provide a free support ticket for you if you don't have the support plan. Thank you.

[2019-03-27 22:13] #28161 closed

[2019-03-27 22:14] kobulloc-MSFT commented on #28118
@SndrSchnklshk I've reached out to the content author and we will be updating the code snippet shortly.  Thank you again for your feedback!

[2019-03-27 22:28] Grace-MacJones-MSFT commented on #28133
Hi @IanGleeson , can you try using this?
{
  "Channels": 2,
  "SamplingRate": 44100,
  "Bitrate": 96,
  "Type": "AACAudio",
  "Condition": "InsertSilenceIfNoAudio"
}

[2019-03-27 22:36] arsunda commented on #27140
@yohanprs If your durable function is passing back a 'statusQueryGetUri' or an url that you can poll for updates, you can call that url with a web activity. Since the 'statusQueryGetUri' returns a 202 pattern, this will block until the 'statusQueryGetUri' returns success, and stop the next activity from running until the durable function has finished. The return from this url should also give you

[2019-03-27 22:43] anilmur commented on #28133
@Grace-MacJones-MSFT : Ian is using our v3 APIs. This InsertSilence flag is not yet exposed via our v3 APIs. In https://docs.microsoft.com/en-us/azure/media-services/latest/migrate-from-v2-to-v3#feature-gaps-with-respect-to-v2-apis, we'll add this flag to the set of feature gaps. At this point, I don't have an ETA to share on the update to v3 to address this. Thanks.

[2019-03-27 22:47] MayMSFT commented on #28050
looking into it

[2019-03-27 22:49] MarcinJuraszek opened #28171 ""The system cannot find the file specified""
I'm getting following error on `func init`:

[code]

I did run the PowerShell command. What am I doing wrong? How do I go about finding out what file is missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6bfb5
* Version Independent ID: 3174a893-394c-c622-6c96-0b89955edfb5
* Content:

[2019-03-27 22:53] bhimjik opened #28172 "The Event Payload in the documentation is not working as expected"
Executing below command in the powershell does not return.  I used the Cloud Shell.

$event='[ {"id": "'"$RANDOM"'", "eventType": "recordInserted", "subject": "myapp/vehicles/motorcycles", "eventTime": "'`date +%Y-%m-%dT%H:%M:%S%z`'", "data":{ "make": "Ducati", "model": "Monster"},"dataVersion": "1.0"} ]'

As above did not work as documented,
i simplified the event data as below, BUT then it gives

[2019-03-27 22:54] SaurabhSharma-MSFT commented on #27055
@rkarlin Unable to assign this issue to @akadatacowboy.

[2019-03-27 23:00] MartinJaffer-MSFT commented on #28070
I have been trying to reproduce the issue.  When you recreate the issue from the Databricks GUI, is the message still 'PicklingError ..' ? Or is the message different.
This is what I have so far.  I'm pretty sure I missed the point.  I'll have to brush up on my higher-order programming.  Maybe you could provide a more complete example? @jdobrzen
![image](https://user-images.githubusercontent.com/4

[2019-03-27 23:01] MarileeTurscak-MSFT commented on #28084
Hi @yobyot ,

As Shashi mentioned, please ensure that you are using the right ADAL library version that contains that method.

If you are still having issues, feel free to reach out to use at AzCommunity@microsoft.com and we can open a support case, or open a thread on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-27 23:01] #28084 closed

[2019-03-27 23:02] mydiemho opened #28173 "Examples in all languages"
Examples are not consistent, some have `C*`, `Java`, `JS`, and some have all 3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3ee3318-4c69-8ded-a8d5-5059d699351b
* Content: [Application Insights API for custom events and metrics](https://docs.microsoft.co

[2019-03-27 23:02] #28018 closed

[2019-03-27 23:02] VitaliyKurokhtin commented on #27914
Will be resolved with https://github.com/MicrosoftDocs/azure-docs/pull/28174

[2019-03-27 23:04] yobyot commented on #28084
Sheesh..so quick to close! Are you guys measured on having accurate docs and samples or on how quickly you "resolve" a problem? I haven't had a chance to "check the ADAL library" and am not sure that I should need to given that _it's not described nor documented in the instructions_.

[2019-03-27 23:04] sam90909 opened #28175 "Linux ARM template not working"
I just tried to deploy the Linux VMSS scale set given. Looks like the ARM template have some bugs.

Whereas the windows is working fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ad5f538-2d05-e860-3228-dceabff13799
* Version Independent ID: 4bdae343-2aec-7bb7-7631-d8070cd0ef6a
* Content: [Quickstart - Create a Li

[2019-03-27 23:05] yikei commented on #28050
@QuickNS Thanks for reaching out. Yes, the concept of Package was been removed in 1.1.0. Please see release notes here: https://docs.microsoft.com/en-us/azure/machine-learning/service/azure-machine-learning-release-notes

Instead of Package, you can directly save a Dataflow to a .dprep file. Please see this notebook for examples: https://aka.ms/aml-data-prep-open-save-dataflows-nb

We will update

[2019-03-27 23:06] Heidilohr commented on #27981
@tsrob50 We've updated the article to include the missing parameter. The change should go live relatively soon.

[2019-03-27 23:09] ththiem opened #28176 "Scale out, confusing information, no service fabric"
There is some confusion and inconsistencies regarding the scale out about "increasing throughput by running multiple instance of EventProcessorHost," as well as information in other closed questions and pages. It links to a 5-year old code sample that

1. Doesn't create multiple instances of EventProcessorHost
2. Implements a custom EventProcessorHostFactory and registers that instead of using the

[2019-03-27 23:15] Merurino opened #28177 "Metrics server doesn't seem to be installing in AKS 1.12.6"
Hey guys, I recreated my AKS cluster, that as far as I can say was working fine with HPA.

Now HPA does not work as the metrics-server doesn't seem to be running.

Some outputs:

[code]

[code]

[code]

[code]

Shouldn't the metrics server come with any deployments of AKS on version above 1.10?
Can this be related to me deploying in a different location? I had it deployed on Southeast Asia before

[2019-03-27 23:18] dcbrown16 commented on #27393
Ok, thanks for planning on that @mikebudzynski!

[2019-03-27 23:18] #27393 closed

[2019-03-27 23:20] MicahMcKittrick-MSFT commented on #28177
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 23:20] MicahMcKittrick-MSFT commented on #28175
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-27 23:21] christiankuhtz commented on #26619
@mries please review the documented behavior in this article for how the product behaves on probe down, particularly the conditions when TCP connections are permitted to continue during probe down.  I don't have any further comment beyond that.  You're welcome to provide feedback via https://aka.ms/lbuservoice

@SubhashVasarapu-MSFT please close

[2019-03-27 23:23] christiankuhtz commented on #21681
@colindooley11 we do not support a scenario where a backend instance creates a flow to the frontend of an internal load balancer.  no plans to further illustrate the cause beyond the text in limitations.

@TravisCragg-MSFT please close

[2019-03-27 23:29] Karishma-Tiwari-MSFT commented on #27848
@deltadan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-27 23:31] MarileeTurscak-MSFT commented on #27943
I believe that you need to have User.Read.All in the application permissions and delegated permissions.

With grant_type=client_credentials you can also use https://graph.microsoft.com/.default for scope. It will give you the permission defined in your app.

[2019-03-27 23:32] MarileeTurscak-MSFT commented on #28152
@bichuga
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-27 23:33] bryhall opened #28179 "Azure Security Center prereq confusion"
Under the Prerequisites &gt; Azure Security Center section, it states:

"Azure Security Center automatically provisions the Log Analytics agent and connects it with the default Log Analytics workspace of the Azure subscription. If you are using Azure Security Center, do not run through the steps in this document. Doing so overwrites the configured workspace and break the connection with Azure Secu

[2019-03-27 23:34] MarileeTurscak-MSFT commented on #28156
@SP47471 please open actionable feedback on a Github doc and we will gladly respond.

[2019-03-27 23:34] #28156 closed

[2019-03-27 23:35] Karishma-Tiwari-MSFT commented on #28115
@jamesapicken Can you please share the link to the other doc you mentioned, where it says it is Generally available?
This will help us to confirm and update the other doc as well if needed. Thanks.

[2019-03-27 23:35] TravisCragg-MSFT commented on #21681
@colindooley11 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-27 23:35] #21681 closed

[2019-03-27 23:37] femsulu commented on #28040
@Sethu2488, the cost of a management solution depends on the collection of Azure resources you plan to use to build the Management solution.  Typically, Management solutions in Azure require [Log analytics](https://azure.microsoft.com/en-us/pricing/details/monitor/) workspace and an [Azure Automation](https://azure.microsoft.com/en-au/pricing/details/automation/) resources. Therefore the underlyin

[2019-03-27 23:39] kye opened #28180 "Incorrect use of icons."
Subscription and Management group icons are used incorrectly in the diagram under Understand management scope.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d37ec9b1-bb55-c423-8a70-d34b67c5ba79
* Version Independent ID: 2f853cf4-4f90-6d8d-dd13-abe6508126a5
* Content: [Azure Resource Manager Overview](https://docs.micr

[2019-03-27 23:39] femsulu commented on #28040
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-27 23:39] #28040 closed

[2019-03-27 23:39] MarileeTurscak-MSFT commented on #28168
@aidell
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-27 23:40] MarileeTurscak-MSFT commented on #28168
I think it is a fair caveat to mention so I made a pull request for review by @CelesteDG https://github.com/MicrosoftDocs/azure-docs-pr/pull/71148

[2019-03-27 23:40] #28168 closed

[2019-03-27 23:45] curtand commented on #27517
https://github.com/MicrosoftDocs/azure-docs-pr/pull/71149

[2019-03-27 23:47] Mike-Ubezzi-MSFT commented on #28120
@atullalwani You are unable to use COPY commands directly through the SQL statements but the import/export (data) functionality can be used through [pgAdmin](https://www.pgadmin.org/download/pgadmin-4-windows/).

![Screenshot (336)](https://user-images.githubusercontent.com/37126106/55119387-e8b1aa80-50ae-11e9-9bdd-1e5d3277b0b9.png)

HINT:  Anyone can COPY to stdout or from stdin. psql's \copy com

[2019-03-27 23:49] KumudD commented on #27960
@n0ttsweet @teresayao  You must provide a unique name for the geo policy as noted in  the "Add rules to a policy" section.
 I have added an additional sentence to the "Add rules to a policy"  for clarity - "In the below example, replace the policy name _geoPolicyAllowUSOnly_ with a unique policy name."  The updated doc should go  live in the next publish cycle by tomorrow AM.
Thanks!

[2019-03-27 23:59] Alberto-Vega-MSFT commented on #28011
Fantastic! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-27 23:59] #28011 closed

[2019-03-28 00:01] MGoedtel commented on #28030
@Cepheus0815 - After reviewing this, as the RBAC information was added by a colleague on my team, I agree the syntax was flip-flopped.  I've opened a PR to correct this and the change will go live tomorrow. Thanks for bringing this to our attention.  #please-close

[2019-03-28 00:06] KingdomOfEnds opened #28181 "Docker Python Manifest"
Hi! Great documentation - awesome customvision.ai app. I was cruising through this but encountered the following at the last step (deploying to my container registry):

[code]

The Docker resources are here: https://docs.docker.com/samples/library/python/ and it looks like 3.6.8-windowsservercore-1709 is valid. What am I missing here? Thanks!

---
#### Document Details

⚠ *Do not edit this section

[2019-03-28 00:07] MartinJaffer-MSFT commented on #28176
Thank you for bringing this issue to our attention, @ththiem .   We will review the document and update as appropriate.

[2019-03-28 00:10] Mike-Ubezzi-MSFT commented on #28152
@bichuga The `Reset Password` button is on the main landing page for the Azure SQL Server logical instance:

![Screenshot (339)](https://user-images.githubusercontent.com/37126106/55120400-1c8ecf00-50b3-11e9-986b-a8bf0d783ffd.png)

[2019-03-28 00:11] MartinJaffer-MSFT commented on #28165
Thank you @GaretAnderson for bringing this to our attention.  We will investigate the issue and update as appropriate.

[2019-03-28 00:20] Mike-Crowley commented on #27992
The 2nd instance of "CERT_SYSTEM_STORE_LOCAL_MACHINE" in this article is step 3a about 3/4 down the page. It says that the agent certificate is stored in the local machine store of the server. In that same list, step 8 points out that RENEWALS go in the current user store (not local machine), because the agent no longer has permission to write to the local machine store.
I think step 9 should ther

[2019-03-28 00:28] FletchM90 commented on #28149
@mattfortech I am also having this issue when using the custom vision connector in Flow. The iteration has been published.

Error Code 404
{
  "Code": "NotFoundProjectDefaultIteration",
  "Message": "Project has no default iteration"
}

[2019-03-28 00:30] DrEsteban opened #28182 "Storage account ARM template example is broken"
`resourceGroups('RGtoLock').location` is not a valid ARM template function.  I think you meant to have `resourceGroup().location`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c9dd028-acfb-3b66-69d8-acfc0fd41ce1
* Version Independent ID: 762dc97e-664b-8644-bab5-6c08fecccb2c
* Content: [Protect new resources with blu

[2019-03-28 00:46] kazshi commented on #27889
@YASWANTHM-MSFT Thanks for your comment. Actually I'm looking for information of IOPS for each tier like 'Maximum IOPS per share' in the table in the following link, not metrics data.
Do you know if we have information like that?   Thanks.

[2019-03-28 00:52] MarileeTurscak-MSFT commented on #28155
@harshithkashyap
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-28 01:09] Mike-Ubezzi-MSFT commented on #28034
@fpoe I am not seeing an plans to make Managed Instance available in Canada East and I did not see an entry in the [Azure SQL Database Uservoice](https://feedback.azure.com/forums/217321-sql-database). Can you at least create an entry for this so the product group knows there is an ask for it. Others will also be able to up-vote and comment on this request. Thanks!

https://azure.microsoft.com/en-

[2019-03-28 01:11] MarileeTurscak-MSFT commented on #28160
@admintgal
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-28 01:13] MarileeTurscak-MSFT commented on #28163
@BarbaraSelden
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-28 01:14] MarileeTurscak-MSFT commented on #28166
@jaypatrick
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-28 01:15] rkarlin commented on #27854
Hi, you can get involved with the Azure Sentinel tech community here: https://techcommunity.microsoft.com/t5/Azure-Sentinel/bd-p/AzureSentinel

thanks

#please-close

[2019-03-28 01:17] Grace-MacJones-MSFT commented on #28126
Hi @mgollubske, this is been worked on but there is no timeline to share for now.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-28 01:17] #28126 closed

[2019-03-28 01:21] Grace-MacJones-MSFT commented on #28133
@anilmur thanks for the clarification. Since this will be worked on internally, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-28 01:21] #28133 closed

[2019-03-28 01:21] rickijen commented on #28072
Same issue with web client.

On Wed, Mar 27, 2019, 12:27 PM Micah <notifications@github.com> wrote:

[2019-03-28 01:26] kobulloc-MSFT commented on #28173
@mydiemho Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-03-28 01:39] spelluru commented on #25443
https://github.com/MicrosoftDocs/azure-docs-pr/pull/71157

[2019-03-28 01:39] spelluru commented on #25443
#in-progress

[2019-03-28 01:41] Diginomicon opened #28184 "Typo in 'Deploy the Storage Sync Service' PowerShell section"
"Once you have created the Azure File Sync context with the Login-AzureR,StorageSync cmdlet" should be "Once you have created the Azure File Sync context with the Login-AzureRmStorageSync cmdlet"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-

[2019-03-28 02:02] zhupingcmm commented on #21690
hi @CelesteDG
I have meet the same case. What actions can let a endpoint been installed by the admin of the tenant or consented to by any user in the tenant?
If you can tell me the step by step ?

[2019-03-28 02:12] jdobrzen commented on #28070
Your example is probably not executing on a work as a "Spark" job.  I realized I can use dbutils.secrets.get() inside a function. It's when I register it as a Spark UDF and then call that function using the Spark dataframe function withColumn() that I get the pickling error.

You'll need to create a Spark dataframe first from some set of data. Then call your UDF using the withColumn() function, wh

[2019-03-28 02:35] pjknkda opened #28185 "Firewall rules are inherited from master"
The doc says "When you create a replica, it doesn't inherit the firewall rules or VNet service endpoint of the master server.", but after I tested with a newly created replica, it seems that it inherits firewall rules from the master and ignores firewall rules configured on the replica in the Azure portal. Which one is correct behavior?

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-03-28 02:45] stschulznz opened #28186 "Incorrect Role - Collaborator?"
I believe it should be Contributor. There are a number of incorrect roles, mentioning Collaborator in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10c4b9ab-975f-4050-65fa-2d510ac93fbb
* Version Independent ID: d3a90700-a503-1b65-983c-5356ffb93610
* Content: [Security Center Planning and Operations Guide

[2019-03-28 02:56] DashleenBhandari-MSFT commented on #27876
@dreic , Thanks for the confirmation. I will go ahead and close the issue.

[2019-03-28 02:56] #27876 closed

[2019-03-28 03:08] #27854 closed

[2019-03-28 03:08] #28030 closed

[2019-03-28 03:16] DashleenBhandari-MSFT commented on #27835
@Tiberriver256, Can you please provide more context about the scenario you are trying to enable?

Can you be more specific about the target environment,for example is it Linux containers?

When you said to flush the cache, which cache are we talking about?

[2019-03-28 03:19] Exlsunshine opened #28187 "@AndyLiTaiwan Please take a look at the [Azure IoT Service SDKs](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-sdks#azure-iot-service-sdks). There you will find a few technology stacks supported by the SDK."
Still cannot find how to deploy modules by IoT hub service SDK.

@AndyLiTaiwan Please take a look at the [Azure IoT Service SDKs](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-sdks#azure-iot-service-sdks). There you will find a few technology stacks supported by the SDK.

For example, the [Azure IoT Hub service SDK for .NET](https://github.com/Azure/azure-iot-sdk-csharp) contains

[2019-03-28 03:26] PsyhoLord commented on #28158
Finally, I found an issue, after 2 days of the investigation.
I made a repository of 2 solutions:
1) Fcm.Xamarin.Android - Firebase notifications for Xamarin Android
2) Xamarin.Android - Azure Notifications Hub for Xamarin Android
Xamarin.Android.Summary.docx - my report about this documentation

Commit named: "Fixed Azure Hub notifications" is what is missed in current documentation, why I couldn

[2019-03-28 03:30] DCtheGeek commented on #28182
@DrEsteban Can you confirm you tried the example and it didn't work? The function provided `resourceGroups('RGtoLock').location` is correct.  You are right that it isn't an Azure Resource Manager template function, but it is a blueprint function.  I have an action to document these (there are a few others), but they are useful in templates where `resourceGroup().location` might not have any contex

[2019-03-28 03:51] YASWANTHM-MSFT commented on #28184
@Diginomicon, Thanks for the valuable feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-28 04:09] #26619 closed

[2019-03-28 04:22] AshokPeddakotla-MSFT commented on #28181
@KingdomOfEnds Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-28 04:24] pournejati opened #28189 "Custom path mapping explanation is not clear."
After reading the documentation, I'm still in doubt if I understood custom mapping correctly. You are saying you can specify the path, but I also have to put /* as the default path? Does that mean it will index all fields anyway? If not, what's the point of leaving that default value? In a scenario that I only want to index specific properties out of let's say hundreds, how do I set that up?

---

[2019-03-28 04:32] PramodValavala-MSFT commented on #27890
@wahyuen @graemeenglish I hope my previous comments clear things up.

Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-28 04:32] #27890 closed

[2019-03-28 04:33] pournejati commented on #28189
And if I set my specific properties, what's the point of exclusion option? BTW, I tried to remove the "etag" from exclusion and add /*, but it didn't remove the etag from the list.

[2019-03-28 04:35] DixitArora-MSFT commented on #28089
@mganeshphani Azure App Service does not allow the [registration of COM components](https://docs.microsoft.com/en-us/dotnet/azure/dotnet-howto-migrate-app-service?view=azure-dotnet#com-and-com-components) as well on the platform. If your app makes use of any COM components, these would need to be rewritten in managed code and deployed with the site or application.

Also as mention in my earlier po

[2019-03-28 04:38] rolyon commented on #27749
Hi @mosharafMS
I've created a work item to make updates to the docs for management groups. I'll contact you.
thanks

[2019-03-28 04:40] rolyon commented on #27749
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-03-28 04:44] KetanChawda-MSFT commented on #28171
@MarcinJuraszek Can you make sure Python version 3.6  installed properly along with the Azure Function Core Tools as mentioned in prerequisite section of this doc?

[2019-03-28 04:48] KetanChawda-MSFT commented on #27936
@sique976 I tried following the steps mentioned in tutorial doc and it worked fine for me. I wanted to mention that [this document](https://docs.microsoft.com/en-us/azure/event-grid/resize-images-on-storage-blob-upload-event?tabs=dotnet#feedback) is part two of a series of Storage tutorials. It extends the [previous Storage tutorial](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-upl

[2019-03-28 04:49] DixitArora-MSFT commented on #28140
@Arash-Sabet Just checking if you have gone through the [Create with Azure Functions and SignalR Service](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-csharp) doc and [GitHub samples](https://github.com/Azure-Samples/signalr-service-quickstart-serverless-chat).

[2019-03-28 04:50] KetanChawda-MSFT commented on #28172
@bhimjik Thank you for your feedback! We will review and update as appropriate.

[2019-03-28 04:52] SadiqhAhmed-MSFT commented on #28180
@kye Thanks for the comment! We have shared your feedback with the content owners to review further and update as appropriate.

[2019-03-28 04:52] Oran2009 opened #28190 "Domain Name"
I'm using arch linux and trying to connect to the windows VM. I am connecting using remmina RDP and when connecting, it asks for my username/password and also a domain name. I have the username and password but where do I get the domain name?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-03a89c

[2019-03-28 04:59] DixitArora-MSFT commented on #27980
@romankiss  Suggestion from Product Group is to use event grid input schema for your domain and also receive events in grid schema as that helps you with getting full ARM id. You can also consider adding it as part of data section if it is needed for event handling.

[2019-03-28 05:09] #27749 closed

[2019-03-28 05:16] armstrong-charles commented on #8899
I think i am having some other problem in server backend for FCM side, WNS works fine.
This section describe how to use the Tag (https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-registration-management)

[2019-03-28 05:28] rayne-wiselman commented on #22918
This article now includes instructions for deleting items from a vault before deleting the vault.

thx
#please-close

[2019-03-28 05:30] CHEEKATLAPRADEEP-MSFT commented on #27576
@stanupab Currently, you can set file and directory level permissions using Azure Storage Explorer with Azure Data Lake Storage Gen2.

Refer: [https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-how-to-set-permissions-storage-explorer](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-how-to-set-permissions-storage-explorer)

Hope this helps.

[2019-03-28 05:39] rayne-wiselman commented on #12068
#please-close

[2019-03-28 05:47] msrini-MSFT commented on #27583
Opened a PowerShell bug.

https://github.com/Azure/azure-powershell/issues/8886

Closing this issue.

[2019-03-28 05:47] #27583 closed

[2019-03-28 05:47] msrini-MSFT commented on #28100
@allencodes , do you have an update for me?

[2019-03-28 05:48] jakaruna-MSFT commented on #28190
@Oran2009 That's the domain name which your windows computer is connected to. If your VM is not connected to a domain, I think you can leave that field as empty. Can you try that and let me know

[2019-03-28 05:49] KetanChawda-MSFT commented on #28043
@jeffhebrank I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-28 05:50] v-maroge opened #28199 "Exceptions for backup/recovery"
Hi, are there any other exceptions in what is supported with  backup/recovery besides Usage data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34eef662-c35f-230b-de28-0dcee463d8bc
* Version Independent ID: 07206d86-8410-7a58-227a-6e630df50c16
* Content: [Implement disaster recovery using backup and restore in Azure A

[2019-03-28 05:56] kazshi commented on #27889
@YASWANTHM-MSFT Sorry, forgot to add the link to my previous comment. Here is the sample page:
Azure Files scalability and performance targets | Microsoft Docs
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-scale-targets#azure-files-scale-targets

Basically my customer would like to know if there're any differences (maximum IOPS for example) between each tier and it would be gr

[2019-03-28 05:59] PoojaPDesai commented on #28020
Can we pass local image url in the body of API?

[2019-03-28 06:06] BhargaviAnnadevara-MSFT commented on #28187
@Exlsunshine Thanks for the feedback! I've assigned this to @Mike-Ubezzi-MSFT to check further and update.

[2019-03-28 06:06] KetanChawda-MSFT commented on #28021
@tantingjun Checking in to see if the above post helped answering your question.

[2019-03-28 06:10] MarileeTurscak-MSFT commented on #28179
@bryhall
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-28 06:14] KetanChawda-MSFT commented on #28113
@kristerkarto It’s by design. Liquid template always converts json date values with default conversion logic and there’s no way to opt out of it at the moment.

There is a plan in place to add an option to disable date parsing in set body policy in future release. For now the only workaround is to craft body value using policy expressions. You’ll need to cast JObject property value to `DateTime` a

[2019-03-28 06:21] SumanthMarigowda-MSFT commented on #28085
@SamuraiApocalypse  Just for clarification: Have you referred to the suggestion mentioned in this [GitHub ](https://github.com/MicrosoftDocs/azure-docs/issues/25936)link

[2019-03-28 06:29] KetanChawda-MSFT commented on #27921
@StingyJack I understand your concern . I am assigning the issue to the content author to evaluate and update as appropriate.

[2019-03-28 06:35] rayne-wiselman commented on #9641
This text has been removed and is no longer relevant. #please-close

[2019-03-28 06:39] rayne-wiselman commented on #9831
Thanks! This text is no longer in the article. #please-close

[2019-03-28 06:43] rayne-wiselman commented on #10251
Thanks! These links are now fixed. #please-close

[2019-03-28 06:45] DixitArora-MSFT commented on #28124
@tomconte I have created the quick sample and it worked for me. When defined in function.json it is connectionStringSetting and when defined as C# attribute it is ConnectionStringSetting. This is documented in [Trigger - configuration](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2#trigger---configuration).

[2019-03-28 06:47] dcbrown16 commented on #10251
Oh, thanks @rayne-wiselman! I heard those pages were supposed to be updated eventually but I guess it hasn't happened yet. I'll check in again in case we find the links break when the update does happen.

[2019-03-28 06:47] #10251 closed

[2019-03-28 06:48] KalyanChanumolu-MSFT commented on #28185
Thank you for the detailed feedback.
Let me try this at my end and I will get back to you soon.

[2019-03-28 06:57] Leon99 commented on #27892
@AjayKumar-MSFT good to know, thanks. I, however, do not believe that the issue is specific to my app. Also, as per https://github.com/MicrosoftDocs/azure-docs/issues/27893#issuecomment-476485388, "automatic" authentication is not supported at the moment so I'll leave it to you to adjust the documentation until the scenario is supported.

[2019-03-28 06:57] santoki-darshan commented on #28103
I am also facing a similar issue

My Object Graph is like
[code]
POST request to
https://yourDigitalTwinsName.yourLocation.azuresmartspaces.net/management/api/v1.0/devices
[code]
Gives below response
[code]

[2019-03-28 07:00] RohitMungi-MSFT commented on #28020
@PoojaPDesai I don't think it will work that way. You would need to provide the raw image binary and change Content-Type to application/octet-stream, But it is better to do this programatically.

You can use this [quickstart ](https://github.com/Azure-Samples/cognitive-services-vision-csharp-sdk-quickstarts/tree/master/ComputerVision)to pass local images by running the solution.

[2019-03-28 07:03] jakaruna-MSFT commented on #27904
@tiholm you need to fill helm-config.yaml with the relevant values. If you have already filled please check the values for `armAuth.identityResourceID` and `armAuth.identityClientID`.

I see that terraform output dont have those values. You can use the below command to fetch those details.
`az identity show  -g  <resource group given in terraform variable(resource_group_name)> -n identity1`

Remai

[2019-03-28 07:03] PramodValavala-MSFT commented on #27970
@Blackbaud-ChrisBlythe Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-28 07:03] #27970 closed

[2019-03-28 07:07] rayne-wiselman commented on #16032
Thanks! The limitation is still accurate.
#please-close

[2019-03-28 07:19] YASWANTHM-MSFT commented on #28131
@gacurtin, Thanks for the valuable feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-28 07:21] santoki-darshan commented on #28103
Got the problem.
I was trying to create a device on space where no resource was created.
Trial version only allows creating one resource which I had already created on some other space, this new space had no new resource created niether it was attached to old resource.

[2019-03-28 07:21] BryanTrach-MSFT commented on #28046
@PsyhoLord @jwargo We are reopening the thread after removing the content from your post that does not meet our editorial standards. Please keep it civil. Thank you for your understanding.

[2019-03-28 07:23] arjantent commented on #28103
But how do you attach a selfmade iot hub in azure to a space? Considering not running the toturial?

Outlook voor Android downloaden<https://aka.ms/ghei36>

________________________________
From: Darshan <notifications@github.com>
Sent: Thursday, March 28, 2019 8:21:32 AM
To: MicrosoftDocs/azure-docs
Cc: arjantent; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Digital Twins need Type IoT Hub whe

[2019-03-28 07:27] YASWANTHM-MSFT commented on #27889
@kazshi, Your feedback has been shared with the content owner for further review and update the information in the document as appropriate.

[2019-03-28 07:29] santoki-darshan commented on #28103
I am right now only modifying the tutorial for various scenarios.

I was trying to create a resource using this api call
https://yourDigitalTwinsName.yourLocation.azuresmartspaces.net/management/swagger/ui/index#/Resources/Resources_Create

[2019-03-28 07:33] rayne-wiselman commented on #24574
I fixed the text so that the documents match. Should show up in next day or so.

Thx
#please-close

[2019-03-28 07:35] tiholm commented on #27904
I believe my identityResourceID and identityClientID should be valid, just re-checked them.

Here is helm-config.yaml (snipped secret values out of it)

[code]

Configuration values match values that command gives:

[code]

Versions

[code]

[2019-03-28 07:35] femsulu commented on #27695
@JasperCodes any update please

[2019-03-28 07:37] femsulu commented on #27048
Thanks for sharing the soluiton. We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

@bwren - fyi

[2019-03-28 07:37] #27048 closed

[2019-03-28 07:38] #24574 closed

[2019-03-28 07:51] tiholm commented on #27904
Ah, I am missing something. In prior message, you gave link to https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/install-existing.md#install-ingress-controller-as-a-helm-chart which states in first chapters before link section that

"The aad-pod-identity gives a clean way of exposing an existing Azure AD identity to a pod. Kindly follow the aad-pod-identity installat

[2019-03-28 07:57] BryanTrach-MSFT commented on #27710
Have you tried reviewing the Docker logs to see if this provides you with the necessary details?

If that does not work, please reach out to us at azcommunity@microsoft.com with your subscription ID and the URL of this post so we can work closer with you.

[2019-03-28 07:57] #27710 closed

[2019-03-28 08:04] SP47471 commented on #28156
-/~~~~/*.

czw., 28 mar 2019, 00:34 użytkownik Marilee Turscak - MSFT <
notifications@github.com> napisał:

[2019-03-28 08:15] MarkusH opened #28203 "Unintended white space in command"
The first command under `Get an authorization token` contains `-F "client_id=&lt;insert clientId from earlier step&gt; "`. I suppose the white space after `step&gt;` and before the `"` is unintended?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78411727-ea56-aef5-4f04-b016c25afba9
* Version Independent ID: 8687b7bc-a

[2019-03-28 08:18] jakaruna-MSFT commented on #27834
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-03-28 08:18] #27834 closed

[2019-03-28 08:21] alionar commented on #27420
When i tried to read operation result, it just look like this process will never end. Even when i check `analysis` has `recognitionResults` key it was still looping until i interrupted it with keyboard.

[2019-03-28 08:46] ImrePyhvel opened #28204 "Example project does not compile (v2.3.0 vs v2.6.1 reference mixup)"
The linked example project linked in section #clone-the-sample-app does not compile because nuget downloads MongoDB.* 2.6.1, but csproj is out of sync and searches the dlls from v2.3.0 nuget folder, which does not exist.

See: https://stackoverflow.com/a/55393180/331325

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89

[2019-03-28 08:46] markkerins commented on #27638
Hi Dashleen,

I’d have thought this question would be relevant to the azure rest api’s rather than  powerbi.  Since the question is about why are some api calls which returns list treated as a POST call

Thanks
Mark

From: DashleenBhandari-MSFT <notifications@github.com>
Sent: Wednesday, 27 March 2019 10:45 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mark Kerins <mark.kerin

[2019-03-28 08:49] angoyal-msft commented on #28189
@pournejati Thanks for the valuable feedback.
@markjbrown Could you please elaborate on "When you set custom index paths, you're required to specify the default indexing rule for the entire item, denoted by the special path /*", as mentioned in the document.

As if we need provide the custom index paths where we want to add specific index path not all the paths. Then if we give default indexing ru

[2019-03-28 08:51] jamesapicken commented on #28115
Hi,

It was this one https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-architecture

It doesn’t say it’s generally available, but it doesn’t say it’s preview either and it’s a much more recent document (03/18/2019) whereas the FAQ document for migrating to managed disks is quite old (06/15/2017).

Thanks.

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Wednesday, M

[2019-03-28 09:06] dirkesquire opened #28205 "Add section: local settings"
Consider to add a short section to this page  briefly describe how to use settings for local debug.
I can see where to set them in Azure Portal for live deployment, but for local debug I can't seem to find out how to read them from local.settings.json (or if even that is the right approach) or if I should use Environment vars?

Tried dependency injection of IConfiguration and also I tried Environm

[2019-03-28 09:17] RohitMungi-MSFT commented on #28087
@wilsonchua20 Did importing the certificate help you in using the API from jdeveloper?

[2019-03-28 09:28] neeleshray commented on #28163
@BarbaraSelden

A **Gallery Application** is what has been listed in the [Azure Marketplace](https://azuremarketplace.microsoft.com/en-us/marketplace/apps).
The _Azure Marketplace_ is an online store that offers applications and services either built on or designed to integrate with Azure public cloud.

Hence, the term **Non-Gallery Application** are applications that is not listed/already integra

[2019-03-28 09:29] KetanChawda-MSFT commented on #28205
@dirkesquire Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-28 09:34] ptreptau commented on #28072
Same issue here with both web and desktop client

"We couldn't connect to the gateway because of an error. If this keeps happening ask your admin or tech support for help."

Gateway is: rgateway-r1.wvd.microsoft.com

[2019-03-28 09:35] ptreptau commented on #28072
Correction: rdgateway-r1.wvd.microsoft.com

[2019-03-28 09:36] DashleenBhandari-MSFT commented on #27835
@Tiberriver256 I am going ahead with the closure of this issue. In case you need any further help please feel free to re-open this issue.

[2019-03-28 09:36] #27835 closed

[2019-03-28 09:36] tomconte commented on #28124
@DixitArora-MSFT thanks for testing! I should have specified that I am using a Python function, and I am testing on a Mac. That said I just upgraded my `func` installation and it works now.

[2019-03-28 09:36] #28124 closed

[2019-03-28 09:38] ptreptau commented on #28072
Update: Problem resolved. Just a little patience helps for everything to finish provisioning.

[2019-03-28 09:43] angoyal-msft commented on #28204
@ImrePyhvel Thanks for your feedback. This is an issue in the csproj file. For which pull request has already been raised.
You can refer the pull request to check the ETA for this fix.

https://github.com/Azure-Samples/azure-cosmos-db-mongodb-dotnet-getting-started/pull/8

[2019-03-28 09:46] neeleshray commented on #28102
So saying that you have Forest 1 and Forest 2 in the sync, you should run `Update-AzureADSSOForest` only once for Forest 1 and only once for Forest 2. Do not run it again for the same forest.

[2019-03-28 09:47] neeleshray commented on #28107
We will be closing this issue now.
Let us know if you need further help.

[2019-03-28 09:47] #28107 closed

[2019-03-28 09:49] #28078 closed

[2019-03-28 09:52] PramodValavala-MSFT commented on #28067
@dapathy The first time, the condition isn't evaluated at all.

The `first-fast-retry` is for the second try of the policies inside the `retry` block. So, if the policies inside fail at first, the second try happens right away and the time interval is applied for the subsequent tries if necessary.

This is how its expected to work.

[2019-03-28 09:57] stoff75 commented on #28102
Thank you, that clarifies this a bit. // Kristoffer

[2019-03-28 09:57] #28102 closed

[2019-03-28 09:59] neeleshray commented on #28186
@stschulznz
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-28 09:59] cephalin commented on #28083
@stefsch per my comment above I'll close this. #please-close

[2019-03-28 10:01] PramodValavala-MSFT commented on #28172
@bhimjik This doc is actually for the `az` CLI and `bash`.

There is another [doc for PowerShell](https://docs.microsoft.com/en-us/azure/event-grid/custom-event-quickstart-powershell). Could you try the steps there?

[2019-03-28 10:11] SnehaAgrawal-MSFT commented on #27893
closing as duplicate #27892

[2019-03-28 10:11] #27893 closed

[2019-03-28 10:11] jakaruna-MSFT commented on #28105
@yuwzho I am able to reproduce the issue. When i add the username, Its not working But working with Object Id.

[2019-03-28 10:13] PsyhoLord commented on #28158
Also, you are losing clients with badly documented tutorials. Because this was the case, why my friend told me that ANH (Azure Notification Hub) is not working and he doesn't want to use it. I did not believe him and started to investigate. But in that time other people have feedback - that ANH - is bad.
I like how it works, so I will recommend it. But documentation will be good if it will be work

[2019-03-28 10:17] KetanChawda-MSFT commented on #28199
@v-maroge Thank you for posting your question! We will review and update as appropriate.

[2019-03-28 10:18] dbsanfte opened #28209 "Unclear as to whether SNI certificates are unsupported by Traffic Manager HTTPS health probes, or just not validated"
**Doc Link:**
https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-faqs#can-i-monitor-https-endpoints

**Doc GUID:**
4cafaeee-5b0a-7f50-7c71-a8c3abf4e881

**Issue:**
Documentation is unclear as to whether Traffic Manager HTTPS health probes can successfully probe a backend that serves up an SNI certificate or not.

I filed a StackOverflow question for this and got a reply that an

[2019-03-28 10:27] dirkesquire commented on #28205
I'm using Visual Studio Code (if that helps)

[2019-03-28 10:29] Leon99 commented on #27893
It's an issue for a different page, how's it a duplicate?

[2019-03-28 10:30] Leon99 commented on #27892
Also, it would be great if you could share a link to some kind of a roadmap so that we're aware when (if) it's going to be supported.

[2019-03-28 10:34] jakaruna-MSFT commented on #27904
@tiholm Sure.
That creates the crd's.
After deploying them you can execute the below command to make sure the crds are there.
[code]

[2019-03-28 10:35] neeleshray commented on #28186
@rkarlin
Could you look into this one ? As per RBAC, the role is Contributor.

[2019-03-28 10:38] Tiberriver256 commented on #27835
Hi Dashleen,

Sorry I missed it. So let's say I want to run a cli command to perform a minor maintenance task like flushing the cache or re-importing a config. How would I do this?

[2019-03-28 10:40] AshokPeddakotla-MSFT commented on #27984
@robinsh Please provide your suggestions on the same.

[2019-03-28 10:51] BhargaviAnnadevara-MSFT commented on #28209
@dbsanfte Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-28 11:00] bertrandpons commented on #28031
@MartinJaffer-MSFT thank you for the tips !

[2019-03-28 11:02] diab-mossa opened #28210 "The Service Fabric Runtime (.cab file) considered as a virus!"
I downloaded the Service Fabric Runtime, however the Windows Defender on my Windows 10 has considered it as a virus, and cannot be restored!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c443738-ea8f-18cf-5a2b-d3afb1a0d672
* Version Independent ID: e28d20f9-c34c-05b4-722e-ed74ae4371f9
* Content: [Create a standalone

[2019-03-28 11:03] tiholm commented on #27904
Finally got it working. Guestbook sample application deployed (https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/tutorial.md) returns now valid html form to browser as it should be. So, now application gateway works as Kubernetes ingress and gets response from application pod running inside cluster, in backend-subnet.

What was missing from original instruction (http

[2019-03-28 11:05] harouny opened #28211 "More information related to calling StartNewAsync while passing InstanceId"
Its not exactly obvious the behavior of StartNewAsync when passing InstanceId while an existing orchestration with the same id already exists.

I was assuming the behavior might be just doing nothing since an orchestration with the same id already exists but seems like its doing some sort of restart (even if an instance is already in running state)

I can contribute to documentation once someone e

[2019-03-28 11:08] andyofengland opened #28212 "Change Log of /GitHub for the template"
Hi,

The blueprint seems to be good - although there are errors when deploying it if the configuration is changed a little (such as constraining it to specific regions and constraining the storage account types).  That's by the by for now.

Is the blueprint available on GitHub at all?  I have taken the blueprint as a foundation for my "data centre in a box" template but, I have no way of seeing if

[2019-03-28 11:12] Sat0rN opened #28213 "Modified schedulded time of existing SQL backup policy is not being applied"
I've noticed that it is now possible to modify an existing SQL backup policy, during preview editting wasn't possible.
Issue: after updating the "Backup Frequency" timeslot, the backup's are still running at the old scheduled time as well as the new configured timestamp

Result: Unhealthy database backups. Error message being displayed at the "Backup Items (SQL in Azure VM)" windows: Operation can

[2019-03-28 11:16] SadiqhAhmed-MSFT commented on #28213
@Sat0rN Thanks for bringing this to our attention! We will have this reviewed/investigated by the content owner and get back to you soon.

[2019-03-28 11:17] Deepudev13 opened #28214 "HUB cannot be verified by "--license-type" property or HUB is not being applied"
I have create a new Azure Windows 2016 DC VM with Microsoft Hybrid-use-Benefit.
But when I am confirming the HUB as given in article through PowerShell or CLI, License-type Property still showing "Windows_Server" rather than empty space as depicted.
![LicenseType](https://user-images.githubusercontent.com/13680739/55153661-01869280-5179-11e9-852a-a7f1c43d339a.png)
Is there any way to confirm this

[2019-03-28 11:19] jtuliani opened #28215 "Reservations and Marketplace offerings?"
Suppose I purchase a 3rd party network appliance from the Azure Marketplace. Can I use a reserved instance to discount the base compute portion of the network appliance cost? It would be good if the doc covered this scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43852e1b-711e-98e6-7f3e-e98578cad660
* Version

[2019-03-28 11:19] SadiqhAhmed-MSFT commented on #28203
@MarkusH Thanks for bringing this to our attention! We will have this reviewed/investigated by the content owner and get back to you soon.

[2019-03-28 11:23] SadiqhAhmed-MSFT commented on #27897
@lixuanzhu We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-28 11:23] #27897 closed

[2019-03-28 11:26] PsyhoLord commented on #28158
One more:
4)
MainActivity.cs, method: OnCreate after line:
IsPlayServicesAvailable();

Add:
CreateNotificationChannel();

Add method in MainActivity.cs:
void CreateNotificationChannel()
        {
            if (Build.VERSION.SdkInt < BuildVersionCodes.O)
            {
                // Notification channels are new in API 26 (and not a part of the
                // support library). There is no

[2019-03-28 11:31] PsyhoLord commented on #28046
Thanks, added all missing info in next request: Maybe missing information
This can be closed for now

[2019-03-28 11:34] delormej opened #28216 "Using Azure DevOps to deploy AKS?"
This "DevOps" section is not consistent.  You provide instructions for how to deploy an AKS cluster using Ansible, but you do not provide the equivalent for Azure DevOps.  It would be helpful to have; "How to deploy AKS itself using these tools {Ansible, Jenkins, Azure DevOps} and a seperate section on how to deploy APPS to AKS using the same tools.  Thank you.

---
#### Document Details

⚠ *Do no

[2019-03-28 11:35] santoshmallena opened #28217 "Azure Product Page - Not Updated"
Dear Team, I noticed that in Azure product page there is service azure disk storage and managed disk so both are same right, Is there any differences between those? Could you please make it any one of those new people may confuse.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfaec879-f3e0-afba-fbe8-85e6e2893

[2019-03-28 11:43] brynhr opened #28218 "Baseball"
Very America-centric analogy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3fb7da-5483-160d-1781-d4abff9d798d
* Version Independent ID: d5e51b7e-7f34-c7df-ce4f-ee4bf5c8059a
* Content: [Consistency levels in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels#feedback)
* Content Sour

[2019-03-28 11:45] shashishailaj commented on #27780
@jmprieur Could you please look into this issue ?

[2019-03-28 11:49] artisticcheese opened #28219 "Please add document about how to use it with VS Code"
Hello,

Bearing in mind this is targeted for .NET core please add information how to add Application Insights to project manually if people are using VS code and not VS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b88d8c4-0013-70aa-7997-a2203afd9743
* Version Independent ID: 0ab99d5e-4ebd-8cb9-3d27-efe58def249f
* Co

[2019-03-28 11:50] HUBBER12 opened #28220 "Allow Annonymous API Call + Force Users to log in AD"
[https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad)

I have been using Mobile Apps for a whle now... but am running into a scenerio where i need timer/trigger functionality to make an API call say every 10 min.

Azure Functions making the API call to my App Services - Mo

[2019-03-28 11:51] sochan1 commented on #27933
can I use two VPN GWs , let's say ErGw2AZ & ErGw1AZ  - for one express route circuit - so as to achieve zone resiliency??  if my VPN GW sitting in zone1 fails due to zone level failures, I'm still running on the other VPN from zone 2... is this possible with zone redundant VPN GWs?

[2019-03-28 11:59] atomek1000 commented on #28079
Are temporal tables supported?

[2019-03-28 12:02] Arash-Sabet commented on #28140
@DixitArora-MSFT The point is that the document should be self-contained and thorough enough to help the reader understand the existese of the basic dynamics. Basics cannot be deferred to other web pages, articles, or git repositories found somewhere remote on the web.

The problem that I brought up has a solution per the following sample that needs to be incorporated within "local.settings.json"

[2019-03-28 12:10] msrini-MSFT commented on #27933
@sochan1 , you can deploy one VPN gateway and define which zone the instances needs to reside in Zonal gateways and in Zone redundant gateway, azure will manages to put instances in different zones.

Yes, by doing what is mentioned above, you can achieve Zonal resiliency.

[2019-03-28 12:20] Oran2009 commented on #28190
@jakaruna-MSFT It's not connected to a domain. I left it blank and it says that it cannot be authenticated

[2019-03-28 12:24] choco-oppah commented on #26161
Korea Central is still missing. Thanks!

[2019-03-28 12:24] pvrk commented on #26718
Thanks for bringing this up. We have started investigating.

[2019-03-28 12:45] fpoe commented on #28034
Submitted! The decision to do so doesn't make sense and limits choices for using SQL DBaaS. We have significant projects in flight and it's disappointing that we cannot leverage this service.

[2019-03-28 12:45] #28034 closed

[2019-03-28 12:45] AronT-TLV commented on #27881
This should be added to the doco as well! Thanks for the help

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: mtonazzi <notifications@github.com>
Sent: Wednesday, March 27, 2019 09:22
To: MicrosoftDocs/azure-docs
Cc: Aron T; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Deployments fail with “bad user name” error (#27881)

@Diwiton<https://github.com/Diwiton>,

[2019-03-28 12:47] BhargaviAnnadevara-MSFT commented on #28214
@Deepudev13 Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-03-28 12:47] jakaruna-MSFT commented on #28217
@santoshmallena Are you mentioning about the `Disk Storage` and `Managed Disks` services in this [Product page](https://azure.microsoft.com/en-us/services/#storage)?
I see that both the services are pointing to the same link.

[2019-03-28 12:51] sique976 commented on #27936
Thank you for your feedback KetanChawda-MSFT. What happens is that I have made this tutorial so many times that I can´t really figure out what´s going wrong. What I can say is that everything's going fine until the carousel time or maybe until the function time.
________________________________
De: KetanChawda-MSFT <notifications@github.com>
Enviado: quinta-feira, 28 de março de 2019 01:48
Para: M

[2019-03-28 12:52] BhargaviAnnadevara-MSFT commented on #28220
@HUBBER12 Thanks for the question! We're investigating this and will get back to you shortly.

[2019-03-28 13:03] jwargo commented on #28158
@PsyhoLord The comments feature of our documentation is intended to enable customers to suggest changes to the docs or ask clarifying questions about the docs. I'm happy to help you resolve issues with the docs, but please refrain from disparaging the product - it's not constructive.

Developers use the service to send billions of notifications per month, so if your friend or you have a problem ge

[2019-03-28 13:03] jwargo commented on #28158
@spelluru can you please take a look at this?

[2019-03-28 13:06] jwargo commented on #8536
@ernestochaves why the frown? The question has been answered and the issue is very old. Do you need any additional information?

[2019-03-28 13:08] PsyhoLord commented on #28158
Sorry, have missed repo URL: https://github.com/PsyhoLord/AzureNotificationHub
This is a full working sample with Commit named: "Fixed Azure Hub notifications" is what is missed in the current documentation

[2019-03-28 13:12] PsyhoLord commented on #28158
Also, there is documentation about with report this documentation. I have implemented step-by-step everything from this document and notifications were still not working. All screens are included.
Also, sometime before there was a sample project, for now, there is no sample in C#. I have created a sample, working and tested at different devices with different versions of Android.
My report: https:

[2019-03-28 13:13] jwargo commented on #8899
@armstrong-charles if you have a question about how to use the service, then use the support options available through the portal. If you have a clarification question about the docs, please start a new thread as this one is very old and unrelated to your questions. #please-close.

[2019-03-28 13:14] Jnchi commented on #27943
I added those permissions, but the scope still isn't being updated.

I tried that with the device code grant type but it didn't like it.

[2019-03-28 13:15] BhargaviAnnadevara-MSFT commented on #28216
@delormej Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-28 13:16] KetanChawda-MSFT commented on #27936
@sique976 What error are you getting while following this tutorial? The details are required to help you as I am not really sure what's the issue you are facing. I have tried the exact steps mentioned in [Part1](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-upload-process-images) and [Part2 ](https://docs.microsoft.com/en-us/azure/event-grid/resize-images-on-storage-blob-upload-even

[2019-03-28 13:16] PsyhoLord commented on #28158
EDIT:
Missed things:

    AndroidManifest.xml
    Before <application android....
    Need to insert permissions:

 <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.GET_ACCOUNTS"/>

[2019-03-28 13:16] ernestochaves commented on #8536
I guess because my question  and @dramos1138's look unanswered. Maybe its in the docs right now so don't worry about me. I've pretty much abandoned or paused all my xamarin development. Thanks

[2019-03-28 13:17] PsyhoLord commented on #28158
[<] uses-permission android:name="android.permission.INTERNET" />
[<] uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
[<] uses-permission android:name="android.permission.WAKE_LOCK" />
[<]uses-permission android:name="android.permission.GET_ACCOUNTS"/>

[2019-03-28 13:18] PsyhoLord commented on #28158
[<] -> need to changed to <
When I just send without [] - it deletes my text

[2019-03-28 13:19] jwargo commented on #28046
@PsyhoLord Can you please help me understand what your issue is with the readme in the samples repo?  We moved the .NET sample to the .NET SDK so all the related code is in the same place. The readme contains a link to the sample in its new location so you can quickly link to it. What else should we have done to make this clear?

[2019-03-28 13:19] sique976 commented on #27936
Thank you Mr. Chawda!

[2019-03-28 13:19] #27936 closed

[2019-03-28 13:20] PsyhoLord commented on #28158
Final article

Finally, I found an issue, after 2 days of the investigation.
I made a repository of 2 solutions:

    Fcm.Xamarin.Android - Firebase notifications for Xamarin Android
    Xamarin.Android - Azure Notifications Hub for Xamarin Android
    Xamarin.Android.Summary.docx - my report about this documentation
https://github.com/PsyhoLord/AzureNotificationHub/blob/master/Xamarin.Android.Sum

[2019-03-28 13:20] volta82 opened #28223 "file doesn't exist in the project"
in section 4.2 this file " appsettings.json" doesn't exist in the project

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3efb0913-3c25-caf7-306b-c1ddd78439fe
* Version Independent ID: b262e742-c371-ffb9-108b-67f2f5bbc297
* Content: [User migration approaches in Azure Active Directory B2C](https://docs.microsoft.com/en-

[2019-03-28 13:24] PsyhoLord commented on #28158
Sorry, I am not refraining the product, maybe it's just looked like, but this wasn't my target. I like Microsoft product very well, that was the reason to find out why the clean project, step by step is not working. I believed, that Azure Notification Hub cannot be working - it is impossible. I just want to help to make documentation more clear that customers be happier.

[2019-03-28 13:27] ganniaiuei opened #28225 "Time Series Insights Sample App source code"
Is The source code for the sample app available? If yes it would be nice to share it in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691ee7f7-6ffa-1f2e-bc90-abaae2d6faec
* Version Independent ID: f8a60b14-3a2c-9e16-77a9-365c50e0ca03
* Content: [Tutorial: Explore the Azure Time Series Insights JavaScript cli

[2019-03-28 13:28] KetanChawda-MSFT commented on #28211
@harouny Thank you for posting your question! We will review and update as appropriate.

@cgillum can you help here?

[2019-03-28 13:28] jwargo commented on #28158
@PsyhoLord thanks for your feedback, we'll take a look at what you provided and make the necessary updates to the samples and the docs.

[2019-03-28 13:31] jwargo commented on #28158
@PsyhoLord there's a bevy of .NET Samples at https://github.com/Azure/azure-notificationhubs-dotnet/tree/master/Samples.

[2019-03-28 13:34] jwargo commented on #8536
@ernestochaves sorry about that - to your question, yes, it's in the nuget, we just published an update to it within the last few weeks or so. @dramos1138 question was in June of last year, so I'm assuming he's moved on as well - that's why I closed it. If you try out the latest (https://github.com/Azure/azure-notificationhubs-dotnet) and still have issues, open a new issue. Right now, almost a wh

[2019-03-28 13:35] SadiqhAhmed-MSFT commented on #28215
@jtuliani Thanks for the comment! We've assigned this issue to the content owner for further review and update as appropriate.

[2019-03-28 13:36] alex-zyl commented on #27914
@VitaliyKurokhtin
Is 'caching-type' attribute fully supported by Azure Portal? I'm able to save policy settings, but when policy editor reloads 'caching-type' setting is gone

[2019-03-28 13:48] bonksnp commented on #27954
Thank you for the response @MarkusVi  .  That got me to the rest of the information I needed.

I still feel that a small table/note in the article explaining more detail would be helpful:

- Office 2016 - Modern Authentication on by default

- Office 2013 - Modern Authentication can be enabled [with a registry key update](https://docs.microsoft.com/en-us/office365/admin/security-and-compliance/ena

[2019-03-28 13:56] msrini-MSFT commented on #28045
@OffColour , Thank you for bring this up. V1 SKU doesn't use Nginx and it is based out of IIS & ARR. Your feedback has been shared with the Product Group. Once the product is GA, we will get the documentation updated accordingly.

[2019-03-28 14:00] PsyhoLord commented on #28158
I have prepared document in MS Word, with better formatting about all missings that I have found in documentation (all that I have done to make project working and getting notifications)
OneDrive: https://1drv.ms/w/s!AoT9U2Pa3zHNhNtgQ0Pj1zBxecfzpA
Git: https://github.com/PsyhoLord/AzureNotificationHub/blob/master/MissingInformation.docx

[2019-03-28 14:01] PsyhoLord commented on #28158
If it is not clear or needs more details or testing, You are welcome to ask me. Have a good day

[2019-03-28 14:02] DCtheGeek commented on #28212
@andyofengland Thanks for the feedback!
- If you are seeing issues when deploying the blueprint samples with different accepted parameters, please let us know or open a ticket.  The team is very interested and wants to fix those issues.
- The blueprint sample source isn't available today, but the team has discussed this. As this isn't a doc issue, it's a good ask for the [Governance UserVoice](htt

[2019-03-28 14:05] PsyhoLord commented on #28158
@jwargo Thanks, that's great samples. Can you put them to the sector "Overview" at "NotificationHubs app" link as a sample? Will be great.

[2019-03-28 14:09] slynickel opened #28227 "Clarification on Encryption"
Could you clarify the type of encryption in this document? For example in the [Azure storage encryption](https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption) document has the following line.

I'm assuming it's also AES 256 but it would be nice to be able to quote it from the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-03-28 14:11] Alberto-Vega-MSFT commented on #28225
Hi @ganniaiuei You might want to follow the next document https://docs.microsoft.com/en-us/azure/time-series-insights/tutorial-create-tsi-sample-spa it has links to samples hosted in this repo https://github.com/Microsoft/tsiclient/tree/tutorial/pages/tutorial

[2019-03-28 14:11] DMoonesinghe commented on #28056
Thank you for the answer Marilee.  But none of your documentation explains that.  It would be nice if folks at Microsoft Documentation update the following docs.
https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-user-risk-policy
https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/howto-sign-in-risk-policy

Or at least put a link to them that

[2019-03-28 14:13] #28212 closed

[2019-03-28 14:16] OffColour commented on #28045
@msrini-MSFT Thanks for that. I don't know about anyone else, but this would be a breaking change for us and would require significant rework to allow us to move to V2.
It would be useful to list it in the known issues on this page though.

[2019-03-28 14:20] ganniaiuei commented on #28225
Hi @Alberto-Vega-MSFT thank you for your fast feedback. Yes, that's definitely what I was asking for. Could I suggest adding those links in the doc here (https://docs.microsoft.com/en-us/azure/time-series-insights/tutorial-explore-js-client-lib#time-series-insights-sample-application)?

[2019-03-28 14:21] bertrandpons opened #28228 "ARM Template - Improvement - customSetupScriptProperties"
Hello,

In ARM Template generated by ADF for deployment from Azure DevOps, would it be possible to add the parameter <INTEGRATION_RUNTIME_NAME>_properties_typeProperties_ssisProperties_customSetupScriptProperties_**blobContainerUri**,

in the same way there is

<INTEGRATION_RUNTIME_NAME>_properties_typeProperties_ssisProperties_customSetupScriptProperties_**sasToken**

Thank you !

---
#### Docume

[2019-03-28 14:22] BhargaviAnnadevara-MSFT commented on #28228
@bertrandpons Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2019-03-28 14:26] arvindrajachourasiya opened #28229 "Why we are using Azure mobile application"
What is the use of azure with mobile application?  I am confused.

What I know is using azure for saving data(like database) say If I create "students" azure would save it. like this we can do insert update, delete. so on..
I have few doubts:

1) If azure storing data, how it come to know entities, database
2) Is azure has responsibility with web and mobile
3) Is it saving data in local or remote

[2019-03-28 14:31] bertrandpons commented on #28228
@BhargaviAnnadevara-MSFT thank your for your reply. I follow this doc : https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment but my question is not really based on it, it is more about improvement for my Azure DevOps pipeline.

[2019-03-28 14:32] maksimize commented on #28137
I think that would do, but I would have been easier if you'd ingrate with something https://github.com/jetstack/cert-manager or so

Thanks for your answer, was really quick and useful.

[2019-03-28 14:43] acuvabi commented on #27658
The error is in the documentation as the OData queries are incorrect.
Original text --->    gt datetime'@{body('Get_past_time')}'
Corrected text --->    Timestamp gt datetime'@{body('Get_past_time')

**Recommended addition to document**. To be added after "Filter Query".

- Select Query - You can pick the desired fields from the Marketing Leads Azure table that you would like. In the 'Select Query

[2019-03-28 14:58] ramadarla opened #28231 "app / crash consistent backups for Azure SQL Vms"
app / crash consistent backups are recommended for SQL server VM Running on Azure to recovery purpose rather than using SQL backups?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee1b5526-edb7-fa2f-a6f4-de75c5fd39a3
* Version Independent ID: d1815c07-d020-8d86-75cf-a193e32bba03
* Content: [Common questions: Azure-to-A

[2019-03-28 15:07] shashishailaj commented on #27852
Thank you for confirming this . I tried in the lab and the command worked hence I was trying to generate the same error and could not . We will close this issue now.

[2019-03-28 15:07] #27852 closed

[2019-03-28 15:10] BhargaviAnnadevara-MSFT commented on #28228
@bertrandpons Thanks for the response! This information is only to help me route your question to the right Team so they can investigate further and update.

Also, on a side note, I'd like to let you know that this channel is only for driving improvements related to the Azure documentation. The best place for specific answers about implementations are going to be the [MSDN](https://social.msdn.mic

[2019-03-28 15:11] ckarras commented on #20288
@artemuwka I downloaded the latest preview version (10.0.8) and tried this command:

azcopy.exe cp "http://storageaccountname.blob.core.windows.net/containername/blobname?sastoken" c:\localpath.vhd

When I came back to my computer this morning, I see the command has "completed" but there is no indication if it succeeded or failed. Instead, it shows several pages of debug logs and stack traces, for

[2019-03-28 15:17] bertrandpons commented on #28228
@BhargaviAnnadevara-MSFT Ok thank you I will post to these forums.

[2019-03-28 15:18] Martony78 opened #28233 "14 days grace period clarification"
When does the 14 days grace period starts? Does the countdown start when IT admins add the user to the MFA Registration policy or does it starts when the user tries to login to Azure AD for the first time after being added the MFA Registration policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd7b2b46-7995-65aa-4c

[2019-03-28 15:20] BhargaviAnnadevara-MSFT commented on #28228
@bertrandpons Sure, thank you! We are now going to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation!

[2019-03-28 15:20] #28228 closed

[2019-03-28 15:22] duk3ofed opened #28234 "Information is unclear between this article and that of official K8s documentation. Please clarify."
Hi there,

I'm having some trouble concluding whether an Azure Disk is available to a single "node", or a single "pod", within an AKS cluster.

Please could you clarify which is true, since I'd like to mount a persistent 'shared' volume across multiple pods within a single node, and the available documentation contains some conflicting information.

Whereas this particular document states "An Azur

[2019-03-28 15:24] milazzom opened #28235 "Diagram on this page is hard to read with the dark theme."
The diagram appears to have a transparent background, while the blocks and text are black.  Dark black on lighter black can be difficult to read.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ded0d4cd-5b54-69ab-75fd-027b7c9ce424
* Version Independent ID: 1f5aa92e-050a-74b9-7c77-a527e32ab7c4
* Content: [C# IoT Edge mod

[2019-03-28 15:26] Mike-Ubezzi-MSFT commented on #22918
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-28 15:26] #22918 closed

[2019-03-28 15:26] tiholm commented on #27904
And to continue after investigating this more deeply. Documentation should also state about Application Gateways generated configs:
- expected backend pools
- expected https settings
- expected frontend ip configurations
- expected listeners
- expected rules

It seems that some steps mentioned before in my actions generates those, but I have no valid idea of what did that and how should I manage t

[2019-03-28 15:27] jeffhebrank opened #28236 "POST /sync Missing documentation"
I assume the /sync function is going to require some JSON in the body of the POST. Why isn't this documented in this article? Does the JSON match the synchronize command documented here https://docs.microsoft.com/en-us/bi-reference/tmsl/synchronize-command-tmsl ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f706b7d-

[2019-03-28 15:28] HGill03 opened #28237 "User Experience - "Not an Issue""
Hello, I did this module today. I have to say this is one of the cleanest docs I have read on MS docs site.
I was able to get basic Terraform environment up and running in an hour.
Great work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78bafe84-4e50-785c-b4f6-e629127a80a9
* Version Independent ID: 34e5924e-2d7e-3bf

[2019-03-28 15:29] LMtx opened #28238 "Data encryption for Blob Storage at IoT Edge"
Hello,

Is data stored in Blob Storage at IoT Edge encrypted/secured at rest? I am asking in context of edge device being physically accessible and compromised - will attacker be able to access data stored in Blob on device?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07a44a28-a19c-f68e-167c-5e8ad91605e0
* Version I

[2019-03-28 15:33] msrini-MSFT commented on #28237
@HGill03 , Thank you for sharing your positive experience.

@echuvyrov , Great work on this documentation.

[2019-03-28 15:33] #28237 closed

[2019-03-28 15:36] shashishailaj commented on #28233
@Martony78 Thank you for your feedback . We will have this query investigated and update this thread.

[2019-03-28 15:37] shashishailaj commented on #28223
@volta82 Thank you for pointing that out . We will have this reviewed and update accordingly.

[2019-03-28 15:41] Karishma-Tiwari-MSFT commented on #28234
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-28 15:41] Karishma-Tiwari-MSFT commented on #28210
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-28 15:44] alex-frankel commented on #28212
Hi @andyofengland - as a workaround, you can add this sample blueprint to your tenant by walking through the create process, then you can export the blueprint using the [Manage-AzureRMBlueprint](https://github.com/Azure/azure-blueprints) script

[2019-03-28 15:47] daveba commented on #22700
This is a known issue.  It is an intermittent error.  You'll may or may not receive the error message, but as @johndowns states, the operation does succeed.  I'll add this to the backlog and we'll update the doc accordingly with messaging. #please-close

[2019-03-28 15:54] karyjac opened #28239 "This guide should not be followed to move subscriptions containing Azure Kubernetes Services Clusters."
Azure Kubernetes Service Clusters use Service Principals, upon moving the subscription to another Active directory it will cause the Service principal to break without repair hence breaking the cluster.

Moving AKS clusters it's not supported:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources#services-that-cannot-be-moved

This should be noted in the artic

[2019-03-28 15:56] BhargaviAnnadevara-MSFT commented on #28239
@karyjac Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-28 15:57] ShaunInIdaho opened #28240 "PowerShell - TimeStampField Not Passed to Function"
The PowerShell example states that you can define the timestamp field, however, as written it does not work that way.

The $TimeStampField value needs to be passed as a param into the Publish-LogAnalyticsData function.  It should work after that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b

[2019-03-28 15:57] msangapu commented on #27601
Thanks @sybrenstuvel. That is good feedback. We plan to update this article including some of the details you mentioned.

@please-close

[2019-03-28 15:58] roryap commented on #21892
Hi @wolfma61 thanks for your reply.

I'm using Windows 7 Pro x64 SP1.  The "README.md" says the latest version is 1.3.1, but the "CHANGELOG.md" says "The samples in this repository are working against version 1.0.0 of the SDK.", so I don't know.

The region I'm using is "westus", and yes it's the net core console app:

\cognitive-services-speech-sdk-master\cognitive-services-speech-sdk-master\samp

[2019-03-28 16:03] spelluru commented on #28158
@PsyhoLord - Thanks very much for the feedback and the sample code. Do you still get the following message when you Test Send a message from the Azure portal? Thanks

"Message was successfully sent, but there were no matching targets."

[2019-03-28 16:11] bandersmsft commented on #28215
#in-process

[2019-03-28 16:14] mumian commented on #28180
@kye Thanks for your comment.  I have started updating the images with an artist.  It can take a few days to complete.

[2019-03-28 16:14] celery6131 opened #28242 "Accessing custom engine"
I'm using the Python code on "Quickstart: Use the Translator Text API to translate a string using Python" to translate, but is there documentation showing how to modify this code to access a custom MT system rather than the baseline generic system?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69823924-7def-6548-4f85-

[2019-03-28 16:18] MicahMcKittrick-MSFT commented on #28106
@TietoaPetter
thanks for reaching out and closing out the issue. If you are still having issues just let us know or open a new issue.

[2019-03-28 16:19] taaronMSFT commented on #28136
If you are looking to unsubscribe from the Remote Desktop application you can click the ... next to the feed name and there you have an Unsubscribe option.

[2019-03-28 16:30] MicahMcKittrick-MSFT commented on #28148
@ryanhartje thanks for reaching out and closing once you found the answer :)

[2019-03-28 16:33] mattfortech commented on #28149
Hello  @YutongTie-MSFT , @PatrickFarley and @anrothMSFT ,
Does anyone know another way to flag an iteration as Default, if not through the Custom Vision portal?
Or, can there be a way to fully qualify the API link so a default status isn't required?
Any help would be greatly appreciated.

[2019-03-28 16:33] MicahMcKittrick-MSFT commented on #28072
Thanks for the update @ptreptau glad to hear it is working now.

For others who might still be having this issue, please open an issue here:

https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/bd-p/WindowsVirtualDesktop

We have the product team members monitoring this forum. At this time the doc appears to work after testing it so it might be something specific to your environment. Po

[2019-03-28 16:34] dapathy commented on #28067
Thank you for the clarification.

[2019-03-28 16:34] #28067 closed

[2019-03-28 16:34] #28137 closed

[2019-03-28 16:35] femsulu commented on #27695
@JasperCodes We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-28 16:35] #27695 closed

[2019-03-28 16:35] sybrenstuvel commented on #27604
@BryanTrach-MSFT mentioning you as requested.

[2019-03-28 16:35] tulasim88 commented on #28154
@YutongTie-MSFT we do have a tracking item for this. We plan to do this in May. We have some dependencies right now, but we are tracking this.

[2019-03-28 16:37] KingdomOfEnds opened #28243 "Deployment"
Hi! Great walkthrough! Ran into an issue while deploying the C# code sample. I've attempted this twice now (from scratch) and received the same terminal message:

[code]
I've tried this with the dotnet 2.2 core sdk and the runtime.

Can you clarify what the issue is or help point me in the right direction? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-03-28 16:40] tannersatch commented on #28072
Any updates on this? I'm having the same issue.
* VM joined the domain
* VM Deployed
* Getting `Your computer can't connect to Remote Desktop Gateway server` when trying to connect from web client, as well as from desktop client.

[2019-03-28 16:40] MarcinJuraszek commented on #28171
Python:

![image](https://user-images.githubusercontent.com/6841973/55175932-75a34500-513d-11e9-9e4b-15c5877e706d.png)

Azure Functions Core Tools:

[code]

[2019-03-28 16:45] mattchandleruk commented on #27773
Having issues with the DSC failure. Copied the instructions on setting up the tenant in sections 1 and 4 but still having issues. Also seeing this when attempting to create the Host Pool via Powershell: New-RdsHostPool : User is not authorized to query the management service.

I am using a test Pay as you go subscription. Can anyone help point me in the right direction as to why I cannot create th

[2019-03-28 16:45] ChristianMontoya commented on #27799
@tiktb8 : Thanks for providing the feedback! Currently we are generating some Troubleshooting content, and I don't think we've hit this case as much so glad you pointed it out. If it shows as unavailable, try 1 of 2 things:
- Check to make sure the VM is powered on.
- Check to see if you used the same prefix when trying to create a host pool previously. If the exact same VM name already registered

[2019-03-28 16:45] MicahMcKittrick-MSFT commented on #28175
@sam90909 I ran through the template in the doc but did not see any issues deploying

![image](https://user-images.githubusercontent.com/32313503/55176335-2e698400-513e-11e9-9869-53d4a3b963d0.png)

[code]

[code]

What is the error you are getting?

[2019-03-28 16:47] ChristianMontoya commented on #28093
@mmaraa : Thanks for the feedback. For your deployment to work, was it as simple as just switching the order you did things? Did you notice anything else that you had to change?

[2019-03-28 16:47] logankp opened #28245 "Stub domains sample is missing server key"
The sample yaml for Stub Domains should look as follows:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f95537e-770a-739c-0175-4447a995f8b2
* Version Independent ID: 6c9a1132-05af-70f1-5a2b-8dad56de9cc3
* Content: [Customize CoreDNS for Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/

[2019-03-28 16:49] cynthn commented on #28190
Use "localhost" for the domain name and see if that works. I usually tell folks to use localhost\username when connecting over RDP from Windows.

[2019-03-28 16:49] shashishailaj commented on #27828
Yes you can do that using the cmdlet [New-AzureADapplication](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadapplication?view=azureadps-2.0) . Please check the reference linked to the cmdlet .

![image](https://user-images.githubusercontent.com/532022/55176321-efbbe400-51a6-11e9-9f28-e190c8ceb5b0.png)

Also you can check the following stack overflow link for creating an [app

[2019-03-28 16:49] #27828 closed

[2019-03-28 16:50] mamccrea commented on #28007
@joshua-j-morley  Thank you very much for this feedback! Uploading samples in multiple languages is not something we can change immediately, but we can consider it as we develop and maintain tutorials. In the meantime, please take a look at [Introduction to DataFrames - Python](https://docs.azuredatabricks.net/spark/latest/dataframes-datasets/introduction-to-dataframes-python.html).

[2019-03-28 16:50] Hassan0101 commented on #12900
Hi,
was following the tutorial and literally just hit the same error.
![image](https://user-images.githubusercontent.com/49037703/55176473-16fbbc80-5179-11e9-9251-7db10b04664b.png)
Couldn't get the powershell script to run at the start due to restricions in provisioning resources in our environment, so manually created them, manually created the storage accounts and blobs/containers. Used storage

[2019-03-28 16:51] ChristianMontoya commented on #28114
@colinrubbert , @Digiroka : Thanks for the feedback on being in both Desktop and RemoteApp. One of the reasons this may have existed in 2012 but changed after (for sure by 2016) is for a consistency of experience such that users do not land on multiple desktops or do not receive multipl sessions on the same desktop. We have received similar feedback and requests, but do not have anything concrete

[2019-03-28 16:51] msrini-MSFT commented on #27380
@cherylmc , Any update on this issue?

[2019-03-28 16:53] cgillum commented on #28211
@harouny you are right - it looks like we did not explain this in the official docs. There is a bit more detail in the API documentation [here](https://azure.github.io/azure-functions-durable-extension/api/Microsoft.Azure.WebJobs.DurableOrchestrationClient.html#Microsoft_Azure_WebJobs_DurableOrchestrationClient_StartNewAsync_). Basically, if another orchestration with the same ID already exists, i

[2019-03-28 16:56] ChristianMontoya commented on #28157
@colinrubbert : Your observation and steps are correct, and we do support Azure Active Directory Domain Services. In this article as is, the intention of it was to be flexible enough to account for either scenario (Azure Active Directory Domain Services, or virtual network peering, or Active Directory on VMs). Is the suggestion to have a more discreet call out for Azure Active Directory Domain Ser

[2019-03-28 16:57] KalyanChanumolu-MSFT commented on #26228
@marxxxx Could you please open a new issue for this.
Also, please provide the structure for TelemetryTableEntity.

[2019-03-28 16:58] erjadi commented on #27984
@saikovvuri The 10MB is not traffic that impacts IoT Hub, as the first sentence of the paragraph indicates : File transfer to Azure Storage is not metered by IoT Hub.

IoT Hub only handles (and counts) the File Upload control messages, and according this documentation there are 2 per upload. The rest of the traffic is handles by the associated Azure Storage account and will be billed accordingly.

[2019-03-28 16:59] PatrickFarley commented on #28051
@YutongTie-MSFT , This is not a doc bug and should not have been assigned to me. @anrothMSFT has logged this as product feedback.
#please-close

[2019-03-28 16:59] spelluru commented on #28158
@PsyhoLord - I have done the steps in the tutorial myself. I could run the application but I didn't see the notification messages on the Galaxy Nexus emulator. I have made changes you noted in the word document and I see the notification now. Here is what I am planning to do:

1. Update the tutorial article on DOCS.
2. Submit a PR with the updated code to the .NET samples repository here: https://

[2019-03-28 17:00] Adam-Smith-MSFT commented on #28061
@stanupab thanks for your question, Azcopy doesn't provide permission management capabilities, this is the full in depth documentation: https://github.com/Azure/azure-storage-azcopy
it's mainly meant to move/copy data etc... Does this answer your question ?

Thanks,
Adam

[2019-03-28 17:00] kobulloc-MSFT commented on #28219
@artisticcheese Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-03-28 17:01] spelluru commented on #28046
#please-close

https://github.com/MicrosoftDocs/azure-docs/issues/28158 is about the same issue. We are working on it. Thanks.

[2019-03-28 17:01] #27747 closed

[2019-03-28 17:03] CeciAc opened #28246 "Wrong Example Snippet in the "Restrict caller IPs" section"
Hi team,
ZenHub is not working, so I'm manually copying this issue from this one: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/269
The user is reporting an error in the example code:

---

@WenzelS commented:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248a0753-0fa7-1cc0-d13a-d378ab182e95
* Versio

[2019-03-28 17:05] Heidilohr commented on #28072
@tannersatch Hi, Tanner. I'm getting in touch with the dev team to see if they can answer this question.

[2019-03-28 17:05] CarlRabeler commented on #28079
yes

From: Karol <notifications@github.com>
Sent: Thursday, March 28, 2019 5:00 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Unsupported: Change Tracking or Change Data Capture? (#28079)

Are temporal tables supported?

—
You are receiving this because you we

[2019-03-28 17:06] PsyhoLord commented on #28158
With my fix, it works too.
Thanks for attention, glad for good feedback.
It will be great if it will be helpful and working.
I still like Microsoft's products, and like when they get better.
Have a good day, and thank you

[2019-03-28 17:08] anirudhcavale commented on #28203
@MarkusH thanks for pointing this out. I've created a PR to address this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/71224

[2019-03-28 17:08] shashishailaj commented on #27953
@RowdyChildren We have seen it load within a maximum of 30 mins to an hour for tenants as large as 200000 users for one of the large IT companies. However it depends on a lot of other internal calculations . Considering the fact that the dynamic membership rules for your dynamic group can be simple or complex , its hard to exactly say a particular amount of time but as per my experience , the  max

[2019-03-28 17:10] PsyhoLord commented on #28158
Also will be great if the link to the "NotificationHubs app sample" will target to link that you have provided:
https://github.com/Azure/azure-notificationhubs-dotnet/tree/master/Samples/Xamarin/GetStartedXamarinAndroid
It will be very helpful. Because it is still : 404 not found.

[2019-03-28 17:12] spelluru commented on #28158
@PsyhoLord - I have fixed the link in the article and the updated article should go live in 15-30 minutes. However, the repo has old code that uses GCM. I will submit a PR sometime today with the new project files. Thanks.

[2019-03-28 17:15] KingdomOfEnds opened #28248 "IoT Edge Module scaffold"
Hi! Working through the Node.js deployment. Have an issue with the VS Code scaffold tool:

[code]

Any suggestions on this? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e7d644a-8051-9d73-803a-39720939df92
* Version Independent ID: 223c5796-a23d-001d-60e3-df90f30457d7
* Content: [Tutorial create custom Node.j

[2019-03-28 17:17] Mike-Ubezzi-MSFT commented on #12900
@Hassan0101 There are two possible issues:

- The subscription/DWH environment you are using doesn't have the necessary permissions to execute the tutorial verbatim.

or

- In the following section, a step was missed or not executed correctly: [Create a user for loading data](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/load-data-wideworldimportersdw#create-a-user-for-loading-data), s

[2019-03-28 17:22] smoms opened #28249 "Use of GetTwinAsync() to get twin updates"
Hi, just to double check why the twin update follows request-reply paradigm. Since IoT Hub is message/event based (e.g. AMQP), in order to get a twin update why would I need to put the GetTwinAsync() in a loop? Rather than having a callback/event-driven model (again , natural for event driven architecture)? thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-03-28 17:22] christianrondeau opened #28250 "More useful examples of Exclusions"
Reading this page, I still have no idea how exclusions work. What is a "request attribute"? Is it a header? And what does it exclude? The header, or the whole request?

More specifically, I'd like to know:

* Can we ignore specific query string parameters by name?
* Can we ignore specific header values by name? The documentation makes it
* Can we ignore the body of a request by hostname?

The exam

[2019-03-28 17:23] srikanthvvgs commented on #5621
Hi I got the same issue and I resolved it by sending out a json object
public class ResponseObject
    {
        public string status { get; set; }
    }
    public static class MyClass
    {
        [FunctionName("MyFunc")]
        public static async Task<ResponseObject> Run([HttpTrigger(AuthorizationLevel.Function, "get", "post", Route = null)]HttpRequestMessage req, TraceWriter log)
        {

[2019-03-28 17:23] jdobrzen commented on #28070
@MartinJaffer-MSFT
Here's another example I ran into that produces the pickling error. Again, I am producing this outside of the ADF activity.

def appBackup(row):
  dbutils.notebook.run("AppBackupNotebook", 0, {"widget1": row.column1,"widget2": row.column2})

dfs.rdd.map(appBackup)

Error:
Out[10]:  You cannot use dbutils within a spark job or otherwise pickle it.
            If you need to use g

[2019-03-28 17:25] christianrondeau commented on #28250
Also more specifically about this part:

I have no idea what this refers to; is this the list of strings I can enter in the "Request attribute" field? If so, how does "Request Body" differs from "XML", since it will do a string comparison anyway?

[2019-03-28 17:26] #8899 closed

[2019-03-28 17:26] #9831 closed

[2019-03-28 17:26] #12068 closed

[2019-03-28 17:26] #16032 closed

[2019-03-28 17:27] #22700 closed

[2019-03-28 17:27] Karishma-Tiwari-MSFT commented on #28245
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-28 17:28] #27601 closed

[2019-03-28 17:28] timpeteren opened #28251 "AuthenticationType=None"
Until late last year the &lt;Item Key="AllowInsecureAuthInProduction"&gt;true&lt;/Item&gt; was not present in this REST API claims provider example. When it was introduced it was to discourage the use of unauthenticated API endpoints and raise awareness with B2C custom policies developers by requiring them to explicitly add this parameter to leverage endpoints with AuthenticationType=None in a Pro

[2019-03-28 17:29] Mike-Ubezzi-MSFT commented on #28218
@brynhr Thank you very much for the detailed feedback. This is not the first time this has been mentioned but to give some context., the analogy is based upon a whitepaper published in 2011: [Replicated Data Consistency Explained Through Baseball](https://www.microsoft.com/en-us/research/wp-content/uploads/2011/10/ConsistencyAndBaseballReport.pdf) (opens a .pdf). So, I think it is fair that the re

[2019-03-28 17:29] #28046 closed

[2019-03-28 17:29] #28083 closed

[2019-03-28 17:35] YutongTie-MSFT commented on #28154
@tulasim88 Thank you for the feedback. I will close this now.

@v-kydela We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-28 17:35] #28154 closed

[2019-03-28 17:40] colinrubbert commented on #28157
I think a specific call out and quick example would go a long way to clear up some confusion.

The general consensus on Reddit, GitHub, and Twitter is that AADDS & AAD is not supported without Azure connect or an on-prem deployment.

It would help for sure.

[2019-03-28 17:43] SaurabhSharma-MSFT commented on #28032
@sllewe Please refer to steps documented [here](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tshoot-connect-password-hash-synchronization#trigger-a-full-sync-of-all-passwords) to force a password sync.

[2019-03-28 17:44] KetanChawda-MSFT commented on #28199
@v-maroge Custom domain SSL certificate, any intermediate or root certificates uploaded by customer and analytics data is not part of the backup. Beside that pretty much everything should be there.

[2019-03-28 17:45] sdgilley commented on #28028
Thanks for catching this!  I've just updated the document.  #please-close

[2019-03-28 17:45] Mike-Ubezzi-MSFT commented on #28227
@slynickel Thank you very much for the detailed feedback. You make an excellent point but to clarify the question, if the Azure Storage service is detailing that the encryption implemented is XYZ, then any other Azure service that depends upon storage services will need to implement those encryption requirements to connect successfully.
I will assign to the content owner to evaluate and enhance th

[2019-03-28 17:46] Hassan0101 commented on #12900
@Mike-Ubezzi-MSFT
I'm followiing the version of the tutorial on [microsoft learn](https://docs.microsoft.com/en-gb/learn/modules/understand-the-sql-dw-connector-with-azure-databricks/7-load-data-using-ploybase)

I executed:
 `Create Login TestUser1 with password = 'abcd123Password!'`  on master db
`Create user TestUser2 from login TestUser1` on the SQL DW and SQL db (retaildb)

I added db owner, d

[2019-03-28 17:46] SaurabhSharma-MSFT commented on #28039
@borys86 Yes, you can use the PowerShell cmdlets to manage access of Azure Resources.  Refer to [Manage access to Azure resources using RBAC and Azure PowerShell](https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-powershell) for details.

[2019-03-28 17:46] YutongTie-MSFT commented on #28051
@PatrickFarley Thank you for sharing this information.

@sfarhand We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-28 17:46] #28051 closed

[2019-03-28 17:47] YutongTie-MSFT commented on #28028
@CeciAc
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-28 17:47] #28028 closed

[2019-03-28 17:47] KingdomOfEnds commented on #28248
Ah - requires the [yo npm dependency](https://www.npmjs.com/package/yo).

[2019-03-28 17:47] #28248 closed

[2019-03-28 17:54] desreela commented on #27224
Observing the same on AZ -CLI v2.0.61.

[2019-03-28 17:56] mikebudzynski commented on #28199
Developer portal content is also not part of the backup.

#please-close

[2019-03-28 17:57] KingdomOfEnds commented on #28248
Thanks!

[2019-03-28 18:00] rachel-msft commented on #28185
Hi @pjknkda. Can you confirm that you were connecting to the replica server? You can check this by running the query SELECT pg_is_in_recovery();
If that returns false you are connecting to the master server. You can cross-check with the servername in your connection string (both the username and servername fields).

[2019-03-28 18:01] Mike-Ubezzi-MSFT commented on #12900
Thank you very much for the additional feedback. I see the issue. This GitHub issues repo is specifically intended to support the related document. If you follow [this document](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/load-data-wideworldimportersdw) verbatim (except for the duplicate CREATE USER T-SQL as mentioned) there are no issues with the tutorial.
I see [Microsoft Learn - L

[2019-03-28 18:06] femsulu commented on #28231
@ramadarla need additional clarification on your question. are you asking what the recommended recovery option for SQL?

[2019-03-28 18:09] pournejati commented on #28189
Let me give you a scenario. Let's say I have a document with the following fields (including Cosmos internal fields):

[code]

The "customerId" is the partition key. I'd like the following fields to be indexed only: id, customerId, type, and sourceId. Anyother field in the document should be excluded from the indexing process. What is the correct approach to address this? From the default setting,

[2019-03-28 18:09] miaojiang commented on #6489
Thanks for the feedback. "Grand permission" is mentioned at step #26.

#please-close

[2019-03-28 18:10] jluk commented on #28104
This isn't the right forum for this conversation @stephen-cairns please email me at juluk@microsoft.com for us to discuss and we can share internal collateral. Let's close this issue.

[2019-03-28 18:11] mibarg opened #28252 "Wrong link"
"Download the most recent version to your machine from Github." points to the wrong Github repo. It should point to: "https://github.com/Azure/Azure-IoT-Security-Agent-C".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9026f1c6-a553-9901-bf34-d6843f4f1ede
* Version Independent ID: a46c4d1c-9633-8777-982d-5f6886866f51
*

[2019-03-28 18:13] MicrosoftGuyJFlo commented on #28233
@Martony78 When the user signs in the first time after the policy is enabled.

[2019-03-28 18:14] OffColour commented on #23992
I've done some more digging on this with a V1 gateway and it's the same issue with private IP addresses too.
Taken from my NSG flow logs:
Gateway has an IP of 10.20.96.101.
Traffic hitting the NSG to get to the App Gateway has a destination of 10.20.96.103.

This seems to confirm what I'd found and that you can't have multiple gateways in the same subnet and block access to one or more of them usi

[2019-03-28 18:17] sspage opened #28253 "Cannot set display options for WVD Client"
The WVD client takes over all monitors on a multi-monitor system.  Need to be able to define display options including monitors to use, screen resolution, etc.

[2019-03-28 18:18] Martony78 commented on #28233
Thanks for your quick reply

[2019-03-28 18:18] Grace-MacJones-MSFT commented on #28229
Hi @arvindrajachourasiya, thank you for the detailed question. We are currently investigating and will update you shortly with all the necessary information.

[2019-03-28 18:20] stgeorgi commented on #28072
Please provide the ouput of commands below
Get-RdsDiagnosticActivities -TenantName <yourtenant> -username <user having the error>
(Get-RdsDiagnosticActivities -TenantName <yourtenant> -username <user having the error> -ActivityId <most recent activity id from previos command> -detailed).Errors
(Get-RdsDiagnosticActivities -TenantName <yourtenant> -username <user having the error> -detailed).Errors

[2019-03-28 18:21] Mike-Ubezzi-MSFT commented on #12900
@Hassan0101 In addition to the above information, you could request that the labs detail the minimum necessary permissions for those using a shared/restricted environment.

[2019-03-28 18:21] AjayKumar-MSFT commented on #27892
@Leon99, If it's multi-container app, as mentioned in this document https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-multi-container-app#preview-feature-limitations -
Multi-container is currently in preview, the following App Service platform features are not supported. We expect to enable these features for Multi-container Web App before General Availability (GA):
Authentica

[2019-03-28 18:25] miaojiang commented on #27810
Hi @markafox, this documentation shows steps for Azure AD. It seems you are using Azure AD B2C?

[2019-03-28 18:30] YutongTie-MSFT commented on #28050
@MayMSFT @yikei @trevorbye Thank you guys.

@QuickNS We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-28 18:30] #28050 closed

[2019-03-28 18:32] wmengmsft commented on #26228
@marxxxx, thanks for reporting this. Can you please open an issue at [https://github.com/Azure/azure-cosmos-table-dotnet/issues](https://github.com/Azure/azure-cosmos-table-dotnet/issues), and we will investigate asap.

[2019-03-28 18:34] YutongTie-MSFT commented on #27945
@hanzallah-ashaar Hi, could you please give me more guidance on this issue? I can not find the "predict_image" but "detect_image". Thank you.

[2019-03-28 18:37] johnpaulkee commented on #27047
Hi @shmahanta,

You only need to enable the sqldb-JobAccounts feature once for the subscription in which you intend to provision the Elastic Job agent.
[code]

The job target subscriptions don't need to be registered.

[2019-03-28 18:38] colinrubbert commented on #28072
@tannersatch go to your RG that you deployed the host pool to and check the Deployment section and see if anything failed. If nothing failed there go to your newly created VM and click on Extensions and see if there is anything that failed there.

There was a couple times that I ran through the process that it said the deployment succeeded only to find that inside my VM and under Extensions there

[2019-03-28 18:39] YutongTie-MSFT commented on #28057
@scredii Hi Alex, please refer to following document for integration LUIS with Speech Services. Thanks a  lot for your feedback.

[2019-03-28 18:40] medavamshi opened #28256 "VMDK files dont merge by themselves after you upload to datastore. you may have to use other tools to combine those vmdk's."
VMDK files dont merge by themselves after you upload to datastore.  you may have to use other tools to combine those vmdk's.

"After the upload is complete, you see the file in the datastore in the folder you created. Now upload the second VMDK file to the same datastore. Once both the files are uploaded, the two files are merged into a single file. You then see a single file in the directory"

--

[2019-03-28 18:42] Jayesh040 commented on #6911
Is PAYG subscription to CSP subscription conversion available now ?

[2019-03-28 18:43] stephbaron commented on #16576
We've updated the FAQ

[2019-03-28 18:43] SaurabhSharma-MSFT commented on #28223
@volta82 The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-03-28 18:43] #28223 closed

[2019-03-28 18:44] SaurabhSharma-MSFT commented on #27795
@echanfin We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-28 18:44] #27795 closed

[2019-03-28 18:45] alkohli commented on #28256
@medavamshi  That's not the behavior I observed during the testing to create the docs. The files do merge and I didn't have to perform any extra steps. Are your datastores of the type VMFS5? If that is not the case, I recall that those files didn't merge. Could you please check and let me know? And also provide information around which ESXi version you are using. Thanks!

[2019-03-28 18:46] colinrubbert commented on #28114
@ChristianMontoya Thanks for the follow-up. I'm sure there is a way that I can figure something out that I can deploy to manually hit that sync of SharePoint but I still think there is some value in the end-user (maybe only specific members of a group or specific admin) that should be able to have both a Desktop and Remote session. SharePoint was mainly just one example of something that I run int

[2019-03-28 18:47] medavamshi commented on #28256
it would be helpful if its  a single vmdk file rather than convert it.
vmware-vdiskmanager.exe -r edge-ga.1.5.814.447-42623-21029000-r_gateway_servercore_guest_o.vmdk" -t 0 c:\files\combined.vmdk

(vmware-vdiskmanager.exe is part of the vmware workstation tool).

[2019-03-28 18:49] YutongTie-MSFT commented on #28242
@celery6131
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-28 18:50] medavamshi commented on #28256
mine are VMFS6.  interesting. VMware ESXi, 6.7.0, 9484548

[2019-03-28 18:53] valthec opened #28257 "Only allowed ARCore SDK is v1.5"
Please put some note that newer ARCore SDKs: v1.6 & v1.7 are not supported with this tutorial. I waste few hours trying to reproduce why my app is stuck on "Looking for anchor..." step and couldn't locate my cube. When I replaced to ARCore v1.5 my cube appeared immediately. Anyway, thanks for great tutorial!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-03-28 18:53] sam90909 commented on #28175
Hello Micah, Sorry for the delay. Yesterday, the variable values provided before deploying were not taken for some reason, that is why we opened. But, I just tried deploying and it seems like it is working.

However we new issue now I am still working on this to fix.  I deleted all the resources in the RG and deployed a new VMSS. But, I am getting the following error. Not sure if this has anything

[2019-03-28 18:54] MGoedtel commented on #6472
#please-close as I've got this filed and will attempt to address this in our next sprint.

[2019-03-28 18:55] #28233 closed

[2019-03-28 18:57] colinrubbert commented on #27753
@ChristianMontoya I think if there is more detailed picture or call-outs indicating the nuances of the service would go a long way. Clarifying steps for AADDS & AAD deployments versus on-prem/hybrid/IaaS deployments because the steps and requirements are slightly different so having some clarification of those nuances helps a lot.

For me spending multiple hours chasing down little errors or why a

[2019-03-28 18:57] sspage opened #28258 "WVD needs display options"
Unable to set it to NOT use all monitors or specify desktop resolution.  Will this be possible soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6daaa1358
* Version Independent ID: 1cb3a5d8-4f16-583c-ad85-325f7638a873
* Content: [Connect to Windows Virtual Desktop Preview with Windows 7 an

[2019-03-28 18:57] sspage commented on #28258
I'm referring to the full/fat client in case it's not clear.

[2019-03-28 18:58] tamram commented on #28161
@craigb - The Azure Storage engineering team recommends that you contact the Cosmos DB team for future information about Azure Table storage, as they own the technology and strategy going forward.

[2019-03-28 18:59] medavamshi commented on #28256
conversion with above command like i said worked on esxi6.7 with vmfs6

[2019-03-28 18:59] #6489 closed

[2019-03-28 19:02] MicahMcKittrick-MSFT commented on #28177
@Merurino I ran through some tests but I am unable to repro the issue you are having. Which leads me to believe there is something specific in your environment that is causing the error.

Do you have the ability to open a technical support ticket to have this looked into further? If not, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this issue. I

[2019-03-28 19:02] #28177 closed

[2019-03-28 19:03] CeciAc opened #28259 "Part of getting azure subscription id(sample script) contains mistake"
@geforce-hisa0904 commented on [Wed Mar 27 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2250)

Regarding "create-vms-with-docker-machine" section, I guess that part of getting azure subscription id(sample script) contains mistake.
This script can not execute.
Could you confirm it?

Current:
``sub=$(az account show --query "id" -o tsv)``
suggestion:
``$sub=$(az account show --quer

[2019-03-28 19:03] KumudD commented on #27960
The updated article is now published.
#please-close

[2019-03-28 19:04] MicahMcKittrick-MSFT commented on #28175
@sam90909 could you try deleting the entire resource group instead of just the resources inside of it? That way you can make sure there are no hidden references to any old resources.

[2019-03-28 19:04] CeciAc commented on #28259
Hi team,
I moved this here since the user is reporting an error in the code
best

[2019-03-28 19:05] MarileeTurscak-MSFT commented on #27956
@ChristianMontoya do you know anything about this?

[2019-03-28 19:06] miaojiang commented on #25121
Thanks for the feedback. It's addressed in this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/71248

[2019-03-28 19:08] #25121 closed

[2019-03-28 19:09] Minewiskan commented on #27728
@mpsingh24  - Done. Not sure why those weren't in there in the first place. Thanks for pointing it out.
#please-close

[2019-03-28 19:09] MicahMcKittrick-MSFT commented on #28253
@sspage can you provide me with the link to the documentation you are referring to?

[2019-03-28 19:10] sspage commented on #28253
https://docs.microsoft.com/en-us/azure/virtual-desktop/connect-windows-7-and-10.

[2019-03-28 19:10] MicahMcKittrick-MSFT commented on #28253
Duplicate of #28258

Will work off of that one.

[2019-03-28 19:10] #28253 closed

[2019-03-28 19:11] MicahMcKittrick-MSFT commented on #28258
Thanks @sspage I will take a look and get back to you.

[2019-03-28 19:12] #27960 closed

[2019-03-28 19:12] AjayKumar-MSFT commented on #28058
@hpl002, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-28 19:12] #28058 closed

[2019-03-28 19:14] ChristianMontoya commented on #27956
@mdegrushe : Thanks for the feedback. Are you logged into that user in your regular Windows desktop? There may be weird behavior where if you're logged in to your regular Windows desktop, you only need to provide your username to get a token for any other Azure AD resource(like the Windows Virtual Desktop web client).

[2019-03-28 19:15] RyanHill-MSFT commented on #28229
Hi @arachmanGitHub, thanks for reaching. Hopefull, I'll be able to answer your quetions.

1. You can define your entities through either your source code or the Azure portal. You many options for back-end store [SQL Azure](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-single-database-get-started), [table storage](https://docs.microsoft.com/en-us/azure/storage/tables/table-storag

[2019-03-28 19:20] L-Dogg opened #28260 "CosmosDB quickstart - Add a database and a collection - settings table cells"
In the table in point 2: "In the Add collection page, enter the settings for the new collection."
there is a mismatch between table headers and values.

<img width="774" alt="Screen Shot 2019-03-28 at 20 13 52" src="https://user-images.githubusercontent.com/2965488/55186450-dca11800-5196-11e9-8f2a-3f30b62c9db9.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-03-28 19:20] HJToland3 commented on #28006
#please-close

[2019-03-28 19:25] Mike-Ubezzi-MSFT commented on #28120
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-28 19:25] #28120 closed

[2019-03-28 19:25] curtand commented on #27517
Hi @reutann
Thanks for your contribution. It's very busy right now in AZure AD admin roles, but I got the template ID information and published it. It will be live at 4 PM today.

@SaurabhSharma-MSFT
#please-close

[2019-03-28 19:26] Mike-Ubezzi-MSFT commented on #28135
@mganeshphani We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-28 19:26] #28135 closed

[2019-03-28 19:27] MGoedtel commented on #7616
#please-close - we are re-writing the content about data collection/data sources and this along with other items are going to be addressed.

[2019-03-28 19:27] craigktreasure commented on #28257
Sorry about that. Yes, we currently only support ARCore SDK for Unity version 1.5. The link in the document will take you to the 1.5 version, but we never explicitly state that we only support that version in the Unity guide. We'll update that. Thanks for reporting this issue.

[2019-03-28 19:28] Mike-Ubezzi-MSFT commented on #28152
@bichuga We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-28 19:28] #28152 closed

[2019-03-28 19:31] ChristianMontoya commented on #28157
@colinrubbert : That's unfortunate, especially since we specifically call out this scenario in the overview doc: https://docs.microsoft.com/azure/virtual-desktop/overview#requirements .

[2019-03-28 19:32] tabeth commented on #19456
@artisticcheese

I think the issue is that usage of that XML would then require one to have some automation or process that maintains the blacklist and removes old IPs.

Ideally there would be a way to get the IP of the machine that you're using while running a hosted agent, that way you can do something similar to what I described above, except for a single machine (the one running the DevOps job

[2019-03-28 19:34] artisticcheese commented on #19456
Yes, in addition to that firewall seems to be limited to 100 entries only anyway, so this is not going to work.

[2019-03-28 19:36] kevintaber opened #28261 "Identifier (Entity ID)"
Actually the field Identifier (Entity ID) needs to be &lt;subdomain&gt;.zendesk.com NOT https://&lt;subdomain&gt;.zendesk.com

Otherwise you will get an error AADSTS65005. I opened a ticket with Zendesk support to get the issue resolved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16ae6014-a5f6-03f3-4ad4-4425cfe5b6c

[2019-03-28 19:40] VitaliyKurokhtin commented on #27914
@alex-zyl which policy are you using? Are you using code editor or forms editor?

[2019-03-28 19:42] Mike-Ubezzi-MSFT commented on #28006
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-28 19:42] #28006 closed

[2019-03-28 19:45] andrewtyped opened #28263 "Update recommendations to include usage with IReliableStateManager"
There are some gotchas around using `IReliableStateManager.GetORAddAsync` with reliable collection operations in the same transaction. Particularly I'm referring to https://github.com/Azure/service-fabric-issues/issues/24 , in which we learn reliable state cannot be created and manipulated in one transaction. This behavior is undocumented in `IReliableStateManager` - can it be included here?

---

[2019-03-28 19:48] cynthn commented on #28259
@CeciAc Thanks for the feedback! The example code was created assuming folks were using Bash on Linux. Bash doesn't use a $ in the declaration of variables, you only use $ when the variable is used. This is different from how it should be formatted using a Windows cmd prompt. The example is correct for the most common case.

#please-close

[2019-03-28 19:48] MicahMcKittrick-MSFT commented on #28263
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-28 19:54] JohnMoor opened #28264 "Explanation of permissions for scoped AU admin role missing"
Apparently the person who logs in with the user account which serves as scoped admin role for a particular AU has limited privileges. It would be helpful to explain in this documents:

1. The specific Azure AD admin roles do not apply to AUs (so no scoped license admin)
2. Even though you set the role "User Account Administrator" using the Add-AzureADScopedRoleMembership cmdlet as explained in the

[2019-03-28 19:54] richardspitz opened #28265 "EA Invoices - Change/add email contacts"
The article says:
If you're an Azure customer with an Enterprise Agreement (EA customer), you can't download your organization's invoices. Invoices are sent to whoever is set up to receive invoices for the enrollment.

When there are multiple EA Admins for an enrollment, who is "whoever is set up to receive invoices for the enrollment"? The first EA Admin? What happens when that person leaves the

[2019-03-28 20:00] sllewe commented on #28032
Thanks @SaurabhSharma-MSFT. I guess I may be missing something,

How are we to define the Connector Names? In the script linked we are to provide,

$adConnector = "<CASE SENSITIVE AD CONNECTOR NAME>"
$aadConnector = "<CASE SENSITIVE AAD CONNECTOR NAME>"

That doesn't seem to be provider with an AD DS deployment.

[2019-03-28 20:06] MarileeTurscak-MSFT commented on #28024
Thanks for the feedback, @mchiri . I have assigned this issue to the content author, @MarkusVi , to look into.

[2019-03-28 20:08] #28259 closed

[2019-03-28 20:11] alex-zyl commented on #27914
@VitaliyKurokhtin  API Policy and Code editor

[2019-03-28 20:12] TravisCragg-MSFT commented on #28250
@christianrondeau Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-28 20:13] CeciAc opened #28268 "Creating Azure KeyVault key uses an invalid command."
@woehrl01 commented on [Thu Mar 28 2019](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/270)

The command which is used is invalid. The correct command is `Add-AzKeyVaultKey` instead of `Add-AzureKeyVaultKey`.

It's wrong in the text and the example. The link leads to the correct page though.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung

[2019-03-28 20:14] ronhowe opened #28270 "Please Support abs() Math Function"
Please support the absolute value math function abs().

This will support the scenario of supplying "number of hours in the past" and you want to ensure the user doesn't enter in -24 when you really needed them to enter 24.  i.e.  @addhours(utcnow(), int(mul(-1, abs(dataset().hoursThreshold))))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-03-28 20:14] CeciAc commented on #28268
Hi team,
the user is reporting an invalid command,
can you please check it?

[2019-03-28 20:17] vhorne commented on #28108
Diagrams updated. Should be live this afternoon.
#please-close

[2019-03-28 20:21] #28108 closed

[2019-03-28 20:22] alkohli commented on #28256
@medavamshi  Good to know this :-). I believe we only tested with VMFS5 as written in the docs. I will need to check with Engg team here regarding if we support VMFS6. I think as of today that is not the case but will check and let you know.

[2019-03-28 20:23] ChristianMontoya commented on #28114
@colinrubbert : We definitely appreciate the feedback. This ask seems to be popping up a bit more, so definitely trying to understand the scenarios. I think the "IT admins should be able to test each experience for troubleshooting" is something we hadn't really considered so I'm glad you pointed it out.

As alluded to earlier, there's a lot more consideration we have to do on our side to ensure co

[2019-03-28 20:24] msrini-MSFT commented on #28100
@allencodes , I will go ahead and close this issue now. Please tag me if you need any further assistance,

[2019-03-28 20:24] #28100 closed

[2019-03-28 20:30] MicahMcKittrick-MSFT commented on #28268
@woehrl01 the command is correct as it is written in the doc.

If you look at the note on the top of the page the article has been updated to use the most recent version of powershell which uses Az instead of Azure now. So you need to update your module and it will work.

[2019-03-28 20:33] #7721 closed

[2019-03-28 20:34] colinweiner opened #28272 "Monitoring Private peering"
Step 5: Configure -&gt; Private Peering, #5,  it fails to mention that You also need at least one on-premises agent connected to this peering.

https://docs.microsoft.com/en-us/azure/expressroute/how-to-npm#configmonitor

“Click the ON-PREM AGENTS Add Agents button to add the on-premises servers from which you want to monitor the private peering connection. Make sure that you only choose agents th

[2019-03-28 20:34] ecfan commented on #28043
@jeffhebrank, thank you, we have a fix in-progress that should go live this afternoon. We also have a work item to better communicate this requirement across the docs where we discuss parameters.

#please-close

[2019-03-28 20:35] woehrl01 commented on #28268
@MicahMcKittrick-MSFT This is not fixed, as the provided command is the AzureRM command. My command states that with the new Az module the command has changed. The doc is still wrong.

[2019-03-28 20:38] MicahMcKittrick-MSFT commented on #28268
@woehrl01 yes I looked at the wrong portion. We will get it fixed shortly.

[2019-03-28 20:42] Alberto-Vega-MSFT commented on #28238
@LMtx Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-28 20:44] cynthn commented on #28268
@CeciAc Thanks for the feedback! I created a pull request to get this fixed in the English language repository. It may take a few days to get replicated into the other languages. Thanks again!

#please-close

[2019-03-28 20:45] #28268 closed

[2019-03-28 20:54] SnehaGunda commented on #26502
#please-close

[2019-03-28 21:00] medavamshi opened #28273 "ran into errors creating shares. how do i fix this?"
message: (Http status code: 400) Could not create or update credential 'virginia*******' on 'databoxgw1'.
Ensure that the access key for your storage account is valid. If needed, update the key on the device.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 954e8423-01fe-9adf-9ff6-8b19ce85cb9e
* Version Independent ID: 2

[2019-03-28 21:03] SnehaGunda commented on #27665
@olufea InsertOrMerge method implements stored procedure so its a little bit more variable in terms of request charge. As Rimma mentioned, can you please direct your question to askcosmosdb alias, we can help you debug the issue better. We will close the issue here but track it within the email thread.

#please-close

[2019-03-28 21:03] colinrubbert commented on #28114
Thanks @ChristianMontoya, I appreciate even the consideration. As the service expands, the use cases grow, and push to a pure cloud experience becomes more popular, technical troubleshooting by IT admins, IT staff, or product admins would become very beneficial to better support our end-users.

I'll keep an eye out for the user voice 👍

[2019-03-28 21:03] MicahMcKittrick-MSFT commented on #28245
@logankp I am assigning this to the content author to review and update as needed.

@jnoller can you take a look?

CC @iainfoulds

[2019-03-28 21:07] alkohli commented on #28273
@medavamshi Is the storage account key valid? You can always sync the keys. Also please check your access on the subscription. Do you have owner access to the subscription that you are using?

[2019-03-28 21:13] medavamshi commented on #28273
creating new storage account on same resourcegroup resolved this

[2019-03-28 21:14] ChristianMontoya commented on #28114
#please-close

[2019-03-28 21:17] anirudhcavale commented on #28203
#please-close

[2019-03-28 21:18] eparizzi commented on #6889
Any updates on this? I'm surprised that Azure KeyVault doesn't support ppk keys generated by PuttyGen =S

[2019-03-28 21:19] fgariepy-relation1 opened #28274 "POST /refreshes fails (400) server does not exists"
Post to  https://canadacentral.asazure.windows.net/servers/**XXXX**/models/**YYYY**/refreshes
fails with an 400
message=An internal error occurred.

error in the header:
x-ms-root-activity-id: 9e66e693-6c4a-4a2b-bb9a-39f5d5d8e932
x-ms-xmlaerror-extended: Either server 'asazure://asazurecanc1-canadacentral.asazure.windows.net/**XXXX**' does not exist or user is not the administrator of 'asazure://a

[2019-03-28 21:24] serafing opened #28276 "Update AD FS SSL Certificate process has changed."
To get to it now you must go to Manage Federation first, and then you will see the Update option, so those screenshots are out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d87b17f9-38de-1acf-e18f-96bba2ae77ea
* Version Independent ID: 20c9770c-2c11-e172-e66c-76c9632fafce
* Content: [Azure AD Connect - Update

[2019-03-28 21:27] MicahMcKittrick-MSFT commented on #28258
@sspage generally for feature suggestions we will have you leave that feedback here

https://feedback.azure.com/forums/34192--general-feedback

Since this product is still in preview we are still working on getting a section in User Voice setup. So at this time I am assigning this to the content author so it can be added once uservoice is ready.

[2019-03-28 21:28] KingdomOfEnds commented on #28181
@AshokPeddakotla-MSFT - Much appreciated! If it helps, the opening import statement in the generated Dockerfile I think is: `FROM python:3.6.8-windowsservercore-1709`.

[2019-03-28 21:34] Oran2009 commented on #28190
It's working @cynthn !

[2019-03-28 21:36] Mike-Ubezzi-MSFT commented on #28260
@L-Dogg Thank you very much for bringing this to our attention. It appears the chart data needs to be shifted over so that the columns and the data values line up, as you have pointed out.

![Screenshot (343)](https://user-images.githubusercontent.com/37126106/55194385-be232880-5166-11e9-8534-1b7bfd839af0.png)

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-28 21:38] StarkCaptain opened #28277 "Missing Permissions Required Owner Role"
I was only able to get this working when assigning the owner role to subscription. I have tried with global admin, security admin with full contributor rights to the subscription, log analytics workspace without any luck. I am seeing the below on all subscriptions when the owner role is not assigned.

No permissions

If I run developer tools in chrome to get a trace I see the below.

{content: nul

[2019-03-28 21:44] DrEsteban commented on #28182
Hey @DCtheGeek, yes I followed the instructions of the article, including setting all expected values, and the issue remains:
[code]

Here is a screenshot of my blueprint assignment:
![image](https://user-images.githubusercontent.com/1495037/55194841-f70fcd00-5167-11e9-960d-168eeba1c03a.png)

[2019-03-28 21:46] DCtheGeek commented on #28182
@DrEsteban Thanks for the additional details.  I'll look at this with the team and will get back to you.

[2019-03-28 21:49] jeevansd commented on #28261
@v-viinde and @chetansriv Can we please fix this issue?
@kevintaber Thanks for reporting the issue. We will confirm this with Zendesk team and then will update the doc.

[2019-03-28 21:50] medavamshi commented on #28273
got the error while creating the share on data box gateway.  I tried to use a storage account from US East 2  location thats part of a different resource group .   i resolved it by creating a new storage account in the same resource group as data box gateway and it worked.  " sync the keys for storage account only works after the share is created" .  in my case i ran into error while the share is

[2019-03-28 21:51] cynthn commented on #28190
@Oran2009 excellent :)

#please-close

[2019-03-28 21:52] mattfortech opened #28278 "Unable to successfully call API from ASP.NET web app"
Hello,
I have successfully tested the console application, but I am unable to get a near identical implementation using an ASP.NET web application. I keep getting the following exception: "{"Operation returned an invalid status code 'NotFound'"}"
I thought at first that it was a result of not being able to elect the iteration I am using as "Default", but that didn't seem to pose an issue in the ca

[2019-03-28 21:52] medavamshi commented on #28273
message: (Http status code: 400) Could not create or update credential 'virginia1492652823' on 'databoxgw1'.
Ensure that the access key for your storage account is valid. If needed, update the key on the device.

just curious for above error.
Any workaround to use existing storage accounts from different resource groups ?  if yes, how can i get the keys for storage account and use it while creatin

[2019-03-28 21:59] singhkays commented on #8104
yep seems correct

[2019-03-28 22:01] KingdomOfEnds commented on #28181
Ah, solved. One must flag the "experimental: true" setting. Thanks!

[2019-03-28 22:01] #28181 closed

[2019-03-28 22:01] alkohli commented on #28273
@medhavamshi You should be able to use an existing storage account from a different resource group as long as you have the permissions to create a container. This was a perms issue, not a resource group issue.

[2019-03-28 22:01] DCtheGeek commented on #28182
@DrEsteban Just as a quick follow-up, I can repro this.  We are looking at the details now.

[2019-03-28 22:02] alkohli commented on #28273
@medavamshi  The sync flow is when the access keys on the storage account have been rotated. Then you sync the keys so that the service/resource has those keys.

[2019-03-28 22:05] DrEsteban commented on #28182
@DCtheGeek Sounds good! Glad it's not one of those "works on my machine" situations :)

Just to clarify, this is not blocking me in any way.  Just wanted to submit as a heads up.

[2019-03-28 22:09] eparizzi opened #28282 "Set to only use one connection?"
Our SFTP service allows only one connection per user and the pipeline tries to open several ones at the same time. That leads to the job failing with an error and only some files are copied successfully.

Is there a way to set the pipeline to only open one connection to the SFTP server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-03-28 22:11] Karishma-Tiwari-MSFT commented on #28080
@Heidilohr Can you please help confirm on this one? Thanks :)
@Kthomas3 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-28 22:15] eparizzi commented on #28282
Nevermind. I've just found it.

There's a setting called "Degree of copy parallelism" on the Settings tab of the "Copy Data" activity.

[2019-03-28 22:16] StarkCaptain commented on #28277
Also for whatever reason this does not appear to honor permissions set through management groups

[2019-03-28 22:21] MartinJaffer-MSFT commented on #28270
Hello @ronhowe and thank you for your feedback.
Please submit / upvote your feature request at our [feedback forum](https://feedback.azure.com/forums/270578-data-factory).
Until such a feature is implemented, you can use this Dynamic Expression to achieve the same effect:
`@{max(pipeline().parameters.input, mul(-1,pipeline().parameters.input))}`

[2019-03-28 22:23] #28270 closed

[2019-03-28 22:27] MartinJaffer-MSFT commented on #28270
@ronhowe  in your specific case,
` @addhours(utcnow(), int(mul(-1, abs(dataset().hoursThreshold))))`
would become
`@addhours(utcnow(), min(dataset().hoursThreshold, mul(-1, dataset().hoursThreshold)) )`

[2019-03-28 22:30] mpsingh24 opened #28283 "This works for SQL Managed Instance as well"
Please update the documentation to call-out specifically that this works for SQL Managed Instance as well. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c62c741f-9de3-0c62-a8ac-6606e5f1a879
* Version Independent ID: 4cba5607-6372-1d91-8aa1-00c7e4c0cd3d
* Content: [Conditional Access - Azure SQL Database and Da