[2022-09-20 22:23] dereklangMSFT opened #98745 "Hybrid Azure AD joined device owner"
Does the 'Tip' on this page need to be updated since Hybrid devices that are co-managed do show an Owner in Azure AD?

Tip
Hybrid Azure AD joined Windows 10 or newer devices don't have an owner

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a8119688-e88d-2916-3dcf-bf777a5fc80c
* Version Independent ID: e767d695-1c9f-6

[2022-09-20 23:08] wrylee opened #98746 "Instructions are incomplete"
There are any number of missing steps in what should be a simply page.

Have you actually tried to do this from a Windows machine, without already having Github all setup?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 59b3b161-b559-f90b-1566-f18776a5f7da
* Version Independent ID: 3e536234-16ad-

[2022-09-20 23:12] kriszentner opened #98747 "Make the limitations of the `az network bastion tunnel` feature explicit"
Regarding the section [Connect to VM - other native clients](https://learn.microsoft.com/en-us/azure/bastion/connect-native-client-windows#connect-tunnel) there are other possibilities with using the `tunnel` feature, however what's not mentioned is the fact that the tunnel only supports one connection. I believe there are bandwidth limitations as well.

Making the limitations of `tunnel` explicit

[2022-09-20 23:18] pnarsi commented on #59768
Technical limitation around AKV use with VNET integrated Functions seems to be addressed so there isn't a need to update the baseline anymore.

[2022-09-20 23:18] #59768 closed

[2022-09-20 23:19] KranthiPakala-MSFT commented on #98736
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-09-20 23:31] meghanagupta95 opened #98748 "Kured Helm repository has changed"
The Kured Helm repository has changed, according to the [maintainers](https://github.com/kubereboot/charts/issues/5). The docs might have to be updated to reflect that, since the older repository url is giving a 404 Not Found error.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: eadf3bc9-bea3-b51f-1477-8f76ccfce7da
*

[2022-09-20 23:36] catmanjan commented on #98633
@AjayBathini-MSFT thanks, if I create a managed-premium disk how can I browse the contents of the disk?

[2022-09-20 23:58] NWiddup commented on #93133
Thanks @zoran-rilak-msft, I'll keep an eye out the new doc :)

[2022-09-20 23:58] #93133 closed

[2022-09-21 00:15] dlepow commented on #98590
@simonkurtz-MSFT - If you thought you could add a sentence about using the WAF in dection mode as a short term workaround to the "Warning" about WAF rules breaking the dev portal, that might take care of it?  Happy to chat offline about this. Thanks.

[2022-09-21 00:28] kriszentner commented on #98747
On a more prescriptive, rather than descriptive note, I also posted a request asking for a workaround for the limitation. I cover the use case for additional connections and a workaround. [here](https://feedback.azure.com/d365community/idea/e55b67ca-3b39-ed11-a81b-000d3a04ded5). This is in case I get the attention of a PM focused on UX regarding this issue.

[2022-09-21 00:43] SnehaGunda commented on #83802
@BenoityipMSFT apologies for the really long delay. Your fix looks right to me. I made the changes in the above PR.

[2022-09-21 00:43] SnehaGunda commented on #83802
#please-close

[2022-09-21 00:43] #83802 closed

[2022-09-21 00:52] ChaitanyaNaykodi-MSFT commented on #98747
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-21 00:52] kyawgyi99996 commented on #44024
love

[2022-09-21 01:20] griffinbird opened #98750 "Missing RBAC from "what isn't restored" section"
Under the section [What isn't restored] (https://learn.microsoft.com/en-us/azure/cosmos-db/continuous-backup-restore-introduction#what-isnt-restored) add that RBAC is not restored and these controls will need to be re-applied to the Cosmos DB account.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f97e4b07-cad6-3650-0

[2022-09-21 01:39] ecfan commented on #98517
@josefahmed: The Azure Logic Apps extension isn't currently available for Visual Studio 2022 as the [Visual Studio Marketplace currently reflects](https://marketplace.visualstudio.com/search?term=logic%20apps&target=VS&category=All%20categories&vsVersion=&sortBy=Relevance):

![image](https://user-images.githubusercontent.com/13206671/191394994-6c917dc5-f8e6-481e-acb6-8f34c9bed74a.png)

[2022-09-21 01:40] ecfan commented on #98517
#assign:ecfan

[2022-09-21 01:51] Hanimaru commented on #55372
I'm still not able to find any documents describe VMProtectionAlerts, is there any update?

[2022-09-21 02:07] peterson1 commented on #98227
Manually doing "Sync now" fixed the issue for me.
Thank you so much, @Grace-MacJones-MSFT !

[2022-09-21 02:12] zaalion opened #98751 "Shows Transferred but no data is present in Cosmos DB"
[Enter feedback here]
Hi,

I ran the command line version and it shows success (Transferred: 2) , but I don't see any data row in Cosmos DB table API and the error log is empty.

Any idea?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-588e-01ff-6d1c-234b8e51d550
* Version Independent ID: 27873c08-b6

[2022-09-21 02:16] VitalyMCT opened #98752 "Log shipping in "Azure only: Disaster recovery solutions""
Can you please elaborate on the reason this solution is not also listed under this category? It's only listed under "
Hybrid IT: Disaster recovery solutions" category.

My understanding is that it's a SQL Server software feature and can thus be deployed anywhere SQL Server can run.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linkin

[2022-09-21 02:17] GitaraniSharma-MSFT commented on #98364
@aidanfinn , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-09-21 02:17] #98364 closed

[2022-09-21 02:34] dcbrown16 commented on #55372
In my understanding this log has never worked for public consumption, but it still isn't removed from the Portal.

[2022-09-21 02:45] GitaraniSharma-MSFT commented on #98570
@aggerritsen , I checked with the Azure Bastion Product Group team and they mentioned there is no other alternative as of yet but they are working on supporting the UDR scenarios for Azure Bastion (No ETA as of today).

Either: You have to add Longest Prefix match for all individual subnets in the VNet rather than the entire VNet IP address space.

OR: I have seen a similar scenario where the cust

[2022-09-21 02:45] #98570 closed

[2022-09-21 03:28] #98515 closed

[2022-09-21 03:49] YashikaTyagi-MSFT commented on #98632
@OWinfreyATL
Could you please provide a comparative account matrix to list when to use which features?

[2022-09-21 04:04] YashikaTyagi-MSFT commented on #98735
@RyRyTech-Cpic
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 04:08] YashikaTyagi-MSFT commented on #98743
@Norrch2
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 04:11] YashikaTyagi-MSFT commented on #98745
@dereklangMSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 04:19] RamanathanChinnappan-MSFT commented on #98727
@sudharsonan

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 04:24] RamanathanChinnappan-MSFT commented on #98728
@deyanp

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 04:25] Venkateshdodda-MSFT commented on #98543
@Marwaabouawad We will close this out, but if you feel you need more information, please just let us know.

[2022-09-21 04:27] RamanathanChinnappan-MSFT commented on #98731
@04diiguyi

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-21 04:28] YashikaTyagi-MSFT commented on #98698
@CGijbels
Thanks for contributing towards enhancement of document. Following changes have been made and are reflected in the document itself.
We are going to close this issue.

[2022-09-21 04:28] #98698 closed

[2022-09-21 04:31] RamanathanChinnappan-MSFT commented on #98733
@praveenkjvs

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 04:32] shaktisingh-msft commented on #98750
Hi @griffinbird,

Thanks for sharing feedback. We will work on this and update.

[2022-09-21 04:33] shaktisingh-msft commented on #98750
Hi @kanshiG ,
Could you please look into this document enhancement request.

[2022-09-21 04:34] RamanathanChinnappan-MSFT commented on #98740
@tarockey

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 04:35] antothomas23 commented on #98704
Tried all below comments, but there was no table COMMENT returned.
describe dbtest.tabletest;
describe detail dbtest.tabletest;
describe table formatted dbtest.tabletest;
describe table extended dbtest.tabletest;

![image](https://user-images.githubusercontent.com/55478260/191415210-7f064e42-9e40-4569-8e90-f6f6fc3a9e60.png)

[2022-09-21 04:38] RamanathanChinnappan-MSFT commented on #98741
@STDSA
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 04:40] RamanathanChinnappan-MSFT commented on #98742
@agray0232

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 04:44] RamanathanChinnappan-MSFT commented on #98746
@wrylee

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 04:46] RamanathanChinnappan-MSFT commented on #98748
@meghanagupta95

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 04:48] RamanathanChinnappan-MSFT commented on #98751
@zaalion

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 04:49] pjainan opened #98754 ""Transaction" Pooling Mode limitations"
[Enter feedback here]
Does this flexible server PgBouncer feature has same limitations for Transaction Pooling mode as mentioned in the documentation link below:
https://www.pgbouncer.org/features.html#fnref:2

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 16ebc57e-41cf-8f53-01c5-8ddae7730b20
* Version Independent ID:

[2022-09-21 04:50] RamanathanChinnappan-MSFT commented on #98752
@VitalyMCT

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 04:54] RamanathanChinnappan-MSFT commented on #98754
@pjainan

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 05:34] ThojoUno commented on #38591
I just selected Microsoft.Network resource provider, which was already registered, and selected ReRegister, and it fixed the problem for me.

[2022-09-21 05:53] SadiqhAhmed-MSFT commented on #98673
@rjosephp Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-09-21 05:54] JananiRamesh-MSFT commented on #98441
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-09-21 05:54] #98441 closed

[2022-09-21 05:57] tinaling opened #98756 "AMA/MMA support planning for SUSE 15 SP3"
Regarding to AMA/MMA supported operating systems list, we found there is SUSE 15 SP4 supported already, but we didn't see SP3 on the list. Does SP3 will be supported in the roadmap and when will it be released? Thanks.

Operating system | Azure Monitor agent  | Log Analytics agent | Diagnostics extension
SUSE Linux Enterprise Server 15 SP4 | X |   |  
SUSE Linux Enterprise Server 15 SP2 | X |   |

[2022-09-21 06:07] MicroTrendsTom commented on #98709
In fact guy i need to update this - Sorry my mistake that was another provider the JSError...

But  Google Provider does not work with desktop.
The B2C login form is presented correctly  but the google login user flow fails with message

"Couldn’t sign you in
This browser or app may not be secure.
Try using a different browser. If you’re already using a supported browser, you can try again to sign

[2022-09-21 06:10] shaktisingh-msft commented on #98754
Hi @sr-msft,

Could you please refer to the ask for Transaction Pooling flexible server PgBouncer feature. Thanks

[2022-09-21 06:12] colmardev commented on #98241
At "Support Plans" wizard step the portal is asking me to upgrade because unfortunately I have no support plan yet, and I'd like not to pay for a microsoft bug.

Is there any alternative?

[2022-09-21 06:36] bnagajagadeesh commented on #98636
Thanks, Sourav for sharing the above links.

I've checked first one and still not clear on how to create a dbaora file suggested in the article. I've used "VI" command to create dbaora file with the contents provided in the article. This might be very trivial for those work with Linux OS.

On the second response, I've an idea on how to connect to a oracle database. But, I'm not sure which user tha

[2022-09-21 06:44] RamanathanChinnappan-MSFT commented on #98628
@Dlion80

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 06:46] RamanathanChinnappan-MSFT commented on #98628
@Dlion80

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-21 06:47] RamanathanChinnappan-MSFT commented on #98649
@nssidhu

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-21 06:48] batamig commented on #98338
Hi @EC-429, thanks for writing into docs! We'll have to go back and check this with the team before we make any updates or advise. In the meantime, I suggest that you ask your question on our [TechCommunity](https://techcommunity.microsoft.com/t5/microsoft-defender-for-iot/bd-p/MicrosoftDefenderIoT), where there are experts available to answer directly.
I'm adding this issue into our backlog so th

[2022-09-21 06:48] #98338 closed

[2022-09-21 06:58] ManoharLakkoju-MSFT commented on #98735
@RyRyTech-Cpic
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-21 07:11] #98735 closed

[2022-09-21 07:16] AjayBathini-MSFT commented on #98633
@catmanjan
Managed disks cannot be opened or browsed from the outside, you need to be logged into the VM to view the contents. If you wish to view and change the contents of the disk you could use SFTP to login and browse the folders.

Hope this helps. Let me know if you have further questions or issues.

[2022-09-21 07:25] AjayBathini-MSFT commented on #98707
@ronzinms
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@pauljewellmsft
Can you please check and add your comments on this doc update request as applicable.

[2022-09-21 07:31] #92279 closed

[2022-09-21 07:37] AjayBathini-MSFT commented on #98733
@praveenkjvs
Could you please go through below link.
https://learn.microsoft.com/en-us/azure/virtual-machines/windows/create-vm-specialized#:~:text=a%20specialized%20managed,storage%20account.

if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-21 07:37] sunnybhambhani opened #98757 "Missing defaultValue for jitConfiguration in CreateUIDefinition template"
Basically, I enabled JIT in my managed application via the below configuration in CreateUIDefinition template and by default, the value is always "YES".

Looks like we are missing the key-value pair "defaultValue": true/false here like other objects, so that we can configure whether to switch it ON by default OR not.

Is there a way to make it OFF by default? and if required the customer can switc

[2022-09-21 07:41] AlexSapple commented on #98227
thanks for the workaround @Grace-MacJones-MSFT - much appreciated, I've not actually checked if this was the problem in my case but since it was happening on my dev machine and apparently not on our deployment environment then you are almost certainly correct and I shan't worry about it :) - I will close this ticket now.

[2022-09-21 07:41] #98227 closed

[2022-09-21 07:44] AjayBathini-MSFT commented on #98752
@VitalyMCT
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@adbadram
Please review it

[2022-09-21 07:52] SaibabaBalapur-MSFT commented on #98702
@AhmadGT8
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@jimmart-dev
Can you please check and add your comments on this doc update request as applicable.

[2022-09-21 07:53] praveenkjvs commented on #98733
@AjayBathini-MSFT

The provided link doesn't DEFINE what is a specialized disk, it only talk about how to create one. What I was asking for is

1) what is a specialized disk
2) is it only for windows VM or linuix too?
3) what are differences between a specialized disk and non-specialized disk?
4) what are advantages and disadvantages?

so on and so forth

[2022-09-21 08:01] librucha opened #98758 "Sampling overrides (preview) - Azure Monitor Application Insights for Java"
Hello.
On this page [section](https://learn.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-sampling-overrides#how-it-works) is described config parameter **telemetryKind** _telemetryKind must be one of request, dependency, trace (log), or exception._

But in previus [section](https://learn.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-sampling-overrides#terminology) is d

[2022-09-21 08:02] ggailey777 commented on #62110
#please-close

[2022-09-21 08:02] #62110 closed

[2022-09-21 08:03] sanderrhorst commented on #28250
Regarding to this discussion:

I am searching for a solution to exlude certain requests based on the request body which is JSON. What we do is uploading a list of jailbreak rules to the application which is behind the Azure WAF. I have added a screenshot of the logs below where you can see why the requests are being blocked.
![image](https://user-images.githubusercontent.com/103762817/191448679-c5

[2022-09-21 08:11] SaibabaBalapur-MSFT commented on #98741
@STDSA
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@jimmart-dev
Can you please check and add your comments on this doc update request as applicable.

[2022-09-21 08:13] SaibabaBalapur-MSFT commented on #98748
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-09-21 08:15] Fuchio commented on #98160
Hey @baanders, has the expert returned to office?

I have one more thing to add as it is becoming a bit more confusing now. I wanted to setup a new simulation script that pushes telemetry and then updates the twin properties through another function with an eventgrid trigger by ADT and stumbled upon this documentation: https://learn.microsoft.com/en-us/azure/digital-twins/how-to-ingest-iot-hub-dat

[2022-09-21 08:23] sijucm opened #98759 "az webapp deployment for run-from-package when other methods say az webapp deploy --src-path"
When it come to Microsoft created products or the documentation it is not clear why there is `az webapp deployment source config-zip ` and `az webapp deploy --src-path` and the first is used with run from package and the other is given in examples of zip deploy. But considering this is microsoft it could very well be that there is a hidden "feature" that this works only with those specific methods

[2022-09-21 08:29] KapilAnanth-MSFT commented on #98705
@hkelley, I see you have closed this issue as completed.
Thanks

[2022-09-21 08:31] SaibabaBalapur-MSFT commented on #98727
@msmbaldwin
Can you please fix broken link.

<img width="815" alt="image" src="https://user-images.githubusercontent.com/111563669/191455478-4bea2fef-e341-47c3-aaa2-2a5d48423137.png">

[2022-09-21 09:11] Burritos-dev opened #98761 "Incorrect product name in CSV file"
Product names are inconsistent between web page and CSV file. We map SkuId to Product Name in our system, so we'd really appreciate if you keep correct Product Names in CSV file. Thanks!

SkuId: 7ac9fe77-66b7-4e5e-9e46-10eed1cff547
Web Page product name: Dynamics **365** Team Members
CSV File product name: Dynamics **364** Team Members

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-09-21 09:27] ilikeyi opened #98762 "Missing language pack, Microsoft-Windows-MediaPlayer-Package~31bf3856ad364e35~*~{Lang}~.cab""
Missing language pack, Microsoft-Windows-MediaPlayer-Package~31bf3856ad364e35~*~{Lang}~.cab"

Is there a file missing from the ISO package?

Language and Optional Features ISO:
Windows 11, version 22H2 Language and Optional Features ISO
https://software-static.download.prss.microsoft.com/dbazure/988969d5-f34g-4e03-ac9d-1f9786c66749/22621.1.220506-1250.ni_release_amd64fre_CLIENT_LOF_PACKAGES_OEM.is

[2022-09-21 09:29] ilikeyi commented on #98762
PackageName	PackageState	ReleaseType	InstallTime
Microsoft-OneCore-ApplicationModel-Sync-Desktop-FOD-Package~31bf3856ad364e35~amd64~~10.0.22621.317	Installed	OnDemandPack	8/6/2022 21:14
Microsoft-OneCore-DirectX-Database-FOD-Package~31bf3856ad364e35~amd64~~10.0.22621.1	Installed	OnDemandPack	5/7/2022 19:32
Microsoft-Windows-Client-LanguagePack-Package~31bf3856ad364e35~amd64~en-US~10.0.22621.382	In

[2022-09-21 09:30] RamanathanChinnappan-MSFT commented on #98681
@bibin08

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-21 09:36] D-I-J commented on #96384
@snakeboard84
No, I couldn't fix it.
so, I left it for now.

[2022-09-21 09:41] VikasPullagura-MSFT commented on #98762
@ilikeyi
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-21 09:41] VikasPullagura-MSFT commented on #98762
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-09-21 09:50] dilippanwar1 commented on #98757
+1

[2022-09-21 09:53] abarqawi opened #98763 "Azure DNS 168.63.129.16 is added automatically to the nameservers in /etc/resolve.conf even for custom DNS"
[Enter feedback here]
Hi ACI team
i repro the same sample and got that azure dns 168.63.129.16 is added to nameserver in /etc/resolve.conf even for custom dns
![image](https://user-images.githubusercontent.com/16225699/191474287-4c2fb23d-de8a-4157-8b07-1054465ca805.png)

i have customer saying also it wasn't there before once using
 dnsConfig:
    nameServers:

is this something new ?
as shown by

[2022-09-21 09:55] RaamsdonkAJ opened #98764 "New-AzRoleAssignment command misses parameter PrincipalID"
PS > New-AzRoleAssignment -SignInName d32b0aeb-xxxx-xxxx-xxxx-xxxxxxxxxxx -Scope "/" -RoleDefinitionName "Owner"
WARNING: We have migrated the API calls for this cmdlet from Azure Active Directory Graph to Microsoft Graph.
Visit https://go.microsoft.com/fwlink/?linkid=2181475 for any permission issues.
New-AzRoleAssignment: 'PrincipalId' cannot be null.

---
#### Document Details

⚠ *Do not edit t

[2022-09-21 09:58] YashikaTyagi-MSFT commented on #98745
@MicrosoftGuyJFlo
Could you please take a look at this? Thanks in advance.

[2022-09-21 09:59] RamanathanChinnappan-MSFT commented on #98677
@nssidhu

We have investigated the issue below shared the screenshot for your reference, please go through content document once

![image](https://user-images.githubusercontent.com/110973511/191475382-804340fc-c631-4fda-8a76-3454c89e0fe6.png)

[2022-09-21 10:01] anandadake commented on #98642
Is that mean that the script is not capable to run in background?
If not, then how the actual device sends the telemetry ?

[2022-09-21 10:06] Naveenommi-MSFT commented on #98646
@KyferEz

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-21 10:30] t-misrael opened #98766 "Great documentation!"
Great documentation!
Maybe update NuGet version :)
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1c572de5-e8b5-ba72-af99-4e7b05bf115b
* Version Independent ID: 85644b7d-15b3-fba3-6332-bfb0d53a2450
* Content: [Azure Relay Hybrid Connections - HTTP requests in .NET - Azure Relay](https://learn.microsoft.com/en-

[2022-09-21 10:40] StureA opened #98767 "Inaccuracy"
Can this article be updated to clarify where SMS originates for EU customers? The following other article still says global providers are used: https://learn.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-data-storage-eu#microsoft-azure-ad-multi-factor-authentication

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub i

[2022-09-21 10:52] ManoharLakkoju-MSFT commented on #98694
@ricardoedo
we went through the doc and link is redirect to right URL, for you information please check below link

https://learn.microsoft.com/en-us/azure/active-directory/manage-apps/review-admin-consent-requests#:~:text=To%20review%20the%20admin%20consent%20requests%20programmatically%2C%20use%20the%20appConsentRequest%20resource%20type%20and%20userConsentRequest%20resource%20type%20and%20their

[2022-09-21 10:58] winsmith opened #98769 "Invalid info on docs page"
Location: Page is "Set up a custom domain with Azure DNS in Azure Static Web Apps"

The steps on this page are misleading:

- The step [Create DNS Records in Azure DNS](https://learn.microsoft.com/en-us/azure/static-web-apps/custom-domain-azure-dns#create-dns-records-in-azure-dns) asks readers to manually create a CNAME entry for static web apps hosted on Azure. This is misleading because the Stat

[2022-09-21 11:37] JananiRamesh-MSFT commented on #98766
@t-misrael Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 11:41] LifeLongThinker opened #98770 "interface violation"
[Enter feedback here]

Please have a look at this line (Version 3.x):

`var jobHost = host.Services.GetService(typeof(IJobHost)) as JobHost;`

That's in clear violation of the core idea of interfaces.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a4500b14-64b4-4d1b-aae3-f0fd4dde85f2
* Version Independent

[2022-09-21 11:58] dereklangMSFT opened #98771 "Duplicate Hybrid AD Joined objects are not automatically cleaned up in AAD"
The issue with duplicate Azure AD 'registered' and hybrid device objects still exists after windows 10 1803, despite what the article states about automatic cleanup. The duplicate object issue also causes problems with Co-Management and Tenant Attach features and manual cleanup using the powershell scripts is often needed, but customers are finding this article and asking us why the auto cleanup i

[2022-09-21 12:01] ezYakaEagle442 commented on #95119
Also in the VSCode extension referenced at [https://learn.microsoft.com/en-us/Java/](https://learn.microsoft.com/en-us/Java/)

[2022-09-21 12:10] shaktisingh-msft commented on #98751
Hi @zaalion,

Could you please share more details about the document issue which might help us in getting rectified.

[2022-09-21 12:22] Naveenommi-MSFT commented on #98645
@WhyTabs

Could you please add more details about the normalized form format support that is expected? An example would help us check this internally.

[2022-09-21 12:24] RamanathanChinnappan-MSFT commented on #98706
@jsquire

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 12:30] SnehaAgrawal-MSFT commented on #98563
@sheryaarbuttMS Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-09-21 12:51] Naveenommi-MSFT commented on #98740
@tarockey

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-21 13:03] Naveenommi-MSFT commented on #98689
@notanaha

Thanks for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-21 13:17] esfdemoazure opened #98773 "Command "sed -i -e "s/<imgBuilderId>/$imgBuilderId/g" helloImageTemplateWin.json" will not work. Fix!"
[Enter feedback here]
The command:
sed -i -e "s/<imgBuilderId>/$imgBuilderId/g" helloImageTemplateWin.json

Will not work as the underlying value of $imgBuilderId is a compound data value separated by "/"'s
If you try to run the command as documented you will get a Syntax issue; this is because the command
does not understand how to process the "/".

The fix for this issue is to simply modify the

[2022-09-21 13:24] PrometheusRising1 opened #98774 "Needs entry for SQL Managed Instance or Footnote"
SQL Managed Instance is not listed here, which causes problems when discussing use of Managed Instance with security stakeholders. Please add it here as a separate entry or include a footnote to explain why it is covered under one of the other entries.

Note that the link provided for SQL Database only shows Azure SQL Managed Instance in passing at the very bottom, so it is not clear whether the S

[2022-09-21 13:26] IndreamLuo opened #98775 "Not Mentioned Impact on Application Settings Constraints"
Hi,

I'm using Azure Static Web Apps with an existing function being migrated to Managed Functions. There're constraints while configuring Application Settings on the Azure instance which may impact the implementation of coding that the doc doesn't mention.

For example, not allowing "AzureWeb" prefix will force all functions using `Microsoft.Azure.WebJobs.TableAttribute` to explicitly define `Con

[2022-09-21 13:34] timlt commented on #98642
@ryanwinter for comment on script sending telemetry.

[2022-09-21 13:39] #97565 closed

[2022-09-21 13:56] MoritzComma opened #98776 "No Access to "Built-In" serverless SQL Pool"
After the migration the Access to the "Built-In" serverless SQL Pool cannot be restored:

![Screenshot 2022-09-20 095241](https://user-images.githubusercontent.com/114078098/191507621-1621f0c2-cf25-450c-ab2c-91b9db84daa3.png)

We have conducted all steps of the guide:
-> The recreation of the workspace's Managed Identity in the new workspace was successful.
-> Reassigned the Synapse Administrator

[2022-09-21 14:09] kriation commented on #98622
@selvasingh, can you request for the change above to be made in the diagrams? Once complete, I can update them through the repository.

[2022-09-21 14:21] rpilot opened #98778 "Autoscale for single database"
"The single database option supports manual dynamic scalability, but not autoscale."
This statement is not correct because serverless compute tier for single database automatically scales compute based on workload demand and bills for the amount of compute used per second. (https://learn.microsoft.com/en-us/azure/azure-sql/database/serverless-tier-overview?view=azuresql)

---
#### Document Details

[2022-09-21 14:37] GeethaThatipatri-MSFT commented on #98336
Thanks, @SudhirRaparla for providing your inputs
@jcbrooks92 as @SudhirRaparla mentioned the document will be updated sooner thank you again for your feedback in improving the document.
We will proceed to close this issue now. If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-09-21 14:37] #98336 closed

[2022-09-21 14:42] Nicholak-MS commented on #98761
Thank you for bringing this issue to our attention. It has been resolved and the corrected CSV is available for consumption.

Thanks
Nick

#please-close

[2022-09-21 14:42] #98761 closed

[2022-09-21 14:46] mumurug-MSFT commented on #98076
@ncroad Sorry for the delay in response. When 'Requires Subscription' on the Product is disabled or the 'Subscription Required' is disabled on the API
- If call is made with no subscription key, request is accepted.
- If call is made with invalid subscription key, request is accepted.
- If call is made with subscription key from another product, you will see 401 response.
- If call is made with va

[2022-09-21 14:48] sinarazi opened #98779 ""You're not eligible for Azure for Students.""
I am a master student at a German university, and want to use Azure for students. However, I came across this issue "You're not eligible for Azure for Students."
Could you please guide me on how to resolve this issue?

[2022-09-21 14:54] shaktisingh-msft commented on #98778
Hi @@WilliamDAssafMSFT,

Could you please look into this document enhancement request where in [https://learn.microsoft.com/en-us/azure/azure-sql/database/sql-database-paas-overview?view=azuresql#deployment-models](url)
![image](https://user-images.githubusercontent.com/110027638/191537756-979fe101-2644-4ee4-9746-1aa651e9ed7b.png)
 does not comply to what is mentioned in [https://learn.microsoft.c

[2022-09-21 14:54] Burritos-dev commented on #98761
Looks great, thanks!
You may also consider updating the "This information last updated on" information on a page.

[2022-09-21 14:56] dmrellan opened #98780 "Dynamic groups time range is fixed in 24 hours"
Dynamic groups with Update Managmeent is not running well if you use a time range above 24 hours to calculate the list of your computers. UM use a fixed time range of 24 hours.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9aac8847-f559-3f92-4d1f-47ed622db5c3
* Version Independent ID: 6dc36690-57fe-cfdb-b129-fb24cb87

[2022-09-21 15:10] Nicholak-MS commented on #98761
it will be updated in the next publish cycle later today.

Thanks,
Nick

[2022-09-21 15:31] GrantMeStrength opened #98782 "Customer feedback.."
[[Enter feedback here]](https://twitter.com/LifeLongThinker/status/1572550476578816001?s=20)

Some feedback on the sample code on Twitter!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a4500b14-64b4-4d1b-aae3-f0fd4dde85f2
* Version Independent ID: 8fb75741-37b9-b45f-c0ca-9948ddaf1c06
* Content: [How to use the WebJob

[2022-09-21 15:34] duongau commented on #98717
Hello @xaevik, there is currently a bug preventing you from create PAYG for Verizon. The issue is currently be looked at by our PG team. I'll let you know once the problem has been resolved.

[2022-09-21 15:44] mmassey1993 opened #98783 "Diagnostic setting for Azure Storage - Code example does not work"
The code block supplied for the Diagnostic setting for Azure Storage example does not work. The error received is an "Array index out of bounds error"

I fixed this by editing the blob, file, table and queue resource 'existing' calls.

Original example:
resource blob 'Microsoft.Storage/storageAccounts/blobServices@2021-09-01' existing = {
  name:storageAccountName
}

Fixed example:
resource blob '

[2022-09-21 15:50] rjosephp commented on #98673
@SadiqhAhmed-MSFT -thank you for the response and it helped. I also would suggest that if you could this information to the Step 2 of the replication process, that would help to avoid any confusion. Thank you!

[2022-09-21 16:06] RamanathanChinnappan-MSFT commented on #98756
@tinaling

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:09] RamanathanChinnappan-MSFT commented on #98757
@sunnybhambhani

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:11] RamanathanChinnappan-MSFT commented on #98758
@librucha

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:14] RamanathanChinnappan-MSFT commented on #98759
@sijucm

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:16] RamanathanChinnappan-MSFT commented on #98763
@abarqawi

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:21] RamanathanChinnappan-MSFT commented on #98767
@StureA

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:25] RamanathanChinnappan-MSFT commented on #98769
@winsmith

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:27] RamanathanChinnappan-MSFT commented on #98770
@LifeLongThinker

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:29] DonalLOConnor opened #98785 "Typo on https://learn.microsoft.com/en-us/azure/cognitive-services/authentication?tabs=powershell"
Under "Security features" > "Authentication options", in the second paragraph, in the second sentence, "The most secure authentication method is to use **manged** roles in Azure Active Directory." should probably be "The most secure authentication method is to use **managed** roles in Azure Active Directory.".

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micros

[2022-09-21 16:31] RamanathanChinnappan-MSFT commented on #98771
@dereklangMSFT

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:32] drksaber opened #98786 "Change External IP addresses in examples"
Can you please change the external IP addresses used in the examples and screenshots? There really is not a good reason to use a routable IP range (100.0.1.0/24) as an example.

It can cause a lot of confusion.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1130e194-0e0f-d7e9-1f5f-2101a173f9ff
* Version Indep

[2022-09-21 16:34] RamanathanChinnappan-MSFT commented on #98773
@esfdemoazure

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:38] RamanathanChinnappan-MSFT commented on #98774
@PrometheusRising1

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:40] RamanathanChinnappan-MSFT commented on #98775
@IndreamLuo

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:45] RamanathanChinnappan-MSFT commented on #98776
@MoritzComma

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:48] RamanathanChinnappan-MSFT commented on #98780
@dmrellan

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:50] RamanathanChinnappan-MSFT commented on #98782
@GrantMeStrength

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:52] RamanathanChinnappan-MSFT commented on #98783
@mmassey1993

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 16:53] RamanathanChinnappan-MSFT commented on #98785
@DonalLOConnor

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 17:03] AvinandanPatra opened #98787 "GrantType = Authorization Code : Postman collection doesn't work and Sequence Diagram needs correction"
**Issue 1:**
Section : Protocol details
Upon using the Postman collection in Post man Web:
  Under OAuth 2.0 Authorization Code Flow :-
  Token Request - Auth Code Token request only works with form-data **instead of suggested x-www-form-urlencoded**

Sample Response upon using the request as is with x-www-form-urlencoded parameters :
`
{
    "error": "invalid_request",
    "error_description": "A

[2022-09-21 17:10] bandersmsft commented on #97819
@helderpinto I've confirmed with the EA team that the old property names missing from the table are available in the API. I'll update the article to add them. For those API property names, they're the same as the CSV field names.

[2022-09-21 17:11] ChaitanyaNaykodi-MSFT commented on #98786
Hello @drksaber
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

@cherylmc for your review.

[2022-09-21 17:11] baanders commented on #98160
Hi @Fuchio,

We're still talking about it, but I'm here to check in with a few points!

1. To update twin properties according to IoT Hub telemetry data, you've found the right document; you can update the properties with a JSON patch document as described in the [Ingest telemetry from IoT Hub](https://learn.microsoft.com/azure/digital-twins/how-to-ingest-iot-hub-data#connect-the-function-to-iot-h

[2022-09-21 17:15] AvinandanPatra commented on #98787
Sample Screen shot of Postman request for Issue 1 above : -
![Error](https://i.postimg.cc/6qKrMbmb/Microsoft-Azure-AD-Post-Man-Error.jpg)

[2022-09-21 17:22] AppFzx opened #98790 "Page should reflect preference of CONNECTION_STRING over INSTRUMENTATION_KEY"
Section "Enable Application Insights integration" still says to use APPINSIGHTS_INSTRUMENTATIONKEY and there is no mention of the deprecation.
- add warning block about deprecation of instrumentation key in 2025
- update examples to use CONNECTION_STRING
- update any other references to instrumentation key with the new improved connection string method and note benefits vs old way where applicable

[2022-09-21 17:23] AppFzx commented on #98790
(can use https://github.com/MicrosoftDocs/azure-docs/issues/96067 as a template for tags and updates)

[2022-09-21 17:48] karpikpl commented on #78261
I believe this can be closed. Fixed by #98591

[2022-09-21 17:50] sijucm opened #98794 "No Consistency tab in Metrics, only in the classic version"
Consistency tab is gone in the new Metrics page. No idea how else to get the PBS. It is available only in Metrics (classic)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30408ba6-333d-6fe5-0df2-e545f6422ba4
* Version Independent ID: 7fccbe15-a6f4-7777-293b-ff6d105567c5
* Content: [Manage consistency in Azure Cosmos DB

[2022-09-21 17:59] cynthn commented on #98733
This is probably what you are looking for: https://learn.microsoft.com/azure/virtual-machines/shared-image-galleries#generalized-and-specialized-images

[2022-09-21 18:07] pasanchMSFT commented on #98742
Confirming how 3.6.6 did allow the job to complete successfully.

[2022-09-21 18:15] SadiqhAhmed-MSFT commented on #98673
@rjosephp Glad to know it helped. We will share your valuable feedback with the content owner to review and update as appropriate.

@v-ksreedevan & @SharmisthaRai Can we consider the feedback for doc-enhancement?

[2022-09-21 18:16] sashaeve opened #98796 "Github code and content did not match"
1. Screenshot on Github is not the same as on a page
2. Obtain Teams thread ID to for call operations using Graph Explorer... - no mentions of thread ID on Github

Additional questions:

1. How to get orgid in 8:orgid:user_guid?
2. How to enable Teams and ACS communication?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* I

[2022-09-21 18:41] bandersmsft commented on #97819
https://github.com/MicrosoftDocs/azure-docs-pr/pull/212058

[2022-09-21 18:41] bandersmsft commented on #97819
#please-close

[2022-09-21 18:41] #97819 closed

[2022-09-21 18:42] Arithmomaniac opened #98797 "Custom NER file format documentation missing fields"
The file format is incorrect; using it will return an error like "The project kind in the exported project's metadata must match the assets' project kind."

Looking at https://github.com/Azure-Samples/cognitive-services-sample-data-files/blob/master/language-service/Custom%20NER/CustomNER%20-%20LoanAgreements.zip, it looks like `assets.projectKind` and `metadata.settings` are missing.

This field

[2022-09-21 18:43] garybushey opened #98798 "The link to install Plotly doesn't say how to install plotly"
The page you are sent to when clicking on the link on how to install Plotly doesn't have any information on how to install plotly

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2340de70-f81d-c868-1aeb-9cce4d015270
* Version Independent ID: 428d5076-a490-3c76-0ede-0d9915a6df7d
* Content: [Plotly - Azure Databricks](htt

[2022-09-21 18:52] ibrahimok opened #98800 "How Can we Add default route for second network interface card."
Actually We need to see some examples of linux route commands for centos or ubuntu. Because we could not find a exact results from linux distro documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 538d49b2-3542-c84c-a883-df9aa130b211
* Version Independent ID: 5b259a91-530d-1bb9-017c-a3d043640c1a
* Content: [C

[2022-09-21 19:03] am8448 opened #98801 ""Cannot set the AccessToken property if 'UserID', 'UID', 'Password', or 'PWD' has been specified in connection string" error"
Hi, I'm on the step five of the "Connect to SQL Database from .NET App Service without secrets using a managed identity" tutorial and when I publish the web app and receive the following error on my browser when the azure web app is loading:

Cannot set the AccessToken property if 'UserID', 'UID', 'Password', or 'PWD' has been specified in connection string.
Description: An unhandled exception occ

[2022-09-21 19:05] zhenlan commented on #98567
@krisrajzlive please share your repro code.

[2022-09-21 19:32] AjayKumar-MSFT commented on #98648
jjjohn538, I have followed the same doc and was able to deploy the WebApp fine. There could be multiple causes for this error.

Typically, the error occurs-The worker process fails. The app doesn't start. The ASP.NET Core Module attempts to start the .NET Core CLR in-process, but it fails to start. The cause of a process startup failure can usually be determined from entries in the Application Eve

[2022-09-21 19:33] spencekile opened #98803 "Keyvault Access Policy IAM blocks retrieving secrets"
Keyvault Access Policy IAM blocks retrieving secrets

There is no mention of access policies or RBAC assignments to allow the databricks instance to retrieve the secret values. I have just run into the situation where if the keyvault access configuration is set to "Azure role-based access control", any attempts to retrieve the secret fail with "INVALID_STATE: Databricks could not access keyvault:

[2022-09-21 19:33] Grace-MacJones-MSFT commented on #98770
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary.

[2022-09-21 19:59] ChadDumas opened #98804 "X-AspNet-Version is putting an invisible named value on entry"
![X-AspNet-Version-Error-Header-Values-Specified](https://user-images.githubusercontent.com/50708044/191598745-89408402-02fd-4ca3-adfc-24d1123b3193.png)
![X-AspNet-Version-Blank-Value](https://user-images.githubusercontent.com/50708044/191598753-7d00a3f4-c1fe-4ad7-b1ec-8d09bfb0d972.png)

When placing this header value, I'm running into an error as it requires this entry to be blank.  After adding

[2022-09-21 20:01] Blackmist commented on #98628
Thanks for the feedback @Dlion80

@ssalgadodev Can you work with the AutoML PMs to improve this article? It sounds like the steps are incomplete.

Reassigning since this isn't a product area I currently work with.
#reassign:@ssalgadodev

[2022-09-21 20:24] duongau commented on #98431
@KapilAnanth-MSFT Thank you for your feedback. I created this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/212085. The changes should reflect later today. #please-close

[2022-09-21 20:24] #98431 closed

[2022-09-21 20:37] whhender commented on #98099
@CathyInMN - Thanks so much for your patience. It does need to be manually created on the Salesforce side.
I'm confirming the specific steps still and will update the docs and you here.

In the meantime, you may find this thread helpful:
https://learn.microsoft.com/en-us/answers/questions/968727/trying-to-connect-purview-to-salesforce.html

As well as the salesforce connected app documentation:
ht

[2022-09-21 20:55] GeethaThatipatri-MSFT commented on #98794
Hi, @sijucm Thank you for reaching out. We will look into it and update you as appropriate.

[2022-09-21 21:05] jonburchel commented on #92773
Thanks for pointing this out and helping improve the docs, @abhijit-tilak.  The page has been updated with the suggested link present now.  #please-close

[2022-09-21 21:05] #92773 closed

[2022-09-21 21:14] meenalsri commented on #98649
@nssidhu Custom Synapse RBAC roles are not supported in Azure Synapse Analytics.

[2022-09-21 21:14] meenalsri commented on #98649
#please-close

[2022-09-21 21:14] #98649 closed

[2022-09-21 21:14] jonburchel commented on #92461
Thanks for your feedback to help us improve the docs, @zpbonjour, and I'm glad you figured out the cause of your failures in the meantime.  We are in the midst of a screenshot update and this document will be updated before the end of this month for that, too. #please-close

[2022-09-21 21:14] #92461 closed

[2022-09-21 21:20] #94599 closed

[2022-09-21 21:22] jonburchel commented on #92047
Thanks for your feedback to improve the docs @MrVP.  I see the UI and the doc have been updated to be more intuitive since your post, and the Tumbling Window Trigger creation window is more straightforward now.  An explanation of the behavior of the properties is included in a table in the updated doc here: https://learn.microsoft.com/en-us/azure/data-factory/how-to-create-tumbling-window-trigger?

[2022-09-21 21:22] #92047 closed

[2022-09-21 21:25] Gurnam96 opened #98811 "Backup Failure scenario: Mount point access error"
Hi Team,
The cause and steps for recovery is not mentioned in the sample scenarios for the below error of backup failure:
----------------------
Error details

Error Code: UserErrorUnableToOpenMount
Error Code: Some mount point is not accessible.

Recommended action:
Check if all mount points of fstype Ext3/4, ReiserFS, JFS, XFS are accessible.
----------------------

---
#### Document Details

⚠

[2022-09-21 21:27] jonburchel commented on #91551
#assign nabhishek

[2022-09-21 21:27] jonburchel commented on #91551
#reassign @nabhishek

[2022-09-21 21:28] mleziva opened #98812 "azure-arc-kubernetes has AZ CLI commands in the PowerShell samples"
The provided Azure PowerShell sections have AZ CLI commands instead of Azure PowerShell.

For example, the prequisites provides the below command in the Azure PowerShell tab:

[code]

It should be
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: df2cd607-99aa-7541-e93e-323a536c2615
* Version Independent ID: 5bca3

[2022-09-21 21:28] jonburchel commented on #91551
#reassign nahbishek

[2022-09-21 21:31] jonburchel commented on #91551
#reassign:nabhishek

[2022-09-21 21:32] jonburchel commented on #92390
#reassign:nabhishek

[2022-09-21 21:32] jonburchel commented on #92789
#reassign-nabhishek

[2022-09-21 21:32] jonburchel commented on #93169
#reassign:nabhishek

[2022-09-21 21:36] jonburchel commented on #92789
#reassign:nabhishek

[2022-09-21 21:39] cjonsmith opened #98813 "Invalid markdown link syntax"
The markdown link in the first bullet point of the [_Next Steps_](https://learn.microsoft.com/en-us/azure/cosmos-db/update-backup-storage-redundancy#next-steps) section is not formatted properly (looks like a slight typo).

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0e9fc12e-94ba-64ec-57fb-70377d4668b5
* Version In

[2022-09-21 21:43] ecfan commented on #98515
@bob-okeefe: The doc has been updated, thanks!

[2022-09-21 21:46] petertuton opened #98814 "Edge v1.4: trust_bundle_cert not provided in config.toml or template"
Using IoT Edge v1.4, `trust_bundle_cert` is no longer provided in `/etc/azure/config.toml.template`, nor in  `/etc/azure/config.toml.template`.

Clear instructions should be provided on how and where to create this parameter, i.e., just add it to the very beginning of the file, outside any subsections.

From : https://github.com/microsoftdocs/azure-docs/issues/98815
Using IoT Edge v1.4, the sectio

[2022-09-21 21:48] petertuton opened #98815 "Edge v1.4: [edge_ca] not provided in config.toml"
Using IoT Edge v1.4, the section, `[edge_ca]` is no longer provided in `/etc/azure/config.toml.template`, nor in  `/etc/azure/config.toml.template`, so we should update the instructions with details on how and where to create the subsection, vs instructing to uncomment the section.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linkin

[2022-09-21 21:50] petertuton opened #98816 "Edge v1.4: [edge_ca] not provided in config.toml"
Same as https://github.com/MicrosoftDocs/azure-docs/issues/98815

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 71acc49c-a23e-493f-c3f5-4ec46846616c
* Version Independent ID: bd3abb8d-1b48-0efd-f6a4-1b3f7a12c039
* Content: [Create transparent gateway device - Azure IoT Edge](https://learn.microsoft.com/en-us/azure/iot

[2022-09-21 21:51] jonburchel commented on #94565
#please-close

[2022-09-21 21:52] #94565 closed

[2022-09-21 21:52] petertuton opened #98817 "Edge v1.4: trust_bundle_cert not provided in config.toml or template"
Using IoT Edge v1.4, trust_bundle_cert is no longer provided in /etc/azure/config.toml.template, nor in /etc/azure/config.toml.template.

Clear instructions should be provided on how and where to create this parameter, i.e., just add it to the very beginning of the file, outside any subsections.

From Edge v1.4: [edge_ca] not provided in config.toml : https://github.com/microsoftdocs/azure-docs/is

[2022-09-21 22:04] asubmani opened #98818 "Steps to generate Bearer Token - incomplete."
Steps to generate bearer token are incorrect. The URL is jumbled up

`GET /MSI/token?resource=https://vault.azure.net&api-version=2019-08-01`

The above URL doesn't make sense.

In the powershell section the steps is as below (again an invalid url how can you have ?resourceHttps"//....)
`$tokenAuthURI = $env:IDENTITY_ENDPOINT + "?resource=$resourceURI&api-version=2019-08-01"`
---
#### Document Det

[2022-09-21 23:22] MarileeTurscak-MSFT commented on #98787
@AvinandanPatra
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-21 23:24] OWinfreyATL commented on #98632
Hello @jkypeter .

Thanks for your comment. We currently have a support table here: [Governance capabilities in other Azure AD features](https://learn.microsoft.com/en-us/azure/active-directory/governance/identity-governance-overview#governance-capabilities-in-other-azure-ad-features) that seeks to differentiate between the features, and when to use which.

[2022-09-21 23:39] yeohan opened #98821 "503 returned from REST API reference link"
I constantly get 503 response by clicking [Image Analysis REST API](https://westus.dev.cognitive.microsoft.com/docs/services/computer-vision-v3-2/operations/56f91f2e778daf14a499f21b) link.

I need to access the API reference page because I need to see the list of supported azure regions.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue

[2022-09-22 00:12] GeethaThatipatri-MSFT commented on #98813
Hi @cjonsmith Thanks for your findings,We will look into it and update as appropriate.

[2022-09-22 00:13] bluefirepatrick commented on #87086
The documentation is misleading.  The oid never seems to be sent in the 'Before Creating User' request and checking 'User's Object ID'  in the Application claims makes no difference.

BUT, it **does** seem to be sent in the 'Before Token' request (which is not in the docs).

[2022-09-22 00:18] jjjohn538 commented on #98648
AjayKumar,
Thank you for this reply and the resources that you have included. I will pursue these lines of debugging my problem. Please do go ahead and close this item.
Jesse

[2022-09-22 01:49] ncroad commented on #98076
Ok thanks for this, very helpful.

Is it safe therefore to assume that when a valid subscription key is provided for that API that the context.Product and context.Subscription properties will not be null? Therefore, in the situation that a invalid subscription key is given that we can validate that if the context.Product or context.Subscription is null, we should then return an unauthorized respon

[2022-09-22 01:53] AshokPeddakotla-MSFT commented on #98816
@petertuton Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-22 01:53] AshokPeddakotla-MSFT commented on #98815
@petertuton Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-22 01:54] AshokPeddakotla-MSFT commented on #98814
@petertuton Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-22 02:11] KrishnaG-MSFT commented on #98812
@mleziva Thanks for your comment! We will review and provide an update as appropriate.

[2022-09-22 03:17] jkypeter commented on #98632
Thank you very much!
Could you please explain what is difference between the following two **automation** when I want to remove an access?
[Lifecycle Workflows: Admins can enable the automation of the lifecycle process based user conditions.]
[Access certification: Automatically remove resource access, block guest access and delete guest accounts.]
I understand them as following, am I right?
Lifec

[2022-09-22 03:38] Aarthi-Vijayaraghavan commented on #97918
@urbantz-technical-support - Ephemeral OS disks can be placed on the cache or temp storage of the respective VM sizes.
The sizes described in parenthesis is for cache sizes (highlighted in red). Temp storage (highlighted in green) is mentioned as a separate field/column.
![image](https://user-images.githubusercontent.com/89452964/191653044-693d522d-dbaf-4ab3-8d6e-0cafc2a6b59e.png)

If the OS image

[2022-09-22 03:48] kawazoe opened #98824 "integer_literal definition in "OData expression syntax reference for Azure Cognitive Search" doesn't support negative values"
When looking at the reference grammar for the integer_literal, I noticed it doesn't support an optional sign, like for float_literal. I suspect this might be a mistake.

[code]

If a signed version need to be supported, there should be both version in the grammar, since multiple rules expects unsiged integers as tokens.

---
#### Document Details

⚠ *Do not edit this section. It is required for le

[2022-09-22 03:58] Aprilllllll commented on #66091
Hi team,
the parameter Docker bridge CIDR is still there. Any reason why it is still needed? What scenario will use docker build in cluster?
Thank you!

[2022-09-22 04:14] sooch-msft opened #98825 "Cannot Import modules from "browse from gallery" which have dependencies in Az.Accounts module in PowerShell Runtime 7.1"
Cannot Import modules from "browse from gallery" which have dependencies in Az.Accounts module in PowerShell Runtime 7.1

# Issue
I have verified and confirm that modules which have have dependencies in Az.Accounts module in PowerShell Runtime 7.1 unlike PowerShell Runtime 5.1. Below error showing in portal and cannot select "import" button.
Please fix this issue or explicitly mention this behavio

[2022-09-22 04:19] SaibabaBalapur-MSFT commented on #98790
@AppFzx
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 04:20] SumanthMarigowda commented on #98309
@tjvishnu Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-09-22 04:20] #98309 closed

[2022-09-22 04:24] RamanathanChinnappan-MSFT commented on #98796
@sashaeve

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 04:24] Arnab-Developer opened #98826 "Closing bracket is missing in `azure-docs/articles/azure-resource-manager/bicep/modules.md`"
I found that a closing bracket is missing in one of the bicep code sample in below document.

`azure-docs/articles/azure-resource-manager/bicep/modules.md`

URL of the published document is
https://learn.microsoft.com/en-us/azure/azure-resource-manager/bicep/modules

[2022-09-22 04:25] RamanathanChinnappan-MSFT commented on #98797
@Arithmomaniac

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 04:26] RamanathanChinnappan-MSFT commented on #98798
@garybushey

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 04:28] RamanathanChinnappan-MSFT commented on #98800
@ibrahimok

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 04:30] RamanathanChinnappan-MSFT commented on #98801
@am8448

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 04:33] RamanathanChinnappan-MSFT commented on #98803
@spencekile

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 04:36] RamanathanChinnappan-MSFT commented on #98804
@ChadDumas

Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-22 04:38] RamanathanChinnappan-MSFT commented on #98811
@Gurnam96

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 04:40] RamanathanChinnappan-MSFT commented on #98818
@asubmani

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 04:43] RamanathanChinnappan-MSFT commented on #98821
@yeohan

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 04:44] RamanathanChinnappan-MSFT commented on #98824
@kawazoe

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 04:47] RamanathanChinnappan-MSFT commented on #98825
@sooch-msft

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 04:51] RamanathanChinnappan-MSFT commented on #98826
@Arnab-Developer

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 05:05] KapilAnanth-MSFT commented on #98641
@arnovandevenrabobank,

Thanks for your detailed explanation.

I will check this behavior internally and report back here.

[2022-09-22 05:21] Venkateshdodda-MSFT commented on #98796
@sashaeve I have assigned this to content author @xixian73 to review this request and to share your valuable feedback on this.

[2022-09-22 05:27] aelij opened #98829 "Out of date vnet limitation?"
This seems to be out of date. I've successfully deployed a container group in a vnet with a working MI.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f4bb823e-1c72-5777-bdd6-e89942c4f470
* Version Independent ID: eb046e79-f39c-dcca-fbd4-519c0a320201
* Content: [Enable managed identity in container group - Azure Conta

[2022-09-22 05:39] tomasAguirre opened #98830 "to this date, the commands do not seem to work"
to this date, the commands do not seem to work

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ea9129e2-9a79-6877-8566-ab6ff480c9bf
* Version Independent ID: 65e2e873-996f-068b-0aaf-2e5622196b16
* Content: [Tutorial - Prepare container image for deployment - Azure Container Instances](https://learn.microsoft.com/en-us/

[2022-09-22 05:40] SouravDutta-MSFT commented on #98695
@b-hchen

Could you please look into this. Thanks in advance.

[2022-09-22 05:55] AjayBathini-MSFT commented on #98829
@aelij
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 05:58] AjayBathini-MSFT commented on #98830
@tomasAguirre
Could you please elaborate the query for better understanding. So, we can assist you.

[2022-09-22 06:14] travis-leith opened #98831 "How can I deploy a shiny app created in R to azure as a web-service (not a shiny server)?"
The following issue/question was asked https://github.com/MicrosoftDocs/azure-docs/issues/27419 and given an answer which does not help.
I am trying to discover how to host my shiny app on Azure App Service. I do not want to spin up a shiny server on a VM and host my app there. I am looking for a serverless solution.

I did find this article: https://www.puresourcecode.com/programming-languages/r/

[2022-09-22 06:23] AjayBathini-MSFT commented on #98800
@ibrahimok
It's impossible to add a new network interface that exists in the different VNet from the network interface currently attached to the VM to an existing VM. You can not add two NICs in different VNets to the same Azure VM. Refer to below link.
https://learn.microsoft.com/en-us/azure/virtual-network/virtual-network-network-interface-vm#add-a-network-interface-to-an-existing-vm

if there a

[2022-09-22 06:26] SaibabaBalapur-MSFT commented on #98829
@aelij
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@tomvcassidy
Can you please check and add your comments on this doc update request as applicable.

[2022-09-22 06:33] SaibabaBalapur-MSFT commented on #98773
@kof-f
Can you please check and add your comments on this doc update request as applicable.

[2022-09-22 06:35] abelal83 commented on #51638
https://learn.microsoft.com/en-us/azure/app-service/reference-app-settings?tabs=kudu%2Cdotnet#custom-containers doesn't have DOCKER_CUSTOM_IMAGE_NAME environment variable documented at all anymore. What's the correct way of updating an image from the Azure Portal if we can't use DOCKER_CUSTOM_IMAGE_NAME?

[2022-09-22 06:35] Aprilllllll opened #98832 "Why is docker bridge cidr needed for Docker Build?"
Hi team,

This line is causing confuse:

'While docker0 bridge is not used by AKS clusters or the pods themselves, you must set this address to continue to support scenarios such as docker build within the AKS cluster'

Docker is no longer the runtime for Ubuntu node now.
Could you elaborate more like this parameter need to be kept for Windows node or backward compatibility?

Thank you!

April

--

[2022-09-22 06:44] SumanthMarigowda commented on #98695
@MaxMelcher  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-09-22 06:44] #98695 closed

[2022-09-22 06:50] YashikaTyagi-MSFT commented on #98771
@dereklangMSFT
Could you please provide your suggestions to the below link mentioned.
Please use this form to submit your proposal to contribute to [docs.microsoft.com](http://docs.microsoft.com/) (which includes Docs, Learn, Azure Architecture Center, and Cloud Adoption Framework).  You'll receive a follow up once submitted to begin the process.
https://forms.office.com/Pages/ResponsePage.aspx?id

[2022-09-22 06:55] RamanathanChinnappan-MSFT commented on #98742
@agray0232

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-22 06:57] Naveenommi-MSFT commented on #98798
@garybushey

Please go through below link for your reference.

https://learn.microsoft.com/en-us/azure/databricks/libraries/

[2022-09-22 06:58] RamanathanChinnappan-MSFT commented on #98704
@antothomas23

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-22 07:00] RamanathanChinnappan-MSFT commented on #98677
@nssidhu

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-22 07:00] #98677 closed

[2022-09-22 07:05] Naveenommi-MSFT commented on #98803
@spencekile

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-22 07:09] RamanathanChinnappan-MSFT commented on #98826
@Arnab-Developer

Thanks for your performed to PR. Once author should be approved. It will reflect into document

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-22 07:09] #98826 closed

[2022-09-22 07:10] Naveenommi-MSFT commented on #98821
@PatrickFarley

Could you please update the correct link in the Doc.

[2022-09-22 07:15] MeatRocket opened #98833 "This is so old and obsolete."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2700fc00-4872-6fcf-65e0-ab9fd5fde2a1
* Version Independent ID: e828bbb5-2c22-17f2-32aa-aa3773c55806
* Content: [Build an Azure Cosmos DB .NET Framework, Core application using the Gremlin API](https://learn.microsoft.com/en-us/azure/cosmos-db/graph/c

[2022-09-22 07:22] Venkateshdodda-MSFT commented on #98555
@davidvesp I have checked with my team and they confirmed that the Cmdlet `New-AzWebappSlot` is to create a new slot in the existing Web App If you want to create a deployment slot that a clone of the existing slot see [this documentation ](https://learn.microsoft.com/en-us/azure/app-service/deploy-staging-slots).

I have updated the documentation with the feedback from internal team. Changes will

[2022-09-22 07:22] #98555 closed

[2022-09-22 07:27] Fuchio commented on #98160
Hey @baanders,

Thanks for the follow up, I really appreciate the effort.
1. We do currently use it like the docs you linked, so just updating digital twin properties directly after IoT Hub.
2. I am not necessarily looking for an example with the PublishTelemetryAsync(), but I mostly wondered if that was the supposed way to go since it would enable the event route filtering on actual data (like te

[2022-09-22 07:45] ElazarK commented on #98427
HI @garis  I will look into this and hope to have an answer for you in the near future

[2022-09-22 07:58] MaxMelcher commented on #98695
@SumanthMarigowda this is a question for the documentation, IMHO. I got this question several times by customers and its not documented how the MAXFILES settings are being replicated.

[2022-09-22 08:10] GitaraniSharma-MSFT commented on #98717
@xaevik , as mentioned by @duongau , this is a bug that is being worked on by the Product Group team and he will update you once this is fixed.

[2022-09-22 08:20] GitaraniSharma-MSFT commented on #98678
@doilikeit82 , you are correct. I've updated that statement to below:

VM3: If NSG2 has a security rule that denies port 80, the traffic is denied. If not, the traffic is allowed by the AllowInternetOutbound default security rule in NSG2.

The doc changes will reflect soon.

[2022-09-22 08:26] #98678 closed

[2022-09-22 08:34] VikasPullagura-MSFT commented on #98832
@Aprilllllll
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-22 08:34] VikasPullagura-MSFT commented on #98832
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-09-22 09:48] ShingoHanai opened #98834 "Update this tutorial to make it available to use latest Sentiment (V3.0) action"
Detect Sentiment (V2) action is currently not availble (DEPRECATED) to use because it was already replaced to Sentiment (V3.0) action.
[https://learn.microsoft.com/en-us/connectors/cognitiveservicestextanalytics/#actions](url)

Both action's output deffers each and this tutorial's function code can't be used with Sentiment (V3.0) action.
Could you update this tutorial to make it available to use l

[2022-09-22 09:54] RamanathanChinnappan-MSFT commented on #98785
@DonalLOConnor

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-22 10:20] Naveenommi-MSFT commented on #98719
@kanikwork

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-22 10:31] ManoharLakkoju-MSFT commented on #98694
@ricardoedo
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-22 10:31] #98694 closed

[2022-09-22 10:32] GabrielPerezCaballero opened #98835 "Form recognizer Azure function code indentation"
Hello,

I'm a beginner into coding and i have difficulty handling the code present in this page dedicated to azure function on Form Recognizer.

Does there is some place (Github?) where i can see the whole **init.py** file with the good code indentation?

I'm not sure if i need to put the whole code into the 'main' function or some part need to be out.

Also, i think there is a mistake in the code

[2022-09-22 10:34] jeevanions opened #98836 "20.04-LTS from doc is not listed in the az cli"
I am referring this documentation to find a Ubuntu version which has the cloud-init enabled and decided to go with 20.04-LTS but on double checking, the SKU's using the az CLI below this version is not listed. Not sure if this is a discrepancy or the version is not available.

``az vm image list-skus ``

Please refer another issue which talks about the Ubuntu versions

https://github.com/Azure/azu

[2022-09-22 10:49] shaktisingh-msft commented on #98833
Hi @MeatRocket ,

Thanks for sharing your feedback. Could you please be more specific on the document issue for triaging.

[2022-09-22 11:01] AbbyMSFT commented on #93672
Hi @mikeymike76,
Thank you again for reaching out! That is an excellent point. I am creating a work item to update that Learn module.
Thanks,
Abby

[2022-09-22 11:07] sinarazi commented on #98779
Dear @SadiqhAhmed-MSFT,
Thank you for your reply. It means a lot.
I will definitely check it and hope that it could handle the problem.

[2022-09-22 11:20] javikar opened #98838 "Please change example"
Hi!

I have copied the example of code. The code suggests using 4096 lengths. I have generated a .byok for an Azure SQL but it can not be used with 4076 lengths (only support 2048 and 3072).

https://learn.microsoft.com/en-us/azure/azure-sql/database/transparent-data-encryption-byok-overview?view=azuresql#requirements-for-configuring-tde-protector
Requirements for configuring TDE protector
TDE pro

[2022-09-22 11:24] #98633 closed

[2022-09-22 11:31] Arithmomaniac commented on #96412
@Jess0-0 see #98797.

[2022-09-22 11:43] SadiqhAhmed-MSFT commented on #98779
@sinarazi Thanks for the reply. For now am closing this issue. Please reply if there is any attention required from our end.

[2022-09-22 11:43] #98779 closed

[2022-09-22 11:58] lightupdifire opened #98842 "Associate the custom domain with your Front Door"
Hello,

About those steps:

<<<
After you've registered your custom domain, you can then add it to your Front Door.
Sign in to the [Azure portal](https://portal.azure.com/) and browse to the Front Door containing the frontend host that you want to map to a custom domain.
On the Front Door designer page, select '+' to add a custom domain.
Specify Custom domain.
For Frontend host, the frontend host

[2022-09-22 12:02] ManoharLakkoju-MSFT commented on #98709
@MicroTrendsTom
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-22 12:03] robertvanvugt opened #98843 "Ensure that the updates published are on or before a specific date"
Hi,

The documentation contains the following option:
"To ensure that the updates published are on or before a specific date, choose the date and selectAdd and Next."

This is a feature I desperately want to use, however I can't find it under update management center in the Azure portal.
For me it is critical to be able to test a bunch of updates in a pre-prod situation prior to freezing that list

[2022-09-22 12:08] lightupdifire commented on #98842
Sorry, got a typo with "afdverify" in the CNAME. Case-close ;)

[2022-09-22 12:08] #98842 closed

[2022-09-22 12:12] FilipeCoutinhoSantos opened #98844 "Redirect dns name mistake?"
some mistake here at the purview studio redirect?

Microsoft Purview (Microsoft.Purview) / account | privatelink.purview.azure.com | purview.azure.com
Microsoft Purview (Microsoft.Purview) / portal | privatelink.purviewstudio.azure.com | purview.azure.com (***should be???? -> purviewstudio.azure.com***)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com

[2022-09-22 12:37] matthias-bauch-avono-de commented on #95751
Hi,
any updates on this issue. Release 1.0.17 still has this issue regarding mobile browsers.

Kind regards
Matthias

[2022-09-22 13:25] GeethaThatipatri-MSFT commented on #98813
@cjonsmith document is now updated, thanks for your feedback on improving Microsoft documentation.

[2022-09-22 13:25] #98813 closed

[2022-09-22 13:27] thelostfrayman opened #98847 "some examples in this page enable SSL 3.0 in addition to TLS1.2"
under "Configure TLS 1.2 for current PowerShell session"
it shows
$TLS12Protocol = [System.Net.SecurityProtocolType] 'Ssl3 , Tls12'
[System.Net.ServicePointManager]::SecurityProtocol = $TLS12Protocol

which clearly "enables" ssl 3.0, which is a really bad thing..

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 053866b7

[2022-09-22 13:43] amsliu commented on #98713
@ttgapers Thank you for your feedback! I have incorporated your suggestion in this pull request: MicrosoftDocs/azure-docs-pr#212070. If you have any other questions, please let us know, otherwise I'm closing this pull request. #please-close

[2022-09-22 13:43] #98713 closed

[2022-09-22 13:50] enettekoven opened #98848 "Powershell to connect the drive is malformed"
When trying to run the powershell commands (with replacing the applicable values to reflect my environment) I get several errors. I think this is not the right to call the net use command from powershell.

I suggest to replace the code with the below:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee557e7-c3f

[2022-09-22 13:56] ChadDumas commented on #98804
https://learn.microsoft.com/en-us/azure/api-management/transform-api#set-the-transformation-policy

[2022-09-22 13:57] mumurug-MSFT commented on #98834
@ShingoHanai  Thanks for your feedback. I am assigning this to author for review and will update as appropriate.

[2022-09-22 14:01] pauljewellmsft commented on #98707
Thanks for bringing this issue to our attention! I've updated the link and the changes should go live later today.

I've also added an item to our backlog to investigate a better way to organize and present the information on this page.

#please-close

[2022-09-22 14:05] ChaitanyaNaykodi-MSFT commented on #98844
Thank you for your feedback! We will review and update as appropriate.

[2022-09-22 14:14] mumurug-MSFT commented on #98076
@ncroad I want to remind about overall logic from techcommunity

![image](https://user-images.githubusercontent.com/95652148/191763653-4a87abf9-964e-4eb5-ac6d-957d85e12fd3.png)

I think once it is associated with a matching product, your assumption appears to be correct. For invalid subscription key, it will be treated as open product and hence Product and Subscription is expected to be null.

Ple

[2022-09-22 14:14] #98076 closed

[2022-09-22 14:15] mchen999 opened #98849 "How to monitor files in azure storage account, like blobs or fileshares using this example? Currently it is just watching some windows directory on some vm?"
How to monitor files in azure storage account, like blobs or fileshares using this example? Currently it is just watching some windows directory on some vm?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 73598b10-eae3-6387-682b-82a6fa0316e3
* Version Independent ID: 30d7c985-3fef-c574-acc8-b71c46460944
* Content: [Tra

[2022-09-22 14:18] Tushar5525 opened #98850 "Helm repo has been modified"
As per Microsoft docs
-------------------------------------------------

# Add the Kured Helm repository
helm repo add kubereboot https://kubereboot.github.io/charts/

# Update your local Helm chart repository cache
helm repo update

# Create a dedicated namespace where you would like to deploy kured into
kubectl create namespace kured

# Install kured in that namespace with Helm 3 (only on Linux

[2022-09-22 14:41] ChaiSwaddipong opened #98851 "Missing -generate-ssh-keys to create a cluster"
This line:
az aks create -g MyResourceGroup -n MyManagedCluster --location eastus --nodepool-name agentpool1 --node-count 1 --host-group-id <id> --node-vm-size Standard_D2s_v3 --enable-managed-identity --assign-identity <id>

is missing this switch

**--generate-ssh-keys**

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-09-22 14:53] yuharucan opened #98852 "What is System administrator permissions?"
This Docs says that Full mode require System administrator permissions. What is System administrator?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: abba9869-987c-0a6b-deb3-031bd6ed7a5e
* Version Independent ID: 840080ff-a0f1-8bf2-72e9-7321956903fa
* Content: [What is the SQL Server IaaS Agent extension? (Windows) - S

[2022-09-22 14:54] mumurug-MSFT commented on #98711
@ahaverdings-deloitte I am unable to repro this issue at my end and looks like we might have to specifically look at the resource (or related logs) for the cause. I want to let you know that this repo is specifically for azure-docs related feedback.

It would be best if you can post it in https://learn.microsoft.com/en-us/answers/topics/25484/azure-api-management.html and we will assist you furthe

[2022-09-22 15:27] mmacy commented on #70484
@nickludwig @Sreyanth @EmLauber Can any/all of you help with authoritative clarification on our service behavior in this case?

[2022-09-22 15:43] bodaduk opened #98854 "effectively an allow any not an allow any azure"
_Important

A firewall rule of 0.0.0.0 enables all Azure services to pass through the server-level firewall rule and attempt to connect to a database through the server._

The above note on the docs page is incorrect. We added a rule of 0.0.0.0 to our SQL instance and it allowed connections from not just internal Azure but from external to Azure. This is effectively an allow any not an allow any a

[2022-09-22 15:49] kiranoddiraju commented on #55499
This might help someone out there...

Last night we disabled NTLM 1 at the domain level and this broke the Azure 2FA plugin. Looks like the plugin was using NTLM v1 for authentication. As soon as we reenabled it started working again for us.

[2022-09-22 15:50] zeinab-mk commented on #92836
docs updated

[2022-09-22 15:50] zeinab-mk commented on #92836
#please-close

[2022-09-22 15:50] #92836 closed

[2022-09-22 16:14] RamanathanChinnappan-MSFT commented on #98831
@travis-leith

It would be great if you could add a link to the Microsoft documentation you are following for these steps? This would help us redirect the issue to the appropriate team.

[2022-09-22 16:24] RamanathanChinnappan-MSFT commented on #98835
@GabrielPerezCaballero

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 16:26] RamanathanChinnappan-MSFT commented on #98836
@jeevanions

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 16:29] RamanathanChinnappan-MSFT commented on #98838
@javikar

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 16:32] RamanathanChinnappan-MSFT commented on #98843
@robertvanvugt

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 16:36] RamanathanChinnappan-MSFT commented on #98847
@thelostfrayman

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 16:38] RamanathanChinnappan-MSFT commented on #98848
@enettekoven

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 16:40] RamanathanChinnappan-MSFT commented on #98849
@mchen999

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 16:43] RamanathanChinnappan-MSFT commented on #98850
@Tushar5525

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 16:43] sachip-msft opened #98856 "WDATP_UNIFIED_SOLUTION does not Enable Linux machines"
The document does not explain how to "Enable Linux machines". the code sample only works for windows machines
Please explain how to do this from ARM template.
![image](https://user-images.githubusercontent.com/44178980/191804709-a00bf3a7-5d60-4b99-86ff-4e3dc487b650.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9

[2022-09-22 16:45] RamanathanChinnappan-MSFT commented on #98851
@ChaiSwaddipong

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 16:46] RamanathanChinnappan-MSFT commented on #98852
@yuharucan

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 16:48] RamanathanChinnappan-MSFT commented on #98854
@bodaduk

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 16:51] RamanathanChinnappan-MSFT commented on #98856
@sachip-msft

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-22 17:21] KranthiPakala-MSFT commented on #98672
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-09-22 17:21] KranthiPakala-MSFT commented on #98662
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-09-22 17:26] rdeltcheva commented on #98616
Thank you for the feedback - it was incorporated.

[2022-09-22 17:36] ryanwinter commented on #98642
This is likely cause by the environment variables required by the script not being available in the nohup subprocess.

Can you provide:
1. The stack trace of the error you are seeing so I can look at the exact line
2. The output for `export`

[2022-09-22 17:37] MarileeTurscak-MSFT commented on #98644
Thanks @sopopa1

I created a pull request to update the information. https://github.com/MicrosoftDocs/azure-docs-pr/pull/212202

@Justinha  please review my PR if you can. This was also added to the backlog two years ago but hasn't gotten addressed. https://github.com/MicrosoftDocs/azure-docs/issues/47674

I also created an internal work item here. https://ceapex.visualstudio.com/contributor%20pro

[2022-09-22 17:37] #98644 closed

[2022-09-22 17:59] AjayKumar-MSFT commented on #98648
jjjohn538, Thanks for the update.

[2022-09-22 17:59] #98648 closed

[2022-09-22 18:30] sadukie commented on #82543
Revisiting this... still a problem.

This is what I see in Power BI when I get to pStep 7 of the quickstart](https://learn.microsoft.com/en-us/azure/synapse-analytics/get-started-visualize-power-bi#create-a-power-bi-dataset-that-uses-data-in-your-azure-synapse-workspace) :
![image](https://user-images.githubusercontent.com/106202/191822534-6edef503-d20a-475c-8a7a-97efe3c08202.png)

## Suggested Fi

[2022-09-22 18:35] RoseHJM commented on #98153
#please-close

[2022-09-22 18:35] #98153 closed

[2022-09-22 18:36] jcoyne-msft opened #98859 "Missing V5 SKUs"
Please update to include vCPU:Core ratio table to include V5 and other potentially missing SKUs.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ad3e8dba-4c99-47d6-ac9f-6d110ec5a43c
* Version Independent ID: 308f299a-5bb2-cf20-a97d-47dd9485d574
* Content: [Overview of the Azure Compute Unit - Azure Virtual Machines](ht

[2022-09-22 18:37] greg-lindsay commented on #96533
@aggerritsen we believe this is an issue that happened during preview, but should be resolved now.  I will test it again myself but if you can tell us if you still have the issue it will help. Thanks.

[2022-09-22 18:46] EdwardKerr5 opened #98860 "Add CLI commands to this page"
The CLI commands to create ANF volume replication should be included in this page or linked to in this page. The command used to enable a replication volume is: az netappfiles volume replication approve

The link to the CLI documentation is here: https://learn.microsoft.com/en-us/cli/azure/netappfiles/volume/replication?view=azure-cli-latest#az-netappfiles-volume-replication-approve

Adding this t

[2022-09-22 18:56] timlt commented on #95895
Adding @timtay-microsoft

@pradorodriguez  we found that in the following line of code from the quickstart, the flag to skip tests is not in fact skipping all tests:

mvn install -T 2C -DskipTests

Instead, if you can temporarily run the following code to skip specific units tests, the issue should resolve.

mvn install -T 2C -DskipUnitTests -DskipIntegrationTests

In the meantime, we will update

[2022-09-22 18:57] GeethaThatipatri-MSFT commented on #98794
@sijucm Can you please share some screenshot on missing tab

[2022-09-22 19:14] timtay-microsoft commented on #95895
The IoT Hub SDK team is working to make it so that the -DskipTests flag works as expected [here](https://github.com/Azure/azure-iot-sdk-java/pull/1601). Once this pull request is merged, you should be fine using just "-DskipTests" instead of both "-DskipUnitTests -DskipIntegrationTests"

[2022-09-22 19:43] swettstein opened #98862 "Symptom - Role assignment changes are not being detected"
In this section, it states that it may take up to 1/2 hour for changes to propagate. Is there any special nuance to this? We are assigning Function App managed identities to a group and have assigned "Azure Service Bus Data Owner" role to that group scoped to the Resource Group. The role is correctly assigned to the managed identity in the portal but the Function App shows this error sometimes eve

[2022-09-22 19:52] Imjustdave2 opened #98863 "PowerShell options?"
Be nice if there were some links to do this via PowerShell, only have a about 50 host pools

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0bab07c1-3622-b8dc-bd51-0e9af7a84c3d
* Version Independent ID: c8a84506-0d97-ae9c-efc0-57373eafb53f
* Content: [Azure Virtual Desktop Scheduled Agent Updates](https://learn.microso

[2022-09-22 20:04] mprentice22153 opened #98864 "Update application list"
New products are available and the list, webpage and CSV, need to be updated. I found these two are missing:

Teams_Ess: Microsoft Teams Essentials
Microsoft_Teams_Rooms_Basic: Microsoft Teams Rooms Basic
D365_SALES_PRO

I have multiple scripts that reference the CSV to generate customer/account team friendly reports.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-09-22 20:24] ejschoen opened #98865 "Documentation for using a service principal with the AGIC Helm chart specifies using a deprecated Azure CLI option"
The `--sdk-auth` option to `az ad sp create-for-rbac` is noted as deprecated.  Please document the minimal set of entries in a JSON map that can be base64 encoded to substitute for the `armAuth.secretJSON` value.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d3925c0f-2f3a-a53e-d558-c00cca37e961
* Version Independent

[2022-09-22 20:28] ryanwinter commented on #98642
I replicated the error with the following output:

The problem is that the sample waits for input from the user, however stdin isn't available with nohup.

[code]

[2022-09-22 20:59] bauca opened #98866 "Unused import in code sample"
In the following url: https://learn.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-overview?tabs=python#aggregator

Issue: Unused imports.
Where: highlighted as comments in the code sample below.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b934ad1d-aabb-707d-d296-02cfbb22ec5c
* Version

[2022-09-22 21:09] jagreen03im opened #98867 "Needed details on Data set part."
Needed details on Data set part.

So the problem is when I try to follow the POST Dataset Create. That has not worked for me. All other steps are ok 1 to 6.

1. Get AAD Token: https://login.microsoftonline.com/{{tenantId}}/oauth2/token
200 save {{bearerToken}}
2. POST Data Upload: https://us.atlas.microsoft.com/mapData?api-version=2.0&dataFormat=dwgzippackage
202 Save header Operation-Location par

[2022-09-22 21:14] randolive opened #98868 "RemoteApp Option Grayed Out"
I'm trying to select the RemoteApp option when creating a new Application Group. However, the option is grayed. I've created a new host pool that is set to RemoteApp (RAIL) as the preferred app group type but it keeps defaulting to Desktop. I see a similar issue here:

https://learn.microsoft.com/en-us/answers/questions/254493/cannot-select-remoteapp-as-application-group-type.html

Has this been r

[2022-09-22 21:25] closedstack commented on #31078
It is now 2022 and the GPO to prevent Auto Azure AD Join still does not work. Moreover, when you are on a restricted network that does not have full internet access, you login is slowed down by 2 minutes. It has to time out trying to connect to azure before falling back to local authentication on Azure AD joined machines. If I run dsregcmd /leave, the machine still get re-joined to Azure AD after

[2022-09-22 21:35] kegregoi opened #98869 "Wrong REST API link"
I think the wrong REST API link is used in this paragraph:
```You can access your virtual machines in multiple ways. Run Command can run scripts on your virtual machines remotely by using the VM agent. You use Run Command through the Azure portal, [REST API](https://learn.microsoft.com/en-us/rest/api/compute/virtual-machine-run-commands), or [PowerShell](https://learn.microsoft.com/en-us/powershel

[2022-09-22 22:44] Nicholak-MS commented on #98864
These Teams Products have been added to the online table as well as the downloadable CSV.

Thanks
Nick

#please-close

[2022-09-22 22:44] #98864 closed

[2022-09-22 23:00] ChaitanyaNaykodi-MSFT commented on #98865
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-22 23:19] mprentice22153 commented on #98864
Those were examples I know of. Is there a master list you can check against? Otherwise I'll run one of my big customer reports and pull together a longer list.

[2022-09-22 23:26] JnHs commented on #98236
Hi @michaelspinks - sorry for the long time to respond. Thank you for taking the time to submit your feedback. We've added a section at https://learn.microsoft.com/en-us/azure/azure-arc/kubernetes/tutorial-use-gitops-flux2#common-to-both-cluster-types for the necessary read/write permissions. I'm hoping this resolves your issue, but let me know if you have additional questions on this.

[2022-09-22 23:41] ChaitanyaNaykodi-MSFT commented on #98666
Hello @FeedTheHungry, Thank you for the feedback.

I have made a PR to update the command to `Set-AzNetworkInterface` and the commands to diss-associate IP address from a NIC are [provided here](https://learn.microsoft.com/en-us/azure/virtual-network/ip-services/remove-public-ip-address-vm#powershell)
Below are the commands.

`$nic = Get-AzNetworkInterface -Name <NicName> -ResourceGroup <RGName>`

[2022-09-22 23:42] #98666 closed

[2022-09-22 23:43] ChaitanyaNaykodi-MSFT commented on #98666
The PR was merged and the change will go live soon. Please let me know if you have any questions. Thank you!

[2022-09-22 23:46] WilliamDAssafMSFT commented on #98778
Thanks @rpilot! Good catch on some language that should be altered to include serverless. Thanks for taking the time to submit this issue, an article update is in flight.

Thanks again for this feedback, your suggestions help improve our documentation.

#please-close

[2022-09-22 23:46] #98778 closed

[2022-09-22 23:49] SnehaGunda commented on #96030
@kev-cs Thank you for the suggestion, I submitted a PR to update the doc.

[2022-09-22 23:49] SnehaGunda commented on #96030
#please-close

[2022-09-22 23:49] #96030 closed

[2022-09-23 00:21] haider392 opened #98871 "AES-256 encryption not supported with Storage account names greater than 15 characters in length"
Was working on a support ticket and found this TSG - https://supportability.visualstudio.com/AzureIaaSVM/_wiki/wikis/AzureIaaSVM/495033/1396-Mount-Error_Storage

Pasting the relevant content from the Wiki above

"Issues Description
Azure files supports Kerberos authentication with AD auth with RC4-HMAC and AES 256 encryption. AES 256 encryption support is currently limited to storage accounts with

[2022-09-23 01:25] ecfan commented on #97417
@rohithah: Please provide guidance for this customer question?

[2022-09-23 01:35] ecfan commented on #86175
@kewear: Any updates for this customer ask?

[2022-09-23 01:37] ecfan commented on #93648
Without a real resolution, we'll now close this thread.

#please-close

[2022-09-23 01:37] #93648 closed

[2022-09-23 01:46] AshokPeddakotla-MSFT commented on #98656
@mabinthecodemaven Thanks for sharing your feedback about the anchor IDs.

@pamistel Please look into the feedback and update the doc if necessary.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

If you have a product-related question, please post to [

[2022-09-23 01:46] #98656 closed

[2022-09-23 02:36] Marwaabouawad commented on #98543
Thanks @Venkateshdodda-MSFT for your clarification on my Ask.
I agree that it is mentioned in this documentation but it is easy to get missed out by customer.
It isn't written in a way that indicates that Applocation initialization is a best practice to gurantee no downtime whille swapping.
I would suggest if we can rephrase it in a way indicates the necessisity of enabaling Application initializa

[2022-09-23 03:00] algattik opened #98874 "Remove asterisks"
In the sentence "programmatically monitor your Microsoft Purview account using Event Hubs and Atlas Kafka**", the asterisks don't refer to anything

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 52c3c076-35b9-993a-cf54-98d1f57700f7
* Version Independent ID: c8fdd88e-2ca8-8e16-1ef1-4702e94267fd
* Content: [Quickstart:

[2022-09-23 03:09] sarahtindal opened #98875 "Event trigger for storage account behind private endpoint - "Allow trusted Azure services" required?"
The documentation states that a storage account behind a private endpoint with public network access blocked, needs to have "Allow trusted Azure services" enabled or a private endpoint for Event Grid. I have tested in my environment and neither of those things were required.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

*

[2022-09-23 03:48] YashikaTyagi-MSFT commented on #98723
@PJMarcum
Thanks for contributing towards enhancement of the document. Change has been performed, once approved by author. It will reflect on the document itself. We are going to close this thread. Please feel free to reach out for further assistance.

[2022-09-23 03:48] #98723 closed

[2022-09-23 03:50] #98771 closed

[2022-09-23 03:52] AjayBathini-MSFT commented on #98733
@praveenkjvs
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-23 03:52] #98733 closed

[2022-09-23 03:57] YashikaTyagi-MSFT commented on #98787
@davidmu1
I tried to do repro from my end but could not come up with any resourceful information.
Could you please provide your input on this case. Thanks in advance.

[2022-09-23 04:10] #98875 closed

[2022-09-23 04:27] RamanathanChinnappan-MSFT commented on #98859
@jcoyne-msft

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 04:29] RamanathanChinnappan-MSFT commented on #98860
@EdwardKerr5

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 04:31] RamanathanChinnappan-MSFT commented on #98862
@swettstein

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 04:33] RamanathanChinnappan-MSFT commented on #98863
@Imjustdave2

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 04:34] v-ksreedevan commented on #98674
@pnarsi,

Thank you for your suggestion.

The preview label has been added to the title of the private endpoint articles - https://learn.microsoft.com/en-us/azure/migrate/discover-and-assess-using-private-endpoints.

Hence, closing the issue.

#please-close

[2022-09-23 04:34] #98674 closed

[2022-09-23 04:38] RamanathanChinnappan-MSFT commented on #98866
@bauca

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 04:40] RamanathanChinnappan-MSFT commented on #98867
@jagreen03im

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 04:43] RamanathanChinnappan-MSFT commented on #98868
@randolive

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 04:44] RamanathanChinnappan-MSFT commented on #98869
@randolive

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 04:45] #98785 closed

[2022-09-23 04:46] RamanathanChinnappan-MSFT commented on #98871
@haider392

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 04:47] RamanathanChinnappan-MSFT commented on #98874
@algattik

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 05:09] RamanathanChinnappan-MSFT commented on #98761
#sign-off

[2022-09-23 05:29] SaibabaBalapur-MSFT commented on #98836
@jeevanions
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@srijang
Can you please check and add your comments on this doc update request as applicable.

[2022-09-23 05:33] SaibabaBalapur-MSFT commented on #98848
@khdownie
Can you please check and add your comments on this doc update request as applicable.

[2022-09-23 05:37] shaktisingh-msft commented on #98854
Hi @rohitnayakmsft,

Could you look into this document update request. Thanks in advance.

[2022-09-23 05:37] SaibabaBalapur-MSFT commented on #98617
@yertaylan67
Thank for your feedback, our team will work on the same and do the necessary changes if needed.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-23 05:37] #98617 closed

[2022-09-23 05:46] SaibabaBalapur-MSFT commented on #98851
@ChaiSwaddipong

Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-09-23 05:46] #98851 closed

[2022-09-23 05:49] SaibabaBalapur-MSFT commented on #98860
@EdwardKerr5
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@b-hchen
Can you please check and add your comments on this doc update request as applicable.

[2022-09-23 05:57] SaibabaBalapur-MSFT commented on #98868
@randolive
Please go to below link for your reference.
https://learn.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-powershell?tabs=azure-powershell#use-your-powershell-client-to-create-a-host-pool.

if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-23 06:00] RamanathanChinnappan-MSFT commented on #98843
@robertvanvugt

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-23 06:02] RamanathanChinnappan-MSFT commented on #98835
@GabrielPerezCaballero

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-23 06:04] SwathiDhanwada-MSFT commented on #98825
@sooch-msft Thanks for reaching out. I have tested from my end the scenario you have described; however, I am not unable to reproduce it as I am able to import the modules via gallery without any issues.

![image](https://user-images.githubusercontent.com/48976275/191900549-4161843d-9538-4011-9a3c-e09048f84d1c.png)

I would suggest you to re check from your end, if you are still facing the issue,

[2022-09-23 06:04] #98825 closed

[2022-09-23 06:05] SwathiDhanwada-MSFT commented on #98811
@Gurnam96 Thanks for your feedback.

Assigning to content author @v-amallick  for review.

[2022-09-23 06:07] aggerritsen commented on #96533
Hi Greg,

After downgrading to v 0.2.0 this issue disappeared. I understand that there's still no production version available like a v1.x. Have you any idea when Azure DNS Resolver will become General Available?

[2022-09-23 06:11] emilylait commented on #98548
Thank you 😊!!! Looks great.
Em

Emily Lait (she/her)
Account Technology Strategist
Higher Education, Microsoft
Level 28, 400 George Street
Brisbane QLD 4000 Australia
Phone:  +61 7 3291 6417
Mobile:  +61 408 253 049
***@***.******@***.***>
Visit Microsoft Higher Education<https://www.microsoft.com/en-au/education/higher-education>

***@***.***

We work flexibly at Microsoft. If you receive an emai

[2022-09-23 06:11] RamanathanChinnappan-MSFT commented on #98804
@ChadDumas

Thanks for shared the link. I have assigned this case to concern team. they will investigate and update appropriately.

[2022-09-23 06:18] RamanathanChinnappan-MSFT commented on #98856
@sachip-msft

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-23 06:18] AjayBathini-MSFT commented on #98863
@Imjustdave2
Could you please go through below link for your reference.
https://learn.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-powershell?tabs=azure-powershell#register-the-virtual-machines-to-the-windows-virtual-desktop-host-pool

if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-23 06:20] AjayBathini-MSFT commented on #98859
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2022-09-23 06:26] AjayBathini-MSFT commented on #98852
@yuharucan
Could you please refer below link that can be helpful for better understanding.
https://learn.microsoft.com/en-us/azure/role-based-access-control/classic-administrators

if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-23 06:28] AjayBathini-MSFT commented on #98850
@MGoedtel
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-23 06:30] AjayBathini-MSFT commented on #98847
@alkohli
Can you please check and add your comments on this doc update request as applicable.

[2022-09-23 06:31] AjayBathini-MSFT commented on #98800
@ibrahimok
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-23 06:34] lonevvolf opened #98877 "Documentation regarding allowing Azure Services is incorrect"
The document states that since private endpoints are not supported:

Enabling this setting does not allow the agents to access Azure SQL.  The guidance is incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 039e3089-547f-319d-cc87-a5ca6645ca9d
* Version Independent ID: c131ca07-46b3-aa0a-8ca4-aa83dd158c1c
* Cont

[2022-09-23 06:35] Naveenommi-MSFT commented on #98645
@WhyTabs

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-23 06:35] #98645 closed

[2022-09-23 06:35] ibrahimok commented on #98800
Hi Ajay,
Sorry I did not receive emails. Actually I do not want to add different
VNET to Nics. I can easily add them from Azure portal and this is not
problem with configuration. My main problem is after I connect linux Centos
OS. I am trying to add different default route to be able to connect via
eth1 to internet. But I could not do on that part.

Kind regards,
İbrahim

On Fri, Sep 23, 2022 at 9

[2022-09-23 06:41] Naveenommi-MSFT commented on #98776
@MoritzComma

Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue

[2022-09-23 06:41] #98776 closed

[2022-09-23 06:44] Naveenommi-MSFT commented on #98798
@garybushey

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-23 06:44] #98798 closed

[2022-09-23 06:50] Horgster opened #98878 "Pass-through Autentication and CBA"
It would be great to have information if "Pass-through Autentication" supports certificate based authentication for "Exchange Active Sync" devices. Or is the idea then to implement Azure AD CBA authentication togehter with Pass-through Autentication?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 12cbaf93-735d-e257-92

[2022-09-23 07:04] michaelspinks commented on #98236
Thanks, it will help reiterate to the user the permissions by making it explicit.

If it would be possible to be more explicit with the resource types that allowing by Azure Policy that would close the loop for me. I’ve seen policies that restrict resource types implemented you see.

Some teams focus on AKS and not Azure Policy so a couple of sentences to highlight that they need to speak to the A

[2022-09-23 07:05] AjayBathini-MSFT commented on #98626
#signoff

[2022-09-23 07:09] lonevvolf opened #98879 "concurrency section details missing"
Details on the concurrency section are missing:
https://learn.microsoft.com/en-us/azure/azure-functions/functions-concurrency

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Independent ID: 271006dc-afce-99f3-0790-41fa2e35b22b
* Content: [host.json reference for Azure Func

[2022-09-23 07:10] SaibabaBalapur-MSFT commented on #98871
@haider392

We recommend explicitly specifying $SamAccountName in addition to $StorageAccountName. If you don’t specify $SamAccountName, the script will fail if the $StorageAccountName is > 15 characters in length. Storage account names can be up to 24 chars if $SamAccountName is specified, but $SamAccountName is recommend to be 15 characters or less due to AD limit.

The planning doc you referenc

[2022-09-23 07:13] YashikaTyagi-MSFT commented on #98864
@Nicholak-MS
 any suggestion on above comment? Thanks in advance

[2022-09-23 07:14] AjayBathini-MSFT commented on #98800
@cynthn
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-09-23 07:38] AjayBathini-MSFT commented on #98763
@abarqawi

Azure SQL Managed Instance uses DNS to resolve the IP of the Azure management service that controls the instance and where the health information is sent. If you want to put your own custom DNS, Managed Instance requires this rule as a fallback option in the case that custom DNS servers are not responding and there is a risk that the Managed Instance cannot access Azure managements serv

[2022-09-23 07:42] kaza opened #98880 "mounting secrets without mounting pod"
mounting secrets without mounting pod

Documentation states
The example here demonstrates access to a secret through env variables and through volume/volumeMount. This is for illustrative purposes. **These two methods can exist independently from the other.**
---

this  does not work for us, I am using AKS with windows pods, with add-on enabled (tried it with or without sync-enabled), and if I do

[2022-09-23 07:43] lukos opened #98881 "Getting stung by "basic" example"
I followed the instructions to create the basic configuration, just needing a simple default setup. After creating it, I then continued to read and it immediately said, "You can add parameters...for example, `--set controller.replicaCount=3`". This was really annoying. Of course I needed 3 controllers and the basic configuration should already have included this since you would never create an ing

[2022-09-23 07:52] michalmar opened #98882 "Example doesn't provide info on the WRITE to Cosmos DB"
Example notebook doesn't provide info on the WRITE to Cosmos DB (only READ).

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7197a1f8-bc64-1ac0-bf54-4a76381acc87
* Version Independent ID: 3c5a8e1d-bb1e-0bcc-571a-7cee8edad2ba
* Content: [Azure Cosmos DB - Azure Databricks](https://learn.microsoft.com/en-us/azure/databri

[2022-09-23 08:50] janerikohman opened #98883 "Update self help page with URLs for authentication"
On this page there is a link to the self help page (https://portal.azure.com/selfhelp) which runs automated checks.
However these checks does not include the URLs for the Portal Authentication (like msauth.net).
It would be good if the self help page checked all the URLs needed for authentication.
I have a VM in a customer DMZ where the self help checks is all green, but when I try to logon and ch

[2022-09-23 08:54] MayankBargali-MSFT commented on #98866
@bauca Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-09-23 09:03] SwathiDhanwada-MSFT commented on #98757
@sunnybhambhani Thanks for your feedback.

Assigning to content author  @MSEvanhi for review.

[2022-09-23 09:06] RamanathanChinnappan-MSFT commented on #98880
@kaza

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 09:07] bodaduk commented on #98854
Apologies, after further testing the docs and behaviour is right.

While `Test-NetConnection myazuresqlserver.database.windows.net -Port 1433` passes from external. Actually connecting from SSMS or ADS fails with "Your client IP address does not have access ..."

[2022-09-23 09:07] #98854 closed

[2022-09-23 09:13] RamanathanChinnappan-MSFT commented on #98881
@lukos

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 09:13] SwathiDhanwada-MSFT commented on #98676
@abatishchev The template is already present within [the document](https://learn.microsoft.com/en-us/azure/azure-monitor/essentials/resource-manager-diagnostic-settings?tabs=json#diagnostic-setting-for-activity-log).

![image](https://user-images.githubusercontent.com/48976275/191928855-63bfcf2e-b5a6-486b-beea-bc594ffe740c.png)

As there are no further documentation changes, we will close the issu

[2022-09-23 09:13] #98676 closed

[2022-09-23 09:18] RamanathanChinnappan-MSFT commented on #98878
@Horgster

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 09:21] RamanathanChinnappan-MSFT commented on #98879
@lonevvolf

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 09:23] RamanathanChinnappan-MSFT commented on #98882
@michalmar

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 09:23] AjayKumar-MSFT commented on #98746
@craigshoemaker, requesting your comments on this. Thanks!

[2022-09-23 09:25] ElectricLlama opened #98884 "service capabilities - upsert"
Please add some details comparing service support between serverless and provisioned.

For example I ran the node.js sample against my serverless cosmosdb and this line:

[code]

returned this error:

Does this mean serverless does not support upserts but Provisioned does? I can't find this in the docs anywhere.

Can you clarify on this page?

---
#### Document Details

⚠ *Do not edit this section

[2022-09-23 09:28] SwathiDhanwada-MSFT commented on #98623
@TysonLinger Thanks for your feedback.

Assigning to content author  @jesscioffi for review.

[2022-09-23 09:34] shaktisingh-msft commented on #98877
Hi @srinia,

Could you please look into this document update request. Thanks in advance.

[2022-09-23 09:35] AjayKumar-MSFT commented on #98708
dsaenzgithub,  The doc has different sections for Linux and Windows.
<img width="459" alt="image" src="https://user-images.githubusercontent.com/44606227/191932151-c8153cc6-5030-4158-8364-db0b726146f4.png">

Under the section "2- Deploy to Azure" section", to further sections to respective application server'.
<img width="286" alt="image" src="https://user-images.githubusercontent.com/44606227/191

[2022-09-23 09:54] RamanathanChinnappan-MSFT commented on #98824
@kawazoe

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-23 10:45] lukos opened #98887 "How to put user pods on user pools"
The page describes System and User node pools and says that AKS will put certain critical pods onto system nodes, which it appears to, but there is no mention of how you are supposed to ensure that your user pods are scheduled on the user nodes.

In my cluster, the pods have picked random nodes. I know I can use some form of node affinity but this is not mentioned explicitly in the document even t

[2022-09-23 10:52] SouravDutta-MSFT commented on #98881
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@rayoef, kindly assist the user.

[2022-09-23 11:05] mosbahmajed opened #98889 "Add another method as an example for userdefinedrouting to provide egress without an actual public IP to manage"
Add another method as an example for userdefinedrouting to provide egress without an actual public IP to manage

A few cases were asking for a workaround to deploy an NVA without a public ip to provide an egress traffic .

so by deploying a cluster with UserDefinedRouting , for NVA , we can add the following approach :

1- Create DMZ subnet for the NVA in the AKS Vnet
2- Create Ubuntu DMZ VM with

[2022-09-23 11:12] sourabhkrishna opened #98890 "Complete message support on MQTT"
How can I send complete message feedback for a c2d via MQTT connection on a device?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bcf2a86a-1de0-2786-db87-58279ceffb22
* Version Independent ID: 7e43624f-a87d-1c4d-94e6-e38c1d42686f
* Content: [Understand Azure IoT Hub MQTT support](https://learn.microsoft.com/en-us/azu

[2022-09-23 11:13] SadiqhAhmed-MSFT commented on #98673
@rjosephp Closing this issue for now as no action pending from my end.

@v-pgaddala & @SharmisthaRai Appreciate if you could review the feedback and update the doc if applicable.

[2022-09-23 11:13] #98673 closed

[2022-09-23 11:22] edusa opened #98891 "Error on text"
Where it reads:

I would suggest swapping _folder a_ to _a folder_ and adding a comma:

--------------------

For example, april/shoes.csv will trigger an event on any file named shoes.csv in _**folder a**_ called 'april' in any container.

-------------------

-------------------

For example, april/shoes.csv will trigger an event on any file named shoes.csv in _**a folder**_ called 'april'**_,_*

[2022-09-23 11:55] AshokPeddakotla-MSFT commented on #98220
Glad to hear you have found the resolution.

[2022-09-23 12:05] KarthikATOS22 opened #98892 "Sample code doesn't work"
Sample code does not work. I do not find instruction how to setup folder path for given code.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2d1c05a5-3479-dea1-9d9b-23da4286242e
* Version Independent ID: 2d1c05a5-3479-dea1-9d9b-23da4286242e
* Content: [Run your first ETL workload on Azure Databricks - Azure Databricks

[2022-09-23 12:10] AshokPeddakotla-MSFT commented on #98814
@petertuton Since both feedbacks related to a single doc, collating them in a single issue for updating the doc appropriately.
Also, assigned issue to the author @PatAltimore for further updates.

[2022-09-23 12:11] AshokPeddakotla-MSFT commented on #98815
This will be addressed along with https://github.com/microsoftdocs/azure-docs/issues/98814

[2022-09-23 12:11] #98815 closed

[2022-09-23 12:13] AshokPeddakotla-MSFT commented on #98816
This will be addressed along with https://github.com/microsoftdocs/azure-docs/issues/98817

[2022-09-23 12:13] #98816 closed

[2022-09-23 12:14] AshokPeddakotla-MSFT commented on #98817
@petertuton  Since both feedbacks related to a single doc, collating them in a single issue for updating the doc appropriately.
Also, assigned issue to the author @PatAltimore for further updates.

[2022-09-23 12:26] viggotw opened #98894 "Naming a Synapse Pipeline activity "Pipeline" causes pipeline to fail"
**What is the issue**
Running a pipeline where an action is named `Pipeline` causes the run to fail immediately.

**Steps to reproduce issue**
1. Create a pipeline
2. Add a Synapse Notebook activity and name it "Pipeline"
3. Link it to the notebook and spark pool of your choice

![image](https://user-images.githubusercontent.com/26419833/191958367-c3ba73b3-c4e9-46ea-96b4-644ac24d9e7b.png)

**Expec

[2022-09-23 12:31] Nicholak-MS commented on #98864
@mprentice22153  please send me your list and I will get it vetted and add relevant ones to the list.

[2022-09-23 12:38] JimThorstad opened #98895 "Typo in a sentence"
In this sentence: "If an account admin removes a user or service principal at the account level, that user is also removed from their workspaces, regardless of whether or not identity federated as been enabled. "

the third to last word should be "has" rather than "as" or reword from passive voice to "is enabled".

thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-09-23 12:48] GeethaThatipatri-MSFT commented on #98884
Hi, @ElectricLlama Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-09-23 13:37] AshokPeddakotla-MSFT commented on #98890
@sourabhkrishna A good place to start for any communication from cloud to the device is [this page](https://learn.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-c2d-guidance).

[2022-09-23 13:39] GithubMirek commented on #97070
Thank you for your valuable feedback. We included  on our to-do list the bicep examples you suggested and will document them later.

[2022-09-23 13:41] #97070 closed

[2022-09-23 13:59] GithubMirek commented on #97594
Thank you for your valuable feedback. Although the syntax WITH OBJECT_ID= 'ObjectID’ is discoverable, it is not documented yet and currently should not be used since it is unsupported. We are in the process of releasing some important additions to it and once this is in place, this syntax will be documented.

[2022-09-23 13:59] GithubMirek commented on #97594
#please-close

[2022-09-23 13:59] #97594 closed

[2022-09-23 14:28] Thorfinn60 opened #98899 "Cannot execute the script Find unhealthy DNS records in Azure DNS"
Hello,

I cannot execute the script it always ask to execute Login-AzAccount before run the script even if I already run the command and login successfully.
![image](https://user-images.githubusercontent.com/41127700/191981077-ff441b60-e553-4f24-8e95-802b158d540c.png)
Have you any idea of the reason I cannot run the script ?

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-09-23 14:32] nickelTyle commented on #42737
You need to basically set it up EXACTLY as described here - https://learn.microsoft.com/en-us/azure/bastion/bastion-nsg#apply. The validation seems stingy because in my testing, it requires this rule be present verbatim, even though the traffic capture by this rule would already be allowed by the default "AllowVnetOutBound" rule

![image](https://user-images.githubusercontent.com/43578335/19198474

[2022-09-23 14:39] GithubMirek commented on #97330
Thank you for your valuable feedback. A Contributor role on the resource group is a high RBAC role and should only be only granted to a limited members since it manages the resource and by default can enable/disable different features and resources. The operational limitations apply to lower RBAC permissions whose members cannot enable or disable a policy or a feature. In the AAD-only auth example

[2022-09-23 14:52] rf-bcit opened #98901 "Step 8 under Create a Conditional Access policy"
Please check under "Create a Conditional Access policy" Step 8 for clarity, possibly has changed in the Portal

Under Access controls > select Block Access, and click Select.

Under Access controls, I had to go under the Grant Section and then click "0 controls selected" option before the option for Block Access appeared on the right that I could then select

---
#### Document Details

⚠ *Do not e

[2022-09-23 15:06] drcrook1 opened #98902 "Limit to Consumer Groups attached to IoT Hub's Event Hub Compatible Name Space?"
There are explicit limits for Event Hub for the number of Consumer Groups.  What are these limits for IoT Hub?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ec6fc6a5-9bf6-889e-075d-b5b009e67d1f
* Version Independent ID: f3d6fa56-a494-fec8-50e3-f8682c90ac42
* Content: [Understand Azure IoT Hub quotas and throttling](h

[2022-09-23 15:21] psignoret opened #98903 "Do not re-use client app IDs"
This article illustrates the poor practice of re-using an app ID. (In this case, the sample code re-uses the app ID for Azure PowerShell, in code which is not Azure PowerShell.)

Please update this article to point to guidance for registering a native client application and use that app's app ID instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.co

[2022-09-23 15:21] psignoret opened #98904 "Do not re-use client app IDs"
This article illustrates the poor practice of re-using an app ID. (In this case, the sample code re-uses the app ID for Azure PowerShell, in code which is not Azure PowerShell.)

Please update this article to point to guidance for registering a native client application, and use that app's app ID instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.c

[2022-09-23 15:26] briannoyes opened #98905 "Sample code doesn't work - need change the PublicClientApplication config"
I stepped through the sample code using exactly the code in the Tutorial with no modifications other than those needed for plugging in my app registration URLs and ids.

Once I had the sample all complete, I tried to run and got his error in the browser debugger console:
ERROR Error: Uncaught (in promise): ClientAuthError: endpoints_resolution_error: Error: could not resolve endpoints. Please chec

[2022-09-23 15:34] RamanathanChinnappan-MSFT commented on #98887
@lukos

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 15:35] OWinfreyATL commented on #98632
Hey @jkypeter

Yes going through the scenarios you listed they work exactly as you explained them here :)

[2022-09-23 15:36] RamanathanChinnappan-MSFT commented on #98889
@mosbahmajed

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 15:39] boclifton-MSFT opened #98906 "Tutorial refers to setting that doesn't exist"
In Step 8 of the section, "Create a Firebase project that supports FCM", a setting is referenced named "Server Key" but that setting does not exist in the current version of the Firebase Project Console's "Cloud Messaging" tab.  This is my first time working with Notification Hubs so I'm not sure where to find the Server Key.

![image](https://user-images.githubusercontent.com/102168009/191999243-

[2022-09-23 15:40] rytranwork opened #98907 "Put Note for currently available regions for product to reduce support ticket volume"
Hi team,

Would you able to include a note for available regions for Defender EASM? since it will reduce support ticket volume for Azure.

Thank you,

Ryan Tran

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ad120c2f-c1d6-dfcd-e393-74214c1473bf
* Version Independent ID: 3808fad7-df74-2005-a309-83b726eae4ef
* Content:

[2022-09-23 15:40] RamanathanChinnappan-MSFT commented on #98892
@KarthikATOS22

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 15:42] RamanathanChinnappan-MSFT commented on #98894
@viggotw

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 15:44] RamanathanChinnappan-MSFT commented on #98895
@JimThorstad

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 15:44] jassent opened #98908 "Clarify example for Upstream"
The section titled [Key Vault secret reference in URL template settings](https://learn.microsoft.com/en-us/azure/azure-signalr/concept-upstream#key-vault-secret-reference-in-url-template-settings) could use clarity in the example. The instructions provided are incorrect as they leave off the curly brackets in the example of the complete reference.

Here is the section with the issue:
3. Replace yo

[2022-09-23 15:46] RamanathanChinnappan-MSFT commented on #98899
@Thorfinn60

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 15:48] RamanathanChinnappan-MSFT commented on #98901
@rf-bcit

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 15:50] RamanathanChinnappan-MSFT commented on #98902
@drcrook1

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 15:52] RamanathanChinnappan-MSFT commented on #98904
@psignoret

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 15:54] mimckitt commented on #98859
Since we don't publish the ACU numbers for the v5 series, I am guessing that is why we also don't have the vCPU to core ratio.

@andysports8 can you comment further on this?

#assign: @andysports8

[2022-09-23 15:54] RamanathanChinnappan-MSFT commented on #98903
@psignoret

 you have raised twice and this case, I have closed right now

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-23 15:57] RamanathanChinnappan-MSFT commented on #98905
@briannoyes

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 15:58] Heidilohr commented on #98762
@ilikeyi The "N" editions aren't connected to language packs and don't include Windows Media Player by default, from what I understand. You'll need to use a standard edition in order to install Windows Media Player.

[2022-09-23 15:59] RamanathanChinnappan-MSFT commented on #98906
@boclifton-MSFT

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 16:01] RamanathanChinnappan-MSFT commented on #98907
@rytranwork

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 16:02] drcrook1 commented on #98902
Awesome.  This item really impacts our ability to plan for the scale IoT Hub can handle from an integrations perspective.  We can always throw more IoT Hubs, but we need to know how many we need.

[2022-09-23 16:03] RamanathanChinnappan-MSFT commented on #98908
@jassent

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-23 16:04] khdownie commented on #98871
@haider392 you can find more detail about the $SamAccountName parameter here:

https://learn.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-enable

That said, I am going to look into this about AES 256. The wiki could be out of date, but I'm not 100% sure.

[2022-09-23 16:30] Taborda-Web opened #98910 "Guests users in a Security groups"
Guests' users in a Security groups

Please can review this documentation, because looks like is not possible to add guest users to a Security group, BUT a user with the necessary access role can do it with any problem.

In the Group Types is the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 04380f76-b771-d79c-

[2022-09-23 16:32] lukos opened #98911 "Deleting cluster but keeping the VNet"
Maybe a FAQ. I have a cluster with VNet that I added another non-cluster VM to. If I delete the cluster, is it possible to keep the VNet etc. that it created or do I have to move the VM somewhere else before I do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Indepe

[2022-09-23 16:36] psignoret commented on #98903
@RamanathanChinnappan-MSFT I raised two issues for two different articles:
* #98903 (this one) is for [articles/stream-analytics/stream-analytics-monitor-jobs.md](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/stream-analytics/stream-analytics-monitor-jobs.md)
* #98904 is for [articles/data-lake-analytics/data-lake-analytics-manage-use-dotnet-sdk.md](https://github.com/MicrosoftDoc

[2022-09-23 16:39] haider392 commented on #98871
@khdownie - Again, the issue is not with configuration of AD-DS. The customer was able to configure AD-DS auth for their storage account which has more than 15 characters. The issue was mounting it on their Windows machine. As per Azure files PG, if storage account name has more than 15 characters, then AES-256 is not supported. Customer enabled RC4 encryption and it worked for them!

[2022-09-23 16:49] stevemunk commented on #98867
@jagreen03im

Can you clarify what steps and in what article you are referring to? I don't see what you are referring to in the article being referenced in this issue:

 Content: [Work with indoor maps in Azure Maps Creator](https://learn.microsoft.com/en-us/azure/azure-maps/creator-indoor-maps)

[2022-09-23 16:52] jmarti326 opened #98912 "Title stills mention that the feature is in preview."
Remove preview from the title.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e7d93704-cc4c-04a0-beb4-84983853cbb1
* Version Independent ID: c999a603-b02d-a56d-1bef-0cd4916b6a2b
* Content: [Connect to Azure Blob Storage using SFTP (preview)](https://learn.microsoft.com/en-us/azure/storage/blobs/secure-file-transfer-pr

[2022-09-23 17:07] timlt commented on #98642
Thanks @ryanwinter

@anandadake thanks again for running the quickstart sample and raising the question.  You have the info to run the script at this point, just run as indicated in the doc (copy and paste the code, without using 'nohup' command).  Thank you!

#please-close

[2022-09-23 17:07] #98642 closed

[2022-09-23 17:16] sadukie commented on #96783
See also #83040, #86417

[2022-09-23 17:26] cynthn commented on #98800
#reassign:@mattmcinnes

[2022-09-23 17:26] cynthn commented on #98800
@mattmcinnes Can you take a look at this one on Monday?

[2022-09-23 17:48] khdownie commented on #98871
@haider392 thanks for clarifying this. I will reach out to Azure Files PMs and get this clarified in the docs. Appreciate you calling this out.

[2022-09-23 17:58] ezYakaEagle442 opened #98915 "Flight Recorder refer to Zulu only"
Flight Recorder refer to Zulu only, how to run Flight Recorder with the  MS build of OpenJDK , for Java 11 & 17 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: df68e904-7b05-38ba-4203-50eb8491946f
* Version Independent ID: 921377f7-e428-143d-70e4-c9efc25e41d1
* Content: [Configure Java apps - Azure App Service](https

[2022-09-23 18:05] altrivis opened #98917 "Reference to GSaaS"
In this article there is reference to GSaaS, this terminology was removed and should be Azure Orbital Ground Station (AOGS).

https://learn.microsoft.com/en-us/azure/orbital/prepare-network#prepare-subnet-for-vnet-injection

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1366df8a-9055-91e3-5666-e1eaa6cc0848
* Version I

[2022-09-23 18:22] Goobenator opened #98918 "Global Admin prerequisite hinders the utility of the feature"
"Reviewers can view, block, or deny admin consent requests, but only global administrators can approve admin consent requests"

This restriction essentially makes the feature useless at any organization that does not have an extremely well funded SOC and even a large shop what is the point of a reviewer? I suppose they can reject the request faster, but then you will get user complaints that go to

[2022-09-23 18:25] ashokgop opened #98919 "Potential typo in paragraph #3"
[Enter feedback here]
Paragraph #3
Azure Virtual Network Manager (AVNM) is a management service that enables users to group, configure, deploy, and manage Virtual Networks globally across subscriptions. AVNM security configuration allows users to define a collection of rules that can be applied to one or more network security groups at the global level. These security rules have a higher priority

[2022-09-23 18:35] WilliamDAssafMSFT commented on #75689
@keen85 We apologize for the delay in this response. This has been tracked as an internal effort for some time now and we will update when/if we make a change here.

[2022-09-23 18:50] simonkurtz-MSFT opened #98920 "Wrong host example for URL Rewrite"
We suggest how to do a rewrite and show a host change from `abc.com` to `xyz.com`; however, the linked example only illustrates a path, not a host change.

![image](https://user-images.githubusercontent.com/84809797/192036868-6afa95c9-1ed0-4cb7-b8d6-bac5bdd7e0fb.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc6

[2022-09-23 19:01] JnHs commented on #98236
Glad to hear this is helpful. The permission requirements would apply to anything that might restrict the read/write access, including Policy or anything else.
I'm going to close this issue now but please let me know if you have further questions!
#please-close

[2022-09-23 19:01] #98236 closed

[2022-09-23 19:14] ChaitanyaNaykodi-MSFT commented on #98920
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-23 19:16] ChaitanyaNaykodi-MSFT commented on #98919
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-23 19:22] ozkary opened #98923 "Add a note that this integration does not work for the managed functions with SWA"
[Enter feedback here]
This article does provide the prerequisites for the key vault integration. It would be helpful to provide a highlighted note if this approach is not supported for managed functions. Even perhaps provide a link to the workaround like calling key vault from the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue l

[2022-09-23 19:23] simonkurtz-MSFT commented on #98920
Furthermore, rewriting to a host with a different port would be of importance, so that `abc.com` -> `xyz.com:20443` could be possible.

[2022-09-23 19:27] onionhammer commented on #85642
Seems like the docs still havent improved here; should be reopened

[2022-09-23 19:39] DarinMacRae opened #98925 "Conflicting advice for configuring Application Insights for Function Apps"
In this article https://learn.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection it specifically warns NOT to add `services.AddApplicationInsightsTelemetry` in function apps.

![image](https://user-images.githubusercontent.com/3474753/192044376-a90cd15f-7334-407d-a3af-f1ceb93c9bc7.png)

However, in this document: https://learn.microsoft.com/en-us/azure/azure-monitor/ap

[2022-09-23 19:40] SnehaGunda commented on #82543
@sadukie Apologies for the long delay and thank you for bringing this up again. I submitted a fix to the doc in the above PR. Changes should be live by end of today.

[2022-09-23 19:40] SnehaGunda commented on #82543
Closing this issue now.

#please-close

[2022-09-23 19:40] #82543 closed

[2022-09-23 19:50] andrewkittredge opened #98927 "MaxConcurrentCalls missing"
The page mentions `MaxConcurrentCalls`, which is not documented @ https://learn.microsoft.com/en-us/azure/azure-functions/functions-host-json.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: acab3c1b-0e31-0bc2-c445-faecb6332f89
* Version Independent ID: a4d2c0a1-ac1a-35c2-80c1-f23663070974
* Content: [Concurrency in Az

[2022-09-23 19:58] msmbaldwin commented on #97469
Hi, @mcdonamw. We updated the screenshots on https://docs.microsoft.com/en-us/azure/key-vault/general/howto-logging?tabs=azure-cli to reflect the current portal. Thank you for letting us know that they were out-of-date -- we appreciate it!

[2022-09-23 19:58] msmbaldwin commented on #97469
#please-close

[2022-09-23 19:58] #97469 closed

[2022-09-23 20:02] asos-martinsmith opened #98928 "Provide detailed information on metrics."
[Enter feedback here]

I would expect to find either full documentation on all the metrics available or at least a link to find this.

I'm looking at some MongoRequests  diagnostic logs

 My suspicion is that the "time" is the time the request completed and I need to subtract duration to get the StartTime

(rather than add duration to the time to get the end time)

But I can't find any documentati

[2022-09-23 20:16] mumurug-MSFT commented on #98927
@andrewkittredge Thanks for your feedback. We will review and update as appropriate.

[2022-09-23 20:18] GeethaThatipatri-MSFT commented on #98928
Hi @asos-martinsmith Thank you for reaching out. We will look into it and update you as appropriate.

[2022-09-23 20:30] Wibusts opened #98929 "Scope not clear on question"
Customers are under impression that Guest users can't be added into Security groups:

![image](https://user-images.githubusercontent.com/62709550/192051452-1141485e-b904-4f08-a44c-fd89e079a51c.png)

There for when a privilege user adds a guest, they misinterpret that behavior like an issue.

In this other Article clearly state that guest users could be add to group by Groups owner and user with pr

[2022-09-23 20:31] willyt150 opened #98930 "MQTT Device is auto rejecting Cloud to Device messages for first time"
Hello,

This document specifically calls out that MQTT device communication cannot `Reject` a Cloud to Device message, and I can confirm that when I try to call the "RejectAsync" method on my DeviceClient, with MQTT, it throws an exception saying it's not supported.

However, we are experiencing for every brand new IoT Device, the first time we send a Cloud to Device message to it, that when the d

[2022-09-23 20:41] timlt commented on #95895
The pull request linked above has merged.  Thanks @timtay-microsoft.

@pradorodriguez, thanks for alerting us to this issue.  After pulling the updated sample, you should now be able to run the code with the original command in the doc.  Please let us know if you have a further issue with it.

#please-close

[2022-09-23 20:41] #95895 closed

[2022-09-23 21:03] ecfan commented on #42393
@netsameer: The original doc in question points at the doc that describes the specified steps: [https://learn.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-app#client-certificate-authentication](https://learn.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-app?tabs=azure-portal#client-certificate-authentication)

For maintainability reasons, the content isn't re

[2022-09-23 21:05] BryanTrach-MSFT commented on #97163
@fauberon Deployment credentials are solely meant for FTP and Git deployments, which is called out at the start of the linked document.

If you are using CLI, you will be prompted to sign into an Azure account. For this, you would go the path of RBAC permissions for your devs. Steps on how to create a custom RBAC role for your developer's accounts are shared [here](https://azure.github.io/AppServi

[2022-09-23 21:05] #97163 closed

[2022-09-23 21:19] khdownie commented on #98871
@haider392 I believe we address this issue at the link below. I know you had an email thread with Yun and others. Is there anything we should add to the article to clarify?

https://learn.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-windows-file-connection-problems?tabs=azure-portal#azure-files-on-premises-ad-ds-authentication-support-for-aes-256-kerberos-encryption

[2022-09-23 21:37] Imjustdave2 commented on #98863
Appreciate the reply, unfortunately I'm not seeing any info related to setting up or changing "Scheduled Agent Updates" in any of the  get, set, new- AzWvdHostPool  cmdlets.  or anyother cmdlet online.
I did try setting them via the portal and usign a get-AzWvdHostPool  didn't report anything related to scheduling time windows.  I hope I missed it but after a few hrs looking no luck.

[2022-09-23 22:02] #98866 closed

[2022-09-23 22:04] rayoef commented on #76562
Thanks for providing feedback that helps improve our documentation. We now link to the Region Availability page in the TOC instead of maintaining a list in this topic. We are closing the issue. #please-close

[2022-09-23 22:04] #76562 closed

[2022-09-23 22:07] rayoef commented on #76507
Thanks for providing feedback that helps improve our documentation. This issue has been resolved, and we are closing the issue. #please-close

[2022-09-23 22:07] #76507 closed

[2022-09-23 22:12] rayoef commented on #71071
#unassign-reviewer:@mlearned
#assign-reviewer:@JnHs

[2022-09-23 22:17] rayoef commented on #71071
#unassign: @mlearned #assign: @JnHs

[2022-09-23 22:20] ChaitanyaNaykodi-MSFT commented on #98844
Hello @FilipeCoutinhoSantos,

The information present in the documentation is correct. The public domain purviewstudio.azure.com does not exist.
![image](https://user-images.githubusercontent.com/67453298/192063554-f9527072-d485-44e0-96b5-08096a1fb9e5.png)

You can find additional information in this [documentation here.](https://learn.microsoft.com/en-us/azure/purview/catalog-private-link-name-re

[2022-09-23 22:20] #98844 closed

[2022-09-23 22:20] rayoef commented on #59115
#unassign: @mlearned

[2022-09-23 22:21] rayoef commented on #59115
#assign: @JnHs

[2022-09-23 22:22] rayoef commented on #71071
#unassign: @mlearned

[2022-09-23 22:29] rayoef commented on #57785
#unassign: @mlearned

[2022-09-23 22:30] #57785 closed

[2022-09-23 22:31] JnHs commented on #59115
Hi @sormita - first of all, I apologize for the extremely long time without responding to your issue. As this is quite old, I am going to close it now. Please see our latest topic at https://learn.microsoft.com/en-us/azure/azure-arc/kubernetes/tutorial-use-gitops-flux2 and you are welcome to file new GitHub Issues if you still have concerns. Thank you and again, my apologies!

[2022-09-23 22:31] #59115 closed

[2022-09-23 22:31] rayoef commented on #59113
#unassign: @mlearned

[2022-09-23 22:31] #59113 closed

[2022-09-23 22:32] JnHs commented on #71071
Hi @polarapfel - first of all, I apologize for the extremely long time to respond, it looks like this issue fell through the cracks.
As we've made many updates since the time you logged the issue, I wanted to check if this is still a concern with the current version of the doc?

[2022-09-23 22:45] enettekoven commented on #98848
@khdownie yes, i tested my code and that did work.

The code currently on the site doesn't work. Also in subsequent code samples on follow-up pages the current code doesn't work.

[2022-09-23 22:47] rayoef commented on #76186
Thanks for providing feedback that helps improve our documentation. This issue has been resolved, and we are closing the issue. #please-close

[2022-09-23 22:49] rayoef commented on #86951
#assign: @johnmarco

[2022-09-23 23:02] khdownie commented on #98848
@enettekoven thanks for letting us know and for your contribution. I'll get this updated.

[2022-09-23 23:16] MarileeTurscak-MSFT commented on #98743
Hi @Norrch2 , here is a sample user journey that can extract an id_token_hint:
 https://github.com/azure-ad-b2c/samples/blob/master/policies/invite/policy/SignUpInvitation.xml#L161

Can you clarify what issues you are facing with the other claim resolvers?

[2022-09-23 23:27] TheAlistairRoss opened #98935 "App Service Diagnostic Logs Naming Confusion"
Hello

It has been reported [here](https://learn.microsoft.com/en-us/answers/questions/1021097/azure-app-service-diagnostic-logs.html) that there are discrepancies between the diagnostics logs listed in the docs and the Azure Portal. While I have explained the difference between the different logs between different tiers, this document still shows different names for each diagnostic setting to tha

[2022-09-23 23:35] joseharriaga opened #98936 "Wrong link to Overview page of "Sentiment analysis and opinion mining""
The hyperlink under "Sentiment analysis and opinion mining" links to the [Overview page of "Language Detection"](https://learn.microsoft.com/en-us/azure/cognitive-services/language-service/language-detection/overview) instead of the [Overview page of "Sentiment analysis and opinion mining"](https://learn.microsoft.com/en-us/azure/cognitive-services/language-service/sentiment-opinion-mining/overvie

[2022-09-23 23:56] dlepow commented on #98680
@yichungyu - Thanks for the doc request. I am added it to our backlog and will evaluate it for a future update of this article. According to our usual process for documentation requests, I'll proceed now to close this issue. In the meantime, if you are looking for specific steps/options for this scenario, you could ask for guidance from the community at [Microsoft Q&A](https://learn.microsoft.com/

[2022-09-23 23:56] #98680 closed

[2022-09-24 00:06] dlepow commented on #39558
Apologies for slow response on this issue. It appears that the documentation has been updated to mention WAF rules that can interfere with functionality of the developer portal in [this section](https://learn.microsoft.com/en-us/azure/api-management/api-management-howto-integrate-internal-vnet-appgateway#expose-the-developer-portal-and-management-endpoint-externally-through-application-gateway). A

[2022-09-24 00:06] #39558 closed

[2022-09-24 00:16] dlepow commented on #86918
@tiago-msft - Apologies for slow response on this issue. I'll need to investigate this further to understand what additional documentation might be needed.

[2022-09-24 01:02] tiago-msft commented on #86918
Hi @dlepow, no problem at all!

This seems to be a new (necessary) exception for CRS 3.2, which at the time was in preview.

[2022-09-24 02:17] KiPIDesTAN opened #98939 "PowerShell script command error"
There is a PowerShell script specifically located [here ](https://learn.microsoft.com/en-us/azure/azure-monitor/agents/data-collection-text-log#verify-that-the-text-logs-are-being-populated)to help debug loading file-based logs.

The third to last line reads "Sleep $sleepSeconds". On PowerShell 7.2.6 core, this will fail with a "The term 'Sleep' is not recognized as a name of a cmdlet,...". I beli

[2022-09-24 03:24] milope opened #98940 ""Version Identifier" is misspelled."
The version identifier field is misspelled as 'version identifer'.

![image](https://user-images.githubusercontent.com/25537107/192078003-c23d6a0e-f9b3-4470-86fb-0b3b9389a39a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 25a33ff6-8ffc-ad26-d429-3170bcca9498
* Version Independent ID: fcd9c088-8b17-e53b-4c93-f90f2

[2022-09-24 03:56] qlycool opened #98941 "missing } at the end of the "Labels file format" code"
missing } at the end of the "Labels file format" code

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 882a465b-67b6-4a4b-293c-3ff6548b4bd8
* Version Independent ID: 12a2eed8-f9e9-6257-da5d-d1f1c8d4a3ca
* Content: [Custom text classification data formats - Azure Cognitive Services](https://learn.microsoft.com/en-us/azur

[2022-09-24 04:14] BryanTrach-MSFT commented on #98915
@ezYakaEagle442 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-09-24 04:18] fmokren opened #98942 "Viewing .avro files in Azure Storage Explorer"
What does this statement mean, "You can view captured files in any tool such as [Azure Storage Explorer]"?

Yes, I can list the files in Azure Storage Explorer, I can verify the existence of avro files, but I can not view the contents of the file in Azure Storage Explorer.

If I gave you a .txt file what would be more correct to say, "You can view the .txt file in Windows File Explorer", or " You

[2022-09-24 04:21] #98923 closed

[2022-09-24 04:22] jkypeter commented on #98632
Thank you very much.

[2022-09-24 04:22] #98632 closed

[2022-09-24 04:23] BryanTrach-MSFT commented on #98923
@ozkary Thank you for bringing this to our attention. After validating, we have added a brief note to save others time. The doc author can come through later to add detailed information on workaround if necessary. This change should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly

[2022-09-24 04:32] SaibabaBalapur-MSFT commented on #98910
@Taborda-Web
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 04:35] RamanathanChinnappan-MSFT commented on #98912
@jmarti326
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 04:36] SaibabaBalapur-MSFT commented on #98911
@lukos
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 04:37] RamanathanChinnappan-MSFT commented on #98918
@Goobenator

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 04:45] RamanathanChinnappan-MSFT commented on #98917
@altrivis

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-24 04:47] RamanathanChinnappan-MSFT commented on #98925
@DarinMacRae

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 04:49] RamanathanChinnappan-MSFT commented on #98929
@Wibusts

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 04:51] RamanathanChinnappan-MSFT commented on #98930
@willyt150

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 04:52] RamanathanChinnappan-MSFT commented on #98935
@TheAlistairRoss

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 04:55] RamanathanChinnappan-MSFT commented on #98936
@joseharriaga

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 04:57] RamanathanChinnappan-MSFT commented on #98939
@KiPIDesTAN

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 04:59] RamanathanChinnappan-MSFT commented on #98940
@milope

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 05:00] RamanathanChinnappan-MSFT commented on #98941
@qlycool

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 05:02] RamanathanChinnappan-MSFT commented on #98942
@fmokren

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 05:06] willyt150 commented on #98930
@RamanathanChinnappan-MSFT thanks for the response, do you have any idea or guess as to when you'll have more information?

We're trying to get these new cloud to device message features released for our projects, however this issue arising is going to limit/prevent us being able to do that and I'm going to need to be able to provide some idea on timeline.

Thanks!

[2022-09-24 05:22] RamanathanChinnappan-MSFT commented on #98883
@janerikohman

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 06:55] lnavarette opened #98943 "configuring resource for OpenIdConnect federation"
This page should include instruction on how to pass a resource param to the authorize endpoint. I tried adding a resource attribute in the metadata, but it's not sent on the request to the authorize api.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb586f8-c1ff-7676-08b3-915ee00383b0
* Version Independent ID: f1770

[2022-09-24 10:05] MzMaffei opened #98944 "configure now can ge a guess ?!?"
if Point-to-Point is not configured (and is not), the "configure now" bring to a page where there are so many elements to be defined that, even with good inferring skills", it looks impossible to generate anything reasonable

[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e0713cee-b339-39f2-96af-

[2022-09-24 11:36] n1gzd opened #98945 "kustosamplesfiles either do not exist or are not accessible. No data is inserted."
This source does not appear to exist: .ingest into table StormEvents 'https://kustosamplefiles.blob.core.windows.net/samplefiles/StormEvents.csv?sv=2019-12-12&ss=b&srt=o&sp=r&se=2022-09-05T02:23:52Z&st=2020-09-04T18:23:52Z&spr=https&sig=VrOfQMT1gUrHltJ8uhjYcCequEcfhjyyMX%2FSc3xsCy4%3D' with (ignoreFirstRecord=true)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.m

[2022-09-24 13:37] mewinks opened #98946 "Please update terminal command for python to python3"
It'd save a lot of unnecessary time if someone could please update the instructions for Mac terminal commands for M1 users to also include python3 if they are using a later version. I spent forever trying to figure out why it wouldn't work and came across the answer on StackOverflow. Many thanks! :)

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ G

[2022-09-24 13:50] stdin82 commented on #98762
He means that in version 22H2, MediaPlayer is now a FOD with satellite packages, and they should be included in LOF iso

P.S. this doc need updating to reflect that too
https://learn.microsoft.com/en-us/windows-hardware/manufacture/desktop/features-on-demand-non-language-fod

[2022-09-24 14:30] RamanathanChinnappan-MSFT commented on #98943
@lnavarette

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 14:40] grajdeanserghei commented on #78970
@haodeon indeed it does not result from the quoted text in issue, but it results in my opinion from this _"so any issues with scaling can affect all apps in the plan."_ Honestly I do not remember how I come to this conclusion at that time.

@ChaitanyaNaykodi-MSFT , I think this issue can be closed now, as documentation looks good in my opinion.
Thanks for your help!

[2022-09-24 14:47] DeanGross opened #98947 "What about Server 2022?"
There is a note with special instructions for Server 2019, but what about 2022? do we need to do the same thing for that Server OS?
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 861ceb04-ecea-4eb3-62b5-14163d12e3f2
* Version Independent ID: edac4607-e5d1-4d17-0af5-9ea432bfc5c6
* Content: [Tutorial - Add an on-premises

[2022-09-24 15:29] Jamal8548 opened #98949 "Adding this same scan logic in Bitbucket pipeline"
Hello All, I am student and I woudl like to add this same functionality to make my ACR secure with scanning images during CI/CD but this solution is for GitHub. Would anyone please write this same yaml file which is written in docs for BitBucket pipeline as i am using bitbucket and it is confusing for me to have same thing in BitBucket. Anyone please help me.

Solution for Github but i want with B

[2022-09-24 15:40] RamanathanChinnappan-MSFT commented on #98944
@MzMaffei

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 15:46] RamanathanChinnappan-MSFT commented on #98945
@n1gzd

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 15:47] RamanathanChinnappan-MSFT commented on #98946
@mewinks

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 15:48] RamanathanChinnappan-MSFT commented on #98947
@DeanGross

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 15:52] RamanathanChinnappan-MSFT commented on #98949
@Jamal8548

Thanks for your feedback! We will investigate and update as appropriate.

We have assigned the issue to author and will provide further updates.

[2022-09-24 16:00] wesley-trust opened #98950 "Update Checklist for using large scale sets to include information about Azure Compute Gallery images."
The bullet point: "Scale sets created from custom images (VM images you create and upload yourself) can currently scale up to 600 VMs." may be out of date.

I believe this only applies to Managed Images. If an image is part of a Azure Compute Gallery (formally known as Shared Image Gallery) the same limit of 1,000 VMs applies as with Microsoft marketplace images I think.

From this Microsoft blog

[2022-09-24 16:52] RamanathanChinnappan-MSFT commented on #98950
@wesley-trust

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-24 18:29] dozer75 opened #98954 "KMS using KeyVault with RBAC protection fails using this description"
I tried to use my existing Key Vault that is RBAC enabled to enable KMS in a new cluster using the description in the referenced article, but when I do I just get the error:

[code]

I am not quite sure why this fails, I just followed the following steps in the description:

- I already have a RBAC key vault in the same resource group
- `az identity create --name MyIdentity --resource-group MyReso

[2022-09-24 19:09] jasonhorner opened #98955 "Questions about the technical accuracy of the article"
I have some questions about the technical accuracy of some of the content below:
](https://learn.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/design-guidance-for-replicated-tables?context=%2Fazure%2Fsynapse-analytics%2Fcontext%2Fcontext#performance-considerations-for-modifying-replicated-tables)

in this video: https://youtu.be/PlyQ8yOb8kc

it is stated the implementation under t

[2022-09-24 19:36] rossbod opened #98956 "3 times - success at every stage - but ended up with the "HTTP Error 500.30 - ASP.NET Core app failed to start""
Also tried this tutorial 3 times.  Successful all the way through.  Publish succeeded but ended up with the "HTTP Error 500.30 - ASP.NET Core app failed to start" when launching the app.

I also tried the simple Web App example recommended in the previous feedback - that worked fine.

Did you ever find a solution?
------------------------------

The tutorial below is far simpler and achieves the s

[2022-09-24 19:40] nbozov commented on #96843
Would you mind also giving some insight how to remove or change the region of the monitored object? In the script that was provided on the docs page some of our technical engineers ran it with the default location value.

[2022-09-24 20:26] elygre opened #98957 "Incorrect (Obsolete) "Important" notice on page can be removed"
This page contains the following Important Notice:

This is no longer correct; the public portal is fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ed4de54e-f544-0e42-5b0e-afe148b38667
* Version Independent ID: 4220c38a-28ee-87bb-c270-b7fd3e97043b
* Content: [Enable end-to-end encryption using encryption at host

[2022-09-24 22:43] SeeleyFamily opened #98958 "No Register method in program.cs in Tutorial "Send notifications to specific users by using Azure Notification Hubs""
[Enter feedback here]
Trying to work through this tutorial:
Tutorial: Send notifications to specific users by using Azure Notification Hubs

Step 5 of "Authenticate clients to the WebAPI backend" section states:
"To register the message handler, add the following code at the end of the Register method in the Program.cs file:
C#

config.MessageHandlers.Add(new AuthenticationTestHandler());"

Howeve

[2022-09-24 23:02] robertstarling opened #98959 "bad link: 'Cable your two-node cluster device'"
'Cable your two-node cluster device' currently links to the following.

https://learn.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-deploy-install#cable-the-device

This doesn't reliably bring up the instructions for a two-node device.  In my browser, it opened instructions for a single-node device instead.

To fix this, can we link to the following instead?

https://learn.microsof

[2022-09-25 02:12] RamanathanChinnappan-MSFT commented on #98954
@dozer75

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-25 02:14] RamanathanChinnappan-MSFT commented on #98955
@jasonhorner

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-25 02:16] RamanathanChinnappan-MSFT commented on #98956
@rossbod

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-25 02:18] RamanathanChinnappan-MSFT commented on #98957
@elygre

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-25 02:20] RamanathanChinnappan-MSFT commented on #98958
@SeeleyFamily

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-25 02:22] RamanathanChinnappan-MSFT commented on #98959
@robertstarling

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-25 07:49] faustinopalma opened #98962 "the limit about 8500 eps is not clear enough"
The point about 8500 events per second is not clear. Some people are interpreting it related to the specific VM size with 4 CPU cores and 8 GB RAM, others interpret it as an absolute limit independent from the VM size.
Could you please clarify if the limit is referred to a specific VM size or if it is absolute?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micro

[2022-09-25 08:22] #98852 closed

[2022-09-25 08:26] AjayBathini-MSFT commented on #98863
@sefriend
Can you please check and add your comments on this doc update request as applicable.

[2022-09-25 08:27] AjayBathini-MSFT commented on #98950
@mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2022-09-25 10:47] wesley-trust commented on #98950
However, it may be that if Shallow replication is used with a Azure Compute Gallery, the 600 VM limit applies as it acts more like the older managed images, as per the blog post here: https://learn.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries?tabs=azure-cli#shallow-replication

[2022-09-25 11:42] hiteshpara commented on #98797
can anyone please help me with one following questions:
1. I have my own .txt files for model training. How can i find the **regionLength**
2. How can i find the offset of my own entities. I am assuming it is the start index of entity but when i cross check with loan entities dataset it not matching.

[2022-09-25 14:02] colmardev commented on #98241
Next week I'll need to move this resource linking, before MS will kill my VS benefits Azure subscription (!!)
Any help?

Thanks in advance

[2022-09-25 14:39] RamanathanChinnappan-MSFT commented on #98962
@faustinopalma

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-25 14:46] RamanathanChinnappan-MSFT commented on #98891
@edusa

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-25 15:34] Amondale opened #98964 "How to add www to a custom domain"
The way it used to work: if your certificate was SAN, and specified www in the cert details, Azure would offer to add that to a custom binding. It doesn't appear to do that any more. If I now have to create a new custom domain for `www` I hope this article would instruct me on that.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linki

[2022-09-25 15:59] RamanathanChinnappan-MSFT commented on #98875
#resolved

[2022-09-25 16:03] RamanathanChinnappan-MSFT commented on #98964
@Amondale

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-25 16:30] erlandsen-tech commented on #66817
Well, it does not fix the issue I encountered (and several others have encountered ) which is to add AD DS to storage account from other OSes than Windows server as the docs still demand that you have Active Directory module for powershell installed. As stated before; this module only runs under windows ..

[2022-09-25 17:23] arambazamba opened #98965 "docs on how to use a static web app that has be built by another pipeline"
I am somehow looking for a best practice pattern on how to deploy a static web app (Angular or React) that has be built, tested, tagged with a semver & published to Azure Artifacts or GitHub packages.

You state that the build step can be skipped using skipp_app_build. Does that mean that one has to copy the content of the tagged artifact to a custom path specified as app_location?

inputs:
  app_

[2022-09-25 17:28] #98708 closed

[2022-09-25 17:39] sparkf1 opened #98966 "Wrong registry information to "CloudKerberosTicketRetrievalEnabled" key"
The command line for adding registry value should be "reg add HKLM\Software\Microsoft\Windows\CurrentVersion\Policies\System\Kerberos\Parameters /v CloudKerberosTicketRetrievalEnabled /t REG_DWORD /d 1"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: eed4f875-3115-073b-5ffd-3b31eaf0205f
* Version Independent ID: a7476b

[2022-09-25 17:47] alftio-zz opened #98967 "Set Azure Resource Health Limitations"
Please add in [FAQ Section](https://learn.microsoft.com/en-us/azure/service-health/resource-health-faq)

1. Those scenarios where the Service Issue alerts are not going to be displayed in Service Health.
2. Support scope limits and liability for Azure Resource Health and the teams that are helping to communicate the situations.
3. Difference between an automatic Service Issue report and Manual Ser

[2022-09-25 18:11] AjayKumar-MSFT commented on #98746
wrylee,   The doc aims to provide steps to deploy Azure Static Web app using the Visual Studio Code extension| Azure CLI on Windows - by cloning the project to your local machine (Windows). I have followed the steps and was able to deploy the WebApp fine.  The 'Prerequisites' section should help to get started with the doc flow.
<img width="370" alt="image" src="https://user-images.githubuserconte

[2022-09-25 18:11] #98746 closed

[2022-09-25 20:16] jeevanions commented on #98836
Ok Looks like the Cloud-Init is enabled in the Ubuntu Linux image with offer `0001-com-ubuntu-server-focal`.

We were baking a golden image based on Ubuntu '0001-com-ubuntu-server-focal' and running all CIS hardening recommendations.  In one of the steps for some reason, it messes up with the Cloud-Init and hence the Cloud-Init script not firing when we create a VM from this baked image.  I though

[2022-09-25 22:00] jpgdn opened #98968 "ManagedOnlineEndpoint has no attributes "invoke" or "as_dict""
The code

`endpoint = ml_client.online_endpoints.get(name=endpoint_name, local=True)`
`request_file_path = "../model-1/sample-request.json"`
`endpoint.invoke(endpoint_name, request_file_path, local=True)`

generates this error:
**AttributeError: 'ManagedOnlineEndpoint' object has no attribute 'invoke'**

Similarly, the code

`endpoint = ml_client.online_endpoints.get(endpoint_name, local=True)`
`e

[2022-09-25 22:53] jackhorton opened #98969 ""Create your function app resources in Azure using Bicep" makes a functions v2/v3 application"
The example Bicep template in this article sets FUNCTIONS_EXTENSION_VERSION=~2 and does not set netFrameworkVersion, which leads to a function app that will be deprecated later this year.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5342810d-f9ee-fd3f-ce3b-621a185c5411
* Version Independent ID: 95440025-2c89-ab52-23

[2022-09-26 02:57] kevin-presalytics opened #98970 "Any plans to support Wireguard?"
Is Wireguard on the product roadmap?
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 98d7fd30-80a8-f690-6191-d97ae4cac174
* Version Independent ID: 3e15f99b-2f2d-7adc-a2d9-0b2184989db7
* Content: [Azure VPN Gateway FAQ](https://learn.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq)
* Content Source: [articles/

[2022-09-26 02:59] thanhnptran opened #98971 "No mention of mandatory Salesforce Marketing Cloud API Scope"
The API Integration on the Salesforce Marketing Cloud must have a specific scope enabled in order for the Azure Data Factory Connector to work. The scope is Hub > Campaign > Read. There is no mention of this anywhere either in the Azure connector page or on Salesforce official docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linki

[2022-09-26 03:38] YashikaTyagi-MSFT commented on #98838
@javikar
Thanks for pointing this out. I am assigning this issue to author to perform the required changes.
@msmbaldwin Could you please provide your input on this? Thanks in Advance.

[2022-09-26 03:46] AjayBathini-MSFT commented on #98830
@tomasAguirre
We are going to close this thread if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-26 03:46] #98830 closed

[2022-09-26 03:58] Naveenommi-MSFT commented on #98874
@algattik

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-26 04:05] SaibabaBalapur-MSFT commented on #98965
@arambazamba
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 04:07] SaibabaBalapur-MSFT commented on #98966
@sparkf1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 04:08] AjayBathini-MSFT commented on #98887
@lukos
please go through below link for your reference.
https://learn.microsoft.com/en-us/azure/aks/use-multiple-node-pools

[2022-09-26 04:19] AjayBathini-MSFT commented on #98869
@ericd-mst-github
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-26 04:21] SaibabaBalapur-MSFT commented on #98967
@alftio
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 04:24] SaibabaBalapur-MSFT commented on #98968
@jpgdn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 04:25] shaktisingh-msft commented on #98833
Hi @MeatRocket ,

Just checking if you could please be more specific on the document issue for triaging.

[2022-09-26 04:27] shaktisingh-msft commented on #98751
Hi @zaalion,

Just checking if you could please share more details about the document issue which might help us in getting rectified.

[2022-09-26 04:28] SaibabaBalapur-MSFT commented on #98969
@jackhorton
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 04:32] SaibabaBalapur-MSFT commented on #98970
@kevin-presalytics
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 04:34] SaibabaBalapur-MSFT commented on #98971
@thanhnptran
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 04:40] SwathiDhanwada-MSFT commented on #98147
@jun110 As we haven't heard from you, we will close the issue for now. If there are further questions , please reopen the issue or comment on this thread. We will be glad to assist you.

[2022-09-26 04:40] #98147 closed

[2022-09-26 04:42] SwathiDhanwada-MSFT commented on #98552
@timwarner-msft  Can you please provide your insights on this issue?

[2022-09-26 04:58] MayankBargali-MSFT commented on #98940
@milope Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-09-26 05:07] #98940 closed

[2022-09-26 05:19] joseharriaga opened #98973 "Typo in "Project development lifecycle" diagram"
The diagram in the "Project development lifecycle" section has a typo:

Expected:
"Select data and define schema"

Observed:
"Select data and _deifne_ schema"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 58c92023-7ced-1f84-d261-850bf3f9e8f6
* Version Independent ID: ea7e73e8-7157-a4bf-afe3-73d770673873
* Content: [W

[2022-09-26 05:39] SaibabaBalapur-MSFT commented on #98889
@mosbahmajed
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-09-26 05:52] MayankBargali-MSFT commented on #98711
@ahaverdings-deloitte We will now proceed to close this thread. If you are still facing the issue feel free to reach out to us on [Microsoft Q&A](https://learn.microsoft.com/en-us/answers/topics/25484/azure-api-management.html) for further assistance.

[2022-09-26 05:52] #98711 closed

[2022-09-26 05:54] SaibabaBalapur-MSFT commented on #98911
@lukos

As per your question, we understand that cluster as VM cluster. So here VNet, VM Cluster, Non-Cluster VM all these are separate entities, so you can keep VNet, and remove the cluster.

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-26 05:54] algattik opened #98974 "Fix text "ALTER TABLE or ALTER TABLE""
In the sentence "You can UNSET existing or SET new or existing table properties using ALTER TABLE or ALTER TABLE."

the last word should be corrected to VIEW instead of TABLE.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6c0c3a80-46ca-0963-d3f5-0d30e36d19d2
* Version Independent ID: 6c0c3a80-46ca-0963-d3f5-0d30e36d1

[2022-09-26 05:55] glennstephensms opened #98975 "Long Audio and Transcript and Audio only options are not available for all languages/locales"
_Long Audio and Transcript_ and _Audio only_ options are not available for all languages. Would recommend that this be noted in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7e6fc39a-3260-dd83-f0e9-9d2b123d0970
* Version Independent ID: ad59b5b5-fefa-5c01-751e-f83b74373d31
* Content: [How to prepare data fo

[2022-09-26 05:56] SaibabaBalapur-MSFT commented on #98957
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2022-09-26 05:59] Venkateshdodda-MSFT commented on #98956
@rossbod I have followed the documentation steps, deployed the webapp and didn't came across any issues.

HTTP Error 500.30 – ANCM In-Process Start Failure” is moreover a generic error. it may occur if worker process fails, and app doesn't start. The ASP.NET Core Module attempts to start the .NET Core CLR in-process, but it fails to start.
 The cause of a process startup failure can usually be det

[2022-09-26 06:01] SouravDutta-MSFT commented on #98912
@normesta

Can you please check and add your comments on this doc update request as applicable.

[2022-09-26 06:07] SouravDutta-MSFT commented on #98724
@jpachon87
We are going to close this thread but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-26 06:07] #98724 closed

[2022-09-26 06:09] rhuesken opened #98976 "Azure Postgres Migrattion steps not clear"
I'm trying to follow this guide in order to migrate an entire (Azure Postgres flexible) server, with multiple databases and multiple schema's in each database. I also need to migrate several roles from the source database.

Step1 and 3 (use pg_dump to create and restore a schema for a database) are not clear.

1. Which user should be passed to this pg_dump command?
2. The option -o is not supporte

[2022-09-26 06:21] Naveenommi-MSFT commented on #98874
#signoff

[2022-09-26 06:21] #98874 closed

[2022-09-26 06:24] #98831 closed

[2022-09-26 06:27] Naveenommi-MSFT commented on #98955
@jasonhorner

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-26 06:30] YashikaTyagi-MSFT commented on #98878
As per my understanding, Pass-through Authentication does not support certificate-based authentication for "Exchange Active Sync" devices. If you require certificate-based authentication, then AD FS should be used.
@billmath Could you please provide your inputs? Thanks

[2022-09-26 06:35] Naveenommi-MSFT commented on #98882
@michalmar

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-26 06:41] SouravDutta-MSFT commented on #98954
@MGoedtel

Can you please check and add your comments on this doc update request as applicable.

[2022-09-26 06:43] SwathiDhanwada-MSFT commented on #98939
Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-09-26 06:45] Naveenommi-MSFT commented on #98936
@joseharriaga

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-26 06:49] ManoharLakkoju-MSFT commented on #98962
@faustinopalma
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-26 07:05] Naveenommi-MSFT commented on #98945
@n1gzd
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@shsagir
Please can you Review and update the below link, we have Mentioned error screenshot below.

https://kustosamplefiles.blob.core.windows.net/samplefiles/StormEvents.csv?sv=2019-12-12&ss=b&srt=o&sp=r&se=2022-09-05T02:23:52Z&st=2020-09-04T18:23:52Z&spr=https&sig=VrOfQMT1gUr

[2022-09-26 07:10] YashikaTyagi-MSFT commented on #98901
@rf-bcit
Thanks for the contribution towards enhancement of document. Required changes have been performed and it will reflect in the document itself, once approve by author.

[2022-09-26 07:14] #98939 closed

[2022-09-26 07:33] ikivela opened #98977 "Wrong role assignment in video"
The video in the page show wrong role assignment. I followed the video instructions, but the Export in the IoT Central complains  "send permission error" or something. In the video the "Storage Account Contributor" is assigned.

Then I looked the Azure CLI script in the page. The "Storage Blob Data Contributor" role is assigned.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-09-26 07:45] #98901 closed

[2022-09-26 07:52] Jamal8548 commented on #98949
@RamanathanChinnappan-MSFT is it possible for you to write the same **yaml** here in comment please, so i can use this for my **bitbucket** pipeline to scan images in there? I need it a bit early.

[2022-09-26 07:54] aparna198809 opened #98978 "Issue with Answer to the question on What happens if I exceed the storage limit associated with my max throughput"
What happens if I exceed the storage limit associated with my max throughput?

Answer provided in the Microsoft docs: If the storage limit associated with the max throughput of the database or container is exceeded, Azure Cosmos DB will automatically increase the max throughput to the next highest RU/s that can support that level of storage.

For example, if you start with a max RU/s of 50,000 RU/

[2022-09-26 08:08] #96656 closed

[2022-09-26 08:13] lukos commented on #98911
You haven't answered the question. If you delete the cluster, it will automatically delete the resource group it created with all the items in it! Thanks to your answer, I could have just deleted a production virtual machine.

How is it possible to do this, it doesn't ask you when you delete the cluster whether you also want to delete the other items or not.

[2022-09-26 08:19] Cakoww opened #98979 "Clarification in the section Requiring user assignment for an app"
Accordingly with the document in the section "Requiring user assignment for an App" regarding the the behavior when user assignment is required, we can see:

When user assignment is required, only those users you assign to the application (either through direct user assignment or based on group membership) are able to sign in. They can access the app on the My Apps portal or by using a direct link

[2022-09-26 08:51] minjich opened #98981 "Confusing this sentence about Iaas Extension"
Confusing this sentence about Iaas Extension:

"To manage your SQL Server VM from the portal, register it with the SQL IaaS Agent extension in [lightweight management mode](https://learn.microsoft.com/ko-kr/azure/azure-sql/virtual-machines/windows/sql-agent-extension-manually-register-single-vm?view=azuresql#lightweight-mode), currently the only mode supported with FCI and SQL Server on Azure VMs.

[2022-09-26 08:53] SaibabaBalapur-MSFT commented on #98973
@joseharriaga
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 08:57] SaibabaBalapur-MSFT commented on #98974
@algattik
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 08:59] SaibabaBalapur-MSFT commented on #98975
@glennstephensms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 09:04] SaibabaBalapur-MSFT commented on #98976
@rhuesken
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 09:06] rgkey9000 opened #98982 "Rights required for accessing a users OneDrive is missing"
Is this only GA or is there also an individuel role that can do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0f9558c0-abb6-24f8-81c8-9000b80539e8
* Version Independent ID: a4739135-863b-27bb-1f2e-cf297f21b4cc
* Content: [Least privileged roles by task - Azure Active Directory - Microsoft Entra](https://learn.m

[2022-09-26 09:07] SaibabaBalapur-MSFT commented on #98977
@ikivela
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 09:11] SaibabaBalapur-MSFT commented on #98978
@aparna198809
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 09:13] SaibabaBalapur-MSFT commented on #98979
@Cakoww
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 09:16] SaibabaBalapur-MSFT commented on #98981
@minjich
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 09:18] SaibabaBalapur-MSFT commented on #98982
@rgkey9000
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-26 09:29] SouravDutta-MSFT commented on #98966
@khdownie

Can you please check and add your comments on this doc update request as applicable.

[2022-09-26 09:30] urbantz-technical-support commented on #97918
Hey @Aarthi-Vijayaraghavan

Thanks for the response. We understood that and in fact a very similar line appears in the aks documentation regarding ephemeral storage.

My problem is you claim the `Dadsv5` series of VM's support this yet the table that the docs show is this one.
![image](https://user-images.githubusercontent.com/98543028/192241589-8da4e674-e637-4724-ac46-2aa5dbac8f46.png)

It looks

[2022-09-26 09:44] ManoharLakkoju-MSFT commented on #98918
@Goobenator
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue t

[2022-09-26 09:44] #98918 closed

[2022-09-26 09:46] mostafaelkttan opened #98983 "ArtifactFailed"
im using flux as my gitops method to deploy to Aks i already gave permission for AKS to access the azure container service but when i create a helm release i face this issue i can install the helm chart manual into the cluster
 "message": "HelmChart 'cluster-config/cluster-config-agoraapp' is not ready",
        "reason": "ArtifactFailed",
        "status": "False",
        "type": "Ready"

[2022-09-26 09:47] nachoarnaz opened #98984 "Scenario: Secure traffic between Application Gateway and backend pools"
In the doc is needed to include Propagate Gateway routes to Yes on the route table where 0.0.0.0/0 is configured in order to vWAN learns the routes

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 15f6fb6f-5b91-cea5-d95d-dc4c09d2c58c
* Version Independent ID: 11a6d253-6a6d-d7f5-17e8-01eb4e90f369
* Content: [Secure traff

[2022-09-26 09:50] shaktisingh-msft commented on #98976
Hi @croblesm,

Could you please look into this documentation enhancement request.

[2022-09-26 10:13] SaibabaBalapur-MSFT commented on #98911
@lukos
I'm going to assign this to the document author so they can take a look at it accordingly.

@MGoedtel
Can you please check and add your comments on this above question.

[2022-09-26 10:19] SaibabaBalapur-MSFT commented on #98983
@mostafaelkttan

Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-09-26 10:21] GitaraniSharma-MSFT commented on #98984
@nachoarnaz , thank you for your feedback. We'll review this and get back to you shortly!

[2022-09-26 10:23] balachander1964 opened #98985 "Tuning hyper-parameters when training Form Recognizer models"
Hi, I request you to let me know how to tune hyper-parameters when training a custom form recognizer model. The models we train using the studio without tuning hyper-parameters do not provide accurate results. I look forward to your reply. Thanks. Bala
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* I

[2022-09-26 10:50] anas1986 opened #98987 "Document missing MANY important information"
The private endpoint document is poorly written, very confusing, and missing many important information. Examples:
1. I can't understand how there is no mention at all that when you create a private endpoint Azure will add a /32 route in the VNET and peered VNETs for it. This is a very important information missing
2. Routing behavior should be explained in more details. How some services like Azu

[2022-09-26 10:51] anishi1222 opened #98988 "Use AzureFunctionsWebHost__hostId instead of AzureFunctionsWebHost__hostid when overriding Host Id"
[Enter feedback here]

As discussed in the following issue below, not `AzureFunctionsWebHost__hostid` but `AzureFunctionsWebHost__hostId` should be used to override host Id. Some customers are confused with document description.

https://github.com/Azure/azure-functions-host/issues/2015#issuecomment-459914657

They followed description in the document, but they could not override host Id with `Azu

[2022-09-26 10:56] graafderk opened #98989 "Missing route"
When following the guide, I could not get OPC messages to stream into IoT Hub.
It seems to me a crucial step is missing, which I found in this post: https://www.linkedin.com/pulse/step-by-step-guide-installing-opc-publisher-azure-iot-kevin-hilscher/

When creating the OPCPublisher module, a route should also be created:
[code]

After adding this, I can start seeing messages flowing into IoT Hub us

[2022-09-26 11:00] javikar commented on #98838
No problem,

I have been reading more documents these days.

We can encrypt virtual machines and Azure SQL with .BYOK key

In this document it refers to a *2048 RSA key* also.

Azure Disk Encryption for Windows VMs
https://learn.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-overview

Key encryption key (KEK) The asymmetric key (*RSA 2048*) that you can use
to protect or wrap t

[2022-09-26 11:04] chaosifier opened #98990 "Missing RoomCallLocator in SDK."
The example shows usage of RoomCallLocator to join Rooms, but the specified class is nowhere to be found. Please remove this section or add links to respective SDK. This is misleading.

![image](https://user-images.githubusercontent.com/7871740/192417868-5036f953-8b38-4790-af1c-00ac0bd684c7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHu

[2022-09-26 11:13] ManoharLakkoju-MSFT commented on #98905
@briannoyes
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-26 11:15] manjitsin opened #98991 "Broken Link in the "Service Principal for CI/CD" document"
Broken Link in the "Service Principal for CI/CD" document

The **Basic Python Template** Link is broken in this paragraph of the page- https://learn.microsoft.com/en-us/azure/databricks/dev-tools/ci-cd/ci-cd-sp#set-up-azure-pipelines

The page shows 404- Not Found Error

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2022-09-26 11:25] elygre opened #98992 "Wrong information regarding Native Azure AD authentication for macOS"
The page contains the following statement:

However, on 9 August 2021 the following announcement was made on <https://azure.microsoft.com/en-us/updates/general-availability-ga-of-azure-vpn-client-for-macos/>:

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a3113b20-0f6c-988e-444b-eff387f3ffef
* Version Independent ID:

[2022-09-26 11:37] Venkateshdodda-MSFT commented on #98543
@Marwaabouawad I will check with content author team and update the documentation accordingly.

[2022-09-26 11:57] AshokPeddakotla-MSFT commented on #98989
@graafderk Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-09-26 12:13] MuralidaranCT opened #98996 "Declaration of mlflow_client MISSING"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ec096d6a-c8fb-60d3-0391-eb9b5461c139
* Version Independent ID: 9472bce0-fd99-60f5-df59-09bf53c839ed
* Content: [Local inference using ONNX for AutoML image - Azure Machine Learning](https://learn.microsoft.com/en-us/azure/machine-learning/how-to-infe

[2022-09-26 12:13] MuralidaranCT commented on #98996
Declaration of mlflow_client is MISSING

[2022-09-26 12:26] MughundhanRaveendran-MSFT commented on #98567
@krisrajzlive , Please share your code so that we can try to repro at our end

[2022-09-26 12:27] Jason239 opened #98997 "MPE_ENC_ENCRYPTION_NOT_SET_IN_DELIVERY_POLICY in HLS(FairPlay) stream"
I packaged it with HLS CBCS, but the manifest files are accessed, but the media files are not accessed with the error below.

[code]

I implemented the AMS v3 API call example with .NET SDK.
I'm using custom content key policy and streaming policy.
The problem is that DASH-CENC (Widevine, PlayReady) content packaged in the same way can access media files, but not HLS-CBCS content.

I think I alrea

[2022-09-26 12:45] ehrnst opened #98998 "View which managed identities has access"
Hi.

Can you provide a way to see which managed identities has access to app roles on the application? I haven't figured out how to do that from the application perspective.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a32925b4-4773-501a-590e-0ed0d3c017ce
* Version Independent ID: f2b2e4d7-90e1-96c1-cf54-1a1144f6b0e

[2022-09-26 12:47] Naveenommi-MSFT commented on #98974
@algattik

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.