[2019-01-18 18:58] #22684 closed

[2019-01-18 18:59] Cookzenberg commented on #22358
My theory is that the whole connection is timing out and not just the token because when I pass the connection into the context I am supposed to control the whole lifecycle of the connection, whereas the context does it for me if I only pass a connection string.

I still don't know how to access the Access Token through the context yet though.

[2019-01-18 19:13] branstraub opened #22802 "Site Recovery Fails to attach policy to VCenter"
The policy fails to attach. Its saying something about:

ERROR ID
575
ERROR MESSAGE
The resource already exists under resource name 'b1954b1b-fa00-41c9-9a25-236b701de815'.
POSSIBLE CAUSES
The resource was created before using resource name 'b1954b1b-fa00-41c9-9a25-236b701de815' but now being recreated using a new name '09432bd9-5c8b-47df-badc-3d05bfb29f0e'.
RECOMMENDATION
Use the resource's existi

[2019-01-18 19:15] mumian commented on #22731
@artmasa I am glad you resolved the issue.

#please-close

[2019-01-18 19:17] femsulu commented on #22765
@ericcwk Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-18 19:20] KrishnaG-MSFT commented on #22731
@artmasa Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-18 19:20] #22731 closed

[2019-01-18 19:20] femsulu commented on #22794
@rgamage Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-18 19:21] boreys opened #22803 "new revision does not show product name"
After adding a new revision, I don't see the product name listed under that new revision. And If I try to manually add it, it keeps coming back to empty. However, it works, i can query my api with the subscription key associated with that product. The expected behavior is that the new revision should be part of a product too. I can provide more detail via e-mail if that is not clear.

[2019-01-18 19:23] boreys opened #22804 "New revision doesn't show product name"
After adding a new revision, I don't see the product name listed under that new revision. And If I try to manually add it, it keeps coming back to empty. However, it works, i can query my api with the subscription key associated with that product. The expected behavior is that the new revision should be part of a product too. I can provide more detail via e-mail if that is not clear.

---
#### Doc

[2019-01-18 19:33] mike-urnun-msft commented on #22644
@rizwaans Just following up here, if any further questions, let me know :) Otherwise, we'll proceed to close this issue.

[2019-01-18 19:35] mike-urnun-msft commented on #22685
@seesharpdev Following up here, please share any repro steps and we'll help you get unblocked, that is, if still you are :) Otherwise, we'll proceed to close this issue.

[2019-01-18 19:40] j-martens commented on #19095
This article was retired. #please-close

[2019-01-18 19:41] ajlam commented on #21793
@vsalvino , thanks for identifying this issue. I will add a note to the documentation about using Windows + newer versions of the mysql.exe.

[2019-01-18 19:41] TravisCragg-MSFT commented on #22791
@amiraBN We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-18 19:41] #22791 closed

[2019-01-18 19:43] TravisCragg-MSFT commented on #22801
@jonwbstr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-18 19:47] j-martens commented on #21581
@mx-iao - Can you comment please?

[2019-01-18 19:47] Grace-MacJones-MSFT commented on #22106
@codebeaulieu  okay keep us updated. let us know if you're still getting that error

[2019-01-18 19:48] TravisCragg-MSFT commented on #22728
@Teodelas The [Service-specific schemas for resource diagnostic logs section](Service-specific schemas for resource diagnostic logs) already links to the backup data model. They use the full service name of Recovery Services for the product. Does this give enough info?

[2019-01-18 19:51] TravisCragg-MSFT commented on #22742
@HueVang We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-18 19:51] #22742 closed

[2019-01-18 19:53] #8534 closed

[2019-01-18 19:53] #8628 closed

[2019-01-18 19:53] #8693 closed

[2019-01-18 19:54] #8903 closed

[2019-01-18 19:54] #9406 closed

[2019-01-18 19:54] #9445 closed

[2019-01-18 19:54] #11186 closed

[2019-01-18 19:55] #13048 closed

[2019-01-18 19:55] #16731 closed

[2019-01-18 19:55] #17760 closed

[2019-01-18 19:55] #19670 closed

[2019-01-18 19:55] #20985 closed

[2019-01-18 19:56] #20990 closed

[2019-01-18 19:56] #21153 closed

[2019-01-18 19:56] rimman commented on #22771
The table is correct in the documentation. The row above it has the "Storage bill for container in West US" and the last row "torage bill for 3 additional regions - East US, North Europe, and East Asia". These two rows together depict the storage cost for 1TB in 4 regions. I hope it helps.

[2019-01-18 19:56] #22398 closed

[2019-01-18 19:57] #22579 closed

[2019-01-18 19:57] #22608 closed

[2019-01-18 19:57] #22613 closed

[2019-01-18 19:59] j-martens commented on #21598
Great feedback. I've checked in a fix that will be published this evening.

#please-close

[2019-01-18 20:01] Grace-MacJones-MSFT commented on #22776
Hi @raja4014, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-18 20:07] wp1107 commented on #22225
Thanks for your follow-up!

Still some issues following the doc and suggestions from your side, but I am trying something a little differently. Will update you when I get some results.

-Wei

From: Micah <notifications@github.com>
Sent: Friday, January 18, 2019 9:34 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Peng, Wei (Virence Health non-GE) <Wei.Peng1@ge.com>; Mention <me

[2019-01-18 20:09] MarileeTurscak-MSFT commented on #22792
I believe these take place every 20-30 minutes, based on this article. https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-synchronization#password-hash-synchronization-and-security-considerations

[2019-01-18 20:09] MarileeTurscak-MSFT commented on #22792
Please let me know if this answers your question.

CC: @eringreenlee for confirmation

[2019-01-18 20:11] liutang opened #22805 "Status unavailable."
I followed the instructions and I'm getting a lot of disconnects. Error 809 for IKEv2 on Windows 7 and server resets on OpenVPN. When I check the P2S configuration, it lists status as Unavailable. What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0224af-2059-f88c-bb14-926ef69bd835
* Version Independen

[2019-01-18 20:19] TravisCragg-MSFT commented on #22760
@ivanignatiev can you clarify what you are trying to accomplish in your scenario?

different Azure Stack instances can communicate with each other in the same way that 2 Azure regions can communicate. there are no restrictions between 2 Azure Stacks communicating between each other.

[2019-01-18 20:21] MarileeTurscak-MSFT commented on #22795
@0xJHarrison Are you referring to the steps in your "Configure your RADIUS client" section? What would you suggest in place of a numbered list?

[2019-01-18 20:30] TomArcherMsft commented on #20862
@jpetitte Thank you for your feedback. Unfortunately, I was on vacation when you originally opened the issue, which caused most of the delay. That is not to make an excuse as we should have better measures in place to respond to customer feedback in a more timely fashion when someone is out. I'm currently looking at ways to improve that aspect of our customer engagement.

As for your kind remarks

[2019-01-18 20:31] #20862 closed

[2019-01-18 20:36] SnehaGunda commented on #19607
@dylanwind if you don't have any further questions we will close this issue.

#please-close

[2019-01-18 20:38] #19095 closed

[2019-01-18 20:46] aljo-microsoft commented on #22625
@VipulM-MSFT

To provide additional guidance.

@smoms
Please provide additional clarity:

1. Are you using our programming models (Reliable Services or Actors) or Containers or guest Services?
2. Is the Publisher Subscriber going to be a mix of services (Reliable Services, Actors, Guest Services, and Containers) or only one kind?

Supported Networking patterns are documented here:
https://docs.mic

[2019-01-18 20:56] MGoedtel commented on #18745
@KeiroKamioka0000 - Finally got an answer, sorry for it taking so long.  The information in the documentation regarding the Activity Log retention of 90 days in the workspace is correct.  I hope this addresses your question.  #please-close.

[2019-01-18 21:01] aljo-microsoft commented on #14245
@MicahMcKittrick-MSFT
It worked for me for Live Demo for a talk I gave recently, and the only time i've experienced any issues with performance was when I was on a poor network between my developer machine and the cluster.

It seems as though the only actual error user's experienced was a result of not running VS as Admin.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/63498
created to add no

[2019-01-18 21:02] smoms commented on #22625
@VipulM-MSFT
1. with Phyton is not possible to use Reliable Services, right? So i could use Containers or guest services.
2. the microservices (again Python services) would be only one kind (above) and they will be both publisher and subscribers. They would communicate/interact with external world through Kafka.

tks

[2019-01-18 21:02] MicahMcKittrick-MSFT commented on #14245
@aljo-microsoft thanks. I will give it another go. Maybe I did something incorrect.

[2019-01-18 21:02] #14245 closed

[2019-01-18 21:04] bharathbkt opened #22806 "There are few issues with the code"
There are few issues with the code examples..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 557827fd-e323-7b37-2fb8-a2b6d5c10811
* Version Independent ID: 9b04167b-a8f8-d252-971e-e39b181ce589
* Content: [Tutorial: Build a .NET Core app to manage data stored in the SQL API account for Azure Cosmos DB](https://docs.micr

[2019-01-18 21:07] aljo-microsoft commented on #22625
@smoms
Do you have any other services in your cluster?
How many instances do you plan to run?

E.G. Are you planning to host your SF cluster in Azure, and deploy only this python service as a container (It is recommended you containerize your workload when you can for optimum portability).

[2019-01-18 21:21] KingdomOfEnds commented on #22477
@MarekLani - Glad to help! Your suggestions and recommendations have been relayed to other team members. We're reviewing ways to improve the API and documentation going forward. Thanks again!

[2019-01-18 21:26] v-maleli opened #22808 "Outdated information regarding deleting a service instance from the Azure AD Connect Health service"
It seems that the steps to deleting a service instance are outdated since the migration to the new AAD portal. There no longer are any blades with these names and thus customer get confused on where to go exactly to delete the service instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b52f01-3dee-6d41-f9f6-7710

[2019-01-18 21:38] MarileeTurscak-MSFT commented on #22778
You can't change the .onmicrosoft.com email alias, but that's just a unique ID for O365 anyway.

The easier solution is to[ create a local account](https://msdn.microsoft.com/Library/Azure/Ad/Graph/api/users-operations#CreateLocalAccountUser) in the Azure AD B2C directory through the Azure AD Graph API and then send an email message to the new user with instructions to "forget their password" whic

[2019-01-18 21:39] MarileeTurscak-MSFT commented on #22778
I would recommend posting this to MSDN here since we do are moving away from these more specific troubleshooting questions in the doc comments.

I monitor these forums daily and will ensure you get the help you need. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-01-18 21:39] #22778 closed

[2019-01-18 21:42] bbbford opened #22809 "Section incorrect"
The first section, "Register an application" appears to apply to Azure AD Single Tenant. Please update the section to apply to multi-tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 171f21f0-1c8c-42f9-dbb8-2da1ebc70892
* Version Independent ID: fe1d0a08-231e-5094-2406-1b548cb1174e
* Content: [Set up sign-in for a

[2019-01-18 21:44] julieMSFT commented on #8143
@twovvs Hello, I am new to the team and cleaning up old issues. I will be updating this article with the correct equation. Thank you for bringing this to our attention.  I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-01-18 21:44] julieMSFT commented on #8143
#[https://github.com/MicrosoftDocs/azure-docs-pr/pull/63506](url)

[2019-01-18 21:50] TylerMSFT commented on #17526
I have added a small section about getting the IP address of the deployed app using the command rwike77 mentions above to the doc. Should be live by tomorrow (1/19/2019).
#please-close

[2019-01-18 21:50] TylerMSFT commented on #17526
The PR is posted. Should be live tomorrow. I have marked with #please close

From: Micah <notifications@github.com>
Sent: Friday, January 11, 2019 4:10 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tyler Whitney <Tyler.Whitney@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How do we see the URL after the app has been deployed? (#1

[2019-01-18 21:51] #17526 closed

[2019-01-18 21:52] julieMSFT commented on #8143
#please-close

[2019-01-18 22:06] cherylmc commented on #19785
I've updated the article, which should publish shortly. The answer is:
Yes. Spoke VNets can communicate directly via Virtual Network Peering. However, we do not support VNets communicating transitively through the hub. For more information, see Virtual Network Peering.

[2019-01-18 22:07] cherylmc commented on #19785
#please-close

[2019-01-18 22:09] kashimiz commented on #16118
Durable Functions for JavaScript went GA in December, with an improved orchestration client experience that no longer returns this response when starting an orchestration. @Karishma-Tiwari-MSFT or @mike-urnun-msft , can this issue be closed?

[2019-01-18 22:25] francman opened #22810 "Log --- Undefined Reference to json"
Scanning dependencies of target app
[ 20%] Building C object CMakeFiles/app.dir/main.c.o
[ 40%] Building C object CMakeFiles/app.dir/bme280.c.o
[ 60%] Building C object CMakeFiles/app.dir/wiring.c.o
[ 80%] Building C object CMakeFiles/app.dir/telemetry.c.o
/home/pi/iot-hub-c-raspberrypi-client-app/telemetry.c: In function ‘exec_command’:
/home/pi/iot-hub-c-raspberrypi-client-app/telemetry.c:144:19

[2019-01-18 22:25] mbell85 opened #22811 "Change tracking issue (currently have open ticket with Azure Support)"
While I've generally had a good experience with Azure Automation and Change Tracking in particular, I've currently got a ticket in with support because I am unable to track file changes that occur at H:\Shares\[sharename]\*.

I did notice the documentation has been updated to contain the following statement under Known Issues: "For Windows files, Change Tracking does not currently detect when a ne

[2019-01-18 22:30] #21598 closed

[2019-01-18 22:30] #22080 closed

[2019-01-18 22:30] #22171 closed

[2019-01-18 22:42] zhiweiwangmsft commented on #22808
@v-maleli there is no change of the server deletion steps.  Can you please elaborate more on the confusion that customer has?

[2019-01-18 22:46] TravisCragg-MSFT commented on #19785
@SamirFarhat We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-18 22:46] #19785 closed

[2019-01-18 22:50] TylerMSFT commented on #22365
I'm looking at the current source for the article, and the web version, and it is correct (retrySettings.DefaultMaxRetryCount).
Not sure where the DefaultMaxRetryCountForNonTransientErrors came from? Did you tag the right article?

[2019-01-18 23:22] Karishma-Tiwari-MSFT commented on #22501
@Weychris Did that help? Let me know if you are looking for something else.

[2019-01-18 23:22] kevinclarkneudesic opened #22812 "Make tutorial more modern"
I think it's more beneficial to use something like request-promise instead of callbacks.  That would also allow use of async/await.

Also, the Node.js examples should be using TypeScript in this day and age.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c66a75d-b472-3bca-3cd5-8cbf7a77859d
* Version Independent ID: fa

[2019-01-18 23:36] v-stadam commented on #22108
@DaveEM The article has been updated accordingly. Please close this issue if you feel the situation has been resolved. Thanks!

[2019-01-18 23:38] mx-iao commented on #21581
Hi @MoiMoiDG,
With the new Azure ML service you can run any training scripts you would like; for example if you have any tutorials on image classification in PyTorch/TensorFlow/CNTK/etc you can still easily train them on Azure ML with little modifications to the training code.

With regards to your questions:
- you can easily switch out which pretrained model to use. In `pytorch_train.py` line 140

[2019-01-18 23:44] Mike-Ubezzi-MSFT commented on #21327
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-18 23:44] #21327 closed

[2019-01-18 23:45] Mike-Ubezzi-MSFT commented on #22495
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-18 23:45] #22495 closed

[2019-01-18 23:45] SaurabhSharma-MSFT commented on #22597
@ediazrod We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-18 23:45] #22597 closed

[2019-01-18 23:46] arvin-a commented on #19078
Seems the get ingress will never list the address but the route is there. Kind of annoying but not a big deal

[2019-01-18 23:47] Mike-Ubezzi-MSFT commented on #8143
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-18 23:47] #8143 closed

[2019-01-18 23:48] mike-urnun-msft commented on #22804
Hi @boreys Thank you for your feedback! We will review and update as appropriate.

[2019-01-18 23:49] MarileeTurscak-MSFT commented on #22756
You would just need an SSL certificate connected to your domain. https://www.digicert.com/ssl-certificate/

A wildcard certificate would be ideal so that you can configure subdomains if needed.

[2019-01-18 23:50] mx-iao commented on #22600
Hi @yodobrin can you try this:
[code]

[2019-01-18 23:50] MarileeTurscak-MSFT commented on #22756
Let me know if this helps! I have a full pass-through lab set up so can step you through the configurations if you would like to continue the discussion on MSDN (which I monitor daily). https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-01-18 23:50] #22756 closed

[2019-01-18 23:57] garyericson commented on #18898
@marktab - I don't understand your question. The problem mentioned above in the [Move Hive tables](https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/move-hive-tables) article is that the 2nd and 3rd bullets under Prerequisites have links with different titles that point to the same article. The link in the 2nd bullet looks correct, but the link in the 3rd bullet has

[2019-01-18 23:57] MarileeTurscak-MSFT commented on #22792
We will proceed to close this thread. Feel free to tag me in the comments or open a new issue if you still have questions or would like to continue the discussion.

[2019-01-18 23:57] #22792 closed

[2019-01-19 00:01] Karishma-Tiwari-MSFT commented on #22532
@mauricio-msft Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-19 00:10] TravisCragg-MSFT commented on #22803
@boreys Can you post a link to the documentation you are referring to?

[2019-01-19 00:15] brandonh-msft commented on #21683
@ecfan if this is the case, then how is the blob url input? There's no place for it in the UI:
![image](https://user-images.githubusercontent.com/20270743/51419006-048f5200-1b3c-11e9-8ce9-98b93de40db3.png)

Like there is when dealing w/ schemas:
![image](https://user-images.githubusercontent.com/20270743/51419016-14a73180-1b3c-11e9-816e-6d6a41cd7e88.png)

so it seems like there's a disconnect here

[2019-01-19 00:21] hrasheed-msft commented on #22507
@angoyal-msft please close this issue as we have provided a workaround and the limitation for on-demand cluster creation is with Azure Data Factory, rather than Azure HDInsight.

[2019-01-19 00:33] MarileeTurscak-MSFT commented on #22809
@bbbford
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-19 00:38] divyaswarnkar commented on #21683
we have not yet done the work the enable the upload experience when content is provided via URI. Currently it can be only available via APIs. We'll document that as well.

[2019-01-19 00:38] MarileeTurscak-MSFT commented on #22712
You can import your own token signing certificate from which you do own the private key into ADFS (instead of using the adfs generated self signed certificates).

Is that what you are aiming to accomplish?

https://social.msdn.microsoft.com/Forums/vstudio/en-US/6128efb5-2d81-4a2f-ab73-b8461bff302b/export-token-signing-certificate-private-key-from-adfs?forum=Geneva

[2019-01-19 00:42] SaurabhSharma-MSFT commented on #22784
@RamakrishnanRamar Please refer to [Modifying and Deleting Cookies](https://docs.microsoft.com/en-us/previous-versions/ms178194(v=vs.140)#modifying-and-deleting-cookies) if this helps.
Also,  as this GitHub repository is for raising documentation issues, I  suggest you to please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MS

[2019-01-19 00:51] MarileeTurscak-MSFT commented on #22386
I don't believe there is a specific .NET framework version requirement unless there is a requirement for the two Nuget package referenced in the article. I believe Microsoft.Azure.KeyVault requires .NET Framework 4.5.2

[2019-01-19 00:51] #22386 closed

[2019-01-19 00:51] #22392 closed

[2019-01-19 01:01] MarileeTurscak-MSFT commented on #22780
Per the FAQ, I believe it means that the settings are already covered by Enterprise State Roaming so you don't need the group policies. https://docs.microsoft.com/en-us/azure/active-directory/devices/enterprise-state-roaming-faqs

CC: @MarkusVi for confirmation

[2019-01-19 01:03] MarileeTurscak-MSFT commented on #22780
We will proceed to close this thread. If you have further questions feel free to tag me in the comments or post a thread to MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-01-19 01:03] #22780 closed

[2019-01-19 01:05] djaus2 commented on #22479
@LazarusX  No shutting it down and restarting the service doesn't solve it. Also reboot doesn't.

    19/01/2019 12:00:36 PM info: edgelet_docker::runtime -- Stopping module CSharpModule...
    19/01/2019 12:00:36 PM warn: edgelet_utils::logging -- Could not stop module CSharpModule
    19/01/2019 12:00:36 PM warn: edgelet_utils::logging --  caused by: Target of operation already in this state

[2019-01-19 01:19] Alberto-Vega-MSFT commented on #22806
Hi @bharathbkt Would you please elaborate more? Are there some specific ones that you found to be broken?

[2019-01-19 01:22] samuela opened #22816 "Packet signing instructions don't work on macOS mojave"
I followed the instructions for disabling packet signing at the beginning of this document, but after un-mounting/re-mounting, I get:

[code]

Which still says "SIGNING_ON" is true. As best as I can tell these are in fact the correct instructions to disable packet signing on the client side, so I suspect that Azure Files still has some packet signing requirement on its end. It also strikes me as s

[2019-01-19 01:31] Alberto-Vega-MSFT commented on #22798
Hi @romankiss Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. @rezasherafat

[2019-01-19 01:35] TravisCragg-MSFT commented on #22799
@kazshi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-19 01:36] TravisCragg-MSFT commented on #22366
@omaralareefi Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-19 01:36] #22366 closed

[2019-01-19 01:36] TravisCragg-MSFT commented on #22475
@iBuk-Mac Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-19 01:36] #22475 closed

[2019-01-19 01:38] TravisCragg-MSFT commented on #22376
@tkumark We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-19 01:38] #22376 closed

[2019-01-19 01:43] SliderCO-007 opened #22817 "Webapp built on Mac OS and CentOS 7 not working Azure"
I have walked through this tutorial many times on a couple different machines. One was a Mac and the other my Centos 7 laptop. Each time I get the application working locally with no issue then the application fails to start once it is pushed to Azure. From the logs it appears that Gulp fails to do a clean build on the remote Azure resource with is Windows with IIS.
Is it possible to run a 'webapp

[2019-01-19 02:01] gopitk commented on #19403
You can SSH into the machine with SSH keys and then create a password for that account or create another new user account with a password (with useradd and chpasswd command)

[2019-01-19 02:07] gopitk commented on #17269
Thanks for the feedback @GraemeMalcolm. Recently the portal creation wizard was completely redesigned across all Azure VMs. We will update the screenshot in the next doc refresh and figure out how we can share or sync the screenshot with general VMs which is shown [here](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/quick-create-portal).

[2019-01-19 02:13] gopitk commented on #16557
The default Jupyterhub config on the DSVM needs a password to be set to access it.  However Jupyterhub provides ways to setup other [authenticators](https://github.com/jupyterhub/jupyterhub/wiki/Authenticators) which requires manual setup that depends on your configurtion. However there is no authenticator supported by Jupyterhub to use a local user account name and a SSH key. You can remote into

[2019-01-19 02:18] gopitk commented on #14889
Thanks for the feedback. 2-core instances is minimum recommended for Linux based DSVM and 4-core is the minimum recommended for Windows based DSVM. We will figure out where to publish this info. We do show recommended sizes but I agree it is not very visible in the Portal (They are shown with a asterisk/star. You have to sort by the star to see the recommended sizes) . Unfortunately this Portal ex

[2019-01-19 02:22] gopitk commented on #13418
This was probably an oversight. Also we update Ubuntu DSVM more frequently than CentOS (and that one does have ggplot2). While we support CentOS edition, we recommend using the Ubuntu edition for more current updates and richer tool set.

[2019-01-19 02:30] gopitk commented on #10704
If you are logged into portal, you will see this screen below when you click on the link in the Step 1 which has the Create button as shown below. The screen shot below step 2 in the document shows the Wizard that yopu will get to after you click the "Create" button. Please let us know if you are seeing a different behavior.

![image](https://user-images.githubusercontent.com/12767235/51421144-b04

[2019-01-19 04:56] saifuddin123 commented on #22362
In the device twin, i see the complete json as below, from which i am trying to retrieve **connectionState**, **statusUpdateTime**, properties (desired and reported- this i can see with latest version), **iotedge** properties.
{
  "deviceId": "testdevice2",
  "etag": "AAAAAAAAAAU=",
  "deviceEtag": "MzM5MDE4MDA5",
  "status": "enabled",
  "statusUpdateTime": "0001-01-01T00:00:00",
  "connectionSta

[2019-01-19 08:39] TravisCragg-MSFT commented on #22817
@SliderCO-007 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-19 08:41] TravisCragg-MSFT commented on #22816
@samuela Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-19 08:41] TravisCragg-MSFT commented on #22811
@mbell85 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-19 08:43] TravisCragg-MSFT commented on #22812
@kevinclarkneudesic Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-19 10:53] nils-a commented on #22779
Hi Mike,
I'm not sure, but that link was probably too small for me. :-)

Maybe you could add a small paragraph about liqud along the lines of:

<hr />

About Liquid
---

[Liquid ](https://shopify.github.io/liquid/) in itself is a simple templating engine for converting arbitrary json into different texts.

The available liquid-steps in azure logic apps denote the possible conversions. E.g. the "Tr

[2019-01-19 12:08] artem-l opened #22830 "Test MSVision"
Тест

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 961b7335-15cf-9455-5d86-ab2376a36fda
* Version Independent ID: f0b62b9d-45a7-1eb7-cf5b-b4be9b6880ac
* Content: [Extracting text with OCR - Computer Vision - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/concept-ext

[2019-01-19 12:30] djaus2 commented on #22783
Any ideas on what
[code]
 means?

[2019-01-19 12:36] AjayKumar-MSFT commented on #22724
@stsulliv, Thank you for providing the document. We are taking a look into this query and will get back to you soon.

[2019-01-19 12:39] AjayKumar-MSFT commented on #22665
@ixevix, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-19 12:39] #22665 closed

[2019-01-19 16:31] ropkahawk commented on #20613
Hi,  I'm still receiving the ""We're still getting things ready. At most it should take 24 hours to start getting data into the system." message. I didn't receive any errors from the script, but with a tenant that only has 6 users, I wouldn't think it take more than 24 hours to populate data.

[2019-01-19 16:34] ropkahawk opened #22832 ""Performing Assessment" persists more than 24 hours."
Hello, I'm still receiving the message that says "Performing Assessment - We're still getting things ready. At most it should take 24 hours to start getting data into the system". I saw the closed message about it being a known issue, but it seems to persist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06524f5f-beb1

[2019-01-19 18:57] mauricio-msft commented on #22532
Thank you @Karishma-Tiwari-MSFT!

[2019-01-19 18:59] mike-urnun-msft commented on #22529
Hi @quantumtunneling We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-19 18:59] #22529 closed

[2019-01-19 19:00] mike-urnun-msft commented on #22644
Hi @rizwaans We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-19 19:00] #22644 closed

[2019-01-19 19:03] mike-urnun-msft commented on #22779
Hi @divyaswarnkar Any thoughts on this matter?

[2019-01-19 19:11] myusrn opened #22833 "provide positioning on when actor pattern should be used instead of web api"
It would be nice if there was positioning in this content on when the actor pattern should be used instead of a web api call.  My initial takeaway is that the actor pattern, specifically the service fabric reliable actor support for adopting it, is a modern take on remote objects without the complexity and scale up/out issues that plagued prior solutions like dcom and .net remoting.  If that is ac

[2019-01-19 19:50] smoms commented on #22625
@aljo-microsoft i could containerize all services in theory. But my question is: if services need to communicate between each other e.g. through a publisher/subscribes style, how can i achieve such style if all services are in SF?

@VipulM-MSFT  thanks. Even if i resolve a service/partition (through REST API) the address which i get is a direct (point-to-point) address where to find the destinatio

[2019-01-19 20:35] thompler commented on #22792
It does answer the frequency question. Thanks!

[2019-01-19 20:53] TravisCragg-MSFT commented on #22830
@artem-l We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-19 20:53] #22830 closed

[2019-01-19 20:54] TravisCragg-MSFT commented on #22832
@ropkahawk Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-19 20:56] TravisCragg-MSFT commented on #22833
@myusrn Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-19 21:11] jebeld17 commented on #8768
@ThinkS3Caleb have you tried my script, included in the ZIP attached?

[2019-01-19 21:39] akraines opened #22835 "Is there a User Id parameter in "Send a sign-out request""
When I use this API, it redirects the user to a page where they have to select which user they would like to sign out.
I'd like to sign out the user whose credential's I'm using for my asp.net core SPA. Is there a way to pass the userId as a parameter to the sign out request?
Something like GET https://login.microsoftonline.com/common/oauth2/logout?userId=&lt;USERID&gt;&
post_logout_redirect_uri=h

[2019-01-19 22:07] DeanGross opened #22836 "Remove references to AzureAD Preview"
According to the docs at https://docs.microsoft.com/en-us/powershell/module/AzureAD/Set-AzureADUser?view=azureadps-2.0, updating the user can know be done using the Azure AD module and therefore the references to the Preview module should be updated in the script sample

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa

[2019-01-19 22:36] Jan-Hettich opened #22837 "Why is no `package.json` file created?"
Followed these instructions to create an Azure HTTP Trigger Function in Javscript with VSCode.  Everything worked!  But why is no package.json file created in the project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-2ccf-0c65ef193760
* Version Independent ID: 6bf46ebc-481f-e4ef-b269-99bf99434601
*

[2019-01-19 23:05] Mike-Ubezzi-MSFT commented on #22374
@sgiovinetti There is an interal dialogue that has finally gained some traction and what I have is the following:

I will follow-up with additional details but, at the moment, this is what I have. You can try setting both properties in the json and test this. Please update this discussion. Thank you.

[2019-01-19 23:14] aquibqureshi26 opened #22838 "Need to shutdown the vm with playbook"
Team,
Thanks in advance, My org got recently attacked on Azure and it was successful brute force attack. As an action we shutdown the vm immediately but I wanted to automate this stuff. I wanted to get the vm name from the attack which is triggered by security center and then run powershell to shutdown the vm. I tried with logic app and with malware category but I cannot find a successful brute fo

[2019-01-20 01:05] atulraizada opened #22839 "Very Intriguing Solution"
You may watch my technical video on Azure File Sync at,
https://www.youtube.com/watch?v=aDB-EFpuXrQ&t=3s

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-26ef-cdbb-ef2eaea3f301
* Content: [Deploy Azure File Sync](https://docs.microsoft.com/en-us

[2019-01-20 01:47] Mike-Ubezzi-MSFT commented on #22619
@TravisCragg-MSFT This was closed before actually asking to be closed. We are ensuring a workflow is functional for a content owner. Once that has been verified the hastag please close detail will be issued. But, @orspod can verify that the query is working by responding to this item unless the query is not inclusive to closed items. @JasonWHowell please confirm. Thanks.

[2019-01-20 02:41] TravisCragg-MSFT commented on #22619
@Mike-Ubezzi-MSFT reopening

[2019-01-20 02:44] TravisCragg-MSFT commented on #22837
@Jan-Hettich Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 02:48] TravisCragg-MSFT commented on #22839
@atulraizada thanks for the video.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-20 02:48] TravisCragg-MSFT commented on #22836
@DeanGross Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 02:49] TravisCragg-MSFT commented on #22838
@aquibqureshi26 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 02:51] TravisCragg-MSFT commented on #22835
@akraines Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 02:58] VashJuan opened #22840 "Typo in command to delete the cluster"
az aks delete --resource-group myResourceGroup --name myAKSCluster --no-wait
should really be
az aks delete --resource-group myResourceGroup --name myAKSCluster -no-wait

The original gets:
az: error: unrecognized arguments: --nowait
usage: az [-h] [--verbose] [--debug]
          [--output {json,jsonc,table,tsv,yaml,none}] [--query JMESPATH]
          {aks} ...
Azure:/

---
#### Document Details

[2019-01-20 03:41] kudlatiger opened #22841 "Which is cheaper? Blob or Cosoms"
Storing my IoT Hub messages in blob or storing it in cosmosdb? which is cheaper and beneficial ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db07b430-c0be-ea91-bffa-8826c5721cf8
* Version Independent ID: be653e5c-e540-327b-4f8a-9d66dc11605b
* Content: [Query Avro data by using Azure Data Lake Analytics](https://docs

[2019-01-20 04:05] kudlatiger commented on #22653
Yes resolved. Thanks

[2019-01-20 04:51] jbouv opened #22842 "Documentation does not match image"
The explanation in this article (where it lists steps 1 through 8) do not match the diagram which has steps 1 through 11

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b15f287d-ebe7-d328-9ad6-f617f34e58e3
* Version Independent ID: d8be50bf-a2a7-f4b7-5575-434a7db5d4b0
* Content: [Azure DNS delegation overview](https://d

[2019-01-20 05:19] imeya commented on #22775
it's about using Azure Storage account, how to use the Data Lake Storage?

[2019-01-20 05:34] imeya opened #22843 "How to use c# code to do this like in azure portal?"
I want to use c# code instead of azure portal to achieve this: Capture data to an Azure Data Lake storage account.

Can you guys provide some sample of this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d951475-7822-31da-f06e-b40150a95aee
* Version Independent ID: 1aaab6c8-c6cd-8f3a-d80d-d978e5f1c16f
* Content: [Cap

[2019-01-20 06:08] TravisCragg-MSFT commented on #22840
@VashJuan Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 06:08] TravisCragg-MSFT commented on #22841
@kudlatiger Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 07:41] yodobrin commented on #22600
I have received the same and managed to use the custom image.

Yoav Dobrin | Cloud Solution Architect | Microsoft Israel

•  Office: +972 (74) 7119256 | •  Mobile: +972 (52) 7834015 |•  yodobrin@microsoft.com<mailto:yodobrin@microsoft.com>
[cid:image001.png@01CE254F.C1B8F050]

Go Cloud -> Move Faster - > Start Now http://azure.microsoft.com<http://azure.microsoft.com/>

From: mx-iao <notifications

[2019-01-20 08:27] yotauber opened #22854 "How can I dynamically get the download path of the script in the ARM template?"
I'm deploying a CustomScriptExtension using an ARM template. The script file URI comes from an ARM parameter, so its name and location are not known to the template. The command to execute depends on the script name (and relative path), e.g. "powershell -File my-download-path\file.ps1".

Is there some ARM template function (or any other means) that would allow me to get the relative (or absolute)

[2019-01-20 08:53] GummyPuppy opened #22855 "401 error"
This dosen't work, I'm using the api keys generated from the azure control panel, I'm getting a 401 access denied error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b1dce75-b8c6-8fe0-3331-c88a426f44f5
* Version Independent ID: 57a41323-14be-986e-77ca-fb155cab4efe
* Content: [Quickstart: Perform a web search with Go

[2019-01-20 09:59] theheatDK opened #22856 "New Vnet vs Subnet in existing Vnet?"
Hi,
We have an existing Vnet with our AKS cluster in one Subnet. We can either place the Application Gateway in a new Subnet in the existing Vnet or create a new Vnet and peer the two Vnets.
What is the best practice? Pro/con?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e81

[2019-01-20 10:44] djaus2 opened #22857 "Trying to setup on Dragonboard 410c: Fails:"
[code]
Any ideas as to what to look for?
OS is Win 10 IoT-Core ARM 64
Can't start to service. :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64575e7c-664c-4d6b-a440-24c91e93def5
* Version Independent ID: 17d9481c-a75b-bbfd-1f9a-76fc3d6b2930
* Content: [Quickstart create an Azure IoT Edge device on Windows](https://d

[2019-01-20 11:16] meixger commented on #21878
I created a new App Service with TLS 1.0, 1.1 and 1.2 enabled.
I installed a Let's Encrypt certificate with a ec-256 key.
I scanned with Ssllabs and it detected only TLS 1.2.

The same certificate works on IIS on Windows Server.

[2019-01-20 11:21] meixger commented on #21878
Azure Support stated:

[2019-01-20 13:06] goh-chunlin opened #22859 "About Setting retry=true Outside of the Loop"
By setting retry=true at the catch block, isn't it a bit too late because the loop in the try block already ends? How does the line retry=true help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d31545e-0af5-dd52-d28b-7507a2288f36
* Version Independent ID: 85ee6742-06ad-9379-a8f2-6f83d1a168cb
* Content: [Azure Key Va

[2019-01-20 13:10] goh-chunlin opened #22860 "The Variable waitTime Declared but not Used"
The code doesn't seem to make use of the value in waitTime variable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d31545e-0af5-dd52-d28b-7507a2288f36
* Version Independent ID: 85ee6742-06ad-9379-a8f2-6f83d1a168cb
* Content: [Azure Key Vault throttling guidance](https://docs.microsoft.com/en-us/azure/key-vault/key-va

[2019-01-20 13:41] patobtx commented on #21878
Again, the App Service servers support ECDHE ciphers for both TLS 1.0 and 1.1.

TLS 1.1:
TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA

TLS 1.0:
TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA

These are the TLS ciphers necessary for support of ECC, as documented: https://tools.ietf.org/id/draft-ietf-tls-rfc4492bis-07.html#suites.

For further informat

[2019-01-20 13:53] bfrey1 opened #22862 "[Azure IoT Edge - Build module images] step only marked as preview"
Hi, great guide - would love to try it out, but can't due to the step being only a preview. Is this an issue with my (free subscription) account or did I miss something in the guide?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4d641df-10ad-411d-81d8-96ec6aa4b4fe
* Version Independent ID: ce520c59-364b-7bbf-6200-76f

[2019-01-20 14:01] atomek1000 commented on #13942
Any update on this?

[2019-01-20 15:39] Anmolgan81 opened #22863 "How can we move AWS Glacier files to Azure HOT/Cold Storage?"
When we use S3 connector it gives an error related to storage class in S3. Maybe we are missing something here? Is there any other way that this can be achieved?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 710d4797-888a-ee10-f3e8-67b990e2f893
* Version Independent ID: ecc41588-d311-36e0-7257-914dac216c17
* Content:

[2019-01-20 15:55] kaevans opened #22864 "Doesn't work with cloud shell"
The directions suggest the user to try Azure Cloud Shell. This feature does not appear to work with Azure Cloud Shell. https://github.com/MicrosoftDocs/azure-docs/issues/16791

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52fe18fe-efc5-3e63-8200-8e20e885b55e
* Version Independent ID: 86a4f465-d676-e0e4-7367-2ed9f90634

[2019-01-20 17:05] cppcraze opened #22865 "Difference between creating proxy through ServiceProxy and ServiceProxyFactory"
ServiceProxy.Create&lt;IService&gt;() can already create proxy for different interface, why a factory is provided? How to choose ServiceProxy or ServiceProxyFactory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8902374b-b631-9d50-16ef-1899ea2dd29d
* Version Independent ID: 55351e69-aa2a-901c-a563-106b62e3d6ac
* Conte

[2019-01-20 17:14] MrDadaGuy opened #22866 "Re: "IoT Hub Python SDK currently only supports uploading character-based files such as .txt files""
I am using Python SDK to upload binaries -- are you sure the documentation is up to date??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67ba5d41-7a78-bbfd-fb5f-bac5fcbccad1
* Version Independent ID: 011d111e-c1cf-bb04-c749-b53f7c065833
* Content: [Upload files from devices to Azure IoT Hub with Python](https://docs.m

[2019-01-20 17:35] jssuthahar opened #22870 "Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Models.ErrorResponseException: 'Operation returned an invalid status code 'NotFound''"
Hi Team ,I am trying to use Text analytics in my xamarin mobile application but getting below issue Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Models.ErrorResponseException: 'Operation returned an invalid status code 'NotFound'' . Do you have any resolutions for this
 readonly static TextAnalyticsClient _textAnalyticsApiClient = new TextAnalyticsClient(new ApiKeyServiceClientCredenti

[2019-01-20 17:40] jtuliani opened #22871 "How to host multiple sites on the same port?"
The example templates show one HTTP site (port 80) and one HTTPS site (port 443). These use separate listeners, directing to separate request routing rules.

This works, but doesn't help me if I'm trying to configure multiple sites on the same port, routed based on Host header (which is what the earlier part of the article says App Gateway supports).

---
#### Document Details

⚠ *Do not edit this

[2019-01-20 18:08] jtuliani opened #22873 "HTTP2 no longer PS only"
Says HTTP2 can be enabled via PS. Which seems to imply PS is the only way
Not true - you can also enable via the Portal. And via CLI using 'az network application-gateway update'
Hence doc is misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68677bfe-232b-3f9f-5473-005098e7231d
* Version Independent ID: ab0e9b

[2019-01-20 18:13] PHBeagle opened #22874 "update for Azure CLI output message"
Response now includes "zones".  It looks like:
  "resourceGroup": "myResourceGroup",
  "zones": ""
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e84d074-09a8-4b15-243a-de80ebe797d8
* Version Independent ID: 99f1dea0-4c3f-e25b-e778-24ca2a2bc5d2
* Content: [Create a virtual network - quickstart - Azure CLI](https://d

[2019-01-20 18:40] SeaDude commented on #19403
Hi @gopitk. I figured out what my issue was:
* I had created SSH keys in previous Azure deployments
* I had to track down the passkey for these keys to access this latest VM.

Thank you

[2019-01-20 18:40] #19403 closed

[2019-01-20 19:03] aquibqureshi26 commented on #22838
Hi Travis, I was able to create a security center playbook to trigger an automation account. In that i've written a runbook which modifies my NIC and assigns a restrictive NSG. but security center playbook needs to run manually and it doesn't automatically trigger if there is an High Severity alert triggered.

[2019-01-20 19:17] baywet opened #22877 "Moving resources: Resources cannot be moved from disabled subscriptions"
I ran into the following issue today which is undocumented. It looks like you can't move resources from a subscription which is disabled.
Imagine a scenario where you had an environment which wasn't identified as production but used as such, the subscription which is not the main IT one runs out of credit and gets disabled. IT wants to take over and move it under their subscription. They'll have t

[2019-01-20 20:33] weyCC81 commented on #21846
Azure Stack Multi-Node

[2019-01-20 21:02] TravisCragg-MSFT commented on #22860
@goh-chunlin Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 21:02] TravisCragg-MSFT commented on #22859
@goh-chunlin Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 21:03] TravisCragg-MSFT commented on #22866
@MrDadaGuy Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 21:04] TravisCragg-MSFT commented on #22862
@bfrey1 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 21:05] TravisCragg-MSFT commented on #22857
@djaus2 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 21:06] TravisCragg-MSFT commented on #22863
@Anmolgan81 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 21:07] TravisCragg-MSFT commented on #22843
@imeya Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 21:09] TravisCragg-MSFT commented on #22865
@cppcraze Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 21:09] TravisCragg-MSFT commented on #22854
@yotauber Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 21:11] TravisCragg-MSFT commented on #22870
@jssuthahar Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 21:13] TravisCragg-MSFT commented on #22855
@GummyPuppy Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 21:15] TravisCragg-MSFT commented on #22874
@PHBeagle Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-20 21:15] TravisCragg-MSFT commented on #22873
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-20 21:17] TravisCragg-MSFT commented on #22871
@jtuliani Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-20 21:20] TravisCragg-MSFT commented on #22864
@kaevans Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-20 21:33] theheatDK commented on #22856
Thanks @TravisCragg-MSFT

[2019-01-20 21:33] #22856 closed

[2019-01-20 21:45] mike-urnun-msft commented on #22697
Hi @kudlatiger The recommendation is to use Event Hub trigger in VS Code since IoT Hub endpoints are compatible with Even Hub. In doing so, in case you don't see the Even Hub trigger option while creating your function app in VS Code, it's most likely you have the template filter set to Core, rather than All -- please review [this thread](https://github.com/Microsoft/vscode-azurefunctions/issues/6

[2019-01-20 21:45] #22697 closed

[2019-01-20 22:13] GummyPuppy commented on #22855
I fixed it by changing the pricing tier, idk why that granted authorization
for the app but it worked

On Sun, Jan 20, 2019, 1:13 PM TravisCragg-MSFT <notifications@github.com
wrote:

[2019-01-20 22:34] lesterw1 opened #22879 "What is "<ZONE_NAME>"?"
Near the top of the documentation, it states:
Files in the $web container are:
... available to the public web following this pattern:
https://&lt;ACCOUNT_NAME&gt;.&lt;ZONE_NAME&gt;.web.core.windows.net/&lt;FILE_NAME&gt;

What is ZONE_NAME?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb91

[2019-01-20 23:07] steveaf opened #22880 "Wrong link"
MPP system views link above, (https://docs.microsoft.com/en-us/azure/sql-data-warehouse/massively-parallel-processing-mpp-architecture)  goes to the T-SQL statements page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c6f95be-15fb-4822-1fa2-4f61ef029093
* Version Independent ID: 5b38f604-088b-8e2e-7545-278801d68e51
*

[2019-01-20 23:49] oninross commented on #11312
+1mil for every single developer who is having this issue

[2019-01-21 00:04] KeiroKamioka0000 opened #22881 "Throughput Limit for Azure Web App"
I understand their are unlimited bandwidth for over share plan in Azure Web App.
Is their are traffic/through put limit for Azure Web App?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription lim

[2019-01-21 01:08] veyalla commented on #22857
@djaus2 Windows 10 ARM64 (or ARM32) is not currently supported by IoT Edge, only X64-based Windows SKUs are supported.

[2019-01-21 01:13] nageshsubramanian opened #22882 "Resource id for item"
Under the heading "Properties of item" there is a mention of "system defined property" called _id
I believe there is no "_id" property. There is a property "_rid" though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7941d92-a0ea-0f78-12af-7dc8ccb2b1ea
* Version Independent ID: d6cc05c7-b724-df22-116f-b8f464293a35
*

[2019-01-21 01:45] erhopf commented on #22812
#please-close

@kevinclarkneudesic - I've created a work item in our backlog to work with the engineering team to update this sample to use promises.

@TravisCragg-MSFT - Please include product owners when requests for new language support, in this case TypeScript.

[2019-01-21 01:47] TravisCragg-MSFT commented on #22879
@lesterw1 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-21 01:48] TravisCragg-MSFT commented on #22881
@KeiroKamioka0000 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-21 01:49] TravisCragg-MSFT commented on #22877
@baywet Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-21 01:49] TravisCragg-MSFT commented on #22880
@steveaf Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-21 01:52] TravisCragg-MSFT commented on #22812
@YutongTie-MSFT FYI

@kevinclarkneudesic We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-21 01:52] #22812 closed

[2019-01-21 02:07] kazshi opened #22884 "Parallel execution"
What would be happened if it reached "the maximum number of concurrent function"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aff040c-9c09-c184-d0e7-fb3bbb80ceec
* Version Independent ID: 68d924e7-7b32-fb1b-44eb-efc116da63ab
* Content: [Guidance for developing Azure Functions](https://docs.microsoft.com/en-us/azure

[2019-01-21 02:15] KeiroKamioka0000 commented on #22536
Thanks for answer!

[2019-01-21 02:25] KeiroKamioka0000 opened #22885 "Data Out to same region?"
Does the connection between same region will be recorded as [Data Out] bandwidth consumption?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550993f-34f1-d963-3ee5-3dcebe2a64d7
* Version Independent ID: 3da9bc96-6e24-54fa-bd99-6a6a704f583a
* Content: [Monitor apps - Azure App Service](https://docs.microsoft.com/en-us/

[2019-01-21 02:34] kazshi commented on #22747
@ajlam Thanks for your clarification. I'd suggest that way to my customer.

[2019-01-21 02:34] #22747 closed

[2019-01-21 03:14] atfernando commented on #16137
I know this ticket is closed. I can't seem to update/add a system level in powershell nor I can find a place to edit or add system labels in Intune or Azure AD.
Here's my command and the error;
`Set-AzureADDevice -ObjectId cd8a1fd3-fff9-4b16-8e12-8b25b884ea9c -SystemLabels "Label1"
Set-AzureADDevice : Error occurred while executing SetDevice
Code: Request_BadRequest
Message: Invalid value specifie

[2019-01-21 03:19] atfernando opened #22886 "Cannot add SystemLabels"
I can't seem to update/add a system level in powershell nor I can find a place to edit or add system labels in Intune or Azure AD.

Here's my command and the error;

`Set-AzureADDevice -ObjectId cd8a1fd3-fff9-4b16-8e12-8b25b884ea9c -SystemLabels "label"
Set-AzureADDevice : Error occurred while executing SetDevice
Code: Request_BadRequest
Message: Invalid value specified for property 'systemLabels'

[2019-01-21 03:21] atfernando commented on #16137
Do you mind sharing how you managed to add this attribute? Thanks in advance.

[2019-01-21 03:45] AshokPeddakotla-MSFT commented on #18523
@arnabganguly We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-21 03:45] #18523 closed

[2019-01-21 03:46] CheNgH826 opened #22888 "how to add collaborator"
I have created a project. How should I add someone else as collaborator so they can edit the project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d489aee-cc0e-e0a2-1fc5-d1cc373a2a51
* Version Independent ID: 2c35136b-1bde-44a0-f901-4cf9845409c8
* Content: [Configure and manage Azure Notebook projects](https://docs.

[2019-01-21 03:55] neeleshray commented on #22317
We will now proceed to close the thread. You can re-open it if you need further help.

[2019-01-21 03:55] #22317 closed

[2019-01-21 03:56] neeleshray commented on #22609
We will now proceed to close the thread. You can re-open it if you need further help.

[2019-01-21 03:56] #22609 closed

[2019-01-21 03:56] neeleshray commented on #22616
We will now proceed to close the thread. You can re-open it if you need further help.

[2019-01-21 03:56] agune001 opened #22889 "Unable to proceed with request error"
I was able to create a CosmosDB database and collection on Azure successfully, but I get this error when trying to run the dot net app:

DocumentClientException: Unable to proceed with the request. Please check the authorization claims to ensure the required permissions to process the request.
ActivityId: f3c72700-95ac-4865-944f-20aca275e247, Microsoft.Azure.Documents.Common/2.1.0.0

I'm using the

[2019-01-21 03:57] neeleshray commented on #22629
We will now proceed to close the thread. You can re-open it if you need further help.

[2019-01-21 03:57] #22629 closed

[2019-01-21 04:06] MysticRyuujin commented on #22616
So you didn't actually fix the problem, you just answered my question in github which helps absolutely nobody? So the next time someone from my organization or any other organization tries to find a way to manage their MFA for government they'll be just as helpless as before I opened the issue?

[2019-01-21 04:14] SubhashVasarapu-MSFT commented on #22773
@iamdravenman Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2019-01-21 04:17] #13049 closed

[2019-01-21 04:20] CHEEKATLAPRADEEP-MSFT commented on #21269
@kazshi We have added the content in the document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-21 04:20] #21269 closed

[2019-01-21 04:20] neeleshray commented on #22616
We have requested the URL to be mentioned in the document as well. It would be updated soon.

[2019-01-21 04:34] CHEEKATLAPRADEEP-MSFT commented on #22882
@nageshsubramanian
Thanks for reporting this issue.
![image](https://user-images.githubusercontent.com/44426401/51453168-e3a94580-1d63-11e9-94e7-f32a9e7c84ac.png)

 I've addressed this issue in PR [https://github.com/MicrosoftDocs/azure-docs-pr/pull/63553](https://github.com/MicrosoftDocs/azure-docs-pr/pull/63553)

Fix should be live soon at the latest.

[2019-01-21 04:35] neeleshray commented on #22616
@eross-msft  @MicrosoftGuyJFlo
Could the link for MFA for Government Cloud be incorporated to the document ?

[2019-01-21 04:47] AmanGarg-MSFT commented on #22634
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-01-21 04:47] #22634 closed

[2019-01-21 04:49] RamakrishnanRamar commented on #22784
@SaurabhSharma-MSFT Yes Ask the same question, there is no reply.

[2019-01-21 04:51] RamakrishnanRamar commented on #22782
@SaurabhSharma-MSFT Can you share me any code sample. That will help for us.

[2019-01-21 04:56] Karishma-Tiwari-MSFT commented on #22501
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-21 04:56] #22501 closed

[2019-01-21 05:01] TravisCragg-MSFT commented on #22884
@kazshi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-21 05:02] TravisCragg-MSFT commented on #22885
@KeiroKamioka0000 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-21 05:04] TravisCragg-MSFT commented on #22886
@atfernando can you post a link to the doc you are referring to?

[2019-01-21 05:05] jakaruna-MSFT commented on #22840
@VashJuan The command on the document is correct.
From the error message, i see that `-` is missing in nowait.

It should be `--no-wait` instead of `--nowait`.

We can see that in help as well `az aks delete -h`.
Try this out and let me know.

[2019-01-21 05:16] TravisCragg-MSFT commented on #22888
@CheNgH826 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-21 05:32] drmcghee opened #22890 "CSharpFunction.cs"
CSharpFunction.cs doesn't exist in VS code when you create a new IOT edge solution. When asked to navigate VS Code explorer, open modules &gt; CSharpFunction &gt; CSharpFunction.cs the only file there is program.cs (and you cannot create  CSharpFunction.cs)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7852968-3c54-5

[2019-01-21 06:04] #22890 closed

[2019-01-21 06:06] YASWANTHM-MSFT commented on #22879
Hello lesterw1, Zone name is the part of the web endpoint URL. You can refer the similar github issue [here ](https://github.com/MicrosoftDocs/azure-docs/issues/10959)which gives you a clear explanation. Let us know if you have any further query. Hope this helps you.

[2019-01-21 06:18] Qq20180503 commented on #21556
@SubhashVasarapu-MSFT Is there any update on this question?

[2019-01-21 06:19] ManojReddy-MSFT commented on #22724
@stsulliv There is no restriction on the Azure AD side for the number of tenants or characters that can be added to the header "Restrict-Access-To-Tenants". As this header is inserted by the proxy, the limit is dependant on the proxy device and can vary depending on the proxy being used.

[2019-01-21 06:20] PramodValavala-MSFT commented on #22653
@kudlatiger Thanks for the confirmation. Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-21 06:20] #22653 closed

[2019-01-21 06:21] PramodValavala-MSFT commented on #22721
@akshay8082 Just following up here... Did my previous comment help?

[2019-01-21 06:21] kudlatiger commented on #22697
Thank you. I have changed the settings and now I am able to see both "IoT Hub Trigger" and " Event Hub trigger"

[2019-01-21 06:30] kiranmahto opened #22901 "batch transcription in python"
Can you give some samples on how to use batch transcription with python.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [How to use Batch Transcription - Speech Services](https://docs.microsoft.com/en-us/azure

[2019-01-21 06:31] ManojReddy-MSFT commented on #19493
@ksix We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-01-21 06:31] #19493 closed

[2019-01-21 06:39] CHEEKATLAPRADEEP-MSFT commented on #22901
@kiranmahto Thank you for your interest in Azure products and services. This is being assigned to the content author to have a look and update as appropriate.

[2019-01-21 06:40] lesterw1 commented on #22879
Thank you. I suggest amending the document text to reflex that to avoid future questions. :)

  ~ Lester ~

________________________________
From: YASWANTHM-MSFT <notifications@github.com>
Sent: Monday, January 21, 2019 6:06 am
To: MicrosoftDocs/azure-docs
Cc: Lester Waters (LLW1); Mention
Subject: Re: [MicrosoftDocs/azure-docs] What is ""? (#22879)

Hello lesterw1, Zone name is the part of the we

[2019-01-21 06:41] agune001 commented on #22889
Hi, thanks for your reply. Yes, I followed those steps exactly and I get
the same error message. Additionally, I tried to use both "Tasks" and
"ToDoList" as the database, but neither of them worked. I have attached a
screenshot of the error message here.

Thanks,
Aditya

On Sun, Jan 20, 2019 at 10:08 PM CHEEKATLAPRADEEP-MSFT <
notifications@github.com> wrote:

[2019-01-21 06:41] Mahons opened #22904 "Rest API documentation"
Hi,

Do you have a link to the POA REST API documentation; I can't seem to find any details beyond the GetWindowsUpdateResults operation. Is this the only operation exposed?

Best,

Stephen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a16900-c967-ccf9-2d87-1c994013bf0e
* Version Independent ID: 474287be-47ca-50b3-1

[2019-01-21 06:48] axxx307 commented on #5648
@mtillman Hey guys, has this issue been resolved? Because I still cant use Powershell 2 to read/write authentication attributes using existing documentation.

[2019-01-21 06:54] v-maroge opened #22905 "Deployment(JSON template) and Location"
When creating a SendGrid account, the resource seems to be created in Central America as default.
1. Looking at the JSON template, it seems that you can change the location parameter, but will this allow to change the deployment location?

 "resources": [
        {
            "apiVersion": "2015-01-01",
            "name": "[parameters('name')]",
            "type": "Sendgrid.Email/accounts",

[2019-01-21 06:58] dcbrown16 opened #22906 "Naming restrictions?"
The portal appears to indicate that a directory name should be 256 characters or less.
Are there any restrictions on the characters that can be included? And is it case-sensitive?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14ab965b-dc45-f450-1302-5ffe491ca129
* Version Independent ID: 0d96d50d-a349-3408-3b93-d8b084

[2019-01-21 07:01] ChiragMishra-MSFT commented on #22775
@imeya Azure Data Lake Storage Gen2 is the addition of a hierarchical namespace to Blob storage. So it should work the same for Azure Data Lake Storage. Also, you can modify the connection string to connect to your Data Lake Storage account.

[2019-01-21 07:14] neeleshray commented on #22836
The Script Samples for Azure AD Powershell Ver2.0 has been mentioned in the same document under the section [Use PowerShell version 2](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-sspr-authenticationdata#use-powershell-version-2)

[2019-01-21 07:32] kazshi opened #22907 "description and example of DISTINCT"
I followed the link for DISTINCT but I cannot find any descriptions and examples of DISTINCT clause. Hasn't this page content been updated yet? or Can we find it in the other page?
Provide support for DISTINCT – Customer Feedback for Microsoft Azure
https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/6719531-provide-support-for-distinct

---
#### Document Details

⚠ *Do not edit t

[2019-01-21 07:33] YASWANTHM-MSFT commented on #22879
@lesterw1, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-21 07:37] raghukrishnamoorthy opened #22908 "Azure Monitoring error"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-01-21 07:50] dcbrown16 opened #22909 "Private preview of Log Analytics/Monitor"
It was once possible to send diagnostic info from Web Apps to Log Analytics with Set-AzureRmDiagnosticSetting, but that currently fails with a message about private preview.
Set-AzureRmDiagnosticSetting : Exception type: ErrorResponseException, Message: Subscription ‘XXX’ is not whitelisted in the private preview of diagnostic log settings for Azure resource type 'microsoft.web/sites',
Is there an

[2019-01-21 08:00] ksix commented on #19493
I wasn’t sure if you were going to fix it. You said you found the issue,  but then said you won’t fix it?

[2019-01-21 08:03] hope4555 opened #22911 "Strange RU/s usage when using Azure Cosmos DB (mongo interface from java)"
Please see our question in stackoverflow
https://stackoverflow.com/questions/54284971/strange-ru-s-usage-when-using-azure-cosmos-db-mongo-interface-from-java

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4db4545b-a541-10ed-54aa-0a9c57658607
* Version Independent ID: e76fa6a8-c9ab-c5d5-5b86-3088f50f921e
* Content: [Req

[2019-01-21 08:05] dcbrown16 commented on #7151
@johnkemnetz we now have "FunctionExecutionLogs" listed as a log that can be passed to Monitor from Web Apps, but attempting to enable this in a Log Analytics workspace results in a failure with "Bad request". Attempting a similar operation from PowerShell indicates that the subscription has to be whitelisted for a private preview. Are diagnostic logs temporarily disabled for reporting to Monitor?

[2019-01-21 08:12] wbpluto commented on #20815
I can repo this issue in two of my Azure NV6 VMs from Windows 10 Pro 1809 image with NVIDIA GPU Driver extension.
@20190121

[2019-01-21 08:15] ManojReddy-MSFT commented on #21063
@SychevIgor The product team has made the changes and the portal will show it correctly. This might take some time to be updated publicly.

We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-01-21 08:15] #21063 closed

[2019-01-21 08:36] dcbrown16 opened #22912 "Audit Logs?"
Does this solution work with the audit logs from SQL DB that can be piped into Log Analytics? Or is it just for performance, queries and that type of data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77f273ec-aed5-1f65-0b6d-87240765d3e0
* Version Independent ID: d195959f-5742-7d94-f4f5-e70c0f0581e7
* Content: [Azure

[2019-01-21 08:41] imeya opened #22913 "Can we use these SDKs for Data Lake Storage Gen2?"
I know the SDKs for Data Lake Storage Gen2 are not available now. and at current time, can we use these SDKs(for Gen1) to operate Gen2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37375b35-1afa-f96e-793a-7fae7fb866f9
* Version Independent ID: a30f676e-b59f-b99d-03f7-4372cad84711
* Content: [Python: Account managemen

[2019-01-21 08:45] CHEEKATLAPRADEEP-MSFT commented on #22771
@arnabganguly We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-21 08:48] sgiovinetti commented on #22374
@Mike-Ubezzi-MSFT : thank you. Setting MultiSubnetFailover:true into the options:{...} part works fine.

[2019-01-21 09:07] PramodValavala-MSFT commented on #22719
@KallDrexx I believe that line can be read as `"... safely use all client objects for ..."` instead.

@spelluru Could you confirm?

[2019-01-21 09:14] ChiragMishra-MSFT commented on #22843
@imeya Closing this issue as it's the same as https://github.com/MicrosoftDocs/azure-docs/issues/22775

[2019-01-21 09:14] #22843 closed

[2019-01-21 09:15] ChiragMishra-MSFT commented on #22775
@ShubhaVijayasarathy Do you have anything to add here ?

[2019-01-21 09:18] PramodValavala-MSFT commented on #22586
@hjgraca Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-21 09:18] #22586 closed

[2019-01-21 09:20] prtdomingo opened #22914 "NameError: name 'Datastore' is not defined"
Currently trying the code provided in this docs step by step, and I noticed whenever I would executed the method 'Datastore.get', I'm getting an issue that 'Datastore' is not defined.

I fixed this by importing `Datastore` within `azureml.core` with this:

`
import azureml.core
from azureml.core import Workspace, Datastore
`

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-01-21 09:20] ChiragMishra-MSFT commented on #22863
@Anmolgan81 Can you please share some details about the error?

- What's the error message ?

- At which step are you getting the error ?

[2019-01-21 09:23] imeya commented on #22775
@ChiragMishra-MSFT, it would be good if you can provide some sample code of creating an event hub, and enabling Event capture with data lake. thanks.

[2019-01-21 09:38] ivanignatiev commented on #22760
@TravisCragg-MSFT  for example, could I launch background copy job between 2 Azure Stack instances and how it will work ?

[code]

Thank you !

[2019-01-21 09:46] angoyal-msft commented on #22911
@hope4555 Thanks for your feedback. We are investigating this issue and would get back to you soon.

[2019-01-21 09:47] rwatjen opened #22916 "Azure Functions"
How is the `QuickPulseTelemetryModule` configuration done in an Azure Functions v1 or v2 app, where there is no `ConfigureServices` method, and it seems to ignore `applicationinsights.config`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3307edb-b27c-a0b9-ff1e-610630c98c15
* Version Independent ID: 20262b8a-31ff-4df

[2019-01-21 09:53] AshokPeddakotla-MSFT commented on #22120
@rakeshmotghare We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-21 09:53] #22120 closed

[2019-01-21 09:56] AshokPeddakotla-MSFT commented on #22118
@PrometheusRising1 Please provide more details about the query to assist you better. What exactly you are looking for?

[2019-01-21 09:59] Mahesh-MSFT opened #22917 "Example for Location in AzureRMCloudCapability"
Can you please provide an example for `Get-AzureRMCloudCapability -Location <your location> -Verbose`

Is it 'local' for ASDK?

Is this public Azure location?

Or is this Azure Stack location?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db0d3cb0-ca45-567a-3404-a88d86acfa02
* Version Independent ID: d27c3d55-5533-89f

[2019-01-21 10:10] ab1234567 commented on #22889
+1.
I do get the same error.

[2019-01-21 10:19] peterschen opened #22918 "Delete the Recovery Service vault by force is incomplete"
The section describing how to remove a Recovery Services vault by force explains how to use the REST API to remove a Recovery Services vault but includes the note that the vault has to be empty in order to remove it. I'd expect this section elaborating the process of how to remove a vault including backup items.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-01-21 10:20] SadiqhAhmed-MSFT commented on #22603
!

[2019-01-21 10:20] #22603 closed

[2019-01-21 10:51] ChiragMishra-MSFT commented on #22775
@imeya I have assigned the issue to the content author to help you further with the same.

[2019-01-21 10:52] #22507 closed

[2019-01-21 10:58] SadiqhAhmed-MSFT commented on #22415
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-21 10:58] #22415 closed

[2019-01-21 11:16] MoiMoiDG commented on #21581
Hi @mx-iao,

Thank you for the prompt reply!
I agree with your answers, the issue can be closed.
Just one remark: A migration of (some of) the "old" tutorials would have highlighted the changes necessary to run the solution with the new Azure ML services. Maybe it is something you can consider, as it is probably cheap to implement for people used to the old and new environments.

[2019-01-21 11:16] jakaruna-MSFT commented on #22854
@yotauber Current directory will be set to the place where the files are downloaded.
You can use the relative paths to refer to those files.  Please checkout this [link](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows#troubleshoot-and-support).
This [table](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows#examples-of-

[2019-01-21 11:21] CHEEKATLAPRADEEP-MSFT commented on #22464
@janfait We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-21 11:21] #22464 closed

[2019-01-21 11:32] jakaruna-MSFT commented on #22854
@yotauber Provided sample template works for scripts with multiple sub directories also.
Like `https://someAcct.blob.core.windows.net/aContainer/scripts/myscript.ps1, https://someAcct.blob.core.windows.net/aContainer/scripts/helpers/myhelper.ps1`

If we are placing the starting script on the root directory like this
`https://someAcct.blob.core.windows.net/aContainer/myscript.ps1`
Then in the templ

[2019-01-21 11:41] SadiqhAhmed-MSFT commented on #22682
@Vivekmis We do not support 2 or more IP addresses for a NIC today. If the VM has 2 NICs and 1 IP address associated with each NIC, then you will have 2 IP addresses allocated in the target region. But if you have only 1 NIC and 2 IP addresses, that is an unsupported scenario.

[2019-01-21 11:41] #22682 closed

[2019-01-21 11:44] Aurel-Bruno opened #22919 "Support of Operation Manager 1807"
Operation Manager 1807 doesn't appear in the list of the supported Operations Manager environments. Shouldn't it be added ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71e2c183-5b23-45ab-9d16-3931ff911e29
* Version Independent ID: bb62a149-8569-4cae-b86c-74546e84759c
* Content: [Connect computers using the Log Analy

[2019-01-21 11:49] djaus2 commented on #22857
I understood that it was to be available on Windows ARM64. Or is it just Docker/Moby that work/s there?

[2019-01-21 11:54] femsulu commented on #22576
@michaelspinks Thanks for catching this. I've initiated a PR to include --enabled for #6. No fix required to #7 as the delete cmd has been revised in a prior PR. These fixes should be live soon.

[2019-01-21 11:54] #22576 closed

[2019-01-21 11:59] sqlrohit commented on #9711
@waheedhussain I'm also facing the same issue, is there any way which can help me in continuously download the webtest result files, the continuous export option available in App insights is only exporting cumulative output of the webtest, not the breakup time what is shown in the Azure portal.
![image](https://user-images.githubusercontent.com/19285207/51473294-065a4f00-1da2-11e9-8ac6-4080fd7ce36

[2019-01-21 12:02] praveenzack opened #22920 "Why do we have SPECint for Windows and CompuMark for Linux.?"
Is there a way to get SPECint scores for linux too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b285b7-df83-7949-4589-0323d9bd2f6e
* Version Independent ID: 96840643-9f73-624a-606e-c17195aed16c
* Content: [Compute benchmark scores for Azure Windows VMs](https://docs.microsoft.com/en-us/azure/virtual-machines/windo

[2019-01-21 12:04] CodingSpiderFox commented on #22175
@dominicbetts: Another question regarding the retrieval of messages using AMQP

I tried out this code snippet:
https://github.com/Azure/azure-iot-sdk-java/blob/master/service/iot-service-samples/service-client-sample/src/main/java/samples/com/microsoft/azure/sdk/iot/ServiceClientSample.java

But I can't figure out how to change it to also output the message payload when a message is received. It s

[2019-01-21 12:04] Ananya-96 opened #22921 "Getting 401 for active subscription key"
I created a cognitive service - speech service for Speech Translation API. I have an active subscription but when the https://westus.api.cognitive.microsoft.com/sts/v1.0/issuetoken is called to get the token, Im constantly getting 401 Unauthorized Error.

![image](https://user-images.githubusercontent.com/24409739/51473596-cf386d80-1da2-11e9-85dc-953e2af5cc8f.png)

[2019-01-21 12:06] ChiragMishra-MSFT commented on #22913
@imeya Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-01-21 12:09] 0xJHarrison commented on #22795
Yes that is the section.
I would suggest the following:
<bullet point> If the Azure MFA Server is installed on a domain-joined server in an Active Directory environment
1. select Windows domain

<bullet point> If users should be authenticated against an LDAP directory
1. select LDAP bind etc

<bullet point> If users should be authenticated against another RADIUS server
1. select RADIUS server(s)
2

[2019-01-21 12:22] alexjmoore opened #22922 "dblink guidance"
Hi, after some trial and error (and assistance via Azure Advisers), we finally discovered that using the dblink extension to connect either to other Azure PostgreSQL databases or to loopback to its own instance requires "Allow access to Azure services" set to 'On' in order to whitelist connections from other Azure PostgreSQL instances or itself.  Perhaps a short note could be added to the dblink e

[2019-01-21 12:31] raunakpandya commented on #22904
Hey Stephen,

That's the only API it supports today. You can find details of that API in this page.

[2019-01-21 12:35] chi-ltd commented on #22602
Yes there is internet access.

[2019-01-21 12:51] maganvill opened #22924 "Access to ACR from virtual node"
Hi,

Might be good to point out that it's not possible to set a service principal with access to ACR, as described in https://github.com/virtual-kubelet/virtual-kubelet/issues/192.

This error is logged by aci-connector-linux pod:
Getting "HTTP response status code 400 error code "InaccessibleImage"

Is the recommended workaround to use Kubernets secrets as in https://docs.microsoft.com/en-us/azur

[2019-01-21 12:54] s-leonard opened #22925 "Unable to proceed with the request - error"
When you run these examples from your local machine you will now see "Unable to proceed with the request" error.
You now need to allow access from your network under the "Firewall and virtual networks" tab in cosmos db.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83987349-2735-b9f5-8df2-80b65a9ff41d
* Version Indepe

[2019-01-21 13:00] femsulu commented on #22881
@BryanTrach-MSFT any input?

[2019-01-21 13:06] femsulu commented on #22811
adding @georgewallace to confirm when/if the known issue is being addressed + resolution ETA.

[2019-01-21 13:09] femsulu commented on #22877
assigning to @tfitzmac as this is a doc-enhancement request.

[2019-01-21 13:11] cephalin commented on #22817
@SliderCO-007 It's right here: https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-nodejs-mongodb-app. There's a link to it at the very top of this article.

[2019-01-21 13:14] #22921 closed

[2019-01-21 13:31] jemag commented on #17905
For those who do not know, you can use the azure cli to list the resources and get the ID that way: "az resource list"

[2019-01-21 13:57] sergaz-msft commented on #22841
Hello @kudlatiger . I believe your question doesn't fall on the context of this doc. Can you leverage [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureiothub) or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-iot-hub) for that?

My suggestion is that you also leverage [Azure IoT Reference Architecure](https://aka.ms/iotrefarchitecture). As most of times, usi

[2019-01-21 13:57] sergaz-msft commented on #22841
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-21 13:57] #22841 closed

[2019-01-21 14:01] sergaz-msft commented on #22777
@ashuthinks let us know if you have furthere questions? Thanks.

[2019-01-21 14:04] Aum-Kaara opened #22926 "Followed Article : Getting error Please check the authorization claims to ensure the required permissions to process the request."
2019-01-21T14:01:44.829 [Error] Executed 'Functions.HttpTrigger1' (Failed, Id=19814a31-6537-4da1-9e42-4de4e885ffc9)
Unable to proceed with the request. Please check the authorization claims to ensure the required permissions to process the request.
ActivityId: 70361ad0-cd8a-4e5f-9710-53bbd9fc6218, Microsoft.Azure.Documents.Common/2.1.0.0, Windows/10.0.14393 documentdb-netcore-sdk/2.0.0

---
#### D

[2019-01-21 14:09] ld0614 opened #22927 "Permissions needed to onboard VMs"
When attempting to enable the change tracking solution from on a new VM with only contributor to a resources group access, an error message is displayed stating 'The solution cannot be enabled due to missing write permissions for the virtual machine or deployments.'  The troubleshooting link takes you to this page but does not define the correct permissions required to solve this message.

---
###

[2019-01-21 14:17] ixevix commented on #6296
What's the status on this? If I'm reading the comments correctly this was supposed to get out of testing in late May 2018.

[2019-01-21 14:20] femsulu commented on #22765
@ericcwk i assume you are asking how to create an alert that is evaluated every 5 mins to monitor a 5 min window of alert activity using resource manager template. If this is what you are requesting then you will need to add parameter/value pair in the parameters.json file for both **windowSize** and **evaluationFrequency**. The values for these 2 parameters should be set to "PT5M" e.g.
"evaluatio

[2019-01-21 14:30] femsulu commented on #22602
weird. I just tested and it works  can you retry please: mailto:AzCommunity@microsoft.com

[2019-01-21 14:30] SubhashVasarapu-MSFT commented on #22917
@Mahesh-MSFT Thanks for the question! We are investigating and will update you shortly.

[2019-01-21 14:31] sergaz-msft commented on #22857
@djaus2 please see the supported platforms here: https://docs.microsoft.com/en-us/azure/iot-edge/support

[2019-01-21 14:31] sergaz-msft commented on #22857
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-21 14:31] #22857 closed

[2019-01-21 14:35] sergaz-msft commented on #22862
@bfrey1 can you please be more clear on what step you have issues? And what is the error that you get?

@shizn is there a prerequisite that you have a Basic or Standard tier?

Thanks.

[2019-01-21 14:37] sergaz-msft commented on #22866
@kgremban can you please validate? Thanks @MrDadaGuy !

[2019-01-21 14:50] chi-ltd commented on #22602
Now getting here:
![error](https://user-images.githubusercontent.com/43997657/51481461-cee0a800-1d8b-11e9-88d5-fe305aee20aa.jpg)

[2019-01-21 14:52] v-maleli commented on #22808
It seems to be that customer would now want to go to All services - Azure AD Connect Health - Sync Services. Our customer was confused as to what the service and service list blade referenced.

[2019-01-21 15:04] badalk commented on #22749
@jakaruna-MSFT but then its not really any kind of isolation. My expectation was that, just like AKS, I can create new roles at namespace level and grant permissions only pertaining to that namespace. Not authentication but authorization.

[2019-01-21 15:15] ToMakeSense commented on #16148
@femsulu @MicahMcKittrick-MSFT

try add oms for apim with template below, error message showed up: `Metric category 'GatewayRequests' is not supported` or `Metric category 'TotalRequests' is not supported`

Irefered to the following docs link: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftapimanagementservice
[code]

[2019-01-21 15:23] furmangg opened #22928 "waitTimeInSeconds expression"
The expression on waitTimeInSeconds doesn't seem to work.
"waitTimeInSeconds": "@item()"

https://stackoverflow.com/questions/54285157/waitactivity-in-azure-data-factory-how-we-pass-paramater-value-from-filter-activ

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc163f0-2883-6a20-fc06-f84715aa2912
* Version Independen

[2019-01-21 15:26] SaurabhSharma-MSFT commented on #22678
@mvaneijken We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-21 15:26] #22678 closed

[2019-01-21 15:33] butchmarshall opened #22929 "Any additional requirements for CASB (e.g. bitglass) auth?"
We're currently having issues with one of our clients using the admin consent link for authorization.

They are currently using [Bitglass](https://www.bitglass.com/) as their CASB provider.

When visiting the admin consent link their admin is prompted for their username/email (even though they're already signed in) and once authenticated they're put into an infinite signin loop.

Would this be an

[2019-01-21 15:33] olavt opened #22930 "The term Kusto should be explained"
"Kusto" appears as a term without any explanation.

It would be natural  to mention it here:

"Log Analytics uses a version of the Data Explorer query language to retrieve and analyze log data in a variety of ways."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82c1f2f2-da35-02b0-b59d-1e1f4d982904
* Version Independen

[2019-01-21 15:42] dvmorris commented on #9312
I am unable to find this cmdlet in the latest version of AzureRm.Sql 4.12.1

Where did it go?

[2019-01-21 15:44] jflieben opened #22931 "SET should be GET"
Set-AzureRMOperationalInsightsWorkspace should be Get-AzureRMOperationalInsightsWorkspace

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06524f5f-beb1-de55-b30b-8dcc0513191a
* Version Independent ID: 730c62fb-ea4d-ed73-af86-ca8d5a959ff7
* Content: [Office 365 management solution in Azure](https://docs.microsoft.com/en-

[2019-01-21 15:46] jflieben opened #22932 "Multi tenancy clarification"
The article does not differentiate between the 'home' tenant and target tenant. The tenant in which the app registration is done, and the tenant that is being monitored.

I think the article should differentiate between that in multiple places, to describe how to monitor multiple O365 tenants in a single workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-01-21 15:49] Kevin-Manson commented on #22711
Peered the virtual networks together and still the same error.  The only was I could add it as a resolution domain was if they are in the same resource group, but that would not work for us.

[2019-01-21 15:50] SaurabhSharma-MSFT commented on #22713
@jeanluc33 Yes, I am also able to repro this on a Windows 2012 VM.
![image](https://user-images.githubusercontent.com/38112130/51484712-1990fe80-1d51-11e9-88e3-ebb698e00909.png)

Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-21 16:06] sowsan opened #22933 "Other windows server OS support"
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-deploy-anywhere , this document says other versions of windows servers. If SF can be installed on any env, why can't the same OS support not there with the onprem installation ?

Windows Server 1709
Windows Server 1803

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-01-21 16:16] dominicbetts commented on #22175
Hi @CodingSpiderFox - please take a look at the following Quickstart:
https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-java#read-the-telemetry-from-your-hub
The read-d2c-messages applications shows you how to read the messages sent from your devices.

[2019-01-21 16:24] Anmolgan81 opened #22934 "How to specify multiple source folder in 1 pipeline?"
I have over 200 folders inside an ftp server, how can I specify all of them inside 1 pipeline?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d41d5dfa-5b44-d208-1f0d-4cb87bd7e9ae
* Version Independent ID: 4ef12473-dc50-50e0-4ecb-f3dfcddfff79
* Content: [Copy data from an FTP server by using Azure Data Factory](https://

[2019-01-21 16:34] yahiaman opened #22935 "How to configure AADConnect"
Hello,
Thank you for those informations,
How can we configure the second AADConnect ?

[2019-01-21 16:50] 303977 opened #22936 "healthcares assisteng nursing"
It was March, 2009. Everyone had just had their butts kicked in the aftermath of Lehman Brothers and AIG. Nobody was unscathed.

Worse - there was the very real prospect of a “Great Depression” style decade long bear market. Sober analysts were actually predicting it.

So when a few little voices started saying “buy” - very few investors listened.

They sat on sidelines, nursing their wounds for y

[2019-01-21 16:56] bfrey1 commented on #22862
@sergaz-msft Hi, please have a look at the picture below. I followed the guide until "5. In Agent job, open "+" to add three tasks in the build pipeline. The first two are from Azure IoT Edge. And the third one is from Publish Build Artifacts"
I get no error - it seems that the Build Module Images feature is not available (to me). Same for the push images feature.

![capture](https://user-images.g

[2019-01-21 16:58] artmasa commented on #22731
Here is a detailed post I wrote on the subject: https://blog.darkloop.com/post/conditional-resources-with-references-to-conditional-resources-in-arm-templates

[2019-01-21 16:59] AmanGarg-MSFT commented on #22916
@rwatjen Thank you for the question! We are investigating this and will get back to you shortly.

[2019-01-21 17:00] SeanFeldman opened #22937 "Transactions supporte are not documented for the new .NET Standard client"
This documentation is for legacy client, not the new and the recommended one (Microsoft.Azure.ServiceBus).
Consider updating documentation to reflect the new client.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c400c2c-cd70-ab18-a223-72325076b7c8
* Version Independent ID: c533c4c2-bd88-9527-dd5d-aaf0d16ca625
* Conte

[2019-01-21 17:03] thekamhussain opened #22938 "Invoke-WebRequest Error"
Receiving a invoke web request error with the Office-Subscribe-Call function.
I have tried on two different subscriptions/tenants.  The troubleshooting blurb does not make any sense. At what point is a subscription being created??

"You may see the following error if you attempt to create a subscription after the subscription already exists."

PowerShell Error
Invoke-WebRequest : {"Message":"An er

[2019-01-21 17:10] cdanvergara opened #22939 "Maximum number of HW tokens per account"
Hello
I'd like to confirm the following regarding Azure AD MFA.
Is there a limit in the number of hardware tokens per user account?.
Thanks in advance!
Cristian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d577f70e-9632-48ee-8e00-cead8e3cbd5b
* Version Independent ID: 44ebe4c6-0e6a-5ce4-554c-d4ed856e09c9
* Content: [

[2019-01-21 17:13] aquibqureshi26 commented on #22838
any update?

[2019-01-21 17:15] sergey-netdev opened #22940 "EF migrations not working with access token"
While the approach described works fine in regular code EF tooling seems to be buggy. When running `update-database` the following error is generated:

even if the connection string contains `Persist Security Info=True;`
And it seems empty initializer is ignored (`Database.SetInitializer<MyContext>(null);`) , why?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-01-21 17:22] JackMorrissey opened #22941 "Naked Domain Host Name Clarification"
For `Naked Domain Host Name Clarification`, the text is currently:

&gt; This step is one of the most critical parts of the purchase process. Use the root domain name that you have mapped to your app. Do not prepend the domain name with www.

Please add clarification that that subdomains are valid here and this is not necessarily the domain root.
e.g. `app.example.com` is valid and will be valid f

[2019-01-21 17:23] firebellys opened #22942 "Sync is not supported anymore"
I have found using later versions that Execute is not allow anymore, only Async.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9ca205b-55ab-683a-46ee-afc9f6fc239b
* Version Independent ID: 065b8cb0-d218-b759-ce69-e8901d89b422
* Content: [Get started with Azure Table storage and Azure Cosmos DB Table API using .NET](h

[2019-01-21 17:31] moseleycj opened #22943 "Some more detail needed"
"To ensure resources aren't overburdened when running jobs against databases in a SQL elastic pool, jobs can be configured to limit the number of databases a job can run against at the same time."

How?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe5d5f3a-ed62-4868-962e-2a2561309e80
* Version Independent ID: fbeebf3

[2019-01-21 17:33] jimothyGator opened #22944 "Error running last command"
When I run the final command (`$appgw3 =  Set-AzApplicationGateway -ApplicationGateway $appgw2`), I get this error:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4bd931-ba29-d16b-6f08-fc21f3d281ce
* Version Independent ID: 25a8ef46-66b5-da34-2329-1be12ccfd720
* Content: [Rewrite HTTP headers in an existing Az

[2019-01-21 17:37] jimothyGator commented on #17084
@vhorne To clarify, will the fix include the`X-Forwarded-Host` header?

In the meantime, is it possible to add a custom header to an existing AppGateway rule? I attempted to follow the instructions [here](https://docs.microsoft.com/bs-latn-ba/azure/application-gateway/add-http-header-rewrite-rule-powershell), but ran into an issue running the commands in that article (#22944)

[2019-01-21 17:46] kulukamal opened #22945 "'Not found'"
'try the app' worked fine
but 'detect the face ' is not working.

it said operation returned an invalid status code 'Not found'

after
Exception thrown: 'Microsoft.Azure.CognitiveServices.Vision.Face.Models.APIErrorException' in mscorlib.dll

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a7905f-5818-4398-ee39-2842519

[2019-01-21 17:51] solankisamir commented on #22586
@PramodValavala-MSFT adding a [note](https://github.com/MicrosoftDocs/azure-docs/issues/22586#issuecomment-455133333) to the doc would be useful

[2019-01-21 17:53] jimothyGator commented on #21308
@xarly: I think you're referring to this line:

    $reqRoutingRule = Get-AzApplicationGatewayRequestRoutingRule -Name Rule1 -ApplicationGateway $appgw

I think the problem is that a previous line should be changed from this:

    $appgw1 = Get-AzApplicationGateway -Name "AutoscalingAppGw" -ResourceGroupName "<rg name>"

to this:

    $appgw = Get-AzApplicationGateway -Name "AutoscalingAppGw" -Res

[2019-01-21 17:55] kulukamal commented on #22945
exception thrown in
private async Task<IList<DetectedFace>> UploadAndDetectFaces(string imageFilePath)

above method

[2019-01-21 18:04] anujku opened #22946 "Java change feed processor library"
Is there any plan for adding Java library for change feed processor library ? Or is there some kind of tutorial which shows the same using Java or REST APIs in some other language ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a5194d-0869-94e6-227f-4fba0c798b22
* Version Independent ID: 47f771ee-5237-7fb5-dbc6-fceb

[2019-01-21 18:10] Mike-Ubezzi-MSFT commented on #22943
@moseleycj Thank you very much for requesting this vital piece of information. There is a concept of an [Elastic Job Agent](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/sql-database/elastic-jobs-overview.md#elastic-job-components), which manages workloads of the elastic jobs themselves. There is also the following section which discusses the [Workflow to create, configure, and

[2019-01-21 18:19] Mike-Ubezzi-MSFT commented on #22942
@firebellys Thank you for your interest in Azure cloud services. Are you making a general product related statement or is there a document related reference where `table.Execute` is synchronous versus asychronous? I could not find a documentation related update to be made here. Please provide addtional details if see changes you would like to see. Thank you.

[2019-01-21 18:20] talmdal commented on #21020
Thanks, sorry for the delayed response.  I had MQTT working, but I couldn't find anything in the documentation that provided similar information for AMQP.  it turns out that it is the same in AMQP

[2019-01-21 18:20] #21020 closed

[2019-01-21 18:35] Mike-Ubezzi-MSFT commented on #22921
Also, could you or are you following a tutorial or quick start documentation? If so, can you provide the doc link so I can update this GitHub issue with these additional details, as they are helpful to other's who are experiencing the same challenges.

[2019-01-21 18:42] scubajon commented on #12263
I am having a similar issue; however, I am using "@" in
val tempDir = "wasbs://" + blobContainer + "@" + blobStorage +"/tempDirs"

and I am using mynewserver-20190119 for the server name, so that the variable sql
sqlDwUrl contains "mynewserver-20190119.database.windows.net" versus "mynewserver-20190119.database.windows.net.database.windows.net".

In the last step, I tried experimenting using
.form

[2019-01-21 18:46] Mike-Ubezzi-MSFT commented on #22908
@raghukrishnamoorthy Thank you for your interest in Azure cloud services. Can you provide the documentation link you are working from? If you are not reporting a documentation error, can you please redirect your issue to the forums or to Azure support, where this type of issue will be better handled. If you are wanting to report a documentation bug, please provide the specific documentation link a

[2019-01-21 18:50] scubajon opened #22947 "Error on the final step to ASDW"
# Content: Tutorial: Perform ETL operations using Azure Databricks
# Content Source: articles/azure-databricks/databricks-extract-load-sql-data-warehouse.md
# Service: azure-databricks

I am having an issue similar to the one posted in
https://github.com/MicrosoftDocs/azure-docs/issues/12263
however, I am using "@" in
val tempDir = "wasbs://" + blobContainer + "@" + blobStorage +"/tempDirs"

and I

[2019-01-21 19:06] Mike-Ubezzi-MSFT commented on #22905
@v-maroge Thank you for your interest in Azure cloud services. The SendGrid service is available in each region where Azure App Service is available and is not tied to a logical server instance but, in the case of a regional outage, the SendGrid service would be affected. I see that the documentation is not very clear with regard to A) Json deployment options, and B) Region diaster and high availa

[2019-01-21 19:12] lcalcagni commented on #18224
@HeidiSteen ...so I have to paid for using Microsoft Graph API ??

[2019-01-21 19:21] yahiaman commented on #22935
Thank you for your interrest
My question is related to this link : https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-single-adfs-multitenant-federation
I would like to know how can we configure the second AADConnect (password synch, ADFS ...)

[2019-01-21 19:40] mike-urnun-msft commented on #22937
Hi @SeanFeldman Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-01-21 19:44] mike-urnun-msft commented on #22926
Hi @Aum-Kaara Thank you for your feedback! We will review and update as appropriate.

[2019-01-21 19:58] Mike-Ubezzi-MSFT commented on #22947
@scubajon Thank you very much for your interest in Azure cloud services. We are actively investigating your issue and will update this when we have more information.

[2019-01-21 20:05] HeidiSteen commented on #18224
If you are using Cognitive Services - and both Computer Vision and Text Analytics are Cognitive Services -- then you need to sign up.  It looks like there is a Free option so that you can explore and learn at no charge.  https://azure.microsoft.com/en-us/services/cognitive-services/

[2019-01-21 20:13] Mike-Ubezzi-MSFT commented on #22940
@sergey-netdev Thank you very much for your interest in Azure cloud services. In looking through this documentation, I think the [Modify connection string](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#modify-connection-string) step needs to be executed twice, once for the `application` database and another for access to the `master` database as you cannot

[2019-01-21 20:17] Mike-Ubezzi-MSFT commented on #22941
@JackMorrissey Thank you very much for this detailed feedback. I will assign to the content owner to evaluate and update as appropriate.

[2019-01-21 20:31] danjus10 opened #22948 "Syncronizing Group Membership & Users removed from Group"
Hi,

I'm trying to work through the use case below:

1. SCIM provisioning of users that are assigned to a given AD Group
2. When a user is added it correctly fires off a POST /Users  to Create the User
3. When a user is removed it skips the user a reports - "Details : User details: Skip reason = NotEffectivelyEntitled, Active = True, Assigned = False, Passed scope filter: True;"  But does not send

[2019-01-21 20:33] Mike-Ubezzi-MSFT commented on #22938
@thekamhussain Thank you for this detailed feedback. It would make sense to enhance the documentation with details as to which specific step a user might trip-over this specific error by calling out the command that invokes the create subscription call, etc.

[2019-01-21 20:37] Mike-Ubezzi-MSFT commented on #22932
@jflieben Thank you for providing this detailed feedback. I will have the content owner evaluate and enhance the documentation as appropriate.

[2019-01-21 20:38] femsulu commented on #22602
@chi-ltd This Github channel is designated for documentation related issues. let's continue the investigation and followup via the active email thread + support ticket.

[2019-01-21 20:39] Mike-Ubezzi-MSFT commented on #22927
@ld0614 Thank you very much for this detailed feedback. I will have the content owner evaluate and update as appropriate.

[2019-01-21 20:43] femsulu commented on #22919
@Aurel-Bruno Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-21 20:45] femsulu commented on #22931
@jflieben Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-21 20:47] Mike-Ubezzi-MSFT commented on #22931
It appears the script in the [Uninstall](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/solution-office-365#uninstall) section should be Get- and not Set-.

[2019-01-21 20:49] rbrayb opened #22949 "Extraneous comma"
{
    "displayName": "Joe Consumer",                // this request updates only the user's displayName
}

Remove the comma after Consumer",

Should be:

{
    "displayName": "Joe Consumer"              // this request updates only the user's displayName
}

Otherwise gets error:

"value": "Invalid JSON. An unexpected comma was found in scope 'Object'. A  comma is only valid between properties of a

[2019-01-21 20:50] Mike-Ubezzi-MSFT commented on #22934
@Anmolgan81 Thank you for this detailed question. We are investigating and will update you when we have additional information to provide.

[2019-01-21 20:54] Mike-Ubezzi-MSFT commented on #22928
@furmangg Thank you for this detailed feedback. I am investigating and will update you when I have additional information.

[2019-01-21 20:54] Mahons commented on #22904
Thanks Raunak.

[2019-01-21 21:01] Mike-Ubezzi-MSFT commented on #22924
@maganvill Thank you for your interest in Azure cloud services. We are investigating and will update you when we have additional information to provide.

[2019-01-21 21:04] adeinde opened #22950 "Cloud Apps requirement"
For the Require Client Apps Section;

Does salesforce fall under the applications that can require an approved client app e.g Intune Managed browser, to access

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0073f5a8-daf6-7f14-127f-e0c9d80af78d
* Version Independent ID: d6d0afdf-3619-ca03-718b-a40bfd07bab9
* Content: [A

[2019-01-21 21:05] Mike-Ubezzi-MSFT commented on #22933
@sowsan Thank you very much for your interest in Azure cloud services. We are investigating and will update you when we have additional information to provide.

[2019-01-21 21:08] Mike-Ubezzi-MSFT commented on #22920
@praveenzack Thank you for your interest in Azure cloud services. We are investigating and will update you when we have additional information to provide.

[2019-01-21 21:13] CodingSpiderFox commented on #22175
Thanks, that works.

So that means that the AMQP messages do not contain the payload? What would I use the AMQP protocol endpoint of the IoT hub for then?

[2019-01-21 21:15] Mike-Ubezzi-MSFT commented on #22936
@303977 Thank you very much for you interest in Azure cloud services.

[2019-01-21 21:15] #22936 closed

[2019-01-21 21:17] Mike-Ubezzi-MSFT commented on #22939
@cdanvergara Thank you very much for your interest in Azure cloud services. We are investigating and will update you when we have additional information to provide.

[2019-01-21 21:20] Mike-Ubezzi-MSFT commented on #22944
@jimothyGator Thank you for this detailed feedback. We are investigating and will update you when we have additional information to provide.

[2019-01-21 21:40] Mike-Ubezzi-MSFT commented on #22946
@anujku Thank you for your interest in Azure cloud services. Can you detail which Cosmos API you are working with? If you take a look at [Supported APIs and client SDKs](https://docs.microsoft.com/en-us/azure/cosmos-db/change-feed#supported-apis-and-client-sdks), the SQ API and Gremlin API are supported by Java client drivers.

![screenshot 162](https://user-images.githubusercontent.com/37126106/5

[2019-01-21 21:43] Mike-Ubezzi-MSFT commented on #22930
@olavt Thank you very much for this detailed feedback. I will assign to the content owner to evaluate and enhance and appropriate.

[2019-01-21 21:48] Mike-Ubezzi-MSFT commented on #22948
@danjus10 Thank you for this detailed feedback. We are investigating and will update you when we have additional information to provide you.

[2019-01-21 21:52] bwren commented on #22930
We're in the process of updating content very similar to what you're suggesting.  These updates will all be released at once most likely within the next couple of weeks.

[2019-01-21 21:52] bwren commented on #22930
#please-close

[2019-01-21 21:53] #22930 closed

[2019-01-21 22:06] matt-FFFFFF opened #22952 "azurerm_public_ip"
To avoid the deprecation warning, update allocation method syntax from:
public_ip_address_allocation = "static"
to:
allocation_method = "Static"
(present in multiple locations in the doc)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 744c0642-d2d6-1db2-a208-d39777129d70
* Version Independent ID: 6cf61e7f-f58a-e738-bb3

[2019-01-21 22:09] akshay8082 commented on #22722
Hi @PramodValavala-MSFT : The issue has been resolved now.

[2019-01-21 22:10] akshay8082 commented on #22721
Hi @PramodValavala-MSFT : Yes.. Thanks for all your help

[2019-01-21 22:11] mike-urnun-msft commented on #22685
@seesharpdev Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-21 22:11] #22685 closed

[2019-01-21 22:19] akshay8082 opened #22953 "Not able to connect to CosmosDB using MongoDB API: com.mongodb.MongoSocketOpenException: Exception opening socket"
Hi There,
I have created a spring boot application and we are trying to connect to COSMOS DB using MongoDB API.
I followed the steps that has been shown in this article however still getting an exception.

Please see the below code that I have implemented

SpringBootApplication Class--

----------------------------
@SpringBootApplication
public class DemoApplication extends AbstractMongoConfigurat

[2019-01-21 22:40] cconrado commented on #19070
Thanks @rboucher

[2019-01-21 22:43] jamesbannan opened #22954 "Cannot install User App for Microsoft OMS integration without HI credentials"
I wanted to demo this solution for a customer, so I signed up for a ServiceNow Developer instance, but discovered that you can't install the User App for Microsoft OMS Integration without having HI credentials. This means that you have to have access to a paid, enterprise instance of ServiceNow, as you can't get HI credentials through a Developer account. Can you please confirm that this is the ca

[2019-01-21 22:58] project-orcon opened #22955 "Links broken"
Example links are broken

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9d4b060-b1ac-bcbb-f448-ecea497dc542
* Version Independent ID: 9d8a9f1a-85bb-75f8-7a8f-bd1648f1b024
* Content: [Delivering content to customers](https://docs.microsoft.com/en-gb/azure/media-services/previous/media-services-deliver-content-overview)

[2019-01-21 23:35] IanMercer opened #22956 "'ICPM' should be 'ICMP'"
In one of the headings you have 'ICPM', it should be 'ICMP'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cc61595-d1ea-d72b-bef8-52e7b7838a14
* Version Independent ID: 6df6127e-bf72-eb63-82c2-a132a6576add
* Content: [Route network traffic - tutorial - Azure portal](https://docs.microsoft.com/en-us/azure/virtual-netw

[2019-01-21 23:39] cppcraze opened #22957 "Multivalue routing"
In above document, it is mentioned that "MultiValue routing method works only if all the endpoints of type ‘External’ and are specified as IPv4 or IPv6 addresses". What about the endpoints in the profile are all Azure endpoint, but we choose "MultiValue" as routing method? What will happen in this case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-01-21 23:47] vicperdana opened #22958 "Unable to securely pass credentials using the latest handler."
Hi, I am still getting an error around securing credentials in MOF file following the above example.  Anything I may have missed?

The DSC Extension received an incorrect input: Compilation errors occurred while processing configuration
'TestDSC'. Please review the errors reported in error stream and modify your configuration code appropriately. System.InvalidOperationException error processing pr

[2019-01-22 00:13] dcbrown16 commented on #22912
Got it, thanks!

[2019-01-22 00:13] #22912 closed

[2019-01-22 00:51] #22904 closed

[2019-01-22 00:56] #21581 closed

[2019-01-22 00:57] MicahMcKittrick-MSFT commented on #22958
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-22 00:58] MicahMcKittrick-MSFT commented on #22952
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-22 00:59] Mike-Ubezzi-MSFT commented on #21297
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-22 00:59] #21297 closed

[2019-01-22 01:03] Mike-Ubezzi-MSFT commented on #22955
@project-orcon Thank you for bringing this to our attention. I see that the links in the S[treaming URL formats](https://docs.microsoft.com/en-gb/azure/media-services/previous/media-services-deliver-content-overview#a-idurlsstreaming-url-formats) are not resolving. I will assign this to the content author to evaluate and update as appropriate.

[2019-01-22 01:04] joelhulen commented on #22889
Same issue here.

[2019-01-22 01:05] Mike-Ubezzi-MSFT commented on #22954
@jamesbannan Thank you for this detailed feedback. We are investigating and will update you when we have more information to provide.

[2019-01-22 01:10] Karishma-Tiwari-MSFT commented on #22631
@sndinh Any update?

[2019-01-22 01:12] Mike-Ubezzi-MSFT commented on #22950
@adeinde Thank you for the detailed inquiry. We are actively investigating and will get back to you soon.

[2019-01-22 01:14] Mike-Ubezzi-MSFT commented on #22949
@rbrayb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-22 01:18] Mike-Ubezzi-MSFT commented on #22956
@IanMercer Thank you for the detailed feedback. I am assigning this to the content author to evaluate and update as appropriate. The sub-section title is: [Enable ICPM through the Windows firewall](https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-create-route-table-portal#enable-icpm-through-the-windows-firewall). It should read: Enable **ICMP** through the Windows firewall.

[2019-01-22 01:18] dcbrown16 opened #22959 "Not discoverable"
Is this page supposed to show in the ToC as How-to &gt; Collect Data &gt; Configure applications &gt; Azure apps &gt; Azure app service?
That link goes here but it isn't active on the ToC menu or whatever you call that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 098ffe3a-2cbd-1038-30f2-dd2f528984a3
* Version Indepe

[2019-01-22 01:20] Mike-Ubezzi-MSFT commented on #22957
@cppcraze Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-01-22 01:59] starforce commented on #20918
@hrushib @jakaruna-MSFT @MicahMcKittrick-MSFT
 @aljo-microsoft

Hey thanks for all the help but none of the suggestions fixed my problems. Going back to my original issue:

I**nvoke-WebRequest : Unable to retrieve certificates because the thumbprint is not valid. Verify the thumbprint and retry"
Is there some reason why I cannot use the same X.509 Thumbprint and Cert that I use for publishing code

[2019-01-22 02:29] josuvil opened #22960 "bad link"
Hello, the reference link to AzureRM PS is broken: https://docs.microsoft.com/en-us/powershell/azure/install-azurerm-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12f1ea9-6446-be01-22fe-885fb945d22c
* Version Independent ID: 634f8ace-1a8c-6811-627b-fdfbdd1942a3
* Content: [Use an Azure file share with Windows](htt

[2019-01-22 02:35] Mike-Ubezzi-MSFT commented on #22959
@kobulloc-MSFT This is a MicrosoftDocs 'product-feedback' item and not feedback pertaining to application insights. Wasn't sure how to classify this and doc-bug nor doc-enhancement seem correct. Please reclassify as needed.

[2019-01-22 02:38] kulukamal commented on #22945
While installing Microsoft cognitive face api
I got an error :
Failed to reference 'system runtime' make sure its in global assembly cache.

So i added
 <Reference Include="System.Runtime"/>
To. Csproj file and installation was successful.

But in reference:
A yellow symbol is showing on system.runtime reference

[2019-01-22 02:43] dcbrown16 commented on #22959
@Mike-Ubezzi-MSFT these have been classified as doc-enhancement when I have reported them in the past.
#11392, #6385 for example.

[2019-01-22 02:54] namvan commented on #14316
Running PS as Admin would help you.

[2019-01-22 02:56] hassanbabaie opened #22962 "Any possible Dates for US EAST and the UK"
Just checking if you know of any possible dates for v2 in US EAST and the UK locations?

Thanks

Hass

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-6a2d-07cb-ffcf39643ed4
* Version Independent ID: 298a134e-fb27-f16d-bff2-d43eb0f766fd
* Content: [Autoscaling and Zone-redundant Application Gateway in Azure

[2019-01-22 03:18] neil-rubens opened #22963 "China Availability"
It would be great if B2C were made available in China soon; especially since due to firewall restrictions using B2C hosted in other regions is not feasible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a111eec9-fcfd-8966-ca7b-0177418917fe
* Version Independent ID: b9f65c4d-3735-a5a3-c1f8-1e6770e68036
* Content: [Regi

[2019-01-22 03:22] dcbrown16 opened #22964 "Automating with generateAnswer API"
The lifecycle page directs us here and offers this hint.
"For large KBs, the testing can be automated through generateAnswer APIs."
https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/concepts/development-lifecycle-knowledge-base#testing-and-updating-the-knowledge-base

It's difficult to see how the operations described here, which heavily rely on human confirmation, could be automa

[2019-01-22 03:34] dcbrown16 commented on #22964
Upon further investigation this may be related to #123. Can @diberry or @pchoudhari confirm that the quote about training with generateAnswer would not apply to v4.0?

[2019-01-22 03:35] PramodValavala-MSFT commented on #22722
@akshay8082 Glad that you were able to resolve the issue! If you believe the solution would help others, do share it here as well.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-22 03:35] #22722 closed

[2019-01-22 03:35] PramodValavala-MSFT commented on #22721
@akshay8082 Thanks for confirming. Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-22 03:35] #22721 closed

[2019-01-22 04:01] KevinMZiegler opened #22965 "Typo"
In this paragraph: https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#augmented-security-rules
where my square brackets indicate the fix:

 There are limits the [insert: "to"] number of addresses, ranges, and ports that you can specify in a rule. For details, see Azure limits.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-01-22 04:20] pjknkda opened #22967 "Changing the SKU of replicas"
In the docs, it says "Postgres requires the master server value for max_connections to be greater than the replica’s value", however, when I try to change the SKU in the portal, the portal says "The operation could not be completed. The requested sku update would cause the master server to have a larger max_connections value than its replica(s).". Which one is correct?

---
#### Document Details

[2019-01-22 04:34] selvasingh commented on #17644
Please update this ASAP

[2019-01-22 04:48] ShubhaVijayasarathy commented on #22775
sorry for my delayed response. Our mgmt client libraries although can support ADLS Gen 1, we are yet to push a public nuget package. we dont have a definitive timeline (hopefully soon). We can however handover a singed nuget package privately if that helps. email askeventhubs, if that helps

[2019-01-22 04:49] ShubhaVijayasarathy commented on #22775
As for support ADLS Gen 2, we do have that in our timelines and will be supporting eventually

[2019-01-22 04:49] ManojReddy-MSFT commented on #22859
@goh-chunlin You are correct. I am assigning this to the author to update the code. Thanks again for reporting this.

[2019-01-22 04:50] angoyal-msft commented on #22662
@rajdeep-in could you please help us with this documentation.

https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/faq

[2019-01-22 04:51] angoyal-msft commented on #22641
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-22 04:51] #22641 closed

[2019-01-22 04:51] YASWANTHM-MSFT commented on #22672
Since, we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-01-22 04:51] #22672 closed

[2019-01-22 04:52] sachinpatel248 opened #22973 "Can not predict single image."
**Gives ValueError: Cannot feed value of shape (1, 277, 277, 3) for Tensor 'Placeholder:0', which has shape '(?, 227, 227, 3)'**

### Code segment

output_layer = 'loss:0'
input_node = 'Placeholder:0'

with tf.Session() as sess:
    prob_tensor = sess.graph.get_tensor_by_name(output_layer)
    predictions, = sess.run(prob_tensor, {input_node: [augmented_image] })

### Error

----------------------

[2019-01-22 04:55] ManojReddy-MSFT commented on #22860
@goh-chunlin I am assigning this to the author to provide more details regarding this.

[2019-01-22 04:56] CHEEKATLAPRADEEP-MSFT commented on #22889
@SnehaGunda Could you please look into this issue, where the multiple customers are reporting?

![image](https://user-images.githubusercontent.com/44426401/51513268-0e60d000-1e30-11e9-88ed-be34af01a42e.png)

[2019-01-22 04:58] YASWANTHM-MSFT commented on #22691
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion

[2019-01-22 04:58] #22691 closed

[2019-01-22 05:18] shizn commented on #22862
@bfrey1 The `preview` means this feature (IoT Edge CI/CD tasks in Azure Pipelines) is on public preview. Everyone uses these two tasks will see the `preview` tag. You can safely use it.
It seems we need to update the screenshot on the tutorial to align with the latest UI on Azure DevOps and avoid confusion.

[2019-01-22 05:43] ManojReddy-MSFT commented on #22963
@neil-rubens Thanks for the feedback. Product team is working on adding more datacenters in the Asia Pacific region. I would recommend adding your request for b2c support in China region [here](https://feedback.azure.com/forums/169401-azure-active-directory?category_id=160596), so that the product team can prioritize the regions based on customer feedback.

[2019-01-22 06:09] vikaskumawat80 opened #22977 "Retrieve users or user who is logged in"
Is this document still Relevant to retrieve user/users of Azure AD B2C? Which one we should use Azure AD Graph API or Microsoft Graph API? Want to put user attributes in a form when user logged in. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Version Independen

[2019-01-22 06:14] SadiqhAhmed-MSFT commented on #22647
Duplicate of : https://github.com/MicrosoftDocs/azure-docs/issues/22646

[2019-01-22 06:14] #22647 closed

[2019-01-22 06:17] SadiqhAhmed-MSFT commented on #21960
@rboucher Your thoughts please.

[2019-01-22 06:18] dadukes commented on #8837
I had the same issue. Migrating from Azure RM to Az and finally turning on compatability mode worked for me. You can follow this guide to move to Azure Az: https://docs.microsoft.com/en-us/powershell/azure/migrate-from-azurerm-to-az?view=azps-1.1.0
1. Unintstall all versions of Azure RM
2. Install Azure Az
3. Turn on compatability: Enable-AzureRmAlias -Scope CurrentUser
4. Run above script

[2019-01-22 06:18] SadiqhAhmed-MSFT commented on #21126
@mumami any noteworthy update you can help with?

[2019-01-22 06:50] jflieben commented on #22931
Also in the admin consent and subscribe scripts. T.b.h. all three scripts could take a good lookover...

[2019-01-22 06:58] neil-rubens commented on #22963
@ManojReddy-MSFT  thanks for the suggestion; I've added request:
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/36593068-add-b2c-support-in-china

[2019-01-22 06:58] #22963 closed

[2019-01-22 07:10] angoyal-msft commented on #21823
@deborahc/ @SnehaGunda could you please update the document so that it will be helpful for other users as well.

[2019-01-22 07:12] SubhashVasarapu-MSFT commented on #22962
@hassanbabaie Thanks for the question! We are investigating and will update you shortly.

[2019-01-22 07:14] angoyal-msft commented on #22660
@CarlRabeler could you please provide an update on this issue.

[2019-01-22 07:16] shashishailaj commented on #22977
@vikaskumawat80 Thank you for your query . We will investigate and update this thread accordingly.

[2019-01-22 07:17] jackhorton opened #22997 ""Trigger - host.json properties" and "host.json settings" sections don't match"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue#hostjson-settings seems like the more correct version than https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue#trigger---hostjson-properties

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5063120f

[2019-01-22 07:21] lydemann opened #22998 "The Service Fabric packaging tool link is not working"
The service fabric packaging tool link is not working.
After you click it you get: servicefabricsdkstorage.blob.core.windows.net’s server IP address could not be found.

The link is: https://aka.ms/servicefabricpacktool

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2719801-dccb-d2ad-84a7-ae12db26f1ba
* Version Indepe

[2019-01-22 07:34] msLinuxNinja opened #22999 "Missing data in chart"
In the section: High Scale VM Sizes (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage-performance#high-scale-vm-sizes) it says:
"below are the specifications of the largest VM size in a DS series, DSv2 series and a GS series"

According to the sentence it should provide details for the DS, DSv2 and GS Series VMs but the chart has only data for DS and GS Series.

Shou

[2019-01-22 07:52] imeya opened #23000 "Can you provide a working code and with more features?"
The code in this doc for creating eventhubs is out of date, like this class EventHubCreateOrUpdateParameters seams abandoned.

And now I can create a very basic eventhubs using c# code, but I want to add more features during the creation, like below:
1. during creation, specify the location(west us, east us etc.)
2. during creation, specify the capture provider(azure blob storage and azure data la

[2019-01-22 08:01] rolanddb commented on #22384
Hi, is there any update on this issue? Anything you want me to try/investigate?

[2019-01-22 08:03] v-maroge commented on #22905
@Mike-Ubezzi-MSFT Just to give you an update, I have recreated a SendGrid by assigning an existing resource group that was associated with East Japan, and the deployment location was shown as East Japan. Does the deployment location associate with resource group location? If so, I don't mind too much about A) Json option. Still will be great to know about B) Region disaster and high availability.

[2019-01-22 08:10] MikkelHegn commented on #22998
@msfussell - you have the ownership of the vanity URL, can you please take a look?

[2019-01-22 08:10] emilkje opened #23001 "Windows Version 1809 compatibility"
Will upgrading to windows 1809 break the dev setup with sf mesh? It seems the 1809 update is at least expanding the windows container capabilities, but I can't find anything on breaking changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1e4ddcc-bf75-f37e-a87d-1c642cb2e11f
* Version Independent ID: 6c715293-6c6e-2

[2019-01-22 08:12] orspod commented on #22619
#please-close

[2019-01-22 08:26] materniak opened #23003 "Enable HTTPS with your own certificate via Powershell/ARM?"
I want to configure HTTPS for my CDN with custom domain using certificate I've got from certificate authority. I've spent some time to figure out how to do it "automatically", but I cannot find the way to do it via ARM nor Powershell.
https://docs.microsoft.com/en-us/powershell/module/azurerm.cdn/?view=azurermps-6.13.0#cdn
https://docs.microsoft.com/en-us/cli/azure/cdn?view=azure-cli-latest

Accor

[2019-01-22 08:30] materniak opened #23004 "Enable HTTPS with your own certificate via Powershell/ARM?"
I want to configure HTTPS for my CDN with custom domain using certificate I've got from certificate authority. I've spent some time to figure out how to do it "automatically", but I cannot find the way to do it via ARM nor Powershell.
https://docs.microsoft.com/en-us/powershell/module/azurerm.cdn/?view=azurermps-6.13.0#cdn
https://docs.microsoft.com/en-us/cli/azure/cdn?view=azure-cli-latest

Accor

[2019-01-22 08:30] #23003 closed

[2019-01-22 08:31] materniak commented on #23003
Created new issue via Microsoft Docs directly https://github.com/MicrosoftDocs/azure-docs/issues/23004

[2019-01-22 08:38] KrishnaG-MSFT commented on #22725
@jdanton  Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-22 08:38] #22725 closed

[2019-01-22 08:41] ChiragMishra-MSFT commented on #22964
@dcbrown16 Thanks for the feedback. I am assigning the issue to the content owner to take a look.

@tulasim88 Can you please take a look at this one ?

[2019-01-22 08:43] ChiragMishra-MSFT commented on #22973
@sachinpatel248 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-01-22 08:50] jtheisen opened #23005 "Client technologies and alternatives"
I've got an existing Python application, and there's a Python SignalR client for the old ASP.NET SignalR.

It's my understanding that the new one works with a different protocol, so it appears that there are truly only the three clients mentioned in the root page of this documentation, is that correct?

(It's difficult to google different products that have the same name.)

---
#### Document Detai

[2019-01-22 08:51] Paulooma opened #23006 "Connect using New-PSDrive from the Portal (Azure File Share) needs fixing"
Tried mounting a drive to my computer from the Azure File Share using the Powershell command (New-PSDrive) but got an error "The network resource type is not correct". Tried it on multiple system but still face the error. Can you kindly update the script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12f1ea9-6446-be0

[2019-01-22 09:03] #23004 closed

[2019-01-22 09:03] SumanthMarigowda-MSFT commented on #23006
@Paulooma Thanks for your question. We are checking on this and will respond to you soon.

[2019-01-22 09:07] jakaruna-MSFT commented on #22998
@lydemann Please use this [link ](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started#install-the-sdk-and-tools) for the information about installing service fabric sdk and tools.

[2019-01-22 09:07] ChiragMishra-MSFT commented on #22913
@imeya There will be interop between the Blob REST APIs and ADLS Gen2 REST APIs, at the GA of ADLS Gen2. Hence you can use the existing Blob library here: https://github.com/Azure/azure-storage-python E.g. upload data via Blob APIs, read data via Blob APIs

Support for the new APIs such as create path, rename path into the library will also be added soon, however there's no timeline for it at this

[2019-01-22 09:20] jakaruna-MSFT commented on #22999
@msLinuxNinja Thanks for reporting.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-22 09:20] RicardoNiepel opened #23007 "More (visual) details / background on events vs. messages"
It would be great to see some more information and samples about the differences between events and messages - the difference and scenarios for intents and facts.
It would also be nice to use some diagrams/visualization to support this explanation.

E.g. Clemens Vasters has done a good job at his talk Event-Driven Serverless Architecture - the next big thing in the cloud (at CONNECT17, https://www

[2019-01-22 09:20] jakaruna-MSFT commented on #22999
@aungoo-msft Please take care of this issue

[2019-01-22 09:22] davidbending opened #23008 "Having trouble with TensorFlow"
I'm trying to use Keras over TensorFlow but Im' struggling with dependencies.  My TensorFlow step looks like this:

est = TensorFlow(source_directory = script_folder,
                 compute_target = compute_target,
                 entry_script = 'train.py',
                 conda_packages = ['pandas', 'keras'],
                 use_gpu = True)

but when the image is built I get the output below

[2019-01-22 09:39] YASWANTHM-MSFT commented on #22691
@DanielYnformed, Basically, Azure Data Lake Storage Gen2 is a blob storage account with added features. There will be interop between the Blob REST APIs and ADLS Gen2 REST APIs, at the GA of ADLS Gen2. Hence you can use the existing Blob library [here](https://github.com/Azure/azure-storage-python): E.g. upload data via Blob APIs, read data via Blob APIs. We'll also add the support for the new API

[2019-01-22 09:43] DanielYnformed commented on #22691
@YASWANTHM-MSFT Thank you for your clear response. I will definitively look into this.

[2019-01-22 09:47] shashishailaj commented on #22638
@MeltdownZA . Please try the .net Core sample [here](https://github.com/Azure-Samples/key-vault-dotnet-core-quickstart) . You can check ASP.Net Core example which may not fulfil the exact requirement but give you an idea [here](https://github.com/aspnet/Docs/tree/master/aspnetcore/security/key-vault-configuration/samples/basic-sample/2.x)

Hope the information helps you . Should you have any furth

[2019-01-22 09:47] #22638 closed

[2019-01-22 09:52] ChiragMishra-MSFT commented on #22775
@ShubhaVijayasarathy Thanks for clarifying.

@imeya We will now proceed to close this issue. If you have any more questions, please feel free to comment and tag @ChiragMishra-MSFT .

[2019-01-22 09:52] #22775 closed

[2019-01-22 09:58] YASWANTHM-MSFT commented on #22691
Sure, also you may check the list of programmatic Api’s which are supported and unsupported [here](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-upgrade?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#programming-interfaces). If you did not check how to manage the account operations and filesystem operations on Azure data lake storage using python. Please refer the below links.

[2019-01-22 10:02] PramodValavala-MSFT commented on #22997
@jackhorton Thanks for catching this! The content under the section `Trigger - host.json properties` seems to not have been updated for Functions v2.
We are assigning this to the content author to update accordingly.

@craigshoemaker Looks like the update for this section was missed because it includes [another file](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/functions-host-j

[2019-01-22 10:21] Tkeyy commented on #22163
@btardif Any news?

[2019-01-22 10:22] gamcmaho opened #23009 "Use of separate certificates for App GW frontend and APIM proxy endpoint"
I understand App GW v2 now supports Rewrite HTTP headers:

https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers

App GW now supports the ability to rewrite headers of the incoming HTTP requests as well as the outgoing HTTP responses.  Please validate and consider updating this document to make clear that rewrite headers and separate certificates is a viable option.  This

[2019-01-22 10:27] csiebler opened #23010 "azure-cli-core is causing version conflicts, resulting in remote training not working"
Working from Jupyer in a vanilla DSVM on Azure (deployed on Jan 22, 2019), Windows Server 2016, using the default `Azure ML` Conda environment (built into DSVM).

When I create a AML Compute cluster via:

[code]

and then run the code above (same happens when using `scikit-learn` via conda):

[code]

The remote training fails with the following messages in `azureml-logs/20_image_build_log.txt` in

[2019-01-22 10:51] ChiragMishra-MSFT commented on #22863
@linda33wj I followed the steps and faced the exact same error. In the copy activity, the source Dataset might have issues. When trying to "Preview Data" from the source, it says :
The operation on file SampleCourseData.csv under directory root/subfolder is failed due to exception. . Activity ID:<activity id>

Please have a look at this one.

[2019-01-22 10:54] Emvardol commented on #13867
@MicahMcKittrick-MSFT  this is not right. VM User Login is not enough for Serial Console. You need VM contributor role. Here is the error that you get: Please ensure you have at least VM Contributor role permissions. For moreinformation see https://aka.ms/serialconsolehelp.

[2019-01-22 11:01] sergaz-msft commented on #22777
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-22 11:01] #22777 closed

[2019-01-22 11:06] sergaz-msft commented on #22862
Assigning the issue to @shizn to update the doc accordingly. Thanks a lot @bfrey1 !

[2019-01-22 11:16] SubhashVasarapu-MSFT commented on #23004
@materniak Thanks for the question! We are investigating and will update you shortly.

[2019-01-22 11:38] jakaruna-MSFT commented on #22958
@vicperdana i tried with sample template and a simple configuration. It worked.
Changed a little in the DSC configuration. Please try this out and let me know
Template
[code]
DSC
[code]

[2019-01-22 11:41] jakaruna-MSFT commented on #23001
Thanks for the question! We are investigating and will update you shortly.

[2019-01-22 11:45] amjad-Alhusseini opened #23012 "Missing feature mentioning"
In the portal it says to customers there is "Bulk operations" feature for standard tier where its not mentioned above in this document. here the below features are only mentioned:
- Rich telemetry: You can use Notification Hubs Per Message Telemetry to track any push requests and Platform Notification System Feedback for debugging.
- Multitenancy: You can work with Platform Notification System cre

[2019-01-22 11:49] shashishailaj commented on #22705
@augur11 Hope the above information helps. Please let us now in case you have any further queries on this and we can continue the conversation .

[2019-01-22 11:51] PramodValavala-MSFT commented on #23007
@RicardoNiepel Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-01-22 12:02] jakaruna-MSFT commented on #22924
@maganvill Thank  you very much for the feedback.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-22 12:07] lydemann commented on #22998
I have installed the sdk, but the link to download the service fabric pack tool is not working.

[2019-01-22 12:08] rkarlin commented on #8840
Hi Binoy! thanks for reaching out! If you look a few paragraphs down, under https://docs.microsoft.com/cloud-app-security/anomaly-detection-policy#malware-detection, you can see the full list of permissions. Let me know if anything is missing. thanks!

[2019-01-22 12:11] msprateektaneja opened #23013 "Export to Event Hub in Preview?"
Looking for inputs if Export to Event hub from Azure Monitor is still in Preview? The screen seems to suggest that this is in Preview, but, the documentation doesn't. Can someone clarify? Screenshot attached.

![image](https://user-images.githubusercontent.com/46925972/51534865-f8253500-1e6c-11e9-802f-122c8c20230d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-01-22 12:14] shashishailaj commented on #22712
@arae090 For Security reasons , there is no way to download the certificate with private key ,. The reason for this is because Azure Federated Identity SSO service is a multi-tenant service as opposed to on-premise ADFS (or any Identity federation ) which is serving just one organisation and if private key is provided as well , it can be misused in many ways to impersonate different applications f

[2019-01-22 12:15] PramodValavala-MSFT commented on #22837
@Jan-Hettich Just following up here... I hope my previous comment clears things up.

[2019-01-22 12:30] davidbending commented on #23008
Adding keras and sklearn as pip packages instead of conda packages looks like it resolves the issue.

[2019-01-22 12:55] ManojReddy-MSFT commented on #21784
@moojjoo For conditional access to apply, the application needs to accept the token provided by Azure AD. If the application is using SAML, then Azure AD will post a SAML token.

You can refer to this [article ](https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-on-saml-protocol)to understand how SAML authentication is handled by Azure.  Let me know if you have more questi

[2019-01-22 12:55] shashishailaj commented on #22977
@vikaskumawat80 You should use Azure AD graph API for now as Microsoft Graph support for B2C is still being worked upon.

[2019-01-22 13:15] shashishailaj commented on #22977
@vikaskumawat80 You should use Azure AD graph API as mentioned in the article . Microsoft Graph support for B2C is still a work in progress.

[2019-01-22 13:17] CeciAc opened #23014 "'POST' is better than 'GET' method"
@ggthename commented on [Mon Jan 21 2019](https://github.com/MicrosoftDocs/azure-docs.ko-kr/issues/303)

I think that 'POST' is better than 'GET' method.
Because generally, we're using 'GET' method when we read data.

Could you change examples or add a new example?
Thank you!

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 939101cd-9c92-ed8f-b241-664794db8a

[2019-01-22 13:20] vikaskumawat80 commented on #22977
Could share a sample on how to use Azure AD Graph API for .NET Framework app?

[2019-01-22 13:24] CeciAc commented on #23014
Hi team,
I'm moving this here since the user is making a suggestion on the examples
Best regards!

[2019-01-22 13:42] Ba4bes opened #23015 "Service Connection > Service Hooks"
The Permissions state "Service Connections" for Azure DevOps, but shouldn't this be Service Hooks?

And this doc isn't clear about how to set those permissions. Read-permissions aren't to hard, but the service hook permission is very specific and how to grand them is not quit clear. I have found only the Project Administrator to be enough, but maybe a role with less permissions would do.

---
####

[2019-01-22 13:42] CeciAc opened #23016 "AzureStackStampDeploymentInfo.json is wrong name."
@mattu0119 commented on [Tue Jan 22 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/1765)

[フィードバックをこちらに入力してください]
AzureStackStampDeploymentInfo.json is wrong file name.
AzureStackStampInformation.json is a correct name of the file.

Get-AzureStackStampInformation is correct cmdlet to obtain the information.
Get-AzureStackInfo is not correct.

https://docs.microsoft.com/en-us/azure/a

[2019-01-22 13:45] CeciAc commented on #23016
Hi team,
I'm moving this here since the user is reporting an error in the code
best regards

[2019-01-22 13:48] maidrees commented on #5643
try with @trigger().startTime or @trigger().endTime

[2019-01-22 14:04] koskaar commented on #19861
The REST connector has received support for basic API pagination with decent documentation included. I consider my issue to be resolved as of now.

[2019-01-22 14:12] jose-l-carvalho opened #23017 "Core count is the same as original size machine, it is not reduced to 1/2 or 1/4"
Hi.

In the article it should state that the core count (for limited core accounts, like free accounts or visual Studio accounts) is the same as the full machine.
I created 4 DS12-1_v2 machines and they were consuming 16 cores, as I had 4 DS12_v2 machines

Best Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2

[2019-01-22 14:14] akang75 commented on #14287
This sample code section is really unclear and not maintained. It is very easy to share through GitHub, why not?

[2019-01-22 14:22] AjayKumar-MSFT commented on #23012
@amjad-Alhusseini, I understand that you are referring to the pricing tier and their features in the Azure Portal. Thank you for providing your feedback on this item!
![image](https://user-images.githubusercontent.com/44606227/51541613-42171680-1e7f-11e9-93be-a375b9759b9f.png)

Your feedback has been shared with the content owner for further review.

[2019-01-22 14:23] DanielYnformed opened #23018 "No support for Python Apps and APIM?"
Hi, I would like to know if there is a way to develop an API in python (no matter what type of app) and import this python project as new API in an Azure APIM. Is still even possible? I cannot find any documentation on this matter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0077a811-b0b7-93b1-80b0-a4d45615ef4b
* Ve

[2019-01-22 14:25] CarlRabeler commented on #22660
@angoyal-msft the max storage for business critical for gen 4 is currently 1 TB and for gen 5 is currently 4 TB (depending on the number of cores). I have asked the folks that own the pricing calculator for clarification on it showing something different.
Carl

[2019-01-22 14:36] jsiegmund commented on #19424
It's still not really clear to me. The samples provided are very generic.

What I understand from the current docs is that you can exclude things based on:
* Request header
* Request cookie
* Request body

A request header contains of two things: the name of the header and it's value. Based on that the portal actually states "Request header name", I'm assuming it will only match based on the actua

[2019-01-22 14:39] #21908 closed

[2019-01-22 14:48] amjad-Alhusseini commented on #23012
Awesome, keep me looped

Best regards
Amjad

________________________________
From: AjayKumar-MSFT <notifications@github.com>
Sent: Tuesday, January 22, 2019 4:23 PM
To: MicrosoftDocs/azure-docs
Cc: Amjad; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Missing feature mentioning (#23012)

@amjad-Alhusseini<https://github.com/amjad-Alhusseini>, I understand that you are referring to the pricing ti

[2019-01-22 14:48] vhorne commented on #21613
@bradyson

Created a new article about delegating a subdomain. See https://docs.microsoft.com/en-us/azure/dns/delegate-subdomain

[2019-01-22 14:53] joelhulen commented on #22889
This error also occurs after commenting out the following two lines:

[code]

I had suspected the problem was with creating a database or collection, but I still receive the error within the `GetItemsAsync` method on the line where the query is executed (`results.AddRange(await query.ExecuteNextAsync<T>());`).

I have tried with a brand new Cosmos DB instance, and even run across this error when a

[2019-01-22 15:08] agronholm commented on #10959
The bug @xumx talked about is still there. If I upgraded an existing blob storage account, the primary endpoint is not visible. How do I find out the endpoint?

Trying from the command line does not help either:
[code]

[2019-01-22 15:12] agronholm commented on #22879
Should a separate bug be opened for cases where the primary endpoint is not shown when an existing blob storage account has been upgraded to a GP2 one?

[2019-01-22 15:21] akshay8082 commented on #22953
Hi Mike,

Thanks for the quick response.
Let me check if any firewall rules needs to be changed. Thanks again.

[2019-01-22 15:22] Sheidir opened #23020 "Incorrect file name"
This is a minor error, but under "Run the app" it says "In the git terminal window, cd to the storage-table-java-getting-started folder." But this is the node tutorial, so the file is named "storage-table-node-getting-started". The name is correct in the command line segment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-01-22 15:24] spelluru commented on #22937
@axisc
Hi Ashish - please look into it when you get a chance. Thanks.

[2019-01-22 15:26] tfitzmac commented on #23007
@PramodValavala-MSFT - please reassign to @spelluru

[2019-01-22 15:33] diberry commented on #22964
@dcbrown16 What is #123? Can you verify the link github is linking is the correct document or issue?

Please assign this issue to me. #in-progress

[2019-01-22 15:41] CodingSpiderFox commented on #22175
OK thanks.

[2019-01-22 15:44] amitr3108 opened #23021 "Visual diagram beneficial"
A diagram of what we are trying to achieve would highly help. Just easier to visualize.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cc61595-d1ea-d72b-bef8-52e7b7838a14
* Version Independent ID: 6df6127e-bf72-eb63-82c2-a132a6576add
* Content: [Route network traffic - tutorial - Azure portal](https://docs.microsoft.c

[2019-01-22 16:00] bingosummer commented on #13590
@iainfoulds Seems that the warning is still at the bottom of the article.

[2019-01-22 16:11] eross-msft commented on #22616
@MysticRyuujin  Since I can't access the government site, can you tell me whether the steps to get to the Additional security verification page worked? Not step 1, the link, but the next part underneath the text, "If clicking that link doesn't work for you, you can also...."
This page is going to be undergoing a massive overhaul, so it would be great to know if the steps are wrong. Thanks!!

[2019-01-22 16:19] SumanthMarigowda-MSFT commented on #22960
@josuvil May I know in which section or paragraph do you see the broken link in the article "Use an Azure file share with Windows".https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-windows

[2019-01-22 16:21] mumami commented on #21126
Let me look into this today

From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Monday, January 21, 2019 10:19 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Muralidhar Mamidanna <mumami@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Out-of-date partner solution (#21126)

@mumami<https://nam06.safelinks.protection.outlook.com/

[2019-01-22 16:31] cephalin commented on #22940
@sergey-netdev The tutorial steps does not include the scenario of connecting to `master` database, but only the database with the business data. The error indicates that you're going beyond the scope of the tutorial already. As the tutorial is mainly about managed identity and not about how to connect to various databases, the best place to help debug your problem would be on the [forums](https:/

[2019-01-22 16:35] mtillman commented on #5648
@axxx307 Hey Mark, sorry for the delay. We're looking into it. I'll get back when I have more.

[2019-01-22 16:40] rohancragg opened #23022 "Pod managed identities not yet a supported project"
#use-pod-managed-identities - It would appear that this is currently an unofficial / associated project that is "not yet officially supported by Azure CSS") (quoting from: https://github.com/Azure/AKS/blob/master/previews.md)

I've struggled to get it working and presumably won't be able to ask for help on that - should it be recommended here if it's not yet supported?

---
#### Document Details

[2019-01-22 16:40] julieMSFT commented on #22880
@steveaf Thank you for reporting this. The correct link is [https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/sql-data-warehouse-and-parallel-data-warehouse-catalog-views?view=aps-pdw-2016-au7](url). I will be updating the document with the correct link.
I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can b

[2019-01-22 16:42] mamccrea commented on #22704
@rquintino - thank you very much for the feedback. We agree that those scenarios should be available and we've created a ticket internally to update the docs.

[2019-01-22 16:46] SumanthMarigowda-MSFT commented on #23006
@Paulooma Can you share me the PS cmdlets which you are trying perform, along with the screenshot of the error message

[2019-01-22 16:47] rajaprad opened #23023 "Unable to use command -Connect-ServiceFabricCluster from Azure Automation"
In Azure Automation account - there is no support for the command - **Connect-ServiceFabricCluster**.

The modules for Service Fabric in the gallery are below:

**AzureRM.ServiceFabric
Az.ServiceFabric**

Both these modules do not show the command Connect-ServiceFabricCluster in the preview. Please advice.

Thanks,
Pradebban Raja

[2019-01-22 16:48] mamccrea commented on #22947
@scubajon - I'm sorry you are experiencing difficulties. I am going to test this tutorial and get back to you.

[2019-01-22 16:54] dgonzalezb opened #23024 "Broken link"
The link in "Download the scripts to your computer." doesn't work.
http://servicefabricsdkstorage.blob.core.windows.net/publicrelease/MicrosoftAzureServiceFabric-AADHelpers.zip

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51489a2b-fef9-86d8-117e-200d81cd0694
* Version Independent ID: e371c257-18cb-aead-707a-3b1eed0c3

[2019-01-22 16:57] vhorne commented on #22873
@jtuliani
Removed that sentence.

[2019-01-22 16:59] TheMoroccanBoss opened #23025 "UnsupportedResourceOperation" Message="The resource type 'snapshots' does not support this operation.""
I know this has been asked and being tracked but i just want folks to put some priority on this: downgrading to an earlier packer version is not a workaround :) I do appreciate your efforts though !!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f33d707-2a5b-e0f7-2649-9b778d57a1da
* Version Independent ID: 3584b4b8

[2019-01-22 17:00] jtuliani opened #23026 "Out of date and missing content"
Out of date.
 - Only shows logging to a storage account. Options are now in place to log to a Log Analytics Workspace or EventHub.
 - Only shows alert and health probe logs. Option is now available to also log 'AllMetrics'

Missing content
 - Doesn't explain what alert events are possible. A full list is useful, how else to know what to expect?
 - Doesn't explain how to analyse via Log Analytics.

[2019-01-22 17:02] sergey-netdev commented on #22940
@cephalin The sample code from the tutorial is definitely for Entity Framework, isn't it? If I apply the code to my project it breaks the ability to run migrations so that whole MSI/token thing is _totally useless_ for those who employ code first approach.

[2019-01-22 17:12] mrbullwinkle commented on #22572
Sorry for the delay, I didn't end up having time to take care of this until today. The change to address this is merged internally. It will go-live around 10:30 AM today (UTC-8).

[2019-01-22 17:12] mrbullwinkle commented on #22572
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-01-22 17:15] vhorne commented on #13422
@milan-filipovic-lfx
True, there should no interruptions.

[2019-01-22 17:16] BryanLa commented on #22859
Hi @goh-chunlin - thanks very much for reporting this. Before we proceed, can you confirm that you've already incorporated this into the proposed changes in [PR 22910](https://github.com/MicrosoftDocs/azure-docs/pull/22910)? If so, I will work with engineering to get that PR merged, and close this issue. Just let me know, and thanks again!

[2019-01-22 17:16] BryanLa commented on #22860
Hi @goh-chunlin - thanks very much for reporting this. Before we proceed, can you confirm that you've already incorporated this into the proposed changes in [PR 22910](https://github.com/MicrosoftDocs/azure-docs/pull/22910)? If so, I will work with engineering to get that PR merged, and close this issue. Just let me know, and thanks again!

[2019-01-22 17:31] AjayKumar-MSFT commented on #22885
@KeiroKamioka0000, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-01-22 17:31] #22885 closed

[2019-01-22 17:33] mrbullwinkle commented on #22959
@dcbrown16 thanks for catching this, it looks like a recent file move change wasn't properly reflected in the .yml file that controls the table of contents. I have fixed this and the change is merged internally. It will go live later today around 10:30 AM UTC-8.

[2019-01-22 17:33] Karishma-Tiwari-MSFT commented on #22631
@sndinh Thanks for sharing the details.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-22 17:33] mrbullwinkle commented on #22959
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-01-22 17:34] TylerMSFT commented on #23001
Hi, do you mean 1709?
If so, see this FAQ: https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-faq
It says:
Supported container OS images
If you are developing on a Windows Fall Creators Update (version 1709) machine, you can only use Windows version 1709 docker images.
If you are developing on a Windows 10 April 2018 update (version 1803) machine, you can use either Win

[2019-01-22 17:34] #22959 closed

[2019-01-22 17:35] Karishma-Tiwari-MSFT commented on #22572
@alesbobek
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-22 17:35] #22572 closed

[2019-01-22 17:38] MysticRyuujin commented on #22616
Yes, if you get to the page (https://account.activedirectory.windowsazure.us/) it takes you to the "Apps" page. If you click on your profile picture and go to "profile" then it is the same, you can click additional security verification. Or you can go directly to the /proofup.aspx link.

[2019-01-22 17:43] smithGit opened #23027 "Great Documentation - Help Listing-Accessing Folders within Container"
This is a great quickstart and the documentation is very high caliber - congratulations.  Request illustration of how to navigate within a container to list or read from folders within the container.  (Especially important for IoT Exported Blobs, where the number of sub-folders is enormous.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-01-22 17:44] #22619 closed

[2019-01-22 17:44] hrasheed-msft commented on #21828
@rishabh0202 as you mentioned, ADLS Gen2 is bascially an Azure Blob Storage account with the hierarchical filesystem option enabled. As such, it is not listed as a separate type of data store to create a linked service with. You can create a linked service to an ADLS Gen2 storage account by doing the following:

* Follow the tutorial as before, selecting **Azure Blob Storage** as the data store ty

[2019-01-22 17:46] braddaley opened #23028 "Cloudyn Help Files"
There do not appear to be any tutorials or help files regarding adding a cost entity.  There are choices upon choices to make, yet no descriptions on the options available.  Lots of places to submit feedback, but that's not much help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9c157c3-4bc4-b18b-62db-726c9b391b95
*

[2019-01-22 17:47] MicahMcKittrick-MSFT commented on #23025
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-22 17:47] MicahMcKittrick-MSFT commented on #23022
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-22 17:48] MicahMcKittrick-MSFT commented on #23024
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-22 17:48] MicahMcKittrick-MSFT commented on #23017
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-22 17:49] ader1990 commented on #20366
Thanks, @mlr-msft.

Can someone add this information to the document? Without it, one cannot properly configure DPDK on Azure.

[2019-01-22 17:50] cmurawski commented on #14541
I am also interested to see if this is supported in 7.3. Any updates?

[2019-01-22 17:50] MashaMSFT commented on #21996
Hi @tobrienultima , since we were able to provide a resolution to your issue, I will proceed with closing out this Git Issue. However, please feel free to reach out to us should you need anything further. Thanks again for contacting Microsoft! #please-close

[2019-01-22 17:51] mrbullwinkle commented on #9328
@kobulloc-MSFT can you assign this one to @lgayhardt she is working on a doc enhancement that will address this question.

[2019-01-22 17:53] jwargo commented on #23012
@amjad-Alhusseini Please reassign to me - Dimah is no longer owns Azure Notification hubs.

[2019-01-22 17:53] basilhariri commented on #22174
A fix has been checked in.

#please-close

[2019-01-22 17:56] Mike-Ubezzi-MSFT commented on #23020
@Sheidir Thank you for catching this. It appears a content author has already made an update to this document:

![screenshot 163](https://user-images.githubusercontent.com/37126106/51555168-e3747d00-1e2b-11e9-8c22-63bb97a0537c.png)

Please let us know if you find any additional typos or related documentation issues.

[2019-01-22 17:57] rishabh0202 commented on #21828
Hi Hassan,

I tried doing same as you mentioned but I was not getting adls gen2 linked
service option while creating on-demand cluster.

It doesn’t give that option in the drop down when we create the linked
service for on demand cluster.

On Tue, 22 Jan 2019 at 11:14 PM, Hassan Rasheed <notifications@github.com>
wrote:

[2019-01-22 17:57] YutongTie-MSFT commented on #23008
@davidbending
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-22 17:57] #23008 closed

[2019-01-22 17:57] Mike-Ubezzi-MSFT commented on #23020
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-22 17:57] #23020 closed

[2019-01-22 17:57] dealaus commented on #9312
@dvmorris Following up here for visibility as well. Currently the AzureRmSqlDatabaseBackupShortTermRetentionPolicy cmdlets are only in our `preview` modules (latest is [4.11.6-preview](AzureRmSqlDatabaseBackupShortTermRetentionPolicy)). I will move the cmdlet over to our release branch today and it should be in the next release of AzureRM.Sql

[2019-01-22 17:59] MicahMcKittrick-MSFT commented on #23023
@rajaprad can you please provide us with the link to the document you are referring to so we can better assist?

[2019-01-22 18:00] yzhong94 commented on #21179
@edcline We partnered with Qualcomm to integrate Azure IoT C SDK into [Qualcomm MDM9206 LTE SDK](https://developer.qualcomm.com/software/lte-iot-sdk/development-kits-reference-device-kits).  The release blog can be found [here](https://www.qualcomm.com/news/onq/2018/06/28/microsoft-azure-now-pre-integrated-qualcomm-lte-iot-sdk).  Does this help unblock your development?

[2019-01-22 18:00] iainfoulds commented on #22627
Yes, there are different authorization approaches for access to the dashboard, however the current priorities and scope is not to detail all those approaches here. The goal of the doc is more to show the dashboard is available and can be used. The engineering team are actually trying to de-emphasize the built-in Kubernetes dashboard and integrate more functionality directly within the Azure portal

[2019-01-22 18:05] iainfoulds commented on #22631
Sorry you ran into issues, @sndinh. There are some known engineering issues depending on the browser / OS in using the 'Copy' button on docs.ms.com, however it's incorrect to state that it does not work outright and only fails when using `vi`. I regularly use `vi` in the Cloud Shell and the 'Copy' button without issues, and it's not a reported behavior that I've been to reproduce when it's been in

[2019-01-22 18:08] YutongTie-MSFT commented on #22444
@ericlicoding Hi Eric, do you have any insight on this? Thank you.

[2019-01-22 18:11] YutongTie-MSFT commented on #22587
@erhopf  Hi, I translated the issue for you, can you please check it and update the document for the details. "In the 1.2.0 sdk, we need to connect firstly, then set the voice source method. Does the time cost start from onConnected or is it calculated from SpeechRecognizer?"  Thank you.

[2019-01-22 18:13] MGoedtel commented on #20652
@krazineurons - To perform the step with CLI, here is an example of the command-line construct -
az group deployment create --name DeploySolutions --resource-group <RGName> --template-file InstallSolutionsForVMInsights.json --parameters WorkspaceName=TestWorkspace WorkspaceLocation=eastus

You were attempting to use the PowerShell cmdlet not the CLI equivalent.

I've already corrected the minor is

[2019-01-22 18:14] YutongTie-MSFT commented on #22639
@SongKeTong
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-22 18:14] #22639 closed

[2019-01-22 18:14] jvdjeery opened #23029 "Google authorization issue"
I've sent the application to be revised by Google because they asked me to but they answered me this:

Dear Developer,
Thank you for submitting a verification request.

To proceed with the verification process, please make the following changes so that your project the-yisus-blog complies with our requirements.

Domain Verification

The website ownership of the following domains must be verified:

[2019-01-22 18:14] YutongTie-MSFT commented on #22588
@JohnStraumann66
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-22 18:14] #22588 closed

[2019-01-22 18:14] ElianoMarques opened #23030 "Provide documentation on spark jobs on kubernetes reading data from adls"
Could you expand this documentation with how to run spark jobs in aks reading data from adls?

https://docs.microsoft.com/en-us/azure/aks/spark-job

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5eaa2684-cde6-e260-5725-d0eea894889f
* Version Independent ID: ed048e95-a087-50f5-b2c7-0c3b6be2b70f
* Content: [Ru

[2019-01-22 18:15] YutongTie-MSFT commented on #22640
@SongKeTong
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-22 18:15] #22640 closed

[2019-01-22 18:15] YutongTie-MSFT commented on #22855
@GummyPuppy Thank you.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-01-22 18:15] #22855 closed

[2019-01-22 18:16] erhopf commented on #22587
@LeonRomaniuk - With regards to pricing, is time calculated based on connection or when recognition/translation occurs? Here's the pricing page, but it's a little hard to determine when billing starts: https://azure.microsoft.com/en-us/pricing/details/cognitive-services/speech-services/.

[2019-01-22 18:17] aljo-microsoft commented on #22625
@smoms
Implementing a Pub/Sub mechanism in a service would be like using any other library in a service.

Explicitly their isn't a redundant built in Service Fabric Feature set that "enables" pub/sub for a microservice solution; I.E. You could deploy your publishing service into your cluster, using any of the appropriate aforementioned documents to discover this publisher service from your subscri

[2019-01-22 18:18] SaurabhSharma-MSFT commented on #22793
@javiermicrosoft Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-22 18:18] SeanFeldman commented on #22937
All roads lead to... Ashish! 😂

[2019-01-22 18:20] rachel-msft commented on #22967
Hi @pjknkda. Thanks for catching that. It is a typo in the documentation and will be fixed.

[2019-01-22 18:20] #22625 closed

[2019-01-22 18:20] #22627 closed

[2019-01-22 18:20] #21996 closed

[2019-01-22 18:23] SaurabhSharma-MSFT commented on #22784
@RamakrishnanRamar  It could be because of weekend I guess, but you would be getting community attention hopefully now and I will also try to get you answered over MSDN thread.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-22 18:23] #22784 closed

[2019-01-22 18:31] MicahMcKittrick-MSFT commented on #22833
@myusrn I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-22 18:31] Deepu14 commented on #12263
@scubajon Looks like you haven't created blob storage and blobContainer.
You have to create a blob storage account and a container in the same resource group (i.e. in the same resource group of the databricks).

Then you have to use the following code.
val blobStorage = "<your blobstorage account>.blob.core.windows.net"
val blobContainer = "<your blob container name>"
val blobAccessKey = "<your bl

[2019-01-22 18:33] MicahMcKittrick-MSFT commented on #23024
@aljo-microsoft do you know what the link should be? I am happy to update the doc but I am unsure where the correct link is located.

[2019-01-22 18:38] MicahMcKittrick-MSFT commented on #22952
@matt-FFFFFF thanks for pointing this out! I have corrected the doc.

Once the PR merges the changes will go live in a few hours.

[2019-01-22 18:40] MicahMcKittrick-MSFT commented on #22933
@sowsan valid question...

@aljo-microsoft @dkkapur could either of you share some insights on this?

[2019-01-22 18:41] v-kydela opened #23031 "100 vs 330 entity limit"
&gt; The total count of simple, hierarchical, and composite entities can't exceed 100.

&gt; The total count of hierarchical entities, composite entities, simple entities, and hierarchical children entities can't exceed 330.

What is the operative difference between the scenario that allows 100 entities and the scenario that allows 330 entities?

---
#### Document Details

⚠ *Do not edit this sect

[2019-01-22 18:41] SaurabhSharma-MSFT commented on #23029
@jvdjeery Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-22 18:42] Grace-MacJones-MSFT commented on #23018
HI @DanielYnformed , thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-22 18:47] diberry commented on #23031
@v-kydela Thanks for asking this question. The difference is the number of allowed children in the hierarchical and composite entities. The 100 entity limit is at the parent level only. I'll clarify this in the docs. #in-progress

[2019-01-22 18:47] Mike-Ubezzi-MSFT commented on #23013
@msprateektaneja Thank you for your interest in Azure cloud services. Can you provide a link to the documentation you mention? This will be helpful to understand all the information be sourced to understand what functionality is available.

[2019-01-22 18:48] MicahMcKittrick-MSFT commented on #23022
@rohancragg for preview features we request to reach out to the correct GitHub repo where the teams developing the feature are active.

In this case the correct repo would be https://github.com/Azure/AKS/issues

Feel free to file an issue there and link this issue as well so I can follow up and track.

@iainfoulds this might be something we want to mention in the particular portion of this doc. Th

[2019-01-22 18:48] sndinh commented on #22631
Iain
  instead of making the tutorial better all you want to do is deflect and close …Just point out in the tutorial that if user runs into problem using the copytry native editor  or s
Poor decision, poor customer service.  If I were to give this to a customer and they ran into thesame issue they will be frustrated and give up on Azure Tutorial and worse   Azure usage and consumption.
I have neve

[2019-01-22 18:48] SaurabhSharma-MSFT commented on #23029
@jvdjeery Can you please elaborate on your ask ? B2Clogin is available to anyone to access your Azure AD B2C service. The new domain for your requests takes the form of <YourTenantName>. b2clogin.com. Please refer to [this](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin) to Set redirect URLs to b2clogin.com for Azure Active Directory B2C.

[2019-01-22 18:49] dlepow commented on #22796
@ggirard07 @MicahMcKittrick-MSFT - As of CLI version 2.0.**55** (current release), `az acr login` is changed to allow using an identity with only the `AcrPull` or `AcrPush` role. Resource Manger operations such as `az acr list` should continue to be unsupported with these roles. Can you please try updating to this CLI version if you haven't already? Thanks.

[2019-01-22 18:50] BryanTrach-MSFT commented on #22817
@SliderCO-007 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-22 18:50] #22817 closed

[2019-01-22 18:52] MicahMcKittrick-MSFT commented on #22796
Thanks @dlepow I will give that a go.

@ggirard07 please do the same and report back.

[2019-01-22 18:53] SaurabhSharma-MSFT commented on #22782
@RamakrishnanRamar I do not have any code sample for rest example but you can refer to [blog](http://codematters.tech/getting-access-token-for-microsoft-graph-using-oauth-rest-api/) for using the refresh token.

[2019-01-22 18:54] MicahMcKittrick-MSFT commented on #21983
@washraf just a quick update, we did find an issue in the Json serialization code. We are investigating and should have an update by end of the week.

[2019-01-22 18:55] TravisCragg-MSFT commented on #22760
@ivanignatiev That will absolutely work, assuming the computer you initiate the Job from can access both Azure Stack Endpoints. [AzCopy is a recommended tool for Azure Stack Storage](https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-storage-transfer).

[2019-01-22 18:55] BryanTrach-MSFT commented on #22881
@KeiroKamioka0000 No, we do not provide any quotas or SLAs around throughput for Azure Web Apps. You should not be held back by any caps on this metric. At the same time, we do not provide a specific number in regards to what you can expect for throughput for any of the tiers.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your rep

[2019-01-22 18:55] #22881 closed

[2019-01-22 18:58] scubajon commented on #12263
I did create a Blob container but it is not in the same resource group as Data Bricks. The Tutorial does mention that the same resource group for Data Bricks is to be used for the Storage Blob Container?  Does this mean that the same resource group is to be used for the Data Lake Storage Gen 1 as well?
<img width="448" alt="blobs container" src="https://user-images.githubusercontent.com/26144730/5

[2019-01-22 18:59] washraf commented on #21983
@MicahMcKittrick-MSFT
Thanks but I have a post error issue which made me start searching for a custom serializer in the first place. I am sending a generic object among the result. Can you inform me on this as well.

[2019-01-22 19:02] MicahMcKittrick-MSFT commented on #22865
@vturecek @aljo-microsoft could either of you provide some insight into this question?

[2019-01-22 19:12] TravisCragg-MSFT commented on #22711
@Kevin-Manson the 2 VNETS being in the same resource group is not a requirement. The error you are getting is because you are not properly describing the Virtual Network in your DNS Update command. Please review the command and make sure that you can reference the Virtual Network.

[2019-01-22 19:15] eross-msft commented on #22616
@MysticRyuujin Thank you for letting us know about this. As I mentioned previously, this topic (along with many of the other end user articles) is undergoing a massive rewrite. Therefore, I'll look into adding this link as part of that process. We're trying to avoid updating the existing content due to the refactoring that's happening, but you should see the changes coming in waves over the coming

[2019-01-22 19:18] adarshsrivastava11 commented on #22926
Same error, any fix?

[2019-01-22 19:18] Deepu14 commented on #12263
@scubajon . I am not sure. I just wanted to try that option regarding resource group. Because that was one of the issues I came across while using Azure Key vault. So you are saying that you have included the details of Blob containers in the core right?. Moreover, if you can check for the exact error message and paste it here, I might help you in figuring out what the issue is about.

[2019-01-22 19:22] ggirard07 commented on #22796
@MicahMcKittrick-MSFT Just tested it with @fgervais and everything seems fine with CLI v2.0.55 and `AcrPull`.

You can go ahead and close this issue if you wish.
Thanks.

[2019-01-22 19:23] TravisCragg-MSFT commented on #22957
@cppcraze In the event that your endpoints are not "External", the MultiValue routing method will likely not function properly. If you would like to try out this routing style, feel free to see what happens, but it will not be a supported scenario at this time.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will glad

[2019-01-22 19:23] #22957 closed

[2019-01-22 19:23] wmengmsft commented on #22942
@firebellys, table.Execute is still supported in our latest Microsoft.Azure.CosmosDB.Table SDK. Can you provide more details on the issues you encountered when using this API?

[2019-01-22 19:24] MicahMcKittrick-MSFT commented on #22796
Thanks @ggirard07 I also just tested it and seems it work fine with 2.0.55

[2019-01-22 19:24] #22796 closed

[2019-01-22 19:27] TheMoroccanBoss opened #23032 "So missing one statement Plus Deprecated CMD"
Deprecated CMD or: public_ip_address_allocation = "static"
 to be replaced with: allocation_method = "Static"
Missing Statement:
resource "random_string" "fqdn" {
  length  = 6
  special = false
  upper   = false
  number  = false
}

and correction:

domain_name_label = "${random_string.fqdn.result}"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-01-22 19:41] xyh1 commented on #10959
@agronholm Have you enabled the static website feature? You first need to enable the feature before the endpoint is created.

[2019-01-22 19:47] aljo-microsoft commented on #22833
@myusrn
The referenced document states: "When to use Reliable Actors"

ref:
https://docs.microsoft.com/azure/service-fabric/service-fabric-reliable-actors-introduction#what-are-actors

So what are you looking for me to add to that section to address "when the actor pattern should be used" question?

@amanbha and @VipulM-MSFT for additional clarity.

@MicahMcKittrick-MSFT
Please let me know if you

[2019-01-22 19:49] julieMSFT commented on #22880
#[https://github.com/MicrosoftDocs/azure-docs-pr/pull/63666](url)

#please close

[2019-01-22 19:52] Mike-Ubezzi-MSFT commented on #22880
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-22 19:52] #22880 closed

[2019-01-22 19:52] aljo-microsoft commented on #22865
@cppcraze

Could you clarify how the following referenced document content is confusing:

"
Service proxy lifetime
Service proxy creation is a lightweight operation, so you can create as many as you need. Service proxy instances can be reused for as long as they are needed. If a remote procedure call throws an exception, you can still reuse the same proxy instance. Each service proxy contains a co

[2019-01-22 19:53] randomor opened #23034 "Critical info missing: SERVER_PORT"
The container will be marked as not "did not start" if your app is not listening on the port specified by process.env.SERVER_PORT. Spent a few hours fighting with this when deploying a node.js app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 116d6e28-471b-2cf4-3eb8-6249b4ef3016
* Version Independent ID: f199d3a2-0c1

[2019-01-22 19:55] scubajon commented on #12263
The message was pretty vague.  It just notes that there was an exception with no details.  I also went to the driver logs but could not gain any insight from them.  Please see:
https://github.com/MicrosoftDocs/azure-docs/issues/22947

[2019-01-22 19:57] CelesteDG commented on #22090
No more updates at this time. We'll continue to make announcements through our developer blog. #please-close

[2019-01-22 19:58] CelesteDG commented on #21690
Fix has been merged and is live. #please-close

[2019-01-22 20:04] jwargo commented on #23012
@amjad-Alhusseini Bulk operations are import/export. I'm updating the docs now to reflect this.

[2019-01-22 20:05] hrasheed-msft commented on #21828
@rishabh0202 just to clarify: you will not see an option in creating the on-demand linked service for an adls gen2 storage linked service. However, if you create the Storage linked-service first, when you go to create the Azure HDInsight linked service, you should see that linked service available under the **Azure Storage Linked Service** dropdown box.

This is essentially an issue with Azure Dat

[2019-01-22 20:07] wmgries commented on #20946
These two comments are not in conflict with each other: Azure File Sync already preserves ACLs, Azure Files is gaining the ability to preserve ACLs (which is what the blog post is about). Azure File Sync stores ACLs privately (since Azure Files doesn't support them natively) so that they may be synced down to the file servers today, however will begin storing ACLs directly on the file in a future

[2019-01-22 20:09] mgaufman commented on #22105
I've got a similar or the same issue (AzureRM.Resources module version is 6.7.3), it's reproducible in the following scenario: create an alert rule with an ARM template (single resource, single metric, specific entity for a dimension - Service Bus topic in my case) => modify that alert rule in the portal => deploy it again using ARM (with the same or different parameters), and you get the this err

[2019-01-22 20:11] TheMoroccanBoss commented on #23032
The other thing i would like to add is the missing Primary field in here:
ip_configuration {
      name                                   = "IPConfiguration"
      subnet_id                              = "${azurerm_subnet.vmss.id}"
	  primary								 = true
      load_balancer_backend_address_pool_ids = ["${azurerm_lb_backend_address_pool.bpepool.id}"]

[2019-01-22 20:11] wmgries commented on #20832
Hi @imeya,

1. The cost will be the difference between the live file share and the snapshot. For example, if I take a snapshot of my live share, and I don't change anything, I'm billed no additional extra storage. If I change 10 MiB in the live share, then I'll be billed for the extra 10 MiB - the live data. Hope this helps - please let me know if you have additional confusion about this.

2. No,

[2019-01-22 20:13] julieMSFT commented on #6855
@yorek @simonsabin Hello, Thank you for bringing this to our attention. The link is incorrect and there is not a way to restore a SQL Data Warehouse via T-SQL. This can be done through the portal, PowerShell and REST. I will update the article. I hope this addressed your issue. I will proceed with closing this issue. Please feel free to contact us if we can be of further assistance.

[2019-01-22 20:15] wmgries commented on #19561
As a general rule, no. A file system filter providing compressing sitting below the altitude of the Storage Sync filter (i.e. our filter would be generally unaware of the compression), would likely work, but we're hesitant to sign-off on this configuration until we have more detail about the product.

Could you please share the name of the specific product you'd like to interop with to AzureFiles@

[2019-01-22 20:18] femsulu commented on #23015
@Ba4bes Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-22 20:19] rajdeep-in commented on #22662
@angoyal-msft yes i think "skip" word is missing. It should say - ".align files give users an option to skip Custom Translator’s sentence breaking and alignment process..."

[2019-01-22 20:20] femsulu commented on #23028
@braddaley We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-22 20:20] georgewallace commented on #23015
@Ba4bes Thanks for reaching out.  In the article the "Service Connections" statement is correct.  I am looking into the permissions needed so we can properly answer your question.  The section about the PAT for both GitHub and Azure Dev Ops was put in there to let you know the minimum permissions we need.  You should not have to configure any of that, as Azure Automation handles that when making t

[2019-01-22 20:20] #23028 closed

[2019-01-22 20:20] eross-msft commented on #22616
@MysticRyuujin  I've created a task for myself in our bug database to make sure this is addressed with the content rewrite. In the task, I've included links to both this issue and your GitHub username, so I can let you know when the new content is live. In the interim, I'm going to close this issue.

#please-close

[2019-01-22 20:22] TheMoroccanBoss commented on #23032
A full script with Windows VMs instead: basic LB
resource "azurerm_resource_group" "vmss" {
  name     = "${var.resource_group_name}"
  location = "${var.location}"

  tags {
    environment = "Terraform"
  }
}

resource "azurerm_virtual_network" "vmss" {
  name                = "vmss-vnet"
  address_space       = ["10.0.0.0/16"]
  location            = "${var.location}"
  resource_group_name = "$

[2019-01-22 20:25] daveabrock commented on #22001
Or this week. :)

[2019-01-22 20:32] Victor-Savu commented on #22485
This would enable Progressive WebApps (PWAs) to use Azure Notification Hubs. This would be a great feature!

[2019-01-22 20:34] #21010 closed

[2019-01-22 20:35] hensilva opened #23035 "AzureGalleryPackager fails with "Invalid URI: The format of the URI could not be determined.""
Followed this doc but the packager always fails with the aforementioned error. Below my manifest.json

{ "$schema": "https://gallery.azure.com/schemas/2014-09-01/manifest.json#",
    "name": "RHEL75",
    "publisher": "RedHat",
    "version": "1.0.0",
    "displayName": "ms-resource:displayName",
    "publisherDisplayName": "ms-resource:publisherDisplayName",
    "publisherLegalName": "ms-resource

[2019-01-22 20:37] asadhkhan opened #23036 "Excel in Azure Data Lake to Azure SQL via SSIS"
This was excellent.  Does really help especially when clients have the right architecture in place.  Thank you.

But I been breaking my had on this.

The source data is excel (so already not starting off well, and they will not change to .csv, plus the source is a formatted report not a data feed).  The client does not have any SSIS Servers, so Azure SQL is what we have defined for them.

Client h

[2019-01-22 20:38] zhiweiwangmsft commented on #22808
Thanks for the feedback. Some of the instruction might not be clear enough. I've added screenshots to the steps so hopefully it will be more intuitive for the customers.

[2019-01-22 20:39] docgregt opened #23037 "Lates DocumentDB Data Migration Tool changes DateTimes"
[Enter feedback here]
The source data is in a JSON file. All the date times are strings and are in the 8601 standard format. All of our times are only at the second resolution and are STRINGS in the JSON file and MUST stay that way. Example:
"2017-12-22T09:00:00Z"

The tool changes these on ingestion into CosmosDB as follows:
"2017-12-22T09:00:00**.0000000**Z"

1) It must not do this. It breaks co

[2019-01-22 20:40] #21484 closed

[2019-01-22 20:42] CelesteDG commented on #16848
Thank you for the feedback. Our PMs have opened up a work item to track getting the code samples updated. We'll align the docs with any updated code samples once those become available.

[2019-01-22 20:42] TravisCragg-MSFT commented on #23026
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-22 20:43] TravisCragg-MSFT commented on #23021
@amitr3108 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-22 20:45] myusrn commented on #22833
@aljo-microsoft, thanks for followup.

Many folks build backend services today using web apis and/or event hubs.  I'm suggesting that there be a for example blurb in the "when to use reliable actors" section that gives readers who only know these other mainstream options some context for when they are not appropriate and reliable actors are.  The current three bullets provide the 1st applies to al