[2022-11-03 21:07] mbiver opened #100953 "Additional guidance around using mode:VM when sysprepping in AIB"
Hello, team.  I wonder if we want to provide some additional context to this article regarding the usage of the "mode:vm" option when using sysprep, or perhaps a link to the sysprep documentation below describing the use case scenarios for the "mode:vm" option?  If the customer is using the exact Azure SKU for all their deployments, then they probably won't have issues, as the same Azure SKU shoul

[2022-11-03 21:10] mattmccleary commented on #61238
@assaf-grth @gitmadness @kylehwang @tomaustin700 @lijianzhi01

The query parameters should be present in the URL/Data fields in requests/dependencies.

https://learn.microsoft.com/azure/azure-monitor/app/data-model-request-telemetry#url
https://learn.microsoft.com/azure/azure-monitor/app/data-model-dependency-telemetry#data

If they're not, most likely it's a bug specific to your language/environm

[2022-11-03 21:12] Trubador commented on #62419
I think azure b2c could be nice instead of investing time in using auth0 or similar solutions but at the moment it is really really limited and cumbersome to set up.  I hope microsoft puts effort into the product because it is almost useless at the moment in my opinion. You should see some of the powershell scripts that have been creted just to create b2c and flows..

[2022-11-03 21:15] janicericketts commented on #90772
@MarileeTurscak-MSFT Please close this issue. It appears to have been resolved. Thank you!

[2022-11-03 21:15] mike-urnun-msft commented on #100951
Thank you for your feedback! We will review and update as appropriate.

[2022-11-03 21:19] jtvcodes opened #100955 "Suggestions"
[Enter feedback here]
1) For this section:
const { TableServiceClient } = require("@azure/data-tables");

Mention odata function if using it
const { TableServiceClient, odata } = require("@azure/data-tables");

2) For this section:
let result = await tableClient.getEntity("hometasks", "1");

Mention that if the entity is not found it will throw and error. For async methods a user can handle this b

[2022-11-03 21:24] janicericketts commented on #90124
@femsulu I added a link to another article to clarify what is meant by a managed device in https://github.com/MicrosoftDocs/azure-docs-pr/pull/217107 pending approval by @Gargi-Sinha  Can you please close this issue? Thank you!

[2022-11-03 21:33] janicericketts commented on #86024
@JamesTran-MSFT I updated the article to clarify the confusion. Please close this issue. Thank you!

[2022-11-03 21:35] janicericketts commented on #83369
@GiftA-MSFT I am not sure what can be done to emphasize text. Please close this issue.

[2022-11-03 21:46] GeethaThatipatri-MSFT commented on #100955
@jtvcodes Thanks for your feedback! We will look into it and update as appropriate.

[2022-11-03 21:50] dburlinson commented on #100904
@SadiqhAhmed-MSFT Thank you. Much appreciated. Good to know it's coming!

[2022-11-03 22:06] seesharprun commented on #100955
Thanks @jtvcodes for the feedback, we are looking at updating this article this month based on the changes you have recommended. I will keep this issue open until the changes are ready.

[2022-11-03 22:09] andrePKI opened #100956 "What is small?"
This article mentions ‘small files’. What is meant by small in this context? 1 GB? 1 kB? Some other size? Perhaps it varies in relation to ‘large’ in ‘a large number’?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d1cf1fc8-28b2-3954-1b25-9a236fc11900
* Version Independent ID: 141ab4fe-3a0d-5bcc-6dd2-02fb1ada2d74
* Co

[2022-11-03 22:17] mbrat2005 opened #100957 ""can't overlap in a mesh configuration" should be "can overlap in a mesh configuration""
https://learn.microsoft.com/en-us/azure/virtual-network-manager/concept-connectivity-configuration
The article in AVNM Concepts > Connectivity states address spaces in a mesh configuration cannot overlap, but this is inaccurate.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f3f1e788-44c8-c82a-3e65-2a97a5266bfd
* Vers

[2022-11-03 22:21] khdownie commented on #99899
I updated the language on the page. #please-close

[2022-11-03 22:21] #99899 closed

[2022-11-03 22:24] Lupercio421 commented on #99871
Thank you @seesharprun! Looking forward to trying the Quickstart lesson one more time.

[2022-11-03 22:29] #99871 closed

[2022-11-03 22:30] benoithamet opened #100958 "Please update this page as AAD Connect now support employeeLeaveDateTime"
Hi there

the latest version of Azure AD Connect (2.1.19) now supports the employeeLeaveDateTime
please update the page to include this information
https://learn.microsoft.com/en-us/azure/active-directory/governance/how-to-lifecycle-workflow-sync-attributes/?WT.mc_id=M365-MVP-7836#:~:text=Yes-,Not%20currently,-Note

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.m

[2022-11-03 22:38] btardif commented on #100660
can we assign this to @seligj95 he is the owner of CLI

[2022-11-03 23:00] nickludwig commented on #85021
@onionhammer - right, neither `acr` nor `amr` is available for either v1 or v2 id_tokens. Can I ask, what scenario do you need these claims in id_tokens for?

As for v2.0 access tokens, **`acr` is actually available** in them but it's not explicitly documented in our optional claims documentation since it isn't exposed as one of the options listed in the Azure Portal. If you want `acr` to show up

[2022-11-03 23:01] FabianGonzalez-MSFT opened #100959 "Modify the Section 'Formats of Merge CSR we Support'"
The current description is generating a lot of confusion on customers. Files with this format (.p7b) used to be support for merging:

[code]

That is no longer support. If the cx attempts to merge a file with that content-format they will get this error: "**Property x5c has invalid value X5C must has at least one valid item**"

The only format we support for merge is:

[code]

If you bring a .p7b,

[2022-11-03 23:17] PatAltimore commented on #100762
Hi @drwill-ms,

iotedge check will be changed in the referenced bug https://github.com/Azure/iotedge/issues/6754. I'm going to request the doc bug be closed.

Thanks,
Pat

#please-close

[2022-11-03 23:17] #100762 closed

[2022-11-03 23:53] altrivis opened #100961 "Spacecraft Resource Supported Regions"
According to this page, the only region a customer should be entering is "West US 2". Is that true? Is Sweden Central supported? What about other regions?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b0ca7006-e1cb-73f6-701b-705e08000cb5
* Version Independent ID: 86a64cf0-1543-02ac-f6fb-c4ade3f09d9b
* Content: [Regis

[2022-11-03 23:55] mike-urnun-msft commented on #100938
@wsucoug69 Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-04 00:08] onionhammer commented on #85021
@nickludwig

The scenario we're trying to handle is essentially [this one](https://learn.microsoft.com/en-us/answers/questions/714275/verifying-ad-tenant-mfa-in-a-b2c-policy.html); we have a mandate to ensure every user coming through our IDP (we've gone with B2C) is using MFA, but we want federated users not to have double-mfa; so I've essentially followed the link (above) except that it doesn't

[2022-11-04 01:04] ChaitanyaNaykodi-MSFT commented on #100941
@dazinator Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-11-04 01:42] blacklabnz opened #100963 "Lineage not shown after Databrick hive metadata is scanned to Purview"
Followed documentation of scanning Databrick hive metadata store at location https://learn.microsoft.com/en-us/azure/purview/register-scan-hive-metastore-source

I could see the hive assets being scan and showed up, but the lieange of a joined table does not show up.

Please help

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.

[2022-11-04 01:45] SnehaGunda commented on #93242
@lon-tierney We have the following 3 docs that list the runtime information and the built-in libraries. Is that information sufficient? If not, can you please clarify the scenario you are trying to solve.

https://learn.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-32-runtime
https://learn.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-3-runtime
https://learn.micro

[2022-11-04 01:49] SnehaGunda commented on #93233
@lon-tierney Apologies for the long delay. This is a feature ask. Please create a request at this link and our team will prioritize appropriately: https://feedback.azure.com/d365community/forum/9b9ba8e4-0825-ec11-b6e6-000d3a4f07b8

@DerekHerman-MSFT If we don't hear back from the user, please create the request on their behalf and close this issue.

[2022-11-04 02:00] SnehaGunda commented on #93231
@lon-tierney The above PR addresses your issue. The changes will go live tomorrow. I am closing this issue now.

#please-close

[2022-11-04 02:00] #93231 closed

[2022-11-04 02:15] SnehaGunda commented on #88124
@QuetzalcoatlRosso The above PR addresses your issue. The step-by-step process is listed in this doc:

https://learn.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-manage-pool-packages

[2022-11-04 02:15] SnehaGunda commented on #88124
#please-close

[2022-11-04 02:15] #88124 closed

[2022-11-04 02:18] SnehaGunda commented on #77054
@crisansou The following doc explains how to install the library through the PowerShell and REST APIs:

https://learn.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-manage-packages-outside-ui

[2022-11-04 02:18] SnehaGunda commented on #77054
#please-close

[2022-11-04 02:18] #77054 closed

[2022-11-04 02:25] SnehaGunda commented on #89951
@alexszym Apologies for the long delay. Currently, there isn't a way for the system to uniquely identify the package versions As a result it picks the first uploaded package. I added a note to the doc to explain this limitation. Changes. will be live tomorrow

[2022-11-04 02:25] SnehaGunda commented on #89951
#please-close

[2022-11-04 02:25] #89951 closed

[2022-11-04 02:33] DaemonWalker opened #100965 "Can Private DNS Zone work with App Service?"
Hi guys,

Currently I have an App service which has been set to virtual net available, and I want to set a custom domain (like mydomain.xyz) for it.

Since I didn't register this on web, I create a Private DNS zone as mydomain.xyz.

In App Service, I disable the public network access, and add an endpoint in my virtual network.
In Private DNS Zone, I add a virtual network link to my virtual network

[2022-11-04 02:51] Kazumi-Takatori opened #100966 "The registry key is not fully explained."
After installing Office the following is stated.

Is it really necessary to set Outlook to cache mode?
I am an Outlook SME.
However, I am unclear why cache mode must be enforced in AVD multisession.

The following URL answers "because it is best practice".
[Please explain the reasoning for the very restrictive Outlook sync settings #45731](https://github.com/MicrosoftDocs/azure-docs/issues/45731)

[2022-11-04 02:59] clarenceb opened #100967 "Incorrect sample app link"
This tutorial depends on the Azure Cafe sample.  The link https://github.com/gitopsbook/sample-app-deployment points to a sample that is a helloworld type golang service.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5a0dd9d3-5341-9e14-31c8-ccfd8558b7db
* Version Independent ID: 6599dd6a-fde0-710e-3575-0fb5ed10b86c
*

[2022-11-04 03:36] VikasPullagura-MSFT commented on #100942
@CRuD117
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-04 03:36] VikasPullagura-MSFT commented on #100942
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-11-04 03:40] VikasPullagura-MSFT commented on #100953
@mbiver
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-04 03:40] sktsjvs15 commented on #48662
@samspade21 thanks a lot. But could you tell me what I need to provide at $doneID. Thanks again.

[2022-11-04 03:40] VikasPullagura-MSFT commented on #100953
@kof-f
Can you please check and add your comments on this doc update request as applicable.

[2022-11-04 03:43] VikasPullagura-MSFT commented on #100966
@Kazumi-Takatori
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-04 03:43] VikasPullagura-MSFT commented on #100966
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-11-04 03:52] #100689 closed

[2022-11-04 04:19] RamanathanChinnappan-MSFT commented on #100940
@kripa-2019

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 04:21] Naveenommi-MSFT commented on #100945
@jamestharpe

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 04:23] Naveenommi-MSFT commented on #100946
@imtiazh

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 04:25] samspade21 commented on #48662
@sktsjvs15 shouldn't need to touch that.  I was just using that as a placeholder to not show the same application multiple times.  Sort of a cheater (and not good) way to get a unique list.

[2022-11-04 04:35] Naveenommi-MSFT commented on #100952
@gwynforthewyn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 04:44] SaibabaBalapur-MSFT commented on #100818
@crankyroadkill
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-04 04:44] #100818 closed

[2022-11-04 04:47] #100857 closed

[2022-11-04 04:47] #100814 closed

[2022-11-04 04:47] Naveenommi-MSFT commented on #100947
@thisjustin816

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 04:49] MayankBargali-MSFT commented on #100788
@PingPongSet The question is more towards python function method rather than azure function. Files written to the temporary directory aren't guaranteed to persist across invocations. During scale out, temporary files aren't shared between instances. So, if you are doing multi-threading tempfile.gettempdir() will return the path of the same instance.

But in your case as you are creating the file u

[2022-11-04 04:49] #100788 closed

[2022-11-04 04:51] Naveenommi-MSFT commented on #100948
@Bhuard1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 04:51] SnehaAgrawal-MSFT commented on #100965
@DaemonWalker Thanks for reaching here! Could you please share the Azure document you are referring to help you better on this.

[2022-11-04 04:55] Naveenommi-MSFT commented on #100949
@adi-garg

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 04:56] BryanTrach-MSFT commented on #100279
@roofiq Thank you for your question.

Both the documentation and the diagnostic advisor are correct.

The documentation is the MAX number of apps that you can run. This means that all of the apps would be small in size. This maximum number starts to drop though if you start to run web apps that are beefier and need more memory. Ultimately, these maximum guidelines were added as the pricing page st

[2022-11-04 04:56] #100279 closed

[2022-11-04 04:58] Naveenommi-MSFT commented on #100956
@andrePKI
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 05:00] Jassingh819 commented on #96800
Closing as DSC extension don't support Server 2022 yet. This is the list of supported VMs - https://learn.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-windows#operating-system

[2022-11-04 05:00] RamanathanChinnappan-MSFT commented on #100723
@priteshpisat

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-04 05:00] #100723 closed

[2022-11-04 05:02] RamanathanChinnappan-MSFT commented on #100744
@agray0232

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-04 05:02] #100744 closed

[2022-11-04 05:03] maheshjwagh opened #100968 "DNS setup"
Can you please elaborate on the DNS setup.  For "Custom DNS"  Do we need to forward all unresolved queries to 168.63.129.16 or only to <UNIQUE_IDENTIFIER>.<REGION_NAME>.azurecontainerapps.io ?

Is VNET-scope ingress possible if the vnet has custom DNS server configured?

If the VNET has custom DNS server configured and I want non-custom domains, if I setup a Private DNS Zone for <UNIQUE_IDENTIFIER

[2022-11-04 05:04] Naveenommi-MSFT commented on #100957
@mbrat2005
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-04 05:05] Naveenommi-MSFT commented on #100957
Hi @mbender-ms
Could you please review this and update as appropriate.

[2022-11-04 05:06] RamanathanChinnappan-MSFT commented on #100770
@ramsaisha

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-04 05:07] Naveenommi-MSFT commented on #100958
@benoithamet
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 05:08] RamanathanChinnappan-MSFT commented on #100789
#sign-off

[2022-11-04 05:08] #100789 closed

[2022-11-04 05:09] Naveenommi-MSFT commented on #100959
@FabianGonzalez-MSFT

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 05:09] shaktisingh-msft commented on #100927
Hi @sunilagarwal, @kabharati ,

Could you please look into this request. Thanks

[2022-11-04 05:11] shaktisingh-msft commented on #100923
Hi @GithubMirek,

Could you look into this document typo request. Thanks

[2022-11-04 05:11] Naveenommi-MSFT commented on #100961
@altrivis

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-04 05:11] Naveenommi-MSFT commented on #100961
@wamota

Could you please review this and update as appropriate.

[2022-11-04 05:13] DaemonWalker commented on #100965
Hi @SnehaAgrawal-MSFT
I can find how to add a public domain as custom domain at https://learn.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain?tabs=a%2Cazurecli,
Is there any how to add a private domain in Private DNS Zone?

[2022-11-04 05:13] Naveenommi-MSFT commented on #100963
@blacklabnz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 05:15] Naveenommi-MSFT commented on #100967
@clarenceb
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 05:18] Naveenommi-MSFT commented on #100968
@maheshjwagh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 05:19] BryanTrach-MSFT commented on #100209
Historically, this has been accurate to use api/wardeloply for WAR files. We are not aware of any changes that would cause this to not be usable anymore.

It also appears to be appropriate to use api/publish as well so really either route is okay.

Unless you have further documentation stating that there are recent changes, we are going to keep the document the way it is for now. We appreciate the

[2022-11-04 05:19] #100209 closed

[2022-11-04 05:23] BryanTrach-MSFT commented on #100060
@AdamGuan13 Yes, the isolated tiers are basically just the premium v2 tiers but only available in an App Service Plan and thus given the unique name of isolated tier due to them having dedicated hardware such as dedicated front-end workers, networking equipment, and storage. On the premium v2 tier, those supporting hardware are shared with other customers and thus not "isolated".

We will now proc

[2022-11-04 05:23] #100060 closed

[2022-11-04 05:29] Naveenommi-MSFT commented on #100950
@dweppeler-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 05:37] askaresh opened #100969 "Agent Versions are not upto date"
[Enter feedback here]
The current version of 1.0.5555.1200 however this page has old versions and not upto date

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3cb10266-d3ca-31b1-31a0-bd4952e6736b
* Version Independent ID: 9adcd5ff-db9f-44f9-27f6-7c689839267b
* Content: [What's new in the Azure Virtual Desktop Agent? -

[2022-11-04 06:11] AjayBathini-MSFT commented on #100724
@rsy644
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-04 06:11] #100724 closed

[2022-11-04 06:13] AjayBathini-MSFT commented on #100959
@FabianGonzalez-MSFT
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-04 06:13] AjayBathini-MSFT commented on #100959
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-11-04 06:23] AjayBathini-MSFT commented on #100905
@amkarmak
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@juliakm
Can you please check and add your comments on this doc update request as applicable.

[2022-11-04 06:28] ManoharLakkoju-MSFT commented on #100903
@jhaynes3021
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue

[2022-11-04 06:32] ManoharLakkoju-MSFT commented on #100851
@adi-garg
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@normesta
Can you please check and add your comments on this doc update request as applicable.

[2022-11-04 06:36] ManoharLakkoju-MSFT commented on #100929
@anthonymashford
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-04 06:36] ManoharLakkoju-MSFT commented on #100929
@b-hchen
Can you please check and add your comments on this doc update request as applicable.

[2022-11-04 07:04] Naveenommi-MSFT commented on #100915
@saveenr

Could you please review this and update as appropriate.

[2022-11-04 07:05] Naveenommi-MSFT commented on #100915
@liute110

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-04 07:15] aakash-shah commented on #83369
Hello! May I suggest one of the following:
1. Suffixing the recommended item with the text " (Recommended)", or
2. Suffixing or prefixing the recommendation with an asterisk (*) or some other character, or
3. Highlighting the recommendation, or
4. Using a different color.

The first item appears to be a bit darker than the second item in each row, but it is not as clear as it could be, so please c

[2022-11-04 07:16] bigkangji opened #100970 "code doesn't work"
Hello All,

Under Create component 2: training (using yaml definition), the below code don't work.

train_component = load_component(source=os.path.join(train_src_dir, "train.yml"))

The above should be changed like the below.

train_component = load_component(os.path.join(train_src_dir, "train.yml"))

The error message looks like :
![error](https://user-images.githubusercontent.com/61179265/19991

[2022-11-04 07:22] dweppeler-msft commented on #100950
I've created PR und changed the sentence. :-)

[2022-11-04 07:26] Naveenommi-MSFT commented on #100963
@blacklabnz

Please go through this below link for your reference.

https://learn.microsoft.com/en-us/azure/purview/catalog-lineage-user-guide

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-04 07:31] blacklabnz commented on #100963
@Naveenommi-MSFT
hi there, thanks for pointing the documentation, I have gone through that previously,
however point me to a doc does not solve the issue here !
Ad mentioned in the issue, I followed doc at this location https://learn.microsoft.com/en-us/azure/purview/register-scan-hive-metastore-source for scanning hive metadata store. I can see the hive tables scan as assets but I can not see the

[2022-11-04 07:32] v-amallick commented on #100569
@stimms - we have updated the OS supportability for IaaS VM Backup in private PR #[217161](https://github.com/MicrosoftDocs/azure-docs-pr/pull/217161); this will be live soon. Thanks!

[2022-11-04 07:33] YashikaTyagi-MSFT commented on #100846
@andrePKI
Thanks for contributing towards enhancement of the document. Required changes has been made, once approve by author, it will reflect in the document itself.

[2022-11-04 07:35] iamramengirl opened #100971 "Is Cognitive Services Face - Snapshot API a Limited Access Feature?"
I have been testing the Snapshot API feature of the Face API, but all post requests to Snapshot API would return an "UnsupportedFeature" error, which may mean that this is also a limited access feature. If so, please add details it to the list of limited access features and how to apply for access to the Snapshot API.

---
#### Document Details

⚠ *Do not edit this section. It is required for lear

[2022-11-04 07:38] JankeSkanke opened #100972 "M365 Apps center (config.office.com) seems to work fine with group assigned role"
I did a test this morning, and was able to create a policy and assign it and also see data with only the office apps admin role assigned through a group in PIM.

![image](https://user-images.githubusercontent.com/17491808/199918462-444608aa-8cb9-442e-8ad1-d1edfb832940.png)

Has this been fixed?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub

[2022-11-04 07:45] #100846 closed

[2022-11-04 07:48] DaemonWalker commented on #100965
Like I want to bind google.com to an App Service in my virtual network, can we make this?

[2022-11-04 08:00] YashikaTyagi-MSFT commented on #100869
@Keven1661
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-04 08:13] badsector-82 opened #100973 "Review section "# Set of permissions to grant""
Hello,

I'm just trying to create a custom role and the section labeled "# Set of permissions to grant" doesn't make sense. When I do it like it says, I get this error:
`New-AzureADMSRoleDefinition : Cannot bind parameter 'RolePermissions'. Cannot create object of type "Microsoft.Open.MSG
raph.Model.RolePermission". The resourceActions property was not found for the Microsoft.Open.MSGraph.Model.Ro

[2022-11-04 08:18] YashikaTyagi-MSFT commented on #100751
@lirichard
Thanks for contributing towards enhancement of document. Changes performed by you, will reflect in the document itself, once approve by author.
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-04 08:18] #100751 closed

[2022-11-04 08:18] gregbrant2 opened #100974 "The examples on this page are baulked"
The code snippets on this page are wrong for isolated process.
The second one has no method declaration, just the body, and includes the attributes associated with the following example.
That 3rd example does not include the attributes.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b253c164-d46b-0193-b168-7eb024097bf

[2022-11-04 08:21] tomaustin700 commented on #61238
Hi @mattmccleary. We're using .NET with App Service and Functions, resources are all created using Terraform. As far as I can see there is no query parameters available anywhere.

[2022-11-04 08:31] YashikaTyagi-MSFT commented on #100909
@bruce31
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-04 08:34] perttulaurila commented on #85021
Our use case is with OIDC authentication from Ping Federate, which uses only the claims from the id token to evaluate the authentication. The access token is only used for querying the userinfo endpoint and we cannot evaluate the claims in it.

So we would like to have the acr and amr both available in V2.0 id tokens. Any other claims which would indicate the device security posture would be very

[2022-11-04 08:35] alexchen2016 opened #100975 "Confirm availability for Azure China"
Hi Writer team,

I can find the link "tenant restriction" in Azure China portal now. Can you help to confirm whether this article can be used in Azure China or not? If yes, is there any segments, sentences or endpoints that should be updated or removed so that this doc can be fit for Azure China Environment? Many thanks in advance.

Regards
Alex

---
#### Document Details

⚠ *Do not edit this sect

[2022-11-04 08:36] SaibabaBalapur-MSFT commented on #100928
@mitchross
I'm going to assign this to the document author so they can take a look at it accordingly.

@jeevansd
Can you please check and add your comments on this doc update request as applicable.

[2022-11-04 08:36] AjayKumar-MSFT commented on #100731
DrReedo, I noticed that you have deployed this fine, without static type, from your [SO discussion](https://stackoverflow.com/questions/74263796/deploying-static-file-to-azure-app-service-using-azure-cli) thread. And, the cmdlets work fine:

<img width="459" alt="image" src="https://user-images.githubusercontent.com/44606227/199928828-2c3693ec-8158-4fe6-b00a-537de3d13fb7.png">

To deploy a static

[2022-11-04 08:55] ghelyar opened #100976 "PostgreSQL flexible server azure regions - UK West documentation shows no v3/v4 compute"
The documentation says that UK West does not have v3/v4 compute available, but I was able to make a PostgreSQL flexible server in UK west on v4 compute, and v3 also appears to be available.

Does the documentation need updating?

It looks like it was changed recently with [this commit](https://github.com/MicrosoftDocs/azure-docs/commit/67a63eb3d37b10fc8f89f3908d235e53325702d9) but the commit messa

[2022-11-04 08:58] EirikWulff commented on #91175
@MarcoLodini I can confirm that the command works. I haven't been able to import KV certificates afterwards, but I know it might take some time.

[2022-11-04 09:01] DuffLV opened #100977 "The documentation for setting up ASR for Hyper-V and clusters managed with VMM is outdated"
Good day,

The documentation covering the scenarios of setting up ASR for Hyper-V hosts (standalone or managed with VMM) is outdated. Screenshots do not correspond to the current look and feel of the Portal and the documentation is somewhat confusing at points for a person performing the steps for the first time.

I suggest reviewing the ASR setup pages to avoid duplication of the content:

![imag

[2022-11-04 09:07] jhaynes3021 commented on #100903
Hello Manohar,

Not sure how working with the Azure support team would assist in warning consumers of the system that the company you are recommending is under Congressional investigation.  I can only guess you, and MSFT by extension, support CEOs who lie publicly regarding how their systems function without warning users who might be lured into it.

[2022-11-04 09:08] Naveenommi-MSFT commented on #100945
@jamestharpe

Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-11-04 09:08] #100945 closed

[2022-11-04 09:12] SaibabaBalapur-MSFT commented on #100935
@parlevjo2
Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-11-04 09:13] chenrujun opened #100978 "Is it valid to get access-token without tenant-id in client credentials grant flow?"
Hi.

In OAuth2 client credential grant, when `Access token request with a shared secret`, the docs said that
<html>
<body>

tenant | Required | The directory tenant the application plans to operate against, in GUID or domain-name format.
-- | -- | --

</body>
</html>

Is it valid to set `tenant` to `common`?

I tried the following http request, but both failed.

## 1. Use **api://{app-registration

[2022-11-04 09:16] SaibabaBalapur-MSFT commented on #100950
@dweppeler-msft
Thanks for your contribution.
Can you help me with PR number. It can help me to document further updates.

[2022-11-04 09:20] adi-garg opened #100980 "Document Improvement-Overall Structure for Blobs and Fileshares"
Hello Microsoft,
1. Section [here](https://learn.microsoft.com/en-us/azure/storage/blobs/storage-blobs-introduction#blob-storage-resources) may need to depict folders which can be added into containers as seen in Azure portal.
![Folder option inside Container](https://user-images.githubusercontent.com/73249037/199936428-a9fe357d-a5e0-48aa-8509-cb569599b64e.png)

It may benefit to update the image

[2022-11-04 09:21] SaibabaBalapur-MSFT commented on #100956
Hi @normesta can you please explain what is mean by small files and its size limit. It can help out to resolve the query.

[2022-11-04 09:22] ManoharLakkoju-MSFT commented on #100903
@jhaynes3021
I'm going to assign this to the document author so they can take a look at it accordingly

@kengaderdus
Can you please check and add your comments on this doc update request as applicable.

[2022-11-04 09:36] BakkerJan opened #100981 "Need guidance on setting the employeeLeaveDate"
I have tried to set employeeLeaveDate, but AADConnect will fail on DataValidationFailed.

I've set the attribute to 20241201010000.0Z

I'm using the cloud extension attributes to map both hire and leave date.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 53987154-8f6c-1ddd-ec02-2b811ae74818
* Version Independent ID:

[2022-11-04 09:36] jhaynes3021 commented on #100903
@ManoharLakkoju-MSFT

Thanks Manohar.  I am not trying to be difficult by any means.  There are just a number of serious questions regarding this company.  From a risk perspective, I believe potential users should be alerted to the current situation until a resolution is identified.  Another link below...

https://www.washingtonpost.com/technology/2022/02/11/idme-facial-recognition-fraud-scams-irs

[2022-11-04 09:36] BakkerJan commented on #100981
@RobdeJong Any guidance on this?

[2022-11-04 09:36] amkarmak opened #100982 "It is working fine now"
[Enter feedback here]

I have tried again and it worked. It looks like the issue was with fork sync.

Thank you for acknowledging and now I see it is working perfectly fine.

Regards,
Amit

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0717d289-c339-ed12-4d24-3d968121c75d
* Version Independent ID: c20939c5-96b4-e4c5-6

[2022-11-04 09:50] adriangodoy opened #100983 "Link to Service bus lock configurations may make the page more usefull"
[Enter feedback here]
I landed in this page trying to get info on how to change the lock times on service Bus, it mentions it can be done, but doesn't point you in the right direction on how to do it.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c9b369e0-e366-4f99-2f94-b045437d7ce9
* Version Independent ID: 5a703706

[2022-11-04 10:00] VikasPullagura-MSFT commented on #100969
@askaresh
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-04 10:01] VikasPullagura-MSFT commented on #100969
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-11-04 10:02] VikasPullagura-MSFT commented on #100982
@amkarmak Thanks for confirming that this is working.

[2022-11-04 10:02] #100982 closed

[2022-11-04 10:04] GouravGit opened #100984 "Typo in 'Control plan and data plane' should be Control plane"
Typo in 'Control plan and data plane' should be Control plane

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 718ff743-7dad-3f77-a283-3f174b468661
* Version Independent ID: fdd9b051-88e0-5222-783e-59b101f2fd26
* Content: [Azure Databricks architecture overview - Azure Databricks](https://learn.microsoft.com/en-us/azure

[2022-11-04 10:15] SadiqhAhmed-MSFT commented on #100718
@nehatiwari1994 The documentation will be updated by the next week. Closing this thread for now. I shall update the thread once the documentation changes go live.

[2022-11-04 10:15] #100718 closed

[2022-11-04 10:18] hadr10 opened #100985 "Can't create in Southeast Asia region"
Subscription for DNS resolver was not found. dnsResolverResourceId

when i create DNS resolver in West Europe, it works well.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 67376353-3eff-47d3-3e52-13600075ebd4
* Version Independent ID: 88cd7c90-2a27-a389-a751-99b5dc37120e
* Content: [Quickstart - Create an Azure priva

[2022-11-04 10:20] GitaraniSharma-MSFT commented on #100985
@hadr10 , thank you for your feedback. We'll review this and get back to you shortly!

[2022-11-04 10:41] kathumma opened #100986 "NSG rule requirement in Stv2 tab shows wrong information for LoadBalancer port"
[LoadBalancer port is required to be added in NSG for both developer and premium sku in Stv2, but document says it's required only in premium sku. This other doc has it right https://learn.microsoft.com/en-us/azure/api-management/virtual-network-reference?tabs=stv2#required-ports. Fix this page to avoid confusion.]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.m

[2022-11-04 10:46] AnuragSingh-MSFT commented on #100716
@Draqun, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-11-04 10:46] #100716 closed

[2022-11-04 10:48] shaktisingh-msft commented on #100976
Hi @ghelyar,

Thanks for sharing this feedback. We will look into this and update as appropriate.

[2022-11-04 10:55] GitaraniSharma-MSFT commented on #100763
@nadupalliramesh , Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-04 10:55] #100763 closed

[2022-11-04 11:05] parlevjo2 commented on #100935
@SaibabaBalapur-MSFT It is not an idea !!!!. There are bugs on this page.

[2022-11-04 11:07] dweppeler-msft commented on #100950
FYI
https://github.com/MicrosoftDocs/azure-docs-pr/pull/217099

[2022-11-04 11:19] shaktisingh-msft commented on #100976
Hi @sunilagarwal, @kabharati ,

Could you please look into this document request, thanks.

[2022-11-04 11:30] roelofvsr opened #100987 "404 - dead link - cluster policies"
I am getting a 404 for the following link:
https://learn.microsoft.com/en-us/administration-guide/clusters/policies

think it should be:
https://learn.microsoft.com/en-us/azure/databricks/administration-guide/clusters/policies

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: dd0aab00-dc4a-ab2d-3369-5c8d5bdd7500
* Versio

[2022-11-04 11:37] MughundhanRaveendran-MSFT commented on #100722
Closing the issue for now. Feel free to reopen if required

[2022-11-04 11:37] #100722 closed

[2022-11-04 11:52] RamanathanChinnappan-MSFT commented on #100827
@VitalyMCT

Please look this below screenshot for your reference

![image](https://user-images.githubusercontent.com/110973511/199966086-741ca398-f38d-4dca-a427-aa997fe09b8d.png)

[2022-11-04 12:08] RamanathanChinnappan-MSFT commented on #100886
@trek-e

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-04 12:17] RamanathanChinnappan-MSFT commented on #100901
@bstollnitz

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-04 12:28] JananiRamesh-MSFT commented on #100986
@kathumma
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 12:35] 2fersen commented on #100689
I am using Windows 10

[2022-11-04 12:53] ErikMogensen opened #100990 "Missing the Identity blade"
There is no Identity (preview) under Settings in my Azure Portal for Front door:
![image](https://user-images.githubusercontent.com/9644248/199974209-5b2d99cc-5373-4558-9e97-c0666d4630b2.png)

Have I missed something or has the Identity blade been removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e2c1ffea-65e0-8

[2022-11-04 13:03] kabharati commented on #100976
It appears to be a typo i have fixed it in https://github.com/MicrosoftDocs/azure-docs-pr/pull/217213.

[2022-11-04 13:03] #100976 closed

[2022-11-04 13:07] juliakm commented on #100905
#please-close

@amkarak says in https://github.com/MicrosoftDocs/azure-docs/issues/100982 that this was an issue with their fork.

[2022-11-04 13:07] #100905 closed

[2022-11-04 13:17] janicericketts commented on #83369
@aakash-shah I corrected to bold italics. Better? Thank you!

[2022-11-04 13:29] Gauravjain449 opened #100992 "Tutorial --> Build Web Application and Build Console Apllication"
In Tutorial --> **Build Web Application  has  a Create .NET console application example, and Build Console Application  has  a Create ASP.NET web application example**
Ref: https://learn.microsoft.com/en-us/azure/cosmos-db/nosql/tutorial-dotnet-web-app#create-aspnet-web-application
Ref: https://learn.microsoft.com/en-us/azure/cosmos-db/nosql/tutorial-dotnet-console-app#create-net-console-applicati

[2022-11-04 13:45] mumurug-MSFT commented on #100974
@gregbrant2 Thanks for the feedback and sorry for the experience. We will review and update as appropriate.

[2022-11-04 13:51] dcint opened #100994 "apiVersion ingress"
[apiVersion: extensions/v1beta1 has been deprecated. It should be update to apiVersion: networking.k8s.io/v1. Reference can be found here https://learn.microsoft.com/en-us/azure/application-gateway/ingress-controller-annotations#backend-protocol]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 95812617-2cee-fb2c-2c6d-5

[2022-11-04 14:03] GeethaThatipatri-MSFT commented on #100992
@Gauravjain449 Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-11-04 14:19] dg-eparizzi opened #100995 "How to Use DISM to optimize your image and reduce your VM's first boot time."
This page suggests using DISM to optimize the image and reduce the VM's first boot time by mounting the VHD in Windows explorer, but it's not clear how to get the VHD from the VM that has just been generalized.
The "Disk Export" section in the os disk says "Exporting disks is allowed only when the VM is deallocated or the disk is unattached, or when the disk is not in ReadyToUpload or ActiveUpload

[2022-11-04 14:20] whhender commented on #100963
@blacklabnz -
Can you tell us what version of Databricks you're using? It needs to be version 8.0 or higher, or you may have errors/missing data when you scan your source.

We can work together here to discover what is going on, but you can also reach out to [Azure Support](https://portal.azure.com/?quickstart=true#view/Microsoft_Azure_Support/HelpAndSupportBlade/~/overview). They have folks in al

[2022-11-04 14:27] pwragg opened #100996 "Zendesk: Mapping of a custom role to an agent user"
[Enter feedback here]

Thanks for this documentation - it's really useful.
Unfortunately we have been unable to get users to be created as agents and instead they always come through as an end-user.
is it possible to include in the docs explicit instructions on how to make sure a user is created as an agent with a custom role (by also passing the custom_role_id) across.

If we managed to get this

[2022-11-04 14:29] santypr opened #100997 "Table output binding example is not updated TableOutput doesn't exist in latest version"
For isolated process, TableOutput is not part of the latest version for the package Microsoft.Azure.Functions.Worker.Extensions.Storage

Version 4.04 has TableOutput as one of the available attributes for isolated process functions
In Version 5.01 (latest stable), TableOutput is not included
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub iss

[2022-11-04 14:34] whhender commented on #100895
@tifischer - Looking into this now! I'll work on getting this updated, but I've reached out for some more clarification.

[2022-11-04 14:37] seesharprun commented on #100992
Thanks @Gauravjain449 for spotting this error. These are two brand new articles that were released together.

The fix for this should be live later today

[2022-11-04 14:48] whhender commented on #100600
@appliedcognetics -

I'll update the documentation to make this explicit. Thanks for your feedback!

[2022-11-04 14:49] v-edmckillop commented on #82663
Hello, My name is Ed McKillop, I'm a vendor working in Martin Coetzer's team. This article was owned by Barbara Selden, but she has since left the company. Janice Ricketts (jricketts@) remains on his team and now owns it, and I'll be working to incorporate the check list Alex asked for. It might be a few weeks before I circle back, but I have this as a deliverable.

[2022-11-04 14:50] v-edmckillop commented on #84597
Hello, My name is Ed McKillop, I'm a vendor working in Martin Coetzer's team. This article was owned by Barbara Selden, but she has since left the company. Janice Ricketts (jricketts@) remains on his team and now owns it, and I'll be working to incorporate suggested changes. It might be a few weeks before I circle back, but I have this as a deliverable.

[2022-11-04 14:53] whhender commented on #100600
You should see updates in the documentation by this afternoon! If you have any other questions, reach out again anytime.

#please-close

[2022-11-04 14:53] #100600 closed

[2022-11-04 14:53] #100992 closed

[2022-11-04 14:53] thantos opened #100998 "Durable Entities code sample may be incorrect"
The `client` variable in the code invoke entities sample isn't used.

This is different from the code sample [on the durable entities page](https://learn.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-entities?tabs=javascript#example-client-signals-an-entity) that does use the `client`.

### Durable functions page

[code]

### Entities page

[code]

---
#### Document Details

[2022-11-04 15:12] RamanathanChinnappan-MSFT commented on #100970
@bigkangji

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 15:13] fabio-s-franco opened #100999 "No guidance for when connection settings is not available for Bastion on Linux VM"
There is no guidance for when connection settings is not available for Bastion on Linux VM.

Still struggling to find any documentation that will bring clarity to why I can't choose RDP when trying to use Bastion on a Linux VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cced3860-728d-9e8d-e0c4-573f67a94ec8
* Versi

[2022-11-04 15:13] RamanathanChinnappan-MSFT commented on #100971
@iamramengirl

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 15:15] RamanathanChinnappan-MSFT commented on #100972
@JankeSkanke

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 15:17] RamanathanChinnappan-MSFT commented on #100973
@badsector-82

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 15:27] alexwolfmsft commented on #100305
This has been addressed and will be fixed in an upcoming PR, thanks!

[2022-11-04 15:30] tfitzmac commented on #100636
@smithyd2003 - we'll close this issue but can reopen it if you have more information about the error.
#please-close

[2022-11-04 15:30] #100636 closed

[2022-11-04 15:31] pguan-ntap opened #101001 "Microsoft.Network/applicationGateways metric names are different in documentation"
I was exploring the metrics REST API for Microsoft.Network/applicationGateways and the documentation metric names have some differences from the api. I am using the api version 2018-01-01 for metrics.
GET https://management.azure.com/{resourceUri}/providers/Microsoft.Insights/metricDefinitions?api-version=2018-01-01

For example
In the documentation this metric exists, metric name: BlockedCount an

[2022-11-04 15:37] softcloudservices opened #101002 "Documentation is incorrect"
A per the document  the verify button is displayed for all the versions of the  page layouts.
<html>
<body>

ID | Default value | Page Layout Version
-- | -- | --
button_verify_code | Verify Code | All

</body>
</html>

But the button is not available  if the Page Layout version is  < 1.2.3
so the verify button is available only when we use the version as below
<html>
<body>

ID | Default value |

[2022-11-04 15:44] RamanathanChinnappan-MSFT commented on #100977
@DuffLV

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 15:46] RamanathanChinnappan-MSFT commented on #100978
@chenrujun

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 15:47] RamanathanChinnappan-MSFT commented on #100980
@adi-garg

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 15:49] RamanathanChinnappan-MSFT commented on #100981
@BakkerJan

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 15:50] RamanathanChinnappan-MSFT commented on #100984
@GouravGit

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 15:51] RamanathanChinnappan-MSFT commented on #100987
@roelofvsr

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 15:55] rayoef commented on #56561
#unassign-reviewer:jjbfour

[2022-11-04 15:57] peterzhang718 opened #101003 "incorrect content in section "Multiple VNets connected using S2S and a branch office""
Added route for non-Windows is incorrect as it is not S2S with BGP.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6860efb1-ddab-04a1-bf34-4e0a41844102
* Version Independent ID: 2321ec49-4cb8-d477-3430-44af3790bcdd
* Content: [Azure VPN Gateway: About P2S routing - Azure VPN Gateway](https://learn.microsoft.com/en-us/

[2022-11-04 15:58] andrewbrownmsft commented on #100917
@eshashah-msft, this might be better owned by you.

[2022-11-04 15:59] rayoef commented on #56561
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue. We are closing this issue for now, but feel free to comment here as necessary.
#please-close

[2022-11-04 16:00] #56561 closed

[2022-11-04 16:10] RamanathanChinnappan-MSFT commented on #100994
@dcint

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 16:18] RamanathanChinnappan-MSFT commented on #100995
@dg-eparizzi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 16:21] RamanathanChinnappan-MSFT commented on #100996
@pwragg

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 16:25] RamanathanChinnappan-MSFT commented on #100997
@santypr

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 16:26] toraritte opened #101005 "Link to Linux spx binary is invalid"
In section "Download and install" **>** "Linux" tab **>** "Note", clicking on the the [.zip file](https://aka.ms/speech/spx-linux) link

yields:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 91e2ab62-8804-694f-f51a-ab5cef82c2d6
* Version Independent ID: 3eac47ce-d629-6a1f-914b-ce60ab13ebae
* Content: [Quickst

[2022-11-04 16:27] RamanathanChinnappan-MSFT commented on #100998
@thantos

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 16:31] RamanathanChinnappan-MSFT commented on #101001
@pguan-ntap

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 16:33] RamanathanChinnappan-MSFT commented on #101002
@softcloudservices

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 16:37] RamanathanChinnappan-MSFT commented on #101003
@peterzhang718

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 16:38] ChaitanyaNaykodi-MSFT commented on #100990
@ErikMogensen ,
Thank you for reaching out. I can see the identity(preview) blade on my end.

![image](https://user-images.githubusercontent.com/67453298/200028005-3b95b04a-1fa0-4bcd-bf7d-da1b2075151c.png)

The article was added just a few days ago. Can you please validate you have deployed a Standard/Premium AFD sku? Can you try the preview portal (http://preview.portal.azure.com/) and see if tha

[2022-11-04 16:38] RamanathanChinnappan-MSFT commented on #101005
@toraritte

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-04 16:42] cynthn commented on #100935
#reassign:@cynthn @parlevjo2 Thank you for the feedback! I'll take a look at this next week and fix any errors.

[2022-11-04 16:43] jemag commented on #44142
any updates regarding this?

[2022-11-04 16:46] cavemandaveman opened #101006 "Private link working with single private endpoint"
I have 1 private endpoint setup with Databricks. I have **public network access** set to **false**, and **Required NSG rules** set to **NoAzureDatabricksRules**, similar to the last scenario in this screenshot from the documentation. However, it seems like private link is working for both front-end _and_ back-end. I can verify that I am only able to access Databricks through the private endpoint I

[2022-11-04 17:03] aakash-shah commented on #83369
Hello @janicericketts! I am not seeing that on the page at https://learn.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-deployment - is there a delay for it to be published? But that may do the trick too!

[2022-11-04 17:06] #100951 closed

[2022-11-04 17:07] v-edmckillop commented on #68482
Hello, Many thanks for your patience on this issue. Feedback like yours helps improve our documentation.
The article was revised by the author this week. In the Next Steps section, it now includes a link to content about providing access to external users. This issue has been resolved and we are closing the issue. #please-close

[2022-11-04 17:07] #68482 closed

[2022-11-04 17:08] mike-urnun-msft commented on #100951
@jhgbrt Thanks for reporting this issue and helping us drive improvements toward MS Docs! I've created a PR that fixes the link and changes should be live soon upon a merge.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-11-04 17:14] Bhuard1 commented on #100948
I think it is the comment in the yaml file that is incorrect.
The proper command in YML is 'run build export' (it is stated above in the page that the stop trigger has been integrated as GA)

[2022-11-04 17:17] janicericketts commented on #83369
@aakash-shah The PR I submitted is waiting for @Gargi-Sinha to approve.

[2022-11-04 17:18] b-ahibbard commented on #100929
Thanks for catching this @anthonymashford. The doc has been updated.
#please-close

[2022-11-04 17:18] #100929 closed

[2022-11-04 17:24] jarredm-demo opened #101008 "Service Principal May Fail to Create"
Service Principal May Fail to Create if the automation account is not previously created, or if the Application Owner and Application Developer Roles on AAD are not enabled prior to running the wizard.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c714cc40-47f5-fb3c-51e0-f504c38ec937
* Version Independent ID: 15da249

[2022-11-04 17:25] aaronhurstOcto opened #101009 "Unable to Subscribe to Cost Alerts"
It appears the information in the following article is either inaccurate or misleading.

MS Learn Page "Subscribe to cost alerts":
https://learn.microsoft.com/en-us/azure/cost-management-billing/costs/save-share-views#subscribe-to-cost-alerts

The second bullet point of the article says to "Select Subscribe at the top of the page." but there is no option to Subscribe when in the Cost Analysis tab

[2022-11-04 17:26] #100685 closed

[2022-11-04 17:29] derisen commented on #90647
@shwetamathur7 the article already suggests using the `--strict=false` option in angular project generation. Furthermore, by the end of the article the reader would have defined the MSAL Guard and MSAL Interceptor configurations in the `app.module.ts`, so after this the build issue shouldn't occur. I believe this can be closed #please-close

[2022-11-04 17:29] #90647 closed

[2022-11-04 17:34] amsliu commented on #95678
@Wibusts Thanks for providing feedback that helps improve our documentation. We are currently updating all the end-user content and we will address your issue as part of this process. We are now closing the issue. #please-close

[2022-11-04 17:34] #95678 closed

[2022-11-04 17:34] SadiqhAhmed-MSFT commented on #101008
@jarredm-demo Thanks for the feedback. We will relay the same to the content owner to review and update the documented as appropriate.

@ankitaduttaMSFT FYI

[2022-11-04 17:35] amsliu commented on #95059
@joergrenn Thanks for providing feedback that helps improve our documentation. We are currently updating all the end-user content and we will address your issue as part of this process. We are now closing the issue. #please-close

[2022-11-04 17:35] #95059 closed

[2022-11-04 17:36] #93544 closed

[2022-11-04 17:39] ChaitanyaNaykodi-MSFT commented on #100990
@ErikMogensen ,
I just got some information regarding this issue; the article was published by mistake and should be available at a later time.
We will now proceed to close this issue out. Please tag me in your response if you have any questions. Thank you!

[2022-11-04 17:39] #100990 closed

[2022-11-04 17:39] amsliu commented on #93088
@NoorKhaldi Thanks for providing feedback that helps improve our documentation. We are currently updating all the end-user content and we will address your issue as part of this process. We are now closing the issue. #please-close

[2022-11-04 17:39] #93088 closed

[2022-11-04 17:39] amsliu commented on #92703
@thomasncc Thanks for providing feedback that helps improve our documentation. We are currently updating all the end-user content and we will address your issue as part of this process. We are now closing the issue. #please-close

[2022-11-04 17:39] #92703 closed

[2022-11-04 17:40] alexwolfmsft commented on #100302
This has been addressed in an upcoming PR, thanks!

#please-close

[2022-11-04 17:40] #100302 closed

[2022-11-04 17:40] amsliu commented on #90392
@jkbryan Thanks for providing feedback that helps improve our documentation. We are currently updating all the end-user content and we will address your issue as part of this process. We are now closing the issue. #please-close

[2022-11-04 17:40] #90392 closed

[2022-11-04 17:40] #100305 closed

[2022-11-04 17:40] amsliu commented on #86937
@unearthnz Thanks for providing feedback that helps improve our documentation. We are currently updating all the end-user content and we will address your issue as part of this process. We are now closing the issue. #please-close

[2022-11-04 17:40] #86937 closed

[2022-11-04 17:41] amsliu commented on #86318
@murrato1 Thanks for providing feedback that helps improve our documentation. We are currently updating all the end-user content and we will address your issue as part of this process. We are now closing the issue. #please-close

[2022-11-04 17:41] #86318 closed

[2022-11-04 17:41] amsliu commented on #81337
@benhatton-admin-unsw-edu-au Thanks for providing feedback that helps improve our documentation. We are currently updating all the end-user content and we will address your issue as part of this process. We are now closing the issue. #please-close

[2022-11-04 17:41] #81337 closed

[2022-11-04 17:43] amsliu commented on #81300
@zaalion Thanks for providing feedback that helps improve our documentation. We are currently updating all the end-user content and we will address your issue as part of this process. We are now closing the issue. #please-close

[2022-11-04 17:43] #81300 closed

[2022-11-04 17:44] amsliu commented on #80426
@YuriySamorodov Thanks for providing feedback that helps improve our documentation. We are currently updating all the end-user content and we will address your issue as part of this process. We are now closing the issue. #please-close

[2022-11-04 17:44] #80426 closed

[2022-11-04 17:47] khdownie commented on #100853
Thanks @giovannadamasceno for pointing this out. To solve this issue, we've added a note to this article:

https://learn.microsoft.com/en-us/azure/storage/file-sync/file-sync-server-endpoint-create

"When adding a server endpoint and files exist in the Azure file share, if you choose to download the namespace first, files will show up as tiered until they're downloaded locally. Files are downloade

[2022-11-04 17:47] khdownie commented on #100853
#please-close

[2022-11-04 17:47] #100853 closed

[2022-11-04 17:58] nickludwig commented on #100978
#reassign:nickludwig

[2022-11-04 18:08] rwestMSFT commented on #64700
Since I haven't heard from you in a while, I'm marking this as closed, but if you do revisit this and want to leave a comment, please feel free.

[2022-11-04 18:09] rwestMSFT commented on #64700
#please-close

[2022-11-04 18:09] #64700 closed

[2022-11-04 18:09] rwestMSFT commented on #64701
Since I haven't heard back from you, I'm marking this as closed, but please feel free to comment if your circumstances change.

[2022-11-04 18:09] rwestMSFT commented on #64701
#please-close

[2022-11-04 18:09] #64701 closed

[2022-11-04 18:12] rwestMSFT commented on #91891
Since I haven't heard from you for a while, I'm marking this as closed. Please feel free to leave a comment if your circumstances change.

[2022-11-04 18:12] rwestMSFT commented on #91891
#please-close

[2022-11-04 18:12] #91891 closed

[2022-11-04 18:32] rsouthm opened #101010 "Question: where are dependencies stored?"
I've looked at a bunch of documentation and can't figure out where files uploaded as "dependencies" are stored in managed endpoints.  I'm using Azure ML Studio to create managed endpoints.

I have a scoring script that needs to access a .pkl file.  I've uploaded the .pkl file as a dependency (in the screen where the scoring script and dependencies are identified) but can't figure out the pathing t

[2022-11-04 18:45] nickludwig commented on #100978
Hey @chenrujun - `common` cannot be used for the client credentials grant. Per the docs, you'll need to use either the tenant GUID or the tenant's domain-name format.

Can I ask why you're trying to do this?

[2022-11-04 18:45] tdjastrzebski commented on #19317
It does not work for me as well

[2022-11-04 19:03] JLambEJG opened #101011 ""Desktop Virtualization User Session Operator" lacks required permissions to fulfill the description of the role."
[Enter feedback here]
The "Desktop Virtualization User Session Operator" should allow a user to read user sessions on hosts in the host pool where the role is applied. However, we have found that applying only this role, the user has no rights to search for user sessions, let-alone log them out. Under the "Azure Virtual Desktop | Users" node, a user with this role searches for a UPN that is known

[2022-11-04 19:12] nickludwig commented on #85021
@onionhammer - apologies, I was mistaken. You're correct.

[2022-11-04 19:14] nickludwig commented on #85021
@onionhammer/@perttulaurila

Thanks for sharing the scenarios. This gives me some good context to bring back to folks on my end to discuss. Off the top of my head, I'm not aware of any plans to address this but I'm more than happy to double check. At the very least, I'll see if we can get an item created for this so we can add it to the list of things we consider when determining what gets funded/

[2022-11-04 19:20] JWEthernet opened #101012 "This is not SECURE...."
anyone can see the raw data of the response, they just need a URL.. which is quite easy to guess.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 08e12671-466a-8807-63bb-fb1923554d60
* Version Independent ID: 88dcdcb5-e611-134d-5c2e-66c657416445
* Content: [Compare Azure messaging services - Azure Event Grid](https://l

[2022-11-04 19:24] jboback commented on #97381
Hello @jesweare,
After talking to both the Question Answering and Azure Cognitive Search teams about this issue, I was able to determine that it only occurs in a very specific context, and isn't applicable to most users. The Azure Cognitive Search team would like you to submit a support request via the process on this page: https://learn.microsoft.com/en-us/azure/azure-portal/supportability/how-to

[2022-11-04 19:28] aysarabomwis opened #101013 "Yf6fvk"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0c25827f-08b6-03e4-2997-d39ae6a2b6f4
* Version Independent ID: 72b44c07-fd14-7335-de1a-e6e84d17e929
* Content: [Deployment considerations for Azure Active Directory self-service password reset - Microsoft Entra](https://learn.microsoft.com/en-us/azur

[2022-11-04 19:29] aysarabomwis opened #101014 "Ydd6hb"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-11-04 19:29] aysarabomwis commented on #101014
Gsijxibxt

[2022-11-04 19:29] aysarabomwis commented on #101014
Hddtijbjyd

[2022-11-04 19:29] #101014 closed

[2022-11-04 19:29] aysarabomwis commented on #101014
Tf4tukncg

[2022-11-04 19:35] KarlErickson opened #101016 "Please clarify exponential back-off and retry when making requests"
Customer feedback that we've received on [Tutorial: Read a secret from Azure Key Vault in a Spring Boot application](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault) is also applicable to this article. For details, see MicrosoftDocs/azure-dev-docs#863. The relevant details are provided by @moarychan at [this respons

[2022-11-04 19:52] onionhammer commented on #85021
@nickludwig

Thanks for raising it up. I would love to hear bright alternative ideas to this approach; for our scenario the only options I can think of are

A) Continue avoiding v2
B) Enforce MFA via legal contract for federated partners
C) Federated users may get double-MFA, which would be a bad user experience

[2022-11-04 19:54] sefriend commented on #80931
Hi @psmitt, in this example you provided, scaling looks at how many VMs it can turn off without exceeding the SessionThresholdPerCpu. Given there are 12 VMs with sessions on them and 88 without, those 88 will be looked at first in that decision process.

[2022-11-04 19:54] khdownie commented on #71665
We've spent a lot of time revising these identity docs to make things more clear, including using an include file that states at the very beginning of each document that there are multiple ways to do this (AD DS, Azure AD DS, and Azure AD) and that the setup is different for each. That said, Azure AD DS doesn’t support domain joining VMs/machines that aren’t in the cloud, so it is a bit limiting i

[2022-11-04 19:58] khdownie commented on #24363
Closing this due to upcoming TLS 1.0, 1.1 and 3DES deprecation. Please enable support for TLS 1.2 on clients(applications/platform) to avoid any service impact.

https://learn.microsoft.com/en-us/troubleshoot/azure/active-directory/enable-support-tls-environment?WT.mc_id=Portal-Microsoft_AAD_IAM&tabs=azure-monitor

[2022-11-04 19:59] VitalyMCT commented on #100827
@RamanathanChinnappan-MSFT Sorry, I do not see any connection between this ticket and the items you've highlighted.

[2022-11-04 19:59] khdownie commented on #24363
#please-close

[2022-11-04 19:59] #24363 closed

[2022-11-04 20:10] khdownie commented on #82894
Expanded this section and clarified when setting a default share-level permission is appropriate. #please-close

[2022-11-04 20:10] #82894 closed

[2022-11-04 20:17] jonwbstr commented on #71665
Works for me

[2022-11-04 20:19] khdownie commented on #71665
#please-close

[2022-11-04 20:19] #71665 closed

[2022-11-04 20:30] khdownie commented on #92915
@Fafa4 you were right, of course. Sorry this took so long to resolve.
I've clarified that the Windows Server Active Directory PowerShell cmdlets in this section must be run in Windows PowerShell 5.1 from a client machine that's domain-joined to the Azure AD DS domain, and that PowerShell 7.x and Azure Cloud Shell won't work in this scenario. Also tested this.

[2022-11-04 20:30] khdownie commented on #92915
#please-close

[2022-11-04 20:30] #92915 closed

[2022-11-04 20:49] alhieng commented on #99749
Just wanted to confirm that the issue has been resolved.  Thank you!

From: prmerger-automator[bot] ***@***.***>
Sent: Thursday, November 3, 2022 1:11 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Alex Hieng ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Unable to execute storm ingest (Issue #99749)

Closed #99749<https://nam06.safelinks.protection.outlook.com/?url=h

[2022-11-04 21:38] xingwu1 opened #101019 "BatchNodeManagement service tag does support regional scope"
BatchNodeManagement service tag does support regional scope

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Content: [Azure service tags overview](https://learn.microsoft.com/en-us/azure/virtual-network/service-tags-ov

[2022-11-04 21:44] alexcisneros commented on #52426
In other words, there's no way to enforce users to enroll into MFA using P1.

[2022-11-04 22:05] mike-urnun-msft commented on #101012
Thank you for your feedback! We will review and update as appropriate.

[2022-11-04 22:12] lucabovo commented on #100649
Hi @jhirono,
any news about this issue?

Please let me know.
Thanks a lot.

[2022-11-04 22:14] ChaitanyaNaykodi-MSFT commented on #100975
@alexchen2016
Thank you for your feedback! We will review and update as appropriate.

[2022-11-04 22:33] rolyon commented on #99616
Hi @BrechtMo
Thanks for taking the time to provide your feedback. We updated the description for the Security Operator role.
https://learn.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#security-operator
Let us know if you have additional feedback.
thanks

[2022-11-04 22:33] rolyon commented on #99616
#please-close

[2022-11-04 22:33] #99616 closed

[2022-11-04 22:52] rsouthm commented on #101010
I found a solution.  It may be a work-around or how the process is intended to work.  The steps are:

1. Ensure the additional .pkl file is in the same folder as my model file.
2. When registering the model, I use the folder the model is in instead of the specific model file.  The Registration call is shown below.  model = Model.register(workspace=ws,
                       model_name=model_name,

[2022-11-04 22:52] #101010 closed

[2022-11-04 23:00] dombat opened #101024 "Clarify - Ensure the CI Build is toggled to On."
This step need more clarity. "Ensure the CI Build is toggled to On."  It is not called "CI Build" anywhere on screen. Also, if you don't have one created you need to create it before this step.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 126d1af3-3cfd-d482-6b6d-ee9c4bdac98d
* Version Independent ID: e71a3a06-d252-3

[2022-11-04 23:07] ATSmvaneck commented on #49481
I have been struggling with this issue aswell when setting this up.
For me the issue was related to how DNS was configured. changing your hostfile is not enough, the only way I got the issue resolved was by making A record for the storageaccount for the zone file.core.windows.net and point it to the privat endpoint in DNS. No need for conditional forwarders as mentioned in the documentation.

[2022-11-05 01:42] Varnauld commented on #54436
I realize this issue is very old now - but wanted to leave a note here that we updated our tutorials in May - please let us know if these are helfpul, thank you

[Tutorial: Create a new HoloLens Unity app - Azure Spatial Anchors | Microsoft Docs](https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-new-unity-hololens-app?tabs=unity-package-web-ui%2cazure-portal)

[microsoft/Op

[2022-11-05 03:17] RamanathanChinnappan-MSFT commented on #101006
@cavemandaveman

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-05 03:26] RamanathanChinnappan-MSFT commented on #101009
@aaronhurstOcto
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-05 03:28] RamanathanChinnappan-MSFT commented on #101011
@JLambEJG

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-05 03:30] Masonta1976 opened #101027 "my1266897@"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 47010f4d-7d5e-c26d-4b9f-066d510c5f35
* Version Independent ID: 4a50a101-0899-69f9-0177-6bbeeed27948
* Content: [Manage Azure portal settings and preferences - Azure portal](https://learn.microsoft.com/en-us/azure/azure-portal/set-preferences)
* Conte

[2022-11-05 05:12] RamanathanChinnappan-MSFT commented on #101013
@aysarabomwis

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-05 05:14] RamanathanChinnappan-MSFT commented on #101016
@KarlErickson

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-05 05:15] RamanathanChinnappan-MSFT commented on #101019
@xingwu1

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-05 05:21] RamanathanChinnappan-MSFT commented on #101024
@dombat

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-05 05:22] RamanathanChinnappan-MSFT commented on #101027
@Masonta1976

Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-11-05 05:28] RamanathanChinnappan-MSFT commented on #100742
Hi @olavt

We are going to close this thread  but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-05 05:28] #100742 closed

[2022-11-05 05:42] BobbyD2500 commented on #100765
@SwathiDhanwada-MSFT Not sure what's changed, but it's working now.

[2022-11-05 05:42] #100765 closed

[2022-11-05 06:04] amwilson commented on #44645
Just had the same issue as @josvlict - was able to resolve it, but unable to understand how or why...

My user also had both "Virtual Machine User Login" and "Virtual Machine Administrator Login" roles assigned on the VM resource. I had tried everything in the troubleshooting section of the docs.

I then created a new user in my AD, Logged in to the portal as that new user in an incognito window (

[2022-11-05 08:58] #100799 closed

[2022-11-05 09:03] ManoharLakkoju-MSFT commented on #100940
@kripa-2019
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue t

[2022-11-05 09:42] ramsaisha commented on #100770
Now, I have installed and configured the application insights agent(PowerShell Module) in an independent server(Not a cluster server) in a private internet server. It is connected and getting live metrics while application received requests. not getting performance counter logs to monitor server utilisation (CPU, Memory).

[2022-11-05 09:52] aysarabomwis commented on #101013
Thank

[2022-11-05 09:53] aysarabomwis commented on #101013
thanks

[2022-11-05 09:53] aysarabomwis commented on #101013
Jcfuvri87rr5668

[2022-11-05 10:57] 2fersen opened #101028 "Text to speech is not working"
Hello guys,
i was really hyped to try azure text-to-speech, but already the sample code isn't working.

This one from the offical page:
https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/get-started-text-to-speech?tabs=windows%2Cterminal&pivots=programming-language-python

I am using python 3.9 and downloaded Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017,

[2022-11-05 12:08] RamanathanChinnappan-MSFT commented on #101028
@2fersen

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-05 12:42] SolArrascue commented on #100925
@RamanathanChinnappan-MSFT

Link : [](https://learn.microsoft.com/en-us/azure/active-directory-domain-services/join-ubuntu-linux-vm)

[2022-11-05 13:22] yuriwoof opened #101029 "Schedule Event Notification"
1. According to the document, the following are the maximum time scheduled events can get for their events and I believe it may be shorter than this, but if so, how much shorter would it be for each event type?

EventType | Minimum notice
-- | --
Freeze | 15 minutes
Reboot | 15 minutes
Redeploy | 10 minutes
Preempt | 30 seconds
Terminate | User Configurable: 5 to 15 minutes

2. Please clarify what

[2022-11-05 13:31] yohny opened #101030 "Snippet based configuration is different on docs page and on github it refers to"
The code snippet for snippet-based setup at https://learn.microsoft.com/en-us/azure/azure-monitor/app/javascript?tabs=snippet#snippet-based-setup is different than the code snippet on github it refers to in description at https://github.com/Microsoft/ApplicationInsights-JS#snippet-setup-ignore-if-using-npm-setup. Which one is correct? In the first case the configuration option `connectionString` i

[2022-11-05 14:38] perttulaurila commented on #85021
In that case one possible solution would be to include also the optional claims in the claims_supported section of the metadata.
This would help us, as then Ping Federate would pick them up and we would not need to manually configure them.

[2022-11-05 14:43] juminrubin opened #101031 "Incorrect environment variables used when creating the postgres server"
The environment variables: $DB_USERNAME and $DB_PASSWORD in the az cli command to create postgres server are invalid. Aligning to the previously defined variables $ADMIN_USERNAME and $ADMIN_PASSWORD should correct the syntax execution.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2456ed5c-c060-7b31-d3eb-a581

[2022-11-05 15:55] RamanathanChinnappan-MSFT commented on #101029
@yuriwoof

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-05 15:57] RamanathanChinnappan-MSFT commented on #101030
@yohny

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-05 16:00] RamanathanChinnappan-MSFT commented on #101031
@juminrubin

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-05 17:16] #100713 closed

[2022-11-05 17:39] SaibabaBalapur-MSFT commented on #100849
Hi @aryamo
Could you please go through the below link for your reference.
https://learn.microsoft.com/en-us/azure/aks/scale-cluster?tabs=azure-cli

if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-05 17:41] SaibabaBalapur-MSFT commented on #100922
@SachithKasthuriarachchi
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-05 17:41] SaibabaBalapur-MSFT commented on #100922
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-11-05 17:42] Naveenommi-MSFT commented on #101010
@rsouthm

It looks like your issue is resolved since you closed this thread.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-11-05 17:47] DrReedo commented on #100731
@AjayKumar-MSFT no problem.  Hopefully the documentation can be updated in line with the findings.

[2022-11-05 18:32] slashd opened #101034 "Boolean on the last line should be: $true"
See title

[code]

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a299cd29-143b-c263-7996-3467035b8937
* Version Independent ID: a8a1d0d0-411e-44eb-51da-c1f8ab90befa
* Content: [Configure anonymous public read access for containers and blobs - Azure Storage](https://learn.microsoft.com/en-us/azur

[2022-11-05 18:40] SammyAyyalusamy opened #101035 "Notebooks is currently not available. We are working on it. - Cosmos"
I am taking a course on Cosmos DB.  I could not continue because of unavailability of the notebooks.

How do I proceed?

[2022-11-05 18:55] jamessonglin commented on #66941
Is this issue solved? From azure document here (https://docs.microsoft.com/en-us/azure/aks/node-auto-repair), seems still didn't mention the single node cluster cannot do auto-repair. Is AKS now support node auto-repair for single node AKS cluster?

[2022-11-05 19:57] clouditspace commented on #69715
Looks like the issue identified in this thread is still unresolved

[2022-11-06 03:29] RamanathanChinnappan-MSFT commented on #101034
@slashd

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-06 03:30] RamanathanChinnappan-MSFT commented on #101035
@SammyAyyalusamy

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-11-06 04:07] amard6974 opened #101037 "Incorrect Image"
Setting up the Default Document does show selected (Red highlighted box), however the below screenshot shows Application setting page. This should be corrected.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-73bb010a87f0
* Version Independent ID: 8b366c42-43f8-d5eb-b619-b356e75a9916
* Content:

[2022-11-06 04:58] YashikaTyagi-MSFT commented on #100650
@DeanGross
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-06 04:58] #100650 closed

[2022-11-06 04:58] AnuragSingh-MSFT commented on #100683
@@xiaochenyang30, apologies for the delayed response. The `PropertyChangeType` is an enum type property and the details of the Fields can be found here - [PropertyChangeType Enum](https://learn.microsoft.com/en-us/dotnet/api/microsoft.azure.management.resourcemanager.models.propertychangetype?view=azure-dotnet)

`Array` means that "The property is an array and contains nested changes."

Hope this

[2022-11-06 04:58] #100683 closed

[2022-11-06 05:57] Naveenommi-MSFT commented on #100971
@iamramengirl

Please go through this below link for your reference.

https://learn.microsoft.com/en-us/legal/cognitive-services/computer-vision/limited-access-identity#:~:text=Customers%20and%20partners,of%20Face%20API.

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-06 06:08] AnuragSingh-MSFT commented on #100701
@rawatsudhir1, thank you for posting this question and apologies for the delayed response. I am reaching out to the product group for confirmation and will update here as soon as I get some information

[2022-11-06 06:08] Naveenommi-MSFT commented on #100930
@mssaperla

Could you please review and add your comments on this, update as appropriate.

[2022-11-06 06:09] Naveenommi-MSFT commented on #100930
@immsgbb

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-06 06:28] Naveenommi-MSFT commented on #100987
Hi @roelofvsr

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-06 06:38] AnuragSingh-MSFT commented on #100726
@rz1qt2, thank you for this question. The [VM insights guest health (preview) will retire on **30 November 2022**.](https://learn.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-health-migrate) Therefore, the recommendation is to Migrate from VM insights guest health to Azure Monitor log alerts.

It is for this reason, the `Microsoft.WorkloadMonitor` resource provider seems to be not getting

[2022-11-06 06:39] Naveenommi-MSFT commented on #101005
Hi @eric-urban

Could you please review this and update as appropriate.

[2022-11-06 06:40] Naveenommi-MSFT commented on #101005
@toraritte

Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-06 06:43] AnuragSingh-MSFT commented on #100735
@stavr666, thank you for the feedback.

@jyothisuri, could you please review this question and share your feedback. Thank you

[2022-11-06 06:51] Naveenommi-MSFT commented on #100920
Hi @liute110

Please go through this below link for your reference.

https://learn.microsoft.com/en-us/azure/data-explorer/ingest-sample-data?tabs=ingestion-wizard

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-06 07:29] ElazarK commented on #101024
@dombat Thank you for bringing this to my attention. I will review the article in th enext few days.

[2022-11-06 07:39] blacklabnz commented on #100963
@whhender
hi mate, thanks for responding, the version of databricks cluster is 11.1, I dont believe there is anything missed, because he autoscan did capture the assets in hive metastore. It was just the lineage that was now shown.
I ma not sure that if I missed anything the scan would probably not even work at all.
happy to find other more info needed for further troubelshooting. cheers

[2022-11-06 07:53] adi-garg opened #101038 "Stored Access Policy Support-Document Feedback"
Hello Microsoft,
Section [here](https://learn.microsoft.com/en-us/azure/storage/common/storage-sas-overview#account-sas) mentioned this as note:
_Stored access policies are not supported for the **user delegation** SAS or the **account** SAS._

This implies Stored Access policies work with ONLY **Service** SAS.
However, I infer **it is supported for particular instance of service(eg.particular con

[2022-11-06 09:01] Naveenommi-MSFT commented on #100824
@dorusstevens1

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-06 09:01] #100824 closed

[2022-11-06 09:25] sasanmcp opened #101039 "possible typo in the template"
in the "resource" section, "name" field, shouldn't it be read
  "name": "[contoso.uniqueName(**namePrefix**('storageNamePrefix'))]",
rather than the existing
  "name": "[contoso.uniqueName(parameters('storageNamePrefix'))]",
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: eb7fe8a7-fa9c-345f-98a8-6

[2022-11-06 09:27] #101039 closed

[2022-11-06 09:27] sasanmcp commented on #101039
read the template again, it is fine the way it is.

[2022-11-06 09:40] Naveenommi-MSFT commented on #100831
@rihoughton

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-06 09:40] #100831 closed

[2022-11-06 09:46] Naveenommi-MSFT commented on #101028
Hi @eric-urban

Could you please review and add your comments on this, update as appropriate.

[2022-11-06 09:46] Naveenommi-MSFT commented on #101028
@2fersen

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-06 09:47] AnuragSingh-MSFT commented on #100758
@jwisener, thank you for reporting this. I checked the sample code provided and it does not return `Activity.Current` as null (I followed the instructions to edit the code in portal). However, the data seemed not to be getting ingested into ApplicationInsights. I am assigning it to our content team for further review.

@AaronMaxwell, could you please review this and share your thoughts. The code s

[2022-11-06 09:52] AnuragSingh-MSFT commented on #100771
@tfitzmac, could you please review this and share your thoughts. Thanks you

[2022-11-06 10:17] adi-garg opened #101040 "ADE Queries/Article Improvement- Encryption of Temporary disks and Does ADE also use SSE PMK alongside"
Hello Microsoft,
Article [here ](https://learn.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-overview)perhaps missed the following items-
1. a. How are **temporary disks** being **encrypted** when ADE is used- Is it using ADE(dm crypt/bit locker) OR is it using Encryption at Host feature ie by the server hosting the VM (**b.and does it use CMK or PMK**)?
c.Adding this informat

[2022-11-06 11:10] ylashin opened #101043 "Update [Getting Started with sklearn notebook] with proper logic"
The notebook https://learn.microsoft.com/en-us/azure/databricks/_static/notebooks/getting-started/get-started-sklearn-7.3.html has the training function like below:

[code]

This does not sound accurate as this function is supposed to be called by HyperOpt hence `RandomForestRegressor` should be initialised using the dynamic parameters not just point to values of variables defined before which are

[2022-11-06 11:26] MarkvanderSalm opened #101044 "Solution for "HTTP Error 500.30 - ASP.NET Core app failed to start""
I found a solution for the HTTP Error 500.30 that might appear after deploying the ASP.NET Core web application to Azure. I noticed that there have been a few reports of this error in the feedback for this article, so I wanted to share my solution as well as request a fix in the repository on GitHub with the article's sample project code.

`DotNetCoreSqlDb.csproj` has a reference to the NuGet pack

[2022-11-06 12:02] TimothyMalahy opened #101045 "Low Priority | Azurite for Local Store links are dead"
Was looking into using local storage and this page reference 'azurite' in a few places. They all seem to lead to 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ad301acd-cfb9-5413-b882-e20e22632215
* Version Independent ID: f1738d3d-e847-6500-4a40-59f3abd8517c
* Content: [Develop and run Azure Functions locally](h

[2022-11-06 12:19] clouditspace opened #101046 "System Assigned/User Assigned Identities are in preview or not?"
In Container app page, under Settings > Identity, System Assigned/User Assigned Identities are shown as in preview.
![image](https://user-images.githubusercontent.com/47174734/200170291-5b809540-4fe3-4d2e-87c1-ac394cd4d27c.png)

But the documentation is not indicating that the feature is in preview. Please clarify that
![image](https://user-images.githubusercontent.com/47174734/200170257-2a74f48c-

[2022-11-06 12:24] jwisener commented on #100758
Could the sample be updated to use a more current version of .net? If not
at least state this only works with version 3 of azure functions and
doesn’t work with azure functions 4 with .net 6

On Sun, Nov 6, 2022 at 3:47 AM Anurag Singh ***@***.***>
wrote:

[2022-11-06 12:50] ritutiw commented on #96931
This issue is fixed as I can deploy notebook from my local without adding
parameter : [] to deploy.yaml
 to databricks Cluster

[2022-11-06 12:54] AjayKumar-MSFT commented on #100731
DrReedo, Thanks for the follow-up.
Your feedback has also been shared with the content owner (@Cephalin) for further review, to see if additional clarity on this is required and update in the next refresh.

[2022-11-06 12:54] #100731 closed

[2022-11-06 13:08] joslat opened #101048 "Live monitor Troubleshooting section not specific enough and not helpful but misleading"
[Enter feedback here]
Hi, I am struggling with the live monitor configuration and its troubleshooting, from an app service/web app hosting an ASP.NET web api.
TLS is 1.2, the PerfCounterCollector  has been added but No ApplicationInsights.config file appears anywhere - and it should according to the documentation... so documentation does not match. I have tried to add App Service Insights from Vis

[2022-11-06 14:46] sy-huss opened #101049 "Page with multiple errors."
Is this page valid? It is riddled with errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06-f09f-00f0-d978b3d16777
* Content: [Send push notifications to Xamarin.Android apps using Azure Notification Hubs](https://learn.microsoft.com/en-us/

[2022-11-06 15:10] rolstead opened #101051 "One user per device limit no longer true"
A device can only be registered in a single tenant. This limit means that only one work or school account is supported for phone sign-in using the Authenticator app.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3f8368ab-5081-7c09-d7cd-8fff29804f3f
* Version Independent ID: 61c5cf00-293a-d2e7-930e-0897c93cc142
* Cont

[2022-11-06 16:05] potlacarrot opened #101052 "tune model hypermeters"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d1b9d373-2140-ead0-e1b2-de63f8e94125
* Version Independent ID: 0bcd0103-042c-0ed8-2c8b-922ee27bff3c
* Content: [Tune Model Hyperparameters - Azure Machine Learning](https://learn.microsoft.com/en-us/azure/machine-learning/component-reference/tune-mod

[2022-11-06 16:05] RamanathanChinnappan-MSFT commented on #101037
@amard6974

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-06 16:07] #101052 closed

[2022-11-06 16:07] RamanathanChinnappan-MSFT commented on #101038
@adi-garg

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-06 16:08] RamanathanChinnappan-MSFT commented on #101040
@adi-garg

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-06 16:10] RamanathanChinnappan-MSFT commented on #101043
@ylashin

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-06 16:12] RamanathanChinnappan-MSFT commented on #101044
@MarkvanderSalm

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-06 16:26] SwathiDhanwada-MSFT commented on #100670
@TiloGit Thanks for your feedback.

Assigning to content author @bwren  for review.

[2022-11-06 16:28] RamanathanChinnappan-MSFT commented on #101045
@TimothyMalahy

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-06 16:29] RamanathanChinnappan-MSFT commented on #101046
@clouditspace

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-06 16:31] RamanathanChinnappan-MSFT commented on #101048
@joslat
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-06 16:32] kripa-2019 commented on #100940
I'm with the CSS team and I have come across a few tickets where the CX is concerned about the endpoint even though shows as activated/approved in the Azure portal, is not accessible via code for a good 10 minutes.

I see here : https://learn.microsoft.com/en-us/azure/key-vault/general/private-link-service?tabs=portal there is a mention of the time delay.

![image](https://user-images.githubuserco

[2022-11-06 16:34] RamanathanChinnappan-MSFT commented on #101049
@sy-huss

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-06 16:36] RamanathanChinnappan-MSFT commented on #101051
@rolstead

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-06 16:46] AndreyRa opened #101054 "Is it possible to delete individual records or not?"
Is it possible to delete individual records or not? And if it is possible, is there any restictions?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1937ed97-1277-1d62-4460-4143a0d15fe6
* Version Independent ID: b43a8989-26e3-46a1-532e-659e74c5120f
* Content: [Manage DNS record sets and records with Azure DNS](https://

[2022-11-06 17:02] sanmai-NL commented on #74050
@cherylmc What's the status of this please?

[2022-11-06 18:11] arindam0310018 commented on #100012
Hello @kabharati

Thank you for your kind reply.
I look forward for AAD Team`s reply.

Meanwhile, Could you share the link to the documentation which states AAD character limit to 53 characters ?

Many Thanks
Regards, Arindam Mitra

[2022-11-06 18:15] arindam0310018 commented on #100407
Hello @msmbaldwin
Thank you for your kind reply and making the changes in the documentation.
I did my small part being an azure fanatic :-)

Best regards, Arindam Mitra

[2022-11-06 18:32] arindam0310018 commented on #100017
Hello @ElazarK
Thank you for your reply and Thank you very much for making the changes in the documentations.
I can now see the changes in the documentation - https://learn.microsoft.com/en-us/azure/defender-for-cloud/quickstart-onboard-github

- Connector Name Cannot be more than 20 Characters
![image](https://user-images.githubusercontent.com/29681063/200188184-622bd6e5-8028-4055-9041-280dcd36a5

[2022-11-06 18:55] ecfan commented on #100844
@SurbhiAgarwal12: Thanks for reaching out! I've added this to doc backlog and will prioritize accordingly.

[2022-11-06 18:56] ecfan commented on #100844
@MayankBargali-MSFT: #please-close

[2022-11-06 18:56] #100844 closed

[2022-11-06 20:23] pizang opened #101057 "Improper description of filters for Enterprise Applications"
All applications also include Managed Identities. Also there are some apps neither in Enterpise Applications, nor in MS applications not in Managed Identities. They are only displayed in All applications. I am trying to find what is a characteristic for them but there is no information.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue l

[2022-11-06 21:46] DinLim opened #101058 "Download output from AutomL"
Hi, I have run an experiment with a data set on AutoML. How do you download the dataset with the predicted results?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 52d75487-5a8d-f735-bc34-8a5d90c52d86
* Version Independent ID: b651cdfb-6d3b-8ce9-f665-be07b1f11273
* Content: [Evaluate AutoML experiment results - Azure M

[2022-11-06 22:28] #100633 closed

[2022-11-06 23:43] chenrujun commented on #100978
@nickludwig

Thank you very much for your response.

We are using `/common` to support OIDC flow ([hybrid flow](https://learn.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-id-token-as-well-or-hybrid-flow)). We want to share the tenant information for all flows in one application.

[2022-11-07 01:22] zqyAmy opened #101060 "Migration activity in queued state"
For this 'Migration activity in queued state' part, seems if we create 2 activities, the third activity will show queued. One product team engineer confirmed the maximum activity is 2. Could you please verify this and add the limitation on 'Migration activity in queued state' part if it is correct? Thanks a lot!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micr

[2022-11-07 01:40] LinVince opened #101061 "If the project is still ongoing..."
Hello,

I was wondering if the project is going on because we have submitted our applications but haven't got any feedback.

I was wondering if Microsoft is still accepting compatible authenticator..

Vince

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f2494bd0-3d61-f686-8a8e-fbbee3ca8b38
* Version Independent ID: cd

[2022-11-07 02:29] gdenne opened #101063 "Canvas screenshots are outdated. Updating to current UI would be nice."
Canvas screenshots are outdated. Updating to current UI would be nice.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6613f6e5-220e-4fc0-e7f5-a5afdf885bc6
* Version Independent ID: 3a5c1687-3ca4-33b4-1c66-0f6d4cdd49b3
* Content: [Tutorial: Azure AD SSO integration with Canvas - Microsoft Entra](https://learn.microsoft

[2022-11-07 02:39] Jessieliu111 opened #101064 "Please review the Note for mlflow models"
[Enter feedback here]

Hi team,
Cx has confusion on below Note. Cx will train an AutoML model and register the model directly from the experiment. As per below note, scoring script doesn't need to be modified if it's MLflow model, but it's not the case for AutoML registered Model. AutoML model is for real time deployment, and not for batch deployment. Cx has to modify the score.py even though it's

[2022-11-07 02:43] MayankBargali-MSFT commented on #101045
@TimothyMalahy Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-11-07 02:48] #101045 closed

[2022-11-07 02:49] SaibabaBalapur-MSFT commented on #101054
@AndreyRa
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 02:51] SaibabaBalapur-MSFT commented on #101057
@pizang

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 02:52] SaibabaBalapur-MSFT commented on #101058
@DinLim

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 02:54] SaibabaBalapur-MSFT commented on #101061
@LinVince

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 02:59] SaibabaBalapur-MSFT commented on #101060
@zqyAmy

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 03:00] SaibabaBalapur-MSFT commented on #101063
@gdenne

Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-07 03:01] SaibabaBalapur-MSFT commented on #101063
@jeevansd

Can you please check and add your comments on this doc update request as applicable.

[2022-11-07 03:03] SaibabaBalapur-MSFT commented on #101064
@Jessieliu111

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 03:16] SaibabaBalapur-MSFT commented on #101052
@potlacarrot

It looks like your issue is resolved since you closed this thread.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-11-07 03:18] SaibabaBalapur-MSFT commented on #100849
@aryamo

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-07 03:18] #100849 closed

[2022-11-07 03:47] AjayBathini-MSFT commented on #100949
@adi-garg
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-07 03:48] kamfaima commented on #99600
Hello, any update on this?

[2022-11-07 03:49] AjayBathini-MSFT commented on #100949
Hi @stevenmatthew
Can you add your comments on the doc update on the info needed on option to upload to a folder(directory).

[2022-11-07 03:50] AjayBathini-MSFT commented on #100980
@adi-garg
 I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-07 03:51] AjayBathini-MSFT commented on #100980
@tamram
Can you please check and add your comments on this doc update request as applicable.

[2022-11-07 03:51] liute110 commented on #100920
@Naveenommi-MSFT
My issue is that I can`t access to dataset `https://kustosamples.blob.core.windows.net/samplefiles/StormEvents.csv` in the page

[2022-11-07 04:18] KapilAnanth-MSFT commented on #101054
@AndreyRa,

I see the document states we can delete an individual record in a record set.
Refer: [Remove a record from a record set](https://learn.microsoft.com/en-us/azure/dns/dns-operations-recordsets-portal#remove-a-record-from-a-record-set)

There are no restrictions as such with deleting a record or record set.

Let us know if you require further information.

[2022-11-07 04:27] MughundhanRaveendran-MSFT commented on #100874
@tspring418 , the function app will still work with restrictions on stroage account. It has to be configured in the following way,

https://learn.microsoft.com/en-us/azure/azure-functions/configure-networking-how-to#restrict-your-storage-account-to-a-virtual-network

The above link is already present in the documentation.

[2022-11-07 04:27] Naveenommi-MSFT commented on #100920
@liute110

Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@shsagir

Could you please review this and update as appropriate.

[2022-11-07 04:42] YashikaTyagi-MSFT commented on #100859
@AdrianGolda
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-07 04:59] ManoharLakkoju-MSFT commented on #100973
@badsector-82
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue

[2022-11-07 05:04] sekharkumar commented on #100280
Sure @SatishBoddu-MSFT, Thanks

[2022-11-07 05:09] ManoharLakkoju-MSFT commented on #101002
@softcloudservices
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-07 05:25] YashikaTyagi-MSFT commented on #100916
@lightupdifire
Can you try with below link where you can find the pricing tier for Azure. If this does not resolve your query, Please revert back we will be happy to continue our discussion.
 https://www.microsoft.com/en-in/security/business/identity-access/azure-active-directory-pricing?rtc=1

[2022-11-07 05:28] RamanathanChinnappan-MSFT commented on #100860
@n-onsh

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-07 05:29] RamanathanChinnappan-MSFT commented on #100860
@balapv

could you please review this and update as appropriate.

[2022-11-07 05:31] RamanathanChinnappan-MSFT commented on #100827
@VitalyMCT

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-07 05:32] RamanathanChinnappan-MSFT commented on #100827
@liudan66
could you please review this and update as appropriate.

[2022-11-07 05:34] RamanathanChinnappan-MSFT commented on #100901
#sign-off

[2022-11-07 05:34] #100901 closed

[2022-11-07 05:35] SadiqhAhmed-MSFT commented on #100910
@patilsameer11 Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-11-07 05:40] RamanathanChinnappan-MSFT commented on #100918
@kubasiak

Please look this screenshot for your reference

![image](https://user-images.githubusercontent.com/110973511/200234321-bccc5497-b67a-4f50-944a-ff6ed769cdb8.png)

[2022-11-07 05:46] RamanathanChinnappan-MSFT commented on #100924
@chugugrace

could you please review this and update as appropriate.

![image](https://user-images.githubusercontent.com/110973511/200234945-dbb52666-155f-4d85-96e2-8a31c7e2a5f7.png)

[2022-11-07 05:47] RamanathanChinnappan-MSFT commented on #100924
@PMLIO

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-07 06:00] RamanathanChinnappan-MSFT commented on #100948
@Bhuard1

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-07 06:06] RamanathanChinnappan-MSFT commented on #100970
@bigkangji

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-07 06:09] RamanathanChinnappan-MSFT commented on #100984
@GouravGit

It would be great if you could add a screenshot to the documentation. This would help us redirect the issue to the appropriate team. Thanks!!

[2022-11-07 06:18] RamanathanChinnappan-MSFT commented on #101043
@mssaperla

could you please review this and update as appropriate.

[2022-11-07 06:18] RamanathanChinnappan-MSFT commented on #101043
@ylashin

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-07 06:20] YashikaTyagi-MSFT commented on #100382
@LakshmanAVN
 Audience URI/Entity ID must be urn:amazon:webservices:clientvpn for AWS Client VPN
You can try urn:amazon:webservices:clientvpn#prod, urn:amazon:webservices:clientvpn#dev, etc but success depends on AWS constraints.In case AWS expects just urn:amazon:webservices:clientvpn, the workaround from Azure AD side is to create an additional tenant. a non-prod tenant and create the correspond

[2022-11-07 06:32] chugugrace commented on #100924
in main.cmd file, there are 'your-dns-server-ip1 your-dns-server-ip2', replace them with your dns server ips

[2022-11-07 06:39] linda33wj commented on #100963
@blacklabnz - thanks for bringing up the issue. Lineage is supported between tables and views; there is no lineage among tables.

If you meant you don't see lineage on a view, to further troubleshoot your case, could you file a support ticket? We'd need to collect more context of your scan run, logs and Databricks table/view definition there to check what went wrong.

[2022-11-07 07:03] flohfeld opened #101067 "Miss a scheduled plan for GA"
When should R be GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 94f90a2e-f64f-0cd9-30f4-4c0c059b9491
* Version Independent ID: 797f4bcf-fde9-7d05-5314-020dd9262d14
* Content: [Use R for Apache Spark - Azure Synapse Analytics](https://learn.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-r-language?s

[2022-11-07 07:28] AnjaEndresen01 commented on #90225
I am also very interested in how to get retry delay to work, I have been testing with the host.json file without expected result.

[2022-11-07 07:31] DuffLV opened #101068 "ACU values missing for Das_v5 machines"
Hi there,

For whatever reason, the Das_v5 machines do not have the ACU values specified in the documentation (even in this page: https://learn.microsoft.com/en-us/azure/virtual-machines/acu). This would be helpful.

Thanks!

Regards,
Karlis

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d5211289-a99f-3f6f-83c6-bd6d89

[2022-11-07 07:32] tajwan69 commented on #99773
Exactly, that was my problem. My websocket support settings were disabled on the cloudflare service where I hosted my azure SignalR service.

@vicancy Thanks for helping and solving my problem.

[2022-11-07 07:32] #99773 closed

[2022-11-07 07:33] blacklabnz commented on #100963
hi @linda33wj, thanks for attending this, I will put the code in to show what I am doing:
First I created two table with data
[code]
Then I joined those tables together to simulate a transformation
[code]
When scannning the hive metadata store, I could see those tables scanned as assets but I could not see the lineage.
Did I do something wrong here ?
Thanks

[2022-11-07 07:35] SwathiDhanwada-MSFT commented on #100934
@parlevjo2 Thanks for reaching out. New-AzResourceGroupDeployment command accepts the dynamic parameters which means you can access the available parameters within template created. The information is documented in the article you have referred. Attaching a snapshot for your reference.

<img width="444" alt="image" src="https://user-images.githubusercontent.com/48976275/200251478-6e148f66-1b55-43f

[2022-11-07 07:35] #100934 closed

[2022-11-07 07:50] AnuragSingh-MSFT commented on #100830
@SladMSFT, thank you for reporting it. I have submitted a request for it to be updated.

[2022-11-07 08:00] #100830 closed

[2022-11-07 08:03] SnehaAgrawal-MSFT commented on #100848
@Yangsh-w To clarify on this is any configuration changes  that would result in a restart of the app service causes an immediate refetch of all referenced secrets. e.g. an app settings change.

[2022-11-07 08:08] YashikaTyagi-MSFT commented on #100958
@benoithamet
Thanks for contributing towards enhancement of the document. Required changes have been made and once approve by Author, it will reflect in the document itself.

[2022-11-07 08:08] YashikaTyagi-MSFT commented on #100382
@LakshmanAVN
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-07 08:08] #100382 closed

[2022-11-07 08:14] youkhi opened #101069 "Linked to wrong url"
Team,

This link doesn't seem to provide the right url as it suggests.

For more information about Azure Storage billing, see [Understanding Azure Storage Billing – Bandwidth, Transactions, and Capacity](https://blogs.msdn.microsoft.com/windowsazurestorage/2010/07/08/understanding-windows-azure-storage-billing-bandwidth-transactions-and-capacity/).

---
#### Document Details

⚠ *Do not edit this s

[2022-11-07 08:24] YashikaTyagi-MSFT commented on #100996
@pwragg
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-07 08:25] Visinghr opened #101070 "Need to update the article with MgGraph api module"
Since, AzureAd powershell will depreciated and replace by MgGraph sdk. Articles needs to be updated with the Script.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b1765376-03c9-829a-9e42-e72cc8a0daea
* Version Independent ID: 684c7d7c-09f4-8170-6f7a-132b2d79e1df
* Content: [Self-service password reset policies - Azur

[2022-11-07 08:25] YashikaTyagi-MSFT commented on #101013
@aysarabomwis
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-11-07 08:30] ntrogh commented on #100179
#please-close

[2022-11-07 08:33] SwathiDhanwada-MSFT commented on #100877
@dazinator As we haven't heard from you and there are no further documentation changes, we will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-11-07 08:33] BenPxs commented on #89047
MS support gave me feedback regarding this question (A few months ago). They said RBAC is not officially supported for these settings. However as we were deep into the project, through some trial and error, I was able to get it working by assigning the AFD SPO Key Vault Certificates Officer and Key Vault Secrets User.

[2022-11-07 08:33] #89047 closed

[2022-11-07 08:42] shaktisingh-msft commented on #101060
Hi @croblesm,

Could you please look into this documentation request. Thanks.

[2022-11-07 08:52] YashikaTyagi-MSFT commented on #100972
@JankeSkanke
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-07 08:55] SwathiDhanwada-MSFT commented on #100947
@mumian Can you please provide your inputs on this?

[2022-11-07 09:12] YashikaTyagi-MSFT commented on #100925
@SolArrascue
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-07 09:13] #100985 closed

[2022-11-07 09:16] Paken opened #101071 "Wrong URL redirection"
[Enter feedback here]

In the section:

https://learn.microsoft.com/en-us/security/benchmark/azure/baselines/container-registry-security-baseline?toc=%2Fazure%2Fcontainer-registry%2FTOC.json&source=docs#microsoft-defender-for-cloud-monitoring

The link by the end of the section:

[https://aka.ms/acr/private-link](https://learn.microsoft.com/en-us/azure/container-registry/container-registry-private

[2022-11-07 09:31] AshokPeddakotla-MSFT commented on #100808
@PatAltimore Please look into this feedback and update the doc as appropriate.

[2022-11-07 09:41] VikasPullagura-MSFT commented on #101071
@Paken
Thanks for the feedback! We will check and update the document as appropriate.

[2022-11-07 09:42] VikasPullagura-MSFT commented on #101068
@DuffLV
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-11-07 09:42] VikasPullagura-MSFT commented on #101068
@mamccrea
Can you please check and add your comments on this doc update request as applicable.

[2022-11-07 09:42] SwathiDhanwada-MSFT commented on #101009
@aaronhurstOcto Thanks for reaching out. The documentation is indeed correct. You should be able to view the Subscribe button.
For your reference, adding a snapshot of my subscription.
<img width="926" alt="image" src="https://user-images.githubusercontent.com/48976275/200278159-737c08eb-d5fa-4bb6-b754-dcf882414f21.png">

To access cost management data, you need to have permissions mentioned in [t

[2022-11-07 09:45] mark88d commented on #89920
Still seeing this Issue? why is this closed? has this moved under a new issue ID? @MartinJaffer-MSFT

[2022-11-07 09:45] lightupdifire opened #101073 "Known Issues"
Hello,

Is it possible to have any explanation please for "SMS-based authentication isn't recommended for B2B accounts."
Like why it is not recommended? :)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b7e90747-a144-01b7-8066-31b31e4eb6aa
* Version Independent ID: 4855c2d8-d647-1ca0-fe5f-670495df5042
* Content: [SMS-

[2022-11-07 09:47] lightupdifire commented on #100916
@YashikaTyagi-MSFT
Thanks! Maybe it explains the Member user (which seems to be included in the license).

But not about Guest users. If we enable a Phone Sign-in and enable a policy to Require MFA for Guests users, then if a Guest user register as MFA with Phone only, what will be the price for our tenant?
Maybe, it will be those 0.031 like explained here: https://azure.microsoft.com/en-us/pricin

[2022-11-07 09:53] SaibabaBalapur-MSFT commented on #100950
@dweppeler-msft
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-11-07 09:53] #100950 closed

[2022-11-07 09:57] #100467 closed

[2022-11-07 09:59] AdamGuan13 opened #101074 "github link 404 error"
The links of the left side task which are github links are 404 error. Please help to fix it.
Thanks a lot.
![image](https://user-images.githubusercontent.com/113486445/200281232-5c53f940-d376-48d8-a7be-70d7796d9cff.png)
![image](https://user-images.githubusercontent.com/113486445/200281750-93872001-964e-43c6-8545-90de5261dede.png)

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-11-07 10:08] ThomasPe opened #101075 "Broken Link to AzCopy 7.3"
The link to AzCopy 7.3 in the note below is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or move data to Azure Storage by using AzCopy v10](https://learn.microsoft.com/en-us/azure/storage/comm

[2022-11-07 10:15] Lesrac opened #101076 "Java BlobOutput path substitution based on HttpTrigger body"
Is there a way to modify the "path" for the @BlobOutput annotation inside the code?
Use Case:
Receiving an XML through an HttpTrigger. Reading stuff out of the received XML would determine how the path inside the BlobOutput should look like, e.g. some base "myblob/" is defined and on top of it we read out of the xml the "senderId" and a "filename".
As we do some checks on the XML, we determine tha

[2022-11-07 10:17] yoelhor commented on #100751
Dear @lirichard, thanks for the feedback. I'm updating the article removing the public preview note. A new version will publish later today. If you have any questions or need further information, please open new GitHub issue

[2022-11-07 10:19] Digiroka commented on #100785
thanks for updating @Heidilohr - I believe this page is the only source for these files, hence the urgency. If there is an alternate location (git etc.) where these are hosted and available at release, please let me know or add to doc? Thanks!

[2022-11-07 10:30] TycEkart opened #101077 "Moving messages to the DLQ: wrong Dead-letter reason in table"
Please rename: _MaxDeliveryCountExceededExceptionMessage_ to _MaxDeliveryCountExceeded_ inside the table!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a9c35042-f064-0f34-8d16-ad40e829ca39
* Version Independent ID: 19d4a83e-55c8-8b9c-38a0-0e9a26ba2cdb
* Content: [Service Bus dead-letter queues - Azure Service Bus](ht

[2022-11-07 10:33] Mayseve opened #101078 "License requirements wrong?"
This page states the license requirements for using conditional access with workload identities is Azure AD P2. While it is in preview. However, using an location based conditional access policy with an service principal works for me while having Azure AD P1 on the tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-11-07 10:53] GitaraniSharma-MSFT commented on #100985
@hadr10 , thank you for the update. Glad to hear that the issue is now resolved.

[2022-11-07 10:54] shaktisingh-msft commented on #101074
Hi @AdamGuan13 ,

Thanks for sharing this feedback. We will look into this and update the link.

[2022-11-07 11:04] AnuragSingh-MSFT commented on #101048
@joslat, thank you for posting the question. I understand that you are trying to enable live metrics for one of your ASP.NET web api (4.X). The "Live Metrics" for ASP.NET is enabled by default when you configure ApplicationInsights to collect telemetry. Please ensure that you have enabled ApplicaionInsights on the app using the following steps:

[Configure Application Insights for your ASP.NET web

[2022-11-07 11:14] sneha-joy opened #101079 "No configuration tab for alerts trigger creation. Also Alerts are not working"
No configuration tab for alerts trigger creation. Also Alerts are not working

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 03a2acba-a3c1-cadc-4448-c608a712881b
* Version Independent ID: 54fafa9f-0b1d-46eb-f04b-85b3d314f44e
* Content: [Create and view permission analytics triggers in Permissions Management - Microsof

[2022-11-07 11:46] Willem-J-an opened #101080 "Docs mention to use latest node version, but the module does not work on node 19"
The docs mention to use the latest node version
[code]
But the module does not work on node 19.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5b5392af-90b9-8dbb-663d-9ea12defe00e
* Version Independent ID: 54296020-8b98-ea17-7915-5b918b173793
* Content: [Automated publishing for continuous integration and delivery - A

[2022-11-07 11:54] thefonz3h opened #101081 "Applicable to CSP customers?"
The document lists Enterprise Agreements as the only subscription type to allow outbound TCP, but we have working examples of this successfully running from CSP subscriptions too. The CSP subscriptions have the TCP25 status listed under the VNET diagnosis/troubleshooting blade and is listed as 'Allowed'.

Has there been a change in how this works for CSPs, and should CSP customers be re-engineerin

[2022-11-07 11:59] dazinator commented on #100941
@ChaitanyaNaykodi-MSFT - based on this comment here: https://github.com/Azure/bicep/issues/8877#issuecomment-1303754057 it would seem its currently not possible to deploy a private endpoint using complete mode. Please could you confirm and if so I feel this should be pointed out in the docs!

[2022-11-07 12:02] dazinator commented on #100877
@SwathiDhanwada-MSFT my only comment is that this statement in the docs is misleading:

As per what @alex-frankel shows above, passing in plain text for sensitive values does work. I think what you mean to say is thatit is non desirable for security reasons, and that is slightly different..

[2022-11-07 12:17] AshokPeddakotla-MSFT commented on #100843
@tervoju Sorry for the delayed response. You are looking into the edgeAgent [reported properties](https://learn.microsoft.com/en-us/azure/iot-edge/module-edgeagent-edgehub?view=iotedge-1.4#edgeagent-reported-properties).

The reported properties of the IoT Edge agent are useful as they can be queried with the [IoT Hub query language](https://learn.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide

[2022-11-07 12:20] chaplic opened #101083 "DisposeArtefactsTimedOut - issues"
Guidance here is poor.
1) Under 'steps to run benchmark test' it tells us to use values obtained in steps 2,3,4  - there isnt a 2,3,4 assume this means b,c,d.

2) point D in same area says 'copy the SAS value'. There is no such thing listed on the page. SAS token is that this means. A real world example of a complete URL would be helpful.

3) I had to enable Service Container and Object for the az

[2022-11-07 12:33] ManoharLakkoju-MSFT commented on #100981
@BakkerJan
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@OWinfreyATL
Can you please check and add your comments on this doc update request as applicable.

[2022-11-07 12:38] andrewpEntag opened #101084 "Azure Automation Windows Updates - Support Operating Systems (Windows 10/11 Multi-session)"
Hi Team, please clarify if Windows 10 / 11 Ent Multi-session is supported for Update automation when running as a multi-session host in Azure Virtual Desktop.

The statement "Client operating systems (such as Windows 7 and Windows 10) aren't supported.
For Azure Virtual Desktop, the recommended method to manage updates is [Microsoft Endpoint Configuration Manager](https://learn.microsoft.com/en-us

[2022-11-07 12:47] kabharati commented on #100927
This is correct, we will try to highlight this in our doc and this limitation will go away with GA.

[2022-11-07 12:48] kabharati commented on #100927
#please-close

[2022-11-07 12:48] #100927 closed

[2022-11-07 12:54] SaibabaBalapur-MSFT commented on #100975
@vimrang
Can you please check and add your comments on this doc update request as applicable.

[2022-11-07 13:10] SaibabaBalapur-MSFT commented on #101067
@flohfeld
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 13:11] IlmMicha opened #101085 "missleading wording and missing info on ca signed certificates"
Section _Create a self-signed certificate_ would be better named _Create server key and self-signed certificate_ in addition this section should include hints on how-to handle not self-sigend certificates like https://vigneshn.in/uploading-ssl-certificate-to-azure-application-gateway/ (please do not copy this guide as the guy forgot to also include root-CA.

A) Microsoft Documentation always talki

[2022-11-07 13:12] SaibabaBalapur-MSFT commented on #101069
@youkhi
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-07 13:14] SaibabaBalapur-MSFT commented on #101070
@Visinghr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 13:15] SaibabaBalapur-MSFT commented on #101073
@lightupdifire
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 13:16] SaibabaBalapur-MSFT commented on #101075
@ThomasPe
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 13:19] SaibabaBalapur-MSFT commented on #101076
@Lesrac
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 13:21] SaibabaBalapur-MSFT commented on #101077
@TycEkart
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 13:22] jamcguire opened #101086 "Cmdlets do not work under az network bastion"
Neither az network bastion rdp or az network bastion tunnel seem to exist under az network bastion.  Could you please advise?

![image](https://user-images.githubusercontent.com/51439052/200327798-0bbcb960-b5cf-4ee1-a964-f33a7718b322.png)

![image](https://user-images.githubusercontent.com/51439052/200328161-4d753e51-52c2-4cbe-ba6a-4fc8db1afda5.png)

---
#### Document Details

⚠ *Do not edit this

[2022-11-07 13:23] SaibabaBalapur-MSFT commented on #101078
@Mayseve
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 13:25] SaibabaBalapur-MSFT commented on #101079
@sneha-joy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 13:27] SaibabaBalapur-MSFT commented on #101081
@thefonz3h
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 13:28] SaibabaBalapur-MSFT commented on #101080
@Willem-J-an
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 13:28] seesharprun commented on #101074
The hyperlinks will be updated to the correct GitHub repository. The updated hyperlinks should be live soon.

[2022-11-07 13:32] SaibabaBalapur-MSFT commented on #101084
@andrewpEntag
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 13:33] seesharprun commented on #99799
Hello @justinmchase!

This is a repository for docs bugs. We will take into consideration whether we should add a new article or section to this article on setting up diagnostic logs via a template (ARM or Bicep). For now, it seems like this was already discussed on the Azure Quickstarts repo (https://github.com/Azure/azure-quickstart-templates/issues/7701) where examples of ARM/Bicep templates cu

[2022-11-07 13:33] #99799 closed

[2022-11-07 13:40] seesharprun commented on #100456
Thanks @mulander for offering to update the documentation.

@krishjag, I'm going to go ahead and close this GitHub issue while @mulander works on the documentation. Please feel free to continue your discussion here.

#please-close

[2022-11-07 13:40] #100456 closed

[2022-11-07 13:42] alexszym commented on #91091
Hi @SnehaGunda, this is a good start but it's not as detailed as the notebooks documentation. I think these would be really useful sections to enhance the spark job tutorial with:
- how to add logging to a spark job
- how to read in secrets
- configuring spark context

[2022-11-07 13:46] alexszym commented on #89951
@SnehaGunda Thanks for the clarification. Hopefully it's something that can end up on the roadmap as it's quite the limitation.

I can't see the note in the docs yet. Should I give it a few more days?

[2022-11-07 13:46] ozcanli opened #101087 "Rules JSON content must be in escaped double quotes otherwise it is not working"
Hi,

As a Azure user, I tried to create a policy definition with azure CLI according to the instructions given in this [link](https://learn.microsoft.com/en-us/azure/governance/policy/how-to/programmatically-create#create-and-assign-a-policy-definition-with-azure-cli).  (Section that I follow is "Create and assign a policy definition with Azure CLI")

However I think instructions are misleading fo

[2022-11-07 13:49] stutommi opened #101088 "Certificate renewal with Ingress Controller with TLS using Secret Store CSI Driver"
Hey!

I managed to secure the Ingress with TLS as described within this document.

I've noticed though that the certificate referred to from the Key Vault doesn't seem to renew in the AKS, even though a renewed version of the cert has been published into the Key Vault.

I can't seem to find any info about this (the documentation doesn't say anything about certificate renewals). Have I misconfigure

[2022-11-07 13:55] kengaderdus commented on #91290
#reassign: @kengaderdus

[2022-11-07 13:57] #100955 closed

[2022-11-07 14:04] erikmoren commented on #70505
Having the exact same problem. "Attach to APIM" does nothing.

[2022-11-07 14:08] larryclaman commented on #98035
Reshifter reference removed.

[2022-11-07 14:08] #98035 closed

[2022-11-07 14:13] DeanGross commented on #100666
@shlipsey3  my immediate need is to find out who created a banned password list

[2022-11-07 14:26] mwisesyk opened #101091 "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING description conflicts with Automation Documentation for Linux"
The App settings description for WEBSITE_CONTENTAZUREFILECONNECTIONSTRING states that it is required for Windows and Linux for Consumption and Premium plans:
```This setting is required for Consumption and Premium plan apps on both Windows and Linux. It's not required for Dedicated plan apps, which aren't dynamically scaled by Functions.```

The automation documentation [articles/azure-functions/f

[2022-11-07 14:37] timwarner-msft commented on #101087
Hi @ozcanli. Which operating system are you using? -Tim

[2022-11-07 14:40] aaronhurstOcto commented on #101009
@SwathiDhanwada-MSFT , I do not see the Subscribe button under my Cost analysis page. I can access my subscription's cost management data. Do I need specific permissions to see the Subscribe button?

NOTE: I am using Azure Gov Cloud

![image](https://user-images.githubusercontent.com/90645476/200337064-12ff8c84-24f8-4554-ad2d-611b07a40fdc.png)

[2022-11-07 14:50] seesharprun commented on #100270
@laultman, we are rewriting this article to use a newer version of .NET now. Once the updated article is in our publishing pipeline, this issue will auto-close.

Thanks for your patience!

[2022-11-07 14:52] seesharprun commented on #100270
BTW, here's the updated sample project: https://github.com/Azure-Samples/cosmos-db-nosql-dotnet-sample-web-environment-variables

[2022-11-07 15:02] ChaitanyaNaykodi-MSFT commented on #101086
@jamcguire Thank you for your feedback! We will review and update as appropriate.

[2022-11-07 15:09] dorukkatic commented on #89047
Hello, thank you for your answer. Can I learn which service principal you have given those roles to? When I go to add the role assignment section and search for Azure Front Door, I couldn't find any related service. I've tried different combinations like Microsoft.FrontDoor or Azure.FrontDoor but nothing comes up.

[2022-11-07 15:09] #101074 closed

[2022-11-07 15:12] cchapin2020 commented on #100799
When I checked last week after the post by @ManoharLakkoju-MSFT the page had not been refreshed/updated yet in my view. I just checked it again and the new content is visible now. Thank you!

[2022-11-07 15:13] CelesteDG commented on #100378
#reassign @csmulligan

[2022-11-07 15:32] AaronMaxwell commented on #100770
Thanks for your dedication to our documentation. Although this question is beyond the scope of our feedback channel here on GitHub, which covers specific documentation fixes rather than technical support, we can help redirect you to the right support channel to get an answer to your question:

Microsoft Azure Monitor Q&A question page
https://docs.microsoft.com/answers/topics/24223/azure-monitor.h

[2022-11-07 15:34] BenPxs commented on #89047
I guess you have created the AFD SPO?
Register Azure Front Door Service as an app in your Azure Active Directory (AAD) via PowerShell using this command: New-AzADServicePrincipal -ApplicationId "ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037".
Once the AFD SPO is created then it is searchable as 'Microsoft.Azure.Frontdoor' (if you have read permissions in the AAD tenant).

[2022-11-07 15:57] whhender commented on #100963
@blacklabnz - Since you're just using two tables, I don't think you'll pick up any lineage. If the data was represented in a view, you would see the lineage between the table and the view, but lineage between just two tables isn't supported.
@linda33wj - please do confirm that I have a correct understanding as well.

[2022-11-07 16:00] rolyhudson opened #101098 "Unable to preview data"
Followed this several times. Hitting an issue at the preview data step
Preview reports: No data to show.
The simulator is running + sending messages
Output window shows
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e8f1f47b-62e5-1652-d8d2-189b0d2f4128
* Version Independent ID: 09ac7e5d-441c-7911-a105-16ae5d515

[2022-11-07 16:03] Nahtandidzze opened #101099 "Rate limit with Jwt 500 error"
Hi I am trying to implement rate limit for some API and trying this solution https://learn.microsoft.com/en-us/azure/api-management/api-management-sample-flexible-throttling#user-identity-throttling

When I use
`<rate-limit-by-key calls="100" renewal-period="60" counter-key="@(context.Request.Headers.GetValueOrDefault("Authorization","").Substring("Bearer ".Length).AsJwt()?.Subject)" />`
or
`<rate

[2022-11-07 16:10] johnazariah opened #101100 "Incorrect instructions for tutorial"
The tutorial instructions do not work as specified

1. **Critically, the Job Input _must_ be named `entrystream`, otherwise the input is not found.**
2. There is no resource group selector in the input creation page
3. There is no resource group selector in the output creation page

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linkin

[2022-11-07 16:11] tfitzmac commented on #100771
@ShotaSugihara - are you using a free, trial subscription?

[2022-11-07 16:18] vhorne commented on #100812
Done. Added info to the Note.
#please-close

[2022-11-07 16:18] #100812 closed

[2022-11-07 16:36] whhender commented on #100895
Thanks! You'll see those changes by later today.

#please-close

[2022-11-07 16:36] #100895 closed

[2022-11-07 16:41] csmulligan commented on #96638
#reassign:@csmulligan

[2022-11-07 16:41] Naveenommi-MSFT commented on #101087
@ozcanli

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 16:43] Naveenommi-MSFT commented on #101088
@stutommi

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 16:48] csmulligan commented on #99073
#reassign:@csmulligan

[2022-11-07 16:49] csmulligan commented on #98685
#reassign:@csmulligan

[2022-11-07 16:51] ElazarK commented on #101024
@dombat The change has been implemented and will be live in the docs in the next publish cycle.

[2022-11-07 16:51] ElazarK commented on #101024
#please-close

[2022-11-07 16:51] #101024 closed

[2022-11-07 16:51] csmulligan commented on #96305
#reassign:@csmulligan

[2022-11-07 16:52] Naveenommi-MSFT commented on #101091
@mwisesyk

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 16:55] Naveenommi-MSFT commented on #101098
@rolyhudson

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 17:04] Naveenommi-MSFT commented on #101099
@Nahtandidzze

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 17:10] PatAltimore commented on #100808
Hi @drwill-ms ,

Could you clarify your feedback?

The issue was opened for the VS Code dev article that contains the acr command. https://learn.microsoft.com/en-us/azure/iot-edge/how-to-vs-code-develop-module?view=iotedge-1.4&tabs=c&pivots=iotedge-dev-cli#push-module-docker-image.

Did you mean ACR authentication was missing in the C# tutorial article you referenced?

Thanks,
Pat

[2022-11-07 17:22] paulaustin-automutatio opened #101101 "Initial consent for an app with Guest users"
I'm not sure if this is a documentation or a product issue.

I have an Enterprise app that is requesting the following scopes. None of which requires admin consent.

offline_access openid email Sites.Read.All Files.Read.All

I'm using the openid conect services below a tenant rather than common

https://login.microsoftonline.com/{tenant}/v2.0

1. If I try and login using an email from a different

[2022-11-07 17:26] AwaisAli2233 commented on #87801
What I have done!!

Step 1: Created "Gmail" account -
Step 2: used it to create Azure FREE subscription
Step 3: Provided credit card and personal information
Step 4: Now unfortunately "forgot outlook" password!!! my bad
Step 5: created new "outlook" account
Step 6: provided same credit card and personal information

I am getting "You're not eligible for an Azure free account"

I tried all possible

[2022-11-07 17:26] roygara commented on #100559
@aikearney Thanks for bringing this to our attention, we appreciate it!

I've gone ahead and merged the changes, they should be live later today. Accordingly, I'll close this out.

Thanks, again!

#please-close

[2022-11-07 17:26] #100559 closed

[2022-11-07 17:28] jboback commented on #97381
#please-close

[2022-11-07 17:28] #97381 closed

[2022-11-07 17:30] jboback commented on #100251
Hi @jesweare,
I'll talk to the Question Answering team and present your suggestion to them. Thanks for your submission!

[2022-11-07 17:30] jboback commented on #100251
#please-close

[2022-11-07 17:31] #100251 closed

[2022-11-07 17:32] Naveenommi-MSFT commented on #101100
@johnazariah

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 17:36] Naveenommi-MSFT commented on #101101
@paulaustin-automutatio

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-07 17:39] #100270 closed

[2022-11-07 17:46] brsteel opened #101102 "new-azadserviceprincipal cmdlet doesn't work on tenant with no subscription"
Document specifies:
If your managing tenant doesn't have an existing Azure subscription, you can register the resource provider manually by using the following PowerShell commands:
# Register the Microsoft.Insights resource providers Application Ids
New-AzADServicePrincipal -ApplicationId 1215fb39-1d15-4c05-b2e3-d519ac3feab4 -Role Contributor
New-AzADServicePrincipal -ApplicationId 6da94f3c-0d67-4

[2022-11-07 17:48] nickludwig commented on #100978
@chenrujun - happy to help! Going to close this as I've answered your question. Please feel free to comment if you have anything else to add related to this, and I'll re-open so we can discuss. Thanks!

[2022-11-07 17:48] nickludwig commented on #100978
#please-close

[2022-11-07 17:48] #100978 closed

[2022-11-07 17:49] WyattBest commented on #94666
This post was extremely helpful to me. Windows Authentication doesn't work out of the box for organizations like mine that require MFA for everything, and it's hard to figure out why.

Also, if your organization is using per-user MFA instead of Conditional Access policies, it appears you must migrate to Conditional Access before you can use Windows Authentication with Azure SQL Managed Instance. I

[2022-11-07 17:53] jboback commented on #98456
Hi @muha-abdulaziz,
I thanks for your input! This issue has been brough up to the team, and we're working on fixing it in the documentation soon!

[2022-11-07 17:53] jboback commented on #98456
#please-close

[2022-11-07 17:53] #98456 closed

[2022-11-07 17:54] cdMSFT opened #101103 "Invalid URL in example OpenAI request"
Example request:
curl https://YOUR_RESOURCE_NAME.**openaiazure**.com/openai/deployments/YOUR_DEPLOYMENT_NAME/completions?api-version=2022-06-01-preview\
  -H "Content-Type: application/json" \
  -H "api-key: YOUR_API_KEY" \
  -d "{
  \"prompt\": \"Once upon a time\",
  \"max_tokens\": 5
}"

Should be openai.azure.com (is openaiazure.com)

---
#### Document Details

⚠ *Do not edit this section. It

[2022-11-07 17:54] jboback commented on #98054
@JonathanFingold, thanks for bringing this up. I've already added this to our PR for out next set of bugfixes.

[2022-11-07 17:54] jboback commented on #98054
#please-close

[2022-11-07 17:54] #98054 closed

[2022-11-07 18:01] nickludwig commented on #85021
@perttulaurila - as in listing all the potential optional claims that _could be_ configured? or listing the optional claims which _are_ configured for a given application?

[2022-11-07 18:03] guverduz opened #101105 "Fix button does not work with Linux VMs"
It is important to include on this page that the Fix button is not available for virtual machines running any distribution of the Linux operating system. There are a lot of cases open to CSS for this because it is not documented that the Fix button only works with Windows VMs.  Would you please include a note about this limitation in the Recommendations platform when it comes to Linux VMs?

---
##

[2022-11-07 18:16] himachida opened #101107 "Destination limitations Japanese Translation"
Could you modify the Japanese translation? There's a description about Event Hub on the Storage section.

Original
仮想ネットワークが有効になっている場合、診断設定から Event Hubs リソースにアクセスできません。 Event Hub で、このファイアウォール設定をバイパスするように [信頼された Microsoft サービスを許可する] を有効にして、Azure Monitor 診断設定サービスに Event Hubs リソースへのアクセス権が付与されるようにする必要があります。

Modified
仮想ネットワークが有効になっている場合、診断設定からストレージ リソースにアクセスできません。 Event Hub で、このファイアウォール設定をバイパスするように [信

[2022-11-07 18:24] moravindMSFT opened #101109 "POD names needs to be updated"
The name of the PODS needs to be updated..
[Enter feedback here]

The name of PODS needs to be updated..

microsoft-defender-collector-ds-*
microsoft-defender-collector-misc-*
microsoft-defender-publisher-ds-*

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4fdb6909-77c6-4e99-628e-c46a90a32577
* Version Independent ID:

[2022-11-07 18:44] msmbaldwin commented on #99407
Hi, @rnshah9. You are correct--a service principal's object ID is distinct from its client ID. I have removed this language from the article.

Thank you for your feedback --we apprecioate it!  #sign-off

[2022-11-07 18:44] #99407 closed

[2022-11-07 18:45] drwill-ms commented on #100808
My .env file variables weren't working. I inquired about it with Mariana Milhova who said I have to login once via the terminal for it to work.

I was following the instructions in the "Azure IoT Edge VS Code extension" tab.

[2022-11-07 18:46] msmbaldwin commented on #98838
Hi, @javikar.  I have added a note after the example, which reads:

You can see the update at https://learn.microsoft.com/en-us/azure/key-vault/keys/byok-specification#step-1-generate-kek.

Thanks for your feedback, we appreciate it! #please-close

[2022-11-07 18:46] #98838 closed

[2022-11-07 18:52] JnHs commented on #98154
Hello again @ygouzerh - thanks for your patience! The information in this document has been updated to reflect the current experience. I believe your concerns are all addressed, so I will close this Github issue now, but please let us know if you have further questions or concerns. Thanks again for taking the time to share your feedback with us and help improve our docs!
#please-close

[2022-11-07 18:52] #98154 closed

[2022-11-07 18:55] perttulaurila commented on #85021
The best solution would that the claims_supported would list claims that _are_ configured to a given application.

However this would require that the .well-known/openid-configuration would be different for each application, and not generic to the tenant the way it is now.

If this is not possible, then listing all claims that _could be_ configured would be an acceptable solution, and in line with

[2022-11-07 18:58] JnHs commented on #97178
Hi @alkdese - I apologize for the long time to respond. I appreciate your taking the time to share your feedback. We are reviewing this topic to make it as helpful as possible and will take this suggestion into account. I have created a work item to track this specific suggestion. I'll close this issue now since we are tracking this separately but again, thank you for the helpful suggestion that I

[2022-11-07 18:58] #97178 closed

[2022-11-07 18:59] JnHs commented on #97026
Hello again @starbuckscoffee and @mrecek - thanks for your patience! The information in this document has been updated to reflect the current experience. I believe your concerns are all addressed, so I will close this Github issue now, but please let us know if you have further questions or suggestions. Thanks again for taking the time to share your feedback with us and help improve our docs!
#ple

[2022-11-07 18:59] #97026 closed

[2022-11-07 19:00] JnHs commented on #96807
Hello again @dmakovec-astralas - thanks for your patience! The information in this document has been updated to reflect the current experience. I believe your concerns are all addressed, so I will close this Github issue now, but please let us know if you have further questions or problems with the content. Thanks again for taking the time to share your feedback with us and help improve our docs!

[2022-11-07 19:00] #96807 closed

[2022-11-07 19:01] JnHs commented on #71071
Hello again @polarapfel, as we haven't heard back I will close this issue now. If this is still a concern based on the current document/experience, please let me know here or open a new issue. Thank you!
#please-close

[2022-11-07 19:01] #71071 closed

[2022-11-07 19:01] seesharprun commented on #100653
@vaclavk, Thanks for reaching out!

We agree and will do a couple of steps to help resolve this confusion:

- Today, we are going to publish an update to the TOC to specify that the first article (that appears in multiple APIs) is to **Use managed identities with Azure services**. The second article (that only appears in NoSQL) will **Use managed identities to access data**.
- The second article w

[2022-11-07 19:05] seesharprun commented on #100686
@taiyokato, thanks for reaching out.

We are publishing a change shortly to fix this.

[2022-11-07 19:07] himachida opened #101111 "Azure Storage encryption for object replication"
Could you clarify object replication is supported for Microsoft-managed keys as well?

Example

Original
Object replication is supported for accounts that are encrypted with customer-managed keys. For more information about customer-managed keys, see [Customer-managed keys for Azure Storage encryption](https://learn.microsoft.com/en-us/azure/storage/common/customer-managed-keys-overview).

Modifie

[2022-11-07 19:17] #100686 closed

[2022-11-07 19:22] seesharprun commented on #99484
@sijucm, I agree that we shouldn't overload the term **dead-letter queue** since that, in my opinion, has more to do with a failed delivery rather than a failed processing attempt.

An update is coming to this article later today to fix this. Thanks for the feedback!

[2022-11-07 19:23] darkoa-msft commented on #100059
@jimmart-dev
Any updates here?

[2022-11-07 19:29] seesharprun commented on #99606
@redashimself, thanks for the feedback.

At this point, we have a note in the docs indicating that the feature is not supported as of today. Today, container copy is an offline job where you start the operation and wait for it to be completed. To support online copying would require a change to the way that works that is not on the roadmap just yet.

If this functionality that you'd like to see no

[2022-11-07 19:29] #99606 closed

[2022-11-07 19:35] #100653 closed

[2022-11-07 19:36] stewartadam opened #101113 "Include category IDs along with category code"
The documentation appears to be incorrect - these category codes are *returned* by the API, not used when doing a category search.

Category searches require the category ID which is not listed on this page. To make matters more confusing, the category tree at https://atlas.microsoft.com/search/poi/category/tree only returns the human readable name, not the category code (as returned by the APIs)

[2022-11-07 19:42] tongyuze commented on #100891
@msmimart
Any update with this? I just want to confirm this quickly and enable the tests on our side.

[2022-11-07 19:48] #99484 closed

[2022-11-07 19:58] msmbaldwin commented on #76706
Hi, @LucianFrango.

This baseline (and the corresponding Windows baseline) was written to the first version of the Azure Security Benchmark; we recently released the new Microsoft Cloud Security Benchmark and will be updating all baselines to the new format. When we do so, we will ensure that the Linux baseline includes Linux recommendation and policies only (and vice versa for Windows).

Thank yo

[2022-11-07 19:58] #76706 closed

[2022-11-07 20:00] JAK-Insight opened #101115 "When defining DCR for syslog collection using AMA I am unable to select Account or Namespace."
![syslog_dcr](https://user-images.githubusercontent.com/85760659/200403288-e1ab04b5-92dc-47b9-bf13-be1f54c8265a.jpg)

I have a workspace defined for Sentinel, and another one for random QA resources, and neither are showing up in the popup and the search will yield no results.

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We us

[2022-11-07 20:04] #101115 closed

[2022-11-07 20:04] msmbaldwin commented on #76940
Hi, @mossywell.  These sample scripts are deprecated, and we will be retiring them.  Thank you for your feedback, however--we appreciate it. #please-close

[2022-11-07 20:04] JAK-Insight commented on #101115
I missed the part about creating the DCR in the same region.

[2022-11-07 20:04] #76940 closed

[2022-11-07 20:06] jonburchel commented on #95916
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-11-07 20:06] #95916 closed

[2022-11-07 20:07] #95846 closed

[2022-11-07 20:09] jonburchel commented on #96068
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: [Azure Data Factory Q&A](htt

[2022-11-07 20:09] #96068 closed

[2022-11-07 20:11] msmbaldwin commented on #79624
Hi, @cjasset. This article has been completely revised, and the table no longer contains any reference to "Host Base Encryption" (or "HBE").  Thank you for your feedback--we appreciate it# #please-close

[2022-11-07 20:11] #79624 closed

[2022-11-07 20:12] msmbaldwin commented on #79943
#please-close

[2022-11-07 20:12] #79943 closed

[2022-11-07 20:14] msmbaldwin commented on #82669
Hi, @mvaferreira. These sample scripts are deprecated and will soon be removed. Thank you for your feedback, however--we appreciate it! #please-close

[2022-11-07 20:14] #82669 closed

[2022-11-07 20:19] seesharprun commented on #100624
Hello @felicialobillovilela, you are absolutely correct.

A fix for this is being published later today.

[2022-11-07 20:20] duongau commented on #101069
@youkhi Thank you for bringing this to our attention. The blog post the link previously was pointing to no longer exist. I have pointed the article to the Plan and Manage cost article for Azure Storage.

[2022-11-07 20:20] duongau commented on #101069
#please-close

[2022-11-07 20:24] msmbaldwin commented on #90218
Hi, @davidslight.  We recently rolled out a new introduction (for the Microsoft Cloud Security Benchmark). In doing so, we now only claim to define two terms in the table: "control" and "baseline". Earleir in the intro we define "Benchmark" as "a collection of high-impact security recommendations you can use to help secure your cloud services in a single or multi-cloud environment.".  Thank you fo

[2022-11-07 20:24] #90218 closed

[2022-11-07 20:28] #100624 closed

[2022-11-07 20:33] #90659 closed

[2022-11-07 20:35] msmbaldwin commented on #94117
Hello, @gauravaggarwall.We recently rolled out the successor to the Azure Security Benchmark: the Microsoft Cloud Security Benchmark. We will be upgrading all baselines to the MCSB--including Sentinel--and will take your feedback into account when doing so. Thank you! #please-close

[2022-11-07 20:35] #94117 closed

[2022-11-07 20:37] msmbaldwin commented on #81265
Hello, @mdrakiburrahman. The Azure Storage baseline was recently upgraded to the Microsoft Cloud Security Benchmark -- the successor to the ASB.  You can find it at https://learn.microsoft.com/en-us/security/benchmark/azure/baselines/storage-security-baseline. Thank you! #please-close

[2022-11-07 20:37] #81265 closed

[2022-11-07 20:39] msmbaldwin commented on #84078
Hello, @titans2016. The Azure App Services baseline was recently upgraded to the new Microsoft Cloud Security benchmark--the successor to the ASB.  You can find it at https://learn.microsoft.com/en-us/security/benchmark/azure/baselines/app-service-security-baseline.

Thank you for your feedback--we appreciate it! #please-close

[2022-11-07 20:39] #84078 closed

[2022-11-07 20:41] JimacoMS4 commented on #100899
@AshokPeddakotla-MSFT @sgkim99 The sample has actually been relocated and renamed. I think you need to use this sample: https://github.com/Azure/azure-iot-sdk-csharp/tree/main/iothub/device/samples/how%20to%20guides/HubRoutingSample. I'll update the documentation accordingly.

[2022-11-07 20:42] msmbaldwin commented on #80714
Hello, @XristophD. The Linux VM table has been updated, and now includes images up to RHEL 8.4.  Thank you for your feedback--we appreciate it! #please-close

[2022-11-07 20:42] #80714 closed

[2022-11-07 20:42] #100489 closed

[2022-11-07 20:45] blacklabnz commented on #100963
hi @whhender
I am using two tables to join together and form another table, if you look through my previous code sample. I would expect a lineage relationship to be present like the following at least:
[code]
hope this makes helps and let me know if further explanation is needed. cheers

[2022-11-07 20:47] msmbaldwin commented on #91519
Hello, @pnarsi. This baseline was written to the first version of the Azure Security Benchmark. There have since been two more version of the ASB, and now we have rolled out its successor: the Microsoft Cloud Security Benchmark. A new version of the Azure Databricks baseline in under development and will be released soon.  We will take your feedback into account as we finalize it. Thank you! #plea

[2022-11-07 20:47] #91519 closed

[2022-11-07 20:52] cynthn commented on #101068
@DavidBerg-MSFT Do we have ACU numbers for dasv5 and dadsv5 yet?

[2022-11-07 20:59] bandersmsft commented on #100349
@carredau Hi there. Sorry for the delay. I was out of the office. I've updated the article to help readers find their Commerce ID. Here's the minor update that I added to the article:

If you don't know your Commerce Account ID, it's the GUID ID shown on the Properties page for your billing account. To view your Commerce Account ID in the Azure portal, navigate to **Cost Management** > select a bi

[2022-11-07 20:59] #100349 closed

[2022-11-07 21:00] dorukkatic commented on #89047
Thank you very much for the info. I've made it work. For the people who are using the Premium tier application id must be "205478c0-bd83-4e1b-a9d6-db63a3e1e1c8" and DisplayName is "Microsoft.AzureFrontDoor-Cdn"

[2022-11-07 21:01] Jordanndahl commented on #80467
Hi @jarinirv I agree with Curtis, I don't believe you are looking for a document change or update. However, have you explored using the deviceOwnership attribute?

[2022-11-07 21:04] #80467 closed

[2022-11-07 21:12] jonburchel commented on #96298
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-11-07 21:12] #96298 closed

[2022-11-07 21:12] #88039 closed

[2022-11-07 21:16] #96433 closed

[2022-11-07 21:31] jonburchel commented on #96643
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-11-07 21:31] #96643 closed

[2022-11-07 21:35] asubmani commented on #99672
any update on this? This is related to https://github.com/Azure/AKS/issues/3173

[2022-11-07 21:46] ethanjscannell opened #101118 ""Build Image in Azure" fails - package.json: file does not exist"
Wanted to try out Azure Container Apps and decided to follow this tutorial from Microsoft docs. Process fails at this step:
https://learn.microsoft.com/en-us/azure/container-apps/deploy-visual-studio-code#create-the-container-registry-and-docker-image

`Step 4/10 : COPY ["package.json", "package-lock.json*", "npm-shrinkwrap.json*", "./"]
COPY failed: file not found in build context or excluded by

[2022-11-07 21:47] himachida opened #101119 "Japanese translation for Online access tiers"
Could you modify the Japanese translation below please?

This sounds like "Data in the cool tier is not easy to use".
クール アクセス層は少しデータを利用しにくくなりますが、

Original
クール アクセス層は少しデータを利用しにくくなりますが、持続性、データ取得待機時間、スループットはホット アクセス層と同様の高水準です。 クール アクセス層は、ホット アクセス層と比べて少しデータが利用しにくく、アクセス コストが高いですが、状況によってはストレージに関わる総合的なコストが安くなるので、トレードオフとしてそれを許容できる場合もあります。

Modified
クール アクセス層のデータは可用性が若干低いですが、持続性、データ取得待機時間、スループットはホット アクセス

[2022-11-07 21:56] msmbaldwin commented on #83720
Hello, @EmiFlo.  We recently upgraded the Azure Cognitive Search baseline to the newest version of our benchmark: The Microsoft Cloud Security Benchmark.  The Data Protection section is at https://learn.microsoft.com/en-us/security/benchmark/azure/baselines/azure-cognitive-search-security-baseline#data-protection, and mentions that the "service supports data in-transit encryption for data plane".

[2022-11-07 21:56] #83720 closed

[2022-11-07 22:00] RyanHill-MSFT commented on #100967
Hi @AaronMaxwell, https://github.com/MicrosoftDocs/azure-docs-pr/commit/7db0a57460a3f0349d8534f42b662680d68b80ba shows the doc was updated to a repo containing a yaml file. The doc shows a [screen shot](https://learn.microsoft.com/en-us/azure/azure-monitor/app/media/tutorial-asp-net-core/naming-suffix.png) of azure cafe however, the sample appears to be more related to one of these [quickstarts](h

[2022-11-07 22:10] msangapu-msft commented on #86855
Updated docs to reflect this scenario is unsupported.

#please-close

[2022-11-07 22:10] #86855 closed

[2022-11-07 22:22] #96771 closed

[2022-11-07 22:37] JohnPoetzinger opened #101120 "Hub to Hub secure Vwan hub traffic"
Please include the caveate that secure hub to secure hub traffic does not pass through the firewalls. This page has a diagram that is misleading in support for that traffic path. While this is clear in our main page, this page which includes routing details and diagrams leads the customer to believe this is possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn

[2022-11-07 22:53] idcha0s opened #101121 "Why is Function key required if System Managed identity is specified for function access?"
Documentation and the UI seems to enforce the specification of a function API key, either directly or as part of a vault. Yet, the configuration seems to indicate that Synapse is capable of calling the Function with the managed identity. If we're capable of using MI to call the function, why is it required to specify an API key?

How do you configure Synapse to only use MI and not rely on stored s

[2022-11-07 22:58] askpatrickw opened #101122 "Correction: AD Application Secrets only good for 24 Months"
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/marketplace/partner-center-portal/commercial-marketplace-lead-management-instructions-dynamics.md

That is no longer true. Even in Custom, you can only go out 2 years.

![image](https://user-images.githubusercontent.com/4002194/200433096-2643cc46-b2ef-4825-b3db-3e49c4f6f38a.png)

---
#### Document Details

⚠ *Do not edit this section.

[2022-11-07 23:01] askpatrickw opened #101123 "Cannot add new user to Dynamics 365 as documented"
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/marketplace/partner-center-portal/commercial-marketplace-lead-management-instructions-dynamics.md#azure-active-directory

Step `19. Select New to create a new user.`

The UI no longer looks like that...

![image](https://user-images.githubusercontent.com/4002194/200433568-13949ac7-1fcc-4b9f-9e37-69d10ad6db5d.png)

And when you click Ad

[2022-11-07 23:15] askpatrickw opened #101124 ""Office" 365 User steps are out of date"
https://learn.microsoft.com/en-us/azure/marketplace/partner-center-portal/commercial-marketplace-lead-management-instructions-dynamics#office-365

1. Isn't this Microsoft 365 now?
2. The steps refer to Dynamics 365 for Customer Engagement which was [deprecated in 2019](https://learn.microsoft.com/en-us/dynamics365/marketing/ce-deprecation)

What is the minimum license required?

---
#### Document

[2022-11-07 23:30] JimacoMS4 commented on #100899
Hi @sgkim99 -- thanks for letting us know about this. The update has been published in step 2 here: https://learn.microsoft.com/en-us/azure/iot-hub/tutorial-routing?tabs=portal#register-a-device-and-send-messages-to-iot-hub. Please let us know if you have any more questions.

Thanks again,

Jimaco

[2022-11-07 23:37] ChaitanyaNaykodi-MSFT commented on #101120
@JohnPoetzinger,
Thank you for the feedback. Can you please point out the scenario and diagram you are referring to above? it will us pinpointing the issue. Thanks.

[2022-11-07 23:46] marion-msft opened #101125 "Include Sweden Central to the statistics?"
Could the table also include Sweden Central region?

It seems that the following table linked in the documentation page
:::image type="content" source="media/azure-network-latency/azure-network-latency-thmb-july-2022.png" alt-text="Chart of the inter-region latency statistics as of June 30, 2022." lightbox="media/azure-network-latency/azure-network-latency-july-2022.png":::

Does not include Swede

[2022-11-08 00:38] shohei1029 commented on #100819
We're updating this.
https://github.com/Azure/azureml-examples/pull/1856
@tomasvanpottelbergh love to hear your feedback!

[2022-11-08 01:29] aryamo commented on #100849
@SaibabaBalapur-MSFT @RamanathanChinnappan-MSFT
Thanks your feedback. this doc with CLI, I can find it by myself, but this doesn't answer my question. I would like to know if the number of the VM will be increased out of sequence. for example I have 3 nodes aks-nodepool1-12969942-0, aks-nodepool1-12969942-1,aks-nodepool1-12969942-2. when I scale down it to 2, will it delete aks-nodepool1-12969942-

[2022-11-08 01:30] Herman5006 opened #101127 "typo for "rage" in "in the rage 200 through 399 as Healthy", should be "range""
[typo for "rage" in "in the rage 200 through 399 as Healthy", should be "range"]
https://learn.microsoft.com/en-us/azure/application-gateway/application-gateway-backend-health-troubleshooting#http-status-code-mismatch

HTTP status code mismatch
Message: Status code of the backend's HTTP response did not match the probe setting. Expected:{HTTPStatusCode0} Received:{HTTPStatusCode1}.

Cause: After t

[2022-11-08 01:43] mike-urnun-msft commented on #101118
Thank you for your feedback! We will review and update as appropriate.

[2022-11-08 02:59] AshokPeddakotla-MSFT commented on #101113
@stewartadam Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-11-08 03:04] AshokPeddakotla-MSFT commented on #100899
@JimacoMS4 Thanks for fixing it.
@sgkim99 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-11-08 03:04] #100899 closed

[2022-11-08 03:14] shashankkr opened #101128 "AD Authentication Issues when the container app is private and exposed via app gateway"
Hello,
Please provide steps to add AD Authentiction if the container app environment is private and exposed through an app gateway.
I followed the steps and getting 502 Bad Gateway response.
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 798d327a-88db-783c-1177-fd4e63841abc
* Version Independent ID: bd3b5f0

[2022-11-08 03:48] Naveenommi-MSFT commented on #101102
@brsteel

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 03:51] Naveenommi-MSFT commented on #101103
@cdMSFT

Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 03:53] SaibabaBalapur-MSFT commented on #101105
@guverduz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 03:56] SaibabaBalapur-MSFT commented on #101107
@himachida
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 03:58] SaibabaBalapur-MSFT commented on #101109
@moravindMSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 04:06] SaibabaBalapur-MSFT commented on #101111
@himachida
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 04:07] SaibabaBalapur-MSFT commented on #101119
@himachida
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 04:09] SaibabaBalapur-MSFT commented on #101121
@idcha0s
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 04:11] KapilAnanth-MSFT commented on #101125
@marion-msft , Thanks for the feedback.

I shall assign this thread to the author @mbender-ms to review this and update the docs as required.

[2022-11-08 04:12] kongou-ae opened #101129 "Need to add a single domain not using wildcard"
Hi,

If Azure Portal requires not only a wildcard domain but also a single domain not using wildcard, we need to add a single domain in this URL list to resolve ambiguity.

Some proxies and firewall runs with the rule that portal.azure.com doesn't include in *.portal.azure.com. So customer can't access Azure Portal when customer configures their proxy or firewall by using the URL of this doc. Beca

[2022-11-08 04:13] SaibabaBalapur-MSFT commented on #101122
@askpatrickw
Thanks for your feedback! We will investigate and update as appropriate.

Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team

[2022-11-08 04:19] SaibabaBalapur-MSFT commented on #101124
@askpatrickw
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 04:21] yuriwoof commented on #101029
Thank you @RamanathanChinnappan-MSFT  @SaibabaBalapur-MSFT for taking a look!
I'd be happy to hear any update.

[2022-11-08 04:22] sktsjvs15 commented on #48662
Hi @samspade21 I'm sorry I couldn't reply earlier. That script worked, absolute charm. Thanks a lot :) I am trying to schedule it to receive the report in an email. Thanks again.

[2022-11-08 04:24] SaibabaBalapur-MSFT commented on #101128
@shashankkr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 04:25] KapilAnanth-MSFT commented on #101127
@Herman5006 , Thanks for bringing this to our notice.
I have updated the spelling and it should reflect shortly.

[2022-11-08 04:28] SaibabaBalapur-MSFT commented on #101129
@kongou-ae
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 04:29] #101127 closed

[2022-11-08 04:36] KapilAnanth-MSFT commented on #101054
@AndreyRa,

As there are no discussions going on, I shall close this thread.
Please reopen the thread should you require more information

[2022-11-08 04:36] #101054 closed

[2022-11-08 04:37] #100973 closed

[2022-11-08 04:50] Taqveemammag commented on #13433
is every 90 secs possible in cron jobs?

[2022-11-08 04:56] YashikaTyagi-MSFT commented on #100916
@lightupdifire
To get more clarity regarding this you can have one on one guidance on Azure Pricing.
You can directly contact the Sales team to get more insights about guest users pricing details.
https://azure.microsoft.com/en-us/pricing/contact/#contact-sales

[2022-11-08 05:04] MughundhanRaveendran-MSFT commented on #100874
Closing this issue. Feel free to reopen if required.

[2022-11-08 05:04] #100874 closed

[2022-11-08 05:13] MughundhanRaveendran-MSFT commented on #101077
@TycEkart , Thanks for reporting this change. I have made changes and it will be published soon!

[2022-11-08 05:43] YashikaTyagi-MSFT commented on #101016
@KarlErickson
Thanks for your feedback! We have assigned the issue to author who will provide further updates.

[2022-11-08 05:48] jpnaidu07 commented on #90317
Hi Team,

Any update or ETA for this?

Thanks

[2022-11-08 05:52] SaibabaBalapur-MSFT commented on #101029
@yuriwoof
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-08 05:52] SaibabaBalapur-MSFT commented on #101029
@EricRadzikowskiMSFT
Can you please check and add your comments on this doc update request as applicable.

[2022-11-08 05:56] iamramengirl commented on #100971
Hi, thanks for your comment @Naveenommi-MSFT, I have reviewed the documentation and also have been granted access to use Face API features Identify, Verify as I have previously applied for them. However, with regards to the application form, the Snapshot API is not in one of the available features/use cases options. I have tested it again today and I am still getting the UnsupportedFeature excepti

[2022-11-08 05:59] SaibabaBalapur-MSFT commented on #101119
@himachida
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-08 06:00] SaibabaBalapur-MSFT commented on #101119
@normesta
Can you please check and add your comments on this doc update request as applicable.

[2022-11-08 06:07] #101002 closed

[2022-11-08 06:11] ManoharLakkoju-MSFT commented on #101038
@adi-garg
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@jimmart-dev
Can you please check and add your comments on this doc update request as applicable.

[2022-11-08 06:15] ozcanli commented on #101087
@timwarner-msft  MacOs Catalina (10.15.7)

[2022-11-08 06:21] ManoharLakkoju-MSFT commented on #101061
@LinVince
Could you please elaborate the query for better understanding. So, we can assist you further.

[2022-11-08 06:22] AnuragSingh-MSFT commented on #100218
@jjindrich, I wanted to update that it might take a while for the support plan for new distros to be updated. Once we have this finalized, [the supported OS list here](https://learn.microsoft.com/en-us/azure/virtual-machines/automatic-vm-guest-patching#supported-os-images) would be updated with the same.

I'm closing this GH issue, as there is nothing pending on the documentation side based on the

[2022-11-08 06:22] #100218 closed

[2022-11-08 06:39] Naveenommi-MSFT commented on #100971
Hi @PatrickFarley
Could you please review this and update as appropriate.

[2022-11-08 06:41] Naveenommi-MSFT commented on #100971
Hello @iamramengirl
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-08 06:41] jsoconno commented on #100560
It seems like this could be a newly introduced bug in Synapse.  I don't see many results for this in search and anything that I do find is super recent (as of October 2022).  I think this is something that would be super valuable to have addressed, even if this is the wrong forum.

Similarly, I have a service principal that has owner and contributor over my subscription and did the Synapse deploym

[2022-11-08 07:01] #100958 closed

[2022-11-08 07:03] Naveenommi-MSFT commented on #101103
Hi @cdMSFT

Please look at this below screenshot for your reference.
PR got Merged into public.

<img width="688" alt="image" src="https://user-images.githubusercontent.com/113576472/200496511-244d0559-fc39-4b1d-a142-45aab81365b2.png">

[2022-11-08 07:03] Naveenommi-MSFT commented on #101103
#please-close

[2022-11-08 07:04] #101103 closed

[2022-11-08 07:07] Naveenommi-MSFT commented on #100987
@roelofvsr
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-08 07:13] lightupdifire commented on #100916
@YashikaTyagi-MSFT
Why then many other products explained in the Microsoft documentation and why this one cannot be? ;)

[2022-11-08 07:17] KrishnaG-MSFT commented on #100595
Tagging @bandersmsft for visibility, help review and document enhancement consideration as appropriate.

[2022-11-08 07:20] KrishnaG-MSFT commented on #100748
Tagging @SnehaSudhirG for visibility, help review, provide insights and update the document as appropriate.

[2022-11-08 07:26] delsehi opened #101131 "Unclear documentation on how to upload a file to an Azure File Share"
I'm having trouble finding a way to upload files to Azure File Share. I want to programmatically manage a standard logic app and need to create connections.json and workflow directories from .NET. I've managed to do this with PowerShell. I could do it with the Azure SDK for .NET but only if I create a file first with the file size specified, but I don't know the size of the file in advance. There'

[2022-11-08 07:27] wellsluo opened #101132 "Premium SSD v2 is showing "Preview""
Premium SSD v2 is already announced as GA.  However, on this page, it is still shown as Preview (in a screen shot).  In addition, create P v2 disk in Portal doesn't need to create VM.  Does it need to be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6399195a-9386-586f-c75f-9ae9b5c33bc7
* Version Independent

[2022-11-08 07:28] AjayBathini-MSFT commented on #101011
Hi @JLambEJG

The Desktop Virtualization User Session Operator role allows users to send messages, disconnect sessions, and use the "logoff" function to sign sessions out of the session host. However, this role doesn't let users perform session host management like removing session host, changing drain mode, and so on. This role can see assignments but can't modify admins. We recommend you assign

[2022-11-08 07:29] phwecker opened #101133 "missing description of dynamic segment for static web app"
the FQDN for static web app (static site) has a dynamic segment (partitionId)

privatelink.{partitionId}.azurestaticapps.net

the doc page is missing a description of the possible values of this (like there is for "region")

<br class="Apple-interchange-newline">

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182

[2022-11-08 07:30] AjayBathini-MSFT commented on #101040
@adi-garg
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2022-11-08 07:30] Knapsack44 opened #101134 "Missing \ in Codeblock"
In section _Create an AKS cluster with user-assigned identities_ theres an missing `\` in the code block (6th line) behind `$PUBLIC_IP$`
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c6436a35-94b9-6396-3b13-9291f0a17b21
* Content: [Restrict egress

[2022-11-08 07:32] #100918 closed

[2022-11-08 07:33] YashikaTyagi-MSFT commented on #100916
@lightupdifire
I do understand your concern that it will be easier if explained in Microsoft documentation. I am assigning this issue to author who will provide further details regarding the query.
@Justinha  Kindly take a look at this.

[2022-11-08 07:33] RamanathanChinnappan-MSFT commented on #100948
#sign-off

[2022-11-08 07:33] #100948 closed

[2022-11-08 07:36] duongau commented on #95688
This was discussed internally, therefore closing this issue. #please-close

[2022-11-08 07:36] #95688 closed

[2022-11-08 07:37] AjayBathini-MSFT commented on #101075
@ThomasPe
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-11-08 07:41] AjayBathini-MSFT commented on #101081
Hi @thefonz3h

Enterprise Agreement
For VMs that are deployed in standard Enterprise Agreement subscriptions, the outbound SMTP connections on TCP port 25 will not be blocked. However, there is no guarantee that external domains will accept the incoming emails from the VMs. If your emails are rejected or filtered by the external domains, you should contact the email service providers of the extern

[2022-11-08 07:44] RamanathanChinnappan-MSFT commented on #101006
@cavemandaveman

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-08 07:44] RamanathanChinnappan-MSFT commented on #101006
@mssaperla

could you please review this and update as appropriate.

[2022-11-08 07:45] KrishnaG-MSFT commented on #100952
@gwynforthewyn It worked for some other location in Azure Cloud.
<img width="794" alt="image" src="https://user-images.githubusercontent.com/45988031/200501094-28b685f6-7ff5-40d2-b3c9-f079c41b166b.png">
<img width="800" alt="image" src="https://user-images.githubusercontent.com/45988031/200501227-c9c19e54-e169-490a-9aa5-6195a1a25f54.png">

Tagging content owner @bwren for visibility, review, help

[2022-11-08 07:50] mardahl commented on #81934
A year later....
Documentation is still talking about Apache and using .htaccess - and it don't work.
I am having a hard time selling this to developers, who honestly just get super confused with the documentation. And for good reasons.

Could you please update the DOCS?

[2022-11-08 08:44] Montago commented on #35594
@A9G-Data-Droid

This wont fix anything when GetAccountsAsync ALWAYS return empty list .. which invokes the AcquireTokenInteractive Which require a person to login.

[2022-11-08 08:59] VikasPullagura-MSFT commented on #101134
@Knapsack44
Thanks for the feedback! We will check and update the document as appropriate.

[2022-11-08 09:04] erjosito commented on #101120
Good point @JohnPoetzinger let me add that caveat

[2022-11-08 09:07] srrrrrrrrrr opened #101135 "Permission statement is a bit misleading"
Under "Deploy template spec" section, the document mentions 'users with read access to the template spec can deploy it'. This may mislead user to think that if they have Reader role, they can successfully deploy the template.
But it's not. They need to have the resource write permission to be able to actually deploy the template.

I understand the document is trying to clarify that user don't need

[2022-11-08 09:13] erjosito commented on #101120
PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/217535

[2022-11-08 09:21] a-alwu commented on #96931
Hi all, I encountered the same problem and the sample code only worked after I added parameter: [] to deployment.yaml

[2022-11-08 09:43] filipbekic01 commented on #39361
Still broken by default.

[2022-11-08 09:50] matsest commented on #93952
This is causing some confusion here as well.

1) Can `n` be 1,2,... up to what? in `privatelink.{n}.azurestaticapps.net`?
     - This would help to know which private dns zones to create

2) Does anybody know if there is a policy that can account for this variance over PE's that's linked to staticSites (groupId: staticSites, privateLinkServiceId contains Microsoft.web/staticSites)?
    - If I am t

[2022-11-08 09:54] Vallirani commented on #95986
@MayankBargali-MSFT : I am trying to connect to IBM MQ from Logic Apps standard using MQ connector. I could establish a connection with no SSL. When I try to enable SSL connection, I get SSL handshake failed error. I have uploaded the certificate (.pfx) in TLS/SSL settings.

[2022-11-08 09:55] SadiqhAhmed-MSFT commented on #100879
@RyanHill-MSFT For assistance!

[2022-11-08 09:56] SadiqhAhmed-MSFT commented on #100910
@patilsameer11 We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-11-08 09:56] #100910 closed

[2022-11-08 09:59] SnehaAgrawal-MSFT commented on #100848
@Yangsh-w We will now close this out but if you feel you need more information please just let us know.

[2022-11-08 10:00] #100848 closed

[2022-11-08 10:29] ManoharLakkoju-MSFT commented on #101111
@himachida
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-11-08 10:30] ManoharLakkoju-MSFT commented on #101111
@normesta
Can you please check and add your comments on this doc update request as applicable.

[2022-11-08 10:36] #101034 closed

[2022-11-08 10:36] GitaraniSharma-MSFT commented on #101133
@phwecker , thank you for your feedback. We have assigned this to the content owner/author for review.

@asudbring , could you please add a description of the possible values of partitionId segment in the static webapp FQDN?

[2022-11-08 10:47] AjayBathini-MSFT commented on #101088
Hi @stutommi

Kindly go through below steps maybe useful for TLS certificate used by AKS's Ingress from Azure Key Vault.

As I couldn't find a way to integrate the Ingress with the Azure Key Vault, I've implemented a workaround with GitHub Actions to retrieve the certificate and add it to the AKS. Because most of them are bash commands, the workaround isn't exclusive to GitHub Actions.

name: Assi

[2022-11-08 11:29] RamanathanChinnappan-MSFT commented on #101064
@Jessieliu111

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-11-08 11:29] cburdea opened #101138 "Twin object not declared for GetRelationships method"
In the snipped used for listing Relationships, there is a twin object which is not declared.

var res = await client.GetRelationshipAsync<BasicRelationship>(twinId, relId);
BasicRelationship rel = res.Value;
Console.WriteLine($"Relationship Name: {rel.Name}");
foreach (string prop in rel.Properties.Keys)
{
    if (**twin**.Contents.TryGetValue(prop, out object value))
    {
        Console.WriteLi

[2022-11-08 11:29] RamanathanChinnappan-MSFT commented on #101064
@dem108

could you please review this and update as appropriate.

[2022-11-08 12:25] thefonz3h commented on #101081
Hi Ajay, thank you for the response.

I'm comfortable with the limitations regarding standard EA Subscriptions
and the process to remove the block from Enterprise Dev/Test subscriptions,
but my query is specifically regarding CSP subscriptions (
https://azure.microsoft.com/en-gb/offers/ms-azr-0145p/)

These are not directly referenced in the article which would infer that
they belong under the hea

[2022-11-08 12:33] csmulligan commented on #100378
@JFImagery , thanks for reaching out. I've moved this issue to an internal work item for tracking. I'll go ahead and close this issue, but changes to the article are in the works. Thanks again!

#please-close

[2022-11-08 12:33] #100378 closed

[2022-11-08 12:41] iisworks opened #101139 "Is reverting tables from Archive to Interactive also possible?"
I was wondering if it is possible to change back data in log tables from "Archive" to "Interactive" as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4d99071a-e459-5bfe-f2c3-f9b444b8eea0
* Version Independent ID: 3008acf4-41f6-e5dc-8212-a73386b11b85
* Content: [Configure data retention and archive in Azure Monit

[2022-11-08 13:14] olegd-superoffice opened #101140 "Compiled JSON templates are not included in the published folder"
I'm testing example provided for `NoTargets SDK` and after running `dotnet build` compiled JSON template is indeed appears in the output directory, but after running `dotnet publish` resulting directory is empty.

I'm using version 0.12.40 of Azure.Bicep.* NuGet packages.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-11-08 13:14] dknappettmsft commented on #100969
This is now available.

#please-close

[2022-11-08 13:15] SaibabaBalapur-MSFT commented on #101134
@Knapsack44
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-11-08 13:20] dknappettmsft commented on #100785
Hi @Digiroka - there is an issue with the links currently. The link in the article doesn't change with each release, it's the file that the link points to that does. The issue lies with that process and will be resolved soon.  There's no action required to update the article as it's not an issue with the documentation, so I'll close this. For any further help, please contact Microsoft support.

#p

[2022-11-08 13:20] #100785 closed

[2022-11-08 13:21] #99919 closed

[2022-11-08 13:28] dknappettmsft commented on #101011
Hi @JLambEJG - thanks for the feedback. You will need to log this as a support case as the permissions listed in the article match the permission listed in Azure, so there's nothing I can do from the documentation side.  Here's the permission in Azure for reference:

![image](https://user-images.githubusercontent.com/49432665/200576920-44e6f178-c31c-484a-b233-787b0b67432b.png)

#please-close

[2022-11-08 13:28] #101011 closed

[2022-11-08 14:02] dknappettmsft commented on #100942
Hi @CRuD117 - no, this is correct. the 'Program Files (x86)' folder is only available on 64-bit versions of Windows in order to differentiate between programs that are 64-bit vs 32-bit. 64-bit programs go to 'Program Files', 32-bit programs go to 'Program Files (x86)'. 'Program Files (x86)' doesn't exist on a 32-bit version of Windows. This has been the case since the first 64-bit versions of Wind

[2022-11-08 14:02] #100942 closed

[2022-11-08 14:05] bmansheim commented on #101105
#reasssign: @ElazarK

[2022-11-08 14:15] larsmaes-sogeti commented on #41654
This sentence suggests that there is a possibility that subscriptions that are assigned to another management group can actually belong to another tenant. Maybe clarify by using "management group hierarchy" instead of "single management group"

[2022-11-08 14:20] bmansheim commented on #101109
@moravindMSFT Thanks to you I updated the page. Good work! Watch for the update later today.

#please-close

[2022-11-08 14:20] #101109 closed

[2022-11-08 14:41] gsuttonctg commented on #36222
Can confirm @daeho-ro issue, which is even more serioius. When querying the Azure API for information on a specific resource, after some time the case of the resource group in the azure_resource_group_id will change. I have seen just a few letters change, or the whole resource group id change to upper case. This is a huge problem as we leverage automation and store this data in our database to kee

[2022-11-08 14:43] gwynforthewyn commented on #100952
Thanks for the follow-up, Krishna! 🙏

bwren - working in govcloud, I encounter some docs that have govcloud exceptions listed and some that do not. It’d be wonderful if you’d be up for adding a note on this page that the feature isn’t available yet in govcloud, but that does create the maintenance task that this page will need an update in future when the fasture is made available.

 I’m not sure

[2022-11-08 14:50] baanders commented on #101138
Hi @cburdea, thank you for the feedback. I am updating the example accordingly.

The code snippet in question is an excerpt that was missing its method signature, in which a `BasicDigitalTwin` called `twin` was passed into this snippet of code. I have updated the source document to include the signature in the snippet, and I'll report back here when the change has propagated into the live site.

#

[2022-11-08 14:54] yodobrin commented on #100418
@Naveenommi-MSFT - would you agree for me to change the doc and add a note to the section and ensure the reader understands that for now this feature is not applicable for Synpase?

[2022-11-08 14:57] #101077 closed

[2022-11-08 15:21] snakex2000 opened #101143 "Unreal support for ASA FAQ needs clarity"
We have this in FAQ regarding Unreal with ASA:

===================================================================
https://learn.microsoft.com/en-us/azure/spatial-anchors/spatial-anchor-faq#does-it-work-with-unreal-

"Support for Unreal will be considered in the future."

But we have guides saying how to use/enable in Unreal Engine.  However, this is a Beta still apparently from Unreal:
   ![imag

[2022-11-08 15:33] davidsmatlak commented on #101140
#assign:davidsmatlak

[2022-11-08 15:36] VitalyMCT opened #101145 "Typo?"
"instance" is repeated twice

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4dde3c64-37b1-ae3c-6173-fb072f440133
* Version Independent ID: cf430c7d-6d5c-d665-4942-88106840f3e8
* Content: [Prerequisites for Azure Database Migration Service](https://learn.microsoft.com/en-us/azure/dms/pre-reqs)
* Content Source: [articl

[2022-11-08 15:38] kabharati commented on #100012
This is a typo and you're right this should be 63 characters. AAD team is correcting the docs.

[2022-11-08 15:38] kabharati commented on #100012
#please-close

[2022-11-08 15:38] #100012 closed

[2022-11-08 15:49] AshokPeddakotla-MSFT commented on #101143
@snakex2000 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-11-08 15:51] AJMcKane commented on #90225
We've had another occurrence of our retry options not working.  Does anyone know of the recommended work-around here?

[2022-11-08 15:52] healthfirstbeforemoney-group opened #101147 "HEALTH DISCUSSIONS"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 39980d7c-2702-a924-6412-a0ec40d719c8
* Version Independent ID: 613452e8-c5b8-37e7-a8b6-2f5284f208c8
* Content: [Create an App Service Environment - Azure App Service Environment](https://learn.microsoft.com/en-us/azure/app-service/environment/creatio

[2022-11-08 15:55] SaibabaBalapur-MSFT commented on #101131
@delsehi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 15:56] SaibabaBalapur-MSFT commented on #101132
@wellsluo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-11-08 15:56] v-edmckillop commented on #79241
Hello John, Ownership of this article transferred to another team. See metadata screenshot below.
![image](https://user-images.githubusercontent.com/97471929/200613374-0fac2289-00db-4579-9ce0-1c0084bd61b5.png)