[2018-07-06 15:57] YutongTie-MSFT commented on #11312
@devenderA17010 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 15:57] YutongTie-MSFT commented on #11322
@LanderVe Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 15:59] grayjeremy opened #11331 "Missing Powershell dependancies"
AzureRM.Tags is no longer a default powershell cmdlet in new automation accounts.  It must be enabled from automation account - modules - add module.  (Note it requires AzureRM.Profile as a dependancy).  If this is not done the runbooks will fail with the error

[code]

You can reference https://docs.microsoft.com/en-us/azure/automation/automation-update-azure-modules for detailed instructions on

[2018-07-06 16:00] heatherbshapiro commented on #9436
@j-martens, this was fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/43924

[2018-07-06 16:01] emthomas commented on #7735
You should resolve the conflicts by doing the following:

1. Pull master locally
2. Checkout your other branch locally.
3. Merge master into your new branch
4. Commit and push your new branch

Basically you need your branch to have all the changes from master. You
clearing master (not sure exactly what you mean) might actually cause more
conflicts

Hope that helps

On Fri, Jul 6, 2018 at 7:26 AM m

[2018-07-06 16:03] YutongTie-MSFT commented on #11306
@clementlrms Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 16:05] iainfoulds commented on #11268
Hi, @janlund67. I've reached out to the engineering team on this, but I suspect it's more the behavior in  how kubectl stores authentication tokens than specific to the AAD integration. Other authentication modes would likely experience the same behavior until the tokens expire. That said, we could still work to improve that overall experience.

Please do file a UserVoice suggest to help prioritiz

[2018-07-06 16:06] YutongTie-MSFT commented on #11299
@wokket Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@barclayn Hi, this is a document suggestion, can you please check it and update the document as necessary? Thanks a lot!

[2018-07-06 16:06] ecfan commented on #11298
@ToMakeSense: Thanks for finding this bug, Kevin! I've created a work item to fix this issue.
@YutongTie-MSFT: Could you please change the label to "logic-apps/svc"? This content isn't "api-management/svc". Thanks!

[2018-07-06 16:07] #11268 closed

[2018-07-06 16:07] YutongTie-MSFT commented on #11298
@ecfan Sorry for wrong tagging, I have fixed it. Thanks for remind.

[2018-07-06 16:09] #11282 closed

[2018-07-06 16:11] apercova commented on #11275
I've added the user I log in with to Remote Desktop Users group but I get same error.
Are there specific user requirements to install Azure Functions Runtime on-premise in a server that belongs to a domain?

[2018-07-06 16:11] YutongTie-MSFT commented on #10805
@NeighborGeek
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 16:11] #10805 closed

[2018-07-06 16:11] YutongTie-MSFT commented on #9844
@pjtrombe
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 16:11] #9844 closed

[2018-07-06 16:11] iainfoulds commented on #11267
Hi, @dazinator. Sorry you ran into issues. Yes, the commands for the SSH tunnel are specific to *nix systems. We have some docs engineering updates in the works that would make it easier to provide examples for Windows as well, but the primary audience is on Mac/Linux, so the docs are currently aligned with that.

As an aside, is there a particular need for Docker CE on ACS? Docker themselves prov

[2018-07-06 16:12] YutongTie-MSFT commented on #8930
@gullfo
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 16:12] #8930 closed

[2018-07-06 16:12] YutongTie-MSFT commented on #8131
@revodavid
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 16:12] #8131 closed

[2018-07-06 16:13] j-martens commented on #9436
@ctapus - please close this issue if you are satisfied with the fix.

[2018-07-06 16:13] YutongTie-MSFT commented on #11266
@freeborn99
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 16:13] #11266 closed

[2018-07-06 16:14] YutongTie-MSFT commented on #11210
@sennendoko We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 16:14] #11210 closed

[2018-07-06 16:14] #11267 closed

[2018-07-06 16:14] TomShinder opened #11332 "MSFT email address included in doc"
Is it a policy to include hard coded email addresses in content? Thanks! -Tom

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb5097c-fc6e-f0a5-07a6-a84e05aa0bb6
* Version Independent ID: 1004e6b8-344f-6fdc-391a-35c540f4bf9d
* Content: [Virtual Network service endpoints and rules for Azure SQL Database](https://docs.mi

[2018-07-06 16:14] YutongTie-MSFT commented on #10990
@SMNDaVe We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 16:14] #10990 closed

[2018-07-06 16:17] mhabegger commented on #11060
Thanks @MicahMcKittrick-MSFT and @lachie83 for the clarification.
I've created a suggestion on UserVoice :

https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/34764004-custom-domain-names-or-zones-with-http-application

[2018-07-06 16:17] apercova commented on #11175
@apwestgarth, @MicahMcKittrick-MSFT thanks for your help.
I don't have any additional questions regarding this.

[2018-07-06 16:19] MicahMcKittrick-MSFT commented on #5694
@dtissen if you want to forward to a specific port inside a VM back is behind a load balancer than you can absolutely do that. However if you are looking to forward traffic to another VM that is not behind the load balancer then that would not be supported. You would have to setup a VM to forward that IP traffic along.

As long as the VM you are looking to have traffic directed to is associated wi

[2018-07-06 16:19] #5694 closed

[2018-07-06 16:20] MicahMcKittrick-MSFT commented on #11144
@hshokry I will close this for now. But if you feel you need more info just let me know and we can reopen and continue.

[2018-07-06 16:22] MicahMcKittrick-MSFT commented on #11216
Thanks @cynthn!

@Philippe-Morin I will close this for now. If you feel you need more information just let us know and we can reopen and continue.

[2018-07-06 16:29] kobulloc-MSFT commented on #11317
@HowardvanRooijen Thank you for pointing this out!  We'll look into this and get back to you shortly.

[2018-07-06 16:39] seahorsevn commented on #11281
Thank you for your response. Could you give me the example code for using token or update your example for C#? There is no detail mentions about that. In my Azure page, there is only "Keys" section that contains 2 generated keys that I created 2 days ago, I didn't see any word like "subscription keys". Are they real subscription keys?

[2018-07-06 16:40] vasivara-MSFT commented on #11230
@syedhamjath Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-06 16:43] timjroberts-inty commented on #10960
Thanks @lisaguthrie. I'm not using Visual Studio, but instead VSCode and CLI on a Mac. I don't remember seeing or issuing the `az aks use-dev-spaces ...` command though, so that is likely it. I've stood down my test cluster at the moment, but I'll give it all another go sometime next week.

[2018-07-06 16:45] jeevansd commented on #10098
@garrathleeds We will retest this and will let you know again. @chetansriv Can you please configure this app again in Azure AD and retest the application?

[2018-07-06 16:46] jeevansd commented on #10098
@marcvi Thanks for the note now we will reconfigure this and test it out.

[2018-07-06 16:48] douglaslMS commented on #11325
@jeffhebrank Yes, you provide whatever parameters your stored procedure requires. Can you let us know what you found misleading, or what made you question whether this was the case? We'd like to  make the page easier to understand, if possible.

@linda33wj

[2018-07-06 16:49] petrroll commented on #11285
I know, I completely forgot that I'm using the preview version when I filed the bug. Sorry about that.

[2018-07-06 16:50] Philippe-Morin commented on #11216
No. This describes how to deploy a VM using an unmanaged image (VHD).

I’m taking about exactly what you linked, but for a managed image created using this procedure:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/capture-image-resource

But then the next step “Use generalized image” only talks about the New-AzureRmVm cmdlet using simplified parameters which is super limited.

I’

[2018-07-06 16:51] gperrego opened #11333 "Looks like the note on the top needs a link for >6.2 events."
Looks like the note on the top needs a link for &gt;6.2 events.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 396b832d-c637-2501-9abb-491d12d0c995
* Version Independent ID: da994736-81a2-561b-daf1-3aaceb3e308c
* Content: [Azure Service Fabric Event List](https://docs.microsoft.com/en-us/azure/service-fabric/service-fa

[2018-07-06 16:52] jeffhebrank commented on #11325
Lets say my dynamic stored procedure is either going to be sprocA or sprocB.  aprocA takes 1 parameter, while sprocB takes 2 parameters. I don't see a way to accomplish this via the data factory UI. The number of parameters and the names of the parameters to not appear to be dynamic.

[2018-07-06 16:56] douglaslMS commented on #11325
@jeffhebrank OK, excuse me if I missed your point on first reading. I get it now, and I'll have to ask someone who's more of a subject matter expert. I suspect that this is indeed not possible in the UI, but it may be possible in another way.

[2018-07-06 16:57] marcvi commented on #10098
Hi,

Thanks you ver much, as I said, and hope it helps, we has been using the
App for like 8 months With 0 issues útil de 20th of June, more or less.

Appeciate your effort.

Cheers,

El dv., 6 jul. 2018 18.46, Jeevan Desarda <notifications@github.com> va
escriure:

[2018-07-06 16:57] MicahMcKittrick-MSFT commented on #11275
Not that I am aware of....

@apwestgarth are you aware of any special requirements for VMs joined to a domain?

[2018-07-06 16:58] lachie83 commented on #11060
@mhabegger Thank you very much for the feedback and valuable insight.

[2018-07-06 17:01] jeevansd commented on #10098
@marcvi I will also check internally that have we changed something or this is regression.

[2018-07-06 17:07] MicahMcKittrick-MSFT commented on #11285
No worries :) The walkthrough could use some updating. Assigning to content author to review and update.

@KumudD can you take a look?

[2018-07-06 17:08] MohitGargMSFT commented on #11318
@escape208 Thanks for reporting! We will investigate and update as appropriate.

[2018-07-06 17:09] MohitGargMSFT commented on #11320
@Aardvark8 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-06 17:09] MohitGargMSFT commented on #11324
@spottedmahn Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-06 17:10] MohitGargMSFT commented on #11308
@csmurthy Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-06 17:10] hshokry commented on #11144
I don’t think this should be closed until a doc is issued.

On Fri 6 Jul 2018 at 17:20, Micah <notifications@github.com> wrote:

--
Hesham

[2018-07-06 17:10] MicahMcKittrick-MSFT commented on #11302
@raiye can you take a look to confirm and update as needed?

[2018-07-06 17:11] MohitGargMSFT commented on #11314
@rikgarner Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-06 17:11] MohitGargMSFT commented on #11326
@Lhdang88 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-06 17:12] MohitGargMSFT commented on #11332
@TomShinder Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-06 17:13] MicahMcKittrick-MSFT commented on #11310
@DCtheGeek can you take a look and help to make the doc more clear?

[2018-07-06 17:14] MicahMcKittrick-MSFT commented on #11319
@jonbeck7 can you take a look and help to make the table more clear?

[2018-07-06 17:17] MicahMcKittrick-MSFT commented on #11321
@jpconnock can you help on this one? I am unable to assign to @sbtron directly.

[2018-07-06 17:19] JackQuincy commented on #11265
We are aware and have taken a fix. To get the fix applied to your cluster you'll need to upgrade your cluster(az aks upgrade) so that we update your AKS control plane. If you are on the latest k8s version scaling the cluster might work due to a bug we have elsewhere.

[2018-07-06 17:19] MicahMcKittrick-MSFT commented on #11216
Got it.

@cynthn how would you like to proceed with this one?

[2018-07-06 17:21] MicahMcKittrick-MSFT commented on #11144
@tysonn can you get this to the correct team for the doc idea?

[2018-07-06 17:22] arsenvlad opened #11334 "Example template has resourceName parameter that is not used in the resources array"
Below is the same example but having default values for the location and user assigned identity name and outputting the JSON object representation of the created user assigned identity resource:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5fbecf3-c97e-726d-4027-cecbe4c4fea0
* Version Independent ID: 879f269

[2018-07-06 17:30] arsenvlad opened #11335 "Section "Disable a system assigned identity from an Azure VM" does not provide enough information"
In the "Disable a system assigned identity from an Azure VM" section of the document it shows 2 steps. The 2nd step is the important one: "Change the identity type to UserAssigned.". However, the doc does not explain "HOW TO" make the change to the identity type. It appears the doc is missing some steps between 1 and 2 such as describing using resources.azure.com or something similar to find the V

[2018-07-06 17:30] Philippe-Morin commented on #11216
fyi, this is the MS blog where I finally found the answer to what I'm suggesting. See the "Syntax Difference: Managed vs. Non-Managed" section.

https://blogs.msdn.microsoft.com/igorpag/2017/03/14/azure-managed-disks-deep-dive-lessons-learned-and-benefits/

[2018-07-06 17:30] YutongTie-MSFT commented on #11281
@seahorsevn Please go to https://azure.microsoft.com/en-us/try/cognitive-services/my-apis/ and to check if there is a active key in 'Speech Service'?

[2018-07-06 17:31] CarlRabeler commented on #10025
MI can be a subscriber - updated topic @chadgr
#please-close

[2018-07-06 17:33] carmonmills commented on #10469
@MGoedtel This issue is an AppFabric add-on that is not working in Log Analytics.  Would you check when you return from vacation.

Thanks

[2018-07-06 17:36] syedhamjath commented on #11230
Thank you !

On Fri, Jul 6, 2018, 6:40 PM VairavanS-MSFT <notifications@github.com>
wrote:

[2018-07-06 17:40] raiye commented on #11302
Thanks for the catch! It has been updated and will be reflected publicly this afternoon.

[2018-07-06 17:42] iainfoulds commented on #11022
Hi, @pdeva. Are you still encountering issues, can you share what errors are displayed when you try to deploy this solution?

[2018-07-06 17:43] mmacy commented on #9642
Hi @JetPac33, as the minimum is variable and customers are notified of the minimum required for the cluster, we'll leave this up to notification by the portal. I'll now request this issue be closed, but if you have any further questions, please don't hesitate to request a re-open on this issue.

@MicahMcKittrick-MSFT  #please-close thanks

[2018-07-06 17:45] mmacy commented on #10256
Hi @buzzfrog, the article has been updated and the change is now live. Thanks again for the catch.

![image](https://user-images.githubusercontent.com/13394541/42393010-b68e10e0-8109-11e8-9dce-c41f2711b6a3.png)

@MicahMcKittrick-MSFT #please-close thanks

[2018-07-06 17:46] cynthn commented on #11216
@Philippe-Morin I guess I'm still kind of confused about what you are trying to do and how. I think your initial concern was about unmanaged disks using marketplace platform images: "...for people that were deploying using unmanaged VHD, there doesn't seem to be any documentation anywhere that mentions to use the Set-AzureRmVmSourceImage".

I think what you are asking for now is creating a VM usin

[2018-07-06 17:48] arsenvlad opened #11336 "If MSI Extension is Option and IMDS now provides access to token, why is MSI Extension still needed?"
Is it possible to clarify in which cases MSI Extension is still needed if Instance Metadata Service now provides the OAuth token without the extension?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124a182c-d062-ae23-26c1-42acdbb05f81
* Version Independent ID: ed24bfbc-d1df-fdac-4677-95755ed918dc
* Content: [How to co

[2018-07-06 17:51] #10256 closed

[2018-07-06 17:59] femsulu commented on #9487
@porky9 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 17:59] #9487 closed

[2018-07-06 18:01] YutongTie-MSFT commented on #8127
@SalmanUlla Hi, free subscription only allow Up to 20 transactions per minute and 30,000 transactions free per month, this issue should be result from the exceeding. Please refer to https://github.com/Microsoft/Cognitive-Face-Windows/issues/29

Thanks.

[2018-07-06 18:01] ganesr commented on #11226
@cherylmc can you please fix this. I am out of office. Thanks!

[2018-07-06 18:02] markgalioto commented on #11259
@hjlarrea  We appreciate you catching the missing characters. I've updated the example, and it will publish later today.

[2018-07-06 18:02] markgalioto commented on #11259
#please-close

[2018-07-06 18:07] jrichview opened #11337 "Next Steps"
I would have expected a link to a page explaining how to download everything I just did into a Visual Studio project for further development.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af2152a5-8ed9-4006-6a86-3a59af0dab6b
* Version Independent ID: b2662f47-bc0e-c83d-38f2-cd9c880ea293
* Content: [Create a function i

[2018-07-06 18:10] SaurabhSharma-MSFT commented on #11214
@stevep4 No, it won't work for Win 7 and the conditional access policy setting only applies to Windows 10 Hybid Ad joined devices.

[2018-07-06 18:11] YutongTie-MSFT commented on #11301
@AlexanderTodorovic Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@noellelacharite Hi, this should be a doc-bug around ' response.read ()', can you please check it and update the document as necessary? Thanks a lot!

[2018-07-06 18:12] Philippe-Morin commented on #11216
I'm sorry, I was indeed not very clear.. doing too many things at once. Let me make it hopefully clearer! Sorry for the much longer post...

For the example in https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/set-azurermvmosdisk?view=azurermps-6.4.0, I meant #2 (Sets properties on a virtual machine from generalized user image) and not #3. Sorry!

Also, now that I read my original

[2018-07-06 18:12] jrichview opened #11338 "Time to Update"
V2 is no longer in preview. How about an update? I just created my first function via the portal and was unable to download the VS project. Now I go into the VS project to try to create one from there and the documentation is obsolete.  Frustrating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835

[2018-07-06 18:13] cynthn commented on #11321
@danielsollondon Daniel, who owns the diagnostic extension doc these days? Should this be reassigned to you? Thanks!

[2018-07-06 18:17] YutongTie-MSFT commented on #11303
@polarapfel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jaswel Hi, 'API reference' is a broken link, can you please check it and update the document as necessary? Thanks a lot!

[2018-07-06 18:17] BryanTrach-MSFT commented on #11316
@riedwaab Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-06 18:18] SaurabhSharma-MSFT commented on #11091
@finchl I see that my VM has Visual C++ 2017 Redistributable(x64) Package installed and thus I believe it worked at my end.  I have assigned this issue to content author to investigate and update the document as appropriate.

@MicrosoftGuyJFlo Can you please check and update the document if Visual C++ 2017 Redistributable package (or any previous version) is required for the installation.

[2018-07-06 18:23] brokenjpl opened #11340 "Missing character in "Tag names can't contain these characters""
The colon ":" character is also not a valid character. It is missing for the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc003943-8bc8-10ac-e633-5640cff3c397
* Version Independent ID: f8826361-f601-acf9-3e3d-c96579c02093
* Content: [Tag Azure resources for logical organization](https://docs.microsoft.com/en-us

[2018-07-06 18:28] cynthn commented on #11142
@ccrowhurstram thanks for the feedback! I updated the doc to warn folks that they need to expand the volume from within the OS and put in steps for how to do that using DiskPart (because I think it is the tool that will work in most configurations). I'll close this for now, please re-open if you want to add anything. Thanks!
#please-close

[2018-07-06 18:30] MohitGargMSFT commented on #11231
@macslui We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-06 18:30] #11231 closed

[2018-07-06 18:31] MohitGargMSFT commented on #11245
@ph-poppe We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-06 18:31] #11245 closed

[2018-07-06 18:32] MicrosoftGuyJFlo commented on #11318
@escape208 would you like to propose an edit to the doc?
Since our docs are hosted here you as a community member can make edits like these and as the writer of this doc I can approve them.
If you just want me to make them as part of a normal update that's fine too.

I just wanted to give you the opportunity to edit.

If you'd like to edit yourself just click edit on the top right of the doc then

[2018-07-06 18:32] cynthn commented on #10149
@singhkays Kay, do you still work on this doc?

[2018-07-06 18:34] cynthn commented on #9585
@TomArcher are there any plans for a Chef topic using Resource Manager?

[2018-07-06 18:38] femsulu commented on #11331
@grayjeremy Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-06 18:39] Philippe-Morin commented on #11216
On a side note, I just noticed that when using the Set-AzureRmVMSourceImage, you don't actually need to use the Set-AzureRmVmOsDisk or Add-AzureRmVMDataDisk, they will automatically get added even though the disk names are going to be random... so maybe only the page https://docs.microsoft.com/en-us/azure/virtual-machines/windows/create-vm-generalized-managed should get the example.

[2018-07-06 18:39] femsulu commented on #11315
@jtuliani Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-07-06 18:40] tfitzmac commented on #11340
@brokenjpl - How were you trying to set the name when you got an error? I ran tests for Azure CLI and the portal using : in the name, and both tests worked.

[2018-07-06 18:43] escape208 commented on #11318
@MicrosoftGuyJFlo Forgot I can do that - done!

[2018-07-06 18:44] brokenjpl commented on #11340
![untitled](https://user-images.githubusercontent.com/17048935/42395193-fb9b0d20-812a-11e8-930c-f722ffdf5346.png)

For some reason, I able to use ":" when using the Java SDK as well. But then I get an error when using the Azure Portal Web interface. Attached with error message.

[2018-07-06 18:45] #11148 closed

[2018-07-06 18:45] mdomsch opened #11342 "Translations?"
Should the text "Sign in with Microsoft" be translated into the user's chosen language? Is Microsoft providing these translations if so?/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 142962d7-66c3-9372-3e3e-c621cba4d881
* Version Independent ID: 748f0246-0a13-e7ed-46dd-be219f19343b
* Content: [Branding guidelines for

[2018-07-06 18:45] #11142 closed

[2018-07-06 18:46] cynthn commented on #11216
Cool! Yep, the https://docs.microsoft.com/en-us/azure/virtual-machines/windows/create-vm-generalized-managed topic used to have the full syntax before the simplified parameter set was released. I think I can just pull that version out of the Git history and add it to the doc as the "using a config" or "using the extended parameters" section of the doc.

It will take me a little while before I can

[2018-07-06 18:46] #11216 closed

[2018-07-06 18:47] tfitzmac commented on #11340
What type of resource are you trying to apply the tag to? I wonder if a particular resource type is being too restrictive in the validation.

[2018-07-06 18:47] MicahMcKittrick-MSFT commented on #11333
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 18:48] MicahMcKittrick-MSFT commented on #11337
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 18:48] MicahMcKittrick-MSFT commented on #11338
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-06 18:51] Philippe-Morin commented on #11216
No sounds good, thanks for the great follow up! And sorry for the early confusion! :)

[2018-07-06 18:52] brokenjpl commented on #11340
I've tried both on VirtualMachines and ResourceGroups.

[2018-07-06 18:53] brokenjpl commented on #11340
Maybe this is a bug in the Azure Portal UI?

[2018-07-06 18:55] markgalioto commented on #9784
@SychevIgor , The art in backup-azure-delete-vault article has been updated, and is in sync with the Azure portal. Thank you for the reminder that it was outdated.

[2018-07-06 18:55] markgalioto commented on #9784
#please-close

[2018-07-06 19:02] senj opened #11343 "ApplicationManifest isn't helpful"
ApplicationManifest documentation isn't very helpful.
What is "MetricB"?
I found out that LoadMetrics is within ServiceTypes-&gt;StatelessServiceType, but where is ServiceScalingPolicies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e07cf860-f9d3-201b-72a2-6ba7756b649c
* Version Independent ID: dee19b7e-cfe8-a4db-d29

[2018-07-06 19:17] rayne-wiselman commented on #9028
#please-close

[2018-07-06 19:18] rayne-wiselman commented on #11038
Thanks. This is fixed. @femsulu #please-close

[2018-07-06 19:18] rayne-wiselman commented on #11277
Good to hear. Feedback always welcome :-) #please-close

[2018-07-06 19:21] femsulu commented on #7820
@ambakshi  Sincere apologies for the delayed response and thanks again for your valuable feedback. Good news is that we have an established channel that allows you to share feedback on feature or service improvements **directly** with the engineering teams responsible for building these features. Please copy/paste your feedback [HERE](https://feedback.azure.com/forums/281804-azure-resource-manager

[2018-07-06 19:21] #7820 closed

[2018-07-06 19:21] TomArcher commented on #9585
@alexandair @cynthn Sorry about the late reply. I returned this week from being out for a while for bereavement leave. Chef is a new addition to our DevOps OSS story, so the near-term documentation plan is being defined. I've emailed the product group, and will reply here when I know more.

[2018-07-06 19:21] MohitGargMSFT commented on #11308
@csmurthy I am assigning this issue to content author to add data type to each property. This will also help clarify around data type for query_hash_s property.

[2018-07-06 19:28] wesmc7777 commented on #10571
#please-close

[2018-07-06 19:35] brokenjpl commented on #11340
Thanks for your help.

I've opened a thread here:  https://social.msdn.microsoft.com/Forums/azure/en-US/4d556a76-d1f6-49cd-b334-8bd5ace16abe/azure-portal-bug-in-tagging-resources?forum=azureapimgmt#4d556a76-d1f6-49cd-b334-8bd5ace16abe

[2018-07-06 19:41] MohitGargMSFT commented on #11314
@rikgarner Please note that the instructions seems to be correct. When you go to Azure Portal, search for sql databases, select SQL Databases, the list of all SQL Databases will come, as you select the required database it goes to Overview of that SQL Database and by default you will see DTU Percentage metrics.

![s1](https://user-images.githubusercontent.com/32749549/42397202-d08c04c4-8119-11e8-8

[2018-07-06 19:42] MohitGargMSFT commented on #11318
@escape208 @MicrosoftGuyJFlo Thanks.

[2018-07-06 19:45] MohitGargMSFT commented on #11320
@Aardvark8 Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-06 19:54] MicahMcKittrick-MSFT commented on #11343
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 19:56] danieljsmarda opened #11345 "No EdgeHubTrigger-Csharp Folder"
Hi, I was following the ["Deploy Azure Functions as IoT Edge modules - preview" tutorial](https://docs.microsoft.com/en-sg/azure/iot-edge/tutorial-deploy-function).  I completed the tutorial but the module does not seem to be running correctly. The edge device I am using is a Raspberry Pi 3B running Raspbian Stretch.

In Step 6 of the "Create a function project" section, there was no folder called

[2018-07-06 19:59] MohitGargMSFT commented on #11324
@spottedmahn I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-06 20:04] senj commented on #11343
Great thanks

[2018-07-06 20:15] MohitGargMSFT commented on #11326
@Lhdang88 Thanks for reporting! I also do not see the option in my test environment. I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-06 20:15] Srinath-Sadda commented on #10796
@lzieba91 What's your stamp version? How many nodes you have?

[2018-07-06 20:16] kobulloc-MSFT commented on #11082
@joymon I want to make sure I understand your question as well as your end goal correctly.  It sounds like you are seeing that exception related entries are missing if the app crashes and your goal is to preserve exception entries in the case of a crash?

[2018-07-06 20:17] MohitGargMSFT commented on #11332
@TomShinder Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-07-06 20:19] MicahMcKittrick-MSFT commented on #11330
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 20:19] femsulu commented on #8188
@kgopi1 if you are currently blocked and need steps connecting to windows host using ansible, I recommend checking out [this reference](https://www.ansible.com/blog/connecting-to-a-windows-host). You may also find some help from related posts on [Stack Overflow](https://stackoverflow.com/questions/45696024/how-to-connect-to-windows-node-using-openssh-and-ansible).

[2018-07-06 20:21] LisandroSu commented on #5286
Hello @vhorne has this been resolved?

[2018-07-06 20:21] femsulu commented on #8188
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 20:21] #8188 closed

[2018-07-06 20:22] MicahMcKittrick-MSFT commented on #11343
As per what is MetricB it is just the name of the metric you setting up the autoscale policy for. This could be CPU, Memory, etc. MetricB was just used as an example. I believe in this example it is actually a custom metric:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-resource-manager-metrics#custom-metrics

ServiceScalingProperties should be under the application

[2018-07-06 20:30] DCtheGeek commented on #11310
@MicahMcKittrick-MSFT Yup!  Working with the PG on this issue.

@jtuliani Thanks for the feedback!  We are working to ensure all scenarios for the various schema's work appropriately and will update the document with the full information once that is completed.  I'll update and let you know as soon as I can.

[2018-07-06 20:32] jrichview commented on #11337
Yes I am. And I know this. However, I could not get it to work. Tried in IE and Edge both. First time the popup blocker had to be dismissed, which was not a big deal. But after telling popup blocker to always allow popups from that subdomain, clicking the button never did anything. Tried reloading page, etc.

[2018-07-06 20:40] senj commented on #11343
OK but where excactly in appManifest? Because on the root level it doesnt work.
E.g. Load Metrics is under <ServiceTypes><statelessservicetype>.

[2018-07-06 20:46] YutongTie-MSFT commented on #9028
@andrewatfornax We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 20:46] #9028 closed

[2018-07-06 20:46] YutongTie-MSFT commented on #10571
@rlerch  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 20:46] #10571 closed

[2018-07-06 20:47] YutongTie-MSFT commented on #10909
@sheeshmohsin We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 20:47] #10909 closed

[2018-07-06 20:47] YutongTie-MSFT commented on #11038
@RavSalgado We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 20:47] #11038 closed

[2018-07-06 20:47] YutongTie-MSFT commented on #11259
@hjlarrea We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 20:47] #11259 closed

[2018-07-06 20:48] YutongTie-MSFT commented on #11277
@shaunm001 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 20:48] #11277 closed

[2018-07-06 20:48] YutongTie-MSFT commented on #9642
@JetPac33 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 20:48] #9642 closed

[2018-07-06 20:48] YutongTie-MSFT commented on #9784
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 20:48] #9784 closed

[2018-07-06 20:49] lzieba91 commented on #10796
Hi, We have 12 nodes and we were trying to deploy AppService on 1805. We managed to resolve that issue. Looks like memory usage on WAS and WASP machines was very high. We resolved this problem by rebooting whole Azure Stack.

[2018-07-06 20:49] SnehaGunda commented on #10508
@YuqiWWW did you right click on the project and restore the required nuget packages? I suspect there might be an error with the graph endpoint URI, please note the URI is in the format, can you confirm if you are using the right URI?

hostname = **<Cosmos_Db_Account_Name>.gremlin.cosmosdb.azure.com** which is different from the URi shown in the portal (https://graphtest.documents.azure.com:443/)

[2018-07-06 20:51] wagesworld opened #11346 "Incorrect Permissions for Security Groups/Rules"
Under Permissions - Network Security Groups, the Actions specify Microsoft.Network/ruleTables but the provider operations should be Microsoft.Network/networkSecurityGroups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ea14a05-b98d-4cec-5f36-726f3c3d1da2
* Version Independent ID: 6852fef5-f9f1-5893-258a-5d04c82dfcc8

[2018-07-06 20:53] piquet-h opened #11347 "This won't work remotely"
If you want to access the dashboard remotely, you need to grant ClusterRole access permissions to the account system:serviceaccount:kube-system:kubernetes-dashboard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
* Version Independent ID: 42736112-f6db-d241-e89b-48fd2c35ceb7
* Conten

[2018-07-06 20:55] YuqiWWW commented on #10508
Thank you for the reply. I have installed the nuget package
![image](https://user-images.githubusercontent.com/25554256/42399780-070837ac-8124-11e8-8d90-41cd6e090b78.png)
and my hostname should be in the requested format:
string endpoint = "https://testforproj.documents.azure.com:443/";

But my project is still throwing exceptions.

[2018-07-06 20:57] YuqiWWW commented on #10508
Thank you for your reply. I have installed the package
![image](https://user-images.githubusercontent.com/25554256/42399898-6d415d32-8124-11e8-9479-02bab81288da.png)
and my hostname should be in the requested format
private static string hostname = "https://testforproj.gremlin.cosmosdb.azure.com:443/";

But the project is still throwing exceptions, is there anything wrong?

[2018-07-06 20:57] MicrosoftGuyJFlo commented on #11318
#please-close

[2018-07-06 20:58] kobulloc-MSFT commented on #11086
@vladvino In addition to the document comments above, I would recommend that we expand step 2 under "Create an Azure Active Directory application" to include that the reader should be looking for the App registrations tab under Active Directory (instead of something like API Management).  Something along the lines of the following would help clarify the step:

"Using the subscription that contains

[2018-07-06 20:58] YuqiWWW commented on #10508
![image](https://user-images.githubusercontent.com/25554256/42399981-aecd2dd0-8124-11e8-95d1-6e891f8b55a6.png)

[2018-07-06 20:59] apwestgarth commented on #10796
Hi @lzieba91 as this is an integrated system on which you are experiencing the issue, please open a support ticket, then CSS, the Azure App Service on Azure Stack team and the rest of the Azure Stack teams can support you.  This is not an issue with the documentation and is more an issue with your Azure Stack instance.

Thanks

Andrew

[2018-07-06 21:01] mmacy commented on #10302
@loket Good news--as of Azure CLI version 2.0.41, the `az container create` command supports specifying a Log Analytics workspace ID and key:

[code]

I'll be updating this article to reflect this functionality, and the API reference should be updated soon with the new arguments. For now, you can use `az container create --help` to view the arguments and example usage.

[2018-07-06 21:14] YutongTie-MSFT commented on #11312
#11078

[2018-07-06 21:19] kobulloc-MSFT commented on #11096
@vladvino I do agree that the document would benefit from some screenshots of step navigation and especially examples of expected results.

[2018-07-06 21:21] SnehaGunda commented on #10508
@YuqiWWW the host name should be (note the port number 443 isn't present at the end), can you try with this URI.

private static string hostname = "https://testforproj.gremlin.cosmosdb.azure.com";

[2018-07-06 21:29] #11318 closed

[2018-07-06 21:32] YuqiWWW commented on #10508
I just did that and the error is still here

[2018-07-06 21:37] btardif commented on #11251
@tkumark when you hover over the network feature in the menu of a linux/docker app there is an info bubble that pops out indicating that this feature is not enabled for this type of app service plan.

[2018-07-06 21:39] YuqiWWW commented on #10508
To be more specific, the error is System.Net.WebSockets.WebSocketException'; Additional information: Unable to connect to the remote server

[2018-07-06 21:39] grahambunce opened #11348 "No option to connect to Azure"
is this an additional feature (currently using Office 365 Excel 2016) but the option to get "From Azure" does not exist.

If there are pre-requisites then list those first.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4665519-c7fa-01ec-d2bf-ae324f13a76b
* Version Independent ID: 5222cca9-c8df-f2c4-72c8-a0ed29d97c54

[2018-07-06 21:49] YutongTie-MSFT commented on #10025
@chadgr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 21:49] #10025 closed

[2018-07-06 21:52] YutongTie-MSFT commented on #11311
@gadhiyanilesh54 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 22:01] YuqiWWW commented on #10508
Update: When I was trying Gremlin.Net 3.3.0, there is a build error
![image](https://user-images.githubusercontent.com/25554256/42402063-74ccb0e8-812d-11e8-90e1-a49b45760395.png)

[2018-07-06 22:01] FabianGCZ commented on #11125
Hi! I had the same error and I was really struggling with this until I found the correct syntax for this. Please update the information to avoid more people having the same issue. The recover cmdlet needs --resource-group parameter or -g to work properly.

[2018-07-06 22:13] jason-j-MSFT commented on #11225
@ericbrunner this repo is for documentation related issues and not general questions.  I think you pose an interesting question however, and you should ask it here:
https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=wavirtualmachinesvirtualnetwork

If you find a good answer, please share it back with us as a documentation enhancement request.

[2018-07-06 22:13] #11225 closed

[2018-07-06 22:14] areddish commented on #11309
@ksujanpaul We do have an android sample written in Java which you may find more useful:

https://github.com/Azure-Samples/cognitive-services-android-customvision-sample

[2018-07-06 22:14] jason-j-MSFT commented on #11227
@roygara could you take a look at this as a possible enhancement to the documentation?

[2018-07-06 22:15] Srinath-Sadda commented on #10796
@lzieba91 Glad to hear that issue has been resolved. Please leave your feedback at https://feedback.azure.com/forums/344565-azure-stack

If you are experiencing any further issues with your Azure Stack Integrated Systems, please open a support request as Andrew advised.

[2018-07-06 22:19] chsaylor opened #11349 "Clarification of GPv2 features"
When reading the first sentence about GPv2 under Storage Account Options at the top of the page, it can be a little misleading as the sentence reads "General-purpose v2 (GPv2) accounts are storage accounts that support all of the latest features for blobs, files, queues, and tables. GPv2 accounts support all APIs and features supported in GPv1 and Blob storage accounts." If the Azure administrator

[2018-07-06 22:19] SaurabhSharma-MSFT commented on #11116
@Mahesh-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-06 22:19] #11116 closed

[2018-07-06 22:23] jason-j-MSFT commented on #11232
@wesmc7777 should a blank web app be used instead of mvc?

[2018-07-06 22:29] SnehaGunda commented on #10339
@AlexanderTodorovic when you use Python 3.6, did you also update the Azure python SDK version?

[2018-07-06 22:33] jason-j-MSFT commented on #11249
@waheedhussain interesting question, although I don't think we will have an exact answer for you here.  You might try asking your question here:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata

If you find a good answer, please send us another issue and we will look into incorporating it into our documentation.

[2018-07-06 22:33] #11249 closed

[2018-07-06 22:36] YuqiWWW commented on #10508
Okay, Then is there any clues about the websocket issue? Really appreciate your help.

[2018-07-06 22:52] wesmc7777 commented on #11232
I believe this tutorial could be done with a blank web app but, there would be some minor differences in the steps when/if you proceed further to the authentication tutorial which is built on top of this tutorial.

[2018-07-06 23:01] jason-j-MSFT commented on #11327
@jeffhebrank
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 23:04] jason-j-MSFT commented on #11328
@ghogen we have an suggestion to add this troubleshooting tip to the document.

[2018-07-06 23:16] SheridanLGrant opened #11350 "Python Code Error"
To select columns in pandas, you don't use .x. So

X = data.ix[["char_freq_dollar", "word_freq_remove", "word_freq_hp"]]

should be

X = data[["char_freq_dollar", "word_freq_remove", "word_freq_hp"]]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b50cbe1-2295-0b76-2b09-15395b969151
* Version Independent ID: 2ba93dae-d

[2018-07-06 23:18] MicahMcKittrick-MSFT commented on #11347
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-06 23:20] MicahMcKittrick-MSFT commented on #11337
hmmm interesting.... I am seeing the same. I will check to see if there is a known issue.

[2018-07-06 23:28] MicahMcKittrick-MSFT commented on #11337
Can you open your browser and press F12? Then go to the networking tab. Try to download the app content again and share any errors you see.

Here is what I am seeing:

![image](https://user-images.githubusercontent.com/32313503/42403903-9f6c569e-8139-11e8-9da9-f32be14955de.png)

[2018-07-06 23:29] SheridanLGrant opened #11352 "/anaconda/bin/python2.7 doesn't have module azureml"
For the Python part of the tutorial...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b50cbe1-2295-0b76-2b09-15395b969151
* Version Independent ID: 2ba93dae-de6b-bc82-3f19-4ec3bfe7961b
* Content: [Data science with the Linux Data Science Virtual Machine on Azure](https://docs.microsoft.com/en-us/azure/machine-learning

[2018-07-06 23:40] jcbendernh opened #11353 "[ERR!] - Internal server error: Module runtime error"
After deploying this module I am receiving the following errors when running the following command...  sudo systemctl status iotedge
iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iotedge.service; enabled; vendor preset: enabled)
   Active: active (running) since Fri 2018-07-06 23:24:20 UTC; 10min ago
     Docs: man:iotedged(8)
 Main PID: 8295 (iotedged)
    Tasks:

[2018-07-06 23:54] MicahMcKittrick-MSFT commented on #11343
I don't believe these settings are enabled by default. Rather you need to build them into your code if you want to utilize the autoscaling feature.

@masnider @dkkapur would either of you be able to confirm?

[2018-07-06 23:55] SaurabhSharma-MSFT commented on #11219
@marcelvandendungen This is a good question !! As Per SCIM spec, the tokens should expire and when the value expires bearer token needs to be updated every time with the new token value.
The expiration date and any notifications of pending expiration are handled by the token provider.
There is also work in our product team backlog to try to support refresh tokens generically, for non-gallery apps.

[2018-07-06 23:55] YutongTie-MSFT commented on #11350
@SheridanLGrant Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 23:56] MicahMcKittrick-MSFT commented on #11222
I will close this out but if you feel you need more information please just let me know.

[2018-07-06 23:56] YutongTie-MSFT commented on #11352
@SheridanLGrant Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 23:58] YutongTie-MSFT commented on #11342
@mdomsch Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 23:58] MicahMcKittrick-MSFT commented on #11348
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 23:59] MicahMcKittrick-MSFT commented on #11346
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-06 23:59] YutongTie-MSFT commented on #11345
@danieljsmarda Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-06 23:59] MicahMcKittrick-MSFT commented on #11349
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-07 00:00] SaurabhSharma-MSFT commented on #11250
@centromere You can refer to this [Configuring a X.509 public cert for your application](https://blogs.msdn.microsoft.com/exchangedev/2015/01/21/building-daemon-or-service-apps-with-office-365-mail-calendar-and-contacts-apis-oauth2-client-credential-flow/) for creating base64 thumbprint certificate.

[2018-07-07 00:08] blackcrater opened #11354 "SMSMessage -> CreateMessageOptions"
Shouldn't the instances of "SMSMessage" throughout this page be "CreateMessageOptions" (at least for Functions 2.x)?  For example, in https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-twilio#2x-c-example, shouldn't the function declaration be:

    public static CreateMessageOptions Run(
    ...

If this is not correct, then what is the namespace for the SMSMessage class?

[2018-07-07 00:21] MicahMcKittrick-MSFT commented on #11353
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-07 00:29] amanarneja commented on #7226
@pekkaar Does the thread clarify whats supported? Is there anything else we can assist you with before closing this thread?

[2018-07-07 00:34] #8811 closed

[2018-07-07 00:49] centromere commented on #11250
@SaurabhSharma-MSFT Thanks! Could this article be enhanced by having a link to that page?

[2018-07-07 00:59] BryanTrach-MSFT commented on #11251
@tkumark We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

@btardif Thank you for your confirmation on this question.

[2018-07-07 00:59] #11251 closed

[2018-07-07 01:12] hipejoe commented on #8176
Any progress with this? We are experiencing the same isssue.

[2018-07-07 01:13] jrhoward commented on #11222
Sorry for late reply. I read that line and it was very specific ie pod to pod restrictions.
I was wondering if we could apply namespace network restrictions or is it more that Network Policies in general are not supported?

Thanks Jason

[2018-07-07 01:31] csmurthy commented on #11308
Thank you Mohit

Could please also get the content updated on how to use that column in query store to get more details.
If we are not able to see the relevant data in query store , it will not help get the complete picture in some scenarios

Regards
Murthy

From: Mohit Garg <notifications@github.com>
Sent: Saturday, July 7, 2018 12:52 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com

[2018-07-07 01:41] BryanTrach-MSFT commented on #11183
@sonumalik1990 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-07 01:41] #11183 closed

[2018-07-07 01:45] cheezzer opened #11355 "Feather Huzzah Alternatives"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6908b99a-b62b-0596-3dbe-c2fec0260b2b
* Version Independent ID: f34e44f2-3d3d-cbcd-d626-7c9b4115a0b1
* Content: [ESP8266 to cloud - Connect Feather HUZZAH ESP8266 to Azure IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-huzzah-e

[2018-07-07 01:46] cheezzer commented on #11355
Do you have to have the Feather Huzzah model? I have a generic NodeMcu/ESP8266mod that I'd like to use for connecting to my IoT Hub.

[2018-07-07 01:47] #11257 closed

[2018-07-07 01:48] BryanTrach-MSFT commented on #11257
@EricSten-MSFT We have gone ahead and made the requested change to the doc. The change should be reflected within 24 hours.

Thank you for the feedback and your desire to make our docs the best experience possible.

[2018-07-07 01:55] BryanTrach-MSFT commented on #11197
@manisko Thank you for the feedback. The author of the tool has requested that you send all feedback to logicappsemail@microsoft.com. They look forward to hearing from you.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-07 01:55] #11197 closed

[2018-07-07 03:00] KumudD commented on #11280
#In-progress

[2018-07-07 03:01] KumudD commented on #11285
#In-progress

[2018-07-07 10:54] dazinator commented on #11267
@iainfoulds

As it is for *nix only users please consider stating that near the top in the short term, there are those on windows looking to get started with ACS, and this is one of the first documents they find. All the steps work up until this one :-)

I can't see any obvious differences between acs dockerce, and the docker ce market place solution. Are there any? I would need to know these so I

[2018-07-07 12:55] erapade opened #11359 "On-Premises suppport"
Reading this article (maybe on a to high level for me) I don't understand if its possible to use this read-scale-out feature from an on-premises SQL DB to an Azure SQL DB. The application I'm thinking of is to set up an DB in azure that is optimized for Direct Query from Power BI to do real-time queries for a ticketing system

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-07-07 13:22] bogan opened #11360 "Git Remote URL Unclear"
The section 'Push to Azure' from Git refers to the "the URL of the Git remote that you saved from Create a web app (section).". However, the 'Create a web app section' says nothing about saving the URL of a Git remote. It is therefore totally unclear to me what value should be used to replace the placeholder text in the Git command to create a remote.

---
#### Document Details

⚠ *Do not edit thi

[2018-07-07 15:00] arc117 commented on #7407
Hi Mark...I am experimenting on same lines and getting similar error. Did you get past this RSA Signature Error 1019....
Thanks in adv.

[2018-07-07 15:29] YutongTie-MSFT commented on #11354
@blackcrater Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-07 15:30] YutongTie-MSFT commented on #11355
@cheezzer Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-07 15:32] YutongTie-MSFT commented on #11359
@erapade Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-07 16:50] SaurabhSharma-MSFT commented on #11177
@parsoFish We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-07 16:50] #11177 closed

[2018-07-07 17:10] lfrancfort opened #11362 "Error message while using this sample"
I'm logged on as an owner of both subscriptions (using an external account), and when I issue the new-azurermdisk command I get the following :

ErrorMessage: The client 'myname@mycompany.com' with object id 'XXXXXXX-62f4-4662-8e9e-f7212d561704' has permission to perform action 'Microsoft.Compute/disks/write' on scope
'/subscriptions/xxxxxxxxx-4c0a-4dda-88a6-c26896287ebc/resourceGroups/RG-NAME/pro

[2018-07-07 17:58] mike-urnun-msft commented on #11247
@mattchenderson got any insight to the way EasyAuth is configured for App Service on Linux ?

[2018-07-07 18:07] xsqian opened #11363 "Move from Kafka to Event Hub with no change to the client app?"
```Event Hubs for Apache Kafka ecosystems enables Apache Kafka (1.0 and above) clients and applications to talk to Event Hubs without having to manage any clusters.```. Does that mean if I have a Kafka client, it will be easy to move from Kafka to Event Hub with no change to the original Kafka client?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-07-07 18:19] mike-urnun-msft commented on #11075
Hi @AggieCMD EasyAuth is natively implemented as IIS module. When enabled, all of your traffic flows through this module before hitting your application. Take a look at this blog post:
[Architecture of Azure App Service Authentication / Authorization](https://cgillum.tech/2016/02/01/architecture-of-azure-app-service-authentication-authorization/)

We will now proceed to close this thread. If there

[2018-07-07 18:43] mike-urnun-msft commented on #11276
Hi @SP74 - Did you have a more specific question around a particular point in this documentation?

If you have more generic questions around design decisions and their respective pros/cons relative to their alternative products/solutions, it may be best to open a post on [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azuremobile) or [Stackoverflow](https://stackoverflow.com

[2018-07-07 18:44] Dmitry-Me commented on #11302
Fixed with https://github.com/MicrosoftDocs/azure-docs/commit/e028b92aecedaebdb9e2ba4830ed443bf066a1a8#diff-75c47ebad74a8e3663c44836b85a1363

[2018-07-07 19:00] kobulloc-MSFT commented on #11098
@eschneider999 I went through the tutorial again myself and can confirm that I was able to get a successful trace.

![image](https://user-images.githubusercontent.com/37556655/42413798-92bfea7a-81dc-11e8-8d0c-1af6f7454f9e.png)

Did you include Ocp-Apim-Subscription-Key?

![image](https://user-images.githubusercontent.com/37556655/42413825-6190bea6-81dd-11e8-9653-522919a1cc12.png)

[2018-07-07 20:44] SteveAndrews opened #11368 "C# SDK Steps"
PS and CLI are nice, but how do I create and manage security rules programmatically from C#?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19d97fb5-07da-0673-d42d-c3b17c7af247
* Version Independent ID: 92b526db-521c-e9bd-12b6-df63df29a67c
* Content: [Open ports to a VM using Azure PowerShell](https://docs.microsoft.com

[2018-07-07 22:38] djvibe opened #11369 "get top questions"
is it possible to see top questions asked in the knowledge base. Also seeing what questions failed to get an answer in the knowledge base would be useful. please advise. Great product thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82bd07c0-ce21-9630-4aea-c93190c227fa
* Version Independent ID: f1912f4f-df33-edf2

[2018-07-07 23:29] jason-j-MSFT commented on #11369
@djvibe
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-07 23:31] SaurabhSharma-MSFT commented on #11192
@Rain-Runner We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-07 23:31] #11192 closed

[2018-07-07 23:31] SaurabhSharma-MSFT commented on #11214
@stevep4 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-07 23:31] #11214 closed

[2018-07-08 00:54] arcdev opened #11370 "typo under Connect to virtual machine #4"
Currently, #4 reads (and it may be a Markdown issue):
&gt; In the Windows Security window, select More choices and then Use a different account. Type the username as vmname*username, enter password you created for the virtual machine, and then click **OK*.

It should read:
In the **Windows Security** window, select **More choices** and then **Use a different account**. Type the username as vmname\

[2018-07-08 01:31] HowardEdidin commented on #11146
The issue is when trying to build in VS code.

[2018-07-08 01:33] HowardEdidin opened #11372 "naming conventions"
onDesiredPropertiesUpdate should be named  OnDesiredPropertiesUpdate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09efbe397f3e
* Version Independent ID: dbedd952-a050-286e-c951-4529ec8e87b8
* Content: [Azure IoT Edge C# tutorial](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-

[2018-07-08 01:35] mike-urnun-msft commented on #11034
Hi @wmlockhart - Perhaps, this one might help?
[Tutorial: Build a .NET Core and SQL Database web app in Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-dotnetcore-sqldb-app)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-08 01:35] #11034 closed

[2018-07-08 04:00] tkumark opened #11374 "Could you please provide link to advancement/Release notes to Remoting V2"
you have document on how to user Remoting V2 but nothing in detail on why we would want to. also any information on what type of performance enhancement we get.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8902374b-b631-9d50-16ef-1899ea2dd29d
* Version Independent ID: 55351e69-aa2a-901c-a563-106b62e3d6ac
* Content: [

[2018-07-08 04:47] jason-j-MSFT commented on #11370
@arcdev
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-08 04:51] m60freeman commented on #6421
Yes, thank you!

[2018-07-08 04:51] #6421 closed

[2018-07-08 08:01] lfrancfort commented on #11362
Problem is solved, I was not owner of the source subscription. You can close. Thank you

[2018-07-08 08:55] ianpowell2017 opened #11377 "A real world example please"
I need to create a function that simply creates a new table every day, the table name should be "logging{yyyy-mm-dd}" where the date format is in the name of the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* Version Independent ID: 92b0a972-eabe-8048-36b1-a1cefb3acf43
* Co

[2018-07-08 12:26] girishgouda opened #11379 "Can we assign policy to management groups scope from portal and powershell"
Can we assign policy to management groups scope using powershell . if not then what are the options.
Currently we can assign policy to different scopes like resource group and subscription. Can we do the same where in we can assign the policy to management group using powershell or REST API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-07-08 12:28] dazinator opened #11380 "docker stack deploy requires API version 1.25"
When I run the step in my local bash shell (on windows 10):

`docker stack deploy azure-vote --compose-file azure-vote.yaml`

I get:

&gt; docker stack deploy requires API version 1.25, but the Docker daemon API version is 1.24

Remedy?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56ffefbe-77db-da49-0766-8bf4baec4b07

[2018-07-08 12:50] dazinator commented on #11380
Moved to https://github.com/Azure/ACS/issues/120

[2018-07-08 12:50] #11380 closed

[2018-07-08 12:52] lfrancfort opened #11381 "update-azurermvm needs a location"
The last line of last sample should be :
Update-AzureRmVM -VM $vm -ResourceGroupName $rgName -location $location

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dd4a5e2-c630-2702-ac7c-15004b541161
* Version Independent ID: f64d7493-0278-de95-a16e-c11369f74c55
* Content: [Attach a data disk to a Windows VM in Azure usin

[2018-07-08 13:00] lfrancfort commented on #11381
it seems to be an issue related to #4419. I'm going to investigate

[2018-07-08 13:17] airwolfnh commented on #11330
The link I am following it's on the top of this page. Yes, there is no security groups on your doc, that's why I am asking, how to add security groups with AKS? I added them manually on my terraform, now how to link it do the subnet that AKS has created for me?

[2018-07-08 13:44] Paul-Lo opened #11382 "Exception when NuGet Bond.Core.CSharp to the latest 8.0.0"
regarding to this
https://docs.microsoft.com/en-us/azure/cognitive-services/speech/getstarted/getstartedcsharpservicelibrary

When you NuGet Bond.Core.CSharp to the latest 8.0.0
the following exception occur when invoking speechClient.RecognizeAsync.

{"Could not load file or assembly 'Bond.IO, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The locat

[2018-07-08 14:29] MicahMcKittrick-MSFT commented on #11380
Thanks for reaching out and letting us know the new location of the raised issue.

[2018-07-08 14:30] MicahMcKittrick-MSFT commented on #11374
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-08 14:31] MicahMcKittrick-MSFT commented on #11377
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-08 14:31] msimecek commented on #11102
@wmengmsft Actually, the NuGet package which gets pulled is version **1.19.0**:

While CosmosDB.Table seems to require version **1.20.0**. This is the exception I get:

Repro:
1. start Visual Studio 2017
2. File > New > Project
3. ASP.NET Core Web Application
4. .NET Framework > ASP.NET Core 2.1 > API > OK
5. Manage NuGet Packages
6. search `Microsoft.Azure.CosmosDB.Table`
7. install latest versio

[2018-07-08 14:31] MicahMcKittrick-MSFT commented on #11381
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-08 14:33] #11362 closed

[2018-07-08 15:58] jay98014 commented on #11091
Hello everyone:  all validation has been done on fully patched Windows Server operating systems from Windows Server 2012 onwards.   Additional software should not be required beyond that.   Please try running Windows Update and installing all patches first before trying to install the DC agent or proxy service software.

[2018-07-08 16:20] jason-j-MSFT commented on #11372
@HowardEdidin
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-08 16:21] jason-j-MSFT commented on #11379
@girishgouda
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-08 16:42] kmees opened #11383 "Token Refresh Issue when extending the backend API app for MS Graph permissions"
I implemented this tutorial in our azure environment and everything worked as expected, no problems there. However, after adding MS Graph permissions to the app permissions of the API app, i ran into some token expiration issues that i failed to solve.
The additional steps i took are:
* Add the Microsoft Graph API to the permissions of the API app with `User.Read` scope (Delegated Permission)
* Ad

[2018-07-08 16:44] brunocormack opened #11384 "az vm create"
The az vm create command requires the parameter --admin-username to run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec093591-c8bb-9284-7a43-97d08b7bf16e
* Version Independent ID: 21803b59-a2d1-a301-2318-8af8c333c6a3
* Content: [Create an internal Basic Load Balancer - Azure CLI 2.0](https://docs.microsoft.com/en-us

[2018-07-08 16:56] joquotes opened #11385 "No advance tab in execute SSIS package activity"
There is no advance tab in execute SSIS package activity. Its replaced by user properties tab. How do we pass a parameter through ADF to SSIS package?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311ed7bd-e869-3e77-4601-235149e54c03
* Version Independent ID: 7f767d44-195c-d869-ab43-606feb470447
* Content: [Run SSIS p

[2018-07-08 17:47] vibhubanga commented on #11258
I have faced the same issue. Can you please help on this as early

[2018-07-08 18:02] amazaheri opened #11386 "Doc needs guidance for RBAC enabled clusters."
Doc needs guidance for RBAC enabled clusters.
https://github.com/virtual-kubelet/virtual-kubelet/issues/107
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acfb234b-c0db-3e6a-7938-cab614d530c0
* Version Independent ID: 2adff671-6ccb-d84a-f689-8b0d72b1577c
* Content: [Run virtual kubelet in an Azure Kubernetes Service (AK

[2018-07-08 18:07] ianpowell2017 commented on #11377
I've actually done this now, getting the configuration value from config json files was not easy to find
[code]

[2018-07-08 19:05] jmill269 commented on #11003
Sorry for the delay, but I would assume so, as I just cloned the repository as outlined in some of the steps in these docs.

Here's the output after running func host start:

Jons-MBP% func host start

                  %%%%%%
                 %%%%%%
            @   %%%%%%    @
          @@   %%%%%%      @@
       @@@    %%%%%%%%%%%    @@@
     @@      %%%%%%%%%%        @@
       @@         %%%%

[2018-07-08 23:03] ganeshthiagarajan commented on #5302
I followed the above steps, created a REST api, and I was also able to receive the claim and its corresponding value after my sign-up in the JWT. My question is - is this custom claim persisted as a custom attribute in the user's Active Directory Profile? AFter Sign-up, when I try to sign-in again using the email Id used for sign-up, I do not get the value of the Custom claim whose value was initi

[2018-07-09 00:31] MohitGargMSFT commented on #11348
@grahambunce Please check below article and this feature is available with Office 365 ProPlus, Office 2016 Professional, Office 2016 Professional Plus, and Excel 2016 standalone.

https://support.office.com/en-us/article/Where-is-Get-Transform-Power-Query-e9332067-8e49-46fc-97ff-f2e1bfa0cb16?ui=en-US&rs=en-US&ad=US

[2018-07-09 00:37] mike-urnun-msft commented on #11145
Hi @tldrafael - Since this isn't related to content of this documentation, could you raise this issue at the [Azure CLI repo](https://github.com/Azure/azure-cli/issues)?

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-09 00:37] #11145 closed

[2018-07-09 00:40] MohitGargMSFT commented on #11359
@erapade Please note that when you enable Read Scale-Out for an Azure SQL database, the ApplicationIntent option in the connection string provided by the client dictates whether the connection is routed to the write replica or to a read-only replica. Here the client can be on premise database or PowerBI and if the client you are choosing has an option to modify the connection string to include App

[2018-07-09 01:08] jason-j-MSFT commented on #11383
@kmees
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-09 01:09] jason-j-MSFT commented on #11384
@brunocormack
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-09 01:11] jason-j-MSFT commented on #11385
@joquotes
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-09 01:13] jason-j-MSFT commented on #11386
@amazaheri
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-09 01:14] amazaheri commented on #11386
I validated that all steps work after adding the roleassignment :)

[2018-07-09 01:16] xiashaohua2010 opened #11387 "Download the model pickle file： cant save the model.pkl in the local folder"
Hi,
    I cant save the model.pkl in the local folder after finish the step5 item d, after I click the save button, the file doesn't show in my local folder. Can you kindly help me on this?  how can investigate what cause this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fc38ecf-87ef-cc6f-dd84-1df3d59081fe
*

[2018-07-09 01:19] quan01994 commented on #11233
Today,I will try it in virtual machine

[2018-07-09 01:25] dcbrown16 opened #11389 "Linux VM backup consistency - out of date info"
"For Linux VMs, only file-consistent backups are possible, because Linux does not have functionality equivalent to the volume shadow service."
I believe this is out of date now in reference to the following page.
https://docs.microsoft.com/en-us/azure/backup/backup-azure-linux-app-consistent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-07-09 02:02] MGoedtel commented on #11208
@arsenvlad - I've already had this on my radar to address as I wasn't pleased with how I originally documented the versioning differences.  It has been addressed and will be released sometime tomorrow.  Thank you for your feedback.  @jason-j-MSFT - #please-close as this has been tracked internally and addressed.

[2018-07-09 02:09] soyroberto commented on #11032
I found an issue to upload content to the $web folder using Storage Explorer both in Windows and MacOS. It never showed up and sometimes even crashed the app in Windows. I ended up creating the structure manually on the portal and uploading the files with CloudBerry Explorer

[2018-07-09 02:42] hkamel commented on #11032
@soyroberto this is a known issue in the current version of Azure Explorer, you can follow this GitHub issue [#223](https://github.com/Microsoft/AzureStorageExplorer/issues/223https://github.com/Microsoft/AzureStorageExplorer/issues/223) for details and for intermeidate fix as well

[2018-07-09 02:45] HowardHoffman opened #11390 "Max IOT Hubs per Subscription or Resource Group?"
Is this a typo:  "Each Azure *subscription* can have at most 10 IoT hubs, and at most 1 Free hub" ?
Do you mean *subscription* or *resource group*?  We actually have a Subscription currently with 21 IoT Hubs ... seemingly working just fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec6fc6a5-9bf6-889e-075d-b5b009e6

[2018-07-09 02:49] SaurabhSharma-MSFT commented on #11250
@CelesteDG Can you please check if it is possible to add a reference link in the current document for creating a base64 thumbprint certificate?

[2018-07-09 02:55] omerzubair commented on #11115
Hi @YutongTie-MSFT ,

- I raised a support ticket & MS backend has fixed it. Thanks Microsoft, I can use portal to Add a subscription :)
- However please if you can get the steps updated.

Cheers

[2018-07-09 03:04] SaurabhSharma-MSFT commented on #11258
@matdcooper / @vibhubanga Can you make sure that you are registering the application in the B2C tenant. I am able to upload the profile XML document with the changes as mentioned in the document.  Also, for simplicity, I have copied only relevant tags from the document to actual ProfileEdit.xml or any other policy files(Base/Extension).
e.g. copy only the tag relevant to LoyalityId in policy docum

[2018-07-09 04:01] swinarko commented on #11385
Apologies for this inconvenience, you can use the "Code" button on the righthand corner of your pipeline toolbar to add SSIS parameters in JSON script for now.  We'll update the doc accordingly.

[2018-07-09 04:55] adamfowlerit opened #11391 "Creative Cloud Enterprise required"
Checked with support, you need to have "Creative Cloud Enterprise" not "Creative Cloud Teams" as per this https://www.adobe.com/au/creativecloud/business/teams/plans.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7423f45d-4444-ff05-3893-3bd85e327923
* Version Independent ID: 2e560cfe-1d25-7cd7-93b4-24209fd86527
*

[2018-07-09 04:57] dcbrown16 opened #11392 "Discoverable?"
Is this page supposed to be discoverable through the navigation menu? It was the top hit for "azure application gateway certificate" in Bing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d23a57b-1327-786e-f27d-1a52b0e4712d
* Version Independent ID: e1050c6a-d3ea-e3b7-c6ca-a0427b1f9379
* Content: [Create an applicati

[2018-07-09 05:05] vibhubanga commented on #11258
Thanks, Saurabh. I was able to successfully upload the file. I created the app in the parent AD.

[2018-07-09 05:07] linda33wj commented on #11325
@jeffhebrank what's your logic to determine which sproc to call? Seems you are trying to create a single Stored Proc activity serving as template, Instead, will it work if you do e.g. IfCondition activity (https://docs.microsoft.com/en-us/azure/data-factory/control-flow-if-condition-activity) upfront, then fork to execute SprocA activity or execute SprocB activity - two separate Stored Proc activi

[2018-07-09 05:44] kazshi opened #11393 "mySampleDatabase?"
Step.4 in Connect to the server as server admin
https://docs.microsoft.com/en-us/azure/sql-data-warehouse/load-data-wideworldimportersdw#connect-to-the-server-as-server-admin
It must be SampleDW?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d26e70c3-2769-5b47-2bda-8a4a7f0239d0
* Version Independent ID: 558a36bd-e151-

[2018-07-09 06:13] SnehaGunda commented on #11326
@Lhdang88 sorry for the inconvenience, the per document feature is not GA yet. It was supposed to be available in preview last week but got delayed, we will pull out the doc temporarily and make it available once the feature is live.

[2018-07-09 06:14] SnehaGunda commented on #11326
#please-close

[2018-07-09 06:28] git-heath opened #11396 "Unable to connect to cluster from VS."
I managed to run the docker image on my windows 10 machine and can view the cluster using the SF explorer in the browser. I am also able to connect to the cluster using the SF CLI command sfctl cluster select --endpoint http://localhost:19080. All nodes are healthy. However from a service fabric project in VS I am unable to publish my application. When entering the connection endpoint (localhost:1

[2018-07-09 06:39] AlexanderPilhar commented on #11232
I did follow this sample step by step but failed when I came to "Add the web app client interface" - copying index.html file to wwwroot just doesn't have much effect, since /Views/Home/Index.cshtml will be served in a MVC project. So, I switched over to a blank web app and succeeded.

[2018-07-09 06:39] SunnyOswal opened #11397 "Typo"
Under "List images in registry", there is a typo. Instead of "user", it should be "use".
Incorrect Line: "user" the az acr repository list command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6afe8c14-efa4-31a6-9fd9-e68f2d878226
* Version Independent ID: c67857a5-ee1b-3ed2-f281-dd62c4c4c6f3
* Content: [Kubernetes on

[2018-07-09 07:00] pekkaar commented on #7226
@amanarneja @MladjoA thanks for confirming the current behaviour, you answered my original question.

[2018-07-09 07:15] DaveDXC opened #11398 "Removing Activation on Disconnected Stack fails"
I just tried removing a Disconnected Azure Stack registration using the command Remove-AzsActivationResource.
This failed.
It looks like it is checking for an Azure environment of AzureCloud, AzureChineaCloud or AzureUSGovernment - which are all incorrect for a Disconnected Stack.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-07-09 07:35] erwindemoel commented on #11234
hi @LazarusX  and @sergaz-msft, that command cookiecutter does not work. Do you have suggestions on how to fix this?

[2018-07-09 07:42] nicowernli opened #11399 "All SpeechSynthesizer options"
When using the SpeechSynthesizer I receive the seach of my question, I don't want that, I just want the answer. Is there any option to avoid the synthesizer to say the question?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 425f2bb0-a8af-b4b4-6e20-3a5b999b64b2
* Version Independent ID: 3cdc4ec4-9a24-bdac-b432-950b3600

[2018-07-09 07:49] finchl commented on #11091
Hi, on my lab I did run several updates to see if something was missing but that didn't work, however there might have been something missing.

Note after further investigation this is required as will work if installed on a vanilla build.

https://support.microsoft.com/en-gb/help/2999226/update-for-universal-c-runtime-in-windows

Perhaps it would be good to mention the above error in the troubles

[2018-07-09 08:01] femsulu commented on #11140
@johnkemnetz  can you please look into this question / doc enhancement request?

[2018-07-09 08:06] femsulu commented on #11203
@gonzalofarias We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-09 08:06] #11203 closed

[2018-07-09 08:11] iapple99 opened #11401 "West Europe"
Hello

When will this Preview be available in West or North Europe?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda4e0-7630-f358-aa3a-6a992eae61e2
* Content: [Managing the Azure Storage Lifecycle](https://docs.microsoft.com/en-us/azure/storage/

[2018-07-09 08:25] vlflorian opened #11403 "Refresh frequency of the logs in powerBI"
Hi, in power BI the refresh frequency for me is either once per week or once per day. Is it possible to have the refresh occur more frequently? Say, hourly?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf84287-d3e6-38f3-e67d-41b7aaf350ce
* Version Independent ID: b03d56d0-1fba-bea4-6f02-97fbc5832651
* Conte

[2018-07-09 08:40] matdcooper commented on #11258
Thanks @SaurabhSharma-MSFT, but the application is definitely registered in the B2C tenant. I will attempt to go through the steps again to make sure I have not missed anything.

[2018-07-09 08:40] ProteusTitan opened #11404 "Analytics and Clear Text Dissemination"
Practical Applications and Function as redressed on dark web.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567ed938-6852-5d62-3134-9ffa8b952ff7
* Version Independent ID: edc811b4-86ed-af98-ed54-f7774c926b4f
* Content: [Collect Nagios and Zabbix alerts in OMS Log Analytics](https://docs.microsoft.com/en-us/azure/log-a

[2018-07-09 08:49] LazarusX commented on #11234
Hi @erwindemoel, looks like cookiecutter is installed but not included in `$PATH`. You can refer to Step 3 in https://gist.github.com/haircut/14705555d58432a5f01f9188006a04ed to learn how to add it to `$PATH`.

[2018-07-09 09:04] ksujanpaul commented on #6881
@

[2018-07-09 09:07] ksujanpaul commented on #6881
@LyalinDotCom how could I use this API in ionic framework it uses typescript for the backend.

[2018-07-09 09:12] djhmateer commented on #10422
Direct link to proposal: https://feedback.azure.com/forums/34192--general-feedback/suggestions/34743514-faster-disks-for-web-app-for-containers

[2018-07-09 09:18] ksujanpaul commented on #11309
@areddish When i tried to open and run it in android device it crashes immediately where installed with sample model itself

[2018-07-09 09:20] cephalin commented on #11021
@ahmedelnably Can you take a look? This is similar to #10869 that @msangapu asked you about.

[2018-07-09 09:21] cephalin commented on #10869
@ahmedelnably Be advised as this is the issue that @msangapu told you about.

@BryanTrach-MSFT This is a confirmed product issue.

[2018-07-09 09:21] mattjhayes opened #11406 "Problems running tutorial on Ubuntu 18.04"
Thanks for IoT Hub tutorial (https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-python). There seem to be some issues running it on Ubuntu:

1) libboost error:
[code]

Workaround was to link to version library that I did have:

[code]

2) Error with cURL:
[code]

Workaround:

[code]

3) I can't find iothub-explorer. Is this a separate install?

Thanks

[2018-07-09 09:22] ksujanpaul commented on #11309
@jason-j-MSFT looking for your solution

[2018-07-09 09:45] v-wimarc commented on #11182
For your information, there will be one day delay of publishing this page https://www.azure.cn/home/features/products-by-region.  Please expect it go live on Tuesday.  And let me know what do you think on my proposal.  Thanks.

Regards,
Josephine Qiu, ACN

From: Josephine Qiu
Sent: Friday, July 6, 2018 11:54 AM
To: Monica Rush <monicar@microsoft.com>; Marc Wilson (Resources Online) <v-wimarc@micro

[2018-07-09 09:47] cephalin commented on #11021
@panchagnula Please take a look

[2018-07-09 09:48] cephalin commented on #10869
@panchagnula FYI

[2018-07-09 09:58] abhiturbot opened #11407 "Can you please explain it with better wordings"
https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#network-security-groups inbound rules. Please try to understand the wording its not appropriate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3fc12b4
* Co

[2018-07-09 10:03] HowardvanRooijen opened #11408 "Dealing with errors"
It would be really good to have an example of how you'd deal with a processing error that results in not returning a Table object as output. I have a use case where some of the input from a blob cannot be processes. If I return an null from the Function I get an exception which causes the Function to retry processing the input again, until the max number of retries happens. An example of how to "s

[2018-07-09 10:04] danimir commented on #11308
@csmurthy Thank you on your question.

The query_hash_s once converted from decimal to hex is the exact representation of the query hash in DMV. However, there could be multiple reasons why you cannot find it which are outside of the scope of this solution and our control. For example, that particular query hash could be from a one off query, it could have perhaps expired, it also had to be looked

[2018-07-09 10:05] pulkitsinghal opened #11409 "Add the azure portal equivalent too"
## Use Azure portal to create a managed disk from a snapshot
1. Sign in to the Azure portal.
1. Starting in the upper left, click Create a resource and search for managed disks.
1. In the Managed Disks blade, click Create.
1. Enter a Name for the managed disk.
1. Select an existing Resource group or type the name for a new one.
1. For Source type, select Snapshot and the Source Snapshot
1. Click C

[2018-07-09 10:06] HemantChandurkar opened #11410 "How to specify package dependencies"
I have written code (/tmp/ki.py) to insert messages into kafka topic from pyspark. Below command I use to execute my py script.
          spark-submit --packages org.apache.spark:spark-sql-kafka-0-10_2.11:2.2.0 /tmp/ki.py
I want to execute this py script from Azure Data Factory (ADF). How to reference this package from ADF? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-07-09 10:12] erwindemoel commented on #11234
Thanks @LazarusX, I understand how to add things to path now in OSX, but not sure where cookiecutter is located. I've tried several commands, but my terminal is still not recognising the "cookiecutter" command. Also tried the instructions on this site:
http://cookiecutter.readthedocs.io/en/latest/installation.html

Can you please help me with which command to use?

[2018-07-09 10:14] erwindemoel commented on #11234
Hey, I just followed all the steps in https://gist.github.com/haircut/14705555d58432a5f01f9188006a04ed and now cookiecutter is recognised. Thanks @LazarusX !

[2018-07-09 10:18] erwindemoel commented on #11234
cookiecutter now works in Terminal, but when I try to create a new Pythonmodule in Visual Studio Code, I still get this:
[code]

How can I make VS Code understand where cookiecutter is located?

[2018-07-09 10:34] kmees commented on #11383
@cephalin thanks for the response, but this isn't possible as i described earlier. I am authenticated against my WEB app, and i need to refresh the tokens in my API app, but calling `/.auth/refresh` (on the API app) with bearer authentication is apparently not supported (see StackOverflow thread above).

Also, to prevent further misunderstanding, I'm not talking about the access token for my API a

[2018-07-09 10:51] waheedhussain opened #11412 "Azure SQL database backups - responsibility to monitor and fix"
Hi,

Since there is currently no mechanism to monitor the backups for Azure SQL database, if an automated or LTR backup fails for any reason, will Microsoft look into and fix the issue?

Looking from PaaS responsibility sharing perspective, is it Microsoft or Customer's responsibility?

thanks,
Waheed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-07-09 10:59] quan01994 commented on #11233
![image](https://user-images.githubusercontent.com/20533465/42446802-2cd9c2a6-83aa-11e8-89c8-5fd729b587c7.png)

[2018-07-09 11:01] quan01994 commented on #11233
i have same error
Linux version 4.4.0-130-generic (buildd@lgw01-amd64-039) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.9) ) #156-Ubuntu SMP Thu Jun 14 08:53:28 UTC 2018

[2018-07-09 11:03] quan01994 commented on #11233
![image](https://user-images.githubusercontent.com/20533465/42446956-b442ac26-83aa-11e8-971f-36d1b1a668c8.png)

@anantshankar17

[2018-07-09 11:25] AntCeee opened #11413 "Error running sample on Raspberry Pi"
Hi, I'm trying to run this example on a Raspberry Pi 3 B+ but am getting an error when installing the libraries using the command 'pip install azure-iothub-device-client'. The error is

Downloading/unpacking azure-iothub-device-client
  Could not find any downloads that satisfy the requirement azure-iothub-device-client
Cleaning up...
No distributions at all found for azure-iothub-device-client

I

[2018-07-09 11:30] mhuebi commented on #11076
Thanks for your Feedback, that is a completly satisfying answer.

[2018-07-09 11:31] SatyandraV-MSFT commented on #11164
Any update for increasing Total Regional vCPUs Option?

[2018-07-09 11:45] pstapf opened #11415 "remove FAQ regarding JIT/viral tenant."
Since with the latest B2B updates no JIT/viral tenant is create any more, so this FAQ needs a update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234804b8-f87e-6e42-3589-336b308c564f
* Version Independent ID: d6eca215-d352-50b0-994e-0077a5e54fe6
* Content: [Azure Active Directory B2B collaboration FAQs](https://docs

[2018-07-09 12:29] xiashaohua2010 opened #11416 "Click on the menu bar in Visual Studio and select "Extensions and Updates...""
It's better to say: Click "Tools"on the menu bar in Visual Studio and select "Extensions and Updates..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b4e9eb5-5185-b93f-361a-0c9247d3f570
* Version Independent ID: 2b15cd11-4de9-4ca5-c1f8-c420262f46f2
* Content: [Quickstart article for Visual Studio Tools for Machine L

[2018-07-09 12:36] jimdial commented on #11346
@wagesworld Thanks for catching. I've updated the article appropriately.  It will publish later today.  #please-close.

[2018-07-09 12:44] jimdial commented on #11407
Sure. An NSG can be associated to a subnet (and, as a result, all network interfaces in the subnet), an individual network interface (NIC), or both. Say you have an NSG associated to the subnet and an individual NIC in the subnet.  For inbound traffic, the rules in the NSG associated to the subnet are processed before the rules in the NSG associated to the NIC. So, for example, if the NSG for the

[2018-07-09 12:46] cephalin commented on #11383
You shouldn't be calling /.auth/refresh on the API app. The auth token is generated on the _WEB_ app so you need to call /.auth/refresh on the WEB app.

As the thread pointed out, if you need an alternative to the bearer token you can just use the AppServiceAuthSession cookie from your client request to /.auth/refresh.

[2018-07-09 12:59] #7226 closed

[2018-07-09 13:13] sergaz-msft commented on #11398
@DaveDXC  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-09 13:18] simonnuss opened #11417 "Missing OAuth Connectivity"
Team, the Data Factory v2 OData connector is missing OAuth authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8193f2a3-80f3-14e9-7022-27ea5fa02001
* Version Independent ID: 9eff4721-c265-74a7-11fd-c6920f309982
* Content: [Copy data from OData sources using Azure Data Factory](https://docs.microsoft.com/en-u

[2018-07-09 13:19] sergaz-msft commented on #11413
@AntCeee thank you for your feedback. What is the version of python and pip you are using?

`python --version`
`pip --version`

Thank you.

[2018-07-09 13:22] jay98014 commented on #11091
Thanks for the information Lee.   I have filed a bug to get our documents updated.

While manually installing the Universal C runtime may be one way to get things working, obviously the preferred recommendation is that all machines be kept up-to-date with all available patches.   Probably goes without saying, but just in case...

[2018-07-09 13:29] sergaz-msft commented on #10867
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-09 13:29] #10867 closed

[2018-07-09 13:29] sergaz-msft commented on #11042
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-09 13:29] #11042 closed

[2018-07-09 13:30] butchmarshall opened #11419 "Linux installation instructions?"
I've downloaded the tar.gz file and [installed .NET](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script) (I thought) as the Docs point to [this page](https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x) which then points to the [dotnet-install-script](https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x#installing-net-cor

[2018-07-09 13:31] sergaz-msft commented on #11135
@SarithaMaran let us know if we helped fix the issue described? Thank you!

[2018-07-09 13:36] sergaz-msft commented on #11146
@HowardEdidin this looks like an issue on Docker - https://github.com/Microsoft/DockerTools/issues/89

Did you try to factory reset Docker?

Thank you.

[2018-07-09 13:41] SaurabhSharma-MSFT commented on #11219
@marcelvandendungen Thanks for your feedback, I will pass on your thoughts to product team.  Also, we will be updating the documentation as soon as we have more information on this feature.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-09 13:41] #11219 closed

[2018-07-09 13:45] erwindemoel opened #11420 "Cannot collect TPM data and retrieve Registration ID on Raspberry Pi 3"
I'm trying to configure the Azure Device Provisioning Service with my Raspberry Pi 3 using Azure IoT Edge.

I've followed this tutorial:
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm

When I reach the part that says "Configure the Azure IoT Edge Security Daemon" they redirect to another page to get the Registration ID:
https://docs.microsoft.com/en-us/azure/iot-

[2018-07-09 13:48] mmacy commented on #11222
Hi @jrhoward - Network policies are currently unsupported in AKS. For additional info, you can follow and comment on this issue in the AKS GitHub repository:

[Network Policies in AKS #435](https://github.com/Azure/AKS/issues/435)

@MicahMcKittrick-MSFT #please-close - thanks.

[2018-07-09 13:48] sergaz-msft commented on #11172
@danielceckert many company networks have all ports blocked besides 443. Take a look at the ports used by each protocol [here.](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-protocols)

In your case specifically, it looks like you were using different protocols for both situations (IoTHub Device Vs Edge Device).

[Connect Raspberry Pi to Azure IoT Hub (Python)](https://docs.micro

[2018-07-09 13:51] sergaz-msft commented on #11194
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-09 13:51] #11194 closed

[2018-07-09 13:53] SarithaMaran commented on #11135
@LazarusX
I purged cookiecutter and uninstalled it and again ran this command `pip install --upgrade cookiecutter`.
Now it's working fine. Thank you.

@sergaz-msft
Yes , it's working now. Thank you.

[2018-07-09 13:53] #11135 closed

[2018-07-09 13:56] kmees commented on #11383
Sorry, but you're still not getting the issue here. Refreshing the auth token from the web app doesn't help. Let me try to explain it one more time.

* I extended the permission of my API app to also have MS Graph permissions
<img width="1167" alt="screen shot 2018-07-09 at 15 11 24" src="https://user-images.githubusercontent.com/649769/42452541-977a9a56-838a-11e8-916a-7cbc8bdea23e.png">
* I secur

[2018-07-09 13:57] mmacy commented on #11050
Thanks @MicahMcKittrick-MSFT, #in-progress

[2018-07-09 14:04] LazarusX commented on #11234
VS Code will respect the `$PATH` in your shell configuration. Can you try quitting and restarting VS Code?

[2018-07-09 14:19] sergaz-msft commented on #11244
Hello @cocosnuss it looks like there is some inconsistency on your specific case and the best way to get support on that is to open an issue directly on the sample github repo: https://github.com/Azure-Samples/iot-hub-python-raspberrypi-client-app/issues . I am considering that you are not blocked because of this issue (since you can send messages to IoTHub) but correct me if I am wrong.

In regar

[2018-07-09 14:19] #11244 closed

[2018-07-09 14:20] sergaz-msft commented on #11261
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-09 14:20] #11261 closed

[2018-07-09 14:22] cephalin commented on #11383
@kmees I apologize I didn't read your original question very carefully.

@mattchenderson Can you assist?

[2018-07-09 14:23] deansavovic commented on #6646
Switching to Linux containers helped me with this issue.

[2018-07-09 14:24] Gimly opened #11421 "Step 8 and 9 of Configure the IoT Edge runtime not clear which IP address"
In the steps 8 and 9 of the *Configure the IoT Edge runtime* chapter, it's not very clear which IP address should be used to replace the *&lt;GATEWAY_ADDRESS&gt;*. Is it the *IPv4 Address* in the *vEthernet (DockerNAT)* that we got in the previous step, or is it the real IP address of the machine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-07-09 14:33] sergaz-msft commented on #11269
@janickat24 this is by design.

More info and similar questions here:
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-endpoints#when-using-azure-storage-containers
https://stackoverflow.com/questions/49013821/azure-iot-apache-avro-format
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-capture-overview#exploring-the-captured-files-and-working-with-avro

[2018-07-09 14:33] sergaz-msft commented on #11269
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-09 14:33] #11269 closed

[2018-07-09 14:45] TimIUK commented on #7983
How do you get Workday to link to AD accounts that were already present before synchronisation started?

[2018-07-09 14:46] suhuruli commented on #11396
Just to narrow down the issue, are you able to deploy that application using the SF CLI (sfctl) or the PowerShell modules?

[2018-07-09 15:00] DianaPutnam commented on #10767
@johnkemnetz did you validate the above statement by @femsulu?

[2018-07-09 15:09] erwindemoel commented on #11234
I found this tutorial:
https://www.cyberciti.biz/faq/appleosx-bash-unix-change-set-path-environment-variable/

And used it to add `PATH=$PATH:~/Library/Python/2.7/bin` to my $HOME/.bash_profile file as described in Method 1. That fixed my problem after restarting Microsoft VS Code. Thanks all for the help!

[2018-07-09 15:09] #11234 closed

[2018-07-09 15:10] sergaz-msft commented on #11345
@danieljsmarda please note that

Therefore not all platforms may work as expected. Are you meeting all the prerequisites mentioned in the beginning of the doc?

![image](https://user-images.githubusercontent.com/22173500/42457799-4b0bc888-8390-11e8-8be7-16d02490c96d.png)

Did you also try following this sample on a Windows Machine?

That shouldn't be an issue. Mine is also blue and IoTHub is recei

[2018-07-09 15:11] finchl opened #11423 "Lab"

[2018-07-09 15:12] finchl commented on #11091
OK thanks.  Will close this issue down

[2018-07-09 15:12] #11091 closed

[2018-07-09 15:14] nberdy commented on #11194
DPS works at the (edge gateway level today)[https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-simulated-device-linux]. Edge doesn't yet support X.509 certificates but that work is planned, and when that support goes live in Edge you will also be able to provision Edge devices via DPS using X.509 certs.

[2018-07-09 15:20] jdogg89 opened #11424 "Internal load balancer with TLS certificates"
Is there a way to create an internal load balancer with TLS/SSL certificates, much like the ingress and TLS article, but using azure internal load balancers instead of using nginx?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25afcc19-0998-3583-f6d8-e2a619c0e071
* Version Independent ID: 7629191a-6b3b-fb22-8b70-fa84f

[2018-07-09 15:30] sergaz-msft commented on #11353
@jcbendernh can you show us the logs of the container with the SQL Server module?

`iotedge logs <container name>`

Also the result for `sudo iotedge list` ?

Finally did you follow all the possible troubleshooting steps [described here](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot)?

Thank you!

[2018-07-09 15:30] ronaldlb commented on #7983
TimlUK - It depends how you are linking the two. We linked our by user id. Then we created 2500 user ids and updated our AD with that and linked Workday and AD useing AAD. We have on prem AD as our primary so anything changes on prem will sync to Azure Ad and then to workday. If any thing changes in Workday the AAD updates the on prem AD and then that gets syncd. We did not us ADFS yet because it

[2018-07-09 15:31] danieljsmarda commented on #11172
@sergaz-msft My project is on a tight timeline and I'm able to connect using a company-unaffiliated network that doesn't seem to pose these problems. I'm closing the issue because I won't be able to go through the protocol-switching suggestions for awhile, but I'll reopen if/when I get a chance to confirm that the protocols were the issue. Thank you for your help!

[2018-07-09 15:31] #11172 closed

[2018-07-09 15:31] SamirFarhat opened #11426 "Enable RBAC after the deployment"
Hi,

It's possible to enable the RBAC after the deployment of AKS. Something like az aks set ....

It's good to see it on the documentation too.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
* Version Independent ID: f4420b08-9b57-f581-fcb4-f069afdd5b0c
* Content: [Integrate

[2018-07-09 15:36] SamirFarhat commented on #11330
@airwolfnh : You need to see Terraform with Network Security groups, that will be the right place to go.
https://www.terraform.io/docs/providers/azurerm/r/subnet.html

[2018-07-09 15:38] #11208 closed

[2018-07-09 15:40] MicahMcKittrick-MSFT commented on #11397
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-09 15:41] MicahMcKittrick-MSFT commented on #11408
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-09 15:43] MicahMcKittrick-MSFT commented on #11409
Thanks for the feedback. We already have this information here:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/snapshot-copy-managed-disk

Does that not provide what you are looking for?

[2018-07-09 15:46] MicahMcKittrick-MSFT commented on #11377
@ianpowell2017 thanks for the update! I will assign this issue to the content author to review and see if we can improve the doc.

@tdykstra can you take a look?

[2018-07-09 15:48] MicahMcKittrick-MSFT commented on #11386
@amazaheri thanks for the update! I have assigned the issue to the content author to review and see where we can update the doc.

@iainfoulds can you take a look?

[2018-07-09 15:53] michaeldaw commented on #7281
@BryanTrach-MSFT In this case "actively monitoring" means [closing the feedback case related to this issue](https://feedback.azure.com/forums/169385-web-apps/suggestions/34255252-add-ability-to-move-web-site-to-app-services-plan).

[2018-07-09 15:56] lkuhn65 opened #11427 "Suggest adding a pointer to Bing Maps"
It seems to me that Bing Maps has a few features that Azure Maps lacks (like covering more regions and providing aerial imagery) so I would be good to link over to the docs for that from here: https://msdn.microsoft.com/en-us/library/dd877180.aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 948e45c5-08b3-4116-7a69-e

[2018-07-09 15:57] #11346 closed

[2018-07-09 15:57] #11222 closed

[2018-07-09 16:03] tdykstra commented on #11377
If the content that was hard to find was something about how to handle configuration, we have a plan to address that.  For v2 we will be writing a doc about how to do configuration (the topic doesn't apply only to Table bindings), but the v2 code is still changing, so we're not ready to write the doc yet.

The other part of this solution involves using the Storage SDK to work with tables without u

[2018-07-09 16:05] sergaz-msft commented on #11355
@cheezzer you may have missed the note on the beginning of the doc:

![image](https://user-images.githubusercontent.com/22173500/42462131-3d534946-839a-11e8-91b1-665413cbe93d.png)

With that said, you should be fine by using NodeMcu/ESP8266mod.

[2018-07-09 16:05] sergaz-msft commented on #11355
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-09 16:05] #11355 closed

[2018-07-09 16:06] tdykstra commented on #11408
@HowardvanRooijen Can you share your code, and function.json if this is a script function?

[2018-07-09 16:12] #11423 closed

[2018-07-09 16:17] #11002 closed

[2018-07-09 16:17] #11326 closed

[2018-07-09 16:20] yoelhor commented on #11258
When you create an extension app. Make sure:
1) Insert the **Application object Id** to `ApplicationObjectId`, and **Application id** to `ClientId`. See the screenshot.
2) You create the application in the same Azure AD B2C directory.

[2018-07-09 16:25] Powerhelmsman opened #11429 "Documentation lacking"
The issue was created by @allar7 from https://github.com/MicrosoftDocs/feedback/issues/496
Link to article:
https://docs.microsoft.com/en-us/powershell/module/azure/select-azuresubscription?view=azuresmps-4.0.0
Problem:
Article does not include commandlets such as Select-AzureRmSubscription which leads to not having douments for customers to look at for RM specific commands. Customer found the doc

[2018-07-09 16:31] pulkitsinghal commented on #11409
Here's what I think happened:

Initially I was on this page:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/snapshot-copy-managed-disk
which is broken down into the following structure:
* Create a snapshot
    * Use Azure portal to take a snapshot
    * Use PowerShell to take a snapshot

And after that I came across this page "Create a managed disk from a snapshot with PowerShell"

[2018-07-09 16:32] cherylmc commented on #11226
@ganesr  - Absolutely. Taking care of it now. :-)

[2018-07-09 16:35] jeevansd commented on #11391
@v-nagta and @chetansriv Can you please update the sentence to make sure that we specifically call out in prerequisite that it need Creative Cloud Enterprise version? Also in the step 3 Note remove the "teams" word I think that is causing this confusion.

[2018-07-09 16:36] jeevansd commented on #11391
@adamfowlerit Thanks for the note. We will make this change in the doc and we will publish it.

[2018-07-09 16:38] rpscott opened #11430 "Overall best practices..."
While all of this is good content, it would be nice to have a well-maintained, overarching best practices document that developers can be directed to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3e80266-d60e-c46d-38a1-83cfd677f299
* Version Independent ID: c255951e-acda-184a-996b-b3df4a18913a
* Content: [Azure secu

[2018-07-09 16:41] cynthn commented on #11370
@arcdev thanks for the catch! I've fixed the formatting and it should go live sometime today. Thanks :)

#please-close

[2018-07-09 16:43] SaurabhSharma-MSFT commented on #11415
@pstapf Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-09 16:44] SaurabhSharma-MSFT commented on #11423
@finchl We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-09 16:45] SaurabhSharma-MSFT commented on #11412
@waheedhussain Could you provide us with the link to the document you are referring to ?

[2018-07-09 16:46] viswanath-puttagunta opened #11431 "Put instructions to create blob+container directly in this instructions"
Hi,
Thanks for the tutorial. It was relatively painless.

Not coming from Azure background (have AWS CSA + Big Data knowledge), just below 2 sections of creating Blob + Container and uploading json to the container could have saved me a good 1-2 hours mins getting lost in other web pages.

Create Azure Blob Storage Account (to save the json file)
- Storage Accounts &gt;&gt; Add
     &gt;&gt; Name

[2018-07-09 16:47] MicahMcKittrick-MSFT commented on #11330
Thanks @SamirFarhat!

@airwolfnh let us know if that link helps.

[2018-07-09 16:49] SaurabhSharma-MSFT commented on #11420
@erwindemoel Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-09 16:49] MicahMcKittrick-MSFT commented on #11337
@jrichview I tested this again today but am no longer seeing an issue. Can you check as well?

[2018-07-09 16:51] SaurabhSharma-MSFT commented on #11427
@lkuhn65 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-07-09 16:53] SaurabhSharma-MSFT commented on #11429
@Powerhelmsman Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-09 16:57] MicahMcKittrick-MSFT commented on #11354
@tdykstra can you take a look at this one? I am not overly familiar with the SMSMessage properties.

[2018-07-09 17:00] MicahMcKittrick-MSFT commented on #11368
I believe this should get you started:

https://stackoverflow.com/questions/48387029/create-azure-nsg-with-c-sharp

https://github.com/Azure/azure-libraries-for-net

[2018-07-09 17:05] mani-ramaswamy commented on #11233
@raunakpandya to investigate.

[2018-07-09 17:06] #11370 closed

[2018-07-09 17:08] cherylmc commented on #11226
Updated the doc and merged in. #please-close

[2018-07-09 17:09] #11226 closed

[2018-07-09 17:11] calebfinley commented on #10766
I second that. I see the same error code. But what the heck is Vortex???

APPLICATION ID 5572c4c0-d078-44ce-b81c-6cbf8d3ed39e
APPLICATIONVortex [wsfed enabled]
CLIENT;Windows 7;Chrome 67.0.3396;
LOCATIONredacted
IP ADDRESSredacted
DATE7/6/2018, 11:08:46 AM
MFA REQUIREDNo
SIGN-IN STATUSFailure
SIGN-IN ERROR CODE16000
FAILURE REASONOther

[2018-07-09 17:15] YutongTie-MSFT commented on #11399
@nicowernli Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-09 17:16] cynthn commented on #11049
@asingh1989 thanks for the feedback. I'm going to close this issue now, please feel free to reopen it if you have more questions or feedback. Thanks!

#please-close

[2018-07-09 17:16] YutongTie-MSFT commented on #11416
@xiashaohua2010 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-09 17:20] Mike-Ubezzi-MSFT commented on #11393
@kazshi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-09 17:22] bertique opened #11433 "Comments and scripts don't match"
The PowerShell code under 'Create leaf X.509 certificate for your device' has comments that you are creating a leaf cert based on the intermediate cert "CN=Azure IoT CA Intermediate 1 CA". However, following the scripts from the beginning, we are actually creating a leaf cert based on the root cert $signingCertSubject=$_rootCertSubject.

The comment should instead read "CN=Azure IoT Root CA" (or a

[2018-07-09 17:23] jeffgilb commented on #11398
The customer used the incorrect process for removing a disconnected registration. At the bottom of the module the functions are grouped by their scenarios.
For removal of a registration in disconnected scenario a customer needs to run Unregister-AzsEnvironment and Remove-AzsActivationResource.

They tried to run Remove-AzsRegistration which will check for the environment.

# Disconnected functions

[2018-07-09 17:24] jeffgilb commented on #11398
#please-close

[2018-07-09 17:30] iainfoulds commented on #11368
Hi, @SteveAndrews. We don't currently have a specific doc that covers C# management operations for this. Further to Micah's suggestions, the .NET reference docs would be the best place for programmatically buildings NSGs - https://docs.microsoft.com/en-us/dotnet/api/overview/azure/virtual-network?view=azure-dotnet

CC @cynthn

[2018-07-09 17:34] eschneider999 commented on #11098
That's the point, what is the subscription key? where do I get it? How do I set one up?

----------------------------------------
 From: "kobulloc-MSFT" <notifications@github.com>
Sent: Saturday, July 7, 2018 2:01 PM
To: "MicrosoftDocs/azure-docs" <azure-docs@noreply.github.com>
Cc: "eschneider999" <eric.github@frozenelephant.com>, "Mention" <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs

[2018-07-09 17:34] vasivara-MSFT commented on #11403
@vlflorian We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-09 17:34] #11403 closed

[2018-07-09 17:35] jdobrzen commented on #11097
@YutongTie-MSFT

If I execute CHCP 65001 to change the code page from "OEM" to "UTF-8" the command works.

Thank you for the direction!

[2018-07-09 17:35] #11097 closed

[2018-07-09 17:36] MicahMcKittrick-MSFT commented on #11374
The Service Fabric team will often post release notes on MSDN:
https://blogs.msdn.microsoft.com/azureservicefabric/2018/01/26/service-fabric-6-1-release/

A list of full release notes can be found on their team blog:
https://blogs.msdn.microsoft.com/azureservicefabric/

They also post on the Azure Roadmap:
https://azure.microsoft.com/en-us/roadmap/?category=compute&query=service+fabric

Not really

[2018-07-09 17:37] PatAltimore commented on #10080
#please-close

[2018-07-09 17:38] PatAltimore commented on #10502
#please-close

[2018-07-09 17:40] Mike-Ubezzi-MSFT commented on #11393
@kazshi The tutorial uses a database name called "SampleDW" but if you happen to create an empty DW instance that is under a different name, you will need to update all subsequent steps where 'SampleDW' is used for the data loading steps, with the specific name that you happen to use. The important part is that you create an empty database so that the data load steps complete successfully.

An exa

[2018-07-09 17:40] PatAltimore commented on #10574
#please-close

[2018-07-09 17:40] hartmg519 opened #11435 "O365 Tenant Restriction is preventing access to non-cloud applications because of AD Application Proxy"
Hi.  Our tech consulting firm recently implemented Azure AD App Proxy to manage authentication for its on-prem MS Project Server.  The problem is that my organization (their client) has applied tenant restrictions to all external O365 tenants, which is preventing me from completing authication through this new service.  However, I have no desire to access their O365 tenant; I only need to get to t

[2018-07-09 17:40] josere commented on #11343
#average-partition-load-trigger-with-instance-based-scaling mentions "The only mechanism that can be used with this trigger is PartitionInstanceCountScaleMechanism.", but PartitionInstanceCountScaleMechanism is not a valid mechanism. The correct value should be InstanceCountScalingMechanism, correct?

[2018-07-09 17:41] vasivara-MSFT commented on #11404
@ProteusTitan Can you please explain more about the issue?

[2018-07-09 17:41] girishgouda commented on #11379
Awaiting an early response

[2018-07-09 17:42] vasivara-MSFT commented on #11410
@HemantChandurkar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-09 17:43] jrichview commented on #11337
I discovered that I was able to get it to work in Chrome.

[2018-07-09 17:43] vasivara-MSFT commented on #11417
@simonnuss Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-09 17:44] MicahMcKittrick-MSFT commented on #11381
@lfrancfort I tested the script in the doc but it ran without issue:

PS C:\WINDOWS\system32> $rgName = 'MicahPrivateIP'
$vmName = 'MicahPrivateVM'
$location = 'East US'
$storageType = 'Premium_LRS'
$dataDiskName = $vmName + '_datadisk1'

$diskConfig = New-AzureRmDiskConfig -SkuName $storageType -Location $location -CreateOption Empty -DiskSizeGB 128
$dataDisk1 = New-AzureRmDisk -DiskName $dataDis

[2018-07-09 17:45] josere commented on #11343
I guess PartitionInstanceCountScaleMechanism  is valid in C#, but not in the ApplicationManifest.xml.

[2018-07-09 17:45] vasivara-MSFT commented on #11431
@viswanath-puttagunta Thanks for the valuable feedback! We appreciate it. I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-09 17:46] MicahMcKittrick-MSFT commented on #11389
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-07-09 17:46] kobulloc-MSFT commented on #11098
@eschneider999 That should be automatically generated and filled in by default (or at least it was for me).  When you went through the documentation tutorials, did you do the [Quickstart > Create an instance - Portal](https://docs.microsoft.com/en-us/azure/api-management/get-started-create-service-instance) and [Tutorials > 1 - Import your first API](https://docs.microsoft.com/en-us/azure/api-mana

[2018-07-09 17:46] hirokib commented on #10545
#please-close

[2018-07-09 17:46] grhuynh commented on #11306
Hi @clementlrms

Sorry, I am not able to replicate your error. If you follow the instructions here https://docs.microsoft.com/en-us/azure/genomics/quickstart-run-genomics-workflow-portal to download the config.txt file from the Azure portal, the list command works as described, using only the command as follows: `msgen list -f "full path of the config file"`.

Based on the error you have reported,

[2018-07-09 17:48] MicahMcKittrick-MSFT commented on #11397
Thanks @SunnyOswal! I have fixed the doc. Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-07-09 17:49] MicahMcKittrick-MSFT commented on #11409
Thanks @pulkitsinghal. I will assign to the content author to review and see if we can make the doc more clear.

@ramankumarlive can you take a look?

[2018-07-09 17:49] #10080 closed

[2018-07-09 17:50] YutongTie-MSFT commented on #11126
@Louicha We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-09 17:50] #11126 closed

[2018-07-09 17:50] YutongTie-MSFT commented on #6207
@revodavid We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-09 17:50] #6207 closed

[2018-07-09 17:51] #11049 closed

[2018-07-09 17:51] YutongTie-MSFT commented on #8127
@SalmanUlla We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-09 17:51] #8127 closed

[2018-07-09 17:51] YutongTie-MSFT commented on #11153
@apeyrat We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-09 17:51] #11153 closed

[2018-07-09 17:52] MicahMcKittrick-MSFT commented on #11337
Great! I will close this for now. If you have further issues just let me know.

[2018-07-09 17:52] #11337 closed

[2018-07-09 17:55] MicahMcKittrick-MSFT commented on #11424
Thanks for the question! We are investigating and will update you shortly.

[2018-07-09 17:56] MicahMcKittrick-MSFT commented on #11426
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-09 18:02] femsulu commented on #11401
@iapple99 Thanks for bringing this to our attention. Your question has been shared with the content owner for further review.

[2018-07-09 18:05] TravisCragg-MSFT commented on #11384
@brunocormack I was able to create a VM without the "--admin-username" parameter. According to the [AZ VM Create cmd](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create), it is not a required parameter, and will default to "VssAdministrator" if no value is specified.

Is your CLI fully updated?

[2018-07-09 18:07] MohitGargMSFT commented on #11430
@rpscott Thanks for your feedback! We have different documents as collated in this article to target different customer requirement. Based on different implementations best practice would vary and hence, the documentation is done accordingly so that it helps in most of them. I hope you got the intent on why it is organized this way.

[2018-07-09 18:08] PatAltimore commented on #10713
@d-manoharan & @rahulpandya295,

We use GitHub issues on docs.microsoft.com for documentation feedback. For support, you should post questions to the forum. https://aka.ms/workbenchforum.  I'm sorry.  I don't know the answer to your specific question.

Pat

#please-close

[2018-07-09 18:09] reza2502 commented on #9548
Hi Saurabh.
Do you have a working ASP.NET solution which has the SAML integration in it?
I see there is a great difference between how we implement OAuth2 and SAML2. I needed some help in setting up the ASP.NET app with Azure AD SAML Authentication.

[2018-07-09 18:15] TravisCragg-MSFT commented on #11392
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-09 18:16] DaveDXC commented on #11398
Hi Jeff,
Please reread my comment.
I had already run Unregister-AzsEnvironment on my internet connected machine to remove the registration from my public Azure subscription.
I then ran Remove-AzsActivationResource on my Stack connected machine (with no Internet connection) and this failed.

[2018-07-09 18:16] YutongTie-MSFT commented on #11416
@xiashaohua2010 Thank you very much, I have made the change and it should be fixed shortly.

[2018-07-09 18:16] #11416 closed

[2018-07-09 18:18] DaveDXC opened #11437 "Reopening 'Removing Activation on Disconnected Stack fails'"
Hi Jeff,
Please reread my comment.
I had already run Unregister-AzsEnvironment on my internet connected machine to remove the registration from my public Azure subscription.
I then ran Remove-AzsActivationResource on my Stack connected machine (with no Internet connection) and this failed as it tried to connect to a public Azure environment.

---
#### Document Details

⚠ *Do not edit this section.

[2018-07-09 18:19] ianpowell2017 commented on #11377
Yes, the problem was how to get to the configuration value set in the portal.

Thanks

[2018-07-09 18:19] #11397 closed

[2018-07-09 18:19] hukun01 opened #11438 "Could you clarify the meaning of "condition" field in ARM template's resource section?"
In Section Available properties, the use of the "condition" field is a bit confusing. In the JSON part, there is an example saying:

Looks like "condition" is a flag to turn on/off the deployment for this resource. However, in the below table, it says:

Could you clarify what is the meaning of the "condition" field?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-07-09 18:20] apwestgarth commented on #11041
Thanks for the feedback, will be modifying the document to make this more explicit as this section is optional.  This phrasing will be reworked - _Azure App Service on Azure Stack lets you deploy the resource provider to an existing virtual network **or** lets you create a virtual network as part of the deployment._

[2018-07-09 18:24] TravisCragg-MSFT commented on #11419
@butchmarshall Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-09 18:31] TravisCragg-MSFT commented on #10796
@lzieba91 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-09 18:31] #10796 closed

[2018-07-09 18:35] eschneider999 commented on #11098
no, was trying to do a trace on an existing site/api and it was not filled in and had no idea what to do.

----------------------------------------
 From: "kobulloc-MSFT" <notifications@github.com>
Sent: Monday, July 9, 2018 12:47 PM
To: "MicrosoftDocs/azure-docs" <azure-docs@noreply.github.com>
Cc: "eschneider999" <eric.github@frozenelephant.com>, "Mention" <mention@noreply.github.com>
Subject: R

[2018-07-09 18:41] TravisCragg-MSFT commented on #11255
@SamirFarhat you can find [more information on Caching Here](https://docs.microsoft.com/en-us/azure/cdn/cdn-how-caching-works).

1. Files Cached in a CDN are usually refreshed a set duration, or by manually refreshing the files.
2. You can use the CDN for any type of file that you would like, but it is designed to be used for public files.
3. Unfortunately I am unable to provide a timeline for the

[2018-07-09 18:42] apwestgarth commented on #11275
Hi @apercova can you clarify a couple of your statements please?

1. You stated you deployed onto a domain joined server using a local account, correct?

2. How are you connecting to the fileshare and SQL, using local users/sql users or domain accounts?

3. How are you accessing the portal - via a browser on another machine?  Are you using the Fully Qualified Domain Name or just machine name i.e.

[2018-07-09 18:43] tinod opened #11440 "Fix permissions on demo links."
The demo links in this article request way too much access. We should use a client app which only requires the "Sign-In" permission. Not "Read all your email" and "Access your data anytime".
 (https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=6731de76-14a6-49ae-97bc-6eba6914391e&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%2Fmyapp%2F&response_mode=query&scope=openi

[2018-07-09 18:46] SaurabhSharma-MSFT commented on #11262
@FcrNah I am able to retrieve the Ctry claim in id_token.  See screenshots below -
**Manifest file**
![image](https://user-images.githubusercontent.com/38112130/42469645-2db628f0-836d-11e8-94ab-a1fc493b07ec.png)

**Received Claim**
![image](https://user-images.githubusercontent.com/38112130/42469778-8f2ac55a-836d-11e8-8a33-0b72f1b30277.png)

[2018-07-09 18:48] CIPop opened #11441 "SETX /M Path is truncating the path to 1024 characters"
Running the first step on my Windows 10 machine I'm getting:

[code]

`WARNING: The data being saved is truncated to 1024 characters.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e019e105-d2e5-9120-82f3-618d0a507bda
* Version Independent ID: 7f4b7402-31d7-6fdf-6ca6-04c820d2a6d3
* Content: [How to install Azure IoT E

[2018-07-09 18:48] jrichview opened #11442 "Core concerns not really addressed"
While it's great that you can do all this via the portal, your documentation depicts no code. It's unclear from the generated code when exactly the item is removed from the queue. How does one structure code that manages when and if a queue item is processed, particularly in terms of error/exception handling?  These are the basic concerns that a function developer would want to see on this documen

[2018-07-09 18:51] jrichview commented on #11442
Sorry, I should not say it depicts "no code", but it only shows one line of code for logging that the function was called. It would have been clearer to say that the code does not clarify how to manage when/if a queue item should be removed from the queue. Presumably one would want to have the function code completed successfully before removing it from the queue.

[2018-07-09 18:57] CelesteDG commented on #11440
Hello @tinod - Thank you for your feedback. I'm following up with our PM and dev to see how we can address your feedback. Will update this thread with more info when I have more info.

[2018-07-09 19:02] tdykstra commented on #11354
@codemillmatt Do you know the answer to this question?

[2018-07-09 19:02] MohitGargMSFT commented on #11314
@rikgarner We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-07-09 19:02] #11314 closed

[2018-07-09 19:06] AntCeee commented on #11413
Many thanks for such a prompt reply. I have now been able to install the iothub client libraries, although I experienced a small issue which may be worth sharing.

After updating the environment as mentioned I was still getting the same error before the install, however a reboot of the Raspberry Pi gave a different error running any pip command, e.g.
pip --version
Traceback (most recent call last)

[2018-07-09 19:07] MohitGargMSFT commented on #11359
@erapade I am afraid that it is not possible. This is Azure SQL Database feature, so when Azure database is created with Premium tier, AlwaysON replicas are created. And this Read Scale-Out feature allows you to load balance SQL Database read-only workloads using the capacity of one of the read-only replicas instead of sharing the read-write replica.

[2018-07-09 19:09] MicahMcKittrick-MSFT commented on #11377
Thanks @ianpowell2017. We will close this for now as we do have plans to address this but until the changes in V2 code are done we don't want to update this specific doc. Let me know if you need anything else in the meantime.

[2018-07-09 19:09] #11377 closed

[2018-07-09 19:12] SaurabhSharma-MSFT commented on #11283
@mhs2342 Can you please try going through the document [here](https://docs.microsoft.com/en-nz/azure/active-directory-b2c/configure-ropc).  This is for B2C but you can check if this helps in your case.

[2018-07-09 19:15] MicahMcKittrick-MSFT commented on #11164
I do see the doc itself needs updating to reflect the portal changes. However the process for requesting more cores appears to still be similar. The naming convention has simply changed.

[2018-07-09 19:20] ronsonntag54 opened #11444 "How does Workbench handle person IDs outside of the subscription and not part of AD?"
Interested in workflows that encompass 3rd parties outside of the organization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11f181a1-18f7-aa0a-bc39-df4d603a7a76
* Version Independent ID: 042c34b1-b776-3e5f-3a76-509d58c42c3f
* Content: [Azure Blockchain Workbench overview](https://docs.microsoft.com/en-us/azure/block

[2018-07-09 19:29] JasonWHowell commented on #10741
#please-close

[2018-07-09 19:31] MicahMcKittrick-MSFT commented on #11442
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-07-09 19:33] TravisCragg-MSFT commented on #11437
continuation of #11398

[2018-07-09 19:36] diegor18 commented on #9659
Is there any update to this situation?

[2018-07-09 19:37] CIPop opened #11445 "Using ACR: authentication required error"
After filling .env I still can't push the docker image to ACR:

[code]

I can work around by first logging in the `docker` client:
`docker login &lt;ACR_domain_name&gt;`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c98493ac-edae-593a-2fd8-d4e25787c6ef
* Version Independent ID: 3235ee03-677f-9e21-6464-471743536234
* C

[2018-07-09 19:44] fboylu commented on #8946
@ramkumarkrishnan Hi Ram, can you look into this please as I am not sure what the issues is and you are the one who edited the article. Thanks.

[2018-07-09 19:48] j-martens commented on #8946
@YutongTie-MSFT can you assign to  Ram?

[2018-07-09 19:49] ecfan commented on #11298
@ToMakeSense: I pushed an update that should go live this afternoon.

[2018-07-09 19:52] CelesteDG commented on #9702
@SaurabhSharma-MSFT @MohitGargMSFT @femsulu @MicahMcKittrick-MSFT - Hello. Can you #please-close? This has been resolved. Thank you.

[2018-07-09 19:55] CelesteDG commented on #9758
@BryanTrach-MSFT @amanarneja @SaurabhSharma-MSFT - I asked for additional info for clarification, but have not heard back. I checked with the feature team on this and it's not clear what parameter is being asked about (have mentioned to the customer). Given no response after my follow up from 26 days ago, can we #please-close this issue? Thank you.

[2018-07-09 19:55] codemillmatt commented on #11354
Yes - it should be `CreateMessageOptions` in the 2.x samples. I'll put in a PR to update this today.

[2018-07-09 19:56] derekbekoe commented on #5187
Can we re-open this GitHub issue and add a note to the doc page on this?
In this comment, it was suggested that a note would be added to the doc but I don't believe that has happened yet as I see no mention of it (Windows only support) on this page - https://docs.microsoft.com/en-us/azure/storage/files/storage-snapshots-files.
https://github.com/Azure/azure-cli/issues/5712#issuecomment-369791031

[2018-07-09 19:58] BryanTrach-MSFT commented on #9758
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-09 19:58] #9758 closed

[2018-07-09 20:02] #10741 closed

[2018-07-09 20:03] chanaka-jostle commented on #5187
Hello,

Do you plan on providing support to connect to a snapshot directly from
CIFS on Linux? I would be really beneficial.

On Mon, Jul 9, 2018 at 12:56 PM Derek Bekoe <notifications@github.com>
wrote:

[2018-07-09 20:17] YutongTie-MSFT commented on #11350
@gopitk Hi, this is a doc-enhancement issue, can you please check the issue & [the reference doc](https://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated) and update the document as necessary? Thanks a lot!

[2018-07-09 20:19] ecfan commented on #9486
@mike-urnun-msft: Mike, please close as we have a work item tracking this issue now. Thanks!

[2018-07-09 20:20] ecfan commented on #9818
@mike-urnun-msft - Please close, we have a work item for this issue now, thanks!

[2018-07-09 20:21] #11381 closed

[2018-07-09 20:22] ausfeldt commented on #10980
@joefeser https://www.nuget.org/packages/Microsoft.Azure.DocumentDB.Core/2.0.0-preview has the changes that were in 1.10.0. DocumentClient methods now has parity with IDocumentClient, which was one of the main reasons for 2.0.0 bump. The official 2.0.0 will include a bump to Newtonsoft Json.NET 9.x and combine the .NET Framework and .NET Core into a single package.

[2018-07-09 20:23] #11227 closed

[2018-07-09 20:24] hukun01 opened #11447 "How does array(convertToArray) function work with dictionary object?"
Hi,

I'm trying to combine 2 arrays in my ARM template into one dictionary, because I need 1-to-1 mappings for elements in these 2 arrays. I was looking at the array(convertToArray) method in the documentation, it looks like the `"objectToConvert": {
            "type": "object",
            "defaultValue": {"a": "b", "c": "d"}
        }` was converted to `[{"a": "b", "c": "d"}]`, which looks like

[2018-07-09 20:24] SaurabhSharma-MSFT commented on #9702
@GavinPG We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-09 20:24] #9702 closed

[2018-07-09 20:28] floresj opened #11448 "Webapps for Containers REST API"
In looking at the `Web Apps - Create or Update` REST API documentation (https://docs.microsoft.com/en-us/rest/api/appservice/webapps/createorupdate), I don't see any properties where we can specify the docker deployment information. Is there a way to create a web app that uses a docker image via the REST API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-07-09 20:31] jason-j-MSFT commented on #11363
@ShubhaVijayasarathy I would not go that far to say you will not have to make any changes to your current clients, as there is so much variation in individual environments.  The quoted statement only refers to not having to manage clusters, not that all existing clients will be fully ready to switch with no modifications.

[2018-07-09 20:31] #11363 closed

[2018-07-09 20:32] hirokib commented on #7958
#please-close

[2018-07-09 20:33] hukun01 commented on #11447
I'm closing this. I think I've figured out what to do. I assume if I have `"objectToConvert": { "type": "object", "defaultValue": [{"a": "b", "c": "d"}, {"a": "b2", "c": "d2"}] }`, array() method should give me `[{"a": "b", "c": "d"}, {"a": "b2", "c": "d2"}]`.

[2018-07-09 20:33] DCtheGeek commented on #11108
@thuansoldier If you have additional comments or questions about the docs, please go ahead and open a new Issue.  At this point, I'm going to ask for this Issue to be closed.  Thanks!  #please-close

[2018-07-09 20:36] YutongTie-MSFT commented on #11322
@LanderVe Hi, thanks for your feedback. Since this is not document issue but a product issue, I posted it in the correct forum. Please keep eyes on [it](https://cognitive.uservoice.com/forums/430309-computer-vision-api/suggestions/34785664-results-are-very-poor-using-the-api). Thanks again.
We will now proceed to close this thread. If there are further questions regarding this matter, please reope

[2018-07-09 20:36] #11322 closed

[2018-07-09 20:37] jason-j-MSFT commented on #11372
@kgremban we have a suggested change to the capitalization on the "onDesiredPropertiesUpdate" method.

[2018-07-09 20:39] gopitk commented on #7758
This issue was already fixed several weeks back. Sorry for the last comment. We can close this.

[2018-07-09 20:42] heatherbshapiro commented on #7591
merged in #46163

[2018-07-09 20:43] pazhuo opened #11449 "Importing Failure"
I am importing data into the Azure database through SSMS.
I used either " bcp Course in SampleCourseData -S &lt;zoey-database.database.windows.net&gt;.database.windows.net -d &lt;mySampleDatabase&gt; -U &lt;******&gt; -P &lt;******&gt; -q -c -t ","" and "bcp Course in C:\Users\Eli\Downloads\SampleTableData\SampleCourseData.txt -S &lt;zoey-database.database.windows.net&gt; -d &lt; mySampleDatabase&

[2018-07-09 20:46] CIPop opened #11450 "Module debugging doesn't work as described"
After setting up iotEdge locally (Windows service + Linux Docker), I'm getting the following exception in Init when trying to debug:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c98493ac-edae-593a-2fd8-d4e25787c6ef
* Version Independent ID: 3235ee03-677f-9e21-6464-471743536234
* Content: [Debug C# modules for

[2018-07-09 20:48] kobulloc-MSFT commented on #11098
@eschneider999

1) Go to the **Developer Portal**
2) In the upper right, click on the drop down menu and select **Profile**
In your profile, you will be able to view/regenerate/copy your keys
3) Click on Show next to your key and copy it
Repeat the steps to test your API
4) Use the copied key as the **OCP-Apim-Subscription-Key**.

![image](https://user-images.githubusercontent.com/37556655/4247502

[2018-07-09 20:48] vasivara-MSFT commented on #7758
@SpaceRangerWes We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-09 20:48] #7758 closed

[2018-07-09 20:52] BradleyBartlett commented on #11398
Apologies for the confusion @DaveDXC. Can you share with me the error you are getting? With the current master version of RegisterWithAzure.psm1 I do not see any code referencing the check for the Azure Environment. [Code on Github](https://github.com/Azure/AzureStack-Tools/blob/master/Registration/RegisterWithAzure.psm1)

On line 895 there is a call for Login-AzureRmAccount where the -Environment

[2018-07-09 20:52] kobulloc-MSFT commented on #11098
@vladvino We may want to add a line in the documentation about how to get the Ocp-Apim-Subscription-Key value as this question has appeared a couple times in the forums.  Something like:

"You can get the **Ocp-Apim-Subscription-Key** by going to the **Developer Portal**, looking at your **Profile**, and showing the keys under **Your subscriptions**."

[2018-07-09 20:53] iainfoulds commented on #11386
Sorry you ran into issues, @amazaheri. I'll work on updating the steps in the doc to note the role assignment required for RBAC-enabled clusters.

#in-progress

[2018-07-09 20:53] femsulu commented on #11311
@gadhiyanilesh54 Good question. You have a few options to update an existing Diagnostic Extension on an IaaS Machine. This can either be done via Template, Powershell or CLI. Steps are detailed [HERE](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/extensions-diagnostics), You may also find [this](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-templa

[2018-07-09 20:58] jason-j-MSFT commented on #11390
@dominicbetts could you take a look at this one, there may be a wording error here.

[2018-07-09 21:02] jason-j-MSFT commented on #11327
@jeffhebrank I don't think its a bug as you received a pretty specific error for it.  I agree with you that it would be a good feature.  You can leave your feedback for the product team here:
https://feedback.azure.com/forums/270578-data-factory

[2018-07-09 21:02] #11327 closed

[2018-07-09 21:12] rthorn17 commented on #11115
Thanks for pointing this out.  We just released that change and I have the updated docs out for review.  Should be updated shortly.

[2018-07-09 21:13] hirokib commented on #8176
We understand this issue and are working on a fix currently to address the potential for customers to generate duplicate values by turning on and off IDENTITY_INSERT.

[2018-07-09 21:14] BryanTrach-MSFT commented on #7281
@michaeldaw As shared earlier, we highly suggest using the cloning feature. The 'change app service plan' feature has limitations, and in the referenced URL, the product group calls out the limitation.

If your destination app service plan is not in the same web space, your best option is to proceed with the cloning feature. Neither Microsoft nor the end user has control over what web space your A

[2018-07-09 21:15] Phydeauxman opened #11451 "Documentation seems outdated or incomplete"
When reviewing the guidance in this documentation using the Apps in our environment, there was no "Single Sign-on" option to click-on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b16feb18-abbe-5687-e543-afc10e3001ad
* Version Independent ID: 194b7ae7-ef89-aa3e-a889-7aea5952dad9
* Content: [Debug SAML-based single si

[2018-07-09 21:16] MicahMcKittrick-MSFT commented on #11442
Thanks @jrichview. The quickstart guides are designed to be very basic and to give a new Azure user a starting point into a particular scenario. Hence, many additional asks that some may have might be consider too complex for a quick start.

We do have some additional information for the bindings that functions uses when working with que storage:

https://docs.microsoft.com/en-us/azure/azure-funct

[2018-07-09 21:18] SnehaGunda commented on #10339
@AlexanderTodorovic are you currently blocked? As the doc says, it's tested with Python 2.7 version, we will plan to update it to 3.6 version soon.

[2018-07-09 21:19] tfitzmac commented on #11340
A fix is in the works.

[2018-07-09 21:21] brokenjpl commented on #11340
Thanks for the update @tfitzmac.

Would you know if this is a Portal Azure UI issue, or a documentation issue?  Will I still be allowed to use the colon [:] character in a tag name?

[2018-07-09 21:21] MicahMcKittrick-MSFT commented on #11426
@iainfoulds @neilpeterson do either of you know if it is possible to do this on an existing cluster?  I thought I remembered we could not do it at this point as the feature is still in preview. But I am not finding any actual references to it so I am not sure.

[2018-07-09 21:28] #11347 closed

[2018-07-09 21:30] brokenjpl commented on #11340
Great. Thanks much!

[2018-07-09 21:35] SaurabhSharma-MSFT commented on #11335
@arsenvlad I have assigned this issue to content author to investigate and update the document as appropriate.
@daveba can you please help updating the document with additional details or steps required between 1 and 2.

[2018-07-09 21:35] kobulloc-MSFT commented on #11229
@amsriva I'm unable to say with confidence that the link is either correct or incorrect.  I'll need an author to verify this.

[2018-07-09 21:40] SaurabhSharma-MSFT commented on #11334
@arsenvlad The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-07-09 21:40] #11334 closed

[2018-07-09 21:43] whyi opened #11453 "typo on the comment"
&lt;!-- Without the following section, only https://accouonts.google.com is allowed.
should be accounts.google.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84f82a27-b0e9-dfbe-19d9-e1dc2c13c1e8
* Version Independent ID: 1c9a1405-9a17-0a49-9451-11af3d082fea
* Content: [Azure API managment policy sample - Authorize

[2018-07-09 21:48] DaveDXC commented on #11398
Hi Bradley,

Sorry, I think I was mistaken with the comments around the environment. However looking at line 895, I can see what the error is - it's logging on using AAD - in disconnected environments you have to use ADFS.

Regards,
Dave

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Bradley Bartlett <notifications@github.com>
Sent: Monday, July 9, 2018 9:5

[2018-07-09 21:49] Mike-Ubezzi-MSFT commented on #11449
@pazhuo Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-09 21:51] sergaz-msft commented on #11413
@AntCeee I really appreciate that you came back and shared the steps you took to overcome the issue :). It will definitely help others.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-09 21:51] #11413 closed

[2018-07-09 21:52] Mike-Ubezzi-MSFT commented on #11421
@Gimly Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-09 21:53] pemj commented on #10231
Just got back from vacation, working on this project again, is there an update on adding functions to the action group docs?

[2018-07-09 21:53] hirokib commented on #10545
@Mike-Ubezzi-MSFT #please-close

[2018-07-09 21:54] Mike-Ubezzi-MSFT commented on #11433
@bertique Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-09 21:56] Mike-Ubezzi-MSFT commented on #11441
@CIPop Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-07-09 21:59] cristianoroma commented on #9428
Azure Conditional Access will not work with ADFS. You need an Azure AD Premium P1 ou P2 license to configure conditional access. After that, you can uninstall your ADFS servers and use application protection offered by Azure AD Premium/Intune. This is the best scenario for production.

[2018-07-09 21:59] Mike-Ubezzi-MSFT commented on #11445
@CIPop Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-09 22:00] Mike-Ubezzi-MSFT commented on #11445
@shizn The first step should be to authenticate and then proceed with the steps outlined.

[2018-07-09 22:00] BradleyBartlett commented on #11398
I see! Thank you for bringing this to our attention. I'll take a look and see what needs to be done to fix this. In the meantime, you can try modifying the function downloaded to your Azure Stack to fit your needs. Let us know if you hit any other issues.

[2018-07-09 22:02] Mike-Ubezzi-MSFT commented on #11450
@CIPop Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-09 22:04] ramkumarkrishnan commented on #8946
@YutongTie-MSFT
Replied via email to Yutong cc: @j-martens and @fboylu
"I see the problem, Yutong. You are saying that this article is “content” but has been categorized under APIs in the TOC on the left pane under "Team Data Science Process Documentation". But I don’t think I can fix the directory structure (there are other doc articles of similar nature under APIs). This will have to be done as

[2018-07-09 22:07] SaurabhSharma-MSFT commented on #11336
@arsenvlad The VM extension for Manages Service Identity will be deprecated soon and going forward the Azure Instance Metadata Service will be used instead and thus it is encouraged to users to use the IMDS endpoint.

[2018-07-09 22:11] codemillmatt commented on #11354
Merged in - updates will appear shortly

[2018-07-09 22:11] #11354 closed

[2018-07-09 22:13] ahmedelnably commented on #11021
This one is by design in cloudshell, the command was ran from the quickstart folder not the app folder.
Please re run from the app folder.

Missing command:  cd html-docs-hello-world

[2018-07-09 22:32] WDarwish opened #11455 "Unable to Acess Sample Setup Script"
Documentation contains an SAS URL to a sample setup script.
I am unable to access this URL using Storage Explorer 1.2.0, keep getting errors preventing me from accessing the sample:
[Window Title]
Storage Explorer has encountered an unexpected error:

[Content]
The requested action could not be completed.

Details: The provided URI "undefined" is invalid.

---
#### Document Details

⚠ *Do not edit

[2018-07-09 22:35] hirokib commented on #7958
#please-close @Mike-Ubezzi-MSFT

[2018-07-09 22:42] sergaz-msft commented on #11420
@erwindemoel ["Create and provision an Edge device with a virtual TPM on a Linux virtual machine"](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-simulated-device-linux) tutorial guides you on how to simulate TPM on a Linux virtual machine (VM) in Hyper-V (not on a Raspberry Pi 3).

Rasperry Pi 3 does not come with a TPM chip and [the supported alternative to software-emulat

[2018-07-09 22:44] sergaz-msft commented on #11420
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-09 22:44] #11420 closed

[2018-07-09 22:54] WDarwish commented on #11455
Storage Explorer 1.1.0 works fine, so I guess this is something wrong with 1.2.0?

[2018-07-09 22:56] SaurabhSharma-MSFT commented on #11429
@Powerhelmsman Please refer to [Manage multiple Azure subscriptions](https://docs.microsoft.com/en-us/powershell/azure/manage-subscriptions-azureps?view=azurermps-6.4.0) and [Get-AzureRmSubscription](https://docs.microsoft.com/en-us/powershell/module/azurerm.profile/get-azurermsubscription?view=azurermps-6.4.0) documentation links.  This link also has other RM commands available.

[2018-07-09 23:03] SaurabhSharma-MSFT commented on #9205
Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to investigate and include into their plans.
You can also provide your comments or Upvote existing sign-in feedback using this [link](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34482052-the-proposed-updat

[2018-07-09 23:03] #9205 closed

[2018-07-09 23:03] spongemagnet opened #11456 "syntax error in script to create database & filegroups"
This script generates a create database statement including an extra comma after the last filegroup definition and before "LOG ON" Remove this comma.

The same file name 'FileGroup1' is specified for each additional data file, change this to be unique among files in the database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-07-09 23:07] TravisCragg-MSFT commented on #11437
Reopened #11398, closing this as a duplicate. The Conversation is best continued with the context.

[2018-07-09 23:07] #11437 closed

[2018-07-09 23:08] YutongTie-MSFT commented on #11369
@djvibe Hi, this is a product question about the other on product of Azure -- Application Insight. To analyze the data of your Knowledgebase result, please refer to [the document](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-analytics-tour) first. And if the document does not solve your problem, please post the issue in our [Application Insight forum](https://social.msd

[2018-07-09 23:08] #11369 closed

[2018-07-09 23:08] kobulloc-MSFT commented on #11453
@whyi Thank you for catching that!  We'll update this shortly.

[2018-07-09 23:09] SaurabhSharma-MSFT commented on #11258
@matdcooper We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-09 23:09] #11258 closed

[2018-07-09 23:14] SaurabhSharma-MSFT commented on #11451
@Phydeauxman Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-09 23:20] femsulu commented on #11447
@hukun01 thanks for the update. We will now close this issue out as "resolved by customer". Don't hesitate to ping if you have any follow up questions.

[2018-07-09 23:20] #11447 closed

[2018-07-09 23:21] #10545 closed

[2018-07-09 23:22] SaurabhSharma-MSFT commented on #11435
@hartmg519 Thanks for your feedback! We will investigate and update as appropriate.

[2018-07-09 23:28] SaurabhSharma-MSFT commented on #11108
@thuansoldier We will now proceed to close this thread.

[2018-07-09 23:28] #11108 closed

[2018-07-09 23:28] YutongTie-MSFT commented on #11387
@xiashaohua2010 Can you please check if you are in the same directory of where you saved your pkl file? And please also check if the pkl file is hidden. Thanks.

[2018-07-09 23:29] #11386 closed

[2018-07-09 23:33] #11455 closed

[2018-07-09 23:38] YutongTie-MSFT commented on #11399
@nicowernli Hi, since this is not a document related issue, and according to the [document](https://docs.microsoft.com/en-us/azure/cognitive-services/speech/api-reference-rest/bingvoiceoutput#TrouNSupport), could you please post the issue in [Bing Speech Service MSDN forum](Bing Speech Service MSDN forum) for better help? Thanks a lot!

We will now proceed to close this thread. If there are furthe

[2018-07-09 23:38] #11399 closed

[2018-07-09 23:46] CesarSolis commented on #10288
Since some time GB refers to 1000 MB and GiB refers to 1024 MiB so the difference in terms is the base that is taken 10 or 2.

[2018-07-09 23:51] MohitGargMSFT commented on #11435
@hartmg519 Please note that you need to [publish the on-premise application through the Azure portal](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-publish-azure-portal) to provide secure remote access from outside your network using Azure Active Directory (AD) Application Proxy. So users can access the external URL of the published on-premise application an

[2018-07-09 23:52] Phydeauxman commented on #11451
I eventually found this by publishing a new app through the Enterprise Applications section.  All of our apps were created through the App registrations section and none of them had a Single Sign-On property.  The new app that I created via the Enterprise applications section showed up under App registrations section with all of the other apps we have.  Seems very confusing between the two.

[2018-07-09 23:58] BryanTrach-MSFT commented on #11448
@floresj From my understanding, we do not support creating docker based web apps via REST API at this time. Web App for Containers just left preview state in late 2017 so the product group is still in the process of adding additional features that might be available in Azure App Services (Windows). Please watch the [Azure Roadmap ](https://azure.microsoft.com/en-us/roadmap/?category=compute)for up

[2018-07-09 23:58] #11448 closed

[2018-07-10 00:05] hartmg519 commented on #11435
Thank you @MohitGargMSFT.  Perhaps I am confused about our situation - but my understand is that the consulting firm HAS published their on-prem environment (MS Project Server) through their Azure portal.....that's the problem.  External access to their Azure portal/O365 tenant from our external (client) network has been blocked by a [Tenant Restriction](https://docs.microsoft.com/en-us/azure/acti

[2018-07-10 00:08] kobulloc-MSFT commented on #11082
@joymon I'm going to close this, but tag me in your reply and we can pick this back up again whenever you come back to the thread.

[2018-07-10 00:10] kobulloc-MSFT commented on #11098
@eschneider999 We are going to close this thread as resolved but if there are any further questions regarding this matter, please tag me in your reply and we will be happy to continue the conversation.

[2018-07-10 00:10] #11098 closed

[2018-07-10 00:13] Cherisle opened #11458 "Confusion on whether route "sensorToPipeModule" is required when implementing own logic"
Hi, I'm trying to get started with implementing my own logic into multiple C# modules (both feeding and filtering data) and was wondering if the name of the top-most route under "Create your IoT Edge Solution," step 6 is required, specifically if I plan on moving on from the auto-generated simulated temperature data from image mcr.microsoft.com/azureiotedge-simulated-temperature-sensor:1.0 towards

[2018-07-10 00:16] YutongTie-MSFT commented on #11456
@spongemagnet Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@deguhath Hi, this is a doc-bug issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-07-10 00:18] kobulloc-MSFT commented on #11168
@craigsmitham I haven't been able to find anything in the documentation that would verify if this can be set specifically for availability tests.  I'm going to see if the author is able to confirm this.

[2018-07-10 00:19] femsulu commented on #11379
@girishgouda

Yes this is supported (ref screenshot below). That said, we recommend creating Policy definitions at a higher level, for example at the management group or subscription level, and assigning at the next child/resource-group level. For example, if you create a policy definition at the management group level, a policy assignment of that definition can be scoped down to a subscription le

[2018-07-10 00:19] MohitGargMSFT commented on #11435
@hartmg519 Lets take the discussion about your scenario in MSDN forum as that is the right forum to discuss specific implementation scenario. Please go ahead and create new [MSDN forum](https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required) thread. Please mention the MSDN thread link here, we will continue the discussion on

[2018-07-10 00:20] YutongTie-MSFT commented on #11298
@ToMakeSense We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 00:20] #11298 closed

[2018-07-10 00:21] YutongTie-MSFT commented on #11115
@omerzubair Hi, thanks for the feedback, please refer to above response. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 00:21] #11115 closed

[2018-07-10 00:21] mike-urnun-msft commented on #11247
Hey @piizei - so instead of easyauth.dll, another Docker container would handle the auth logic: **yourapp_middleware**. You can find this in the log if or after you enable Diagnostics on your App.

[2018-07-10 00:30] AlexanderTodorovic commented on #10339
Thank you for the explanation.

[2018-07-10 00:40] femsulu commented on #11204
@LNieuwmegen [This doc](https://docs.microsoft.com/en-us/azure/application-insights/application-insights-correlation) should have all the information you need.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-07-10 00:41] #11204 closed

[2018-07-10 00:45] wmengmsft commented on #11102
@msimecek, indeed this package has an incorrect dependency, sorry for the inconvenience. We will release a new package with the fix. In the meantime, explicitly installing the dependency helps to workaround the issue.

[2018-07-10 01:12] OldManSmithers opened #11459 "Powershell command not working"
Outstanding resource, and worked fine until the Powershell portion.  Unfortunately the above command wouldn't work and  gave the error "the term 'Install-windowsfeature' is not recognized as the name of a cmdlet..."

Googling seemed to point towards making sure the 64bit version of PowerShell was being used, but that didn't solve the issue for me.  Ended up having to go through the console as outl

[2018-07-10 01:18] xiashaohua2010 commented on #11387
@YutongTie-MSFT , Thanks for your kindly help!  I'm sure I checked the right directory and the hidden files are set to visible. and also I have asked my IT colleagues to help me check the proxy and firewall settings, but we cant find a clue, I don't know this issue caused by which side. btw, the file being saved even doesn't show a temporary file with a temporary name like other downloading way.

[2018-07-10 01:37] thuansoldier commented on #11108
@DCtheGeek I don't fully understand what you've explained. What is the purpose of **existingResourceGroups** ? it'd be much better to give an example and I can deploy to see its functionality.

Thank you.

[2018-07-10 01:45] quan01994 commented on #11233
no log  in /home/sfuser/sfdevcluster/data/log/Traces directory
![image](https://user-images.githubusercontent.com/20533465/42484478-c25b29b6-8425-11e8-861c-a50dc1c0055c.png)
what can I do？

[2018-07-10 01:49] nabhishek commented on #10943
@don4of4 the default value of max. concurrent job is set based on the machine size. The factors used to calculate this value depends on RAM and CPU cores of the machine. So more the cores/ memory, higher will be the default number.

When you increase the nodes, you will effectively have the sum of concurrent job limit values of all the nodes available. This is how you scale out. So 1 node let's yo

[2018-07-10 02:05] girishgouda commented on #11379
I was looking at the below. If we want to have a policy and assign it at the management group level instead of doing it for every subscription or resource using powershell

On 10-Jul-2018 5:49 AM, femsulu-MSFT <notifications@github.com> wrote:

@girishgouda<https://github.com/girishgouda>

Yes this is supported (ref screenshot below). That said, we recommend creating Policy definitions at a higher

[2018-07-10 02:10] TravisCragg-MSFT commented on #11444
@ronsonntag54 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-10 02:17] kazshi commented on #11393
Thanks for your detailed explanation. I think I understand now - I thought the 'mySampleDatabase' is actual sample database name and just wondering why it's a different name from the tutorial.

[2018-07-10 02:17] #11393 closed

[2018-07-10 02:20] TravisCragg-MSFT commented on #11458
@Cherisle Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-07-10 03:04] TravisCragg-MSFT commented on #11459
@OldManSmithers I was able to use the "Install-windowsfeature" cmdlet without an issue. Are you sure you used the correct operating system?

[2018-07-10 03:13] SnehaGunda commented on #10339
#please-close

[2018-07-10 03:13] SnehaGunda commented on #9559
#please-close

[2018-07-10 03:30] SnehaGunda commented on #10508
@YuqiWWW another user who ran into same issue reported that he was able to fix it by upgrading the "System.Net.Http" NuGet package on the main entry point application to match the package referenced in the Cosmos DB Graph API project. Can you try that

Also this issue is being tracked here: https://github.com/Azure-Samples/azure-cosmos-db-graph-gremlindotnet-getting-started/issues/2

[2018-07-10 03:33] swinarko commented on #11455
The latest Storage Explorer 1.3.0 also works fine: https://azure.microsoft.com/en-us/features/storage-explorer/

[2018-07-10 03:34] DCtheGeek commented on #11108
@thuansoldier Sorry if I didn't answer your original question.  **existingResourceGroups** in `strongType` will give you a drop-down of Resource Groups in your subscription when setting values on a Policy through the Portal.

Each `strongType` provides a drop-down of values, as each is named, for use in the Portal. They are part of a Policy definition, but aren't explicitly useful when using the S

[2018-07-10 03:36] thuansoldier commented on #11108
Thank you @DCtheGeek . I thought **existingResourceGroups** was a function to allow to check the existence of target resources in a specific resource group like its name :).

[2018-07-10 03:41] DCtheGeek commented on #11108
@thuansoldier I understand the different perspective now, thanks.  The parameter section I linked above includes this snippet:

Within the metadata property, you can use `strongType` to provide a multi-select list of options within the Azure portal. Allowed values for `strongType` currently include:

- "location"
- "resourceTypes"
- "storageSkus"
- "vmSKUs"
- "existingResourceGroups"
- "omsWorkspa

[2018-07-10 03:45] muzzar78 commented on #10219
@ejarvi Do you have more details on simpler syntax that no longer requires AAD? I have made several attempts and keep getting the error below

[code]

[2018-07-10 04:13] ganeshthiagarajan opened #11461 "Claims Exchange working example"
The above example works only during ign-Up. In order to inject claims everytime a user logs in, we might have to follow Claims Exchange scenario where we pass input claims and let api generate output claims. Do we have a working example/explanation for claims Exchange? WIthout steps/examples, it is very hard to guess!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-07-10 04:43] rdr78 opened #11462 "There is only "user.assignedroles" and not "user.assignedrole", it is also not populated in the SAML Token"
There is only "user.assignedroles" and not "user.assignedrole", it is also not populated in the SAML Token. Whatever name you give to that new User Attribute, roles is always blank in the token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11a39d87-a57c-ef0b-eb9f-286d3ee65141
* Version Independent ID: a1257f6d-fa84-8

[2018-07-10 04:57] quan01994 commented on #11233
ok ，it's my fault ,
My virtual machine hard drive capacity is not enough.
But the documentation didn't tell me that I need at least 12G of capacity.

[2018-07-10 04:57] #11233 closed

[2018-07-10 05:10] kazshi opened #11463 "Unit for Max log size and TempDB size"
What is unit for 'Max log size' and 'TempDB size(DB)' (what does 'DB' mean?) in the tables?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5676aae7-73bc-c084-174b-50ba4fd7be77
* Version Independent ID: 0998f821-0f03-a833-b4b3-0d6ebd9468e5
* Content: [Azure SQL Database vCore-based resource limits - single database](htt

[2018-07-10 05:27] GagandeepS opened #11464 "pipeline().parameters.repeat value is not changed. How to exit Until?"
It is unclear from the documentation of the Example 2 that how to update or change the value of pipeline().parameters.repeat so that loop exits. There is no option in the UI and there is no expression or function that assigns or changes the pipeline parameter value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73ff4d

[2018-07-10 05:42] polarapfel commented on #11303
This link from the first paragraph also comes back with that same faulty response page: http://docs.microsofttranslator.com/text-translate.html#!/default/get_Speak

[2018-07-10 05:48] polarapfel commented on #11303
I did a quick search for what could cause that error.

It seems like this is caused by a faulty Akamai CDN setup. The published hostname in the Akamai configuration is not recognized by Akamai.

This is how it resolves for me.

docs.microsoft.com is an alias for docs.microsoft.com.edgekey.net.
docs.microsoft.com.edgekey.net is an alias for e8858.g.akamaiedge.net.
e8858.g.akamaiedge.net has address

[2018-07-10 05:51] brianbunke opened #11466 "Cloud Shell Training Availability"
Hi! The side-by-side integration with Azure Cloud Shell in this walkthrough is really, really cool. Great job!

I would love to publish similar interactive training, hosted on the Azure platform, with the user's own Azure Cloud Shell available during each step.

_Please_ consider open sourcing the source repo (or equivalent), or providing guidance another way. Thanks for the consideration! 😃

---

[2018-07-10 05:52] shershen08 commented on #11021
@ahmedelnably that could be the case, actually. I can't remember re-run everything from scratch now, but I suppose the issue is clear now

[2018-07-10 05:54] michaelringholm commented on #7513
Could someone clarify if "Allow access to Azure services" means applies only for the services in the given subscription, tenant or all of Azure?

[2018-07-10 05:56] shubham5526 opened #11467 "Support for Azure Active Directory B2C integration with ADFS"
I need some help for migrating the to AAD B2C and integrate it with the ADFS. I found some online material but it does not have proper explanation https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-custom-setup-adfs2016-idp#optional-register-the-adfs-account-claims-provider-to-profile-edit-user-journey.
Please help me out.

Thank You
Shubham Gupta

[2018-07-10 06:23] NicoThiemer opened #11468 "Script Error"
There is no more "Standard_D2_v2", today it is "Standard_DS2_v2".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b439325-8922-359a-9f55-e4a5bdf06339
* Version Independent ID: bb0f278c-8ea5-7656-be77-ed93ac9884d7
* Content: [Use Docker Machine to create Linux hosts in Azure](https://docs.microsoft.com/en-us/azure/virtu

[2018-07-10 06:44] alvincrisuy opened #11469 "Resource Owner Password - Username and password are invalid"
https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-ropc

Following the said tutorial and having some issues with the document URL.

I have encountered this kind of issue that the user that we have in B2C are not working.

{
    "error": "access_denied",
    "error_description": "AADB2C90225: The username or password provided in the request are invalid.\r\nCorrelation ID: d1c7df3

[2018-07-10 07:00] hukun01 opened #11470 "Can we not set the VM credentials?"
Hi,

We are configuring Service Fabric clusters for our team. In the Basics section of _Create cluster in the Azure portal_, is there a way to skip setting up the VM credentials? We would like to use AAD to access the VMs if possible, and to avoid keeping passwords on someone's box. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-07-10 07:13] Brucius opened #11471 "Error when running the ansible playbook"
Hi, running into an error when I ran the playbook. I've modified the ssh path and the key data. This is the error output I'm getting.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 510094c2-581d-6df4-f091-60dde3899e85
* Version Independent ID: 97865acf-0bee-d4f4-6f29-c3f9e5bb9aa3
* Content: [Use Ansible to creat

[2018-07-10 07:15] linda33wj commented on #11093
@jeffhebrank I think this question has been answered in StackOverflow https://stackoverflow.com/questions/51142783/using-adf-copy-activity-with-dynamic-schema-mapping. Kindly let know if more issue.

[2018-07-10 07:19] linda33wj commented on #11325
@jeffhebrank thanks for the confirmation. A related note, though the UI doesn't support it natively, I think you can make the entire SP parameters object as an expression, by editing the JSON in the Code directly. The UI may interpret such expression wrongly for now but runtime should work.

[2018-07-10 07:20] linda33wj commented on #11417
@simonnuss thanks for the feedback. You are right that currently OData connector doesn't support OAuth. To help us track the ask, could you let know which data store you want to connect via OData + OAuth?

[2018-07-10 07:21] ksemaev opened #11472 "Magic behind the ingress in Kubernetes"
There is a wonderful article: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/ingress.md
But it does not provide the details what exactly is hapenning after creating ingress? I mean the background of getting an external ip? Will azure create separate balancer? where would it map public ip?

The reason I'm asking is - I deployed Kuber on VMs in Azure and can't make the service

[2018-07-10 07:36] pgsoub opened #11473 "Java"
Could you do an quickstart tutorial on java?  If not, can we run a java application as a task? and how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b0f414-c89e-fff2-2fb5-22c5e1d5cfac
* Version Independent ID: 0a51681e-54a9-65c1-8ddf-e24a5e807587
* Content: [Azure Quickstart - Run Batch job - .NET](https://docs.mic

[2018-07-10 07:45] AdamMachera opened #11474 "Module not able to get device twin after power outage"
I’m testing a scenario where power cable is unplugged from device that is running iotedge.
After machine is plugged to power again one of the modules was able to successfully get the twin but the other module wasn't.
Here are the logs from edgeHub after machine went online for the module that was not able to get module twin:

2018-07-09 16:06:44.317 +00:00 [INF] [Microsoft.Azure.Devices.Edge.Hub.C

[2018-07-10 07:56] #11469 closed

[2018-07-10 08:01] SamirFarhat opened #11475 "Can we mount the disk to more than 1 node ?"
Hi,

Is this configuration highly available ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74be7378-92bc-0e59-0b70-c6b10e80d9b6
* Version Independent ID: f7f1eeb3-efe7-86e2-1fd7-04341b2c77cc
* Content: [Use Azure Disks with AKS](https://docs.microsoft.com/en-us/azure/aks/azure-disk-volume)
* Content Source: [

[2018-07-10 08:03] SamirFarhat commented on #11475
Can be closed, as this article confirms that only 1 node is supported.
https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv

Samir

[2018-07-10 08:03] #11475 closed

[2018-07-10 08:12] zhouwangzw commented on #11382
We have released [new Speech SDK](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/) which provides more features and functionalities. The Bing Speech SDK will be deprecated in future. I recommend you to use the new Speech SDK.

[2018-07-10 08:15] johnneycao opened #11476 "URL broken"
The URL for "DIY AD DS" from MSDN site is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d2c50b1-b6a2-a236-2845-5f1f8e05ab18
* Version Independent ID: 9e04a633-a70e-6f5a-4590-4e2cffe963b2
* Content: [Understand Azure Identity](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/understand-azur

[2018-07-10 08:16] dominicbetts commented on #11390
Hi @HowardHoffman - I'm currently looking into this, I'll update you as soon as I have a definitive answer. Thanks!

[2018-07-10 08:18] HemantChandurkar commented on #11410
Hi,
I got the solution from stackoverflow. However I suggest to add this point in the document.

Thanks!

[2018-07-10 08:24] kasunsjc opened #11477 "Create persistent volume claim"
Using annotation to call the storage class is deprecated from the v1.6 so its better to update docs. refer the below docs
https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/

If we use annotation K8s dashboard doesn't show the storage  class that pvc used. to avoid that we can use the new method.

Remove
  annotations:
    volume.beta.kubernetes.io/storage-class: managed-premium

Add

[2018-07-10 08:46] m1nkeh commented on #11212
right, i don't really have time to chase my tail when trying to find an answer to what (i think) is a simple question.. you have pointed me to the msdn forums, and they have now pointed me to stack overflow, please can you get it together and have a unified stance on this?

[2018-07-10 09:00] ChrWeinert opened #11478 "Error in Script"
Hello,
I put all the Power Shell Codes into a ps1-Script and run it with an adminstrator account. The execution fails at the following line of Code of the function New-CASelfsignedCertificate-function: write (New-SelfSignedCertificate @selfSignedArgs)

The error tells me that the Parameter is not vialid for the function call.

Can You please verify this issue and provide a way to solve the Problem

[2018-07-10 09:18] waheedhussain commented on #11412
please find link below

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/sql-database/sql-database-long-term-backup-retention-configure.md

[2018-07-10 09:28] rishtech commented on #7847
According to this article :-

Feature	                                                  Multi-Factor Authentication for Office 365
Protect non-admin accounts with MFA	● (Only for Office 365 applications)

If we have subscribed for any O365 service or license i will get access to the azure active directory.

Once we have enabled MFA for any user from the MFA portal, it does work for any application

[2018-07-10 09:50] chasedai opened #11481 "Data received is different from what I sent"
Hi, I followed the instructions on how to send and receive events with Java. The codes are working fine, but I see the files stored in my storage account contain info like this:
{"offset":"3304","sequenceNumber":59,"partitionId":"0","epoch":6,"owner":"storageacc4tweetslab-400c0553-e6e0-4914-a1df-e92bbea02559","token":"95c5b23b-cd47-433f-bfea-106ee9305f97"}
Where can I find the data I sent to the e

[2018-07-10 09:57] simonnuss commented on #11417
Sure, it’s Microsoft Project Online.

Thanks,
Simon

On Tue, 10 Jul 2018 at 3:20 am, Linda Wang <notifications@github.com> wrote:

[2018-07-10 09:57] sergaz-msft commented on #11458
@Cherisle if I got your question right, you are looking on how to build your own module right? Please take a look at [this tutorial](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module).

You can then off course change the routing in accordance with the custom module you develop.

Let me know if we can help further?
Thank you!

[2018-07-10 09:58] SamirFarhat opened #11482 "The service principal used for the AKS cluster must have Contributor permissions to the resource group containing the existing VNet."
Hi,
It's stated that the "The service principal used for the AKS cluster must have Contributor permissions to the resource group containing the existing VNet."
Is this still true ? What is this requirement ? What happens if i don't honor it ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ad4873-c73d-4b90-206

[2018-07-10 10:02] snehithm commented on #9334
@femsulu Docs are updated. Can this issue be closed?

[2018-07-10 10:02] snehithm commented on #6444
@femsulu Docs are updated. Can this issue be closed?

[2018-07-10 10:08] tienvv1234 opened #11483 "Can not register push notification for ios (Azure Mobile app, Node js sdk, ionic 2)"
I am working on the Azure mobile app and try to push notification to ios, my app can push notification for android but can not for ios. because in the case ios I cannot register the device to notification hub
in the client side, I am facing the issue

![error origin](https://user-images.githubusercontent.com/34591094/42503900-21b461be-8464-11e8-9f41-42bd9f867b5e.png)

Here is my client code (ionic

[2018-07-10 10:09] SamirFarhat opened #11484 "Egress traffic with Internal Load Balancer ?"
Hi,

Can you explicitly say that this is not possible with internal LB, and you need your own Proxy/gateway to do it. (For static outbound IP address).
By the way, is it possible to have one Internal and one External LB for the same AKS ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10de2de7-9d5a-b791-1e28-a3

[2018-07-10 10:16] cephalin commented on #11021
@shershen08 I'm assuming we can close this issue then. Thanks for getting back to us. #please-close.

[2018-07-10 10:17] #11021 closed

[2018-07-10 10:50] JayeshSonawane-GEP commented on #7289
@vladvino - When will this document be updated as mentioned above?

[2018-07-10 11:03] SirusT opened #11486 "Persisting Azure file share credentials in Windows"
Would it be possible to adjust the Invoke-Expression to this:
Invoke-Expression -Command "cmdkey /add:$([System.Uri]::new($storageAccount.Context.FileEndPoint).Host) /user:AZURE\$($storageAccount.StorageAccountName) /pass:$($storageAccountKeys[0].Value)"
The concatenation did not work for me, but this did.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-07-10 11:59] ampac28 opened #11487 "Need more info on Target Condition given in Device Configuration in Automatic Device Management"
Instead of using Tags , our requirement is to update twin for few devices , lets say out of ten devices we need only to update firmware for 3 devices . In the given article , they are using tags with device type as 'Chiller' but can't we 'deviceId"  with AND condition to apply firmware only on selected device.  We tried with below target condition but it didn't work

deviceId = 'deviceOne' AND dev

[2018-07-10 12:12] hartmg519 commented on #11435
Thanks @MohitGargMSFT.  [Here is the link](https://social.msdn.microsoft.com/Forums/azure/en-US/ff41d786-ad2b-4f7e-9494-2f05815ad5a2/tenant-restriction-is-preventing-access-to-noncloud-applications-using-ad-application-proxy?forum=WindowsAzureAD) to the MSDN forum post

[2018-07-10 12:20] FcrNah commented on #11262
I think I got it.
It does return claim only in case if I set value to two-letter country code like 'US', 'DK', etc.
It doesn't return claim if I set value to some free value like 'Wonderlands' or 'XX'.

I think this should be reflected in docs somehow, because 'Country or region' field is freetext on user profile screen.

[2018-07-10 12:28] jaarde opened #11488 "onPremisesUserPrincipalName - can't find/view this attribute?"
This doc mentions: "When using an Alternate ID, the on-premises attribute userPrincipalName is synchronized with the Azure AD attribute onPremisesUserPrincipalName." I can't find this attribute in AzureAD - I've checked using https://graphexplorer.azurewebsites.net/# and can only find onPremisesDistinguishedName and onPremisesSecurityIdentifier attributes. Is this statement still accurate?

[2018-07-10 12:30] #11488 closed

[2018-07-10 12:30] jaarde opened #11489 "Can't find onPremisesUserPrincipalName attribute"
This doc mentions: "When using an Alternate ID, the on-premises attribute userPrincipalName is synchronized with the Azure AD attribute onPremisesUserPrincipalName." I can't find this attribute in AzureAD - I've checked using https://graphexplorer.azurewebsites.net/# and can only find onPremisesDistinguishedName and onPremisesSecurityIdentifier attributes. Is this statement still accurate?

---
##

[2018-07-10 12:55] porrascarlos802018 opened #11490 "command not executed."
Connect-AzureRmAccount gives unknown error in powershell window.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60491b3e-5e7a-6eab-cbfd-d87247e59c7d
* Version Independent ID: 623c51cc-3eda-a4c3-2719-d354ca3befbe
* Content: [Deploy resources with PowerShell and template](https://docs.microsoft.com/en-us/azure/azure-reso

[2018-07-10 13:20] ddobric commented on #10543
Thanks.

[2018-07-10 13:33] MK-MASTER opened #11491 "Deprecated Dependencies"
Helper functions (GetCreds_User_Popup &gt; LoginWithPromptAsync ) are deprecated with the new version of Microsoft.Rest.ClientRuntime.Azure.Authentication (&gt;2.3)

Please update the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97be5e0e-c5f6-d2bc-2775-c8bf18da3c89
* Version Independent ID: 7d17af2b-54f

[2018-07-10 13:35] MGoedtel commented on #10469
@tudorsibiu90, @carmonmills, @vasivara-MSFT - I will escalate this to the PG.

[2018-07-10 13:39] ddobric commented on #10617
For the case that somebody else run into this issue, here is the explanation of described behavior.
Following code provided above will cause described issue:

`cmd.g().V().AddV("planet");`

Correct code  should look like:

`cmd.g().AddV("planet");`

Note that in the correct line` V() ` is missing.

[2018-07-10 13:48] sachinkundu opened #11492 "No gpu under capacity"
I have created a cluster using the instructions and NC6 machine. There is no gpu listed under capacity at all. Does this really work? The command I used to create the cluster was

az aks create --name sagpucluster2 --resource-group skgpucluster2 --ssh-key-value "ssh-rsa key blah blah.." --dns-name-prefix skgpucluster --admin-username sakundu --node-vm-size Standard_NC6 --kubernetes-version 1.10.3

[2018-07-10 13:52] alpinedelight commented on #11421
I believe its the IPv4 Address in the vEthernet (DockerNAT) address -- I've recently been through this tutorial, used that IP and it worked.

[2018-07-10 13:53] puzovicnikola commented on #11343
Hi,

@josere You are correct, there is a discrepancy between C# and XML in this case. Documentation will be fixed. Thanks for pointing this out.

@senj Here is a complete example of application manifest with auto scaling turned on:

[code]

This will create a default service that reports metric called "MyMetricName", and that scales based on it.

[2018-07-10 13:53] Sviatik opened #11493 "track ip range changed"
It would be great if you create some page with json where i can trach ip range changes for availability checks. Like you create for Traffic manager.
https://azuretrafficmanagerdata.blob.core.windows.net/probes/azure/probe-ip-ranges.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3942b937-b212-3ceb-d356-450b7f598f68

[2018-07-10 14:28] nitinkhandelwal26 opened #11494 "writeAcceleratorEnabled is not working in ARM template."
Can we use ARM template for enabling Write Accelerator? when I am using writeAcceleratorEnabled : true in ARM template for VM deployment, its giving me error : There is no Tag exists.
Please help me on priority.
(I am using Templates feature of Azure portal to deploy my ARM Template)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-07-10 14:34] ttsdevelopers commented on #11343
Great thank you

[2018-07-10 14:36] sergaz-msft commented on #11474
@AdamMachera thank you for your feedback! Please file a bug here: https://github.com/azure/iotedge/issues and let us know the issue number so we can track it :).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-07-10 14:36] #11474 closed

[2018-07-10 14:48] cephalin commented on #11104
@JohnGalt1717 We can add a link to https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1. To clarify on your last comment, front-end load balancer is standard to App Service and not just containers.

[2018-07-10 14:49] jeffpatton1971 opened #11495 "Missing Connections between Resources"
You don't really explain the connections between all the resources though. As I look through the API documentation it appears a SecurityRule can have an array of ASG's defined:
https://docs.microsoft.com/en-us/rest/api/virtualnetwork/networksecuritygroups/createorupdate#securityrule

Yet via the portal there is only the option to select one. There is an informational note on the NSG with ASG's tha

[2018-07-10 14:52] cephalin commented on #11061
https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1300884

[2018-07-10 14:53] cephalin commented on #11104
https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1300885

[2018-07-10 14:55] vhorne commented on #11229
PR ##46197 resolves this.
#please-close

[2018-07-10 14:56] erwindemoel commented on #11420
Hi @sergaz-msft, thank you for the response. Can you give me a little more insight in when Microsoft is expected to release this functionality?

Am I understanding correctly that Microsoft Azure does not support the Device Provisioning Service for Raspberry Pi devices running Linux, only for devices that run the Microsoft IoT Core OS? Or is there another way to use our Raspberry Pi Zero W on Raspb

[2018-07-10 14:57] sergaz-msft commented on #11478
@ChrWeinert Thanks for the feedback! If you tried it on Powershell Integrated Scripting Environment (ISE) can you try it on PowerShell Console as well?

Let us know the results!
Thank you.

[2018-07-10 15:02] marinnedea commented on #9897
The -p is not needed .. you will have the /etc directory already on the system.
I would however go for a shorter version of the code:   [ ! -d "/etc/smbcredentials" ] && sudo mkdir /etc/smbcredentials

If you have this in a script and run it with sudo permissions, you may also remove the "sudo" from the code above.

[2018-07-10 15:05] mscurrell commented on #11184
For the '--template' parameter to be used, then a Batch CLI extension must be installed.  See this page for information about the extension, including how to install, documentation, and samples - https://github.com/Azure/azure-batch-cli-extensions

Once installed a template file can be created and used that contains parameters.  Just supplying the template will mean the CLI will prompt for the par

[2018-07-10 15:07] JohnGalt1717 commented on #11104
@cephalin  That isn't sufficient. The instructions on that page will not actually work with Azure Containers. You need ALL of the following:

`			var forwardOptions = new ForwardedHeadersOptions
			{
				ForwardedHeaders = ForwardedHeaders.XForwardedFor | ForwardedHeaders.XForwardedProto,
				RequireHeaderSymmetry = false
			};

			forwardOptions.KnownNetworks.Clear();
			forwardOptions.KnownProxi

[2018-07-10 15:10] cephalin commented on #11104
@JohnGalt1717 Thanks a lot for this information. We'll look into this. Most likely we'll need the same type of information for all language frameworks.

[2018-07-10 15:17] jasoth opened #11496 "Getting Credential Assets as a parameter is not working for me"
The behavior described in this paragraph does not work.
"While DSC configurations in Azure Automation can reference credential assets using Get-AutomationPSCredential, credential assets can also be passed in via parameters, if desired. If a configuration takes a parameter of PSCredential type, then you need to pass the string name of an Azure Automation credential asset as that parameter’s value,

[2018-07-10 15:21] danieljsmarda commented on #11345
@sergaz-msft Yes I double checked and I am meeting the prerequisites. Since the Azure Function module tutorial is still in preview. Closing for now as I'll be focusing on the custom C# module.

[2018-07-10 15:21] #11345 closed

[2018-07-10 15:29] linda33wj commented on #11417
@simonnuss thanks for sharing. I've tracked the ask. For now we don't have concrete timeline for OAuth support yet.
#please-close

[2018-07-10 15:29] akramwaseem commented on #10871
@msvijayn -- I am not sure how you deployed the multiple action groups. I did see your example above but that is not usable in this case and I guess most of the cases. I have 10 different alerts and each alert should be called to different action groups.

The scenario you mentioned does not implies. I tried with parameters file by passing multiple webhooks and it did not work.

Anyways I figured i

[2018-07-10 15:32] georgewallace commented on #11161
@MattAllison Thanks for reaching out.. This has been on my back burner for a while to separate this out. I have this on my backlog of things to do, I should be able to get this done this week.  Once I submit the updates the issue will automatically close.

[2018-07-10 15:33] akramwaseem commented on #11154
Is there any update on this.

Also please post the parameter file example. And creating multiple action groups . I did try to follow the documentation but I saw the above examples which can be used to create a action group.

[2018-07-10 15:35] joymon commented on #11082
Hi @kobulloc-MSFT ,
The problem we are facing is below
-There is an exception happened in the Application. Since it is unhandled the application exited
-The AppInsight does not log any entries related to that exception and telemetries logged after the last successful AppInsight flush.
- This scenario seems logical if AppInsight SDK uses buffering where the buffer is lost when the app crashes.
Need

[2018-07-10 15:46] sergaz-msft commented on #11487
@ampac28 thank you for your feedback!

Did you try using something like the following:

`targetCondition: SELECT deviceId FROM devices WHERE deviceId='device1' OR deviceId='device2'`

Let us know the results?

You can learn more about device configuration here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-auto-device-config

Thank you!

[2018-07-10 15:48] sergaz-msft commented on #11487
@dominicbetts can we enhance this doc and add a reference to IoT Device Configuration doc: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-auto-device-config ? It may help on similar questions as @ampac28 .

Thank you!